[2021-08-24 16:19] om-khandade opened #13737 "Audio mismatch after answering a question"
**Describe the bug**
If the student answers a question before the audio playback ends, the lesson audio repeats itself and asks again.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any chapter
 2. Answer a question before the voiceover completes the question
 3. See that the voiceover asks the question again

**Observed behavior**
Lesson audio repeats itself, if the student answers

[2021-08-24 16:41] U8NWXD commented on #12498
Great!

[2021-08-24 16:41] #12498 closed, assigned to nobody

[2021-08-24 17:28] MNSDivya commented on #13648
Hi @kevintab95 This is still reproducible from my end.  /phw/peek could not be installed on ChromeOS to share the screen recording.

[2021-08-25 01:17] U8NWXD commented on #13648
@MNSDivya it looks like there's a [built-in tool](https://www.howtogeek.com/695967/how-to-screen-record-on-your-chromebook/) for recording screens on ChromeOS. Could you try that and/or other tools to get a screen recording? It's going to be hard for us to fix the bug if we can't figure out how to reproduce it.

Also, could you review the video kevintab95 posted to check if they followed your repr

[2021-08-25 05:20] #13724 closed, assigned to U8NWXD

[2021-08-25 05:51] nickretallack opened #13739 "Can't sign in! Submit button stays grey if you already have a username."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Already have a username
 2. Try to sign in
 3. Check the box on the "Complete your Registration" page

**Observed behavior**
The submit button stays greyed out.

**Expected behavior**
The submit button becomes clickable.

**Screenshots**
(sorry I forgot to take some.  I m

[2021-08-25 10:16] mahendra1290 commented on #13162
@vojtechjelinek I want to work on ProfilePictureHandler

[2021-08-25 10:26] Nik-09 commented on #13162
@mahendra1290 Done. You can now start working on it.
Thanks.

[2021-08-25 10:45] mahendra1290 commented on #13162
@Nik-09 Thanks

[2021-08-25 10:53] mahendra1290 commented on #13162
@Nik-09 there are no URL parameters and payload passed to ProfilePictureHandler what should I do in this case please let me know if I am missing something.

![Screenshot from 2021-08-25 16-22-14](https://user-images.githubusercontent.com/42772952/130778200-9ee76e69-940c-4175-ba54-28d2ac77f2e6.png)

[2021-08-25 10:59] mahendra1290 commented on #13162
@Nik-09 Is it right way ?
![Screenshot from 2021-08-25 16-28-34](https://user-images.githubusercontent.com/42772952/130779038-85cfae23-f03a-4fad-9e0b-08b42dcb42b4.png)

[2021-08-25 12:29] U8NWXD opened #13741 "Backend test coverage check failing due to un-testable lines being counted as un-covered"
In a [CI run](https://github.com/oppia/oppia/pull/13731/checks?check_run_id=3412652137) on #13731 the coverage check output from the backend tests looked like this:

[code]

At least some of the lines in `base.py` listed as missing coverage are not testable. For example, [line 254](https://github.com/U8NWXD/oppia/blob/2b889260243d5b03a1d68b2dd6992435ca7cd058/core/controllers/base.py#L254) is a com

[2021-08-25 12:43] U8NWXD commented on #13741
This may have happened because `base.py` changed between the shard and the coverage jobs running. Commit 33a634b89808618d96e8a1d5f0d6a92f8a33ba8d changed `base.py` and was added soon after this PR was opened. Since `base.py` changed, the line numbers reported by shard 1 would have not matched the code used by the coverage check because both jobs begin by merging from develop

[2021-08-25 14:39] Nik-09 commented on #13162
@mahendra1290 Yes -- if there is no arguments you can write empty schemas.
Thanks.

[2021-08-25 14:59] #13709 closed, assigned to U8NWXD

[2021-08-25 15:39] Hudda commented on #10616
@mahendra1290 all the steps are listed in the issue [description](https://github.com/oppia/oppia/issues/10616#issue-697656151). Please take a look at that.

[2021-08-25 15:50] sagangwee commented on #13657
I'm not able to start a local server on `release-3.1.4` due to:

[code]

[2021-08-25 15:53] kevintab95 commented on #13657
The release 3.1.4 branch was cut before the Python 3 changes were merged. So you'll need to use Python 2 to start the server.

[2021-08-25 15:55] sagangwee commented on #13657
And to double-check, the topic ID of the topic in https://github.com/oppia/oppia/issues/13657#issuecomment-902940420 is listed in the Admin config for classroom topics?

[2021-08-25 16:02] kevintab95 commented on #13657
Yup. "GJ2rLXRKD5hw" is present in the admin config for classroom.

[2021-08-25 16:07] sagangwee commented on #13657
Hmm seems to be working locally on the release 3.1.4 branch as well.

[2021-08-25 16:11] sagangwee commented on #13657
@kevintab95 Are there SkillOpportunityModels in storage on the test server? Wondering if they were deleted somehow, or if they exist and they're just not being returned on fetch.

[2021-08-25 16:30] kevintab95 commented on #13657
Yup there seem to be `SkillOpportunityModel`s in the test server.

[2021-08-25 17:44] sagangwee commented on #13657
Ok thanks. Then, I'm not sure how to debug this further on my end as I can't reproduce it locally and I'm not able to inspect the test server state.

[2021-08-25 18:00] lkbhitesh07 commented on #13686
@U8NWXD, The main concern is that I'm not sure if the gunicorn processes is getting stoped. As you mentioned that after some time some gunicorn process stops and I guess that's where some of the RAM gets free but in my case, I'm unable to see that.
Maybe I should try with `--no_auto_restart`, that way I might be able to run server for some time.
Thanks for all your guidance.

[2021-08-25 18:57] kevintab95 commented on #13657
Hi @sagangwee, I see the following options to debug this further:

1. Check if the opportunity models created in release-3.1.3 on your local machine persist and show up in the CD when you checkout release-3.1.4 while the server is up and running.
2. Add relevant logging in the fetch flow for opportunities. We can then deploy these logs on the test server and hopefully get some useful data to under

[2021-08-25 19:29] sagangwee commented on #13657
Added relevant logging in https://github.com/oppia/oppia/pull/13744

[2021-08-25 20:44] kevintab95 commented on #13635
I just noticed this on the test server.
![image](https://user-images.githubusercontent.com/11008603/130861860-64599b3d-f3b1-449a-ac7d-3dce0c9e42b6.png)

Edit: the same page works fine on oppia.org so seems like a regression.

[2021-08-25 20:50] U8NWXD commented on #13739
@nickretallack I'm not sure how you managed to get to the registration page if you already have a username. Normally, you only see the registration page when you are first creating your Oppia account. After that, you should be directed to the learner or creator dashboards when signing in, not to the registration page.

From your comment, it sounds like you have submitted the registration page befo

[2021-08-25 21:12] nickretallack commented on #13739
It's probably a legacy user issue.  I used the site a long time ago, and I'm signing in again now.  It seems to have logic that it should show you this page but hide the form.  It's just that the submit button doesn't work when that happens.  I think it shows this page because it wants me to agree to the terms of service.

[2021-08-25 21:18] U8NWXD opened #13745 ".python-version file should be added to gitignore"
The `.python-version` file used by pyenv should be ignored by git so that the codeowner linter doesn't complain that there's no codeowner assigned to it.

This problem was found by @sophiewu6 and [reported on gitter](https://gitter.im/oppia/oppia-chat?at=6125c65b5cfd665e52eb50c9)

[2021-08-25 21:54] vojtechjelinek commented on #13686
@lkbhitesh07 I think I have a fix for your issue in #13746, can you try to test it out?

[2021-08-25 22:31] kevintab95 commented on #13657
Thanks @sagangwee. I've deployed #13744 on the test server and got some logs. I've emailed the results/logs to you & U8NWXD.

[2021-08-26 12:00] kevintab95 commented on #13648
Based on offline discussion / screensharing, the original reproduction steps created a question via the skill editor main page, this lead to console errors (as reported in https://github.com/oppia/oppia/issues/13653), this was the root cause of the subsequent errors that was reported in this issue description. https://github.com/oppia/oppia/issues/13653 was fixed and deployed to the test server. D

[2021-08-26 12:25] U8NWXD commented on #13635
@kevintab95 what were the screen dimensions when you saw this error?

[2021-08-26 15:54] MNSDivya commented on #13648
Thanks Kevin. I verified the changes in test environment. Working as expected.

[2021-08-26 15:54] #13648 closed, assigned to MNSDivya

[2021-08-26 17:33] yuktibagrodia commented on #13737
@kevintab95 Can I work on this?

[2021-08-26 17:34] yuktibagrodia commented on #13734
@kevintab95 Is this need to be solved?

[2021-08-26 17:35] yuktibagrodia commented on #13725
@anandwana001 Can I do this task?

[2021-08-26 18:04] SD-13 commented on #13162
@Nik-09 I want to work on PreferencesPage

[2021-08-26 18:06] Nik-09 commented on #13162
@SD-13 Done. Thank you.

[2021-08-26 18:07] SD-13 commented on #13162
@Nik-09  Thank you.

[2021-08-26 18:21] lkbhitesh07 commented on #13686
Thank you so much @vojtechjelinek, I'll try it out.

[2021-08-26 18:42] siddharthmehta02 commented on #4057
@Rijuta-s hey, i received your mail regarding the issue assignment so can you assign me with email-dashboard-data.service.ts

[2021-08-26 18:46] Kriti-999 commented on #13734
Can you assign this to me
I'm a beginner so might I need your help at phase.

[2021-08-26 21:11] #13732 closed, assigned to kevintab95

[2021-08-26 22:23] sagangwee commented on #13657
From offline debugging: "I think what might be happening is that we only fetch 10 opportunities from the datastore at once and then filter these 10 depending on whether they correspond to Classroom topics in the controller. If none of them do, we'll just return no opportunities and the user isn't able to fetch more. Also realizing the current logic might miss some opportunities as well."

[2021-08-27 02:01] anandwana001 commented on #13725
Hi @Aryan284
Are you working on this issue?

@yuktibagrodia Let's confirm with the Aryan. if he is not working on this, I will assign it to you. Thanks for showing interest.

[2021-08-27 02:38] Aryan284 commented on #13725
No, You can assign it to her.

On Fri, Aug 27, 2021 at 7:31 AM Akshay Nandwana ***@***.***>
wrote:

[2021-08-27 02:44] #13635 closed, assigned to kevintab95

[2021-08-27 05:58] Rijuta-s commented on #4057
@nithusha21  can you please assign @siddharthmehta02  to email-dashboard-data.service.ts ?
Thank you

[2021-08-27 06:15] Radesh-kumar commented on #4057
done!

[2021-08-27 10:37] ashish-patwal commented on #13745
Hey @U8NWXD , i am starting out with this project . Can you please assign this issue to me ?

[2021-08-27 10:39] ashish-patwal commented on #13688
Hey @iamprayush , i want to try working on this issue . Can you please guide me on how to solve this particular issue ?

[2021-08-27 15:43] sagangwee commented on #12182
To achieve this, we can utilize the `computeBfsTraversalOfStates()` function in core/templates/services/compute-graph.service.ts to obtain a lesson's state names in order.

[2021-08-27 18:19] #11735 closed, assigned to chris7716

[2021-08-27 18:54] aakashraj01 commented on #13734
i am starting out with this project . Can you please assign this issue to me ?

[2021-08-27 18:57] #12951 closed, assigned to kevintab95

[2021-08-27 18:57] #13306 closed, assigned to nobody

[2021-08-27 18:57] #13308 closed, assigned to nobody

[2021-08-27 18:57] #13531 closed, assigned to aks681

[2021-08-27 18:57] #13586 closed, assigned to aks681

[2021-08-27 19:14] #12276 closed, assigned to sagangwee

[2021-08-28 01:51] U8NWXD opened #13757 "Rubrics mis-aligned when submitting question"
**Describe the bug**
When submitting a question through the contributor dashboard, the rubrics are mis-aligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Set up a topic with a story and a skill.
 2. Add the topic to the math classroom.
 3. Grant yourself permission to submit questions.
 4. Enable question submission in the admin page config tab.
 5. Submit a question for an opportunit

[2021-08-28 01:53] U8NWXD commented on #13757
@sagangwee I tested question submission locally and found this bug. Can you work on fixing it ASAP please?

[2021-08-28 07:26] Nik-09 commented on #13595
@vojtechjelinek I am trying to install oppia and while running the command ```python -m scripts.start``` it reproduces almost the same error. I am attaching the error logs --

[code]

Please take a look, thank you.

[2021-08-28 10:50] vojtechjelinek commented on #13595
@Nik-09 Do you have the latest develop?

[2021-08-28 13:42] Nik-09 commented on #13595
@vojtechjelinek Thank you this worked -- my origin was at initial commit.
May be this error is also because of the same reason but not sure.
Thank you.

[2021-08-28 14:33] U8NWXD commented on #13745
@ashish-patwal go for it!

[2021-08-28 14:38] ashish-patwal commented on #13745
Thanks , i will start working on it.

[2021-08-28 15:27] #13757 closed, assigned to U8NWXD

[2021-08-28 19:37] aniketh-varma commented on #10474
Hi, I would like to work on this issue. This is my first open-source contribution so please assign me a file accordingly.

[2021-08-28 19:43] EeshaArif commented on #10474
Hi @aniketh-varma , you can start working on `core/templates/pages/profile-page/profile-page.component.ts`

[2021-08-28 20:28] lkbhitesh07 opened #13760 "Padding in practice session should be right."
**Describe the bug**
Padding above the “Question X / Y” should match the padding below.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math/fractions
 2. Click on Practice
 3. Select the skill.
 4. See error

**Observed behavior**
Padding above the “Question X / Y” should match the padding below.

**Expected behavior**
There should be more pa

[2021-08-28 21:18] lkbhitesh07 opened #13762 "Replacing "Test Complete" with "Session Complete" on Practice Page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math/fractions
 2. Click on Practice
 3. Select the skill
 4. Complete the session
 5. See error

**Observed behavior**
We see "Test Complete" instead of "Session Complete".

**Expected behavior**
"Test Complete" should be r

[2021-08-29 01:37] EricZLou opened #13764 "Maintaining Oppia's Core Data with Frontend Validation Checks"
**NOTE: No more available checks in this issue.**

**All Validation Check Issues:**
- #13449
- #13603
- **[you are here]** #13764
- #13820
- #13821
- #13822

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently bein

[2021-08-29 05:15] PranshuSrivastava commented on #10474
![image](https://user-images.githubusercontent.com/37413698/131239342-07836021-ff96-4d9b-bca7-74a75ce1dc65.png)
Hey, I am getting this error while pushing my changes to my local repo. How am I supposed to fix this?

[2021-08-29 07:02] aakashraj01 commented on #10474
Hi , I would like to work on this issue.This is my first open source contribution. Would you please assign me a file?

[2021-08-29 07:11] aakashraj01 commented on #4057
Hi @nithusha21 , I would like to work on this issue. This is my first open-source contribution so please assign me a file accordingly.

[2021-08-29 07:45] aakashraj01 commented on #10616
@Hudda Hi, I would like to work on this issue. This is my first open-source contribution so please assign me a file accordingly.

[2021-08-29 07:47] aakashraj01 commented on #11496
@U8NWXD Hi, I would like to work on this issue. This is my first open-source contribution so please assign me a file accordingly.

[2021-08-29 07:47] aakashraj01 commented on #8668
Hi, I would like to work on this issue. This is my first open-source contribution so please assign me a file accordingly.

[2021-08-29 13:01] aakashraj01 commented on #13739
@U8NWXD Hello , I would like to work on this Issue. This is my first open source contribution . Please assign me a file accordingly

[2021-08-29 13:06] lkbhitesh07 opened #13769 "One of the exploration card in fractions have font problem."
**Describe the bug**
"I canâ€™t remember!" this is shown on one of the card on test server.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on chapter 1
 3. solve some of the questions
 4. See error

**Observed behavior**
"I canâ€™t remember!" this is shown on one of the card on test server. Another one is "You got it!Â "

[2021-08-29 20:47] mridul-netizen commented on #10474
@PranshuSrivastava Looking at your PR, I think this has been resolved. Please mention if that's not the case.

[2021-08-29 20:51] mridul-netizen commented on #10474
Hi, @Aakash-Raj-2001 Assigning you for `core/templates/pages/exploration-player-page/modals/display-hint-modal.component.ts` and spec. Feel free to come up with any doubts you have. Please start by setting up oppia locally following [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) guide.

[2021-08-30 01:47] U8NWXD commented on #11496
@Aakash-Raj-2001 it [looks like](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+commenter%3A%22Aakash-Raj-2001%22) you've asked to be assigned in a bunch of issues. For your first contribution, please pick one to start with

[2021-08-30 01:48] U8NWXD commented on #13739
@Aakash-Raj-2001 I don't think this is a good first issue for you to work on. Please choose one of the other starter issues you've commented on

[2021-08-30 07:24] abhyaambati commented on #3968
Hey, I am Abhya. I just started my college and am really excited to contribute to interesting projects like yours. Please assign any files or open issues so that I can improve my skills. Grateful. @Showtim3

[2021-08-30 09:00] mahendra1290 commented on #13162
@Nik-09 I have opened PR for  ProfilePictureHandler and ProfilePictureHandler.

[2021-08-30 09:08] Nik-09 commented on #13162
@mahendra1290 I have replied in the PR, PTAL.

[2021-08-30 10:09] lkbhitesh07 opened #13773 "There should be some padding available on the practice result page."
**Describe the bug**
There should be more padding on the session completion screen for the “Learn more about your score” panel - on the top, bottom, left, right, and between all of the elements.
Skill descriptions should be left aligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on Practice tab
 3. Answer the questio

[2021-08-30 11:06] #13717 closed, assigned to ashutoshc8101

[2021-08-30 16:43] #13773 closed, assigned to nobody

[2021-08-30 17:05] #13760 closed, assigned to nobody

[2021-08-31 06:57] mahendra1290 commented on #13769
Hi, I also got the same result also random Â is also appended in last of some of response.

![Screenshot from 2021-08-31 12-24-22](https://user-images.githubusercontent.com/42772952/131456404-c89dda1f-5209-4165-bfed-2d4120fea42e.png)
![Screenshot from 2021-08-31 12-22-40](https://user-images.githubusercontent.com/42772952/131456412-3648a5a3-c099-47ac-80d8-0edd11bd2f5d.png)

* OS: Ubuntu 20.04
* Br

[2021-08-31 07:22] seanlip commented on #12078
I think this can be closed if it's not reproducible -- the elasticsearch stuff has changed quite a bit since March.

To anyone reading this: please feel free to reopen the thread if you see this happening again. Thanks!

[2021-08-31 07:22] #12078 closed, assigned to nobody

[2021-08-31 07:39] mahendra1290 commented on #4057
hi @nithusha21 I was thinking to work on `code-repl-prediction.service.ts` but I think this file has been removed.

[2021-08-31 09:21] Radesh-kumar commented on #13467
I think this flake is still in develop.
https://github.com/oppia/oppia/pull/13779/checks?check_run_id=3470948102#step:7:15060

[2021-08-31 12:17] thelokeshgoel00 commented on #9749
hi, I would like to work on core/templates/pages/skill-editor-page/modal-templates/add-worked-example-modal.controller.ts file. can you assign me to it. Thanks

[2021-08-31 12:46] #13639 closed, assigned to aks681

[2021-08-31 12:46] #13655 closed, assigned to vojtechjelinek, aks681

[2021-08-31 12:58] ashutoshc8101 commented on #9749
Go ahead.

[2021-08-31 15:53] anandwana001 commented on #13595
I also got a similar error, but it gets solved with the latest develop branch.

[2021-08-31 16:04] siddharthmehta02 commented on #4057
Hey @Radesh-kumar @nithusha21 I was assigned for  email-dashboard-data.service.ts but its already showing a 100% coverage
![Screenshot from 2021-08-31 21-27-54](https://user-images.githubusercontent.com/61520562/131537252-2cc56e37-1652-430b-97c2-dae9603d89ed.png)

[2021-08-31 16:14] Radesh-kumar commented on #4057
please pick from any of these files
    collection-editor-navbar-breadcrumb.directive.ts
    collection-footer.component.ts
    collection-navbar.component.ts
    collection-player-page.directive.ts

[2021-08-31 16:15] Radesh-kumar commented on #4057
please pick from any of these files
collection-editor-navbar-breadcrumb.directive.ts
collection-footer.component.ts
collection-navbar.component.ts
collection-player-page.directive.ts

[2021-08-31 16:43] siddharthmehta02 commented on #8668
@Showtim3 Can you assign me with a file?

[2021-08-31 17:52] sean4x commented on #13730
https://user-images.githubusercontent.com/88053576/131551774-0d1a6b49-fa4c-4329-8fbf-1e93a651a342.mov

[2021-08-31 19:19] NischayaSharma commented on #12452
Hii, Any fix found yet, this happened to me too on the local environment. I am unable to push my changes.

[2021-08-31 20:27] siddharthmehta02 commented on #8662
@vojtechjelinek Hey can you assign me with this?

[2021-08-31 20:27] kevintab95 commented on #13730
Should be fixed by #13715. See video in the description https://github.com/oppia/oppia/pull/13715#issue-716859034 for proof. Closing for now. Thanks!

[2021-08-31 20:27] #13730 closed, assigned to nobody

[2021-08-31 20:29] siddharthmehta02 commented on #8472
@tyleri can you assign me with ~ learner-view-rating.service.ts

[2021-09-01 04:01] DubeySandeep opened #13786 "A PR with CODOEWNER changes should only run lint checks"
Currently, a PR to change CODEOWNER files triggers e2e and frontend tests. COnsidering that CODOEWNER file changes are not going to affect the application we should avoid running unwanted builds for such PR!

[2021-09-01 05:42] vashuteotia123 commented on #11496
@U8NWXD Hi, I would like to work on this issue. And being totally new to this environment I really don't know how to being. All issue seems to be assigned, Can I get any issue assigned to me? Also a bit of resource on how to being would be of great help.

[2021-09-01 14:40] EricZLou commented on #13144
+1: https://github.com/oppia/oppia/pull/13777/checks?check_run_id=3480422737

[2021-09-01 16:49] om-khandade opened #13788 "keyboard 'Enter' button does not work as submit button on some cards"
**Describe the bug**
Pressing Enter to submit the answer doesn't work same as the submit button on the card.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Place values chapter'
 2. Answer a question and press Enter
 3. See error

**Observed behavior**
On some cards, the Enter button works fine.
On some, it doesn't do anything.
On some cards, pressing Enter prompts a dialogue box th

[2021-09-01 21:31] EricZLou opened #13789 "Take away extra space in classroom topic page"
There seems to be 2 spaces between the word "Chapter" and the chapter number. I'm not sure if this was intentional or not.

![image](https://user-images.githubusercontent.com/21316782/131747885-8899d4f1-c452-43ab-85b5-15281c94178e.png)

[2021-09-01 21:38] EricZLou opened #13790 "Lessons/Practice/Revision navbar disappears on classroom page scroll"
**Describe the bug**
When viewing a topic in the classroom, the Lessons/Practice/Revision navbar disappears as soon as you start scrolling from the top of the page downwards. When you start scrolling upwards again, the navbar is in its expected position.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go [here](https://www.oppia.org/learn/math/addition-subtraction)
 2. Scroll downwards a ve

[2021-09-02 05:56] nithusha21 commented on #4057
Hi All, I am happy to inform you that all the pages listed above are completed (As part of GSoC projects this year), and the only ones that remain to be tested are slightly complicated. We don't think the remaining ones are good examples of good first issues. The remaining files are being tracked here: https://docs.google.com/spreadsheets/d/1tky4jE7uxLQTp0MWE3L9USnPvy3PbtGYpMgP7b0bicw/edit#gid=137

[2021-09-02 05:56] #4057 closed, assigned to nithusha21

[2021-09-02 06:41] #13657 closed, assigned to sagangwee, kevintab95, atpug22

[2021-09-02 09:13] vojtechjelinek commented on #8662
Hey, I recommend starting with some of the [good first issues](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) since these are the best starting point for new contributors.

Also, if you didn't yet go through our [wiki for new contributors](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia), please do so.

[2021-09-02 09:46] siddharthmehta02 commented on #10474
@vojtechjelinek Hey, i recevied your mail for good first issues
Can you assign me with a file

[2021-09-02 11:52] PranshuSrivastava commented on #8472
Hey @atpug22, could you assign me the  learner-view-rating.service.ts file or any other file that is available?

[2021-09-02 13:04] PranshuSrivastava commented on #10474
Yes @mridul-netizen, this error was fixed after fetching the latest commits from upstream.

[2021-09-02 15:17] ShivamJhaa commented on #10474
![image](https://user-images.githubusercontent.com/86483059/131870255-23acb898-1939-4621-9852-2226164084b7.png)
Getting these from files other than core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts.
Do I need to edit them also and how to resolve this error?

[2021-09-02 18:04] mridul-netizen commented on #10474
Hi @siddharthmehta02, assigning you for files `core/templates/components/filter-fields/filtered-choices-field/filtered-choices-field.component.ts` and spec. Feel free to cover any more files (from unclaimed ones) if you want in your PR.

[2021-09-02 18:09] mridul-netizen commented on #10474
@ShivamJhaa I don't think you should get these errors, can you try again after updating your branch with latest develop ?

[2021-09-03 00:29] U8NWXD commented on #12452
@NischayaSharma no this hasn't been fixed yet, but since it's a flake, you can try again. The test might pass the second time around

[2021-09-03 00:35] U8NWXD commented on #11496
Deassigned @suryasiriki4 @ahreehong @iabouara24 @SAEb-ai @Varun8216889 @MA86 due to inactivity. If you are still working on your tasks, let me know and I'll re-assign you

[2021-09-03 00:41] U8NWXD commented on #10798
Deassigned @abhishekalbert @iabouara24 @suryasiriki4 @clink4 @SanjanaRaman @pankajdahiyapd due to inactivity. If you are still working on your tasks, let me know and I'll reassign you

[2021-09-03 00:41] ruinan-liu commented on #11496
@U8NWXD Hi, this is my first open source project and I would like some guidance on getting started. Do you know of any issue I can begin working on? Thanks

[2021-09-03 00:44] U8NWXD commented on #11496
@ruinan-liu I assigned you to "Do not use `filter`". @vashuteotia123 I assigned you to "Do not use `forEach`."

For guidance on how to get started with the project, see our [wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia). To get started on this issue in particular, see the instructions at the top

[2021-09-03 01:21] intaschi opened #13795 "Learner Dashboard doesn't load"
**Describe the bug**
In some cases, the learner dashboard don't load. When I try to access with the profile "carolintaschi", the following screen appears:
<img width="1789" alt="Captura de Tela 2021-09-02 às 20 33 40" src="https://user-images.githubusercontent.com/59513204/131935663-69f6c89d-5235-4dca-82de-3b2b10c70437.png">
It does load when I try to access with the profile "c165899".

**To Repr

[2021-09-03 07:00] lkbhitesh07 opened #13797 "Add some padding in the drag-drop card in Fraction"
**Describe the bug**
There is no padding on the below of the drag-drop card in the Fraction Practice Question.

Follow up bug - When we answer incorrectly feedback pops up on the right part and above the drag-drop options, it should come to the left part with other feedbacks.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click

[2021-09-03 07:16] lkbhitesh07 opened #13798 "Warning should appear if user accidently clicks the Back button in the lesson player."
**Is your feature request related to a problem? Please describe.**
In case users accidentally close the window or click the back button on the lesson player, they lose their data. It shouldn't happen this might be frustrating.
**Describe the solution you'd like**
A confirm button should appear before a user hits the back button or closes the window, this way user will be sure of what's happening.

[2021-09-03 07:23] lkbhitesh07 opened #13799 "An end early button to end session early"
**Is your feature request related to a problem? Please describe.**
We should have a canonical way for the user to end a practice question session early and still see their results.

**Describe the solution you'd like**
“End early” button or a way to navigate back to the topic page that prompts the user to confirm if they want to end the session early.

[2021-09-03 07:35] lkbhitesh07 opened #13800 "Solution button should differ from hint button on practice questions"
**Describe the bug**
The last hint that ends up showing the solution does not appear to be noticeably different from other hints - but it is functionally different since it’s being used to display a solution.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on the Practice tab
 3. solve questions and answer them wrong
 4. A

[2021-09-03 07:50] lkbhitesh07 opened #13801 "“START” button text briefly disappears after changing selected options for skills"
**Describe the bug**
“START” button text briefly disappears after changing selected options for skills to practice on the Practice Question landing page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on the Practice tab
 3. Switch between selected topics
 4. See the error

**Observed behavior**
“START” button text briefly

[2021-09-03 08:11] lkbhitesh07 opened #13802 "Text for "My Dashboard" is not centered"
**Describe the bug**
The “My Dashboard” text is oddly centered so that the word Dashboard is shifted more towards the right.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on the Practice tab
 3. Solve all the questions
 4. See error on the result page

**Observed behavior**
The “My Dashboard” text is oddly centered so th

[2021-09-03 12:49] vojtechjelinek opened #13808 "Add @vojtechjelinek back to CODEOWNERS after 2021-09-14"
Add @vojtechjelinek back to CODEOWNERS after 2021-09-14

[2021-09-03 12:55] salmanansari14 commented on #13797
Hello i'm confident to controbute and solve this issue

[2021-09-03 13:11] lkbhitesh07 commented on #13797
Sure, go ahead @salmanansari14

[2021-09-03 15:49] NischayaSharma commented on #12452
@U8NWXD Yeahh... I updated the spec file of the issue I was working on and this error vanished.

[2021-09-03 18:54] kevintab95 opened #13810 "Unable to compare old versions of exploration that have the deprecated "add_translation" cmd"
**Describe the bug**
Unable to compare old versions of exploration that have the deprecated "add_translation" cmd.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to an old exploration that used "add_translation".
 2. Try to compare version having "add_translation" and a newer version of the exploration.
 3. See error.

**Observed behavior**
Unable to compare old versions with a deprecat

[2021-09-04 00:42] aks681 opened #13813 "Issue to track translation of texts in interaction"
Translate all interaction specific dynamic texts. These are texts visible to the learner but present in the customization args and hence not directly translatable. System defined prompts in interactions.
   - 'Type a code in the editor' in Code Interaction.
   - 'Click on the Image' in ImageSelection.
   - 'Continue' in Continue Interaction.
   - 'Create a Graph' in graphInput
   - 'Add Item' in I

[2021-09-04 03:13] EricZLou opened #13814 "Dev server forces new user even with '--save_datastore'"
**Describe the bug**
I may be wrong, but before using `python -m scripts.start --save_datastore` allowed devs to log in as the previous user (under the same username). Now, however, I need to create a new username even when I use `--save_datastore` (and the dev server says that the previous username is taken). So, I need to setup permissions again and my new user won't have access to anything that

[2021-09-04 03:14] srikanthkb opened #13815 "Prevent committing ".python-version" to git commit"
**Describe the bug**
After adding .python-version to .gitignore, facing the following error.
![image](https://user-images.githubusercontent.com/36214903/132080329-499f020d-6d4c-480b-9c8c-71f83ad95e83.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Make a change in the local repo (before adding .python-version to .gitignore)
 2. Run `git add .`
 3. Add `.python-version` to .gitignore
 4

[2021-09-04 15:02] ShivamJhaa commented on #10474
I

Now, the errors from that file are removed but getting errors from some other file.
![image](https://user-images.githubusercontent.com/86483059/132098990-e49fce61-34db-464c-85f0-801d6d56e328.png)

[2021-09-04 16:45] gp201 commented on #13815
@srikanthkb  If this can be solved by merging of PR https://github.com/oppia/oppia/pull/13770 then we can close this issue right?

[2021-09-04 17:38] mridul-netizen commented on #10474
Hmm, even these shouldn't occur with merge of this https://github.com/oppia/oppia/pull/13748 PR. @vojtechjelinek can you take a look or @ShivamJhaa can you do the following:-
1. Check if this path `"extensions/classifiers/proto/*.ts"` exists in `imports` property of your tsconfig-strict.json.
2. Try pushing the changes and then we can take a look at errors on ci ?

[2021-09-04 17:52] ShivamJhaa commented on #10474
Yes, "extensions/classifiers/proto/*.ts" this path exists in include property of tsconfig-strict.json.

[2021-09-04 18:40] atpug22 commented on #8472
Done. @PranshuSrivastava

[2021-09-04 22:51] EricZLou opened #13820 "Maintaining RTE (Rich Text Editor) Data with Backend Validation Checks for Explorations"
**All Validation Check Issues:**
- #13449
- #13603
- #13764
- **[you are here]** #13820
- #13821
- #13822
- #16026

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of futu

[2021-09-04 22:51] EricZLou opened #13821 "Maintaining Lesson Interaction Data with Backend Validation Checks for Explorations"
**All Validation Check Issues:**
- #13449
- #13603
- #13764
- #13820
- #13821
- #13822
- **[you are here]** #16027

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of futu

[2021-09-04 22:52] EricZLou opened #13822 "Maintaining Oppia's Core Data with Backend Validation Checks"
## **NOTE FOR CONTRIBUTORS: This is not up for grabs and will be archived soon.**

**All Validation Check Issues:**
- #13449
- #13603
- #13764
- #13820
- #13821
- **[you are here]** #13822

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the inte

[2021-09-05 05:03] mahendra1290 commented on #8472
@srijanreddy98 I would like to work on ```refresher-exploration-confirmation-modal.service.ts``` please assign it to me

[2021-09-05 05:44] tiptondt1998 commented on #10798
Hello. My name is Dylan. I am a new contributor to Oppia. Are there any files here that I can work on?

[2021-09-05 09:38] lkbhitesh07 commented on #13603
Hello @EricZLou,
I was solving the `Continue`, `Text Input`, and `Multiple Choice` interactions. So I was able to make validation for `Text Input` and `Multiple Choice` but I'm stuck at the `Continue` part. One thing that I want to ask is that in the reference PR you have taken the id from [schema_utils.py](https://github.com/oppia/oppia/blob/develop/schema_utils.py) file to check for the list of

[2021-09-05 13:33] soumyo123-prog commented on #9749
@ashutoshc8101 Can you add changelog label to [this PR](https://github.com/oppia/oppia/pull/13805). Thanks!

[2021-09-05 17:08] lkbhitesh07 commented on #13603
@EricZLou, I'm done with the `Fraction Input` interaction validation and will be raising a PR soon.
Thanks

[2021-09-06 02:57] U8NWXD opened #13824 "Shards error messages confusing"
The error messages alerting users to when shards and the modules on the filesystem are out of sync are confusing. Instead, it would be better to say something like:

and

Reported in https://github.com/U8NWXD/oppia-wiki/pull/20#discussion_r701516256

[2021-09-06 03:05] U8NWXD opened #13825 "Note which "ERROR"s in test results are expected"
When tests raise expected errors in the backend tests, we print `ERROR`, which confuses users. It would be better to print `EXPECTED ERROR` or even just `PASS`.

[2021-09-06 05:46] anuragc10 commented on #13789
Sir, I can resolve this issue easily.
Please assign this issue to me.

[2021-09-06 09:03] mahendra1290 commented on #10798
@abhishekalbert can I work on some files.

[2021-09-06 11:04] anandwana001 opened #13826 "Introduce new attribute proto_size_in_bytes for Topic model"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic content download size for Android clients is important (for offline downloads and space allocation on devices). By storing the proto sizes (in bytes) of TopicModel within the structure, we can calculate the total topic content download size on the fly -- by fetching this new attribute from Topic domain objec

[2021-09-06 11:05] anandwana001 opened #13827 "Introduce new attribute proto_size_in_bytes for Story model"
**Is your feature request related to a problem? Please describe.**
Knowing the total story content download size for Android clients is important (for offline downloads and space allocation on devices). By storing the proto sizes (in bytes) of StoryModel within the structure, we can calculate the total story content download size on the fly -- by fetching this new attribute from Story domain objec

[2021-09-06 11:07] anandwana001 opened #13828 "Introduce new attribute proto_size_in_bytes for SubtopicPageModel"
**Is your feature request related to a problem? Please describe.**
Knowing the total Subtopic content download size for Android clients is important (for offline downloads and space allocation on devices). By storing the proto sizes (in bytes) of SubtopicPageModel within the structure, we can calculate the total Subtopic content download size on the fly -- by fetching this new attribute from Subto

[2021-09-06 15:51] EricZLou commented on #13789
Hi @anuragc10 - sure I can assign this issue to you. Have you followed these steps yet? [link](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)

[2021-09-06 17:16] heyimShivam opened #13829 "Project Installation error in local environment (fetching files)"
**Describe the bug**
A clear and concise description of what the bug is.
During the installation of oppia project in local environment error occurs. {
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 403: Forbidden
}

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia folder'
 2. Click on 'terminal'
 3. enter 'python -m scripts.start'
 4. Se

[2021-09-06 17:22] EricZLou commented on #13603
Thanks for taking up some issues @lkbhitesh07! You're right that I took the id from `schema_utils.py`. Good catch -- my instructions in the issue are wrong, I'll fix it now.

For the `Continue` interaction, you'll then want to pass in `is_at_most`. And make sure that there aren't any extra commas anywhere and that all of the spacing and formatting is correct. `interaction_specs.json` is sensitive

[2021-09-06 19:24] vermastra commented on #13162
@Nik-09 i want to write schema for Signup Page. please assign it to me

[2021-09-07 02:45] U8NWXD commented on #10798
@tiptondt1998 @mahendra1290 I've assigned you

[2021-09-07 05:51] ShivamJhaa opened #13830 "Overlapping of Social Science playlist with the footer and a very complex design of buttons to slide the playlist"
![image](https://user-images.githubusercontent.com/86483059/132290859-0b5df497-d2a6-4dc8-a9ab-a398f85f6281.png)
Here this social science playlist overlaps with the footer and the sliding buttons are unevenly placed. I think if it is placed in the left and right it will look good instead of the up and down.

This error is on the page https://www.oppia.org/community-library

I would like to fix this

[2021-09-07 07:37] DubeySandeep commented on #13815
I confirm that the issue is fixed now by #13770 [Closing this issue]

[2021-09-07 07:37] #13815 closed, assigned to nobody

[2021-09-07 12:23] mahendra1290 commented on #10798
@U8NWXD getting these errors while pushing code. Please help

![Screenshot from 2021-09-07 17-39-25](https://user-images.githubusercontent.com/42772952/132342217-9e40ba02-b6ac-4aa6-8496-3e473cc8c85e.png)

[2021-09-07 15:18] DubeySandeep commented on #13829
Adding @U8NWXD reply on gitter-thread:

@heyimShivam Can you please follow the above comment?

[2021-09-07 16:13] heyimShivam commented on #13829
The file is easily downloaded from Google Chrome (Same link when searched in chrome) without any error their is some python script error .

There is no network issue , while downloading from Google Chrome

[2021-09-07 17:17] YBCS opened #13832 "GeneralFeedbackThreadUserModel"

[2021-09-07 17:18] #13832 closed, assigned to nobody

[2021-09-07 19:39] sagangwee opened #13833 "[Contributor Dashboard] Disable translate button when all translations are in review"
Currently we show a "Sorry!" message in the translation modal if all the translation cards corresponding to the opportunity are currently in review. To help users avoid clicking into an opportunity that they can't contribute to, we should disable the translate button when all the translations are in review instead of showing the "Sorry!" error message.

[2021-09-08 08:22] Nik-09 commented on #13162
@vermastra Done.

[2021-09-08 08:26] ShivamJhaa commented on #10474
After removing all the errors from the assigned file, only these two tests do I have to run before making a PR?
1. python -m scripts.typescript_checks
2.  python -m scripts.linters.pre_commit_linter

[2021-09-08 09:01] mridul-netizen commented on #10474
Try to push the changes and create a PR, all necessary checks will run themselves. If there is a failure you'll have to fix them.

[2021-09-08 10:00] ShivamJhaa commented on #10474
![Screenshot from 2021-09-08 15-21-19](https://user-images.githubusercontent.com/86483059/132489186-d23a6cb1-69bc-49b8-bf61-0237be93b206.png)
Why the push is not working further?
Please help

[2021-09-08 11:32] ruinan-liu commented on #11496
@U8NWXD Hi there, I have a quick question regarding my check. So I updated in the protractor-practices.js a rule to check that no array uses the .filter() function, it passes the test `python -m scripts.run_custom_eslint_tests` when using the example I gave in `protractor-practices.spec.js.` However when I run the following `python -m scripts.linters.pre_commit_linter --path core/tests/protractor_

[2021-09-08 20:37] U8NWXD commented on #10798
@mahendra1290 I [responded on gitter](https://gitter.im/oppia/oppia-chat?at=613756f1f3449e13a45d8548) :smile:

[2021-09-08 20:49] U8NWXD commented on #13829
@heyimShivam the error you've included here is different from what you sent on Gitter. On Gitter the issue came when installing bootstrap. Here the problem is with installing yarn.

Could you try downloading yarn directly too? The URL is https://github.com/yarnpkg/yarn/releases/download/v1.22.10/yarn-v1.22.10.tar.gz

Could you also try downloading from the command line and from Python directly? He

[2021-09-08 20:56] U8NWXD commented on #11496
@ruinan-liu I [responded on gitter](https://gitter.im/oppia/oppia-chat?at=6138d2e463dca818914b69d8) :smile: Here's what I said:

[2021-09-09 06:56] heyimShivam commented on #13829
![yarn install](https://user-images.githubusercontent.com/77006897/132637597-296f8d37-405e-4338-96c1-e2a79a66abb7.png)

Yarn is already installed in OS

[2021-09-09 08:03] vashuteotia123 commented on #13595
``This happened to me today. I checked the pre-commit-linter.
Working on develop branch and it is up to date.
![Screenshot from 2021-09-09 13-31-26](https://user-images.githubusercontent.com/63050475/132647436-a7f81d79-2efb-4702-9290-6ec47a8485fc.png)

[2021-09-09 13:42] soumyo123-prog commented on #8016
Hi, I would like to work on `core/templates/dev/head/pages/collection-player-page/collection-player-page.directive.ts`. Can someone assign it to me? @DubeySandeep @mridul-netizen

[2021-09-09 13:47] mridul-netizen commented on #8016
Hey @soumyo123-prog It is being covered along with migration here https://github.com/oppia/oppia/pull/12729 .Can you please pick some other file ?

[2021-09-09 14:05] soumyo123-prog commented on #8016
@mridul-netizen , how about `core/templates/dev/head/pages/exploration-player-page/layout-directives/feedback-popup.directive.ts`?

[2021-09-09 14:39] mridul-netizen commented on #8016
This directive seems a bit confusing as of now(because the respective component also exists). So, assigning you for `core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.component.ts`

[2021-09-09 17:09] ShivamJhaa commented on #10474
![image](https://user-images.githubusercontent.com/86483059/132731275-5894659a-3ba9-4dab-89ff-d79410731436.png)

When trying to push changes to my local branch, all test cases are passed but still getting this error.

[2021-09-09 17:27] mridul-netizen commented on #10474
@ShivamJhaa The last failure here seems like a flake, I'm not sure what other 10 failures are because they are not in the logs.
 If you're unable to figure this out and need some help with debugging try pushing your changes with `--no-verify` flag(Note: This skips all pre-push checks) and then we can figure out errors together on the CI.

[2021-09-09 20:04] U8NWXD commented on #13745
Fixed by #13770

[2021-09-09 20:04] #13745 closed, assigned to ashish-patwal

[2021-09-10 04:16] heyimShivam commented on #13162
@Nik-09 I want to work on DeleteAccountPage

[2021-09-10 07:00] ashutoshc8101 commented on #13829
@heyimShivam Always try to mention the reason when closing an issue. This helps others understand what's going on.

[2021-09-10 07:02] ashutoshc8101 commented on #13829
It has been verified that the issue was due to @heyimShivam's ISP.
The issue got resolved when he switched to a different ISP.

[2021-09-10 07:02] #13829 closed, assigned to nobody

[2021-09-10 07:09] seanlip commented on #13830
Hi @ShivamJhaa, thanks for reporting. I agree it looks pretty bad. You would be welcome to fix it!

[2021-09-10 07:20] ShivamJhaa commented on #13830
Will you help me out in finding the location of the respective files to be edited to fix it?
Thank you!

[2021-09-10 07:45] seanlip commented on #13830
No; doing so is part of the debugging process needed to fix the issue in the first place. If you are currently in the starter phase, feel free to pick one of the starter issues for now, and someone else can take this up!

[2021-09-10 07:53] ShivamJhaa commented on #13830
I think it is already fixed now.

[2021-09-10 09:18] heyimShivam commented on #9749
@ashutoshc8101  I would like to work on this exploration-player-page.component.ts

[2021-09-10 20:03] kevintab95 opened #13846 "TODO: Add kevintab95 to CODEOWNERs after 2021-10-11"
TODO: Add kevintab95 to CODEOWNERs after 2021-10-11

[2021-09-11 08:03] ashutoshc8101 opened #13850 "Pages migrated to angular router are not scrollable on production (only on mobile device)."
**Describe the bug**

Pages migrated to the angular router are not scrollable on production (on a mobile device)

**To Reproduce**
Steps to reproduce the behavior:
1. Go about page
2. Toggle device toolbar using chrom dev tools.
3. Try to scroll by swiping.

**Observed behavior**
Page not scrolling

**Expected behavior**
Should scroll.

**Screenshots**

https://user-images.githubusercontent.com/24

[2021-09-11 11:26] Dexdex-source opened #13852 "Testing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
**Addit

[2021-09-11 11:27] Dexdex-source commented on #13852
What in the hell was I thinking?

[2021-09-11 12:25] PranshuSrivastava commented on #13833
Hey, I would like to solve this issue. Could you tell me in which file can I find this message?

[2021-09-11 18:35] #13850 closed, assigned to ashutoshc8101

[2021-09-11 18:35] #13852 closed, assigned to nobody

[2021-09-11 19:50] U8NWXD commented on #9648
I was able to get the FE tests running without the combined spec file, but it required adding these lines at the top of every spec file:

[code]

Then I just changed the karma configuration file to include all our spec files instead of the combined spec file. Note that I had to copy the ignore patterns from the combined spec file into the list of excluded files in the karma config.

Also, I hit me

[2021-09-12 10:49] soumyo123-prog commented on #8016
Can I work on `core/templates/components/entity-creation-services/story-creation.service.ts`?

[2021-09-12 21:16] #13741 closed, assigned to U8NWXD

[2021-09-14 10:52] mridul-netizen opened #13864 "Empty Cards at Settings Tab of Exploration Editor Page"
Steps to Reproduce:
1. Try Editing an exploration
2. Go to Settings-Tab
3. See the empty cards

https://user-images.githubusercontent.com/60519303/133244909-538548c9-eed4-4868-afa7-17485115285a.mp4

[2021-09-14 17:17] mohithk100 commented on #10798
Hello I am a new contributor to Oppia. Can I work on one of the files ?

[2021-09-14 17:49] Lawful2002 commented on #13153
@donosco98  Is this this issue still open to work on? If so I would like to work on this.

[2021-09-15 00:08] U8NWXD commented on #10798
@mohithk100 I assigned you to `core/tests/protractor_utils/ExplorationEditorPage.js`!

[2021-09-15 15:08] mohithk100 commented on #10798
I looked into ```core/tests/protractor_utils/ExplorationEditorPage.js```. I think there are not much changes in it. Can you point me to any particular changes expected ?

[2021-09-15 18:38] soumyo123-prog commented on #10798
@U8NWXD could you assign one of the available files to me? Thanks!

[2021-09-16 02:31] #13596 closed, assigned to nobody

[2021-09-16 02:58] U8NWXD commented on #10798
@mohithk100 here's an example of a change:

https://github.com/oppia/oppia/blob/2fbe12908b7fa98dc17ed2160b4094fa053960dd/core/tests/protractor_utils/ExplorationEditorPage.js#L224

`action.getText` can be used here instead of calling `.getText()` on the element. I noticed that `getText` wasn't listed in the issue description, so I added it.

[2021-09-16 02:58] U8NWXD commented on #10798
@soumyo123-prog I assigned you to `core/tests/protractor_utils/TopicEditorPage.js`!

[2021-09-16 09:24] #13568 closed, assigned to chris7716

[2021-09-16 10:42] Lawful2002 commented on #10474
@vojtechjelinek Can you assign me a file to work on?

[2021-09-16 12:28] vojtechjelinek commented on #10474
@Lawful2002 You can make the checks strict for core/templates/services/internet-connectivity.service.ts

[2021-09-16 13:23] ashish-patwal opened #13872 "Adding Brave Browser Support"
**Is your feature request related to a problem? Please describe.**
Brave is a modern web browser based on the chromium web browser . This browser if fairly popular , and is used by many people in the community , as a better alternative to google-chrome or chromium browser . Addition of this browser , will certainly lessen the extra steps we need to run oppia on arch based systems .
**Describe the

[2021-09-16 17:27] tejaswini22199 commented on #10700
Hi, @srijanreddy98  I would like to work on LostChange refactoring.

[2021-09-16 17:30] tejaswini22199 commented on #9749
Hi, @ashutoshc8101  I would like to work on the confirm-leave-modal.template ! Could you please assign this to me?

[2021-09-16 17:47] #13808 closed, assigned to vojtechjelinek

[2021-09-16 19:19] abderrahmaneMustapha commented on #8783
HI @aks681   i want start working on this  .??

[2021-09-16 20:09] somya51p commented on #13162
@Nik-09 I wish to write schema for `UsernameCheckHandler`. Can you please assign me the same

[2021-09-16 20:56] vojtechjelinek commented on #13162
@somya51p Done.

[2021-09-16 21:52] abderrahmaneMustapha commented on #13764
HI i want work in one of the issues mentioned above if  its is possible :)

[2021-09-16 22:11] abderrahmaneMustapha commented on #11496
hi can i start working on   this  : Do not access pages by URLs. or  Usernames, email addresses, topic names, skill names, exploration names, story names, and chapter names should be reliably unique as described in the wiki.

[2021-09-17 00:52] drussell13 commented on #9749
Hi, could I please be assigned to work on  the post-publish-modal.controller

[2021-09-17 03:18] mahendra1290 commented on #9749
Hi @brianyou0, I would like to work on `registration-session-expired-modal.controller.ts` please assign it to me

[2021-09-17 13:02] soumyo123-prog commented on #10798
`WebDriverError: element click intercepted: Element <textarea type="text" class="form-control topic-description protractor-test-topic-page-title-fragment-field ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" ng-model="editablePageTitleFragmentForWeb" maxlength="50" ng-blur="updateTopicPageTitleFragmentForWeb(editablePageTitleFragmentForWeb)" aria-label="Page Title Fragment" placehol

[2021-09-17 13:27] SAEb-ai commented on #13162
@Nik-09 May I please be assigned to `EditableSkillDataHandler`??

[2021-09-17 13:48] vojtechjelinek commented on #13162
@SAEb-ai Hey, can you pick more handlers? At least three?

[2021-09-17 14:13] SAEb-ai commented on #13162
Okay. So, can you please assign me `AnswerSubmittedEventHandler`,  `EditableSkillDataHandler`, `MergeSkillHandler`??

[2021-09-17 15:35] DeepeshKumarJha commented on #13162
hi @Nik-09, Can you please assign me `UrlHandler`, `QuestionCreationHandler`, `QuestionSkillLinkHandler`.

[2021-09-17 15:41] Nik-09 commented on #13162
@SAEb-ai & @DeepeshKumarJha Done.

[2021-09-17 17:48] ruinan-liu commented on #13162
@Nik-09 can you assign me ` DeleteAccountPage `, `ExportAccountHandler `, `PendingAccountDeletionPage ` thanks

[2021-09-17 18:02] Nik-09 commented on #13162
@ruinan-liu Done

[2021-09-17 18:08] SD-13 commented on #13162
@Nik-09  can you please assign me ProfileHandler, PreferencesHandler, SignupHandler . Thanks.

[2021-09-17 18:09] SD-13 commented on #13162
@Nik-09 can you please assign me `ProfileHandler`, `PreferencesHandler`, `SignupHandler` . Thanks.

[2021-09-17 18:14] Nik-09 commented on #13162
@SD-13 Done

[2021-09-17 19:35] ruinan-liu commented on #13162
Hi @Nik-09 I did a code search on `DeleteAccountPage ` and `PendingAccountDeletionPage ` and I could not find them in `core/controllers`. Have we deleted them? I was able to find `ExportAccountHandler ` and added the SCHEMA as well as removed it from `payload_validator.py`

Can I work on `SiteLanguageHandler ` and `UserInfoHandler `?

Many Thanks

[2021-09-17 20:41] vojtechjelinek commented on #13162
Done.

[2021-09-17 23:51] aks681 opened #13880 "Fix RTL formatting issues in the exploration player page"
Following are the main items in this fix:

- All interactions should be formatted correctly:
  - [x] Multple Choice should have its options aligned to the right.
  - [ ] Item selection input should have its options aligned to the right.
  - [x] All supplemental interactions should have the interaction on the left and the state content on the right.
  - [x] Set Input should have its 'X' close butto

[2021-09-18 01:37] U8NWXD commented on #11496
@abderrahmaneMustapha I've assigned you to `Do not access pages by URLs.`

[2021-09-18 01:41] U8NWXD commented on #10798
@soumyo123-prog not necessarily. We sometimes see flakes that look like that

[2021-09-18 05:05] EricZLou commented on #13764
Hi @abderrahmaneMustapha -- why don't you try out this one? Let me know how I can help!
`Story notes should have at most 5000 characters.`

[2021-09-18 07:31] chiragbaid7 commented on #13162
Hi, @vojtechjelinek @Nik-09 can you please assign me `Subscribe` , `Unsubscribe` and `Suggestion` handlers?
Thanks.

[2021-09-18 09:31] vojtechjelinek commented on #13162
@chiragbaid7 Done.

[2021-09-18 18:10] sahiljoster32 commented on #10798
Hey @U8NWXD sir, i'm new contributor here and as it would be my first issue, can you assign me `core/tests/protractor_utils/forms.js `?

[2021-09-18 19:00] Showtim3 commented on #13672
@sajalasati @vojtechjelinek Guys, I have having the same error as above, but after applying the soln in the 5th step, I am getting this error.
![image](https://user-images.githubusercontent.com/30312043/133905753-c503bd26-a9a2-4e53-be80-e360a993fad7.png)

[2021-09-19 00:29] U8NWXD commented on #10798
@sahiljoster32 done!

[2021-09-19 07:25] ashish-patwal commented on #10798
Hey @U8NWXD , i would love to work on this issue . can you please assign me a task ?

[2021-09-19 07:27] sahiljoster32 commented on #10798
thanks!

[2021-09-19 17:41] sahiljoster32 commented on #10798
Hey @U8NWXD sir,
`await element(by.css('.protractor-test-interaction')).click();`
as per in above given example we used `element`, but in file(core/tests/protractor_utils/forms.js) many elements are taken as a method of function's parameter. like,
`var addNodeButton = graphInputContainer.element(by.css('.protractor-test-Add-Node-button'));`
so, my question is that, for this can we use same instruc

[2021-09-19 22:45] U8NWXD commented on #10798
@ashish-patwal I assigned you to `core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js`

[2021-09-19 22:46] U8NWXD commented on #10798
@sahiljoster32 yes, `action.click()` should still work. For example, in the case you describe, you could change `addNodeButton.click()` to `action.click('...', addNodeButton)`

[2021-09-19 22:47] #13762 closed, assigned to nobody

[2021-09-20 02:10] sahiljoster32 commented on #10798
Thanks! :)

[2021-09-20 06:28] Lawful2002 commented on #10616
@Hudda, I would like to work on `typescript-eslint/space-before-function-paren`. Also I noticed that including `typescript-eslint/keyword-spacing` and `@typescript-eslint/comma-spacing` in the .eslintrc doesn't throw any errors.

[2021-09-20 06:44] vashuteotia123 commented on #13385
@DubeySandeep I would like to work on this issue. Can you please elaborate on the expected outcome?

Edit:
I went through the files and saw the working of few functions. Seems hard for me but will try my best.
Thanks

[2021-09-20 06:53] Hudda commented on #10616
@Lawful2002 I've assigned you to these checks.

[2021-09-20 10:39] nlok5923 commented on #13800
i would like to work on this issue.

[2021-09-20 10:56] salmanansari14 commented on #13797
![20210915_022626](https://user-images.githubusercontent.com/78950677/133991193-04789a4d-ca7a-4b94-8e28-52d0e9fbc318.jpg)
I face some problem to run the code in local

[2021-09-20 13:45] ashish-patwal commented on #10798
Thanks @U8NWXD !!

[2021-09-20 14:33] kalkas98 commented on #13162
@Nik-09 Can you please assign me `EditableQuestionDataHandler`, `QuestionsListHandler `and `QuestionCountDataHandler`. Thanks.

[2021-09-20 16:57] Nik-09 commented on #13162
@kalkas98 Done

[2021-09-20 19:53] lkbhitesh07 commented on #13797
@salmanansari14
Hey!
So did you tried `pip3 -m install psutil` or `python -m pip install psutil`, I'm not sure but I just looked at the logs and suggested.
But instead, I would suggest you to post your query on our gitter channel and you'll be able to get this error resolved.
https://gitter.im/oppia/oppia-chat
Thanks
Hitesh

[2021-09-20 19:54] lkbhitesh07 commented on #13800
Sure go ahead,
Assigning this issue to @nlok5923.

[2021-09-20 21:13] U8NWXD opened #13889 "Make instruction to run scripts.start again clearer"
Currently, when developers have out-of-date dependencies and need to run `python -m scripts.start` again, they get this confusing error message:

![](https://files.gitter.im/561f4f4416b6c7089cb70f23/yT31/Capture.PNG)

We should eliminate the traceback and give clear instructions

[2021-09-20 21:13] SanjaySajuJacob commented on #10616
@Hudda I would like to work on `@typescript-eslint/method-signature-style`. I am new to opensource contribution and this is my first issue.

[2021-09-20 21:47] li-matthew commented on #13162
@Nik-09 Can I be assigned any 3 handlers

[2021-09-21 04:42] mahendra1290 commented on #13162
@Nik-09 Can I work on `StoryEditorPage`, `StoryPublishHandler`, ` StoryPageDataHandler`, `StoryProgressHandler`. I found no `StoryPage` handler class is it removed?

[2021-09-21 05:08] Hudda commented on #10616
@SanjaySajuJacob I've assigned you, you can start working on this one.

[2021-09-21 05:43] nlok5923 commented on #13800
@lkbhitesh07 can you please let me know what kind of design changes we need in the hint/solution button .

[2021-09-21 06:39] ashish-patwal commented on #10798
hey @U8NWXD , just had a doubt regarding TopicsAndSkillsDashboardPage.js . Is this file already updated ? because it contains already formatted code with action and waitfor.js . Please do let me know .

[2021-09-21 09:23] Lawful2002 commented on #10616
@Hudda the property `space-before-function-paren` already exists in the .eslintrc file:
[code]
do I need to update it from `never` (default) to `always` ?

[2021-09-21 19:47] salmanansari14 commented on #13797
There are not solved my problem on Gitter that's why I'm here to request to u... After install pip3 pustil I face some new problem please solved this !

![2021-09-21](https://user-images.githubusercontent.com/78950677/134237497-d0b02c14-0292-4cae-8d76-66ab0176d657.png)

Thanks
salman

[2021-09-21 19:51] seanlip commented on #13830
@ShivamJhaa Just to check, is there a reason you closed and reopened this?

[2021-09-22 03:33] vashuteotia123 commented on #10798
@U8NWXD can I work on any of the tasks listed above. Or should I go for "good-second-issue" now?

[2021-09-22 05:17] mahendra1290 commented on #6349
Hi, @kevintab95 I would like to give it a try

[2021-09-22 16:43] ashish-patwal commented on #10798
hey @U8NWXD , please can you help me with this

[2021-09-22 17:34] U8NWXD commented on #10798
@ashish-patwal We write all new end-to-end test code using `action.js` functions, but there still might be legacy code in `TopicsAndSkillsDashboardPage.js` that needs fixing. For example:

https://github.com/oppia/oppia/blob/6c347d17a55cf613df39c490fa28c8de2667031e/core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js#L364

[2021-09-22 17:37] U8NWXD commented on #10798
@vashuteotia123 I assigned you to `core/tests/protractor_utils/ClassroomPage.js`. No, you don't need to move to `good second issue` tasks

[2021-09-22 17:38] sahiljoster32 commented on #10798
Hey @U8NWXD sir, some of my checks are failed, can u point out the error in my PR!!

[2021-09-22 18:01] sahiljoster32 commented on #10798
Hey @U8NWXD sir, my PR currently failing some tests can you point out some issues in my PR so I can fix it !!

[2021-09-23 01:14] sagangwee opened #13903 "[Contributor Dashboard] Reduce runtime of `exploration.get_languages_with_complete_translation()`"
`exploration.get_languages_with_complete_translation()` is called during the codepath of `exp_services.update_exploration()` when updating an exploration and has a runtime of (num langs * num translation strings). We should think about reducing the runtime. Context: https://github.com/oppia/oppia/pull/13902#issuecomment-925437380.

[2021-09-23 04:10] vashuteotia123 commented on #10798
@U8NWXD Okay. Thanks.

[2021-09-23 04:47] mahendra1290 commented on #13801
There is a loading spinner on the button when we select the first option, I think the text is disappearing in order to show the loading spinner, but the spinner is not visible.

[2021-09-23 05:20] ShivamJhaa commented on #13830
Sorry for the inconvenience, I just thought this issue was fixed but it's not.

[2021-09-23 05:24] vashuteotia123 commented on #10798
@U8NWXD ClassroomPage.js is already fixed by someone if I'm not mistaken. PTAL at pull request #12670.

[2021-09-23 07:00] lkbhitesh07 commented on #13801
Hey @mahendra1290
Would you like to give it a try?
Thanks

[2021-09-23 07:00] #13802 closed, assigned to nobody

[2021-09-23 07:55] mahendra1290 commented on #13801
Yeah sure

[2021-09-23 08:01] lkbhitesh07 commented on #13801
go ahead @mahendra1290.
Thanks

[2021-09-23 08:54] mahendra1290 commented on #13801
I am unable to open fractions explorations in the local environment what can I
 do?

[2021-09-23 09:35] lkbhitesh07 commented on #13801
@mahendra1290
Oh, so you have to create the exploration in order to work with it. Please follow the steps below and do let me know if you get stuck somewhere.
1. Start your local environment and log in as admin, to do that visit the admin page -> go to roles -> type in your username -> and select `Curriculum admin`. Now visit back to your opened tab and refresh it and you'll see the `A` sign on yo

[2021-09-23 12:25] mahendra1290 commented on #13801
Thanks, I was able to reproduce it locally.
The issue is that the background color of the button and mat-spinner is same so when the button is enabled and we change the option spinner is there but we're unable to see it. So we need to change the spinner color which is visible for both disabled and enabled state.
![Screenshot from 2021-09-23 17-51-43](https://user-images.githubusercontent.com/42772

[2021-09-23 12:52] mahendra1290 commented on #13801
I used white color on mat-spinner which is fairly visible

https://user-images.githubusercontent.com/42772952/134509841-e47419fd-e21e-44f2-8e36-6c85dd6979a2.mp4

[2021-09-23 13:04] vojtechjelinek commented on #13162
@mahendra1290 I have assigned you the handlers. I have also assigned you the `StoryPage`, you just need to remove it fromm https://github.com/oppia/oppia/blob/96add8a09078ec36eeb532183cb493303fbf2ff9/core/controllers/payload_validator.py#L197

[2021-09-23 13:05] vojtechjelinek commented on #13162
@li-matthew Done.

[2021-09-23 15:21] U8NWXD opened #13909 "Change mutually compatible build modes to options"
We currently have a hierarchy of build modes like this:

* Dev mode
* Prod mode
  * Maintenance mode
  * Deploy mode
  * Minify only mode (where we only minify third-party libraries for the frontend tests)

Normally "modes" are mutually exclusive, so it's strange to be able to enable maintenance mode and deploy mode simultaneously. Instead, it would be clearer to have something like this:

* Dev m

[2021-09-23 15:21] U8NWXD commented on #13909
@vojtechjelinek wdyt?

[2021-09-23 15:38] lkbhitesh07 commented on #13801
Awesome @mahendra1290
Thanks.

[2021-09-23 15:46] sahiljoster32 commented on #10798
Hey @U8NWXD sir, i figured out my mistakes from previous PR which causes my PR to fail the tests. so, i closed that one and try to open new PR with better changes. sorry and i apologize for that!.

[2021-09-23 16:17] heyimShivam commented on #9749
Hi @ashutoshc8101, i would like to work on ### post-publish-modal.controller.ts please assign it to me

[2021-09-23 16:23] heyimShivam commented on #9749
hi @ashutoshc8101  i would like to work on **post-publish-modal.controller.ts** please assign it to me

[2021-09-23 17:47] ShivamJhaa commented on #10798
Hey @U8NWXD,  Can i work on core/tests/protractor_utils/StoryEditorPage.js
Thank you.

[2021-09-23 17:58] PranshuSrivastava commented on #10798
Hey @U8NWXD could you assign me  core/tests/protractor_utils/StoryEditorPage.js?

[2021-09-23 18:26] U8NWXD opened #13911 "Auto-upgrade Elasticsearch and Redis CLI Versions"
Currently, we don't automatically upgrade old versions of Elasticsearch or the Redis CLI. We just check that they are present. We should automatically upgrade them when a user has an old version.

There haven't been any issues due to old versions yet, so this is probably low priority for now

[2021-09-23 18:26] U8NWXD commented on #13911
@DubeySandeep could you triage this as you see fit for the dev workflow team?

[2021-09-23 22:29] sagangwee opened #13912 "[Contributor Dashboard] Revisit exploration opportunity languages codes needing voice artists logic."
Currently `language_codes_needing_voice_artists` in core/domain/opportunity_services.py is based off the translation status of written translations. This doesn't quite make sense for voiceovers.

[2021-09-24 00:06] U8NWXD commented on #10798
@vashuteotia123 thanks for pointing this out! I've updated the task list and assigned you to `SkillEditorPage.js` instead

[2021-09-24 00:07] U8NWXD commented on #10798
@ShivamJhaa done!

[2021-09-24 00:08] U8NWXD commented on #10798
@PranshuSrivastava sorry, all the tasks for this issue have now been claimed. You can work on a different starter issue though!

[2021-09-24 04:22] mahendra1290 commented on #13801
hi, @lkbhitesh07 can you please review this PR.

[2021-09-24 09:27] PranshuSrivastava commented on #10616
Hey @Hudda , could you assign me the  @typescript-eslint/consistent-type-assertions rule?

[2021-09-24 10:44] mahendra1290 opened #13915 "Typo: typo in docstring of schema_utils.py methods"
Just noticed typos in the docstring of some methods in schema_utils.py.

`iff` is there instead of `if`

![Screenshot from 2021-09-24 16-11-18](https://user-images.githubusercontent.com/42772952/134661878-f8343004-fe7c-4090-af94-19a4c96ed3d3.png)
![Screenshot from 2021-09-24 16-11-08](https://user-images.githubusercontent.com/42772952/134661882-99c56837-6da8-4654-a85a-e02d21e9a5dd.png)
![Screensho

[2021-09-24 11:05] Hudda commented on #10616
Sorry for the delay. Yes, you need to change it to always.

[2021-09-24 11:06] Hudda commented on #10616
@PranshuSrivastava You are assigned.

[2021-09-24 11:55] abhyaambati commented on #13915
Can I please help on correcting?

[2021-09-24 12:11] mahendra1290 commented on #13915
@abhyareddy yeah sure.

[2021-09-24 16:48] ShivamJhaa commented on #10798
I think this file is already fixed. Can you please verify?

[2021-09-24 18:03] sagangwee opened #13917 "[Contributor Dashboard] Question opportunities progress not updating"
Percentages are marked as (0.00%) for all skills. Investigate to see if all of the skills were showing 0% even if there had been questions submitted, or if all questions with accepted submissions were not displaying at all.

[2021-09-24 18:11] sagangwee commented on #13194
@rdawson10 Could you update this issue with the repro details?

[2021-09-24 18:17] sagangwee opened #13919 "[Contributor Dashboard] Include review errors in review message"
Currently in core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts, we automatically reject suggestions with the review message "Invalid Suggestion", if there was any error during the review process. We should include the exact error message string in the review message to give end users more context.
![invalid suggestion image](https://u

[2021-09-24 18:25] abhyaambati commented on #13915
Hello! By when are you expecting the code to be edited? As you can imagine,
I’m a beginner and I’m still figuring this all out. I would feel obliged if
you give 4-7 days. I promise my further contributions will be quick.

With Regards,
Abhya R.

On Fri, Sep 24, 2021 at 6:37 PM Mahendra ***@***.***> wrote:

[2021-09-24 18:31] seanlip commented on #13915
This is not a typo. "iff" means "if and only if". See https://en.wikipedia.org/wiki/If_and_only_if

[2021-09-24 18:31] #13915 closed, assigned to DubeySandeep, abhyaambati

[2021-09-24 19:21] abderrahmaneMustapha commented on #13764
hi @EricZLou  iwas busy this week but i can start working on this tomorrow

[2021-09-24 19:21] abderrahmaneMustapha commented on #11496
hi  @U8NWXD   iwas busy this week but i can start working on this tomorrow

[2021-09-24 19:54] sagangwee opened #13920 "[Contributor Experience] Support for individual language admin/coordinators"
Currently in the contributor dashboard admin page, access can only be granted across all languages. There is no ability to assign a user admin rights for individual languages. We want to allow assigning a "language coordinator" role so that users don't inadvertently make changes for other languages.

[2021-09-25 03:01] U8NWXD commented on #10798
@ShivamJhaa here's one problem I found:

https://github.com/oppia/oppia/blob/0023b7aa1b8d60be255fbd5197597efd3787d7f8/core/tests/protractor_utils/StoryEditorPage.js#L158

This can be changed to use `action.click()`

[2021-09-25 04:49] ashutoshc8101 commented on #9749
@heyimShivam I have assigned it to you. Please go ahead.

[2021-09-25 07:41] JeeveshGarg commented on #10474
@vojtechjelinek Can you assign me a file to work on?

[2021-09-25 07:51] mahendra1290 commented on #9749
hi @ashutoshc8101 I would like to work on `collection-editor-save-modal.controller.ts` can you please assign it to me. Can you please help me with how to migrate controllers as I found instructions for directives only?. Also, I was unable to find `registration-session-expired-modal.controller.ts`

[2021-09-25 08:05] ashutoshc8101 commented on #9749
@mahendra1290 Thanks for showing interest. `registration-session-expired-modal.controller.ts` has been migrated in PR #13414 and `collection-editor-save-modal.controller.ts` is currently being migrated in PR https://github.com/oppia/oppia/pull/13514.

Please find some other file to migrate.

[2021-09-25 08:18] mahendra1290 commented on #9749
@ashutoshc8101 Can I take `exploration-publish-modal.template`, `confirm-leave-modal.template` and ` confirm-discard-changes-modal.template`?

[2021-09-25 16:22] JeeveshGarg commented on #8472
Hey @ashutoshc8101 Can you assign me a file to work on?

[2021-09-25 18:32] JeeveshGarg commented on #9749
hi @ashutoshc8101 can you assign me `exploration-save-modal.controller`

[2021-09-26 05:39] ashutoshc8101 commented on #9749
@JeeveshGarg Done

[2021-09-26 12:30] vojtechjelinek commented on #10474
@JeeveshGarg You can work on core/templates/domain/skill/skill-backend-api.service.ts.

[2021-09-26 12:43] mahendra1290 commented on #9749
@ashutoshc8101 can you please confirm if I can work on these

[2021-09-26 12:48] ashutoshc8101 commented on #9749
@mahendra1290 Please go ahead.

[2021-09-27 02:05] matthewc2003 commented on #10474
@vojtechjelinek Could you please assign me a file to work on?

[2021-09-27 07:32] mahendra1290 commented on #9749
Hi, @ashutoshc8101, Do I need to migrate a service that uses these templates because updating only these doesn't work please help me out.

[2021-09-27 07:32] mahendra1290 commented on #9749
Hi, @ashutoshc8101, Do I need to migrate a service that uses these templates because updating only these doesn't work please help me out.

[2021-09-27 07:58] vojtechjelinek commented on #10474
@matthewc2003 Please try core/templates/domain/exploration/read-only-exploration-backend-api.service.ts

[2021-09-27 11:52] lkbhitesh07 commented on #13800
Hey @nlok5923,
I'm so sorry for this much late reply. So for this issue, we have to consult with the design team, and then we can go ahead with it so meanwhile feel free to take up some other issues to work on.
Thanks

[2021-09-27 11:57] lkbhitesh07 commented on #13797
Hey @salmanansari14
I'm sorry for this much late reply. It seems like you have not activated the environment, now as you have already set up the WSL now what you can do is you can follow the installation instructions of [Linux OS](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Linux;-Python-3)) by which you'll be able to generate the environment, and hopefully you will be able to run the se

[2021-09-27 11:59] lkbhitesh07 commented on #12937
Closing this issue as it is already resolved and not reproducible.
Thanks

[2021-09-27 11:59] #12937 closed, assigned to nobody

[2021-09-27 12:00] lkbhitesh07 commented on #13686
Forgot to update on this issue, this issue is resolved and the local environment is running smoothly.
Thanks

[2021-09-27 12:00] #13686 closed, assigned to vojtechjelinek

[2021-09-27 12:46] YBCS opened #13935 "Remove python_utils"
Oppia codebase is now migrated to python3. We have a file[ python_utils.py ](https://github.com/oppia/oppia/blob/develop/python_utils.py)
`Feature detection utilities for Python 2 and Python 3`

It is no longer required
This file needs to be removed

[2021-09-27 18:15] ashutoshc8101 commented on #9749
You also need to migrate the corresponding controller. PR #13890 is a good example.

[2021-09-27 22:40] sagangwee opened #13940 "[Contributor Dashboard] Translation editor not resetting when clicking "Save and translate another""
Observed only locally on develop:

![Screen Shot 2021-09-27 at 6 36 55 PM](https://user-images.githubusercontent.com/9004726/134994972-a30e0e6e-cfd9-4495-ba4b-e4e97d5266df.png)

Note the "Save and translate another" button is also disabled when it shouldn't be.

[2021-09-27 22:55] sagangwee commented on #13940
@kevintab95 Could you take a look at this?

[2021-09-27 23:44] sagangwee commented on #13940
Ah, I believe the issue is the order in which we update `status` and `translation` in https://github.com/oppia/oppia/blame/develop/core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts.

[2021-09-28 17:55] vojtechjelinek commented on #10616
@Lawful2002 Hey, sorry about this, but actually I think @Hudda is wrong. What you need to do is to enable the `@typescript-eslint/space-before-function-paren` and disable the `space-before-function-paren` check. The rules for the `@typescript-eslint/space-before-function-paren` should stay the same as for `space-before-function-paren`.

[2021-09-28 18:07] Lawful2002 commented on #10616
@vojtechjelinek So I need to add
[code]

[2021-09-28 18:13] DubeySandeep commented on #13864
Assigning this issue to @AdityaDubey0

[2021-09-28 18:43] AdityaDubey0 commented on #13864
I am able to reproduce this issue on Community owned exploration, I will initiate a PR to fix this issue.
Thanks!

[2021-09-28 19:38] abderrahmaneMustapha opened #13944 "FileNotFoundError: While installing google-cloud-sdk"
im following this[ guide ](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Windows;-Python-3)) to setup OPPIA on Windows,
but im facing this error after runing  python -m scripts.start
FileNotFoundError: [Errno 2] No such file or directory: '/home/username/opensource/oppia_tools/google-cloud-sdk-335.0.0/google-cloud-sdk/platform/google_appengine/google/appengine'

[2021-09-28 19:51] vojtechjelinek commented on #10616
@Lawful2002 Yes

[2021-09-28 20:08] #13153 closed, assigned to nobody

[2021-09-29 04:59] jimbyo commented on #13917
@sagangwee Hey could I get some more information about this reported bug.

I tested this locally and when a question is submitted and accepted, the skill progress bar is increased by two percent (which I assume is expected behavior).

[2021-09-29 08:59] shubhangi013 commented on #10700
Hi, @srijanreddy98  I'd like to work on ThreadMessageSummary refactoring.

[2021-09-29 13:25] mahendra1290 commented on #9749
Hi @ashutoshc8101 I was working on exploration-publish-modal.template and added a modal component but my frontend tests are failing.

used ngbModal for opening modal
![Screenshot from 2021-09-29 18-49-39](https://user-images.githubusercontent.com/42772952/135276610-fe59d79f-d48b-432b-8254-45b016d511e7.png)
added NgbModal to service
![Screenshot from 2021-09-29 18-48-35](https://user-images.githubu

[2021-09-29 17:52] U8NWXD opened #13952 "Check that Backend Tests Completely Cover Files Under Test"
We currently have 100% backend test coverage overall, meaning that if you run the entire test suite, all our backend code runs. We want to go further and ensure that for every code file (e.g. `file.py`), the associated test file (e.g. `file_test.py`) completely covers the file. In other words, running `file_test.py` should execute every testable line in `file.py`.

To let us slowly upgrade our tes

[2021-09-29 19:56] sagangwee commented on #13917
@jimbyo Hmm can you follow up with Claire in the email thread?

[2021-09-29 20:39] YBCS opened #13956 "Remove python_utils constants and imports"
[python_utils](https://github.com/oppia/oppia/blob/develop/python_utils.py) has variables and functions that were defined specifically to support both Python 2 and Python 3.
Now that we have migrated to Python 3, this file is redundant and can be removed.

To be able to contribute to this issue:

1. From `python_utils.py` pick a variable <your_variable> or function <your_function> and ask @vojtech

[2021-09-29 21:21] sagangwee commented on #13833
@chris7716 Can you take a look at this?

[2021-09-30 02:41] anurag629 commented on #13956
hello, I want to try this. Please @YBCS  assign me

[2021-09-30 04:31] sreyan-ghosh commented on #13956
Hi @YBCS. I would like to change the `python_utils.open_file` function to a simple `open`. Please assign this to me. Cheers.

Also a doubt, what happens to the tests inside `python_utils_test.py`? Do we comment them out, or replace the `python_utils.open_file` in them too with `open`?

[2021-09-30 05:10] sreyan-ghosh commented on #13956
My god, I am new to this, and I was hit by a flurry of bot comments. Like I had everything ready and posted a PR but I didn't meet a lot of the criteria, so the PR was auto-closed. I am developing on Codespaces. Can someone guide me on what to do please step-by-step? For starters, I have filled the `individual-CLA`. @YBCS or @vojtechjelinek

[2021-09-30 06:42] chris7716 commented on #13833
On it

[2021-09-30 06:50] kingjuno commented on #8423
@kevinlee12 i would like to take  `Add a lint check to ensure that there are no blank lines below the function definition.` (python)

[2021-09-30 08:31] soumyo123-prog commented on #13956
@YBCS @vojtechjelinek , can I work on `python_utls.is_string`?

[2021-09-30 09:39] vojtechjelinek commented on #13956
@anurag629 Done.

@sreyan-ghosh The second PR you made looks good.

@soumyo123-prog Done, I have also assigned you `python_utils.get_args_of_function` since `python_utils.is_string` is quite easy compared to other functions.

[2021-09-30 09:41] kingjuno commented on #13956
@vojtechjelinek i would like to work on this issue.

[2021-09-30 11:30] vojtechjelinek commented on #13956
@kingjuno Please pick a function or variable to work on.

[2021-09-30 11:34] kingjuno commented on #13956
python_utls.url_join
 python_utls.url_split
 python_utls.url_parse
 python_utls.url_unsplit

 I am ready to take any issues from the above list.

[2021-09-30 11:46] vojtechjelinek commented on #13956
@kingjuno Done.

[2021-09-30 13:46] megamayoy commented on #13956
@vojtechjelinek @YBCS  I would like to contribute during the hacktoberfest.
I choose
`python_utils.RANGE`
`python_utils.ROUND`
`python_utils.url_request`
`python_utils.divide`
Please assign them to me.

[2021-09-30 14:26] poleselfg commented on #13956
@vojtechjelinek @YBCS I would like to contribute during the hacktoberfest.

can i have this?  python_utils.PRINT

[2021-09-30 15:29] Hudda commented on #8423
@kingjuno I've assigned you.

[2021-09-30 15:52] vojtechjelinek commented on #13956
@megamayoy I have only assigned you only `python_utils.RANGE` since there are a lot of occurrences of this in the code.

@poleselfg Done.

[2021-09-30 16:09] Sangameshdavey commented on #13956
@vojtechjelinek @YBCS I would like to contribute to the hacktoberfest.
I choose
 python_utils.string_io
python_utils.url_open

Please assign them to me;Cheers

[2021-09-30 16:10] ProttoyChakraborty commented on #13956
Hi, I would like to contribute during Hacktoberfest -
please assign me one or more from the following
 `python_utils.url_quote`
 `python_utils.url_unquote_plus`
 `python_utils.url_encode`
 `python_utils.url_retrieve`
Thanks in advance.

[2021-09-30 16:13] U8NWXD commented on #13889
When I tested this locally by changing the version in `requirements.txt`, the output was correct:

[code]

However, I was able to reproduce the error if a library was missing from `third_party/python_libs`:

[code]

The problem appears to be that our format string doesn't work for objects of type `None`:

[code]

The solution is to force the objects being inserted into the format string to be stri

[2021-09-30 16:48] vojtechjelinek commented on #13956
@Sangameshdavey Done.

@ProttoyChakraborty Done.

[2021-09-30 17:12] #13150 closed, assigned to iamprayush

[2021-09-30 17:50] seanlip commented on #13467
Note: Radesh saw "GuppyConfigurationService Components calling the service should not configure guppy on multiple initialization FAILED"  and " Add Or Update Solution Modal Controller when solution is not valid should not save solution" recently, so these are still problematic.

[2021-09-30 17:57] DiptoChakrabarty commented on #13956
Hi  @YBCS @vojtechjelinek  I would like to  work on the  ` python_utils.yaml_from_dict`

[2021-09-30 18:34] #12888 closed, assigned to chris7716

[2021-09-30 19:31] 5andeepNambiar commented on #13956
python_utils.url_parse
 python_utils.url_unsplit
@vojtechjelinek @YBCS
Can you assign me this.

[2021-09-30 19:36] YBCS commented on #13956
@DiptoChakrabarty Done. you can start working on it.

[2021-09-30 19:38] YBCS commented on #13956
@5andeepNambiar Done. You can start working on it.

[2021-09-30 19:41] vkranurag commented on #13956
python_utils.parse_query_string
python_utils.urllib_unquote
@vojtechjelinek @YBCS
Can you please assign me this?

[2021-09-30 19:41] BlackReap-er commented on #13956
python_utils.url_request
 python_utils.divide
@vojtechjelinek @YBCS
Can you assign me this?

[2021-09-30 19:47] YBCS commented on #13956
@Ragify Done. You can start with it.

[2021-09-30 19:50] YBCS commented on #13956
@BlackReap-er done. you can start now.

[2021-09-30 20:04] vojtechjelinek commented on #7419
Closing in favor of #13935

[2021-09-30 20:04] #7419 closed, assigned to nobody

[2021-09-30 20:54] #13864 closed, assigned to AdityaDubey0

[2021-09-30 22:23] #13940 closed, assigned to kevintab95

[2021-09-30 22:23] #12013 closed, assigned to sagangwee

[2021-09-30 22:47] vojtechjelinek opened #13965 "Rename manifest.json"
After we introduce MANIFEST.in in #13938 we need to rename the manifest.json to something else in order to not confuse the developers.

[2021-09-30 23:36] vojtechjelinek opened #13967 "Add versioning to generated Python package"
In build.py we generate a Python package using `python setup.py sdist`, we now use fixed version 0.0.1 every time we generate this, we should use the same versioning as Oppia uses.

[2021-10-01 00:39] EricZLou commented on #13449
All tasks are complete!

[2021-10-01 00:39] #13449 closed, assigned to nobody

[2021-10-01 00:51] EricZLou commented on #13764
@abderrahmaneMustapha hey! have you made any progress on this?

[2021-10-01 04:00] Mystic-Slice commented on #13956
@vojtechjelinek @YBCS Can you please assign me variables ROUND, ZIP and function zip_longest?

[2021-10-01 05:03] vashuteotia123 commented on #13956
@vojtechjelinek @YBCS Can I get any 2 functions assigned? Thanks

[2021-10-01 06:58] kingjuno commented on #8423
@Hudda
should I modify/replace `BlankLineBelowFileOverviewChecker` or create new class.
(`Add a lint check to ensure that there are no blank lines below the function definition.`)

[2021-10-01 07:55] anurag629 commented on #13956
@vojtechjelinek  Please assign me these variables :
 python_utils.OBJECT
 python_utils.ROUND
 python_utils.ZIP

[2021-10-01 11:39] vojtechjelinek commented on #13956
@Mystic-Slice Done.

@vashuteotia123 Done.

@anurag629 Please pick another issue to work on as you already did some functions in this issue.

[2021-10-01 12:12] kingjuno commented on #13956
@vojtechjelinek can u please review [#13971](https://github.com/oppia/oppia/pull/13971)

[2021-10-01 13:33] anurag629 commented on #13956
@vojtechjelinek Please assign issue whichever is available.

[2021-10-01 13:43] vojtechjelinek opened #13974 "Remove unneeded constants"
We used `constants.ENABLE_ACCOUNT_DELETION` and `constants.ENABLE_ACCOUNT_EXPORT` while we were implementing the deletion and export features. Right now these constants are always set to `true` and no longer needed, thus they can be fully removed from the codebase.

Steps to work on this issue:
1. Pick one of the constants.
2. Search the constant in the codebase and remove it from everywhere.
3. M

[2021-10-01 15:04] DubeySandeep commented on #11297
Assigning this issue to @AdityaDubey0

[2021-10-01 15:18] DubeySandeep commented on #12617
Closing this issue as we are now sending notification to google-chat-room on failure! (#13866))

[2021-10-01 15:18] #12617 closed, assigned to DubeySandeep

[2021-10-01 15:20] DubeySandeep commented on #12537
Closing this issue as it's no more reproducible! (Feel free to reopen it happens again)

[2021-10-01 15:20] #12537 closed, assigned to vojtechjelinek

[2021-10-01 15:30] Hudda commented on #8423
@kingjuno modify `BlankLineBelowFileOverviewChecker`

[2021-10-01 15:57] JoelLau commented on #10474
hi @vojtechjelinek, I would like to take a stab at this. can you advise me on what I could work on?

[2021-10-01 16:12] vojtechjelinek commented on #10474
@JoelLau Hey, I have assigned you `core/templates/domain/topic/subtopic.model.ts`

[2021-10-01 16:49] himanshu007-creator commented on #13974
Hi, i would like to work on this issue

[2021-10-01 16:51] Dhananjaymahajan2001 commented on #13974
hlo could you assign this to me i would like to work on it

[2021-10-01 18:07] vojtechjelinek commented on #13974
@himanshu007-creator I have assigned you `constants.ENABLE_ACCOUNT_DELETION`

[2021-10-01 18:20] Aarjav-Jain commented on #13974
hi, i would also like to work on this

[2021-10-01 18:23] raghavTinker commented on #13974
Hi I would like to work on this issue
```constants.ENABLE_ACCOUNT_EXPORT``` also which file is this?

[2021-10-01 18:36] ProttoyChakraborty commented on #13956
@YBCS , @vojtechjelinek  The python 3 alternative for `python_utils.url_retrieve` is `urllib.requests.urlretrieve` however , its not well supported in current python 3 and might be deprecated in the future should I go ahead with the change?
refer -  https://docs.python.org/3/library/urllib.request.html

[2021-10-01 18:44] #11932 closed, assigned to jimbyo

[2021-10-01 18:48] ProttoyChakraborty commented on #13956
@vojtechjelinek  can you please review https://github.com/oppia/oppia/pull/13978

[2021-10-01 19:55] wendyh01 commented on #10474
hi @vojtechjelinek ***@***.***>,
I would like to help
"core/templates/pages/exploration-player-page/services/stats-reporting.service.ts"

Thanks,
Wanling

On Fri, Oct 1, 2021 at 9:12 AM Vojtěch Jelínek ***@***.***>
wrote:

[2021-10-02 05:42] kingjuno commented on #13162
@vojtechjelinek
I will work on these handlers.
[code]

[2021-10-02 11:29] namangirdhar16 commented on #13919
@sagangwee i would like to work on this issue.

[2021-10-02 11:43] wanjuntham commented on #13956
Hello @vojtechjelinek @YBCS,

May I take up `python_utils.reraise_exception`?

[2021-10-02 14:25] DiptoChakrabarty commented on #13956
@vojtechjelinek  can you once review #13970

[2021-10-02 15:35] vpeopleonatank commented on #13956
@vojtechjelinek  can you assign me this function?
python_utils.nullcontext

[2021-10-02 16:41] mohithk100 commented on #13974
Hey, I would also like to work on this.

[2021-10-02 18:02] YBCS commented on #13956
@vpeopleonatank done you can start working on it

[2021-10-02 18:09] ProttoyChakraborty commented on #13956
@YBCS can you please start the tests on  https://github.com/oppia/oppia/pull/13978 and https://github.com/oppia/oppia/pull/13964?
Thanks in advance

[2021-10-02 18:11] YBCS commented on #13956
@wanjuntham assigned, you can start now

[2021-10-02 18:28] 5andeepNambiar commented on #13956
@vojtechjelinek please review [#13985](https://github.com/oppia/oppia/pull/13985).

[2021-10-02 18:31] adi-214 commented on #13974
Hey, I would like to work on this.

[2021-10-02 18:48] kingjuno commented on #13956
@vojtechjelinek can you please review [#13986](https://github.com/oppia/oppia/pull/13986)

[2021-10-02 19:02] kingjuno commented on #13956
@vojtechjelinek can you please review [#13987](https://github.com/oppia/oppia/pull/13987)

[2021-10-02 19:38] U8NWXD commented on #13725
De-assigning @yuktibagrodia due to inactivity

[2021-10-02 20:01] YBCS commented on #13956
@ProttoyChakraborty started!

[2021-10-02 20:05] #13889 closed, assigned to U8NWXD

[2021-10-02 20:42] intaschi opened #13988 "Some placeholders don't appear in the contributor dashboard"
**Describe the bug**
Some placeholders, for example in the lesson  [Mixed Numbers and the Number Line 2 ](https://www.oppia.org/create/aHikhPlxYgOH#/translation) (in fractions chap 7) are not appearing in the translator dashboard for translators to translate.

In the lesson editor, these placeholders are also not appearing in the card under "content", after "custom placeholder". where the original

[2021-10-02 22:12] rijusougata13 commented on #13919
hi @sagangwee  I'd love to contribute  in this. Can you guide me which files I should look into?

[2021-10-03 02:52] joesinghh commented on #13956
Hi @YBCS, I want to work on `python_utils.create_enum` and `python_utils.ExitStack` functions. Could you assign me?

[2021-10-03 03:28] YBCS commented on #13956
@Joe-Sin7h
I have assigned you. You can start now

[2021-10-03 03:32] joesinghh commented on #13956
already on it.

[2021-10-03 09:57] vojtechjelinek opened #13991 "Flaky backend test"
The backend tests are flaky, I have seen this twice already, I have a link to only one occurrence [here](https://github.com/oppia/oppia/runs/3778107139)

[code]

[2021-10-03 10:05] vojtechjelinek commented on #10474
@wendyh01 Done.

[2021-10-03 10:06] vojtechjelinek commented on #13974
@Aarjav-Jain Done.

@raghavTinker @mohithk100 @adi-214 Sorry, everything is taken already.

[2021-10-03 10:15] vojtechjelinek commented on #13162
@kingjuno Done.

[2021-10-03 10:40] ProttoyChakraborty commented on #13956
@vojtechjelinek , @YBCS  Please review https://github.com/oppia/oppia/pull/13990
Thanks

[2021-10-03 13:11] ashish-patwal commented on #13956
Hey i would love to work on this issue . Can you please assign me one ?

[2021-10-03 13:15] ashish-patwal commented on #13764
hey I would love to work on this issue . Can you please assign me one ?

[2021-10-03 15:29] vojtechjelinek commented on #13956
@ashish-patwal I have assigned you `python_utils.with_metaclass`

[2021-10-03 15:43] Radesh-kumar opened #13994 "[Frontend Test Flake] Routers service"
**Describe the bug**
1. Router Service should not navigate to main tab when already there FAILED
2. Router Service should navigate to main tab when tab is already on main FAILED

**Observed behavior**
<pre>
Chrome Headless 94.0.4606.61 (Linux x86_64) Router Service should not navigate to main tab when already there FAILED
	Error: Expected spy $applyAsync to have been called.
	    at <Jasmine>

[2021-10-03 15:45] MenachemRapp commented on #13956
Hi @vojtechjelinek , can I be assigned to this issue?

[2021-10-03 15:50] vojtechjelinek commented on #13956
@MenachemRapp Hey, you can take `python_utils.open_file` this was already attempted in #13958

[2021-10-03 15:51] ProttoyChakraborty commented on #13956
@vojtechjelinek  Can you `python_utils.get_args_of_function_node` to me ?

[2021-10-03 15:55] vojtechjelinek commented on #13956
@ProttoyChakraborty Done.

[2021-10-03 16:56] sahiljoster32 commented on #10474
Hey @vojtechjelinek , can you please assign me a file to work on !!!!

[2021-10-03 19:09] soumyo123-prog commented on #13764
@EricZLou , could you please assign me one of the available checks? Thanks!

[2021-10-03 22:28] vojtechjelinek commented on #10474
@sahiljoster32 Done, assigned you `core/templates/services/autogenerated-audio-player.service.ts`

[2021-10-03 22:50] EricZLou commented on #13764
Hey @ashish-patwal -- yep! Try out this task: `Skill misconception notes, misconception feedback, and skill content worked-examples question and answer should all be valid HTML strings with at most 1000 characters`. Let me know what questions you have: chat me at EricZLou@gmail.com

[2021-10-03 22:55] EricZLou commented on #13764
Hey @soumyo123-prog -- of course. How about this one: `Outcome feedback, default outcome feedback, hint content, and solution explanation should be valid HTML strings with at most 200 characters. 🏷️ Outcome 🏷️ DefaultOutcome 🏷️ Hint 🏷️ Solution`. Let me know if you have any questions: chat me at EricZLou@gmail.com

[2021-10-04 04:44] DiptoChakrabarty commented on #13956
@vojtechjelinek @YBCS can you please start the tests at #13970 .Thanks.

[2021-10-04 06:19] ashish-patwal commented on #13956
@vojtechjelinek , i needed some help . I am trying to run a search through the whole codebase for the functions . The peculiar thing  is that when i am using git grep it is showing a lot less results as compared to grep . Is it because git grep searches only files tracked by git ? What do you recommend ?

[2021-10-04 11:19] vojtechjelinek commented on #13956
Yes, it is because of that, it should be fine to just use `git grep`.

[2021-10-04 11:24] ashish-patwal commented on #13956
Thanks for the help !!

[2021-10-04 13:06] vashuteotia123 commented on #13956
@vojtechjelinek Can sys.stdout() be the perfect replacement for python_utils.redirect_stdout ?

[2021-10-04 14:50] vojtechjelinek commented on #13956
No, you should use `contextlib.redirect_stdout`.

[2021-10-04 15:15] vashuteotia123 commented on #13956
Okay. Thanks.

[2021-10-04 17:56] wanjuntham commented on #13956
Hi @vojtechjelinek and @YBCS , please help to review #13992

[2021-10-04 19:03] kingjuno commented on #8423
@Hudda @kevinlee12
Shouldn't be there at least 1 blank below the function definition?
For example:
[code]

So should the check ensure that there is no blank line in between?
Or did I go wrong somewhere?
Thanks.

[2021-10-04 19:19] SanjaySajuJacob commented on #13670
@sajalasati I believe was able to pass the checks by removing a comma at line 195 in `general_purpose_linter` file (in the list of excluded directories for that particular check). Is this a viable solution to this problem?

![123](https://user-images.githubusercontent.com/70763993/135910932-d7912e98-628b-4c6c-a1a3-b11ab82a68c1.PNG)

[2021-10-04 22:36] vojtechjelinek commented on #13670
I don't think that is the correct solution. Because the comma is needed so that it stays as a tuple removing it would change it to just a string (`'some_str' == ('some_str')` but `'some_str' != ('some_str',)`)

[2021-10-05 03:04] SanjaySajuJacob commented on #13670
Oh I see, Thanks. Also after looking further into the issue I understand that an explanation about this error is required more than a solution.

[2021-10-05 03:54] vpeopleonatank commented on #13956
I submitted PR and didn't pass CI because of not signing CLA. I 've signed CLA, how can I rerun CI on that PR?
Here is my PR https://github.com/oppia/oppia/pull/13993

[2021-10-05 03:58] vashuteotia123 commented on #13956
You won't be able to run test by yourself. Request any of the member from Oppia to do it for you.

[2021-10-05 14:51] brianrodri commented on #12866
Closing this since we've now moved to Python 3, but if this problem still persists after upgrading please feel free to re-open the issue.

[2021-10-05 14:58] aks681 commented on #12311
Hi @atpug22, this setup may not be possible now (the wiki for this VBox + Windows browser setup was written before we used firebase emulator). We call a localhost address in the frontend [here](https://github.com/oppia/oppia/blob/a530c7e4d5274b646afc7dd7040d13c7ed45b829/core/templates/services/auth.service.ts#L130-L133) (thanks @brianrodri for finding this), but when calling from the Windows brows

[2021-10-05 16:07] siddharthmehta02 commented on #7664
Hi @kevintab95  and @gp201, is this issue still open?

[2021-10-05 16:09] gp201 commented on #7664
@siddharthmehta02 Can you please check if this bug is still present by attempting to reproduce it?

[2021-10-05 16:31] harshit973 commented on #7664
no it is not present

[2021-10-05 18:02] vojtechjelinek commented on #7664
@harshit973 Can you please provide a screenshot of how it looks now?

[2021-10-05 21:15] brianrodri opened #14001 "Subject Interests do not persist on the Preferences Page"
**Describe the bug**
Subject interests are not saved in the Preferences page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/preferences
 2. Add a subject interest
 3. Refresh the page
 4. The subject interest is no longer there

**Observed behavior**
Subject interest does not commit after refreshing the preferences page.

**Expected behavior**
The sam

[2021-10-05 21:28] brianrodri commented on #14001
Didn't press enter :)

[2021-10-05 21:28] #14001 closed, assigned to nobody

[2021-10-05 21:50] #12311 closed, assigned to atpug22

[2021-10-05 21:53] #12866 closed, assigned to joeyouss

[2021-10-05 21:54] brianrodri commented on #12311
Closing this since there's no actionable steps we can take on the code base. @atpug22 if @aks681's solution works, please leave a comment saying so to help future contributors that face this issue -- thanks!

[2021-10-06 02:05] anurag629 commented on #13162
I want to work on this
assign me @vojtechjelinek

[2021-10-06 03:45] jimbyo opened #14003 "Datastore Viewer doesn't work in Py3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run python -m scripts.start
 2. Create a topic and some skills assigned to it
 3. Go to localhost:8000
 4. Click on datastore viewer
 4. See text: Datastore has no entities in the Empty namespace. You need to add data programatically before you can use this tool to view a

[2021-10-06 03:45] jimbyo commented on #14003
@seanlip Hi can you link this to the python team?

[2021-10-06 03:47] seanlip commented on #14003
Hi @brianrodri @vojtechjelinek could you PTAL? Thanks!

[2021-10-06 04:21] jimbyo opened #14004 "Handle frontend display of skill opportunities correctly"
**Describe the bug**
Note: Each page can have 10 skill opportunities displayed

If the backend fetches 17 skills opportunities the frontend will create two pages for it. One with the first 10 skills, the second with 7 skills. This causes unintended behavior where all of the next pages will have 7 skills on each page, with 3 of the skills invisible.

**To Reproduce**
Steps to reproduce the behavior

[2021-10-06 08:02] vojtechjelinek commented on #14003
Yeah, it is not working anymore. A possible replacement is https://github.com/remko/dsadmin but I don't think we should include it in our scripts and only make it optional for developers who need to use it.

[2021-10-06 08:16] vojtechjelinek commented on #13162
@anurag629 Done.

[2021-10-06 08:38] vojtechjelinek commented on #11475
@brianrodri Do we still want the last two points?

[2021-10-06 12:16] Shruti-codes236 commented on #13956
Hey @vojtechjelinek, I would love to work on this issue. Would you please assign me one?

[2021-10-06 12:50] vojtechjelinek commented on #13956
@Shruti-codes236 Everything is already assigned, please pick a different good first issue.

[2021-10-06 13:05] vojtechjelinek commented on #13956
@poleselfg @Sangameshdavey @BlackReap-er Hey, are you still working on this issue? Do you need any help?

[2021-10-06 14:22] rijusougata13 opened #14007 "Two dropdown icon in navbar in admin page"
**Describe the bug**
There is a UI bug when we visit admin page , there is two dropdown icon which looks odd.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'admin page from navbar.'
 2. 'top right corner there is two drop down icon'

**Observed behavior**
![Screenshot from 2021-10-06 18-57-06](https://user-images.githubusercontent.com/52108435/136222018-9503f926-6a3d-4dfd-967a-55975

[2021-10-06 14:23] rijusougata13 commented on #14007
hi @vojtechjelinek ,  can you assign me here ? I want to work on this .

[2021-10-06 14:57] Rijuta-s commented on #3446
Hi @seanlip , I think PRs adding validation to both setInput and PencilCodeEditors are merged(#12033 and #9439). Only MusicNotesInput is left. Can you please confirm? If MusicNotesInput is available, @brian-kim1 is willing to work on it.
Thank you.

[2021-10-06 18:30] anurag629 commented on #13162
@vojtechjelinek  sir i have read the steps to contribute and also reads wiki page but i want some help and resources (video resources) to learn about 'schema'.
So that i can contribute in this issue

[2021-10-06 20:57] seanlip commented on #13988
Hi @intaschi, thanks for reporting this! I've dug into this with @sagangwee, and it seems that the issue is that the custom placeholder is indeed empty. The lesson therefore uses the default placeholder text instead. The correct "translation" in this case should therefore be the empty string.

![Screenshot from 2021-10-06 13-54-33](https://user-images.githubusercontent.com/10575562/136281766-76af4

[2021-10-07 02:49] #12297 closed, assigned to brianrodri

[2021-10-07 04:23] ABHIGPT401 commented on #13974
@vojtechjelinek I know this issue has been assigned and solved but can you explain the process of doing it ? like finding it in which file and everything. I am new to open source so just want to learn all of it.

[2021-10-07 07:06] mridul-netizen opened #14009 "Topic Navbar gets Unpinned on Scroll"
**Observed Behaviour**: Navbar of topic viewer page gets unpinned on scroll(Not sure if this is the intended behaviour).

**Expected Behaviour**: Navbar should be pinned on scroll.

**All Devices**

https://user-images.githubusercontent.com/60519303/136335542-ee594762-6153-4ece-998e-ff4d0c94d641.mp4

[2021-10-07 07:17] mridul-netizen opened #14010 "Chapters Redirecting to Error 500 Page"
**Describe the bug**

###  Chapters Redirecting to Error 500 Page
- Visit Chapter 2 here - https://www.oppiatestserver.org/learn/math/place-value
- Visit Chapter 1 here - https://www.oppiatestserver.org/learn/math/fractions

**Observed behavior**
Redirects to error page

**Expected behavior**
Should play corresponding chapter

[2021-10-07 07:27] mridul-netizen opened #14011 "Misaligned Subtopic Tiles in Mobile View"
**Describe the bug**
Subtopic tiles are not aligned properly in mobile view

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/learn/math/fractions'
 2. Check Mobile View

**Screenshots**
![image](https://user-images.githubusercontent.com/60519303/136338681-ac11c3e7-e063-43f4-a1d4-03f88c99b2bb.png)**

**Smartphone**
All devices

[2021-10-07 07:37] mridul-netizen commented on #13974
@ABHIGPT401 you can do a global search in codebase for finding these constants. These are defined here in [constants.ts](https://github.com/oppia/oppia/blob/develop/assets/constants.ts) file. The issue aims at removing all instances of these constants eg.`ENABLE_ACCOUNT_EXPORT` all throughout the codebase(in whatsoever file they are present).

[2021-10-07 07:38] harshit973 commented on #14011
I want to work on this issue

[2021-10-07 07:39] ABHIGPT401 commented on #13974
Got it! Thank You so much @mridul-netizen !

[2021-10-07 07:42] lkbhitesh07 commented on #13764
Hey @EricZLou
I'm done with the `state-content` validation part, please assign me another one to work upon.
Thanks

[2021-10-07 07:43] harshit973 commented on #14009
I want to work on this issue

[2021-10-07 09:55] ashish-patwal commented on #13956
@vojtechjelinek i have submitted the [PR](https://github.com/oppia/oppia/pull/13998) for the function python_utils.with_metaclass .

[2021-10-07 10:02] harshit973 commented on #14011
I have resolved this issue so can I send pull request

[2021-10-07 10:03] harshit973 commented on #14009
I have resolved the issue so can I send the pull request?

[2021-10-07 10:26] seanlip commented on #3446
Yup, I confirm this. Thanks @Rijuta-s! And thanks for your interest in working on it, @brian-kim1 -- I've assigned it to you!

[2021-10-07 11:14] vojtechjelinek commented on #13162
@anurag629 Hey, we don't have any video resources, the best thing you can do is to carefully read the [Schemas](https://github.com/oppia/oppia/wiki/Schemas) wiki and ask questions.

[2021-10-07 12:04] vojtechjelinek commented on #14010
@mridul-netizen I'm not able to reproduce this.

[2021-10-07 12:06] vojtechjelinek commented on #14009
@aks681 Is this an expected behaviour?

[2021-10-07 12:16] mridul-netizen commented on #14010
@vojtechjelinek PTAL!

https://user-images.githubusercontent.com/60519303/136382187-c57e77ce-50f7-4ebc-837d-adb762542b88.mp4

[2021-10-07 13:32] gp201 opened #14018 "[Topic and skill dashboard] Unable to filter topics that are not assigned to a classroom."
**Describe the bug**
Currently, the user cannot filter topics that have not been assigned to a classroom.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and skills dashboard
 2. Try to filter out topics that have not been assigned to a classroom

**Observed behavior**
The user cannot filter out topics that have not been assigned a classroom.

**Expected behavior**
An option th

[2021-10-07 13:32] vojtechjelinek commented on #14010
Ah, okay.

Traceback from the logs:
[code]

[2021-10-07 13:46] gp201 opened #14019 "[Topic Editor] Saving topic without change description results in error"
**Describe the bug**
If a user saves a topic without entering a description in the save draft modal then it results in an error.

**Observed behavior**
Displays an ambiguous error.

**Expected behavior**
Possible solutions

1. Clear message error
2. Do not let users save unless description is filled
3. Let users save with empty descriptions.

**Screenshots**

https://user-images.githubusercontent.

[2021-10-07 14:32] Nik-09 opened #14020 "Fraction introductory chapter is not working."
**Describe the bug**
While opening fractions introductory chapter i.e., "What is a fraction ?" it results in 500 error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on Chapter 1 -- **What is Fraction?**
 4. See 500 error

**Observed behavior**
500 server error is raised.

**Expected behavior**
Should open first chapter.

[2021-10-07 15:18] #13833 closed, assigned to chris7716

[2021-10-07 15:40] rohitkatlaa opened #14021 "Console error in Translate Text tab of Contribution dashboard"
**Describe the bug**
Console error arises when opening the Translate Text tab of Contribution dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ```/contributor-dashboard```
 2. Click on Translate Text tab
34. See the console error

**Screenshots**
![Screenshot from 2021-10-07 21-07-38](https://user-images.githubusercontent.com/42460632/136417755-2fa2a2b9-378c-46a6-9d44-cd6a03

[2021-10-07 17:12] vojtechjelinek opened #14022 "Console error when user with given username does not exist"
**Describe the bug**
A console error is shown when you try to edit a role of user that doesn't exist, e.g. when you insert a wrong username.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/admin#/roles
 2. Enter username that doesn't exist
 4. See error in the console

**Observed behavior**
Console error.

**Expected behavior**
Error shown in the we

[2021-10-07 17:24] nj7 commented on #13162
Hey @Nik-09 Please assign the below handler to my name:
UpdateTranslationSuggestionHandler
 UpdateQuestionSuggestionHandler
 UnsentFeedbackEmailHandler

[2021-10-07 18:06] iamprayush opened #14024 "RTE components disappear after exploration preview"
**Describe the bug**
Some RTE components (except text), disappear after the exploration is previewed. They aren't being deleted though, since they reappear once you try to edit the state text.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add some RTE components (images, videos, links, etc.)
 3. Preview the exploration.
 4. Come back to the editor page, and t

[2021-10-08 02:34] vashuteotia123 commented on #14022
@vojtechjelinek may I work on this issue?

[2021-10-08 05:46] Nik-09 commented on #13162
@nj7 Done.

[2021-10-08 10:10] ujju20 commented on #14019
Can I work on this issue?

[2021-10-08 16:05] U8NWXD commented on #13909
@vojtechjelinek PTAL

[2021-10-08 19:27] sagangwee opened #14026 "Add capability for voiceover dialects"
Android team has requested ability for accents in voiceovers, e.g. Nigerian English to increase comprehension of lessons.

[2021-10-08 19:29] sagangwee opened #14027 "[Contributor Experience] Admin dashboard cleanup"
1. The message when adding new contributors in the contributor dashboard admin page does not make sense for submit question rights: "Successfully added {{username}} as submit_question reviewer".
2. The "Whether the contributor can suggest questions for skill opportunities" config option is no longer needed.

[2021-10-08 20:12] YBCS opened #14028 "Narrow down isinstance comparison to one type"
in #13882 some isinstance converstion were left out with (str, bytes)
they need to be narrowed down to one type

- [ ] schema_utils
- [ ] html_validation_service

note : as of now test which fail if we use just one type :
 `core.controller.blog_dashboard_test.test_uploading_thumbnail_with_valid_image`
 `core.domain.image_validation_services_test.test_image_validation_checks`

[2021-10-09 05:02] rishidyno commented on #13974
Hi! @vojtechjelinek I would also like to work on this issue.

[2021-10-09 06:25] SanjaySajuJacob commented on #12460
Hi @aasiffaizal, I tried replicating the behavior described by the issue by running `python -m scripts.linters.pre_commit_linter --files core/python_utils.py` and it seems to have passed all checks.
Since this issue does not occur anymore, can it be closed? Thanks

![issue ss](https://user-images.githubusercontent.com/70763993/136646677-c62161fb-d4d2-4cf0-8073-816e87155db7.PNG)

[2021-10-09 07:02] abhinwal commented on #13880
Hey I want to work on this issue

[2021-10-09 07:44] vojtechjelinek commented on #13909
Hey, I think these changes seem fine, although I don't think this is a priority rn.

[2021-10-09 07:54] vojtechjelinek commented on #13974
@rishidyno Everything in this issue is already taken.

[2021-10-09 12:59] DubeySandeep commented on #12460
Hi @SanjaySajuJacob Thanks for looking into this, it looks like the function is [removed now](https://github.com/oppia/oppia/pull/13878/files#diff-c01c6269323fb4a21cfc57947c32e25d938b6eb239731b7acc5522949cc858efL154) after the py3 migration. I agree that this issue can be closed now!

[2021-10-09 12:59] #12460 closed, assigned to nobody

[2021-10-09 14:00] ashish-patwal commented on #13764
@EricZLou , i can't seem to find the pages on oppia related to my issue , can you please direct me to the pages related to my issue ?

[2021-10-09 14:14] kangina-tech commented on #10474
@vojtechjelinek I'd like to be assigned a task.

[2021-10-09 17:28] rishidyno commented on #13956
Hi! @YBCS I would like to work on this issue.
Are there any functions or variables left to work on? Please assign me some of them.

[2021-10-09 17:41] YBCS commented on #13956
@rishidyno take a look at other issues as everything in this issue is now fully assigned.

[2021-10-09 18:47] rishidyno commented on #13974
Ok! no problem will work on some other issue then.

[2021-10-09 19:54] sajalasati opened #14033 "Adding Mypy type annotations to domain folder files"
This issue will track the type annotation process of all the `core/domain/*.py` (and their test files). **To get started, ask to be assigned to any unclaimed task. Tasks are claimed by adding the username of the claimer to the end of the task, e.g. @example.**

**Note**: Main code file and its test file must be type-annotated together.

The general procedure to add type annotations is as follows:

[2021-10-10 07:39] mahendra1290 commented on #10798
@U8NWXD I would like to work on `core/tests/protractor_utils/SkillEditorPage.js` please let me know if I can work on this file.

[2021-10-10 10:48] pankaj819kumar commented on #13956
Hi @YBCS I want to work on this issue.

[2021-10-10 14:16] MenachemRapp commented on #13956
Hi,
I see I'm not getting up to it. Can you please remove me?

sorry,
MenachemRapp

‫בתאריך יום א׳, 3 באוק׳ 2021 ב-18:51 מאת ‪Vojtěch Jelínek‬‏ <‪
***@***.***‬‏>:‬

[2021-10-10 15:19] rishidyno commented on #13956
Ok! @YBCS. No problem but could you suggest some issues to work on for a beginner.

[2021-10-10 18:14] aks681 commented on #13988
The overall rtl formatting is being fixed in #13980, although the translation itself is already present in production right now for the default placeholder, as long as the site language (dropdown in the navbar) is Arabic.
![image](https://user-images.githubusercontent.com/22347970/136708198-1c4d1ccb-55f3-4303-a412-3d2341dfaa3d.png)

[2021-10-11 06:24] anandwana001 opened #14040 "Update demo explorations with the latest exploration and states schema"
**Is your feature request related to a problem? Please describe.**
New attributes are introduced in the exploration and states schema and the current schema of the exploration, as well as the states, are not updated in the demo explorations. Path - [data/exploration/...](https://github.com/oppia/oppia/tree/develop/data/explorations)
For example - `all_interactions.yaml` has https://github.com/oppi

[2021-10-11 11:18] vojtechjelinek commented on #10474
@kangina-tech Assigned you the `core/templates/domain/editor/undo_redo/base-undo-redo.service.ts`

[2021-10-11 13:08] lkbhitesh07 commented on #13764
Hey @ashish-patwal
Regarding the pages, I think firstly you need to go to the `topics and skills dashboard` and after that you have to create a `skill`
after that, in the `skill editor` page you'll be able to find the relevant section like `Worked Examples` and `Add Misconception`.

For your issue to resolve I think you need to look at these 2 files -
1. [add-misconception-modal.directive.html](ht

[2021-10-11 13:14] ashish-patwal commented on #13764
@lkbhitesh07 thanks for the reply . Actually i do know the files that needs correction , but in order to verify the changes i need to launch the dev server for oppia and actually put in test values to validate the changes . The problem is that i don't know where to navigate in oppia to verify these changes .

[2021-10-11 13:15] ashish-patwal commented on #13764
ohh thanks @lkbhitesh07 , i will try that out now .

[2021-10-11 14:44] vojtechjelinek opened #14044 "Find a more automated way to prevent models being missed in wipeout"
In #14006, we add a `TranslationContributionStatsModel` that was missed before and not included in wipeout found a way how to mitigate this in the future.

[2021-10-11 14:47] ShivamJhaa commented on #10616
Hey @Hudda, I would like to work on @typescript-eslint/func-call-spacing if available.

[2021-10-11 14:48] vojtechjelinek commented on #13956
@rishidyno Hey, you can take `python_utils.open_file` if you want. This was already attempted in #13958

[2021-10-11 14:49] vojtechjelinek commented on #13956
@poleselfg @Sangameshdavey @BlackReap-er Hey, are you still working on this issue? Do you need any help?

[2021-10-11 17:01] ShivamJhaa commented on #10474
Hey @vojtechjelinek  Can you please assign me core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts

[2021-10-11 17:32] vojtechjelinek commented on #10474
@ShivamJhaa Done.

[2021-10-11 18:02] ShivamJhaa commented on #10474
Hey @vojtechjelinek, now can you please assign me core/templates/pages/exploration-player-page/modals/display-solution-modal.component.ts also.
Thanks

[2021-10-11 18:43] vojtechjelinek commented on #10474
@ShivamJhaa Done.

[2021-10-11 19:09] #11547 closed, assigned to vojtechjelinek

[2021-10-11 19:30] sagangwee commented on #13221
@kevintab95 @srijanreddy98 Is this also a problem for schema-based-editor usages in AngularJS? Fore example, locally I notice that the editor in core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts was not updating the local value.

[2021-10-11 21:11] SanjaySajuJacob commented on #12786
Hi @DubeySandeep, I tried reproducing the behavior described in this issue. I changed the order of the imports in `core/jobs/transforms/validation/base_validation.py` and the lint checks seem to detect this error. Can this issue be closed? Thanks

![issue 2 ss 6](https://user-images.githubusercontent.com/70763993/136855928-4afd455f-f56a-415d-b6ca-39979486b98d.PNG)

[2021-10-12 03:30] U8NWXD commented on #10798
@mahendra1290 done!

[2021-10-12 03:55] kingjuno commented on #14033
@sajalasati Assign me the following
`core/domain/auth_domain.py`
`core/domain/blog_domain.py`
`core/domain/caching_domain.py`

[2021-10-12 06:22] sajalasati commented on #14033
@kingjuno I've assigned you now!

[2021-10-12 08:04] seanlip commented on #24190
Removing @aggarwalpulkit596 due to inactivity.

[2021-10-12 08:24] vashuteotia123 commented on #14033
@sajalasati Can I get any three files assigned to me?

[2021-10-12 10:18] sajalasati commented on #14033
Done, assigned you the next 3 in order.

[2021-10-12 10:26] Hudda commented on #10616
@ShivamJhaa I've assigned you!

[2021-10-12 10:50] IniobongUdom7 commented on #10306
Hello @kevintab95 can i work on this issue?

[2021-10-12 12:52] aniketh-varma commented on #14033
Hi @sajalasati, I would like to work on this. Please assign me a file.

[2021-10-12 13:33] sajalasati commented on #14033
Done!

[2021-10-12 13:49] vojtechjelinek commented on #14018
@gp201 Is this really a regression? Was this feature available before? If not I think we should only add it to the hotlist.

[2021-10-12 13:59] vojtechjelinek commented on #14020
Closing in favour of #14010

[2021-10-12 13:59] #14020 closed, assigned to nobody

[2021-10-12 14:07] gp201 commented on #14018
@vojtechjelinek No I don't think so but I felt it was a required feature. I'll leave the decision on how to proceed to @kevintab95 and @aks681

[2021-10-12 14:58] vojtechjelinek commented on #11742
Closing since we will have entirely new system for this and it is being accounted for.

[2021-10-12 14:58] #11742 closed, assigned to rohitkatlaa

[2021-10-12 15:48] vashuteotia123 commented on #14033
![image](https://user-images.githubusercontent.com/63050475/136988192-cc995473-671a-486e-9be9-65da5be2f304.png)
@sajalasati Can you just tell me what will be the annotation for this?

[2021-10-12 16:00] seanlip commented on #14003
Update: we discussed this in the Py3 migration team meeting and @vojtechjelinek will be looking into adding instructions for this (tracked as task D14).

[2021-10-12 16:38] ShivamJhaa commented on #14033
Hey @sajalasati Can you please assign me
core/domain/config_domain.py
core/domain/exp_domain.py
Thanks

[2021-10-12 18:57] Rijuta-s opened #14052 "Find a better way to structure language translation code."
Currently all the translation logic is spread between `oppia-angular-root` and `top-navigation-bar` components. We need to find a better way to encapsulate and have all the functions related to language translations at a single place without much duplication of code. This should help us remove translation handling code from `top-navigation-bar`

Refer to:  https://github.com/oppia/oppia/pull/14023

[2021-10-13 03:07] seanlip opened #14054 "Error messages seem to appear twice in the logs"
**Describe the bug**
Per https://github.com/oppia/oppia/pull/13992#issuecomment-940127801 and the follow-up comment, it seems like error messages appear multiple times in the logs for some reason:

[code]

If these are duplicates, we should find a way to deduplicate them so that it is clearer how many errors are arising in a particular session.

[2021-10-13 06:36] sajalasati commented on #14033
@vashuteotia123 We could use `List[Dict[str,Union(int,List[str])]]` for this case.

Just a note for future, it would be helpful if you can provide a link to the code (file) where you have doubts, and possibly your guessed annotation too, so that we can help you understand what (and why) that annotation should be. I hope this helps :)

[2021-10-13 06:36] sajalasati commented on #14033
@ShivamJhaa Done!

[2021-10-13 06:39] vashuteotia123 commented on #14033
@sajalasati I did somewhat the same, I didn't know about Union, will understand the working of it and implement it.
Thanks.

[2021-10-13 06:41] sajalasati commented on #14033
@vashuteotia123 No issues, just check for it in the codebase, you'll find plenty of examples.

[2021-10-13 09:04] vojtechjelinek opened #14055 "Confusing UI in the topic editor"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to some topic that you don't have right to
 2. Click on '+ ADD STORY'
 4. See error

**Observed behavior**
![image](https://user-images.githubusercontent.com/10142938/137102025-7acaf272-780b-408f-b587-fc71a3233565.png)

**Expected behavior**
I would expect not to be ab

[2021-10-13 14:30] vojtechjelinek opened #14056 "Cannot edit existing skill"
**Describe the bug**
When I attempt to modify the existing skill I cannot save the pending changes. Also the skill editor is quite slow and lags.

**Observed behavior**
The pending changes button is shown but disabled.

**Expected behavior**
The pending changes button should be enabled.

**Screenshots**
![image](https://user-images.githubusercontent.com/10142938/137153539-595b19e5-de1f-4b93-880d-4

[2021-10-13 16:48] U8NWXD opened #14057 "Frontend coverage check failure on change-list.service.ts"
In a frontend test run on develop ([build](https://github.com/oppia/oppia/runs/3825820617?check_suite_focus=true#step:8:7104)), this error was raised:

[code]

[2021-10-13 16:50] U8NWXD commented on #14057
@Radesh-kumar I think this probably has something to do with your PR #13841. Could you take a look?

[2021-10-13 17:40] ShivamJhaa commented on #14033
Hey @sajalasati  Can you help me in determining the type annotation of these two
![image](https://user-images.githubusercontent.com/86483059/137184924-a89a3c0d-d10f-4892-ad4e-869fd6751d72.png)
in core/domain/config_domain.py.
Thanks

[2021-10-13 18:47] seanlip opened #14059 "Translation progress is not reported correctly when a lesson changes"
**Describe the bug**
Even though translations need updating, the top of the editor translation tab still shows that translations are complete. See screenshot below:

![Screenshot from 2021-10-13 11-38-47](https://user-images.githubusercontent.com/10575562/137194698-07cf0480-a8cc-4357-9d35-9f1268961804.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish a lesson.
 2. Add

[2021-10-13 18:47] seanlip commented on #14059
/cc @sagangwee @chris7716

[2021-10-14 02:50] lheureuxe13 commented on #14033
Hi @sajalasati, please assign me 3 where needed. Thanks

[2021-10-14 10:51] #12275 closed, assigned to rohitkatlaa

[2021-10-14 10:51] #13427 closed, assigned to vojtechjelinek

[2021-10-14 10:51] #13965 closed, assigned to vojtechjelinek

[2021-10-14 19:43] salmanansari14 opened #14064 "bgngngng"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2021-10-14 19:43] #14064 closed, assigned to nobody

[2021-10-15 05:21] ShivamJhaa commented on #14033
@vojtechjelinek @sajalasati What will be the annotation for this?
![image](https://user-images.githubusercontent.com/86483059/137436296-ad8aada1-ebc4-44ab-95cc-a42c949edf27.png)
Thanks

[2021-10-15 11:11] ZaidMujahid commented on #10700
Hi, @srijanreddy98 I'd like to work on PlaythroughIssue

[2021-10-15 11:34] sahiljoster32 commented on #10474
Hey @vojtechjelinek, can you please assign me `core/templates/domain/story/StoryObjectFactory.ts`

[2021-10-15 13:43] lkbhitesh07 commented on #13764
Hey @ashish-patwal,
How's everything going, were you able to reproduce that particular issue? Please do let me know in case you get stuck somewhere. Reach out to me here - lkbhitesh07@gmail.com
Thanks

[2021-10-15 15:29] vojtechjelinek commented on #10474
@sahiljoster32 Done.

[2021-10-15 15:48] ashish-patwal commented on #13764
@lkbhitesh07 thanks for your help . I will surely contact you if i run into some problem . I'll be submitting the PR shortly .

[2021-10-15 17:24] vojtechjelinek opened #14071 "The setup_and_typescript_tests is doing wrong merge on hotfix branch"
[Here](https://app.circleci.com/pipelines/github/kevintab95/oppia/915/workflows/eb1c0659-e66b-4b3f-a254-bc459086922c/jobs/5501/steps) is an example. The target of the PR on which the suite was run is the hotfix branch, but the suite is trying to merge with develop which is wrong.

[Here](https://app.circleci.com/pipelines/github/vojtechjelinek/oppia/309/workflows/5b045c15-061b-4eeb-9806-36f595fe22

[2021-10-15 21:54] sagangwee opened #14072 "Incomplete translation error for seemingly complete translation"
A user is trying to translate a card for Expressions and Equations - A Day at the Amusement Park- Modelling Real-World Scenarios to Spanish but is encountering the "Translation is incomplete. Please make sure all elements in the original content are included in the translated content." error for a seemingly correct translation.

[2021-10-15 21:56] sagangwee commented on #14072
Just tried submitting a translation for this card and was able to do so successfully (sorry it was with a test translation!).

The errors we see in the console for the user don't seem to be related:

![Screen Shot 2021-10-15 at 11 19 57 AM](https://user-images.githubusercontent.com/9004726/137557796-665ec32d-b0e5-4b73-9e80-e88712c73e05.png)

[2021-10-15 22:01] sagangwee commented on #14072
For reference, screenshot of the translation card:
![image (3)](https://user-images.githubusercontent.com/9004726/137558164-e1693246-f50b-475e-a63f-c007ed5bf0b0.png)

[2021-10-15 22:14] sagangwee commented on #14059
@kevintab95 Should we show a different status for translations marked as stale like we did for the contributor dashboard?

[2021-10-15 22:22] sagangwee commented on #14059
The translation status bar in the exploration is based on whether each content translation is an empty string, counted here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/exploration-editor-page/translation-tab/services/translation-status.service.ts#L91. @kevintab95 Are your translation stale marking changes compatible with this algorithm?

[2021-10-15 22:30] sagangwee commented on #14072
@chris7716 Am I reading this right? Are we saying that a translation is completed if the original content and translated content contain the same custom oppia tags? https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts#L376

[2021-10-15 22:44] sagangwee commented on #14072
Also tried replicating locally by duplicating the content and was not able to repro:
![Screen Shot 2021-10-15 at 6 41 51 PM](https://user-images.githubusercontent.com/9004726/137561855-5ad39f62-50a2-4326-9ab0-9c9d9e924a6e.png)

[2021-10-16 02:51] chris7716 commented on #14072
@sagangwee Yes, you are correct. Reference - https://github.com/oppia/oppia/pull/13309

[2021-10-16 05:59] nithinrdy commented on #10474
Hello @vojtechjelinek, may I work on `core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts`?

[2021-10-16 08:55] vojtechjelinek commented on #10474
@nithinrdy Done.

[2021-10-16 11:40] #11414 closed, assigned to nobody

[2021-10-16 12:47] vojtechjelinek commented on #13956
Hey, I have removed some contributors from this issue, since they were not active. **You can request some parts of this issue if you want!**

[2021-10-16 13:00] rishidyno commented on #13956
Yes, I will work on it.

[2021-10-16 14:08] megamayoy commented on #14033
@sajalasati I wanna contribute during the Hacktoberfest. Will you please assign me 2 files?

[2021-10-16 14:52] heli-d-bhavsar opened #14078 "Facing issue in python -m scripts.start"
![image](https://user-images.githubusercontent.com/86461854/137591991-b9952990-cc35-4b64-8e5b-f519112a6af3.png)

Environment Windows WSL2
Ubuntu 20.04.3 LTS (GNU/Linux 5.4.72-microsoft-standard-WSL2 x86_64)

[2021-10-16 14:56] vojtechjelinek commented on #14078
Hey, did you try navigating to localhost:8181 in your browser? Also, can you share the whole output?

[2021-10-16 14:58] vojtechjelinek commented on #14033
These shouldn't need any typing.

[2021-10-16 14:59] vojtechjelinek commented on #14033
@megamayoy @lheureuxe13 Done!

[2021-10-16 15:00] vojtechjelinek commented on #14033
You should probably use the [TypedDict](https://mypy.readthedocs.io/en/stable/more_types.html#typeddict)

[2021-10-16 15:00] heli-d-bhavsar commented on #14078
The whole process is stopped after that.

[2021-10-16 15:01] heli-d-bhavsar commented on #14078
I tried navigating to  localhost:8181 but not working

[2021-10-16 15:02] vojtechjelinek commented on #14078
Please share the whole output then.

[2021-10-16 15:14] PranshuSrivastava commented on #11721
This issue has been fixed.
Screenshot:

![image](https://user-images.githubusercontent.com/37413698/137592687-bde78b0a-dc42-43dc-a063-653293e8f135.png)

[2021-10-16 15:22] #11721 closed, assigned to nobody

[2021-10-16 18:10] heli-d-bhavsar commented on #14078
[code]

[2021-10-16 18:11] heli-d-bhavsar commented on #14078
This is whole output

[2021-10-16 19:02] lheureuxe13 opened #14080 "Pip global config creates issue with services.start"
**Describe the bug**
If global pip index configuration is configured to use a specific server URL, this causes requirements.txt regeneration to add the following line to the requirements.txt file:

`--index-url=https://your-custom-index-server.com`

This causes the following issues:
* When running services.start, this line will break the function `_get_requirements_file_contents` in `install_backe

[2021-10-16 22:30] intaschi opened #14083 "Image appears smaller than the original when edited by copy-tool"
**Describe the bug**
When trying to edit/translate an image using the copy tool, the size of the image gets smaller than the size of the original text. This can make text really hard to read and cause inconsistencies between languages.

**To Reproduce**
Steps to reproduce the behavior:
 1. Do to the Contributor Dashboard - to the "Translate Text" section, or the editor of a lesson.
 2. Choose any

[2021-10-16 22:51] intaschi opened #14084 "Image don't appear again in the editor when trying to edit a copied Image (with copy-tool)"
**Describe the bug**
When translating images, I copied an image using the copy-tool, then I double clicked the image to edit it again but the image don't appear again in the editor. I just get a black space.

**To Reproduce**
Steps to reproduce the behavior:
 1. Do to the Contributor Dashboard - to the "Translate Text" section, or the editor of a lesson.
 2. Choose any card with an image to transl

[2021-10-17 07:18] nithinrdy commented on #10474
Hello @nishantwrp

I'm working on `core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts`

After enabling strict checking, I get a few errors in `core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.spec.ts` of this form-

![image](https://user-images.githubusercontent.com/78612244/137615791-2f0bc1cc-da9c-4b69-

[2021-10-17 08:46] DubeySandeep commented on #10551
On further investigation on this issue, we found that the package needs to be downloaded through package.json so this issue can be marked resolved!

[2021-10-17 08:46] #10551 closed, assigned to nobody

[2021-10-17 15:14] heyimShivam commented on #9749
@ashutoshc8101  i would like to work on exploration-player-page.component.ts  Please assign this to me.

[2021-10-17 15:29] heyimShivam commented on #9749
@ashutoshc8101  i would like to work on editor-reloading-modal.controller please assign this to me

[2021-10-17 16:12] nithinrdy commented on #10474
Hello @nishantwrp, I'm working on `core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.component.ts`, and after enabling strict checks, one of the errors I get is this:

![image](https://user-images.githubusercontent.com/78612244/137635294-1fd9801a-9c6f-4dac-8b6b-bf092320ae87.png)

The error arises due to line 180 in `top-navigation-bar.component.ts`:
![image](htt

[2021-10-17 17:05] iamprayush opened #14085 "Make math interactioins consistent with android."
Since android is implementing the math interactions from scratch, the web math interactions need to be made consistent with the definitions for android. ([PRD](https://docs.google.com/document/d/1x2vcSjocJUXkwwlce5Gjjq_Z83ykVIn2Fp0BcnrOrTg/edit)).
The following things need to be done:

- [x] Allow purely numeric expressions in the algebraic expression input. This will require code refactoring so t

[2021-10-17 17:30] BlackReap-er commented on #13956
@vojtechjelinek @YBCS
Can you assign me these?
python_utils.url_request
 python_utils.divide

[2021-10-17 17:55] vojtechjelinek commented on #13956
@BlackReap-er Done!

[2021-10-17 18:05] vojtechjelinek commented on #10474
The problem is that we call the function in the if condition and then call it again in the set call. The TS compiler doesn't know the results for both the calls will be the same. The solution is to save the result into the variable, then if the variable and also set the variable. Lmk if it works.

[2021-10-17 18:11] nithinrdy commented on #10474
That fixed it. Thanks a lot!

[2021-10-17 18:14] 5andeepNambiar commented on #13956
@vojtechjelinek @YBCS
Can you assign me these again? Sorry for the trouble.
python_utils.url_parse
python_utils.url_unsplit

[2021-10-17 18:16] vojtechjelinek commented on #13956
@5andeepNambiar You're still assigned.

[2021-10-17 19:14] vojtechjelinek commented on #12125
@brianrodri @DubeySandeep Hey, do we know how was this fixed? It seems to be happening in #14078

[2021-10-17 19:16] vojtechjelinek commented on #14078
Is this happening everytime you run the server? The same `AttributeError: 'module' object has no attribute 'apiproxy'` error?

[2021-10-17 19:21] Radesh-kumar opened #14086 "[Frontend Test Flake] setupAndGetUpgradedComponent"
<pre>
021-10-17T18:21:44.4830950Z [1A[2KChrome Headless 94.0.4606.81 (Linux x86_64) setupAndGetUpgradedComponent function should setup component and return the proper text context FAILED
2021-10-17T18:21:44.4831897Z 	Script error. thrown
2021-10-17T18:21:44.4832477Z Chrome Headless 94.0.4606.81 (Linux x86_64): Executed 195 of 7028 (1 FAILED) (0 secs / 3.269 secs)
2021-10-17T18:21:44.4833526Z Chr

[2021-10-17 22:49] ChocLawrence commented on #8668
Hello, please can I be assinged a file by a mentor?. I am an outreachy applicant and would like to get started. Have gone through the document explaining frontend documentation and would like to work on this. @intaschi can you help?

[2021-10-18 01:31] intaschi commented on #8668
@ChocLawrence Are you an Outreachy applicant for what project?
@seanlip for visibility

[2021-10-18 04:27] ZhanLiangUF commented on #7450
Can I be assigned to jobs_test.BaseMapReduceJobManagerForContinuousComputationsTests please?

[2021-10-18 08:34] kevintab95 commented on #14018
You can search for ones not assigned to a classroom. I don't think this is a regression but we can discuss it during the LaCE meeting. /cc @aks681

![image](https://user-images.githubusercontent.com/11008603/137697071-ae0ab81d-80ec-4e24-b3c3-3f2a8886bfa4.png)

[2021-10-18 08:36] kevintab95 commented on #14018
Removing from the regressions milestone for now. Happy to discuss if this is unexpected.

[2021-10-18 09:07] vojtechjelinek commented on #7450
@ZhanLiangUF That file no longer exists, please pick another one.

[2021-10-18 09:28] ChocLawrence commented on #8668
@intaschi  Yes I am an outreachy applicant and for the project :: Scale Community Outreach and Conduct Research on Oppia's Lessons
.I am an angular developer but not too familiar with the code base of oppia. But willing to learn

[2021-10-18 09:41] SaurabhJamadagni commented on #14033
Hi @sajalasati! Could you please assign me `core/domain/rights_domain.py`?
Thanks!

[2021-10-18 10:01] vojtechjelinek commented on #14033
@SaurabhJamadagni Done.

[2021-10-18 13:05] IniobongUdom7 commented on #10616
Hello  @Hudda, can you please assign me to work on @typeScript-eslint/promise-function-async?

[2021-10-18 18:10] U8NWXD opened #14090 "Tighten E2E Test Rerun Policies"
Now that the tests are not flaking as often, we can be more stingy with reruns

[2021-10-18 18:45] intaschi commented on #8668
@ChocLawrence Nice to meet you :)

For Outreachy, we have specific tasks non code related, that we require from applicants in order for them to be eligible for the final application. Have you been able to take a look at those?

[2021-10-18 18:49] heyimShivam commented on #8016
hey @mridul-netizen    i would like to work on `history-tab.component.ts` , can you assign this to me ?

[2021-10-18 19:20] arul-ashri commented on #10474
Hey @vojtechjelinek, can you please assign me  core/templates/components/skill-selector/select-skill-modal.component.ts and  core/templates/components/skill-selector/merge-skill-modal.component.ts

[2021-10-18 19:28] ChocLawrence commented on #8668
Same here @intaschi.
I'm sorry I can't seem to trace those. I just followed the github page  titled "Starter projects for new contributors" and that's where I found this. Please is there some other link to the tasks you are referring to?

[2021-10-18 21:18] seanlip opened #14094 "Revert ownership of codeowner files to Sean after 31 Oct."
This issue tracks reverting codeownership of several files in CODEOWNERS to Sean after 31 October.

[2021-10-18 21:54] vojtechjelinek commented on #10474
@arul-ashri Done.

[2021-10-19 02:43] EricZLou commented on #14019
Update: the bug is that the frontend expects a non-empty commit message only when the topic has already been published -- this is good so that you don't need to write commit messages when saving drafts that are not published. However, the backend always wants a commit message. Putting up a PR now.

[2021-10-19 04:23] #12181 closed, assigned to sophiewu6

[2021-10-19 04:32] Hudda commented on #10616
@IniobongUdom7 You are assigned.

[2021-10-19 06:12] SaurabhJamadagni commented on #14033
Hi @vojtechjelinek, @sajalasati!
I am unable to understand how to solve an error I am getting with the error code [attr-defined]. Attaching the screenshots below
<img width="848" alt="Screenshot 2021-10-19 at 11 19 13 AM" src="https://user-images.githubusercontent.com/68957712/137851783-4d3d0233-c713-4c6f-b479-414d79924c44.png">
I am getting these errors for the following code (line 396 in file [c

[2021-10-19 12:11] ClementBLV commented on #14033
@sajalasati @vojtechjelinek Could you assign me the three following files
Thanks  !!
core/domain/param_domain.py
core/domain/platform_parameter_domain.py
core/domain/question_domain.py

[2021-10-19 13:55] vojtechjelinek commented on #14033
@ClementBLV Done.

[2021-10-19 14:20] vojtechjelinek commented on #14033
I think that according to this [cheat-sheet](https://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html#when-you-re-puzzled-or-when-things-are-complicated) you will need to add `def __getattr__(self, name: str) -> <some-type>:` to the `BaseChange` in change_domain.py.

[2021-10-19 14:47] Nik-09 opened #14103 "Error due to mixing of cores & scripts"
**Describe the bug**
Writing schemas for handler, sometimes produces an unknown error which seems to be caused due to extensive mixing of cores and scripts layer of the codebase.

Reproduced by some of the contributors:
- [Reference 1](https://github.com/oppia/oppia/pull/13772#discussion_r700940242)
- [Reference 2](https://github.com/oppia/oppia/pull/13422#discussion_r686120275)

**Proposed soluti

[2021-10-19 15:13] SaurabhJamadagni commented on #14033
Thank you! This worked :)

[2021-10-19 16:53] ZhanLiangUF commented on #7450
@vojtechjelinek can i do  jobs.MapReduceJobPipeline?

[2021-10-19 19:14] nadintamer commented on #8015
Hi @kevintab95! I'd like to work on `core/templates/domain/question/pretest-question-backend-api.service.ts`. Could you assign it to me? Thanks!

[2021-10-19 22:03] sagangwee commented on #14072
User was eventually able to submit with errors after moving the first line of the text to above the image (to mirror the content).  The subsequent error we saw was:

`
"UnauthorizedUserException: Your session has expired, and unfortunately your changes cannot be saved. Please refresh the page.
`

The user also encountered the "Incomplete translation" error for not using commas instead of decimal p

[2021-10-19 22:11] #14057 closed, assigned to Radesh-kumar

[2021-10-20 03:49] subhash686 commented on #13162
I can work on these handlers in `topic_editor.py`, Those handlers mostly have `topic_id` and `topic_name` as parameters plus a couple other ones, I think I can handle schemas for that controllers. Please assign. Thanks!

 TopicEditorStoryHandler
 TopicEditorPage
 EditableSubtopicPageDataHandler
 EditableTopicDataHandler
 TopicRightsHandler
 TopicPublishSendMailHandler
 TopicPublishHandler
 TopicUr

[2021-10-20 04:18] seanlip commented on #14010
This should be fixed -- an old version of the exploration was cached.

@vojtechjelinek -- do you know why the cache wasn't cleared on deploy? This should be in the release instructions.

[2021-10-20 08:25] kevintab95 commented on #14059
Sorry for the late response!

No, I don't think so. When a translation is marked as stale, we keep the translation as-is but update the "needs update" field for a written translation object (as seen [here](https://github.com/oppia/oppia/blob/f5bdbb832018b3e6a30acd6d6eec2e7f1f230833/core/templates/domain/exploration/WrittenTranslationObjectFactory.ts#L53-L55).)

This is the same way we signal updat

[2021-10-20 09:36] vojtechjelinek commented on #13162
@subhash686 Done.

[2021-10-20 09:51] vojtechjelinek commented on #7450
@ZhanLiangUF Ah, sorry, that one is also removed (I missed it before).

[2021-10-20 14:19] U8NWXD opened #14107 "Backend test flake: test_tasks_scheduled_for_immediate_execution_are_handled_correctly"
The backend test `core.platform.taskqueue.cloud_tasks_emulator_test.CloudTasksEmulatorUnitTests.test_tasks_scheduled_for_immediate_execution_are_handled_correctly` [failed in develop](https://github.com/oppia/oppia/runs/3883499577?check_suite_focus=true) with the following error:

[code]

[2021-10-20 14:46] vojtechjelinek commented on #14011
@kevintab95 @aks681 Hey any update on this?

[2021-10-20 14:47] vojtechjelinek commented on #14024
@kevintab95 @aks681 Hey any update on this?

[2021-10-20 14:48] vojtechjelinek commented on #14056
@kevintab95 @aks681 Hey any update on this?

[2021-10-20 14:54] vojtechjelinek commented on #14010
@seanlip Ah, this was probably because of me, there were some Python 3 problems in the release and I needed to change the release process a bit and do some steps manually, then I forgot to do the cache invalidation (the one in our release coordinators page).

I think we should get rid of that cache anyway and we should fully rely on the caching provided as suggested in #6496

[2021-10-20 14:55] vojtechjelinek commented on #14022
@DubeySandeep Can you look into this please?

[2021-10-20 14:56] vojtechjelinek commented on #14009
@aks681 @kevintab95 Any update on this?

[2021-10-20 15:05] vojtechjelinek commented on #14080
@lheureuxe13 Hey, do you need to actually have the `--index-url=https://your-custom-index-server.com` in the requirements.txt (e.g. do you need to use the custom repo) or is it fine to remove it?

[2021-10-20 15:21] soumyo123-prog commented on #13162
@Nik-09  @vojtechjelinek  Can I work on `SkillDataHandler`, `FetchSkillsHandler`, `SkillDescriptionHandler`?

[2021-10-20 15:27] Nik-09 commented on #13162
@soumyo123-prog Done

[2021-10-20 16:45] lheureuxe13 commented on #14080
Hi @vojtechjelinek, this line is actually generated automatically anytime `services.start` is run unfortunately, at least in my case it has been (given my local pip index configuration)

I've found a solution to fix this and prevent it from happening in the future for anyone else who may have a custom pip index set - I'll be creating a PR within the next few hours

[2021-10-20 16:59] vojtechjelinek commented on #14080
@lheureuxe13 Great, thanks!

[2021-10-20 17:32] KarishmaVanwari commented on #10798
Hey @U8NWXD , is there any task open for me to work on?

[2021-10-20 22:47] #14019 closed, assigned to EricZLou

[2021-10-20 23:16] lheureuxe13 commented on #14080
PR has been created here: https://github.com/oppia/oppia/pull/14112, thanks!

[2021-10-21 02:41] U8NWXD commented on #10798
Deassigning @tiptondt1998 from `core/tests/protractor_utils/workflow.js` due to inactivity

[2021-10-21 02:41] U8NWXD commented on #10798
@KarishmaVanwari I've assigned you to `core/tests/protractor_utils/workflow.js`!

[2021-10-21 03:31] #14090 closed, assigned to nobody

[2021-10-21 04:44] kevintab95 opened #14113 "Only part of the card is being read out by the audio player"
**Describe the bug**
Only part of the card is being read out by the audio player.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/create/MRJeVrKafW6G'
 2. Preview "Picking up from last lesson"
 3. Try to play the audio.
 4. Observe that the audio only read out "In the last chapter, Aria and Omar finished planting their garden! Now, it is summer, and they are pic

[2021-10-21 07:58] KarishmaVanwari commented on #10798
Okay, thank you.

[2021-10-21 08:53] soumyo123-prog commented on #13162
@Nik-09 can I also take `NewTopicHandler` and `NewSkillHandler`? Because the previous handlers had very minor changes.

[2021-10-21 10:10] PranshuSrivastava commented on #14103
@vojtechjelinek Could you assign the issue to me please

[2021-10-21 11:39] vojtechjelinek commented on #13162
@soumyo123-prog Done.

[2021-10-21 11:47] KarishmaVanwari commented on #10798
Hey @U8NWXD , could you please let me know how can I check that the changes I made as per the requirements are up to the mark? Also, I could not figure out where to use the waitfor functions. I have gone through the link given for reference for the same.

[2021-10-21 13:31] mahendra1290 commented on #10798
Hey, @U8NWXD should I use action.sendKeys() here also.

![Screenshot from 2021-10-21 18-59-53](https://user-images.githubusercontent.com/42772952/138288033-95a7c5d9-cf52-43e2-9338-12e3cb15aa00.png)

[2021-10-21 17:30] vojtechjelinek commented on #14010
Closing, since it doesn't block the release anymore.

[2021-10-21 17:30] #14010 closed, assigned to vojtechjelinek

[2021-10-21 20:46] U8NWXD commented on #10798
@KarishmaVanwari to learn how to use the `waitFor` functions, take a look at their [source code](https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/waitFor.js). (More generally, being able to read source code to figure out how to use some function is a very valuable skill at Oppia, so this is great practice!)

There's no quick way to check that your changes are done well, but

[2021-10-21 20:49] U8NWXD commented on #10798
@mahendra1290 yes, you should. Note however, that `browser.switchTo().activeElement().sendKeys(...)` doesn't play nicely with our `action.js` functions, so you'll need to instead select the element using HTML classes. See the last point under the ["Anti-Patterns" section of the e2e wiki page](https://github.com/oppia/oppia/wiki/End-to-End-Tests#anti-patterns) for details

[2021-10-21 22:11] Showtim3 opened #14116 "Small Typo in core/controllers/admin.py"
core/controllers/admin.py
Line 191
`handlded` -> `handled`

[2021-10-22 00:25] mahendra1290 commented on #10798
@U8NWXD thanks for the help I got it 👍

[2021-10-22 04:32] EricZLou commented on #13603
All tasks are complete!

[2021-10-22 04:32] #13603 closed, assigned to nobody

[2021-10-22 06:49] kevintab95 commented on #8015
@nadintamer done!

[2021-10-22 10:54] KarishmaVanwari commented on #10798
Okay, thank you @U8NWXD

[2021-10-22 14:54] KarishmaVanwari commented on #14116
hey @Showtim3 can I take up this issue?

[2021-10-22 16:21] lheureuxe13 commented on #14033
Hi @vojtechjelinek, it seems like there's some confusion on creating TypedDict's (i.e. should we be creating a separate class for each TypedDict like is done [here](https://www.python.org/dev/peps/pep-0589/#class-based-syntax), or some other implementation)

Could you give an example for how these should be defined/created? Thanks

[2021-10-22 17:34] vojtechjelinek commented on #14033
~~I think you should use the [alternative syntax](https://www.python.org/dev/peps/pep-0589/#alternative-syntax) for TypedDict's and define the TypedDicts at a top of a file. So if we have a function that returns `{'id': 'abcd', 'active': True, 'count': 1}` and represent for example some kind of counter then the type variable should be `Counter = TypedDict('Counter', {'id': str, 'active': bool, 'co

[2021-10-22 18:31] KarishmaVanwari commented on #10798
@U8NWXD this is the error shown on my terminal when i push my code, could you please help me resolve it?

Please fix the errors below:

./portserver.socket is not listed in the .github/CODEOWNERS file.

Checks Not Passed.

[2021-10-22 18:35] mahendra1290 commented on #10798
Just delete it.

[2021-10-22 18:45] KarishmaVanwari commented on #10798
the codeowners file?

[2021-10-22 18:47] mahendra1290 commented on #10798
delete portserver.socket

[2021-10-22 19:04] KarishmaVanwari commented on #10798
i did this. Now my terminal is full of errors, almost infinitely saying:
Error from chokidar (/home/miracle/Desktop/opensource/oppia/node_modules/tslint/node_modules/.bin): Error: ENOSPC: System limit for number of file watchers reached, watch '/home/miracle/Desktop/opensource/oppia/node_modules/tslint/node_modules/.bin'

[2021-10-22 19:21] salmanansari14 commented on #14113
I understand this issue and also like to working on it !

[2021-10-22 19:54] U8NWXD commented on #10798
@KarishmaVanwari this is covered in the troubleshooting page: https://github.com/oppia/oppia/wiki/Troubleshooting#system-limit-for-number-of-file-watchers-reached

[2021-10-22 20:20] KarishmaVanwari commented on #10798
this worked, thank you!

[2021-10-22 20:25] KarishmaVanwari commented on #10798
@U8NWXD have a look at #14124

[2021-10-23 12:33] kalkas98 opened #14126 "Normalized values for url path elements are not passed on to the handler"
During normalization using schemas in the function `validate_and_normalize_args()`, in `core/controllers/base.py`, the normalized values for url path elements are not passed on to their handlers. Currently the normalized values for url path elements are assigned like this (line 391):

[code]

But `normalized_arg_values` is overwritten and the normalized values for url path elements are not made av

[2021-10-23 13:19] pankaj819kumar commented on #13956
@YBCS I want to work on this issue

[2021-10-23 14:52] vojtechjelinek commented on #13956
@pankaj819kumar I have assigned you `python_utils.string_io` and `python_utils.url_open`

[2021-10-23 15:12] sahiljoster32 commented on #10474
Hey! @vojtechjelinek, i have a question!

is it ok define a type on top of the file and then use it in the code, if we have a type that is very repetitive in code.
for example:- if we have `string | null` type that is used approx 10 to 15 times.

[2021-10-23 15:42] mridul-netizen commented on #10474
Hey @sahiljoster32, we shouldn't do it for built-in data-types like `string` but we can do it for some other type that we've defined on our own. For eg:
https://github.com/oppia/oppia/blob/aa8cad6d239149f7d07ea0d3471d855d05b37e04/core/templates/domain/email-dashboard/email-dashboard-backend-api.service.ts#L32

[2021-10-23 16:19] sahiljoster32 commented on #10474
Thanks @mridul-netizen

[2021-10-23 20:16] udyanojha commented on #10474
I would like to make my first contribution here. Could you please assign me a file @vojtechjelinek

[2021-10-24 06:52] SD-13 commented on #14033
Hey @sajalasati, Can you please assign me the following
 core/domain/skill_domain.py
 core/domain/state_domain.py
 core/domain/stats_domain.py

[2021-10-24 08:27] vojtechjelinek commented on #14033
@SD-13 Done.

[2021-10-24 08:29] SD-13 commented on #13162
@Nik-09 Can I also work on the following
RatingHandler
FlagExplorationHandler
LearnerIncompleteActivityHandler

[2021-10-24 08:35] vojtechjelinek commented on #13162
@SD-13  Done.

[2021-10-24 08:53] vojtechjelinek commented on #10474
@udyanojha Done.

[2021-10-24 09:19] aniketh-varma commented on #10474
Hi @vojtechjelinek, please reassign the file core/templates/pages/profile-page/profile-page.component.ts to me as I was working on it but got unassigned somehow.

[2021-10-24 09:36] #14021 closed, assigned to chris7716

[2021-10-24 10:39] vojtechjelinek commented on #10474
@aniketh-varma Done.

[2021-10-24 10:40] #14007 closed, assigned to rijusougata13

[2021-10-24 21:08] #14080 closed, assigned to vojtechjelinek

[2021-10-24 21:08] rijusougata13 commented on #14113
In my case there are  two option in audio player hindi and portguese. In hindi it's actually working fine! It's reading the whole card!

[2021-10-25 09:35] KarishmaVanwari commented on #13974
Is there any task open in this issue? @vojtechjelinek

[2021-10-26 00:53] #13846 closed, assigned to nobody

[2021-10-26 08:09] KarishmaVanwari commented on #13935
@YBCS is this issue open?

[2021-10-26 08:10] LoicIMT commented on #13764
Hey @EricZLou, I'm part of the team of seven french engineering students (we talked by email). We'd love to work on the claim: "An outcome labelled_as_correct should not be True if destination ID is (try again)." Could you assign me to this one?

[2021-10-26 08:10] KarishmaVanwari commented on #13830
Is this issue open? @ShivamJhaa @seanlip

[2021-10-26 09:56] kevintab95 commented on #14024
Moving to hotlist because this is reproducible on prod.

[2021-10-26 14:49] YBCS commented on #13935
@KarishmaVanwari as you can see, this issues consists of 4 sub issues out of which 2 are still open, so yes, its still open.
Feel free to contribute here : )

[2021-10-26 15:18] vojtechjelinek commented on #13956
@rishidyno Are you working on the `python_utils.open_file`?

[2021-10-26 15:22] vojtechjelinek commented on #13956
@PranshuSrivastava I have assigned you `python_utils.PRINT`.

[2021-10-26 15:28] kalkas98 commented on #10474
Hi, @vojtechjelinek. Could you please assign me `core/templates/pages/profile-page/profile-page-backend-api.service.ts`

[2021-10-26 18:36] #14056 closed, assigned to kevintab95

[2021-10-26 19:46] EricZLou commented on #13764
Hey @LoicIMT -- thanks for claiming a task! I've just realized that this task has already been completed. Why don't you all try out this one instead:
Topic `practice_tab_is_displayed` is true only when there are at least 10 practice questions in the topic.

Let me know what questions you have and if I can give you any hints + guidance. To start, it'll be helpful to search the codebase for `practic

[2021-10-27 02:27] ZhanLiangUF commented on #7450
@vojtechjelinek can you assign me to something open please?

[2021-10-27 10:53] vojtechjelinek commented on #7450
@ZhanLiangUF I have assigned you `suggestion_services_test.SuggestionServicesUnitTests`

[2021-10-27 12:21] JeeveshGarg commented on #9749
Hi, @ashutoshc8101 please assign me ` editor-reloading-modal.controller`.
Thanks.

[2021-10-27 12:45] salmanansari14 commented on #14113
But there are not reading the whole part of card in english

[2021-10-27 16:37] SD-13 opened #14141 "Split PreferencesHandler for proper schema validation"
We should split the `PreferencesHandler`. The problem is that the data that are sent in it are conditional on `update_type` and thus it is not possible to easily validate them using schema validation. We should separate `profile_picture_data_url` and `email_preferences` into their own handlers (as these make sense to logically separate and they are also quite big). Then instead of sending data con

[2021-10-27 17:48] #14052 closed, assigned to nobody

[2021-10-28 06:52] Lawful2002 commented on #9263
@krishita30j, @kevintab95   Could we link the story title to its URL fragment? As the overall story URL is unique, the name of the story would also be unique per topic

[2021-10-28 09:57] heyimShivam commented on #9749
hey, @JeeveshGarg I am already working on this issue please take another one thanks!

[2021-10-28 10:41] JeeveshGarg commented on #9749
Thanks @heyimShivam, PR is closed now.

[2021-10-28 10:55] JeeveshGarg commented on #9749
Hey, @ashutoshc8101 is it possible to assign me `help-modal.controller` or `confirm-discard-changes-modal.template`?
Thanks.

[2021-10-28 17:30] sagangwee commented on #12481
@sophiewu6 Could you take a look at this? You can look at https://github.com/oppia/oppia/pull/13742 for how we implemented editing for reviewers in question suggestions.

[2021-10-28 17:38] sagangwee commented on #12258
@jameesjohn Any update here? I'm still seeing the console errors in production.

[2021-10-28 17:41] sagangwee commented on #13659
@kevintab95 Should this be handled by the LaCE team seeing as it would be implemented in the exploration editor?

[2021-10-28 17:44] sagangwee commented on #12247
No longer seeing the console errors.

[2021-10-28 17:44] #12247 closed, assigned to nobody

[2021-10-28 17:57] sagangwee commented on #14072
Not able to repro the "incomplete translation" error for the card in https://github.com/oppia/oppia/issues/14072#issuecomment-947140117 either.

[2021-10-28 18:02] sagangwee commented on #14059
@kevintab95 So the solution here seems to be to make sure the translation progress takes into account the "needs update" field of the written translation. Would you be able to fix that?

[2021-10-28 19:13] SD-13 opened #14147 "Introducing rules for length validation."
**Introduction**
For working on this issue you are supposed to introduce a length check for `report_text` handler arg in frontend as well as backend (for FlagExplorationHandler).

Note that an audit job will need to be run on the server in order to ensure that the existing data on the server conforms with this validation, too.

[2021-10-29 05:12] DiptoChakrabarty commented on #14033
hey I am working on another issue which is almost complete can I take up core/domain/user_query_domain.py one

[2021-10-29 05:47] sahiljoster32 commented on #14033
Hey @vojtechjelinek , can you please assign me `core/domain/takeout_domain.py`.

[2021-10-29 14:44] heyimShivam commented on #9749
hey @ashutoshc8101, I would like to work on ` exploration-publish-modal.template ` please assign this to me.

[2021-10-29 15:02] vojtechjelinek commented on #14033
@DiptoChakrabarty @sahiljoster32 Done.

[2021-10-29 16:47] sagangwee opened #14150 "(monitor) [Contributor Dashboard] Certain words showing differently between translator and reviewer in Bangla suggestions"
Translators and reviewers are viewing the same word in different ways. For example, a translator types ![unnamed (1)](https://user-images.githubusercontent.com/9004726/139472450-894e17b9-320c-4aac-8deb-fee084d07d7d.jpeg) but reviewer sees it as ক্ রম.

Some bangla words that seem to be shown differently on the reviewer panel: "প্রকাশ", "গ্রাহ্য", "উত্তর", "পুনরাবৃত্তি", "প্রতিবার", "স্ট্রবেরি", "স

[2021-10-29 16:55] sagangwee commented on #14150
@kevintab95 We should be displaying the same html/unicode for the translation here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review.directive.html#L47. Any idea why the schema based editor output would differ?

[2021-10-29 17:45] udyanojha commented on #10474
Hi! @vojtechjelinek I hope you're doing well.
So, I'm working on this file "core/templates/services/playthrough.service.ts"
But while checking for errors I got errors in its spec file too "core/templates/services/playthrough.service.spec.ts"
I fixed the errors first on spec file on my local machine should I ask to get spec file assign too?
Thank you

[2021-10-29 17:47] namangirdhar16 commented on #14033
@vojtechjelinek could you please assign me core/domain/story_domain.py.

[2021-10-29 17:52] namangirdhar16 commented on #13162
@Nik-09 @vojtechjelinek could you please assign me
 QuestionPlayerHandler
 LearnerAnswerDetailsSubmissionHandler
 RecentCommitsHandler ?

[2021-10-29 17:59] SD-13 commented on #13162
@Nik-09 @vojtechjelinek can I also work on these handlers
 ReleaseCoordinatorPage, JobsHandler,
 JobOutputHandler,
 MemoryCacheHandler

[2021-10-29 18:06] sagangwee commented on #8559
Design doc: https://docs.google.com/document/d/1XDkVl-pjZkM5WXjJuzwUyic8knBr4aLM_A9VPdo5-BA/edit#heading=h.24wysknhgyrz

[2021-10-29 18:07] sagangwee commented on #12481
Actually assigning to Jim for now as I think the question filtering issue is a better fit since we already worked on the translation filtering: https://github.com/oppia/oppia/issues/8559

[2021-10-29 20:29] vojtechjelinek commented on #14033
@namangirdhar16 Done!

[2021-10-29 20:41] vojtechjelinek commented on #10474
As is explained in the issue, the spec file should be fixed together with the normal file.
![image](https://user-images.githubusercontent.com/10142938/139499177-7f453a3c-cfc0-4e02-9528-582a688daa16.png)

[2021-10-30 03:20] chiragbaid7 commented on #14033
Hi @vojtechjelinek can you plz assign me the following tasks
`core/domain/subtopic_page_domain.py`  `core/domain/topic_domain.py`  `core/domain/user_domain.py`.

[2021-10-30 04:39] JayVivarekar commented on #14033
Hi @vojtechjelinek Can I be assigned core/domain/value_generators_domain.py?

[2021-10-30 04:47] namangirdhar16 commented on #11496
Hi @U8NWXD i would like to work on the issue .length of ElementArrayFinders, please assign this to me.

[2021-10-30 04:51] namangirdhar16 commented on #8015
Hey @DubeySandeep @kevintab95 i would like to work on the issue core/templates/domain/skill/skill-backend-api.service.ts, please assign this to me.

[2021-10-30 05:49] namangirdhar16 commented on #8038
@DubeySandeep @vojtechjelinek @nishantwrp i would like to work on this issue: core/templates/services/search.service.ts, please assign me

[2021-10-30 08:17] vojtechjelinek commented on #13667
@kevintab95 @aks681 Hey, do you have someone that we can assign this to?

[2021-10-30 08:19] vojtechjelinek commented on #14009
@Rijuta-s Any update on this?

[2021-10-30 12:35] DubeySandeep commented on #14022
We have an error-message field below the username input section, maybe show the error message there for consistency!

Code pointers:

https://github.com/oppia/oppia/blob/4d27b837d506b7e141019c2af1b0902a36c4ed65/core/templates/pages/admin-page/roles-tab/admin-roles-tab.component.ts#L67-L73

Need to handle the error case here and add warning message as needed!

[2021-10-30 14:33] DiptoChakrabarty commented on #14033
![Selection_043](https://user-images.githubusercontent.com/45638240/139537411-9d068095-83d4-46f2-aa2a-3fe3a4a2b997.png)
Hey I am getting this error while running mypy checks for collections.namedtuple in the core/domain/user_domain_query.py file , can someone help

[2021-10-30 14:40] heyimShivam commented on #8016
hey, @ashutoshc8101 @mridul-netizen I would like to work on `core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts` please assign this to me?

[2021-10-30 15:15] heyimShivam commented on #8016
hey, @ashutoshc8101 @mridul-netizen I would like to work on `core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts`. please assign this to me.

[2021-10-30 16:31] #13440 closed, assigned to chris7716

[2021-10-30 17:37] ProttoyChakraborty commented on #13162
@vojtechjelinek  @Nik-09  Can you please assign the following handlers to me -
1) `FeedbackThreadStatusChangeEmailHandler`
2) `InstantFeedbackMessageEmailHandler`
3) `SuggestionEmailHandler`

[2021-10-30 22:15] aks681 opened #14154 "The save_datastore flag doesn't work locally"
**Describe the bug**
The `--save_datastore` flag doesn't work when a previous server was closed with existing data in the datastore.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start a server without this flag and save some explorations.
 2. Close the server and start it again with the '--save_datastore'

Note: Server was run both times with the `--no_browser` flag (if that is connected

[2021-10-31 05:22] U8NWXD commented on #11496
@namangirdhar16 done

[2021-10-31 05:35] kingjuno commented on #11314
@seanlip I would like to work on this issue.
[code]
Can I start working on this one?

[2021-10-31 06:57] nithinrdy commented on #10616
Hello @Hudda, may I work on @typescript-eslint/consistent-type-definitions?

[2021-10-31 11:39] JeeveshGarg commented on #8016
@DubeySandeep - I'm new to the community and would like to work on this issue! Is there a specific directive that you suggest I start with? Thanks!

[2021-10-31 14:02] ProttoyChakraborty opened #14156 "misplaced navigation arrow on library page Carousels"
**Describe the bug**
The navigation buttons for carousels on the community-library page are not in place.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/community-library
 3. Scroll down to "Top-Rated Explorations"
 4. See the out of place navigation arrows

**Observed behavior**
Out of place navigation buttons

**Expected behavior**
in place navigation buttons

[2021-10-31 14:26] adkrgu commented on #13974
Hi @vojtechjelinek! I see it has been plenty of time since the issue was opened and is not closed yet.

If there's anything available to work on, I'd love to. Thanks.

[2021-10-31 14:32] adkrgu commented on #14156
Hey @vojtechjelinek! I have checked the screenshots you have attached. Seems like I can manage fixing it.

Kindly assign me this issue. Thanks!

[2021-10-31 14:34] ProttoyChakraborty commented on #14156
@vojtechjelinek PTAL , as I cannot assign yet.....

[2021-10-31 15:03] #14055 closed, assigned to Rijuta-s

[2021-10-31 15:28] Rijuta-s commented on #14009
@vojtechjelinek  It is expected behaviour, however it looks a bit broken maybe because the background banner is not evenly spread behind.Working on fixing that.

[2021-10-31 17:45] seanlip commented on #14011
Note: thanks to Om, there are some mocks for this here (near the bottom): https://docs.google.com/document/d/1-bRcvAM5bUhuohK5xovu4K13qU40xycmnAeQr6_45Pc/edit#heading=h.c91sh8euhoqu

[2021-10-31 17:55] seanlip commented on #14009
Discussed in LaCE meeting; probably the best fix for now is to add animation to the Web side of things so that the behaviour is at least consistent on both web and mobile. We can look into future redesigns later.

[2021-11-01 02:22] seanlip commented on #14147
@SD-13 Could you please clarify exactly what you mean by "Also, you need to take care of all the existing data already passed in this handler arg."?

[2021-11-01 05:42] seanlip commented on #11314
Hi @kingjuno, thanks for asking! You would be welcome to, but it is not straightforward; you'll need to make sure to do proper manual testing to ensure that everything works correctly after the refactor. If you're still up for it, then definitely, please feel free to give it a go.

[2021-11-01 05:59] Hudda commented on #10616
@nithinrdy I've assigned you.

[2021-11-01 06:31] kingjuno commented on #11314
Sure,
I will give it a shot.

[2021-11-01 07:00] anurag629 commented on #14156
@vojtechjelinek  assign me please

[2021-11-01 09:03] EricZLou commented on #14154
+1: see #13814

[2021-11-01 09:04] #13790 closed, assigned to nobody

[2021-11-01 11:11] vojtechjelinek commented on #14156
@kevintab95 @aks681 Just a note about this as this should probably be fixed ASAP.

[2021-11-01 12:07] SD-13 commented on #14147
@seanlip I am trying to point out those data that have already passed through this arg `report_text` before the new rules are implemented. I think they should also be in consideration before applying the validation method. Thanks :)

[2021-11-01 12:45] kalkas98 commented on #14033
@sajalasati Could you please assign me `core/domain/wipeout_domain.py`

[2021-11-01 12:50] vojtechjelinek commented on #14033
@kalkas98 Done.

[2021-11-01 16:58] vojtechjelinek commented on #14033
@chiragbaid7 @JayVivarekar Done.

[2021-11-01 23:31] seanlip commented on #14147
Thanks @SD-13. I clarified the issue accordingly.

[2021-11-02 07:38] Nincan commented on #10798
Hey, I am new to contributing to open source and have understood this issue and am willing to work on it. Could you please assign the file core/tests/protractor_utils/workflow.js to me?

[2021-11-02 11:38] SD-13 commented on #14147
Thanks,  @seanlip .

[2021-11-02 13:25] ayushjaink8 commented on #13162
@Nik-09 @krishita30j  I want to work on the following handlers:
1.PromoBarHandler
2. SkillEditorPage
3. SkillRightsHandler
Could you please assign these to me?

[2021-11-02 14:55] vojtechjelinek commented on #13162
@namangirdhar16 @SD-13 @ProttoyChakraborty @ayushjaink8 Done.

[2021-11-02 15:45] #14094 closed, assigned to seanlip

[2021-11-02 17:09] seanlip commented on #6069
Deassigning @ARKEOLOGIST because he isn't working on this.

/cc @krishita30j @Rijuta-s Might be a good issue for the LaCE quality team?

[2021-11-02 17:09] seanlip commented on #12165
Deassigning @ARKEOLOGIST because he isn't working on this.

/cc @krishita30j @Rijuta-s Might be a good issue for the LaCE quality team?

[2021-11-02 18:05] sahiljoster32 opened #14169 "Remove the interstitial story so that full story can be created from start."
**current scenario**
currently we're creating interstitial story that would be displayed in the editor until the actual story is fetched from the backend.
which leads us to assigning some fields as a nulll value.

**suggested solution**
remove interstitial story method and try to create full story from start.
for this we need to remove interstitial story from following files,
`core/templates/domai

[2021-11-02 20:32] sagangwee opened #14170 "[Contributor Dashboard] Formalize new translator flow"
The process for new translation contributors will roughly be as follows:
* All users can view translation opportunities on contributor dashboard.
* Only onboarded translators can submit translations.
* To onboard as a translator, a user must submit sample translations via a form linked on the CD and be approved by a translation coordinator.

[2021-11-03 10:52] vojtechjelinek commented on #14024
@kevintab95 Any update on this?

[2021-11-03 10:52] vojtechjelinek commented on #13667
@kevintab95 @aks681 Any update on this?

[2021-11-03 10:53] vojtechjelinek commented on #14022
@DubeySandeep Will you be working on this? This should be fixed before the next release is cut.

[2021-11-03 10:53] vojtechjelinek commented on #14011
@kevintab95 @aks681 Any update on this?

[2021-11-03 10:53] vojtechjelinek commented on #14009
@Rijuta-s Any update on this?

[2021-11-03 10:54] vojtechjelinek commented on #14156
@kevintab95 @aks681 Any update on this?

[2021-11-03 16:14] Shreyansh-Rai opened #14173 "_ctypes not found and using python 3.9 gives an error"
Hello I am new to open source and am using an M1 mac and I have created a virtual env with python 3.7.10 as required however the installation gives an error when I use 3.7 it says that pyyaml is not found and when I try to install pyyaml, it says that _ctypes is not found. Now the trouble shooting page said that using 3.9 to do that bit works and while that is true running the start script with 3.

[2021-11-03 18:23] Rijuta-s commented on #14009
@vojtechjelinek Will raise a PR by Nov 4 EOD, the PR fixes other important issues with practice question tab as well.

[2021-11-03 19:21] SD-13 commented on #13162
@vojtechjelinek most of them don't need to write schema. So, Can I also take `ExplorationCompleteEventHandler`, `ExplorationMaybeLeaveHandler` and `SolutionHitEventHandler`?

[2021-11-04 00:11] U8NWXD commented on #10798
@Nincan sorry, that task is already assigned. You can look at our [other starter issues](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#starter-projects-for-new-contributors) instead though!

[2021-11-04 05:17] nadintamer commented on #8015
Hi @kevintab95! I'm working on `pretest-question-backend-api.service.ts` — all the frontend tests are currently passing but I was wondering if you could point me to how I can best test this manually on the dev server before I open a PR? Are pretest questions different from the questions that are normally displayed during explorations / how can I trigger calls to this service? Thanks!

[2021-11-04 05:17] Sreelayavuyyuru commented on #14173
Hey, Idk if this would solve the issue for you but you can check it out. I am not a maintainer of this repo, just looking to help you out :)
https://www.pythonpool.com/modulenotfounderror-no-module-named-_ctypes-solved/

[2021-11-04 05:27] Shreyansh-Rai commented on #14173
Thanks for the reply! I tried this out but sadly trying to install the library spits out an error right at the end and installing pyyaml gives the same error saying _ctypes was not found...

[2021-11-04 12:20] vojtechjelinek commented on #13162
@SD-13 Done.

[2021-11-04 17:55] seanlip commented on #11749
It looks like this never got picked up, but the key in question has been removed, so I think this issue can be closed.

[2021-11-04 17:55] #11749 closed, assigned to kevintab95

[2021-11-04 18:05] seanlip commented on #12858
Update: I have opened a PR to add support for Dutch, Slovak and Ukrainian. See PR #14183.

[2021-11-04 18:10] seanlip commented on #4913
Just an update -- the technical updates took quite a bit longer than expected, but are done now (sorry about that). I have recently opened a PR to add Dutch, Slovak and Ukrainian and these languages should be out in the next release. In the future, any languages reaching 90% translation will be added as well. (Currently the Finnish translation percentage is at 79%, but if it gets to that threshold

[2021-11-04 18:10] #4913 closed, assigned to nobody

[2021-11-04 18:21] sagangwee commented on #11434
@sophiewu6 Any update on this? Seems we lost track of this feature.

[2021-11-04 20:56] sagangwee commented on #14027
Fixed in https://github.com/oppia/oppia/pull/14151.

[2021-11-04 20:56] #14027 closed, assigned to sagangwee

[2021-11-04 20:58] sagangwee commented on #14072
https://github.com/oppia/oppia/pull/14151 surfaces the `UnauthorizedUserException` error as an alert message.

Since we haven't been able to repro the "incomplete translation" error, going to close this out for now.

The current translation error messages seem fine.

[2021-11-04 20:58] #14072 closed, assigned to sagangwee

[2021-11-05 00:41] U8NWXD opened #14187 "Cover Remaining Frontend Code Files With Tests"
**Note that this is _not_ a starter issue. The tasks here have not been screened to make sure they are appropriate for new contributors.**

Remaining files that need frontend test coverage:

Angular2+ files:

* [x] answer-classification.service.ts @soumyo123-prog
* [ ] audio-preloader.service.ts @ayushjaink8
* [ ] ck-editor-4-rte.component.ts
* [ ] ck-editor-4-widgets.initializer.ts
* [x] collecti

[2021-11-05 03:49] ZhanLiangUF commented on #7450
@vojtechjelinek Can you unassign me from SuggestionServicesUnitTests? Thank you.

[2021-11-05 04:31] mahendra1290 commented on #14187
@U8NWXD I would like to work on `oppia-footer.component.ts`. Please assign it to me

[2021-11-05 08:20] Lawful2002 opened #14188 "Score Circle on the results page not rendering properly"
**Describe the bug**
The score circle doesn't seem to render the score properly on the results page

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a Topic with a subtopic and a linked skill and publish it (assign it to a classroom)
 2. Navigate to the classroom page and start a test session
 3. Complete the test session
 4. See error

**Observed behavior**
Score ring is just a solid

[2021-11-05 10:27] siebrand commented on #12858
Thanks, @seanlip for your persistence in this area. Is there a documented "language support policy" for Oppia? I.e. something that documents what is necessary for adding support for a language in the web platform, as is now underway for a few languages in #14183? Most often, there is a minimum percentage of strings available for translation that needs to be translated before a UI language is added

[2021-11-05 10:49] kalkas98 commented on #13162
@vojtechjelinek Can I work on these:
`TopicsAndSkillsDashboardPageDataHandler`
 `TopicAssignmentsHandler`
 `SkillsDashboardPageDataHandler`

[2021-11-05 11:42] anubhutiv opened #14189 "Unable to "update" during review"
**Describe the bug**
The content is not being updated on click of "update" button during review

**To Reproduce**
Steps to reproduce the behavior:
 1. On contributor dashboard Go to 'Review translations'
 2. Click on any card and then click on "Edit". Edit the translation.
 3. Click on "Update"
 4. Note that the translation is not updated and is the old one.

**Observed behavior**
The editing disa

[2021-11-05 13:26] Sreelayavuyyuru commented on #14173
I tried setting up on my M1 Mac and I am getting the same error. Are you opening the terminal using Rosetta or the default terminal?

[2021-11-05 15:19] U8NWXD commented on #14187
@mahendra1290 done! Now that you're a collaborator, I think you have access to edit the issue description directly. You can just assign yourself in the future since this isn't a starter issue and is mostly just for our team

[2021-11-05 15:29] mahendra1290 commented on #14187
@U8NWXD got it. Thanks !

[2021-11-05 15:30] seanlip commented on #12858
Yes, this is documented on the translatewiki page that you linked to. See the "Exports" section on that page; the threshold is 90%.

[2021-11-05 17:56] DubeySandeep commented on #11699
Closing this issue as it's already been tracked on #5097

[2021-11-05 17:56] #11699 closed, assigned to nobody

[2021-11-05 18:04] sajalasati commented on #5097
@AdityaDubey0 I've assigned you the task `declaration-no-important`.

[2021-11-05 18:35] aks681 commented on #14154
Closing it, since duplicate

[2021-11-05 18:35] #14154 closed, assigned to nobody

[2021-11-05 18:38] ShivamJhaa commented on #8472
Hey, @PranshuSrivastava are you still working on learner-view-rating.service.ts?

[2021-11-05 18:38] aks681 commented on #13813
Except the 'Continue' text in the interaction, which is user editable, everything else is handled in #14158.

[2021-11-05 19:40] kevintab95 commented on #13667
@Rijuta-s @krishita30j could you PTAL this since it relates to quality aspects of the math classroom page?

[2021-11-05 19:41] kevintab95 commented on #14011
@aks681 could you take a look at this please?

[2021-11-05 19:42] kevintab95 commented on #14024
We're working with the angular team to figure out how to fix this. I've added you to the email thread discussing the issue.
/cc @seanlip @srijanreddy98

[2021-11-05 19:44] kevintab95 commented on #14156
@Rijuta-s @krishita30j could you help with this one since it affects quality of the library page? Thanks!

[2021-11-05 20:10] sophiewu6 commented on #11434
@sagangwee i have finished most of the code. Just some tests were failing. Will fix those and open a PR.

[2021-11-06 04:35] paprajapati9 commented on #10474
Hey @vojtechjelinek , I am a new contributor. Can you please assign `extensions/interactions/MusicNotesInput/directives/music-phrase-player.service.ts` to me.

[2021-11-06 05:59] nithinrdy commented on #11761
Hello @ARKEOLOGIST , may I take a look at this issue?

[2021-11-06 05:59] ARKEOLOGIST commented on #11761
Sure!

[2021-11-06 09:42] mohithk100 commented on #13162
@vojtechjelinek @Nik-09 Can you assign me some handlers to work on?

[2021-11-06 11:16] paprajapati9 commented on #10474
Hey @vojtechjelinek, was working on  ` core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts` and was getting this error related to stateAndContent variable that Property 'stateName' does not exist on type 'never'.
![image](https://user-images.githubusercontent.com/42764756/140607511-8dc8fe45-89de-457c-b5ef-2ddfa9449993.png)

This is how the variable is defined, can yo

[2021-11-06 17:24] #14009 closed, assigned to Rijuta-s

[2021-11-06 17:54] Rijuta-s commented on #14156
@kevintab95  @vojtechjelinek I am not able to reproduce it on locally for any screen size:
![Screenshot from 2021-11-06 23-22-32](https://user-images.githubusercontent.com/68547101/140619130-706098b6-dc49-49b5-af79-3afebc1a7f96.png)
![Screenshot from 2021-11-06 23-22-50](https://user-images.githubusercontent.com/68547101/140619132-ae340f09-7cd9-453d-a470-04611c2add0f.png)

[2021-11-06 18:37] nithinrdy commented on #11761
Could you let me know if this is the expected behaviour?

https://user-images.githubusercontent.com/78612244/140620236-d0ac156a-5c6f-4252-b7d5-e2c0ae79490a.mp4

[2021-11-07 06:25] JayVivarekar commented on #13162
@Nik-09 Can I work on AudioUploadHandler and StartedTranslationTutorialEventHandler?

[2021-11-07 07:44] #14116 closed, assigned to nobody

[2021-11-07 09:40] nithinrdy commented on #11761
@ARKEOLOGIST PTAL at the above comment, I think you didn't get notified because I forgot to tag you.

[2021-11-07 09:42] nithinrdy commented on #11761
@ARKEOLOGIST PTAL at the above comment, I think you didn't get notified because I forgot to tag you

[2021-11-07 09:48] nithinrdy commented on #11761
@ARKEOLOGIST Could you let me know if this is the expected behaviour?

https://user-images.githubusercontent.com/78612244/140620236-d0ac156a-5c6f-4252-b7d5-e2c0ae79490a.mp4

[2021-11-07 13:43] heyimShivam commented on #8472
I would like to work on this suggestion-modal-for-creator-view.service.ts

[2021-11-07 13:44] heyimShivam commented on #8472
@ashutoshc8101

[2021-11-07 13:44] ShivamJhaa commented on #8472
I would like to work on  story-creation.service.ts.
Thanks.

[2021-11-07 13:45] ashutoshc8101 commented on #8472
@ShivamJhaa Assigned.

[2021-11-07 13:45] ashutoshc8101 commented on #8472
@heyimShivam I have assigned you the file.

[2021-11-07 14:20] ashutoshc8101 commented on #8472
As per offline discussion with @heyimShivam, I have changed the assigned file to `entity-creation.service.ts`. I have also removed the `suggestion-modal-for-creator-view.service.ts` from this issue as this file is expected to be removed.

[2021-11-07 14:44] paprajapati9 commented on #10474
Hey @vojtechjelinek , can you please assign `core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts` to me.

[2021-11-07 14:55] PranshuSrivastava commented on #8472
@ShivamJhaa i am not working on that file currently. Feel free to assign it to yourself.

[2021-11-07 16:19] namangirdhar16 commented on #10700
hi @srijanreddy98  i'd like to work on fraction refactoring

[2021-11-07 17:30] vojtechjelinek commented on #10474
@paprajapati9 Assigned you both.

[2021-11-07 17:32] vojtechjelinek commented on #13162
@mohithk100 @JayVivarekar @kalkas98 Done.

[2021-11-07 17:47] vojtechjelinek commented on #14156
@Rijuta-s I cannot see this happening on the oppia.org either. @ProttoyChakraborty Can you confirm that this error still exists?

[2021-11-07 18:02] SanjaySajuJacob commented on #13162
@vojtechjelinek can I work on `ExplorationStartEventHandler`  and  `ExplorationActualStartEventHandler`. I will surely take a third handler as soon as I find a suitable one to work on. Thanks!

[2021-11-07 18:16] vojtechjelinek commented on #13162
@SanjaySajuJacob Done.

[2021-11-07 19:10] ayushjaink8 commented on #13162
@vojtechjelinek  can you please check and confirm my PR: #14171 .

[2021-11-07 19:23] iamprayush opened #14199 "Math OSK has broken UI on iOS mobile devices."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open a lesson that uses a math interaction in an iOS device and try to type something

**Observed behavior**
The OSK's UI is broken.

**Expected behavior**
The OSK should appear properly.

**Screenshots**

https://user-images.githubusercontent.com/12034267/128642276-ee843

[2021-11-07 20:38] JeeveshGarg commented on #8016
hey @mridul-netizen i would like to work on

`core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-review-modal.controller.ts`

`core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts`

[2021-11-07 20:53] nadintamer commented on #13764
Hi @EricZLou! I'd like to work on this, could you please assign me one of the available checks? Thanks :)

[2021-11-07 21:37] EricZLou commented on #13764
Awesome! @nadintamer -- why don't you try this out:
Topic `page_title_fragment_for_web` should be non-empty, with min-length 5 and max-length 50.

Here is a reference PR for it: #13777

_Hint: notice that there is constant called `MAX_CHARS_IN_PAGE_TITLE_FRAGMENT_FOR_WEB`_

[2021-11-08 01:11] #14004 closed, assigned to jimbyo

[2021-11-08 05:07] devanshkat opened #14200 "Text Box Whitespace Not Showing Up on Client End"
In the text box where the content of a card is, when you try to add spaces in front of a line and click save, it is the same as if you put no spaces in front of the line. This also shows up on the client's end.

Steps to recreate behavior:

1. Create a new exploration.
2. Add spaces to the beginning of a line, then some text after it.
3. Click save.
4. See error.
5. Click preview.
6. See error.

O

[2021-11-08 06:51] seanlip commented on #14200
Assigning to the LaCE quality team since this is an active bug affecting the creator/learner experience.

[2021-11-08 07:07] Rijuta-s commented on #12165
@paprajapati9 Assigned it you. Thank you

[2021-11-08 07:16] anurag629 commented on #14156
@vojtechjelinek assign me please i want to work on this

[2021-11-08 09:13] soumyo123-prog commented on #14187
working on `release-coordinator-page.component.ts`, `player-correctness-feedback-enabled.service.ts`

[2021-11-08 09:39] paprajapati9 commented on #12165
Also found this skill description overflow issue while fixing the above
![overflow_on_topics_and_skills_dashboard](https://user-images.githubusercontent.com/42764756/140718113-c73ad657-0498-4243-b5f0-85a6a02cdd94.png)

- OS: Ubuntu 20.04.3
- Browser: Chrome
- Browser-version: 94.0.4606.81 (Official Build) (64-bit)

[2021-11-08 10:09] krishita30j commented on #13795
Fixed by #14069.

[2021-11-08 10:09] #13795 closed, assigned to krishita30j

[2021-11-08 10:25] krishita30j commented on #11541
Fixed by #13485

[2021-11-08 10:25] #11541 closed, assigned to krishita30j

[2021-11-08 10:38] vojtechjelinek commented on #14156
@anurag629 Rijuta is already looking into this.

[2021-11-08 10:38] krishita30j commented on #14156
@vojtechjelinek, I can see this issue on oppia.org but not on the dev server. I think this can be solved by removing the `max-width: 944px` from the `oppia-library-group` class (Since there is no way to test this locally)?

[2021-11-08 10:42] vojtechjelinek commented on #14156
@krishita30j We have discussed this with @Rijuta-s  and we wanted to test it on the test server after we do the release cut. If you think that you know the solution the feel free to go ahead and create a PR.

Also, why is it not possible to to test this on the dev server?

[2021-11-08 10:44] siebrand commented on #12858
I see Dutch/nl is present as a UI language now. The top of the first page for non-logged in visitors is fully localized in Dutch. That's fantastic!

A list of comments/questions:

Additionally, the UI still has a lot of English in it, even though the localisation level is close to 100%.

1. I do not see Dutch/nl in the languages dropdown main menu item ("globe"). Is that something different from a

[2021-11-08 10:57] namangirdhar16 opened #14202 "Development Server not running without showing any errors in the log."
![image](https://user-images.githubusercontent.com/64246118/140730254-4265dc29-b43d-48cb-ac36-debd2a0ac40b.png)

[2021-11-08 10:59] namangirdhar16 commented on #14202
I have followed all the steps mentioned in the docs: [link](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%3B-Python-3%29), but when i try to run python -m scripts.start i get this output as referenced in the above image.

[2021-11-08 11:08] mridul-netizen commented on #14202
@vojtechjelinek PTAL!

[2021-11-08 11:16] vojtechjelinek commented on #14202
@namangirdhar16 Hey, can you post the whole output that you get? Also, do you have Python 2 installed?

[2021-11-08 11:17] namangirdhar16 commented on #14202
@vojtechjelinek sure, i updated python2 to python 3.7.

[2021-11-08 11:20] vojtechjelinek commented on #14202
@namangirdhar16 Hmm, there is not update from Python 2 to Python 3.7, they are different versions and you need both in order to develop Oppia.

[2021-11-08 11:25] namangirdhar16 commented on #14202
@vojtechjelinek I mean i have both. python2 and python 3.7.

![image](https://user-images.githubusercontent.com/64246118/140734369-c0559100-0565-4cb5-aa7a-5e6f9eceb30d.png)

[2021-11-08 11:26] namangirdhar16 commented on #14202
@vojtechjelinek this time when i ran python -m scripts.start i got this
![image](https://user-images.githubusercontent.com/64246118/140733977-9225f043-1f82-492a-bceb-48420b05006a.png)

[2021-11-08 11:37] namangirdhar16 commented on #14202
Here is the reference to the above mentioned:
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/64246118/140735455-7166d90c-ffe0-4318-b544-5707ce1d9061.gif)

[2021-11-08 11:57] vojtechjelinek commented on #14202
@namangirdhar16 Please, paste the output as a text, it is hard to analyze it from images or GIFs.

[2021-11-08 12:25] namangirdhar16 commented on #14202
sure

[2021-11-08 12:40] namangirdhar16 commented on #14202
@vojtechjelinek now i'm getting this error
![image](https://user-images.githubusercontent.com/64246118/140743632-aa791425-f895-4bae-99e8-9f057d50f276.png)

## Text:
[code]

[2021-11-08 13:29] vojtechjelinek commented on #14202
Please try to delete the ../oppia_tools folder and run the start script again. Also when you past the output put it into brackets like this
\`\`\`
output
\`\`\`

so that is is readable.

[2021-11-08 13:51] namangirdhar16 commented on #14202
@vojtechjelinek  I removed oppia_tools folder and after running `python -m scripts.start` it's now giving me this error:

[code]

Screenshot:

![image](https://user-images.githubusercontent.com/64246118/140753655-ee714244-57b0-4ed8-bdca-9419fe8b11c8.png)

[2021-11-08 14:12] ProttoyChakraborty commented on #14156
@vojtechjelinek, I went through the issue at oppia.org, it seems to be that the issue happens only when the user is not signed in, attaching screenshots for reference
1) not signed-in
![Screenshot (22)](https://user-images.githubusercontent.com/79779262/140756662-5ac1af1e-715c-4461-bef7-1f73681a69e8.png)
-
2) signed in
![Screenshot (21)](https://user-images.githubusercontent.com/79779262/140756721

[2021-11-08 14:34] vojtechjelinek commented on #14156
@ProttoyChakraborty Oh, interesting observation.

[2021-11-08 14:38] Rijuta-s commented on #14156
@ProttoyChakraborty Thanks a lot. I was able to reproduce it locally. @vojtechjelinek  I and @krishita30j  will try to raise  a PR asap.

[2021-11-08 15:52] chiragbaid7 opened #14204 "Refactor UpdateQuestionSuggestionHandler to use the normalized_request files."
PR #14063 adds schema validation for `SuggestionHandler` and introduces new approach to save multiple images.Since images are base64 encoded in some parts of code, so it's necessary that `UpdateQuestionSuggestionHandler` must also follow the same approach to handle images.

[2021-11-08 19:37] SanjaySajuJacob commented on #13162
@vojtechjelinek can  you please assign me the ` StoryUrlFragmentHandler`. Thanks!

[2021-11-08 21:25] vojtechjelinek commented on #13814
This was fixed in #14133

[2021-11-08 21:25] #13814 closed, assigned to nobody

[2021-11-08 21:50] sagangwee opened #14206 "[Contributor Dashboard] Unable to remove question contribution rights in admin dashboard"
We're seeing `InvalidInputException
Schema validation for 'language_code' failed: Validation failed: is_supported_audio_language_code ({}) for object null` when trying to remove question contribution rights.

<img width="1272" alt="Screen Shot 2021-11-08 at 4 49 25 PM" src="https://user-images.githubusercontent.com/9004726/140823762-9b72375e-4237-4d2f-a2d2-c06af3e375d8.png">

[2021-11-09 04:38] seanlip commented on #12858
Hi @siebrand,

Thanks for your feedback, really appreciate it! I'm a bit confused by some of it though, so let's talk about it here and then we can make sure it gets to the appropriate subteams.

I'm a bit confused -- where are you seeing this? We haven't deployed the PR that adds Dutch to production yet. This will take 2-3 more weeks. This also addresses (1).

For (2): we are in the middle of rev

[2021-11-09 04:51] nithinrdy commented on #11761
@ARKEOLOGIST Please take a look at the above comment.

[2021-11-09 06:42] paprajapati9 opened #14207 "Large description leads to scroll in the skills section on topics and skills dashboard page"
**Describe the bug**
If the skill description is too long it overflows from skill description container in skills section on topics and skills dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skill dashboard with admin rights.
 2. Add a skill with large description and do back to the dashboard again
 3. Go to the skills section
 4. See error

**Observed behav