[2018-09-29 00:11] #5707 closed, assigned to nobody

[2018-09-29 09:31] #5683 closed, assigned to aks681

[2018-09-29 20:34] sstone-codaio opened #5713 "Change asset handler url to make it clearer that it's used in dev mode"
As a follow up to issue #5445, let's change the asset handler url to /assetsdevhandler/<exploration_id>/assets/...

The handler classes are now used only in dev mode. In prod, this logic is now handled by GCS.

[2018-09-30 04:28] #5445 closed, assigned to sstone-codaio

[2018-09-30 06:36] apb7 opened #5714 "Remove pylint: disable=relative-import"
We use `pylint: disable=relative-import` at a lot of places in the code base. This can be removed by changing the problematic imports of the form: `import XXX` to `from . import XXX` and `from AAA/BBB import CCC` to `from .AAA/BBB import CCC`.

[2018-09-30 07:44] netajik commented on #4374
Hi @seanlip, would you review my pull request.

[2018-09-30 18:23] vibhor98 commented on #4374
Hi @tonadev, please note that the file that you've been assigned `custom_lint_checks.py` has been renamed to `pylint_extensions.py`. Thanks!

[2018-10-01 02:52] netajik commented on #4374
Hi @vibhor98 , would you review my pull request.

[2018-10-01 09:29] sanket-mali commented on #5714
assign me..

[2018-10-01 16:13] 1995YogeshSharma commented on #5706
@seanlip, Is there any reason for allowing only lowercase letters with spaces as tags?

[2018-10-01 16:26] 1995YogeshSharma commented on #5678
Allowing swipe for mobile devices can also lead to [swipe ambiguity](https://www.nngroup.com/articles/ipad-usability-year-one/). Although, I agree that swipe is more intuitive gesture when people use a mobile device.

@seanlip, do we want to support swipe gesture in carousels on mobile devices?

[2018-10-01 16:29] 1995YogeshSharma commented on #5664
This might be specific to you and not a general issue. I recommend asking on [gitter channel](https://gitter.im/oppia/oppia-chat) for help if you have not already resolved this.

Closing this issue for now.

[2018-10-01 16:29] #5664 closed, assigned to nobody

[2018-10-01 16:32] 1995YogeshSharma commented on #5673
@aks681, @nithusha21

Please take a look if we want to keep this issue and assign labels accordingly.

[2018-10-01 16:34] 1995YogeshSharma commented on #5674
Hi, please follow the instructions [here](https://github.com/oppia/oppia/issues/new/choose) so that it becomes easier for contributors to understand.

[2018-10-01 19:31] seanlip opened #5717 "Have MapReduce handlers follow a similar ACL mechanism to the rest of the site."
(Inspired by #5704)

We have a system for protecting URLs via access control in core.domain.acl_decorators. However, main.py has a couple of MapReduce handlers that seem to be handled differently and it's not clear there's an a priori need for this.

The aim of this issue is to remove this special-casing for MapReduce handlers, and have them follow the existing ACL patterns for all handlers.

[2018-10-01 19:46] seanlip commented on #5678
@rachelwchen, what do you think?

[2018-10-01 19:52] seanlip commented on #5706
If there's a reason, I don't know what it is :)

I think one reason it might have been introduced is to have a canonical representation for tags so that search queries resolve correctly. E.g. I don't know whether App Engine's search framework treats "Fractions" and "fractions" as different. I don't see a reason for disallowing numbers, though.

In general I think the stored representation should p

[2018-10-02 00:37] rachelwchen commented on #5678
I think it's a good idea!

[2018-10-02 03:29] kevinlee12 commented on #5590
Hi @pranavsid98, how is this coming along?

[2018-10-02 03:30] kevinlee12 commented on #5457
De-assigning @DubeySandeep for now, please feel free to re-assign yourself when you get back on this.

[2018-10-02 03:31] sstone-codaio commented on #5701
Thanks for the issue, I'll start working on it (unless someone else already did)

[2018-10-02 03:32] kevinlee12 commented on #5516
Hi @aks681, how is this coming along?

[2018-10-02 03:40] sstone-codaio commented on #5134
Hi, I'd like to work on core.controllers.reader. Thanks!

[2018-10-02 03:47] sstone-codaio commented on #4973
Assigning to myself. If any one is already working on this please let me know. Thanks!

[2018-10-02 03:49] sstone-codaio commented on #5717
Thanks for the issue Sean, I can work on this!
Will take a look in the next few days and reach out with questions.

[2018-10-02 03:52] sstone-codaio commented on #5717
I'm sorry, I just saw that this came from another issue. If you'd like the original owner to work on this issue feel free to let me know.

[2018-10-02 17:50] rachelwchen commented on #5678
While we're at it, can we also make sure that things align please? Thanks!

Current:
![iphone 7 - cur](https://user-images.githubusercontent.com/12159451/46366767-f8918a00-c649-11e8-969a-0f10ae702979.png)

Aligned:
![iphone 7 - new](https://user-images.githubusercontent.com/12159451/46366793-06dfa600-c64a-11e8-8834-367d39998911.png)

[2018-10-03 00:36] #5576 closed

[2018-10-03 00:52] seanlip commented on #5717
Oh, no that's fine, feel free to take this up if you like! It's definitely free for the taking (and hopefully reasonably small and self-contained).

[2018-10-03 00:57] seanlip commented on #5590
/cc @brianrodri

[2018-10-03 00:58] seanlip commented on #5134
Thanks @sshou14 -- assigned you!

[2018-10-03 04:09] #5688 closed, assigned to nobody

[2018-10-03 04:14] sstone-codaio commented on #5717
Ok great, thanks Sean!

[2018-10-03 14:18] rachitgoel05 commented on #5701
assign me..

[2018-10-03 18:39] tonadev commented on #4374
Hi @vibhor98, as you said I filed the changes to my PR (https://github.com/oppia/oppia/pull/5689). PTAL
PS: I have never written docstrings nor documentation

[2018-10-04 10:01] seanlip commented on #3826
This issue is now fully completed, so I am closing it. Thank you to everyone who helped out!

[2018-10-04 10:01] #3826 closed, assigned to nobody

[2018-10-04 10:04] seanlip commented on #5470
We didn't actually end up working on this project at GHC 2018, so I'm deassigning @WanyiChen for now. (That said, @WanyiChen, please let us know if you'd still like to take this up!)

[2018-10-04 12:27] nithusha21 opened #5726 "Allow editing a suggestion which is under review"
The author of the suggestion should be able to edit a suggestion after it has been submitted for review. The reviewer should also be able to edit the suggestion and then accept it. This would help out in many scenarios. For example, delaying accepting a suggestion till the author fixes a typo would slow down the lesson creation/improvement process.

This would mostly involve backend changes, and a

[2018-10-04 13:28] sandeep-patel11 commented on #5712
please add a screenshot of the page where Create Question button is available or steps to go there

[2018-10-04 15:07] aks681 commented on #5712
First the 'ENABLE_NEW_STRUCTURES' flag has to be set to true in constants.js. Then, on logging in as admin, in the dropdown under the profile picture on the top right (on splash or any page), the 'topics and skills dasboard' link would be present. Clicking that, you'll find the dashboard itself, from where you can create the topic.

[2018-10-04 15:33] sandeep-patel11 commented on #5712
![screenshot from 2018-10-05 02-31-26](https://user-images.githubusercontent.com/33354423/46485227-e580e480-c818-11e8-8d3c-77f85622e43f.png)

[2018-10-04 15:34] sandeep-patel11 commented on #5712
sorry for this mistake

[2018-10-04 15:34] suicide11 commented on #5712
![screenshot from 2018-10-05 02-31-26](https://user-images.githubusercontent.com/33354423/46485321-13662900-c819-11e8-89f3-b3382cdcb985.png)

[2018-10-04 15:34] sandeep-patel11 commented on #5712
![screenshot from 2018-10-05 02-30-12](https://user-images.githubusercontent.com/33354423/46485353-22e57200-c819-11e8-8f72-06ec4b6a0281.png)

[2018-10-04 15:35] sandeep-patel11 commented on #5712
but no such option came in my browser

[2018-10-04 15:38] aks681 commented on #5712
You have to be an admin to access the dashboard page. Go to admin page, go to roles tab and change your role to admin.

[2018-10-05 02:39] ghost commented on #5436
I think I need to un-assign myself from this story as I'll be working on other issues. This story is now open for anyone else to work on.

[2018-10-05 02:40] vinitamurthi commented on #5712
I can take up this issue if noone has started work on it!

[2018-10-05 03:25] ghost commented on #5134
Hi, I would like to implement tests for core.controllers.admin.

[2018-10-05 03:55] vibhor98 commented on #5134
Hi @MichJP, I've assigned you `core.controllers.admin`. Thanks!

[2018-10-05 10:25] Shuayb1 commented on #4558
Please I've not gotten response from you.

Thanks

On Fri, 28 Sep 2018, 21:47 Akshay Anand, <notifications@github.com> wrote:

[2018-10-05 16:13] DubeySandeep opened #5729 "Provide a numerical status at the end of the progress bar."
**Is your feature request related to a problem? Please describe.**
Currently, the progress bar just shows up the progress bar, which doesn't give a lot of information on a look and it's pretty tough to determine how many audios are still left.
![image](https://user-images.githubusercontent.com/16653571/46546740-a1a8e080-c8e7-11e8-9a5d-cf0fdcba9d9a.png)

**Describe the solution you'd like**
Add a s

[2018-10-05 17:23] mkkhedawat commented on #5729
I will check on this. Assign to me.

[2018-10-05 21:18] bansalnitish opened #5731 "UI issue with the home page of Oppia Foundation site"
There is a major UI issue with the home page.

Here is the screenshot for the same:

![mage](https://lh3.googleusercontent.com/-gmf8lUS9p0I/W7BNidXSzJI/AAAAAAAAAMQ/pn99eySv-OQBInU4jU4QZaBfy2nrOOVSQCL0BGAYYCw/h1334/8ea167f8-c158-4eac-9ad4-f00a3ea4c29e)

This is on iPhone 6s IOS-10.3.3.

[2018-10-05 21:27] #5731 closed, assigned to nobody

[2018-10-05 21:29] bansalnitish commented on #5731
Filed this one [here](https://github.com/oppia/foundation-website/issues/84).

[2018-10-06 13:28] kirakrishnan opened #5733 "vagrant error in windows"
This is the complete error message.

 default: Booting VM...
==> default: Waiting for machine to boot. This may take a few minutes...
The guest machine entered an invalid state while waiting for it
to boot. Valid states are 'starting, running'. The machine is in the
'poweroff' state. Please verify everything is configured
properly and try again.

If the provider you're using has a GUI that comes w

[2018-10-06 16:13] vibhor98 commented on #4374
Hi @dchen97, @hemant0308 and @kvaluruk, are you still working on the assigned files? Please note that we need to get this done latest by **Oct 10**. Thanks!

[2018-10-06 21:13] seanlip commented on #5733
Hi @kirakrishnan, thanks for reporting this.

We've recently been having some issues with the vagrant installation, but one of the participants at GHC (Anjali) wrote up a set of instructions that seems to work. Here are her notes -- I haven't transferred them to the wiki yet, but this is on my to-do list:

- Make sure that virtualization is enabled in your computer’s BIOS.
- If running vagrant up

[2018-10-06 21:32] tonadev commented on #5310
Hi, is anyone working in this issue? If not, I would like to work on it. But I have some questions about the task. The explanation says that the script causes a crash in Travis build when there are more than 7k files, I was looking at the others scripts that make Travis build crash and they have a shell script that runs the python script and if it fails then the scripts fails and finally the .trav

[2018-10-07 02:14] seanlip commented on #5310
Hi @tonadev, go for it!

The task includes creating whatever code is needed to achieve the desired result -- i.e. if we get to more than a certain file count then Travis should fail.

Also, only the files count, not the directories.

Thanks!

[2018-10-07 05:28] aks681 commented on #4558
What is the error message that you got?

[2018-10-07 05:53] nithusha21 commented on #5134
Hi @binaryman008 any updates on this issue?

[2018-10-07 06:32] nithusha21 commented on #4057
Deassigning @amitsin6h due to lack of response. Please feel free to take it up again if you are interested!

[2018-10-07 08:27] seanlip commented on #5733
As a follow-up, I have added these instructions on the [wiki page](https://github.com/oppia/oppia/wiki/Installing-Oppia(Vagrant)). I'm going to close this issue but please feel free to reopen if you have further questions.

Thanks!

[2018-10-07 08:27] #5733 closed, assigned to nobody

[2018-10-07 08:27] Shuayb1 commented on #4558
Ooops! I've sent you earlier 26th September.

But attached is the error.

On Sun, 7 Oct 2018, 06:28 Akshay Anand, <notifications@github.com> wrote:

[2018-10-07 10:11] sandeep-patel11 commented on #5729
@mkkhedawat are you solving this issue?

[2018-10-07 17:29] vojtechjelinek opened #5735 "Improve loading screen"
Oppia has a loading screen with "Loading..." text shown for some pages.

Currently, the loading screen is shown when `$rootScope.loadingMessage` is set to some text. This approach works when there is just one thing inside page directive that we need to load, but when we need to load multiple things we must handle that inside the page directive.

We should create a loading directive/service that wo

[2018-10-07 17:46] DubeySandeep commented on #5729
Hi @mkkhedawat, I think you haven't signed the CLA yet, you can take a look [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to see how to get started.

[2018-10-07 18:36] tonadev commented on #5310
HI @seanlip, I was thinking, if we add this script and makes the Travis build crash if the limit has been exceed and if someone adds more third party that makes it exceed the limit and if it's merged, won't it make all the PRs updated crash? Or there is a local Travis build before commiting? If not, shouldn't we add the script to presubmit check?

[2018-10-07 18:40] hoangviet1993 commented on #5310
I think you can include the check in `install_third_party.py`, after `_install_third_party_libs()` is run. Does it make sense? (or just run a separate python script after `install_third_party.py` has finished installing is fine too)

[2018-10-07 18:57] seanlip commented on #5310
Hi @tonadev, there is a Travis build that runs on every PR. The build for that PR should catch the issue and prevent that PR from being merged (right?) So there shouldn't be a cascading effect on other PRs...

We could also just make this a regular presubmit check, but only if it doesn't take a long time, otherwise it slows down folks a lot.

I'm not sure whether including the check in install_thi

[2018-10-07 19:37] tonadev commented on #5310
I realized about that I was wrong, that why supposedly  I deleted the comment.

[2018-10-08 03:46] seanlip commented on #5672
Just a quick update, I chatted about this with @vinitamurthi, @BenHenning and @tjiang11. It looks like there are several pieces to the puzzle here:

- Handling ID obscuring for URLs in general. It looks like if we do something like this, we should do it for all URLs and not just the "new structures" ones. Could still use IDs in AJAX calls but sign the whole payload (with user-id + timestamp) so th

[2018-10-08 03:55] seanlip opened #5738 "ClassifierTrainingJobModel is not being updated when explorations are auto-migrated."
**Describe the bug**

When an exploration is auto-migrated to a new version, the ClassifierTrainingJobModel is not generated. This causes an error when saving future versions of the exploration, i.e.: "The ClassifierTrainingJobModel for the Introduction state of Exploration with exp_id ... and exp_version ... does not exist."

**To Reproduce**
Steps to reproduce the behavior:
 1. Turn on the ML fu

[2018-10-08 04:01] seanlip opened #5739 "SVM tokenizer is not handling 1-letter words properly."
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this exploration](https://oppiatestserver.appspot.com/explore/cjJclRMr56cG) in the test server (assuming ML is enabled; it might not be depending on whether the server is being used for release testing).
 2. Try submitting "I'm" or "a" to the first question, which is supposed to parse the response as being "happy" or "sad" and return "Ya

[2018-10-08 04:04] seanlip opened #5740 "SVM classification needs to include a concept of "confidence estimates""
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this exploration](https://oppiatestserver.appspot.com/explore/cjJclRMr56cG) in the test server (assuming ML is enabled; it might not be depending on whether the server is being used for release testing).
 2. Try submitting gibberish to the first question (e.g. "asdasdasd"), which is supposed to parse the response as being "happy" or "sad

[2018-10-08 04:04] seanlip commented on #5740
Also, @prasanna08 -- please could you add any notes/suggestions you have to this thread if you come up with any ideas for how to proceed here? Thanks!

[2018-10-08 04:08] prasanna08 commented on #4166
Hi @jacobdavis11, this issue is finished in #5215. This can be closed.

[2018-10-08 04:15] #4166 closed, assigned to prasanna08

[2018-10-08 10:06] JoyLubega commented on #5134
I request to work on
 core.storage.user.gae_models

[2018-10-08 11:55] hjhimanshu01 commented on #4374
Hi @seanlip , I'm new here! I have read and signed up the CLA ad willing to contribute to adding docstring to TextInput and Continue .How shall I proceed?

[2018-10-08 12:52] vibhor98 commented on #4374
Deassigning @dchen97, @hemant0308 and @kvaluruk due to lack of response!

[2018-10-08 12:54] vibhor98 commented on #4374
Hi @hjhimanshu01, that file has already been taken up. Can you take other files? I've just de-assigned 3 files now. Please feel free to take up any of them. Thanks!

[2018-10-08 16:13] hemant0308 commented on #5726
I will working on this.!
@nithusha21
@kevinlee12

[2018-10-08 17:20] mkkhedawat commented on #5729
Signed the CLA.
I didn't work on it as there was no response.

I would love to work this weekend if you guys are fine with me to go ahead.

[2018-10-08 19:30] seanlip commented on #5134
Added you, @JoyLubega. Thanks!

[2018-10-08 20:22] lilithxxx commented on #4829
Should I take this issue?

[2018-10-09 06:11] lilithxxx commented on #4374
I want to take oppia.scripts.docstrings_checker

[2018-10-09 07:18] seanlip commented on #4829
Sure, go ahead! Feel free to assign yourself if you'd like to take it up.

[2018-10-09 16:43] netajik commented on #5529
Hi @apb7, is some one working on this issues or may i work on it.

[2018-10-09 18:28] lilithxxx commented on #4829
@seanlip just a question. There are many instances of `testapp.get` where it fetches html instead of json hence assertion fails. In that case can we still use `get_json` there? Or should I just change the code where only it fetches json?

[2018-10-09 19:16] netajik commented on #5134
Hi  @DubeySandeep, i would like work on core.controllers.pages.

[2018-10-09 19:47] lilithxxx commented on #4973
@sshou14 are you working on this? If not I would like to take this up

[2018-10-09 19:55] sstone-codaio commented on #4973
@lilithxxx Hi Rishav, I'm already working on this, could you pick another issue? Thanks!

[2018-10-09 20:01] lilithxxx commented on #4973
Yes sure good luck :)

[2018-10-10 05:16] seanlip commented on #4829
That's a good question. I think we should define a self.get_html() for parity with self.get_json(), and then use either of these as appropriate. What do you think?

[2018-10-10 06:50] DubeySandeep opened #5745 "Redesigning and selecting proper icons for audio bar in the translation tab."
Currently, the audio bar in the translation tab doesn't look clean and smooth. This can be fixed in many ways, a few suggested changes can be done:
- Use flex-box for the audio bar.
- Add simple transition for buttons appears or disappear.
- Redesign button icon for Re-record, upload audio etc.
- Design for disabled buttons.
- Remove hamburger tab completely
- Remove -:--/-:-- when audio not yet p

[2018-10-10 06:58] DubeySandeep commented on #5729
@mkkhedawat,
FYI, currently, @suicide11  isn't working on this issue so you can go ahead and start working on this! :)
 _(If you have signed the CLA and filed the survey form!)._

[2018-10-10 08:00] seanlip commented on #5243
@apb7, what is the intended fix?

[2018-10-10 08:54] DubeySandeep opened #5746 "Add saving log in the audio bar while saving is in progress."
**Describe the bug**
When a user clicks upload recorded audio button they never get status about the upload process, they use to get a toast pop-up once it completes succesfully. Hard to see on the local dev server,  looks awkward on the prod server as the upload process takes time.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Go to the translation tab
 3. Reco

[2018-10-10 09:12] DubeySandeep opened #5747 "Animating state content height while they dynamically changes the height."
After the changes made in #5658 the height on the state content div is changed dynamically, it would be great to have a transition for the height change. this would make it look smooth.

**Steps to reproduce:**
- Create an exploration.
- Add a multiple line (10-20 lines) text in the main content.
- Add an interaction (text input).
- Add a one-line feedback.
- Go to the translation tab.
- Move from

[2018-10-10 10:01] lilithxxx commented on #4829
Yes I agree

[2018-10-10 16:12] keshavg2 commented on #4057
Can any one please assign me TriggerObjectFactory.js

[2018-10-10 18:07] DubeySandeep commented on #4057
Hi @17bcs029, I've assigned you for  `TriggerObjectFactory.js`.

[2018-10-10 18:23] MShaker opened #5749 "Error with link to "Get Involved" on oppia.org"
**Description**
When browsing on www.oppia.org clicking the link under `Contribute` to `Get Involved` takes you to a blank page with no content.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `https://www.oppia.org/splash`
 2. Scroll to the bottom of the page
 3. Under the `Contribute` section of the page links click `Get Involved`
<img width="553" alt="oppia-splash-bottom" src="http

[2018-10-10 19:11] seanlip commented on #5749
Thanks a lot for noticing and filing this, @MShaker!

For the record @jetstream5500 is tackling this in #5750.

[2018-10-10 19:12] seanlip commented on #4057
Actually -- I want to suggest that we do something different for TriggerObjectFactory.js. Can we delete it and all references to it? It's obsolete and all the code there is dead code.

Thanks!

[2018-10-10 19:54] BinnyDaBin commented on #4374
Hi @vibhor98 Could you assign me any file not assigned to anyone yet?

[2018-10-11 01:15] #5749 closed, assigned to nobody

[2018-10-11 04:52] nithusha21 commented on #5416
![image](https://user-images.githubusercontent.com/11898234/46781466-6b33f100-cd3f-11e8-87c6-35f9709ce23b.png)
Looks like the contact us link displays i18n tag.

[2018-10-11 05:07] nithusha21 commented on #3793
@vibhor98 this is complete right?

[2018-10-11 06:26] seanlip commented on #5416
Hm, interesting -- works for me on desktop, fails on mobile (with screenshot similar to @nithusha21).

Anyone else see this (and can confirm)? Also not sure why it's just the "contact us" link that's affected and not the others.

[2018-10-11 07:24] vibhor98 commented on #3793
@nithusha21, yes it has been already implemented. Closing this issue...

[2018-10-11 07:24] #3793 closed, assigned to nobody

[2018-10-11 07:27] seanlip opened #5751 "Remove G+ from the sharing icons (in the exploration editor and in the info card of the exploration player)."
G+ for consumers is [getting deprecated](https://www.blog.google/technology/safety-security/project-strobe/). It probably makes sense to remove the corresponding sharing icon and functionality from the following two places:

- The info card modal in the exploration player page (click the "i" button next to the exploration title)
- The "congrats, you've published an exploration" modal in the explor

[2018-10-11 13:30] vibhor98 commented on #4374
Hi @BinnyDaBin, I've assigned you `core.domain.acl_decorators`. Please go ahead. Thanks!

[2018-10-11 13:41] netajik commented on #5134
I would like work on core.controllers.pages. Can any one assign me .

[2018-10-11 14:00] vibhor98 commented on #5134
Hi @netajik, I've assigned you `core.controllers.pages`. Thanks!

[2018-10-11 17:10] ay11111111111 commented on #4374
Hi @vibhor98, I have signed everything and I'd like to work on  oppia.core.storage.question.gae_models. Could you assign it to me, please?

[2018-10-11 18:16] vibhor98 commented on #4374
Hi @yesass, I've assigned you both the files: `core.domain.fs_services` and `core.storage.question.gae_models` as just few lines of docstrings need to be added. Please feel free to file the same PR covering both the files. Thanks!

[2018-10-11 22:24] coobubba commented on #5134
Hi, can I work on core.domain.config_services?

[2018-10-12 05:26] seanlip opened #5753 "Add deployment of export/ folder to the deployment scripts."
@tjiang11 recently implemented a service that handles export for backups (see the export/ folder). However it turns out that this service needs its own deployment path, and the lack of one at the moment has been causing errors when Oppia is deployed on fresh servers. In addition, the current deployment process does not update the export service, so future changes to the export service won't be dep

[2018-10-12 06:12] mzaman07 commented on #5751
The readme has a google plus link on there as well.

[2018-10-12 06:31] seanlip commented on #5751
Thanks for noting that, @mzaman07! I think it's fine to leave that. Here's the reasoning:
- There are two usages of G+, I think. One is for individuals to share explorations they like or that they've created. The other is just a pointer to our G+ page. I think the former should go but the latter can remain, since the latter isn't really a "G+ page for consumers" because the Oppia Foundation is an

[2018-10-12 07:05] kevinlee12 opened #5755 "Align cards in library in mobile view"
From #5678, the cards don't line up in mobile view in the library page. The objective of this issue is to align the cards with the headers in mobile view. See https://github.com/oppia/oppia/issues/5678#issuecomment-426368474 for how it should look like.

![image](https://user-images.githubusercontent.com/5758256/46853257-69574580-cdb2-11e8-9148-825ed0b6a63b.png)

[2018-10-12 07:18] kevinlee12 commented on #5678
@rachelwchen, sure, opened #5755.

[2018-10-12 07:19] kevinlee12 commented on #5755
@nsivapalan, would you like to tackle this?

[2018-10-12 07:20] nsivapalan commented on #5755
Sure!

[2018-10-12 13:57] rachelwchen commented on #5678
Thanks @kevinlee12!

[2018-10-12 14:08] #5712 closed, assigned to vinitamurthi

[2018-10-12 17:58] sstone-codaio opened #5757 "Unify ImageDevHandler and AudioDevHandler"
Ideally we want to have one AssetDevHandler that handles all assets so that our dev mode mimics GCS.

[2018-10-12 20:30] sjkadali commented on #4057
Hi, can I be assigned  UserEmailPreferencesService.js? Thank You!

[2018-10-12 20:34] kevinlee12 commented on #4057
@sjkadali, done!

[2018-10-12 20:44] sstone-codaio commented on #4973
Just to make sure my understanding is correct..
The reason we hash files is to determine whether they've changed, so that we may need to rebuild them?
And we don't want to do this for prod tests because we are assuming no file has been changed since they get pushed?

[2018-10-12 21:24] #5713 closed, assigned to sstone-codaio

[2018-10-12 21:28] seanlip commented on #4973
Hi @sshou14 -- we hash files based on the content in them so that they don't have to be re-fetched if they don't change between releases, since they'll still remain in the edge cache. (If they do change between releases then their hash/URL would change, and a refetch would be triggered, as desired.)

@vojtechjelinek, can you answer the second part of @sshou14's question please?

[2018-10-13 01:32] sstone-codaio commented on #5717
Hi, can somebody explain what a "UI map reduce job" is and how its acl differs from other map reduce jobs? I'm looking at the code sections below (in main.py), but not sure why they are handled separately.
[code]

[2018-10-13 02:08] ghost commented on #5134
@coobubba sure, go ahead.

~Edit: sorry, that one is already taken. The top comment has not been updated for this. I'll do it now.~

Edit: it looks like the person assigned for core.domain.config_services has abandoned the issue (https://github.com/oppia/oppia/pull/5341), so I'm assigning it to you, @coobubba. Thanks!

[2018-10-13 03:40] joeyannaphol commented on #4374
@vibhor98 - I'm a newbie here and have been directed to this task by @DubeySandeep. I would like to try my hand at this. Are there any particular files you recommend I start with? Go ahead and assign me 1 - 2. Thanks.

[2018-10-13 05:16] DubeySandeep commented on #4374
Hi @joeyannaphol, I have assigned you to the remaining two files, you can start working.
-  `oppia.jinja_utils`
- `oppia.scripts.build `

[2018-10-13 06:23] seanlip commented on #5134
Hi @coobubba, before sending a PR, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first to get started, please? This will allow us to accept your code. Thanks!

[2018-10-13 06:30] seanlip commented on #5717
This code was written way before there was an ACL framework, so I think it
just failed to get ported.

In general any mapreduce-related urls should be ACL'd to superadmins (ie
same permissions as /admin page). In fact, might be better to change the
URL to /admin/mapreduce, and one day in the future show it as part of the
admin page (perhaps in or adjacent to the Jobs tab).

[2018-10-13 06:31] seanlip commented on #5717
Also FYI there isn't such a thing as a ui mapreduce job. I think
/mapreduce/ui is just the URL of the page where you can manage the jobs
being run; we can rename it to anything else that makes sense.

[2018-10-13 07:42] nalinbhardwaj opened #5759 "Image highlight system for audio"
**Is your feature request related to a problem? Please describe.**

When using the audio feature of Oppia in lesson pages which talk about images, it is hard to follow along which image is being talked about by the audio at any point in time. This is particularly more frustrating if the user has no/little understanding of the language the written text is in.

For example, the ["What is a fraction"

[2018-10-13 10:15] aks681 commented on #5606
No one is assigned to it. Feel free to take this up. Thanks @yashdusing!

[2018-10-13 12:31] mriqooo commented on #5735
I will work on this. Assign to me.

[2018-10-13 13:48] aks681 commented on #5735
@mriqooo Feel free to start working on this!

[2018-10-13 14:50] DubeySandeep commented on #5735
Hi @mriqooo, before sending a PR, would you mind following the instructions [here](
https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first to get started, please? This will allow us to accept your code. Thanks!

EDIT: Sorry, I confirm that you have signed the CLA! Thanks. :)

[2018-10-13 16:22] vojtechjelinek commented on #4973
I think we don't need to hash the files for the prod tests, just minifying should be enough.

[2018-10-13 16:32] nithusha21 commented on #5134
deassigning @binaryman008 due to lack of response

[2018-10-14 02:44] sstone-codaio commented on #5701
Hi, I realized that the publish button is already showing the "save draft first" tool tip. So I guess is this issue to change the tool tip to be a pop up then?
<img width="1430" alt="screen shot 2018-10-13 at 7 42 36 pm" src="https://user-images.githubusercontent.com/8105617/46912024-4fd40c00-cf20-11e8-951c-7e627ae413fc.png">

[2018-10-14 03:44] abeer-khan commented on #5701
Yeah The user has to hover over the "Publish" button to see the pre-requisite of clicking "Save Draft".
Personally I think besides hover, we also need a pop up. It doesn't seem intuitive to hover over that button to figure out what's going wrong.

[2018-10-14 06:08] sstone-codaio commented on #5717
Thanks for the clarifications Sean. Is the acl for these mapreduce handlers controlled by app.yaml?

It looks like ui_access_wrapper is just a passthrough and doesn't actually do anything

[2018-10-14 06:15] sstone-codaio commented on #5701
Gotcha! thanks for the clarification.

Maybe the scope is a little big for me after I looked at the frontend code so deassigning myself for now so that other people can take it. Thanks!

[2018-10-14 06:31] sstone-codaio commented on #4973
Thanks @vojtechjelinek , sry if I misunderstood, does that mean we still need to generate the build/ directory at all when running with this extra flag?

Right now we generate the build files in prod mode
[code]

[2018-10-14 06:57] seanlip commented on #5717
It may be, I'm not sure. But overall I'd say try to follow the regular
pattern set by the current acl decorators if possible.

[2018-10-14 17:44] lilithxxx opened #5761 "While running back-end tests, module name in test target should redirect to its test class"
When running back-end tests, the module name in the `--test_target` flag should redirect to its test file.
For ex, `--test_target='core.controllers.admin'` should run `--test_target='core.controllers.admin_test'`

[2018-10-14 19:42] nithusha21 commented on #4057
Assigning ExplorationSummaryBackendApiService.js to @aditya81070

[2018-10-14 19:49] aditya81070 commented on #5747
@DubeySandeep If I am clearly understanding the issue You want to make the height of both tab same in any condition? If this is the task I would like to work on it. If not can you please explain more?

[2018-10-15 03:10] seanlip commented on #5761
I just want to say that this is a great idea. I run into this occasionally!

One suggestion: it might be worth displaying a clearly-delineated warning message in the terminal, waiting for 3 seconds, then continuing with execution. That helps the developer realize that they entered the wrong command.

[2018-10-15 04:45] nithusha21 commented on #5134
Assigning @kirakrishnan to core.controllers.custom_landing_pages

[2018-10-15 05:48] sstone-codaio commented on #5717
The problem is that the mapreduce handler sits in third_party/ and also doesn't inherit from base.BaseHandler, so we cannot directly use the wrapper in acl_decorators.py.
For example, I encountered errors about "no attribute 'user_id'" when using the following wrapper for mapreduce handlers.

[code]

[2018-10-15 08:47] DubeySandeep commented on #5747
@DubeySandeep, Earlier we were with the functionality to have a constant height of the tab (with scroll y on overflow) but we got user's feedback that we cannot scroll while recording audio because that will create a scroll noise in the recorded audio so we remove the scroll functionality in #5658. Now that works fine but we would like to have a transition when the height changes (on switching tab

[2018-10-15 16:22] apb7 commented on #5243
@seanlip, I am not sure if we can change the message on our end but there does exist a way for isort to ignore whitespaces post the import statements, `ignore_whitespace`. We can set this to `true`. We already have a check for trailing spaces so there won't be cases of trailing whitespace which go through the pre-commit checks. Thanks!

[2018-10-15 19:33] seritaevelyn commented on #4374
Hi I am new here, and I was guided here by @1995YogeshSharma. Are there any files you recommend I start with? :)

[2018-10-15 20:09] 1995YogeshSharma commented on #4374
Hi @seritaevelyn, It looks like all files are taken here. I would recommend you to pick any file to work in #5134 and I'll assign that to you.

[2018-10-15 21:14] mzaman07 commented on #5002
Hey @vojtechjelinek

I am working working on issue #5572, and for that issue I need to use the GLOBALS.can_translate for the solution, is that possible? If not then I can use the proposed alternative instead.

Thanks

[2018-10-16 00:42] seritaevelyn commented on #5134
Hey can you assign me to core.storage.exploration.gae_models

[2018-10-16 01:16] seanlip commented on #5243
Hm OK. I ask because I think someone asked me what needed to be done on this issue and I wasn't sure how to answer.

Could you please state clearly in the issue description what needs to be done so that this issue can be successfully closed?

Also, one thought: if we have all of our non-stdlib imports be of the form "from X import Y", would isort still be needed?

Thanks!

[2018-10-16 01:17] seanlip commented on #5717
Oh, I see, interesting. Yeah, this may be hard to handle.

Is there any way we can map the URL to our own controller (which is ACL-protected using our usual methods) and then delegate to the controller in third-party?

[2018-10-16 02:35] 1995YogeshSharma commented on #5134
Hi @seritaevelyn, assigned you to both core.storage.exploration.gae_models and core.storage.feedback.gae_models.

[2018-10-16 16:42] Shuayb1 commented on #5134
core.controllers.admin (71%)

[2018-10-16 16:45] Shuayb1 commented on #4558
I'm taking up another issue, so i want to drop this.

[2018-10-16 23:01] vojtechjelinek commented on #4973
If you look at [karma.conf.js#4](https://github.com/oppia/oppia/blob/develop/core/tests/karma.conf.js#L4) the difference between prod and dev tests is _third_party/generated/js/third_party.js_ or _third_party/generated/js/third_party.min.js_ so creating just the _third_party.min.js_ should be enough.

[2018-10-16 23:05] vojtechjelinek commented on #5002
What kind of variable can_translate is? If it changes according to the user privilege to change translations then use it as we use GLOBALS now, because I'm still working on #5659

[2018-10-17 03:54] tjiang11 commented on #2485
What's the status of this issue? @1995YogeshSharma

[2018-10-17 03:54] tjiang11 commented on #5457
Hey @DubeySandeep ! How is this going?

[2018-10-17 03:55] tjiang11 commented on #5590
What's the status of this issue? @brianrodri

[2018-10-17 04:02] tjiang11 commented on #5574
Hi @hemant0308 ! How is this going?

[2018-10-17 04:03] tjiang11 commented on #4968
What's the status of this issue? @brianrodri

[2018-10-17 04:23] hemant0308 commented on #5574
Hello @tjiang11
I have completed adding audio upload feature to rte.
but not completed creating new interaction with it.
Could i make PR with it.!

[2018-10-17 06:10] DubeySandeep opened #5765 "Unable to use image in "Image Region" interaction."
**Describe the bug**
While using an "Image region" interaction on cannot upload an image successfully.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Add image region interaction.
 3. Upload an image.
 4. Click "Use this image",
 5. Check console.

**Observed behavior**
When we click "Use this image we use to get "PageNotFound Exception" in the terminal.

**Expec

[2018-10-17 07:23] aditya81070 commented on #4057
@shubha1593 I am having the issue with karma dashboard. My `ExplorationSummaryBackendApiServiceSpec.js` is not on the dashboard.
![screenshot from 2018-10-17 12-53-49](https://user-images.githubusercontent.com/30300772/47069128-c8cab080-d20b-11e8-98fe-8daf05e58ebd.png)
 and where I can see the output of tests that I will write?

[2018-10-17 07:31] DubeySandeep commented on #4057
@aditya81070 , looks for the file `ExplorationSummaryBackendApiService.js`

Follow these steps:
- run `find -name ExplorationSummaryBackendApiService.js`
   -- Expected output: `./core/templates/dev/head/domain/summary/ExplorationSummaryBackendApiService.js`
- Go to karma-report view and press CTRL+F and type `domain/summary`.
- Click on the preferred dir.
- I hope you'll see that coverage report

[2018-10-17 07:34] aditya81070 commented on #4057
@DubeySandeep Yes, the file is there. But can't I see the coverage report of `ExplorationSummaryBackendApiService.js`? and please also tell me where I can see the output of tests?

[2018-10-17 09:10] vibhor98 commented on #4374
Hi @joeyannaphol  and @BinnyDaBin, are you still working on the assigned files? Please try to file PR for the specific files by Oct 18 as we need to enable missing-docstrings checks ASAP and these are just few of the last files. Please let us know either way. Thanks!

[2018-10-17 19:06] big-mclarge-huge commented on #5739
can i be assigned this one?
also, the server does not crash on my side. happy to look into that, just making sure it wasn't fixed w/out this page being updated or something.

[2018-10-17 19:24] big-mclarge-huge commented on #5019
could I be assigned this one?

[2018-10-17 19:28] wirelessfire commented on #5726
I can work on either backend part of this, can I be assigned?

[2018-10-17 19:47] mzaman07 commented on #5002
It seems like it is with the ACL. If you are still working on it then I'll just use the GLOBALS for now.

[2018-10-17 21:16] DianaSellarova commented on #5745
Hello @DubeySandeep I would really like to take this issue and work on it and would love to help :) I will check whole project and instructions on how to contribute a bit later, but i'm writing just to let you know that i like to do it, and maybe you could assign it to me. For starters can i just ask in which file is this component implemented? Thanks a lot and have a nice day :)

[2018-10-18 01:26] seanlip commented on #5572
Just a quick note that @christineycc might be able to help consult on the UX for this feature, so please feel free to send her designs/mocks if you'd like feedback on them!

[2018-10-18 01:58] christineycc commented on #5572
Hi! Nice to e-meet everyone! As Sean said, feel free to shoot me any questions/ask for feedbacks.

[2018-10-18 05:25] mzaman07 commented on #5572
Hello @christineycc, I'll shoot you a message once I reorganize a document I have to the Oppia standards.

[2018-10-18 05:51] nithusha21 commented on #5726
Hi @hemant0308 are you working on some part of this issue? If not, assigning @wirelessfire for the backend task. Which one of the tasks would you like to take up?

[2018-10-18 07:09] DubeySandeep commented on #5019
Hi @big-mclarge-huge, I've assigned you to this issue, you can start working on this. Good luck! :)

[2018-10-18 07:26] DubeySandeep commented on #5745
Hi @DianaSellarova,  Thanks for showing interest in this project. You can start working on this issue after signing CLA as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). :)

Also, I have updated the issue header with a pointer to the template file. please check! :)

[2018-10-18 07:30] DubeySandeep commented on #5457
Hi @tjiang11, I'm not pretty sure about the reason for this error and I'm unable to reproduce this locally. I'll try again today and see If I can reproduce this anyway, If succeded then I'll work on it else I'll de-assign myself for now. Thanks!

Also, @seanlip can you confirm whether this error still persists on prod. server?

[2018-10-18 07:40] seanlip commented on #5457
Yes, I'm afraid it's still happening. Its last occurrence was 3 days ago.

[2018-10-18 08:09] hemant0308 commented on #5726
Sure.!@nithusha21
I will work on frontend part then

[2018-10-18 09:04] DianaSellarova commented on #5745
@DubeySandeep thank you very much :)

[2018-10-18 09:45] apb7 commented on #5243
Sorry for the delay. I have updated the issue. And, yes we do need isort to sort "from X import Y" imports too. Thanks!

[2018-10-18 16:30] nithusha21 commented on #5765
This is happening even in the player view while trying to access image region interactions (try https://oppiatestserver.appspot.com/explore/16, and play to the image interaction card).

/cc @MShaker as this was caught by @MShaker during release testing. Also @aks681 this needs to be fixed before release as all image related features seem to be broken indeed!

[2018-10-18 20:19] seanlip commented on #5765
That's terrible. Any idea which PR caused it? I feel like this raises a need for e2e testing in this domain.

[2018-10-18 21:07] sstone-codaio commented on #5765
This could be due to my recent change in assetsdevhandler, I'll investigate tonight.

[2018-10-19 00:27] DubeySandeep commented on #5765
Hi @sshou14, This issue was reproduced while testing #5756. Currently, I cannot test that issue for ImageRegion interaction and need to hot-fix #5691, so I suggest to follow these steps after fixing this issue to test #5756 for ImageRegion interaction.

- Create an exploration.
- Add ImageRegion interaction.
- Add some answers.
- Go to the translation tab.
- Check the Feedback tab of the translati

[2018-10-19 01:28] #5671 closed, assigned to nobody

[2018-10-19 01:53] #5691 closed, assigned to DubeySandeep, aks681

[2018-10-19 02:37] aks681 commented on #5134
@Shuayb1 core.controllers.admin seems to be assigned to @MichJP already. Can you pick some some other file? Thanks.

[2018-10-19 05:36] sstone-codaio commented on #5765
Thanks for the helpful information @DubeySandeep !
I'll do a manual review for #5756 after submitting a fix for this

[2018-10-19 07:03] seanlip commented on #5390
Hi @sshou14 -- I just saw this issue that was filed a few months ago. Do you know if this is fixed now, or if it needs a further PR?

[2018-10-19 07:46] #5052 closed, assigned to nalinbhardwaj

[2018-10-19 09:29] nalinbhardwaj opened #5769 "Console errors on leaving explorations"
**Describe the bug**

On [Oppia test server](https://oppiatestserver.appspot.com) for Release 2.6.9,  I was doing the Testing sub task "Load some of the demo explorations (or create some explorations) and complete some, mark some for play later and leave some in the middle.". This leads to console errors.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.

[2018-10-19 16:03] wirelessfire commented on #5726
I can make the function to allow for the modification of the suggestion.

[2018-10-19 16:12] nithusha21 commented on #5726
Cool, assigning you for the same.

[2018-10-20 04:14] seanlip commented on #5183
Actually, this wasn't fixed in #5215. I'd referenced the wrong issue, oops. Reopening!

[2018-10-20 06:24] prasanna08 commented on #5740
Hi, so after doing some initial investigation, I found that we already have the data required to calculate the probabilities in our trained model data. We just need to implement the necessary functions.

LibSVM uses [platt scaling](https://www.csie.ntu.edu.tw/~cjlin/papers/plattprob.pdf) to find out probabilities in a binary classifier. The corresponding implementation can be found [here](https://

[2018-10-20 09:57] jamesgeorge007 commented on #5076
@ishucr7 @nithusha21 Can you let me know the break-point i,e the specific screen dimensions at which the button becomes partially visible.
Visit [howbigismybrowser](http://howbigismybrowser.com)

[2018-10-20 16:20] nithusha21 commented on #4057
Hi @aditya81070 did you manage to get the coverage report? Could you let us know what exactly you tried? Also what output are you referring to? On running the frontend tests scripts, you'll get success/failure prompts. And the failures will show the exceptions. In case you add any console logs for debugging, they will appear when the test is run.

[2018-10-20 17:06] nithusha21 commented on #5769
/cc @pranavsid98 @brianrodri. The errors seem to be generated due to some permission errors with the playthrough handlers. Not sure though! Could you take a look?

[2018-10-21 00:04] aditya81070 commented on #4057
I am not working on this from last two-three days. I am not well. Can I
continue as soon as I feel good?

On Sat 20 Oct, 2018, 9:50 PM Nithesh N. Hariharan, <notifications@github.com>
wrote:

[2018-10-21 03:33] prasanna08 commented on #5738
Hi, @seanlip, so I was going through the code of ExplorationMigrationJobManager and I found that when it migrates exploration it uses exp_services.update_exploration function which should create the classifier training job model given that ML functionality was enabled when the job ran. Also, I am not able to reproduce this issue because creating a new exploration has the latest schema migration. M

[2018-10-21 04:32] prasanna08 commented on #5634
Hi @seanlip, turns out that this verification is already happening in the [backend](https://github.com/oppia/oppia/blob/develop/core/domain/state_domain.py#L1177). Number of answer groups with training data has to be greater than or equal 2 for training job to be generated. I also verified this by running it on the local server in my machine. Seems like we misunderstood the actual issue that you f

[2018-10-21 06:07] seanlip commented on #5738
Hi @prasanna08, can you try the following?

(a) Checkout an earlier version of Oppia (like release-2.6.6 or release-2.6.7). Double check that the schema version for explorations is strictly less than what it is in develop. Then turn on the ML functionality.
(b) Create an exploration on your local server, ensure it has sufficient training data, and publish it. This will result in the local server s

[2018-10-21 06:14] seanlip commented on #5634
Hm, I've been looking through my notes, but I can't actually remember the context in which this came up (and I can't seem to find an email for it either). Oh dear...

What happens when you only have one class? Is it that a model is just not created?

Also, what happens if you have two classes, and then you delete one of them?

I feel like if we can verify that these cases are handled properly then

[2018-10-21 06:27] seanlip opened #5771 "Sub-tab in translations tab should be preserved after publishing translations/voiceovers."
(Reported by Bernie when doing English voiceovers.)

To reproduce:

1. Create a lesson with multiple cards, where each state has content, feedback, hints and a solution. Publish it.
2. Go to the translation panel. Then go to the second state, and click on the feedback/hints tab.
3. Record a translation for a feedback/hint, and then publish the exploration to include the just-recorded translation.

[2018-10-21 12:12] jacobdavis11 commented on #2052
This has been superseded by subjects & topics, see https://docs.google.com/document/d/1S3PqiNuwirSf7HFNc6Bn3Tz21-rVWsTHUdH7Ef5tQfU/edit#heading=h.ucj5zbldu12h

[2018-10-21 12:12] #2052 closed

[2018-10-21 14:13] prasanna08 commented on #5738
Hi @seanlip, thanks for the steps. I have fixed the revert exploration issue. I will push PR once I have confirmed whether this issue exists or not (because it shouldn't, given the function calls that happen at migration time). Thanks again.

[2018-10-21 14:13] prasanna08 commented on #5634
Job is not created.

Haven't tested it. Will report after testing.

EDIT: In second case, no training job is created. So it works as expected.

[2018-10-21 23:09] varun-tandon commented on #1545
I managed to resolve the issue through re-running the bash script after creation of a virtualenv. As was mentioned above, the issue seems to be with the Python configuration.

Instructions on setting up a virtualenv: https://packaging.python.org/guides/installing-using-pip-and-virtualenv/

[2018-10-22 00:36] sstone-codaio commented on #5553
Thanks for the really helpful guidance, for me it looks like adding the content type "audio/mpeg" works, thanks @nithusha21

[2018-10-22 07:49] DubeySandeep opened #5776 "Automate state navigation in translation tab."
Currently, after completing recording/uploading audio for a state/card of exploration translators have to find the next location to add audio so they use to go through the graph view. We can automate the process of navigation, Like if someone completes the recording of a state move them directly to the next node/state or to the next state which doesn’t have audio (using BFS).

Note: It would be gr

[2018-10-22 07:56] DubeySandeep opened #5777 "Unable to see the active state name in the translation tab."
We don’t provide any information about which state a user is actively working on (It’s only visible in the graph view i.e, the node having a black border). We need to provide this information to the user so that they can have it in their first glance!

Solution: We can add state name similar to the editor tab i.e, above the sate component nav bar in the translation tab.

[2018-10-22 09:04] nithusha21 commented on #5769
Hi @nalinbhardwaj could you mention which explorations you tried this on? I am unable to reproduce the bug.

[2018-10-23 04:16] seanlip commented on #5675
For contributors: please note existing progress in #5716. The following additional things need to be done in that PR, due to node_modules/ moving into the oppia/ folder:

- In the pre-commit linter script, exclude the node_modules/ directory from being linted
- In the backend tests, exclude the node_modules/ directory from being tested
- According to @LanJosh, package.json must be in the same dire

[2018-10-23 07:44] nalinbhardwaj commented on #5769
@nithusha21 has investigated this issue and found out more details. Leaving his findings here for reference:

This is a Safari specific bug, recorded by other developers on [SO](https://stackoverflow.com/questions/43517254/safari-10-1-xmlhttprequest-with-query-parameters-cannot-load-due-to-access-cont) and [Apple forums](https://forums.developer.apple.com/thread/96501).

It looks specific to POST

[2018-10-23 16:21] Shuayb1 commented on #5134
Picked core.controllers.editor

But not yet assigned to me

[2018-10-23 17:43] apb7 opened #5782 "Add lint check for continuation line"
Continuation line `\` should not be used break long lines, instead braces `(...)` should be used. We need to implement a check for continuation lines and ensure that they are not used throughout the code base.

[2018-10-23 19:35] #4973 closed, assigned to sstone-codaio

[2018-10-24 03:47] #5310 closed, assigned to nobody

[2018-10-24 11:57] DubeySandeep commented on #5134
unassigned @FinalHopee, @mharelick (from  core.domain.learner_progress_domain, core.controllers.tasks)

@prakharchoudhary, @durgeshra any update on the assigned issue?

[2018-10-24 12:18] DubeySandeep commented on #5729
Hi @mkkhedawat, any update on this?

[2018-10-24 18:18] nithusha21 commented on #5765
Fixed in #5768

[2018-10-24 18:18] #5765 closed, assigned to sstone-codaio

[2018-10-24 19:51] GusGu3 commented on #5751
I am able to do this if nobody else is already working on it

[2018-10-25 04:29] nithusha21 commented on #5590
Hi @brianrodri, are you still working on this?

[2018-10-25 04:29] nithusha21 commented on #5457
Hi @DubeySandeep any updates on this issue?

[2018-10-25 04:31] nithusha21 commented on #2485
Hi @1995YogeshSharma any updates on this issue?

[2018-10-25 04:36] nithusha21 commented on #5574
Hi @hemant0308, any updates on this issue? In general, you can create a WIP PR if you want a review of your work so far.

[2018-10-25 04:38] nithusha21 commented on #5516
@aks681 has this issue been completed?

[2018-10-25 04:39] nithusha21 commented on #4968
Hi @brianrodri, any updates?

[2018-10-25 04:39] nithusha21 commented on #4829
Hi @lilithxxx any updates on this issue?

[2018-10-25 06:46] sstone-codaio opened #5784 "Console log has unhandled promise error for audio assets"
We are seeing Unhandled Promise Rejection error in the console when play audios in Chrome and Safari.

Load the audio_test asset and click play. The audio gets played but an error message is observed in the console.
For Safari
[Error] Unhandled Promise Rejection: AbortError: The operation was aborted.
	(anonymous function)
	rejectPromise
For Chrome
Uncaught (in promise) DOMException: The play() re

[2018-10-25 06:50] DubeySandeep commented on #5784
The chrome issue looks similar to #4371

[2018-10-25 07:12] lilithxxx commented on #4829
@nithusha21 I will surely get into this next week as currently I am travelling

[2018-10-25 09:02] A-Yerkeshev opened #5785 "Unable to start frontend tests and local serve"
Good day.
I am developing Oppia on Windows 10 using Vagrant.
I face the problem when running the pre-commit checks.

When the pre-commit checks executed, it goes fine for about five minutes, but then it freezes on this line:
[code]
And never goes forward.

Aproov Bajaj suggested to make some changes in node_modules folder, but I realized that I have it empty for some reason.

Then Hoang suggested

[2018-10-25 09:10] A-Yerkeshev commented on #5785
Here is my log when running presubmit checks:
[code]

[2018-10-25 09:13] A-Yerkeshev commented on #5785
And here is the log from running start.sh
[code]

[2018-10-25 09:22] seanlip commented on #5785
/cc @apb7

Two questions:

- Do you have java installed? (Try running `java`, see if it works.) If not you may want to install Java so that the `java` command works.
- After running start.sh, did you try going to localhost:8181 in a browser window (as the message said to do)? What happened when you did so?

[2018-10-25 12:38] keshavg2 commented on #5777
Hi @DubeySandeep can you please explore it?

[2018-10-25 14:16] import-keshav commented on #5714
Hi @sanket-mali can i take this issue if you have no problem

[2018-10-26 06:45] A-Yerkeshev commented on #5785
When I run `java` the output is:
[code]

When I go to localhost:8181 everything works fine, I see the website and I can interact with it. When I was developing I just left the terminal window frozen as it is and was executing commands in new terminal.

[2018-10-26 06:47] seanlip commented on #5785
Yes, that sounds about right. You need to install java somehow so that "java" actually causes something to run.

And localhost:8181 is working as expected. What you see in the terminal is the live server logs. If you do things on the website, the log will receive new commands. You can use that to debug issues when testing on your local dev instance.

[2018-10-26 06:49] A-Yerkeshev commented on #5785
Thanks, @seanlip .
So what shall I write in the terminal to install Java?

[2018-10-26 06:50] seanlip commented on #5785
Probably "sudo apt install openjdk-7-jre-headless" or similar. It may depend on your local machine and environment.

[2018-10-26 07:18] #5553 closed, assigned to sstone-codaio

[2018-10-26 08:13] DubeySandeep opened #5787 "Unit Test for checking blob type for uploaded audio."
This issue is to track [#5780 comment](https://github.com/oppia/oppia/pull/5780#issuecomment-433311519),
@sshou14 If you'll find a way to add a test for checking audio blob type then you can make a PR otherwise feel free to close this issue (after checking!).

[2018-10-26 08:38] nswarup14 commented on #4374
Hi I'm new here, Can i start working on oppia.core.domain.stats_jobs_one_off ?

[2018-10-26 09:36] A-Yerkeshev commented on #5785
Mmmmm.... I executed the command and here the output:
[code]

This is my virtual machine:
[code]

[2018-10-26 09:59] nswarup14 commented on #5134
I'm new here. Can I be assigned to **core.storage.file.gae_models** ?
I would like to begin working immediately. Thanks

[2018-10-26 11:18] vibhor98 commented on #5134
Hi @nswarup14, I've assigned you. Please go ahead. Thanks!

[2018-10-26 15:00] nithusha21 commented on #5553
Glad that the investigation helped! Thanks for fixing this issue :)

[2018-10-26 18:56] #5243 closed, assigned to apb7

[2018-10-26 19:03] import-keshav commented on #5477
Sir @apb7 can you please elaborate it.
The problem i understand that pylint is not giving error for double space b/w comment and code.
So we have to give error for not having double space b/w comment and code.
If i am wrong please correct me. thanks.

[2018-10-26 19:06] seanlip commented on #5785
Hi @A-Yerkeshev, I'm afraid this is where my knowledge ends. You might need to use the Internet to figure out where these error messages are coming from. I think it's something to do with your machine not being able to contact to the Ubuntu package server...

@apb7: could you help?

[2018-10-26 19:09] import-keshav commented on #4374
Sir @vibhor98  i want to work on scripts.build can i work on it ?

[2018-10-26 19:36] apb7 commented on #5785
@A-Yerkeshev: I found a few such questions on [askubuntu](https://askubuntu.com/questions/364404/e-unable-to-fetch-some-archives-maybe-run-apt-get-update-or-try-with-fix-mis) and [stackoverflow](https://stackoverflow.com/questions/38743951/unable-to-fetch-some-archives-maybe-run-apt-get-update-or-try-with-fix-missin). Please have a look at them. Thanks!

[2018-10-27 00:22] seanlip commented on #4075
Just tested this with @brianrodri, looks like it's been fixed (the links work). Closing.

[2018-10-27 00:22] #4075 closed, assigned to nobody

[2018-10-27 00:25] brianrodri opened #5791 "Looking at Feedback Tab while not logged in shows errors"
**Describe the bug**
Looking at feedback tab while not logged in shows errors when clicking items.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/create/1
 2. Click on the last feedback item

**Observed behavior**
Orange error message appears.

**Expected behavior**
Feedback should appear, no error.

**Screenshots**
<img width="1339" alt="screen sh

[2018-10-27 02:06] BenHenning opened #5792 "Users should be able to opt out of bulk emails"
From an earlier investigation of the code, it appears that users who opt out of receiving emails will still receive bulk emails. We should make sure that either the existing email setting also applies to bulk emails, or introduce a new setting specific to bulk emails.

Note that we have not yet used the bulk email service to send out any emails.

[2018-10-27 02:06] BenHenning commented on #5792
/cc @seanlip

[2018-10-27 03:38] seanlip opened #5793 ""Error: [$compile:tpload]" issue causing page load errors"
We have been seeing and receiving reports of errors like the following:

[code]

**Additional context** The affected file varies -- we've seen background_banner_directive.html, top_navigation_bar.html, search_bar_directive.html, create_activity_button_directive.html, etc. It might be a network issue. This happens reasonably often (and consistently), though, so it would be good to try and figure ou

[2018-10-27 03:39] seanlip commented on #5793
(Also, if anyone can reproduce this, it would be great if you could add screenshots of the Network tab of your browser console to this issue thread! That will help us determine whether the root cause of this is a connectivity issue.)

[2018-10-27 03:41] seanlip opened #5794 "Server error: Cannot read property 'content' of undefined"
We are currently seeing this error in production. It happens intermittently but is relatively common. It might be due to a race condition.

[code]

/cc @hoangviet1993

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with

[2018-10-27 03:43] seanlip opened #5795 "Server error: Cannot read property 'doesInteractionSupportHints' of null"
We have been seeing this error in production. It happens frequently, and there were a couple of days in the past month when it occurred around 500,000 times. I think this is important to fix.

It comes in two flavors:

[code]

[code]

/cc @hoangviet1993

[2018-10-27 04:22] DubeySandeep commented on #5745
@DianaSellarova, any update on this?

[2018-10-27 04:40] apb7 commented on #5477
Hi @import-keshav, the issue deals with adding a check to ensure that pylint pragmas: `# pylint: disable=XXX-XXX-XXX` are used to disable the corresponding rule for a single line only. Read [here](https://docs.pylint.org/en/latest/faq.html#is-it-possible-to-locally-disable-a-particular-message) for more info about the pylint pragmas. Thanks!

[2018-10-27 05:44] A-Yerkeshev commented on #5785
Ehhh... Nothing :)
None of them worked. Do you find it reasonable to destroy VM and setup it again?

[2018-10-27 07:00] nithusha21 commented on #5769
I tried looking into this further. This seems to occur only for the POST requests to stats handlers. The only thing I see different in these handlers is this flag REQUIRE_PAYLOAD_CSRF_CHECK = false. I have no idea why these are there. Maybe this is not adhering to some of the safari access control standards?

I have no more ideas here. Could anyone else help investigate this further?

[2018-10-27 07:53] seanlip commented on #5769
/cc @hoangviet1993 is this related to #5793, do you think?

[2018-10-27 14:31] hoangviet1993 commented on #5793
This error happens when a page has not finished downloading all of the components (the "Loading" message has not disappeared) and the user tries to navigate away to a different page, whichever components have not finished will error out.
And Sean came up with a potential solution:

[2018-10-27 17:29] mzaman07 commented on #5572
The document is ready @christineycc , but I could not make a video for a complete big picture explanation. So you'll have to run it to critique it, sorry about that.

[2018-10-28 15:18] kirakrishnan commented on #5785
@A-Yerkeshev did you try using ubuntu app in windows 10? I had same issues when I tried doing using vagrant. it is much easier to get started with the ubuntu app.

[2018-10-28 15:32] hoangviet1993 commented on #5794
@seanlip For this error, are we trying to catch the race condition (i.e track what exactly happened that leads to the state's "content" property being undefined) or are we just looking to prevent this error, by putting in a null check for `getStatePropertyMemento`?

To clarify, I can see a potential solution:
`throw Error` whenever the property turns out to be undefined so as to have a clearer pat

[2018-10-28 15:44] A-Yerkeshev commented on #5785
@kirakrishnan Thanks, I didn't know that it exist, I will definetely check it out! Is it free to use?

[2018-10-28 15:59] kirakrishnan commented on #5785
@A-Yerkeshev It is free. [https://tutorials.ubuntu.com/tutorial/tutorial-ubuntu-on-windows#0](ubuntu). try installing it. It also suggested way for oppia windows users.

[2018-10-28 16:01] kirakrishnan commented on #5785
check the 2nd para which says you can also use ubuntu terminal. [https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29](oppia)

[2018-10-28 17:52] seanlip commented on #5794
Probably the former to start with -- we should understand what's going on
conceptually before putting in a workaround IMO.￼

[2018-10-29 01:49] brianrodri commented on #5590
Nope, so I'm unassigning for now. I've added it to the Analytics project page so I can find it an owner.

[2018-10-29 01:50] brianrodri commented on #5591
Unassigning myself for now. I've added it to the Analytics project page so I can find it an owner.

[2018-10-29 02:14] brianrodri opened #5798 "Introduce Improvements Tab to Exploration Editor"
![improvements-tab](https://user-images.githubusercontent.com/5094060/47670584-eee53e80-db83-11e8-8cf2-c21123ba28f7.jpg)

The design borrows heavily from the Creator Dashboard, so there is a lot of opportunity for code re-use.

**Requirements**:
- HTML template rendered by bare-bones directive.
  - No need for any cards, just a containing div for them.
- Must be backed by a config property flag —

[2018-10-29 02:21] brianrodri opened #5799 "Feedback Issues Card"
![feedback-issue-card](https://user-images.githubusercontent.com/5094060/47670624-0ae8e000-db84-11e8-93ec-df36ebf91b5b.jpg)

This actually should already have all the required data available, and should be more of a job of simply re-representing the data as a card.

Note that feedback is resolved *explicitly*, and should be hidden from the main “open” list when classified as such.

**Dependencies*

[2018-10-29 02:24] brianrodri opened #5800 "Unaddressed common answer improvement task"
![common-answer-issue-card](https://user-images.githubusercontent.com/5094060/47670646-1805cf00-db84-11e8-8d36-09b660859b03.jpg)

These must be programmatically generated and “addressed”. We should try to get rid of them as soon as we detect that an answer group explicitly targets it.

**Dependencies**:
- #5798

**Requirements**:
- Cards will appear if and only if:
  - They are among the top 10 an

[2018-10-29 02:34] brianrodri opened #5801 "Define metrics for quantifying exploration effectiveness"
In order to make sure that Oppia's lessons continue to be enjoyable, we need to develop a way to measure lesson “effectiveness” so that creators can see that their students are getting value from exploration changes.

We’d like to see a UX for lesson “retention” and “effectiveness”, based on cross-sectional aggregate data which indicate whether a student has demonstrated “frustration/confusion/bor

[2018-10-29 02:39] brianrodri opened #5802 "Playthrough Issue Card"
![playthrough-issue-card](https://user-images.githubusercontent.com/5094060/47670683-248a2780-db84-11e8-84b0-dd74d7b47e4e.jpg)

This has all the required implementation finished (thanks to @pranavsid98), and just needs to be redesigned to be rendered as cards.

**Dependencies**:
- #5798

**Requirements**:
- Prepare JSON data according to schema.
- Pretty rendering of data (easy)
- Playthrough Hexa

[2018-10-29 02:42] brianrodri commented on #4968
I don't have much bandwidth to work on this, so I'm unassigning myself and giving it a space in the project page for someone to pick up.

[2018-10-29 16:34] hoangviet1993 commented on #5794
I have managed to get a similar error message with a front-end test for ExplorationStateService:

![screen shot 2018-10-29 at 12 30 32 pm](https://user-images.githubusercontent.com/11153258/47665119-c9056d00-db76-11e8-8ff9-c0679c3f5ab2.png)

![screen shot 2018-10-29 at 12 31 42 pm](https://user-images.githubusercontent.com/11153258/47665071-af642580-db76-11e8-8209-2571ed246136.png)

Does not look

[2018-10-29 17:18] A-Yerkeshev commented on #5785
Ok, thanks a lot!

[2018-10-29 17:19] #5785 closed, assigned to nobody

[2018-10-29 17:29] #5687 closed, assigned to hemant0308

[2018-10-29 21:15] jacobdavis11 commented on #5757
@sshou14 are you working on this?

Also it would be helpful if you could add some more details as to what this issue refers to.

[2018-10-29 21:15] jacobdavis11 commented on #5746
@suicide11 how is this going?

[2018-10-29 21:16] jacobdavis11 commented on #5726
@hemant0308 @wirelessfire how is this going?

[2018-10-29 21:17] jacobdavis11 commented on #5717
@sshou14 are you still working on this?

[2018-10-29 21:18] jacobdavis11 commented on #5692
@aks681 are you still working on this?

[2018-10-29 21:18] jacobdavis11 commented on #5627
@DubeySandeep how is this going?

[2018-10-29 21:19] jacobdavis11 commented on #5611
@hemant0308 are you still working on this?

[2018-10-29 21:20] jacobdavis11 commented on #5544
@aks681 are you still working on this?

[2018-10-29 21:21] jacobdavis11 commented on #5503
@apb7 any updates?

[2018-10-29 21:22] jacobdavis11 commented on #5420
@apb7 are you working on this at the moment?

[2018-10-29 21:23] jacobdavis11 commented on #4995
@nithusha21 how is this going?

[2018-10-29 21:25] jacobdavis11 commented on #4438
@BenHenning is this an issue you're still working on?

[2018-10-29 22:00] anubhavsinha98 commented on #5466
Is this issue open ?

[2018-10-29 22:14] sstone-codaio commented on #5717
@jacobdavis11 Removed my assignment so someone else can work on this.
Thanks!

[2018-10-30 03:58] hoangviet1993 commented on #5795
I am pretty surprised Travis is passing the hint tests fine. The moment I isolated the hint test in `stateEditor`:
`fit('uses hints and solutions in an exploration', function()`
(command: `bash scripts/run_e2e_tests.sh --suite=stateEditor`)
The bug presents itself!

![screen shot 2018-10-29 at 11 57 04 pm](https://user-images.githubusercontent.com/11153258/47695020-81aec900-dbd6-11e8-8760-8b33330f

[2018-10-30 04:59] lilithxxx commented on #5466
@anubhavsinha98 I am currently working on it

[2018-10-30 05:01] tmw9 commented on #5799
@brianrodri  I would like to take up this issue.
I'm new to oppia can you guide me from where should I start?

[2018-10-30 06:04] hemant0308 commented on #5611
Yes @jacobdavis11
this is the [PR](https://github.com/oppia/oppia/pull/5661)

[2018-10-30 06:04] hemant0308 commented on #5726
working on this.!
will open a PR shortly
@jacobdavis11

[2018-10-30 07:13] seanlip commented on #5795
This is a really good catch! Great that we also have a reproducible test case.

Can you dive further into it? I think there are two things to look into:

(a) why this is happening
(b) why this is passing on Travis. It could be that the hint tests are being confounded with other ones (e.g. previous tests in the suite or elsewhere may have set up the explorations on the server somehow, thus hiding t

[2018-10-30 07:14] seanlip commented on #5794
What is causing the call to .init(undefined) to occur in practice?

[2018-10-30 10:32] sandeep-patel11 commented on #5746
I am still working on it. Made pr #5764

[2018-10-30 13:14] brianrodri commented on #5799
Hi @m3rchantt, thanks for the interest!! So unfortunately for this issue, it'll be rather hard to implement until #5798 is finished. Until then, there won't be any real way to check that your change is working correctly (since there won't be anywhere to take an actual look at your code).

If you'd like, I can ping you once someone has finished #5798!

[2018-10-30 17:35] apb7 commented on #5420
Hi @jacobdavis11, I am not working on this at the moment. Therefore, un-assigning myself. Thanks!

[2018-10-30 17:35] apb7 commented on #5503
Hi @jacobdavis11, I am not working on this at the moment. I will post further updates as and when I come across them. Thanks!

[2018-10-30 18:33] nithusha21 commented on #5769
Here are some details from further investigation:

- This error occurs only on leaving an exploration.
- Only if the user leaves the exploration before all assets are loaded, the corresponding error log is obtained.
- On checking the network tab, I noticed that only requests for png files had failed. So we think it is something to do with the code trying to pre-load images, and on quitting the pag

[2018-10-30 18:34] keshavg2 commented on #4057
Can anyone please assign me hintobjectfactory.js

[2018-10-30 18:42] keshavg2 commented on #5777
Hi @dubeysandeep can you please  explore the solution line. actually I do not understand it properly.

[2018-10-30 18:51] nithusha21 commented on #5769
Here are some screenshots,
![image](https://user-images.githubusercontent.com/11898234/47742362-79bc5b00-dca2-11e8-9991-00abd9f3f46b.png)
The console error.

![image](https://user-images.githubusercontent.com/11898234/47742478-c142e700-dca2-11e8-8271-8682c534b582.png)
This is a failed file's network tab log.

![image](https://user-images.githubusercontent.com/11898234/47742544-e172a600-dca2-11e8-8

[2018-10-30 21:31] anubhavsinha98 commented on #5466
okay @lilithxxx

[2018-10-30 23:29] seanlip commented on #4374
@lioniyon FYI acl_decorators has been completed in #5803 (thanks @dchen97!)

[2018-10-30 23:40] seanlip commented on #5795
(Also /cc @kevintab95 in case he has any ideas.)

[2018-10-31 00:31] wirelessfire commented on #5726
Still working on it, should be done soon.

On Mon, Oct 29, 2018 at 5:17 PM Jacob Davis <notifications@github.com>
wrote:

[2018-10-31 01:38] hoangviet1993 commented on #5795
a) Like the log has showned, the error is caused by this line:
https://github.com/oppia/oppia/blob/de0b0172b7d736038583b84ec309e700ea1ede82/core/templates/dev/head/components/HintAndSolutionButtonsDirective.js#L60
Here is the commit that introduced it:
https://github.com/oppia/oppia/commit/69ba48e5a02efa9866de07918281385f9b362671
Do you need any further clarification? I can replicate this error ma

[2018-10-31 01:50] seanlip commented on #5795
Ah, interesting, thanks a lot for the elaboration @hoangviet1993, as well as the specific commit -- that's very helpful! I can't delve into this right now but let me /cc @aks681 who introduced the commit that seems to have caused this to break -- maybe he would have a better idea of what has conceptually changed.

That said, one thing I've noticed in general is that Protractor keeps failing almost

[2018-10-31 02:06] hoangviet1993 commented on #5795
Yep, for those trying to replicate, use the "Graph" interaction.

[2018-10-31 03:01] hoangviet1993 commented on #5794
Well I do not think we should try to read too much into the test. I was unable to replicate the error manually so I had to resort to the test to help me. I believe that test can be false positive. I do not think that ExplorationStateServices init an `undefined` variable.
https://github.com/oppia/oppia/blob/d9fd5338dd9d869a1c1e73e3e4a0b922994a9106/core/templates/dev/head/pages/exploration_editor/Ex

[2018-10-31 05:31] seanlip commented on #5794
Thanks for the analysis, @hoangviet1993! I think your read is correct. The code snippet in (3) does indeed account for the behaviour -- the saveStateContent is passed into the child directive which is aliased to $scope.onSaveStateContent.

You're thinking that the error is on line 138 in ExplorationStatesService.js, right (`propertyRef = propertyRef[accessorList[i]]`)? I think I agree with you, it

[2018-10-31 06:40] DubeySandeep commented on #5777
Hi @17bcs029, Sorry I didn't understand your first question.
Regarding your 2nd question:
We want something like this (image below):
![image](https://user-images.githubusercontent.com/16653571/47770573-e9affd00-dd05-11e8-88ed-1bf4277052ea.png)

[2018-10-31 07:36] keshavg2 commented on #5777
@DubeySandeep  I don't clear about this then you please tell me
if i am select the another component navbar then he will change the name accordingly to the editor tab.
just like I'm select the hint component navbar then the state name show the Hints.

[2018-10-31 07:59] DubeySandeep commented on #5777
@17bcs029, ["Content, "Feedback", "Hints", "Solution"] are the components of a state(or card). You can find all of the states in the graph view and currently, the selected states are bordered (black). I hope this may help you to understand the terminology.

[2018-10-31 08:46] keshavg2 commented on #5777
Thanks @DubeySandeep

[2018-10-31 09:36] DubeySandeep commented on #5777
@17bcs029, Welcome! :) In general, you can look into the wiki page for such help (see here for "[
Glossary of terms](https://github.com/oppia/oppia/wiki/Glossary-of-terms)").

[2018-10-31 14:35] apb7 opened #5809 "Add check to match line breaks in controller dependencies"
Line breaks between stringified dependencies and function parameters should match for each controller (See [here](https://github.com/oppia/oppia/pull/5659#discussion_r229619308)). A similar check was introduced in PR #5225.
To implement this check, the earlier used regexp can be extended further.

[2018-10-31 19:24] aks681 commented on #5795
@seanlip @hoangviet1993 I was not able to reproduce this. I ran the stateEditor e2e test 4 times. The first time, it did show `hint button takes too long to be clickable`, but with no console errors. The rest 3 times, it passed successfully (I had the console open during the length of the test for 3 out of the 4 tests, the one in which I didn't have console open also passed).
I also manually creat

[2018-10-31 21:13] hoangviet1993 commented on #5795
OK so I tried really hard to have the replication step down and I have to say what I discovered is really weird.
(Pop the console error open)
1. Create an exploration with any interaction ( I used Text Input and Graph interaction)
2. Create the responses for the interaction (I created two responses, the default "try again" and another response going to another state)
3. Create a hint.
This is wher

[2018-11-01 19:48] vojtechjelinek opened #5813 "Return 401 when user is not logged and 403 when they are not authorized"
**Is your feature request related to a problem? Please describe.**
Currently when there is an AJAX request and the user is not logged in when he should be we return *401 Unauthorized*. When he is logged in but does not have permission for the specific request we also return *401 Unauthorized*.
**Describe the solution you'd like**
We should differentiate between these two states. According to [403

[2018-11-01 20:06] vojtechjelinek opened #5814 "Exploration player: Double edit button in navbar"
**Describe the bug**
When exploration player page is loading the edit button appears twice.

**To Reproduce**
 1. Go to library
 2. Open any exploration

**Observed behavior**
Edit button/icon is shown twice.

**Expected behavior**
There should be just one edit button/icon.

**Screenshots**
![image](https://user-images.githubusercontent.com/10142938/47876497-bb234680-de19-11e8-8e89-d19e09f26fef.pn

[2018-11-01 21:27] seanlip commented on #5813
Hi @vojtechjelinek, I'm not sure I fully understand this. I get the point about theoretical correctness, but what's an example of where the distinction between "not logged in" and "logged in but does not have permission" actually matters? In both cases it seems to me that it's just "unauthorized" and we don't serve the request, so just trying to understand exactly how we are using this signal to d

[2018-11-02 06:40] mighty-phoenix commented on #5814
**Please assign this issue to me.** @vojtechjelinek

[2018-11-02 09:30] seanlip opened #5816 "Recommend related lessons at the end of the last lesson in a collection."
When the learner gets to the end of the last lesson in a collection, it would be nice to recommend related lessons.

We could do the following (suggested by @markhalpin): have two buttons, Return to Library (or Browse Library) and Browse Recommended Explorations. The latter button would lead to a small set of related explorations.

/cc @dawsoneliasen

[2018-11-02 10:09] mighty-phoenix commented on #5816
So are we planning something like displaying the explorations having the same tags as the last lesson? We could use a div to show related explorations with buttons to navigate through the explorations if the number of explorations having the same tags is large. @seanlip

[2018-11-02 11:13] mighty-phoenix opened #5817 "Running script start.sh with sudo produces error"
### **Description of bug:**
Running script start.sh with sudo(with super user privileges), gives the following error when GAE development server starts. Here, **hackerpro** is the user name. This problem is encountered with FIrefox and Chromium. Both of them are installed properly and yet the errors. If w3m is installed, then w3m is run. Otherwise, the following output is shown:
![image](https://u

[2018-11-02 11:23] seanlip commented on #5817
Do not run start.sh with sudo -- this will lead to all sorts of problems (we've tried :P). You mention that sudo is used "as instructed in oppia README.md", but I just checked and that does not seem to be the case.

If running start.sh without sudo is not working, then that's an issue that needs to be looked into. /cc @apb7, who is the person to talk to about this.

Thanks for reporting!

[2018-11-02 11:25] mighty-phoenix commented on #5817
![image](https://user-images.githubusercontent.com/32777813/47912867-0728c680-dec0-11e8-8768-22f78dccf76b.png)
![image](https://user-images.githubusercontent.com/32777813/47912875-0d1ea780-dec0-11e8-95b1-c270fdcd1a4d.png)
Without sudo it doesn't work at all. :p @seanlip

[2018-11-02 11:36] rakshitkumarcse commented on #5817
Also, it is given in the readme.md :p
![image](https://user-images.githubusercontent.com/32777813/47913291-92568c00-dec1-11e8-9c7e-7da1a386ee85.png)

[2018-11-02 11:42] seanlip commented on #5817
I do not see mention of "sudo" in the README or in your screenshot.

Please make sure to fact-check your comments carefully before posting, and read comments by others carefully. Otherwise, communication will be difficult, and it will be hard to collaborate.

[2018-11-02 11:43] mighty-phoenix commented on #5817
@seanlip I am sorry. Will take care. I understand. This won't happen again. But then again without sudo nothing works..

[2018-11-02 12:00] shxwhuang opened #5818 "enable_host_checking"
If you'd like to propose a feature, describe what you'd like to see. Mock ups would be great!

If you're reporting a bug, please be sure to include the expected behaviour, the observed behaviour, and steps to reproduce the problem. Console copy-pastes and any background on the environment would also be helpful.

Thanks!

[2018-11-02 12:00] #5818 closed, assigned to nobody

[2018-11-02 12:08] DubeySandeep commented on #5817
Hi @rakshitkumarcse, I think this is a permission issue with your "media" storage (i.e, the dir. in which you have kept the oppia repo. ).

Also, was it working earlier? (as you have mentioned that you have tested your PR on local dev. (see [here](https://github.com/oppia/oppia/pull/5815#issuecomment-435318627)))

[2018-11-02 12:15] apb7 commented on #5817
Yes, I agree with @DubeySandeep. @rakshitkumarcse, can you please try this in some other directory, may be the home directory? Thanks!

[2018-11-02 12:28] mighty-phoenix commented on #5817
@apb7 @DubeySandeep I figured out the issue. It wasn't the issue with the media storage. When I had cloned the repo on my system, by default the permissions weren't sufficient. So I had to recursively change the permissions using "sudo chmod -R 777 oppia". After that, everything ran smoothly. @DubeySandeep As I had mentioned in my other PR, the server was working, but I had to manually open the br

[2018-11-02 13:06] apb7 commented on #5817
@rakshitkumarcse, I am pretty sure that neither oppia nor other root-level directories require sudo access. Can you please check up the drive where you're cloning/setting up? Thanks!

[2018-11-02 13:10] mighty-phoenix commented on #5817
@apb7 I just checked. You are correct. Thanks.

[2018-11-02 13:10] #5817 closed, assigned to nobody

[2018-11-02 20:16] nithusha21 opened #5820 "Invalid SSL certificate error on Mac OSX while running various backend tests."
**Describe the bug**
Certain backend tests fail on Mac OSX because of "invalid SSL certificate" error. This error also happens during the signup process on my local server.

Here is an example of the failed test:
`test_default_dashboard_for_new_users (core.controllers.profile_test.SignupTest) ... ERROR:root:Exception raised: Invalid and/or missing SSL certificate for URL: https://www.gravatar.com/

[2018-11-03 04:13] seanlip commented on #5529
@apb7 this still needs #5790 to be complete before it should be closed, right?

[2018-11-03 13:23] mighty-phoenix opened #5821 "the accessibility tooltips are missplaced for some buttons"
### **Bug**
The accessibility tooltips are missplaced for some buttons in exploration player.

![image](https://user-images.githubusercontent.com/32777813/47952665-dff1f800-df98-11e8-8c54-7e0080f4e174.png)

For some, it is correct.

![image](https://user-images.githubusercontent.com/32777813/47952676-0ca60f80-df99-11e8-885b-7684e0b6c73e.png)

### **To reproduce the error**
1)Open an exploration fr

[2018-11-03 14:15] #5814 closed, assigned to nobody

[2018-11-03 20:23] mallenjr commented on #5813
I would love to work on this! Could you point me in the right direction? @vojtechjelinek

[2018-11-04 05:27] 1995YogeshSharma commented on #5134
Assigned core.controllers.tasks to @ctao5660

[2018-11-04 06:25] nithusha21 commented on #4057
Hi @sjkadali any updates?

[2018-11-04 06:29] nithusha21 commented on #4057
Hi @aditya81070, hope you are feeling better now. Let us know if you need more help from us :)

[2018-11-04 09:30] seanlip opened #5822 "There should be an explicit customization option in the sorting interaction to allow multiple sort items in the same position."
I was just updating a Fractions lesson to use the new sorting interaction, and on testing, I found that for a standard sorting question, it was possible for two objects to occupy the same slot. In general, this may be desirable in harder sorting problems, but for a student's first introduction to sorting I think we should have the option to disallow it. It may not be clear to the student that sort

[2018-11-04 09:30] seanlip commented on #5822
/cc @vibhor98 -- would you mind looking into this, please?

[2018-11-04 15:51] vojtechjelinek commented on #5813
@seanlip Basically for all requests from frontend that fail we show notification now ([app.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js#L322)) since we need to get rid of `GLOBALS.is_user_logged_in` using 401 response would be a good way to signify that the user is not logged in. I would need to add a condition so the notification wouldn't get shown when the respo

[2018-11-04 17:54] CelineDknp commented on #5134
As said in the gitter chat, I'm working on core.storage.email.gae_models

[2018-11-04 18:35] mighty-phoenix commented on #5821
@vojtechjelinek The issue is fixed. Kindly merge. :)

[2018-11-04 20:29] seanlip commented on #5769
I just saw [this piece of code](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js#L322) btw (when looking into @vojtechjelinek's comment on #5813). It's supposed to ensure that incomplete responses aren't considered an error. Not sure why it isn't working in this case, but adding it to this issue thread for reference since it seems potentially relevant.

[2018-11-04 20:31] seanlip commented on #5813
Hi @mallenjr -- please start [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)! Once you've completed the steps there, @vojtechjelinek can set you up.

@vojtechjelinek I think the code you reference does a different thing from what you're saying. As I understand it, it's for cases where the frontend makes a request, and then the user navigates away from the p

[2018-11-04 20:36] vojtechjelinek commented on #5813
There is `rejection.status !== -1` so the -1 is skipped but for all other HTTP errors notification is created and logged.

[2018-11-04 20:41] vojtechjelinek commented on #5813
I use `GLOBALS.userIsLoggedIn` in [UserService](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/services/UserService.js#L29) I would need to get rid of it there and handle the 401 Response in [UserService line 35](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/services/UserService.js#L35) but since now [app.js](https://github.com/oppia/oppia/blob/develop/co

[2018-11-04 21:25] seanlip commented on #5813
Ah ok, I think I see where you're coming from. But I think this is a bit like using a sledgehammer to crack a nut. Let me explain how I'm thinking about it, and maybe you can tell me if I've got it wrong.

Basically, we want to get rid of GLOBALS.userIsLoggedIn and figure that out using an async call. The guardian of that functionality is UserService. Once UserService has that information, it can

[2018-11-04 23:42] mighty-phoenix commented on #5821
@vojtechjelinek Final changes made. Kindly merge.
Thanks! :)

[2018-11-04 23:48] big-mclarge-huge commented on #5019
What version of Oppia does this effect, because I couldn't reproduce it in the version on oppia.org because the button does not appear at all there, this seems intentional.

[2018-11-05 14:10] DubeySandeep commented on #4829
@lilithxxx, any update on this?

[2018-11-05 14:18] DubeySandeep commented on #5134
@kirakrishnan, @coobubba, @son-vyas, @MichJP, @DiegoCaraballo, @netajik, @seritaevelyn, @nswarup14, any update on this?

@sshou14 are you still working on `core.controllers.reader`?
@JoyLubega, are you working on `core.storage.user.gae_models`?

de-assigned @prakharchoudhary, @durgeshra!

[2018-11-05 14:26] DubeySandeep commented on #5466
@lilithxxx, any update on this?

[2018-11-05 14:28] DubeySandeep commented on #5476
@abeerunscore96, are you working on this?

[2018-11-05 14:30] DubeySandeep commented on #5477
@import-keshav, are you working on this issue?

[2018-11-05 14:47] DianaSellarova commented on #5745
@DubeySandeep i'll have it finished today :)

[2018-11-05 15:05] abeer-khan commented on #5476
I worked on and resolved the docstrings issue for main.py. But I think there are still other pieces of code that need docstrings checks: https://github.com/oppia/oppia/issues/4374

[2018-11-05 15:07] abeer-khan commented on #5476
I worked on and resolved the docstrings issue for main.py. But I think there are still other pieces of code that need docstrings checks: https://github.com/oppia/oppia/issues/4374

[2018-11-05 15:10] import-keshav commented on #5477
No @DubeySandeep i was not working on this issue you can take it.thanks

[2018-11-05 16:13] DubeySandeep commented on #5757
@sshou14, any update on this?

[2018-11-05 16:15] DubeySandeep commented on #5726
@hemant0308 @wirelessfire , how is this going?

[2018-11-05 16:17] DubeySandeep commented on #5692
@aks681, any update on this?

[2018-11-05 16:21] DubeySandeep commented on #5791
@nithusha21, any update on this?

[2018-11-05 16:23] DubeySandeep commented on #5457
@nithusha21, I'm working on it!

[2018-11-05 16:25] DubeySandeep commented on #5627
@jacobdavis11, This is going to be a long project, so I'm unassigning this for now.

[2018-11-05 16:27] DubeySandeep commented on #4995
@nithusha21, any update on this issue?

[2018-11-05 16:27] DubeySandeep commented on #5516
@aks681, Ping!

[2018-11-05 16:30] DubeySandeep commented on #5544
@aks681, any update on this issue?

[2018-11-05 16:31] DubeySandeep commented on #5738
@prasanna08, any update on this issue?

[2018-11-05 16:38] sstone-codaio commented on #5134
@DubeySandeep not any more, you can de-assign me from the item.

Thanks!

[2018-11-05 17:07] sstone-codaio commented on #5757
Sorry for the late response. Yes I will update the description with more details @jacobdavis11
Essentially this is a follow up to #5713 to further consolidate the asset handlers. In that PL, we consolidated the url as follows.

[code]

Looking at this we think it makes more sense to just have one handler to handle the requests to assetsdevhandler, so we filed this issue to do that.

[2018-11-05 17:49] DubeySandeep commented on #5755
Hi @nsivapalan, any update on this issue?

[2018-11-05 17:50] DubeySandeep commented on #5134
@sshou14, Update the issue, thanks for the info. :)

[2018-11-05 19:19] JoyLubega commented on #5134
Hello Sandeep, I am still working on it. my Pc had crashed a week back. But
am okay now. Thanks.

On Mon, Nov 5, 2018 at 8:50 PM Sandeep Dubey <notifications@github.com>
wrote:

[2018-11-05 19:28] #5821 closed, assigned to nobody

[2018-11-05 21:20] nsivapalan commented on #5755
Hi @DubeySandeep, unfortunately I haven't made much progress so far, feel free to re-assign this if someone else wants to work on it.

[2018-11-06 03:06] sjkadali commented on #4057
Hi @nithusha21 , I am working on it. Got some errors while running the test
file. So trying to fix it.

On Sun, Nov 4, 2018 at 1:25 AM Nithesh N. Hariharan <
notifications@github.com> wrote:

[2018-11-06 04:56] kevinlee12 commented on #5019
@big-mclarge-huge, I was able to replicate this with the latest develop code on Firefox v63.0.

[2018-11-06 04:56] kevinlee12 commented on #5019
it doesn't occur on Chrome

[2018-11-06 11:50] lilithxxx commented on #4829
@DubeySandeep working on this

[2018-11-06 19:50] DubeySandeep commented on #5457
I looked into this and found this happens when you don't have any audio in the exploration and you have disabled the autogen audio for the exploration.
Steps to reproduce:
- Create an exploration.
- Go to settings and disable Auto-text to speech.
- Go to Preview mode and click the audio bar.
- Check console.

Solutions:
- Hide the audio button if there isn't anything to play in the entire explorat

[2018-11-06 20:00] christineycc commented on #5572
Hi Mohammad,

Sorry for the late reply. But can you actually take quick pictures as I’m
not able to run it.

Thanks,
Christine

On Sat, Oct 27, 2018 at 1:29 PM Mohammad Zaman <notifications@github.com>
wrote:

[2018-11-06 20:26] seanlip commented on #5457
Thanks! I think 1st option is better.

[2018-11-06 21:24] mighty-phoenix commented on #5816
@seanlip kindly reply.

[2018-11-06 21:28] seanlip commented on #5816
Thanks for the ping. It's a good question; I'm not sure exactly how "related" should be defined. Having similar tags is one way, and if we have more of a taxonomy later then using lessons in the same category or that have the current lesson as their prerequisite might be another.

This needs a bit more speccing out, though; a design doc would probably be in order.

[2018-11-06 21:31] DubeySandeep commented on #5816
Hi @rakshitkumarcse, I think this issue is a bit tricky and needs design doc! I would suggest you to work on some starter issue then you can continue once you'll get familiar with the oppia codebase! (see [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do) ).

[2018-11-06 21:41] mighty-phoenix commented on #5816
@seanlip @DubeySandeep I see great possibilities in Oppia, which is why it's my favorite. I hope I can get familiar to the codebase in the coming time and contribute to the best of my ability then.
Thanks! :)

[2018-11-06 23:04] coobubba commented on #5134
Hey Sandeep, I'm working on my issue, I've just been busy so I haven't had time to really focus. I should have some time this week to really buckle down. Thanks.

[2018-11-07 02:10] mzaman07 commented on #5572
I figured out that it was just my computer was being slow. I played the video on one of my other computers it's fine so I'll be uploading it to my youtube channel.

[2018-11-07 04:08] DubeySandeep commented on #4374
@yesass, any update on `oppia.core.domain.fs_services` & `oppia.core.storage.question.gae_models`?

[2018-11-07 05:52] netajik commented on #5134
Hello @DubeySandeep, sorry for the delay. I will update within few days. Thank you.

[2018-11-07 11:52] DubeySandeep commented on #5572
@christineycc & @mzaman07, I have documented the translation tab tour (as such structured in #5796) in [this](https://docs.google.com/document/d/1p_HuTkWwsQEuve6jgdB1RJieIjT1CGV8ZrR3nslcP9c/edit?usp=sharing) doc. Please check and suggest the changes, let's finalize the structure of the tour there.
/cc @seanlip

[2018-11-07 13:56] rafalk342 commented on #4374
Can I be assigned to `oppia.extensions.objects.models.objects`?

[2018-11-07 13:58] DubeySandeep commented on #4374
@rafalk342, I've assigned you to  `oppia.extensions.objects.models.objects`, you can start working on it. Thanks! :)

[2018-11-07 14:10] DubeySandeep commented on #5729
Un-assigned @mkkhedawat, from this issue because of lack of response!

[2018-11-07 14:13] DubeySandeep commented on #5745
Hi @DianaSellarova, how is it going?

[2018-11-07 19:15] varun-tandon commented on #5134
Can I be assigned **core.controllers.learner_dashboard** please?

[2018-11-07 19:29] DubeySandeep commented on #5134
Hi @varun-tandon, I've assigned you to  `core.controllers.learner_dashboard`. :)

[2018-11-07 19:34] DubeySandeep commented on #5134
@netajik, @JoyLubega, @coobubba Thanks for the update!

[2018-11-07 19:35] CelineDknp commented on #5134
@DubeySandeep did you assign me to core.storage.email.gae_models ?

[2018-11-07 19:40] DubeySandeep commented on #5134
@CelineDknp, Thanks for the ping, Sorry I missed your [comment](https://github.com/oppia/oppia/issues/5134#issuecomment-435690992) but now I've assigned you to `core.storage.email.gae_models`.

[2018-11-08 06:48] DubeySandeep opened #5836 "pre-push hooks are not working as expected."
**Describe the bug**

The pre-push hook is not working as expected i.e, it runs lint test for the files which isn't touched in the new feature branch.

**To Reproduce**
Steps to reproduce the behavior:
 1. Checkout develop.
 2. Update with upstream/develop.
 3. Create a new branch.
 4. Do some changes in a single file.
 5. Push the changes and check the number of files it's testing (lint).

**Obse

[2018-11-08 09:47] DubeySandeep commented on #5739
Hi @big-mclarge-huge, are you working on this?

[2018-11-08 13:25] KhalidRmb commented on #5729
Hello @DubeySandeep! If no one is working on this, I would like to pick it up and work over the weekend. I've already signed the CLA and set things up.

[2018-11-08 13:30] DubeySandeep commented on #5729
Hi @KhalidRmb, This issue is open so feel free to work on this. Thanks! :)

[2018-11-08 16:52] nithusha21 commented on #4057
Thanks for the status update! Want any help from us @sjkadali?

[2018-11-08 18:36] dchen97 commented on #5134
Can I be assigned to `core.domain.learner_progress_domain`? Thanks!

[2018-11-08 18:59] lilithxxx opened #5839 "Mobile tests for the develop branch are failing"
**Describe the bug**
Currently the mobile tests for the develop branch are failing. This is happening because BrowserStack (used to run the mobile tests) have updated the Chrome browser used for testing to version 70. This version of Chrome reports slow network as console errors.

**Additional context**
The dev-flow team is working on it (This issue is to keep a track of this problem).

[2018-11-08 22:43] vojtechjelinek commented on #5813
(a) Ok.

(b) I think all the authentication related stuff is already mostly handled by _acl_decorators.py_ and Python errors that are defined in _base.py_, so then problems can only arise if someone modifies _acl_decorators.py_. Basically to return 403 would just require modifying _[base.py:492](https://github.com/oppia/oppia/blob/develop/core/controllers/base.py#L492)_ and then frontend stuff.

I

[2018-11-08 23:37] seanlip commented on #5813
Ah, I think that even if you do the more general approach, you'd want to do the more specific change as well, since "not logged in" is still, conceptually, not an error. The "not logged in" error should only present itself when a user who's not logged in tries to access a resource that requires login. So it's not so much a question of the size of the change, it's more about what's conceptually cor

[2018-11-09 14:16] lilithxxx opened #5843 "Checks to enforce a single space after '#' in a comment and to capitalise it"
There should be checks:
* to enforce a single space after '#' in a comment
* to enforce all comments to start with a capital letter.

These checks should go in `_check_comments` in `pre_commit_linter`

[2018-11-09 16:02] hemant0308 opened #5845 "Profile picture modal Not showing picture when we add it again after discard it ."
When uploading new profile picture, In image upload modal, If we discard the picture which is already uploaded by clicking the **X** button,after that we are unable to add new picture again.we should close the modal and open it to add new picture then.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to user preferences page
 2. Click on profile picture
 3. Click on **upload a file** butt

[2018-11-09 16:16] nithusha21 commented on #5845
Thanks for the bug report. Were there any console errors during this process?

[2018-11-09 16:35] import-keshav commented on #5845
hi @hemant0308 I tried the above steps but I don't get the error, So let post it on gitter and check whether anyone other also gets this error. thanks

[2018-11-09 16:48] nithusha21 commented on #5845
Hi @import-keshav I tried the repro steps on the test server (https://oppiatestserver.appspot.com). And I can reproduce the error. Interestingly enough, there are no console logs.

@import-keshav -- did you try on local server?

[2018-11-09 16:56] import-keshav commented on #5845
hi, @nithusha21 Yes I tried on the local server.
I test it on https://oppiatestserver.appspot.com and this error is only coming on chrome, not on firefox
and let check it on other browsers too. thanks

[2018-11-09 17:14] hemant0308 opened #5846 "Suggestion author not able to view the suggestion in creator dashboard page."
The suggestion author Not able to view the suggestion in creator_dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test exploration from reviewer account.
2. Add a suggestion to exploration from author account.
3. Go to creator dashboard page.
4. Open the suggestion from **suggestions created** list
5. Click on **view suggestion** button.

**Observed behavior**
When cl

[2018-11-09 17:17] hemant0308 commented on #5846
I found it in [oppia test server](https://oppiatestserver.appspot.com/learner_dashboard)

Below are the screenshots of console errors.

![screenshot from 2018-11-09 22-45-49](https://user-images.githubusercontent.com/13145963/48277689-67e07200-e471-11e8-9fa9-c587a8106cba.png)

[2018-11-10 01:21] ctao5660 commented on #5843
Working on this right now, I'll open pull request very soon.

[2018-11-10 02:05] seanlip commented on #5846
Hi @hemant0308 @nithusha21, some thoughts:
- Are you able to repro this using the --prod_env flag locally?
- If so, then try adding _directive.html to the end of the modal file name and see if the error goes away.

It's possible that the build process isn't generating the HTML template correctly because it doesn't end with the right suffix. If this is the case we need to fix this since it breaks t

[2018-11-10 02:21] ctao5660 commented on #5843
@seanlip There are many comments in the file itself that would go against this check like " pylint: disable=wrong-import-order" or "# coding: utf-8", are these comments I should fix?

[2018-11-10 02:30] seanlip commented on #5843
Keep the single space, but stuff that starts with "pylint: disable=" or "coding: utf-8" need not be capitalized. Those are special cases that can be excluded from this check.

[2018-11-10 04:31] hemant0308 commented on #5846
Thanks @seanlip .
I have tried it in my local environment with --prod_env flag.
The hash was created and appended to the file **view_suggestion_edit_exploration_state_content_modal.html**  but not listed in hashes file.

[2018-11-10 04:33] seanlip commented on #5846
The logic for all this is in scripts/build.py, you might want to check it. (/cc @hoangviet1993)

Does adding _directive.html to the end of the fliename fix this problem?

[2018-11-10 04:59] hemant0308 commented on #5846
No it doesn't have directive suffix.
I have removed the hash at the end of the file,Now its working.
@seanlip

[2018-11-10 06:17] seanlip commented on #5846
What do you mean by "removed the hash at the end of the file"? There is supposed to be a hash at the end of the file in production mode -- look at how it works for the other modals.

[2018-11-10 06:34] hemant0308 commented on #5846
Yes..!
There is a hash for every html file in production mode.
**UrlInterpolationService** adds hash at end of the file in production mode by seeing hashes dict.
but the **view_suggestion_edit_exploration_state_content_modal.html** file doesn't have hash in hashes file.that's why the UrlInterpolationService retruns filename
 **view_suggestion_edit_exploration_state_content_modal.html** without has

[2018-11-10 08:18] EricZLou commented on #4057
Hi! Can you assign me to LearnerViewRatingService.js?
Thanks.

[2018-11-10 08:20] DubeySandeep commented on #4057
@ezl-13, I've assigned you to `LearnerViewRatingService.js`. :)
/cc @1995YogeshSharma

[2018-11-10 08:21] seanlip commented on #5846
Right. Take a look at other files that contain modals. How do they get served?

Take a look at how scripts/build.py preprocesses these files. Do they need to end with the _directive suffix?

If so, rename the file accordingly and see if that works (i.e. that the hashed file is generated).

[2018-11-10 08:25] DubeySandeep commented on #4057
@aditya81070, @rajvaibhavdubey, @subhdeep, any update on this issue?

[2018-11-10 09:50] hemant0308 commented on #5846
Yes.!
It's working now.
Opened a [PR 5848](https://github.com/oppia/oppia/pull/5848)
Please take a look.
@seanlip

[2018-11-10 11:51] anubhavsinha98 commented on #5606
Is this issue open?

[2018-11-10 12:02] yashdusing commented on #5606
@anubhavsinha98 I am working on the issue. Could you please take up another one?

[2018-11-10 12:09] anubhavsinha98 commented on #5809
Is this issue open?

[2018-11-10 12:09] anubhavsinha98 commented on #5792
Hey can I take this issue?

[2018-11-10 12:37] #5846 closed, assigned to nobody

[2018-11-10 12:49] sjkadali commented on #4057
Hi @nithusha21,  thanks! Fixed the errors that came up while running the fronted test. But the code coverage is only 77.8%. Can you give some suggestions on how to get it to 100%?

[2018-11-10 13:02] vibhor98 commented on #4374
De-assigning @yesass and @DiegoCaraballo due to lack of response...

[2018-11-10 16:54] import-keshav commented on #4374
Hi @vibhor98 there are two people assigned to one file oppia.jinja_utils its @import-keshav and @lioniyon, and I have completed it and make pr so whats about @lioniyon. there will get merge conflicts. Did @lioniyon complete it?

[2018-11-10 17:39] sstone-codaio commented on #5642
I'm not able to reproduce this issue. Could someone else try this on Safari and let me know if they're able to reproduce this bug?

[2018-11-10 18:16] aks681 commented on #5735
Deassigning @mriqooo due to inactivity. This issue is open for anyone to take up.

[2018-11-10 18:21] vibhor98 commented on #4374
Hi @import-keshav, you can go ahead and feel free to make a PR for that. @lioniyon has taken a very long time. De-assigning @lioniyon ...

[2018-11-11 05:22] dchen97 commented on #5134
Can I also be assigned to `core.platform.models`?

[2018-11-11 05:30] DubeySandeep commented on #5134
Hi @dchen97, I've assigned you to `core.platform.models`.

[2018-11-11 05:58] DubeySandeep commented on #5504
@seanlip, is it going to be a part of "Audio translation" project?

[2018-11-11 06:00] DubeySandeep commented on #5642
@nalinbhardwaj , can you please test this issue?

[2018-11-11 07:34] seanlip commented on #5504
That's a good question! I think that's up to you; it's as bit on the boundary and I could go either way.

[2018-11-11 08:37] seanlip opened #5853 "Random whitespace keeps getting added after images when the contents of an RTE editor are saved."
**Describe the bug**
When creating lessons in the exploration editor, HTML fields that contain images end up having additional blank lines after the image, every time the editor is opened and saved (even if no changes are made).

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. In the first content field, write some text, upload an image, and then write some more

[2018-11-11 08:37] seanlip commented on #5853
/cc @bansalnitish @AllanYangZhou

[2018-11-11 10:56] DianaSellarova commented on #5745
<img width="854" alt="screenshot 2018-11-11 at 11 52 44" src="https://user-images.githubusercontent.com/22642474/48312006-92811680-e5a8-11e8-9b70-7825a598e27c.png">

So far it looks something like this, i apologize that i did not finish it sooner but i had to finish other assignments to school and work.. Can i ask you one question, by removing hamburger menu you ment to remove it completely or mov

[2018-11-11 13:11] jacobdavis11 opened #5854 "The purpose of the translation / recording tab is confusing"
It's not clear exactly what the purpose of the translation / recording tab is.

 - The name of the tab is "Translation" but the icon relates to recording. Then the title is "Translation in language ....".
 - This leads me to believe that the tab will provide a way for me to translate the written content of the exploration into other languages. But this does not seem to be possible.
 - Instead it s

[2018-11-11 13:17] jacobdavis11 opened #5855 "Translation / recording tab should automatically save recordings"
Currently in the translation tab, after you finish reading out the content you have to press "Stop" and then "Save". I don't see a use case when you would want to Stop but not Save.

These two actions should be combined into a single "Save" button.

[2018-11-11 13:35] jacobdavis11 opened #5856 "The list of Categories in the editor settings tab is not the same as in the gallery"
For example, if I publish an exploration in the "Computing" category, and then try to find it in the gallery, it turns out that the "Computing" category isn't available there. This makes it feel like Oppia is not interested in my content.

[2018-11-11 17:17] ghost commented on #5134
Hi @DubeySandeep, I'm working on my issue. Thanks.

[2018-11-11 18:13] dchen97 commented on #5134
@DubeySandeep may I also be assigned to core.domain.learner_progress_domain? I've been working on it and am pretty much ready to make a PR if someone isn't already working on it.

[2018-11-11 19:43] seanlip commented on #5134
Hi @dchen97, assigned you! Thanks!

[2018-11-11 20:13] seanlip opened #5860 "The visualization of Fractions answers in the stats tab looks bad"
**Describe the bug**
In the exploration editor, the stats tab shows the JSON representation of Fractions answers. Instead, it should show a more human-friendly form of the answers.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration with a Fractions interaction and publish it.
 2. Play the lesson as a learner, submitting some answers to the question with the Fractions i

[2018-11-11 20:14] seanlip commented on #5860
/cc @brianrodri @dchen97

[2018-11-11 20:59] keshavg2 commented on #5776
Hi @DubeySandeep can you please tell me what the name of the switch you want and where?

[2018-11-11 21:12] ctao5660 opened #5861 "Email Message Truncation Not Working core.controllers.tasks"
**Describe the bug**
In core.controllers.tasks, UnsentFeedbackEmailHandler has a feature where if the message that is sent is more than 200 characters long, the message is cut off at 200 and is instead replaced by "..." following the 200 first characters. Subsequent tests show this functionality is not working properly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Make thread with User A

[2018-11-11 23:59] ghost commented on #5134
Hi @DubeySandeep,
Can I be assigned **core.controllers.translator** please?

[2018-11-12 03:08] ctao5660 opened #5862 "Preferred Audio Language doesn't display options in Preferences page"
**Describe the bug**
The dropdown menu for Preferred Audio Language doesn't display anything, lots of clickable options with no text in any of them.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as User
 2. Click on Preferences page
 3. Scroll down to Preferred Audio Language
 4. Click on dropdown menu
 5. See error

**Observed behavior**
No text or options available for preferred

[2018-11-12 03:24] ctao5660 opened #5863 ""Fractions" exploration on Test Server not Loading"
**Describe the bug**
The "Fractions" exploration doesn't work when clicked on.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library from Splash Page after logging in
 2. Click on Fractions under "Featured Activities"
 3. See error

**Observed behavior**
Error banners popping up

**Expected behavior**
Loaded Fractions exploration

**Screenshots**
This exploration:
![screen shot 2018

[2018-11-12 03:25] ctao5660 commented on #5863
All other explorations are fine to play for me.

[2018-11-12 05:01] seanlip commented on #5862
Thanks @ctao5660!

/cc @DubeySandeep, @nithusha21 -- this seems like a blocking bug?

[2018-11-12 05:30] DubeySandeep commented on #5745
Hi @DianaSellarova, Thanks for the update!
It looks great. (image above) :D
Can you upload images for the different stage of this bar?
- Before recording:
   - If audio not available. (You have posted image for this above.)
   - If audio available.
- While Recording.
- While converting audio to mp3.
- After recording.
- While saving.

I mean to move it's content directly into the playbar!

Also, @

[2018-11-12 05:32] DubeySandeep commented on #5134
Hi @szhang9246, I've assigned you to  `core.controllers.translator`.
/cc @vibhor98

[2018-11-12 07:03] DubeySandeep commented on #5606
Unassigned @yashdusing, due to lack of response.

Hi @anubhavsinha98,  We already have one PR for this issue at #5797. Would you mind picking up a different "good first issue" issue? /cc @aks681

[2018-11-12 07:15] seanlip commented on #5634
Closing per discussion with @prasanna08 -- but let's keep an eye open for this in case it comes up again.

[2018-11-12 07:15] #5634 closed, assigned to prasanna08

[2018-11-12 07:29] DubeySandeep commented on #5855
Hi @jacobdavis11, In the survey report I found that people use to finalize their audio after multi-takes, it goes something like we use to record audio then preview it and then we use to delete/save the audio according to the quality of audio.

[2018-11-12 07:31] DubeySandeep commented on #5855
Also, if I'm going to know that this is going to be a multi-take process thank I wanted to avoid the multiple network calls to save unwanted audio. Let me know what if you have any idea for this issue?

[2018-11-12 07:36] DubeySandeep commented on #5776
Hi @17bcs029, This issue looks a bit tricky to resolve and needs design doc, would you mind picking up any other "Good first issue"?

If you want to work on a good first issue related to the translation tab then try [this](https://github.com/oppia/oppia/issues/5747).

[2018-11-12 08:06] DubeySandeep commented on #5854
Hi @jacobdavis11,
Currently, this tab provides a purpose to manage and record audio translations in all different languages. It lacks the step of writing and saving translation script and we are working on the feature of providing space for translators to save translation script (that's a part of the Q4 goal of the audio translation team.)

You can check this sub-project over [here](https://github

[2018-11-12 08:11] seanlip commented on #5863
Hi @ctao5660, this is a bit odd -- I cannot reproduce it.

I just tried and it works for me. Is it this URL? https://oppiatestserver.appspot.com/collection/giIwhTU3up5v

Does your browser have any extensions turned on?

/cc @nithusha21 @DubeySandeep for second checks as well.

[2018-11-12 08:17] DubeySandeep commented on #5863
@seanlip @ctao5660, It's working fine for me (unable to reproduce this issue).

[2018-11-12 08:52] ctao5660 commented on #5863
You guys are right @seanlip @DubeySandeep  , I have an extension called Ublock and once I turned that off it worked. Since ad-blocking extensions are pretty popular, I tested many different ad blockers and Ublock is the only one blocking these extensions. Ad Block Pro, the most popular one does allow the extension to load. Up to you guys if you want to close the issue or not.

[2018-11-12 08:58] seanlip commented on #5863
That's interesting, thanks for checking @ctao5660!

I have two thoughts:

(a) I'm a bit confused about one thing -- do you know why it failed for this page but not for others?

(b) I feel like the UX in this case is not great. We should probably detect a "BLOCKED_BY_CLIENT" error and display some sort of message in a nice pop-up modal in the center saying that "We couldn't load the page. This migh

[2018-11-12 09:55] nalinbhardwaj commented on #5642
I'm not able to reproduce this issue on fresh lessons either.

[2018-11-12 09:56] DubeySandeep commented on #5642
@nalinbhardwaj, Thanks for checking! I'm closing this issue.

[2018-11-12 09:56] #5642 closed, assigned to sstone-codaio

[2018-11-12 10:04] seanlip opened #5867 "Empty HTML fields should not be included as part of the exploration translation progress tracker."
**Describe the bug**
If an HTML field is empty, it should not require a translation. However, the translation progress tracker currently requires this.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new exploration with a multiple-choice interaction with 2 choices. Create answer groups for both these choices, leaving the default answer group with empty feedback.
2. Go to the Transl

[2018-11-12 10:04] seanlip commented on #5867
@DubeySandeep I think we need to fix this. Could you PTAL?

/cc @nithusha21

[2018-11-12 10:13] DubeySandeep commented on #5867
@seanlip, this is an expected behavior, I think we expect an exploration owner/editor to provide some feedback for answers. Also, I'm not sure whether we allow saving response without feedback?
![image](https://user-images.githubusercontent.com/16653571/48340832-99d01f00-e691-11e8-92d7-f5a8d320c96f.png)

See disabled button because of no feedback!^

[2018-11-12 10:28] seanlip commented on #5867
It happens e.g. in the default feedback, which does not need to be filled in for multiple-choice interactions where all answers have been taken care of by the answer groups.

[2018-11-12 13:58] jacobdavis11 commented on #5855
From a UX perspective, I think it would be fine to do Stop+Save as a single action, since the user is still able to listen to the recording, and re-record it if it's not good enough.

I don't know how to reduce network cost - are people re-recording the same thing enough times that this is a significant factor.

[2018-11-12 14:01] jacobdavis11 commented on #5854
I think in terms of what the tab does now it makes sense to just use the word "recording".

In future if its functionality is expanded then it could be renamed to "Recording & Translation". Then presumably you will have separate tracking for things like % recorded and % translated. Currently the % translated bar actually refers to the % recorded.

[2018-11-12 16:16] DianaSellarova commented on #5745
Hi @DubeySandeep i created a pull request https://github.com/oppia/oppia/pull/5868 so you can check it all out and leave some feedback. I did not know how to assign a reviewer for this so i dont know if it is my job or yours.

[2018-11-12 21:10] vojtechjelinek commented on #3950
@durgeshra @codeherlife @lilithxxx removing y'all from your assigned part since there wasn't any activity from you.

[2018-11-12 23:50] brianrodri commented on #5799
Hey @m3rchantt, wanted to follow up!

Since you're new to Oppia, I'd actually suggest you complete our [introductory steps](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), then take on 1 or 2 [starter issues](https://github.com/oppia/oppia/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee) to familiarize yourself with the code-base.

[2018-11-13 02:35] #5809 closed, assigned to dawsoneliasen

[2018-11-13 03:13] brianrodri commented on #816
Duplicate of #3947.

[2018-11-13 05:28] seanlip commented on #816
@brianrodri are you sure? #3947 is for ImageClickInput, this one is for the World Map interaction. I think they are different...

[2018-11-13 07:58] keshavg2 commented on #5747
hi @DubeySandeep can you please tell me what was the solution for this issue?

[2018-11-13 13:02] DubeySandeep commented on #5862
@seanlip, I think #5126 has caused the issue (check [this](https://github.com/oppia/oppia/pull/5061#discussion_r194238550) comment for reference).

What I understand that to use the "Option text" in [ui-select2](https://github.com/angular-ui/ui-select2) we need to have the "text" key.  So basically changing "description" to "text" in [this](https://github.com/oppia/oppia/blob/develop/assets/consta

[2018-11-13 17:25] aks681 opened #5872 "Accept suggestion message is not recorded in the suggestion thread"
**Describe the bug**
When a suggestion is accepted by an exploration creator, a commit message is given by the creator. This message is not shown in the suggestion thread after the suggestion is accepted. This message is however correctly mentioned in the History tab for the exploration.
This functionality works correctly when rejecting a suggestion.

**To Reproduce**
Steps to reproduce the behavi

[2018-11-13 17:35] aks681 commented on #5872
Actually, this works as extended, after discussing with @nithusha21 . The issue was that the text specified in the first field was the text displayed in the thread and that in the second field is the commit message displayed in the history tab for when the suggestion is accepted.
![image](https://user-images.githubusercontent.com/22347970/48431658-3846a800-e798-11e8-9b79-6376b1cabb3a.png)

So, thi

[2018-11-13 17:42] nithusha21 commented on #5872
The issue should be focussed on finding a way to get both these pieces of information together from the reviewer if possible. The commit message would not be an apt review message and vice versa. Also, there exists a situation where the commit message is discarded (If you input a commit message and then reject, the message is just discarded). This doesn't feel like the best way to do this. Any ide

[2018-11-13 19:55] seanlip commented on #5872
/cc @christineycc -- any thoughts?

One initial thought I had might be to make the "Review message" field into a multi-line textbox (similar to GitHub). This doesn't fully solve the problem, but might help to distinguish the two types of messages a bit more.

[2018-11-13 20:03] seanlip commented on #5862
Thanks @DubeySandeep! That seems like somewhat of a hidden requirement. Could we do something different: when generating the list of options for select2, do something like SUPPORTED_AUDIO_LANGUAGES.map(function() {...)) where description is renamed to text? That way there's always an explicit bridge and we're not requiring folks who edit the constant in constants.js to know that it's being used di

[2018-11-13 21:13] brianrodri commented on #816
Ack, didn't understand that distinction. OK, I'll keep track of it!

[2018-11-14 02:44] AllanYangZhou commented on #2485
Unassigning for now due to inactivity--feel free to take this up again if/when you have a chance!

[2018-11-14 02:45] AllanYangZhou commented on #5753
Hi @tjiang11 just checking in, are you actively working on this?

[2018-11-14 02:51] AllanYangZhou commented on #3576
oops we forgot to close this, @bansalnitish has already completed the CKEditor migration

[2018-11-14 02:51] #3576 closed, assigned to nobody

[2018-11-14 15:49] jiradeto commented on #5860
can I work on this ?

[2018-11-14 20:28] jiradeto commented on #3950
Hi, @vojtechjelinek I would like to work on `header_css_libs.html`and `header_js_libs.html`.

[2018-11-14 22:07] seanlip commented on #5860
Hi @jiradeto, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first? Once you've done that, you're welcome to pick an issue and get started. Thanks!

[2018-11-14 22:07] seanlip commented on #3950
Hi @jiradeto, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first? Once you've done that, you're welcome to pick an issue and get started. Thanks!

[2018-11-15 17:15] christineycc commented on #5872
Hi,

My immediate thought is displaying the comment field as a second window
that pops up after users reject or accept. So rejection pop up would be
different then accepting pop up. Both would restate what the suggestion was
and give users a text input as to why they reject/ what they are accepting.

Hope this helps and Let me know if this is clear

Thanks,
Christine

On Tue, Nov 13, 2018 at 2:55

[2018-11-15 20:43] #5843 closed, assigned to nobody

[2018-11-15 20:45] seanlip commented on #5872
Thanks @christineycc! Just to check, what happens if the user then decides, after the second dialog pops up, that they don't want to proceed with the action after all? Would the entire action (accept/reject) be cancelled, or just the second dialog box?

[2018-11-15 22:52] ctao5660 commented on #5861
@nithusha21 The email truncation seems to be working for emails sent to editors, just not emails sent to the regular users.

[2018-11-15 23:24] ctao5660 commented on #5861
@nithusha21 @seanlip I've figured it out. The email truncation in UnsentFeedbackEmailHandler in core.tasks is working properly, however there is another type of handler that is also triggered automatically when there is a new message in a feedback thread: The InstantFeedbackMessageHandler. In that handler, there is no email message truncation functionality, so no matter how long the message is, th

[2018-11-15 23:27] seanlip commented on #5861
Thanks, @ctao5660!

One thought -- does the instant handler send only one message at a time? If so, it may be fine not to truncate. Truncation probably makes more sense when there are lots of messages being delivered in a single email.

[2018-11-15 23:32] ctao5660 commented on #5861
@seanlip Yes, the instant handler only sends one message at a time. I will wait for Nitesh to respond with any comments, and if he believes everything I said is correct I will close the issue. All that work to figure out it was already working properly!

[2018-11-15 23:39] seanlip commented on #5861
Thanks! Ah well, I think that's OK actually -- if anything, you should now have a better understanding of the codebase, and I think that counts for something!

One thought might be that perhaps we can document this in the form of tests. I.e. ensure there are tests that explicitly check that messages are truncated / not truncated in the various situations. It's your call on whether or not to do tha

[2018-11-16 00:28] dchen97 commented on #5860
If this is still open, I'd be happy to be assigned to it!

[2018-11-16 01:17] brianrodri commented on #5860
Still open and now all yours, @dchen97! Thanks!

[2018-11-16 04:35] brianrodri commented on #5860
Note that we must already have some functionality that converts the raw JSON data into HTML, because that's what learners see when they play explorations.

This means you should be able to reuse code from the exploration_player to get this working!

[2018-11-16 04:38] import-keshav commented on #5508
hi @nithusha21 can i go for it if no one is working

[2018-11-16 11:18] lokijuhy opened #5876 "Add to python linting to ensure that class arguments are the first element of the arglist"
Check all python functions and make sure if the class args `self` or `cls` appear in the arguments of a function definition, that they are listed first.

This logic should probably live in `scripts/pre_commit_linter.py`.

See this conversation for background: https://github.com/oppia/oppia/pull/5844#discussion_r232437005

[2018-11-16 15:52] bhavayAnand9 opened #5877 "error on running test suite"
**Describe the bug**
following error is generated on running test suite

**To Reproduce**
Steps to reproduce the behavior:
 1. bash scripts/run_tests.sh

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: MacOS

**Additional context**
SUCCESS   scripts.build_test: 24 tests (27.0 secs)
= create_test_suites(test_target=parsed_a

[2018-11-16 20:28] DubeySandeep opened #5879 "Lint check for frontend unit test comment."
A lint check for frontend unit tests file. It should check for the following patterns:
- The `test message` must start with `should`. (Example: `it('should ...`)
- No 2 consecutive spaces inside the `test message`.
- Each line of `test message` should end with space. (Example: `t('should ... xyz ' +`)
- No spaces at the end of the `test message`.

[2018-11-17 00:05] ctao5660 commented on #4666
@prasanna08 I'm looking to undertake the second issue, but am having trouble understanding which part I am supposed to modify. Am I understanding this correctly that 'extensions/interaction/CodeRepl/CodeReplPredictionServiceSpec.js' is the text classifier test, and that I need to add a correctness test at the bottom of this file?

[2018-11-17 00:08] ctao5660 commented on #4666
@prasanna08 So am I to understand it correctly that I need to implement a correctness test for 'extensions/interaction/TextInput/TextInputPredictionServiceSpec.js' ?

[2018-11-17 00:42] #5457 closed, assigned to DubeySandeep

[2018-11-17 00:44] #5777 closed, assigned to nobody

[2018-11-17 07:43] seanlip commented on #5856
It looks like this was added to "Blocking bugs", but I don't think this is a blocking bug -- we don't have a good categorization system yet, but this is something we're looking into with the restructuring into topics/stories/etc. Let's defer addressing this until we do.

[2018-11-17 15:27] keshavg2 commented on #5747
hi @DubeySandeep can you please tell me what the time  taken to complete a transition?

[2018-11-17 17:39] apb7 commented on #5134
Hi @MichJP, any updates on this? Thanks!

[2018-11-17 17:42] apb7 commented on #5751
Hi @GusGu3, are you still interested on working on this? If yes, we will be happy to assign you. Thanks!

[2018-11-17 18:49] rafalk342 commented on #5134
Hi @DubeySandeep!
Can I be assigned to `core.domain.question_domain`?

[2018-11-17 19:10] DubeySandeep commented on #5867
I looked into this and found it would be pretty tough to implement this feature with the current audio structure.

I found that we use to [calculate the progress](https://github.com/oppia/oppia/blob/5245025f3f6a332a919e4c22f8b128632c72d749/core/templates/dev/head/pages/exploration_editor/translation_tab/TranslationStatusService.js#L37) of exploration through content_ids_to_audio_translations dict

[2018-11-17 23:24] #5787 closed, assigned to sstone-codaio

[2018-11-18 01:41] prasanna08 commented on #4666
Hi @ctao5660, sorry for late response. Yeah, you are correct.

[2018-11-18 01:59] prasanna08 commented on #5738
Hi @DubeySandeep, I am working on this but because of my courses I am not able to spare much time.

@seanlip, I implemented a backend test to figure out where exactly is error happening and to my surprise the test case passed successfully. Take a look at following description of test case and let me know if it simulates a behavior different from the one addressed in issue:
1. Created an exploratio

[2018-11-18 07:37] nithusha21 commented on #5867
Hi Sandeep, thanks for investigating! I am not really familiar with this part of the code, but if you think it is hard to finish in limited time, I would agree! Is it possible for the audio translations team to prioritize this project? As it still looks important to me :)

[2018-11-18 09:34] EvsChen opened #5885 "Run frontend presubmit checks only if frontend code has changed"
**Is your feature request related to a problem? Please describe.**
Now the local presubmit checks take a long time. It can be made faster by eliminating unnecessary checks.
**Describe the solution you'd like**
In the file `scripts/run_presubmit_checks.sh`, use `grep` to check whether the `git show HEAD --name-only` contains the front end directory. If true, run the front end test. Else just skip.

[2018-11-18 11:49] seanlip opened #5886 "Exploration migration job should clear memcache after updating the exploration."
Exploration migration job should clear memcache after updating the exploration, so that the next time the exploration is loaded, it is loaded directly from datastore.

**To Reproduce**
Steps to reproduce the behavior:

1. Checkout the develop branch.
2. Start the local dev server.
3. Create a new exploration with a text input interaction and three answer groups (including the default one) leading

[2018-11-18 11:50] seanlip commented on #5738
Hm. I tried to reproduce this and it seems to have disappeared on both the main server and on the local development server -- and I could not reproduce it, it seems to have been fixed. I'm not sure how that happened...

I did find another error that I filed in #5886, but I'm not sure if the two errors are related.

So, closing this issue for now. I'll reopen if I see it again. Thanks for investiga

[2018-11-18 11:50] #5738 closed, assigned to prasanna08

[2018-11-19 19:03] nithusha21 commented on #5845
I investigated further and this seems to happen only if you discard an image, and try to reupload the same image again. If you upload another image it works fine, and if you close the modal, reopen it, and upload the same image, it works fine. I think this has to do with the hash of the image not being changed for multiple uploads of the same image without closing the modal, so the change isn't be

[2018-11-19 19:21] AllanYangZhou commented on #5574
For info purposes, the WIP PR is here: https://github.com/oppia/oppia/pull/5786

[2018-11-19 19:22] AllanYangZhou commented on #5462
Hey @aks681, just checking in are you still working on this?

[2018-11-19 19:23] AllanYangZhou commented on #5516
De-assigning for now due to inactivity, feel free to take this back up if you are still working on it.

[2018-11-19 21:39] ctao5660 commented on #5845
Edit: I'm looking into it. @nithusha21
I noticed that dragging and dropping the same image is ok, might be something with line 98 - 115 of ImageUploaderDirective, since dragging and dropping bypasses this handler

[2018-11-20 05:33] #5845 closed, assigned to ctao5660

[2018-11-20 07:44] #5862 closed, assigned to DubeySandeep

[2018-11-20 15:24] dawsoneliasen commented on #5782
Hi @apb7, I can take a shot at this. How would this be implemented? Is it just a new function in pre_commit_linter.py?

[2018-11-20 16:37] aks681 opened #5893 "Implement practice sessions in topic viewer"
**Aim:** A topic (like "Fractions") is a collection of lessons. The topic viewer page is supposed to be the location where everything related to a topic can be accessed. This includes the stories that teach the topic, as well as practice sessions which include a set of questions that test skills associated with the topic. This issue aims to add practice sessions to the topic viewer page, so that l

[2018-11-20 16:40] aks681 opened #5894 "Add a "linked questions" section to the skill editor."
**Aim:** A skill is meant to be the most basic unit of learning in Oppia. It has a concept card (that teaches the skill), some worked examples, and a list of misconceptions associated with the skill. It also has a set of linked questions that test the skill. Currently, in the skill editor, the former 3 fields are editable, but the set of linked questions associated with the skill is not visible in

[2018-11-21 07:02] DubeySandeep commented on #5714
Hi @import-keshav, Sorry for late response, I think this issue is open so you can work on it!

/cc @apb7, @nithusha21

[2018-11-21 17:10] apb7 commented on #5714
Hi @import-keshav, please feel free to self-assign this. Thanks!

[2018-11-21 17:24] apb7 commented on #5877
Hi @bhavayAnand9, did you run  `scripts/start.sh` once for the setup? Thanks!

[2018-11-21 22:17] DubeySandeep commented on #5867
Hi @nithusha21, I'll sure prioritize this project. Currently, I'm assigning this project to myself and I'll add a comment after finalizing what can we do here and how much time it will take to resolve this issue!

[2018-11-22 16:31] netajik commented on #5134
Hello @DubeySandeep, would review my code.

[2018-11-22 17:22] apb7 opened #5896 "JS and CSS lint errors get through the pre-commit linter without causing the build to fail"
We had introduced the concept of `Error Summary` in PR #5748 wherein we put the JS and CSS lint errors in a `result` queue to print at the end here: https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L483
Putting this statement above [this](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L485) seems to be causing some problem. This statement is not ex

[2018-11-22 18:48] #5877 closed, assigned to nobody

[2018-11-22 19:21] anubhavsinha98 commented on #5879
@DubeySandeep Can I take this issue?

[2018-11-22 19:23] anubhavsinha98 commented on #5876
Hey @lokijuhy can I take this issue ?

[2018-11-22 19:59] seanlip commented on #5896
Hi @apb7 -- as a short-term band-aid fix to this, can we revert the PR that caused it (using "git revert {{commithash}}")? Just to not leave things in a broken state while it's being fixed.

Thanks!

[2018-11-22 20:09] apb7 commented on #5896
HI @seanlip, can you ptal at #5897? That fixes this issue. Thanks!

[2018-11-22 21:18] kashifsoofi commented on #5134
Hi, I am going to attempt core.controllers.classifier. Thanks

[2018-11-22 21:55] import-keshav commented on #5714
hi @apb7 @DubeySandeep @seanlip , we can't use ```import XXX ```  --> ```from . import XXX ``` and ``` from AAA/BBB import CCC ``` --> ```from .AAA/BBB import CCC```
 because they are type of relative import and relative import works only in packages not in script
like ``` from . import XXX works ```  only in packages not in scripts to import in scripts we only use ```import XXX``` .thanks!

[2018-11-22 23:10] #5861 closed, assigned to ctao5660

[2018-11-22 23:57] thedeveloperr commented on #5792
@BenHenning Is the issue assigned to anyone ? If not, I am interested to take up the issue.

[2018-11-23 06:39] #5746 closed, assigned to suicide11

[2018-11-23 08:25] DubeySandeep opened #5898 "Translation tab accessibility and analytics."
**Aim:** Oppia has introduced a new translation tab for exploration translators last month, this was made to ease the process of translating an exploration, currently the translation tab is in working condition but it lacks accessibility feature and now as the translation tab is released and the community is aware of this new translation tab it would be great to make it more accessible and analyze

[2018-11-23 08:33] DubeySandeep commented on #5729
@KhalidRmb, any update on this issue?

[2018-11-23 08:36] DubeySandeep commented on #5639
HI @seanlip, We have distributed this issue into multiple small issues to make translation tab more user-friendly (As documented [here](https://docs.google.com/document/d/1YkJnnkmV41XnDMPNK6TtlGI40VT-diBgd10Bn9wfSxQ/edit))

I think we can close this issue now!

[2018-11-23 09:48] anubhavsinha98 commented on #5371
Hey @nithusha21 can I take this issue?

[2018-11-23 09:59] nithusha21 commented on #5371
Hi @anubhavsinha98 sure, go ahead!

[2018-11-23 10:18] anubhavsinha98 commented on #5371
Ok @nithusha21 !

[2018-11-23 10:19] lokijuhy commented on #5876
Yes, go ahead!

[2018-11-23 10:42] KhalidRmb commented on #5729
@DubeySandeep Hi! Nothing significant. I'll make a PR soon though. If it's urgent, you may take this :)

[2018-11-23 10:58] seanlip commented on #5639
SGTM. Thanks!

[2018-11-23 10:58] #5639 closed, assigned to nobody

[2018-11-23 12:08] DubeySandeep commented on #5747
Hi @17bcs029, try making PR with the preferable timing, we can do a UI review on it and do the changes as required.

[2018-11-23 13:01] #5896 closed, assigned to apb7

[2018-11-23 17:39] netajik commented on #5134
Hello @apb7, would review my pull request . Thanks.

[2018-11-23 18:00] DubeySandeep commented on #5134
Hi @kashifsoofi,  I've assigned you to ` core.controllers.classifier`.

Hi @netajik, I cannot find your PR, have you followed the instruction given in the [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

/cc @nithusha21

[2018-11-23 19:32] netajik commented on #5134
Hello @DubeySandeep, would review my code. And if any changes are required please notify to me. Thank you.

[2018-11-24 02:17] import-keshav commented on #5714
Hello sir @apb7 @DubeySandeep @seanlip so should I do other things? please comment. thanks!

[2018-11-24 03:56] seanlip opened #5901 "The video on the Fractions landing page is 404-ing."
See https://www.oppia.org/fractions?viewerType=teacher (and scroll down). The video link seems to be broken:

![screenshot from 2018-11-23 19-54-57](https://user-images.githubusercontent.com/10575562/48964324-c4f02380-ef59-11e8-95c0-e9e9cc37f58a.png)

I think this might be something to do with the build process, since it is working fine in develop. (To test the built version, use the --prod_env fl

[2018-11-24 03:57] seanlip commented on #5901
/cc @nithusha21 @aks681 I think this is a blocking bug for the next release.

[2018-11-24 04:22] keshavg2 commented on #5747
hi @DubeySandeep  I'm busy in my semester examination. I will be continue after finish the examination.

[2018-11-24 07:44] ctao5660 commented on #3691
@seanlip Hi, it seems I need a lot of Prasanna's help for the higher priority issue, so I thought while I wait for him to reply to my questions, I could work on this. Would this implementation be in the cron.py handler or in a different part?

[2018-11-24 07:47] seanlip commented on #3691
I think in a different part -- you'll want to send the email as soon as the training job fails, rather than on a periodic basis.

[2018-11-24 07:47] seanlip commented on #3691
(Probably make a call to email_services.py once you've found that a training job has failed.)

[2018-11-24 08:26] ctao5660 commented on #3691
@seanlip I'm trying to understand what the first checkbox solved. Does this mean any email sent to the admin would also be sent to those selected recipients?

[2018-11-24 08:29] seanlip commented on #3691
Log in as an admin, then go to /admin and go to the config tab. The admin should now be able to specify the email addresses of people who should get an email if a training job fails. The email should then be sent to these email addresses.

[2018-11-24 13:49] anubhavsinha98 commented on #5876
Yes assign me this issue !

[2018-11-24 15:58] netajik commented on #5134
Hello @apb7, would review my pull request . Thanks.

[2018-11-25 05:25] rahgurung opened #5903 "can't install oppia"
When I run start.sh it give me this output and there is a 500 Internal Server Error at localhost:8181

[code]

[2018-11-25 07:06] namansisodia11 commented on #4558
please assign Image click input Interaction

[2018-11-25 07:20] vibhor98 commented on #4558
Hi @namansisodiarajput, I've assigned you `Image click input`. Please go ahead. Thanks!

[2018-11-25 11:34] import-keshav commented on #5782
Hi, @dawsoneliasen you can implement this by creating a checker for pylint which would be implemented in scripts/pylint_extensions.py.
For more info about checker reference this http://pylint.pycqa.org/en/latest/how_tos/custom_checkers.html
and let me inform if you are not taking this . Thanks!

[2018-11-25 13:55] brianrodri commented on #5860
Hi @dchen97, how's this issue going? Anything we can do to help out?

[2018-11-25 15:42] aks681 commented on #5134
@netajik Have you created a PR? I can't find one.

[2018-11-25 15:49] netajik commented on #5134
Hello @apb7, i was already created PR. If any thing wrong please tell me.

[2018-11-25 15:55] aks681 commented on #5134
I checked your fork, and it seems you have pushed to your local branch, but can you follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change) to create a pull request from that branch into develop?

[2018-11-25 16:00] netajik commented on #5134
Thank  you @apb7, for your information i will check and create PR.

[2018-11-25 17:42] dawsoneliasen commented on #5782
@import-keshav Thank you! I will go ahead and take it.

[2018-11-25 17:56] anmolshkl commented on #5860
@dchen97 ping! Are you working on this issue?

[2018-11-25 18:01] anmolshkl commented on #5574
@hemant0308 are you working on this? Even the WIP PR doesn't seem to have any activity from your side.

[2018-11-25 18:12] anmolshkl commented on #5903
Hi @gurungrahul2, could please give some information? What is the OS and the build? Did you try some of the troubleshooting steps mentioned [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29) (assuming that you are installing on a Linux based OS) ?

[2018-11-25 18:32] hemant0308 commented on #5574
Apologies ..!
I got little busy with some other work..!
I am sure.I will complete it ASAP.

[2018-11-25 20:49] #5901 closed, assigned to nobody

[2018-11-25 22:00] mighty-phoenix commented on #5903
@gurungrahul2 Do not use "sudo". It messes up.

[2018-11-25 23:12] mighty-phoenix opened #5907 "Text in search box doesn't appear completely"
**Description of the bug**
The text in the search input box doesn't appear completely.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library'
 2. Observe the error

**Observed behavior**
![image](https://user-images.githubusercontent.com/32777813/48986046-9333b400-f135-11e8-95e9-4a1251c4427a.png)

**Expected behavior**
The whole text inside the search input box should be visible.

[2018-11-25 23:55] import-keshav commented on #5903
hi @gurungrahul2, as suggested do not use sudo and first try to install oppia on that directory where it have all permissons . And if still not getting all permissons run this ```chmod -R 777 oppia_directory_path``` , then try to run start.sh . If still getting problems inform it thanks!

[2018-11-26 02:16] rahgurung commented on #5903
Im on Ubuntu 18.6 @anmolshkl let my try without sudo and try with chmod

[2018-11-26 02:30] rahgurung commented on #5903
tried with chmod and still 500 internal server error exists,  log is this:
[code]

[2018-11-26 02:32] seanlip commented on #5903
Take a look at core/controllers/base.py -- search for jinja2_env. Does that directory exist, and does pages/splash/splash.html exist within it?

If not, this might be a symptom of an incomplete download.

[2018-11-26 02:38] rahgurung commented on #5903
I have controllers but where are these pages located, I can't find them on my repo nor in my github fork.

[2018-11-26 03:35] seanlip commented on #5903
Here's error.html, for example: https://github.com/oppia/oppia/tree/develop/core/templates/dev/head/pages/error

[2018-11-26 03:41] rahgurung commented on #5903
i think its not there, how to fix this, should I pull or clone again?

[2018-11-26 03:48] seanlip commented on #5903
Yep, probably. Try deleting your existing directory and re-cloning.

[2018-11-26 06:27] nithusha21 commented on #5861
Hi @ctao5660 @seanlip I am sorry, I missed this ping! What you said does make sense and great investigation, btw :).

Maybe, what we could do is edit the test that you added in the PR to check the truncation and no truncation case, and add a comment describing the fact that the call is to 2 separate handlers (one of which doesn't truncate). Does this sound ok? Overall, I think it's nice that you f

[2018-11-26 08:14] #5606 closed, assigned to nobody

[2018-11-26 09:21] #5907 closed, assigned to nobody

[2018-11-26 09:43] lokijuhy commented on #5876
I don't think I have the power to assign the issue. @seanlip is assigning an issue a protected action?

[2018-11-26 09:47] rahgurung commented on #5903
It worked.

[2018-11-26 09:50] anubhavsinha98 commented on #5876
ok! By the way, I have to just make a logic in pre_commiit_linter.py or do anything else?

[2018-11-26 09:55] odoinn opened #5911 "Please add a new language choice to the exploration settings tab"
Please add the language choice {{Gaeilge}} to the exploration settings tab. Gaeilge means the Irish language.

Here is a link to an exploration that uses it: {{https://www.oppia.org/create/0rm-0plT0e5N#/gui/R%C3%A9amhr%C3%A1}}

[2018-11-26 09:57] lokijuhy commented on #5876
Yes, this probably just involves extending `pre_commit_linter.py`.

[2018-11-26 09:59] anubhavsinha98 commented on #5876
Can we talk on gitter ?

[2018-11-26 10:01] anubhavsinha98 commented on #5876
Or I have to make a checker using AST (asteroid) ?

[2018-11-26 10:55] nithusha21 commented on #5726
Hi @hemant0308, @wirelessfire any updates?

[2018-11-26 14:26] lokijuhy commented on #5134
I will work on `core.domain.question_domain`.

[2018-11-26 14:47] lokijuhy commented on #5134
Ah unless @nithusha21 are you already working on `core.domain.question_domain`?

[2018-11-26 14:53] nithusha21 commented on #5134
Hi @lokijuhy, I am not working on it. However I think, @rafalk342 just completed it in #5887. So I think the task is complete! Would you like to pick another file?

[2018-11-27 03:09] BenHenning opened #5914 "Takeout functionality"
**Aim:** Being a good steward of user data includes providing easy and effective pathways for users to explore the data Oppia has stored in their Oppia profile. This project involves implementing the infrastructure, backend support, and frontend UIs needed for users to download user data associated with their profile from Oppia in a machine-readable format, and to provide an established pattern fo

[2018-11-27 04:57] #5903 closed, assigned to nobody

[2018-11-27 07:13] #3691 closed, assigned to ctao5660

[2018-11-27 09:03] anubhavsinha98 commented on #5876
Hey, I have added a logic and made a PR #5916 !
Please check it!

[2018-11-27 09:46] jiradeto commented on #5894
can I take this issue?

[2018-11-27 10:29] nithusha21 opened #5917 "Implement role-based art contributions (for explorations)"
Aim: This project aims to implement a framework which allows users to become designers for explorations. This will further aid in explorations being built by many users! The designers for an exploration are responsible for adding images and illustrations. Typically, the person who wrote the exploration (creator/editor) will have some requirements for the image in mind. While drafting the explorati

[2018-11-27 10:31] nithusha21 opened #5918 "Building a contributor dashboard"
Aim: For the community to help out in creating lessons effectively, there needs to be a way for creators to communicate their requirements to contributors. The current idea is to enable creators to display their lessons on a contributor dashboard. When a contributor accesses this lesson, items that require contributions should be highlighted. This includes open image requests, open translation req

[2018-11-27 14:57] netajik commented on #5134
Hello @apb7, would review my pull request . Thanks.

[2018-11-28 01:53] ctao5660 commented on #5863
@seanlip This seems like a really nice way for me to get introduced into front-end development. I think I understand how to create the error banner saying "we couldn't load the page" but the included button for the user to refresh the page seems out of my knowledge. Would this require an addition to "AlertService"?

[2018-11-28 02:08] ctao5660 commented on #5863
Also, it seems not possible to detect a specific error, but it is possible to detect an Adblocker. Something I could do is modify the error catcher to detect the adblocker and give the "we couldn't load the page error banner."

[2018-11-28 04:10] nithusha21 commented on #5726
Deassigning @hemant0308 and @wirelessfire due to lack of response. Assigning @import-keshav as he is interested to work on this issue.

[2018-11-28 05:51] seanlip commented on #5863
Hi @ctao5660, I think you can probably create a service that pops up a modal with a button that invokes location.reload() or similar. The openModal() function of that service could then be called when the error condition is detected. Or the user could click Cancel to stay on the page if they wish, e.g. if it's some non-essential AJAX call that's failing.

Detecting the error condition is a bit tri

[2018-11-28 05:53] seanlip commented on #5876
@lokijuhy sorry for the late reply!

In general when a contributor has merged 2 PRs, we invite them to collaborate on the Oppia repository. At that point, they gain rights to update issue assignments etc. (We used to do it immediately on signup before but that resulted in way too much churn.)

@anubhavsinha98 -- as an FYI, in the initial phase (before 2 PRs are merged), it's fine to just claim an

[2018-11-28 06:09] #5466 closed, assigned to lilithxxx

[2018-11-28 08:40] nithusha21 commented on #4057
Hi @sjkadali sorry for the delay! I missed the ping. To get to 100% make sure your tests cover all if-else branches, loops, etc. Basically, identify which lines of codes are not covered, and make test cases that will run those lines of codes. Does this help?

Sorry again for the delay, looking forward to your PR!

[2018-11-28 08:43] nithusha21 commented on #5134
Deassigning @kirakrishnan due to lack of activity. Feel free to take it up again if you want to work on it.

[2018-11-28 14:33] namansisodia11 commented on #4558
sir i need guidance for writing e2e test.is there any way to see
extensions/interaction visually.i am beginner in angularjs. i have
experienced woking in backend nodejs.

On Sun, Nov 25, 2018 at 12:50 PM Vibhor Agarwal <notifications@github.com>
wrote:

[2018-11-28 15:20] vibhor98 commented on #4558
Hi @namansisodiarajput, please have a look at [#5292](https://github.com/oppia/oppia/pull/5292/files) for reference. Thanks!

[2018-11-28 18:37] jacobdavis11 commented on #5885
@EvsChen are you still working on this?

[2018-11-28 18:38] jacobdavis11 commented on #5822
@vibhor98 are you still working on this?

[2018-11-28 18:39] jacobdavis11 commented on #5791
De-assigning for now. Please re-assign yourself if you're still working on the issue.

[2018-11-28 18:40] jacobdavis11 commented on #5784
@sshou14 are you still working on this?

[2018-11-28 18:41] jacobdavis11 commented on #5753
@tjiang11 any updates on this?

[2018-11-28 18:41] jacobdavis11 commented on #5740
@prasanna08 any updates on this?

[2018-11-28 18:42] jacobdavis11 commented on #5692
De-assigning for now; please re-assign if you resume work on the issue.

[2018-11-28 18:44] jacobdavis11 commented on #5611
@hemant0308 are you still interested in working on this issue?

[2018-11-28 18:45] jacobdavis11 commented on #5544
De-assigning for now; please re-assign to resume work on the issue.

[2018-11-28 18:46] jacobdavis11 commented on #5529
@dawsoneliasen are you working on the remaining parts of this issue?

[2018-11-28 18:48] jacobdavis11 commented on #5002
@vojtechjelinek are you still working on this?

[2018-11-28 18:49] jacobdavis11 commented on #3104
@BenHenning are you still working on this?

[2018-11-28 18:51] BenHenning commented on #3104
Nope, and I think it's fine not to. Although we migrated code blobs, we also tried to retain as much info on them as possible. This might be nice to do in the future, but probably either as part of the more broad "verify invariants hold in the data store" project, or just on an as-needed basis.

[2018-11-28 18:51] #3104 closed

[2018-11-28 18:55] vibhor98 commented on #5822
Hi @jacobdavis11, Not right now but will do after my exams. Thanks!

[2018-11-29 17:50] lostabit commented on #5326
I'm having the same issues and the same error message. When I run vagrant provision I also get

    default: python-yaml is already the newest version.
    default: 0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.
    default: /usr/local/lib/python2.7/dist-packages/pip/_vendor/urllib3/util/ssl_.py:369: SNIMissingWarning: An HTTPS request has been made, but the SNI (Server Name Indic

[2018-11-29 19:10] ctao5660 commented on #5863
@seanlip Hi Sean, finals season is upon Berkeley, I probably won't be able
to debug anything after this weekend until 12/14.

On Tue, Nov 27, 2018 at 9:51 PM Sean Lip <notifications@github.com> wrote:

[2018-11-29 19:34] AJ-54 commented on #5134
Hi @DubeySandeep , I would like to complete backend testing for core.domain.rating_services

[2018-11-29 23:08] seanlip commented on #5863
Understood, thanks. Good luck with your exams!

[2018-11-30 06:18] DubeySandeep opened #5921 "E2E tests for translation tab."
Currently, the audio translation tab isn't fully e2e tested we just check simple feature of translation tab, we need to find a way to upload audio on the translation tab and do the testing. Once we will finalize the audio upload process we can go ahead and test the following features:
  - [ ] Uploading translated audio.
  - [ ] Checking that the status color is correct for each card ("state") in t

[2018-11-30 06:33] DubeySandeep opened #5923 "Refactoring and clean up backend tests."
Currently, there are functions like [add_hint](https://github.com/oppia/oppia/blob/develop/core/domain/state_domain.py#L1400) and [delete_hint](https://github.com/oppia/oppia/blob/develop/core/domain/state_domain.py#L1408) which we only use during testing, through this issue we want to cover the following:

- Remove those functions (Clean-up).
- Refactor the test files to use "commands" to update

[2018-11-30 06:55] mighty-phoenix commented on #5923
@DubeySandeep Can you please explain the second point? I didn't understand.

[2018-11-30 14:32] sjkadali commented on #4057
Hi @nithusha21 thanks!  Got the code coverage to 100%. On running the git push command, linter starts.Though no errors are displayed when its done, couldn't see the pushed changes on the remote repository.

[2018-11-30 15:26] nithusha21 commented on #4057
Could you provide a screenshot of the logs?

[2018-11-30 22:16] dawsoneliasen commented on #5529
@jacobdavis11 No, I'm not. I wasn't aware that there were remaining parts of this issue...

[2018-12-01 02:54] EvsChen commented on #5885
Yes, I'm working on this. At first I was waiting to see if anyone has any comments on this so it took some days.

[2018-12-01 03:18] DubeySandeep commented on #5134
Hi @varun-tandon, any update on this issue?

Hi @AJ-54, I've assigned you to `core.domain.rating_services`

[2018-12-01 04:28] seanlip commented on #5885
Oh, I didn't realize you were waiting for comments @EvsChen! I think it's fine to just go ahead with it (and, if possible, test empirically to see how much of a difference it makes).

[2018-12-01 04:57] EvsChen commented on #5885
Sure, I'll just go ahead.

[2018-12-01 05:12] sjkadali commented on #4057
Attaching the file with the output of running the command "git push origin
user-email-preferences-service-spec"

On Fri, Nov 30, 2018 at 10:31 AM Nithesh N. Hariharan <
notifications@github.com> wrote:

[2018-12-01 06:22] nithusha21 commented on #4057
Ummm, I don't see an image.... You can drag and drop it into the github editor where you type the comment.

[2018-12-01 08:24] seanlip commented on #5885
Sounds good, thanks!

[2018-12-01 11:14] seanlip opened #5927 "Sometimes the wrong build hashes are getting requested"
I just had the good fortune to reproduce a bug we've sometimes seen in production but have no idea what the cause is. See screenshot below, which was captured just after upgrading the test server. The full first URL is /build/templates/head/services/SiteAnalyticsService.f03612eb78fa1460de20d2e33c9f4403.js and the full second URL is /build/templates/head/pages/library/search_bar_directive.4ace70a16

[2018-12-01 12:38] vibhor98 commented on #5894
Hi @jiradeto, sure please go ahead. Right now I can't assign you as you're not a collaborator. But please feel free to take it up. Thanks!

[2018-12-01 15:38] sjkadali commented on #4057
[gitlog.txt](https://github.com/oppia/oppia/files/2635999/gitlog.txt)

[2018-12-01 15:46] nithusha21 commented on #4057
Hmmm, that's weird... Why is it running lint checks on so many files? /cc @apb7

[2018-12-01 16:39] sstone-codaio commented on #5784
Sorry not any more, I've removed myself from the assignees.

[2018-12-01 16:42] #5757 closed, assigned to sstone-codaio

[2018-12-01 16:42] sstone-codaio commented on #5757
Fixed in https://github.com/oppia/oppia/pull/5857

[2018-12-01 20:09] vibhor98 opened #5930 "Spurious error logs while running pylint tests on specific directories"
## Repro Steps:
* Run `pylint core --rcfile=.pylintrc` command in terminal.
* Check the error logs.

## Observed behaviour:
Some spurious error logs are also coming. See screenshot below.
![screenshot 2018-12-02 at 1 37 45 am](https://user-images.githubusercontent.com/26625980/49332453-18eeae00-f5d3-11e8-94d3-0b0aa2c71f63.png)

[2018-12-01 20:15] ctao5660 opened #5931 "Instant Error if You Create an Exploration"
**Describe the bug**
Either intentional or not, if you create an exploration, you are instantly met with a warning on the introduction card
**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia
 2. Click on Create
 3. See error

**Observed behavior**
A warning issued even if you didn't write anything

**Expected behavior**
No error or a more descriptive warning message, right now it

[2018-12-01 20:24] ctao5660 opened #5932 "Don't save Exploration if the User Doesn't write anything"
**Describe the bug**
Explorations are saved even if user doesn't write anything. They could have clicked create by mistake, thinking it was something else

**To Reproduce**
Steps to reproduce the behavior:
 1. Login
 2. Click Create
 3. Exit by clicking on the Oppia logo in the left corner
 4. See exploration in your dashboard.

**Observed behavior**
Exploration is saved even though empty

**Expec

[2018-12-01 20:44] ctao5660 opened #5933 "Nit: Test Interaction Exploration Python code Prompt is wrong"
**Describe the bug**
Prompts user to "write a program which prints hello to me" but print("hello") gives you an error saying he actually wanted you to write "Hello Oppia"

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /exploration/16
 2. get to python compiler part
 3. write print("hello")
 4. See screenshot

**Observed behavior**
Says its the wrong answer
**Expected behavior**
eithe

[2018-12-01 20:58] ctao5660 opened #5934 "PencilCode Editor interaction with Otter doesn't Work"
**Describe the bug**
The point of PencilCode editor was to write code to say goodbye, like write 'Goodbye Oppia' but currently that doesn't work. Simply putting Goodbye Oppia in the editor is the only way that passes the check.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /exploration/16
 2.  type "write 'Goodbye Oppia'"
 3. See error
 4. type "Goodbye Oppia"
 5. See completed chec

[2018-12-02 05:48] aks681 commented on #5894
Actually, there is a PR for this issue already, @jiradeto , can you take up another issue? Thanks!

[2018-12-02 18:25] brianrodri commented on #5860
Hi @dchen97, any updates?

[2018-12-02 23:43] amydunphy commented on #5134
Hi, could I be assigned to core.storage.statistics.gae_models? Thank you!

[2018-12-03 07:33] hoangviet1993 commented on #5795
@aks681 Friendly ping? Problem reproducing the bug?

[2018-12-03 07:49] jacobdavis11 commented on #5911
Unfortunately we're not able to add new languages on-demand.

[2018-12-03 07:49] #5911 closed, assigned to nobody

[2018-12-03 07:58] jacobdavis11 commented on #5931
A couple of options I can think of:
 - Don't show the warning until the user has at least entered some content and chosen an interaction.
 - Change these from warnings to TODOs so it doesn't look like the user has done something wrong.

[2018-12-03 08:01] jacobdavis11 commented on #5932
This is a fairly common behaviour (e.g. Google docs does the same thing) so I'm not sure it's bad.

[2018-12-03 08:04] jacobdavis11 commented on #5933
Could you file this as feedback on the exploration itself? Example explorations aren't really part of the Oppia codebase.

[2018-12-03 08:05] jacobdavis11 commented on #5934
Please could you file this as feedback on the exploration itself.

[2018-12-03 08:06] seanlip commented on #5933
Wait, this is a demo exploration, right? It's shipped in the demo/ folder.

[2018-12-03 08:07] seanlip commented on #5933
Sorry, I mean the data/ folder:

https://github.com/oppia/oppia/tree/develop/data/explorations/all_interactions

[2018-12-03 08:14] jacobdavis11 commented on #5933
Yes, but I assume if anything we would just at some point re-snapshot the demo explorations from the production ones.

I don't think it's feasible for us to apply individual exploration fixes as code changes, especially since it will have no user-visible impact.

[2018-12-03 08:19] ctao5660 commented on #5934
@jacobdavis11 Well correct me if I'm wrong, but isn't there an underlying problem that's not just individual to this exploration, but to all explorations that use PencilCode if the output isn't being sensed correctly?

[2018-12-03 08:25] jacobdavis11 commented on #5934
I would assume this is due to the rules specified for this interaction, but I'll try to take a closer look. Do you have a direct link to the behaviour on oppia.org?

[2018-12-03 08:33] ctao5660 commented on #5934
https://oppiatestserver.appspot.com/explore/16

The PencilCode editor is an editor nonetheless, and simply typing in Goodbye Oppia should be a syntax error but currently it passes the check.

[2018-12-03 08:35] ctao5660 commented on #5934
![image](https://user-images.githubusercontent.com/39934918/49362271-3b480080-f693-11e8-8f7e-9ae9712e4868.png)
@jacobdavis11 The computer does recognize the syntax error, but for some reason it doesn't stop the check from passing.

[2018-12-03 09:18] seanlip commented on #5933
Ah, I see! Yes, I agree with you in general, but this particular exploration is special because it's typically used by the QA team to test all the interactions locally in a way that is convenient. So I think this one is worth fixing, but for all other demos I agree with your assessment.

[2018-12-03 13:09] apb7 commented on #5782
Hi @dawsoneliasen, I was thinking if we could find up any existing rule instead of creating another function/checker. If not, then I think that a pylint custom checker would be the right way ahead. Thanks!

[2018-12-03 13:21] apb7 opened #5938 "Only lint files changed by the local user and not by foreign commits"
In order to make the pre-submit checks faster, we should only lint files which have been changed by the local user. Currently, the checks run for merge commits as well, that is, when the user updates his/her local branch with upstream develop.
To fix this issue, changes probably need to be made in [scripts/pre_push_hook.py](https://github.com/oppia/oppia/blob/develop/scripts/pre_push_hook.py).
(Fo

[2018-12-03 13:27] apb7 opened #5939 "Making more of the custom lint checks into pylint checks"
In order to the lint checks faster, we should try to convert some custom lint checks which are currently implemented as additional functions in the scripts/pre_commit_linter.py file into custom pylint extensions in scripts/pylint_extensions.py.
More information about pylint custom checkers can be found here: http://pylint.pycqa.org/en/latest/how_tos/custom_checkers.html

[2018-12-03 13:53] jacobdavis11 commented on #5934
![oppia-pencilcode](https://user-images.githubusercontent.com/13726796/49377702-23ac5e80-f70b-11e8-9d2b-4eaf04bb3609.png)

[2018-12-03 13:57] jacobdavis11 commented on #5934
<img width="1274" alt="pencilcode-oppia" src="https://user-images.githubusercontent.com/13726796/49377942-bb11b180-f70b-11e8-8896-10616766d216.png">

[2018-12-03 13:58] jacobdavis11 commented on #5934
It seems ok to me.

[2018-12-03 14:36] nithusha21 commented on #5934
This is the code editor. I think Christopher is referring to the next interaction which is the pencil code editor. Does the same behavior hold here too?

[2018-12-03 15:56] jacobdavis11 commented on #5934
Oh I see. The rules accept either "Bye Oppia" as an output or "Goodbye Oppia" as code, which I agree is a bit strange and should be fixed.

[2018-12-04 05:42] #5933 closed, assigned to ctao5660

[2018-12-04 12:05] DubeySandeep commented on #5932
@ctao5660, I think the empty exploration says that you have created an exploration which is empty. (If you'll go to the history tab of that exploration you'll find a history with the message "New exploration created." , technically you have created an empty card/state using the default state dict, so this is an expected behavior.)

@nithusha21, can you confirm this?

[2018-12-04 13:14] DubeySandeep commented on #5938
Hi @apb7, is it similar to #5836?

[2018-12-04 16:47] dchen97 commented on #5860
Hi everyone! So sorry for the delay! I'm currently in the middle of Finals
week and I've been working on some grant applications and foundation site
work over the past couple weeks that needed immediate attention. Will try
to have a PR for this by the end of this week!

On Sun, Dec 2, 2018, 11:25 AM Brian Rodriguez <notifications@github.com
wrote:

[2018-12-05 15:30] netajik commented on #5134
Hello @DubeySandeep, would  you review my request.

[2018-12-05 18:39] #4995 closed, assigned to nithusha21

[2018-12-05 22:11] aks681 commented on #5867
@DubeySandeep any updates regarding this?

[2018-12-05 22:13] aks681 commented on #5753
@tjiang11 any updates regarding this?

[2018-12-05 22:15] aks681 commented on #5574
@hemant0308 are you still working on this? The WIP PR seems to be closed by the bot.

[2018-12-05 22:17] aks681 commented on #4438
@BenHenning are you still working on this?

[2018-12-06 05:53] hemant0308 commented on #5574
@aks681
Sorry for this.!
I got busy with other project work.
If any one interested to work on this.They can take it over.
Thank you

[2018-12-06 07:06] ankita240796 commented on #5782
Hi @dawsoneliasen, If you are currently not working on this, would it be fine if I take this up?
Thanks!

[2018-12-06 09:12] seanlip opened #5949 "Inconsistent paragraph spacing in RTE in the exploration editor"
**Describe the bug**
The paragraph spacing in the editor is not uniform and doesn't match the "preview" mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an exploration
2. Type a couple of paragraphs in the content field of the first card.
3. Save the changes.

**Observed behavior**
Spaces between paragraphs do not show up in the RTE in edit mode, but they do show up in preview mo

[2018-12-06 09:13] seanlip commented on #5949
/cc @bansalnitish

[2018-12-06 09:27] DubeySandeep opened #5950 "Server error: Cannot read property 'contentIdsToAudioTranslations' of undefined."
We have been seeing this error in production.

error log:
[code]

**Note**: Text inside `<` and `>` are production data which are hidden.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.

[2018-12-06 09:31] sandeep-patel11 commented on #5898
While writing the Docs I am almost done with the second and third milestone but I am unable to understand the first one.
What kind of changes is required in it.
Need help @DubeySandeep

[2018-12-06 09:50] DubeySandeep commented on #5898
Hi @suicide11,  You can find that we use to record lots of events in google analytics through [SiteAnalyticsService](https://github.com/oppia/oppia/blob/6fa1df73cb72f41a5bbca111aff8ef5983f4a87b/core/templates/dev/head/services/SiteAnalyticsService.js#L55), so we want to record the usability of translation tab through that task!

[2018-12-06 15:12] ankita240796 commented on #5949
Hi @seanlip @bansalnitish , may I take this up?

[2018-12-06 15:41] christineycc commented on #5872
Hi sorry for the late response! I think just the second dialog, which acts
more like a confirmation message that’s asks if users actually want to
reject or accept.

On Thu, Nov 15, 2018 at 3:45 PM Sean Lip <notifications@github.com> wrote:

[2018-12-06 15:42] ankita240796 commented on #5949
Hi @seanlip @bansalnitish,

I tried to find out the source of the weird image which appears in the preview. The image is the drag handler for ckeditor widgets.
![image](https://user-images.githubusercontent.com/15226041/49594264-79973580-f99b-11e8-9f62-ba244ebe294e.png)

I am trying to figure out why this pattern appears in the preview mode.
One of the fix would be to try disabling the drag handle

[2018-12-06 16:15] DubeySandeep commented on #5795
Hi @hoangviet1993, I can reproduce through the steps you have mentioned above, but it occurs not in the first attempt it happens when you'll go back to editor tab and then wait for two minutes and open preview tab, you can the reproduce this again and again by switching tabs and I think the reason is  `HintsAndSolutionManagerService.reset` i.e, we have to reset the service when someone switches to

[2018-12-06 18:56] ankita240796 commented on #5574
Hi @bansalnitish, can you get me started with this!
Thanks!

[2018-12-06 19:06] ankita240796 commented on #5574
Hi @bansalnitish, can you get me started on this! Thanks!

[2018-12-07 02:01] tjiang11 opened #5955 "Remove script for generating automatic backups job."
The backup/restore service on datastore admin is being deprecated. (See https://cloud.google.com/appengine/docs/deprecations/datastore-admin-backups). The process has been migrated to the import export service, and so we no longer need to generate the cron job associated with the old backup process.

[2018-12-07 05:14] 1995YogeshSharma commented on #5134
de-assigning @seritaevelyn  due to lack of activity. Please comment here if you want it assigned again.

[2018-12-07 05:18] 1995YogeshSharma commented on #5134
de-assigning @DiegoCaraballo  due to lack of activity. Feel free to comment here is you want it assigned again.

[2018-12-07 05:35] netajik commented on #5134
Hello @1995YogeshSharma, would review my request. Thank you

[2018-12-07 06:48] #5853 closed, assigned to nobody

[2018-12-07 07:17] bansalnitish opened #5957 "Draggable Feature in the Rich Text Editor"
There should be a feature where the user can drag and place the images/videos in the editor.

Say a user uploads an image and writes a paragraph about it. Now he wants the image to be shifted to the bottom rather on the top. Instead of deleting and uploading it again, a nice way would be to drag it to the bottom.

One possible solution is to set the `draggable` flag to true in the file `app.js`. T

[2018-12-07 07:21] DubeySandeep commented on #5957
Adding PR and issue for reference:

PR #5954 disabled "draggable" feature as it was creating some issue mentioned in #5853.

[2018-12-07 14:18] ankita240796 commented on #5134
Hi @1995YogeshSharma, Please assign `core.storage.file.gae_models` to me. Thanks!

[2018-12-07 15:29] keshavg2 commented on #5747
hi @DubeySandeep  I'm trying to solve this issue from many days but I didn't solve it? can you please  give me some suggestion to solve this issue?

[2018-12-07 16:02] DubeySandeep commented on #5134
@ankita240796, I've assigned you to  `core.storage.file.gae_models`, you can start working on it.

[2018-12-08 04:55] ankita240796 commented on #5039
Hi @tjiang11, Can you please assign this to me. Thanks!

[2018-12-08 08:21] ankita240796 opened #5961 "Exploration overview moves unexpectedly to top left corner"
**Describe the bug**
Exploration overview moves to top left corner when user returns to editor mode from preview mode.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a exploration
 2. Click on preview icon and move to the last card
 3. Now click on editor icon
 4. The overview diagram will move to top left corner

**Observed behavior**
Exploration overview changes position when user

[2018-12-08 09:49] nithusha21 commented on #4057
ping @apb7.. could you help @sjkadali out?

[2018-12-08 10:12] nithusha21 commented on #5961
Possibly a duplicate of https://github.com/oppia/oppia/issues/1105?

[2018-12-08 10:52] ankita240796 commented on #5961
Oh my bad, I missed it!
Closing this one.

[2018-12-08 10:52] #5961 closed, assigned to nobody

[2018-12-08 13:49] geetchoudhary commented on #5755
Hi @DubeySandeep @kevinlee12 , Can I work on this issue?

[2018-12-09 02:23] dawsoneliasen commented on #5782
@ankita240796 please do take it up! I have been caught up with studying.

[2018-12-09 05:41] ankita240796 commented on #5782
Thanks @dawsoneliasen!
Hi @apb7, can you please assign this to me, Thanks!

[2018-12-09 06:34] debck commented on #3950
Hello I would like to work on `footer_js_libs.html`. Please assign me @shubha1593

[2018-12-09 08:47] ankita240796 commented on #5782
Hi @apb7, I tried to find out if there is an existing rule for removing backslash continuation but I was unable to find any such rule. I found a rule which ensures that backslash should not be redundant between brackets and we can use a similar code to remove backslash continuation. Would it be fine to proceed with a pylint custom checker now?

[2018-12-09 11:29] netajik commented on #5134
Hello @DubeySandeep, please assign me  core.storage.exploration.gae_models.

[2018-12-09 17:39] jiradeto commented on #2297
If this issue is still open, I would be happy to be assigned to it!

[2018-12-09 17:43] bansalnitish commented on #2297
Hi @jiradeto, This issue is still open but I'll myself work on this one as my PR (closed) had almost whole work done but then I got busy in my GSoC project.
Could you please take some other ?

[2018-12-09 18:44] jiradeto commented on #2297
@bansalnitish, no problem.
Thanks!

[2018-12-10 01:15] anderssakoul opened #5967 "Please add a new language choice to the exploration settings tab"
Please add the language choice Kabyle(Taqbaylit) to the exploration settings tab.
Some astronomy explorations are planned in this language soon. The Oppia UI works fine in Kabyle.

[2018-12-10 08:36] geetchoudhary commented on #5967
@anderssakoul Can I work on this?

[2018-12-10 08:53] DubeySandeep commented on #5967
Hi @anderssakoul, We'll need the lesson link to evaluate this request. Please provide it and then reopen this issue once you've done so. Thanks!

@geetchoudhary, can you please look into any different issue? (you can check [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do) page for help)

/cc @nithusha21

[2018-12-10 08:53] #5967 closed, assigned to nobody

[2018-12-10 13:55] ankita240796 commented on #5134
Hi @DubeySandeep @1995YogeshSharma can you please assign `core.domain.exp_jobs_one_off` to me, Thanks!

[2018-12-10 14:00] DubeySandeep commented on #5134
Hi @ankita240796, I've assigned you to `core.domain.exp_jobs_one_off` you can start working on it! :)
Thanks!

[2018-12-10 14:01] ankita240796 commented on #5134
Thanks @DubeySandeep :smile:

[2018-12-10 19:42] #5039 closed, assigned to nobody

[2018-12-11 06:35] pratiksinghchauhan commented on #5931
I would love to contribute, can I take this issue up?

[2018-12-11 08:10] DubeySandeep commented on #5931
Hi @pratiksinghchauhan, have you gone through the setting things up section as stated [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) and signed the CLA?

I think this issue is tricky, so after signing CLA, you check '[Finding something to do...](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do)' section to find issues

[2018-12-11 09:26] rahgurung commented on #3950
@shubha1593 @debck  I am already working on it. Thanks.

[2018-12-11 16:42] djb4ai commented on #5930
I would like to handle this issue. Can you explain a little more? What do you want to be done with the logs?

[2018-12-11 16:50] djb4ai commented on #5923
@rakshitkumarcse are you working on it? Else I would like to take it.

[2018-12-12 09:10] bansalnitish opened #5973 "Changed space when the text is added just below the image"
**Steps to reproduce**:
1. In the editor mode while creating an exploration add a image.
2. Start writing the text just below the image and click on content.
3. Click on the content section to edit it again. You'll notice an empty line (or space) is inserted below the image.

**Expected Behaviour**:
The spacing should remain same before and after the save button is pressed.

**Screenshots**:

The

[2018-12-12 10:00] keshavg2 commented on #4833
can i work upon this?

[2018-12-12 11:01] mighty-phoenix commented on #5923
@lladhibhutall go ahead. Take it up.
Thanks.

[2018-12-12 13:48] ankita240796 commented on #5019
Hi @DubeySandeep, can you please assign this to me, Thanks!

[2018-12-12 13:58] ankita240796 commented on #5019
Hi @DubeySandeep, can you please assign this to me, Thanks!

[2018-12-12 15:07] vibhor98 commented on #5930
Hi @apb7, can you verify this issue and help @lladhibhutall in getting started with the issue? Thanks!

[2018-12-12 15:25] ankita240796 commented on #3074
Hi @seanlip, may I take this up using the approach which is discussed on the issue, Thanks!

[2018-12-12 16:44] djb4ai commented on #5930
@apb7 Do you just want to stop the logs from printing? Thanks

[2018-12-12 17:05] geetchoudhary commented on #4936
I am working on this.

[2018-12-12 17:29] bansalnitish commented on #4833
Yes, go ahead @17bcs029!

[2018-12-12 17:42] keshavg2 commented on #4833
hi @bansalnitish can you please tell me how to reproduce the above screenshot on the local server?

[2018-12-13 06:44] mighty-phoenix commented on #5973
@bansalnitish this is the result of misconfiguration of Ckeditor. I have already fixed the error. Only the tests are supposed to be changed likewise. See #5853 and #5929 .

[2018-12-13 08:22] DubeySandeep commented on #3074
Hi @ankita240796, feel free to work on this issue using the suggestion provided in comments above. Thanks! :)

[2018-12-13 12:04] DubeySandeep opened #5975 "Fractions Input is not Displayed Properly in Playthroughs"
**Describe the bug**
FractionInput answers are rendered as `[object Object]` in  playthrough step summaries.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this](https://www.oppia.org/create/MjZzEVOG47_1#/stats) exploration.
 2. Scroll down and click Issue 5.
 3. Open "View Playthrough 1".
 4. See answer's column.

**Observed behavior**
Found `[object Object]` in place of an answer.

[2018-12-13 12:06] YashJipkate commented on #4374
Hi! I started to work on `core.jobs`. I wanted to know if there is someone else was assigned to it.
Thanks!

[2018-12-13 12:24] DubeySandeep commented on #4833
Hi @17bcs029, you can follow these steps (image below) to populate the stats tab.
![image](https://user-images.githubusercontent.com/16653571/49938445-eeb8bc80-feff-11e8-8fc7-eeaeb94520bb.png)
Image-source: gitter oppia-chat.

@nithusha21, can we add "steps to reproduce" here, else we can remove the "good first issue" label. (Also, can you confirm whether the steps mentioned above in the image is

[2018-12-13 12:31] vibhor98 commented on #4374
Hi @YashJipkate, I've assigned you. Please go ahead! Thanks!

[2018-12-13 13:13] geetchoudhary commented on #5745
Hi, @DubeySandeep  I would really like to take up this issue as the previous PR was marked as stale and is now closed.

[2018-12-13 17:04] keshavg2 commented on #4833
Thanks @DubeySandeep and @bansalnitish.

[2018-12-13 17:39] ankita240796 commented on #3074
Thanks @DubeySandeep :)

[2018-12-13 18:45] yashdusing commented on #5975
Can I take this up ?

[2018-12-14 04:43] #5860 closed, assigned to dchen97

[2018-12-14 06:42] kefeh opened #5978 "centralise content on the Oppia landing page"
**Describe the bug**
The content on the Landing page seem to be left centralised and there is too much white space at the bottom.

**Screenshots**
![Image1](https://lh6.googleusercontent.com/8i-vw7CT0G_5RlYi_JA3Vh-MZIRpTssWQG-U8nK6PFBgguFrAJMn55SvehBO7TdmEA-XZZTC2F4uao2Nigyb=w1301-h647-rw)
![Image2](https://lh6.googleusercontent.com/0-tcTJQzLzE_pLmYLG9nWrufhvPMNOKONygE5OGxAXiUe-qIpYzPoMeW93kPbTdkw

[2018-12-14 06:47] DubeySandeep commented on #5978
Hi @kefeh, Thanks for filing this issue, can you please add "expected behavior" section.

[2018-12-14 07:00] kefeh opened #5979 "Adding background images to respective tabs in the oppia landing page"
![screenshot_2018-12-14 personalized online learning from oppia](https://user-images.githubusercontent.com/15707199/49987810-f23a5b00-ff74-11e8-851e-46480839abc4.png)
 I suggest adding images to the backgrounds of respective tabs, especially images from user research that reflects the audience (for the teacher, we have an image of students in a classroom using Oppia).
One such image that could be

[2018-12-14 07:08] kefeh commented on #5978
thanks @DubeySandeep Hope that helps

[2018-12-14 07:54] #5949 closed, assigned to nobody

[2018-12-14 08:06] bansalnitish opened #5980 "Line spacing within a paragraph is inconsistent"
**Steps to reproduce:**
1. Write the text in the editor mode and just check the spacing between the lines of the same paragraph.
2. Now click the save button and check the spacing again.

**Observed Behaviour**
You'll notice that spacing between the paragraphs in the editor while editing seems larger than spacing after the save button is pressed.

**Expected Behaviour**
Spacing should be consisten

[2018-12-14 08:06] bansalnitish commented on #5980
cc/ @nithusha21

[2018-12-14 08:41] brianrodri commented on #5975
Hi @yashdusing, sure as long as you've already taken the steps outlined in our [wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) for contributing to Oppia.

[2018-12-14 09:34] bansalnitish opened #5982 "Item goes out of the modal if its large in Multiple Choice Interaction"
**Steps to Reproduce:**
1. Create an exploration with multiple choice interaction.
2. While adding the choices(items), add items having length upto 4-5 lines.
3. Add Response and you'll notice the item goes out of the modal.

This doesn't happens with the Item Selection.

**Expected Behaviour:**
The text should not go out of the modal. Instead one can see how it works well with the Item Selection.

[2018-12-14 09:34] bansalnitish commented on #5982
cc/ @nithusha21 Could you too confirm this? (It happens on the production server as well)
Thanks

[2018-12-14 12:34] mighty-phoenix commented on #5982
@bansalnitish Yes, I am able to reproduce it. Can I take up this issue?
Thanks!

[2018-12-14 12:34] bansalnitish commented on #5982
Yes sure, go ahead!

[2018-12-14 17:33] #5701 closed, assigned to nobody

[2018-12-14 17:36] nithusha21 commented on #5701
Hi @abeerunscore96 how does the implemented solution look? Do you think it is more clear now? If not, feel free to reopen this issue.

[2018-12-14 17:46] abeer-khan commented on #5701
@nithusha21  I think the change is that we now see a warning sign in the editor so it's more obvious that we there might be something wrong which is why we can't publish?

It definitely seems better to me!

[2018-12-14 17:54] apb7 commented on #5938
Ah, yes. I'll close #5836 in favor of this and add a link to it in the issue thread. Thanks!

[2018-12-14 17:54] apb7 commented on #5836
Superseded by #5938. Thanks, @DubeySandeep!

[2018-12-14 17:54] #5836 closed, assigned to nobody

[2018-12-14 21:04] yashdusing commented on #5975
Hello ! I cannot find issue 5 as well as view playthrough sections in oppia. Could you please elaborate on the reproducing steps
![screenshot-www oppia org-2018 12 15-02-22-16](https://user-images.githubusercontent.com/19976688/50027350-ebadf100-0011-11e9-8af2-39b388f4e2bf.png)

[2018-12-14 21:28] brianrodri commented on #5975
Hi @yashdusing, are you running your local server in production mode?

[code]

That is most likely the reason you aren't seeing any issues. Note that working in a prod environment means you'll have to cancel and run that command every time you make a frontend code-change!

[2018-12-14 21:30] yashdusing commented on #5975
Oh. Thank you for the heads up
Edit : I was viewing it on the official site and not on my machine. Going to try that now

[2018-12-14 22:21] geetchoudhary commented on #5745
@DubeySandeep Please let me know about this when you get a chance.

[2018-12-15 04:29] DubeySandeep commented on #5745
Hi @geetchoudhary, Sure, go ahead and start working on it. Thanks! :)

[2018-12-15 05:12] geetchoudhary commented on #5745
@DubeySandeep , Just a quick question. Was the UI on the PR #5868 ok? Should I continue with it as a template and see what's wrong or create a new one from scratch?

[2018-12-15 05:17] DubeySandeep commented on #5745
@geetchoudhary, you can continue with it and go through the doc and suggestions provided in the PR comments thread, Also do update the same doc with your changes while sending PR and link the doc in the PR comment, that way it will be easier for anyone to do a UI review!

[2018-12-15 13:37] #5782 closed, assigned to nobody

[2018-12-15 19:42] yashdusing commented on #5975
Hey ! I have a doubt. In prod/dev environments, only the first 3 explorations are implemented. So, does that mean I need to write the code to load the exploration first or are there a sequence of steps to follow to load the exploration ?

[2018-12-15 20:39] yashdusing commented on #5975
Two things :
1. In dev mode, it’s the same problem as the official site. I can’t see where the ‘issue 5’ or the ‘View playthrough 1’ are located. A screenshot showcasing their locations would be quite helpful.
2. In prod mode, I cannot reload the explorations

[2018-12-16 05:28] nithusha21 commented on #5975
Hi, I don't think you can reload this particular exploration locally. However, looks like the error can be reproduced by creating an exploration with fraction input, and then adding some rules/feedback, and then playing the exploration multiple times where different answers are given, and they match to the different rules you created. Now navigate back to the statistics tab, and you'll see a list

[2018-12-16 05:56] vibhor98 commented on #4558
Hi @namansisodiarajput, are you still working on the assigned interaction? Thanks!

[2018-12-16 10:16] namansisodia11 commented on #4558
Yes sir I am learning angular.my exam is also going.give you response till
20-24.

On Sun, 16 Dec 2018, 11:26 Vibhor Agarwal, <notifications@github.com> wrote:

[2018-12-16 15:19] yashdusing commented on #5975
@nithusha21 which one's the 'end exploration' type question ? How do I add add one to the end ?
(Also, I tried previewing the exploration and my responses weren't getting recorded in the stats tab)
![screenshot-localhost-8181-2018 12 16-21-05-39](https://user-images.githubusercontent.com/19976688/50055530-6132d200-0176-11e9-938c-34d9ec72f18f.png)

[2018-12-16 16:04] nithusha21 commented on #5975
I don't think preview will record. You need to publish it. As for end exploration, where you choose the interaction, on the first page, there is an option 'end exploration'. Select that one.

[2018-12-16 16:30] yashdusing commented on #5975
@nithusha21 how long till I start seeing the issues ? I've done it around 11 times (both complete and incomplete) and tried out every option and still haven't seen the issue :/

[2018-12-16 16:43] #5980 closed, assigned to bansalnitish

[2018-12-16 17:12] nithusha21 commented on #5975
What interaction are you trying on? Try the fraction input interaction

[2018-12-16 17:29] yashdusing commented on #5975
Thanks , I was trying the simple text interaction. But, I'm still not getting the issues (even tho I have all interactions as fraction input)

[2018-12-17 08:59] nithusha21 commented on #5975
Hmmm, I'm not sure. Will try it out and let you know. @vibhor98 or @brianrodri would be able to help you better I feel.

[2018-12-17 09:44] apb7 commented on #5839
As discussed with @nithusha21, we are disabling these tests until we find a fix so that the build passes for develop branch. This is necessary for releases. Thanks!

[2018-12-17 15:14] ankita240796 commented on #3074
Hi @DubeySandeep @seanlip, I have a doubt here: Do we want to show the warning while the user is editing the card or after the card is saved?

[2018-12-17 17:47] yashdusing commented on #4931
I published an exploration via an admin account and created a separate account to edit the exploration. All I can do is suggest changes and I can't edit the exploration
![screenshot-0 0 0 0-8181-2018 12 17-23-13-53](https://user-images.githubusercontent.com/19976688/50105026-89dbca00-0251-11e9-8fed-6136866c3468.png)

[2018-12-17 17:54] yashdusing opened #5998 "Cannot log out of user account bug"
Steps to reproduce the behavior:
 1. Login to an admin account
 2. Log out.
 3. Login to a non-admin account
 4. Try to log out

Observed behavior :
Cannot log out of account

Expected behavior:
User should be logged out

Screenshots :
https://imgur.com/a/YjoZ0I2

Desktop :
 - OS: Ubuntu 18.04
 - Browser: Chrome

Happens on the local setup

[2018-12-17 18:15] mighty-phoenix commented on #5998
@yashdusing Not able to reproduce the error.

[2018-12-17 18:16] DubeySandeep commented on #5998
Hi @yashdusing, Thanks for reporting the issue, but I'm unable to reproduce this issue. Can you please update the develop branch and recheck?

[2018-12-17 18:17] yashdusing commented on #5998
@DubeySandeep sure.

[2018-12-17 18:22] yashdusing commented on #5998
Should I close the issue because I wasn't able to reproduce the issue again ?

[2018-12-17 18:26] DubeySandeep commented on #5998
@yashdusing, Thanks for checking! I'm closing this issue, for now! You can re-open it if you will come across this issue again. :)

[2018-12-17 18:26] #5998 closed, assigned to nobody

[2018-12-17 18:34] jacobdavis11 commented on #4931
You will need to change 'explore' to 'create' in the url.

[2018-12-17 18:39] yashdusing commented on #5438
So, if I'm understanding this correctly.
Creator clicks on upload exploration (currently hidden) > Exploration gets listed in admin's activities tab and corresponding yaml file is placed in the common place where all yamls are currently stored

[2018-12-17 18:39] vojtechjelinek commented on #5002
Hi @rakshitkumarcse, we are trying to get rid of variables from GLOBALS object, this object is defined in [base.html:80](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/base.html#L80) we insert values there using Jinja, the values we insert are mostly set inside [base.py](https://github.com/oppia/oppia/blob/develop/core/controllers/base.py) and then the values are availab

[2018-12-17 18:46] yashdusing commented on #4931
Okay, I was able to reproduce this issue. Now, since this is a published exploration the user must not be allowed to change the exploration, right ? He only must have rights to give feedback as is the case in explore page
Or should we give the user access to the create page and remove the black blurred page?

[2018-12-17 18:55] jacobdavis11 commented on #4931
The user should have access to the create page (since it can be useful) but not be able to make changes.

[2018-12-17 19:26] mighty-phoenix commented on #5002
@vojtechjelinek Thanks a lot! Couldn't have been more clear.

[2018-12-17 19:58] keshavg2 commented on #4833
hi @DubeySandeep I'm trying this but this have not the complete step. Hi @nithusha21 can you please help me to complete this step?

[2018-12-18 07:05] anubhavsinha98 commented on #5343
Hey @aks681 , I would like to take this issue !

[2018-12-18 10:35] aks681 commented on #5343
Thanks! Feel free to start working on this.

[2018-12-18 12:47] DubeySandeep commented on #5921
Assigning this to @tirthbal.

[2018-12-18 14:42] ishucr7 commented on #5504
Hi! Is this issue still open?

[2018-12-18 15:12] nithusha21 commented on #5867
Hi @DubeySandeep Any updates here?

[2018-12-18 15:22] rafalk342 commented on #4407
Can I be assigned to this issue?

[2018-12-18 15:42] nithusha21 commented on #5504
Yes @ishucr7 would you like to take it up?

[2018-12-18 17:40] vibhor98 commented on #4407
@rafalk342, please feel free to take up this issue and proceed! I can't assign you the issue as you're yet to receive the Github invitation to join. Thanks!

[2018-12-18 19:40] rajgoesout commented on #5856
@jacobdavis11 I published an exploration in the "Computing" category and _it is_ being displayed in the library.
![screenshot 2018-12-19 at 1 07 26 am](https://user-images.githubusercontent.com/30660439/50178517-c7605600-032a-11e9-8d76-29deb544a759.png)

[2018-12-18 20:57] jacobdavis11 commented on #5856
It's visible here because the local oppia instance doesn't have any other explorations. But on oppia.org it's not likely to be displayed in the main page of the library, and it's not accessible through the category drop-down.

[2018-12-19 06:26] apb7 opened #6003 "Flaky e2e test in the State Editor test suite"
**Describe the bug**
The e2e test, "checks statistics tab for an exploration" in the State Editor test suite, seems to be flaky.
The error log:
[code]

Link to the failed test: https://travis-ci.org/oppia/oppia/jobs/469859292#L1997

At this point, from the error log, it seems that some element is not visible.

/cc @brianrodri, @nithusha21

[2018-12-19 06:42] rajgoesout commented on #5856
It's coming when I'm searching with the title of the exploration that I created. I guess oppia shows the most popular ones at the top in the respective sections.

![screenshot 2018-12-19 at 12 12 01 pm](https://user-images.githubusercontent.com/30660439/50203384-50a57600-0387-11e9-9242-d914e2faa922.png)

[2018-12-19 07:54] apb7 commented on #5753
Hi @tjiang11, I'm de-assigning you for now. Feel free to re-assign when you take this up. Thanks!

[2018-12-19 07:57] apb7 commented on #5462
Hi @aks681, this is WIP, right? Thanks!

[2018-12-19 09:08] brianrodri opened #6004 "Add presubmit check to ensure imports are sorted"
It's frustrating to examine the dependencies of controllers/directives/factories/etc. b/c they aren't always sorted. This forces developers to linearly search for imports (when eye-balling a file), and often mixes the different "types" of imports we make.

I'd like to have a presubmit check that ensures imports are sorted in the following way:

[code]

Pointer: Use [di-order](https://github.com/Gi