[2017-04-08 05:01] #3297 closed

[2017-04-08 05:28] jaredsilver commented on #3271
Thanks @clavoirr! This seems like a very important feature to implement given that Oppia is supposed to support learners in rural areas where internet access might be not be very consistent.

The part of this where the learner can access a partially-completed exploration from a dashboard will be taken care of in the Learner Dashboard project that a contributor will be working on for Google Summer

[2017-04-08 05:57] kevinlee12 opened #3305 "Move pre-push linting checks to pre-commit checks"
Since there's quite a bit of commits in PR's that are simply being done due to linting errors, it might be better if we move pre-push linting checks to pre-commit checks to reduce these "Fix linting error"-only commits. In addition, having linting checks in a pre-commit stage also keeps helps to reinforce best coding practices throughout development (and avoid bugs).

However, we should maintain f

[2017-04-08 05:58] seanlip commented on #3305
I never thought of this idea before, but I like it!

You might want to ask oppia-dev@ first though (or maybe gitter).

[2017-04-08 21:14] kirankonduru opened #3309 "Back Browser button does not work in the editor page."
To reproduce:

1. From the creator dashboard, create a new exploration.
2. Press the Back button in the browser.

The button has no effect. This is not expected behavior, the Back button should take the user to the page previously viewed.

/cc @Arunabh98

[2017-04-08 21:15] kirankonduru opened #3310 "Reload dashboard data whenever Back Browser Button is pressed."
To reproduce:

1. From the creator dashboard, create a new exploration.
2 (a). If the issue #3309 is fixed press the Back Button, otherwise
2 (b). Press the Back button in the browser for a brief time to get the list of previous pages. Select the Creator Dashboard - Oppia option.

The page displays the previous instance of the dashboard page and does not have the newly created exploration.

Expect

[2017-04-08 21:18] kirankonduru opened #3311 "Reload exploration editor data on"
If you make a change in the exploration creator, navigate to the creator dashboard by clicking the Oppia logo, and then click the back button, the exploration creator does not show the changes unless you refresh.

[2017-04-08 21:35] kirankonduru commented on #2550
As discussed with @seanlip ,filed this issue as separate issues #3309 and #3310.

[2017-04-08 21:35] #2550 closed

[2017-04-08 23:05] #3300 closed

[2017-04-09 05:51] Arunabh98 commented on #3296
@jaredsilver @seanlip what exactly are the statistics I should get? Should I get the 90th percentile of username lengths or should I get the distribution of username lengths -- like there are 20 users having a username of length 7. I feel getting the distribution would allow us to make a better decision but I would like to know your views on this?

[2017-04-09 06:04] Arunabh98 commented on #3309
Just to clarify the scope of this issue -- The fix to this issue should just allow the creator to get to the page previously viewed. There is no need to reload the previously viewed page to show any updated changes due to the editor page. For example, say the user is currently in the creator dashboard and then creates a new exploration. He/She then moves on to the editor page. On pressing the back

[2017-04-09 06:12] seanlip commented on #3296
Distribution is fine, and in fact should be quite straightforward using mapreduce. :)

[2017-04-09 06:13] Arunabh98 opened #3314 "Update the width of the subscription card and the e2e tests corresponding to the subscription functionality."
The MR job that will be created for #3296 will give us an idea about the current distribution of username lengths. This will allow us to decide the width of the subscription card and the maximum truncation limit. Using this information, the UI and the tests corresponding to subscription functionality should be appropriately updated.

[2017-04-09 07:37] kevinlee12 commented on #3314
Note that this can only be done after we get data from #3296

[2017-04-09 10:43] Anthony-Alridge commented on #3295
Okay I've had a look at the code and from what I can tell it works as follows: whenever the user makes a change to the exploration (e.g. adding a new state or editing a state) they have to save it (e.g save content in the case of editing the content property of a state). This is registered as a change and is autosaved to the backend. The user manually saves by clicking save draft, which essentiall

[2017-04-09 15:06] shaz13 opened #3315 "Minor tweaks at Donation and Privacy page."
These are few minor tweaks that should be done at Donation and Privacy page. Few are just text based corrections and other are related to links and redirection.

- [ ] At Privacy page, Bullet points start with small caps unlike at other pages bullets are capitalized. [localhost link:privacy page](http://localhost:8181/privacy)
- [ ] At the same page, Contact Us section, e-mail to admin@oppia.org c

[2017-04-09 15:09] shaz13 commented on #3315
@seanlip Please share your opinion on this. Once issue is approved will make a PR. Thanks!

[2017-04-09 19:26] kevinlee12 commented on #3315
Hi @shaz13, can you modify the links above to point to production (if the issue persists there?)

[2017-04-09 19:28] kevinlee12 commented on #3315
/cc @wxyxinyu @jacobdavis11 for comments as well.

[2017-04-09 19:28] kevinlee12 commented on #3315
Putting it on triage for now until we get comments.

[2017-04-09 19:50] #3093 closed

[2017-04-09 20:38] seanlip commented on #3315
Thanks @shaz13. We're working on an update of /privacy and the /donate page thing is intentional (since not everyone may know about Paypal). So I would say the only change that should be made is the last one, which is a good catch.

[2017-04-09 20:56] vojtechjelinek commented on #3199
We could just slice that file from the first `{` and parse that as JSON.

[2017-04-09 20:58] seanlip commented on #3199
OK. SGTM, but we need to ensure there are good tests to verify that the format of the file is as expected and that all invariants it needs to satisfy.are explained somewhere.

[2017-04-09 21:02] seanlip commented on #3295
Thanks, @Anthony-Alridge! Let's step back one second, first; I want to fully understand the exact "success criteria" for what solving this issue entails.

In the issue description at the top, would you mind providing some steps that one could take on a local server to simulate this, a description of what happens, and a description of what should instead happen? Note that there's a checkbox in the

[2017-04-09 23:33] kevinlee12 commented on #3315
In light of the re-write to those pages, I'd recommend closing this issue and opening a new one that just focuses on the last bullet point @shaz13

[2017-04-10 00:56] wxyxinyu opened #3318 "Style fixes for collection card in creator dashboard"
This is the collection card in the creator dashboard:
![image](https://cloud.githubusercontent.com/assets/5061134/24842469/1f2656ac-1d66-11e7-8e20-41cde8a946ba.png)
This is a collection card in the library:
![image](https://cloud.githubusercontent.com/assets/5061134/24842499/64cd5eb2-1d66-11e7-8cc5-74ea58ef284e.png)

1. There should be some space around the "no objective specified" text
2. The col

[2017-04-10 01:00] shaz13 commented on #3315
@kevinlee12 Sure. Closing this issue and thanks for letting me know about the revamping of those pages @seanlip.
Closing this issue

[2017-04-10 01:00] #3315 closed

[2017-04-10 01:01] shaz13 opened #3319 "Oppia video at the donation page shows "Related videos" after the video finishes"
Oppia video at the donation page shows "Related videos" after the video finishes, that too from one's local youtube histroy. This is distractive. Adding `?rel=0` in the url should solve the minor issue

**Screenshot:**
![shot 01](https://cloud.githubusercontent.com/assets/24438869/24838381/7a53f0ea-1d64-11e7-97f9-0b6f83d2b972.jpg)

[2017-04-10 01:02] #3293 closed

[2017-04-10 03:04] wxyxinyu commented on #1480
Sounds good. I think the best/easiest way is to simply raise the default rank of collections, so they appear before most explorations. I've updated my comment on top to reflect this.

[2017-04-10 03:56] #2018 closed

[2017-04-10 05:30] kevinlee12 commented on #3319
Closed in PR #3321

[2017-04-10 05:30] #3319 closed

[2017-04-10 06:12] anmolshkl commented on #3170
Hi @RoliKhanna, are you still interested in working on this issue?

[2017-04-10 07:55] pranavsid98 commented on #3282
@anmolshkl . I'd like to take this up.
Since we are serializing the cached data when using to_dict(), validate() wouldn't need to check for numpy arrays.
Thanks.

[2017-04-10 20:07] Anthony-Alridge commented on #3295
Thanks @seanlip I've amended it, how's that?

[2017-04-11 05:33] seanlip commented on #3295
The new description is excellent. Thanks @Anthony-Alridge!

So, looking at your notes: I agree with your first paragraph. I think the components you are looking at are the right ones and I think the approach looks promising, but I would suggest thinking about two things:
- how are you going to keep localStorage and the autosaved drafts in sync (eventually)? It seems to me that if you end up restor

[2017-04-11 06:36] giritheja commented on #3282
@anmolshkl Sorry for delayed response. I think I assumed list and numpy array as the same data type in my previous PR.
So, I went through the variables and found out the following:
`_b_dl, _l_dp, _c_dl, _c_lw` are concatination of mutli-dimensional numpy arrays.
`_c_l` is single dimension numpy array.
`_w_dp` is a list of list, where each list is a doc.
I see that @pranavsid98 is working on this i

[2017-04-11 06:54] giritheja commented on #3276
@pranavsid98  I think you are still working on #3172 . I'll take up this issue.

[2017-04-11 08:31] pranavsid98 commented on #3282
@giritheja . The caching framework led to the need of serializing all the numpy data to lists inside the to_dict() function. This serializing function can be found in my PR for caching classifiers. So, handling numpy arrays shouldn't be a problem since whenever we convert the StringClassifier to a dict, it is serialized. I've validated the above variables in exactly the same way. It'd be great if

[2017-04-11 08:35] pranavsid98 commented on #3276
@giritheja. Great. Ping me if you need any help :)

[2017-04-11 16:13] markhalpin opened #3324 "Adjustments to collection learner view"
Please format the "Highlight an icon..." text so that it's the same size, line spacing, etc. as the explanatory text on the actual lesson card (e.g. "Learn the basic understanding of fractions"). Similarly, please make the white bottom of the "blank" card the same proportion as the white bottom on exploration cards. Both of these changes will minimize the visual jangle when mouseovers swap out the

[2017-04-11 20:33] #2936 closed

[2017-04-11 21:02] lunrong commented on #2429
Hi @seanlip  I have transform from YUI to Closure and find some thing interesting:
1). Get size of build/ directory by run "du -s build/" in ubuntu 14.04
YUI: 12276k
Closure: 12312k
Closure obtain a little bit more size  and double processing time compare to YUI

2).Closure can only compile and optimize javascript and we still need YUI to compress css file,
so Closure can not totally replace YUI r

[2017-04-11 21:17] rachelwchen opened #3326 "Add "back to collection page" hyperlink when a user completes an exploration in a collection"
Hi all,

During user testing, a user pointed out she was unsure of what to do when she finished an exploration within a collection. Her immediate reaction was to go back to the collection overview page, but there was no obvious links for her to click on.

Basically, she wasn't sure how to get from this:
<img width="1280" alt="screen shot 2017-04-11 at 1 38 33 pm" src="https://cloud.githubuserconte

[2017-04-11 21:54] rachelwchen opened #3327 "Change text from "highlight" to "hover over" on the collection overview page"
Hi all,

Currently on the collection overview page, the right box says "highlight an icon to preview an exploration." This issue was also brought up during user testing, where one user pointed out "**hover over**" would be the more accurate description here.

<img width="1268" alt="screen shot 2017-04-11 at 2 54 55 pm" src="https://cloud.githubusercontent.com/assets/12159451/24932555/d8bf5e90-1ec6

[2017-04-11 22:05] rachelwchen opened #3328 "Change the triangle icon when a user clicks on it"
Hi all,

During user testing, when a user checked out our "previous responses" design, she mentioned that "I like the 'previous response' design... it lets me see what I had answered, which is pretty helpful. However, just one minor thing… when I clicked on it, **I expected the triangle thing to point down** (instead of pointing to the right) as the thing expands, yet it stayed in its original pos

[2017-04-12 04:04] shivanXI commented on #3327
Hi!! @rachelwchen Can I take this up ??

[2017-04-12 04:11] shivanXI commented on #3326
Hi!! @rachelwchen and @souravbadami Can I work on it??

[2017-04-12 04:44] rachelwchen commented on #3327
@shivanXI I believe so! Make sure you assign yourself (top right corner "assignees") so people know someone's already handling this issue. Thank you!

[2017-04-12 04:44] rachelwchen commented on #3326
Hi @shivanXI -- I believe so! Make sure you assign yourself (top right corner "assignees") so people know someone's already handling this issue. Thank you!

[2017-04-12 05:31] seanlip commented on #3328
@lunrong -- mind taking a look at this, please? Thanks!

[2017-04-12 05:32] seanlip commented on #2429
Great! Thank you for investigating. It looks like switching to Closure isn't worth it, so let's close this issue accordingly.

[2017-04-12 05:32] #2429 closed

[2017-04-12 14:30] shaz13 commented on #3318
Hi @wxyxinyu  I would like to work on this issue.
One clarification, the collection card in the creator board should to identical to that of card at library.

[2017-04-12 14:52] wxyxinyu commented on #3318
I'm not sure what you mean by that? You should make the creator dashboard card look like the library card, yes.

[2017-04-12 14:52] shaz13 commented on #3318
@wxyxinyu  Yes, I meant the same

[2017-04-12 15:38] shaz13 opened #3329 "'Error 404: Page not found' has broken footer"
The Error 404: Page not found has broken footer,

**How to produce**
1. Go to any address which is not a page at Oppia, Eg http://localhost:8181/ighiu

![screenshot from 2017-04-12 21-05-21](https://cloud.githubusercontent.com/assets/24438869/24966237/03312732-1fc4-11e7-9da4-79aecca881e4.png)

OS: Ubuntu 16.04 LTS
Browser: Latest Google Chrome and Firefox too
Resolution: 1920 X 1080

[2017-04-12 15:59] souravbadami commented on #3329
Hi @shaz13 -- Please update the os environment and web browser in the issue description.

[2017-04-12 16:01] shaz13 commented on #3329
@souravbadami Sure.

[2017-04-12 16:03] shaz13 commented on #3329
Updated

[2017-04-12 16:04] souravbadami commented on #3324
Hi @markhalpin -- Could you please update the issue description with a mock or sample image ? Thanks!

[2017-04-12 16:07] shaz13 commented on #3318
@wxyxinyu  I tried reloading the sample collection from the admin page. But, didn't get the above expected collection. Could you please add steps to reproduce the error?

[2017-04-12 16:07] shaz13 commented on #3318
@wxyxinyu  I tried reloading the sample collection from the admin page. But, didn't get the above expected collection. Could you please add steps to reproduce the error?

[2017-04-12 16:07] wxyxinyu commented on #3318
can you try creating a new collection?

[2017-04-12 16:10] shaz13 commented on #3318
That's what I am unable to. I can make explorations and load few from admin page. Could you please show how to make collection.

[2017-04-12 16:20] wxyxinyu commented on #3318
You'll need to add your username to the list of collection creators on the
admin page. Then when you click "create" it will let you create a
collection.
On Wed, Apr 12, 2017 at 12:10 PM Shahebaz <notifications@github.com> wrote:

[2017-04-12 16:27] shaz13 commented on #3318
@wxyxinyu Thanks reproduced the issue locally.

[2017-04-12 16:56] shaz13 commented on #3318
Done. Made a PR kindly review it

[2017-04-12 17:47] shaz13 commented on #3329
@seanlip  @souravbadami Just now saw that this issue isn't on the production server.
Some code has been changed at the footer css recently through this merged PR #3186. Which was intended fixing mobile padding, but [main footer class was changed in the merged PR.  ](https://github.com/oppia/oppia/pull/3186/files).
Am not sure how many pages are behaving such. But position `absolute` is mandatory f

[2017-04-12 18:02] souravbadami opened #3331 "ReferenceError: OutcomeObjectFactory is not defined."
![bug](https://cloud.githubusercontent.com/assets/11073943/24972182/1ba1f65c-1fd8-11e7-8e4f-6977eb9905cb.png)

/cc @seanlip @pranavsid98.

[2017-04-12 18:30] #1774 closed

[2017-04-12 18:30] markhalpin commented on #3324
you bet. This is the current behavior:

![fract_page_incorrect](https://cloud.githubusercontent.com/assets/13863393/24973347/66235b7c-1f8c-11e7-9c8d-2ab313958ff5.png)

Note from red lines that unaligned styling of the card and text creates unnecessary shifts of elements on mouseover. Please reformat those elements so shifting is minimized, as below:

![fract_page_correct](https://cloud.githubuserc

[2017-04-12 18:41] pranavsid98 commented on #3331
Let me leave some detail here.
I set SHOW_TRAINABLE_UNRESOLVED_ANSWERS and ENABLE_STRING_CLASSIFIER to True. I then ran the development server and tried to create an exploration and use the teachOppiaModal. When I clicked 'Teach Oppia', I could add an answer, but it was never getting saved. I couldn't get the 'similar-to' rule type to work at all. Then, I tried clicking 'New Response' and this err

[2017-04-12 18:53] markhalpin opened #3332 "Rescale Lesson Avatar"
Currently the Otter avatar and learners' avatars as deployed in explorations are so small as to be unappealing and almost illegible. Please resize to resemble learner experience mocks.
Current typical usage:

![avatar_small](https://cloud.githubusercontent.com/assets/13863393/24974251/8f1b9b40-1f8f-11e7-993a-6a571b4a8808.png)

Desired styling:

![oppia5](https://cloud.githubusercontent.com/assets/

[2017-04-12 19:34] seanlip commented on #3331
I bet @tjiang11 can help. /cc-ing him here.

[2017-04-12 19:46] seanlip commented on #3329
Seems like a regression, let's please get it fixed. Thanks for spotting it @shaz13!

/cc @Oishikatta @poush who were involved in the PR you linked to.

[2017-04-12 23:50] seanlip commented on #3303
Hi @lunrong! Saw this one, and thought it's worth fixing -- that way, you can also get a feel for the editor code as well, which is somewhat more complex than the learner view.

[2017-04-13 00:56] tjiang11 commented on #3331
Adding 'OutcomeObjectFactory' to the list of controller dependencies should fix the error. So at line 418 at OutcomeObjectFactory after the AnswerGroupObjectFactory and in line 422 do the same.

[2017-04-13 12:26] #3282 closed

[2017-04-13 12:38] anmolshkl opened #3336 "Issue with paragraph spacing in the collapsible block."
I was trying to add some translations in a collapsible block for one of the explorations and I realized that the spacing between paragraphs is sometimes random. Specifically, in the modal where you can edit the content of a collapsible block, the amount of space that you add between two paragraphs doesn't always get reflected while playing the exploration. So, sometimes when I added a line break,

[2017-04-13 15:12] shaz13 commented on #3332
@markhalpin I would like to work on this issue.

[2017-04-13 15:14] shaz13 commented on #3332
One clarification, The size of the lesson avatar must be just larger (or) Making it large and re position to the vertical centre to the card.

[2017-04-13 16:04] markhalpin commented on #3332
thanks for taking this on @shaz13! As far as the position, let's aim for the mock I think; namely, the icon should overlap the white panel but not intrude on the inner colored panel, and it should be positioned more or less at the start of the card text. I think since card text will mostly start at the top of the card, finding a standard position relative to the top of the card should work for eve

[2017-04-13 16:09] shaz13 commented on #3332
@markhalpin  Made a PR kindly review it

[2017-04-13 16:39] markhalpin commented on #3332
@shaz13 I typically don't review code, but please attach a screenshot so I can see what it looks like. Thanks!

[2017-04-13 16:41] shaz13 commented on #3332
@markhalpin  Sure. It looks like this as of now with latest commit
![shot 08](https://cloud.githubusercontent.com/assets/24438869/25014618/2a7ac2ee-2096-11e7-9061-61c6fbf10a69.jpg)

[2017-04-13 19:30] terrameijar commented on #2394
@seanlip I would like to take _core.tests.test_util_jobs_

[2017-04-13 19:39] #3318 closed

[2017-04-13 19:49] seanlip commented on #2394
Sounds great, I've assigned you. Thanks @terrameijar!

[2017-04-13 20:59] seanlip commented on #3336
Thanks, @anmolshkl! Would you mind adding a minimal set of steps so that this can be reproduced starting from a fresh dev server? That'd make it easier to debug and fix.

[2017-04-14 04:46] #3331 closed

[2017-04-14 04:59] TruongKim commented on #3096
@prasanna08 , another place I think that can cause the error is
https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/i18n.js#L96

Can you help me by suggesting some ways I can test this?

[2017-04-14 04:59] wxyxinyu commented on #3047
The description is slightly obsolete -- I implemented in a slightly different way. All that remains is to run the job in prod.

[2017-04-14 05:01] wxyxinyu commented on #3047
fixed in #3209.

[2017-04-14 05:01] #3047 closed

[2017-04-14 07:04] seanlip commented on #3062
Deassigning @bruce-hansen due to lack of response.

@kevintab95, do you think you could take a look at this?

[2017-04-14 07:09] seanlip commented on #3170
Hi @RoliKhanna -- ping?

[2017-04-14 07:10] seanlip commented on #3056
Hi @VRamazing, are you still interested in working on this?

[2017-04-14 07:13] seanlip commented on #3146
Hi @pdalavi -- how is this going?

[2017-04-14 07:13] seanlip commented on #3242
Hi @saeedjassani, how is this going?

[2017-04-14 07:47] pranavsid98 commented on #3170
Hi @seanlip . If this issue gets freed up, could I take this up? I'm learning Angular and working on this should help a lot. Thanks.

[2017-04-14 07:52] seanlip commented on #3170
Hi @pranavsid98, sounds good -- feel free to take this up once your PR on caching classifiers is done, if @RoliKhanna has not replied by then!

[2017-04-14 08:21] seanlip commented on #3259
Hi @kevinlee12! Did you manage to figure out why this is happening?

[2017-04-14 08:35] souravbadami commented on #3257
Hi @thedeveloperr -- How's it going ?

[2017-04-14 09:20] shaz13 commented on #3225
Anyone working on this issue? @vinayb21 @VRamazing  ?

[2017-04-14 09:44] saeedjassani commented on #3242
Since my exams are approaching, I am going a bit slow on it.

[2017-04-14 11:45] anmolshkl commented on #3336
@seanlip done!

[2017-04-14 12:55] pdalavi commented on #3146
Actually i am not able to find the root cause and also review button disables,

[2017-04-14 15:33] #3199 closed

[2017-04-14 18:00] kevinlee12 commented on #3259
Oops, this fell completely out of the radar in the mist of the chaos...I'm hoping to get to the investigation early next week.

[2017-04-14 18:04] #2160 closed

[2017-04-14 18:21] juansaba commented on #3028
Hi Sean, I could take this one.

[2017-04-14 20:34] kevintab95 commented on #3326
Actually this is weird, #2634 addressed this issue earlier by displaying the corresponding 'collection' card at the end of an exploration. So, the 'collection' card for the quadratic equations collection is supposed to show in your screenshots. @shivanXI, can you take a look at that as well?

[2017-04-14 20:35] kevintab95 commented on #3062
Hi @seanlip, just noticed that the open-in-new-tab option seems to work when using 'ctrl + click' shortcut in Firefox.

[2017-04-14 20:37] seanlip commented on #3062
Does it work when you right-click though and select the second option from the menu? It needs to.

[2017-04-14 20:38] kevintab95 commented on #3062
No, right-click doesn't. I'll investigate.

[2017-04-14 21:54] seanlip commented on #3326
Oh yes, I changed that recently. It shouldn't show as a card, it should show as a link (like in Rachel's mocks). Showing it as a card was confusing users.

[2017-04-15 00:45] seanlip commented on #3146
OK. Should we deassign you, then?

[2017-04-15 00:48] seanlip commented on #3242
OK, thanks! Just wanted to check that this hadn't stalled.

Good luck with your exams!

[2017-04-15 00:48] seanlip commented on #3336
Thanks @anmolshkl!

[2017-04-15 00:50] seanlip commented on #3336
Though if you could be more specific about what text to add and maybe show some screenshots, that would be useful. The way it's written still sounds pretty nondeterministic, and I would be surprised if it was a random problem. We need a deterministic set of repro steps...

[2017-04-15 02:04] seanlip commented on #3239
Fixed in #3168. Thanks @ashish3805!

[2017-04-15 02:04] #3239 closed

[2017-04-15 02:05] juansaba opened #3341 "Images and Regions: Confirm before closing window upon "Esc" key"
**Context:**
You are creating an Image Regions interaction and have selected an image and created some regions, but haven't pressed "Save Interaction" yet. Then, accidentally you press the "Esc" key on the keyboard.

**Expected behavior:**
You get a dialog saying "All changes will be lost if you exit this window. Are you sure?"
Note that this should be the behavior even if you non-accidentally pre

[2017-04-15 02:16] juansaba opened #3342 "Add a "Cancel" button to the "Add Interaction / End Exploration" window."
**Motivation:**
When you press "Add Interaction / End Exploration" in a lesson, you get a window for choosing the type of interaction. This window doesn't have any buttons at the bottom. If you decide to cancel, the only way you can do this is by pressing the "Esc" key, which may take a while for a new user to figure out. The UI however should be as direct and obvious as possible, even for new use

[2017-04-15 02:18] juansaba commented on #3342
Hi @seanlip if you agree with this idea, please assign back to me.

[2017-04-15 02:21] seanlip commented on #3342
Agreed. Thanks!

[2017-04-15 02:21] #3028 closed

[2017-04-15 02:57] juansaba opened #3343 "Images and Regions: Re-design "delete region" as a trash icon on the lower corner"
**Motivation:**
When creating regions on an image, there's currently an input text that shows the "name" of the selected region and next to the input there is a button that reads "Delete Region" (see image below).

![image](https://cloud.githubusercontent.com/assets/4760286/25060122/7224b33e-214a-11e7-8bff-4c13f529b91a.png)

A couple issues with this is that the position of these items is misleadi

[2017-04-15 02:58] juansaba commented on #3343
Hi @seanlip , another feature for you to review. Assign back to me if agreed.

[2017-04-15 03:27] juansaba opened #3344 "Images and Regions: Keep "Draw New Region" mode permanently"
**Motivation:**
Currently in the Images and Regions Editor, in order to add a region, the user must press the "Draw New Region" button (which provides no visual feedback to the user once pressed) and then move the cursor over the image canvas to draw a rectangular region.

There's no reason why the editor couldn't be in "Draw New Region" mode all the time and react naturally to what the user does.

[2017-04-15 03:28] juansaba commented on #3344
Hi @seanlip , here's another one that I think could improve the user experience. Assign back to me if you agree.

[2017-04-15 04:32] seanlip commented on #3344
Passing to @jaredsilver for product review.

[2017-04-15 04:33] seanlip commented on #3343
Sounds good. Thanks @juansaba!

[2017-04-15 05:14] seanlip commented on #3295
Hi @Anthony-Alridge, I'm going to pass this to @wxyxinyu since I'm a bit strapped for bandwidth at the moment. She has a lot of experience with the saving system so she will be able to give you good feedback, probably this weekend. Sorry for the delay!

[2017-04-15 07:56] seanlip commented on #2732
This is, unfortunately, getting worse. It's now taking 48 seconds to load. I did more investigation into the issue, and discovered that the cause was the following set of calls:

[code]

However, we do not show unresolved answers on the creator dashboard -- just their count. So I think we are doing a lot of unnecessary computation here, and we really need a way to speed this up.

/cc @wxyxinyu @vo

[2017-04-15 09:01] jibesh opened #3345 "window.onload gets overwritten while using with another library"
Hi,

I am using oppia-player (v0.0.2) along with another library called authy-forms.js (v2.2).
If I include oppia-player after authy-forms.js the `window.onload` function of authy-forms gets overwritten by oppia. The following code snippet shows how I am including both libraries.
[code]
A swapped inclusion causes the `window.onload `of oppia to get overwritten by authy-forms.js
[code]

I think, in

[2017-04-15 10:55] shivanXI commented on #3326
Ok @kevintab95 and @seanlip i had added the link as mentioned in mocks of @rachelwchen in my PR and working for both desktop and mobile version.

[2017-04-16 01:28] jaredsilver commented on #3344
Sounds like a great idea to me! Thanks, @juansaba!

Just a couple little nitpicky things:

1) The instruction should only appear once there's an image uploaded/saved for lower complexity and greater context.
2) "Click and drag cursor to create rectangular regions in the image" can probably be shortened to "Click and drag to create image regions" to keep the copy as concise as possible without losi

[2017-04-16 03:37] tjiang11 commented on #1251
Deassigning @jlin95 due to lack of response.

[2017-04-16 03:39] tjiang11 commented on #1680
Deassigning @jlin95 due to no indication of progress.

[2017-04-16 03:41] tjiang11 commented on #2569
Hi @kevintab95 , are you working on this issue?

[2017-04-16 03:46] tjiang11 commented on #2994
Deassigning @michaelWagner due to lack of response.

[2017-04-16 03:51] tjiang11 commented on #3159
@arun1595 -- ping?

[2017-04-16 03:52] tjiang11 commented on #3198
@Slayslot -- how is this issue going?

[2017-04-16 03:53] tjiang11 commented on #3228
@ashish3805 -- ping?

[2017-04-16 04:59] arun1595 commented on #3159
@tjiang11 There's a [ merged PR](https://github.com/oppia/oppia/pull/3223) which resolves a part of this issue.

Right now, I am occupied with other stuffs that I am unable to work on it. Please reassign.

[2017-04-16 14:14] tjiang11 commented on #3159
@arun1595 -- thanks! Yeah I saw it, was just unsure of whether you were still working on the rest!

[2017-04-16 17:57] kevinlee12 commented on #1251
Hi @tjiang11, I was wondering if you could quickly try out @daniel3735928559's suggestion (I personally am quite swamped), we should hopefully get this solved with Daniel's suggestion.

[2017-04-16 17:57] kevinlee12 commented on #1251
if not, highlight it for the next maintainer :)

[2017-04-16 19:07] kevintab95 commented on #2569
Not currently, but I hope to take this up at a later time.

[2017-04-16 19:36] tjiang11 commented on #1251
@kevinlee12 Will highlight for the next maintainer.

[2017-04-16 19:47] kevinlee12 commented on #1251
sgtm!

[2017-04-17 05:20] wxyxinyu commented on #3295
Hi @Anthony-Alridge -- thanks for the doc! I left a few comments. I'm slightly confused by what exactly you plan to save in local storage, so some clarification would be nice.

[2017-04-17 19:19] Slayslot commented on #3198
Hi, I have removed `FormBuilder.js` from `base.html` and have shifted the three instances (read previous comment) to `app.js`. I believe I have referenced `FormBuilder.js` in all the pages that were using its directives, services, filters. All I need to make a PR now is ask, will `app.js` be a good place to keep those three instances, or should we move them to some other file? Thanks.

[2017-04-18 02:14] wxyxinyu commented on #2028
The next step here is probably to modify `_collection_to_search_dict` in `collection_services` to include indexing for exploration tags (explorations are stored in collection nodes, their tags should be added to the tags list in the collection_to_search_dict function.

[2017-04-18 03:05] #3283 closed

[2017-04-18 17:21] giritheja commented on #3276
@pranavsid98 I may not be able to work on this atleast till 29 April due to my final exams. Please feel free to take this issue up if you want to work on this before April 29.

[2017-04-18 17:33] pranavsid98 commented on #3276
@giritheja Same here. I've got my final exams as well! I'm slowly working on the caching issue, but that's all I can do right now. If you want to continue after April 29th, please do so.

[2017-04-19 02:16] #3327 closed

[2017-04-19 18:08] VRamazing commented on #3056
Yes Sean I am still interested in working on this.Sorry for the delay.

On Fri, Apr 14, 2017 at 12:40 PM, Sean Lip <notifications@github.com> wrote:

[2017-04-19 19:46] utkarsh-dixit commented on #3342
@seanlip Can you assign this issue to me? I'd like to work on the PR to fix this issue. ( I am not sure if @juansaba is planning to work on it right now ).

[2017-04-20 10:49] shivanXI commented on #3342
Hi!! @juansaba Are you still on it ??
Can i take this up??

[2017-04-21 06:47] #3064 closed

[2017-04-21 06:55] seanlip commented on #3342
I think @utkarsh-dixit asked first, so I'm going to assign to him. That said -- @utkarsh-dixit, when can you get a PR in by?

[2017-04-21 07:02] seanlip commented on #3056
Thanks, @VRamazing. It is taking a while though -- I think it's been around for about a month. Do you have some idea of when you can submit a PR?

Also, let us know if you'd prefer an easier issue instead. Thanks!

[2017-04-21 07:07] seanlip commented on #3342
Also, @utkarsh-dixit -- I just (re-)invited you to the repo; once you've accepted, please feel free to assign  yourself to this issue. Thanks!

[2017-04-21 07:34] seanlip commented on #3198
Hi @Slayslot -- sorry for the late reply, I was travelling. I think `app.js` will be fine for now (especially if this is needed by all pages), so let's do that first and see what that looks like. I'll be able to comment more once I see the PR. Thanks!

[2017-04-21 11:02] Slayslot commented on #3198
@seanlip Awesome, I'll open a PR in a while.

[2017-04-21 13:02] utkarsh-dixit commented on #3342
@seanlip , Thanks! I have assigned this issue to me. I would submit the PR by Tuesday.

[2017-04-21 14:27] shaz13 commented on #3329
@seanlip  @Oishikatta @poush
Reverting to absolute is causing conflicts with other pages. Use of directive specified CSS should solve the issue as I have not noticed any other pages affected.

[2017-04-21 18:08] shaz13 opened #3353 "Avatar image randomization at explorations"
As suggested by @markhalpin at PR #3337

The avatar image below should be randomised for each response.

![shot 11](https://cloud.githubusercontent.com/assets/24438869/25062503/cee9defa-21ea-11e7-924f-275ab5956caa.jpg)

Source svg: https://drive.google.com/open?id=0B4A9S7Ym8W0CTlZzNlVlWDJrMkU

[2017-04-21 18:10] kevinlee12 commented on #3259
Unassigning myself since I'm unable to get to this soon

[2017-04-21 18:52] seanlip commented on #3329
Ah ok, thanks @shaz13. Just to check, are you working on a PR for this?

[2017-04-22 00:55] shaz13 commented on #3329
It's a small fix. I have previously tested the working code locally, was just waiting for @poush to takeover as it emerged from his PR.

[2017-04-22 01:20] shaz13 commented on #3329
These CSS properties solve the issue:

![screenshot from 2017-04-22 06-49-18](https://cloud.githubusercontent.com/assets/24438869/25300223/d77fcc40-2727-11e7-87a0-3b5b4e3d0e9e.png)

[2017-04-22 03:21] seanlip commented on #3329
Ah ok. @shaz13, if you have a fix that works (both for this and other pages), I suggest just making a PR. Could you assign it to @Oishikatta for review? Thanks!

[2017-04-22 09:05] shaz13 commented on #3329
@seanlip Done. And assigned review to @Oishikatta. Kindly review it

[2017-04-22 09:15] shaz13 opened #3355 "Change of Font Awesome Icons for relevancy"
After browsing through Oppia, both on mobile and desktop found that font few _font-awesome/material_ icons are not relevant to the context.

Example:
- The below screen shot contains icon for **feedback** (first from left)

![feed](https://cloud.githubusercontent.com/assets/24438869/25303100/a95815ba-2769-11e7-9a94-eac111b8c96e.png)
-  The same icon is used for **Contact Us** at Navigation menu, w

[2017-04-22 09:15] shaz13 commented on #3355
@seanlip  @Oishikatta  Kindly share your opinions on it

[2017-04-22 17:45] seanlip commented on #3355
@jaredsilver, any thoughts?

[2017-04-22 17:55] seanlip commented on #2536
Hi @kefeh, once you accept the invitation to collaborate, could you please assign yourself to this issue? Thanks!

[2017-04-22 19:23] #3332 closed

[2017-04-22 19:24] seanlip commented on #3353
Note that the filenames of the avatars should be: oppia_avatar_100px_1.svg, oppia_avatar_100px_2.svg, etc. Please create variations of the default black-O-in-a-circle; the otter images will be substituted in on-deploy.

[2017-04-23 17:29] jaredsilver commented on #3355
This is a great point -- thanks, @shaz13! I agree with your recommendations.

We're likely going to be reshuffling a couple of these pages in the future, but the icons that you suggest would definitely be an improvement.

[2017-04-23 17:55] shaz13 commented on #3355
Thanks @jaredsilver. Shall I make the PR on the issue and assign it to you for review?

[2017-04-24 03:51] wxyxinyu opened #3360 "Collections should appear in the "Recently Published" list on the library page"
Currently, there is a library carousel which shows recently published explorations. This should be updated to include collections as well.

In order to fix this, `summary_services.get_recently_published_exp_summary_dicts` should be modified to  `summary_services.get_recently_published_activity_summary_dicts` which include both recently published explorations and collections. (As an example, `featu

[2017-04-24 04:45] wxyxinyu opened #3362 "Improve responsiveness of navbar"
The navbar in the learner view currently has 4 modes:
![image](https://cloud.githubusercontent.com/assets/5061134/25322552/fdb26396-2885-11e7-98b7-ecbadd6bda40.png)
when viewed on a wide screen

![image](https://cloud.githubusercontent.com/assets/5061134/25322548/f7b74bc8-2885-11e7-8152-4d4b76fff493.png)
on a narrower screen

![image](https://cloud.githubusercontent.com/assets/5061134/25322546/f34

[2017-04-24 06:53] seanlip commented on #3170
Hi @pranavsid98 -- FYI, this issue is free for you (or anyone else) to take up, once your other issue is finished. Thanks!

[2017-04-24 07:02] seanlip commented on #3132
Hi @rohan-gulati, just wanted to check -- what is the status of this issue? I thought we'd made some progress on it, but none of the [checkboxes](https://github.com/oppia/oppia/issues/3132#issuecomment-285018378) seem to be checked. Could you please give an update?

Thanks!

[2017-04-24 07:13] rohan-gulati commented on #3132
Hi @seanlip . I'm almost done with this issue. I just have to do three static pages under the About section, so my next PR should close this. I've also updated the checklist.

[2017-04-24 07:15] seanlip commented on #3132
That's great. Thank you for the update!

One note, though -- please don't translate the Teach page. We're probably going to rewrite it soonish, so it's probably better to do the translation after then!

[2017-04-24 07:26] rohan-gulati commented on #3132
Okay! Thanks @seanlip .
(Also, sorry for the delay in closing this issue. I've been really busy with exams.)

[2017-04-24 10:44] anmolshkl opened #3363 "Check for the number of training examples before generating a classifier."
As of now, the [code](https://github.com/oppia/oppia/blob/develop/core/domain/classifier_services.py#L78) used for generating classifier models does not check for the number of examples in the state dict before generating a classifier. We need to decide the threshold of certain things like "minimum total number of training examples", "minimum number of labels (or outcomes) with training examples"

[2017-04-24 12:52] anmolshkl commented on #3276
@pranavsid98 @prasanna08 it's totally fine guys. You can always pick it up later once you are done with your exams. Best of luck!

[2017-04-24 12:54] anmolshkl commented on #3328
@lunrong ping?

[2017-04-24 12:58] anmolshkl commented on #3303
@lunrong -- are you working this issue?

[2017-04-24 12:58] shaz13 commented on #3362
Found the fix. Kindly review the PR

[2017-04-24 12:59] anmolshkl commented on #3295
@Anthony-Alridge ping?

[2017-04-24 13:02] anmolshkl commented on #3257
@thedeveloperr ping?

[2017-04-24 13:04] anmolshkl commented on #3244
@zpuller are you still interested in working on this issue?

[2017-04-24 13:09] anmolshkl commented on #3046
@seanlip closing this issue!

[2017-04-24 13:10] anmolshkl commented on #3046
@seanlip closing this issue!

[2017-04-24 13:10] #3046 closed

[2017-04-24 13:12] anmolshkl commented on #3016
@andromfins are you still working on this issue?

[2017-04-24 13:19] anmolshkl commented on #3015
@JiahuiZhou please feel free to assign yourself if you would like to work on this issue!

[2017-04-24 13:20] anmolshkl commented on #3014
@utkarsh-dixit are you still interested in working on this issue?

[2017-04-24 13:21] anmolshkl commented on #2997
Hi @wxyxinyu -- ping?

[2017-04-24 13:30] anmolshkl commented on #2943
Hi @jblair87 -- are you working on this issue?

[2017-04-24 13:31] anmolshkl commented on #2937
Hi @kirankonduru, are you working on this?

[2017-04-24 14:28] fsam95 commented on #2394
@seanlip could i work on  core.storage.statistics.gae_models?

[2017-04-24 14:38] cosmicAsymmetry commented on #2394
I'd like to contribute to this, could you please assign me one of the sub tasks?

[2017-04-24 17:17] seanlip commented on #2394
Hi @fsam95, welcome to Oppia! Could you please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first?

@cosmicAsymmetry The list of tasks that are yet to be done is in the "Not started" section. Would you be up for taking a look at the corresponding files, and picking one that looks approachable? Note that test_utils has some prior w

[2017-04-24 17:19] seanlip commented on #3244
Just chatted with @zpuller. He's currently busy, so this issue is open if someone else wants to take it up. Thanks!

[2017-04-24 17:45] fsam95 commented on #2394
I've followed the instructions :).

[2017-04-24 20:03] seanlip commented on #2394
Thanks @fsam95! Assigned you.

[2017-04-24 21:42] Anthony-Alridge commented on #3295
Hi sorry about the late response something came up last week, hey @wxyxinyu thanks for that. I've added some comments to the doc, does that clarify things?

[2017-04-25 01:15] rahimnathwani opened #3365 "Landing pages for fractions"
In Google Search, when I click on an Oppia ad about 'fractions', the landing page is generic, and not about fractions. Let's change that, to increase conversion rate.

This zip file contains 4 landing pages for fractions:
[landing_pages_fractions.zip](https://github.com/oppia/oppia/files/953595/landing_pages_fractions.zip)

Based on user testing, we think variation C will be most successful. Pleas

[2017-04-25 01:37] rahimnathwani opened #3366 "Measuring landing page performance"
Here's [an issue](https://github.com/oppia/oppia/issues/3365) to create new landing pages for fractions. I've asked that 5 URLs be created:
- one for each of 4 landing pages
- one that takes people to a random one of the 4

We'd like to track the performance of each of the 4, so that we can:
- Delete the 2 worst ones
- Create new variations of the 2 best, to test again
We want to end up with a cou

[2017-04-25 02:31] wxyxinyu commented on #2997
This is currently in the works :)

[2017-04-25 03:18] jaredsilver commented on #3366
@jacobdavis11 do you think you could help out with the measurement portion of this once #3365 is resolved? We would need an event created in Google Analytics for registering which of the landing pages a user lands on.

Rahim and I can take care of keeping track of that data in a separate spreadsheet.

[2017-04-25 03:37] jaredsilver commented on #3355
@shaz13 go for it! 😄

[2017-04-25 06:46] jacobdavis11 commented on #3366
Actually if you distinguish the different page versions via url attributes (which is what we did with the different splash page versions) then Google Analytics will record them automatically, and there's no need for custom events.

[2017-04-25 06:52] seanlip commented on #3366
Btw @jaredsilver -- I suggest taking a look at this https://github.com/oppia/oppia/commit/53b2cdc6329020b55e4810fe418dc8bed26c74fe

The code that was removed is probably the sort of code you want to put in place for the A/B tests.

[2017-04-25 20:23] #1442 closed

[2017-04-25 20:26] BenHenning commented on #3292
The necessary work to complete this has been finished in #3294. This does not include the work to run the migration in production and that will be done in the next release.

[2017-04-25 20:26] #3292 closed

[2017-04-26 00:19] FangYo opened #3368 "Creating Dynamic Content: redux as a counter for no. of visits to a card would not work"
Reference: Section "Making content dynamic" from [User Documentation](http://oppia.github.io/#/DesignTips)

Expected behaviour: When student accesses a card for the first time, he should see the message for "if redux == 1" condition. When he returns to the same card, since he already visited the card and his previous access and input changes the value of {{redux}} to {{redux+1}}, he should see the

[2017-04-26 04:03] jaredsilver commented on #3366
Ah, fantastic -- thanks so much @jacobdavis11 and @seanlip!

[2017-04-26 04:05] jaredsilver commented on #3365
@Arunabh98 This would probably go best under a new folder located at `core/templates/dev/head/pages/landing/fractions`.

Also, instead of the fifth page for randomizing which landing page displays, we could reimplement logic similar to what was removed in 53b2cdc.

[2017-04-26 19:03] shaz13 opened #3369 "Long Math Latex formula overflows the Oppia's Responses"
This issue emerged as an additional issue while solving the PR #3248. Note that the long strings are working fine as they being counted as characters, but the involvement of the long math latex formula breaks the div and overflows.

- Inspecting the third option, the long text string is overflowing because the math latex is messing with the **div** and **span** and the long text is inheriting the

[2017-04-26 21:37] #3355 closed

[2017-04-27 02:28] anthkris opened #3370 "Screenreaders can't tell when an exploration is on a new card"
The advanced accessibility audit in issue #3082 identified that interacting with explorations is an issue for screenreader users because they are not aware that the screen content has changed.

# Steps to Reproduce
To reproduce, try interacting with an exploration using a screenreader. Good instructions on how to use these tools can be found in [this course on accessible web development and access

[2017-04-27 05:41] #3362 closed

[2017-04-27 08:13] seanlip commented on #2700
Note: a sample is provided in #3346.

[2017-04-27 18:45] #3329 closed

[2017-04-28 05:20] Arunabh98 commented on #2482
Partially fixed by PR #3248. New issue opened for remaining problem - #3369.

[2017-04-28 05:22] seanlip commented on #2482
Shall we close this, if everything that remains to be done is captured in #3369?

[2017-04-28 05:23] Arunabh98 commented on #2482
Yes, was just closing it :P

[2017-04-28 05:23] #2482 closed

[2017-04-28 05:24] seanlip commented on #2482
Ah, cool. Thanks!

[2017-04-28 13:33] shaz13 opened #3372 "Language Translation for 'Sign In with Google'"
The PR #3193 focused on changing Static image resources with existing font awesome. However as now the 'Sign In with Google' is a text and no longer a static image. It would be nice if the translation is integrated into it.

Plus, few different typescripts, alike Hindi. If Hindi is switched as translation, 'Sign In with Google' appears as if some text missed the translation.

![screenshot from 201

[2017-04-28 13:34] shaz13 commented on #3372
@himanshu-dixit , @seanlip
Your thoughts on it?

[2017-04-28 14:45] Arunabh98 commented on #3365
Just wanted to clarify one thing - since the landing pages are temporary, as in test versions, it is not necessary to translate the pages to different languages, right? Of course, I will add translations to a few common parts which all pages will have but I think we can add full-scale translation once we have decided a particular landing page. Thoughts on this?

[2017-04-28 18:30] seanlip commented on #3365
Good question! I agree with you, I think we don't need translations for this.

[2017-04-28 19:05] Arunabh98 commented on #3365
Also in the mocks, which exploration should "First Lesson" point to? There are two lessons by the name "Equivalent Fractions" and both of them are good. And also some mocks have a button -- 'Get started - Free full course'. Which collection should this redirect to?

[2017-04-28 19:42] seanlip commented on #3365
All links should point to this page (or lessons on it): https://www.oppia.org/collection/4UgTQUc1tala

[2017-04-28 19:44] seanlip commented on #3372
What is the behaviour for other websites with a similar button?

[2017-04-29 03:40] Arunabh98 commented on #3365
The first mock has a link with the text - "reading the introduction". Where should this point to?

[2017-04-29 05:27] seanlip commented on #3365
Hmm, I'm not sure. @jaredsilver @rahimnathwani could you help?

[2017-04-29 05:46] #3343 closed

[2017-04-29 08:13] Slayslot commented on #3369
Hi, can I pick this up?

[2017-04-29 08:18] seanlip commented on #3369
Sure! However, this is a fairly minor (and probably tricky) bug, I think, so if you're looking for something general to take up, what do you think of #3303?

[2017-04-29 08:28] Slayslot commented on #3369
@seanlip #3303 seems interesting as well. I'd be willing to pick it up.

[2017-04-29 08:32] seanlip commented on #3369
OK, thanks @Slayslot! I'll assign you to it then :)

[2017-04-29 10:49] rahimnathwani commented on #3365
It should go to the first step of the first fraction exploration.

On Sat, Apr 29, 2017 at 1:27 PM Sean Lip <notifications@github.com> wrote:

[2017-04-29 11:25] Arunabh98 commented on #3365
Then wouldn't 'Start the First Lesson' and 'Continue to the first lesson' and now 'reading the introduction' button point to the same thing - The first step of the first fraction exploration. Seems like too many different looking entities point towards the same thing. Thoughts on this?

[2017-04-29 12:22] rahimnathwani commented on #3365
Yup. I want to test whether multiple calls to action on the same page work
better or worse than the simpler variant with just one.

On 29 Apr 2017 19:25, "Arunabh" <notifications@github.com> wrote:

[2017-04-29 13:33] shaz13 commented on #3372
There are not many sites that support translations while using Sign in Google button. But both facebook and google uses translations natively on their sign in/sign up page

![screenshot from 2017-04-29 19-01-40](https://cloud.githubusercontent.com/assets/24438869/25555851/953169ce-2d0e-11e7-8875-c3a9569a6307.png)

[2017-04-29 20:05] juansaba commented on #3342
Sounds good! Thanks @utkarsh-dixit , glad to see other people are interested in fixing this :) there's plenty of work to do.

[2017-04-29 20:29] juansaba opened #3377 "Images and Regions: Prevent user from moving regions outside the image area"
**Context:**
When in the images and regions editor, if you create a region and start moving / dragging that region, you can drag it outside the area of the image you're creating regions for.

**Expected behavior:**
The editor should prevent the user from moving the region outside of the image area. I would suggest avoiding any kind of messages, warnings or errors to the user. Simply don't let the

[2017-04-30 04:17] seanlip commented on #3372
OK. I think it's fine to translate this; thanks for the suggestion!

[2017-04-30 06:23] shaz13 commented on #3372
Thanks! @seanlip. I have read the i18n documentation. The new translation span shall be `"I18N_TOPNAV_SIGN_IN_WITH_GOOGLE"` and will update the qqq.json accordingly. I have a question,

Are there any team or lead at Oppia for translations? And which source or translator be used?

English to Hindi is not a problem, but at other languages, I am just fluent in Google translate :sweat_smile: So, anyth

[2017-04-30 06:42] seanlip commented on #3372
It's ok to just do it for hi.json. We use translatewiki for translations -- see https://github.com/oppia/oppia/wiki/Adding-new-translations-for-i18n for details.

Thanks for taking this on!

[2017-04-30 07:11] shaz13 commented on #3372
Always a pleasure contributing at Oppia. Made a PR, kindly review it.

[2017-04-30 08:28] seanlip commented on #3259
@shaz13, would you be interested in looking into this?

[2017-05-01 05:13] shaz13 commented on #3304
@jaredsilver I could produce the bug locally. Just to confirm, what should be the expected behaviour.

After going through the code looks like position should be `relative` instead of `absolute`.
Even after accommodating the long text, it looks like this.

![screenshot from 2017-05-01 10-25-55](https://cloud.githubusercontent.com/assets/24438869/25572447/d7c49c70-2e58-11e7-8de1-9339cb685984.png)

[2017-05-01 15:18] jaredsilver commented on #3304
Hi @shaz13 -- good thoughts!

Perhaps we could go with the position change, as well as a hyphen for words that exceed the width of the container. Here's a good post from Chris Coyier with some CSS that might be helpful: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

I don't think we'll ever have a word as long as the string of w's that I included in the exam

[2017-05-01 15:26] shaz13 commented on #3304
@jaredsilver Sure. That should work :+1:

[2017-05-02 05:21] #3328 closed

[2017-05-02 08:50] #3372 closed

[2017-05-02 09:22] seanlip commented on #1797
Unless this is something that more users request, I don't see this as something we'll do in the near future. Closing for now.

[2017-05-02 09:22] #1797 closed

[2017-05-02 09:23] seanlip commented on #2016
Hi @rohan-gulati, would you mind also taking a look at this one? Thanks!

[2017-05-02 09:24] seanlip commented on #2045
We don't seem to have encountered this for a while, so I'm going to close it as obsolete.

[2017-05-02 09:24] #2045 closed

[2017-05-02 09:25] seanlip commented on #2111
@vojtechjelinek -- just checking, is this relevant to what your team is doing?

[2017-05-02 17:08] rohan-gulati commented on #2016
@seanlip I'm on it, thanks!

[2017-05-02 17:30] vojtechjelinek commented on #2111
@seanlip This is probably trying to solve the same problem as #2575.

[2017-05-02 17:30] #2111 closed

[2017-05-03 06:37] seanlip commented on #3368
@FangYo, thanks for reporting this! I just took a look, and I think that things are working as expected, but the documentation on oppia.github.io may need updating.

The issue is that, currently, all parameters are represented as strings. So what is actually needed is `redux == "1"` here.

Would you be up for doing a code change to the oppia.github.io repository in order to update the examples in

[2017-05-03 06:46] seanlip commented on #2775
Hi @Arunabh98 -- I'm currently working through the issues filed as "bug: major", and came across this one. Is it still broken for you? I'm having some trouble reproducing it, so just wanted to check.

Thanks!

[2017-05-03 07:37] #2994 closed

[2017-05-03 15:55] kirankonduru commented on #3259
I tried to replicate this issue but was unable to do so. The things I tried are :

Created 5 new explorations.
=> The creator of the explorations creating new feedback threads for each exploration.
=> Tried different permutations by changing the status of feedback thread to all the available options.
=> The creator of the explorations providing feedback for explorations anonymously.
=> Other logge

[2017-05-03 20:37] zhengxit commented on #2394
@seanlip I want to take one of the files but it looks like all the files in "Not started" section have been documented? Can you assign me to one which has not been taken? Thanks! :)

[2017-05-03 21:06] seanlip commented on #2394
Hi @zhengxit -- actually, all those files still need work, I think, be it improving the existing docstrings, writing new docstrings for methods/functions which don't have them, or making sure that everything follows the correct style. So, please feel free to pick one of them!

[2017-05-03 21:06] seanlip commented on #2394
(P.S. If you see a particular file in the "Not started" section that you're not sure what to do with, just ask.)

[2017-05-03 22:22] seanlip commented on #3259
Thanks, @kirankonduru! I will probably take this up and see if I can find any clues, since the issue occurs on my creator dashboard.

[2017-05-04 08:24] seanlip commented on #3132
The rest of the issues have been fixed in #3374. Thanks @rohan-gulati!

[2017-05-04 08:24] #3132 closed

[2017-05-04 10:45] kirankonduru commented on #3062
Hi @seanlip
I tried to replicate this but in the learner view for the demo collection, on right-clicking the lesson icon, the context menu had the open link in new tab and other options.

![screenshot from 2017-05-04 16 13 44](https://cloud.githubusercontent.com/assets/13452436/25700302/c9fb4902-30e4-11e7-9620-842f512a5dca.png)

I created a new collection but still I was getting all the options on

[2017-05-04 20:28] #3296 closed

[2017-05-04 20:30] seanlip commented on #3062
Oh, interesting! Yes, it seems to work in large-screen-width view, so maybe it was fixed in develop since the last release was pushed. So this issue may be a no-op, on that front.

However, try reducing the screen width -- and you'll find that right-click still does not work. Would you mind fixing this for that case?

Thanks!

[2017-05-04 20:32] seanlip commented on #3062
Ah, mystery solved. Turns out that @kevintab95 made a partial fix for this in #3348, but for some reason GitHub didn't correlate it with this issue.

So, let me suggest something different instead. @kevintab95 -- would you mind completing the fixes for small screen width as well? And, @kirankonduru, could you please take a look at #2732?

Thanks!

[2017-05-04 23:54] seanlip commented on #2863
Hi @tjiang11! Just checking, any other objects needed?

[2017-05-05 00:38] tjiang11 commented on #2863
Here's some potential candidates I spotted, but I think it'd be kind of going over the top:
- [ ] ParamMetadata
- [x] ParamSpec (#3870)
- [ ] Change
- [ ] Link
- [ ] Node
- [ ] Graph
- [ ] StateImprovement

[2017-05-05 11:18] pranavsid98 commented on #3363
@anmolshkl . I'll take this issue up. This also depends on merging of the caching classifiers PR though.

[2017-05-05 19:25] shaz13 commented on #2860
@seanlip Would like to work on this issue. Confirmation before submission of PR, so basically, I have to remove the duplicate code from the oppia.css (if any) and add the necessary css properties (from oppia.css) to directive `conversation_skin_directive.html` so, that css is imported as whole from `conversation_skin_directive.html`
Kindly confirm

[2017-05-05 19:37] seanlip commented on #2860
Not really. See the comment linked to in the original message -- there are two different things with (I believe) two different sets of CSS, and the question is whether we can find a way to have just one set of CSS instead for both.

[2017-05-05 19:43] juansaba commented on #3342
Reopening just for the pending feature:
When the user clicks outside the modal window, the window should cancel() as well.

[2017-05-05 19:46] shaz13 commented on #2860
Got it. Will see into it. And let you know if I find any lead.

[2017-05-05 20:29] seanlip commented on #3377
Fixed in #3388 -- thanks @juansaba!

[2017-05-05 20:29] #3377 closed

[2017-05-05 23:39] juansaba opened #3390 "Images and Region: Re-design first step of image selection and upload"
**Context:**

When you create an "Image Region" interaction, the first step is to either "select" or "upload" an image. At the time, the process of selecting or uploading an image consists of probably too many steps / windows and looks very dated. It should be replaced for a more modern (user friendly) interface. See below for a proposal.

**Proposal:**

On the exploration home screen, when you cl

[2017-05-05 23:39] juansaba commented on #3390
@seanlip What do you think?

[2017-05-06 00:57] #3344 closed

[2017-05-06 01:07] seanlip commented on #3257
Deassigning @thedeveloperr due to lack of response.

[2017-05-06 01:25] seanlip commented on #3276
Hi @giritheja, are you working on this?

[2017-05-06 01:27] seanlip commented on #2775
Hi @Arunabh98, ping?

[2017-05-06 04:10] seanlip commented on #838
There is no longer a ranking bump for recent explorations, so this issue is obsolete. Closing.

[2017-05-06 04:10] #838 closed

[2017-05-06 04:23] juansaba commented on #3344
Hi @jaredsilver thanks for the feedback! Sorry I went ahead and implemented this without seeing your comment. I just now realized you had commented on this. But reading your feedback now I think you will agree with the final implementation. The instruction message only appears after uploading or selecting an image. Also the final text, after chatting with @seanlip, was "Add new regions by clicking

[2017-05-06 04:28] seanlip commented on #2732
Hi @kirankonduru, I chatted with @BenHenning about this. The situation is a bit more complex than I thought because we are planning an answer migration to a new storage system, and replacing the concept of "resolving unresolved answers" with "training Oppia".

So, in the interim, I suggest that the best solution would be to temporarily remove the "unresolved answers" indicator from the dashboard t

[2017-05-06 04:41] Arunabh98 commented on #2775
Oh, I am sorry. I missed this. I think this is fixed. I tried various inputs and each one of them was matching correctly.

[2017-05-06 04:49] seanlip commented on #2775
OK, thanks! Let's close it, and if you see it arising again, please feel free to reopen. Thanks!

[2017-05-06 04:49] #2775 closed

[2017-05-06 07:28] anmolshkl commented on #3363
@pranavsid98 yep, sure.

[2017-05-06 08:23] kirankonduru commented on #2732
@seanlip so for now we can comment out all the computation related to unresolved answers till the time migration is done.

[2017-05-06 08:27] seanlip commented on #2732
Not comment out, but actually remove. We can always reconstruct things later from the source code history.

Only do this at the level of the frontend, as well as the backend controller, though; the functions in the domain/services layer can be left intact.

[2017-05-06 10:20] Slayslot commented on #3303
Hey, how can I reproduce this on my local repository?

[2017-05-06 12:27] #3259 closed

[2017-05-06 14:05] #3198 closed

[2017-05-06 14:15] giritheja commented on #3276
Hey @seanlip. I will start working on this.

[2017-05-06 18:32] jaredsilver commented on #3303
It seems this bug has already been fixed in a different PR. Sorry about that @Slayslot!

[2017-05-06 18:32] #3303 closed

[2017-05-06 18:33] jaredsilver commented on #3344
@juansaba -- looks great, thanks a bunch!

[2017-05-06 22:51] FangYo commented on #3368
@seanlip Thanks for the reply. I have already updated the description and submitted a new pull request.

[2017-05-07 06:18] seanlip commented on #3368
Fixed in https://github.com/oppia/oppia.github.io/pull/37. Thanks @FangYo!

[2017-05-07 06:18] #3368 closed

[2017-05-07 06:26] seanlip commented on #3257
Hi @Slayslot, would you be up for taking a look at this?

[2017-05-07 06:51] #3365 closed

[2017-05-07 09:01] shaz13 commented on #3304
Closing this issue on account of PR #3381

[2017-05-07 09:01] #3304 closed

[2017-05-07 15:42] jaredsilver commented on #3366
@rahimnathwani -- is it important that we know _which_ CTA button they click? If not, we can do all of this with the current Google Analytics setup without adding any additional code.

[2017-05-08 00:03] seanlip commented on #3324
Hi @kefeh, would you like to take this one up?

[2017-05-08 00:14] kefeh commented on #3324
Hello @seanlip, yes i'd love to work on it thanks.

[2017-05-08 06:07] Slayslot commented on #3257
Hi @seanlip, would love to.

[2017-05-08 06:08] seanlip commented on #3257
OK, thanks @Slayslot!

[2017-05-08 06:52] seanlip commented on #2977
Fixed in #3191, closing.

[2017-05-08 06:52] #2977 closed

[2017-05-08 15:51] kefeh commented on #3324
Hello @markhalpin @seanlip, I am new to front end development. I am trying to figure out how to get started with this issue but am stranded: I cannot locate the files concerned (i greped the key words "continue fractions", "learn the basic understanding of fractions" and nothing, when i greped the keyword "fractions" i found some fraction landing pages which couldnt be properly displayed on the br

[2017-05-08 16:14] pranavsid98 commented on #1782
Hi @seanlip. I've been trying to trace the generation of the dynamic div element which causes the tooltip popover to be displayed. I traced it back to EditorDirective.js and then to directives.js,, but can't seem to find where they generate the dimension values for this class. Is in-line or CSS styling an option instead of Dynamic?

[2017-05-08 16:28] jaredsilver commented on #2915
See PR #3092 for a partial solution (iOS only).

[2017-05-08 16:59] shaz13 commented on #3324
@kefeh No problem. We are here to help. You can have a look at the overview of codebase [here](https://github.com/oppia/oppia/wiki/Overview-of-the-Oppia-codebase). If you still have any questions after reading the wiki then ping us on [Gitter](https://gitter.im/oppia/oppia-chat). Would be glad to help you

[2017-05-08 19:34] kefeh commented on #3324
Thanks a lot @shaz13.

[2017-05-08 19:42] seanlip commented on #3324
Hi @kefeh -- the fractions collection is just an example of a collection, and similar points apply to other collections. To reproduce, you can go to /admin and reload the demo collection (at the bottom of the 'activities' page on the admin tab). The relevant files are in core/templates/dev/head/pages/collection_player and you might also want to take a look at the summary tile components in core/te

[2017-05-08 19:43] seanlip commented on #1782
CSS/inline styling is fine (and generally preferable, in fact). In any case, I suggest, for the time being, just focusing on finding any solution that works -- we can give you feedback on a PR once you've got to that point.

[2017-05-08 21:49] seanlip commented on #3324
In the first screenshot, click the "Reload" button at the very bottom of the page. The second screenshot is the library, not the collections. Go to /collection/0.

[2017-05-08 21:56] kefeh commented on #3324
Okay @seanlip , after i clicked it, I have "data reloaded successfully" and i don't see a means to go to the collections.

[2017-05-08 21:57] seanlip commented on #3324
See previous comment: go to /collection/0 in your browser.

[2017-05-08 22:07] kefeh commented on #3324
Ah. Thank you @seanlip got it. Sorry for the so many questions :smile:

[2017-05-09 03:46] jaredsilver opened #3400 "Exploration publish modal form is different from exploration settings form"
Currently, when a creator presses the 'Publish' button in the creator navbar for a new exploration, the following form appears:

<img width="581" alt="screen shot 2017-05-08 at 11 32 38 pm" src="https://cloud.githubusercontent.com/assets/1312199/25834547/add0cbd4-3446-11e7-8e79-baf971bce8b4.png">

When a creator goes to the settings page for the same exploration, however, the following form appear

[2017-05-09 04:21] #2536 closed

[2017-05-09 04:40] seanlip commented on #3305
@BenHenning and I discussed this, and we think it might be better to keep things as-is, but do more to help people get a linter integrated into their text editor (e.g. have a wiki page with instructions for setting a linter up, and point to that as part of the codebase setup instructions).

In addition, we can provide the choice for people to choose whether the hook (in the bash script) is pre-pus

[2017-05-09 04:47] seanlip commented on #3271
@Arunabh98, just to check, is this something you are working on as part of the learner dashboard, or is this separate?

[2017-05-09 04:52] seanlip commented on #3210
Hi @rachelwchen @jaredsilver -- do either of you have any ideas for how the design of this should look? @BenHenning and I were chatting about it, and we thought perhaps the navbar could expand when clicked on, or maybe the title scrolls horizontally, or maybe show a summary modal when the navbar is clicked, or show a title card before the exploration (as soon as the user loads the page), or reduce

[2017-05-09 04:53] seanlip commented on #2953
@anthkris, why is this in "triage"?

[2017-05-09 04:54] seanlip commented on #2942
Hi @jaredsilver -- is something else supposed to happen as a follow-up to this issue?

[2017-05-09 04:55] kevinlee12 commented on #3305
I think the proposed solution might be more complicated than it should be,
especially when we take into consideration of all of the text editors out
there (Atom, Sublime, Eclipse, Emacs, Vim, etc), which editor would we
choose? (Different regions might have different "popular" editors, so it'll
be hard to gauge which one we want to document). In addition, if we do
document, it'll appear as though

[2017-05-09 04:55] seanlip commented on #2938
@kevinlee12: could you name one or two specific places in Oppia where this would actually help? This would help in making this issue more actionable.

Thanks!

[2017-05-09 04:57] seanlip commented on #638
I think we can close this. Let's reopen if it comes up again.

[2017-05-09 04:57] #638 closed

[2017-05-09 06:13] jacobdavis11 commented on #3390
Thanks for the detailed designs.

What do you think about getting rid of the list / carousel of previously uploaded images entirely? That isn't typical behaviour on sites that allow image upload.

[2017-05-09 06:23] jacobdavis11 commented on #3228
Are you still working on this issue?

[2017-05-09 06:25] jacobdavis11 commented on #3249
Hi @shaz13 are you still working on this?

[2017-05-09 06:28] jacobdavis11 commented on #3096
@prasanna08 ping.

[2017-05-09 06:29] jacobdavis11 commented on #3056
Hi @VRamazing , how is this going?

[2017-05-09 06:31] jacobdavis11 commented on #2978
Hi @bching , is your commit ready? If so you can create a PR to get it submitted.

[2017-05-09 06:33] jacobdavis11 commented on #2862
Hi @anthkris , are you still working on the rest of this issue?

[2017-05-09 06:36] jacobdavis11 commented on #2506
@AllanYangZhou are you still working on this?

[2017-05-09 06:38] jacobdavis11 commented on #1734
@seanlip are you still working on this?

[2017-05-09 06:38] jacobdavis11 commented on #675
@AllanYangZhou ping.

[2017-05-09 07:30] seanlip commented on #1734
I think we decided we don't care, so I'm going to close it.

[2017-05-09 07:30] #1734 closed

[2017-05-09 07:31] seanlip commented on #2978
NB: PR is in #3183.

[2017-05-09 08:23] ashish3805 commented on #3228
@jacobdavis11  I got busy with GSoC and now with my exams. I have not yet started working on it. May be I should unassign it as of now?

[2017-05-09 08:41] jacobdavis11 commented on #3228
Yes, I suggest you unassign it, and then reassign it later if you have
enough time to work on the issue.

On Tue, May 9, 2017 at 10:23 AM, ashish patel <notifications@github.com>
wrote:

[2017-05-09 09:12] shaz13 commented on #3400
@jaredsilver Two different forms for the same exploration? Is that intended behaviour?. Instead of two different form models, we could pop up the same model (found in the settings section) when the creator clicks on the publish button. Please share your thoughts on it.

[2017-05-09 09:32] seanlip commented on #3400
@shaz13, please read the issue carefully (and try it out on your local machine). The settings section is not a modal.

[2017-05-09 09:46] shaz13 commented on #3400
@seanlip My bad did not explain myself clearly. I was asking that whether it's possible to extract the same `html` elements (from that settings page) into this popup model. Hope its clear.

[2017-05-09 09:56] shaz13 commented on #3400
Alike this... (so that if we make any changes in settings page then it should reflect here as well)
![untitled](https://cloud.githubusercontent.com/assets/24438869/25845499/bd835332-34cb-11e7-9229-23aed8f87272.png)

[2017-05-09 10:04] prasanna08 commented on #3170
Hi @seanlip, @anmolshkl, can I work on this issue?

[2017-05-09 10:15] shaz13 commented on #3249
@jacobdavis11 Currently busy with exams. Unassigning myself so that interested contributors can work on it.

[2017-05-09 13:33] anthkris commented on #2862
Howdy @jacobdavis11 Absolutely. But going is slow. There's a lot of issues!

[2017-05-09 13:35] anthkris commented on #2953
Howdy @seanlip Putting this is triage was my understanding from our initial conversation months ago. This would require sitewide changes to the basic Oppia color scheme (the green and white combination is one of the ones that, at least partially, fails the WCAG 2.0 standards) so I think a decision has to be made as to whether or not this will be attempted.

[2017-05-09 17:01] pranavsid98 commented on #3363
I'm keeping this issue on hold as this requires the completion of the caching issue and there's more work left in that. Should I de-assign myself until that @anmolshkl ?

[2017-05-09 17:30] tjiang11 opened #3402 "Detect learner fatigue and show a "take a break" message"
Some learners get frustrated and spam incorrect responses for a question. Detect this spamming behavior and show the student a pop-up to tell them to take a break. I think around 5 incorrect answers in under 20 seconds warrants a pop-up, though this can be adjusted.

[2017-05-09 17:39] tjiang11 opened #3403 "Animate card into exploration navigation circle upon continuing"
Students needed an explanation of how to navigate between previous and current cards. In a user study, the researcher needed to explain the difference between the “blue” button and the arrows above.

Suggested Approach: On card dismissal, animate the card into its corresponding circle in the navigation. This way, it becomes clear to the learner that the circles represent cards.

![image](https://c

[2017-05-09 17:42] anmolshkl commented on #3170
sure @prasanna08, please feel free to assign yourself to any open issue that you like.

[2017-05-09 17:44] tjiang11 opened #3404 "Add popup over response text box indicating to user how to respond"
In a user study, entering responses to numeric and text input questions required explanation of how to bring up and use the virtual keyboard. It was not clear to students that they needed to tap the box.

Suggested Approach: Wait 10 seconds and then have a popup pointing to the response box saying "Tap here to respond!".

UPDATE: New suggested approach in discussion in #3516

![image](https://clou

[2017-05-09 17:49] tjiang11 opened #3405 "Multiple-choice answers which involve text need to have translation/voice-over, otherwise the student can't select them."
The Multiple choice answers need to be translated or have a voiceover so that students understand the choices.

cc. @yamamashakaa

[2017-05-09 17:51] tjiang11 opened #3406 "Add an image to the "Continue" button"
Add an image to the "Continue" button (alongside the text) that signifies "next", so that there's a nonverbal indicator (which is easier to understand).
![selection_084](https://cloud.githubusercontent.com/assets/11807091/25864794/b9f32d08-34be-11e7-8226-17290b1db3ec.png)

[2017-05-09 17:54] tjiang11 opened #3407 "ImageClickInput loads past right edge of tablet screen"
In a user study conducted with tablets, the image in an ImageClickInput is loading past the right edge of the screen, forcing the user to reduce the page size. This was horizontal orientation. The original question was invisible after clicking the "Click on the Image" prompt.

Needed: Steps to Reproduce / Screenshot

[2017-05-09 18:02] tjiang11 opened #3408 "Allow audio components in different languages to be added to an exploration."
Many students struggle in math because they have difficulty in reading, and text is a huge component of math. A teacher in a user study found that students who have trouble reading can do great in math when they have the problems read to them.

A design doc needs to be created for this issue, outlining how a teacher will be able to add audio to an exploration, how a student will playback audio, an

[2017-05-09 18:09] seanlip commented on #3400
Yes, it might be possible to abstract the common logic into a directive, and that seems like a good idea to me. Note, though, that in the modal, we hide fields that have already been handled in the Settings tab, so there are some differences in behaviour. This can be handled by adding a hide-filled-fields attribute to the directive.

[2017-05-09 19:20] shaz13 commented on #3400
@seanlip Thanks for the confirmation
@jaredsilver Would like to add an another note.

This happens with a new collection too. Related file is [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/collection_editor/collection_editor_pre_publish_modal_directive.html#L9).
Please, confirm

[2017-05-09 20:50] juansaba commented on #3390
Since the tool currently allows you to select one of the images you have already uploaded (they currently appear in a bullet list) or upload a new one, I was following that pattern.

So just to understand correctly, are you suggesting that when users create a new interaction, they typically won't want to reuse existing photos? Or are you saying that having both selection and upload is not somethin

[2017-05-09 20:53] jacobdavis11 commented on #3390
My feeling is that people will not generally use the same image twice in
one exploration. And if they do then uploading it twice seems (at least to
me) more natural than selecting it from a list of pre-uploaded images.

On Tue, May 9, 2017 at 10:50 PM, juansaba <notifications@github.com> wrote:

[2017-05-09 20:58] seanlip commented on #3390
@FangYo, do you have any thoughts on this?

[2017-05-09 20:59] seanlip commented on #3400
Let's just do it for explorations first, I think. We can handle collections later.

[2017-05-10 00:19] shaz13 commented on #2394
@seanlip I would like to take **core.controllers.base**

[2017-05-10 00:20] seanlip commented on #2394
Assigned. Thanks @shaz13!

[2017-05-10 08:42] shaz13 opened #3411 "Apply class to input textfield and button to "Add Existing Exploration" in Collection Editor"
The following input text field and button are not given any class in the collection editor

![screenshot from 2017-05-10 14-05-46](https://cloud.githubusercontent.com/assets/24438869/25890171/3b6add4c-358a-11e7-8616-ec8a64b80d1b.png)

Add classes to button (`btn btn-success`) as well as input text field.

It should look something like this -
![screenshot from 2017-05-10 14-10-45](https://cloud.git

[2017-05-10 12:32] Arunabh98 commented on #3271
As part of the project, this feature is not currently being worked on. However, the project is designed to support this feature. Data that is useful in helping us decide whether to start an exploration in between or from the start and if we decide to start from the middle what state should we start from -  is being stored.

[2017-05-10 15:22] zvekovius commented on #3411
I can give this one a shot if no one has objections.

[2017-05-10 15:37] shaz13 commented on #3411
@zvekovius assigned you.

[2017-05-10 16:51] zvekovius commented on #3411
Neato. I'll look into it tonight.

[2017-05-10 19:48] seanlip commented on #3407
I'll try to get more info on the steps to reproduce. Marking as "triage" for the time being since it's not actionable until then.

[2017-05-10 19:50] seanlip opened #3412 "Add a checkbox question type for the simple editor."
The aim of this issue is to add a checkbox question type for the simple editor (which currently supports only multiple-choice input).

Note that there is some prior work in #3227 that can be built on.

[2017-05-10 20:02] jestapinski commented on #3390
Hi all,

From my own experience, I know people who have liked the ability to re-use photos in order to provide different experiences using the same content, like if they need to drastically change an image with regions, for example, they can just re-select the uploaded photo.

@FangYo more to add?

[2017-05-11 01:01] seanlip commented on #1782
Fixed in #3409. Thanks @pranavsid98!

[2017-05-11 01:01] #1782 closed

[2017-05-11 09:13] FangYo commented on #3390
@seanlip @jestapinski Thanks for introducing this issue to me!
So I have been asking the opinions of users either with or without much coding background. Based on their opinions, I would like to humbly list a few pros and cons of reusing images and presenting them in a carousel screen:

Pros:
1. The Image Selection and Upload functionality would be better visualised. Also, since we already have th

[2017-05-11 19:05] seanlip commented on #3276
Hi @anmolshkl -- per offline discussion, should we close and file a new issue for this along the lines of "deprecate LDAStringClassifier and replace with something else"?

[2017-05-11 21:27] shaz13 opened #3415 "Profile page layout breaks when hovering over "Subscribe" button"
The profile page breaks on hovering the **SUBSCRIBE** button.

**How to produce:**
1. Go to any user with more than 10  explorations (Ex- https://www.oppia.org/profile/sean )
2. Hover over the subscribe button.

  Link to the video (Unlisted) - https://youtu.be/6gIW0ncNp6A
**cc**/ @seanlip

[2017-05-11 23:48] juansaba commented on #3390
Thanks to everyone who has taken interest in this and provided feedback.

If I may add a few comments regarding what's been said already:

- I think it may be fine to just do image upload all the time. It may be the simplest solution after all. It'd be interesting though to see if there are explorations with same image multiple times but having been uploaded each time i.e. maybe they don't reuse t

[2017-05-12 00:09] seanlip commented on #3415
/cc @Arunabh98 @wxyxinyu

Arunabh -- would you mind taking the necessary action on this, since it relates to subscriptions? Thanks @shaz13 for pointing it out!

[2017-05-12 01:06] seanlip commented on #3407
OK, got more info :)

This relates to this [fractions lesson](https://www.oppia.org/explore/ereONiVLp-VE?collection_id=4UgTQUc1tala). On a OnePlus One phone, everything works fine. However, on an Asus Nexus 7 (with resolution 800 x 1280 px, or around 216 ppi pixel density), it goes super wonky. Here is what it looks like with the default page size:

![screenshot_tab_1_normal](https://cloud.githubu

[2017-05-12 01:21] seanlip commented on #3170
@prasanna08 -- FYI, don't forget to assign yourself to the open issue on GitHub in the future, so that people know you're working on it. Thanks!

[2017-05-12 01:53] pranavsid98 commented on #3363
@anmolshkl .
The LDAStringClassifier already has defined a few of these thresholds.
    _DEFAULT_MIN_DOCS_TO_PREDICT = 20
    _DEFAULT_MIN_LABELS_TO_PREDICT = 3

Isn't this sort of what we are trying to accomplish?

[2017-05-12 06:42] VRamazing commented on #3056
I have found the file where changes are meant to be made.How do I preview the changes.I have to preview the changes before I submit a PR

[2017-05-12 07:06] VRamazing commented on #3056
@seanlip  I will be contributing regularly from now on. It would be great if you could give me some easier issue as well.Thanks a lot.

[2017-05-12 07:25] seanlip commented on #3407
Update: the browser used on both the phone and the tablet was Chrome.

[2017-05-12 08:06] seanlip commented on #3056
Hi @VRamazing, we generally recommend that contributors work on only one issue at a time. So, just to clarify, do you want to give up this issue, and take up a different one? Either way is fine, just let us know your preferences and we'll try to suggest something. Thanks!

[2017-05-12 08:09] seanlip commented on #3415
Actually, scratch that -- this does relate to subscriptions, but only tangentially, and I believe @Arunabh98 is working on fixing issues for the upcoming release.

It seems like this is a symptom of a more generic issue relating to page layout. @lunrong, would you be up for taking a look at it?

[2017-05-12 08:10] seanlip commented on #3342
@utkarsh-dixit, are you still working on this?

[2017-05-12 08:11] seanlip commented on #3406
Hi @pranavsid98 -- this looks like a fairly straightforward frontend issue, although it might need some design ideas. Would you like to take it up?

[2017-05-12 10:44] VRamazing commented on #3056
@seanlip Ok I will give it up. This issue is taking long.I think I should start smaller.

[2017-05-12 10:47] anmolshkl commented on #3363
@pranavsid98 yes it's exactly that. Instead of keeping this check within every classifier, we just would like to keep it at some higher level.

[2017-05-12 18:38] #3062 closed

[2017-05-12 21:47] juansaba opened #3417 "Images and Regions: Make region name editable in-place"
Currently, when the user selects a region, the region name is populated into an input text field below the image. The problem is that this input is positioned away from the region, so it's not super clear that the purpose of this input is "renaming" the region. It would be nicer if the user could rename the regions in-place, i.e. when the user clicks on a region, the text holding the "name" of the

[2017-05-13 01:37] seanlip commented on #962
I'm going to close this. It's a nice idea, but it isn't really vital, and it's not entirely clear that the remaining part of this issue would improve the learners' experience, especially since we are targeting learners in low-bandwidth environments and probably don't want to introduce further animation-related delays.

[2017-05-13 01:37] #962 closed

[2017-05-13 01:40] seanlip commented on #486
I've tested this, and it looks like we currently redirect to the splash page (for logged-out users) and to the library page (for logged-in users). This seems like pretty reasonable behaviour, so I think this issue can be considered fixed and am going to close it.

[2017-05-13 01:40] #486 closed

[2017-05-13 15:35] pranavsid98 commented on #3406
@seanlip. Yeah, I'll take this up. Thanks!

[2017-05-13 15:43] pranavsid98 commented on #3406
@tjiang11 . Do you think we could add glyphicons instead of an image. I'm sure we can find one which has something like a forward arrow mark?

[2017-05-13 15:53] tjiang11 commented on #3406
@pranavsid98 I think that would work! I think "image" in the issue here is just in the general sense and not the technical sense of the word, so if you think a glyphicon will do the job then I think go for it

[2017-05-14 05:22] BenHenning opened #3422 "Changing a state's interaction should stop old answers from appearing in the stats tab"
This was found as part of the regression testpass for the answer migration.

When answers are submitted to a specific state S with interaction type A, the answers still show up for S's statistics tab even if the interaction type of that state changes to type B (though no answers will show up in the statistics tab after switching the interaction until after another run of the answer summarizers job

[2017-05-14 13:43] Slayslot commented on #3257
Hi @seanlip, I just realised this has the tag of `loc: backend`. I'm afraid I mostly work on frontend.

[2017-05-14 15:06] jaredsilver commented on #2942
@seanlip -- we're coming back around to this in the next week or so for some broader terminology tests. For now, though, there's no immediate technical action items until we gather some more data. I'll close this for the time being and open new issues once we have some conclusions.

[2017-05-14 15:06] #2942 closed

[2017-05-14 15:22] jaredsilver commented on #3210
Hmm... My initial gut reaction was to ask whether we even need the exploration title there at all. It increases cognitive overhead of the page, and I'm unclear as to whether there's any value to the learner in having it there. Presumably, if the learner has arrived at this page, they've already made a conscious decision to either select this exploration (in which case they know what it is) or clic

[2017-05-15 00:06] seanlip commented on #3257
Actually, this seems mislabelled -- it's more a full-stack thing. I've updated the labels accordingly.

That said, full-stack does have a backend component, so let me deassign you from this one and find you a new one. Thanks for letting me know!

[2017-05-15 01:12] seanlip commented on #2639
@Slayslot, would you mind looking into this and advising on what needs to be done here? Maybe this will also help get rid of the warnings in Chrome, which I think might be related:

![browser-console](https://cloud.githubusercontent.com/assets/10575562/26039549/eaaf4614-38d0-11e7-8655-7b3d6e096da1.png)

Thanks!

[2017-05-15 02:00] #3411 closed

[2017-05-15 04:17] seanlip commented on #2825
@VRamazing, would you mind taking a look at this? Thanks!

[2017-05-15 05:30] TruongKim commented on #3096
So a couple of approach I'm trying to take:
1. Try to see if only the library page cause this error; or if the other pages have this problem as well.
-> It seems like only the library is
2. Because this seems like a translation issue, the errors can also be in i18n.js files.

However, as I mentioned above, the i18n json files use cookie storage. I'm lost figuring out a way to change the cookies st

[2017-05-15 06:22] BenHenning opened #3427 "Fix alignment of social icons on creator dashboard summary cards"
#3426 introduced a small regression with exploration summary cards on the creator dashboard. The icons should be right aligned in the card, but they are now left aligned since a previous element (unresolved answers) used to be present as a flex column left of the social icons but was removed in that PR.

[2017-05-15 06:24] seanlip commented on #3427
For reference, here is a screenshot of the current behaviour:

![current-summary-card](https://cloud.githubusercontent.com/assets/10575562/26044943/616d0e6e-38fc-11e7-90c4-1864e232e896.png)

I think it's fine to keep the icons left-aligned, but let's have their left edge align with the left edge of the row immediately above them.

[2017-05-15 06:30] seanlip commented on #2732
This was fixed as an emergency last-minute commit in release-2.5.0 -- see PR #3426. Thanks @BenHenning!

[2017-05-15 06:30] #2732 closed

[2017-05-15 06:33] seanlip commented on #3407
Update: @Oishikatta noticed that this might be due to the tablet using an older version of Android (Jellybean), and will be doing some investigation to confirm that this is indeed the case and see if there's anything we can do to mitigate this.

[2017-05-15 06:35] VRamazing commented on #2825
@seanlip  Yes I would Love to

[2017-05-15 06:40] seanlip commented on #2825
OK, thanks!

[2017-05-15 06:42] seanlip commented on #3245
/cc @juansaba for info, since this issue might end up being obsolete if we decide not to have the image selector.

[2017-05-15 06:43] seanlip commented on #3276
@anmolshkl, ping?  (I am triaging the "bug: major" issues.)

[2017-05-15 07:08] Slayslot commented on #2639
@seanlip Sure thing. I'll take a look into it.

[2017-05-15 21:42] rachelwchen commented on #3210
I had the same thought as @jaredsilver -- assuming a learner enters a lesson voluntarily & not by mistake, I wonder how essential it is to display the entire exploration title. I'm also wondering if displaying only 1-2 keywords or the subject area would be enough here: for example, if the exploration title is "Introduction to Proof," would the word "Proof" alone suffice? It's certainly more descri

[2017-05-15 21:48] seanlip commented on #3210
Thanks, @jaredsilver and @rachelwchen!

@Oishikatta -- does this give you enough info to make a call on what should happen here?

[2017-05-15 21:54] seanlip commented on #3370
@bching, would you like to take this one up? (If so, make sure to sync to the latest version of upstream/develop before starting a new branch!)

[2017-05-15 22:07] bching commented on #3370
@seanlip Sure I'll take this one. All right sounds good!

[2017-05-15 22:30] seanlip commented on #3370
OK, thanks -- assigned you!

[2017-05-16 03:23] wxyxinyu opened #3429 "Answer visualization for logic interaction overflows"
![image](https://cloud.githubusercontent.com/assets/5061134/26088393/018ce39c-39c5-11e7-8c56-6e117fdfa21d.png)
To reproduce,
1. Create an exploration with a logic interaction
2. Submit some answers
3. Run the Answer Summarizer job, and then look at the statistics page in the exploration editor

[2017-05-16 03:25] wxyxinyu opened #3430 "Oppia avatar aligned wrongly in all "help cards""
![image](https://cloud.githubusercontent.com/assets/5061134/26088496/a31182ae-39c5-11e7-8488-25366275c54f.png)
To reproduce, submit an answer in the map interaction that produces some feedback. The Oppia icon should be shifted somewhat to the left.

[2017-05-16 04:21] BenHenning commented on #3291
I've verified that 3/4 of the above have unit tests associated with them (explicit, default, and statistical); training data will have tests introduced in #3287. The remaining work for this issue is to introduce end-to-end tests for all four types of classification with a priority toward training data & statistical classification types.

[2017-05-16 05:38] BenHenning opened #3431 "Improve the performance of stats_services.get_top_answers()"
After the answer migration we found out that ``stats_services.get_top_answers()`` is far too slow and broke the creator dashboard for users with many explorations (e.g. @seanlip). #3426 solved this problem temporarily by removing unresolved answers from the creator dashboard, but those need to be reintroduced after correcting the performance problems of ``get_top_answers()``.

[2017-05-16 05:40] BenHenning commented on #3431
This will include the work of #1422. We can limit answers we expose via direct aggregation jobs by never considering answers which occur less than 5 times. This may help provide some important optimizations against the long-tail of submitted answers and should directly be part of the design process around updating answer aggregation jobs to improve ``get_top_answers()``'s performance.

[2017-05-16 05:53] seanlip commented on #1422
Note that this should probably be fixed in conjunction with #3431.

[2017-05-16 07:30] seanlip commented on #3096
@TruongKim Do you have a good understanding exactly why the error is occurring? If not, I recommend digging and trying to understand how things work until you do, since otherwise you're going to be playing a bit of wack-a-mole.

Re your question, you could try searching for "modifying cookies" on a search engine -- doing so gives me a lot of results that look relevant.

[2017-05-16 09:00] DubeySandeep commented on #3412
I would love to work on this.
@seanlip

[2017-05-16 10:58] pranavsid98 opened #3433 "Abstracting training of classifier away from learner view"
Current scenario: The training of the classifier is presently done when the first request for prediction is handled by the ClassifyHandler. So, the training of the classifier depends on the first learner who submits an answer to some state in an exploration.

This behavior is not very effective as the training could technically be done right when we save an exploration.

Expected behavior: We woul

[2017-05-16 17:30] s1db commented on #2394
I'm starting work on **core.jobs**.

[2017-05-17 00:14] zvekovius commented on #3430
Looks like this is happening for all interactions with incorrect answers:
![image](https://cloud.githubusercontent.com/assets/17284745/26133323/e0a2b326-3a6b-11e7-9a45-d52673c50cd9.png)

[2017-05-17 00:20] seanlip commented on #3430
Oh, yep! I modified the issue title.

[2017-05-17 00:32] seanlip commented on #2569
NB: the first part has been handled in #3428. (Thanks @kevintab95!)

[2017-05-17 09:33] Oishikatta commented on #3210
I like the ideas they've suggested, my understanding would be:

1) Remove exploration titles from the top of the page on mobile, to reduce cognitive load and eliminate potential frustration of not being able to access the title.

2) Add an 'info' button to the footer bar for a modal with the appropriate information, which can be extended later as possible.

Should the full Oppia logo then be shown

[2017-05-17 09:34] seanlip commented on #3210
Sounds good to me! I suppose we can reuse the modal that shows up when you click the info button in the navbar (on desktop)?

[2017-05-17 17:06] anmolshkl commented on #3433
@pranavsid98 to add to the issue description: the training needs to be abstracted away in the classifier_services.py in some `train()` method which accepts the required parameters.

I think we should create another method that abstracts the condition checking logic and should be called everytime the exploration is saved. So, to answer your questions - yes, the `train()` method should be called fro

[2017-05-17 17:27] pranavsid98 commented on #3433
@anmolshkl. Yep, it does! I'll get started with this. Isn't https://github.com/oppia/oppia/issues/3363 sort of not required now? Since, we are going to be checking for re-training conditions inside the save_exploration()? Or we can let that issue stay. Let's just abstract the training of the classifier in this PR, and add re-training, caching in subsequent PRs.

[2017-05-18 05:49] seanlip commented on #3242
Fixed in #3399, thanks @saeedjassani!

[2017-05-18 05:49] #3242 closed

[2017-05-18 07:55] seanlip commented on #2527
This is now obsolete since we removed "unresolved answers" as part of the answer migration in version 2.5.0. Closing.

[2017-05-18 07:55] #2527 closed

[2017-05-18 08:43] anmolshkl commented on #3433
@pranavsid98  Hm, I think this depends upon #3363. So, you can implement 3363 first, then, you can come back to this issue and then move on to our pending PR. Otherwise, you'll have to fix this then 3363 then you'll have to create a new issue to use 3363's feature and so on.

[2017-05-18 08:50] pranavsid98 commented on #3433
Oh, @giritheja seems to be working on #3363

[2017-05-18 09:25] anmolshkl commented on #3433
Ah, in that case, it is OK to skip the condition checking code in this PR. I'll sync up with giritheja on 3363.

[2017-05-18 09:27] pranavsid98 commented on #3433
@anmolshkl .
I've sort of finished the training conditions. Is it still fine if I can submit a PR for that issue?

[2017-05-18 09:28] anmolshkl commented on #3363
@giritheja how's this going on?

FYI, our strategy to generate classifiers was wrong. So, we need to generate classifiers when the exploration is saved and not when we receive a request for prediction from learner's view. But, you should be implementing the condition checking code in classifier_services.py and so it should not get affected by this decision in anyway.

[2017-05-18 09:29] anmolshkl commented on #3433
Lol, thanks for that! I'll inform Giritheja (y)

[2017-05-18 09:30] pranavsid98 commented on #3363
@giritheja @anmolshkl . Since this issue was directly related to my subsequent PRs on caching classifiers, I have finished implementing the function for checking training conditions. Sorry for taking it up when you assigned yourself.

[2017-05-18 14:56] TruongKim commented on #3096
@seanlip I am following your suggestions. 1. I will try to understand the errors more before attempting to fix it. 2. I look up the searches.

I will give an update over the weekend.

[2017-05-18 16:19] giritheja commented on #3363
No problem. :)

[2017-05-18 23:59] seanlip opened #3438 "Find a better way to indicate the "next lesson to play" in a collection."
During some user testing, a user mentioned that, on the collection page, the lesson icon kept jumping out, which was “annoying”. (Note that the user was logged in.)

We'd like to have some indicator for logged-in users of which lesson they are recommended to play next, so that they know what to do and are not overwhelmed by a lot of choices. However, we don't want that indicator to be annoying!

T

[2017-05-19 02:18] #2925 closed

[2017-05-19 07:26] llKCll opened #3439 "End Exploration Creation"
I am not able to end the exploration that I have created that consists of a total of three cards. I'm expecting there to be an option to end the exploration on my final card (if the question is answered correctly) so that I can publish my exploration. However, I can only redirect the user to "try again", a previously created card, or another card so I'm not able to complete what I have created.

[2017-05-19 07:27] seanlip commented on #3439
Hi @llKCll, when you click the "Add Interaction / End Exploration" button, there is an "End Exploration" option (alongside continue, multiple-choice, etc.). This will end the exploration. I wonder if we can make it clearer?

[2017-05-19 07:39] #3439 closed, assigned to nobody

[2017-05-19 07:47] llKCll commented on #3439
@seanlip thank you, I see the option now. Maybe an additional option that directs the creator to a final card that ends the exploration would be helpful. I wasn't really thinking I would have to create a new card and then select to end the exploration. Admittedly, I probably could have read the options a little bit closer but I think this may not be intuitive to the average user. I think they may

[2017-05-19 09:27] 1995YogeshSharma opened #3440 "error 401 message gets partially covered by footer."
Steps to regenerate issue :
- login as any user other than admin.
- try accessing page localhost:8181/admin

The lower part of the error message gets covered by the footer. Screenshot-
![image](https://cloud.githubusercontent.com/assets/9693472/26241751/7670e6d2-3ca3-11e7-9269-4aaa985d30a2.png)

NOTE : I tried this on chrome version 58.0.3029.96 (Official Build) (64-bit), monitor resolution 1366X7

[2017-05-19 18:31] hzlmn commented on #3415
@seanlip Is it in progress? Want to start with something can i look on it?

[2017-05-19 18:38] seanlip commented on #3415
Sure, go ahead!

[2017-05-19 18:48] seanlip commented on #3439
Yeah, that's fair. I agree it might be a bit unintuitive and we could perhaps provide more guidance.

Also, FYI, we are currently developing a simpler version of the editor that should hopefully address that problem. Perhaps when you finish a few starter projects, I could introduce you to that team?

[2017-05-19 19:09] lunrong commented on #3415
@hzlmn Thank you :+1:   I'm also very happy if you publish your progress to here, so we can fix it earlier :)

[2017-05-19 20:24] hzlmn commented on #3415
@lunrong Not started yet, just looking around source, getting to know it better. If it critical you can take it, i will find some other issue "for dummies" 😄

[2017-05-19 21:23] lunrong commented on #3415
@hzlmn Go ahead if you interest in it, since I only have weekend free time on it, you can fixed it earlier than me if you are free. It's a good start on frontend, you can check the element update and function call when hover over subscribe button. Any question, just ping me~

[2017-05-19 21:27] seanlip commented on #3440
@llKCll -- want to take up this one?

[2017-05-19 21:33] llKCll commented on #3440
@seanlip -- Yes please.

[2017-05-19 21:35] seanlip commented on #3440
OK, thanks! I've assigned you.

(Again, make sure that the fix does not break other pages.)

[2017-05-20 05:29] seanlip opened #3446 "Write frontend validators for all interactions."
In order to prevent entry of bad input, we have a frontend validator for the customization args of every interaction (this was broken out in #3445; see extensions/interactions/{{INTERACTION_NAME}}/directives/XXX-validation.service.ts). However, some of these validators are not yet written. The aim of this issue is to write these validation functions, as well as tests for them in the corresponding

[2017-05-20 05:41] #3427 closed

[2017-05-20 05:43] seanlip commented on #3446
@zpuller -- while waiting for review on the docstrings PR, what do you think about taking up one of these (let me know which one you'd prefer)? It seems like a good opportunity to practice handling multiple git branches; just make sure to checkout develop and sync to upstream before checking out a fresh branch.

[2017-05-20 19:22] lunrong commented on #3415
It works good in my laptop right now (My User-Agent Info: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36 ),  I did not have linux environment at home, would check latter.
Link to the video: https://youtu.be/eBmfJgpqhvU

@shaz13 Could you provide your system and browser info.
@hzlmn if you have linux environment, go ahead an

[2017-05-21 03:44] shaz13 commented on #3440
@1995YogeshSharma  Could you list out the resolution, browser version and OS information so that @llKCll can fix the issue specifically.

With **1920 x 1080** resolution on Chrome **58.0.3029.110** (Official Build) (64-bit), Ubuntu 16.04 LTS. It works fine.

![screenshot from 2017-05-21 09-09-40](https://cloud.githubusercontent.com/assets/24438869/26281006/a0d5da82-3e05-11e7-93a5-d503659190c7.png)

[2017-05-21 03:45] seanlip commented on #3440
@shaz13 -- you mean @1995YogeshSharma, not @Arunabh98?

[2017-05-21 03:49] shaz13 commented on #3440
Oh yep. Corrected :+1:  Thanks @seanlip

[2017-05-21 05:40] anmolshkl commented on #3276
We have decided to deprecate LDAStringClassifier due to the performance issues.

[2017-05-21 05:40] #3276 closed

[2017-05-21 06:22] seanlip commented on #3404
Hi @kefeh, would you like to take a look at this?

[2017-05-21 07:06] seanlip commented on #2873
NB: This is also related to #3210. We might want to condense them into one issue.

[2017-05-21 07:06] seanlip commented on #3210
NB: This is also related to #2873. We might want to condense them into one issue.

[2017-05-21 08:22] 1995YogeshSharma commented on #3440
Hi @shaz13 ... I have updated the issue. Thanks for pointing this out.

[2017-05-21 09:38] pranavsid98 commented on #3172
@anmolshkl . There's something I need to discuss with you. With the introduction of the VM method of training classifier and front-end prediction, all of the ML issues here are useless now. The new system ensures classifiers are always cached. Classifier data is stored in the cloud. Prediction is done in the front end. So, the current framework - ClassifyHandler, Classifier domain, service, regist

[2017-05-21 14:20] #3363 closed

[2017-05-21 14:53] shaz13 commented on #3415
Sure @lunrong
The issue can be reproduced on  **1920 x 1080** resolution on Chrome **58.0.3029.110** (Official Build) (64-bit), Ubuntu **16.04 LTS**

[2017-05-21 17:17] zpuller commented on #3446
I can try any of these, no preference really.

[2017-05-21 18:39] seanlip commented on #3446
OK! How about starting with NumericInput and TextInput? Those are pretty canonical, so it seems sensible to do them first.

[2017-05-21 23:36] markhalpin commented on #3438
Hi guys,

There's not already an issue open for this is there? I feel like I've had this same conversation not very long ago :) I agree that the wobbly lesson icon is alarming.

I'd like to propose or re-propose a couple of solutions for this.

First, when the learner first accesses a given collection, let's implement a "Start Here" graphic. Here's what this could look like:

![oppia4a_new11_5](ht

[2017-05-22 00:11] zpuller commented on #3446
Sounds good.

[2017-05-22 03:40] #2978 closed

[2017-05-22 04:25] #3286 closed

[2017-05-22 06:38] seanlip commented on #3438
Hi @tjiang11 -- I added this to the "learner experience" project team. PTAL!

[2017-05-22 07:22] seanlip commented on #3403
Update: @markhalpin and I discussed this, and we think it might be too cumbersome to have cards animating to dots and dots animating into cards -- see also #3438 where the existing animation gets in the way of the experience a bit.

Instead, perhaps the right "fix" here is a non-technical one, which is to encourage lesson creators not to require the learner to use the navigation controls when refe

[2017-05-22 15:54] vojtechjelinek commented on #2700
Hi @1995YogeshSharma, I have been looking at remaining directivesthat use include and I found some that don't use Jinja but are loaded with include, if you have time could you please check these directives?
- components/forms/form_builder_templates.html
- components/rating_display.html
- pages/exploration_player/exploration_successfully_flagged_modal.html
- pages/exploration_player/feedback_popup_

[2017-05-22 15:58] vojtechjelinek opened #3453 "Update directives that use Jinja to directly reference templates"
There are some directives that use Jinja and can't be loaded directly by `directiveUrl`. We have two options:
1. Refactor these directives to don't use Jinja
2. Create a backend handler for directives that will parse the Jinja before serving them.

These are the directives:

- [x] components/create_button/create_activity_button_directive.html
- [x] pages/collection_editor/collection_editor_navbar_

[2017-05-22 16:07] tjiang11 commented on #3403
Hi @seanlip , I agree with that approach--and actually, I agreed with it when first discussed. I suppose there's a slightly separate problem here. The more specific problem being addressed by that is whether students should need to bother to use the navigation controls or not. The problem being addressed here in this issue is--if they do want to navigate back to the previous card, can they figure

[2017-05-22 16:11] tjiang11 commented on #3438
Thanks @seanlip ! Quick question in general, what is the otter at the very beginning supposed to represent?

[2017-05-22 16:15] tjiang11 commented on #3403
Am I supposed to close this issue? Or triage it?

[2017-05-22 16:45] anthkris commented on #2862
Update:
Outstanding issues on for this still include:

- Color contrast issues (Issue #2953)
- Meet Oppia Contributors video is still using auto-generated captions (Issue #3459)

(Assuming blog issues are won't fix)

[2017-05-22 16:47] anthkris commented on #3082
I will begin work on trivial issues in this collection today.

[2017-05-22 16:48] anthkris commented on #3412
Howdy @DubeySandeep I've assigned you!

[2017-05-22 16:55] anthkris commented on #3429
@wxyxinyu I'm not sure who the owner of this card should be. Should it be you or Ben?

[2017-05-22 17:15] lunrong commented on #3415
Midcheck:
I still can not reproduce this bug in Linux  environment.
Browser Info: Chrome **58.0.3029.110** (64-bit),
Monitor resolution: **1920 X 1080** and **2560 X 1440** tried,
Ubuntu: **14.04**

[2017-05-22 17:20] hzlmn commented on #3415
@lunrong This bug is reproducible at least on my machine **Fedora 25 x64**

[2017-05-22 19:46] seanlip opened #3455 "Fix bugs with installation process on Vagrant"
@domevit reports the following bugs with the Vagrant installation process:

- For installing Oppia on my pc with Windows 8 & Vagrant 1.9.3 I need to modify this two files:

    Vagrantfile:  append "host_ip: "127.0.0.1"" at line 33 and 34; if this is not done when I type command 'vagrant up' I receive the following error: "C:/Vagrant/embedded/gems/gems/vagrant-1.9.3/lib/vagrant/util/is_port_open.r

[2017-05-22 19:51] seanlip commented on #3403
Let's close this, since the fix isn't technical. Thanks!

[2017-05-22 19:51] #3403 closed

[2017-05-22 20:08] kirankonduru opened #3456 "Full info of current exploration should be visible in mobile."
From issues [#3210](https://github.com/oppia/oppia/issues/3210) and [#2873](https://github.com/oppia/oppia/issues/2873) in the mobile view currently the complete title is not visible and as suggested in the thread [here](https://github.com/oppia/oppia/issues/3210#issuecomment-302037930) in mobile view the exploration titles can be completely removed to reduce the cognitive load and an info icon ca

[2017-05-22 20:13] kirankonduru commented on #2873
Merged with similar issue #3210 into #3456

[2017-05-22 20:13] #2873 closed

[2017-05-22 20:14] kirankonduru commented on #3210
Merged with similar issue #2873 into #3456

[2017-05-22 20:14] #3210 closed

[2017-05-22 23:02] seanlip commented on #3456
/cc @tjiang11

@kirankonduru -- how would a share button look like at the bottom right if we also have an info button there? In any case, perhaps it might be worth filing as a separate feature.

[2017-05-22 23:12] seanlip commented on #3429
I think it's me, for now. I've added the relevant label, thanks @anthkris!

[2017-05-22 23:18] seanlip commented on #2569
Hi @Ian91 -- while waiting for the other docstrings PR to get reviewed, would you be up for taking a look at this (parts 2 and 3)? It concerns the Protractor e2e tests for the collection player. You can view existing collection e2e tests in #3428 to get a sense of what's needed, and we also have some general documentation [here](https://github.com/oppia/oppia/wiki/Running-Tests) and [here](https:/

[2017-05-22 23:32] Ian91 commented on #2569
I'd like to try it, but it looks like I'll need to learn a lot about front-end code. Is there a goal date for finishing this?

[2017-05-22 23:50] seanlip commented on #2569
I think that there's a general sense that it would be nice to get this done soon-ish, since we've had some production/release breakages that can be traced to lack of e2e tests for some parts of the application. However, there's no formal date, and I think it's fine as long as you're making steady progress -- just make sure to reach out via gitter/email if you get stuck!

(Also, I think that this i

[2017-05-22 23:52] Ian91 commented on #2569
Sounds good, thanks!

[2017-05-23 02:01] seanlip commented on #3430
Hi @zvekovius -- how's this going?

[2017-05-23 02:03] seanlip commented on #2639
Hi @Slayslot! How's this going? Did you manage to figure out what's going on here?

[2017-05-23 02:06] seanlip commented on #3082
Sounds good, thanks @anthkris!

[2017-05-23 03:15] BenHenning commented on #3170
I think the purpose of the training interface is to change the 'is similar to' rule. @prasanna08 we should set up some time to chat about this to try and avoid you doing unnecessary work, or perhaps clarify what work does need to be done here. If the training interface isn't being used, isn't working in the right way, or doesn't cover all the typical creator cases, we should chat and figure out a

[2017-05-23 03:19] anthkris commented on #3295
@Anthony-Alridge @wxyxinyu A friendly ping. Any updates on this?

[2017-05-23 03:21] anthkris commented on #2997
@wxyxinyu Another friendly ping to see if you can give any updates.

[2017-05-23 03:24] anthkris commented on #2825
@VRamazing Any updates on this? Do you need any clarification?

[2017-05-23 03:27] zpuller commented on #3446
@seanlip @juansaba I'm having trouble understanding what exactly needs to be validated based on the existing validators. Can you clarify? Is there maybe a good exploration I can do that would demonstrate it?

[2017-05-23 03:28] anthkris opened #3459 "Meet Oppia Contributors video is using auto-generated captions"
As mentioned in the basic accessibility audit (Issue #2862), the Meet Oppia's Contributors video on the [Donate page](https://www.oppia.org/donate) is using auto-generated captions. While these captions are doing okay, there are some places where they are obviously wrong.

For accessibility purposes, this video needs correct captions in English at the very least.

@rachelwchen Could you point us t

[2017-05-23 03:31] anthkris commented on #2744
@rachelwchen Friendly ping. Are there any updates on this?

[2017-05-23 03:34] anthkris commented on #2533
Howdy again @vojtechjelinek ! I see that the authors of the PR you referenced offered a workaround. Any updates on this?

[2017-05-23 03:35] anthkris commented on #2016
Howdy @rohan-gulati Any updates on this?

[2017-05-23 03:43] shaz13 commented on #3459
Hi @anthkris,
This can be easily done in the Youtube's creator studio itself.

Attaching an screenshot from one of my videos:

![screenshot from 2017-05-23 09-09-47](https://cloud.githubusercontent.com/assets/24438869/26337619/98ea369a-3f97-11e7-9414-bb74968282ac.png)

The Youtube automatically differentiates music and voice as well as pauses. It should be pretty easy once we have typed captions r

[2017-05-23 03:44] anthkris commented on #3459
Thanks @shaz13! But not everyone has access to Oppia's YouTube channel. A contributor would probably need to create an SRT or other such file to submit.

[2017-05-23 03:54] shaz13 commented on #3459
@anthkris There is no need for account access as far as I know.

Example:

This is not my video, yet I can go into subtitle options -

![screenshot from 2017-05-23 09-20-16](https://cloud.githubusercontent.com/assets/24438869/26337843/61d68f80-3f99-11e7-96c7-fc8e77983f1e.png)

And submitting my contribution :smile:

![screenshot from 2017-05-23 09-20-46](https://cloud.githubusercontent.com/assets/

[2017-05-23 03:55] anthkris commented on #3459
Ok great. Thanks @shaz13!

[2017-05-23 05:52] #3324 closed

[2017-05-23 06:55] rachelwchen commented on #2744
Hi @anthkris, thanks for the ping! Haven't worked on a synthesis yet; we've been making changes to the explorations themselves. @seanlip -- I'll start a draft so we can get that guidance page ready!

[2017-05-23 07:12] rachelwchen commented on #3459
Thanks @shaz13!

Also, I'm not sure about how this sounds from an accessibility standpoint, but I think it'd be cool if the captions are automatically loaded on the Donate page. Currently, on the Donate page, there's no option to display caption in the embedded video. A user can only access the caption if they click on the video title or the YouTube icon & get directed to the YouTube page first. (

[2017-05-23 07:25] kefeh commented on #3404
Hello @seanlip i will love to.

[2017-05-23 07:27] kefeh commented on #3404
Hello @tjiang11 I have started taking a look at the issue, please if you could help me out by pointing to the related files I will be very grateful.

[2017-05-23 10:12] seanlip commented on #3446
Hi @zpuller -- try creating an exploration in your local dev server. When you select an interaction (i.e. a question type), you'll notice that some of these interactions can be customized, e.g. you can specify placeholder text for the TextInput interaction. This form needs to be validated.

For example, in the MultipleChoiceInput validator, we check that all choices have something in them, and tha

[2017-05-23 14:17] tjiang11 commented on #3404
Hi @kefeh , as a general direction, try looking around oppia --> core --> templates --> dev --> head --> pages --> exploration_player. Thanks!

[2017-05-23 14:54] anthkris commented on #3459
Howdy @rachelwchen You can see captions on the embedded video once you click play, is that what you mean?

<img width="968" alt="screen shot 2017-05-23 at 9 51 47 am" src="https://cloud.githubusercontent.com/assets/10858542/26360378/929a805a-3f9d-11e7-8990-62157e0a7643.png">

But I think it's well within the scope of this PR to implement your suggestions! Thanks!

Is the method Shaz outlined the b

[2017-05-23 15:20] zpuller commented on #3446
Yes, that is perfect. Thanks!

[2017-05-23 21:24] rachelwchen commented on #3459
Hm, I wonder why the caption option didn't show up on mine:
<img width="715" alt="screen shot 2017-05-23 at 2 21 03 pm" src="https://cloud.githubusercontent.com/assets/12159451/26376914/18f66932-3fc3-11e7-9c9b-44a5e87f38fb.png">

Though I'm not an expert at this, I feel that what @shaz13 proposed looked fine. If anyone has any other ideas, I'm all ears!

[2017-05-23 21:53] anthkris commented on #3459
@rachelwchen One more question: Is there a script that was used in the recording that we could pull from?

[2017-05-23 22:09] rachelwchen opened #3462 "Donate page responsiveness hides the paragraph of text"
Hi everyone,

On the [Donate page](https://www.oppia.org/donate), I noticed that the paragraph of text disappears with page responsiveness.
This is how the page looks on a full, desktop browser:
<img width="1279" alt="screen shot 2017-05-23 at 2 50 21 pm" src="https://cloud.githubusercontent.com/assets/12159451/26378243/8ec97f14-3fc8-11e7-82b3-a2f0ee298e50.png">

This is how the page looks on mobi

[2017-05-23 22:13] anthkris commented on #3462
Howdy @rachelwchen I'm pretty sure that was an intentional design decision, but deferring to @markhalpin here.

[2017-05-23 23:07] rachelwchen commented on #3459
@anthkris Ah, I'm not sure. @seanlip do you know who made the video? Thanks!

[2017-05-23 23:10] anthkris commented on #3459
Apologies @rachelwchen! I had it in my mind that you were the driver behind it originally.

[2017-05-23 23:14] seanlip commented on #3459
Hmm, @kerryxwang made the video originally, but I don't think there was a script...

[2017-05-23 23:51] anthkris commented on #3459
No worries! I wasn't able to follow Shaz's suggestion (perhaps there were permissions issue on the video), so I've created a draft of subtitles here: https://amara.org/en/videos/g0XMqKKhW4ym/info/meet-oppias-contributors/

[2017-05-24 00:17] markhalpin commented on #3438
Hi @tjiang11 . The otter is the overall Oppia mascot, and is just meant to add some friendliness throughout the site. He's also the avatar used within the lessons, and is just added here as a "welcome" to the exploration set.

[2017-05-24 01:04] anthkris commented on #3459
Note that a PR to follow Rachel's suggestion and request review of the captions is here: #3463

[2017-05-24 01:47] anthkris opened #3464 "Some page content being read out of order by screen reader"
## Issue
When listening to the Contact page and the site footer usinge VoiceOver on a Mac, I've noticed that some content is read out of order. For example, on the Contact page, some links are read several sentences past where they should have been heard. The footer is also being read across, instead of down. For example, VO reads each heading 4, then each link in the next row, then each link in t

[2017-05-24 01:48] anthkris commented on #3082
New issue popped up and recorded here: #3464

- [ ] Page content should be read in the appropriate order by the screen reader.

[2017-05-24 02:13] Oishikatta commented on #3456
I think this is a good summary of the issues and screenshot, but also agree that share button might be better as another issue.

[2017-05-24 06:24] #3455 closed, assigned to domevit

[2017-05-24 07:52] pranavsid98 opened #3465 "Rename and update ClassifierModel and Classifier domain class."
This issue describes the first part of Milestone 2 of the migration of ML to a VM.
The model for storing trained Classifiers (currently ClassifierModel) need to be renamed to ClassifierDataModel. Also, we need to update the domain level classes accordingly.

ClassifierModel additions:
- id: job_request_id fetched from TrainClassifierJobModel

Modify Classifier domain class accordingly.
Modify all

[2017-05-24 07:53] pranavsid98 commented on #3465
I'll start work after we set up the entire project and all other issues.

[2017-05-24 11:53] arjunsuri commented on #2394
@seanlip Please assign me an issue.I also want to contribute.

[2017-05-24 11:59] arjunsuri commented on #2394
can I take #2394 Docstrings for controllers/base.py

[2017-05-24 12:13] arjunsuri commented on #2394
@seanlip I am taking core.domain.stats_services

[2017-05-24 12:14] anmolshkl commented on #3465
@pranavsid98 looks good. Also, we can get rid (which you already have) of data_schema_version since the dict that we are storing is no longer generated by our own implementation. We expect the structure of the dict to remain the same unless there is a major revamp in the implementation of the algorithm provided by the library.

[2017-05-24 12:54] pranavsid98 commented on #3465
@anmolshkl . Well, its not part of the new model, so we would have gotten rid of it. The mapping change we made is part of my last PR, which is not merged yet. So, we'll have to sort that out.

[2017-05-24 13:15] pranavsid98 opened #3466 "Create storage and domain layer classes for TrainClassifierJobModel"
This implements the first part of Milestone 1 for the migration of ML to the VM.
We need to create a database schema for the TrainClassifierJobModel. We need to have the following attributes:
**job_request_id**: String. Job request ID. To be uniquely generated for each Job request.
**exp_id**: String. The exploration ID.
**state_name**: String. The state name.
**training_data**: An array of label

[2017-05-24 13:20] pranavsid98 opened #3467 "Create a function that checks if a classifier needs to be re-trained"
This implements part 2 of the Milestone 1 for migration of ML to the VM.
Implement a function which goes through the changes made to an exploration when _save_exploration() is called and decides if the classifier needs to be trained again.

The re-training conditions can be:
- addition/deletion of an answer group (If an answer group is added in between old answer groups, or if an old answer group

[2017-05-24 13:24] pranavsid98 opened #3468 "Create database models for VMMonitoringModel"
This implements part 2 of Milestone 2 for the migration of ML to the VM.
We need to create a database schema for the VM Monitoring model (monitoring processes). The model will have the following fields:
**VMID**: A unique ID assigned to each currently running VM. This ID will be assigned to each VM by Oppia admin and will be saved in configuration file of VM (configuration file will store various

[2017-05-24 13:31] pranavsid98 opened #3469 "Implement Angular services - PredictionAlgorithmRegistryService and PredictionAlgorithmService"
This implements Milestone 4 of the migration of ML to the VM.
We'll implement two services.

- [x] **PredictionAlgorithmRegistryService**

This maintains the mapping of the algorithm_id to the PredictionAlgorithm. This service will take in the algorithm_id as a parameter and return the corresponding retrieved PredictionAlgorithmService.

- [x] **PredictionAlgorithmService**

This service will hand

[2017-05-24 18:30] anmolshkl commented on #3469
Shouldn't we first get the necessary backend and the storage layer in place so that this issue can be solved?

[2017-05-24 18:42] anmolshkl commented on #3467
@pranavsid98 may be MIN_SAMPLE_TO_RETRAIN?

Also, what do we mean by "training data is modified"? How will we identify such "training data"?  Maybe, we will have to first identify/track such modifications but we can't compare every training data line by line. So, I guess we need to see if the length of the training data has changed by a certain number of not.

[2017-05-24 20:38] seanlip commented on #2394
OK, thanks! Assigned you.

[2017-05-24 22:03] #3417 closed

[2017-05-25 01:42] zvekovius commented on #3430
@seanlip  - Did some initial digging on it and it looks like the left isn't being set for some reason. I started looking into the javascript and ran out of time. Been a bit busy, I notice the bug is marked as major. If someone else is chomping at the bit feel free to re-assign. Otherwise I'll try diving back in this weekend.

[2017-05-25 01:54] pranavsid98 commented on #3469
@anmolshkl We are not solving this for now. I just made the issue. I'll add in the description which issues this issue depends on.

[2017-05-25 01:56] pranavsid98 commented on #3467
@anmolshkl . Oh , Theses were @prasanna08 's words from his proposal, but I'm pretty sure he meant the length of the training data. I'll modify the description accordingly.

[2017-05-25 04:10] jaredsilver opened #3471 "Remove the "Recently Published" section from the Library page"
As a learner, I want to find explorations that are relevant and of high quality so I can learn about something I'm interested in. The "Recently Published" category on the Library page is generally filled with explorations that are neither relevant to the average user nor of particularly high quality.

We should remove this section from this page.

[2017-05-25 04:21] kevinlee12 commented on #2042
Apparently this is not working, will redo.

[2017-05-25 05:44] pranavsid98 commented on #3465
@anmolshkl . There are a few things I'd like to know before I start. Are we changing the name of the class from 'Classifier' to 'ClassifierData'? And, when we change the fields and name, it needs to be reflected everywhere in the code base right? But, the thing is most of the services that use these classes are gonna be deprecated anyway. So, how d we go about this?

[2017-05-25 05:56] seanlip commented on #3430
Thanks for digging, @zvekovius! I think this weekend is fine -- we're cutting the next release branch on June 4 so it would be great to have this fixed in develop by then. Let us know what you find!

[2017-05-25 06:43] anmolshkl commented on #3468
@pranavsid98 as per the on going discussions, we might not even need this issue. Also, I think it is fine to wait for sometime before filling all the issues till the design doc and requirements are set in stone.

[2017-05-25 08:05] seanlip commented on #3342
Deassigning @utkarsh-dixit due to lack of response.

[2017-05-25 08:29] pranavsid98 commented on #3468
@anmolshkl . Ah, I missed this one. Closing it for now.

[2017-05-25 08:29] #3468 closed, assigned to nobody

[2017-05-25 10:50] s1db commented on #3471
I'd like to take this up.

[2017-05-25 11:05] anmolshkl commented on #3465
@pranavsid98 hmm, you will have to change at other places otherwise tests will start breaking (this is a good opportunity to identify code which might be deprecated). Also, I think it is important to make a distinction between a classifier and the data/parameters of that classifier. When people say "classifier" it can really mean two things - (i) an instance of the classifier (ii) the parameters o

[2017-05-25 19:46] anthkris commented on #3471
Howdy @cosmicAsymmetry ! Feel free to assign yourself. I noticed that you have some work assigned to you for another issue. Might it be better to complete that first or is that work on hold?

[2017-05-25 19:51] s1db commented on #3471
Yes, I do. I have submitted the PR for that and am waiting for the review to happen. Since I have some time on my hands(summer break :p) I'm trying to contribute as much as I can. Although I'll try not to work on more than two issues at once as it might get confusing.

[2017-05-25 23:37] seanlip commented on #3471
@cosmicAsymmetry -- it is indeed a good idea to do at most two things at a time, I think, especially since you're starting out! However, I think this issue is a bit complex to start with, so I want to suggest taking a look at #383 first and getting some experience navigating the frontend code. Would that be OK? Once you have some experience with both backend and frontend in isolation, then let's t

[2017-05-26 01:44] zvekovius commented on #3430
Got it -15 px to the left. Other avatar classes had -20, but that was a bit much for the card.
![image](https://cloud.githubusercontent.com/assets/17284745/26477378/e0ba6a04-418a-11e7-854e-388a62c24d58.png)

[2017-05-26 03:36] anthkris commented on #3459
This is all done! Captions are in and auto appear on video play.

[2017-05-26 03:36] #3459 closed, assigned to anthkris

[2017-05-26 03:37] anthkris commented on #2862
Update:

- Captions issue is complete.

Final outstanding issue:

- Color Contrast Issues

[2017-05-26 03:46] anthkris commented on #2953
Howdy @markhalpin! This is the last issue from our basic accessibility audit. I would like your input as to the best way to proceed. I know we discussed a bit previously an idea about an entirely different color scheme available with a switch (a sort of accessibility toggle, in this case). The other option is to work a bit with the Oppia styles to try and make them pass the color contrast standard

[2017-05-26 04:34] seanlip commented on #2862
Hi @anthkris -- shall we just close this issue then, since it's now effectively a duplicate of #2953?

[2017-05-26 04:37] seanlip commented on #3438
@llKCll, would you be interested in taking a look at this? It's still frontend-related, but a bit more challenging than the previous issues you've taken up, so I think it might be a good next project. Let us know!

[2017-05-26 04:41] anthkris commented on #2862
Will do!

[2017-05-26 04:41] #2862 closed

[2017-05-26 04:57] llKCll commented on #3438
@seanlip, I'd really like to but I'm swamped with university class projects at the moment. I'm afraid I may not get to it as quickly as you like (1-3 weeks). I plan to be much more involved once these classes end. Feel free to assign it to me though if that's OK. Thank you very much for helping me get set up with this. This has been really exciting for me.

[2017-05-26 05:27] seanlip commented on #3438
OK, no worries! Here's what I suggest: why don't you finish off the other issue first, since it's close, and then come back to this one and assign yourself when you're ready (and if it hasn't already been taken by someone else)?

Also, good luck with your class projects -- hope they go well!

[2017-05-26 06:15] tjiang11 commented on #3438
Hi, slightly irrelevant question, but does it make sense for a dashed line to be going from the mascot to the first exploration? @markhalpin

[2017-05-26 06:30] seanlip commented on #3415
@shaz13 @hzlmn It looks like @lunrong can't reproduce this bug. I'm going to deassign him (since it's hard to fix something you can't reproduce), but would one of you be able to look into it instead?

[2017-05-26 06:37] seanlip commented on #3146
Hi @lunrong! Mind taking a look at this?

[2017-05-26 06:48] shaz13 commented on #3415
Friendly ping @hzlmn. Are you still working on this?

[2017-05-26 16:34] markhalpin commented on #3438
@tjiang11 sure :) The mascot is coming with you on your journey, etc.

[2017-05-26 16:50] tjiang11 commented on #3438
If that's the case, would it make sense for the mascot to physically come along with the learner? I think it seems slightly confusing that the mascot is always at the beginning, might just be me though

[2017-05-26 17:43] markhalpin commented on #3438
Well, the mascot *does* come along with the learner in the sense that he's present in all the lessons. Let's leave it as is for now.

[2017-05-26 17:48] markhalpin commented on #2953
heya @anthkris :) I think, realistically, a site-wide reworking of the color scheme is unlikely to happen any time soon, and I'd be reluctant to switch to a permanent color scheme that feels more stark in any case, given the general light, friendly feeling we're trying to convey. I don't have any objection to a different color scheme that toggles on and off if someone wants to try to implement tha

[2017-05-26 17:56] anthkris commented on #2953
I can understand where you're coming from; I know that the site's colors were carefully chosen. But is there no small tweak we can make using the colors we have in a different combination?

I really, strongly think that, as a general universal design principal, it isn't a good idea to put the work back on users. By not doing anything, at least for the issues that fail both standards, we essentiall

[2017-05-26 17:56] seanlip commented on #2953
Hi @anthkris, just a thought: are there any tools online that would show what Oppia might look like to a learner with visual disabilities? I found this for example: http://www.color-blindness.com/coblis-color-blindness-simulator/ -- but there may be more, I haven't really checked.

It may be worth seeing if we can find something that would generate a visual representation of what the page looks li

[2017-05-26 18:12] markhalpin commented on #2953
@anthkris I also understand where you're coming from, and as far as I'm concerned there's nothing that's a *won't* fix. However, I think everyone has a lengthy list of things to be doing at the moment, and, with absolutely no insensitivity intended toward any segment of our usership, I'm inclined to put *any* issue lower on the priority list if there's already an available solution. I think there'

[2017-05-26 18:18] anthkris commented on #2953
There's another color blind visual simulator here: https://www.toptal.com/designers/colorfilter

On the one hand, using this tool, the navbar doesn't seem to be bad. On the other hand, I mistrust it a bit, because I'm not color blind in the first place and I have very good vision.
It's not however, allowing me to look at the fully loaded library page, which is where there were more serious issues.

[2017-05-26 18:21] markhalpin commented on #2953
@anthkris sounds great!

[2017-05-26 18:23] seanlip commented on #2953
Thanks @anthkris!

One idea, re the library page, is to take a screenshot and put it up on a local github page or something, then direct toptal to that URL. The checker probably doesn't care whether the page is loaded statically or dynamically, so that should provide the results you need. (I guess you could probably do something similar with the WAVE checker if you need to test the images you're c

[2017-05-26 18:54] #3402 closed

[2017-05-26 22:14] seanlip commented on #3440
Fixed in #3458. Thanks @llKCll!

[2017-05-26 22:14] #3440 closed, assigned to llKCll

[2017-05-27 00:49] Ian91 opened #3478 "Ordering of explorations in a collection should not depend on ordering of nodes in the .yaml file"
In a collection, the order of the explorations should depend only on the prerequisite skills (as defined, for example, in welcome_to_collections.yaml). In particular, the order should not depend on the ordering of nodes in the .yaml file.

For example, at this time, changing the ordering of the "Welcome to Oppia" and "Demonstrating soft rules" nodes in welcome_to_collections.yaml causes the collec

[2017-05-27 09:39] kefeh commented on #3404
Hello @tjiang11 , thanks for the pointer. I am facing a problem with the code base: I have actually written code that works(on a sample html page) but integrating it to the oppia code base is the problem. The files i have been working on are `oppia.css` for the css code that formats and styles the popup, `oppia/core/templates/dev/head/components/forms/schema_editors/schema_based_unicode_editor_dir

[2017-05-27 12:22] prasanna08 commented on #3465
This model might also change based on how we fix [outcome mismatch](https://docs.google.com/document/d/1kACmivEvZVlTYBdqxy-mmdTi3sg_NbkZdS10T-ya-pg/edit#heading=h.6db6a9z4i6ec) issue. If we use auxiliary mapping then we have to add new field in ClassifierDataModel for that.

[2017-05-27 12:29] prasanna08 opened #3480 "Add new config property on admin page to add vmid and shared secret key"
We are currently desigining to use a separate VM for training classifiers. To make communication between VM and Oppia secure we are planning to use a shared secret key. Therefore we need some convinient way to add this secret key in Oppia.

TODO: Modify "/admin" page to have a new config property which will be used to add two fields 1. VMID and 2. Shared secret key. Add relevant config_property in

[2017-05-27 17:32] arjunsuri commented on #2394
hey...I am working on core.domain.stats_services....I can see previous docstrings in it.So, what exactly is incomplete in this project.

[2017-05-27 18:27] shaz13 commented on #2394
Hello @arjunsuri, you can look at the previous PRs' ( alike #3448, #2459 ) to get an idea about expected format. I looked into the file [core.domain.stats_services. ](https://github.com/oppia/oppia/blob/develop/core/domain/stats_services.py) there are still few functions missing Args, Return information which you should document in your PR. If you still have any doubts feel free to ping us in the

[2017-05-27 19:25] seanlip commented on #3404
@kefeh -- I defer to @tjiang11 for more guidance, but you might consider creating a "not for merge" PR to show what you've done so far (or link to a gist, or something) so that he has enough context to help you!

[2017-05-27 19:39] kirankonduru commented on #3471
I'd like to work on this.

[2017-05-27 20:14] tjiang11 commented on #3404
Hi @kefeh . I would do as Sean suggested in creating a PR just so we can see what you're doing.

[2017-05-28 13:06] prasanna08 commented on #3480
Hi @seanlip, @anmolshkl, I have solved this locally but I am unable to push my branch to my GitHub repo. I am getting python linting errors of following type:
[code]

As you can guess, these errors are bound to arise since all `google` imports are not relative imports but google app engine imports. Same error arises when I push upstream changes to my repo's develop branch. I haven't updated my rep

[2017-05-28 18:12] shaz13 commented on #3249
@seanlip I need help with this issue. Since this issue was open I learned from basics about Map, Reduce functions in Python. Also, gone format of jobs in the codebase.

My observations are;
1. First, we need to declare our new job in the `job_registry.py`
2. Then, have to code the MapReduce `job in user_job_one_off.py`
3. It appears in the job section in the admin panel and ready to run.

An algor

[2017-05-28 23:36] tjiang11 commented on #3407
Hi @Oishikatta , any updates in investigation?

[2017-05-28 23:36] seanlip commented on #3480
Sorry, I haven't seen this before at all, so I'm not sure what's happening here. We did update the versions of pylint and GAE recently, so I wonder if that has anything to do with it? It may be worth recloning a fresh copy to a separate local folder and trying again.

[2017-05-28 23:59] seanlip commented on #3249
Yep, go ahead and write a one-off backend job that iterates through all users and have map() yield something like (len(bio), user_id) (but just skip bios with length less than a certain number). That way we can get a mapping of len(bio) to the user_ids with a bio of that length. We can then run that to see what the current state of things is, and make the change accordingly. The only catch is that

[2017-05-29 00:40] #3430 closed, assigned to zvekovius

[2017-05-29 00:40] seanlip commented on #3430
Fixed in #3475. Thanks @zvekovius!

[2017-05-29 00:45] Oishikatta commented on #3407
The current version of Oppia is barely usable on the default OS/browser that came with the Nexus 7 (Android 4.3/Jellybean). At least a couple kinds of interactions are actually unusable, not allowing the user to get through explorations. I haven't determined where things become usable yet though.

[2017-05-29 00:46] seanlip commented on #3406
Hi @pranavsid98, are you able to finish this up? If not, @zvekovius, would you like to take a look at it and continue from where @pranavsid98 left off in #3425?

Thanks!

[2017-05-29 00:51] seanlip commented on #3390
Hi @markhalpin -- would you mind weighing in on this as well (regarding removing the "select an image" functionality and requiring upload for each image)? In particular, is the "select an image" functionality is useful, and if so, in which circumstances would this be the case?

Thanks!

[2017-05-29 02:21] prasanna08 commented on #3480
Fixed it. It was due to conflict with some library that I installed in my system (I installed 2-3 google libraries when I was testing remote access api). So I created `virtualenv` and activated it before pushing my repo. It worked. I don't know which library is causing it but I did something similar to this when I was having issue with `numpy` of Oppia and my system.

[2017-05-29 02:55] markhalpin commented on #3462
Hi @rachelwchen and @anthkris. I'm not sure if this was an intentional decision or not, actually. This page was mostly @kerryxwang's baby; I just did the spot illustrations. That said, I like Rachel's proposed solution, certainly much better than the left part of the page disappearing altogether.

[2017-05-29 03:10] #3471 closed, assigned to kirankonduru

[2017-05-29 03:26] markhalpin commented on #3390
Hi all. First, I think the proposal is very nice. My only negative comment is that at first glance the scrolling arrows on the library seemed to be indicating that you would drag something from the library onto the "drag an image here" area. Perhaps it would be cleaner to have an "Access Library" button next to the "drag an image here" space, and the button would trigger a library modal (with a ca

[2017-05-29 03:33] pranavsid98 commented on #3406
@seanlip . No, I'm sorry, I am studying Angular for sometime. I'm still taking this one up though. Is that fine?

[2017-05-29 03:52] seanlip commented on #3406
Hi @pranavsid98, sounds good! You might like to have a look at this other PR by @juansaba for reference, too: https://github.com/oppia/oppia/pull/3449/files#diff-9a9a299372b18b549956e1cba699938bR84

(Also, @zvekovius, I'll find something else! Stay tuned.)

[2017-05-29 04:31] seanlip commented on #2030
Fixed in #3477. Thanks @souravbadami!

[2017-05-29 04:31] #2030 closed

[2017-05-29 04:38] souravbadami opened #3485 "Add an e2e test for the exploration search functionality in collection editor."
Currently, there's no e2e test for this search feature in collection editor and this test would make sure it doesn't break in the future.

[2017-05-29 05:03] seanlip commented on #1675
Note: first draft at https://github.com/oppia/oppia/wiki/Rich-Text-Editor-(RTE)-Overview

[2017-05-29 07:03] jacobdavis11 commented on #3390
I would remark that if we go with not displaying the previously uploaded
images then they don't need names, so the issue of having to come up with
new names for slightly modified images goes away. And it opens the door to
automatically deleting an image when its use in the exploration is deleted
(though I don't know how hard that would be to implement).

On Mon, May 29, 2017 at 5:26 AM, Mark Halpi

[2017-05-29 07:22] seanlip commented on #3342
Hi @zvekovius -- would you be up for taking a look at this one? I think it might be as simple as changing the `backdrop` config of the modal --- see http://angular-ui.github.io/bootstrap/versioned-docs/0.13.4/ and using a control.log() to ensure that everything works correctly (i.e. the same function is called as the one that's called when the cancel button is clicked).

Thanks!

[2017-05-29 18:57] kirankonduru commented on #2619
@seanlip I guess this issue was fixed in #3417 as ImageClickInput with no regions cannot be created any longer.

[2017-05-29 18:58] seanlip commented on #2619
Hooray! Thanks for noting this and confirming, @kirankonduru. It's great when an issue fixes itself :)

[2017-05-29 18:58] #2619 closed

[2017-05-29 19:23] seanlip commented on #3438
Hi @kirankonduru -- would you like to take this up?

[2017-05-29 19:49] seanlip commented on #2869
Hi @Oishikatta, a couple of questions:

- What is left to fix in this issue? (The PR in #3398 says "Fix part of #2869, so I'm wondering what the other part is.)
- Could you please file the issue that arose out of #3398 (regarding the UI juddering issues and the recommended upgrade of the UI bootstrap library)?

Thanks!

[2017-05-29 20:00] kirankonduru commented on #3438
Sure I'll work on this. Thanks for the suggestion @seanlip

[2017-05-29 20:21] shaz13 commented on #3462
I would like to take up this issue and commit it before the next release. @rachelwchen

[2017-05-29 21:03] tjiang11 commented on #3295
@Anthony-Alridge @wxyxinyu  ping

[2017-05-29 21:04] tjiang11 commented on #3172
@anmolshkl @pranavsid98 ping

[2017-05-29 21:04] tjiang11 commented on #3146
@lunrong ping

[2017-05-29 21:05] tjiang11 commented on #3096
@TruongKim ping?

[2017-05-29 21:05] tjiang11 commented on #2997
@wxyxinyu ping

[2017-05-29 21:06] tjiang11 commented on #2825
@VRamazing ping

[2017-05-29 21:07] tjiang11 commented on #2740
@saeedjassani How is this going?

[2017-05-29 21:08] tjiang11 commented on #2665
@BenHenning ping

[2017-05-29 21:08] tjiang11 commented on #2639
@Slayslot ping?

[2017-05-29 21:08] tjiang11 commented on #2533
@vojtechjelinek ping?

[2017-05-29 21:09] tjiang11 commented on #2016
@rohan-gulati ping?

[2017-05-29 21:59] kirankonduru commented on #3438
A suggestion:

Instead of having something default on the right and showing exploration cards only when hovered over them, on the right side we can show the current lesson which the user should complete in the collection and have some title above saying something like "Next lesson in the collection" and a note saying "hover over an icon to preview an exploration".

[2017-05-29 22:45] markhalpin commented on #3438
Hi @kirankonduru hmm, that's an interesting idea. I'm not sure though. It seems like if the info for the next lesson is displayed as the default, regardless of what the mouse is on, it doesn't really link that info to the icon we want the user to activate.

[2017-05-29 22:52] kirankonduru commented on #3438
Okay!

I've attached the screenshots with the the suggested changes.

![screenshot from 2017-05-30 04 15 47](https://cloud.githubusercontent.com/assets/13452436/26563419/78e66e74-44ef-11e7-8149-d7055b106c6c.png)
![screenshot from 2017-05-30 04 18 15](https://cloud.githubusercontent.com/assets/13452436/26563420/79396e30-44ef-11e7-8bfb-b2c4b686c336.png)

If the design looks good I'll make a PR.

[2017-05-29 23:05] markhalpin commented on #3438
one thing: is it possible to implement the ring highlights *behind* the path? That's how it is on the original mocks and I think avoiding the transparency there makes it look a little crisper. Otherwise, looks great!

[2017-05-30 02:16] kevinlee12 commented on #2042
Fixed in #3488

[2017-05-30 02:16] #2042 closed

[2017-05-30 02:44] pranavsid98 commented on #3172
@tjiang11 @anmolshkl @seanlip . We've already closed the PR for this issue. Are we closing the issue as well?

[2017-05-30 03:45] lunrong commented on #3146
working on it ~ @tjiang11

[2017-05-30 03:58] seanlip commented on #3172
So, I just read the issue description. Isn't this still something we plan to do -- i.e. retrieve the classifier instead of computing it on the fly? I thought the issue with the PR was that we need to write the job storage layer first.

@anmolshkl is away, but perhaps @prasanna08 could advise...

[2017-05-30 04:00] pranavsid98 commented on #3172
@seanlip , with the new VM framework, the VM is gonna be training classifiers and storing them continuously. So, we are already caching classifiers. Only the cached classifier data is going to be used by the front-end prediction. So, 'retrieving the classifier' is sort of implied.
The job storage layer is required for modifying the train() function (which checks for conditions and the like) so tha

[2017-05-30 04:01] seanlip commented on #3480
Fixed in #3484. Thanks @prasanna08!

[2017-05-30 04:01] #3480 closed, assigned to prasanna08

[2017-05-30 04:03] seanlip commented on #3172
Oh, yes, I see. OK, let's close this, then. Thanks!

[2017-05-30 04:03] #3172 closed

[2017-05-30 04:03] seanlip commented on #3462
Hi @shaz13, sounds good -- please go ahead. Thanks!

[2017-05-30 04:28] #3456 closed, assigned to kirankonduru

[2017-05-30 07:19] Oishikatta commented on #2869
The remainder of this issue is adding the authors after the end of the exploration for mobile. Although that is somewhat addressed by the info button from #3476.

[2017-05-30 07:21] seanlip commented on #2869
Ah, OK. Could we file a new issue explicitly for that, and close this one?

[2017-05-30 07:26] Oishikatta opened #3490 "Upgrade ui-bootstrap library"
The current version of Angular's ui-bootstrap library used is 0.13.4. Upgrading to at least 0.14.0 would provide some bug fixes and should enable popovers to work more smoothly.

Starting with 0.14.0 this library started prefixing it's directives/classes, so to upgrade would likely require small changes​ in many areas and testing to make sure they still function as expected.

There are also much n

[2017-05-30 07:27] Oishikatta commented on #2869
Sure I'll do that now.

[2017-05-30 07:27] #2869 closed

[2017-05-30 07:29] Oishikatta opened #3491 "Show authors after completing exploration on mobile"
From #2869, authors should be displayed after the user completes an exploration on mobile since the authors button has been replaced with a feedback button.

[2017-05-30 07:32] seanlip commented on #490
Given our current direction, we are not going to do this at this time. Closing.

[2017-05-30 07:32] #490 closed

[2017-05-30 07:33] seanlip commented on #1081
Hi @Oishikatta, do you know whether this is still an issue (given the recent UI changes)?

[2017-05-30 07:37] seanlip commented on #1243
I haven't really heard much concern about this in the past 1.5 years, so, for the sake of simplicity, I think this is something we won't do in the short-term, unless we get more user demand for it. Closing.

[2017-05-30 07:37] #1243 closed

[2017-05-30 07:46] seanlip commented on #1526
Hi @Arunabh98, I'm going to close this, since it's a somewhat old issue and the learner dashboard is going to happen anyway :) However, I wanted to draw your attention to a couple of ideas here. They don't necessarily need to affect what you do for the summer, but I think they might be worth thinking about:
- There's the idea that the learner dashboard is a place where a student can "pick and choo

[2017-05-30 07:46] #1526 closed

[2017-05-30 07:48] seanlip commented on #2831
Hi @Oishikatta -- a question. If we already know the fix for this, do you think it would be worth just going ahead and fixing it?

[2017-05-30 07:52] Oishikatta commented on #1081
I don't (haven't tested rating), but starting with I think 0.14.0 there is an option for popovers to append to body, which should prevent this type of issue. I can check if it's still reproducible during the day.

[2017-05-30 07:56] handasolo commented on #2639
Hi @seanlip @tjiang11, Apologies it has been some busy days at work for me. I did take a look at this and wasn't able to figure out how to get `google.load` to defer loading of the corechart js file. I'll take a look into it again.

[2017-05-30 09:05] saeedjassani commented on #2740
@tjiang11 There is a pre-requisite for this. "Edit" mode needs to be added first. @ashish3805 is working on it. Will resume my work on this PR once that is completed. (I have done 40% already)

[2017-05-30 09:12] seanlip commented on #2639
I wonder if others have come across the same issue. Maybe search for the error message (in conjunction with corechart)?

[2017-05-30 14:53] shaz13 commented on #3272
ping @clavoirr.
I think #3408 (issue) points out the similar issue.

[2017-05-30 17:31] anmolshkl commented on #3465
@pranavsid98 I agree with @prasanna08. Also, it would be good if you can identify exactly which fields needs to be added and which ones need to be modified. Also, we need to modify the storage layer classes and I have modified the description accordingly.

[2017-05-30 17:56] anmolshkl commented on #3466
@pranavsid98 thanks for creating the issue! @seanlip I think training data can be stored as a list of dicts, for example - [{answer_group_index: 2, answers: [a2, a3, a4]}, {answer_group_index: 4, answers: [a1, a6, a5]} ..... ].

@pranavsid98 also, I think that we should just use answer_group_index instead of labels (check the doc for the detailed comment).

[2017-05-30 18:51] seanlip commented on #3466
List of dicts seems fine  to me. Thanks!

[2017-05-30 22:15] knittingarch commented on #1494
@seanlip Is this still an active issue?

[2017-05-30 22:29] seanlip commented on #1494
Hi @knittingarch -- I'm not sure, it might well be! @anthkris would you mind confirming?

(@knittingarch -- you might also be able to double-check by replicating the above steps on your machine and seeing whether they lead to the outcome described.)

[2017-05-30 22:48] AllanYangZhou commented on #1675
@seanlip Updated the draft to include points 3 and 4 from the original issue description.

[2017-05-31 01:59] Oishikatta commented on #3269
[code]

These styles seem to fix the issue. Will finish testing and submit a PR when ready.

Edit: They fixed it when applied after initial load, but it isn't consistent when in oppia.css.

[2017-05-31 02:00] Oishikatta commented on #1081
This is still an issue in develop. It isn't what I read it as at first.

Here's a screen:

![image](https://cloud.githubusercontent.com/assets/5713489/26612445/af5a9e1a-4569-11e7-9620-77b85c4074fe.png)

(And a screen with how the viewport should look, #3269)
![image](https://cloud.githubusercontent.com/assets/5713489/26612534/403c5a4a-456a-11e7-9aa4-c0b6227fb74c.png)

[2017-05-31 02:01] Oishikatta commented on #1081
The user *can* scroll to the end of the popover to submit it.

[2017-05-31 03:41] Oishikatta commented on #3269
The actual fix:

[code]

The cause ended up being that .conversation-skin-future-tutor-card had a min-width of 360px, which is larger than some types of mobile devices.

[2017-05-31 04:27] seanlip commented on #1675
This looks great. Thanks, @AllanYangZhou! Closing this issue as done.

[2017-05-31 04:27] #1675 closed

[2017-05-31 04:36] pranavsid98 commented on #3465
@anmolshkl I've updated the issue description with the fields that need to be added/removed. If everything is fine, I'll start working on this.
Also, we are not using auxiliary mapping to fix the outcome mismatch issue right?

[2017-05-31 07:13] kevintab95 opened #3495 "Create a one-off job that will collect and list all fallbacks"
This one-off job is intended to gather examples of current fallbacks in production.

[2017-05-31 09:46] anmolshkl commented on #3465
@pranavsid98 thanks! Yep, we don't need that mapping for now. Can you please check if we have this in the design doc (that we will invalidate the classifier models after checking if answer groups have been modified. I guess #3467 covers this broad topic) as I can't access docs for now. Thanks!

BTW, are we doing away with data_schema_version? As @seanlip had mentioned it (but I can't find the part

[2017-05-31 10:08] prasanna08 commented on #3465
@anmolshkl are you referring to this [comment](https://docs.google.com/document/d/1kACmivEvZVlTYBdqxy-mmdTi3sg_NbkZdS10T-ya-pg/edit?disco=AAAAA9mzGgE)?

[2017-05-31 10:26] pranavsid98 commented on #3465
@prasanna08 @anmolshkl , We didn't exactly decide a resolution for that comment? Lets keep it?
And Anmol, the classifier data_schema_version to interaction type mapping keeps getting lost in some PR that does not end up getting merged. Since that feature would be needed one way or the other, can I make a separate issue for just adding this mapping in Feconf and updating it wherever used?

[2017-05-31 20:01] vojtechjelinek commented on #2533
Hi @anthkris, I am not entirely sure what you mean by workaround. Yes, there is a solution but we would need to create a branch with the PR and then create a release.

[2017-05-31 20:04] anthkris commented on #2533
Hi @vojtechjelinek I was referring to the post about copying and pasting some text, but perhaps that is the final solution? If so, that's fine. We just wanted to know what all needed to happen to make this a go or if it's not a viable solution until the problem is fixed elsewhere.

[2017-05-31 20:05] #3269 closed

[2017-06-01 00:50] seanlip commented on #2825
Deassigning @VRamazing due to lack of response.

@Oishikatta -- I wonder if this might be related to #3490 as well?

[2017-06-01 00:56] Oishikatta commented on #2825
It is, once the library is updated that might fix it on its own.

[2017-06-01 02:25] anthkris commented on #1494
@knittingarch @seanlip I did a fresh fetch of Oppia to make sure I was up to date, then added a video to a tab and published an exploration, and it's still not showing, so it looks like this is still an issue.

*Edit: However, the other issue about the tab collapsing does not seem to be an issue any longer.

[2017-06-01 02:29] seanlip commented on #1494
Ah, good to know. Thanks @anthkris! I'll strike out the fixed part from the issue then.

[2017-06-01 04:34] kevinlee12 commented on #3412
Hi @DubeySandeep, how is this issue coming along?

[2017-06-01 08:31] prasanna08 commented on #3467
@pranavsid98, also add that classifier should be invalidated when there is change in answer group indices. That is if a new answer group is added in between old answer groups or some old answer group has been deleted. If new answer group is appended to old answer groups then invalidation is not necessary.

**Re MIN_SAMPLE_TO_RETRAIN** -- yep. I mean length but in a following way:

Assuming that fo

[2017-06-01 14:36] anmolshkl commented on #3465
@pranavsid98 thanks for the new PR! I'll check it out. Also, looks like we both will have some merge issues later since #3465 and #3466 will use the same file (sigh!). But resolving them should be straight-forward  :)

[2017-06-01 17:56] vojtechjelinek commented on #2700
@1995YogeshSharma — ping

[2017-06-01 18:10] shaz13 commented on #3249
Thanks! @seanlip
I would like to take this slow and learn things deeply. However, will push a commit by Saturday for the review.

[2017-06-01 19:04] kirankonduru commented on #3438
Never worked much on svg before. I tried but could not figure out a way to get the ring highlight behind the path. I tried the solutions [here](https://stackoverflow.com/questions/17786618/how-to-use-z-index-in-svg-elements/25302276#25302276) and a few others on stackoverflow but couldn't get it right. Any suggestions on how to approach this?
Thanks

[2017-06-01 23:02] Oishikatta commented on #3407
The best I can say is that the issue was resolved in a webkit update between late 2013 and mid 2014.

I expected it would be easy to test, but as it turns out it is not so simple to find and run apps that old.

Basic overview: Based on my testing, I believe that to be affected by this the user would have to have a version of Chrome from before v27\~29/May 2013\~Aug 2013 (earliest confirmed v40/Jan

[2017-06-01 23:52] seanlip commented on #3390
We've been discussing this (offline) a bit. I think the general idea for next steps is:

- Allow cropping/resizing of images prior to upload.
- We might remove the "re-select" functionality (not sure yet). However, if we keep it, then we might only want to show images that are already in use in the exploration. At the moment, I lean somewhat towards removing it though.

[2017-06-02 00:15] seanlip commented on #3438
Hm, I haven't worked with SVG much either, but the suggestions in the link seem fairly clear on what to do. So I'd probably suggest experimenting (using jsfiddle or your local dev machine or something) with something simple like trying to get a red triangle on top of a blue square on top of a yellow circle, to the point where you have a good understanding of how SVG stacking works in simple cases

[2017-06-02 06:09] Oishikatta commented on #2831
I don't have IE installed still to test, but I can submit a PR next week or so after reinstalling it.

[2017-06-02 07:16] seanlip commented on #2831
OK, sounds good. Thanks @Oishikatta!

[2017-06-02 07:21] seanlip opened #3502 "Create a function in html_cleaner.py, with tests, that extracts all components from an HTML string."
We want to understand the structure of the HTML strings stored in the content, feedback and fallbacks of states (and in other places where HTML is used, e.g. the multiple choice interaction). For example, one of the things we would like to do is to derive a list of all image components used in the exploration, which involves examining the HTML strings and extracting the image components from them.

[2017-06-02 12:31] 1995YogeshSharma commented on #2700
@vojtechjelinek .... sorry, I was not free last weekend ... I'll do it this weekend.

[2017-06-02 17:46] juansaba commented on #3502
@seanlip Sorry for the naive question, but can you elaborate on what you mean by HTML strings?

[2017-06-02 17:51] TruongKim commented on #3096
@tjiang I still have issues unfortunately. Please give me couple days, then I can either give updates or have a list of questions (more likely).

[2017-06-02 19:40] seanlip commented on #3502
@juansaba These just refer to the contents of rich-text editors (which may include image, video, etc. components). This content is stored as (a strict subset of) HTML, with custom tags for the components.

[2017-06-02 22:06] vojtechjelinek commented on #2533
The content of the PR somehow solve the problem. We need the PR merged and then create a release. I have contacted someone who have rights to merge, so it should be merged in few days.

[2017-06-02 22:42] juansaba opened #3505 "Re-design image upload interface to be more intuitive and allow cropping and resizing"
**Motivation**

Motivated by discussion in issue #3390 we came up with the following design for the image upload interface, which could be used everywhere image upload is needed. The following description illustrates its usage on the rich text editor used in the content card.

**Design / Flow**

Let's assume you want to write some text and show the image of a bird:
![image](https://cloud.githubuse

[2017-06-02 22:42] juansaba commented on #3505
@seanlip Hi Sean, this is the design we agreed. Let me know if I missed something.

[2017-06-02 22:45] seanlip commented on #3505
I think it looks great, thanks @juansaba! Also /cc-ing @markhalpin in case he has anything to add.

[2017-06-02 23:28] #3495 closed, assigned to kevintab95

[2017-06-02 23:31] seanlip commented on #3505
Also, note: this supersedes #3390.

[2017-06-02 23:31] seanlip commented on #3390
This is superseded by #3505. Closing.

[2017-06-02 23:31] #3390 closed

[2017-06-02 23:54] seanlip commented on #3412
Deassigning @DubeySandeep due to lack of response. Also, I believe @kevinlee12 is taking this up.

[2017-06-03 00:10] markhalpin commented on #3505
LGTM!

[2017-06-03 03:25] kevinlee12 commented on #3412
thanks @seanlip!

[2017-06-03 05:39] seanlip commented on #3326
Deassigning @shivanXI, who isn't able to work on this for a while. This issue is now available for other contributors to take up.

[2017-06-03 22:01] anthkris commented on #2953
@seanlip @markhalpin I've saved images of the splash page and the library page filtered for each kind of color blindness: https://projects.invisionapp.com/boards/8J39D15KYWQMX/

For me, I can still see pretty well in all scenarios, thought the white on yellow cards can get a bit light in some versions. Again, I'm not color blind and have good vision so I'm not sure how much to trust this, but it a

[2017-06-03 23:14] anthkris commented on #2953
Note also that I've added another section to the link above with some mocks and some comments. The mocks demonstrate color changes that would allow us to pass at least WCAG 2.0 AA (minimal) color contrast standards, while still using Oppia colors. I've made further comments on the images about some other important issues. PTAL.

[2017-06-04 06:46] seanlip commented on #2953
Thanks, @anthkris! IMO this is a sufficient analysis; let's evaluate future directions based on the screenshots you've made.

I'm looking at the last section (with regards to specific changes that help with WCAG 2.0 AA). One question: for each of the three screenshots, could you provide a complete list of what changes exactly are being made? For instance, in the first one, is it just that the navb

[2017-06-04 07:19] seanlip commented on #3360
We are dropping this carousel from the main library index page (see #3481), so I'm closing this issue.

[2017-06-04 07:19] #3360 closed

[2017-06-04 07:51] seanlip commented on #2553
Hi @LanJosh, would you be interested in taking this one up?

[2017-06-04 07:58] seanlip commented on #3415
Hi @shaz13, would you mind taking a look at this please? Thanks!

[2017-06-04 09:15] shaz13 commented on #3415
Sure @seanlip.
A question --
Do I need to create a number of explorations manually (from admin tab, loading --> then editing, inorder to access them on profile page) or is there a way to import explorations and own them?

[2017-06-04 10:17] seanlip commented on #3415
Thanks!

Yeah, that's the only way to do it at the moment, unfortunately. But perhaps you might be interested in tackling #2508 or adding some custom controls to the admin page to make this sort of thing easier? If you'd like to have a go at that first, that would be fine too.

[2017-06-04 10:18] #3485 closed, assigned to souravbadami

[2017-06-04 15:17] #3406 closed

[2017-06-04 17:23] anthkris commented on #2953
@seanlip I made annotations on the images to point out what changed.

[2017-06-04 17:53] shaz13 commented on #3415
Thanks for the confirmation. I lean towards tackling that first cause testing/committing and reviewing on this issue would be very strenuous. I will look into #2508. And let you know pf my progress :smile:

[2017-06-04 18:41] wxyxinyu commented on #2997
this is being addressed in #3376

[2017-06-04 20:54] seanlip commented on #3415
OK, thanks! I've deassigned you from this and assigned you to #2508. I'll make more comments there.

[2017-06-04 20:55] seanlip commented on #2508
Just a note: feel free to tackle this in small parts -- e.g. a button for "create 50 explorations" may be sufficient for now. You (or someone else) can add rating/stats later, as needed.

Also, I think @souravbadami is interested in this, so /cc-ing him here.

[2017-06-04 22:45] seanlip commented on #2953
OK, thanks @anthkris! The annotations look great, and are exactly what I was looking for.

I think the next thing to do is to chat with @markhalpin to see which of these specific changes are OK within the context of the current design, and which aren't. For the ones which are OK, let's implement them. However, for the ones which aren't (e.g. because the effect is too stark/glaring), let's not impl

[2017-06-04 23:28] anthkris commented on #2953
@seanlip Okay, sounds good!

@markhalpin Is there a good time in the coming week to discuss this? I can be available evenings CT anywhere from 5 to 7; if that doesn't work, let me know.

[2017-06-05 02:00] juansaba commented on #2619
@seanlip Fixes itself? I think I deserve some credit LOL

[2017-06-05 02:03] seanlip commented on #2619
Lol sorry, you're absolutely right :) I meant "fixes itself as a side-effect of another issue being fixed", but it wouldn't have happened without you!

[2017-06-05 21:30] seanlip commented on #3462
Fixed in #3492, thanks @shaz13!

[2017-06-05 21:30] #3462 closed, assigned to shaz13

[2017-06-05 23:18] seanlip commented on #3407
Thanks a lot, @Oishikatta! This is great information.

I did check, and it looks like use of Jellybean might be atypical -- it was what was running on the tablets that the researchers happened to have handy. We'll have to run more tests, but my current inclination is not to work on fixing this at the moment until we get more confirmatory data that shows that this is a reasonably common occurrence.

[2017-06-06 04:01] seanlip commented on #2508
Also /cc @Arunabh98 @wxyxinyu

[2017-06-06 04:38] markhalpin commented on #2953
Hi @anthkris and @seanlip. Thanks for doing this, it's a really fascinating thing to go through. I'm sort of on the same page regarding the color-impaired mock-ups: they still seem pretty legible to me, though I'm not color-blind (though my vision is otherwise fairly poor).

On the mocks: these mostly look pretty decent. I don't really like the darkest version of the Navbar (mock 1) where the butt

[2017-06-06 04:50] seanlip commented on #2953
Thanks @anthkris and @markhalpin!

Re eliminating the multi-color thing -- I personally think that would be fine, though you might perhaps want more opinions from others. Now that you mention it, though, I totally agree with you on the graying-out thing! It does seem a bit counter to what we want to go for.

[2017-06-06 06:47] seanlip commented on #3164
Hi @ayejay, would you mind taking a look at this as an initial speed project? It looks like there may be opportunities for reducing data transfer here, but it's not clear yet what those are. If you could do an audit and suggest some next steps, that'd be great.

Thanks!

[2017-06-06 09:42] seanlip commented on #2508
Note: see also #1204, which seems related.

[2017-06-06 16:40] #3465 closed, assigned to pranavsid98

[2017-06-07 06:33] seanlip commented on #3438
Hi @kirankonduru, how is this going? If the ring highlight is an issue, then let's maybe file a separate issue for that and try to get what you have in first -- I'd be inclined to not block the entire PR on that.

Thanks!

[2017-06-07 06:38] seanlip commented on #3082
Hi @anthkris, how's this going?

[2017-06-07 06:39] seanlip commented on #3370
Hi @bching -- how is this going? I think it'd be great to try and complete the accessibility stuff soon, if possible, so please let us know if you need help!

[2017-06-07 06:58] pranavsid98 opened #3514 "Implement Fetch Next Job Controller"
This implements Milestone 3 of the VM project.

This controller is called by the VM to fetch the next job request from the queue. It needs to do the following steps in sequence:

1.  Validate incoming request (using validate_request() method)
2.  Fetch ClassifierTrainingJob instances in the order of their time of creation (and their statuses)
3. Extract job_request_id, exp_id, state_name, exp_vers

[2017-06-07 06:59] pranavsid98 commented on #3514
This issue can be started after the PR on ClassifierTrainingJobModel gets merged.

[2017-06-07 07:03] pranavsid98 opened #3515 "Implement Store Job Result Controller"
This implements Milestone 3 of the VM project.

This controller is used by the VM to store the result of the training job. It needs to do the following things in sequence:

1. Validate the incoming request by calling “validate_request(request_data)” method. If request is valid the proceed ahead otherwise return error code 401 (Unauthorized access).
2. Extract job_request_id, classifier_data from i

[2017-06-07 07:03] pranavsid98 commented on #3515
This can be started after the storage/domain layers are implemented. I'll take this controller issue up.

[2017-06-07 09:15] ayejay commented on #3164
Yeah, sure.

[2017-06-07 13:58] anthkris commented on #3082
@seanlip I've made some commits locally but have yet to submit a PR. I got stuck on considering mobile screenreaders and how we can hide the mobile menu from desktop screenreaders but not hide it from mobile screenreaders. I'll try do some more work this weekend.

[2017-06-07 15:19] meetsha commented on #2394
I would like to work on `core.domain.value_generators_domain`

[2017-06-07 20:06] seanlip commented on #2394
Sounds good, thanks @meetsha. I've assigned you!

[2017-06-07 22:48] seanlip commented on #3082
Ah, I think there's a windowDimensionsService in app.js. Perhaps you can use that to detect whether you're on mobile view or not?

[2017-06-08 00:59] bching commented on #3370
@seanlip Beyond researching implementations in the links provided by @anthkris  I haven't had a chance to progress as yet...

It looks like there are ways to announce a change in html nested within a div in a dynamic page, but that doesn't necessarily cause a focus shift to where we may hope/expect.

One implementation I read was designating areas that make sense for focus to reset back to when th

[2017-06-08 01:57] seanlip commented on #3370
Hm. So there are two things: detecting when to shift the focus, and figuring out what element to focus on.

The first one is, I think, doable via JavaScript? There are specific functions in the player view that do that (e.g. the one that displays the next card), but you would need to understand how that page is composed by the various directives. Note that a JS directive that's formatted as lowerC

[2017-06-08 02:18] 1995YogeshSharma commented on #3370
@bching ...
Just to make it more clear. Recently, we had changed the way how html files in many directives are referenced.
Now, html files are directly referenced in js files instead of using jinja templating.

So, If you want to find the parent html file for some directive html file :-
1.) Search for corresponding js file where it's referenced (either by greping file name like conversation_skin_d

[2017-06-08 05:06] ayejay commented on #3164
Hey, I was looking at the responses being sent from the backend. I could see only the permissions and roles related stuff which was common among all the responses. I was thinking if we have some numbers/logs so that we can identify the slowest part of the applications which would help us identify the major bottlenecks. We can prioritize our optimizations around them.

[2017-06-08 18:55] seanlip commented on #3164
Hmm. @vojtechjelinek -- would you mind clarifying the initial issue please? Is the profile picture data URL still being sent with each response, or has this been fixed? If not, maybe some instructions on how to replicate would be useful.

Also, @ayejay, that's a good idea; I think @vojtechjelinek has a doc somewhere for this. Perhaps he could share it and we could discuss there.

[2017-06-08 20:03] himanshu-dixit opened #3520 "Modify question name subfield label in simple editor sidebar"
The current question name subfield label is set to Multiple Choice. As we'll be adding more interaction type, change the subfield label according to the question type.
![imageedit_2_8671900425](https://user-images.githubusercontent.com/6849438/26948242-3e9b8b98-4cb3-11e7-9873-abd680161ce6.png)

[code]
In core/templates/dev/head/pages/exploration_editor/simple_editor_tab/SimpleEditorSidebarDirectiv

[2017-06-08 20:34] vojtechjelinek opened #3521 "Refactor values.update in render_template() in controllers/base.py"
In [base.py](https://github.com/oppia/oppia/blob/develop/core/controllers/base.py#L335) there are values that can be moved to [constants.js](https://github.com/oppia/oppia/blob/develop/assets/constants.js). The values that should be moved mustn’t be generated dynamically, that means they should be static constants.

For example `DEV_MODE` can’t be moved because inside _feconf.py_ `DEV_MODE` depend

[2017-06-08 20:59] vojtechjelinek commented on #3164
I looked at the responses and it seems that BaseHandler is now used only on a few request, so the profile picture data URL are only sent rarely.

I did only analysis on individual pages, not individual requests. I don't think that analysis of individual requests is needed for now.

[2017-06-08 21:10] seanlip commented on #3164
I'm a bit confused. BaseHandler is the superclass for all handlers. Isn't it used for all requests?

Also, when you say "individual pages", do you mean the initial load for both the page and the first data payload? I agree that those two are probably the most important to start with.

[2017-06-08 21:14] seanlip commented on #3164
Btw, I think I found the doc I was referring to earlier: [link](https://docs.google.com/document/d/1Zc2Oh8BzHfhIusFWS-DDcNEpfzfOJGKNsO9839img0E/edit#)

[2017-06-08 21:17] seanlip commented on #3234
Hi @vojtechjelinek, would it be possible to make a list of what exactly is needed here? E.g. enumerate the specific lines from base.html that we want to get rid of?

[2017-06-08 21:35] vojtechjelinek commented on #3164
Yeah, I phrased it wrongly. It is used on all requests, but the profile picture data URL are only sent only in a few request.

Yes thats what I mean. I didn’t analyse request that are send for example when using exploration player, only the requests in first load.

[2017-06-08 21:36] seanlip commented on #3164
Ah, OK, thanks @vojtechjelinek! In that case, does this issue still need to be addressed? If so, what are the specific tasks that need to be done?

(Also, how much time/bandwidth would this save overall? Trying to get a sense of whether it's worth doing.)

[2017-06-08 21:46] vojtechjelinek commented on #3164
No, I will close this issue.

[2017-06-08 21:46] #3164 closed

[2017-06-08 21:54] vojtechjelinek commented on #3234
This issue is almost solved, most of the includes were removed because we started referencing the HTML parts of directives directly from JS and after @1995YogeshSharma finishes https://github.com/oppia/oppia/pull/3506 there would be no unnecessary include.

[2017-06-08 22:20] seanlip commented on #3234
Ah OK, so after #3506 is merged, this is done? OK, sounds good, I've assigned @1995YogeshSharma to this then. Thanks!

[2017-06-09 02:39] wxyxinyu commented on #3520
Hi @himanshu-dixit -- Is this meant as a starter project for new contributors? If so, could you add more details so that a new contributor would know where to start?

[2017-06-09 13:24] pranavsid98 commented on #3467
@anmolshkl @prasanna08 . Could you verify if what I have in mind is right for this one. We would create ClassifierTraininJobs inside update_exploration() function. These jobs will only be created if the conditions for re-training are satisfied (If there is no ClassifierTrainingJob instance, we create a new one). To verify the change in training_data, we compare the job instance's training_data att

[2017-06-09 14:48] shaz13 opened #3522 "Switch from static image resources to existing font awesome icons"
A part of this was already done in #3193.
As there are still few places where static images are still used, it would be nice to switch to font awesome icons.

- [ ] Published Exploration card
- [ ] Share Exploration buttons

**Related Images**

![screenshot from 2017-06-09 14-24-52](https://user-images.githubusercontent.com/24438869/26980818-e2b3e0fc-4d50-11e7-81cf-4771d765d873.png)

![screenshot

[2017-06-09 17:17] terrameijar commented on #1251
I am not able to reproduce this problem. @seanlip Can you tell me what I can do to be able to reproduce? I loaded the math explorations and the text input in each interaction works as expected.

[2017-06-09 17:55] seanlip commented on #1251
Try creating a new exploration from scratch, and selecting "Math Expression" from the list of interactions that comes up. You can preview that exploration by clicking on the Preview tab in the exploration editor. Note that this is different from text input.

[2017-06-09 21:10] tvallois commented on #3257
Hi all, i'll work on this bug. I'm reading the documentation for the moment.

[2017-06-09 21:15] kirankonduru commented on #3438
Hi @seanlip sorry for the delay had a lot of things piled up at work so couldn't get this done on time. I didn't get time to go through svg properly so I'll file it as a separate issue.

[2017-06-10 05:22] prasanna08 commented on #3467
Each time the retrain conditions are satisfied check if a job request is already in the queue for that (exp, state). If it is in queue then don't do anything, if it is not then add a new job request. Also until the new classifier is trained and stored, use old one (assuming outcome mismatch does not occur, if it does than don't use any classifier until new one is trained and stored). Does that ans

[2017-06-10 05:31] prasanna08 commented on #3515
@pranavsid98 make sure that URLs for these controllers are same as the once described in this [doc](https://docs.google.com/document/d/1plkL-jM9ZatQEa56JmvJLIEANEHp6cnMz7lurIy04xw/edit#). It would be better to define them in `feconf.py` as constants.

[2017-06-10 11:41] anmolshkl commented on #3467
@pranavsid98 I agree with @prasanna08. The training_data would anyway be fetched when the job is picked up, so we don't need to invalidate the job request. I think it would be better to document this in the form of "if ... else" conditions to ensure that we didn't miss anything.

[2017-06-10 18:20] tvallois commented on #3257
what about create a new entry called preferred_display_exploration on UserSettingsModel class? Then doing to GET request on CreatorDashboardHandler class?

[2017-06-10 18:40] seanlip commented on #3257
Yes, that sounds fine; maybe `creator_dashboard_display_preference` might be a better name.

[2017-06-10 19:58] pranavsid98 commented on #3467
@anmolshkl @prasanna08 : This is the order of condition checks I plan to keep inside the re-training function. PTAL.

The old training data is retrieved by obtaining the ClassifierTrainingJob instance corresponding to the (exp_id, state, exp_version). The new training data is obtained from the Exploration domain object passed to update_exploration().

**Outcome mismatch condition check:**
 Compare

[2017-06-11 01:50] #3466 closed, assigned to anmolshkl

[2017-06-11 02:29] seanlip commented on #2254
@mdew192837 -- this is a small refactoring project. Would you like to have a go? The idea is to get rid of the stuff in 'script' tags on those pages and move it into the corresponding JS files, to be more in sync with the general codebase style.

[2017-06-11 05:18] pranavsid98 opened #3528 "Add helper functions to classifier_services.py (for ClassifierTrainingJobModel)"
For the ClassifierTrainingJobModel, classifier_services needs to provided the following methods (+ unit tests).

- [x] get_classifier_training_job_from_model

- [x] get_classifier_training_job_by_id

- [x] _save_classifier_training_job

- [x] _create_classifier_training_job

- [x] update_classifier_training_job

- [x] delete_classifier_training_job

/cc @anmolshkl

[2017-06-11 14:56] kevintab95 opened #3532 "Implement back-end for Hints and Solution feature"
This issue is part of the Fallbacks to Hints project, requiring the setting up of backend for Hints and Solution.

[2017-06-11 22:06] wxyxinyu commented on #3532
Hi @kevintab95 -- could you please elaborate on this issue? What is it meant to track?

[2017-06-11 22:09] wxyxinyu commented on #3408
Hi @tjiang11 -- should #3272 be merged into this issue?

[2017-06-11 22:11] wxyxinyu commented on #3146
Hi @lunrong -- how is this going?

[2017-06-11 22:11] wxyxinyu commented on #3096
Hey @TruongKim -- do you have questions about this issue?

[2017-06-11 22:17] wxyxinyu commented on #2744
Hi @rachelwchen -- how is this going?

[2017-06-11 22:22] wxyxinyu commented on #2533
hi @vojtechjelinek -- any updates?

[2017-06-12 01:11] tjiang11 commented on #3408
@wxyxinyu At the moment, TTS isn't part of the current iteration, though it's being considered as an idea for the future. I think it's fine to merge, as TTS will probably only be implemented after this is complete.

[2017-06-12 06:40] kevintab95 opened #3537 "Failing FallbackOneOffJob for fallback outcomes with no feedback entries in production"
Some fallback outcomes in production have no feedback entries and this case needs to be handled safely. Also, this job must be restricted to public explorations.

[2017-06-12 17:57] lunrong commented on #3146
sorry for the delay, i'm little busy in these weeks, didn't get much progress yet

[2017-06-13 00:15] #3537 closed, assigned to nobody

[2017-06-13 00:58] rachelwchen commented on #2744
Here's a draft: https://docs.google.com/document/d/1UQ-wyDcAngR_xloWxmtWZ5SB2_Trl5Y-1qzN8bsyvuI/edit. I selected a few tips that stood out as really useful to me (from the 4 existing documents on creating explorations -- links are included in the draft). Please feel free to make edits!

[2017-06-13 01:28] #2254 closed

[2017-06-13 01:31] seanlip commented on #3326
Hi @mdew192837 -- would you like to take a look at this?

Also, as a quick FYI, here's how to set up a collection:
- You can log in as an admin, go to the Activities tab in the /admin page, scroll to the bottom and reload the existing demo collection.
- Or, you can log in as an admin, go to the Config tab in the /admin page, find the setting for collection editors, add your username to it, scroll

[2017-06-13 05:21] seanlip commented on #2744
Hi @rachelwchen, this is great, thanks! Think we could put it on the GitHub wiki (under References, perhaps)? Easier to edit and reference that way, I think.

[2017-06-14 03:12] mdew192837 commented on #3521
Do you have any example conversions @vojtechjelinek ? I'm not sure it would be easy to see which ones are able to be moved and the process of doing so. Thanks!

[2017-06-14 04:57] kevinlee12 commented on #675
Un-assigning due to lack of response.

[2017-06-14 04:57] kevinlee12 commented on #383
Hi @kefeh, updates on this issue? thanks!

[2017-06-14 04:59] kevinlee12 commented on #1251
Hi @terrameijar, I'd suggest trying out @daniel3735928559's solution after you are able to re-create the issue.

[2017-06-14 04:59] kevinlee12 commented on #2016
Un-assigning due to lack of response.

[2017-06-14 05:01] kevinlee12 commented on #2506
Un-assigning due to lack of response.

[2017-06-14 05:02] kevinlee12 commented on #2447
Hi @vojtechjelinek, any updates on this issue? Thanks!

[2017-06-14 05:05] kevinlee12 commented on #2740
Hi @ashish3805, did you get the PR in? @saeedjassani is blocked on this.

[2017-06-14 05:08] kevinlee12 commented on #2553
Hi @LanJosh, updates on this issue? thanks!

[2017-06-14 05:10] kevinlee12 commented on #3284
Hi @BenHenning, any updates on this issue? thanks!

[2017-06-14 05:11] kevinlee12 commented on #3016
Hi @ashish3805, any updates on this issue? thanks!

[2017-06-14 05:13] #3532 closed, assigned to kevintab95

[2017-06-14 05:36] ashish3805 commented on #3016
Hi @kevin, I am almost ready with the PR, will push it by evening or
tomorrow.

On Wed 14 Jun, 2017, 10:41 AM Kevin Lee, <notifications@github.com> wrote:

[2017-06-14 05:46] kevinlee12 commented on #3016
thanks @ashish3805!

[2017-06-14 06:12] kevinlee12 commented on #3532
Hi @wxyxinyu, this is meant to be an issue to track development of the backend items for Hints and Solutions.

@kevintab95, for the future, please be mindful when creating these tickets. These should also include more details on the backend implementation (even at a high level). It isn't safe to assume that the reader of this issue has read your proposal, so please keep that in mind :smile:!

[2017-06-14 06:32] rachelwchen commented on #2744
Here it is! [Advice on creating explorations.](https://github.com/oppia/oppia/wiki/Advice-on-creating-explorations) I've also placed it in the sidebar menu under References.

[2017-06-14 09:29] kevintab95 commented on #3532
@kevinlee12 -- Yep, I'll keep that in mind while filing issues in the future.

[2017-06-14 11:22] shubha1593 commented on #2394
I would like to work on  `core.domain.user_jobs_continuous`

[2017-06-14 16:06] TruongKim commented on #3096
@wxyxinyu I do. but i'm in the midst of the finals week, can i get back to you over the weekend?

[2017-06-14 18:59] seanlip commented on #2394
Sounds good, thanks @shubha1593. I've assigned you!

[2017-06-14 21:38] vojtechjelinek commented on #2447
I’m working on it. More here https://github.com/oppia/oppia/pull/3454

[2017-06-14 21:45] vojtechjelinek commented on #3521
For example `ALL_LANGUAGE_CODES`, `DEFAULT_LANGUAGE_CODE` or `DEFAULT_COLOR`, these are just static constants defined in _feconf.py_, thus they can be moved to _constants.js_

[2017-06-14 21:50] vojtechjelinek commented on #2533
Hi, I have pinged the person who said he will look at it, but so far no response.

[2017-06-14 22:08] seanlip commented on #3521
Hi @vojtechjelinek -- would you mind spelling out in a bit more detail what exactly a contributor needs to do in order to (i) ensure that all the necessary constants are moved, and (ii) ensure that everything works correctly after the move, so that someone who doesn't have context of the discussion that led to this can tackle this issue successfully? Terms like "many" and "for example" are a bit w

[2017-06-15 01:39] LanJosh commented on #2553
Hi @kevinlee12, sorry for taking so long. Currently trying to wrap my head around what's happening in the code right now, haven't gotten around to doing much of the refactoring yet!

[2017-06-15 03:18] kevinlee12 commented on #2553
okay, let me know if you have any questions!

[2017-06-15 03:20] kevinlee12 commented on #2447
sg, thanks @vojtechjelinek!

[2017-06-15 05:53] Wert1996 commented on #2394
I would like to be assigned core.domain.fs_domain :)

[2017-06-15 06:27] seanlip commented on #2394
Thanks @Wert1996. I've assigned you!

[2017-06-15 18:51] kirankonduru opened #3548 "On the collection page implement the ring highlights behind the path."
**Describe the bug:**
From #3438 : The jumping lesson icon was removed and was replaced with the new design as proposed in the issue thread. However in this new implementation the ring highlights are on top of the path and they need to be moved behind the path so that the design becomes more crisper.
P.S: This can be done only after #3523 is merged [**Merged**]

**Steps to reproduce:**
- Create a

[2017-06-16 01:20] mdew192837 commented on #3548
Not sure I understand what it looks like now and what it should look like. Can you explain in more detail? @kirankonduru

[2017-06-16 02:56] mdew192837 commented on #3490
Perhaps split this into smaller chunks?

[2017-06-16 03:06] seanlip commented on #2744
Thanks, @rachelwchen, for starting this! I've pointed Mark to it, so that he can develop it further as well.

With regards to this issue thread in general, what are the next steps? Should we leave it open or close it?

[2017-06-16 16:03] vojtechjelinek commented on #3521
@seanlip I have updated the first comment.

[2017-06-16 17:40] seanlip commented on #3521
Thanks!

[2017-06-16 18:20] kirankonduru commented on #3548
Hi @mdew192837
Okay so in the current implementation #3523 ring highlights on the lessons are on top of the path as shown in the screenshot below but in the proposed solution [here](https://github.com/oppia/oppia/issues/3438#issuecomment-302971007) the implementation required is the ring highlights below the path as shown in the 2nd screenshot here. Is it clear now?

![image](https://user-images.g

[2017-06-16 18:50] #3438 closed, assigned to kirankonduru

[2017-06-16 18:54] seanlip opened #3550 "Translations are not working on the collection viewer page"
Although the collection viewer page has some translatable text, the text on that page does not seem to be changing even after the language gets changed. This is a bug and we should figure out why it's happening (and after that, verify that the translations introduced in #3523 are working correctly).

EDIT: Note, per #2016, that this might also be an issue for the collection editor page, as well as

[2017-06-16 18:57] seanlip opened #3551 "Translations are not being persisted consistently for non-logged-in users"
(Reported by @kirankonduru)

Observed behaviour: If a user is not logged in, and changes the language on the splash page and reload, it works fine. However, if they change the language on the library page and reload or navigate to any other page, their language preferences are lost.

Expected behaviour: Language preferences should be persisted consistently for all users.

[2017-06-16 20:02] rachelwchen commented on #2744
I think we can close it for now, since we can file individual issues for
specific things that should be fixed with each exploration!

On Thu, Jun 15, 2017 at 8:06 PM Sean Lip <notifications@github.com> wrote:

--
Rachel Chen Sent from mobile.

[2017-06-16 22:21] #3528 closed, assigned to pranavsid98

[2017-06-16 22:39] #3326 closed

[2017-06-17 01:24] BenHenning opened #3553 "BadValueError: Entity has uninitialized properties: role"
I noticed this with a version of develop that's about 7 days old. This doesn't seem to happen on the local dev server, but it does repro in our test prod server. Are we not properly migrating something to a new data model? I didn't investigate beyond looking at the trace.

Trace:
[code]

[2017-06-17 01:37] seanlip commented on #3553
Oh oh. @1995YogeshSharma -- did we not specify a default value for `role`?

/cc @wxyxinyu in case this needs a hotfix.

[2017-06-17 01:45] seanlip commented on #3553
OK -- doesn't need a hotfix (Xinyu, is this right? Did this change go in the release?) but there is an important omission -- we do need a default arg for UserSettingsModel in core.storage.gae_models.user otherwise old models will not load. @1995YogeshSharma could you please fix this?

[2017-06-17 03:42] seanlip commented on #3553
Confirming this doesn't need a hotfix, since the changes weren't part of the most recent release. We do still need to make the default value change, though, and this is a must-fix before the next release.

@1995YogeshSharma -- apologies for missing this during review earlier!

[2017-06-17 06:03] seanlip commented on #2744
OK, thanks @rachelwchen! Closing.

[2017-06-17 06:03] #2744 closed

[2017-06-17 10:52] kevintab95 opened #3554 "Migrate fallbacks to hints"
Current fallbacks in production need to be migrated to hints. Also, when a new fallback is created it must be copied as a hint.

[2017-06-17 17:49] 1995YogeshSharma commented on #3553
@seanlip  @BenHenning .....

Correct me if I am wrong.
The problem is not related to "not having default value for role in gae_models" since in such cases gae gives a value of None to the property, the actual problem is "having role as required=True without having a default value".

But, I tried to replicate the error by using following process:-
1.) Checkout a commit from develop before the intro

[2017-06-17 18:02] BenHenning commented on #3553
I think the issue came from using the site without running the migration
job. Have you tried that repro?

On Sat, Jun 17, 2017 at 10:49 AM Yogesh Sharma <notifications@github.com>
wrote:

[2017-06-17 18:27] 1995YogeshSharma commented on #3553
@BenHenning ... ok, I got the error. Thanks.
Not the same one but still. Adding the default value does solve the error.

@seanlip .... should I go ahead and add feconf.ROLE_EXPLORATION_EDITOR as default value? I think it can be removed after migration?

If yes, should I do it in separate PR or one of the existing PRs ?

[2017-06-18 04:24] kevinlee12 commented on #3554
Linking to PR #3555

[2017-06-18 12:01] arjunsuri commented on #2394
@seanlip I want to take core.domain.stats_services

[2017-06-18 16:00] giritheja opened #3557 "Chrome opens up unnecessarily"
Expected behaviour: When we run start.sh, localhost should be started in the default browser.

Observed behaviour: When I run start.sh, for some reason Chrome(with a blank page) opens up along with default browser(Safari in my case).

Steps to reproduce: Keep default browser as any browser other than Chrome.
Run start.sh

Operating system / Browser: Mac OS 10.12.5 / Safari

[2017-06-18 16:16] giritheja opened #3558 "browser specific alignment issue of social icons"
The social icons seem to be misaligned and the time is 12-hour format in Safari:
<img width="1280" alt="screen shot 2017-06-18 at 9 40 55 pm" src="https://user-images.githubusercontent.com/8845039/27262195-540e3b10-546f-11e7-872a-457c7364e832.png">

While social icons seem to be perfectly aligned and the time is 24-hour format in Chrome:
<img width="1280" alt="screen shot 2017-06-18 at 9 41 14 pm"

[2017-06-18 19:09] seanlip commented on #3553
@1995YogeshSharma yes, I think everything you say sounds good. Separate PR makes sense too. Maybe add a TODO to say "remove default value after migration" or similar, and add it to your milestone task list.

Thanks!

[2017-06-19 00:04] kevinlee12 commented on #2394
@arjunsuri, I've assigned you!

[2017-06-19 06:23] arjunsuri commented on #2394
@kevinlee12  I was looking into core.domain.stats_services....Can you please tell me what exactly I have to do with documentation as this is my first ever contribution