[2021-01-03 15:06] KhushiGangopadhyay opened #11587 "start.py failing in rdp environment"
**Describe the bug**
script.py running in rdp failing for os.listdir('/dev/disk/by-id/')

**Observed behavior**
The first if check is assuming '/dev/disk/by-id/' to exist which isn't true always

**Screenshots**
![image](https://user-images.githubusercontent.com/54475447/103481622-328dff80-4e02-11eb-9698-cf739d8b2df6.png)

**Desktop (please complete the following information; delete this section i

[2021-01-03 15:32] ryuk156 commented on #11587
I tried following the mentioned steps on the wiki to setup Oppia on both my machine and VPS but still getting the same error

[2021-01-03 16:52] manasivaraiya commented on #9717
Can I work on this issue? Is it still open?

[2021-01-03 18:30] kernelpanic77 commented on #8472
@srijanreddy98 pls assign me to `search.service.ts` and `translation-tab-active-content-id
.service.ts`.

[2021-01-03 19:21] ryuk156 commented on #11587
"python -m scripts.start  --no_browser" works

[2021-01-03 19:47] ryuk156 commented on #11541
can I work on this? @mschanteltc @kevintab95

[2021-01-03 20:31] #11559 closed, assigned to atpug22

[2021-01-04 02:25] U8NWXD commented on #10798
@sachin-cpp @archi15 done!

[2021-01-04 05:08] parulpriyedarshani commented on #8472
For migrating the directive file for the ```translation-tab-active-content-id.service.ts``` I'm unable to locate the directive file. From what I understood I think that the ```translation-tab.component.ts``` is the file I'm looking for but still not completely sure. It would be really great if someone could guide me with this.
Thanks

[2021-01-04 06:33] rajni0829 commented on #6707
I would be glad to solve this issue if permitted. @seanlip @anandwana001 @nithusha21 @DubeySandeep

[2021-01-04 06:41] arpit1912 commented on #8472
@parulpriyedarshani  I don't think you have to worry about that, please refer to the merged PR for reference. In case you get stuck please let me know.

[2021-01-04 07:15] parulpriyedarshani commented on #8472
@srijanreddy98 @kevintab95 Could someone please assign me ```translation-tab-active-content-id.service.ts```. Thanks

[2021-01-04 10:27] DubeySandeep commented on #8038
@MegaMind77-coder, I've assigned you to `core/templates/pages/community-dashboard-page/services/contribution-and-review.services.ts`. Let me know if you have any questions. Thanks! :)

[2021-01-04 11:57] DubeySandeep commented on #11389
As per offline discussion with the release team, we are going to fix this for the Jan release. I'm going to remove this from the blocking bug for the Dec release, I'll add it back to the blocking bug for Jan release after completing Dec release.

[2021-01-04 12:06] ayushikulshreshta30 commented on #10798
Hello @U8NWXD !This will be my first good issue to work upon.Can I please work upon core/tests/protractor_utils/ThanksPage.js file?

[2021-01-04 14:40] DubeySandeep opened #11593 "The update_changelog_and_credits script is fetching incorrect storage files"
The update_changelog_and_credits script is fetching incorrect storage files.

**Observed bevaiour:**
 The script is returning the same filenames for the changed script and changes storage files.
![image](https://user-images.githubusercontent.com/16653571/103545999-5d428b80-4ec8-11eb-9a92-ccf3239eda37.png)

**Expected behavior:**
The script should detect correct storage files changed.

[2021-01-04 14:40] DubeySandeep commented on #11593
@vojtechjelinek, Can you please help to triage this issue?

[2021-01-04 15:00] vojtechjelinek commented on #11593
@nithusha21
https://github.com/oppia/oppia/blob/a3f7191fe7a9db9ec32bc2bf1de044a8943fef57/scripts/release_scripts/repo_specific_changes_fetcher.py#L152 needs to be chagned to `get_changed_storage_models_filenames` and tests need to be added for this, do you have time to fix it?

[2021-01-04 15:52] chris7716 commented on #8038
@DubeySandeep COuld you please assign me on **state-tutorial-first-time.service.ts**? I am working on it.

[2021-01-04 16:08] apurvbotle commented on #11206
Hi @mschanteltc, I wish to take these issues if they are open. Thanks!

[2021-01-04 16:22] apurvbotle commented on #6193
@anubhavsinha98, I would like to take up this issue if it is still open. Thanks!

[2021-01-04 16:42] apurvbotle commented on #11560
Hi @mschanteltc, @kevintab95, I would like to give it a try. Could you assign it to me, please. Thanks!

[2021-01-04 16:49] anubhavsinha98 commented on #6193
Hi @apurvbotle its already assigned to @aks681.

[2021-01-04 17:19] Radesh-kumar commented on #9718
@vojtechjelinek At present Maintenance page is served through 503(using exception handling), If we were to change it to 200,
Should we remove the exception handling completely for 503?
And the Maintenance page should be rendered as a static page?

[2021-01-04 17:23] Radesh-kumar commented on #9008
@brianrodri Can you help me to reproduce this issue?

[2021-01-04 19:38] vojtechjelinek commented on #9718
I do not think that we should serve it with 200, I think we should keep it as is.

@DubeySandeep Any opinion about this?

[2021-01-04 20:34] atpug22 commented on #11389
@U8NWXD @aks681 is there any way that we can get this test in local host?

[2021-01-04 20:40] U8NWXD commented on #10798
@ayushikulshreshta30 Welcome! I've assigned you. Let me know if you have any questions!

[2021-01-04 21:05] kevintab95 commented on #11560
Sure, just assigned you @apurvbotle!

[2021-01-04 21:16] kevintab95 commented on #11541
Hi @ryuk156, could you please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before getting started?

Also, this might be a slighty harder issue for new contributors. We usually recommend issues with the "[good first issue](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)" label to new contributo

[2021-01-04 21:19] kevintab95 commented on #11206
Hi @apurvbotle, I've just assigned you #11560. Would you prefer this one or #11560? I would recommend working on one issue at a time.

[2021-01-04 21:19] mschanteltc commented on #11464
I see, if there is no alternative, then let us stick with the original css. Can you share a screenshot of the tabs with an unselected tab that is hovered over? Thanks!

[2021-01-04 22:25] ReshuKumari commented on #11464
![Screenshot from 2021-01-05 03-52-15](https://user-images.githubusercontent.com/62715691/103585746-ac5ce080-4f09-11eb-8ac4-d8526aaa1925.png)
This is how it looks General is selected and Programming is hovered.

[2021-01-05 02:21] ryuk156 commented on #11541
Okay👍

[2021-01-05 04:12] U8NWXD opened #11601 "Error Terminating Processes with managed_firebase_auth_emulator"
In [this Github Actions CI run](https://github.com/oppia/oppia/pull/11564/checks?check_run_id=1647670671), there's an error from the `managed_process` call in `managed_firebase_auth_emulator`:

[code]

This may have been introduced by #11555.

[2021-01-05 04:22] U8NWXD commented on #11601
@brianrodri this problem is causing CI tests to fail. It seems to be caused by `managed_process` trying to shut down a process that was already killed. The `managed_process` call in question is in the `managed_firebase_auth_emulator` function you introduced by #11555, so I thought you might have some insights about what's going on. Could you take a look?

[2021-01-05 04:35] U8NWXD commented on #11389
@atpug22 are you asking if it can be reproduced locally? If so, I haven't been able to. I think only @gp201 has done so

[2021-01-05 04:50] seanlip commented on #11601
@U8NWXD just to check, is this serious enough to warrant reverting the problematic PR in the meantime? (Do we know for sure what the problematic PR is?)

[2021-01-05 04:53] brianrodri commented on #11601
Thanks for flagging @U8NWXD

Here's my take on the issue:

It looks like there's a "mystery assassin" killing the emulator shortly after it begins. `managed_process` runs under the assumption that it be solely responsible for managing the emulator's lifetime. Since that assumption is wrong, it tries to kill the emulator anyway and leads to this error.

---

First, we can avoid these errors by havi

[2021-01-05 05:00] U8NWXD commented on #11601
The `This app cannot send emails to users.` error is expected for the e2e tests. It is often printed multiple times during a test, so I don't think it should be killing anything

[2021-01-05 05:02] U8NWXD commented on #11601
@seanlip I don't yet think we need to revert anything here since brianrodri has a quick fix. When I was investigating the spike in flakes I didn't see this error at all, so I don't think it happens that often

[2021-01-05 05:04] seanlip commented on #11601
Ah ok, thanks for confirming.

Also, I confirm that email_manager.py is not an issue. I know what is going on there (basically, apps not running in prod are disabled from sending emails by default) and it's not related to this at all.

[2021-01-05 05:08] brianrodri commented on #11601
Got it, thanks for confirming. In that case, I don't see any other promising leads. I can confidently say `managed_process` is _not_ doing it, because it sends a "SIGTERM" signal once and only once at the end of the stack trace. I say "confidently" because that's how context managers are designed to work in the Python language.

I'm writing the "be more careful" PR now, but it might take a while s

[2021-01-05 05:12] gp201 commented on #11389
@atpug22 you could try creating a exploration with a pencil code editor and play or preview it.

I guess #11538 might have made the bug harder to spot. Probably try zooming in to reproduce it (ctrl + scroll).

[2021-01-05 05:33] brianrodri commented on #11601
#11602 will fix this, but it doesn't add any new unit tests. If we find a way to reproduce the error, I'll look into this again and take an earnest shot at adding test coverage.

[2021-01-05 06:08] seanlip opened #11603 "The date in the history tab is missing the year."
**Describe the bug**
When going to the History tab, it is unclear which year a commit was made in. See the screenshot below:

![Screenshot from 2021-01-04 22-06-57](https://user-images.githubusercontent.com/10575562/103612433-48222880-4ed9-11eb-8ce6-2088f7221e8c.png)

It is unclear whether the commits were made in 2020, 2019, or some other year.

/cc @mschanteltc do you have some suggestions on ho

[2021-01-05 06:09] seanlip commented on #11603
/cc @kevintab95 -- this needs a fix so I'm marking it as blocking, since it's necessary for some of the manual audit checks.

[2021-01-05 06:09] seanlip commented on #11603
Oh wait -- the old blocking bugs list hasn't been cleared yet. I'll not link it yet so as to avoid confusion.

[2021-01-05 08:02] #11527 closed, assigned to rohitkatlaa

[2021-01-05 10:07] darksun27 commented on #6707
@rajni0829 assigned to you.

[2021-01-05 15:45] DubeySandeep commented on #8038
Assigned `translation-file-hash-loader.service.ts` to @chris7716 as we already have PR for `state-tutorial-first-time.service.ts` at #11368.

[2021-01-05 16:42] jcqli commented on #9749
The usage of angular-html-bind and just-in-time compile makes `answer-submit-action.component.ts` difficult to migrate without larger changes elsewhere -- could I be reassigned to `skill-selector.directive.ts`? Thanks in advance!

[2021-01-05 18:06] ryuk156 commented on #9465
@sagangwee can I work on it?

[2021-01-05 18:33] Rijuta-s commented on #11464
hii all, I'll be working on task 7,8.

[2021-01-05 18:54] mschanteltc commented on #11464
@ReshuKumari Is the hover background color the same as the selected tab's background color? They two look almost identical to me. Is it possible we can drop the opacity of the hovered background color, or would that complicate the CSS?

[2021-01-05 19:11] kevintab95 commented on #11560
Hi @apurvbotle, I just realised, this issue isn't ready for new contributors yet. We usually recommend "[good first issues](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)" for our new contributors. Can you please take a look at those and see if any of them interests you? Thanks!

Unassigning you for now.

[2021-01-05 19:30] ReshuKumari commented on #11464
@kevintab95 can you please assign me task 12.

[2021-01-05 19:40] ReshuKumari commented on #11464
@mschanteltc yes, we can drop the opacity of background color.

[2021-01-05 19:41] U8NWXD commented on #11461
This happened again here: https://github.com/oppia/oppia/pull/11087/checks?check_run_id=1651620386

**Edit:** And again here: https://github.com/oppia/oppia/pull/11545/checks?check_run_id=1700426204

[2021-01-05 19:53] sajalasati opened #11611 "Unable to install Python2 and Pip while setting up Oppia on Ubuntu 20.04"
@prayutsu has followed through the instructions mentioned in the Installation wiki [for linux](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29), but is unable to install Python2 and Pip.

Approaches used by @prayutsu to fix this:
- He followed through the second bullet point mentioned in [wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29), about installing Pyt

[2021-01-05 19:55] DubeySandeep commented on #11611
@kevintab95, I think you have a setup in Ubuntu 20, right? If yes, can you please help us with the steps you followed to install pip and python? (We will add this to the wiki page as well as this is need until the python migration is completed.)

[2021-01-05 19:56] DubeySandeep commented on #11611
@sajalasati, Thanks for raising this issue with all the details.

[2021-01-05 20:16] mschanteltc commented on #11464
Can you reduce the opacity to 40% and send a screenshot? Thanks!

[2021-01-05 20:41] prayutsu commented on #11611
After following the second bullet point mentioned in [wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29), I got this output -
![Screenshot from 2021-01-06 02-09-21](https://user-images.githubusercontent.com/54636525/103696491-73ce0d00-4fc4-11eb-88a8-602a80ff9540.png)

[2021-01-05 20:45] prayutsu commented on #11611
After following this [answer](https://stackoverflow.com/a/55423104/12215015), I get this output -
![Screenshot from 2021-01-06 02-14-24](https://user-images.githubusercontent.com/54636525/103696829-09699c80-4fc5-11eb-901d-18ca679d77e4.png)

[2021-01-05 20:57] prayutsu commented on #11611
After following this [answer](sudo apt-get install curl python-setuptools git python-dev python-pip python-yaml
), I installed pip2 successfully.
But when I ran `  sudo apt-get install curl python-setuptools git python-dev python-pip python-yaml` I got this output -

![Screenshot from 2021-01-06 02-23-13](https://user-images.githubusercontent.com/54636525/103697640-35d1e880-4fc6-11eb-9bf6-266446b6

[2021-01-05 21:03] prayutsu commented on #11611
P.S - I had a problem installing pip earlier so I decided to reinstall everything related to python. So the above-mentioned comments and screenshots describe my latest attempts after successfully configuring `python` and `pip2`

[2021-01-05 22:49] DubeySandeep commented on #11611
Hi @prayutsu, If you already have setup for python2 and pip then you don't have to do `apt-get python-pip`. For python dev `sudo apt-get install python-dev-is-python2` should work, right? not sure! ([ref](https://ubuntu.pkgs.org/20.04/ubuntu-universe-amd64/python-dev-is-python2_2.7.17-4_all.deb.html))

Also, once python-dev is downloaded can you please try the next steps?

[2021-01-06 00:32] #11566 closed, assigned to krishita30j

[2021-01-06 01:59] rachelwchen opened #11614 "Adding share feature to Oppia Classroom"
Currently there is no share feature embedded on the [classroom page](https://www.oppia.org/learn/math/fractions). By embedding the feature, we can nudge + guide the user on how to share our lessons. We recommend adding the share feature at TWO places.

**ONE. Under the lessons tab (same link above, first tab)**
![image](https://user-images.githubusercontent.com/12159451/103720143-8a05aa00-4f7f-11e

[2021-01-06 06:14] sajalasati opened #11616 "Fix `created_on` in `LearnerPlaylistModel` and `CompletedActivitiesModel`"
This issue is similar to #10386. We need to fix the `created_on` in `LearnerPlaylistModel` and `CompletedActivitiesModel`. This will require doing some analysis along the lines of PR #11437 (used to solve #10386), and gather more context before come up with a fix for this.

[2021-01-06 06:14] sajalasati commented on #11616
@vojtechjelinek I have created this issue as per our discussion on email. I hope it looks good!

[2021-01-06 07:24] prayutsu commented on #11611
@DubeySandeep @sajalasati

This worked finally, also I'd like to add a few points -
Earlier I had installed python3 and pip3 via brew, this was also causing some problems. After reinstalling and reconfiguring python2 and installing python-dev via `sudo apt-get install python-dev-is-python2` worked. Finally to avoid further errors, I added `alias python=python2` and `alias pip=pip2` to my `.bashrc`

[2021-01-06 07:25] prayutsu commented on #11611
Thanks, @sajalasati @DubeySandeep @gp201 for the help.

[2021-01-06 07:34] prayutsu commented on #10798
Hi @U8NWXD
I want to take up ` core/tests/protractor_utils/ExplorationEditorImprovementsTab.js`

[2021-01-06 08:14] seanlip commented on #11614
Assigning to @aks681 for triage and prioritization. Thanks, @rachelwchen!

[2021-01-06 10:19] DubeySandeep commented on #11611
Thanks for the update @prayutsu, I'll go ahead and add this info to the wiki page.

[2021-01-06 12:07] sajalasati opened #11617 "Refactor lint checker tests"
While writing tests for the checker I implemented in my PR #11579, I found that most of existing lint checks do not test the functionality of lint checkers via a proper method.

**Problem Detail**: Lint checker tests usually create a `astroid.extract_node` object, and call checker class functions on them which looks like a by-pass approach. Ideally the correct approach should be to write the code

[2021-01-06 12:08] sajalasati commented on #11617
@DubeySandeep Kindly confirm if the issue description, title and label look good. Thanks!

[2021-01-06 14:13] Rijuta-s commented on #11611
@DubeySandeep , I think we should directly add the commands on the wiki page under Ubuntu 20.04 heading as shifting between pages may cause few commands to be left unseen causing errors. Also I think we should add making virtual environment in the system in case python 3 is already present in the system so that adding "alias" and connected issues dont arise.

[2021-01-06 15:22] #8801 closed, assigned to atpug22

[2021-01-06 18:28] ReshuKumari commented on #11464
![Screenshot from 2021-01-06 23-52-03](https://user-images.githubusercontent.com/62715691/103806374-ee596400-507a-11eb-97d1-5dfa04b9bfce.png)
It looks like this with 40% opacity.

[2021-01-06 19:41] BenHenning commented on #9749
Done @jcqli!

[2021-01-06 20:09] akshathkaushal commented on #10798
Hi @U8NWXD,  please assign me `core/tests/protractor_utils/ExplorationEditorPage.js` file if it is available.
Thanks!

[2021-01-06 23:17] mschanteltc commented on #11464
Thank you Reshu. Can you remove the border from the hovered container? Also can you increase the height just a bit so that the bottom of the container touches the line?

[2021-01-07 01:36] U8NWXD commented on #11296
This issue recurred in #11598. The log is [here](https://github.com/oppia/oppia/pull/11598/checks?check_run_id=1657357404).

[2021-01-07 01:40] U8NWXD commented on #11441
Failed again [here](https://github.com/oppia/oppia/pull/11598/checks?check_run_id=1657357433) in #11598. Here's the failure log:

[code]

[2021-01-07 01:43] U8NWXD commented on #10798
@akshathkaushal @prayutsu I've assigned you both! let me know if you have any questions

[2021-01-07 02:22] brianrodri commented on #11601
#11602 now adds unit tests that reproduce a "mystery assassin", so I think we can safely consider this issue as closed (after merging).

FWIW, I think it's fine for a process to be killed outside of the context, but I'm still concerned that the emulator is being killed specifically. If we ever figure out why, let's reopen this issue.

[2021-01-07 06:56] mridul-netizen commented on #10700
@darksun27 Can I work on `Learner Action` object factory.Thanks!

[2021-01-07 08:29] ryuk156 commented on #10798
Hi @U8NWXD , I want to take up  `core/tests/protractor_utils/LibraryPage.js` file  can you please assign me this file

[2021-01-07 08:57] #11601 closed, assigned to brianrodri

[2021-01-07 09:53] seanlip opened #11620 "Pre-push hook should be more strict about which refs to avoid testing."
**Describe the bug**
I found that, in some cases, the pre-push hook doesn't run when it should. One reason for this is that, in collect_files_being_pushed(), we have this code:

[code]

This is incorrect because it creates an allowlist and only tests stuff within that. It should be framed as a denylist instead, so that pre-push checks are run by default. (I discovered this when a push to HEAD fail

[2021-01-07 10:06] akshathkaushal commented on #10798
@U8NWXD PTAL PR #11618

[2021-01-07 15:24] vojtechjelinek opened #11623 "`TopicSimilaritiesModelAuditOneOffJob` failing to run on the test server"
The `TopicSimilaritiesModelAuditOneOffJob` is failing on the test server with this error:
[code]

[2021-01-07 16:44] darksun27 commented on #10700
@mridul-netizen assigned to you!

[2021-01-07 17:24] sajalasati commented on #8423
Hi @MegaMind77-coder @namanarora00 ! How is your work going on? Could you please provide some updates? If you're stuck or facing difficulty somewhere please let me know.

[2021-01-07 19:19] Rijuta-s commented on #11464
Hi @mschanteltc,
Can you tell the placement  and color of the back button for task 8?
![Screenshot from 2021-01-08 00-38-02](https://user-images.githubusercontent.com/68547101/103934689-64c59700-514b-11eb-849e-abdd217eaa79.png)

does this look nice or will it look better left aligned?

[2021-01-07 19:31] ARKEOLOGIST commented on #11543
I would like to take this up.

[2021-01-07 20:09] #9717 closed, assigned to nobody

[2021-01-07 21:26] mschanteltc commented on #11464
@kevintab95 I'm a bit confused. I thought that the Questions Editor has changed based on the [mocks](https://xd.adobe.com/view/3940de63-c416-4008-4b32-a73dc43fd7a1-4f71/screen/60550a3e-4b75-45ab-b991-9f3267a339c9) that were created. Can you clarify what's the current status of this?

[2021-01-07 21:34] kevintab95 commented on #11464
Hi @mschanteltc, questions can be created in two ways:
1. Going into the skill editor (main tab) and then clicking on "create question". This opens up a modal like the one Rijuta posted.
![image](https://user-images.githubusercontent.com/11008603/103947243-cf7fce00-515d-11eb-9571-073dc179e9a5.png)

2. Another way is to go to the Questions tab in the skill editor and then clicking on the "add quest

[2021-01-07 21:43] kevintab95 opened #11627 "[Contributor Dashboard] The "opportunity deleted" text seems to intersect with the translation text"
**Describe the bug**
Text shown for deleted opportunities seems odd.

**To Reproduce**
Steps to reproduce the behavior:

If an opportunity corresponding to a translation is deleted and the author of the submitted translation views the contributor dashboard page. It looks like this:

![image](https://user-images.githubusercontent.com/11008603/103948047-21752380-515f-11eb-93d4-a8bffa01f7e1.png)

The

[2021-01-08 01:38] U8NWXD commented on #11543
I'm going to let aks681, the Learner and Creator Experience team lead, decide who should work on this. @aks681 PTAL

[2021-01-08 01:40] U8NWXD commented on #10798
@ryuk156 I've assigned you! Let me know if you have any questions

[2021-01-08 01:40] U8NWXD commented on #10798
@akshathkaushal kevintab95 has requested changes on your PR

[2021-01-08 01:48] riyasoganii opened #11629 "Topic editor checklist not updated automatically"
**Describe the bug**
Topic editor checklist is not updated automatically. It only gets updated when the changes are saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor
 2. Click on 'add a chapter'
 3. Type a goal
 4. See that the 'checklist' item for goal is not updated

**Expected behavior**
Ideally, the checklist should be updated as soon as the box is filled.

*

[2021-01-08 01:56] riyasoganii opened #11630 "Inconsistency with 'Chapter Description' naming in topic editor"
**Describe the bug**
In the topic editor, while editing chapters, the chapter description is referred to as 'Goal' in multiple places.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor
 2. Click on 'Add new chapter'
 3. See 'Goal' and 'Chapter Description'

**Expected behavior**
Ideally, the term 'Chapter description' should be used everywhere: heading, checklist, itali

[2021-01-08 01:57] riyasoganii opened #11631 "Inconsistency in 'chapter description' in topic editor"
**Describe the bug**
In the topic editor, while editing chapters, the chapter description is referred to as 'Goal' in multiple places.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor
 2. Click on 'Add new chapter'
 3. See 'Goal' and 'Chapter Description'

**Expected behavior**
Ideally, the term 'Chapter description' should be used everywhere: heading, checklist, itali

[2021-01-08 01:58] seanlip commented on #11630
Assigning to @kevintab95 for LaCE team triage.

[2021-01-08 01:59] seanlip commented on #11631
Assigning to @kevintab95 for LaCE team triage.

[2021-01-08 03:35] HarshKhilawala commented on #9716
@kevintab95 How to enable maintenance mode?

[2021-01-08 07:23] kernelpanic77 commented on #8423
hello, @sajalasati  I was not able to figure it out. Unassign me for now.
I will get back to this later
I am working on a different issue right now.
Sorry I didn't reply earlier.

Thanks

[2021-01-08 10:11] sajalasati commented on #8423
@MegaMind77-coder Thanks for letting me know! I will re-assign you if you want to work on it later.
@namanarora00 De-assigning you also due to inactivity since more than 20 days. I will re-assign you if you want to work on it later.

[2021-01-08 11:11] DubeySandeep opened #11632 "Resolve remaining nit comments in #11499"
This issue tracks the work of the remaining comments in PR #11499.

Link to the review needed to be resolved: https://github.com/oppia/oppia/pull/11499#pullrequestreview-564166163

[2021-01-08 14:14] vojtechjelinek commented on #10700
@jameesjohn Why was I assigned here and not Sandeep? Maybe some code is not deployed?

[2021-01-08 14:25] ReshuKumari opened #11634 "It is difficult to find the cause of error in linter check while pushing."
**Describe the bug**
![Screenshot from 2021-01-08 14-53-12](https://user-images.githubusercontent.com/62715691/104025104-2337f900-51ea-11eb-9e48-ad98c9a68003.png)
Got this error while pushing the changes. It is little difficult to get the cause of linter error so that we can fix it. And also I did not get this error while running lint test separately only used to get it while pushing the code.

fi

[2021-01-08 14:34] ReshuKumari commented on #11634
cc @DubeySandeep

[2021-01-08 14:48] ARKEOLOGIST commented on #9716
@HarshKhilawala There's a file called feconf.py in the main project folder. Search for the line ENABLE_MAINTENANCE_MODE = FALSE. Change the FALSE to TRUE.

[2021-01-08 15:45] amulya00 commented on #10306
Hi @DubeySandeep , can you assign me core/templates/services/exploration-stats.service.ts

[2021-01-08 15:47] HarshKhilawala commented on #9716
Thank you so much @ARKEOLOGIST . I was finding way since few days.

[2021-01-08 16:10] vojtechjelinek commented on #11389
@aks681 @atpug22 What is the status of this? Can we expect a PR soon?

[2021-01-08 16:24] atpug22 commented on #11389
![Screenshot 2021-01-08 190846](https://user-images.githubusercontent.com/56637531/104039184-0e646100-51fc-11eb-91d9-597c005a47b2.png)
I solved the issue but while pushing the code it is getting stuck after lint checks as shown in the screenshot. I am facing this problem for the last 2-3 days and stuck here. Any idea what may be the reason?
@vojtechjelinek @aks681

[2021-01-08 16:46] vojtechjelinek commented on #11389
@atpug22 Weird, there is no error, right? You can push with a flag `--no-verify` to get past this for now, but we will need to figure out how to fix this error later.

[2021-01-08 16:47] atpug22 commented on #11389
Okay so I am pushing it right now then you can check the code

[2021-01-08 18:47] kevintab95 commented on #11634
/cc @U8NWXD

[2021-01-08 18:48] 2580ayush2580 opened #11639 "Improve the UI of Menu-bar icon"
Menu-bar icon does not have even outline.

![o1](https://user-images.githubusercontent.com/56980422/104051755-a79c7300-520e-11eb-8949-d2aedec8839a.png)
![o2](https://user-images.githubusercontent.com/56980422/104051758-a9663680-520e-11eb-8d82-98021d722333.png)

**Describe the solution you'd like**
we should change the menubar icon from image-1 to image-2.

Image-1
![o3](https://user-images.githubu

[2021-01-08 19:24] kevintab95 commented on #7378
Duplicate of https://github.com/oppia/oppia/issues/8029. Closing.

[2021-01-08 19:24] #7378 closed, assigned to kevintab95

[2021-01-08 19:51] christinetsai commented on #10474
Hi @nishantwrp , could you assign the following files to me?
- CollectionNodeObjectFactory
- MusicPhrasePlayerService

[2021-01-08 19:55] kevintab95 commented on #11631
Duplicate of https://github.com/oppia/oppia/issues/11630.

[2021-01-08 19:55] #11631 closed, assigned to kevintab95

[2021-01-08 21:16] SarahZLipeles commented on #11632
Reference to comments from https://github.com/oppia/oppia/pull/11499
- [ ] https://github.com/oppia/oppia/pull/11499/files/4d5afb9487ec4939657dc60050e3044e493734fc#r554063408
- [ ] https://github.com/oppia/oppia/pull/11499#discussion_r553871936
- [ ] https://github.com/oppia/oppia/pull/11499#discussion_r553872146
- [ ] https://github.com/oppia/oppia/pull/11499#discussion_r553873694
- [ ] https://g

[2021-01-08 22:04] sagangwee commented on #9258
Updated [email notifications design doc](https://docs.google.com/document/d/1tuXPSHvUN6I32Rle7E2CQs5HONgtP3TMuA__bWEsoDY/edit#heading=h.3v6abk545vio) and corresponding [testing doc](https://docs.google.com/document/d/1ElzR8y0TZglNOZRNPoNQYS1LdKb3fWkCvFbtkcSn7ho/edit#).

[2021-01-08 22:04] #9258 closed, assigned to nobody

[2021-01-09 03:03] U8NWXD opened #11642 "Flaky Backend Test: scripts.common_test.ManagedProcessTests.test_kills_child_processes"
The backend tests [failed](https://github.com/oppia/oppia/pull/11619/checks?check_run_id=1667289203) in #11619.

Log:
[code]

[2021-01-09 05:27] nithusha21 commented on #4252
This seems to be fixed (not sure which PR, I just retried it). Tried on all screen size presets on Chrome.

![image](https://user-images.githubusercontent.com/11898234/104084002-3dfd8280-5269-11eb-8e8c-df41fe8a6734.png)

![image](https://user-images.githubusercontent.com/11898234/104084005-48b81780-5269-11eb-8505-202d6d6d2a1d.png)
![image](https://user-images.githubusercontent.com/11898234/1040840

[2021-01-09 05:27] #4252 closed, assigned to nobody

[2021-01-09 05:33] nithusha21 commented on #7543
I am not able to reproduce this anymore. My guess is that the issue has been fixed.

[2021-01-09 05:33] #7543 closed, assigned to kevintab95

[2021-01-09 05:35] nithusha21 commented on #6223
This issue doesn't seem to exist anymore. I tried on different screen sizes and it worked fine!

[2021-01-09 05:35] #6223 closed, assigned to nobody

[2021-01-09 05:37] nithusha21 commented on #5791
This has been fixed.

[2021-01-09 05:37] #5791 closed, assigned to kevintab95

[2021-01-09 05:39] nithusha21 commented on #8784
I believe all instances of this have been fixed. @kevintab95  could you please confirm?

[2021-01-09 05:51] #10386 closed, assigned to vojtechjelinek, sajalasati

[2021-01-09 12:41] Radesh-kumar commented on #8472
@srijanreddy98 @arpit1912 can you assign this "learner-view-rating.service.ts" ?

[2021-01-09 13:37] arpit1912 commented on #8472
@Radesh-kumar sure! you can start working on the file.

[2021-01-09 17:35] aniketsingh98571 opened #11645 "Social media icons in Readme.md"
**Is your feature request related to a problem? Please describe.**
It's related to documentation
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**Describe the solution you'd like**
In the social media section of Readme.MD, I think adding social media icons will look quite attractive instead of just writing text.
And also if allowed, I can make the whol

[2021-01-09 17:36] aniketsingh98571 commented on #11645
@seanlip @BenHenning  I would love to solve this issue.

[2021-01-09 17:37] santoshkpatro commented on #10306
we can assign async to private functions as well ???

[2021-01-09 17:47] nishantwrp commented on #10474
@christinetsai done.

[2021-01-09 18:59] DubeySandeep commented on #11438
Assigning this issue @chris7716. (as per offline discussion.)

[2021-01-09 20:00] atpug22 commented on #11464
@kevintab95 can you please assign me task 9?

[2021-01-09 20:22] kevintab95 commented on #11464
Hi @atpug22, Task 9 might be a bit complex, could you take a look at Task 20, 21 please? Let me know.

[2021-01-09 20:27] atpug22 commented on #11464
okay sure

[2021-01-09 20:28] kevintab95 commented on #11464
@atpug22 I've just assigned them to you. Thanks!

[2021-01-09 20:44] ReshuKumari commented on #11464
@kevintab95 @atpug22 I already have a pr raised for task 20 and 21.

[2021-01-09 20:46] kevintab95 commented on #11464
Oh, sorry about that. This was not clear because those tasks seemed unassigned in the issue description. Anyway thanks @ReshuKumari! I'll assign you.

@atpug22 I will find another issue for you and let you know!

[2021-01-09 20:48] kevintab95 commented on #11519
@atpug22 would you like to work on this? Let me know!

[2021-01-09 20:48] atpug22 commented on #11464
@kevintab95 in Task 21 border is not added at the bottom because if there are 2 or more hints then the bottom border of one hint coincides with the top border of another as shown in the second screenshot which looks little odd.
So these two screenshots are before and after adding the border.

This same issue is with task 20.
There is one option to add a gap between the two but then it will look od

[2021-01-09 20:50] atpug22 commented on #11464
okay No Problem

[2021-01-09 20:52] atpug22 commented on #11519
okay Sure I will look into this.

[2021-01-09 21:11] ARKEOLOGIST commented on #11639
Thanks for the suggestion, I have deployed a fix for this.

[2021-01-10 06:06] arpit1912 commented on #8472
@DragaDoncila @aishwary023  @SabujPro @nithusha21  @subedi90 @agbanusi @nadintamer @bobbychen1999
 please comment the status of the file that you have claimed, thanks!

[2021-01-10 06:08] aishwary023 commented on #8472
PR has been merged

[2021-01-10 09:53] gp201 commented on #11536
a similar issue has occurred with the interactive map container.
![image](https://user-images.githubusercontent.com/30050862/104119760-c9edd800-5357-11eb-8308-042b8349b6f9.png)

[2021-01-10 12:45] gp201 opened #11653 "[Exploration editor] Mobile view close button hidden."
**Describe the bug**
The close button is hidden behind the Interaction preview (**Note: This issue appears to be occurring to all interactions**)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Create exploration.
 2. Add an interaction.
 3. View the website in Moto G4 using dev tools.

**Observed behavior**
The close button is hidden behind the Interaction preview

**Expected behavio

[2021-01-10 13:38] gp201 commented on #5076
![oppia-code-editor](https://user-images.githubusercontent.com/30050862/104124457-054bcf00-5377-11eb-9589-cbea66ff713b.gif)
@kevintab95 this appears to be resolved.

[2021-01-10 13:51] kevintab95 commented on #5076
Closing per https://github.com/oppia/oppia/issues/5076#issuecomment-757477745. Thanks @gp201 for confirming!

[2021-01-10 13:51] #5076 closed, assigned to nobody

[2021-01-10 16:40] U8NWXD opened #11655 "Problem Installing Chrome in CI"
E2E test [failed](https://github.com/oppia/oppia/pull/11615/checks?check_run_id=1672356505) in #11615.

[code]

[2021-01-10 17:56] Rijuta-s opened #11657 "Create separate component for testimonials."
As discussed in #11467 ,Testimonials are being used currently in 3 pages namely teach page, About page and Android page. Therefore, a new component which will contain testimonials code should be created which  can then be directly injected in these pages.

TODO : extract the testimonials code from teach page, About page and Android page into a separate component.

[2021-01-10 19:31] Rijuta-s commented on #11464
@kevintab95 can you please assign me task 17?

[2021-01-10 19:35] Rijuta-s commented on #6292
warning when rte is open:
![Screenshot from 2021-01-11 01-02-26](https://user-images.githubusercontent.com/68547101/104133334-f9790080-53a8-11eb-86fd-560776ae1ed6.png)

warning when rte is closed:
![Screenshot from 2021-01-11 01-02-41](https://user-images.githubusercontent.com/68547101/104133339-03026880-53a9-11eb-9a84-f839cd40d9c6.png)

closing this issue as it is fixed.

[2021-01-10 19:35] #6292 closed, assigned to Rijuta-s

[2021-01-11 06:02] rohanakut commented on #10306
Hey @kevintab95 @DubeySandeep could you assign me core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts file?

I am new to open source and I have filled the contribution survey and CLA.

[2021-01-11 16:20] chris7716 commented on #11438
![Screen Shot 2021-01-11 at 9 48 16 PM](https://user-images.githubusercontent.com/41409951/104208676-c5f4af80-5456-11eb-97b4-1a59ea092b38.png)
Hi @DubeySandeep This what I am getting when I navigate to http://localhost:8181/contributor-dashboard Could you please let me know more details about this issue? Any doc to follow for Contributor Dashboard would be great though I was unlucky to find them 😢

[2021-01-11 21:05] mschanteltc commented on #11464
If the user clicks on "Create Question" from the Skill Editor, it should redirect to the Questions tab and open up the question editor screen. That way, the creator can view all details of the question without having to navigate it through a modal. It would be difficult for a creator to navigate through a modal to edit certain details of a question, so this [mock](https://xd.adobe.com/view/3940de6

[2021-01-11 21:22] kevintab95 commented on #11464
Hi @mschanteltc, thanks for the comment. I think we can do (1).

For (3) though, I would need @DubeySandeep's opinion because it relates to the contributor dashboard page. @DubeySandeep is there a specific reason to show it in a modal here. Would it be possible to show an interface similar to what we have in the question editor tab (in the skill editor)?

[2021-01-12 04:16] sabujmaity commented on #8472
I am working on it.

[2021-01-12 07:52] arpit1912 commented on #8472
@DragaDoncila @nithusha21  @subedi90 @agbanusi @nadintamer @bobbychen1999
unassigning you all from the files so that others can claim those files, feel free to comment to reclaim the files again!
Thanks!

[2021-01-12 10:24] prayutsu commented on #8038
@DubeySandeep Can I get ` core/templates/services/state-rules-stats.service.ts`?

[2021-01-12 10:35] prayutsu commented on #8038
Has it been renamed? The page isn't available when I click on the given link

[2021-01-12 16:38] sajalasati commented on #11617
The suggested fix as mentioned in issue description is not needed. Please refer to this [comment](https://github.com/oppia/oppia/pull/11579#discussion_r555902975).
Also, by doing a closer inspection we found that the current tests aren't really by-passing the correct mechanism, they assign the filename to the node, because they use it to actually read raw lines of code from the files.

This refact

[2021-01-12 16:38] #11617 closed, assigned to nobody

[2021-01-12 16:52] EricZLou commented on #11587
@brianrodri -- Just wanted to tag you here since I noticed you made some changes to the start script that happen to affect Windows development via WSL (and perhaps VirtualBox). I'm working through WSL and am getting the same error as above. Using the `--no_browser` flag is a fix. Is this expected? Should Windows developers start using ```python -m scripts.start --no_browser```? cc: @HarshKhilawala

[2021-01-12 16:55] HarshKhilawala commented on #11587
@EricZLou Thanks!

@kevintab95 @srijanreddy98 Tagging you so that anyone can update the wiki or fix the issue.

[2021-01-12 17:25] brianrodri commented on #11587
Unfortunately I didn't write that condition, I just updated its value, so I don't actually know why we need/use it.

Looks like it was introduced in https://github.com/oppia/oppia/pull/5391/files to fix #5386. @aks681 was a reviewer for that PR, maybe he can help find a better fix?

[2021-01-12 18:28] aks681 commented on #11587
@brianrodri Which PR did you mean? For #5391, I wasn't a reviewer.

[2021-01-12 18:32] brianrodri commented on #11587
@aks681 ah whoops, I must have misread the usernames -- sorry about that! @apb7 was the reviewer I meant to assign, but I don't think he's available to help push. I'm not really sure who else has windows + virtualbox experience for debugging (I don't, unfortunately), so will tentatively assign to @DubeySandeep.

[2021-01-12 19:39] sagangwee commented on #9465
@RaviKumar7870 Any updates on this?

[2021-01-13 12:28] parulpriyedarshani commented on #10700
@srijanreddy98 I would like to work on ```AnswerStats``` Object Factory. Could you please assign it to me?
Thanks.

[2021-01-13 16:09] vojtechjelinek opened #11675 "When creating story there is no limit on the Description length that can lead to server error"
When creating story from the topic editor there is no limit on the Description length, if the added description is to long it leads to server error.
![image](https://user-images.githubusercontent.com/10142938/104477841-df663a80-55c1-11eb-86e2-9bb9079285d5.png)
![image](https://user-images.githubusercontent.com/10142938/104477974-091f6180-55c2-11eb-80c2-2a8fa8fe5f2b.png)
![image](https://user-image

[2021-01-13 16:16] vojtechjelinek opened #11676 "The banner on the community library is too low"
On the test server the banner on the community library (https://oppiatestserver.appspot.com/community-library) is to low and so that the button is partially hidden.

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: Ubuntu
 - Browser: Firefox
 - Version: latest

**Additional context**
Add any other context about the problem

[2021-01-13 16:34] vojtechjelinek opened #11677 "When the order of chapters is changed in the story editor the second chapter cannot be deleted"
In the story editor when we add one chapter and then a second one, change the order of the chapters and attempt to delete the now second chapter, there is an error. Saving the draft does not fix this.
![image](https://user-images.githubusercontent.com/10142938/104481033-91ebcc80-55c5-11eb-936a-b509a8b44095.png)

[2021-01-13 16:46] HarshKhilawala commented on #9716
Unassigning me from the task
@DubeySandeep The above issue does not seems to be reproducible on my end. Thanks!

[2021-01-13 17:09] vojtechjelinek opened #11678 "When searching for skills the topics that do not satisfy the search should not be visible"
When you try to search for skill when for example merging two skills and add some text to the search bar the topics that do not contain skills that satisfy the search bar query should not be visible, since it is only confusing why they are shown.

![image](https://user-images.githubusercontent.com/10142938/104484974-340db380-55ca-11eb-8628-590720c3405a.png)
![image](https://user-images.githubuserc

[2021-01-13 17:11] vojtechjelinek opened #11679 "When merging two skills there should be some success indicator"
When merging two skills there should be some success indicator, right now there is none even if the merge was successful.

[2021-01-13 17:26] vojtechjelinek commented on #9716
@ARKEOLOGIST Didn't you also fix this issue in #11624?

[2021-01-13 17:34] ARKEOLOGIST commented on #9716
@vojtechjelinek Yep, it actually should be fixed actually. @DubeySandeep Can you please check?

[2021-01-13 17:35] ARKEOLOGIST commented on #9716
If it's still occurring I'll fix it.

[2021-01-13 17:53] vojtechjelinek opened #11680 "[Contributor dashboard] Subtitle has tow lines and intersects with title"
Image explanation should be enough, the subtitle should be ellipsed.
![image](https://user-images.githubusercontent.com/10142938/104487093-f199a600-55cc-11eb-8404-6157a331af93.png)

[2021-01-13 17:55] vojtechjelinek opened #11681 "[Contributor dashboard] When suggestion is opened there is no way to cancel"
I would expect that I can Rejec, Accept, and also Cancel when I do not want to make the decision right now or I just clicked a wrong suggestion.
![image](https://user-images.githubusercontent.com/10142938/104490200-d761c700-55d0-11eb-856d-a3e4d9c9b681.png)

[2021-01-13 18:15] nishantwrp opened #11682 "Translation tour doesn't work on editor tab"
**Describe the bug**
The translation tour doesn't work on the editor tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration
 2. Click on the `?` on the navigation bar.
 3. Click on `Translation Tour`
 4. Nothing happens

**Observed behavior**
Translation tour doesn't work on the editor tab.

**Expected behavior**
It should automatically change the tab and start the to

[2021-01-13 18:16] nishantwrp commented on #11682
/cc @oppia/lace-team

[2021-01-13 18:26] DubeySandeep commented on #11438
I'm not sure what I should explain more, can you please go through the issue description and ask me a specific question? I'll be very happy to help! :)

You can find the creator's doc here: https://oppia-user-guide.readthedocs.io/en/latest/contributor/contribute.html

[2021-01-13 18:38] #11627 closed, assigned to DubeySandeep

[2021-01-13 18:39] DubeySandeep commented on #9464
closing this issue as it got resolved in #11622

[2021-01-13 19:24] DubeySandeep opened #11683 "Don't allow contributors to copy paragraph through copy-tool while suggesting translation"
Currently, we allow contributors to copy paragraphs through the copy tool in the suggestion modal. The paragraphs are translatable content and we should not allow users to copy such items. Through this issue, we want to change the copy-tool such that it doesn't copy any paragraph content.
![image](https://user-images.githubusercontent.com/16653571/104499371-03963b80-5603-11eb-9377-a3b723c872a0.png

[2021-01-13 19:28] DubeySandeep opened #11684 "Add a validation to ensure the suggested translation has correct structure"
Through this issue, we want to add a feature to disallow the user to create a translation suggestion if the translated text doesn't match the structure of the content (Which needs translation).

As the translated text is expected to be user-facing the structure validation will ensure that the translated text matched the structure of the main content.

[2021-01-13 19:46] atpug22 opened #11685 "Heading and SubHeading are overlapping in translation section of Contributors Dashboard"
**Describe the bug**
Heading and SubHeading of translations are overlapping in translations section of Contributors Dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
 2. Click on Translate Text
 3. Scroll down to translations and there you can see the error and on zooming the screen other translations also show the same

[2021-01-13 20:41] atpug22 opened #11686 "[CD] Language selector UX improvements"
**Is your feature request related to a problem? Please describe.**
1. Currently, while selecting the language to which the user wants to translate the text we need to scroll down and search our language among so many languages.
2. Cursor type while selecting or hovering on any option is "text" which looks a little odd.

**Describe the solution you'd like**
1. We can improve a search feature so tha

[2021-01-13 22:09] sagangwee commented on #10306
@kevintab95 Can you help to assign an issue to @shubhamkorde (https://github.com/oppia/oppia/issues/10306#issuecomment-752302383)? Thanks.

[2021-01-13 22:35] riyasoganii opened #11687 "Issue with Prerequisite Skills in Story"
**Describe the bug**
When adding a prerequisite skill from place values to the chapter 3 of division, I got an error mentioning that this skill has not been taught in any chapter before it, which is not the case, as it has been covered in the place values lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor
 2. Add a story
 3. Add a chapter
 4. Add pre-requisite s

[2021-01-13 23:21] seanlip commented on #11687
@kevintab95 could you please triage this? Thanks!

[2021-01-14 01:34] #11519 closed, assigned to atpug22

[2021-01-14 05:30] brianrodri commented on #11475
I've created a job inventory spreadsheet for tracking essential jobs, this will eventually be used to create follow-up issues for tracking.

https://docs.google.com/spreadsheets/d/1viYI6AXiFksy_K2njqETTUjCCLP2tfILbahKCAYbA7w/edit?usp=sharing

[2021-01-14 08:18] parulpriyedarshani commented on #10700
@srijanreddy98 I have already made a commit and I'm opening a PR for the same. Could you please assign the requested file to me? Thanks.

[2021-01-14 10:30] ARKEOLOGIST commented on #11639
Is it possible to post a slightly detailed screenshot of how you want it to look like?

[2021-01-14 10:57] iamprayush opened #11692 "Division symbol in the math interactions always shows a fraction."
**Is your feature request related to a problem? Please describe.**
When using a math interaction, pressing "/" for division always renders a fraction.

**Describe the solution you'd like**
 We should have a customization arg for this so that the creator can specify if they want the slash to be rendered or the fraction.

**Describe alternatives you've considered**
Instead of a customization arg, we

[2021-01-14 11:22] srijanreddy98 commented on #10700
@parulpriyedarshani done!

[2021-01-14 12:15] 2580ayush2580 commented on #11639
shall I work on this?

[2021-01-14 13:11] ARKEOLOGIST commented on #11639
Please do so.

[2021-01-14 14:09] ARKEOLOGIST commented on #11639
@2580ayush2580 Please sign the CLA before you can get started.

[2021-01-14 14:11] vojtechjelinek opened #11693 "Add validation for `MAX_COMMIT_MESSAGE_LENGTH`"
Add validation for the maximum commit length (`MAX_COMMIT_MESSAGE_LENGTH`) to the commit logs and snapshot metadata models.

[2021-01-14 14:41] vojtechjelinek opened #11694 "The preview tab in Skill editor doesn't work"
The preview tab in the Skill editor is not working where there is at least one questions.

![image](https://user-images.githubusercontent.com/10142938/104605253-8a3c2e80-567e-11eb-8a56-4ecb91d41531.png)

![image](https://user-images.githubusercontent.com/10142938/104605237-86101100-567e-11eb-8bb9-3acffc61e02d.png)

[2021-01-14 14:53] vojtechjelinek opened #11695 "Weird looking solution in question editor"
The solution for the question with Drag and Drop interaction looks weird and should be probably fixed.

![image](https://user-images.githubusercontent.com/10142938/104606412-02efba80-5680-11eb-9222-98b7a36d8540.png)

[2021-01-14 15:08] vojtechjelinek opened #11696 "A merged skills break the Topic editor"
When two skills that are assigned to two topics are merged, one of the topics will then be broken and will contain `null` skill.
![image](https://user-images.githubusercontent.com/10142938/104608638-6844ab00-5682-11eb-8aa4-4d5610636579.png)
![image](https://user-images.githubusercontent.com/10142938/104608850-ae9a0a00-5682-11eb-9f39-e05ae30da62f.png)

[2021-01-14 16:17] 2580ayush2580 commented on #11639
I have signed in.

[2021-01-14 18:55] gp201 commented on #9041
This issue has been fixed by #11175. Hence, Closing the issue.
### Proof
![image](https://user-images.githubusercontent.com/30050862/104635429-e24b5300-56c7-11eb-90c7-fa36254ab88f.png)

[2021-01-14 18:55] #9041 closed, assigned to nobody

[2021-01-14 19:06] gp201 commented on #7664
This issue appears to be fixed. The warning symbol was removed completely.

### Proof:
![image](https://user-images.githubusercontent.com/30050862/104636594-99949980-56c9-11eb-854b-b1bd4f680bd5.png)

[2021-01-14 20:28] kevintab95 opened #11698 "Creator dashboard needs pagination"
**Describe the bug**

Newly-created explorations can't be found in the creator dashboard since query is limited to 100 items.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create 100+ explorations.
 2. Create few more explorations.
 3. Observe that the latest explorations are not visible in the creator dashboard even on sorting it.

**Observed behavior**
Newly-created explorations can't b

[2021-01-14 20:33] kevintab95 opened #11699 "Linting rule to prevent the usage of !important in CSS"
We need a linting rule to prevent the usage of `!important` in CSS (see [style doc](https://github.com/oppia/oppia/wiki/Coding-style-guide#css)).

[2021-01-14 21:05] DubeySandeep commented on #11699
Can be implemented through [declaration-no-important in the stylelint](https://stylelint.io/user-guide/rules/declaration-no-important).

[2021-01-14 21:25] #9464 closed, assigned to nobody

[2021-01-14 21:31] atpug22 opened #11700 "Review Translations not working properly"
**Describe the bug**
There are some errors in closing and accepting reviews in review translations on the contributors' dashboard.
1. After closing the translation review dialog from any page (not page 1), the reviews of that page changes to that of the first page but the page remains the same i.e. previous button will take you to the (initial page - 1) and next button to the (initial page + 1).
*

[2021-01-14 22:42] sagangwee commented on #11680
Duplicate of https://github.com/oppia/oppia/issues/11627.

[2021-01-14 22:42] #11680 closed, assigned to sagangwee

[2021-01-14 22:43] #11389 closed, assigned to aks681

[2021-01-15 05:28] mridul-netizen commented on #10700
@darksun27 `LearnerActionObjectFactory.ts` file already contains a type `LearnerAction` so can I rename my `LeanerActionObjectFactory` to `LearnerActionModel`?

[2021-01-15 05:31] darksun27 commented on #10700
it would be learner-action.model.ts

[2021-01-15 06:02] HarshKhilawala opened #11703 "Pasting Translation text via Right Click in Contributor Dashboard does not seems to work properly"
**Describe the bug**
A clear and concise description of what the bug is.

At first Instance, the text display is out of desired range.
Also, the pasting via right click should work as fine as equivalent to CTRL+V

![Screenshot (2)](https://user-images.githubusercontent.com/61461050/104687101-88c54180-5724-11eb-80ed-b5195c39b58b.png)

![Screenshot (4)](https://user-images.githubusercontent.com/6146

[2021-01-15 07:14] sajalasati commented on #8423
Hey @AthulJoshi ! Any updates on your PR? If you are stuck somewhere, let us know!

[2021-01-15 08:37] akashdwivedi98 opened #11704 "Encountered "Site Not Found" error when opening the User Documentation link."
When opening the User Documentation link, it shows "Site Not Found (404)" error. Kindly update the link address.

**Screenshot of the link location :**
The link is highlighted in the screenshot attached below.

Link of the page : [https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2021#selection-criteria](url)

![Screenshot 2021-01-15 135402](https://user-images.githubusercontent.com/298176

[2021-01-15 11:08] atpug22 opened #11705 "Copy tool not working properly"
**Describe the bug**
A clear and concise description of what the bug is.
The copy tool can only copy the text which we have to translate in another language in the same dialog box and outside the dialog box the copy tool doesn't work so what's the use of the copy tool then.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
 2. Cl

[2021-01-15 11:20] atpug22 opened #11706 "Cursor doesn't change back to normal after closing translation dialog box without switching off copy tool"
**Describe the bug**
If we close the translation dialog box after switching on the copy tool the cursor doesn't change back to normal and when we open another translation the cursor remains the same though the copy tool is off.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
 2. Click on "Translate text" and open any translatio

[2021-01-16 00:30] Radesh-kumar opened #11713 "E2E test failing in the Admin Tab"
**Describe the bug**
A clear and concise description of what the bug is.
E2E test failing in the Admin Tab
**To Reproduce**
Steps to reproduce the behavior:
 1. Redirect to oppia directory in terminal
 2. python -m scripts.run_e2e_tests --suite="adminPage"

**Observed behavior**
A clear and concise description of what you have observed.
2 test are failing
**Expected behavior**
A clear and concise

[2021-01-16 05:50] abhay313 commented on #11685
please assign this to me.

[2021-01-16 07:18] darksun27 opened #11715 "Spacing between topic tiles is more than expected."
**Description**
The spacing between topic tiles seems to be a little too large.
This spacing seems odd when seen on a mobile phone.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any classroom page [Mobile Browser}

**Screenshots**
![spacingInTheTilesSeemsOdd](https://user-images.githubusercontent.com/31998550/104805839-f642a200-57f8-11eb-948b-069b7523a78f.png)

**Smartphone:**
 - iP

[2021-01-16 07:24] darksun27 opened #11716 "Explore button on Library Page is not shown completely."
**Description**
The explore button on the library page is not shown completely in the banner for the mathematics classroom.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library Page

**Observed behavior**
The bottom part of the button is cut.

**Expected behavior**
The button should be shown completely.

**Screenshots**
![buttonSeemsToBeCut](https://user-images.githubusercontent.co

[2021-01-16 07:28] darksun27 opened #11717 "No arrow pointer on the feedback popup"
**Description**
The feedback popup when clicked on the rating stars does not show any arrow pointing to the star that was clicked.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the library page
 2. Click on complete a story
 3. Give a rating at the end of the story.

**Observed behavior**
No arrow pointing to the rating provided by the user is observed.

**Expected behavior**
An arr

[2021-01-16 07:33] darksun27 opened #11718 "Odd line break after topic title."
**Description**
There is a line break after the number of chapters and the before the word "chapters" in the topic title on mobile screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any topic landing page.

**Observed behavior**
The line break between the number of chapters and the word "chapters" seems odd.

**Expected behavior**
There should be a separate line after the topic

[2021-01-16 09:53] DubeySandeep commented on #9458
It seems like @mmkm10 now facing this issue with pre_commit_linter and the linter isn't throwing an error instead it's taking an infinite time to complete. I tried logging and found the same issue `Unable to open: ...`

@mmkm10 Can you please share the logs here, so that others can take a pass?

[2021-01-16 10:04] mmkm10 commented on #9458
[code]
This is what I get while trying to use pre_commit on the exploration-features-service-spec.ts file.
It is taking endless time for checking the file
The line 27 of the mentioned file is:
`let explorationFeatureService: ExplorationFeaturesService;`

[2021-01-16 14:34] Preethi9194 opened #11720 "Exploration Editor - Unresolved student answers is unclear"
Exploration Editor - Unresolved student answers is unclear, the purpose of this is not clear
Either the creator should be initially prompted with this feature (if they are new) while selecting the inter-actions.
Also, the placement of this option is not easily found - exploration editor’s statistics tab

Steps to reproduce the behavior:
 1. Load the url
 2. Navigate to Creators dashboard
 3. Creat

[2021-01-16 14:34] mridul-netizen opened #11721 "Language of Delete and Export account buttons should also change like rest of the preferences page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/preferences'
 2. Click on 'preferences tab 'on top right corner
 3. Scroll down to 'bottom of page'
 4. Change language of page to something else

**Observed behavior**
language of export and delete account sections are not changed

**Screenshots**

![Screenshot from 2021-01-16 19-59-31](https://user-i

[2021-01-16 14:49] Preethi9194 opened #11722 "Creator Dashboard - Learner's answers are logged and available for creators to study in the exploration editor’s statistics tab is not understandable without assistance"
Creator Dashboard - Learner's answers are logged and available for creators to study in the exploration editor’s statistics tab, is not understandable without assistance
Any other answers given by the learner other than the correct answers are not logged for the creator to view

Steps to reproduce the behavior:
 1. Load the url
 2. Navigate to creators dashboard
 3. Create an exploration
 4. Visit

[2021-01-17 07:43] HarshKhilawala commented on #10306
@kevintab95 Please assign me any one of the above files. (If possible, assign me with any 2 files)

[2021-01-17 08:03] HarshKhilawala commented on #9726
@Showtim3 Assign me this issue.

[2021-01-17 09:17] ARKEOLOGIST commented on #9726
@HarshKhilawala I think this issue has been resolved. I had a look through the folders and it seems to be in its correct place now.

[2021-01-17 10:13] shibrahmachari commented on #9186
can i take up this issue?

[2021-01-17 13:43] #11536 closed, assigned to gp201

[2021-01-17 16:16] HarshKhilawala commented on #9726
Thanks for pointing out @ARKEOLOGIST

[2021-01-17 19:57] 2580ayush2580 opened #11725 "Explore button is not showing on small mobile screens"
**Describe the bug**

Explore button is not showing on small mobile screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [https://www.oppia.org/community-library](https://www.oppia.org/community-library)
 2. Click on Inspect element
 3. Inspect on small screens 320px
 4. See error

**Observed behavior**
Explore button is not showing on small mobile screens

**Expected behavior**
E

[2021-01-17 22:57] varun-tandon opened #11726 "Synchronize the commit messages between the SnapshotMetadataModels and CommitLogEntryModels."
See discussion here: https://github.com/oppia/oppia/pull/11465#discussion_r549676931

After performing a truncation of the BaseSnapshotMetadata-derived models, we also want to synchronize the CommitLogEntryModels to have these truncated commit messages.

[2021-01-18 05:20] HarshKhilawala commented on #9726
@Showtim3 Please close the issue as its already resolved

[2021-01-18 06:56] shubhamkorde commented on #8472
Hii @tyleri @arpit1912 , I would like to work on suggestion-modal-for-learner-dashboard.service.ts and suggestion-modal-for-exploration-player.service.ts. Can you please assign these to me (if they are unclaimed)?

[2021-01-18 11:04] prayutsu commented on #10798
@U8NWXD I want to work on `GetStartedPage.js`

[2021-01-18 12:46] AthulJoshi commented on #8423
@sajalasati No, you can unassign me from the issue. Sorry for taking so much time. I guess its okay to come back and look for other issues later. Thanks @DubeySandeep for the helps too :D, I got to learn about pylint and stuff.

[2021-01-18 12:48] prayutsu commented on #8472
@tyleri I want to take `story-creation.service.ts`. Can you please assign this file to me?

[2021-01-18 12:53] arpit1912 commented on #8472
@shubhamkorde  can you pick any other files, the files that you have picked have some dependencies which are not yet migrated. Moreover have you filled the form yet?.

[2021-01-18 12:59] arpit1912 commented on #8472
@prayutsu sure assigned you!

[2021-01-18 13:00] prayutsu commented on #8472
Thanks @arpit1912

[2021-01-18 13:56] shubhamkorde commented on #8472
Yes, I have filled the CLA form and I have been assigned onborading mentor as well. I would like to work on learner-answer-details-data.service.ts if that has not been claimed yet. Can you please assign me to it @arpit1912 ?

[2021-01-18 14:01] Radesh-kumar commented on #8472
hey @arpit1912, can you assign  translation-tab-active-content-id.service.ts?

[2021-01-18 14:03] sajalasati opened #11727 "Update the CODEOWNER check to ensure new files don’t fall under blanket code owners."
For newly added files/directories in the code base, currently the `codeowner_linter` checks pass even for those file whose ownership is defined only by the [blanket codeowners](https://github.com/oppia/oppia/blob/ab5d7eb8a6e3013805e7cab05aa05ccd39e54ab6/.github/CODEOWNERS#L29), and are not being overriden by a specific codeowner. This can possibly result in a large number of files being owned only

[2021-01-18 15:04] hardikkat24 commented on #10306
@kevintab95 I would like to work on this issue. Please assign me:
`core/templates/services/exploration-stats.service.ts`

[2021-01-18 16:32] vojtechjelinek commented on #9726
This is not yet fixed. See https://github.com/oppia/oppia/blob/develop/core/templates/domain/sidebar/sidebar-status.service.ts

[2021-01-18 16:33] arpit1912 commented on #8472
assigned the files to both of you @shubhamkorde  and @Radesh-kumar. Thanks!

[2021-01-18 16:35] HarshKhilawala commented on #9726
Can you assign me this issue ? @vojtechjelinek

[2021-01-18 17:53] atpug22 commented on #8472
@arpit1912 as I am working on the learner-playlist.service.ts so can you assign that to me so no one else starts working on that?

[2021-01-18 18:11] vojtechjelinek commented on #9726
@HarshKhilawala Done.

[2021-01-18 18:24] sajalasati commented on #11727
Hi @DubeySandeep ! I have modified the checks and they produce the output as shown in description above. I am unable to push the changes since these files don't have properly defined codeowners, and hence lint checks fail. I also cannot fix this lint error locally until I know who should I assign these files to. I was wondering if there's a way to push changes skipping the codeowner linter check l

[2021-01-18 20:27] mschanteltc commented on #11603
I updated the [mock](https://xd.adobe.com/view/3940de63-c416-4008-4b32-a73dc43fd7a1-4f71/screen/24dc0483-c5af-4332-9834-84c6d63964fb) to reflect the changes (image below). Some notes:

- Show the date with the year. If it’s within the current calendar year, **don’t** show the year.
- When any date is hovered, a tooltip appears with the formatting (Weekday, Month, Day, Year, Time) [Ex: _Monday, Jan

[2021-01-18 22:26] vojtechjelinek commented on #11572
@nithusha21 I went through all the files and marked the ones that have no try/excepts or the ones that I have already fixed. There are few remaining that might be improved but even it those I fixed the most dangerous errors.

[2021-01-19 03:07] U8NWXD commented on #10798
@prayutsu I've assigned you!

[2021-01-19 03:09] HarshKhilawala commented on #9726
@vojtechjelinek, Please re-confirm with me as author of this issue has referred to location core/domain/ while you are referencing to core/templates/domain/. Should I Proceed with the PR ?

[2021-01-19 05:07] sajalasati commented on #8423
@AthulJoshi Thanks for letting me know! I will un-assign you for now. Let me know if you want to continue working on the same issue in future.

[2021-01-19 05:31] arpit1912 commented on #8472
@atpug22  assigned you! Thanks!

[2021-01-19 06:17] ajitJJadhav commented on #10306
Hi @kevintab95,
I would like to work on the file `core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts`. Please assign it to me.

[2021-01-19 06:44] mridul-netizen commented on #8472
Hey @arpit1912 can I work on `translation-language.service.ts`?

[2021-01-19 12:26] arpit1912 commented on #8472
@mridul-netizen  assigned you!

[2021-01-19 12:36] aruuunn opened #11730 "Dockerize the application"
Right now it is hard to install all the required dependencies and get it to work.
Dockerizing the application makes it easier to run on any platform which can run docker.

[2021-01-19 12:42] Harshith-1997 commented on #10798
Hi! @U8NWXD  This is my first issue. Can I work on  core/tests/protractor_utils/ProfilePage.js ?

[2021-01-19 13:08] #11730 closed, assigned to nobody

[2021-01-19 13:09] prayutsu commented on #10798
@U8NWXD I guess `GetStartedPage.js` is fixed, if not then please do let me know and if yes then please assign me `ClassroomPage.js`. Thanks!

[2021-01-19 13:20] mridul-netizen commented on #8472
@arpit1912 `translation-language.service.ts` has already been migrated.Can you assign me`contribution-opportunities.service.ts`?

[2021-01-19 19:07] tanishq67 commented on #9749
Can you please assign me classroom-page.component.ts? Thank you.

[2021-01-19 19:39] sagangwee opened #11735 "[Contributor Dashboard] Allow reviewers to edit translation and question suggestions"
This will enable reviewers to correct any small mistakes and accept a question suggestion, rather than having to reject the suggestion entirely. Ideally any changes made to the original suggestion would also be surfaced to the suggestion submitter when the view the accepted suggestion.

[2021-01-19 20:22] vojtechjelinek commented on #10049
@sjiang647 Hi, will you be preparing a PR for this issue?

[2021-01-19 20:35] vojtechjelinek opened #11736 "Fix issue in `GeneralFeedbackThreadModelAuditOneOffJob`"
Some `GeneralFeedbackThreadModel` that have `has_suggestion` set to `True` and have no related `GeneralSuggestionModel`.

[2021-01-19 20:50] SarahZLipeles opened #11737 "Consolidate SUPPORTED_CONTENT_LANGUAGES and SUPPORTED_AUDIO_LANGUAGES into single list"
**Describe the bug**
The `SUPPORTED_CONTENT_LANGUAGES` and `SUPPORTED_AUDIO_LANGUAGES` have significant overlap. `SUPPORTED_AUDIO_LANGUAGES` is used for both written and audio translations, and `SUPPORTED_CONTENT_LANGUAGES` does not cover all written translations.

**Behavior**
This fix should preserve all current functionality

**Solution**
Store all supported languages in a single constant, `SUP

[2021-01-19 20:55] SarahZLipeles commented on #11737
@sagangwee @DubeySandeep This issue is related to our conversations about duplication across language constants [here](https://github.com/oppia/oppia/pull/11640#discussion_r556049953) and [here](https://github.com/oppia/oppia/pull/11640#discussion_r555454834).
PTAL and let me know if I'm missing any details.

[2021-01-19 21:19] sagangwee commented on #11737
@TheoLipeles LGTM thanks!

[2021-01-20 05:22] HarshKhilawala commented on #10306
@kevintab95 Assign me `core/templates/services/translations-backend-api.service.ts` and ` core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts`

[2021-01-20 09:00] shibrahmachari commented on #10306
hi @kevintab95
I would like to work on the file core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts. Can you please assign this to me

[2021-01-20 09:19] Mayank-gaur commented on #10415
Hi! I am a beginner and i want to start with this issue. Can you assign me to any available subproblem in this issue?

[2021-01-20 13:03] vojtechjelinek commented on #10415
@Mayank-gaur There are no available subproblems on this issue, you will need to pick another one.

[2021-01-20 13:57] hardikkat24 commented on #8423
@sajalasati I would like to work on: `Check to enforce use of Args, Returns and Raises in the docstring`.
I have decent knowledge of python but not much about writing tests. Can you please assign me this and tell me where should I start with.

[2021-01-20 14:06] rohitkatlaa opened #11742 "Limiting audit job error output"
**Describe the bug**
We have to limit the audit job error output, so that there won't be OOM errors due to the count of the errors. This error occurred in UserStatsModelAuditJob.

[2021-01-20 14:36] Mayank-gaur commented on #8423
Hi! I am a beginner and i want to start with this issue. Can you assign me to any available subproblem in this issue ?

[2021-01-20 15:04] sajalasati commented on #11584
@shellymutu-grigg Thanks for creating this issue! Sorry we could not take a look at this earlier. I have assigned it to dev-workflow team member now, and hopefully we would find a fix for this soon. Also great job on providing us all the details.

[2021-01-20 16:27] sajalasati opened #11744 "Facing error `asm builds for boringssl currently not supported` during Oppia setup on macOS Big Sur"
**OS**: macOS **Big Sur** version **11.1**
**Issue Description**: @krishita30j followed through all the instructions mentioned in the installation [wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29) for mac OS and started facing the error **asm builds for boringssl currently not supported on macosx-11.1-arm64** on running the command `python -m scripts.start` (all the previou

[2021-01-20 16:33] arpit1912 commented on #8472
oops! thanks for pointing it out @mridul-netizen, assigned you `contribution-opportunities.service.ts`. thanks!

[2021-01-20 16:34] sajalasati commented on #11744
@krishita30j  A quick solution found on the internet (though I am not sure if it will work) - https://www.gitmemory.com/issue/grpc/grpc/25082/761298046 - scroll down a bit in the article and see the suggested modification to be done (provided this `version.py` file exists).
[code]
Let us know if it's of any help.

[2021-01-20 17:11] sajalasati commented on #8423
Hi @hardikkat24! I have assigned you to this task.
- For more details on the specific task, you can look at the comment describing it (link to it is given next to the task description).
- Read through the steps mentioned in issue description describing the general process for attempting any task. You'll mostly be working to add an additional checker (or modify existing one) in the `pylint_extensio

[2021-01-20 17:22] sajalasati commented on #8423
Hi @Mayank-gaur! Welcome to Oppia! I have assigned you to the task `Add a lint check to ensure that there are no blank lines below the function definition`, so you can start working on it now. You'll find it helpful reading through the issue description once, which describes what a general process looks like for solving tasks in this issue. Let us know if you have any questions!
**Note**: After yo

[2021-01-20 17:57] tanishq67 commented on #11718
Please assign me this issue

[2021-01-20 18:31] tanishq67 commented on #11716
Please assign me this issue.

[2021-01-20 18:50] 17sushmita commented on #8423
Hi, I'm new to this repository and want to start with this issue. Can you please assign me a subproblem of this task. I've good experience with python and unit testing.

[2021-01-20 18:52] krishita30j commented on #11744
@sajalasati, I am not able to find this file. Can you please suggest some other fix?

[2021-01-20 18:56] sajalasati commented on #8423
Hi @17sushmita! Welcome to Oppia! You can pick any one of the last 2 unassigned tasks in Python linters section above (see issue description at the top). Let me know and I will assign you to it (you can start working on a task and need not wait till I assign you)!

[2021-01-20 19:13] 17sushmita commented on #8423
@sajalasati I would like to work on the last second task i.e `Prevent redeclarations of the same variable`.

[2021-01-20 19:15] sajalasati commented on #8423
@17sushmita assigned you to it! Let us know if you have any questions.

[2021-01-20 19:25] sajalasati commented on #11744
Sorry, my bad it seems the fix is related with Python3 - here's the link to the [original comment](https://github.com/grpc/grpc/issues/25082#issuecomment-761298046). I also took a quick scan of the same issue page, and I don't think I could find any solution for Python2. (You can also go through the suggested solutions once).

[2021-01-21 03:45] seanlip opened #11747 "The placeholder text for NumericExpressionInput overflows out of the box."
**Describe the bug**
The placeholder text overflows out of the NumericExpressionInput box. It should wrap (and if it helps, the font can probably be a little smaller).

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add a state with NumericExpressionInput, with a longish placeholder.
 3. Save your changes and preview the interaction.

**Observed behavior**
The

[2021-01-21 03:45] seanlip commented on #11747
@iamprayush Would you mind taking a look at this, please? Thanks!

[2021-01-21 05:46] sjiang647 commented on #10049
Hi @vojtechjelinek . Thanks for checking in. I'm currently focusing on a different issue, so I do not have a PR prepared for this issue yet. Feel free to unassign me from this issue if necessary. Apologies!

[2021-01-21 06:22] SAEb-ai commented on #11685
Well I am very knew to this repo. So, I am unable to find the code in this repo in order to correct it and solve the above problem. Can you please help me??

[2021-01-21 07:51] prayutsu commented on #10798
@U8NWXD Could you please verify this

[2021-01-21 09:01] Nikerabbit opened #11749 "Trailing whitespace in an i18n message"
**Describe the bug**
Trailing whitespace is not supported in i18n messages in translatewiki.net (they get stripped) and that causes various issues for us. I found one such message:

[code]

It looks like this whitespace is insignificant and can be removed, but please verify.

[2021-01-21 09:03] seanlip commented on #11749
Hi @Nikerabbit, the final trailing space can indeed be removed. Thanks for confirming.

@kevintab95, would it be possible to make a PR to fix this please?

[2021-01-21 09:17] hardikkat24 commented on #8423
@sajalasati I am currently working on `Check to enforce use of Args, Returns and Raises in the docstring`.
In `pylint_extensions.py`, there are existing functions checking this. These are:
1. ` visit_raise(self, node)`: line 1081
2. `visit_return(self, node)`: line 1115
3. `check_arguments_in_docstring()`: line 1187

Do I need to write tests for this?

P.S. I read a comment above explaining this.

[2021-01-21 10:44] Rijuta-s opened #11750 "Losing the created question and its details if not saved in the question editor in the skill editor without warning."
**Describe the bug**
The changes made in the question editor tab in skill editor are lost if not published and we shift to some other tab like main editor.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skill dashboard.
 2. Click on  create new skill
 3. Choose question editor tab  and enter some details.
 4. Without publishing the changes shift to main editor.
 5.Go back t

[2021-01-21 10:57] Rijuta-s opened #11751 "Making the skill rubrics entered visible while setting them."
**Is your feature request related to a problem? Please describe.**
While entering skill rubrics in the main editor of skill editor , we select the skill difficulty and enter its corresponding details. We then select the next difficulty level to enter its details.This hides the already set skill rubric leading to a confusing that we can may be set details for a single difficulty level and we have l

[2021-01-21 12:34] 17sushmita commented on #8423
Hi @sajalasati , I am working on the task `Prevent redeclarations of the same variable`. Can you please elaborate a little more about the task. I am not able to get within which scope (module, function, class) should the redeclaration same variable name be prevented.

[2021-01-21 13:42] vojtechjelinek commented on #10049
@sjiang647 Okay, removing you, for now, feel free to request assignment later.

[2021-01-21 13:55] tanishq67 commented on #8423
@sajalasati  I would like to work on last task i.e `Add a lint check to prevents usage of string concatenation, and promotes string interpolation instead.`

[2021-01-21 14:34] sajalasati commented on #8423
Hi @tanishq67! I've assigned you to this task. Let us know if you have any questions!
(@tanishq67 Do make sure you sign the contributor CLA and fill the survey, unless you won't be able to make a PR)

[2021-01-21 14:59] ShauryaAg commented on #11725
Sorry, I may have made a mistake by not commenting first to get this issue assigned to me. But I have a solved the issue and made a PR (#11743) regarding the same.

[2021-01-21 15:37] sajalasati commented on #8423
@hardikkat24 Thanks for asking! Answered each of your question below:

You wouldn't have to write just tests for any of the checks. We always make sure each line of code is covered by a test.

Did you read the @DubeySandeep 's [comment](https://github.com/oppia/oppia/issues/8423#issuecomment-747669734) explaining this? The expectations have been explained there correctly, make sure you understand

[2021-01-21 15:55] hardikkat24 commented on #8423
@sajalasati Yes, I have read @DubeySandeep 's comment. It states that we only need to take care that Args, Return and Raise are present wherever required.
The option's `'accept-no-param-doc'`, `'accept-no-raise-doc'`,` 'accept-no-return-doc'` help states that:
1. Args will only be necessary when a function has parameters
2. Return will only be necessary when a function has a return statement
3. Ra

[2021-01-21 16:16] sajalasati commented on #8423
Okay, then I think you can go ahead and make a PR on this. It should work based on the description of the options currently given. Good work on finding this! (In your PR also fix the places which fail this this lint check).

[2021-01-21 16:29] sajalasati commented on #8423
Hi @17sushmita! Sorry for a bit delayed response. I think you should definitely ensure this within a function scope (probably with a regex pattern or something related if possible). We cannot enforce it for a module as generally we use same variable names across many functions too. I am not so sure about the Class scope (we could possibly have same name variables being assigned values in different

[2021-01-21 17:26] KShivendu commented on #8472
Hello, I have started working on `user-email-preferences.service.ts`. Please assign it to me.

[2021-01-21 23:38] DubeySandeep commented on #9749
Hi @tanishq67, I've assigned you to `classroom-page.component.ts`.

[2021-01-22 00:30] kevintab95 opened #11756 "Saving large explorations take a long time"
**Describe the bug**
Saving large explorations take a long time.

**To Reproduce**
1. Create a new exploration on backup server and observe that saving changes it takes ~1 sec for new changes.
2. Upload or create a large exploration and obseve that it takes ~13 sec to save the new changes.

Size of the exploration seems to directly impact the time taken. Especially if it has a lot of translations

[2021-01-22 00:41] DubeySandeep commented on #11756
Also, downloading a big exploration from the prod server throws 500: https://www.oppia.org/createhandler/download/2mzzFVDLuAj8?v=163 [Because of request timeout issue]

[2021-01-22 00:52] kevintab95 commented on #11756
It has been reported here: https://github.com/oppia/oppia/issues/10249

[2021-01-22 02:28] #11727 closed, assigned to sajalasati

[2021-01-22 04:06] U8NWXD commented on #10798
@Harshith-1997 I've assigned you! Let me know if you have any questions

[2021-01-22 04:09] U8NWXD commented on #10798
@prayutsu you're right, `GetStartedPage.js` is in great shape! However, I think there is one change that's needed.

https://github.com/oppia/oppia/blob/48573aac34caba65274277794c6c82de2a839512/core/tests/protractor_utils/GetStartedPage.js#L40

Here we call `getAttribute` on an element before checking that it has loaded. Please fix this as described in this part of the issue:

[2021-01-22 04:59] prayutsu commented on #10798
@U8NWXD Thanks, fixed it.

[2021-01-22 06:05] hardikkat24 commented on #8423
@sajalasati there are more than 1000 instances where this lint check fails. What should I do?

[2021-01-22 06:16] seanlip commented on #8423
I think the idea was that it is supposed to happen within function scope. But before working on it, would it be possible to get a sense of how many violations there are? I want to check that there aren't too many.

@hardikkat24, you can split the problem into several parts (maybe handle Args first). Does that help? You could also combine this with a PR that improves some docstrings first, and then

[2021-01-22 06:19] #11632 closed, assigned to SarahZLipeles

[2021-01-22 06:20] sajalasati commented on #8423
@hardikkat24,
Did you do some analysis to check if all of them are "valid" fails? Consider some random examples (say 15-20) from the error log, and see if the check is failing only at places where you had expected, and not at unwanted places **(this would help us verify the approach first of all)**.

(If you are doubtful about certain places, I can have a look! Provide the links to those places li

[2021-01-22 06:25] sajalasati commented on #8423
Thanks @seanlip! @17sushmita PTAL!

[2021-01-22 06:43] 17sushmita commented on #8423
@seanlip @sajalasati I created the custom lint checker to check redeclaration violations within function scope, but yes as per your concern there are many violations in each of the file.

Should I make a PR for this? Or should we make a new issue solving them.

[2021-01-22 06:48] hardikkat24 commented on #8423
@sajalasati I have taken a look at 10+ linting errors after this change. It seems that the method I used is correct.
Here are some examples. Please take a look:
[1. Missing return documentation](https://github.com/oppia/oppia/blob/85f6288de545f7a5082ef2a6ac359bc73f3a440c/scripts/linters/general_purpose_linter_test.py#L855)
[2. Missing return documentation](https://github.com/oppia/oppia/blob/85f62

[2021-01-22 06:52] hardikkat24 commented on #8423
@seanlip There are a lot of errors due to Args and Return. Should I make a PR improving some of them? Or should we make a new issue regarding this. Thanks!

[2021-01-22 07:31] seanlip commented on #8423
@hardikkat24 You can make a PR improving some of them.

@17sushmita You can also make a PR improving some of them.

[2021-01-22 08:05] mridul-netizen commented on #10700
@darksun27 As per @brianrodri  [this](https://github.com/oppia/oppia/pull/11707#discussion_r561921038) PR requires some code refractoring. Can you assign me `ThreadMessageSummary` for the meanwhile.

[2021-01-22 08:56] 17sushmita commented on #8423
@seanlip I'm trying to solve some of the violations but as per the task it is identifying every redeclaration of same variable and thus there are some errors which are unintetional
e.g -
![image](https://user-images.githubusercontent.com/42088159/105468921-8c753d00-5cbd-11eb-885f-d59e61775ada.png)
here func_name is used in try catch block. How to go about such errors?

[2021-01-22 09:41] seanlip commented on #8423
Thanks for investigating, @17sushmita. On reflection, I think I would like to withdraw this lint check -- there are things that it is trying to catch that we do want to avoid, but there are reasonable things like this one that it doesn't make a lot of sense to catch. So let's not introduce it for now.

However, your investigation was important for this decision, so I just wanted to say thanks for

[2021-01-22 11:35] sajalasati commented on #8423
I think a majority of the errors are coming up in test files (examples 1,2,4 you provided which I didn't realise earlier could be a case), and I am not sure if we want to enforce it there too.

@seanlip do you also think we should skip this check (`Check to enforce use of Args, Returns and Raises in the docstring`) for test files? We don't follow the same docstring patterns in tests in general, an

[2021-01-22 13:53] krishita30j commented on #11584
@shellymutu-grigg, did you find any fix for this?
Although I tried setting up the oppia env using Rosetta 2, I came across a different error:

[code]

 (If you find any fix related to these, please let me know)

[2021-01-22 16:31] sagangwee opened #11758 "[Contributor Dashboard] Add check during translation to ensure images in the source exist in the destination and alt-text is updated"
If there are images in the content for translation like the image below, we want to make sure the contributor copies the image in their suggestion. We also want to make sure the alt-text for any content is also updated.

![Screen Shot 2021-01-22 at 11 30 22 AM](https://user-images.githubusercontent.com/9004726/105517595-3eecd600-5ca5-11eb-9394-395012c7513a.png)

[2021-01-22 16:34] sagangwee commented on #11683
@KhushiGangopadhyay I think this is a good backend-related issue to work on!

[2021-01-22 16:36] sagangwee commented on #11683
@KhushiGangopadhyay My mistake I meant to assign you https://github.com/oppia/oppia/issues/11684.

[2021-01-22 18:54] archi15 commented on #3984
Hi, I want to take up this issue. As per [#6021](https://github.com/oppia/oppia/issues/6021#issue-393677754) issue, everyone suggested "Watch Later" is better option. So, can I move forward with this option and will you assign me this issue? Thanks!

[2021-01-22 20:39] seanlip commented on #8423
If it's straightforward to skip test files, I'm fine with doing so. But if it's not straightforward, I'm also fine with including them in the check.

[2021-01-22 23:49] kevintab95 commented on #11725
Duplicate of https://github.com/oppia/oppia/issues/11676. Closing.

[2021-01-22 23:49] #11725 closed, assigned to nobody

[2021-01-23 05:36] ARKEOLOGIST commented on #11747
Had a look at this. This might be a bit difficult to accomplish since individual characters are rendered in spans. We could render the whole stuff inside a single span and then apply some stylings to it to fix it.

[2021-01-23 06:34] ARKEOLOGIST opened #11761 "Contributors section overflowing its container on smaller resolutions"
**Describe the bug**
The "contributions" section is flowing out of its place while on smaller resolutions.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Change the size of the screen.
 3. See the text overflowing out of its container.

**Observed behavior**
The "contributions" section flows out of its container.

**Expe

[2021-01-23 07:02] Nik-09 commented on #11431
@vojtechjelinek can you please assign me these two files.
 email_manager.py
 feedback_jobs_continuous.py
 Thanks.

[2021-01-23 07:10] ARKEOLOGIST commented on #11721
I don't think we have localization strings for "Export Account". I deployed a fix for the delete button though, should partially fix this @mridul-netizen.

[2021-01-23 07:11] ARKEOLOGIST commented on #11721
@DubeySandeep Can we add localization strings for "Export Account"?

[2021-01-23 07:21] gp201 commented on #11584
@krishita30j @shellymutu-grigg  can u check if you can install a python package using the `pip` cmd (any package that Oppia uses). I just want to rule out the possibility that it's an architecture issue.

[2021-01-23 07:53] Nik-09 commented on #4057
@nithusha21 can you please assign me  audio-translation-manager.service.ts
Thanks.

[2021-01-23 08:24] 17sushmita commented on #8423
@seanlip Can we do something if we avoid try-catch and if-else blocks and take rest of the violations into consideration?

[2021-01-23 08:55] krishita30j commented on #11584
@gp201, yeah I can install python packages seperately using pip.

[2021-01-23 09:17] gp201 commented on #11584
@krishita30j @shellymutu-grigg python 2.7 will not work on M1 chips. It is an architecture issue.
[Source](https://superuser.com/questions/1601134/will-python-be-able-to-run-on-the-new-apple-machines-running-with-m1-cpus)

[2021-01-23 10:21] lkbhitesh07 commented on #11431
Hello @vojtechjelinek ,
Will you please assign `user_jobs_continuous.py` file to me ?
Thanks

[2021-01-23 10:30] kevintab95 commented on #11653
Hi @archi15 do you want to take a look at this?

[2021-01-23 10:58] archi15 commented on #11653
Hi @kevintab95, I will take this issue after completing the first one. Thanks

[2021-01-23 10:59] gp201 commented on #8784
## Proof

![oppia-2](https://user-images.githubusercontent.com/30050862/105576336-0da10280-5d98-11eb-832f-ee898e0e0ca9.gif)

[2021-01-23 11:02] gp201 commented on #8784
Closing issue since all instances of this have been fixed.

[2021-01-23 11:02] #8784 closed, assigned to nobody

[2021-01-23 11:30] tanishq67 opened #11763 "The help button in missing in portrait mode in phone or small window mode in desktop."
**Describe the bug**
The help button in missing in portrait mode in phone or small window mode in desktop.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Create exploration or edit an exploration' in small window/phone(portrait mode)
 2. click on bottom right.
 3. then click on 'options'

**Observed behavior**
The Help button is missing.
![image_2021-01-23_165712](https://user-image

[2021-01-23 12:20] hardikkat24 commented on #8423
@sajalasati I was looking for this but I was unable to get the solution for this.
Is there anything I should try. I was not able to find any solution for this.
Shall we open a new issue for improving our docstrings?

[2021-01-23 13:36] vojtechjelinek commented on #11431
@Nik-09 Done.

@lkbhitesh07 Done, can you please also follow these instructions https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia in order to contribute to Oppia.

[2021-01-23 13:56] gp201 commented on #11584
@krishita30j have you tried [this](https://stackoverflow.com/questions/42857551/could-not-connect-to-redis-at-127-0-0-16379-connection-refused-with-homebrew).

[2021-01-23 16:10] gp201 commented on #11584
@DubeySandeep @shellymutu-grigg
## Findings
Given below are the findings based on the offline discussion with @krishita30j :
All findings given below were run on [Rosetta 2](https://support.apple.com/en-us/HT211861)
- The Redis package is installed using pip in the cmd line, but it does not run (was installed by oppia when the `python -m scripts.start` cmd is run).
- The Redis server is installed

[2021-01-23 16:18] gp201 commented on #11744
Closing issue since it is a problem for Mac's with M1 chips.
Follow issue #11584  for more info and the solution.

[2021-01-23 16:18] #11744 closed, assigned to DubeySandeep, krishita30j

[2021-01-23 17:22] #11469 closed, assigned to rohitkatlaa

[2021-01-23 17:22] #11623 closed, assigned to rohitkatlaa

[2021-01-23 18:32] Radesh-kumar commented on #8472
@arpit1912 can you assign this story-update.service.ts ?

[2021-01-23 18:50] savithakj commented on #8472
@Radesh-kumar You have been assigned `story-update.service.ts` . Thanks!

[2021-01-24 00:50] #11676 closed, assigned to ReshuKumari

[2021-01-24 03:05] U8NWXD commented on #11713
I've checked the failure logs reported from the e2e tests, and this failure message hasn't been seen. I suspect it is related to your changes. Did this happen on your feature branch or `develop`?

[2021-01-24 07:49] KShivendu commented on #8038
It appears that ` core/templates/services/search.service.ts` and ` core/templates/services/csrf-token.service.ts` have been completed but remain unticked.

[2021-01-24 08:20] krishita30j opened #11765 "Server error on clicking the cancel button inside the Create New Skill model."
**Describe the bug**
When the user clicks on the cancel button inside the Create New Skill model, the console gives an error.

**Screenshots**
<img width="1440" alt="Screenshot 2021-01-24 at 12 31 15 PM" src="https://user-images.githubusercontent.com/66058206/105624700-c96e3a80-5e49-11eb-9e00-24599e4aa616.png">

**Desktop**
 - OS: MacOS
 - Browser: Chrome
 - Browser-version: 88.0

[2021-01-24 09:18] ReshuKumari commented on #11716
This is duplicate issue of [#11676 ](https://github.com/oppia/oppia/issues/11676) fixed by [#11733](https://github.com/oppia/oppia/pull/11733)

[2021-01-24 10:50] parulpriyedarshani opened #11767 "GO button in the search bar below looks inappropriate on clicking in safari browser."
**Describe the bug**
In the Classroom section, when the search bar moves at the end, on searching for some topic, the GO button looks inappropriate on clicking.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
 2. Click on Classroom and choose basic mathematics.
 3. Scroll down to the end of the page and enter something in the s

[2021-01-24 11:00] tanishq67 commented on #11767
I tried but couldn't reproduce the error.
OS: Windows
Browser: OperaGx and Chrome

[2021-01-24 11:38] tanishq67 opened #11768 "Language Change not working properly"
**Describe the bug**
A clear and concise description of what the bug is.
The language change is not working properly in some fields.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/preferences'
 2. set any language, then observe the blocks shown in the screenshot

**Observed behavior**
A clear and concise description of what you have observed.
The

[2021-01-24 11:41] tanishq67 commented on #11716
Is that PR merged? The issue is still present there
![image_2021-01-24_171135](https://user-images.githubusercontent.com/52757132/105629133-2fb58600-5e67-11eb-959d-fb3cd707caab.png)

[2021-01-24 11:55] tanishq67 opened #11769 "Take down spam/misleading lessons"
**Is your feature request related to a problem? Please describe.**
When we go to the community-library we can see a lot of spam-misleading lessons, for eg.
![image_2021-01-24_172029](https://user-images.githubusercontent.com/52757132/105629334-6dff7500-5e68-11eb-84d5-106c243fc771.png)
![image_2021-01-24_172050](https://user-images.githubusercontent.com/52757132/105629341-7a83cd80-5e68-11eb-8646-6d

[2021-01-24 11:58] #11769 closed, assigned to nobody

[2021-01-24 11:59] tanishq67 commented on #11769
sorry I didn't realized that  the web-app was already having the same feature

[2021-01-24 12:05] parulpriyedarshani commented on #11767
@tanishq67 I just found out that this bug is only occurring in the safari browser and not in chrome. It's working fine in chrome. Thanks

[2021-01-24 12:35] oswalgopal commented on #11417
can I work on this issue @kevintab95  ??

[2021-01-24 12:46] gp201 commented on #11417
Hi @oswalgopal ,
Welcome to Oppia.
This issue will be revisited at a later date. However, there are a lot more issues you could take a look at in this repository
You can get started by following the steps in this [link](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up).
Thanks

[2021-01-24 12:47] oswalgopal commented on #11763
hello, Can I work on this issue. can you assign this to me @tanishq67

[2021-01-24 13:02] oswalgopal commented on #11417
Thanks I will try my best to contribute on it

[2021-01-24 14:06] tanishq67 opened #11771 "The Classroom button is not shown in the nav-bar; Safari Browser"
**Describe the bug**
The Classroom button is not shown in the nav-bar until and unless our cursor reaches the nav-bar. This is only Safari browser specific bug.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia.org'
 2. Check the nav-bar

**Observed behavior**
This video describes the issue -

https://user-images.githubusercontent.com/52757132/105632836-4fef4000-5e7b-11eb-8caf-e0

[2021-01-24 15:41] tanishq67 commented on #10306
@kevintab95  can you please assign me `core/templates/pages/story-editor-page/story-editor-page.component.spec.ts`

I have started working on this

[2021-01-24 18:10] DubeySandeep commented on #11721
@ARKEOLOGIST, Yes you can add a localization string for the "Export Account". (You can check relevant changes in #11260 for ref.)

[2021-01-24 20:12] lkbhitesh07 commented on #8458
Hello @U8NWXD
While setting up the environment i'm getting this error, can you please guide me, as it's related to this issue itself?
Specifications :-
1. OS - Ubuntu 18.04
2. python - 2.7.17

Methods I already tried -
1. I deleted the suggested folders like - oppia-tools, etc
2. I uninstalled the environment and reinstall it.
Thanks
[code]
Please do let me know if you need an more details.

[2021-01-25 02:47] hardikkat24 commented on #7450
@kevinlee12 I would like to work on `suggestion_services_test.SuggestionIntegrationTests `.

[2021-01-25 05:48] ReshuKumari commented on #11716
@tanishq67 yes that PR is merged. Blocking bug fixes are not yet deployed hence it is still not at proper position.

[2021-01-25 06:30] hardikkat24 opened #11776 "[Incomplete] Adding/Updating 'Args', 'Raises', and 'Return' in docstrings"
**Aim/Problem**: Improve the docstrings in all the **python** files in the codebase. This will also fulfill the prerequisite for the lint check `Check to enforce use of Args, Returns and Raises in the docstring.` to be introduced for #8423.

**Suggested fix**: Do a `grep` or a search (CTRL+F) for `def` keyword in the file to get all the possible places (i.e **functions and methods**) that we would

[2021-01-25 08:54] seanlip opened #11777 "Flaky frontend test: Spy '$' received a call with arguments [ <div class="class-name">...</div> ] but all configured strategies specify other arguments."
**Describe the bug**

The following error log occasionally appears when running frontend tests on GitHub Actions ([example](https://github.com/oppia/oppia/runs/1760598604?check_suite_focus=true)):

[code]

The frontend tests are, in general, not flaky. We should try to preserve this.

**To Reproduce**

Unfortunately it is not clear how to reproduce this behavior. It happens occasionally on fronten

[2021-01-25 08:54] seanlip commented on #11777
/cc @U8NWXD @nithusha21

[2021-01-25 10:11] lkbhitesh07 commented on #11431
Hello @vojtechjelinek
Sorry for not updating you, I was facing some troubles in my environment but now I am good to go. Also, I want to ask one question that do we have to make PR for each part of this issue, or we can simply do with 2 to 3 parts?
Thanks

[2021-01-25 13:28] vojtechjelinek commented on #11431
@lkbhitesh07 Up to you, the changes are quite small, so they can be done in one PR.

[2021-01-25 13:29] sajalasati commented on #7450
Hi @hardikkat24 ! I've assigned you to it.
With ref to your ques on [gitter](https://gitter.im/oppia/oppia-chat?at=600ea8f9cae490555f67ee37) - Please read through the general issue description once to get an understanding of what the task is. The core idea is to disallow usage of private methods inside tests, so your task is to find a way to test the same functionality using a public method of tha

[2021-01-25 13:46] lkbhitesh07 commented on #11431
Ok Thanks @vojtechjelinek ,
Will you please assign these files to me.
`jobs.py`
`base_model/gae_models.py`
`statistics/gae_models.py`

[2021-01-25 14:50] ghost commented on #11761
@ARKEOLOGIST I am looking forward to work on this issue, Could you please assign this to me :)

Thanks & Regards
Urvashi Anand

[2021-01-25 15:05] SAEb-ai opened #11779 "Subscribers option overflowing out of the white box for small devices."
**Describe the bug**
Subscribers option going out of the white box for small devices on viewing creator dashboard.
**To Reproduce**
Steps to reproduce the behavior:
1.Go to https://www.oppia.org/creator-dashboard
2. See error

**Observed behavior**
Subscribers option going out of the white box for small devices on viewing creator dashboard.

**Expected behavior**
Subscribers option should not flow

[2021-01-25 15:34] HarshKhilawala commented on #9008
@Radesh-kumar Are you still working on this ? Please ping me if you want to continue working on this issue.

[2021-01-25 15:38] HarshKhilawala commented on #9008
@brianrodri I am taking up this issue. Thanks!

[2021-01-25 16:28] tushar2407 commented on #10474
Hi @DubeySandeep,

Can you please assign me AudioLanguageObjectFactory?

[2021-01-25 17:41] ARKEOLOGIST commented on #11761
@urvashi-code1255 Please sign the CLA.

[2021-01-25 18:30] lkbhitesh07 commented on #11431
Hi @vojtechjelinek
can I please go ahead with the rest of the files, I'm halfway done?
Thanks

[2021-01-25 18:46] DubeySandeep commented on #4057
Assigned `audio-translation-manager.service.ts` part of the issue to @Nik-09

[2021-01-25 19:06] vojtechjelinek commented on #11431
@lkbhitesh07 Let's leave that to other new contributors, you can take up other issues. Btw did you fill the [Oppia contributor survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3)?

[2021-01-25 19:06] DubeySandeep commented on #11584
@sajalasati @gp201, Thanks a lot for looking into this issue, can you please confirm whether the issue is resolved now? (If yes, then I'll go ahead and add the fix to the troubleshooting wiki page and close this issue.)

[2021-01-25 19:14] lkbhitesh07 commented on #11431
@vojtechjelinek Yes I already filled the form when I contributed few years back, also I'm done with all the files here except `statistics/gae_models.py` and `wipeout_services.py` . Can I please make a PR?
Sorry for that, I'll keep it in mind from next time.

[2021-01-25 19:15] gp201 commented on #11584
@DubeySandeep The steps above were used to resolve the issue on @krishita30j computer.
@krishita30j can you cross-check the details?

[2021-01-25 19:43] kevintab95 commented on #11777
Seems like a duplicate of https://github.com/oppia/oppia/issues/11441

[2021-01-25 20:01] sagangwee commented on #11700
@DubeySandeep Is this still an issue?

[2021-01-25 20:02] AdityaDubey0 commented on #10306
Hi @kevintab95
I'd like to work on:
 core/templates/services/exploration-stats.service.ts

[2021-01-25 20:31] nishantwrp commented on #10474
@tushar2407, done.

[2021-01-25 20:51] nishantwrp commented on #10474
@karma200020, @kgulshan827, @colaya19, @ritvikkhanijo, @jassi-singh any updates on the files assigned to you guys? Please don't hesitate to reach out if you're stuck on something. Thanks!

[2021-01-25 22:49] vojtechjelinek commented on #11431
@lkbhitesh07 Okay I found you in our system. Sure make the PR for these or include them in the PR that you already made.

[2021-01-25 22:50] lkbhitesh07 commented on #11431
@vojtechjelinek Thank you so much.

[2021-01-26 01:14] brianrodri opened #11784 "Delete abandoned one-off jobs"
Part of #11475

Oppia's project leads council have labelled the following jobs as obsolete. We will delete these jobs to save on maintenance costs, and to make the migration from GAE MapReduce → Apache Beam and Dataflow easier and safer.

Here is the complete list of abandoned jobs:
- `ActivityContributorsSummaryOneOffJob`: https://github.com/oppia/oppia/blob/9586b33630a36103c681b10c2b04dabab6ca1a

[2021-01-26 01:28] lkbhitesh07 commented on #11431
Hello, @vojtechjelinek I'm done with all the files except `statistics/gae_models.py` and `wipeout_services.py`. As you suggested and discussed above will be leaving these 2 files for new contributors.
Also please review these PRs #11782 #11783
Thanks for all your support.

[2021-01-26 01:29] lkbhitesh07 commented on #10798
Hello @U8NWXD ,
will you please assign `core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js` and `core/tests/protractor_utils/users.js` files to me?
Thanks

[2021-01-26 03:07] jassi-singh commented on #10474
Hi @nishantwrp  i am getting a lot of errors in other files while adding **graphutils service** file to strict checks.
Sorry for late reply i was having  exam 😇

[2021-01-26 04:03] U8NWXD commented on #10798
@lkbhitesh07 could you please pick one to start with? Once you finish it you can pick up another

[2021-01-26 04:04] U8NWXD commented on #11777
@seanlip can you confirm that this is a duplicate of #11441? If it is, I think we can add this occurrence as a comment to that issue and close this one

[2021-01-26 04:13] seanlip commented on #11441
This is still occurring: https://github.com/oppia/oppia/runs/1760598604?check_suite_focus=true

[2021-01-26 04:13] seanlip commented on #11777
Thanks! Sorry I missed this. It is indeed a duplicate so I'll close this.

[2021-01-26 04:13] #11777 closed, assigned to seanlip

[2021-01-26 05:41] krishita30j commented on #11584
@gp201, I checked it again and it seems like `brew` won't work to install `pyyaml`. Instead, use `pip3 install pyyaml`. Other than this, everything else looks good.

[2021-01-26 05:43] gp201 commented on #11584
@DubeySandeep looks like the fix is correct now. It can be added to the troubleshooting page now.

[2021-01-26 12:10] hardikkat24 commented on #7450
@sajalasati Can I change my function to be implemented like [this](https://github.com/oppia/oppia/blob/9586b33630a36103c681b10c2b04dabab6ca1ad3/core/domain/suggestion_services_test.py#L549)? Changing `_update_suggestion` to `accept_suggestion`.
Sorry, My bad. Was trying to solve another issue. Not this one. Got confused.

[2021-01-26 13:22] ghost commented on #11761
@ARKEOLOGIST I have signed the CLA please assign me this issue :)

[2021-01-26 14:14] lkbhitesh07 commented on #10798
Hello @U8NWXD
I would like to go ahead with `core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js` file.
Thanks

[2021-01-26 14:42] ARKEOLOGIST commented on #11761
Done!

[2021-01-26 15:47] tanishq67 commented on #8423
I have a query regarding the issue assigned to me `Add a lint check to prevents usage of string concatenation, and promotes string interpolation instead.`

I made a Regex which can easily detect this issue -

`r'('[^']*'(\s*)\+(\s*))|((\s*)\+(\s*)'[^']*')'`

( The Regex detects **('string' + )|(+ 'string')** )

However, I am unable to understand [wiki](https://github.com/oppia/oppia/wiki/Lint-Chec

[2021-01-26 15:50] tanishq67 commented on #9749
I have a query regarding the issue assigned to me - `classroom-page.component.ts`

The [file's](https://github.com/oppia/oppia/blob/develop/core/templates/pages/classroom-page/classroom-page.component.ts) controller have

`$filter` and `FATAL_ERROR_CODES`, can you please explain me how shall I import them.
Thank You

[2021-01-26 18:42] archi15 commented on #3984
Hi @kevintab95 @nithusha21 @U8NWXD, Please review #11780 PR. Thanks!

[2021-01-26 19:07] #11629 closed, assigned to aishwary023

[2021-01-26 19:07] #11630 closed, assigned to aishwary023

[2021-01-26 23:10] sagangwee commented on #9465
Issue was fixed in https://github.com/oppia/oppia/pull/11442:
<img width="1669" alt="Screen Shot 2021-01-26 at 6 07 55 PM" src="https://user-images.githubusercontent.com/9004726/105918171-7dfe8c80-6001-11eb-9a58-d99d0590a04f.png">

[2021-01-26 23:10] #9465 closed, assigned to nobody

[2021-01-26 23:11] #9642 closed, assigned to KhushiGangopadhyay

[2021-01-26 23:22] sagangwee commented on #11681
@DubeySandeep Do you know why the [original mock](https://drive.google.com/file/d/1ObbXYYR23t4rl1xCTU6FItgqbRMZlvhi/view?usp=sharing) did not include a cancel button here?

[2021-01-27 02:41] U8NWXD commented on #10798
@lkbhitesh07 I've assigned you! Let me know if you have any questions

[2021-01-27 04:57] parulpriyedarshani commented on #11767
@vojtechjelinek PTAL!

[2021-01-27 05:28] brianrodri commented on #9827
Closing as duplicate of #11474, which is more recent and contains a better outline of the remaining steps towards migration.

[2021-01-27 05:28] #9827 closed, assigned to brianrodri, seanlip

[2021-01-27 06:01] sajalasati commented on #8423
Hi @hardikkat24! Sorry for late reply.
You should fix the files in the way @seanlip, @DubeySandeep and others have suggested you in your PR #11770. But you can limit the places where you need to go and fix code by doing the following:
- Keep `'accept-no-param-doc'`, `'accept-no-raise-doc'`, and `'accept-no-return-doc'` set to **False** only.
- Use the pylint option `no-docstring-rgx` (see [documen

[2021-01-27 06:12] nishantwrp commented on #10474
Hi @jassi-singh, maybe you can try working with any other file, then for now?

[2021-01-27 06:25] sajalasati commented on #8423
Hi @tanishq67!

In pylint we can define options in a configuration file known as `.pylintrc`. The 2nd point says that you can look up the Pylint documentation and check if it already provides an option (basically a plugin) for the check you want to implement. (Like the solution I suggested @hardikkat24 [above](https://github.com/oppia/oppia/issues/8423#issuecomment-768053581) uses both a built-in

[2021-01-27 11:10] lkbhitesh07 commented on #11431
Hello @vojtechjelinek
I figured out that in my previous comment I accidentally mentioned `statistics/gae_models.py` instead of `base_model/gae_models.py`. Will you please correct it. I'm done with `statistics/gae_models.py` and waiting for your approval.
Thanks

[2021-01-27 12:21] kevintab95 commented on #11767
Hi, I think this is an accessibility thing. You can use the tab button to focus on certain elements on the page, focused elements will show an outline depending on the browser (clicking on an element will also trigger focus on it). This is common in our application and need not to be treated as a bug.

[2021-01-27 17:09] Nik-09 commented on #10700
@vojtechjelinek @darksun27 @srijanreddy98  can you please assign QuestionSummary to me.
Thanks

[2021-01-27 18:22] brianrodri opened #11802 "Update firebaseui dependency once firebase/firebaseui-web#778 is fixed"
Part of #11462

Due to firebase/firebaseui-web#778, we've been forced to implement a hacky patch to interact with the Firebase emulator. Once the issue is resolved, we should update our `firebaseui` dependency to track a real version rather than our patch.

[2021-01-27 18:56] tushar2407 commented on #10474
Hi @nishantwrp,
Is there a possibilty that AudioLanguageObjectFactory.ts file is deleted from the project?

[2021-01-27 19:16] mridul-netizen commented on #6772
@seanlip you meant hyphens instead of underscores here right? Should changing them in [here](https://github.com/oppia/oppia/blob/9e8945dd657e1e1c302dd6e110de87e38953e612/feconf.py#L730) in `feconf.py` file  solve this issue?

[2021-01-27 19:41] kevintab95 commented on #11552
Removing from blocking bugs because (1) this is not a regression and (2) current functionality does not block users.

[2021-01-28 03:30] brianrodri commented on #9008
Overdue follow-up here (sorry for lateness): there is no way to test this in production yet because this code is unused. The code will be re-used eventually, so as long as unit tests pass it's fine to post the PR.

[2021-01-28 04:00] seanlip commented on #6772
For clarity, that sentence should be read as "change [all routes with underscores] to use hyphens" rather than "change [all routes] to use underscores".

You'll need to figure out what to do by testing on the local dev server, I think. Investigate the flow through main.py and "into" the handler. The frontend code that calls the backend URL probably needs to be updated, too.

[2021-01-28 05:42] igarg2001 commented on #11779
Please assign me this issue

[2021-01-28 06:13] mridul-netizen commented on #6772
Okay I'm working on it

[2021-01-28 09:21] SAEb-ai opened #11805 "Spacing becomes negligible for small devices"
**Describe the bug**
For small devices the spacing becomes neglible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/learn/math'
 2. Scroll down to 'topics covered'
 3. See error

**Observed behavior**
Spacing between the topic containers becomes negligible.

**Expected behavior**
Some spacing should be required.

**Screenshots**
![op](https://user-images.github

[2021-01-28 09:51] hardikkat24 commented on #8423
@sajalasati `False` was not working in case of `Raises`. What do you think the reason could be?

[2021-01-28 18:39] vojtechjelinek commented on #8921
The stuff in that PR was abandoned, we decided it is okay to show the pending account deletion page even to people that have no pending account deletion and accidentally stumble upon that page.

[2021-01-28 18:39] #8921 closed, assigned to vojtechjelinek

[2021-01-28 19:19] OBITORASU commented on #11431
@vojtechjelinek can I take up the two remaining files ```base_model/gae_models.py``` and ``` wipeout_services.py```? I was suggested to work on this issue as a part of my onboarding.

[2021-01-28 19:36] vojtechjelinek commented on #11202
The issue is not happening anymore.

[2021-01-28 19:36] #11202 closed, assigned to vojtechjelinek

[2021-01-28 19:38] vojtechjelinek commented on #11417
Since we are moving to Firebase this will be resolved soon.

[2021-01-28 19:38] #11417 closed, assigned to vojtechjelinek

[2021-01-28 19:39] vojtechjelinek commented on #9042
This will be fixed soon since we will be moving to Firebase.

[2021-01-28 19:39] #9042 closed, assigned to vojtechjelinek

[2021-01-28 19:40] DubeySandeep commented on #9718
I agree that it should be 503 as per the SEO guidelines. Thanks for sharing the link, @vojtechjelinek! [I'm closing this issue]

[2021-01-28 19:40] #9718 closed, assigned to vojtechjelinek

[2021-01-28 20:08] DubeySandeep commented on #11756
This issue is being partly fixed (#11793) we have made some code changes and now it only takes 3 secs to save the exploration. Though this can be further optimized if we can move all the exploration text/html contents to a separate model.

[2021-01-28 22:49] vojtechjelinek commented on #11431
@OBITORASU Sure, I have assigned those to you.

[2021-01-28 22:58] vojtechjelinek commented on #9172
We already upgraded to Angular 10

[2021-01-28 22:58] #9172 closed, assigned to nobody

[2021-01-29 06:18] OBITORASU commented on #11431
@vojtechjelinek I had a doubt regarding ```base_model/gae_models.py```
So to elaborate, we have a classmethod namely:
[code]
Now datastore_services is defined as:
[code]
So till here I have a clear idea of what is going on. Now the issue is when searching for ```transaction_services.run_in_transaction``` I came across this particular line of code:
[code]
Now my question is why have a classmethod d

[2021-01-29 06:50] OBITORASU commented on #11431
Also another question regarding the ```wipeout_services.py```
Just to confirm, is it ```wipeout_services.py``` or ```wipeout_service.py``` ?
Apparently I can't fuzzy find ```wipeout_services.py``` the closest file to it is ```wipeout_service.py``` which I can find.

[2021-01-29 07:33] hardikkat24 commented on #8423
@sajalasati `no-docstring-rgx` is already present in `.pylintrc` and it already has `test_[a-z_]*` regex. Now I added it to options of `DocstringParameterChecker` and changed visit_functiondef accordingly(`if self.config.no_docstring_rgx.match(node.name) is None:`).
Now it shows the error `OptionConflictError: option --no-docstring-rgx: conflicting option string(s): --no-docstring-rgx`.

I have tr

[2021-01-29 08:00] ghost commented on #11761
Upto what px I have to make it responsive @ARKEOLOGIST ?

[2021-01-29 08:00] seanlip opened #11811 "Revert CODEOWNER changes after seanlip is back from vacation."
This issue is filed to revert some of the CODEOWNER changes in #11810 after @seanlip comes back on Feb 7.

[2021-01-29 08:03] ARKEOLOGIST commented on #11761
Something around 380-410px. You can use Developer Tools to test for various device resolutions.

[2021-01-29 08:59] parulpriyedarshani commented on #11767
Hmm, Ok! Just a small confusion. Is it fine if the outline (when a particular element is selected) is out of dimensions of that particular element? If that's the case then should I close this issue because then this won't be a problem?
Thanks :)

[2021-01-29 09:26] kevintab95 commented on #11767
Yep, it usually has a small padding around the focused element. Feel free to close it!

[2021-01-29 09:52] ghost commented on #11761
https://user-images.githubusercontent.com/63122133/106259803-b393b780-6245-11eb-9ad7-2a3cf681e63f.mp4

@ARKEOLOGIST Please check..

[2021-01-29 10:09] #11767 closed, assigned to kevintab95

[2021-01-29 13:42] vojtechjelinek commented on #11431
@OBITORASU The `BaseModel.delete_multi` can be used in other files, also since some models inherit from `BaseModel` (like `UserSettingsModel`), the `delete_multi` can be used in these classes too.

[2021-01-29 14:17] tanishq67 commented on #8423
@sajalasati  Thank You very much, it was helpful! I read all the documentation, checked past PR's (analysed them deeply) and I learnt a lot, now I am very positive that my PR will be ready soon.

[2021-01-29 15:29] sajalasati commented on #8423
Hi @hardikkat24, Thanks a lot for detailed description!

Sorry my bad, what I wanted to say was keep it as the default value only, i.e **True**.

Going by the error it seems we are re-defining this option, so can you try this - don't add `no-docstring-rgx` to the options of `DocstringParameterChecker`, and just directly access it as `self.config.no_docstring_rgx` i.e keep the rest of the changes a

[2021-01-29 15:47] OBITORASU commented on #11431
Thanks for the explanation :)

[2021-01-29 16:30] ARKEOLOGIST commented on #11761
Please open a PR @urvashi-code1255

[2021-01-29 16:31] ghost commented on #11761
Okay @ARKEOLOGIST

[2021-01-29 17:25] SAEb-ai opened #11816 "Footer width underflows in library page for smaller resolutions"
**Describe the bug**
Footer width underflows in library page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/community-library'
 2. Scroll down to 'footer'
 3. See error

**Observed behavior**
Footer width underflows in library page for smaller resolutions

**Expected behavior**
It should occupy the full length of the screen.

**Screenshots**
![ff](https://user-

[2021-01-29 19:58] AdityaDubey0 commented on #11105
Hi @dchen97
I would like to work on this issue.
can you please assign it to me?
Thanks!

[2021-01-29 20:07] kevintab95 commented on #11816
Hi @SAEb-ai, I'm unable to reproduce this on Chrome or Firefox.
Chrome
![image](https://user-images.githubusercontent.com/11008603/106322262-98539700-629b-11eb-91f3-0edc0e078a7b.png)

Firefox
![image](https://user-images.githubusercontent.com/11008603/106322330-b7522900-629b-11eb-9b99-6c6de3392233.png)

[2021-01-29 20:11] kevintab95 commented on #11805
Hi @SAEb-ai, I think this is as expected for mobiles with small screen widths.

[2021-01-29 20:28] SAEb-ai commented on #11816
https://user-images.githubusercontent.com/69013647/106324025-6f80d100-629e-11eb-9cdb-0fda823c6f9c.mp4

@kevintab95 But its happening on my pc . Windows 10(Chrome) as shown above.

![IMG_20210130_021327](https://user-images.githubusercontent.com/69013647/106325531-f8990780-62a0-11eb-9126-2d0874dff97e.jpg)

This same case is showing in my mobile phone GIONEE P7 MAX as shown above.

[2021-01-29 20:34] kevintab95 commented on #3984
Hi @archi15, sorry for the late reply. Hm, I just checked the thread and I don't think it was concluded properly. Though, I see that an upvoted suggestion that makes sense is 'Add to play later list' https://github.com/oppia/oppia/issues/6021#issuecomment-449898133. Maybe let's try that out and ask folks for opinion? Thanks!

[2021-01-29 21:11] #11805 closed, assigned to nobody

[2021-01-29 23:08] DubeySandeep commented on #11693
@vojtechjelinek is this issue already resolved?

[2021-01-29 23:15] vojtechjelinek commented on #11693
@DubeySandeep No

[2021-01-29 23:20] AdityaDubey0 commented on #9887
Hey @DubeySandeep
I would like to work on this issue.
Can you please assign it to me?
Thanks!

[2021-01-30 08:52] ghost opened #11820 "No Opportunity Available text is not completely visible on smaller screens"
**Describe the bug**
A clear and concise description of what the bug is.
- `No Opportunity Available` text is hiding on smaller screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Contributors-Dashboard](https://oppiatestserver.appspot.com/contributor-dashboard)
 2. Scroll down to No Opportunity Available text .
 3. Make screen size around 555px.
 4. See the error.

**Obser

[2021-01-30 10:04] DubeySandeep commented on #11700
I'm not sure about the issue 1 as I,m unable to understand it clearly.

Re 2:

It's an expected behaviour that is we show the oldest suggestion first.

Re 3:

This issue is resolved in 2 PRs and I've deployed a hot fix for the same. Also, marked them to pick for the current release.

[2021-01-30 10:20] archi15 commented on #3984
Hi @kevintab95, Yes, "Add to play later list" seems most preferable but it still needs to be finalized. Can @seanlip @nithusha21, please give their suggestions? Thanks!

[2021-01-30 10:30] atpug22 commented on #11700
@DubeySandeep I have added the screen recording for issue 1 above. Just look at the content of cards before opening and after closing the review translation dialog box in the video.

[2021-01-30 11:10] shubhamkorde commented on #8618
Hii @iamprayush ! I want to work on this issue. I have these possible solutions in mind:
1. Remove the the text, what are you curious about in the search bar to reduce the size of search bar and accommodate the categories selection drop-down.
2. Reduce font-size, padding and margins so that everything fits in small screens. (This might create problems due to small elements)
3. Shift the categories

[2021-01-30 16:24] krishita30j commented on #11584
@gp201 @DubeySandeep @sajalasati while running the e2e tests locally, this error showed up (while running e2e test, I started the redis-server in another tab):

<img width="1440" alt="Screenshot 2021-01-30 at 7 27 55 PM" src="https://user-images.githubusercontent.com/66058206/106361470-0bb0e380-6344-11eb-8a91-ad2e9a564724.png">

<img width="1440" alt="Screenshot 2021-01-30 at 7 28 00 PM" src="http

[2021-01-30 16:49] #11015 closed, assigned to nobody

[2021-01-30 16:49] #11603 closed, assigned to kevintab95, mschanteltc, atpug22

[2021-01-30 17:41] tushar2407 commented on #10474
Hi @nishantwrp
Can I work on ComputationDataObjectFactory?

[2021-01-30 17:56] ARKEOLOGIST commented on #11206
@kevintab95 I am interesting in partially tackling this if any issues are open.

[2021-01-30 18:00] vojtechjelinek commented on #10474
@tushar2407 yes, sure

[2021-01-30 18:31] kevintab95 commented on #11206
Hi @ARKEOLOGIST, I think some of these might already be solved but please feel free to work on the ones that are still reproducible.

[2021-01-30 18:51] #11477 closed, assigned to BenHenning

[2021-01-30 18:55] seanlip commented on #3984
"Add to 'Play Later' list" is probably better (with quotes), but I'm not sure if it's too long.

[2021-01-30 19:14] archi15 commented on #3984
Hi @seanlip, thanks for your opinion. It seems good! Since it is a tooltip, so I don't think the length matter that much.

[2021-01-30 19:52] gp201 commented on #11584
@U8NWXD PTAL at this issue. It is wrt to e2e test and backend test running locally in Mac with M1 chips

[2021-01-30 21:41] #11675 closed, assigned to krishita30j

[2021-01-30 22:39] shellymutu-grigg commented on #11584
Hi,

I have tried these steps but receive the following error at step 2:

ERROR: Could not find a version that satisfies the requirement redis-server
ERROR: No matching distribution found for redis-server

[2021-01-31 05:06] U8NWXD commented on #11584
@shellymutu-grigg can you try just executing the `scripts.run_e2e_tests_test.RunE2ETestsTests.test_work_with_non_ascii_chars` backend test? I suspect that's the one that's failing. You can run this test like so:

[code]

[2021-01-31 05:33] gp201 commented on #11584
@U8NWXD sorry I should have been more clear, @shellymutu-grigg is facing a setup issue and @krishita30j is facing the e2e test and backend issue

[2021-01-31 07:01] Jha2508 commented on #11820
I want to work on this problem. Please assign it to me and as I am new to this repository, I would request to guide me through as well.

[2021-01-31 07:18] hardikkat24 commented on #8423
@sajalasati Sorry for late reply. I tried doing as you said but now I got another error:
`AttributeError: Values instance has no attribute 'no_docstring_rgx'`.

I also tried removing `no-docstring-rgx` from `.pylintrc` and added it to options of `DocstringParameterChecker`. Now the error was: `OptionConflictError: option --no-docstring-rgx: conflicting option string(s): --no-docstring-rgx
`
`

[2021-01-31 07:19] msrijita18 commented on #10474
Hi @nishantwrp . Please assign me ComputeGraphService

[2021-01-31 07:22] krishita30j commented on #11584
@U8NWXD the `scripts.run_e2e_tests_test.RunE2ETestsTests.test_work_with_non_ascii_chars` test passes successfully.
<img width="757" alt="Screenshot 2021-01-31 at 12 17 21 PM" src="https://user-images.githubusercontent.com/66058206/106377447-0fd01600-63c3-11eb-8d83-2021a82a64e0.png">

[2021-01-31 07:42] hardikkat24 commented on #8014
@DubeySandeep @seanlip  I would like to work on this issue. Can you please explain this in detail? Thanks a lot!

[2021-01-31 08:04] ghost commented on #11820
Hi @Jha2508 You can solve this issue. I can't assign you as I don't have rights :)

[2021-01-31 08:39] Jha2508 commented on #11761
I want to work on this problem. Please assign it to me and as I am new to this repository, I would request to guide me through as well.

[2021-01-31 10:07] SAEb-ai commented on #11820
@urvashi-code1255 I think that its very similar to issue #9021 and it has a label of needs UI design.

[2021-01-31 10:12] SAEb-ai commented on #11820
@urvashi-code1255 I think the whole page is not fully responsive. See #9021

[2021-01-31 11:38] iamprayush commented on #8618
Hey @shubhamkorde, thanks for taking this up!
I think the third option would be best.

[2021-01-31 12:16] iamprayush commented on #11747
Hey @ARKEOLOGIST, we're using a third party lib ([guppy](https://guppy.js.org/site/)) for the math editor, which is why it would be difficult to directly change the method of rendering the placeholder. We could however override some css properties and find a way to make it work via such changes only. Would you like to take this up?

[2021-01-31 12:45] SAEb-ai opened #11827 "Explore button coming out the box for small devices"
**Describe the bug**
Explore button and the picture in the box is disappearing for small devices

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/community-library'
 2. Scroll down to 'Maths-Foundation'
 3. See error

**Observed behavior**
Explore button and the picture in the box is disappearing for small devices

**Expected behavior**
It should not disappear

*

[2021-01-31 13:46] aks681 commented on #11698
Removing from blocking bugs, since not reproducible on develop.

[2021-01-31 13:49] aks681 commented on #11681
Removing from blocking bugs for this month, since this is not a regression of existing userflow.

[2021-01-31 14:11] 2580ayush2580 commented on #11827
Duplicate  #11676

[2021-01-31 14:37] vojtechjelinek commented on #10474
@msrijita18 Done.

[2021-01-31 15:12] #11827 closed, assigned to nobody

[2021-01-31 15:53] #11454 closed, assigned to krishita30j

[2021-01-31 16:14] krishita30j opened #11830 "Console error in the collection player screen"
**Describe the bug**
Console error in the collection player screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to http://localhost:8181/collection_editor/create
 2. Click on preview.
 3. See console error.

**Observed behavior**
Following console error is observed:
`TypeError: Cannot read property 'getExplorationSummaryObject' of undefined`

**Expected behavior**
There should be no

[2021-01-31 17:08] ARKEOLOGIST commented on #11747
@iamprayush I'll be happy to do this. I have been looking into this actively.

[2021-01-31 19:53] abhiarrathore commented on #10306
Hi @kevintab95 I would like to work on
core/templates/services/state-interaction-stats.service.ts

[2021-01-31 21:21] seanlip commented on #11726
This is fixed by #11465.

[2021-01-31 21:21] #11726 closed, assigned to varun-tandon

[2021-02-01 03:30] U8NWXD commented on #11584
@krishita30j interesting. What about the whole `run_e2e_tests_test` module?

[2021-02-01 03:36] gp201 commented on #11584
@U8NWXD Basic Info:

1. During setup the redis server was not running. The [current fix](https://github.com/oppia/oppia/issues/11584#issuecomment-766111198) is given above.

2. @krishita30j has already tried to run the `redis-server` in a different (rosetta 2) terminal and execute the tests in a separate (rosetta 2) terminal.

[2021-02-01 06:49] krishita30j commented on #11584
@U8NWXD running the whole `run_e2e_tests_test` module results in an ImportError.

<img width="1440" alt="Screenshot 2021-02-01 at 12 10 10 PM" src="https://user-images.githubusercontent.com/66058206/106424087-9cdca300-6487-11eb-8e36-3b5961a0bed9.png">

[2021-02-01 07:11] ARKEOLOGIST commented on #11747
@iamprayush It seems that Guppy is overriding the styles given in the interaction. I can deploy a "hacky" solution for this, but I doubt we can stick with it permanently.

[2021-02-01 07:36] iamprayush commented on #11747
@ARKEOLOGIST Which styles are being overridden by Guppy? Also, could you please elaborate a little more on the solution you have in mind?

[2021-02-01 10:28] ARKEOLOGIST commented on #11747
width and white-space. I can override them using !important or use a selector to crawl down to the span from the parent div. Both methods are unintuitive.

[2021-02-01 10:40] iamprayush commented on #11747
The 2nd one sounds better, but in case that doesn't work and you need to add `!important`, please add a comment stating the purpose since that is not recommended unless there's no other option.

[2021-02-01 11:09] kevintab95 commented on #11700
@sagangwee as the lead of the Contributor dashboard team, do you think this can be fixed ASAP? It is blocking the release.
/cc @DubeySandeep @aks681

[2021-02-01 11:43] #11696 closed, assigned to kevintab95

[2021-02-01 11:45] Rijuta-s opened #11836 "Explore button is not completely visible on community dashboard page."
**Describe the bug**
Explore button for classroom  is not completely visible in the desktop view  and both the image and the buttonare not visible in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/community-library'
 4. See error

**Observed behavior**
![Screenshot from 2021-02-01 17-10-02](https://user-images.githubusercontent.com/68

[2021-02-01 12:26] #11836 closed, assigned to nobody

[2021-02-01 12:26] Rijuta-s commented on #11836
It is already fixed.

[2021-02-01 15:51] Prototype4988 commented on #10306
Hi @kevintab95

I'm new to the community. I have already submitted the CLA and the New Contributor Survey.
I would like to start my contribution by working on the below files

core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
core/templates/domain/topic/topic-creation-backend-api.service.ts
core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts

[2021-02-01 16:48] DubeySandeep commented on #8174
Assigning this to @AdityaDubey0, as per offline discussion!

[2021-02-01 17:29] sajalasati commented on #8423
@DubeySandeep Can you help @hardikkat24 here? I also tried some approaches locally but I am not sure how to resolve the `conflicting option string(s)` error. I think the issue here is to decide what should be the default value for this option inside Pylint checker (I couldn't get an example for a regex option in the `pylint_extensions` file).

[2021-02-01 20:11] sagangwee opened #11840 "[Contributor Dashboard] Add admin configuration to allowlist specific users for the Submit Question tab"

[2021-02-01 20:12] sagangwee opened #11841 "[Contributor Dashboard] Mobile/Responsive UI"
Umbrella issue for tracking the work for a responsive UI for the contributor dashboard (ETA summer 2021).

[2021-02-01 20:14] sagangwee commented on #11761
We are currently holding off on responsive UI changes until ~summer 2021: https://github.com/oppia/oppia/issues/11841

[2021-02-01 23:05] #11679 closed, assigned to aishwary023

[2021-02-02 00:35] #11677 closed, assigned to aks681

[2021-02-02 06:09] srijanreddy98 opened #11843 "Replace deprecated waitFor with corresponding waitForX functions."
According to this issue in puppeteer (https://github.com/puppeteer/puppeteer/issues/6214), waitFor is being deprecated. We need to replace `waitFor` with the corresponding `waitForX` and update the docs to indicate the same.

[2021-02-02 06:10] srijanreddy98 commented on #11843
@U8NWXD PTAL!

[2021-02-02 10:15] #9887 closed, assigned to nobody

[2021-02-02 12:19] ghost commented on #11761
Okay!!

[2021-02-02 15:29] tanishq67 commented on #9749
@DubeySandeep @srijanreddy98 can anyone of you please help me with
 my query(https://github.com/oppia/oppia/issues/9749#issuecomment-767636026)

[2021-02-02 17:00] SAEb-ai commented on #11267
Hi @krishita30j Can I work on this issue??

[2021-02-02 17:32] krishita30j commented on #11267
Hi @SAEb-ai , welcome to Oppia! Before you can work on this issue, can you please confirm that you have followed the steps mentioned on our wiki page? If not, I would encourage you to do so. New contributors are required to fill up the CLA and complete the contributor survey (steps 1 & 2). Once that is done, you'll be assigned a mentor who will help you with your first contributions to Oppia. Than

[2021-02-02 17:35] SAEb-ai commented on #11267
@krishita30j I have already signed the CLA and I also have the setup installed too in my local machine. I have also two pull requests which are being reviewed currently.

[2021-02-02 17:41] krishita30j commented on #11267
@SAEb-ai thanks! I'll assign this issue to you.

[2021-02-02 17:43] SAEb-ai commented on #11267
Thanks @krishita30j

[2021-02-02 17:44] abhiarrathore commented on #10474
Hi @vojtechjelinek. Please assign me this file CollectionValidationService. Thank You!

[2021-02-02 18:31] ReshuKumari opened #11847 "Notification in skill editor tab when adding a new question"
**Describe the bug**
When we add a question in the skill of a subtopic, there is no such sign/notification that the question is added successfully to the skill in the skill editor tab. So this may create a confusion to the user whether their question was added or not. Although the question gets added successfully in the skill of the subtopic.
So it would be better if we notify the user that their

[2021-02-02 18:36] kevintab95 commented on #11247
Fixed in #11664

[2021-02-02 18:36] #11247 closed, assigned to nobody

[2021-02-02 19:15] aks681 commented on #11700
Removing this for the Feb release. Will add it back fro March.

[2021-02-02 20:52] sagangwee opened #11848 "[Contributor Dashboard] Opportunity Progress Percentages Not Updating"
The progress percentages of translation opportunities on the main Oppia server remain the same as the percentages of the last loaded opportunities:

[Screen recording](https://drive.google.com/file/d/1HHtByjwIysQEaOvRk1F7KDhWWPJc0P2e/view?usp=sharing).

[2021-02-02 21:22] #11694 closed, assigned to krishita30j

[2021-02-02 23:31] vojtechjelinek commented on #10474
@abhiarrathore Done.

[2021-02-03 03:41] U8NWXD commented on #11584
@krishita30j Sorry, I didn't mean running the module directly. I meant running all the backend tests in that module like this:

[code]

[2021-02-03 03:46] U8NWXD commented on #11843
@srijanreddy98 the issue you link is in the puppeteer repo, not protractor. Is protractor doing this too?

[2021-02-03 05:47] krishita30j commented on #11584
@U8NWXD, the tests pass successfully:
<img width="631" alt="Screenshot 2021-02-03 at 11 15 16 AM" src="https://user-images.githubusercontent.com/66058206/106704047-69c61b00-6611-11eb-94f3-34d176e38262.png">

[2021-02-03 11:04] hardikkat24 commented on #11616
@sajalasati I would like to work on this issue.

[2021-02-03 17:29] amulya00 commented on #10700
@srijanreddy98 @darksun27 , can I work on ``` Suggestion ``` ? thanks.

[2021-02-03 18:36] ARKEOLOGIST commented on #11747
@iamprayush I saw @sagangwee mention that UI changes are scheduled for summer 2021. Should I leave this or send in a PR for fixing this temporarily?

[2021-02-03 21:33] rijusougata13 opened #11856 "solved"

[2021-02-03 22:48] vojtechjelinek commented on #10700
@amulya00 I have assigned you.

[2021-02-03 22:56] vojtechjelinek commented on #11616
@hardikkat24 This issue is bit open-ended, I would recommend taking up some different Data handling issue like #11693.

[2021-02-04 01:50] U8NWXD commented on #11584
Thanks @krishita30j! I looked into the code causing this error:

https://github.com/oppia/oppia/blob/619c620d51f4af175c52d7dfe435c3dc70043f42/scripts/run_backend_tests.py#L336-L341

It looks like the error comes from trying to convert `task.exception.args[0]` to bytes. Could you print out `task.exception.args[0]` before the if-block where the code fails? That might shed some insight onto what's go

[2021-02-04 05:31] hardikkat24 commented on #11616
Thanks a lot @vojtechjelinek

[2021-02-04 05:33] hardikkat24 commented on #11693
@vojtechjelinek I would like to work on this issue.

[2021-02-04 06:58] hardikkat24 commented on #11693
@vojtechjelinek Can you tell me where should I start with? Thanks!

[2021-02-04 09:12] iamprayush commented on #11747
Let's do this now since this is important for the new math lessons which will be rolled out soon.
To reiterate, see if you can use the relevant selector to make the changes, and if not, add the `!important` property along with a comment to justify it.

[2021-02-04 16:37] vojtechjelinek commented on #11693
@hardikkat24 Hi, you will need to modify https://github.com/oppia/oppia/blob/619c620d51f4af175c52d7dfe435c3dc70043f42/core/domain/base_model_validators.py#L694 and https://github.com/oppia/oppia/blob/619c620d51f4af175c52d7dfe435c3dc70043f42/core/domain/base_model_validators.py#L779 to include a check for the length of `commit_message` field in `BaseSnapshotMetadataModel` and `BaseCommitLogEntryMod

[2021-02-04 16:37] DubeySandeep commented on #10349
Assigning this to @AdityaDubey0 as per offline discussion.

[2021-02-04 17:45] #11181 closed, assigned to mschanteltc, apurvbotle

[2021-02-04 18:32] U8NWXD commented on #11820
@urvashi-code1255 the contributor dashboard is not intended to work on mobile yet, so I'm closing this issue for now. @Jha2508 take a look at the starter issues listed on the [wiki page for new contributors](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor). These issues are maintained by developers who can help you. Your mentor is also a great resource if you n

[2021-02-04 18:32] #11820 closed, assigned to nobody

[2021-02-04 20:43] vojtechjelinek commented on #11431
@Nik-09 How is your work going? Do you need help with anything?

[2021-02-04 21:04] #10261 closed, assigned to gp201

[2021-02-05 04:20] Nik-09 commented on #11431
I have created Pr please ask @aks681 to review [pr link](https://github.com/oppia/oppia/pull/11781)
Thanks @vojtechjelinek and @aks681 .

[2021-02-05 10:03] Nik-09 commented on #10474
@nishantwrp @vojtechjelinek can you please assign me AnswerClassificationResultObjectFactory
Thanks

[2021-02-05 11:27] nishantwrp commented on #10474
Hi guys, I am unassigning you from the files to unblock others from working on those files. If you're working on these files or are stuck anywhere feel free to comment and get re-assigned. Thanks!

[2021-02-05 12:16] mmkm10 commented on #8668
Hi, can I work on exploration-features-backend-api.service.ts? Could you please assign me if possible?

[2021-02-05 20:04] DubeySandeep commented on #6956
Assigning this to @AdityaDubey0 as per offline discussion.

[2021-02-06 02:34] EricZLou opened #11866 "Lesson Implementor Experience"
**Some random improvements for the lesson editor page:**
- Set strict ordering for input option types. For example, for number input, set the first option to "Is Equal To" since people use that one the most often.
- When using the continue button interaction, the editor asks for the text to put on the button (default is "Continue"). Alongside that, we should automatically ask for the next card nam

[2021-02-06 07:04] hardikkat24 commented on #11693
@vojtechjelinek Thanks a lot! I have done as you said. But I have some questions:
1. Should I add tests in `prod_validators_test.py`?
2. How do i check that my validators are working correctly on my local machine?

[2021-02-06 10:04] aishwary023 commented on #10667
@kevintab95  Can you assign me
```Click "Feedback" icon. Then when clicking profile icon, it's blocked by the feedback box.```
and ```Don't need to add commit message for topic editor until topic is published? Ditto for skills.```?

[2021-02-06 10:08] DubeySandeep commented on #10700
Assigned `QuestionSummary` part of the issue to @Nik-09

[2021-02-06 10:11] mridul-netizen commented on #7407
@vojtechjelinek codebase currently uses two libraries for these purpose i.e. `codemirror.js` and `ui-codemirror`. Why do we need both of them?Also codemirror is being actively mantained and this is it's [latest](https://codemirror.net/6/) version so this can be used?

[2021-02-06 10:49] tushar2407 commented on #10474
Hi @nishantwrp , please assign me AugmentedSkillSummaryObjectFactory.

[2021-02-06 11:48] ghost commented on #10306
Hi @kevintab95 I would like to work on following files.
[code]

[2021-02-06 12:43] kishanhitk commented on #10798
@U8NWXD, can you please assign me this file `core/tests/protractor/profileMenuFlow.js`.

[2021-02-06 13:33] Nik-09 opened #11868 "Failed to start localhost"
Failed to start localhost after fetching with upstream, but it works on previous version.
error message: Failed to start server on port 9200
@DubeySandeep please guide me.

![Screenshot from 2021-02-06 18-59-08](https://user-images.githubusercontent.com/57531197/107119476-cc3b4780-68ad-11eb-95dc-45d2c2746750.png)

 - OS: Ubuntu 18.04
 - Browser chrome

[2021-02-06 13:39] Nik-09 commented on #11868
@DubeySandeep please take a look.
Thanks

[2021-02-06 13:41] vojtechjelinek commented on #10474
@Nik-09 @tushar2407 Done.

[2021-02-06 13:47] vojtechjelinek commented on #7407
@mridul-netizen I think that codemirror.js is the actual editor and ui-codemirror is an AngluarJS wrapper for it? I'm not saying we shouldn't use codemirror, I'm saying we cannot use ui-codemirror since it only supports AngularJS.

[2021-02-06 13:55] vojtechjelinek commented on #11693
@hardikkat24
1. better to base_model_validators_test.py
2. you start the local server, log in as admin, navigate to admin page and the jobs tab, run the jobs there

[2021-02-06 14:41] #11856 closed, assigned to nobody

[2021-02-06 15:01] hardikkat24 commented on #11693
@vojtechjelinek Thanks a lot!
But what I did was I added validator for `commit_message`'s length in `BaseCommitLogEntryModelValidator` and `BaseSnapshotMetadataModelValidator`.

Now I should test this code. So this can be done by adding tests in `base_model_validators_test.py` and running Jobs corresponding to `ExplorationCommitLogEntryModelValidatorTests` because I made changes in `BaseCommitLogE

[2021-02-06 15:25] vojtechjelinek commented on #11693
@hardikkat24 Okay, put the tests in prod_validators_test.py, we can discuss any move of these tests to other places once you open a PR.

[2021-02-06 15:31] hardikkat24 commented on #11693
@vojtechjelinek After I add the tests, then only the Jobs will show whether my approach was correct or not. Am I correct on this? Or can I test my approach without adding tests in the file.

[2021-02-06 16:38] vojtechjelinek commented on #11693
As I said "you start the local server, log in as admin, navigate to admin page and the jobs tab, run the jobs there".

[2021-02-06 16:53] 17sushmita commented on #11431
Hi @vojtechjelinek , Is there any task available in this issue?

[2021-02-06 17:01] vojtechjelinek commented on #11431
@17sushmita No, it isn't.

[2021-02-06 19:05] lkbhitesh07 commented on #10306
Hello @kevintab95 , I would like to go ahead with `core/templates/services/playthrough-issues-backend-api.service.ts`.
Thanks.

[2021-02-06 19:48] rijusougata13 commented on #11763
@tanishq67  can you check the pr. #11870 solve the issue here

[2021-02-06 20:32] tanishq67 commented on #8423
I have a query regarding the issue assigned to me `Add a lint check to prevents usage of string concatenation, and promotes string interpolation instead.`

@sajalasati  sorry for the delay, I was quite busy with my college academics.
The issue is that, for string concatenation of type `string + string` like `'Hi' + 'Hi'` , it will add error message 2 times (number of string constants in the expres

[2021-02-07 03:03] Prototype4988 commented on #10798
Hi @U8NWXD, can you assign me core/tests/protractor/learnerFlow.js
Thanks

[2021-02-07 08:02] sajalasati commented on #8423
@tanishq67! Thanks for giving an update.

I think this solution is acceptable i.e if you print an error message for all string constants, because I doubt there will be many instances which would have > 2 or 3 strings, so this solution would be good. Ideally we want to report all the errors at once only, so that too many iterations aren't needed in fixing lint errors. Just make sure each error mess

[2021-02-07 08:49] mridul-netizen commented on #11868
I am also facing same issue .It randomly fails and start on running `python -m scripts.start`

[2021-02-07 11:48] SAEb-ai commented on #11868
@DubeySandeep @Nik-09 It is also happening to me.

[2021-02-07 12:00] iamprayush commented on #11439
Closing this since this is fixed by the first task of the [question editor issues](https://github.com/oppia/oppia/issues/11464).

[2021-02-07 12:00] #11439 closed, assigned to nobody

[2021-02-07 12:10] Mohitbalwani26 commented on #10306
Hi @kevintab95 , I would like to fix the file `core/templates/domain/exploration/exploration-permissions-backend-api.service.ts`. can you assign me?

[2021-02-07 13:44] gp201 commented on #11868
@Nik-09 @mridul-netizen Did this issue start after a recent pull from upstream?

[2021-02-07 14:22] sajalasati commented on #8423
Hi @Mayank-gaur! How is your task going on, do have any updates? If you are stuck somewhere do let us know by leaving a comment down here!

[2021-02-07 14:33] Mayank-gaur commented on #8423
Thanks @sajalasati  for asking. I was stuck at some dependencies problem for a while but now everything is working. I have almost written my pylint_extension class and I will begin with testing in a day or two. I think my PR will be ready soon.

[2021-02-07 14:34] sajalasati commented on #8423
Sounds good!

[2021-02-07 15:04] Nik-09 commented on #11868
@gp201 yes after merging with upstream it pops up.

[2021-02-07 15:06] gp201 commented on #11868
@Nik-09 Can you follow the steps given below:
1. `sudo lsof -i -P -n | grep LISTEN` This [link](https://www.cyberciti.biz/faq/unix-linux-check-if-port-is-in-use-command/) check if port 9200 is being used
2. `sudo kill -9 <port_no>` This is to kill any process using that port

@mridul-netizen provided the solution in gitter

[2021-02-07 15:41] Nik-09 commented on #11868
![Screenshot from 2021-02-07 21-10-53](https://user-images.githubusercontent.com/57531197/107151520-06c5e280-6989-11eb-92e6-2ce8b1d12508.png)
![Screenshot from 2021-02-07 21-08-06](https://user-images.githubusercontent.com/57531197/107151530-0fb6b400-6989-11eb-9cb0-43c1dcbea12f.png)

[2021-02-07 15:42] Nik-09 commented on #11868
please see @gp201, port 9200 is not in used still localhost failed to start.
Thanks

[2021-02-07 21:04] U8NWXD commented on #8472
Assigned @Kizjkre to `suggestion-modal-for-learner-dashboard.service.ts` per their request

[2021-02-07 23:20] #8174 closed, assigned to nobody

[2021-02-08 06:02] pankajdahiya008 commented on #11587
@KhushiGangopadhyay Were you able to fix the issue? If fixed, can you Please tell the solution to the problem.

[2021-02-08 06:29] gp201 commented on #11587
@PANKAJ-DAHIYA123 if you're getting the same error can you try to run `python -m scripts.start --no_browser`
src: [link](https://github.com/oppia/oppia/issues/11587#issuecomment-753664277)

[2021-02-08 08:15] krishita30j commented on #11541
Hi @mschanteltc, should I keep the Drag an image into this area functionality?

[2021-02-08 10:30] hardikkat24 commented on #10820
@ankita240796 I would like to work on this issue.

[2021-02-08 11:19] #11212 closed, assigned to krishita30j

[2021-02-08 13:09] Koushikk-24 commented on #10415
@vojtechjelinek can I work on exploration model?

[2021-02-08 13:17] gp201 commented on #11868
@DubeySandeep @Hudda PTAL seems like this issue appeared only after the latest pull from upstream (Oppia).

[2021-02-08 13:54] pankajdahiya008 commented on #11587
@gp201 ThankYou --no_browser worked. But just for curiosity can you explain how it's working?

[2021-02-08 14:01] gp201 commented on #11587
https://github.com/oppia/oppia/blob/2ed730ac3248d3337e698f6afad20f6f191be71b/scripts/start.py#L172-L179

Nice! glad to see it worked!!
@PANKAJ-DAHIYA123 The error is caused in line 177. By passing no_browser the lines inside the if stmt (line 173) does not run

[2021-02-08 19:08] SarahZLipeles opened #11877 "Review naming and decorator convention for private variables in Angular 9"
After migrating services and directives to Angular 9, there is some inconsistency about which private member variables are preceded with an underscore.

Currently, most files _do not_ use the `_` prefix for injected services, but _do_ use them for private methods and properties. See [#11858 (comment)](https://github.com/oppia/oppia/pull/11858#discussion_r571295194) for context.

Additionally, we s

[2021-02-08 20:43] seanlip commented on #11747
Just to confirm: in general, if there are UI issues, please do act on them immediately. There's not much point waiting until later if they can be fixed now.

Also, as Prayush mentions, please don't use `!important`. Use a more specific selector instead, with comments explaining what is going on if needed. Thanks!

[2021-02-08 21:07] kevintab95 commented on #11763
Hi @tanishq67, thanks for raising this. But I think the help icon was hidden on mobile devices because we do not have tutorials optimised for mobile devices yet. https://github.com/oppia/oppia/issues/8043 will need to be fixed before this can be taken up.

[2021-02-08 21:23] sagangwee opened #11881 "[Contributor Dashboard] Consolidate add/remove contribution rights controller handlers"
Instead of having separate list/add/remove contribution rights handlers in core/controllers/admin.py, it may make more sense to have one handler "ContributionRightsHandler" which will have get/post/delete methods to handle fetch/add/removal of rights.

See https://github.com/oppia/oppia/pull/11862/files#r571696871 for more context.

[2021-02-08 22:18] #10201 closed, assigned to EricZLou

[2021-02-08 22:18] #11682 closed, assigned to EricZLou

[2021-02-08 23:14] sachinchauhan2889 commented on #11716
@darksun27 can you please assign this issue to me. I want to work on this. Thanks.

[2021-02-08 23:52] sachinchauhan2889 commented on #11716
Is this issue fixed?
this issue is not present at https://www.oppia.org/community-library

![ask 1](https://user-images.githubusercontent.com/72552281/107295947-6f4eb580-6a96-11eb-9a62-26d6ed0544bc.png)

[2021-02-09 04:05] ReshuKumari commented on #11716
@sachinchauhan2889 this has been fixed you can look for other issues in the issue section. Thanks!

[2021-02-09 04:05] #11716 closed, assigned to nobody

[2021-02-09 04:43] mschanteltc commented on #11541
Yes please.

[2021-02-09 05:30] shubhamkorde commented on #8472
There seems to be an issue with the pre-push checks. I have made changes to file named: learner-answer-details-data-service.ts. This file makes http requests but it does not have backend-api-service in its name hence an error is coming up when it finds an instance of HttpClient. What should be done in such cases?
![Screenshot from 2021-02-09 02-31-49](https://user-images.githubusercontent.com/5693

[2021-02-09 08:32] mridul-netizen commented on #10700
@DubeySandeep  @srijanreddy98 I have opened a PR for `ThreadMessageSummary` can you please assign me the same?

[2021-02-09 09:47] pankajdahiya008 commented on #11587
@gp201 Got the error Thanks!

[2021-02-09 12:17] gp201 opened #11885 "[Fractions landing page] Title hidden in small screens"
**Describe the bug**
The 2nd title is partially hidden.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/collection/giIwhTU3up5v
 2. View the page in 771px x 858px

**Observed behavior**
The title is hidden.

**Expected behavior**
The title should be not be hidden.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image]

[2021-02-09 12:23] gp201 opened #11886 "[Library Page] Search bar is misaligned."
**Describe the bug**
The 'categories' and 'Language' are partially hidden.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library.

**Observed behavior**
Search is partially hidden.

**Expected behavior**
Search should be clear.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img src="https://user-images.githubusercontent.com/30050862/107362739-2aab3480

[2021-02-09 12:34] gp201 opened #11887 "[Exploration] Audio player hovers in the middle"
**Describe the bug**
The audio player button seems to hover in the middle

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v
 2. Scroll down
 3. See the audio play button

**Observed behavior**
The audio player is hover in the middle

**Expected behavior**
The audio player should be attached to the navbar

[2021-02-09 15:29] ARKEOLOGIST commented on #11886
@gp201 do you mind if I take care of this?

[2021-02-09 15:31] gp201 commented on #11886
@ARKEOLOGIST Sure! Go ahead I assigned you.
Also check if another PR has caused this.

[2021-02-09 15:36] ARKEOLOGIST commented on #11886
There was a PR that was merged recently which worked with the search bar for the mobile view; that might have caused it. I will have a look and see what I can do.

[2021-02-09 16:18] vojtechjelinek commented on #10415
@Koushikk-24 Could you please first complete your work on subtopic?

[2021-02-09 16:54] vojtechjelinek commented on #10727
Was run on the prod server. Closing.

[2021-02-09 16:54] #10727 closed, assigned to krishita30j

[2021-02-09 17:16] nishantwrp commented on #9982
Fixed by #10054. /cc @srijanreddy98 to remind you about this convention.

[2021-02-09 17:16] #9982 closed, assigned to nishantwrp

[2021-02-09 17:27] riyasingh1004 commented on #8472
@arpit1912  Can you assign me question-validation.service.ts

[2021-02-09 17:29] rijusougata13 commented on #11885
i want to work on this..please assign me. @gp201

[2021-02-09 18:28] kevintab95 opened #11888 "Unexpected lint error when using "bypass" in a comment"
Lint error `The use of the word "bypass" is not allowed, particularly with regards to bypassSecurityTrustHTML() and similar functions in Angular.` was thrown when "bypass" was used in a comment. This is unexpected. It should be possible to use the word in comments.

**Helpful info to solve the issue**:
- We can use the word "bypass" anywhere except for the following cases:
  - Function
  - Class

[2021-02-09 19:27] atpug22 commented on #11868
@DubeySandeep @Hudda I am also facing the same issue.

[2021-02-09 19:51] U8NWXD commented on #11888
/cc @Hudda @sajalasati

[2021-02-09 19:54] arpit1912 commented on #8472
@shubhamkorde you have to refactor the code and  create a new backend api service for it.

[2021-02-09 19:55] arpit1912 commented on #8472
@riyasingh1004  assigned you!  Thanks!

[2021-02-09 20:31] seanlip commented on #11868
Hi folks -- if you're running into this, try doing `ps aux | grep elasticsearch` and killing any remaining processes manually using `kill -9 <port_number>`. I'll look into why the processes aren't being killed properly, sorry about this.

Please post here with more details if the above doesn't work. Also, note that you don't have to kill the process that has "grep" in it -- that relates to the gre

[2021-02-09 23:27] mschanteltc opened #11890 "Implement iFrame Features"
Implement the following iFrame features for [mobile](https://www.figma.com/file/EzfCT4svleRejZRvghHCyo/Oppia_iframe?node-id=655%3A1223) and [desktop](https://www.figma.com/file/EzfCT4svleRejZRvghHCyo/Oppia_iframe?node-id=365%3A0):

- Selecting an audio language
- Sending feedback
- Lesson Player
   - Start/end of a lesson
   - Right/wrong answer
   - Continuation

[2021-02-09 23:27] mschanteltc commented on #11890
@aks681 @kevintab95

[2021-02-10 02:20] U8NWXD commented on #11885
@rijusougata13 this bug needs to be fixed quickly because it is blocking the next release of Oppia. Will you be able to fix it in the next few days? In the mean-time, I've assigned you

[2021-02-10 02:22] U8NWXD commented on #11886
@ARKEOLOGIST thanks for picking up this issue! This is just a quick reminder that since this bug is blocking the current release, we need to fix it ASAP. When do you expect to be able to fix it?

[2021-02-10 02:24] U8NWXD commented on #11887
@aks681 this is a blocking bug in the learner interface. Could you take up this issue or assign it to someone on your team?

[2021-02-10 02:26] U8NWXD commented on #11384
@kevintab95 it looks like Codemirror 6 is still in beta, so is this still not a blocking bug? It was identified again in testing for the February release

[2021-02-10 02:45] U8NWXD commented on #10798
@kishanhitk @Prototype4988 I've assigned you! Sorry for the delay. Please let me know if you have any questions

[2021-02-10 04:36] gp201 commented on #11384
@U8NWXD FYI, [This](https://discuss.codemirror.net/t/when-will-codemirror-next-be-ready-for-use-in-production/2645/6)  is a thread where there is a discussion of when it might be production ready.

[2021-02-10 04:59] ARKEOLOGIST commented on #11886
@U8NWXD I'll try to fix this within today.

[2021-02-10 05:06] rohitkatlaa opened #11891 "Translation Tour does not open in tabs other than translation tab"
**Describe the bug**
Translation Tour does not open in tabs other than translation tab but the 'take the tour' works in other windows as it redirects to the editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Dashboard and create an exploration
 2. Click on Help
 3. Click on Translation Tour
 4. The tour is not played unless you are in translation tab.

**Observed behavior

[2021-02-10 05:29] seanlip commented on #11890
Assigning to @aks681 for subsequent triage/breakdown, since I think the next step for this is to write a design doc.

[2021-02-10 05:33] rohitkatlaa opened #11892 "The cards for different interactions are in different lengths in small screens"
**Describe the bug**
The cards for different interactions are in different lengths in small screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Click Add interaction
 3. The interaction cards are of different lengths in smaller screen.

**Observed behavior**
The cards for different interactions are in different lengths in small screen.

**Expected behavior**
Al

[2021-02-10 05:51] ARKEOLOGIST commented on #11886
There seems to be another issue that is associated with this. I'll file it separately. I'll send in a PR shortly that should close this!

[2021-02-10 06:44] gp201 commented on #11886
@ARKEOLOGIST what is the other issue? If it is occurring in the release it would be better to fix that in this PR(if it is related).

[2021-02-10 06:47] ARKEOLOGIST commented on #11886
![arrow](https://user-images.githubusercontent.com/34165124/107475327-ede04b80-6b99-11eb-99a0-6b6d93f92efd.PNG)
Rightmost arrow doesn't seem to stay within its box.

[2021-02-10 06:49] gp201 commented on #11886
@ARKEOLOGIST Can you try to fix this in this PR itself?

[2021-02-10 06:51] SAEb-ai commented on #11868
@seanlip @DubeySandeep @gp201 @Hudda
The process given by @seanlip is not working on my side.
![oj](https://user-images.githubusercontent.com/69013647/107474937-4fec8100-6b99-11eb-9a5c-4e6d3f071701.JPG)

Then after killing the ports, I again ran `python -m scripts.start` but still it failed to start the server .
![nm](https://user-images.githubusercontent.com/69013647/107475591-647d4900-6b9a-11eb-

[2021-02-10 06:51] ARKEOLOGIST commented on #11886
I'll definitely have a look at it. The search bar issue should be fixed when #11893 is merged, though.

[2021-02-10 06:56] SAEb-ai commented on #11892
@rohitkatlaa Can you please assign me this issue. I wish to work on this.

[2021-02-10 07:04] seanlip commented on #11868
See if you can check what is currently running on port 9200.

[2021-02-10 07:07] SAEb-ai commented on #11868
@seanlip I have seen but nothing was running at port 9200

[2021-02-10 07:08] gp201 commented on #11868
@seanlip FYI, about port 9200. [link](https://github.com/oppia/oppia/issues/11868#issuecomment-774695517)

[2021-02-10 07:09] rohitkatlaa commented on #11892
@SAEb-ai I have assigned you.

[2021-02-10 07:15] seanlip commented on #11868
I think you might need to dig a bit to see what is happening on your machine. I can think of two possible issues:

- Some other process (perhaps an old elasticsearch process) is running on port 9200.
- It is not possible to start any process on port 9200 because it's not available for some reason.

Otherwise, there might be some issue with starting elasticsearch on your machine at all. One thing y

[2021-02-10 07:31] SAEb-ai commented on #11868
@seanlip Actually I am not familiar how I can use manage_elasticsearch_dev_server(), so can you please provide any link of some documentation so that I study it from there.

[2021-02-10 07:33] gp201 commented on #11891
#11857 Fixed this issue right? @EricZLou

[2021-02-10 07:33] seanlip commented on #11868
Take a look at the function in the codebase. You can find it by searching for it, it's in scripts/common.py.

You don't need to use it. Just look at the command it's using to spawn a new process, and try to run that directly in a terminal.

[2021-02-10 07:35] SAEb-ai commented on #11868
Thanks @seanlip

[2021-02-10 08:12] SAEb-ai commented on #11868
@seanlip @gp201  I did the above and came up with the following error.PTAL.
![uy](https://user-images.githubusercontent.com/69013647/107482533-d14a1080-6ba5-11eb-8234-70fd29bd228e.JPG)

[2021-02-10 08:24] SAEb-ai commented on #11892
Thanks @rohitkatlaa

[2021-02-10 08:24] gp201 commented on #11885
@rijusougata13 Sorry, I have already started working on it. Could please find another issue to fix?

[2021-02-10 08:27] rijusougata13 commented on #11885
yeah no problem...

[2021-02-10 10:52] mridul-netizen opened #11895 "Image not showing up in voice over artist exploration"
**Describe the bug**
Suppose we have 2 creators for a single exploration.Let A be the manager and B be the voice artist.If some image is inserted into the exploration it shows reload image on the UI and a console error after the exploration has been published.The behaviour was seen only in the account of voice artist but not with some learner account.
**To Reproduce**
Steps to reproduce the behavi

[2021-02-10 11:11] SAEb-ai commented on #11892
@rohitkatlaa I have a query that by length do you mean width?

[2021-02-10 11:39] SAEb-ai commented on #11892
https://user-images.githubusercontent.com/69013647/107505253-6c50e380-6bc2-11eb-926c-18c8558380d6.mp4

Is this good? PTAL

[2021-02-10 11:50] DubeySandeep commented on #11868
@seanlip I believe there is an issue with our script because of two reasons:
1. This issue is reproducible on e2e builds on circleCI.
2. @Nik-09 wasn't able to reproduce this issue on the old develop branch but after updating with upstream develop he was able to reproduce this issue consistently!

I have asked @Nik-09 to do a binary search on commit history to find which commit(s) are causing this

[2021-02-10 12:19] ghost opened #11896 "Search Bar on Community Library Lessons Page is hiding on small screens"
**Describe the bug**
A clear and concise description of what the bug is.
Search Bar on Community Library Lessons Page is hiding on small screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Community Library lessons](https://oppiatestserver.appspot.com/community-library)
 2. Reduce the screen size to 600px.
 3. Scroll down to Search bar.
 4. See error.

**Observed behavior**
A cl

[2021-02-10 12:27] rohitkatlaa commented on #11892
@SAEb-ai It looks good, but please do check if other tabs also work in the same way. Once checked please create a PR.

[2021-02-10 12:40] rijusougata13 commented on #11896
@urvashi-code1255  are you working on this?

[2021-02-10 12:45] shubhamkorde commented on #8472
@arpit1912 can you please provide an example. What if I change the file name to learner-answer-details-data-backend-api.service.ts ? Is this a possible solution?

[2021-02-10 12:56] ghost commented on #11896
Yes @rijusougata13 I will.

[2021-02-10 14:59] #11779 closed, assigned to nobody

[2021-02-10 15:03] EricZLou commented on #11891
Yep that PR should have fixed it and all the tutorials should be working at least on localhost

[2021-02-10 15:11] gp201 commented on #11891
@kevintab95 told that the PR might not have been included in this release.

[2021-02-10 15:53] #3984 closed, assigned to archi15

[2021-02-10 17:16] vojtechjelinek opened #11898 "The social media icons are missaligned and different sizes"
On the creator dashboard, the icons for published exploration are misaligned and also differently sized.
![image](https://user-images.githubusercontent.com/10142938/107545837-0406ff80-6bcc-11eb-94fc-fc7c383f35ee.png)

[2021-02-10 17:52] #9008 closed, assigned to HarshKhilawala

[2021-02-10 18:02] vojtechjelinek opened #11899 "[Admin page] Issues with contribution reviewers tool"
### Issue 1

On the roles tab of the admin page. When firstly some contribution reviewers for voiceover/translation role are requested and then the contribution reviewers for questions are requested, this error shows up:

![image](https://user-images.githubusercontent.com/10142938/107551123-28fe7100-6bd2-11eb-8d94-eb978b8dad8e.png)

Image for context
![image](https://user-images.githubusercontent.

[2021-02-10 18:10] ARKEOLOGIST commented on #11896
@urvashi-code1255 This is a duplicate of #11886. Please check if an issue already exists before you open a new issue.

[2021-02-10 18:27] vojtechjelinek opened #11900 "[Contributor dashboard] When next is clicked in Submit Question tab we cannot navigate back"
When "Next >" button is clicked on the Submit Question tab of the Contributor dashboard there are no more skills and no navigation buttons either.

Before clicking the next button:
![image](https://user-images.githubusercontent.com/10142938/107554248-fbb3c200-6bd5-11eb-91e6-ca046f0c61d2.png)

After clicking the next button:
![image](https://user-images.githubusercontent.com/10142938/107554276-04a4

[2021-02-10 18:34] vojtechjelinek opened #11901 "[Contributor dashboard] Weirdly formated bullet points in question suggestion modal"
The bullet points look weird in the question suggestion modal. This issue only applies to Firefox.
![image](https://user-images.githubusercontent.com/10142938/107554947-e1c6af00-6bd6-11eb-9b25-6cb6fdd8fdd8.png)

[2021-02-10 18:45] vojtechjelinek opened #11903 "[Contributor dashboard] Left navbar button is wrongly highlighted"
When a button on the left navbar in contributor dashboard spans over multiple lines the highlight of that button only spans across one line. An image should explain it better:
![image](https://user-images.githubusercontent.com/10142938/107556060-3a4a7c00-6bd8-11eb-93cd-57171f51541b.png)

[2021-02-10 18:50] vojtechjelinek commented on #11903
Also, when I can review both questions and translations and the page is not wide enough the navbar button is hidden behind the other one.
![image](https://user-images.githubusercontent.com/10142938/107556818-28b5a400-6bd9-11eb-9f1b-b597fb3359c9.png)

[2021-02-10 19:00] vojtechjelinek opened #11904 "[Contributor dashboard] Add logs for images do not work in translation review modal"
When reviewing a translation that contains images, these images cannot be loaded.
![image](https://user-images.githubusercontent.com/10142938/107557651-30297d00-6bda-11eb-941f-8edbd2a8e99b.png)
![image](https://user-images.githubusercontent.com/10142938/107557717-40415c80-6bda-11eb-8459-6608559e08e4.png)

[2021-02-10 19:05] vojtechjelinek opened #11905 "[Contributor dashboard] When the translation review modal is cancelled the list of translations is changed"
When you open a list of translation suggestions to review, then click the "Next >" button. Then if you open a translation to review and subsequently close it, the list of translations is different than when the modal was opened.

[2021-02-10 19:24] sagangwee commented on #11901
@kevintab95 This seems like a question editor issue?

[2021-02-10 19:24] sagangwee commented on #11903
These issues only occur when the screen width is small?

[2021-02-10 19:50] vojtechjelinek commented on #11903
Yes

[2021-02-10 20:18] sagangwee commented on #11905
The set of translations is still the same though, right? If so, don't think this should necessarily be blocking.

[2021-02-10 20:21] sagangwee commented on #11900
@DubeySandeep FYI, since you had implemented pagination—have you seen this before?

[2021-02-10 20:23] sagangwee commented on #11904
@DubeySandeep This has happened in the past, but was fixed?

[2021-02-10 20:26] vojtechjelinek commented on #11905
Yep, it stays the same

[2021-02-11 00:36] ghost commented on #11896
Sure @ARKEOLOGIST I haven't checked.

[2021-02-11 00:36] #11896 closed, assigned to nobody

[2021-02-11 02:00] seanlip commented on #11868
@SAEb-ai I think you're misinterpreting my comment. Please look at the source code for the function I pointed to, in order to see what should be run.

To spell it out explicitly, run: `../oppia_tools/elasticsearch-7.10.1/bin/elasticsearch`. What happens? Does an index page show up when you go to localhost:9200? Are there any errors in the terminal?

(Same question for @Nik-09.)

[2021-02-11 02:01] seanlip commented on #11868
@DubeySandeep could you please provide a link to the "e2e builds on CircleCI" issue? That might be a separate thing and I will investigate. Thanks!

[2021-02-11 02:32] seanlip commented on #11868
Also, just a couple of additional notes:

- The "WARNING:root:Forced to kill Process(name='java')" etc. is not an error. It happens because, on shutdown, elasticsearch must be manually killed, so this is working as expected.
- The problem here comes from "Failed to start server on port 9200, exiting". If you search for a similar error message in the codebase, you will find that it arises when port

[2021-02-11 03:55] Nik-09 commented on #11868
@seanlip I am not facing that issue any more and now I am able to start localhost on develop with latest changes.

[2021-02-11 03:57] gp201 commented on #11868
@SAEb-ai can you also do a git pull and check if localhost starts?

[2021-02-11 04:14] aggarwalpulkit596 commented on #24190
https://docs.google.com/document/d/1RRmmH7Zrk_Mda9a67KBjFV5Odz2OzGfbYFFP_fPI_2c/edit

[2021-02-11 05:14] SaravgiYash commented on #11816
@SAEb-ai I am Unable to reproduce this error. (Windows 10 Chrome)

[2021-02-11 05:19] SaravgiYash opened #11909 "[Footer] Footer is not responsive for mobile reslutions"
**Describe the bug**
For mobile resolutions, the containers in the footer should be side by side (2 containers per row) but they are not.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/
 2. Use the Inspection tool to view mobile resolution
 3. Scroll down to the footer
 4. See an error

**Observed behavior**
A clear and concise description of what you have obser

[2021-02-11 05:20] SaravgiYash commented on #11909
I am new to this repo and would like to solve this issue.

[2021-02-11 05:40] SAEb-ai commented on #11868
@gp201 No it's not working on my local machine. Might be a local machine error from my side.

[2021-02-11 05:46] SAEb-ai commented on #11816
@Yashs911 Can you please make a video and give it here.

[2021-02-11 08:12] SAEb-ai commented on #11909
Duplicate #11816.

[2021-02-11 09:15] Mayank-gaur commented on #8423
I know this is a very basic question, but can someone please tell me how I can print a variable in a  loop? I have written a pylint extension class and test cases  but while  loop inside my class  is running forever, so I want to know the value of a variable in each iteration. Can anybody please tell me how can I print this value? ( I tried adding print statement in the while loop, but it is not p

[2021-02-11 09:27] SaravgiYash commented on #11909
@SAEb-ai  How is this issue duplicate. In this issue I am talking about The Divs
![image](https://user-images.githubusercontent.com/64412143/107619620-7550bc00-6c79-11eb-86b8-5299c1f1a4db.png)

[2021-02-11 09:32] SAEb-ai commented on #11909
Yep. Go ahead.

[2021-02-11 10:00] SaravgiYash commented on #11898
@vojtechjelinek I would like to work on this issue. I am new to this repo.
However, I am unable to sign in with my old account It directly directs me to sign up
Edit: I made a new account

[2021-02-11 10:13] vojtechjelinek commented on #11898
@Yashs911 Hi, this issue is not recommended for new contributors. Please pick from the list of [good first issues](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) for your first issue.

[2021-02-11 11:28] Rijuta-s opened #11912 "[Learner-Dashboard] : Unable to scroll the page in play later exploration list (mobile view)"
**Describe the bug**
In mobile view of playlater list of explorarion, Drag and rearrange feature of exploaration causes problem in scroll down the page as exploaration gets selected for rearranging instead of scrolling down.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/community-library'
 2. Select 8 to 9 explorations to be played  later.
 3. Go

[2021-02-11 11:53] atpug22 commented on #11868
@gp201 @DubeySandeep  I am still facing the issue.

[2021-02-11 11:54] #11693 closed, assigned to hardikkat24

[2021-02-11 12:34] atpug22 commented on #11868
No, the terminal is not showing any error in this while running this file and when going on localhost:9200 it is showing some page with details about the elasticsearch.
But the server is still not starting and it is showing that failed to start the server on port 9200.
@DubeySandeep @gp201

[2021-02-11 13:30] sajalasati commented on #8423
@Mayank-gaur This may not be the best way, but has been quite useful for me most of the time - Try writing the variable into a temporary file. For eg. if I want to check the value of a variable `var` for each iteration in a for loop, I would write:

[code]

I have used the **append** option while doing so, so that the file is not over-written, because I don't wanna lose previous data. Also note th

[2021-02-11 15:04] SAEb-ai commented on #10798
@U8NWXD Can you please assign me `core/tests/protractor_utils/LearnerDashboardPage.js`

[2021-02-11 18:04] sajalasati commented on #10008
@EricZLou it seems we have modified the [installation wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29) as per the requirement of this issue. Can you please confirm that, and close this issue if it's true? Thanks!

[2021-02-11 18:08] EricZLou commented on #10008
Yep, perfect. Thanks!

[2021-02-11 18:08] #10008 closed, assigned to nobody

[2021-02-11 21:24] ARKEOLOGIST commented on #11909
The new version has a fix for this if I'm not wrong. Kindly wait for the new release and then try to solve it if it persists.

[2021-02-12 00:04] kevintab95 opened #11916 "[Delete Account] Able to login again after the account has been deleted"
Expected:
The user can delete their account from the preferences page, after their account is deleted they shouldn’t be able to log-in and should always be redirected to the pending deletion page.

Observed:
The user, after deletion, is able to sign-in again with a different user name and navigate through pages.

[2021-02-12 00:08] vojtechjelinek commented on #11916
`get_user_id_from_auth_id` in gae_auth_services.py needs to use `get_by_id` or some other way that retrieves models marked as deleted for getting `UserIdentifiersModel`.

[2021-02-12 00:22] sagangwee commented on #11900
hmmm very strange. I was able to replicate this exactly once on a local dev server, but cannot replicate again after the initial occurrence.

[2021-02-12 00:25] sagangwee commented on #11904
@vojtechjelinek To confirm, if you go to the corresponding exploration, the images load correctly?

[2021-02-12 00:51] vojtechjelinek commented on #11904
@sagangwee Yep, it seems like it. Just checked with exp with ID 2.

[2021-02-12 01:59] U8NWXD opened #11918 "EndExploration Interaction Shown as Empty Box"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration. In my case, I used [this one](https://oppiatestserver.appspot.com/create/gjmhePCB3jbx#/gui/b).
 2. Add an EndExploration interaction

**Observed behavior**
The interaction appears in the exploration as a blank box.

**Expected behavior**
The interac

[2021-02-12 02:09] U8NWXD opened #11919 "Topic Editor Validation Errors Look Clickable but Aren't"
**Describe the bug**
The validation errors in the topic editor look like they are clickable, but they aren't.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with validation problems. I used [this one](https://oppiatestserver.appspot.com/story_editor/jD1Z1rqYluDF#).
 2. Hover over the danger sign to see the validation errors.
 3. Hover over an error.

**Observed behavior**
Th

[2021-02-12 02:13] U8NWXD opened #11920 "Something went wrong with the exploration: no interactionRulesService was available."
**Describe the bug**
Error message: `Something went wrong with the exploration: no interactionRulesService was available.`

**To Reproduce**
Steps to reproduce the behavior:
 1. This happened when loading https://oppiatestserver.appspot.com/create/gjmhePCB3jbx#/feedback

**Observed behavior**
Error message

**Expected behavior**
No error

**Screenshots**

![Screen Shot 2021-02-11 at 21 10 35](http

[2021-02-12 02:18] U8NWXD opened #11921 "Stories Can be Published with RatioInput Interaction"
**Describe the bug**
A story can be published when one of its chapters' explorations uses the RatioInput interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a story.
 2. Add exploration [`gjmhePCB3jbx`](https://oppiatestserver.appspot.com/create/gjmhePCB3jbx#/settings) to a chapter of the story
 3. Publish the story

**Observed behavior**
The story can be publis

[2021-02-12 02:21] U8NWXD commented on #10798
@SAEb-ai I've assigned you. Let me know if you have any questions!

[2021-02-12 04:38] HarshKhilawala opened #11922 "Search Bar misaligned in Maths Classroom Page for Mobile Devices"
**Describe the bug**
Searchbar misaligned in Maths Classroom Page for Mobile Devices

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Maths Classroom Page
 2. Scroll down to find Searchbar
 3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/61461050/107730928-aaf9b180-6d1a-11eb-9ab9-e3fd9744c8ee.png)

**Smartphone (please complete the following information

[2021-02-12 05:20] SAEb-ai commented on #11922
@HarshKhilawala Can you please assign me this issue? I want to work on this.

[2021-02-12 05:22] HarshKhilawala commented on #11922
Sure, @SAEb-ai You are assigned to the issue!

[2021-02-12 06:33] savithakj commented on #8472
@shubhamkorde you can refer this [sample commit](https://github.com/oppia/oppia/pull/11191/commits/c567c253bf44c74065750ac8284812745cefec3d) .Another sample [here](https://github.com/oppia/oppia/pull/11564) where 'exploration-data' has been refractored into `exploration-data-backend-api` .

You can refractor all the HTTP calls in `learner-answer-details-data` into a different service file called `

[2021-02-12 06:33] SAEb-ai commented on #11922
@HarshKhilawala Can you please give me more clarity how should it look like?

[2021-02-12 06:47] prateekshourya29 commented on #11919
@U8NWXD Can you please assign me this issue? I want to work on this.

[2021-02-12 10:17] gp201 commented on #11922
@ARKEOLOGIST Can you check if your PR (#11893) fixes this issue too?

[2021-02-12 10:18] ARKEOLOGIST commented on #11922
Nope, @gp201 I doubt my PR fixes this.

[2021-02-12 10:20] ashutoshc8101 commented on #10798
@U8NWXD I want to work on file `core/tests/protractor_utils/users.js`. Can you please assign this to me?

[2021-02-12 10:21] gp201 commented on #11922
@ARKEOLOGIST Can you check locally and confirm? Since you must have fixed the arrow issue in that PR also.

[2021-02-12 10:27] ARKEOLOGIST commented on #11922
@gp201 You're right, my PR indeed fixes this issue too.

[2021-02-12 10:28] gp201 commented on #11922
@ARKEOLOGIST Neat!

[2021-02-12 10:30] gp201 commented on #11922
@ARKEOLOGIST can you put the picture in this issue and your PR also

[2021-02-12 10:30] SAEb-ai commented on #11922
Hi @gp201 @ARKEOLOGIST is this issue already solved in some other PR???

[2021-02-12 10:31] ARKEOLOGIST commented on #11922
@SAEb-ai I have sent in a PR which should fix this.

[2021-02-12 10:32] SAEb-ai commented on #11922
@ARKEOLOGIST Yep. Thanks

[2021-02-12 11:42] gp201 commented on #11918
In the exploration editor:
![image](https://user-images.githubusercontent.com/30050862/107763932-5b84a700-6d55-11eb-9fa6-ccc1cceb8340.png)

When the exploration is played
![image](https://user-images.githubusercontent.com/30050862/107763893-4871d700-6d55-11eb-86cc-fc708b2ada27.png)

@U8NWXD How does this look??

[2021-02-12 12:05] Preethi9194 opened #11924 "[Learner Dashboard] Mobile - Selecting any option on the learner dashboard does not indicate/ prompt that the selected content is opened and can be seen when scrolled down"
[Learner Dashboard] Mobile - Selecting any option on the learner dashboard does not indicate/ prompt that the selected content is opened and can be seen when scrolled down.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the url
2. Navigate to the Learner Dashboard
3. Select any option on the left hand side
4. Verify if there is any gesture that the selected option information appears o

[2021-02-12 12:18] Preethi9194 opened #11925 "[Learner Dashboard] Mobile - Scrolling the page on Play Later explorations is difficult and happens to only reorder the exploration"
[Learner Dashboard] Mobile - Scrolling the page on Play Later explorations is difficult and happens to only reorder the exploration

**To Reproduce**
Steps to reproduce the behavior:
1. Load the url
2. Navigate to Learner Dashborad
3. Click on Play Later
4. Try to scroll and reorder the explorations

Actual Behavior : Scrolling Play later page is difficult and happens to only reorder the explorati

[2021-02-12 12:45] gp201 commented on #11912
Possible Solution:
Only if the user presses the card for more than 1.5 secs he/she can drag and drop it.

@aks681 Should this be a blocking bug?

[2021-02-12 14:11] Rijuta-s commented on #11912
@gp201 ,@aks681 yup I think long press on card will be a good fix and we can add an instruction about it for the user.

[2021-02-12 14:18] U8NWXD opened #11928 "Skill Unassigned After Attempted Deletion of Skill with Questions"
**Describe the bug**
If you try and delete a skill with questions, the deletion fails. However, the skill still gets unassigned from any topic it was assigned to.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a skill
 2. Create a question for the skill
 3. From the Topics and Skills Dashboard page, delete the skill
 4. Deletion should fail
 5. Check the assignment stat

[2021-02-12 14:23] U8NWXD opened #11929 "Unhandled Promise Rejection when Deleting Second Skill Question"
**Describe the bug**
When deleting questions from a skill with two questions, deleting the second question fails.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill with 2 questions. My skill was [`QvMG2klRKcaj`](https://oppiatestserver.appspot.com/skill_editor/QvMG2klRKcaj#/questions)
 2. Delete the first question
 3. Delete the second question

**Observed behavior**
The second

[2021-02-12 16:44] sagangwee opened #11932 "[Contributor Dashboard] Sort translation opportunities by topic"
A basic consistent sort order of translation opportunity e.g. by topic with all fractions appearing together, all multiplication together, etc. would help with a use case where contributors already have completed translations and want to submit them systematically via the contributor dashboard.

[2021-02-12 17:08] safwan20 opened #11934 "search box are misaligned in the learn math page."
**Describe the bug**
The search bar/ box are misaligned when the tab resize.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math
 2. resize your browser and the search should be properly aligned.

**Observed behavior**
![Screenshot 2021-02-12 at 10 29 34 PM](https://user-images.githubusercontent.com/45730556/107798970-d9ab7280-6d82-11eb-89d1-

[2021-02-12 17:09] safwan20 commented on #11934
I can take this issue, can someone assign me ??

[2021-02-12 17:13] #11886 closed, assigned to ARKEOLOGIST

[2021-02-12 17:14] kevintab95 commented on #11922
Fixed by #11893

[2021-02-12 17:14] #11922 closed, assigned to nobody

[2021-02-12 17:15] ARKEOLOGIST commented on #11934
@safwan20 It should be resolved already with a PR that has been merged now.

[2021-02-12 17:32] #11840 closed, assigned to sagangwee

[2021-02-12 17:43] ARKEOLOGIST commented on #11934
#11893 should resolve this!

[2021-02-12 17:44] #11899 closed, assigned to sagangwee

[2021-02-12 18:06] safwan20 commented on #11934
It is showing something like this in mobile view . where upper arrow moving out of order.
![Screenshot 2021-02-12 at 11 34 42 PM](https://user-images.githubusercontent.com/45730556/107805165-f6e43f00-6d8a-11eb-8e8c-b7ad8753fcb0.png)

[2021-02-12 18:20] ARKEOLOGIST commented on #11934
#11893 fixes the issue. Please merge develop into your local branch.

[2021-02-12 18:24] safwan20 commented on #9749
hello Guys , Hope you all doing well can you assigned me thread-table.component.ts ?? Thanks.

[2021-02-12 18:25] safwan20 commented on #11934
greate then I will close this issue.

[2021-02-12 18:25] #11934 closed, assigned to nobody

[2021-02-12 21:37] #9427 closed, assigned to nobody

[2021-02-12 21:42] gp201 commented on #11925
This is a duplicate of #11912. Hence, closing the issue

[2021-02-12 21:42] #11925 closed, assigned to nobody

[2021-02-13 00:00] U8NWXD commented on #11924
This is the existing behavior on the server, so I don't think this needs to block the release. However, I'm sending it to the LaCE team for triage.

/cc @oppia/lace-team

[2021-02-13 00:04] U8NWXD commented on #11891
I'm closing this issue since it's been fixed in `develop`. We can re-open it if we find problems when testing this on the server

[2021-02-13 00:04] #11891 closed, assigned to nobody

[2021-02-13 00:07] U8NWXD commented on #11895
@DubeySandeep could you take a look at this blocking bug since it looks to have something to do with the voice artist role?

[2021-02-13 00:10] U8NWXD commented on #11918
That looks great except that the text is not vertically centered when playing the exploration. I'm assigning this issue to you since it looks like you have a fix already. Thanks!

[2021-02-13 00:11] U8NWXD commented on #11919
@aks681 could  you take a look at this blocking bug in the topic editor? I'm assigning to you for now, but please reassign as needed

[2021-02-13 00:14] U8NWXD commented on #11920
@aks681 could  you take a look at this blocking bug in the exploration editor? I'm assigning to you for now, but please reassign as needed

[2021-02-13 00:15] U8NWXD commented on #11921
@aks681 could  you take a look at this blocking bug in the story editor? I'm assigning to you for now, but please reassign as needed

[2021-02-13 00:15] U8NWXD commented on #11929
@aks681 could  you take a look at this blocking bug in the skill editor? I'm assigning to you for now, but please reassign as needed

[2021-02-13 01:23] U8NWXD commented on #10798
Done @ashutoshc8101!

[2021-02-13 07:25] OBITORASU commented on #11888
Can I pick this one up?

[2021-02-13 13:34] ashutoshc8101 commented on #8472
@U8NWXD I want to work on file `user-email-preferences.service.ts`. Please assign this to me.

[2021-02-13 14:07] #11885 closed, assigned to gp201

[2021-02-13 14:28] OBITORASU commented on #11888
Can you please tell me a bit about which files are affected so that I can reproduce the error locally and maybe try fixing it? I have a rough idea about what might be causing the error (I have the idea of introducing a new regex expression in ```general_purpose_linter.py``` file for the ```re.compile(r'bypass')``` line to ignore the word ```bypass``` in all the comments) but I need to test my fix

[2021-02-13 15:04] ashutoshc8101 commented on #8472
Need help, I am trying to migrate `user-email-preferences.service.spec.ts`. But these two tests are always failing.
![Screenshot from 2021-02-13 20-31-46](https://user-images.githubusercontent.com/24855641/107853241-c6f47480-6e3a-11eb-9831-3cbbfc76a566.png)
![Screenshot from 2021-02-13 20-32-11](https://user-images.githubusercontent.com/24855641/107853243-c9ef6500-6e3a-11eb-9363-fdc497c6397e.png)

[2021-02-13 15:07] ashutoshc8101 commented on #8472
@srijanreddy98 @arpit1912 Need help. I am trying to migrate the `user-email-preferences.service.spec.ts` file. But two tests are always failing.
![Screenshot from 2021-02-13 20-31-46](https://user-images.githubusercontent.com/24855641/107853328-379b9100-6e3b-11eb-9975-5970a6c32418.png)
![Screenshot from 2021-02-13 20-32-11](https://user-images.githubusercontent.com/24855641/107853330-39fdeb00-6e3b

[2021-02-13 18:13] krishita30j opened #11943 "Unable to publish a collection"
**Describe the bug**
The user is unable to publish a collection.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a collection
 2. Click on Publish
 3. Open the console and see the error

**Screenshots**
<img width="1436" alt="Screenshot 2021-02-13 at 11 32 08 PM" src="https://user-images.githubusercontent.com/66058206/107857576-08921900-6e55-11eb-88ab-f3d01d985db2.png">

**Desktop**

[2021-02-13 19:09] kevintab95 commented on #11918
Hi, I discussed this with @seanlip and @aks681 and it was decided that this need not be fixed.

But, we think that it makes sense to let the exploration editor know what interaction is currently shown in the editor screen. The suggestion we have is to change the "Interaction" header to indicate what interaction is currently selected.

Example:
![image](https://user-images.githubusercontent.com/110

[2021-02-13 20:57] htaneja24 opened #11944 "Label missing while choosing language from the dropdown"
The dropdown should show the option for languages other than English whereas it currently shows a blank space.
![label missing](https://user-images.githubusercontent.com/70439826/107861488-156e3700-6e6c-11eb-86c8-8ae2d3f30dbc.JPG)

[2021-02-13 21:38] gp201 opened #11945 "[HTML lint bug] Shows attribute duplicate error for 2 '+' symbols"
**Describe the bug**

The following line throws a duplicate attribute error in a `*.html` file
[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any html file
 2. Place the given line.
 3. Run a  lint check.
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
Should not throw an error.

**Screenshots**
If applicab

[2021-02-13 21:40] gp201 commented on #11945
/cc @U8NWXD @kevintab95

[2021-02-13 23:28] U8NWXD opened #11947 "Fix Github Actions URL Construction when Reporting CLI Status"
When users run CI tests on PRs from forks of Oppia, the URLs constructed by the service are slightly malformed. For example, the url created by the logger might be `https://github.com/oppia/oppia/actions/runs/439041970` instead of `https://github.com/ericzlou/oppia/actions/runs/439041970`.

We might be able to use the `GITHUB_REPOSITORY` environment variable to address this. The variable holds:

T

[2021-02-14 01:24] U8NWXD commented on #11918
@kevintab95 that sounds good to me!

[2021-02-14 01:29] U8NWXD commented on #8472
@ashutoshc8101 I've assigned you!

[2021-02-14 03:52] OBITORASU commented on #11947
Can you assign me this issue @U8NWXD? Willing to work on this one.

[2021-02-14 05:03] Nik-09 commented on #4057
@DubeySandeep please assign me csrf-token.service.ts & html-escaper.service.ts files. Thanks.

[2021-02-14 06:25] sajalasati commented on #11888
@kevintab95 Can you please provide a link to the location or the file where you faced this error? @OBITORASU is interested to work on resolving this issue.

I have assigned myself to keep track of the issue.

[2021-02-14 06:54] kevintab95 commented on #11888
Hi, I faced this when I added a comment in one of the e2e files.

[2021-02-14 07:00] OBITORASU commented on #11888
Ok trying to recreate it thank you!

[2021-02-14 07:14] OBITORASU commented on #11888
Thank you I was successfully able to reproduce the error I will get to work and keep you updated @kevintab95

[2021-02-14 10:42] seanlip opened #11950 "Clean up old schema versions and conversion functions for explorations and questions, as well as dead code that those functions depend on."
We are currently maintaining some old infrastructure in order to accommodate different schema versions of explorations and questions. This is leading to a maintenance burden because some of our code has to support multiple schema versions. The aim of this issue is to migrate everything to the latest schema version, and then drop dead code that is no longer needed.

Here are the steps that should b

[2021-02-14 10:45] seanlip commented on #11950
/cc @vojtechjelinek FYI that I'm working on this, since I need it for some i18n work (which is getting too complicated due to the multiple schema versions in play).

[2021-02-14 15:00] U8NWXD commented on #11947
@OBITORASU I don't think this issue is a good fit for you. It requires working with a logging server whose source code you don't have access to. I'd recommend looking for issues labeled with `good first issue` or `good second issue` instead

[2021-02-14 15:03] OBITORASU commented on #11947
Thanks for the heads up! I will look into something else then thank you :)

[2021-02-14 15:03] U8NWXD commented on #11945
I'm reassigning this to @DubeySandeep since the dev workflow team oversees the linter

[2021-02-14 15:25] Rijuta-s commented on #11929
@kevintab95  @U8NWXD
 I was unable to reproduce this behaviour it.

https://user-images.githubusercontent.com/68547101/107880756-e6f16a00-6f06-11eb-919b-b9a18d0e67e1.mp4

[2021-02-14 16:11] ashutoshc8101 commented on #8038
@DubeySandeep Can you please assign me `user-email-preferences.service.ts`. I am already migrating this file to angular. So, also need this file to refactor ASAP.

[2021-02-14 17:28] srijanreddy98 commented on #11843
@U8NWXD I meant puppeteer not protractor. Speaking of Puppeteer, should I tag Jim instead?

[2021-02-14 18:12] shubhamkorde commented on #8038
I am migrating learner-answer-details-data.service.ts to Angular. It needs to be refactored before it could be migrated. Can I please be assigned this. I had a few doubts which I am not able to understand from the previous merged PRs. Is anyone free for a discussion on this topic.

[2021-02-14 19:16] 17sushmita commented on #10474
Hi @nishantwrp @vojtechjelinek, Can you please assign me InteractionSpecsService

[2021-02-14 20:21] vojtechjelinek commented on #10474
@17sushmita Sure

[2021-02-14 20:40] kevintab95 commented on #11944
Thanks for reporting @htaneja24. This has been fixed in https://github.com/oppia/oppia/pull/11917.

[2021-02-14 20:40] #11944 closed, assigned to nobody

[2021-02-15 05:43] srijanreddy98 commented on #11441
`Spec: EditProfilePictureModalController should save new file and close the modal when file is changed has failed`.

[code]
https://github.com/oppia/oppia/runs/1898493939