[2016-05-07 18:04] giritheja opened #1797 "Extend login feature to other social sites"
Currently, a user can login only using google. It would be great if more options could be provided.
[Simple auth](https://github.com/crhym3/simpleauth) can be a possible solution to extend login options.
Some information about Simple auth:

[2016-05-07 22:19] edallison commented on #1525
I'm unable to recreate this by visiting the [exploration listed above](https://www.oppia.org/explore/nj7r3NPTWGhZ).  I've also tried poking around other areas and creating new explorations with large images.  For instance, I've included an image taken in firefox with both an image >100% and one <100%.
<img width="673" alt="screen shot 2016-05-07 at 6 16 43 pm" src="https://cloud.githubusercontent.

[2016-05-07 23:12] anthkris commented on #1705
So I've been able to remove the creation modal from the beginning. If figured a good step two would be to just move the creation modal, before thinking about how make steps dependent on whether or not they had already been edited. But I'm hitting a road block. It's possible to publish an exploration with the defaults I've set up and then make edits in the Settings. But the create exploration modal

[2016-05-08 05:45] TruongKim commented on #1740
Hi Sean!. I got a question: I try to change the cursor position to the top of the page, using scrollTo method in the .js file.

Sth like this:
 $scope.initCodeEditor = function(editor) {
          editor.setValue($scope.code);

           Options for the ui-codemirror display.
		  editor.setOption('value', {
		  function(cm){
			cm.scrollTo(0,0);
			}
		  });

Yet when I implement it, then run but

[2016-05-08 07:30] seanlip commented on #1740
Hi @TruongKim -- I'm afraid I don't know; you'll need to debug. I don't see anything obviously wrong, and it's not easy for me to tell what "run button broke" means. You might want to try looking at the browser console logs; the traceback (if there is one) may give you a clue. You can also add console.log() statements (be sure to delete these before you make the PR, though!) to check whether the r

[2016-05-08 07:34] seanlip commented on #1705
Hi @anthkris, I really don't think it's a good idea to move the creation modal over wholesale. I think the logic in both the frontend and backend is sufficiently different that it just doesn't really make sense to do so.

Instead, I would suggest, as a first step, just tackling one piece of the puzzle. For example, find a way to add (to the 'publish' modal) a field for setting the title if it's st

[2016-05-08 07:52] seanlip commented on #1525
So -- I was using Firefox 44, and I just tried that, and the error still arises.

However, I then updated to Firefox 46 -- and I tried it again, and it's gone!

So it looks like this may have been a bug in and older version of Firefox, as @hemanshu95 suggested earlier in the thread. I think, on balance, we probably don't have to fix it, so I'm going to close it unless more people report issues wit

[2016-05-08 07:52] #1525 closed

[2016-05-08 07:52] seanlip commented on #1535
Reassigning to @edallison.

(@hervephp,  did you make any progress on this? Let me know if you'd like a different starter project; this one may have been a little difficult.)

[2016-05-08 08:01] seanlip commented on #1796
I'm really sorry, I don't know what's going on here. It's odd that this is happening.

However, I can give you some clues to debug, and maybe we can then fix this issue so that it does not affect other users. When I search for "stopping script" in the codebase by using

   grep "stopping script" . -r --exclude-dir=third_party

I found a line in scripts/gulp-start-gae-devserver.js that looked relev

[2016-05-08 15:16] souravbadami commented on #1795
@seanlip , @giritheja -- This can also be a good place to add social share buttons.
![screenshot from 2016-05-08 20 41 36](https://cloud.githubusercontent.com/assets/11073943/15098524/5f6c2168-155d-11e6-8fc2-73e11496f6a0.png)

[2016-05-08 19:40] souravbadami opened #1799 "Page alignment issue while viewing all explorations of a category."
![screenshot from 2016-05-09 01 05 47](https://cloud.githubusercontent.com/assets/11073943/15099962/c429ca54-1582-11e6-8588-51179aa5646c.png)

**Steps to Reproduce:**
- Navigate to localhost:8181/library.
- Click on view all for any category.

**Observed behavior:**
The cards on page are not centered.

**Environment:**
O/S: Ubuntu 14.04.1 LTS
Browser: Mozilla Firefox V45.0

[2016-05-08 19:48] souravbadami opened #1800 "On smaller screen, preferences and notification page looks a bit weird."
![screenshot from 2016-05-09 01 17 09](https://cloud.githubusercontent.com/assets/11073943/15100002/d93f5bf6-1583-11e6-83f8-3fc3ba2ae14c.png)

**Steps to Reproduce:**
- Navigate to preferences and notification page on a smaller screen.

**Observed Behavior:**
The page looks a bit wierd.

**Expected Behavior:**
There should be some margin on left and right.

**Environment:**
O/S: Ubuntu 14.04.1 LTS

[2016-05-08 19:56] souravbadami opened #1801 "Redesign "successfully published" modal pop up."
![5f6c2168-155d-11e6-8fc2-73e11496f6a0](https://cloud.githubusercontent.com/assets/11073943/15100039/aafe44c2-1584-11e6-9551-9bd660b3a1c0.png)

Steps to Reproduce:
- Create a new exploration.
- Publish it.

Observed behavior:
The **success notification** modal pop up looks weird.

Environment:
O/S: Ubuntu 14.04.1 LTS
Browser: Mozilla Firefox V45.0

[2016-05-08 20:27] seanlip commented on #1800
There's also an alignment issue -- it seems odd that the 'Preferences' heading is not aligned with the left margin of the text on the card below it. Marking this as needing a bit of UI design.

[2016-05-08 21:17] seanlip opened #1803 "Remove the on-hover indicator for "ghost buttons" in the library page."
Steps to reproduce:

1. Log in as an admin.
2. Go to /admin and click "reload all explorations". Wait for them to finish loading.
3. Go to /library. You'll see a screen like that depicted below:

    ![ghost-button](https://cloud.githubusercontent.com/assets/10575562/15100451/22cd5c12-1527-11e6-8090-abc47218c834.png)

If you hover over the marked area on the right, your cursor will change to a poi

[2016-05-08 21:20] seanlip commented on #1803
@bjvoth -- I think this is a good starter project. Can you accept the invitation at github.com/oppia? Once you've done that, I'll assign you. Thanks!

[2016-05-08 23:47] anthkris commented on #1705
Right, so I can keep trying to work on this but there's no way I'm going to have it done by Monday. Do you want to split it up?

[2016-05-09 04:10] #1779 closed

[2016-05-09 04:25] giritheja commented on #1795
@souravbadami Yes, As soon as a user gets his/her exploration published, he/she would be very likely to share his/her exploration so it is a good place to keep social share buttons.

[2016-05-09 05:56] admarian95 commented on #1796
I've got the script running
I had some missing google_app_engine files
but it gives a new error stating
Import Error: No module named _ctypes

[2016-05-09 05:58] seanlip commented on #1796
Ah, how did you find the issue? Should we add more debug information to the gulp file?

The other error might be due to this: https://github.com/oppia/oppia/issues/1545

[2016-05-09 06:13] admarian95 commented on #1796
I dont think we need add the info. to the gulp file
A file called runtime.py was needed to link the files and modules which was
missing
I had a look at the oppia_tools and found that i was having only folders
but no files
so i redownloaded it and it was running.
The solution is probably reinstallation

On Mon, May 9, 2016 at 11:29 AM, Sean Lip <notifications@github.com> wrote:

[2016-05-09 06:57] seanlip commented on #1796
Ah, got it. Thanks for the info, @admarian95! I've added it to the [FAQ](https://github.com/oppia/oppia/wiki/Frequently-Asked-Questions).

@arun1595, does this help?

[2016-05-09 07:25] admarian95 commented on #1796
@arun1595  Worked for me

[2016-05-09 07:34] seanlip commented on #1801
Actually, there are share icons available in this popup -- they can be activated by ticking the relevant boxes in the admin page config panel.

Having said that, the current view does seem a bit odd and I agree that it could do with a redesign. In addition, the sharing options are completely inaccessible once this popup has been closed. Should we maybe put them in the navbar, or in the settings ta

[2016-05-09 07:58] arun1595 commented on #1796
I did a fresh clone and ran the tests. First, I got a SSL error fixed it. Now I am am getting the same error which I got when I was running the tests in the previous version.
**No module named _ctypes**
How can I resolve this?

[2016-05-09 08:00] seanlip commented on #1796
I think it may be the python version on your machine -- please see the issue I linked @admarian95 to (#1545).

[2016-05-09 08:44] seanlip commented on #1795
Actually, we already show share buttons on the exploration publication modal. The settings for this can be toggled in the config options in the admin page.

Also, a quick note for future contributors: please note that this issue only relates to the share buttons in the learner view. The "publication modal" case is covered in #1801.

[2016-05-09 08:45] seanlip commented on #1556
Ah, sorry, I dropped this -- catching up on email now after the release :-)

Yep, it would be great to sort this out. I've assigned you; thanks!

[2016-05-09 09:07] seanlip commented on #1705
Yep, sounds good. I thought through this again and updated the milestones in the issue at the top -- please take a look, and see if you agree.

If so, can you start by taking the first of these, and I'll take the second? Thanks!

[2016-05-09 10:47] jg1141 commented on #902
I found three likely places to insert text-to-speech JavaScript code, but have no idea where to put the toggle that would turn this feature on and off.

In /oppia/core/templates/dev/head/player/PlayerServices.js

[code]
and
[code]

Finally, for the terminal card, in
/oppia/core/templates/dev/head/player/ConversationSkinDirective.js
[code]

[2016-05-09 12:36] anthkris commented on #1705
Cool. I'll get started!

[2016-05-09 15:51] joshuacano commented on #1545
I also ran into this issue for a few hours, and as indicated by @yousefhamza conflicting versions of numpy with Google app engine was my problem. Uninstalled numpy and reinstalled using version indicated and all worked smoothly.

[2016-05-09 17:42] arun1595 commented on #991
@seanlip I read the textAngular docs and I removed 'underline' from the toolbarOptions nested list. And I manually tested it. Can I submit a PR?

[2016-05-09 20:25] seanlip commented on #991
Yes, definitely! And, btw, please feel free to go ahead and submit PRs directly next time -- there's no need to ask first. Thanks!

[2016-05-09 20:36] seanlip commented on #1766
Hi @joshuacano -- how about taking this on as a starter project? Once you've accepted the invitation at github.com/oppia, I can assign you to this one.

Thanks!

[2016-05-09 20:39] seanlip commented on #902
Ah -- yep, we've got the technical groundwork mostly sorted for this one, I think, but the part we're having trouble with is figuring out the right way to display it to the learner. You might find the discussion in #1115 interesting!

[2016-05-09 21:51] charisseysabel opened #1805 "Splash page bug on iOS"
While browsing the new Oppia splash page on mobile, I got this minor bug where the main call-to-action buttons are stuck at the right side of the screen, while the rest of the content is positioned on the other side. I'm using the iPhone 4. Screenshot attached.

Also, having the cta on full width on mobile kinda doesn't make me feel like its a button. Perhaps we could try reducing the width too?

[2016-05-10 02:40] joshuacano commented on #1766
Sounds great! Thanks!

[2016-05-10 06:53] seanlip commented on #1160
@dpaparis, are you still working on this?

[2016-05-10 06:54] seanlip commented on #1726
@raman-balyan -- not sure if @ishankhare07 is still working on this. Would you like to have a go?

[2016-05-10 08:23] seanlip commented on #1705
Yes, please go ahead, and feel free to point out places where you'd like feedback!

[2016-05-10 09:01] raman-balyan commented on #1726
@seanlip This is my first open source project. A bit nervous but ready to take it, if @ishankhare07 is not working....

[2016-05-10 09:02] seanlip commented on #1726
OK, go for it! :) If you need help, feel free to ask on the gitter chat.

[2016-05-10 09:02] raman-balyan commented on #1726
Sure :)

[2016-05-10 19:17] #1489 closed

[2016-05-10 20:50] souravbadami commented on #1800
"My Explorations" page should also tweaked.
![screenshot from 2016-05-11 02 17 55](https://cloud.githubusercontent.com/assets/11073943/15162074/c49d10a2-171e-11e6-9251-924fd7cfd889.png)

[2016-05-10 22:29] maitbayev commented on #1738
So what is the suggested fix for the issue ?

[2016-05-10 22:30] seanlip commented on #1738
Now that the interactions have responsive widths, make the CodeRepl interaction wide enough to accommodate 80 characters. (At least, that's what I was thinking. Would you agree?)

[2016-05-10 22:35] maitbayev commented on #1738
@seanlip What about small screens such as mobile phones?

[2016-05-10 22:36] seanlip commented on #1738
Tbh, I'm not sure we can do much there, at least for the time being. Coding on a mobile phone seems kind of painful to me...

[2016-05-10 22:38] maitbayev commented on #1738
@seanlip, actually why it is wrapping a line at all? I mean in the picture I am seeing scroll by width.

[2016-05-10 22:40] seanlip commented on #1738
Sorry, don't understand. What do you mean by "wrapping a line"?

My suggestion was that, at least on the desktop, we can increase the width of CodeRepl, so that the coding pane is wide enough to obviate the need for the horizontal scrollbar.

[2016-05-10 22:48] maitbayev commented on #1738
Ah, sorry. I didn't identify the issue correctly.
But I just checked, and this seems like fixed by #1754.
So basically, tutor card shrink until 360px.

[2016-05-11 00:34] jacobdavis11 opened #1810 "In the RTE preview the Collapsible and Tabs previews are blurred."
Create an exploration, open the state content RTE, and add either a Collapsible or a Tabs rich text component. Within the rich text editor the previews of these are blurred out, but once you close the editor they are previewed correctly. It would be nice to show them correctly in both instances.

[2016-05-11 00:37] jacobdavis11 opened #1811 "In the RTE preview the Math component does not display correctly."
Create an exploration, open the state content RTE, and add a Math (i.e. LaTeX) rich text component. This is displayed as x^2 regardless of what the actual mathematical expression is; it would be preferable to display the specified expression correctly.

Note that when you close the rich text editor then the LaTeX does start being displayed correctly.

[2016-05-11 01:08] seanlip commented on #1738
Yep, looks like this is fixed. Thanks! Closing.

[2016-05-11 01:08] #1738 closed

[2016-05-11 02:30] anuzis commented on #1738
Is this push going out in the next release? Checked the exploration live on oppia.org and it still appears to be an issue.

Screenshot attached:
- Coding lines are still cut at 76 chars causing a horizontal scrollbar (red rectangles)
- Blue rectangle suggests a coding interaction size that would be much more comfortable on desktops, and is similar to the size used on sites like Codecademy.com, Cod

[2016-05-11 02:34] seanlip commented on #1738
Hi @anuzis -- this is not live yet; it'll go out in the next release.

Having said that, it's been merged into develop already, so if you'd like to preview it, just do:

    git checkout develop
    git pull origin develop

on your local machine! If you find any issues, please let us know, and we'll try and resolve them before the next release.

[2016-05-11 02:40] anuzis commented on #1738
@seanlip Acknowledged -- thanks!

[2016-05-11 03:43] anthkris commented on #1705
So everything was working very nicely with removing the creation modal until I updated to the newest Oppia. The function won't work unless the user is on the explorations page. I can use if/else to navigate to the explorations page when the user isn't on it, but then I have no way of running the rest of the code. Any suggestions?

[2016-05-11 03:45] seanlip commented on #1705
Hi @anthkris, I don't think this is something I can answer without actually seeing the code in question. Having said that, I thought you were taking the first milestone (i.e., on publish, show the user the current language, and ask them to change it if it's not right)? This doesn't involve removing the creation modal, at least not yet...

[2016-05-11 03:46] anthkris commented on #1705
I have this in ExplorationCreateButtonService
[code]

[2016-05-11 03:46] anthkris commented on #1705
So should I leave this? This is what I was going to create a PR for as this is what I had accomplished so far.

[2016-05-11 03:49] seanlip commented on #1705
Oh, I see. Sorry, I misunderstood your earlier comment (about what you've done so far).

Yes, I would say let's leave this. The ExplorationCreationButtonService will probably be removed altogether after this PR is done.

[2016-05-11 03:52] seanlip commented on #1705
(Btw, once you review and I've merged #1808, I think that should give us enough of a framework to add language code, title, etc.)

[2016-05-11 03:53] anthkris commented on #1705
Awesome. Yep, I was waiting for that to be available (I saw it had merge conflicts) so I could learn from it.

[2016-05-11 03:58] seanlip commented on #1705
Ah yep -- merge conflicts fixed now. PTAL when you get a chance.

(Btw, in the future, if, as a reviewer, you spot merge conflicts as an issue, please feel free to write a comment on the thread saying so. I didn't realize there were any until I checked just now!)

[2016-05-11 04:55] seanlip opened #1812 "Brief flash-of-unstyled-content when the first card in the learner page is loading"
To reproduce, go to /admin and load the all_interactions exploration, then go to /explore/16. Before the first card fully loads, there is an intermediate state that arises before the first card finishes loading:

![interstitial](https://cloud.githubusercontent.com/assets/10575562/15170326/ad63412e-16f9-11e6-8709-133c2d68520a.png)

It would be better if this intermediate stage does not occur. Perha

[2016-05-11 05:01] seanlip opened #1813 "Animation is jerky when card is expanded to show previous answers."
To reproduce:
1. Go to /admin and load the all_interactions exploration.
2. Go to /explore/16 and type in a wrong answer, then type in another wrong answer, then click "Previous answers" to expand the card.

There's an abrupt jerk as the animation is close to finishing. This is jarring, and shouldn't happen. (Strangely enough, it doesn't occur when the div is collapsed again.)

[2016-05-11 05:17] seanlip opened #1814 "Remove button styling in the tutor card when it's not needed; remove arrow on button when one card is on top of the other."
When two cards are shown side-by-side in the learner view, the bottom of the tutor card seems to be styled as a not-very-visible button, which is confusing:

![not-a-button](https://cloud.githubusercontent.com/assets/10575562/15170635/6ca2cff8-16fc-11e6-8089-5476de64e903.png)

Instead, this should be normal text ("Click on the image -->") and it should not react to mouse hovers or clicks.

Also, n

[2016-05-11 05:23] seanlip commented on #909
Superseded by #1810 and #1811. Closing.

[2016-05-11 05:23] #909 closed

[2016-05-11 05:40] seanlip opened #1815 "Positioning of Oppia avatar on "minimized tutor card" view blocks the interaction."
To reproduce: go to /admin, load the 'all_interactions' exploration, then go to /explore/16 and play it to the fourth card.

Currently, when there is a supplemental card in the learner view and a tutor card on top of it, and the tutor card is minimized to an avatar, the avatar blocks the card. This becomes an issue for interactions like image-click and music-input.

I experimented a bit with a dif

[2016-05-11 05:59] seanlip opened #1816 "Transition between single-card and double-card view is too sudden"
To reproduce:
1) go to /admin
2) load the 'all_interactions' exploration
3) go to /explore/16 on a wide screen, and play through the first three cards.

The transition from the third card to the fourth card is very sudden. In the previous version of the learner view, the tutor card would slide smoothly to the left, and the supplemental card would appear on the right. Currently, the tutor card jerk

[2016-05-11 06:07] seanlip opened #1817 "When the tutor card is minimized/maximized, the animation should center at the avatar location."
To reproduce:
1) go to /admin
2) load the 'all_interactions' exploration
3) go to /explore/16 and play through to the fourth card.
4) click the blue button to minimize the tutor card, and click the Oppia avatar at the top right to restore it.

The tutor card seems to minimize and maximize with its source somewhere to the far right of the screen. Instead, the focus of the enlargement/contraction sh

[2016-05-11 06:14] seanlip opened #1818 "If a supplemental interaction is too tall, the help card should appear at the bottom of the viewport, not at the bottom of the interaction."
To reproduce:
1) Go to /admin and load the multiples.yaml exploration.
2) Go to /explore/1, and play through the exploration as follows: "Solve the problem directly", "I want to write a simple program to compute the answer".
3) In the editor, type "print 2" on line 12, then click "Submit".
4) Scroll all the way to the bottom.

There's a help card on the screen, but it's located all the way at the

[2016-05-11 06:32] joshuacano commented on #1766
Thanks Sean, I created a PR for this fix.

[2016-05-11 06:33] seanlip commented on #1814
Hi @joshuacano -- want to try this one next?

[2016-05-11 06:37] joshuacano commented on #1814
sounds good

[2016-05-11 06:39] seanlip commented on #1814
OK, thanks! Feel free to ask if you need any help :-)

[2016-05-11 07:20] seanlip commented on #1287
Hi @sbhowmik89 -- just to check, when can you get the backend controllers in? I ask because I just realized that Avijit's frontend will be talking to them, and he's planning to get his work in by this weekend.

Thanks!

[2016-05-11 08:56] #1766 closed

[2016-05-11 09:34] sbhowmik89 commented on #1287
Hey Sean,

I'll send a CL for review this week.

On Wed, May 11, 2016 at 12:50 PM, Sean Lip <notifications@github.com> wrote:

--
Regards

Shantanu Bhowmik

[2016-05-11 09:36] seanlip commented on #1287
Great, thanks @sbhowmik89!

[2016-05-11 10:38] ishankhare07 commented on #1580
I was able to fix this issue by upgrading to pip version `8.1.2`
since pip on ubuntu comes from `apt-get`'s `python-pip`, we cannot just do `sudo pip install -u pip` ans it will not replace the system installed pip.
However this was not the case with `easy_install`, all i had to do was:

`sudo easy_install -U pip`, and this got me to `pip 8.1.2`
and it was able to install numpy properly

[2016-05-11 10:38] #1580 closed

[2016-05-11 10:45] ishankhare07 opened #1821 "AttributeError: 'module' object has no attribute 'PROTOCOL_SSLv3'"
_Thanks for taking the time to report a bug in the Oppia project, or propose a new feature! Before filing a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/oppia/oppia/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reproduce the

[2016-05-11 14:13] maitbayev commented on #1812
I am wondering, does it happen in the oppia.org?
I am thinking about, how this could be different with old implementation ?

[2016-05-11 17:06] souravbadami commented on #1821
@ishankhare07 -- you can try `sudo -H pip uninstall pyopenssl`.

[2016-05-11 17:16] souravbadami commented on #1580
@seanlip, @bbriggs  -- This issue also occurs on ubuntu 16.04 and upgrading pip resolves it. Along with this, #1821 also takes place and uninstalling `pyopenssl` works.

[2016-05-11 20:31] souravbadami commented on #1540
@seanlip -- I would like to work on this ?

[2016-05-11 20:32] seanlip commented on #1540
OK! Assigned.

(Also, sorry, @saiyanlevel5 -- slip of the mouse :-) )

[2016-05-11 21:12] seanlip commented on #1812
Yep -- this happens in the current site as well. I don't think it's due to the new implementation.

[2016-05-11 21:13] seanlip commented on #1821
@ishankhare07: FYI, another possibility is https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#troubleshooting

Please let us know what works, so that we can update the troubleshooting instructions. Thanks!

[2016-05-11 21:19] seanlip commented on #1580
Thanks @ishankhare07! Added to wiki: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29

[2016-05-12 00:34] bjvoth opened #1824 "Fresh Oppia install on Ubuntu 16.04 fails frontend and e2e tests"
I followed the installation instructions, forked and cloned the up to date Oppia repo, ran the required scripts, and started an instance on my local machine. Before running the tests, the only changes I made were to karma.conf.js to change the testing browser to Firefox (for some reason setting the CHROME_BIN path doesn't work for me). I expected all of the tests to pass.

Instead, when I run the

[2016-05-12 00:50] souravbadami commented on #1824
@bjvoth -- What issue do you face with chrome. Can you add a pastebin for it ?

[2016-05-12 01:09] seanlip commented on #1824
The karma issue is weird. It looks like the order of attributes on the tags is different, and I don't know why that is. I suspect that it's because Firefox does stuff differently from Chrome.

Re the Chrome binary -- have a look at scripts/setup.sh, lines 190-209, where CHROME_BIN is set. (In general, you can find out things like this by doing "grep CHROME_BIN . -r --exclude-dir=third_party".) Try

[2016-05-12 22:00] souravbadami opened #1826 "Interest tags on profile page looks weird."
![screenshot from 2016-05-13 03 11 03](https://cloud.githubusercontent.com/assets/11073943/15231861/3975570c-18bb-11e6-87b8-3625b670a4dc.png)

**Steps to Reproduce:**
- Add some interests in preferences page ( /preferences ).
- Navigate to profile page.

**Observed Behavior:**
The interests tags on profile page looks weird.

**Expected Behavior:**
If the tag gets longer, they should come to the ne

[2016-05-12 22:12] seanlip commented on #1826
@kerryxwang -- is this something you can fix?

[2016-05-13 22:04] KatFrog commented on #1826
I'll fix this.

[2016-05-13 22:10] bjvoth commented on #1824
@seanlip Thanks for the helpful response. I adjusted the CHROME_BIN path in setup.sh and was able to get the karma issue resolved that way.

The e2e tests just required me to install/update Java Runtime Environment and Java Development Kit. Doing that on both my Macbook and Linux resolved the "seleniumProcess.pid undefined" issue.

Unfortunately my e2e tests still fail: https://gist.github.com/bjv

[2016-05-13 22:32] seanlip commented on #1826
Hi @KatFrog -- welcome to Oppia!

Yep, sounds good -- happy to assign you. Can you accept the invitation at github.com/oppia? Then I can do so.

Thanks!

[2016-05-13 22:34] seanlip commented on #1824
Have a look at the error message in the protractor tests. You'll see that a particular file is missing -- it 404s. Perhaps there was an incomplete download/installation somewhere along the line.

To fix this, you can delete the parent folder of that file, and rerun start.sh; this will reinstall that directory. Hope that helps!

[2016-05-13 22:45] KatFrog commented on #1826
Hi @seanlip,

I accepted the invitation.

Thanks!

[2016-05-14 01:22] bjvoth commented on #1824
Thanks again. Deleting the parent folder and rerunning start.sh didn't fix the problem, but I was able to find the two script that were missing ("skulpt.min.js" and "skulpt-stdlib.js") and add them to the directory. Finally all the tests passed! Now back to the issue I was working on 3 days ago...

[2016-05-14 01:22] #1824 closed

[2016-05-14 02:56] souravbadami opened #1829 "Issue with space in between revision number and contributors name."
![screenshot from 2016-05-14 07 47 48](https://cloud.githubusercontent.com/assets/11073943/15265800/a39ad728-19ac-11e6-9d2b-6c6ee7ec7b24.png)

**Steps to Reproduce:**
- Create a new exploration.
- Navigate to history tab.

**Observed Behavior:**
There's a lot of space in between revision number and contributor's name.

**Expected Behavior:**
The space should be reduced.

**Environment:**
O/S: Ubun

[2016-05-14 08:29] raju249 commented on #1829
Can I work on this ?
:smile: I am new to open source and have just started

[2016-05-14 09:32] seanlip commented on #1829
Sure! Assigned you.

[2016-05-14 11:07] raju249 commented on #1829
![oppia](https://cloud.githubusercontent.com/assets/8307266/15268114/e4dac8d4-19f1-11e6-90c5-ab9591db415c.png)

I reproduced the issue and came up with this by editing the css in browser itself.
Is this the expected behaviour?
@souravbadami @seanlip

[2016-05-14 13:43] souravbadami commented on #1829
@raju249 -- The space in between [1] and raju should be lesser.

[2016-05-14 13:46] 526avijitgupta opened #1832 ""Add Element" button disappears when adding a Set Input interaction if a specific option is selected"
### Observed Behaviour:
"Add Element" button just disappears (and an error is logged in the console) and does not appear again until the modal is closed and reopened.

### Steps to Reproduce:
1. While in the exploration editor, click on "Add Interaction / End Exploration" button.
2. Choose the interaction of the type "Set Input" under "Math" tab and click on "Save Interaction" button.
3. Choose "h

[2016-05-14 13:48] raju249 commented on #1829
Should it be more less?
For eg:
[1]    raju

Is the above correct?

[2016-05-14 13:52] souravbadami commented on #1829
Yes, Something like this.

[2016-05-14 13:52] raju249 commented on #1829
@souravbadami
If we see I have moved ```[1]``` to right side
Should it be more towards right i.e closer to ```raju``` ?

[2016-05-14 13:56] souravbadami commented on #1829
I think, keeping the revision number, `[1]` aligned towards left will be better.

[2016-05-14 14:07] raju249 commented on #1829
Cool :+1:
So I should move the name towards left
Right?

[2016-05-14 14:14] souravbadami commented on #1829
Ya, that will work. Do you have any other approach for it ?

[2016-05-14 14:17] raju249 commented on #1829
I think what you are saying is the best solution because even people having long user names will fit in one line.
To implement the expected behavior I think of increasing the padding for the name element or reducing the padding for the revision number will do the job.
Is this solution good or do you have any idea?

[2016-05-14 14:23] souravbadami commented on #1829
That sounds good! Submit a PR with your solution and then we'll see if the solution can be improvised.

[2016-05-14 14:24] raju249 commented on #1829
Roger that @souravbadami :+1: :smile:

[2016-05-14 14:25] raju249 commented on #1829
I am bit busy in my college assignment right now.
But will get on this ASAP

[2016-05-14 15:08] raju249 commented on #1829
![oppia](https://cloud.githubusercontent.com/assets/8307266/15269139/bd3e4518-1a13-11e6-9690-89238a1c1f14.png)
@souravbadami
Is this fine?

[2016-05-14 15:12] souravbadami commented on #1829
I think, the entire username can come in a single line. There's enough space on the right part of the card.

[2016-05-14 15:14] raju249 commented on #1829
Oh yes! :sweat_smile:
But I am actually having a hard time adjusting the padding and margin. :sweat_smile:
But I am gonna do it

[2016-05-14 15:46] raju249 commented on #1829
![oppia](https://cloud.githubusercontent.com/assets/8307266/15269277/8ec8170a-1a17-11e6-8efd-fa5f3e7d5813.png)

@souravbadami
I think I got it. Long usernames goes the way above in the image.
Small usernames (like mine)
![oppia](https://cloud.githubusercontent.com/assets/8307266/15269326/01aac14a-1a19-11e6-892d-befd4cdba576.png)

@souravbadami Does this look good?

[2016-05-14 16:05] souravbadami commented on #1829
Looks better! Is it possible to reduce it further ?

[2016-05-14 16:06] raju249 commented on #1829
Reduce the space between
```[1]``` and ```souravbadami``` ?
@souravbadami

[2016-05-14 16:07] souravbadami commented on #1829
Yes.

[2016-05-14 16:56] raju249 commented on #1829
I did it @souravbadami
![oppia](https://cloud.githubusercontent.com/assets/8307266/15269636/e419845e-1a22-11e6-95a8-8bf948469974.png)

I think this close is good!!
What you think?

[2016-05-14 17:11] souravbadami commented on #1829
It looks better!

[2016-05-14 17:12] raju249 commented on #1829
Thanks :smile: @souravbadami
Should I create a PR now?

[2016-05-14 17:14] souravbadami commented on #1829
Yes, please go ahead.

[2016-05-14 17:15] raju249 commented on #1829
But what about that my forked repo is 6 commits ahead?
Will it create any problem?

[2016-05-14 17:18] souravbadami commented on #1829
Yes, It will. Try to make it even with current oppia:develop.

[2016-05-14 17:19] raju249 commented on #1829
How?
I tried ```git checkout [hash of last commit from oppia repo]```
But it didn't help
Any other way to solve this?

[2016-05-14 17:34] souravbadami commented on #1829
Try this, http://stackoverflow.com/questions/1628088/reset-local-repository-branch-to-be-just-like-remote-repository-head

[2016-05-14 17:41] raju249 commented on #1829
I did
[code]

[2016-05-15 01:29] KatFrog commented on #1826
This problem was already fixed in #1350

The css class had a whitespace: nowrap; added to it.

[2016-05-15 03:18] seanlip commented on #1826
Hi @KatFrog ... are you sure? The commit made in #1350 is already live on the main site, and I still see this problem there.

[2016-05-15 06:43] #1803 closed

[2016-05-15 14:15] bbriggs opened #1836 "Users on Windows encountering EOL problems"
The git default on Windows is to check out a repo witn \r\n EOLs. Our current guidance is to set autocrlf to `true`, which causes as many problems as it solves. Create a .gitattributes file that fixes EOLs without requiring users to change their git settings.

[2016-05-15 19:53] #1814 closed

[2016-05-15 19:54] #1829 closed

[2016-05-15 19:56] seanlip commented on #1818
Hi @joshuacano -- want to try this one?

[2016-05-15 19:56] seanlip commented on #1812
Hi @raju249, want to try this one?

[2016-05-15 19:57] seanlip commented on #1793
@p4rsec -- have you had a chance to make further progress on this? Once you've done so, please submit a PR.

[2016-05-15 20:21] joshuacano commented on #1818
Sounds good!

Joshua Cano

[2016-05-15 22:30] anthkris commented on #1705
Hey @seanlip Wondering if you could provide some tips. I'm adding all of the elements from the creation modal to the pre-publish modal (right now, I'm adding them all in the same if statement from the objective one you created - I will separate them out based on the framework you offered). The title element seems to be working as expected. I can change it in the pre-publish modal and it will save.

[2016-05-15 22:38] seanlip commented on #1705
Sorry, no idea (from what you posted). You might need to keep debugging for a bit, I'm afraid, though I'll also try to take a look when possible!

[2016-05-15 23:19] anthkris commented on #1705
Will do!

On Sunday, May 15, 2016, Sean Lip <notifications@github.com> wrote:

--
K. Anthony
Instructional Designer
knanthony.com

[2016-05-16 02:07] seanlip commented on #1705
OK, I had another look at this.

When you say "it doesn't get saved", how do you know this? Does explorationCategoryService.savedMemento not contain the right thing? If not, is this because explorationCategoryService.saveDisplayedValue() is not being called? If it is being called, what is explorationCategoryService.displayed before that, and explorationCategoryService.savedMemento before that; dit

[2016-05-16 02:09] anthkris commented on #1705
Well, I've kept trying and the changes I make for the category do show up after a refresh.  I'll try these other things you suggest.

[2016-05-16 04:01] kevinlee12 opened #1839 "Remove "View All" button for featured explorations in the library index page"
The featured explorations category under Library on Oppia.org has a "View All" button. Clicking on that button will take the user to a url: `/search/find?q=` which will then show all of the explorations in the gallery. The expected behavior is that there should be no button and that the user should simply click on the left/right arrows to browse the featured explorations.

![view_all_featured](htt

[2016-05-16 04:02] kevinlee12 commented on #1839
/cc @seanlip

[2016-05-16 04:17] kevinlee12 opened #1840 "Contributor icons have oval in background when mouse hovers over the author's "corner" on exploration"
Currently there is an oval that appears in the background of the author's icons when the mouse hovers over the creator's corner of that exploration. This only occurs when there are 3 or more creators per exploration.

2 Creators (expected behavior):
![oval_1](https://cloud.githubusercontent.com/assets/5758256/15280128/bc045e0c-1ae1-11e6-81e2-32d4877004d1.png)

≥3 Creators:
Note the white oval behi

[2016-05-16 04:30] kevinlee12 opened #1841 "In the library index page, the "View all" button is flushed too far right on half screen"
The "View All" button is currently flushed right on half screen, it would be better if the right end of the button were aligned with the right end of the right arrow of the carousel toggle. One way to achieve this is to limit the div width that the button resides to the same width as the carousel container.

640px:
![screenshot from 2016-05-15 21-19-00](https://cloud.githubusercontent.com/assets/5

[2016-05-16 04:42] kevinlee12 commented on #1839
It might also be worth it to consider a new class of groups different that those we have earlier (ex. Math and Stats) for these (ex. Featured) sort of groups. However, I personally would prefer to adopt something like Youtube's category view whereby clicking on the title will lead the user to the "View All" page which would allow users a more consistent experience.

![image](https://cloud.githubus

[2016-05-16 04:48] seanlip commented on #1839
Just to check, I'm not sure what you mean by the most recent comment? Currently, if you click on the title of the group, it will take you to the same place as the View All button does.

[2016-05-16 04:53] kevinlee12 commented on #1839
Oops, I forgot to add the reason I said that is because we have the titles as links, we can completely remove the "View All" button.

[2016-05-16 04:55] kevinlee12 opened #1842 "User gravatar in awkward position below navbar in mobile view"
The user gravatar shows below the navbar in mobile view. It would be more elegant if it were in navbar itself or we can hide it in the navbar. The following screenshot was taken Chrome's mobile view for iPhone 5, but the behavior is consistent on an actual iPhone 5s in Safari.

![image](https://cloud.githubusercontent.com/assets/5758256/15280607/f7262a6a-1ae6-11e6-9c25-aa37c9a638af.png)

[2016-05-16 04:56] seanlip commented on #1839
Oh, you mean for all of them?

Actually, we put that button in at the last minute, because it isn't really obvious that clicking on the title takes you to all the results for that category. It felt like the site only had 8 Maths/Stats explorations, for example...

[2016-05-16 05:09] kevinlee12 opened #1843 "Background color consistency across different pages"
Currently we have a different background color in the library than in the player view and exploration editor and about pages. It would be better to have a consistent experience for the users or at least group the colors together so that it is clear where the users are. Incomplete list follows:

Baby blue: Splash, Library
White: Editor, About, Participation Handbook, Terms of Service, Privacy Polic

[2016-05-16 05:09] seanlip commented on #1535
Hi @edallison ... did you manage to figure out what was going on here?

[2016-05-16 05:20] kevinlee12 commented on #1843
My opinion is that the baby blue background on the library might actually draw away attention from the gallery tiles and category groups and that a lighter color (perhaps light grey) might be better.

Current:
![image](https://cloud.githubusercontent.com/assets/5758256/15280907/af268422-1aea-11e6-969d-bd873f40a73f.png)

Intended Direction:
![image](https://cloud.githubusercontent.com/assets/575825

[2016-05-16 05:25] kevinlee12 commented on #1839
ah, I don't have a strong opinion either way, but since youtube does adopt this behavior, it shouldn't be unexpected for the user to click on the category title (especially when we do show a text color change and underline on mouse hover). That being said, the "view all" button is fine showing up for the user too.

[2016-05-16 07:01] seanlip commented on #1843
/cc @markhalpin @charisseysabel for thoughts

[2016-05-16 07:04] seanlip commented on #1839
Yeah, I don't know. Maybe it's because they're so big, they kind of don't look amenable to clicking? (I mean, one generally doesn't click on headers.) The YT ones are smaller, so that's a different case I think.

So, just to clarify then (for the benefit of new contributors): the desired behaviour is, remove the "View All" button from the "featured" category?

[2016-05-16 07:06] kevinlee12 commented on #1839
yes

[2016-05-16 07:12] seanlip commented on #1826
Also ... I managed to reproduce this on develop, with the choice of tags that @souravbadami used. However, this only happens in Firefox; it is OK in Chrome.

@KatFrog -- did you test this on Firefox?

[2016-05-16 08:29] seanlip commented on #1602
Hi @bbriggs, I was just going through the issues in order to find a good backend project for a new contributor, and noticed that the two remaining milestones on this issue are marked "Possibly". Do you think it would be possible to pin down more clearly what else needs to be done here?

Thanks!

[2016-05-16 11:07] raju249 commented on #1812
@seanlip
I am on it :smile:
Thanks for assigning me

[2016-05-16 11:27] razat249 commented on #1832
I am using Ubuntu and Firefox. In my case when I clicked the `Add element` button it disappears and a text input field appears but when I click anywhere on the model the `Add element` button reappears below the text input field.
![screenshot from 2016-05-16 16 52 07](https://cloud.githubusercontent.com/assets/10090911/15288285/0fc87942-1b87-11e6-961d-5e5361028e7f.png)

[2016-05-16 11:41] raju249 commented on #1812
@seanlip
I was not able to reproduce like the image that you gave
Instead I got this first....
![oppia](https://cloud.githubusercontent.com/assets/8307266/15288462/f3f8cc74-1b88-11e6-8d91-3b920e4ed323.png)

And then after 1-2 seconds on the above image I got this below..
![oppiaerror](https://cloud.githubusercontent.com/assets/8307266/15288506/143c36c4-1b89-11e6-944b-4ac372295262.png)

OS:Windows

[2016-05-16 11:55] 526avijitgupta commented on #1832
@razat249 Okay. Well, here's how you may proceed:
1. Verify that you are correctly following the steps as described in "steps to reproduce" section.
2. Check the browser console - is an error being logged ?

[2016-05-16 12:25] razat249 commented on #1832
@526avijitgupta I don't get any error message.

[2016-05-16 13:08] edallison commented on #1535
@seanlip Sorry I've just gotten back in town from being gone for the past week.  I've made some small progress on this in that I generally have an idea of whats going on (the modal isn't saving correctly if all that is loaded into it is RTE components and then nothing is changed before saving) and I've got a good idea of where pertinent code may be :
(oppia/core/templates/dev/head/editor/StateInte

[2016-05-16 13:32] 526avijitgupta commented on #1832
Sorry, my mistake! I just synced my code with the latest one in the develop one. And I'm no longer facing the issue. (Though I can confirm that the issue did exist - and that I was able to reproduce this in both Chrome as well as Firefox). Thanks @razat249 for checking!

[2016-05-16 13:32] #1832 closed

[2016-05-16 20:34] KatFrog commented on #1826
Oh, I didn't test this on Firefox.  I'll do that tonight.

Thanks, @seanlip!

[2016-05-16 21:32] kevinlee12 opened #1845 "Oppia should display error when JS is disabled on browser"
Currently, Oppia shows the following (see screenshot) when the user has JavaScript disabled on their browser. It would be nice if an error message showed up telling the user to enable Javascript for Oppia to continue properly. This message would be helpful because some schools may have adblocking and Javascript blocking enabled by default. One approach would be to have a error message enabled by d

[2016-05-16 22:52] seanlip commented on #1845
Ah, interesting. We used to have a redirect to static/pages/noscript.txt, so I looked at this and wondered what had happened to that.

I grepped for 'noscript' and found this entry in the changelog:

[code]

I think this was to do with sharing explorations? Anyway, something to bear in mind when fixing this issue (which I agree should be fixed).

[2016-05-16 22:53] seanlip commented on #1535
Ah, no worries, just wanted to check in. Sounds good, thanks for the update!

[2016-05-16 22:57] seanlip commented on #1745
Just to check, should this be closed?

[2016-05-16 22:58] seanlip commented on #1745
(per discussion in #1747)

[2016-05-16 23:04] seanlip commented on #1812
Hm, it's possible your computer is fast, and cycles through the intermediate stage pretty quickly. Perhaps this isn't the right issue to work on, then :-) I'll suggest another one!

[2016-05-16 23:05] seanlip commented on #1840
Hi @raju249 -- try this one?

[2016-05-16 23:05] seanlip commented on #1842
Hi @bjvoth -- want to take this one?

[2016-05-16 23:51] seanlip commented on #1817
Cf. #1846

[2016-05-16 23:52] seanlip commented on #1705
Hm, ok. Did my suggestions help? Happy to suggest other things, if not!

[2016-05-17 00:05] anthkris commented on #1705
So I logged to the console in the pre-publish modal. Before the SaveDisplayedValue the category savedMemento and displayed are different. After saveDisplayedValue is fired then savedMemento and displayed are the same.

Exemplar logs:
Prepubish category savedMemento before: Government
Prepublish Category displayed before: Economics

prepublish savedMemento after save: Economics
prepublish displayed

[2016-05-17 00:25] bbriggs commented on #1796
The _ctypes error is related to python-dev I believe.

[2016-05-17 00:28] bbriggs commented on #1689
I didn't notice last time I read this that you were using a VM on a VM. The performance for that is pretty much guaranteed to be awful, sadly. I don't think that's your whole problem, though. Oppia could stand to be more performant, and the Vagrant VM does not have resources allocated for stress testing. It's aimed at users with modest resources on their machine so they can run Oppia without crush

[2016-05-17 00:55] KatFrog commented on #1826
I found the issue with _white space: nowrap_ on FIrefox, fixed the html, and created a new pull request.  I'm not certain who will be checking this, but it's ready for merging.

[2016-05-17 02:55] seanlip commented on #1689
Hm, a VM on a VM does seem pretty ick -- I didn't notice that was the case here either.

@bbriggs, what are next steps for this issue? Should we close it, or is there something concrete we should do?

[2016-05-17 05:37] markhalpin commented on #1843
I can see the point about wanting consistency among the backgrounds. My own opinion is that the white parts of the library cards show up better against the blue background than against a lighter background. Also, I think there's something to be said for a look that's distinctive. One thought might be to do the library background in a slightly lighter blue (as opposed to gray or greenish) than the

[2016-05-17 06:16] seanlip commented on #1705
Hi @anthkris, a quick heads-up -- per #1828, we have changed the editor/ folder to be exploration_editor/ instead, for parity with collection_editor/. We've also split up the editor tabs into individual folders.

You might want to do a merge in order to update your local branch. Thanks!

[2016-05-17 06:31] seanlip commented on #1705
Also, re the select2 issue, it looks like the Select2DropdownDirective.js isn't responding to external changes in its $scope.item. To fix this, you could perhaps add something like this to that directive:

      $scope.$watch('item', function(newValue) {
        $(select2Node).select2('val', newValue);
      });

which will keep track of any changes to $scope.item and update the select2 directive

[2016-05-17 07:03] raju249 commented on #1812
Thanks @seanlip

[2016-05-17 07:05] raju249 commented on #1840
I will be  on it @seanlip later this evening
I am from INDIA :smile:

[2016-05-17 12:15] bbriggs commented on #1689
We don't have any next steps that I can see. The resources for the VM are set to sane defaults but can be adjusted. The big takeaway is "optimize Oppia" which I believe is already underway in different issues.

[2016-05-17 13:29] anthkris commented on #1705
Thanks for the help! I'll try that this evening!

[2016-05-17 14:32] KatFrog commented on #1826
@seanlip - I edited the PR title.

[2016-05-17 14:37] raju249 opened #1848 "Proxy issue for downloading files on Windows while installing Oppia"
It seems that for Windows users this creates a problem while they are setting up the development environment.
If they are behind a proxy users might see a message like the one its here
in this Pastebin --> http://pastebin.com/z34hsmi9
This created a problem for me while setting up Oppia after installing Vagrant.
So a possible solution would be to update ```scripts/install_third_party.py``` file
to

[2016-05-17 15:52] KatFrog commented on #1845
@seanlip - I can fix this.  Please assign the issue to me.

[2016-05-17 17:45] seanlip commented on #1848
Hi @raju249 -- assigned!

Also, could you please be a little more clear about what the intended fix is (i.e. what does "handle the proxy" mean) and how the issue manifests itself? I couldn't figure out what labels to assign to this issue because the description is pretty vague.

[2016-05-17 17:48] seanlip commented on #1689
OK -- in that case, I'm going to close this issue. Thanks!

[2016-05-17 17:48] #1689 closed

[2016-05-17 18:02] raju249 commented on #1848
Hi @seanlip done 😄
This is the first issue I am filing.
So just in the learning phase 😅
Thanks for correcting me

[2016-05-17 18:06] seanlip commented on #1848
Thanks @raju249. Could you please also be more specific about what the "problem" is? E.g. add log messages, screenshots, etc.

[2016-05-17 18:30] raju249 commented on #1848
@seanlip
Actually I faced this problem when I was getting started for the first time and at that time I didn't take any screenshot or copy of log messages :sweat_smile:
I just got some errors printed on console
I am really sorry ..
I don't have any way to reproduce the issue.
May be any new Windows user would bring those exact errors

[2016-05-18 00:05] maitbayev commented on #1813
@seanlip,
FYI, this also happens in oppia.org.
And the reason is: when ng-if element is injected into the animation it doesn't know correct height.
I don't know much about angular animation, so is there any solution to inject into the animation after sub elements calculated?

Another solution in my mind is to use ng-show instead of ng-if, it may fix this.
what do you think ?

[2016-05-18 03:13] raju249 commented on #1848
@seanlip
@gvishal has a better idea of documenting this problem in the wiki where all the instructions for setting up oppia is written.
This way the users who require a proxy wouldn't face a problem and those who don't require would set up temporarily to empty string as specified in the wiki.
What you think?

[2016-05-18 04:49] seanlip commented on #1848
Sounds reasonable to me, thanks @raju249. Could you please liaise with @jacobdavis11 regarding what to add to the wiki?

[2016-05-18 04:56] seanlip commented on #1848
Also, @bbriggs should also be aware of this, I think.

(@bbriggs -- any recommendations?)

[2016-05-18 04:58] bjvoth commented on #1842
@seanlip I'll give it a try.

[2016-05-18 05:45] raju249 commented on #1848
Thanks @seanlip
@jacobdavis11
We should start soon :smile: So no one else faces this problem
Thanks

[2016-05-18 05:48] raju249 commented on #1840
@kevinlee12
Can you please help me in reproducing this problem.?
So that I would investigate this issue
Thanks :smile:

[2016-05-18 12:58] bbriggs commented on #1848
If you can explain the issue, we can work out how to work around it and document that in the wiki.

[2016-05-18 13:26] raju249 commented on #1848
@bbriggs
That was the same problem I spoke about it in gitter chat
When I  was getting started
I had some ```IO Error``` while downloading files

[2016-05-18 13:27] bbriggs commented on #1848
We should document it here in the issue or else it didn't happen :)

[2016-05-18 13:28] raju249 commented on #1848
Ohh
Let me see the form I remember linking the pastebin for the error

[2016-05-18 18:06] BenHenning commented on #1556
Unassigning @gvishal so that he can ramp up on his GSoC project. :)

[2016-05-18 19:00] 526avijitgupta commented on #1366
Hi @rachelwchen Can you please confirm that the following statistics are the cumulative and will not be refreshed weekly - Average Ratings, Total Plays.

For example -
Let's say that the statistics data is refreshed on every Monday. So I'm assuming that just after being refreshed - New Feedback, Explorations Updated will be set to zero, but the Average Ratings, Total Plays will keep their values.

[2016-05-18 23:21] kevinlee12 opened #1852 "Transition to ESLint from JSCS for code linting"
JSCS has been depreciated by the dev team as note in a blog post here: https://medium.com/@markelog/jscs-end-of-the-line-bc9bf0b3fdb2#.3lqbp3ilv Therefore, we will need to migrate to ESLint as they recommend in the blog post. The official comment by ESLint is here: http://eslint.org/blog/2016/04/welcoming-jscs-to-eslint#making-eslint-work-for-jscs-users
## Resources

Migration doc: https://github.

[2016-05-19 00:51] BenHenning commented on #1697
Note: my previous comment is no longer true. We now have a CollectionValidatorService for doing the check Sean mentioned.

[2016-05-19 00:55] jacobdavis11 opened #1853 "Add questions about users to the sign-up page"
We would like to add two questions (with drop-down response lists to choose from) to the sign-up page:
1. What is your educational background (e.g. teaching, university TA, university professor, hobbyist)?
2. What do you hope to accomplish by using Oppia (e.g. teach own students more efficiently, reach a broader audience,...)?

These questions should be optional, so people can complete sign-up wit

[2016-05-19 01:00] BenHenning commented on #1697
Since this is now blocking #1630, I'm going to take it over.

[2016-05-19 01:03] BenHenning commented on #1696
This relates to work being done in #1705

[2016-05-19 01:24] jacobdavis11 opened #1854 "Create a url attribute that can be used to track the marketing channels from which users come"
We would like to be able to track the marketing channels users come from, and to do this we will add a url attribute to the links we use in each channel, for example search engine marketing could have "channel=sem" and emails could have "channel=email". We will then be able to use Google Analytics to identify users coming to the site through these channels, and follow their subsequent movements.

[2016-05-19 01:26] jacobdavis11 commented on #1854
@seanlip Does this look reasonable? By default links within Oppia drop url attributes so this will miss users who go on circuitous paths through the site and then click "create exploration". But I think it covers the main routes based on what I can see from Analytics.

[2016-05-19 01:33] kevinlee12 commented on #1840
Hi @raju249, definitely! Here's what I did to reproduce this problem:

1. Log in as admin into Oppia and load all explorations.
2. Log out and sign in as another user as admin with a different email.
3. Modify the Graph Modeling exploration and publish those changes.
4. Log out and sign in as a 3rd (different than the first and second) user as admin
5. Modify the Graph Modeling exploration and pub

[2016-05-19 03:28] rachelwchen commented on #1366
Hi @526avijitgupta ! You're right that _average ratings_ and _total plays_ will be accumulative. Only the "plus/minus stats from last week" on desktop view will refresh weekly.
_New feedback_ and _explorations updated_ represent the numbers of each item that a user has yet to respond to, and will increase / decrease in real time. For example, if 2 of your explorations were updated by other users a

[2016-05-19 04:29] anthkris commented on #1705
Just a heads up, your snippet worked a treat!! I've got everything working as expected.

Now I'm trying to see if I can test it out with the ng-if's in place. Also discovered that trying to put each element's code into it's own if statement didn't seem to work, so they are still all in the same one, which has been modified to run if any of them are missing BUT I'm trying to figure out how to chang

[2016-05-19 04:48] raju249 commented on #1840
Thanks @kevinlee12
I will be seeing later today in the evening
:smile:

[2016-05-19 06:08] #1826 closed

[2016-05-19 07:01] seanlip commented on #1854
I'm not sure you need to add additional stuff to the URLs in the code. Doesn't GA do this already? See

   http://stackoverflow.com/questions/11004451/tracking-an-event-to-a-referrer-in-google-analytics
   https://support.google.com/analytics/answer/6205762?hl=en (particularly the paragraph at the end of the 'collection' session). Also see https://support.google.com/analytics/answer/2731565?hl=en

[2016-05-19 07:06] seanlip opened #1855 "Check if drafts get lost if the user saves a draft while offline. If so, fix this."
We've just received a report from @anmolshkl that he clicked "save draft" while creating an exploration, but when he reloaded the page, the draft was not saved. It's possible that he was offline when he clicked the "save draft" button -- but, in that case, the call to the server really should NOT fail silently. There should be some indication that the connection has been lost.

The aim of this iss

[2016-05-19 07:22] seanlip commented on #1705
Here's one idea: you could have each field correspond to a specific string fragment: "title", "category", "objective", "language". Collect the missing fields into a list, such as ["category", "language"]. Then use that to generate something like:

    Add metadata to the exploration: category, language.

[2016-05-19 08:46] gvishal opened #1857 "Add a flag to enable minified version locally for developers."
Currently, when we run Oppia locally it starts in development mode. Naturally, in development mode we'd want to debug things and hence we do not use the minified versions of HTML / CSS / JS.

Now, to perform performance testing of Oppia we'd like to better simulate the production environment and hence, enable minified versions of HTML / CSS / JS.

Essentially, we need to add a flag for developers

[2016-05-19 08:57] gvishal opened #1858 "Add source-maps to enable better debugging for minified scripts."
Currently, we do not use sourcemaps for css and js files in production. This makes it hard to debug any errors. Also, with #1857 it will be really useful to have sourcemaps for debugging. Our objective:
- Add sourcemaps for css and js.

/cc @maitbayev @seanlip

[2016-05-19 16:02] KatFrog commented on #1845
@seanlip - I looked through the code and I see where the noscript redirect was removed to accommodate the G+ crawler, but I haven't found more details.  I researched crawlers and noscript, and haven't found any reason not to redirect if Javascript isn't enabled.

But I didn't like the plain text file, so I created a noscript.html under 'static' and made it a bit prettier.

Now, on to pull requests

[2016-05-19 16:34] edallison commented on #1535
As an update:

https://github.com/oppia/oppia/compare/develop...edallison:text-editor-not-saving?expand=1

I think I've isolated the problem though something strange seems to be happening.  If you open a Customize Interaction (Multiple Choice) modal on my branch and watch the dev console,  it will show that stateCustomizationArgsService.displayed[argName].value is not being set properly to stateCu

[2016-05-19 18:48] #1697 closed

[2016-05-19 22:49] seanlip commented on #1535
Thanks for the update -- that sounds promising (and odd!).

[2016-05-19 22:57] seanlip commented on #1845
Here's the problem I remember encountering when we originally had a noscript tag: http://stackoverflow.com/questions/31239613/prevent-google-plus-website-snippet-widget-from-following-noscript-tags

I looked at the comments to that question, and I'm starting to be a bit unsure about whether we should use noscript or not. Later tonight I can try pushing this branch to a test server and using [this

[2016-05-19 23:13] rahimnathwani commented on #1853
(Based on Daniel's suggestions)

"Are you a student or teacher?"
Student (University or College)
Student (not University or College)
Schoolteacher
University lecturer or professor
Learning on my own
Other
Prefer not to answer

"I am here to"
Learn something
Create lessons for my existing students
Create lessons to share on the internet
Create new explorations
Check out what Oppia does
Other
Prefer

[2016-05-19 23:23] 526avijitgupta commented on #1366
@rachelwchen Thanks for your help.

[2016-05-19 23:40] jacobdavis11 commented on #1853
Thanks! I'd rather phrase the second question as "What do you hope to use Oppia for?" for consistency with the first question.

Also the questions are not compulsory so we can have "(select answer)" as the default option for each. That should allow us to dispense with the "Other" and "Prefer not to answer" options.

I'm inclined to drop the "Create new explorations" option as the user likely won't

[2016-05-20 00:10] jacobdavis11 commented on #1854
Will the system you're referring to here maintain channel tracking across
the login and account creation process? My assumption is that it would not,
since a new session is begun in Google Analytics. This means that we will
need to ourselves maintain the url attributes up to the point at which
login is initiated, so that we can manually pass them through the login
process.

On Thu, May 19, 2016 at

[2016-05-20 00:31] seanlip commented on #1854
Yeah, I suspect we'll have a problem transferring the status across the login process. I don't know if it's possible to extract the info just prior to a login, and reinstate it thereafter -- which would mean that we'd only have to edit the login url. It needs investigation, but I hope it's possible, since this would be much easier than trying to modify all the URLs (especially since the UX etc. ma

[2016-05-20 00:38] KatFrog commented on #1845
@seanlip - now I understand. I removed the redirect and have a large error message appear at the top of the page with a link to the instructions.  Unfortunately, the yellow warning box is still displaying.  I'm looking into how to fix that right now.

[2016-05-20 01:09] KatFrog commented on #1845
@seanlip - Please try the new code.  It now has a white box that shows an error message.

Thanks, Kat

[2016-05-20 01:36] jacobdavis11 commented on #1848
The relevant wiki page is here: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29

Feel free to add a section with additional instructions for handling proxies.

[2016-05-20 02:17] seanlip commented on #1160
Update: @dpaparis just emailed me to say she plans to pick this up next week or the week after. I'm going to deassign her for now, but @dpaparis -- please feel free to take it back up again when you're ready!

[2016-05-20 04:50] #1813 closed

[2016-05-20 05:37] raju249 commented on #1848
Thanks @jacobdavis11
I have also made a PR updating the ```scripts/install_third_party.py``` file.
So it would be changed for all the users but still if @seanlip and @bbriggs feel that we should update the wiki I will do it .
(@seanlip @bbriggs  any suggesstions?)

[2016-05-20 06:07] seanlip commented on #1848
I have no suggestions. Up to you and @bbriggs to decide what is necessary here. I defer to @bbriggs as the decision maker.

[2016-05-20 06:13] seanlip opened #1860 "Exploration summary tiles should show up to two lines of the exploration title."
Currently, the exploration tiles (in e.g. the library page) show up to one line of the exploration title, possibly truncated. This is too small -- e.g. "Introduction to Proof" and "Introduction to Probability" both become "Introduction to Pro...".

Instead, it would be nice if the exploration tiles showed two lines of the title, similar to the following screenshot:

![new-library-page-tiles](https

[2016-05-20 08:33] raju249 commented on #1848
Thanks @seanlip

[2016-05-20 08:43] seanlip commented on #1705
Hi @anthkris -- just so you know, I am currently working on a feature (a simpler editor UI) which requires that the title be removed from the "create exploration" modal. If the other changes are proving problematic, do you think it would be possible to get just the title-related change in within the next couple of days?

Thanks!

[2016-05-20 09:34] #1540 closed

[2016-05-20 10:39] souravbadami commented on #1745
@seanlip -- Yes. I'm closing it.

[2016-05-20 10:39] #1745 closed

[2016-05-20 12:19] bbriggs commented on #1848
The wiki shouldn't need any updates provided this resolves the observed proxy issues. Thanks for the lint fix. LGTM.

[2016-05-20 12:21] #1848 closed

[2016-05-20 12:35] raju249 commented on #1848
Thanks @bbriggs
Thanks @seanlip
Thanks for your help for my second PR to be merged :smile:

[2016-05-20 12:38] raju249 commented on #1812
@seanlip I think its not any problem .
Why don't we close it.
It will feel really clean
What say @seanlip ? :smile:

[2016-05-20 13:15] raju249 commented on #1840
@kevinlee12 Do I need to reload all explorations or just reloading the graph modelling is fine?

[2016-05-20 14:13] arun1595 opened #1862 "Creator has to remove pre-existing text in RTEs while customizing interactions"
### Steps to reproduce:

1. Sign in
2. Create a new exploration
3. Add interaction to the first card
4. Click on **Item Selection** or **Multiple Choice** in the *Choose Interaction* modal
5. Observe the textarea.

It would be better if we change the paragraph text **Sample item answer**(Customize Interaction-Item Selection modal) and **Sample multiple-choice answer**(Customize Interaction-Multipl

[2016-05-20 15:23] KatFrog commented on #1839
@seanlip - I can handle this one.

[2016-05-20 15:39] KatFrog commented on #1839
Are we going to support Oppia on tablet?  If so, I think we need to leave the "View All" button on the Featured Explorations for discoverability, and perhaps even change the titles to look clickable because tablets have no hover capability.  On larger screens, the "View All" button consume unnecessary space, adds parallelism to the view, and adds another way for users to find new explorations.

It

[2016-05-20 15:41] KatFrog commented on #1841
@kevinlee12 What web browser are you using?  I'm running Chrome on Chapeau (linux) and my "View All" button lines up with the last card shown, not the right edge of the screen.

[2016-05-20 16:32] KatFrog opened #1863 "ItemSelectionInput interaction: do not require default feedback if it isn't needed."
I created an exploration with a simple explanation of show v.s. tell in terms of writing.  As part of the exploration, I created three cards with examples and I included an item selection interaction with two choices: show and tell.

When I finished the exploration, Oppia had three cards marked as wrong.  In all three instances, it added "all other answers" to the item selection and it wanted me t

[2016-05-20 16:56] souravsingh commented on #1836
I would like to work on this issue

[2016-05-20 17:26] gvishal opened #1864 "Bug when scrolling through a subject group on the library index page"
To replicate:
1. Go to the library page.
2. Click 5-7 times very quickly on the button next to the featured explorations.

You will notice that the items in the carousel are in a weird state and also, the left and right controls behave differently.

[2016-05-20 17:39] kevinlee12 commented on #1840
Reloading just the graph modeling should be fine as well. Since this issue is exploration independent, any exploration should do.

[2016-05-20 18:55] bbriggs commented on #1836
My mistake, I forgot to reference the existing PR for this (#1837)

[2016-05-20 19:06] seanlip commented on #1836
Hi @souravsingh -- welcome! This issue is taken, but perhaps you could take on another one. Before that, can you please follow the instructions here to get started? https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up

Thanks!

[2016-05-20 19:28] #1836 closed

[2016-05-20 19:29] seanlip commented on #1862
@AllanYangZhou is this possible with the new RTE you're working on?

[2016-05-20 19:30] seanlip commented on #1841
Just to check, @KatFrog -- is this the case when you narrow the screen width so that only two cards are showing?

[2016-05-20 19:32] seanlip commented on #1839
Making the titles feel more clickable is a good idea, though I'm not sure how to do that. Feel free to propose design suggestions!

The Featured Explorations category is special: the explorations you see in it by scrolling right comprise the totality of explorations in that group. For all the other groups, you're seeing only a small selection of the explorations within that group, so "View All" is

[2016-05-20 19:33] seanlip commented on #1839
(And yes, we would like Oppia to work well on small-screen devices, like phones and tablets.)

[2016-05-20 19:34] seanlip commented on #1812
Let's leave it open. We are fine-tuning the learner page, and I still run into this issue -- perhaps it's because I have a slower computer. But it's still an issue.

[2016-05-20 19:52] kevinlee12 commented on #1841
Hi @KatFrog, I'm using Chrome v50.0.2661.102 on Ubuntu 16.04.

[2016-05-20 19:57] kevinlee12 commented on #1843
I do agree on your comment about the darker backgrounds letting the cards show through better, but it does take away from the titles. Having it slightly lighter sounds like a good plan (the specific coloring isn't my main concern). However, it would be nice to reduce the number of colors a bit so that the focus can be on the cards and titles rather than the context of which those things are in.

[2016-05-20 19:57] jacobdavis11 commented on #1864
To clarify, the button referred to here is the scrolling button on the right of the array of featured explorations.

The resulting state I see is that five exploration tiles are partially visible rather than the normal state of having four partially visible. Please reply if there were other problems you see that you were referring to.

[2016-05-20 20:15] KatFrog commented on #1841
@seanlip - Nope.  I can see four cards on the screen.

@kevinlee12 - I'm using Chrome v50.0.2661.102 on Chappeau release 23.

[2016-05-20 20:40] souravsingh commented on #1481
I would like to work on the issue.How do I start?

[2016-05-20 20:43] souravsingh commented on #1242
I would like some guidance on working in this issue

[2016-05-20 21:02] AllanYangZhou commented on #1862
I suppose we could do something like [this](http://jsfiddle.net/RZZ6X/9/) for any conteditable, including the new RTE.

[2016-05-20 21:22] seanlip commented on #1841
Ah. @KatFrog -- try reducing the width of your browser so that it only shows two cards. I think the problem appears there.

[2016-05-20 21:24] seanlip commented on #1864
/cc @kevinlee12 FYI

[2016-05-20 21:36] seanlip commented on #1481
@jacobdavis11 can you help?

[2016-05-20 21:52] seanlip commented on #1863
Hi @KatFrog -- would you mind attaching a screenshot? A picture tells a thousand words :-)

Thanks!

[2016-05-20 21:53] jacobdavis11 commented on #1242
Do you want guidance as to what the issue is asking for or as to what technical steps will be needed for the implementation? If you have some specific questions that would be helpful as a basis for discussion. Thanks!

[2016-05-21 01:45] anthkris commented on #1705
Will try to get a functional PR by Saturday evening or before. Working now!

[2016-05-21 04:35] gvishal commented on #1864
In the resulting state, the back and forward arrows behave unexpectedly, as in the left arrow is displayed even though there are no explorations to the left. It only becomes normal if you click it a few times.

[2016-05-21 06:16] seanlip commented on #1864
Can you attach a screenshot? That would be clearer, I think.

[2016-05-21 07:30] souravbadami opened #1867 "Screen flickers on profile page."
**Steps to Reproduce:**
- Create some explorations (more than 6).
- Navigate to profile page.
- Hover on the rating icon of the explorations on the 2nd row.

**Observed behavior:**
Screen flickers on hovering.

**Environment:**
O/S: Ubuntu 14.04.1 LTS
Browser: Mozilla Firefox V46.0 / Chrome V49.0.2623.108

![screenshot from 2016-05-21 12 44 38](https://cloud.githubusercontent.com/assets/11073943/1

[2016-05-21 07:31] raju249 commented on #1812
No Problem @seanlip
Thanks

[2016-05-21 08:07] raju249 commented on #1840
Thanks @kevinlee12

[2016-05-21 13:00] charisseysabel commented on #1843
I think having a dark background makes the site a little gloomy/sad (dark background + dark header color =  sad.).Has anyone ever felt that? And since there's basically nothing else on the library page that would distract a user from noticing the cards, I think it wouldn't be a problem.

Also why don't we ever try a white background?? I don't see anything wrong with it. See this GitHub comment str

[2016-05-21 17:52] KatFrog commented on #1863
![selection_008](https://cloud.githubusercontent.com/assets/3834415/15449960/415519fc-1f5b-11e6-998b-b24d14d68c07.png)
![selection_002](https://cloud.githubusercontent.com/assets/3834415/15449961/45ca3314-1f5b-11e6-83a2-b91912522e6d.png)
![selection_001](https://cloud.githubusercontent.com/assets/3834415/15449962/487879ea-1f5b-11e6-9a13-217a2ededdbb.png)

[2016-05-21 17:57] KatFrog commented on #1863
@seanlip - I added screenshots.  The first added shows the error message obscured by the card title.  The second screenshot is an item selection interaction I attached to a card.  Oppia marks the lack of information for the "All other answers" section as an error, even though there are no other answers.  The last screenshot is of a multiple choice.  I decided to play around and see if the same err

[2016-05-21 18:15] seanlip commented on #1863
Excellent, this is great. Thanks @KatFrog!

[2016-05-21 18:16] seanlip commented on #1863
Note to contributors: the aim here is to make ItemSelection behave similarly to MultipleChoice, by removing the requirement to specify an "All other answers" option when the item selection is in single-choice mode and all existing answers have feedback.

[2016-05-21 18:29] KatFrog commented on #1863
@seanlip - Oh, now I understand the "All other answers" option.  Thanks!

[2016-05-21 18:45] gvishal commented on #1864
![image](https://cloud.githubusercontent.com/assets/1708579/15450147/e5afae44-1fb1-11e6-88a2-ae045e27241a.png)

Even though there are no more explorations are towards the left, the left arrow button still shows up. I think it is due to the fact that we are calculating the no of clicks made and bunch of quick clicks breaks that count.

![image](https://cloud.githubusercontent.com/assets/1708579/154

[2016-05-21 21:06] kevinlee12 commented on #1845
Fixed in PR #1859

[2016-05-21 21:06] #1845 closed

[2016-05-21 21:07] kevinlee12 commented on #1845
Thanks @KatFrog!

[2016-05-21 21:32] kevinlee12 commented on #1843
I do like @charisseysabel's suggestion about having a white background, it lightens the mood and keeps the attention still on the cards. It is probably because the white background might be cliched, which (correct me if I'm wrong) what @markhalpin is suggesting. Worth a try because Github's and also Youtube's sites are almost flush white, which we aren't, with the green navbar. Because of that, we

[2016-05-21 21:54] 526avijitgupta commented on #1867
Hi @souravbadami , I followed the steps listed - and I can see that on hovering over a rating icon, it's tooltip flickers. I'm not experiencing any screen flickering issues though. Can you confirm this ?
Thanks.

[2016-05-21 23:26] jacobdavis11 commented on #1481
I'm afraid I'm not familiar with the details of Jasmine. I suggest you start by looking through the changelogs from version 1.3 to version 2 and try to update our protractor code accordingly. Then switch the jasmine version it uses and deal with whatever errors arise.

[2016-05-22 04:10] seanlip commented on #1481
@souravsingh -- just to check, would you still like to work on this issue? If so, we'd be happy to assign you. Thanks!

[2016-05-22 04:39] souravsingh commented on #1481
Yes, I would like to work on the issue

[2016-05-22 04:42] seanlip commented on #1481
OK, assigned you. Thanks!

[2016-05-22 08:30] souravbadami commented on #1867
@526avijitgupta  -- Just to check, are you on the latest develop branch ?

[2016-05-22 09:19] seanlip opened #1872 "Add a "recently published" group to the library index page."
At the top of the library page, it would be nice to have an additional carousel showing explorations that have recently been published.

[2016-05-22 09:23] seanlip commented on #1503
@kevinlee12 -- can we close this?

[2016-05-22 09:25] seanlip commented on #1796
I think this is resolved, so I'm closing it. Please reopen if that's not the case. Thanks!

[2016-05-22 09:25] #1796 closed

[2016-05-22 09:26] seanlip commented on #1854
@jacobdavis11 -- can you look into this?

[2016-05-22 09:27] seanlip commented on #1818
Hi @joshuacano -- how's this going? :)

[2016-05-22 09:30] seanlip commented on #1629
I think that the original issue may be related to #1580, particularly [this comment](https://github.com/oppia/oppia/issues/1580#issuecomment-212364165) and the following ones. So, closing this, but @feelcoder, please feel free to reopen if you disagree. Thanks!

[2016-05-22 09:30] #1629 closed

[2016-05-22 09:38] seanlip commented on #1545
I added some notes to the end of the Troubleshooting section on the wiki: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#troubleshooting. Closing this issue; thank you all for the reports and confirmation of the fix!

[2016-05-22 09:38] #1545 closed

[2016-05-22 09:38] seanlip commented on #1602
Ping!

[2016-05-22 12:21] joshuacano commented on #1818
Going well, i should be done with this Ina few days, getting back from vacation on Monday.
Joshua Cano

[2016-05-22 15:30] 526avijitgupta commented on #1867
@souravbadami Yes I'm on the latest develop branch. It's maybe because I'm on a different OS.
In either case, there's something that needs to be fixed. Though at this point, it's not fully clear what.

Just a follow up question - can you please elaborate what do you meant when you said that the screen flickers ?

[2016-05-22 15:48] souravbadami commented on #1867
@526avijitgupta
![flicker](https://cloud.githubusercontent.com/assets/11073943/15454891/2339729e-2062-11e6-8128-f83dafa38e36.gif)

[2016-05-22 18:54] souravsingh commented on #1242
I would like to know how to proceed with the implementation?- Do we add expression editor for the teacher and add additional rules on entering the expression?

[2016-05-22 19:35] 526avijitgupta commented on #1867
Hi @souravbadami , I can confirm that this is an issue. And I'm able to reproduce this on my machine as well now. Also, to be fully sure before moving forward - I checked this on oppia.org, and the screen flickering occurs.

[2016-05-22 21:03] #1817 closed

[2016-05-23 00:25] kevinlee12 commented on #1860
For the last bullet point, it might be worth it to not let the creator type in any more characters, as the current implementation creates more steps for the user.

[2016-05-23 00:27] seanlip commented on #1860
Yes, that's a good idea. I was also wondering about maybe showing a preview of the activity tile in the settings tab, so that the author can see how their exploration looks to others, and tweak it accordingly. What do you think? May be overkill though.

[2016-05-23 01:45] #1816 closed

[2016-05-23 03:18] souravbadami commented on #1764
This issue has been resolved on the latest develop branch, so I'm closing it.

[2016-05-23 03:18] #1764 closed

[2016-05-23 14:44] souravbadami commented on #1805
@charisseysabel -- I'm unable to reproduce this issue on iPhone 4 view of chrome. Can you confirm this ?

[2016-05-23 18:49] seanlip commented on #1793
Hi @p4rsec -- any luck?

[2016-05-23 18:50] seanlip commented on #1740
Hi @TruongKim, are you still working on this?

[2016-05-23 19:37] maitbayev commented on #1815
Hi @seanlip, what about the animation Will look it nice? How it supposed to animate?

[2016-05-23 21:22] seanlip commented on #1815
Yeah, that could be tricky. I don't know what the right solution is here, I'm afraid...

[2016-05-23 23:16] charisseysabel commented on #1805
@souravbadami I was using Safari.

[2016-05-24 01:36] TruongKim commented on #1740
Hi Sean, I'm done editing the code and do local testing. I'm trying to make a pull request the last couple days.

[2016-05-24 03:36] anmolshkl opened #1877 ""Add New Oppia Response" modal exits on clicking outside the modal."
<b>Expected Behavior:</b>
The "Add Response" modal shouldn't close if its clicked anywhere outside the modal (usually by mistake while editing). The expected behavior is similar to "Customize Interaction" modal.

<b>Observed Behavior:</b>
When editing an exploration, the "Add Response" modal gets closed if the editor clicks on an area outside of the modal (this is especially annoying when you touc

[2016-05-24 04:52] seanlip commented on #1860
Fixed in #1873. Thank @souravbadami!

[2016-05-24 04:52] #1860 closed

[2016-05-24 04:55] seanlip commented on #1740
Oh, oh dear! That seems odd that making a PR is tricky -- it's supposed to be straightforward. Do the instructions in step 4 [here](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#instructions-for-making-a-code-change) not work?

[2016-05-24 05:13] TruongKim commented on #1740
It seems more like a problem with vagrant. Whenever I try to use vagrant up, git bash gives me "permission denied" error.

[2016-05-24 05:16] seanlip commented on #1740
Hm, that's odd. @bbriggs -- any tips? I feel we might have encountered something like this before, but I don't know what the resolution was.

@TruongKim -- are you on the latest develop branch? If not, it may be worth trying from there. I seem to remember that some fixes were made to the vagrant setup...

[2016-05-24 05:28] TruongKim commented on #1740
Also, when I try to follow step 4, I receive any error: permission denied(publickey). So I gotta set up github authorization.

[2016-05-24 05:30] seanlip commented on #1740
See https://help.github.com/articles/error-permission-denied-publickey/ -- does that help? (I got it by googling your error message.)

[2016-05-24 05:44] TruongKim commented on #1740
Thanks Sean. I'm trying those solutions.

[2016-05-24 06:11] raju249 commented on #1840
Just commenting to tell that I am on this issue.
I was busy with some programming assignments in my college.
But today I am on this problem
Thanks :smile:

[2016-05-24 08:01] seanlip commented on #921
Hi @oparry -- I was looking around for a new project, and I think that the remaining parts of this issue are actually pretty nice ones -- i.e. the reset button in the bottom right, and the list of parameter values above it. This should be much more straightforward than the first two milestones of this issue!

Would you like to tackle this? I think it's fine to do them in two separate PRs -- one fo

[2016-05-24 08:51] #1877 closed

[2016-05-24 09:25] oparry commented on #921
Hi @seanlip,
Sounds good, but I won't be able to start working on them until the weekend, hope that's ok.

[2016-05-24 09:26] raju249 commented on #1840
@kevinlee12 @seanlip
```-bash: fork: Cannot allocate memory```
I get this error after running oppia for some time and then I am not able to do any further work t reproduce this issue :disappointed:
Please help
Thanks

[2016-05-24 13:10] souravbadami opened #1879 "Incorrect url for publication criteria in publish modal."
**Steps to Reproduce:**
- Create a new exploration.
- Click on **Publish** button.

**Observed behavior:**
The url for publication criteria in publish modal is incorrect.

[2016-05-24 16:34] gvishal opened #1881 "Unnecessary scroll bar in exploration."
I was playing an exploration and noticed that there is an unnecessary scroll bar appearing in the window.

![workspace 1_021](https://cloud.githubusercontent.com/assets/1708579/15512013/7f9e3228-21fb-11e6-893d-20f171b5f7cb.png)
![workspace 1_022](https://cloud.githubusercontent.com/assets/1708579/15512018/81021b84-21fb-11e6-8ed9-f516ba0c2a28.png)

[2016-05-24 17:36] seanlip commented on #921
Yep, that's fine. Thanks, @oparry!

[2016-05-24 17:49] seanlip commented on #1705
Hi @anthkris -- I want to go about the next step in a slightly more piecemeal way. Can we try removing just the category from the creation modal, and use this to get a sense of what changes would be needed end-to-end? Newly-created explorations will also need to have a default category -- how about 'None' or '', perhaps?

(We'd need to check for that when deciding whether an exploration is publish

[2016-05-24 17:52] seanlip commented on #1840
Sorry -- not sure! Are you running on vagrant? Does it happen reproducibly?

/cc @bbriggs who may be able to help; also /cc-ing @AllanYangZhou since he's maintainer-on-duty this week and might be able to help you look into it.

[2016-05-24 18:52] AllanYangZhou commented on #1840
Hi @raju249, are you using vagrant box/VM? If so, try allocating more RAM to the virtual machine.

[2016-05-24 19:03] AllanYangZhou commented on #1879
Fixed in: https://github.com/oppia/oppia/commit/45cd9d58d9049ac780c9094210a070dcfacf377a

[2016-05-24 19:03] #1879 closed

[2016-05-24 22:55] 526avijitgupta commented on #1366
Hi @rachelwchen I'm in need of help with the following:
- How is the value "Average Ratings" calculated (not for individual explorations, but the one which is aggregated) ? To be clearer -- Does the number of plays have to be considered while it's calculation ? Or will it be simply the average of average ratings for each exploration ?
- Will the total plays be recorded by number of times the explo

[2016-05-24 22:56] bbriggs commented on #1840
Yes, you may need to allocate more memory if you're on a VM.

[2016-05-24 22:58] bbriggs commented on #1740
@TruongKim: what is your host operating system? It's possible that you did a `sudo git clone` instead of `git clone`.

In any case, can you pastbin the output of `ls -lah` from your `oppia` git repo?

[2016-05-24 23:02] rachelwchen commented on #1366
@526avijitgupta 1) I think the average of average ratings would be sufficient; 2) number of times an exploration is started -- per the discussions earlier, I think we agreed that even really good explorations may have a high drop-out rate, so it's not crucial to take completion into consideration.

[2016-05-24 23:04] 526avijitgupta commented on #1366
@rachelwchen Thanks for clarifying things out!

[2016-05-24 23:05] kevinlee12 commented on #1503
yes!

[2016-05-24 23:05] #1503 closed

[2016-05-24 23:08] rachelwchen commented on #1366
@526avijitgupta of course, let me know if you have other questions! I'm sending a new round of mockups this week -- updating the color palette & font with the new release (shouldn't affect the backend implementations). Thank you!

[2016-05-24 23:10] 526avijitgupta commented on #1366
@rachelwchen That's great.

[2016-05-24 23:21] seanlip commented on #1705
Hi @anthkris -- actually, I got a bit inspired and filed PR #1883. Would you mind taking a look at it and letting me know what you think, from a UX point of view (and, if you like, a code point of view)? This removes the creation modal altogether.

(I needed this for another PR I'm working on, so I figured I'd just go ahead and try to do it.)

There are still a few TODOs, which I'll remove as they

[2016-05-25 00:10] bbriggs commented on #1602
Sorry, I overlooked this one earlier.

Since our Vagrant setup is by default a low-memory environment, it may be useful to have a check for `VAGRANT=true` in the environment vars and default to a lightweight suite of tests. A more robust suite can still be selected if desired.

I think the CHROME_BIN thing has been resolved, I'll have to check up on that.

[2016-05-25 02:26] KatFrog commented on #1839
@seanlip  - Thank you for your explanation.  I played with the interface to see if I could understand how it feels to be a newish user.  That being said, I still think that having a "View All" button is important even though the user can see all the explorations using the navigation arrows.  The button adds discoverability for the user, plus it's easy to use and see.  Most people don't want to thi

[2016-05-25 03:45] raju249 commented on #1840
Yes I am on VM
I will allocate more RAM.
Thanks for help @seanlip @bbriggs @AllanYangZhou :smile:

[2016-05-25 05:30] seanlip commented on #1839
Yep, I see what you're saying -- and it does help with consistency, too.

Just to check, though, where should "View All" go to? Does it take you to all explorations, or just the ones that are featured? (The former is easier to do than the latter, so I'm wondering if that would be problematic.)

[2016-05-25 05:35] kevinlee12 commented on #1839
@KatFrog does bring up good points. In regards with the placement of the buttons, I'm thinking perhaps we can have a stacked option, where we have the title on top, "View All" button in the middle, and the exploration tiles on the bottom (or switch "View All" and exploration tiles). We can probably still have a "View All" button for the Featured Categories, but the link will definitely have to be

[2016-05-25 06:04] seanlip commented on #1839
@kevinlee12 I don't think I understand what you're proposing, sorry. Can you do a rough mock?

[2016-05-25 06:14] kevinlee12 commented on #1839
Very roughly something like this, where the three components: title, button, and tiles are stacked on top of each other on mobile vertical view (leaving it as-is on tablet and desktop).
![image](https://cloud.githubusercontent.com/assets/5758256/15529813/f2a2271c-2204-11e6-945d-c06f540933a7.png)

[2016-05-25 09:18] seanlip commented on #673
Closing -- it looks like this now works automatically due to @oparry's changes to #921 (thanks, @oparry!)

[2016-05-25 09:18] #673 closed

[2016-05-25 09:25] seanlip commented on #1696
/cc @anthkris. Note that #1705 is (basically) completed.

[2016-05-25 19:51] jacobdavis11 opened #1884 "Combine the two successive publicational modals into one"
Currently (after #1883 is merged) when publishing an exploration you first have a modal that requests metadata (title, category ect.) resulting in a save event, and then there is a second modal which results in the actual publication event.

It would be good to combine these into a single save-and-publish modal that performs both events in sequence (without drawing the user's attention to the fact

[2016-05-25 21:43] jacobdavis11 commented on #1242
If you look in extensions/rules/math_expression.py you can see that the rule has a variable of the form UnicodeString, whilst in extensions/interactions/MathExpressionInput/MathExpressionInput.py the answer_type (what the student submits) is an object of type MathExpression. You can look in extensions/objects/models/objects.py under MathExpression to learn more about this latter object.

So ideall

[2016-05-25 21:46] kevinlee12 commented on #1864
This is most likely due to the new animation execution is not waiting for the current animation to finish, so the starting pointing of the next set of animations is starting from somewhere in the middle of the card (hence why we end at the middle of a card).

[2016-05-25 21:46] seanlip commented on #1242
(1) is tricky, (2) is odd. Probably (1) is better.

[2016-05-25 21:47] seanlip commented on #1864
Can we get it to wait?

[2016-05-25 21:54] kevinlee12 commented on #1864
Yes, employing an "status" variable may help here and employing a callback function to reset it after execution.
http://api.jquery.com/animate/

/cc @nlopezgates

[2016-05-25 23:03] #1705 closed

[2016-05-25 23:04] seanlip commented on #1736
@CuriousLearner, are you working on this?

[2016-05-25 23:06] seanlip commented on #1842
Hi @bjvoth! Any progress?

[2016-05-25 23:06] seanlip commented on #1821
@ishankhare07, did you get a chance to look at this?

[2016-05-25 23:07] seanlip commented on #1782
Hi @ashishpahwa7 it still does for me. Is this the case immediately after you've logged in for the first time? Does it happen on the latest version of develop?

[2016-05-26 03:50] bjvoth commented on #1842
@seanlip Hello! Pull request #2 submitted.

[2016-05-26 03:56] seanlip commented on #1696
Per discussions with @BenHenning and @anthkris, the first milestone for this is to implement the following: clicking the "Create" button in the top right opens a popup asking if the user wants to create an exploration or a collection.

(Note that the e2e tests will need to be updated accordingly.)

[2016-05-26 03:57] souravbadami commented on #1815
@seanlip -- I think this placement will work.
![screenshot from 2016-05-25 23 01 21](https://cloud.githubusercontent.com/assets/11073943/15563169/bee2f544-2323-11e6-9be9-14fd8b7bf839.png)

[2016-05-26 04:00] seanlip commented on #1815
Hm, interesting -- thanks, @souravbadami! It's a possible position, though it might not work if the window width was a bit smaller.

I just realized I really should ask @amitdeutsch about this. @amitdeutsch, this relates to the responsive learner view -- do you have any suggestions for what to do here? Note that the issue is that the Oppia avatar covers the interaction when minimized on small scre

[2016-05-26 08:48] souravbadami opened #1889 "Add a grace period shortly after publication."
There should be a grace period to un-publish an exploration in case of accidentally publishing the exploration.

[2016-05-26 09:21] souravbadami opened #1890 "Contributors icon on suggested summary card looks weird."
![screenshot from 2016-05-26 14 41 09](https://cloud.githubusercontent.com/assets/11073943/15569811/85e62d60-2350-11e6-8e5b-969a6f9a3e3c.png)

**Steps to Reproduce:**
- Explore an exploration to completion.
- Look for contributors icon on suggested exploration cards.

**Observed behavior:**
The icon looks weird and deformed.

[2016-05-26 11:40] 526avijitgupta commented on #1889
@souravbadami I'm guessing you're referring to something like Gmail does  - offer users an Undo option for a short period after an email is sent ?

[2016-05-26 11:49] 526avijitgupta commented on #1890
/cc @kevinlee12 who reported #1840 and @raju249 since he's working on it.

[2016-05-26 12:11] raju249 commented on #1890
Yes @526avijitgupta I am working on it and I am afraid I will take some time since I have my machine at the service center for few days due to a hinge problem at my laptop's screen :sweat_smile:
But I am working on it
I think this is the same issue as #1840

[2016-05-26 18:33] bjvoth commented on #1842
Hey @seanlip. Unfortunately, upon further exploration, this issue is not as simple as hard coding a new width for the gravatar element. The hard coded 210 pixel min-width value of the <ul class="nav oppia-navbar-tabs-narrow"> element ensures that the Create button is not pushed out of the navbar on large screens.

Additionally, on the iPhone5, which has a screen width of 320 pixels, the navbar has

[2016-05-26 19:16] seanlip commented on #1842
I don't have an iPhone, I'm afraid, so I can't help with the last part -- but see if you can figure out where the 340px is being set? Maybe we can change it.

[2016-05-26 19:20] seanlip commented on #1842
More generally, though, I think what is needed here is a document that specs how the navbar is supposed to behave on different widths and different devices. At the moment there is a fair amount of custom behavior that's sort of monkey-patched in, and it might be better to do this in a more principled way. For example, in the learner view, I think we drop the icons in the navbar even when the width

[2016-05-26 19:25] AllanYangZhou commented on #1890
Closing since duplicate.

[2016-05-26 19:25] #1890 closed

[2016-05-27 04:51] TruongKim commented on #1740
@bbriggs I figured out my problem. It's actually something with my computer. After I shut down the computer it works.
@seanlip I'm still trying to learn git and run the tests.

[2016-05-27 05:14] seanlip opened #1893 "The important information on the splash page should go "above the fold" on all screens."
On various screen sizes, the subtitle ("Oppia allows you to create ...") and browse/create buttons on the splash page get cut off and don't appear above the fold. This is [not so great](https://www.nngroup.com/articles/scrolling-and-attention/). Perhaps we can do something like [this](https://www.duolingo.com/) where the initial top part of the home page automatically resizes to fit whatever the u

[2016-05-27 05:35] souravbadami commented on #1889
@526avijitgupta -- Yes, something like that.

[2016-05-27 06:47] #1818 closed

[2016-05-27 07:09] souravbadami commented on #1507
@seanlip -- I think suggestions based search box for searching explorations will be better for non technical users.

[2016-05-27 16:33] CuriousLearner commented on #1736
@seanlip Nope, I'm not working on this.

[2016-05-27 16:54] MAKOSCAFEE commented on #1736
Hi @CuriousLearner its ok. Then I am going to deassign yo from the issue.

[2016-05-27 18:25] souravbadami opened #1894 "Category dropdown state should be at the top."
![screenshot from 2016-05-27 23 46 47](https://cloud.githubusercontent.com/assets/11073943/15617334/16b4af2c-2466-11e6-9c04-57a5bf693a08.png)
**Steps to Reproduce:**
- Create an exploration.
- Navigate to settings tab.
- Select a category.

**Observed Behavior:**
Category dropdown state is at the end of the list.

**Expected Behavior:**
Category dropdown state should be at the top.

[2016-05-27 18:33] souravbadami commented on #1890
@AllanYangZhou -- I think this is a different issue which is related to #1840. This issue only occurs on the suggested summaries after the end of explorations.

[2016-05-27 19:38] seanlip commented on #1894
Why should it be at the top?

[2016-05-27 19:39] seanlip commented on #1890
True, but I believe the fix is to the exploration-summary-tile directive, which is used in both places. So fixing one of these should fix the other.

[2016-05-27 19:59] souravbadami commented on #1894
@seanlip -- Because most of the dropdowns starts from the top and from the users point of view I think it is a bit annoying to scroll above to find something. It used to be at top on the modal.

[2016-05-27 20:00] seanlip commented on #1894
Oh, sorry, I misread the issue! I thought you meant "Category" should go above "Name", etc.

Yes, I totally agree with you. It'd be nice to fix this.

[2016-05-27 20:09] bjvoth commented on #1842
@seanlip How _is_ the navbar supposed to behave on different widths/devices? Should it fit to the screen width no matter the device? Should it squeeze as many icons into the navbar as will fit or stick with the more minimalist style of only displaying a few icons at a time and leave the navbar more uncluttered?

Here is a text document outlining a few other areas on the site that are not correctly

[2016-05-27 20:15] seanlip commented on #1842
Well -- that's up to us, and was the point of what I suggested drafting in the second paragraph of my previous comment. Historically, it's been unspecced, and that's a problem because if we don't know what the right behavior should be, we can't implement it -- so the first thing we need to do is spec it.

With regards to general guidelines, one thing you could do is to look at how other websites h

[2016-05-28 01:37] seanlip commented on #1839
Hi @KatFrog -- what are your thoughts on what we should do here? (I had an unresolved question in a previous comment.)

Also, @kevinlee12 -- thanks for clarifying! I think the placement question belongs in another issue -- it's not quite what this issue is discussing. Can you file one?

[2016-05-28 01:38] seanlip commented on #1855
@sdulal -- did you manage to repro this?

[2016-05-28 01:38] seanlip commented on #1855
(Oh, wait, sorry -- pardon the message. I just remembered you're away on weekdays, so no worries if you haven't had time to look at this yet!)

[2016-05-28 01:39] seanlip commented on #1857
Hi @MAKOSCAFEE -- any progress on this?

[2016-05-28 01:40] seanlip commented on #1840
@raju249 FYI this is a pretty serious bug, IMO -- it looks quite bad. Did you make any headway with it? I think we'd like to try and get it out in the next release, which should hopefully be this weekend or next.

[2016-05-28 01:41] seanlip commented on #1759
/cc @bjvoth -- this seems related.

[2016-05-28 01:42] seanlip commented on #1726
Hi @raman-balyan -- any luck?

[2016-05-28 01:44] seanlip commented on #1602
Ah ok. Does this mean that the tests are now all runnable on Vagrant, assuming that there's sufficient memory? If so, I think the low-memory thing can be dealt with as a separate issue.

[2016-05-28 01:44] seanlip commented on #1535
Hi @edallison, did you figure out what the issue was here?

[2016-05-28 01:45] seanlip commented on #1513
Hi @abhijit5893 -- I did leave a comment on the document. Are you still planning to take this up?

[2016-05-28 01:46] seanlip commented on #1481
Hi @souravsingh -- any luck?

[2016-05-28 01:46] seanlip commented on #1431
Hi @thak123, are you still working on this?

[2016-05-28 01:47] seanlip commented on #1402
@indranil-tiwary, did you manage to set up a local instance? If you need help, please don't hesitate to ask in the gitter chat!

[2016-05-28 01:48] seanlip commented on #1372
Hi @disissid -- are you still intending to work on this? If not, that's fine, but please let us know, so that we can deassign you and leave this issue for someone else to take up. Thanks!

[2016-05-28 01:49] seanlip commented on #991
Fixed in #1871. Thanks @arun1595!

[2016-05-28 01:49] #991 closed

[2016-05-28 01:52] abhijit5893 commented on #1513
@seanlip I have been busy lately and may not be able to contribute anyone soon. Please do de-assign me from this task. I will keep you updated if I made some progress on the same.

[2016-05-28 01:52] seanlip commented on #897
Proposal [here](https://docs.google.com/document/d/1_qykhQzubpKrE9Wf5rg8DTH3RA_P108-1RXpMoClUaY/edit#heading=h.xnojqicr2yv) (thanks, @giritheja)!

Deassigning @giritheja for now since he won't be able to take on implementation in the near term.

[2016-05-28 01:55] seanlip commented on #1513
OK, will do. Thanks!

[2016-05-28 02:27] 526avijitgupta commented on #1894
The same behaviour is seen in case of publishing an exploration as well. Attaching a screenshot:
<img width="705" alt="screenshot 2016-05-28 07 56 14" src="https://cloud.githubusercontent.com/assets/7583815/15624609/ce4c8b9e-24a9-11e6-9d0e-5de4217191d8.png">

[2016-05-28 03:18] raju249 commented on #1840
@seanlip
I am extremely sorry for the delay.
I am on it from today since I got my laptop back from the service center today.
I will try my best to complete it by next weekend.
If I feel I would not be able to make it I will update you in a day so that this can be done by any experienced contributor ASAP.
Thanks for your patience

[2016-05-28 03:18] seanlip commented on #1840
OK, sounds good @raju249. Thanks!

[2016-05-28 03:25] seanlip commented on #1894
(Promoting this to a major bug, since everyone is going to see it, and it's pretty annoying.)

[2016-05-28 03:29] seanlip commented on #1821
Closing for now, since this is documented in the troubleshooting instructions, but @ishankhare07, please feel free to reopen if you can't resolve it. Thanks!

[2016-05-28 03:29] #1821 closed

[2016-05-28 03:37] #1616 closed

[2016-05-28 03:44] seanlip commented on #1858
Note to contributors: see gulp-sourcemaps (recommended by @maitbayev)

    https://knpuniversity.com/screencast/gulp/sourcemaps
    https://www.npmjs.com/package/gulp-sourcemaps

[2016-05-28 05:04] seanlip commented on #901
Closing this. There's no longer such a modal!

[2016-05-28 05:04] #901 closed

[2016-05-28 05:06] seanlip commented on #171
This is a sufficiently uncommon request that I'm going to close it for now. However, if you're reading this, please feel free to reopen this issue if you run into this and want it fixed!

[2016-05-28 05:06] #171 closed

[2016-05-28 05:18] seanlip commented on #1468
Dropping this due to general negative reaction in informal survey.

[2016-05-28 05:18] #1468 closed

[2016-05-28 05:33] seanlip commented on #1166
This is now obsolete due to the new responsive learner view. Closing.

[2016-05-28 05:33] #1166 closed

[2016-05-28 06:00] seanlip commented on #954
I don't see a concrete proposal here, so I'm going to close this. Please feel free to reopen if you have a specific suggestion!

[2016-05-28 06:00] #954 closed

[2016-05-28 06:02] seanlip commented on #1435
Hi @anmolshkl -- is this something you would be interested in looking into at some point?

[2016-05-28 06:04] raju249 commented on #1840
@seanlip @kevinlee12
I got a js stack trace along with same error of ```Can't allocate memory```
I have given 2GB of my 4GB RAM for VM but still it has the same problem.
Please help

[2016-05-28 06:10] seanlip commented on #1840
Some questions:
(1) Is this a fresh checkout of develop, without any changes to the code?
(2) Does it happen even if you don't navigate to the library page, but click around other pages on the site? (What action triggers this error?)
(3) What does the stack trace say?

[2016-05-28 06:13] raju249 commented on #1840
@seanlip
This is fresh checkout of develop.I started working after updating my forked repo to the most recent commit.
It doesn't happen on other pages.
To reproduce this issue I was told to create 3 users and edit and publish changes to exploration ...so as soon I publish changes as third user I get the stack trace saying ```Not enough memory```
I forgot to copy the exact stack trace message.
I ha

[2016-05-28 06:14] seanlip commented on #1840
OK. That _is_ odd; I don't see why 3 users would mess things up. Try creating just 1 user and seeing what happens.

[2016-05-28 06:15] raju249 commented on #1840
It works fine with 2 users as well. But it runs out of memory as soon I publish changes with 3rd user

[2016-05-28 06:15] seanlip commented on #863
Duplicate of #1829. Closing.

[2016-05-28 06:15] #863 closed

[2016-05-28 06:15] seanlip commented on #1840
OK -- in that case, let's try with just two users then.

[2016-05-28 06:16] raju249 commented on #1840
But the issue says there is no problem with 2 users in the representation .
But when there are 3 the images are distorted.
With 2 users it works as expected

[2016-05-28 06:31] seanlip commented on #1758
Update: we've made and released a preliminary version of this, and it's likely to evolve along with the creator dashboard as a whole. So, closing for now. Thanks @rachelwchen and @markhalpin!

[2016-05-28 06:31] #1758 closed

[2016-05-28 06:39] seanlip commented on #792
Adding #425, which is sort of a duplicate:

---

On the user dashboard, for feedback threads, consider showing:
- the subject for new feedback threads
- for other threads:
  - if there are no unseen replies, show the snippet from the first post in the thread
  - otherwise, show the first few words of the first unseen reply (and, if there are multiple unseen replies, indicate this)

[2016-05-28 06:39] seanlip commented on #425
Combined with #792. Closing.

[2016-05-28 06:39] #425 closed

[2016-05-28 06:45] seanlip commented on #486
Actually, perhaps the best thing to do here is to just ask users to log in if they enter an "exploration editor"-shaped URL.

[2016-05-28 06:56] seanlip commented on #1695
Adding comments from #542 (a similar issue):

---

Some backend constants are passed into the frontend in a somewhat ad hoc way
via a GLOBALS dict. This results in their having to be redeclared in karma
tests, and also in frontend controllers reaching out to the global namespace to
read from GLOBALS. Both of these seem suboptimal.

It would be nice to instead have a single data file that serves as

[2016-05-28 06:56] seanlip commented on #542
Superseded by #1695.

[2016-05-28 06:56] #542 closed

[2016-05-28 07:31] seanlip commented on #1354
Closing, since obsolete.

[2016-05-28 07:31] #1354 closed

[2016-05-28 15:04] thak123 commented on #1431
hi @seanlip  was busy with something ...didn't get time to have a look at it. yes I am still working on it.

[2016-05-28 18:26] arku opened #1895 "Creator has to focus in fields before customizing components and interactions"
The focus does not shift automatically once a popup is opened when adding a link / mathematical formula etc using RTE

**Steps to reproduce:**
- Create a new exploration
- Add some content in the first card and click **Insert link**  icon in RTE.

**Observed behavior:**
- The creator has to click on the field before customizing.

**Expected behavior:**
- The focus should shift to the editable fiel

[2016-05-28 19:09] arun1595 opened #1897 "Renaming options in an item selection interaction does not reflect on the responses"
Steps to reproduce:

- Create a new exploration
- Add content and add an **item selection interaction**
- Add two options for item selection(For eg: Yes, No)

![item_selection_initial](https://cloud.githubusercontent.com/assets/7039523/15629343/5fcb580e-2534-11e6-8b18-e34f806be252.png)

- Add responses for both the options.
- Rename the **Yes** option to **Yes,I agree** or the **No** option to **N

[2016-05-28 20:20] anthkris commented on #1696
@seanlip Wanted to run this UI by you. It looks takes it's style from the creation modal and uses the exploration imagery from the splash page. The styles break drown at very small sizes but this may be a non-issue? It breaks far past the point where the create button is hidden.

Also I think maybe the cancel button looks a little awkward so any suggestions welcome.

<img width="1418" alt="screen

[2016-05-28 20:25] seanlip commented on #1696
Ah -- I'm about to go out, sorry, but I think @markhalpin is a good person to check with! @markhalpin, do you have any thoughts on this?

[2016-05-28 21:06] AllanYangZhou commented on #1494
Note: This appears to be an issue with every component. Components simply do not show up inside of tabs.

[2016-05-28 22:45] arun1595 opened #1898 "Exploration boxes in the dashboard look weird when the title of the exploration is large"
Steps to reproduce:
- Create an exploration with title sufficiently **large**(greater than or equal to 40 characters)
- Add a goal which takes up more than 100 characters.

Now, the exploration box looks weird and there is no bottom padding as there is a little space to accommodate the content. And there is no margin between the boxes.
For a clearer understanding, have a look at my dashboard. You

[2016-05-29 01:20] markhalpin commented on #1696
Hello Kristin!

I have a few thoughts on your proposal, if you don't mind.

First, I think the general layout of having side-by-side options works well. As you've seen, the tricky part is that you have two images but three options for the buttons! For the non-mobile version, I would suggest having your two images side by side with their respective buttons below (as you have them now) and then have

[2016-05-29 02:45] kevinlee12 commented on #1805
Hmm, I don't seem to be getting that issue on my iPhone 5, However, I did notice that the width of those buttons were hard-coded in and the following:

[code]
was set (which may the be culprit of the issue). Perhaps we could set the width via a percentage instead of a fixed pixel number.

[2016-05-29 03:15] bbriggs commented on #1602
Yeah, when I give it enough memory the test run without timing out like they do when I only let it have 1 gig.

[2016-05-29 03:15] bbriggs commented on #1602
Enough usually meaning 2 gig or more.

[2016-05-29 04:32] seanlip commented on #1602
Can we say, on the wiki page, Oppia needs vagrant to have 2GB+ -- and tell folks how to set it?

I think the ability to run things in low-memory envs is a feature.

[2016-05-29 05:13] seanlip commented on #1696
A random thought -- what if the icons themselves were big buttons, and you could tap an icon to start creating the thing it represents?

[2016-05-29 08:51] adhi1234 opened #1900 "Navigation icon on mobile view not working properly"
Sir....I would like to point out an issue regarding your navigation icon on the right most part of the website...when a mobile view is concerned.
The problem is that if u want to close the open navigation bar..it is not possible by again clicking on it.

It is optional to make a swipe action for navigation icon.

Thank U

[2016-05-29 08:55] adhi1234 opened #1901 "Privacy policy button is being covered"
Sir..the privacy policy button is covered by Follow us button....so taking the hidden link is not possible.This is only in case of mobile view
THANK U

[2016-05-29 09:02] adhi1234 commented on #1900
Sorry...navigation bar is on left side

[2016-05-29 10:27] PSNAppz commented on #1901
Confirmed.

[2016-05-29 13:24] giritheja commented on #1795
I can do this.

[2016-05-29 18:31] giritheja commented on #1795
I think placing social share buttons on the end-card of the exploration would be a good idea. @seanlip Your thoughts?

[2016-05-29 20:01] bbriggs commented on #1602
Sure, we can do that and/or I can set the default memory in our Vagrant machine to 2048MB if you think that won't adversely affect developers.

[2016-05-29 21:09] seanlip commented on #1602
I don't know whether it will affect developers or not, but we've had enough people getting bitten by the low memory limit that it seems reasonable to both have the default be 2048MB, _and_ also add instructions to the wiki IMO.

/cc @raju249 @SongGithub (there may be others too) in case they'd like to chime in

[2016-05-29 21:09] bbriggs commented on #1602
Got it. PR inbound now.

[2016-05-29 21:10] seanlip commented on #1795
Honestly, I'm not sure. I think we'd need to see mocks -- I don't know if they should go in the last card, or the bottom right, or the navbar, or somewhere else.

Maybe try a few different things, post the images, and ask people for feedback?

[2016-05-29 21:11] #1881 closed

[2016-05-29 21:49] bbriggs commented on #1602
Also, backend and frontend tests run like a champ. e2e is still a little sketchy on vagrant. When I run Chrome via xvfb, I keep getting a stack trace, which is why the e2e tests time out and then say that chrome exited abnormally.

[2016-05-29 21:52] seanlip commented on #1602
Hm, interesting. What's the stack trace about (i.e. what's causing the error)?

[2016-05-29 21:54] bbriggs commented on #1602
[code]

[2016-05-29 21:58] bbriggs commented on #1602
Running with sudo:
[code]

[2016-05-29 22:06] seanlip commented on #1602
Oh wow. OK, this is outside my sphere of knowledge, though it seems like something to do with LibGL drivers. Do you think it's fixable, or will we need to resort to running the e2e tests in a different way on Vagrant? (I guess this is what you're going to investigate...)

[2016-05-29 22:07] anthkris commented on #1696
Excellent suggestions, @markhalpin ! I'm almost done redesigning! @seanlip Would you suggest that the icons be the buttons by themselves, i.e. there would be no green buttons?

Also, I've tried to replicate the e2e tests from the welcome modal, but I'm having trouble testing them. Even when I've terminated the server, when I run the run_e2e_tests.sh command, the terminal says:
[code]

[2016-05-29 22:07] bbriggs commented on #1602
Investigating it now :)

[2016-05-29 22:09] seanlip commented on #1696
Ah, you'll actually need to shut down the running devserver on localhost:8181 before running the e2e tests.

Also, yep, that was what I was suggesting (though there might still be a button for cancel). I'm actually on chat with @markhalpin now, I'll ask him.

[2016-05-29 22:26] seanlip commented on #1696
OK -- chatted with @markhalpin! Suggestion is, let's keep the two green buttons for now (i.e. ignore my suggestion), but downplay the cancel button a bit, since it's not really a 'go forward" action. Maybe we can reuse the cancel button from one of the editor modals to start with, and see how that looks? We may have to tweak a bit for consistency, but I think this is roughly the way to go as a fir

[2016-05-29 22:29] anthkris commented on #1696
Switched to develop branch and same thing. I'm not sure I've ever run the e2e tests by themselves. I normally just run the linter or the presubmit checks

[2016-05-29 22:30] seanlip commented on #1696
OK. It's possible you have an older version of protractor installed. Try running "bash scripts/start.sh", waiting until the process runs to completion, and then shutting down the server again. Then try the e2e tests again. That might fix it.

[2016-05-29 22:35] anthkris commented on #1696
No joy:
[code]

[2016-05-29 22:54] seanlip commented on #1696
OK, another diagnostic. When you switch to develop locally and type "git log", what's the top commit in the list?

[2016-05-29 23:34] seanlip commented on #1901
Thanks for reporting, @adhi1234!

@PSNAppz, is this something you'd be interested in looking into?

[2016-05-29 23:37] anthkris commented on #1696
Sorry had to run out and now going to walk my dogs. Here's the commit:
[code]

[2016-05-29 23:43] seanlip commented on #1696
Hm, ok, looks up to date. That's not the issue.

Out of ideas, I'm afraid! So, I suggest skipping the Protractor part for now, and doing all the other stuff first. I'll try and chat with you at some point to see if we can sort the Protractor issue out together.

[2016-05-30 01:17] sdulal commented on #1855
@seanlip - Apologies, I've been out! I have been trying to reproduce the bug. What I did notice, however, is that so far I haven't been able to get the effect by interrupting the network. That is, I've tried the cases where:

- The network drops before an interaction/some content gets saved
- The network drops after content gets saved but before the "Save Draft" button is clicked.
- The network dr

[2016-05-30 01:25] seanlip commented on #1855
Thanks a lot, @sdulal!

@anmolshkl, a question -- do any of the scenarios @sdulal reported seem similar to the case you mentioned where you lost some of the changes of your exploration despite saving? If not, we might just give up on this as irreproducible.

Also, @sdulal, I'll assign you to another issue in the meantime until we get more data on this. Thank you very much for investigating!

[2016-05-30 01:26] seanlip commented on #1897
Hi @sdulal -- try this one? Might be worth looking at MultipleChoiceInput as well to see how things are handled in that case.

Thanks!

[2016-05-30 01:34] Yeeons commented on #1900
I'm sort of new...
Don't know if this helps, I've expanded on the what @adhi1234 has said and could replicate his error.

![screen shot 2016-05-30 at 11 28 51 am](https://cloud.githubusercontent.com/assets/17462623/15637382/cedefa04-2659-11e6-8f07-3083507f7819.png)

**Steps to Reproduce:**

1. Open website on a phone
2. Click on the menu icon
3. Click on the menu icon again to try and close it

**

[2016-05-30 01:41] Yeeons commented on #1901
@seanlip
This looks like the phone design has been optimized at an iphone 6 size, anything smaller than this produces this error.

**Iphone 6**
![screen shot 2016-05-30 at 11 35 40 am](https://cloud.githubusercontent.com/assets/17462623/15637462/eb95dbc6-265a-11e6-970d-bdb75852bd9d.png)

**Iphone 5**
![screen shot 2016-05-30 at 11 35 49 am](https://cloud.githubusercontent.com/assets/17462623/15637

[2016-05-30 01:49] kevinlee12 commented on #1839
Hi @KatFrog, just wondering if you had any more thoughts regarding this issue, I'm happy to address any questions you may have!

[2016-05-30 01:50] kevinlee12 opened #1906 "Create a Top Rated Category in Library"
Create a new category group in library which will show the top 4-5 rated explorations.

- [x] Have the gallery display the Top Rated category group - #1910
- [x] Implement the [Wilson Score](http://www.goproblems.com/test/wilson/wilson.php?v1=0&v2=0&v3=3&v4=0&v5=0) - #1935

[2016-05-30 02:06] p4rsec commented on #1793
@seanlip apologies for not communicating formally within the issue (I should have continued the updates outside of Gitter). I have reached an interesting roadblock in the solution. Originally, at first test, the inserted line of code created a hyperlink on the profile image; however, on recent tests the entire page has become a hyperlink. I may attempt to clear out my fork and try again, however i

[2016-05-30 02:19] kevinlee12 opened #1907 "Speed up library loading time"
Currently the library takes about 2-3 seconds to load the library, it would be much better if we can speed up this load time.

[2016-05-30 02:48] kevinlee12 opened #1909 "Library Banner"
Implement a banner at the top of the library page.

/cc @seanlip

[2016-05-30 02:59] anthkris commented on #1696
Right, so I've redesigned according to @markhalpin suggestions:
<img width="1346" alt="screen shot 2016-05-29 at 9 50 43 pm" src="https://cloud.githubusercontent.com/assets/10858542/15638609/ae5eaea4-25e7-11e6-842a-2f14337c7ea3.png">
<img width="394" alt="screen shot 2016-05-29 at 9 51 59 pm" src="https://cloud.githubusercontent.com/assets/10858542/15638613/b2f5272c-25e7-11e6-82da-0269e89e8c04.png

[2016-05-30 03:22] PSNAppz commented on #1901
@seanlip No, I think @adhi1234 is looking forward on this.

[2016-05-30 04:50] AllanYangZhou commented on #1793
@p4rsec For determining whether the current user is the same as the user in profile page you can try using an ng-if statement. I think you can compare `{{username}}` with `{{PROFILE_USERNAME}}`.

[2016-05-30 04:58] p4rsec commented on #1793
Thanks, @AllanYangZhou . I'll try that!

[2016-05-30 05:21] kevinlee12 opened #1911 "Carousel scroll shadow not tall enough"
The shadow for the carousel on scroll does not reach to the bottom of the exploration card. As seen in the screenshot below:

![screenshot 2016-05-29 22 20 13](https://cloud.githubusercontent.com/assets/5758256/15640330/b5d436e6-25eb-11e6-8cd1-31e57bb4889a.png)

[2016-05-30 05:26] seanlip commented on #1839
(Moving to triage for the time being, since it's not clear what should happen with this issue.)

[2016-05-30 05:30] #1840 closed

[2016-05-30 05:40] seanlip commented on #1909
(Note: the main aim of said banner is to help the user get oriented with the page.)

[2016-05-30 05:41] seanlip commented on #1907
/cc @gvishal @BenHenning @maitbayev

[2016-05-30 05:42] seanlip commented on #1907
@gvishal can you update this issue with recommendations for a first step, once you figure out what change is likely to be most impactful? Someone else might help a little bit with implementation, since the library page is really quite slow at the moment.

[2016-05-30 05:46] seanlip commented on #1900
Hi @Yeeons -- thanks, this does help. It's a really nice and clear bug report!

(@adhi1234 -- thanks a lot for bringing our attention to the issue, too! If you could add screenshots and reproduction steps in the future, that would be really helpful, since it makes it easier for developers to act on the issue.)

Also, @Yeeons, would you be interested in attempting a fix? If so, please let me know,

[2016-05-30 05:51] seanlip commented on #1696
Nope -- I think the best thing to do here is to add a new boolean dev flag in feconf.py: ENABLE_COLLECTION_EDITOR. Then include it in controllers/base.py (since presumably this modal will appear on most pages) and pass it to the frontend that way. Then you can condition using `{% if ENABLE_COLLECTION_EDITOR %}`.

/cc @BenHenning

[2016-05-30 05:54] seanlip commented on #1901
@Yeeons did you drop the images? I can't see them any longer in the thread, but they were useful :)

@adhi1234 would you mind sending a screenshot? I don't see exactly the issue you were mentioning in the screenshots @Yeeons sent.

Also, @adhi1234, would you like to tackle this issue? (No worries if not, just checking based on @PSNAppz's comment.)

Thanks!

[2016-05-30 05:56] seanlip commented on #1805
Just to check:

@Yeeons, do you see this issue (on iPhone 4/5/6)?

@charisseysabel, do you still see this issue? (Just want to make sure it wasn't transient.)

Thanks!

[2016-05-30 05:58] gvishal commented on #1907
A 4.1MB (raw), 3.1MB(gzip) object is sent on each visit to /libraryhandler. Need to cut down its size to reduce loading time. The large size is due to "human_readable_contributors_summary" that contains base64 encoded images. One thing to note, the new library page doesn't display contributors unlike the older one.

So, I recommend sending an empty "human_readable_contributors_summary" value.

[2016-05-30 06:55] raju249 commented on #1602
Yes we need to give 2048MB for VM
It will work IMO

[2016-05-30 06:57] raju249 commented on #1840
@maitbayev
Was this is CSS class problem?
I was just curious since I was not able to solve this due to some memory problems on my VM

[2016-05-30 06:59] seanlip commented on #1840
@raju249 More of a div structure problem. See the PR for more details (#1904).

[2016-05-30 07:00] raju249 commented on #1840
Yes I am looking at the PR :smile:
Thanks

[2016-05-30 08:37] seanlip commented on #1815
Fixed in #1903. Thanks @maitbayev!

[2016-05-30 08:37] #1815 closed

[2016-05-30 09:44] charisseysabel commented on #1805
@seanlip Yep, I still see it.

[2016-05-30 10:15] seanlip commented on #1234
/cc @deepank411

[2016-05-30 10:24] seanlip opened #1917 "Reinstate creator avatars in the exploration summary tiles (in, e.g., the library/search pages)."
The avatars denoting exploration contributors in the exploration tiles have several problems:
- they currently lead to a significant increase in response bandwidth, especially since a single call is made to the datastore to collect the avatar information for each tile
- the design is a bit sloppy: according to @kevinlee12, the inner avatar and the oval gap look somewhat pixelated. I also chatted w

[2016-05-30 10:25] seanlip commented on #1917
/cc @gvishal @kevinlee12

[2016-05-30 14:09] Yeeons commented on #1900
@seanlip Sure :) I got tomorrow off, so should be able to look at it then.

[2016-05-30 14:33] Yeeons commented on #1901
![img_1530](https://cloud.githubusercontent.com/assets/17462623/15651810/19933d06-26c5-11e6-87cf-f2074f7ca0b3.PNG)
@seanlip the screen shots I posted before were not a true rep of what is happening.

I can only assume this is what @adhi123 means as his other issue  #1900 was mobile related.

**Steps to Reproduce:**
1. Open website on a iPhone 4
2. Click on menu icon

**Observed Behavior:**
On a iP

[2016-05-30 16:43] adhi1234 commented on #1901
I will rectify this issue

[2016-05-30 19:40] kevinlee12 commented on #1285
(Updating the assignee list to align with Sean's comment above as Github now allows for multiple assignees)

[2016-05-30 19:42] seanlip commented on #1285
Actually, it's now just @charisseysabel, since we're in the final implementation phase :) The linked PR is #1892.

[2016-05-30 19:43] #1864 closed

[2016-05-30 19:46] seanlip commented on #1900
Great, thanks @Yeeons! I've assigned you :-)

[2016-05-30 19:55] seanlip commented on #1901
Hi @adhi1234, sounds good. Thanks! In order to get started, could you please follow the instructions [https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up](here)? Then I can assign you to the issue.

Also, I think that @Yeeons suggestion of moving the Terms and Privacy items to the footer (probably under "About Oppia") is a good one. Thanks, @Yeeons!

[2016-05-30 19:59] kevinlee12 commented on #1417
Hi @bigblind, just wondering if you have any updates on this issue. Thanks!

[2016-05-30 20:11] kevinlee12 commented on #1464
Hi @amgowano, any updates on this issue? Thanks!

[2016-05-30 20:12] souravbadami opened #1918 "Site feedback button on library page is not clickable."
![screenshot from 2016-05-31 01 44 28](https://cloud.githubusercontent.com/assets/11073943/15657769/bb57a5bc-26d1-11e6-886d-515b41d0356f.png)

**Steps to Reproduce:**
- Visit https://www.oppia.org/library

**Observed Behavior:**
Site feedback button on library page is not clickable.

[2016-05-30 20:15] kevinlee12 commented on #1918
Hi @souravbadami, the site feedback button works on my end (I'm able to access the Google docs form), can you detail what is happening on your end (or a screenshot, if possible)? Thanks!

[2016-05-30 20:19] souravbadami commented on #1918
@kevinlee12 -- I've made the changes. The bug appears on the library page.

[2016-05-30 20:20] kevinlee12 commented on #1918
Hi @souravbadami, can confirm it does not work on the library page. thanks!

[2016-05-30 20:46] adhi1234 commented on #1907
DHTML script typically can only run after the page has completely loaded and all necessary objects have been initialized.
There is no need to load these scripts before the page content. That only slows down the initial appearance of the page load.
So try to place the CSS script in a seperate file and link the reference to the appropriate page.

![lib](https://cloud.githubusercontent.com/assets/110

[2016-05-30 21:39] KatFrog commented on #1839
@seanlip - I'm not sure how to handle the "View All" button.  I think it needs to go to a page with all the featured explorations, but I haven't been able to find how the code chooses a featured exploration.
On the other hand, I really like the idea of being able to browse all the available explorations.  But clicking on the "View All" button doesn't seem to be the appropriate way to get there.
I

[2016-05-30 22:22] seanlip commented on #1863
Hi @tcyrus, would you like to try this one? It's a bit harder, so don't hesitate to ask if you need help!

[2016-05-30 22:34] seanlip commented on #1867
Hi @KatFrog, would you be interested in looking into this issue?

[2016-05-30 22:36] #1911 closed

[2016-05-30 22:57] seanlip commented on #1839
Thanks, @KatFrog! OK -- we'll discuss it at the next tech lead meeting, and get back to this thread with a resolution.

[2016-05-30 23:53] #1918 closed

[2016-05-31 00:45] KatFrog opened #1923 "Implement more image usage tools in the editor"
When adding an image to an exploration, there is no ability to resize the image, to align the image to the left, center, or right, to add a caption, or to specify whether you can wrap text around the image.

[2016-05-31 00:51] markhalpin commented on #1696
Hi Kristin,

I think that layout looks good, but with a few comments. I think I
misguided you with the "one big button" idea for the CANCEL button. It was
worth looking at, but let's go with what Sean mentioned in a recent email;
that is, two green buttons for your CREATEs, and a smaller discreet Cancel
button down in the corner as currently being used on other pages that Sean
can point you to.

T

[2016-05-31 01:07] KatFrog opened #1924 "Rename the "Return to Library" button at the end of an exploration, to reflect that the user might not actually be 'returning'."
When someone finishes an exploration and returns to the library, it would be nice to return them to the library screen from which they started the exploration.

For example, suppose I am learning Python.  I type 'Python' in the search bar and viola!  I get all the Python explorations.  After I finish one exploration, I click on "Return to Library" and I expect to go back to the search screen to st

[2016-05-31 01:14] markhalpin commented on #1696
oops, sorry, I meant https://www.oppia.org/my_explorations is an example of
that.

Mark

On Mon, May 30, 2016 at 8:51 PM, Mark Halpin <markhalpin3@gmail.com> wrote:

[2016-05-31 01:15] kevinlee12 commented on #1923
/cc @AllanYangZhou

[2016-05-31 01:49] markhalpin commented on #1843
Hi guys,
With respect, I'm afraid I simply disagree about the blue background looking sad and gloomy. The feedback seems to suggest that most people find the current palette fairly appealing and light-feeling. And, also respectfully, I don't think simply having a green bar at the top of a white page is really significantly distinctive from an all white page!
I don't think that white is inherently

[2016-05-31 03:28] BenHenning opened #1927 "We need a team page"
Oppia really needs a page showing the breadth and interesting backgrounds of our team.

[2016-05-31 03:38] seanlip commented on #1924
Discussed in tech lead meeting.

Suggestion: rename the button at the end to "Go To Library", so that people use the back button in the browser to go back to the page that they came from last (since that's the usual way one gets back to the previous page). It looks like the issue is that the button at the end is badly named and conveys the wrong impression.

@KatFrog, what do you think of this sol

[2016-05-31 03:44] seanlip commented on #1839
Discussed in TL meeting. Suggest following two principles:

- do not go to another page if all the stuff is already in the carousel
- have all carousels be visually consistent

@BenHenning has an idea for how to proceed; he'll add screenshots to this issue shortly.

[2016-05-31 03:49] seanlip commented on #1684
Discussed in TL meeting. Suggested fix is to run Oppia directly from Debian (in Windows), and not to use an additional Vagrant wrapper. The currently-described setup seems a bit like a Rube Goldberg machine (@BenHenning's words).

[2016-05-31 03:49] #1684 closed

[2016-05-31 04:01] seanlip commented on #1394
Discussed in TL meeting: Ben thinks he reviewed a PR some time back that fixed this. He'll double-check.

[2016-05-31 04:01] seanlip commented on #1379
Superseded by new "simple editor" work. Closing.

[2016-05-31 04:01] #1379 closed

[2016-05-31 04:03] BenHenning commented on #1394
This might be a progression, since it should have been fixed #1007. @bbriggs can you look into this and make sure the original implementation is still working correctly?

[2016-05-31 04:04] seanlip commented on #1295
Discussed at TL meeting; closing this issue. Rationale: we've gone several months without needing this, and everything seems fine.

[2016-05-31 04:04] #1295 closed

[2016-05-31 04:11] BenHenning commented on #1179
We're preliminarily closing this issue since we haven't heard any other people having issues. If this is still a problem, can you reopen it @kahkhang? Thanks!

[2016-05-31 04:11] #1179 closed

[2016-05-31 04:15] seanlip commented on #722
Discussed in TL meeting. Closing, for two reasons:
(a) This issue is no longer relevant because its purpose is solved with the upcoming simple editor.
(b) We may want templates in the future, but let's file an issue when we have a specific template in mind, rather than keeping this general issue around (since this current issue isn't really actionable).

[2016-05-31 04:15] #722 closed

[2016-05-31 04:17] seanlip commented on #638
Discussed in TL meeting. It does seem odd that the realtime layer has a delay. The first step is to try and reproduce this, and come up with a standard set of instructions that reliably reproduce this issue.

[2016-05-31 04:21] seanlip commented on #519
Discussed at TL meeting. All of us don't care about this, so we're closing it.

[2016-05-31 04:21] #519 closed

[2016-05-31 04:21] seanlip commented on #301
Discussed at TL meeting; unanimous decision not to do.

[2016-05-31 04:21] #301 closed

[2016-05-31 04:28] Yeeons commented on #1900
@seanlip seems like "angular-touch.js" is some how conflicting with the button?

If i remove the function
` function onClick(event) {`
found on line 319 in angualr-touch.js, the menu in mobile works as intended.

I can't seem to see what is conflicting to create this? This may be beyond my skill level to resolve.

[2016-05-31 04:41] seanlip commented on #1900
Have a look at base.js -- there are some functions for opening/closing the sidebar. Maybe what's happening is that on mobile, an additional click is being registered, so the two signals are cancelling each other out? If so, then maybe what needs to happen is to only run the relevant snippet in base.js when the user is on a mobile device -- but it's worth a bit more investigation at the moment to f

[2016-05-31 05:12] AllanYangZhou commented on #1923
Thanks!

I think it might be a good idea to break this up into separate issues, one for each suggested feature. The first two (resizing and alignment) have already been filed already here: #1110, #763.

@KatFrog, would you mind filing separate issues detailing the last 2 features?

[2016-05-31 05:37] BenHenning commented on #1839
One approach for this might be to reference how Netflix handles their carousels. They do not have a "View All" button, but they have a similar concept. Their headers are clickable (like Oppia's) which then take the user to the "view all" page. For sections in which all the items are within the carousel and there is no purpose in having an additional page, the header simply isn't clickable.

Sean m

[2016-05-31 05:38] BenHenning commented on #1019
Yep! Good call; the second part is done (and the title has been updated). Thanks @seanlip!

[2016-05-31 05:42] seanlip commented on #1839
/cc @markhalpin FYI

[2016-05-31 06:43] Yeeons commented on #1900
[code]
Found in base.js

@seanlip, adding the else part to this function from my test has fixed the menu. I'm still new to github etc and will need to finish working out how it works (watching the videos) and pushing my build.

[2016-05-31 06:43] seanlip commented on #1474
Discussed at TL meeting. Closing this, because we expect much of the bottleneck to be due to the creation modal itself, which has since been removed.

[2016-05-31 06:43] #1474 closed

[2016-05-31 06:46] Yeeons commented on #1900
@seanlip Yar, sorry, I should of look at all the guide etc before wanting to jump in and get my hands dirty. I'll aim to be read up and pushed in the next couple of days.

[2016-05-31 07:01] seanlip commented on #1612
@souravbadami -- any progress on this? No worries if not, just trying to figure out what the status is here. Thanks!

[2016-05-31 07:01] seanlip commented on #1587
@oskarcieslik -- I'm assuming you're not working on this anymore, is that right? If you still want to, let me know and I'll reassign you. Thanks!

[2016-05-31 07:12] seanlip commented on #1773
Hi @akashrajkn -- want to take on this one? @ultimatecoder made a start on it, but they seem to have disappeared...

[2016-05-31 08:33] akashrajkn commented on #1773
@seanlip , I will start working on this. Thanks.

[2016-05-31 09:10] anmolshkl commented on #1855
hi @seanlip and @sdulal! I think the first scenario portrays what actually happened in my case. I didn't really bother to notice the "save draft" button and I was expecting a modal or pop-up to notify me about the success/failure of the action (It was my first time and I didn't know what will happen actually!). Displaying a message upon loss of connection sounds more sensible, may be something lik

[2016-05-31 09:30] gvishal opened #1929 "Multiple calls to "/searchhandler/data" when visiting "View all" for any exploration group."
When we click on "View all" for an exploration group, I noticed:
1. Unnecessary call to "/libraryhandler".
2. 3 calls (only 1 is enough) to "/searchhandler/data" route with the same query.

![screenshot from 2016-05-31 14 59 02](https://cloud.githubusercontent.com/assets/1708579/15669921/653d589c-2740-11e6-8e3f-5784e87f8343.png)

[2016-05-31 12:38] bbriggs commented on #1602
Updated milestones

[2016-05-31 13:05] adhi1234 commented on #1900
@Yeeons  This just an HTML code for swipe action on navigation icon.I don't know whether it is sure.Just work on this code snippet....

HTML code
`<div class="container">
    <div id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Users</a></li>
                <li><a href="#">Sign Out</a></li>
        </ul>

[2016-05-31 14:20] charisseysabel opened #1930 "Refactor oppia.css with LESS/SASS"
I discussed introducing CSS preprocessors to Oppia with @seanlip so I made this issue to give an overview on how CSS preprocessors can help build a more maintanable CSS. Our CSS file is getting bigger and bigger and we all know there's a lot of duplicated stuff in there that we wish we can reuse over and over. Of course, if you use CSS preprocessors, you can skip the overview/tutorial and tell me

[2016-05-31 14:27] charisseysabel commented on #1927
We can totally include that in the credits page. Like have our names clickable and some modal would show up saying a couple sentence about each of us or something. I'm totally up for it! :+1:

[2016-05-31 14:37] KatFrog commented on #1923
@AllanYangZhou - No problem.  I'll do that right away.

[2016-05-31 14:42] KatFrog opened #1931 "Add a Caption to an Image"
When adding an image to an exploration, the user needs the ability to add a caption.

cc @AllanYangZhou

[2016-05-31 14:43] KatFrog opened #1932 "Need text wrap options for images"
When adding an image to an exploration, the user needs the ability to specify whether or not to wrap text around the image.

/cc @AllanYangZhou

[2016-05-31 14:46] KatFrog commented on #1924
@seanlip  - I don't know if that will work.  I didn't even try the back button, because it feels like back will take me to the previous card in the exploration, not back to the search page.

[2016-05-31 15:04] KatFrog commented on #1839
@seanlip - I like using the Netflix approach.  It gives the user visual clues for navigation and discoverabiilty.

[2016-05-31 15:13] KatFrog opened #1933 "Link Icon shows up in RTE instead of link text"
When adding a link to an exploration, the RTE shows the link icon in place of the link text.  You have to exit the RTE to see the text.

Inside the editor:
![selection_009](https://cloud.githubusercontent.com/assets/3834415/15679630/8da54314-2720-11e6-8838-3e104541939f.png)

Outside the editor:
![selection_010](https://cloud.githubusercontent.com/assets/3834415/15679633/9037bcc4-2720-11e6-8048-7c7

[2016-05-31 16:23] szangaro commented on #1894
The issue is that the default value for the categories is ''. Since there is no blank category, the dropdown creates a new element with value '' and appends it to the end of the list. The dropdown selects the created item, scrolling all the way to the bottom.
My proposed solution is to change the default value to the first element in the ordered category list. The default value will be 'Algebra' a

[2016-05-31 17:10] kevinlee12 commented on #1933
This issue may be resolved because we are migrating to CKEditor in #1715.

[2016-05-31 17:14] kevinlee12 commented on #1923
Will close as this issue has been broken down to #1931 and #1932 plus the ones Allan have mentioned. @KatFrog, please feel free to file more issues if you'd like to suggest more features, thanks!

[2016-05-31 17:14] #1923 closed

[2016-05-31 17:42] KatFrog commented on #1933
@kevinlee12  - can we keep this issue open until we know if it's resolved?

[2016-05-31 17:44] KatFrog commented on #1867
@seanlip - of course!

[2016-05-31 17:58] kevinlee12 commented on #1933
Yes, (I haven't closed it yet :smile: ), just notating that PR may resolve this issue. @AllanYangZhou may be able to comment more.

[2016-05-31 18:15] seanlip commented on #1894
I'm not keen on the default element being Algebra. If the user does nothing then that default value will stick.

However, what you said just gave me an idea. If the category is currently blank, can we construct the list for the select2 dropdown such that the first element is blank?

[2016-05-31 18:20] szangaro commented on #1894
That could be another option. The only problem is that the user will be able to select the blank category as a valid category option. I can run a quick test and see.

[2016-05-31 20:01] seanlip commented on #1894
I'd only do it if the category is already blank, in which case selecting the blank category again isn't going to make much of a difference. Once the category is filled, that option should probably disappear.

[2016-05-31 20:04] AllanYangZhou commented on #1933
Yeah, we plan to address this issue as part of #1715. We'll keep it open until the changes are actually merged in, I've self-assigned the issue for now.

[2016-05-31 20:12] seanlip commented on #1932
I'm actually somewhat disinclined to do this, because I want to keep the RTE as simple as possible. I'd also like the explorations to look reasonably consistent with each other and to work well on varying screen sizes, and floating images can get quite tricky in this regard.

Also, I _think_, e.g., Medium and Blogspot don't allow this -- at least, I don't remember seeing a Medium/Blogspot post whe

[2016-05-31 20:24] seanlip commented on #1924
OK, noted -- thanks @KatFrog. Keeping this in triage for now; we'll discuss it again and I'll update the thread with a resolution. We figured that people would assume that the back button would take them to the search page, but this assumption may be faulty; probably the next step is to user-test it.

I'm a bit concerned about adding too many calls-to-action to the end of the exploration, especial

[2016-05-31 20:37] seanlip commented on #1843
/cc @DezzieD

[2016-05-31 20:37] seanlip commented on #1345
/cc @DezzieD (since this is related to design consistency across the site)

[2016-05-31 20:57] KatFrog commented on #1932
@seanlip - Actually, Blogspot and Blogger allow you to choose whether or not text will wrap around an image.  This is actually quite useful if you have a small image and don't want to waste the white space next to it.

Here's an example of what I'm talking about:

![selection_011](https://cloud.githubusercontent.com/assets/3834415/15690216/917fd4ce-2750-11e6-86e7-745ffe5bc4a3.png)

The text to the

[2016-05-31 23:45] szangaro commented on #1894
Sorry was afk. Added a new "blank element" to the category list, now when I open the page and click on the dropdown, I see this

![ubuntu 64-bit-2016-05-31-15-18-17](https://cloud.githubusercontent.com/assets/2034660/15693978/d1c2c412-274e-11e6-98d1-601c0f9de6c9.png)

The dropdown does not scroll bottom now. There is a blank element but when I select it I see the "choose or type new" default.

[2016-06-01 00:42] seanlip commented on #1894
Hi @szangaro -- at first glance, this looks good. Can you do a PR? (Easier to check out your branch and make suggestions that way.)

Thanks!

[2016-06-01 04:25] seanlip commented on #1894
Btw, I had a thought about this. If you don't add the blank element at the top (and also don't add it at the bottom), does it still work fine? Might be nicer that way.

[2016-06-01 04:37] markhalpin commented on #1843
Something like this maybe? It seems quite bright and clean, but also ties things together site-wide a bit better.
![oppia_about_mock](https://cloud.githubusercontent.com/assets/13863393/15698287/0582aa64-2791-11e6-80b0-33810606db5d.jpg)

[2016-06-01 05:24] szangaro commented on #1894
If we dont add a blank element to the list, the select2 will. I read the select2 documentation and when we define a default element that does not exist in the list, the select2 will add the element to the bottom of the list. It is by design, rather add a new element than select the wrong element. This line
[code]
will create the new element a the bottom, if no element '' is found in the list.

[2016-06-01 05:36] seanlip commented on #1894
Ah, I see. OK, then, let's do what you did and add the blank element to the top of the list. Thanks for investigating!

Also, feel free to send in a PR -- we can continue the review there. (You can always add new commits to your PR over the course of the review.)

[2016-06-01 06:20] markhalpin opened #1937 "Splash page bullet text should be better spaced and centered on bullet icons"
Currently the bullet text and revised bullet icons in the lower part of the splash page are not aligned or evenly spaced. The current look is something like this, depending on zoom:

![current_splash_6_1](https://cloud.githubusercontent.com/assets/13863393/15699983/14027354-279f-11e6-9323-0ae8c99989d2.jpg)

The desired spacing and alignment is this:

![splash_mock_6_1](https://cloud.githubusercont

[2016-06-01 06:21] kevinlee12 commented on #1917
LGTM!

[2016-06-01 06:25] markhalpin commented on #1937
Actually, the desired look is more correctly this, as the bullet images have been resized:

![splash_mock_6_1](https://cloud.githubusercontent.com/assets/13863393/15700121/071ecbd2-27a0-11e6-82d5-8badaf2445e9.jpg)

Thanks!

[2016-06-01 06:28] kevinlee12 opened #1938 "Fix pixelated looking community-owned globe avatar"
Currently the community-owned avatar globe looks pixelated (at 1x zoom), it would be nice if it would fit nicely into the contributor's oval.

Screenshot:
![image](https://cloud.githubusercontent.com/assets/5758256/15700125/e74b42fe-2786-11e6-8038-fb7a95f78e02.png)

Up close:
![image](https://cloud.githubusercontent.com/assets/5758256/15700139/fdb180c6-2786-11e6-9507-11d37f6af00a.png)

[2016-06-01 06:28] kevinlee12 commented on #1938
Note to contributor: This is only observed in the search and category pages.

[2016-06-01 09:21] #1906 closed

[2016-06-01 16:01] BenHenning commented on #1917
This work will be done as part of @gvishal's GSoC project.

[2016-06-01 16:04] BenHenning commented on #1907
This probably should be assigned to @gvishal since it's one of the tasks that's part of his GSoC project.

[2016-06-01 17:33] #1285 closed

[2016-06-01 18:04] anmolshkl opened #1941 "The error message for a title that is longer than 50 chars is displayed after clicking on "Create New Exploration" in Create New Exploration modal."
**Observed Behavior:**
When creating a new exploration, if the title is more than 50 characters long, the error message is displayed after clicking on "Create New Exploration". The modal gets closed and the content is lost meanwhile.

**Expected Behavior:**
Upon entering a title of more than 50 characters, an inline error message should be displayed notifying the user of the error. This will save

[2016-06-01 18:28] anmolshkl opened #1942 "Padding issues with explorations on "My Explorations" page."
**Observed Behavior:**
The content (i.e. exploration title, goal, statistics) of the individual exploration on the My Explorations page is sticking to the bottom of the card containing that exploration making it look unaesthetic.

**Expected Behavior:**
There should be a little padding at the bottom of the div containing the exploration content.

Here's a screenshot of the "My Exploration" page:

[2016-06-01 18:38] seanlip commented on #1942
Does this duplicate #1898?

[2016-06-01 19:09] seanlip commented on #1305
Closed by accident. Reopening.

[2016-06-01 19:20] seanlip opened #1943 "Tutor card for map interaction (and possibly others) is inaccessible in small screens"
Steps to reproduce:

1. Using Chrome, log in as an admin.
2. Go to the /admin page and reload the "Welcome to Oppia" exploration.
3. Go to /explore/0 and play until the map card.
4. Narrow the screen as much as possible.
5. Click on the blue button to minimize the tutor card.

The tutor card can no longer be accessed, since it falls off the right of the viewport, so there is no way to view the ins

[2016-06-01 21:16] BenHenning commented on #1464
This is currently in progress with #1687 and #1928.

[2016-06-01 22:14] seanlip commented on #1941
Thanks for the report! This has been fixed in develop -- we've removed the need to specify a title prior to the exploration being created.

[2016-06-01 22:14] #1941 closed

[2016-06-01 23:13] BenHenning commented on #1612
This work should also include a warning for if the user tries to navigate away from a collection with pending, unsaved changes.

[2016-06-02 02:37] seanlip commented on #1898
(As an alternative, we could add some padding at the bottom of the div containing the exploration content -- see #1942.)

[2016-06-02 02:37] seanlip commented on #1942
Marking as duplicate of #1898.

[2016-06-02 02:37] #1942 closed

[2016-06-02 02:38] seanlip commented on #1932
Yep, thanks @KatFrog! Moving to 'triage' for now; will discuss at tech lead meeting and report back.

[2016-06-02 02:42] seanlip commented on #1938
Hi @anthkris, do you think you could take a look at this? It can be observed by loading any demo exploration, and searching for it.

Thanks!

[2016-06-02 02:42] anthkris commented on #1938
Will do!

[2016-06-02 02:48] kevinlee12 commented on #1901
Hi @adhi1234, have you signed the CLA yet? Otherwise we won't be able to assign you this issue. Thanks!

[2016-06-02 02:56] seanlip commented on #1937
Not sure if this helps? https://css-tricks.com/centering-css-complete-guide/

[2016-06-02 03:54] anthkris commented on #1696
@markhalpin I was able to redo them with the same specs as the library cards 200 x 240 with a 75 x 75 icon and the colored part is 200 x 144.
![exploration](https://cloud.githubusercontent.com/assets/10858542/15733443/9ff9e534-284b-11e6-8d1d-f2aee8e0b8df.png)
![collection](https://cloud.githubusercontent.com/assets/10858542/15733458/b8269706-284b-11e6-8203-324751d8c8e7.png)

I haven't been able to

[2016-06-02 04:57] markhalpin commented on #1696
hi @anthkris,

I think those look good! As far as the background, yep, you could make the whole modal window blue, but perhaps better would be just to drop in a bit of blue as a background to the individual images to pop them off the white background. See the attached below for a quick illustration of what I mean. I do think that means adjusting the color part to something other than the blue; I'd

[2016-06-02 05:58] #1456 closed

[2016-06-02 17:00] joshuacano commented on #1931
I would be interested in taking this on? Not sure if @AllanYangZhou is already assigned, but I'd be willing to give it a shot.

[2016-06-02 18:13] KatFrog commented on #1867
@seanlip - This is more than a flicker.  Sometimes the cursor jumps to a different card on the screen.  I'm looking for a pattern in the jumping.

[2016-06-02 18:20] anmolshkl commented on #1942
Yes, it was a similar issue!

[2016-06-02 18:36] seanlip commented on #1931
Nope -- @AllanYangZhou is point of contact, and this issue is still open. Assigned you!

[2016-06-02 23:17] bbriggs commented on #1394
ack

[2016-06-03 02:16] anthkris commented on #1938
I'm not sure I'm seeing the same things.

Chrome
<img width="90" alt="screen shot 2016-06-02 at 9 13 17 pm" src="https://cloud.githubusercontent.com/assets/10858542/15766719/37326c12-2907-11e6-8790-8de308176e29.png">

Safari
<img width="132" alt="screen shot 2016-06-02 at 9 15 03 pm" src="https://cloud.githubusercontent.com/assets/10858542/15766720/3995b5a4-2907-11e6-8400-4f7eff8dceae.png">

Firef

[2016-06-03 03:02] anthkris commented on #1938
Oh okay, I see. So it seems to be a function of the circular-image-container class and the border on it.

With border:
<img width="72" alt="screen shot 2016-06-02 at 10 01 16 pm" src="https://cloud.githubusercontent.com/assets/10858542/15767444/a95b6090-290d-11e6-8e2a-86913e690dc9.png">

Without border:
<img width="77" alt="screen shot 2016-06-02 at 9 59 48 pm" src="https://cloud.githubusercontent

[2016-06-03 04:19] seanlip commented on #1938
Weird. I thought we fixed those border issues a while back.

Are you synced properly to develop?

[2016-06-03 05:27] seanlip commented on #1898
@bbriggs -- this looks like a reasonably straightforward HTML/JS task. Want to try it? The relevant code is in core/templates/dev/head/dashboard, in the MyExplorations.js and my_explorations.html files.

If you like it, please assign yourself to it!

[2016-06-03 05:35] seanlip commented on #1937
Hi @szangaro, want to have a go at this?

[2016-06-03 05:39] szangaro commented on #1937
@seanlip sure!

[2016-06-03 05:39] seanlip commented on #1726
(De-assigning @raman-balyan due to lack of response.)

[2016-06-03 05:39] seanlip commented on #1160
@sbhowmik89, would you be interested in taking a look at this?

[2016-06-03 05:40] seanlip commented on #1937
Great!

Just one tip: make sure everything looks nice on different screen sizes. Sometimes it's easy to optimize for just a particular screen size, and then it ends up looking not great on other screens. The link I gave about might help, hopefully.

[2016-06-03 06:06] BenHenning commented on #1696
These look amazing, fantastic work so far @anthkris! This makes me super excited. :D

Is this still relevant after our discussion regarding ``require_editor``?

[2016-06-03 06:08] sbhowmik89 commented on #1160
Sure.

[2016-06-03 06:08] BenHenning opened #1954 "Collections owned by a user need to show up on the my_explorations page"
Collections do not currently show on the my_explorations page, so once a user creates one they are unable to go back and edit it.

[2016-06-03 06:09] seanlip commented on #1696
Nope, feel free to ignore it. See PR #1950 for full implementation.

[2016-06-03 06:14] seanlip commented on #1954
You mean the my_explorations page?

[2016-06-03 06:15] BenHenning opened #1955 "Collections need to be able to support multiple contributors"
In preparation for content teams being able to use the collection editor, collections need to be able to support having multiple editors. The majority of infrastructure needed for this already exists in the backend and has strong parity with explorations. However, the collection editor simply does not have support to allow users to modify these properties.

Unlike explorations, collections have ad

[2016-06-03 06:16] BenHenning commented on #1954
Yep, my_explorations. I'll update the issue, thanks for catching that.

[2016-06-03 06:40] seanlip commented on #1954
@BenHenning -- I'll take this one; you have too much going on, I think!

[2016-06-03 07:18] Yeeons commented on #1805
@seanlip, I can't reproduce this.

Note: Her menu is a lot smaller than mine, something is rendering it smaller?

I also agree with @charisseysabel about the CTAs not feeling like buttons when at max width on a moblie.

[2016-06-03 07:38] #1894 closed

[2016-06-03 08:32] #1872 closed

[2016-06-03 10:12] seanlip commented on #1696
Going to mark this as done for now, due to the work in #1945. Let's file a new issue for the other approach to creating collections when we actually figure out what it is.

[2016-06-03 10:12] #1696 closed

[2016-06-03 10:40] seanlip commented on #1938
Actually, sorry, I found that I wasn't synced properly to develop. There was an erroneous merge that caused a regression.

As it turns out, we are also temporarily removing the contributor avatars due to latency issues (see #1917), so I'm going to close this as a no-op!

[2016-06-03 10:40] #1938 closed

[2016-06-03 18:35] #103 closed

[2016-06-03 20:28] #1793 closed

[2016-06-03 21:26] markhalpin opened #1962 "Replace Language.svg on Spanish/Gaulish library cards with Spanish.svg/Gaulish.svg"
Spanish and Gaulish library cards currently feature generic, empty word balloon icon. Please replace with language-specific icon.

[2016-06-03 21:31] souravbadami opened #1963 "Edge of carousel appears longer than summary tile during transition."
![screenshot from 2016-06-04 02 49 03](https://cloud.githubusercontent.com/assets/11073943/15793105/5f3686fa-29ff-11e6-84cc-ea92b32b0466.png)

**Steps to Reproduce:**
- Reload all explorations.
- Navigate to library page.

**Observed Behavior:**
Edge of carousel appears longer than summary tile during transition.

**Expected Behavior:**
Edge length should be reduced.

**Environment:**
O/S: Ubuntu

[2016-06-03 21:53] seanlip commented on #1962
Noted, and added to release checklist for action after upcoming release.

Thanks, @markhalpin! Closing.

[2016-06-03 21:53] #1962 closed

[2016-06-03 22:45] seanlip commented on #1929
@gvishal -- is this under your purview (for GSoC)? Assigned you in the interim.

/cc @BenHenning @maitbayev

[2016-06-03 22:48] seanlip commented on #1801
Hi @anthkris -- I thought that this would be a good project to look into, since it's a nice blend of design and frontend UI. Want to take it up? It does not need to be done by this release; we can take a little longer.

Thanks!

[2016-06-03 23:10] arun1595 opened #1964 "The content of the tooltip showing links overflows when the content can't fit in"
Steps to reproduce:
1. Sign in
2. Create an exploration
3. In the editor, add some content, click on the **link icon** in the toolbar and add a link with a link text
4. Save the content and preview the exploration

![link_rte](https://cloud.githubusercontent.com/assets/7039523/15795359/70b858ea-2a0e-11e6-9caa-5ada30ff426c.png)

Hover over the link. If you look closely, you can find the link in the

[2016-06-03 23:17] seanlip commented on #1964
@p4rsec -- try this one?

[2016-06-03 23:17] seanlip commented on #1964
(See extensions/rich_text_components/Link for the code.)

[2016-06-03 23:24] arun1595 opened #1966 "In the RTE link component, remove the option to open the link in the same window"
Steps to reproduce:
1. Sign in
2. Create an exploration
3. In the editor, click on the link icon in the toolbar

![link_rte](https://cloud.githubusercontent.com/assets/7039523/15795477/7767b4f0-2a0f-11e6-8663-73430d38748c.png)

The modal shows an option to **Open the link in same window**

I don't see a necessity for that option because no creator would want the learners to leave the exploration i

[2016-06-03 23:49] seanlip commented on #1842
NB: reassigning this specific issue to myself while @bjvoth works on a spec for the navbar in the general case. #1967 is a small fix that handles the immediate issue.

[2016-06-04 02:45] kevinlee12 commented on #1966
While I do see your point, one use case might be that the learner employs split screen (reference and the exploration in separate windows). That way, it's much easier than having to go back and forth with tabs (although the learner can still opt to physically pull out the tab into a separate window).

[2016-06-04 03:11] BenHenning opened #1970 "Ensure the collection title (both in the editor's breadcrumb and the page's HTML title) are both updated dynamically when the collection's title is changed within the editor"
Currently, the breadcrumb title and HTML title will not be updated if a collection's title is changed within the collection editor. This bug was introduced in #1748. In order to fix it, a service needs to be implemented which stores the single collection shared among the entire collection editor. This involves some minor refactoring work (away from passing the collection directly through directive

[2016-06-04 03:13] kevinlee12 opened #1971 "Update 'Return to Gallery' button to 'Return to Library'"
There's still a piece of Oppia that retains the old ways, currently, when a user completes an exploration the user is presented with a 'Return to Gallery' button, it should read 'Return to Library'.

[2016-06-04 03:47] gvishal commented on #1929
Yes, it is.

[2016-06-04 04:08] #1963 closed

[2016-06-04 04:17] seanlip commented on #1966
Actually I think @arun1595 means opening the link in the same page (i.e. not in a new tab/window). @kevinlee12 does your comment still apply?

[2016-06-04 04:18] #1587 closed

[2016-06-04 04:23] 526avijitgupta opened #1974 "Refactor js to use strict equality comparison only [=== instead of ==]"
In our current codebase, (referring to js files only) I've noticed that there are a lot of instances of using == for equality comparison. Although this is not buggy in itself, but this can give way to a lot of bugs. I'm not aware whether this has been brought up anytime before or not, but I'll still try to be clear.

Using === offers many advantages over == . I'll be quoting a [SO answer](http://s

[2016-06-04 04:24] seanlip commented on #1974
I would like to use === and !== everywhere. @souravbadami maybe this could be a pattern check?

Thanks, @526avijitgupta, for the suggestion!

[2016-06-04 04:26] 526avijitgupta commented on #1974
(Removing TODO:Triage, since this has been confirmed now)

[2016-06-04 04:43] kevinlee12 commented on #1966
sorry for the misinterpretation, no it does not apply.

[2016-06-04 04:44] seanlip commented on #1966
@kevinlee12 in that case, what do you think of Arun's suggestion?

[2016-06-04 04:48] kevinlee12 commented on #1966
I do agree, we should indeed take it off. However, there is a possibility that this is a bug (ie, open in separate tab instead of an actual new window). I'll tag is as a bug for now.

[2016-06-04 04:49] seanlip commented on #1966
Thanks!

I don't think we actually have control over whether the page opens in a new tab or window, actually -- I seem to recall investigating this before. Modifying tags accordingly.

[2016-06-04 05:37] #1971 closed

[2016-06-04 08:17] kevinlee12 opened #1977 "Add Stylelint to lint css files"
Currently we are eyeballing the CSS styles during code reviews, it would be nice to implement some sort of linting like we do for JS and Python files. ~A good css linter is [CSSLint](https://github.com/CSSLint/csslint).~ We will be using Stylelint because it can lint CSS within HTML files.

Note to devs:
- Take a look at `scripts/install_third_party.sh` for how to install Stylelint via node. For l

[2016-06-04 08:18] kevinlee12 commented on #1977
Unfortunately, I think it can only lint pure CSS files (do double check), so it'll only be `oppia.css` for now until all the css has been separated.

[2016-06-04 13:36] arun1595 opened #1979 "Right scroll button of the library carousel is flushed to the right at 514px"
Steps to reproduce:

1. Go to https://www.oppia.org/library
2. Shrink the screen width to anything between 514px and 530px inclusive.

You can find that the right scroll button of the carousel is flushed all the way to the right.

Browser: Google Chrome 51.0.2704.79

[2016-06-04 13:56] souravbadami commented on #1974
@seanlip -- Yes, we can add it.

[2016-06-04 18:39] kevinlee12 commented on #1979
What @arun1595 is referring to is this (right arrow is flushed all the way to the right):
![image](https://cloud.githubusercontent.com/assets/5758256/15801426/fa67f37c-2a48-11e6-8657-983209a305ec.png)

[2016-06-04 19:36] bbriggs commented on #1394
Return values in function are inverted, causing the function to throw false positives. PR inbound shortly.

[2016-06-04 20:02] bbriggs opened #1982 "Test against python 3 (and expect failure)"
Oppia does not and should not run with python 3. Add python 3 to the Travis test matrix and expect failure.

[2016-06-04 22:26] kevinlee12 opened #1983 "Multiple creation modal behavior"
The creation modal has an bug in that every window resize causes a new modal to pop up. See gif below:

![ezgif-1830085619](https://cloud.githubusercontent.com/assets/5758256/15802478/913a3bd8-2a68-11e6-839e-5d24c714182f.gif)

[2016-06-04 23:26] joshuacano commented on #1931
My initial idea was to add a caption input box, similar to the alt text box, to capture the caption, and then display in a figcaption tag. Is this sufficient? @AllanYangZhou Or were you thinking something else.

Thanks!

[2016-06-05 00:03] BenHenning opened #1984 "The collection editor should use a service to store and maintain the collection shared throughout the editor rather than chain-passing it through directive binding variables"
Passing large objects using chains of binding variables introduces tight couplings between directives and their parents; it also leads to fragile code in the frontend. A better approach to sharing the collection throughout the collection editor is to use a singleton service which can store and maintain the state of the collection in a single location.

[2016-06-05 00:12] bbriggs commented on #1898
Thanks, I'm taking a look now.

[2016-06-05 03:36] AllanYangZhou commented on #1931
@joshuacano That sounds like a good idea!

[2016-06-05 04:52] BenHenning opened #1990 "Implement language_code and tags configuring in collection editor settings tab"
Per the settings tab implementation for the collection editor in #1978, support should be added to setting a language_code and tags, similar to the exploration editor. This involves updating the collection details editor used by the settings tab, but it also involves introducing support in the ``CollectionUpdateService`` for language_code. See ``CollectionUpdateService`` for examples of how sets a

[2016-06-05 05:15] kevinlee12 commented on #1852
Currently, it is best **not** to transition to ESLint at the moment as ESLint does not have a 1-to-1 matching with the rules in JSCS. See the page [here](https://github.com/eslint/eslint/milestones/JSCS%20Compatibility) for their progress.

[2016-06-05 08:43] kevinlee12 commented on #1977
Note to developer who picks this up: PR #1996 (now closed) will come in handy because a more flexible multi-threading approach will need to be used.

[2016-06-05 08:46] #1394 closed

[2016-06-05 08:49] BenHenning opened #1998 "Implement tests for the CollectionLinearizerService"
Per #1993, CollectionLinearizerService needs to have tests since it's a critical component of the collection editor.

[2016-06-05 09:00] #1983 closed

[2016-06-05 14:44] 526avijitgupta opened #1999 "Reverting an exploration should not result in it's version being marked as invalid"
(after merging #1802) If a user visits the history tab and reverts an exploration to a previous version, this results in `is_version_of_draft_valid: false` and `draft_changes: null` to be returned through all subsequent GET requests, till the user doesn't discard those changes.
Currently it's enforced on frontend to display the version mismatch modal only if both conditions are satisfied (`is_vers

[2016-06-05 16:19] jacobdavis11 commented on #1999
I don't understand what you mean by "till the user doesn't discard those changes". In any case if the version is reverted then we have to set draft_changes to null in the backend as they no longer make sense. Is that currently implemented?

Definitely we shouldn't display a modal if there are no draft_changes to discuss. Do we at the moment?

[2016-06-05 16:28] 526avijitgupta commented on #1999
@jacobdavis11  Ah, missed this one before! Yes, the draft changes are set to null.

No, we don't. What confuses me is whether or not should `is_version_of_draft_valid` be `false` in case of reverting an exploration - since a false value implies that the version is invalid, right ?

[2016-06-05 16:37] jacobdavis11 commented on #1999
I just had a look at this, and what happens now when you have unsaved changes and try to revert is you get a modal warning "All changes made since that older version will be retracted. " (which seems reasonable) and then a pop-up warning "This page is asking you to confirm that you want to leave - data you have entered may not be saved." (which seems excessive and confusing). So as part of this is

[2016-06-05 19:41] giritheja commented on #1795
How does it look above the rating system at the terminal card?
![screenshot from 2016-06-06 01 05 14](https://cloud.githubusercontent.com/assets/8845039/15807759/79e250a8-2b83-11e6-9bd2-212d12934372.png)

[2016-06-05 20:24] kevinlee12 opened #2000 "Foot protrudes into category carousel on half-width and smaller screens"
Foot protrudes into category carousel on half-width and smaller screens, see screenshot below.

![image](https://cloud.githubusercontent.com/assets/5758256/15807997/c2369fac-2b20-11e6-9b7a-e24eb8b3b75e.png)

[2016-06-05 21:56] seanlip opened #2002 "Implement the ideal behaviour for the navbar."
The aim of this issue is to implement the ideal behaviour for the navbar, since it behaves differently for different pages.

The implementation should follow this spec written by @bjvoth: https://docs.google.com/document/d/1Lms9Qcfj1NW3NDVgi5aG_3WiKoEDGO1wm5tPPr-r994/edit

[2016-06-05 21:58] #1954 closed

[2016-06-05 22:10] seanlip commented on #1795
It's not very visible, I think? It seems to be just 'floating' there.

Btw, you can test by showing the screenshot to friends and asking them what they think they can do here. It might also help pick up any points of confusion.

[2016-06-05 22:20] seanlip opened #2003 "Find a way to remove the "cannot determine loading status" error in Protractor e2e tests"
Protractor e2e tests on Travis-CI occasionally fail with an error along the lines of:

    unknown error: cannot determine loading status

Restarting the build usually fixes it, but it would be nice not to do that. Instead, we should figure out the cause of this error, and fix it. It's only been happening fairly recently.

[2016-06-06 01:33] kevinlee12 commented on #2000
Fixed in PR #2001

[2016-06-06 01:33] #2000 closed

[2016-06-06 02:15] kevinlee12 opened #2004 "SEO Improvements"
Making Oppia more searchable would be a great way to introduce users to our site. This issue shall serve as a general thread for SEO improvements.

- [x] `<title>` tag for each page - @kevinlee12 PR #2006
- [x] `<meta>` tag with a description for each page - @kevinlee12 - PR #2006
- [ ] sitemap file which will help crawlers index our site, see [this guide](https://support.google.com/webmasters/ans

[2016-06-06 04:27] #1464 closed

[2016-06-06 04:27] #1611 closed

[2016-06-06 04:27] #1984 closed

[2016-06-06 06:13] seanlip opened #2007 "Find a way to remove the "Cannot read property 'nodeType' of undefined" error in Protractor tests"
The Protractor tests occasionally fail with the following message:
- `Expected [ Entry({ level: SEVERE, message: 'http://localhost:9001/third_party/static/angularjs-1.4.7/angular.min.js 107:209 TypeError: Cannot read property 'nodeType' of undefined`

It's not clear what this is caused by, and it does sometimes go away when the page is refreshed. However, if it's a standard issue, it would be nice

[2016-06-06 06:19] #1900 closed

[2016-06-06 06:48] kevinlee12 opened #2008 "Library navbar selection falls off on computer full screen in Spanish mode"
The library selection on the navbar falls off when the language is Spanish, the issue does not persist in English. See screenshot below for details

![image](https://cloud.githubusercontent.com/assets/5758256/15813959/d3737e3c-2b77-11e6-867a-9f2e9a8b8f61.png)

[2016-06-06 07:02] 526avijitgupta commented on #1999
Closing this, has been fixed through https://github.com/oppia/oppia/pull/2005

[2016-06-06 07:02] #1999 closed

[2016-06-06 07:10] seanlip commented on #1970
The breadcrumb part of this has now been fixed in develop. The collection service also now exists in CollectionEditorStateService.js. Only the HTML title remains.

[2016-06-06 07:11] seanlip commented on #1612
Fixed in #1994.

[2016-06-06 07:11] #1612 closed

[2016-06-06 07:22] #1287 closed

[2016-06-06 08:16] seanlip commented on #1909
This is fixed in develop. Thanks @markhalpin! Closing.

[2016-06-06 08:16] #1909 closed

[2016-06-06 08:18] seanlip commented on #1863
Hi @tcyrus, just to confirm, are you interested in working on this?

[2016-06-06 08:18] seanlip commented on #1842
Fixed in #1967.

[2016-06-06 08:18] #1842 closed

[2016-06-06 16:09] souravbadami opened #2013 "Library page banner image is not well aligned."
![screenshot from 2016-06-06 21 27 16](https://cloud.githubusercontent.com/assets/11073943/15828909/e86356a2-2c2e-11e6-83e2-295285e88ef0.png)

**Browser**: iPhone 4/5/6/6-Plus

[2016-06-06 17:03] edallison commented on #1535
@seanlip sorry for the very late response.

At this point I'm running out of ideas of what's going on. I've greped around to see if stateCustomizationArgsService.displayed might be getting set somewhere else but haven't had any luck.  I'm sure I'm overlooking something but don't know what it could be.

[2016-06-06 23:39] seanlip commented on #1535
Hi @edallison, thanks! No worries -- this seems to be a very tricky issue, and I'm not sure what the cause is either. Allan is working on another iteration of the RTE that may get us past this, but for the moment I'll deassign you from this issue and suggest another one. Thank you for investigating!

[2016-06-07 00:01] #2008 closed

[2016-06-07 00:49] Yeeons commented on #2013
I can replicate this.

Bellow is the css that's affecting it. It's being told to be only 208px wide, which is why it's so small.
[code]

[2016-06-07 04:01] seanlip commented on #1932
Discussed at TL meeting. The following points were brought up:
- Content cards in Oppia generally have small width (especially if there's a map/music/code interaction on the right), so there is limited room for floating images left/right.
- This seems like a feature that's more conducive to writing large blocks of text. We don't want to encourage this, though, because cards in Oppia are meant to b

[2016-06-07 04:01] #1932 closed

[2016-06-07 04:15] BenHenning commented on #1930
Discussed at TL meeting. We agreed there are good potential for reducing code duplication using LESS. Although it wasn't quite as possible the last time we evaluated implementing LESS, our current environment might better facilitate LESS. This needs to be investigated and see if we can implement it because it could be quite useful.

Thanks for reporting and putting so much detail in this issue!

[2016-06-07 04:52] seanlip commented on #1858
@edallison, would you be interested in taking a look at this? (It has a somewhat different flavor from the other issues you've looked into so far, so feel free to pass!)

[2016-06-07 05:24] #1937 closed

[2016-06-07 05:28] wxyxinyu opened #2015 "Progress in collection is not saved if exploration only has one card"
To reproduce:
1. create 2 explorations with only an End Exploration interaction
2. add them to the same collection
3. play the first exploration in the collection, and click on the return to collection button
4. "next exploration to play" is still exploration 1

[2016-06-07 05:30] seanlip commented on #1970
Hi @szangaro -- this is a bit harder, but worth trying I think! The correct approach is probably to create a small controller for the title, but @BenHenning can comment on this.

FYI, to access the collection editor, log in as an admin, go to /admin, go to config, find the "users allowed to access the collection editor" field and add your username to it; go to the bottom of the page and save chang

[2016-06-07 05:35] wxyxinyu opened #2016 "i18n doesn't work on collections"
Change language preferences to Spanish.
1. The collections editor is still in English.
2. The collection player page is in English
3. When playing an exploration as part of a collection (i.e. with the ?collection_id=xxx in the URL), the page is in English.

[2016-06-07 05:35] seanlip commented on #1839
@BenHenning can we file a new issue for this? The title doesn't really match the discussion/conclusion any more, I think.

[2016-06-07 05:45] wxyxinyu opened #2017 ""Publish changes" button in editor should show length of change list if it exists"
In the editor, if an exploration is unpublished and you make some changes, you see
![image](https://cloud.githubusercontent.com/assets/5061134/15847110/3a05831e-2c38-11e6-8ef2-e7deddf868ca.png)
If the exploration is published, you see
![image](https://cloud.githubusercontent.com/assets/5061134/15847121/487c1142-2c38-11e6-92ea-56653884c9e7.png)
"Publish changes" should also display the number of ch

[2016-06-07 05:53] wxyxinyu opened #2018 "Toasts prevent the navbar from being used"
To reproduce:
Go to the collection editor. Make some warnings appear: create a new exploration through the collection editor, and attempt to publish.

Observations:
The warnings do not auto-dismiss.
I am unable to click on anything in the navbar while the warnings are here.

[2016-06-07 06:24] seanlip commented on #1970
Actually, I got this wrong (just checked with @BenHenning). The change should instead be done as a directive, not a controller -- we want to move towards a technical design where we have only one Angular controller per page.

[2016-06-07 06:40] szangaro commented on #1970
Ok! I'll implement the fix with a directive.

[2016-06-07 17:11] charisseysabel opened #2020 "New About page tabs and footer links not working"
I checked the newest release and found that all the tabs that I did for the about pages are not working live. It did when I was testing it locally though! After checking on the dev tools, it may have been caused by a missing semicolon on the JS file.

I can make a PR to add that semicolon and hopefully we can patch this up soon-ish? It'd be annoying for users seeing the 404s everywhere!

[2016-06-07 18:52] charisseysabel opened #2023 "Improve About pages tabs for iOS"
Currently the About pages tabs on iOS look like this:

**About page**
![tabs-ios](https://cloud.githubusercontent.com/assets/11045720/15870482/bb009ffe-2cf0-11e6-90be-5170053502c2.png)

**Teach page**
![teach-tabs-mobile](https://cloud.githubusercontent.com/assets/11045720/15870762/a94d072e-2cf1-11e6-972f-8a5c90806232.png)

As you can see, its not very clear which tab is active, so we want to make

[2016-06-07 18:54] KatFrog commented on #1932
@seanlip - No problem, I can work around it.

[2016-06-07 18:55] seanlip commented on #1932
Great, thanks @KatFrog!

[2016-06-07 19:14] seanlip commented on #2020
Fixed in #2022

[2016-06-07 19:14] #2020 closed

[2016-06-08 01:04] seanlip opened #2025 "Strip formatting on-paste in the RTE."
1. Create a new exploration with an item-selection interaction.
2. Do a search for "https://www.google.com/search?q=hernandez"
3. Copy the top link ("Hernández - Wikipedia, the free encyclopedia) into the RTE.

**Observed result**: The formatting is not stripped, and the link still remains.
**Expected result**: The formatting should be stripped.

![new-issue](https://cloud.githubusercontent.com/as

[2016-06-08 01:05] seanlip commented on #2025
@AllanYangZhou -- could you look at this, please? It's causing other bugs.

[2016-06-08 01:24] seanlip opened #2026 "In the collection editor, there should be a card in the Settings tab to show whether the collection is private/public."
In the exploration editor settings tab, there is a card to show who has access to the exploration and whether the exploration is private/public. We should have something similar for the collection editor.

[2016-06-08 01:25] seanlip opened #2027 "Collection editor should have a readonly mode."
Similar to the exploration editor, the collection editor should have a readonly mode, so that people who do not have edit access to the collection are still able to view it.

[2016-06-08 01:29] seanlip opened #2028 "If at least one exploration of a collection contains tags which match a search query, the collection should also be returned as a possible result."
@BenHenning suggested that collections should also surface tags from their sub-explorations, in addition to any tags that are defined on the collection itself. This probably makes sense, given that the explorations comprise the meat of a collection and the searcher is likely to be looking for reasonably complete learning experiences that are related to their search query.

[2016-06-08 01:32] seanlip opened #2029 "Design the UI for adding an exploration node in the collection editor."
(This is a sub-issue of #1464.)

Currently, the "add exploration" fields in the collection editor are a bit ugly, and it would be nice to tidy up this UI. Here's the current version:

![add-exploration](https://cloud.githubusercontent.com/assets/10575562/15879986/02029686-2cde-11e6-8a1c-5bc17c1b3544.png)

There was a "floating action button" design proposed for this in #1464, but I think it might

[2016-06-08 01:34] seanlip opened #2030 "In the collection editor, create a search interface for adding explorations by ID."
(This is a sub-issue of #1464.)

When adding an exploration to a collection, users have the opportunity to create a new exploration (by entering its title) or by entering the id of an existing exploration. The latter approach is clumsy, and while it should be kept, we should add a search field that allows the user to search through (possibly just the titles of) all public explorations, as well as

[2016-06-08 01:40] seanlip opened #2031 "Use a pannable interface to display the exploration nodes in the collection editor."
The collection editor gets a bit clunky when more than a few nodes are added: a horizontal scrollbar appears at the bottom, and it's a bit tricky for the creator to move around.

We might want to move to an interface that supports drag-and-pan instead, similar to what was done in the exploration graph in the exploration editor. We may also want to make the nodes smaller, and/or the top-level card

[2016-06-08 01:42] seanlip opened #2032 "Don't save changes in the collection editor if the changes cancel out."
In the exploration editor, if you make a set of changes that cancel out, we don't save the changes, and instead show a warning along the lines of “Your changes cancel each other out”.

We should probably do the same thing in the collection editor -- i.e., don't save a commit if the changes that make up the commit cancel each other out.

[2016-06-08 01:43] seanlip opened #2033 "Collections that a user has contributed to should be displayed on their profile page."
In addition to explorations, we should also show the collections that a user has contributed to on their profile page. The UI design for this, and the definition of what "contributed to" means (as far as collections are concerned) will need to be worked out before implementation can begin.

[2016-06-08 01:49] seanlip opened #2034 "RouterService should be generalized to support arbitrary subpages with different URL slugs."
If you try the following steps:
1. Create a new collection.
2. Click on the settings tab in the collection editor.
3. Click on the editor tab in the collection editor.

The routing slug in the URL of the resulting page is of the form `#/gui/null`. This is a strange route name, and is an artifact of both the collection and exploration editors using the same routing service -- the discrepancy arises

[2016-06-08 01:51] seanlip commented on #1955
@BenHenning -- one clarification. What does the phrase "automate contributors" mean?

[2016-06-08 02:03] seanlip opened #2035 "Remove glyphicons from the codebase."
We want to standardize the use of icons across the Oppia codebase, and are moving away from glyphicons towards material-design icons.

The aim of this issue is twofold:
- add a new pattern check in `BAD_PATTERNS` in `scripts/pre_commit_linter.py` that checks for "glyphicon" and asks the developer to "Please use material icons instead of glyphicons for consistency."
- convert all remaining instance

[2016-06-08 02:05] seanlip opened #2036 "Use a separate fast task queue for one-off jobs."
Currently, all jobs (both one-off and continuous) use the 'default' task queue, which is set to a fairly slow rate. However, one-off jobs often need to be run fast immediately after a release, so we should actually use a new, dedicated queue with a fast rate for these instead, and continue to use the slow 'default' queue for continuous computations.

[2016-06-08 02:10] seanlip opened #2037 "De-emphasize the "Neither, Thanks" button in the creation choice modal."
When creators click the "Create" button in the navbar, they are given the choice of whether to create an exploration or collection. The bottom of the modal they are shown has three buttons, all of which are big, green and more or less equally prominent. However, the "Neither, Thanks" button is more of a "Cancel" option, and it seems a bit strange for it to match the other "go forward"-type buttons

[2016-06-08 02:16] seanlip opened #2038 "The collection editor should make use of an explicit rights object."
In accordance with the upcoming refactor of the frontend, we are going to try and properly encapsulate frontend domain objects by creating appropriate 'classes'. An example of this is in core/templates/dev/head/domain/collection/CollectionObjectFactory.js. We also have singleton services that maintain the current state of these objects: see core/templates/dev/head/collection_editor/CollectionEdito

[2016-06-08 02:16] seanlip commented on #2038
Also, /cc @BenHenning -- please edit this issue description accordingly if I've got any of the above wrong!

[2016-06-08 02:20] seanlip opened #2039 "Allow creators to preview the summary tiles for their activities in the exploration/collection editor settings tab."
We often see cases where exploration titles are too long and get truncated in the library, or where objectives aren't written in a way that look useful to the learner. A possible cause for this is that there's no easy way for creators to preview how their activity looks like to learners in the library or search results.

The aim of this issue is to implement a preview of the activity summary tile

[2016-06-08 02:30] seanlip opened #2040 "Unify the changelist diffing mechanisms for saved drafts, exploration history diffs and lost changes."
Currently, we seem to have multiple diffing mechanisms for various parts of the exploration editor, viz.:

- When an exploration is saved, the changelist is sent to the backend, the backend computes a summarized diff, and sends that diff to the frontend where it is shown as a summarized list of changes. The backend computation is, in fact, incorrect, and we should get rid of it, since it occasiona

[2016-06-08 03:32] anthkris commented on #1801
Starting on this!

[2016-06-08 04:48] kevinlee12 opened #2042 "Retry Travis build if it fails"
Travis sometimes fail tests when they are perfectly good and a restart of the test would fix the issue. It would be nice to add a checker which would restart (1 time only) the tests if they fail.

[2016-06-08 04:56] kevinlee12 opened #2043 "Display overview of subjects in library"
Implement some sort of a large navbar, sidebar, etc, where the learner can see all of the subjects taught with Oppia **without** scrolling. The idea is to group the subjects so that it is seen at a very high level. The learner should also be able to see the "Featured" and perhaps "Top Rated" group prior to seeing the subjects so that the learner understands that the subjects are simply a loose gro

[2016-06-08 07:35] seanlip commented on #2013
Thanks, @Yeeons! Can you take this on? (Please also make sure that, after your changes, everything still works nicely on different widths. We probably want to place a cap on the max-width of the image just as we do for the carousels.)

[2016-06-08 08:19] seanlip commented on #1740
Hi @TruongKim -- are you still working on this? Do you need any help?

Thanks!

[2016-06-08 08:23] seanlip commented on #1897
Hi @sdulal! Just to confirm, are you still looking into this?

[2016-06-08 08:28] seanlip commented on #1901
Hi @joshuacano, would you like to take this on? I think the best fix is to just move the Terms and Privacy items to the footer of the page.

Thanks!

[2016-06-08 08:38] seanlip commented on #1964
Hi @p4rsec -- just checking, are you planning to work on this or #1982? Thanks!

[2016-06-08 09:05] #1979 closed

[2016-06-08 09:07] seanlip commented on #2004
@kevinlee12 -- could you please break out the remaining issues into separate ones? I think they can be worked on independently.

Thanks!

[2016-06-08 09:08] seanlip commented on #1867
Hi @KatFrog -- hm, that sounds weird. Did you find anything?

[2016-06-08 09:16] seanlip commented on #1759
Deassigning @BojOnTheBeat due to lack of response.

[2016-06-08 09:18] seanlip commented on #2023
@satwikkansal -- want to have a go at this?

[2016-06-08 09:19] seanlip commented on #921
Hi @oparry -- have you had a chance to look into this? Thanks!

[2016-06-08 09:20] seanlip commented on #1773
Hi @akashrajkn, have you had a chance to look into this?

[2016-06-08 09:32] oparry commented on #921
Hi @seanlip,
Sorry, I didn't get time to look at this before I went on vacation.  If it can wait until next Wednesday (15th) I would be happy to do it, otherwise please feel free to reassign!
Many Thanks,
Owen

[2016-06-08 09:52] seanlip opened #2044 "Add swipe-to-close action to the sidebar menu on mobile."
On mobile, it should be possible to close the sidebar menu by swiping left (as an alternative to clicking elsewhere on the page, or clicking the hamburger icon at the top left).

[2016-06-08 12:35] satwikkansal commented on #2023
@charisseysabel @seanlip  Sure.
One possible fix I could think of is instead of having the bottom border colored , we can have both the borders colored for the active tab.
![screenshot-www oppia org 2016-06-08 17-48-24](https://cloud.githubusercontent.com/assets/10217535/15894123/cda9fdec-2da1-11e6-95f8-5a461b98561e.png)
Other simple fix can be keeping only the active tabs colored and rest of the

[2016-06-08 12:36] satwikkansal commented on #2023
@seanlip Another issue I noticed is that Site Feedback Overlay which overlaps with the text making it unreadable.

[2016-06-08 12:50] bbriggs opened #2045 "Reduce log verbosity of frontend tests on Travis"
Our frontend test case on Travis exceeds 10,000 lines, preventing it from being displayed on the normal testing page. It appears there is a large amount of extraneous logging happening that is pushing us over this limit.

Reduce the verbosity of the logs so we can fit all relevant data within the 10,000 line limit.

[2016-06-08 14:48] akashrajkn commented on #1773
Hi @seanlip,Yes, I am looking at it, tried a couple of ways to remove it.
[If I am unable to solve it in a couple of days, assign it to someone else, and I will try solving a different issue]

[2016-06-08 16:03] sdulal commented on #1897
Hey! Yes I am.

[2016-06-08 17:46] gvishal opened #2047 "Performance Testing Framework"
This issue involves implementing  a performance testing framework for Oppia.

Refer to this doc for further info:
https://docs.google.com/document/d/1pNIVaFUvCJyUOxZWupGNbIP6dgWTfAbieAtxk1aQiJk/edit

Implementaion:
https://docs.google.com/document/d/1pNIVaFUvCJyUOxZWupGNbIP6dgWTfAbieAtxk1aQiJk/edit#bookmark=id.arl4i8nkbw1o

/cc @BenHenning @maitbayev

[2016-06-08 17:49] gvishal opened #2048 "Performance Tests for Oppia"
This issue involves implementing tests for various pages of Oppia for performance testing.

Refer to this doc for further info:
https://docs.google.com/document/d/1pNIVaFUvCJyUOxZWupGNbIP6dgWTfAbieAtxk1aQiJk/edit#bookmark=id.mbwoyaa0w08e

\cc @BenHenning @maitbayev

[2016-06-08 18:00] edallison commented on #1858
Sounds good. I'll take a look.

[2016-06-08 18:49] BenHenning commented on #2032
FYI: This should also be done entirely in the frontend to avoid an unnecessary RPC to the backend.

[2016-06-08 18:57] BenHenning commented on #2040
This is partially related to #2032 (or rather, the solution will be similar as far as frontend services). Noting for future work on that issue.

[2016-06-08 20:02] seanlip commented on #1773
OK, thanks! Sounds good; please let me know how you're getting on in a couple days' time.

[2016-06-08 20:06] seanlip commented on #1897
Great, thanks! Just let us know if you need any help :-)

[2016-06-08 20:12] seanlip commented on #2045
I've noticed that occasionally we get the full nodejs dependency tree, which is what tends to push the logs over the edge. I don't know why this sometimes occurs and sometimes doesn't -- usually, it doesn't. (I'd be a bit surprised if it's related to the results of the actual test, since the latter runs separately after the test is initially set up.)

[2016-06-08 20:15] seanlip commented on #2023
I'm not keen on the first; I can't really distinguish which tab is active from that screenshot. The second may be better -- @charisseysabel, what do you think? Although I suspect that the best thing is to just have all the tabs in a single row, even on mobile.

@satwikkansal, can you file a separate issue for the site feedback overlay problem? It's unrelated to this issue, but seems worth fixing i

[2016-06-08 20:44] seanlip commented on #1858
OK, thanks @edallison! I've assigned you.

[2016-06-08 20:45] seanlip commented on #2013
Actually, sorry -- @Yeeons, at the time I assigned you, I had forgotten about #2044. I'll de-assign you from this one while you work on that!

[2016-06-08 20:53] satwikkansal opened #2049 "'Site Feedback' overlay overlapping with the text in short screen widths"
On smaller screen widths, the 'Site Feedback' overlay kind of overlaps with the content and sometimes making it unreadable.
Here's a few screenshots

**Library Page**
![screen shot 2016-06-09 at 02 07 40](https://cloud.githubusercontent.com/assets/10217535/15910301/dea41006-2de7-11e6-9056-7850ff3b9e17.png)

**About Page**
![kk](https://cloud.githubusercontent.com/assets/10217535/15910387/35ea05e6-

[2016-06-08 20:55] bbriggs commented on #2045
Yes, that's true: it's not consistent. I wonder if we get the tree because of artifact cleanup or something forcing it to download again?

[2016-06-08 21:33] amgowano commented on #2031
@seanlip It feels to me that dragging and panning as gestures are so complicated (require a mouse click and a mouse move while scroll only require mouse move), limiting (doesn't work well for a mobile device like an iPad) and take more effort to implement than scrolling. For these reasons I prefer scrolling. Also it is possible to have the scrollbar removed using css.

Another alternative to consi

[2016-06-08 21:40] seanlip commented on #2031
Ah, actually, I might have misinterpreted this issue. I actually filed it based on a TODO comment that still remained in the code (that was something to do with implementing scrolling using JS). So please feel free to close this issue and file another one that actually explains what the TODO meant (assuming it hasn't been fixed yet). I'm not attached to what I wrote above -- it was just my interpr

[2016-06-08 21:40] seanlip commented on #2031
(Though I guess making the nodes smaller or the card bigger is still worth doing...?)

[2016-06-08 21:45] seanlip commented on #921
Ah sorry @oparry -- didn't realize you were on vacation! 15th should be fine -- we're planning the next release for end-of-June so as long as this is in before then, it should be good!

Have a good rest, and see you when you get back :-)

[2016-06-08 22:27] seanlip opened #2050 "There should be a qqq.json file for i18n."
Oppia now supports platform-level i18n, and the translation files can be found in the i18n/ folder. In addition to these, we should also have a qqq.json file, as described in [this link](https://translatewiki.net/wiki/FAQ#Special_private_language_codes_qqq,_qqx). Such a file provides documentation for the context of each message, which translators need in order to write accurate translations.

For