[2015-08-14 00:27] GoogleCodeExporter opened #828 "Code review request"
[code]

Original issue reported on code.google.com by `wagnerdm...@gmail.com` on 19 Jun 2015 at 12:54

[2015-08-14 00:27] #828 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #829 "Code review request"
[code]

Original issue reported on code.google.com by `s...@seanlip.org` on 19 Jun 2015 at 7:21

[2015-08-14 00:27] #829 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #830 "Code review request for gadgets-develop-review"
[code]

Original issue reported on code.google.com by `anu...@google.com` on 19 Jun 2015 at 8:45

[2015-08-14 00:27] GoogleCodeExporter opened #831 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 19 Jun 2015 at 10:49

[2015-08-14 00:27] #831 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #832 "Code review request"
[code]

Original issue reported on code.google.com by `wxy.xi...@gmail.com` on 21 Jun 2015 at 5:05

[2015-08-14 00:27] #832 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #833 "Best-Practice-Advise needed: runnig oppia without app engine"
[code]

Original issue reported on code.google.com by `cosmo.o...@gmail.com` on 23 Jun 2015 at 8:49

[2015-08-14 00:27] #833 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #834 "Code review request"
[code]

Original issue reported on code.google.com by `wxy.xi...@gmail.com` on 24 Jun 2015 at 3:53

[2015-08-14 00:27] #834 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #835 "Allow exploration authors to provide hints and alternative explanations"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 24 Jun 2015 at 5:55

[2015-08-14 00:27] GoogleCodeExporter opened #836 "Code review request for gadgets-develop-review"
[code]

Original issue reported on code.google.com by `anu...@google.com` on 26 Jun 2015 at 11:40

[2015-08-14 00:27] #836 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #837 "Code review request"
[code]

Original issue reported on code.google.com by `s...@google.com` on 26 Jun 2015 at 11:53

[2015-08-14 00:27] #837 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #838 "Migrating explorations disrupts their order in the gallery"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 29 Jun 2015 at 9:05

[2015-08-14 00:27] GoogleCodeExporter opened #839 "Oppia migration bot issues notifications"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 29 Jun 2015 at 9:07

[2015-08-14 00:27] #839 closed, assigned to nobody

[2015-08-14 00:27] GoogleCodeExporter opened #840 "Feedback box for explorations is cutoff when opened in guest mode"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 1 Jul 2015 at 7:37

[2015-08-14 00:27] #840 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #841 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 2 Jul 2015 at 3:15

[2015-08-14 00:28] #841 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #842 "Code review request"
[code]

Original issue reported on code.google.com by `maddenw...@gmail.com` on 3 Jul 2015 at 12:19

[2015-08-14 00:28] #842 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #843 "Code review request"
[code]

Original issue reported on code.google.com by `s...@seanlip.org` on 4 Jul 2015 at 12:42

[2015-08-14 00:28] #843 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #844 "Code review request"
[code]

Original issue reported on code.google.com by `AYZh...@gmail.com` on 4 Jul 2015 at 8:53

[2015-08-14 00:28] #844 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #845 "Code review request"
[code]

Original issue reported on code.google.com by `s...@seanlip.org` on 6 Jul 2015 at 4:30

[2015-08-14 00:28] #845 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #846 "Allow exploration embedders to set style options"
[code]

Original issue reported on code.google.com by `savi.tin...@gmail.com` on 6 Jul 2015 at 3:53

[2015-08-14 00:28] GoogleCodeExporter opened #847 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 7 Jul 2015 at 12:51

[2015-08-14 00:28] #847 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #848 "Deprecate the backend functionality for changelist summarization"
[code]

Original issue reported on code.google.com by `s...@google.com` on 8 Jul 2015 at 5:17

[2015-08-14 00:28] GoogleCodeExporter opened #849 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 8 Jul 2015 at 10:29

[2015-08-14 00:28] #849 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #850 "Code review request"
[code]

Original issue reported on code.google.com by `kevinlee...@gmail.com` on 9 Jul 2015 at 6:41

[2015-08-14 00:28] GoogleCodeExporter opened #851 "Code review request"
[code]

Original issue reported on code.google.com by `s...@seanlip.org` on 9 Jul 2015 at 7:04

[2015-08-14 00:28] #851 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #852 "Code review request"
[code]

Original issue reported on code.google.com by `mgowano@google.com` on 10 Jul 2015 at 9:04
- Merged into: #853

[2015-08-14 00:28] #852 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #853 "Code review request"
[code]

Original issue reported on code.google.com by `mgowano@google.com` on 10 Jul 2015 at 9:15

[2015-08-14 00:28] GoogleCodeExporter opened #854 "Images dragged and dropped directly into the editor are stripped when saved"
[code]

Original issue reported on code.google.com by `jamesca...@gmail.com` on 12 Jul 2015 at 2:09

[2015-08-14 00:28] GoogleCodeExporter opened #855 "Pictures and usernames not displaying correctly on profile pages"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 12 Jul 2015 at 11:27

[2015-08-14 00:28] #855 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #856 "Adding translation files structure and partial loading"
[code]

Original issue reported on code.google.com by `Milagro....@gmail.com` on 13 Jul 2015 at 12:40

[2015-08-14 00:28] GoogleCodeExporter opened #857 "MultipleChoiceInput: removing multiple-choice options breaks rules"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 14 Jul 2015 at 7:12

[2015-08-14 00:28] GoogleCodeExporter opened #858 "Dragging the active answer group should close the group prior to dragging"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 14 Jul 2015 at 8:48

[2015-08-14 00:28] GoogleCodeExporter opened #859 "Provide a handy TODO list for exploration authors"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 15 Jul 2015 at 1:13

[2015-08-14 00:28] GoogleCodeExporter opened #860 "Exploration editor suggestion system for generalizing rules"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 15 Jul 2015 at 1:19

[2015-08-14 00:28] GoogleCodeExporter opened #861 "Show warnings if rule definitions overlap"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 15 Jul 2015 at 1:22

[2015-08-14 00:28] GoogleCodeExporter opened #862 "Code review request"
[code]

Original issue reported on code.google.com by `amitdeut...@google.com` on 15 Jul 2015 at 3:28

[2015-08-14 00:28] #862 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #863 "Reduce the column spacing on the history tab"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 16 Jul 2015 at 5:26

[2015-08-14 00:28] GoogleCodeExporter opened #864 "Tooltips for parameters are insufficiently explanatory"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 16 Jul 2015 at 5:29

[2015-08-14 00:28] GoogleCodeExporter opened #865 "When changing the interaction there is no warning that rules will be deleted"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 16 Jul 2015 at 5:34

[2015-08-14 00:28] GoogleCodeExporter opened #866 "Code review request"
[code]

Original issue reported on code.google.com by `sfederwi...@google.com` on 17 Jul 2015 at 10:36

[2015-08-14 00:28] GoogleCodeExporter opened #867 "Expose a stable URL to show all published explorations within a category"
[code]

Original issue reported on code.google.com by `jamesca...@gmail.com` on 20 Jul 2015 at 8:12

[2015-08-14 00:28] GoogleCodeExporter opened #868 "Expose a stable URL for gallery search queries"
[code]

Original issue reported on code.google.com by `jamesca...@gmail.com` on 20 Jul 2015 at 8:16

[2015-08-14 00:28] GoogleCodeExporter opened #869 "Code review request"
[code]

Original issue reported on code.google.com by `vjoi...@google.com` on 20 Jul 2015 at 8:28

[2015-08-14 00:28] #869 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #870 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 21 Jul 2015 at 8:22

[2015-08-14 00:28] GoogleCodeExporter opened #871 "Rename activity_ids to exploration_ids in UserSubscriptionsModel"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 22 Jul 2015 at 5:35

[2015-08-14 00:28] GoogleCodeExporter opened #872 "Migrate answers for the Multiple Choice interaction"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 23 Jul 2015 at 1:11

[2015-08-14 00:28] GoogleCodeExporter opened #873 "Allow interaction customization args to be edited inline"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 23 Jul 2015 at 1:14

[2015-08-14 00:28] GoogleCodeExporter opened #874 "Code review request"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 23 Jul 2015 at 4:48

[2015-08-14 00:28] GoogleCodeExporter opened #875 "Code review request"
[code]

Original issue reported on code.google.com by `mschmittfull@gmail.com` on 23 Jul 2015 at 6:01

[2015-08-14 00:28] GoogleCodeExporter opened #876 "Code review request"
[code]

Original issue reported on code.google.com by `s...@google.com` on 24 Jul 2015 at 9:10

[2015-08-14 00:28] #876 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #877 "Code review request"
[code]

Original issue reported on code.google.com by `s...@google.com` on 25 Jul 2015 at 2:50

[2015-08-14 00:28] #877 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #878 "Interaction previews in the exploration editor should not be focusable"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 29 Jul 2015 at 1:58

[2015-08-14 00:28] GoogleCodeExporter opened #879 "Code review request"
[code]

Original issue reported on code.google.com by `vjoi...@google.com` on 29 Jul 2015 at 9:23

[2015-08-14 00:28] GoogleCodeExporter opened #880 "Problems loading homepage"
[code]

Original issue reported on code.google.com by `d...@google.com` on 30 Jul 2015 at 6:42

Attachments:
- [oppia.JPG](https://storage.googleapis.com/google-code-attachments/oppia/issue-880/comment-0/oppia.JPG)

[2015-08-14 00:28] #880 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #881 "Code review request"
[code]

Original issue reported on code.google.com by `s...@google.com` on 30 Jul 2015 at 8:53

[2015-08-14 00:28] #881 closed, assigned to nobody

[2015-08-14 00:28] GoogleCodeExporter opened #882 "Image-click interaction does not properly support different labels"
[code]

Original issue reported on code.google.com by `bhenn...@google.com` on 31 Jul 2015 at 4:28

[2015-08-14 00:28] GoogleCodeExporter opened #883 "Code and UI review request"
[code]

Original issue reported on code.google.com by `s...@google.com` on 31 Jul 2015 at 5:18

[2015-08-14 00:28] GoogleCodeExporter opened #884 "Add an end state automatically when an exploration is created"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 3 Aug 2015 at 5:05

[2015-08-14 00:28] GoogleCodeExporter opened #885 "Base statistics on the number of users who interacted with the exploration, not the number who visited"
[code]

Original issue reported on code.google.com by `jacobdav...@gmail.com` on 3 Aug 2015 at 5:10

[2015-08-14 00:28] GoogleCodeExporter opened #886 "Allow learners to resubmit different answers to previous states"
[code]

Original issue reported on code.google.com by `li...@google.com` on 4 Aug 2015 at 9:36

[2015-08-14 00:28] GoogleCodeExporter opened #887 "Stop automatic scroll down"
[code]

Original issue reported on code.google.com by `li...@google.com` on 4 Aug 2015 at 9:38

[2015-08-14 00:28] GoogleCodeExporter opened #888 "Show learners how far they've progressed through an exploration"
[code]

Original issue reported on code.google.com by `li...@google.com` on 4 Aug 2015 at 9:38

[2015-08-14 00:28] GoogleCodeExporter opened #889 "GraphInput: it's possible to add multiple nodes to the same spot"
[code]

Original issue reported on code.google.com by `mschmittfull@gmail.com` on 6 Aug 2015 at 6:27

[2015-08-14 00:28] GoogleCodeExporter opened #890 "Clicking on warnings in the editor page should make it easy to fix them"
[code]

Original issue reported on code.google.com by `sfederwi...@google.com` on 7 Aug 2015 at 8:05

[2015-08-14 00:28] GoogleCodeExporter opened #891 "Code review request"
[code]

Original issue reported on code.google.com by `Milagro....@gmail.com` on 10 Aug 2015 at 3:10

[2015-08-14 00:28] GoogleCodeExporter opened #892 "Learner suggestions: backend design and implementation"
[code]

Original issue reported on code.google.com by `sbhow...@google.com` on 12 Aug 2015 at 12:17

[2015-08-14 00:28] GoogleCodeExporter opened #893 "Code review request"
[code]

Original issue reported on code.google.com by `wxy.xi...@gmail.com` on 13 Aug 2015 at 5:52

[2015-08-14 05:21] seanlip commented on #865
Also cc'ing @jacobdavis11 (original reporter)

Relevant files are probably core/templates/dev/head/editor/StateInteraction.js and state_editor_interaction.html. Note that the issue refers to changing the interaction to something else (there's already a confirmation when trying to actually delete the interaction).

@jacobdavis11 , as I write this, I had a thought. Should changing the interaction be

[2015-08-14 06:04] jacobdavis11 commented on #865
An interesting idea. I'd say it's worth trying out, though it's possible that users would find it confusing in which case we'd have to switch back.

[2015-08-14 07:07] michaelWagner commented on #865
As a continuation or possible alterative to this train of thought, I think it might make sense to remove the "change interaction" button from the custom interaction modal and in it's place put the "delete interaction" button. As it does when a user clicks the X on the interaction card, the user will be taken to the delete interaction modal - here, in addition to the delete interaction button, ther

[2015-08-14 15:11] jacobdavis11 commented on #865
I would somewhat incline against this because it doesn't match the model we
use elsewhere. For example when deleting a rule or a state you just delete
them; you don't get asked whether you'd like to change them instead.

On Fri, Aug 14, 2015 at 12:07 AM, michaelWagner <notifications@github.com>
wrote:

[2015-08-14 15:28] michaelWagner commented on #865
Thanks Jacob, that's a good point. I'll go forth as proposed.

[2015-08-15 01:29] seanlip commented on #888
This is tricky because at any point it's hard to know how much of the exploration is "remaining". The new learner view will support part of this (i.e. there will be dots showing the past states), so there's at least a visual indicator of how much the learner has done so far.

An idea: maybe we could automatically compute states through which all paths will go, and use these states as milestones? (

[2015-08-15 04:58] seanlip commented on #893
@wxyxinyu This is great, thanks! LGTM with no comments.

I've merged it into master and will push shortly. (I did a test run and it took 10 mins with a 5/s queue, which is great.)

[2015-08-15 04:58] #893 closed

[2015-08-15 05:01] seanlip commented on #774
Closing. This needs more work.

[2015-08-15 05:01] #774 closed

[2015-08-15 05:57] seanlip commented on #887
This will happen as part of the new learner view redesign. Closing.

[2015-08-15 05:57] #887 closed

[2015-08-15 07:27] seanlip commented on #884
@jacobdavis11 (reporter)
@BenHenning

[2015-08-15 07:29] seanlip commented on #883
Closing this for now. Will do a new pull request instead.

cc @BenHenning

[2015-08-15 07:29] #883 closed

[2015-08-15 07:44] seanlip commented on #879
This review has been done.

[2015-08-15 07:44] #879 closed

[2015-08-15 07:47] seanlip commented on #874
@BenHenning, I'd like to close this issue (and get rid of the existing 'code review request' threads, in general).

What are the remaining TODOs for the fuzzy-rules branch? Could you list them in a new issue, and assign it to yourself?

[2015-08-15 07:54] seanlip commented on #871
cc @BenHenning

[2015-08-15 08:02] seanlip commented on #761
Closing -- unable to reproduce.

[2015-08-15 08:04] seanlip commented on #863
@jacobdavis11

[2015-08-15 08:04] seanlip commented on #746
@jacobdavis11 (original reporter)

[2015-08-15 08:07] seanlip commented on #732
This doesn't seem to have caused noticeable problems for a few months, so marking as "won't fix" and closing. cc @jacobdavis11

[2015-08-15 08:07] #732 closed

[2015-08-15 08:09] seanlip commented on #620
cc @wxyxinyu @seanlip

[2015-08-15 08:14] #404 closed

[2015-08-15 08:19] seanlip commented on #119
On re-reading, I think this is addressed. We don't have a 'reuse previous interaction' option anymore. What happens now is that the learner's answer will be retained as long as they remain within the same 'card'. If they move to a new card, that card can change it.

@michaelWagner, what do you think? If you agree, we can close this.

[2015-08-15 08:21] seanlip commented on #46
I think it would be nice to do this by default for the single-select multiple-choice (note: not Kevin's upcoming item selection interaction).

@BenHenning @kevinlee12 what do you think?

[2015-08-15 08:26] seanlip commented on #46
Whoops, sorry, wait -- ignore this. I was thinking of a different issue (i.e. disabling multiple choice options that have already been clicked). Sorry @kevinlee12, not sure how to un-CC you.

For @BenHenning, though, I think my question changes. Do you think we can do something like this with the new feedback framework (i.e. try and avoid repeating the responses Oppia gives, where possible)? Thoug

[2015-08-15 08:35] #761 closed

[2015-08-15 08:43] seanlip commented on #854
Closing -- working as intended.

[2015-08-15 08:43] #854 closed

[2015-08-15 08:51] seanlip commented on #817
This is related to #848. If we had a single method for summarizing changelists, and that method lived in the frontend, this would not be an issue.

Closing this issue and replicating the suggestion in #848.

[2015-08-15 08:51] #817 closed

[2015-08-15 08:53] seanlip commented on #848
This refactor would have beneficial user-facing effects, as reported by @anuzis:

1. Save a new exploration (any content).
2. Edit a state's content (example, from "test-content", to "test-content2")
3. Edit the state's content back (to the original "test-content")
4. Try to save.

Expected Oppia to recognize no changes have been made, and thus not allow me to click Save in the first place.

Inste

[2015-08-15 08:55] seanlip commented on #543
We never got around to figuring this out. Closing for now.

[2015-08-15 08:55] #543 closed

[2015-08-15 09:01] seanlip commented on #525
Closing. This will be obsolete with the new gallery redesign.

[2015-08-15 09:01] #525 closed

[2015-08-15 09:08] seanlip commented on #484
Looks like the page needs refreshing after clicking the publish button. This in itself is a bug, actually -- we should get rid of the jinja stuff in the frontend on that page.

[2015-08-15 09:15] seanlip commented on #850
Closing this issue. @kevinlee12, please do a pull request when you're ready for another review.

Also cc @BenHenning.

[2015-08-15 09:15] #850 closed

[2015-08-15 09:18] seanlip commented on #830
Review done. Closing this issue.

[2015-08-15 09:18] #830 closed

[2015-08-15 09:19] seanlip commented on #534
This is obsolete.

[2015-08-15 09:19] #534 closed

[2015-08-15 09:21] seanlip commented on #870
@BenHenning -- what should we do with this? Should I replicate all my comments from the original code review here?

[2015-08-15 09:26] seanlip commented on #335
Closing. Will be implemented as part of collections. cc @BenHenning

[2015-08-15 09:26] #335 closed

[2015-08-15 09:32] michaelWagner commented on #119
This sounds good to me, I'm not sure how I missed it the first time. I might have to remove some of those multiple choice cards from the music exploration ;)

[2015-08-15 09:32] #119 closed

[2015-08-15 19:21] seanlip commented on #660
Need to figure out if we still need to do this based on the new gallery redesign. The general functionality may be useful anyway for infinite-scroll lists throughout the site.

[2015-08-15 21:19] seanlip commented on #119
Ah, don't worry, it's not you! When you first reported this issue, the functionality I described in my previous comment didn't exist yet.

[2015-08-15 21:36] seanlip commented on #846
I don't think we'll do a CSS or WYSIWYG editor -- this is hard. We may be able to include a small set of options that can be passed along in the embed URL, but these will need to be enumerated.

Note that the heading graphic should be less of an issue since we're planning to remove it in the upcoming redesign of the learner view.

[2015-08-15 21:43] seanlip commented on #814
cc @kevinlee12 (original reporter)

[2015-08-15 22:27] seanlip commented on #800
I'll file a new issue for this. The intended workflow here is to ask the moderator/admin of the site to perform the deletion/unpublishing, but we ought to make this as easy as pressing a button.

[2015-08-15 22:27] #800 closed

[2015-08-15 22:30] seanlip opened #897 "Implement a system for requests to moderators"
Things that this system should probably support:

* allow users to request unpublishing or deletion for an exploration that they own
* allow users to flag an exploration (to report spam or abuse)
* allow users to suggest explorations that may be worth featuring

/cc @jacobdavis11

[2015-08-15 22:31] seanlip commented on #800
Filed #897.

[2015-08-16 00:43] seanlip commented on #757
This seems to be fixed with the new rich-text editor. Closing.

[2015-08-16 00:43] #757 closed

[2015-08-16 00:49] seanlip commented on #722
adding @andrieski, who's going to look into adding a questionnaire to figure out what templates users might expect

[2015-08-16 00:51] seanlip commented on #718
I'm going to close this, actually, since it's not clear that it's actually causing problems. Any residual issues are probably more to do with the overall editor workflow.

[2015-08-16 00:51] #718 closed

[2015-08-16 00:58] seanlip commented on #666
Haven't seen this occur for a while, so maybe it's fixed. Closing, but please feel free to re-open if it occurs again.

[2015-08-16 00:58] #666 closed

[2015-08-16 01:05] seanlip commented on #691
Filed #539. Closing this one.

[2015-08-16 01:05] #691 closed

[2015-08-16 01:07] seanlip commented on #535
Actually, I don't think we can do this, because protractor tests run without doing an actual login to the Web. So, closing.

[2015-08-16 01:07] #535 closed

[2015-08-16 01:09] seanlip commented on #517
This is important, but will be addressed by the upcoming 'fallbacks' functionality.

[2015-08-16 01:09] #517 closed

[2015-08-16 01:12] seanlip commented on #493
This is duplicated by #897.

[2015-08-16 01:12] #493 closed

[2015-08-16 03:45] seanlip commented on #339
Related to #888

[2015-08-16 03:47] seanlip commented on #318
It might be better to prepend https:// automatically, actually. If the user explicitly modifies that to http:// we can leave it as http://.

[2015-08-16 03:54] seanlip commented on #164
This seems to be fixed with the new rich-text editor. Closing.

[2015-08-16 03:54] #164 closed

[2015-08-16 03:55] seanlip commented on #160
Related to #888.

[2015-08-16 04:02] seanlip commented on #158
The utf-8 issue seems to be fixed, but the image does not seem to download as part of the zip. Perhaps this is due to the filename, but that seems odd.

[2015-08-16 04:08] seanlip commented on #113
We're not going to do scoring. However, @kevinlee12 is currently working on an Item Selection interaction that will enable multiple answers to be selected for a multiple choice question.

[2015-08-16 04:11] seanlip commented on #158
Actually -- the missing images are due to #96. Closing this issue as fixed.

[2015-08-16 04:11] #158 closed

[2015-08-16 04:14] seanlip commented on #45
Update: in the new 'answer groups' framework, rules are combined using OR. There's still the possibility for adding AND and NOT operators, though.

[2015-08-16 04:28] seanlip opened #898 "Auto-save drafts while an exploration is being edited"
Exploration authors may need to spread the changes out for a commit over more than one editing session. Currently, they are forced to save or publish their changes to the server before they leave. It would be nice if, instead, they could leave and return later, and view the content as they left it. (Of course, if someone else has edited the exploration in the meantime, there will be merge issues a

[2015-08-16 04:29] seanlip commented on #98
Closing in favour of #898.

[2015-08-16 04:29] #98 closed

[2015-08-16 04:29] seanlip commented on #749
Closing in favour of #898.

[2015-08-16 04:29] #749 closed

[2015-08-16 05:36] seanlip opened #899 "Learner suggestions: frontend design and implementation"
This issue tracks the implementation of the learner suggestions frontend. This will happen in three stages:

  1. mockups, API and implementation for editor view
  2. mockups, API and implementation for learner view
  3. mockups, API and implementation for user dashboard

The idea for each stage is to:
  1. Make a few mockups and get them user tested
  2. Based on the mockups, define an API, and v

[2015-08-16 05:47] seanlip commented on #890
Related: #859.

[2015-08-16 05:54] seanlip commented on #867
Related to #868, in that it's shorthand for a search query (that only specifies a category filter).

[2015-08-16 05:55] seanlip commented on #861
Related: #860.
cc @BenHenning (original reporter).

[2015-08-16 06:03] seanlip commented on #806
Allan, is this still an issue? Do we know what the fix is?

[2015-08-16 06:13] seanlip commented on #775
@AllanYangZhou, could you please update this to say what still needs to be done? Then maybe we can break it down into smaller issues.

[2015-08-16 06:18] seanlip opened #900 "Add a field for tags in the "Create Exploration" modal."
(Filed originally as #727.)

Add a field for tags at the bottom of the "Create Exploration" modal in the gallery page, similar to the one in the exploration settings page. This field is optional.

[2015-08-16 06:23] seanlip opened #901 "[depends on #1343] Pre-populate fields in the "Create Exploration" modal if additional context is given"
(Filed originally as #727.)

If a user searches for a topic in the gallery, and no explorations turn up, the 'error' message "would you like to create one?" appears. If the user clicks on this link, it will redirect to the creator's dashboard and open the "Create Exploration" modal.

In this scenario, we could try and use the search query to pre-populate either the title/goal (or the placeholder t

[2015-08-16 06:23] seanlip commented on #727
Broke this issue into #900 and #901. Closing.

[2015-08-16 06:23] #727 closed

[2015-08-16 06:33] seanlip commented on #672
On re-reading, this seems more like a documentation issue. We need to figure out where and how to explain this.

[2015-08-16 06:35] seanlip commented on #671
Yuan reports that much of this can be done using Google Analytics. Should we close it?

[2015-08-16 06:44] seanlip commented on #494
Duplicate of #696. Closing.

[2015-08-16 06:44] #494 closed

[2015-08-16 06:52] seanlip commented on #754
Merging #439 with this one, and closing the former.

[2015-08-16 06:52] seanlip commented on #439
Merged into #754.

[2015-08-16 06:52] #439 closed

[2015-08-16 06:59] seanlip commented on #334
Due to concerns about many similar explorations clogging up the gallery, we currently do not plan to implement this.

[2015-08-16 06:59] #334 closed

[2015-08-16 07:10] seanlip opened #902 "Add an option to read the text of an exploration to the learner"
From #159:

Create a setting within an exploration to allow the text of the content to be read within the browser. This would be useful for creating math/science explorations that do not require the learner to be a high-level reader.

[2015-08-16 07:10] seanlip commented on #159
(Pulled out the second part of the original issue into #902)

[2015-08-16 07:13] seanlip commented on #122
Related to #898

[2015-08-16 07:17] seanlip commented on #99
This is fixed in develop. Closing.

[2015-08-16 07:17] #99 closed

[2015-08-16 07:18] BenHenning commented on #46
It's hard to say, I think. If I understand this suggestion right, it's basically saying that some sort of hint should be displayed for the user if they keep making errors on the same state, but should avoid showing the same hint if they keep looping back to the same state until enough variation occurs in their path through the exploration that, if they do return back to the state, it should then d

[2015-08-16 07:20] BenHenning commented on #870
I think it actually is more based on your preference. The easiest solution might be adding me back to the Google Code project so that I can address the comments on there, but push the commit to GitHub, instead. I should be able to wrap up the collections-backend branch before Google Code becomes read-only.

[2015-08-16 07:22] seanlip commented on #870
Added you back. I would love to not have to copy everything :-)

[2015-08-16 07:23] BenHenning commented on #874
Two things:

1. I still have the one final nit to correct before implement-fuzzy-rules is code complete.
2. I am awaiting usability tests before it is ready to be merged in develop.

Similar to my request for collections-backend, if I have project access to the Google Code Oppia, I can address that nit and then close this issue. Afterwards, I'll open another issue for the usability testing and, on

[2015-08-16 07:25] seanlip commented on #874
Sounds good, thanks! Just a clarification, please open the follow-up issue for usability testing here on GitHub (this is probably what you meant anyway but I wanted to make sure).

[2015-08-16 07:33] seanlip commented on #46
I think it's not quite the same as hints, actually. My interpretation of this (adjusted to the current structure of the editor -- the issue was filed 2 years ago) is as follows: when deciding what answer group to use for a learner who's looping around in the same state, try to choose a different one where possible, so that the feedback given to the learner is different (but still reasonable, given

[2015-08-16 07:35] BenHenning commented on #45
As Sean mentioned, this is possible functionality to add again in the future. The backend functionality referred to above has been removed from the code base in lieu of answer groups. There was no frontend implemented to use it since there were no situations which arose requiring boolean combinations of rules beyond OR. Once we have an idea as to what sort of actual scenarios might call for AND (N

[2015-08-16 07:43] BenHenning commented on #874
Sgtm. Thanks!

[2015-08-16 07:46] BenHenning commented on #46
I'm not sure. I think it depends on whether answer groups are trying to be used to provide hints. I think that's almost misusing them, to some respect. Hints should be provided upon repeated errors. Answer groups are currently designed to be atomic (though using parameters there are ways around this). What would be a user scenario where this functionality would be useful?

[2015-08-16 07:54] seanlip commented on #46
I think it's mainly to try and avoid the 'broken record' phenomenon when the user types in a whole bunch of different things and keeps getting the same response again and again.

On the surface, that's a pretty rubbish user experience. At the same time, the response given is probably the 'best' that Oppia has to offer, if considered in isolation. The question is, therefore, should we sacrifice 'be

[2015-08-16 20:14] BenHenning commented on #46
I do. I think the variation case is slightly different than the original proposed problem. I think that's just having a feedback list like we did before.

[2015-08-16 20:35] seanlip commented on #46
Chatted briefly with @BenHenning. We noted that the new proposal is a bit different from the old implementation where a creator can specify multiple pieces of feedback for a rule, and Oppia chooses one at random. In the current (fuzzy matching) framework, a free-text answer (say) can reasonably match multiple answer groups, whereas with the previous feedback list, the answer deterministically fall

[2015-08-16 20:35] #46 closed

[2015-08-17 00:24] seanlip commented on #358
/cc @michaelWagner (original reporter)

[2015-08-17 00:25] seanlip commented on #566
/cc @michaelWagner (original reporter), @amitdeutsch, @wxyxinyu

[2015-08-17 00:27] seanlip commented on #568
/cc @michaelWagner, @wxyxinyu, @amitdeutsch

[2015-08-17 00:43] seanlip commented on #856
This has been reviewed. Closing.

[2015-08-17 00:43] #856 closed

[2015-08-17 00:46] AllanYangZhou commented on #806
I just tried both FF and Chrome on OSX and I can't seem to reproduce this error, but looking through my commit history I don't see a commit saying I fixed it. Maybe some other change somewhere else fixed it as a side effect?

[2015-08-17 03:23] seanlip commented on #806
I just tried FF and Chrome on Ubuntu, and can't reproduce it as well. So, maybe it fixed itself. Which is nice, I guess :-)

Anyway, closing. Thanks for checking!

[2015-08-17 03:23] #806 closed

[2015-08-17 04:56] seanlip commented on #801
/cc @wxyxinyu

[2015-08-17 04:56] seanlip commented on #310
/cc @wxyxinyu

[2015-08-17 04:57] seanlip commented on #712
/cc @wxyxinyu

[2015-08-17 04:57] seanlip commented on #848
/cc @wxyxinyu

[2015-08-17 04:58] seanlip commented on #709
/cc @wxyxinyu

(Note: this will also affect the tiles used for recommendations.)

[2015-08-17 04:59] seanlip commented on #318
/cc @jacobdavis11 (original reporter)

[2015-08-17 05:01] seanlip commented on #730
/cc @jacobdavis11 (original reporter)

[2015-08-17 05:01] seanlip commented on #476
/cc @jacobdavis11 (original reporter)

[2015-08-17 05:02] seanlip commented on #434
/cc @jacobdavis11 (who reported this)

[2015-08-17 05:03] seanlip commented on #857
/cc @jacobdavis11 (who reported this)

[2015-08-17 05:04] seanlip commented on #539
/cc @andrieski @ben-targan

[2015-08-17 05:05] seanlip commented on #556
/cc @jacobdavis11 @kevinlee12 @hazmatzo

[2015-08-17 05:06] seanlip commented on #892
/cc @BenHenning @AllanYangZhou

[2015-08-17 05:07] seanlip commented on #823
/cc @anuzis

[2015-08-17 05:10] seanlip commented on #492
/cc @ben-targan, who did some work on this

[2015-08-17 05:11] seanlip commented on #872
/cc @BenHenning @kevinlee12

[2015-08-17 05:15] seanlip commented on #542
/cc @marcel-sl

[2015-08-17 05:33] seanlip commented on #138
/cc @Bruce1979 (original reporter)

[2015-08-17 05:33] seanlip commented on #400
/cc @Bruce1979 (original reporter)

[2015-08-17 05:34] seanlip commented on #768
/cc @anuzis @wxyxinyu

[2015-08-17 05:34] seanlip commented on #816
/cc @anuzis

[2015-08-17 05:43] seanlip commented on #122
/cc @paulmartin42 @bigblind

[2015-08-17 05:45] seanlip commented on #660
/cc @sdulal (original reporter)

[2015-08-17 05:45] seanlip commented on #889
/cc @marcel-sl (original reporter)

[2015-08-17 05:47] seanlip commented on #159
/cc @coryroush (original reporter), @jg1141 (thread participant)

[2015-08-17 05:47] seanlip commented on #902
/cc @coryroush (original reporter), @jg1141 (thread participant)

[2015-08-17 05:48] seanlip commented on #160
/cc @coryroush (original reporter)

[2015-08-17 05:49] seanlip commented on #666
/cc @hazmatzo (original reporter)

[2015-08-17 05:49] seanlip commented on #665
/cc @hazmatzo (original reporter)

[2015-08-17 05:49] seanlip commented on #484
/cc @hazmatzo

[2015-08-17 05:49] seanlip commented on #835
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #878
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #827
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #858
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #838
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #882
/cc @BenHenning (original reporter)

[2015-08-17 05:50] seanlip commented on #859
/cc @BenHenning (original reporter)

[2015-08-17 05:51] seanlip commented on #873
/cc @BenHenning (original reporter)

[2015-08-17 05:52] seanlip commented on #860
/cc @BenHenning (original reporter)

[2015-08-17 05:52] seanlip commented on #798
/cc @BenHenning (original reporter)

[2015-08-17 05:58] seanlip commented on #99
Also /cc @stevenbell (who suggested a dynamic default rule) for info. On re-reading it, I quite like the idea! We didn't go with that, though -- just ended up suppressing the warning where appropriate.

Actually, I just realized that a dynamic default rule might also have issues. Suppose I've made two rules (for A, B) and there are four choices (A, B, C, D). And I give some default feedback. Now I

[2015-08-17 06:12] seanlip commented on #675
/cc @kisonecat (who requested this)

[2015-08-17 06:12] seanlip commented on #674
/cc @kisonecat (who requested this)

[2015-08-17 06:12] seanlip commented on #673
/cc @kisonecat (who requested this)

[2015-08-17 06:13] seanlip commented on #672
/cc @kisonecat (who noted this)

[2015-08-17 06:16] seanlip commented on #898
/cc @amitdeutsch (original reporter of #98)

[2015-08-17 06:17] seanlip commented on #132
/cc @amitdeutsch (original reporter)

[2015-08-17 06:18] seanlip commented on #96
/cc @amitdeutsch (original reporter)

[2015-08-17 06:20] seanlip commented on #473
/cc @jacobdavis11 @czxcjx (I think we discussed this)

[2015-08-17 06:22] seanlip commented on #696
/cc @amitdeutsch (original reporter)

[2015-08-17 06:23] seanlip commented on #700
/cc @amitdeutsch (original reporter)

[2015-08-17 06:23] seanlip commented on #449
/cc @amitdeutsch (original reporter)

[2015-08-17 06:24] seanlip commented on #695
/cc @amitdeutsch (original reporter)

[2015-08-17 06:24] seanlip commented on #715
/cc @amitdeutsch (original reporter)

[2015-08-17 06:24] seanlip commented on #99
/cc @amitdeutsch (thread participant)

[2015-08-17 06:24] seanlip commented on #129
/cc @amitdeutsch (original reporter)

[2015-08-17 06:26] seanlip commented on #448
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:35] seanlip commented on #48
/cc @yanamal (original reporter), @amitdeutsch

FYI, I was talking with Tricia recently -- her preferred workflow is to specify all the feedback items, and only then specify all the destinations. (She plans to sketch out her ideal workflow in more detail and send it to us.) Overall, the general workflow needs more thought.

In the meantime, @amitdeutsch, what do you think about the specific 'local

[2015-08-17 06:36] seanlip commented on #714
/cc @jacobdavis11 (who wrote the ratings functionality)

[2015-08-17 06:38] seanlip commented on #469
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:38] seanlip commented on #864
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:38] seanlip commented on #864
@jacobdavis11, I guess my question still stands -- do you have a suggestion for the text?

[2015-08-17 06:39] seanlip commented on #461
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:39] seanlip commented on #531
/cc @czxcjx (original reporter)

[2015-08-17 06:40] seanlip commented on #433
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:40] seanlip commented on #885
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:41] seanlip commented on #671
/cc @jacobdavis11 (original reporter)

[2015-08-17 06:42] seanlip commented on #477
/cc @jacobdavis11, @czxcjx

@czxcjx, is this mergeable (or close to being so)? I seem to remember most of the coding has been done -- it'd be a shame for it not to go in.

[2015-08-17 06:43] seanlip commented on #497
/cc @jacobdavis11 @czxcjx @BenHenning (since we've had discussions about this)

[2015-08-17 06:44] seanlip commented on #45
/cc @yanamal, @kashida (thread participants)

[2015-08-17 06:44] seanlip commented on #251
/cc @kashida (original reporter)

[2015-08-17 06:45] seanlip commented on #31
/cc @yanamal, @kashida (thread participants)

[2015-08-17 06:45] seanlip commented on #38
/cc @yanamal (original reporter), @kashida (thread participant)

[2015-08-17 06:46] seanlip commented on #44
/cc @yanamal (thread participant)

[2015-08-17 06:47] seanlip commented on #20
/cc @yanamal (original reporter)

[2015-08-17 06:47] seanlip commented on #43
/cc @yanamal (who I think reported this?)

[2015-08-17 06:48] seanlip commented on #46
/cc @yanamal (original reporter)

[2015-08-17 07:11] seanlip opened #905 "Auto-generate developer documentation"
The Oppia codebase has several API-like parts, e.g. jobs or datastore code that other code is meant to be built on. Although these things have pretty good docs inside the code, it would be nice to have them all in one place. This would allow them to be searched, and make it easy to link docs for functions/objects that depend on each other. The developer can then read through the docs more easily t

[2015-08-17 07:57] seanlip commented on #722
Also, we might consider having specialized editors for the different templates -- this is advantageous because we can remove UI elements that the creator doesn't need and that would otherwise complicate things.

[2015-08-17 18:54] AllanYangZhou commented on #775
Yeah, I've compiled a list of remaining issues for the RTE from both the original post here and the "RTE Issues" doc:

1. Widget previews in editor instead of tiny icons (item 3 from OP)
1. Tab key behavior (item 6 from OP)
1. Widget edit modal appears if the widget is the only content in the editor
1. Incorrect cursor placement after pasting content that ends with a widget
1. FF widget icons are

[2015-08-17 22:33] seanlip commented on #801
@ben-targan is going to take this on as a starter design project. The plan is:

  * first drafts of paper prototypes for multiple interaction flows by 31 Aug
  * finalized drafts of prototypes by 7 Sep
  * finalized UI mocks by 21 Sep

Thanks, @ben-targan, and feel free to post any updates in this thread!

[2015-08-17 22:36] seanlip commented on #801
(Also, don't forget to think about small screens. The wikipedia edit history page might be a good example to draw from.)

[2015-08-17 22:38] ben-targan commented on #801
Alright, and Thanks for the suggestion!

[2015-08-17 23:13] seanlip commented on #886
On further discussion with the original reporter, I'm going to close this. They managed to implement a fix by providing more detailed feedback to the learner.

[2015-08-17 23:13] #886 closed

[2015-08-17 23:15] seanlip commented on #888
Another idea is to only show the future states if the exploration is linear. It may make sense to tackle just this case initially.

Also, I clarified with the original reporter that percentages aren't strictly necessary. All that's needed is  to have some sense of how much the learner has done, vs how much they have left to do.

[2015-08-17 23:43] seanlip opened #907 "Usability test for fuzzy rules"
We need to do a usability test for the implement-fuzzy-rules branch, so that it can get merged into develop.

Assigning to @amylatten (and /cc @BenHenning).

[2015-08-18 00:04] seanlip commented on #775
Thanks! Adding a couple more (and then I'll deprecate the doc).

Would you mind making separate issues for each of these (with clear repro instructions where appropriate)? Then we can close this one. I think some of these may be good starter projects, too.

  6. Make the non-editable preview for each RTE extension look similar to its learner view. (This preview should still be non-editable, so we

[2015-08-18 00:30] seanlip commented on #775
Whoops -- sorry @AllanYangZhou, my (1) is the same as your (1)!

Also, I should note that my (2) is independent of either of the (1)'s. E.g., consider the editor for links in, say, gmail -- when you click on a link, a small popover opens on top of it, and that popover allows you to edit the link properties. But the popover doesn't obscure the screen, and is pretty independent of how the link is re

[2015-08-18 05:00] seanlip commented on #769
/cc @amylatten

[2015-08-18 05:01] seanlip commented on #722
/cc @amylatten @jacobdavis11 @amitdeutsch

[2015-08-18 05:01] seanlip commented on #638
/cc @sfederwisch (original reporter)

[2015-08-18 05:02] seanlip commented on #890
/cc @sfederwisch (original reporter)

[2015-08-18 05:02] seanlip commented on #726
@sfederwisch This seems important -- I think we should resolve it.

[2015-08-18 05:04] seanlip commented on #78
/cc @brokenairplane (original requester)

[2015-08-18 20:59] seanlip opened #908 "Design and architecture of the overall site"
We would like to make it easier for newcomers to the site get a sense of what Oppia is, what its mission is, and what they can do with it. The purpose of this issue is to design and test the critical user journeys for this 'ideal' experience.

The plan is to do this in two stages:
  * formulate critical user journeys and hypotheses
  * test these hypotheses, and continuously refine until we have s

[2015-08-19 01:47] AllanYangZhou opened #909 "Make the rich-text editor components have better (noneditable) previews"
Currently the rich-text component previews in the rich text editor are tiny icons. Ideally, these should resemble the actual learner's view instead.

The preview itself should not be editable, so we should investigate the possibility of using a non-editable 'island' within a contenteditable as our preview.

[2015-08-19 01:54] AllanYangZhou opened #910 "It should be possible to edit RTE components inline"
Currently, clicking to edit a rich-text component opens a modal. Ideally, these components should be editable inline--clicking on a RTE component should open a popover rather than a modal. It should be similar to how links are edited in GMail--clicking on a link in the gmail editor opens a popover to edit the link properties, without obscuring the whole screen with a modal.

[2015-08-19 01:58] AllanYangZhou opened #911 "Fixing tab key behavior in the rich-text editor"
Currently, pressing the tab key in the rich text editor moves focus to the "Save Content" button. We would like to fix this behavior so that:

1. Tab in the context of a list indents the list
1. Shift+Tab in the context of a list de-indents the list
1. If not in a list, Tab should move to the next available input field.

[2015-08-19 02:35] AllanYangZhou opened #912 "Rich-text component editor modal does not appear if the component is the only thing in the RTE"
In the RTE, clicking on a rich-text component will *usually* bring up the edit modal, but if it is the only content in the editor, this does not work. To reproduce this bug:

1. In the rich text editor, clear out all content (or just start from a completely blank state)
1. With the RTE now empty, insert a rich-text component (such as a link)
1. Click on the component

A modal should appear, but it

[2015-08-19 02:40] AllanYangZhou opened #913 "Incorrect cursor placement after pasting into RTE"
Usually, when pasting content into the Rich Text Editor, the cursor is placed at the end of the pasted content, as it should be. However, if a rich-text component is the last element of the pasted content, the cursor is instead placed before that component. To reproduce this bug:
1. Starting from an empty RTE, type some text and then add a rich-text component (like a link) to the end
2. Copy both

[2015-08-19 02:43] AllanYangZhou opened #914 "In Firefox, rich-text component preview icons are resizable"
Currently, the rich-text component preview icons used in the Rich Text Editor are images. Unfortunately, Firefox believes this makes the preview icons resizable.

To reproduce this bug, simply insert a rich-text component (like a link) into the RTE in Firefox. Click on the component, and you will see the resizing handlebars appear.

[2015-08-19 02:47] AllanYangZhou commented on #775
Hi Sean,

I've separated out all of these problems into their own separate issues. I've added links to each issue in my list above. Unfortunately, I don't think I can add labels, so could you add them and then close this issue?

[2015-08-19 03:44] seanlip commented on #775
Thanks a lot @AllanYangZhou -- looks great! Just FYI, I changed "widget" to "rich-text extension", since we're not using the term "widget" any more. Closing.

[2015-08-19 03:44] #775 closed

[2015-08-19 03:49] seanlip commented on #914
NB: this might be fixed automatically if #909 is.

[2015-08-19 19:18] BenHenning commented on #892
I think the backend design document looks good and that this is ready to begin development.

[2015-08-19 20:15] BenHenning commented on #874
Sean opened the specified usability test issue in #907. We also addressed the final code review comments from Google Code, so this issue is now completed. A pull request will be created when the branch is ready to go into develop after the usability testing loop is complete.

[2015-08-19 20:15] #874 closed

[2015-08-21 07:46] seanlip opened #916 "Create category-specific images for the gallery tiles"
In the gallery, we represent explorations as tiles with thumbnail images. We’d like these images to be inviting and evocative of the content of the exploration, but at the moment they are just copies of the Oppia logo with a background colour:

<p align="center">
  <img src="https://cloud.githubusercontent.com/assets/10575562/9403658/db69c6fa-479d-11e5-842c-17bf1cd2b146.png" alt="Screenshot of the

[2015-08-21 07:46] seanlip commented on #557
Refiled as #916 (with a picture!).

[2015-08-21 07:46] #557 closed

[2015-08-21 07:54] seanlip opened #917 "Make the error pages more friendly."
If you go to a page that doesn’t exist, or if there is a system error, etc., websites generally show the user an error page. In Oppia, there are four types of errors that can occur:
  * malformed request (you entered some input that the site can’t process
  * page not found
  * you don’t have permission to access this page (e.g. the creator page for a private exploration)
  * something went wrong

[2015-08-21 07:56] seanlip opened #918 "Make the 'no search results found' message in the gallery more friendly"
1. Go to the gallery and search for explorations that aren't there.
2. You get a rather standard 'no results' message. It would be nice to brighten this up with a picture and a suggestion for something to do next.

[2015-08-21 07:56] seanlip commented on #464
Re-filed as #917 and #918.

[2015-08-21 07:56] #464 closed

[2015-08-21 18:31] sfederwisch opened #919 "Make numeric input interaction accept percents"
Numeric input should accept all of these as the same number (or at least allow these to be supported if desired)

.725
0.725
72.5%

[2015-08-21 18:33] sfederwisch opened #920 "Make numeric input interaction accept parameters"
Currently text input will allow you to say something like "answer equals {{x}}", but numeric input will not. It would be nice to allow expressions in the rule parameter fields.

[2015-08-21 21:56] sfederwisch opened #921 "Jump from editor state straight into that state in play through"
It would be nice to preview a specific state without having to replay all the states before it. This is particularly annoying for long explorations.

[2015-08-21 21:58] sfederwisch commented on #921
This can be really hard to do with parameters as well, since you can have lots of conditional statements on them in previous states.

[2015-08-21 21:58] sfederwisch opened #922 "Jump straight from play through to that state in editor"
When I see a bug in my exploration play through, it can be really hard to find it in the editor.

The name of the state is not shown in the play through so I end up having to click through states and find the text, and often end up forgetting what the bug was in the meantime.

[2015-08-22 03:05] seanlip commented on #921
I think the tricky part here is the UX for getting the creator to set explicit values for the parameters. Maybe we can show a dialog that allows them to do this.

@sfederwisch would you prefer to play from that state forward through to the rest of that exploration, or just test out that state in isolation? If the latter, the testing UI that @BenHenning has built may be able to help with that.

[2015-08-22 03:09] seanlip commented on #673
/cc @sfederwisch (who also requested this)

[2015-08-22 03:09] seanlip commented on #922
Duplicates #673.

[2015-08-22 03:09] #922 closed

[2015-08-23 07:16] #581 closed

[2015-08-23 07:17] #875 closed

[2015-08-23 22:51] seanlip commented on #556
@jacobdavis11, @hazmatzo:

I've taken a pass at cleaning up the interaction; please see the number-with-unit-interaction branch. I also rebased it on top of develop.

@jacobdavis11 could you please test this and make a list of what still needs to be done before a merge with develop? The issues I noted (and haven't sorted out yet) were:

  * [user-visible] The parser really needs to output better e

[2015-08-23 22:51] seanlip commented on #766
Closing this review issue. See #556 for follow-up.

[2015-08-23 22:51] #766 closed

[2015-08-23 23:09] seanlip opened #923 "Hide "advanced options" in the editor behind an exploration setting"
We currently have a section named 'parameters' that sits at the bottom right of the exploration editor, and this is confusing for new users who don't know what parameters are and don't want to use them. We're also going to be introducing new functionality soon (gadgets and triggers) that will probably be advanced for the new user.

Thus, the proposal is to have some options in the Settings tab of

[2015-08-23 23:16] seanlip commented on #822
Closing. Filed #923.

[2015-08-23 23:16] #822 closed

[2015-08-23 23:18] #407 closed

[2015-08-24 04:22] seanlip opened #924 "Implement the redesign of the gallery"
This is a record of the code review request #853 sent by @amgowano for the "two-columns-gallery" branch. The following UI changes remain:

1. The UI doesn't match the mocks exactly.
2. If the objective of one exploration is too long to fit on a card, it then goes off the card and appears behind another one. (Try loading the "Welcome with Gadgets" exploration.)

/cc @amgowano @BenHenning

[2015-08-24 04:23] seanlip commented on #853
Remaining changes filed in #924. Closing.

[2015-08-24 04:23] #853 closed

[2015-08-24 06:17] seanlip commented on #866
Re-filed as pull request #925. Closing.

[2015-08-24 06:17] #866 closed

[2015-08-24 07:58] seanlip commented on #794
This has been reopened as pull request #926. Closing.

[2015-08-24 07:58] #794 closed

[2015-08-24 08:40] #891 closed

[2015-08-24 08:40] #741 closed

[2015-08-24 09:59] BenHenning opened #929 "Remove cloned explorations"
The cloned_from property in ExplorationRights should be deprecated and all cloned explorations removed from http://www.oppia.org. (Functionality for cloning explorations was removed in early 2014 in order to avoid having lots of duplicate explorations in the library.)

[2015-08-25 12:15] nachi11 commented on #919
I am a beginner and would like to add this feature. As of now I have forked the repo and got the clone on my local machine. What should I do next?

[2015-08-25 18:45] seanlip commented on #919
Hi @nachi11, thanks for contributing to Oppia!

First, please follow the instructions in [CONTRIBUTING.md](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md), including signing the CLA so that we can accept your code contributions. These instructions also give details on how to go about submitting a pull request to the repository.

For this issue in particular, do the following:
  1. Sta

[2015-08-25 18:46] seanlip commented on #870
This is now PR #931. Closing.

[2015-08-25 18:46] #870 closed

[2015-08-26 05:25] seanlip opened #936 "Design a learner dashboard"
It would be nice for learners to have a dashboard where they can see which explorations they've visited.

/cc @amitdeutsch

[2015-08-26 05:27] seanlip opened #937 "Changing the status of a feedback thread should un-disable the 'save' button."
1. Go to the creator view of any exploration.
2. Go to the feedback tab.
3. Start a new thread.
4. Open that thread, and change its status. The 'Save' button is still grayed out.

Instead, when the status is changed (or anything is typed into the input field), the 'save' button should become clickable.

/cc @amitdeutsch

[2015-08-27 21:28] #917 closed

[2015-08-28 05:28] nachi11 commented on #919
@seanlip Thanks for the detailed explanation. I managed to start a local instance of Oppia. Created a new exploration and was able to reproduce the problem.
I looked at #934 and it looks like it solves the given issue. If this commit is merged it should solve this issue.

[2015-08-28 05:33] seanlip commented on #919
Thanks for confirming, @nachi11! Yep, I think #934 will fix this.

Would you like another issue to tackle? If so, I think #937 might be a good start. It should be fairly straightforward.

Also, please don't forget to sign the [CLA](https://goo.gl/forms/AttNH80OV0) -- without this, we won't be able to accept your contributions. Thanks!

[2015-08-28 07:36] seanlip commented on #937
Note for first-timers: the relevant code is in `core/templates/dev/head/exploration_feedback.html` and `ExplorationFeedback.js`. Have a look in particular at the condition for ng-disabled on the buttons.

Before submitting a PR, please also manually test that the different scenarios work as expected (changing status, changing status and adding text, changing to a different status and back to the o

[2015-08-28 07:38] seanlip commented on #914
Note for contributors: the rich-text editor is in core/templates/dev/forms/formBuilder.js. Look for the textAngularRte directive, and the config block immediately above it.

[2015-08-28 07:39] seanlip commented on #913
Note for contributors: the rich-text editor is in core/templates/dev/forms/formBuilder.js. Look for the textAngularRte directive. For this issue, you'll probably want to investigate the code in the config block immediately above it.

[2015-08-28 07:39] seanlip commented on #912
Note for contributors: the rich-text editor is in core/templates/dev/forms/formBuilder.js. Look for the textAngularRte directive. For this issue, you'll probably want to investigate the code in the config block immediately above it.

[2015-08-28 07:44] seanlip commented on #911
Note for contributors: the rich-text editor is in core/templates/dev/forms/formBuilder.js. Look for the textAngularRte directive, and the config block immediately above it.

The rich-text editor uses the third-party [textAngular](https://github.com/fraywing/textAngular) library. We might have to modify sendKeyCommand in textAngular/src/main.js (note also the _keyMappings stuff in textAngular/src/t

[2015-08-28 07:44] nachi11 commented on #919
Sure, I will work on #937 and get back to you. Thanks for the help!

[2015-08-28 07:47] nachi11 commented on #937
I'll work on the fix and will notify you @seanlip.

[2015-08-28 07:48] seanlip commented on #901
Note to contributors: the relevant files are `core/templates/dev/head/galleries/Gallery.js` and `gallery.html`.

It might also be a good idea to do some informal usability testing to see what the correct behaviour is (or whether this is even desirable), so that there's a system for transforming a search query into fields in the modal. This is easy to do -- just ask a friend what they'd type in the

[2015-08-28 07:55] seanlip commented on #900
Note to contributors: This is actually a full-stack feature, but both the frontend and backend parts are reasonably straightforward.

For the frontend, see:
  * `core/templates/dev/head/components/exploration_creation_button.html`
  * `core/templates/dev/head/components/explorationCreationButton.js`

Add a new field for tags following the existing examples, using the existing tags field at `core/t

[2015-08-28 07:57] seanlip commented on #937
Great, thanks. Would you mind doing the CLA thing? Then I can add you as a contributor to the repository, and assign you to this issue.

[2015-08-28 08:03] seanlip commented on #801
@ben-targan -- I just realized I'm going to be away for a while, but you're going to be sending first drafts of paper prototypes in a couple days (while I'm away). So, in the meantime, please could you get feedback from @BenHenning and @bhaumikdebanshu? (They'll receive any messages you add to this thread.)

Thanks!

[2015-08-28 08:12] seanlip commented on #798
Notes for contributors:

Please feel free to tackle individual parts of this at a time in separate pull requests. (Some of the individual parts are quite straightforward.)

  1. The text for this warning is contained in `_NULL_INTERACTION_HTML` in `core/templates/dev/head/player/PlayerServices.js`.
  2. This may require server-side validation in `core/controllers/reader.py` before the exploration

[2015-08-28 08:15] seanlip commented on #858
Note for contributors: the relevant files are
  * `core/templates/dev/head/editor/StateResponses.js` (see `$scope.ANSWER_GROUP_LIST_SORTABLE_OPTIONS`)
  * `core/templates/dev/head/editor/state_editor_responses.html`

Each answer group corresponds to a `<li ng-repeat>`, and all these are contained in a `<ul>` element that binds to `ANSWER_GROUP_LIST_SORTABLE_OPTIONS`.

[2015-08-28 08:17] nachi11 commented on #937
I have filled in the CLA form.

[2015-08-28 18:19] sfederwisch commented on #726
Oh yeah. The reason we don't have it is because it is always 0. client_time_in_secs was intended to count from the start of that state. When a state is hit, it has always been exactly 0 seconds since they have hit that state.

[2015-08-28 20:35] sfederwisch commented on #726
Added a comment to this effect in https://github.com/oppia/oppia/pull/941

[2015-08-28 20:54] #726 closed

[2015-08-28 21:01] sfederwisch commented on #921
I was thinking more of a jump in and continue playing through.

The flow I was going through was something like:
* Playing through the exploration
* Find a bug
* Go to editor to fix that bug
* Go back to exploration to continue debugging

[2015-08-28 23:02] #919 closed

[2015-08-28 23:06] seanlip commented on #921
Thanks for the clarification!

/cc @bhaumikdebanshu for info -- this may be a useful workflow datapoint for the editor redesign.

[2015-08-28 23:11] seanlip commented on #937
Thanks! I've invited you to the list of committers (though you'll have to accept before you show up in the github dropdown for assignees).

[2015-08-28 23:34] amitdeutsch opened #942 "Feedback tooltip input text is too light to read"
In the improved-skin branch, text that is input into the feedback tooltip widget app ends up as very light grey, which is unreadable. The 'stay anonymous' label is also very light grey. I suspect this is because of a CSS class that's being over-applied.

[2015-08-29 05:13] #882 closed

[2015-08-29 07:44] seanlip commented on #942
Fixed in https://github.com/oppia/oppia/commit/c0b7d466a52a5fbaf5d5bdde8bee4eb18efedd90. Thank you for reporting!

[2015-08-29 07:44] #942 closed

[2015-08-31 05:16] ben-targan commented on #801
I've attached my first draft of mock-ups.  Any comments or suggestions would be appreciated.

![unselected](https://cloud.githubusercontent.com/assets/11862526/9572420/bdf2d674-4f7d-11e5-948c-41d51f9b1e80.png)
![comparing](https://cloud.githubusercontent.com/assets/11862526/9572421/bdf396b8-4f7d-11e5-8157-f4d691993e95.png)
![selected](https://cloud.githubusercontent.com/assets/11862526/9572422/bdf

[2015-09-01 03:17] stephanie-barry commented on #801
Yes @ben-targan ! This does exactly what I was wanting in the original feature request. Thank you so much for making it easier to compare revisions with the UI and the instructions there.

[2015-09-01 03:22] wxyxinyu commented on #801
That looks great! I have a question: @ben-targan, are you planning to make it possible to compare more than two versions at the same time? The current comparison only allows you to compare two.

[2015-09-02 02:32] ben-targan commented on #801
@wxyxinyu , I think that makes sense as far as the check boxes work.  However, I think that the window underneath where the changes are highlighted would get a little cramped if more than two or three versions are compared.  Also, @stephanie-barry , I'm glad it looks as intended.

[2015-09-02 06:08] BenHenning commented on #801
This looks like good work so far, thanks @ben-targan! To clarify: can it still only compare 2 revisions? If so, the wording might be a bit confusing. It says to select two or more revisions to compare. That's misleading if it can only compare two revisions.

[2015-09-03 16:36] wxyxinyu commented on #801
The currently implemented comparison function only compares 2 versions,
unless @ben-targan wants to extend this to allow comparing more versions.

On Wednesday, September 2, 2015, BenHenning <notifications@github.com>
wrote:

--
Cheers,
Xinyu

[2015-09-03 17:31] ping7680 opened #945 "Content development slowdown"
Here's a copy of the Q&A email for this issue.

1. About how much time is spent working in the exploration editor before you begin to notice performance issues?
2. What Operating System and web browser are you using?
3. What sort of computer are you using to work with Oppia?
    * Is it a laptop, desktop PC, or Mac?
    * What brand and version is it?
4. Roughly how complicated is the exploration?

[2015-09-03 17:32] ping7680 opened #946 "Line spacing is inconsistent for different paragraphs in the RTE"
1. Regarding the spacing differences, is this when you are typing into the state content box or does it come up somewhere else (e.g. when filling in text input lines for an interaction)?

1. Usually in the content box

[2015-09-03 18:24] BenHenning commented on #801
Thanks for the clarification Xinyu! In that case, I do think the wording should be updated and the workflow reflect only having 2 options. For instance, if I select 2 checkboxes, I probably shouldn't be able to select any others (this is one option for fixing 2 options with checkboxes; there are other possibilities, as well).

[2015-09-03 18:25] BenHenning commented on #945
Thanks for creating this issue!

On Thu, Sep 3, 2015 at 10:31 AM, ping7680 <notifications@github.com> wrote:

[2015-09-03 18:26] BenHenning commented on #946
Thanks for creating this issue!

On Thu, Sep 3, 2015 at 10:32 AM, ping7680 <notifications@github.com> wrote:

[2015-09-03 23:18] edallison commented on #885
I'd like to help work on this issue although I'm a little lost on where the relevant code is.

[2015-09-04 03:17] edallison commented on #885
Nevermind.  I'm assuming /core/templates/dev/head/editor/exploration_statistics.html and the .js file would be a good place to start.

[2015-09-04 04:49] gsur24 commented on #913
I'd like to have a shot at this bug, but I might need a little guidance.

[2015-09-04 05:08] AllanYangZhou commented on #913
Hi Gokul, thanks for looking into this. I can try my best to answer any questions you have (I'll be out of town this weekend though).

[2015-09-04 06:45] BenHenning commented on #885
Hello @edallison! I'm glad you're interested in contributing. There are several places that will help shed context on this problem and you identified 2 of them. See the following:

/core/templates/dev/head/editor/exploration_statistics.html
/core/templates/dev/head/editor/ExplorationStatistics.js
/core/controllers/editor.py (class ExplorationStatisticsHandler): this provides the data from the back

[2015-09-08 19:49] ping7680 opened #949 "Session expired issue"
Hi,

Without knowing my Oppia session expired, I worked on an exploration for some hours. When trying to save I got the message "Warning! Your session has expired, and unfortunately your changes cannot be saved. Please refresh the page." A nice feature would be to not allow editing of an exploration during an expired session. Thanks.

[2015-09-08 20:12] BenHenning commented on #949
I'm sorry to hear about you losing your work. This is related to #898 and I think is a reminder that implementing auto-saved drafts is becoming increasingly important. Thanks for reporting this. I'm marking it as a duplicated of #898, feel free to post any additional information in that thread.

[2015-09-08 20:12] #949 closed

[2015-09-08 20:13] BenHenning commented on #898
Noting that this feature will also affect people who are working on a single exploration for a long time and end up with a timed-out session, losing their work. This has been recently reported as an issue (see #949).

[2015-09-09 03:07] edallison commented on #885
While running the test server I haven't been able to change the "Times Entered" state counters at all. The Exploration Completion chart does however seem to be responsive.  Am i missing something?  If not was this a known issue?

[2015-09-09 04:35] BenHenning commented on #885
In order to see 'times entered', you need to run the StatsAggregator job.
You can do this by going into the admin panel (while logged into Oppia as
an administrator) and scroll down to the continuous jobs section. Clicking
the start button next to the stats aggregator job will begin it. The admin
panel is accessible from the profile sub-menu (which appears when hovering
over your profile image in

[2015-09-10 05:10] jacobdavis11 commented on #556
Also todo:
 - Add rules for "just units correct" and "just numbers correct".

[2015-09-10 23:21] ping7680 opened #950 "Underscore in state name breaks exploration overview"
I was trying to save and had an error on one of my cards. Looking at the Exploration Overview, I could not navigate to the card to fix the error. See attached.

![bug](https://cloud.githubusercontent.com/assets/14113573/9803479/db87cdcc-57d7-11e5-926b-248c4c5d8fde.JPG)

[2015-09-11 23:39] BenHenning commented on #950
Could you try and list the steps you took prior to the error happening? Also, are you able to reproduce it?

[2015-09-12 07:11] seanlip commented on #801
@ben-targan, thanks for the prototypes!

Just checking: did you get a chance to iterate on them further? Also, do you have a testing plan?

[2015-09-12 07:20] seanlip commented on #913
Hi @gsur24! Just to follow up -- do you have any specific questions?

[2015-09-12 08:21] MAKOSCAFEE commented on #716
@seanlip I think since the project also use Font Awesome the better way of doing this without messing with  a lot of css can we use font awesome instead of bootstrap glyphicon-star?. Font awesome has empty, full and half full stars.
Thanks!

[2015-09-12 08:35] seanlip commented on #716
Yep, sounds good to me!

[2015-09-13 00:39] seanlip commented on #937
Hi @nachi11 -- any progress?

[2015-09-13 22:14] andrieski opened #953 "Language change for Text Input Customization Dialog,"
Currently, when a user selects the Text Input Interaction, a modal opens and they can choose the height of the input. I am proposing changing **Number of rows** to **Height (in rows)** because rows is a more  technical term and by itself, is a unit, like inches or feet.

[2015-09-13 22:18] andrieski opened #954 "Editor: change how user picks the next state"
In the Add Response Modal for Interactions, the last section is "And afterwards, directs the learner to...". Instead of a select box, it might make more sense to have a radio group, clickable options, or anything that is inline. This would save the author an extra click and make all his options visible. Maybe it could be something like
`[try again]`   `[next card if there is one]`    `[a new Card

[2015-09-14 03:45] ben-targan commented on #801
@seanlip , I changed the text as @BenHenning  recommended.  I plan to test the changes with some students and teachers at my school this coming week.

[2015-09-14 08:04] seanlip commented on #953
Hi @andrieski, this seems reasonable to me! It's a fairly straightforward change; would you like to do this?

The description is in extensions/interactions/TextInput/TextInput.py. Please make sure all backend tests still run fine once the changes are made.

[2015-09-14 08:06] seanlip commented on #954
Hi @andrieski, I'm afraid I don't fully understand the options being described here. Would you mind sketching some wireframes of the proposed UI?

Also /cc @BenHenning.

[2015-09-14 08:08] seanlip commented on #905
Current plan (per conversation with Xinyu):

  1. Generate the docs
  2. Get the doc generation to work automatically
  3. Fix formatting/layout issues

[2015-09-15 05:06] BenHenning opened #956 "Look into renaming BaseObject to BaseAnswerType and introducing a general class for answer types"
'BaseObject' is an overloaded term and does not immediately indicate it refers to answer types. However, before just renaming it to something more specific, research needs to be done in order to determine whether it is used in places other than interactions and answers.

This issue also includes investigating introducing classes for each answer type with validation functions so we can perform gene

[2015-09-15 05:36] BenHenning opened #957 "Interpolate answers within feedback presented by training interface"
Currently, when a user goes through a training interface they are presented with answers and feedback that may refer to the {{answer}} parameter. This should be interpolated to show the answer the creator inputted, or the answer they are training that a learner provided earlier.

[2015-09-15 07:01] seanlip commented on #801
Sounds good, thanks! Look forward to hearing about what you discover.

[2015-09-15 07:38] BenHenning commented on #954
For additional clarity, I believe she's discussing replacing the drop-down menu of states with a list of radio buttons, where the first button is 'Repeat' and the last button is 'A new card called...' where the same text input box to give a state name is enabled when that radio button is clicked. The idea is to avoid making users click twice to select a state. This also has the added benefit of wo

[2015-09-15 08:18] seanlip opened #958 "Redesign TextInput interaction"
As part of the learner view redesign, the TextInput interaction should be redesigned in accordance with the following mockups (for the single-line case):

![textinput](https://cloud.githubusercontent.com/assets/10575562/9871289/796765a8-5b47-11e5-95cb-4fe49701e222.png)
![textinput2](https://cloud.githubusercontent.com/assets/10575562/9871291/7ac153dc-5b47-11e5-8a25-7d26580d4bbd.png)

Code can be f

[2015-09-15 08:19] seanlip opened #959 "Redesign multiple-choice interaction"
As part of the learner view redesign, the MultipleChoiceInput interaction should be redesigned in accordance with the following mockup:

![multiplechoice](https://cloud.githubusercontent.com/assets/10575562/9871333/cc90aa64-5b47-11e5-817a-44c9df0f2172.png)

Code can be found in extensions/interactions/MultipleChoiceInput.

[2015-09-15 08:20] seanlip opened #960 "Redesign 'Continue button' interaction"
As part of the learner view redesign, the Continue interaction should be redesigned in accordance with the following mockup:

![continue](https://cloud.githubusercontent.com/assets/10575562/9871347/e7f9196c-5b47-11e5-98b8-3b931320a697.png)

Code can be found in extensions/interactions/Continue.

[2015-09-15 08:22] seanlip opened #961 "In the learner view on small screens, bring the user and Oppia icons into the card body."
In the learner view on small screens, the user and Oppia icons should be inside the card, instead of being clipped off the left side of the screen.

Note that the HTML and JS files for this can be found in `extensions/skins/conversation_v1`.

[2015-09-15 08:27] seanlip opened #962 "Once the learner has chosen an answer, animate the appearance of Oppia's response."
Load the Welcome exploration and click on the first choice in the first card. The feedback from Oppia just appears, rather than sliding into place/appearing. This is somewhat jarring.

It would be nice to animate the response, somehow. This needs some interaction design, though.

/cc @amitdeutsch

[2015-09-15 08:30] seanlip opened #963 "In the learner view, expanding previous answers should happen in a smooth animation."
Load the Welcome exploration, answer the first question, then enter several wrong answers for the "What language is Oppia in" question.

Click the "Previous responses" header. Two things should happen:
  * The rightwards arrow should rotate 90 degrees and point downwards. Currently the transition is instantaneous.
  * The previous answers will expand downwards from this header. This should animate

[2015-09-15 08:33] seanlip opened #964 "If there are too many progress dots in the learner view, make them scroll horizontally 'underneath' the left and right arrows."
Create an exploration with 30 states and play through it. The dots just wrap when the screen is small, moving atop the cards.

It would be better to have the progress dots scroll horizontally in such a way that the left and right arrows are always visible (and therefore the dots will be scrolling 'underneath' the left and right arrows).

Note: the code to edit can be found in `extensions/skins/con

[2015-09-15 08:36] seanlip opened #965 "Prevent horizontal scrollbar from appearing briefly during the side-by-side card animation in the learner view."
Load the Welcome exploration, go to the learner view, and make the screen narrow. Play the exploration until you get to the 'map' card, then click on the bottom bar to switch to the map card.

The horizontal scrollbar in the browser window appears briefly before the card slides over. This is probably worth fixing for people with smaller monitors, since the brief appearance of the horizontal scroll

[2015-09-15 08:39] seanlip opened #966 "In the 'Welcome' demo exploration, the map centers in the wrong place on small screens."
Load the welcome exploration and play it in the learner view. When you get to the state asking to find Helsinki, the map looks different depending on whether you played through the entire exploration with a small window versus large window.

If you do it in a large window, the supplemental exploration (correctly) centers on Finland. If you do it as a smaller window and click on the map to make it

[2015-09-15 08:41] seanlip opened #967 "Animate scroll-to-top in the learner view."
When the current card is long, and the learner transitions to a new card, we scroll to the top after the transition. This currently happens instantaneously, but instead the scrolling should animate.

Note to contributors: When implementing this, please ensure that it doesn't conflict with any existing scrolling behavior. The relevant file is `extensions/skins/conversation_v1/Conversation.js`; look

[2015-09-15 08:47] seanlip opened #968 "In the learner view, the loading dots for Oppia's feedback look weird in Chrome on Mac."
Load the Welcome exploration, go to the learner view, and submit a response. While waiting for Oppia's response to appear, the loading dots look really big, and they stack on top of each other when visible.

This behavior occurred using Chrome on Mac (reported by @amitdeutsch) , but I couldn't reproduce this using Chrome on Linux. These screenshots illustrate the issue. The second and third dots s

[2015-09-16 05:05] #953 closed

[2015-09-16 05:05] seanlip commented on #953
This is a pretty straightforward fix, so I've done it. Thanks for reporting, @andrieski! I definitely like the newer version.

[2015-09-16 05:39] andrieski commented on #953
Thanks! and sorry, I did intend to accept this, but was a bit busy :(

[2015-09-16 07:56] seanlip opened #972 "If a developer has python3 installed, ensure that python2.7 is used instead"
(/cc @daniel3735928559 @BenHenning)

Some Linux machines map 'python' to 'python3', and this causes issues when the `start.sh` script is run. Instead, we should probably do the following:

  * In `scripts/setup.sh`, check the python version (`python --version`). If it's equal to 2.7, assign 'python' to `PYTHON_CMD`.
  * Otherwise, check whether the 'python2.7' command exists. If so, assign 'python

[2015-09-16 18:17] #937 closed

[2015-09-16 22:33] edallison commented on #960
I've been having some trouble in changing the md-button class in extensions/interactions/Continue/Continue.js to something other than md-button-success. For instance I've tried changing it to md-button-primary but when I load the test page md-button-success is still being passed in.  Am I doing something wrong or going in the wrong direction completely?

[2015-09-17 00:24] amitdeutsch commented on #960
Hi Ed,

I think you don't actually need to change anything in Continue.js; rather, you want to change the CSS of the continue button, which exists in two places:

extensions/interactions/Continue/Continue.html, line 2, and
extensions/skins/conversation_v1/player.html, line 102

In both of these cases, the <md-button> element has an 'md-button-success' class, which just gives the button font its cu

[2015-09-17 00:31] seanlip commented on #960
Yep, that sounds right -- thanks @amitdeutsch! I think you can name the class .oppia-learner-continue-button or something like that.

@edallison, note that there are two uses of the Continue button. One is in the interaction itself (similar to all the other interactions). The other arises when there's a card for which the learner types an answer to a card, after which Oppia gives some feedback *an

[2015-09-17 01:02] edallison commented on #960
Thanks for the feedback @amitdeutsch and @seanlip! I was not aware of extensions/skins/conversation_v1/player.html which explains a lot of my issues.  The reason I mentioned the md-primary class was that the "prefab" [raised primary button here](https://material.angularjs.org/latest/#/demo/material.components.button) looked almost identical to the markup (aside from a slightly different color blue

[2015-09-17 02:03] jacobdavis11 commented on #960
Hi Ed

These classes are used by our integration testing system to identify elements in the page to interact with; you can read more here: https://github.com/oppia/oppia/wiki/Writing-Integration-Tests

You don't need to do anything with these, and they won't have any impact in production. However you do need to ensure they stay in the code and in the appropriate location. So for example if you mov

[2015-09-17 02:10] edallison commented on #960
Thanks @jacobdavis11!

[2015-09-17 07:39] seanlip commented on #801
/cc @brokenairplane (who also found the two columns of radio buttons confusing)

[2015-09-17 17:12] ping7680 commented on #950
I had an underscore in the title when trying to create a new card, which was invalid. There was no error  prompt, so when I created the card, the Exploration Overview disappeared.

![image](https://cloud.githubusercontent.com/assets/14113573/9940349/30192f2e-5d24-11e5-9f90-7179e2801ba6.png)

[2015-09-18 21:22] BenHenning commented on #950
Yeah, that's definitely an issue. Thanks for finding the problem, @ping7680. This can now be addressed.

For anyone who wishes to work on this project, the relevant code is in:

https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/answer_group_editor.html
https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/answerGroupEditor.js
Validator for stat

[2015-09-18 21:23] BenHenning commented on #950
@ping7680 are you interested in working on this bug?

[2015-09-18 21:45] edallison commented on #958
On the mockup there is a microphone icon to the right.  Are we looking to just imitate the general look of the input boxes or are we also integrating voice search into the input box?

[2015-09-18 21:59] seanlip commented on #958
Ah, good question. For now, definitely the former, since that's much easier.

We should do the latter eventually though -- there's a dormant pull request for this (#928) that's been sitting around for a while.

[2015-09-18 22:09] ping7680 commented on #950
Suure, how can I help?

John

On Fri, Sep 18, 2015 at 2:23 PM, BenHenning <notifications@github.com>
wrote:

[2015-09-18 22:22] edallison commented on #959
Are the triangular bullet points in the mockup provided in some existing library within the project? If not should the graphic be pulled from anywhere in particular or created in a graphics editor?

[2015-09-18 22:26] seanlip commented on #959
No particular stipulations, AFAIK. You could either create it in a graphics editor, or pull something similar from font-awesome or bootstrap glyphicons, both of which the project makes use of. I think the latter would be preferable if possible.

Also /cc-ing @amitdeutsch, in case they had a particular icon in mind.

[2015-09-18 23:00] BenHenning commented on #950
Well, in particular I'm wondering if you're interested in programming a fix for the bug. If not, that's completely fine. :) We can assign it to someone interested in a starter project, as well.

[2015-09-19 01:56] amitdeutsch commented on #959
Hi Ed,

We just did an informal usability test, and it occurred to us that the triangles in the original screenshot are the same triangles that are used for expanding and collapsing sections of text, so let's not use those. Instead, let's use the Material Design radio buttons:

<img width="567" alt="screen shot 2015-09-18 at 6 53 53 pm" src="https://cloud.githubusercontent.com/assets/1188049/99741

[2015-09-19 02:05] ping7680 commented on #950
I have no idea how to program, but thanks for the offer!

John

On Fri, Sep 18, 2015 at 4:00 PM, BenHenning <notifications@github.com>
wrote:

[2015-09-19 02:22] BenHenning commented on #950
No problem. Thanks again for reporting the issue!

[2015-09-19 21:39] seanlip commented on #960
Fixed in #973.

[2015-09-19 21:39] #960 closed

[2015-09-20 22:10] #716 closed

[2015-09-21 01:18] #762 closed

[2015-09-21 07:50] #961 closed

[2015-09-21 08:05] seanlip commented on #695
Hi @won0089! Just thought I'd follow up on this; did you discover anything?

[2015-09-22 20:39] seanlip opened #978 "Add a pre-commit script"
Currently, a fair amount of review time is spent on helping new contributors (and sometimes existing contributors) correct lint issues. It would be much better for this process to be automatic and self-service, so that reviewers' time can be used effectively, and the codebase can still be clean.

The suggested deliverable is therefore a standalone script that can be run using "bash scripts/pre_com

[2015-09-23 01:26] leandrotoledo commented on #978
Hi Sean, this is what I've done so far (I made some comments below the changes): https://github.com/leandrotoledo/oppia/commit/83b1c26b6455c1d580c77e712907db7bef39b252

Some questions before I keep going,

- What's going to be the definition of fail? I thought about a minimum score to hit, if so, what score would be? (all hooks can be skippable by $ git commit -n though).

- Any ideas what -i y do

[2015-09-23 01:49] seanlip commented on #978
Hi @leandrotoledo,

Thanks! Some responses:

  * Depends on what the score means. Though I would think 100% -- all tests pass, no lint errors, etc.
  * Hmm, not sure. I think it's a flag for 'pylint' but I couldn't find a definition. I think it's fine to just remove it as long as everything still works; I don't think anyone currently uses the `.pylintrc` file actively.
  * That sounds fine; we can

[2015-09-23 21:43] #958 closed

[2015-09-24 00:41] seanlip commented on #963
Hi @edallison, here's a slightly more challenging project! I suggest doing it in two stages: first, a standalone commit for animating the little arrow, and then a separate commit for animating the expansion of the previous answers.

For the first one, it might be a good idea to try some experiments on e.g. JSFiddle to get a sense of how to do the animation, before doing it properly in the oppia co

[2015-09-24 03:56] #959 closed

[2015-09-24 07:10] #865 closed

[2015-09-24 07:11] seanlip commented on #516
Fixed -- a new MP4 video extension has been added to develop. Closing.

[2015-09-24 07:11] #516 closed

[2015-09-24 09:02] #964 closed

[2015-09-25 01:03] seanlip opened #985 "Refactor Protractor tests"
The Protractor tests could probably be more thorough, have less duplication, and be better organized to make sharding more effective. Per discussion with @jacobdavis11 :
- Do an audit/redesign of the Protractor tests to ensure coverage and reduce duplication.
- Collect the stuff that isn't covered by these tests into a playbook for manual per-release testing (or as a reference document for use whe

[2015-09-25 01:57] seanlip opened #986 "Replace JSRepl dependency for running Python code"
The JSRepl project, which we depend on for client-side Python code execution, has been [deprecated](https://github.com/replit/jsrepl/blob/master/README.md). In addition, the Python interaction is currently failing on Chrome (but not Firefox) with the error

[code]

We should probably move to a different client-side code execution library for Python. Possibilities include:
  - http://www.skulpt.org

[2015-09-25 22:42] amitdeutsch opened #987 "Music interaction looks squished when first loading"
<img width="609" alt="screen shot 2015-09-25 at 3 39 58 pm" src="https://cloud.githubusercontent.com/assets/1188049/10113670/be5a630c-639b-11e5-8a38-63b88e3af0b5.png">

The interaction becomes 'unsquished' after a few seconds, but this looks like a bug.

It would be better if the music interaction weren't visible at all until it was fully loaded.

[2015-09-25 23:42] bjvoth commented on #968
Hi Sean - I am using Chrome on Mac and noticed that occasionally one of the dots would appear larger than the others, although most often it would resize itself appropriately after a second. I did not notice any stacking of the dots. The whole process happened too quickly for me to screen grab it.

[2015-09-26 10:14] MAKOSCAFEE commented on #950
Hi @BenHenning and @seanlip !
I went through this issue today and it seems like there are global INVALID_NAME_CHARS which are important for verifying URL too and they comprise of underscore. And also there is also a back end test which also looks if the state_name(specifically)  contains underscore.  Do we need to make tests ignore underscore or remove underscore in the list of valid characters?.

[2015-09-26 21:08] seanlip commented on #950
I'd forbid it; we should make the client do so, too.

[2015-09-27 04:24] #907 closed

[2015-09-27 04:29] #113 closed

[2015-09-27 04:40] MAKOSCAFEE commented on #950
Actually If you include any of the INVALID_NAME_CHAR in any your state_name. client side  sends a warning.   Its just the warning message is confusing as it excludes  underscore as a invalid character. I used the same state name as @ping7680  B19_22a and here was the warning.
![b221](https://cloud.githubusercontent.com/assets/6409210/10121238/f8b27594-64ea-11e5-9130-7fb5a1acf138.png)

[2015-09-27 05:14] seanlip commented on #950
Ah yes, the warning text should be corrected to remove the 'underscores' part.

 In addition, it would be nice if the warning message showed up in red instead underneath the text input field, similar to what happens if you enter an invalid username on the registration page. Perhaps we could use ng-messages and ng-pattern for this? (I'm not sure.) But basically, if the destination field is incorrec

[2015-09-27 07:29] MAKOSCAFEE opened #990 "Rating stars are invisible."
Go to [oppia home page](https://www.oppia.org/) and look at the exploration which are already rated like welcome to oppia exploration. Rating stars can not be seen because they are white and the background is white too.

[2015-09-27 16:18] bjvoth opened #991 "Textbox underline shortcut doesn't work."
The keyboard shortcut Command-U on a Mac does not engage the underline method in text boxes. The shortcuts for Bold and Italic both work.

[2015-09-27 20:38] seanlip commented on #990
Thanks for catching this! I've applied a hotfix.

    https://github.com/oppia/oppia/commit/97f073f07ba317fd654cee9e9bbc66c5f1be18df

[2015-09-27 20:38] #990 closed

[2015-09-28 07:54] seanlip commented on #674
I think this needs some preliminary investigation, actually: is there a way to display HTML in a dropdown?

[2015-09-28 19:53] #950 closed

[2015-09-29 06:34] seanlip opened #995 "Add Protractor e2e tests to Travis-CI"
This follows on from #933 (/cc @sunu).

The current Travis-CI integration with Oppia currently includes backend and Karma tests, but it does not include Protractor integration tests. Ideally, it should include them (and test both Firefox and Chrome).

@sunu has done some preliminary investigation with Saucelabs: the integrations worked fine and the tests did run. However, for some reason, the GAE

[2015-09-29 06:48] seanlip commented on #954
@andrieski, just following up on this: would you mind making some pictures? Just trying to understand what the proposal is so that we can figure out what to do.

Thanks!

[2015-09-29 22:58] seanlip commented on #968
@edallison , can you reproduce this?

[2015-09-29 22:59] seanlip commented on #962
@edallison -- this is a bit under-specified, but do you think you could take a stab at prototyping it, and maybe we can work off of that?

[2015-09-29 23:03] edallison commented on #962
Sure, I'll give it a shot.

[2015-09-29 23:14] edallison commented on #968
Using Chrome on Mac I haven't been able to reproduce the loading dots being enlarged or stacking.  They appear to normal to me.

[2015-09-30 00:45] seanlip opened #1001 "Add karma coverage statistics to Travis runs"
We currently have a measure of backend python test coverage due to codecov (thanks @sunu)! Would it be possible to add something similar for frontend Karma tests?

There's something called karma-coverage that's used in `run_js_tests.sh`, so the functionality already exists when the script is run in a standalone way.

/cc @sunu

[2015-09-30 00:45] seanlip commented on #962
Thanks, Ed! Also /cc @amitdeutsch.

[2015-09-30 00:50] amitdeutsch commented on #962
Thanks for taking this on, and let me know if you have any questions or want any help!

[2015-09-30 02:27] seanlip commented on #978
Hi @leandrotoledo, just wanted to check: did my answers address your questions? Happy to discuss more if necessary.

[2015-09-30 03:04] BlitheBrandon commented on #968
I tested this as well, using the most current Chrome version (45.0.2454.101 64-bit) on a Mac (Yosemite). I'm seeing small dots, one after another. Not large and not on top of each other. Also, I tried the same steps, but zoomed in at 175%, and the dots were still small.

[2015-09-30 03:33] seanlip commented on #968
Thanks a lot, @edallison and @BlitheBrandon! Really appreciate the feedback.

Perhaps it was a transient error. @bjvoth , @amitdeutsch , does this still appear on your machines? If so, what versions of Chrome are you running?

[2015-09-30 08:25] seanlip commented on #986
Note to contributors: this involves creating a new interaction. Please see this [wiki page](https://github.com/oppia/oppia/wiki/Creating-Interactions) for instructions on how to do this. You can use the code in `extensions/interactions/CodeRepl` as an example.

[2015-09-30 08:49] virajprabhu commented on #986
I'd like to contribute. I've set up Oppia and signed the CLA. However, I'm new to open source and so would appreciate some guidance.

[2015-09-30 08:59] seanlip commented on #986
Hi @virajprabhu, nice to meet you! I've sent you an invite to the Oppia team; thanks for helping out!

I'm cc-ing @jacobdavis11, who generally takes care of extensions within Oppia -- he should be able to help if you have questions. (Speaking of which, do you have questions? If so, please let us know, and we can try to answer them!)

[2015-09-30 11:55] virajprabhu commented on #986
Thanks! I'm trying to understand the code structure and was exploring some of the Oppia workflows. I've been browsing the issues tracker for minor bugs or a suitable starter project, but haven't found any that are still open/not already assigned. Is there one you could suggest?

[2015-10-01 01:45] bjvoth commented on #968
It seems as though the Oppia live version has been updated, as the Welcome exploration no longer looks the same as it did previously. I do not notice anything out of the ordinary with the dots anymore.

[2015-10-01 01:57] ben-targan commented on #801
I have another draft done; feedback from tests was largely positive; all participants felt that the check boxes were easier to use than the radio buttons.  The only suggestions I received were to increase the text size in the body of the comparison window, and fix the note on the compare button.

![unselected](https://cloud.githubusercontent.com/assets/11862526/10211138/ffecdd24-67bd-11e5-80ed-566

[2015-10-01 07:44] seanlip commented on #763
/cc @stephanie-barry (original reporter)

[2015-10-01 07:45] seanlip commented on #792
/cc @stephanie-barry (original reporter)

[2015-10-01 07:45] seanlip commented on #754
/cc @stephanie-barry (original reporter)

[2015-10-01 07:46] seanlip commented on #756
/cc @stephanie-barry (original reporter)

[2015-10-01 08:43] seanlip commented on #801
Hi @ben-targan, thanks! Some questions:

  - How did you conduct the usability tests? What questions did you ask?
  - The mocks you attached in the previous message look the same as the original ones, except for the removal of "or More" in the text below the button. Is this intended?
  - Can you convert the validated mocks into a spec, so that a developer can help implement it? I.e., have a mock o

[2015-10-01 19:24] seanlip commented on #801
/cc @virajprabhu, who's going to take a look at implementation.

@ben-targan and @virajprabhu, it might be a good idea for both of you to coordinate -- I'll introduce both of you over email!

[2015-10-01 23:45] seanlip commented on #986
(Just to close the loop on this thread, I've suggested @virajprabhu take on #801.)

[2015-10-02 04:30] seanlip commented on #968
Thanks, @bjvoth !

@amitdeutsch , could you please check if this is still an issue or not at your end?

[2015-10-02 05:10] seanlip commented on #968
Checked with @anuzis and he reports no issues. Closing due to inability to reproduce; it was probably a transient thing.

[2015-10-03 01:11] seanlip commented on #968
Actually -- I just noticed this happen today on Chrome 45.0.2454.99 on Ubuntu. It doesn't often happen but this indicates that it's still a bug, albeit a sporadically-occurring one. So, reopening.

[2015-10-03 19:47] amitdeutsch opened #1006 "Remove auto text focus on mobile"
When playing an exploration on the phone, the software keyboard takes up half the screen. As a result, auto focusing on the text input in a card causes most content and feedback to get covered up.

[2015-10-03 21:06] seanlip commented on #1006
Makes sense.

Would it make sense to also disable autofocus for all interactions (e.g. numeric input, continue, etc.) when the screen is too small? If so, what does "too small" mean? I assume that this would refer to the height and not the width.

[2015-10-03 21:41] seanlip commented on #1006
Alternatively, we could have a focusService.setFocusIfVisible() method instead -- which sets focus on the element only if the bottom of the element is, say, 10px above the bottom of the viewport. I feel that this might be more error-prone than just disabling autofocus outright, though.

[2015-10-04 13:15] shoaib1987 commented on #965
I was unable to reproduce exact issue using Chrome on Ubuntu 14.04. Brief appearance of the horizontal scrollbar did not push up the bar to switch between cards(bar at the top to switch between card #1, card #2 ...). Instead what I see is horizontal scrollbar disappears, this makes impossible to scroll horizontally for people with small screen.

[2015-10-04 19:52] seanlip commented on #965
Note: I got a message in email from @shoaib regarding this issue this morning, but oddly enough, it doesn't seem to be in this thread. Adding it for future reference.

@shoaib, if you're reading this, whould you mind adding some screenshots to illustrate the last part? Thanks!

[2015-10-04 20:45] seanlip commented on #801
Update: @ben-targan and I spoke briefly about this, and we noted the following:
  - The mocks above are in the wrong order; the third one should come before the second.
  - There are some unanswered questions:
    - What happens (to the button, the text below it, etc.) when a user selects one checkbox?
    - What happens when a user selects a second unchecked checkbox?
    - What happens if they (

[2015-10-04 20:50] seanlip commented on #695
(Note: @won0089 is busy until the end of October, so I'm temporarily de-assigning this issue in case other folks would like to take a stab at it.)

[2015-10-04 23:35] shoaib1987 commented on #965
I was unable to reproduce exact issue using Chrome on Ubuntu 14.04. Brief appearance of the horizontal scrollbar did not push up the bar with buttons to switch between cards(bar at the top to switch between card #1, card #2 ...). Instead what I see is horizontal scrollbar disappears, this makes impossible to scroll horizontally for people with small screen. Do we need horizontal bar at the bottom?

[2015-10-04 23:39] shoaib1987 commented on #965
![screenshot-welcome to oppia - oppia - google chrome](https://cloud.githubusercontent.com/assets/1144927/10270971/4cbb03e6-6b4d-11e5-9c44-463ca7e05792.png)

[2015-10-04 23:42] seanlip commented on #965
Hm, interesting. Thanks for confirming that this issue wasn't reproducible! We should probably look into that and figure out when it actually occurs.

As for your question, I'm looking at the screenshot you sent and it looks like the whole page is visible (i.e. there isn't any real need to scroll). So from your screenshot I don't think we need a scrollbar, but do you have an example of a case whic

[2015-10-04 23:51] shoaib1987 commented on #965
Whole page is visible but map doesn't fit in it. User can see Finland but complete map is not visible. If user wants to scroll to left or to right then its not possible.
![screenshot-welcome to oppia - oppia - google chrome-1](https://cloud.githubusercontent.com/assets/1144927/10271027/e28d10ac-6b4e-11e5-91c6-63676f2145c9.png)

[2015-10-05 01:26] seanlip commented on #965
Oh, that's interesting -- for the map, the expected behaviour is actually to click-and-drag on it in order to pan the map. This is how Google Maps works in general; there's usually no scrollbar. So I don't think this particular case is an issue. I think @amitdeutsch was referring more to the horizontal scrollbar in the browser window, which would appear at the very bottom of the screen.

[2015-10-05 23:14] jacobdavis11 opened #1009 "Add protractor tests for the map interaction"
I was working on protractor tests for the map interaction a while ago but couldn't get the clicking to work. The code so far is given below and it would be great for someone to get fix it up and add it to the codebase.

Note from Sean: problems with the map interaction are frequent so an integration test here would be valuable.
####

var forms = require('../../../../core/tests/protractor_utils/for

[2015-10-06 03:49] virajprabhu commented on #801
Looks good, I'll implement the change once you freeze the design. Regarding the questions about checkbox behavior:
<li>I think either disabling others after selecting two would make the workflow clearer. Replacing the first checkbox would reduce the number of clicks required, but is slightly confusing behavior for a checkbox. <li>Enabling the Compare button after exactly two are selected seems cle

[2015-10-06 05:39] anuzis opened #1011 "Table stripes for Editor sidebar panels"
Let's sharpen up the Editor side panels with cleaner CSS stripes for parameters and gadgets.

Example CSS: http://getbootstrap.com/css/#tables-striped

Current:
![currentsidebars](https://cloud.githubusercontent.com/assets/1622682/10300927/ede1712a-6c37-11e5-9ee8-71873135aff2.png)

Suggested UI mockup:
![editorstripedsidebars](https://cloud.githubusercontent.com/assets/1622682/10300928/f58cf2f0-6c

[2015-10-06 06:01] anuzis opened #1012 "More intuitive visibility UI for gadget settings modal."
Gadget visibility is currently managed by authors in the editor using a list of checkboxes for each card name. This works alright for short explorations like the example in the screenshot, but can get more difficult to use for large explorations with many states.

![cardvisibilityorder](https://cloud.githubusercontent.com/assets/1622682/10301194/ca8ee6e6-6c3a-11e5-8eae-36fa6341d351.png)

Possible

[2015-10-06 06:44] seanlip commented on #801
Hi @virajprabhu, thanks for the feedback! Would you mind filing the stuff in the last paragraph as two new issues? I think they aren't in scope for this particular redesign, but it would be great to ensure they don't fall through the cracks.

Thanks!

[2015-10-06 09:24] virajprabhu opened #1013 "Exploration Graph Legend rectangle in Exploration History is clickable"
Presently the rectangle in the Exploration Graph Legend that shows up when you click on 'Compare Selected Revisions' in the Exploration History tab is clickable. This is misleading as it does not trigger any action on click.

[2015-10-06 19:56] seanlip commented on #923
@jacobdavis11 has written a spec, so I'm moving this to implementation and assigning it to myself.

[2015-10-06 21:11] edallison commented on #962
I've made 3 different demos of possible animations.  They are all pretty basic but if anyone has different suggestions I am open.  Videos posted here: https://goo.gl/photos/Yxcf83TPibsmYncS8

Also, if there is a preferred host/format for mockup demos let me know and I will gladly adopt.

[2015-10-06 23:32] edallison commented on #962
Or if I should just pick one I can do that too.

[2015-10-06 23:52] amitdeutsch commented on #962
Hi Ed,

Wow, great job, and thanks for creating the different options! We usually host mockups (and in this case videos) inside of our Drive folder, but this was much faster and easier since it was a one-off situation, so I think what you did is great.

That said, I prefer the first video option, where the only animation is the change in opacity. The others feel unnecessarily complicated.

As an a

[2015-10-07 15:08] ben-targan commented on #801
Hi @virajprabhu , I have a more complete flow ready.  As per @seanlip 's suggestion, I've made the flow interactive with Marvel.  Here's a link to it:  https://marvelapp.com/7d1619#8129208 .  This design should be close to final, but I am going to do another round of usability testing.

[2015-10-07 18:25] edallison commented on #963
Should this be closed?  I think this was already merged.

[2015-10-07 19:35] seanlip commented on #963
Oh, yes! FYI, if you put something like "fixes #..." in your commit message then github will do this automatically -- see [this link](https://help.github.com/articles/closing-issues-via-commit-messages/).

For reference: this was fixed in #994 and #999 .

[2015-10-07 19:35] #963 closed

[2015-10-08 01:13] BenHenning opened #1019 "Consolidating URL constants between backend/frontend and introduce URL interpolation service in frontend"
The overall idea is to eliminate all URL constant duplicates in both the frontend and backend by consolidating them into a single Python file in the backend. These URLs would be sent to the frontend as a constant table, wherein they would be supplied to a shared frontend angular service which would allow for URL interpolation. The URLs would need to follow the style set in main.py where URLs have

[2015-10-08 03:21] seanlip commented on #902
@edallison: this is a little speculative, but I think it would be a fun project to try (that's also somewhat larger than the other ones). I think this is something that would be great for younger learners, or learners for whom English isn't their first language.

[2015-10-08 06:36] virajprabhu opened #1020 "Cannot see exploration graph when window size is small while editing an exploration"
While editing an exploration, if the browser window size is small, you can't see the Exploration Overview at all. It can't be scrolled to either. I've attached a screenshot that highlights the issue.
![noexplorationoverview](https://cloud.githubusercontent.com/assets/8670301/10359304/e31790b6-6db4-11e5-87e5-73ddf2bb90ed.png)

[2015-10-08 06:44] virajprabhu opened #1021 "Redesign exploration graph legend in Exploration History in a separate container"
It would be more intuitive to redesign the exploration graph legend inside Exploration History in a separate container so that it does not look like a part of the results of the comparisons of two revisions.

[2015-10-08 06:45] virajprabhu commented on #801
Looks good, @ben-targan! I'll get started with the implementation and if you have any more tweaks I'll include those later.

[2015-10-08 10:56] DewarM commented on #100
# Vagrant and Oppia

I wanted to try and help improve the setup instructions for Windows users, it took me hours of tinkering to get Oppia running on a windows machine and I thought I would share what I have found.
I first wanted to test the method of setup that I had used to get Oppia running on a clean machine, I chose to try installing Oppia on a Windows 7 VM with OracleVM. This was easier said

[2015-10-08 13:06] coryroush commented on #902
Text-to-speech functions are pretty common for applications and utilities similar to this that could be used for independent learning in a classroom.

[2015-10-08 17:28] #967 closed

[2015-10-09 01:28] seanlip commented on #1006
Update: I spoke to @amitdeutsch about this, and realized I was completely off the mark. It is indeed the mobile/desktop distinction that's the issue.

On a mobile device, when a field is focused on, a keyboard shows up and cuts off most of the screen. This behaviour just doesn't happen on desktops, regardless of the screen dimensions. So, we do actually need to check what the device type is.

With

[2015-10-09 01:32] seanlip commented on #962
NB: This has been partially addressed by @edallison in #1017 (thanks, Ed!). Leaving this issue open, since it would be nicer to do a follow-up commit at some point with a height animation.

Note that one technique for this is to use a separate offscreen card in order to provide a 'test space' to calculate what the expected final height should be. We already do this for calculating the target heigh

[2015-10-09 07:53] BenHenning opened #1022 "Fix the Lazy Magician exploration"
The parameter being used to count the number of steps taken to guess a number in Lazy Magician is currently accumulating wrong in the new learner view. It always thinks 2 tries are taken to guess, regardless of the actual number.

[2015-10-09 07:56] seanlip commented on #1022
Other issues with this exploration (also noted by @BenHenning ):

1. The 'guessing' cards have no content, which looks weird.
2. It's unclear how to get to the end of the exploration. You'd think that guessing in the minimum number of tries would get you there, but in reality you actually have to talk to your friend about what's going on.

[2015-10-09 17:30] BenHenning opened #1024 "Create script to simplify releases"
To help the more frequent release schedule, a Python or Bash script should be created which essentially does the following:

1. Switches to the develop branch.
2. Uses 'git describe --abbrev=0' to get the current version.
3. Uses 'git log $CURRENT_VERSION..HEAD' (or a variation) to gather all commits since the previous release.
4. First, gets the log of all merges and scans for hashtags to get iss

[2015-10-09 17:57] BenHenning opened #1025 "Refactor the frontend and increase testing coverage"
The frontend should be refactored to decouple many of the rigidly bound components and also to better separate functionality across the pages, services, controllers, and directives of the Oppia frontend. The exact nature of this refactor needs to be finalized with the Oppia development team. The refactor will also be taking place adaptively; that is, all future changes to the frontend will be foll

[2015-10-09 23:10] MAKOSCAFEE commented on #674
@seanlip I tried using angular-html-bind and ng-repeat instead of ng-option and still was not displayed in right format. I will keep exploring.
![only](https://cloud.githubusercontent.com/assets/6409210/10407475/c14c5058-6ef3-11e5-858d-ed90eecf7a9c.png)

[2015-10-10 01:17] wxyxinyu opened #1026 "Links in wiki direct to .md file instead of wiki page"
The links in the github wiki which link to other wiki pages link to the .md file (e.g. linking to "https://github.com/oppia/oppia/wiki/Creating-Objects.md" in the Creating Interactions page), which redirects me to the raw markdown content. It should direct to "https://github.com/oppia/oppia/wiki/Creating-Objects". This happens in a few pages across the wiki.

[2015-10-10 04:30] wxyxinyu commented on #1026
This is fixed.

[2015-10-10 04:30] #1026 closed

[2015-10-10 04:42] wxyxinyu commented on #905
Update:

Autodoc was generating a lot of dependency errors around importing modules in extensions. Abandoning this for now.

[2015-10-11 19:46] hassanshamim commented on #1024
I'd like to give this a shot.  Is it okay if I use an external python library like [gitpython]( https://github.com/gitpython-developers/GitPython)?

[2015-10-11 21:46] seanlip commented on #1024
Thanks, @hassanshamim!

Just to check, what are the benefits of using gitpython, as opposed to using something like subprocess.check_output('git', ...) like we currently do in scripts/deploy.py? If there are significant benefits, I'm fine with bringing it in, since it's quite a small download, but I also want to try and minimize our reliance on unnecessary dependencies if possible.

[2015-10-11 21:53] #1001 closed

[2015-10-12 12:50] virajprabhu commented on #801
Hi @seanlip, @ben-targan, I've implemented the design shared in the Marvel app. If there are any further changes, I could incorporate them. If not, I'll go ahead and submit a pull request for the same.

[2015-10-12 14:53] virajprabhu commented on #1013
Hi @seanlip, should I just remove the clickable property from the rect to resolve the issue? I've located the component and it's not used anywhere else, so I don't think anything else will break as a result.

[2015-10-12 18:32] seanlip commented on #1013
Yep, please go ahead and submit a PR. The main thing is indeed to ensure this doesn't affect other graphs as well.

(An alternative would have been to add a transparent non-clickable overlay on top of the legend graph, but given what you said, this may not be necessary.)

[2015-10-12 18:38] seanlip commented on #1024
Also, @hassanshamim, I just sent you an invite to the oppia team on GitHub. Can you accept it [here](https://github.com/oppia)? Then I can assign you to this issue.

Thanks!

[2015-10-13 04:50] #986 closed

[2015-10-13 23:39] seanlip commented on #801
Thanks, @virajprabhu! I suggest submitting an interim PR anyway, so that we can do the review in parallel. Then, if @ben-targan has additional changes I think we can add commits to modify it as needed. Would that work?

[2015-10-14 08:44] seanlip commented on #978
Hi @leandrotoledo -- just wanted to follow up on this. Did you have a chance to look into it?

I also wanted to mention that @MAKOSCAFEE has started work on a frontend JS linter (see #1029) to complement the backend Python linter you're working on. Perhaps both your work can be combined at some point?

[2015-10-15 01:08] ben-targan commented on #801
Sorry for the late response, at this time I have no additional changes.  Thanks @virajprabhu and @seanlip !

[2015-10-15 06:25] #1006 closed

[2015-10-15 08:41] seanlip commented on #448
Note: it might also be a good idea to rethink the icons for the other custom buttons in the RTE toolbar.

[2015-10-16 15:18] bbriggs commented on #995
Given my interaction with Travis on the last PR, I kind of have a personal beef with it now. I think I'd like to take this one on, if you don't mind.

[2015-10-16 18:30] seanlip commented on #995
Hi @bbriggs -- sure thing. I've assigned you to it!

[2015-10-16 18:47] bbriggs commented on #995
Thanks!

[2015-10-16 22:16] BenHenning opened #1038 "Redesign the admin panel UI"
The current admin panel UI is following a legacy design that has been completely removed in the rest of the code base. It's time to modernize the UI and redesign it in such a way as to help maintainers when they are trying to use it. In particular, it would be nice slim down the display for active and past jobs so that it doesn't make the page exceedingly long. There are also potential improvement

[2015-10-17 04:02] virajprabhu commented on #801
Sorry about the delay @seanlip, I was a little caught up with work. I'll submit the PR today.

[2015-10-17 04:24] virajprabhu commented on #801
Submitted PR.

[2015-10-17 14:18] wxyxinyu commented on #801
I have a question about the design: What should happen if there is only one version? It seems a little strange to ask the user to select 2 checkboxes when there is only 1. Perhaps we should hide all the history-comparison-related stuff until there is at least 2 versions?

[2015-10-17 16:24] BenHenning commented on #400
I couldn't reproduce this using Safari on iOS 9.0.2. I used the following exploration:

https://www.oppia.org/explore/0eXE2-kW6x1s

[2015-10-17 16:24] #400 closed

[2015-10-18 00:47] ben-targan commented on #801
I agree that the directions don't apply if there is only one version.  Perhaps some text could be added which says to save more versions?

[2015-10-18 00:52] seanlip commented on #801
@ben-targan, would you be able to come up with the text, and test this with users?

Also, I'm not sure that that particular text should be added -- it seems to be a weird inversion of priorities. The history log is just supposed to be an accurate reflection of the current list of commits, and it seems odd to encourage users to make an additional save so that they can see another item in that list.

[2015-10-18 01:01] ben-targan commented on #801
@seanlip , I understand what you mean, and I think that my previous idea was a little convoluted.  How about the text under the button is changed; explaining why a comparison cannot be made. Like this:
![no selection 1 draft](https://cloud.githubusercontent.com/assets/11862526/10561982/3dd8c0ba-7512-11e5-9a15-eb5c6b93b939.png)

[2015-10-18 01:14] seanlip commented on #801
That seems better to me, though I still think it needs usability testing in order to see if people would be confused by it. For example, here, you have a checkbox that is tickable but doesn't really do anything, so it's a bit like a staircase that 'leads to nowhere'.

An alternative would be to just hide the checkbox, the button, and the button text. I think all this should still be tested, though

[2015-10-18 21:14] seanlip commented on #801
Hi @virajprabhu -- I just chatted with @ben-targan and he's actually going to be away the whole of next week, so I'll be taking over the design part of this.

With regards to the case of there being only one version, would you mind hiding all the history-comparison-related stuff until there are at least 2 versions, as @wxyxinyu suggested? My inclination would be to do this as well, and over the co

[2015-10-20 00:15] seanlip commented on #972
Fixed as #1007. Thanks @bbriggs!

[2015-10-20 00:15] #972 closed

[2015-10-20 14:55] virajprabhu commented on #801
Sure @seanlip , I'll make that change.

[2015-10-20 19:48] #966 closed

[2015-10-20 22:20] seanlip commented on #902
@edallison: fyi, this might be useful! https://developers.google.com/web/updates/2014/01/Web-apps-that-talk-Introduction-to-the-Speech-Synthesis-API?hl=en

[2015-10-20 23:53] edallison commented on #902
Thanks Sean.  I'm glad you brought this up as it is actually the API I've been looking at implementing(at least initially).  I was however a little concerned with cross browser compatibility. Would you think this would be a better solution as opposed to a separate third party library?

[2015-10-21 00:29] seanlip commented on #902
I think it depends on what's available -- last time I checked, support for speech-related APIs was all over the map. I'd say the ideal would be a solution that works in all browsers, but if we can't get to that, then a solution that just works in Chrome is better than no solution. What alternatives have you found?

[2015-10-21 15:43] edallison commented on #902
A couple I have looked at are http://www.cstr.ed.ac.uk/projects/festival/ and http://responsivevoice.org/ though I still haven't done enough research to see how viable they might be.  In the meantime I will work on a PR for the Web Speech API you mentioned as it seems to be relatively straightforward. Once that is working I'll continue exploring some more versatile solutions.

[2015-10-21 19:04] seanlip commented on #902
It looks like Festival won't work -- it's written in C++, which App Engine doesn't support. However, responsivevoice looks promising.

I agree with building out the Web Speech API version as a first step, though. It should be straightforward to replace it with other third-party libs later.

[2015-10-22 03:04] wxyxinyu opened #1047 "Add git hooks"
See: https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks

It will be nice to have server-side pre-receive hooks for linting and tests, and/or instructions for setting up pre-commit hooks. Some investigation is also needed for whether running tests is feasible, because it seems that pre-receive tests hold up the push until it is completed.

[2015-10-22 03:26] seanlip commented on #1047
/cc @MAKOSCAFEE @leandrotoledo (any interest?)

[2015-10-22 06:12] BenHenning opened #1048 "Ensure all karma frontend tests are testing code wrapped in IIFEs"
Per #1043, all of the frontend code served to the browser is now wrapped in immediately-invoked function expressions (IIFEs). This is to help reduce global namespace pollution across the different files of the Oppia frontend. However, this IIFE wrapping happens in the backend, which means all karma frontend tests are testing code which is not wrapped in a IIFE (karma tests directly refer to the fi

[2015-10-22 06:35] seanlip commented on #1048
Note for contributors: this link may be helpful.

    http://karma-runner.github.io/0.10/config/preprocessors.html

[2015-10-22 16:09] jacobdavis11 opened #1049 "Clarify score bar's message about parameters"
The score bar relies on parameters being available. If there are none defined it says "No available parameters to follow. Please add one first". I suggest adding an instruction to ensure parameters are enabled on the settings tab.

(Also, if I previously enabled then disabled parameters it will allow me to use "phantom" parameters, but to be fair that sounds like a very niche case and I can't thin

[2015-10-22 16:11] jacobdavis11 opened #1050 "Clarify when duplicate gadgets are forbidden within a state"
If I create a score bar and then click "Add gadget" and try to create a second score bar, it will let me go through the steps until throwing a warning "The bottom gadget panel can only have one gadget visible at a time".

I suggest instead in the "Add a gadget" modal having the gadgets grouped by location, and only showing locations which are still free for this card.

[2015-10-22 16:12] jacobdavis11 opened #1051 "Bug in which two identical gadgets can exist within the same state"
Create states called 1 and 2. Enable gadgets, create a score bar active on state 1 only and a second score bar active on state 2 only. Then edit the first score bar to be active on both states. I now have two score bars for state 2, and both are displayed in the preview tab. However when I try to save the backend throws a warning and won't let me.

[2015-10-22 16:13] jacobdavis11 opened #1052 "Clarify text of the End Conversation interaction within the editor"
The "End Conversation" interaction displays on both the main and preview tabs of the editor as "RETURN TO EDITOR" which seems like a misleading representation of what the student will see, especially on the main tab where it isn't even clickable.

[2015-10-22 16:16] jacobdavis11 opened #1053 "Order that states are displayed within the gadget editor seems random"
Within the editor for a gadget there is a list of states from which to select where the gadget will be active. The order of this list seems to be pretty random, so if possible it would be nice to make it a bit more structured, perhaps the order in which states were created, or an order derived from the way in which they are laid out in the state graph.

[2015-10-22 16:17] jacobdavis11 commented on #1051
I suggest within the gadget editor that you disable the checkboxes of states that already have a gadget within the relevant location.

[2015-10-22 16:18] jacobdavis11 opened #1054 "Make the layout of the exploration graph more stable under small changes"
Add a multiple choice interaction with destination states called "1" and "2". The state graph is now a tree with leaves "1" on the left and "2" on the right. In state 2 add a continue interaction moving to a new state called "2b". In the state graph the positions of "1" and "2" swap; now "2" is on the left and "1" on the right.

It would be good if they layout of the state graph could remain as co

[2015-10-23 08:20] jg1141 commented on #902
Here I've got the HTML5 SpeechSynthesisUtterance going for single words in JavaScript:

function playWord(word) {
    var msg = new SpeechSynthesisUtterance(word);
    window.speechSynthesis.speak(msg);
};

For example, click P to put C16 on the phoneme bar, then the magnifying glass (search) to find the words starting with phoneme C16, then one of them, such as PLATFORM.

Voice used is the one av

[2015-10-23 23:09] BenHenning opened #1058 "Map interaction overlaid ontop of card for tablets in landscape view"
Steps to reproduce:

0. Make sure your tablet is in landscape view.
1. On a tablet (I'm using a Nexus 10), begin playing the Welcome to Oppia exploration
2. When you reach the "Where's Helsinki" card, the map interaction is on top of the card, blocking the card from being used.
3. When switching to portrait view, this unblocks the card since it moves the interaction offscreen and available through

[2015-10-24 00:14] seanlip commented on #995
Hi @bbriggs, did you make any headway with this?

I also just wanted to mention that I recently updated the integration tests in develop, so they might be more stable now than when @sunu tried to bring them in. So if previous things did not work, it might be worth trying them again.

@sunu, do you happen to have a diff of what you did available (to get protractor up and running on Travis), so that

[2015-10-24 05:46] kevinlee12 opened #1061 "In the Item Selection interaction, the exploration creator should be able to randomize the selections."
Exploration creator should be able to dictate the order (ie. random or specified order) the selections are shown to the learner in Item Selection Interaction.

[2015-10-24 07:25] seanlip opened #1062 "Make the wait time for end-to-end tests more easily configurable."
In `core/tests/protractor_utils/general.js`, we specify a `WAIT_TIME` constant. The best value for this constant tends to be somewhat machine-dependent in practice, and it would be nice to instead make this a parameter that is moved into `protractor.conf.js`, so that it is easy for people to tweak it on their own machines.

See [this Stack Overflow article](http://stackoverflow.com/questions/29406

[2015-10-26 00:47] bbriggs commented on #995
I've been poking at Travis with Sauce from a different repo and branch, trying to learn more about it. @sunu, if you have anything started I'd love to take a look at it and see if I can start with that.

[2015-10-27 04:41] BenHenning opened #1064 "Spec out implementing Oppia on Android"
In particular, we need to determine how we can implement Oppia on Android in such a way that it uses as much of the web frontend as possible, but leads to recreating navigation of the Oppia application to be more mobile-friendly (and avoiding the really complex reactive web frontend we need to maintain, otherwise). Not only does this need to be investigated and specified, but it also needs to be d

[2015-10-27 22:35] seanlip opened #1067 "In the third-party installation scripts, install numpy if it isn't present."
For machines which do not have numpy installed, running the backend tests gives an error of the form

    AttributeError: 'module' object has no attribute 'classifier_services_test'

This is because classifier_services_test imports classifier_services, which imports numpy. On some systems, numpy is already installed in `/usr/lib/python2.7/dist-packages/numpy`, and there are no problems on this mac

[2015-10-27 22:40] #696 closed

[2015-10-27 22:59] MAKOSCAFEE commented on #1047
@seanlip  I think I will take this and try to investigate more.

[2015-10-27 23:03] seanlip commented on #1047
Thanks, @MAKOSCAFEE! Assigned you this issue.

Also, btw, you might want to check out what Leandro did [here](https://github.com/leandrotoledo/oppia/commit/83b1c26b6455c1d580c77e712907db7bef39b252) -- maybe we can add Python linting as well, at some point.

[2015-10-28 16:21] maiadeutsch opened #1071 "Animation of card height when transitioning to a new card is inaccurate"
Currently, when the learner view transitions to a new card, the height of the card animates to accommodate the new card contents. However, the card doesn't animate to the correct height, and as a result there is a jitter at the bottom of the card at the end of the animation.

The height animation is off by a different amount for different interaction types. For example, for text and numeric intera

[2015-10-28 16:33] amitdeutsch opened #1072 "User icon appears for a moment then disappears before transitioning to a new card"
If you submit an answer and are redirected to a new card, the user avatar appears at the bottom of the old card for a second and then disappears when the transition animation to the new card begins.

[2015-10-28 16:47] maiadeutsch opened #1073 "Issues with popover for inline representation of supplemental answers"
When using a supplemental interaction (e.g. the interactive map), after submitting an answer, the answer is represented in the tutor card as a one-line description (e.g. the coordinates of the map click). Clicking on the one-line description opens up a popover that displays an image of the submitted answer. There are a few issues with this popover:

1) For the map interaction, the map doesn't actu

[2015-10-28 16:50] amitdeutsch commented on #1071
Note: I just noticed this is happening on my local branch and not on oppia.org, so I'll look into this further.

[2015-10-28 17:01] maiadeutsch opened #1074 "Button stylings are inconsistent"
Currently, we use at least four types of buttons in our interactions:

-A custom blue Oppia button based on md-button (e.g. the Continue interaction)
-A bootstrap-based white button (e.g. the music interaction, the submit button for a multi-line text box)
-A clear floating md-button (e.g. code interaction, graph interaction)
-A flat md-button with no border or background (e.g. the Return to Galler

[2015-10-28 17:07] amitdeutsch opened #1075 "Icon styles are inconsistent"
Currently, we use both bootstrap and material design icons throughout the site. To be consistent, we should only use the material design icons.

Recently, we switched over to using the Material Design Icons Font, whose reference is here: https://www.google.com/design/icons/

An example usage is:
\<i class="material-icons oppia-sidebar-menu-icon">\&#xE88A;\</i>

An example of the kind of icon we sh

[2015-10-28 17:30] amitdeutsch commented on #1071
Confirming that inline interactions animate fine on develop and on oppia.org, but supplemental interaction have the jittering animation problem on develop and on oppia.org.

[2015-10-28 17:43] amitdeutsch opened #1077 "Card tooltips are off-center"
![screen shot 2015-10-28 at 10 42 42 am](https://cloud.githubusercontent.com/assets/1188049/10797599/ab0d88a4-7d60-11e5-971f-405a4db9794c.png)

The tooltip arrow should be pointing directly at the circle.

[2015-10-28 18:17] isaac-friedman commented on #1067
Can I work on this issue? I'm new to contributing to projects on github so I'm not sure if there's a better way to "take" a bug.

[2015-10-28 18:19] jacobdavis11 opened #1078 "Standardise the way protractor tests reference elements of the DOM"
Currently protractor tests use a variety of ways to specify elements of the DOM with which they wish to interact. This should be standardised to follow the priority listing here: https://github.com/oppia/oppia/wiki/Writing-End-to-End-Tests#writing-utilities which in particular calls for the use of specialised classes of the form protractor-test-something whenever possible.

This has already been p

[2015-10-28 18:25] seanlip commented on #1067
Hi @isaac-friedman, welcome -- yes, absolutely, and thanks for helping out!

Would you mind following the instructions [here](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md) to get started? Once you've signed the CLA etc., I can assign this issue to you. I've also sent you an invite to the oppia GitHub team, which you should be able to accept by going to github.com/oppia.

Also, btw,

[2015-10-28 19:01] isaac-friedman commented on #1067
Hi, thanks for having me on the project. I just signed the CLA and I'm setting up my development branch now. I think the best way would be to install numpy for them after a prompt. No one likes having to run a script, have it die, install a dependency and then have to run it again.

[2015-10-28 21:51] BenHenning commented on #1067
I think it's fine to only install numpy if it's not currently installed (though this is sort of a general pattern with most of our third-party dependencies), but I don't think it should be installed to /usr/lib. As far as I know, Oppia is entirely portable once setup and does not change the underlying system (other than the app engine configurations). I would prefer if a local copy of numpy were i

[2015-10-28 22:16] seanlip commented on #1067
Actually, yeah, that might be a better way to go about it. We do similar things already with other libraries like bleach, mapreduce, etc. so it might be a good idea to have a look at those and follow the existing patterns.

[2015-10-28 23:09] amitdeutsch opened #1079 "Look into getting Google (or other) profile photos"
Currently, users are signing in with their Google accounts, but even though they have an existing Google profile photo, they still have to upload a new photo to Oppia. It might be possible (and preferable) to use their Google profile photos as a default, then let them change their photo afterwards.

Another possibility is using Gravatar, which is used by Stackoverflow, Wordpress, and Github:
https

[2015-10-28 23:32] isaac-friedman commented on #1067
@BenHenning Yeah, your approach (without the check) sounds best especially for portability; I'll get on that.

[2015-10-28 23:42] seanlip commented on #954
/cc @ben-targan

[2015-10-29 15:02] amitdeutsch opened #1081 "Feedback popover placement issues"
When rating an exploration, the feedback popover that appears after you click on a star can appear below the screen, which requires you to scroll– it would be better in those cases if the feedback popup appeared above the rating stars instead of below them.

On a phone, the feedback popover often gets cut off on the side of the screen. Ideally, the popover would always be completely visible on the

[2015-10-29 15:05] amitdeutsch opened #1082 "Feedback popover placement issues"
When rating an exploration, the feedback popover that appears after you click on a star can appear below the screen, which requires you to scroll– it would be better in those cases if the feedback popup appeared above the rating stars instead of below them.

On a phone, the feedback popover often gets cut off on the side of the screen. Ideally, the popover would always be completely visible on the

[2015-10-29 15:06] amitdeutsch commented on #1082
Oops, seems this posted as a duplicate– is there a way to delete an issue?

[2015-10-29 15:06] #1082 closed

[2015-10-29 15:10] amitdeutsch opened #1083 "Exploration ratings appear in second-to-last card"
If the second-to-last card in an exploration provides you feedback before directing you to the 'End Conversation' card, a Continue button appears. However, the exploration rating stars appear at the bottom before clicking 'Continue' and moving to the last card. Instead, the exploration rating stars shouldn't appear until the learner actually reaches the last card.

[2015-10-29 15:16] amitdeutsch opened #1084 "Fix display of recommendations at the end of an exploration"
At the moment, if you reach the end of an exploration, you get to see suggestions for further explorations, which looks like this:

<img width="552" alt="screen shot 2015-10-29 at 8 04 20 am" src="https://cloud.githubusercontent.com/assets/1188049/10822494/be0cbc04-7e14-11e5-9b7a-a57d82cca01f.png">

There are three issues with this:

1. The tiles feel crowded in the inline interaction box
2. The c

[2015-10-29 15:31] amitdeutsch opened #1085 "Replace saving modal with a saving popover"
At the moment, when saving changes to an exploration, you save changes in a modal:

<img width="1440" alt="screen shot 2015-10-29 at 8 21 50 am" src="https://cloud.githubusercontent.com/assets/1188049/10822905/3ff559c8-7e16-11e5-8eed-89270ba11e06.png">

This feels very heavy for an action that occurs so frequently. Instead, I would recommend having a lighter-weight popover:

![publishpopover](http

[2015-10-29 15:40] amitdeutsch commented on #709
The current design for the gallery tiles is this:

![1a_explore](https://cloud.githubusercontent.com/assets/1188049/10823353/97dc76a6-7e18-11e5-95a7-286237a8c79a.png)

This relates to #1084 as well

[2015-10-29 15:43] amitdeutsch opened #1086 "After deleting an exploration, redirect to My Explorations"
Deleting an exploration causes me to redirect to the front page. Instead, I would expect to be redirected back to my list of explorations.

[2015-10-29 15:46] amitdeutsch opened #1087 "Delete modal needs slight improvements"
When deleting an exploration, this is the current modal:

<img width="613" alt="screen shot 2015-10-29 at 8 45 00 am" src="https://cloud.githubusercontent.com/assets/1188049/10823592/89c06b8a-7e19-11e5-96af-1d0a349e64da.png">

the 'Delete' button should be red, labeled 'Delete Exploration' and on the right. The other button should be labeled 'Cancel' and should be on the left.

[2015-10-29 15:51] amitdeutsch opened #1088 "Remove feedback for Continue Button interaction"
At the moment, the continue button interaction has space to write feedback:

<img width="718" alt="screen shot 2015-10-29 at 8 49 29 am" src="https://cloud.githubusercontent.com/assets/1188049/10823691/08503e08-7e1a-11e5-8a79-9ebb3beb0200.png">

However, adding feedback to the continue interaction doesn't make sense, because there is nothing to give feedback on. Therefore, the field should just be

[2015-10-29 15:55] amitdeutsch commented on #715
This relates to #1081 as well

[2015-10-29 15:58] amitdeutsch opened #1089 "Do not require default for finite-choice interactions"
Say I have a multiple choice interaction, and each of the choices are accounted for in my answer groups.

At the moment, Oppia will still require me to add feedback or a destination to the default answer group, which doesn't make sense since it will never be reached:

<img width="714" alt="screen shot 2015-10-29 at 8 56 39 am" src="https://cloud.githubusercontent.com/assets/1188049/10823920/2abe3c

[2015-10-29 16:29] amitdeutsch opened #1090 "Feedback seems to be required when it isn't"
Currently, when adding a new rule, the author is presented with a feedback editor:

<img width="608" alt="screen shot 2015-10-29 at 9 16 46 am" src="https://cloud.githubusercontent.com/assets/1188049/10824574/313794de-7e1e-11e5-8c5f-944771ddc1bd.png">

This makes it seem as though the author has to write feedback, when in fact feedback is optional. Instead, it would be cleaner if the feedback edit

[2015-10-29 16:39] isaac-friedman commented on #1067
While I'm at it, I'll see if I can clean up setup.sh a bit.

[2015-10-29 16:47] amitdeutsch commented on #921
Just want to +1 this, I find it incredibly annoying too, and think improvements can be made before the editor redesign.

My suggestions:
-Toggling between preview and edit should always keep you on the card you're on. For example, if I'm on card 3 in edit, and I click on preview, I should be previewing card 3. If I play to card 5 and I click edit, I should now be editing card 5.
-Keep the context

[2015-10-29 17:51] jacobdavis11 opened #1091 "Fix "participation playbook" guidelines"
The first point of the participation playbook is:

1. Once published, explorations can be updated by anyone in the Oppia community. With everyone's input, we can continuously improve explorations and make learning as perfect as possible.

This is not in fact correct as making explorations community-editable is a separate process to publication. Would it be ok to fix this?

[2015-10-29 18:46] seanlip commented on #1091
@jacobdavis11, what's the proposed change?

[2015-10-29 18:48] jacobdavis11 commented on #1091
I thought Amit might prefer to write it, as this is quite a prominent user-facing component.

[2015-10-29 18:52] seanlip commented on #1091
Could you take a stab at it first? I'm mainly trying to get at the intended final result; we can polish the wording later.

FYI we do have suggestions functionality coming in quite soon, which allows anyone to suggest edits to non-community-editable explorations.

[2015-10-29 19:16] jacobdavis11 commented on #1091
I'm afraid I'm not sure of the intended final result, as I don't know what the intention of point 1 originally was.

[2015-10-29 19:19] seanlip commented on #1091
Ah, got it -- sorry, I misread. You're just reporting that it's inaccurate; I had thought you wanted it to say something else instead (but hadn't said what the something else was).

Perhaps this is a no-op for now, though, given that the suggestions functionality is coming in.

[2015-10-29 19:22] jacobdavis11 commented on #1091
I think even then it needs some rephrasing as "can be updated by anyone" is much stronger than "can have suggestions made about it by anyone".

[2015-10-30 01:44] seanlip commented on #1077
@MAKOSCAFEE, mind taking a look at this?

[2015-10-30 01:53] seanlip commented on #858
@MAKOSCAFEE, did you manage to find a solution to this?

[2015-10-30 06:02] MAKOSCAFEE commented on #1077
Sure @seanlip  it looks like tooltip is attached to ```li``` rather than span which is dot itself.

[2015-10-30 06:57] #1077 closed

[2015-10-30 16:37] amitdeutsch commented on #1091
Thanks for binging this up, I agree that it's misleading the way it's currently written, even with the new suggestions functionality. I would recommend 'can be played and commented on by anyone in the Oppia community.' for now, though 'commented on' sounds a bit strange to me.

[2015-10-30 19:56] MAKOSCAFEE commented on #858
@seanlip No actually I could not!.

[2015-10-31 03:11] seanlip commented on #858
OK, no problem! Let me deassign you for the time being, then.

[2015-11-02 03:41] bbriggs commented on #995
Okay, so having done a little more poking at this, I have some questions at this point.

1. I only appear to have the ability to run two concurrent tests, not five. Could it be that you have a different flavor of account? If not, perhaps the resource limits have changed, or maybe the channels you're referring to are different than the "concurrency limit" I'm seeing
2. API keys. There seems to be a

[2015-11-02 07:58] seanlip commented on #995
Alas, I don't know enough about Saucelabs to answer the first two questions -- @sunu, would you be able to help?

However, for the third, what I meant was basically "the aim of this issue is to get protractor tests working with Travis-CI, and if the shell scripts need modifying in order to do so, feel free to do those modifications". I didn't really have anything particular in mind beyond that --

[2015-11-02 10:24] sunu commented on #995
Hey @bbriggs @seanlip

Sorry, I somehow missed the earlier github notifications. I'll write up what I tried in more detail tonight.

[2015-11-02 14:39] sunu commented on #995
Hi @bbriggs,

Regarding your first 2 questions, are you using a personal free trial account of Saucelabs or are you using the [free open source account](https://saucelabs.com/opensauce/) they provide. I used a free open source account. The page states that they provide 5 parallel VMs, so I think these 5 channels connect to these 5 VMs. So basically they are in a way the same limitation.

Regarding

[2015-11-02 16:38] jacobdavis11 commented on #1091
"Commented on" sounds good to me. I have made a pull request here:
https://github.com/oppia/oppia/pull/1100

On Fri, Oct 30, 2015 at 12:37 PM, Amit Deutsch <notifications@github.com>
wrote:

[2015-11-04 06:10] seanlip commented on #1091
Fixed in #1100. Closing.

[2015-11-04 06:10] #1091 closed

[2015-11-04 23:30] seanlip commented on #1067
Hi @isaac-friedman, did you have a chance to look into this? We'd like to fix it soon, since it's causing some issues for developers who don't already have numpy installed.

Thanks!

[2015-11-05 00:19] isaac-friedman commented on #1067
Hi Sean,

Sorry I've been looking at it but it took me a little longer than I
anticipated to learn my way around all the installation scripts. I'll do my
best to get it done by Friday and if not I'll have to relinquish it with
sincere apologies.

Isaac

On Wed, Nov 4, 2015 at 6:30 PM, Sean Lip <notifications@github.com> wrote:

[2015-11-05 00:22] seanlip commented on #1067
Thanks @isaac-friedman, no worries! If you need any help finding your way around, please feel free to ask on the [gitter chat](https://gitter.im/oppia) or oppia-dev@ -- we'd be very happy to help.

[2015-11-05 01:54] BenHenning opened #1102 "Create list of end-to-end tests and objectives"
There should be a list (either in code and/or on the Wiki) which enumerates all of the current end-to-end tests, as well as which aspects of the Oppia application are being tested by each one. The 'aspects list' for each test should list which features and pages the test refers to, as well as which flows through the application are being tested. Finally, each test should have an explicit objective

[2015-11-05 01:54] seanlip commented on #1102
@jacobdavis11, can you take this?

[2015-11-05 02:05] jacobdavis11 commented on #1102
This information should be pretty much contained in the test descriptions, and insofar as it isn't that would be the best place to add it. I don't think a description of what pages each test interacts with is particularly useful as a lot of it is boilerplate. For example the gallery tests first have to use the editor to create various explorations to play around with.

Maintaining a record like th

[2015-11-05 02:05] BenHenning opened #1103 "Consistent naming of tests and scripts"
Oppia has three types of tests:
* Backend (unittest) tests
* Frontend (karma) tests
* End-to-end (protractor) tests

There are some discrepancies in how each of these three types are referred throughout the codebase. The scripts for running each of the above (respectively) are:

* scripts/test.sh
* scripts/run_js_tests.sh
* scripts/run_integration_tests.sh

It would be more consistent if they were

[2015-11-05 02:11] BenHenning commented on #1102
I agree with the concern about skew. @seanlip and I were discussing sharpening the protractor tests by making them more objective-focused than they are right now. Like you mentioned, the gallery tests require using the editor, even though they should be focused on just testing the gallery. Instead, I think we want to move more toward having protractor tests which touch as specific parts of the web

[2015-11-05 02:19] seanlip commented on #1102
Yes, I think it's more the latter: it would be nice to have the protractor tests be smaller and more focused on specific things. This also eases running them in parallel.

For instance, we currently test the learner view by creating an exploration in the editor and then playing it. This results in a lot of ('sums', 'maths') explorations. I think that, instead, we should create demo explorations fo

[2015-11-05 02:30] jacobdavis11 commented on #1102
That makes sense. In particular I like the idea of being able to load a set
of test explorations as that would save a lot of time for things like the
gallery test.

Rather than amending this issue I suggest closing it and adding to this one
https://github.com/oppia/oppia/issues/985 which already addresses the
subject.

On Wed, Nov 4, 2015 at 9:19 PM, Sean Lip <notifications@github.com> wrote:

[2015-11-05 02:36] seanlip commented on #1102
Actually let me do the opposite -- I'll close that issue and keep this one. The reason for this is that I've already addressed part of the other issue by sharding the existing tests.

[2015-11-05 02:39] seanlip commented on #1102
Sorry, scratch that -- I realize now that the first message in this issue thread is somewhat different from where the conversation ended up. @jacobdavis11, going with your suggestion.

[2015-11-05 02:41] seanlip commented on #1102
Closing (and incorporating this discussion into #985).

[2015-11-05 02:41] #1102 closed

[2015-11-05 02:42] seanlip commented on #985
Some additional notes from #1102:

It would be nice to have the protractor tests be smaller and more focused on specific things. This also eases running them in parallel.

For instance, we currently test the learner view by creating an exploration in the editor and then playing it. This results in a lot of ('sums', 'maths') explorations. I think that, instead, we should create demo explorations fo

[2015-11-05 20:57] michaelWagner commented on #987
Fixed by #1101

[2015-11-05 22:21] seanlip commented on #1085
Also /cc @wxyxinyu

Per discussion with @michaelWagner, this also seems like a good opportunity to combine the changelist generation logic with the diff visualization in the history tab, so that we have all the diff stuff in a single location. @michaelWagner is planning to do an analysis of what's needed for this, and break it down into smaller milestones so that we can get started!

[2015-11-05 23:34] amitdeutsch opened #1105 "Exploration graph is off-center until window is resized"
In the editor, if you click on the preview tab, then click on the edit tab, the overview map will appear off-center:

<img width="474" alt="screen shot 2015-11-03 at 6 04 21 pm" src="https://cloud.githubusercontent.com/assets/1188049/10985040/b47a9dd2-83d2-11e5-9840-66c7708f7571.png">

This persists until the window is resized, or until a new active state is selected.

[2015-11-07 06:20] seanlip commented on #1067
**Update**: @isaac-friedman and I have tried, in separate attempts, to get numpy auto-installed when running the startup scripts. Unfortunately, numpy is unlike other third-party Python packages we use, in that it doesn't import nicely out of the box; the Python package download needs to be [built](http://docs.scipy.org/doc/numpy/user/install.html) first. Although numpy is [available on App Engine

[2015-11-07 09:29] seanlip commented on #1103
/cc @jacobdavis11 (Jacob, do you agree with this proposal?)

[2015-11-07 10:26] seanlip commented on #1087
Fixed in commit eb19710bd63be3b3949cc40bf82e1eed01621aa6

[2015-11-07 10:26] #1087 closed

[2015-11-07 10:26] seanlip commented on #1086
Fixed in commit eb19710

[2015-11-07 10:26] #1086 closed

[2015-11-07 10:28] seanlip commented on #1052
@amitdeutsch, any thoughts?

[2015-11-07 22:42] michaelWagner commented on #1085
Spec and Mocks are here:
https://docs.google.com/document/d/1CSxXyPMZF9jT5Zo9LjBPBYi715bg_Sy-lIf1jhD0a2k/edit

[2015-11-07 23:28] amitdeutsch commented on #1052
Two thoughts.

Thought #1: I agree with Jacob, we shouldn't ever be displaying 'Return to editor', since the student will never see that.

Though #2: Now that we have exploration suggestions, I wonder if we should simply remove the 'Return to gallery' button? The students can always return to the gallery through the navbar. Generally, I think it would be a more immersive experience if the default

[2015-11-07 23:31] amitdeutsch commented on #1085
Fantastic, thanks! I've added my comment to the doc.

[2015-11-08 00:25] seanlip commented on #1052
Seems reasonable. How about we show "return to gallery" if there are no
recommendations, and nothing otherwise?

On Saturday, November 7, 2015, Amit Deutsch <notifications@github.com>
wrote:

[2015-11-08 16:45] amitdeutsch opened #1110 "Add ability to set image size for image RTE component"
Currently, when adding an image to a card using the RTE, the image will use its original dimensions. If these dimensions need to be changed, the user has to do this using a graphics editor outside of the browser. It would be easier if height and width could be set manually from within the browser when adding the image.

As a bonus, it would also be helpful to have an option to lock the aspect rati

[2015-11-08 17:34] amitdeutsch opened #1111 "Consolidate ItemSelectionInput and MultipleChoiceInput interactions"
At the moment, item selection and multiple choice look different from one another. I would recommend either:
1. Make the styles look the same, or
2. Combine the item selection and multiple choice interactions into a single multiple choice interaction that allows you to specify whether or not you can select multiple options.

[2015-11-08 17:35] amitdeutsch commented on #1111
Additionally, is there a need to specify minimum and maximum number of selections for the item select interaction? Why does this need to be specified ahead of time?

[2015-11-08 18:13] jacobdavis11 commented on #1103
Good idea!

I would call it run_end_to_end_tests.sh instead though, as that's not too long and we don't replace text with numbers anywhere else that I'm aware of.

Also there might be value in have a test.sh script that runs all three testing suites.

[2015-11-08 18:14] jacobdavis11 commented on #1052
I agree with Amit's thought 2 and Sean's follow-up.

[2015-11-08 18:28] amitdeutsch commented on #1052
Agreed as well.

[2015-11-09 02:10] seanlip commented on #1111
@kevinlee12 -- can you answer @amitdeutsch's question?

[2015-11-09 02:37] seanlip commented on #1052
I made this change and tried it out, then tested it. I have a question about it:

With this change, when I edit an exploration, switch to the preview tab, and play it to the end, I finish off with a "Return to Gallery" button (or recommendations). If I click the button, it shows me a confirmation dialog; if I click through that to go to the gallery, I lose my changes.

When we implement autosave,

[2015-11-09 03:14] seanlip opened #1112 "Screen judders when a warning in the exploration graph is hovered over."
To reproduce: create or load an exploration with an error, so that there is a warning marker in the state graph, and ensure that your browser page doesn't have a vertical scrollbar (you can zoom out if necessary).

When hovering over the error 'post-it note', a tooltip will appear, similar to that shown in the following picture. This also causes a vertical scrollbar to temporarily appear on the ri

[2015-11-09 03:17] seanlip commented on #1112
Note that this may be the same issue as [this one](http://stackoverflow.com/questions/14364079/bootstrap-tooltip-causing-buttons-to-jump).

Also, noting that we tried using title elements instead of Bootstrap tooltips, but this leads to other problems: the titles don't show on-hover on Mac.

[2015-11-09 03:23] seanlip commented on #1103
I'd prefer `run_e2e_tests.sh`, since that follows the pattern of `run_[single word]_tests.sh`, and e2e is a standard term for this sort of thing in the industry.

Agree with the value of a script that runs all tests. I might write one as part of doing the upcoming release.

[2015-11-09 03:35] amitdeutsch commented on #1052
For now, can we just remove the button on Preview mode?

[2015-11-09 04:40] kevinlee12 commented on #1111
@amitdeutsch Thanks for bringing up the consolidation idea. I believe the idea was to eventually merge both interactions together (hence the graphical differences when minimum is equal to 1 vs >1). The rationale for the lower and upper bounds was to give the creator the option to provide more guidance for the learner (ie narrow the focus of the learner). However, I think that having those settings

[2015-11-09 05:17] seanlip commented on #1052
Yep -- done in https://github.com/oppia/oppia/commit/3686549ec90f54f67b0b883772a61d92382d1fbc.

@amitdeutsch, @jacobdavis11 -- is this the ideal desired end behaviour (i.e., should I close this issue)? If not, please update the issue with the desired end behaviour.

[2015-11-09 08:15] seanlip commented on #100
Hi @DewarM, sorry for taking a while to get to this, and thank you for the instructions!

Just a quick question: in step 8, what is pre_Oppia.sh?

[2015-11-09 08:44] seanlip opened #1114 "Profile picture looks squished for certain screen widths"
To reproduce: go to /profile/[username], and resize your screen width. The picture on the left changes width, and sometimes becomes quite squashed; this is because it is encased within a bootstrap column layout.

It might be worth thinking about how this ought to work for smaller screen widths, since the very squished picture doesn't look great.

/cc @kerryxwang @amitdeutsch

[2015-11-09 08:47] seanlip commented on #900
@kevinlee12 -- did you get a chance to look at this?

[2015-11-09 08:54] seanlip commented on #995
Thanks a lot, @sunu!

@bbriggs, did you manage to get this working? If you think a live discussion would be helpful, please let me know and we can chat through it.

[2015-11-09 08:55] seanlip commented on #991
Hi @bjvoth -- thanks for reporting! Just a quick question: does that shortcut work on [this page](http://textangular.com/)? (It's the third-party library we use for our rich-text editor.)

[2015-11-09 08:56] seanlip commented on #954
Hi @ben-targan -- did you get a chance to look into this?

[2015-11-09 08:56] seanlip commented on #923
This was released in v2.0.2. Closing.

[2015-11-09 08:56] #923 closed

[2015-11-09 15:35] amitdeutsch commented on #1111
OK, sounds like consolidation would be the best option then. I agree that having those settings may complicate the widget; if desired, the author can always add a line in the content saying 'select up to 4 options' if they want to provide more guidance.

[2015-11-09 15:37] amitdeutsch commented on #1052
I think so, @jacobdavis11 what do you think?

[2015-11-09 15:39] bjvoth commented on #991
Hey @seanlip, no problem. On my computer the Command-U shortcut will NOT engage the underline method on the textAngular page either.

[2015-11-09 15:44] amitdeutsch commented on #991
+1, I have the same issue.

[2015-11-09 15:48] amitdeutsch commented on #1114
I think the more we can get rid of the bootstrap column classes, the better.

I know there is currently a proposed design for the profile page, does it include mobile?

[2015-11-09 15:51] amitdeutsch commented on #954
Hi all, another interaction we might want to look into: when the user clicks on 'And afterwards, direct the learner to...', bring up a modal containing the exploration overview. The user can then click on an existing card, or click on a new spot to create a new card.

[2015-11-09 18:57] seanlip commented on #1114
The proposed design doesn't include mobile, unfortunately.

@amitdeutsch -- do you have a suggestion for a standard way of handling multi-column layout if we get rid of the bootstrap classes? I think the ability to handle multi-column layouts easily was a major reason we had bootstrap there in the first place.

[2015-11-09 19:02] seanlip commented on #991
Thanks for checking!

OK, so this looks like an issue with textAngular. Would one of you mind filing an issue on their [GitHub page](https://github.com/fraywing/textAngular/issues), pointing out that the shortcut doesn't work on their [demo page](http://textangular.com/)? I'd do it myself, but I figured that it might be better for someone with a Mac to do it so that they can answer any follow-up q

[2015-11-09 19:59] amitdeutsch commented on #1114
It depends on the situation, and what you want the layout to do when the screen is resized. Knowing how we want the profile page to be responsive will make it easy to figure out a replacement implementation that doesn't use bootstrap columns.

[2015-11-10 15:23] bjvoth commented on #991
I've just filed an issue at the textAngular GitHub repository.

[2015-11-10 17:10] amitdeutsch opened #1117 "Create directive for the tutor card in the conversation skin"
Right now, the HTML for the tutor card is being replicated three times in player.html in the conversation skin:
1. The main tutor card, which contains the content and interaction that users see
2. The future tutor card, which exists off-screen for the purpose of determining the future height of the tutor card for animation purposes.
3. The help card, which shares many similarities with the tutor c

[2015-11-10 18:28] amitdeutsch opened #1118 "In the learner view, decide when to use the author's avatar (instead of the default Oppia avatar)."
The current 'O' avatar was intended to be a temporary placeholder. There are a few potential replacement options for this avatar:

Option 1a: Replace all instances of the Oppia avatar with the Otter avatar (or a modification of it):
![oppott1b](https://cloud.githubusercontent.com/assets/1188049/11071378/7a7c6306-8795-11e5-80f1-ee830c5459f9.png)

or the Owl avatar (or a modification of it):
![ocolo

[2015-11-10 18:56] jacobdavis11 commented on #1052
Sounds good.

On Mon, Nov 9, 2015 at 10:37 AM, Amit Deutsch <notifications@github.com>
wrote:

[2015-11-10 18:56] seanlip commented on #991
Thanks, @bjvoth! Adding a link to the [textAngular issue](https://github.com/fraywing/textAngular/issues/963) here for reference.

[2015-11-10 18:57] seanlip commented on #1052
OK, thanks. Closing.

[2015-11-10 18:57] #1052 closed

[2015-11-10 23:36] MAKOSCAFEE commented on #1047
Hi @seanlip  and @wxyxinyu  So I had a time to look at this and since we do not push directly to ```develop branch``` it will be reasonable to have only ```post-merge```(which will be executed prior to successful pull request) and may be ```pre-commit```. What do you think?

[2015-11-10 23:55] wxyxinyu commented on #1047
I feel like post-merge is already covered by the Travis CI tests, but pre-commit would be nice to have.

[2015-11-11 03:55] amitdeutsch commented on #921
Adding some mocks here as well:

First, you can reset the exploration using the button on the bottom right
![resetexploration](https://cloud.githubusercontent.com/assets/1188049/11083455/b6c220cc-87e4-11e5-8391-4873e4ba8e55.png)

Second, if you reach a card that requires parameters but they're not set, you get this alert box:
![setparameters](https://cloud.githubusercontent.com/assets/1188049/1108

[2015-11-11 05:05] #1103 closed

[2015-11-11 16:30] ben-targan commented on #954
I'm still tossing around ideas.  I should have the first set of mocks ready for testing soon.  And @amitdeutsch I like that idea, I'll try to integrate it into my wireframes.

[2015-11-13 20:54] amitdeutsch opened #1129 "Buttons are overlapping in the editor settings tab"
![screen shot 2015-11-13 at 12 52 53 pm](https://cloud.githubusercontent.com/assets/1188049/11157309/925a3814-8a05-11e5-840c-c422e2ca81cd.png)

When editing an exploration, the buttons in the 'control' section of the settings tab are unaligned and overlapping one another, but shouldn't be.

[2015-11-13 21:19] amitdeutsch opened #1130 "Certain characters don't show up correctly in drop downs in the editor"
![screen shot 2015-11-13 at 1 17 59 pm](https://cloud.githubusercontent.com/assets/1188049/11157874/02d17942-8a09-11e5-861c-a096d0f0dc05.png)

The options above should contain characters such as '>' and '<', not the character codes shown here.

[2015-11-13 21:29] amitdeutsch opened #1132 "Pencil Code output is hard to understand in the editor"
![screen shot 2015-11-13 at 1 28 06 pm](https://cloud.githubusercontent.com/assets/1188049/11158068/7a3736d8-8a0a-11e5-8744-54f7e779f283.png)

When looking at student-submitted answers in the editor, the answers look like a single block of text in JSON format, which makes it difficult to decipher the student responses, and in turn makes it difficult to address student misconceptions.

[2015-11-15 00:42] BenHenning opened #1135 "Create 'Oops' error page for fatal warnings"
Per #1056, a fatalWarning function was added to core/templates/dev/head/services/warningsData.js. This currently logs the fatal warning, then throws it as an Error. This is great for development and should be used in all circumstances where unexpected errors occur in the frontend. It logs the error as well as provides a stack trace to exactly where in the code a problem happened.

However, this le

[2015-11-15 00:46] BenHenning opened #1136 "Perform error audit on the frontend code"
This is an extension of #1135. An audit of the entire frontend codebase needs to be done and all thrown exceptions and errors be replaced with calls to fatalWarning. Furthermore, other situations where errors occur in all parts of the website need to be investigated and possibly replaced with calls to fatalWarning for better error management.

To help make the new code easier to write, it's sugges

[2015-11-16 15:24] edallison commented on #1072
Is this bug still appearing? If so are there any more specific conditions that cause it?  I'm having trouble reproducing.

[2015-11-16 17:54] royshouvik commented on #714
Hi, I would like to work on this one, but before I get started I want to confirm that contrary to what is described above MINIMUM_ACCEPTABLE_NUMBER_OF_RATINGS is set to 3 [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/ratings.js#L26). Has this been updated since this issue was created?

Also, since I am new here, it would be good if I could connect with you i

[2015-11-16 19:12] jacobdavis11 commented on #714
Hi Shouvik

You're correct that we changed the number and forgot to update this issue. I suggest writing the protractor tests with their own MINIMUM_ACCEPTABLE_NUMBER_OF_RATINGS variable that can be updated whenever the frontend one is.

For getting started I would suggest the following:
 - Install oppia (see https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29) and make sure you can r

[2015-11-16 19:35] amitdeutsch opened #1139 "Opening and closing a text editor without making changes is viewed as a change in the editor"
1. Go to any card in an exploration.
2. Click on the card's content to open the rich text editor
3. Without making any changes, click 'save'
4. The save button at the top of the editor will turn green and say that there is one save to make, even though no changes were actually made.

[2015-11-16 19:51] amitdeutsch opened #1140 "[depends on editor redesign] Changes to RTE: Autosave rich text editor changes and reposition toolbar"
Currently, changes made in the rich text editor are saved by clicking on a 'save' button. Instead, anything typed into the rich text editor should be automatically saved, which makes the save and cancel buttons unnecessary.

Additionally, the toolbar containing options for bold, underline, italics, etc. is currently placed above the text area where changes are made. However, having the toolbar at

[2015-11-16 21:04] seanlip commented on #1020
/cc @brokenairplane

[2015-11-16 21:47] seanlip commented on #1140
This actually has larger implications than just the removal of the save/cancel buttons. The save/cancel buttons are a way of toggling between view-only and edit mode. With this change:

  * There's no way to see a preview of your content in the editor. This seems undesirable, especially given that we haven't sorted out the inline video etc. icons yet.
  * The content section will behave differentl

[2015-11-16 21:55] seanlip commented on #1139
Can't reproduce. I created a new exploration, typed "aaaa", saved, refreshed the page, opened the RTE, clicked save -- and the save button didn't turn green.

Could you please provide more detail?

[2015-11-16 22:06] seanlip commented on #1072
Hm, I can't reproduce it either. @amitdeutsch, is this something you've fixed already?

[2015-11-17 02:41] amitdeutsch commented on #1140
Regarding the first point, you go to preview mode as soon as you remove focus from the RTE (on blur?). In the future, edit and preview would ideally look exactly the same, but this obviously wouldn't be an option until inline RTE component icons are replaced with actual previews.

Regarding the second point, this should apply to RTEs, not just the content section. Other sections in the editor that

[2015-11-17 02:44] amitdeutsch commented on #1139
Hmm you're right, this was happening to me earlier (and I remember seeing this in the past) but I can't seem to reproduce it right now either. I'll open this again if I see it happening again.

[2015-11-17 02:44] #1139 closed

[2015-11-17 02:46] amitdeutsch commented on #1072
Right, this has actually been fixed now that we don't show the user icon in the grey input area at the bottom of the card. Marking as closed.

[2015-11-17 02:46] #1072 closed

[2015-11-17 02:53] seanlip commented on #1140
Ah yes, the last point you make is a good one.

Re your first point, I guess I don't understand what the benefit is, if that's the desired behaviour. AFAICT, the same number of clicks are required either way...

Also, reading this issue gives me a strange sense of déjà vu -- I think we actually had something like this before, where you click on the content area to edit it, and you click out again

[2015-11-17 05:11] BenHenning opened #1143 "Refactor collections-learner viewer and editor"
Refactor the collections-learner view once #1056 to follow the complete vision of the refactor design document. Ditto for the editor after #1433 is done.

[2015-11-17 17:07] SJCaldwell commented on #1089
Hey, I'd love to work on this!

[2015-11-17 19:29] jacobdavis11 commented on #1140
I'm a big fan of removing 'save' buttons from the interface wherever possible. In this case perhaps we could instead have a small 'preview' button at the bottom of the editor that users can click on to view a preview. Then, as now, clicking on the content would take them back to the editor.

[2015-11-18 02:26] seanlip opened #1145 "Previous answers should collapse when anywhere outside them is clicked."
Play through an exploration involving a code, map, etc. interaction. If you click on a previous answer in the left card to expand it, and then click elsewhere on the page (outside expanded response area), the response should collapse. Currently you need to click on the original response in order to close it, which isn't intuitive at all.

This leads to problems like the one shown in the following

[2015-11-18 03:52] seanlip commented on #1089
Hi @SJCaldwell, nice to meet you! Thanks for your interest, and for getting in touch!

Could you please follow the instructions [here](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md) to get started? Once you've signed the CLA I'll add you to the team on GitHub and assign you this issue. We should probably have a chat as well to discuss a suitable implementation approach.

Thanks, and

[2015-11-18 04:05] seanlip commented on #1089
@amitdeutsch -- a question about this: what is the desired ideal behaviour? Should the red warning be removed, but the [All other answers] 'tab' still remain as-is? Or should the entire group be removed altogether (even though it has stuff in it)? If the latter, then if one of the other answer groups is deleted, should the default group be reinstated?

Also, @SJCaldwell, if you have thoughts about

[2015-11-18 07:04] amitdeutsch commented on #1145
I believe this is a duplicate of #1073

[2015-11-18 07:14] amitdeutsch commented on #1089
For now let's implement the simple solution- just get rid of the red warning. In the longer term, we were talking about making the default rule a fallback anyhow.

[2015-11-18 07:21] amitdeutsch commented on #1140
Ideally, you would be able to click on a part of the page and edit it, and changes get saved automatically. Explicit 'save' buttons should be reserved for actions that make changes visible to other users (e.g. the 'comment' button here on github).

Doing this well is a matter of execution, I don't think we can say 'we tried this before and it didn't work'. Overall this would include making the pre

[2015-11-18 09:18] seanlip commented on #1145
Whoops, so it is. Thanks! Closing this now; I'll add the report above to that thread.

[2015-11-18 09:18] #1145 closed

[2015-11-18 09:19] seanlip commented on #1073
We received another report for point (2) above in #1145 -- it leads to problems like the one shown in the following screenshot:

![answer-showing](https://cloud.githubusercontent.com/assets/10575562/11230921/6c995078-8d58-11e5-8c35-ece02e429dcc.png)

In this screenshot, the user has clicked to expand both previous responses, but cannot collapse the second one until they've collapsed the first.

[2015-11-18 18:17] amitdeutsch opened #1147 "[depends on editor redesign] TextInput: remove placeholder option"
Currently, there is an option to select placeholder text for the text box of a text interaction:

<img width="622" alt="screen shot 2015-11-18 at 10 15 05 am" src="https://cloud.githubusercontent.com/assets/1188049/11249693/41a7f394-8ddd-11e5-9f51-a07ef806ec92.png">

Despite this being optional, it's not uncommon for first time users of Oppia to enter the expected answer in that field, since they

[2015-11-18 19:49] BenHenning opened #1148 "Fix sliding animation for 'future explorations' section of the collections learner view"
After #1056 is merged in, it will include a styling bug when the 'future explorations' section of the collections learner view is expanded. This bug causes a slight 'jump' during the transition. In order to reproduce it, follow these steps:
1. Start a clean instance of Oppia
2. Create an administrative account
3. Open the admin panel and reload the 'introduction to collections' collection
4. Go to

[2015-11-18 21:08] seanlip opened #1149 "Remove inline imports from the Python code, where possible"
The codebase currently has a few inline imports as a way to get around circular dependencies. However, this is probably indicative of poor structuring and we should refactor to get rid of them.

I used the following command to find the current set of inline imports:

[code]

This revealed the following instances:

[code]

The aim of this issue is to figure out what refactoring needs to be done in

[2015-11-19 01:03] BenHenning commented on #1067
I lean toward #1 after seeing how difficult it will be to automatically
install numpy. It's very simple to do it manually and, as long as we point
the users at the right documentation, I think this is fine. Hopefully we
don't run into this situation very often.

On Fri, Nov 6, 2015 at 10:20 PM, Sean Lip <notifications@github.com> wrote:

[2015-11-20 01:24] isaac-friedman commented on #1067
As much as I hate to admit it, I'm OK with #1 at this point.

[2015-11-22 20:30] seanlip commented on #1089
OK, sounds good. @SJCaldwell, are you still interested in looking into this?

[2015-11-22 20:47] SJCaldwell commented on #1089
Sure thing!

I just forked the repo, so I'll take a little time familiarizing myself it
oppia and then get it fixed. Do you guys have any sorta preferred deadline?

On Sun, Nov 22, 2015 at 3:30 PM, Sean Lip <notifications@github.com> wrote:

[2015-11-22 22:02] seanlip commented on #1089
Cool, thanks!

Would a week be fine? I think that's a good target to start with, but we can revisit if there are any unexpected difficulties.

[2015-11-22 22:06] SJCaldwell commented on #1089
Should be fine! I get a couple days off uni for Thanksgiving, so I imagine
I'll be able to solve it by then!

On Sun, Nov 22, 2015 at 5:02 PM, Sean Lip <notifications@github.com> wrote:

[2015-11-23 05:21] seanlip commented on #1090
Hi @jacobdavis11 -- please could you take a look at this?

@amitdeutsch -- couple questions:

1. When the user clicks on "Nothing", the RTE opens; is it uncloseable thereafter?
2. With regards to removing the warning, I think it could be less prominent, but I also think it would be a good idea to have a visible indicator, especially since there are often multiple answer cards. Can we put just the

[2015-11-23 05:58] seanlip commented on #801
Fixed in #1039.

[2015-11-23 05:58] #801 closed

[2015-11-23 08:42] seanlip commented on #1067
I did a last attempt at auto-installation in #1156. If this fails I'm fine with (1) too, but let's see. I'd appreciate feedback on whether it works.

[2015-11-24 10:16] sbhowmik89 opened #1160 "Fix get() handlers which usually return json objects to do so even if there's some kind of error"
How to reproduce: Use testapp.get() with expect_errors=True . It won't return a JSON object. The GET handlers need better error management and should start returning JSON object irrespective of the presence of errors.

[2015-11-25 03:19] seanlip opened #1162 "Single-choice item selection should look more like multiple choice interaction."
The ItemSelection interaction has a single-choice mode (when min choices and max choices are both set to 1). This functions similarly to the multiple-choice interaction and the UI should be similar. At the moment, the display is a bit unclear and it's not obvious that you can click on the options.

[2015-11-25 03:20] seanlip opened #1163 "Item selection interaction should allow a minimum of zero choices."
It should be possible to have a minimum of zero choices set in the item selection interaction, since there are some multi-choice answers where the correct answer is 'none of the above'.

[2015-11-25 03:20] amitdeutsch opened #1164 "On narrow viewports with supplements, add blue button to tutor card interaction area"
Currently, when the viewport is narrow and there are two interactions, the tutor card has some helper grey text that indicates you should interact with the supplement:

<img width="709" alt="screen shot 2015-11-24 at 7 15 23 pm" src="https://cloud.githubusercontent.com/assets/1188049/11387534/31988286-92e0-11e5-8fab-d05f5849bdbb.png">

However, this grey text is actually clickable, and most users

[2015-11-25 03:22] seanlip opened #1165 "Music notes interaction does not work in preview mode."
Create an exploration with a music notes interaction and navigate to the preview tab. Try dragging the note from the container in the top right onto the staff -- it does not work.

There are no problems in the learner view, though, which is weird. Some investigation probably needs to be done to figure out why this behaviour happens.

[2015-11-25 03:24] amitdeutsch opened #1166 "ImageClickInput: the switching icon should contain correct image in learner view"
If the viewport is narrow and there is a supplement card present, the learner view will change so that there is a bottom toolbar with icons which allow switching between the tutor card and the supplement card:

<img width="732" alt="screen shot 2015-11-24 at 7 20 42 pm" src="https://cloud.githubusercontent.com/assets/1188049/11387593/e2928c80-92e0-11e5-9cd2-3c25e1f4b48a.png">

When the supplement

[2015-11-25 03:25] seanlip opened #1167 "Titles of states no longer show up on-hover for graph nodes in the exploration overview."
It used to be possible to hover over a state and see its title in the graph node in the exploration overview, which is useful for identifying states whose names have similar prefixes. However, this behaviour seems to have disappeared; it would be nice to reinstate it.

/cc @brokenairplane (original reporter)

@MAKOSCAFEE -- do you remember if this was a consequence of the change that adds warning

[2015-11-25 03:27] seanlip opened #1168 "Music notes interaction does not work on mobile."
Load an exploration with the music interaction, and navigate to it on a mobile device. It's possible to play the note sequence, but it's not possible to drag notes to the staff, and so the learner is unable to proceed. It would be great to add touch events to the interaction.

[2015-11-25 05:02] seanlip commented on #1162
/cc @amitdeutsch @kevinlee12

[2015-11-25 05:02] seanlip commented on #1163
/cc @amitdeutsch @kevinlee12

[2015-11-25 05:19] MAKOSCAFEE commented on #1167
@seanlip  Yes i remember this. At first we wanted to show a title if the state has no warning label since you can not show both is kinda weird. But then we decided not add title at all. We can go with the first implementation, or any suggestion?

[2015-11-25 05:45] seanlip commented on #1167
I suppose we could just add the title back when the node body is hovered over? Now that the text of the warnings only shows when the warning parts are hovered over, I think it's totally fine to have the node tooltip function the same way as it did before.

[2015-11-25 05:51] amitdeutsch commented on #1162
Is this different from issue #1111? I'm worried that making the item selection and the multiple choice look the same will still be confusing, and that the best choice will be to simply consolidate the two interactions.

Sounds like the item selection is just a superset of the multiple choice interaction, so why not migrate all multiple choice interactions to item selection interactions and depreca

[2015-11-25 08:16] MAKOSCAFEE commented on #1167
Sure I had forgotten that we kept tooltips instead of title which had problem with mac computers

[2015-11-25 10:00] #1167 closed

[2015-11-25 19:25] amylatten commented on #1140
I have some suspicions based on usability testing in the past and research
around losing content. Users are quite used to a paradigm like "Google
Forms," where the edit/preview are blatantly different (which is the case
today), which protects their understanding of where their work is and how
it's saved. In Forms, on one clear screen, a user can edit their text,
save, and "switch" to a preview mod

[2015-11-25 20:43] BenHenning opened #1170 "When installing numpy, pip may not be available on the host machine"
Per #1156, there is a portion of the install third party process where pip is used to install numpy. However, if pip is not available on the host machine, a very non-user friendly error happens:

``scripts/install_third_party.sh: line 126: pip: command not found``

Immediately after ``Installing numpy``. It would be highly preferred to detect whether pip is available on the host machine and, if no

[2015-11-25 21:25] seanlip commented on #1170
I agree that it would be a good idea to add a check and a nice error message, though we do now specify pip in our [prerequisites](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29) in the installation instructions.

For the first question, I think it's better to have a local copy because the version matters. App Engine uses 1.6.1 and we want to use 1.6.1 too.

Not sure about Window

[2015-11-25 21:38] BenHenning commented on #1170
Okay, downgrading it to a minor bug and marking it as a starter project. This issue will be resolved when a check for pip and a nice error message if it isn't present is added. The file of interest is:

scripts/install_third_party.sh (where numpy is installed using pip).

[2015-11-26 00:39] BenHenning commented on #1163
Do you have a specific use case, by any chance? I ask because I'm not totally convinced that selecting no options represents "none of the above." I think it depends which mode item selection is in. If it's in radio button mode (expecting maximum of 1), then not selecting any item seems wrong. If that usage of the item selection interaction wants a "none of the above" choice, they should specifical

[2015-11-26 00:43] seanlip commented on #1163
Yeah, I meant in checkbox (multi-choice) mode. I think radio button mode should always be "exactly one".

I do have a specific use case. Consider a question like the following:

    What does the following program print? You can select any number of options.

        x = 'unhappy'
        if x == 'sad':
            print 'a'
        elif x == 'happy':
            print 'b'
        elif x == 'happy

[2015-11-26 00:50] seanlip commented on #1162
Because the migration is tricky and I can't do it in a short time-frame; the answer handling for the two interactions is different and we would have to do a large migration of the existing answers. This is something @BenHenning is also looking at.

Given this, what would you like me to do here as a short-term fix? (Or should I not do a short-term fix?)

[2015-11-26 04:15] seanlip commented on #1164
Note to contributors: the code for this can be found in `extensions/skins/conversation_v1/player.html` -- you'll want to look at the part referring to `activeCard.interactionInstructions`. I don't think there's any JS modifications that will be needed.

[2015-11-26 05:39] seanlip commented on #1162
Per discussion with @amitdeutsch, we will not be doing this. Instead, the plan is to do the correct long-term fix as described in #1111.

[2015-11-26 05:39] #1162 closed

[2015-11-29 03:17] kahkhang opened #1179 "numpy-1.6.1 fails to build on Mac OSX 10.10.5 when running 'bash scripts/start.sh'"
I am using Mac OSX 10.10.5, and trying to run the ``bash scripts/start.sh`` for the first time, but it seems that numpy-1.6.1 fails to build and throws this error:

[code]

According to this (https://dev.lsstcorp.org/trac/ticket/2321), this fix has been implemented from 1.6.2 onwards.

Would upgrading numpy to 1.6.2 onwards be a feasible solution?

[2015-11-29 06:01] seanlip commented on #1179
Oh dear, this may be tricky. The version of numpy supported on App Engine is 1.6.1, so we installed 1.6.1 to maintain parity between dev and prod:

    https://cloud.google.com/appengine/docs/python/tools/libraries27?hl=en

On the other hand, this ought not to block installation on your local machine, so here's a suggestion: try upgrading the references in the codebase from 1.6.1 to 1.6.2 temporar

[2015-11-29 22:01] kahkhang commented on #1179
Thanks!
Changing the file
[code]

to reflect the following lines:
[code]
seems to work for now.

[2015-11-30 05:11] cmrubin commented on #138
Hi- I'm a new contributor and I've read about the improvements you are looking to make regarding parameters (also at https://github.com/oppia/oppia/issues/864). From my experience with the exploration editor, I agree that additional instructions/explanations on using parameters could be helpful and would be happy to work on this.

Also, I read through the instructions on using parameters (and the

[2015-11-30 07:17] seanlip commented on #138
Hi @cmrubin -- thank you for getting in touch and for your interest in helping out! We currently don't have anyone working on improving the parameter experience in general, so this project could certainly use some help. The "enable parameters" thing was something added fairly recently and I think we didn't update the docs; I agree that could be clearer.

How would you like to start? Perhaps one wa

[2015-11-30 22:43] wxyxinyu opened #1189 "Validation for rule inputs"
There is currently no validation in the editor for invalid rule inputs (e.g. in Numeric input, the rule that checks if a number is between 2 numbers should only accept pairs such that the first number is smaller than or equal to the second). This may cause unintended behavior or errors when the rules are evaluated. We should be able to validate rules before they are saved.

/cc @seanlip

[2015-11-30 22:44] amitdeutsch opened #1190 "Answer group loses data when cancel button is pressed"
To reproduce:

First, open an existing answer group; for example:

<img width="710" alt="screen shot 2015-11-30 at 2 42 33 pm" src="https://cloud.githubusercontent.com/assets/1188049/11486869/9556ce4c-9770-11e5-8a41-a885f97c450c.png">

Second, click on 'Add Another Possible Answer':

<img width="711" alt="screen shot 2015-11-30 at 2 43 40 pm" src="https://cloud.githubusercontent.com/assets/1188049

[2015-12-01 03:04] seanlip commented on #1190
/cc @BenHenning

This behaviour is actually pretty bad, though I suppose cancelling a newly-added rule is not a common occurrence, so "minor" is probably appropriate.

I poked into this a little bit and I think the main issue is one of definition: what should happen when someone clicks cancel immediately after adding a rule? We have two different uses of the "Cancel" button: one leaves the existin

[2015-12-01 03:08] seanlip commented on #1089
Hi @SJCaldwell -- happy (belated) Thanksgiving! Just thought I'd check in; how is this going?

[2015-12-01 04:55] BenHenning commented on #1143
This should be done asap. The CollectionDataService also needs to be renamed to CollectionBackendApiService.

[2015-12-01 05:15] SJCaldwell commented on #1089
Hey Sean,

Happy thanksgiving to you as well!

I think it's going well. Spent most of thanksgiving familiarizing myself
with how Oppia works.

Not sure I'll actually be able to work on this in earnest until exams end
at Uni (start today, end next Wednesday). It was probably a bad idea to
agree to work on it with a lot coming up, but I had high hopes I'd be able
to do it as a diversion from studyin

[2015-12-01 05:17] seanlip commented on #1089
Hey Shane, no worries, and thanks for letting me know! I don't think it needs doing immediately, so feel free to take it up again after next Wednesday. (I can totally understand the "diversion from studying" thing, but this is probably a largish diversion :-) )

All the best with your exams, and talk to you soon!

[2015-12-01 22:01] mgracer48 opened #1195 "Hi just finished code academy course for Python and want to know some ways to get started"
With contributing to this open source project :) I'm already working on a project called Toontown empire to improve my coding

[2015-12-02 07:26] seanlip commented on #1195
Hi @mgracer48 -- welcome! This isn't quite the venue to have this discussion, so I'm going to close the issue, but I'll follow up with you in email or gitter chat. Thanks for getting in touch!

[2015-12-02 07:26] #1195 closed

[2015-12-02 21:53] BenHenning commented on #1170
Fixed by #1198.

[2015-12-02 21:53] #1170 closed

[2015-12-02 22:35] mgracer48 opened #1202 "Mac, if pip isn't installed if on a Mac.."
We could ask if user wants to download get-pip.py and detect which Python version they are using to run get-pip.py
Before running this the script can check if user has wget if not it will install it via brew
I can work on this basically if u want :)

[2015-12-02 22:43] mgracer48 commented on #1202
We could also install wget some other way if you guys want but brew is easier to do in a shell script

[2015-12-02 22:50] mgracer48 commented on #1202
We can also use curl too

[2015-12-02 22:50] mgracer48 commented on #1202
I'm open to suggestions on this , just want a way for users to install pip on Mac, I might also try Windows too :)

[2015-12-03 00:26] BenHenning opened #1204 "Admin panel debug feature to fill the data store with answers"
Currently, we have support for loading demo explorations which are stored within the actual code base. It would be nice if we had a feature in the admin panel which basically started submitting some given number of answers for a given exploration, essentially playing through it. It's not clear what sort of behavior this debug feature would have, other than it can potentially submit a large number

[2015-12-03 04:04] wxyxinyu opened #1207 "Travis tests speed"
Currently, the travis ci tests take about 1.5h to run, which is a bit slow.

It mainly seems to be caused by the backend tests being slow when they are run on a single-core machine. It should be possible to speed up by splitting up the backend tests.

[2015-12-03 04:15] seanlip commented on #1202
Hmm.

I lean towards not doing this, actually. When we do auto-installation in Oppia, we do all the changes in a separate Oppia-specific folder so as not to pollute the user's system (and to make it easy to uninstall Oppia by just deleting the folder).

For things like pip, wget, etc. -- I think I would prefer that the user install this on their own machine, since they are general purpose utilitie

[2015-12-03 04:17] wxyxinyu commented on #987
I just experienced this again. The interaction loads and looks like the one in Amit's picture. It doesn't change after a few seconds, but refreshing the page makes it load fine, and further refreshing doesn't cause the issue to reappear.

This happens both in the editor and player, when an exploration with a music interaction is first loaded. I tried loading the interaction on a newly-started-up d

[2015-12-03 04:47] seanlip commented on #1207
I'll try making the coverage report for the backend tests optional; that might speed things up by quite a bit. Also /cc @BenHenning.

[2015-12-03 05:46] seanlip opened #1209 "Fix, test and document the Windows installation process"
See #100 for previous discussion of this issue.

Installation of Oppia on Windows currently follows an entirely different pathway from installation on Linux/Mac, which isn't great and is prone to breakage. @DewarM compiled a revised set of installation instructions here, using Vagrant; these are included below. Both this and the current approach on the [wiki page](https://github.com/oppia/oppia/wi

[2015-12-03 05:47] seanlip commented on #100
Replacing with #1209. Closing.

[2015-12-03 05:47] #100 closed

[2015-12-03 05:55] mgracer48 commented on #1202
We can always add a get pip script and modify it to put it in oppia folder

[2015-12-03 06:02] seanlip commented on #1202
OK, I've thought about this more, and have decided that we won't do it -- but thank you for the suggestion!

Reasoning: We don't want to modify stuff outside the oppia folder (and ../oppia_tools, ../node_modules). We also do not want to take on more installation obligations than are necessary to pin down the versions of dependent libraries. I also think it is reasonable for developers to install p

[2015-12-03 06:02] #1202 closed

[2015-12-03 06:26] #1207 closed

[2015-12-03 06:34] mgracer48 commented on #1209
I'll try

[2015-12-03 06:51] seanlip commented on #1209
OK, thanks! Please update this issue thread with what you discover.

[2015-12-03 12:11] oskarcieslik commented on #1114
We can probably close it now? :)

[2015-12-03 15:53] mgracer48 commented on #1209
hmm it seems these steps dont work, i dont like them

[2015-12-03 16:04] amitdeutsch commented on #1114
Yes, but please open a new issue as discussed in #1199

[2015-12-03 20:16] seanlip commented on #1209
Hi @mgracer48 -- yep, as @DewarM mentioned, there are some issues with these steps. The idea of this issue is to fix them, and emerge with steps that do work. (Alternatively, if you find a different installation route, that's fine as well.)

Also, would you mind giving more detail about which step(s) in particular don't work, and why you don't like those steps? This will avoid others having to dup

[2015-12-03 20:30] seanlip commented on #1179
Adding a comment I made on @mgracer48's PR -- I think we should keep the existing logic in the script as-is, since 1.6.1 is the version that's used in production on App Engine. Instead, I think what needs to be done here is: if pip throws an error, this should be caught, and a message should be printed to the terminal explaining what changes need to be made to the startup scripts (maybe pointing t

[2015-12-03 20:37] seanlip opened #1213 "Prevent images jumping around when profile page is resized"
(Filing based on discussion from #1199.)

In the profile page, the image jumps around as you resize the window, and the picture keeps changing size as this happens. This isn't great -- instead, the page should just sit still until it has to break for mobile screens, and the height and width of the profile picture image should each be a fixed number of pixels.

/cc @amitdeutsch @oskarcieslik

[2015-12-03 20:37] seanlip commented on #1114
Filed #1213.

[2015-12-03 20:37] #1114 closed

[2015-12-03 20:38] seanlip commented on #1213
Also, it would be nice to get rid of the need for the bootstrap column classes.

[2015-12-03 20:55] mgracer48 commented on #1209
Hmm I think I guess I didn't know I had to create a virtual machine , I'll do that tomorrow and try again, basically I thought doing these scripts on computer would somehow run it in a Windows environment lol

[2015-12-03 23:38] seanlip commented on #714
Just adding Jacob's comment from #1210 to this issue for future reference:

Also, @royshouvik -- how are you getting on? Did you make any progress with the tests?

[2015-12-04 00:03] amitdeutsch opened #1216 "Tiles in the collections viewer don't work well on small screens"
Currently, in the collection viewer, if you narrow the viewport, the tiles should be centered on the screen. Instead, they attach to the left side of the screen.

[2015-12-04 00:06] amitdeutsch opened #1217 "Tiles in last row in gallery shouldn't be centered"
if the gallery has an odd number of tiles, the tiles in the bottom row are centered between tiles in the other views, which looks weird. Instead, the tiles in the bottom row should be aligned with the tiles in the rows before them.

[2015-12-04 02:34] seanlip commented on #1209
Thanks! Yep, that's the idea -- if we can get the installation process to be fairly similar to that of Linux / Mac OS, I think we stand less chance of breaking the Windows installation unintentionally in the future (which has, sadly, happened at least a couple of times already).

[2015-12-04 06:17] wxyxinyu opened #1220 "Add a validator to the schema based forms that a list is unique"
This is used for the item selection interaction. It should not be possible for the creator to create an item selection interaction with duplicate items.

\cc @seanlip

[2015-12-04 09:04] royshouvik commented on #714
Hi @seanlip sorry about the delay, fell sick and had to take rest for some days. I had already started writing the spec, hopefully will be able to send a PR later today.