[2019-06-27 10:54] YashJipkate commented on #7031
@ankita240796 I think this was something introduced in the conversion to component directives in extensions/. PTAL!
Thanks!

[2019-06-27 14:09] lilithxxx opened #7033 "Flaky additional editor and player features e2e test"
The `RUN_E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES` e2e test is sometimes failing on PRs and develop which gets fixed if restarted.

Logs for the flaky test:

[code]

[2019-06-27 15:18] vojtechjelinek commented on #6962
@NishealJ I'm not sure what you mean by this, to integrate remaining js files (primary dependencies) by webpack too? We have #7004 for that.

[2019-06-27 18:00] #6887 closed, assigned to ankita240796

[2019-06-28 01:27] #7031 closed, assigned to ankita240796

[2019-06-28 04:26] kevinlee12 opened #7037 "Add npm audit to linter to catch security issues with js packages."
Currently it is possible to accidentally install vulnerable javascript packages, we should prevent that by implementing `npm audit` into our linter to catch these issues. See the last example in the npm audit [docs](https://docs.npmjs.com/cli/audit#examples) for how to grab those errors.

[2019-06-28 05:55] sophiewu6 opened #7039 "Very large file (combined-tests-spec.ts) is auto-generated when running test"
**Describe the bug**
A very large file combined-tests-spec.ts is auto-generated every time when I run any test. It takes me more than 20G of disk space.

**To Reproduce**
Steps to reproduce the behavior:
 1. run any test
2. combined-tests-spec.ts will be auto-generated and you will see a large amount of disk space is taken

**Observed behavior**
Disk space is running low as running the tests.

**E

[2019-06-28 05:56] seanlip commented on #7039
/cc @kevinlee12

[2019-06-28 07:32] Darin8 commented on #6853
Hi, can I take this issue?

[2019-06-28 07:42] seanlip commented on #6853
Hi @Darin8, sure -- I've assigned you. Go for it!

[2019-06-28 08:04] vojtechjelinek commented on #7037
I think that we should also check libraries that we include by different means than the package.json and if they're vulnerable then prioritize the upgrades with @NishealJ

[2019-06-28 12:11] NishealJ commented on #6962
yes, @vojtechjelinek  I meant something similar to #-7004  Thanks!

[2019-06-28 19:23] nithusha21 opened #7041 "TypeError: Cannot read property 'feedback' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-28 19:32] nithusha21 opened #7042 "TypeError: Cannot read property 'x0' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-28 19:35] nithusha21 opened #7043 "TypeError: m.getOnSaveAnswerGroupRulesFn(...) is not a function"
This error occurred recently in production

[code]

**Additional context** This error occurred exactly once in prod.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of th

[2019-06-28 19:37] nithusha21 commented on #6379
Hi, a quick update here, this issue reappeared with a slightly different stacktrace.

[code]

[2019-06-28 19:40] nithusha21 opened #7044 "TypeError: Property 'now' of object #<Object> is not a function"
This error occurred recently in production

[code]

**Additional context** Seems to be generated from a third party lib. I

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic

[2019-06-28 19:43] nithusha21 opened #7045 "TypeError: Cannot read property 'scrollHeight' of null"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-28 19:45] nithusha21 opened #7046 "ReferenceError: "XPathResult" ist undefiniert"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-28 19:46] nithusha21 opened #7047 "TypeError: Cannot read property 'replace' of null"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-06-28 22:48] seanlip opened #7049 "Flaky Travis tests in RUN_E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES"
**Describe the bug**

There seems to be a flaky Travis test that is causing occasional breakages in PRs. This is for RUN_E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES -- the test often times out or breaks on what would be otherwise successful PRs. We should investigate this and fix it.

Here is the log of the most recent failure on develop:

[code]

/cc @apb7 @oppia/dev-workflow-team

**Observed

[2019-06-28 23:14] seanlip commented on #5295
I checked with @vibhor98, and he confirms that the issue is still reproducible *inconsistently*. The behaviour is more common when you put multiple tiles together and try to drag a whole block (containing multiple tiles).

So, if you're trying to reproduce this error, please try multiple times, as it happens inconsistently. @vibhor98 tried 3 times, and in his 3rd try, he was able to reproduce the

[2019-06-28 23:33] seanlip commented on #7049
Sorry -- I think this is a duplicate of #7033. Closing.

[2019-06-28 23:33] #7049 closed, assigned to nobody

[2019-06-29 05:07] kevinlee12 commented on #7037
I do see one package that is not installed via `package.json`, is it possible to convert it so that it is installed via `package.json`? I ask since `npm audit` does not appear to work for packages not installed via those means.

[2019-06-29 07:52] #6779 closed, assigned to vinitamurthi

[2019-06-29 09:07] YashJipkate opened #7053 "Enable Karma to run tests on multiple files."
**Describe the bug**
The Karma tests have to be run on a temporary single combined file generated during the run of frontend tests script. This issue arises due to #7048.

On having multiple files, the DI fails and hence the tests fail noisily. The tests pass however when individual files are included in the karma conf.

[2019-06-29 12:34] vojtechjelinek commented on #7037
What about libraries in `manifest.json`?

[2019-06-29 16:40] #7037 closed, assigned to kevinlee12

[2019-06-29 18:05] nithusha21 commented on #6893
Hmmm, can you confirm 1 thing... What is the category of the exploration you created? Is it among the standard list of exploration categories?

[2019-06-29 18:10] nithusha21 commented on #6891
I checked, and this is working fine for me now (on the test server).

[2019-06-29 18:10] #6891 closed, assigned to nobody

[2019-06-29 18:31] Dharmesh-Poddar commented on #6920
@DubeySandeep  please reply

[2019-06-29 21:28] nithusha21 commented on #6893
Just a quick update. I tried this out, and it worked fine (rejection). Could you please retry it? I think if you pick from the standard list it works fine. I didn't know that you could pick a new category which isn't in the list.

[2019-06-29 22:09] DubeySandeep commented on #6893
Okay, I went through the [settings page of the exploration](https://oppiatestserver.appspot.com/create/0nGKU3BdS_Xb#/settings) and realized the Category of the exploration is `Demo`, I don't know how it is possible, but I think this was causing the issue. I tried this in other exploration and it's working fine!

Do we have a validation check for the category of exploration to make sure it contains

[2019-06-29 22:14] DubeySandeep commented on #6893
@nithusha21, I think we allow adding any text as the category for the exploration. is it expected behavior?

[2019-06-29 22:16] nithusha21 commented on #6893
I don't know about this. In the suggestion model however, for score category we have a validation check to make sure that the second part of the value, which is the exploration category lies in the known list of score categories.

[2019-06-29 22:17] nithusha21 commented on #7007
@DubeySandeep would you be able to take this up? (I am unable to understand what is happening here).

[2019-06-29 22:31] DubeySandeep commented on #7007
@DubeySandeep, I'll try to fix this (Will send a PR asap!)

[2019-06-29 22:33] nithusha21 commented on #7007
Thanks!

[2019-06-29 22:36] nithusha21 commented on #6864
So adding some info here. The console error was a different issue, I have fixed that in #7056. The empty modal is very puzzling. So the data is passed perfectly, and $scope.oldContent, $scope.newContent, $scope.description all have the correct values. however, when passed into the html-data tag of the angular-html-bind directive, no html is rendered. I have no idea why this is happening, but I'll

[2019-06-29 22:45] nithusha21 commented on #6864
Looks like the problem was a missing import. Fixed it! Will update the PR.

[2019-06-30 03:51] seanlip commented on #6853
Also, @Darin8, do you want to take up this for all the files, or pick one of the checkboxes instead?

(Btw, @lilithxxx -- are the second and third checkboxes intended to be the same, or is that an error?)

[2019-06-30 04:59] Darin8 commented on #6853
@seanlip i can do all the files

[2019-06-30 05:00] seanlip commented on #6853
OK, sounds good, thanks @Darin8!

[2019-06-30 06:54] lilithxxx commented on #6853
@seanlip the second and third denotes different tests in the same test file

[2019-06-30 09:18] kevintab95 commented on #5795
I tried reproducing this with the steps mentioned by @DubeySandeep and @ezl-13 but I don't seem to be getting any console error. The e2e test seems to work fine now.

Can we check if this still occurs in the production environment?
cc. @seanlip

[2019-06-30 11:19] nithusha21 commented on #6893
After discussion with Sean, this is the plan of action. So the score category in suggestions has a very strong validation, which is not expected. We expect it to match the validation for the exploration category. I am going to mark this as non-blocking as this has been around for more than a year, and not been reported. Will move it to the bug-fixing team, and will file a PR ASAP. But I think this

[2019-06-30 11:25] kevintab95 commented on #5795
OK I think I might have figured out why this is happening. I noticed that the button is not clickable because the "Restart from Beginning" button kind of overlaps with the hint icons.

This can be observed if you inspect the element.
![Screenshot from 2019-06-30 15-33-00](https://user-images.githubusercontent.com/11008603/60395130-74beec80-9b4c-11e9-9f2a-2d8aac49ac24.png)

So this element might be

[2019-07-01 05:16] seanlip opened #7061 "Use package.json for third-party libraries that are used in prod."
(This suggestion was originally from @vojtechjelinek.)

We currently use a custom manifest.json file to manage our third-party production dependencies. However, in light of #7051 (thanks @kevinlee12!) it might be better to move these into package.json, so that we can get automated vulnerability alerts from running `npm audit`.

The aim of this issue is to investigate what would be needed to use pa

[2019-07-01 05:27] seanlip commented on #7033
For comparison, here is an example of a recent successful run of this e2e test in 18 minutes: https://travis-ci.org/oppia/oppia/jobs/552494056

[2019-07-01 06:08] #7007 closed, assigned to DubeySandeep

[2019-07-01 06:53] #6736 closed, assigned to apb7

[2019-07-01 07:24] #6888 closed, assigned to ankita240796

[2019-07-01 08:10] #6864 closed, assigned to nithusha21

[2019-07-01 09:31] vojtechjelinek opened #7064 "Revert CODEOWNERS backup when vojtechjelinek is back"
Revert #7063 when vojtechjelinek is back from vacation (July 7).

[2019-07-01 11:36] kevintab95 commented on #7047
Looks like this happens when interactionId is null for the displayed card and $filter('camelCaseToHyphens')(interactionId) is called. This is executed when a user input is added in the learner conversation view.

From the code, I noticed that interaction is set to null in the following scenario:
[code]

Not sure what a concept card is but can a concept card allow user input? Can there be any other

[2019-07-01 13:00] kevintab95 commented on #7045
Looks like `document.body` is null, most likely because body element is not present when the code is executed. Although I'm not 100% sure how that could happen but I noticed that `adjustPageHeight` method is called when window.resize event is triggered, so one possiblility is it's a browser issue, probably an older version of IE or some other browser that triggers window.resize too early -- not su

[2019-07-01 18:30] seanlip commented on #7045
Hi @kevintab95! It's Chrome on Windows.

[2019-07-01 19:43] seanlip commented on #7047
Concept cards are read-only cards that explain things like "how to add fractions". They do not allow user input, though I think the user may be able to request to see some worked examples (but I'm not sure whether that's implemented yet, /cc @aks681).

Interactions can have a null ID if they are not specified yet. For example, go to the exploration editor and create an interaction, then delete it

[2019-07-02 05:35] #6894 closed, assigned to Showtim3

[2019-07-02 05:52] nithusha21 commented on #7001
Closing as this modal was removed. Shouldn't be reproducible anymore.

[2019-07-02 05:52] #7001 closed, assigned to nithusha21

[2019-07-02 13:22] kevintab95 commented on #7047
Thanks @seanlip.

I'm able to reproduce this on the console. This is what I did:
1. Create an exploration with 2 cards, the card `#1` has a text input interaction and card `#2` has no interaction specified.
2. Preview the exploration from card `#1` and enter the right solution to reach card `#2`.
3. It should show a submit button (even though no interaction was specified).
![submit](https://user-i

[2019-07-02 17:41] #6347 closed, assigned to vinitamurthi

[2019-07-02 17:42] vinitamurthi opened #7071 "Implement the 'Boost Score' functionality"
Have the 'Boost Score' button open up a modal that contains a concept card for the lowest performing skill.
At the bottom of the modal give the option to retry the test.

[2019-07-02 20:11] YashJipkate opened #7072 "Remove force bootstrapping of Angular."
[Once #7065 gets in]

Remove the [force bootstrapping component](https://github.com/YashJipkate/oppia/blob/5994d452be4f1fe66a003c5b8be246e1d39b35b7/core/templates/dev/head/pages/base.html#L96) in AppInit.ts for Angular 8 that is needed since AngularJS loads Angular lazily when it encounters the first Angular component.

This can be removed when AngularJS is removed from the codebase since Angular

[2019-07-02 21:23] seanlip commented on #7072
Hi @YashJipkate, could you please add more detail to this issue? In particular, please add a permalink with a line number pointing to the force bootstrapping component, as well as any supporting relevant documentation for how to do this safely.

(Note that, when adding the link, use a specific revision/commit and not a link that has /develop in the name, since the line numbers in the latter can ch

[2019-07-02 22:19] seanlip commented on #7071
Note: depends on #7018. Aiming to get this done by 20 July.

[2019-07-02 22:47] aboryslawski commented on #6271
Hey I'll be glad to have one of these issues assigned to me if there are any left.

[2019-07-03 05:04] seanlip commented on #7047
This is fantastic, @kevintab95! Huge kudos for finding a set of repro steps that accurately diagnoses the cause of the issue.

I'm going to review #7070 now, but I just wanted to say that this analysis is really awesome. Thanks a lot!

[2019-07-03 06:18] kevintab95 commented on #7047
Thank you @seanlip ! :)

[2019-07-03 08:39] ankita240796 opened #7079 "Update backend test splitting to use inspection for base classes instead of lexical analysis"
Backend tests are split according to class names using a lexical analysis of whether the name ends with `Test/Tests`. We needs a more robust method for detection of test classes by inspecting the base classes.

Ref #7040

[2019-07-03 11:49] aboryslawski commented on #6956
Hi, is anybody working on this one? If not, then I'll be happy to pick it up.

[2019-07-03 13:41] Showtim3 commented on #6481
@BenHenning Hey I can help with this. The alternate you suggested is also doable. So which one should i try to implement? Increasing the limit of 30 chars or by number of words?
@vojtechjelinek Do you have any suggestions on this?
Thanks!

[2019-07-03 15:49] kevintab95 commented on #7041
I was able to repro this. It occurs intermittently when I try to refresh the editor right after modifying the response and feedback. Here's what I did:
Scenario one:
1. Create an exploration with TextInput interaction with some response and feedback in the modal, click on save.
2. Refresh the page.

Scenario two:
1. Create an exploration with TextInput interaction with some response and feedback.

[2019-07-03 16:43] DubeySandeep commented on #6271
Hi @worstahrieu,  I've assigned you to the last 2 methods of the state_domain part of this issue. You can start working on it. :)

@RafayGhafoor, I'm not sure about which few methods you are working right now but I've assigned you to the first 2 methods, I hope that's fine! (do let me know if it's not okay!)

[2019-07-03 16:47] kevintab95 commented on #7042
I'm able to reproduce this. Looks like it happens when I try to drag graph nodes in the exploration editor.

![dragdrop](https://user-images.githubusercontent.com/11008603/60608337-d8f7df80-9ddc-11e9-9b2f-dcfff51dcaa9.png)

Also, the console error says "Cannot read property 0 of undefined" not "x0" so not sure if this is a different issue that I repro-ed. :P

But this seems like a d3 issue. Did we

[2019-07-03 17:29] seanlip commented on #7042
/cc @NishealJ @apb7 Is this related to the d3 upgrade?

[2019-07-03 17:39] nithusha21 commented on #6757
Hi,
So this issue would only occur in prod. In prod, the signup page in prod used the google sign-in (and not the dummy sign-in page we use in dev). So there is no intermediate view. So once you sign in, and click the back button, you go back to the page where you originally clicked sign-in, and it shows the sign-in button again. On clicking it, the error is raised.

[2019-07-03 18:10] seanlip commented on #6481
Let's do 60 characters for now. Thanks @Showtim3!

[2019-07-03 18:37] kevintab95 commented on #7042
Looks like d3.event.translate is undefined so we'll have to use something like d3.event.transform.x (or y) to get the co-ordinates in the new version.

Refer: https://coderwall.com/p/psogia/simplest-way-to-add-zoom-pan-on-d3-js

[2019-07-03 18:50] DubeySandeep commented on #7042
@NishealJ, Just as an FYI, make sure to resolve all [existing comments in the test doc](https://docs.google.com/document/d/1eZzDVCHyDl_8KL8tSSulrWw7DEc9svIpQJLjV-0wF9o/edit?disco=AAAADLpRHWo) before your PR gets merged, I see that the testing of the graph in the editor tab isn't resolved.
![image](https://user-images.githubusercontent.com/16653571/60617517-8aa10b80-9df1-11e9-84b4-a1efe0025c40.png)

[2019-07-03 19:27] DubeySandeep opened #7083 "Card view on creator-dashboard is not oriented correctly on oppia.org"
![image](https://user-images.githubusercontent.com/16653571/60619427-4a905780-9df6-11e9-8323-9e3969703206.png)

Is this an expected card view (on creators dashboard)?
- Left aligned text.
- Spacing in the bottom part of the card.

[2019-07-03 19:28] DubeySandeep commented on #7083
@nithusha21, is this the expected card view? (This looks different to me but I'm not sure!)

Assigning this to you so that you can find this comment easily.

[2019-07-03 19:30] sophiewu6 opened #7084 "Add I18N strings for all headings, text, etc on the question player"
Since the question player is learner-facing and should be internationalized, I18N strings need to be added for translation purpose. I will add them in a separate PR after everything for question player in my GSoC project is finished.

Thanks @nithusha21 for pointing out this issue in https://github.com/oppia/oppia/pull/7050

[2019-07-03 20:15] nithusha21 opened #7085 "TypeError: Object doesn't support property or method 'toLowerCase'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-07-03 20:16] nithusha21 opened #7086 "Cannot read property 'getHtml' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-07-03 20:17] nithusha21 opened #7087 "SyntaxError: "2" contains no units"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-07-03 20:38] #7047 closed, assigned to nobody

[2019-07-03 23:26] DubeySandeep commented on #6972
@ankita240796, is this issue resolved? (I think you have added a new pattern for image filename check, right?)

[2019-07-04 00:03] DubeySandeep commented on #5554
@NishealJ, is this issue resolved?

[2019-07-04 00:05] DubeySandeep commented on #5143
@aks681, is this issue resolved?

[2019-07-04 03:05] apb7 commented on #6754
Closing this. We do not require it at the moment. Thanks!

[2019-07-04 03:05] #6754 closed, assigned to nobody

[2019-07-04 03:09] apb7 commented on #6748
Hi @vojtechjelinek, I think the team can implement this. Thanks!

[2019-07-04 03:17] apb7 commented on #7042
Hi @seanlip, this seems to be related to the d3 upgrade. @NishealJ, can you please look into why this was not caught during testing? Thanks!

[2019-07-04 05:38] DubeySandeep opened #7089 "New command to do incremental changes for state translation and voiceover."
Currently, every time a translator adds new translations to the exploration in a specific language we use to record the entire written_translation property of the state in the change list. (We do this to follow the existing pattern of change command structure.)

But written translations and voiceovers are different than the other properties of the state, as changes to these properties can be done

[2019-07-04 06:56] NishealJ commented on #7042
Hi @apb7, yes it is related to D3 upgrade happens when we try to drag/drop the states in the exploration view. I want to know that do the states in exploration view drag and drop? because I have tried testing all the expected behavior and always matched it the test server I must have not tried drag/drop in the exploration overview thinking its not a behavior of the element.

[2019-07-04 07:02] NishealJ commented on #7042
Sorry, but I had tested These, Thanks @kevintab95 For the PR :)

[2019-07-04 09:33] aks681 commented on #5143
Yeah, it is. Closing it.

[2019-07-04 09:33] #5143 closed, assigned to nobody

[2019-07-04 14:33] NishealJ commented on #5554
Hi @DubeySandeep, we still don't have a google classroom logo in Font-awesome.
we have a logo for `code-icon` we can try that.

[2019-07-04 20:12] aks681 commented on #6230
As of now, all 3 bullet points are done w.r.t the backend implementation, though in the frontend still image uploads are only for explorations.
So, generalizing the RTE to upload images in all structures is pending.

[2019-07-04 20:31] #7016 closed, assigned to sophiewu6

[2019-07-04 22:08] #7042 closed, assigned to nobody

[2019-07-05 06:17] YashJipkate opened #7092 "Get rid of downgrades for the upgraded components."
Since currently the app is in a hybrid state, there are downgrade statements for the upgraded components so they are available to the AngularJS part of the code.
This issue keeps a track of their removal.

The following have the downgrade statements (this list updates as the migration proceeds and new components are upgraded):

- [ ] Constants (*.constants.ajs.ts)
- [ ] Services

[2019-07-05 12:35] import-keshav commented on #5064
Hello everyone, there is one wrong thing mentioned by @ishucr7 that
```image directive ``` is called once for state 1 (1st state of the exploration) and twice for remaining states which is the wrong thing.
I investigate it and checked ``` image directive``` is called twice for all states.

Heres the console log
![imageedit_2_8533269956](https://user-images.githubusercontent.com/34139754/60722745-7

[2019-07-05 17:15] kevintab95 commented on #7086
I was able repro this, here's what I did:
1. Create an exploration
2. Add some text in content -- do not save draft.
3. Refresh page.
4. The content appears blank, try to edit and save something. Throws error on the console.

![saveContentButtonClicked](https://user-images.githubusercontent.com/11008603/60736865-2eb3bf80-9f76-11e9-8325-70e9e4d9b78d.png)

Clicking on save draft restores the content

[2019-07-05 17:56] kevintab95 commented on #1105
I think this happens because we don't redraw the graph when we navigate back to the editor page.

Found this TODO in `router.service.ts`:
[code]

Firing the redrawGraph event (`$rootScope.$broadcast('redrawGraph');`) fixes this issue like the comment says. However, I didn't notice any delay in drawing the graph. Currently, redraw does occur everytime the user advances to a new card in the preview

[2019-07-05 17:59] #7033 closed, assigned to anubhavsinha98

[2019-07-05 17:59] seanlip commented on #7033
I hope #7094 fixes this. But please feel free to reopen if it doesn't.

[2019-07-05 18:03] seanlip commented on #1105
You could try!

[2019-07-05 21:06] ankita240796 commented on #6911
Hi @NishealJ @sophiewu6 , I was not able to find anything specific related to this issue or reproduce this locally. Did you run into this issue again? Thanks!

[2019-07-05 21:09] ankita240796 opened #7100 "Update the audit jobs for stats model"
Update audit jobs for stats models and move them from `core/domain/stats_jobs_one_off.py` to `core/domain/prod_validation_jobs_one_off.py`. Once the update is done, the tests created in #7099 should also be updated by removing the statistics models from the list of excluded models.

[2019-07-05 23:27] #6952 closed, assigned to ankita240796

[2019-07-06 01:09] teddymarchildon commented on #7010
@lilithxxx I am happy to work on this if still needed! Is the best place to add a new lint check in scripts/pre_commit_linter ?

[2019-07-06 01:25] seanlip commented on #7010
Hi @teddymarchildon, yes! The linter script is the right place.

I've assigned you to the issue, please go ahead :)

[2019-07-06 15:54] #7079 closed, assigned to ankita240796

[2019-07-06 23:10] seanlip commented on #7041
Thanks for the debugging report, @kevintab95! This is actually quite weird. I don't know why it happens, it sounds like there might be a race condition somewhere. Note that drafts are actually autosaved and that "save draft" means something more like "commit draft"...

Ideally we would find a solution that doesn't require making the user click save, because if they decide not to then it might be a

[2019-07-07 00:06] #6950 closed, assigned to kevinlee12

[2019-07-07 00:14] seanlip commented on #6960
Oops, wait a sec ... how did merging #7106 cause this to close? I didn't see #6960 anywhere in that PR description...

(And thanks, @kevinlee12, for noticing!)

[2019-07-07 00:16] kevinlee12 commented on #6960
Apparently I had mistakenly linked this issue instead of the targetted issue, I've fixed it in the PR description.

[2019-07-07 00:19] seanlip commented on #6960
Ah ok, thanks @kevinlee12!

[2019-07-07 00:21] kevinlee12 commented on #6695
Thanks @alexewu for letting us know!

[2019-07-07 00:21] #6695 closed, assigned to nobody

[2019-07-07 04:45] seanlip commented on #6909
Hm -- looking at this, we may want to try to find a way to incorporate sourcemaps into our toolchain somehow, otherwise the line numbers will all be "line 1" (which doesn't help with debugging :P).

[2019-07-07 14:10] vojtechjelinek commented on #7061
Just a snippet from Lighthouse best practices audit.

![image](https://user-images.githubusercontent.com/10142938/60769574-c11ca600-a0d1-11e9-9a69-05b3aa58a7b2.png)

[2019-07-07 18:28] vojtechjelinek commented on #7064
Fixed in #7103

[2019-07-07 18:28] #7064 closed, assigned to vojtechjelinek

[2019-07-08 17:36] #1105 closed

[2019-07-08 19:14] kevintab95 commented on #7085
We need to find out two things here:
1. What browser was used.
2. What version of jQuery was used -- will need to add a logger for this.

On doing a quick google search I found this usually occurs when there are conflicting versions of jQuery present.

[2019-07-08 19:30] kevintab95 commented on #7046
This seems to be browser related. I was able to repro this on IE11.
1. Create a card with Math Expression Input interaction.
2. Preview the card, click on input box.
3. Error shows up in the console.

<img width="960" alt="xpathresult_undefined" src="https://user-images.githubusercontent.com/11008603/60836963-a555f480-a1e4-11e9-9d16-1c0160504dda.PNG">

Also, I noticed that the editor looks really

[2019-07-08 23:16] #6348 closed, assigned to vinitamurthi

[2019-07-09 11:58] #5069 closed, assigned to YashJipkate

[2019-07-09 16:45] NishealJ opened #7116 "Mis-aligned fa-icons and stats in learner dashboard"
**Describe the bug**
In the stats summary card of learner dashbaord, the fa-icons and the exploration stats are miss-aligned.
After the upgrade, we have used small fa-icons when is the same size as the stats and should come on a single line.

**Observed behavior :**

<img width="240" alt="Screenshot 2019-07-09 at 7 15 11 PM" src="https://user-images.githubusercontent.com/41017303/60906993-219e1580

[2019-07-10 08:25] YashJipkate opened #7120 "E2E tests unable to run on local."
**Describe the bug**
The e2e tests do not start in the local. They fail with the following stack:

[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. Sync your branch with develop.
 2. Run any e2e test.
 3. See the error.

**Observed behavior**
The e2e tests do not start complaining of a missing `app.yml`/`app.yaml`.

**Expected behavior**
The tests should run properly.

**Screenshots**

[2019-07-10 09:36] vojtechjelinek opened #7122 "Clean /dist folder only when server is started"
We can't use `CleanWebpackPlugin()` for cleaning the `/dist` folder because it causes errors in watch mode (#7121).

Clean up the `/dist` folder every time we start server instead.

[2019-07-10 12:16] NishealJ opened #7124 "No outline for bio textarea in preference page of mobile view"
**Describe the bug:**
The textarea for bio in preference page has no outline in mobile-view, it looks like space when in mobile view

**Current Behaviour:**

<img width="225" alt="Screenshot 2019-07-10 at 3 04 45 PM" src="https://user-images.githubusercontent.com/41017303/60968276-595e9900-a325-11e9-884c-885cffee2cb2.png">

**Expected Behaviour:**

<img width="225" alt="Screenshot 2019-07-10 at 3

[2019-07-10 12:38] NishealJ opened #7125 "Un-responsive toggle navigation in mobile view"
**Explanation**

The toggle navigation is unresponsive in the mobile view, this needs debugging in ui.

**Screenshots**

![2019-07-10 15 36 59](https://user-images.githubusercontent.com/41017303/60969598-98dab480-a328-11e9-9dad-29e47caf2841.gif)

[2019-07-10 13:53] DubeySandeep commented on #7125
@nithusha21, do we have to hotfix this issue? (Reproducible in production.)

[2019-07-10 15:07] #7120 closed, assigned to jameesjohn

[2019-07-10 20:00] vojtechjelinek commented on #7072
@YashJipkate Ping!

[2019-07-11 06:30] DubeySandeep opened #7126 "Exploration Migration failing in testserver"
Exploration migration manager job is failing in test server because of exploration validation check.

Few logs:
[code]

[code]

[code]

[2019-07-11 06:32] DubeySandeep commented on #7126
@NishealJ, Can you please check whether the 2nd error is happening because of [this](https://github.com/oppia/oppia/commit/58037800033cb64c703f6c4e01cefa73cc64d6e3#diff-781314b975a52120938e342ae5ffd787L253) change?

[2019-07-11 07:10] stanvarlamov opened #7127 "Extra Lines and List Items Added on Save Draft (Develop branch)"
**Describe the bug**
On an instance working off `develop` branch, Save Draft causes blank bullet points (or blank lines, if no bullet points are in the text) added to the generic card text, e.g., text inside the Introduction Card.

It looks like the `/createhandler/data` call goes out with the correct `"new value":{"html"` in the payload, but the Response comes back with an extra blank bullet poin

[2019-07-11 09:55] stanvarlamov commented on #7127
@ankita240796 Please make sure the fix also fixes the Blank Line addition bug: in an empty Introduction card, enter two separate lines "Line 1" and "Line 2", save, save draft. Come back, open in the editor - there is a blank line added b/w "Line 1" and "Line 2". This is likely caused by inserting extra `<p>` somewhere in the code of the file being fixed by the PR
The HTML to be saved:
`<p>Line 1</

[2019-07-11 10:49] ankita240796 commented on #7127
Done @stanvarlamov! Thanks for finding and reporting this :) You can check the changes in #7128. Please do let me know if you still face any issues.

[2019-07-11 11:44] NishealJ commented on #7126
Hi @DubeySandeep,

I'm not really sure about this but it looks like an issue with the Html validation, I'd like to learn more about this from @bansalnitish.

Hi @bansalnitish, the above input contains `<div> & <span>` which is caught in the HTML validation, `<div>` & `<span>` tag are not expected in RTE right?  Also, there are many checks and tests for textangular output can I remove that? do we n

[2019-07-11 18:02] gautamv95 commented on #6618
Looks like "Copy to Clipboard" functionality hasn't been implemented yet, shall I start looking into this issue?

[2019-07-12 00:02] BenHenning commented on #1513
Is this issue still available to be worked on? I'd like to assign this to @rt4914 who's the newest member of the Oppia Android team as a starter issue. Although it's not specifically Android related, it requires exposure to the full Oppia stack.

[2019-07-12 00:42] DubeySandeep commented on #1513
Hi @BenHenning, this issue is still reproducible. Feel free to assign it to @rt4914

See the difference: "[Search bio](https://www.oppia.org/search/find?q=bio&language_code=(%22en%22))" vs. "[Search biology](https://www.oppia.org/search/find?q=biology&language_code=(%22en%22))"  (Bio with 0 result whereas biology with 7 results.)

[2019-07-12 01:01] import-keshav commented on #5064
ping @seanlip

[2019-07-12 01:51] DubeySandeep commented on #5064
@import-keshav, I hope you have written the console.log in the controller if so we are expecting the controller to be called once.

[2019-07-12 05:22] YashJipkate commented on #7072
@vojtechjelinek @seanlip Added the details.
Thanks!

[2019-07-12 09:00] bansalnitish commented on #7126
Hi @NishealJ, Yes the textangular checks can be removed and the div and span tags are not expected in the rte html. The html was cleaned and passed validation during my GSoC and as of now we need to re-run the validation jobs, find out a root cause behind this issue and then re-run the migration jobs. I will take care of the textangular stuff removal after that, so please do not remove anything as

[2019-07-12 09:10] NishealJ commented on #7126
sure @bansalnitish, I think it might need a lot of debugging.
Keep me updated I'd like to learn more about this Thanks! :)

[2019-07-12 16:36] import-keshav commented on #5064
I didn't know about which controller you are talking about @DubeySandeep.
I write ```console.log ``` in ``` OppiaNoninteractiveImageDirective.ts```

[2019-07-12 17:18] #7116 closed, assigned to NishealJ

[2019-07-13 01:30] DubeySandeep commented on #5064
I'm talking about the directive's controller.

Also, can you check how many networks calls we are making for an image (I think that must be one as we cache service for assets.)

[2019-07-13 01:48] DubeySandeep commented on #6766
@vojtechjelinek Can we prioritize this issue, it really takes lots of the time? (Currently, I'm working on 3-4 branches (new-release, hotfix, new-feature, testing-others-PRs etc.) and for me, it's really important and I'm wasting lots of time waiting for the server to start and realizing it won't.)

[2019-07-13 16:24] #7039 closed, assigned to YashJipkate

[2019-07-14 04:50] apb7 commented on #6821
Hi @kevinlee12, any progress on this? Thanks!

[2019-07-14 05:06] kevinlee12 commented on #6821
Hi @apb7, I've been trying some tactics to resolve this by flipping some configuration settings, but it hasn't been working. I'm moving onto higher complexity things to accomplish this.

[2019-07-14 06:43] stanvarlamov opened #7139 "Saving a Card with inserted video breaks when Start and End are set to zero (develop branch)"
**Describe the bug**
In a development server, saving a card with an inserted video errors out when the start and end are left at the zero defaults. Works when the values are set to, e.g., 1

**To Reproduce**
Steps to reproduce the behavior:
 1. Create new Exploration and click on the Introduction Card to open the editor
 2. On the top editor's menu, click on "Insert Video" icon - the right-most on

[2019-07-14 15:52] DubeySandeep commented on #7139
@stanvarlamov, Thanks for reporting the issue! We have recently changed the html validation methods and that's causing these kinda issues, we are working on it (a similar issue at #7126).

/cc @bansalnitish @ankita240796

[2019-07-15 04:59] #7127 closed, assigned to ankita240796

[2019-07-15 05:19] DubeySandeep opened #7143 "Console errors on playing fraction exploration"
Console errors on playing fraction exploration

![image](https://user-images.githubusercontent.com/16653571/61196681-fa669e80-a6ed-11e9-95e0-eb82f787ef12.png)
**Steps to reproduce:**
- Start playing [this lesson](https://www.oppia.org/explore/umPkwp0L1M0-?collection_id=4UgTQUc1tala).
- Complete 10 cards.
- Check console.

[2019-07-15 05:20] DubeySandeep commented on #7143
@NishealJ, Can you please look into this. Sorry I wasn't able to go through the issue as I was busy with other stuff. But do let me know if you need any help.
(Note: I didn't face any issue in playing the exploration though)
Thanks!

[2019-07-15 06:43] ankita240796 opened #7146 "Add html validation after html audit and migration is performed"
PR #7144 removes html validation to unblock the release process. The following tasks need to be performed after the release:

- Find out what these cases are and why are they occurring (For this we need to run the ExplorationContentValidation and InteractionCustomizationArgsValidation Jobs)
- Find out the root cause for the invalid html and perform a migration from invalid to valid schema (vN to v

[2019-07-15 06:50] DubeySandeep commented on #7126
@bansalnitish @NishealJ , FYI we are reverting the newly added HTML validation checks as of now (#7144) and we will try to fix this issue in the next release. We have created an issue for tracking this work at #7146.

[2019-07-15 07:59] NishealJ commented on #7143
Hi @DubeySandeep,
I'm unable to reproduce this please let me know if the process is correct video [here](https://drive.google.com/open?id=1_3zuF8NQYMCJuDXsd9do4zfZbJ_z39V0).
the link provided is from of oppia.org is that up-to-date?

Also, we don't deploy the fonts of Mathsjax into GCP we exclude them in app_dev.yaml probably that is the reason it is unable to find the font files. The mathjax font

[2019-07-15 13:42] #7126 closed, assigned to ankita240796

[2019-07-15 17:48] gautamv95 commented on #6618
Hi @seanlip, I will be working on this issue, can I use the ng-clipboard library for implementing this feature?

[2019-07-15 19:46] #6821 closed, assigned to kevinlee12

[2019-07-16 06:14] seanlip commented on #7143
Was the exclusion of the MathJax fonts a recent change? If so we should try to undo that -- 404 errors (or errors of any kind in the console logs) should not be happening in production.

[2019-07-16 06:23] DubeySandeep commented on #7143
![image](https://user-images.githubusercontent.com/16653571/61270464-636a1700-a7bf-11e9-94a4-9eb5782ceb4f.png)

@NishealJ, I can still reproduce this issue on oppia.org for the 6th card of [this exploration](https://www.oppia.org/explore/umPkwp0L1M0-?collection_id=4UgTQUc1tala).

[2019-07-16 06:23] DubeySandeep commented on #7143
@seanlip, We have updated the MathJax recently (here #6778) and I'm not sure about which PR excluded MathJax fonts, @NishealJ do you know any such PR?

[2019-07-16 06:37] NishealJ commented on #7143
Hi @seanlip & @DubeySandeep,
No the exclusion of fonts is not a recent change, earlier MathJax font folder was completely removed using scripts in `install_third_party_py` further we have removed the script and added the font folder in app.yaml skip-files [here](https://github.com/oppia/oppia/pull/6778/files) a PR for the same.

Also @DubeySandeep the link provided is from of [oppia.org](oppia.org

[2019-07-16 06:52] apb7 commented on #6821
Hi @lilithxxx, since this issue has been fixed, can you please resolve [this TODO](https://github.com/oppia/oppia/blob/a1f3657492a808c50ce16306dd5f6ee1c939c7ad/.circleci/config.yml#L79)? Thanks!

[2019-07-16 08:00] seanlip commented on #6618
Better not to introduce new third-party libraries if possible. Can you try doing it without adding new dependencies?

[2019-07-16 11:26] DubeySandeep commented on #7143
@NishealJ Sorry, I'm unable to understand this.

[2019-07-16 11:31] NishealJ commented on #7143
wanted to know that are oppiatestserver and oppia.org both in the same version?

[2019-07-16 11:55] DubeySandeep commented on #7143
Nope, oppia.org is running on version 2.8.3 whereas test server is running 2.8.4.

[2019-07-16 21:43] seanlip commented on #4438
#7036 fixes this for the case of state schema upgrades (thanks @sshou14!)

It would be nice to generalize this to the case of (non-schema) version upgrades in general, e.g. when there are multiple people editing the same exploration. This hasn't been done yet.

[2019-07-16 23:43] brianrodri commented on #7010
As a side note, I think it'd be fine to allow github issue numbers in TODO statements as well (since they are much more stable). What do you think @seanlip @oppia/dev-workflow-team?

[2019-07-17 02:36] #5975 closed, assigned to pranavsid98

[2019-07-17 03:47] brianrodri opened #7156 "Render Suggested Changes in Suggestion Improvement Cards"
Suggestion Improvement cards only render the latest message of the associated thread:

![suggestion card example](https://user-images.githubusercontent.com/5094060/61331971-14d57080-a7f1-11e9-9107-4b702c7bf6e8.png)

To view the actual suggestion, creators must click the "Review Thread" button and then the "Review Suggestion" button from the thread modal:

![suggestion thread](https://user-images.g

[2019-07-17 03:49] brianrodri commented on #7156
Since this issue is currently blocked on #7147, I will re-open it once it has been merged.

[2019-07-17 04:01] brianrodri commented on #5799
This has been fixed by #7147.

[2019-07-17 04:01] #5799 closed, assigned to brianrodri

[2019-07-17 04:04] brianrodri commented on #6433
@pranavsid98 would you like to pick this up?

[2019-07-17 04:30] seanlip commented on #7156
Hi @brianrodri, for future reference, better to leave this open and just say `[blocked on #XXX]` in the title. When the other PR gets merged, then remove that. But don't close it, because "closed" means "fixed" or "WAI".

Thanks!

[2019-07-17 04:32] seanlip commented on #7010
I think that is a great idea (e.g. `TODO(#213)`). In fact I would go further and suggest that ultimately every TODO should look like this, otherwise the TODOs will just languish. (But that's out of scope for this PR.)

[2019-07-17 04:38] DubeySandeep commented on #7143
@NishealJ, This is a blocking bug and we need to fix this before doing the release, do you have any suggestion on how we can fix this?

[2019-07-17 04:40] DubeySandeep commented on #7139
@ankita240796, is it fixed after reverting the new HTML validation check?  (#7144)

[2019-07-17 04:45] DubeySandeep commented on #7125
@Showtim3, would you like to fix this issue? (Note: this is a blocking bug so you'll have to fix this before 20th July.)

[2019-07-17 04:56] gautamv95 commented on #6618
Yes, I can try using the $window service as mentioned by Amey Kudari and will update you soon.

[2019-07-17 06:36] Showtim3 commented on #7125
@DubeySandeep Okay M on it.

[2019-07-17 09:43] gautamv95 commented on #6618
@seanlip, I tried using $window service and this is how the webpage looks. Exploration Link will be copied when the user clicks on the link, is it okay?

![copy to clipboard](https://user-images.githubusercontent.com/45149542/61365340-2ed08b00-a8a5-11e9-917f-01be69ae225a.png)

[2019-07-17 09:47] seanlip commented on #6618
Seems possible, but we'd need to see your code to tell you :) Feel free to send in a PR.

With regards to the UI, I don't think it should look like that -- make "Exploration link copied." smaller, drop the capital C on "Copied", and drop the exclamation mark. Or, perhaps better, just show a little "pill" on the right side of the link box with the word "Copied" in it, so that the existing content d

[2019-07-17 10:44] gautamv95 commented on #6618
I tried to shift the text to right hand side of the link, but it shifts the link horizontally.

![right copy](https://user-images.githubusercontent.com/45149542/61369373-9559a700-a8ad-11e9-94c8-d24068ba6eb5.png)

Does this look good, or the previous one is better after editing the text?

[2019-07-17 10:56] seanlip commented on #6618
I would suggest that you try to find a way to do this that does not shift
the text.

[2019-07-17 12:08] rt4914 commented on #1513
Proposed solution: https://docs.google.com/document/d/1FREz_0oKPXHbFhhl9afbn9CWYZlKTEGjmiGB-P3vOvc/edit?usp=sharing

[2019-07-17 16:03] amey-kudari commented on #6618
Hi @seanlip @gautamv95 , I did not look at this code when I filed the issue, the div has an event
ng-click="selectText($event)"
and clicking it selects the text, and copying is one shortcut away and I think most explorations are made on computers so its ctrl+c, so I don't think its needed.

[2019-07-17 17:11] ankita240796 commented on #7139
Hi @DubeySandeep @stanvarlamov, I checked this on dev mode and yes it is fixed after #7144. @stanvarlamov can you please confirm the same and close this issue then? Thanks!

[2019-07-17 17:13] ankita240796 opened #7160 "Update the wiki page to add instructions for storage model audit jobs"
Wiki page should be updated to have the following instructions:

- Adding audit jobs and validators for new storage models
- Adding tests for audit jobs

[2019-07-17 17:30] YashJipkate opened #7161 "Status of feedback thread not displayed on learner dashboard."
**Describe the bug**
The learner dashboard does not show the status of the feedback thread.

**To Reproduce**
1. Login to oppia
2. Create an exploration and publish it.
3. Login as a different user and navigate to the exploration player page.
4. Add some feedback for the exploration.
5. Log in again as the first user, and navigate to the exploration create view.
6. Send some message to the thread,

[2019-07-17 17:56] DubeySandeep commented on #7139
@ankita240796, Thanks for checking.

@stanvarlamov, Once again thanks for reporting the issue, this has been fixed and will be released soon! :)

[2019-07-17 17:56] #7139 closed, assigned to nobody

[2019-07-17 23:31] #6853 closed, assigned to Darin8

[2019-07-18 01:35] DubeySandeep commented on #6920
@Dharmesh-Poddar, Sorry, I've missed your calls.

Do what you think will be right, we can discuss this while reviewing the PR (It's hard for me to say the correct height without a mock.)

[2019-07-18 01:37] DubeySandeep commented on #6338
@mzaman07, I'm moving this to "High Priority Issues" as users are facing problems because of this.

[2019-07-18 03:15] YashJipkate opened #7165 "Eliminate 'any' type in favor of its exact type."
NOTE - @nishantwrp will be working on this as a part of his GSoC project.

Eliminate the use of `any` type used in the TS files. They must be replaced with an explicit type that would bring the codebase to a strongly typed state.

- [ ] core/templates/dev/head/services/SchemaDefaultValueService.ts
- [ ] core/templates/dev/head/services/SchemaUndefinedLastElementService.ts
- [ ] extensions/interact

[2019-07-18 04:01] kevinlee12 opened #7166 "[Blocked on htmllint/htmllint-cli#39] Revert htmllint-cli npm package source"
With #7164, the htmllint-cli package points to a non-official repository with updated node packages as a temporary solution to that package having outdated packages.

**Important: Only after https://github.com/htmllint/htmllint-cli/pull/39 is merged, should we revert to using the official source of the htmllint-cli package.**

[2019-07-18 05:11] kevinlee12 opened #7167 "Move npm audit checks out of travis to only presubmit checks"
Currently our npm audit checks are being run on a linter which is causing unnecessary slowdowns. We should only have our audit checks run locally and only whenever package.json is modified.

[2019-07-18 06:18] nithusha21 opened #7168 "Replace requests library in the backend"
Remove requests library as it is used in only one spot (while using mailgun API). As we are using it in a very specific spot, we should try to find a way which doesn't require a whole 3rd party library.

As for context, this issue was brought to light after the release-2.8.3 broke after the requests library was upgraded. See https://github.com/oppia/oppia/pull/7088 for more details.

[2019-07-18 07:08] #7087 closed, assigned to nobody

[2019-07-18 07:54] seanlip opened #7169 "Do not block PRs on the npm audit checks (when run on travis/circle-CI)"
Per discussion with @kevinlee12 and @nithusha21, let's get rid of audit checks on Travis, since they block all PRs. The codebase maintenance team should fix any such issues immediately as they occur (with targeted PRs specifically for that purpose).

However, security audit checks should still run in the pre-push hook.

[2019-07-18 07:55] seanlip commented on #7169
Oh sorry, this is a duplicate of #7167. Closing.

[2019-07-18 07:55] #7169 closed, assigned to kevinlee12

[2019-07-18 09:02] #6957 closed, assigned to vinitamurthi

[2019-07-18 09:02] #6576 closed, assigned to vinitamurthi

[2019-07-18 09:03] rt4914 commented on #1513
Updated Solution Approach: https://docs.google.com/document/d/1FREz_0oKPXHbFhhl9afbn9CWYZlKTEGjmiGB-P3vOvc/edit?usp=sharing

[2019-07-18 10:01] lilithxxx opened #7170 "Some categories are missing on the search bar"
**Describe the bug**
Some categories like Algebra, Arithmetic, Astronomy etc are not present in the search bar on the library page. This is being observed on the test server and also on the main website.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/library
 2. Click on 'All Categories' in the search bar
 3. All categories are not listed

**Observ

[2019-07-18 13:06] puneeth-chanda commented on #6271
@DubeySandeep Can you assign me an issue if there is anything left. I would like to start contributing to that.

[2019-07-18 13:32] DubeySandeep commented on #7143
@NishealJ, any update on this?

[2019-07-18 15:10] DubeySandeep commented on #7161
I was looking into this issue and fixed it but realized that there's a major issue in our translation feature.
![image](https://user-images.githubusercontent.com/16653571/61467928-18582b80-a99a-11e9-8670-a6f6a199eda7.png)

The expected pattern for translate-values is {key: '<[expression]>'} and we haven't used the quote(') for any values. Also, in some places (like in learner dashboard page), we h

[2019-07-18 15:50] DubeySandeep commented on #7161
Unassigned @YashJipkate and assigning myself. (As per hangout discussion)

[2019-07-18 16:53] gautamv95 commented on #6618
Hi @amey-kudari , I agree with your point, considering user experience here, I think it's better to have the copy button or click to copy.

[2019-07-18 16:57] Showtim3 commented on #7170
@seanlip Hey Sean, I just wanted to ask you something. While working on this, I encountered that in
**constants**, the `ALL_CATEGORIES` and `SEARCH_DROPDOWN_CATEGORIES` are different.
(Screenshot attached below). And hence this issue. Is this intentional? If not the two possible solutions i can think of are:-
1. Directly using `ALL_CATEGORIES` in the frontend instead of `SEARCH_DROPDOWN_CATEGORIES

[2019-07-18 16:59] seanlip commented on #7170
Actually, I think they are intentionally different, and that this is not an issue. I remember we did not want to make the search category dropdown too overwhelming.

So I'm going to close this. But thanks for noticing it, @lilithxxx! Well-spotted :)

[2019-07-18 16:59] #7170 closed, assigned to Showtim3

[2019-07-18 19:20] kevintab95 commented on #7143
Will moving mathJax fonts into generated fix this? Looks like we bundle font-awesome fonts into `/third_party/generated` folder.

Changes to manifest.json:
[code]

[2019-07-18 19:31] NishealJ commented on #7143
Hi @DubeySandeep & @kevintab95,
Mathjax font folder has many sub-folder inside, I'm not really sure that if build.py can copy the fonts/dirs recursively. Also, there are a lot of files in MathJax font directory if we copy it to generated/fonts it will cross the GAE file limit.

@kevintab95 are you able to reproduce?

[2019-07-18 19:39] kevintab95 commented on #7143
It seems to recursively copy all the fonts into generated/fonts with that configuration in manifest.json (on my local machine). But it doesn't maintain the folder structure.

I guess on prod we don't allow access to files inside the static folder. I tried accessing the the copies of font-awesome fonts in the /third_party/static/fontawesome-free-5.9.0-web/webfonts path and I got 404s. But when I tr

[2019-07-18 19:50] kevintab95 commented on #7143
@NishealJ -- Does the file limit apply to local machines as well?

[2019-07-19 05:44] DubeySandeep commented on #6271
Hi @puneeth2001, I've assigned you to the answer_groups and default_outcome part of the state structure (see the issue header comment). You can start working on it :) /cc @ankita240796

Thanks!

[2019-07-19 06:03] YashJipkate opened #7176 "Add types for Object Factories"
NOTE - @nishantwrp will be working on this as a part of his GSoC project.

At present many dicts in frontend have underscore_cased keys (like [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/domain/topic/TopicObjectFactory.ts#L366)) which prevent explicit typing of the object as it raises tslint errors regarding the casing. Note that the backend also needs to be refactore

[2019-07-19 06:29] DubeySandeep commented on #6271
@RafayGhafoor, @anamika2004, @worstahrieu any update on assigned issue?

[2019-07-19 08:50] #4438 closed, assigned to nobody

[2019-07-19 09:41] DubeySandeep commented on #6271
Unassigned @RafayGhafoor & @worstahrieu for this issue because of lack of activity. (As mentioned by their onboarding mentor.)

@RafayGhafoor & @worstahrieu, feel free to ping me here if you still want to continue working on any part of this issue.

<hr>
EDIT:
Re-assigned @worstahrieu back! (Realized she has started working on the issue and found her on gitter.)

[2019-07-19 10:03] NishealJ commented on #7143
Hi @kevintab95 , The call for the font files from mathjax will follow the directory structure example: `Mathjax.js` will make a call to `mathjax/font/dir_a/somefont` but the build.py will copy it to a directory `font/somefont `whereas in font-awesome it has only one folder containing all the fonts so it was straight to provide the fonts to font-awesome.

Do you have any solution to this? we can bu

[2019-07-19 11:23] RafayGhafoor commented on #6271
@DubeySandeep, Yes, I am testing the modified code, and updating the documentation. Sorry for the late response.

[2019-07-19 16:48] gautamv95 commented on #6618
@seanlip is this fine?

![final](https://user-images.githubusercontent.com/45149542/61551532-11511c00-aa73-11e9-8060-b1d438e9000d.png)

[2019-07-19 17:51] seanlip commented on #6618
Yep! (From a UI perspective.)

[2019-07-19 17:59] aboryslawski commented on #6271
Hi Dubey, sorry for the late reply, but I really am working on it, can I
get a bit more time? It's my first issue ever and I sincerely take every
moment of my free time to try to understand the code and learn how to
modify it. If you need this issue resolved quickly, then I won't be able to
do so, but giving me a few more weeks would probably suffice.

On Fri, 19 Jul 2019, 11:42 Sandeep Dubey, <no

[2019-07-19 18:03] DubeySandeep commented on #6271
@worstahrieu, I've already re-assigned you to the issue after replying to your Gitter message. It's totally fine, take your time and do let us (or your onboarding mentor) know if you need any help. Thanks! :)

[2019-07-19 18:04] DubeySandeep commented on #6271
@RafayGhafoor, Thanks for the updates. (/cc @apb7 [onboarding mentor])

[2019-07-20 06:09] #7167 closed, assigned to kevinlee12

[2019-07-20 07:30] apb7 opened #7182 "Add check to ensure that all TODO messages start with a capital letter"
A check needs to be added to ensure that all TODO messages start with a capital letter.

[2019-07-20 13:53] DubeySandeep opened #7188 "Profile and learner dashboard pages starts loading with a weird structure."
Loading pages start with wired structures:

**Profile page:**
![image](https://user-images.githubusercontent.com/16653571/61579380-e245b380-ab21-11e9-85c9-65c100bbbe5f.png)

**Dashboard page:**
![image](https://user-images.githubusercontent.com/16653571/61579520-a6135280-ab23-11e9-8d0a-3564989200b8.png)

**Expected behavior:**
The page should show "**Loading...**" message until it's completely loa

[2019-07-20 13:57] DubeySandeep commented on #7188
@Jamesjay4199, is it happening after the infrastructure changes made in your project? Can you please check?

[2019-07-20 15:23] #7161 closed, assigned to DubeySandeep

[2019-07-20 15:27] DubeySandeep commented on #7143
@NishealJ, do we need all the font files? If no, is there any way to find which of them are required? (From the screenshot above I can say it's looking up for 3 fonts and one image file, but I also think it depends on the text (not sure!))

@kevintab95, do you have any suggestion on this?

**Note:** This is the only blocking bug which is left we have resolved all of the other such issues and this

[2019-07-20 15:31] DubeySandeep commented on #7143
![image](https://user-images.githubusercontent.com/16653571/61580584-7ff4af00-ab31-11e9-992d-1a29b90e8dcf.png)
Can we do this^? ([src](http://docs.mathjax.org/en/latest/misc/faq.html#the-mathjax-font-folder-is-too-big-is-there-any-way-to-compress-it))

[2019-07-20 15:37] DubeySandeep commented on #7143
### The MathJax font folder is too big. Is there any way to compress it?
**No, there is no simple way to make the fonts folder smaller.** We have tried to make the fonts folder as small as possible, **but in order to render math on some older browsers, you need image fonts, which take up most of the space**. This is because you need an individual image file for each character in each font in each

[2019-07-20 16:24] NishealJ commented on #7143
Hi @DubeySandeep, we don't need all the fonts but sometimes MathJax fonts become browser dependent like for example I'm still unable to reproduce this issue in macOS google chrome maybe it's handled some other way.

Also, we have concerns about the file count in Google App Engines, the file count should be less than 7000 and file count inside the fonts folder of mathjax folder is 29606 checked via

[2019-07-20 16:48] seanlip commented on #7188
I just want to confirm - this is really not good. James please make sure
you are testing manually. Use ng-cloak where appropriate to ensure that the
pages do not look broken at the outset -- we cannot ship like this.

/cc @vojtechjelinek

[2019-07-20 17:07] DubeySandeep commented on #7188
I found the [same issue](https://oppiatestserver.appspot.com/profile/DubeySandeep) on the test server as well, marking this as "Blockin bug".

(Note: Production server is safe.)

[2019-07-20 17:20] teddymarchildon commented on #7182
Working on this! I will also ensure TODO comments have a period at the end of the message

[2019-07-20 17:27] jameesjohn commented on #7188
@seanlip, @DubeySandeep this issue is fixed in #7068  (For learner dashboard).
Static serving for profile page has not been merged yet.

[2019-07-20 17:46] DubeySandeep commented on #7188
@Jamesjay4199 I'm not sure about taking #7068 (400+ lines of changes and it's still failing tests) for the release as the release testing is complete, will it be possible to fix this with fewer changes and get it merged before #7068?

[2019-07-20 18:23] vojtechjelinek commented on #7188
@DubeySandeep The test should be fixed now, we just need to wait for Travis

[2019-07-20 18:32] DubeySandeep commented on #7188
@vojtechjelinek, #7068 doesn't fix the issue for the profile pages, also that PR changes lots of other pages which we cannot ship in this release. (The changes are in all major pages). I'm not sure but is this issue needs fixes similar to [these lines](https://github.com/oppia/oppia/pull/7068/files#diff-7cafa52f263af26608200cd9a359ef40R5)? (I'm not sure about how we can fix this, but it would be g

[2019-07-20 18:44] kevintab95 commented on #7143
I was wondering if we could use one of the free CDNs for mathJax as a stopgap solution until we figure out how to deploy it on GAE without issues.

Some CDN providers are mentioned here: http://docs.mathjax.org/en/latest/start.html#using-a-content-delivery-network-cdn

[2019-07-20 19:52] jameesjohn commented on #7188
For the profile page, the username is available before the profile-mainpage directive is completely loaded so it shows before the body of the page and hence before the loading state is initated.

Yes, I think so. But that doesn't solve the problem for the profile page

[2019-07-20 19:54] DubeySandeep commented on #7188
@Jamesjay4199, Can you create a PR using [these lines](https://github.com/oppia/oppia/pull/7068/files#diff-7cafa52f263af26608200cd9a359ef40R5) and fixing profile page issue? (This would really be helpful.)

[2019-07-20 20:18] jameesjohn commented on #7188
Okay, I'm not sure of how to fix the profile page yet though.

[2019-07-20 20:27] jameesjohn commented on #7188
@DubeySandeep To be sure, the behaviour we want to achieve for the profile page is that the username should not display until the page is fully loaded right?

[2019-07-20 20:38] DubeySandeep commented on #7188
Yep, it should show "Loading ..." while it's loading data.

[2019-07-21 02:28] NishealJ commented on #7143
This might make the exploration player load slow, also I think we can go with @DubeySandeep's suggestion lets make `imageFont: null` and skip the `/png` dir at `app.yaml` because other dirs seems to have less file & we can push them GAE the `main` folder which is inside the `Tex` folder and has fewer files

[2019-07-21 07:25] rt4914 commented on #6975
Hello @ankita240796
Assign me to this **directives** directory, as my starter issue.

[2019-07-21 10:37] ankita240796 commented on #6975
Done @rt4914!

[2019-07-21 10:38] rt4914 commented on #6975
Thanks

On Sun, 21 Jul 2019 at 4:07 PM, Ankita Saxena <notifications@github.com>
wrote:

[2019-07-21 20:52] #7188 closed, assigned to nobody

[2019-07-22 04:39] #7018 closed, assigned to sophiewu6

[2019-07-22 05:23] DubeySandeep commented on #7143
@NishealJ, Can you please create a PR with  `imageFont: null `? we can discuss in the PR if any further changes required. We have already taken 7 days on this, let's fix this asap!

[2019-07-22 07:38] vojtechjelinek opened #7197 "Fix follow-up comments from #7191 and #7068"
This issue tracks the follow-up comments from #7191 and #7068.

[2019-07-22 12:46] JoyLubega commented on #7168
Hey @nithusha21  Can I work on this?

[2019-07-22 16:07] DubeySandeep commented on #7143
@NishealJ, any update on this issue?

[2019-07-22 17:37] NishealJ commented on #7143
Hi @DubeySandeep, sorry for the delay raised #7200 for the same PTAL Thanks !

[2019-07-22 18:25] bansalnitish commented on #6271
Hi @anamika2004, could you please let us know is there any update on this issue ? Also, let us know if you're facing any issue regarding the same.

[2019-07-23 07:31] #7010 closed, assigned to teddymarchildon

[2019-07-23 09:12] YashJipkate opened #7201 "Interpolate URL console error in feedbacks."
**Describe the bug**
The feedbacks thread section gives console errors regarding invalid parameters in feedback tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration and publish it.
 2. Login as another user and give some feedback on the exploration.
 3. Go to learner dashboard and reply to your existing feedback.
 4. See error

**Observed behavior**
Console error pops

[2019-07-23 12:01] YashJipkate opened #7204 "Exploration editor loads faultily in local dev server."
**Describe the bug**
The exploration editor loads differently and the editor is not in its correct form.

**To Reproduce**
Steps to reproduce the behavior:
 1. Fire up your local server.
 2. Go to exploration editor
 3. See the weird editor look.

**Observed behavior**
The exploration editor seems off.

**Expected behavior**
It should load normally.

**Screenshots**
![Screenshot from 2019-07-23 17

[2019-07-23 12:55] DubeySandeep commented on #7204
This is happening frequently from the last couple of days! Switching tabs resolves the issues but it again appears after adding an interaction.

[2019-07-23 17:52] teddymarchildon commented on #7182
I can fix the TODO comments starting with a capital letter easily, and then also I noticed after working on this issue, it looks like [here](/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L1972) we check comments end in a period for python files, but we don't have the same check for other file types. I can extend to js, ts, and html if you all think thats a good idea.

@seanlip @DubeySande

[2019-07-23 18:18] DubeySandeep commented on #7182
I think we have a lint test to make sure a comment starts with a capital letter and end with a period (not sure!), if it exists can you find a way to re-use that? I think that way it will be simple to implement.

Also, after going through [this](https://github.com/oppia/oppia/issues/7010#issuecomment-512097886) comment I realized we should prioritize `TODO(#issueNumber): Xxx` pattern and let all t

[2019-07-23 18:39] teddymarchildon commented on #7182
Yes I love it! I can definitely do that - my only concern is that if we add a lint check to ensure we have an issue number for each TODO, we need to make an issue for all the existing TODO comments in order for the linter to pass (unless there's a way for the linter to run only on newly changed files in the travis ci @apb7 ?).

A little grep tells me there are about **455 TODO comments** in the pr

[2019-07-23 18:43] DubeySandeep commented on #7182
Out of 455 I feel like ~90%  are duplicate TODO used in multiple places for the same reason (not sure!). (These are mostly introduced by Ankita and Yash for the angular migration project.)
![image](https://user-images.githubusercontent.com/16653571/61738507-1b8f5500-ada8-11e9-86d0-c098fd074314.png)
"TODO(ankita240796): Remove the bracket notation once Angular2 gets in." ---> 126 times*
"TODO(YashJ

[2019-07-23 20:02] teddymarchildon commented on #7182
Can we file a new issue for associating TODO comments with a git issue and assign it to me?

I'm working on the TODO comments starting with capital letter issue fixed as well as all comments ending in a period, and I think it may make sense to do that separately from associating a TODO comment with a git issue.

Let me know if that's ok!

[2019-07-23 21:46] vinitamurthi opened #7208 "Have the pretest questions use the question player framework"
Use the question player framework for pretest questions as well

[2019-07-24 05:36] #7019 closed, assigned to sophiewu6

[2019-07-24 06:46] DubeySandeep opened #7210 "[Test server] Unable to create a question for skill"
**Steps to reproduce:**
- Create a skill
- Add a question with "Multiple choice" interaction
- Save question
- Check log

**Video link:**
https://drive.google.com/file/d/1vZqm1ejkm4jDkt9rO9vszmdZapLlRu9C/view

**Error log:**
![image](https://user-images.githubusercontent.com/16653571/61771403-65f6ed00-ae0d-11e9-8fed-5a1f3c6b0d72.png)

[code]
**Additional context:**
These errors should be inside th

[2019-07-24 06:47] DubeySandeep commented on #7210
@aks681, can you please check whether this is expected behavior? If no, can you please check how this was missed in the release testing process?

[2019-07-24 06:49] DubeySandeep commented on #7210
@aks681, Can you please check whether this is expected behavior?  If no, can you please check how this was missed in the release testing process? Thanks!

[2019-07-24 06:52] DubeySandeep commented on #7210
Assigning this to @aks681, so that he can respond to this quickly!

[2019-07-24 06:58] #6481 closed, assigned to nobody

[2019-07-24 07:00] aks681 commented on #7210
That's strange. There is a validation in QuestionObjectFactory that should surface this before the Question is saved. I'll take a look.

[2019-07-24 07:12] seanlip commented on #7208
@vinitamurthi -- is this still relevant, based on the discussion in our meeting today?

Also, in either case, could you please add more detail to this issue to explain what exactly the desired outcome is here?

Thanks!

[2019-07-24 09:09] YashJipkate opened #7212 "Add comments, types and TODOs in #7145."
This keeps a track of https://github.com/oppia/oppia/pull/7178#issuecomment-514411807 wherein changes are to be made to a previous PR #7145

[2019-07-24 09:39] seanlip commented on #7182
Yes, separate PRs for these sound good.

@teddymarchildon -- would you mind filing the issue directly? We can assign it to you once that's done.

Thanks!

[2019-07-24 11:48] sauravpratihar commented on #7015
Hi @vinitamurthi Can I work on this?

[2019-07-24 16:42] sauravpratihar commented on #6271
Hi @DubeySandeep can you assign me **update_interaction_customization_args** ?

[2019-07-24 16:44] vinitamurthi commented on #7208
Yeah we can close this issue
Some context -
We have a question player framework that is used during practice sessions and review tests. We wanted pretests to use that framework as well. However, on further investigation it looks like the pretest flow can remain part of the exploration flow. We will modify the pretest flow to use the question player backend APIs but the frontend will remain as is.

[2019-07-24 16:44] #7208 closed, assigned to vinitamurthi

[2019-07-24 17:31] DubeySandeep commented on #6271
Hi @sauravpratihar, I've assigned you to `update_interaction_customization_args` you can start working on it. :)

[2019-07-24 22:50] vinitamurthi opened #7216 "Allow skill creators to add a rubric to the skill"
When we create questions for a skill, we allow creators to set a difficulty of the question per skill. The difficulty levels are Easy, Medium, and Hard.
Difficulty is quite a subjective parameter and question creators may not know how to classify the question difficulty for a particular skill. So we would like to have skill creators give a rubric.
Skill creators would have to add rubrics for 'Easy

[2019-07-25 00:07] YashJipkate opened #7218 "Optimize lodash import."
Optimize the lodash imports to import just the part that is needed.

i.e. change `import * as _ from lodash` to something like `import * as clonedeep from lodash/cloneDeep`

[2019-07-25 02:15] teddymarchildon opened #7219 "Assign all TODO comments to an issue in Github"
There are around 455 TODO comments in the project, many are duplicated and some haven't been worked on.
I would like to create a Github issue for each unique TODO, and then add this issue number to each TODO comment in the code for more visibility.
We thought about assigning each TODO comment to a username in the code, but this way it will get filed in the Github tracking system and anyone can pic

[2019-07-25 02:16] teddymarchildon commented on #7182
@seanlip here! #7219

[2019-07-25 02:42] seanlip commented on #5795
This is still happening in production. Reopening.

[2019-07-25 03:32] #7201 closed, assigned to DubeySandeep

[2019-07-25 06:58] seanlip commented on #7182
Thanks @teddymarchildon! I assigned you to it :)

Maybe we should make a doc with these and discuss them before filing a ton of issues -- we might be able to delete some TODOs and combine some others into a single issue. What do you think?

(EDIT: Actually, don't reply here, I'll comment in that issue instead.)

[2019-07-25 06:59] seanlip commented on #7219
Hi @teddymarchildon -- one thought: maybe we should make a doc with these and discuss them before filing a ton of issues -- we might be able to delete some TODOs and combine some others into a single issue. What do you think?

[2019-07-25 07:04] DubeySandeep commented on #7210
@aks681, any update on this issue?

[2019-07-25 07:04] #6621 closed, assigned to nobody

[2019-07-25 07:05] seanlip commented on #5795
Sorry, I was mistaken about this. I think this just hasn't been pushed to production yet since the release hasn't happened yet -- so I'll go ahead and close it again. /cc @kevintab95 @DubeySandeep

[2019-07-25 07:05] #5795 closed, assigned to kevintab95

[2019-07-25 09:41] rt4914 commented on #6975
Hello @ankita240796
Please assign me **expressions** and **base_components** directive too.
Thanks

[2019-07-25 09:48] ankita240796 commented on #6975
Hi @rt4914, Congrats on completing your first PR to Oppia! I have assigned you to expressions and base_components. Do let me know if you face any issues. Thanks!

[2019-07-25 09:52] rt4914 commented on #6975
Great. Thank you

[2019-07-25 09:53] ankita240796 commented on #6271
Hi @puneeth2001, How is this doing? Please do let me know if you are facing any issues. Thanks!

[2019-07-25 10:07] rt4914 commented on #6975
Hello @ankita240796 ,
There is one file named header.html in base_components folder, should I name this file as header.mainpage.html ?

[2019-07-25 12:19] jameesjohn opened #7221 "ExplorationDataService is called out of context"
**Describe the bug**
Exploration Data Service is called by the collection editor service.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to 'Exploration Data Service'
 2. Add a console.log anywhere in the service
 3. Create a collection
 4. The statement added to the console.log gets logged to the console in the collection editor page.

**Observed behaviour**
While adding some methods

[2019-07-25 12:40] YashJipkate opened #7222 "Remove the blocks of unnnecessary imports when a file is upgraded to Angular 8."
Remove the block of unnecessary imports in the spec files once the file is upgraded to Angular 8.

[2019-07-25 14:37] teddymarchildon commented on #7219
@seanlip Yes totally - as @DubeySandeep shows [here] (https://github.com/oppia/oppia/issues/7182#issuecomment-514334018) I think many should be repeat issues. I think making a doc would be a great start!

[2019-07-25 14:59] aks681 commented on #7210
I just tried with the latest version of develop, and this issue seems to be fixed. Can you check it once again?

[2019-07-25 15:03] DubeySandeep commented on #7210
@aks681, Do you know PR fixes this issue? (maybe we will have to cherry-pick that PR)

[2019-07-25 15:06] DubeySandeep commented on #7210
@aks681, I tried reproducing this issue on develop but it doesn't exist.

[2019-07-25 15:16] DubeySandeep commented on #7221
@Jamesjay4199, I'm not sure what's wrong here, we do use other exploration related services in the collection editor pages. Can you please add more context on what's going wrong here?

[2019-07-25 15:25] aks681 commented on #7210
Going through the commits, it seems [this](482d2eb29ce2da6a5ee3911eb70960034091d5e5) commit fixed the issue. ([This PR](https://github.com/oppia/oppia/pull/7141))

[2019-07-25 17:41] DubeySandeep commented on #7210
I went through the PR and found we cannot cherry-pick that PR, as it's a huge change as well as, have migration. Let's look for the PR which introduces this issue.

The only possible ways to do the fix this in the release branch are:
1. Create a PR out if release branch which fixes the issue.
2. Revert the #7141 PR and fix the issue then re-do the changes in #7141 (which got merged yesterday!)

@a

[2019-07-25 19:21] DubeySandeep commented on #7210
@aks681, I tried reproducing this issue on the parent branch of #7141 commit and I cannot reproduce the issue (can you please check!). If so I think this is being resolved by any other PR!

[2019-07-25 19:25] sophiewu6 commented on #7210
@DubeySandeep Just want to make sure - when you test this on develop or other branches, did you create misconceptions for the skill?

[2019-07-25 19:27] aks681 commented on #7210
Yeah, @DubeySandeep, can you try that? Since, when I reverted to the commit on develop just before #7141, the error was present, but not, when I reverted to the very next one.

[2019-07-25 19:32] DubeySandeep commented on #7210
@sophiewu6, Nope, I just create a question after creating a skill.

[2019-07-25 19:38] DubeySandeep commented on #7210
I tried this on #7145 (commit: f88216a76) and the issue doesn't exist there as well (I was able to create the question).
![image](https://user-images.githubusercontent.com/16653571/61903290-c71fdd00-af41-11e9-911e-8014f6693b91.png)

[2019-07-25 19:50] DubeySandeep commented on #7210
@sophiewu6, This is reproducible in the test server where I have created the skill with the misconception but I wasn't able to create a question.

[2019-07-25 19:54] DubeySandeep commented on #7210
I realized that I was doing some mistake while reproducing this issue on a different branch. (I was not adding misconception for the skill before adding the question.)

[2019-07-25 19:56] NishealJ opened #7224 "ConsoleError: "ckeditor-duplicated-modules""
Since we are in the process of upgrading CKeditor-4 to Ckeditor-5, we are observing consoles errors for duplicated modules (for more details, please refer to https://github.com/ckeditor/ckeditor5/issues/1821)and therefore, we need to filter such logs until we've upgraded to CKEditor-5 completely.

[2019-07-26 00:24] DubeySandeep commented on #7210
Closing this issue.

Reason:
After a discussion with @seanlip @vinitamurthi @aks681 @sophiewu6, we realized #7141 adds migration and for the migration, we expected there aren't any questions with "tagged misconception" exist in the datastore. So until next release, we are not going to add any misconception in the skills.

Also, we had found that this issue was in production because of asynchrony c

[2019-07-26 00:24] #7210 closed, assigned to aks681

[2019-07-26 00:52] jameesjohn commented on #7221
@DubeySandeep, the exploration data service fetches data for the exploration editor, while working on #7194, I noticed that the rights data service got called in the collection editor page, and during my debugging, I discovered that it was from the exploration data service. I don't think this is an expected behaviour, since the data service should only return exploration specific data

[2019-07-26 01:15] seanlip commented on #7221
Do you know where and how ExplorationDataService is being used? Collections are made up of explorations (they are essentially "exploration playlists") and it's possible that some of the data to identify the exploration might be needed there. (On the other hand, it might be a legitimate bug. I'm not sure and I think further info is needed.)

[2019-07-26 06:27] ankita240796 commented on #7160
Done [here](https://github.com/oppia/oppia/wiki/Writing-Validators-for-storage-models). Reviewed by @DubeySandeep!

[2019-07-26 06:27] #7160 closed, assigned to ankita240796

[2019-07-26 10:51] aks681 opened #7228 "Address review comments for #7052"
This is a tracking issue to address the remaining review comments for #7052.

[2019-07-26 10:59] anmolshkl opened #7229 "The navbar at the top-right corner disappears when minimizing the window."
**Describe the bug**
When editing an exploration, the navbar that shows up at the top right corner which includes buttons such as "Preview, Translations and Voiceovers, Settings, Statistics" etc disappears one by one when the window is minimized beyond 1080 pixels in width. This creates a problem when creators have a single desktop screen and then want to split it into two parts - one part covered

[2019-07-26 11:12] YashJipkate commented on #7218
Fixed in #7223.

[2019-07-26 11:12] #7218 closed, assigned to YashJipkate

[2019-07-26 11:39] ankita240796 commented on #6972
Yes, this is resolved now @DubeySandeep!

[2019-07-26 11:39] #6972 closed, assigned to nobody

[2019-07-26 11:44] DubeySandeep commented on #6271
Unassigned @anamika2004, because of lack of response.

[2019-07-26 11:44] DubeySandeep commented on #6271
Unassigned @anamika2004, because of lack of response. /cc @bansalnitish

[2019-07-26 12:08] RafayGhafoor commented on #6271
@DubeySandeep, Can you please assign me the remaining subtopics?(update_page_contents_html and update_page_contents_audio)

[2019-07-26 13:46] RafayGhafoor commented on #6975
Hi @ankita240796, Can you please assign me **extensions** directory? Thanks.

[2019-07-26 15:09] #7071 closed, assigned to vinitamurthi

[2019-07-26 15:39] jameesjohn commented on #7221
@seanlip, [here](https://github.com/oppia/oppia/blob/055481d4efd42f5c1771b25ce32e65e9a5cab77a/core/templates/dev/head/pages/exploration-editor-page/services/exploration-data.service.ts#L41) the exploration ID is gotten from the URL, (any URL that has `create` in it). This means that if the service is called in the collection_editor page, instead of getting the exploration ID, it gets the collectio

[2019-07-26 18:35] sagangwee commented on #4057
Hello, I'd like to take `FatigueDetectionService.ts`. Thanks!

[2019-07-26 18:48] #7212 closed, assigned to YashJipkate

[2019-07-26 19:40] seanlip commented on #4057
Hi @sagangwee, assigned you! Thanks!

[2019-07-26 23:37] DubeySandeep opened #7234 "Exploration migration job throws error because of multiple contribution models entity for oppiamigrationbot"
**Observed behavior:**
The user contribution models entity for oppiamigrationbot has tens of thousands of entries because of that the exploration migration job sometimes use to throw an error (`BadRequestError: Too many indexed properties`) but the errors seem to resolve themselves after a while.

**Fix:**
To fix this issue while doing exploration migration let's not update the user_model if the c

[2019-07-26 23:38] DubeySandeep commented on #7234
[Blocking bug for the August release.]

[2019-07-27 01:42] AllanYangZhou commented on #6960
@YashJipkate How is this issue going?

[2019-07-27 01:42] AllanYangZhou commented on #6893
@nithusha21 How is this issue going?

[2019-07-27 01:42] AllanYangZhou commented on #5138
Hi @import-keshav how is progress on this issue?

[2019-07-27 01:43] AllanYangZhou commented on #2485
Hi @Jamesjay4199, how is this going?

[2019-07-27 02:56] DubeySandeep commented on #7204
Moving this to blocking bug. I think we should fix this before the next release-cut.

[2019-07-27 05:19] seanlip commented on #7221
Well ... not really, right? There's a `pathnameArray[i] === 'create'` guard in that service.

In any case, that's not answering my question. What is calling or initializing the ExplorationDataService in the first place, and why is it doing so?

[2019-07-27 08:53] YashJipkate commented on #6960
Hi @AllanYangZhou this is expected to be fixed when we upgrade the components and therefore remove the need of templateCache.

[2019-07-27 09:10] jameesjohn commented on #2485
Hi @AllanYangZhou,
This is almost complete and will be closed when #7134 goes in.
Thanks.

[2019-07-27 11:43] #6618 closed, assigned to gautamv95

[2019-07-27 16:57] DubeySandeep commented on #6975
Hi @RafayGhafoor, I've assigned you to **extensions** directory.

[2019-07-27 16:59] DubeySandeep commented on #6271
Hi @RafayGhafoor, I've assigned you to the `subtopics` part of this issue.

[2019-07-28 04:51] seanlip commented on #6921
This is still happening. Latest log:
[code]

[2019-07-28 10:59] RafayGhafoor commented on #6975
Is **tokenizer** (eg: 'TextInputTokenizerSpec.ts') part of functionality, @YashJipkate?

[2019-07-28 13:35] import-keshav opened #7239 "Not working of "Use This Image" button in Image Plugin"
Screenshot of button
![Screenshot from 2019-07-28 18-59-46](https://user-images.githubusercontent.com/34139754/62007360-1cd6ce00-b16a-11e9-8fac-4848945cf05b.png)

Console error
![imageedit_1_8530686959](https://user-images.githubusercontent.com/34139754/62007393-78a15700-b16a-11e9-89d3-bd99823f9647.png)

**Browser :** Firefox 67.0.3
**OS :** Ubuntu 18.10

**Note :** It's working fine on production

[2019-07-28 14:28] jameesjohn commented on #7221
The collection editor route is `/collection_editor/create` so the guard will pass in the collection_editor page.

The collection editor page directive depends on the exploration router service for its routing, the routing service, in turn, depends on the `ExplorationInitStateNameService`  which depends on `ExplorationPropertyService`, which depends on `ChangeListService`.
The ChangeListService dep

[2019-07-28 15:02] import-keshav commented on #5138
Hello @AllanYangZhou, sorry for no updates.

Here my updates.
As already mentioned by @vojtechjelinek the reason for this issue is to the fact that URL object might not be supported in all browsers.
 So the alternative for this is to use ``` readAsDataURL ```, but the compatibility is not so much better. So there is no point of using it.

Now my Question to @vojtechjelinek @ishucr7 is why did we u

[2019-07-28 18:20] kevinlee12 opened #7240 "Flaky wait in protractor_utils"
Currently the `wait` in the code below is flaky for explorationStatisticsTab test.

https://github.com/oppia/oppia/blob/ba5bfd0b0222de5d2033c3431c7242f3da5edb87/core/tests/protractor_utils/waitFor.js#L61-L62

The following error occurs on Travis when the test fails:
[code]

[2019-07-28 21:23] kevinlee12 commented on #2043
Looking at this issue again, the current setup doesn't appear to have any UX issues, so I'm going to close this.

[2019-07-28 21:23] #2043 closed

[2019-07-28 22:00] kevinlee12 commented on #5979
Hi @kefeh, are the images compiled now?

[2019-07-28 22:05] kevinlee12 commented on #5931
I don't see this error anymore, so I'm going to close for this now. Please re-open if you see this error again!

[2019-07-28 22:05] #5931 closed, assigned to nobody

[2019-07-29 08:30] seanlip commented on #5138
/cc @kevintab95 any thoughts on this?

[2019-07-29 08:31] seanlip commented on #7221
Ah, ok, that makes more sense. Yep, I agree, I think there is an issue with the routing in the collection editor page depending on the exploration editor (basically, it shouldn't). It seems worthwhile trying to fix this, so I think keeping this issue open is fine.

Thanks @Jamesjay4199 for the clarification!

[2019-07-29 11:07] YashJipkate commented on #6975
@RafayGhafoor It is a service if you see the file, therefore 'service' is the functionality.

[2019-07-29 11:58] puneeth-chanda commented on #6271
Hi @ankita240796 I am working on it. Thanks for asking

[2019-07-29 14:54] kevintab95 commented on #5138
@seanlip -- I found this:

ref: https://developer.mozilla.org/en-US/docs/Web/API/URL

So we could do window.URL.createObjectUrl but we'll have to try it out on an "Android 4.2.2, Mobile Safari 534.30" browser to confirm.

Also, found [this](https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications#Example_Using_object_URLs_to_display_images):

[code]

[2019-07-29 15:12] kevintab95 commented on #5138
Looks like [this solution](https://stackoverflow.com/a/40870837) works on android 4.4.4 (confirmed by a user in the SO comment).

The accepted answer shows this:
`(window.URL || window.webkitURL || window || {}).createObjectURL(url)`

Also, [caniuse.com](https://caniuse.com/#search=createObjectUrl) confirms that Android 4.2.2 supports webkitURL.

[2019-07-29 17:46] seanlip commented on #5138
Sounds good, perhaps we could do that then.

[2019-07-29 18:02] import-keshav commented on #5138
Thanks, @kevintab95 for the solution.

To test this we need ```Android 4.2.2, Mobile Safari 534.30```, which I didn't have.
So I can't test this. Should I assume that it would work (since [caniuse.com](https://caniuse.com/#search=createObjectUrl) confirms that Android 4.2.2 supports webkitURL)?

Thanks

[2019-07-29 18:05] seanlip commented on #5138
I think we can try it. Let's just make sure it doesn't break any of our current devices. If we then do a release we can see whether this error continues to appear. If it stops, then we've fixed it.

[2019-07-29 18:07] import-keshav commented on #5138
Thanks, @seanlip will open a PR.

[2019-07-29 18:09] seanlip opened #7246 "Server error: [u'2', u'2', u'3'] has the wrong type. It should be a SetOfUnicodeString."
This error occurred recently in production.

[code]

This is the entire stack trace. It seems like a backend error. It arose in a PUT call to www.oppia.org/createhandler/autosave_draft/... for a particular exploration.

I think perhaps this is because a ['2', '2', '3'] made it to the backend -- and it has duplicate entries? But the question then becomes, how was it possible to input this in the fr

[2019-07-29 18:13] seanlip opened #7247 "Server error: Cannot read property 'setId' of null"
This error occurred recently in production:

[code]

This is a frontend error that occurred in the exploration editor page (in the editor tab). It only occurred once.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with

[2019-07-29 18:21] #7239 closed, assigned to kevintab95

[2019-07-29 19:16] DubeySandeep opened #7248 ""Learn again" button is shown in places of "Continue""
**Steps to reproduce:**
- Create an exploration.
- Enable "Correctness feedback" through the settings tab.
- Add interaction and for an answer group which leads to a new card don't mark a correct answer which leads to a new card.
- Go to "Preview" tab and pass the correct answer.
- See "Learn again " button in place of the "Continue" button.

**Screenshot:**
![image](https://user-images.githubuser

[2019-07-29 19:22] seanlip commented on #7248
Ah, this is a content error. Fixed! (by marking the answer as "correct").

[2019-07-29 19:22] #7248 closed, assigned to seanlip

[2019-07-29 22:51] kevinlee12 opened #7249 "Investigate 137 error in backend tests"
Currently we have the following tests that sometimes exits with a 137 error (see stacktrace below). 137 is a stack overflow error that is a result from the following exit codes: 128 (stack overflow) + 9 (SIGKILL). This issue was created to keep track this error and take action if there are enough cases.

[code]

**Resources:**
- https://circleci.com/blog/how-to-handle-java-oom-errors/

[2019-07-29 22:53] seanlip commented on #7249
/cc @sophiewu6

NB I think we might want to go ahead and take action, since there are already two cases.

[2019-07-29 23:45] kevinlee12 opened #7250 "Upgrade e2e screenshot reporter"
The current protractor e2e screenshot reporter is unmaintained, so we will need to move to using another tool to capture screenshots. A possible replacement is protractor-jasmine2-screenshot-reporter.

[2019-07-30 11:46] ankita240796 commented on #6271
Hi @puneeth2001, Thanks for the update. Do let me know if you need any help.

[2019-07-30 17:16] kevintab95 commented on #7246
Oops, looks like we allow saving of duplicate values when we edit a response group for set input interactions. The user is promptly shown a pop-up that suggests refreshing the editor.

![allow_saving](https://user-images.githubusercontent.com/11008603/62150469-b2658f80-b31b-11e9-974a-89d38257e37e.png)

However, refreshing doesn't fix this. The editor page looks broken and trying to add a new inter

[2019-07-30 17:19] kevintab95 commented on #7246
Duplicate entries can be saved on adding/creating a set input interaction as well. Validation is overriden when the user types in feedback for the response and the save button gets enabled.

![validation_skipped](https://user-images.githubusercontent.com/11008603/62150774-70891900-b31c-11e9-81cb-d15dd3cf8b1c.png)

[2019-07-30 17:36] aks681 opened #7251 "Broken image region interaction"
**Describe the bug**
After uploading an image for the image region interaction in the exploration editor, something strange happens, with the image getting duplicated on the modal, with another pixelated image  displayed below.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Create an image region interaction, and upload an image.
 3. Click 'Use this image' button

[2019-07-30 17:37] aks681 commented on #7251
@kevintab95 Do you have any thoughts on the issue?

[2019-07-30 17:51] kevintab95 commented on #7251
Hi @aks681 , what console error do you see?

[2019-07-30 18:00] aks681 commented on #7251
I get a $rootScope.infdig error, which after searching some, seems to be when variables are watched on and modified in a loop?

[2019-07-30 18:02] kevintab95 commented on #7251
Yep, I'll look into it. It should be related to #7239. It did seem to work fine then, not sure what changed.

[2019-07-30 18:03] aks681 commented on #7251
Ok, thanks!

[2019-07-30 18:16] #7017 closed, assigned to sophiewu6

[2019-07-30 18:34] agcy1210 commented on #6062
It would be great if I can resolve this issue

[2019-07-30 19:34] seanlip opened #7252 "Server error: TypeError: Cannot set property 'onended' of undefined"
This error occurred today in production:

[code]

It was triggered once on https://www.oppia.org/explore/rfX8jNkPnA-1 .

It arose on Chrome 65 (on a non-mobile device).

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up wit

[2019-07-30 19:38] seanlip opened #7253 "Server error: Invalid search query url fragment for languageCodes"
This error occurred recently in production:

[code]

Note that issue #6500 (which has already been fixed) might be related.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logi

[2019-07-30 20:41] kevintab95 commented on #7251
This seems slightly tricky to fix. The issue seems to be because `<[$ctrl.getPreviewUrl($ctrl.value.imagePath)]>` triggers a digest loop. We will have to come up with a way to render the preview image in an efficient manner. Easy (and temporary) fix would be to revert the #7239 change. However, the  [$sce:itype] console error would continue to occur (for adding image in the content card as well as

[2019-07-31 01:54] vojtechjelinek commented on #6062
@agcy1210 Sure, go ahead.

[2019-07-31 10:48] cuichenli commented on #5002
Hi @vojtechjelinek  I would like to work on the `status_code` one. But can you help me to check whether my understanding is correct?
So what I need to do is first remove the `GLOBAL.status_code` from `base.html`. Then I need to store the value in `app.constants.ts` in this fashion:
[code]
After that, I should replace all the place used `GLOBALS.status_code` with the new added `STATUS_CODE`.
Also,

[2019-07-31 14:46] jameesjohn commented on #5002
@cuichenli, I think you need to check for the content of `GLOBALS.status_code` . I don't think it contains an object.

[2019-07-31 14:46] jameesjohn commented on #5002
And I think it is only used in the error page.

[2019-07-31 17:30] RafayGhafoor commented on #6271
@DubeySandeep, Subtopic and State parts assigned are completed.

[2019-07-31 18:27] DubeySandeep commented on #6271
@RafayGhafoor, Thanks a lot for completing it, I've updated the issue! :)

[2019-08-01 09:00] cuichenli commented on #5002
Hi @Jamesjay4199 thanks for your response. Yes, `GLOBALS.status_code` is not an object. It should merely be one int. But what really frustrating me is that this int should have multiple potential values while in that case how can it be a constant? Or I misunderstood something? Thanks!

[2019-08-01 09:59] cuichenli commented on #5792
Hi @BenHenning 	I am looking at this issue and currently a little bit confused about how to solve the issue. Can you help me with that?
So currently my understanding is:
1. The `_send_bulk_email` in `email_manager` module is implemented yet not invoked in anywhere (in contrast I can find `send_mail` is used in `send_mail_to_admin`, which has a cron job). So do I need also to implement something si

[2019-08-01 11:11] DubeySandeep commented on #7251
@kevintab95  After going through the changes of #7239, I think the `getImageUrlForPreviewAsync` was introduced in [here](https://github.com/oppia/oppia/pull/7130/files#diff-657a8c3b81f4f2df470dc73d30779022R90) and these changes aren't the part of the last release.

EDIT:

I misunderstood this as "why it's not happening the production server" (oppia.org)

[2019-08-01 11:25] DubeySandeep commented on #7197
@Jamesjay4199, any update on this? (I think we need to resolve this before the next release cut.)

[2019-08-01 12:40] Showtim3 opened #7262 "In learner dashboard, the main menu has no spacing from the left."
**Describe the bug**
In the learner dashboard, the main menu has absolutely no gap(margin/padding) from the left edge of the browser. I guess there should be at least a small gap.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /learner_dashboard
 4. See error

**Observed behavior**
No gap present on the left of the menu.

**Expected behavior**
There should be some gap present

**Scre

[2019-08-01 12:41] Showtim3 commented on #7262
@DubeySandeep hey Sandeep, can you please verify whether this is a valid bug or not? And If this is valid, I guess it'll be good to mark as good first contribution or something like that?

[2019-08-01 15:15] RafayGhafoor commented on #7176
@YashJipkate, I would like to work on this issue.

[2019-08-01 16:47] DubeySandeep commented on #7262
In smaller screen I see this: (Verify the red-bordered section)

![image](https://user-images.githubusercontent.com/16653571/62311585-c3dca200-b4a9-11e9-8a88-3ec40f63b274.png)

In widescreen (21:9):

![image](https://user-images.githubusercontent.com/16653571/62311650-e7075180-b4a9-11e9-9adf-f3a5401f9148.png)

I think this is expected behavior (not sure!), @nithusha21 can you please confirm this?

[2019-08-01 16:59] vinitamurthi opened #7263 "E2E Test for Practice Sessions"
Create an E2E Test for all possible flows of the Practice Session:

Flows to test (All practice sessions in the tests will have 2 questions):

**Player Tests**
- [ ] Run a practice session and answer all questions. Score should be 100%

- [ ] Run a practice session, answer one question, go back to the previous question, come back to the current question. Answer both questions correctly. Score shou

[2019-08-01 17:34] #7168 closed, assigned to nobody

[2019-08-01 17:41] NishealJ commented on #7125
Hi @DubeySandeep & @Showtim3,
The side-navigation still does not work for me at current develop and test server can you please check and confirm?
Also, it recently got unresponsive in my branch it was working after the initial migration to BS-4.
@Showtim3 its a tricky debug [here](https://github.com/NishealJ/oppia/pull/16) if you are free please take a look Thanks!

[2019-08-01 18:17] Showtim3 commented on #7125
@NishealJ yeah sure buddy. Let me see what's happening.

[2019-08-01 18:22] doc-han commented on #7124
Is that a border or an outline needed. I want to help but don't know how to go about it.  even find file :(

[2019-08-01 18:50] NishealJ commented on #7124
Hi @doc-han,
[here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/preferences-page/preferences-page.directive.html) is the file, the file name is `preferences-page.directive.html` found in `/core/templates/dev/head/pages/preferences-page`

to find the file which is rendered in a url lets say `/preferences` goto the `feconf.py` which is present in root dir and find the u

[2019-08-01 18:51] Showtim3 commented on #7125
Hey @NishealJ I found out what the problem is. It is a simple typo in the **base_content_directive.html**. On line 25 the ctrl is typed as crtl , I can open up a PR regarding this if u want?

[2019-08-01 18:57] NishealJ commented on #7125
Hi @Showtim3, that was quick.
yes, please make a PR for the same as it is currently reproducible at the develop Thanks!
Also, please make sure you test in all the needed pages.

[2019-08-01 19:00] Showtim3 commented on #7125
@NishealJ Okay sure.I'll test it, afterwards I'll open up a PR.
Thanks

[2019-08-01 19:56] jameesjohn commented on #7197
Okay, I'll send in a PR asap.

[2019-08-01 21:55] kevintab95 commented on #7251
I've found [the commit](https://github.com/oppia/oppia/commit/a7bb506ec02710efb0f1ac7e92eca13f3cec86e8) that caused this regression. We might have to revert this.

[2019-08-01 21:57] seanlip commented on #7251
Thanks @kevintab95!

/cc @Jamesjay4199 @vojtechjelinek

[2019-08-01 22:50] sagangwee commented on #6240
Hi, I'd like to take the 2nd task: "Explorations marked as play later are accessible under the “play later” tab of the learner dashboard. (learnerDashboard.js)" Thanks!

[2019-08-01 22:53] seanlip commented on #6240
Thanks @sagangwee, sounds good :) Assigned you!

[2019-08-02 01:14] sophiewu6 opened #7270 "E2E Test for Review Tests"
Create an E2E test for all possible flows of the review tests

Flows to test (All review tests in the test will have 3 questions. Each of them links to one skill.):

Player Tests
- Same as the practice session player tests, so no need to replicate them. (See #7263)

Results Page Tests

- [ ]  Run a review test, view the solutions for two out of the three questions. It will enter the failing mode o

[2019-08-02 01:39] seanlip commented on #5792
Hi @cuichenli, I think you meant _send_bulk_mail rather than _send_bulk_email. If you use the correct spelling, I think you'll find where that function is used!

That said, for the time being, would you be OK with picking a different issue? I took a look at the code and I think we'll need to add a new option to the user settings page, but I'm not sure what that new option should be yet. So, let's

[2019-08-02 02:14] cuichenli commented on #5792
@seanlip I misspelled in the comment. What I searched was `_send_bulk_mail`. But anyway I will pause on this for now. Thanks for the info!

[2019-08-02 06:35] sauravpratihar commented on #6271
@DubeySandeep as discussed in mail, we don't need a domain object for update_interaction_customization_args as we save them directly as a dict.

[2019-08-02 06:37] seanlip opened #7272 "Flaky e2e tests for translation tab."
**Describe the bug**
The e2e tests for the exploration translation tab seem to be flaky. Different tests are failing in different runs. We should fix this.

**Travis logs from a flaky build:**
[code]

[2019-08-02 12:56] sauravpratihar commented on #6982
Hi, I am facing problem [here](https://github.com/oppia/oppia/blob/develop/assets/constants.js#L602).
eslint having max-len configuration to 80 but here the value of key DEFAULT_TWITTER_SHARE_MESSAGE_EDITOR is larger.
So either we can disable linting for that one line or split the key into two parts.

[2019-08-02 15:28] Showtim3 commented on #6240
@seanlip hey Sean but isn't that(Explorations marked as play later are accessible under the “play later” tab of the learner dashboard. (learnerDashboard.js)) and the topmost issue supposed to be tested together? I am asking because i was working on the topmost test.

[2019-08-02 17:56] kevinlee12 commented on #7250
The hope also with this is to let our CI capture what the behavior our app is when there is a flaky test.

[2019-08-02 18:19] seanlip commented on #6982
Hi @sauravpratihar, I think disabling linting for just that one line is reasonable. Thank you for looking into this!

[2019-08-02 19:09] kevinlee12 opened #7276 "Capture screenshot in Travis e2e tests"
Capture a screenshot in Travis e2e tests if they fail.

[2019-08-02 19:23] seanlip commented on #6240
Hi @Showtim3, it seems reasonable to test them together, but you don't seem to have been assigned and there's no indication of that. Next time, if you're working on something, please make sure to assign yourself (or ask someone else to do so) so that we don't run into this situation.

Could you discuss with @sagangwee and figure out what each of you would like to work on? Then, maybe one of you co

[2019-08-02 19:46] Showtim3 commented on #6240
@sagangwee hey buddy, my bad. I didn't assign myself to the issue( Save an exploration to play later list (publicationAndLibrary.js)) and I started working on it without any indication(so sorry for this). I am almost done with the test and it also covers the test on which you are working. If you have spent some time or are close to completing your assigned test or are really interested in that par

[2019-08-02 20:47] sagangwee commented on #6240
Hi @Showtim3, I was close to completing the test, but if you were almost done with it as well, then no worries, I can find another test to work on. I've gotten more familiar with the testing framework and learner flow, so it was still time well spent. :)

[2019-08-02 22:12] sagangwee commented on #6240
Hi, I'd like to take the 5th from bottom task: "Add exploration specific roles to users (coreEditorAndPlayerFeatures.js)". Thanks!

[2019-08-02 23:59] seanlip commented on #6240
OK, I think I've assigned y'all to the correct things :) Please let me know if that's not the case and we can fix it.

Thank you both for being flexible!

[2019-08-03 04:56] sachinmukherjee commented on #6959
Is this issue still active?

[2019-08-03 04:57] yashdusing commented on #6959
@sachinmukherjee I’m still working on this. I have been a little busy actually. I’ll try to push a pr by next week

[2019-08-03 04:57] sachinmukherjee commented on #6959
Ok

[2019-08-03 05:52] nithusha21 commented on #7143
Hi Just confirming, did this fix the issue? /cc @DubeySandeep @NishealJ

[2019-08-03 05:52] #7143 closed, assigned to NishealJ

[2019-08-03 05:55] DubeySandeep commented on #7143
HI @nithusha21, I think the 404 issues are fixed but for some very old browser, the font will not work as expected. is that right @NishealJ?

[2019-08-03 06:49] Showtim3 commented on #6240
@sagangwee Hi, I deeply apologize for the trouble I've caused you. I am really sorry and Thanks for being so cool about it. I am much grateful. Thanks a lot.

[2019-08-03 13:06] sauravpratihar commented on #6688
Hi, I think changing `indent-width: 2` and introducing `indent-delta: true` for level indentation to .htmllintrc file will solve this issue. [Here](https://github.com/oppia/oppia/blob/develop/.htmllintrc#L22)
htmllint-cli doc:  [Here](https://github.com/htmllint/htmllint/wiki/Options)

[2019-08-03 13:16] sauravpratihar commented on #6688
still I think above suggestion wont work for [this](https://github.com/oppia/oppia/pull/6665#discussion_r279296414) case if we start from level 0 indentation after style tag
what do you suggest? @seanlip @anubhavsinha98 @DubeySandeep

[2019-08-03 17:59] seanlip commented on #6688
Hi @sauravpratihar, can you explain more what you mean by "still I think above suggestion wont work for this case if we start from level 0 indentation after style tag"? (Maybe with a code snippet to show what you mean by "level 0 indentation"?)

[2019-08-03 18:01] #6982 closed, assigned to nobody

[2019-08-03 18:48] #7250 closed, assigned to kevinlee12

[2019-08-03 19:30] nithusha21 commented on #7083
Oops, just saw this! I am not sure, but I think it looks ok to me. If I remember correctly, this is how the creator dashboard always looked. Only thing that stands out is that the icons at the bottom of the card are probably too close to the bottom line.

[2019-08-03 19:35] nithusha21 commented on #6931
@ankita240796 Should this block the release?

[2019-08-03 19:43] seanlip commented on #6931
Yes, I think so, this seems serious.

[2019-08-03 20:48] kevintab95 commented on #7251
Image region interaction works fine now. This issue can be closed.

[2019-08-04 00:00] seanlip commented on #7251
Sounds good, closing. Thanks @kevintab95 (and thanks @Jamesjay4199 for reverting!)

[2019-08-04 00:00] #7251 closed, assigned to kevintab95

[2019-08-04 02:37] #7249 closed, assigned to seanlip

[2019-08-04 04:12] aks681 opened #7289 "Issue with lint tests on Travis"
Lint tests are regularly errorring on Travis. From some checking, it seems that even a successfull lint test run takes around 47 to 49 mins to run ([example](https://travis-ci.org/oppia/oppia/builds/567359922), [example](https://travis-ci.org/oppia/oppia/builds/567272309), [example](https://travis-ci.org/oppia/oppia/builds/567245139)), while the time limit of a travis tests is 50 mins. So, even sm

[2019-08-04 04:13] aks681 commented on #7289
@kevinlee12 Any thoughts on how we can resolve this? Thanks!

[2019-08-04 04:29] stanvarlamov opened #7290 "Code Suggestion: add missing key dynamically in stats_services.update_stats"
It appears that stats update jobs may error out occasionally after this line:

https://github.com/oppia/oppia/blob/ed8bd1658f2690a02446f3b9ddaa379f31a4dada/core/domain/stats_services.py#L136

if a key in the task's object is not present in the ExplorationStats being updated. I am wondering if there is a design significance for the key to be already present, or can it be simply added dynamically vi

[2019-08-04 05:06] kevinlee12 commented on #7289
Looking at the linter file, we can probably refactor it so that we can utilize multithreading as much as possible. Specifically, we should factor the lint checks so that all run in parallel, when running the lint checks, I noticed that most of the time was spent on ts and html files.

[2019-08-04 05:38] DubeySandeep commented on #5504
@aks681, is this issue resolved?

[2019-08-04 05:59] seanlip commented on #7289
This is urgent. Could we resolve it ASAP? It has caused at least three builds on Travis to break consecutively (and lint checks are the only error).

[2019-08-04 06:02] kevinlee12 commented on #7289
Yes, I'm taking this up right now.

[2019-08-04 06:06] seanlip commented on #7289
Thanks a lot!

[2019-08-04 07:57] YashJipkate opened #7292 "Address review comments on #7283"
Address [review comments](https://github.com/oppia/oppia/pull/7283#pullrequestreview-270482101) on #7283.

[2019-08-04 09:20] RafayGhafoor commented on #6975
@YashJipkate, [Pull Request for Extensions](https://github.com/oppia/oppia/pull/7266), Please take a look, thanks.

[2019-08-04 17:59] rohitkatlaa commented on #7262
Hi,I am Rohit. I am new to working in opensource projects. I would like to solve this issue. I have found the file(learner-dashboard-page.directive.html). Can i work on this issue?

[2019-08-04 18:04] rohitkatlaa commented on #6727
Hi,I am Rohit. I am new to working in opensource projects. I would like to solve this issue. I have found the file(about-page.directive.html). Can i work on this issue?

[2019-08-04 18:59] Showtim3 commented on #7262
@rohitkatlaa hey Rohit, you can surely work on this. Just let us confirm whether this is a valid issue or not. Meanwhile, feel free to look for issues with labels like good first contribution or such.
Thanks!

[2019-08-04 19:42] #7125 closed, assigned to Showtim3

[2019-08-04 21:20] #7197 closed, assigned to jameesjohn

[2019-08-05 03:45] EricZLou commented on #6766
I did some research, and as per https://github.com/webpack/webpack-dev-server/issues/128:
Changing start.sh to have this (note the threadpool addition):
[code]
fixes the problem for me. Webpack no longer hangs for me!!

[2019-08-05 04:44] seanlip commented on #6766
Oooh, this looks awesome @ezl-13 :) Thank you!!

@vojtechjelinek what do you think, should we do this?

[2019-08-05 05:08] #7234 closed, assigned to DubeySandeep

[2019-08-05 06:00] kevinlee12 opened #7301 "Add lint checks to ensure that there are valid spaces and newlines"
The following file previously had an invalid newline in line 213/214:
https://github.com/oppia/oppia/blob/develop/schema_utils.py.

We need to make a linter that ensures that all newlines are valid (ie. no carriage returns, etc).

[2019-08-05 08:12] kevinlee12 opened #7305 "Improve lint check performance"
Since our lint checks are causing a major slowdown, we'll need to isolate the lint checks. Here is the course of our strategy:

1. Modularize the lint checks as described in #6024 (specifically 1-3).
1. Within `LintChecksManager`, separate the class so that one applies solely to TS/JS files and other other applies to all other files. After completing this, the linter should run in the same way as

[2019-08-05 08:15] kevinlee12 commented on #7289
Superseded by #7305

[2019-08-05 08:15] #7289 closed, assigned to kevinlee12

[2019-08-05 10:25] ankita240796 opened #7307 "Remove disable statement in schema_utils.py"
PR #7306 adds a [disable statement](https://github.com/oppia/oppia/pull/7306/files#diff-781314b975a52120938e342ae5ffd787R217) in schema_utils to fix tests on circleci. The statement should be removed once we find a permanent fix.

[2019-08-05 13:51] ghost commented on #6727
Hi there, I am more than happy to work on this issue, I am too new to opensource. I'll propose changes once done.

[2019-08-05 13:54] DubeySandeep commented on #6727
Hi @rohitkatlaa & @CharlieBailey-Wicks, Would you mind following the instructions provided in the [wiki page ](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)to get started? Thanks! :)

[2019-08-05 16:02] sauravpratihar commented on #6688
Hi @seanlip, I was confuse between `HTML linting` and `HTML tag and attribute check` in pre_commit_linter.py

I tried to solve this issue in pre_commit_linter.py file. I am making a PR soon.

[2019-08-05 17:08] sagangwee commented on #6240
Hi I think the "Add exploration specific roles to users (coreEditorAndPlayerFeatures.js)" task is covered by the "Permissions for private explorations" tests in core/tests/protractor_desktop/publicationAndLibrary.js?

[2019-08-05 17:15] vojtechjelinek opened #7309 "Add preload links for Font Awesome fonts"
Add `<link rel=preload>` for Font Awesome fonts according to Lighthouse measurement (https://developers.google.com/web/tools/lighthouse/audits/preload?utm_source=lighthouse&utm_medium=devtools).
![image](https://user-images.githubusercontent.com/10142938/62482365-4076c580-b7b5-11e9-8246-b234f645cea0.png)
Probably wait before #7189 gets in since it can simplify things.

[2019-08-05 18:36] seanlip commented on #6766
Note: @vojtechjelinek will be making a fix for this today.

[2019-08-05 19:25] Dharmesh-Poddar commented on #7309
@vojtechjelinek can I work on it ..

[2019-08-05 19:36] seanlip commented on #6240
/cc @nithusha21 -- could you advise on @sagangwee's question please? Thanks!

[2019-08-05 19:41] seanlip commented on #7292
Hi @YashJipkate, I'm merging #7283. Please make sure to fix these in your very next PR and update this issue once you've done so. Thanks!

[2019-08-05 19:54] vojtechjelinek commented on #7309
@Dharmesh-Poddar This is currently blocked by #7189, I can ping you when this issue is ready to be worked on. You can look into other issues for now.

[2019-08-06 05:49] pranavsid98 commented on #6433
@brianrodri Sorry about the delayed response. But, what do you mean when you use the constant ACTIONS_TO_EXPAND_BY? If it means a fixed number of actions that we expand by every time, that would be incorrect. Our ideology is that each Display block contains a set of relevant actions, and doesn't take the number of actions in the block as a factor.

[2019-08-06 07:27] #6766 closed, assigned to vojtechjelinek

[2019-08-06 08:17] sauravpratihar commented on #7122
Hi @vojtechjelinek, can we manually code in bash file `scripts/start.sh` to clean contents in /dist folder

[2019-08-06 09:06] RafayGhafoor commented on #7305
How about running linter only on modified files since that would speed up the process?

[2019-08-06 17:37] kevinlee12 commented on #7305
@RafayGhafoor, that was an option, but because we intended to run the linter on the entirety of develop, it was easier to catch issues in the PR stage than when it went into develop. Our focus now is to speed up the linters.

[2019-08-06 17:43] kevinlee12 opened #7316 "Revert package-lock.json if package.json is not unstaged during checkout"
During checkout, it is possible to carry over `package-lock.json` from a previous branch if the file is not comitted. We should ensure that `package-lock.json` does not carry over during a checkout if `package.json` is not unstaged. An idea for dealing with this is using a [post-checkout hook](https://git-scm.com/docs/githooks#_post_checkout).

*Steps to reproduce*
1. Check out to branch A, that i

[2019-08-06 22:22] seanlip commented on #6757
Just a heads-up that this is still occurring in production. /cc @kevintab95

The log is not so useful though due to the webpack bundling. We might want to find a way to add traceback information. /cc @vojtechjelinek

URL: https://www.oppia.org/collection/53gXGLIR044l

[code]

[2019-08-06 22:32] DubeySandeep opened #7318 "Blue horizontal line on clicking empty area on any page"
On clicking inside empty area of any page I see a horizontal line, this is reproducible on every page.

Screenshot:
![image](https://user-images.githubusercontent.com/16653571/62581774-cc791200-b8c7-11e9-8926-8dd282fdae65.png)

![image](https://user-images.githubusercontent.com/16653571/62581794-dd298800-b8c7-11e9-929a-2bdca6fd4e04.png)

![image](https://user-images.githubusercontent.com/16653571/

[2019-08-06 22:34] DubeySandeep commented on #7318
@nithusha21, Can you please make sure we aren't shipping this in the current release cut? If it's reproducible in the test server we should mark this blocking bug!

[2019-08-06 22:35] DubeySandeep commented on #7318
I've marked this as "Blocking bug" feel free to remove it if it's not affecting the current release.

[2019-08-06 23:54] seanlip opened #7320 "[Blocked on #7327] Add an e2e test for viewing the statistics answers modal."
We recently had a failure in production that was due to an import error: the necessary visualizations to display the list of answers in the state answers modal were not being imported correctly in the exploration stats tab. This caused the state answers modal to break in production because the error slipped through both automated and manual testing.

I'm not sure why this is not included in #6240,

[2019-08-06 23:55] kevinlee12 opened #7321 "Investigate why merge conflict check is not running"
As seen in https://github.com/oppia/oppia/pull/7315#discussion_r311307322, our merge conflict pattern check did not show the proper result. We need to investigate why that is the case and fix it.

[2019-08-06 23:56] seanlip commented on #7321
Actually, that is a different issue than the merge conflict detector right?

The oppiabot detector checks whether there are merge conflicts between one branch and another and posts a message saying "please fix the merge conflicts". But here, I think the merge conflicts were resolved wrongly (locally) and then the branch was pushed.

[2019-08-06 23:59] kevinlee12 commented on #7321
Whoops, I realized that I worded this incorrectly, I've corrected the description.

[2019-08-07 05:35] DubeySandeep commented on #6062
Hi @agcy1210, any update on this issue?

[2019-08-07 07:54] seanlip commented on #7272
We just saw this again on develop. /cc @DubeySandeep

[code]

[2019-08-07 10:05] nithusha21 commented on #6240
Hi @sagangwee I think you are right! The tests there do check the role assignment. Would you like to pick another user journey instead? (I'll mark this as done)

[2019-08-07 12:18] #6727 closed, assigned to nobody

[2019-08-07 14:17] rohitkatlaa commented on #7229
Hi, Can i solve this issue(currently working on it)?

[2019-08-07 14:18] rohitkatlaa commented on #7229
Hi, Can I work on this issue?

[2019-08-07 18:33] anubhavsinha98 commented on #6497
Sorry for the delay, removed my assignment.

[2019-08-07 18:54] sauravpratihar commented on #6497
Can I work on this?

[2019-08-07 18:56] DubeySandeep commented on #6497
@sauravpratihar, Yeah, you can work on this issue!

[2019-08-07 20:52] sauravpratihar commented on #6497
Can I make a PR including old commits of #7308 or wait for #7308 to be merged! ?

[2019-08-07 22:02] #7020 closed, assigned to sophiewu6

[2019-08-07 23:09] sagangwee commented on #6240
@nithusha21 Sure, I'll take "Revert to an old commit in an exploration (explorationHistoryTab.js)" then. Thanks!

[2019-08-07 23:22] seanlip opened #7323 ""Additional player and editor features" e2e test is flaky"
The `RUN_E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES` e2e test is sometimes failing on PRs. Recent trace from https://travis-ci.org/oppia/oppia/jobs/568086888 :

[code]

And on a retry run:

[code]

[2019-08-07 23:36] seanlip commented on #6240
Thanks @sagangwee ! Reassigned you.

[2019-08-08 00:44] sagangwee commented on #6240
Hi I think "Revert to an old commit in an exploration (explorationHistoryTab.js)"  is also covered by the "should display the history" test (line 539) in core/tests/protractor_desktop/explorationHistoryTab.js?

[2019-08-08 03:25] seanlip commented on #6240
Assigning @LanJosh to "View number of created explorations (profileFeatures.js)"

[2019-08-08 04:05] kevinlee12 commented on #7240
Going to tag important since this error appears to be a root cause of a couple e2e test being flaky.

[2019-08-08 04:15] kevinlee12 commented on #6653
Lint checks are now on CircleCI, but there's a issue filed in #7307 to deal with a specific case.

[2019-08-08 04:15] #6653 closed, assigned to nobody

[2019-08-08 04:24] kevinlee12 commented on #6655
We're currently using #7305 to track this issue.

[2019-08-08 04:24] #6655 closed, assigned to nobody

[2019-08-08 04:41] kevinlee12 commented on #6024
Linking #7305 since this is what we are trying to achieve

[2019-08-08 07:06] brianrodri opened #7327 "Make InteractionAnswerSummariesAggregator an Incremental Process"
We'd like to move off of Continuous MR jobs, and `InteractionAnswerSummariesAggregator` is still required to build stats visualizations for the Statistics Tab in the Exploration Editor.

We should move to a more deterministic method that updates the answers incrementally, instead of requiring a job to be running.

[2019-08-08 07:07] brianrodri commented on #7320
This is blocked on #7327, because a continuous MR job is required to test the visualizations but our e2e tests can not reliably depend on them.

[2019-08-08 07:33] seanlip commented on #7320
Adding some sample code that @brianrodri wrote for testing. Note that this can't be used yet because of #7327 (as Brian mentioned), but noting it here for future reference. A copy can be found at https://pastebin.com/uVwzchyq

[code]

[2019-08-08 07:42] seanlip commented on #6240
Hi @sagangwee, yes, I agree!

That said, it is a bit buried. Any chance you could split it out into a separate e2e test?  I think that's why this was missed in the initial accounting.

[2019-08-08 16:59] sagangwee commented on #6240
@seanlip Sure thing!

[2019-08-08 17:30] nithusha21 commented on #7262
I have seen this for a while and I think this is kinda expected.

[2019-08-08 18:56] seanlip commented on #7262
FYI I just asked @rachelwchen if she could take a look and comment on this from a design perspective!

[2019-08-08 19:22] #7292 closed, assigned to YashJipkate

[2019-08-08 19:53] kevintab95 commented on #7246
Note: #7247 could occur from the race condition observed during the editor page load.

[2019-08-08 19:56] seanlip commented on #7246
Hi @kevintab95 -- should that last comment be in the #7247 issue thread? Maybe adding more detail around the race condition would be helpful, too.

EDIT: sorry, scratch that. I missed the earlier comment linking this issue to #7247.

[2019-08-08 20:57] muarachmann commented on #4057
@DubeySandeep can you please elaborate more on this please

[2019-08-08 21:02] seanlip commented on #4057
@muarachmann Please explain, in detail, exactly what you're getting stuck with (and what you've figured out so far), so that @DubeySandeep can more effectively help you. Thanks!

[2019-08-08 23:34] brianrodri opened #7334 "Change Style of Playthrough Buttons in Improvements Tab"
The Playthrough buttons were historically rendered using hexagons, but they no longer fit the theme of their surrounding context: the Improvements Tab.

![image](https://user-images.githubusercontent.com/5094060/62744195-7add9e00-ba13-11e9-8343-e222c3dceb40.png)

We'd like someone to design an alternative design for showing playthroughs, and maybe the card in its entirety.

[2019-08-09 00:22] brianrodri opened #7335 "Thread Data Service Nondeterministically Fails"
Sometimes, data is "missing" from [ThreadDataService](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts) responses. This is especially obvious in the Improvements Tab, where threads are rendered, but sometimes their messages are missing.

Once this bug is resolved, we should remove the dead code that check

[2019-08-09 02:50] brianrodri opened #7336 "Add getLastUpdatedTime() methods to Improvement Tasks"
The improvements tab currently sorts tasks by title, which is unnatural and makes managing the tasks much less intuitive.

Instead, we'd like to sort each card by their "last update", so that tasks with the most recent activity rise to the top.

To do this, we'll first need to give each task a method to return an appropriate "time" which describes when it was last updated. This issue tracks the pr

[2019-08-09 04:23] seanlip commented on #7272
Happened again for @lilithxxx's PR. I think this is getting serious and needs to be fixed....

Log from https://travis-ci.org/oppia/oppia/jobs/569586096:
[code]

[2019-08-09 04:26] seanlip opened #7338 "Flaky e2e test for statistics tab"
**Describe the bug**
The e2e tests for the stats tab are flaky. Logs from a [recent build](https://travis-ci.org/oppia/oppia/jobs/569586095) (PR #7314, which is backend only and should not affect stats):

[code]

[code]

[2019-08-09 05:19] Dharmesh-Poddar commented on #7334
@brianrodri can I work on it ..

[2019-08-09 06:17] DubeySandeep commented on #7176
@YashJipkate, Can you please suggest some part of this issue to @RafayGhafoor?

[2019-08-09 06:27] DubeySandeep commented on #6949
Hi @import-keshav, any update on this issue?

[2019-08-09 06:36] DubeySandeep commented on #7290
@brianrodri, Can you please look into this issue?

[2019-08-09 08:53] rohitkatlaa commented on #7229
Hi, I am trying to fix this issue and when I try to push ,it fails in one test.It gives me
FAILED Pattern checks failed
What am i supposed to do?

[2019-08-09 18:26] #6949 closed, assigned to nobody

[2019-08-09 18:30] seanlip commented on #6949
Just to confirm -- this doesn't occur any more?

[2019-08-09 18:47] kevinlee12 commented on #7008
@ankita240796, are we waiting for the Pylint team to fix this?

[2019-08-09 19:12] import-keshav commented on #6949
I think yes, @seanlip. This error is not reported by anyone and it also occurs to my featured branch. So maybe I have done some mistake which leads to the origin of this.
I closed this for now and in case it occurs again will report this.
Thanks

[2019-08-09 20:04] seanlip commented on #6949
Sounds good, thanks for clarifying @import-keshav!

[2019-08-09 20:33] rachelwchen commented on #7262
I think adding a gap there makes sense! FYI, @kariel9511 is doing a redesign of this dashboard, so there will be more design updates (probably in a month or two?) Thank you!

[2019-08-10 00:17] seanlip opened #7342 "Server error: Cannot read property 'interaction' of undefined"
This error occurred recently in production. Last observed: 29 July 2019.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia

[2019-08-10 00:20] seanlip opened #7343 "Server error: o[s.type] is not a function"
This error has been occurring recently in production since 29 July 2019. I think it might have been introduced in the last release. /cc @DubeySandeep

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothe

[2019-08-10 00:31] seanlip commented on #5794
This continues to happen in production :( As of 6 Aug 2019, there were at least 7 occurrences last week. For some reason the error seems to fire twice each time.

#5827 has provided some debugging info that may be useful. Here are some examples (with the data contents replaced), all with basically the same stack trace as before:

1)
[code]

2)
[code]

3)
[code]

4)
[code]

Latest version of stack

[2019-08-10 00:43] seanlip opened #7344 "Server error: u.toBackendDict is not a function"
This error occurred recently in production (Aug 1 and Aug 8, 2019). It always happens at the URL: https://www.oppia.org/create/{{EXP_ID}}#/gui/Introduction, so perhaps it occurs just after a new exploration is created.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the

[2019-08-10 00:46] seanlip commented on #6161
Deassigning @bansalnitish, I don't think he is working on it.

Note that this error still occurs in production, as of Aug 1, 2019. However, it occurred in the exploration editor and not the player:

[code]

I think this might now be possible to fix, though, since @bansalnitish has provided repro steps. /cc @kevintab95

[2019-08-10 00:47] seanlip commented on #6157
Deassigning @bansalnitish -- I don't think he is working on this.

[2019-08-10 03:36] EricZLou opened #7345 "Docker: get e2e_tests.sh running"
For a Windows user who installs the Oppia codebase with Docker, the e2e_tests.sh script still is not functioning. Getting it to work will require changes to the Dockerfile and possibly other files.

[2019-08-10 03:43] EricZLou opened #7346 "Docker: Docker Hub integration for a centralized Docker image"
This is the first change that will be made to the current Dockerfile.

This will allow for the automatic update of a base image that will be stored in Docker Hub (like Git Hub) every time there is an update to the install_prerequisites.sh script. Then, whenever people use "docker pull" to download the Docker image, it will always be up-to-date with the codebase.
This will require Oppia to create a

[2019-08-10 03:47] EricZLou opened #7347 "Docker: new user-side Dockerfile"
This is the second change that will be made to the current Dockerfile.

This new Dockerfile will pull the most up-to-date Oppia Docker image from Docker Hub, and will copy the users local Oppia repo over into the image automatically. This will allow users to start working the moment the docker image is downloaded.

[2019-08-10 04:42] kevinlee12 opened #7348 "Implement e2e tests on CircleCI or other alternative"
We should implement e2e tests on CircleCI or find an alternative to our current setup to mitigate issues of flakiness.

[Here](https://docs.google.com/document/d/1hMohiUqy1FsYlMIcLEWUOVgUF1Z9IA47QUcaB8rTd1g/edit) are the logs of the conversations that were had with the support team.

[2019-08-10 09:03] YashJipkate commented on #7176
@RafayGhafoor @DubeySandeep Sorry for the delay. You can go for core/templates/dev/head/domain/utilities/AudioLanguageObjectFactory.ts as it has just one underscore_cased key so you might get an idea.

[2019-08-10 10:07] seanlip commented on #6379
This error still happens as of 10 Aug 2019. Here is the log:

[code]

[2019-08-10 17:37] anmolshkl commented on #6556
@DubeySandeep I tried too, but couldn't replicate this issue. Could you please try to reproduce this once again and run the pre_commit_linter in verbose mode? `python scripts/pre_commit_linter.py --verbose` Also, could you please capture the entire logs when this issue occurs?

[2019-08-10 18:05] Showtim3 commented on #7262
@rohitkatlaa hey buddy, You can take this up now.

[2019-08-10 23:15] muarachmann commented on #4057
@DubeySandeep here is what i am doing to try to inject the `AssetsBackendApiService` to be able to "load an audio"

[code]

I keep getting this error please how can i overcome this  i have been on this for the past 2 days now `Error: Trying to get the Angular injector before bootstrapping the corresponding Angular module.`
Log can be found here https://pastebin.com/T1ymiQXK

[2019-08-11 03:52] seanlip commented on #4057
@muarachmann Thanks for the explanation. I think this is actually a question for @YashJipkate who is currently doing the Angular upgrade project -- you might want to ask him.

[2019-08-11 04:58] EricZLou opened #7355 "Docker: fix possible race condition in frontend tests"
run_frontend_tests.sh works only half of the time when in a Docker container for Windows.
This issue will be used to track progress on making this specific script more reliable.

[2019-08-11 08:29] RafayGhafoor commented on #6975
@YashJipkate, the directives have been removed from extensions directory on the latest develop branch.

[2019-08-11 09:49] #7246 closed, assigned to kevintab95

[2019-08-11 16:40] #6497 closed, assigned to sauravpratihar

[2019-08-11 17:24] aks681 opened #7358 "Create a new directive for the carousel"
Currently, the carousel is reused in library page and in stories and subtopics tab in topic viewer page. It should ideally be a separate directive that these pages can import and use.
This is a tracking issue to add such a directive.

[2019-08-11 17:41] #6688 closed, assigned to nobody

[2019-08-11 17:57] jameesjohn opened #7359 "Use transclusion components in exploration editor page."
Using transclusion components on exploration editor page causes exploration translation tab e2e test to fail.
Investigate and fix this.

[2019-08-11 18:31] sauravpratihar commented on #6081
can I work on this?

[2019-08-11 19:56] jameesjohn opened #7362 "Remove jinja from preferences-page.directive.html"
Remove jinja as used [here](https://github.com/oppia/oppia/blob/4f769257fbe780d9ef421b6d548e46020028cc23/core/templates/dev/head/pages/preferences-page/preferences-page.directive.html#L195) in the preferences page directive.

[2019-08-11 20:04] vojtechjelinek opened #7363 "Multiple testing explorations are not working in develop"
**Describe the bug**
When you reload all the explorations and then open The Lazy Magician, Three Balls or Parameterized Adventure exploration (http://localhost:8181/explore/2) the exploration will throw an error.
![image](https://user-images.githubusercontent.com/10142938/62838981-b4b4db80-bc83-11e9-93dc-0d97874039db.png)
![image](https://user-images.githubusercontent.com/10142938/62838983-baaabc8

[2019-08-11 22:44] seanlip commented on #6081
Sure, go for it @sauravpratihar! /cc @kevinlee12

[2019-08-12 01:43] #7363 closed, assigned to YashJipkate

[2019-08-12 07:23] rohitkatlaa commented on #7262
While I am solving the issue, i found a empty div element occupying space and I am not sure if it is used or not. If it is not used I can allocate the space to the left side dashboard. Can you clarify whether the div element is required.(learner-dashboard-page.directive.html file , line 764)

[2019-08-12 07:51] #6962 closed, assigned to nobody

[2019-08-12 08:16] Showtim3 commented on #7262
`<div class="col-md-2 oppia-learner-dashboard-side-content"
         ng-class="{'oppia-learner-dashboard-mobile-mode': $ctrl.checkMobileView()}">
</div>`
Are you referring to this div element? No, this is required.
Have you tried the method that i have suggested above?
@rohitkatlaa

[2019-08-12 08:18] RafayGhafoor commented on #7176
Please [check](https://github.com/oppia/oppia/pull/7365), thanks!

[2019-08-12 08:24] Showtim3 commented on #7262
[code]
Are you referring to this div element? If so, then you can't delete this element as it gets activated in mobile view and is required.
Have you tried the method that I have suggested above?
@rohitkatlaa

[2019-08-12 08:27] rohitkatlaa commented on #7262
Yes i was mentioning that div element.
Is it enough if I just add padding to the maybe n menu?
Thanks,
Rohit Katlaa

[2019-08-12 08:28] rohitkatlaa commented on #7262
Yes i was mentioning that div element.
Is it enough if I just add padding to the main menu?
Thanks,
Rohit Katlaa

[2019-08-12 08:38] Showtim3 commented on #7262
@rohitkatlaa Yeah it can be a valid solution, just check that for different screen sizes.
And just take a look at this `the parent of this element has a margin-left:-15 px. Upon removing the issue is fixed.`

[2019-08-12 18:56] brianrodri commented on #7290
Thanks @stanvarlamov! Do you happen to have a sample error I can look at? Ideally a set of reproduction steps would be appreciated.

[2019-08-13 00:16] stanvarlamov commented on #7290
@brianrodri, not sure if this error is reproducible in a "normal" flow, it's likely a result of some processing or user action glitch upstream, so it's more of a hypothetical design adjustment to handle the "possibility" of the key absent in the object being updated. We can either skip the key or add it into the object - depending on the overall design of the stats engine, I guess. Leaving the cod

[2019-08-13 03:56] Showtim3 commented on #7316
@kevinlee12 Hey Kevin, I have never worked on hooks or something like this and this sounds really intresting. Can i work on this?

[2019-08-13 04:00] kevinlee12 commented on #7316
Hi @teddymarchildon, have you decided to work on this or the other issue? If you decide on the latter, I’ll assign this to @Showtim3.

[2019-08-13 04:11] rt4914 opened #7372 "Create a ClassifierTrainingJob.to_player_dict() function"
**Improvement Suggestion**
This is not a bug, this is an improvement suggestion in existing code.
ExplorationStateClassifierMappingTests creates an "[expected_state_classifier_mapping](https://github.com/oppia/oppia/blob/c34a59aafc1c35a8ba39d731f92d0682c1d15390/core/controllers/reader_test.py#L213)" which in turn contains **text** with **algorithhm_id, classifier_data, data_schema_version**. Curre

[2019-08-13 06:27] jacobdavis11 commented on #7253
@kevintab95 how is this going?

[2019-08-13 06:27] jacobdavis11 commented on #7228
@anubhavsinha98 how is this going?

[2019-08-13 06:29] jacobdavis11 commented on #7222
@YashJipkate how is this going?

[2019-08-13 06:31] jacobdavis11 commented on #7146
What is the timeline for performing the migration and re-enabling validation?

[2019-08-13 06:32] jacobdavis11 commented on #7100
@ankita240796 how is this going?

[2019-08-13 06:33] jacobdavis11 commented on #7089
@DubeySandeep how is this going?

[2019-08-13 06:34] jacobdavis11 commented on #7084
@sophiewu6 how is this going?

[2019-08-13 06:36] jacobdavis11 commented on #7026
@apb7 @lilithxxx who is working on this issue?

[2019-08-13 06:38] jacobdavis11 commented on #6964
@vojtechjelinek how is this going?

[2019-08-13 06:39] jacobdavis11 commented on #6956
@vinitamurthi are you still working on this?

[2019-08-13 06:39] jacobdavis11 commented on #6930
@vinitamurthi how is this going?

[2019-08-13 06:42] jacobdavis11 commented on #6921
@kevintab95 how is this going?

[2019-08-13 06:45] jacobdavis11 commented on #6911
Closing this issue. Please re-open if the problem recurs.

[2019-08-13 06:45] #6911 closed, assigned to ankita240796, sophiewu6

[2019-08-13 06:46] jacobdavis11 commented on #6901
@mzaman07 how is this going?

[2019-08-13 06:47] jacobdavis11 commented on #6893
@nithusha21 are you still working on this?

[2019-08-13 06:49] jacobdavis11 commented on #6866
@ankita240796 how is this going?

[2019-08-13 06:49] jacobdavis11 commented on #6847
@Jamesjay4199 how is this going?

[2019-08-13 06:50] jacobdavis11 commented on #6776
@DubeySandeep are you still working on this?

[2019-08-13 06:51] jacobdavis11 commented on #6732
@Jamesjay4199 how is this going?

[2019-08-13 06:52] jacobdavis11 commented on #6601
@anubhavsinha98 are you still planning to work on this?

[2019-08-13 06:54] jacobdavis11 commented on #6379
@DubeySandeep are you still working on this?

[2019-08-13 06:55] jacobdavis11 commented on #6230
@aks681 are you still working on this?

[2019-08-13 06:56] jacobdavis11 commented on #6223
@bansalnitish could you comment on this?

[2019-08-13 07:00] aks681 commented on #6230
This issue is completed, closing.

[2019-08-13 07:00] #6230 closed, assigned to aks681

[2019-08-13 07:02] jacobdavis11 commented on #5303
@rafalk342 how is this going?

[2019-08-13 07:02] jacobdavis11 commented on #5295
@NishealJ are you still working on this?

[2019-08-13 07:02] jacobdavis11 commented on #5138
@import-keshav how is this going?

[2019-08-13 07:03] jacobdavis11 commented on #5064
@import-keshav are you still working on this?

[2019-08-13 07:04] jacobdavis11 commented on #2485
@Jamesjay4199 is this issue now complete?

[2019-08-13 07:46] apb7 commented on #7026
Hi @jacobdavis11, I am not working on this (and I think neither is @lilithxxx). (/cc @kevinlee12). Thanks!

[2019-08-13 10:08] ankita240796 commented on #7008
Hi @kevinlee12, yes I think because there is no issue in the code we have added but pylint generates a false warning, so I think there is something wrong with pylint here.

[2019-08-13 12:18] YashJipkate opened #7375 "Unexpected linter failure while declaring Angular constants in `*.constants.ts` file"
Currently, if one has the AJS constants declared in a *.constants.ts file where Angular constants are declared, the linter fails with uncatched pythonic errors. This is to keep track of the progress to fix that.

[2019-08-13 13:48] DubeySandeep opened #7376 "Remove dead code for assigned voiceartist list in the opportunity model and language_codes_needing_voice_artists."
Currently while creating an opportunity model we aren't populating the `assigned_voice_artist_in_languages` as there aren't any process of assigning voice artist. Once the voiceover application functionality is implemented change the opportunity model creation method such that it also populates the assigned_voice_artist_in_languages with the required data.

This will also remove the TODO tag used

[2019-08-13 16:51] #7338 closed, assigned to nobody

[2019-08-13 17:25] kevinlee12 commented on #4057
Removing "good first issue" tag because of the Angular upgrade.

[2019-08-13 17:36] seanlip commented on #7375
See https://circleci.com/gh/oppia/oppia/14766  for trace. Here is the relevant part:

[code]

[2019-08-13 17:36] kevinlee12 commented on #7008
okay, sounds good. thanks for the update!

[2019-08-13 17:42] DubeySandeep opened #7377 "Return to topic editor from story editor button throws error"
**Steps to reproduce:**
- Create a topic
- Create a story
- Click on the top left corner (See red box in the image below.)

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/62963919-8966f380-be1f-11e9-916f-79b86f398cba.png)

[2019-08-13 17:43] DubeySandeep commented on #7377
@aks681, Marking this as blocking bug as I think this is also in the current release branch.

[2019-08-13 18:19] kevintab95 opened #7378 "Error: Container element not found"
This error occurred recently in production.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discu

[2019-08-13 18:38] kevintab95 opened #7379 "TypeError: o.reload is not a function"
This error occurred recently in production.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discu

[2019-08-13 18:55] ankita240796 commented on #6866
Hi @jacobdavis11, thanks for the ping. I have issued #7380 to add a flag to skip compilation as a temporary solution.

[2019-08-13 19:07] kevintab95 opened #7381 "Error: [$rootScope:inprog] Page load issue in exploration player"
This error occurred recently in production.

[code]

**Additional context**
This issue seems to occur in the exploration player. It could be related to #2919 (which is fixed).

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come

[2019-08-13 21:42] vinitamurthi commented on #7083
Is the fix here to shift the icons at the bottom slightly above? (Also they seem misaligned?) If so, I am going to add a good-first-issue label to this, does that sound okay? @DubeySandeep @nithusha21

[2019-08-13 22:16] seanlip commented on #6772
(Note: please also ensure that old URLs forward to the new ones, so that we don't break anything for users.)

[2019-08-13 22:31] muarachmann commented on #6772
Hi @seanlip  can i go with this. The front end test seem to be complex due to the upgrade. @YashJipkate  reached out to me and i am still trying to figure it out

[2019-08-14 01:23] jameesjohn commented on #2485
Hi @jacobdavis11,
After fixing #7134, I noticed that story viewer page hasn't been made static yet.
I'm currently working on this and very soon a PR will be made that fixes this issue.

[2019-08-14 04:48] DubeySandeep opened #7383 "One off job for generating contribution opportunities"
Write a one-off job which can generate all the required contribution opportunities using the existing services/models.

[2019-08-14 05:09] DubeySandeep commented on #6776
@jacobdavis11, Yeah the work is going on at #7109. Thanks for checking!

[2019-08-14 05:26] DubeySandeep commented on #6549
Closing this issue as it's not required anymore!

[2019-08-14 05:26] #6549 closed, assigned to nobody

[2019-08-14 05:28] DubeySandeep commented on #6556
@anmolshkl, This issue occurs sometimes and I don't know how we can reproduce.  I'll add the full log if I'll see this again!

[2019-08-14 10:01] seanlip commented on #6772
Sure, feel free to try this issue.

[2019-08-14 10:05] #7377 closed, assigned to nobody

[2019-08-14 13:28] teddymarchildon commented on #7316
Hey Kevin,

I’m not sure if I can commit to taking another issue right now, as I’m not sure when I’ll get a chance to work on it. I’m sorry for that inconvenience, I’m having a hard time finding time for Oppia right now.

I’ll be sure to let you know if I can take another issue when I have some more free time!

Teddy

Teddy Marchildon
Duke University '19 | CS and Stats
teddymarchildon.com
c: 303-6

[2019-08-14 15:48] nithusha21 commented on #6339
@lilithxxx this should be resolved now right? /cc @brianrodri @seanlip

[2019-08-14 15:54] lilithxxx commented on #6339
Yep closing it. Thanks

[2019-08-14 15:54] #6339 closed, assigned to nobody

[2019-08-14 15:56] nithusha21 commented on #6003
@kevinlee12 do you know if this happens anymore?

[2019-08-14 16:01] nithusha21 commented on #5675
Hi @seanlip, just confirming, this was completed right?

[2019-08-14 16:01] NishealJ commented on #5295
Hi, @jacobdavis11 I'm currently not working in this,
@YashJipkate This seems to be an angular-ui-tree library issue and the library is angularJS dependent. do you have any plans to replace this library?

[2019-08-14 16:03] nithusha21 commented on #5546
This will not be necessary as the contributor dashboard will supersede this view. Closing this issue.

[2019-08-14 16:03] #5546 closed, assigned to nobody

[2019-08-14 16:15] nithusha21 commented on #3405
I think this should be fixed by the translation/voiceover framework right? /cc @DubeySandeep

[2019-08-14 16:18] nithusha21 commented on #2931
Is this complete @Jamesjay4199 @vojtechjelinek?

[2019-08-14 16:18] nithusha21 commented on #2930
Is this complete @Jamesjay4199 @vojtechjelinek?

[2019-08-14 16:18] nithusha21 commented on #2929
Is this complete @Jamesjay4199 @vojtechjelinek?

[2019-08-14 16:21] jameesjohn commented on #2931
Yes, this is complete @nithusha21.

[2019-08-14 16:21] #2931 closed

[2019-08-14 16:23] jameesjohn commented on #2929
Yes @nithusha21 this is complete. Thanks.

[2019-08-14 16:23] #2929 closed

[2019-08-14 16:26] nithusha21 commented on #1411
Hi @seanlip progress dots were removed if I am not mistaken right?

[2019-08-14 16:38] jameesjohn commented on #2930
No @nithusha21, the work on this will be done when #7194 goes in.

[2019-08-14 16:38] andrew-sharpl commented on #7372
Hey, can I work on this improvement?

[2019-08-14 16:50] kevinlee12 commented on #7316
@teddymarchildon, no worries, thanks for letting me know!

@Showtim3, this is all yours! :)

[2019-08-14 16:57] kevinlee12 commented on #6003
I'm not aware of it at the moment.

[2019-08-14 19:03] #7021 closed, assigned to sophiewu6

[2019-08-14 19:12] kevinlee12 commented on #7026
Dropping this since we aren't seeing this anymore, but if this comes up we'll reopen.

[2019-08-14 19:12] #7026 closed, assigned to lilithxxx

[2019-08-14 19:18] seanlip commented on #6003
Haven't seen this recently. Closing.

[2019-08-14 19:18] #6003 closed, assigned to nobody

[2019-08-14 19:23] seanlip commented on #5675
Yep I think this is done. Thanks!

[2019-08-14 19:23] #5675 closed, assigned to nobody

[2019-08-14 19:32] seanlip commented on #7372
Hi @andrew-sharpl, sure, go ahead!

[2019-08-14 19:37] kevinlee12 opened #7387 "npm not found on CircleCI lint checks"
npm was not found on the CircleCI lint checks as seen in https://circleci.com/gh/oppia/oppia/15283.
Specific line in question is:
[code]
We should investigate why that is the case.

[2019-08-14 19:43] kevinlee12 opened #7388 "Investigate and fix setup CI status not being reported on Github"
There have been occasions where setup status is not being reported on Github PR statuses like this one: https://github.com/oppia/oppia/pull/7365. We should investigate why setup status is not being reported and make the appropriate fixes.

[2019-08-14 20:15] seanlip commented on #7388
Example screenshot, for easy reference:

![Screenshot from 2019-08-14 11-05-14](https://user-images.githubusercontent.com/10575562/63053026-9aeae280-be95-11e9-971b-d48c9d6aa702.png)

[2019-08-14 21:59] rafalk342 commented on #5303
I don't know how to successfully add mathlive dependency to the project.

[2019-08-14 22:28] seanlip commented on #1411
Yes, they were -- so this can be closed, thanks!

One question though -- do we currently have an e2e test that tests the left + right buttons in the learner view? If not, we should...

[2019-08-14 22:28] seanlip commented on #1411
(@nithusha21, please feel free to close this once you've replied to the last comment above. Thanks!)

[2019-08-15 17:29] RafayGhafoor commented on #7176
@YashJipkate, Can you please assign me other parts of this issue? Previous one has been completed.

[2019-08-15 17:30] RafayGhafoor commented on #6975
@YashJipkate, Can you please assign services and domain directories of this issue?

[2019-08-16 09:51] RafayGhafoor opened #7397 "Invalid chromium path (Arch Linux)"
**Explanation:**
Tests fail to run due to the chromium binary not found in `/usr/bin/chromium-browser`. Changing the path to `/usr/bin/chromium` works though.

![image](https://user-images.githubusercontent.com/20343475/63159272-9a3c8280-c034-11e9-9917-188a2894d923.png)

[2019-08-16 09:52] RafayGhafoor commented on #7397
@kevinlee12, I have filed this issue as advised in [PR](https://github.com/oppia/oppia/pull/7360).

[2019-08-16 10:49] lilithxxx commented on #6550
Closing this since the backend coverage is now 100%

[2019-08-16 10:49] #6550 closed, assigned to lilithxxx

[2019-08-16 12:36] rohitkatlaa commented on #7358
Hi,
Can I take up this issue?
I will need a little guidance in solving the issue.

[2019-08-16 13:31] nipan09 commented on #6240
Hi! I am a newbie to open source. I would like to work on adding the subject interests in preferences. Where can I find the code regarding this? Can you assign me this issue?

[2019-08-16 16:26] YashJipkate commented on #7176
@RafayGhafoor now that you have an idea of how to do it, you can take a look at the other files and check which ones you can handle.

[2019-08-16 17:05] RafayGhafoor commented on #7176
@YashJipkate, Can I send PR for multiple files at once or are they required to be refactored individually? (one per PR)

[2019-08-16 18:00] kevinlee12 commented on #7397
thanks!

[2019-08-16 18:01] kevinlee12 commented on #6240
@nipan09, welcome! You can find the code [here in preferences.js](https://github.com/oppia/oppia/blob/develop/core/tests/protractor_desktop/preferences.js). I've assigned you that section.

[2019-08-16 19:02] kevinlee12 commented on #7388
Just to update this issue, I've sent a support request to CircleCI. It looks like other groups are also having a similar issue according to the CircleCI forums.

[2019-08-16 19:04] kevinlee12 commented on #7388
Also moving this to urgent since I've seen 2+ PRs affected today.

[2019-08-16 21:27] #7362 closed, assigned to jameesjohn

[2019-08-16 22:25] DubeySandeep commented on #6556
@anmolshkl, This happened today, I've shared the log below PTAL:
[code]

[2019-08-17 03:39] DubeySandeep opened #7400 "Unable to run typescript_test.py locally"
Running typscript_test.py locally throws error:
[code]

**Additional context:**

Found a reported issue [here](https://github.com/angular/angular-cli/issues/5618).
/cc @ankita240796

[2019-08-17 03:44] DubeySandeep commented on #7400
Resource usage while running typescript_test.py:

![image](https://user-images.githubusercontent.com/16653571/63206279-3f0b9e00-c0cf-11e9-91ed-3a0a26b9481a.png)

[2019-08-17 06:51] ankita240796 commented on #7400
I was able to reproduce this after webpack compilation once. It is happening since `dist` folder generated in `core/templates/dev/head` after webpack compilation is also getting compiled due to which the resource usage exceeds the limit. I have submitted #7401 as a fix!

[2019-08-17 07:31] Darin8 commented on #6292
Hey, could I take this issue?

[2019-08-17 09:11] #7400 closed, assigned to ankita240796

[2019-08-17 09:36] DubeySandeep opened #7402 "Serve community_dahboard page statically through app.yaml"
Currently, we are serving the community_dashboard page through the controller though it can be served statically. We have to do this as the community dashboard page isn't enabled yet and this is served on the basis of the flag value.

We can server community_dashboard page through app.yaml once the community_dashboard page is enabled and doesn't need any flag.

[2019-08-17 11:16] YashJipkate commented on #7176
You can do either way, one that suits you. Though I think individual PRs would be a better idea.

[2019-08-17 11:52] nipan09 commented on #6240
Thank you @kevinlee12 for assigning me this issue. I will let the community know about my progress.

[2019-08-17 13:34] YashJipkate opened #7403 "Import mathjs libraries partially."
Currently all the mathjs libraries are imported as a whole wherever required. Change this to partial imports.

[This](https://mathjs.org/docs/custom_bundling.html) might have a way to do this.

[2019-08-18 12:18] #2485 closed

[2019-08-18 18:32] kevintab95 opened #7406 "TypeError: Cannot read property 'value' of undefined"
This error occurred recently in production.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discu

[2019-08-18 20:22] vojtechjelinek opened #7407 "Replace ui-codemirror with different library"
Since ui-codemirror library doesn't support Angular >2, wasn't updated for 4 years and is also archived on GitHub we should try to find a replacement library that supports Angular 8 and preferably is in actively maintained.

[2019-08-19 19:31] DubeySandeep commented on #6959
@yashdusing, any update on this issue?

[2019-08-19 19:34] yashdusing commented on #6959
@DubeySandeep I really want to work on this but I can’t get Oppia running yet. Could you please check out the error I posted on gitter ?

[2019-08-19 19:34] DubeySandeep commented on #6292
Hi @Darin8, you can start working on thi s issue!

[2019-08-20 04:45] vojtechjelinek opened #7414 "Add lint checks for webpack config"
Add lint check that will check if the instances of HtmlWebpackPlugin in  _webpack.config.ts_ contains all needed keys (`filename, meta, template, minify, inject`)

[2019-08-20 04:52] seanlip commented on #7414
Thanks for filing!

@vojtechjelinek, one more question: is there anything else that can be verified? For example, I imagine the types should be consistent. Are there any other constraints (e.g. certain strings end in ".html", etc.)? The more we can check beforehand, the less chance of errors occurring.

[2019-08-20 04:57] nithusha21 commented on #6240
Hi @LanJosh any updates on this issue?

[2019-08-20 04:57] vojtechjelinek commented on #7414
Yes, there are some constraints but if they are violated it leads to the webpack compilation failing, so they are checked implicitly.

[2019-08-20 05:20] nithusha21 commented on #1411
I don't think there is a dedicated test for that, I'll add that to issue #6240.

[2019-08-20 13:09] sauravpratihar commented on #6081
Hi @kevinlee12, there are many docstring issues I found after implementing `args returns raises` check in pre_commit_linter.py here is the list: https://docs.google.com/document/d/1OiZA4I5ETSDu2K_dYUk2whvdEhV_41exBlPZWdU8cDM/edit?usp=sharing

[2019-08-20 14:05] import-keshav commented on #5064
@jacobdavis11 Yes, I am working on this. Will give an update soon.
Thanks

[2019-08-20 14:06] import-keshav commented on #5138
Earlier I am busy, so not able to do it.
Will give an update soon.
Thanks

[2019-08-20 15:17] import-keshav commented on #5064
Yes, I added ```console.log``` in directives controller.

And I again check there is 2 times compiling of image directive is there. And the reasons are already mentioned above.

I checked, and there is 1 network call for each image (since we use cache services)

**Is this the weird behavior of image directive or is this the expected behavior ?** @seanlip

[2019-08-20 16:10] Showtim3 opened #7417 "Preference page: New image not being relfected untill page is refreshed."
**Describe the bug**
On the test server: https://oppiatestserver.appspot.com
Upon filling on details in the preference page, when an image is being uploaded the changes are not being reflected. The page has to be refreshed in order to see the new profile picture image that is uploaded. That is very confusing regarding whether the image has properly being uploaded or not if the image is can not be

[2019-08-20 16:48] Showtim3 opened #7418 "Error 404 while playing an exploration."
**Describe the bug**
On the test server: https://oppiatestserver.appspot.com
While playing an exploration, I got a toastr showing `Error communicating with server` and some console errors. This happened on the test server. I am not sure whether this bug is reproducible every time or not.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia
 2. Go to the library page
 3. Search for

[2019-08-20 17:18] lilithxxx opened #7419 "Remove python_utils from .coveragerc once the codebase is run under Python 3"
Remove python_utils from the .coveragerc list once the codebase is run under Python 3.

[2019-08-20 17:21] Showtim3 opened #7420 "While playing an exploration, a blue line appears at the bottom whenever some text is double-clicked or highlighted."
**Describe the bug**
On the test server: https://oppiatestserver.appspot.com
I guess this is a minor issue, even I am not sure whether this is an issue or not. So, A lot of people have a habit of clicking the text while reading it(including me), so while playing the exploration, on almost all of the pages it is happening that, whenever I click on some text a bold blue line appears on the bottom(wh

[2019-08-20 17:42] DubeySandeep commented on #7420
@Showtim3, is this a duplicate of #7318?

[2019-08-20 17:50] JoyLubega commented on #6975
Hey @YashJipkate, Can I be assigned services/

[2019-08-20 17:53] JoyLubega commented on #6956
Is anyone working on this, I would like to pick it up.

[2019-08-20 20:34] kevinlee12 commented on #6081
Hi @sauravpratihar, can you create an issue detailing the missing doc strings and start from there? We want to resolve those issues before activating this check.

[2019-08-20 20:46] kevinlee12 commented on #7388
@seanlip, CircleCI support got back to me and suggested that we follow the instructions here: https://circleci.com/docs/2.0/workflows-waiting-status/. Can you check if we follow those settings in the repo? thanks!

[2019-08-20 20:54] vinitamurthi commented on #6956
@JoyLubega you can go ahead!

[2019-08-20 21:59] DubeySandeep commented on #6776
@sagangwee, I've complete the "Translation and voiceover" part of this issue, can you close this PR once the "Question" part of this issue is resolved? (I'm assigning this to you now!)

(Also, add the link of the doc which contains the milestones.)

[2019-08-20 22:03] DubeySandeep commented on #7083
(Adding @rachelwchen to suggest whether a UI change is required here.)

Hi @rachelwchen, can you please go through the screenshots I have shared above and see whether the exploration tile/card looks okay to you?

(Based on the reply from @rachelwchen, we can add a label to this PR!)

[2019-08-20 22:04] sagangwee commented on #6776
@DubeySandeep Sure thing!

[Here's the doc](https://docs.google.com/document/d/13xT0pm1X_T26WGppCD792myYsK78sN4ImIGnzEUA0S0/edit?usp=sharing) with the needed changes and time estimates.

[2019-08-20 22:18] kevinlee12 opened #7423 "Webdriver rate limit reached"
In one of our e2e tests, we are getting a rate limit error with webdriver. This has been fixed in the later version (or at least v13) of webdriver (https://github.com/angular/webdriver-manager/issues/303), as a result, we need to upgrade this package.

Stacktrace:
[code]

[2019-08-21 06:13] DubeySandeep commented on #7272
Adding some findings in the thread:
I was going through the translationTab flaky e2e test issue and realize that all the flaky e2e test has a common log (most of the time.) which is related to Creatordashboard page. The creatorDasboard.js e2e test file is only being used in the translationTab, statsTab and additionFeatutres e2e test and all these suites are showing flakiness. As of now, I haven't

[2019-08-21 06:19] sauravpratihar opened #7427 "Add valid args, returns & raises docstring for the python files."
The aim of this issue is to implement valid docstring in methods (link below) to implement mandatory check for `Args Returns Raises`. Currently most of the files having valid docstrings but some files have missing/invalid format `Args Returns Raises` in their docstring. by solving this we can go ahead and work on #6081

To be assigned to a file or for any queries, comment on the thread and tag @ak

[2019-08-21 06:21] DubeySandeep commented on #6412
Closing this issue as it's not reproducible with the given details!

[2019-08-21 06:21] #6412 closed, assigned to nobody

[2019-08-21 06:32] Showtim3 commented on #7420
@DubeySandeep Yeah my bad, this is a duplicate of #7318 so I'll close this issue then.

[2019-08-21 06:32] #7420 closed, assigned to nithusha21

[2019-08-21 08:37] seanlip commented on #7388
Hi @kevinlee12, I am a little confused. Here is what I have in the settings (note that the pictures overlap):

![Screenshot from 2019-08-21 01-35-57](https://user-images.githubusercontent.com/10575562/63416346-1e379700-c3b4-11e9-84f1-781bbb961a81.png)

![Screenshot from 2019-08-21 01-36-04](https://user-images.githubusercontent.com/10575562/63416368-242d7800-c3b4-11e9-9104-a998855c4a66.png)

![Scr

[2019-08-21 11:22] vojtechjelinek opened #7429 "Changes after GeneralFeedbackThreadUserOneOffJob and GeneralFeedbackEmailReplyToIdOneOffJob is run"
After the **GeneralFeedbackThreadUserOneOffJob** and **GeneralFeedbackEmailReplyToIdOneOffJob** is run on production and all models are confirmed to have the necessary fields do:
- Add `require=True` to `user_id` and `thread_id` in `GeneralFeedbackThreadUserModel` and `GeneralFeedbackEmailReplyToIdOneOffJob`

[2019-08-21 17:25] kevinlee12 commented on #7388
Hmm, the status that they want deselected isn't in the menu (which one that is `ci/circleci` with nothing after the colon), I'll go ahead and shoot those screenshots to them and see what they say. In the meantime, I'll assign this issue back to me until I get a response from them.

[2019-08-21 18:05] kevinlee12 commented on #7272
@DubeySandeep, I believe so, I haven't seen in the past day. That being said, I was mostly without internet the past couple days so I can't speak for whether it is fixed.

[2019-08-21 18:18] JoyLubega commented on #6766
hey, @seanlip @vojtechjelinek   I have just pulled from develop branch and it is still hanging. I have used ctrl+c and the run again but still existing
<img width="1438" alt="Screen Shot 2019-08-21 at 4 49 28 PM" src="https://user-images.githubusercontent.com/29824008/63457166-20076600-c459-11e9-8972-8f14948335a0.png">

[2019-08-21 18:44] kevintab95 opened #7430 "Exploration title isn't wrapping in the player mode"
**Describe the bug**
On clicking the info icon while playing an exploration, the exploration card is shown. The title is not wrapped and overflows outside the card if the title is too long.

<img width="960" alt="overflow" src="https://user-images.githubusercontent.com/11008603/63458847-299cc800-c471-11e9-83f8-238383c41762.PNG">

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an expl

[2019-08-21 21:29] #7015 closed, assigned to nobody

[2019-08-21 22:22] vinitamurthi commented on #7015
The question player now uses a better format to fetch questions - get_questions_by_skill_ids()

[2019-08-22 00:14] import-keshav commented on #6546
assigning myself
Thanks

[2019-08-22 02:14] DubeySandeep commented on #6212
@kevinlee12, I've added a few examples in the issue description to make it clear for "new contributors" (note this issue is marked as `"good first issue"`), can you please verify and change/append it if required?

[2019-08-22 03:25] kevinlee12 commented on #6212
lgtm!

[2019-08-22 06:59] BenHenning opened #7431 "Introduce topic index controller"
We need support in Android on Oppia to display a list of topics that is separate from the current Oppia library. This requires a new Android-specific data handler & controller, plus possible downstream domain work if it's not already possible to fetch a list of topic summaries.

This topic index controller should not provide all topic information, just enough for the Android client to display a li

[2019-08-22 12:41] anjali1903 commented on #6975
I want to work on this issue on any one of the 6 directories. This would be my first issue, Could someone please help me?

[2019-08-22 14:40] U8NWXD commented on #6240
Hi, I'd like to take the task:
[code]
Thanks!

[2019-08-22 17:30] Dharmesh-Poddar commented on #7430
@kevintab95 are you working on it ?

[2019-08-22 17:49] kevinlee12 commented on #6240
@U8NWXD, you got it!

[2019-08-22 18:06] #6961 closed, assigned to nobody

[2019-08-22 19:16] DubeySandeep commented on #5856
@seanlip, I'm moving this issue to "New structure"  project as per [this comment](https://github.com/oppia/oppia/issues/5856#issuecomment-439596678).

[2019-08-22 19:58] DubeySandeep commented on #5504
@aks681, Can you please go through this issue/comments?

[2019-08-22 20:36] DubeySandeep commented on #7358
Hi @rohitkatlaa, this issue is already assigned to @aks681, can you please pick another issue?

/cc @nithusha21

[2019-08-22 20:42] DubeySandeep commented on #7418
@nithusha21, I've marked this issue as "Blocking bug", I think we should atleast know what's causing this issue so that we aren't shipping something buggy!

[2019-08-22 20:50] DubeySandeep commented on #6271
@worstahrieu, any update on the assigned issue?

[2019-08-22 20:51] DubeySandeep commented on #6271
@chetan-rns, any update on the assigned issue?

[2019-08-22 20:54] vinitamurthi opened #7433 "Create a custom practice session"
As of now, users click on a 'Start practice session' button to start a practice session for a topic. This session includes questions from every skill of the topic. We would like to allow users to select which skills they would like to test in the practice session.

[2019-08-22 20:56] DubeySandeep commented on #6092
Closing this issue as it's a duplicate of #7229 and it will get resolved through #7340.

[2019-08-22 20:56] #6092 closed, assigned to nobody

[2019-08-22 20:58] DubeySandeep commented on #6062
@NishealJ, is this issue fixed?

[2019-08-22 21:04] DubeySandeep commented on #5932
@seanlip, I think we can close this issue as this is an expected behaviour, do you have any other suggestion?

[2019-08-22 21:37] seanlip commented on #5932
I'm OK with closing this issue.

[2019-08-22 21:37] #5932 closed, assigned to nobody

[2019-08-22 21:51] vojtechjelinek opened #7434 "Make shared constants accesible from AppConstants without Typescript error."
**Problem**
`AppConstants` also contain constants that are defined in `assets/constants.js` but since these are added dynamically by `Object.assign(AppConstants, constants);` attempt to access them produces a typescript error (`error TS2339: Property 'XXX' does not exist on type 'typeof AppConstants'.`)

cc @kevinlee12 @YashJipkate

[2019-08-23 00:00] seanlip commented on #6433
I took a quick look at this -- @pranavsid98, could you please explain what the algorithm is for figuring out how many actions to expand by each time the up/down arrow is clicked? I actually expected it to be a fixed constant as well. E.g. if you do this on github then you would expand by a fixed number of 20 or so lines each time (I think).

[2019-08-23 00:16] seanlip commented on #7430
I have a request for whoever works on this issue: could we please try to do it in a self-contained modular way that can be "dropped in" to many places? E.g. a directive that knows the width of its container and that handles wrapping correctly for all the different cases.

This is because I've seen a lot of issues in the past about "X is not wrapping in this scenario ABC" and attempts to fix these

[2019-08-23 00:18] brianrodri commented on #6433
Right, I was thinking you should be able to calculate which indices to stop at in the constructor, and building an array of where to "stop":

`[n - 3, n - 8, n - 3, ..., 0]`

Then the code can simply become

[code]

[code]

[2019-08-23 04:49] seanlip commented on #5856
Actually, I'm moving it to the "Overall learner experience" project since this is related to how students discover lessons.

[2019-08-23 04:50] seanlip commented on #6135
Since we are trying to move away from continuous computations, let's drop this for now. We can revisit if there is a specific use case that happens often and that would be eased with pre-existing data.

[2019-08-23 04:50] #6135 closed, assigned to nobody

[2019-08-23 04:52] seanlip commented on #6021
Duplicate of #3984. Closing.

[2019-08-23 04:52] #6021 closed, assigned to nobody

[2019-08-23 04:52] seanlip commented on #3984
Note: see #6021 for further suggestions.

[2019-08-23 04:53] seanlip commented on #5979
Let's close this for now -- the pages look fine as-is.

@kefeh, could you please reopen this issue (or start a new one) when the necessary images are ready and this issue actually becomes actionable? Thanks!

[2019-08-23 04:53] #5979 closed, assigned to nobody

[2019-08-23 17:16] kevintab95 commented on #7430
Hi @Dharmesh-Poddar, I'm not working on this issue but please feel free to assign yourself if you'd like to work on it. Thanks!

[2019-08-23 19:21] kevintab95 opened #7438 "KeyError in stats_services"
This error occurs frequently in production (average of 80 times in an hour).

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an O

[2019-08-23 19:23] kevintab95 opened #7439 "ReferenceError: PencilCodeEmbed is not defined"
This error occurred recently in production (but note: @Kej-r03 confirms it also happens in development mode):

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of t

[2019-08-23 19:34] kevintab95 commented on #6159
This seems to occur in production, here is the latest stack trace:

[code]

[2019-08-23 19:39] kevintab95 opened #7440 "Error: The image name is invalid, it does not contain dimensions."
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-23 19:42] kevintab95 opened #7441 "Error: Invalid key `one` for argument `minChoiceNumber`. Valid plural keys for this locale are `other`, and explicit keys like `=0`."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-08-23 19:51] kevintab95 opened #7442 "ValueError: State xxx does not exist"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-23 19:53] kevintab95 opened #7443 "Error: Operation aborted"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-23 19:54] kevintab95 opened #7444 "Error: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document."
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-23 19:57] kevintab95 opened #7445 "TypeError: Cannot read property 'attributes' of null"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-23 23:38] sophiewu6 opened #7448 "Add backend restrictions on number of skill IDs when requesting for questions"
When the list of skill IDs has a length longer than 20, raise an exception at all relevant controllers and domain. In the controller, add a filter to select relatively low mastery level skills.

[2019-08-24 04:47] seanlip commented on #6240
Assigned @hareshkh to "Set your preferred dashboard" (in Preferences page)

[2019-08-24 05:03] kevinlee12 commented on #4057
This is currently blocked since some of these tests assume that some services are available (when due to the Angular migration, they are not). This is a consequence of an assumed load order in AngularJS/Angular. After the [run block](https://github.com/oppia/oppia/blob/392323400e5a606b810b8e41155c644cd7f862bb/core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts#L

[2019-08-24 05:37] kevinlee12 opened #7450 "Fix tests/methods that refer to private functions in Python"
There are currently a few tests that reference private functions in Python. Tests should test through public interface.  If the test tests a private method, find a way to test the method through the existing public interface instead (you'll need to find the corresponding public API function that uses the internal private one, and use that function instead in tests). Please note that modifications

[2019-08-24 07:34] kevinlee12 opened #7452 "Upgrade @typescript-eslint/eslint-plugin"
`eslint-utils` is currently out of date, https://github.com/oppia/oppia/pull/7451 provides a temporary fix, but we need to upgrade the main package that requires `eslint-utils` to ensure that we have a long term fix.

When fixing this, please make sure that the lint tests run successfully.

[2019-08-24 07:35] aks681 commented on #7216
Closing it as this is completed by #7389

[2019-08-24 07:35] #7216 closed, assigned to aks681

[2019-08-24 10:28] DubeySandeep commented on #7438
@kevintab95, is this related to #7290?

[2019-08-24 11:15] ankita240796 commented on #6240
Assigned @bansalnitish to "Change preferred site or audio language" as per discussion on hangouts.

[2019-08-24 11:37] lilithxxx commented on #5714
Fixed by https://github.com/oppia/oppia/pull/7177

[2019-08-24 11:37] #5714 closed, assigned to nobody

[2019-08-24 12:38] bansalnitish opened #7453 "Failed to run e2e tests"
I'm not able to run the e2e tests. I've followed the instructions of installing Oppia as given here -https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29.

Here is the screenshot of errors I get when I run this command: `bash scripts/run_e2e_tests.sh --suite=preferences `
<img width="1680" alt="Screenshot 2019-08-24 at 6 04 16 PM" src="https://user-images.githubusercontent.com/2243468

[2019-08-24 13:02] Showtim3 commented on #7418
@DubeySandeep hey even though this error appeared, the exploration was playing fine.

[2019-08-24 14:33] anjali1903 commented on #6975
Hi @ankita240796 , can you please assign services directory of this issue?

[2019-08-24 15:31] nithusha21 commented on #4558
Closing this thread in favour of #6240

[2019-08-24 15:31] #4558 closed, assigned to nobody

[2019-08-24 15:31] nithusha21 commented on #7270
Closing this thread in favour of #6240.

[2019-08-24 15:31] #7270 closed, assigned to nobody

[2019-08-24 15:32] nithusha21 commented on #7263
Closing this thread in favour of #6240.

[2019-08-24 15:32] #7263 closed, assigned to sophiewu6

[2019-08-24 15:32] nithusha21 commented on #6404
Closing this thread in favour of #6240.

[2019-08-24 15:32] #6404 closed, assigned to nobody

[2019-08-24 15:33] nithusha21 commented on #7320
Closing this thread in favour of #6828

[2019-08-24 15:33] #7320 closed, assigned to nobody

[2019-08-24 16:28] seanlip commented on #7453
Does start.sh run OK?

[2019-08-24 16:37] kevintab95 commented on #7438
Hi @DubeySandeep, the code mentioned in both the issues do seem to match.

[2019-08-24 17:00] nithusha21 commented on #7453
I get [this](https://code.angularjs.org/1.5.8/docs/error/$injector/modulerr?p0=oppia&p1=Error:%20%5B$injector:nomod%5D%20http:%2F%2Ferrors.angularjs.org%2F1.5.8%2F$injector%2Fnomod%3Fp0%3Doppia%0A%20%20%20%20at%20http:%2F%2Flocalhost:9001%2Fthird_party%2Fstatic%2Fangularjs-1.5.8%2Fangular.min.js:6:412%0A%20%20%20%20at%20http:%2F%2Flocalhost:9001%2Fthird_party%2Fstatic%2Fangularjs-1.5.8%2Fangular.m

[2019-08-24 18:10] kevintab95 commented on #7086
Hi @anmolshkl, how is this going?

[2019-08-24 19:11] bansalnitish commented on #7453
Yes, start.sh runs fine.

[2019-08-24 19:18] ankita240796 commented on #7453
I also get the same error on my macOS.

[2019-08-24 20:54] daksh0225 opened #7454 "Navigation bar doesn't open on clicking the hamburger icon"
**Describe the bug**
The navigation bar doesn't open when the hamburger icon is clicked.
It can be seen on any one of the following pages:
1.)/splash
2.)Learner Dashboard
3.)Notifications
4.)Preferences

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any one of the above mentioned pages.
 2. Click on the hamburger icon
 3. The navigation bar doesn't open.

**Observed behavior**
On cli

[2019-08-24 21:21] daksh0225 commented on #7454
I would like to solve this issue but i find it very hard to find the right file.

[2019-08-24 22:15] seanlip commented on #7453
Could one of you check whether, if you checkout Oppia a few commits ago (or the last release branch), this error still occurs?

Trying to understand if it's a per-machine issue or if we changed something (in the webpack/angular migration) that messed things up here. If we can pinpoint the specific commit that caused it, that would be helpful.

Thanks!

[2019-08-24 23:35] seanlip commented on #7454
Thanks for reporting @daksh0225. @nithusha21 -- this seems like a blocking bug?

Also, @daksh0225 -- welcome! To get started with Oppia, please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). I think @nithusha21 can advise more on whether this is a suitable starter project or not.

[2019-08-25 01:22] DubeySandeep opened #7457 "Running pre_commit_linter throws ImportError"
**Steps to reproduce:**
- Run `python scripts/pre_commit_linter.py`

![image](https://user-images.githubusercontent.com/16653571/63644341-e0fd3d00-c704-11e9-8b82-bb3420c5e210.png)

[code]

**Additional context:**

Adding `sys.path.append(os.getcwd())` in the pre_commit_linter.py file resolves the issue but raises another issue:
[code]

[2019-08-25 02:05] seanlip commented on #7457
Hi @DubeySandeep did you try running it as a module? (See instructions in the top of the latest version of pre_commit_linter.py).

[2019-08-25 02:16] DubeySandeep commented on #7457
@seanlip, It's working fine now with running script as a module. Thanks!

[2019-08-25 02:16] #7457 closed, assigned to lilithxxx

[2019-08-25 04:32] seanlip commented on #7453
So I had an interesting experience with this:
- I ran the e2e tests. It failed with an error similar to the one @nithusha21 reported.
- I then updated my branch with HEAD of develop and then ran start.sh. That worked.
- I then ran the e2e tests and they succeeded.

For those of you for whom the tests didn't run the first time, do they work when you do the above steps?

[2019-08-25 04:35] seanlip commented on #7240
Is this still happening?

[2019-08-25 04:38] kevinlee12 commented on #7240
I haven't seen this for a while now, closing this issue. I'll reopen if I see it again.

[2019-08-25 04:38] #7240 closed, assigned to nobody

[2019-08-25 04:38] seanlip commented on #7453
Also, note that I'm running on Linux; so is @kevintab95 -- so maybe it works on Linux but fails on Mac? Not sure, need more investigation / data points.

[2019-08-25 05:31] kevintab95 opened #7460 "Error: [$injector:unpr] issue"
This error occurred 30 times in production.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discu

[2019-08-25 06:14] kevintab95 opened #7461 "Error: [ng:areq] Bad argument issue"
This error occurred 7 times recently in production

[code]

Angulars error page says:
`Argument 'LearnerViewInfo' is not a function, got undefined`

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for th

[2019-08-25 06:23] kevintab95 commented on #6158
This error occured recently, here is the latest stack trace:
[code]

[2019-08-25 07:12] seanlip commented on #7438
Assigning to @nithusha21, I think he is working on this.

[2019-08-25 07:26] bansalnitish commented on #7453
Good news, the tests are working for me locally. I followed exactly what @seanlip mentioned. (I did the same yesterday but tests failed to run then!)

@ankita240796, @nithusha21 could you please try the same?

[2019-08-25 07:27] ankita240796 commented on #7453
I tried doing that but it still doesn't works for me.

[2019-08-25 07:28] bansalnitish commented on #7453
Oh okay. Could you tell me which Chrome version are you using?

I'm using `76.0.3809.100`.

[2019-08-25 07:29] ankita240796 commented on #7453
I'm using the same too!

[2019-08-25 07:34] bansalnitish commented on #7453
Okay, thanks. Did you follow the instructions given [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29#prerequisites) to create the virtual environment?

To be precise, these in order:

1. `pip install virtualenv`
2. `python -m virtualenv env`
3. `source env/bin/activate`
4. Run start.sh
5. Then run the command for e2e tests

Let me know if this helps.

[2019-08-25 08:45] kevintab95 opened #7462 "URLs of the form example@example.com are currently allowed in explorations"
This error occurred recently in production

[code]

This issue is seen on IE browsers. IE does not support URLs of the form example@example.com (containing "mailto" protocol). Although they are working on a fix (see [this](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8004284/)) we should harden our URL validation to disallow URLs of this form.

/cc @seanlip

**General instr

[2019-08-25 08:45] aboryslawski commented on #6271
still working on it

[2019-08-25 08:46] kevintab95 commented on #7462
/cc @bansalnitish, @ankita240796 since it's relevant to RTEs and prod validation.

Any thoughts on how to approach this?

[2019-08-25 08:55] #7022 closed, assigned to sophiewu6

[2019-08-25 09:43] Showtim3 commented on #7454
@seanlip what's happening here? I have solved this issue previously and even my PR is merged solving that. Ok so since this is a blocking bug, I am looking into it.

[2019-08-25 09:50] Showtim3 commented on #7454
@daksh0225 Hey Daksh, how you updated your branch with current develop because i am not able to reproduce this issue. I have tested the sidebar and it is working fine here. Can you please provide some details about the issue?
![Screenshot 2019-08-25 at 3 19 06 PM](https://user-images.githubusercontent.com/30312043/63648313-db771580-c74b-11e9-8992-e9cc37858d97.png)

[2019-08-25 10:31] daksh0225 commented on #7454
I encountered the issue on the mobile site. I still can't see the
navigation bar on the mentioned pages.

On Sun, 25 Aug 2019, 3:20 pm Rishabh Rawat, <notifications@github.com>
wrote:

[2019-08-25 11:20] daksh0225 opened #7463 "Remove Profile Picture"
**Is your feature request related to a problem? Please describe.**
Sometimes users upload a profile picture, but later they may want to remove instead of changing it, but there is no way to just remove a profile picture, the website provides option to just change it to another picture.
**Describe the solution you'd like**
Add a button on the preference page to remove the profile picture

**Additio

[2019-08-25 21:38] dchen97 commented on #7083
@rachelwchen - Friendly ping on this issue. We would love to include this on the list of projects that contributors can resolve as part of the Grace Hopper Conference Open Source Day - but we need to provide an adequate description for the participants to work off of.

[2019-08-25 22:39] #7452 closed, assigned to kevinlee12

[2019-08-26 04:17] DubeySandeep opened #7469 "Build functionality for admin to check community contribution activity"
Currently, there isn't a way for admin to check the activity of contributions made on oppia lessons, the requirement of this issue is to build functionality for admins to go through the contribution process in a glance and help to understand and escalate the process of contributions as required.

[2019-08-26 04:21] DubeySandeep opened #7470 "Translation suggestion workflow for the community dashboard"
Enable anyone to suggest written translations for lessons from the community dashboard.

**Before the scoring system:**
- [x]  Admin should be able to review the translation suggestion. (@DubeySandeep #7513)

**After the scoring system:**
- [ ] Suggestions by "proficient translators" can be directly added without review.

- [ ] Other suggestions should be reviewed by "proficient translators", who

[2019-08-26 04:23] DubeySandeep opened #7471 "Question suggestion workflow for the community dashbaord"
Make it possible for anyone to suggest a new question related to skill from the community dashboard.

**Before the scoring system:**

[ ] Admin should be able to review/accept the suggestion.

**After the scoring system:**

[ ] The suggestion should get reviewed by the experts in the topics which posses the question's skill.

[ ] Topic experts can directly add new questions related to a skill (thi

[2019-08-26 04:26] DubeySandeep opened #7472 "[Content Reporting System] Admin control panel for the community contribution workflow"
The requirement of this issue is to build a structure where the contributors should be able to report issues in suggestions which are currently in review, or that have been accepted.

Admins should be able to respond/block users based on these reports.

[2019-08-26 04:29] DubeySandeep opened #7473 "Image/graphics suggestion workflow for the community dashboard"
Make it possible for anyone to suggest images for exploration from the community dashboard.

The suggestion should firstly get reviewed by the proficient artists and then get a final review from the exploration owner/editor.

Suggestion by the proficient artist should only get reviewed by the exploration owner/editor.

[2019-08-26 04:51] rachelwchen commented on #7083
Hi! Sorry for the late response. Some comments:
![Artboard 6](https://user-images.githubusercontent.com/12159451/63665925-50fdd880-c782-11e9-8fa2-53a41c06cdae.png)

1- Move the icon up a bit
2- Align text with icons
3 - Align the first icon with the ones on top, move these icons up a bit

[2019-08-26 04:59] DubeySandeep opened #7474 "Allow contributors to see the list of similar questions already exist"
Allow contributors to see a list of similar questions to what they are creating. This will help contributors to suggest different questions for learners.

(This would be similar to what we see  while creating a new issue when we start writing a title.)

[2019-08-26 05:03] DubeySandeep opened #7475 "Add badges to the user's accounts based on their contribution score"
This issue focuses on making it easier for contributors to understand their responsibility by adding badges to their account once they have enough contributions score and they can do reviews for suggestions in different fields.

[ ] Assign users with "proficient/expert badges" once they have accumulated enough score.
[ ] Inform users by notification/email that they have achieved "proficient badges

[2019-08-26 05:27] kevinlee12 opened #7476 "Investigate why lint tests are not reporting some errors"
There were some lint errors that surfaced after the fact that the lint checks have been introduced for some time, the errors are here: https://circleci.com/gh/oppia/oppia/16701. We need to investigate why these lint errors did not appear earlier to make the relevant fixes.

[2019-08-26 05:46] seanlip commented on #7219
Deassigning @teddymarchildon because he won't be able to take this up.

This issue is open for contributions!

[2019-08-26 05:47] seanlip commented on #7182
Deassigning @teddymarchildon because he won't be able to take this up.

[2019-08-26 05:50] seanlip commented on #7454
@Showtim3 Which PR solved this? Has it been merged into the release yet? /cc @nithusha21

[2019-08-26 08:09] #6733 closed, assigned to vojtechjelinek

[2019-08-26 08:09] #7122 closed, assigned to vojtechjelinek

[2019-08-26 08:43] ankita240796 commented on #7453
Hi @bansalnitish, the e2e tests work locally now after following the instructions mentioned by you. Thanks!

[2019-08-26 08:59] nipan09 commented on #6240
@kevinlee12, while pushing the code to the repo, I am getting an error as:

    code ELOCKVERIFY

    Errors were found in your package-lock.json, run npm install to fix them.

    Missing: is-docker@^2.0.0

    Missing: css-loader@^3.1.0
I had resolved css-loader by installing it. However, I have no idea about `is-docker`. Any clue what is it about and how can I resolve it?

[2019-08-26 09:56] bansalnitish commented on #7453
That's great!

@nithusha21 could you please confirm if it worked or not for you?

[2019-08-26 13:58] nipan09 commented on #3446
Hi @seanlip, I want to take up the issue for MusicNotesInput. Can you assign me the issue?

[2019-08-26 14:23] rohitkatlaa commented on #7358
Ok

[2019-08-26 15:35] NishealJ commented on #7454
Hi @seanlip This was resolved in this issue #7125 and was resolved in #7265 .
Also, I have tested this in my bootstrap PR it is working as expected Thanks!

[2019-08-26 15:37] NishealJ commented on #7454
Hi @daksh0225, you can take up this simple issue https://github.com/oppia/oppia/issues/7124, please read the second comment there to know more about which files to change Thanks!

[2019-08-26 16:56] Showtim3 commented on #7454
@NishealJ @seanlip so maybe we should close this issue right?

[2019-08-26 16:57] nithusha21 commented on #7417
I get this console error too while doing this...

[code]

[2019-08-26 17:16] nithusha21 commented on #7418
I don't see this error.. (I tried the first exploration in the fraction collection).

[2019-08-26 17:33] daksh0225 commented on #7124
I am trying to run oppia on a development server but every time I run the scripts/start.sh, I get an error 'No module named builtins' . I even did ```pip install future``` but that didn't solve the problem.
Please help.

[2019-08-26 17:46] nithusha21 commented on #7454
We'll cherrypick #7265 for the release... /cc @aks681

[2019-08-26 17:46] #7454 closed, assigned to Showtim3

[2019-08-26 17:54] nithusha21 opened #7481 "Submit button is misaligned in the exploration player"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11898234/63711198-807f1480-c858-11e9-8260-81a120751fdf.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Play to the code interaction exploration
 3. See error

**Desktop (please complete the following information; delete this section if the issue does not aris

[2019-08-26 18:00] seanlip commented on #3446
Sure, I have assigned you. Go ahead!

[2019-08-26 18:00] seanlip commented on #7481
@nithusha21 Thanks for reporting. Marking this as blocking since it's an unexpected change to a core user flow.

[2019-08-26 18:02] seanlip commented on #7417
/cc @Jamesjay4199 @vojtechjelinek Is this related to changes due to the static serving project?

[2019-08-26 18:02] Showtim3 commented on #7418
@nithusha21 Hey try playing the fraction 2 . I opened it just now to check again and the error is still there.
![Screenshot 2019-08-26 at 11 32 01 PM](https://user-images.githubusercontent.com/30312043/63711762-c9839880-c859-11e9-9c78-fb98f0733c80.png)