[2018-04-04 19:39] aks681 commented on #4846
@seanlip Currently, collection nodes are ordered based on skills completed, which are actually the explorations completed, and in this way, the arrangement of nodes can be non-linear. But, if skills are removed, then I am planning on just arranging them based on their index in the nodes list, which means they can only be linear. Is that fine?
Also, even if non-linearity is allowed now, there is no

[2018-04-04 19:50] seanlip commented on #4846
Hi @aks681, yes, I think just using the index in the node list is fine. And it's fine to restrict collections that currently exist to being linear, so that the "map" they see in the collection editor is identical to the map the learner sees.

[2018-04-04 20:25] seanlip commented on #4411
Yep, but in that case why does everything work fine for other interactions?

Basically I'm trying to understand why we need to make a general change for an issue that only seems to affect MusicNotesInput.

[2018-04-04 20:49] pandeykartikey commented on #4411
In the other interactions, the answer is directly available to them so they use a `$watch` service on them.

[2018-04-04 21:43] seanlip commented on #4411
So could we make the answer in MusicNotesInput directly available to it?

[2018-04-04 21:43] seanlip commented on #4411
(I think this is a better way to go than building general infrastructure that is used only by one specific interaction.)

[2018-04-04 21:50] pandeykartikey commented on #4411
Ok, would look into it.

[2018-04-05 08:31] jacobdavis11 commented on #3977
Sounds good.

I think we can omit the "They can be identified by the Collection tag on the card" part. I believe when I submitted this issue the collections were not so clearly marked in the gallery.

[2018-04-05 21:34] #4821 closed, assigned to akumar1503

[2018-04-05 22:01] #4519 closed, assigned to nobody

[2018-04-06 12:36] prasanna08 commented on #4190
I dont remember that much. But I have added try and except block at all
critical places. I have high confidence that job would not fail but state
id mapping models for some troublesome exploration might not get generated.

On Mon, Apr 2, 2018, 10:48 PM Ben Henning <notifications@github.com> wrote:

--

Best,
Prasanna

[2018-04-06 12:40] prasanna08 commented on #1449
Hi @pandeykartikey what issue are you facing exactly? (regarding mail service, you won't actually be able to receive emails in your mailbox. You will have to check the code which generates the body and start fixing from there)
Also, check the body sent to the users in email (should be somewhere in email_manager.py) check which link is being sent? Cross-check this link with the direct link (the lin

[2018-04-06 18:04] BenHenning commented on #4190
critical places. I have high confidence that job would not fail but state
id mapping models for some troublesome exploration might not get generated.

In that case, should we add an audit job to verify that all mappings are created as expected?

[2018-04-07 09:43] horcrux2301 commented on #4833
I can't reproduce the screenshot above. I see this right now on the link above.

<img width="1440" alt="screen shot 2018-04-07 at 3 06 33 pm" src="https://user-images.githubusercontent.com/25867561/38453570-47229422-3a75-11e8-9dc4-47dc25a9c641.png">

[2018-04-07 09:46] horcrux2301 commented on #4833
I can't reproduce the screenshot above. I see this right now on the link above.

<img width="1440" alt="screen shot 2018-04-07 at 3 14 48 pm" src="https://user-images.githubusercontent.com/25867561/38453628-729f6ac0-3a76-11e8-9eaf-7431519f7b1f.png">

[2018-04-07 09:54] DubeySandeep commented on #4833
@horcrux2301, have you tried this on FF?
(I too agree that it's working well on chrome)

[2018-04-07 20:50] seanlip opened #4857 "Feedback message status is not behaving correctly"
To reproduce:
1. Create a new exploration and publish it.
2. As a learner, go to the learner view of the exploration and leave feedback through the popup in the top navbar.
3. As a creator, go back into the exploration to see the feedback thread.
4. Type a new message, and then change the status to "Ignored".

Observed behaviour: an info message shows up saying "Please specify a reason for stating

[2018-04-08 04:57] seanlip opened #4859 "Fix a couple of residual comments from #4858"
This issue is meant to track the (small) residual comments from https://github.com/oppia/oppia/pull/4858.

[2018-04-08 08:08] prasanna08 commented on #4190
**UPDATE:** After rerunning the job and fixing a few issues in #4858 and #4854 we have following errors (on test server):
[code]

I am trying to identify source of error.

[2018-04-09 01:13] sdiwanji commented on #3968
Great to hear from you @seanlip ! My partner (@huangjay1) and I have completed the instructions you mentioned. We're happy to take on any of the tasks that are still up for grabs.

[2018-04-09 08:21] shubha1593 commented on #3968
Hi @sdiwanji, would you like to work on `Node`?

[2018-04-09 12:28] sdiwanji commented on #3968
Yes, I will get started on that now. Thanks!

On Mon, Apr 9, 2018 at 4:21 AM, Shubha Gupta <notifications@github.com>
wrote:

[2018-04-09 14:18] srikar0896 opened #4864 "On mobile, two icons are visible on the exploration/collection cards at the same time."
On mobile, users can add an exploration or a collection to the playlist by clicking on ellipsis icon to expand
menu and click "Add to playlist" option

![image](https://user-images.githubusercontent.com/17567875/38500971-75a07908-3c29-11e8-8254-f27a3b3bd471.png) ![image](https://user-images.githubusercontent.com/17567875/38500867-3abda39c-3c29-11e8-87b1-d4b7aa941dc2.png)
**Observed behavior:**
Com

[2018-04-09 19:15] seanlip commented on #4859
Fixed in #4860, thanks @prasanna08!

[2018-04-09 19:15] #4859 closed, assigned to prasanna08

[2018-04-10 09:27] #4857 closed, assigned to nobody

[2018-04-10 11:18] WickedBrat commented on #3905
@seanlip I'd like to take up "All directives should ave ```restrict: 'E'```"

[2018-04-10 19:09] nithusha21 commented on #4864
Hi @srikar0896 would you like to take up this issue? It looks like a follow up issue for PR #4709 (which was completed by you).

[2018-04-10 19:38] DubeySandeep commented on #3905
Hi @WickedBrat, I think @apb7 is working on it (As mentioned here #4592), if so then maybe you can take up another part of this issue else you can start working on this :).
(Let's wait for @apurv response)

[2018-04-10 19:41] DubeySandeep commented on #3905
@WickedBrat, I think apurv is working on "directives should have explicit isolated scope" so yeah you can work on "All directives should ave `restrict: 'E'`" (Also, you can take #4592, #4734 for reference)

[2018-04-10 19:44] apb7 commented on #3905
Hi @WickedBrat! You can go ahead with it. I've picked up scope checks for now. Also, I suggest you go through the review comments in PR #4592 once. It would surely help!
Thanks!
(Thank you @DubeySandeep :) )

[2018-04-10 20:53] DubeySandeep commented on #4756
@seanlip, yes you are correct. I was on chrome with ` Continue where you left off.` functionality so when I was closing my browser then the session cookies where left as it was (i.e, didn't get cleared).  (reported [here](https://groups.google.com/a/chromium.org/forum/#!topic/chromium-bugs/cjt3WwgOJ3c))

[2018-04-11 01:41] huangjay1 commented on #3968
Hey @shubha1593 how do we identify the Node objects to change?

[2018-04-11 05:43] srikar0896 commented on #4864
okay.

[2018-04-11 07:00] srikar0896 opened #4868 "on mobile, layout of progress-nav section in tutor card is not consistent with other views."
**Observed behavior:**
In tutor cards, this is the layout of the progress-nav section.
![cc](https://user-images.githubusercontent.com/17567875/38600129-a86efb22-3d80-11e8-9f3d-7b38397e5996.png)
**IPad View**
![image](https://user-images.githubusercontent.com/17567875/38601216-6ec46d40-3d84-11e8-9726-d5e3ca2159bc.png)

**Expected behavior:**
Layout must be consistent with other views like
![image]

[2018-04-11 07:04] seanlip commented on #4868
This looks serious! Thanks for reporting, @srikar0896.

@nithusha21 @ishucr7 could one of you PTAL?

[2018-04-11 09:42] nithusha21 opened #4870 "Make edits to content on fractions landing pages"
This issue is a tracking issue for making changes to the fractions landing pages based on the first user studies. This issue is prioritized for the current release.

[2018-04-11 12:01] bansalnitish opened #4872 "Problem with Feedback count UI"
Steps to reproduce feedback count:

1. Publish an exploration
2. As a different user leave feedback on it.
3. Go to the editor page for that exploration. You will have a little "1 open" on the feedback tab of the NavBar.

If you get more feedback count,  then that number is shown. However if number of feedback increases we get something as shown here.

![selection_078](https://user-images.githubus

[2018-04-11 13:41] #3977 closed, assigned to nobody

[2018-04-11 14:12] shaz13 commented on #1680
Sign in icon is now changed and misaligned -

<img width="294" alt="screen shot 2018-04-11 at 7 41 16 pm" src="https://user-images.githubusercontent.com/24438869/38622229-5462917a-3dc0-11e8-9970-815e550fb94d.png">

[2018-04-11 15:41] apb7 commented on #3905
Hi @WickedBrat, please go through [these](https://github.com/oppia/oppia/issues/3905#issuecomment-359279388) comments in the above issue thread. Also, you don't need to write any check in pre-commit linter. You have to enable the [directive-restrict](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/rules/directive-restrict.md) rule in eslint-plugin-angular. Another important t

[2018-04-11 16:30] srikar0896 opened #4874 "On mobile, the layout of cards in search page is cluttered and spinner icon on the first card is not aligned properly."
There are 2 issues regarding layout in the search page.

1. The layout of cards is cluttered in each row.
Screen resolution - (412 x 732)
![image](https://user-images.githubusercontent.com/17567875/38629174-f5cd6f8e-3dd0-11e8-851d-0752a9d02225.png)<br>
Though in slightly less resolution(375 x 732) the layout looks fine, one card for each row.
![image](https://user-images.githubusercontent.com/1756

[2018-04-11 16:48] DubeySandeep commented on #4874
Seems like introduced after #4807. (Adding this to blocking bug)
/cc @nithusha21

[2018-04-11 17:00] nithusha21 commented on #4874
I agree. This looks bad. Thanks @DubeySandeep.

[2018-04-12 15:24] bansalnitish opened #4875 "Dead zone in card view of creator dashboard"
There was a issue for "hard-coded height" and "dead zone" (unclickable area) #2620. However the dead zone still exists. The card on hovering is highlighted but is unclickable. I have added a screenshot here. The white area below the blue portion in the left image is a dead zone. Also the area between the title and blue area has dead zone close to title but works fine a bit away from title section(

[2018-04-12 17:07] aks681 commented on #4545
I will unassign myself for now. Will continue, if I get a new lead.

[2018-04-13 06:12] #4875 closed, assigned to bansalnitish

[2018-04-13 06:21] pranavsid98 opened #4880 "Alignment issue in 'Congratulations' message"
Repro instructions:
1. Visit https://oppiatestserver.appspot.com/explore/6Buhm7YczM6E and play the exploration.
2. When a correct answer is submitted, a congratulations message pops up.

![screen shot 2018-04-13 at 11 48 25 am](https://user-images.githubusercontent.com/15828797/38719696-df2d1824-3f10-11e8-83f4-c8a6f1712e4c.png)

Expected behaviour:
I think the 'Congratulations' message should be c

[2018-04-13 06:56] seanlip commented on #4880
Yeah, good catch, I agree. I think it looks weird too!

[2018-04-13 21:54] bansalnitish commented on #4833
@DubeySandeep I have tested it on chrome as well as Firefox it's working fine.

[2018-04-14 02:26] DubeySandeep commented on #4833
Hi @bansalnitish, Thanks for checking this out, but I found this on Firefox (59.0.2 90% zoom level) :
![image](https://user-images.githubusercontent.com/16653571/38763428-1a0b99ae-3fb9-11e8-9f42-cfbe9643c033.png)

(_Look at the question mark after `specifically`_)

[2018-04-14 04:20] prasanna08 commented on #4190
**UPDATE**
Stack trace of the issues arised in various explorations.

[code]

[2018-04-14 06:57] bansalnitish commented on #4833
Ya! I too found this the question mark is out.

[2018-04-14 06:59] srikar0896 opened #4882 "On mobile, the position of the subscribe button in the profile page is not intuitive."
I may be wrong about this but I think on mobile, the position of the subscribe button in the profile page is not intuitive.Users cannot find it in the view.
![image](https://user-images.githubusercontent.com/17567875/38765336-40422c2c-3fdd-11e8-800d-628a0fd1f525.png)![image](https://user-images.githubusercontent.com/17567875/38765346-5788924a-3fdd-11e8-8921-ad41fb858b1e.png)
So, some position like

[2018-04-14 08:30] seanlip commented on #4882
I would agree!

[2018-04-14 09:44] saching97 commented on #4874
@DubeySandeep I don't think it's because of #4807 , misalignment occurs for this resolution on the live site as well (which doesn't have the search bar).
Note: Reproduced by visiting https://www.oppia.org/search/find?q=fractions and setting screen width between 411px and 500px.
![nmf](https://user-images.githubusercontent.com/24409931/38766852-d31ab02e-3ff5-11e8-81b8-5fa7e0c36273.png)

[2018-04-14 11:34] srikar0896 opened #4883 "Tabbing order in the top navigation bar is not right."
This is not a blocking bug.This is an issue regarding the accessibility of options in top navigation bar with the keyboard.
In Admin page :
The tabbing order is reversed.Basically, when we press Tab we expect the focus to be shifted to the next item but it is observed that when Tab is pressed the focus is getting shifted to the previous item.

In Exploration player page,
![image](https://user-imag

[2018-04-14 18:38] pranavsid98 commented on #4662
Hi @pandeykartikey

Sorry about the delayed response. To reproduce the histogram shown in the statistics tab image at local, perform the following steps:

1. Go to the admin page and run the job titled 'InteractionAnswerSummariesIntegrator'.
2. Now, create an exploration with a multiple choice interaction type card and publish it.
3. Submit a few answers to that card in learner view.
4. Now, you c

[2018-04-15 10:33] shaz13 opened #4884 "Correctness footer appears on nagivating correclty answered cards"
**Expected Behavior -**
The correctness footer should only appear when the learner answers correctly.

**Observed Behavior -**
It also appears when navigating `correctly answered cards` which seems not appropriate.

Start exploration. Answer couple of questions correctly. Navigate to previous cards using left arrow. Now nagivate the cards to already answered cards using right arrow button. There w

[2018-04-15 13:35] #4872 closed, assigned to bansalnitish

[2018-04-15 18:47] DubeySandeep commented on #4884
This also exists on production site. Not sure whether it should be a blocking bug or not. /cc @nithusha21

@shaz13, what should be the expected behavior? (as currently, we don't hide the correctness footer bar till user reaches new card) So whether we should just show the correctness bar (without animation) or no correctness bar after navigating back to the final card with the correct answer.

[2018-04-15 23:23] huangjay1 commented on #3968
Hi @shubha1593 @seanlip are there any files we need to refactor for NodeObjectFactory to work?

[2018-04-15 23:52] shaz13 commented on #4884
I am +1 for Correctness bar with no animation when navigating. Let me know your thoughts @DubeySandeep. Thanks!

[2018-04-16 05:54] nithusha21 commented on #4884
/cc @ishucr7 and @seanlip.

I am not entirely sure what the expected behavior in this situation is (@ishucr7 could you help us out here?). Also considering that the bug is present in production, I guess it need not be necessarily prioritized for this release. In any case, thanks for reporting @shaz13 :)

[2018-04-16 06:38] #4864 closed, assigned to srikar0896

[2018-04-16 06:38] seanlip commented on #4884
/cc @christineycc -- any thoughts?

[2018-04-16 06:43] ishucr7 commented on #4884
Sorry for the late reply, Will let  you know in a while.

[2018-04-16 07:49] ishucr7 commented on #4884
Enable the correctness feedback.
On navigating the correctness footer appears only if the user is on the last card discovered so far.
`PlayerTranscriptService` keeps the track of the last card discovered so far by the user, by maintaining an array.

![corr1](https://user-images.githubusercontent.com/23234392/38795972-9d827572-4177-11e8-9a36-ec101bc82c12.png)

When the user clicks on the continue b

[2018-04-16 07:55] seanlip commented on #4884
Oh, I see. That feels a bit weird to me, actually. I think the correctness bar popping up already tells the learner that the answer they just submitted (i.e. their previous action) was correct. Once they start navigating back and forth, they aren't submitting answers, so if the correctness bar pops up it would feel a bit random because it doesn't seem to relate to what the learner is doing. If the

[2018-04-16 08:27] ishucr7 commented on #4884
Hi @seanlip , Currently the animation disappears after few seconds. Shall the correctness footer disappear too ?

[2018-04-16 08:35] seanlip commented on #4884
Not necessarily. You could have it disappear only on the user navigating backward/forward.

That said, I need to defer to @christineycc on this. Could you maybe post an animated gif showing what you want the behavior to be, for her reference?

[2018-04-16 20:23] DubeySandeep opened #4887 "Enable learnerDashboard e2e travis test and AdminPage.js test cleanup."
**Work:**

- [x] Enable learnerDashboard e2e test for travis.
- `protractor/learnerDashboard.js` file uses `adminPage.reloadAllExplorations();` which cannot be accessed in prod_env so it requires few changes.
- Add `- if [ $RUN_E2E_TESTS_LEARNER_DASHBOARD_PROD == 'true' ]; then travis_retry bash scripts/run_e2e_tests.sh --suite="learnerDashboard" --prod_env; fi ` in .travis.yaml file.

- [x] Code

[2018-04-17 03:11] christineycc commented on #4884
Hi all,

I agree with Sean that the correctness bar only pops up after the learner submits a correct answer (and don't show up when navigating)
And when learner answered correctly, animation disappears but I don't think the correctness footer need to disappear and can only disappear when user clicks on a navigation button.

Let me know if this needs more clarification!

[2018-04-17 03:55] shaz13 commented on #4884
Yes, I agree.

I discovered present behavior odd as few explorations have **navigate back** recommendation to certain cards for clarification of concepts if learner submits wrong answer many times. And, if the learner wants to just recap by navigating back (while he is figuring out why his answer was wrong ) seeing the congratulations footer for previous answers doesn't makes sense. (It kind of ma

[2018-04-17 17:14] vinitamurthi commented on #4057
Can you assign me to InteractionDetailsCacheService.js? Thanks!

[2018-04-17 17:59] DubeySandeep commented on #4057
Hi @vinitamurthi, I've assigned you to `InteractionDetailsCacheService.js` part of this issue, you can start working on it. Thanks! :)

[2018-04-17 19:31] #4846 closed, assigned to aks681

[2018-04-17 20:50] seanlip commented on #4884
Sounds good, thanks @christineycc and @shaz13!

@ishucr7 -- does this give you enough info to fix this issue?

[2018-04-17 20:51] #4323 closed, assigned to nobody

[2018-04-18 08:34] shubha1593 commented on #3826
Hey @supra08, ping?

[2018-04-18 12:59] saching97 opened #4893 "Portfolio page navigation gets hidden"
**Observed Behaviour**
The page navigation buttons on the profile page get hidden behind the explorations when viewed on displays with screen width 612px to 1050px.

Screenshot for width: 960px
![nav2](https://user-images.githubusercontent.com/24409931/38933345-4ec4959e-4336-11e8-9b03-959ceb67d4bb.png)

**Expected Behaviour**
The navigation buttons should be visible for all screen sizes.

**Steps

[2018-04-18 19:08] saching97 commented on #4483
Hi @seanlip, I think this issue has already been resolved, I wasn't able to reproduce this error locally. Can you please check this?

[2018-04-18 19:09] seanlip commented on #4483
Agreed, I haven't seen this recently. Closing this. Thanks @saching97!

[2018-04-18 19:09] #4483 closed, assigned to nobody

[2018-04-19 17:21] ishucr7 commented on #4884
Hi @seanlip , Sorry that I couldn't put the gif. (I had my exam the other day). Yep! I will make the changes as said and submit the PR soon.

[2018-04-19 20:25] #4874 closed, assigned to bansalnitish

[2018-04-19 21:34] #4868 closed, assigned to bansalnitish

[2018-04-20 04:49] seanlip commented on #3225
@vibhor98, this is an important issue. How is it going?

[2018-04-20 04:50] seanlip commented on #4625
Closing. This will be superseded by the new "learning structures" project.

[2018-04-20 04:50] #4625 closed, assigned to nobody

[2018-04-20 04:50] seanlip commented on #4386
Hi @bansalnitish, what is the status of this issue?

[2018-04-20 05:09] bansalnitish commented on #4386
Hi @seanlip, I was currently busy on the blocking bugs and my speech recognition PR. So if someone else has to take, can go. I am currently unassigning it to myself.
Thanks!

[2018-04-20 05:10] seanlip commented on #4386
Noted, thanks @bansalnitish!

@AllanYangZhou -- would you mind taking a look at this?

[2018-04-20 05:55] vibhor98 commented on #3225
I understand @seanlip, I'll do changes in the PR with the top most priority this weekend.

[2018-04-20 06:02] #4880 closed, assigned to bansalnitish

[2018-04-20 06:11] seanlip commented on #3225
Thanks!

[2018-04-20 20:17] #4870 closed, assigned to nithusha21

[2018-04-21 03:56] nithusha21 commented on #4884
Hi @ishucr7, any updates on this? We would like to get this in today so that we are on track for the current release. Thanks :)

[2018-04-21 08:21] ishucr7 commented on #4884
Hi @seanlip, @nithusha21  I have added the PR PTAL.

[2018-04-21 23:59] #4884 closed, assigned to ishucr7

[2018-04-22 00:20] seanlip opened #4901 "E2e test error on accepting a suggestion on a published exploration"
We seem to be running into this end-to-end test failure pretty often -- it needs to get fixed otherwise it'll block PRs and releases.

-------------------

F  Suggestions on Explorations
    ✗ accepts a suggestion on a published exploration
      - Expected 0 to equal 1.
      - Expected undefined to match 'Uppercased the first letter'.
      - Failed: Cannot read property 'click' of undefined
Fai

[2018-04-22 00:23] seanlip opened #4902 "When navigating from one card to another, the animation is completely broken"
(@nithusha21 I found this when poking around a bit on the test server.)

To reproduce: Play https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v. Notice that, after clicking Continue, the top part of the card (other than the arrows) completely disappears, the navigation arrows move up/down, and then the rest of the card appears to fill in the gap.

This is really dis

[2018-04-22 06:10] aks681 opened #4904 "Update questions backend to align with skills being a global construct."
As the skills construct is to be added in the future, the current questions backend has to be modified to accommodate the new Skills construct.
The link to the collection skills has been removed already, and this issue aims at adding the required functionalities to align with the new Skills.

[2018-04-22 07:51] #4756 closed, assigned to DubeySandeep

[2018-04-22 09:42] seanlip commented on #4902
On further investigation this is due to #4783.

@bansalnitish PTAL

[2018-04-22 09:43] seanlip commented on #4902
Also /cc @WickedBrat who reviewed this.

[2018-04-22 12:30] #4902 closed, assigned to nobody

[2018-04-22 12:31] DubeySandeep commented on #4781
Reopening this issue (#4905).

[2018-04-22 18:26] srikar0896 opened #4907 "On mobile, the audio bar is visible even if the the header becomes hidden."
**Expected behavior:**
On mobile, while playing an exploration header and audio bar must become hidden if you scroll down.

**Observed behavior:**
Once you scroll down, as expected, the audio bar and the header becomes hidden, but once you select any option the audio bar becomes visible again and header stays hidden.
![break](https://user-images.githubusercontent.com/17567875/39098244-70196380-468

[2018-04-24 00:07] shubha1593 commented on #4411
@pandeykartikey any updates?

[2018-04-24 00:09] shubha1593 commented on #3576
@jervis446, any updates on this?

[2018-04-24 00:11] shubha1593 commented on #3032
@jervis446, are you working on this?

[2018-04-24 09:19] pandeykartikey commented on #4411
@shubha1593 I am currently busy with exams. Will get back to it as soon as they get over. I am deassigning myself for the time being. So, that if any one else wants they can take it up :smile:

[2018-04-24 09:24] shubha1593 commented on #4411
@pandeykartikey, sure thanks! Good luck for your exams :)

[2018-04-25 09:39] NirmalKumarJoshi commented on #3826
Hello, @seanlip @vibhor98  I want to start with Oppia and want to work on this issue. Please assign me the issue and guide.

[2018-04-25 09:44] vibhor98 commented on #3826
Hi @NirmalKumarJoshi, you can take up `app.js` file. Also, you can have a look at the partial work already done for that file. Thanks!

[2018-04-26 08:13] DubeySandeep opened #4912 "Stats. regarding usability of audio."
It would be great to have the stats regarding the usability of audio, this would help translators to enhance their audio work in many ways. A translator would come to know which audio files learners are using a lot/least.
([ref.](https://docs.google.com/document/d/1l567Fi6nER77QYs4-h8RHwo7Ecn-Vj0hqEaF20MHWUU/edit?disco=AAAAB7q8G5Y))

[2018-04-27 00:01] bolariin commented on #4907
Hi, I would take on this task

[2018-04-27 18:40] Pyscowicz opened #4913 "Add Finnish language to site language list"
Hello.

I have translated Oppia into Finnish on translatewiki.net. The translations are now 89% done so it should be enough amount to accept translations to website. The name of the language should be suomi on the language list.

Best regards

Pyscowicz

[2018-04-27 22:40] seanlip commented on #4913
Thanks, @Pyscowicz! I agree that we should be able to add this as a supported language. Marking this as a good first issue for new contributors to take up.

Also, do you think it would be worth getting the translations to 100%, so that we don't have some stuff in English and some stuff in Finnish (as far as possible)?

[2018-04-27 23:10] Pyscowicz commented on #4913
That's great, finally we Finns can use Oppia in our own language.

And yes, i will get translations to 100% soon and far as possible.

[2018-04-27 23:13] seanlip commented on #4913
Sounds great :) Thanks!

[2018-04-28 01:09] #3287 closed

[2018-04-28 19:13] srikar0896 commented on #4666
Hi @prasanna08, Before I write the test for accuracy for code classifier, I want to refactor the data structure of code classifier test data, currently, the data is in this form
`{
  "1": [
            {"code": "Code content1"},
            {"code": "Code content2"}
        ]
}`

Refactored version:
`[
           {"answer_group_index": 1,answers:['Code content1','Code content2']},
           {"ans

[2018-04-28 19:30] bolariin commented on #4907
@srikar0896 I am new to development for oppia. Could you help me with resources or an approach on recreating this issue locally.
Thanks

[2018-04-29 06:40] DubeySandeep commented on #4907
Hi @bolariin, Welcome to oppia, follow these steps to reproduce this locally:

1. Start the local server (scripts/start.sh)
2. Create an account (through the top right "SIGN IN" button of http://localhost:8181/splash page)
3. Create an exploration (through "CREATE" button of top nav bar). (see [here](http://oppia.github.io/#/CreatingAnExploration))
4. Write some content and add multiple choice int

[2018-04-29 15:52] bolariin commented on #4907
@DubeySandeep thanks

[2018-04-30 08:48] prasanna08 commented on #4666
Hi @srikar0896, you are on right track. There is just small change in the desired version that you mentioned. The answers list contains an object of answer type (the same object that is present in original list of training data), and so it should look like following:
[code]

[2018-04-30 10:34] devesh-verma commented on #4913
@Pyscowicz hey I am a beginner and would like to work in this 😃

[2018-04-30 10:37] devesh-verma commented on #4893
@saching97 I am a beginner, would like to work on this 😃

[2018-04-30 12:53] devesh-verma commented on #4893
@saching97 sure. I am ready done with the setup process. Thought I am having problem creating exploration.
Also can you assign me this issue. :smiley:

[2018-04-30 13:47] saching97 commented on #4893
Hi @devshiva619, you can create dummy explorations by signing in as admin and then generating dummy explorations in the admin page in your local instance of Oppia. Let me know if you get stuck on something :)

I don't have the permissions to assign issues, @WickedBrat can you assign him? Thanks!

[2018-04-30 16:24] DubeySandeep commented on #4893
Hi @devshiva619, welcome to oppia :), You can start working on this issue after completing the setup
and signing CLA (as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), also mentioned by @WickedBrat )

just a quick note: GitHub doesn't allow us to assign issues to non-collaborators, and we only add people as collaborators after they've successfully c

[2018-05-01 19:44] srikar0896 commented on #4666
The code classifier is failing the correctness test after refactoring the data structure. The reason it was passing before refactoring because the test was written according to the new data structure.So actually it never goes inside the loop

[code]
where testData was in this form
[code]

[2018-05-03 04:55] devesh-verma commented on #4893
@saching97  @DubeySandeep thankyou for greeting me to the community. I am starting to work on this from today.

[2018-05-03 05:35] EvsChen commented on #4819
Hey @chari1239, you need to first finish two starter projects before solving other issues, otherwise I can't assign you this issue. Pls follow the contribution guide on Oppia wiki. Sorry for the late reply

[2018-05-04 06:11] bansalnitish commented on #4893
Hi @devshiva619,
Just a question here, have you signed the CLA (as mentioned above by the community members)? You didn't mention anywhere in your comments about the CLA.
Thanks!

[2018-05-04 12:06] devesh-verma commented on #4893
@bansalnitish Hey, sorry I forgot to mention that. When I previously wanted to contribute to oppia I had done that. 🙂
I am learning Angular now to be able to contribute.

[2018-05-04 14:44] Pyscowicz commented on #4913
Hi. Translations are now 100% done. Maybe now it's time to import new translations and add suomi to language list :)

[2018-05-06 15:00] pranavsid98 commented on #3822
The design doc for this issue:

https://docs.google.com/document/d/1HE-mLqvkj1AzLr5nEpZ685ZarZsRIjiXq3zKgbhAsxY/edit#

[2018-05-07 11:23] DubeySandeep commented on #4374
@apb7 & @vibhor98, Can you please check why we are getting missing docstrings  on line one for [scripts/custom_lint_checks.py](https://github.com/oppia/oppia/blob/develop/scripts/custom_lint_checks.py) file?

[2018-05-07 14:14] vibhor98 commented on #4374
@DubeySandeep, It's because each python file must have module docstrings too which is missing in this file.

[2018-05-08 15:14] #2255 closed

[2018-05-08 16:32] bansalnitish commented on #4907
Hi @bolariin,
Are you working on this issue?

[2018-05-09 18:26] Pyscowicz commented on #4913
Would also be nice to arrange supported site languages to alphabetical order like this:

"SUPPORTED_SITE_LANGUAGES": [{
    "id": "ar",
    "text": "العربية"
  }, {
    "id": "id",
    "text": "Bahasa Indonesia"
   }, {
    "id": "bn",
    "text": "বাংলা"
  }, {
    "id": "de",
    "text": "Deutsch"
  }, {
    "id": "en",
    "text": "English"
  }, {
    "id": "es",
    "text": "Español"
  }, {

[2018-05-10 12:08] prasanna08 commented on #4666
Hi, @srikar0896, thanks for your investigation. I have corrected code classifier prediction API and also reformatted JSON files. I have also added accuracy tests for code classifier. So everything for code classifier has been finished.

You can work on implementing correctness tests for text classifier prediction API.

Thanks

[2018-05-10 12:15] vibhor98 opened #4923 "'Sort By' drop down on learner dashboard doesn't contain up-down arrows on mobile devices"
#### Repro Steps:
1. Open the Learner Dashboard on mobile and try to rearrange the explorations.
2. See 'Sort By' drop down menu.

#### Observed behavior:
The up-down arrows doesn't appear to make the process of selecting from the drop down list more intuitive.
![screen shot 2018-05-10 at 5 11 52 pm](https://user-images.githubusercontent.com/26625980/39869053-bfe1cea0-5479-11e8-94bc-a7f877a6248d.p

[2018-05-10 12:27] vibhor98 opened #4924 "Exploration count at the bottom right corner in learner dashboard is not correct."
#### Repro Steps:
1. Add more than eight explorations in the 'Completed' section in learner dashboard.
2. See the exploration count at the bottom right corner.
See this screenshot for reference:
![screen shot 2018-05-10 at 5 15 09 pm](https://user-images.githubusercontent.com/26625980/39869288-9385f844-547a-11e8-90eb-ebd5cb251e84.png)
Please note that there are 9 explorations here. 4 of them are a

[2018-05-10 12:34] vibhor98 opened #4925 "Dragged exploration disappears while sorting the explorations in 'Play Later' section on mobile devices."
#### Repro Steps:
1. Open Learner dashboard on mobile.
2. Add more than one exploration in 'Play Later' section.
3. Try to drag and drop the explorations for reordering.

#### Observed behavior:
The dragged item disappears while dragging.

#### Expected behavior:
The dragged item should not disappear while dragging as in the desktop screen.

[2018-05-10 16:18] #2249 closed

[2018-05-10 23:16] opllama2 commented on #3826
@shubha1593 hello, can i take any of the unchecked issues or are they already assigned ?

[2018-05-11 06:45] nithusha21 commented on #4923
Hi @vibhor98. Thanks for reporting this. Could you confirm which OS and browser you were using? On android chrome I am unable to repro this. It shows just the down arrow beside the dropdown (which I think is fine as there is an indication that it is a dropdown).

[2018-05-11 08:17] vibhor98 commented on #4923
Hi @nithusha21, I got this issue on my desktop Chrome browser on mobile mode. I crosschecked on my android phone and it's fine with down arrow as you reported. Thanks!

[2018-05-11 09:30] nithusha21 commented on #4923
Ok I'll close this issue for now as it works fine on actual devices. We can come back to this if we spot this behavior in other browsers on actual devices.

[2018-05-11 09:30] #4923 closed, assigned to nobody

[2018-05-12 18:52] jacobdavis11 commented on #1284
Note that some of these issues (e.g. newlines) may only occur in Firefox and not in Chrome.

[2018-05-13 05:42] nithusha21 commented on #4925
FYI: I can repro this on the main website also. It wasn't introduced in the current release.

[2018-05-13 06:00] nithusha21 commented on #4924
Hi Vibhor. I tried this out on Chrome desktop and it does show all 8 for me. I am unable to reproduce the behavior in the screenshot. Any specific steps to be followed?

[2018-05-13 06:13] nithusha21 opened #4930 "Cannot navigate to the last page in the completed/in progress explorations tab in the learner dashboard"
Steps to reproduce:
1. Add more than 8 explorations to the completed/in progress tab in the learner dashboard.
2. Select the tab, scroll to the bottom and try clicking the right arrow (to show the next page of completed/in progress explorations)

Actual behavior:
It's not possible to view the last page of explorations. Nothing happens when you click the arrow.

Expected behavior:
On clicking the a

[2018-05-13 07:17] vibhor98 commented on #4924
Hi @nithusha21, In the repo steps I've written that explorations should be more than 8. Like in my case, their count was 9, then I got incorrect exploration count as seen at the lower right portion of the screenshot.

[2018-05-13 07:26] nithusha21 commented on #4924
I had tried with 10 explorations and it worked fine.

[2018-05-13 07:28] vibhor98 commented on #4924
Can you share the screenshot of the same as I'm not getting that?

On Sun, May 13, 2018 at 12:56 PM, Nithesh N. Hariharan <
notifications@github.com> wrote:

[2018-05-13 07:30] nithusha21 commented on #4924
I'm sorry. I misinterpreted the issue description. It was showing me all 10 of the explorations (I didn't notice this). Will take a look.
Just clarifying, I managed to repro the issue :). Thanks!

[2018-05-13 14:46] jacobdavis11 opened #4931 "Editor tour freezes in explorations for which you don't have edit rights"
In a published exploration for which you do not have edit rights, go to the editor, click on the top-right question mark and then "take the tour". Click through the tour. At the end the screen will remain darkened, and you won't be able to interact with anything except the navbar.

Instead the screen-darkening should end and everything should return to normal, as happens when you take the tour in

[2018-05-13 15:23] jacobdavis11 opened #4932 "Learner dashboard "play later" section tiles are inconsistent with other sections"
In the learner dashboard the "play later" section looks like this:

<img width="842" alt="screen shot 2018-05-13 at 17 20 18" src="https://user-images.githubusercontent.com/13726796/39968732-2cd97378-56d2-11e8-92ba-f1bff3512562.png">

Instead it should be made consistent with the way tiles are laid out in the "in progress" and "completed" sections of the learner dashboard, and the rest of the site

[2018-05-13 18:03] anmolshkl commented on #3576
Hi @jervis446, friendly ping?

[2018-05-13 18:04] anmolshkl commented on #3225
Hi @vibhor98, are you still working on it?

[2018-05-13 18:10] jervis446 commented on #3576
Hi @anmolshkl I am not working on this, feel free to assign to anyone

[2018-05-13 18:26] vibhor98 commented on #4930
Hi @nithusha21, I think this issue overlaps with exploration count (#4924). Either we can show all the explorations at once or show 8 by 8 and enable right arrow link.

[2018-05-13 19:21] DubeySandeep commented on #4925
@vibhor98 & @nithusha21 , is it similar to #3819 or #3972?

[2018-05-13 19:26] vibhor98 commented on #4925
@DubeySandeep, you're right. It's already a filed issue.

[2018-05-13 23:36] #4901 closed, assigned to bansalnitish, apb7

[2018-05-14 03:58] nithusha21 commented on #4925
Yes I think so too. Thanks for informing @DubeySandeep!

[2018-05-14 03:58] #4925 closed, assigned to nobody

[2018-05-14 03:59] nithusha21 commented on #4930
Yes @vibhor98. I think these two issues address the same problem. Closing this one. Thanks!

[2018-05-14 03:59] #4930 closed, assigned to nobody

[2018-05-14 14:12] ishucr7 commented on #3025
Hi @srikar0896, I think this issue should be reopened, since the second part (hamburger menu) isn't done yet, is it?
Thanks!

[2018-05-14 14:33] ishucr7 opened #4936 "The dropdown menu for the "Categories" and the "Language" do not close when user presses tab on the last element element or presses shift + tab on the first element in the dropdown menu"
- **The expected behaviour**
The dropdown menus should work similar to what the about and profile dropdown behave with the keyboard. I.e on pressing
1) tab on the last element, the dropdown must close and the focus should be passed on to the next element.

2) shift + tab on the first element, the dropdown must close and the focus should be passed on to the previous element.

- **The Observed behav

[2018-05-14 18:49] DubeySandeep commented on #3826
Hi @opllama2, welcome to Oppia :), currently this issue is already assigned, would you mind to take a look at #3950? If yes then do let me know on which part you'll be working so that I can assign you for the same. Do let me know if you need any help regarding that issue.

[2018-05-14 18:50] DubeySandeep commented on #3826
@NirmalKumarJoshi, any updates? (Ping!)

[2018-05-15 05:02] seanlip commented on #4913
Hi @Pyscowicz, thanks very much for completing the translations! Sorry for the late reply, I was away on vacation and have only just returned.

I had a question for you about this which I wanted to email you about. However, I can't seem to find an email in your GitHub profile. So, when you get a chance, would you mind sending me an email at admin at oppia dot org?

Thanks!

[2018-05-15 06:49] nithusha21 commented on #4936
@srikar0896 could you take a look? (As the initial fix was done by you).

[2018-05-15 17:10] Pyscowicz commented on #4913
Hi @seanlip, great that you are back, my email address is now public, so you can send email for me.

Your welcome!

[2018-05-15 18:23] #4882 closed, assigned to nobody

[2018-05-15 18:41] pranavsid98 commented on #4600
Hi @tjiang11 @yashLadha Any updates on this? What is the status of this?

[2018-05-15 18:42] pranavsid98 commented on #3032
Hi @jervis446 Any updates on this?

[2018-05-15 19:16] DubeySandeep commented on #3950
@chari1239, any updates on "collection_player.html"?

[2018-05-15 19:27] DubeySandeep commented on #3954
@rohanbanerjee, any updates?

[2018-05-15 19:29] DubeySandeep commented on #3968
@huangjay1, I have commented in your PR regarding that, PTAL!

[2018-05-15 19:32] DubeySandeep commented on #1404
@AmanYdv20, any update on this? (Do let us know if you need any help!)

[2018-05-15 19:39] DubeySandeep commented on #4177
@rajbir-singh, any update on this?

[2018-05-16 05:35] #4847 closed, assigned to nithusha21

[2018-05-16 18:24] giritheja commented on #4830
Will update by May 28.

[2018-05-16 19:29] seanlip commented on #4830
@giritheja -- could you please also add a link to the (in-progress) design doc?

[2018-05-16 22:32] giritheja commented on #4830
Here is the [doc](https://docs.google.com/document/d/14ttZA_ikWNfLTr6wwSdrAF7sBco9jybvDrB3oz_s-WM/edit).

[2018-05-17 10:31] opllama2 commented on #3950
hey i would like to take header_css_libs.html and header_js_libs.html

[2018-05-17 10:41] DubeySandeep commented on #3950
@opllama2 , Sure! I have assigned you for the same. :)

[2018-05-18 07:12] rohanbanerjee commented on #3954
Hey!

I have refactored the files.
I am really sorry for being inactive lately.
Have my exams going on. Give a time of another 4-5 days, I'll complete it

Thanks!

On 16 May 2018 at 00:57, Sandeep Dubey <notifications@github.com> wrote:

--
Rohan Banerjee
SRM University
+91 9833397430

[2018-05-18 12:05] srikar0896 commented on #4936
@nithusha21 okay.

[2018-05-18 17:26] DubeySandeep commented on #3954
@rohanbanerjee, Sure! :) Good luck with your exams!

[2018-05-19 07:51] apb7 opened #4955 "Enable _check_directive_scope function and fix corresponding problems"
The `_check_directive_scope` function (PR #4848) should be enabled after the corresponding fixes are made. This issue keeps a track of the same.

[2018-05-19 12:54] opllama2 opened #4956 "Static checking for pylint in pre_commit_linter.py"
The following is a bug report about linting in the file specified in the title.

- The expected behaviour: the script should run lints before commiting a change without errors and should have a synced/dynamic checking of the installed version of pylint.

- The current behaviour: The script fails with an error message "Please run start.sh first to install pylint", the linter checks for pylint-1.7.1

[2018-05-19 19:22] #4956 closed, assigned to apb7

[2018-05-19 23:49] bolariin commented on #4907
Hi @bansalnitish,
Apologizes for not updating sooner. I started working on it but I was unexpectedly swamped with work. I am okay with the issue being reassigned.

[2018-05-20 12:30] bansalnitish commented on #4907
Okay. Thanks for the update!

[2018-05-20 17:15] ishucr7 opened #4961 "The image added in the multiple choice option is not shown in Add Response Modal when we have to add the response for it."
Steps:-
Add a multiple choice interaction, while creating an exploration. In one of the options add an image to it.

Observed Behaviour:
Multiple Choice ---- When the Add Response modal shows up, and we have to select the ruleType, the option shown there is without the image( that was stored in the choice).

Whereas in case of Item Selection ---- The image is visible while selecting the ruleType i

[2018-05-21 02:48] seanlip commented on #4961
This does seem like a bug. I always thought that it was possible to select the image from the dropdown (i.e. the image would show up in the dropdown). Does this behaviour work correctly when you modify an answer group after creating it?

[2018-05-21 02:49] seanlip commented on #4961
Actually what happens when there's more than one option in the customization args?

[2018-05-21 07:55] ishucr7 commented on #4961
It doesn't work correctly even if we try to edit after creating an answer group(only in the case when we have one choice).

One choice ---
![one_choice](https://user-images.githubusercontent.com/23234392/40296472-4d9f5bee-5cfa-11e8-86cb-ea2c106905a0.png)

Two choices ---
![more_than_one](https://user-images.githubusercontent.com/23234392/40296479-5214ffa8-5cfa-11e8-9c4d-2eafdcf7e8bc.png)

When the

[2018-05-21 19:02] #4924 closed, assigned to nobody

[2018-05-21 19:11] seanlip commented on #4961
Ah, got it. I think this should be an easy issue to fix, then; it just involves updating the representation of multiple-choice options correctly when they're not displayed in a dropdown. I'll mark it as a good first issue for new contributors.

@ishucr7 thank you for filing this!

[2018-05-22 02:04] kevinlee12 commented on #3225
This is being done in PR https://github.com/oppia/oppia/pull/4650

[2018-05-22 02:06] kevinlee12 commented on #3032
De-assigning @jervis446, please re-assign yourself if you would like to pick it up again!

[2018-05-22 19:17] pranavsid98 opened #4968 "Move get_full_customization_args from exp_domain to utils"
Related to #4946 -- see https://github.com/oppia/oppia/pull/4946#discussion_r189789445

The get_full_customization_args method currently in exp_domain is not relevant there anymore. Now, it is being used from stats_domain as well, and it is better to move this method to utils.py instead.

[2018-05-23 00:31] seanlip commented on #4968
Hi @pranavsid98  -- this issue description is insufficient. Please write a short description explaining the context and what needs to be done. Thanks!

[2018-05-24 18:26] vojtechjelinek opened #4973 "Add only build third_party.min.js option to build.py"
We run frontend tests for dev and prod server. The main difference is that prod run of frontend tests use the minified version of third_party.js. Currently, when we run prod frontend tests we run the whole build process (build minified third_party.js, add hashes to filenames, add hashes to HTML, etc.), we should create an option in build.py to only build minified third_party.js and the call just t

[2018-05-24 18:44] seanlip commented on #4973
Ah, now I get it, thanks @vojtechjelinek for explaining.

When devs submit code to github, do the presubmit checks that run on the dev's local machine run frontend tests in dev or prod mode? If the latter, then this becomes more important to fix since all the hash stuff takes a long time.

[2018-05-24 18:45] #4904 closed, assigned to aks681

[2018-05-24 19:55] vojtechjelinek commented on #4973
Just dev mode.

[2018-05-24 22:40] seanlip commented on #4973
ok, good to know. Thanks!

[2018-05-25 10:02] nithusha21 opened #4978 "For situations where user is not logged in, a 302 (redirect) response is obtained"
Reference: https://github.com/oppia/oppia/pull/4959#discussion_r190497434

In cases where the user is not logged in, the response obtained is a 302 redirect rather than an unauthorized user status code. This was caught while reworking the acl_decorator_tests.

Expected Behavior: An error response code should be returned when the user is not logged in.

[2018-05-26 03:11] AllanYangZhou commented on #4386
The above approach I described is flawed. The purpose of the `currentAnswerService` is to store the learner answer (and some related data) so that when the student presses 'Submit' from the progress nav, we can execute `submitAnswer` from `conversationSkinDirective`.

I've implemented an initial version of this that works fine for most interactions, but I've realized that for the `CodeRepl` intera

[2018-05-26 03:16] seanlip commented on #4386
Interesting -- thanks for investigating, @AllanYangZhou!

One idea might be to separate out the buttons into a "Test Run" button and a "Submit Code" button. Would that work, do you think?

[2018-05-26 03:29] AllanYangZhou commented on #4386
For `CodeRepl`, there is already a separate "Test Run" button. We just have the added functionality of running 1 more time on submit. But we could just remove that functionality.

[2018-05-26 03:43] seanlip commented on #4386
Oh, I see. Hmm, that's not so nice I think.

It's basically the interaction performing its own local action onSubmit, right? I guess we need some clean way for the submit button to trigger that.

(Do you have a specific question here, btw?)

[2018-05-26 04:32] AllanYangZhou commented on #4386
OK, I've just updated the approach description above. I think it makes sense to allow the interaction to attach a callback to `currentAnswerService` that will be triggered along with submission.

[2018-05-26 04:45] seanlip commented on #4386
Sounds good, thanks!

[2018-05-28 20:22] Panda2498 commented on #4374
I'd like to work on oppia.scripts.custom_lint_checks ! Thanks!

[2018-05-29 00:24] seanlip commented on #4374
Hi @Panda2498 -- thanks! Assigned you :)

[2018-05-29 11:36] nithusha21 opened #4995 "Refactoring of feedback framework"
This is a tracking issue for the feedback framework changes being done. Here is the list of deficiencies that need to be fixed:

- [x] Part 1: Remove the notion of full_thread_id (PR #4971)
~~Part 2: Remove the notion of full_message_id (Cancelled -- not needed).~~
- [x] Part 3: Generalize feedback threads to be applicable to entities other than explorations (PR #5235)
- [ ] Part 4: Remove complex

[2018-05-29 18:56] #4190 closed, assigned to prasanna08

[2018-05-30 03:52] lewdon opened #4998 "start.sh and show xdg-open error"
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: www-browser: not found
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: links2: not found
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: elinks: not found
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: links: not found
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: lynx: not found
/usr/bin/xdg-open: 778: /usr/bin/xdg-open: w3m: not found

[2018-05-30 04:01] seanlip commented on #4998
Hi there -- thanks for the report. Please could you give us more details about what browser, OS, etc. you're using and what you are trying to do?

[2018-05-30 05:19] seanlip commented on #4998
I'm also going to close this for now due to lack of information making it not actionable, but please feel free to add more context and reopen. Thanks!

[2018-05-30 05:19] #4998 closed, assigned to nobody

[2018-05-30 09:06] nithusha21 opened #5000 "Testapp doesn't correctly check status for non 2xx & 3xx responses"
The get_json function in test_utils takes an expected_status_int parameter. The testapp.get takes a status parameter which is the expected status of the response (it is supposed to verify this).

Apparently, this verification is done only when expect_errors=False. So there might have been tests where expect_errors was true and the test passes with incorrect response codes.

Line of action: Add a m

[2018-05-30 12:08] vojtechjelinek opened #5002 "Remove GLOBALS from base.html"
## Explanation
We use GLOBALS for transferring dynamic variables between backend and frontend. Since we plan to move to static serving for our pages we need to get rid of GLOBALS.

GLOBALS consist of two types of variables: constants and dynamic variables.
We should first get rid of the constants, there are three cases regarding constants:
- the constant is used both in frontend and backend
  - we

[2018-05-31 04:53] apb7 opened #5004 "ExplicitKwargsChecker does not work for functions imported from another module"
### Observed behavior:
For the following case:
[code]
No error is reported.

### Expected behavior:
The following error message should be reported:
[code]

[2018-05-31 12:43] simonsouv opened #5005 "extra char in manifest.json breaking the installationDescribe your feature request or bug report succinctly"
Hello,

I tested the deployment of oppia through vagrant. the command `vagrant up` failed with the message

    default: Downloading and unzipping file messageformat.js-0.3.1 to ./third_party/static
    default: Traceback (most recent call last):
    default:   File "scripts/install_third_party.py", line 343, in <module>
    default:
    default: _install_third_party_libs()
    default:   File "sc

[2018-05-31 12:52] apb7 commented on #5005
Hi @fipnova51, welcome :)
We had also noticed the same and have already fixed it in PR #5003. This had happened due to a change in the name of the `messageformat` repository (https://github.com/messageformat/messageformat/issues/192).
Can you please update your branch with develop to do away with the problem?

(Closing this issue as it has already been fixed. Feel free to re-open if the problem pe

[2018-05-31 12:52] #5005 closed, assigned to nobody

[2018-06-01 00:17] seanlip opened #5009 "Suggestions e2e error occasionally causing Travis tests to fail"
I've seen this error crop up on e2e tests a few times now. It seems like a flake but I think it's symptomatic of some underlying problem.

@nithusha21 @apb7 do you know anything about this / have any insight?

[code]

[2018-06-01 00:18] seanlip commented on #5009
(Most recent occurrence is this one: https://travis-ci.org/oppia/oppia/jobs/386178876 -- though it may have been refreshed by the time you read this.)

[2018-06-01 06:38] nithusha21 commented on #5009
I'll try running this locally to see what's wrong. This has been very flaky off late.

[2018-06-02 00:59] yjennywang commented on #4421
I poked around this a bit today, and it looks like this isn't specific to the logout flow -- it looks like the CORS policy error also happens if you go directly to the /create/{published_exploration_id} page while not logged in.

/suggestionlisthandler seems to redirect to the appengine login form if you're not logged in (e.g. https://oppiatestserver.appspot.com/suggestionlisthandler/BgjeD3mbvxC1?

[2018-06-02 03:58] doshgo commented on #2584
Is this task still open? I'd like to have a go at it.

[2018-06-02 04:50] seanlip commented on #2584
Hi @NewbieC0d3r, welcome! Sure, but please could you start by following [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

Thanks!

[2018-06-03 02:08] kevinlee12 opened #5019 "Image Interaction supplemental card hidden continue button with long feedback"
When the text in the supplemental card is long, the continue button is hidden. In fact, when the text is sufficiently long, the last few lines of text can't be seen by the learner because they can't scroll down further.

## Repoduction steps
1. Load the Solar System sample interaction
2. Edit the transition for the Jupiter feedback so that it will transition to Exit.
3. Go to the preview tab and o

[2018-06-03 02:47] kevinlee12 commented on #5019
(Mixed it up with something else)

[2018-06-03 02:49] seanlip commented on #5019
Wait, hang on. Isn't this an issue as stated?

[2018-06-03 02:59] kevinlee12 commented on #5019
Not exactly, it's actually a different bug. I'll detail it in a new issue to keep it tidy.

[2018-06-03 03:10] kevinlee12 commented on #5019
I take that back, this is the bug upon further check, I'll reopen.

[2018-06-03 07:49] apb7 opened #5021 "Enable CSS linter and make corresponding fixes"
The CSS linter has been set up in PR #4643 but is not yet enabled. This issue keeps a track of the same.

[2018-06-04 08:56] seanlip commented on #2584
Hi @NewbieC0d3r, thanks for completing the survey! Feel free to have a go at this, if you'd still like to :)

[2018-06-05 02:46] #1977 closed

[2018-06-05 02:51] BenHenning commented on #3285
Deciding not to complete this for now. We may pursue improving this documentation in the future.

[2018-06-05 02:51] #3285 closed

[2018-06-05 03:42] apb7 commented on #5021
This has been fixed in PR #4643. Therefore closing this issue. Thanks!

[2018-06-05 03:42] #5021 closed, assigned to apb7

[2018-06-05 07:20] seanlip opened #5033 "Hide answer stats tile when an exploration has not yet been published."
On creating a new exploration, I see this tile in the top right:

![answer](https://user-images.githubusercontent.com/10575562/40961001-2ee5b6d2-6856-11e8-9d30-e8c3ba979f70.png)

This seems a bit weird because the exploration is still private and inaccessible by students. Can we only show this tile after the exploration has been published? It also keeps the default editor for a new exploration loo

[2018-06-05 11:32] brianrodri commented on #5033
Makes sense, sure I'll take a look!

[2018-06-05 12:20] 1995YogeshSharma commented on #3225
The PR #4650  is closed. Now this issue is open for anyone to take.

[2018-06-05 17:54] aks681 opened #5036 "Error when loading all_interactions exploration"
Steps to reproduce:

- Login as an administrator, go to /admin and reload the all_interactions exploration.
- Then go to /create/16 (the editor window for the reloaded exploration)

Here, the url is seen to be changed, and 2 errors pop up, both being `Parameter values passed into interpolateUrl must only contain alphanumerical characters, hyphens, underscores or spaces: 'Text Input state name with

[2018-06-05 18:07] aks681 commented on #4978
From the frontend, if you are an admin, but you haven't logged in, and you try to access an admin only page, wouldn't it make more sense if a redirect happens to a login page instead of an Unauthorised user error?

[2018-06-05 19:01] bansalnitish opened #5037 "Underline feature is not available in RTE still ctrl+u works"
In current RTE the underline feature is not supported, it has just the Bold and Italics for inline formatting. However `ctrl+u` works and underlines the text.

Need to disable this `ctrl+u` for the editor.

[2018-06-06 03:39] kevinlee12 opened #5039 "Continue button preview missing in exploration editor"
When selecting the Continue interaction, the preview for the continue button does not display in the editor. There were no console errors.

Browser Info: Firefox v60.0.1

![image](https://user-images.githubusercontent.com/5758256/41015707-515d684a-6900-11e8-95c0-ad10fc76437a.png)

[2018-06-06 03:49] seanlip commented on #5039
Hi @AllanYangZhou FYI. Any thoughts on how to mitigate this? (It's a side effect of standardizing the Continue button for everything, I think.)

[2018-06-06 04:08] apb7 opened #5040 "Remove app.js from excluded_files for BAD_PATTERNS_JS_REGEXP"
We are currently in the process of setting up a check for `$parent` for JS files. In general, `$parent` should not be used throughout the code base, instead the `scope` object should be used to access parent properties.
At the moment, [app.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js) is being added to `excluded_files` for this particular regex check since the onl

[2018-06-06 04:13] kevinlee12 opened #5041 "Cannot find page error in Text Input after returning from another card"
When creating a 3 card exploration with the following contents:
- Card 1: Continue Interaction - no text in content section
- Card 2: Text Input Interaction - no text in content section, provide feedback when student enters 1
- Card 3: End Interaction

*then* go back to Card 2 and observe the following error:
![image](https://user-images.githubusercontent.com/5758256/41016561-f395c3b0-6904-11e8-95

[2018-06-06 04:50] seanlip commented on #5041
@brianrodri @pranavsid98 -- this is stats-related?

This seems like a bad error, it might need a hotfix.

[2018-06-06 06:58] seanlip opened #5044 "Pull AUTO_revert_version_number into a named constant and refer to it."
This is a follow-up from https://github.com/oppia/oppia/pull/5027#discussion_r193309069 -- we should pull AUTO_revert_version_number into its own constant and refer to it where it is used, rather than just checking a substring of it (which is less foolproof).

[2018-06-06 10:39] brianrodri commented on #5041
Definitely stats related..! I'll start looking.

[2018-06-06 14:19] nithusha21 opened #5047 "e2e test failure for video components in RTE"
Reference: #5046

A lot of PRs were blocked by the e2e test failure for the extensions test suite. We worked out a quick fix in the linked PR. However this is (probably) not the root cause for the failure.

While looking into this issue, @pranavsid98 reported
https://developers.google.com/youtube/v1_deprecation_notice which states that youtube v1 would be supported only for 3 years (from March 201

[2018-06-06 15:18] sanyam624 commented on #4932
HI @1995YogeshSharma , I'd like to get started with this although I have some trouble with downloading

[2018-06-06 15:43] #4955 closed, assigned to apb7

[2018-06-06 16:18] apb7 commented on #5009
Hi @nithusha21, did you find out anything in this regard?

[2018-06-06 16:45] nithusha21 commented on #5009
Hi @apb7 I took a brief look at this today. Ran it a few times to check the behavior The errors feel like the typical flakes we see (button not clickable, or element not found kind of errors). So I believe a wait statement should fix the bug.

The errors were not at the same location for me though (I experience this a lot with running e2e tests on my laptop -- I attribute this to my slow hardware

[2018-06-06 17:17] 1995YogeshSharma commented on #4932
Hi @sanyam624 , Please elaborate. Are you facing issues with installation?
(Also, I had sent you an hangouts invitation, we can continue there.)

[2018-06-06 17:41] DubeySandeep commented on #3950
Removing @chari1239 from "collection_player.html", because of lack in response.

[2018-06-07 02:29] seanlip commented on #5041
OK, thanks! Should fix this ASAP, it may affect testing of the release (which is going on currently).

Also @pranavsid98 you might want to take a look at this too. Not sure if relevant to your work.

[2018-06-07 03:54] #5000 closed, assigned to nithusha21

[2018-06-07 05:17] apb7 commented on #5009
Hi @nithusha21, I ran this test a few times. It seems to pass locally for me (at least for now). I agree a wait statement might fix the bug. I will try this again and update the thread. Thanks!

[2018-06-07 09:15] AllanYangZhou commented on #5039
I'm not totally sure I understand why this is happening as I'm not too familiar with how the preview is implemented on the editor side--I'll look into it after the 10th.

Edit for clarity for other readers:
I assume this is because the button code in `continue_interaction_directive.html` was removed in PR4365 (replaced by a standard continue button in the progress nav). I see 2 paths to approach t

[2018-06-07 10:28] aks681 opened #5052 "Add one-off jobs for topics, skills, questions and stories"
This is a tracking issue for adding one-off jobs to do the topics, skills, questions and stories' schema migration.

[2018-06-07 18:15] DubeySandeep commented on #3522
Assigning this issue to @satyapati0.

[2018-06-07 18:40] seanlip commented on #3836
Note: milestone 1 has been done in #5006, thanks @prasanna08!

[2018-06-07 23:46] brianrodri commented on #5041
Hmm, so this makes sense on second thought... it's complaining that the state doesn't exist because it hasn't been published yet. I think the best way to handle this would be to return an empty response if the state doesn't exist yet..?

This should be improved significantly when we move to StateTopAnswerStatistics, as it would handle this scenario by not making any subsequent calls.

[2018-06-07 23:49] brianrodri commented on #5041
#5055 will fix, but let's leave this open until StateTopAnswerStatistics is in. That will solve this much more cleanly.

[2018-06-07 23:52] seanlip commented on #5041
Is this handling answer stats? If so then why don't we only show answer stats after an exp is published?

[2018-06-07 23:53] brianrodri commented on #5041
That wouldn't solve this entirely. Every time you try to create a new state w/o publishing, this error will pop up because the state doesn't actually exist yet.

[2018-06-08 00:12] seanlip commented on #5041
What I mean is, for private explorations, can we stop making this request to the backend at all?

[2018-06-08 00:41] brianrodri commented on #5041
Hmm, not without removing the functionality entirely? There's no caching of values yet, so there's no other way to get the statistics (aside from not failing when a state doesn't exist yet).

[2018-06-08 00:52] seanlip commented on #5041
No, I mean, why can't we do something like:

[code]

or alternatively something like

[code]
when the exploration editor page is loaded, and then

[code]

[2018-06-08 01:24] seanlip opened #5056 "Reload/Redownload Mathjax seamlessly if it does not load."
I just got a report (thanks @kefeh!) about a bug in the learner view that results in the screenshot below (note the "[Math Processing Error" sections highlighted in red):

![img-20180607-wa0011](https://user-images.githubusercontent.com/10575562/41134109-8eae83ac-6a7f-11e8-8398-d59eee645ac0.jpg)

To a learner, this seems buggy and makes the learner view unplayable. It is probably caused by difficu

[2018-06-08 01:58] seanlip commented on #5039
Thanks @AllanYangZhou! Either approach sounds fine to me. Maybe a slight preference for (1) since core code generally shouldn't know about individual extensions, but it depends on the implementation details.

[2018-06-08 06:25] seanlip opened #5060 "Make backend tests run faster with coverage so that accurate coverage stats can be reported."
#5057 introduces a PR for enabling backend coverage checks. Without coverage enabled, the backend tests take 30 minutes to run on Travis. However, with coverage enabled, they take more than 50 minutes and the job is terminated prematurely due to the standard Travis-CI time limit.

It would be great if we could find a way to do one of the following:
- Speed up and/or consolidate the backend tests
-

[2018-06-08 11:29] vojtechjelinek commented on #4955
Hi @apb7, I'm currently working around objects and in *extensions/objects/templates/real_editor.html* there is `$parent` used, should we check HTML files too for this?

[2018-06-08 11:35] apb7 commented on #4955
Hi @vojtechjelinek, the parent check is meant for all js files as each directive can access the parent's properties via the scope object. We can therefore leave out the html files. Thanks!

[2018-06-08 12:07] vojtechjelinek commented on #4955
Can't we use the scope variables in HTML too? I think it would be more clear. So maybe add the check for HTML files too?

[2018-06-08 12:23] apb7 commented on #4955
I am not too sure about this. I had discussed this with Sean and we had
decided to go for the JS files. However I will try to look into this too.
Thanks!

On Fri, Jun 8, 2018, 5:37 PM Vojtěch Jelínek <notifications@github.com>
wrote:

[2018-06-08 20:26] seanlip commented on #4955
Yes, we should get rid of $parent everywhere in the frontend, including HTML files. (I didn't know it was present in the latter.)

[2018-06-08 20:58] DubeySandeep opened #5063 "Hints should not appear where the state cannot have submittable answers."
**Steps to reproduce:**
- Create an exploration.
- Add textInput interaction.
- Add hint.
- Delete Interaction
- Add end exploration interaction.
- Go to preview tab.

**Observed behavior:**
 A hint appears in "End exploration" card.
**Expected behavior:**
 It makes sense for hints not to appear when the state does not have an interaction to which answers are submittable in the first place.

[2018-06-08 22:38] ishucr7 opened #5064 "Weird behaviour of the image directive."
Create an exploration with two states.
Add images to both the states.
Now navigate from first state to the second. Also, for checking how many times the ImageDirective is called, add a console statement in the directive.
On noticing the console, the directive for images in the first state, is called once.
Whereas in the second state, for an image the imageDirective is called twice.

[2018-06-08 22:39] seanlip commented on #5064
Hm. What happens if you add a third state?

[2018-06-09 00:30] DubeySandeep commented on #4374
Assigned `oppia.core.domain.acl_decorators` to @sumayaSalihs.

[2018-06-09 05:46] apb7 opened #5069 "Remove $parent from HTML files"
All $parent statements had been removed from the JS files and a check had been implemented for it in PR #4980. A similar thing has to be done for the HTML files. This issue keeps a track of it.

[2018-06-09 08:58] pranavsid98 opened #5071 "Unable to log out on mobile"
I was testing logging out on mobile when I noticed that I couldn't log out from my account.

More specifically, none of the right hand navigation bar links worked:

![img_3281](https://user-images.githubusercontent.com/15828797/41189803-29a5eafe-6bf1-11e8-9919-84e0b7c429e3.PNG)

Repro instructions:
1. Visit oppiatestserver.appspot.com on mobile.
2. Log in using a Google account.
3. Try logging out

[2018-06-09 09:14] pranavsid98 opened #5072 "Flickering Audio Navbar on mobile"
The audio navbar is flickering on and off inconsistently on a mobile screen

Repro instructions:
1. Visit oppiatestserver.appspot.com on a mobile.
2. Play the Fractions exploration.
3. Initially, this window is obtained, where I cant view the audio nav bar button:

![img_3282](https://user-images.githubusercontent.com/15828797/41189939-4eac9a4e-6bf3-11e8-97b3-5e4b0c5c1e25.PNG)

4. As I scroll down

[2018-06-09 11:33] ishucr7 commented on #5064
Hi @seanlip . In the third state too the directive is being called twice for an image.

[2018-06-09 18:34] ishucr7 commented on #5064
Adding the image for reference .

![screenshot](https://user-images.githubusercontent.com/23234392/41194745-3cd35f74-6c3e-11e8-9a61-8d9e73ea4bd6.png)

[2018-06-09 18:35] ishucr7 opened #5075 "Code Editor going out of screen on zoom."
In continuation of the issue [4781](https://github.com/oppia/oppia/issues/4781)

The oppia tutor logo goes out of the screen when the screen is zoomed to 133 %.
Not sure this issue should be considered or not.
![new_issue_release](https://user-images.githubusercontent.com/23234392/41194955-ddf367de-6c41-11e8-9055-536b319a2fe8.png)

What do you think @bansalnitish ?

[2018-06-09 18:42] ishucr7 opened #5076 "On resizing the browser, the Code editor's submit button is not visible completely."
Observed behaviour --
![new_issue2](https://user-images.githubusercontent.com/23234392/41194997-c2300092-6c42-11e8-918a-12f439427302.png)

Expected behaviour --
The submit button / the code editor should be entirely visible.

[2018-06-09 19:22] vojtechjelinek commented on #5069
Hi, I'm currently working around *extensions/objects/templates* and I anyway need to change some of the HTML, so I will also remove the parent tags from there.

[2018-06-09 20:12] DubeySandeep commented on #3968
@sdiwanji any update on `Nodes` part of this issue?

[2018-06-09 20:14] DubeySandeep commented on #3968
Assigning @hoangviet1993 to `ParaMetadata` part of this issue.

[2018-06-09 20:16] apb7 commented on #5069
Great, thanks @vojtechjelinek!

[2018-06-09 20:24] seanlip commented on #5064
Ah ok, thanks. One more question: is this something that's only observed with the changes you've been adding recently, or was it happening in develop all this while?

[2018-06-09 20:29] seanlip commented on #5072
Wow, that seems pretty bad.

Does this happen on Android as well -- can someone else test that?

[2018-06-09 20:30] seanlip commented on #5071
This is not good. Marking it as a blocking bug, we need to fix this.

[2018-06-09 20:45] DubeySandeep commented on #5072
I think we had this issues earlier (#4301 (Android) & #4485 (iOS)).

[2018-06-09 20:45] ishucr7 commented on #5064
I checked it yesterday, so i'm not sure that it is because of the changes I had made.

I haven't done anything that would affect the calling of the imageDirective though.

[2018-06-09 20:51] seanlip commented on #5064
I think it's worth checking out the release-2.6.4 branch and seeing whether it still happens there? At least you know for certain whether this is a longstanding issue or whether it was introduced in the last month.

[2018-06-09 20:54] ishucr7 commented on #5064
Okay! Will do the same and post it here. Thanks!

[2018-06-09 20:56] vojtechjelinek commented on #5064
Maybe also check if this happens to other directives (maybe video_directive).

[2018-06-09 21:01] apb7 commented on #5072
I am unable to reproduce it on Android. It works smoothly -- no problems. Below are the screenshots:

##### Android: 8.0.0
##### Chrome: 64.03282.137:

![screenshot_20180610-021017 1](https://user-images.githubusercontent.com/24826041/41196010-7d3601b8-6c55-11e8-8d2d-6e08264b7b35.png)

![screenshot_20180610-021017](https://user-images.githubusercontent.com/24826041/41196014-839d4386-6c55-11e8-9b57

[2018-06-09 21:08] ishucr7 commented on #5064
It happens in the release-2.6.4 branch too. (I have just checked for the imageDirective).

![imagedirective_called_twice](https://user-images.githubusercontent.com/23234392/41196125-319e049c-6c57-11e8-8cbf-25be06b0d628.png)

@vojtechjelinek , Sure. Will do the same.

[2018-06-09 21:20] ishucr7 commented on #5064
It happens with the videoDirective too.

![video_callbacks](https://user-images.githubusercontent.com/23234392/41196227-faac595a-6c58-11e8-8dc1-89efc953e41b.png)

The pattern I observed is that any image/video that occur for the first time in a state has it's directive called for just once,
And for the image/video in the upcoming states, the directive for them is called twice.

[2018-06-09 22:02] 1995YogeshSharma commented on #5075
It seems to work fine for me on firefox.

Which browser are you using?
What happens when you zoom more? Does the editor go out of the screen?

[2018-06-09 22:09] ishucr7 commented on #5075
It is firefox only.
On zooming more, the left div(which says "type the code here") disappears, then everything seems fine.

See the screenshot, some part of the logo in the left div is out of the screen.
That is what i am talking about. Maybe i should change the Issue heading.

[2018-06-09 22:28] bansalnitish commented on #5075
Hi @ishucr7
It's working fine with me too. This screenshot is from firefox at 133%.
![image](https://user-images.githubusercontent.com/22434689/41196628-682d2082-6c62-11e8-8d6c-72f587aa8310.png)

It's working fine in chrome as well.

[2018-06-09 23:15] bansalnitish commented on #5076
I'm not sure about this one.

[2018-06-10 05:51] seanlip commented on #5064
Ah ok, thanks for the investigation @ishucr7! Good to know it was there before.

[2018-06-10 16:27] nithusha21 opened #5081 "Image preview not working for RTEs in the /create view"
Steps to reproduce:
- Add an image to an RTE and click save content.
- Check for the image in the preview.

(The below pictures are from existing fractions exploration)
Observed Behavior:
![image](https://user-images.githubusercontent.com/11898234/41203758-20532634-6cf9-11e8-9b9b-4b019e30a217.png)

Expected Behavior (on main website):
![image](https://user-images.githubusercontent.com/11898234/412

[2018-06-10 16:42] #5041 closed, assigned to seanlip

[2018-06-10 17:04] nithusha21 commented on #5081
/cc @bansalnitish @ishucr7

[2018-06-10 17:12] nithusha21 commented on #5071
We actually discussed this quite a bit on hangouts. Here are some observations:
- On some browsers (android ones mostly), on long press the buttons were selected and everything works fine. On short press (tap) the dropdown just closes.
- On iOS safari long press did not work either.
- When I tried this on android chrome, I needed to do a long press followed by a tap to get it to select it.

I agre

[2018-06-10 17:26] nithusha21 commented on #5075
I am unable to reproduce this issue @ishucr7. Could you try again or give us more specific repro steps? Also could you confirm if the erroneous behavior is consistent on develop as well?

Not adding this to blocking bugs unless we manage to repro it consistently.

[2018-06-10 17:58] bansalnitish commented on #5081
Hi @nithusha21
In test server you can't see any image in the editing mode. Though the image is visible when you click the preview button and then take a pass. Here is the screenshot of the same card you mentioned above:

![screenshot from 2018-06-10 23-27-00](https://user-images.githubusercontent.com/22434689/41204706-d827e6f8-6d05-11e8-9880-3cbf632c8159.png)

(Also not sure whether this should be

[2018-06-10 18:21] seanlip commented on #5081
This is definitely blocking. You need to be able to see images in the editor.

[2018-06-10 18:22] seanlip commented on #5071
I can't fix this unfortunately, I don't have iOS.

I wonder if it's a question of iOS accepting different events from Android perhaps? Not sure.

[2018-06-10 19:06] ishucr7 commented on #5081
Hi @nithusha21. I think you didn't take in the following PR for the release.
I had added the PR for current release tag.

[2018-06-10 20:30] DubeySandeep commented on #5071
It's working fine on firefox! (can this be chrome issue, cause I have seen this type of issues earlier in chrome)
@nithusha21, is this reproducible on prod (oppia.org)? (I can reproduce this on oppia.org on mobile view from browser)

[2018-06-10 20:55] DubeySandeep opened #5083 "Guest users should not be allowed to click audio needs update button."
**Steps to reproduce:**
- Go to [this](https://oppiatestserver.appspot.com/create/G8ZgSj1O4rjE) exploration.
- Go to audio translation bar.
- Click on tick mark (![image](https://user-images.githubusercontent.com/16653571/41206286-493b5b72-6d1f-11e8-9165-269327026de4.png)).

.

**Observed behavior:**
Guest users are allowed to click that tick mark and after that, an unexpected request is sent to b

[2018-06-10 21:07] bansalnitish opened #5084 "Suggestion in a collection does not refer to next exploration"
I created a collection with 3 explorations. I completed the second exploration (Choose a Maximum) and now in suggestions the exploration should be third one (Choose 2). But I see the first one (Choose a Minimum) as the suggestion.
Here are the screenshots for the same :

Collection
![screenshot from 2018-06-11 02-32-01](https://user-images.githubusercontent.com/22434689/41206353-4dbf7c90-6d20-11e8

[2018-06-10 21:13] DubeySandeep commented on #5084
@bansalnitish, can you reproduce this every time? (because I have seen this earlier while playtesting fraction collection with students, but it was hard to reproduce!).

[2018-06-10 21:19] bansalnitish commented on #5084
@DubeySandeep I reproduced this twice and yes I got this. For fractions on the test server I was able to reproduce but not every time.

[2018-06-10 21:55] ishucr7 commented on #5075
Oh my bad,Sorry. I had some problem. I am closing the issue. Thanks for checking it.

[2018-06-10 21:55] #5075 closed, assigned to bansalnitish

[2018-06-11 00:16] seanlip commented on #5084
@DubeySandeep is it because lesson 1 hasn't been completed, so what is recommended ends up being the "first non-completed exploration in the list"?

FWIW I think that this behaviour is incorrect too and should be fixed to recommend the exploration that follows the current one in the collection. @DubeySandeep I seem to remember you were looking into something related to this before?

[2018-06-11 00:17] seanlip commented on #5083
Oh yeah, that's not great. Adding as blocking bug. Thanks for catching!

[2018-06-11 00:26] kevinlee12 commented on #5033
Fixed in #5080

[2018-06-11 00:26] #5033 closed, assigned to seanlip

[2018-06-11 00:58] jacobdavis11 opened #5085 "Editor sometimes throws "Could not find the page ... " errors for no reason"
To replicate:
 - Create a new exploration
 - Set the first state to a Continue interaction, leading to a second state
 - Set the second state to a Text Input interaction, leading to a third state
 - Click to go to the third state
 - Click to go back to the second state

You will now get an orange "Could not find the page https://oppiatestserver.appspot.com/createhandler/state_rules_stats/bf1WHpeUw

[2018-06-11 01:09] jacobdavis11 opened #5086 "The warning tooltip "there's no way to complete this exploration ..." is not explicit enough"
If there is no route from a state to the end, you'll get a warning tooltip saying "There's no way to complete the exploration starting from this card." But this does not tell you how to fix the problem. The tooltip should instead explain how to add an "End Exploration" state.

[2018-06-11 01:23] jacobdavis11 opened #5088 "Unresolved Student Answers "Refresh" link not working"
Clicking the "Refresh" link in the Unresolved Student Answers section of the creator view, editor tab does not do anything. In particular:
 - It does not change the "last updated" time shown in this section.
 - It does not display any new student answers that have just been submitted.

[2018-06-11 01:57] seanlip commented on #5088
/cc @brianrodri PTAL?

[2018-06-11 06:29] DubeySandeep commented on #5083
@seanlip, so as expected behavior are we going to show the need updates status to guest users?
If yes (then I'll disable the click option), else I'll remove that tick span tag for the guest user.

Do let me know what you think.
//cc @nithusha21

[2018-06-11 07:05] seanlip commented on #5083
Either is fine. Thanks!

[2018-06-11 08:49] nithusha21 commented on #5081
Discussed this with @ishucr7. This has been fixed in a follow up PR that hasn't been released yet (needs to be cherrypicked). Will close this issue for now. Also I confirmed that the image preview works fine on develop.

Thanks!

[2018-06-11 13:41] brianrodri commented on #5088
This is fine for now, the refresh link was only temporary and will be removed entirely by #5089.

[2018-06-11 20:02] seanlip commented on #5088
This is for the current release though. Follow-up changes like #5089 will not happen in time to make it into the current release. Should we do a hotfix? @nithusha21

[2018-06-11 23:46] seanlip commented on #5085
@nithusha21 is this resolved by #5080? /cc @brianrodri

[2018-06-11 23:47] seanlip commented on #5088
Assigning @brianrodri -- please investigate and do a hotfix if needed. Thanks!

[2018-06-11 23:49] seanlip commented on #5081
Please link to the PR and close this issue only once it has been merged.

[2018-06-12 02:16] DubeySandeep opened #5092 "Restart from beginning button is in incorrect position."
**Step to reproduce:** (on develop)
- Create an exploration.
- Go to preview tab.

**Observed behavior:**
`Restart from beginning` button is not in the bottom right corner. (see image below)
![image](https://user-images.githubusercontent.com/16653571/41266412-63a5803c-6e14-11e8-82e4-1f06d457c8dc.png)

**Tested on:**
CHROME 67.0.3396.62 | UBUNTU 14.04
FireFox 60.0.1 (64-bit)    | UBUNTU 14.04

[2018-06-12 05:50] nithusha21 commented on #5088
I think it might be good to do a hotfix for just this issue. Or just remove the refresh button altogether for the moment (I actually don't know what is supposed to happen on clicking the refresh button, but as it doesn't do anything as reported might as well remove it (or not display it as applicable)?)

I would suggest doing this separately so that this may be cherrypicked for the current release

[2018-06-12 05:57] nithusha21 commented on #5085
Yes I tried doing the repro steps and it doesn't show the warning anymore.

[2018-06-12 06:13] seanlip commented on #5085
OK, thanks! Closing, then.

[2018-06-12 06:13] #5085 closed, assigned to nobody

[2018-06-12 06:22] nithusha21 commented on #5076
Is this possibly related to #5075? If so could you confirm once more that the bug exists (and give some repro steps if it does?). Thanks!

[2018-06-12 06:25] nithusha21 commented on #5071
I could reproduce this in production too! (android chrome long press issue as mentioned above)

[2018-06-12 06:29] nithusha21 commented on #5081
Ah sorry forgot to link the PR. I think it was #5062 (will let @ishucr7 confirm this).

Just confirming that the PR has been cherrypicked and the functionality is now fine on the test server.

[2018-06-12 06:29] seanlip commented on #5081
Ah great, thanks! Closing this then.

[2018-06-12 06:29] #5081 closed, assigned to nobody

[2018-06-12 11:51] ishucr7 commented on #5081
The link for the PR that fixed the bug is #5030

[2018-06-12 20:32] bansalnitish opened #5095 "Error on editing the all_interactions.yaml"
I get this error when I open the all_interactions.yaml in editing mode
`` Parameters values passed into the interpolate URL must only contain alphanumeric characters, hyphens, underscores or space``

Steps to reproduce this error:
1. Sign in as admin in the local server
2. Go to the admin panel and reload the all_interactions
3. Play the exploration named `Test of all interactions` and then click

[2018-06-13 01:36] apb7 opened #5097 "Add more rules for CSS lint checks"
This is a tracking issue to add more rules to the CSS lint checks.

#### Rules to be added:
- [ ] [declaration-no-important](https://stylelint.io/user-guide/rules/declaration-no-important/)
- [x] ~Every CSS rule on this page should have a prefix that scopes it to just this page.~ _Not needed anymore after angular migration._
- [x] All CSS properties within the selectors should be alphabetized. (ht

[2018-06-13 02:48] prasanna08 commented on #4166
Hi, @anmolshkl. We were right to assume that scikit or libsvm somewhere modifies the rho and negates it.
I was tracing the scikit's code and my analysis is as below:
* Scikit's [`model.predict`](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/svm/classes.py#L1104) method makes a call to its internal class method [`BaseLibSVM.predict`](https://gith

[2018-06-13 03:28] seanlip commented on #4166
Hm, what should we do about this then? Should we contact scikit, or make an adjustment on our end?

[2018-06-13 04:37] prasanna08 commented on #4166
I don't think Scikit will do modifications on their end since it is being used by many other developers and projects. It's fine as long as scikit does not modify libsvm_helper.c module line 160 (which I think is likely to be unmodified).

I suggest we add a comment in SVMPredictionService.js file with reference to this specific issue, so that if something goes wrong (the frontend tests will fail w

[2018-06-13 04:49] seanlip commented on #4166
Ah ok, thanks. So do we also need to change the sign in our codebase then, to follow scikit's conventions?

[2018-06-13 05:13] prasanna08 commented on #4166
No, modifications are already done. This issue was created to find out the cause of the modification.

[2018-06-13 05:18] seanlip commented on #4166
Ah, got it. OK, thanks! I think your suggestions for next steps are good, then.

It looks like this issue is assigned to both you and @anmolshkl; which of you is going to be doing the changes?

[2018-06-13 05:20] prasanna08 commented on #4166
I will make changes in a PR (both here and Oppia-ml). Thanks.

[2018-06-13 05:22] seanlip commented on #4166
Sounds good, thanks @prasanna08! I updated the list of assignees.

[2018-06-13 05:23] anmolshkl commented on #4166
Thanks for the detailed analysis, Prasanna! I did feel that they were
modifying the sign of rho or the associated values somewhere in the code. I
think it is good if we can leave a comment with a reference to this subtle
modification done by scikit.

@Sean I think Prasanna has a better context of this having investigated the
issue in depth. So, I'm happy to review any changes made by him.

On Wed

[2018-06-13 06:02] nithusha21 commented on #5088
Any updates on this? What is the planned line of action? Just wanted to know if we will be needing to do anything for this release. Thanks!

[2018-06-13 06:07] seanlip commented on #5088
We should fix this. Can we just remove the refresh button?

[2018-06-13 07:05] nithusha21 commented on #5088
Made a PR #5100 that removes the refresh button. However not sure if that should fix this bug or not (maybe leave the issue open till the related PR which Brian is working on goes in?)

[2018-06-13 08:59] seanlip commented on #5088
I think that should resolve this issue fully (based on how this issue is stated), since once that PR goes in, there is no longer a refresh link. Thank you @nithusha21!

[2018-06-13 09:03] nithusha21 commented on #5088
Ah cool! Then I'll add the Fixes #issue_number in the description of the PR. Thanks!

[2018-06-14 02:47] vibhor98 opened #5105 "Console error while adding Graph Theory interaction."
## Repro Steps:
1. Go to the Creator's dashboard and try to create new exploration.
2. Click on 'Add interaction' button.
3. From the list of interactions, choose 'Graph Theory' interaction.
4. See console. I got this error.
![screen shot 2018-06-14 at 7 45 11 am](https://user-images.githubusercontent.com/26625980/41388816-56de2992-6fab-11e8-84b8-372ea8b7966e.png)

[2018-06-14 03:19] seanlip commented on #5105
Thanks for filing, @vibhor98!

~~@apb7 -- is this related to any of your changes?~~ [Actually, sorry, ignore that -- I think I confused this with the directive scope stuff, which isn't in yet anyway.]

@vibhor98 -- are there any user-visible effects? If so, /cc @nithusha21 for possible need to mark this as blocking (if it wasn't already happening in develop).

[2018-06-14 03:23] #5088 closed, assigned to brianrodri

[2018-06-14 03:27] vibhor98 commented on #5105
@seanlip, No, there are no user-visible effects. I reproduced this error on main site too.

[2018-06-14 03:32] seanlip commented on #5105
Ah, ok. Thanks for confirming!

[2018-06-14 03:36] seanlip commented on #5105
Also, I think I might have an idea of what's going on here. It might be similar to the href vs ng-href difference -- I think the svg attr is being interpreted before it is interpolated using Angular.

[2018-06-14 03:43] apb7 commented on #5105
Hi @seanlip! Is there anything I need to look at here now? Thanks!

[2018-06-14 03:46] seanlip commented on #5105
I think not specifically, unless you know what's going on and the fix is easy :)

[2018-06-14 05:02] nithusha21 commented on #5105
Just mentioning. I remember this issue happening before, but no impact on UX. So I wouldn't mark it blocking. But anyway, it would be great if you know what is happening and fix it! Thanks.

[2018-06-14 05:36] nithusha21 commented on #5076
I tried this out and yeah at some screen sizes this happens. Nice catch @ishucr7!

[2018-06-14 06:14] nithusha21 opened #5106 "Re-order startup script to open browser after starting server"
The script does all the installation and then it starts up a browser window before actually building and starting the server. Is it possible to reorder this sequence of steps to start a browser after the build?

My browser window always opens before the build starts and it says page not found (browser error message) and then I have to refresh after the build to actually open Oppia.

[2018-06-14 20:28] apb7 opened #5108 "Add more rules for HTML lint checks"
The following rules need to be added to the existing HTML lint checks:

1. For HTML attributes, the value should be enclosed in double quotes.
2. For tags not ending on a single line, a line break should be inserted after the opening tag -- _Done in PR #5171_
    (Refer to [this](https://github.com/oppia/oppia/pull/5094#discussion_r195887845) for further details):
[code]

(_More rules may be added

[2018-06-14 21:21] seanlip commented on #4421
Hi @yjennywang, just checking in! How's this going?

[2018-06-15 08:21] DubeySandeep commented on #5095
@nithusha21, This can be reproduced on the test server (see [here](http://oppiatestserver.appspot.com/create/16)). should this be a blocking hug?

[2018-06-15 08:31] nithusha21 commented on #5095
This has been happening for a while (I remember seeing this for the past few releases). However I think that this need not be blocking as no end users will play this exploration (we only use this while testing).

I believe the issue is the unicode character in the state name and in the URL, it is not interpreted correctly. I don't think this issue can pop up with any actually created exploration (

[2018-06-15 10:53] #5044 closed, assigned to prasanna08

[2018-06-15 10:54] #5083 closed, assigned to DubeySandeep

[2018-06-15 20:27] DubeySandeep opened #5111 "Feedback email preference should be only shown to owner/editor of the exploration."
**Steps to reproduce:**
- Create an exploration (exp-id).
- Logout and login again with a different a/c
- Go to /create/exp-id
- Go to settings.
-  Click Mute in Feedback email preferences.

**Observed behavior:**
![2018-06-13](https://user-images.githubusercontent.com/16653571/41487928-3a822d08-7108-11e8-848f-2e84920d9a6a.png)

**Expected behavior:**
Feedback email preference should be only shown

[2018-06-16 00:45] seanlip commented on #4421
@nithusha21 -- posting a note from @yjennywang here:

Could you confirm that this is fixed? (Also, do you know what caused it?)

Thanks!

[2018-06-16 02:54] 1995YogeshSharma commented on #5111
Hi @DubeySandeep, I think any user can view the exploration by going to /create/exp_id but changes can only be made by the owners/editors. If I click on Mute, an error like below is shown.
![image](https://user-images.githubusercontent.com/9693472/41495168-9c9937c6-713e-11e8-8a38-56ec6f783a75.png)

[2018-06-17 00:01] seanlip commented on #5111
FYI I created PR #5113 to only show the "Feedback/Suggestion Email Preferences" card if the user is at least an editor.

[2018-06-17 01:34] DubeySandeep opened #5114 "Stylinter fails on lint checks."
**Steps to reproduce:**
- Change any of the *.html files.
- run `python scripts/pre_commit_linter.py`

**Error log:**
![screenshot from 2018-06-12 07 33 11](https://user-images.githubusercontent.com/16653571/41503893-6cee00f6-71fc-11e8-831a-7ae1ba01066b.png)

/cc @seanlip, @apb7 & @kevintab95

[2018-06-17 01:51] seanlip opened #5115 "The feedback_thread_summaries_test in core/tests gives an error."
I found that one of our load tests in core/tests, related to feedback threads, is failing. (Note that this folder is usually exempted when searching for tests, so it isn't a cause for concern that this wasn't discovered earlier.) It's probably due to the thread_id change from @nithusha21's GSoC project.

[code]

@nithusha21 -- please could you fix this? Thanks!

[2018-06-17 01:53] seanlip commented on #5114
Wrong Kevin, I think :) /cc @kevinlee12

@apb7 @kevinlee12 I'm getting a different error with stylelint as well:

[code]

[2018-06-17 02:01] seanlip commented on #5114
@apb7 I think I may have an idea of why this is happening. I looked at the stylelint path in pre_commit_linter.py and noticed that it didn't seem to refer to oppia's installed version of node. So I think it's just being run using whatever node path is global on the user's machine, which is why we're getting weird results...

Would it be possible to update this ASAP to use oppia's version of node?

[2018-06-17 02:01] DubeySandeep commented on #5115
@seanlip, AFAIR (on 10th June) Once I ran the full backend test and found this error and I asked other folks and got the response that it fails that's why we have excluded this on Travis (something similar) so I left this as-is. `RUN_BACKEND_TESTS=true REPORT_BACKEND_COVERAGE=false EXCLUDE_LOAD_TESTS=true`

[2018-06-17 02:03] seanlip commented on #5115
I think it's because, in run_backend_tests.py, there is an exclusion list that excludes core/tests.

[2018-06-17 02:05] DubeySandeep commented on #5115
I also found this on group conversation (which I din't read that time probably):
Nithesh:

But this test didn't fail on Travis. So never realised it failed. I'll fix it up

So yeah! Sorry I missed this part of conversation.

[2018-06-17 03:12] DubeySandeep commented on #5009
Reopened this issue as it's not resolved yet! (see [here](https://github.com/oppia/oppia/pull/5109#issuecomment-397824368) and [here](https://github.com/oppia/oppia/pull/5113#issuecomment-397847913))

[2018-06-17 03:14] #5111 closed, assigned to seanlip

[2018-06-17 03:24] seanlip commented on #5111
NB: I intentionally reverted the browserproxy change that was originally in this PR. It turns out that we use two versions of that: a Python lib (v0.7.1; for the performance tests) and a binary (v2.1.1) that we use elsewhere.

[2018-06-17 07:15] #5114 closed, assigned to nobody

[2018-06-17 18:06] tjiang11 commented on #5071
So, seeing how this wasn't a regression from the previous release, I think I am going to go ahead and continue performing the release today, but if we manage to find a fix later, we can hotfix it in.

[2018-06-18 04:43] 1995YogeshSharma commented on #5037
Hi @bansalnitish, are working on this issue? You have assigned it to yourself.

[2018-06-18 04:46] 1995YogeshSharma commented on #5036
duplicate of #5095. Closing it here.

[2018-06-18 04:46] #5036 closed, assigned to nobody

[2018-06-18 05:54] bansalnitish commented on #5037
Hi @1995YogeshSharma

I'm not able to figure this one out and honestly I didn't spent much time on this. Found some related links that I looked for but did not find much.
https://github.com/textAngular/textAngular/issues/88
https://github.com/textAngular/textAngular/issues/544

I'm removing my assignment so that may be someone else can try till I figure this out.

Thanks

[2018-06-18 07:48] #5115 closed, assigned to nithusha21

[2018-06-18 09:15] bugtester7 commented on #4374
Hi, I would like to work on this issue!

[2018-06-18 09:20] DubeySandeep commented on #4374
Hi @bugtester7, have you signed the CLA? if no then would you mind following these [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) instructions to get started? :)

[2018-06-18 16:43] diveshuttam commented on #4374
Hi I am interested in working on this issue.

[2018-06-18 19:47] tjiang11 commented on #1855
@EvsChen , you're not working on this issue, right? If so, please feel free to de-assign yourself.

[2018-06-18 19:53] tjiang11 commented on #4421
Ping @nithusha21

[2018-06-19 03:15] EvsChen commented on #1855
@tjiang11 Yes, I got stuck some time ago when trying to solve this. I'll just deassign myself for now. Sorry!

[2018-06-19 05:37] aadilmehdis commented on #3950
Hi, I would like to work on exploration_player/exploration_player.html in case it has not been assigned to anyone yet.
@seanlip @apb7

[2018-06-19 05:47] nithusha21 commented on #4421
Thanks for the ping @tjiang11. I missed this comment. Looking in to it. Will update you by tonight. Thanks!

[2018-06-19 05:52] apb7 commented on #3950
Hi @aadilmehdis! Assigned you the file. Thanks!

[2018-06-19 08:45] pdlozano commented on #5076
I'm new here and I want to work on this. How do I reproduce the issue? Which browsers does this affect?

[2018-06-19 08:49] nithusha21 commented on #5076
Hi @professorjumbled Welcome to Oppia!

To reproduce this issue, create an exploration with a code editor, and go to the preview tab.
Then try resizing the window (I don't think the browser matters, but I tried on chrome). At some point, you'll see the behavior as shown in the above screenshot.

[2018-06-19 08:51] bansalnitish commented on #5076
Hi @professorjumbled,

This is a bit tedious to reproduce. Are you able to open the above page i.e the one in screenshot? If yes, resize that page to various sizes and at some particular sizes you will notice that this submit button is not completely visible. I was able to reproduce this one on chrome.

Feel free to ask any doubts that you come along the way.

Thanks

[2018-06-19 22:49] DubeySandeep commented on #3954
Unassigned @rohanbanerjee from `Exploration Editor Page` part of this issue because of lack of work (assigned around 1st week of March) and assigning the same to @hoangviet1993 .

[2018-06-20 07:55] nithusha21 commented on #4421
I can't seem to reproduce this error anymore. Not sure what fixed it though. Will need to look into the details to figure that out.

[2018-06-20 09:50] nithusha21 commented on #4421
Recently, When I did the feedback thread id changes (#4971) I edited the decorators for the suggestion list handler from can_comment_on_feedback_thread to can_play_exploration. The former raised a base.UserFacingExceptions.NotLoggedInException if the user wasn't logged in while the latter doesn't have this check. So the redirects would have stopped.

So I think this change has fixed the issue (fol

[2018-06-20 20:18] seanlip commented on #4421
That makes sense. Thanks @nithusha21 -- good to know! I'll close this issue then.

[2018-06-20 20:18] #4421 closed, assigned to nithusha21

[2018-06-22 06:50] pranavsid98 opened #5134 "Finish writing remaining backend tests"
## Note:  As it was getting hard to maintain the long conversastion thread in this issue we have moved this issue to #6550

_This is intended as a starter project for newer contributors._

We want to implement backend tests for all parts of the code that are missing them. For each file mentioned below, the parts missing can be identified by generating a coverage report (see [this wiki page](https:

[2018-06-22 15:42] seanlip opened #5138 ""ReferenceError: URL is not defined" from ImagePreloaderService"
We've been getting an error in production along the following lines:

[code]

This seems like it may be an error in ImagePreloaderService, though it's hard to tell which line (from the error log) since the production JS file is minified. @ishucr7 @vojtechjelinek could you please look into this?

[2018-06-22 15:52] vojtechjelinek commented on #5138
Seems to be related to the fact that URL object might [not be supported in all browsers](https://developer.mozilla.org/en-US/docs/Web/API/URL).

[2018-06-22 15:56] seanlip commented on #5138
Ah. Can we do something that's more browser-compatible?

[2018-06-22 17:40] vibhor98 opened #5140 "Add currency units to the Number with Units interaction."
Currently, all the SI and non-SI units are supported by Number with Units interaction. The currency units like `$` and `Rs`  are to be implemented as `math.js` library doesn't support them explicitly.

[2018-06-22 22:14] aks681 opened #5143 "Image upload RTE element requires exploration id"
Currently, the customization arguments for the image upload RTE element requires an exploration id for the upload, as it is saved in the backend by referencing the exploration it is a part of.

This needs to be changed to a method which either allows for any id to be used, or that which does not require one at all, as RTEs are now being implemented in topic, story and skill editors, which are outs

[2018-06-23 07:17] pranavsid98 opened #5145 "Modify the from_backend_dict method"
Right now, the following classes have two separate methods called `from_backend_dict()` and `from_dict()`:
- [ ] `core.domain.stats_domain.Playthrough`
- [ ] `core.domain.stats_domain.ExplorationIssue`

`from_dict()` takes a dictionary and creates an instance based on its values.
`from_backend_dict()` takes a dictionary and validates it before creating an instance based on its values and an automa

[2018-06-23 07:20] seanlip commented on #5145
I don't like the use of a dummy ID. Can you add links to cases when it is actually needed?

In general we should never be using "fake" data in the main code.

[2018-06-23 07:24] pranavsid98 commented on #5145
@seanlip

So this is the case:

When there is incoming playthrough data from the front end, it is in a dict form, and since the playthrough doesnt exist in the datastore yet, it does not have an ID. In our controller, before the playthrough is stored, a lot of operations are performed (finding the issue for the playthrough to be inserted, if it already exists) and the like. Going by our practice o

[2018-06-23 07:39] nithusha21 commented on #5138
Do we need to hotfix this? I am not sure why this wasn't caught during release testing. Also from the link it seems URL is supported on most browsers (for fairly old versions too). Can you confirm that the browser you were using isn't supported as per this [table](https://developer.mozilla.org/en-US/docs/Web/API/URL#Browser_compatibility) -- @seanlip.

[2018-06-23 18:52] seanlip commented on #4803
We removed this fix in #5146 (cc @apb7) because it was causing problems.

We might need to find some way of doing pip installations more deterministically...

[2018-06-23 18:57] seanlip commented on #5145
It's good to use domain objects, but not great to use a temporary/fake ID. Some alternatives:

- Does your domain object actually need an ID field? If not, remove it from there and have it only be a storage model property.
- Use an ID value of None while the playthrough still does not have an ID assigned. In the domain object, document the significance of this value.

[2018-06-23 19:01] seanlip commented on #5138
The browser seems to be "Android 4.2.2, Mobile Safari 534.30" which I guess is pretty old...

Perhaps not worth fixing? Not sure. I think it depends on the complexity of the fix -- if it's less than ten lines of changes then we might as well do it. But I don't think it needs a hotfix, we can just do it in time for the next release.

@vojtechjelinek @ishucr7 thoughts?

[2018-06-23 19:53] vojtechjelinek commented on #5138
One solution might be to use [readAsDataURL](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL), but the compatibility is not so much better.

The createObjectURL is used in _AudioPlayerService.js_ too, although the audio player is probably not used as much as images.

One next thing is that this got me thinking about how we handle memory. createObjectURL basically allocate

[2018-06-23 20:01] seanlip commented on #5138
Hm, I see, thanks for the thoughts.

I think, on the whole, it's probably fine to leave this as-is. Android 4 is pretty old and I don't see an obvious workaround. Would you agree?

For the thought about revokeObjectUrl, note that the learner can navigate backwards through an exploration to see earlier images / listen to earlier audio. So I'm not sure we can revoke stuff until the page is closed?

[2018-06-24 07:23] ishucr7 commented on #5138
Sorry for replying late.
Hi all, Yes I agree with you (@seanlip ). Also as @vojtechjelinek  said the compatibility of  `readAsDataUrl` (the substitute which we could use for the `createObjectURL`) is not good enough.
Yes, the user can navigate backwards to see the images. But we are actually using the `createObjecURL` in the `imageDirective.js`, so whenever the user navigates to a card with image,

[2018-06-24 18:51] #5063 closed, assigned to kevintab95

[2018-06-25 17:32] prakharchoudhary commented on #5134
Hi @1995YogeshSharma, I'd like to implement backend tests for core.platform.models

[2018-06-25 17:55] 1995YogeshSharma commented on #5134
Ok, assigned that to you.

[2018-06-25 19:38] seanlip commented on #4158
Hi @kevintab95, would you be interested in taking a look at this?

[2018-06-25 22:09] kevintab95 commented on #4158
Yep, I'll take a look.

[2018-06-25 23:57] seanlip commented on #4158
Thanks @kevintab95! Assigned you :)

[2018-06-26 07:10] aadilmehdis commented on #3950
Hi, I am facing some problems while pushing in my changes.
I get an error when a type this command

git push -u myfork1 petabranch1

The error statement says :

Traceback (most recent call last):
  File "/Users/aadilmehdi/opensource/oppia/.git/hooks/../../scripts/pre_commit_linter.py", line 245, in <module>
    from pylint import lint  # isort:skip
  File "/Users/aadilmehdi/opensource/oppia_tools/

[2018-06-26 07:44] DubeySandeep commented on #3950
@apb7, Can you please help @aadilmehdis regarding this?

[2018-06-26 07:58] apb7 commented on #3950
On it Sandeep! Thanks :)

On Tue, Jun 26, 2018, 1:14 PM Sandeep Dubey <notifications@github.com>
wrote:

[2018-06-26 14:37] kevintab95 commented on #4158
Hi @pranavsid98, I am unable to reproduce this issue. Can you please tell me what steps you took to reproduce this?

I tried adding lots of text in a textInput interaction logged in as a learner but didn't find the stats broken.
<img width="1440" alt="screen shot 2018-06-26 at 8 03 30 pm" src="https://user-images.githubusercontent.com/11008603/41919562-71b6ba10-797c-11e8-86e9-7ee421ce8379.png">
<i

[2018-06-26 20:55] apb7 opened #5157 "Add check for missing copyright notice"
A check for missing copyright notice should be a part of the pre-submit checks. For reference, see [this](https://github.com/oppia/oppia/pull/5154#discussion_r198288315).

[2018-06-29 05:07] AllanYangZhou commented on #857
Hi @WickedBrat, per 4877 I'll de-assign you from this issue for now--feel free to take it up again when you have more time.

[2018-07-02 08:14] seanlip opened #5172 "TextInput learner response display should preserve line breaks."
I was just playing an exploration in which I had to write an answer in a TextInput field. I wrote the following:

[code]

Unfortunately, it came out looking like this:

![screenshot from 2018-07-02 01-11-38](https://user-images.githubusercontent.com/10575562/42152463-06f88dc6-7d95-11e8-8bd5-96f78eed9b20.png)

Instead, it would be good if the TextInput display preserved line breaks.

[2018-07-02 08:15] seanlip commented on #5172
(Btw, here's the exploration if you're interested: https://www.oppia.org/explore/AI4i4j85uP45 )

[2018-07-02 15:24] EvsChen commented on #5071
I tried this on iOS mobile safari and chrome. Neither works. Occasionally safari works but chrome never . I found lots of people experiencing the same issue. See
https://github.com/angular/angular.js/issues/5307
https://github.com/angular/angular.js/issues/6671
It seems that on mobile device the ng-click and href would create some conflicts.

[2018-07-02 18:27] aks681 opened #5176 "Rename objects passed from controller to the frontend."
Currently, the objects passed from the controller to the frontend are given the entity name itself (eg: skill). This is a tracking issue to rename all such fields to [entity]_dict, since those are actually python dictionaries that are returned.

[2018-07-02 19:00] seanlip opened #5177 "Ensure that all image RTE components have caption fields."
A "caption" field for images was introduced in #2104 but it seems like the correct backend changes were not introduced. In particular there should have been an exploration migration that checked each image RTE component and added a "caption is empty string" attribute if needed.

The aim of this issue is to write that migration, so that we can ensure that all explorations are up to date and have th

[2018-07-02 19:12] bansalnitish commented on #5177
Hi @ishucr7, are you going to work on this, if not I can take over.

The workflow for the vN to vN+1 conversion function would be as follows:

- Iterate through all html strings in exploration states (similar to the approach here: https://github.com/oppia/oppia/blob/develop/core/domain/exp_domain.py#L3458)
- Parse the html using BeautifulSoup to obtain image tags (or use html_cleaner.get_rte_compo

[2018-07-02 19:16] seanlip commented on #5177
Yes that's basically right, thanks @bansalnitish. One preemptive catch: make sure that the value of the attribute is properly escaped.

[2018-07-02 19:20] bansalnitish commented on #5177
Yes sure, I'll take care of that, learnt a lot about it in my migration PR for TextAngular :smile:.

Will take over this, just waiting for @ishucr7's confirmation!

Thanks!

[2018-07-02 19:23] seanlip commented on #5177
Thanks, @bansalnitish! If you're up for it, I'd say just go for it, since time is of the essence here.

[2018-07-02 19:24] bansalnitish commented on #5177
Sure, will be submitting a PR ASAP!

[2018-07-02 19:33] seanlip commented on #5071
Thanks @EvsChen, great research!

Do you want to try and fix it? If so I can assign you to this.

[2018-07-02 20:40] ishucr7 commented on #5177
Hi all. I am currently busy with other PR, and we have less time for the next release. Thanks for taking it up.

[2018-07-03 01:04] EvsChen commented on #5071
I would like to try it. Thanks @seanlip

[2018-07-03 03:47] seanlip commented on #5071
Sounds good, thanks @EvsChen! I've assigned you, let us know if you figure out anything :)

[2018-07-03 08:04] seanlip opened #5182 "Reduce the number of files that are uploaded to production."
There is a limit of 10,000 on the number of files that can be uploaded to the production server. We are currently at 9,996 files and this does not include additional libraries like angular-drag-and-drop-lists which is going to be brought in as part of #5166.

In general, each third-party library should not contribute more than one or two files to the release. One way to reduce the number of files

[2018-07-03 08:28] seanlip opened #5183 "Update training interface so that the creator does not have to select which answer to train."
Currently, in the training interface (see #5098), the flow for training Oppia is as follows:
- Creator clicks "Train Oppia"
- Creator sees a bunch of answers and has to mentally select one to train from a list
- Creator trains that answer

After having played with the UI a few times, I think that the following flow would be better:
- Creator clicks "Train Oppia"
- Creator sees one answer and is as

[2018-07-03 09:14] seanlip opened #5184 "Get rid of general.waitForSystem() from e2e tests and replace it with ExpectedConditions."
Currently, e2e tests use calls like browser.waitForAngular() and general.waitForSystem(). This is not great because it's non-deterministic and leads to flakiness. We should try to replace all these general waiting calls with something like ExpectedConditions, as described in [this article](https://medium.com/@ited.ro/how-to-use-smart-waits-with-protractor-how-to-use-expected-conditions-with-protra

[2018-07-03 14:28] apb7 commented on #5184
Hi @seanlip, I am picking this up now. At this moment, I will leave out the files being modified in PR #5139 so as to avoid conflicts. Thanks!

[2018-07-03 16:21] vibhor98 commented on #5140
This has been implemented in PR #5175.

[2018-07-03 16:34] DubeySandeep commented on #4887
Assigned it to @hoangviet1993 as he is going to cover this issue in #5139.

[2018-07-04 14:45] apb7 commented on #5184
@seanlip: I had a doubt here. Isn't `browser.waitForAngular()` deterministic in the sense that it instructs the webdriver to wait until Angular has finished rendering and has no outstanding $http or $timeout calls before continuing. It does not provide any timeout parameter unlike `browser.wait()`? Why do we need to remove it as well?
Also, /cc @hoangviet1993 for thoughts here too!
Thanks!

[2018-07-04 19:52] seanlip commented on #5184
@BenHenning was saying that waitForAngular() has problems on some systems and in some circumstances, and that he could provide more context if required.

I guess it is required :) @BenHenning could you please elaborate?

Thanks!

[2018-07-04 19:53] seanlip commented on #5184
(Also, it's a holiday here, so @apb7 I suggest not blocking on @BenHenning's reply. I'd say go ahead and remove the waitForAngular() calls if possible but it's not a blocking requirement for this particular issue.)

[2018-07-04 20:30] apb7 commented on #5184
Okay, got it! Thanks, Sean!

[2018-07-05 03:32] #3836 closed, assigned to nobody

[2018-07-05 03:37] prasanna08 opened #5193 "Reset the answer in interaction directives to default value once it has been submitted."
Currently, after submitting the answer, none of the interactions reset the internal value of the answer to its default value upon submission. The reason that this hasn't been done before is that because after the answer has been submitted by the student in learner mode the conversation moves to Oppia's response and hence there is nothing to be gained by setting the local value of the answer to its

[2018-07-05 03:42] prasanna08 commented on #5183
Hi @seanlip, I like this idea of the new interface. Showing answers one by one to creator will allow them to focus more on the current answer and also give us ample screen space to show answers in a meaningful way. We just need to finalize how and what things will be shown. That should be easy, though.

However, I would like to put this issue as low priority for the time being. I think its time we

[2018-07-05 08:39] aadilmehdis commented on #5193
Hi, @prasanna08. I would like to work on this issue. Could you please explain it to me a bit more on how to reproduce and what all needs to be changed?

[2018-07-05 12:36] vibhor98 commented on #5193
Hi @aadilmehdis, See the relevant comments in #5098. It can't be reproduced as it is not visible in the UI. However, you can take a look at the `NumericInput.js` for reference and see how `$scope.answer` value is actually set. May be you can add `console.log($scope.answer)` to confirm that the answer value doesn't reset even after hitting submit button.  Similarly you can take a look at all the ot

[2018-07-05 12:56] #5140 closed, assigned to vibhor98

[2018-07-05 19:06] #5177 closed, assigned to bansalnitish

[2018-07-05 20:37] #5182 closed, assigned to vojtechjelinek

[2018-07-05 22:28] doshgo opened #5199 "Running Oppia Server"
I have both vagrant and virtualbox set up.
I have come to the following in Gitbash:

vagrant ssh
Welcome to Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-149-generic x86_64)
* Documentation:  https://help.ubuntu.com/
 System information disabled due to load higher than 1.0
Get cloud support with Ubuntu Advantage Cloud Guest:
http://www.ubuntu.com/business/services/cloud
0 packages can be updated.
0 updates

[2018-07-05 22:29] #5199 closed, assigned to nobody

[2018-07-06 02:19] EvsChen commented on #5071
I'll briefly summarize what I observed so far. Files associated are `TopNavagationBarDirective.js` and `top_navigation_bar_directive.html`. A simplified version of the dropdown menu is like
[code]
The function `closeSubmenu()` mainly closes the dropdown menu. When I try clicking the Logout link,
  1. The `closeSubmenu()` is triggered three times, all of which having event type `mouseleave`. The ta

[2018-07-06 04:27] seanlip opened #5201 "Reduce the number of files that get deployed to production."
(This was originally filed as #5182. Some immediate work has been done in #5196 -- thanks @vojtechjelinek! -- but there's still some more long term stuff to do, so I'm refiling.)

There is a limit of 10,000 on the number of files that can be uploaded to the production server. We have breached this limit enough times that it seems like it would be better to take active steps to control the number o

[2018-07-06 04:27] seanlip commented on #5201
Assigning @vojtechjelinek for the first checkbox.

[2018-07-06 04:49] aks681 opened #5202 "Move validations into the corresponding object's factory"
For topics and stories, currently, the validations are a separate file. These are to be integrated into TopicObjectFactory and StoryObjectFactory respectively.

[2018-07-06 05:38] seanlip commented on #4166
Hi @prasanna08, is this issue fully resolved (in both oppia and oppia-ml)?

[2018-07-06 05:39] seanlip commented on #4166
(If so, please leave notes on this comment thread explaining the resolution and linking to any relevant PRs. Thanks!)

[2018-07-06 05:40] prasanna08 commented on #4166
Ah, no. This is still remaining. I will push PR soon
Thanks

On Fri 6 Jul, 2018, 11:09 AM Sean Lip, <notifications@github.com> wrote:

[2018-07-06 07:29] prasanna08 commented on #5193
Hi @aadilmehdis, there is one way to check whether your fix is working or not. But it will work only for `TextInput` interaction. Do following:
1. Set `feconf.SHOW_TRAINABLE_UNRESOLVED_ANSWERS = True`
2. Start local server.
3. Create exploration.
4. Use TextInput interaction.
5. Create a simple answer group.
6. Once answer group is created, click on that answer group.
7. Then click on Modify Train

[2018-07-06 10:28] hoangviet1993 opened #5204 "Duplicated protractor tag for answer_group_editor_directive.html 's "Modify Training Data" button."
The [Modify Training Data button](https://github.com/oppia/oppia/blob/d5fbb847549e62b91d5309b69e3fea359d4ddc0e/core/templates/dev/head/components/answer_group_editor_directive.html#L90) shares the protractor tag with the Add Response Button. This is currently causing some problem with my [editorAndPlayer](https://travis-ci.org/oppia/oppia/jobs/400729214#L2069) e2e test :worried:

Also @prasanna08

[2018-07-06 11:15] aadilmehdis commented on #3826
Hi, is there any file available that I can work on?

[2018-07-06 13:52] #5157 closed, assigned to nobody

[2018-07-06 14:28] apb7 commented on #3826
Hi @aadilmehdis, would you like to work on `app.js`?
(Also, un-assigning @NirmalKumarJoshi due to lack of response)

[2018-07-06 20:35] vibhor98 opened #5209 ""TypeError: Cannot read property 'height' of undefined" from ImageDirective"
## Repro Steps:
* Choose any of the two interactions- `ItemSelectionInput` or `MultipleChoiceInput` while creating exploration in Creator Dashboard.
* In the RTE, try to add images.
* See the 'Add Response' modal or 'Preview' of the exploration and the console for errors.

We've been getting this error again and again which is preventing images from appearing in the interaction.
![screen shot 2018

[2018-07-06 21:24] hoangviet1993 commented on #5105
Started working on this issue. Submitting PR soon!

[2018-07-07 01:59] prasanna08 commented on #5204
Hi @hoangviet1993, good catch regarding editability. I agree with you, button should not appear if exploration is non-editable for some user.

[2018-07-07 02:03] prasanna08 commented on #3170
Closing this with #5098

[2018-07-07 02:03] #3170 closed

[2018-07-07 02:07] prasanna08 commented on #957
Hi @BenHenning, @seanlip, is this issue relevant anymore? If so, then how about merging this with #5183. Also, don't we already have mechanisms to interpolate answer within feedback wherever {{answer}} is present?

[2018-07-07 02:12] seanlip commented on #957
Honestly, I have no idea what the status of this issue is. If it's fixed then feel free to close it, and if it's not fixed then feel free to merge it with #5183.

(You can check by putting "You answered {{answer}}" in the feedback of an answer group, and seeing what gets displayed.)

[2018-07-07 07:12] apb7 opened #5218 "Process data within tags in HTML"
At the moment, we use HTML Parser for HTML indent check and validation. It has a number of functions which we override -- handle_starttag, handle_endtag, and handle_data. When a tag opens, it calls handle_starttag, for data, it calls, handle_data and when a tag closes, it calls handle_endtag.
Since we still use jinja templates within HTML which is recognized by the parser just as any other text wi

[2018-07-07 16:52] #5105 closed, assigned to hoangviet1993

[2018-07-07 16:52] #5204 closed, assigned to prasanna08

[2018-07-07 17:08] seanlip commented on #5071
Hi @EvsChen -- thanks for the update! This is on my radar, but I haven't had time to look into this yet, so it might be a day or two more before I can get back to you.

But my initial suggestion would be: how do other sites handle this? I doubt we're the only site facing an issue with touch vs click. It might be worth reading up on what the general patterns for handling touch/click are in menus, t

[2018-07-08 01:25] prasanna08 opened #5220 "Migrate InteractionAnswerSummariesMRJobManager and StateAnswersCalcOutputModel to use state id rather than state name to caculate state stats."
Recently, we successfully implemented exploration state id mapping which allows us to assign a unique id to each state in exploration across multiple versions. This way we can identify any state in any version of given exploration with its unique id. This will allow us to calculate state statatistics in more efficient manner.

As of now, stats are calculated per each (exp, version, state_name). Th

[2018-07-08 05:35] seanlip opened #5221 "Fix follow-up comments from #5153."
This is just an issue to track fixing the follow-up comments from #5153.

/cc @vojtechjelinek

[2018-07-08 05:40] #5202 closed, assigned to aks681

[2018-07-08 05:57] seanlip commented on #3954
It looks like this issue is fully completed. Closing! Thanks @hoangviet1993!

[2018-07-08 05:57] #3954 closed, assigned to nobody

[2018-07-08 05:57] seanlip opened #5222 "Fix follow-up comments from #5139."
This issue tracks the follow-up comments from #5139.

[2018-07-08 18:06] aks681 opened #5226 "Publish button not disappearing"
Steps to reproduce:

- Create an exploration. (Any exploration, even a single state one is fine).
- Publish it.

__Expected Behaviour:__
Once published, the Save Draft button should change to Publish Changes, and the publish button should disappear.
![screenshot from 2018-07-08 23-36-42](https://user-images.githubusercontent.com/22347970/42422669-e6fbeeaa-8307-11e8-838a-a03edf71e26c.png)

__Observ

[2018-07-08 18:45] seanlip commented on #5226
That's not good! Did it happen only in this past month?

Thanks for finding this!

[2018-07-08 18:45] seanlip commented on #5226
Also, marking as a blocking bug that needs to be fixed.

[2018-07-08 18:47] aks681 commented on #5226
I am not sure. I think so. It's been a while since I created a sample exploration, but this is the first time I am seeing this, and I don't think this was reported for the last release also.

[2018-07-08 19:31] seanlip commented on #4830
(Note to contributors: please see prior work in #4996, but note that this PR was abandoned. Thanks!)

[2018-07-08 20:18] hoangviet1993 commented on #4887
Re-enabled learnerDashboard and clean up AdminPage.js by PR #5139

[2018-07-08 20:18] #4887 closed, assigned to hoangviet1993

[2018-07-09 04:56] #5226 closed, assigned to DubeySandeep

[2018-07-09 05:22] apb7 opened #5232 "Text moves out of the RTE container when increasing the indent"
This happens on the test server for the present RTE, textAngular:

**Observed behavior**:
On increasing the indent till the end of the container, the text eventually moves out of the container:

![screenshot-oppiatestserver appspot com-2018 07 09-10-40-07](https://user-images.githubusercontent.com/24826041/42431839-5f9b42e0-8365-11e8-897d-964f2d83bf15.png)

It also breaks vertically, which seems t

[2018-07-09 05:26] seanlip commented on #5232
Not sure. I think we should fix it, it does look pretty bad.

/cc @AllanYangZhou

[2018-07-09 05:40] apb7 commented on #5232
This also occurs on the main website, oppia.org:

![screenshot-www oppia org-2018 07 09-11-08-09](https://user-images.githubusercontent.com/24826041/42432552-a1f95336-8368-11e8-92e3-477bca73d189.png)

[2018-07-09 05:42] seanlip commented on #5232
Ah, OK. Not a regression, then. But still kind of bad?

[2018-07-09 05:46] apb7 commented on #5232
Yes, I agree. It looks a bit weird for the end user.

[2018-07-09 06:33] seanlip opened #5234 "Figure out why we're requesting stuff like protractor.js when we shouldn't be."
In #5002, @1995YogeshSharma mentioned that he noticed this in the local devserver log:

![5002-error1](https://user-images.githubusercontent.com/9693472/42421943-77741d20-82fb-11e8-81f8-7aa9312263ba.png)

This looks weird and we should investigate it. There is no reason for files like protractor.js to be requested by the core application.

Also, @1995YogeshSharma @vojtechjelinek -- could you pleas

[2018-07-09 07:42] seanlip commented on #5071
OK, I poked around at this a bit.

How about this: rename closeSubmenu to closeSubmenuIfNotMobile and add a guard at the beginning to check, using DeviceInfoService, whether the user is using a mobile device or not? (Then, if it's mobile, that method would return without doing anything.) Would that work?

[2018-07-09 12:02] ishucr7 commented on #5209
We currently treat the preview mode as player mode. Therefore when we shift back from preview mode to editor mode, the ImagePreloaderService  has already started. But while editing an exploration when we add a new image (after getting back from the preview), ImageDirective has the code for the dimensions but they aren't calculated yet. The preloading and caching is supposed to be for player mode a

[2018-07-09 15:22] EvsChen commented on #5071
Yeah, since that's a serious bug. Maybe it's more important to find a working solution than an elegant solution first.

[2018-07-09 17:05] vojtechjelinek commented on #5234
It emerged on develop brach, just by running the dev server (`./scripts/start.sh`).

[2018-07-09 18:48] seanlip commented on #5071
Actually, after investigation, I think this solution might be as good as it gets -- we do legitimately want different behaviour between mobile and desktop here, so as long as we name things clearly I think this solution isn't too bad.

@EvsChen -- would you be able to make (and test) this fix in the next day or two, so that we can cherry-pick it into the release?

Thanks!

[2018-07-10 11:59] hoangviet1993 commented on #5047
I have went over this in my recent work with the extensions.js. This error message is no longer required. Issue can be closed.

The only error generated from adding the Youtube link : "'ANeHmk22a6Q" is `'chrome-extension://invalid/ - Failed to load resource: net::ERR_FAILED'`.

Seems to be coming from the Selenium Webdriver 's browser since I can't replicate on production.
Here is what I tried on

[2018-07-10 12:12] EvsChen commented on #5071
Yes, I'll try my best

[2018-07-10 12:38] hoangviet1993 commented on #5184
Mission accomplished! 🎖
At the point of writing this, there are no waitForSystem() or waitForAngular calls in all of e2e test codes.

[2018-07-10 12:38] #5184 closed, assigned to hoangviet1993

[2018-07-10 12:40] hoangviet1993 commented on #5009
#5139 should fix this. Feel free to re-open if the ghost of editorFeatures 👻  come back to haunt Oppia's Travis.

[2018-07-10 12:40] #5009 closed, assigned to nobody

[2018-07-10 12:59] jacobdavis11 commented on #5145
@brianrodri are you still working on this?

[2018-07-10 13:00] jacobdavis11 commented on #5138
@vojtechjelinek @ishucr7 are you still working on this?

[2018-07-10 13:00] jacobdavis11 commented on #5108
@apb7 are you still working on this?

[2018-07-10 13:02] jacobdavis11 commented on #5039
@AllanYangZhou are you still working on this?

[2018-07-10 13:03] jacobdavis11 commented on #5004
@apb7 are you still working on this?

[2018-07-10 13:04] jacobdavis11 commented on #4973
@vojtechjelinek are you still working on this?

[2018-07-10 13:05] jacobdavis11 commented on #4968
@pranavsid98 are you currently working on this?

[2018-07-10 13:06] apb7 commented on #5108
Hi @jacobdavis11, the second check has been already been put in place. I will pick up the first one in a couple of days.
Thanks!

[2018-07-10 13:06] jacobdavis11 commented on #4838
@apb7 are you still working on this?

[2018-07-10 13:06] jacobdavis11 commented on #4761
Unassigning for now, please re-assign if you're planning to resume work.

[2018-07-10 13:07] jacobdavis11 commented on #4600
Unassigning for now.

[2018-07-10 13:07] jacobdavis11 commented on #4386
@AllanYangZhou are you still working on this?

[2018-07-10 13:09] jacobdavis11 commented on #4364
@ishucr7 are you still working on this?

[2018-07-10 13:10] jacobdavis11 commented on #4252
@WickedBrat are you still working on this?

[2018-07-10 13:11] jacobdavis11 commented on #4158
@pranavsid98 ping.

[2018-07-10 13:12] jacobdavis11 commented on #2766
@brianrodri are you still working on this?

[2018-07-10 13:40] apb7 opened #5243 "Problem with spaces when using pylint pragmas after import statements"
Isort prefers to have two whitespaces between a single line import and a pylint pragma on the same line:

[code]
If this is not followed, the following error message is produced: `Imports are incorrectly sorted`. This message seems to be incorrect as the imports are actually in the correct order.
I have filed an issue for the same upstream (see [issue #718](https://github.com/timothycrosley/isort/

[2018-07-10 13:53] apb7 commented on #4838
Hi @jacobdavis11, an issue for this has been filed upstream. We will have to wait for the Eslint team to resolve it. Thanks!

[2018-07-10 18:07] #5209 closed, assigned to vojtechjelinek, ishucr7

[2018-07-10 18:07] seanlip commented on #4838
@apb7 please link to the upstream issue here?

[2018-07-10 18:10] apb7 commented on #4838
Hi @seanlip, it is already linked (the last line of the issue explanation). Thanks!

[2018-07-10 18:13] seanlip commented on #4838
Ah sorry, missed that. Thanks!

[2018-07-10 18:14] seanlip commented on #4838
It's been 3 months though since that issue was filed. Think it's worth following up?

[2018-07-10 18:26] apb7 commented on #4838
I have pinged them. Let's wait for their response!

[2018-07-10 22:40] Batarian711 opened #5247 "Logo contribution"
Hi. I am a graphic designer. I volunteer to design a logo for open source projects. I can design it for you to use it in the text file. What dou you say?

[2018-07-10 23:41] pranavsid98 commented on #4158
@jacobdavis11 I'm on vacation currently, and I'll get back to this in 10 days :) Thanks

[2018-07-10 23:43] pranavsid98 commented on #4968
@jacobdavis11 Its not a blocking issue and I thought Id get to this after my GSOC. Hope thats fine. Thanks.

[2018-07-11 01:58] seanlip commented on #5247
Hi @Batarian711, thanks for getting in touch! I think Oppia already has a logo, but generally speaking art and design contributions would be welcome. So, would you be interested in contributing to non-logo design projects?

Also ... which text file are you referring to?

Thanks!

[2018-07-11 02:10] seanlip commented on #5047
Ah thanks @hoangviet1993. Do we need to file a bug for the new issue you mention? If so could you please do that (with repro instructions) and then close this one?

Thanks!

[2018-07-11 02:33] #5108 closed, assigned to apb7

[2018-07-11 02:40] hoangviet1993 commented on #5047
The error I mentioned `'chrome-extension://invalid/ - Failed to load resource: net::ERR_FAILED'` is already included in the exception list. I will be making a PR removing the excess exceptions!

[2018-07-11 03:16] seanlip commented on #5047
OK thanks! Closing the issue.

[2018-07-11 03:16] #5047 closed, assigned to nobody

[2018-07-11 04:43] seanlip opened #5251 "The "fatigue detection" modal appears twice."
To reproduce: Create an exploration with a couple of multiple choice questions, and publish it. Then play it as a learner. Submit five answers really quickly in succession.

You'll see a modal appear saying "Time for a break?". Clicking "I'm ready to continue the lesson" should close this modal.

However, it seems like two copies of the modal appear, so the modal needs to be closed twice.

I think

[2018-07-11 04:44] seanlip commented on #5251
Screenshot to illustrate:

![screenshot from 2018-07-10 21-44-12](https://user-images.githubusercontent.com/10575562/42551099-6ffb852a-848a-11e8-8b24-f43ad9a8ed1f.png)

[2018-07-11 04:50] #5040 closed, assigned to apb7

[2018-07-11 05:00] hoangviet1993 commented on #5222
All comments are addressed! Closing issue!

[2018-07-11 05:00] #5222 closed, assigned to hoangviet1993

[2018-07-11 05:00] seanlip opened #5252 "On Android devices the Fractions input looks weird."
To reproduce: play https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE# using the Chrome browser mobile emulator to emulate a mobile device (either iPhone or Pixel). You'll see this:

![screenshot from 2018-07-10 21-57-52](https://user-images.githubusercontent.com/10575562/42551535-928be434-848c-11e8-9638-c7ffed7bbf8b.png)

The break between the main question and the answer field is not suppo

[2018-07-11 05:11] seanlip opened #5253 "The "Correct" footer can block the Continue button."
We received a report from a user study that the "Correct" footer in the learner view can block the continue button. This can cause the learner to get stuck because they don't know what they need to do next, since there is no obvious "next" control on the page.

![screenshot from 2018-07-10 22-09-00](https://user-images.githubusercontent.com/10575562/42551793-fad30206-848d-11e8-99fc-2e782b862990.pn

[2018-07-11 05:13] seanlip opened #5254 "Multiple choice answers could be shuffled."
In the learner view, multiple-choice answers are always in the same order. We might instead want to shuffle them on-the-fly (while preserving the "index" that's currently reported to the backend) so that the student does not end up memorizing the correct answer based on its location (if they need to repeat a question).

/cc @kefeh

[2018-07-11 08:28] #5247 closed, assigned to nobody

[2018-07-11 09:22] seanlip opened #5256 "Make pyjsparser linter messages clearer."
I am trying to get my code to pass lint checks so that I can do a push. I am running into the following error:

[code]

There are some problems with this error message.

Firstly I have no idea what file is causing the issue.

Secondly the stack trace is too long and mostly irrelevant. (Though this is a more minor problem.)

It would be helpful if we could print out a more useful error message. At

[2018-07-11 09:23] seanlip commented on #5256
/cc @kevinlee12

[2018-07-11 09:23] nithusha21 opened #5257 "Auto generated audio translations not displayed on chrome mobile"
Auto generated audio is available on chrome mobile (version 67). It used to work fine, and still does on version 64. On desktop chrome version 67 also it works fine. Manual translations work perfectly fine.

It would be nice to continue supporting auto generated audio for chrome mobile for the later versions too!

[2018-07-11 09:26] seanlip commented on #5256
Incidentally, I found the error by actually trying to run the e2e tests locally. It wasn't due to a directive scope check (which had confused me in the first place, because I was only modifying e2e test files and some HTML files). Instead, it was that, in this code snippet:

[code]

I had missed the terminal comma on the line with the arrow.

This might indicate that something is wrong with the co

[2018-07-11 12:09] apb7 commented on #5256
Hi Sean, `pyjsparser`, as the name suggests, parses JS files as Python dictionaries. Therefore, whenever there is any syntactical error in a file, the parser is not able to parse the corresponding file. It also acts a JS file validator.

I agree regarding the message. We can change it to include the current filename it is processing. Also, I think the line number for this error is 109 as is pointe

[2018-07-11 12:18] hoangviet1993 commented on #5256
I get these error messages too whenever I have an unresolved merge conflict in my JS files... yes yes I know bad branch management. I think it would be lovely if there is some sort of JS linters before _check_directive_scope!

[2018-07-11 14:59] hoangviet1993 opened #5259 "Interaction: Pencil Code Editor Interaction unplayable"
I was not able to proceed past this interaction from all_interaction exploration. Is this a known issue?

Link: https://oppiatestserver.appspot.com/explore/16
This is on Desktop.
![screen shot 2018-07-11 at 10 52 43 am](https://user-images.githubusercontent.com/11153258/42580781-539b85c8-84f9-11e8-98bd-eea4e5e36f10.png)

UPDATE 07/11/2018: So I jumped on my local 's develop branch, do a git pull,

[2018-07-11 15:11] apb7 commented on #5256
Hi Viet, in case of a merge conflict, your file cannot be parsed. It looks something like:
[code]
This is certainly _not_ a valid JS syntax, therefore the error. In general, please resolve all merge conflicts  before running the lint checks.
Thanks!

[2018-07-11 15:23] nithusha21 opened #5260 "Unable to type anything in the Math expression input box in mobile"
On playing the all interactions exploration (explore/16) on mobile, it is not possible to input anything in the math expression input interaction. This looks like a serious bug.

Thanks @hoangviet1993 for reporting, /cc @aks681 @seanlip.

[2018-07-11 15:25] nithusha21 commented on #5259
Thanks for the report @hoangviet1993. This indeed looks serious, marking it as blocking. /cc @aks681.

[2018-07-11 15:33] nithusha21 commented on #5260
On debugging using usb debugging, detected console errors (screenshot attached).
![image](https://user-images.githubusercontent.com/11898234/42582962-d52b40b6-854d-11e8-82e1-d606ff4c29bf.png)

[2018-07-11 16:39] hoangviet1993 commented on #5259
UPDATE: I got onto a clean Chrome browser ( no extension ) and the issue went away. Looks like one of my extension blocks the GET request to the embedded link to the pencilcodeembed.js.

Closing issue.

[2018-07-11 16:39] #5259 closed, assigned to nobody

[2018-07-11 17:30] bansalnitish opened #5263 "Unable to type some mathematical symbols on chrome"
Steps to Reproduce this:
1. Create an exploration and add math expression input interaction.
2. Click on preview button.

You'll see that some mathematical symbols like `=`, `^`, `(`, `)` etc., don't work.

Expected Output:
All symbols should work as they work in oppia.org.

Alternatively you can try the following link to reproduce the issue - https://oppiatestserver.appspot.com/create/16#/preview

[2018-07-11 18:47] seanlip commented on #5256
I don't particularly mind the specific format of the message. But I agree that the name of the file to fix should be really clear. I should be able to find it within one second of skimming.

I also think that this should not be flagged to the developer as a "directive scope" check -- that seems like it's actively misleading.

[2018-07-11 19:21] apb7 commented on #5256
Okay, we can adjust the error messages accordingly so that there is no confusion. I will pick this up in a couple of days. Thanks!

[2018-07-11 22:31] #4838 closed, assigned to nobody

[2018-07-11 22:58] hoangviet1993 commented on #5251
Looks like submitAnswer is called twice with 1 click action. Double the fatigue detection!
EDIT: Submitting PR soon for this issue.

[2018-07-12 03:38] hoangviet1993 commented on #5252
This is reproducible on production too. Would this be blocking?

[2018-07-12 03:57] hoangviet1993 commented on #5252
Looks like the gap is filled by the error message div:
[code]
Enter input that is not a fraction (1/2), the gap will be filled.

[2018-07-12 04:15] seanlip commented on #5252
Hm.

It didn't use to be this way before, I think. Might be worth checking out old release branches / bisecting the commit history to figure out what change broke it...

[2018-07-12 04:21] hoangviet1993 commented on #5252
Well good news is that removing the css class `oppia-fraction-input-error` solves it.

I am not quite sure what the purpose of having a margin padding for that div is.

Some quick manual testing shows that error messages are displaying fine. You want a PR for it to get hotfixed?

[2018-07-12 04:26] seanlip commented on #5252
Yep, we can cherry-pick it. This is a blocking bug so we should fix it. Thanks!

Do you know which commit this error was introduced in? Could do some kind of bisection on the commit history to find out. The reason I would suggest double-checking is because apparently this was introduced 7 months ago (see [here](https://github.com/oppia/oppia/blame/develop/extensions/interactions/FractionInput/dire

[2018-07-12 04:27] #5251 closed, assigned to hoangviet1993

[2018-07-12 04:33] nithusha21 commented on #5252
I think this is somewhat similar to issue #4868. Maybe the fix there didn't catch the root cause? Not sure. But I can confirm, this exploration looked ok when I played it sometime ago (I think previous release or the one before that).

[2018-07-12 04:35] #5071 closed, assigned to EvsChen

[2018-07-12 07:22] seanlip commented on #5221
Hi @ishucr7. Is this resolved yet?

[2018-07-12 13:09] hoangviet1993 commented on #5106
So this happens when the browser was open for a while ( 2-3 secs) and the development server has yet to be started.
What we can do is to get a while loop bash script to grep for the PID of the server, indicating it has started successfully, before opening the browser. How does that sound?

[2018-07-12 13:22] ishucr7 commented on #5221
Hi @seanlip , I have created the PR. Thanks

[2018-07-12 15:16] hoangviet1993 commented on #5092
This is actually caused by my commit 3301699. Any commit before that did not result into the button being misplaced. Will attempt to solve this bug before release.

[2018-07-12 17:13] #5221 closed, assigned to ishucr7

[2018-07-12 17:45] vibhor98 opened #5274 "Multiple statistics modals appear on multiple clicks on the exploration card in the exploration playthroughs."
## Repro Steps:
* Open any exploration in the Creator Dashboard to see the Exploration Playthroughs.
* Try to see statistics for the individual cards by clicking on the card.
* Click multiple times. Like on card `Card1` shown in the screenshot.
![screen shot 2018-07-12 at 9 29 50 pm](https://user-images.githubusercontent.com/26625980/42650151-42e898de-8629-11e8-8c04-6d9e24658b73.png)
### Observed

[2018-07-12 17:55] vibhor98 opened #5275 "Bad indentation in the statistics modal for individual cards in the exploration playthroughs."
## Repro Steps:
* Open an exploration from the Creator dashboard to see the exploration playthroughs.
* Try to see statistics modal for individual cards in the `Statistics` section.

### Observed behaviour:
![screen shot 2018-07-12 at 9 29 34 pm](https://user-images.githubusercontent.com/26625980/42650562-54f0ce92-862a-11e8-8b7e-89374418a9e4.png)
* Some of the text appear out of the modal. See `?`

[2018-07-12 18:40] seanlip commented on #5106
No objections. Could do it similarly to the e2e test script, where we print a message along the lines of "waiting for server to start..." while waiting.

[2018-07-12 23:02] hoangviet1993 commented on #5263
Are you able to reproduce this on local? @bansalnitish

[2018-07-13 02:12] christineycc commented on #5253
Just a few possible solutions below in addition to the scroll up thing:
1. shorten the width of the correct bar so it wouldn't block the button
2. instead of having the correct pop up stay on the page, make it disappear along with the sprinkles (originally, we were talking about having this always on to encourage students, but I think the continue button and correct otter message itself will also

[2018-07-13 06:55] seanlip commented on #5253
Thanks @christineycc!

@aks681 @kefeh what do you think of these ideas?

[2018-07-13 06:59] aks681 commented on #5253
I like the footer disappearing after some time option. If the width is to be reduced so that the the continue button is fully visible and the banner is till centre aligned, then, I think the banner would barely fit the 'Correct' text, so the banner disappearing after some time seems fine.

[2018-07-13 09:33] #5092 closed, assigned to nobody

[2018-07-13 11:27] hoangviet1993 commented on #5252
Issue should be resolved by my PR after multiple rounds of investigation. Issue closed!

[2018-07-13 11:27] #5252 closed, assigned to nobody

[2018-07-13 15:20] vibhor98 opened #5280 "Add auto-scrolling mechanism in the Drag and Drop interaction"
The current `Drag and Drop Sort` interaction requires automatic scrolling in the Drag and drop editor so that the editor is automatically scrolled up and down when the learner is dragging the tile. Automatic scrolling has already been implemented but is not working on Oppia. So, debugging is required to find out the possible cause behind the bug.

### Repro Steps:
* Open Creator Dashboard and clic

[2018-07-13 19:44] hoangviet1993 commented on #5263
UPDATE: The folder /third_party/static/guppy-b5055b/sym is actually excluded by app.yaml, rendering the interaction buggy.

[2018-07-13 20:14] bansalnitish commented on #5263
Hi,

Are you not able to type the mathematical symbols in the math expression
input preview mode or is it something else? Can you please explain the
issue a bit more.

Let me know if you need any help.

Thanks

On Sat, 14 Jul 2018 at 1:14 AM, Viet Tran Quoc Hoang <
notifications@github.com> wrote:

[2018-07-13 20:30] bansalnitish commented on #5263
Hi @hoangviet1993
I checked this locally and I'm not able to reproduce this. It's working fine locally.

[2018-07-13 20:35] hoangviet1993 commented on #5263
No console error at all on your local ? @bansalnitish

[2018-07-13 20:36] bansalnitish commented on #5263
Nope.
What do you get @hoangviet1993 ?

[2018-07-13 20:51] seanlip commented on #5263
Following up from discussion with @hoangviet1993 -- I think we can probably just unexclude the file in question (or even unexclude the whole folder containing the file).

Note that you can test a production env locally by running `bash scripts/start.sh --prod_env`.

[2018-07-13 21:15] hoangviet1993 commented on #5263
So I jump on develop and run `bash scripts/start.sh --prod_env` . The bug/ console error are still not producible. Is there something I am missing?

[2018-07-13 21:21] hoangviet1993 commented on #5263
Isn't deploy mode the occasion when app.yaml gets involved?

[2018-07-14 00:29] hoangviet1993 commented on #5263
So my problem is that I cannot replicate the 404 error by MathExpressionInput that is on Oppia test server. Therefore, should I make changes to app.yaml file, I would not be sure if it completely fixes it. ( I have some clue what is needed from the code base ).

[2018-07-14 00:33] seanlip commented on #5263
Ah ok. Let me try deploying later with the skip files thing updated. I'll send an update. (I'm a bit surprised though because I expected app.yaml to work the same way locally -- it's handling all the main routing in the first place. Though one might have to restart the local devserver for changes in app.yaml to take effect.)

[2018-07-14 03:51] seanlip opened #5285 "Find a better way to keep track of skip_files locally"
It seems that files/folders that are specified in skip_files are still available and serveable locally. This caused issues with skew between the local and prod environments (even when running using --prod_env) because the tests passed locally, but some stuff broke on the deployment to App Engine.

It would be good to remove this skew, or at least its effects. I.e., either stuff in app.yaml's skip_

[2018-07-14 04:18] hoangviet1993 commented on #5285
The 2nd checkbox in #5201 is key for keeping number of files under control. We do not need the test folders for each of the third party/static directory. This can start by slimming down  a lot of the dependencies that does not have the "bundle" or "file" property in manifest.json.

[2018-07-14 04:23] hoangviet1993 commented on #5285
Here are the ones without "bundle" property at the point of writing this:
- [ ] guppy (324 files)
- [ ] jqueryUITouchPunch(3 files)
- [ ] mathExpressions(57 files)
- [ ] mathJax(1831 files)
- [ ] mathJs(3 files)
- [ ] ckeditor ( all of ckeditor related dependencies )(624 files)( contacted dev using this dependency )
- [ ] uiCodemirror ( 16 files)
- [ ] uiMap ( 5 files)

[2018-07-14 04:29] seanlip commented on #5285
That's much fewer than I expected! Thanks for enumerating them, @hoangviet1993.

[2018-07-14 04:34] hoangviet1993 commented on #5285
I did not include the ones above static i.e the one located in third_party... I assume those are key utilitiy and not simply for decorative purposes like the ones in static?

[2018-07-14 05:36] hoangviet1993 commented on #5263
@bansalnitish Test server has been re-deployed. Can you verify if the issue has been resolved?

[2018-07-14 05:40] seanlip commented on #5285
Well, I don't know if I'd differentiate them like that (key utility vs decorative) -- e.g. the RTE is a key utility.

But yeah, I'm pretty sure we don't want to randomly exclude parts of the ones above static. They're typically more interlinked.

Btw, the distinction is actually more like Python vs JS. The thing about the JS stuff (in static/) is that, often, they're minified into a single file an

[2018-07-14 05:45] hoangviet1993 commented on #5285
Yep I totally agree. My initial judgement was completely off the mark there.  For now I think we can focus on /static as a starting point. We can expand the scope to include the backend dependencies if the need arises.

[2018-07-14 05:49] seanlip commented on #5285
Sounds good!

[2018-07-14 06:37] apb7 opened #5286 "A text message appears whenever the pointer is taken to any of the RTE components while editing"
## Observed Behavior:
A text box appears with a message, "Rich Text Editor, editor `<number>`" whenever the pointer is taken to any of the RTE components while editing stuff.

![screenshot from 2018-07-14 12-04-53](https://user-images.githubusercontent.com/24826041/42721778-2f78f420-875e-11e8-8d67-dd88790fd2f0.png)

## Expected Behavior:
No such message should appear.

[2018-07-14 06:37] apb7 commented on #5286
Hi @seanlip, @AllanYangZhou and @bansalnitish, can you please verify the expected behavior?
Thanks!

[2018-07-14 06:39] apb7 commented on #5232
This is producible on the new RTE as well!

[2018-07-14 06:39] seanlip commented on #5286
I agree that no such message should appear. Thanks for catching this!

[2018-07-14 07:24] bansalnitish commented on #5263
Yup, it has been resolved.

[2018-07-14 07:50] vibhor98 opened #5287 "Error saving the interaction while creating the exploration"
## Repro Steps:
* Open Creator Dashboard and create an exploration.
* Add an interaction and add rules for that interaction.
* Switch to any tab.
* Get back to editing mode and delete the interaction.
* Try re-adding the same interaction second time.

### Observed behaviour:
* An error appears which prevents saving the interaction and breaks the functionality.
![screen shot 2018-07-13 at 9 56 15 p

[2018-07-14 09:27] #5286 closed, assigned to bansalnitish

[2018-07-14 10:28] vojtechjelinek commented on #5285
Oh, ok, I when I was trying to add `/templates/dev/head` to the `skip_files` it didn't work locally (I didn't really into it, because I thought the `skip_files` is the reason).

[2018-07-14 12:18] hoangviet1993 commented on #5263
OK, great! Should you find any subsequent problem with this particular interaction. Feel free to re-open it!

[2018-07-14 12:18] #5263 closed, assigned to bansalnitish

[2018-07-14 20:20] hoangviet1993 commented on #1381
TODO was completed by #5139. Closing issue

[2018-07-14 20:20] #1381 closed

[2018-07-15 02:09] hoangviet1993 commented on #5234
So I added
 `application_readable: true`
below
`  upload: extensions/(interactions|rich_text_components|objects|classifiers|ckeditor_plugins)/(.*\.(js|png))$`
in app.yaml
And the error went away.
Are the regex including the protractor.js files too?

[2018-07-15 02:09] hoangviet1993 commented on #5234
These files are served on creating a new exploration.
EDIT: https://www.oppia.org/extensions/interactions/TextInput/protractor.js

[2018-07-15 04:11] seanlip commented on #5234
I get that they are served/available. But why are they requested?

[2018-07-15 04:13] hoangviet1993 commented on #5234
Because the other .js files in that folder is requested e.g.  TextInputPredictionService.js

[2018-07-15 04:14] seanlip commented on #5234
So requesting one file in a folder means that all files in the folder are requested?

That doesn't really make sense to me...

[2018-07-15 04:19] hoangviet1993 commented on #5234
I do not see any protractor.js request inside /core so I really think this is on GAE?

[2018-07-15 04:29] hoangviet1993 commented on #5234
So I put the TextInput's protractor.js inside a different folder and the error message for it went away.

[2018-07-15 07:29] vibhor98 opened #5295 "Console error while dragging block of items in the Drag and Drop Sort interaction"
Currently the following console error appears when the learner starts dragging the block of tiles occupying the same position in the Drag and drop sort interaction. This error is thrown by `angular-ui-tree` module itself and requires debugging.

![screen shot 2018-07-15 at 12 37 53 pm](https://user-images.githubusercontent.com/26625980/42731631-d10b1ab8-882e-11e8-896a-ae95327d4fe8.png)

**Note**:

[2018-07-15 07:45] seanlip commented on #5234
OK, I read up on this a bit more: https://cloud.google.com/appengine/docs/standard/php/config/appref#handlers_element

I think we want the former case -- i.e. these files are uploaded as static data and are not readable by an application. So I think my question is different, sorry: why is the _code in the Python part of the application_ trying to read these files locally? (Not just protractor.js,

[2018-07-15 12:15] hoangviet1993 commented on #5234
1.GAE serves all interactions's .js or .png files with this handlers entry in the app.yaml:

[code]

2.Some files are then requested by the interactions template upon clicking "Create":

`extensions/interactions/TextInput/TextInputPredictionService.js`
`extensions/interactions/CodeRepl/CodeReplPredictionService.js`

3. The error message is produced because of the `application_readable` flag is not

[2018-07-15 14:11] aks681 opened #5296 "Invalid answers accepted by math expression interaction"
In the all_interactions sample exploration (/explore/16), in the card that has the math expression input,:

**Observed**:
 Typing in y = mx<sup>2</sup> also passes (considered equivalent to y=mx+b), but this shouldn't be the case.

**Expected**
Only equations equivalent to y  = mx + c should pass.

[2018-07-15 14:34] aks681 opened #5297 "Error in manually added audio translations"
This was found when playing the second card (and subsequent cards) in the first [exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v) of the Fractions collection in the test server.
In this card, the Hinglish audio is played under English option and the following console error is also seen (though the auto generated English audio is played correctly):
!

[2018-07-15 14:35] hoangviet1993 commented on #5296
How are you entering  y = mx<sup>2</sup> into the input box?

[2018-07-15 14:40] aks681 commented on #5296
Typed y=mx^2 and it formatted correctly with the superscript.

[2018-07-15 14:43] hoangviet1993 commented on #5296
The only way you can arrive at the default outcome ( to get the wrong answer ) is to not use x or y variable.

[2018-07-15 14:46] aks681 commented on #5296
Oh, then that is also an issue but the response I am getting is that this answer was classified under y = mx + b (reply was my input was a Slope Intercept Form), which shouldn't happen, right?

[2018-07-15 16:00] mharelick opened #5298 "Get Involved page not easily accessible when the application rectangle is narrow"
When browser window is not narrow and the menu tabs are across the top it is easy to find the Get Involved page
![screen shot 2018-07-15 at 11 52 39 am](https://user-images.githubusercontent.com/37512039/42735639-ea763216-8825-11e8-8c3e-6584837e3dc9.png)

When the screen is narrow, and the same format this on mobile iOS devices, its difficult to find the  Get Involved Page:

The immediate menu doe

[2018-07-15 16:25] mharelick opened #5299 "Login with Google popup should be formatted centered"
The right side of the popup for login to google almost cuts the "e" off. It would better if it was centered.
![screen shot 2018-07-15 at 12 21 26 pm](https://user-images.githubusercontent.com/37512039/42735882-2482b318-882a-11e8-8b94-5c75b63d9ee1.png)

[2018-07-15 17:04] hemant0308 commented on #5134
I would like to work on **core.platform.users.gae_current_user_services** .
But I have a doubt..
How can we test GAE (Google App Engine) functionalities..??

[2018-07-15 17:34] DubeySandeep commented on #5297
@aks681, Thanks for reporting.
That looks like a duplicate issue. (I think @nithusha has posted such issue earlier!)

Edit: Duplicate of #4371.

[2018-07-15 17:41] aks681 commented on #5297
Yeah, console error part was reported in that. Maybe this is specific to the fractions collection in the test server, but in it Hinglish audio is played under English option in the dropdown.

[2018-07-15 17:45] DubeySandeep commented on #5299
@mharelick, Thanks for reporting issue! :)

@seanlip, is it a duplicate of #1680? (also, check the last comment of that issue)

[2018-07-15 17:47] seanlip commented on #5299
I think it's a bit different. This one is clearly a bug; the other one proposes a redesign of the experience in general.

Thanks for checking!

[2018-07-15 17:50] aks681 commented on #5297
Closing the issue since it's a duplicate.

[2018-07-15 17:50] #5297 closed, assigned to nobody

[2018-07-15 18:03] jacobdavis11 commented on #5275
This is a duplicate of #4158.

Would you be able to provide (in #4158) either a link to somewhere on oppia.org this is happening, or reproduction instructions? That would be very helpful for debugging.

[2018-07-15 18:03] #5275 closed, assigned to nobody

[2018-07-15 18:06] jacobdavis11 commented on #5257
Please could you provide reproduction instructions of what happens when using oppia.org, and what you would like to happen instead.

Also I'm not sure about your version numbers - is everything fine in the latest version of chrome?

[2018-07-15 20:56] jacobdavis11 opened #5301 "Number-with-units interaction requires spaces in currency entries"
Create a number-with-units interaction and in the answers box type "$4.50". This will be rejected with the message " Please enter a valid currency (e.g., $ 5 or ₹ 5) ".

Instead, the submission should be accepted since it is standard not to have spaces between currency symbols and the numbers.

[2018-07-15 21:01] seanlip commented on #5301
I agree that this is a problem. @vibhor98 could you PTAL?

Also /cc @prasanna08.

[2018-07-15 21:04] jacobdavis11 opened #5302 "The number-with-units interaction selection tile has a too thick a border"
The interaction selector looks like this (on Firefox):

<img width="558" alt="screen shot 2018-07-15 at 23 02 25" src="https://user-images.githubusercontent.com/13726796/42738378-45f07130-8883-11e8-9d79-4792acc68062.png">

There is a thick border around three sides of the picture for number-with-units.

[2018-07-15 21:11] vibhor98 commented on #5301
Currently the individual parts- currency and number must have spaces so that they can be broken into individual parts. Also, there is clear guidelines about the same in the help table. If it sounds like an issue, I'll modify the same.

[2018-07-15 21:19] hoangviet1993 commented on #5296
So I think there needs to be a note to MathExpressionInput's usage. It can only be used for comparing one side of an equation i.e comparing x with x<sup>2</sup>.

[2018-07-15 22:02] jacobdavis11 commented on #5301
I first encountered this problem when entering possible responses in the editor view, where the help table is not available.

And in general I suspect most people are going to not read the help table, especially after getting an incorrect warning that e.g. $4.50 is not a "valid currency", when in fact it is valid.

If there are technical reasons why it's impossible to accept answers without spaces

[2018-07-15 22:16] aks681 opened #5303 "Auto generated audio also generates audio for latex symbols"
This may not be a code issue since the audio seems to be doing its job correctly, but in a state having latex symbols in its content (eg: fractions state in all_interactions exploration - /explore/16), the auto generated audio generates audio for even the latex symbols which is not understandable.
Currently, each letter of presumably the latex code for the symbols are spoken.

[2018-07-15 22:16] hoangviet1993 commented on #5296
And proper Latex styling  for the rule spec should be required for proper mathematic expression parsing.

[2018-07-15 22:48] aks681 commented on #5296
Yeah, ax + by + c = 0 works fine (doesn't pass for ax<sup>2</sup> + by + c = 0). Then maybe a note should be given in the interaction that only one sided equations are supported.

[2018-07-16 00:50] mharelick opened #5304 "Partially completed lessons in safari are not saved in the "In Progress" area"
Tried this with two of the fractions lessons in safari.

Fraction lesson 1:
Complete the exercise where you fill in 3/5.  Navigate away or terminate the browser. When you return the lesson state is not found in "In Process" and you have to start over again. This only occurs on the oppiatestserver page.

On oppia.org, when attempting to terminate the browser you get a popup that says "Are you sure

[2018-07-16 02:29] seanlip commented on #5296
I don't understand, sorry -- what is a one-sided equation?

Also, I think I might have an idea about what's going on here (and I think the demo exploration might be wrong). IIRC the math expression input was meant for people entering math _expressions_, not equations. An expression is something like `ax^2 + by + c` and has no equals sign.

Does it work correctly for expressions? If so then I think

[2018-07-16 02:38] hoangviet1993 commented on #5296
I think one sided equation here means an equation with unknown on 1 side only.

And yes, the interaction works as expected if the rule spec is a valid Latex expression. If the rule is an invalid one, the interaction will crash.

[2018-07-16 03:25] seanlip commented on #5296
Ah OK. Then I guess this isn't really "works as intended"?

[2018-07-16 03:30] hoangviet1993 commented on #5296
I agree. Need to address the issue that surface from all_interaction misusing Math Expression Input for math equation.
Untagging!

[2018-07-16 03:51] vibhor98 commented on #5301
It is possible both ways. But I think changing the warning is better because for rupees, we do add a space like `Rs 5` so its better if we keep the rule generic.

[2018-07-16 03:53] seanlip commented on #5301
I think $4.50 is something I would naturally write, and is consistent with writing you'd find elsewhere on the web (e.g. [here](https://en.wikipedia.org/wiki/United_States_two-dollar_bill)). It would be better to accept it.

[2018-07-16 04:50] prasanna08 commented on #5301
I suggest to modify NumberWithUnits should accept "$4.5" with or without
space. Also modify the warning to be more explicit and only include example
of rupees as we add space after Rs. and ₹ both.

On Mon 16 Jul, 2018, 9:23 AM Sean Lip, <notifications@github.com> wrote:

[2018-07-16 05:54] seanlip commented on #5234
Ah OK, thanks!

One more clarification: in step (2), I notice that extensions/dependencies/code_repl_prediction.html is doing the requesting. Do we get similar error logs for the "script src" imports in, e.g., header_js_libs.html? If not, what is the difference between these two cases?

[2018-07-16 06:11] bansalnitish opened #5307 "No option to play audio when clicked on hints button"
Steps to reproduce:
1. Create an exploration and add audio to hints section.
2. Click on preview and play.
3. Wait till hint button to appear at the bottom of the page.
4. Click on hints, you won't see the option to play the audio you uploaded.

Though if you keep the audio bar open first and then click hint then you can listen the audio, I think it's kind of weird.

Expected Behaviour:
Button to

[2018-07-16 06:19] bansalnitish commented on #5307
cc / @nithusha21

[2018-07-16 06:59] jp8042 commented on #3950
Hi, I would like to work on collection_editor/collection_editor.html if thats open.

[2018-07-16 07:37] seanlip commented on #3950
Hi @jp8042, sure -- go for it! I've added you.

[2018-07-16 07:41] 1995YogeshSharma commented on #5134
HI @hemant0308, I have assigned that file to you.

You should go through the wiki pages linked in the issue description. I think that would make you clear on how to implement tests.

[2018-07-16 14:52] hoangviet1993 commented on #5234
OK, so I take a look at the source code of [TextInputPredictionService.js](https://github.com/oppia/oppia/blob/develop/extensions/interactions/TextInput/TextInputPredictionService.js).
Looks like it is indeed trying to read files from `/extensions/classifiers/`,
[code]
 which is served by the same handler entry without `application_readable` flag. Is there any particular reason why  ```TextInputPr

[2018-07-16 16:56] nithusha21 opened #5308 "Training interface not very intuitive to use for new creators"
I was playing around with the training interface as a part of the release testing. It took me quite a while to figure out how to actually train an answer and what it meant to train an answer. It would be nice to have a guide or some help dialog which gives some info about how to use this feature.

A few comments:
- In the "add new answer" modal, if you enter an answer which matches some answer gro

[2018-07-16 20:15] mharelick commented on #5134
Please assign  core.controllers.tasks to me

[2018-07-16 20:17] apb7 commented on #5134
Done -- go ahead, @mharelick :)

[2018-07-16 21:11] unit-00 commented on #4057
Hi hello, can I be assigned FormBuilder.js? Please and thank you!

[2018-07-16 21:14] apb7 commented on #4057
Hi @unit-00, done -- march ahead :)

[2018-07-16 23:09] #5260 closed, assigned to nobody

[2018-07-16 23:23] seanlip opened #5310 "Create a python script that does a size check for third_party."
This is a suggestion by @hoangviet1993 (thanks @hoangviet1993!):

Let's include a python script that does a size-check (i.e. number of files) for third_party. Should It get above , let's say 7k?, the Travis build should fail.

The aim of this is to prevent us accidentally breaching the 10k file limit on App Engine. See also #5201 which is related.

/cc @vojtechjelinek

[2018-07-16 23:24] seanlip commented on #5310
Also /cc @apb7 since this relates to dev workflow.

[2018-07-16 23:26] #5004 closed, assigned to apb7

[2018-07-16 23:43] seanlip commented on #5308
Thanks for the comments @nithusha21! I think it's very helpful to understand how someone who's not familiar with the feature perceives it. On the whole, I'd defer to @prasanna08 on which of these changes we should prioritize for the release, since he's thought about this area a lot more.

[2018-07-17 02:25] hoangviet1993 commented on #5234
Did I answer your question, @seanlip ?

[2018-07-17 02:27] seanlip commented on #5234
Ah, sorry. Not quite -- actually, there's no reading going on here. This is just the list of dependencies, which would have already been loaded in the page from somewhere else. I took a look and I think this happens in text_input_prediction.html.

So I guess my question still remains, i.e. does header_js_libs.html generate the same types of error logs, and if not, why?

[2018-07-17 03:01] hoangviet1993 commented on #5234
I do not know if header_js_libs.html generates error or not. It is templated by Jinja. I know that much.
One difference I can see is that header_js_libs.html's `/third_party/static` folder are served as `static_dir` instead of individual `static_file`.

[2018-07-17 03:38] #5287 closed, assigned to DubeySandeep

[2018-07-17 05:00] tjiang11 opened #5314 "'.registerOnStateRenamedCallback' test in ExplorationStatesServiceSpec fails"
https://github.com/oppia/oppia/pull/5277/commits/bd3615379cd6ef0235c372477990d2825ebee51b#diff-8e07c60afa1bebedcb5b5b952378a2a4L78

This PR was approved, but the test linked had to be deleted because it failed for unknown reasons. We should figure out the cause of this and reinstate the test.

Here is the error message for the failed test:
![image](https://user-images.githubusercontent.com/1180709

[2018-07-17 06:09] seanlip commented on #5234
OK. I see a TODO in app.yaml by @vojtechjelinek saying "Remove application_readable after all
components are referenced directly by URL". Maybe that would shed some light on this.

@vojtechjelinek can you shed some light on that TODO and what would be needed to complete it?

[2018-07-17 06:30] seanlip opened #5315 "Playthroughs should not record in editor preview mode"
To reproduce: create a new exploration with two states. The first state has text input and the second state is the final destination. Then go to the Preview tab and try to submit an answer.

The loading dots will appear and will never disappear again. There is a console error. It says:

[code]

I think the playthrough service is trying to record actions when it shouldn't be.

/cc @pranavsid98 @bri

[2018-07-17 09:18] seanlip commented on #5274
/cc @pranavsid98 @brianrodri

[2018-07-17 17:21] bansalnitish opened #5316 "Translations should not have the permission to publish changes"
Steps to reproduce:
1. Create an exploration and add a translator to it from the settings tab in the roles section.
2. Open this exploration with translators account and you could add the translations (upload the audio clips).
3. After adding/removing the clips you won't see any save draft button but you'll see just the publish changes button.

Expected Behaviour:
Translator should not be given th

[2018-07-17 17:27] nithusha21 commented on #5316
One thing to add on to the report, the translations were added to an already published exploration (i.e. before step 2, publish the exploration)

[2018-07-17 17:51] DubeySandeep commented on #5316
@bansalnitish, I think the exploration in which you have assigned the translator is already published!
Also, the translator doesn't have the rights to publish any exploration they just have the rights to save audio changes to the exploration (when exploration is in private or public state)

[2018-07-17 18:20] #5253 closed, assigned to aks681

[2018-07-17 18:27] DubeySandeep commented on #5316
The translator workflow is similar to the editor's workflow, once an Owner assigned a translator for their exploration, then translator can save changes to those exploration whether the exploration is published or not!
And the one you want to have i.e, the Owner should review the changes that look similar to the suggestion workflow (Once a guest user or any random user try to add some changes thro

[2018-07-17 18:27] #5316 closed, assigned to nobody

[2018-07-17 18:51] bansalnitish opened #5317 "Content in preview mode does not have indentation"
If the content of the editor has indentation (created by using the indent button present in the toolbar) for any element, it's not reflected in the preview mode.

Screenshots:

This is the content that I saved in one card.
![screenshot from 2018-07-18 00-18-18](https://user-images.githubusercontent.com/22434689/42839075-2f49de00-8a20-11e8-9751-33f85a5c49af.png)

This is the image that I obtained i

[2018-07-17 18:52] bansalnitish commented on #5316
Yup it makes sense. Thanks for the explanation.

[2018-07-17 19:06] DubeySandeep commented on #5307
@nithusha21, This is a flaw of our current audio structure in exploration player, but I'm not sure who is going to use this, like is there any chance of uploading just the hints audio? (or using just the hints audio?)

[2018-07-17 19:25] apb7 opened #5319 "The cursor automatically moves to the beginning of the sentence when formatting text in the editor"
## Observed behavior:
![screencast-oppiatestserver appspot com-2018 07 18-00-46-01](https://user-images.githubusercontent.com/24826041/42840557-e09318e4-8a24-11e8-96e4-ae503f280b54.gif)

## Expected behavior:
The cursor should remain at the same position. Its position should not change when formatting text.

[2018-07-17 19:25] apb7 commented on #5319
Hi @bansalnitish, can you confirm both the observed as well as the expected behavior? Thanks!

[2018-07-17 19:26] apb7 commented on #5319
Also, adding @AllanYangZhou and @seanlip!

[2018-07-17 19:29] seanlip commented on #5307
Thanks for catching this @bansalnitish! I think this can be left as-is. The correct fix really is to record the audio for the main content, and I think @DubeySandeep is working on a status indicator to ensure that creators do just that.

[2018-07-17 19:29] #5307 closed, assigned to nobody

[2018-07-17 19:32] seanlip commented on #5319
Yeah, this looks like a regression that needs to be resolved. Marked as blocking. Thanks @apb7 !

[2018-07-18 02:18] seanlip opened #5324 "StateTopAnswersStatsService is fragile to state renaming"
To repro:

1. Create an exploration whose first state uses TextInput. Publish it.
2. Submit some answers to it, as a learner.
3. Run the InteractionAnswerSummariesAggregator job.
4. Go to the editor page. The issues card should appear in the bottom right of the exploration editor tab for the first state.
5. Change the name of the first state to something else.

You'll see that the issues card disa

[2018-07-18 02:30] seanlip opened #5325 "State stats graph in editor stats tab does not properly support unicode state names"
To reproduce:

1. Create an exploration with a unicode state name and publish it.
2. Go to the stats tab.
3. Click on the state name in the stats graph.

The stats modal won't pop up. Instead, you'll see a warning:

"Parameter values passed into interpolateUrl must only contain alphanumerical characters, hyphens, underscores or spaces: '{{state_name}}"

This is probably due to this line: https://g

[2018-07-18 04:56] A-Yerkeshev opened #5326 "SSL error when downloading dependencies (?)"
Good day. I am trying to run Oppia on the local machine. After the vagrant machine has been initialized with 'vagrant up', localhost:8181 sent no response. So I followed [this](https://github.com/oppia/oppia/wiki/Installing-Oppia(Vagrant)) instructions and executed the following commands:
[code]
However, I receive the following error:
[code]

Probably I messed something during installation, can an

[2018-07-18 05:40] WickedBrat commented on #5274
This issue exists almost throughout the site. For example: Create an exploration and click multiple times on "Add Hints".

[2018-07-18 05:48] seanlip commented on #5326
Hi @A-Yerkeshev! Our Windows installation instructions are a bit out of date, and I think there's some work going on to try and fix them. I think @dawsoneliasen ran into a similar problem.

However, in the meantime, I don't actually have an answer to this. Would you like to look into it as an initial bug to solve? The Internet may have some information on the error.

[2018-07-18 05:59] seanlip commented on #5326
Actually -- I'm hearing that this particular problem happens on Linux too and is not just a Windows issue.

@vojtechjelinek -- @DubeySandeep said you encountered and solved a similar problem. Can you say what you did?

Also, I think @hoangviet1993 sent @bansalnitish an email about moving the ckeditor dependencies to github instead. @bansalnitish can we do that? Maybe that will address this issue?

[2018-07-18 06:41] seanlip commented on #5295
Will this be released to users in July? If so, seems like it blocks the release...

[2018-07-18 06:42] seanlip commented on #5295
Oh, scratch that. It's just number-with-units going out in this release, right?

[2018-07-18 06:46] vibhor98 commented on #5295
Yes, it is not going to be released in July. Thanks!

[2018-07-18 07:06] nithusha21 commented on #5296
I believe we should prioritize this for the release and fix it ASAP. Marking it as blocking.

These are the things we need to do to fix this, I think(feel free to add on if I am missing some context or cases)
- [ ] prevent usage of '=' in math expression inputs
- [ ] edit default exploration to prevent use of '='
- [ ] audit all existing explorations for use of '=' in math expression input rules.

[2018-07-18 07:21] vojtechjelinek commented on #5326
I did nothing, It started working next day (I might have installed some system updates).

[2018-07-18 07:21] nithusha21 commented on #5257
Repro steps on Oppia.org:
- Open https://www.oppia.org/explore/umPkwp0L1M0-?collection_id=4UgTQUc1tala This exploration on chrome mobile (version 67, latest as per play store).
- Try selecting audio languages. Only hinglish option is available for me (no English(auto))
![whatsapp image 2018-07-18 at 12 48 18](https://user-images.githubusercontent.com/11898234/42865964-e158a6fe-8a88-11e8-8a0c-dafdb

[2018-07-18 07:30] nithusha21 commented on #5308
Hi @prasanna08. Just a ping, do you think we need to do any of the above for this release?
Thanks!

[2018-07-18 07:32] prasanna08 commented on #5308
Hi Nithesh, the interface won't be enabled in this release. There is still
lot of production testing remaining. I am currently busy with that. The
whole thing will be enabled only when its completely failsafe.

On Wed 18 Jul, 2018, 1:00 PM Nithesh N. Hariharan, <notifications@github.com>
wrote:

[2018-07-18 07:40] nithusha21 commented on #5308
![image](https://user-images.githubusercontent.com/11898234/42866976-cab489ce-8a8b-11e8-8818-a0c38e7a0017.png)
Are you sure it isn't enabled? I could access the "modify training data" dialog on the test server. Maybe you need to hotfix to disable it?

[2018-07-18 07:42] prasanna08 commented on #5308
Ah yes, that needs to be disabled. I will push PR asap.

On Wed 18 Jul, 2018, 1:10 PM Nithesh N. Hariharan, <notifications@github.com>
wrote:

[2018-07-18 09:19] aks681 opened #5329 "Refactor activeCard to use a card object in the exploration_player"
In PlayerTranscriptService, currently the card history is stored as a JSON array having various fields for the card properties. This is to be changed to a JSON array with the following properties:

- isConceptCard: bool
- stateName: string or null
- card object: A common object to be used if it's a concept card or not.

[2018-07-18 11:08] A-Yerkeshev commented on #5326
Mysterious power of Windows :)
I will check out the net for possible solutions

According to my error log, the problem occurs when the terminal executes line 126 in "scripts/install_third_party.py", which is `urllib.urlretrieve(source_url, filename=TMP_UNZIP_PATH)`.
Then it redirects to urllib library, then to httplib, and finally, error occurs in line 450 of ssl.py:
` self._sslobj.do_handshake()`

[2018-07-18 11:43] hoangviet1993 commented on #5326
Can you compare the content of your `third_party/static` folder to the `frontend` entries in [manifest.json](https://github.com/oppia/oppia/blob/95633b0649d374ba5a0579294cbaba0cbe0ad5d2/manifest.json#L83)?
They should be a 1-to-1 map. For example:
`third_party/static/angularjs-...` matches with the "angular" dict.
`third_party/static/angular-audio-...` matches with the "angularAudio" dict.
.. and

[2018-07-18 19:39] kevintab95 commented on #5299
Hi @mharelick -- I tried reproducing this but looks like the "Sign in with Google" text appears properly. Only the separator intersects the "G+".

![image](https://user-images.githubusercontent.com/11008603/42903259-e8d6762a-8aee-11e8-812c-cbae22c011b4.png)

What browser did you try this on and was this on mobile? I tried Firefox and Chrome on my machine and tried resizing the browser window. It s

[2018-07-18 20:07] kevintab95 commented on #5298
We don't have a couple of other links either. Like:
1. Create exploration (On a desktop browser this option is available on any page, on mobile I guess the user needs to be in the splash screen. The creator dashboard can be accessed from the top right menu but only existing explorations can be modified here.)
![image](https://user-images.githubusercontent.com/11008603/42904730-8aa8413c-8af3-11e8-9

[2018-07-18 20:24] seanlip commented on #5298
Oh, that's interesting. I worry that the sidebar menu is going to get a bit too large so we do need to choose wisely.

Let's just add a direct link to the Oppia Foundation at the bottom, and nothing else. I think that covers "Get Involved" as well. (And as you say, "Teach with Oppia" probably covers the participation playbook.) Finally, I don't think we need to have the "Create" button there, beca

[2018-07-18 20:29] kevintab95 commented on #5298
Yep, just adding the Oppia Foundation link to the bottom of the sidebar menu sounds good. Thanks!

[2018-07-18 20:31] DubeySandeep commented on #5326
I found this issue was happening because of python version, this can be reproduced in python version <  2.7.9. To upgrade python version one can follow these steps:
- sudo apt-get update
- sudo apt-get install --only-upgrade python2.7

[2018-07-19 02:34] A-Yerkeshev commented on #5326
@hoangviet1993 Actually third_party/static/ folder is empty for some reason
@DubeySandeep Unfortunately, upgrade of Python did not help, probably for the reason above

[2018-07-19 02:43] hoangviet1993 commented on #5326
Looks like there could be a variety of fixes out there. What have you tried? Have you seen this?
https://github.com/pytorch/pytorch/pull/3280

[2018-07-19 02:58] A-Yerkeshev commented on #5326
Perfect. Yesterday Sandeep Dubey sent me a link to [this zip file](https://www.dropbox.com/s/47663clurv23fjk/static.zip?dl=0), I downloaded and unzipped content of it into third_party/static folder and now everything works fine

[2018-07-19 06:38] DubeySandeep commented on #4057
Assigned @A-Yerkeshev for ResponsesService.js

[2018-07-19 11:44] hoangviet1993 commented on #5326
Looks like issue is resolved. Thanks @DubeySandeep for the helpful link!

[2018-07-19 11:46] mharelick commented on #5299
This using oppiatestserver.appspot.com.

I am using safari
Chrome and Firefox are ok.

On the main site, oppia.org it is fine with safari.

[2018-07-19 12:55] bansalnitish commented on #5326
Hi @hoangviet1993, isn't this temporary fix? Whenever there will be change in the third_party/static you again have to make this zip file.
I think the issue should remain open. What do you say?

[2018-07-19 13:04] bansalnitish commented on #5326
I have also moved CKEditor dependencies to GitHub as in https://github.com/oppia/oppia/pull/5318/commits/e3b30877bc45c239d724df91ebfe39814a2a23a9.

Also I encountered a somewhat similar issue here:
- https://github.com/NVIDIA/nvidia-docker/issues/714
- https://github.com/rtfd/readthedocs.org/issues/3062

[2018-07-19 13:22] hoangviet1993 commented on #5326
I downloaded the CkEditor's Github zip file. It is a lot bigger than the final release zip(around 8800 files vs 442 files)  so I don't think you should switch to Github for the CkEditor library.
Anyhow, reopening as @bansalnitish suggested!

[2018-07-19 13:38] bansalnitish commented on #5319
Hi @apb7 I tried reproducing this but I'm not able to reproduce this. Can you provide some more insights if possible? Thanks :)

[2018-07-19 13:40] hoangviet1993 commented on #5201
Another solution that I came across is to host our own "minified" version of each dependency on a separate Github. This will ensure a constant upstream as well as control over file count.

Updating the self-hosted dependency is going to be an issue. However, each dependency update is a little journey by itself so it should be treated with great care.

[2018-07-19 13:40] bansalnitish commented on #5326
Hi @hoangviet1993
You can check precisely this comment in the issue I specified above https://github.com/rtfd/readthedocs.org/issues/3062#issuecomment-370851206

[2018-07-19 13:44] anmolshkl commented on #4252
@WickedBrat last call, should we de-assign you from this?

[2018-07-19 13:45] hoangviet1993 commented on #5326
Yep, there could be a variety of fixes for the SSL error. Changing our download source to Github won't cover **ALL** of the potential cases / errors on fresh installation.
My proposed solution is just one of the many solutions out there! Hope you understand 👍

[2018-07-19 13:45] anmolshkl commented on #5145
@brianrodri ping!

[2018-07-19 13:46] anmolshkl commented on #5138
@ishucr7 @vojtechjelinek ping?

[2018-07-19 18:13] bansalnitish commented on #5319
Hi @AllanYangZhou, can you reproduce this one?

[2018-07-19 18:23] bansalnitish commented on #5326
Hi @hoangviet1993 do you have some solution to fix this? I'm not able to fix this one. I was getting error related to handshake problem on running the curl --sslv3 command but I checked just know and I'm not getting any errors now, may be you or someone else can cross check this.
Also @vojtechjelinek this happened with you too I guess that it started working fine the next day (correct me if I'm wr

[2018-07-19 18:59] kevintab95 commented on #5299
Thanks @mharelick. :)

I'm able to reproduce this on Safari. I looked into it a bit and it seems like it could be related to faux weights (see https://www.smashingmagazine.com/2012/07/avoiding-faux-weights-styles-google-web-fonts/).

I tried setting the font-weight property to 'normal' and it looks consistent across the browsers (although it not as bold as it used to be).

Here's how it looks:

Ch

[2018-07-19 19:22] apb7 commented on #5319
Hi @bansalnitish, this is a bit difficult to reproduce. Here are a few steps to get this:
1. Type any word with or without pressing Ctrl + B.
2. Leave a space after this (and each) word.
3. Keep alternating Ctrl + B for the words.

After a few tries, the cursor randomly moves back to the start of the word or sentence. Feel free to ping me in case it's still not reproducible. More than happy to hel

[2018-07-19 19:42] bansalnitish commented on #5319
Hi @apb7, I am still unable to reproduce this issue. Here is what I tried:

![bold](https://user-images.githubusercontent.com/22434689/42966162-ee7188d8-8bb9-11e8-81fc-fdc225de3745.gif)

[2018-07-19 19:55] bansalnitish commented on #5319
I think the issue must be there since I found some other people too facing this problem on searching it online. If we remove the plugin `scayt`, I think it can fix this (not sure though).

[2018-07-19 20:14] brianrodri commented on #5325
Ack. I'll see what I can do!

[2018-07-19 20:29] apb7 opened #5333 "Frontend tests failing for develop"
The frontend tests seem to be failing for the develop branch without any context:
[code]
This has started occuring post the merging of PR #5313.
I have also observed this in one of the recent PR builds. I am not too sure where are we going wrong here.
/cc: @hoangviet1993, @seanlip and @vojtechjelinek.

[2018-07-19 20:47] apb7 commented on #5319
Discussed with @bansalnitish and tried removing the above-mentioned plugin but the issue still persists:

![screencast-localhost-8181-2018 07 20-01-44-07](https://user-images.githubusercontent.com/24826041/42969171-f8f70f0e-8bc2-11e8-8c17-95f365f68ab3.gif)

[2018-07-19 21:38] seanlip commented on #5333
I'm not sure either -- I think it's truncated due to the large amount of output in the node dependency tree. Can we get node to be less verbose here? I'm not sure why all this stuff is getting printed out in the first place.

[2018-07-19 22:35] seanlip commented on #5299
So, I just looked up what the button is supposed to look like :) We should probably change it per [these guidelines](https://developers.google.com/identity/branding-guidelines) instead?

(Sorry @kevintab95 for not catching this earlier.)

[2018-07-20 01:42] WickedBrat opened #5336 "Exploration breaking due to invalid image name."
Visit the [exploration](https://www.oppia.org/explore/rSC5R3zpE8As?collection_id=wqCTKpKA0LBe)
In production the exploration breaks due to image name containing a space.

[2018-07-20 03:06] kevintab95 commented on #5299
I'll take a look at the guidelines. Thanks!

[2018-07-20 03:39] kevintab95 commented on #5299
Shall we go ahead with the standard button which will look like:
![btn_google_signin_light_normal_web](https://user-images.githubusercontent.com/11008603/42981914-5515864c-8bfc-11e8-82ed-0908317daa99.png)

or should we customise the button to have a red background colour with a white background for the "G"?

[2018-07-20 03:54] AllanYangZhou commented on #5319
Weird, I am unable to reproduce this problem also. I tried firefox and chrome on ubuntu 16.04, on latest develop at time of writing.

@apb7 you are using chrome right? What platform are you on?

[2018-07-20 03:56] seanlip commented on #5299
I'd say the standard button. Thanks!

[2018-07-20 03:57] seanlip commented on #5336
Oh dear -- great catch, Siddhant! I think this is blocking. Added to blocking bugs list.

[2018-07-20 04:52] prasanna08 commented on #5308
Hi @nithusha21, thanks for your suggestions. Here are my thoughts:

Text can be colored red but input box won't be possible. Also there are visible cues (such as notification) which are shown if answer is added. So if no notification is shown then the answer wasn't added. I think it will take some tutorial or something but once they know what to look for then there is enough information shown.

I

[2018-07-20 05:12] seanlip opened #5337 "Paralllelize the build process so that it takes less time."
The build process (running python/scripts.py) takes a long time. We would like to make it faster, and one way is by parallelizing the minification/hashes step. The aim of this issue is to do that.

[2018-07-20 05:51] bansalnitish commented on #5319
Yup I too tried on chrome and firefox and I too was unable to reproduce.
Thanks for the check @AllanYangZhou !

[2018-07-20 06:14] #5298 closed, assigned to nobody

[2018-07-20 10:35] apb7 commented on #5333
Okay, this seems to have been resolved -- might have been some npm problem when downloading the packages. I think we can close this and keep an eye on the tests. What do you suggest? Thanks!

[2018-07-20 13:11] nithusha21 commented on #5333
I don't think so. The PR builds are running ok. But the builds on develop seem broken (see https://travis-ci.org/oppia/oppia/builds/406114716)

[2018-07-20 13:15] apb7 commented on #5333
Hmm. They seemed to be passing the last time I checked the develop branch. And it is weird that they pass for PRs but not for develop.

[2018-07-20 13:29] vojtechjelinek commented on #5333
Still, it would be nice to get rid of that monstrous dependency tree.

[2018-07-20 13:31] hoangviet1993 commented on #5333
`npm ls` is called by default by Travis after each `npm install`
https://github.com/travis-ci/travis-ci/issues/8309

[2018-07-20 13:37] apb7 commented on #5333
I tried to change the depth we set [here](https://github.com/oppia/oppia/pull/5334/files#diff-1d889b31bb06cb578abde8e2253d043aR285) in PR #5334 but it looks like this does not work. Any other suggestions?

[2018-07-20 13:42] hoangviet1993 commented on #5333
I am not sure if we are dealing `npm ls` failing by Travis. PTAL at https://github.com/travis-ci/travis-build/pull/1096 and https://github.com/travis-ci/travis-build/pull/1098
EDIT: and also https://github.com/npm/npm/issues/20309#issuecomment-380754085

[2018-07-20 13:58] bansalnitish commented on #5319
Hi @apb7, do you have some spell checker, if yes can you turn it off and try again?

[2018-07-20 14:01] apb7 commented on #5319
I am using Chrome Version 67.0.3396.62 (Official Build) (64-bit) and Ubuntu 16.04. And yes, I have a spell checker but I don't think that should affect. Let me try without it once.

[2018-07-20 14:03] bansalnitish commented on #5319
Yes, I am not sure if that will affect this but since I am unable to reproduce this locally I just wanted to check.

[2018-07-20 14:39] apb7 commented on #5319
After removing the spell checker, I am also unable to reproduce it now! Weird but now it seems to be working perfectly fine :sweat_smile:
Thanks for a ton of efforts, @bansalnitish :)

[2018-07-20 14:44] bansalnitish commented on #5319
Thanks for checking @apb7, maybe the spell checker interfered somehow, though I am not sure why that happened. Thanks again! :smile:

[2018-07-20 14:45] bansalnitish commented on #5319
So should we close this issue?

[2018-07-20 14:47] apb7 commented on #5319
I think we can close this issue since this now works as intended :)

[2018-07-20 14:48] #5319 closed, assigned to bansalnitish

[2018-07-20 15:47] bansalnitish commented on #5337
Yup. This is really very important.

[2018-07-20 19:52] FinalHopee commented on #5134
Hi! I would like to implement tests for core.domain.config_services

[2018-07-20 19:52] #5317 closed, assigned to bansalnitish

[2018-07-20 19:53] ishucr7 commented on #5138
Hi @jacobdavis11 , @anmolshkl . I am currently working on some other PR (part of milestone 3). I will take this issue up as soon as I am done with the milestone's work. Thanks

[2018-07-20 19:56] bansalnitish commented on #5232
This too is fixed by merging PR #5318. Closing this one.

[2018-07-20 19:56] #5232 closed, assigned to bansalnitish

[2018-07-21 03:27] A-Yerkeshev opened #5342 "Frontend tests auto update on save"
Good day. I am facing a little issue. I am running Oppia on virtual machine, while using Windows. As it is  written in [this](https://github.com/oppia/oppia/wiki/Running-Tests) document, frontend tests must to refresh each time I save HTML or JS file:

However, in my case they do not, so I have to run `bash scripts/run_frontend_tests.sh`, each time I want to check the tests. Any workaround about t

[2018-07-21 05:05] DubeySandeep commented on #5134
Hi @FinalHopee , I've assigned you for `core.domain.config_services`.

[2018-07-21 05:50] seanlip commented on #5342
Hi @A-Yerkeshev!

Firstly ... you managed to get Oppia running on a virtual machine? That is _fantastic_! If you could please share with us how you did that, that would be really appreciated -- I think many folks are having trouble getting started with that.

Would you be up for writing up some instructions (or saying if any changes are needed to the existing ones)?   (Also /cc @1995YogeshSharma.)

[2018-07-21 09:04] #5315 closed, assigned to pranavsid98

[2018-07-21 11:29] A-Yerkeshev commented on #5342
Emmmm.... maybe there is a misunderstanding. I type `vagrant up` in git bash and then Oppia is available on `localhost:8181`. I mean this when I say 'run Oppia from the virtual machine'. Am I correct?

[2018-07-21 11:30] aks681 opened #5343 "Efficiently find all questions linked to a skill"
Have a daily cron job that creates a new model keyed by skill id having the list of question IDs linked to it as a field and query this field when linked questions are to be fetched.

Once these questions are fetched make sure the questions are still linked to the same skill by querying the QuestionSkillLink model. (Also make sure the question IDs are distinct and that the questions have not been

[2018-07-21 11:40] A-Yerkeshev commented on #5342
I turned singleRun to false, but surprisingly it slowed a lot the process of running the tests. now Karma needs few seconds to execute just one test!

I thought it would be a good idea to make a temporary gulpfile in the testing directory and run tests only for the specified file, but due to some bugs could not manage this. If someone have already handled this, please let me know :)))

[2018-07-21 11:59] FinalHopee commented on #5134
Another request for -- core.domain.learner_progress_domain

[2018-07-21 12:28] apb7 commented on #5134
Hi @FinalHopee, assigned you :)

[2018-07-21 14:19] brianrodri commented on #5325
I'm a bit confused why `encodeURIComponent(state.name)` isn't enough to satisfy `UrlInterpolationService`. By that I mean, I understand it's because of the character restrictions, but other places which require a state name build the URL with simple string-concatenation, avoiding this scenario entirely.

For a hot fix, I'll do that as well. But in general, why limit the function in this way? Seems

[2018-07-21 21:01] #5325 closed, assigned to brianrodri

[2018-07-21 21:22] seanlip commented on #5296
This is important but removing from being blocking. As long as people aren't asking questions that demand equations (and I don't see a reason for them to do so) then this issue probably isn't occurring that much (if at all) in production. Though we should still fix it.

[2018-07-21 21:45] seanlip commented on #5257
@nithusha21 do you know if there's any error message in the console on mobile version 67?

Also does this work when you use responsive mode in the Chrome desktop browser?