[2020-11-05 18:22] paulstalker84 commented on #11079
![Class Rep Online Training Slide - Acedemic Representation @ GCU](https://user-images.githubusercontent.com/73660208/98280784-cf175b00-1f93-11eb-88b7-94add80deb01.jpg)

[2020-11-05 19:08] sagangwee opened #11136 "[Contributor Dashboard] Remove prod validation check for score category in suggestions"
This has caused prod validation failures such as

[code]

Users should be credited for the score category of the exploration at the time of acceptance, so we should not track the score category in the suggestion itself. Consequently, the validation check should be removed.

[2020-11-05 19:12] sagangwee opened #11137 "Write a oneoffjob to populate final reviewer ID of suggestions from the author of the corresponding message model with updated_status = fixed/ignored"
We've seen prod validation failures such as

[code]

The models in question are old and are from 2017. Currently, anytime someone accepts/rejects a suggestion we create a message model with updated_status = fixed/ignored. We need to create a migration job to backfill the final reviewer ID field of old suggestion models.

[2020-11-05 19:14] sagangwee opened #11138 "Fix content_count mismatch in ExplorationOpportunitySummaryModel prod validation checks"
ExplorationOpportunity models are failing validation check with following error:

[code]

We have lately changed the method to count the contents in exploration, seems like a regression.

[2020-11-05 19:20] sagangwee commented on #11029
Timestamps for relevant entities:

1. exploration.9wXEq1gnnP2x.WzE1MzcyOTU4NDIwNDQuMjc2XQ==WzI1Ml0=
Created on 2018-09-18 (11:37:23.295) PDT, last updated 2018-09-18 (11:42:12.737) PDT
2. exploration.9wXEq1gnnP2x.WzE1MzcyOTU4NDIwNDQuMjc2XQ==WzI1Ml0=
This is the same as model 1?
3. skill.KIzgzKywbBjx.WzE1ODYzMTA4MjQxNzkuODc4XQ==WzUwODld
Created on 2020-04-07 (18:53:45.147) PDT, last updated 2020-04

[2020-11-05 21:49] jlau323 commented on #10306
hi @kevintab95! I am a new contributor and I've filled out the CLA and the survey, can I work on the following? Thanks!
core/templates/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts
core/templates/services/exploration-stats-backend-api.service.ts

[2020-11-05 22:06] kevintab95 commented on #10306
Sure, I've just assigned them to you @jlau323!

[2020-11-05 22:52] kevintab95 commented on #3446
Hi @cernoit, welcome to Oppia! Before you can work on this issue, can you please confirm that you have followed the steps mentioned on our [wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? If not, I would encourage you to do so. New contirbutors are required to fill up the CLA and complete the contributor survery (steps 1 & 2). Once that is done, you'll

[2020-11-06 00:20] sagangwee commented on #11138
The ExplorationOpportunitySummaryModel is updated (including its `content_count` field whenever its corresponding exploration is updated at core/domain/exp_services.py:954.

We recently changed the `content_count` logic in https://github.com/oppia/oppia/pull/10159. If the models in question existed before PR#10159, this failure likely occurred because the ExplorationOpportunitySummaryModel has an

[2020-11-06 06:06] srijanreddy98 commented on #11098
qq: does it only happen on a request made to `/platform_features_evaluation_handler`? Is there a way to reproduce this behaviour on our systems? @BenHenning @MegrezZhu.

[2020-11-06 06:31] srijanreddy98 commented on #11098
I think this could be causing problems:
https://github.com/oppia/oppia/blob/develop/core/templates/base-components/oppia-root.directive.ts#L36-L46

[2020-11-06 07:28] HarshKhilawala commented on #10306
@kevintab95 Please assign me any of these beginner issues to work upon. Also, @U8NWXD, would require some guidance into this.

[2020-11-06 10:13] linnhallonqvist commented on #10798
@U8NWXD Hi! I have a question. The waitfor statements before .click()  can be removed. If the code looks like below, can the expect( await....).toBe(true); be removed too?

`      expect(await enableCorrectnessFeedbackButton.isDisplayed()).toBe(true);
`
`    await action.click(
      'Enable Correctness Feedback button', enableCorrectnessFeedbackButton);
 `

[2020-11-06 10:57] vojtechjelinek opened #11140 "Remove retrieval `UserAuthDetailsModel` from the `get_user_settings_by_gae_id`"
Remove retrieval `UserAuthDetailsModel` from the `get_user_settings_by_gae_id` after we correctly run `GenerateUserIdentifiersModelOneOffJob` on the production.

[2020-11-06 11:21] srijanreddy98 commented on #11098
Assuming that it gets set to null at someplace, the ideal way to find locale (or as I have seen other websites implement) is:

1. Check if there is a locale already set in the cookies
2. If no locale is set, get the geo-location of the user and prompt them to switch to a locale that is relevant to the location
3. If geo-location is turned off/ returns undefined, use window.navigator.languages[0]
4

[2020-11-06 11:47] sajalasati commented on #10110
@vojtechjelinek Hi! Sorry for long descriptions but I intended to make things clear.

First of all I am taking a break till the mid (or so) of Dec due to other engagements, so I won't be able to take it up now. But following are the updates/views for the tasks before others take it up (@Sean PTAL as we discussed this briefly, let me know what you feel and accordingly I will edit issue title/descri

[2020-11-06 11:51] sajalasati commented on #10358
Hi @seanlip ! Could you currently comment on this? Tagging you here to keep you in the loop. I am not really sure for how long this issue will be blocked given it's dependency on the implementation of Auth mechanism for Android.

[2020-11-06 19:28] kevintab95 commented on #10518
Seems fixed by #10521 but wasn't automatically closed.
Closing.

[2020-11-06 19:28] #10518 closed, assigned to kevintab95

[2020-11-06 19:33] nishantwrp commented on #10474
You will have to fix all the errors that are introduced after adding this file in tsconfig-strict.json. If there are too many errors. You can choose any other file to work on.

Thanks

[2020-11-06 19:36] seanlip commented on #10358
Thanks @sajalasati. I'll follow up with @BenHenning on this.

[2020-11-06 19:38] seanlip commented on #11098
Thanks for the analysis @srijanreddy98. For now, I think, let's do something that doesn't require (2) -- they can change it anyway through the dropdown.

The more crucial part, though, is to understand which part of the code is setting it to null. Any ideas on that front?

[2020-11-06 20:47] seanlip commented on #11140
Reference: https://github.com/oppia/oppia/pull/11134/commits/9036562cfa58ec767ff74be6c52a8cf1f406bb70#diff-fdb77f0403ddcf664d6de7b98300a1ce1f1cdcd1cae9a87c5b53d1e4347b3703R783

[2020-11-07 00:14] varun-tandon opened #11142 "Update Takeout Export Method Docstrings To Be More Descriptive"
We should be particularly explicit for takeout/wipeout policy methods, otherwise they may be easy to misconstrue (and these aren't good methods to have ambiguity--we want to be very intentional in what we export/delete upon a user's request).

There are four cases to consider here:
1. The model does contain data corresponding to a user, and we will export/delete it upon request. In this case, I su

[2020-11-07 00:15] varun-tandon commented on #11142
For more information, see: https://github.com/oppia/oppia/pull/10944#discussion_r512446470

[2020-11-07 04:41] U8NWXD commented on #10306
@HarshKhilawala I'm happy to help! How about you see how far you can get on your own and then let me know what questions you have?

[2020-11-07 04:43] U8NWXD commented on #10798
@xarcode when you push your changes, the linter will run automatically and show you what's wrong. If you are confused about the error messages, can you send the messages you're confused about?

[2020-11-07 04:44] U8NWXD commented on #10798
@linnhallonqvist yes, you can remove that! If the button isn't displayed, the `action.click` call will fail anyway, making the `expect(...` redundant

[2020-11-07 04:52] HarshKhilawala commented on #10306
Ok, I will try this on my own and let you know whenever I am stuck @U8NWXD

[2020-11-07 04:54] HarshKhilawala commented on #10306
@kevintab95

Please assign me this issue:

core/templates/pages/email-dashboard-pages/email-dashboard-data.service.spec.ts

[2020-11-07 05:16] xarcode commented on #10798
@U8NWXD I was able to push my commit successfully but while making the pull request I saw the mandatory checklist stating about passing linter tests, hence I asked to clear my doubts! So if the push was successful, I'm good to go to submit my PR right? Thanks!

[2020-11-07 16:26] vojtechjelinek commented on #10110
Thanks for a detailed explanation. I think that we can discard both the points and the only remaining stuff on this issue would be to remove the TODOs.

[2020-11-07 22:28] aks681 commented on #11096
The image position can be made fixed by not making it scrollable, but I'm not able to reproduce the return to beginning link issue.
https://www.oppia.org/explore/670bU6d9JGBh: This is the lesson, right?

[2020-11-07 23:16] subedi90 opened #11149 "Replace $injector.get(...) to TestBed.get in solution-verification.service.spec.ts when ExplorationStateService has been migrated to Angular 8"
Replace $injector.get(...) to TestBed.get in solution-verification.service.spec.ts when ExplorationStateService has been migrated to Angular 8

[2020-11-08 03:58] seanlip opened #11150 "Address follow-up comments from #10944"
This issue is filed to address @vojtechjelinek's remaining comments from #10944. See https://github.com/oppia/oppia/pull/10944#pullrequestreview-525666134

[2020-11-08 07:41] Sourabh025 commented on #11133
hey @krishita30j I would love to work on this issue.Can you please assign me this issue.

[2020-11-08 10:38] krishita30j commented on #11133
@Sourabh025, sure go ahead! :)

[2020-11-09 09:59] seanlip opened #11154 "The "additional rules" indicator in the exploration editor disappears when the screen size is smaller."
**Describe the bug**
In the exploration editor, the "additional rules" indicator disappears when the screen size is made smaller. However, this is important information which should not be hidden.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration, and add a single answer group with multiple rules.
 2. Compare the views of the answer groups at different screen widths.

[2020-11-09 10:04] seanlip opened #11155 "Ratio input throws a warning incorrectly in the editor if "is equivalent to" rule is used and the input isn't in simplest form"
**Describe the bug**
In the exploration editor, the ratio input throws a warning and prevents saving if an "is equivalent to" rule is used when the provided input isn't in simplest form.

There is no requirement for the "is equivalent to" rule to require an input in simplest form. Rules like "is equivalent to 3:9" should be considered valid.

**To Reproduce**
Steps to reproduce the behavior:
 1. G

[2020-11-09 10:05] seanlip commented on #11155
Hi @aggarwalpulkit596 -- do you think it would be possible to look into this please?

[2020-11-09 10:35] aggarwalpulkit596 commented on #11155
Sure .Could you assign it to me as well ?

[2020-11-09 10:45] seanlip commented on #11155
Sure thing, done. Thanks!

[2020-11-09 10:55] seanlip opened #11156 "Ratio input mistakenly flags a valid rule as redundant"
**Describe the bug**
When an "is equal to X" ratio answer group is followed immediately by an "is equivalent to X" answer group, a validation error occurs saying that the rule in the second answer group is redundant. This is incorrect, because there are valid answers that can fail the first rule and pass the second (such as the ratio where each term is double its value in X).

**To Reproduce**
Ste

[2020-11-09 10:55] seanlip commented on #11156
@aggarwalpulkit596 Found another bug!

[2020-11-09 10:56] seanlip commented on #11156
(Also, I assigned you to this one. Is that OK?)

[2020-11-09 11:16] #10951 closed, assigned to vojtechjelinek

[2020-11-09 11:17] vojtechjelinek opened #11157 "Address comments in #11134"
Address comments in #11134

[2020-11-09 11:36] suryasiriki4 commented on #10798
Hi @U8NWXD, I would like to work on ` core/tests/protractor_utils/ExplorationEditorFeedbackTab.js`. Can you please assign me the task?

[2020-11-09 14:36] xarcode commented on #10798
I got errors in Lighthouse and lint checks.
The **lighthouse error message** is as follows:
errors-in-console failure for minScore assertion
       Browser errors were logged to the console
       https://web.dev/errors-in-console/

        expected: >=1
           found: 0
      all values: 0, 0, 0

Assertion failed. Exiting with status code 1.`

The **lint error message** is as follows
/home/run

[2020-11-10 01:26] U8NWXD commented on #10798
@xarcode the issue here is that your line 113 in `CreatorDashboardPage.js` is too long. Please break it into multiple lines so that all your lines are shorter than 80 characters

[2020-11-10 01:27] U8NWXD commented on #10798
@suryasiriki4 I've assigned you! Let me know if you have any questions

[2020-11-10 10:33] seanlip opened #11163 "Running scripts.clean followed by scripts.install_third_party leads to an unexpected error message"
**Description of the bug**

Per a recent [email](https://groups.google.com/g/oppia-dev/c/AvyfVBIl_fA) by @brianrodri on oppia-dev@, I ran `python -m scripts.clean` followed by `python -m scripts.install_third_party`. On running the second script, I got the following traceback:

[code]

It would be better if a clearer error message was displayed here, specifically the text and stacktrace of what th

[2020-11-10 10:43] suryasiriki4 commented on #10798
@U8NWXD, I have made my changes in a separate branch. I want to push to my forked repository, but I'm getting this error. Please help me. Thanks in advance.
![linter_error](https://user-images.githubusercontent.com/44111344/98663762-808d0680-236f-11eb-83ff-a99615d8b1ed.png)

[2020-11-10 14:27] mimmicromsjoo commented on #10798
Hi @U8NWXD ! I would like to work on the file core/tests/protractor_utils/ExplorationEditorTranslationTab.js, could you please assign me?

[2020-11-10 16:20] MahmoudAmmar-96 commented on #10415
Hi @vojtechjelinek. Could I work on the suggestion model?

[2020-11-10 16:29] vojtechjelinek commented on #10415
@MahmoudAmmar-96 Yes, I have assigned you.

[2020-11-10 17:56] gp201 commented on #9749
@srijanreddy98 Could you please assign `circular-image.directive.ts` to me? Thanks

[2020-11-10 21:35] kevintab95 commented on #10306
@HarshKhilawala looks like @arpit1912 is assigned the service file and changes for that should cover the spec file as well. Can you please pick a different file?

Also, @arpit1912 do you have any updates on the assigned file?

[2020-11-11 02:01] EricZLou commented on #11163
I also ran into this bug. I had to run `python -m scripts.start` in order for `python -m scripts.install_third_party` to work.

[2020-11-11 03:13] U8NWXD commented on #10798
@suryasiriki4 this looks like a dependency is missing. Could you try running `python -m scripts.start` to install any missing packages?

[2020-11-11 03:14] U8NWXD commented on #10798
@mimmicromsjoo I've assigned you! Let me know if you have any questions

[2020-11-11 03:37] suryasiriki4 commented on #10798
@U8NWXD , the error is still persisting even after running `python -m scripts.start`. But there are some warnings while running `python -m scripts.start` in the prompt. Is it normal ?? please help.

![scripts_start_warnings](https://user-images.githubusercontent.com/44111344/98762151-06a35e80-23fd-11eb-8b72-6140871d82a9.png)

[2020-11-11 17:36] vojtechjelinek commented on #9159
@ankita240796 Yep I was

[2020-11-11 22:08] kevintab95 commented on #9566
This appears fixed. Proof:
![image](https://user-images.githubusercontent.com/11008603/98869926-7c103d00-2498-11eb-899b-377add0afe8c.png)

![image](https://user-images.githubusercontent.com/11008603/98869981-92b69400-2498-11eb-8181-fe99abcbcbdc.png)

Closing.

[2020-11-11 22:08] #9566 closed, assigned to kevintab95

[2020-11-11 22:10] kevintab95 commented on #9568
This is fixed on develop.
Proof:
![image](https://user-images.githubusercontent.com/11008603/98870082-c2fe3280-2498-11eb-8e00-a25cfd556e79.png)

Closing.

[2020-11-11 22:10] #9568 closed, assigned to kevintab95

[2020-11-11 22:15] kevintab95 commented on #9024
We have added a back to "topic dashboard" button in the editor pages. So this should no longer be an issue.

Proof:
![image](https://user-images.githubusercontent.com/11008603/98870498-62bbc080-2499-11eb-8717-b3b4371b1fe8.png)

Closing.

[2020-11-11 22:15] #9024 closed, assigned to nobody

[2020-11-11 22:21] kevintab95 commented on #9000
We have a new UI for this now.
![image](https://user-images.githubusercontent.com/11008603/98871083-584df680-249a-11eb-9e9c-a24cb1f883c4.png)

This should no longer be an issue.
Closing.

[2020-11-11 22:21] #9000 closed, assigned to kevintab95

[2020-11-11 22:23] kevintab95 commented on #10451
This was not auto-closed by #10507 even though it has been mentioned. Closing.

[2020-11-11 22:23] #10451 closed, assigned to kevintab95

[2020-11-11 22:41] kevintab95 commented on #9542
This seems fixed as of now. Closing.
![image](https://user-images.githubusercontent.com/11008603/98872734-0eb2db00-249d-11eb-8fc1-0c8b70346006.png)

[2020-11-11 22:41] #9542 closed, assigned to nobody

[2020-11-11 22:43] kevintab95 commented on #7083
This is fixed on develop. Closing.
![image](https://user-images.githubusercontent.com/11008603/98872956-7a954380-249d-11eb-92dc-e7ea76a15e35.png)

[2020-11-11 22:43] #7083 closed, assigned to rachelwchen

[2020-11-11 22:52] kevintab95 commented on #6492
This is fixed on develop.
![topicback](https://user-images.githubusercontent.com/11008603/98873561-a9f88000-249e-11eb-8742-09f032e964e2.gif)

Closing.

[2020-11-11 23:00] kevintab95 commented on #6490
This has been fixed by https://github.com/oppia/oppia/pull/10729 and https://github.com/oppia/oppia/pull/10567

When misconceptions are added, we show a warning in the quesitons list view as well as in the question editor for the relevant question.

![image](https://user-images.githubusercontent.com/11008603/98874153-aca7a500-249f-11eb-90bd-fcb2a7d63884.png)

![image](https://user-images.githubuse

[2020-11-11 23:00] #6490 closed, assigned to kevintab95

[2020-11-11 23:04] kevintab95 commented on #6489
Current behaviour is such that the creator is shown warnings to update linked questions. They will need to address the newly created misconceptions before re-saving the questions. See https://github.com/oppia/oppia/issues/6490#issuecomment-725708633 for screenshots. Closing.

[2020-11-11 23:04] #6489 closed, assigned to kevintab95

[2020-11-11 23:06] kevintab95 commented on #8565
This is fixed on develop. Closing.
![nocons](https://user-images.githubusercontent.com/11008603/98874626-9b12cd00-24a0-11eb-8157-44a7333d7e98.gif)

[2020-11-11 23:06] #8565 closed, assigned to amanbora

[2020-11-12 00:59] suryasiriki4 commented on #10798
@U8NWXD , I have made my changes and sent PR. Can you please guide me with further steps? Thank you.

[2020-11-12 01:36] DubeySandeep opened #11170 "Change the suggestion domain class properties name to match the corresponding model properties name"
Currently, a few properties of the suggestion domain class has a different name than the corresponding GeneralSuggestion models which create confusion for users. A few examples:

1. Instead of `self.id` the domain objects have `self.suggestion_id`

2. Instead of `self.change_cmd` the domain objects have `self.change`

**Expected behavior:**
Change the properties name such that it matches the model

[2020-11-12 02:59] U8NWXD commented on #10798
@suryasiriki4 Thanks! I left a review

[2020-11-12 04:53] seanlip commented on #11170
I definitely agree with change_cmd, but let's not change self.id. Since `id` is a built-in function in Python, we typically prefer to use suggestion_id instead.

[2020-11-12 06:32] arpit1912 commented on #10306
@kevintab95  This file has already been merged on PR [10781](https://github.com/oppia/oppia/pull/10781).

[2020-11-12 07:19] kevintab95 commented on #10306
Thanks @arpit1912, I've updated the files section accordingly.

[2020-11-12 08:02] kevintab95 opened #11173 "Revert ownership to @kevintab95 after 2020-11-15"
Add @kevintab95 back to .CODEOWNERS after 15th of November.

[2020-11-12 18:23] nishantwrp commented on #10798
Hi @umang232, what's the status of the file you are assigned? Please do let us know if you're stuck somewhere. We'll be more than happy to help you out. Thanks!

[2020-11-12 18:26] nishantwrp commented on #4057
Hi @hulyak, what's the status of the file you're assigned. Please let us know if you're stuck somewhere. We'll be more than happy to help you out. Thanks!

[2020-11-12 22:00] mschanteltc opened #11179 "Change Font CSS"
**Community Library**
Change Subheading Font: "Introducing: The Math Classroom" should use medium Roboto font. Also use 1.5x spacing for the body text
![Screen Shot 2020-11-11 at 5 43 28 PM](https://user-images.githubusercontent.com/22177674/98884717-79d0c300-2445-11eb-810f-93fc4fc2b3b6.png)

**About**
Change font: Change this font to use medium weight and #333333 color.
![Screen Shot 2020-11-11 a

[2020-11-13 02:03] mschanteltc opened #11180 "Number Line Interaction for Web"
Create a number line interaction in the Lesson Player based off these mocks. Note that the mocks below are not interactive and should be used as a layout reference. To view how the number line interaction should be used, view the [Android](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2c7d9cbe-daa2-4883-91d5-956359e84b60/) mock.

**[Web](https://xd.adobe.com/view/83e97

[2020-11-13 02:03] mschanteltc opened #11181 "Change Button CSS"
Most buttons have Capriola font when they should use all caps Roboto font. Make sure that the buttons have rounded corners of 4 px and that all buttons and links, when hovered, change color according the [UI Guidelines](https://docs.google.com/document/d/1R9PWRBA7yPCiHxc325gx1xHd_RMLRlCjMFWDCowUPag/edit?ts=5f8a76ea#bookmark=id.ryxcaut2xa64).
![Screen Shot 2020-11-12 at 5 25 18 PM](https://user-ima

[2020-11-13 03:34] suryasiriki4 commented on #10798
Hi @nishantwrp, I am getting 3 errors in my pull request, Can you please help with the errors?
[pull request](https://github.com/oppia/oppia/pull/11166). Thank you.

[2020-11-13 07:29] Mishrasubha commented on #11181
Can I work on this issue, please?

[2020-11-13 19:47] sajalasati commented on #10736
To solve the issue, following tasks need to be accomplished.
- Adding new Custom Headers:
    - We need to implement 2 custom header for all the incoming requests to the Oppia backend:
        - `Client-Version`(for Oppia Web, it's mostly not used but should be double-checked by inspecting the current network traffic from an HTTP request in the browser, in the JavaScript console. Also check in cas

[2020-11-14 06:54] suryasiriki4 commented on #10474
Hi @nishantwrp, I would like to work on

- ImageClickInputRulesService
- ImprovementsService
- IneffectiveFeedbackLoopTaskObjectFactory.

Can you please assign me the tasks?

[2020-11-14 08:57] nishantwrp commented on #10474
@suryasiriki4 Sure, I've assigned you.

[2020-11-14 10:17] suryasiriki4 commented on #9749
@srijanreddy98, can you please assign ` skill-selector.directive.ts` to me? Thank you.

[2020-11-14 13:31] srijanreddy98 commented on #9749
@gp201, @suryasiriki4 Done! It is all yours.

[2020-11-14 18:50] iprasandeep commented on #11181
Hey, I want to contribute to this issue? @mschanteltc

[2020-11-14 19:45] mschanteltc commented on #11181
@seanlip Can you assign this to someone?

[2020-11-14 21:06] iprasandeep commented on #11179
Hye, I will contribute to this issue but I'm facing an issue.. can you help me?
@mschanteltc

[2020-11-14 21:25] seanlip commented on #11181
@Mishrasubha and @prasandeep69, please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. You can then work with your onboarding mentor to get assigned to an issue. Thanks!

Also, I'll add some notes for contributors in the issue description above, since this issue should be tackled in stages.

[2020-11-14 23:46] #11032 closed, assigned to DubeySandeep

[2020-11-15 11:08] suryasiriki4 commented on #9749
@srijanreddy98, I think I was a bit too ambitious. I would like to start with `exploration-title-editor.component.ts`. Can you please assign me this? Thank you.

[2020-11-15 15:15] Mishrasubha commented on #11181
@seanlip thanks, will do so.

[2020-11-15 17:37] Mishrasubha commented on #10798
Hey, can you assign me  core/tests/protractor_utils/ExplorationEditorHistoryTab.js please?

[2020-11-16 03:15] GeorgeSheridan commented on #10610
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 03:29] GeorgeSheridan commented on #10670
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 08:24] Deepak-du commented on #10798
Can I work on any one of these issues? I would also require some help and guidance

[2020-11-16 09:29] kevintab95 commented on #10610
Hi @GeorgeSheridan, in this repo, good first issues are tagged if the solution is known and/or have sufficient well-documented examples. This issue does not fall under the "good first issue" category because it requires debugging to figure out the root cause of the issue before it can be fixed. Can you please explain why you think this could be a good first issue? Thanks!

[2020-11-16 10:44] #11173 closed, assigned to nobody

[2020-11-16 18:26] nskirkey commented on #10415
Hi, @vojtechjelinek! I was hoping to be assigned the job models.

[2020-11-16 21:26] vojtechjelinek commented on #10415
@nskirkey I have assigned you.

[2020-11-16 21:58] #3341 closed

[2020-11-16 22:40] vojtechjelinek commented on #10415
@nskirkey Btw, you will need to follow these instructions in order to contribute to Oppia https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia please go throught them.

[2020-11-16 22:59] aks681 commented on #10926
Closing as it is fixed on develop:
![image](https://user-images.githubusercontent.com/22347970/99318334-844bec00-288d-11eb-9b18-514b451e3f83.png)

[2020-11-16 22:59] #10926 closed, assigned to aks681

[2020-11-16 23:58] seanlip commented on #10358
@sajalasati -- please could you point us to the TODO that is mentioned in the first comment of this PR?

[2020-11-17 01:32] BenHenning commented on #11073
Note that this was updated to include a more accurate list of "things to fix".

[2020-11-17 01:33] BenHenning commented on #11098
As discussed in #11073 let's just remove user_locale for now since selected language code isn't a good proxy for locale, and I'm not aware of a great alternative.

[2020-11-17 01:33] #11098 closed, assigned to BenHenning, srijanreddy98

[2020-11-17 03:48] U8NWXD commented on #10798
@Mishrasubha @Deepak-du I've assigned you! Please don't hesitate to reach out with any questions

[2020-11-17 04:34] MegrezZhu commented on #11073
The first and second task seem straight forward, but about the third one, can you show some clues about what _the actual GAE backend version_ is and how we can access it?
@BenHenning @seanlip

[2020-11-17 05:20] srijanreddy98 commented on #9749
@suryasiriki4 done!

[2020-11-17 06:50] ReshuKumari opened #11198 "Bugs in Feedback tab"
**Describe the bug**
1. It sometimes shows error in the console while creating a new thread but it creates a new thread.
![Screenshot from 2020-11-17 11-36-43](https://user-images.githubusercontent.com/62715691/99355099-b2512080-28cd-11eb-8048-7e7ff70af391.png)

2.It shows the wrong number of open threads when we refresh the page, and if we create a new thread it again starts displaying open threa

[2020-11-17 11:22] vojtechjelinek opened #11200 "Feature flags: browser type is 'Unknown'"
On the testing server we have this error
[code]

this is due to the fact that in the frontend we return `'Unknown'`
https://github.com/oppia/oppia/blob/ffd78e0ff307ef472e75ff5726e557f8c0faa681/core/templates/domain/utilities/browser-checker.service.ts#L97
but in the backend when validating the platform feature we expect `'Others'`

[2020-11-17 11:22] vojtechjelinek commented on #11200
@MegrezZhu Would you be able to fix this?

[2020-11-17 12:05] kevintab95 commented on #11198
/cc @DubeySandeep

[2020-11-17 12:51] vojtechjelinek opened #11202 "ServiceUnavailable when creating a Google Cloud Task"
This is an issue to track the error with creating tasks. The error occurs when we try to create deferred tasks and maybe even other types of tasks. The error occurs or occured before on test, backup, and prod server (checked with @kevintab95). It seems that there is no pattern when the error occurs.

The common error looks like this:
[code]
this issues can be either that Google Tasks are unstable

[2020-11-17 12:52] vojtechjelinek commented on #11198
For the first issue I have created #11202.

[2020-11-17 13:30] vojtechjelinek commented on #10630
@kevintab95 Is this expected?

[2020-11-17 13:30] vojtechjelinek commented on #19443
@kevintab95 Is this expected?

[2020-11-17 13:46] kevintab95 commented on #10630
We currently don't show report/feedback for mobile because of the lack of space but it would be good to have. Not a priority at the moment though. Any thoughts @aks681?

[2020-11-17 13:46] kevintab95 commented on #19443
We currently don't show report/feedback for mobile because of the lack of space but it would be good to have. Not a priority at the moment though. Any thoughts @aks681?

[2020-11-17 23:02] mschanteltc opened #11206 "Fix Classroom Page UI/UX Issues"
Please review new issues listed in this [document](https://docs.google.com/document/d/1rhH9mVOMZZLnwPN3QDHo8phHz8XKuRYCbu676CQvzOY/edit?ts=5f890f81#):

- [x]  Skill names should not be bold. Use a regular size font. Also spacing between each subtopic name is too small.

- [x] Make letter spacing 0. Increase left/right padding to 12px.Just wanted to check-- are the thumbnails here going to be updat

[2020-11-17 23:02] mschanteltc commented on #11206
@aks681

[2020-11-18 00:37] BenHenning commented on #11073
@MegrezZhu this is meant to refer to the version that we associate with a given deployed version of Oppia (e.g. 3.0.1). I'm not actually sure how to get this property in app engine. @seanlip do you know?

[2020-11-18 02:36] BenHenning opened #11208 "Add support for matching GAE app version as part of the server & web client evaluation context"
See #11073 for initial context.

We need to support matching the deployed app engine version as part of the server evaluation context, and web client evaluation context for platform parameters to have parity with the Android frontend. This should involve:
1. Introducing a constant variable containing the deployed app version name (so that this can be accessible both in web and in the backend)
2. U

[2020-11-18 02:36] BenHenning commented on #11208
/cc @MegrezZhu and @seanlip

[2020-11-18 02:36] BenHenning commented on #11073
I removed (3) and filed #11208 to track this, instead.

[2020-11-18 05:19] nithusha21 commented on #11029
Hi @sagangwee sorry I didn't reply to this thread. We did discuss it over email, and came up with a plan. Thanks for working on this Sagang!

[2020-11-18 06:46] gp201 commented on #8668
@Showtim3 Could you please assign `number-attempts.service.ts` to me? Thanks

[2020-11-18 08:10] aggarwalpulkit596 commented on #11155
@seanlip could you add me as a collaborator? I can't make a PR right away.
Should I just make a PR from the fork itself?

[2020-11-18 08:13] seanlip commented on #11155
done!

[2020-11-18 09:08] aggarwalpulkit596 commented on #11155
Just to be clear here, do i need to convert the creator answer to its simplest form or i just need to check here https://github.com/oppia/oppia/blob/292cc8911e273915aabb61010452bf39598a7f29/extensions/interactions/RatioExpressionInput/directives/ratio-expression-input-validation.service.ts#L164 with both the inputs in their simplest forms?

[2020-11-18 09:14] aggarwalpulkit596 commented on #11155
I'm unsure whether this would be the right thing to do or not because if we do that then in that case we are simplifying both the creator and user answer and I can't think of a case in which user/creator would be getting the error as input isn't in the simplest form.

[2020-11-18 09:29] seanlip commented on #11155
You should be converting both answers to their simplest form, and then comparing them for equality. Does that clarify?

(I'm not sure I understand your last comment, sorry. Perhaps you could clarify that.)

[2020-11-18 09:30] bhngupta commented on #8472
Hey @tyleri  , I'm willing to take up the `search.service.ts` file

[2020-11-18 09:34] aggarwalpulkit596 commented on #11155
I'm just saying that if i convert both the answers to their simplest form then there wouldn't be a case in which the creator will be getting the error that input isn't in the simplest form. Could you give me an example of any such case?

[2020-11-18 09:34] seanlip commented on #11155
We don't need that error for the creator.

[2020-11-18 20:36] MegrezZhu commented on #11200
@vojtechjelinek thanks for the clear context, just created a PR to fix this.

[2020-11-18 21:17] mschanteltc opened #11212 "Add an animated "Hint Tip" Dialogue Box to Lesson and Practice Player"
User testing indicates that learners are not aware that hints are available, even if they have appeared for a while. Tooltips did not work, but an animated dialogue box that points to the hint can help its discoverability. (Note that the image below doesn't show the animation -- please see the video near the end of this issue for that.)

![Exploration Player, Hint  v3  Static](https://user-images.

[2020-11-19 03:17] apurvbotle commented on #11212
I would like to contribute to this issue.

[2020-11-19 03:30] nithusha21 commented on #8668
@gp201 assigned to you!

[2020-11-19 11:04] seanlip commented on #11156
Hi @aggarwalpulkit596 -- did you see this issue?

[2020-11-19 11:11] seanlip commented on #11212
@aks681 Assigning to you for triage, following our discussion in the meeting yesterday. Thanks!

[2020-11-19 11:17] apurvbotle commented on #11181
Hi @mschanteltc and @seanlip, if the issue is still open, would like to contribute.

[2020-11-19 11:19] apurvbotle commented on #11179
Hi @mschanteltc, would like to work on this issue.

[2020-11-19 11:20] seanlip commented on #11181
Hi @apurvbotle, thanks for your interest! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to post here again if you still want to take this up.

[2020-11-19 14:16] krishita30j commented on #9044
Hi @kevintab95,

I would like to work on this issue.

[2020-11-19 15:44] sajalasati commented on #10358
Hi @seanlip !

**A bit of a context**: The source of this issue is PR #10241, specifically this [comment](https://github.com/oppia/oppia/pull/10241#discussion_r470876040). Here we decided not to include takeout for profiles until we have a defined auth flow for them.

**About missing "TODO"**: In the `takeout_service.export_data_for_user` function ([here](https://github.com/oppia/oppia/blob/develo

[2020-11-19 18:42] BenHenning commented on #10358
Let's close this & handle this later. Thanks @sajalasati -- that context will be really helpful when we tackle this part of the broader wipeout/takeout support in Android. See: https://github.com/oppia/oppia-android/issues/2127.

[2020-11-19 18:42] #10358 closed, assigned to BenHenning, sajalasati

[2020-11-19 18:43] vojtechjelinek commented on #11054
@kevintab95 Hi, are you working on this?

[2020-11-19 18:44] vojtechjelinek commented on #11055
@kevintab95 Hi, are you working on this?

[2020-11-19 18:59] mschanteltc commented on #11179
@seanlip

[2020-11-19 19:31] seanlip commented on #11179
Sounds good @apurvbotle, assigned you! Also /cc @sagangwee who can help you (as onboarding mentor) if you have any questions.

Just a note: when you make a PR, please also include, in your first PR comment, screenshots of what it looks like on different-sized viewports. Thanks!

[2020-11-19 20:22] DubeySandeep commented on #10415
Assigning @mozammel to the `question` part of this issue. (As per offline discussion.)

[2020-11-19 21:37] kevintab95 opened #11216 "Clarify use of HTML tags in qqq.json for relevant messages"
For translation messages that contain HTML, add an instruction in the relevant qqq.json entry to explicitly state that the HTML tags should remain as-is. This will help translators translate text accordingly.

[2020-11-19 22:27] kevintab95 commented on #11055
Hi @seanlip, I was unable to reproduce this error on the test server.
Here's a [video](https://drive.google.com/file/d/1cuuLW5_0X7lcqX1-r0wQEn1w5KuY4LjT/view?usp=sharing) showing what I did. I tried to add a skill called "Skill for test topic" which was assigned to a topic called "test topic" as a prerequisite skill for a story in a different topic and it seemed to work fine.

Please let me know i

[2020-11-19 22:31] kevintab95 commented on #11054
@vojtechjelinek I will fix it as part of https://github.com/oppia/oppia/pull/11115.

[2020-11-19 23:00] seanlip commented on #11055
This might need to be done in the non-first chapter. Here is a link to a video showing what it looks like on the main site: https://drive.google.com/file/d/1FYpI_YT21khXOslZNeGNygUVCWB1lOjd/view?usp=sharing

[2020-11-19 23:05] vojtechjelinek commented on #11054
@kevintab95 Thanks, please reference the issue in the PR when you've done so.

[2020-11-19 23:10] kevintab95 commented on #11055
Ah, I see. Confirming that I am able to reproduce this when I add an assigned skill to a non-first chapter in a story belonging to a different topic.

[2020-11-19 23:33] vojtechjelinek opened #11219 "Remove the usage of `get_by_id` and `query` from our codebase"
TL;DR: Remove the usage of `get_by_id(id)` from our codebase and replace it with `get(id, strict=False)` and replace `query(…)` with `get_all(…)`.

In our codebase we sometimes use `get_by_id(some_id)` (which is an ndb library function) for retrieving models, in other cases, we use `get(some_id, strict=False)` (which is our own `BaseModel` method), these are basically the same and we should priori

[2020-11-19 23:43] kevintab95 commented on #11055
Hi @seanlip, does this message seem reasonable:

"The skills with ids xxx, yyy, zzz were specified as prerequisites for Chapter 3, but were not taught in any chapter before it"

Do we need to map the skill ids to the names or is showing ids sufficient?

[2020-11-20 01:36] George-Sheridan commented on #10610
Thank you for your reply. Our prediction of GFI is mainly based on 72 features to measure whether the description is clear and whether the issue is self-contained, etc.

[2020-11-20 01:45] seanlip commented on #11055
Yup, just drop "a". Note that this should apply only to skills which the
topic is responsible for teaching, and not to external prerequisites.

[2020-11-20 05:21] seanlip opened #11220 "Revert ownership to @seanlip after 2020-11-29"
Add @seanlip back to CODEOWNERS after 29 November 2020

[2020-11-20 14:27] vojtechjelinek commented on #10049
@iramin I have assigned you two models.

[2020-11-20 14:41] ghost commented on #10306
Any files left? I am not fussy. Yes to normal questions about signing this and that

[2020-11-20 16:02] vojtechjelinek commented on #11154
@kevintab95 Would you be able to fix this or assign to someone? I tried to take a look but wasn't able to fix this I would need to refresh my CSS skills.

[2020-11-20 20:49] mschanteltc opened #11226 "Progress Bar is present when keyboard is active"
![Screenshot_20201120-004419_Oppia](https://user-images.githubusercontent.com/22177674/99840262-11f33a00-2b21-11eb-8763-7d3305c8aea5.jpg)

![Screenshot_20201120-011226_Oppia](https://user-images.githubusercontent.com/22177674/99842131-2258e400-2b24-11eb-8f94-039a05924705.jpg)

Only display the Progress Bar when the keyboard is inactive. By removing the progress bar while keyboard is active, the le

[2020-11-20 20:50] mschanteltc opened #11227 "Android - Chapter List Page Issues"
![Screenshot_20201120-004517_Oppia](https://user-images.githubusercontent.com/22177674/99840652-d1e08700-2b21-11eb-8feb-798533af88c4.jpg)
![Screenshot_20201120-004508_Oppia](https://user-images.githubusercontent.com/22177674/99840358-44049c00-2b21-11eb-94cb-41d7817d255d.jpg)

- There is no outline of inactive Chapter cards. Make sure there is still a shadow to each card, but still decrease its opa

[2020-11-20 20:50] mschanteltc opened #11228 "Android - Input Keyboard Issues"
![Screenshot_20201120-005025_Oppia](https://user-images.githubusercontent.com/22177674/99841268-bb86fb00-2b22-11eb-9a1f-669a8776d95b.jpg)

- When the input is selected, scrolling up when the input bar is no longer visible deselects it. Tapping on the keyboard does not enter numbers anywhere but selected numbers on the keypad become bolder. (Image above)[[Video](https://drive.google.com/file/d/1f_1

[2020-11-20 20:51] mschanteltc opened #11229 "Android - Concept Card Name Broken"
A Concept Card link in Lesson Player was presented incorrectly. This occurred in the topic **Place Value**, story **Jaime's Adventures in the Arcade**, in **Chapter 3: Comparing Numbers**. On other occasions where I triggered a Concept Card, this did not occur. It might be because the Concept Card is empty. [[Video](https://drive.google.com/file/d/1fFQUzUh9dTlPwUOlREag-OGh5JmWTrvq/view?usp=sharing

[2020-11-20 20:51] mschanteltc opened #11230 "Android App - Change Label from "Train Mode" to "Practice Mode""
In the navbar, change "Train Mode" to "Practice Mode" ([mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8fbb663a-39aa-4be1-83bd-73bde6f85dcc/))

![Screenshot_20201120-011331_Oppia](https://user-images.githubusercontent.com/22177674/99842208-44526680-2b24-11eb-8a31-219bbd2de683.jpg)

[2020-11-20 20:51] mschanteltc opened #11231 "Lesson Name unexpectedly starts to marquee"
When the input is selected and/or entered, the Lesson Name begins to marquee unexpectedly. [[Video 1](https://drive.google.com/file/d/1f4Y3wdh_di_ge7CRKT5FFrGjgjTBxEpu/view?usp=sharing)] [[Video 2](https://drive.google.com/file/d/1fJpNsc-FkERWwSSIAcISir7HtDK6ocqK/view?usp=sharing)]

[2020-11-20 20:52] mschanteltc opened #11232 "Android - Issues with Editing "Reading Text Size""
- Font size selections from "Reading Text Size" do not accurately reflect the changes the would be made to the text size.
- If font size is changed in the Lesson Player through Options, the change is not reflected until the learner leaves the Lesson and comes back. Please change it so that when the learner does select a different text size, it is immediately reflected in the Lesson Player. [[Video

[2020-11-20 20:52] mschanteltc opened #11233 "Practice Tab - Top Align Subtopic Name and Checkmark"
Currently subtopic names are vertically aligned with the checkbox. However checkboxes need to be top aligned with the Subtopic name.

![Screenshot_20201119-213417_Oppia](https://user-images.githubusercontent.com/22177674/99846764-d3af4800-2b2b-11eb-87e4-24e74259acc9.jpg)

[2020-11-20 20:53] mschanteltc opened #11234 "Download Banner Not Available"
Despite the Topic being downloaded, there is no "Downloaded" Banner on the respective Topic card. Make sure to include the banner on the card if the Topic is downloaded.

![Screenshot_20201119-213452_Oppia](https://user-images.githubusercontent.com/22177674/99846898-06594080-2b2c-11eb-92e4-3c74decaff0d.jpg)
![Screenshot_20201119-213457_Oppia](https://user-images.githubusercontent.com/22177674/9984

[2020-11-20 20:53] mschanteltc opened #11235 "Android - User's Name is Cutoff in Home Page"
Start name on a new line if the name is too long. If the user's name is too long and does not have a space that allows it to break it into a new line, ellipsize the name.

![Screenshot_20201119-213611_Oppia](https://user-images.githubusercontent.com/22177674/99846959-238e0f00-2b2c-11eb-9500-f5e03bba22ae.jpg)

[2020-11-20 20:53] mschanteltc opened #11236 "Android - FAQs Page needs Proper Spacing"
Numbered and bulleted lists need to be indented. Bullet points need to have adequate space on its right side.

![Screenshot_20201119-214032_Oppia](https://user-images.githubusercontent.com/22177674/99846969-2983f000-2b2c-11eb-8bf1-cda98d44640f.jpg)

[2020-11-20 20:54] mschanteltc opened #11237 ""Continue" Button increased its top/bottom padding"
There are several instances where the top/bottom padding of the continue button increases. After tapping "Continue" on one page, the "Continue" button on the following page appears taller. [[Video](https://drive.google.com/file/d/1g4kJB4UuD4D-ZpgA64EAqUMrmdmg1hbQ/view?usp=sharing)]
The video is recorded in topic **Place Values**, story **Jaime's Adventures in the Arcade**, **Chapter 1: What are th

[2020-11-20 20:57] #11226 closed, assigned to nobody

[2020-11-20 20:57] #11227 closed, assigned to nobody

[2020-11-20 20:58] #11228 closed, assigned to nobody

[2020-11-20 20:58] #11229 closed, assigned to nobody

[2020-11-20 20:59] #11230 closed, assigned to nobody

[2020-11-20 20:59] #11231 closed, assigned to nobody

[2020-11-20 21:00] #11232 closed, assigned to nobody

[2020-11-20 21:00] #11233 closed, assigned to nobody

[2020-11-20 21:01] #11234 closed, assigned to nobody

[2020-11-20 21:01] #11235 closed, assigned to nobody

[2020-11-20 21:02] #11236 closed, assigned to nobody

[2020-11-20 21:02] #11237 closed, assigned to nobody

[2020-11-20 22:14] seanlip commented on #10619
Closing, this is obsolete. TODOs are removed in #11221.

[2020-11-20 22:14] #10619 closed, assigned to srijanreddy98

[2020-11-21 04:49] jassi-singh commented on #11219
hi, @vojtechjelinek  I want to work on this issue.

[2020-11-21 06:05] Bhanu-mbvg commented on #9749
Hello, @srijanreddy98  can you please assign me to `image-uploader.directive.ts`

[2020-11-21 07:27] #11083 closed, assigned to BenHenning

[2020-11-21 09:01] DubeySandeep commented on #6271
Assigning @mozammel to `update_interaction_answer_groups` of this issue.

[2020-11-21 22:11] vojtechjelinek commented on #11219
@jassi-singh Please go through these instructions if you want to start contributing on Oppia https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia

[2020-11-21 22:25] aks681 opened #11242 "Unable to delete skill from the topics and skills dashboard"
**Describe the bug**
Not able to delete a skill from the topics and skills dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the skills tab in the topics and skills dashboard.
 2. Try to delete any skill

**Observed behavior**
Skill does not delete and the following console error is thrown:
![image](https://user-images.githubusercontent.com/22347970/99888905-622fe080-2c76-11e

[2020-11-21 22:43] vojtechjelinek commented on #11242
Error from the logs:
[code]

[2020-11-21 22:57] aks681 commented on #11242
Thanks for the logs!
Yeah, this is weird since the subtopic has a skill linked in the editor [here](https://oppiatestserver.appspot.com/topic_editor/7cb1gPGgOuRW#/)

[2020-11-22 14:29] #11054 closed, assigned to kevintab95

[2020-11-22 15:45] MegrezZhu commented on #11200
Closing as #11211 has been merged.

[2020-11-22 15:45] #11200 closed, assigned to MegrezZhu

[2020-11-22 18:19] aishwary023 opened #11244 "Contributor Dashboard cluttered UI in mobile"
**Describe the bug**
The UI of the contributor dashboard is cluttered, which makes it difficult to add suggestions and translations.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/contributor-dashboard'

**Screenshots**
<img src="https://user-images.githubusercontent.com/26626415/99911846-040a0880-2d1d-11eb-9911-767f4369ee18.jpg" width="400" height="800" />
<hr>
<img src="https://u

[2020-11-22 18:33] vojtechjelinek commented on #11244
@sagangwee Do we support contributor dashboard on mobile?

[2020-11-22 23:23] sagangwee commented on #11244
@vojtechjelinek No, not yet. We will soon be working on creating mocks for the mobile page.

[2020-11-23 05:27] EricZLou opened #11247 "Lesson Editor Feature: re-organize "choose interaction" tabs"
**Is your feature request related to a problem? Please describe.**
I implemented my first exploration with the lesson editor and it happened to be a math lesson. For all of the questions where I should have used the **Number Input** interaction under the **Math tab**, I unknowingly used the **Text Input** interaction under the **General tab**. As a first time lesson creator, I expected the default

[2020-11-23 05:32] EricZLou opened #11248 "Lesson Editor Feature: automatically compress images that are too large"
**Is your feature request related to a problem? Please describe.**
I'm uploading an image to be included in the lesson with the lesson editor. The image file size is too large (larger than 100kb), so the editor displays an error. Contributors who are implementing lessons are often taking the images from a Google drive folder that the artists are uploading to. I don't think contributors should need

[2020-11-23 05:39] EricZLou opened #11249 "Lesson Editor Feature: multiple answers with same feedback"
**Is your feature request related to a problem? Please describe.**
For me, the workflow to give the same feedback for multiple incorrect responses is not intuitive. This is better described in photos:

Let's say I want to give the same feedback for the incorrect answers 32 and 320 (maybe the right answer is 3200 and it's a power of 10s error). You can only attach the feedback to one of the incorre

[2020-11-23 14:07] linnhallonqvist commented on #11133
Hi! I noticed that there has been no activity around this issue for a while. I'll create a pull request with my solution, hope that's okay. You don't have to use it if you have a better solution. :)

[2020-11-23 18:37] StutiV commented on #10306
Hello, @kevintab95.
I'd like to be a contributor and have completed the survey and signed the agreement. Can you please assign me the following issues?

- core/templates/pages/profile-page/profile-page.component.ts

- core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts

- core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts

[2020-11-23 18:48] vojtechjelinek commented on #11244
Closing this as this feature is in development.

[2020-11-23 18:48] #11244 closed, assigned to sagangwee

[2020-11-23 18:54] StutiV commented on #10415
@vojtechjelinek  Can you please assign me the subtopic issue?

[2020-11-23 18:56] vojtechjelinek commented on #11055
@kevintab95 Any update on this?

[2020-11-23 18:57] vojtechjelinek commented on #11206
@aks681 Any update on this?

[2020-11-23 18:57] vojtechjelinek commented on #11198
@kevintab95 Any update on this?

[2020-11-23 19:01] vojtechjelinek commented on #10415
@StutiV Sure, but please follow these instructions so that you can contribute to Oppia you will need to follow these instructions in order to contribute to Oppia https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia.

[2020-11-23 19:18] vojtechjelinek commented on #11202
After introducing #11209 I can see logs like this on the test server
[code]
so it seems that the retry mechanism now works, keeping this open because we still need to monitor this on the production.

[2020-11-23 19:51] kevintab95 commented on #11198
@DubeySandeep would you able to take a look at (2) in this issue? You may have some familiarity in this area of the codebase.

[2020-11-23 19:53] kevintab95 commented on #11070
@AdityaDubey0 any updates on this?

[2020-11-23 22:30] kevintab95 commented on #11055
Yep, I will try to raise a PR by 25 Nov EOD.

[2020-11-24 08:44] aishwary023 opened #11255 "Recent commit page in moderator-page in mobile stretches the navbar outside the screen"
**Describe the bug**
Recent commit page in mobile stretches the page/navbar towards the right, appears after zooming out.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/moderator-page'

**Expected behavior**
Only the recent commit table should be scrollable.

**Screenshots**

<img src="https://user-images.githubusercontent.com/26626415/100069843-33289300-2e5f-11eb-82c7-ec7fc48a423e

[2020-11-24 12:50] #11073 closed, assigned to MegrezZhu

[2020-11-24 23:06] vojtechjelinek commented on #11198
@DubeySandeep Any update on this?

[2020-11-24 23:46] #11154 closed, assigned to vojtechjelinek

[2020-11-25 00:02] larakhdavies commented on #6271
Hi Brian, I missed this email form OCt 8th, am I still assigned to
update_interaction_answer_groups ?

On Fri, Nov 20, 2020 at 11:01 PM Sandeep Dubey <notifications@github.com>
wrote:

[2020-11-25 21:54] #11096 closed, assigned to aks681

[2020-11-25 21:57] vojtechjelinek commented on #11242
@aks681 When do you expect the fix for this?

[2020-11-25 22:02] vojtechjelinek commented on #11206
@aks681 Any update on this?

[2020-11-25 22:25] #11055 closed, assigned to kevintab95

[2020-11-26 08:54] krishita30j opened #11267 "Item selection interaction issue."
**Describe the bug**
1. If the user enters a long option in the interaction, they have to scroll to find the radio button for option selection as it's present beside the middle of text.
2. In the exploration editor, there should be a 'Read more' and 'Read less' link if the character length of the option exceed a certain limit as the user has to scroll a lot to reach the end of page.

**To Reproduc

[2020-11-26 10:11] bhngupta commented on #9749
Hello,  can you please assign me to `question-difficulty-selector.directive.ts`

[2020-11-26 16:22] krishita30j commented on #9992
Hi @kevintab95,

I would like to work on this issue.

[2020-11-26 20:28] #11155 closed, assigned to aggarwalpulkit596

[2020-11-26 20:28] #11156 closed, assigned to aggarwalpulkit596

[2020-11-27 07:16] tigerdw commented on #10415
i would like to work on the feedback model

[2020-11-27 07:18] tigerdw commented on #10798
@U8NWXD i would like to work on with these 3 files:
core/tests/protractor_utils/TopicEditorPage.js
 core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js
 core/tests/protractor_utils/forms.js

[2020-11-27 08:21] Radesh-kumar commented on #8016
core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
@nishantwrp can we skip this , since it is not making any http request?

[2020-11-27 08:26] Radesh-kumar commented on #8016
core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.ts
@ankita240796 @nishantwrp There is already an existing service "ExplorationSummaryBackendApiService", should I skip this?

[2020-11-27 14:29] Radesh-kumar commented on #8016
core/templates/dev/head/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
@ankita240796 Can you assign me this?

[2020-11-27 18:47] vojtechjelinek commented on #10415
@tigerdw Sure, but please follow these instructions so that you can contribute to Oppia you will need to follow these instructions in order to contribute to Oppia oppia/oppia/wiki/Contributing-code-to-Oppia.

[2020-11-27 18:59] kevintab95 commented on #10306
Sorry for a late response. @cernoit I've assigned you `exploration-features-backend-api.service.ts`, hope that is fine.

@StutiV looks like the files you have requested are already claimed. Would you like to take a look at `exploration-improvements.service.ts` instead?

[2020-11-27 20:18] nishantwrp commented on #8016
@Radesh-kumar yes you're right `exploration-footer.directive.ts` already has a service. You can skip that.

[2020-11-27 20:19] nishantwrp commented on #8016
Also, assigned you the service, @Radesh-kumar.

[2020-11-28 03:55] srijanreddy98 commented on #9749
@Bhanu-mbvg done!

[2020-11-28 10:33] gp201 commented on #9499
@kevintab95 @sagangwee Could you please assign this issue to me? Thanks

[2020-11-28 12:30] HarshKhilawala commented on #10798
@U8NWXD @kevintab95 Please assign me any unassigned issue

[2020-11-28 15:19] tigerdw commented on #10415
Alright, thanks!

[2020-11-29 07:40] parulpriyedarshani commented on #10306
Hey @kevintab95 I would like to work on this issue. Done with the CLA and the new contributors' survey!

[2020-11-29 08:09] ritvikkhanijo commented on #10306
hi @kevintab95! I am a new contributor and I've filled out the CLA and the survey, can I work on the following? Thanks!
core/templates/services/exploration-improvements.service.ts

[2020-11-29 11:18] ritvikkhanijo commented on #9749
@srijanreddy98, can you please assign delete-account-page.component.ts to me? Thank you.

[2020-11-29 14:40] apurvbotle commented on #11181
Hi @seanlip, I've completed the setup. The list of buttons in respective pages for which changes would be desired is as below:

**Buttons on navbar on all pages:**
- donate
- create
- sign in

**Buttons on home page:**
- browse our lessons
- create your own lessons

**Button on library page:**
- explore

**Buttons on about page:**
- I want to learn
- I want to teach
- foundations tab > donate
- fo

[2020-11-29 20:10] #10905 closed, assigned to kevintab95, ReshuKumari

[2020-11-29 21:56] U8NWXD commented on #10798
@HarshKhilawala I've assigned you to `core/tests/protractor_utils/ExplorationEditorMainTab.js`

[2020-11-29 21:58] U8NWXD commented on #10798
@tigerdw would you mind choosing just one of those 3 files? Once you finish one file, you can start work on the next.

[2020-11-29 22:05] subedi90 opened #11283 "Create Preferences model class"
In **core/templates/services/user-backend-api.service.ts**,  PUT request to **'/preferenceshandler/data'** returns PreferencesBackendDict. Create Preferences model class and return domain object in response to the put request, instead of returning PreferencesBackendDict interface.

[2020-11-30 00:41] jimbyo commented on #10715
Closed via https://github.com/oppia/oppia/pull/11172

[2020-11-30 00:41] #10715 closed, assigned to jimbyo

[2020-11-30 01:04] larakhdavies commented on #8668
Hello @Showtim3 , could I please be assigned to admin-task-manager.service.ts

[2020-11-30 02:26] Bhawana15 commented on #3446
Hey, I am Bhawana. I am new to Oppia & open source community. I have signed the CLA & completed the contributor survey. I am interested in solving issue #3446. What should be my next step @kevintab95 ?

[2020-11-30 09:59] seanlip commented on #11181
Thanks, @apurvbotle! FYI @mschanteltc is away and will be back later this week. Perhaps in the meantime you could look at another issue first, and then come back to this one when she replies?

[2020-11-30 10:21] apurvbotle commented on #11181
Sure 👍

[2020-11-30 13:57] tigerdw commented on #10798
Understood, I will start with forms.js, just created PR.

[2020-11-30 19:23] mridul-netizen opened #11289 "sendKeys statement cannot be converted to action.sendKeys(..)"
The issue deals with an error within the file [CollectionEditorPage.js](https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/CollectionEditorPage.js)
The following sendKeys statement cannot be converted to action.sendKeys(..) because doing so causes the e2e test to fail with an error.
[code]
The Change which was made :-
[code]

This error which occurred on the above change:-

[c

[2020-11-30 19:25] mridul-netizen commented on #11289
@kevintab95 I raised an issue for the first time please suggest changes needed to be made

[2020-11-30 19:51] kevintab95 commented on #11289
Looks good, thanks @mridul-netizen!

[2020-11-30 20:05] EricZLou commented on #9220
@kevintab95 any updates on the document mentioned above?

I'm implementing a lesson right now and the SVG artwork I'm receiving uses unsupported SVG tags and attributes. Are we telling our artists to not use any of the unsupported SVG tags or attributes?

Simple solution: if they want to use unsupported SVG tags or attributes, just ask them to convert the image to PNG. As long as the PNG is under

[2020-11-30 20:12] vojtechjelinek commented on #10415
@MahmoudAmmar-96 @nskirkey Do you still work on this issue?

[2020-11-30 20:55] kevintab95 commented on #9220
Hi @EricZLou, we don't have a doc for this as of now. We won't be allowing SVGs with unsafe tags/attrs in the application. So authors will have to make sure they upload valid SVG images. That said, I do not think authors will have to remove bad tags by hand, as mentioned earlier, standard tools to creates SVGs like Adobe Illustrator provide export options to ensure the SVG created is web-friendly

[2020-11-30 22:05] SarahZLipeles opened #11292 "Revise docker ubuntu version once back end is updated to python 3"
Ubuntu stopped including python 2 libraries after Ubuntu 18.04

ubuntu_dockerfile uses `ubuntu:18.04` as of #11278

Once the backend is updated to python 3 (#9827), the Ubuntu version in this dockerfile should be revised to `ubuntu:latest` or another relevant version at that time

[2020-11-30 22:49] brianrodri commented on #6271
Hi @larakhdavies, seems that `update_interaction_answer_groups` has already been fixed by #11256, so unfortunately there's nothing more to do there.

@DubeySandeep is this issue resolved now, or is there something else Lara can try to take?

[2020-12-01 06:54] parulpriyedarshani commented on #10306
Hi @kevintab95 I'd like to work on the following issues. Can you please assign me those? Thanks.

- core/templates/domain/topics_and_skills_dashboard/topics-and-skills-dashboard-backend-api.service.ts

- extensions/objects/templates/filepath-editor.directive.ts

[2020-12-01 13:46] U8NWXD opened #11296 "Flaky Backend Test: test_angular_services_index_error"
The backend test `scripts.linters.js_ts_linter_test.JsTsLintTests.test_angular_services_index_error` [failed on GitHub Actions](https://github.com/oppia/oppia/pull/11288/checks?check_run_id=1475319723) for PR #11288 but passed locally. It also [passed on GitHub Actions when the tests were rerun](https://github.com/oppia/oppia/runs/1476088346). This indicates that this test is at least somewhat fla

[2020-12-01 16:23] vojtechjelinek commented on #10306
@ritvikkhanijo @parulpriyedarshani Assigned both of you.

[2020-12-01 17:19] nithusha21 commented on #8668
Hello @larakhdavies assigned you!

[2020-12-01 19:00] U8NWXD opened #11297 "Pin Versions of Python Dependencies"
## Problem

We currently pin the versions of python packages we install, but not the versions of those packages' dependencies. For example, we pin a version of `piptools`, but `piptools` depends on `pip`. When we install `piptools`, we install the latest version of `pip`, so that `pip` version is not pinned. This can lead to breakages on CI when a new version of `pip` is released that isn't backwa

[2020-12-01 22:49] DubeySandeep commented on #10415
Unassigned @MahmoudAmmar-96 because of lack of response/activity.

[2020-12-02 00:01] DubeySandeep opened #11300 "Remove the DeleteAllQuestionAndInvalidSuggestionsOneOffJob once it's released"
The DeleteAllQuestionAndInvalidSuggestionsOneOffJob is added in #11274 and expected to be a one time job. Through this issue, we are expecting to remove it once it's released.

[2020-12-02 01:26] #11242 closed, assigned to aks681

[2020-12-02 05:50] tigerdw commented on #10306
I would like to work on this issue: core/templates/services/state-top-answers-stats.service.ts

[2020-12-02 05:51] tigerdw commented on #10415
@vojtechjelinek could you please disassign me from the feedback model?

[2020-12-02 06:18] tigerdw commented on #10306
I would like to work on this issue:  core/templates/services/state-top-answers-stats.service.ts

[2020-12-02 07:22] mimmicromsjoo commented on #11267
Hi, can I work on this issue @krishita30j ?

[2020-12-02 07:27] krishita30j commented on #11267
@mimmicromsjoo, sure go ahead! :)

[2020-12-02 07:29] tigerdw commented on #10474
I would like to work on LearnerParamsService @nishantwrp

[2020-12-02 14:08] DubeySandeep commented on #10306
Assigned `core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts` to @KhushiGangopadhyay

[2020-12-02 18:18] mridul-netizen commented on #10474
@nishantwrp Can I work on these two:-

-   CreatorExplorationSummaryObjectFactory
-   CreatorDashboardStatsObjectFactory

[2020-12-02 18:33] DubeySandeep commented on #11296
Adding error log for quick reference
[code]

[2020-12-02 18:36] #9894 closed, assigned to aks681, Rijuta-s

[2020-12-02 18:37] DubeySandeep commented on #11296
@srijanreddy98, Can you take a look at this issue? (Seems like an issue related to angular lint checks.) Let me know if you find something, I'll be happy to help and get this issue resolved. (Note: This has happened once till now)

[2020-12-02 18:54] TheoLipeles commented on #8472
Can I work on `suggestion-modal-for-creator-view.service.ts`?

[2020-12-02 18:57] atpug22 commented on #11163
@seanlip @kevjumba I also ran into this error while installing oppia in linux VM on windows after running   ```python -m scripts.start``` command.

[2020-12-02 19:20] kevjumba commented on #11163
Trying to get the PR to make a clear message merged in.

[2020-12-02 19:46] vojtechjelinek commented on #10474
@mridul-netizen I have assigned you.

[2020-12-02 19:49] nskirkey commented on #10415
Still working on issue. Will have the PR soon.

[2020-12-02 21:46] DubeySandeep commented on #11029
The issue got fix via two PRs:
1. https://github.com/oppia/oppia/pull/11169/files#diff-5a316725c3d13e54962250ee01ea2f180103f7c197c949161ddf635e20d4e346R99
2. https://github.com/oppia/oppia/pull/11274

[2020-12-02 21:46] #11029 closed, assigned to DubeySandeep

[2020-12-02 21:47] DubeySandeep commented on #11129
This issue got fixed via https://github.com/oppia/oppia/pull/11169

[2020-12-02 21:47] #11129 closed, assigned to sagangwee

[2020-12-02 21:49] DubeySandeep commented on #11138
As we had updated the content counter method, it was needed to run the regeneration job to update the counts in the models. We ran the ExplorationOpportunitySummaryRegenerationOneOffJob on the test server and it got fixed.

[2020-12-02 21:49] #11138 closed, assigned to sagangwee, DubeySandeep

[2020-12-02 21:51] DubeySandeep commented on #11030
This issue got fixed via https://github.com/oppia/oppia/pull/11141

[2020-12-02 21:51] #11030 closed, assigned to DubeySandeep

[2020-12-02 21:51] DubeySandeep commented on #11137
This issue got fixed via https://github.com/oppia/oppia/pull/11141

[2020-12-02 21:51] #11137 closed, assigned to DubeySandeep

[2020-12-02 21:53] DubeySandeep commented on #11136
This issue got fixed via the following PR: https://github.com/oppia/oppia/pull/11141/files#diff-7c0a61daaa262e962cd70544379ab4b330963a02e4ddd4929a02ab3c37e831e6L2117

[2020-12-02 21:53] #11136 closed, assigned to DubeySandeep

[2020-12-03 01:48] kevintab95 opened #11309 "Flaky e2e test: Full exploration editor should prevent going back when help card is shown"
`Full exploration editor should prevent going back when help card is shown` test in the `additionalPlayerFeatures` suite seems to be flaky in this [build](https://github.com/oppia/oppia/pull/11307/checks?check_run_id=1489380753).

Log:
[code]

[2020-12-03 04:49] vojtechjelinek opened #11312 "`UserContributionsModelAuditOneOffJob` failing to run on the test server"
The `UserContributionsModelAuditOneOffJob` is failing on the test server with this error:
[code]

Fix this issue and the reschedule the `UserContributionsModelAuditOneOffJob` to be run again.

[2020-12-03 04:51] vojtechjelinek commented on #11312
@ankita240796 PTAL we talked about this in email thread, I'm fine if you have no time to work on this, someone from Stability Task Force will handle it if needed.

[2020-12-03 06:10] archi15 commented on #10415
Hi! Could I work on feedback model ?

[2020-12-03 06:26] srijanreddy98 opened #11313 "Refactor SVG sanitisation into a new service file."
The service (image-upload-helper.service.ts) contains some functions that check SVGs for possible vulnerabilities. These functions belong in a separate service.

Functions that need to moved:
- getInvalidSvgTagsAndAttrs
- cleanMathExpressionSvgString

Please contact @kevintab95 if you need more information on this.

[2020-12-03 07:03] seanlip opened #11314 "Migrate from GAE search services to ElasticSearch"
The aim of this issue is to complete the migration of the search service to use ElasticSearch. This work follows on from https://github.com/oppia/oppia/pull/11295.

The steps needed are as follows:
1. **[done]** Add a testing framework for the elasticsearch API, most likely a mock that will allow all of the other search unit tests to pass, similar to the way the gae search API is stubbed out.
2. *

[2020-12-03 07:15] seanlip commented on #11314
Also /cc @shubha-rajan

[2020-12-03 07:53] seanlip commented on #11313
Closing. See https://github.com/oppia/oppia/pull/11306#discussion_r534847970

[2020-12-03 07:53] #11313 closed, assigned to nobody

[2020-12-03 10:48] krishita30j commented on #10727
Hi @vojtechjelinek,
I would like to work on this issue.

[2020-12-03 11:14] rrsampathi commented on #10474
@nishantwrp Could I work on ExplorationDiffService, ExplorationDraftObjectFactory, and ExplorationFeaturesService?

[2020-12-03 15:19] arnoob16 opened #11317 "Horizontal Scrollbar appears in Oppia Foundation home page"
**Describe the bug**
There is a horizontal scrollbar appearing in the home page of Oppia Foundation Home Page. The scrollbar isn't popping up for any of the other pages in Oppia or Oppia Foundation sites.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Oppia Foundation Homepage](https://www.oppiafoundation.org/)
 2. See the horizontal scrollbar appearing.

**Observed behavior**
There

[2020-12-03 16:13] arnoob16 commented on #11317
@simonwex @mahjong @mauriciofauth @mozammel
Can you guys check the issue and assign it to me?

[2020-12-03 16:44] apurvbotle commented on #10798
Hi @U8NWXD, would like to work on core/tests/protractor_utils/TopicEditorPage.js.

[2020-12-03 16:51] apurvbotle commented on #10306
Hi @kevintab95, would like to work on core/templates/services/assets-backend-api.service.spec.ts.

[2020-12-03 18:42] TheoLipeles commented on #8472
@tyleri can I take suggestion-modal-for-creator-view.service.ts?

[2020-12-03 18:42] TheoLipeles commented on #8472
@tyleri

[2020-12-03 19:13] U8NWXD commented on #10798
@apurvbotle I've assigned you! Let me know if you have any questions

[2020-12-03 19:46] kevintab95 commented on #10306
@apurvbotle sure, I've just assigned it to you!

[2020-12-03 19:52] #11133 closed, assigned to nobody

[2020-12-03 20:11] mschanteltc commented on #11181
@apurvbotle Yes all these changes sound good to me! I would also change the font for Classroom, Library, and About buttons in the navbar.

[2020-12-03 20:19] U8NWXD opened #11321 "Take Screenshots of Failing Tests on GitHub Actions"
We can't use `protractor-jasmine2-screenshot-reporter` on github actions because it doesn't work with xvfb. Instead, we could build a reporter ourselves like [this](https://gist.github.com/jlouros/190d654850f8e2ed7b51ed6267f30400). We could also fork `protractor-jasmine2-screenshot-reporter` and add compatibility with xvfb.

[2020-12-03 20:20] #11309 closed, assigned to kevintab95

[2020-12-03 20:23] U8NWXD commented on #9404
This last occurred in early August

[2020-12-03 20:23] #9404 closed, assigned to nobody

[2020-12-03 20:28] U8NWXD commented on #9098
This hasn't been seen since June

[2020-12-03 20:28] #9098 closed, assigned to U8NWXD

[2020-12-03 21:15] kevintab95 opened #11322 "ImportError: cannot import name training_job_response_payload_pb2"
An error with the following traceback seems to occur in e2e tests as seen in [build 1](https://app.circleci.com/pipelines/github/oppia/oppia/16654/workflows/57fa4a4b-3c5f-4a39-b3ac-ff5421dc6b0f/jobs/94013) and [build 2](https://app.circleci.com/pipelines/github/oppia/oppia/16654/workflows/57fa4a4b-3c5f-4a39-b3ac-ff5421dc6b0f/jobs/94012). It appears to throw 500 errors in the backend causing the e2

[2020-12-03 21:20] kevintab95 commented on #11322
It appears to be the case that PRs failing with this error is not updated with develop. Merging from develop should solve this in PR builds.

[2020-12-03 21:20] #11322 closed, assigned to nobody

[2020-12-03 22:37] TheoLipeles commented on #8472
@srijanreddy98  Would migrating `suggestion-modal-for-creator-view.service.ts` be a good starter task?
If so, I'd like to claim it, if not, do you have any suggestions?

[2020-12-03 23:13] #11163 closed, assigned to kevjumba

[2020-12-04 01:05] SarahZLipeles commented on #4057
@nithusha21 Can I take `exploration-recommendations.service.ts`?

[2020-12-04 01:41] jcqli commented on #10415
Could I be assigned suggestion (I think this is the last one left)?
Thanks!

[2020-12-04 03:42] apurvbotle commented on #11181
@mschanteltc Sure, will make the fixes as suggested.

[2020-12-04 03:48] DubeySandeep commented on #10415
Hi @archi15 & @jcqli , I've assigned you to the `feedback` & `suggestion` part of this issue. You can start working on it. Do let us know if you have any questions. Thanks! :)

[2020-12-04 05:57] Radesh-kumar commented on #8016
i made changes and tried to push to my repo, I am stuck here. At Third-party lint checker, It does not move further tried multiple times
![image](https://user-images.githubusercontent.com/54100702/101127389-7afba700-3623-11eb-9eda-a2c02f471da4.png)

[2020-12-04 06:08] b-thebest commented on #7530
Can I work on this

[2020-12-04 06:08] b-thebest commented on #9718
Can I fix it?

[2020-12-04 09:21] ReshuKumari commented on #9263
I would like to work on this issue.

[2020-12-04 13:51] nishantwrp commented on #10474
@rrsampathi sure, assigned you. Go ahead!

[2020-12-04 16:20] nithusha21 commented on #10852
Hi, I did a bit of investigation into this issue, and it seems to be a chained import error that is hidden by the logging. To debug, what I did is to add the line `from scripts.linters import codeowner_linter_test` into tests/gae_suite.py just before where it does loader.discover.

You see a log which basically says cannot find module `configparser`.

On searching the codebase for configparser, I

[2020-12-04 16:20] #10852 closed, assigned to nobody

[2020-12-04 16:35] nithusha21 commented on #4057
Sure @TheoLipeles

[2020-12-04 16:48] nithusha21 opened #11329 "Replace CSS class manipulation using addClass and removeClass with corresponding angular tags"
We would like to not directly do DOM manipulation in the TS code, and instead do it using angular tags. This issue is aimed at removing all uses of addClass and removeClass functions. PRs that fix this should demonstrate that the functionality remains the same with screenshots/recording of the behavior before and after the change.

The following list of files need to be fixed:

- [ ] core/template

[2020-12-04 16:56] nithusha21 opened #11330 "Replace CSS class manipulation using .css with corresponding angular tags"
We would like to not directly do DOM manipulation in the TS code, and instead do it using angular tags. This issue is aimed at removing all uses of  removeClass functions. PRs that fix this should demonstrate that the functionality remains the same with screenshots/recording of the behavior before and after the change.

The following list of files need to be fixed:

- [ ] extensions/interactions/M

[2020-12-04 18:23] vojtechjelinek commented on #9718
@b-thebest Please follow these instructions if you want to contribute https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia

[2020-12-04 19:04] gp201 opened #11333 "[Exploration Editor] Missing buttons after publishing and unpublishing."
**Describe the bug**
- [x] **1)** After the user publishes an exploration in the settings tab the `Transfer ownership to the community` and `Unpublish` buttons are missing. Upon reloading the webpage (`Ctrl` + `r`) the buttons appear.

- [x] **2)** After the user unpublishes an exploration in the settings tab the `Transfer ownership to the community` does not disappear and upon clicking it an `Err

[2020-12-04 19:19] atpug22 commented on #8472
@srijanreddy98 @tyleri I wanna work on ```fatigue-detection.service.ts``` . Can You Please assign this to me?

[2020-12-05 02:56] mschanteltc opened #11334 "Exploration Editor, History Tab - Fix Version Number Listing"
**Issue**
Version number of explorations are backwards, meaning that the latest version of the exploration starts at 1. This is a problem when past versions are being referenced since the number always changes when a new version is saved.
![image](https://user-images.githubusercontent.com/22177674/101230177-b49ad500-3658-11eb-9608-3c92f012a141.png)

**To Reproduce**
Steps to reproduce the behavior

[2020-12-05 02:56] mschanteltc commented on #11334
@kevintab95

[2020-12-05 14:54] apurvbotle commented on #11181
@mschanteltc Have forwarded a request to access [UI Guidelines](https://docs.google.com/document/d/1R9PWRBA7yPCiHxc325gx1xHd_RMLRlCjMFWDCowUPag/edit?ts=5f8a76ea#bookmark=id.ryxcaut2xa64). Kindly look into.

[2020-12-05 17:19] kevintab95 commented on #9964
Closing since this has been fixed.

[2020-12-05 17:19] #9964 closed, assigned to aks681

[2020-12-05 23:25] DubeySandeep opened #11338 "Simplify the feedback and suggestion services files"
Currently, the feedback and suggestions services files are not structured well and has big and complicated functions and structure. Few of the know issues:

1. [in feedback services] A very long create_message function that creates new message models, updates feedback thread and suggestion models, sends emails, and lots of other stuff. This function is around 200 lines long.

2. [in suggestion_ser

[2020-12-06 00:04] mschanteltc commented on #11181
@apurvbotle Shared with you!

[2020-12-06 04:19] sszaman37 commented on #10798
Hey @U8NWXD, I would like to work on core/tests/protractor_utils/ExplorationEditorStatsTab.js

[2020-12-06 05:29] Rijuta-s commented on #10315
Hi @kevintab95 , Can you please assign me this one?

[2020-12-06 06:14] kevintab95 commented on #10315
Yup, done @Rijuta-s!

[2020-12-06 09:34] Radesh-kumar commented on #11330
@nithusha21 assign me this issue.

[2020-12-06 09:34] Radesh-kumar commented on #11329
@nithusha21 assign me this issue.

[2020-12-06 16:03] kevintab95 commented on #8472
@atpug22 I've assigned it to you.

[2020-12-06 21:53] sayantan1413 commented on #9749
@kevintab95 Can you assign me the topic-selector.directive.ts ?

[2020-12-06 21:54] kevintab95 commented on #9749
@ritvikkhanijo, @sayantan1413 I've assigned you both the requested files. Thanks!

[2020-12-07 00:05] U8NWXD commented on #10798
@sszaman37 it looks like kevintab95 has assigned you. Let me know if you have any questions!

[2020-12-07 05:53] jassi-singh commented on #11219
@vojtechjelinek i have successfully setup oppia on my system can you guide me more about this issue.

so i can start

[2020-12-07 10:06] mridul-netizen commented on #8472
@srijanreddy98 can I work on  `learner-playlist.service.ts`?

[2020-12-07 17:32] vojtechjelinek commented on #11219
@jassi-singh I strongly recommend starting with some of our [good first issues](https://github.com/oppia/oppia/labels/good%20first%20issue) these are recommended to new contributors after you complete two simple issues you can work on this issue if you join the Stability Task Force. Your onboarding mentor will provide you with more info.

[2020-12-07 23:17] seanlip commented on #11317
This does not arise for me. Is your zoom level set to 100%?

(Closing due to unreproducability.)

[2020-12-07 23:17] #11317 closed, assigned to nobody

[2020-12-07 23:19] seanlip commented on #10506
Closing; I think the plan going forward is to just handle cases like this manually.

[2020-12-07 23:19] #10506 closed, assigned to nobody

[2020-12-07 23:25] arnoob16 commented on #11317
My zoom level is set to 100% on Chrome. It is visible on 100 but not visible on 90/110 zoom levels.
The Horizontal bar reproduces the same behaviour on Edge version 87.0.664.55 on my laptop.

[2020-12-07 23:27] seanlip commented on #11317
Thanks for checking. That is a little odd.

Do you see this issue at all screen widths? If not, for what screen widths does it arise?

Also, you have no browser extensions enabled, correct?

[2020-12-08 09:13] #10758 closed, assigned to vojtechjelinek

[2020-12-08 09:13] #11157 closed, assigned to vojtechjelinek

[2020-12-08 09:25] #10178 closed, assigned to vojtechjelinek

[2020-12-08 11:15] apurvbotle commented on #11181
@mschanteltc The issue description suggests referring to the UI guidelines for color. The guidelines also mention medium weight font for button text. Should I change the font weight to medium?

Also, need some clarification on changes for Library button in the navbar on hover. It currently looks as below when hovered.

![navbar-library](https://user-images.githubusercontent.com/68392962/101476588-

[2020-12-08 13:31] mimmicromsjoo commented on #11267
@krishita30j I have a question about "2. Add a 'Read more' and 'Read less' link if the character length of the option exceeds a certain limit". The text these links will be applied to is inside a button that opens the editing of the interaction I believe. Is it possible to nestle a link inside a button element?

[2020-12-08 14:59] ChitvanRamani22 commented on #3446
Hi @seanlip I am interested in working on this issue. But i want to start with a easy one from which should i start. Please suggest!!
And please tell how to fill the CLA form, where's the link to it.

[2020-12-08 15:14] ChitvanRamani22 commented on #9465
Hi! This is my first issue can and I am a complete beginner to open source. Can I take this issue it will help me to boost my confidence.

 I have signed CLA for contribution and also filled up the survey form.

[2020-12-08 15:58] krishita30j commented on #11267
Hi @mimmicromsjoo, I think the links won't require a button. A simple anchor tag will do the job.

[2020-12-08 21:37] Diacron commented on #9465
Hi. Can I request to work on this or is it taken?

[2020-12-09 00:52] Bhawana15 commented on #3446
Hi @ChitvanRamani22, I am Bhawana, also a new contributor. [Here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) you can find the link to fill the CLA. After filling it you will get a mentor, who will guide you towards your first contribution. Also #10306 is an easy first issue you can solve. Thanks.

[2020-12-09 02:43] mschanteltc commented on #11181
Yes please use medium weight font for button text. The navbar LGTM once the font weight is changed. What clarification do you need for the Library button though?

[2020-12-09 04:18] ChitvanRamani22 commented on #3446
Hello Bhavna
I filled the CLA form but how will i get to know who is my mentor.

On Wed, 9 Dec 2020, 6:23 am Bhawana Tiwari, <notifications@github.com>
wrote:

[2020-12-09 04:47] ChitvanRamani22 commented on #10306
Hi @kevintab95 i signed the CLA form and also filled up the contributor's survey.
How will i get to know who is my mentor.

[2020-12-09 05:55] apurvbotle commented on #11181
@mschanteltc Doubt was regarding the CSS on hover for the Library button. Thought it might have CSS on hover same as the buttons. But realized that it is a link. So no changes in CSS for hover were required for this button. Rest of the changes have been made as desired / per UI guidelines.

Screenshots for all the fixes made are as below.

![1-navbar](https://user-images.githubusercontent.com/6839

[2020-12-09 13:42] ChitvanRamani22 commented on #9499
@sagangwee @kevintab95  i am completely new to open source. Can i take this as my first issue? Thanks

[2020-12-09 16:00] #11300 closed, assigned to DubeySandeep

[2020-12-09 17:18] ashutoshc8101 opened #11354 "Feature Request: Docker integration with oppia"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I would like to have oppia project containerized with docker
I want to work on this.

[2020-12-09 19:05] nishantwrp commented on #10474
Hi @PPenmetsa @UJJWAL-1711 @Deepam101 @shubham00jain @Rijuta-s @arpit1912 @yogendra-17 @jian-en @shrutigrover @singlamohit1 @prachi1801 @carrimaxx @suryasiriki4, I wanted to know the status on the files you're assigned. Please let us know if you're facing any troubles working on these files. Thanks!

[2020-12-09 19:45] mlwalters commented on #10474
--- So sorry for the late update, I ran into a few issues with the setup environment. Would like to withdraw working on the issue assigned to me (GuestCollectionProgressObjectFactory) for now so others can have a chance to work on it as I am currently preoccupied. Would love to go back and contribute next time I am free. Thank you @nishantwrp

[2020-12-09 22:00] #11334 closed, assigned to kevintab95

[2020-12-10 00:07] mschanteltc commented on #11181
Thanks @apurvbotle. Just so we're on the same page, what is the CSS for the hovered buttons in the navbar? And for the text, can we space out the characters a tiny bit?

[2020-12-10 05:34] Rijuta-s commented on #10474
Hi  @nishantwrp  . I'll take up CollectionNodeObjectFactory whenever I'm free.Can you please unassign me from it for the timebeing.Thank you.

[2020-12-10 07:08] nishantwrp commented on #10474
@carrimaxx @Rijuta-s No worries! I've unassigned you both. Thanks for the update.

[2020-12-10 07:31] #11354 closed, assigned to nobody

[2020-12-10 08:32] apurvbotle commented on #11181
@mschanteltc The CSS for hovered buttons was changed to background-color #3D9991. For navbar links (Classroom, Library, and About) CSS on hover has not been altered. The navbar on hover looks as below.

![2bygTjSlrD](https://user-images.githubusercontent.com/68392962/101738798-b0553880-3aec-11eb-9e15-e903219824c9.gif)

I've spaced out the characters by 0.7px for the button/link text. Screenshots a

[2020-12-10 12:01] Ayushsunny commented on #11002
I want to work on this issue.

[2020-12-10 13:35] namanarora00 commented on #8423
Hey, if there are any tasks left for Python I would love to work on them. Thanks!

[2020-12-10 18:36] atpug22 commented on #8472
@srijanreddy98 what to use in place of  ```confirm-or-cancel-modal.controller.ts``` in ```fatigue-detection.service.ts``` while migrating uibmodal to ngbmodal ? or is there any other way to migrate uibmodal??

[2020-12-10 20:49] mschanteltc commented on #11181
Thanks for the clarification @apurvbotle! We probably would need to make an exception for the "Donate" and "Create" buttons because it would be expected that they would have the same hover interaction as "Library."

Is it possible we can set the background of "Donate" and "Create" to #000000 with 20% opacity? This is approximately how it is done currently on the site.

[2020-12-10 21:09] SarahZLipeles opened #11366 "Mirror Relevant Visual Components for RTL Languages"
**Problem Description**
Many components are designed from a left to right (LTR) reading perspective.
When translated into a language that reads right to left (RTL), like Arabic or Hebrew, text can become difficult to read, and the ordering of some components no longer makes sense. This makes the site more difficult to navigate

**Examples**
 - Components signifying subcategories should go right to

[2020-12-10 21:22] #11142 closed, assigned to varun-tandon

[2020-12-10 21:22] #11150 closed, assigned to varun-tandon

[2020-12-10 21:40] SarahZLipeles opened #11367 "Text in RTL Languages Should Align Right"
**Describe the bug**
When displaying text in right to left (RTL) languages, Oppia still displays the text aligned to the left. This makes it harder for the user to find the beginning of each line.

**Caveats**
 - Punctuation needs to be repositioned.
For example: `Hello!` should be displayed as `!مرحبا` rather than `مرحبا!`

 - Special attention to numbers and equations.
Numbers in different langu

[2020-12-11 00:10] seanlip commented on #11314
Here's the plan, per discussion with @shubha-rajan:

(1) Get PR for step 1 out for review by 11 Dec.
(2) Get PR for step 2 out for review by 17 Dec.
(3) @seanlip and @shubha-rajan collaborate on steps 3 and 4.

Step 5 is easy and non-blocking so we won't put a firm schedule on it for now.

[UPDATE: The steps in the original comment have changed, so this comment is now obsolete.]

[2020-12-11 16:14] nithusha21 opened #11371 "Remove jquery constructs used in angularJS code"
- [x] .addClass(), .removeClass(): #11329
- [x] .css(): #11330 @himkar-cmd
  - PR: https://github.com/oppia/oppia/pull/22477
- [x] Animations including .animate(), .blur(), .fadeIn(), .fadeOut() @himkar-cmd
  - PR: https://github.com/oppia/oppia/pull/22510
  - New PR: https://github.com/oppia/oppia/pull/22847
- [x] Element manipulation like .attr, .data, .text, .append, .html  @KartikSuryavanshi

[2020-12-11 16:59] parulpriyedarshani commented on #10474
@nishantwrp I would like to work on these two:

- LogicProofRulesService

-  LostChangeObjectFactory

[2020-12-11 17:11] nishantwrp commented on #10474
Hi @parulpriyedarshani, I've assigned you. Go ahead!

[2020-12-11 17:42] aggarwalpulkit596 opened #24190 "Create Linear Scale Interaction"
Create a proper design document for adding new a new interaction named Linear Sacle Interaction into android and web platform

https://docs.google.com/document/d/1RRmmH7Zrk_Mda9a67KBjFV5Odz2OzGfbYFFP_fPI_2c/edit

[2020-12-11 17:43] aggarwalpulkit596 commented on #24190
cc @BenHenning @seanlip

[2020-12-11 17:56] kevintab95 commented on #10645
Fixed by https://github.com/oppia/oppia/pull/11294. Closing.

[2020-12-11 17:56] #10645 closed, assigned to kevintab95

[2020-12-12 02:51] jcqli commented on #9749
Could I work on answer-submit-action.component.ts? Thanks!

[2020-12-12 04:51] kevintab95 commented on #9992
@krishita30j this can be closed right?

[2020-12-12 05:01] nithusha21 commented on #10064
Possibly the same as https://github.com/oppia/oppia/issues/10852. Could you confirm?

[2020-12-12 05:05] nithusha21 commented on #10726
This does not work directly. For some reason it needs to be part of the globally installed libraries (so you need to do a pip install configparser). I have added a note in all the installation wiki pages.

[2020-12-12 05:45] krishita30j commented on #9992
@kevintab95, yes it can be closed.

[2020-12-12 05:48] kevintab95 commented on #9992
Thanks for confirming! closing.

[2020-12-12 05:48] #9992 closed, assigned to krishita30j

[2020-12-12 05:50] Radesh-kumar commented on #8016
@nishantwrp  @DubeySandeep  can you assign me these?
core/templates/dev/head/pages/admin-page/jobs-tab/admin-jobs-tab.directive.ts
core/templates/dev/head/pages/admin-page/roles-tab/admin-roles-tab.directive.ts

[2020-12-12 17:40] jassi-singh commented on #10474
Hi @nishantwrp I would like to work on  **ClassifierObjectFactory**

[2020-12-12 19:08] akshathkaushal commented on #10306
Hi, @kevintab95 I would like to take up this issue. I have submitted the CLA and the New Contributor Survey.

[2020-12-12 23:20] gg-dev-05 commented on #10306
Hi @kevintab95, Is this issue still open to work on. I have already signed the CLA and the contributor's survey.

[2020-12-12 23:32] gg-dev-05 commented on #10474
Hi @nishantwrp, I would also like to work on this. I am a complete beginner can you please assign me accordingly.

[2020-12-13 06:08] kevintab95 commented on #10306
@gg-dev-05 yep, there are a few files that are unassigned, feel free to pick one (or more) and comment here and I'll assign it to you!

[2020-12-13 06:26] gg-dev-05 commented on #10306
Thanks @kevintab95, Can you please assign me to:

- core/templates/services/request-interceptor.service.spec.ts

- core/templates/services/playthrough-issues-backend-api.service.spec.ts

[2020-12-13 06:28] apurvbotle commented on #11181
Hi @mschanteltc! The buttons appear as below after incorporating the on-hover and background changes.

![navbar-on-hover](https://user-images.githubusercontent.com/68392962/102004827-5649b280-3d3a-11eb-98fd-7ce0e99f96ee.gif)

[2020-12-13 06:28] kevintab95 commented on #10306
Done!

[2020-12-13 07:06] Anushk2001 commented on #10306
Hello @kevintab95
I'd like to work on:
 core/templates/services/state-top-answers-stats.service.ts
 extensions/objects/templates/svg-filename-editor.component.spec.ts

[2020-12-13 07:41] ChitvanRamani22 commented on #10306
hi @kevintab95 @nishantwrp can i work on:
core/templates/services/state-top-answers-stats.service.ts
extensions/objects/templates/svg-filename-editor.component.spec.ts
i had signed the CLA and filled up the survey form also

[2020-12-13 07:49] ChitvanRamani22 commented on #10474
hi @nishantwrp I'd like to work on this. But this is my first issue so please assign me accordingly

[2020-12-13 16:57] RaviKumar7870 commented on #10306
Hello @kevintab95, I want to work on the issue. Is this issue still open to work on ?

[2020-12-13 17:05] kevintab95 commented on #10306
@Anushk2001 I've assigned it to you.

@ChitvanRamani22 those files have been claimed because they were asked in a comment before yours.

@RaviKumar7870 looks like all the files have been claimed for now. Please feel free to take a look at other "[good first issues](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)" we have on our tracker!

[2020-12-13 17:08] RaviKumar7870 commented on #10306
ok thanks!!

[2020-12-13 17:14] gg-dev-05 commented on #10798
HI @U8NWXD, can you please assign me core/tests/protractor_utils/SkillEditorPage.js file.

[2020-12-13 21:32] gp201 opened #11379 "[Community Library] Code Output hidden behind footer"
**Describe the bug**
The Output for a program is hidden behind the footer of the website.

**To Reproduce**
Steps to reproduce the behavior:
1. https://oppiatestserver.appspot.com/explore/1
2. Click "Solve the problem directly".
3. Click "I want to write a simple program to compute the answer.".
4. Type the following in the coding area: `print(num)` and test run

**Observed behavior**
Unable to se

[2020-12-13 21:43] U8NWXD commented on #10798
@gg-dev-05 I've assigned you! Let me know if you have any questions

[2020-12-13 21:51] gp201 opened #11380 "[Communtity Library] Search Bar does not give results for incomplete or incorrectly spelled words eg: frac"
**Describe the bug**
When a user searches for a exploration title and word searched is either incomplete or an incorrect spelling of the word they intend to search, Oppia says there are no explorations like that.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Community Library.
 2. Search for "Frac".

**Observed behavior**
No exploraitions are returned or shown.

**Expected behavior*

[2020-12-13 23:08] gp201 opened #11381 "[Suggest a change] Error communicating with server when suggest a change takes more than 1500 bytes."
**Describe the bug**
When making a suggestion to an exploration and the suggestion takes more than 1500 bytes, the user gets "Error communicating with server" warning.

**Console Log:**
[code]
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any exploration.
 2. Suggest a change.
 3. Paste a 1000 words in both text boxes. (used this website: https://www.blindtextgenerator.com/lorem-ipsu

[2020-12-14 01:23] nadintamer opened #11383 "Attempting to export user data in JSON format produces error"
**Describe the bug**
Attempting to export user data in JSON format produces a "This site can't be reached" error, and data does not download.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Preferences page
 2. Click on "Export Account"

**Observed behavior**
A "This site can't be reached" error is observed.

**Expected behavior**
The account data should be downloaded in a zip file th

[2020-12-14 01:36] gp201 opened #11384 "[Code Mirror] Text box interaction is buggy in Smartphone ."
**Describe the bug**
The word gets replicated multiple times after pressing space.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16#
 2. Go to the code mirror test in the exploration.
 3. Type a couple of words.
 4. Press backspace
 5. Press Space

**Observed behavior**
Replication of content.

**Expected behavior**
Behave like a normal te

[2020-12-14 01:57] gp201 commented on #11383
Can you specify the Browser version and macOS version?

Unable to reproduce bug in:
- OS: macOS Big Sur
- Browser: Chrome
- Chrome Version: 87

[2020-12-14 02:14] nadintamer commented on #11383
Oh sorry! I'm on macOS Mojave & using Chrome version 87.

[2020-12-14 03:51] brianrodri commented on #11043
I'll take this up, should make my work in migrating to Firestore Authentication easier.

[2020-12-14 06:24] nadintamer commented on #11383
I just tried again and it worked this time around. Should I close the issue?

[2020-12-14 07:24] RaviKumar7870 commented on #9465
@sagangwee Can I work on this issue?

[2020-12-14 07:29] RaviKumar7870 commented on #9499
@sagangwee I would like to work on this issue. Could you please assign this to me ?

[2020-12-14 07:38] ChitvanRamani22 commented on #8668
he @Showtim3 i am completely new to open source. please assign me accordingly/

[2020-12-14 07:42] ChitvanRamani22 commented on #8423
hi @Hudda //Add lint check to ensure that all async functions' names end with "Async", and that all functions that end with "Async" are tagged as async.
 Add lint check to ensure that all private functions/variables names start with _, and that all functions/variables that start with _ are tagged as private (in TypeScript).// can I work on these issues?

[2020-12-14 08:49] mridul-netizen opened #11387 "Cannot read property 'style' of null"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [https://oppiatestserver.appspot.com/create/16](url)
 2. Click on 'Help Tab'
 3. Click on'TAKE THE TOUR'
 4. Finish the tutorial and reload the page

**Observed behavior**
An error stating `TypeError: Cannot read property 'style' of null
    at chrome-extension://la

[2020-12-14 11:53] gp201 opened #11388 "[Set Input Interaction] Should Ignore letter case."
**Describe the bug**
When the user enters a different casing for the word than the answer given, it is treated as wrong.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any set Input Interaction (https://oppiatestserver.appspot.com/explore/16)
 2. Type a different letter casing than the answer (eg: 'Orange', 'Purple' and 'Silver')
 3. Submit

**Observed behavior**
Oppia reponds saying

[2020-12-14 12:24] gp201 opened #11389 "[Pencil Code Editor] Oppia response partially hidden"
**Describe the bug**
Oppia's response in the bottom right is partially hidden.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any Pencil Code Editor (https://oppiatestserver.appspot.com/explore/16)
 2. Click on Play.

**Observed behavior**
Oppia's response partially hidden

**Expected behavior**
Oppia's response is clearly seen.

**Screenshots**
If applicable, add screenshots to help

[2020-12-14 14:45] Ayushdubey86 commented on #11387
I would like to solve this issue

[2020-12-14 18:25] harshitaaaaaa commented on #9499
@sagangwee I want to take up this issue. Can you please assign it to me?

[2020-12-14 19:20] BenHenning commented on #9749
Done @jcqli!

[2020-12-14 21:57] atpug22 commented on #8472
@srijanreddy98 @kevintab95 can you please tell me how to test my migration of ```fatigue-detection.service.ts``` ??

[2020-12-14 23:34] nadintamer opened #11394 "Unable to export user data in JSON format"
**Describe the bug**
When attempting to export user data in JSON format, there is an internal server error (500) and the data is not downloaded.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Preferences page
 2. Click on "Export account"

**Observed behavior**
There is an internal server error and the data cannot be downloaded.

**Expected behavior**
The user data should be down

[2020-12-14 23:49] colaya19 commented on #10474
Hi @nishantwrp can I work on **MathEquationInputRulesService** ?

[2020-12-14 23:56] colaya19 commented on #8016
Hi can I be assigned core/templates/dev/head/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts please

[2020-12-15 00:11] varun-tandon commented on #11394
Hi @nadintamer, does this error happen when using the live version of the site or in a local development environment?

[2020-12-15 00:13] nadintamer commented on #11394
@varun-tandon This happens on the testing server at https://oppiatestserver.appspot.com

[2020-12-15 01:39] mschanteltc commented on #11181
Thanks @apurvbotle! Just one last thing. I know you changed the font weight to medium, but what is the numeric weight for the font?

The font still looks bold, which makes me believe that the 'medium' font weight is not downloaded and therefore defaulted to bold.

[2020-12-15 03:31] Anushk2001 commented on #10798
HI @U8NWXD, can you please assign me  core/tests/protractor_utils/SubscriptionDashboardPage.js file.

[2020-12-15 04:42] mridul-netizen opened #11397 "Pending-Account-Deletion page throws error: "Uncaught SyntaxError: unexpected token: string literal""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [](https://oppiatestserver.appspot.com)
 2. Delete your account by going in the preferences
 3. It should redirect you to pending-account-deletion by each time you try to sign in
 4. Open the console window
 5.Try to sign-in and reload the page

**Observed behavior*

[2020-12-15 05:11] varun-tandon commented on #11394
@nadintamer I just created an account and tested it out, and it seemed to be fine. Do you know if there's any logging available from the development server? It's a bit tough for me to diagnose this without looking at what's going on behind the scenes. @seanlip any suggestions for diagnosing this?

[2020-12-15 06:15] DubeySandeep opened #11398 "Next page button is unexpectedly active for the question opportunities on the contributor dashboard"
**Describe the bug**
The next page button is unexpectedly active for the question opportunities on the contributor dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/contributor-dashboard` page
 2. Click on the `Submit questions` tab
 3. Scroll down to the bottom of the page
 4. CLick on the "Next" button
5. The next page should will "No opportunities available."

**Observed

[2020-12-15 07:16] seanlip commented on #11394
Here's the stack trace of the error that occurred:

[code]

[2020-12-15 07:17] seanlip commented on #11394
It's a backend error so I suspect it's independent of which browser is used.

[2020-12-15 08:03] nishantwrp commented on #8016
Hi @Radesh-kumar, assigned you.

[2020-12-15 08:04] nishantwrp commented on #8016
Hi @colaya19, assigned you. Go ahead!

[2020-12-15 08:05] #11043 closed, assigned to brianrodri

[2020-12-15 08:12] nishantwrp commented on #10474
Hi @PPenmetsa @UJJWAL-1711 @Deepam101 @shubham00jain @arpit1912 @yogendra-17 @jian-en @shrutigrover @singlamohit1 @prachi1801 @suryasiriki4, I am unassigned you guys from the services you were assigned to unblock other people from working on them. If you're working on them please comment here. Thanks!

[2020-12-15 08:15] nishantwrp commented on #10474
@jassi-singh, @colaya19 assigned you guys. Go ahead!

[2020-12-15 12:24] ReshuKumari opened #11399 "Bugs during student user journey"
**Describe the bug**
1-
![Screenshot from 2020-12-15 02-58-11](https://user-images.githubusercontent.com/62715691/102213709-24cd1480-3efd-11eb-95e7-00e1a24c0f31.png)
error in console while dragging for correct answer.

Steps to reproduce:
1. go to https://oppiatestserver.appspot.com/learn/math/fractions/practice/session?selected_subtopic_ids=1.
2. go to the question which uses dragging interaction

[2020-12-15 13:48] kgulshan827 commented on #10474
Hi @nishantwrp  can i work on  NumericExpressionInputRulesService and
 NumericInputRulesService.

[2020-12-15 14:00] nishantwrp commented on #10474
@kgulshan827 sure, assigned you. Go ahead!

[2020-12-15 14:51] jassi-singh commented on #10474
@nishantwrp the files that you assigned me don't have any error with strict checks, so should I make a pr now or you want me to do another file which has some errors?

[2020-12-15 14:52] nishantwrp commented on #10474
@jassi-singh, you can make a PR. After that, you can choose other files to work with.

[2020-12-15 16:19] nishantwrp commented on #10474
Hi @gg-dev-05, @ChitvanRamani22 you can try to pick a file that is not dependent on any other file.

[2020-12-15 17:47] sajalasati commented on #10386
Hi @vojtechjelinek ! Just had a brief look at the issue, if no one is working on this currently, can I start looking into it?

[2020-12-15 18:05] vojtechjelinek commented on #10386
@sajalasati Yes, you can, I have assigned you.

[2020-12-15 18:32] nadintamer commented on #11394
To add on to what Sean said, I had a similar issue when testing in Chrome (getting an internal server error when trying to export data--see #11383) but I ended up closing the issue because others couldn't recreate it and when I tried again, it worked.

[2020-12-15 18:50] nadintamer opened #11402 "Unable to navigate to creator profile card for subscribing on mobile"
**Describe the bug**
I guess this is more of a UI bug, but I can't figure out how to navigate to a creator's profile to subscribe to them when I'm on mobile since there seems to be no way to access the author of an exploration at the bottom of the page like there is on web.

**Screenshots**
<img src="https://user-images.githubusercontent.com/17547686/102258725-0fd38f80-3ec3-11eb-8040-d87a034b1216.

[2020-12-15 19:09] nadintamer opened #11403 "In progress exploration does not appear on mobile (Chrome)"
**Describe the bug**
When the user leaves an exploration in the middle, the exploration does not appear on the learner dashboard as "In Progress". This is similar to #9036 but I'm experiencing issues on Chrome, not Safari.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start an exploration on mobile
 2. Leave before completing it
 3. Go to Learner Dashboard
 4. There are no In Progress exp

[2020-12-15 20:00] sagangwee commented on #9499
@RaviKumar7870 I have assigned you the issue!

[2020-12-15 20:00] sagangwee commented on #9465
@RaviKumar7870 I have assigned you the issue!

[2020-12-16 02:26] U8NWXD commented on #10607
@nadintamer reported this as a blocking bug

[2020-12-16 02:28] U8NWXD commented on #10607
Actually, since this is a new feature that changes existing behavior, I don't think it should block the release

[2020-12-16 02:35] U8NWXD commented on #11379
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:36] U8NWXD commented on #11380
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:37] U8NWXD commented on #11384
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:37] U8NWXD commented on #11389
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:38] U8NWXD commented on #11402
Assigning to @aks681 as the LACE team lead since this is an error in the learner/creator experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:38] U8NWXD commented on #11381
Assigning to @aks681 as the LACE team lead since this is an error in the creator experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:39] U8NWXD commented on #11387
Assigning to @aks681 as the LACE team lead since this is an error in the creator experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:40] U8NWXD commented on #11387
@Ayushdubey86 can you commit to fixing this issue within the next 2 days? This bug is blocking the next release of Oppia, so it needs to be fixed ASAP.

[2020-12-16 02:42] U8NWXD commented on #11388
I don't think this is actually a bug. The creator can decide whether case matters in their exploration, we just didn't when creating this dummy exploration. Closing

[2020-12-16 02:42] #11388 closed, assigned to nobody

[2020-12-16 02:44] U8NWXD commented on #11398
@DubeySandeep I'm assigning this to you since it's in the contributor dashboard. Feel free to reassign as needed!

[2020-12-16 02:45] U8NWXD commented on #11383
Closing in favor of #11394

[2020-12-16 02:45] #11383 closed, assigned to nobody

[2020-12-16 02:45] U8NWXD commented on #11403
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 02:50] U8NWXD commented on #11397
Assigning to @vojtechjelinek since this is an error with wipeout. Vojta, can you take this up or reassign it? It's a blocking bug, so we need it fixed ASAP.

[2020-12-16 04:23] jassi-singh commented on #10474
hi, @nishantwrp I would like to work on these files also.
- GraphDetailService
- GraphUtilsService

[2020-12-16 04:26] U8NWXD commented on #10798
@Anushk2001 I've assigned you! Let me know if you have any questions

[2020-12-16 04:34] varun-tandon commented on #11394
Hey @nadintamer, to clarify, is this issue still showing up on Firefox? Also, it seems to me that this may be an error when trying to export an image. If your export is working on Chrome, could you please send me the images you received from the download? If it's not working anymore, and your account doesn't have too many images, could you please send me any images you may have uploaded? If this i

[2020-12-16 04:37] nadintamer commented on #11394
Hi @varun-tandon! I'm currently having this issue in both Firefox & Chrome with the same internal server error. That being said, when the download worked on Chrome yesterday there was only one image included, which was my profile picture (attached to this comment). The rest of the data was just the JSON file.

![user_settings_profile_picture](https://user-images.githubusercontent.com/17547686/1023

[2020-12-16 04:40] varun-tandon commented on #11394
Thanks! Btw, how much data is in your account? Is it just a brand new account or have you created some explorations, etc?

[2020-12-16 04:42] nadintamer commented on #11394
I'd created a few explorations (maybe 2-3?) for previous iterations of release testing. I can also share the JSON file that I was able to download if that would be helpful? That being said, I've tried this on a few different accounts now, some of which were actually brand-new with no explorations.

[2020-12-16 04:47] varun-tandon commented on #11394
Awesome, thanks. Did you happen to change your email between accounts? Would it be possible to share the email you used to create the accounts? I think it might have something to do with the icon generated from your email address. Thanks again for the help!

[2020-12-16 04:49] seanlip commented on #11394
It might be better not to send data like this around on github. I'll connect both of you via email!

[2020-12-16 04:49] nadintamer commented on #11394
I'll email you with more info :) Thanks @seanlip!

[2020-12-16 05:39] sajalasati commented on #8423
Hi @namanarora00 ! Sorry for the late response. Are you still interested to work on this issue? There's one python task left, and I can assign you to it. Would be happy to help you with it. Thanks!

[2020-12-16 06:35] namanarora00 commented on #8423
Hey @sajalasati, no worries! Yes, I would definitely like to work on it.

[2020-12-16 06:45] sajalasati commented on #8423
@namanarora00 Sounds good! I have assigned you to `Check to enforce use of Args, Returns and Raises in the docstring`. Let me know if you have any questions :)

[2020-12-16 08:49] HimandriSharma commented on #9465
Hello, @sagangwee I've filled CLA and the survey form. I'm a begineer and found this issue. Can I work on it?

[2020-12-16 08:56] HimandriSharma commented on #8015
Hey @kevintab95 , I would to work on core/templates/domain/question/question-backend-api.service.ts!
Could you assign it to me?

[2020-12-16 09:59] gp201 opened #11413 "ERR_TOO_MANY_REDIRECTS"
**Describe the bug**
When the user clicks login and clicks the back button console has a lot of errors.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2. Click on Sign In
 3. Click on back button (Provided by the browser)
 4. See error in console

Console Log:
[code]
**Observed behavior**
Oppia page stuck in loading for a long time

**Expected be

[2020-12-16 14:52] kernelpanic77 opened #11414 "python start not working --user required"
**Describe the bug**
 `python -m scripts.start` gives an error when trying to setup development evironment.

**To Reproduce**
Steps to reproduce the behavior:
 1. After running `bash scripts/install_prerequisites.sh`
 2. Run `python -m scripts.start` to install all python modules
 4. See error

**Observed behavior**
Error on running
`Checking if enum34 is installed.
Checking if pip is installed on

[2020-12-16 15:12] brianrodri opened #11415 "skillIdToNameMapping object is always empty"
In #9672, the following code was introduced: https://github.com/oppia/oppia/blob/f2e6d7f2bf286a8eec79dbd006b96452c819e1c1/core/templates/pages/skill-editor-page/services/question-creation.service.ts#L203-L218

Note that `skillIdToNameMapping` always resolves to an empty object.

It seems to me that this was unintentional, and should actually be referring to a full mapping. It isn't obvious how to

[2020-12-16 15:13] vojtechjelinek commented on #11397
Hey, I cannot reproduce this, could someone else look at https://oppiatestserver.appspot.com/pending-account-deletion to see if you see the error in the console? cc @U8NWXD

[2020-12-16 15:33] U8NWXD opened #11416 "No Visible Error When Reusing Exploration in Story"
**Describe the bug**
When assigning to a new story an exploration that has already been linked to a story, there is a console error but no visible error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Create a story
 3. Assign the exploration to the story
 4. Create another story
 5. Try and assign the exploration to the new story too

**Observed behavior**
A cons

[2020-12-16 15:36] gp201 opened #11417 "Cannot select which gmail account to use"
**Caution :bangbang: : Not able to investigate issue completely. This issue was based on pure experience. Unable to reproduce issue.**

**Describe the bug**

Let's say I have 2 Gmail accounts logged in my browser. Both the accounts are linked to oppia. Now I choose to delete one of the accounts. After deletion, I am not given a choice for choosing which account I want to use, rather I am forced to

[2020-12-16 15:52] U8NWXD opened #11418 "Cannot Edit Questions from Skills Editor"
**Describe the bug**
Clicking on a question from the skill editor raises a console error and fails.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Add a question to the skill
 3. From the skill's question tab, click on the question you created

**Observed behavior**
Console Error:

[code]

The question also does not open for editing.

**Expected behavior**
The question s

[2020-12-16 15:54] kevintab95 commented on #11417
@vojtechjelinek can you take a quick look at this please? Thanks!

[2020-12-16 16:05] U8NWXD opened #11419 "Already-Published Topic Has Publish Button"
**Describe the bug**
When a topic has already been published and is modified, the `Publish` button is active

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with two subtopics, each with one skill
 2. Save and publish the topic
 3. Use the browser back arrow to return to the topic editor
 4. Swap the skills
 5. Save the topic

**Observed behavior**
The `Publish` button is pre

[2020-12-16 16:19] U8NWXD commented on #11397
I tried but failed to reproduce this on Chrome 87 on macOS

[2020-12-16 16:20] U8NWXD commented on #11397
@mridul-netizen could you try again to make sure this bug is repeatable on your machine? You might need to use a different google account now that your Oppia account is pending deletion.

[2020-12-16 16:20] U8NWXD commented on #11399
Assigning to @aks681 as the LACE team lead since this is an error in the learner experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

[2020-12-16 16:22] U8NWXD commented on #11416
Assigning to @aks681 as the LACE team lead since this is an error in the creator experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

/cc @Showtim3 since they worked on these new editors

[2020-12-16 16:23] U8NWXD commented on #11418
Assigning to @aks681 as the LACE team lead since this is an error in the creator experience. @aks681 could you either take this issue up or assign it to someone else on the LACE team who can get it fixed quickly?

/cc @Showtim3 since they worked on these new editors

[2020-12-16 16:27] mridul-netizen commented on #11397
@U8NWXD it's in firefox. Tried with a new account right now, it's still showing same error on clicking `sign-in->sign in with google`

[2020-12-16 18:41] vojtechjelinek commented on #11397
I also tried this on Firefox but no luck

[2020-12-16 19:04] sajalasati commented on #10386
@vojtechjelinek Some questions regarding the issue:
1) Should I also check the attributes `first_contribution_msec` and `last_logged_in` in `UserSettingsModel` to see if they have lower values? `last_logged_in` might not be a great choice, but the other one could be. What do you think?
2) In general when going through other user models which are linked to `UserSettingsModel`, should I only check t

[2020-12-16 19:12] vojtechjelinek commented on #10386
Yes, makes sense to look in these.

Yes, you can also check these.

Yes, makes sense to skip these.

[2020-12-17 01:18] U8NWXD commented on #11397
@mridul-netizen it looks like you use ghostery. Could that explain the discrepancy?

[2020-12-17 03:14] namanarora00 commented on #8423
Hi @sajalasati I have pinged you on gitter. Can we have a small discussion about the task? Thanks.

[2020-12-17 06:55] mridul-netizen commented on #11397
@U8NWXD thanks ,closing this issue!

[2020-12-17 06:55] #11397 closed, assigned to vojtechjelinek

[2020-12-17 07:03] mridul-netizen commented on #11387
@U8NWXD looks like this issue was also due to some chrome extension ,closing this issue.Sorry for the incovenience

[2020-12-17 07:03] #11387 closed, assigned to aks681

[2020-12-17 11:04] DubeySandeep commented on #10306
Hi @simranmahindrakar @ArishSultan @Bhawana15 @aishwary023 @gunishmatta @krishita30j @gunishmatta @OluyemisiA @kendallpomerleau @Aryan-Abhishek @ReshuKumari @emilyglue @Deepam101 @jyan500 @deekshanya @Rijuta-s @parulpriyedarshani @the-known-anon @arpit1912 @Nik-09 @karasinski @jlau323 @tyajush @cernoit @the-known-anon @gg-dev-05 @ritvikkhanijo @dipanshparmar @apurvbotle @gg-dev-05 @parulpriyedarsh

[2020-12-17 11:12] aishwary023 commented on #10306
@DubeySandeep  I have completed the issue, PR - https://github.com/oppia/oppia/pull/10778 .

[2020-12-17 11:32] DubeySandeep commented on #10306
Hi @aishwary023, thanks for the updates, I've marked the assigned issue resolved! :)

[2020-12-17 11:37] ReshuKumari commented on #10306
Hi @DubeySandeep the issue is completed and merged [#11010](https://github.com/oppia/oppia/pull/11010).

[2020-12-17 11:49] DubeySandeep commented on #10306
Hi @ReshuKumari, thanks for the updates, I've marked the assigned issue resolved! :)

[2020-12-17 11:57] dipanshparmar commented on #10306
@DubeySandeep  I'm really sorry that I forgot to mention this, but I'm no longer working on this. You can unassign me. Thanks and sorry for the inconvenience caused by me in any way.

[2020-12-17 12:01] gg-dev-05 commented on #10306
I am not available for few days and will continue working after saturday. Sorry for the inconvenience.

[2020-12-17 12:10] apurvbotle commented on #10306
Hi @DubeySandeep, will be forwarding in a day or two.

[2020-12-17 13:40] apurvbotle commented on #11181
Hi @mschanteltc,
This issue has been closed by @kevintab95 under the PR#11351. The files changed against this PR show changes made for font-family and border-radius of buttons. However, the on hover and background CSS have not been addressed, as also the following changes that were being discussed under the issue:

- Changing the background CSS for all buttons as per UI Guidelines (reviewed)
- Cha

[2020-12-17 13:50] sajalasati commented on #8423
@Hudda Is the check `Check to enforce use of Args, Returns and Raises in the docstring` already implemented as per [your comment](https://github.com/oppia/oppia/issues/8423#issuecomment-645184524)? Because it is still un-checked in the list of tasks, and I had assigned it to @namanarora00 yesterday. Could you (or @DubeySandeep, if you know about this) clarify on its status? If it's not implemented

[2020-12-17 14:03] DubeySandeep commented on #10306
@dipanshparmar, Thanks for the update, I've unassigned you from this issue.

@apurvbotle, @gg-dev-05, Thanks for the update, do let us know if you need any help! :)

[2020-12-17 16:19] nishantwrp commented on #10474
@jassi-singh sure, go ahead!

[2020-12-17 17:20] jassi-singh commented on #10474
@nishantwrp  there is no spec.ts file for GraphUtilsService.

[2020-12-17 17:58] Nik-09 commented on #10306
@DubeySandeep  please unassign me, currently I am not working on this issue.
Sorry for inconvenience.

[2020-12-17 20:02] DubeySandeep commented on #8423
@sajalasati, Thanks for raising the issue, I've written the issue in detail below:

Current situation:

The docstring checks only work for the cases where we explicitly mentioned `Args`, `Returns` etc. in the docstring checks but if you leave a function docstring just with one line sentence the checks will pass.

Expectations:

Add a check which ensures that all the functions have `Args` `Returns`

[2020-12-17 20:10] kevintab95 opened #11430 "Merge skill modal has styling issues"
**Describe the bug**
A clear and concise description of what the bug is.

Try to merge a skill in the test server with another skill, in the modal you will observe that the "filter by topic" and "filter by subtopic" is too small to clearly read the contents.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to skills tab in the "topic and skills dashboard".
 2. Try to merge a skill with an

[2020-12-17 20:24] U8NWXD commented on #10720
@DubeySandeep can you take up this blocking bug?

[2020-12-17 20:26] U8NWXD commented on #9499
@RaviKumar7870 how quickly can you fix this bug? It's blocking the upcoming release, so we need to fix it as quickly as possible! In the next 2 days would be best.

[2020-12-17 20:28] seanlip commented on #11430
@kevintab95 I think this is blocking? It seems like a regression -- it worked fine before.

[2020-12-17 20:31] kevintab95 commented on #11430
Yep, I agree.

[2020-12-17 20:33] vojtechjelinek opened #11431 "Start using transaction decorator instead of `run_in_transaction`"
Replace all usages of `run_in_transaction` with the new `run_in_transaction_wrapper`.

### List of files
- [x] email_manager.py @Nik-09
- [x] feedback_jobs_continuous.py @Nik-09
- [x] feedback_services.py @lkbhitesh07
- [x] question_services.py @lkbhitesh07
- [x] rating_services.py @vojtechjelinek (#11741)
- [x] stats_services.py @lkbhitesh07
- [x] suggestion_jobs_one_off.py @lkbhitesh07
- [x] sug

[2020-12-17 21:00] sagangwee commented on #10720
@U8NWXD I don't believe this is blocking the release, as we chose an interim solution in #11356 where we hide pending suggestions from the contributor. [One pager doc](https://docs.google.com/document/d/1HCVuHO_4VbsoGfN8uLlabhFVvsbHZY3Nxswh02WrAbQ/edit#).

[2020-12-17 21:04] shavavo opened #11432 "Update content ids of customization arguments to remove the name of the argument"
When implementing content ids for rule inputs, it was decided that content ids should not include the name of the rule input (ie. 'rule_input_4' instead of 'rule_input_Contains_4'. While including the additional name/context in the id may be more developer friendly, it adds complications to maintainability and migrations in the future. We also do not want developers to rely on the content id for c

[2020-12-17 21:16] shavavo opened #11433 "Update SubtitledHtml and SubtitledUnicode to use the BaseTranslatableObject API"
As described in [this design doc](https://docs.google.com/document/d/1G6El1KNUMpsVWp3gow3J2i9BzfcmCFiGBjcjdwtisxE/edit):

The SubtitledHtml and SubtitledUnicode domain objects should be removed, and be replaced with TranslatableHtml and TransltableUnicode. The domain objects currently only serve the purpose of validation, but this validation can be moved into the normalize() method for objects.

T

[2020-12-17 22:56] sagangwee opened #11434 "[CD Translation Contribution] Computer Aided Translations in Contributor Dashboard"
tl;dr: Auto-populate translations in Contributor Dashboard opportunities so contributors have less work to do when translating text.

See [design doc](https://docs.google.com/document/d/1kJd-yLTzB9a2c3Nq7v9pzKfHwKHKGpkWfQ8B0YGf50U/edit#) for more details.

[2020-12-17 23:01] kevintab95 commented on #11181
Hi @apurvbotle, merging PR #11351 auto-closed this issue -- it was merged because there was no blocking comment in the PR thread. That said, I am reopening this issue because there seem to be unfinished items per your comment.

Would you like to work on this @apurvbotle?

[2020-12-18 01:01] BenHenning opened #11435 "Fractions lesson takes ~14 seconds to load in production"
**Describe the bug**
When loading the first chapter of 'Piece of Cake' in the Fractions topic, the page loads and sits in a 'Loading...' state for ~14 seconds before the lesson shows up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new incognito window
2. Navigate to https://oppia.org/learn/math
3. Select the Fractions topic
4. Click on 'Chapter 1: What is a Fraction?
5. Wait for t

[2020-12-18 03:47] BenHenning commented on #11431
#11404 for context.

[2020-12-18 04:15] RaviKumar7870 commented on #9499
@U8NWXD Sorry to say, but due to some unavoidable reason I can't work on it before 22nd Dec. :(

[2020-12-18 05:25] nishantwrp commented on #10474
@jassi-singh Yup, then you can skip the `.spec.ts` part for GraphUtilsService.

[2020-12-18 08:16] parulpriyedarshani commented on #10474
Hi @nishantwrp Actually, the changes for the LogicProofRulesService have been made but for the LostChangeObjectFactory I'm facing a lot of errors during the strict checks as it includes lots of changes in other files too, like the ParamObjectFactory, UtilsService and SubtitledHtmlObjectFactory etc. Should I submit the PR only for the LogicProofRulesService?
Thanks

[2020-12-18 11:36] sajalasati commented on #8423
Thanks @DubeySandeep for explaining it so nicely!

@namanarora00 is the task clear to you as well now? If not, then let me know by commenting here or ping me! Also check out the resources I mentioned in my [previous comment](https://github.com/oppia/oppia/issues/8423#issuecomment-747450041) to know how linter checks are implemented. Thanks!

[2020-12-18 11:39] namanarora00 commented on #8423
Yes, it is clear. Thank you @DubeySandeep, and you too, @sajalasati :). I'll start working on it now.

[2020-12-18 12:55] #11140 closed, assigned to vojtechjelinek

[2020-12-18 16:37] DubeySandeep opened #11438 "Username and profile picture takes significant space on contributor dashboard page"
**Current situation:**

The username and profile picture takes up a significant portion of the top part of the tab and pushes down the main content (the contributions) further down than they need to be. This is also duplicative since the username and profile photo can be seen in the top right.

![image](https://user-images.githubusercontent.com/16653571/102638244-34f32700-417d-11eb-95b8-b583186901

[2020-12-18 16:42] DubeySandeep commented on #11438
@dchen97, the blank space on the top is left empty as we will be adding user's contributions info as well as other information like review rights, user's contribution score, etc.

Can we do this instead:

On scrolling, reduce the height of the top bar/section (including image and username.) and make it sticky on top of the dashboard page? Do you think that would be fine?

[2020-12-18 16:54] DubeySandeep opened #11439 "All skill’s rubric for difficulty should contains a description"
**Current behavior:**

It’s not clear what users should select if a skill’s rubric for difficulty only contains a description for 1 or 2 difficulty levels
![image](https://user-images.githubusercontent.com/16653571/102639660-61a83e00-417f-11eb-8634-b2fa03433f81.png)

**Suggestion:**

If the skill can only have 1 or 2 difficulty levels - or only 1 or 2 difficulty levels has a rubric description, th

[2020-12-18 17:16] dchen97 commented on #11438
Yes that’s fine so long as users can still see and select the different tab
headers

On Fri, Dec 18, 2020 at 8:42 AM Sandeep Dubey <notifications@github.com>
wrote:

--
*Diana Chen*
*Growth Team Lead | Oppia Foundation*
*E*: diana@oppia.org

[2020-12-18 19:19] BenHenning commented on #11435
This is also happening when navigating to the next lesson in a story.

[2020-12-19 01:00] U8NWXD commented on #10720
I'm fine with removing this from blocking bugs if @DubeySandeep agrees

[2020-12-19 01:02] U8NWXD commented on #9499
No problem! Reassigning to @aks681. Akshay, could you make sure this gets fixed ASAP?

[2020-12-19 01:02] U8NWXD commented on #9499
@RaviKumar7870 if no one's started working on this by the 22nd, you're welcome to claim it again if you can get it fixed in a couple days

[2020-12-19 04:41] kevintab95 opened #11441 "[Flaky Frontend Test] Edit Thumbnail Modal Controller should load a image file in onchange event and save it if it's a svg file"
`Edit Thumbnail Modal Controller should load a image file in onchange event and save it if it's a svg file` was flaky in this [build](https://github.com/oppia/oppia/pull/11436/checks?check_run_id=1574655406).

[flakyFeTest.txt](https://github.com/oppia/oppia/files/5718907/flakyFeTest.txt)

[2020-12-19 04:43] kevintab95 commented on #11441
/cc @oppia/core-maintainers @nithusha21 @U8NWXD

[2020-12-19 07:10] MegaMind77-coder commented on #8423
Hi! I would like to work on a python lint check if any are remaining.

[2020-12-19 07:29] MegaMind77-coder commented on #10306
HI! I would like to work on the files, which are unassigned.
@DubeySandeep could you pls assign me to files that are not being worked on?

[2020-12-19 08:49] kevintab95 commented on #9044
Fixed by #11241

[2020-12-19 08:49] #9044 closed, assigned to krishita30j

[2020-12-19 08:52] nishantwrp commented on #10474
Hi @parulpriyedarshani, Can you explain, what type of errors are you getting here or you can ping me on hangouts as well. (mittalnishant14@gmail.com)

[2020-12-19 09:57] aks681 commented on #11380
Duplicate of https://github.com/oppia/oppia/issues/1513. We don't plan to fix this now.

[2020-12-19 09:57] #11380 closed, assigned to aks681

[2020-12-19 10:13] kernelpanic77 commented on #10306
Hi! @DubeySandeep  @kevintab95  I would like to work on:

` core/templates/services/translate.service.ts`
` core/templates/services/exploration-stats.service.ts`
` core/templates/services/state-interaction-stats.service.ts`
Pls, assign me to these files.
Thanks

[2020-12-19 10:15] aks681 commented on #9499
Assigning to @DubeySandeep since this is a contributor dashboard issue.

[2020-12-19 10:17] gp201 commented on #11381
![image](https://user-images.githubusercontent.com/30050862/102686934-2a826d00-4211-11eb-923a-8e36904e7afb.png)

Occurs only when placing equal to or more than 300 words in "Briefly describe your changes (required):" text box.
The text box doesn't expand so this will might limit users from typing more than 300 words.

[2020-12-19 12:44] apurvbotle commented on #11181
Thanks for reopening the issue @kevintab95.

[2020-12-19 12:50] apurvbotle commented on #11181
Hi @mschanteltc I had used 700 font-weight for Roboto medium.
For the sake of comparing the two font weights (medium and bold) in the same frame, if we assign bold to navbar-links (Classroom, Library, and About) and medium to the navbar-buttons (Donate, Create, and Sign In) , it will appear as below.

<img width="532" alt="roboto_navbar" src="https://user-images.githubusercontent.com/68392962/1026

[2020-12-19 15:10] sajalasati commented on #8423
Hi @MegaMind77-coder! All the tasks in python are currently assigned. If you are new you can check out other open issues [here](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22). Thanks!

[2020-12-19 17:18] DubeySandeep commented on #10720
I agree with @sagangwee, this should not be a blocking bug!

[2020-12-19 18:10] seanlip commented on #8423
Hi @sajalasati just a note -- I'm not sure if @AthulJoshi, @prashasthip and @EricZLou are still working on their assigned Python tasks. Their last activity on this thread was more than a month ago.

@AthulJoshi, @prashasthip, @EricZLou: could you please give an update on where things are? If you're not working on these, we can deassign you and give one of the tasks to @MegaMind77-coder.

[2020-12-19 18:14] AthulJoshi commented on #8423
@seanlip I had completed the linter and it works as it is visible from the tests. But I am unable to push the files after I removed the blank lines due to some error that I couldn't figure out and I got stuck there and was since waiting for a reply.

https://github.com/oppia/oppia/pull/11026

[2020-12-19 18:28] EricZLou commented on #8423
My Python task is completed as per #10486. I'll update the body of this issue to reflect that!

[2020-12-19 19:02] chris7716 commented on #8668
Hi! I am new to contributing to opensource and I would like to work on **graph-data.service.ts**. Could anyone please assign me to it?

[2020-12-19 19:39] chris7716 commented on #10306
Hi! As there are only 3 files are remaining, I would like to contribute at lest **core/templates/services/translate.service.ts**.

Thank You

[2020-12-20 03:58] U8NWXD commented on #8962
I don't think this problem has a common cause. It is often the result of modals being open when they aren't supposed to be, obscuring the button to click. Since there isn't a common cause, I'm closing this issue in favor of the individual issues

[2020-12-20 03:58] #8962 closed, assigned to nithusha21

[2020-12-20 04:02] U8NWXD commented on #6108
I'm removing this from the Automated QA Team project since it doesn't seem like a QA issue

[2020-12-20 04:09] U8NWXD commented on #9162
I'm removing this from the Automated QA Team project since it doesn't seem to be a problem with the CI checks

[2020-12-20 04:11] U8NWXD commented on #8995
This hasn't been seen recently, and it looks likely to be a network error

[2020-12-20 04:11] #8995 closed, assigned to nobody

[2020-12-20 04:15] U8NWXD commented on #8958
This was fixed in #9267

[2020-12-20 04:15] #8958 closed, assigned to kevintab95

[2020-12-20 06:21] michaelw54 commented on #4057
Hi @nithusha21, I was discussing an issue with Chris regarding some karma tests not being triggered (specifically topics-and-skills-dashboard-backend-api.service.spec.ts. I think Chris cc'ed you on an email thread with more details if you'd like to help me take a look into it. Thanks!

[2020-12-20 09:56] sajalasati commented on #8423
@prashasthip I am unassigning you for now due to inactivity since a long time.
@MegaMind77-coder I have assigned you the python task `Add a lint check to ensure newline after the Args:, Returns:, Raises:, Yields: in docstrings`, so you can start working on it now and let me know if you have any questions!

[2020-12-20 10:32] kernelpanic77 commented on #8423
@sajalasati Thanks I will get to work now !

[2020-12-20 12:41] krishita30j opened #11454 "Footer in preview changes tab looks odd in mobile."
**Describe the bug**
Footer in preview changes tab looks quiet odd in mobile.

**Observed behavior**
The green footer overlaps the footer in the preview changes tab.

**Screenshots**
![Screenshot_20201220_171938 (2)](https://user-images.githubusercontent.com/66058206/102713090-92a58180-42eb-11eb-9df9-bc5e06e29397.jpg)

**Smartphone (please complete the following information; delete this section if

[2020-12-20 12:59] krishita30j commented on #11454
Hey @mschanteltc,

Can you please take a look at this issue?

[2020-12-20 16:20] Radesh-kumar commented on #11170
@DubeySandeep Does Any specific files have priority?

[2020-12-20 20:43] YashJipkate commented on #10474
@nishantwrp Please assign me the following files:

- AnswerStatsObjectFactory
- AudioTranslationManagerService
- ContinueRulesService
- EndExplorationRulesService
- ExplorationOpportunitySummaryObjectFactory
- ImageClickInputRulesService

Thanks!

[2020-12-20 21:42] U8NWXD commented on #9456
Another contributor encountered this bug even after installing libressl

[2020-12-21 03:51] HarshKhilawala commented on #10798
@U8NWXD @kevintab95  Please unassign me from the issue as currently I am busy with my university exams but will be back soon. Thanks!

[2020-12-21 06:34] nishantwrp commented on #10474
@YashJipkate done.

[2020-12-21 06:46] jassi-singh commented on #10474
hi @nishantwrp  when i run strict changes by adding **graph-data.service.spec.ts** in the JSON file i am getting errors from other service.ts file. Can you guide me through this?

[2020-12-21 07:59] Radesh-kumar commented on #9008
@ayegnb are u still working on this?
@brianrodri Should i give it a try?

[2020-12-21 11:50] parulpriyedarshani commented on #10474
Hi, @nishantwrp while making the changes for the LostChangeObjectFactory I'm facing error for the utils.service.ts file throwing the error as follows during the strict checks for this line ```if (!this.isEquivalent(a[propName], b[propName]))```.
Even for the paramsObjectFactory file, the DEFAULT_CUSTOMIZATION_ARGS is being indexed using string type and so was throwing errors that I have fixed for

[2020-12-21 12:09] Koushikk-24 commented on #10415
I would like to work on exploration model

[2020-12-21 12:56] kernelpanic77 commented on #8423
@sajalasati `Add a lint check to ensure newline after the Args:, Returns:, Raises:, Yields: in docstrings`
could you please explain a bit ?
for example: Do we need to check for a newline after `Args:` keyword or after the body of `Args:` in the docstring ?

[2020-12-21 13:12] sajalasati commented on #8423
@MegaMind77-coder Thanks for asking! Consider the example docstring in the function code given below ([actual code here](https://github.com/oppia/oppia/blob/develop/core/domain/user_services.py#L578-L591)), it should make the task clear. You have to write a lint check that makes sure following pattern exists.
[code]
Have a look at other function/class codes also, that will also give you a general

[2020-12-21 13:25] kernelpanic77 commented on #8423
@sajalasati how can I run the lint test files?
I am getting an error when I run
`python -m scripts.run_backend_tests --target /scripts/linters/pylint_extensions_test.py`

[2020-12-21 13:32] sajalasati commented on #8423
@MegaMind77-coder For that, first you can have a look at the [wiki](https://github.com/oppia/oppia/wiki/Running-Tests#server-side-tests) on running backend tests, to understand how to run a test file, a test class, or a test method.
Specifically for your case it would be something like:
[code]
i.e you can be as specific as you want.

[2020-12-21 14:21] kevintab95 commented on #11381
It looks like the field being updated here is `GeneralFeedbackThreadModel.status`, which is a String property. Strings have a limit of 1500 bytes in GAE per [this](https://cloud.google.com/appengine/docs/standard/python/ndb/entity-property-reference#types). @DubeySandeep (since you are looking into feedback stuff), can you advise what needs to be done here? Thanks!

[2020-12-21 14:35] kevintab95 commented on #11384
Seems related to https://github.com/codemirror/CodeMirror/issues/3530. Per comments, it may be fixed in Codemirror 6 (which is still being [worked on](https://github.com/codemirror/codemirror.next/)). Removing from "blocking bugs" for the following reasons:

- Cannot be fixed at our end (yet).
- We don't allow this interaction in explorations attached to stories and there is no support on oppia-an

[2020-12-21 17:36] U8NWXD opened #11461 "Lighthouse Accessibility Test Flake: Timeout waiting for .protractor-test-topic-name"
The lighthouse accessibility test [failed](https://github.com/oppia/oppia/pull/11449/checks?check_run_id=1586000586) but [passed](https://github.com/oppia/oppia/pull/11449/checks?check_run_id=1590313156) when rerun.

Failure log:

-----

Runtime error encountered: Lighthouse was unable to reliably load the page you requested. Make sure you are testing the correct URL and that the server is properl

[2020-12-21 19:28] brianrodri opened #11462 "Migrate from GAE user authentication to Firebase authentication"
Part of #11474.

Google AppEngine has [dropped user authentication services](https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrating-services#user_authentication) in Python 3. We have chosen to use [Firebase authentication](https://firebase.google.com/docs/auth) as its replacement.

**Migration milestones:**
- [x] Lift GAE-specific auth services to a common API (#11588

[2020-12-21 20:54] mschanteltc commented on #11181
Thank you @apurvbotle. The bold font in the navbar-links and the medium font in the navbar-buttons look strikingly similar to one another. What is the font weight of the bold font? And is it possible to reduce the medium weight font to 500?

[2020-12-21 20:56] #11379 closed, assigned to iamprayush

[2020-12-21 21:06] mschanteltc commented on #11454
@krishita30j Is the "Restart From Beginning" the only button that blocks the tab selector? Also is one of the problems that only half of the tab selector is shown?

[2020-12-21 21:27] vojtechjelinek commented on #10415
@Rupeshkoushik Someone else is already working on the exploration but I can assign you subtopic, but please follow these instructions so that you can contribute to Oppia you will need to follow these instructions in order to contribute to Oppia https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia.

[2020-12-21 21:27] krishita30j commented on #11454
@mschanteltc, yes the "Restart From Beginning" is the only button that blocks the tab selector. And yes, due to the footer, only half of the tab selector is shown. Aslo, after fixing the issue #11402, the preview changes page will look like this:
![Screenshot_20201220_171112](https://user-images.githubusercontent.com/66058206/102823595-2fa60e80-4401-11eb-84a0-d0b30f78965a.jpg)

[2020-12-21 23:20] mschanteltc commented on #11454
In the [mocks](https://xd.adobe.com/view/84eb3b8d-3d19-4971-7e79-9ff756b25c83-f2da/screen/7057ee7d-eeb5-4aaa-bdb5-e79a795b45d9/), the tab selector should almost always be the top-most layer. Is it possible that we can move it above the footer and the "Restart From Beginning" button?

Also is the apple images supposed to extend pass the footer container?

[2020-12-21 23:39] kevintab95 opened #11464 "Question Editor Issues"
Question Editor Issues found during Product Review of Contributor Dashboard:

- [x] **Task 1 [@iamprayush]**:  It’s not clear what users should select if a skill’s rubric for difficulty only contains a description for 1 or 2 difficulty levels.
If the skill can only have 1 or 2 difficulty levels - or only 1 or 2 difficulty levels has a rubric description, then those should be the only items present

[2020-12-22 00:42] brianrodri commented on #9008
Hi @Radesh-kumar, thanks for offering, sure! I've just assigned you, feel free to assign me as reviewer once your PR is ready.

[2020-12-22 02:47] U8NWXD commented on #10798
@HarshKhilawala done! thanks for letting us know

[2020-12-22 02:53] Rupeshkoushik commented on #10415
Okay ,I will work on subtopic @vojtechjelinek

[2020-12-22 02:55] Koushikk-24 commented on #10415
okay then I would like to work on subtopic @vojtechjelinek

[2020-12-22 06:31] kevintab95 commented on #8668
Auto-closed by accident. Reopening.

[2020-12-22 10:13] Radesh-kumar commented on #9008
@brianrodri Thanks for assigning.
Can you suggest to me how to reproduce any of these issues on FE(multiple-incorrect-issue,cyclic-transitions-issue).
I tried but failed to reproduce, Are these related to the Statistics tab in Exploration Editor?

[2020-12-22 13:01] #11415 closed, assigned to kevintab95

[2020-12-22 13:01] #11418 closed, assigned to kevintab95

[2020-12-22 13:10] #11394 closed, assigned to varun-tandon

[2020-12-22 13:41] Bhawana15 commented on #10306
I am still working on this. Sorry for the unavailability.

On Sun, Dec 20, 2020 at 1:09 AM Hasitha Kaushan <notifications@github.com>
wrote:

--
Regards

Bhawana Tiwari
Mob. No. : +91-7974705066

[2020-12-22 15:06] vojtechjelinek opened #11469 "`StorySummaryModelAuditOneOffJob` is producing error"
When the `StorySummaryModelAuditOneOffJob` is run error shows up in the console

[code]

[2020-12-22 19:54] krishita30j commented on #11454
@mschanteltc Yes, I guess we can move the tab selector above the footer and the "Restart From Beginning" button but when the tab expands, won't that overlap the 'AUTHOR PROFILES' and the "Restart From Beginning" button?

And yes, I think the apple image is supposed to extend pass the footer container.

[2020-12-22 20:16] Radesh-kumar commented on #9008
@kevintab95 @nithusha21 need some help.

[2020-12-22 20:22] DubeySandeep opened #11471 "Clear the redis memcache in the pre one-off job step"
Currently, we ask release coordinators to manually clear the Memcache before running the one-off job on the server. Through this issue, we are expecting the pre-job step to clear the redis memcache i.e, clear the memcache before staring the job.

[2020-12-22 20:28] DubeySandeep commented on #11471
As per offline discussion with @brianrodri, we are going to include this in the backend one-off job structure while we are rewriting it for the python3 migration project.

Assigning this to @brianrodri  as per offline discussion.

[2020-12-22 20:51] DubeySandeep opened #11472 "Add link to "how to use copy tool" in the translation modal"
We have recently added a "Copy tool" feature for the translation contributors, and though the tool is very useful and important for translators but not very intuitive.

We are planning of adding some documentation on how to use this tool in the creator-documentation page.

Though this issue we want to add a link to the How-to doc around the copy-tool container.

This needed to be done once the doc

[2020-12-22 21:07] DubeySandeep opened #11473 "Add tutorial for contributors navigating different pages of the contributor dashboard page"
Add tutorial for contributors navigating different pages of the contributor dashboard page.

**Mocks:**
![image](https://user-images.githubusercontent.com/16653571/102932921-3e56f900-44c7-11eb-9c26-91fd0d1f87ab.png)
![image](https://user-images.githubusercontent.com/16653571/102932868-297a6580-44c7-11eb-9ccb-004854b95539.png)
![image](https://user-images.githubusercontent.com/16653571/102932901-33

[2020-12-22 22:57] brianrodri opened #11474 "Migrate Oppia to Python 3"
Oppia is migrating to Python 3 to respect Python 2's end-of-life.

**Essential migration milestones:**
- [x] #11314: GAE search services → Elasticsearch
- [x] #11462: GAE user authentication → Firebase authentication
- [x] #11475: GAE MapReduce → Apache Beam and Dataflow
- [x] #11476: GAE NDB → Cloud NDB
- [x] GAE Logging → Cloud Logging
- [x] PR Migrating Oppia to Python 3
- [x] Run QA on migrati

[2020-12-22 22:57] mschanteltc commented on #11454
Yes it should overlap the footer and "Restart From Beginning." The tab selector is not meant to stay expanded, and the expectation is that creators will collapse the selector when they navigate to their selected tab.

[2020-12-22 23:32] apurvbotle commented on #10306
@DubeySandeep, I have done the changes to the file. However, on pushing the PR it gives frontend check failed after giving 'All checks passed' message prior to that. What can be done to resolve it.

[2020-12-22 23:54] brianrodri opened #11475 "Migrate from GAE MapReduce to Apache Beam and Dataflow"
Part of #11474.

Google AppEngine has [dropped MapReduce support in Python 3](https://cloud.google.com/dataflow/docs/guides/gae-mapreduce-migration#python). We have chosen to use [Apache Beam](https://beam.apache.org/) as its replacement.

**Pre-migration milestones**:
- [x] Enumerate essential one-off jobs
- [x] #11784: Delete abandoned one-off jobs
- [x] Write Apache Beam scaffolding for one-off

[2020-12-22 23:56] brianrodri commented on #11475
We can write the Apache Beam scaffolding using [`apache-beam==2.24.0`](https://pypi.org/project/apache-beam/2.24.0/), the last version that works in both 2 and 3.

[2020-12-23 00:09] brianrodri opened #11476 "Migrate from GAE NDB to Cloud NDB"
Part of #11474.

[Cloud NDB replaces App Engine NDB](https://cloud.google.com/appengine/docs/standard/python3/migrating-to-cloud-ndb) in Python 3. We must switch to Cloud NDB's Python 2 library before we can migrate to Python 3.

[2020-12-23 00:10] brianrodri commented on #11476
Currently blocked on #11475.

[2020-12-23 01:43] BenHenning opened #11477 "Revert ownership to @BenHenning after 2021-01-04"
Add @BenHenning back to CODEOWNERS after 04 January 2021.

[2020-12-23 01:54] brianrodri commented on #11475
We should address clearing the Redis cache (as per #11471) when designing the Apache Beam scaffolding for one-off jobs.
-   [`cache_services.flush_cache`](https://github.com/oppia/oppia/blob/3fcc934d20cd756117a56b361315739fc687606d/core/platform/cache/redis_cache_services.py#L50) is the API that can clear the cache.

[2020-12-23 02:25] U8NWXD commented on #11389
@aks681 when do you think you'll be able to close this issue?

[2020-12-23 02:25] U8NWXD commented on #11403
@aks681 when do you think you'll be able to close this issue?

[2020-12-23 02:26] U8NWXD commented on #11399
@aks681 when do you think you'll be able to close this issue?

[2020-12-23 02:26] U8NWXD commented on #11416
@aks681 when do you think you'll be able to close this issue?

[2020-12-23 02:27] U8NWXD commented on #11402
Fixed by #11447

[2020-12-23 02:27] #11402 closed, assigned to krishita30j

[2020-12-23 02:27] U8NWXD commented on #11398
@DubeySandeep when do you think you'll be able to close this issue?

[2020-12-23 02:28] EricZLou opened #11479 "Lesson Categories in Library do not match Lesson Editor Categories"
**Describe the bug**
Users can view lessons by category on the [Community Library page](https://www.oppia.org/community-library). However, some of the categories that lessons can be published under DO NOT appear, like "Arithmetic". [Here](https://www.oppia.org/search/find?q=&category=(%22Arithmetic%22)&language_code=(%22en%22)) are all of the lessons that are categorized under "Arithmetic" even th

[2020-12-23 02:29] U8NWXD commented on #11430
@kevintab95 when do you think you'll be able to close this issue?

[2020-12-23 03:06] apurvbotle commented on #11181
Hi @mschanteltc, yes the two did look similar.

 I have changed the font-weight to 500.

![500-wt-fonts](https://user-images.githubusercontent.com/68392962/102954373-534c8000-44f9-11eb-9be1-de8cc6b5eafd.jpg)

[2020-12-23 05:30] KhushiGangopadhyay opened #11480 "Reinstalling of node modules gives error"
**Describe the bug**
As the codebase is now Angular10, I have merged from develop and  used python -m scripts.clean to remove all the node modules but then on running python -m scripts.start it shows the following OS error,

OSError: [Errno 2] No such file or directory: '/home/khushi/folder/oppia/oppia_tools/google-cloud-sdk-304.0.0/google-cloud-sdk/platform/google_appengine/google/appengine'

**T

[2020-12-23 05:33] KhushiGangopadhyay commented on #11480
Hi @U8NWXD , Can you PTAL

[2020-12-23 08:26] parulpriyedarshani commented on #11480
Hi, @KhushiGangopadhyay are you running these commands inside the virtual environment? You are supposed to run the commands inside the ```env```.
Thanks

[2020-12-23 10:29] brianrodri opened #11481 "Add lint checks to forbid usage of `six` library outside of python_utils"
We are trying to contain all version-dependent Python code in the `python_utils` module to make the migration process smoother. This includes usage of the `six` library.

Through lint checks, we should force developers to only use/import `six` from the `python_utils` module.

[2020-12-23 10:46] parulpriyedarshani opened #11482 "Find explorations to learn page showing explorations only on one side in mobile view"
**Describe the bug**
In mobile view, on searching for some category in the search bar, in the `find exploration to learn` page, the thumbnails are not appearing in the middle rather appearing at the left-hand side leaving inappropriate space at the other side.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library tab on your phone
 2. Click on search bar to search for some topic
 3.

[2020-12-23 13:50] srijanreddy98 opened #11483 "Remove the usage of waitForAngularEnabled from e2e tests when the app is migrated."
Currently, when the e2e tests are run, some of the e2e tests wait indefinitely for the app to stabilise. This is leading to the script timeout error. These instances of waitForAngularEnabled are introduced in PR #11362.

[2020-12-23 17:58] kevintab95 opened #11485 "Lesson player issues"
There are 2 bugs reported from user studies related to the lesson player:

1. Sometimes, after completing the lesson, students do not find the "Continue" button so they cannot proceed to the next lesson. And when they refresh the page, it restarts the lesson they just completed. They have to do it again before going to the next lesson. This happens on mobile browsers as well. Note: This happens ra

[2020-12-23 19:40] parulpriyedarshani opened #11486 "Flaky Frontend tests failing every time while pushing changes"
This error occurred recently locally on my machine when running the frontend tests

[code]

**Additional context** When trying to push the changes to an existing PR, the frontend tests are failing every time to give the error as mentioned above. Even after trying to push the code again and rerunning the tests too, the frontend tests are failing which are most probably flakes as the frontend tests

[2020-12-23 19:41] parulpriyedarshani commented on #11486
@vojtechjelinek PTAL! Thnaks

[2020-12-23 19:43] kevintab95 commented on #11430
Sorry, missed this. It should be fixed by https://github.com/oppia/oppia/pull/11487. Thanks!

[2020-12-23 20:19] vojtechjelinek commented on #11486
@srijanreddy98 @DubeySandeep Do you have any idea what might be behind this?

[2020-12-23 23:51] mschanteltc commented on #11181
For some reason this still looks bold to me. These appear thicker than what I would thought it would be. In the image below, the top row is the font weight (Medium) we are aiming for. Below is a reference to how the bold Roboto font would appear.
![Group 28](https://user-images.githubusercontent.com/22177674/103044729-7ba69f80-4536-11eb-896c-489f0e903869.png)

Is it possible you can give me images

[2020-12-24 03:59] #11220 closed, assigned to seanlip

[2020-12-24 04:12] U8NWXD commented on #11480
@DubeySandeep could you look into this since it affects the developer experience?

[2020-12-24 05:22] srijanreddy98 commented on #11486
@parulpriyedarshani @vojtechjelinek. This happens when your node_modules are not up to date. Please delete your node_modules and rerun the command.

[2020-12-24 07:20] ayushi0014 commented on #10798
@U8NWXD Can you assign me core/tests/protractor_utils/StoryEditorPage.js file ?

[2020-12-24 15:58] karma200020 commented on #9749
@srijanreddy98 @kevintab95 , can you please assign response-header.directive.ts to me? Thank you.

[2020-12-24 16:39] Koushikk-24 commented on #10415
hi,Im facing issue with #10415 subtopic model in "Extracting all the test related to the model type from prod_validators_test.py to <model-type>_validators_test.py" mentioned in Steps to refactor

[2020-12-24 18:55] vojtechjelinek commented on #10415
@Rupeshkoushik What exact problems are you facing?

[2020-12-24 19:01] kernelpanic77 commented on #8423
@sajalasati I think the `DocstringParameterChecker` Class already implements the linter.
Checkout the method `check_newline_above_args` in the class mentioned above.

`def check_newline_above_args(self, node, docstring):

        """ Checks to ensure that there is a single space above the
        argument parameters in the docstring.

        Args:
            node: astroid.node.Function. Node for

[2020-12-24 19:54] parulpriyedarshani commented on #11486
@srijanreddy98 Even after deleting the node_modules and rerunning the command too, the frontend tests are still failing to produce the following error in the logs. Any idea why is it happening? Thanks
[code]

[2020-12-25 00:35] U8NWXD commented on #10798
@ayushi0014 I've assigned you! Let me know if you have any questions

[2020-12-25 00:48] U8NWXD opened #11496 "Write Lint Checks for the End-to-End Tests"
**This issue is on hold while @ShivamJhaa completes the E2E migration.**

To improve the quality of our end-to-end testing code, we want to create lint checks for common bad practices. If you would like to help with this issue, please leave a comment on this issue with the task you want to work on.

## How to Write E2E Lint Checks

1. First think about how you can identify the bad practice based s

[2020-12-25 01:24] apurvbotle commented on #11181
Hi @mschanteltc, here's an image showing the font-weights applied. Starting from the top, first row is font-weight 300, followed by 400, 500, and at the bottom, 600.

![font-wts-300-600-3](https://user-images.githubusercontent.com/68392962/103112741-540e1f00-467d-11eb-9323-387d1a61dfa6.png)

[2020-12-25 09:30] Koushikk-24 commented on #10415
@vojtechjelinek thanks for the reply I figured it out (I was facing issue with PR)

[2020-12-25 13:51] parulpriyedarshani commented on #8668
Hi, @Showtim3 I would like to work on the following files. Could you please assign them to me?
Thanks

- angular-name.service.ts
- exploration-features.service.ts

[2020-12-25 14:48] YashJipkate commented on #10049
@vojtechjelinek Could you please assign me `UserSubscriptionsModel` → `feedback_thread_ids`.

[2020-12-25 15:39] ayushi0014 commented on #10798
@U8NWXD  I ran into some errors while pushing my changes to fork repo. This is an auto-generated file(get-pip.py) which is giving errors.

![Screenshot from 2020-12-25 21-00-47](https://user-images.githubusercontent.com/58321738/103138097-26fd5300-46f5-11eb-8a99-85ece0b4aac7.png)

[2020-12-25 16:25] Koushikk-24 commented on #10415
@vojtechjelinek can you checkout my PR #11505

[2020-12-25 16:26] Rupeshkoushik commented on #10415
#11505

[2020-12-25 17:03] #11430 closed, assigned to kevintab95

[2020-12-25 17:41] nishantwrp commented on #10474
Hi @parulpriyedarshani, sorry for the delay. Can we move this discussion to google hangouts for a faster discussion? My email is mittalnishant14@gmail.com

[2020-12-25 17:46] atpug22 commented on #9708
@nishantwrp @aks681 Can I work on this issue?

[2020-12-25 18:00] #11179 closed, assigned to apurvbotle

[2020-12-25 18:34] parulpriyedarshani commented on #11482
@vojtechjelinek Is it supposed to be like this? PTAL!

[2020-12-25 20:51] vojtechjelinek commented on #10049
@YashJipkate Sure

[2020-12-25 21:01] vojtechjelinek commented on #11482
@aks681 @kevintab95 any thoughts?

[2020-12-26 05:23] kevintab95 commented on #11482
Yep I think this is good to have. Thanks!

[2020-12-26 10:26] chris7716 commented on #8038
Please assign me on **core/templates/pages/exploration-editor-page/services/learner-answer-details-data.service.ts**. I am working on it.

[2020-12-26 12:23] karma200020 commented on #10306
@kevintab95, Can you please assign me to core/templates/services/translate.service.ts.

[2020-12-26 13:33] sajalasati commented on #8423
Hi @MegaMind77-coder! This is a lint check to ensure we have one empty line **above** `Args` keyword. You can confirm this by taking some python file, and deleting the blank space above `Args` - you will get a lint error. What we want is to make a lint check to ensure an empty line **below** `Args` (and other keywords that were mentioned). But anyways it's a good discovery, and it could help you i

[2020-12-26 14:10] sajalasati commented on #8423
@MegaMind77-coder Sorry my bad, I realise now that `check_newline_above_args` itself covers what we wanted. And I cannot think of a test case that would be missed by this check. Thanks for making that observation!

So in that case, @DubeySandeep I am marking this check as done, and leaving a message there that it's already implemented via another check, which @MegaMind77-coder [found](https://gith

[2020-12-26 14:17] parulpriyedarshani commented on #10306
Hi, @DubeySandeep apologies for the delay. I have already opened up a PR #11364  for the same.
Thanks

[2020-12-26 14:20] sajalasati commented on #8423
Hi @namanarora00! How is the work going on? Any updates? Let us know if you are stuck somewhere.

[2020-12-26 14:24] atpug22 commented on #10263
@kevintab95 @donosco98 Can I work on this if not assigned to anyone??

[2020-12-26 14:30] kevintab95 commented on #10263
Yep assigned you @atpug22

[2020-12-26 14:32] kevintab95 commented on #10263
Though can you explain what needs to be done for this issue and confirm it before raising a PR? Thanks!

[2020-12-26 14:33] atpug22 commented on #10306
@kevintab95 @DubeySandeep Can I work on any issue if available???

[2020-12-26 14:37] atpug22 commented on #10263
I guess some changes need to be done in media queries because at max-width 767px it is showing white color but after that changes to green.

[2020-12-26 14:39] kevintab95 commented on #10263
Yup, makes sense. Thanks @atpug22!

[2020-12-26 14:58] nishantwrp commented on #9708
Yup, you can. Assigned you.

[2020-12-26 15:03] atpug22 commented on #9708
@nishantwrp so we have to change the text only to this text mentioned in this comment??

[2020-12-26 15:40] atpug22 commented on #10263
![Screenshot 2020-12-26 202029](https://user-images.githubusercontent.com/56637531/103154601-70fe3b80-47be-11eb-974a-a2d0bd6500b2.png)
@U8NWXD @kevintab95 Searchbar moves down to middle at approx 991px but I think it should go down at 1110px because from 992px to 1110px the all categories bar orientation is below the search bar as shown in the screenshot. Is this a correct orientation or is this a

[2020-12-26 16:00] DubeySandeep commented on #11486
@srijanreddy98, Can you please help @parulpriyedarshani?

[2020-12-26 16:10] DubeySandeep commented on #11486
@parulpriyedarshani,  The [2nd error log](https://github.com/oppia/oppia/issues/11486#issuecomment-750953482) looks different. Can you confirm that you have `import constants ...` block in `topics-and-skills-dashboard-page.constants.ts`?

[2020-12-26 16:12] kevintab95 commented on #10263
Yep I think it should be OK to move it down when there isn't enough space to display the search bar in the top nav bar.

[2020-12-26 16:20] jassi-singh commented on #10474
Hi, @nishantwrp  There is no error while enabling strict checks in **GraphUtilsService** But there are a lot of errors while enabling strict checks for **graph-data.service.spec.ts** and the **_errors are present in other service files_**. So plz tell me what I do next.

[2020-12-26 16:48] apurvbotle commented on #11473
Hi @DubeySandeep, I would like to work on this issue.

[2020-12-26 16:58] nishantwrp commented on #9708
Looks good to me. But would like to defer this to @kevintab95 @aks681.

[2020-12-26 17:08] apurvbotle commented on #11106
Hi @dchen97, I would like to work on this issue.

[2020-12-26 19:59] parulpriyedarshani commented on #10474
Hi, @nishantwrp Firstly, thanks for your help. Actually, I am not currently working on the LostChangeObjectFactory. Please unassign me from that file so that others can work on it.
Thanks once again :)

[2020-12-26 21:02] DubeySandeep commented on #10728
Assigning this issue to @sjiang64. (As per offline discussion)

[2020-12-26 21:03] DubeySandeep commented on #10728
Assigning the first part of this issue to @sjiang647. (As per offline discussion)

[2020-12-26 21:08] DubeySandeep commented on #10049
Assigning @sjiang647 to the ExplorationRightsModel model part of the issue. (As per offline discussion)

[2020-12-26 22:31] sjiang647 commented on #10728
Thanks @DubeySandeep. Just for some clarification, this issue only covers the first of the TODOs in this [doc](https://docs.google.com/document/d/1v0Oi2qFIC3HXwFaCX1zpG8aP0IjtZnYs_s_U8S-FHn8/edit) right?

[2020-12-26 22:59] DubeySandeep commented on #10728
Hi @sjiang647, Yeah `BAD_PATTERNS_PYTHON_REGEXP` is the main block to focus on here. (If possible also remove [unicode_literal import](https://github.com/oppia/oppia/blob/770832d876dd2c2a65a006ed8950ae0e7a9f3221/scripts/linters/general_purpose_linter.py#L288) checks but that's not mandatory. In general, we are trying to move all python related checks from general_purpose_linter to pylint.)

[2020-12-27 04:34] parulpriyedarshani commented on #8668
Can anyone please assign me the above-mentioned files? Thanks

[2020-12-27 04:44] parulpriyedarshani commented on #11486
@DubeySandeep The 2nd error log is from some other PR of mine. Yes, the ```import constants``` block is present there.

[2020-12-27 06:36] kevintab95 commented on #8668
@parulpriyedarshani done!

[2020-12-27 06:42] sjiang647 commented on #10728
Hey @DubeySandeep . I've been looking through the related code pointers and have a few more clarification questions:

1. Regarding the entires in [`BAD_PATTERNS_PYTHON_REGEXP`](https://github.com/oppia/oppia/blob/770832d876dd2c2a65a006ed8950ae0e7a9f3221/scripts/linters/general_purpose_linter.py#L349), there are some non-function calls (eg. `__author__`, `with open\(..` and some of them don't have

[2020-12-27 06:44] Radesh-kumar commented on #9008
@brianrodri After a while of backtracking calls, I figured out that the playthrough-issues.component is never been used (dead), @DubeySandeep told me to ping in here so it will be helpful for others too.

[2020-12-27 07:02] chris7716 commented on #8038
Can anyone please assign me to **learner-answer-details-data.service.ts**

[2020-12-27 10:06] DubeySandeep commented on #10728
@sjiang647, Thanks for looking into the issue in detail, I've replied to your questions below, PTAL:

Re 1:

We are expecting to move all the python checkers to custom pylint checks. I would suggest you start with the "function-calls" part for the first PR and add other parts of the BAD_PATTERNS_PYTHON_REGEXP as a sub-task in this issue (We will look into it after completing the "function-call" pa

[2020-12-27 10:52] parulpriyedarshani commented on #11486
Hi, Actually today also while pushing changes I faced the same issue again. How is it possible that 1 frontend test was failing today when frontend tests were run on my local machine but after pushing the code, the same frontend tests pass? Isn't this a bit strange? The following is the error log that I found today. Just posting it here so that some clue can be found on the same. Any thoughts?
Tha

[2020-12-27 11:34] KhushiGangopadhyay commented on #11480
Running python -m  scripts.install_third_party_libs installed all the dependencies properly

Thank you!

[2020-12-27 11:34] #11480 closed, assigned to DubeySandeep

[2020-12-27 14:08] tanishkab commented on #9530
Please assign this issue to me. Thank You in advance

[2020-12-27 14:09] tanishkab commented on #9251
Please assign this issue to me. Thank You in advance

[2020-12-27 15:24] nishantwrp commented on #10474
@parulpriyedarshani, no worries. unassigned you!

[2020-12-27 16:03] akshathkaushal commented on #10474
Hi @nishantwrp, please assign me the following files if they are available:

- InteractionDetailsCacheService
- InteractiveMapRulesService

Thanks!

[2020-12-27 16:19] nishantwrp commented on #10474
@akshathkaushal done!

[2020-12-27 17:55] ritvikkhanijo commented on #10474
@nishantwrp Please assign me the following files:
DebouncerService
MisconceptionObjectFactory

[2020-12-27 17:56] karma200020 commented on #10474
Hi @nishantwrp, please assign me the following files if they are available:

UtilsService
LearnerParamsService
Thanks!

[2020-12-27 18:06] vojtechjelinek commented on #9251
@Tanishka-Bansal Thanks for the interest, please go through these instructions first https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia and then you can try some issue with [good first issue](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) label.

[2020-12-27 18:55] atpug22 commented on #9708
@kevintab95 @aks681 So I have to change the text only as mentioned in the comments above?

[2020-12-27 19:20] kevintab95 commented on #9708
Yep, I think that should be fine. Thanks!

[2020-12-27 20:35] arjungarg07 commented on #10798
@U8NWXD Hey, Can I work on `core/tests/protractor_utils/ExplorationEditorMainTab.js`?

[2020-12-27 20:51] atpug22 commented on #11486
@parulpriyedarshani Yes, yesterday this happened to me also. While running the frontend tests all checks were passed but just after this when I tried pushing my code I got the same error in frontend tests. But when I tried after some time without making any changes in the code it showed no error and the code was pushed.

[2020-12-27 21:56] atpug22 commented on #8801
@kevintab95 @Showtim3 Can I work on this issue??

[2020-12-27 22:00] kevintab95 commented on #8801
Yep, assigned you!

[2020-12-27 22:23] aks681 commented on #11403
I'm not sure if this is an issue. I just tried it on Chrome (on Mobile - Android and Desktop) and it worked.
@nadintamer Did you create the exploration that you tested this on? Since, it doesn't work if the exploration you are playing is one which you are subscribed to (which is the case if you created it).
I think we can close this issue as we have #9036 for the specfic Mac case.

[2020-12-27 22:34] aks681 commented on #11389
I am not able to reproduce this issue. I tried the same exploration on my native monitor and on emulating MDPi and HDPi monitors on Chrome and the message is always visible.
@gp201, can you see if you can repro it on develop right now? and provide exact screen specs if you can?
(I tried it on responsive mode with varying widths and still it was working  fine)

[2020-12-27 23:47] michaelw54 commented on #10049
Hi @vojtechjelinek, Could I remove all the deprecated fields from ExplorationModel?

[2020-12-27 23:48] vojtechjelinek commented on #10049
@michaelw54 Yes, I have assigned you.

[2020-12-28 00:19] michaelw54 commented on #10049
Can we update the instructions for removing a field from VersionedModel inheriting classes to use `model.commit()` rather than `model.put()`? It seems that the `put()` method deliberately throws a NotImplementedError on VersionedModel as defined here:
[code]
Just thought it may be helpful for new contributors working on similar tasks with VersionedModel

[2020-12-28 00:43] sjiang647 commented on #10728
@DubeySandeep . Gotcha for the first point. For 2, I actually meant that `self.config` [here](https://github.com/oppia/oppia/blob/770832d876dd2c2a65a006ed8950ae0e7a9f3221/scripts/linters/pylint_extensions.py#L1696) refers to the pylint checker's config rather than the `.pylintrc`.

For example, if I use this code:
[code]
I see the message added as:
![image](https://user-images.githubusercontent.co

[2020-12-28 05:59] U8NWXD commented on #10798
@arjungarg07 I've assigned you! Please let me know if you have any questions

[2020-12-28 06:11] U8NWXD commented on #10798
@sszaman37 @zeela-bukhari @nipan09 @StephanieGreenberg @Gagandeep1104 @shrutisatish00 @umang232 @shubham00jain @FJKhan @Rhytah @linnhallonqvist @Deepak-du @apurvbotle @gg-dev-05 @Anushk2001 @ayushi0014 @arjungarg07

Are you still working on your assigned tasks in this issue? If you are, please give me a heads up so I know not to de-assign you. Otherwise, I'll remove your assignments to let other c

[2020-12-28 06:20] gp201 commented on #11389
My screen Specs:

1. 15.60-inch
2. 1920x1080 pixels

The issue can be reproduced by zooming in (Ctrl + scroll up) (I have not done it, but it will replicate the issue).
I could reproduce it in develop.

[2020-12-28 06:22] chris7716 commented on #8038
I have added a new **learner-answer-details-data-backend-api.service.ts** file and now I am getting these errors for the unit tests of **learner-answer-details-data.service.spec.ts**. Could anyone plz help me out? Do we need to keep the **learner-answer-details-data.service.spec.ts**. or else will it be enough to add a new **learner-answer-details-data-backend-api.service.spec.ts** and remove **le

[2020-12-28 06:41] gg-dev-05 commented on #10798
@U8NWXD  I am currently working.

[2020-12-28 07:21] arjungarg07 commented on #10798
@U8NWXD Yes, I am working on it.

[2020-12-28 07:43] seanlip opened #11519 "Drop "Uncategorized Skills" from topic editor if all skills have been categorized"
**Describe the bug**
Even when all skills in a topic have been categorized, the "Uncategorized Skills" header still shows up. This is confusing and should be removed.

(See the screenshot below. Since there are no uncategorized skills, it would be better to remove the green box altogether. Currently, it looks like a header for the items below it.)

![Screenshot from 2020-12-27 23-39-39](https://us

[2020-12-28 07:43] seanlip commented on #11519
Assigning to @kevintab95 for triage/fixing since this relates to creator views.

[2020-12-28 11:47] ayushi0014 commented on #10798
@U8NWXD I'm working on it!

[2020-12-28 12:26] FJKhan commented on #10798
Sorry, I’m no longer working on this task. Please reassign. Thanks!

On Mon, 28 Dec 2020 at 06:47, ayushi0014 <notifications@github.com> wrote:

--
Sincerely,
F.J. Genus
(786) 690-1013 / (876) 313-5059
fjgenus.com

[2020-12-28 12:40] kernelpanic77 commented on #8038
Hi! @DubeySandeep  I would like to work on one of the issues, Pls assign me to some file.

[2020-12-28 15:03] kernelpanic77 commented on #8423
Hi @sajalasati! Thanks
Sure I can work on another lint check, could you pls explain the details of `Prevent redeclarations of the same variable`?

[2020-12-28 15:18] U8NWXD commented on #11483
The `waitForAngularEnabled` calls are introduced to fix the indefinite wait (see [docs](https://www.protractortest.org/#/timeouts)).

[2020-12-28 15:19] U8NWXD commented on #11483
@srijanreddy98 will we ever be able to remove the `waitForAngularEnabled` calls? If so, what are the necessary conditions for removing them?

[2020-12-28 15:49] sajalasati commented on #8423
Hi @MegaMind77-coder! I have assigned you to this task.
The aim here is to prevent redeclaration of the variable i.e assigning it some other value after its first declaration. You can see the link provided with the task title to see an example code. There the variable `b64_png_no_header` was assigned something else later on, and we want to prevent usage of a variable like that, because it becomes

[2020-12-28 16:26] nishantwrp commented on #10474
@ritvikkhanijo @karma200020 done!

[2020-12-28 16:51] srijanreddy98 commented on #11483
@U8NWXD I created this issue with the intention of tracking the `waitForAngularEnabled` calls enabled introduced in PR #11362 and not for all the `waitForAngularEnabled`calls in our codebase.
That said, I think apart from the ones we might introduce in #11362, we are currently only using this for our login screen as it is not in Angular. That's going away with python migration. @brianrodri is work

[2020-12-28 17:12] U8NWXD commented on #11483
I meant when can we remove the `waitForAngularEnabled` calls introduced by #11362?

[2020-12-28 17:17] srijanreddy98 commented on #11483
When the app is migrated to Angular. It is already in issue title but I forgot to add it to the issue description.

[2020-12-28 18:39] mschanteltc commented on #11181
Thanks @apurvbotle. Let's use the 500 weight font please.

[2020-12-28 19:40] #9708 closed, assigned to atpug22

[2020-12-28 19:52] #10263 closed, assigned to atpug22

[2020-12-28 19:56] DubeySandeep commented on #10728
@sjiang647, Pylint internally fetches the configs defined in the .pylintrc file and if we won't add any config in the .pylintrc file then it will use the default value. ([code ref](https://github.com/PyCQA/pylint/blob/9a5e1b349fd2521ef8eedaf92b16785c895aaefa/pylint/checkers/format.py#L249), we have override the default value in .pylintrc) (Is this helpful^? I'm not completely sure about your quest

[2020-12-28 20:51] SarahZLipeles commented on #8472
@srijanreddy98 search.service.ts is linked to #11409

[2020-12-28 22:05] SarahZLipeles opened #11526 "Text editors in translation tab of exploration editor page should switch to RTL when translating into an RTL language"
**Describe the bug**
Text editors in translation tab of exploration editor page currently use the app locale to decide text direction, they should switch to RTL when translating into an RTL language

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to exploration editor
 2. Create an exploration
 3. Go to translation tab
 4. Switch mode to translation
 5. Switch translation language to Ara

[2020-12-28 22:06] SarahZLipeles commented on #11526
Related to #11367

[2020-12-28 23:14] SarahZLipeles commented on #11526
moved to be part of #11499

[2020-12-28 23:14] #11526 closed, assigned to nobody

[2020-12-28 23:15] vojtechjelinek opened #11527 "Implement `BaseHumanMaintainedModel`"
Implement `BaseHumanMaintainedModel` that will have `last_updated_by_human` field.

[Design doc](https://docs.google.com/document/d/1Qw_IutqdF7azUgmtu5qLyFDJJACmlgalbDts9aep4GA/edit#heading=h.nx4yg2qelqcw) and [Design doc for issue of put_async](https://docs.google.com/document/d/1tn9c3brTOBjhSs_C5jBEcZHa9_vikjCp5ucy9mStIxU/edit?usp=sharing).

[2020-12-29 05:42] apurvbotle commented on #11181
Hi @mschanteltc, I've made the changes and generated a PR. Kindly review.

[2020-12-29 10:07] atpug22 commented on #8472
@srijanreddy98 I am now working on ```learner-playlist.service.ts``` so I wanna claim that so no one else starts working on this issue.

[2020-12-29 13:02] shubhamkorde commented on #10306
I would like to work on core/templates/services/translate.service.ts

[2020-12-29 13:03] vojtechjelinek commented on #10049
@krishita30j Assigned you to `UserSubscriptionsModel` → `activity_ids` in order to finish the work from #11316

[2020-12-29 14:21] atpug22 commented on #11389
@aks681 I looked into this issue and it is because the right side is fixed at one place. Should I fix this and send the PR for this??

[2020-12-29 14:39] gp201 opened #11536 "[Exploration Editor] Interactive container not within boundary."
**Describe the bug**
The pencil code editor appears outside the interaction box.
The same case with the map container. [Details](https://github.com/oppia/oppia/issues/11536#issuecomment-757448074)
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/create/16#/gui/Pencil%20Code%20Editor

**Observed behavior**
The pencil code editor appears outside the int

[2020-12-29 16:15] DubeySandeep commented on #9642
Assigning this issue to @KhushiGangopadhyay (As per offline discussion.).

[2020-12-29 20:06] DubeySandeep commented on #10306
Un-assigned @ArishSultan @gunishmatta @kendallpomerleau @Aryan-Abhishek @emilyglue @deekshanya @the-known-anon @tyajush @cernoit @the-known-anon @ritvikkhanijo @dipanshparmar from this issue because of lack of response/activity.

[2020-12-29 20:11] DubeySandeep commented on #10306
Assigned core/templates/services/translate.service.ts to @MegaMind77-coder (@MegaMind77-coder Let me know if you want me to assign to any other files as well?)

@chris7716 @karma200020, @shubhamkorde, FYI @MegaMind77-coder has initiated a PR for translate.service.ts, can you please pick another file from this issue?

@parulpriyedarshani Thanks for the update!

@apurvbotle, Thanks for the updates!

[2020-12-29 20:14] DubeySandeep commented on #10306
@atpug22, I've assigned you to `core/templates/domain/recommendations/exploration-recommendations-backend-api.service.ts`. Let me know if you need any help! :)

[2020-12-29 21:10] #9499 closed, assigned to DubeySandeep

[2020-12-29 21:10] #11398 closed, assigned to DubeySandeep

[2020-12-29 21:34] DubeySandeep opened #11539 "Add a pre migration step to ensure that there exists an migration-audit job"
We expect the admin/release-coordinator to run the migration-audit job before running the actual migration one-off job (for exploration, skills, topic, question, etc.).

Through this issue, we want to add a pre-migration check which will ensure that there exists a migration-audit job in the last 24 hrs.
If not or the audit job failed in the last run then don’t run the corresponding migration jobs.

[2020-12-29 22:39] #11399 closed, assigned to aks681

[2020-12-29 22:39] #11416 closed, assigned to aks681

[2020-12-30 01:58] mschanteltc opened #11541 "Rich Text Editor - Combine "Insert Diagram" with "Insert Image""
### Problem
Creators want to be able to edit their upload SVG images, but are not able to.
### Solution
Combine "Insert Diagram" with "Insert Image" to be the latter. When creators click on it, a [modal](https://xd.adobe.com/view/c4f9453f-b0d1-46e5-a9b4-7ecd17a34afe-91aa/screen/2e6dede5-8e24-4528-9d87-e4113ff06c13) appears. There are options to either _Upload_ or _Create_
![Customize This Componen

[2020-12-30 01:58] mschanteltc commented on #11541
@kevintab95 @aks681

[2020-12-30 02:11] shubhamkorde commented on #10306
@DubeySandeep I did not see that the PR had already been initiated. Can you please assign me to core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts ?

[2020-12-30 02:40] U8NWXD opened #11542 "Main Menu from Profile Photo Doesn't Stay Highlighted when Menu Hovered"
**Describe the bug**
Menu from user profile picture in upper-right loses highlight when user moves cursor over menu items.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start a local development server
 2. Log in
 3. Hover over your profile picture in the upper-right. The menu expands.
 4. Move your cursor down to the menu.

**Observed behavior**
The white background around the profile ph

[2020-12-30 02:50] U8NWXD opened #11543 "Skills Dashboard Numbering Incorrect After Creating Second Skill"
**Describe the bug**
After creating a skill, creating subsequent skills messes up the skills dashboard counter.

**To Reproduce**
Steps to reproduce the behavior:
 1. Navigate to the topics and skills dashboard
 2. Create a skill
 3. Close the skill editor tab, returning to the skills dashboard tab
 4. Create another skill
 5. Close the skill editor tab, returning to the skills dashboard tab

**Ob

[2020-12-30 04:20] brianrodri commented on #10108
Obsolete now that playthroughs are disabled.

[2020-12-30 04:20] #10108 closed, assigned to brianrodri

[2020-12-30 04:21] brianrodri commented on #10591
Not clear whether this is needed to begin with, so marking as obsolete for now.

[2020-12-30 04:21] #10591 closed, assigned to brianrodri

[2020-12-30 05:12] HarshKhilawala commented on #10798
@U8NWXD  Assign me any 3 of them. Will be completing them within end of this week.

[2020-12-30 09:38] akshathkaushal commented on #11542
Hi, I would like to work on this issue.

[2020-12-30 09:40] akshathkaushal commented on #11542
Hi, I would like to work on this issue.

[2020-12-30 11:27] chris7716 commented on #8038
Can anyone please assign me to **core/templates/services/search.service.ts**. While I was running the unit tests of **search.service.ts** after creating **search-backend-api.service.ts**, I have encountered these errors. Could anyone plz help me out?
![Screen Shot 2020-12-30 at 4 55 39 PM](https://user-images.githubusercontent.com/41409951/103348395-e409f980-4abf-11eb-9a87-f95ffd1d240e.png)

[2020-12-30 11:57] vojtechjelinek opened #11547 "Replace `reraise_exception()` by `raise e` after Python 3 migration"
- [ ] `reraise_exception()` can be replaced with `raise e` after we migrate to Python 3. After this we can also remove the `six` library.
- [x] Change pip upgrade in _install_prerequisites.sh_ to newest version

[2020-12-30 12:57] rohitkatlaa opened #11548 "Unable to run backend tests for some of the tests in scripts/linters"
**Describe the bug**
I am unable to run the some of the backend tests in the the scripts/linters directory. I have attached the screenshot of the image.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run ```python -m scripts.run_backend_tests --test_target=scripts.linters.general_purpose_linter_test```

**Observed behavior**
Tests failed to run due to some import error.

**Expected behavio

[2020-12-30 12:59] rohitkatlaa commented on #11548
@DubeySandeep  PTAL.

[2020-12-30 13:01] brianrodri opened #11549 "Third-party modules cannot be imported normally by scripts"
Files in the `scripts/` directory cannot import third-party libraries normally because `sys.path` is not configured correctly by default.

For example, this minimal file would raise an `ImportError`:
[code]

To fix, we have to run `sys.path.append('third_party/python_libs')` _before_ a script is run.

To fix **robustly**, we need to introduce a standard-interface to our scripts that always fixes t

[2020-12-30 13:35] karma200020 commented on #10306
@DubeySandeep can you please assign 'core/templates/domain/topic/topic-creation-backend-api.service.ts' to me?

[2020-12-30 14:34] karma200020 commented on #8472
@srijanreddy98 @kevintab95 can I work on 'collection-editor-state.service.ts' ?

[2020-12-30 15:01] sachin-cpp commented on #11542
Hi @U8NWXD I am a new contributor here . Can I work on this ?
I have reproduced the bug and is looking into it .

[2020-12-30 15:25] akshathkaushal commented on #11542
Hi, I have tried to rectify this issue. PTAL PR #11550

[2020-12-30 17:37] ReshuKumari commented on #11464
Hi @mschanteltc for Task 12 what is expected?
something like this
![Screenshot from 2020-12-30 22-49-32](https://user-images.githubusercontent.com/62715691/103370639-4fb98a00-4af3-11eb-87d3-3ca5d8c1b63e.png)
or this
![Screenshot from 2020-12-30 22-48-46](https://user-images.githubusercontent.com/62715691/103370693-711a7600-4af3-11eb-8528-327cdf93e35a.png)
or something else which would look better.

[2020-12-30 18:20] mschanteltc commented on #11464
HI @ReshuKumari! I prefer the first picture, where the "General" Tab has a light blue background behind it. Also do we have a "hover" color for unselected tabs? If so, is it possible to change the text color of the unselected tabs to #555555? If not, do we have a hover color to default to? I think this might help emphasize the selected tab since color draws more attention.

[2020-12-31 00:28] seanlip opened #11552 "Default feedback should not appear for multiple-choice questions"
**Describe the bug**
In multiple-choice questions, if all answers are currently addressed individually, then the default answer choice should not appear in either the editor or the translation tab.

Note that this is currently causing some confusion due to empty texts in that field showing up in the voiceover tab. It is not clear what the voiceover artist should record in those sections, but the v

[2020-12-31 01:25] U8NWXD commented on #11389
@atpug22 I can't speak for aks681, but I think it's fine to go ahead and raise a PR to fix this.

[2020-12-31 01:26] U8NWXD commented on #11389
This bug is blocking the release, so we need to fix it quickly!

[2020-12-31 03:43] apurvbotle commented on #10798
Hi @U8NWXD, I am currently working on it. Should be closing in a couple of days.

[2020-12-31 04:31] U8NWXD commented on #10798
@HarshKhilawala I assigned you to `core/tests/protractor_utils/PreferencesPage.js`

[2020-12-31 04:31] U8NWXD commented on #10798
@apurvbotle Thanks for letting me know! I re-assigned you

[2020-12-31 04:34] U8NWXD commented on #11542
@sachin-cpp since there's already a PR for this issue, please take up a different one. @akshathkaushal I've updated your PR to indicate that it fixes this issue

/cc @aks681

[2020-12-31 07:10] seanlip opened #11559 "Math Foundations callout looks wonky in develop branch"
To reproduce, go to the library page and resize the screen slowly. When it is approximately 980-995 px wide, the search bar + callout looks like this, which is ... kinda bad.

![Screenshot from 2020-12-30 23-07-27](https://user-images.githubusercontent.com/10575562/103399057-20efe380-4af4-11eb-91d6-0c8638b0f50c.png)

It may be worth investigating how this error arose so that we can put measures in

[2020-12-31 07:39] mschanteltc opened #11560 "Lesson Player - Add "Lesson Info" Modal"
**Issue**

- For learners who use the Lesson Player on a mobile browser, there are instances where the Story Name and Chapter Name are not available in the header. The header is taken up by the hamburger menu and logo, so these names cannot fit without being truncated after a few characters.
- Also, learners may play a lesson but are unsure how many more pages are left to complete it. It can be fr

[2020-12-31 07:40] mschanteltc commented on #11560
@kevintab95 @aks681

[2020-12-31 09:28] ReshuKumari commented on #11464
@mschanteltc yes, I added the hover effect of background color #E0F2F1 for unselected tabs. It is little difficult to add text color #555555 as that property is taken from oppia.css, and if I add new property for it in the file where that thing is present then it doesn't work. So is it fine?

[2020-12-31 12:33] kernelpanic77 commented on #10306
Thanks @DubeySandeep  my PR for `core/templates/services/translate.service.ts` was merged.
[https://github.com/oppia/oppia/pull/11468#event-4159020559]()

[2020-12-31 14:51] gp201 opened #11562 "[Donate Page] Unable to pay via PayPal or Credit Card"
**Describe the bug**
Unable to pay via PayPal or Credit Card. Upon clicking PayPal or Credit Card Button nothing happens

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/donate
 2. Click on PayPal or Credit Card

**Observed behavior**
No response.

**Expected behavior**
Redirect to payment gateway.

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-12-31 15:29] ARKEOLOGIST commented on #9726
Is this still open? I would like to work on this if it's still not resolved.

[2020-12-31 16:48] akshathkaushal commented on #10474
Hi @nishantwrp
Pls assign me the following if they are available

- NormalizeWhitespacePunctuationAndCasePipe
- ItemSelectionInputRulesService
- MultipleChoiceInputRulesService

Thanks!

[2020-12-31 17:42] #11479 closed, assigned to nobody

[2020-12-31 18:04] akshathkaushal commented on #11542
@U8NWXD Thanks!

[2021-01-01 02:40] #11562 closed, assigned to nobody

[2021-01-01 04:51] gp201 opened #11566 "[Donate Page] Text misaligned in mobile view"
**Describe the bug**
When https://www.oppia.org/donate is viewed from a mobile the text is misaligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/donate

**Screenshots**
<img src="https://user-images.githubusercontent.com/30050862/103433628-9e157880-4c1a-11eb-8b24-4073ed6ea22d.png" height="500px">
**Smartphone (please complete the following information; dele

[2021-01-01 04:55] parulpriyedarshani commented on #8472
@srijanreddy98 I would like to work on ``` translation-tab-active-content-id.service.ts```. Could you please assign it to me? Thanks

[2021-01-01 10:16] DubeySandeep commented on #9749
Assigning ` admin-prod-mode-activities-tab.directive.ts` to @Nik-09 as per offline discussion.

@karma200020, I've assigned you to `response-header.directive.ts`. (Sorry for the delay.)

[2021-01-01 12:06] atpug22 commented on #11559
@seanlip @kevintab95 fixed the issue in my latest PR #11570

[2021-01-01 17:54] nithusha21 opened #11572 "Ensure all backend exceptions are thrown correctly, and stacktraces aren't hidden"
ref. #9676

We throw a lot of exceptions in the python code, but in some locations (like the linked issue above), the exception raised actually hides the original source of the issue.  This issue aims to audit and fix any such issues in the backend codebase, where exceptions are incorrectly used. Under any circumstance given the stacktrace logged by the exception, it should be possible to clearly

[2021-01-01 18:45] vojtechjelinek commented on #11417
Since we will switch to Firebase very soon and the signup/login interface will change a lot I think we should wait after we switch (I assume the handling in Firebase is much better and there is an option to switch between multiple users without locking yourself to one that is set as default).

[2021-01-01 20:13] archi15 commented on #10798
Hi @U8NWXD , Can you assign me 'core/tests/protractor_utils/SubscriptionDashboardPage.js' file ?

[2021-01-01 20:36] U8NWXD commented on #9378
Linters are being handled by the dev workflow team

[2021-01-01 20:38] U8NWXD commented on #9127
Closing since this hasn't happened recently

[2021-01-01 20:38] #9127 closed, assigned to nobody

[2021-01-01 20:38] U8NWXD commented on #8901
Closing since this hasn't happened recently

[2021-01-01 20:38] #8901 closed, assigned to nobody

[2021-01-01 20:53] ARKEOLOGIST commented on #11566
Would like to be assigned this issue, if permitted.

[2021-01-01 21:56] seanlip commented on #11559
Just a note @atpug22, this is an issue, not a PR, so you can remain assigned to it :)

Thanks for taking a look!

[2021-01-02 05:56] jassi-singh commented on #10474
Hi @nishantwrp, I am working on **Graph detail service**  It is showing no errors after adding the file to tsconfig-strict.js but while pushing it to my fork it is giving the error shown below. Plz, guide me in solving this error.
![Screenshot 2021-01-02 112120](https://user-images.githubusercontent.com/54185836/103451711-472ca380-4ced-11eb-8c22-0faedf92ef60.png)

[2021-01-02 07:48] sachin-cpp commented on #10798
Hi @U8NWXD , I have updated and tested ` core/tests/protractor_utils/ExplorationEditorSettingsTab.js` , can you assign me this file?

[2021-01-02 08:56] kevintab95 commented on #11566
Hi @ARKEOLOGIST, please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. Thanks!

[2021-01-02 10:47] akshathkaushal commented on #10474
Hi @jassi-singh, I was getting the same error. This is might be due to trailing commas in files section of tsconfig-strict.json file. Try removing them if present.

[2021-01-02 16:30] Nik-09 commented on #9483
I am also facing the same issue while pushing my code.
![Screenshot from 2021-01-02 20-37-39](https://user-images.githubusercontent.com/57531197/103461631-dcf41d00-4d45-11eb-93d3-8035607ac0ae.png)

[2021-01-02 17:31] Mansibisen commented on #11552
@kevintab95  I will like to take over this issue .

[2021-01-02 18:43] kevintab95 commented on #11552
Hi @Mansibisen, can you please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first? Once you do so, you will be assigned a mentor and they'll help you get started with your first issues. Thanks!

[2021-01-02 20:35] ARKEOLOGIST commented on #11566
@kevintab95 Deployed a fix for this one.

[2021-01-03 02:31] shavavo opened #11581 "Add rule translation support for TextInput and SetInput interactions"
Add rule translation support for TextInput and SetInput interactions. #11569 surfaces translations for customization args, but not rule inputs.

After this is done, make sure ```INTERACTIONS_THAT_ARE_CURRENTLY_UNTRANSLATABLE``` in ```core/templates/domain/exploration/ExplorationObjectFactory.ts``` is empty.

[2021-01-03 04:41] Mansibisen commented on #11552
Thanks a lot @kevintab95 . I will follow the instructions . I am new to backend using python so I surely need help .

[2021-01-03 05:08] Mansibisen commented on #11552
@kevintab95  I signed the CLA and filled the Contribution survey . Now waiting for mentor to be assigned . Thanks a lot for your help.

[2021-01-03 07:11] HarshKhilawala commented on #10798
@U8NWXD , Please check #11583

[2021-01-03 07:14] HarshKhilawala commented on #9716
@kevintab95 @DubeySandeep Can I work on this ?  Would you assign this to me

[2021-01-03 08:05] shellymutu-grigg opened #11584 "[Setup issue - macOS with M1 chipset] Running "python -m scripts.start" results in "Error installing package" error"
I have successfully installed oppia on an Ubuntu 20.04 OS instance on an HP machine (however this machine is not overly stable)

I am now trying to install oppia on my new macbook air 2020 with the M1 chipset with macOS Big Sur v11.1.

**Python version:** 2.7.16

I have followed all instructions including deleting specific folders, tried installing version 20.3.3 of pip, then re-running "python -m

[2021-01-03 10:33] kevintab95 commented on #9716
@HarshKhilawala assigned you!

[2021-01-03 11:18] Koushikk-24 commented on #10306
hi @DubeySandeep can you assign me core/templates/services/exploration-stats.service.ts

[2021-01-03 13:23] Er-Manav commented on #11566
I would like to solve this issue.
I'm new to open source contribution.

[2021-01-03 13:27] gp201 commented on #11566
Hi @Er-Manav, please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. @ARKEOLOGIST already seems to be working on this issue. Please feel free to find another issue to work on. You can check out other issues labelled "good first issue".