[2021-11-09 06:49] paprajapati9 commented on #14207
Fixed this in PR #14203

[2021-11-09 09:57] vojtechjelinek commented on #13162
@SanjaySajuJacob Done.

[2021-11-09 11:41] Rijuta-s commented on #13680
@dchen97 What exactly should the description text be? Currently it is - 'Note that managers also have the permissions of collaborators, collaborators also have the permissions of voice artists, and voice artists also have the permissions of viewers.'

[2021-11-09 12:52] Sreelayavuyyuru commented on #14173
Hello, when I first tried to set up my environment, I used python3.7.10 for everything which gave me a lot of errors. If nothing's working for you, try setting up your environment again with the python3.7.* version available on your Mac. It worked for me. For eg: In steps 4 and 5 of setting up virtual environment (https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%3B-Python-3%29), you

[2021-11-09 13:38] ClementBLV commented on #14033
Hi @vojtechjelinek , @sajalasati !

I have a question concerning an annotation for the question_domain.py file (https://github.com/oppia/oppia/blob/develop/core/domain/question_domain.py ).

![image](https://user-images.githubusercontent.com/88928058/140933428-89bc60c9-608f-4ef7-aa62-3f24d59bb7ae.png)

The file contains different convert functions. The argument question_state_dict in each of these

[2021-11-09 16:56] U8NWXD commented on #14187
@soumyo123-prog I've assigned you to those. In the future, feel free to change the comment to assign yourself

[2021-11-09 17:01] #13952 closed, assigned to krishnarao22

[2021-11-09 17:14] dchen97 opened #14209 "Add canonical way to end practice session early"
**Is your feature request related to a problem? Please describe.**
Though practice sessions are relatively short, users may still find themselves needing to end a session early if need be. Today, if a user needs to do so, there's no way for them to be able to save their progress. Users should be able to end a practice session before they finish answering all questions in a session and still be abl

[2021-11-09 17:18] dchen97 opened #14210 "Update hints UI to be more intuitive and indicate when a user is about to receive a solution"
**Is your feature request related to a problem? Please describe.**
Some user research has shown our current hints UI is not very intuitive - as some users can get confused about which hints are newest - and will find themselves surprised trying to open a "new" hint only to see the content of a previously viewed hint.

Additionally, the hints icon/UI does not change at all when the hint is actually

[2021-11-09 17:23] dchen97 opened #14211 "Adjust sorting interaction so that feedback appears consistently with other interactions"
**Is your feature request related to a problem? Please describe.**
The list sorting interaction today has its feedback appear on the right side - which is inconsistent with virtually all other interactions. This was done because users in user testing were focused on the right side and would occasionally miss the feedback when it appeared. However, it's very odd that this interaction appears differ

[2021-11-09 19:20] nithinrdy commented on #10616
@Hudda , may I work on @typescript-eslint/member-delimiter-style?

[2021-11-10 00:28] intaschi opened #14215 "Concept card text is glued to next word in some lessons"
**Describe the bug**
When using the lesson editor, I have noticed that in some chapters the concept card text don't accept spaces after and gets glued to the next word. This continue no matter how many spaces you try to add.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the lesson's editor of The Meaning of Fractions;
 2. Go to Portuguese Translations;
 3. Go to ["Recap 1"](https://

[2021-11-10 05:48] chiragbaid7 commented on #13162
Hi, @vojtechjelinek can you assign me the following handlers:
`SuggestionToExplorationActionHandler`
 `ResubmitSuggestionHandler`
 `SuggestionToSkillActionHandler`

[2021-11-10 06:58] Hudda commented on #10616
@nithinrdy you are assigned.

[2021-11-10 07:26] namangirdhar16 commented on #14202
Hey @vojtechjelinek, i reperformed the whole process from scratch, without getting any error but when i try to run `python -m scripts.start` i get this:
![image](https://user-images.githubusercontent.com/64246118/141066866-0eccfc45-6458-4719-bf96-37129309dd81.png)

I'm pasting the whole logs of the terminal here:

[code]

Note: I've python2 installed in my ubuntu enviornment & python 3 also.
[code

[2021-11-10 12:16] Lawful2002 opened #14217 "The footer on practice pages cuts into the apple logo on certain screen sizes"
**Describe the bug**
The footer on practice pages cuts into the apple logo on certain screen sizes

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a Topic with a subtopic and a linked skill and publish it (assign it to a classroom) 2. Click on '....'
 2. Navigate to the classroom page and start a test session
 3. Resize the screen until the green band of the footer clips into the app

[2021-11-10 13:02] khanjasir90 opened #14218 "Add a Tooltip on hover!"
When hovered over social-media icons on oppia.org website it doesn't show a tooltip. In all modern website tooltip is an essential part of UI/UX.
![image](https://user-images.githubusercontent.com/53305380/141117741-0fd7d006-3dc2-4936-a83b-8df270889579.png)
Desired Behaviour :

On hover it should show a tooltip indicating the proper information.

[2021-11-10 13:04] khanjasir90 commented on #14218
@vojtechjelinek @iamprayush @Rijuta-s can i work on this?

[2021-11-10 13:43] nithinrdy commented on #10616
@vojtechjelinek I am using the following configuration for the 'member-delimiter-style' rule:

![image](https://user-images.githubusercontent.com/78612244/141123065-5dabd3c6-fb0c-49f0-9dbb-2b269df45cf7.png)

I would like to know if these are appropriate. More specifically, the underlined part is what I'd like to know about.
With it set to true:
![image](https://user-images.githubusercontent.com/78

[2021-11-10 13:48] U8NWXD opened #14219 "Increase Per-File Backend Test Coverage"
## Background

Currently, we have 100% test coverage of our backend code. However, for many backend code files, this coverage is partly from the file's associated test files and partly from test files for other backend code. For example, consider the following files:

* `util.py`

[code]

* `util_test.py`: Tests for `parse_int()`

* `main.py`

[code]

* `main_test.py`: Tests for `main()`

Here we

[2021-11-10 14:03] vojtechjelinek commented on #10616
I think false is better, also it seems to be used in the [default config ](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/member-delimiter-style.md#options). I think we can just use the default config.

[2021-11-10 14:20] vojtechjelinek commented on #14202
Hmm, looking at the output I don't see any error so I'm confused why is it failing to start. @gp201 Any idea? cc @aks681 since he has experience with WSL.

One possibility might be to try the other approaches for Windows https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%3B-Python-3%29

[2021-11-10 14:25] aks681 commented on #14202
Hey, just to get this out of the way, you need to run `python -m scripts.start --no_browser` in WSL. Can you try that and see if that works?
If not, it might be require a bit more of a deep dive into the error logs.
(In case it doesn't work at once, try 'scripts.clean' and reinstall everything again with the above mentioned browser flag)

[2021-11-10 15:48] namangirdhar16 commented on #14202
@vojtechjelinek @aks681 finally it ran after the command `python -m scripts.start --no_browser`, Thank You! i was just about to give up after doing the same thing multiple times😅.
![image](https://user-images.githubusercontent.com/64246118/141145543-f3d9bbb9-4fe0-40db-9f56-8aedcfea9e0b.png)

[2021-11-10 15:54] vojtechjelinek commented on #14202
@aks681 Do you think it would be possible to detect WSL in the start script so that we force the `--no_browser` or at least show an error?

[2021-11-10 16:11] aks681 commented on #14202
@namangirdhar16 Great, no problem!

@vojtechjelinek I had somewhat looked into this a while back. The problem is the line we currently use to identify the OS returns the same value on native Ubuntu and on WSL Ubuntu (which kind of makes sense). Hence, this flag was created to skip over the line that auto opens the server in the browser. It should be possible to have some other check to know when i

[2021-11-10 17:41] vojtechjelinek commented on #14202
Yep, it seems that the kernel is a good place to look. https://www.scivision.dev/python-detect-wsl/

Would you be able to take a look into implementing it? Or @namangirdhar16 might want to give it a try.

[2021-11-10 18:11] namangirdhar16 commented on #14202
@vojtechjelinek yeah i'd like to give it a try, just brief me a little more about what needs to be done here.

[2021-11-10 20:04] EeshaArif opened #14225 "[Student User Journeys] Console errors when pressing 'play later' on an exploration already added to play later."
**Describe the bug**
Console errors shown when pressing the 'play later' button when the exploration is already added to be played later.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library
 2. Hover over any exploration and click 'play later' icon at the top right
 3. That exploration will be added to 'play later' list.
 4. Press that button/icon again
 5. See the console errors

[2021-11-10 20:54] vojtechjelinek commented on #14202
In the code below we pick whether we should start some browser or not depending on the system
https://github.com/oppia/oppia/blob/141698b3b23daf199440d58b6c303efbea7388cb/scripts/servers.py#L337-L342
you can see there is already an exception for virtual box (`VBOX`). You will need to add an similar exception for WSL. Using the code here https://www.scivision.dev/python-detect-wsl/ you can detect w

[2021-11-10 21:07] banglajisu opened #14226 "[CD] Not able to view some translations in Bangla"
**Describe the bug**
On the review panel, I cannot view some of the translations.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard
 2. Click "review translations"
 3. View all the translations there

**Observed behavior**
I cannot view some of the translations I wrote using my another account.
They start with "Reject this is a test"

**Expected behavior**
I should

[2021-11-11 02:36] kevintab95 commented on #14083
Fixed by https://github.com/oppia/oppia/pull/14178. Closing.

[2021-11-11 02:36] #14083 closed, assigned to kevintab95

[2021-11-11 02:41] seanlip commented on #14215
Assigning to the LaCE quality team.

[2021-11-11 02:44] kevintab95 commented on #14059
Hi @sagangwee, yes that does seem like the solution. However, I do not have time to work on it. Thanks!

[2021-11-11 03:52] namangirdhar16 commented on #14202
@vojtechjelinek i'll will surely give it a try. Thanks!!. You can assign it to me.

[2021-11-11 07:06] namangirdhar16 commented on #14202
@vojtechjelinek @aks681 when i try running `google-chrome` command in RDP client, i get this error:

[code]

Please help if you have any idea what's the problem here.

[2021-11-11 14:41] sahiljoster32 opened #14227 "(November QA testing) Getting console error when submitting already existed thumbnail."
**Describe the bug**
when submitting already existed thumbail in any particular topic, console error showed up.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and skills dashboard.
 2. Click on any topic.
 3. Scroll down to thumbnail and click on `add thumbnail` without changing previous thumbnail.
 4. See error in console.

**Observed behavior**
console errors showed up.

**E

[2021-11-11 14:59] sahiljoster32 opened #14228 "(November QA testing) Getting console errors when filtering using classroom field."
**Describe the bug**
console errors showed up, when filtering skills using search options on the topics and skills dashboard's classroom field.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and skills dashboard.
 2. Click on SKILLS.
 3. Go to filter section and filter using classroom.
 4. See error in console.

**Observed behavior**
console errors are popping up with each cha

[2021-11-11 15:04] vojtechjelinek commented on #14033
@ClementBLV I think it is fine to go with `Dict[str, Any]` in this specific case.

[2021-11-11 17:18] mridul-netizen opened #14229 "Playing a story throws some console errors"
**Describe the bug**
Playing a story throws some console errors + Images aren't showing up

**To Reproduce**
Steps to reproduce the behavior:
 1. Go [here](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?topic_url_fragment=fractions&classroom_url_fragment=math&story_url_fragment=piece-of-cake&node_id=node_1)
 2. See Console errors

**Observed behavior**

https://user-images.githubusercont

[2021-11-11 20:32] sagangwee opened #14230 "[CD] "Exploration content changed" reviewer note shows content has changed on no visible changes"
This is occurring for all Addition and Subtraction cards and seems to due to discrepancies in hidden text elements:

Content showing on the top:
[code]

Content showing on the bottom:

[code]
Notice the additional newline (between the p's) and the change of `&nbsp;` to a space.

[2021-11-11 20:41] murraytay commented on #14209
Looks like this issue could replace this one: https://github.com/oppia/oppia/issues/13799

[2021-11-11 21:50] sagangwee commented on #14230
e.g.
![exploration-content-changed-bug](https://user-images.githubusercontent.com/9004726/141373926-63a94020-c4cf-4c04-9ec0-ca85548dbca3.png)

[2021-11-11 22:06] Rijuta-s opened #14231 "Add back exploration-footer.ts and .spec.ts to strict checks."
In PR #14224, exploration-footer.ts and exploration-footer.spec.ts file are removed from strict checks as importing question-player-state-service to exploration-footer-service led to many typescript checks failure in multiple files.

All the typescript failures should be fixed and exploration-footer.spec.ts and exploration-footer.ts should be added back to strict checks.

[2021-11-11 23:14] murraytay commented on #13567
Can this be assigned to me?

[2021-11-11 23:15] murraytay commented on #13737
@kevintab95 Can this be assigned to me?

[2021-11-12 01:33] jimbyo commented on #14189
In release 3.2.1, this error still persist

[2021-11-12 01:58] murraytay commented on #13567
@om-khandade Do you want this to persist across explorations? Meaning if I play the audio, enabling autoplay, and then I go to another exploration, should that autoplay as well?

[2021-11-12 02:27] murraytay commented on #13567
Also, do you want this to work for the machine-generated audio or just the audio that you can toggle/pause/go back and forward 5 seconds?

[2021-11-12 05:41] chris7716 commented on #14189
@jimbyo I tried this in the latest develop branch and it works. Could you please share a video or any console errors? — apologies for rather an un-clear video!

/cc @seanlip @vojtechjelinek

https://user-images.githubusercontent.com/41409951/141415848-bd403991-a93e-449b-b6c3-2225110e29a2.mp4

[2021-11-12 05:46] Shreyansh-Rai commented on #14173
Thanks !

[2021-11-12 05:46] #14173 closed, assigned to nobody

[2021-11-12 06:09] seanlip commented on #14189
Assigning @jimbyo for confirmation.

[2021-11-12 08:52] vojtechjelinek commented on #14225
@srijanreddy98 Any idea whether this might have been caused by Angular migration.

[2021-11-12 08:56] jimbyo commented on #14189
@chris7716 /cc @vojtechjelinek @seanlip

Video below: I'm doing the testing on https://oppiatestserver.appspot.com/contributor-dashboard

https://user-images.githubusercontent.com/35385366/141439197-233d950b-f6bd-4905-82c9-e6c8c16ff1d7.mov

I'm guessing the PR to fix it might not have made it into release build. @vojtechjelinek To confirm thanks!

[2021-11-12 08:57] vojtechjelinek commented on #14227
@aks681 @kevintab95 PTAL

[2021-11-12 08:57] vojtechjelinek commented on #14228
@aks681 @kevintab95 PTAL

[2021-11-12 08:57] vojtechjelinek commented on #14229
@aks681 @kevintab95 PTAL

[2021-11-12 08:59] vojtechjelinek commented on #14189
#14194 has to be cherry-picked into the release branch to fix this.

[2021-11-12 09:17] jimbyo opened #14234 "Unable to accept/reject a suggestions during reviews."
**Describe the bug**

Attempting to reject or accept a new suggestion crashes the review modal and raises a console error.

**To Reproduce**
Steps to reproduce the behavior:
 1. submit a translation suggestion
 2. Go to Review Translations
 3. Click on a card and attempt to accept or reject it
 4. See error

**Observed behavior**
When I try to accept/reject a translation suggestion and there are n

[2021-11-12 10:15] srijanreddy98 commented on #14225
Looks highly probable from the error message.

[2021-11-12 10:43] jimbyo opened #14235 "Unable to submit image region question"
**Describe the bug**
Can't create image region question suggestion.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to submit question tab
 2. Click on a card
 3. Select image region
 4. upload image or draw an image
 5. Click use this image
 6. See console error

**Screenshots**
<img width="1277" alt="Screen Shot 2021-11-12 at 2 37 35 AM" src="https://user-images.githubusercontent.com/3

[2021-11-12 12:09] #10315 closed, assigned to Rijuta-s

[2021-11-12 13:36] Rijuta-s commented on #14200
Fixed in #14233.

[2021-11-12 13:36] #14200 closed, assigned to krishita30j, Rijuta-s

[2021-11-12 19:05] sagangwee commented on #14150
Ji Su will be following up with the Bangla contributors for more info.

[2021-11-12 19:05] Rijuta-s opened #14237 "Unable to load images while playing Fraction lessons"
**Describe the bug**
Images do not load while playing chapters in fraction lesson

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/learn/math'
 2. Select 'Fractions' lesson
 3. Select 'what is a fraction' chapter from lessons tab.
 4. See error

**Observed behavior**
![Screenshot from 2021-11-13 00-33-03](https://user-images.githubusercontent.com/68

[2021-11-12 19:10] sagangwee commented on #13917
Fixed in https://github.com/oppia/oppia/pull/14097. Progress was 0% for many opportunities because opportunities were not being displayed (https://github.com/oppia/oppia/issues/14004).

[2021-11-12 19:10] #13917 closed, assigned to jimbyo

[2021-11-12 19:26] sagangwee commented on #11434
@sophiewu6 Any update on this?

[2021-11-12 19:31] sagangwee opened #14238 "[CD] All Hindi translations shows "submitted by" from only 1 user"
![revati](https://user-images.githubusercontent.com/9004726/141524295-62763e6c-71f8-4ba5-8737-c145a2bea869.png)

[2021-11-12 19:39] Ukd1796 commented on #14078
Yes , the same happens for me as well. Everytime I run the sever I face the same error:

 Servers are shutting down, please wait for them to end gracefully!

INFO     2021-11-12 19:33:25,102 dispatcher.py:267] Starting module "default" running at: http://0.0.0.0:8181
INFO     2021-11-12 19:33:25,104 admin_server.py:150] Starting admin server at: http://0.0.0.0:8000
INFO     2021-11-12 19:33:26,104

[2021-11-12 20:08] aks681 commented on #12858
Hi @siebrand,

(4), (5) - Thanks for catching this! I had missed it in my earlier translation PR, I'm working on those now.

(6) - 'Oppia' is the image of the logo, and hence not translated, however I do see learner dashboard translated:
![image](https://user-images.githubusercontent.com/22347970/141527798-df8d1864-9499-4bba-ada1-adc8c10b6ee4.png)
Although, I also notice that the translations are

[2021-11-12 20:32] U8NWXD opened #14239 "Backend tests print lots of "[datastore]" lines"
The backend tests print lots of lines that just contain `[datastore]`. This is annoying and makes it more difficult to view the logs from the test run.

[2021-11-12 20:40] sagangwee opened #14240 "[CD] Filter translation suggestion by topic in reviewer view"

[2021-11-12 20:53] jimbyo commented on #14234
I confirmed in release 3.2.0 there is no issue.

Note: In 3.2.0 when there are no additional suggestions to review the buttons change from 'Reject and review next' to just 'review'

But in 3.2.1 it is stuck on 'Reject and review next'
<img width="725" alt="Screen Shot 2021-11-12 at 12 50 02 PM" src="https://user-images.githubusercontent.com/35385366/141532966-231d5331-4b0f-44bb-8bdd-29a3e4a3a978.p

[2021-11-12 22:04] hortenseS commented on #14033
Hi @vojtechjelinek , @sajalasati !

I have a question concerning an annotation for the platform_parameter_domain.py file (https://github.com/oppia/oppia/blob/develop/core/domain/platform_parameter_domain.py ).

I am working on mypy typing but I am getting some trouble with a function that appeared to be recursive: . I am not sure if mypy can handle recursive function properly.
<img width="775" alt

[2021-11-12 22:21] ClementBLV commented on #14033
Hi  @vojtechjelinek , @sajalasati,

I have a question concerning an annotation for the platform_parameter_domain.py file (https://github.com/oppia/oppia/blob/develop/core/domain/platform_parameter_domain.py ).

I am getting some trouble with the typing of Enum, here I have this method that should return an Enum.
![image](https://user-images.githubusercontent.com/88928058/141540481-36ff101c-0264-41

[2021-11-13 06:01] #13813 closed, assigned to aks681

[2021-11-13 08:31] anurag629 commented on #13956
Hey! @vojtechjelinek  assign me python_utils.ZIP

[2021-11-13 10:24] anubhutiv commented on #14230
@sagangwee @seanlip - This seems very odd that for all reviewer notes, the content is exactly the same visibly. There is no change. I am not stopping the review process but its very strange.

[2021-11-13 15:03] vojtechjelinek commented on #13956
@anurag629 Done.

[2021-11-13 15:08] vojtechjelinek commented on #14033
I think the `Mapping` is wrong as the value of field with key `'filters'` should be `List[Dict[…]]` or `List[SomeTypedDict]]`. Also, use more descriptive naming for the `TypedDict` and use the class installation of `TypedDict`, so in your case:
[code]

Also, you don't seem to be assigned to that file, so not sure why are you working on it.

[2021-11-13 15:16] vojtechjelinek commented on #14033
You might need to create the enum like this
![image](https://user-images.githubusercontent.com/10142938/141649106-d4bd5a8b-30de-4471-8f75-ede57cca6535.png)

and then the function will have `SERVER_MODES` return type.

[2021-11-13 23:13] yhelen commented on #13162
@vojtechjelinek  Can I be assigned to `UserSubmittedSuggestionsHandler` ?

[2021-11-14 04:15] ashish-patwal commented on #13764
hey @EricZLou , i am trying to push my changes to my fork , but after passing lint checks and frontend validation checks , it is not not actually pushing the code . I tried to locate my pushed branch in my fork but it's not there . here's an ss :

![ss](https://files.gitter.im/561f4f4416b6c7089cb70f23/bAxO/2021.11.13-23.39.28.screenshot.png)

Also you can at the right bottom bar that the git push

[2021-11-14 04:42] AmanJolly16 commented on #13956
@vojtechjelinek  @YBCS, I was looking at python_utils.url_request. As we always want to use Python3, would removing the Python2 import, do the job?
If yes, then please assign me!
Also, can you assign me python_utils.divide too?

[2021-11-14 05:46] EricZLou commented on #13764
@ashish-patwal can you tell me the outputs of:

git branch
git remote -v

[2021-11-14 05:53] ashish-patwal commented on #13764
![2021 11 14-11 19 28 screenshot](https://user-images.githubusercontent.com/63491234/141669396-6f805f33-527e-4956-ac75-2be4c9e6ad3f.png)
 @EricZLou Its all fine . I did check it before . It's just that code is not being pushed after passing checks and tests validation .

[2021-11-14 06:02] EricZLou commented on #13764
@ashish-patwal hmmm I see -- does your terminal give any more descriptive errors other than PIPE error? In the meantime, since you have confirmed that your tests are all passing locally, you can use `git push --no-verify` to get around Oppia's git hook. Let me know if that works.

[2021-11-14 06:05] ashish-patwal commented on #13764
@EricZLou it worked !! Don't know if the problem persists only on my system or it's some bug / error .

[2021-11-14 17:25] vojtechjelinek commented on #14234
@sagangwee PTAL

[2021-11-14 17:26] vojtechjelinek commented on #14235
@sagangwee PTAL

[2021-11-14 17:28] vojtechjelinek commented on #14237
@aks681 @kevintab95 PTAL

[2021-11-14 18:19] Nik-09 commented on #13162
@yhelen Done.

[2021-11-14 19:00] seanlip commented on #14215
Hi @Rijuta-s, @intaschi -- just to confirm, is this fixed now? I know @Rijuta-s has been working on a similar issue recently (relating to whitespace being collapsed erroneously) and wanted to check if that fixed this -- if so, we can close it.

Thanks!

[2021-11-14 19:05] intaschi commented on #14215
@seanlip It seems to be fixed for me! Thanks :)

[2021-11-14 20:48] #14126 closed, assigned to kalkas98

[2021-11-14 20:51] vojtechjelinek commented on #13956
@AmanJolly16  Please look at the other PRs for this issue and read the description to see what exactly needs to be done.

[2021-11-14 21:13] seanlip commented on #14215
That's great, thanks @intaschi! And thanks a lot @Rijuta-s for making the fix :-)

[2021-11-14 21:13] #14215 closed, assigned to intaschi, Rijuta-s

[2021-11-15 05:42] murraytay commented on #13162
Hello @Nik-09 I'd like to be assigned to these handlers:

SuggestionToExplorationActionHandler
SuggestionToSkillActionHandler
SuggestionsProviderHandler

However, I am struggling with calling these from the frontend on dev. It seems like there are no suggestions. How do I enable them?

[2021-11-15 06:43] Nik-09 commented on #13162
Thank you @murraytay for raising this issue, you can follow these general steps for hitting handlers from frontend --
1. Find the handler class name in main.py file.
2. Copy the url mapped with the corresponding handler class.
3. Do a global search for that url in the codebase.
4. Find its usage in frontend files (*.ts) and you will get an approximate idea.

Also ask for help from any mentor or co

[2021-11-15 06:44] Nik-09 commented on #13162
@murraytay Done.

[2021-11-15 07:43] krishita30j opened #14253 "Pencil Code editor not working properly"
**Describe the bug**
If there are 2 questions that use pencil code editor consecutively, the user is unable to edit in the pencil code editor for the second question. The submit button also disappears.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Test of all interactions](https://www.oppiatestserver.org/explore/16).
 2. Play the exploration till you reach the questions using the p

[2021-11-15 08:54] kevintab95 commented on #14227
@EricZLou could you look at this please since it appears to be validation related. Thanks!

[2021-11-15 11:41] vojtechjelinek commented on #14078
What OS and other setup (like WSL) are you using?

Also, can you try to remove _../oppia_tools_ folder and then run start again?

[2021-11-15 11:46] vojtechjelinek commented on #14225
@srijanreddy98 Will you be able to look into this or assign this to someone?

[2021-11-15 21:16] Showtim3 opened #14255 "Need to add spacing at the bottom of the story editor."
Need a bit of spacing at the bottom of the story editor.
![image](https://user-images.githubusercontent.com/30312043/141854936-b15e5e59-1f37-458c-85a1-757296ae4037.png)

Go to Topics dashboard, select a topic, add a story.

[2021-11-16 01:06] fishfree opened #14256 "SyntaxError: future feature annotations is not defined when run python -m scripts.start in the docker container"
I follow the tutorial [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%3B-Python-3%29#running-oppia-on-a-development-server), but when login into the container and run `python -m scripts.start`, the error below occured:
[code]
Then I tried `python3 -m scripts.start`, the error below occured:
[code]

[2021-11-16 01:35] vojtechjelinek commented on #14255
@Showtim3 Not sure what you mean by this? Should there be padding at the bottom below the "Expand Preview"?

[2021-11-16 04:40] davisong commented on #14078
Also having this issue with Windows 10 and WSL2, currently running Ubuntu 20.04 as well. Have tried the remove ../oppia_tools fix which hasn't worked for me.

===UPDATE===
I managed to get the server running locally by running `python -m scripts.start --no_browser` and following steps 4-7 from the Windows Installation walkthrough. Not completely sure what the actual fix was though. Pasted the outp

[2021-11-16 04:50] paprajapati9 commented on #14237
It's a CORS error
![image](https://user-images.githubusercontent.com/42764756/141923046-d4a70996-e569-4067-bbf0-8a625dfc4105.png)

[2021-11-16 05:11] nadintamer commented on #8015
Hi @kevintab95! Can I please be assigned `core/templates/domain/question/question-backend-api.service.ts`? Thanks!

[2021-11-16 08:52] EricZLou commented on #14227
Sure -- I can fix this.

[2021-11-16 09:11] ClementBLV commented on #14033
Hi thank you for your help @vojtechjelinek ,
We have done what you said, but it still generates an error.
We let SERVER_MODE writen like that
![image](https://user-images.githubusercontent.com/88928058/141954965-e229df45-6d08-4471-90a1-afa1df080697.png)
We have created an new class like you have told us
![image](https://user-images.githubusercontent.com/88928058/141955006-7521c505-9402-473a-8308-7

[2021-11-16 10:39] vojtechjelinek commented on #14033
This is wrong, you need to remove the `SERVER_MODES = python_utils.řeate_enum(…)` and replace it with:
[code]

and the use the `SERVER_MODES` as a type

[2021-11-16 10:44] vojtechjelinek commented on #14078
Interesting, @Ukd1796 can you try what @davisong  suggested?

[2021-11-16 11:04] ClementBLV commented on #14033
Like you said @vojtechjelinek  we added the class SERVER_MODES, but there is still the same error with the method get. But we don't understand how mypy understands that SERVER_MODES is a dictionary because Enum is never defined as a dictionary. Maybe we should import a method get from enum ?

Thanks
Here the error :
`core/domain/platform_parameter_domain.py:195: error: "SERVER_MODES" has no attrib

[2021-11-16 13:04] ashish-patwal commented on #13956
@vojtechjelinek i would love to work on python_utils.open_file .

[2021-11-16 13:06] ashish-patwal commented on #11496
@U8NWXD i would love to work on `Do not use browser.switchTo().activeElement(). There might be some exceptions.`

[2021-11-16 15:44] vojtechjelinek commented on #11314
@seanlip Hi, I think this can be closed. Point 7 is not done but I think last time we discussed it we decided that we don't want to do any changes rn as it seems to work. I took a quick look at the code in _elastic_search_services_test.py_ and I don't think there is anything that needs to be changed.

[2021-11-16 16:06] AbhayTrivedi commented on #14202
Hey @vojtechjelinek, I was trying to  `python -m scripts.start --no_browser` (python version 3.7.5), but unfortunately, I ran into some error.. can you help me out with the same?

[code]

This same error kept on coming

my python versions are as follows:-
<img width="284" alt="python versions" src="https://user-images.githubusercontent.com/63183752/142147938-bea62965-fc6a-4f94-af02-af25a67ae7e7.pn

[2021-11-16 16:15] seanlip commented on #11314
SGTM. Thanks @vojtechjelinek and thanks @kingjuno for fixing the last part of this issue!

[2021-11-16 16:15] #11314 closed, assigned to seanlip

[2021-11-16 18:48] Ukd1796 commented on #14078
Yes @vojtechjelinek  this no-browser method does worked for me as well !!

[2021-11-16 19:17] Lawful2002 opened #14259 "Donate item dropdown on top navbar doesn't fit properly"
**Describe the bug**
Donate item dropdown on top navbar doesn't fit properly (tested width: 1920px)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to localhost:8181
 2. Hover on Donate Item on top navbar
 3. See error

**Observed behavior**
Donate item dropdown on top navbar doesn't fit properly

**Expected behavior**
Donate item dropdown on top navbar fits properly

**Screenshots**
If

[2021-11-16 20:32] davisong commented on #14033
@vojtechjelinek
@sajalasati

Hi, I'd like to contribute to this task as well. Are there any issues left over that need to be tackled? If anyone else would like some additional help on their tasks as well, I'd love to help out!

[2021-11-16 20:41] davisong commented on #8038
@DubeySandeep
@vojtechjelinek
@nishantwrp

Hi, I'd like to work on core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts please assign me this task.

[2021-11-16 22:37] sagangwee opened #14260 "ModuleNotFoundError: No module named 'google.protobuf' when running backend tests"
I'm running into the following error when trying to run a backend test:

[code]

The command I'm running is `python -m scripts.run_backend_tests --test_target=core.controllers.suggestion_test`.

I'm running Mac OS with pyenv.

`~/Users/sagangwee/.pyenv/versions/oppia/lib/python3.7/site-packages/google/protobuf` exists and protobuf is installed in the environment. I've tried running `scripts.clean`

[2021-11-16 22:51] seanlip commented on #14260
@vojtechjelinek @DubeySandeep @anandwana001 do you have any ideas on this (or know anyone who would)? @sagangwee is blocked on a bunch of contributor dashboard issues because he can't get Oppia set up locally.

[2021-11-16 22:58] Funmikee opened #14261 "Voiceover should read out the multiple-choice answers after the question"
The student was struggling with knowing which one was the answer from the list of the multiple-choice answers.

I try to read the options against the question. Instead of just leaving him to figure out the answer, I was simultaneously asking if each of the answers are correct or not. He eventually got the answer after my second reading.

The voiceover should read out the multiple-choice after the

[2021-11-16 23:04] sagangwee opened #14262 "[CD] Bangla reviewers not able to see some submitted translations"
Occurring in prod.

One of the affected translations:
Addition and Subtraction/Maya, Omar and Malik make a pizza/ Basics of Addition.
Content: "Continue
Translation: "Testing please reject..."

[2021-11-16 23:34] anandwana001 commented on #14260
<img width="210" alt="Screenshot 2021-11-17 at 05 02 36" src="https://user-images.githubusercontent.com/25057618/142082849-8db73e45-32b4-4b79-8587-98374b3b7115.png">
Could you check if this exists or not?

Earlier when I got the similar error, I simply deleted the `buf-0.29.0` named folder inside oppia-tools and it run the start script which fix it for me.

[2021-11-17 00:14] U8NWXD commented on #11496
@ashish-patwal done

[2021-11-17 06:56] paprajapati9 commented on #10474
@vojtechjelinek Can you please assign `core/templates/domain/question/QuestionObjectFactory.ts` to me. I am fixing it as part of issue #14231

[2021-11-17 11:27] Lawful2002 commented on #14259
Cannot be reproduced on other systems

[2021-11-17 11:27] #14259 closed, assigned to nobody

[2021-11-17 13:34] chris7716 opened #14265 "[Contributor Dashboard] Translation language selector not showing correct language selected"
**Describe the bug**
Selected language is not correctly viewed. For more see the video attached.

**Screenshots**

https://user-images.githubusercontent.com/41409951/142210310-0eea1315-e692-4042-99e9-160e07195456.mov

[2021-11-17 17:36] chris7716 opened #14267 "[Contributor Dashboard] Incorrect values in translation progress bar"
**Describe the bug**
`in review cards` / `total cards` in the translation progress bar tooltip shows an incorrect value.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/contributor-dashboard
 2. Click on 'Translate Text'
 3. Select Hinglish Language
 4. Scroll untill the opportunity in the following screenshot is found
 5. Hover on the light green part on the pro

[2021-11-17 17:38] chris7716 commented on #14267
@sagangwee I was not able to reproduce this on the latest develop branch.

cc/ @seanlip

[2021-11-17 18:22] AbhayTrivedi commented on #13162
Hey @Nik-09 @vojtechjelinek can you please assign me `SubtopicViewerPage`, `SubtopicPageDataHandler`, `ResubmitSuggestionHandler`

Thanks!

[2021-11-17 18:22] sagangwee commented on #14234
@jimbyo What do you mean by "But in 3.2.1 it is stuck on 'Reject and review next'"? What is the screenshot supposed to be showing?

[2021-11-17 18:26] sagangwee commented on #14267
Hmmm were suggestions rejected? This seems fine now:
<img width="1672" alt="Screen Shot 2021-11-17 at 1 25 31 PM" src="https://user-images.githubusercontent.com/9004726/142260143-fb753f90-1800-45f9-9c8c-2c1dcea6eddf.png">

[2021-11-17 18:28] sagangwee commented on #14235
@kevintab95 Can you take a look at this? This seems like an issue with the question editor.

[2021-11-17 18:36] vojtechjelinek commented on #14033
Wait from what I see it doesn't seem that `server_context_dict` should be an enum, it is and dictionary that contains `'server_mode'` key and the value for that key is one of `SERVER_MODES`

[2021-11-17 18:36] vojtechjelinek commented on #14033
@davisong Hey, currently, all files are assigned.

[2021-11-17 18:57] AbhayTrivedi commented on #11496
Hey @U8NWXD, can I work on the following issue?

`Make sure to have nested awaits for await (await browser.switchTo().activeElement()).sendKeys(explanation);. There should be no exceptions to this.`

[2021-11-17 19:09] chris7716 commented on #14267
It's not all the cards. This bug seems to be visible particularly in the opportunity shown in the screenshot I attached. I tried rejecting translation suggestions but still the progress is shown correctly when I tested in the latest develop branch.

[2021-11-17 20:36] jimbyo commented on #14234
@sagangwee So there are two cases when viewing suggestions.

Case 1: There are additional suggestions to review

In that case the buttons on the bottom of the review modal should display 'reject and review next' and 'accept and review next'

Case 2: There are no additional suggestions to review

In that case the buttons on the bottom should display 'reject' and 'accept'

However in the current rel

[2021-11-17 21:29] kevintab95 commented on #14235
Confirming that this issue is question related. It seems like the image context (which determines the location where the image gets stored) is not being set correctly.

[2021-11-17 21:31] kevintab95 commented on #14024
Should be fixed by https://github.com/oppia/oppia/pull/14263. Thanks @srijanreddy98!

[2021-11-17 21:59] kevintab95 commented on #14237
Yup, @paprajapati9 it does look like a CORS issue. This might be related to a bucket misconfiguration as mentioned here (https://github.com/oppia/oppia/issues/13631#issuecomment-898830194) -- @seanlip could you take a look please?

Also, @vojtechjelinek, @nithusha21 since this issue has occured a couple of times already, can we put some checks in place (in the release process) to ensure that the b

[2021-11-17 22:03] kevintab95 commented on #14229
Looks like a CORS issue:

![image](https://user-images.githubusercontent.com/11008603/142289525-524c6327-9cb2-453b-9fc3-21f8e9a996f4.png)

Looks like a duplicate of https://github.com/oppia/oppia/issues/14237 (see https://github.com/oppia/oppia/issues/14237#issuecomment-972115262).

[2021-11-17 22:05] kevintab95 commented on #14229
Closing for now since it is already being tracked by #14237. Please feel free to reopen if there is a mistake. Thanks!

[2021-11-17 22:05] #14229 closed, assigned to kevintab95, aks681

[2021-11-17 23:40] kevintab95 commented on #14253
I looked into this. It appears to be a change detection issue that is resulting in the input "displayedCard" to the `supplemental-card` component not getting updated as expected.

Edit: I have fixed this in #14270.

[2021-11-17 23:45] kevintab95 commented on #14253
Note that this issue was not specific to Pencil code interaction but happened for any interaction that required a "supplemental card" layout used in a sequence.

[2021-11-17 23:52] kevintab95 commented on #14235
@Rijuta-s, @krishita30j do you guys think you could look into this since you are working on practice questions?

[2021-11-18 00:18] kevintab95 opened #14271 "[Backend test flake] test_tasks_scheduled_for_immediate_execution_are_handled_correctly"
There seems to be a backend test flake on develop. See https://github.com/oppia/oppia/runs/4245179890?check_suite_focus=true.

[code]

[2021-11-18 00:18] kevintab95 commented on #14271
/cc @oppia/core-maintainers

[2021-11-18 00:21] anthonyqzhu commented on #13162
Hi @Nik-09 could you please assign me to
`ReviewableSuggestionsHandler`,
`SuggestionListHandler`, and
`FlagExplorationEmailHandler`?

Thanks

[2021-11-18 02:32] seanlip commented on #14237
What happens when you go to oppiatestserver.org? I think the domain name needs to match the storage bucket config, so maybe we should remove all instances of the appspot server address in the codebase and wiki instructions.

EDIT: Wait -- before that, let me see whether I can allow both origins.

[2021-11-18 02:36] seanlip commented on #14237
OK, found that I could! https://cloud.google.com/storage/docs/configuring-cors

I'll fix it later on but don't bother about this bug. Sorry for the trouble.

[2021-11-18 05:05] anubhutiv opened #14272 "[Contributor Dashboard] All translations are shown submitted by a single volunteer"
**Describe the bug**
As a reviewer I see that all hindi translations show submitted by a single volunteer - revati

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Contributor Dashboard' -> Review translations
 2. Click on 'any card'
 3. Look at the "Submitted by ABC in Hindi language"
 4. ABC is always revati

**Observed behavior**
We are not seeing which card was submitted by whom,

[2021-11-18 07:06] seanlip commented on #14237
This should now be fixed! (Please let me know if you find that it isn't on your end, but it seems to be working for me now.)

[2021-11-18 07:06] #14237 closed, assigned to seanlip

[2021-11-18 07:58] JeeveshGarg commented on #10798
Hi, @U8NWXD , is their any file that to be fix, if yes please assign to me.
Thanks.

[2021-11-18 08:02] JeeveshGarg commented on #13956
Hi, @vojtechjelinek is their any file left to be work on. if yes, please assign to me.
Thanks.

[2021-11-18 10:07] UTKARSHSHARMA718 commented on #13974
hey @vojtechjelinek! can I work on this issue, I am new to the open-source and looking to contribute.

[2021-11-18 13:11] vojtechjelinek commented on #13956
@ashish-patwal Done.

@JeeveshGarg Done.

[2021-11-18 14:48] nithinrdy commented on #11761
@sagangwee Sorry for tagging you, but I have noticed that you have participated in this issue thread.
Is it possible for you to take a look at the video above to confirm that the behaviour shown in the video is right?
It appears ARKEOLOGIST is busy as they haven't been able to respond for some time.

[2021-11-18 15:31] Nik-09 commented on #13162
@anthonyqzhu, @AbhayTrivedi Done.

[2021-11-18 17:01] khareyash05 opened #14276 "[Feature]add loading screen for the website"
I would like to add a loading screen for the website.

[2021-11-18 17:05] khareyash05 opened #14277 "[Bug] Oppia name not visible when on mobile version in the navbar"
Oppia name isnt visible in the navbar  when on mobile version. I believe the organization's name should be visible at all times
![image](https://user-images.githubusercontent.com/60147732/142462424-1b27eb98-5bf7-44e0-9c81-89f7d0e309f6.png)

[2021-11-18 17:16] sagangwee commented on #14272
Duplicate of https://github.com/oppia/oppia/issues/14272

[2021-11-18 17:16] #14272 closed, assigned to nobody

[2021-11-18 17:42] sagangwee commented on #14260
I tried deleting both the `buf-0.29.0` and `protobuf-3.13.0` folders in oppia-tools and neither worked. I've also tried running `scripts.clean` before as well which should have deleted the entire oppia-tools folder.

[2021-11-18 17:45] sagangwee commented on #14262
Contributors are able to see their own submitted translations, but reviewers are not in some cases.

[2021-11-18 17:46] sagangwee commented on #14262
The particular submitted translation mentioned in #1 exists in the datastore with status "review"

[2021-11-18 18:05] U8NWXD commented on #10798
Sorry @JeeveshGarg, all the tasks here have been finished

[2021-11-18 18:05] #10798 closed, assigned to nobody

[2021-11-18 18:09] vojtechjelinek commented on #14260
No idea, removing oppia_tools usually helps in these kinds of situations.

[2021-11-18 18:36] vojtechjelinek commented on #14202
@gp201 Can someone from the welfare team help here?

[2021-11-18 18:52] vojtechjelinek commented on #14078
This is already being handled in #14202

[2021-11-18 18:52] #14078 closed, assigned to nobody

[2021-11-18 18:52] U8NWXD commented on #14189
I'm closing this since the PR to fix it has been merged. We'll confirm that this is fixed as part of release QA testing once we cherry-pick #14194 into the release branch

[2021-11-18 18:52] #14189 closed, assigned to vojtechjelinek, chris7716

[2021-11-18 19:39] sagangwee commented on #14234
@jimbyo I see, so reviewers are still able to reject/accept in case 2, it's just that the button text is incorrect? If so, this issue doesn't seem to be release blocking.

[2021-11-18 20:30] jimbyo commented on #14234
@sagangwee it raises a error as seen in the video

[2021-11-18 20:31] seanlip opened #14280 "Blog dashboard e2e error: "Cannot read property 'getDirection' of undefined""
**Describe the bug**

[This error](https://github.com/oppia/oppia/runs/4229555604?check_suite_focus=true#step:14:127) occurred in the e2e test "should create multiple blog posts both published and drafts and check for navigation through list view". Even if it's a flake, we should fix it.

[code]

Here is a reference that might be useful: https://stackoverflow.com/questions/30577348/cannot-read-pro

[2021-11-18 20:32] seanlip commented on #14280
@Rijuta-s Assigning this to you since it relates to the blog dashboard!

[2021-11-18 20:41] davisong commented on #13162
Hi, could I be assigned to:
 EditableStoryDataHandler
 ValidateExplorationsHandler
 SkillMasteryDataHandler

@U8NWXD @Nik-09

[2021-11-18 20:48] seanlip commented on #14235
Reassigning to @chris7716. (Rijuta and Krishita are away this week.)

[2021-11-18 20:58] murraytay commented on #13162
@Nik-09 Thank you for that recommendation. Unfortunately I'm still having trouble, possibly because it may no longer be possible to call the suggestion to exploration handler (as is indicated in this PR https://github.com/oppia/oppia/pull/12096)

[2021-11-18 20:59] #14103 closed, assigned to PranshuSrivastava

[2021-11-18 22:30] sagangwee commented on #14260
Hmm ok thanks I will try deleting the oppia_tools folder manually one more time.

[2021-11-18 22:59] sagangwee commented on #14260
Reinstalling oppia_tools didn't work.

It's strange because I definitely have `protobuf` installed in my virtual environment:
<img width="797" alt="Screen Shot 2021-11-18 at 2 57 42 PM" src="https://user-images.githubusercontent.com/9004726/142510186-348f2a21-116f-4ba3-8c14-4a3c9c9d66d8.png">

[2021-11-19 02:05] seanlip opened #14282 "Error when running backend tests: "ImportError: cannot import name 'datastore' from 'google.cloud'""
**Describe the bug**
When running a single backend test locally on my machine, I get a "cannot import name 'datastore' from 'google.cloud'" error. However, I can start the local dev server without any issues.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `python -m scripts.run_backend_tests --test_target=core.controllers.suggestion_test`.

**Observed behavior**
I see the following err

[2021-11-19 02:14] U8NWXD commented on #11496
@AbhayTrivedi done

[2021-11-19 02:15] U8NWXD commented on #13162
@davisong done

[2021-11-19 02:26] seanlip commented on #14260
Just as a data point -- I tried investigating this on two machines (one Mac, one Linux). On both machines, I tried to look for ~/.pyenv/versions/oppia/lib/python3.7/site-packages/google/cloud/datastore/helpers.py.

But, on the Mac machine, I can only go down to ~/.pyenv/versions/oppia/lib/python3.7/site-packages/google. In that folder there is a single folder called "protobuf". There is no "cloud"

[2021-11-19 02:38] seanlip commented on #14260
On digging further: on the Mac I'm using, the `from google.cloud import datastore` in core/platform/transactions/cloud_transaction_services.py is digging into:

    `/third_party/python_libs/google/cloud/datastore/__init__.py`

whereas in @sagangwee's log, that same import statement is digging into:

    `/.pyenv/versions/oppia/lib/python3.7/site-packages/google/cloud/datastore/__init__.py`

This

[2021-11-19 02:42] seanlip commented on #14260
~~I think the fix for both issues is to make the checks [here](https://github.com/oppia/oppia/blob/develop/scripts/install_third_party_libs.py#L253) more robust to ensure that all the necessary libs are in google/cloud. At least, for the issues we're facing here (in both issues), google/cloud/datastore needs to be present.~~

EDIT: actually, that might be wrong. I think the google/cloud/datastore

[2021-11-19 02:43] seanlip commented on #14260
Also, for interest -- when the dev server is running, google cloud datastore is being imported from a different place `/tmp/tmpMtdAuq/lib/python3.7/site-packages/google/cloud/datastore/__init__.py`. So that probably explains the discrepancy between the dev and test environments.

[2021-11-19 04:51] Ukd1796 commented on #10474
Hi @vojtechjelinek , I am a new contributor and would like to make my first contribution here . Could you assign me a file?

[2021-11-19 05:50] BenHenning opened #14285 "Revert ownership to @BenHenning after 2022-01-04"
Add @BenHenning back to CODEOWNERS after 04 January 2021.

[2021-11-19 10:46] ishar19 commented on #9749
Hey @U8NWXD(tagging my onboarding mentor)I have chosen my first issue , can you please assign me ```help-modal.controller```

[2021-11-19 10:49] kingjuno commented on #14282
@seanlip I had the same issue a couple of weeks ago. It happened right after I merged some changes. So when I ran the test the next time I was asked to install third-party tools. Afterward, the same error mentioned in the issue occurred in my device too so I looked into the `oppia/third_party/python_libs/google/cloud` where I found datastore and other related packages were missing.
The solution in

[2021-11-19 13:44] patrycjapraczyk commented on #9749
Heyy @ishar19 I am dealing with refactoring `help-modal.controller` already. Could you please choose some other component to refactor? Thanks!

[2021-11-19 13:50] U8NWXD commented on #9749
@ishar19 The tasks suffixed with an at-mention (e.g. `help-modal.controller @patrycjapraczyk`) have already been claimed. Please pick a task that does not have an at-mention suffix so that we avoid duplicating work

[2021-11-19 16:06] #13974 closed, assigned to kingjuno

[2021-11-19 16:11] vojtechjelinek commented on #10474
@Ukd1796 Done.

[2021-11-19 17:30] jimbyo commented on #14282
I tested this exact backend test last night, and had the same error.
<img width="1113" alt="Screen Shot 2021-11-18 at 7 34 23 PM" src="https://user-images.githubusercontent.com/35385366/142665693-254a75f9-4677-40d1-948e-0a50cfacc2bd.png">

My solution was running scripts.clean, followed by scripts.start in the terminal

[2021-11-19 17:36] jimbyo opened #14288 "Spanish Reviewers are seeing 'communicating with server' error"
**Describe the bug**
When the spanish reviewers attempt to read review translation suggestions see error

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contribuitor dashbaord
 2. Click on Review Translation
 3. See error

**Observed behavior**

![image](https://user-images.githubusercontent.com/35385366/142666432-0521da68-134a-48d0-bff6-46b403d22a8c.png)
<img width="612" alt="Screen

[2021-11-19 18:13] sagangwee commented on #14288
Console logs:

[code]

[2021-11-19 18:39] ishar19 commented on #9749
```confirm-leave-modal.template``` could I work on this then? @U8NWXD

[2021-11-19 18:41] ishar19 commented on #9749
yeah, my bad, I thought you are maintainer of it that is why you are tagged there, sorry

[2021-11-19 22:23] sagangwee commented on #14230
Most likely need to make sure the translation change content html is cleaned using `html_cleaner.clean()` to strip unwanted HTML elements a la https://github.com/oppia/oppia/issues/12482.

[2021-11-19 22:39] sagangwee commented on #14234
Note from https://github.com/oppia/oppia/pull/14283, this issue is limited to suggestions for which their corresponding opportunities were deleted, which should not occur in prod.

[2021-11-20 09:21] anish2210 commented on #14277
@khareyash05 can you please guide me in resolving the issue??
actually, I am new to open source contribution but I am well aware of Angular Html and CSS.
 And I want to contribute to this organization.

[2021-11-20 10:37] nidhipawar5 commented on #8038
Hello, I'd like to work on  core/templates/I18nFooter.ts , please assign the task to me. Thanks.

[2021-11-20 13:02] anish2210 commented on #14277
blob:https://web.whatsapp.com/eb6af636-9057-4bcb-b3ed-790e84038319

[2021-11-20 13:04] anish2210 commented on #14277
![WhatsApp Image 2021-11-20 at 6 30 25 PM](https://user-images.githubusercontent.com/93440436/142727367-d61396be-9020-4351-8ddd-ebcae067ffc1.jpeg)

[2021-11-20 13:08] anish2210 commented on #14277
@khareyash05 In this picture, the arrows for navigating left and right can be more perfect and I think I can resolve this issue too.

[2021-11-21 01:16] srijanreddy98 opened #14290 "Find a better way to refactor code that opens modals into new services that use the page specific injector rather than root the injector"
Find a better way to refactor code that opens modals into new services that use the page specific injector rather than root Injector.
In issue #14225, we noticed some errors with dynamic component creation. The componentFactoryResolver in the service was from AppModule and not
the page specific module. This makes sense as the we provide all services in root (As specified by the providedIn: 'root')

[2021-11-21 03:55] U8NWXD commented on #9749
done @ishar19

[2021-11-21 14:07] ashutoshc8101 commented on #8038
Assigned `teach-oppia-modal.controller.ts` to @ShivamJhaa

[2021-11-22 00:08] aquinod commented on #10474
Hi @vojtechjelinek I am a new contributor and would like to work on this issue - would you be able to assign me a file? Thank you so much

[2021-11-22 12:54] vojtechjelinek commented on #10474
@aquinod Done.

[2021-11-23 02:45] #14234 closed, assigned to jimbyo

[2021-11-23 05:39] Showtim3 commented on #14255
yes @vojtechjelinek

[2021-11-23 06:49] chris7716 opened #14298 "Temporarily store images related to question suggestions in local storage until the question is submitted"
**Is your feature request related to a problem? Please describe.**
As it is discussed in #14289 images for questions are stored in the server before the question is submitted. This is not good since when a user cancels the question suggestion after uploading images, images are not removed from the server.

**Describe the solution you'd like**
Images should be stored temporarily in the local storag

[2021-11-23 07:20] Rijuta-s commented on #12381
Hi @kevintab95 , I believe this issue is fixed via #14139. Can you please take a look?

[2021-11-23 07:39] kevintab95 commented on #12381
Hm, since this issue was not automatically closed, please feel free to post proof that it is working as intended and close the issue. Thanks!

[2021-11-23 08:06] parikshith078 commented on #13162
Can you assign me to `SignupPage` , ` UserInfoHandler` and `SignupHandler`

[2021-11-23 08:20] #14227 closed, assigned to EricZLou

[2021-11-23 09:08] seanlip opened #14300 "When the language is changed on the contributor dashboard, the view doesn't update for a while."
**Describe the bug**
When a user changes the language on the translation dashboard, the view takes a while to update. During this time, the old view is still presented which can lead to confusion (and possibly bad translation submissions).

**To Reproduce**
Steps to reproduce the behavior:
 1. (On prod) Go to the contributor dashboard, select translations tab, select e.g. Arabic.
 2. Notice that e

[2021-11-23 09:08] seanlip commented on #14300
Hi @jimbyo -- assigning to you since this is part of the submitter experience.

Do you think it can be fixed? Otherwise I suspect it can lead to corrupted data. (I came across it while trying to verify the existing release branch.)

[2021-11-23 09:58] parikshith078 commented on #13162
Hey I am unable to get handlers when I search them in code base.

[2021-11-23 10:14] ayushjaink8 commented on #10474
@vojtechjelinek Can you please assign me these three files:
1) core/templates/domain/topic/subtopic-page.model.ts
2) core/templates/domain/topic/TopicObjectFactory.ts
3)  core/templates/base-components/base.module.ts

[2021-11-23 10:52] mridul-netizen commented on #10474
hey @ayushjaink8 The first two files are being covered https://github.com/oppia/oppia/pull/14122 here. `core/templates/base-components/base.module.ts` this file doesn't really have errors. `core/templates/components/graph-services/graph-layout.service.ts` is a good starter file. lmk if youre interested in covering that or any other file of you choice!

[2021-11-23 11:19] ayushjaink8 commented on #10474
@mridul-netizen
ok! I will work on "core/templates/components/graph-services/graph-layout.service.ts" file. Please assign it to me!

[2021-11-23 11:23] mridul-netizen commented on #10474
Done

[2021-11-23 12:29] Rijuta-s commented on #13248
Closing as fIxed in #14224.

[2021-11-23 12:29] #13248 closed, assigned to nobody

[2021-11-23 13:03] vojtechjelinek commented on #13162
I cannot assign you these since other people are already working on them.

They are in _core/controllers/profile.py_

[2021-11-23 13:07] parikshith078 commented on #13162
Is there any unassigned handlers I can work on,
Please let me know if there any.

[2021-11-23 13:14] vojtechjelinek commented on #13162
You can work on `DeferredTasksHandler`, `ValueGeneratorHandler`, `AssetDevHandler`

[2021-11-23 13:23] parikshith078 commented on #13162
I will take that, thank you.

[2021-11-23 18:34] #13967 closed, assigned to vojtechjelinek

[2021-11-23 22:00] dchen97 opened #14304 "Clicking on any link from former foundation site pages links out page to a new tab"
**Describe the bug**
When clicking on any of the following links in the top nav - the page is opened in a new tab. This is unexpected as these pages now all are within the Oppia.org site and therefore shouldn't direct the user to a new tab (as would be expected if one was navigating to a new website).

- Get Involved > Volunteer
- Get Involved > Partnerships
- Get Involved > Donate
- About > The O

[2021-11-23 22:00] dchen97 commented on #14304
@krishita30j @Rijuta-s FYI as an easy issue for quality team to potentially look into

[2021-11-23 22:04] dchen97 opened #14305 "Change foundation page title"
**Describe the bug**
The breadcrumb for "The Oppia Foundation" page is currently listed as "About foundation." To be more grammatically correct and to associate it with the branding of Oppia foundation, this should be changed to "About the Oppia Foundation"

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/about-foundation
 2. See in the top left hand corner in the

[2021-11-23 22:04] dchen97 commented on #14305
@krishita30j @Rijuta-s FYI as another easy fix for LaCE Quality team

[2021-11-23 22:10] dchen97 opened #14306 "Mobile Navbar is broken when tapping on "Classroom""
**Describe the bug**
The Mobile navbar has a less than ideal experience because it acts like the desktop navbar by having the "Classroom" item expand to show "Basic math" rather than navigating the user to a new page. This would be acceptable behavior except that the navbar then promptly closes after tapping "Classroom" - leaving the user to think their tap just led them to the same page they were

[2021-11-23 22:11] dchen97 commented on #14306
Screenshot of what menu looks like with Classroom expanded:
![Screen Shot 2021-11-23 at 2 11 12 PM](https://user-images.githubusercontent.com/12034267/143137214-91d2a0b6-d7ee-4979-9612-79f3582c1f43.png)

Note the added but unnecessary spacing below "Basic Mathematics"

[2021-11-23 22:12] dchen97 commented on #14306
@seanlip @krishita30j @Rijuta-s FYI

[2021-11-24 01:24] #14228 closed, assigned to kevintab95

[2021-11-24 01:24] #14253 closed, assigned to kevintab95

[2021-11-24 03:57] paprajapati9 opened #14307 "UI Changes on dashboard pages"
**Is your feature request related to a problem? describe.**
Dashboard pages need minor UI/UX tweaks to look better.
Like hovering over the dropdown item here does not add a little background color to item to let user know which item they are selecting, also cursor is not pointer type that should be the case.
Also for the tabs section of my contribution and translate text, we should come up with a

[2021-11-24 04:06] Rijuta-s commented on #14306
@sahiljoster32  PTAL! It is the same issue you have mentioned about closing of side navbar on clicking on any option in the side nav.

@dchen97 #14258 updates the mobile navbar according to the new mocks and should fix this UX issue.

[2021-11-24 04:21] paprajapati9 commented on #10474
Hello @vojtechjelinek, `core/templates/domain/question/QuestionObjectFactory.ts` has been worked upon in #14274 only it's spec file is left that can be worked upon once #13840 is merged as it required changes from `core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts`

[2021-11-24 05:38] banglajisu opened #14308 "Unable to edit images on translation dashboard"
**Describe the bug**
While translating and using a copying tool, I cannot edit lots of images. Even on the same set of lessons, some images can be edited and has an edit icon, while some do not have an edit icon but just an erase icon.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Translate Text'
 2. Click on 'Division: Division by multiple of ten'
 3. Find a card with an image and

[2021-11-24 05:43] sahiljoster32 commented on #14306
yes it is the same issue that i mentioned, Thanks @dchen97 for raising this issue.

[2021-11-24 06:33] JeeveshGarg opened #14309 "Remove the interstitial topic so that full topic can be created from start"
**current scenario**
Currently we're creating interstitial topic that would be displayed in the editor until the actual topic is fetched from the backend.
which leads us to assigning some fields as a null value.

**suggested solution**
Refactor the code by removing interstitial topic method created in `core/templates/domain/topic/TopicObjectFactory.ts`.
for this we need to remove interstitial topi

[2021-11-24 06:37] pariksh1th commented on #13162
Hey, can you point me to the files where these handlers are located.

[2021-11-24 06:40] JeeveshGarg opened #14310 "Remove the interstitial subtopic so that full subtopic can be created from start."
**current scenario**
Currently we're creating interstitial subtopic that would be displayed in the editor until the actual subtopic is fetched from the backend.
which leads us to assigning some fields as a null value.

**suggested solution**
Refactor the code by removing interstitial subtopic method created in `core/templates/domain/topic/subtopic-page.model.ts`.
for this we need to remove interst

[2021-11-24 06:51] JeeveshGarg opened #14312 "Remove the createDefaultQuestion so that full question can be created from start."
**current scenario**
Currently we're creating createDefaultQuestion that would be displayed in the editor until the actual question is saved.
which leads us to assigning some fields as a null value.

**suggested solution**
Refactor the code by removing createDefaultQuestion method created in `core/templates/domain/question/QuestionObjectFactory.ts`.
for this we need to remove createDefaultQuestion

[2021-11-24 06:55] JeeveshGarg opened #14313 "Remove the createDefaultState so that full state can be created from start"
**current scenario**
Currently we're creating createDefaultState that would be displayed in the editor until the actual question is saved.
which leads us to assigning some fields as a null value.

**suggested solution**
Refactor the code by removing createDefaultState method created in `core/templates/domain/state/StateObjectFactory.ts`.
for this we need to remove createDefaultState from the code

[2021-11-24 21:23] murraytay commented on #13956
Can I get assigned to zip_longest @vojtechjelinek

[2021-11-25 10:15] ritikchauhan-01 commented on #13327
@Rijuta-s  can I work  5th problem in issue if you are not working . This one - "Validation: Although we unpublish blogs that fail the "max number of tags" validation, we notice that it was possible to edit &....................."

[2021-11-25 10:33] JeeveshGarg commented on #8016
@DubeySandeep please assign me ` core/templates/pages/collection-player-page/collection-player-page.directive.ts` and
` core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts`

[2021-11-25 13:42] mridul-netizen commented on #8016
core/templates/pages/exploration-player-page/learner-experience/conversation-skin.directive.ts

@JeeveshGarg These files are already being worked upon in migration PRs, Please lmk if would you like to work on `story-creation.service.ts` or any other file of your choice ?

[2021-11-25 14:24] #14265 closed, assigned to chris7716

[2021-11-25 14:40] vojtechjelinek commented on #13956
@murraytay Sure, done!

[2021-11-25 15:29] JeeveshGarg commented on #8016
Okay, @mridul-netizen please assign me  `story-creation.service.ts`
Thanks.

[2021-11-25 15:44] #14225 closed, assigned to srijanreddy98

[2021-11-25 17:20] murraytay commented on #13956
Ok done with that one: https://github.com/oppia/oppia/pull/14317

Can I work on string_io next? It looks like it should be assigned already (https://github.com/oppia/oppia/issues/13956#issuecomment-950164019) but there's no username next to it... @vojtechjelinek

[2021-11-25 17:41] JeeveshGarg commented on #13956
@murraytay i'm already doing string_io in #14299.
Thanks.

[2021-11-26 00:26] GehadSalemFekry commented on #10474
Heyy,
Can I take "core/templates/pages/exploration-player-page/*" pages?

[2021-11-26 02:12] shivam71 commented on #13162
Hi @vojtechjelinek  I am new to open source can you assign me some handlers to work on

[2021-11-26 04:06] paprajapati9 commented on #14304
Can you please assign this to me @Rijuta-s. Thanks !

[2021-11-26 04:57] yhelen commented on #11496
@U8NWXD Hi! Could I pick up the remaining two checks?
- `Usernames, email addresses, topic names, skill names, exploration names, story names, and chapter names should be reliably unique as described in the wiki.`
- `Do not index into ElementArrayFinders with bracket notation ([]).`

[2021-11-26 06:59] seanlip opened #14322 "Reinstate the 'missing-type-doc' lint rule"
**Describe the bug**

PR #14321 deleted the missing-type-doc rule because it was resulting in a lot of false positives (see e.g. https://github.com/oppia/oppia/runs/4330792779?check_suite_focus=true) where named kwargs were not being recognized in docstrings, and was breaking develop.

This rule should be reinstated, but in a way that does not break develop (where the docstrings in question alread

[2021-11-26 06:59] seanlip commented on #14322
Assigning to @DubeySandeep for triage for the linter team.

[2021-11-26 07:01] seanlip commented on #14322
Note: I did some investigation and found https://github.com/PyCQA/pylint/issues/1409 which might be related, but it seems like that issue was fixed a long time ago, so I'm not sure why a similar issue seems to be cropping up now.

There does not seem to have been any change we did recently to introduce this error.

[2021-11-26 07:08] seanlip commented on #14322
Also, @kevintab95 sent me this info:

[2021-11-26 07:35] DubeySandeep commented on #14322
On further investigation, I found that the issue is happening because of the auto pylint upgrade in the build.

![image](https://user-images.githubusercontent.com/16653571/143541834-63642997-78bd-4c11-baad-092821a277aa.png)
The above image is a diff of logs of last success and first failed builds.

[2021-11-26 09:57] Rijuta-s commented on #14304
Done, Thanks @paprajapati9 !

[2021-11-26 10:00] Rijuta-s commented on #13327
@ritikchauhan-01 sure!

[2021-11-26 10:06] paprajapati9 commented on #14305
@Rijuta-s Can you please assign this to me.

[2021-11-26 10:11] Rijuta-s commented on #14305
Done @paprajapati9 ! Thanks for working on this.

[2021-11-26 10:55] theofficialprofounder commented on #10474
Hey, can you please assign `core/templates/pages/exploration-player-page/learner-experience/input-response-pair.component.ts` and `core/templates/pages/exploration-player-page/services/answer-classification.service.ts` to me?

[2021-11-26 11:30] #14207 closed, assigned to nobody

[2021-11-26 14:44] DubeySandeep commented on #10474
@GehadSalemFekry I've assigned you to the following files:
- core/templates/pages/exploration-player-page/services/image-preloader.service.ts
- core/templates/pages/exploration-player-page/services/question-player-engine.service.ts

[2021-11-26 18:29] pankaj819kumar commented on #13956
@vojtechjelinek please assign me
python_utils.url_open

[2021-11-26 19:10] #14235 closed, assigned to chris7716

[2021-11-27 02:12] murraytay commented on #13956
Can I get assigned url_parse? or anything no one has claimed yet?

[2021-11-27 06:01] Sreelayavuyyuru commented on #10474
Hey, can I please get assigned to `core/templates/pages/exploration-player-page/services/answer-classification.service.ts` and `core/templates/pages/exploration-player-page/services/audio-preloader.service.ts`?

[2021-11-27 06:40] theofficialprofounder commented on #13162
Hey, if there are any handlers that are stale, please assign them to me.

[2021-11-27 06:43] Sreelayavuyyuru commented on #13162
Hey, if there are any handlers that are assigned but not being worked on, I would like to take them up. Please assign them to me if there are any.

[2021-11-27 07:18] seanlip opened #14325 "Address remaining comments from #14263"
**Describe the bug**
This issue tracks resolution of the remaining comments by @DubeySandeep on https://github.com/oppia/oppia/pull/14263#pullrequestreview-817106400.

[2021-11-27 07:19] #14024 closed, assigned to srijanreddy98

[2021-11-27 07:57] Sreelayavuyyuru commented on #13956
Hello, can I get assigned to `python_utils.url_unsplit` and `python_utils.parse_query_string`

[2021-11-27 08:00] Sreelayavuyyuru commented on #13956
Hello, can I get assigned to `python_utils.urllib_unquote`?

[2021-11-27 15:10] pankaj819kumar commented on #13956
@YBCS hi i want to work on
python_utils.url_open

[2021-11-27 17:20] YBCS commented on #13956
@pankaj819kumar @Sreelayavuyyuru @murraytay done

[2021-11-27 20:29] anurag629 commented on #13956
@vojtechjelinek  i want to work on python_utils.url_unsplit  and
python_utils.parse_query_string

[2021-11-28 00:48] seanlip opened #14328 "The update_changelog_and_credits script neglects to prompt for a check to the update in feconf.py."
**Describe the bug**

When running the update_changelog_and_credits script in scripts/release_scripts, the developer is asked to confirm that the right changes have been made to 5 files: https://github.com/oppia/oppia/blob/1c198016c064a5f168b82ba1e206f513026fc8ed/scripts/release_scripts/update_changelog_and_credits.py#L593 .

This list incorrectly omits feconf.py, which should also be changed due

[2021-11-28 05:23] JayVivarekar commented on #10474
@vojtechjelinek Can I work on `core/templates/domain/exploration/ExplorationObjectFactory.ts`?

[2021-11-28 07:51] seanlip commented on #14022
@DubeySandeep Friendly ping on this please.

[2021-11-28 07:52] seanlip commented on #14011
Assigning to @krishita30j @Rijuta-s for the LaCE quality team.

[2021-11-28 09:03] krishita30j commented on #14199
Hey @iamprayush, when I tried to reproduce this issue, the OSK doesn't show up. Can you please confirm if this issue occurs with you too?

<img width="376" alt="Screenshot 2021-11-28 at 2 33 00 PM" src="https://user-images.githubusercontent.com/66058206/143741397-e111ad98-5cff-4d85-b953-fb2d2831cfe7.png">

[2021-11-28 09:39] kevintab95 opened #14330 "[Server Error] Continue button seems to be broken in embedded explorations"
This error occurred recently in production

[code]

## Steps to reproduce
1. Go to https://oppiatestserver.appspot.com/embed/exploration/16
2. Type "ate".
3. Hit enter and observe that the page is frozen.

![image](https://user-images.githubusercontent.com/11008603/143762887-64e7e1b7-9403-4200-981a-39ec2254aaa4.png)

This started to appear in the release 3.2.1.

**Additional context** Add details

[2021-11-28 13:22] Hatilar420 commented on #14312
Hi, @JeeveshGarg I would like to work on this issue. Can you assign it to me?

[2021-11-28 15:47] vojtechjelinek commented on #13162
Currently, all handlers are assigned, @Nik-09 will be soon removing some assigned folks that are not active.

[2021-11-28 15:50] vojtechjelinek commented on #10474
@Sreelayavuyyuru @JayVivarekar Done.

[2021-11-28 16:09] vojtechjelinek commented on #13956
@anurag629 Done.

[2021-11-28 17:23] pankaj819kumar commented on #10474
hi @vojtechjelinek
i want to work on this issue

[2021-11-28 17:25] shivam71 commented on #10474
Hi @vojtechjelinek    Can I   be assigned   core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts   ?

[2021-11-28 17:51] Nik-09 commented on #13162
I am unassigning you all @somya51p, @vermastra @DeepeshKumarJha @li-matthew, @SAEb-ai, @nj7.
If you are still working, feel free to drop a message I will reassign you.

Thanks.

[2021-11-28 17:53] Nik-09 commented on #13162
@Sreelayavuyyuru @shivam71 Some handlers are now unassigned.
Just drop a message in which you want to get assigned.

Thanks.

[2021-11-28 18:05] vojtechjelinek commented on #10474
@pankaj819kumar @shivam71 Done.

[2021-11-28 18:11] somya51p commented on #13162
@Nik-09 I have started work with `UsernameCheckHandler`. It's just that I was facing a few errors, I apologize for the delay. It would be great if you reassign me the same along with a few others. Thankyou!

[2021-11-28 18:28] Nik-09 commented on #13162
@somya51p can mention the handler names in which you are working ?
If you are facing any error feel free to raise your quesitons.

Thanks.

[2021-11-28 18:31] somya51p commented on #13162
Currently `UsernameCheckHandler`. Also if you can assign me `UrlHandler`

[2021-11-28 18:38] Nik-09 commented on #13162
@somya51p Done

[2021-11-29 11:48] chris7716 opened #14339 "[Contributor Dashboard] Server error when retrieving translations to review"
**Describe the bug**
An error comes when retrieving translations to review saying that `Content ID <content_id> does not exist`. It's blocking the whole translation review process.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /contributor-dashboard
 2. Submit a translation for any card
 3. Go to /community-library
 4. Click on the exploration that the translation was submitted
 5.

[2021-11-29 11:50] vojtechjelinek opened #14340 "Remove some usages of jQuery from the codebase"
Remove the usages of jQuery in some places where we use it to construct properties for interactions (search for TODOs with this issue number). For more context on how to fix this read https://github.com/oppia/oppia/pull/14236/files#r755725748

[2021-11-29 13:28] krishita30j commented on #14156
Fixed by #14198

[2021-11-29 13:28] #14156 closed, assigned to krishita30j, Rijuta-s

[2021-11-29 14:23] krishita30j commented on #13667
Hi @seanlip, we don't need this fixed as we are getting the navbar updated right?

[2021-11-29 18:01] sagangwee commented on #14260
Tried a fresh install in a new folder, and now getting a similar but slightly different Google Cloud `datastore` error:

[code]

[2021-11-29 18:04] chris7716 commented on #14339
https://user-images.githubusercontent.com/41409951/143919712-b5c48bc1-be4e-4928-ae7e-c79b204bce25.mov

[2021-11-29 18:06] sagangwee commented on #14260
In my oppia folder, I do have a `third_party/python_libs/google/cloud/datastore` folder. My `PATH` in my oppia folder looks like `/Users/sagangwee/.pyenv/plugins/pyenv-virtualenv/shims:/Users/sagangwee/.pyenv/shims:/Users/sagangwee/.pyenv/bin:/Users/sagangwee/.pyenv/plugins/pyenv-virtualenv/shims:/Users/sagangwee/.pyenv/shims:/Users/sagangwee/.pyenv/bin:/Library/Frameworks/Python.framework/Version

[2021-11-29 18:15] seanlip commented on #14260
Interesting, now it seems closer to my problem in #14282...

Yeah, I think the issue is exactly that -- a wrong reference (or an incomplete download).

[2021-11-29 18:22] dchen97 commented on #13667
For what it's worth - we should still make sure that this is addressed - it
just would be adapted for the new designs. I.e. even with the new designs
implemented, people should be able to navigate to the right pages using
keyboard nav

[2021-11-29 18:24] seanlip commented on #13667
Yup, what @dchen97 said :)

[2021-11-29 20:52] jimbyo opened #14344 "Missing translation opportunities in Hindi"
**Describe the bug**
Translator was assigned to translate these lessons but were  unable to find these lessons in the contributor dashboard for Hindi:
Lesson 5: Subtracting large numbers, Part 1
Lesson 3: Equivalent ratios
Lesson 4: Writing ratios in simplest form
Lesson 12: Compare, Add, Subtract, Fractions (Recap)

**Observed behavior**
Missing translation opportunities in Hindi and other langua

[2021-11-29 21:00] jimbyo commented on #14344
@seanlip @sagangwee Do you know if these opportunities have been completed or are they actually missing?

[2021-11-29 23:53] seanlip commented on #14344
@jimbyo and I looked into this, and it seems everything is working as expected. The translations in Hindi are missing from the dashboard because they have been completed, and we confirmed that the lesson is "working fine" in Hindi from the learner side of things.

@jimbyo -- please feel free to add to or update the above if I've gotten anything wrong. Thanks!

[2021-11-29 23:53] #14344 closed, assigned to nobody

[2021-11-30 00:02] seanlip commented on #14282
Thanks a lot @kingjuno and @jimbyo!

I just dug into this again after not having looked at it for a week or so ... and unfortunately, everything now works totally fine. I have no idea what I did in the meantime :( -- I know that while working on the release I installed stuff multiple times so maybe that was what fixed it.

In any case, I'll close this until it comes up again, though this now means

[2021-11-30 00:02] #14282 closed, assigned to seanlip

[2021-11-30 00:09] seanlip commented on #14260
Hi @sagangwee, just a note -- I checked on two machines and what it actually wants is `third_party/python_libs/google/cloud/datastore` (when resolving `from google.cloud import datastore`).

I think the question then is ... why is your stack trace not picking up `third_party/python_libs/google/cloud/datastore`? It shouldn't be going to site-packages at all.

[2021-11-30 00:15] seanlip commented on #14260
Also, for reference, my sys.path starts as follows:

['/opensource/oppia/../oppia_tools/pyyaml-5.1.2', **'/opensource/oppia/third_party/python_libs'**, '/opensource/oppia_tools/google-cloud-sdk-335.0.0/google-cloud-sdk/platform/google_appengine/lib/antlr3', ...]

on both machines. I bolded the third_party/python_libs part -- for me all the pyenv stuff comes at the end, though I don't see anything

[2021-11-30 05:47] yhelen commented on #13162
@Nik-09 Hi, can I also pick up these two handlers?
* `UpdateTranslationSuggestionHandler`
* `UpdateQuestionSuggestionHandler`

[2021-11-30 06:59] paprajapati9 opened #14348 "Navbar hamburger not working in mobile view after opening few pages from navbar in same tab."
**Describe the bug**
Navbar hamburger not working in mobile view after opening few pages in same tab.

**To Reproduce**
Steps to reproduce the behavior in mobile view:
 1. Go to home page
 2. Click on hamburger and then click on About Oppia link
 3. About Oppia page opens in the same tab but now clicking on hamburger does not opens sidebar
 4. See error

**Observed behavior**
Clicking hamburger ic

[2021-11-30 07:02] paprajapati9 commented on #14348
@Rijuta-s I came across this issue while working on a separate issue.

[2021-11-30 07:48] soumyo123-prog commented on #14187
working on `language-util.service`, `current-interaction.service`

[2021-11-30 10:14] vojtechjelinek commented on #13162
@yhelen Done.

[2021-11-30 14:36] shivam71 commented on #13162
@Nik-09 Can I be assigned these two handlers?
- QuestionCreationHandler
- QuestionSkillLinkHandler

[2021-11-30 15:54] Nik-09 opened #14351 "Extending feature for schema validation"
- [x] **Task 1**
Improve the message raised by schema validation architecture when the handler class contains schema and the name of the handler class is also present in the list ```HANDLER_CLASS_NAMES_WHICH_STILL_NEED_SCHEMAS```.
Explanation: Currently the error raised when the above condition staisfies is something -- "Nonetype object has no attibute .."
After Modification: Proper error message

[2021-11-30 18:48] sagangwee commented on #13055
We probably want to do this for unicode translations and also account for the case where the translation is wrapped in an HTML tag, e.g. `<p>1000</p>`

[2021-11-30 21:50] sagangwee commented on #14260
So in the stack trace in https://github.com/oppia/oppia/issues/14260#issuecomment-981878717, the code was using my `site-packages` folder for google cloud modules up until trying to import from `google.cloud.datastore_v1.types` from which point it looked in `third_party/python_lib`.

In https://github.com/kevjumba/oppia/blob/fefbf724452942dddddb49ad88ff9919dc9899a0/scripts/common.py#L723, the goog

[2021-11-30 22:27] seanlip commented on #14260
I chatted with @vojtechjelinek a bit about this, and one possibility is that in Linux, the pyenv version is controlled by .direnv which is located in opensource/oppia. But in our Mac installation instructions we have a .pyenv/oppia symlink (outside the oppia folder) that symlinks to .pyenv/versions/3.7.10/envs/oppia.

Possibly our wiki instructions might be problematic ... [this commit to the wiki

[2021-11-30 22:30] vojtechjelinek commented on #14260
@sagangwee Could you please try print the path around on line 87 in core/tests/gae_suite.py?

[2021-12-01 01:37] nbaddam commented on #13162
@Nik-09 Can I be assigned to these two handlers please?

- MergeSkillHandler
- UnsentFeedbackEmailHandler

[2021-12-01 03:02] U8NWXD commented on #14187
@soumyo123-prog done

[2021-12-01 03:15] U8NWXD commented on #14260
I removed direnv from the wiki because it just lets you load environment variables based on what directory you're in. pyenv supports activating environments based on directory, so there's no need to use direnv (in either macOS or Linux).

`third_party` gets added to PYTHONPATH by `core/python_utils.py` (and by `core/tests/gae_suite.py` for the backend tests), not by direnv

[2021-12-01 03:39] seanlip commented on #14260
Ah just for clarity -- the issue here is not the existence of third_party
in pythonpath, but the existence of the google.cloud.datastore stuff in
site-packages (which causes that import to take priority).

I think the concern is that on my Linux machine there isn't a .pyenv/oppia
at all but on the Mac machine there is (and the fact that there was some
stuff in there was what was causing Sagang pro

[2021-12-01 04:22] kevintab95 opened #14353 "Issues with merge conflict emails"
When a merge conflict occurs in the exploration editor, we send the admin emails with useful information so we can evaluate if we need to handle them in the future. However, there seem to be some issues with these emails:

1. When the changelist is too large, the email is truncated causing some information to be cut out in the email, this makes it hard to debug / understand the cause. We currently

[2021-12-01 08:08] Shivang6 commented on #8016
Hi is anyone working on this project right now? cuz I wanna work on this.

[2021-12-01 08:31] JeeveshGarg commented on #9749
@ashutoshc8101  assign me `exploration-player-suggestion-modal.controller` or `help-modal.controlle`.

[2021-12-01 08:33] #14339 closed, assigned to chris7716

[2021-12-01 08:57] JeeveshGarg commented on #8016
@mridul-netizen ig for `story-creation.services.ts` we have to migrate `CreateNewStoryModalController` first.
Do i migrate that?

[2021-12-01 09:05] mridul-netizen commented on #8016
@JeeveshGarg I think that these files are already being worked upon here https://github.com/oppia/oppia/pull/14287. You'll have to pick some other file. @ashutoshc8101 any suggestions ?

[2021-12-01 12:45] JeeveshGarg commented on #8016
@mridul-netizen @ashutoshc8101 , is it okay to choose ` core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts` ?

[2021-12-01 14:05] vojtechjelinek opened #14354 "Make sure that latest release branch is fetched before making hotfix branch"
When using _cut_release_or_hotfix_branch.py_ the script does not make sure that the latest release-x.y.z is fetched and thus it can make the hotfix branch from an older version of the release branch.

[2021-12-01 14:37] vojtechjelinek commented on #13462
The solution to this should be to handle the uncertainty of `more` in the frontend. This can be done by initially fetching two pages (if page is 10 items then initially fetch 20 items but only show 10), when user fetches another page show the second page (that is already loaded) and fetch another page. So basically fetch always one page ahead and when there are no items to fetch just hide next pag

[2021-12-01 15:13] vojtechjelinek commented on #14033
@vashuteotia123 @aniketh-varma @ShivamJhaa @lheureuxe13 @SD-13 @namangirdhar16 @chiragbaid7 @DiptoChakrabarty I have unassigned you from this issue as I didn't see any activity for a long time. Please let me know if you still work on this issue and I will reassign you back.

[2021-12-01 15:30] DiptoChakrabarty commented on #14033
@vojtechjelinek  I am working on it , I have encountered an error in my PR which I am not clear about

[2021-12-01 16:28] namangirdhar16 commented on #14033
@vojtechjelinek I'm working on it, i was stuck in the setup for a long then I was busy due to some personal stuff, please reassign me I'll be making a PR soon.

[2021-12-01 16:34] U8NWXD commented on #11496
@yhelen done

[2021-12-01 16:44] U8NWXD commented on #14260
Why is this the case? [direnv](https://direnv.net/) just lets you create a `.envrc` file in a directory specifying what environment variables to set once you `cd` into that directory. It doesn't handle python dependencies, so the virtual environment could still be anywhere.

Maybe you mean that with direnv, the virtual environment could be in an `oppia/venv/` folder? In that case we would need to

[2021-12-01 17:14] sagangwee opened #14355 "[CD] Allow filtering translation suggestions by topic (and possibly chapter name) in reviewer dashboard"
Currently, reviewers typically translate lesson by lesson to maintain translation context within a lesson. Because there can be many pages of translation suggestions for a reviewer to go through, it is tedious to find the right translations to review.

[2021-12-01 17:20] sagangwee commented on #14308
@kevintab95 This seems like an editor issue?

[2021-12-01 18:35] vojtechjelinek commented on #14260
IMO direnv also seems to do the stuff that Sean mentions (or at least how we use it on Linux and how we have it explained in our setup wiki). Because I have a folder in _oppia/.._ named _.direnv_ that contains _python-3.7.10_.

[2021-12-01 20:39] jimbyo commented on #14308
![Screen Shot 2021-12-01 at 12 38 28 PM](https://user-images.githubusercontent.com/35385366/144310348-5d2fec18-1a21-4bdb-bdf1-f80985967b46.png)
In this case, We only have the edit icon, I'm guessing we want both the delete icon and edit icon at every suggestion? Or are their cases where we would only want one or the other.

[2021-12-01 20:57] jimbyo opened #14358 "Slow load times for translation Opportunities"
**Describe the bug**
opportunitiessummaryhandler/translation takes 6-7 seconds to execute on production

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Oppia.org'
 2. Click on 'Translate text'
 3. Open network tab in inspector
 4. Select a language/ or click on the pagination icons
 4. See error

**Observed behavior**
Slow load times for translation opportunities

**Expected behavior

[2021-12-01 22:49] sagangwee commented on #14260
Hmmm I'm not sure what happened but after merging from upstream, the backend tests are failing again due to a seemingly unrelated error:

[code]

This is occurring on develop for me when running `python -m scripts.run_backend_tests --test_target=core.controllers.suggestion_test`.

[2021-12-02 02:49] namangirdhar16 commented on #14033
@vojtechjelinek you can assign me `core/domain/change_domain.py` this. Thanks!

[2021-12-02 04:58] SD-13 commented on #14033
@vojtechjelinek I was engaged in some other stuff. please assign me `core/domain/classifier_domain.py` this one. Thanks

[2021-12-02 06:06] kashyaparka commented on #14307
@paprajapati9 Can you assign me this?

[2021-12-02 11:59] vojtechjelinek commented on #14033
@DiptoChakrabarty @namangirdhar16 @SD-13 Done.

[2021-12-02 14:11] aniketh-varma commented on #14033
@vojtechjelinek Yes, I will be working on the issue. Please reasssign.

[2021-12-02 14:27] vojtechjelinek commented on #14033
@aniketh-varma Done.

[2021-12-02 14:29] vojtechjelinek commented on #14260
@sagangwee Please remove _../cloud_datastore_emulator_cache_ folder, that should fix this. (I have a PR prepared for this).

[2021-12-02 15:09] Shivang6 commented on #8015
Hi. @kevintab95  I want to work on this project can I get assigned on it

[2021-12-02 15:14] Shivang6 commented on #8038
Hi, is this project still open because I like to work on it.

[2021-12-02 19:58] vojtechjelinek opened #14362 "Remove casts from the codebase"
Some casts in the codebase are unnecessary, do an audit of them and preferably remove them. If the cast cannot be removed then a comment should be present explaining why is it needed.

[2021-12-03 06:18] U8NWXD commented on #14260
~@vojtechjelinek our [Linux installation wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%3B-Python-3%29) doesn't mention direnv, as far as I could find. Could you send a link to the instructions you're referring to?~

**EDIT:** I checked the direnv docs, and it does look like direnv integrates with Python's `venv` module to handle virtual environments ([docs](https://github.com

[2021-12-03 09:02] sudojarvis commented on #10474
@vojtechjelinek  can i be assigned core/templates/components/button-directives/hint-and-solution-buttons.component.ts ?

[2021-12-03 10:33] vojtechjelinek commented on #10474
@sudojarvis Done.

[2021-12-03 13:14] nithusha21 commented on #13667
Hi @krishita30j @Rijuta-s any updates on this?

[2021-12-03 13:14] nithusha21 commented on #14011
Hi @krishita30j @Rijuta-s any updates on this?

[2021-12-03 13:15] nithusha21 commented on #14022
@DubeySandeep any updates here?

[2021-12-03 13:16] nithusha21 commented on #14255
@Showtim3 are you working on this? Does this need to be reassigned to the correct person?

[2021-12-03 18:40] jimbyo commented on #14308
@kevintab95 Ping

[2021-12-03 22:21] #14300 closed, assigned to jimbyo

[2021-12-03 22:40] kevintab95 commented on #14308
Only SVG images can be edited i.e. either ones that were originally uploaded as an SVG or those that were created in the editor interface. PNG and other formats will only show the delete icon. I checked the lesson in question, and it appears that all of the images used in the lesson is in the PNG. I we want to edit the images in the future, we should be preferring SVG images.

GIF showing that the

[2021-12-03 22:40] #14308 closed, assigned to kevintab95, jimbyo

[2021-12-03 22:45] kevintab95 opened #14368 "[CD] Investigate "continue" text multiple language translation bug"
**Describe the bug**
Stale text nodes seem to pile up in the translation screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/contributor-dashboard'
 2. Click on 'submit translation'
 3. Click on a lesson to translate.
 4. Click on skip for a few cards and observe that stale content is shown.

**Observed behavior**
Stale contents from previous cards are showing in the translation

[2021-12-03 22:48] kevintab95 commented on #14368
Tagging @jimbyo since it looks related to the submitters side of things.

[2021-12-03 23:26] sagangwee commented on #14260
@vojtechjelinek Hmm I tried removing that folder but I'm still running into the error mentioned in https://github.com/oppia/oppia/issues/14260#issuecomment-984128684.

[2021-12-03 23:36] sagangwee commented on #14260
Also interesting thing is that when spinning up a new dev server, it says the username "a" is already taken, even on a new server without saving the datastore. Seems like the user accounts are not refreshing somewhere.

[2021-12-04 00:04] sagangwee commented on #14368
Trying this on prod, I've only been able to repro when one of the texts is "Continue". Very strange.

[2021-12-04 00:09] sagangwee commented on #14260
Ran `python -m scripts.clean; python -m scripts.start`, still seeing issues in https://github.com/oppia/oppia/issues/14260#issuecomment-984128684 and https://github.com/oppia/oppia/issues/14260#issuecomment-985911300. Very strange that it's saying the username "a" is taken for email "testadmin@example.com" on a fresh install and new dev server instance.

[2021-12-04 01:11] kevintab95 commented on #14368
I think it may be that when there are unicode fields, we render text nodes and those aren't getting removed from the view. So to reproduce, skipping translation cards where the content is unicode and not HTML might help.

[2021-12-04 02:22] U8NWXD commented on #14260
@sagangwee since the error you pasted includes `Sorry, the username \"tmpsuperadm1n\" is already taken!`, maybe the server is saying username taken in response to all usernames? Can you find any usernames that get accepted? Also, are you trying this on develop?

[2021-12-04 17:27] sameer786m commented on #14218
Would u like to give this issue to me.??

[2021-12-04 21:13] DubeySandeep commented on #14022
@nithusha21 I had discussed this with @vojtechjelinek i.e, I won't be able to create a PR (busy with some other stuff) for this issue and I've added a code pointer on how this could be fixed!

[2021-12-05 04:52] U8NWXD commented on #14260
It looks like a new contributor (@yhelen) has encountered the "username is already taken issue" too. See https://gitter.im/oppia/oppia-chat?at=61a859f66104ea63b6c72dfd

[2021-12-05 12:01] Sreelayavuyyuru commented on #13162
Hey, can I please get assigned to :
- `ExplorationEmbedPage`
- `ExplorationPage`
- `ExplorationHandler`

[2021-12-05 12:35] harshvardhan7737 commented on #13680
Hello,
I am a beginner at open source and want to contribute to the following issue but I am having trouble to understand the working procedure to be done. I will be helpful if you could please give me a direction towards it so that I  can  understand the issue and work on it  and begin my journey.
Thanks

[2021-12-05 12:41] soumyo123-prog commented on #13162
@Nik-09 Can we skip schema validation for a particular field?

[2021-12-05 13:56] Rijuta-s commented on #13737
@murraytay Thanks for working on this!

[2021-12-05 13:57] Rijuta-s commented on #14305
Closing this via #14329 .

[2021-12-05 13:57] #14305 closed, assigned to paprajapati9

[2021-12-05 14:08] Rijuta-s commented on #13327
@ritikchauhan-01  Any updates on this?

[2021-12-05 14:09] Rijuta-s commented on #13680
@dchen97 PTAL! Thank you

[2021-12-05 17:20] ritikchauhan-01 commented on #13327
@Rijuta-s

I cannot see blog admin option in my profile ( as I have already assign the user blog admin role).
can you help.

[2021-12-05 18:02] sayantan1413 commented on #10474
Hey, @vojtechjelinek @nishantwrp I would like to work on core/templates/components/skill-selector/skill-selector.component.ts. Can you assign it to me?

[2021-12-06 10:20] vojtechjelinek commented on #13162
@shivam71 @Sreelayavuyyuru @nbaddam Done.

[2021-12-06 10:21] vojtechjelinek commented on #13162
What do you mean? What field?

[2021-12-07 05:48] AmanJolly16 commented on #13162
Hey! Can I please get assigned to:

- SignupPage
-  AnswerSubmittedEventHandler
- EditableSkillDataHandler

[2021-12-07 07:37] SD-13 commented on #14033
@vojtechjelinek can you also assign me `core/domain/classroom_domain.py`. Thanks!

[2021-12-07 08:52] vojtechjelinek commented on #14033
@SD-13 Done.

[2021-12-07 09:06] vojtechjelinek commented on #13162
@AmanJolly16 Done.

[2021-12-07 15:00] adityanarayanm095 commented on #13162
@Nik-09 @vojtechjelinek  Can you assign me `TopicNameHandler` ` EditableQuestionDataHandler` `UsernameCheckHandler`

[2021-12-07 15:43] ritikchauhan-01 commented on #13327
@Rijuta-s  There is no blog admin button when the has been assigned the blog admin role. We only have blog dashboard option when the user click on their profile( I have open blog admin page by typing the url).

Should I work on that?

[2021-12-07 16:49] vojtechjelinek commented on #13935
Closing in favour of #13956

[2021-12-07 16:49] #13935 closed, assigned to nobody

[2021-12-07 16:49] vojtechjelinek commented on #11474
Closing in favour of #13956

[2021-12-07 16:49] #11474 closed, assigned to brianrodri

[2021-12-07 16:51] vojtechjelinek commented on #11481
Closing in favour of #13956

[2021-12-07 16:51] #11481 closed, assigned to nobody

[2021-12-07 16:55] Rijuta-s commented on #13667
@nithusha21  We will be updating the complete navbar and will make sure that the updated navbar is navigated through keyboard.

[2021-12-07 17:23] seanlip commented on #14255
@paprajapati9 will be working on this (discussed in LaCE quality team).

[2021-12-07 17:24] seanlip commented on #14011
@paprajapati9 will be working on this (discussed in LaCE quality team).

[2021-12-07 17:35] murraytay commented on #13956
@vojtechjelinek url_parse has been merged so you can check it off now I think :)

[2021-12-07 21:59] sagangwee commented on #14260
@U8NWXD Yes I was trying this on develop.

[2021-12-08 04:47] paprajapati9 commented on #14255
@seanlip Have raised a PR #14381 for this.

[2021-12-08 11:07] vojtechjelinek commented on #13956
@ashish-patwal Are you working on `python_utils.open_file`?

@anurag629 Are you working on `python_utils.parse_query_string`?

[2021-12-08 11:25] vojtechjelinek commented on #13162
@adityanarayanm095 These are already assigned to other folks.

[2021-12-08 11:33] adityanarayanm095 commented on #13162
@vojtechjelinek Then assign me some other handlers(if any)?

[2021-12-08 11:35] soumyo123-prog commented on #13162
It is resolved now, I was talking about the image field

[2021-12-08 11:54] vojtechjelinek opened #14383 "Refactor `comma_separated_*_ids`"
In _[skill_mastery.py](https://github.com/oppia/oppia/blob/develop/core/controllers/skill_mastery.py#L138-L142)_ and _[concept_card_viewer.py](https://github.com/oppia/oppia/blob/develop/core/controllers/concept_card_viewer.py#L30-L34)_ use [JsonEncodedInString](https://github.com/oppia/oppia/blob/develop/extensions/objects/models/objects.py#L1595) instead of `comma_separated_*_ids`. Some modifica

[2021-12-08 11:56] vojtechjelinek commented on #13162
All handlers are assigned now.

[2021-12-08 15:54] murraytay commented on #13162
@vojtechjelinek Please un-assign my handlers (SuggestionToExplorationActionHandler, SuggestionToSkillActionHandler, SuggestionsProviderHandler) to me and possibly delete them from this list because they seem to no longer be used at all

[2021-12-08 16:03] vojtechjelinek commented on #13162
They are still used in _core/controllers/suggestion.py_

[2021-12-08 16:08] murraytay commented on #13162
I agree that they are still in that file, but for example, I am pretty sure this PR got rid of the ability to suggest things to explorations https://github.com/oppia/oppia/pull/12096 thereby removing any use of the SuggestionToExplorationActionHandler

[2021-12-08 16:09] murraytay commented on #13162
I agree that they are still in that file, but for example, I am pretty sure this PR got rid of the ability to suggest things to explorations #12096 thereby removing any use of the SuggestionToExplorationActionHandler

[2021-12-08 16:56] anurag629 commented on #13956
Yes, but little busy in my college exams.....

[2021-12-08 20:16] U8NWXD commented on #13162
@Nik-09 now that all the tasks have been claimed, can you either clear out stale assignments or remove this from the list of starter issues?

[2021-12-08 20:17] U8NWXD commented on #13162
On a related note, @adityanarayanm095 would like to be assigned "TopicNameHandler", "EditableQuestionDataHandler", and "UsernameCheckHandler". @Nik-09 I'll let you decide how to handle their request

[2021-12-08 21:30] seanlip opened #14389 "A warning appears saying the hint length is too long, when it isn't."
**Describe the bug**
I'm trying to fix a typo on a card in Place Values, but I can't save the new hint because the frontend claims it is too long. See below:

![Screenshot from 2021-12-08 13-27-37](https://user-images.githubusercontent.com/10575562/145287194-c995d39b-09a6-4e48-8053-42976495d0ce.png)

This hint isn't too long, so I think the error message conditions may need to be thought through m

[2021-12-08 21:34] seanlip commented on #14389
I believe the issue is as follows -- the "concept card" link takes up a lot of characters in HTML. Therefore the internal representation of this hint is > 500 characters. However, the external representation is clearly much less, so the current message will confuse creators.

Suggestions:

1. Use a more generous upper bound for hints that assumes up to 2 concept cards (typically, there's at most o

[2021-12-08 21:34] seanlip commented on #14389
Note that an interim hotfix (to remove the limit) might be needed for this issue since it is blocking some current work.

[2021-12-08 21:43] seanlip opened #14390 "Concept cards have line breaks before and above them"
**Describe the bug**
Concept cards are showing up with line breaks before and above them, when they didn't use to do so before.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add a link to a concept card.
 3. Save the edits.

**Observed behavior**
The edits look fine when saved, but in edit view there are newlines above and below them, which is quite disconcer

[2021-12-08 21:43] seanlip commented on #14390
This is a regression that we should probably fix ASAP (it didn't happen before and is confusing lesson creators).

[2021-12-08 21:45] seanlip commented on #14390
We should also update the testing CUJs to cover this case -- I think we've had issues before with "inline" elements appearing as blocks. /cc @vojtechjelinek @nithusha21

[2021-12-09 03:18] AbhayTrivedi commented on #10700
Hey @srijanreddy98, I would like to work on this issue, this would be my first pr. Please assign me with an appropriate issue.

[2021-12-09 03:28] AbhayTrivedi commented on #9749
Hey @nithusha21, I would like to work on this issue, this would be one of my first PR. Please assign me with some appropriate issue. Thanks!

[2021-12-09 04:10] #14255 closed, assigned to paprajapati9

[2021-12-09 04:51] seanlip commented on #14288
@chris7716 can this be closed?

[2021-12-09 04:53] chris7716 commented on #14288
I believe yes since https://github.com/oppia/oppia/pull/14341 fixed the issue. Thanks!

[2021-12-09 04:53] #14288 closed, assigned to chris7716

[2021-12-09 07:11] Lawful2002 commented on #13830
https://user-images.githubusercontent.com/73544247/145349749-8d6ef03e-4da1-417b-81bc-f24b24bbdf6f.mp4

I'm not able to reproduce this issue on develop on local machine (probably because it was fixed in PR #14198). However I noticed that this issue arises when the library page is freshly loaded and any subsequent resizing of the page (and going back to original size afterwards) fixes the issue (cap

[2021-12-09 12:49] vojtechjelinek commented on #13162
Ah, you're right about the `SuggestionToExplorationActionHandler` it is probably scheduled to be removed, but the two other handlers still seem to be used.

[2021-12-09 18:29] ghost opened #14394 "Disappearing Hints"
**Describe the bug**
Sometimes, when the screen is minimized, the hint button pops up but is not clickable. On enlarging the screen, the hints are no longer present.

**To Reproduce**
 1. Go to any Basic Math lesson and play it
 2. Minimise the screen and linger on a question so the hint pops up
 3. Immediately that happens, click on the hint that pops up

**Observed behaviour**
Sometimes after st

[2021-12-10 06:20] Hatilar420 commented on #8015
Hey @kevintab95 I would like to work on this issue can you assign it to me?

[2021-12-10 06:59] ShivamJhaa opened #14397 "Clicking on contributors of any lesson is leading to Error 404 Page not found"
**Describe the bug**
When we click on contributors icons Error 404 page is loading.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/community-library
 2. Click on any collection > then start the lesson> then click on info icon in the navbar> then click on any contributor

**Observed behavior**
It's leading to Error 404 page

**Expected behavior**
I think it shoul

[2021-12-10 07:21] ashish-patwal commented on #13956
Yes @vojtechjelinek , will take some more time as i have ongoing exams .

[2021-12-10 16:31] chiragbaid7 commented on #14033
Hi @vojtechjelinek ,
I am sorry I was working on another PR , can you please assign me `feedback_domain.py` and `improvements_domain.py` . Thanks

[2021-12-10 18:49] #13667 closed, assigned to Lawful2002

[2021-12-10 19:13] sagangwee commented on #14262
This was due to only fetching a maximum of 100 translations. The limit was increased to 1000 in https://github.com/oppia/oppia/pull/14341.

[2021-12-10 19:13] #14262 closed, assigned to jimbyo

[2021-12-11 04:06] adityanarayanm095 commented on #14033
@vojtechjelinek @sajalasati Please assign me
`core/domain/user_domain.py
`

[2021-12-11 07:46] sahiljoster32 opened #14404 "Mobile Navbar is freezed after navigating using sidebar"
**Describe the bug**
Mobile Navbar is not ideal from the prespective of user, because it freezes unexpectedly and user is not able to open it until it reloads the whole page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to oppia.org on mobile or develop on mobile view.
2. Click on the hamburger menu icon(on top left corner).
3. Go to any of the page by navigating through sidebar’s link

[2021-12-11 08:00] seanlip commented on #14404
Thanks for filing, @sahiljoster32. Assigning to @Rijuta-s and @Lawful2002 (current LaCE quality team co-leads) for triage.

[2021-12-11 09:02] Rijuta-s commented on #13830
@Lawful2002 there is a subsrciption to the event when the window is resized in the `library-page.component.ts`. I believe this is the reason the things get fixed on resizing. Let me know if this doesn't help :).
![Screenshot from 2021-12-11 12-37-16](https://user-images.githubusercontent.com/68547101/145670891-c97798d4-9aa7-46cb-8ebf-1f61d6a789d6.png)

[2021-12-11 12:22] nithinrdy commented on #4364
@seanlip May I take up the remaining part of this issue (adding a star to the bottom right to display the number of questions answered correctly)?

[2021-12-11 12:30] bhavukJain commented on #9749
Hi @nithusha21 I am planning to work on this, and this will be my first task. Could you please assign me some part of this issue? Thanks!

[2021-12-11 12:54] #13994 closed, assigned to nobody

[2021-12-12 01:26] swyuan27 opened #14408 "Protobuf compile issues doing MacOS install"
Following all directions to get local running. Having the following compile error.
<img width="848" alt="Screen-Shot-2021-12-11-at-5 24 18-PM" src="https://user-images.githubusercontent.com/56464268/145697020-1714cdec-0e5a-454f-8604-80e858e414cb.png">

[2021-12-12 02:59] bhavukJain commented on #8016
Hi, I would like to work on this & this is my starter task. Can anyone please assign me a file that needs to be migrated? Thanks!

[2021-12-12 04:04] yhelen commented on #14260
I got my backend tests to work by renaming all the test usernames in `core/tests/test_utils.py`, e.g. by adding `123` to the end of all the usernames, as a temporary fix.

[2021-12-12 04:30] paprajapati9 commented on #9749
@nithusha21 can you please assign `exploration-player-page.component.ts` to me

[2021-12-12 05:21] paprajapati9 commented on #14404
@seanlip @Rijuta-s  had opened a issue for this before #14348

[2021-12-12 07:24] sahiljoster32 commented on #14404
https://user-images.githubusercontent.com/12553576/145704067-ba1a517e-3dfc-4731-bfa5-24bd08f5a39f.mp4

https://user-images.githubusercontent.com/12553576/145704070-e4be9bb7-204e-4481-93f9-5f08b5fb9c5d.mp4

Hey, @seanlip @Rijuta-s @Lawful2002 any of you please confirm that this is the expected behaviour from sidebar?

[2021-12-12 07:54] Lawful2002 commented on #14404
Thanks @sahiljoster32
 Yup! It seems like the expected behaviour of the mobile sidebar.

[2021-12-12 07:56] sahiljoster32 commented on #14404
thanks! @Lawful2002

[2021-12-12 08:11] sahiljoster32 commented on #14306
Closing this issue, since this issue is solved under PR #14258

[2021-12-12 08:11] #14306 closed, assigned to sahiljoster32

[2021-12-12 11:59] vojtechjelinek commented on #14033
@chiragbaid7 @adityanarayanm095 Done.

[2021-12-12 12:01] #14231 closed, assigned to Rijuta-s

[2021-12-12 17:08] paprajapati9 commented on #13830
@Rijuta-s @Lawful2002 I think the issue is that the width of the carousel window set does not takes into account the presence of the buttons, that's why when 2 buttons are present at the same time in carousel, it overflows the max-width set. To fix this we can either position absolute the buttons, or take into consideration the presence of buttons when setting the carousel window width. I personal

[2021-12-12 17:23] paprajapati9 commented on #13830
https://user-images.githubusercontent.com/42764756/145722596-10f0b9da-70ec-4a4d-8e7f-77231684b5e2.mp4

It's fine until only one button is present and breaks when both buttons are present

[2021-12-12 18:23] Rijuta-s commented on #13830
@paprajapati9  @Lawful2002  is already working on it! Thank you.

[2021-12-12 18:57] nbaddam commented on #13341
Hi! Can I please be assigned to the following files and their test files:
- build.py
- clean.py
- common.py
- servers.py

Thank you!

[2021-12-12 20:54] seanlip commented on #14404
@paprajapati9 -- ah sorry, missed the duplicate. Can you and @sahiljoster32 discuss which one to close, please?

And yup @sahiljoster32 the behaviour looks good to me, thanks!

[2021-12-13 02:23] paprajapati9 commented on #14404
Ya, since @sahiljoster32 is already working on this, I will close the other one.

[2021-12-13 02:24] paprajapati9 commented on #14348
Issue being worked upon in a new issue

[2021-12-13 02:24] #14348 closed, assigned to nobody

[2021-12-13 05:59] sahiljoster32 commented on #14404
Thanks @paprajapati9  for your kind cooperation!!

[2021-12-13 06:55] JeeveshGarg opened #14419 "Change the formatting of all the Enum class to the suggested style."
**Describe the bug**
Currently some enum classes are in SCREAMING_SNAKE_CASE, which is wrong naming style, correct one is PascalCase for the enum name and then UPPERCASE for the Keys, because we want to be consistent throughout the codebase according to [coding style guide](https://github.com/oppia/oppia/wiki/Coding-style-guide).

Instructions:
1. Ask for around three to four Enum classes (from th

[2021-12-13 10:16] IamEzio commented on #12882
Hey @srijanreddy98 is this issue still open?
I was going through the code when I found Todos related to angular migration and the removal of jQuery. I would like to contribute and help in any way possible. Can I work on this?
Thank you

[2021-12-13 11:32] vojtechjelinek commented on #12350
@darksun27 Can this be closed?

[2021-12-13 13:27] IamEzio commented on #11371
Hey @nithusha21 @brianrodri is this issue open to all?
I am a newbie to Oppia and would love to contribute!

[2021-12-13 20:32] swyuan27 commented on #14033
@vojtechjelinek @sajalasati Could I get assigned any? Looking for something simple to do for my first PR

[2021-12-13 20:52] swyuan27 commented on #13956
@vojtechjelinek Is it possible to reassign one of the functions/variables for me to migrate? Looking for something simple to do to get practice working on an open source project.

[2021-12-13 20:59] swyuan27 commented on #10474
@vojtechjelinek Any easier files that I can get assigned to? Thanks

[2021-12-13 22:25] pallavimantri opened #14422 "Undefined Read property Console Error while testing Fraction Lessons"
**Describe the bug**
I am facing a weird console error while testing fraction lessons on the Oppia testing server (Without logging in)
https://www.oppiatestserver.org/

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/'
 2. Click on 'Fun and Effective Learning start learning tab'
 3. Scroll down to 'Click on Fraction Lessons then go to Chapter 1: What is

[2021-12-13 22:45] pallavimantri opened #14423 "Wrong Audio option for Fraction lessons"
**Describe the bug**
A wrong Audio option for Fraction lessons while testing on Oppia test servers.(Without logging in)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org'
 2. Click on 'Fun and Effective Learning and click on the start learning tab'.
 3. Go to 'Fraction lessons' and click on chapter1: What is Fraction?.
 4. Scroll down and click on the 'C

[2021-12-13 23:38] pallavimantri opened #14424 "Audio option is not working for Fraction Chapter:1 and random characters in the description"
**Describe the bug**

1. English Audio option is not working for Fraction Lessons while testing on the Oppia test server (without logging in to my account).
2. There are some random characters at the end of the description of fraction lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org'
 2. Click on 'Fun and Effective Learning and click on the sta

[2021-12-14 01:30] BenHenning commented on #14285
Since I'm taking time off again in a few days, extending this to Jan.

[2021-12-14 05:00] U8NWXD opened #14425 "Previewing Exploration from Middle Card Produces Floating Box"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with multiple cards
 2. Preview the exploration from a middle card

**Observed behavior**
A floating box saying which card the exploration was started from appears and obscures the "Exploration Editor" text. This box also moves along with the exploration as the user scrolls, which looks wrong.

**Expected behavior**
The bo

[2021-12-14 05:03] U8NWXD opened #14426 "Multiple Choice Options are Shuffled Between Attempts"
**To Reproduce**
Steps to reproduce the behavior:
 1. Open (or create) an exploration with a multiple choice interaction, e.g. https://www.oppiatestserver.org/explore/cvwpTJc8HYXr
 2. Click on an incorrect answer

**Observed behavior**
When the answer choices appear again to give the learner another chance, the order has changed. This is unnecessarily confusing.

**Expected behavior**
The answer c

[2021-12-14 05:38] JeeveshGarg commented on #9749
@nithusha21 doing migration of `exploration-editor-page/editor-tab/templates/modal-templates`.
Thanks.

[2021-12-14 06:55] pallavimantri opened #14427 "Unable to preventDefault inside passive event listener invocation while testing Practice questions (Console Errors)- Fractions"
**Describe the bug**

1. 'Unable to preventDefault inside passive event listener invocation' while testing Practice questions (Console Errors) of Fractions on  Oppia test servers. (Without logging in)
2. Score Board showing score for 4 questions only instead of 10 questions.

**To Reproduce**
Steps to reproduce the behavior:'
 1. Go to 'https://www.oppiatestserver.org/'
 2. Click on 'Fun and Effec

[2021-12-14 08:15] nithinrdy commented on #11898
@vojtechjelinek may I take up this issue?

[2021-12-14 08:18] seanlip commented on #11898
Yup, go ahead!

[2021-12-14 09:13] #12350 closed, assigned to nobody

[2021-12-14 10:12] vojtechjelinek commented on #14033
@swyuan27 Assigned you the _core/domain/skill_domain.py_ and _core/domain/state_domain.py_

[2021-12-14 10:15] vojtechjelinek commented on #13956
Nothing can be assigned in this issue.

[2021-12-14 10:56] vojtechjelinek commented on #10474
@swyuan27 I already assigned you some work in another issue, I recommend fully focusing on that before you start with other issues.

[2021-12-14 12:10] MNSDivya opened #14428 "Chapters are not shown on the screen as they are aligned to the right most corner for arabic language"
**Describe the bug**
Chapters are not shown on the screen as they are aligned to the right most corner for arabic language

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in to 'https://www.oppiatestserver.org/'
 2. Navigate to preferences to change the language to Arabic
 3. Go to library page - https://www.oppiatestserver.org/community-library
 4. Verify the chapters below

**Observe

[2021-12-14 16:56] Rijuta-s commented on #14304
Closing via #14346 .

[2021-12-14 16:56] #14304 closed, assigned to paprajapati9

[2021-12-14 16:57] Rijuta-s commented on #14261
@murraytay  Will you like to take this up?

[2021-12-14 17:29] MNSDivya opened #14431 "Top navigation bar alignment is inconsistent for arabic language setting for library"
**Describe the bug**
Top navigation bar is inconsistent for arabic language setting for library

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org'
 2. Change langugage settings to Arabic
 3. Navigate to library https://www.oppiatestserver.org/community-library
 4. Verify screen1 is loaded with top nav bar
 5. Refresh the page and verify screen2 top nav b

[2021-12-14 21:01] vojtechjelinek commented on #14390
@seanlip The CUJ for RTEs didn't include a concept card in the list of stuff that should be tested, I have added it. Do you also want a separate CUJ just for concept card?

[2021-12-14 22:06] seanlip commented on #14390
Thanks @vojtechjelinek!

Sorry I don't understand your second question. What do you mean by "separate CUJ just for concept card"?

Ultimately, I think it's totally up to you (and Nithesh) how you want to structure it, as long as bugs like this don't arise in the future.

[2021-12-14 22:16] agtush941 commented on #14431
hey, I tried looking into the issue, the issue arises on windows 10 as well
I searched through the oppia.css as well as top-nav's typescripts as well as HTML files, but couldn't find anything much usefull
I think the problem is with the script that updates content and CSS when language is changed
I am new in this community and this is my first issue can you guide me for this issue more

[2021-12-14 23:15] pallavimantri opened #14432 "Wrong label for navigating the previous lessons for Revision of Fraction chapters"
**Describe the bug**
Wrong label for navigating the previous lessons for Revision of Fraction chapters. (Without logging in)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/'
 2. Click on 'Fun and Effective Learning start learning tab'.
 3. Scroll down to 'Click on Fraction Lessons.
 4. Now on the top bar click on the Revision button
 5. Click on the f

[2021-12-15 07:37] sahiljoster32 commented on #14033
Hey @vojtechjelinek , con you please assign me `core/domain/config_domain.py`!

[2021-12-15 09:47] vojtechjelinek commented on #14390
Sure I will discuss it with @nithusha21

[2021-12-15 09:50] vojtechjelinek commented on #14033
@sahiljoster32 Done.

[2021-12-15 11:37] MNSDivya commented on #14431
@agtush941  Please let me know what more details you need or how may I help you to resolve this issue.

[2021-12-15 13:23] IamEzio commented on #10474
Hey @vojtechjelinek ! Can I be assigned to "core/templates/domain/topic/editable-topic-backend-api.service.ts" ?

[2021-12-15 13:57] vojtechjelinek commented on #10474
@IamEzio Done

[2021-12-15 16:35] agtush941 commented on #14431
@MNSDivya
[https://github.com/oppia/oppia/blob/f74b606e8511cd4296b3c99aad37e53b66cca196/core/tests/protractor_desktop/userJourneys.js](url)
![image](https://user-images.githubusercontent.com/87225629/146226216-734f702e-0e0e-4337-b396-db72aace11f4.png)

this code changes css when user changes language and then sends it to the backend service and awaits for its response, the issue is with backend i

[2021-12-15 19:53] yadav-sachin commented on #14033
@vojtechjelinek I would take `core/domain/subtopic_page_domain.py`.

[2021-12-16 05:53] aquinod commented on #10474
Hi, I got stuck on the $provide type and JSON index types for the file I was assigned (QuestionObjectFactory). If anyone has tips on those, I would greatly appreciate it. Additionally, I tried another unclaimed file, TopicObjectFactory.ts which appeared to have been worked on recently but the PR ended up stale - I believe I fixed the issues with that file and I tried pushing. Was this premature of

[2021-12-16 06:25] nithinrdy commented on #14188
@Lawful2002 I've managed to fix the issue (the score ring now animates, filling up to the required value starting from 0). However, I've noticed a different issue.

When on the results page, if the page is reloaded a single time, the score-ring breaks and displays a solid color (dark-green or dark-orange, as if the user scored 100%, regardless of the actual score). Is this something that needs to

[2021-12-16 06:33] aquinod commented on #10474
Hi - I was struggling with my assigned QuestionObjectFactory.ts due to some issues with finding the type with $provide and the type for indexing into INTERACTION_SPECS. I did try to work on a different unclaimed file, TopicObjectFactory.ts and tried making a PR for that.

[2021-12-16 09:52] anthonyqzhu commented on #14219
Could I please be assigned to core.constants_test? @U8NWXD

[2021-12-16 10:19] mridul-netizen opened #14447 "Search Bar overlaps with side navbar in Mobile view"
**Describe the bug**
Search Bar overlaps with side navbar in Mobile view

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'classroom page' in mobile view (https://www.oppiatestserver.org/learn/math)
 2. Scroll down
 3. Click On sidenavbar

**Observed behavior**
Search Bar overlaps with side navbar in Mobile view

**Expected behavior**
Search bar should hide under side navbar

**Screens

[2021-12-16 10:28] mridul-netizen opened #14448 "Story Progress disappears in mobile view on Topic Player Page"
**Describe the bug**
Story Progress disappears in mobile view on Topic Player Page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topic-player-Page' in mobile view(https://www.oppiatestserver.org/learn/math/fractions/story)
 2. Observe Story Progress SVG

**Observed behavior**
Story Progress disappears in mobile view on Topic Player Page

**Expected behavior**
It should show the cor

[2021-12-16 10:39] jonathanalvares9009 commented on #10700
HI @srijanreddy98, I would like to take up Fraction part. Could you assign it to me?

[2021-12-16 11:05] mridul-netizen commented on #10700
Hey @jonathanalvares9009 assigned you for `ParamChangesObjectFactory` !! Fraction one has been already migrated

[2021-12-16 11:07] jonathanalvares9009 commented on #10700
Thanks @mridul-netizen

[2021-12-16 11:16] mridul-netizen commented on #10700
@AbhayTrivedi assigned you for `PlaythroughIssueObjectFactory`

[2021-12-16 11:49] Lawful2002 commented on #14188
@nithinrdy, I think the results page should still show the proper score-ring even after it is reloaded. So I think fixing it would be a good idea. (though I'm not sure if the user is meant to refresh the results page or not)

[2021-12-16 12:11] vojtechjelinek commented on #14033
@yadav-sachin  Done.

[2021-12-16 22:23] sagangwee commented on #14358
Seeing the same issue for displaying reviewable suggestions, which is probably due to fetching all available reviewable suggestions up to the query limit of 1000 in core/storage/suggestion/gae_models.py.

[2021-12-16 22:46] jimbyo commented on #14358
@sagangwee Hmm, It's strange when i tested this change I had about 200 suggestions, and it seemed to display pretty quickly. Can you post a screenshot of the network tab when loading the reviewable suggestions.

[2021-12-16 23:00] sagangwee commented on #14358
Sure, thing:

<img width="762" alt="Screen Shot 2021-12-16 at 5 58 27 PM" src="https://user-images.githubusercontent.com/9004726/146461417-fd1c09bc-d0d2-4386-bb38-458db5c12c7a.png">

That's for what I believe is the max 1000 suggestions.

[2021-12-17 06:35] U8NWXD commented on #14219
@anthonyqzhu done!

[2021-12-17 16:02] #14390 closed, assigned to vojtechjelinek, nithusha21, aishwary023

[2021-12-17 18:50] dchen97 commented on #14431
@aks681 Can you help with this?

[2021-12-18 08:24] Rijuta-s commented on #13799
Same as issue number #14209. Thanks @lkbhitesh07  for raising it up :).

[2021-12-18 08:24] #13799 closed, assigned to nobody

[2021-12-18 08:30] #14404 closed, assigned to sahiljoster32, Rijuta-s, Lawful2002

[2021-12-18 12:31] sahiljoster32 commented on #14448
Closing this issue because it is resolved as per offline discussion.
Reason:because this issue is not occuring in navigation through mobile and through desktop.
However, this issue is occured only when we change view from desktop to mobile in between navigation which is probably not practical.

https://user-images.githubusercontent.com/12553576/146640964-a9925683-5abd-4b67-8826-823ee9cfeb97.mp4

T

[2021-12-18 12:31] #14448 closed, assigned to nobody

[2021-12-18 17:59] JeeveshGarg commented on #9749
@nithusha21 assign me `exploration-editor-page/editor-tab/templates/modal-templates/exploration-graph-modal.controller`

[2021-12-18 23:52] murraytay commented on #14261
Sure, if it's still available!

[2021-12-19 06:22] soumyo123-prog commented on #14187
@U8NWXD Working on migration and coverage of `contribution-and-review.service.ts`

[2021-12-19 08:49] tlidev commented on #14033
Hi, @vojtechjelinek! Can you assign me `core/domain/story_domain.py`?

[2021-12-19 12:36] IamEzio commented on #10700
Hey @srijanreddy98 @mridul-netizen , Can I be assigned to `HintObjectFactory.ts`  ?

[2021-12-19 13:50] mridul-netizen commented on #10700
Done!

[2021-12-19 18:53] Lawful2002 commented on #13830
As of now this issue I'm not able to reproduce this issue on the develop branch and the oppia test server. @paprajapati9, @ShivamJhaa  Could you still reproduce this issue? If it is not reproducible then this issue will be closed. Thanks

[2021-12-19 18:55] SD-13 commented on #14033
@vojtechjelinek can you please assign me `core/domain/topic_domain.py`. Thanks

[2021-12-20 03:15] paprajapati9 commented on #13830
@Lawful2002 This particular issue is not reproducable but I think the other issue that we discussed in the meeting of both sides arrows are visible even when there is no scroll possible should be fixed. It's there on page load and goes away once the screen is resizsed. Maybe we can call the resize event on window load event as well simply to fix this.

https://user-images.githubusercontent.com/427

[2021-12-20 05:09] U8NWXD commented on #14187
@soumyo123-prog done

[2021-12-20 11:14] vojtechjelinek commented on #14033
@SD-13 Done.

[2021-12-20 12:51] adityanarayanm095 commented on #14033
@vojtechjelinek how to fix this one? I am not getting solution.

![Screenshot from 2021-12-20 18-05-15](https://user-images.githubusercontent.com/91023072/146769709-21efdde8-6b4b-47b6-83f6-b9a3a3243ab9.png)
![Screenshot from 2021-12-20 18-04-17](https://user-images.githubusercontent.com/91023072/146769715-c56c5479-1a7f-4c04-ac8a-4e0621a2b6be.png)

[2021-12-20 13:00] vojtechjelinek commented on #14033
What is the type of `self.exploration_ids`?

[2021-12-20 13:02] adityanarayanm095 commented on #14033
It is string-type

[2021-12-20 13:17] vojtechjelinek commented on #14033
That is wrong it should be a list of strings.

[2021-12-20 14:26] bhavukJain opened #14464 "Remove null as a possible option for interactionId"
**Description**

Remove the null type as a potentially valid type for interaction ID, as the interaction ID can never be null.

**Describe the solution you'd like**

1. Remove NULL as a potential value.

**Steps to solve the issue:**
- Remove the null type from [here](https://github.com/oppia/oppia/blob/develop/core/templates/domain/exploration/InteractionObjectFactory.ts#L95)
- Fix all the corres

[2021-12-20 15:48] bhavukJain commented on #14219
Could I please be assigned to core.storage.activity.gae_models_test? @U8NWXD

[2021-12-20 16:12] U8NWXD commented on #14219
@bhavukJain done

[2021-12-20 16:52] bhavukJain commented on #14219
Hi @U8NWXD I believe you accidentally put my username against "core.storage.skill.gae_models_test" whereas I requested for and I am working on "core.storage.activity.gae_models_test". I request you to kindly re-assign it. Thanks!

[2021-12-20 19:44] AbhayTrivedi commented on #10474
@vojtechjelinek, please assign me a good first file.

[2021-12-20 23:06] sagangwee commented on #14238
We are seeing at least 6 different users for Hindi translations in the datastore. I am also able to verify this on the dashboard with Hindi review rights. Revati seems to account for about 1/3 of the in review translations.

[2021-12-21 05:47] U8NWXD commented on #14219
Sorry about that @bhavukJain. I've fixed it. Thanks for noticing!

[2021-12-21 10:08] adityanarayanm095 commented on #14033
![Screenshot from 2021-12-21 15-37-17](https://user-images.githubusercontent.com/91023072/146911777-99829ba8-0892-46bc-b8a3-dedd9342bc55.png)

Now It is giving this error

[2021-12-21 10:11] #14330 closed, assigned to nobody

[2021-12-21 12:14] vojtechjelinek commented on #10474
@aquinod @AbhayTrivedi Done.

[2021-12-21 12:16] vojtechjelinek commented on #14033
@adityanarayanm095 Did you change the type of `exploration_id` to `List[str]`?

[2021-12-21 13:45] Rijuta-s commented on #14261
@murraytay Thanks for working on this!

[2021-12-21 16:58] adityanarayanm095 commented on #14033
yes

[2021-12-21 16:58] adityanarayanm095 commented on #14033
yes

[2021-12-21 17:22] Lawful2002 commented on #13830
Closing because this is no longer reproducible

[2021-12-21 17:22] #13830 closed, assigned to Lawful2002, ShivamJhaa

[2021-12-21 17:56] adityanarayanm095 commented on #14033
It is fixed, Thanks

[2021-12-22 03:57] lkbhitesh07 commented on #11249
Hey @EricZLou, @kevintab95 So I was trying to track this issue and got to know about the flow how's everything is taking place. So as soon as we select the rule description it gets divided down and get stored in an array `ruledescriptionFragment` and we then have to iterate over for the values as by default for `is equal to` we have one `Real` value and for `is between ... and ...` we will have 2

[2021-12-22 06:46] swyuan27 commented on #14033
@vojtechjelinek please take me off my assigned files, I apologize for the inconvenience

[2021-12-22 11:25] yadav-sachin commented on #14033
@vojtechjelinek I am constantly getting this error while trying to run this script `python -m scripts.run_mypy_checks --files core/domain/subtopic_page_domain.py`.

``error An unexpected error occurred: "https://registry.yarnpkg.com/@firebase/firestore/-/firestore-2.4.0.tgz: ESOCKETTIMEDOUT".``

[2021-12-22 12:07] adityanarayanm095 commented on #14033
@vojtechjelinek
![Screenshot from 2021-12-22 17-35-22](https://user-images.githubusercontent.com/91023072/147090423-f4a039f2-22c7-4caf-8a5f-faa5b45facd9.png)
How to type-annotate this one?

![Screenshot from 2021-12-22 17-35-38](https://user-images.githubusercontent.com/91023072/147090496-5ea83d21-327a-413d-b86b-fc81526a2683.png)
This is the suggestion, but it is giving more error.

[2021-12-22 12:59] vojtechjelinek commented on #14033
Do you have a stable internet connection? Can you try to run the command again?

[2021-12-22 12:59] vojtechjelinek commented on #14033
@adityanarayanm095 You will problably need to use `TypedDict`, please look how is it used in other places.

[2021-12-22 16:03] vojtechjelinek commented on #13162
@AmanJolly16 Hey, are you working on this?

[2021-12-22 16:37] adityanarayanm095 commented on #14033
Do I have to ignore the ` [no-untyped-call]` without resolving it.

[2021-12-22 17:41] vojtechjelinek commented on #14033
Not sure what you mean.

[2021-12-23 04:06] adityanarayanm095 commented on #14033
I am talking about these errors
![Screenshot from 2021-12-23 09-32-09](https://user-images.githubusercontent.com/91023072/147186421-8d6bed7e-f05d-4094-8a28-08b5dc7375f1.png)

![Screenshot from 2021-12-23 09-30-30](https://user-images.githubusercontent.com/91023072/147186513-76fe7337-9a4a-4ca1-bc22-3e64a760e0fb.png)

[2021-12-23 06:42] Lawful2002 commented on #13010
I believe the options also need to be translated accordingly (refer the image below), as the options would be confusing for the users attempting the lesson in Portuguese.
![image](https://user-images.githubusercontent.com/73544247/147199412-2d056288-f9dc-4f12-8011-a72039fc0cb2.png)

[2021-12-23 09:35] vojtechjelinek commented on #14033
@JayVivarekar Yep feel free to add the ignores there.

[2021-12-23 15:46] tlidev commented on #13480
Hello @vojtechjelinek, I've submitted a PR to address this issue. :grinning:

[2021-12-23 18:23] #13680 closed, assigned to dchen97, Rijuta-s

[2021-12-24 08:17] YashKandalkar commented on #14426
@U8NWXD The shuffling only seems to happen when the checkbox on the bottom of edit interaction is checked:
![image](https://user-images.githubusercontent.com/35102959/147333469-c24b1b57-f042-45b1-b8e4-2e2b9099da4c.png)
When it isn't checked, the options seems to be in the same order on multiple plays.

[2021-12-24 09:54] YashKandalkar commented on #14425
Hey, I added a fade in and out animation for the warning div, because it's fine to just show this message at the start.
Also made the position fixed so that it doesn't move on scroll. The whole animation is of 8 seconds.

https://user-images.githubusercontent.com/35102959/147342082-7403763d-c71e-4dec-ade2-966ac8b89b5d.mp4

Should I make a PR for this?

[2021-12-24 11:21] yadav-sachin commented on #14033
@vojtechjelinek
I have tried it multiple times and with a VPN as well.  The error still persists.
Please unassign me the task. This could be problem-related to my system. Apologies for the inconvenience caused.

[2021-12-24 11:23] IamEzio commented on #10616
@Hudda @vojtechjelinek Can `@typescript-eslint/lines-between-class-members` be assigned to me?

[2021-12-24 11:37] jadsonjs opened #14482 "Projects with low Build Activity - Survey"
Dear Developers of project **oppia/oppia,**

We are conducting a study on CI metrics and we noticed that in your project, something peculiar happened.

During the period you are using Travis CI, the project passed by a long period of inactivity.
We noticed that the TravisCI configuration file (.travis.yml) was committed to your project on the date of **2015-08-25**.
But there is only a build histo

[2021-12-24 14:44] Rijuta-s commented on #14447
@nithinrdy I guess this issue will be fixed when the search bar is redesigned? If yes, please link it to the PR. Thanks!

[2021-12-24 16:08] AmanJolly16 commented on #13162
@vojtechjelinek Hey! Yes, I am working on it. Sorry for the late reply, I was unwell.

[2021-12-24 20:18] Vineet-the-git commented on #14033
Hey ! I am new to openSource , @sajalasati  please assign me a file. I would like to work on this.

[2021-12-25 05:54] DiptoChakrabarty commented on #14219
hey I am interested in working on this issue , I want to run the coverage tests first but getting this error

------------------------------------------------------
Traceback (most recent call last):
  File "/home/ubuntu/oppia/scripts/run_backend_tests.py", line 455, in main
    test_count = int(tests_failed_regex_match.group(1))
AttributeError: 'NoneType' object has no attribute 'group'

During h

[2021-12-25 06:49] adityanarayanm095 commented on #14033
@vojtechjelinek What should I do to resolve this error?

![Screenshot from 2021-12-25 12-17-25](https://user-images.githubusercontent.com/91023072/147379263-e21afc3a-d66c-40fd-a597-0d56ca421eec.png)
![Screenshot from 2021-12-25 12-17-50](https://user-images.githubusercontent.com/91023072/147379265-91478c12-6a95-4a16-b227-ed9743126144.png)

[2021-12-25 10:51] vojtechjelinek commented on #14033
@Vineet-the-git Done.

[2021-12-25 10:52] vojtechjelinek commented on #14033
You will need to add
[code]

like we do in other files.

[2021-12-25 10:56] yadav-sachin commented on #14033
I am still facing the issue after trying multiple times, with VPN as well.
Please unassign me the task. Apologies for the inconvenience caused.

[2021-12-25 14:28] camperjett commented on #10474
Hi @vojtechjelinek, Please assign me to ```core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts```

[2021-12-25 18:16] chiragbaid7 commented on #14219
`core.domain.collection_domain`, `core.domain.exp_domain` and `core.storage.email.gae_models_test` @chiragbaid7

[2021-12-25 21:35] dushyantbhardwaj9 commented on #12912
Hey @vojtechjelinek, Is this still open?

[2021-12-26 09:38] dhruvshrivastava commented on #14219
Hi, Could I please be assigned to core.storage.email.gae_models_test? @U8NWXD

[2021-12-26 09:43] dhruvshrivastava commented on #14033
Hi @sajalasati , could I please be assigned the following?

core/domain/skill_domain.py
core/domain/state_domain.py
core/domain/stats_domain.py

Thanks.

[2021-12-26 10:51] chiragbaid7 commented on #14219
Hi Dhruv, I  am already working on it.

[2021-12-26 11:56] vojtechjelinek commented on #10474
@camperjett Done.

[2021-12-26 11:57] vojtechjelinek commented on #12912
@dushyantbhardwaj9 Yes

[2021-12-26 12:02] vojtechjelinek commented on #14033
@dhruvshrivastava Hey, I have assigned you only two of these since I think these are more complicated ones, feel free to ask for more once you have typed the two.

[2021-12-26 12:58] Vineet-the-git commented on #14033
![Screenshot from 2021-12-26 18-25-31](https://user-images.githubusercontent.com/80666035/147408776-282ad5a9-e8da-45eb-8cae-243627a256e2.png)

@vojtechjelinek  It is showing 285 errors , so I just wanna make sure that is it okay? or have I done some mistake in following the instructions?

[2021-12-26 14:50] dhruvshrivastava commented on #14219
My apologies, @chiragbaid7. Could I please be assigned core.domain.user_domain_test instead? @U8NWXD

[2021-12-26 14:51] dhruvshrivastava commented on #14219
My apologies, @chiragbaid7. Could I please be assigned core.domain.user_domain_test instead? @U8NWXD

[2021-12-26 17:48] ayushjaink8 commented on #14219
@U8NWXD can you please assign me these three tests:
 1) core.controllers.base_test
 2) core.controllers.editor_test
 3) core.controllers.resources_test

[2021-12-26 23:48] U8NWXD commented on #14426
@YashKandalkar yes, but I still think this is bad from a UI perspective. We can show the user shuffled answer choices, but if they get the answer wrong and try again, they should see the _same_ shuffled ordering. Changing the ordering between attempts doesn't seem useful to me, and it makes it more likely that the user will click the wrong answer choice. For example, imagine you get these answers:

[2021-12-26 23:50] U8NWXD commented on #14425
I defer to @kevintab95 on this since I don't actually lead this project

[2021-12-26 23:52] U8NWXD commented on #14219
@DiptoChakrabarty you might need to install coverage with `pip install coverage`

[2021-12-26 23:53] U8NWXD commented on #14219
@chiragbaid7 I just assigned you to the first one for now. Once you open a PR for that, I'm happy to assign you another task

[2021-12-26 23:54] U8NWXD commented on #14219
@dhruvshrivastava done!

[2021-12-26 23:55] U8NWXD commented on #14219
@ayushjaink8 I assigned you to your first request for now. Once you open a PR for that, you can take up another task

[2021-12-27 03:41] lkbhitesh07 commented on #11249
Forgot to assign
@EricZLou @kevintab95 PTAL!
Thanks

[2021-12-27 06:26] Rijuta-s commented on #13010
@Lawful2002 yeah, it will be awesome if you can make that change as well. Thank you!

[2021-12-27 16:42] chiragbaid7 commented on #14219
a

[2021-12-27 17:39] Vineet-the-git commented on #14033
![Screenshot from 2021-12-27 23-00-09](https://user-images.githubusercontent.com/80666035/147494604-e9916398-2898-4a9a-9c3a-7f12284d2128.png)

@vojtechjelinek  when I am using Optional[int] as return type of function "get_node_index" it gives the following error
![Screenshot from 2021-12-27 23-02-08](https://user-images.githubusercontent.com/80666035/147494609-1daf9f00-30f3-40dc-a6e6-ed3f7faac9de.

[2021-12-27 17:58] Vineet-the-git commented on #14033
![Screenshot from 2021-12-27 23-16-49](https://user-images.githubusercontent.com/80666035/147495589-798378ac-67c2-420f-ba51-4a41821637ba.png)
@vojtechjelinek  given above is a class in my code and given below is a function to return the class instance as dictionary , but i there any other way to set the  return type of function "to_dict" other than "Any".
I have tried dict but it is not working th

[2021-12-27 18:54] heyimShivam opened #14501 "skill-perrequisite not working"
## Issue

https://user-images.githubusercontent.com/77006897/147499193-8dfae441-1b14-4e07-bd35-6e7bf009ff4d.mp4

## Expected Behaviour

https://user-images.githubusercontent.com/77006897/147499248-56a1bee8-2a92-470a-8f42-ab84320d5f2d.mp4

**Describe the bug**
skill-prerequisite not working fine please check the video `issue` for more details

**To Reproduce**
Steps to reproduce the behavior:
 1. G

[2021-12-27 18:55] heyimShivam commented on #14501
i would like to  work on this issue @srijanreddy98 @ashutoshc8101

[2021-12-28 09:00] ShivamJhaa opened #14502 "Reusing save pending changes modal for all editor pages."
**Is your feature request related to a problem? Please describe.**
Currently, we have different save pending changes modals for different editor pages, like topic editor, exploration editor.
**Describe the solution you'd like**
We can reuse the modal for different editor pages by using it as a shared component.
**Describe alternatives you've considered**
A clear and concise description of any alte

[2021-12-28 09:29] Manan-Rathi commented on #12912
Hi @vojtechjelinek! Could you kindly assign me `no-else-continue` and `no-else-raise`?

[2021-12-28 11:26] DubeySandeep commented on #12912
Hi @Manan-Rathi, I've assigned you to `no-else-continue` and `no-else-raise`!

[2021-12-28 11:59] Manan-Rathi commented on #12912
Should I create two separate PRs or just one?

[2021-12-28 12:13] DubeySandeep commented on #12912
@Manan-Rathi  Create one PR with all the changes i.e, enabling both the rules and fixing existing lint issues in the codebase. (Considering the number of changed files in the PR won't be > 50)

[2021-12-28 16:49] IamEzio commented on #12912
Hi @vojtechjelinek @DubeySandeep ! Can I be assigned to `deprecated-method` ?

[2021-12-28 18:10] DubeySandeep commented on #12912
@IamEzio I've assigned you to `deprecated-method`!

[2021-12-28 21:41] da-r-k commented on #10474
Hi @vojtechjelinek, please assign me to "core/templates/components/forms/custom-forms-directives/thumbnail-uploader.component.ts"

[2021-12-29 05:24] Manan-Rathi commented on #10474
Hi @vojtechjelinek. Could you assign me to `core/templates/base-components/base.module.ts` and another good-first file?

[2021-12-29 08:34] vojtechjelinek commented on #14033
@Vineet-the-git For the first comment, the return type of the `get_node_index` should be `Optional[int]` then in the callsites you will need to make sure that the value returned from `get_node_index` is not `None` when using it for indexing.

For the dict you will need to use `TypedDict`, look into other files to see how we use it.

[2021-12-29 10:06] ShivamJhaa opened #14510 "Delete answer group modal is not working"
**Describe the bug**
Whenever we try to delete the answer group, it's not working. This problem is arising due to adding the component in exploration-editor-page.module.ts instead of shared-component.module.ts

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to skill editor
 2. Click on create a new question
 3. Add interaction and response
 4. See error

**Observed behavior**

https://us

[2021-12-29 10:15] ShivamJhaa commented on #14510
This was introduced in this PR https://github.com/oppia/oppia/pull/14429

[2021-12-29 11:41] #14389 closed, assigned to EricZLou

[2021-12-29 11:53] IamEzio commented on #12912
Hey @DubeySandeep Can I also work on `consider-using-in` ?

[2021-12-29 14:49] YashKandalkar commented on #10474
@vojtechjelinek Please assign `core/templates/domain/collection/*.ts` this folder to me. A few of it's files have strict typing checks issues.

[2021-12-29 15:48] vojtechjelinek commented on #10474
@YashKandalkar Sure

[2021-12-29 16:17] ashutoshc8101 opened #14514 "Remove dead code for voiceover tab on contributor dashboard page."
**Describe the bug**
We have dead code for the voiceover tab on the contributor dashboard page which needs to be removed.
This issue is created to keep track of it.

[2021-12-29 17:17] sudojarvis commented on #10474
@vojtechjelinek
I am working on the issue  (core/templates/components/button-directives/hint-and-solution-buttons.component.ts).  While running " python -m scripts.typescript_checks --strict_checks" gives lots of errors.I need help to proceed further. I am attaching the screenshot.
![Screenshot from 2021-12-03 17-45-51](https://user-images.githubusercontent.com/75030755/147687349-0e61e309-71ec-442

[2021-12-30 04:42] paprajapati9 commented on #14431
hey @seanlip I looked into the issue and it seems in a change made 2 months back for the Arabic language all things were aligned to right as in this PR https://github.com/oppia/oppia/pull/13980,  which results in a lot of things breaking. I think this should be the reason why our carousels were breaking as well for Arabic language https://github.com/oppia/oppia/issues/14428.
![Screenshot from 2021

[2021-12-30 05:03] seanlip commented on #14431
Thanks for looking into this, @paprajapati9! Just to check -- what you discovered means there's still stuff to be fixed here and in #14428 , right?

If so, would you like to take up both fixes instead of @aks681 (if you have a clear handle on what is going on)?

[2021-12-30 05:11] paprajapati9 opened #14519 "Profile Page seams broken"
**Describe the bug**
The cards and interests tags on the profile page seem broken, the cards should have 2-3 columns in larger sceen sizes and the interests tags should not overflow.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/profile/plegner
 3. Scroll down to see cards
 4. See error

**Observed behavior**
The cards are displayed in 1 only column while there

[2021-12-30 05:55] paprajapati9 commented on #14431
Yes @seanlip, I can still see #14428 on oppia test server. But I don't know if this right alignment of header, footer and anything else is a issue cause it is a feature that is being worked upon in https://github.com/oppia/oppia/issues/13880

[2021-12-30 06:19] Manan-Rathi commented on #14033
Hi, @vojtechjelinek. Could you please assign me to `core/domain/subtopic_page_domain.py`? Thanks!

[2021-12-30 10:22] chiragbaid7 commented on #14355
Hi, I would like to work on this issue. Since I have worked on contributor dashboard in the past pertaining to PR #14063
so I have a fair bit of idea.
Thanks

[2021-12-30 10:56] seanlip commented on #14355
Hi @chiragbaid7 -- I would say, go for it. How long do you think this will take you?

[2021-12-30 11:18] chiragbaid7 commented on #14355
I don't know tbh as I should propose my approach for this feature in docs first and then implement it . Can I get more information regarding this issue.

[2021-12-30 11:32] ayushjaink8 commented on #14219
@U8NWXD My previous PR is successfully merged and I want to work on: core.controllers.editor_test
Can you please assign this issue to me?

[2021-12-30 12:19] ananth243 commented on #14219
@U8NWXD could I be assigned core.controllers.profile_test for my first test?

[2021-12-30 13:55] #14011 closed, assigned to paprajapati9

[2021-12-30 15:30] seanlip commented on #14355
Per discussion with @chiragbaid7 -- let's leave this with @sagangwee for the time being.

[2021-12-30 18:46] vojtechjelinek commented on #14033
@Manan-Rathi Done.

[2021-12-30 18:51] vojtechjelinek commented on #10474
@sudojarvis Probably some dependency problem, instead of working on the assigned file pick a file from the list of errors and try to fix it.

[2021-12-30 18:52] Vineet-the-git commented on #14033
@vojtechjelinek  if I apply an if condition to make sure that it is for indexing only when the return value is not "None", but what to put at index when the value of index returned by the function is "None" to run the function and get a list of ordered_nodes.

[2021-12-30 18:55] vojtechjelinek commented on #14033
Not sure, I think you can raise an exception in that case.

[2021-12-30 19:14] rohittiwari761 commented on #12912
Hey @vojtechjelinek Can you please assign me  **`unnecessary-pass`**?

[2021-12-31 04:38] U8NWXD commented on #14219
@ananth243 @ayushjaink8 done!

[2021-12-31 08:01] IamEzio commented on #14219
@U8NWXD Can i be assigned to `extensions.rich_text_components.components_test` ?

[2021-12-31 13:24] #14510 closed, assigned to ShivamJhaa

[2021-12-31 15:17] heyimShivam opened #14524 "flake in Frontend test"
Some time flake came in the frontend test

**Describe the bug**
some time flake came in frontend test

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'terminal'
2. write command and press enter

**Screenshots**

![desktop](https://user-images.githubusercontent.com/77006897/147830140-e2faee0f-d601-4f52-9af0-a79974ec6f86.png)

**Desktop (please complete the following information; delete

[2021-12-31 15:17] heyimShivam commented on #14524
@Radesh-kumar PTAL

[2021-12-31 15:18] heyimShivam commented on #14524
this is coming only in GitHub cli, in my local environment this is not coming that's why I am unable to solve it PTAL

[2021-12-31 15:19] heyimShivam commented on #14524
i my local environment this is not coming that's why I am unable to solve it PTAL

[2021-12-31 17:35] Aayush987 commented on #10474
Hey  @vojtechjelinek ,  @nishantwrp can you assign me to the file   core/templates/services/playthrough.service.ts . I have solve all the errors in it. If no one is working  please assign it.

[2021-12-31 18:19] U8NWXD commented on #14219
@IamEzio done!

[2021-12-31 19:07] gp201 opened #14525 "Indentation error in scripts/run_backend_tests.py"
### Discussed in https://github.com/oppia/oppia/discussions/14507

<div type='discussions-op-text'>

<sup>Originally posted by **ananth243** December 28, 2021</sup>
I think there's a slight error in line 498 of scripts/run_backend_tests.py
Reason is when I run python -m scripts.run_backend_tests --test_target core.controllers.editor_test I get 83 (all) tests have passed but now when I run --genera

[2022-01-01 06:46] chiragbaid7 commented on #14219
core.storage.email.gae_models_test @chiragbaid7

[2022-01-01 09:02] bhaktideshmukh commented on #10474
Hey! @vojtechjelinek can i be assigned "core/templates/components/oppia-angular-root.component.ts" ?

[2022-01-01 09:59] Manan-Rathi commented on #14033
Hi @vojtechjelinek. How do I type this method (specifically the last argument)? I tried searching other folders for similar cases, but couldn't find any. Thanks!
Link: https://github.com/oppia/oppia/blob/develop/core/domain/subtopic_page_domain.py

![Screenshot from 2022-01-01 15-21-43](https://user-images.githubusercontent.com/76519771/147848168-672eac67-51c4-4a15-807d-4b440bca301a.png)

[2022-01-02 06:54] U8NWXD commented on #14219
@chiragbaid7 done

[2022-01-02 07:51] IamEzio commented on #14219
@U8NWXD Can I be assigned to `core.controllers.questions_list_test` ?

[2022-01-02 11:31] ShivamJhaa opened #14530 "Save question button not visible on topic editor page"
**Describe the bug**
Save button is not visible after adding a question to the topic editor page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor page
 2. Click on the question editor tab
 3. Add a question
 4. See that the save button is not visible at the right bottom

**Observed behavior**
Save Button is not visible at the right bottom

**Expected behavior**
The bu

[2022-01-02 13:17] ananth243 commented on #14219
@U8NWXD Could I be assigned to ```core.controllers.resources_test```?

[2022-01-02 16:02] rishabhbajpai2000 commented on #14033
@sajalasati
I am new to Oppia, Can you please assign the following file to me?
core/domain/stats_domain.py

[2022-01-02 17:08] AnuragVats007 commented on #14419
hey @JeeveshGarg can I work on refactoring the class PARAM_NAMES?

[2022-01-03 06:19] pankaj819kumar commented on #14219
@U8NWXD  i want work on this issue

[2022-01-03 09:02] paprajapati9 commented on #13880
@aks681 Can you please take a look at #14431 and verify if it's a feature also the mirror image thing for arabic language is not handled well in multiple pages as I have mentioned in #14431, can you please take a look at that too and see if it needs to be fixed. Thanks!

[2022-01-03 09:15] vojtechjelinek commented on #10474
@Aayush987 @bhaktideshmukh Done.

[2022-01-03 09:54] vojtechjelinek commented on #14033
I recommend looking into the MyPy documentation https://mypy.readthedocs.io/en/stable/cheat_sheet_py3.html#functions. You will need to use `Callable`.

[2022-01-03 09:54] vojtechjelinek commented on #14033
Done.

[2022-01-03 10:10] div-yam commented on #14033
Hi @vojtechjelinek  . Can you assign me change_domain.py as it has been under assignment for a long time.

[2022-01-03 11:29] vojtechjelinek commented on #14033
@namangirdhar16 Are you still working on this PR?

[2022-01-03 11:57] Manan-Rathi commented on #14033
Hi @vojtechjelinek. Could you please help me overcome: Thanks!
1. The `schema_version` expects str type(Line 337). However, the value assigned is int (`current_version+1`) (Line 343).

![Screenshot from 2022-01-03 17-12-02 (1)](https://user-images.githubusercontent.com/76519771/147927331-1004ded9-5cd6-41c0-a9d1-e811fd4484d3.png)

2. The `get_subtopic_page_id` expects `(str, int)` but both `topic_i

[2022-01-03 12:49] JeeveshGarg commented on #14419
@AnuragVats007 assigning you.

[2022-01-03 13:25] seanlip commented on #12964
@dchen97 I think the Partnerships page is now live at https://www.oppia.org/partnerships. What should the next steps be here?

[2022-01-03 14:15] nithinrdy commented on #14530
Hey, I can take this up.

[2022-01-03 14:27] ShivamJhaa commented on #14530
Sure, go ahead.

[2022-01-03 16:29] vojtechjelinek commented on #14033
1. Hmm, not sure the docstring might be wrong, you will need to verify that.
2. Probably some kind of mistake, please verify what should be the correct value and feel free to refactor the code.

[2022-01-03 17:55] dchen97 commented on #12964
@Melaniesojourner should work with the UXW team to make sure these ideas/designs are integrated into the new user flows they’re building

[2022-01-03 18:59] vojtechjelinek opened #14537 "Make sure that domain object files do not import services"
We want to make sure that all domain objects files do not import from services, registries, managers or cleaners. This is because the domain objects should be just simple objects without any complicated functionality. This will help with introducing validation jobs and validation in the put pipeline.

Tracking sheet: https://docs.google.com/spreadsheets/d/1ycsUq3gWtMM50FBtbfjJYtto4xuJA3uD6Lqw66xOF

[2022-01-03 23:53] U8NWXD commented on #14219
@IamEzio @ananth243 done

[2022-01-03 23:53] U8NWXD commented on #14219
@pankaj819kumar Great! Which task would you like to work on?

[2022-01-04 00:40] #14525 closed, assigned to U8NWXD

[2022-01-04 01:48] Manan-Rathi commented on #14033
Hey @vojtechjelinek. The file https://github.com/oppia/oppia/blob/develop/core/domain/subtopic_page_domain.py uses a lot of untyped methods from `state_domain.py` resulting in `[no-untyped-call]`. Should I ignore these errors?

[2022-01-04 01:56] aks681 commented on #14431
Hey @paprajapati9 #14428 and other RTL related issues for all the player pages should be fixed with my PR #14375. (If you'd like, you can pull that PR locally and check it yourself just to make sure it is fixed!)
The specific spacing in the navbar would be the only pending thing after that PR gets merged.

[2022-01-04 03:46] IamEzio commented on #14219
@U8NWXD Can I be assigned to `core.controllers.library_test` ?

[2022-01-04 04:03] paprajapati9 commented on #14431
Okay @aks681. Then this particular issue of navbar alignment should be resolved in a separate PR. Will take a look and try to fix it. Thanks!

[2022-01-04 07:28] chiragbaid7 commented on #14383
Hi, I am working on this.

[2022-01-04 09:19] vojtechjelinek commented on #14033
Yes ignoring `no-untyped-call` is fine.

[2022-01-04 11:16] Manan-Rathi commented on #14033
Hi @vojtechjelinek. I get this last error in the _test.py file:
`Signature of "_assert_validation_error" incompatible with supertype "TestBase"  [override]`
I didn't find anything suitable in the [wiki](https://github.com/oppia/oppia/wiki/Backend-Type-Annotations#adding-type-annotations). Could you please help me here?
File link: https://github.com/oppia/oppia/blob/develop/core/domain/subtopic_pag

[2022-01-04 11:48] vojtechjelinek commented on #12912
@rohittiwari761 Hey, can you send the errors that show up when you enable `unnecessary-pass`? I just realized that we might not want to enable this one.

[2022-01-04 11:49] vojtechjelinek commented on #12912
@IamEzio Done.

[2022-01-04 12:16] AnuragVats007 commented on #14419
@JeeveshGarg I have refactored the class name in PascalCase but I am unable to understand which values do I have to change in UPPERCASE. Can you plz tell?

[2022-01-04 13:06] pritam2317 commented on #13162
@Nik-09 Can you assign any of the handler which are not assigned?

[2022-01-04 13:14] vojtechjelinek commented on #14033
@aniketh-varma @chiragbaid7 @DiptoChakrabarty Are you still working on this PR?

[2022-01-04 13:14] vojtechjelinek commented on #14033
You will probably need to add ignore for this too, this should be already done in some other places too.

[2022-01-04 13:17] DiptoChakrabarty commented on #14033
Yes I have received a review and fixing that

[2022-01-04 13:36] #14501 closed, assigned to heyimShivam

[2022-01-04 13:57] chiragbaid7 commented on #14033
Hi, my assigned tasks were already merged https://github.com/oppia/oppia/pull/14445.

[2022-01-04 14:16] vojtechjelinek commented on #14033
Ah, right, sorry.

[2022-01-04 14:17] JeeveshGarg commented on #14419
@AnuragVats007 you may refer ParamNames Enum class of platform_feature_test.py or global search for any other.

[2022-01-04 14:23] KKhushhalR2405 commented on #14419
Hey @JeeveshGarg, Can I work on refactoring ```app_feedback_report_constants.py``` file.

[2022-01-04 14:53] nithinrdy commented on #14519
Hey, mind if I take this up?

[2022-01-04 15:16] paprajapati9 commented on #14519
Hey, sorry but I am already working on this 🙂. Thanks by the way!

[2022-01-04 15:21] nithinrdy commented on #14519
Ah, sorry I wasn't aware!

[2022-01-04 16:03] JeeveshGarg commented on #14419
suggested you choose any one enum class from `app_feedback_report_constants.py` file, you will able to choose another one after first will have completed.
tell me, i will assign you.

[2022-01-04 16:15] #14397 closed, assigned to paprajapati9

[2022-01-04 19:02] U8NWXD commented on #14219
@IamEzio done

[2022-01-04 19:37] aayushsrivastava9760 opened #14544 "Unresponsive social buttons in the footer"
**Is your feature request related to a problem? Please describe.**
The social handle buttons in the footer are not very responsive making them more responsive will improve the user experience .
![WhatsApp Image 2022-01-05 at 01 05 25](https://user-images.githubusercontent.com/81965095/148113938-5e30a19f-b370-45fb-ab32-a56cc6b2b728.jpeg)

**Describe the solution you'd like**
I would like to work on

[2022-01-04 19:38] aayushsrivastava9760 commented on #14544
kindly assign me this issue .

[2022-01-04 20:15] IamEzio commented on #14219
@U8NWXD Can i work on `core.platform.storage.cloud_storage_emulator_test` ?

[2022-01-04 20:54] U8NWXD commented on #14219
@IamEzio done!

[2022-01-04 23:19] #14502 closed, assigned to heyimShivam

[2022-01-05 06:48] KKhushhalR2405 commented on #14419
@JeeveshGarg I'll go with ```REPORT_TYPE``` class.

[2022-01-05 07:17] AnuragVats007 commented on #14419
@JeeveshGarg  can you assign me the ractoring of class VALIDATION_MODES in base_validation.py

[2022-01-05 07:25] AyushJ7 commented on #14419
@JeeveshGarg I want to work on refactoring the class **SERVER_MODES** in **platform_parameter_domain.py**

[2022-01-05 07:39] JeeveshGarg commented on #14419
@KKhushhalR2405 @AyushJ7 assigning you respectively, go ahead.

[2022-01-05 07:50] JeeveshGarg commented on #14419
@AnuragVats007 suggested you to wait for approval of your previous PR by anyone reviewers.
Although assign you `VALIDATION_MODES`.
Thanks.

[2022-01-05 10:28] AyushJ7 commented on #14419
@JeeveshGarg Should I continue working further on refactoring the class **DATA_TYPES** in **platform_parameter_domain.py** or wait for previous PR approval???
Also, I request you to take a look on my previous PR and check whether I did that correctly or not!!!

[2022-01-05 10:33] #14188 closed, assigned to nobody

[2022-01-05 10:52] JeeveshGarg commented on #14419
should wait for approval of anyone reviewer,
reviewers are responsible for checking your PR, ping them to ask for review. NOT HERE.
Thanks.

[2022-01-05 12:19] Manan-Rathi commented on #12912
Hi @vojtechjelinek. Kindly assign me `useless-object-inheritance`.

[2022-01-05 15:10] IamEzio commented on #14219
@U8NWXD Can I work on `core.domain.activity_domain_test` ?

[2022-01-05 16:49] raunaqpahwa commented on #14419
Hey @JeeveshGarg Can I work on refactoring **NAMES** within _models.py_ ?

[2022-01-05 17:01] sagangwee opened #14552 "[CD] Fix close button hitbox for review modal"
The visual icon and the clickable region for the "x" close button of the review modal does not match up, making it difficult to click on:
<img width="447" alt="Screen Shot 2022-01-05 at 11 22 01 AM" src="https://user-images.githubusercontent.com/9004726/148258035-93ddf1ef-712a-47be-b1c8-4d2a21b9c990.png">

[2022-01-05 17:37] seanlip commented on #12425
Taking @ReshuKumari off as I don't think she is working on this issue.

@kevintab95 @sagangwee could you PTAL and triage this to its correct location?

[2022-01-05 17:38] seanlip commented on #12015
The topic cards in the classroom page seem to display the number of lessons now, so I think this issue is obsolete. I'm closing it.

[2022-01-05 17:38] #12015 closed, assigned to ReshuKumari

[2022-01-05 17:42] seanlip commented on #13465
Deassigning from @atpug22 since I believe he's not looking into this atm.

[2022-01-05 17:43] seanlip commented on #13359
Deassigning from @atpug22 since I believe he's not looking into this atm.

[2022-01-05 19:19] chiragbaid7 opened #14555 "Add new schema type dict to validate variable no of keys."
In current [Schema Validation System](https://github.com/oppia/oppia/wiki/Schemas) we have type dict to validate fixed no of keys but there is no schema for dictionary with variable no of keys.

[2022-01-05 22:57] U8NWXD commented on #14219
@IamEzio done

[2022-01-06 00:24] sagangwee commented on #14355
Most likely can leverage the same approach for topic filtering as the implementation in the contributor view: https://github.com/oppia/oppia/pull/13539

[2022-01-06 04:40] Manan-Rathi commented on #10700
Hi, @srijanreddy98 @mridul-netizen. Could you please assign me `WorkedExampleObjectFactory`?

[2022-01-06 05:48] Gourav2404 commented on #14419
hey I am new in open source can any one help me .........

[2022-01-06 06:09] U8NWXD commented on #9670
Marking this as complete since we can see log outputs for backend tests

[2022-01-06 06:13] U8NWXD commented on #8112
Closing since we no longer support running Oppia on Windows directly. We instead ask users to run a Linux system on top of Windows, where this should not be an issue

[2022-01-06 06:13] #8112 closed, assigned to nobody

[2022-01-06 06:14] U8NWXD commented on #8549
Closing this since we no longer support running directly on Windows. WSL has worked well as an alternative

[2022-01-06 06:14] #8549 closed, assigned to nobody

[2022-01-06 06:15] U8NWXD commented on #7276
This has been implemented, though we don't use travis ci anymore

[2022-01-06 06:15] #7276 closed, assigned to nobody

[2022-01-06 06:16] U8NWXD commented on #7348
We've moved to github actions

[2022-01-06 06:16] #7348 closed, assigned to kevinlee12

[2022-01-06 06:19] U8NWXD commented on #6102
We now include this as part of the PR review flow by requiring proof of correctness in the PR description

[2022-01-06 06:19] #6102 closed, assigned to nobody

[2022-01-06 06:19] U8NWXD commented on #5420
We no longer use Travis CI

[2022-01-06 06:19] #5420 closed, assigned to nobody

[2022-01-06 06:25] U8NWXD commented on #10726
Closing since we state in the installation instructions that configparser needs to be installed separately

[2022-01-06 06:25] #10726 closed, assigned to nobody

[2022-01-06 06:25] U8NWXD commented on #7771
Closing since we state in the installation instructions that configparser needs to be installed separately

[2022-01-06 06:25] #7771 closed, assigned to nobody

[2022-01-06 06:26] U8NWXD commented on #12531
We no longer use codecov, and the codecov.yml file has been removed

[2022-01-06 06:26] #12531 closed, assigned to AdityaDubey0

[2022-01-06 06:28] U8NWXD commented on #12591
This was fixed by switching the testing server to the oppiatestserver.org domain

[2022-01-06 06:28] #12591 closed, assigned to brianrodri

[2022-01-06 06:32] U8NWXD commented on #12150
I think this is expected. `scripts.start` keeps `requirements.txt` in sync with `requirements.in`, so when you change `requirements.in`, `requirements.txt` will be automatically updated. @ReshuKumari could you provide more context about why you don't think this change should happen?

[2022-01-06 06:34] U8NWXD commented on #12016
Closing due to inactivity from the author. @paras151 feel free to reopen if you still have questions about this

[2022-01-06 06:34] #12016 closed, assigned to nobody

[2022-01-06 06:34] U8NWXD commented on #11977
Closing as duplicate of #11587

[2022-01-06 06:34] #11977 closed, assigned to nobody

[2022-01-06 06:35] bhavukJain opened #14560 "Fix the length of the filter by topics container"
**Describe the bug**
On the contributor dashboard page, there is a filter by topics box, but currently it's length is small, and therefore whenever someone wishes to select any topic, the list of topics aren't properly visible

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '[...](https://www.oppia.org/contributor-dashboard)'
 2. Click on 'Translate Text'
 3. Select a language
 4. Ope

[2022-01-06 06:36] mridul-netizen commented on #10700
Done!

[2022-01-06 06:37] U8NWXD commented on #11587
Closing since the Windows instructions currently include the `--no_browser` flag

[2022-01-06 06:37] #11587 closed, assigned to DubeySandeep

[2022-01-06 06:39] U8NWXD commented on #11704
I've confirmed that the link now works

[2022-01-06 06:39] #11704 closed, assigned to nobody

[2022-01-06 06:41] U8NWXD commented on #12232
Closing due to inactivity from author

[2022-01-06 06:41] #12232 closed, assigned to DubeySandeep, gp201

[2022-01-06 06:44] U8NWXD commented on #9799
Closing since we don't currently support installing with docker

[2022-01-06 06:44] #9799 closed, assigned to nobody

[2022-01-06 06:48] U8NWXD commented on #9929
This message is not an error and is expected. The browser being blank is a different problem. Closing since there isn't enough info here for us to debug the blank browser issue. @tianqi-wu feel free to reopen if you are still seeing this

[2022-01-06 06:48] #9929 closed, assigned to nobody

[2022-01-06 06:54] U8NWXD commented on #8506
We set the chromedriver version automatically based on the available version of Chrome

[2022-01-06 06:54] #8506 closed, assigned to nobody

[2022-01-06 06:54] U8NWXD commented on #8355
We currently set this version automatically based on the available version of Chrome

[2022-01-06 06:54] #8355 closed, assigned to kevinlee12

[2022-01-06 07:01] U8NWXD commented on #8692
We no longer support python 2

[2022-01-06 07:01] #8692 closed, assigned to nobody

[2022-01-06 07:01] ReshuKumari commented on #12150
@U8NWXD This issue used to occur back then, so raised an issue but later I did not face such changes. So we can close this issue Thanks!

[2022-01-06 07:02] U8NWXD commented on #9419
@rohitkatlaa does this still happen?

[2022-01-06 07:02] U8NWXD commented on #8739
@safwan20 does this still happen?

[2022-01-06 07:04] U8NWXD commented on #9600
This is covered in our troubleshooting docs: https://github.com/oppia/oppia/wiki/Troubleshooting#system-limit-for-number-of-file-watchers-reached

[2022-01-06 07:04] #9600 closed, assigned to nobody

[2022-01-06 07:06] U8NWXD commented on #9483
Closing since our install instructions say to use HTTPS

[2022-01-06 07:06] #9483 closed, assigned to Hudda

[2022-01-06 07:06] U8NWXD commented on #9652
Closing due to inactivity from the author

[2022-01-06 07:06] #9652 closed, assigned to jameesjohn

[2022-01-06 07:07] JeeveshGarg commented on #14419
Hey, @Gourav2404 welcome to Oppia, i hope you may go through instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) and sign the CLA Sheet to get started.

If you are done with above, choose issue with label `good first` as you are new contributor.

Read wiki pages for more information.
Ask in [gitter](https://gitter.im/oppia/oppia-chat) for general d

[2022-01-06 07:45] Vineet-the-git commented on #14033
![Screenshot from 2022-01-06 12-55-02](https://user-images.githubusercontent.com/80666035/148345597-14f2cd40-185f-4aa7-af4e-a9098740ce85.png)
![Screenshot from 2022-01-06 13-02-18](https://user-images.githubusercontent.com/80666035/148345911-3dfa9092-d4b5-4ace-8a26-a90531dc3baf.png)

![Screenshot from 2022-01-06 12-56-09](https://user-images.githubusercontent.com/80666035/148345600-d1dac332-cb82-4

[2022-01-06 07:47] Vineet-the-git commented on #14033
I can `#type: ignore` after raising an exception?

[2022-01-06 08:07] heyimShivam commented on #14524
@gp201 @aishwary023  PTAL

[2022-01-06 08:07] heyimShivam commented on #14524
Guide me little to solve this error

[2022-01-06 08:08] Vineet-the-git commented on #14033
![Screenshot from 2022-01-06 13-36-38](https://user-images.githubusercontent.com/80666035/148350124-c08e8438-d0e9-4d3f-b1a2-8a76b3de444d.png)

@vojtechjelinek  It is throwing a syntax error but I can't figure out why?

[2022-01-06 09:59] Yavnikaa commented on #13162
@Nik-09 I would like to work on any of the handles which haven't been assigned yet. Thanks!

[2022-01-06 10:05] Manan-Rathi commented on #10700
Hi @srijanreddy98 @mridul-netizen. I have made the necessary changes in the related files. The linter and ts checks return OK. However, the frontend tests are failing. Could you give an idea as to where the things are going wrong? Thanks!
Some error messages are: (Attaching 3 **_separate_** screenshots)

![Screenshot from 2022-01-06 15-24-26](https://user-images.githubusercontent.com/76519771/1483

[2022-01-06 10:07] Yavnikaa commented on #14033
@vojtechjelinek I would like to work on this. Can I be assigned any unassigned task on this issue?

[2022-01-06 10:14] mridul-netizen commented on #10700
@Manan-Rathi Seems like these are import errors, can you try locating files for the particular failures, for example,  for the log (`should update a rubric`) for failure no. 16 you will need to do a global search for particular `it` blocks and fix the imports for WorkedExample model there. In this particular case file must be `core/templates/domain/skill/skill-update.service.spec.ts`. You can do t

[2022-01-06 10:18] Yavnikaa commented on #14219
@U8NWXD Can I work on` scripts.docstrings_checker_test` ?

[2022-01-06 10:21] ananth243 commented on #14219
@U8NWXD could I be assigned ```core.domain.story_fetchers_test```?

[2022-01-06 10:40] paprajapati9 commented on #14219
@U8NWXD can you please assign `core.domain.taskqueue_services_test` to me. Thanks!

[2022-01-06 11:25] vojtechjelinek commented on #14033
@Yavnikaa Done.

[2022-01-06 11:26] vojtechjelinek commented on #14033
Unnecessary commas

It should not be needed if you add the exception correctly.

Aren't there multiple methods named like this and you're typing/changing just one?

[2022-01-06 11:39] vojtechjelinek commented on #14260
Calling `curl -X POST http://localhost:8089/reset` when the devserver is running seemed to help.

[2022-01-06 12:48] heyimShivam opened #14566 "delete modal is not working fine"
## BUG introduced in #14454

**Describe the bug**
delte modal is not working

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'skill tab'
 2. make ''question and add hint"
 3. try to remove it

**Observed behavior**

https://user-images.githubusercontent.com/77006897/148385252-090f5251-4cbf-434d-b706-e26f3cb0be9a.mp4

**Expected behavior**

https://user-images.githubusercontent.com/770

[2022-01-06 12:49] heyimShivam commented on #14566
@heyimShivam  working on this bug pr ready

[2022-01-06 13:29] IamEzio commented on #14219
@U8NWXD Can I be assigned to `core.domain.rights_domain_test` ?

[2022-01-06 14:12] Zainab-Fahim commented on #10474
@vojtechjelinek please assign an easy file to start with. Thanks!

[2022-01-06 15:18] camperjett commented on #10474
@vojtechjelinek can you assign me an easy to start file. I was previously assigned to a bit complex file :) Thanks

[2022-01-06 15:26] vojtechjelinek commented on #10474
@Zainab-Fahim @camperjett Done, not sure if they are easy it is quite hard to predict.

[2022-01-06 15:41] Nik-09 commented on #13162
@shivam71,  @Aayush452-cell, @namangirdhar16, @AbhayTrivedi I've unassigned you all for now, feel free to drop a comment regarding your updates & I will reassign.

Also @mohithk100, @soumyo123-prog, @nbaddam, @pariksh1th any updates or do you need any help ?

@pritam2317 @Yavnikaa Some handlers are now unassigned, drop a comment with name of the handler & I will assign them.

Thank you.

[2022-01-06 15:43] Manan-Rathi commented on #14219
@U8NWXD Could you please assign me to `core.storage.classifier.gae_models_test`?

[2022-01-06 15:45] heyimShivam commented on #14552
I would like to work on this issue can you gave me more info

[2022-01-06 15:50] soumyo123-prog commented on #13162
@Nik-09 Could you please unassign me from the files. I got a bit busy with some other tasks and forgot about this one. Anyone taking those files can take reference from [this closed PR](https://github.com/oppia/oppia/pull/14337). The failing backend tests need to be fixed.

[2022-01-06 15:52] pritam2317 commented on #13162
@Nik-09 I want to work on RecentCommitsHandler.Thank you.

[2022-01-06 16:00] Nik-09 commented on #13162
@soumyo123-prog, @pritam2317 Done

[2022-01-06 16:06] vojtechjelinek commented on #13190
Closing for now as no more case studies per the description are needed.

[2022-01-06 16:06] #13190 closed, assigned to vojtechjelinek

[2022-01-06 16:09] vojtechjelinek commented on #12692
@U8NWXD Hey, Brian is no longer active, would you be able to handle this in the Automated QA team? I think the prioritization is up to you.

[2022-01-06 16:11] sahiljoster32 commented on #14552
Thanks @heyimShivam for interest. however, as per discussion in meeting, this issue is assigned to @paprajapati9.
also @sagangwee can you please provide more information about this issue like steps to reproduce or where to navigate something like that.
also Thanks @sagangwee for raising issue.

[2022-01-06 16:11] heyimShivam commented on #14552
Okay thanks

[2022-01-06 16:13] vojtechjelinek commented on #10968
@kevintab95 @aks681 Hey, Brian is no longer active, can you prioritize this?

[2022-01-06 16:13] vojtechjelinek commented on #13352
@kevintab95 @aks681 Hey, Brian is no longer active, can you prioritize this?

[2022-01-06 16:20] vojtechjelinek commented on #5072
This was fixed as part of #11887

[2022-01-06 16:20] #5072 closed, assigned to nobody

[2022-01-06 20:16] vojtechjelinek opened #14575 "Introduce proper linting for multiline TS class declarations"
Right, now there is no proper linting for multiline TS class declarations. We want to follow this format when declaring classes on multiple lines:
[code]

[2022-01-06 21:47] U8NWXD commented on #14260
Maybe there is some state being preserved even after the server shuts down? I can think of the following files that might be storing state:

* `dump.rdb`: Redis dump
* `../firebase_emulator_cache`
* `../cloud_datastore_emulator_cache`

@vojtechjelinek are there any other files (e.g. database files) to consider? We could test whether this is the problem by checking whether deleting these files help

[2022-01-06 21:47] #12150 closed, assigned to nobody

[2022-01-06 21:55] U8NWXD commented on #14219
@Yavnikaa @ananth243 @IamEzio @Manan-Rathi done

[2022-01-07 02:37] Zainab-Fahim commented on #10474
thanks!

[2022-01-07 02:37] Zainab-Fahim commented on #10474
Thanks!

[2022-01-07 02:58] IamEzio commented on #14219
@U8NWXD Can I be assigned to `core.domain.param_domain_test` ?

[2022-01-07 04:31] Manan-Rathi commented on #14219
@U8NWXD Kindly assign me to `core.storage.improvements.gae_models_test`. Thanks!

[2022-01-07 07:07] #14204 closed, assigned to nobody

[2022-01-07 07:58] IamEzio commented on #14219
Working on `core.domain.learner_goals_services_test` and `core.domain.recommendations_services_test`

[2022-01-07 09:58] Manan-Rathi commented on #14219
Hi @U8NWXD. Kindly assign me to `core.storage.audit.gae_models_test`.

[2022-01-07 11:18] Manan-Rathi commented on #14219
Hi @U8NWXD. Kindly assign me to `core.storage.blog.gae_models_test` and `core.storage.story.gae_models_test`.

[2022-01-07 13:52] IamEzio commented on #14219
Working on `core.storage.config.gae_models_test`, `core.domain.html_validation_service_test` and `core.domain.stats_domain_test`.

[2022-01-07 15:42] vojtechjelinek commented on #14260
I think we tried deleting all except for `dump.rdb` also all of these should be deleted as part of the startup process. @sagangwee says that the problem disappeared so it is hard to debug now, my suspicion is some kind of Mac OS file cache or something that was preserved even when the files/folders were deleted.

[2022-01-07 16:10] JeeveshGarg commented on #14419
@vojtechjelinek i updated issue description as per our offline discussion, PTAL.
Thanks.

[2022-01-07 16:36] JeeveshGarg commented on #14419
@AnuragVats007 @AyushJ7 @KKhushhalR2405 please read issue description again. It is updated.
Thanks.

[2022-01-07 16:48] raunaqpahwa commented on #14419
Hi @JeeveshGarg Can I work on refactoring ENTRY_POINT, STATS_PARAMETER_NAMES, ANDROID_TEXT_SIZE, ANDROID_NETWORK_TYPE ?

[2022-01-07 17:14] JeeveshGarg commented on #14419
@raunaqpahwa assigning you.

[2022-01-07 17:17] U8NWXD commented on #14219
@IamEzio @Manan-Rathi done

[2022-01-07 17:24] sahiljoster32 commented on #12165
closing this issue, since it was fixed in above mentioned PR.
Thanks! @paprajapati9

[2022-01-07 17:24] #12165 closed, assigned to nobody

[2022-01-07 21:07] #14514 closed, assigned to nobody

[2022-01-08 05:21] U8NWXD commented on #14260
Ahh, okay. Is anyone else seeing this problem right now, or should we close the issue?

[2022-01-08 10:14] #11898 closed, assigned to nithinrdy

[2022-01-08 12:16] snahashisk commented on #14575
I would like to work on this issue.

[2022-01-08 15:57] #14530 closed, assigned to nithinrdy

[2022-01-08 18:07] IamEzio commented on #14219
Working on `core.domain.email_manager_test`, `core.domain.action_registry_test` and `core.domain.config_domain_test`.

[2022-01-09 06:35] soumyo123-prog commented on #9749
Hi. Is anyone working on `story-creation.service.ts` and `question-creation.service.ts`? Can I work on them otherwise?

[2022-01-09 07:22] KKhushhalR2405 commented on #14419
@JeeveshGarg Do I have to run any tests before making a PR? If yes, can you share which one.

[2022-01-09 10:38] ShivamJhaa opened #14599 "Created feedback is visible only after reloading the exploration editor page."
**Describe the bug**
After creating a feedback thread its not visible on the screen until we reloads the page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to exploration editor page
 2. Click on feedback tab
 3. Click on start new thread and create a feeback thread
 4. See error

**Observed behavior**

https://user-images.githubusercontent.com/86483059/148678677-a30a5b22-ba36-426e-b1

[2022-01-09 13:10] Sreelayavuyyuru commented on #14419
Hello, can I get assigned to `CATEGORY app_feedback_report_constants.py` and `PARAM_NAMES platform_parameter_list.py`, please?

[2022-01-09 13:34] JeeveshGarg commented on #14419
Their are E2E tests, frontend tests, backend tests, lint test, mypy test. You can go through in wiki about them.

Basically in this issue you may encounter mypy test and lint test.

although many from above tests are in checking while making PR. Ig you notice that.

[2022-01-09 13:57] vojtechjelinek commented on #14260
I don't think so, closing for now.

[2022-01-09 13:57] #14260 closed, assigned to vojtechjelinek, U8NWXD

[2022-01-09 14:49] U8NWXD commented on #14219
@IamEzio done

[2022-01-09 15:26] Sreelayavuyyuru commented on #14419
Can you please assign me to `CATEGORY app_feedback_report_constants.py` and `PARAM_NAMES platform_parameter_list.py`

[2022-01-09 15:48] JeeveshGarg commented on #14419
@Sreelayavuyyuru assigning you.

[2022-01-10 00:13] vojtechjelinek commented on #13956
@DiptoChakrabarty @AmanJolly16 @anurag629 @ashish-patwal Are you still working on this issue?

[2022-01-10 05:23] ashish-patwal commented on #13956
yes @vojtechjelinek . I left the work midway , will try to complete it within this week .

[2022-01-10 07:14] #14084 closed, assigned to nobody

[2022-01-10 08:49] adityanarayanm095 commented on #14033
Hi @vojtechjelinek
I am not able to push my PR

`remote: Permission to adityanarayanm095/oppia.git denied to adityanarayanm095.
fatal: unable to access 'https://github.com/adityanarayanm095/oppia.git/': The requested URL returned error: 403`

I am getting this error

[2022-01-10 11:10] AmanJolly16 commented on #13956
@vojtechjelinek I am sorry but please unassign the divide function.

[2022-01-10 12:56] vojtechjelinek commented on #14033
I'm not sure, you don't seem to have an access to your repository, please try to google this it shouldn't be connected to Oppia.

[2022-01-10 13:05] Manan-Rathi commented on #14219
Hi @U8NWXD, Kindly assign me `core.storage.subtopic.gae_models_test` and `core.storage.feedback.gae_models_test`.

[2022-01-10 13:25] omnaladkar commented on #14544
is this issue open?

[2022-01-10 13:25] omnaladkar commented on #14544
can i  work on  this

[2022-01-10 13:54] sahiljoster32 opened #14604 "Different behaviour of UI on develop and oppia.org"
**Describe the bug**
sidebar - looks fine on develop branch but it is broken on oppia.org.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia.org
 2. Click on hamburger menu icon
 3. compare oppia.org sidebar's ui with develop branch's sidebar's ui.

**Observed behavior**
(oppia.org)
![Screenshot from 2022-01-10 19-21-41](https://user-images.githubusercontent.com/12553576/148777115

[2022-01-10 14:02] seanlip commented on #14604
Hi @sahiljoster32, why are you assigning this to me?

It's possible that some new commits were added to develop that aren't released on the Oppia.org server yet, so this is not necessarily a bug (unless it's breaking things for users in production)?

[2022-01-10 14:11] sahiljoster32 commented on #14604
@seanlip sorry for wrong assigment!!
I assigned you accidentally.

[2022-01-10 15:50] #14604 closed, assigned to sahiljoster32, krishita30j, Rijuta-s, Lawful2002

[2022-01-10 15:56] abumsoo commented on #10474
Hi @vojtechjelinek, could you please assign me to `core/templates/pages/exploration-player-page/services/image-preloader.service.ts`? Thank you!

[2022-01-10 16:27] vojtechjelinek opened #14605 "Resolve wrong indent in some places"
In some TypeScript files, we might have a wrong indentation, that is because we are using `eslint/indent` which does not properly support TypeScript features and thus sometimes suggests a wrong indentation. The ideal thing to use would be `typescript-esllint/indent`, but this one is not recommended as it is not implemented properly and the devs do not plan to fix it (see https://github.com/typescr

[2022-01-10 17:46] vojtechjelinek commented on #10474
@abumsoo That one is already assigned, I have assigned you `core/templates/domain/topic/subtopic-page.model.ts`

[2022-01-11 03:36] U8NWXD commented on #14219
@Manan-Rathi done

[2022-01-11 07:14] ashish-patwal commented on #13956
hey  @vojtechjelinek , had a doubt regarding migration of open_file function . Is there any difference regarding the use of io.open vs open since we are using these functions in a context manager form . which function should i use ?

[2022-01-11 07:32] Manan-Rathi commented on #14219
@U8NWXD Please assign me `core.storage.recommendations.gae_models_test` instead of `core.storage.feedback.gae_models_test`. I'm sorry, I copied the wrong filename. Have made PR for the same. Sorry for the inconvenience!

[2022-01-11 07:49] ParmeetChawla25 commented on #14419
Hey @JeeveshGarg  can I work on refactoring NAMES?

[2022-01-11 08:05] JeeveshGarg commented on #14419
@ParmeetChawla25 assigning you.

[2022-01-11 10:00] vojtechjelinek opened #14615 "Start using `typing_json` in our codebase"
The [typing-json](https://pypi.org/project/typing-json) library can help us get rid of some `Any`s from our codebase.

[2022-01-11 10:51] vojtechjelinek commented on #13956
`open()` is just a wrapper for `io.open()` so you can use just `open()`

[2022-01-11 11:11] camperjett commented on #10474
@vojtechjelinek I was separately working on 2 more files and have resolved all errors in them both :
`core/templates/domain/topic/TopicObjectFactory.ts`
and
`core/templates/pages/topic-viewer-page/practice-tab/practice-tab.component.ts`
Can I raise a PR?

[2022-01-11 14:08] vojtechjelinek commented on #10474
@camperjett Sure

[2022-01-11 18:12] rishabhbajpai2000 commented on #14419
@JeeveshGarg is any class still left to be refactored? I would like to work on this, but I guess everything is assigned.

[2022-01-11 18:19] rishabhbajpai2000 commented on #14033
@vojtechjelinek
Sir, I wont be able to work on this issue, kindly reassign the stats_domain.py to anyone else, if anyone asks for it.

[2022-01-11 18:56] JeeveshGarg commented on #14419
@rishabhbajpai2000 assigning you below both classes.

FILTER_FIELD_NAMES gae_models.py
BeamJobState gae_models.py

[2022-01-11 18:57] Nik-09 commented on #13162
Assigning ```QuestionSkillLinkHandler``` to @pritam2317 based on offline discussion

[2022-01-12 01:13] ayushjaink8 commented on #14219
Hi @U8NWXD
Can you please have a look at my PR for editor.py file:  https://github.com/oppia/oppia/pull/14594

[2022-01-12 03:19] U8NWXD commented on #14219
@Manan-Rathi fixed

[2022-01-12 03:54] U8NWXD commented on #14219
@ayushjaink8 I left a review!

[2022-01-12 06:18] U8NWXD opened #14620 "Low-risk PR checking broken"
Low-risk PR check is failing ([example](https://github.com/oppia/oppia/runs/4715601131?check_suite_focus=true)):

[code]

[2022-01-12 08:21] arsalannahmad01 commented on #13162
@Nik-09 I want to work on QuestionSkillLinkHandler.

[2022-01-12 08:39] arsalannahmad01 commented on #13162
@Nik-09 I want to work on SubtopicViewerPage.

[2022-01-12 08:53] Manan-Rathi commented on #14219
Hi @U8NWXD. Kindly assign me to `core.domain.stats_domain_test`, `core.storage.auth.gae_models_test` and `core.storage.opportunity.gae_models_test`. Thanks!

[2022-01-12 09:01] IamEzio commented on #14219
@Manan-Rathi `core.domain.stats_domain_test` was already covered in PR [#14589](https://github.com/oppia/oppia/pull/14589)

[2022-01-12 09:43] seanlip opened #14621 "In the topics-and-skills dashboard, when creating a new skill and adding a concept card to it, the concept card modal appears behind the skill modal."
**Describe the bug**
In the topics-and-skills dashboard, when creating a new skill and adding a concept card to it, the concept card modal appears behind the skill modal. This makes it impossible to edit the concept card component.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard, and click on the Skills tab.
 2. Click on Create New Skill.
 3. Open the "

[2022-01-12 09:54] seanlip opened #14622 "When updating prerequisite skills in the skill editor, the changes don't "stick" until a new action is performed on the page."
**Describe the bug**
When updating prerequisite skills in the skill editor, the changes don't "stick" until a new action is performed on the page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill, A.
 2. Create another skill B, and add A as a prerequisite to it.

**Observed behavior**
Skill A doesn't show up in the Prerequisite Skills section, until "Add Prerequisite Skill" is

[2022-01-12 10:09] Sreelayavuyyuru commented on #14219
@U8NWXD can you please assign me to `core.controllers.reader_test`

[2022-01-12 10:09] Nik-09 commented on #13162
@arsalannahmad01 Done

[2022-01-12 15:11] aks681 opened #14625 "CSS files linkage should be handled in webpack"
**Is your feature request related to a problem? Please describe.**
Once #14375 is merged, some HTML files will be linked to a separate CSS file.

**Describe the solution you'd like**
This CSS linkage should be moved away from the HTML file and be included in webpack itself.

[2022-01-12 15:52] #11761 closed, assigned to nobody

[2022-01-12 19:59] ParmeetChawla25 commented on #14219
Could I please be assigned to extensions.interactions.base_test @U8NWXD

[2022-01-12 20:00] IamEzio commented on #14219
Working on `core.storage.opportunity.gae_models_test` and `core.controllers.story_editor_test`

[2022-01-12 20:00] ParmeetChawla25 commented on #14219
Ok

[2022-01-12 20:01] ParmeetChawla25 commented on #14219
Could I please be assigned to core.controllers.domain_objects_validator_test @U8NWXD

[2022-01-12 22:31] #14447 closed, assigned to nithinrdy

[2022-01-13 03:35] janneyt commented on #14219
Could I be assigned to core.controllers.story_editor_test? @U8NWXD

[2022-01-13 03:57] winnie368c commented on #14033
@vojtechjelinek Can I please be assigned to a file? Thanks!

[2022-01-13 04:40] IamEzio commented on #14219
Hey @janneyt, I have already worked on `core.controllers.story_editor_test` as mentioned [here](https://github.com/oppia/oppia/issues/14219#issuecomment-1011403024). Would be great if you complete coverage of any other file.

[2022-01-13 04:41] U8NWXD commented on #14219
@ParmeetChawla25 @IamEzio done

[2022-01-13 06:28] IamEzio commented on #14219
Working on `core.controllers.skill_editor_test`

[2022-01-13 06:46] Manan-Rathi commented on #10474
Hi @vojtechjelinek. Kindly assign me to `core/templates/domain/editor/undo_redo/base-undo-redo.service.ts`. Thanks!

[2022-01-13 06:46] U8NWXD commented on #14219
@IamEzio assigned

[2022-01-13 07:46] Manan-Rathi commented on #10474
Hi @vojtechjelinek. Kindly assign me  `core/templates/domain/editor/undo_redo/base-undo-redo.service.ts` and `core/templates/components/skill-selector/merge-skill-modal.component.ts`. Thanks!

[2022-01-13 08:23] seanlip opened #14634 "Adding an exploration to a story, when its "correctness feedback" setting is not turned on, results in the exploration being uneditable."
**Describe the bug**
When an exploration is added as a chapter in a story in the Math classroom, and its "correctness feedback" setting is not turned on (or it fails validation in some other way), this results in the lesson being uneditable. The save changes button is green, but when it is clicked (and the subsequent modal is clicked through), there is a silent 400 error in the JS console and no w

[2022-01-13 08:25] Sreelayavuyyuru commented on #10474
Hello, Can you please assign me to `core/templates/domain/exploration/read-only-exploration-backend-api.service.ts`

[2022-01-13 08:29] seanlip opened #14635 "The default values for "show correctness feedback" and "surface autogenerated translations" should be flipped."
**Describe the bug**
Currently, newly-created explorations default to AUTO_TTS_ENABLED = True and correctness_feedback_enabled = False. We would like to change these default values because the autogenerated text-to-speech is not easily understandable by students, and the correctness feedback is an important part of explorations that creators of the curated lessons keep forgetting to turn on.

**To

[2022-01-13 09:44] paprajapati9 commented on #14552
Thanks @sagangwee for raising this issue. Can you please add the steps to reproduce this issue, is it from question suggestion review?

[2022-01-13 10:32] ananth243 commented on #14219
Working on ```core.storage.suggestion.gae_models_test``` @U8NWXD

[2022-01-13 12:02] #14431 closed, assigned to aks681, paprajapati9

[2022-01-13 12:05] #14519 closed, assigned to paprajapati9

[2022-01-13 12:09] vojtechjelinek commented on #10474
@Sreelayavuyyuru Done.

[2022-01-13 12:15] vojtechjelinek commented on #14033
@winnie368c I have assigned you _stats_domain.py_

[2022-01-13 12:51] soumyo123-prog opened #14636 "Bug arising while trying to open a collection node in mobile devices (or other small sized screens)"
**Describe the bug**
On trying to open a collection node from the path in collection player page (on small sized devices), the user is expected to see a modal opening and on touching or clicking over the modal, that particular collection node should open. This is not working as intended when we test this by simulating a mobile device in browser development tools (see the attached videos for more c

[2022-01-13 12:53] IamEzio commented on #14219
Working on `core.storage.statistics.gae_models_test`.

[2022-01-13 13:50] seanlip opened #14639 "An incorrect error message is displayed when creating a new skill if special characters are used in the skill description."
**Describe the bug**
When creating a new skill that has characters like '%' or '/', a misleading error message is displayed. See below:

![Screenshot from 2022-01-13 21-47-18](https://user-images.githubusercontent.com/10575562/149342037-3572463f-8ef8-4403-bc82-74ef0ee7ddb1.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard.
 2. Create a new skill, and

[2022-01-13 13:57] anurag629 commented on #13956
hey @vojtechjelinek  Is python3 function of 'python_utils.parse_query_string' is 'urllib.parse.parse_qs'

[2022-01-13 14:01] vojtechjelinek commented on #13956
@anurag629 Yes.

[2022-01-13 14:14] arsalannahmad01 commented on #13162
@Nik-09 Can you please assign me SubtopicPageDataHandler and ReaderFeedbackHandler too.

[2022-01-13 14:37] Nik-09 commented on #13162
@arsalannahmad01 Done

[2022-01-13 20:52] U8NWXD commented on #14219
@ananth243 @IamEzio assigned

[2022-01-13 20:57] sagangwee commented on #14238
This is WAI. The user in question really has translated that many translations cards.

[2022-01-13 20:57] #14238 closed, assigned to sagangwee

[2022-01-14 00:14] sagangwee commented on #14230
Seeing this issue for one item (checked many others but this is the only faulty one I've seen):

<img width="586" alt="Screen Shot 2022-01-13 at 6 55 52 PM" src="https://user-images.githubusercontent.com/9004726/149427457-47ae9ccf-3800-4f6c-8a54-615876c46187.png">

`<p><strong>Question 1: </strong>Look at the picture below. What fraction of it is colored orange?</p>
<oppia-noninteractive-image alt

[2022-01-14 02:05] anurag629 commented on #13956
hey @vojtechjelinek  for 'python_utils.divide' returns the quotent of two numbers. can i use simple modulus operator for that.
If not please tell me the correct function for that and also assign me 'python_utils.divide' function
![Screenshot from 2022-01-14 07-29-53](https://user-images.githubusercontent.com/78868769/149438850-dc2a0bf8-4484-4ff0-a20f-f807dafe570f.png)

[2022-01-14 04:44] paprajapati9 opened #14645 "Remove Hacky translations implementation once the translation service is extended for classroom metadata"
To increase internationalisation of content at oppia, we wanted to have all text in classroom to be able to translate. As extending the translation service for all classroom metadata will take time, we added a fast and "hacky" solution for the time being.
Once the proper solution is implemented, we should remove any code related to this hacky translations solution. To know more about the solution

[2022-01-14 05:58] janneyt commented on #14219
Hi, I've used ctrl+F and core.storage.job.gae_models_test doesn't appear to be taken. Can I please have it?

[2022-01-14 07:29] seanlip opened #14646 "Links and concept card references with long text don't wrap properly."
**Describe the bug**
When typing in a rich-text editor and adding links or concept card references, the text does not wrap properly to the next line.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill, S1.
 2. Create a new skill, S2.
 3. Add a new misconception to S2. In the rich-text feedback field, create a concept card link to S1 and give it the text "calculating the percenta

[2022-01-14 10:30] vojtechjelinek commented on #13956
@anurag629 You need to use `//` instead.
![image](https://user-images.githubusercontent.com/10142938/149501038-332845b7-d1b9-4d72-ba5c-a75e0325123c.png)

[2022-01-14 15:26] kaniket7209 commented on #14646
Hey @seanlip I am new to this but wanted to start contributing in this issue as a good first issue.

[2022-01-14 15:56] seanlip commented on #14646
Hi @kaniket7209, I do not think this is a good first issue -- I think it is might be harder than you think. I suggest that you follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) if you are new to the project. Thanks!

[2022-01-14 17:59] IamEzio commented on #14219
Working on `core.storage.question.gae_models_test` and `core.jobs.job_utils_test`.