[2017-06-19 06:27] kevinlee12 commented on #2394
To start off, I'd recommend taking a look at the other PR's like PR #3448, there's quite a lot of PR's linked so you can use those as samples of what we are looking for!

[2017-06-19 06:37] arjunsuri commented on #2394
Actually...I think I am not able to understand the complete code....otherwise I could have done it by now.Can you please help me in any way so that I can understand the written code and not the docstring...so that I can write my own docstring.

[2017-06-19 19:27] shaz13 commented on #2394
@arjunsuri Hi there! I suggest you using Sublime Text editor or something similar (VS Code, Atom) to look up the definitions throughout the codebase and what they do. If you have any particular question about a function and its use then feel free to ping us on Gitter. Thanks!

[2017-06-19 19:50] kevintab95 opened #3562 "Introduce front-end for Hint Editor"
This issue is part of the Fallbacks to Hints project. Hint Editor UI should be introduced in the exploration editor page where creators may specify hints for states.

[2017-06-19 21:20] shaz13 commented on #3249
@seanlip I am feeling all well now :innocent:
So, coming to this issue - As we have MR Job ready, after it runs on the production server we shall set the limit? I guess that is possible in the next release.

Additionally, the user bio breaks on long single text. This issue's PR will also address that.

![screenshot from 2017-06-20 02-49-27](https://user-images.githubusercontent.com/24438869/273064

[2017-06-19 22:03] anthkris commented on #2953
@seanlip @markhalpin Sorry about the radio silence on this. I'm getting absolutely swamped with client work and haven't had the time to devote to this. I'm probably going to be unavailable for the next several weeks until I return near the end of July. I don't know if you want to reassign or not.

[2017-06-19 22:04] anthkris commented on #3082
Wanted to check in here as well. I haven't been able to make the time to devote to this and probably won't be able to for the next several weeks. I can return to this as soon as I can or perhaps it may be better to assign things out to others.

[2017-06-20 00:24] seanlip commented on #3249
Glad to hear you're feeling better, @shaz13!

Yes, I've made a note to run your job in production in the next release, so let's defer this issue until then. Thanks!

[2017-06-20 00:27] #3295 closed

[2017-06-20 03:50] BenHenning commented on #3284
It turns out this work was already finished since the answers corresponding to ``FileReadInput`` and ``TarFileReadInput`` were apparently corresponding to deleted explorations. We filtered out answers corresponding to deleted explorations before performing the answer migration, so we never ended up migrating these answers in the first place.

[2017-06-20 03:50] #3284 closed

[2017-06-20 05:26] markhalpin commented on #2953
hi @anthkris and @seanlip This has been a busy few weeks here too, with another week or two of business ahead. Could I suggest we table the conversation until @anthkris's return, then assess what changes we want to make? As with the color issue on the collections, it might be nice to incorporate any changes in with related issues, if applicable.

[2017-06-20 07:04] seanlip commented on #2953
Yes, that sounds fine to me. Thanks!

[2017-06-21 00:36] #3502 closed, assigned to AllanYangZhou

[2017-06-21 09:35] kefeh commented on #383
Hello @kevinlee12, I haven't been of great health lately, but i have restarted again. Though i have a slight problems.
I have a problem identifying where the "is equal to" dropdown and the "Sample multiple choice answer" dropdown. are defined. So far I have checked on the `core/templates/dev/head/components/rule_editor_directive.html` and it seems they are dynamically associated to `<rule-type-sel

[2017-06-21 21:03] seanlip commented on #383
Hi @kefeh -- FYI, if you see custom tags like `<rule-type-selector>`, these are usually associated to directive JS files -- search the codebase for ruleTypeSelector, or a file called RuleTypeSelectorDirective.js. Hope that helps!

[2017-06-22 09:13] seanlip commented on #3558
@giritheja -- thanks for reporting! One question: what version of Safari/MacOS is this?

[2017-06-22 09:14] seanlip commented on #3522
Hi @cosmicAsymmetry! This seems to be taking a while; how's it going?

[2017-06-22 09:15] giritheja commented on #3558
I am using Safari 10.1.1
MacOS : 10.12.5

[2017-06-22 17:36] s1db commented on #3522
Apologies for not updating. I was at a remote location without internet.
I played around with the code a bit and have an idea of how to go by it. I referred to Shahebaz's code for the footer and will finish it soon.

[2017-06-23 01:58] seanlip commented on #3522
OK, sounds good. Thanks for the update @cosmicAsymmetry!

[2017-06-24 15:42] kevintab95 opened #3571 "Introduce Hints UI in the Exploration player"
Hints UI may be introduced in the Exploration player which will allow learners to request for hints when they are stuck at a question. This is part of the Fallbacks to Hints project.

[2017-06-24 17:38] kirankonduru commented on #3550
Unassigning myself for now. Have been a bit busy at work. If anyone wants to work on this, you can take this or else I'll take this up again after the first week of July.

[2017-06-24 20:47] #3554 closed, assigned to kevintab95

[2017-06-24 21:12] seanlip commented on #3490
Hi @Oishikatta, how is this going?

[2017-06-25 21:19] tjiang11 opened #3575 "Server error when uploading images > 1MB"
When uploading an image greater than 1MB, an internal server error occurs. A helpful message should be displayed to the user saying the file is too big, or the current system must be adapted to accept files larger than 1MB (and then impose some other defined limit).

![image](https://user-images.githubusercontent.com/11807091/27519819-3f0982fa-59ca-11e7-803a-c26093599f16.png)

[2017-06-25 21:20] seanlip commented on #3575
Weird, I thought @juansaba fixed this. Are you on the latest version of develop?

[2017-06-25 21:21] tjiang11 commented on #3575
Hm, I thought I was... let me double check

[2017-06-25 21:24] tjiang11 commented on #3575
Ya nvm sorry, wrong branch.

[2017-06-25 21:24] #3575 closed, assigned to nobody

[2017-06-26 00:40] seanlip opened #3576 "Create a backend validation function for RTE content."
As part of the migration to CKEditor, we want to ensure that we fully understand the HTML that can be generated by textAngular so that we can fully handle its migration. The aim of this issue is therefore to write a backend function that takes an HTML string as input and returns a boolean denoting whether it can be submitted via the current rich-text editor on the site.

[2017-06-26 07:29] seanlip commented on #3257
Hey @tvallois -- are you still working on this?

[2017-06-26 08:38] seanlip commented on #1251
Hi @terrameijar, are you still working on this? Did you manage to reproduce the issue?

[2017-06-26 08:40] seanlip commented on #3550
Thanks @kirankonduru! Assigning to @llKCll.

[2017-06-27 03:31] wxyxinyu commented on #3096
@TruongKim -- ping

[2017-06-27 15:49] arjunsuri commented on #2394
There are no left out files for docstrings....whwre should I start? Any suggestions...

[2017-06-27 18:53] #3557 closed, assigned to manoj-makkuboy

[2017-06-27 19:43] #3521 closed, assigned to muxout

[2017-06-28 23:48] rachelwchen opened #3585 "Minor changes on exploration progress navigation design"
In one of the user interview sessions, a user pointed out a minor UI bug regarding the progress navigation design.

Current behavior:
1. When a user navigates to the very first card of an exploration, the left (previous) arrow is there. It's not clickable, but the cursor changes to a pointer.
![1](https://user-images.githubusercontent.com/12159451/27665142-5780eb68-5c20-11e7-8af3-aeeb54641764.png)

[2017-06-29 21:40] seanlip opened #3588 "Bring INTERACTION_SPECS into constants.js"
Currently, we compile INTERACTION_SPECS (a dict describing the customization arg details for all interactions in Oppia) manually on each request based on iterating through the interaction definitions in the backend. It might be nicer if we could just precompute it, and this would also help reduce skew with tests since INTERACTION_SPECS currently has to be manually recreated in karma-globals.js (se

[2017-06-30 01:17] markhalpin commented on #3438
Hi all. What's the status of this issue? Text in issue #3548 suggests that this has been implemented except for the stacking of the orange ring relative to the other graphics, but as of today the off-putting "wobble" effect is still in place. Could this effect at least be removed until such time as the ring effect is put into place? Thanks!

[2017-06-30 01:30] seanlip commented on #3438
This is fixed in develop, and should go out in the release next weekend. Thanks for checking!

[2017-06-30 01:48] seanlip commented on #2639
Deassigning @Slayslot due to lack of response (including via email).

[2017-06-30 02:05] seanlip commented on #3253
@souravbadami are you still working on this?

[2017-06-30 14:52] TruongKim commented on #3096
After I follow Sean's advice, I think I understand the issues. When we click on an exploration for the first time, its cookie will store the language, and doesn't delete it. Hence the issue:
![capture](https://user-images.githubusercontent.com/18127284/27741186-70651522-5dde-11e7-9038-e69a56136cd1.PNG)

[2017-06-30 15:10] TruongKim commented on #3096
And after I set, `document.cookie = "NG_TRANSLATE_LANG_KEY=en"`, then the same key with same value appears twice. So how should I handle this?
![capture](https://user-images.githubusercontent.com/18127284/27741938-f19eccd0-5de0-11e7-8cb2-cac69ed532d1.PNG)

[2017-06-30 15:13] TruongKim commented on #3096
Or rather, what's best way to handle it for Oppia? I read online, and people suggests things like modify the cookies, or prefix the cookies for example:
https://github.com/jshttp/cookie/issues/18

[2017-06-30 17:34] seanlip commented on #3096
This is great -- well done on figuring out the root cause, @TruongKim!

I would suggest finding a way to modify the translation cookie, or delete the old cookie and replace it with a new one so that you don't have duplicate keys. Try and find a way which works (any way is fine) and then we can give suggestions on how to improve it.

[2017-06-30 21:59] seanlip commented on #3522
Hi @cosmicAsymmetry, how is this going?

[2017-07-01 01:03] BenHenning commented on #3288
This will also include adding tests for other ``stats_services`` methods which need them, including ``get_versions_for_exploration_stats`` and ``get_exploration_stats``.

[2017-07-01 16:57] anmolshkl commented on #3514
@giritheja how is this coming along? Are you still working on this?

[2017-07-01 17:17] giritheja commented on #3514
@anmolshkl I am working on other issue #3546 . It's almost done. I can start working on this issue. I am waiting for input from @seanlip

[2017-07-01 17:27] anmolshkl commented on #3514
@giritheja alright, thanks for the update! Will you be able to start working on this issue now? The issue being that Oppia-ml side implementation is almost complete and we would need to start testing it pretty soon.

[2017-07-01 20:06] seanlip commented on #3514
@giritheja -- feel free to go ahead and take this one up! I still need to chat with @wxyxinyu about the questions project.

[2017-07-02 03:50] #3571 closed, assigned to kevintab95

[2017-07-02 04:26] seanlip commented on #3245
Closing this. We have removed the list functionality (thanks @juansaba!).

[2017-07-02 04:26] #3245 closed

[2017-07-02 04:26] seanlip commented on #3159
This seems less common now, so I'm closing the issue.

[2017-07-02 04:26] #3159 closed

[2017-07-02 14:40] kevintab95 opened #3595 "Hint Button should not show for cards which do not have hints specified"
Currently, a grayed out hint button shows for card which do not have hints specified. If a card does not have hints, the hint button should not be visible.

[2017-07-02 16:53] #3562 closed, assigned to kevintab95

[2017-07-02 16:53] #3595 closed, assigned to nobody

[2017-07-03 04:07] srinivas1910 opened #3598 "Save Button Location in Serentiy"
Hi,
I am a newbie to Serenity, Please tell me how to change the Save Button from top of the griddialog to bottom of the griddialog.

thankx

[2017-07-03 05:07] seanlip commented on #3598
Hi @srinivas1910 -- this isn't Serenity, I'm afraid. Perhaps you've posted to the wrong project?

[2017-07-03 05:07] #3598 closed, assigned to nobody

[2017-07-03 05:09] srinivas1910 commented on #3598
Sorry

[2017-07-03 19:24] terrameijar commented on #1251
@seanlip I am unable to continue work on this at this time, please re-assign to someone else, thank you.

[2017-07-04 00:38] seanlip opened #3602 "Remove unnecessary files from third_party/static."
App Engine imposes a deployment limit of 10,000 files. We are starting to reach that limit due to the large number of files in third_party.

On further investigation, many of these files aren't needed, since we already concat them (with minification in production) in third_party/generated. We could therefore move these files to ../oppia_tools/third_party_js_deps, or similar, which would take them

[2017-07-04 04:41] collinsnji commented on #2943
Hi, following the previous comments, should I make this a pop over or a tooltip?

[2017-07-04 04:44] seanlip commented on #2943
Hm, good question -- not sure. @jaredsilver?

[2017-07-04 05:05] collinsnji commented on #2943
One quick question: What style guide does Oppia use? Material Design, Bootstrap? If Material design, then I think tooltips will be a better fit for iconography, as per the [material design guidelines](https://material.io/guidelines/components/tooltips.html#tooltips-tooltips-mobile)

[2017-07-04 05:13] seanlip opened #3604 "Cancelling an "add image" operation causes other images to disappear."
Steps to reproduce:

1. Create an exploration.
2. Open the RTE and click the "add an image" button.
3. Select an image from your computer and press "Save", add an accessibility label for vision-impaired users, and press "Done".
4. Click the "add an image" button again, click on "select a file" and select a file from your computer.
5. Without pressing "Save", click the "Cancel" button at the bottom

[2017-07-04 05:14] seanlip commented on #2943
We don't really have a style guide at present for this level of design, unfortunately. Historically, it's been Material-Design-but-not-quite, so maybe let's go with a tooltip for now?

[2017-07-04 06:08] seanlip commented on #3604
Some notes by @juansaba that may help when debugging this:

[2017-07-04 06:30] seanlip opened #3606 "For public explorations, default to the feedback page in the exploration editor if feedback exists."
Consider the user flow of an exploration creator who's published their exploration. One of the most useful things about publishing is that you can now get feedback from users, but currently this is shown in a side tab that's easy to ignore.

Instead, it would be nice if, when a logged-in creator/editor visits the exploration editor page (for a public exploration they have edit access to, with at l

[2017-07-04 06:39] seanlip commented on #129
There is now no image bank, so this is obsolete. Closing.

[2017-07-04 06:39] #129 closed

[2017-07-04 06:41] seanlip commented on #3548
Hi @joshuacano, would you mind taking a look at this please? Thanks!

[2017-07-04 06:44] seanlip opened #3607 "Delete the old fallbacks code, and keep the hints code permanently turned on."
Currently, the fallbacks code and hints code are both shipped in the frontend, using feature flags.

After the release this weekend (July 8), by which time QA testing would presumably have been completed, the fallbacks code (frontend and backend) should be deleted entirely and the hints code turned on permanently (i.e. its feature flag should be removed). Care should be taken to ensure that there

[2017-07-04 06:50] seanlip opened #3608 "When an exploration editor/viewer is removed, notify them and process their removal fully."
In the Settings tab of the exploration editor, there is functionality for exploration owners to manage roles. However, currently, users can be added to an exploration, but cannot be removed from it.

The aim of this issue is to implement the necessary functionality enabling exploration owners to remove editors/viewers of explorations. Note that this has some implications:
- The editor/viewer list

[2017-07-04 06:51] seanlip opened #3609 "Create a user documentation page on oppia.github.io for the learner dashboard."
We maintain user documentation for the Oppia site at oppia.github.io. This summer, we are creating a new learner dashboard page for learners to track their progress in explorations and collections (among other things). The aim of this issue is to create a page on oppia.github.io describing how the learner dashboard works, and how to use it; this page should be kept in sync with the user experience

[2017-07-04 06:53] seanlip opened #3610 "Update the user documentation on oppia.github.io for the Hints functionality."
This summer, we are introducing the functionality for creators to include hints in explorations. Guidance on how to use this feature should be added to oppia.github.io, so that creators can use this new functionality effectively. The guidance on that page should match the UX on the main Oppia site.

/cc @tjiang11 @joshuacano @kevinlee12

[2017-07-04 07:14] seanlip opened #3611 "Standardize button colors and styles in the learner view."
To reproduce: go to the /admin tab, reload the "welcome" exploration, go to /explore/0, and play the exploration until the end.

You'll see that there are a variety of colors and styles used for the continue/submit buttons. For example, the button for submit is grey in color with black text, and the text is CamelCased. On the other hand, the button for continue is dark blue in color with white tex

[2017-07-04 08:02] seanlip opened #3612 "In embedded explorations, the learner avatars are too large."
To reproduce:

1. On a local dev server, go to /admin and reload the Welcome exploration.
2. Create a new HTML file on your local machine with the following in it:

    `<iframe src="http://localhost:8181/embed/exploration/0" width="1000" height="600"></iframe>`

3. Open that file in a web browser, and answer incorrectly to the first question.

Observed behaviour: The learner avatar is way too lar

[2017-07-04 08:08] seanlip opened #3613 "In the learner view, it's unclear what to do when you're on a card that's not the last one."
Here's a screenshot of an unfinished exploration playthrough. Can you figure out what you need to do in order to progress further in this exploration?

![missing-next-thing](https://user-images.githubusercontent.com/10575562/27820735-97cfa5be-6054-11e7-9c5f-59439f05b349.png)

It's not entirely clear, is it? That's because the learner had gone to the end, and then moved back a couple of cards using

[2017-07-04 15:35] LanJosh commented on #2553
Hi @kevinlee12 I'm a bit confused on indexing the activities. The entity classes to map over I think should be the CollectionModel and the ExplorationModel, but there is an ActivityModel that I can't see a relationship to.

[2017-07-04 16:39] tjiang11 commented on #3613
I'm having doubts as to whether it's really unclear or not. It seems like the only way the learner could have gotten back to this state is by using the navigation bubbles at the top. And so I feel like it'd be natural to use the navigation bubbles to get back. So I think the attention should be centered there. I think the main problem is that the learner may forget which card they were on in the f

[2017-07-04 16:47] kevintab95 opened #3615 "Hint Editor should not allow blank hints to be specified"
Currently the Hints Editor allows saving of blank hints. This should not be allowed, the button should be grayed out if hints are blank.

[2017-07-04 17:15] #3505 closed, assigned to juansaba

[2017-07-04 17:24] seanlip commented on #2553
@LanJosh -- sorry, I'm confused. Where are you seeing ActivityModel? I can't find it in the codebase.

FYI, "activity" is a generic term that we sometimes use for referring to either an exploration or a collection.

[2017-07-04 17:25] seanlip commented on #2553
Ah -- if you're referring to the use of "all activities" in this issue, it just means "all explorations and collections".

[2017-07-04 17:44] seanlip commented on #3613
Thanks, @tjiang11! I like the idea, but @rachelwchen @markhalpin what do you think? In particular, @rachelwchen -- do you think this would address the feedback from the user tests?

[2017-07-04 19:29] markhalpin commented on #3613
Hi all. I think we're trying to avoid this issue by taking navigation out of learners' hands, aren't we? That is, we're typically routing learners back to certain cards rather than asking them to navigate back there themselves. If that's the case, I'm not quite clear on the why this issue would come up.

[2017-07-04 20:59] jacobdavis11 opened #3617 "Streamlining of the Image upload rich-text-component"
I suggest the following changes:
 - Remove the "use this image" button and have its functionality happen automatically.
 - Make the cropping border and functionality more prominent; I uploaded a dark image and did not notice it was there.
 - Remove the "Crop" / "Cancel" buttons that appear after I move the crop border. Instead the "Done" button should remain enabled (assuming a visually impaired t

[2017-07-04 21:09] #3615 closed, assigned to nobody

[2017-07-04 21:33] jacobdavis11 opened #3618 "Stop the icons in the learner view overlapping"
Currently the icons in the learner view overlap slightly when the feedback text is only one line. We should consider shrinking the icons slightly to avoid this.

![screenshot from 2017-07-03 21-47-52](https://user-images.githubusercontent.com/13726796/27843141-f24b0166-6110-11e7-952f-19d96932c1b8.png)

[2017-07-04 21:34] jacobdavis11 commented on #3618
@markhalpin

[2017-07-04 22:06] LanJosh commented on #2553
I was referring to the ActivitiesReferenceModel in core.storage.activity, but that makes sense to just use collection and exploration model in the case of all activities for this issue.

[2017-07-04 22:39] seanlip commented on #2553
Ah, I see. I think that just stores an (activity_type, activity_id) reference that's used by code elsewhere -- I don't think you need to touch it for this issue.

[2017-07-04 23:13] markhalpin commented on #3618
@jacobdavis11 happy to look at a mock if you want to assign a programmer to this. Let's try shrinking them the very minimum amount that will keep them from overlapping (with a slight preference on this end for adding a little more line space instead, as the larger, more legible icons are pretty appealing imo).

[2017-07-05 00:05] himanshu-dixit opened #3619 "Misalignment Of Multiple Question Type Choices In Firefox [Simple Editor]"
The choices in multiple choice question are getting misaligned.
**File** `core/templates/dev/head/pages/exploration_editor/simple_editor_tab/questions/multiple_choice_editor_directive.html`
**Firefox**
![screenshot from 2017-07-05 05-30-44](https://user-images.githubusercontent.com/6849438/27844733-49c5249e-6143-11e7-8e23-c224a8692d1d.png)
**Expected Behaviour [Like In Chrome]**
![screenshot from

[2017-07-05 00:38] jaredsilver commented on #2943
I agree with tooltip if that's what the material design guidelines say 👍

[2017-07-05 10:01] seanlip commented on #3611
Related issue: with text input, the submit button "hugs" the bottom of the input field. The spacing between the input field and the button should also be consistent among the different interactions, otherwise it looks untidy.

![hugging-text](https://user-images.githubusercontent.com/10575562/27859605-2d06f32e-612e-11e7-8738-556a713b41f3.png)

[2017-07-05 17:33] seanlip commented on #3253
@souravbadami ping?

[2017-07-05 19:51] rachelwchen commented on #3613
I don't think [making clear as to where learners were] addresses the feedback from user tests, because what the user had said was "it is inconvenient to navigate back to the very last/current card." It was inconvenient, not unclear.
If we want to make any changes to the navigation bubbles, perhaps we can direct this to Alex, so we're not making changes that may soon be invalidated?

[2017-07-06 02:18] collinsnji commented on #2943
@jaredsilver @seanlip can someone point out which file(s) I could possibly need to work on for this issue?
I'm having trouble finding the globe icon on my local instance since the demo exploration does not exist in it.

[2017-07-06 20:44] #3342 closed

[2017-07-06 20:45] AllanYangZhou commented on #3342
(Closed after #3623)

[2017-07-07 06:28] himanshu-dixit commented on #2943
@collinsnji You might need to look at "core/templates/dev/head/components/summary_tile".

[2017-07-09 04:00] LanJosh commented on #2553
For this issue I think there should be services from collection_services pulled into the new search_services file as well, in order to index the explorations and collections in the same job manager. Is there a simple way to differentiate between a collection and an exploration by their ID in order to select the correct indexing behavior? Or am I on the wrong path with merging those two services?

[2017-07-09 15:55] #3585 closed, assigned to joshuacano

[2017-07-10 06:00] #2639 closed

[2017-07-10 06:09] seanlip commented on #2553
I think you're right that some stuff needs to be pulled in from collection_services. There is no way to differentiate based on ID alone, you need to know the activity type ('exploration' or 'collection') as well.

[2017-07-10 11:25] makoscafee commented on #3619
Hi @himanshu-dixit is delete button supposed to be seen even before you click the individual option?
<img width="1280" alt="screen shot 2017-07-10 at 2 24 41 pm" src="https://user-images.githubusercontent.com/6409210/28016095-917047b0-657b-11e7-9cb2-57d2301da9b6.png">

[2017-07-10 11:37] himanshu-dixit commented on #3619
@MAKOSCAFEE No, delete button is not supposed to be seen before you click.

[2017-07-11 11:38] shubha1593 commented on #3618
Does this look okay ?

![icon_overlap](https://user-images.githubusercontent.com/7807557/28066613-4c0d633e-665b-11e7-8c82-f5e2728d699d.jpeg)

[2017-07-11 14:52] markhalpin commented on #3618
Hi @shubha1593. Thanks for doing this. A couple of things: could you describe whether this mock was arrived at by shrinking the icons or by respacing? If shrinking, could you describe the percentage? Finally (if this was done by shrinking rather than respacing) could you do a mock showing that with the actual avatars? The issue here is whether they become illegible if too small, so it would be gre

[2017-07-11 17:56] giritheja commented on #3514
Why aren't we ordering by the time of the last_update?

[2017-07-11 18:16] rachelwchen opened #3634 "IE compatibility issue causing display bug"
In a user interview session, one user's computer couldn't load the collection index page properly. Here is how his screen looked:
![image](https://user-images.githubusercontent.com/12159451/28083461-46d34aea-662a-11e7-8f82-3a0047a36962.png)

This is how it's supposed to look:
![image](https://user-images.githubusercontent.com/12159451/28083469-4b27c328-662a-11e7-9dc2-354981c3f3a2.png)

It might ha

[2017-07-11 19:12] seanlip commented on #3613
Hi @rachelwchen -- good point, thanks! I've assigned @awtran to the issue.

[2017-07-11 23:29] seanlip commented on #3249
Update: we've decided on a max length of 2000 chars.

[2017-07-12 02:14] seanlip commented on #3253
Deassigning @souravbadami due to lack of response.

[2017-07-12 03:24] shubha1593 commented on #3618
Hi @markhalpin, I just moved the top avatar, up by 20px. I made the change in CSS for the top section avatar image, set the 'top' property equal to -20px rather than 0.

[2017-07-12 03:38] seanlip commented on #3618
Hi @shubha1593, just to check, does that solution generalize well? For instance if you add another answer/response pair, is there still sufficient spacing? (If you could show a screenshot with answer-response-answer-response-answer, that would be nice.)

Thanks!

[2017-07-12 04:06] seanlip commented on #3553
Closing; this is fixed in #3587. Thanks @1995YogeshSharma!

[2017-07-12 04:06] #3553 closed, assigned to 1995YogeshSharma

[2017-07-12 04:27] markhalpin commented on #3618
Thanks @shubha1593! In that case, pending your reply to @seanlip, LGTM.

[2017-07-12 09:32] shubha1593 commented on #3618
Hi @seanlip, when there are multiple answer-response pair, they are collapsed and hidden, only the latest answer is shown, and when the previous responses are expanded, the corresponding avatars are not shown. So if the avatars are to be shown along with the previous responses too, then the problem of overlap will exist, otherwise I think, it won't.

![multi_response_collapsed](https://user-images

[2017-07-12 20:00] seanlip commented on #3618
OK, sounds good to me. Thanks @shubha1593! Do you want to submit a PR?

[2017-07-12 20:22] juansaba commented on #3617
@jacobdavis11 Hi Jacob, I just want to understand how this should behave.

Consider the following scenario:

I want to use <a href='http://blogs.wvgazettemail.com/foodguy/files/2014/11/Chef-Tim-White.jpg'>this image</a>, but crop to only the face of the person and make it small like ~ 100x100px

In the current implementation, the above is achieved by the following steps:

1. Upload the image
2. Mo

[2017-07-12 20:40] juansaba commented on #3617
I haven't been able to find examples of a good user experience for this case.

I've checked here:
http://webresizer.com
http://www.photoresizer.com
http://resizeyourimage.com
http://resizeimage.net
http://imageresize.org
http://www.fotor.com/app.html#/editor/basic

All of them either have an intermediate step to confirm the "Crop" before resizing, or they do all at once but provide a bunch of inpu

[2017-07-12 22:29] markhalpin commented on #3618
@shubha1593 interesting! Showing the avatar for only the most recent comment is a bit of a departure from the current look, but I don't object to it. Anyone see any issues? If not, LGTM.

[2017-07-13 07:02] jacobdavis11 commented on #3617
That's a good point.

Perhaps you could keep the crop button, but make it optional, so the user
can select the cropped area and immediately click "Done" if they want.

On Wed, Jul 12, 2017 at 10:40 PM, juansaba <notifications@github.com> wrote:

[2017-07-13 07:29] himanshu-dixit commented on #3619
Fixed, #3638. Thanks @MAKOSCAFEE.

[2017-07-13 07:29] #3619 closed, assigned to nobody

[2017-07-13 07:31] shubha1593 commented on #3618
@seanlip, great ! I'll submit a pull request.
@markhalpin, the current look have avatars for most recent comment only. I haven't made any changes in the look, just moved the top most avatar up a little bit !

[2017-07-13 09:04] markhalpin commented on #3618
Oops, right you are. Ignore my fried brain please. Anyway, great work @shubha1593 !

[2017-07-13 09:10] seanlip commented on #3634
Fixed in #3636. Closing.

[2017-07-13 09:10] #3634 closed, assigned to seanlip

[2017-07-13 09:11] seanlip commented on #3612
Hi @utkarsh-dixit -- how is this going?

[2017-07-13 09:13] seanlip commented on #3576
Hi @AllanYangZhou -- how's this going?

[2017-07-13 09:13] seanlip commented on #3558
@zhengxit, are you still working on this?

[2017-07-13 09:16] seanlip commented on #3606
@shubha1593 -- this is a slightly more difficult issue, but it should be a good introduction to the editor. Would you like to take it on?

If so, perhaps a good first step is to figure out how you'd approach this, and outline the approach here (together with any questions you may have) while working on a local prototype of it to see if it works. We can talk through it a bit before you do the final

[2017-07-13 09:35] seanlip commented on #3257
Deassigning @tvallois due to lack of response.

[2017-07-13 16:37] giritheja commented on #3514
As per my last conversation with @pranavsid98 , He asked me to wait for his PR to be merged before creating PR for this issue as there will be possible merge conflicts with classifier.py and classifier_test.py files. I will create PR after his PR is merged.

[2017-07-13 20:27] #3618 closed, assigned to shubha1593

[2017-07-13 22:20] seanlip commented on #2827
Fallbacks have been deprecated. Closing this.

[2017-07-13 22:20] #2827 closed

[2017-07-13 22:25] seanlip commented on #2016
Duplicate of #3550.

[2017-07-13 22:25] #2016 closed

[2017-07-14 19:36] juansaba commented on #3617
@jacobdavis11 I have a concern regarding doing it like that.

Let's say again that you want to load a big image, like <a href='http://livingword.church/Websites/lword/images/Starting_Point_Class_Logo.png'>this one</a> (6200×2500) and crop to only a piece of it (see below).

![image](https://user-images.githubusercontent.com/4760286/28227830-a35d18d2-6890-11e7-96f2-e0fefaf0653d.png)

If we allow th

[2017-07-14 19:37] juansaba commented on #3617
Closing this issue, based on the argument above.

Feel free to reopen if you think we should continue the discussion.

[2017-07-14 19:37] #3617 closed, assigned to juansaba

[2017-07-15 08:34] seanlip opened #3644 "Hint editor does not handle empty hints correctly."
To reproduce:

1. Create an exploration.
2. Add three hints.
3. Open the hint editor for the third hint, and delete the text.
4. Click the hint editor for the second hint.

Observed behavior: the third hint collapses quite badly, and is hard to open again. See screenshot below.

![bad-hint](https://user-images.githubusercontent.com/10575562/28237875-63d91dce-68fd-11e7-8cd9-a60c3061fb7a.png)

Expec

[2017-07-15 08:58] kevintab95 commented on #3644
Noted. Will work on it later tonight. Thanks.

[2017-07-15 10:42] #2740 closed

[2017-07-15 12:38] kevintab95 opened #3645 "Introduce Solution Editor"
Introduce new Solution editor. This is part of the Fallbacks to Hints GSoC project.

[2017-07-15 20:55] seanlip commented on #3610
Fixed (see http://oppia.github.io/#/TheExplorationEditor). Thanks @kevintab95!

[2017-07-15 20:55] #3610 closed, assigned to kevintab95

[2017-07-16 17:32] #3515 closed, assigned to pranavsid98

[2017-07-16 17:46] pranavsid98 commented on #3514
@giritheja Sorry. it took longer that I expected. My PR is done and you can get started.

[2017-07-16 20:22] jacobdavis11 commented on #3617
I take your point, and don't have any strong counter-arguments. Thanks for
all your work!

On Fri, Jul 14, 2017 at 9:37 PM, juansaba <notifications@github.com> wrote:

[2017-07-16 23:45] juansaba commented on #3617
No problem! I appreciate the discussion.

[2017-07-17 08:09] #3644 closed, assigned to kevintab95

[2017-07-17 14:42] afanasy opened #3653 "ALPHANUMERIC_SPACE_REGEX DoS"
ALPHANUMERIC_SPACE_REGEX from ./feconf.py is susceptible to RegExp DoS
[code]
(takes too long to complete)

[2017-07-17 17:34] #3249 closed

[2017-07-17 18:16] #2508 closed

[2017-07-17 19:05] shaz13 commented on #3522
@cosmicAsymmetry, Are you still working on this ?

[2017-07-17 19:10] seanlip commented on #3520
Fixed in #3652. Thanks @himanshu-dixit!

[2017-07-17 19:10] #3520 closed, assigned to nobody

[2017-07-17 21:08] jacobdavis11 commented on #3490
De-assigning for now. Please feel free to re-assign if you'd like to resume work.

[2017-07-17 21:09] jacobdavis11 commented on #3408
@tjiang11 How is this going?

[2017-07-17 21:10] jacobdavis11 commented on #3407
@Oishikatta Are you still working on this?

[2017-07-17 21:11] jacobdavis11 commented on #3370
@bching Are you still working on this?

[2017-07-17 21:13] jacobdavis11 commented on #3082
@anthkris I'm de-assigning for now. Please re-assign if you have more time in the future!

[2017-07-17 21:14] jacobdavis11 commented on #3016
@ashish3805 It looks like the PR is merged, so is this issue complete now?

[2017-07-17 21:17] jacobdavis11 commented on #2863
@tjiang11 Is this issue complete now?

[2017-07-17 21:17] jacobdavis11 commented on #2825
@Oishikatta Have you had a chance to look at this?

[2017-07-17 21:18] jacobdavis11 commented on #2569
De-assigning for now. Please feel free to re-assign if you'd like to resume work.

[2017-07-17 21:18] jacobdavis11 commented on #2533
De-assigning for now. Please feel free to re-assign if you'd like to resume work.

[2017-07-17 21:21] jacobdavis11 commented on #383
@kefeh Are you still working on this?

[2017-07-17 21:49] seanlip commented on #3490
Actually, there's a PR open for this (#3599). I'll check in with @Oishikatta.

[2017-07-17 21:51] seanlip commented on #3407
I think, let's close this for now (given the percentages above). If we see it more often, then we can revisit it.

[2017-07-17 21:51] #3407 closed

[2017-07-17 21:53] seanlip commented on #2863
I think not, actually -- we should have domain objects for those constructs as well. But I'm deassigning @tjiang11 since he's busy with the audio stuff. In fact, I think this would actually be a pretty good starter project, since there's a lot of prior art at this point (thanks to @tjiang11!)

[2017-07-17 21:55] ashish3805 commented on #3016
Yes, the issue has been resolved. :)

On Tue 18 Jul, 2017, 2:44 AM Jacob Davis, <notifications@github.com> wrote:

[2017-07-17 21:56] #3016 closed

[2017-07-17 21:57] seanlip commented on #3522
Hm, I don't think so. @shaz13 -- I'll reassign it to you in the meantime, is that OK?

[2017-07-18 04:59] utkarsh-dixit commented on #3612
<img width="1001" alt="resizedavatar" src="https://user-images.githubusercontent.com/16796008/28301401-f14d9c04-6ba3-11e7-9131-94644d2c1bba.png">
Would this be ok. I am not sure, but some of the properties in conversation_skin_embed_directive.html is being override by properties in coversation_skin_directive.html .

[2017-07-18 05:25] pranavsid98 commented on #3433
Closing this issue because it is not relevant to the framework anymore. This has been implemented for the later framework.

[2017-07-18 05:25] #3433 closed, assigned to pranavsid98

[2017-07-18 05:36] seanlip commented on #3612
I think, for the embedded view (where space is an issue), this should be fine. Perhaps we can use class names/definitions that are different from the main view so that we don't get clashes.

Thanks @utkarsh-dixit!

[2017-07-18 05:50] seanlip commented on #3653
Many thanks for filing this issue, @afanasy!

I've taken a look into it, and I think it's a no-op for us at the moment. Only one field uses this regex and its length is bounded, and in fact we took a decision at the tech leads meeting today to remove the only dependent on this regex from the codebase (i.e., gadgets). So this regex will be deleted as part of that refactor anyway.

[2017-07-18 05:50] #3653 closed, assigned to nobody

[2017-07-18 14:28] shaz13 opened #3655 "Dummy explorations are published but not indexed in library page."
Looks like the removed code in the

**commit edf06a80f8f221cb681fb43489ab637bfb9b000b @shaz13 committed 2 days ago**

at line 246 in admin.py was needed to populate published dummy explorations on library page.

Adding this code back resolves the issue

[code]

[2017-07-18 14:28] shaz13 commented on #3655
@seanlip Could you please verify it?

[2017-07-18 18:10] jacobdavis11 opened #3657 "The greyed-out non-editable parts of the CodeRepl learner view are confusing"
The "Coding to Mars" exploration was just flagged because the user couldn't see how to edit this state (https://www.oppia.org/create/xLLFdk1Ojw4V#/preview/P1SAMDicts) which uses the CodeRepl interaction and has a lot of greyed-out uneditable code at in the code editor.

It was also not obvious to me that the greyed-out code was not supposed to be editable, and I thought at first that the interacti

[2017-07-18 18:10] jacobdavis11 commented on #3657
@seanlip

[2017-07-18 18:19] seanlip commented on #3657
Do you have any suggestions for what a better behaviour would be?

[2017-07-18 18:21] jacobdavis11 commented on #3657
You could automatically scroll the starting window to the editable portion.

It would also be nice to have a way to reset the code back to its initial state. If you had that then maybe you could just make everything editable.

[2017-07-18 18:21] jacobdavis11 commented on #3657
(These are just vague ideas, I think this needs some actual design work.)

[2017-07-19 01:46] prasanna08 commented on #3611
Hi @muxout, How is this going?

[2017-07-19 01:48] prasanna08 commented on #3558
@zhengxit, Ping -- are you still working on this?

[2017-07-20 07:08] muxout commented on #3611
@seanlip, @prasanna08 this is my proposed design:
![image](https://user-images.githubusercontent.com/29590798/28404696-7f21b566-6d7e-11e7-8ca6-5b24c16b1f38.png)

![image](https://user-images.githubusercontent.com/29590798/28404739-a0a6aeee-6d7e-11e7-87de-98c66a241dfe.png)

![image](https://user-images.githubusercontent.com/29590798/28404768-c4328a04-6d7e-11e7-86b4-a140fc1be16d.png)

[2017-07-20 07:10] seanlip commented on #3611
Thank you, @muxout. It looks nice! But I also think we've received quite good feedback on the "Continue" button (with the arrow) so what do you think about changing all the other stuff to that style as well (same colour, capitals, etc.)? (Note that the arrow would be only for the Continue button and not Submit.)

[2017-07-20 08:27] bching commented on #3370
@jacobdavis11 Yes, I am still looking at this, I have been a bit busy with moving but this is still on my to-do list.

[2017-07-20 08:30] seanlip commented on #3370
Hi @bching -- thanks! Just a thought: if you're having any trouble with the issue or want to talk about possible approaches, let us know. We can arrange a time on Gitter to discuss. Thanks!

[2017-07-20 09:22] muxout commented on #3611
Sure, like this? (The color changes to a lighter shade when the button has focus, as shown below)
![image](https://user-images.githubusercontent.com/29590798/28410133-d160b8f6-6d90-11e7-9f96-5099910028c1.png)

![image](https://user-images.githubusercontent.com/29590798/28410287-508ba2da-6d91-11e7-9ed9-270c22db6e84.png)

![image](https://user-images.githubusercontent.com/29590798/28410316-66da1788-

[2017-07-20 09:23] seanlip commented on #3611
Thanks @muxout, I think that looks great! @markhalpin, would you agree?

(In the meantime, @muxout, please go ahead and submit a PR. Thanks!)

[2017-07-20 10:09] seanlip commented on #3146
Hi @muxout -- would you like to take a crack at this?

[2017-07-20 10:12] seanlip commented on #2107
Closing, since fallbacks have been replaced with hints.

[2017-07-20 10:12] #2107 closed

[2017-07-20 17:06] kevinlee12 commented on #3412
Temporarily de-assigning myself since I won't be getting to this for the next couple of weeks. If no one picks it up then, I'll take it up.

[2017-07-20 21:06] kevintab95 opened #3663 "Introduce solution learner view"
This is part of the fallbacks to hints project. Solution learner view needs to be introduced.

[2017-07-20 21:46] jaredsilver opened #3665 "Tag placeholder text wrong"
I don't recall what it is supposed to say, but this is not correct:

<img width="579" alt="screenshot" src="https://user-images.githubusercontent.com/1312199/28440202-e04e44f8-6d6a-11e7-8d6e-71cccb4903c5.png">

[2017-07-20 21:57] seanlip commented on #3665
@vojtechjelinek -- I have a feeling this might be related to the recent select2 upgrade. Would you mind taking a quick look, please?

Thanks!

[2017-07-20 22:06] jaredsilver opened #3666 "Add confirmation dialogue for accept/reject buttons for suggestions"
Currently, if a creator rejects/accepts a suggestion, there is no way to undo this and select the other. Instead, we get this message when we go back to view the suggestion again:

<img width="320" alt="screen shot 2017-07-20 at 5 03 03 pm" src="https://user-images.githubusercontent.com/1312199/28440803-78ca382a-6d6d-11e7-87db-3e7f1da09a2a.png">

To prevent a potentially disastrous misclick, add a

[2017-07-20 22:27] seanlip commented on #3666
[The following text refers to an older description of the issue that suggested allowing reverts, but is no longer relevant with the new description.]

~~The first is a bit tricky, actually. Accepting a suggestion is like committing a change to a lesson. If additional changes are committed on top of that, then it's not straightforward to just undo the change that's been applied.~~

~~How important

[2017-07-20 22:35] jaredsilver commented on #3666
A much quicker alternative is to simply add a confirmation dialogue on click. I'll update the issue. :+1:

[2017-07-20 23:40] vojtechjelinek commented on #3665
Oh, How I didn't notice this.

It's a problem in select2 library https://github.com/select2/select2/issues/291, I think until the issue is fixed in select2 we could add a CSS that will fix this.
[code]

[2017-07-20 23:45] seanlip commented on #3665
Ah, ok, thanks for investigating! Yep, that sounds like it would work -- would you mind doing a PR and sending to @jaredsilver for review?

[2017-07-21 01:32] jaredsilver opened #3668 "Tags are either not saving or not displaying"
Steps to reproduce:

Go to the settings page or publish modal for any exploration. Enter tags. Save.

Reload the page / navigate to the settings page for the same exploration.

[2017-07-21 19:29] seanlip commented on #2036
Hi @brianrodri -- while I'm taking a look at the jobs documentation PR, it occurred to me that you might like to have something to look at where the knowledge you've gained from digging into the details of the jobs system would be helpful. With that in mind, would you be interested in taking a look at this issue?

[2017-07-22 00:26] brianrodri commented on #2036
Sure, I'll post file comments as I'm looking around!

[2017-07-22 00:30] seanlip commented on #2036
Sounds good, thanks @brianrodri!

[2017-07-22 19:09] #2447 closed

[2017-07-23 16:30] shubha1593 commented on #3606
Hi @seanlip, I tried out one way to solve this issue.
Before redirecting to the editor, we can check if there are any feedback threads for the exploration. If there are, then redirect to the feedback page, else redirect to the editor page.
I made the changes in "core/templates/dev/head/pages/creator_dashboard/creator_dashboard.html"

![changes](https://user-images.githubusercontent.com/7807557/285

[2017-07-23 20:14] arunabh98 opened #3672 "Refactor the learner dashboard to make it more maintainable."
As the learner dashboard files - LearnerDashboard.js and learner_dashboard.html are getting too large on account of feature additions they will need to be refactored through directives to make them more maintainable.

[2017-07-23 21:00] seanlip commented on #3606
Thanks, @shubha1593. I thought about it, but I'm not sure this is the way to go, since it's possible to access the editor page by e.g. clicking on a direct link in email (which bypasses the creator dashboard altogether). The redirection should probably happen within the editor page itself (assuming that a hash isn't already specified in the URL).

[2017-07-24 01:39] prasanna08 commented on #3469
I'll take this up. Thanks.

[2017-07-24 03:46] markhalpin commented on #3611
LGTM!

[2017-07-24 04:38] seanlip commented on #3611
Fixed in #3662. Thanks @muxout!

[2017-07-24 04:38] #3611 closed, assigned to muxout

[2017-07-24 16:54] #3665 closed, assigned to vojtechjelinek

[2017-07-24 16:59] jaredsilver opened #3677 "Tags and category field values not appearing under certain circumstances"
Steps to reproduce:

1. Create a new exploration.
2. Add an end state, save draft, and hit publish.
3. Fill out the publish modal, making sure to add tags in the select2 box.
4. Publish the exploration.
5. Click over to the settings page for this exploration by clicking the gear icon.
6. The tags box and category box will be empty. Expected behavior: they should have the same values as the ones yo

[2017-07-24 19:12] #3655 closed, assigned to shaz13

[2017-07-25 05:30] joshuacano commented on #3548
@kirankonduru Quick question, is this always going to be the previous item in the collection? Or all items preceding.  (I.e. hovering over 4 only highlights 3, or highlights 2,3, and 4)

[2017-07-25 05:32] seanlip commented on #3548
When there is no hover, one exploration is highlighted as the "next thing to play".

In addition, hovering over X highlights only X (in a different color).

[2017-07-25 21:38] rachelwchen opened #3678 "Answer bug for "What is fraction? Part 1""
Hi,
I noticed a bug for this exploration: https://www.oppia.org/explore/DIWZiVgs0km-.

<img width="1280" alt="screen shot 2017-07-25 at 2 29 49 pm" src="https://user-images.githubusercontent.com/12159451/28594939-9d578616-7146-11e7-9156-30483f25d659.png">

The correct answer should be 3/4 (the image on the far right); however, when I clicked on it, it says "Nope, let's look at that again." I've tr

[2017-07-25 23:07] seanlip commented on #3678
Thanks for the report! Hm, that's weird. It works correctly for me (I get "Exactly! Let's try another one.")

Where exactly are you clicking, and what browser/OS are you using?

/cc @markhalpin

[2017-07-26 00:06] rachelwchen commented on #3678
I clicked on the cake! I'm using Chrome on Mac OS. After you said it's working correctly for you, I cleared my browsing data by clearing 'cashed images and files' & 'cookies and other site data', and it's performing correctly now. So, perhaps this was due to the browser, not the platform itself...

[2017-07-26 00:07] seanlip commented on #3678
That's really weird. Could it be due to a browser extension?

[2017-07-26 00:09] rachelwchen commented on #3678
Hm, not sure -- the extensions I have are AdBlock & WhatFont.

[2017-07-26 00:10] seanlip commented on #3678
Hm, OK. Yeah, I'm not sure. Let's close this, since it's not reproducible, but please feel free to reopen if it happens again!

[2017-07-26 00:10] #3678 closed, assigned to nobody

[2017-07-26 12:56] shubha1593 commented on #3606
hey @seanlip, I am just getting a little confused. So I should try making changes in
`core/templates/dev/head/pages/exploration_editor/exploration_editor.html` right ?

![exploration_editor](https://user-images.githubusercontent.com/7807557/28620696-b0dc9290-722b-11e7-9be4-32771f79718c.jpeg)

(Near line 76) I should check here if there are any feedbacks or suggestions and try to redirect?

[2017-07-26 16:54] seanlip commented on #3606
I suspect you'll need to look at the current editor routing mechanism (in JS), figure out what calls that, and extend it to include a check on the open feedback message count. Not entirely sure where to do that offhand, but I expect most of the modifications would need to be in the JS.

[2017-07-29 17:20] shaz13 commented on #3522
@seanlip I am going out of town. Not sure I can work on this. Deassigning myself as of now. Feel free to assign other contributers

[2017-07-29 21:46] seanlip commented on #3522
OK, noted. Thanks @shaz13!

[2017-07-30 15:54] jacobdavis11 commented on #3666
An alternative would be to make rejecting a suggestion reversible (since this does not any impact on the exploration's history, so it shouldn't cause technical problems) and for acceptance tell the user that if they want to undo the change then they can revert it on the history tab.

[2017-07-30 16:07] jacobdavis11 commented on #3551
Is this a duplicate of  #3096?

[2017-07-30 18:29] brianrodri commented on #2036
Hey Sean, here's what I've found:

- [This method](https://github.com/brianrodri/oppia/blob/develop/core/jobs.py#L723) is ultimately responsible for deciding how to enqueue both continuous and one-off jobs.
    - There seem to be hard-coded values here that we might be able to change to help improve the jobs..?
- [This line](https://github.com/brianrodri/oppia/blob/develop/core/controllers/admin.p

[2017-07-30 20:59] seanlip commented on #2036
Hi @brianrodri!

The available queues (names and rates) are documented in [queue.yaml](https://github.com/oppia/oppia/blob/develop/queue.yaml). Take a look at the [queue.yaml documentation](https://cloud.google.com/appengine/docs/standard/python/config/queueref) for more info.

I don't think you need to change the rate, but you would need to be able to specify which queue the job goes into (and ye

[2017-07-31 05:36] seanlip commented on #2997
This is done. Thanks, @wxyxinyu! Closing.

[2017-07-31 05:36] #2997 closed

[2017-07-31 05:37] seanlip commented on #2998
Parts 2-4 of this issue have been completed by @wxyxinyu. Assigning @manoj-makkuboy to part 1.

[2017-07-31 17:05] jaredsilver opened #3686 "Fix text overflow for contributors list"
<img width="547" alt="screen shot 2017-07-31 at 12 59 35 pm" src="https://user-images.githubusercontent.com/1312199/28788796-6c222a84-75f0-11e7-99d5-a9828e41444c.png">

## Steps to reproduce:
1. Visit an exploration with more than a couple contributors (https://www.oppia.org/explore/0).
2. Click the "i" information icon.
3. Hover over the "+n" circle denoting how many additional contributors there

[2017-07-31 21:33] jaredsilver commented on #1927
This will be incorporated in the new Foundation site 👍

[2017-07-31 21:33] #1927 closed

[2017-08-01 01:34] 1995YogeshSharma opened #3687 "code refactor: batching the calls for collection and collection_rights object."
We can batch the calls to data store in order to fetch both collection and collection rights object in a single get call. This will save data store calls.

[2017-08-01 01:39] 1995YogeshSharma opened #3688 "code refactor: remove code for publicize and unpublish from ExplorationStatusHandler"
makePublic and makePublicized function are implemented in frontend to manage the publish/publicized status for an exploration. They are called only for publishing and unpublicizing the exploration as unpublishing and publicizing are dealt in ExplorationModeratorRightsHandler.

Refactor those to reflect this.

[2017-08-01 01:40] 1995YogeshSharma opened #3689 "Remove "publicized" status for activities."
We are going to depricate publicizing/unpublicizing functionality soon. It is a good start to remove the publicize functionality as of now and allow only unpublicizing.

Edit: All exploration have been unpublicized in production. So, remove the publicize status altogether with all functions.

[2017-08-01 17:07] anthkris commented on #3257
Howdy @domevit Any update on this?

[2017-08-01 17:11] anthkris commented on #3146
Howdy @muxout How is this going?

[2017-08-01 17:13] anthkris commented on #3551
PR here: https://github.com/oppia/oppia/pull/3622

[2017-08-01 17:18] anthkris commented on #2943
@collinsnji Deassigning you for now, okay? Feel free to come back to this if you have time.

[2017-08-01 17:19] anthkris commented on #2825
@Oishikatta Deassigning you for now. Feel free to come back to this when you have time.

[2017-08-01 17:21] anthkris commented on #2665
Deassigning @BenHenning for now.

[2017-08-01 17:22] anthkris commented on #2553
@LanJosh Any progress on this?

[2017-08-01 17:23] anthkris commented on #383
@kefeh Deassigning you for now. Feel free to pick this up again later!

[2017-08-01 17:28] anthkris commented on #3688
Howdy @1995YogeshSharma! I notice that you have several issues assigned to you know and at least one open PR. Please finish those before taking on more. I'm going to deassign you from these new issues for now.

[2017-08-01 17:41] 1995YogeshSharma commented on #3688
@anthkris ..... These issues are asides of the GSoC work. Sean, suggested to open separate issues for them so as not to block that PR.

[2017-08-01 17:44] anthkris commented on #3688
Thanks for the info! I'll reassign you.

[2017-08-02 06:05] prasanna08 opened #3691 "Send email to selected recipients when ML training job fails."
In Oppia ML training jobs are trained separately on Oppia-ml. It may happen that some jobs will fail by exceeding TTL. To keep record of these failed jobs we need facility to send email to selected recipients whenever a training job fails. To implement this feature:

- [x] Add config property on admin page from where admin can add selected recipients' emails.
- [x] Implement feature for sending em

[2017-08-02 09:05] domevit commented on #3257
I'm still working on this.

[2017-08-02 09:33] pranavsid98 opened #3693 "Deprecate ClassifierDataModel and update ClassifierTrainingJobModel"
Observing recent changes in the ML project, we have decided to deprecate the ClassifierDataModel class completely. In exchange, the ClassifierTrainingJobModel will have additional fields. This, in turn, means the StoreJobController will update the job with the classifier_data instead of creating a ClassifierDataModel class.

Added fields:

- classifier_data
- data_schema_version

cc @anmolshkl @pr

[2017-08-02 11:13] anmolshkl commented on #3693
Hmm sounds fine to me. Make sure all the necessary fields are there in ClassifierTrainingJobModel (like data_schema_version).

[2017-08-02 12:31] pbhoiwala commented on #3686
It seems like a simple fix but how do I reproduce it on my local deployment? When I go to my (http://localhost:8181/explore/0), I get Error 404.

[2017-08-02 18:45] seanlip commented on #3686
Hi @pbhoiwala, good question! Go to /admin and log in as an admin, then click "reload all explorations".  That should populate some of the demo explorations and make the /explore/0 link active.

That said, you'll probably want to simulate multiple contributors, so you can also manually create several users on your local dev server by logging in/out and registering one at a time. Then, with one of

[2017-08-02 20:41] rachelwchen opened #3694 "Pop-up message blocking the hint button in explorations"
Hi all,

In some explorations with photos, the pop-up message would block the hint button underneath those photos. See below --

Here's what the screen looks like when the page is first loaded:
![o1](https://user-images.githubusercontent.com/12159451/28893944-19e78004-7788-11e7-88f8-8109b2f41580.png)

Here's what it looks like *immediately* after I click on an answer -- the originally grayed-out h

[2017-08-02 20:52] pranavsid98 commented on #3693
@anmolshkl Seeing that we are not re-using classifiers anymore, in a new light, is the data_schema_version really required? Do we still plan on updating all classifier_data of all jobs when we encounter a schema change, or are we planning to create new jobs for all classifiers existing?

[2017-08-02 21:15] seanlip commented on #3693
I think you do need that field (and let's perhaps discuss on this thread what other fields specifically need to be ported). The data schema version helps you interpret the classifier data correctly, so it's important to be explicit about that.

[2017-08-03 02:56] pbhoiwala commented on #3686
@seanlip Thanks, I was able to reproduce it and working on the fix.
@jaredsilver You're right, adding spaces between the names fixes the issue. So should that happen on the JS side? If so, do you know which file I can dig into?

[2017-08-03 02:59] seanlip commented on #3686
Take a look at exp_summary_tile_directive.html. That should be a good starting point.

[2017-08-03 03:21] pbhoiwala commented on #3686
@seanlip Thanks, I think I have fixed my first bug :smiley:
It was a minor change in _information_card_modal.html_
This is what it looks like:
![fixed_bug](https://user-images.githubusercontent.com/19194612/28904475-351ce534-77d9-11e7-96e1-ced1cbc18a92.png)
I will do some more testing tomorrow and then eventually push the fix.

[2017-08-03 03:24] seanlip commented on #3686
Great, thanks @pbhoiwala -- and congrats! :P (And oops, sorry, I did get the directive name wrong.)

Might be worth checking to see whether something similar happens for collections? I can't remember whether there's a similar card there.

Also, in the screenshot, the +4 is a bit big for the circle it's in, and seems to not contrast well with the background; the "testing" tag is also a bit close to

[2017-08-03 11:12] seanlip commented on #3612
Hi @utkarsh-dixit, are you still working on this? If not please let us know and we'll deassign you.

Thanks!

[2017-08-03 12:02] arunabh98 opened #3695 "Pull out the load test for fetching thread summaries for learner dashboard so that it does not run along with the main tests."
The test for whether the time taken to fetch the thread summaries is within a certain limit is failing on Travis for some reason. This is why we have decided to pull it out into a separate test and analyze it more carefully.

[2017-08-03 13:14] pbhoiwala commented on #3686
@seanlip No problem :)
And sure, I will check other areas if the similar issue happens and fix if possible. I saw the (+4) and felt that I could make it look a little cleaner. Would that be a part of the same PR or a different PR?

[2017-08-03 18:37] seanlip commented on #3686
Thanks for asking, that's a great question!

Same PR is fine, I think. Normally we do separate fixes in separate PRs but these changes are pretty small and I think it's fine to group them under the general heading of "improvements to the info card".

[2017-08-03 19:02] #3551 closed, assigned to muxout

[2017-08-04 03:22] pbhoiwala commented on #3686
@seanlip Hey, so I have completed the testing and also fixed the (+4) UI element. I have created a pull request for my branch (https://github.com/oppia/oppia/pull/3697).

[2017-08-04 03:35] seanlip commented on #3686
Awesome, thanks @pbhoiwala! ~~I'll try and review it later tonight, got to rush another PR before this weekend's release.~~ Scratch that :) I just reviewed it!

[2017-08-04 03:41] seanlip commented on #3096
I think this is fixed in #3622. Closing.

[2017-08-04 03:41] #3096 closed

[2017-08-04 03:53] seanlip commented on #3677
Hi @pbhoiwala, would you like to take a look at this one?

[2017-08-04 05:14] seanlip commented on #3695
Just a quick note to say that this is somewhat urgent -- it's breaking a bunch of other PRs.

Thanks!

[2017-08-04 06:04] arunabh98 commented on #3695
Could you please give me an idea on how to go about doing this or some reference in the codebase. Thanks!

[2017-08-04 06:09] seanlip commented on #3695
There's no prior art, I'm afraid. But here's a possible approach: I suggest passing in an arg (exclude_load_tests, say) to the run_backend_tests.sh script that is then passed to the run_backend_tests.py script. If the arg exists then the directories to test should include core/tests/load_tests.py (this is where the load test can be moved to) and if not then that directory should be excluded from t

[2017-08-04 06:10] seanlip opened #3698 "NotLoggedInException erroneously raised when non-logged-in user clicks the create button in the navbar"
Steps to reproduce:
1. Start a new Oppia dev instance.
2. Go to the splash page.
3. Look at the error logs in a terminal, then click on the Create button in the navbar.

Observed:
The error logs show that a self.NotLoggedInException is raised.

Expected:
There should be no such exception thrown, since the user actions constitute a perfectly valid sequence of events.

Note that there is no user-vis

[2017-08-04 08:40] #3686 closed, assigned to pbhoiwala

[2017-08-04 17:57] satishboggarapu opened #3701 "inconsitent "Continue" button name"
In the exploration learner view, there are two types of interactions: those that appear in the tutor card (like numeric and text input), and those that appear in a supplemental card on the right (like map and code input). When you get a correct answer on a supplemental card, a little hint card pops in at the bottom right with a blue button that says "Continue to Next Card".

![image1](https://user

[2017-08-05 00:56] seanlip opened #3704 "Additional updates to the audio functionality"
We've just implemented functionality for adding audio translations to lessons. There are a few other things we need to add prior to this weekend's release cut.

@seanlip's list:
- [x] Don't show "mark all as flagged?" modal if all translations are already flagged.
- [x] Verify that the suggestion workflow works correctly (with regard to flagging audio after accepting a suggestion).

@tjiang11's li

[2017-08-05 03:19] tjiang11 commented on #3704
Uploading of files still works on the test server, but there seems to be a problem with downloading. I think we might need to use $sce.trustAsResourceUrl()? https://docs.angularjs.org/error/$interpolate/interr?p0=%3C%5BgetAudioTranslationFullUrl(audioTranslation.filename)%5D%3E&p1=Error:%20%5B$sce:insecurl%5D%20http:%2F%2Ferrors.angularjs.org%2F1.5.8%2F$sce%2Finsecurl%3Fp0%3Dhttps%253A%252F%252Fst

[2017-08-05 05:20] seanlip commented on #3704
I think $sce.trustAsResourceUrl() sounds good here.

We don't actually need to change the bucket name in feconf; we can do that during deployment.

[2017-08-05 06:05] seanlip opened #3706 "Prevent ImageClickInput from highlighting regions after correct answer is selected."
In the Image Click supplemental interaction, after the student has selected the correct answer, we should prevent regions of the interaction from highlighting when the user mouses over them. Otherwise, it's quite confusing because the user still thinks they can submit an answer.

One way to do this would be to allow each interaction directive to expose an is-active attribute. The behaviour of the

[2017-08-05 06:07] seanlip opened #3707 "Change text of collection learner view "start here" arrow"
In the collection learner view, the text "Start here!" should be changed to "Click here to start!". Ideally, the arrow would be generated by CSS so that the internationalized version would work well too.

Rationale: in user studies, a student found it confusing to know what to do here. They did not realize the circles were clickable, so an explicit instruction to click would probably help.

[2017-08-05 06:17] seanlip opened #3708 "Change "Suggested next" to "Next lesson" where appropriate, at the end of an exploration in a collection."
At the end of an exploration that's played as part of a collection, we say "Suggested next:" to introduce the next exploration in the collection.

Students were a bit confused by this because they thought of it like "recommended videos" on YouTube -- i.e., just suggestions.

In order to make this clearer, this issue's aim is to change "Suggested next:" to "Next lesson:", but only for the case wher

[2017-08-05 17:57] #3694 closed, assigned to kevintab95

[2017-08-05 18:04] 1995YogeshSharma commented on #3698
oh.

Guest user visits the splash page.
The user tries to create an exploration (by clicking on `create` button) but is not logged in. So, exception is raised and user is redirected to login page. (Redirection due to unauthenticated attempt is handled by NotLoggedInException)

It is working as per expected behavior (which I considered). Isn't the normal flow to login after splash page?

[2017-08-05 18:58] seanlip commented on #3698
The user-visible behavior is correct, but why is the NotLoggedInException being shown as an error in the server logs?

I think the issue is that _handle_exception() is outputting these tracebacks for all exceptions. You probably want to handle the NotLoggedInException case first, then log, then handle the others.

[2017-08-05 21:54] seanlip commented on #3704
Hi @tjiang11 -- just to check, is GCS upload and download now fine? If so, we can close this issue.

Thanks!

[2017-08-05 21:56] seanlip opened #3712 "Tidy-up work for the Continue button in the learner view"
This follows up from #3711. We should do a couple of cleanup things:

- [x] If I18N_PLAYER_CONTINUE_NEXT_CARD is no longer being used anywhere, we should remove it from the translation files in assets/i18n.
- [x] I think the same continue button is reused in three places now. Let's extract it out into its own directive so that changes to one of them automatically update the others as well.

[2017-08-05 21:57] seanlip commented on #3712
Hi @satishboggarapu -- would you be OK with taking this on? We should get the other PR in due to the release cut this weekend, so I broke out some of the follow-up stuff into this issue.

Thanks!

[2017-08-05 21:59] satishboggarapu commented on #3712
@seanlip I'm okay with working on this

[2017-08-05 22:40] #3467 closed, assigned to pranavsid98

[2017-08-06 00:57] #3701 closed, assigned to satishboggarapu

[2017-08-06 00:58] seanlip commented on #3704
Addressed in #3705 and #3709. Thanks @tjiang11!

[2017-08-06 00:58] #3704 closed, assigned to seanlip, tjiang11

[2017-08-06 07:07] 1995YogeshSharma commented on #3698
ok.

[2017-08-06 09:10] #3698 closed, assigned to 1995YogeshSharma

[2017-08-06 10:57] #3688 closed, assigned to 1995YogeshSharma

[2017-08-06 11:00] seanlip commented on #3000
Hi @manoj-makkuboy! Would you like to take this up next?

[2017-08-06 16:41] pbhoiwala commented on #3677
@jaredsilver @seanlip Hi, I am taking a look at this bug and I am confused on part 3. What is publish modal? and How do I add tags in select2 box?

[2017-08-06 20:43] jaredsilver commented on #3677
Hi @pbhoiwala -- the publish modal can be seen after you click the green "Publish" button in the navigation bar of the exploration creator. There will be a field called "Tags" in the modal that pops up. You can add tags by typing into that field.

[2017-08-06 20:45] jaredsilver commented on #3677
So, to get to the publish modal:

1 - Create an account
2 - Go to the creator dashboard
3 - Create a new exploration
4 - Add an introduction
5 - Add an "End Exploration" interaction
6 - Hit "Save draft"
7 - Hit "Publish"

[2017-08-07 05:47] #2998 closed

[2017-08-07 05:48] seanlip commented on #3689
NB -- this issue is now: remove the "publicized" status altogether, as well as all related functions. Statuses of activities will from now onwards only be "private" and "public".

[2017-08-07 06:08] seanlip commented on #3602
Update: I recently discovered the "skip_files" property in app.yaml. That might help with this, though some stuff is still imported directly from third_party/static and we should get rid of that happening so that things become more maintainable.

/cc  @tjiang11

[2017-08-07 06:11] seanlip commented on #2904
Actually, I haven't really seen this recently. Closing.

[2017-08-07 06:11] #2904 closed

[2017-08-07 06:21] seanlip commented on #823
The backend tests now run in parallel, and they also run on Travis in the background. I'm not sure what can be done to speed this up further, so I'm closing this issue for now.

[2017-08-07 06:21] #823 closed

[2017-08-07 06:25] seanlip commented on #902
Closing. This is something @tjiang11 and I have worked on recently, though in somewhat different form and for multiple languages.

[2017-08-07 06:25] #902 closed

[2017-08-07 06:28] seanlip commented on #339
We have discussed this in the user study sync meeting and decided not to do it. We don't want learners to feel that their learning must occur within a certain prescribed time period in order for the learning experience to be successful.

In addition, we hope in the future to implement saving progress mid-exploration, which will further alleviate this issue.

[2017-08-07 06:28] #339 closed

[2017-08-07 06:29] seanlip commented on #835
Closing this. This is @kevintab95's GSoC 2017 project and does not need to be tracked in a separate issue.

[2017-08-07 06:29] #835 closed

[2017-08-07 06:31] seanlip commented on #2684
Closing this. It turns out that this already happens in practice through the feedback button at the top in the navbar.

[2017-08-07 06:31] #2684 closed

[2017-08-07 06:36] seanlip commented on #675
I don't think this is something we're going to do in the near future -- the RTE is already complicated enough as it is, and the existing functionality, though perhaps slightly inefficient, works reasonably well. Closing.

[2017-08-07 06:36] #675 closed

[2017-08-07 06:37] seanlip commented on #132
This is no longer an issue. There is no longer an image bank. Closing.

[2017-08-07 06:37] #132 closed

[2017-08-08 02:34] tjiang11 commented on #3408
The first iteration of this is complete. See https://github.com/oppia/oppia/pull/3681 and https://github.com/oppia/oppia/pull/3692

[2017-08-08 02:34] #3408 closed

[2017-08-08 04:07] wxyxinyu opened #3721 "Fix the release script"
We have a release script in `scripts/release_info.py` which summarizes the commits which happened since the last release. Since we changed the release process, this script no longer works.

The new release process works like:
1. A release branch (named `release-x.x.x` is made off of `develop`)
2. Possibly more commits from develop (made after the release branch is cut) will be cherry-picked onto t

[2017-08-08 07:51] seanlip commented on #3612
Deassigning @utkarsh-dixit due to lack of response.

[2017-08-08 19:55] rachelwchen opened #3725 "Adding triangle to the message bubbles"
Hi,

Per our discussion on issue #3675, we've decided to add the triangles back to the message bubbles (for now). Leaners normally see this view when they navigate to an already-answered card within each exploration, where their answers are grayed out.

Thanks!

![tri](https://user-images.githubusercontent.com/12159451/29091695-9e481336-7c38-11e7-869d-43663f15371b.png)
<img width="260" alt="screen

[2017-08-09 02:31] pbhoiwala opened #3726 ""Cancel" and "Save draft" buttons are non functional on Save Draft (Show changes) page"
Steps to reproduce:
1) Create an exploration or go to an existing exploration.
2) Make some changes and click on the green "Save Draft" button.
3) Then click on "Show Changes". A new window will pop up.
4) The two buttons "Cancel" and "Show Change" in the bottom right corner do not do anything.

Note: The "Show Changes" window can be dismissed by clicking anywhere outside the window.

[2017-08-09 03:51] pbhoiwala commented on #3677
@jaredsilver Thanks Jared, I am able to reproduce this bug. I know what's happening and a simple way to solve it would be to reload the page when you click on settings gear icon but that doesn't seem to be an ideal solution. I will dig more into it and look for a better way to solve it.

[2017-08-09 07:22] seanlip commented on #3453
Ooh -- @MAKOSCAFEE, I just realized that the PR titles should be "Fix part of #X". Otherwise GitHub will auto-close the issue!

[2017-08-09 07:31] makoscafee commented on #3453
Shiish ... oooh yeah! my bad

[2017-08-09 17:17] rachelwchen commented on #3613
Hi @awtran, how's this going?

[2017-08-09 17:50] #3726 closed, assigned to seanlip

[2017-08-10 01:43] LanJosh commented on #2553
@anthkris I got a bit stuck on how to differentiate between the activity types and lost the thread. I had thought by returning exp_models.ExplorationModel and collection_models.CollectionModel in the EntityClassesToMapOver function I would have some information in the map function to differentiate, but it's still mysterious to me.

[2017-08-10 02:37] anthkris commented on #2553
@seanlip Can you offer any advice to @LanJosh ? Or direct us to who best to ask?

[2017-08-10 06:35] seanlip commented on #2553
Hi @LanJosh -- I think you're on the right track, actually. If you look at core/domain/stats_jobs_one_off.py, you'll see that the first job in that file uses isinstance to determine the type of the item. Does that help?

[2017-08-11 01:33] #3693 closed, assigned to pranavsid98

[2017-08-11 19:30] pbhoiwala commented on #3677
@seanlip @jaredsilver I think I have fixed it. Here is the PR: #3738

[2017-08-12 14:17] manoj-makkuboy commented on #3000
Hi @seanlip , I went through the docs. I would like to take this up.

[2017-08-12 16:58] seanlip commented on #3000
Sounds good, thanks! Have fun :)

[2017-08-12 21:15] seanlip commented on #3400
The title field has been done by @giritheja in #3690 (thanks, @giritheja!)

Reassigning this to @satishboggarapu to handle the objective field.

[2017-08-13 04:22] 1995YogeshSharma opened #3741 "code refactor: simplify the moderator action model in settings tab in exploration editor."
Now that publicize functionality is removed. The moderator action model in settings tab is used for action 'unpublish_exploration' only. So, modify the handler and frontend to simplify the model and remove the action argument.

[2017-08-13 06:02] #3695 closed, assigned to arunabh98

[2017-08-13 09:38] seanlip commented on #3689
Fixed in #3739. Thanks @1995YogeshSharma!

[2017-08-13 09:38] #3689 closed, assigned to 1995YogeshSharma

[2017-08-13 09:40] seanlip commented on #3609
This is done. Thanks @Arunabh98!

[2017-08-13 09:40] #3609 closed, assigned to arunabh98

[2017-08-13 09:43] seanlip commented on #3558
Deassigning @zhengxit due to lack of response.

[2017-08-13 09:44] seanlip commented on #3548
@joshuacano, are you still working on this?

[2017-08-13 09:47] seanlip commented on #3404
Deassigning @pranavsid98 -- this issue seems to have been abandoned for about two months.

[2017-08-13 11:06] rdrsadhu commented on #3404
@seanlip I'm interested to try this.
Will let you know if I need any help

[2017-08-13 12:11] 1995YogeshSharma opened #3742 "fetching multiple rights object using get multi"
Implement functions to fetch multiple exploration rights object.

[2017-08-13 15:14] TruongKim commented on #3708
@seanlip Can you post a particular collection that fits the description? It would be easier when I try to recreate it in my tests.

[2017-08-13 15:41] LanJosh commented on #2553
Yeah, I think I'll be able to use that. Thanks!

[2017-08-13 19:38] kevinlee12 commented on #3412
Since no one is taking it, I'll take it up.

[2017-08-13 20:39] seanlip commented on #3742
NB: this is in core.domain.summary_services.get_exploration_metadata_dicts() and get_displayable_exp_summary_dicts_matching_ids() (and possibly elsewhere).

[2017-08-14 02:09] shubha1593 commented on #3725
Hi, I have added the triangle above because I thought, if in any case the answer is long the size of message bubble will increase, and the avatar of the user remains at the top of the message bubble.

![smallans](https://user-images.githubusercontent.com/7807557/29255910-5da1734c-80c3-11e7-8f9b-fc18a6b55109.jpeg)

![longans](https://user-images.githubusercontent.com/7807557/29255932-9cae7f80-80c3-

[2017-08-14 02:24] seanlip commented on #3725
Thanks, @shubha1593!

@markhalpin, @rachelwchen: any thoughts on the UI? Also, @shubha1593, I recommend opening a PR as well so that we can give you a code review simultaneously.

[2017-08-14 02:57] rachelwchen commented on #3725
Thanks, @shubha1593! I think it looks good. One thought: is it possible to align the avatar picture with the message bubble? Currently, the avatar is slightly higher than the message bubble.
![align](https://user-images.githubusercontent.com/12159451/29256765-ceddefe8-807a-11e7-9727-84f285c859b6.png)

[2017-08-14 03:27] markhalpin commented on #3725
Actually I think the height is OK because it looks like the triangle is centered on the avatar, which is appropriate. It could maybe go a tiny bit higher but I wouldn't move it up more than a bit. Otherwise, LGTM!

[2017-08-14 03:41] rdrsadhu commented on #3404
I checked out the details.
I need to learn a few more things to be able to get this working.
unassigning myself.

[2017-08-14 03:46] seanlip commented on #3404
OK, sounds good, thanks @rdrsadhu! Feel free to take this up again when you're ready.

[2017-08-14 04:00] shubha1593 commented on #3725
Hi @markhalpin, yup the triangle can go a bit higher but it might get too high for a one line answer.

![triangle](https://user-images.githubusercontent.com/7807557/29257877-0ff57e3a-80d3-11e7-8ec9-7599e0ac19f9.jpeg)

Should I give it a try ?

[2017-08-14 04:12] markhalpin commented on #3725
hi @shubha1593 I'm sorry, I misspoke. I think the arrow is fine where it is (though when it existed originally it was actually flush to the top of the bubble). I was referring to moving the avatar in response to @rachelwchen 's comment, not the arrow. I should have said, if anything moves at all (and I'm not sure it needs to), maybe cheat the avatar down very slightly so that the arrow is centered

[2017-08-14 04:29] seanlip opened #3747 "Add a plugin to eslint to detect Angular-specific lint issues."
We occasionally run into cases where there are unused Angular dependencies injected into a factory/controller/etc. The current linter, eslint, does not catch this, especially if the dependencies are in the middle of the argument list. However, there are plugins like [this one](https://github.com/Gillespie59/eslint-plugin-angular) which have rules for catching this sort of thing, such as https://gi

[2017-08-14 04:36] seanlip opened #3748 "Make all Angular services follow the UpperCamelCase naming convention and live in their own file."
Note: _This issue is intended as a starter project to help new contributors become familiar with the frontend codebase and the Oppia development workflow._

We want to move the frontend codebase to a convention where all services (or factories) are declared using UpperCamelCase and end with "Service", e.g. RatingComputationService. In addition, each service should live in its own file (e.g. Rating

[2017-08-14 04:59] brianrodri commented on #2863
Hey @seanlip, I'd like to give this a shot! Can I get assigned?

[2017-08-14 05:01] seanlip commented on #2863
Hi @brianrodri, sounds good -- go for it! Just one note though: I suggest doing only one domain object in your first PR, in order to make sure the pattern is correct.

Thanks!

[2017-08-14 05:38] seanlip commented on #3707
Hi @muxout -- would you still be able to look into this?

Thanks!

[2017-08-14 05:45] seanlip commented on #3708
Hi @TruongKim, one thing you can do is go to /admin on your dev instance (log in as an admin) and scroll to the bottom of the "Activities" tab. Reload the collection there, and then navigate to /collection/0. That should give you a sample collection which you can test with.

However, it takes time to play through the explorations in that collection, so you might actually find it easier to create t

[2017-08-14 08:56] #3258 closed

[2017-08-14 08:56] #2036 closed

[2017-08-14 14:45] rdrsadhu opened #3750 "user-profile dropdown menu doesn't open with 1 click [for devices <768 width]"
**Expected Behaviour :** The dropdown should show up upon a _single_ click.

**Observed Behaviour :** The dropdown menu shows up only _after 2 consecutive_ clicks.

**Steps to reproduce the problem :**

1. Login to your oppia account (from a device width <768)
2. Try opening the user-profile dropdown

##### Please confirm the issue.

![error](https://user-images.githubusercontent.com/16368264/2927

[2017-08-15 02:02] #3725 closed, assigned to shubha1593

[2017-08-15 02:02] #3453 closed, assigned to makoscafee

[2017-08-15 02:47] kevinlee12 commented on #3146
Hi @muxout, how this is issue coming along?

[2017-08-15 02:49] kevinlee12 commented on #3104
Hi @BenHenning how is this coming along?

[2017-08-15 02:50] kevinlee12 commented on #3576
Deassigning @AllanYangZhou for now, feel free to take it up!

[2017-08-15 02:51] kevinlee12 commented on #3550
Hi @llKCll, how is this coming along?

[2017-08-15 02:52] kevinlee12 commented on #3370
Hi @bching, how is this issue coming along? Thanks!

[2017-08-15 02:55] kevinlee12 commented on #3668
Hi @vojtechjelinek, how is this coming along?

[2017-08-15 02:57] llKCll commented on #3550
Hi @kevinlee12 . I was apparently working on thing wrong page fixing translations on the dashboard page where some of the collections are displayed. I'm just now looking at the actual explorations that are being played from a collection that aren't translating.  I think the problem may be similar though.

[2017-08-15 03:07] kevinlee12 commented on #3750
Looks like it was fine when I opened this on my iOS device, can someone with an Android device confirm that they get this behavior?

(I was able to replicate this behavior on Chrome's emulator, but if it is limited to that, then we can close this issue)

[2017-08-15 03:10] kevinlee12 commented on #3550
okay, thanks for the update!

[2017-08-15 03:45] seanlip commented on #3750
I confirm that this does happen on my Android device. On the first click, the rectangle in the navbar is highlighted, but no dropdown appears. Only on the second click does the dropdown appear.

Thanks for reporting, @rdrsadhu!

[2017-08-15 05:01] seanlip commented on #3663
Subsumed into #3645.

[2017-08-15 05:01] #3663 closed, assigned to kevintab95

[2017-08-15 05:02] rdrsadhu commented on #3750
Shall I go ahead try fixing this ?

[2017-08-15 05:04] seanlip commented on #3750
Yep, please do! I've assigned you.

[2017-08-15 06:53] llKCll commented on #3550
@seanlip, can you show me what the collection viewer page and the collection editor page is? Also when a exploration is played as part of the collection should the site preferred language override the language selected to create the exploration?

[2017-08-15 07:35] seanlip opened #3753 "Remove the IS_MINIFIED flag."
We currently have two backend constants: IS_MINIFIED and DEV_MODE. Superficially, it looks like IS_MINIFIED is just the opposite of DEV_MODE, and we should really just use one of those throughout.

However, in conversation with @MAKOSCAFEE, he clarified that:
- IS_MINIFIED is more of the variable that is set based if you want to use minified version of js and/or css. It does not depend on the envi

[2017-08-15 08:10] seanlip commented on #3550
Yep! On your local machine, go to /admin (log in as admin on your dev server), then in the Activities tab, scroll to the bottom and reload the collection. Also, go to the Config tab on the admin page and add your username to the list of people who have access to the collection editor, then click save at the bottom of the page.

You can then access the collection viewer page at /collection/0, and t

[2017-08-15 18:33] LanJosh commented on #2553
Had a few more questions if someone can answer them. Testing manually, the code seems to work, after deleting the objects in the full text search tab at localhost:8000, running the job make them appear again. I'm not having much luck with the unit tests though. After running the backend tests, it notes all test have passed but several warnings appear saying some tests were not run, probably due to

[2017-08-15 19:48] seanlip commented on #2553
Hi @LanJosh, could you post a "[not for merge] work-in-progress" PR showing your changes, and the full error trace? Hard to tell what's going on just from the description.

Thanks!

[2017-08-15 19:55] #3612 closed, assigned to nobody

[2017-08-15 23:51] LanJosh commented on #2553
PR: https://github.com/oppia/oppia/pull/3755
After wrestling with the linter a little, I think the issue is actually that there is a circular import between exp_services/collection_services and the new search_services. It may solve the problem to not have a new search services file and let the job manager differentiate between calling exp_services or collection_services, but I'm not sure if that t

[2017-08-16 00:09] seanlip commented on #2553
Thanks for posting the code! The refactor is looking great, actually -- I think it's nice to separate the search stuff from the other stuff, so thank you very much for doing it. It makes things a lot cleaner.

Also, I agree with your diagnosis. It looks like search_services is trying to get the exploration summary from exp_services, and exp_services is asking search_services to index stuff. How ab

[2017-08-16 03:14] #3750 closed, assigned to rdrsadhu

[2017-08-16 12:28] #3469 closed, assigned to pranavsid98

[2017-08-16 14:03] ajomadlabs commented on #3748
@seanlip Can I take up this issue ? I am really interested in this as I'm just a beginner

[2017-08-16 14:14] pranavsid98 commented on #3748
@ajomadlabs Hi Ajo. You can take up this issue. I'm assigning you. Feel free to approach for any queries.
PS: Did you fill up the CLA form?

[2017-08-16 14:19] ajomadlabs commented on #3748
@pranavsid98 No. Can I know about how to proceed with it ?

[2017-08-16 14:20] pranavsid98 commented on #3748
@ajomadlabs Please take a look at this page - https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up

[2017-08-16 14:42] LanJosh commented on #2553
I think that should work well, but it seems some fields from the exploration are missing from the exploration summary -- the blurb and author notes. I'm unsure of how costly it is to add those fields.

[2017-08-16 16:49] seanlip commented on #2553
Iirc we don't actually have those fields populated at the moment anyway,
they are all blank. So it should be fine to remove them from the "search
doc"!

On Wednesday, August 16, 2017, Joshua Lan <notifications@github.com> wrote:

[2017-08-16 17:01] ajomadlabs commented on #3748
@seanlip @pranavsid98 I got an error while setting up Opia in local environment .
`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-5zyt11x2/numpy/`

[2017-08-16 17:25] ajomadlabs commented on #3748
@pranavsid98 Can I also know which service should I start with ?

[2017-08-16 18:10] ajomadlabs commented on #3748
@pranavsid98 @seanlip Is there any specific way which I should follow while giving a PR

[2017-08-16 18:50] pranavsid98 commented on #3748
@ajomadlabs Please check if your Python version is 2.7 and not Python 3. For PR structuring I'd recommend going through [Instructions for making a code change](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) .

Hmm... You could start with 'explorationContextService.js'. It's located in core.templates.dev.head.services folder.

[2017-08-17 05:40] ajomadlabs commented on #3748
@pranavsid98 I have made it run locally. The error occurred because I had two version of python installed in my system and the default was python 3.5

I solved this error by creating a virtual environment and then running `./scripts/start.sh`

[2017-08-17 05:50] ajomadlabs commented on #3748
@pranavsid98 Can I be more clear of the statement

[2017-08-17 06:50] seanlip commented on #3748
An example of a file with too much stuff in it is core/templates/dev/head/pages/exploration_editor/EditorServices.js. That file has lots of different services, but there should only be one service per file. If you do decide to work on that file, though, please only extract a single service in your first PR.

[2017-08-17 08:48] ajomadlabs commented on #3748
@seanlip Thanks

[2017-08-17 08:54] ajomadlabs commented on #3748
@seanlip Can you assign me this issue ?

[2017-08-17 08:58] seanlip commented on #3748
Actually, this is an issue that can be worked on by multiple people at a time, since it involves multiple files. So, please just state which service you're working on in the comment thread, and that will be the record for now. At some point we might organize this like #2394 and maintain a checklist, but I haven't been able to take a pass at constructing the full list yet.

Thanks!

[2017-08-17 09:17] ajomadlabs commented on #3748
@seanlip Okey. I will start off with
 `core/templates/dev/head/pages/email_dashboard/EmailDashboardServices.js`.

I found that this file just contains a single Service but the naming of the Service does not follow the above given guidelines.

I think this `EmailDashboardService.js` would be the correction. Please correct if I'm wrong.

[2017-08-17 09:18] seanlip commented on #3748
You're right. Thanks!

On Thu, Aug 17, 2017 at 2:17 AM, Ajo John <notifications@github.com> wrote:

[2017-08-17 09:19] ajomadlabs commented on #3748
@seanlip Can I correct it by submitting a PR

[2017-08-17 09:20] seanlip commented on #3748
Yes, you can submit a PR. Please follow the instructions on [this page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change).

[2017-08-17 09:33] ajomadlabs commented on #3748
@seanlip Should I also change the `EmailDashboardServicesSpec.js` to `EmailDashboardServiceSpec.js`

[2017-08-17 09:36] seanlip commented on #3748
Yep.

That said, at this point, I suggest you just go ahead and make the best PR you can -- if you need to make decisions, please use your best judgement. We can then review it and leave further comments, rather than addressing them one-by-one here. Thanks!

[2017-08-17 10:18] ajomadlabs commented on #3748
@seanlip Have made my first PR.

[2017-08-17 20:38] seanlip opened #3763 "Collection viewer page is sometimes broken on IE"
We recently received a report that the collection viewer page is sometimes very broken on IE. In one case, the page displayed fine before any lesson was played, but turned broken after a lesson was completed.

<img width="945" alt="screen shot 2017-08-17 at 1 37 36 pm" src="https://user-images.githubusercontent.com/10575562/29432664-4cec86b4-8351-11e7-87b3-8048118f7c04.png">

This looks pretty bad

[2017-08-18 02:57] shubha1593 commented on #3558
Hi @seanlip, should the time be in 24-hour format or 12-hour format ?

[2017-08-18 03:49] seanlip commented on #3558
Hm, it should probably be locale-specific, e.g. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString. I don't mind too much either way.

[2017-08-18 16:38] shubha1593 commented on #3558
Hey @seanlip , is this okay ?
On Chrome
![chrome](https://user-images.githubusercontent.com/7807557/29468350-7a80fb12-8461-11e7-8c9c-aeaff92a92ee.jpeg)

On Safari
![safari](https://user-images.githubusercontent.com/7807557/29468367-8bbb1e76-8461-11e7-9492-342bbb42c798.jpeg)

And Firefox
![firefox](https://user-images.githubusercontent.com/7807557/29468381-97bfcd98-8461-11e7-9bc7-8b24e490fc26.jpeg)

[2017-08-18 17:20] seanlip commented on #3558
This looks great, but one thing is slightly weird: I don't expect to see
hyphems in the titles like that. Did you add these, or were they already
there?

On Friday, August 18, 2017, Shubha Gupta <notifications@github.com> wrote:

[2017-08-18 20:08] jaredsilver opened #3764 "Exploration creator "User Help" tooltip not disappearing as it's supposed to"
This has happened at least once before (issue #3093; PR #3267).

When a user visits the creator dashboard for the first time, a tooltip will display denoting that they can find future help by clicking on the question mark icon.

This tooltip is supposed to disappear after five seconds or on click; however, it currently persists and does not disappear under either circumstance.

<img src="https://u

[2017-08-19 00:32] shubha1593 commented on #3558
They were already there!

[2017-08-19 00:34] seanlip commented on #3558
Oh, ok!

Then, I would say, this looks great :) Let's do a PR for it. Thanks @shubha1593!

[2017-08-19 07:47] seanlip commented on #3550
Hi @llKCll -- just following up :) Did the previous comment help? Happy to meet and talk through it if you need more guidance.

Thanks!

[2017-08-19 07:53] llKCll commented on #3550
Hey @seanlip , the instructions were perfect. I'm working on it now and I should have a solution this weekend. If not, I'll be sure to report back Sunday!

[2017-08-19 07:56] seanlip commented on #3550
Awesome, that's great to hear :) Thanks a lot, @llKCll!

[2017-08-19 08:55] #3645 closed, assigned to kevintab95

[2017-08-19 09:04] kevintab95 opened #3769 "Cannot save '0' as a solution for numeric input interactions"
'0' should be recognised as an answer and the explanation field should show up when specifying a solution in the add solution modal.

[2017-08-19 11:10] manoj-makkuboy commented on #3000
Can someone please help me by giving a bit more detail on "question dict" of the QuestionModel?

[2017-08-19 16:37] kevintab95 opened #3771 "Fallbacks need to be removed from the codebase"
All fallbacks related code should be removed from the codebase.

[2017-08-19 20:00] #3769 closed, assigned to kevintab95

[2017-08-19 20:02] seanlip commented on #3000
Hi @manoj-makkuboy, I don't understand your question. Please could you elaborate on what exactly you're stuck with?

[2017-08-19 23:25] llKCll commented on #3550
@seanlip , ok I'm stuck... I'm not exactly sure how to link the I18N translations up to the page.

[2017-08-19 23:36] seanlip commented on #3550
Hm, OK. Can you explain what you've tried? Do you know how the i18n translations work in other pages, and is there any reason why this page is different?

[2017-08-19 23:47] #3771 closed, assigned to nobody

[2017-08-19 23:51] llKCll commented on #3550
Well actually I guess I can get most of the page to translate. But I can't get the drop down menu to translate in the upper right corner in the navbar when you hover the mouse over the profile icon.

I sort of know how they work. I know how to see the available translations in the .json files and use them in the html files. There are translations in the top_navigation_bar_directive.html but it is

[2017-08-20 00:04] seanlip commented on #3550
Ah ok! That sounds like progress, actually. Maybe do a PR with what you have, as a partial fix, for now?

And yep, the question is why the top navbar directive translations aren't triggering. Do you want to debug further to see what's different between the top navbar directive and all the other stuff, or do you want me to take a look? One idea might be to look at the side navbar (on smaller-width

[2017-08-20 00:12] llKCll commented on #3550
Ok, I'll change the other languages and send a PR. I've only been testing with a couple so far.

I'll definitely debug further. I don't want hold this up too much though in case I can't find the full fix. If you aren't too concerned with the timeline, I'll keep hacking at it for now.

[2017-08-20 00:18] seanlip commented on #3550
Ah, ok, thanks! Just to be clear though, there are two different things here: adding translations for new languages, and fixing the systemic issues that prevent translations from showing up in the first place. The emphasis of this issue is on the latter -- the former can be done in a separate pass, so please don't let it hold you up! And if you have managed to get things showing on the main page b

[2017-08-20 00:26] llKCll commented on #3550
Sorry, I was mistaken on my last comment. Upon further testing none of the page is translating. So the latter is the issue and I'm not sure how to link it up. I guess the issue is on the back end then? Please take a look at this point. I've been at this for a while now.

[2017-08-20 00:44] seanlip commented on #3550
You know ... I just tried this again, and it actually seems to work (in develop). I selected Hindi in the footer of the library page and then went to /collection/0. Even the top-right menu works.

![screenshot from 2017-08-19 17-42-45](https://user-images.githubusercontent.com/10575562/29491103-e735200e-8505-11e7-889e-de86c89108d3.png)

Do you notice that too?

[2017-08-20 00:46] seanlip commented on #3550
Oh, interesting. Immediately after that I went back to the library page and selected Vietnamese. The library page renders correctly in Vietnamese so I went back to /collection/0, and it still shows in Hindi.

So maybe the issue is not that translations are not rendering. It is that a change to the translation language is not propagating? It still doesn't propagate even when I "empty cache and hard

[2017-08-20 00:46] llKCll commented on #3550
Oh I didn't know you could change the language there. I've been changing it by using the preferences link in the top right corner of the page in the drop down menu.

[2017-08-20 00:50] seanlip commented on #3550
It's probably still the same issue, though. Here's what I suggest: how about introspecting core/templates/dev/head/i18n.js, looking for where the "current language" is loaded, and trying to figure out why the language being retrieved in the collection viewer page seems to be the "old" one?

[2017-08-20 00:50] llKCll commented on #3550
Ok, I'll take a look.

[2017-08-20 01:17] seanlip commented on #3550
I've been digging, too.

I found that I could import '$translate' in CollectionPlayer.js and log $translate.use() and $translate.proposedLanguage(). I was confused because the latter kept returning 'hi' even though I had changed the language to 'vi' in the library page.

On looking into i18n.js I found that cookies were being used for getting the translation language. In I18nFooter I found a $cook

[2017-08-20 01:18] llKCll commented on #3550
Thanks!

[2017-08-20 03:49] tjiang11 opened #3773 "Reordering hints causes unexpected behavior"
Reordering hints (or attempting to) in the exploration editor causes strange behavior.

To reproduce:
1. Create four hints, "a", "b", "c", and "d".
2. Attempt to swap "d" and "c". They won't change places.

Now refresh the page, and observe that the swap now occurs. Basically, the state of what's being presented isn't matching what's being stored.

[2017-08-20 04:16] tjiang11 opened #3774 "Console error on library page regarding rounding error in width of title"
On the site, there's an error reading:

![image](https://user-images.githubusercontent.com/11807091/29492019-ec6f19de-8533-11e7-8542-c6755537e67f.png)

Seems like a rounding error.

This only seems to be reproducible in production though.

[2017-08-20 06:05] #3558 closed, assigned to shubha1593

[2017-08-20 06:41] manoj-makkuboy commented on #3000
Page 6 of this https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9# Technical document has technical specification for QuestionModel. This QuestionModel specification says that it will contain a property "Question Dict". Should the "Question Dict" contain a nested JSON for "states" and "States schema version" and "States schema version" should be in syn

[2017-08-20 06:59] seanlip commented on #3000
I just took a look, and I think the spec might be wrong. For now, let's implement these five top-level properties:

- Question dict (json) -- this has the same format as a dict representing a single state
- Question title (string, indexed) (we need this to sort questions by title)
- Question schema version (integer)
- Collection ID (integer, indexed)
- Language code (string, indexed)

That's also

[2017-08-20 22:25] seanlip commented on #3763
@tjiang11, do you think this is fixed with the recent change?

[2017-08-20 22:26] #3514 closed, assigned to giritheja

[2017-08-20 22:29] seanlip commented on #3607
Fixed in #3772. Thanks @kevintab95!

[2017-08-20 22:29] #3607 closed, assigned to kevintab95

[2017-08-20 22:32] seanlip commented on #3052
Closing this; let's not do it until there's a strong need for it.

[2017-08-20 22:32] #3052 closed

[2017-08-21 01:16] LanJosh commented on #2553
Hi Sean, I updated the PR as I'm having another difficulty. I started writing the test cases, but have to do some weird behavior to get them to pass which makes me think the test may be flaky in the future. After adding a rating using rating service, occasionally I have retrieve the summary again to get the updated ratings. I'm not sure why I have to only do this occasionally. Lines 65 and 98 in s

[2017-08-21 02:20] seanlip commented on #2553
Hi @LanJosh! Yes, retrieving the summary again each time is expected behavior. Think about it like this: the domain object is just a plain Python object which has no expectations of persistence -- unlike the stuff in the storage model layer. So if you update the rating, the datastore object is updated, but the domain object you've already retrieved isn't -- it's just a snapshot of the datastore ob

[2017-08-21 04:26] kevinlee12 opened #3782 "Id generator producing too many collisions on production"
On production, clicking on the Create button directly (ie. not logging in and straight from the splash page) produces the following error as shown:

![ezgif-1-fe4ef88b3e](https://user-images.githubusercontent.com/5758256/29503682-c4452bae-85ee-11e7-82a0-066b997fe4c9.gif)

Please note that the only click was the initial click on the Create button.

The error does not occur when the user is already

[2017-08-21 04:34] seanlip commented on #3782
Ooh, that looks odd. Is it reproducible in production? It doesn't happen for me, but I can imagine that this happens sometimes. I seem to remember that @tjiang11 may have seen it too.

[2017-08-21 04:34] kevinlee12 commented on #3782
Yes

[2017-08-21 04:34] kevinlee12 commented on #3782
but not 100% of the time.

[2017-08-21 04:53] anmolshkl opened #3783 "Highlight the correct answer choice when viewing the statistics for a particular card"
**Describe the bug**
When the creator is viewing the statistics for a particular card which contains a multiple-choice question, the correct answer should also be "highlighted". Currently, the statistics page shows the statistics for an answer choice according to its serial number (or the ordering of the answers).

There is no way of identifying the correct answer other than going to the explorati

[2017-08-21 06:15] ajomadlabs commented on #3748
Workflow

1. Went to `core/templates/dev/head/pages/email_dashboard`
2. Found that `EmailDashboardDataServices` was not following the naming guidelines
3. Opened the respective file `EmailDashboardDataServices`, checked whether it had just one service.
4. Renamed `EmailDashboardDataServices.js` to `EmailDashboardDataService.js`
5. Checked the `EmailDashboardDataServicesSpec.js`.
6. Renamed `EmailD

[2017-08-21 06:42] seanlip opened #3784 "Fix "Empty path passed in method." error on the collection page."
This error is hard to reproduce, but @tjiang11 and I have both managed to do so on the production site.

When going to the collection viewer page, sometimes the following error shows up:

![collections-page-error](https://user-images.githubusercontent.com/10575562/29506556-23d0125c-8601-11e7-97e6-5abcc3b43fe8.png)

It is unclear what is causing it, but it looks really bad. My current guess is the

[2017-08-21 07:33] seanlip opened #3786 "Migrate image files to GCS"
We currently store audio files in explorations on GCS (Google Cloud Storage), and we want to migrate images there too. Among other things, this allows us to relax the 1 MB limit on image sizes.

This needs to be done in stages:
(a) When a new image file is uploaded, upload it to both the datastore and GCS.
(b) Write a one-off job that, when run, copies all image files in explorations to GCS.
(c) D

[2017-08-21 07:37] seanlip opened #3787 "Clicking outside the preview card in the collection learner view should close the preview card."
To reproduce:

1. Start a dev server, log in as an admin, go to /admin, scroll down and reload the existing collection.
2. Go to /collection/0 and make the browser width narrow.
3. Click on one of the collection circles.

Expected behaviour: Clicking outside the card should close it.
Observed behaviour: It is not possible to get rid of the card.

![screenshot from 2017-08-21 00-37-03](https://user

[2017-08-21 07:39] seanlip opened #3788 "When the preview card shows in the small-width collection learner view, the background should be darkened."
To reproduce:

1. Start a dev server, log in as an admin, go to /admin, scroll down and reload the existing collection.
2. Go to /collection/0 and make the browser width narrow.
3. Click on one of the collection circles.

Expected behaviour: The background behind the preview card should be darkened, since the preview card is now in the "foreground".
Observed behaviour: The background behind the pr

[2017-08-21 14:37] rachelwchen opened #3789 "Space out the profile drop down icons"
Hi,

The profile drop down icons (top right corner) are currently squeezed together, which look kind of weird. This happens in both desk top and mobile views.

<img width="299" alt="screen shot 2017-08-21 at 9 05 20 am" src="https://user-images.githubusercontent.com/12159451/29523955-8ba4f220-865c-11e7-9f37-596d84e99fce.png">

I was wondering if we might be able to space the icons out more:
![1](h

[2017-08-21 16:57] tjiang11 opened #3790 "Add automatic text-to-speech to explorations"
Recently, audio translations were added, allowing learners to listen to audio uploaded by creators. However, it may be possible to enable automatic text-to-speech on explorations as well to provide a reasonable default. This will be an experiment and its effectiveness will be evaluated in user studies first before being deployed to production.

For now, we will only add automatic text-to-speech in

[2017-08-21 16:57] tjiang11 opened #3791 "Paragraph spacing is too small in multi-paragraph exploration feedback/hints/etc."
In multi-paragraph explorations, the spacing between paragraphs is unusually small.

This problem happens across the site in both the creator and learner views.

Here, you can see that the spacing between the two paragraphs is less than the spacing within the paragraphs.
![image](https://user-images.githubusercontent.com/11807091/29529237-8703d83c-8664-11e7-939c-c2ff7b959ff0.png)

It should look a

[2017-08-21 16:58] tjiang11 opened #3792 "At the end of an exploration, the "Back to collection" button is too small."
![image](https://user-images.githubusercontent.com/11807091/29529493-86606390-8665-11e7-8ba5-0b25d57c5867.png)

[2017-08-21 16:58] tjiang11 opened #3793 "Add a new drag-and-drop sorting interaction"
It would be nice to have an interaction allows the learner to sort a set of items into a particular order. Examples of this would be:
1. Order these fractions from least to greatest.
2. Order these planets by their distance from the sun from least to greatest.
3. Given the graph shown above, sort the following nodes into a topological ordering. Remember that there may be more than one possible ans

[2017-08-21 16:58] tjiang11 opened #3794 "Add a new fraction input interaction"
It would be nice to have an interaction specifically for inputting fractions. Currently, to input a fraction, learners must type something like "5 3/4", which is not very friendly as fractions are usually being represented in the exploration with the numerator on top and the denominator on bottom. Having the space between the whole number and the fraction is also sort of ambiguous. A fraction inpu

[2017-08-21 16:58] tjiang11 opened #3795 "Show a custom-written description on-hover for a collection in the library page"
Collections are meant to teach multiple skills, and so it'd be nice for learners to have a more in-depth preview of a collection before deciding to embark on it. The space for a collection title/description in the card preview isn't big enough to convey what is going to be taught. One approach to addressing this is allowing for a custom-written description to be shown on top of the collection when

[2017-08-22 08:14] palash25 commented on #3721
Can you tell me what the previous release process was like so that I can compare the two, figure out the differences and decide how to write the code for the new process?

[2017-08-22 18:31] TruongKim commented on #3708
So I try both method, just to see which is quicker, and decided to follow your 2nd method, as it is quicker. Is there a way for me to "save" those 3 explorations, so I don't have to recreate them?

Also, when I add the explorations ID, it says the error "IDs will not be shown as recommendations because they either do not exist, or are not publicly viewable". I notice it says recommendations, so ad

[2017-08-22 19:55] #3742 closed, assigned to 1995YogeshSharma

[2017-08-22 21:59] seanlip commented on #3721
Hi @palash25, sure! What used to happen was that we would do the following during a release:
- Check out a release branch from develop
- Make a bunch of fixes to the release branch, while develop happily continues to evolve on its own
- Just before releasing: create the changelog etc. for the release by running the release info script
- Tag the release branch
- Merge the release branch into master

[2017-08-22 22:08] seanlip commented on #3708
Yep! When running start.sh, append the --save_datastore flag, and it will preserve the contents of your datastore from the previous run.

Yes, you are correct that the two operations are different (but you're probably getting that error because the exploration whose ID you're adding hasn't been published yet, or because you typed in the ID incorrectly). This sort of customization was what I was re

[2017-08-22 23:41] pranavsid98 opened #3797 "Deprecate the old classification framework"
With the new Answer classification framework in place very soon, some of the older framework elements can be deprecated. We need to deprecate the following:

- classifier_services.classify() method.
- reader.ClassifyHandler
- BaseClassifier class on the Oppia code base
- LDAStringClassifier (deprecate only after development of new TextClassifier is complete)

/cc @prasanna08 @anmolshkl

[2017-08-22 23:57] AllanYangZhou commented on #3782
@kevinlee12 What browser/OS are you using, BTW? It doesn't appear to happen to me (Firefox, Ubuntu)

[2017-08-23 00:08] kevinlee12 commented on #3782
Hi @AllanYangZhou, I was testing this on Chrome on Ubuntu on oppia.org

[2017-08-24 12:05] mikechoch opened #3800 "Title bar dropdown menu buttons stay highlighted when clicked and not being hovered"
Currently when you hover over a button on the title bar it highlights white, which is expected. Normal buttons will allow being clicked and it will navigate to whatever page they are linked to. However, there are also the dropdown menu buttons and when they are hovered they highlight and dropdown a menu of other buttons. If you click on one of the dropdown menu buttons the white highlighting will

[2017-08-24 19:22] seanlip commented on #3782
Addressed in #3799.

[2017-08-24 19:22] #3782 closed, assigned to seanlip

[2017-08-25 09:43] seanlip commented on #1051
Closing -- this is no longer relevant. We are deprecating gadgets.

[2017-08-25 09:43] #1051 closed

[2017-08-26 03:55] seanlip commented on #3748
Hi @ajomadlabs, congrats on your first PR! :D

Now that you know how this works, may I suggest picking another 3-5 services, and fixing them all in a single PR? Thanks!

[2017-08-26 04:05] seanlip commented on #3753
Hi @MAKOSCAFEE -- how is this going?

[2017-08-26 07:30] seanlip commented on #3763
@tjiang11 ping?

[2017-08-26 07:31] ashish1500616 commented on #3789
Hello @rachelwchen I would like to take up this issue.

[2017-08-26 12:37] ashish1500616 commented on #3789
Hi @rachelwchen  I am trying to do some changes in third_party.css PATH:"third_party/generated/css/third_party.css"
but it not being tracked by Git should I add this file to Git without changes in third_party.css file
The view is something like this:

Web View:
![screen shot 2017-08-26 at 6 04 05 pm](https://user-images.githubusercontent.com/19726282/29741384-14a3a8e8-8a89-11e7-8df3-f7368da06245.p

[2017-08-26 12:58] tjiang11 commented on #3763
@seanlip Ah oops, I'll reboot later today and test this

[2017-08-26 15:54] tjiang11 opened #3805 "On mobile, the tooltip for the hint button is cutoff on the right edge of the screen."
![screenshot_20170826-105246](https://user-images.githubusercontent.com/11807091/29742883-dfff5ace-8a4c-11e7-9d1a-79f7b82eff8f.png)

[2017-08-26 15:59] tjiang11 opened #3806 "On mobile, the attribution guide is sometimes hidden beneath the card."
![screenshot_20170821-105414](https://user-images.githubusercontent.com/11807091/29742917-4347346c-8a4d-11e7-8820-3b52fc8517f0.png)

The attribution guide looks like this
![screenshot_20170821-11001211](https://user-images.githubusercontent.com/11807091/29742938-914522d2-8a4d-11e7-9d24-d3fa944bd809.png)

[2017-08-26 16:02] tjiang11 opened #3807 "On mobile, the info icon in the footer should be centered vertically."
The info icon at the bottom right should centered vertically, right now it's a little above center.

![foot crop](https://user-images.githubusercontent.com/11807091/29742955-e619a58a-8a4d-11e7-9c3f-1b82eb8406b4.png)

[2017-08-26 16:04] tjiang11 opened #3808 "On mobile, cards with long titles are off-center."
In card 7 of the equivalent fractions exploration, the title is cut off and put on the next line when there's room for it all to fit on one line. Also, some time content breaks also look weird (second screenshot). Perhaps the issue is related?

![screenshot_20170821-105336](https://user-images.githubusercontent.com/11807091/29742975-1f789b10-8a4e-11e7-88e7-fd0d2c1f05bc.png)
![screenshot_20170821-1

[2017-08-26 16:08] tjiang11 opened #3809 "The progress dots at the top of an exploration look weird when there are >15 cards."
This warrants discussion as to whether anything should be changed, but I feel like the progress dots on mobile look a bit strange when not all the dots can fit on one row. Maybe for the second row of dots, we can align it to the left with the first row of dots, and have the right arrow always be to the right of all the dots?

![screenshot_20170821-110043](https://user-images.githubusercontent.com/

[2017-08-26 16:11] tjiang11 opened #3810 "On mobile, after confirming to use bandwidth to play audio, the audio doesn't start playing immediately."
To reproduce, on a mobile device, go to an exploration with audio translations. Click the speaker icon, confirm to use bandwidth, and notice that audio doesn't play immediately. You have to click the speaker icon again to start playing audio.

[2017-08-26 16:14] tjiang11 opened #3811 "On mobile, sometimes auto-scrolling doesn't occur upon tapping the response text box."
To reproduce:
- Go to card number 15 in the equivalent fractions lesson.
- Tap on the response text box.
- Notice that the response text box is hidden behind the keyboard.

![screenshot_20170821-110043](https://user-images.githubusercontent.com/11807091/29743057-a2bb0dfe-8a4f-11e7-8a4a-fd20de80a481.png)

[2017-08-26 16:16] tjiang11 opened #3812 "On mobile, buttons with long text go off-card."
Not sure what the fix here should be. Maybe make the button text wrap around?

![screenshot_20170824-151138](https://user-images.githubusercontent.com/11807091/29743071-da68400a-8a4f-11e7-828c-1687ca61bcf4.png)

[2017-08-26 16:18] tjiang11 opened #3813 "On mobile, the music notes interaction doesn't seem to work."
Well, actually it works, but you can't see the notes you place (aside from ledger lines).

![screenshot_20170824-151209](https://user-images.githubusercontent.com/11807091/29743086-1e77b7da-8a50-11e7-8e70-77fae4365523.png)

[2017-08-26 16:22] tjiang11 commented on #3809
What do you think @markhalpin ?

[2017-08-26 17:40] palash25 commented on #3721
@seanlip the only difference I see with the two processes is that you didn't mention cherry picking commits from the develop branch onto the release branch for the older old release process. So correct me if I'm wrong we only need to add a cherry picking function to the release script to make it compatible with the new release process right? Also do we tag the release branch before or after we cre

[2017-08-26 19:07] seanlip commented on #3809
Perhaps we should just use fewer dots?

[2017-08-26 19:10] seanlip commented on #3808
I think for this particular case, it's actually because the creator just put a bunch of spaces at the front of the line to make it look nice on desktop, because the RTE doesn't really support "center-aligning".

The title can probably be moved to the left. What do you think we should do with the faux paragraph-break? Maybe the creator could do a left-aligned line of `~~~~~~~~~~~~~~~~~~~~~~~~` inst

[2017-08-26 19:12] wxyxinyu commented on #3721
the main difference is that, we used to merge the release branch back into develop after we were done making release-related changes. what's happening with the release script now is that the `_gather_logs` function is picking up all the changes since we changed the release process.

we tag the release branch after running the script

[2017-08-26 19:17] wxyxinyu commented on #3721
Also, I don't think we need a cherry-picking function? The release script isn't meant to do the release steps, it's just to help with generating the changelog/authors for the release. So, it looks like we just need to fix the `_gather_logs` function in the release script to actually only get the commits which are not on the last release branch but are on develop

[2017-08-26 20:17] tjiang11 commented on #3808
Oh I see, yeah in that case this probably isn't a code fix then, it'd be okay if everything is just left-aligned IMO.

[2017-08-26 20:24] tjiang11 commented on #3809
I was thinking of possibly doing that too, though I'm not sure what the best of way representing that there are still more cards before the first one shown. Maybe something like dots decreasing in size or fading?

[2017-08-27 07:37] seanlip commented on #3809
Hm, don't we have that issue on the non-mobile version too?

That said, I guess we shouldn't run into this too frequently, since most explorations are < 15 cards or so (I think).

[2017-08-27 07:41] #3707 closed, assigned to muxout

[2017-08-27 07:48] seanlip commented on #3808
Sounds good! I've made the fix in the exploration, and will close this.

[2017-08-27 07:48] #3808 closed, assigned to nobody

[2017-08-27 15:04] tjiang11 commented on #3809
Oh hm yeah

Yeah I'd say this is pretty low-priority

[2017-08-28 02:42] #3789 closed, assigned to nobody

[2017-08-28 05:08] jaredsilver opened #3819 "Investigate strange dragging behavior for play later list in learner dashboard"
There is sometimes a strange behavior when attempting to rearrange explorations in the play later list in the learner dashboard.

Only tested on Chrome on Mac, though it could be more widespread.

To reproduce:
1. Add 10 explorations to your play later list. (It doesn't necessarily need to be 10, but it's easier to see when the list is full.)
2. Go to the learner dashboard.
3. Go to the play later

[2017-08-28 05:29] jaredsilver opened #3820 "Propose a new design for the learner dashboard's play later list"
The exploration cards on the learner dashboard's play later list are distinct from those everywhere else on the site. This was partially done to provide for faster development (leveraging Angular UI Sortable) and is a solid interim solution. However, it would probably be ideal if the exploration cards could look the same as elsewhere on the site for the sake of consistency. In addition, this allow

[2017-08-28 05:32] jaredsilver opened #3821 "Add timestamps to individual messages on the learner dashboard"
Currently, the learner dashboard's feedback thread system shows timestamps for when a conversation has last been updated. However, each individual message lacks a timestamp. Include these timestamps, perhaps in a way that is similar to how they are included in the creator's view of feedback threads.

[2017-08-28 05:46] TruongKim commented on #3708
@seanlip So I'm using the console to find the files I supposed to edit. It seems like the file is EndExploration.js, however the files doesn't contains messages such as "Suggested next". Where can I find those messages?

To be more detailed, the picture below:
![oppia](https://user-images.githubusercontent.com/18127284/29760614-c0181f36-8bee-11e7-9d3e-9bcd8560b95f.PNG)

is where I was looking at.

[2017-08-28 07:14] kevintab95 opened #3822 "Hint Statistics feature needs to be in place for creators"
Part of Fallbacks to Hints GSoC 2017 project. The hint editor needs to display statistics for the existing hints, this will help creators improve existing hints and make better hints in the future.

[2017-08-28 09:20] seanlip commented on #2863
Hi @brianrodri! How is this going?

[2017-08-28 09:26] seanlip commented on #3792
Hi @ashish1500616, would you like to take a look at this? Perhaps we should make it a proper button -- @rachelwchen, what do you think?

[2017-08-28 09:56] seanlip commented on #3708
Try searching the entire codebase for "Suggested next". You can use your text editor, or the terminal, e.g.

    grep "Suggested next" . -r --exclude-dir=third_party --exclude-dir=build

[2017-08-28 15:55] rachelwchen commented on #3792
I agree. I also think that maybe we can add a left arrow in the beginning, so it's even more apparent that clicking on the link takes you back to the collection index.

[2017-08-28 20:07] ashish1500616 commented on #3792
Hi @seanlip ,Yeah I agree to @rachelwchen I would like to take up this issue .
What do you think of these changes.
![capturebtc](https://user-images.githubusercontent.com/19726282/29791428-87bca99c-8c5a-11e7-8b48-d7b51c334d8b.PNG)

What do you think of adding animation to the left arrow ?

[2017-08-28 20:27] ashish1500616 commented on #3792
a ashish1500616

[2017-08-29 09:37] seanlip commented on #3763
Friendly re-ping :)

[2017-08-29 09:52] seanlip opened #3825 "Rename existing Angular services to follow the UpperCamelCase naming convention."
_This is intended as a starter project for newer contributors. Many thanks to @shubha1593 for compiling this list._

In order to reduce developer confusion, we want our frontend codebase to follow strict conventions for its filenames. Each of the files listed in this issue defines a service, and we want to make sure they follow a consistent format. For each service, here is what needs to be done:

[2017-08-29 10:04] seanlip opened #3826 "Extract Angular services in the frontend into individual files."
_This is intended as a starter project for newer contributors. Many thanks to @shubha1593 for compiling this list._

As part of our ongoing frontend refactor, we want our frontend codebase to have one service per file. Each of the following files contains a list of services. The aim of this issue is to extract each service into a separate file, and also:
- Ensure that the name of the service follo

[2017-08-29 10:05] seanlip commented on #3748
Please note that this is superseded by #3826 and #3825, with updated instructions (thanks @shubha1593!) Closing this issue.

[2017-08-29 10:05] #3748 closed, assigned to nobody

[2017-08-29 10:08] ajomadlabs commented on #3826
@seanlip So can I start with this

[2017-08-29 10:13] seanlip commented on #3826
Sure! Which file would you like to take up?

[2017-08-29 10:14] ajomadlabs commented on #3826
@seanlip I would like to go for `components/forms/FormBuilder.js`

[2017-08-29 10:16] seanlip commented on #3826
OK, you're assigned :) Have fun!

[2017-08-30 01:39] shaz13 opened #3828 "Broken translation at Registration page on Safari"
The issue is reproducible **only** on Safari Version 10.1.2 (12603.3.8) on Mac OS Sierra 10.12.6.

Steps to reproduce -
- Run oppia locally.
- Click on the Sign in with Google button. Tick sign in as admin.
- Enter the username and hit **ENTER** (Without ticking the acknowledgement statement)

Screenshots:
<img width="1680" alt="screen shot 2017-08-27 at 11 31 08 pm" src="https://user-images.githu

[2017-08-30 01:40] shaz13 commented on #3828
JS Console Errors -
<img width="504" alt="screen shot 2017-08-30 at 7 02 16 am" src="https://user-images.githubusercontent.com/24438869/29851553-3e43b82a-8d52-11e7-9890-3c417909900e.png">

[2017-08-30 02:36] tjiang11 commented on #3763
Sorry for taking so long to get on this, just tested on IE and couldn't find any issues--closing

[2017-08-30 02:36] #3763 closed, assigned to tjiang11

[2017-08-30 02:54] pranavsid98 commented on #3146
De assigning @muxout - feel free to assign yourself when you're free work on this! Thanks!

[2017-08-30 12:42] pbhoiwala commented on #3748
@seanlip  Hey, sorry didn't get a chance to look at this one earlier in the week. If this is reopened, pls let me know.

[2017-08-30 12:46] pbhoiwala commented on #2665
Assigning myself to this, and am going to go through all the files mentioned by @BenHenning in the table and see which one needs to be updated.

[2017-08-30 16:22] shubha1593 commented on #3748
Hi @pbhoiwala, you can  have a look at [#3826](https://github.com/oppia/oppia/issues/3826) and [#3825](https://github.com/oppia/oppia/issues/3825), this issue has been moved over there.

[2017-08-30 19:01] llKCll commented on #3550
Hi @seanlip , I live in the greater Houston area and got flooded pretty good from the hurricane. Please reassign this as needed since I won't be able to work on this. Thank you.

[2017-08-30 19:42] seanlip commented on #3550
Oh no, sorry to hear that @llKCll! Stay safe. And yep, no worries, I'll deassign you for now.

[2017-08-30 22:00] makoscafee commented on #3753
Hi @seanlip . Was a bit caught up.. but managed to submit a PR tonight.. thanks

[2017-08-31 03:25] tjiang11 commented on #3792
Hi @ashish1500616 , could you elaborate just a bit on what you mean by adding animation to the left arrow? Thanks!

[2017-08-31 03:27] tjiang11 commented on #3708
Hi @TruongKim were you able to figure it out?

[2017-08-31 03:29] tjiang11 commented on #3712
Hi @satishboggarapu Any progress on this?

[2017-08-31 04:15] rachelwchen commented on #3792
Hi @ashish1500616, thanks for the mock! I'm not sure if it's addressing what @tjiang11 was referring to, though (please correct me if I'm wrong!) Thanks!

[2017-08-31 05:37] ashish1500616 commented on #3792
HI @tjiang11 ,Yeah by adding animation to the left arrow means that whenever there will be a hover over the "Back To The Collection." button then the left arrow will wobble horizontally .
Hi @rachelwchen ,@seanlip suggested that we should make it a proper button though ,I think I made a proper button as suggested and and also increased the size of the back to the collection button.

@tjiang11 can

[2017-08-31 05:43] pranavsid98 opened #3834 "Implement backend models for new events"
We need to implement backend models to log some of the new events we plan to record for displaying statistical data. The following events need to be implemented:

- [x] AnswerSubmittedEventLogEntryModel

- [x] ExplorationActualStartEventLogEntryModel

- [x] SolutionHitEventLogEntryModel

For details on what attributes/properties these models need to contain, take a look at [design for event models

[2017-08-31 05:49] pranavsid98 opened #3835 "Implement storage layer and domain layer classes for ExplorationStatsModel along with the domain layer for StateStats."
We need to implement the backend models for ExplorationStatsModel and the domain class for StateStats.

**The schema for the ExplorationStatsModel:**

Keyed by (exp_id, exp_version).
The analytics model is common for all the event types for exploration wide statistics. The suggested design:
1. Exp_id. Str. ID of the exploration
2. Exp_version: int. Version of the exploration
3. Num_actual_starts:

[2017-08-31 10:42] satishboggarapu commented on #3712
Hi @tjiang11 I have been busy fixing another issue, but I just finished fixing that yesterday. So I should be able to submit a PR for the second part of this issue in the next couple of days.

[2017-08-31 13:20] tjiang11 commented on #3792
Hey @ashish1500616 oh I see, I don't know what exact changes there should be--going to defer to @rachelwchen regarding the design.

[2017-08-31 13:21] tjiang11 commented on #3712
Sounds good, thanks @satishboggarapu !

[2017-08-31 17:21] rachelwchen commented on #3792
I was talking about the placement of the "back to collection" button -- in your mock, the button seems to be placed on a card in the middle of an exploration, instead of at the end of an exploration where "suggested next" explorations are presented. I don't think we should place that button in the middle of an exploration.

Visual-wise, I think you can make the arrow smaller/slimmer!

[2017-08-31 18:03] ashish1500616 commented on #3792
Hi @tjiang11 ,Please help me find that "Back to the collection" button on page .
I am having difficulty finding that button.

[2017-08-31 21:01] tjiang11 commented on #3792
Hi @ashish1500616 , are you talking about in the codebase? Here's what you can try: grep for "Back to collection", something like `grep -Ril "Back to collection"` this will likely point you to a file with all the string constants / translations stored. Following this, you can grep for the variable name being used for the constant, and that should lead you to where it's being used in code. Does tha

[2017-09-01 03:12] ashish1500616 commented on #3792
Hi @tjiang11, Thanks for the help.I will try it out.

[2017-09-01 18:31] abarya commented on #3797
Can I work on this?

[2017-09-01 18:48] abarya commented on #3795
What is the difference between a collection and an exploration?

[2017-09-01 19:00] tjiang11 commented on #3795
Hi @abhishekarya286 , a collection consists of multiple explorations. On the library page, you can visually tell an exploration apart from a collection by seeing the little paper flip in the upper left corner of the preview. It should also say "collection" at the bottom of the card.

[2017-09-01 20:27] brianrodri commented on #2863
Heya @seanlip, so my status is:

I started with the ParamSpec interface, and noticed that there are some pre-existing TODOs that wish to extend the values it supports (it can only use UnicodeString right now, as I understand it), so I've been trying to figure out how to best do that. It seems that the python code is already prepared to deal with many other types, so I can't understand why this res

[2017-09-01 20:36] tjiang11 commented on #2863
Hi @brianrodri , it looks like ParamSpecs are a part of Exploration. You may want to take a look at how ParamChanges were converted to an object (#3302) as it may be somewhat similar. Thanks!

[2017-09-02 01:26] prasanna08 opened #3836 "Upgrade training interface in creator view to show unresolved answers"
Oppia has a training interface in frontend which allows creators to create training dataset if they want to use machine learning in their exploration. The training interface should have 2 entry points (2 ways to add new answers in training data).
1. Add new answers, test them and assign them to a particular answer groups (outcomes).
2. Show unresolved answers from answer history and creator will a

[2017-09-02 22:48] #3828 closed, assigned to pranavsid98

[2017-09-02 23:24] BenHenning opened #3842 "AssertionError in controllers/base.py"
Bug found when doing a sanity testpass on oppiatestserver for the 2.5.4 release.

Steps to reproduce:
- Go to https://oppiatestserver.appspot.com
- Ensure you're logged out
- From the splash screen, click 'Create your own lesson'
- Observe 'Error Communicating with Server' snackbar

Error info:

[code]

This is consistently reproable just by visiting https://oppiatestserver.appspot.com/creator_das

[2017-09-02 23:29] BenHenning commented on #3842
This appears to have been caused by #3799. Based on the assertion in utils.py, this will fail because the new range ``(1 << 60) - 1`` is larger than an int can hold.

[2017-09-02 23:32] BenHenning commented on #3842
This is currently breaking **all** entity creation that generates new IDs, so the site is essentially unusable including both editors and learner views.

[2017-09-02 23:35] BenHenning commented on #3842
This does not repro locally to me; I suspect that app engine is using a 32 bit version of Python, so its integer size must be 32 bits rather than 64 bits. My local environment is fully 64 bit, so the new range fits within allowed sizes for me.

[2017-09-02 23:45] #3721 closed, assigned to BenHenning

[2017-09-03 01:46] pbhoiwala commented on #3706
@seanlip @tjiang11 I understand the problem you're describing but I am not sure how to reproduce it. Where exactly is "Image click supplemental interaction"? Can you pls provide screenshots?

[2017-09-03 02:31] pbhoiwala commented on #3791
@tjiang11  Hey Tony, your suspicion was correct. Changing `margin-top` from `-5px` to `5px` seems to have fixed the issue. However, do you think `html p, body p` is the right place to make the change? Would this affect other areas where `p` tag is being used?

[2017-09-03 02:32] pbhoiwala commented on #3791
If you think it's ok, let me know, I can submit the PR

[2017-09-03 04:23] tjiang11 commented on #3791
Hi @pbhoiwala I think that's okay. Ideally, we'd probably just want to get rid of this strange global css rule anyway as it's quite out of place. Why don't you go ahead and submit the PR first--I'll try poking around to make sure nothing else is negatively affected. Thanks!

[2017-09-03 06:08] tjiang11 commented on #3706
Hi @pbhoiwala here is a portrayal of the bug:

![image](https://user-images.githubusercontent.com/11807091/30000965-ba052302-904c-11e7-8215-3154944cd442.png)

Basically, after a choice is selected and the feedback is given, we no longer want to allow highlight-on-hover of the different answer choices.

[2017-09-03 15:28] anmolshkl commented on #3797
@abhishekarya286 yep, please feel free to assign yourself to the issue.

[2017-09-03 20:11] pbhoiwala commented on #3791
Hi @tjiang11, I have made the fix and created the following PR #3846. Please take a look and let me know if there's anything more I need to do.

[2017-09-04 20:56] MohammedBelkacem opened #3848 "Kabyle localization"
Hello
Please would you like consider oppia kab locale  for the next release?
We are translating on translatewiki.net.
If there is some further work to do except localization on translatewiki, please let us know.
Thank you
M. Belkacem
Kabyle localizer

[2017-09-05 01:52] pranavsid98 commented on #2953
Hey @anthkris Any updates on this issue?

[2017-09-05 02:24] #2553 closed

[2017-09-06 04:58] #3404 closed

[2017-09-06 08:15] pranavsid98 commented on #3826
@tjiang11 Should this be closed? This seems to be a pretty large issue with more check boxes.

[2017-09-06 13:47] tjiang11 commented on #3826
@pranavsid98 Oh my bad! Yes this shouldn't be closed. Good catch :)

[2017-09-07 18:51] TruongKim commented on #3708
hi @tjiang11 , I added a line to en.json, and checked if the current exploration has the sme exploration ID as the recommended explorations' ID.

![next_line](https://user-images.githubusercontent.com/18127284/30179889-37a06e36-9438-11e7-9ed1-c1bb4c85e69e.PNG)
![explore](https://user-images.githubusercontent.com/18127284/30179892-38fe5f18-9438-11e7-9a4c-0fb46dd7eeb6.PNG)

[2017-09-07 18:53] TruongKim commented on #3708
The image below I took from ExplorationRecommendationsServices.js. For the last couple days, I am trying to read through the code and use the "Next Lesson" message. I am going aimlessly though, are there a specific file/folder I should look at?

[2017-09-08 00:22] pranavsid98 opened #3852 "E2E tests failing on develop"
@tjiang11 Major issue.

There's a failing end to end test inside develop. Try running protractor/richTextComponents.js.
I was looking around multiple PRs and the same e2e tests were failing in all of them. Then, I ran the test on the develop branch, its failing.
![screen shot 2017-09-08 at 5 52 19 am](https://user-images.githubusercontent.com/15828797/30190744-efa30914-9459-11e7-83b4-eb224284394a.

[2017-09-08 14:23] tjiang11 commented on #3852
Is that the error that shows when you run the e2e test locally? I'm having trouble reproducing this

[2017-09-09 00:07] ishucr7 commented on #3812
@tjiang11
Can i take up this issue ?

[2017-09-09 00:24] tjiang11 commented on #3812
Hi @ishucr7 , yup feel free to :)

[2017-09-09 12:11] ishucr7 commented on #3812
I am not able too find the exact html file , but i have understood the reason of this behaviour . Its because of the isViewportNarrow() and isInteractionInline() functions , whenever we decrease the width of the screen (by default in mobile and by decreasing size of window in case of computer) , **new features** are added to that "Drag notes to the staff ...."    . Clearly it changes its backgroun

[2017-09-09 13:21] tjiang11 commented on #3812
Hi @ishucr7 , that's actually the intended behavior. On mobile, it's supposed to be a blue button that the user can click on small screens, which will then take them to the staff where they can input their answer.

As for where the html file is, try using grep. It's a very handy tool. For example, you can run something like `grep -Ril "isViewportNarrow"` to find files of interest. Good luck!

[2017-09-09 17:11] #3852 closed, assigned to nobody

[2017-09-10 00:38] ishucr7 commented on #3812
@tjiang11  I tried setting up the server ,  i am getting the following errors , i tried a lot to understand these but could not get much .  localhost:8181  shows nothing .
![subha1](https://user-images.githubusercontent.com/23234392/30245159-2af04b2c-95ee-11e7-9f3e-31065fd558d0.png)
![subha2](https://user-images.githubusercontent.com/23234392/30245158-2aeb27aa-95ee-11e7-9600-4f8ca47be85d.png)
![su

[2017-09-10 03:22] ishucr7 commented on #3807
can i take up this issue ?

[2017-09-10 03:46] ishucr7 commented on #3807
Hey @tjiang11      I have found the error and i have corrected it , but i can't verify because , this feature is in html page exploration_footer_directive.html and on the local server i am not able to access any library  ,

![nolibrary](https://user-images.githubusercontent.com/23234392/30245954-583ca3a4-9608-11e7-91aa-08a36a5f9737.png)

moreover the welcome to oppia page has similar feature but i

[2017-09-10 04:00] ishucr7 commented on #3812
Hi @tjiang11  Thanks for the help. I have found the error and corrected it , but to review it i must access that pitch perfect from library but it is not accessible as it says that " there are no groups of explorations available to show "
![nolibrary](https://user-images.githubusercontent.com/23234392/30246008-53b6c6c8-960a-11e7-8c3d-83bb40e8957d.png)
Is there anything wrong in my case or we actua

[2017-09-10 04:00] tjiang11 commented on #3807
Hi @ishucr7 , sure thing! You can create some sample explorations by going to the admin panel. It should be an option on the dropdown at the top right. Be sure to create an account as an admin (the "Sign in as administrator" checkbox). When you're on the admin panel you should see a page that has a "Reload all explorations" button. Click that, and it will spend a few seconds creating sample explor

[2017-09-10 04:29] ishucr7 commented on #3807
@tjiang11  Thank You , it worked .  Am i supposed to show the correctness on a phone ? or can I show just the code along with a picture of similar behaviour on pc , as it shows same feature when the window is size is minimised .

[2017-09-10 05:02] markhalpin commented on #3809
I tend to agree with this being low priority, as the number of cards shouldn't be that excessive frequently. One thought however could be to introduce a "deca-dot" or similar, for want of a better word. That is, when the total length of the dots would exceed 10, the left-most dot would become a larger dot with a "10" in it, with subsequent dots functioning normally (as 11, 12, 13, etc. Would that

[2017-09-10 10:34] anurag545 commented on #3800
PR #3855 solves this issue.

[2017-09-11 00:04] ishucr7 commented on #3812
Hi @tjiang11 I tried to push my branch but the linting error occured , I tried installing  SublimeLinter 3 but the source is not good , I have just added two words for solving the issue . But I can't push , is there anything which can be done ?

[2017-09-11 02:00] tjiang11 commented on #3812
@ishucr7 What's the linting error? It shouldn't be hard to just manually fix.

[2017-09-11 02:43] #3834 closed, assigned to pranavsid98

[2017-09-11 02:59] ishucr7 commented on #3812
@tjiang11
The following linting  errors occurred when i tried to push my branch .
Most of them are regarding that the function is not callable .

(there were several such errors , i am displaying just two screen shots of the terminal)

![linting_error1](https://user-images.githubusercontent.com/23234392/30256788-d9d79e9c-96ca-11e7-845c-c9a8284e5794.png)
![linting_error2](https://user-images.github

[2017-09-11 21:07] abarya commented on #3787
Hi @seanlip.
Actually, I'm unable to reproduce this.
How do I do the second step. **Go to /collection/0 and make the browser width narrow.**

[2017-09-12 01:12] ishucr7 commented on #3812
Hey @tjiang11 , thank you for your help .  Can you please assign me this issue .

[2017-09-12 01:41] tjiang11 commented on #3812
Hi @ishucr7 , I just realized you're not a member of Oppia yet. I think @seanlip usually handles onboarding of new contributors, but he's not here at the moment.

@wxyxinyu are you able to have @ishucr7 sign on? I'm not very aware of the exact process.

[2017-09-12 07:12] ishucr7 commented on #3812
@tjiang11  Thank you . I had filled one CLA , is that what you are talking about  ?

[2017-09-12 13:51] prasanna08 commented on #3836
Hi @BenHenning,
It seems that you removed the previously implemented unresolved answers feature from Oppia in this [PR](https://github.com/oppia/oppia/pull/3426/files). So should I just revert those changes or something new should be implemented? If it is latter then we need to discuss exactly how it is going to work in design doc.

[2017-09-13 16:49] ishucr7 commented on #3812
@tjiang11 I am a member of oppia , i guess . Can you please review it .
![proof](https://user-images.githubusercontent.com/23234392/30389803-8e01226e-98d1-11e7-8001-a03f7057d80a.png)

[2017-09-13 17:46] tjiang11 commented on #2953
Ping @anthkris

[2017-09-13 17:46] tjiang11 commented on #2863
Hi @brianrodri , how's this going?

[2017-09-13 17:47] tjiang11 commented on #2665
Hi @pbhoiwala how is this going?

[2017-09-13 17:55] anthkris commented on #2953
@tjiang11 Unassigning myself from this as there are potentially a lot of new accessibility issues to tackle with all of the changes from GSOC.

[2017-09-13 18:05] tjiang11 commented on #2953
Okay thanks for the update @anthkris !

[2017-09-13 18:59] markhalpin commented on #2953
may I suggest we close this issue and revisit it in the context of other possible changes?

[2017-09-13 19:09] pbhoiwala commented on #2665
@tjiang11  Hi Tony, I went through all the JS files and I noticed that most of the files that @BenHenning  mentioned are still as is with 3-4 directives on average. Below is my table
[code]

Can you show me an example of a directive in HTML so that I know what to look for? Is it `ng-app`?

[2017-09-14 06:04] seanlip commented on #3812
@ishucr7, I've added you as a collaborator. Please accept the invitation at github.com/oppia and then you can assign yourself to this issue. Thanks!

[2017-09-14 06:07] seanlip commented on #2665
What's a "directive in HTML"? A directive usually consists of a JS snippet starting with oppia.directive('nameOfDirective'), with a templateUrl reference pointing to an template file with the HTML content for that directive. In general, each directive should correspond to exactly one JS file and one HTML file.

[2017-09-14 06:16] seanlip commented on #3848
We'd be happy to consider it, yes. Localization on translatewiki should suffice; just let us know when it's completed and we can then try to merge the translatewiki changes in and enable kabyle on the site.

Thanks!

[2017-09-14 06:30] ishucr7 commented on #3807
@tjiang11 , please review it . Since I have accepted the invitation , I am now the member , i guess.

[2017-09-14 07:04] seanlip commented on #3842
@BenHenning -- this is fixed and can be closed, right? (Thanks for detecting and fixing it!)

[2017-09-14 12:07] #3800 closed, assigned to anurag545

[2017-09-14 20:36] MohammedBelkacem commented on #3848
Thank you for your support.
The kab localizers are working ant The kab community is waiting. We shared it!!!!

thanks again

[2017-09-15 07:19] seanlip commented on #3400
@jaredsilver -- please could you confirm whether this is fixed? I think #3690 and #3740 address it, but just wanted to do a sanity check in case there are other parts to this issue. Otherwise we can probably close it.

Thanks!

[2017-09-15 19:48] seanlip commented on #3687
Fixed in #3815. Thanks @1995YogeshSharma!

[2017-09-15 19:48] #3687 closed, assigned to 1995YogeshSharma

[2017-09-16 06:00] TruongKim commented on #3708
After I did another grep "I18N_PLAYER_RECOMMEND_EXPLORATIONS", it seems that particular file is conversation_skin_directive.html and .js, in the exploration player folder.

[2017-09-16 10:26] anurag545 commented on #3773
@tjiang11  I try  3,4 points but it work  fine, Can you  check it  again or elloborate more about the bug.

[2017-09-16 10:49] anurag545 commented on #3821
@jaredsilver  I don't use python so don't know about much backend of it. I can add timestamps in frontend when individual msg added but don't know how to change schema and store that in database.

[2017-09-16 17:39] tjiang11 commented on #3708
Hi @TruongKim! Sounds like you're looking at all the right files. What are you having trouble with?

[2017-09-16 19:23] seanlip commented on #3821
Actually, I think the timestamps are already stored in the database. It's a question of bringing these to the frontend (if they're not already there) and using them.

[2017-09-17 06:44] pranavsid98 opened #3864 "Handling statistics on exploration commits"
This implements Milestone 2 of the Statistics project. It implements an asynchronous method (triggered on an exploration commit) that updates the ExplorationStatsModel in accordance with the new changes in the commit. In particular, the following changes will be identified:

1. State rename
2. State addition
3. State deletion
4. Re-ordering of answer groups

[2017-09-17 16:40] #3000 closed

[2017-09-17 16:41] #3835 closed, assigned to pranavsid98

[2017-09-17 16:47] giritheja commented on #3001
@seanlip I think this is completed in #3802 .

[2017-09-17 16:47] giritheja commented on #3007
@seanlip I think even this is covered in #3802 .

[2017-09-17 18:19] brianrodri commented on #2863
Hi @tjiang11, I started fresh and finally figured it out..! PTAL at my new PR!

[2017-09-17 19:42] #3812 closed, assigned to wxyxinyu, ishucr7

[2017-09-17 19:44] #3807 closed, assigned to tjiang11, ishucr7

[2017-09-17 20:10] seanlip commented on #3001
Agreed! Closing.

[2017-09-17 20:10] #3001 closed

[2017-09-17 20:10] seanlip commented on #3007
Also agreed; closing.

[2017-09-17 20:10] #3007 closed

[2017-09-17 21:56] pranavsid98 opened #3868 "Create job to recompute statistics from event models in datastore"
This implements the first part of Milestone 4 of the Statistics project.

We need to create an MR job which will recompute all statistics data using the event models in the datastore. This job should create a new analytics model (ExplorationStatsModel).

For details on how recomputation works: see the 'Recomputing from scratch' section of each event model in [this](https://docs.google.com/document

[2017-09-17 23:15] ishucr7 commented on #3821
Hi @jaredsilver can you please elaborate or post a picture showing some conversation and the timestamps for it . I know the file where the model is generated and time is stored when a thread is updated , but i am not able to enter into any conversation or see any timestamp on site.

[2017-09-17 23:24] ishucr7 commented on #3794
Hi @tjiang11 can you please mention the particular part of the fraction module , where the input is to be taken in mixed fraction .

[2017-09-17 23:37] tjiang11 commented on #3794
Hi @ishucr7 , sorry I don't quite understand your question. Could you rephrase?

[2017-09-17 23:41] ishucr7 commented on #3794
@tjiang11 , where in particular do the learners must type something like "5 3/4" . I tried some of the questions in fractions and they all had specified to enter input in x/y format .

[2017-09-17 23:45] tjiang11 commented on #3794
Hm I'm not sure actually. I think that may have just been a hypothetical example. As in, if a creator did want the learner to type a mixed fraction, that is currently the only option they have.

[2017-09-18 02:19] jaredsilver commented on #3400
The only thing I see that's still potentially problematic is that some of the fields don't seem to share state (but have expected values after refreshing the page). This is just the Category and Tags fields, which I believe both use the Select2 library? There's probably a scope issue with that.

[2017-09-18 02:50] seanlip commented on #3400
Hi @jaredsilver -- could you provide more step-by-step info on how to reproduce what you're talking about, please? Not sure I understand.

Thanks!

[2017-09-18 02:57] jaredsilver commented on #3400
Sorry, yes -- here's a bit more detail:

1. Create an exploration.
2. Add an end state for the exploration.
3. Publish the exploration.
4. Navigate to the exploration's "settings" page without reloading the page.
5. The information entered in the Category and Tags fields will not appear in the settings page form.

Expected behavior: the content of these fields should be the same here and on the pu

[2017-09-18 03:03] seanlip commented on #3400
Oh, wait -- is this basically #3677? If so then we could augment that issue with the info that it affects the Category field too, and close this one.

[2017-09-18 04:11] jaredsilver commented on #3400
Yep, that's the same one. I just updated that issue. Closing this one now.

[2017-09-18 04:11] #3400 closed

[2017-09-18 05:07] #3790 closed, assigned to tjiang11

[2017-09-19 03:48] seanlip commented on #3747
Hi @utkarsh-dixit, are you still working on this? If so, what progress have you made, and do you need any help? Thanks!

[2017-09-19 08:50] seanlip commented on #2700
Is this issue ready to be closed? (Are there any other directives that need to be migrated?)

[2017-09-19 13:03] 1995YogeshSharma commented on #2700
I think this can be closed now :).

@vojtechjelinek ... Do you see anything else remaining?

[2017-09-19 18:02] anurag545 commented on #3821
Thanks, Sir.

[2017-09-20 16:47] vojtechjelinek commented on #2700
Hi, there are a lot of directives in the _/extensions_ folder that use the <script ng-temlate=…>. If you want you could also work on these.

[2017-09-20 17:02] 1995YogeshSharma commented on #2700
oh, I see. But many of them have multiple templates (3-6) in a single file. Would we want to split them in those many files? If yes, what about naming convention?

[2017-09-20 17:41] himanshu-dixit commented on #3412
@kevinlee12 are you still working on this?

[2017-09-20 17:44] kevinlee12 commented on #3412
Yes I am, the checkbox UI is complete, but the back end seems to only
accept ItemSelectionInput. However, since I'm moving onto another
Oppia project, I'll be submitting a PR later this week that only sends
back ItemSelectionInput (but appear as checkbox in the frontend text).

[2017-09-20 18:07] seanlip commented on #2700
Let's deal with extensions in a separate pass, since there are design questions involved there. Are there other files besides them that are affected by this issue?

[2017-09-21 06:35] seanlip commented on #2700
OK, I did a quick search, and I think we still need to move the following? (If so, @1995YogeshSharma, would you mind doing this as well, please?)

- components/create_button/create_activity_button_directive.html:
    1: <script type="text/ng-template" id="components/createActivityButton">

- pages/collection_editor/collection_editor_navbar_directive.html:
    1: <script type="text/ng-template" id=

[2017-09-21 08:01] vojtechjelinek commented on #2700
Wow, that's a lot. Some of these were created recently, we should probably write somewhere (wiki?) that newly created directives shouldn't use the `<script ng-template="…` and should be loaded directly.

[2017-09-21 08:09] seanlip commented on #2700
Even better than that would be adding a custom lint check that verifies that the relevant string doesn't appear except perhaps in a rare set of whitelisted cases (eg extensions). Otherwise, this will recur, as people copy/paste existing patterns.

[2017-09-21 10:14] 1995YogeshSharma commented on #2700
Initially, I made a list for all the directives that had to be updated. I had considered the files that end with `directive.html` thinking it to be a pattern for directives ( I remember that I asked about this and also showed that list, but I'm not sure where).

So, apart from new introduced directives the aforementioned is also a reason.

As far as this list some of them can't be moved as they us

[2017-09-21 15:15] shubha1593 commented on #3825
Hi @seanlip, I was wondering whether in Group 4 also, we should name the oppiaPlayerService as PlayerService instead of OppiaPlayerService ?

[2017-09-21 16:03] seanlip commented on #3825
Oh, that is a good idea, thanks! I agree, but would suggest
ExplorationPlayerService to distinguish from collections.

On Thursday, September 21, 2017, Shubha Gupta <notifications@github.com>
wrote:

[2017-09-21 16:19] shubha1593 commented on #3825
Oh yes right, thanks!

[2017-09-21 18:35] seanlip commented on #2700
Ah, I see!

In general, what we want to do is to have each directive in its own file. So if a file has multiple directives in it, it should be split, and the filename should match that of the directive. Does that make sense? (For the modals, follow the existing convention of using a name that ends in _modal_directive.html.)

[2017-09-21 18:36] seanlip commented on #2700
With regards to the ones that use jinja templating, can we make a list of them and file a separate issue, then fix the others in this issue? I agree that the jinja ones may need some extra work, but eventually we are hoping to get rid of the jinja footprint throughout the codebase anyway so that more pages can be loaded statically.

[2017-09-21 18:54] vojtechjelinek commented on #2700
@seanlip Actually, files ending with just a `_modal.html` are ok for the build process, but we could rename them all to end with `_moda_directivel.html`

Some of the directives using Jinja were reworked in #3453

[2017-09-21 19:57] seanlip commented on #2700
Yeah, I think let's make everything be _modal_directive.html and only have _directive.html endings in the build process. Can we file an issue for that?

And good to know that some of the jinja has been removed! Let's do a check to make sure there aren't any more that fall in that category, otherwise if there are we'll need to add a new issue to handle those too.

[2017-09-22 09:47] vojtechjelinek opened #3884 "Update directives in extensions to directly reference templates."
We need to go through every HTML file in _/extensions_ folder and move directives that are there and now use `<script ng-templates="…` to separate HTML files and then reference them directly from the JS files for directives.

Same work was done in #2700.

[2017-09-22 09:59] vojtechjelinek opened #3885 "Create HTML file for RTE components in the build process."
HTMLs of RTE components are appended by the backend to the HTML that's sent to the client, this is inefficient because we always use all RTE components.

The solution is to create one HTML file for all RTEs in the build process and then just {% include %} it into pages.

[2017-09-22 10:16] vojtechjelinek opened #3886 "Unify the naming of modal directive HTMLs."
1. Rename all HTMLs of directives ending with __modal.html_ to end with __modal_directive.html_
2. After all these directives are renamed, remove '*_modal.html' from FILEPATHS_PROVIDED_TO_FRONTEND in _scripts/build.py_.

[2017-09-22 14:49] acashmkj commented on #3825
Hey @seanlip I am new to oppia and open source. Can I start contributing here ?

[2017-09-22 16:50] TruongKim commented on #3708
@tjiang11 I'm having problem with the latter part, which is how to check that the next lesson is part of a collection. Currently, I change ng-if statement in conversation_skin_directive.html into an if-else-then statement. Check if recommendations length > 1, else modify the statement to next statement, then the rest of the collection summary.

![ng-if](https://user-images.githubusercontent.com/18

[2017-09-22 16:57] TruongKim commented on #3708
With this change, I produce the result below.
![next](https://user-images.githubusercontent.com/18127284/30755644-abf9c7ae-9ff1-11e7-985c-fb986b507ebd.PNG)

@seanlip ,  I just want to check with you if this is the correct "look".
Also, I'm using ng-template for the else and then blocks, but if there's a preferred way, please let me know.

Another issue down the line is that since I add a new entry

[2017-09-22 18:15] seanlip commented on #3825
Yes! Please start by following the [Getting Started instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). Welcome to the project!

[2017-09-22 20:56] seanlip commented on #3708
I think the design looks good! @rachelwchen, any thoughts?

We generally don't use ng-template. Can you use ng-if instead?

To check if the next lesson is part of the same collection, one approach might be to augment the summaries that are returned by reader.RecommendationsHandler in the backend. Perhaps modify the value of 'summaries' to be a list of dicts with two keys: 'summary' and 'in_current

[2017-09-22 21:08] acashmkj commented on #3825
@seanlip May i work on Group 4 ?

[2017-09-23 05:49] bching commented on #3370
After discussing I've decided to deassign myself from this issue.

[2017-09-23 08:30] seanlip commented on #2700
Hi @1995YogeshSharma -- just for clarity, I'm going to file a new issue for the remaining files and assign you to it!

[2017-09-23 08:35] seanlip opened #3891 "Move remaining directives to directly reference templates using templateURLs."
(This follows on from #2700.)

Angular directives should directly reference their templates rather than using IDs and the template cache, in order to allow direct caching of HTML templates by the browser. Each directive should end up in its own file -- so if a file has multiple directives in it, it should be split, and the filename should match that of the directive. All directive template files s

[2017-09-23 08:35] seanlip commented on #2700
This issue is now superseded by #3891. Closing.

[2017-09-23 08:35] #2700 closed

[2017-09-23 08:42] anmolshkl commented on #3797
@abhishekarya286 ping! Are you still interested in taking up this issue?

[2017-09-23 09:03] seanlip commented on #2665
I'm going to close this issue, since the non-extensions files have been handled. @vojtechjelinek will come up with a plan for the stuff in extensions/.

Also, thank you @pbhoiwala for confirming the current status -- your list was very helpful!

[2017-09-23 09:03] #2665 closed

[2017-09-23 09:58] anmolshkl commented on #3809
@markhalpin sounds good. But I'm thinking how navigation would work in such a scenario. As of now, you can click on the dots and move back and forth between the cards. With a "deca-dot", how would we do that?

[2017-09-23 10:00] anmolshkl commented on #3836
@prasanna08 do we have enough information to start with this issue?

[2017-09-23 10:12] anmolshkl commented on #3783
@pranavsid98 friendly ping?

[2017-09-23 10:12] anmolshkl commented on #3672
@Arunabh98 ping?

[2017-09-23 10:16] anmolshkl commented on #3613
@awtran ping?

[2017-09-23 10:41] arunabh98 commented on #3672
I wouldn't be able to look at this anytime soon. My schedule is quite packed for the coming months. Would be glad to guide anyone who wants to tackle this though.

[2017-09-23 13:37] tjiang11 opened #3892 "Add all languages to supported audio languages"
At the moment, we currently have English, Hinglish, and Spanish available as audio languages. The audio functionality is developed enough at this point that we should just add all the languages to support audio (languages we have available for an exploration's language).

[2017-09-23 13:39] tjiang11 opened #3893 "Replace Blob constructor in AssetsBackendApiService"
The Blob constructor in AssetsBackendApiService seems to be unsupported on some older browsers, especially on low-end mobile devices. Find an alternative to the Blob constructor and use that instead.

[2017-09-23 13:44] tjiang11 opened #3894 "Replace "Loading audio..." with a graphical loading indicator"
Right now, when loading audio, "Loading audio..." is displayed while the audio file is being fetched from Google Cloud Storage. It would be better to have some sort of spinning loading indicator. So, when you click on the speaker icon as a learner, it will change into a spinner, and change back to a speaker icon upon finishing the load.

[2017-09-23 13:49] bching commented on #3825
Hey @seanlip I will work on Group 3.

[2017-09-24 00:54] BenHenning commented on #3842
This is fixed.

[2017-09-24 00:54] #3842 closed, assigned to BenHenning

[2017-09-24 01:55] rdrsadhu commented on #3826
@seanlip You sure this issue should be closed ?

[2017-09-24 01:56] seanlip commented on #3826
No! My bad, GitHub sometimes does this automatically. Thank you for pointing it out; I've reopened it.

[2017-09-24 02:40] prasanna08 commented on #3836
@anmolshkl I think we do have enough information for this. @BenHenning replied to all my questions on hangouts.

[2017-09-24 03:23] tjiang11 commented on #3773
Hi @Wind-Chaser , I tried it again, and indeed it seems like it's not doing the behavior I described like before. Perhaps some kinks worked themselves out with updates to Chrome or libraries. However, I still encounter strange issues that seem to occur randomly. For example, I got to a state where I could constantly add hints, but the user interface wouldn't reflect the changes until I refresh the

[2017-09-24 10:42] abarya commented on #3825
Hi @seanlip, I'd like to work on group 1.

[2017-09-24 10:44] abarya commented on #3797
@anmolshkl, I'm working on some other issue right now.

[2017-09-24 13:42] pranavsid98 commented on #3783
@anmolshkl This issue might have to wait until the new stats framework is set up.

[2017-09-25 03:24] seanlip commented on #3821
Fixed in #3873. Thanks, @Wind-Chaser!

[2017-09-25 03:24] #3821 closed, assigned to anurag545

[2017-09-25 03:31] seanlip commented on #3825
Hi @abhishekarya286, sure thing! I've assigned you.

[2017-09-25 16:53] 1995YogeshSharma commented on #3891
__naming issues__

- pages/creator_dashboard/create_activity_modal_directive.html 1:-> It's used in CreateActivityButtonDirective.js and create_activity_button_directive.html already exists.

- /exploration_save_and_publish_buttons_directive.html 67:-> used in ExplorationSaveService.js, what should be the naming conventions.

- /exploration_graph.html 30: -> used in EditorServices.js

- /editor_ta

[2017-09-25 16:55] 1995YogeshSharma commented on #3891
can we specify naming convention for these in more general sense.

Not every `ng-template` mentioned is used in directives. Some are used in controllers and some are used in services. Also, there are cases where more than one are used in same file.

[2017-09-25 17:10] anmolshkl commented on #3783
@pranavsid98 ah, I see. Thanks for the info!

[2017-09-25 17:45] anmolshkl commented on #3672
@Arunabh98 thanks. In that case, I'll you remove you from the assignee (and also, please remove yourself as an assignee from any other task).

[2017-09-25 17:47] anmolshkl commented on #3797
@abhishekarya286 ok, thanks for the update!

[2017-09-25 17:55] vojtechjelinek commented on #3886
@seanlip Is this completed?

[2017-09-25 17:56] #3884 closed, assigned to nobody

[2017-09-25 17:56] vojtechjelinek commented on #3884
Closing until design doc is created.

[2017-09-25 18:22] seanlip commented on #3886
Yes, in #3901. Could you please review it?

[2017-09-25 20:58] #3886 closed, assigned to seanlip

[2017-09-25 20:59] vojtechjelinek commented on #3886
Oh, I thought I already did it :thinking:

[2017-09-25 22:16] seanlip commented on #3891
Ah -- let me clarify, sorry. Each directive _template_ should end up in its own file -- so if an _HTML_ file has multiple directives in it, it should be split, and the filename should match that of the directive. Does this help?

This could still be create_activity_modal_directive.html, and the templateUrl in the $modal.open in CreateActivityButtonDirective.js will refer to the UrlInterpolationSer

[2017-09-26 08:09] seanlip commented on #3012
Fixed in #3898. Thanks @himanshu-dixit!

[2017-09-26 08:09] #3012 closed

[2017-09-26 08:17] ishucr7 commented on #3826
@seanlip Can I take up this  pages/exploration_editor/editor_tab/StateEditor.js ?

[2017-09-26 08:21] seanlip commented on #3826
Go for it! I've assigned you.

[2017-09-26 16:41] seanlip commented on #3691
Hi @mc-lovin, you're planning to look at the second part of this too, right? If so, feel free to assign this issue to yourself -- you can do so after accepting the invitation to collaborate at github.com/oppia. Thanks!

[2017-09-26 17:37] anmolshkl opened #3904 "Create extensive unit tests for SVMPredictionService/CodeReplPredictionService"
While writing the test cases for TextInputPredictionService, we encountered problems with SVMPredictionService. It was not making predictions as expected. It was also found that the existing test cases for CodeReplPredictionService were not extensive enough to catch this bug. Consequently, we need to write tests that thoroughly test the SVMPredictionService (used by CodeReplPredictionService). For

[2017-09-26 20:27] GaganSuneja commented on #3894
@tjiang11 i would like to work on this issue

[2017-09-26 21:41] tjiang11 commented on #3894
Hi @GaganSuneja , sorry actually do you mind holding off on this for now? I'm going to be corresponding with someone soon who may be able to perform further guidance on this in terms of design. But after that, I'll get back to you!

[2017-09-27 06:13] seanlip opened #3905 "Add lint checks for common coding issues arising in code reviews."
In code reviews, I've noticed a lot of the same style issues come up over and over again, and in order to conserve reviewer time and give contributors faster feedback, these issues should really be addressed by pre-review lint checks. Adding these will also help maintain consistency in our codebase, and ensure that this state of affairs continues to be preserved in the future.

We can handle some

[2017-09-27 06:24] seanlip opened #3906 "Show, for each answer in the state stats modal, whether it's already been addressed by the existing rules."
Currently, in order to improve a lesson, the creator has to do the following for states that use more open-ended responses (like TextInput):

1. Go to the exploration stats tab.
2. Click on a state.
3. Look at the modal shown (see example screenshot below), and jot down all the answers with a frequency > 1.
4. Go to the exploration editor tab.
5. Figure out which of the jotted-down answers have al

[2017-09-27 08:34] ishucr7 commented on #3826
@seanlip  How can i test a particular service ?

[2017-09-27 19:04] seanlip commented on #3826
@ishucr7 If you mean automated tests (e.g. Karma), please see [here](https://github.com/oppia/oppia/wiki/Running-Tests) for instructions on how to run tests for a single service. If you mean manual tests, then try opening up relevant pages that use the service and poking around a bit, and check for any errors in the browser console. It would also be good to read through the relevant parts of the c

[2017-09-27 23:28] himanshu-dixit commented on #3305
@kevinlee12 Any update on this? As far as I can recall devs were both in the favor and against of it.

[2017-09-28 00:14] kevinlee12 commented on #3305
I'll defer to the Tech Leads on this.

On Wed, Sep 27, 2017 at 4:28 PM, Himanshu Dixit <notifications@github.com>
wrote:

[2017-09-28 03:56] prasanna08 commented on #3576
Hi @giritheja -- how is this going?

[2017-09-28 03:57] prasanna08 commented on #3548
Hi @joshuacano, how is this going?

[2017-09-28 04:58] seanlip commented on #3305
Let's not do this. Linting is going to become more expensive since we're going to add more custom lint checks (see #3905). It's also a reasonable workflow to make a bunch of commits just to get things working, and then sort out the lint errors just before push. So I think we shouldn't do this (unless we get more evidence in the other direction).

Closing in the meantime. Thanks for flagging this,

[2017-09-28 05:19] seanlip commented on #3892
Fixed in #3903. Thanks @tjiang11!

[2017-09-28 05:19] #3892 closed, assigned to tjiang11

[2017-09-28 05:21] seanlip commented on #3848
Hi @belkacem77 -- I'm going to close this issue for now, since the Oppia developers can't act on it. But when the localization is completed, please let us know, and we'd be happy to add the language to the site!

[2017-09-28 05:21] #3848 closed, assigned to nobody

[2017-09-28 05:29] giritheja commented on #3576
Hey @prasanna08 , I was swamped with Questions project, I wasn't able to start working on it. Please feel free to take it up, if you plan to complete it.

[2017-09-28 05:30] seanlip commented on #3576
Thanks, @giritheja! I've unassigned you.

@AllanYangZhou -- are you looking into this?

[2017-09-28 18:47] 1995YogeshSharma commented on #3891
Thanks, I think I am clear with the naming now.

I am thinking of breaking it in two but let's see if I face some problem I'll put up a WIP PR.

[2017-09-29 14:54] vojtechjelinek opened #3911 "Modify the build process to move the not renamed files to /build and use /backend_prod_files only as a temporary folder."
Currently, we store all files that we need in backend in /backend_prod_files. We should get rid of this folder and move the files into \build. The files must remain uninterpolated.
The files that shouldn't be interpolated:
- all html that are not directives
- some files in /extensions
  - png images in /rich_text_components
  - js in /interactions

[2017-09-29 15:10] vojtechjelinek commented on #3911
Closing until we complete the extensions refactor.

[2017-09-29 15:10] #3911 closed, assigned to nobody

[2017-09-29 18:00] pranavsid98 commented on #3906
@seanlip @joshuacano
FYI, its not a checkmark in the new column. We made a mock for this -
![address_answer feature](https://user-images.githubusercontent.com/15828797/31029095-10e588b6-a56e-11e7-8281-07a75365bfb9.png)

Are we going through with this format?

[2017-09-29 18:33] joshuacano commented on #3906
This looks great, I vote for this format.

Joshua Cano

[2017-09-29 19:04] justachetan commented on #2394
@seanlip I would like to work on the parts that are left

[2017-09-29 19:21] seanlip commented on #2394
Hi @adsrc, sounds good, thanks! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to pick a file on this issue and tell us what it is, and we'll update the thread accordingly. Thanks!

[2017-09-29 19:24] #3864 closed, assigned to pranavsid98

[2017-09-29 19:25] seanlip commented on #3906
SGTM -- I'm happy with whatever both of you decide :)

[2017-09-29 19:40] pranavsid98 opened #3912 "Implement incremental structure for the stats framework"
This issue implements Milestone 3 of the stats project.

We need to handle the complete system for updating stats using recorded events sent from the front end. This issue consists of three parts:

- [x] Record ExplorationActualStartEvent and SolutionHitEvent in the front end.

- [x] Implement system to send all recorded events to the backend through an async method.

- [x] Handle incoming event m

[2017-09-30 08:32] seanlip commented on #3747
Hi @utkarsh-dixit -- friendly ping?

[2017-09-30 08:32] seanlip commented on #3613
Deassigning @awtran due to lack of response.

[2017-09-30 11:44] shubha1593 commented on #3825
Hi @acashmkj, just wanted to know, are you still working on Group 4 ?

[2017-10-01 04:14] sayak119 commented on #3825
Yes @shubha1593

[2017-10-02 07:28] vibhor98 commented on #2394
Hi **@seanlip**, I would like to work on `core.domain.config_services.py`.

[2017-10-02 07:29] seanlip commented on #2394
Hi @vibhor98, sounds good -- I've assigned you. Thanks!

[2017-10-03 10:47] bching commented on #3826
Hey @seanlip I'll take on -- core/templates/dev/head/pages/exploration_editor/EditorServices.js

[2017-10-03 17:23] anurag545 commented on #3821
Welcome Sir.

On Mon, Sep 25, 2017 at 8:54 AM, Sean Lip <notifications@github.com> wrote:

[2017-10-03 17:43] shubha1593 commented on #3825
Hi @abhishekarya286, how's Group 1 going ?

[2017-10-03 17:47] utkarsh-dixit commented on #3747
Alright, first thing i have done is add a line to install_third_party.sh so that it can install this node module, eslint-plugin-angular.

[2017-10-03 18:04] abarya commented on #3825
Hi @shubha1593,
Still working on that. Will take one or maybe two more days to finish.

[2017-10-03 18:25] seanlip commented on #3747
Ok! What are your planned next steps?

[2017-10-03 18:35] seanlip commented on #3826
@bching Sounds good, thanks!

[2017-10-04 02:49] shubha1593 commented on #3825
@abhishekarya286, great thanks!

[2017-10-04 08:08] Oishikatta commented on #3905
Here is a start to the design doc, I'm not sure on the formatting/what it should have.

https://docs.google.com/document/d/18VHyxIfvts5LycKOwLU6-fDT0aRx30XEl1ErafdvD18/edit?usp=sharing

[2017-10-04 09:34] seanlip commented on #3905
Thanks @Oishikatta! I left some feedback in the doc.

[2017-10-05 05:14] Nix07 commented on #3825
Hey, @seanlip! Can I work on Group 4?

[2017-10-05 05:21] seanlip commented on #3825
Hi @Nix07, I think Group 4 has already been done. It looks like all the issues on this PR have been spoken for, but how about taking a look at a project in #3826 instead?

Also, welcome back! One thing before you start coding: could you please fill out the [contributor survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3)? We've updated it quite a bit from last time to match the current state of things,

[2017-10-05 05:42] Nix07 commented on #3826
@seanlip Can I take HistoryServices.js file?

[2017-10-05 05:59] seanlip commented on #3826
@Nix07 please read the original issue carefully. Could you pick a group that someone else has not already picked?

[2017-10-05 06:13] Nix07 commented on #3826
@seanlip Sorry, I didn't read the last part. Can I take BackgroundMaskService from app.js file?

[2017-10-05 06:24] bching commented on #3826
@seanlip Should I rename variables independent of extracted files such as the function parameter, 'explorationData', in -- core/templates/dev/head/pages/exploration_editor/ExplorationAdvancedFeaturesService to follow the same naming convention as 'ExplorationDataService' too?

[2017-10-05 06:25] seanlip commented on #3826
Hi @Nix07 -- hm, looking at the list, I think in that case it makes sense to take both focusService and BackgroundMaskService, since they're going to go in the same place. Would that be OK? It's fine to do both in one PR.

[2017-10-05 06:26] seanlip commented on #3826
@bching Nope, variables do not need to be changed. I think in fact that that one you pointed out has nothing to do with the service -- it's just a data blob (i.e. a dict/object).

Try doing console.log() on it to confirm, but I think that's the case -- if so, it doesn't need renaming, but if it is indeed the service then we should discuss further.

[2017-10-05 06:29] Nix07 commented on #3826
@seanlip I wanted to start with a single factory. But that's fine, I can take both focusService and BackgroundMaskService.

[2017-10-05 06:34] ishucr7 commented on #3826
@seanlip Can I take up extensionTagAssemblerService [ in app.js ] ?

[2017-10-05 06:37] seanlip commented on #3826
Sure! You've done this a couple of times; how about taking up siteAnalyticsService as well in the same PR?

In any case, are you able to edit the original issue (at the top of this page)? If so, feel free to add your name to the ones you want to take up.

[2017-10-05 06:41] ishucr7 commented on #3826
@seanlip Sure !  I will extract siteAnalyticsService in same PR .

[2017-10-05 12:24] ishucr7 commented on #3792
@seanlip  , @tjiang11 The fractions exploration can't be reproduced on local server. The other modules which can be loaded do not have the Back to Collection (Button , as no collection is there is any of them) . And I am not able to create such an exploration which has collections .
Please tell , how to generate such collections .

[2017-10-05 14:05] ishucr7 commented on #3792
@seanlip Can I take up this issue ?

[2017-10-05 15:28] ishucr7 commented on #3805
@tjiang11 , What if the tooltip is shifted to left ? . Then this problem will not occur .

![upload_tooltip](https://user-images.githubusercontent.com/23234392/31235751-e6634398-aa0f-11e7-9dc9-60aa1095ebe7.png)

![image](https://user-images.githubusercontent.com/23234392/31235771-f10196b0-aa0f-11e7-8a4e-c84f3ac2e02c.jpg)

[2017-10-05 15:28] ishucr7 commented on #3805
@tjiang11 Can I take this issue ?

[2017-10-05 16:08] tjiang11 commented on #3805
Hi ishucr7! (sorry I'm on a phone and it won't let me tag) Yes, feel free to assign yourself :)

[2017-10-05 21:32] seanlip commented on #3792
Sure, I've assigned you. To create an exploration with collections, log in as an admin on your local dev server, go to /admin, scroll to the bottom and click "reload collection". Then go to /collection/0.

[2017-10-06 15:02] TruongKim commented on #3708
Hi all, it's been a while, Im working on this and will give an update this weekend. This week I have to find mentors for my senior design project course at school so.

[2017-10-08 04:51] vibhor98 commented on #3826
Hey @seanlip, I have tried to run tests on my local system by running 'bash
scripts/run_tests.sh'. By every time tests are failing stating that there
are too many modified files to be taken care of and so the connection
failed. Pl. help me to do so.

Thanks!

On Thu, Oct 5, 2017 at 1:33 AM, Sean Lip <notifications@github.com> wrote:

[2017-10-08 05:13] seanlip commented on #3826
Try running just the frontend tests -- `bash scripts/run_frontend_tests.sh`. That shouldn't lead to any timing problems...

Also, how many files have you modified (and, in fact, which files are you taking up? I don't see your name assigned anywhere in the list above)?

[2017-10-08 06:26] vibhor98 commented on #3826
Hi @seanlip,  I am working on /core/templates/dev/head/app.js and separated
oppiaDatetimeFormatter service. For that I have to change approx. 20 files
that are using this container. You have assigned me this earlier as the
second starter project but yes, my name is not in the list. I'll try
running these tests and let you know.  Thanks!

On Sun, Oct 8, 2017 at 10:43 AM, Sean Lip <notifications@git

[2017-10-08 07:21] shubha1593 commented on #3826
Hi @ajomadlabs, how is it going ?

[2017-10-08 09:07] seanlip opened #3946 "Add an item selection input visualization to the statistics tab of the exploration editor."
For item selection interactions, there is no visualization shown in the state statistics modal in the stats tab of the exploration editor. This makes it difficult to address issues in those questions, and we should find a way to fix this.

As a first step, just showing a table of frequently-submitted answers (arranged in decreasing order by frequency) would be great.

To reproduce:
1. Create an ex

[2017-10-08 09:08] seanlip commented on #3946
/cc @pranavsid98

[2017-10-08 09:18] seanlip opened #3947 "The visualization of Image Click Input answers in the stats tab looks bad"
For image click interactions, the visualization shown in the state statistics modal in the stats tab of the exploration editor is unusable. It shows a histogram with the frequency of each answer. The problem with this is that each answer is represented by the coordinates of the click, which leads to the following being shown:

![screenshot from 2017-10-08 02-14-56](https://user-images.githubuserco

[2017-10-08 16:51] abarya commented on #3825
Hi @seanlip, @shubha1593, I couldn't find `domain/classifier/PythonProgramTokenizer.js`. Instead. there is a file with the same name in `oppia/extensions/classifiers/`. So, should I modify this one or leave it for now.

[2017-10-08 17:56] abarya commented on #3795
Hi @tjiang11,
Sorry, I missed this. Thanks for telling the difference :) . I also found this interesting and would like to work on this. Can we discuss on gitter?

[2017-10-08 19:12] tjiang11 commented on #3795
Hi @abhishekarya286 sure! Feel free to ping me with any questions you have.

[2017-10-08 20:24] seanlip commented on #3825
Oh, sorry @abhishekarya286, I think that's been moved. OK to skip it for now!

[2017-10-09 01:00] shubha1593 opened #3950 "Replace Jinja templates in the frontend with Angular."
_This is intended as a starter project for newer contributors._

We want to remove all the uses of Jinja from the frontend codebase and replace these with some AngularJS equivalent, with the ultimate aim of getting rid of Jinja so that pages serve and load faster. Each file in the list below has a list of occurrences of Jinja templates that need to be removed and replaced with an appropriate Angul

[2017-10-09 02:55] kavyabvishwanath commented on #3950
I would like to start with collection_player/collection_player.html

[2017-10-09 03:20] seanlip commented on #3950
Hi @kavyabvishwanath, welcome! Before taking up an issue from here, though, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

[2017-10-09 03:46] abarya commented on #3825
Thanks @seanlip.

[2017-10-09 04:25] seanlip commented on #3950
Hi @kavyabvishwanath -- further to my earlier message, thanks for filling in the CLA and survey! I've assigned you to the relevant file. Have fun!

[2017-10-09 04:38] kavyabvishwanath commented on #3950
Thank you @seanlip .. I'm on it

[2017-10-09 05:39] vibhor98 commented on #3826
Hi @seanlip, Please reply. Should I work on this starter project?

On Sun, Oct 8, 2017 at 11:56 AM, Vibhor Agarwal <agarwalvibhor84@gmail.com>
wrote:

[2017-10-09 05:41] seanlip commented on #3826
Yes, please! (I'd assigned you in the list already after your last comment.)

[2017-10-09 06:33] marion59000 commented on #3950
Hi, I would like to work on exploration_player/exploration_player.html, is it possible? Normally, I filled the CLA and the survey.

[2017-10-09 08:34] seanlip commented on #3950
Hi @marion59000, sure! I've assigned you.

[2017-10-09 19:04] 1995YogeshSharma commented on #3234
closing this issue as a new issue with a list of remaining directives to be changed has been opened #3891

[2017-10-09 19:04] #3234 closed

[2017-10-09 19:09] 1995YogeshSharma commented on #2640
ping @BenHenning ... is this being worked on?

[2017-10-10 00:40] brianrodri opened #3954 "Refactor functions in core/tests/protractor_util into Page Objects"
Currently, the files in [core/tests/protractor_utils](https://github.com/oppia/oppia/tree/develop/core/tests/protractor_utils) read like a grab-bag of functions and would benefit greatly from reorganization into [page objects](https://github.com/angular/protractor/blob/master/docs/page-objects.md).

The idea is that every function will be associated to a particular "page" of Oppia, and protractor

[2017-10-10 07:55] Nix07 commented on #3950
Hi, @seanlip I would like to take error/error.html.

[2017-10-10 10:30] #3912 closed, assigned to pranavsid98

[2017-10-10 10:38] pranavsid98 commented on #3906
@joshuacano . Were you able to make any progress with this?

[2017-10-10 10:42] pranavsid98 commented on #3947
By the way, we were also discussing other possible ways of expressing this. A heat map may not be the most creator-friendly way of expressing this.

In this section of the [doc](https://docs.google.com/document/d/11ZAe7BZqYsCS60oIDwvXQ7xKH4wwrrffN3HyqsNFbAw/edit#bookmark=id.q0twh4q9dzi4), we have expressed two ways of doing this.
The first one was to crop images into their regions, but this could

[2017-10-10 10:51] pranavsid98 opened #3958 "Implement the one-off job to migrate existing statistics data to the ExplorationStatsModel"
This issue implements the second part of Milestone 4 of the Stats project.

This job will run a MR operation on all existing event models. New ExplorationStatsModels will be created for all existing explorations and the existing event model instances will be used to populate the fields of the ExplorationStatsModel.

For more info: https://docs.google.com/document/d/11ZAe7BZqYsCS60oIDwvXQ7xKH4wwrrf

[2017-10-10 14:12] vibhor98 commented on #3826
Hi @seanlip, I am getting some '404:/frontend_errors' on my local
environment on running the frontend tests. I've made
`DateTimeFormatService.js`, a file and edited  certain required files. As
per the pt. 4 in the instructions I have included this new file in which
app.js is used. But getting testing errors. Pl. help whether I am going
right or not and what should I do to resolve the issues. Thank

[2017-10-10 18:39] shubha1593 commented on #3826
Hey @vibhor98, I guess it would be a good idea for you to make PR, so we can take a look at the changes made and help you figure out if something's wrong! Also if git doesn't allow you to push your code because of failing tests, just use `git push origin {{YOUR BRANCH NAME}} --no-verify` and mention in the title of your PR "[Not for Merge]".

[2017-10-10 18:42] shubha1593 commented on #3950
@Nix07, great! Assigned you.

[2017-10-10 19:15] vibhor98 commented on #3826
Hi @shubha1593, thanks and I will send a PR.

On Wed, Oct 11, 2017 at 12:09 AM, Shubha Gupta <notifications@github.com>
wrote:

[2017-10-10 20:32] pandeykartikey commented on #2394
Hi @seanlip, I would like to work on ` core.domain.fs_domain`

[2017-10-11 01:11] shubha1593 commented on #2394
Hi @kartik-25, sure, assigned you!

[2017-10-12 10:39] aaronluoq opened #3961 "suport audio"
in editor can add text、image、link、video;but can't add audio file;
Very want to support audio

[2017-10-12 11:22] vibhor98 commented on #3826
Hi @shubha1593, I have sent a PR regarding the issue. Pl. look into it and
suggest how can I resolve the issues.

On Wed, Oct 11, 2017 at 12:09 AM, Shubha Gupta <notifications@github.com>
wrote:

[2017-10-12 11:46] 1995YogeshSharma commented on #3961
Hi @aaron315 ...
Thanks for raising the issue. Can you please elaborate the issue a bit?

- Are you talking about adding audio or audio translations?
- adding audio - While inserting video, site asks for the link to a youtube video. An audio can be uploaded there and linked from the editor then.
- adding audio translations - there is an option (speaker icon) in editor to upload audio file for tran

[2017-10-13 02:09] 1995YogeshSharma commented on #3891
pages/exploration_player/feedback_popup_container_directive.html

pages/exploration_player/input_response_pair_directive.html

Both of the above templates are used in `popover-template` tag in the html files directly. Filenames can not be directly given in this tag as they won't compile. So, I think ng-template tag would be needed at these places.

[2017-10-13 02:48] aaronluoq commented on #3961
1 When I edit content, the word blue I wanted to add an mp3 file, don't look now.

<img width="718" alt="blue_content" src="https://user-images.githubusercontent.com/1642261/31528028-a6842a72-b003-11e7-8b3a-3237acc03167.png">

[2017-10-13 04:25] vibhor98 commented on #3826
Hi @seanlip, I have sent a PR regarding the issue. Pl. look into it and
suggest how can I resolve the issues. I have separated the DateTimeService
and changed the relevant files. Thanks!

On Thu, Oct 12, 2017 at 4:52 PM, Vibhor Agarwal <agarwalvibhor84@gmail.com>
wrote:

[2017-10-13 04:58] seanlip commented on #3891
OK, that's fine -- thanks, @1995YogeshSharma! Let's whitelist it in the final check mentioned above.

[2017-10-13 10:16] seanlip commented on #3894
@tjiang11 Have you had a chance to discus this with @amitdeutsch yet?

[2017-10-13 10:17] seanlip commented on #3806
Hi @GaganSuneja, how is this going?

[2017-10-13 10:20] seanlip commented on #3588
/cc @vojtechjelinek FYI, not sure, but this might be relevant for RTE components too? Not sure whether it's better to have two JSON files or one.

[2017-10-13 10:20] seanlip commented on #3576
Hi @AllanYangZhou, friendly ping: are you looking on this? If so, please self-assign. Thanks!

[2017-10-13 10:22] seanlip commented on #3281
On reflection, I think we're somewhat stuck with this. Embedders are already using the "v" parameter so if we support "version" we'll end up having to support two parameters instead of one. This just increases the maintenance burden, so I'm closing this issue.

[2017-10-13 10:22] #3281 closed

[2017-10-13 10:24] seanlip commented on #1889
This is too low-priority to do in the near/mid-term. Closing this issue.

[2017-10-13 10:24] #1889 closed

[2017-10-13 10:25] seanlip commented on #96
Not going to do this -- we haven't uploaded using a zip file in years.

[2017-10-13 10:25] #96 closed

[2017-10-13 10:27] seanlip commented on #2397
@vojtechjelinek -- just to check, is this issue done? Do we still use core/templates/prod at all? If not then let's close it.

[2017-10-13 10:52] 1995YogeshSharma commented on #3961
deferring to @seanlip ..... do you want to make a comment here?

Do we store videos on our server? If not, I think uploading audio to youtube and linking that in the exploration is the best way to go.

[2017-10-13 13:14] GaganSuneja commented on #3806
@seanlip Earlier This issue was present on local but when i tried to reproduce this issue  in current develop branch it was  somehow already solved!
![oppia](https://user-images.githubusercontent.com/9746527/31547851-80830ddc-b046-11e7-8a88-05db483c4bc8.png)
![oppia_issuse](https://user-images.githubusercontent.com/9746527/31547883-9c88d124-b046-11e7-9ab8-311053000192.png)

[2017-10-13 13:27] #3805 closed, assigned to ishucr7

[2017-10-13 18:43] BenHenning commented on #3288
Other ``stats_services`` methods now have test coverage as part of a separate effort by @pranavsid98. This issue only needs to track the visualizations info testing now.

[2017-10-13 18:48] pranavsid98 commented on #3288
@BenHenning This issue has been flagged in my doc as well. I identified that these three functions have not been tested:

get_visualizations_info()
get_versions_for_exploration_stats()
get_exploration_stats()

There shouldn't be any cause of concern for the get_exploration_stats() and get_versions_for_Exploration_stats() method since I'll be modifying it in the Milestone 5 of the stats project. Th

[2017-10-13 19:44] vojtechjelinek commented on #2397
No, we don't use it.

[2017-10-13 19:44] #2397 closed

[2017-10-13 20:30] seanlip commented on #3806
Hm, interesting, thanks @GaganSuneja!

@tjiang11 please could you verify whether this issue is fixed or if you're working on it in #3936? (If it's not addressed could you please give repro steps?)

[2017-10-13 20:32] seanlip commented on #3961
We don't store videos on our server; we use links to YouTube. I agree with @1995YogeshSharma, and would suggest (at least for now) doing the same for audio.

[2017-10-13 20:32] #3961 closed, assigned to nobody

[2017-10-13 21:13] #3257 closed

[2017-10-13 22:28] #3422 closed

[2017-10-13 22:33] seanlip commented on #159
Deprioritizing for now.

[2017-10-13 22:33] #159 closed

[2017-10-13 22:41] seanlip commented on #357
The main issue here is 404 calls to /frontend_errors when the Karma tests run. This makes sense since there isn't a server available to receive these calls.

The way to fix this is to introduce some kind of "test mode", but this creates potential for skew between the dev env and test env. On balance I think it's best to just leave it as-is.

[2017-10-13 22:41] #357 closed

[2017-10-13 22:45] seanlip commented on #768
We deprecated gadgets and aren't planning to introduce more state graphs in the future, so let's close this for now.

[2017-10-13 22:45] #768 closed

[2017-10-13 22:47] seanlip commented on #1132
Obsolete; there is no more "unresolved answers" section. Closing.

[2017-10-13 22:47] #1132 closed

[2017-10-13 22:47] seanlip commented on #1110
Closing; this has been addressed by @juansaba.

[2017-10-13 22:47] #1110 closed

[2017-10-13 22:49] seanlip commented on #1062
Closing. Haven't seen any issues directly related to this in a long while.

[2017-10-13 22:49] #1062 closed

[2017-10-13 22:50] seanlip commented on #1376
Closing. The questions project will have its own requirements which will lead to an improvement of the parameters system anyway, and reinstating cities.yaml is not a  primary concern at this point.

[2017-10-13 22:50] #1376 closed

[2017-10-13 22:53] seanlip commented on #1372
Supporting the existing editor in mobile screens is not a priority at this point. There is a new "simple editor" being developed that will be more mobile friendly. Closing.

[2017-10-13 22:53] #1372 closed

[2017-10-13 22:55] seanlip commented on #1541
This is obsolete. The "unhandled answers" section has been removed.

[2017-10-13 22:55] #1541 closed

[2017-10-13 22:57] seanlip commented on #1481
I just tested manually and Karma seems to recognize fit, which indicates that it's on Jasmine 2. So this issue is now fixed. Closing.

[2017-10-13 22:57] #1481 closed

[2017-10-13 23:00] seanlip commented on #2055
Subsumed into #3905. Closing.

[2017-10-13 23:00] #2055 closed

[2017-10-13 23:03] seanlip commented on #1753
This is now part of the work of the stats team, led by @pranavsid98. Closing in order to avoid duplication.

(It's also good to see this validation, since we came to the same conclusion when redesigning the stats pipeline!)

[2017-10-13 23:03] #1753 closed

[2017-10-13 23:05] seanlip commented on #2249
@pranavsid98 -- relevant to milestone 5 of the stats project? Assigning to you for now.

[2017-10-13 23:06] seanlip commented on #2156
No one else seems to have this problem, so I'm closing this issue for now.

[2017-10-13 23:06] #2156 closed

[2017-10-13 23:10] seanlip commented on #2724
Update: @jblair87 will be redoing the "Getting Started" page altogether, so this issue is obsolete.

[2017-10-13 23:10] #2724 closed

[2017-10-13 23:13] seanlip commented on #1236
Closing. #2967 duplicates this and outlines a better approach from the user perspective.

[2017-10-13 23:13] #1236 closed

[2017-10-13 23:14] seanlip commented on #3822
Hi @kevintab95, how is this going?

[2017-10-13 23:15] seanlip commented on #3797
@anmolshkl @prasanna08 -- where are we on this? Can we finish it?

[2017-10-13 23:16] seanlip commented on #2938
This is quite low-priority, I think. Dropping for now.

[2017-10-13 23:16] #2938 closed

[2017-10-13 23:31] seanlip commented on #3366
@jaredsilver, is this issue still relevant? Can we close it?

[2017-10-13 23:35] seanlip commented on #1378
We're going to deprioritize this. Closing.

[2017-10-13 23:35] #1378 closed

[2017-10-13 23:45] seanlip commented on #1020
Closing. Not going to fix this since the editor page isn't really planning to support mobile at this point.

[2017-10-13 23:45] #1020 closed

[2017-10-13 23:57] seanlip commented on #2185
Dropping this as low-priority for the moment.

[2017-10-13 23:57] #2185 closed

[2017-10-14 00:16] jaredsilver commented on #3366
Ehh... I don't think we're actively working on this at the moment. I'll close it for now, and we can always come back to it later in the event we decide we want to work on it further.

[2017-10-14 00:16] #3366 closed

[2017-10-14 00:43] seanlip opened #3968 "Convert frontend dicts to domain objects."
_This is intended as a starter project for newer contributors._

We want to represent objects in the frontend using frontend domain objects rather than raw, opaque JS dicts. For example, here are some frontend domain objects for Explorations (see the *ObjectFactory.js files): https://github.com/oppia/oppia/tree/develop/core/templates/domain/exploration.

The aim of this issue is to convert remaini

[2017-10-14 00:45] seanlip commented on #2863
Superseded by #3968.

[2017-10-14 00:45] #2863 closed

[2017-10-14 00:49] pranavsid98 commented on #2249
@seanlip Yep. We wanted to do this for the stats project. Thanks!

[2017-10-14 00:53] seanlip commented on #3747
Integrated into #3905.

[2017-10-14 00:53] #3747 closed, assigned to nobody

[2017-10-14 01:06] seanlip commented on #2088
Dropping this; too low-priority.

[2017-10-14 01:06] #2088 closed

[2017-10-14 01:08] seanlip commented on #1363
Closing this. This is being addressed in the new statistics project led by @pranavsid98.

[2017-10-14 01:08] #1363 closed

[2017-10-14 01:12] seanlip commented on #885
Closing. Incorporated into the stats team's work. /cc @pranavsid98

[2017-10-14 01:12] #885 closed