[2018-02-03 14:05] yashLadha commented on #4600
@tjiang11 It is 96 kbps audio file and it is giving exception in the library. How to add libraries in the project. I added one and it gave me error @seanlip

[2018-02-03 14:07] yashLadha commented on #4600
When i added 128kbps audio, it is added successfully and also 192 kbps. May be library doesn't support low audio file conversion (< 100 kbps). One workaround would be that if the audio bitrate is changed to 128kbps. I am looking in that matter, there are libraries that can convert the bitrate of the audio file. I myself have used an audio tool for conversion. Views @tjiang11

[2018-02-04 04:04] WickedBrat opened #4649 "Misleading logging in option on "/library" page"
* Steps to Reproduce: *
        - Goto "localhost:8181/splash" and login.
        - After logging in you'll be redirected to "localhost:8181/learner_dashboard".
        - Click on "Browse our lessons" and be directed to "localhost:8181/library"

* Expected Behaviour: *
        - Session should be logged in and dashboard should not show option to sign in.

* Actual Behaviour: *
        - It shows t

[2018-02-04 04:14] WickedBrat commented on #4553
Can I try to work on this?

[2018-02-04 07:22] DubeySandeep commented on #4649
Refreshing page changes the behaviour i.e, you are again logged in.
/cc @GanitGenius

[2018-02-04 08:16] WickedBrat commented on #4553
I would like to try and work on this. :+1:

[2018-02-04 08:48] seanlip commented on #4044
This doesn't seem to be happening any more. Closing.

[2018-02-04 08:48] #4044 closed, assigned to nobody

[2018-02-04 08:58] #4639 closed, assigned to aks681

[2018-02-04 11:52] #4641 closed, assigned to nithusha21

[2018-02-04 19:52] #4640 closed, assigned to nithusha21

[2018-02-04 20:13] pranavsid98 commented on #3906
@brianrodri, Any updates on the issue?

[2018-02-04 20:14] pranavsid98 commented on #3550
Hi @tjiang11. ping?

[2018-02-04 20:16] pranavsid98 commented on #2575
Hi @vojtechjelinek any updates?

[2018-02-04 21:23] tjiang11 commented on #3550
Still tackling this--it's a weird problem. Actually, I see two problems. The first one is that the footer is being used to load the site's language, which doesn't work on any page that doesn't contain the footer. The other weirder problem is that on the collection player and exploration player somehow the language cookie is being set twice with duplicate keys. I also tried adding an arbitrary key-

[2018-02-04 23:58] brianrodri commented on #3906
Yep, so Sean and I had a talk and decided it'd be more helpful to have the unresolved answers in the state editor (right under the state graph). Instead, I'll be introducing a PR which adds a link to the stats modal that will take you straight to the state's editor.

[2018-02-05 00:05] vojtechjelinek commented on #2575
I have done my work on this issue. There are still things to be done, but they are not important for now.

[2018-02-05 03:28] seanlip opened #4656 "In rich-text editors, link components have unnecessary padding around them."
Screenshot from the "Learner's Answers and Oppia's Responses" part of the exploration editor:

![scre](https://user-images.githubusercontent.com/10575562/35787231-8462eae0-09e1-11e8-9d2c-619947ea170d.png)

There are unnecessary spaces around the link RTE components. I think this also happens for math components. We should remove these -- they look ugly.

[2018-02-05 06:59] WickedBrat commented on #4634
@DubeySandeep I think saving responses like a cards could be benefical. Like users who have uploaded a wrong image or want to use the response with other interactions could be benefical for them.
Also I've fixed the console error. and have created a PR

[2018-02-05 10:06] #4621 closed, assigned to tjiang11

[2018-02-05 10:30] bansalnitish commented on #4549
May I work on this ?

[2018-02-05 10:37] DubeySandeep commented on #4549
@bansalnitish, I think you're working on #4295. isn't it?

[2018-02-05 14:01] bansalnitish commented on #4549
@DubeySandeep I have completed and submitted a PR for that. Also, I can work on two issues simultaneously because many times our timings may not match like I have submitted a PR for an issue but  say it is not reviewed for a day so I can work on another one.
Anyhow I have submitted a PR for #4295, so wanted to work on this now.

[2018-02-05 16:04] DubeySandeep commented on #4549
@bansalnitish, You're right :) i.e, It's okay to work on another issue if your PR is in the review. Sorry, but I cannot see a PR for #4295. I just wanted to know whether you'll work for #4295 (If not then we can free it for other contributors)? I hope you understand.
Thanks!
(EDIT: I think you have submitted it right now, so now you can work on this.)

[2018-02-05 16:11] bansalnitish commented on #4549
Hey @DubeySandeep I had made a PR for #4295.
Sorry I forgot to issue the PR after some changes. I was just about to issue a PR for #4295 but somehow I missed that. I'm really sorry for the same.

[2018-02-05 16:13] jervis446 commented on #4656
Hi , @seanlip  I'd like to work on this issue

[2018-02-05 16:44] jervis446 commented on #4656
Hi , @seanlip can please more describe about that issue . how to reproduce it ?

[2018-02-05 23:36] seanlip commented on #4656
Sure! Create a new exploration. Open the content rich-text editor. Add a link, and save. You'll see the effect I described.

Note that this happens for any of the rich-text editors (for content, feedback, hints, etc.).

[2018-02-06 01:43] #4627 closed, assigned to DubeySandeep

[2018-02-06 02:20] tjiang11 commented on #4545
Hi @aks681 , how's this going? It's okay if you'd like to defer this.

[2018-02-06 03:25] aks681 commented on #4545
@tjiang11 , ok, I am also trying another high priority issue in learner experience and as this is there only for Chrome mobile, I'll try this after I am done with the other one.

[2018-02-06 03:59] tjiang11 commented on #2297
Hi @ishucr7 , how is this coming along?

[2018-02-06 12:40] bansalnitish opened #4660 "Save button changes position when image dropdown is expanded"
**Steps to reproduce:**
- Create an exploration with an ImageClickInput interaction with several regions, and add an answer group that checks whether the click is in a specific region.
- Now add a new answer group. When the region dropdown is expanded, Save button is moved from its position.

[2018-02-06 16:13] aks681 commented on #4409
@tjiang11, The continuous dragging of graph edge seems to be not possible currently according to [this](https://stackoverflow.com/questions/20233846/how-to-capture-touch-events-with-angular-directive) (in mobile). Although I could try to implement a way where the user clicks on a vertex and then at a point, and an edge is drawn between the 2 points (same with vertex move also). Shall I do this?

[2018-02-06 20:32] jacobdavis11 opened #4661 "It's impossible to have a hint consisting solely of a rich text component"
Create a hint that consists of a rich text component and nothing else. The "Save hint" button is green, but when you click on it then it becomes greyed out, the hint modal remains, and you have no choice but to click "Cancel" and abandon the hint.

[2018-02-06 21:08] seanlip commented on #4661
I think I ran into this before, actually! But I thought it was user error, so thanks for isolating and tracking down the issue.

@kevintab95, please could you take a look at this?

Thanks!

[2018-02-06 21:19] jacobdavis11 opened #4662 "The visualization of Multiple Choice answers in the stats tab looks bad"
Responses to multiple choice questions look like this
<img width="603" alt="screen shot 2018-02-06 at 22 16 56" src="https://user-images.githubusercontent.com/13726796/35884645-9e04e2e0-0b8b-11e8-8a36-6963f1ebc0bd.png">

See https://oppiatestserver.appspot.com/create/fGoo1T3Nxt8r#/stats

They should be made more readable.

[2018-02-06 21:23] jacobdavis11 opened #4663 "In the statistics tab, long text answers overflow the modal"
Here, with TextInput
<img width="850" alt="screen shot 2018-02-06 at 22 21 27" src="https://user-images.githubusercontent.com/13726796/35884837-2fac2b36-0b8c-11e8-9794-bc3afa95a250.png">

(see https://oppiatestserver.appspot.com/create/fGoo1T3Nxt8r#/stats "second question why")

This is also happening on the production server
<img width="899" alt="screen shot 2018-02-06 at 22 22 35" src="https://u

[2018-02-06 21:52] horcrux2301 commented on #4663
I would like to work on this issue.

[2018-02-06 22:11] bansalnitish commented on #4660
Hey @tjiang11,
I think the cancel and save button should move along the drop down menu because they look better at the end. Also, if we fix the position of cancel and save button they appear in between many options which looks weird. What do you suggest ?

[2018-02-07 01:06] tjiang11 commented on #4600
Hi @yashLadha , sorry for the delay in response. Thanks for looking into this!

By the way, the fix that @sriks123 actually is quite separate from what you're working on, so it's fine to continue work on this.

As for adding libraries, try looking at #3624 as an example for when mutagen was added. Your hypothesis might be correct with the bitrate.

[2018-02-07 05:27] #3906 closed, assigned to brianrodri

[2018-02-07 06:00] prasanna08 commented on #4322
Hi @tjiang11 I am unable to reproduce this issue. I followed steps given below:
1. created a new exploration with math expression interaction. Set the correct answer to X.
2. published exploration.
3. Opened exploration in learner view.
4. Typed X then pressed Enter key on the keyboard. Oppia showed response along with "continue" button.
5. Pressed Enter again on the keyboard and nothing happened

[2018-02-07 08:21] horcrux2301 commented on #4662
I would like to work on this issue. However how do I stimulate this view locally?

[2018-02-07 08:23] seanlip commented on #4662
(/cc-ing @pranavsid98 to advise)

[2018-02-07 15:01] WickedBrat opened #4665 "Relocate feconf.py to oppia/tests directory"
The file backend_tests.py in the scripts folder fails to run giving the error ``` Import Error: no module named feconf ``` and resulting all other tests fail. The issue was solved was when the file feconf.py was relocated to "oppia/tests" folder from "oppia" folder.

A copy of the file feconf.py and feconf.pyc should be relocated to the folder as it's required there as well.

[2018-02-07 15:35] apb7 commented on #4665
Hello @WickedBrat! We have never encountered such an issue in the past. Also, I'm unable to reproduce it locally (The backend tests script works perfectly fine by running `bash scripts/run_backend_tests.sh` from the oppia root folder).

[2018-02-07 15:47] #4665 closed

[2018-02-07 16:42] jervis446 commented on #4656
@seanlip  can i work on this ?

[2018-02-07 16:45] abarya commented on #3954
Hi @seanlip @brianrodri,

I was working on implementing editorpage object. I'm posting a part of my code in which I'm facing problem. So, basically, inside the function `this.setInteraction`, the program is unable to call the function `this.closeAddResponseModal()` and is throwing an error that no such function is defined. I guess, this operator loses its scope inside the callback function when th

[2018-02-07 18:14] kevintab95 commented on #4661
Sure, I'll take a look! 

7. Feb 2018 02:38 by notifications@github.com:

[2018-02-07 21:27] jacobdavis11 commented on #4530
@WickedBrat any updates on this?

[2018-02-07 21:29] jacobdavis11 commented on #4190
@prasanna08 any updates on this?

[2018-02-07 21:30] jacobdavis11 commented on #4166
@anmolshkl how is this going?

[2018-02-07 21:32] jacobdavis11 commented on #3797
@GanitGenius how is this going?

[2018-02-07 21:32] jacobdavis11 commented on #3606
@shubha1593 any updates on this?

[2018-02-07 21:34] jacobdavis11 commented on #3225
@vibhor98 are you still working on this?

[2018-02-07 21:35] jacobdavis11 commented on #3170
@prasanna08 are you still working on this?

[2018-02-08 00:03] akumar1503 commented on #3797
@jacobdavis11 i have created a pr [here](https://github.com/oppia/oppia/pull/4653) and should be done soon.

[2018-02-08 02:37] shubha1593 commented on #3606
Hi @jacobdavis11, will get it done this week!

[2018-02-08 03:14] vibhor98 commented on #3225
Yes @jacobdavis11 , I'm working on this. I have filed a PR also. It needs your review. Do I need to shift the button at the right side of submit button?

[2018-02-08 07:15] jacobdavis11 commented on #3225
The PR is here (https://github.com/oppia/oppia/pull/4650), I'm not sure why it wasn't auto-linked.

[2018-02-08 09:53] #4481 closed, assigned to nobody

[2018-02-08 09:53] seanlip commented on #4656
Sure!

[2018-02-08 09:59] seanlip commented on #3954
Do it like this:

[code]

This is a common pattern in JS.

[2018-02-08 10:55] abarya commented on #3954
Thanks @seanlip

[2018-02-08 14:24] ishucr7 commented on #2297
Hi all,
My exams got over today. I will continue working on it from tomorrow.
Thanks!

[2018-02-08 16:21] harsha444 commented on #4374
Hi guys, I am new here and to open source as well. I would like to work on this. So, what should I start with?

[2018-02-08 16:24] apb7 commented on #4374
Hello @harsha444! Thanks for your interest. Would mind going through the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) and sign the CLA as stated? Once you're done, follow these steps for this issue:

and see which functions/methods need documentation.(Please ensure that your

in order to see what the right way to do this, is.
You can find al

[2018-02-08 16:26] harsha444 commented on #4374
I have done that previously. Doing it once is enough right? @apb7

[2018-02-08 16:30] anookeen commented on #4374
The task was assigned by @vibhor to me

On 8 February 2018 at 16:26, Sri Harsha <notifications@github.com> wrote:

[2018-02-08 16:31] apb7 commented on #4374
Yes, @harsha444. I've updated the comment. Please see it once :)

[2018-02-08 16:33] harsha444 commented on #4374
Sure, thanks.! @apb7

[2018-02-08 18:28] harsha444 commented on #3522
Is anyone still working on this? I would like to give it a try.

[2018-02-08 18:31] shaz13 commented on #3522
Nope. Assigning it to you. Thanks! @harsha444

[2018-02-08 18:33] shaz13 commented on #3522
No, I guess. Sure, go ahead @harsha444

[2018-02-08 18:33] harsha444 commented on #3522
Cool, may I know how to simulate this in localhost @shaz13

[2018-02-08 18:35] shaz13 commented on #3522
Create a new exploration and publish it on your local machine. You should see this card. The share buttons are always at the bottom right of the page. For code reference please take a look at this PR #3193.

[2018-02-08 18:43] harsha444 commented on #3522
@shaz13 got it, thanks.!

[2018-02-08 23:03] #4295 closed, assigned to nobody

[2018-02-08 23:12] tjiang11 commented on #2297
OK thanks for the update!

[2018-02-08 23:42] tjiang11 commented on #4660
Hi @bansalnitish , I think there might be a slight discrepancy between what I was saying and what you think I mean. I think that when you expand the dropdown, the only display that changes is the dropdown itself. This means the box surrounding the entire answer or answer group shouldn't expand, the position of "+Add another possible answer" should not move, and the "Save" button should not move. S

[2018-02-08 23:52] tjiang11 commented on #4322
Hi @prasanna08 thanks for the update, I just tried this myself and am also having trouble reproducing the issue. @AllanYangZhou , can you verify whether this is still an issue on develop? Thanks!

An aside to Prasanna: In the meantime, would you like to take a look at #2872? Thanks!

[2018-02-09 00:04] tjiang11 commented on #4409
Hi @aks681 , thanks for looking into it! I think that sounds like a good solution, though it seems like it will take some thinking in terms of design. Perhaps you might be able to add some helpful directions to guide the user in how to carry out different tasks.

[2018-02-09 02:15] seanlip commented on #4660
In general, I would agree with @tjiang11 that the dropdown should be a transient thing and should not cause "background elements" on the page to move.

[2018-02-09 03:41] prasanna08 opened #4666 "Refactor front-end tests for testing the code classifier and text classifier prediction APIs."
As of now, we have two prediction algorithm, code classifier, and text input classifier. Both of them use pre-trained models' data. Currently, tests are employed for code classifier prediction API tests for correctness, that is it makes sure that predictions returned by frontend API and predictions returned by training algorithm in [Oppia-ml](https://github.com/oppia/oppia-ml/blob/develop/core/cla

[2018-02-09 04:06] prasanna08 commented on #4190
Hi @jacobdavis11, I was busy with my exams. I will fix this soon. Thanks

[2018-02-09 04:08] prasanna08 commented on #3170
Hi @jacobdavis11, this is going to be part of ML GSoC project.

[2018-02-09 04:13] prasanna08 commented on #4190
Hi @seanlip, last time this job raised Exception when running in production and we were not able to idenfity exact reason for it. I am also not sure why it is raising Exception. If I remember correctly @pranavsid98's stats job also had some issues in production. So how were those issues resolved? Maybe that will give us more idea about this Exception as well. Thanks.

[2018-02-09 04:15] prasanna08 commented on #2872
Hi @tjiang11, so what is expected behavior here? The above comments suggest that we can shrink graph or shift it so that is in the viewport. Either way, we have to make it scrollable, right? So what should be done, shrinking or shifting?

[2018-02-09 06:16] tjiang11 commented on #2872
Hi @prasanna08 , I think I would prefer shrinking because this has the advantage that the entire graph is visible to the learner at the outset. Otherwise, it might not be obvious that you can scroll the graph in the first place.

[2018-02-09 06:24] seanlip commented on #4190
Hm, I think you'll need to ask @pranavsid98. There were a bunch of issues, but I'm not sure how many of them relate to this PR. Also, I think @pranavsid98 is writing up a doc with his findings from the last study (about the issues with prod data) that might be helpful here, so that's another good reason to talk to him!

[2018-02-09 06:25] pranavsid98 commented on #4190
@prasanna08 I think I remember this issue. Are you yielding an Exception directly? If you are, it has to be something like this - yield(str(Exception)).

[2018-02-09 06:56] WickedBrat commented on #4530
This issue involves correcting rich text editor. Considering the GSoC project ideas, the RTE will be upgraded to CKEditor. I think the problem will be solved automatically on upgrade. I did follow the issue. Is it feasable to work on it?

[2018-02-09 07:05] harsha444 commented on #3522
![oppia icons](https://user-images.githubusercontent.com/13659949/36015692-9a1b2bb0-0d95-11e8-8c55-cbe821fad7e6.png)

How does this look? and which icon should I use for the 4th one (classroom url)?

[2018-02-09 07:16] shaz13 commented on #3522
The motive of the switching to font awesome is speed while preserving the current visual look. Please do implement the colored version. Regarding the share button, I encourage you to find a close icon from the font awesome set itself.

[2018-02-09 07:32] harsha444 commented on #3522
Cool, How about this?
![oppia icon](https://user-images.githubusercontent.com/13659949/36016528-7693ab82-0d99-11e8-93d2-ca74f0c83783.png)

[2018-02-09 08:00] WickedBrat commented on #857
I'll look into it @seanlip ! Thanks!

[2018-02-09 09:12] yashLadha commented on #4666
Can you please guide me onto this @prasanna08 .

[2018-02-09 10:05] harsha444 opened #4667 "Changing pip to pip2 in install_third_party.sh"
Since oppia uses python2, why not change pip to pip2 in install_third_party.sh? It is being problematic when the default pip is pip3(which is more often since ubuntu takes pip3 to be default version instead of pip2 once it is installed). So, I think it would be better if we change pip to pip2.
For example: pip install numpy==1.6.1 --target="$TOOLS_DIR/numpy-1.6.1" can be changed to pip2 install nu

[2018-02-09 10:43] harsha444 commented on #3522
When I try to push changes to my local repo, it is showing the following error. How to solve this?(Something regarding linting) @shaz13
![error_while_pushing](https://user-images.githubusercontent.com/13659949/36023907-11c1b67a-0db4-11e8-8a1f-8c593af95e7d.png)

[2018-02-09 12:09] WickedBrat commented on #4667
Hi @harsha444, the problem you're facing is because of the version mismatch of python. Oppia runs uses Python version 2.7 in it's entire project as mentioned in the wiki. And it's recommended to use Python version 2.7. Moreover if you're using Python version 3 as default version, you can use virtual environment to deal with this issue.

[2018-02-09 13:08] prasanna08 commented on #4190
@pranavsid98 that was happening before but then I fixed that issue. This error occurs after fixing that issue. I think this is happening because one of the explorations in production data does not have valid change_dict or something which would cause exception when generating state_id_map fo that exploration. So are there any illegal explorations in production (as in explorations that do not follo

[2018-02-09 13:09] prasanna08 commented on #2872
Hi, @tjiang11 I won't be able to work on this issue until 12th of Feb. I did say that I am mostly free but I am out of town due to a family function. So if this issue is urgent and someone is ready to solve it then feel free to transfer it to him/her. Otherwise, I will start working on this issue when I come back. Thanks.

[2018-02-09 13:28] pranavsid98 commented on #4190
@prasanna08 A possible cause is line 365 in exp_jobs_one_off. When you execute get_explration_from_model, the complete schema migration is done, and there are a few explorations in prod which fails the schema migration. I handled it by adding a try-block around the retrieve command. The explorations that show these migration errors are usually the ones with redundant interactions and the like. Dur

[2018-02-09 13:32] prasanna08 opened #4668 "Perform manual end to end testing of text input classifier"
Currently, we have working Oppia-ml using which we can do end to end testing of our classifier. The issue is to do such testing (instructions given below) for text classifier.

Steps to do end to end testing:
* Start Oppia-ml locally.
* Start Oppia locally.
* Enable ML related constants in Oppia (feconf.ENABLE_ML_CLASSIFIERS, feconf.SHOW_TRAINABLE_UNRESOLVED_ANSWERS, app.js.ENABLE_ML_CLASSIFIERS)

[2018-02-09 13:32] prasanna08 commented on #4668
Hi, @GanitGenius would you like to work on this issue?

[2018-02-09 13:35] prasanna08 commented on #4190
@pranavsid98 I see. If that is the case then I will also do the same. Thanks.

Also @seanlip, by any chance would it be possible to see the message of the Exception raised in the production? This will be helpful in tracing the exception.

[2018-02-09 13:53] prasanna08 commented on #4666
Hi @yashLadha so before attempting this issue you should have a little idea about how ML works in Oppia.  You can get the basic idea from [wiki](https://github.com/oppia/oppia/wiki/Oppia-ml-Extension) page.

If you are already familiar with it then we can move on to the issue, take a look at existing tests for these 2 prediction APIs which are in 'extensions/interaction/CodeRepl/CodeReplPrediction

[2018-02-09 14:34] jervis446 commented on #4656
Hi , @seanlip i have doubt i tried this it look fine to me in content rich-text editor, if i insert space between character and link it show double space between them but if i doesn't insert space between character and link it look fine

[2018-02-09 14:56] tjiang11 commented on #2872
That's completely fine @prasanna08 , thanks!

[2018-02-09 16:11] aks681 commented on #4409
Ok, will try that.

[2018-02-09 20:17] Aashish683 commented on #4528
Hi, can I work on this @tjiang11  ?

[2018-02-09 20:21] BenHenning commented on #4438
So if I understand correctly, there are several points of failure to consider here:

1. Updating the schema version after a draft has been created should cause issues because the draft is using the old schema, so if it's applied bad things will happen (which bad things are probably dependent on whether the editor is using the new schema features)

2. Trying to apply a draft after a migration won't

[2018-02-09 20:27] BenHenning commented on #4438
It's worth clarifying one point I made above: although long-term our exploration migration frequency is likely to go down, I don't think it's a good user experience to have no idea whether your draft will survive until tomorrow, or past a particular release. That's a reasonable expectation in cases where multiple users are collaborating on a single exploration (in which case I'd expect social effe

[2018-02-09 21:31] BenHenning commented on #4438
In its nature, this is a bit complex because drafts store change lists and migrations occur on the entire structure. It would be nice if migrations could also migrate changes, and a major issue here is the payloads for change commands to explorations include dicts following schema substructures.

At the heart of the issue, everything seems to converge on scenario (1) from above. When applying an e

[2018-02-09 21:35] BenHenning commented on #4438
To clarify one point: proposal (1) would not involve updating existing migrations to support migrating change dicts, whereas proposal (2) would, but for free (since it requires reworking existing migrations to account for which substructures the migration is operating on). Existing migrations would only be reworked per the caveats mentioned earlier.

Note also that migrations may require multiple

[2018-02-09 22:11] tjiang11 commented on #4528
Hi @Aashish683 , yup! Feel free to assign yourself.

[2018-02-10 01:23] seanlip commented on #4649
This seems odd, actually. Does this recur reliably or is it a one-off?

[2018-02-10 01:24] seanlip commented on #4656
The intended behaviour is that everything looks correct when there is a single space character on either side of the rich-text component.

[2018-02-10 02:09] #4660 closed, assigned to nobody

[2018-02-10 04:13] WickedBrat commented on #4649
I confirm that the issue recurs reliably @seanlip .

[2018-02-10 06:55] DubeySandeep commented on #4667
Hi @harsha444, are you still facing this issue?

[2018-02-10 06:56] harsha444 commented on #4667
No, I'm about to close it down

[2018-02-10 06:56] #4667 closed, assigned to nobody

[2018-02-10 10:58] Sunil16202 commented on #4374
I completed  core.domain.stats_jobs_continuous, how can I push it?

[2018-02-10 11:02] anookeen commented on #4374
@sunil16202 use this command
git push origin your-branch-name

[2018-02-10 11:04] srikant-ch5 commented on #3981
@Arunabh98 @seanlip I want to work on this issue.

[2018-02-10 11:16] Sunil16202 commented on #4374
I got an error.
![screenshot from 2018-02-10 16-44-22](https://user-images.githubusercontent.com/23363511/36061557-e64fdc82-0e81-11e8-88f8-57d3f9e69082.png)

[2018-02-10 11:18] harsha444 commented on #4374
try git push -u origin develop @Sunil16202

[2018-02-10 11:20] anookeen commented on #4374
Have you set the origin ? @sunil

[2018-02-10 11:21] apb7 commented on #4374
Hello @Sunil16202! Please use `git push origin your-branch-name` and not your forked repo URL.
Thanks!

[2018-02-10 11:22] Sunil16202 commented on #4374
no, how can I set @anookeen

[2018-02-10 11:25] anookeen commented on #4374
git remote add origin path/to/your/repo/on/github

[2018-02-10 11:26] anookeen commented on #4374
@sunil use this command
git remote add origin path/to/your/repo/on/github

[2018-02-10 17:58] nithusha21 commented on #4430
Shall I take a look at this? @tjiang11

[2018-02-10 18:02] WickedBrat commented on #4497
I'm unable to reproduce the error.

[2018-02-10 18:58] DubeySandeep commented on #4497
Hi @WickedBrat, the error log you have mentioned looks similar to #4371. Also, have you followed the repro steps properly? Try this:
- Go to https://oppiatestserver.appspot.com/explore/0nGKU3BdS_Xb.
- Play Audio and check the console.

[2018-02-10 20:14] seanlip commented on #4430
Hi @nithusha21, sure! In general, feel free to assign yourself if an issue is not already taken.

[2018-02-10 21:22] nithusha21 commented on #4430
This issue is being caused because the value of the input is bound to the weight directly. The weight has a constraint which requires it to be a number. This prevents it from being '' (blank string) at any point of time.
I have 2 suggestions for a fix here:
- Just allow '' as a special case in the input. This will work and not change the current implementation by much.
- I noticed that the update

[2018-02-10 23:58] akumar1503 commented on #4668
@prasanna08 i did some investigation, following the above steps:

 - I loaded 'classifier_demo_exploration.yaml'

 - I didn't got the prediction for Text Input Classifier. i tried putting some of training_data but it didn't work.

 - I check the Datastore Viewer and there was no Entity like 'ClassifierTrainingJobModel' which suggests Training jobs were not stored. Is there any other way to store t

[2018-02-11 02:19] seanlip commented on #4430
Probably something more like the second would be better, I think. You could also reset the weight to what it was originally on-blur if the new value is invalid.

[2018-02-11 04:50] Sunil16202 commented on #4374
what is branch name for  core.domain.stats_jobs_continuous, I have to push it.

[2018-02-11 04:52] anookeen commented on #4374
Use the command " git branch" to see the name of branch.

On 11 Feb 2018 9:50 am, "Sunil Gupta" <notifications@github.com> wrote:

what is branch name for core.domain.stats_jobs_continuous, I have to push
it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/oppia/oppia/issues/4374#issuecomment-364721412>, or mute
the thread
<

[2018-02-11 04:53] Sunil16202 commented on #4374
I got,
* develop

[2018-02-11 04:56] anookeen commented on #4374
@sunil kindly make another branch and commit changes to that branch.  Push
that to the origin afterwards. You don't have to change the develop.

On 11 Feb 2018 9:54 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 04:59] Sunil16202 commented on #4374
but, I ran code git push origin develop,
It shows me Everything up-to-date

[2018-02-11 05:03] Sunil16202 commented on #4374
![capture](https://user-images.githubusercontent.com/23363511/36069897-ebc7ba78-0f16-11e8-82c7-6006bf49f751.PNG)

[2018-02-11 05:05] anookeen commented on #4374
@Sunil was this task of docstrings assigned to you?

On 11 Feb 2018 10:03 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 05:07] Sunil16202 commented on #4374
Yes, This task was assigned to me.
core.domain.stats_jobs_continuous @Sunil16202

[2018-02-11 05:13] Sunil16202 commented on #4374
@anookeen  I create new branch as local then I used git push origin local.
![sunil](https://user-images.githubusercontent.com/23363511/36069976-46537ea4-0f18-11e8-992a-6d548620b754.png)

[2018-02-11 05:27] anookeen commented on #4374
@sunil is your git now updated?

On 11 Feb 2018 10:13 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 05:29] Sunil16202 commented on #4374
yes, it shows me this
Branch local set up to track remote branch local from origin.
Everything up-to-date
@anookeen

[2018-02-11 05:32] anookeen commented on #4374
Okay @sunil this seems fine to me.

On 11 Feb 2018 10:29 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 05:33] Sunil16202 commented on #4374
but, on Oppia GitHub site, this task has not checked.
 core.domain.stats_jobs_continuous @Sunil16202
@anookeen

[2018-02-11 05:45] anookeen commented on #4374
Have you created the pull request? If not create one. It will be reviewed
by the mentors and they'll merge that into oppia. Then it will appear
checked @sunil

On 11 Feb 2018 10:33 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 05:54] Sunil16202 commented on #4374
I ran code
git pull origin local
Is it fine.

On Feb 11, 2018 11:15 AM, "Anoosha keen" <notifications@github.com> wrote:

[2018-02-11 05:56] anookeen commented on #4374
You need not to pull from origin rather you should pull from the  oppia's
github to make your local branch insync with oppia develop.

On 11 Feb 2018 10:54 am, "Sunil Gupta" <notifications@github.com> wrote:

[2018-02-11 06:23] anookeen commented on #4057
domain/summary

- 1.     ExplorationSummaryBackendApiService.js
@shubha1593 can I be assigned this?

[2018-02-11 06:27] DubeySandeep commented on #4057
Hi @anookeen, I've assigned you to `ExplorationSummaryBackendApiService.js` part of this issue. :)

[2018-02-11 06:28] anookeen commented on #4057
Thanks @DubeySandeep  :)

[2018-02-11 06:30] DubeySandeep commented on #4057
@shreyateeza, any update on `app.js`? how is it going? (friendly ping!)

[2018-02-11 08:53] nithusha21 commented on #4430
Ok.. So do not show any error and just retain old value if it is invalid?

[2018-02-11 08:57] seanlip commented on #4430
Yes, on-blur. Maybe have a red border before blur too, if possible, so that there's a visual signal that something is wrong.

[2018-02-11 09:01] nithusha21 commented on #4430
Sounds good. I'll try it out. Thanks :)

[2018-02-11 10:31] nithusha21 opened #4676 "Search input filter in collection editor might be catching valid names."
In the search bar in the collection editor, currently the regex allows "A-Za-z0-9-_ ". But when an exploration is selected from the dropdown it is displayed as "Name (explorationID)". On trying to make further edits to the search bar the bar is highlighted in red ( as '(' and ')') are invalid characters as per the regex.
One of the demo explorations has title "Welcome to Oppia!" where '!' is not a

[2018-02-11 12:33] shubha1593 commented on #4374
@Sunil16202 Please take a look at [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change). This should help!

[2018-02-11 19:59] DubeySandeep commented on #4676
We(me & @nithusha21) tried to investigate this and come up with a reasonable fix, here's the rough transcript:
- As per the python code, it(title) accepts anything except ":#/|_%<>[]{} "
- So overall we have to add exploration ids filter & title filter regEx validator in collection search bar.
- So I think now we have to include this filter in search bar validator and if possible we have to change

[2018-02-11 20:51] WickedBrat opened #4680 "Audio playback not syncing properly"
**Steps to reproduce**
   - Add an audio to the exploration.
   - Play the audio and click preview button before the audio finishes.
   - Play the audio track from the preview panel.

**Expected Result**
   - The previous i.e. from the editor panel should pause automatically and the audio from the preview panel should play

**Observed Result**
   - Both the audios play simultaneously.

[2018-02-12 01:44] seanlip opened #4683 "Help card is appearing too low on the screen"
This might need a hotfix. It's a regression. /cc @tjiang11

To reproduce: create an exploration with a supplemental interaction and play it. In the learner view, the help card appears at the bottom of the page:

![helpcard](https://user-images.githubusercontent.com/10575562/36081383-00c3a392-0f53-11e8-835f-2be065ca7524.png)

Expected behaviour: The help card should appear at the bottom right of th

[2018-02-12 01:46] #3797 closed, assigned to akumar1503

[2018-02-12 03:59] #4566 closed, assigned to nithusha21

[2018-02-12 04:26] #4528 closed, assigned to nobody

[2018-02-12 04:32] tjiang11 commented on #4632
I'm having trouble seeing the issue here. How is there any "Learn again" or "Continue" button when you haven't submitted an answer yet? It seems like there's a step missing in the reproduction steps.

[2018-02-12 04:37] tjiang11 commented on #4628
I can't seem to reproduce this. For me, the tooltip comes about a minute after the hint becomes available. @DubeySandeep can you confirm whether this is still an issue?

[2018-02-12 06:34] DubeySandeep commented on #4628
Currently, I'm too unable to reproduce this issue. I'm closing this issue for now and I'll reopen it if I'll find this again. Thanks @tjiang11 :).

[2018-02-12 06:34] #4628 closed, assigned to nobody

[2018-02-12 06:38] DubeySandeep commented on #4632
@tjiang11, The 2nd bulletin says "Go to the 2nd card and give 11 as an answer.". Should I change this to "Go to the 2nd card and submit 11 as an answer."? will that be fine? :).

[2018-02-12 06:57] #4587 closed, assigned to nobody

[2018-02-12 08:09] AllanYangZhou commented on #4322
Hi @prasanna08, thanks for taking a look. I don't think the bug was ever directly addressed, but it looks like the Continue button no longer disappears under the newly implemented progress nav. Closing this issue for now, unless the problem resurfaces somehow.

[2018-02-12 08:09] #4322 closed, assigned to prasanna08

[2018-02-12 19:51] jervis446 commented on #4656
hey @seanlip , actually I was quite busy with exams .... please keep moving with the bug... i will definitely catch up later sometime... sorry for the delay

[2018-02-12 20:32] tjiang11 commented on #4632
I was referring more to between the 4th and 5th steps. It seems like there should be an instruction to submit an answer there, right?

[2018-02-12 20:34] #4549 closed, assigned to nobody

[2018-02-12 22:01] bansalnitish commented on #4656
Hey @seanlip May I take up this issue ?

[2018-02-12 22:26] seanlip commented on #4656
Hi @bansalnitish, sure -- go ahead!

[2018-02-12 22:38] WickedBrat commented on #4683
Can I work on this @tjiang11 ?

[2018-02-12 23:17] DubeySandeep commented on #4683
@WickedBrat, Thanks for showing interest in this issue but someone is already assigned to it (just 18 hrs. ago), so I would request you to look into any other issue.

[2018-02-13 00:53] tjiang11 commented on #4683
Hi @WickedBrat , depends on whether @nithusha21 would like to still work on this issue or not, if they decide not then you can (@nithusha21 please respond to this). Also just a note: Let's try to get this done by Saturday to get it into the release. Thanks!

[2018-02-13 02:23] BenHenning commented on #4438
From TL meeting, some issues to consider:
- After converting a change dict, the change may no longer have any side-effects and should be stripped (needs to consider whether this case actually happens)
- Ensure draft migrations that fail also fail the top-level migration job

It also seems preferable to keep the change simple and avoid changing the entire system (which favors the approach where we

[2018-02-13 03:33] tjiang11 commented on #4676
Hi @DubeySandeep , after some discussion with the other TL's, let's make it so that the search query gets base64 encoded on the front-end and then have the back-end decode it (in collection_editor.ExplorationMetadataSearchHandler). This way, the search query can be anything. Does that sounds good?

[2018-02-13 06:00] 1995YogeshSharma opened #4686 "(release testing) Hint shown even after submitting correct answer."
The hint is shown on clicking the hint icon even after correct answer is given.

Reproduction steps:
1) Play exploration and weight for the hint icon on some question to show up.
2) Give the correct answer.
3) Click on the hint icon. The is still shown.

[2018-02-13 07:28] WickedBrat commented on #4371
I'd like to work on this issue @tjiang11

[2018-02-13 09:51] Aashish683 commented on #4680
Hi @tjiang11 , can I work on this issue ?

[2018-02-13 17:33] DubeySandeep commented on #4676
Yep! Sounds great. :)

[2018-02-13 17:35] akumar1503 opened #4688 "Donate page gives console error"
Simply open the Donate page.
![screenshot from 2018-02-13 23-01-46](https://user-images.githubusercontent.com/22469265/36164334-0ad45df2-1112-11e8-8767-3c65e3cf8339.png)

- the expected behaviour
 no console errors

Thanks!

[2018-02-13 17:40] DubeySandeep commented on #4688
@GanitGenius, Cannot reproduce. (try disabling adblocker)

[2018-02-13 17:42] DubeySandeep commented on #4688
Also, that embedding youtube error happens sometimes, not an issue from our side!

[2018-02-13 17:49] DubeySandeep opened #4689 "Searching exploration in library is not working as expected."
Searching exploration with characters like "!", "*" etc. works like a wildcard match.

**Steps to reproduce:**
- Go to LIBRARY.
- Search with "*" or "!".

[2018-02-13 17:51] akumar1503 commented on #4688
oh, thanks @DubeySandeep. i tried on firefox it's fine.
Closing this.

[2018-02-13 18:08] DubeySandeep commented on #4688
Thanks! BTW if you can reproduce this on chrome after disabling adblocker then you can open it.

[2018-02-13 18:20] akumar1503 commented on #4688
Thanks for reporting. On Chrome, i can reproduce it!!

[2018-02-13 18:39] seanlip commented on #4689
Just to check, is this a behavior of the App Engine Search API?

Also, perhaps here (in the library search page) we should follow the approach in https://github.com/oppia/oppia/pull/4687, similar to the collection search too.

[2018-02-13 18:58] tjiang11 commented on #4371
Hi @WickedBrat , sure! I've assigned you! (Feel free to assign yourself to issues in the future)

I have looked into this a tiny bit when first implementing audio, and IIRC it seemed that it just seemed to be an issue with Chrome, but if you find otherwise that would be great!

[2018-02-13 19:00] tjiang11 commented on #4680
Hi @Aashish683 , yes sure!

(On an unrelated note: could you check your hangouts, I sent you a message regarding release testing, thanks!)

[2018-02-13 20:24] seanlip commented on #4662
@tjiang11 this is breaking, right? (for the upcoming release)

[2018-02-13 20:27] nithusha21 commented on #4683
Hi I am taking a look at this... Thanks :). And yes I'll try to get it in before Saturday 👍

[2018-02-13 20:31] tjiang11 commented on #4686
I'm not too sure if this is really a problem or not. I think it's okay that the learner can still view the hints after submitting an answer. Thoughts? @markhalpin @seanlip

[2018-02-13 20:34] 1995YogeshSharma commented on #4686
I am not sure either. #4580  was for preventing hints from being released after correct answer is submitted. That's why I filed the issue.

[2018-02-13 20:36] seanlip commented on #4686
Ah I think there's a misunderstanding here. #4579 was to prevent new hints from showing up on the footer. I think existing hints that have already shown up on the footer can still be opened (otherwise, what should happen instead when the hint button is clicked?)

[2018-02-13 20:38] 1995YogeshSharma commented on #4686
oh, ok. I thought the button would just get unclickable.
Thanks for the clarification. Feel free to close the issue.

[2018-02-13 20:49] DubeySandeep commented on #4689
Yep!  I think that's because of gae search API. Both of the places (exp. search in collection editor page and library) uses same services/function, So #4687 is not resolving this issue in either of the places.
Maybe this is happening because these characters are breaking words in tokens. You can take a look at [Tokenizing Rules](https://cloud.google.com/appengine/docs/standard/python/search/#token

[2018-02-13 22:58] tjiang11 commented on #4662
Hmm... I actually can't seem to reproduce this (the link doesn't seem to produce the picture shown?), when when I look at the multiple choice statistics for fractions for example, it seems to look fine.

[2018-02-13 23:36] seanlip commented on #4689
I wonder if it's actually worth fixing this -- it doesn't seem to me like a user would generally type these characters into the search bar anyway. Shall we leave it as-is, since it's the default behaviour?

[2018-02-14 03:59] seanlip commented on #4680
Hi @tjiang11 -- please note that @Aashish683 is a different person from @ishucr7!

And yep, @Aashish683, please feel free to submit a PR for this. Thanks!

[2018-02-14 10:37] ishucr7 opened #4691 "One can't differntiate between solution/hint logo."
Add some hints and a solution to a question. In the learner view, the logos for the hints and solutions are same. Moreover, only "Hints" is written and there is no descriptive text for Solution logo.

The following example has 3 hints and one solution.

![screenshot-2018-2-14 personalized online learning from oppia](https://user-images.githubusercontent.com/23234392/36199922-0c8f18aa-11a1-11e8-9e9

[2018-02-14 10:59] ishucr7 opened #4692 "The placeholder text in the solution editor is not completely visible."
In the solution editor the placeholder text in the editor is not completely visible.

Add the solution to a fraction interaction.

The text after "Enter a fraction in the form" is not visible.

![screenshot-2018-2-14 personalized online learning from oppia 2](https://user-images.githubusercontent.com/23234392/36200903-2d40c604-11a4-11e8-9e65-f35168de6cb8.png)

[2018-02-14 11:04] 1995YogeshSharma commented on #4691
In the last icon, the bulb has yellow outline instead of white. Isn't that the difference?

[2018-02-14 11:20] ishucr7 commented on #4691
Yep! that's right. But wouldn't it be better if there's a text differentiating hints/solution ? (From the point of view of a new user)

[2018-02-14 11:21] ishucr7 opened #4693 "The timespan for the popup when the solution doesn't lead to any card is less(2 seconds)."
The timespan of the pop-up ( describing that the solution doesn't lead to any card ) should be increased(currently 2.1 sec) to 4 seconds.

![timespan](https://user-images.githubusercontent.com/23234392/36201660-ab25899a-11a6-11e8-88ee-a5a7de382293.png)

[2018-02-14 12:48] 1995YogeshSharma commented on #4691
I am not sure on that. @seanlip  can better comment on that.

[2018-02-14 14:15] jervis446 commented on #4333
Hey @tjiang11 can i work on this issue ?

[2018-02-14 15:31] 1995YogeshSharma commented on #4333
@jervis446 , yes go ahead. I'll assign it to you.

In general, if you see an unassigned issue and want to work on it, just go ahead and assign it to yourself.

[2018-02-14 15:41] 1995YogeshSharma commented on #4693
Do you know what is the timespan now? Any specific reason for 4 seconds?

[2018-02-14 15:44] ishucr7 commented on #4693
Yep! I checked the it, the current timespan is 2.1 sec (approx). I think 4
sec would be enough. Let me know what you think!

[2018-02-14 15:52] 1995YogeshSharma commented on #4693
oh, it's ok. Mention the 2.1 second in the main comment as well. As for to what time it should be increased, i am not sure.

@tjiang11, what do you say?

[2018-02-14 16:51] srikar0896 commented on #556
Hello,I want to work on this issue,can anyone please point me in direction where I can start?Thanks

[2018-02-14 19:26] srikar0896 commented on #4056
Hello,Can i work on this?I think we can do that making our own directive which will track the touchstart and touchend events which will set the hoverstate to True or false accordingly.

[2018-02-14 20:11] DubeySandeep commented on #4689
@seanlip, I don't have issue then.
Okay! Let's leave it as-is. Closing this issue.

[2018-02-14 20:11] #4689 closed, assigned to nobody

[2018-02-14 20:16] tjiang11 commented on #4693
I think it's reasonable to increase the time span to 4 seconds. Thanks for reporting!

[2018-02-14 20:20] seanlip commented on #4691
I think it's fine as-is. It's not clear how to have an alternative UI (with a label for "solution") that's still clean, and it's not unreasonable to think of a solution as "the last hint". To prevent accidental premature reading of the solution, we show users a confirmation modal before actually displaying the solution. So I think this is fine as-is.

[2018-02-14 20:20] #4691 closed, assigned to nobody

[2018-02-14 20:54] #4676 closed, assigned to DubeySandeep

[2018-02-15 02:09] #4683 closed, assigned to nithusha21

[2018-02-15 02:16] #4409 closed, assigned to aks681

[2018-02-15 05:16] shubha1593 commented on #3522
@harsha444, you don't have the package 'enum' installed. Maybe [this](https://stackoverflow.com/a/40655587) might help!

[2018-02-15 08:40] seanlip commented on #4688
I think this is a known bug in Chrome/Chromium, we don't need to fix it. See https://bugs.chromium.org/p/chromium/issues/detail?id=807304

Thanks for reporting!

[2018-02-15 08:40] #4688 closed, assigned to nobody

[2018-02-15 08:40] seanlip commented on #4668
@prasanna08 ping?

Also why is this issue marked as "triage"?

[2018-02-15 08:42] prasanna08 commented on #4668
That is because the issue itself is to try and see if text classifier is
working or not. A fix will be required only if it is not working, otherwise
no need to fix anything.

On Thu, Feb 15, 2018, 2:10 PM Sean Lip <notifications@github.com> wrote:

--

Best,
Prasanna

[2018-02-15 08:44] seanlip commented on #4668
Ah, got it, thanks. I think @GanitGenius made some progress in investigating, so that might be worth taking a look at.

[2018-02-15 08:47] prasanna08 commented on #4668
Yes, we talked about it over email he sent me. Also, @GanitGenius can you
note down your new findings here, too. Just so that we can keep track of it
on GitHub issue page.

On Thu, Feb 15, 2018, 2:14 PM Sean Lip <notifications@github.com> wrote:

--

Best,
Prasanna

[2018-02-15 10:30] #4686 closed, assigned to nobody

[2018-02-15 10:33] seanlip commented on #2378
I am going to close this. It is too much work for us to take on at this time and the benefit is not entirely clear. We will revisit if there is learner demand for it.

[2018-02-15 10:33] #2378 closed

[2018-02-15 10:33] seanlip commented on #1299
Closing. I think this is not only obsolete, but offers too much choice and is confusing.

[2018-02-15 10:33] #1299 closed

[2018-02-15 10:39] seanlip commented on #4364
@ishucr7 -- perhaps it might be worth finishing this up?

[2018-02-15 10:42] seanlip commented on #4367
@nithusha21 what is the issue with set input?

[2018-02-15 10:43] seanlip commented on #4539
@tjiang11 @WickedBrat do you know if this is related to #4530?

[2018-02-15 10:47] seanlip commented on #4410
Note to contributors: please see prior work in #4507.

[2018-02-15 15:46] ishucr7 commented on #4364
@seanlip  Yep! Will start working on it.

[2018-02-15 17:32] srikar0896 commented on #4056
@seanlip @DubeySandeep ,Can i work on this?I think we can do this by creating a directive which will listen to touchstart and touchend events for mobile which will set the hoverstate to True or false accordingly.

[2018-02-15 18:00] 1995YogeshSharma commented on #4056
@srikar0896 have you followed the instructions on the wiki and accepted the invite? I am unable to assign this issue to you.

[2018-02-15 18:10] nithusha21 commented on #4367
@seanlip it allows you to submit a null set. Is that desired behaviour? If so I'll remove it from this issue.

[2018-02-15 18:52] seanlip commented on #4367
Ah sorry, I meant, why was it not tackled in the earlier PR / is there
something tricky about SetInput that makes it hard to tackle? If not, might
be worth trying to wrap it up...

[2018-02-15 18:55] nithusha21 commented on #4367
Ah ok.. So I had tried to handle it earlier but you had mentioned that you had to revert the change (not sure why). I could try to fix it up if you let me know what had caused the error while you were testing it. Thanks

[2018-02-15 18:57] seanlip commented on #4367
Ah, I can't remember, sorry. Can you point me to the PR or comment in which
I reverted this? I'll take a look and get back to you.

[2018-02-15 19:01] nithusha21 commented on #4367
This comment says you ran into the issue https://github.com/oppia/oppia/pull/4365#issuecomment-355525218. This was the PR where you had reverted changes.

[2018-02-15 19:03] seanlip commented on #4056
I confirm Srikar has signed the CLA but has not yet filled out the
contributor survey (as detailed in the "getting started" instructions).

Srikar, FYI: we now do not add folks to the Oppia group on GitHub until
they have completed the starter instructions and started contributing
regularly. This is because, in older times, such practice resulted in a lot
of churn as folks got added and removed. S

[2018-02-15 19:08] divyadeep1 commented on #4374
Hi! I have completed the setup of Oppia and have signed the CLA. I'd like to start working on one of the files now.

[2018-02-15 19:11] vibhor98 commented on #4374
Hey @divyadeep1 , Feel free to select any of the remaining files and let us know so that I can assign you the same.

[2018-02-15 19:18] divyadeep1 commented on #4374
@vibhor98 Before selecting a file, there's an issue that I need some help with. When I run `pylint --disable=all --enable=missing-docstring <filename>`, I get an import error saying "No module named docstyle". How should I fix this?

[2018-02-15 19:25] apb7 commented on #4374
Hey, @divyadeep1! Please ensure that your pylint version is >=1.7.1. You can check it by `pylint --version`.
Thanks!

[2018-02-15 20:22] seanlip commented on #4367
Ah sorry about that, that is indeed unclear.

I looked back at my notes from a meeting with @AllanYangZhou and it had this item listed as a bug while testing:

* Set Interaction: Submit button is always disabled

so, maybe check that? Seems like it wasn't tested properly and as a result of that, was never enabled, causing students to get completely stuck.

[2018-02-15 20:37] nithusha21 commented on #4367
Oh ok. Thanks for that info. I'll take a look over this weekend and try to fix this. 👍

[2018-02-15 21:38] akumar1503 commented on #4668
@prasanna08 @seanlip after doing some investigation again:

The classifier_demo_exploration.yaml lacks training_data to be qualified for storing it for training.
So, I created a new exploration and reduced the constrain to qualify by reducing feconf.MIN_TOTAL_TRAINING_EXAMPLES it was working fine.

ClassifierTrainingJobModel and TrainingJobExplorationMappingModel were populated in datastore and pr

[2018-02-15 21:57] akumar1503 opened #4701 "Editing classifier_demo_exploration.yaml (15) or code_classifier_test.yaml (18) produces console errors."
- steps to reproduce the problem
  Login as admin.
  Load classifier_demo_exploration.yaml (15) or code_classifier_test.yaml (18) from the activities tab.

- the observed behaviour
  gives console errors

![screenshot from 2018-02-16 03-25-10](https://user-images.githubusercontent.com/22469265/36283060-36f3e520-12c9-11e8-8534-604ca1fccad2.png)

- the expected behaviour
  no console errors

[2018-02-16 02:44] DeveloperAlfa commented on #3576
Hey there!
I would like to work on this issue.

Possible Points of Importance:
1. Can the user write tags like "<b>bold</b>", if yes, then we need to filter out tags which may result in breakage of site functionality.
2. The user should not be able to parse any Javascript commands else that may result in him being able to do unintended stuff.

Although, I'll be needing help in reading through the

[2018-02-16 04:45] prasanna08 commented on #4668
@GanitGenius, yes, classifier_demo_exploration.yaml lacks training data. It was used for previous ML framework testing, I guess. As of now, we don't have much use for it. What we could do though is to modify that exploration so that it has sufficient training data for carrying out tests.

[2018-02-16 05:54] #4656 closed, assigned to bansalnitish

[2018-02-16 05:59] seanlip commented on #3576
Hi @DeveloperAlfa, welcome! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, I think I would recommend taking up a starter project or two, and if that goes well, tackling this issue (which is a little big for a starter project).

[2018-02-16 06:27] yashLadha commented on #4693
Can I send a PR for this.

[2018-02-16 06:29] ishucr7 commented on #4693
Hi @yashLadha, feel free to do so.

[2018-02-16 06:37] 1995YogeshSharma commented on #4693
@yashLadha I have assigned it to you. In general, if the issue is unassigned, you can assign it to yourself and start working.

[2018-02-16 06:43] ghost commented on #4692
@ishucr7 I would like to contribute to this project. I am a beginner and a graduating student.

Is this an issue, the editor has a small width and placeholder text is long?

[2018-02-16 06:47] 1995YogeshSharma commented on #4692
I am not sure what the exact solution here. Do we want to increase the width of the input element or increase height such that placeholder text wraps over?

@tjiang11  @ishucr7 what do you think?

[2018-02-16 06:53] ghost commented on #4692
@1995YogeshSharma  If we want to align editor vertically with above text -- solution is, we have to increase the height of editor.
I think, increasing the width of the editor will be ok.

[2018-02-16 06:54] ishucr7 commented on #4692
I think increasing the width of the input element would be great. Let's wait for his (@tjiang11) reply and then @muqadar-ali-jamali, you can start working on it.

[2018-02-16 06:55] ghost commented on #4692
@ishucr7 ok, great..!

[2018-02-16 07:09] seanlip commented on #4692
Hi @muqadar-ali-jamali -- while you're waiting for @tjiang11, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Thanks!

[2018-02-16 07:21] ghost commented on #4692
@seanlip  sure..

[2018-02-16 08:00] apb7 commented on #3905
Hello, @seanlip! We already have a check for trailing whitespaces enabled for Python files using pylint. I'll pick up HTML files then.
Thanks!

[2018-02-16 09:18] WickedBrat commented on #4539
@seanlip They do appear to be the same thing as in the issue #4530 . It's possible that they have additional padding as well.

[2018-02-16 09:20] WickedBrat commented on #4692
I'd like to send a PR for this. @seanlip

[2018-02-16 09:30] seanlip commented on #4692
@WickedBrat: in general, you are welcome to submit a PR for any issue, and it is fine to do so without asking in advance. The only exception is that it might be a bit rude if the issue is one that people are already actively working on.

However, no one is actively working on this issue yet, and although @muqadar-ali-jamali has expressed an intent to do so, he hasn't completed the setup instructio

[2018-02-16 10:08] akumar1503 commented on #4668
@prasanna08 i think one way it can be modified is creating two end point cards and test if the given word/sentence is happy or sad as i have used in this test, and for the training data we can put whole sentences/paragraphs of happy and sad categories.
can we go about creating this way??

[2018-02-16 10:10] apb7 commented on #3905
@seanlip: Shall I add the regex to check trailing spaces for HTML in `BAD_PATTERNS_HTML_REGEX` instead of creating another function which goes through all the files once again?
Thanks!

[2018-02-16 10:12] seanlip commented on #3905
I don't have a strong opinion; you decide. Efficiency sounds like a good thing to aim for.

[2018-02-16 10:13] apb7 commented on #3905
Okay, got it! I'll add it to the regex list.
Thanks, @seanlip!

[2018-02-16 10:49] ghost commented on #4692
@WickedBrat : okay, you do it.. I will find another opportunity.

[2018-02-16 15:25] divyadeep1 commented on #4374
Hey @apb7, it was a version problem indeed. Thanks a lot! So I checked almost all the files using pylint, but it doesn't show me missing-docstring on any of them. It shows a score of 10/10 with no information on missing docstrings. Am I doing something wrong?

[2018-02-16 15:32] apb7 commented on #4374
Hi, @divyadeep1! Please select any of the remaining files and let us know it first. Then, as stated in the thread, use:
`
pylint --disable=all --enable=missing-docstring <path/to/file>
`
Also, please ensure the version is >= 1.7.1.
Thanks!

[2018-02-16 15:37] divyadeep1 commented on #4374
I'm doing exactly that, take a look. (ran pylint for the file core.domain.acl_decorators.py)
![u](https://user-images.githubusercontent.com/19911687/36315306-53965de0-135d-11e8-8620-5be1a8a0ab2d.png)

[2018-02-16 15:45] apb7 commented on #4374
@divyadeep1: This is the output which I get:
[code]
Can you please try running it from the oppia directory? (You can use this list as a reference though.)

[2018-02-16 15:51] divyadeep1 commented on #4374
@apb7: I'm using this command from the oppia directory: `pylint --disable=all --enable=mising-docstring core/domain/acl_decorators.py` but still it's showing me the same output as before.

[2018-02-16 15:52] vibhor98 commented on #4374
Hi @divyadeep1 This file has already one [PR](https://github.com/oppia/oppia/pull/4604/files). Can you choose some other one? It was not updated. But now I have updated it.

[2018-02-16 15:54] divyadeep1 commented on #4374
Hey @vibhor98, how about core.storage.job.gae_models then?

[2018-02-16 15:59] vibhor98 commented on #4374
@divyadeep1 , you can take it. Shall I assign you?

[2018-02-16 16:00] divyadeep1 commented on #4374
@vibhor98 Yes, please do. The problem is here as well though.
![screenshot from 2018-02-16 21-30-11](https://user-images.githubusercontent.com/19911687/36316561-a7f1e906-1360-11e8-9c46-dc8cede2203f.png)

[2018-02-16 16:03] apb7 commented on #4374
@divyadeep1: Please change `mising` to `missing`. If this does not works, please post the output of `pylint --version` here.
Thanks!

[2018-02-16 16:03] apb7 commented on #4374
@divyadeep1: Please change `mising` to `missing`. If this does not work, please post the output of `pylint --version` here.
Thanks!

[2018-02-16 16:04] divyadeep1 commented on #4374
@apb7 It did work. I feel so silly. Thank you so much!

[2018-02-16 16:06] vibhor98 commented on #4374
@divyadeep1 , I've assigned you. Please, go ahead!

[2018-02-16 16:10] divyadeep1 commented on #4374
Working on it, Thanks @vibhor98

[2018-02-16 16:14] apb7 commented on #4374
@divyadeep1: No problem, happy to help :)

[2018-02-16 16:32] srikant-ch5 commented on #4292
@tjiang11 I would like to work on this..

[2018-02-16 16:38] 1995YogeshSharma commented on #4292
Hi @sriks123 , please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia). Only then I can assign the issue to you.

Also, in general, if the issue is unassigned, you can assign it to yourself and start working.

[2018-02-16 17:24] yashLadha commented on #4693
As from the config, it is 1.5 second,
[code]
Changing it to 4 seconds.

[2018-02-16 18:03] AmanYdv20 commented on #1895
Could someone elaborate the problem?.As a beginner, I do not understand it completely.

[2018-02-16 18:25] AmanYdv20 commented on #1404
Can this issue will be assigned to me.I am new to oppia and this is my first issue with it.So, please guide me.

[2018-02-16 20:03] vibhor98 commented on #4649
@WickedBrat I was trying to produce the issue. But when I jump to "localhost:8181/library", I'm still logged in. Can you explain where is the issue actually?

[2018-02-16 22:22] seanlip commented on #1895
@AmanYdv20 Please give more info on what you don't understand -- it's difficult to help when the request is too generic. Thanks!

[2018-02-16 22:25] seanlip commented on #1895
Also, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?  We'll need that before we can assign you to an issue.

[2018-02-16 23:22] #4635 closed, assigned to ishucr7

[2018-02-17 01:24] 1995YogeshSharma commented on #1404
@AmanYdv20 , you have to follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first. You can be assigned the issue only after that.

In general, if the issue is unassigned, you can just assign it to yourself and start working.

[2018-02-17 07:57] AmanYdv20 commented on #1895
@seanlip I have gone through all the instructions and filled the forms.Now Can I can start working on that.

[2018-02-17 08:38] DubeySandeep commented on #1895
@AmanYdv20, Thanks for signing CLA. Now you can start working on this issue. :)
Thanks!

[2018-02-17 09:10] seanlip commented on #1404
Just a quick note: GitHub doesn't allow us to assign issues to non-collaborators, and we only add people as collaborators after they've successfully completed and merged a couple of PRs (in order to reduce churn). So, to start, you might consider taking one of the starter projects listed [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor) instead, which hav

[2018-02-17 09:10] seanlip commented on #1404
(Also, welcome to the project!)

[2018-02-17 09:29] seanlip commented on #4292
Hi @sriks123, just a quick note: GitHub doesn't allow us to assign issues to non-collaborators, and we only add people as collaborators after they've successfully completed and merged a couple of PRs (in order to reduce churn). So, to start, you might consider taking one of the starter projects listed [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor) inst

[2018-02-17 10:13] seanlip commented on #3353
FYI, I just checked with @markhalpin and can confirm that this is still worth doing (though not critical). It would animate the avatar a bit, which is nice.

[2018-02-17 11:07] #4701 closed, assigned to prasanna08

[2018-02-17 12:18] ishucr7 commented on #3905
Hi @seanlip , for "always use templateUrl instead of template", shall I create a function in pre_commit_linter.py  that checks for the above constraint ? And by 'templateUrl' you mean the one in the directives, right?

[2018-02-17 12:20] apb7 commented on #3905
Hello @ishucr7! I think a regexp might be better since we will not have to loop through all the files again. Although I'm not sure if it is a feasible solution here. We need it to be a bit more on the efficient side.
Thanks!

[2018-02-17 12:42] DubeySandeep commented on #3905
@ishucr7, You can take a look at [no-inline-template](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/rules/no-inline-template.md#no-inline-template---disallow-the-use-of-inline-templates) rule of `eslint-plugin-angular`. (Also, for JS liters plugins you can follow this updated [doc.](https://docs.google.com/document/d/12WhFCV9NSdBTO3hCkXlDgOMsxSbYUZYjhPUOe1YCrUo/edit#))

[2018-02-17 14:10] srikar0896 commented on #4634
@DubeySandeep this is happening in other interactions as well

[2018-02-17 15:10] DubeySandeep commented on #4634
@srikar0896, Yep! I've mentioned it in the EDIT section of the issue! But for few interactions (like testInput, FractioInput etc.) this will not result in any error!

[2018-02-17 16:17] AmanYdv20 commented on #1895
@DubeySandeep sure I will start working with full zeal.I am new to OPPIA so please guide me whenever I need. :)

[2018-02-17 16:26] AmanYdv20 commented on #1404
@seanlip thanks, I started on working on your listed projects and try to submit the PR as soon as possible.

[2018-02-17 16:32] AmanYdv20 commented on #1404
I also signed in the CLA and want to work with you in future. :)

[2018-02-17 21:04] WickedBrat commented on #4649
@vibhor98 Try logging out and then following the steps. You'll be able to reproduce the issue.

[2018-02-17 21:09] WickedBrat commented on #4692
@muqadar-ali-jamali I apologise if it seemed rude to you. It was a confusion, so that's why I deleted, my comment. If you want, you can tackle this issue, Go ahead. ;)

[2018-02-17 21:17] ghost commented on #4692
@WickedBrat It's ok. I can completely understand. The priority is the issue -- get it done :p ;)

[2018-02-17 21:24] WickedBrat opened #4712 "Unaligned radio-button with corresponding text"
**Steps to reproduce**
  Just make an attempt to add Fraction Input Interaction.

**Expected Behaviour**
  Obviously the radio buttons should be present in-line with the corresponding text.

**Actual Behaviour**
  The buttons appear in the next line.

![screenshot from 2018-02-16 14-56-13](https://user-images.githubusercontent.com/20617436/36345642-4255aef2-1455-11e8-813f-9d5f7b39029e.png)

[2018-02-18 06:05] #4293 closed, assigned to LanJosh

[2018-02-18 06:08] sarthak-sehgal commented on #4712
@1995YogeshSharma, can I take up the issue?

[2018-02-18 06:35] seanlip commented on #4712
Hi @sarthak-sehgal, please start by following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). After you've done that, feel free to submit a PR for this. Thanks!

[2018-02-18 07:43] srikar0896 commented on #4649
@seanlip @WickedBrat this occurred to me too.

[2018-02-18 08:07] jervis446 opened #4714 "Unaligned button and text in exploration setting"
**Steps to reproduce**
 Create a new exploration and go to settings option in right bar next to preview option

**Actual Behaviour**
In Advanced feature tab there the enable and disable button is not align as well as text is also not in proper manner see in expected behaviour .
![screenshot-2018-2-18 personalized online learning from oppia](https://user-images.githubusercontent.com/22105326/363495

[2018-02-18 08:13] WickedBrat commented on #4714
Adding to it, the designs are not perfectly aligned in responsive view.
![screenshot from 2018-02-18 13-40-30](https://user-images.githubusercontent.com/20617436/36349735-bdaaf9de-14b1-11e8-9a8f-9a41e7cda93a.png)

[2018-02-18 08:28] jervis446 commented on #4714
Hey , @WickedBrat Ooh you are right ! but present one also not good Design though. would you like to add some idea?

[2018-02-18 08:37] seanlip commented on #4714
Just a note: don't worry about responsive view for the editor UI. We only support desktop view for the editor.

Also /cc @ishucr7 FYI

[2018-02-18 08:46] WickedBrat commented on #4714
@jervis446 We could have the design changed to something like the chrome settings tab. It's user friendly and it's better to have two columns for the settings page. It'll create uniformity. We can display the required text, in tooltip, when hovered over a "?" icon. All these designs make it minimalistic and less chaotic for users.
/cc @seanlip suggestions

[2018-02-18 09:05] jervis446 commented on #3905
Hey @apb7  I am willing to work on "All directives should have restrict: 'E' " . are you still working it ?
Thanks!

[2018-02-18 09:09] apb7 commented on #3905
Hello, @jervis446! Sure, go ahead!
Thanks!

[2018-02-18 09:16] ishucr7 commented on #3905
Hi @DubeySandeep , I tried adding the plugin and I am getting the following error .

![optional](https://user-images.githubusercontent.com/23234392/36350199-37c483e0-14ba-11e8-9ba3-ba976a6e1287.png)

![plugin](https://user-images.githubusercontent.com/23234392/36350202-4fa76f68-14ba-11e8-95da-758932e51742.png)

[2018-02-18 09:17] srikar0896 commented on #4714
@WickedBrat @jervis446 other way could be like the older version of chrome settings(like row wise),also solves the responsive issues :).

![image](https://user-images.githubusercontent.com/17567875/36350206-65a066a8-14ba-11e8-845b-65cf45372e7e.png)

[2018-02-18 09:22] sarthak-sehgal commented on #4712
@srikar0896, yes, I'll be submitting a PR soon. :)

[2018-02-18 09:49] WickedBrat commented on #4714
@srikar0896 looks good! Moreover we could add a little "?" icon and display the corresponding text on hover

[2018-02-18 10:17] srikar0896 commented on #4714
yeah it would be nice,but i feel that the user cant find what he is searching for in a glance,user has to hover on that,to know more about it,which means user has to perform one extra action to know more.This is what I felt but it will be good if we do in that way too.

[2018-02-18 11:04] srikar0896 commented on #4712
okay,great.

[2018-02-18 11:10] WickedBrat commented on #4680
@Aashish683 any updates?

[2018-02-18 12:04] ishucr7 commented on #3905
Hi @seanlip , @DubeySandeep

For "templateUrl" instead of "template"
For the files in the "extensions/objects/templates/" , for e.g 'CodeStringEditor.js' ,

Shall I create another file code_string_editor_base_directive.html and include this line in it
 `'<span ng-include="getTemplateUrl()"></span>'`

![oldformat](https://user-images.githubusercontent.com/23234392/36351542-c65dbc68-14d1-11e8-919a-b

[2018-02-18 12:05] WickedBrat commented on #3998
@DubeySandeep  I'm unable to reproduce the error. Please confirm if the error still exists

[2018-02-18 16:27] sarthak-sehgal commented on #4712
@srikar0896, please carry on with the issue. Unfortunately, I'm having facing some issues with the setup on my system.

[2018-02-18 16:43] srikar0896 commented on #4712
okay.

[2018-02-18 20:12] seanlip commented on #3982
I think we can leave it as-is (in terms of what to show in the count). Just a thought though, maybe the tooltip can say something like "Feedback (1 open)"?

[2018-02-19 04:24] tjiang11 commented on #4553
I'm closing this, as I don't deem it important. We don't anticipate learners changing views from desktop to mobile in Chrome dev tools.

[2018-02-19 04:24] #4553 closed, assigned to nobody

[2018-02-19 04:28] tjiang11 commented on #4467
Closing this, as it seems to work okay as-is. Also, we don't really have high expectations of the accuracy of auto-generated audio. It's really just meant to be a last-resort backup. Furthermore, we're looking to do a project (possible in GSoC or later) to revamp auto-generated audio.

[2018-02-19 04:28] #4467 closed, assigned to nobody

[2018-02-19 04:30] tjiang11 commented on #4426
I'm going to go ahead and close this issue. This simply isn't possible with the current framework for auto-generated audio. We are, however, looking to do a project (possible during GSoC) to revamp audio, which will be filed under another issue.

[2018-02-19 04:30] #4426 closed, assigned to nobody

[2018-02-19 04:55] tjiang11 commented on #556
Hi @srikar0896 sorry for the late response. This is a fairly large change. You would first have to start by making a design doc and getting that approved that contains some sample mocks for the proposed UI of the interaction (learner and creator) and a basic overview of code changes.

[2018-02-19 05:20] tjiang11 commented on #4497
Hi @LanJosh , would you care to take a look at this?

[2018-02-19 05:57] srikar0896 commented on #556
@tjiang11 yes, I will propose some mocks and the overview of the implementation.

[2018-02-19 06:50] seanlip commented on #556
Hi @srikar0896, this is actually a GSoC project (under New Interactions). It's quite big. If you'd like to get familiar with the codebase, it might make sense to do a smaller one for now. If you're interested in learner facing stuff, I would recommend picking anything from the Medium/High priority columns in the [learner view](https://github.com/oppia/oppia/projects/18) project. Thanks!

[2018-02-19 06:52] ishucr7 opened #4721 "The text in the tooltip is not completely visible in case of the leftmost collection(Fractions --- in the screenshot)"
When you're partway through an activity(exploration/collection) , a tooltip will appear if you hover over the icon on the top-right corner of the activity.   "You're partway through this activity"

![text_incomplete](https://user-images.githubusercontent.com/23234392/36365163-38c288a0-156e-11e8-80b3-cd90ae07cc29.png)

Expected behaviour : The whole text should appear inside the tooltip for every a

[2018-02-19 07:07] WickedBrat commented on #4374
Please confirm for the file core.controllers.cron I don't think the line numbers are written correctly.

[2018-02-19 07:10] apb7 commented on #4374
Hey, @WickedBrat! Please use this to check the line numbers in case of any ambiguity:
`pylint --disable=all --enable=missing-docstring <path/to/file>`
Thanks!

[2018-02-19 07:53] WickedBrat commented on #4374
this was the result @apb7
[code]
I guess there are no remaining classes remaining

[2018-02-19 08:07] apb7 commented on #4374
@WickedBrat: I've updated the line numbers in the issue thread. Do you plan to work on this?

[2018-02-19 08:08] WickedBrat commented on #4374
Yeah @apb7 why not :D

[2018-02-19 08:10] apb7 commented on #4374
@WickedBrat: Sure, go ahead -- I've assigned you!

[2018-02-19 08:27] #3606 closed, assigned to shubha1593

[2018-02-19 08:29] WickedBrat opened #4723 "Exploration overview not visible on resizing."
**Steps to reproduce the problem**
  Just resize the editor's page. You'll notice that exploration overview window is hidden

**Expected behaviour**
  Upon resizing the exploration overview should get on top of the "Introduction" label, rather than hiding it entirely.

![screenshot from 2018-02-19 12-43-30](https://user-images.githubusercontent.com/20617436/36368448-3fed649c-157d-11e8-8cf3-412923c

[2018-02-19 09:13] DubeySandeep commented on #4723
@WickedBrat, we currently support exploration editor pages for desktop use only. We do have ongoing "Simple editor" project for mobile/tablet use.
So maybe you can close this. Thanks! :)

[2018-02-19 09:14] DubeySandeep commented on #3998
Thanks for checking. Closing it now! :)

[2018-02-19 09:14] #3998 closed, assigned to nobody

[2018-02-19 09:44] #4723 closed

[2018-02-19 09:48] DubeySandeep commented on #3905
@ishucr7, Templets in these cases are handled by `ObjectEditorTemplateHandler` and the pattern is same everywhere in extensions/objects/templates/.
- so maybe we can disable this rule for this directory (not sure!).
- can it be handled via "allowSimple: true" config? As I can see this in many places https://github.com/oppia/oppia/blob/5299c1b416ecb5788b704bbe49f3f6704a722a38/core/templates/dev/hea

[2018-02-19 09:49] WickedBrat commented on #4562
I'd like to work on this @seanlip

[2018-02-19 09:58] DubeySandeep commented on #4562
@WickedBrat, I've assigned you for this. (are you still working on #4371 (just wanted to know)?)
Also, in general, feel free to assign yourself (as asked earlier over [here](https://github.com/oppia/oppia/issues/4371#issuecomment-365368096)) and start working on it.

[2018-02-19 13:28] WickedBrat commented on #4562
Yeah I am working on it @DubeySandeep . And thanks!

[2018-02-19 14:02] jacobdavis11 commented on #3982
Sean's idea sounds like a good solution. Normally (e.g. on Facebook) a "(1)" denotes something that is unread rather than something not yet fully dealt with.

[2018-02-19 16:26] srikar0896 commented on #4721
@ishucr7 are you saying that the whole tooltip have to be visible to the user?

[2018-02-19 17:31] Aashish683 commented on #4680
@WickedBrat yes, I will be submitting a PR soon for this.

[2018-02-19 19:17] ishucr7 commented on #4721
In the above given screenshot the "You're" is not visible(-- the complete
sentence is mentioned in the issue description--) whereas in case of other
activities the whole sentence can be seen. So you need to make sure it does
even in the case of the leftmost activity("Fractions in the given
screenshot").

[2018-02-20 02:32] DubeySandeep commented on #4600
@tjiang11, The above-linked file is not a `.mp3` file the audio.mime of that file is : `['audio/mp4', 'audio/x-m4a', 'audio/mpeg4', 'audio/aac', 'application/octet-stream']`.
Mime for mp3 files use to be (somewhat): `['audio/mp3', 'audio/x-mp3', 'audio/mpeg', 'audio/mpg', 'audio/x-mpeg', 'application/octet-stream']`
So overall audio upload functionalites is working well for .mp3 files, we just hav

[2018-02-20 06:01] AllanYangZhou commented on #4386
After discussing with @seanlip, here is an approach:

1. Create a new `CurrentAnswerService`:
    * Private Fields (with getter & setter): `[answer, rulesService, validityCheckFn, forceHideSubmitButton (bool), onSubmitCallback (optional)]`
    * All fields are set when a new interaction is initialized.
    * Every time the answer changes in an interaction, the interaction also sets the answer fiel

[2018-02-20 15:44] ishucr7 commented on #4714
Hi @seanlip , Got it!

[2018-02-20 18:49] srikar0896 commented on #556
@seanlip  Sure!

[2018-02-21 04:43] srikar0896 commented on #3225
Is this issue resolved?

[2018-02-21 04:46] vibhor98 commented on #3225
@srikar0896 I'm working on this. I have already filed PR for this.

[2018-02-21 05:00] srikar0896 commented on #3225
@vibhor98 okay!

[2018-02-21 07:52] shubha1593 commented on #2059
Hey @seanlip, on oppia.org I'm able to produce what this issue is saying
![prodmode](https://user-images.githubusercontent.com/7807557/36468570-dec38eec-1709-11e8-91c2-1a29b12fe563.png)
But in the dev mode, when I'm in the learner view, I get an 'Edit' button (leading me to exploration editor)
![devmode](https://user-images.githubusercontent.com/7807557/36468511-a8153ddc-1709-11e8-8a33-6ae4777ad6e

[2018-02-21 09:12] seanlip commented on #2059
Hi @shubha1593, I think you'll need to create the exploraiton with one user, then log out and play it as a different user. If the user has edit rights then the edit button will show instead of "suggest changes".

Hope that helps!

[2018-02-21 13:15] prasanna08 commented on #4668
Hi, @GanitGenius let's not worry about the preloaded exploration. It is not required.

[2018-02-21 13:18] prasanna08 commented on #4668
Closing with 0f4bb06

[2018-02-21 13:18] #4668 closed, assigned to akumar1503

[2018-02-21 13:18] prasanna08 commented on #4666
Hi, @yashLadha are you working on this?

[2018-02-21 13:20] prasanna08 commented on #4661
Hi, @kevintab95 are you working on this?

[2018-02-21 13:22] prasanna08 commented on #4590
Hi, @bansalnitish how is this going?

[2018-02-21 13:30] prasanna08 commented on #4417
Hi, @Kunalgarg2100 still working on his?

[2018-02-21 13:31] prasanna08 commented on #4371
Hi, @WickedBrat how is this going?

[2018-02-21 13:33] yashLadha commented on #4666
Working on the time out issue of toast.

On Feb 21, 2018 6:48 PM, "Prasanna Patil" <notifications@github.com> wrote:

[2018-02-21 13:34] prasanna08 commented on #4072
Hi, @kartik-25 are you still working on this?

[2018-02-21 13:38] WickedBrat commented on #4371
@prasanna08 I have my exams going on, so can't work on it currently.

[2018-02-21 14:34] srikar0896 commented on #4292
@sriks123 still working on this?

[2018-02-21 16:43] WickedBrat commented on #4410
I'd like to work on it.

[2018-02-21 18:03] WickedBrat commented on #4410
Also the suggestion box should not be displayed here when the exploration is not published.
![screenshot from 2018-02-21 23-29-36](https://user-images.githubusercontent.com/20617436/36496786-65e5e1f4-175f-11e8-85c3-720e8e302524.png)

[2018-02-21 18:21] srikar0896 commented on #2872
@tjiang11  can i take up this?

[2018-02-21 18:22] srikar0896 commented on #2872
@prasanna08 are you working on this?

[2018-02-21 19:22] srikar0896 commented on #2937
@kirankonduru  @seanlip Is this issue resolved?If not I would like to take up this!

[2018-02-22 02:02] prasanna08 commented on #4666
Well, if you don't have time to work on the issue then please de-assign
yourself. You can take it later when you want to work on this issue and
re-assign it to yourself. Thanks

[2018-02-22 02:03] prasanna08 commented on #2872
Yes, I have opened a PR for this issue.

On Wed, Feb 21, 2018, 11:52 PM srikar.ch <notifications@github.com> wrote:

--

Best,
Prasanna

[2018-02-22 02:46] shubha1593 commented on #2059
Yup got it, thanks :)

[2018-02-22 03:22] srikar0896 commented on #2872
Okay!

[2018-02-22 04:09] tjiang11 commented on #4600
Wow, thanks  @DubeySandeep ! That would explain a lot. And thanks for the audio files in different bitrates. I'll try verifying uploading them.

[2018-02-22 04:38] #4430 closed, assigned to nithusha21

[2018-02-22 07:42] seanlip commented on #2937
I took a look at this again. It's actually a very special case that hasn't happened in any other exploration, AFAIK, so I went ahead and modified the original exploration to accept lowercase correct answers as well. Closing this issue for now since there isn't really a clear general fix.

[2018-02-22 07:42] #2937 closed

[2018-02-22 09:07] apb7 commented on #3905
Hello, @seanlip! I am planning to implement a check for consistent brace style. This will enforce the following style:
[code]
How does this sound? I looked into the code and found out this is the style we follow for javascript files.
Thanks!

[2018-02-22 09:07] seanlip commented on #3905
That sounds excellent, please go ahead. Thanks @apb7!

[2018-02-22 09:08] apb7 commented on #3905
Thank you, @seanlip!

[2018-02-22 16:35] vibhor98 commented on #4386
@seanlip @AllanYangZhou , With reference to the 3 point of the very first comment, do we need to add submit button for `ItemSelectionInput` interaction as well to remove the special case when there is exactly 1 answer selection? Thanks!

[2018-02-22 18:18] srikar0896 commented on #3550
@seanlip @tjiang11 This issue is partly related to what I have experienced,I have changed the language in library page from English to Hindi ,as for the expected behaviour the page was translated from English to Hindi(as expected).And I have changed back from Hindi to English ,Then I see the library page translated back from Hindi to English as expected so far all has worked as expected,But When I

[2018-02-22 18:40] DubeySandeep commented on #3550
@srikar0896, We do have such issue with language switching (#4450).

[2018-02-22 18:54] srikar0896 commented on #3550
Oh okay.just making sure before posting an issue.

[2018-02-22 19:52] WickedBrat commented on #4371
@tjiang11 Yes this issue exists only with chrome. It works fine in other browsers. Do we need to work on it?

[2018-02-22 19:59] WickedBrat commented on #4421
@seanlip @nithusha21 , I looked into it, the error occurs when the frontend and backend are deployed on different servers. So that's why cors headers are needed on every request from frontend to backend so that backend could process it. It's for security reasons that backend only entertains requests from same domain or localhost. Considering this, this problem should not exist neither on main depl

[2018-02-22 20:12] seanlip commented on #4421
I don't understand what you mean by "frontend and backend are deployed on different servers". Can you elaborate?

(Also, the problem clearly exists, unless @nithusha21/you can't reproduce it any more. So if the explanation you gave doesn't solve it, then perhaps what you're suggesting isn't the cause.)

[2018-02-22 20:12] seanlip commented on #4371
Yes.

[2018-02-22 20:19] seanlip commented on #4386
Ah, no, that doesn't need to happen. The special case can be accommodated using the more general framework outlined in @AllanYangZhou's latest comment.

[2018-02-23 04:05] WickedBrat commented on #4421
@seanlip as you see this error exists only on the test. You can't reproduce it on the localhost or on the main site.
And by "frontend and backend are deployed on different servers" I meant that request to backend is going from different domain i.e. oppiatestserver.appspot.com

[2018-02-23 04:42] apb7 commented on #3905
Hi, @seanlip! For explicitly naming keywords arguments checker in Python, we want something like this:
[code]
Is this correct? Also, can you please see the error message?
Thanks!

[2018-02-23 06:32] seanlip commented on #4421
Oh, I see. No, that's not the issue; oppiatestserver has its own server. I actually just tested this on oppia.org and I get the same error too, so something weird is going on in production in general.

Here is the full error traceback on oppiatestserver on logging out. One thing that's missing from the original issue report is that the exploration you're editing needs to be published.

[code]

For

[2018-02-23 06:47] seanlip commented on #3905
Yes, that's right! If you are able to have the error message be "Line XX: The keyword argument `b` should be explicitly named in the function call.", that would be nice, but if it's too complicated to get the kwarg name, don't worry.

[2018-02-23 11:54] bansalnitish commented on #4590
Hi @prasanna08 I think this issue is fixed. I have already made a PR for the same. I forgot to mention fixes #4590 in the PR. PR for same are [PR#4671](https://github.com/oppia/oppia/pull/4671) and [PR#4629](https://github.com/oppia/oppia/pull/4629).

[2018-02-23 11:59] DubeySandeep commented on #4590
Thanks! @bansalnitish,
Closing this as it is resolved (#4629).

[2018-02-23 11:59] #4590 closed, assigned to nobody

[2018-02-23 12:00] srikar0896 commented on #4721
@ishucr7 are you working on this?if not I would like to pick this up.

[2018-02-23 12:07] ishucr7 commented on #4721
No, I am not working on it. Feel free to submit the PR. Have you signed the CLA yet?,  because I am unable to assign you the issue .(if yes ,then ignore else please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) )

[2018-02-23 15:02] bansalnitish commented on #4333
@jervis446 Are you still working on this?

[2018-02-23 15:23] DubeySandeep commented on #4333
@bansalnitish, #4713 is under review. (I think @jervis446 has forgotten to put `Fixes #bugnum` in `Explanation` section of the PR)

[2018-02-23 16:15] srikar0896 commented on #4721
Yes I have signed the CLA before itself.If you can't assign me let me know if I can do anything,meanwhile i will work on this.

[2018-02-23 19:17] #4634 closed, assigned to nobody

[2018-02-23 20:09] WickedBrat opened #4732 "Broken audio language type English(auto)"
**Steps to Reproduce:**
   - Add an audio translation.
   - Preview and play the exploration.
   - Change the language to "English(auto)"
   - Press play button.

**Expected Output**
   Play the same audio as that of english language.

**Observed Output**
   Play button doesn't work, console has $rootScope:inprog Action Already In Progress error.

**PS:** This issue also exists on the main server.

[2018-02-23 20:53] DubeySandeep commented on #4732
@WickedBrat, It's working fine on my browser (if  a card is having some content/text). I think the issue is with the card without text and for that, we already have an issue filled (#4497).

[2018-02-23 20:57] DubeySandeep commented on #4732
(Also, if you'll find this as a duplicate of #4497, then maybe you can close this issue.)

[2018-02-23 22:15] srikar0896 commented on #4721
@ishucr7 for sake of consistency the text inside the tooltip has to be in a single line right?

[2018-02-23 22:40] WickedBrat commented on #4732
Oh yeah it's duplicate! @DubeySandeep

[2018-02-23 22:40] #4732 closed

[2018-02-23 22:43] seanlip commented on #4721
I don't think that's a requirement.

[2018-02-23 22:47] srikar0896 commented on #4721
@seanlip please review [this](https://github.com/oppia/oppia/pull/4733).I have made a change in such a way that the text has to only in a single line.I can remove that condition too if that's not a requirement.

[2018-02-24 10:05] bansalnitish commented on #4367
@seanlip @nithusha21 is something yet to be done here ?

[2018-02-24 10:16] nithusha21 commented on #4367
Yes @bansalnitish. We should disable the submit button for a blank input box in Math Expression Interaction (As has been done with the other interactions). This is the only task remaining in this issue

[2018-02-24 10:17] bansalnitish commented on #4367
Ok I'll give this one a try then !  Thanks @nithusha21

[2018-02-24 10:20] nithusha21 commented on #4367
I see @paroothisumit assigned to this issue. And he assigned himself 7 hours ago. Maybe check with him if he is working on it. If not feel free to take it up @bansalnitish.

[2018-02-24 10:31] paroothisumit commented on #4367
Yes , I am working on it.

On 24-Feb-2018 3:50 PM, "Nithesh N. Hariharan" <notifications@github.com>
wrote:

[2018-02-24 11:26] srikar0896 commented on #1494
@seanlip can I work on this?

[2018-02-24 12:23] srikar0896 commented on #1494
@seanlip @tjiang11 can I work on this?

[2018-02-24 13:12] bansalnitish commented on #2297
@ishucr7 Are you done with this issue ?
If not, then can I submit the PR for this issue. I was going through this issue and got a way to fix this up. If you are just about to complete or have spent plenty time then its fine, else do let me know I'll submit my PR.
Thanks

[2018-02-24 16:25] tjiang11 commented on #3336
After testing, looks like this is no longer an issue.

[2018-02-24 16:25] #3336 closed

[2018-02-24 16:26] tjiang11 commented on #1494
Hi @srikar0896 , yup! In general, if an issue is unassigned then feel free to assign yourself.

[2018-02-24 16:31] tjiang11 commented on #4386
Hi @LanJosh , would you want to try taking a look at this?

[2018-02-24 17:45] kevintab95 commented on #4661
This seems to be an issue only on Firefox, works fine on Chrome. I'm still trying to debug what might be the cause.

[2018-02-24 20:51] bansalnitish opened #4737 "Tab key not working correctly"
Tab creates random lines, large spaces and increases the size of content box which looks very weird. I also found the same issue when I created the multiple choice interaction. Pressing tabs results in very strange structure. Screenshot for more clarity are attached below:

![Imgur](https://i.imgur.com/EaMBiWD.png)

![Imgur](https://i.imgur.com/EEJ6y8P.png)

There are issues for unnecessary spacin

[2018-02-25 04:02] apb7 commented on #3905
Okay, @seanlip. Thanks! I am writing a custom checker for this purpose. I'll look into the message part as well and see if we can get the kwarg argument.

[2018-02-25 07:45] WickedBrat commented on #4737
@bansalnitish This issue is for the same error as issue [#4350](https://github.com/oppia/oppia/issues/4530).

[2018-02-25 10:16] bansalnitish commented on #4737
Hi @WickedBrat
I don't think this is same as issue #4530. Extra spaces just appear to create space at beginning or in between options like in case of multiple options. But here pressing tab is increasing the size of content and interaction box. Also see the above images this doesn't look good too. What say ?

[2018-02-25 11:34] bansalnitish commented on #4737
May be you are correct @WickedBrat but I don't think this is what we really want to look like. @DubeySandeep can help us here !

[2018-02-25 11:54] DeveloperAlfa commented on #3576
@seanlip Thankyou. I'll start working on some issues right away!

[2018-02-25 11:57] DeveloperAlfa commented on #3522
I'd like to work on such images. Sending a PR soon!

[2018-02-25 15:39] EvsChen commented on #4428
I would like to work on this issue.

[2018-02-25 17:06] bansalnitish commented on #2297
Hi @ishucr7, I have found a fix so I submitted a PR for the same since there were no updates from your side. Sorry for the trouble caused.
It would be great if you would provide any inputs for the same. May be you have a better solution which would make this addition of speech recognition better.
Thanks

[2018-02-25 17:56] ishucr7 commented on #2297
Hi @bansalnitish ,Sorry for the late reply. No problem, you can go ahead. The main concern is that issue should be solved. Thanks for the PR.

[2018-02-25 17:57] bansalnitish commented on #2297
Thank you so much @ishucr7
Cheers !

[2018-02-25 17:57] bansalnitish commented on #2297
Thank you @ishucr7 :tada:

[2018-02-25 18:31] seanlip commented on #4428
Hi @EvsChen, sounds good, thanks! In the future please feel free to assign yourself directly to an issue that you'd like to work on, that's totally fine :)  (You should be able to edit the Assignees field in the top-right directly.)

[2018-02-25 19:10] paroothisumit commented on #4367
In other interactions the digest cycle is triggered when the input (answer) changes (courtesy: `**ng-model**`) ,but in Math expression interaction we are making use of `guppy-div ` .Hence fix which worked for other interactions is not working. We need to trigger the digest cycle manually when input answer changes.

I figured out two ways:

1.  (Elegant one):Upgrade guppy to a later version. It pro

[2018-02-25 19:22] nithusha21 opened #4742 "Expose all interactions in the karma test suite"
### The issue
If you check out the parameterizeRuleDescription filter present in filters.js, it has a lot of branching and specific checks. But this filter is not at all tested in the karma specs. The main issue is that this filter takes in interactionId which tells it which interaction to use.

### Current Implementation
A dictionary with the structure of TextInput is defined in karma_globals.js.

[2018-02-25 19:32] nithusha21 commented on #4367
Thanks for that great investigation @paroothisumit. I would lean towards the first fix you mentioned as that would be a cleaner approach in my opinion. Just a few clarifications on that point, are there any functions that were deprecated between our version and the latest version out there? If so those would need to be handled before making that upgrade. Also once you make the upgrade make sure th

[2018-02-25 20:46] seanlip commented on #4367
I agree with everything @nithusha21 said :)

[2018-02-25 21:27] seanlip commented on #4742
@vojtechjelinek -- some time ago, I thought we discussed having interactions be represented as JSON dicts, similar to what we do for rule_templates.json. Do you remember what the outcome of that conversation was? Also, do you have any recommendations for next steps on this issue?

Thanks!

[2018-02-25 21:41] vojtechjelinek commented on #4742
The reason why we decided to keep interactions as python objects was that these objects were used in multiple places in our codebase (for example in exp_domain.py or stats_services.py) and if we replace the objects with one big JSON we would still need a way to represent the interactions in these places.

The simple solution to this would be to generate the JSON with Python script that we can run

[2018-02-25 21:44] seanlip commented on #4742
Ah yes, I remember now. A solution that involves generation could be fragile as we would need to ensure that the JSON file is regenerated not just on every build, but on every commit/PR. But perhaps what we could do is create a JSON file and have a backend test that checks its correspondence with the interaction python objects? That way, if they go out of sync, it's easy to detect that and fix it

[2018-02-25 21:45] seanlip commented on #4742
As a bonus I guess we could use the resulting static dict in the frontend too? Might improve latency.

[2018-02-25 21:46] grach-l opened #4743 "Describe your feature request or bug report succinctly"
_Thanks for taking the time to report a bug in the Oppia project, or propose a new feature! Before filing a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/oppia/oppia/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reproduce the

[2018-02-25 21:48] #4743 closed, assigned to nobody

[2018-02-25 23:30] vojtechjelinek commented on #4742
Yes, that makes sense.

[2018-02-26 00:08] paroothisumit commented on #4367
I don't see any deprecated functions in the release notes. Though I can only be sure after testing ,once I upgrade. I will make sure I don't break anything :)

[2018-02-26 01:43] EvsChen commented on #4428
@seanlip OK! Thanks for your reminder.

[2018-02-26 06:07] brianrodri commented on #3954
Hi @abhishekarya286, any update?

[2018-02-26 14:06] pandeykartikey commented on #4072
@prasanna08 I have completed it. Just there is some issue with test. Can you help?

[2018-02-26 14:10] prasanna08 commented on #4072
What is the issue? Let me see if I can be of any help.

[2018-02-26 14:21] pandeykartikey commented on #4072
@prasanna08 I cannot understand why travis is failing because of `449:1 error Trailing spaces not allowed no-trailing-spaces` in `/home/travis/build/oppia/oppia/core/templates/dev/head/filters.js` When no edits are made to this line in the PR. I also tried running lint check on local and it passed without any error

[2018-02-26 14:25] prasanna08 commented on #4072
This may be happening due to recent lint checking edits made by @apb7. Maybe he can help you out.

[2018-02-26 14:34] apb7 commented on #4072
@prasanna08: This might be a travis environment problem since the test is a standard eslint rule and this problem had not been encountered earlier. That said, I'm looking into the probable cause. (I did reply in the corresponding PR though.)
Thanks!

[2018-02-26 17:26] bansalnitish commented on #4737
Yes @WickedBrat I too found these issues thats why I opened up this issue.
Also while adding multiple options if you press tab in second option it works as tab is pressed in first option.
In short tab key problem is there which needs to be corrected. Thanks for your insight though !

[2018-02-26 17:28] DubeySandeep commented on #4737
@bansalnitish @WickedBrat, (Sorry! for late response)
I think maybe we can take a look at #475.

keyboard-only users get trapped within it.

[2018-02-26 17:30] DubeySandeep commented on #4737
#475 was moved to #775 and I found this on #775

And the issue was again moved to #911 and the fix is at #1694

[2018-02-26 17:33] DubeySandeep commented on #4737
@bansalnitish, If it works as expected then maybe you can close this (and if not then you can work on it) :)
Thanks!

[2018-02-26 17:34] bansalnitish commented on #4737
@DubeySandeep is current tab key function right according to you ?
Tab key is used for indentation but I think this creates indentation along with weird lines, and enlargement of the content box, is this expected ? I don't think so.

[2018-02-26 17:53] DubeySandeep commented on #4737
@bansalnitish, I think tab was meant for "list"(#1694) and it's working there as expected but the behavior of tab key without a list is working unexpected or maybe it's working as indent and unindent. You have to investigate this.
Thanks!

[2018-02-26 18:10] bansalnitish commented on #4737
Thanks @DubeySandeep for your response. I'll look into this and then get back to you if needed.

[2018-02-26 19:30] #1494 closed

[2018-02-26 19:37] #4428 closed, assigned to EvsChen

[2018-02-26 20:07] WickedBrat commented on #4442
@DubeySandeep I can't reproduce this error as well, both on firefox and chrome.

[2018-02-26 20:26] DubeySandeep commented on #4442
@WickedBrat, This use to happen for some images (depending on the image size). I'm too unable to reproduce it for now, So I'm closing this.
Thanks for checking! :)

[2018-02-26 20:26] #4442 closed, assigned to nobody

[2018-02-26 21:12] WickedBrat opened #4746 "Unattended links on the project"
Move your mouse pointer to the very left side of your screen. You'll notice that there are several links namely
   -https://oppia.org/library
   -https://oppia.org/about
   -https://oppia.org/get_started
   -https://oppia.org/teach
   -https://oppia.org/donate
   -https://medium.com/oppia-org
   -https://oppia.org/contact

Are these links there on purpose or this is unexpected?
This issue exists o

[2018-02-26 21:20] seanlip commented on #4746
I'm not seeing this. Could you please post a screenshot? Does it appear at all screen sizes / browsers?

In case it's relevant, note that the links match the ones in the sidebar (click the hamburger menu in the top left on small screens).

[2018-02-26 21:28] WickedBrat commented on #4746
Take a look @seanlip on the left most side, my curser and the link below. And yes they appear at all screen sizes.
![screenshot from 2018-02-27 02-43-05](https://user-images.githubusercontent.com/20617436/36696286-ce7e4310-1b69-11e8-9dfa-836b10be7c07.png)

[2018-02-26 21:45] WickedBrat commented on #4746
Please confirm this on your PC as well.

[2018-02-26 21:53] DubeySandeep commented on #4746
Can reproduce at 125% and 175% zoom level (in full-screen mode).

[2018-02-26 22:46] seanlip commented on #4746
Hm, I still can't repro, sorry. But if you can, then could you right-click and Inspect Element? That might give a clue to why it's showing up when it shouldn't be.

[2018-02-27 02:17] LanJosh commented on #4386
Sounds good! I've got exams the next couple days but I can look at it this weekend

[2018-02-27 04:30] Sunil16202 commented on #4374
what should be the head branch, when I have to push  "core.domain.stats_jobs_continuous".

[2018-02-27 04:40] vibhor98 commented on #4374
Head branch should be Oppia's develop branch. You can push from your branch
to this branch. Thanks!

On Tue, Feb 27, 2018 at 10:00 AM, Sunil Gupta <notifications@github.com>
wrote:

[2018-02-27 04:41] seanlip commented on #4530
Just to confirm -- it seems that only one of the two checkboxes in this issue is checked. Is this issue fully complete?

[2018-02-27 04:45] Sunil16202 commented on #4374
I did it and it shows me " These branches can be automatically merged"

[2018-02-27 04:57] vibhor98 commented on #4374
It means you have previously commited to the Oppia's develop branch with
your same branch. Then, your commit merges with your previous commits. Try
to push with new branch of yours and this problem can be removed.

On Tue, Feb 27, 2018 at 10:15 AM, Sunil Gupta <notifications@github.com>
wrote:

[2018-02-27 05:45] christineycc commented on #4422
Just chiming in. Currently the search bar is in the nav bar, so perhaps the simple solution would be putting the search bar under text "begin your adventure by browsing our exploration"

[2018-02-27 06:24] WickedBrat commented on #4746
@DubeySandeep I've noticed that 125% is the default zoom level people usually keep.
@seanlip It's just a css error, we need to change the display type when sidebar is not active.

[2018-02-27 07:20] seanlip commented on #4746
OK, sounds good, thanks! Do you want to take it up?

[2018-02-27 09:49] seanlip commented on #4562
Fixed in #4745, thanks @WickedBrat!

[2018-02-27 09:49] #4562 closed, assigned to nobody

[2018-02-27 09:52] WickedBrat commented on #4746
Yeah sure! Why not

[2018-02-27 19:24] WickedBrat commented on #4410
Ping @seanlip

[2018-02-27 19:28] seanlip commented on #4410
I don't understand your last comment (the one with the rating stars). I don't see a suggestion box.

I also don't understand which tooltip you're referring to. Perhaps you could show a screenshot?

In general I would expect the bug with the summaries being null to be fixed, or for that to be handled cleanly in some way (the modal should still open but maybe something on it says "private").

[2018-02-27 19:50] tjiang11 commented on #2766
Is there a link to the PR for this? @brianrodri

[2018-02-27 19:55] tjiang11 commented on #1977
What are the next steps for this? @apb7

[2018-02-27 20:09] apb7 commented on #1977
Hello, @tjiang11! There is a PR for this issue, PR #4643 but it needs to go in after we separate out `oppia.css` into different CSS files. I did create a PR for that as well, PR #4654 and I'll pick it up once I finish the custom pylint check.
Thanks!

[2018-02-27 20:23] apb7 commented on #3905
Hello, @seanlip! I have written down the checker and ran it against the file base. It did not detect any problems. To run it along pylint, it needs to be placed in `opppia_tools/pylint-1.7.1/pylint/checkers`. This can be done locally but how do we add this to the repository?
Thanks!

[2018-02-27 20:44] seanlip commented on #3905
Cool, thanks! One note -- make sure to introduce a problem, run the checker again, and ensure that that problem is detected, just to test that everything works properly.

I think maybe we can have scripts/pylint-checkers and add a symlink in the setup script after installing pylint (or just copy the files to that dir)? Might want to do this intelligently so that checkers don't get copied every sin

[2018-02-27 20:46] supra08 commented on #3950
Hi @seanlip, I have signed the CLA and filled in the survey, can I have an issue assigned to me?

[2018-02-27 21:02] DubeySandeep commented on #3950
@supra08, thanks for signing the CLA, I have assigned you to `exploration_player/exploration_player.html` part of this issue. :)

[2018-02-27 21:29] Theonimfi opened #4751 "Request for contribution"
I found interesting your page and I'd like to contribute to this. Is there anything that needs improvement?

[2018-02-27 21:29] bansalnitish commented on #4364
Hey @ishucr7
Are you working on the second part of this issue ?
If not I would like to take this up.
Thanks

[2018-02-27 21:41] palakg11 commented on #3826
@seanlip , can i be assigned any issue? I have filled the CLA form.

[2018-02-27 21:55] palakg11 commented on #3950
Hi! can i be assigned any issue? I have filled the CLA form.

[2018-02-28 00:35] DubeySandeep commented on #3950
Hi @palakg11, thanks for signing CLA, I've assigned you to `collection_player/collection_player.html` part of this issue. :)

[2018-02-28 00:37] DubeySandeep commented on #3950
Hi @Kunalgarg2100, any updates on ` header_css_libs.html`, `header_js_libs.html`?

[2018-02-28 00:52] DubeySandeep commented on #4751
Hi @Theonimfi, we are glad that you find oppia interesting :).  Also, thanks for your interest in contributing to the Oppia project. There are lots of ways to help out, please check the [wiki](https://github.com/oppia/oppia/wiki) page to get started.

(Closing this issue!)

[2018-02-28 00:52] #4751 closed, assigned to nobody

[2018-02-28 04:22] apb7 commented on #3905
@seanlip: I did try it out on the following lines of code:
[code]
The following is the error log now:
[code]
How does this look? Also, I had a few questions:
1. Do we need docstrings for the methods in this checker?
2. I have considered two assumptions in accordance to the file base:
    a. No two functions have the same name.
    b. Any function has only two types of arguments: positional and key

[2018-02-28 04:44] apb7 commented on #3905
Also, I have placed the checker in scripts and loaded it using `.pylintrc`. So the previous issue has been resolved.
Thanks!

[2018-02-28 05:16] seanlip commented on #3905
Are you able to include the arg name in the error message? When there are multiple args it becomes a bit hard to tell. Also the column numbers seem wrong? Otherwise, looks good.

Yes, we should have docstrings.

Some functions in the codebase do use *args and **kwargs, I believe.

Functions in different classes might have the same name.

[2018-02-28 05:28] EvsChen commented on #890
@jblair87 It's been a long time. Can you provide some examples of the "vague" warnings?
@seanlip The issue could possibly be divided into two parts. one about creating a clearer and easy-to-fix warning message, another one about making the warnings redirect to the part which brings up the warning.

[2018-02-28 06:13] seanlip commented on #890
@EvsChen Yeah, I would agree. Let's see what @jblair87 says!

[2018-02-28 07:49] apb7 commented on #3905
@seanlip: I think it won't be possible to include the arg name. Also, the line number and the column is automatically printed by pylint against the function call line.
The docstrings have been added.
Regarding *args and **kwargs, suppose the function is:
[code]
These lines do not produce an error. Also, functions in different classes will not affect the checker.
Shall I make a PR so that it can be

[2018-02-28 07:53] DubeySandeep commented on #2059
Hi @shubha1593, are you working on this? (if not then maybe be I can assign it to myself :) ) Thanks!

[2018-02-28 08:29] seanlip commented on #3905
Yep, it's fine to make a PR. Shame about the arg name; that would have been helpful.

I'm not sure how you're writing the script but is it not possible to get pylint to print a column number that's not 0? In any case I can't really comment further without seeing your code.

[2018-02-28 08:37] apb7 commented on #3905
Okay! I'm creating a PR. Then I'll look at the column nunber as well as arg name once again :)

[2018-02-28 10:20] srikar0896 commented on #4056
@DubeySandeep what do you think the expected behaviour should be?

[2018-02-28 11:36] WickedBrat commented on #4410
Ohkay got it! Working on it :+1:

[2018-02-28 14:23] DubeySandeep commented on #4056
@srikar0896, It's written in the Issue comment:

[2018-02-28 17:18] shubha1593 commented on #2059
Hey @DubeySandeep, yup sure you can take this up, I'm not working on it!

[2018-02-28 17:29] srikar0896 commented on #4056
@DubeySandeep yes,There have to be some way,but what I am asking is what do you think the expected behaviour should be,I suggested an idea which is to show the icon once user touches the tile and hide it after 1 - 1.5 secs([here](https://github.com/oppia/oppia/pull/4709)).So i was asking if you have any such ideas!:)

[2018-02-28 20:34] WickedBrat commented on #4410
![screenshot from 2018-03-01 02-03-38](https://user-images.githubusercontent.com/20617436/36811744-df0133dc-1cf4-11e8-960d-8ca1c2bc3d94.png)
Hi @seanlip I was suggesting something like this. Would it be feasable to do so?

[2018-02-28 20:35] seanlip commented on #4410
Not sure I like that. It's a bit icky to have an info button that does nothing.

Can't you display the modal, but have it show the proper info?

[2018-02-28 20:49] WickedBrat commented on #4410
Yeah I can do that, I just need to know that from where is "expInfo" recieving data? and where does /explorationsummarieshandler/data fill in the response

[2018-02-28 20:51] seanlip commented on #4410
You'll need to investigate/trace the code to figure that out, I think. Start from the directive that shows the contents of the info modal.

[2018-02-28 22:11] WickedBrat commented on #4410
@seanlip I've managed to get info for private explorations and the modal is fixed. The modal thus diplayed is this:
![screenshot from 2018-03-01 03-39-59](https://user-images.githubusercontent.com/20617436/36815936-59a6fbfa-1d02-11e8-87ab-3cb08a138db3.png)

[2018-03-01 05:48] yashLadha commented on #4649
I would like to take up this issue. @WickedBrat

[2018-03-01 05:53] tjiang11 opened #4756 "Site-wide translations are breaking in exploration/collection views due to duplicate cookie keys."
Reproduction steps (Note it doesn't seem to always be consistent):
1. Login as admin
2. Load welcome_to_collections.yaml from the admin page
3. Go back to the library and logout / use Oppia as a guest
4. Change the language to Dutch
5. Go to /collection/0
6. Notice the language is still in English. Inspect the console and type `document.cookie` and notice duplicate keys for NG_TRANSLATE_LANG_KEY.

[2018-03-01 05:53] tjiang11 commented on #3550
Closing this and filing a new issue to cover the remaining problem in #4756

[2018-03-01 05:53] #3550 closed, assigned to tjiang11

[2018-03-01 06:01] DubeySandeep commented on #4450
@tjiang11, maybe we can close this too? (I think, it is also a part language translation issue(#4756))

[2018-03-01 06:24] yashLadha commented on #4649
@WickedBrat When i debug, i found that if you click on the library after waiting for few seconds them the user is inserted and it will show the user, may be adding of the user is an async task, that's why it is not showing after quickly clicking on the library.

[2018-03-01 07:01] yashLadha commented on #4649
The idea for refreshing the page once, might be infinite because if the `user_id is None` and we refresh the page based on this param them the user that is not logged in the library will keep going in infinite calls to refresh. May be we need to dig more deeper in this issue because may be it is also with some other services also. @WickerBrat

[2018-03-01 07:01] seanlip commented on #4649
Just a note: as part of the fix, it might be a good idea to write a short e2e test that follows the scenario mentioned in @WickedBrat's original comment, in order to "lock" the correct behaviour in place and ensure that it doesn't happen again.

[2018-03-01 08:18] EvsChen commented on #1855
Hey @seanlip, I plan to work on this issue. Could you please provide some instructions of writing a design doc? I didn't find any instruction or samples of that.

[2018-03-01 08:27] seanlip commented on #1855
Hi @EvsChen! In general design docs are just a google doc that describes your approach to solving the problem. The reason for writing them beforehand is that it's easier to comment in such a doc and make changes to the technical approach before diving into coding.

Here's an example of [one](https://docs.google.com/document/d/1vuwXvHOYXqfM2S2B2KIWhZrAa1PL59wJRUYsqJEd67E/edit) that @prasanna08 wrot

[2018-03-01 08:44] EvsChen commented on #1855
Sure. That helps a lot. I'll assign this to myself and get started. Thanks @seanlip :)

[2018-03-01 08:45] seanlip commented on #1855
You're welcome! I think this is an interesting project; have fun :)

[2018-03-01 09:52] yashLadha commented on #4649
This issue is not able to be produced on firefox qunatum. @WickedBrat . Is it a browser specific issue?

[2018-03-01 18:40] tjiang11 commented on #4450
Thanks for pointing this out @DubeySandeep , yes I think it's okay to close this.

[2018-03-01 18:40] #4450 closed, assigned to nobody

[2018-03-01 18:42] #4292 closed, assigned to bansalnitish

[2018-03-01 18:43] #2915 closed

[2018-03-01 20:48] #4721 closed, assigned to nobody

[2018-03-01 23:50] WickedBrat opened #4760 "Unnecessary redirect to dashboard."
**Steps to Reproduce:**
  - Make sure you're logged out.
  - Click on create button. You'll be redirected to login.
  - After logging in the first page you see is the creator's dashboard. and then you're automatically redirected to create exploration page.

**Expected Behaviour:**
  There shouldn't be any delay and the first page we must see is the create exploration

**Actual Behaviour:**
  You'r

[2018-03-02 00:00] seanlip commented on #4760
I remember working on this. I think it's fine as-is. It is a decrease in performance, but it's fairly rare and one-off, and code-wise it's simpler to just start all flows from the creator dashboard. So I am going to suggest that this is a will-not-fix. (@WickedBrat, agree?)

[2018-03-02 00:01] #4692 closed, assigned to nobody

[2018-03-02 00:33] WickedBrat commented on #4760
@seanlip But this reduces website's performance, shouldn't that be an issue?

[2018-03-02 00:47] WickedBrat commented on #4323
@nithusha21 @seanlip
Please tell me why current message is inappropriate? Maybe you're confused with the alert because the user who created the exploration is putting it in his playlist. Also, when another user is adding it to the playlist, it shows a "Successfully added to your playlist" message.

Also I'm not sure why

Upon adding the exploration  in the playlist, it should provide an option to

[2018-03-02 04:50] aks681 opened #4761 "Improving speed for /libraryindexhandler"
Currently, a /libraryindexhandler call does 3 different calls:

1. get_library_groups() : This does 2 calls to the database using search in google.appengine.api for explorations and collections and retrieves 8 from each collection.

2. get_top_rated_exploration_summary_dicts(): This retrieves the top 8 highest rated explorations by querying ExpSummaryModel using the field scaled_average_rating.

3

[2018-03-02 05:08] nithusha21 commented on #4323
So the reason I filed this issue was that if a creator tries to add the exploration to his own playlist, It does not make sense to show "Added to playlist" along with a toast showing the exploration is present in your creator dashboard or similar. These are 2 contradicting responses he gets from the site. As the creator itself, if you click on the button again, it will say removed from playlist (T

[2018-03-02 06:28] WickedBrat commented on #4323
Oh got your point @nithusha21. So I suppose that the option for add to playlist shouldn't be available for the creator. That's the probable fix for it, right?
I'd like to send a PR for it.

[2018-03-02 06:30] nithusha21 commented on #4323
That seems like a reasonable fix @WickedBrat. You can go ahead and fix this issue. Thanks :)

[2018-03-02 07:03] #4746 closed

[2018-03-02 07:13] seanlip commented on #4760
Yes, but there's more context to consider.

Firstly, there are various performance optimizations we can make, both large and small. I think we should focus attention on the most important ones, such as the library and learner view on slow connections.

Secondly, increasing performance often comes at a cost of additional code complexity, and that's really a tradeoff we need to think through. Concep

[2018-03-02 08:59] ishucr7 commented on #4364
Hi @bansalnitish . Yes , I am working on the `star in the bottom right-hand corner`.
Thanks!

[2018-03-02 09:01] bansalnitish commented on #4364
I would like to work on sprinkles i.e the first part of issue. I have seen your PR for second part.
Okay so I will start working for the first part.
Thanks

[2018-03-02 09:33] #4712 closed

[2018-03-02 10:29] seanlip commented on #3954
Deassigning @abhishekarya286 per chat. (@shubha1593, please note that this means the editor page subproject is now available.)

[2018-03-02 19:30] WickedBrat commented on #4760
Agreed with you on both the points. Thanks @seanlip.

Closing the issue now.

[2018-03-02 19:30] #4760 closed

[2018-03-03 10:59] WickedBrat commented on #3982
How does this look to you Sean Lip?
![screenshot from 2018-03-03 16-24-04](https://user-images.githubusercontent.com/20617436/36933512-f62e8778-1eff-11e8-84a8-1cb8a3694e49.png)

[2018-03-03 11:01] seanlip commented on #3982
I don't know, but /cc @jacobdavis11 and @christineycc.

[2018-03-03 11:12] WickedBrat commented on #4649
@yashLadha I see that it works fine on quantum, I confirm that it's a browser specific. PS: Didn't check for safari

[2018-03-03 15:17] #4072 closed, assigned to pandeykartikey

[2018-03-03 16:33] #4410 closed, assigned to nobody

[2018-03-04 16:31] WickedBrat commented on #4252
How does this look @Arunabh98?
![screenshot from 2018-03-04 22-00-22](https://user-images.githubusercontent.com/20617436/36947849-92f0c0d8-1ff7-11e8-9de8-459a63727299.png)

[2018-03-04 21:21] #3478 closed, assigned to DubeySandeep

[2018-03-04 22:37] BenHenning opened #4768 "404 for asset on test server when trying to access the library page"
When accessing the library page on the test server, stackdriver error logs are showing a 404 for ``/fonts/fontawesome-webfont.ttf?v=4.2.0``. This is not showing up in local Chrome console logs.

[2018-03-04 22:43] seanlip commented on #4768
Might be related to #4292 (or #4750). @vojtechjelinek @tjiang11 @bansalnitish could you PTAL at this?

[2018-03-04 22:43] BenHenning commented on #4768
This might be an intermittent issue; logs don't seem to be appearing anymore after the initial traffic migration and attempting to reload the library page.

[2018-03-04 23:03] seanlip commented on #4768
Ah. @BenHenning is there anything that needs to be done here, then?

[2018-03-04 23:05] bansalnitish commented on #4768
@BenHenning I think you should try once `v=4.7.0` as this the latest version that Oppia is using currently. If still it throws 404 or you have any other query you are welcome to ask.
Thanks :smile:

[2018-03-05 01:00] DubeySandeep commented on #4768
I'm too getting a similar error log on local, test and prod site. (prod site is before #4750).

(Also, 404 error for `/fonts/fontawesome-webfont.woff` but `/fonts/fontawesome-webfont.woff2` is working fine)

[2018-03-05 01:48] seanlip commented on #4768
If this is a FontAwesome issue, it might be worth filing an issue on https://github.com/FortAwesome/Font-Awesome with a minimal testcase (e.g. on plunkr).

@bansalnitish can you repro?

[2018-03-05 05:31] christineycc commented on #3982
I think that's a good quick fix.

[2018-03-05 06:26] nithusha21 opened #4773 "Add responsive behavior for fractions landing page"
The newly added fractions landing page looks decent on desktop view but breaks on changing it to mobile view. This needs to be prioritized for this release

[2018-03-05 13:18] jacobdavis11 opened #4774 "The audio dropdown offers options that are not actually available"
Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v and click on "Audio" at the top. The default language selected is English, but if you click on the play button you get told "Not available in English".

Instead, the language dropdown should only list the languages which are actually available for this text (which in this case would be Hinglish).

[2018-03-05 13:22] nithusha21 commented on #4774
Adding this to blocking bugs as it would be nice to fix this in the current release.

[2018-03-05 13:31] jacobdavis11 opened #4775 "Navigating through previous answers in the learner view is a bit fiddly"
If you want to look back at an answer from several questions ago, then you have to click the left arrow a lot of times, and it keeps jumping up and down as the length of text on each card changes. Then to get back to the current question you have to click on the forward arrow the same number of times, with no way to fast-forward to the current question.

I'm not sure if users are looking back at t

[2018-03-05 13:39] jacobdavis11 commented on #3982
Looks good to me.

[2018-03-05 16:50] DubeySandeep commented on #4774
@jacobdavis11, all of the audio present in that exploration are uploaded as "English" language (except the audio for the content of 1st card is in Hinglish).
Also, if we are going to list only the audio available in the active state then still we can have issues like, assume the content audio is in "Hinglish" and the hint and feedback audios are in "English" so with the current autoplay situation

[2018-03-05 19:09] BenHenning commented on #4768
So is this a caching issue then? E.g. if your browser already has 4.2.0 cached it will get a few 404s before using 4.7.0? That doesn't seem right to me since Oppia's frontend files shouldn't be referring to 4.2.0 at all anymore, and given they have updated cache slugs they should be force loaded the first time an old browser revisits Oppia.

[2018-03-05 19:50] jacobdavis11 opened #4776 "Audio preview in the creator view editor tab no longer works"
Go here: https://oppiatestserver.appspot.com/create/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v#/gui/Introduction and click to start the audio playback. Nothing happens.

In contrast on the production site, here: https://www.oppia.org/create/umPkwp0L1M0-?collection_id=4UgTQUc1tala#/gui/Introduction it does work.

Audio playback should work in both cases.

[2018-03-05 20:30] DubeySandeep commented on #4776
I think this is maybe because of CORS (as the console error says and maybe because the test server is requesting data from the different server).
Also, the audio in the exploration player is fetched via $http whereas audio in the editor page is fetched directly via the URL received from `$sce.trustAsResourceUrl` (see [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/compon

[2018-03-05 20:39] jacobdavis11 opened #4778 "Exploration ownership cannot be transferred to the community"
Create a simple exploration and publish it. Then go to the settings tab and click "Transfer ownership to the community", then click the green button in the modal. An orange warning appears saying "No change was made to this exploration". Instead, ownership should transferred to the community.

[2018-03-05 20:51] tjiang11 commented on #4774
I think the fix for this might simply be to change the text to "This card is not available in [language]"

[2018-03-05 20:52] tjiang11 commented on #4774
Actually, I retract that, because there can still be responses in English, so that would not be accurate. I think the way it is now is fine.

[2018-03-05 21:01] jacobdavis11 opened #4779 "In Firefox, editing content after adding an EndExploration causes the browser to hang"
Reproduction instructions (please follow exactly):
 - Use Firefox
 - Create an exploration
 - Enter some simple text in the content box
 - Add a continue exploration
 - Add a rule leading to a new card (don't enter anything in its content box)
 - In the new card, add an EndExploration interaction
 - Edit this card's content box, and click Save Content there
 - Edit its content box again, and try t

[2018-03-05 21:06] jacobdavis11 commented on #4774
So will a language only be shown in the drop-down if at least some content is available in it for this exploration?

If so that seems reasonable, as it's the responsibility of the exploration creator to ensure that the content and languages they offer make sense.

[2018-03-05 21:22] DubeySandeep commented on #4774
@jacobdavis11,

Yep!

Closing this!

[2018-03-05 21:22] #4774 closed, assigned to DubeySandeep

[2018-03-05 21:45] DubeySandeep commented on #4778
I think it should be `'make_community_owned'` here instead of `'is_community_owned'`
https://github.com/oppia/oppia/blob/54f978a32248fd16de44689e19d9f83fadc06841/core/controllers/editor.py#L348
/cc @seanlip
(introduced [here](https://github.com/oppia/oppia/pull/3641/files#diff-f539af1da991345c436a49a41821b7e3L414))

[2018-03-05 23:56] DubeySandeep commented on #4779
Can reproduce this and found this in the console log after killing(stop) the process:
![image](https://user-images.githubusercontent.com/16653571/37006508-ba5ea1be-20fe-11e8-994f-8b23315032a5.png)
I think it's introduced after #4748.
/cc @WickedBrat (PTAL!)

Also, I reproduced following these steps:
- Create an exploration.
- Save content without entering any text.
- Add "End exploration" interact

[2018-03-05 23:58] seanlip commented on #4779
/cc @awtran

[2018-03-06 00:00] seanlip commented on #4779
/cc @awtran (just testing)

[2018-03-06 00:05] seanlip commented on #4779
Seems like a blocking bug. I've added it to the milestone (@nithusha21 @DubeySandeep @jacobdavis11 please feel free to do the same for bugs which really ought to be fixed for this release).

[2018-03-06 00:25] seanlip commented on #4776
Marking as a blocking bug. Seems like a regression.

Could someone paste the exact text of the console error?

[2018-03-06 00:28] DubeySandeep commented on #4776
@seanlip:
![image](https://user-images.githubusercontent.com/16653571/37007431-4aba6384-2103-11e8-9cd8-c89209710236.png)
angular.min.js:118 Error: [$interpolate:interr] http://errors.angularjs.org/1.5.8/$interpolate/interr?p0=%3C%5Bsrc%5D%3E&p1=Error%3A%20%5B%24sce%3Ainsecurl%5D%20http%3A%2F%2Ferrors.angularjs.org%2F1.5.8%2F%24sce%2Finsecurl%3Fp0%3Dhttps%253A%252F%252Fstorage.googleapis.com%252Fop

[2018-03-06 02:20] jblair87 commented on #890
@EvsChen @seanlip Apologize for the delayed response. This issue has actually been corrected in a past release with the tooltip.
![oppia-screenshot](https://user-images.githubusercontent.com/13993320/37010760-fff07d18-20ba-11e8-9dab-d3e25efcb408.png)

[2018-03-06 04:53] seanlip commented on #4776
If you click on the link in that comment, it takes you to an Angular errors page which says `Can't interpolate: <[src]>`.

Seems ... weird? @tjiang11, any thoughts?

[2018-03-06 04:55] seanlip commented on #4775
I did occasionally see some of this behaviour in the RCT, yeah. But it wasn't that common. It's not so common, I think, for a learner to look at a previous _answer_, as it is for them to look at the content of a previous card, or listen to the audio again.

That being said, I'm not entirely sure what, if anything, should be done here. @christineycc, do you have any thoughts?

[2018-03-06 05:26] WickedBrat opened #4781 "Code Editor going out of screen"
This is in continuation of issue #4549 . The issue is not fully fixed for all screen sizes. Here are some examples
Zoom Level 150%:
![screenshot from 2018-03-06 10-53-38](https://user-images.githubusercontent.com/20617436/37015397-e4918022-212c-11e8-8d8e-a8aa9c6165a7.png)
Zoom Level 175%:
![screenshot from 2018-03-06 10-55-37](https://user-images.githubusercontent.com/20617436/37015408-f0a691a4-21

[2018-03-06 06:42] seanlip commented on #4781
Hm. @bansalnitish FYI (since you fixed #4549)

[2018-03-06 06:54] EvsChen commented on #890
OK. Let's see if @seanlip thinks if the issue could be closed. @jblair87 thanks for you response !

[2018-03-06 07:00] seanlip commented on #890
Yep, let's close it! Thanks @jblair87 and @EvsChen.

[2018-03-06 07:00] #890 closed

[2018-03-06 08:39] seanlip commented on #4530
Reopening this. #4530 is being reverted in #4782.

[2018-03-06 11:20] #4537 closed, assigned to nobody

[2018-03-06 11:44] bansalnitish commented on #4781
@seanlip I am working on this!

[2018-03-06 14:04] apurva91 commented on #4374
Hi I have read the CLA, can you assign me to core.domain.acl_decorators

[2018-03-06 14:17] apurva91 commented on #4374
Hi I've signed the CLA, can you assign me to core.domain.user_jobs_continuous?

[2018-03-06 16:40] bansalnitish commented on #4768
Yes @seanlip I too get a similar error !

[2018-03-06 17:01] #4778 closed, assigned to nobody

[2018-03-06 17:10] DubeySandeep commented on #4779
I think this is now resolved via #4782, I've tested this on FF (after #4782 merged) and it's working fine for me. Maybe @jacobdavis11 can test this and close this issue (if it doesn't persist anymore).

[2018-03-06 17:27] akumar1503 commented on #3170
@seanlip @prasanna08 can i work on this now.

How i plan to do:
 - To make the training data editable i have proposed [this](https://wireframepro.mockflow.com/view/D22bd4009d56416ead0f95f3d2e7edb57#/page/D90574ae56d3b5460d589de900bf6bfc1) template, see the second comment from below. Here we can remove the training data and re-do, clicking on remove will add in data to be removed and clicking on sa

[2018-03-06 18:20] Sunil16202 commented on #4374
I submitted the core.domain.feedback_jobs_continuous file but, it is not checked. How can I check this file?

[2018-03-06 18:32] vibhor98 commented on #4374
What do you mean by 'it is not checked' ? Are you talking about Travis
tests?

On Tue, Mar 6, 2018 at 11:50 PM, Sunil Gupta <notifications@github.com>
wrote:

[2018-03-06 18:33] Sunil16202 commented on #4374
I completed  core.domain.stats_jobs_continuous @Sunil16202, but this is not checked. So, how can I know this work is done by me.

[2018-03-06 18:36] vibhor98 commented on #4374
If it is merged, then you can check it. :)

On Wed, Mar 7, 2018 at 12:04 AM, Sunil Gupta <notifications@github.com>
wrote:

[2018-03-06 18:41] Sunil16202 commented on #4374
When it will be merged because I want to know that work is completely correct or I should change something on it.

[2018-03-06 19:14] jacobdavis11 commented on #4779
This does not seem to be fixed on the test server.

[2018-03-06 19:44] nithusha21 commented on #4779
@BenHenning We would have to add #4782 to the release in order for this to reflect on the test server. Could you please do the same. Also @jacobdavis11 after #4782 was merged is this reproducible on develop?

[2018-03-06 20:13] DubeySandeep commented on #4600
@tjiang11, have you tested this?

[2018-03-06 20:21] swoopyy commented on #3971
Hi @seanlip. We need some activity indicator here since feedback updates are loaded from the backend and that's causes this delay. Is it fine to use loading dots here?

[2018-03-06 20:30] swoopyy commented on #3668
not reproducible for me currently

[2018-03-06 20:30] seanlip commented on #3971
Yep! I think that's fine, and a good idea.

[2018-03-06 20:40] BenHenning commented on #3170
Consider also that the training interface can be used to train new entries as well as change old ones. There have always been two intended uses for the training interface:
- Testing & training ad hoc answers the creator wants to pair to certain responses without using hard rules
- Resolving answers to which Oppia provided the wrong reply, or confirming that Oppia did reply correctly

If the same i

[2018-03-06 20:55] seanlip commented on #3668
@AllanYangZhou, can you repro?

[2018-03-06 20:56] seanlip commented on #4768
OK -- since this is related to #4750, could you please take a look at why this is happening? We should fix it before the upcoming release.

[2018-03-06 21:01] #3982 closed, assigned to nobody

[2018-03-06 21:08] bansalnitish commented on #4768
Sure @seanlip!

[2018-03-06 23:35] jacobdavis11 commented on #4779
Unfortunately my Oppia install is broken so I can't say, and I would want to check on the test server anyway to make sure the broken exploration I linked is now working.

[2018-03-06 23:39] jacobdavis11 opened #4784 "Installing Oppia fails with "ImportError: cannot import name RAND_egd""
I am using a Mac, and cloned Oppia into a new directory and ran scripts/start.sh. I got the error below. I've had the same thing happen on a different Mac, so I don't think it's specific to my machine.

Starting GAE development server
[20:55:41] Using gulpfile ~/o2/oppia/gulpfile.js
[20:55:41] Starting 'collectDependencyFilepaths'...
[20:55:41] Finished 'collectDependencyFilepaths' after 672 μs
[2

[2018-03-06 23:42] seanlip commented on #4784
Is this useful? https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#fix-google-app-engine

[2018-03-06 23:47] jacobdavis11 commented on #4784
That works, thanks!

[2018-03-06 23:47] #4784 closed, assigned to nobody

[2018-03-07 07:11] jacobdavis11 commented on #4779
This is now all fixed. Thanks!

[2018-03-07 07:11] #4779 closed, assigned to nobody

[2018-03-07 08:15] #4693 closed, assigned to yashLadha

[2018-03-07 08:17] AmanYdv20 commented on #1895
Currently, I'm not working on it due to my exam.

[2018-03-07 13:18] akumar1503 commented on #3170
@BenHenning i have proposed to update the training interface [here](https://groups.google.com/forum/#!topic/oppia-gsoc-discuss/P85tdGuGQv0), you may have looked already. I have considered both the above points in this, can you please review them.
I have tried to make it work for general interaction types.

In the modal for training interface i propose to handle adding training data, un-resolved an

[2018-03-07 13:38] prasanna08 commented on #3170
Hi Abhishek,

This issue is part of GSoC project. In GSoC a new interface wil be
implemented and this will be taken care of then. Hence it would be a waste
of time to solve this issue.

On Wed, Mar 7, 2018, 6:54 PM Abhishek kumar <notifications@github.com>
wrote:

--

Best,
Prasanna

[2018-03-07 17:01] akumar1503 commented on #3170
ok, will do that later.

[2018-03-07 18:32] AllanYangZhou commented on #3668
No, I'm not able to repro this either on develop.

[2018-03-07 20:16] bansalnitish commented on #4386
If no one is looking at this may I have a look ?

[2018-03-07 20:29] supra08 commented on #3826
Hi @seanlip and @shubha1593 can I take up app.js?

[2018-03-07 20:32] pandeykartikey commented on #4055
@tjiang11 I would like to work on the remaining part of the issue.

[2018-03-07 20:48] DubeySandeep commented on #3826
Hi @supra08, Yeah sure! you can work on `app.js` part of this issue. I've assigned you for the same. :)

[2018-03-07 21:44] AllanYangZhou commented on #4386
@LanJosh are you still looking into this? Otherwise, go ahead @bansalnitish

[2018-03-07 21:48] DubeySandeep commented on #3950
Unassigned  @Kunalgarg2100 from ` header_css_libs.html`, `header_js_libs.html` because of lack of response.

[2018-03-07 22:41] seanlip commented on #4055
Hi @pandeykartikey, sure! Assigned you.

[2018-03-07 22:41] seanlip commented on #3668
OK, let's close. Thanks!

[2018-03-07 22:41] #3668 closed, assigned to nobody

[2018-03-08 00:11] LanJosh commented on #4386
Hi @bansalnitish, I'm still looking into right now! slowly, but hopefully surely :)

[2018-03-08 05:05] akumar1503 commented on #4374
Hi, i would like to work on:
 - core.jobs
 - core.domain.user_jobs_continuous
 - core.domain.user_jobs_one_off

For the core.jobs, line numbers for methods are not aligned.

[2018-03-08 05:46] shubha1593 commented on #4374
Hi @GanitGenius, assigned you!
Hey @vibhor98, could you please check out the line numbers for methods in core.jobs?

[2018-03-08 05:50] shubha1593 commented on #4374
Hi @Sunil16202, might want to check the 5th point [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change), that should answer your question!

[2018-03-08 10:10] vibhor98 commented on #4374
Hi @GanitGenius , there is need to update class docstrings only. Here are the line nos.-
[code]
Hope this helps!

[2018-03-08 13:40] pandeykartikey commented on #1449
@seanlip I think I can help in this issue. As I have recently worked on feedback thread and know the structure.

[2018-03-08 16:31] seanlip commented on #1449
Thanks @pandeykartikey! Assigned you.

[2018-03-08 16:50] AllanYangZhou commented on #1449
@pandeykartikey Thanks! Actually, can you check if you can still repro? It's been a while since I filed the issue so I don't remember exactly, but I think the issue described is if you go to the feedback thread while being on a different account (from the creator of the exploration). But I cant reproduce that right now.

[2018-03-08 17:34] tjiang11 commented on #4776
We're calling $sce.trustAsResourceUrl like the error message suggests so I'm quite confused as to why this is happening. And I don't think we've made any recent changes related to this, have we? I wonder if it may be something that changed externally, but even then I'm not sure what could have possibly changed to cause this. One approach may be to try using the whitelist function of $sceDelegate a

[2018-03-08 18:14] pandeykartikey commented on #1449
@AllanYangZhou I too cannot reproduce this issue.

[2018-03-08 18:14] tjiang11 commented on #4600
@DubeySandeep , sorry, not yet.

[2018-03-09 00:20] pandeykartikey commented on #2620
@kevinlee12 I would like to work on this issue. As I have some experience with css associated to this part.

[2018-03-09 01:07] kevinlee12 commented on #2620
Assigned you!

[2018-03-09 08:08] pandeykartikey commented on #1480
@seanlip What I inferred from the discussion is that it needs to display collections above exploration in search results which require some tweaking in frontend.

[2018-03-09 08:50] DubeySandeep commented on #4367
@nithusha21, Will it be okay to close this?

[2018-03-09 18:47] pandeykartikey commented on #3905
@seanlip I have found a solution to `There should be exactly one directive or service per file.` Shall I submit a PR for the same?

I ran the check on some of the files and there seems to be many files with multiple directives. What should be done about that?

[2018-03-09 19:06] apb7 commented on #3905
Hello, @pandeykartikey! You need to fix the problems with the files and then place the check in the _same_ PR. Please assign this part to yourself if you intend to work on this.
Thanks!

[2018-03-09 19:11] pandeykartikey commented on #3905
Hello @apb7! I was inquiring about the file which have more than 10 directives/ services per file. Is it supposed to remain that way or should be broken?

[2018-03-09 19:27] bansalnitish commented on #4768
@BenHenning I am not getting the error now ? (I don't know why)
Can you please check again and let me know.

I have checked the library page its working fine with me.

[2018-03-10 00:46] seanlip commented on #3905
It should be broken up.. See #3826.

[2018-03-10 00:49] seanlip commented on #1480
I've looked at this and thought about it again -- and I'm going to suggest that we close it for now. We are doing some work to introduce the concepts of "topics" and "stories" make the site more coherent in terms how the learning material is structured, so I think this issue is a bit obsolete. We can revisit after the refactor.

[2018-03-10 00:49] #1480 closed

[2018-03-10 00:58] pandeykartikey commented on #3905
Thanks @seanlip for the information, will make a PR as soon as #3826 is complete.

[2018-03-10 01:10] seanlip commented on #3905
Cool, sounds good! I think it's also fine to ask the folks on #3826 where
things are. If individual parts are not moving then perhaps you could ask
if it's OK for you to take them up.

[2018-03-10 02:16] pandeykartikey commented on #4411
@seanlip Can I try debugging this issue?

[2018-03-10 04:07] WickedBrat commented on #4680
@Aashish683 @tjiang11 I tested this on oppiatestserver, When you play the audio in the creator's view I get the following error:
![screenshot from 2018-03-10 08-52-36](https://user-images.githubusercontent.com/20617436/37237882-99e490c0-2440-11e8-85c2-c67134d236e4.png)

[2018-03-10 05:00] pandeykartikey commented on #4632
@DubeySandeep is this issue up for grab?

[2018-03-10 05:12] aks681 commented on #4632
@pandeykartikey I tried reproducing the issue on the link in the description and it seems its no longer present. @DubeySandeep can you confirm this?

[2018-03-10 05:19] seanlip commented on #4411
Sure, please go ahead!

[2018-03-10 06:41] #2620 closed

[2018-03-10 07:19] pandeykartikey commented on #4411
@seanlip How are we supposed to add a MusicNotesInput interaction solution. I donnot see any relevant options there.

[2018-03-10 07:37] pandeykartikey commented on #4632
@aks681 I am able to reproduce the issue.

[2018-03-10 08:48] pandeykartikey commented on #4632
@DubeySandeep Can you give some guidance on how to reproduce it on local.

[2018-03-10 11:07] adarsh1021 commented on #3950
Hello @DubeySandeep ! I have filled in the survey and signed the CLA. I would like to work on  `header_css_libs.html` and `header_js_libs.html`.

[2018-03-10 11:49] apb7 commented on #3950
Hi, @adarsh1021! Great. I've assigned you. Welcome to Oppia :)

[2018-03-10 15:01] WickedBrat commented on #4497
@

[2018-03-10 18:35] proishan11 commented on #4374
Hi! Can I work on core.domain.user_query_services and core.domain.user_services. I have gone through the instructions and signed the CLA.
Thanks :smile:

[2018-03-10 18:37] apb7 commented on #4374
Sure, @proishan11! I've assigned you. Welcome to Oppia :)

[2018-03-10 18:55] proishan11 commented on #4374
Working on it. Thanks, @apb7 .

[2018-03-10 19:26] #3971 closed, assigned to nobody

[2018-03-10 20:09] seanlip commented on #4411
You'll need to add at least one hint before the "Add Solution" button appears.

[2018-03-10 20:18] square-1111 commented on #4374
Hi! I am new here and want to work on `core.platform.email.gae_email_services`. I have read the instructions.
Thanks

[2018-03-10 20:29] jervis446 commented on #4374
@square-1111 : Sure, go ahead -- I've assigned you :)

[2018-03-10 20:55] pandeykartikey commented on #4411
@seanlip I am talking about the add solution card. itself I am not able to make changes to the notes :/

[2018-03-10 21:49] seanlip commented on #4411
I'm not sure what you're doing, exactly. Could you post a series of instructions to repro from a blank dev server, a screenshot of what you see, and your expectation of what you should be seeing?

[2018-03-11 01:05] LanJosh commented on #4497
Hi @WickedBrat, that error log is different from the one that was appearing on a card with no text. It seems that is related to #4371. I'm not getting any errors in the console on oppiatestserver on a card with no text. Are there some additional repro steps you performed?

[2018-03-11 05:33] seanlip commented on #2872
Fixed in #4698. Thanks @prasanna08!

[2018-03-11 05:33] #2872 closed

[2018-03-11 08:31] #4055 closed, assigned to pandeykartikey

[2018-03-11 09:55] nithusha21 commented on #4768
What is the status on this issue? Does the 404 error still occur? Thanks

[2018-03-11 21:23] WickedBrat opened #4797 "Admins couldn't upload an exploration."
While uploading an exploration I'm greeted with this error:
![screenshot from 2018-03-12 02-48-58](https://user-images.githubusercontent.com/20617436/37258618-58d29954-25a0-11e8-92fe-b3f9b35abe18.png)

Steps to reproduce:

On your local devserver:
1. Create a new exploration, add an audio translation, and publish it.
2. Go to the history tab and download its YAML file.
3. Turn on ALLOW_YAML_FILE_U

[2018-03-11 21:45] WickedBrat commented on #4497
Hi @LanJosh I got tis error just after adding an audio translation to the test server
Does this not happen to you?

[2018-03-12 00:46] LanJosh commented on #4497
Do you mean you are adding an audio translation to a card without text? This issue is only for the cards with no text -- I'm not sure adding an audio translation to a card with no text should work.

[2018-03-12 00:55] seanlip commented on #4797
Hi @WickedBrat, it works for me. You've downloaded a zip file. You need to extract the YAML file from it, and then upload that.

[2018-03-12 00:55] #4797 closed

[2018-03-12 02:35] seanlip commented on #4768
I've reloaded the page several times and I don't see it either. So I'm going to close this.

[2018-03-12 02:35] #4768 closed, assigned to vojtechjelinek, tjiang11, bansalnitish

[2018-03-12 03:59] EvsChen commented on #1855
@seanlip I met a question when I try to follow what @wxyxinyu has said. How to "make a http to the backend"? To be specific, which url should I call and what method to use (get, post, etc.)?

[2018-03-12 05:00] seanlip commented on #1855
Hm, good question! You might want to add a simple handler to the backend (e.g. at /uptimecheckhandler) and I think an AJAX GET should work for this. The handler returns nothing (just an empty JSON dict). Does that help?

[2018-03-12 05:50] christineycc commented on #4775
One thing I can think of is adding a "-->|" back to most recent button to the right of the right arrow button, when users navigate past at least 2 previous card.

[2018-03-12 06:13] EvsChen commented on #1855
Sure. That helps a lot! Thanks @seanlip. I'll take some look at the code since I haven't studied the oppia backend yet:)

[2018-03-12 12:07] WickedBrat opened #4800 "Cannot play audio in creators view."
Steps to reproduce:
- Create an exploration.
- Add translation to the text.

Expected:
- Audio should play.

Observed:
Couldn't play text. See console for further info
![screenshot from 2018-03-12 17-36-29](https://user-images.githubusercontent.com/20617436/37282896-01289f06-261c-11e8-8f5c-5b6e835d6244.png)

[2018-03-12 15:57] DubeySandeep commented on #4800
@WickedBrat, I think it seems to be a duplicate of #4776.

[2018-03-12 16:46] proishan11 commented on #4057
Hi! Can I take `services/IdGenerationService.js`? Thanks :)

[2018-03-12 18:20] #4800 closed

[2018-03-12 18:29] divayg commented on #3950
Hey I have signed the CLA, Can I be assigned an issue

[2018-03-12 19:20] apb7 commented on #3950
Hi @divayg! I think only `base.html` has not been assigned yet. Do you want to work on that file?
Thanks!

[2018-03-13 02:20] nithusha21 commented on #4497
This is reported as #4776 so closing this issue.

[2018-03-13 02:20] #4497 closed, assigned to LanJosh

[2018-03-13 02:22] nithusha21 commented on #4680
Reported in #4776. Closing this issue

[2018-03-13 02:22] #4680 closed

[2018-03-13 03:27] #4773 closed, assigned to nithusha21

[2018-03-13 05:16] divayg commented on #3950
@apb7 Yes, Please
Thanks!

[2018-03-13 05:23] apb7 commented on #3950
@divayg: Assigned you! Thanks!

[2018-03-13 06:29] square-1111 commented on #4057
@shubha1593 I couldn't locate ```services/explorationServices.js```.

[2018-03-13 07:12] apb7 commented on #4057
@proishan11: I've assigned you.
@square-1111: I think it should be `services/EditabilityService.js`. Do you want to take it up? (Also, @shubha1593: Can you please confirm this?)
Thanks!

[2018-03-13 08:29] #4776 closed, assigned to seanlip

[2018-03-13 09:29] Satyam-Bhalla opened #4803 "DistutilsOptionError: Cannot install dependencies like numpy and Pylint while running bash scripts\start.sh"
My PIP version is 9.0.1 and it is giving me this error. I have read the closed issue #1580](https://github.com/oppia/oppia/issues/1580). But it is for pip version 8.1.2
![screenshot from 2018-03-13 14-48-39](https://user-images.githubusercontent.com/17814101/37333315-0ef0e5f4-26cf-11e8-9726-766f3a98020a.png)

[2018-03-13 11:50] square-1111 opened #4804 "Broken link in Wiki"
There is broken link in [Server-Side-Test](https://github.com/oppia/oppia/wiki/Running-Tests#server-side-tests) section in [Running Tests](https://github.com/oppia/oppia/wiki/Running-Tests#server-side-tests) in wiki.
Link https://github.com/oppia/oppia/tree/master/scripts/run_backend_tests.sh gives 404.
I found https://github.com/oppia/oppia/tree/develop/scripts/run_backend_tests.sh routing to cor

[2018-03-13 11:53] square-1111 commented on #4057
@apb7 Yes, I want to work on this. Thanks. :smile:

[2018-03-13 13:06] proishan11 commented on #4057
@apb7 @shubha1593 I cannot figure out what to test. Please guide me through this. Do I need to test the randomness, uniqueness of the ID?

[2018-03-13 13:28] proishan11 commented on #4057
proishan11 (AutoplayedVideosService). Since I need some time to figure out how to test `idGenerationService` I am working on `AutoplayedVideosService`.

[2018-03-13 13:58] apb7 commented on #4804
Thank you, @square-1111 for pointing this out! This has been fixed. Therefore closing this issue.

[2018-03-13 13:58] #4804 closed, assigned to nobody

[2018-03-13 16:44] #4056 closed, assigned to nobody

[2018-03-14 00:36] shubha1593 commented on #4057
@apb7 @square-1111, yup it should be `services/EditabilityService.js`, corrected it and assigned you!
@proishan11, noted, thanks!

[2018-03-14 11:07] vibhor98 commented on #4386
Hi @LanJosh , Is there any progress so far? I'm thinking of taking it up.

[2018-03-14 15:54] LanJosh commented on #4386
Hi @vibhor98 I've only gotten parts of the CurrentAnswerService written as of yet. I'm pretty lost on what has to be done for each interaction in terms of the configService and updating the CurrentAnswerService. It's fine if you want to take this up, I'll probably look for a simpler issue to learn Angular.

[2018-03-14 16:08] bansalnitish commented on #4386
Hi @vibhor98
I was already up on this issue :smile:

[2018-03-14 16:25] saching97 commented on #4803
As far as I can see there are some backward incompatibility issues with Pip version 9.0.1 ([Release Notes](https://pip.pypa.io/en/stable/news/#release-notes)), which might be causing the error. Maybe try reinstalling the older version of Pip?

[2018-03-14 16:28] vibhor98 commented on #4386
No problem @bansalnitish

[2018-03-14 17:32] bansalnitish commented on #4386
Thank you @vibhor98 :smile:

[2018-03-14 18:50] saching97 commented on #4422
Hi @DubeySandeep ,
I would like to work on this issue. In my opinion @christineycc solution sounds great, I'll submit a PR as soon as I'm done.

[2018-03-14 18:59] vibhor98 commented on #3983
Hi @seanlip , while checking the side tabs on the development server, I'm not able to see these tabs even though I tried making one exploration and then completing it as well. How can I get them so as to check whether I have a correct code change? Thanks!

[2018-03-15 02:08] seanlip commented on #3983
Sorry, I'm not sure -- I'm not that familiar with this part of the codebase. You'll probably need to debug or talk to someone who's worked directly on the learner dashboard in the past.

[2018-03-15 04:49] Satyam-Bhalla commented on #4803
Issue solved after adding `--user --prefix= --system` after every pip install command in `install_third_party.sh` file.

[2018-03-15 04:49] Satyam-Bhalla commented on #4803
Issue solved after adding `--user --prefix= --system` after every pip install command in `install_third_party.sh` file.

[2018-03-15 04:49] #4803 closed, assigned to Satyam-Bhalla

[2018-03-15 08:52] vibhor98 commented on #3983
Ok, I'll try. thanks!

[2018-03-15 11:39] anmolshkl commented on #4742
hi @vojtechjelinek, are you working on this PR?

[2018-03-15 11:41] anmolshkl commented on #4649
@yashLadha are you still working on this issue?

[2018-03-15 13:21] yashLadha commented on #4649
Actually its a browser issue @anmolshkl

[2018-03-15 14:44] saching97 commented on #4714
There's not been any recent activity and there isn't a pull request for this issue yet. If no one's working on this, I'll submit a PR with the change recommended by @srikar0896

[2018-03-16 06:44] apb7 commented on #3905
Hi, @bansalnitish!
Are you working on "breaking after (" check in Python or Issue #4386?
Thanks!

[2018-03-16 06:56] bansalnitish commented on #3905
Yes @apb7

[2018-03-16 07:02] apb7 commented on #3905
@bansalnitish: Just wanted to confirm if you're working on both Issue #4386 as well as this check simultaneously. If so, please go through the the Pycodestyle errors. I think there are a few of them which take care of hanging indent. So we will not be needing any additional function.

[2018-03-16 07:09] bansalnitish commented on #3905
Yes @apb7, I am working on both of them. Sure, I will go through the Pycodestyle errors. Thanks for the suggestion :smile:

[2018-03-16 07:56] EvsChen commented on #1855
Hey @seanlip , sorry for the delay. I've written a design doc [Fix#1855: Offiline detection while saving drafts](https://docs.google.com/document/d/1EONe2ZA5cASnM_MgyJ5rfCJIJi-8XNmtAGq_1tbACCc/edit?usp=sharing).Please take a look and comment.
For the second point of what @wxyxinyu has said, is it still necessary? Now there seems to be loading dots showing when the saving is in progress, although i

[2018-03-16 08:02] seanlip commented on #1855
Hi @EvsChen! I think (2) is done, yeah. I looked at the design doc and I think it looks great!

One section that's missing in the doc is how you plan to simulate the necessary conditions for testing this? If you're able to replicate it in a Karma test somehow, so much the better.

[2018-03-16 08:05] seanlip commented on #1855
Actually I take back the first part of what I said. I think the point was to prevent editing when saving was in progress, by introducing some kind of blocking popup. Can we still do that?

(I.e., if you're able to save and still edit while saving is happening, that's probably not great and should be fixed.)

[2018-03-16 08:22] pandeykartikey commented on #1449
@seanlip @AllanYangZhou Are there any additional steps to send a notification from feedback thread. I am replying to a thread created by user but as a user, I am not able to get any notification of the updated feedback?

[2018-03-16 08:52] EvsChen commented on #1855
Thanks for your feedback @seanlip! Actually I've thought about using a smaller modal popup (like the one showing up in normal saving progress). Is that OK? But this kind of design seems a little weird to me.
For the Karma test, I'll look into it and add in my doc.

[2018-03-16 16:39] vasutomar commented on #4374
Hi @vibhor98 , I am new here and would like to start contributing, i would like to work on `core.domain.value_generators_domain`  , can you assign me this?
I've already read the instructions and signed the CLA
Thanks!

[2018-03-16 16:46] vibhor98 commented on #4374
Hi @vasutomar , Welcome to Oppia! 😄 Sure, I've assigned you. Please go ahead!

[2018-03-16 21:58] seanlip commented on #1855
Yeah, I agree it is a bit weird. Do you have a better suggestion?

Maybe one way around it is to fix the background saving functionality so that if updates are made while a save is in progress, they don't mess up the changelist. That would be better, but then you run into issues where, say, if the save fails, you have a new changelist and an old changelist and I'm not sure if we want to get into t

[2018-03-16 22:00] seanlip commented on #1449
Do you mean by email? I think that's turned off in the dev server by default. Some of the email config settings (e.g. 'allow oppia to send email') are in feconf; you'll need to look them up and maybe turn on the ones that are relevant for this issue. A lot of the relevant code for emails is in core/domain/email_manager.py, in case that helps.

[2018-03-16 22:00] seanlip commented on #1449
@prasanna08 might also be able to advise, since he worked on emails before.

[2018-03-16 23:36] DubeySandeep commented on #4632
Hi @pandeykartikey, follow these steps to reproduce this locally:
- Create an exploration.
- Add Continue interaction in the first card (assume named "1stCard") which will redirect to another card (assume named "2ndCard").
- Add text input interaction in the "2ndCard" with a response to answer "XYZ" redirects to "1stCard".
- Preview the exploration.
- Go to 2ndCard and write "XYZ" as the answer (t

[2018-03-17 08:42] Satyam-Bhalla opened #4813 "Icon position changed in Navigation Bar for better UI design"
In the current design when a user selects a language or a category the tick symbol apperas at lower right bottom of the list element which is not so cool.So I want to change that thing as my first frontend issue.If you want that change then please assign this task to me.
![screenshot from 2018-03-17 14-03-54](https://user-images.githubusercontent.com/17814101/37553334-333a01c8-29ec-11e8-88bd-6170a

[2018-03-17 08:45] seanlip commented on #4813
Hi @Satyam-Bhalla, please go ahead.  We can't assign you yet because GitHub doesn't let us assign arbitrary users, but it's fine to go ahead and submit a PR anyway. After a couple of PRs are submitted, we'll add you as a collaborator and then you can self-assign issues in future. Thanks!

[2018-03-17 09:24] DubeySandeep commented on #4813
@Satyam-Bhalla, It looks great on chrome (see screenshot below). My point is to test it on chrome while doing changes.
![image](https://user-images.githubusercontent.com/16653571/37553437-1eda7c1a-29ee-11e8-93a0-3bc9ea4907f4.png)

[2018-03-17 09:32] Satyam-Bhalla commented on #4813
Yes I have tested that and is working fine.

[2018-03-17 10:20] DubeySandeep opened #4815 "World map interaction is not working."
**Steps to reproduce:**
- Create an exploration.
- Use Map interaction form Geography section.

Map interaction is throwing an error (screenshot below).
![image](https://user-images.githubusercontent.com/16653571/37554170-b7ee7b02-29fa-11e8-82de-d45421c4cdde.png)

[2018-03-17 10:24] nithusha21 commented on #4815
This is happening on develop? I can't reproduce it on the test server.

[2018-03-17 10:32] DubeySandeep commented on #4815
@nithusha21, Yeah! it was happing on the develop but can't reproduce now! Closing it, for now, I'll re-open it if reproduced again. Thanks!
(Maybe happened because of intetnet connection)

[2018-03-17 10:32] #4815 closed, assigned to nobody

[2018-03-17 10:36] nithusha21 commented on #4815
@DubeySandeep This has happened to me occasionally with other third party elements also we have used for interactions. But I have usually traced it back to bad (or no) network connection. These elements need internet connection to work I think.

[2018-03-17 10:47] EvsChen commented on #1855
Exactly, in the future we may implement auto-saving like what google docs does, but it's certainly beyond the scope of this issue.
I'm thinking of using a toast in the bottom right corner with a backdrop. Yet I haven't figured out a easy way to implement it.

[2018-03-17 17:34] seanlip commented on #1855
Yeah. I think it's OK to punt on that part for now though. We can handle it
later as a separate issue; that should make this issue more manageable to
tackle. (If you agree, could you please file a second issue for that and
clarify this one to only refer to the first part?)

[2018-03-17 17:58] BenHenning opened #4816 "Admin page role selection is broken"
See https://github.com/oppia/oppia/pull/4777#issuecomment-373939876 for context. To repro:

1) Start local dev server
2) Create account that has admin access
3) Go to the admin panel and roles tab

Expected: roles drop-down menus should work
Actual: roles drop-downs do not work

Suspected cause PR: #4777 (no other changes have been made to the admin page for several months since). Recommendation i

[2018-03-17 20:01] Satyam-Bhalla commented on #4813
Issue solved in #4817

[2018-03-17 20:22] DubeySandeep commented on #4816
Hi Ben,
I cannot reproduce this locally (on develop). Both `View User Roles` and  `Update Role` dropdowns working well for me, but I found that the tooltip for ROLES in nav bar is not showing.
![image](https://user-images.githubusercontent.com/16653571/37559538-ed8319be-2a4d-11e8-9b81-580e56ee8e17.png)
(Also, the e2e test for collection.js is passing so I think that must be using the roles tab for

[2018-03-17 20:31] BenHenning commented on #4816
Confirming this still doesn't work for me on the release branch. I'm checking this on Chrome 63.0.3239.108; does that match your version @DubeySandeep or are you using a different browser?

[2018-03-17 20:32] BenHenning commented on #4816
Confirming this also doesn't work at tip of tree on the ``develop`` branch.

[2018-03-17 20:33] BenHenning commented on #4816
Reverting #4777 does not seem to fix this; maybe it's a regression with the version of Chrome I'm using.

[2018-03-17 20:34] BenHenning commented on #4816
Confirming that oppia.org's admin panel is having the same issue for me.

[2018-03-17 20:36] DubeySandeep commented on #4816
@BenHenning, I'm on chrome 63.0.3239.108
![image](https://user-images.githubusercontent.com/16653571/37559727-d59dd71e-2a50-11e8-813e-e750830502c4.png)

[2018-03-17 20:37] vibhor98 commented on #4816
hi @BenHenning I also can't reproduce it on chrome.

[2018-03-17 20:41] BenHenning commented on #4816
Odd, well this shouldn't block since it repros for me on oppia.org. I suspect that maybe something odd is happening on my local machine to cause this, but it's consistent across sites.

[2018-03-17 21:09] seanlip commented on #4816
@BenHenning, what exactly do you mean by "not working"? I just tried it locally and I can read the roles and select a role from the dropdown without issues. Chromium 64.0.3282.167 on Ubuntu.

[2018-03-17 22:05] apb7 commented on #3905
Hi @seanlip! I am planning to upgrade Eslint from 3.18.0 to 4.19.0. With the 4.x versions, the indent rule becomes a bit more strict. The new version of the rule would report some indentation errors which the old version did not. Also, two new rules have been added to `eslint:recommended` but we can disable those manually to mimic the current `eslint:recommended`. Shall I go ahead with this?
Thank

[2018-03-18 02:37] seanlip commented on #3905
Sure, sounds good! Thanks!

[2018-03-18 05:04] EvsChen commented on #1855
Sure. I'll do that.

[2018-03-18 05:29] EvsChen opened #4819 "Improve exploration saving process to avoid editing while saving"
This issue serves as an extension to the second part of #1855.

As mentioned in #1855, we found users can still edit the exploration while the saving is in progress, which may interrupt the changelist.

We still need further investigation on this, especially on the UX part.

Up to now, there are several tentative solutions:
1. Put a saving popup in the middle of screen to prevent actions, but it m

[2018-03-18 13:27] anmolshkl opened #4821 "Remove obsolete code from classifier_services.py"
The method `create_classifier_training_job()` within the classifier_services.py is obsolete. The method was originally implemented to create a training job when an exploration's training data is modified (for some particular state). Later, we realized that different types of states (trainable vs non-trainable) need to be handled differently, and hence we created two other methods `handle_trainable

[2018-03-18 13:28] anmolshkl commented on #4821
/cc @prasanna08 @pranavsid98 @giritheja
@GanitGenius would you like to take up this issue?

[2018-03-18 16:26] akumar1503 commented on #4821
yes, i will do as soon as i finish my gsoc proposal in a day or two at max, thanks.

[2018-03-18 17:44] anmolshkl commented on #4821
@GanitGenius no hurry, please take it up once you have submitted your final proposal :)

[2018-03-18 18:41] vibhor98 commented on #3446
Hi @seanlip , I want to take up one of the above listed interactions for writing validators. As the remaining ones appear a bit tricky to me, can you suggest which one should I take up first?

[2018-03-18 19:03] brianrodri commented on #2766
Hey @tjiang11, sorry for delayed response..! I plan on using the `StateRulesStatsService` introduced in PR #4744 to implement this PR.

[2018-03-18 20:06] seanlip commented on #3446
Hi @vibhor98 -- if you're looking for easiness, I think EndExploration and MathExpressionInput are probably the best options. Thanks!

[2018-03-19 03:01] #4663 closed, assigned to nobody

[2018-03-19 18:17] anmolshkl commented on #4813
@Satyam-Bhalla it would be really helpful for the others if you could specify your browser/OS too. Took me a while to find out the browser where it actually broke :)

[2018-03-20 10:24] saching97 opened #4823 "Bug: Parameters cannot be disabled in advanced features"
**Steps to reproduce the problem**
1. Login and create a new exploration
2. Go to the settings tab
3. Enable the Parameter in Advanced Features
4. The button disappears and a static text Enabled is visible (see screenshot)
![enabled](https://user-images.githubusercontent.com/24409931/37649024-a6dc7e6e-2c56-11e8-923e-0745b9aad13b.png)

**Expected behaviour**
Togglable Button to disable Parameters

[2018-03-20 18:13] BenHenning commented on #4816
Nothing appeared in the roles drop-down for me. I haven't tried since restarting my workstation, but restarting Chrome (at the time) did not fix the bug. I was able to work around it using arrow keys. :) This might be a transient issue, but it's curious it only affects me and regardless of the Oppia version I try it on.

[2018-03-20 19:55] Satyam-Bhalla commented on #4813
I am currently checking that in Firefox,Ubuntu.

[2018-03-20 20:30] apb7 commented on #3905
Hi @seanlip! I was trying to implement the `no-self-use` Pylint rule. I had a doubt. How do we go about removing `self` from functions like:
[code]
Do we prefer something like:
[code]
that is, remove `self` and add `@staticmethod`? I am currently looking for all instances of any such function while changing the definition. Is there anything else that needs to be looked out for this?

Thanks!

[2018-03-20 22:52] seanlip commented on #3905
Interesting ... seems like a false positive in this case. Some possible fixes:
- introduce a check somewhere in the test that uses self (e.g. one natural thing to do is introspect the contents of the task queue)
- change self to unused_self (a bit ick)
- don't bother about enabling the no-self-use rule

I'm fine with any of these; you decide :)

[2018-03-20 23:16] #3983 closed, assigned to vibhor98

[2018-03-20 23:18] seanlip commented on #4823
Thanks for filing, @saching97! This is not really a bug (as discussed in https://github.com/oppia/oppia/pull/4811#issuecomment-374690018), so, closing for now.

[2018-03-20 23:18] #4823 closed, assigned to nobody

[2018-03-20 23:53] BenHenning commented on #4816
So to close the issue, this bug seems to have only affected me, and for unknown reasons. It's not Oppia specific since all websites I tried with drop-downs at the time were having this issue.

[2018-03-20 23:53] #4816 closed, assigned to nobody

[2018-03-21 09:44] apb7 commented on #3905
In that case, I think let's leave this rule out. If there seems to be any such need in the future, we can enable it then :)
Thanks!

[2018-03-21 14:45] #4813 closed, assigned to nobody

[2018-03-22 17:39] #4714 closed, assigned to nobody

[2018-03-22 19:08] apb7 commented on #3905
Hi @seanlip! I had a doubt regarding a specific case while upgrading Eslint:
[code]
Here, the correct indentation should be:
[code]
Since `fragment.type` is a variable which has a multi-line assignment, the multi-lines should be indented by 2. Please correct me if I am going wrong somewhere!

Thanks :)

[2018-03-22 20:41] seanlip commented on #3905
The first one is correct, actually. You're not assigning to fragment.type here. You're comparing its value with the string 'text'.

[2018-03-22 23:14] pranavsid98 commented on #4661
Hi @kevintab95, do you have any updates with this issue?

[2018-03-22 23:22] pranavsid98 commented on #4195
This issue has already been fixed in #4762 . Closing now.

[2018-03-22 23:22] #4195 closed, assigned to pranavsid98

[2018-03-23 08:44] apb7 commented on #3905
Okay, got it. Thanks!

[2018-03-23 11:48] WickedBrat commented on #4649
But it still needs to be fixed @yashLadha

[2018-03-23 11:57] yashLadha commented on #4649
The option that is suggested will only work on login users and not on the
unsigned users.

On Fri, Mar 23, 2018 at 5:18 PM, Siddhant Srivastav <
notifications@github.com> wrote:

[2018-03-24 02:47] rajbir-singh commented on #4177
I have picked the issue will try to fix it :)

[2018-03-24 05:50] pranavsid98 commented on #4177
Sounds good @rajbir-singh . I've assigned you. Please follow instructions here (https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before working please.

[2018-03-24 14:28] rajbir-singh commented on #4177
I have gone through the instructions @pranavsid98, just about to begin solving the issue

[2018-03-25 04:43] vibhor98 commented on #3446
Hi @seanlip , I've filed PR for End Exploration. MathExpressionInput does not contain any customization arguments so, I think there are no validators to be added there. I'll pick another one then. Thanks!

[2018-03-25 04:59] shubha1593 commented on #3826
Hi @supra08, any updates on this?

[2018-03-25 09:27] #4530 closed

[2018-03-25 10:06] giritheja opened #4829 "Reduce code redundancy in backend testing"
In the codebase, the methods `get_json` and `testapp.get` are used for the same purpose. In the following screenshot of editor_test.py, `get_json` is used to verify the successful case (response status = 200) and `testapp.get` is used to verify the error case (response status != 200)
<img width="625" alt="screen shot 2018-03-25 at 2 52 18 am" src="https://user-images.githubusercontent.com/8845039/

[2018-03-25 10:16] giritheja opened #4830 "Create delete_json method in test_utils"
As observed in #4574, The test_utils file consists of get_json, put_json and post_json methods but it does not contain an equivalent delete_json method. The goal of this issue is to design a delete_json method (similar to get_json, put_json and post_json methods) with a JSON as an argument and deletion as a functionality of the method.

[2018-03-25 10:47] seanlip commented on #4829
Hi @giritheja -- do you think you could include a list of files with testapp.get() etc. references that need to be changed? Just wanted to get a sense of how many there are -- hopefully it's small and not really widespread.

Thanks!

[2018-03-25 18:52] pandeykartikey commented on #4662
Hi @pranavsid98 I am not able to reproduce the histogram shown in the statistics tab image at local. Can you help?

[2018-03-25 20:22] chari1239 commented on #4819
I am working on this issue.

[2018-03-25 21:41] WickedBrat commented on #4439
I'd like to take up this issue! @AllanYangZhou
Also I'm thinking of fiiting a mutationObserver to detect changes in the DOM and upon changes it'll check if the added image has class associated with it. If not, it'll trigger modal for adding image.
Suggestions?

[2018-03-25 21:49] brianrodri commented on #2766
Design doc which is blocking this PR can be found here: https://docs.google.com/document/d/1sUixawhV7eohNaySS_pie4bOsjLEYNtqPwi4dGq3xIU/edit?usp=sharing

[2018-03-25 21:50] brianrodri commented on #3954
@rohanbanerjee Hi! Any updates on the Exploration Editor changes?

[2018-03-26 00:34] seanlip commented on #4830
Chatted with @giritheja, he'll send a design doc by Apr 1.

[2018-03-26 04:25] EvsChen commented on #4819
Hey @chari1239, have you finished the starting guide in oppia wiki?

[2018-03-26 04:34] chari1239 commented on #4819
@EvsChen  I completed the starting guide. @shubha1593  asked me to check out the issue #2115. I worked on it,then I started working on this.

[2018-03-26 08:44] chari1239 commented on #4819
[saving_edited_oppia.pdf](https://github.com/oppia/oppia/files/1847038/saving_edited_oppia.pdf)
@EvsChen In this I attached the screenshots of the edits I made please check once.

[2018-03-26 08:49] chari1239 commented on #4819
![disable_while_saving](https://user-images.githubusercontent.com/36504878/37895896-31211eb0-3100-11e8-9be3-997b733855ff.png)
![warnig_no_internet](https://user-images.githubusercontent.com/36504878/37896054-967413ee-3100-11e8-920e-0f7292b2e602.png)

*Red dot at right bottom saying user is "Offline".
*Green dot -> online

[2018-03-26 09:37] chari1239 commented on #2115
![previous](https://user-images.githubusercontent.com/36504878/37898823-7075809a-3107-11e8-8cce-650f88d1481b.png)

@seanlip ,I did this edit.

[2018-03-26 10:02] chari1239 commented on #3950
@apb7  I too completed the CLA , on what issues can I work on?

[2018-03-26 13:16] chari1239 commented on #3950
@apb7 ,I updated the `collection_player/collection_player.html` file.
In that I changed

- `{% if collection_id %}`

- `{%if can_edit %}`

both this tags to ng-if and its working in the dev environment. How I can move further?

[2018-03-26 13:40] apb7 commented on #3950
@chari1239: I have assigned you. Please feel free to open a PR when your work is done. Thanks!

[2018-03-26 15:44] pandeykartikey opened #4833 "Content overflows in Answer statistics page"
**Describe the bug**
The content of the textinput answer stats modal of exploration stats tab overflows.

**To Reproduce locally:**
 1. Sign in as administrator and create an exploration having text input interaction.
 2. Publish the exploration.
 3. Go to jobs tab of admin page.
 4. Start th interactionAsnwerArgrregator continuation commputation job.
 5. Create a new account (aybe using incognito

[2018-03-26 17:45] chari1239 commented on #3950
@apb7  . I am getting error in pattern checks ,when I ran the command ` bash scripts/run_presubmit_checks.sh` .I don't have idea of this.How can I proceed?

[2018-03-26 18:42] apb7 commented on #3950
@chari1239: Please see the generated error message and then try to resolve it. Thanks!

[2018-03-26 18:58] WickedBrat commented on #3604
@seanlip I followed the steps but I'm unable to reproduce this error.

[2018-03-26 19:13] seanlip commented on #3604
Hm, thanks for letting us know @WickedBrat.

@jacobdavis11 @AllanYangZhou -- can you repro?

[2018-03-26 23:32] WickedBrat commented on #4439
@seanlip I need a little help here. I need to know how do I trigger "add image" modal and specifically How do I triger with particular value than default? Only this part is left, I'm able to detect addition of new image by drag-and-drop method

[2018-03-26 23:56] seanlip commented on #4439
You can trigger the "add image" modal by clicking the image button in the toolbar.

I'm afraid I don't understand your second question.

[2018-03-27 02:23] BenHenning commented on #4438
From TL meeting notes, we could also include the following as part of this issue:

Exploration migration functionality: To avoid confusion between exploration and states schema migrations, move the YAML conversion functionality to a script, and rip out all the YAML conversion stuff from exp_domain. But this requires removing the upload YAML file feature... We also need to keep it up to date with o

[2018-03-27 04:39] WickedBrat commented on #4439
I'm sorry for the confusion! I meant how can we trigger the modal from code? I'm able to detect that an image (by drag-and-drop method) is added now I need to trigger the modal with image value as that of image.  Should I write js code to "click" the rich text component ? I'm asking if there's a different method this could be implemented

[2018-03-27 04:59] seanlip commented on #4439
I don't know, sorry. You'll need to read the code for the RTE to figure
that out.

[2018-03-27 09:08] apb7 opened #4835 "Automating routine update of translations"
At the moment, we have to manually generate [PRs](https://github.com/oppia/oppia/pulls?q=is%3Apr+routine+is%3Aclosed) from the `translatewiki` branch to the `develop` branch whenever the `translatewiki` branch changes, once a month.
This process could be automated by the under-construction Oppia-bot.

[2018-03-27 10:21] WickedBrat opened #4836 "Profile picture doesn't show in Update image modal."
Steps to repro:
- Update your profile picture.
- Upon updated, click on the image to change profile picture again.
- Update image modal shows up.

Expected Behaviour:
- The modal should show current profile picture and the submit button should say "Update profile Picture".

Observed Behaviour:
-  Current profile picture is not shown. Refer to screenshots for further details.

![screenshot from 201

[2018-03-27 10:42] rohanbanerjee commented on #3954
Hey!

I have refactored all the files in core/tests/protractor. Wherever editor
was called, it was replaced with explorationEditorPage and other changes
were also made.

I am currently changing the editor.js page and making it
ExplorationEditorPage.js.
But, I am having a bit of problem in doing that.
Can you please help me with that?

On Monday, March 26, 2018, Brian Rodriguez <notifications@githu

[2018-03-27 12:57] brianrodri commented on #3954
@rohanbanerjee Sure, just create a new PR and assign me as a reviewer and I'll take a look!

[2018-03-27 15:05] rohanbanerjee commented on #3954
For sure

On Tuesday, March 27, 2018, Brian Rodriguez <notifications@github.com>
wrote:

--
Rohan Banerjee
SRM University
+91 9833397430

[2018-03-28 16:32] supra08 commented on #3826
Yes @shubha1593 , I'm working on it.

[2018-03-28 19:49] srikar0896 commented on #3025
@tjiang11 should the user be able to navigate the submenus through arrow keys as well?

[2018-03-29 04:14] apb7 opened #4838 "[Blocked on eslint] Scope creation in case of "?" for indent rule in Eslint"
We updated the Eslint version from 3.18.0 to 4.19.0 in Pr #4825. The `indent` rule in the 4.19.0 version wants a new "scope" for the "?" operator but we do not prefer this.
For example,
We prefer something like this:
[code]
whereas Eslint wants this:
[code]
I have opened an issue for "feature request" under Eslint Issue [#10138](https://github.com/eslint/eslint/issues/10138).

[2018-03-29 04:56] jervis446 commented on #3576
Hi @DeveloperAlfa  -- how is this going?

[2018-03-29 05:01] apb7 commented on #3905
Hey @bansalnitish, any updates on this?

Thanks!

[2018-03-29 17:21] apb7 commented on #4838
Update: This feature request is now under evaluation :)

[2018-03-29 19:39] apb7 commented on #3905
Hi @seanlip, I am planning to implement a check to ensure that all directives end with _directive.html. As suggested earlier, the approach that we can follow here could be to regex `templateURL` for all JS files, capture the filename and then check if it ends with `_directive.html` and produce an error message,
`HTML directive name check failed: All HTML directives should end with _directive.html

[2018-03-29 19:52] seanlip commented on #3905
Sgtm, I would just make the error message clearer in terms of describing
what exactly the dev is supposed to do, rather than explaining the error in
general.

[2018-03-29 19:58] apb7 commented on #3905
Got it, thanks!

[2018-03-30 08:55] #3009 closed

[2018-03-30 08:56] seanlip commented on #3009
Done in #4574. Thanks @giritheja!

[2018-03-30 16:31] srikar0896 commented on #3025
@tjiang11 @seanlip Hi, while I was working on this issue, I was struck with a small doubt regarding the second requirement(expand hamburger menu using the keyboard), Although this can be implemented, how can users navigate through keyboard while they are on mobiles?

Thanks

[2018-03-30 17:01] jacobdavis11 commented on #4836
I'm not sure I agree with this, since the user is adding a new profile picture, not modifying the old one, so it seems reasonable to present them with the regular picture-uploading modal.

@markhalpin what do you think?

[2018-03-30 17:06] markhalpin commented on #4836
If I understand this correctly, that the perceived misbehavior is that the modal does not show the current pic when uploading a new one, then I agree with @jacobdavis11 that I don't see that as an issue, and the regular uploader should be fine.

[2018-03-30 17:07] jacobdavis11 commented on #4833
@brianrodri shouldn't this have been fixed by #4664? It still seems to be happening on the production server.

[2018-03-30 17:12] jacobdavis11 commented on #4821
@GanitGenius how is this going?

[2018-03-30 17:13] jacobdavis11 commented on #4761
@yashLadha how is this going?

[2018-03-30 17:13] jacobdavis11 commented on #4661
@kevintab95 how is this going?

[2018-03-30 17:14] jacobdavis11 commented on #4649
@yashLadha any updates on this?

[2018-03-30 17:15] jacobdavis11 commented on #4600
@tjiang11 any updates on this?

[2018-03-30 17:16] jacobdavis11 commented on #4545
@aks681 how is this going?

[2018-03-30 17:17] jacobdavis11 commented on #4411
@pandeykartikey any updates on this?

[2018-03-30 17:20] jacobdavis11 commented on #4367
@paroothisumit are you still working on this?

[2018-03-30 17:22] jacobdavis11 commented on #4190
@prasanna08 how is this going?

[2018-03-30 17:23] jacobdavis11 commented on #3576
@jervis446 are you planning to work on this issue? It's currently assigned to you.

[2018-03-30 17:25] jacobdavis11 commented on #2249
@pranavsid98 any updates on this?

[2018-03-30 17:27] jacobdavis11 commented on #1449
@pandeykartikey how is this going?

[2018-03-30 17:27] nithusha21 commented on #4367
Sorry, I had missed the earlier ping. This issue is complete and can be closed. It was completed in #4753.

[2018-03-30 17:27] #4367 closed, assigned to paroothisumit

[2018-03-30 17:28] jacobdavis11 commented on #4836
Thanks Mark.

[2018-03-30 17:28] #4836 closed

[2018-03-30 17:44] jacobdavis11 commented on #3604
I can reproduce this in Firefox, but not in Chrome.

[2018-03-30 19:24] akumar1503 commented on #4821
hi, i have submitted a PR, it will be done soon.

[2018-03-30 19:30] jacobdavis11 commented on #4821
Thanks. Link to PR: https://github.com/oppia/oppia/pull/4827

[2018-03-30 20:39] jervis446 commented on #4600
Hey, @jacobdavis11  @tjiang11 I've tested all  .mp3 files in different bitrate (96kbps to 320kbps) and @DubeySandeep was right about that given file. So overall audio upload functionalities is working well for .mp3 files

[2018-03-30 21:22] seanlip commented on #3025
That's a really good question. I think, for accessibility issues, let's assume that the user is using a desktop computer. Accessibility for web interfaces on mobile is trickier and we will need to investigate this separately in more detail.

[2018-03-30 21:25] apb7 commented on #3905
Hi @seanlip, I am planning to pick-up `Directives should have an explicit scope key and it should not be scope: true`. I have thought of this approach: For each `templateUrl` in any directive file, there should be a scope. We recently implemented the `_check_html_directive_name` function which finds all `templateUrl` in a directive using a regexp. We could add a regexp for `scope:` in the same fun

[2018-03-31 00:03] seanlip commented on #3905
I think that's fine but you don't need to check for templateUrl right? I mean, every directive should have a scope, period.

[2018-03-31 00:13] #4422 closed, assigned to nobody

[2018-03-31 00:37] apb7 commented on #3905
Understood! Then how do we go about identifying directives? Thanks!

[2018-03-31 01:05] seanlip commented on #3905
`oppia.directive(...)`?

[2018-03-31 06:11] kevintab95 commented on #4661
Guys, I haven't been able to debug this. Unassigning myself for now. Please feel free to assign yourselves, if you'd like to work on this. Thanks.

[2018-03-31 06:16] apb7 commented on #3905
Yes, got it. Thanks!

[2018-03-31 09:04] vibhor98 commented on #4374
Hi @GanitGenius , Are you working on the assigned files for updating the docstrings? Thanks!

[2018-03-31 18:33] pandeykartikey commented on #1449
@jacobdavis11 Actually, I was busy with the proposal for GSoC. So no progress has made on it.
@seanlip I meant where does a user get informed that there is a reply to the feedback thread.

[2018-03-31 18:37] akumar1503 commented on #4374
@vibhor98 yes i will do it soon, need some more time.

[2018-03-31 18:45] pandeykartikey commented on #4411
@seanlip It's clear now I thought that we had to click on the notes icon, rather than drag and drop.
I came across a fact that there are lines which remain in the solution for a high pitched note or low pitched note. Attaching the screenshot of the same.
![2018-04-01_12 14 48](https://user-images.githubusercontent.com/24077854/38166450-b57aa95c-3541-11e8-9104-8f34d5f285f5.png)
I think they should

[2018-03-31 20:21] seanlip commented on #4411
That's a good catch! Could you file an issue for that? It might be a separate thing.

Also, do you now have sufficient information to tackle this issue?

[2018-03-31 20:21] seanlip commented on #1449
By email, as I mentioned.

[2018-03-31 21:04] pandeykartikey commented on #1449
So I need to provide a link in the mail which directs to the particular message?

[2018-03-31 21:07] pandeykartikey opened #4842 "MusicNotesInput interaction is not playable"
[EDIT by @seanlip: see updated comment [here](https://github.com/oppia/oppia/issues/4842#issuecomment-1274125672) for a more up-to-date issue description.]

There are lines which remain in the solution for a high pitched note or low pitched note after removing them from the dragged position.
Here is the screenshot of the same.
![2018-04-01_12 14 48](https://user-images.githubusercontent.com/240778

[2018-03-31 21:10] pandeykartikey commented on #4411
I have filed this issue in #4842 .
Yes, I think I can start working on the issue.

[2018-03-31 23:27] seanlip commented on #1449
Yep.

[2018-03-31 23:43] DubeySandeep commented on #4756
@tjiang11, After investigating this issue, I came to know that $translate use to store cookies which depends on path i.e, stores different cookies for /library, /collection, /explore and this is because of the default behavior of $cookies service. So I found three ways to solve this issue and I wasn't sure which one to pick:

1. To make $cookies default path "/" : I'm not sure about this because m

[2018-04-01 06:42] jervis446 commented on #3576
Hi @jacobdavis11 Yes, you are right I'm planning to work on it

[2018-04-01 06:44] jervis446 commented on #3576
@jacobdavis11 I'm busy by Wednesday, can I work on this later?

[2018-04-01 10:13] apb7 commented on #3905
Hi @seanlip, I have implemented the scope check using [`pyjsparser`](https://github.com/PiotrDabkowski/pyjsparser). This parser creates an AST tree for JS files using esprima settings. There are a number of directives which do not have a scope. What should be done for them? Also, some have scope set to true. What needs to be done for them as well?
Thanks!

[2018-04-01 10:16] seanlip commented on #3905
Modify them to have a scope (and make sure that everything still works!).

[2018-04-01 10:40] apb7 commented on #3905
Okay, understood. Thanks!

[2018-04-01 11:15] apb7 commented on #3905
@seanlip: For directives not having any scope, I'm adding `scope: false` which is the default value of `scope` but I had a doubt. I think some directives having `scope: true` in `extensions/objects/templates` are not being used. For these, can we have `scope: {}`? Please correct me if I am going wrong somewhere.
Thanks!

[2018-04-02 02:34] sdiwanji commented on #3968
Hello @shubha1593 , @seanlip . I would like to get started on any one of the tasks that still need to be completed. Thanks!

[2018-04-02 02:50] prasanna08 commented on #4190
@jacobdavis11 the job has been fixed in recent PR (#4755) but we are yet to test it on test server. @seanlip when can we trial run this job on test server?

[2018-04-02 06:25] seanlip commented on #3968
Hi @sdiwanji, sounds good, thanks! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first? Once you've done that, let us know and we'll suggest an issue. Thanks!

[2018-04-02 06:27] seanlip commented on #4190
Whenever you like :) Send me an email giving me steps on what to do, and I'll do it (since I'm coordinating the next release).

Thanks!

[2018-04-02 06:38] seanlip commented on #3905
By default all scopes should be `scope: {}`.

One thing to be careful about is that this might break scope inheritance, in which case we'll need to find some sort of workaround. In some cases that might be simple and in other cases that might be harder, so it may be worth sorting out the easy ones first and leaving the harder ones for further discussion or a separate PR.

[2018-04-02 07:23] seanlip commented on #4756
Great investigation!

I don't think we're using $cookies for anything other than translations, so 1&3 sound like reasonable options. I think either/both of these is fine, as long as it works properly. @tjiang11 what do you think?

[2018-04-02 07:56] aks681 opened #4846 "Remove the notion of “collection skills”."
Currently, there is a skills implementation, as part of collections. This needs to be removed as a first step to having a global construct for skills, which can then be implemented in topics and stories, which are also to be created later.
This issue is meant to track the collection migration required to remove the concept of "collection skills".

[2018-04-02 08:02] aks681 opened #4847 "Add a role for topic managers"
New constructs are to be created for topics and stories, in the future.
Hence, as a prerequisite for that, a separate topic manager role is required, who will also be able to create and manage topics (like add skills and stories to it), apart from admins.
This issue aims to track the creation of this role.

[2018-04-02 08:10] jacobdavis11 commented on #3576
Sure, thanks.

[2018-04-02 17:18] BenHenning commented on #4190
Also as I recall, wasn't this issue found when testing with Oppia production data rather than just on the test server?

[2018-04-02 19:12] apb7 commented on #3905
@seanlip: If any directive does not have an explicitly defined scope, then it is equivalent to `scope: false` (Please see [this link](https://www.3pillarglobal.com/insights/angularjs-understanding-directive-scope)). Therefore we should use this instead of `scope: {}` for such directives. Please correct me if I am going wrong somewhere. Also, I am planning to make an initial PR for such directives

[2018-04-02 19:28] tjiang11 commented on #4756
Correct me if I'm wrong, but I think the path is already being set to "/" for translation cookies, though it seems like that hasn't solve the problem. So if you find that 1 doesn't work, 3 may be a nice option to try. 1 seems like it should be the more straightforward solution though, so I might try that first.

[2018-04-02 19:30] DubeySandeep commented on #4756
If we will make $cookies default path "/" then it will resolve the issue for new guest users but the guest users who already have cookies for /collection path in their browser they will still face the issue as because of $cookies.get will use /collection path cookies first then it'll move to "/" and there is no way to make a get request with path attribute in $cookies. So to resolve this issue we

[2018-04-02 19:33] DubeySandeep commented on #4756
@tjiang11, I was too writing the same thing at the same time :p.

Follow-ups:
Writing 3 will also not work as $cookies.get() firstly checks for "/collection" and if not found then it checks "/".

[2018-04-02 19:59] DubeySandeep commented on #4756
@tjiang11, yeah everytime we change the language we use to save this on the path "/" ([here](https://github.com/oppia/oppia/blob/b2f102f6dba86281428261bd4464f1b50a3e4077/core/templates/dev/head/i18n.js#L66)), but for `/collection/0` $cookies look for `NG_TRANSLATE_LANG_KEY` on `/collection` path and as no such value is there it uses `en` and $translate.use('en') stores another cookie on `/collecti

[2018-04-02 20:02] seanlip commented on #4756
Just to check -- you mentioned removing NG_TRANSLATE_LANG_KEY from non-"/"-paths, but said it didn't sound good to you. Could you explain why?

[2018-04-02 20:02] seanlip commented on #3905
Actually, what I want to introduce is an explicit isolate scope for all directives, rather than allowing them to inherit parent scope. Hence the default of `scope: {}`.

Initial PR sounds good, thanks!

[2018-04-02 20:15] DubeySandeep commented on #4756
@seanlip, As we can remove `NG_TRANSLATE_LANG_KEY` data from `/collection` or `/explore` path but let's assume in past an user (accidentally) have visited `oppia.org/exp/asb34djans3` then there would be one cookie for `NG_TRANSLATE_LANG_KEY ` as for "/exp" path (value = "en") in his/her browser.. and after this changes (removing cookies)  if he changed the language to "hindi" from library page the

[2018-04-03 00:00] seanlip commented on #4756
So here's the thing I'm not sure I understand. You mentioned that "If we will make $cookies default path "/" then it will resolve the issue for new guest users", which made me think "OK, can we get existing guest users into a 'new guest users' state"?

If that's correct, then wouldn't removing cookies in subpaths work? On the other hand, if it doesn't work because the cookie is wrong when they vis

[2018-04-03 09:10] pandeykartikey commented on #4411
@seanlip There seems to be no function which verifies the validity of the solution of music note input. Can you tell me what conditions the music text input solution must satisfy so that it is called a valid solution?

The MathExpressionInput seems to work correctly for entering the solution but there is an issue that no modal comes up for placeholder text.

[2018-04-03 09:28] seanlip commented on #4411
Music note input: should be a list of notes, all of duration 1/1, from C4 to A5 (IIRC). (You can verify this by figuring out what is possible to construct using the existing UI.)

I don't understand what you mean with regards to the MathExpressionInput? (Or maybe that part's been fixed since the issue was filed -- @pandeykartikey, could you confirm if this is the case, and if so, @1995YogeshSharma

[2018-04-03 09:32] pandeykartikey commented on #4411
I am able to add a solution to MathExpressionInput.
But I am not able to add the question to the same. It keeps on showing me
`This interaction cannot be modified. To delete it, close this popup and click the 'x' button in the top-right corner. `

[2018-04-03 09:33] seanlip commented on #4411
I don't think MathExpressionInput supports a placeholder -- see extensions/interactions/MathExpressionInput/MathExpressionInput.py. So that part seems to be working as intended (@1995YogeshSharma, could you verify?)

And @pandeykartikey -- I think in that case it's fine to just treat this issue as pertaining to MusicNotesInput. It sounds like the MathExpressionInput has been fixed.

Thanks!

[2018-04-03 09:34] seanlip commented on #4411
(Also FYI, the question for MathExpressionInput would normally be added in the "content" field above it. A placeholder, if one exists, is usually used to give a hint as to what type of thing to enter, and it shouldn't be depended upon by the creator.)

[2018-04-03 09:35] pandeykartikey commented on #4411
Thanks for the clarification.

[2018-04-03 09:36] pandeykartikey commented on #1449
@prasanna08 Could you help me setting up the mailing service?

[2018-04-03 14:34] pandeykartikey commented on #4411
My solution is to add an event listener in the `getInteractionHtml` and whenever there is a change call `isSolutionValid` and then pass that value to `setInteractionAnswerValidity`.
Is this approach an optimal one as these changes would also be reflected in other places where `getInteractionHtml` is being called?

[2018-04-03 22:03] seanlip commented on #4411
Hm, I don't know. It seems like a big change for just one interaction. Can you explain why it is needed and why it isn't possible to just do some kind of local change to the MusicNotesInput interaction instead?

[2018-04-04 14:01] pandeykartikey commented on #4411
There is a need to add an event listener which fires whenever there is a change in solution so that we can check whether the solution is valid or not. But no such event listener exists and as the solution modal is a bound template we need to modify it also to add such an event listener.

[2018-04-04 17:19] saching97 commented on #3977
Hi @jacobdavis11 @Arunabh98 ,
I was thinking about having a tool-tip as seen in the screenshot, what are your views on this?
![tooltip](https://user-images.githubusercontent.com/24409931/38323206-3a914e46-385a-11e8-8b3f-b77afb4e4f6a.png)
![tooltip2](https://user-images.githubusercontent.com/24409931/38323207-3aef787c-385a-11e8-931f-dad0402520e4.png)