[2022-08-24 17:47] Nik-09 commented on #13162
@JianyiGao Done

[2022-08-24 20:34] U8NWXD commented on #10211
@seanlip OK thanks for noting that this hasn't been completed. However, since it's been abandoned for 2 years (last update was Aug 17, 2020), was it still appropriate to close this based on our new issue-closing policy? (Just want to make sure I understand the policy.)

It's not clear to me how this issue would fix @nithinrdy's problem, but that might just be because I don't understand what's supp

[2022-08-24 20:45] U8NWXD commented on #10211
Sure. However, note that not all issues were closed because they were done. I also closed issues that I didn't expect to get to within 2 years, in line with our new triage policy. Here are the issues I closed that I'm not 100% sure about:

* [ ] https://github.com/oppia/oppia/issues/12662
* [ ] https://github.com/oppia/oppia/issues/12466
* [ ] https://github.com/oppia/oppia/issues/15299
* [ ] http

[2022-08-24 20:59] U8NWXD commented on #9648
This debugging tool has now been documented: https://github.com/oppia/oppia/wiki/Debug-frontend-tests#downloading-the-combined-testsspecjs-file

[2022-08-24 20:59] #9648 closed, assigned to nobody

[2022-08-24 22:01] #15885 closed, assigned to kevintab95

[2022-08-24 23:40] yavik-kapadia commented on #14419
@nithinrdy could you assign NAMES, FILTER_FIELD_NAMES, and PARAM_NAMES to me?

[2022-08-24 23:48] kevintab95 opened #15942 "Missing ExplorationStatsModel corresponding to migrated exploration version"
After running the Exploration Migration Job, it was observed that playing migrated explorations resulted in a backend error of the form "ExplorationStatsModel id="xxx.123" does not exist".

[2022-08-25 03:29] seanlip commented on #10211
Thanks @U8NWXD! Of the items in the list, the only two I'm not sure about are #12117 and  #12662. Let's discuss them at the dev workflow leads meeting on Friday.

For the other two points (whether it's appropriate to close the issue, and whether it fixes the problem @nithinrdy reported), let me get back to you after discussing with Ben. I suspect that we might need to sharpen the 2-year criterion

[2022-08-25 04:00] paprajapati9 opened #15944 "Leaner Groups Feature: Standardise use of "learner" instead of "student""
Currently we use "student" in backend models and services of learner groups, replace the usage of "student" with "learner".`
The changes are to be done across variable and function names.

[2022-08-25 06:10] nithinrdy commented on #14419
@yavik-kapadia Done!

[2022-08-25 07:41] paprajapati9 commented on #15944
Implemented in #15840

[2022-08-25 07:41] #15944 closed, assigned to paprajapati9

[2022-08-25 17:33] SanjaySajuJacob commented on #15875
@kevintab95, as of now, question creation from scratch has no issues, but when I try to update a question after its been saved once, I am able to click the save button unlike how it is described in this issue, but a lot of errors occur which prevents the updates on the question from being saved.
For example I made a question with a numeric interaction and saved it, after which I deleted the intera

[2022-08-25 18:33] sagangwee opened #15947 "[CD Admin Dashboard] Create design doc for admin dashboard PRD changes"
The [admin dashboard PRD](https://docs.google.com/document/d/1_vvewEwviQjtPvZy9yo74eCcRTQNcQKyCgdHNpyWNWw/edit?usp=sharing) work items are almost finalized, and we can begin to think about the implementation.

At a high-level, the dashboard will show a table of contributors (one contributor for each row). Each row will provide some contributor stats, e.g.:

![Image](https://user-images.githubuserc

[2022-08-25 18:38] sagangwee commented on #13045
Closing in favor of the new PRD changes: https://github.com/oppia/oppia/issues/15947.

[2022-08-25 18:38] #13045 closed, assigned to nobody

[2022-08-25 18:41] sagangwee opened #15948 "[CD Translation] Fix slow loading of lessons on the "translation review" page"
Some topics are taking 10+ seconds to load their translatable lessons:

https://user-images.githubusercontent.com/9004726/186743228-251c2930-3faa-470b-89f9-0807ab857198.mov

May be related to https://github.com/oppia/oppia/issues/15710.

[2022-08-25 22:31] kevintab95 commented on #15877
This has been fixed in https://github.com/oppia/oppia/pull/15934. It will be cherrypicked for the August release. Thanks!

[2022-08-25 22:31] #15877 closed, assigned to kevintab95

[2022-08-26 03:35] seanlip commented on #10211
@BenHenning PTAL

[2022-08-26 07:03] kevintab95 opened #15950 "Introduce a lint check to prevent direct DOM manipulation."
We should avoid direct DOM manipulation as much as possible in the codebase. This is because direct manipulation can't be tracked by Angular and can lead to unexpected issues. As a measure to prevent this in the future, we could have a lint check that prevents the usage of methods that manipulate the DOM. The following method a can be checked for:
- Element.setAttribute()
- Node.appendChild()

We

[2022-08-26 07:31] sidkhuntia commented on #12912
@vojtechjelinek @DubeySandeep  can you assign me any available checks?

[2022-08-26 11:35] Shivkant-Chauhan commented on #15692
heyy @Lawful2002, can I work on this issue?

[2022-08-26 12:49] Lawful2002 commented on #15692
@Shivkant-Chauhan Done!

[2022-08-26 16:58] U8NWXD opened #15952 "On Windows, print instruction to point browser to localhost manually when running scripts/start.py"
Raised in https://github.com/oppia/oppia/issues/14202#issuecomment-1035263481

[2022-08-26 17:12] divyanshkhetan commented on #15486
I won't be able to work on this issue anymore because of some time constraints. Can anyone else take up this issue? Thanks!

[2022-08-26 18:09] U8NWXD commented on #14202
Tracked in https://github.com/oppia/oppia/issues/15952

[2022-08-27 01:47] mosesdede opened #15954 "algebra"
love  lessosns

[2022-08-27 04:08] seanlip commented on #15954
Thanks! Glad to hear.

[2022-08-27 04:08] #15954 closed, assigned to nobody

[2022-08-27 05:53] Shivkant-Chauhan commented on #15692
@heyimShivam buttons behaviour is correct in my development server. please PTAL

https://user-images.githubusercontent.com/91013793/187016955-4a428010-896f-4c63-a0ac-ed36844269e6.mov

[2022-08-27 07:20] Shivkant-Chauhan commented on #15920
@Lawful2002 I have fixed the issue along with some other changes.

[2022-08-28 01:45] paprajapati9 opened #15961 "Fix use of "trackBy" in "ngFor" in html components of codebase"
**Describe the bug**
Currently `trackBy` is used as `let skillWithDifficulty of linkedSkillsWithDifficulty; trackBy: index` in code but trackBy expects a function `trackByFn`. See documention for reference https://angular.io/api/common/NgForOf#description

**Expected behavior**
Change the usage of trackBy attribute in ngFor so that a function is passed in it. We should create a util function `cons

[2022-08-28 06:25] shefali12-ab commented on #15950
Hey, @kevintab95 is anyone doing this lint check for this issue.

[2022-08-28 16:36] #15756 closed, assigned to Shivkant-Chauhan

[2022-08-28 18:43] iamprayush opened #15962 "Exploration state validation not visible on hover."
**Describe the bug**
Upon hovering over an exploration state card in the graph, if the state card has a validation error, the error message should show up but it doesn't.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add a state with some validation error (eg. don't connect it to the end state).
 3. Hover over the state card in the graph viz.
 4. Notice that

[2022-08-29 06:19] Shivkant-Chauhan commented on #15904
hey @Lawful2002! can you please assign this issue to me?

[2022-08-29 07:28] vojtechjelinek commented on #12912
@sidkhuntia Done, sorry for delay.

[2022-08-29 13:54] nithinrdy commented on #14218
Hello, thanks for opening this issue!

Unfortunately, I don't think this issue can be worked on right away.

 - For starters, there don't appear to be any mocks (even simple/rough ones) for how the tooltips are meant to work/look like.
 - Moreover, the issue description states how tooltips are a major part of modern websites, but doesn't actually elaborate on what these websites are and how they u

[2022-08-29 13:54] #14218 closed, assigned to nobody

[2022-08-30 00:44] kevintab95 commented on #15962
Just an update, I checked if this occurs in the on-going release and can confirm that it doesn't. We will fix this before the next release goes out.

Proof on release-3.2.8
![hover_1](https://user-images.githubusercontent.com/11008603/187323304-f2292899-6983-43d5-a592-9d55ee7ff88d.gif)

[2022-08-30 02:03] kevintab95 commented on #15883
Hi @U8NWXD, I am unable to reproduce this issue on the test server or locally on the develop branch. Could you please check if this still occurs? Thanks!

Here's what it looks like at my end:

https://user-images.githubusercontent.com/11008603/187332296-a9d775ed-8976-4e85-a889-4fdb683fed37.mp4

[2022-08-30 03:44] kevintab95 commented on #15875
Per discussion with @SanjaySajuJacob, I will be taking over the fix for this.

[2022-08-30 05:20] jahd2602 commented on #9648
@U8NWXD thank you, this looks really helpful! I can't wait to try it.

[2022-08-30 06:38] kevintab95 commented on #15204
Fixed in https://github.com/oppia/oppia/pull/14846. Closing.

[2022-08-30 06:38] kevintab95 commented on #15193
Fixed in https://github.com/oppia/oppia/pull/14846. Closing.

[2022-08-30 06:38] #15193 closed, assigned to nobody

[2022-08-30 09:00] kevintab95 commented on #7445
Update: I was able to reproduce this consistently. Here's a screen recording of what I did:

https://user-images.githubusercontent.com/11008603/187391789-71140f61-d521-4892-8670-580f57105fa0.mp4

1. Create 2 paragraphs in the RTE.
2. Add 2 images one after the other.
3. Try to copy part of the 2nd paragraph and the first image.
4. Paste the content at the top.
5. See Error.

I tried to perform err

[2022-08-30 09:10] BenHenning commented on #10211
I think this still makes sense to keep open from our new close policy, but we probably want to hand it specially. We definitely want to introduce a test mode to the server as part of implementing robust feature staging, but we haven't prioritized utilizing feature staging due to needing to dedicate resources to more important user-facing efforts. For that reason, it doesn't make sense to close sin

[2022-08-30 09:22] kevintab95 commented on #6531
The issue with the Grammarly plugin seems to be fixed now per https://github.com/ckeditor/ckeditor4/issues/1350. Noting we haven't seen this error show up in stackdriver for a while and I am unable to reproduce this on develop. Closing for now.

Proof

https://user-images.githubusercontent.com/11008603/187400338-f98e8668-8012-42f2-bce1-74024191580b.mp4

[2022-08-30 09:22] #6531 closed, assigned to nobody

[2022-08-30 09:38] seanlip commented on #15927
Update: per https://github.com/oppia/oppia/pull/15928#discussion_r954188652, let's instead try to avoid the put call (line 492) in case of any validation error, and have just a single job. That job does the full audit and then in its next step it actually does the puts. If any exp fails then no migrations are carried out at all and the errors are shown to the release coordinator.

This should keep

[2022-08-30 10:01] kevintab95 commented on #12490
This may not be relevant anymore, we introduced schema validation for `AnswerSubmittedEventHandler` args in https://github.com/oppia/oppia/pull/14494 and we use normalized_payload instead of payload, which is set as part of normalizing the payload data. Closing for now.

[2022-08-30 10:01] #12490 closed, assigned to nobody

[2022-08-30 10:47] sidkhuntia commented on #12912
I am facing a problem @vojtechjelinek @DubeySandeep
 I think I don't need to change the line `file = open(filename, mode, encoding=encoding, newline=newline) `  for pylint here.
[code]
As of doing so, I can't start the server.

[2022-08-30 10:48] kevintab95 commented on #14895
Happens when only one of the version numbers is set in the dropdown in the history tab component when comparing versions.

[2022-08-30 12:06] vojtechjelinek commented on #12912
@sidkhuntia Hmm, yeah I agree, just add a pylint disable for that line and explanatory comment why is it added.

[2022-08-30 12:53] Shivkant-Chauhan commented on #15904
@kevintab95 the page needs to be refreshed afterwards the user has toggled the "Shuffle choices" button to get the desired changes. Should I add some code for reloading that page?

[2022-08-30 19:38] kevintab95 commented on #13471
Closing this since it hasn't occured in a while. Also, noting that the component mentioned in the stacktrace in https://github.com/oppia/oppia/issues/13471#issuecomment-1059718360 has been migrated, so it may not be relevant any more.

[2022-08-30 20:52] #15875 closed, assigned to kevintab95

[2022-08-31 02:52] seanlip commented on #14426
@kevintab95 will be looking into a proper fix for this.

[2022-08-31 05:11] U8NWXD commented on #15883
@kevintab95 I tried again, and this still happens. However, I only see the `INVALID` message when the region selected for the response is not the first one. In the example you posted a video for, try adding a correct response for `circle2` instead

[2022-08-31 05:46] Lawful2002 commented on #15690
@aks681 Are these issues fixed or are they yet to be done?

[2022-08-31 05:47] Lawful2002 commented on #15682
@IamEzio @paprajapati9 Can this issue be closed?

[2022-08-31 05:53] Lawful2002 commented on #15419
@paprajapati9 Can this issue be closed?

[2022-08-31 05:57] Lawful2002 commented on #15176
@lkbhitesh07 Should this issue be assigned to the validation task force?

[2022-08-31 06:02] Lawful2002 commented on #14840
@Manan-Rathi What is the status of this issue?

[2022-08-31 06:08] Lawful2002 commented on #14645
@paprajapati9 What is the status of this project?

[2022-08-31 06:09] #14560 closed, assigned to nobody

[2022-08-31 06:15] Lawful2002 commented on #14464
@bhavukJain Is this issue fixed?

[2022-08-31 06:18] JayVivarekar opened #15968 "Replace Material Icons with Font Awesome icons"
The Oppia frontend uses two icon families namely Font Awesome and Material icons. It has been decided to do away with Material icons throughout the frontend code and use only Font Awesome icons.
This issue requires you to replace the material icons with corresponding (or similar) Font Awesome icons.

### Getting Assigned.
Select around three files from the list given below and ask @JayVivarekar or

[2022-08-31 06:27] Lawful2002 commented on #13642
@kevintab95 Can this issue be closed?

[2022-08-31 06:31] kevintab95 commented on #13642
Hi @Lawful2002, sorry not sure if we have written an accessibility test for this yet.

[2022-08-31 06:36] kevintab95 commented on #15883
Thanks @U8NWXD for verifying this. I was able to reproduce this based on the suggestion in https://github.com/oppia/oppia/issues/15883#issuecomment-1232470946. This occurs in the exploration editor as well.

[2022-08-31 06:38] kevintab95 commented on #15883
It seems like the regression is possibly due to the migration of the html-select component. We seem to be converting the selected value into a number -- this results in NaN when the selected value is a string that does not represent a number. See https://github.com/oppia/oppia/pull/15674#discussion_r959206702

[2022-08-31 06:47] Lawful2002 commented on #15532
@lkbhitesh07 PTAL.

[2022-08-31 06:49] jahd2602 commented on #12310
@seanlip I tested on Chrome in https://www.oppiatestserver.org/contributor-dashboard and I am also not seeing the bug. I see that, in your screenshots, the upper part of the modal has its own scrollbars, and the modal occupies 2/3rds of the screen height. In my tests in develop and oppiatestserver this does not happen: The modal occupies the full screen height and allows me to scroll vertically.

[2022-08-31 06:59] jahd2602 commented on #15245
@sagangwee What is the url where you are seeing this? A screenshot may help too. Searching for the string (or parts of the string) in the codebase yields no results.

[2022-08-31 07:06] Lawful2002 commented on #13390
This issue is not reproducible anymore:

https://user-images.githubusercontent.com/73544247/187614898-d87faf22-20f0-4405-b083-a48eb8358ad5.mp4

[2022-08-31 07:09] Lawful2002 commented on #13146
![image](https://user-images.githubusercontent.com/73544247/187615465-918993d0-63a2-410c-a2e2-3d7544ddfd58.png)

[2022-08-31 07:10] kevintab95 commented on #15883
@heyimShivam is investigating this (thanks @heyimShivam!)

[2022-08-31 07:57] Shivkant-Chauhan commented on #15968
hi @vojtechjelinek @JayVivarekar. I am interested to work on this issue.

I randomly selected the last 5 files to work in. can you please assign me the issue with these files or more other files as per the requirements.
-  oppia/core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.html
-  oppia/extensions/interactions/ImageClickInput/directives/image-click-input-interaction.

[2022-08-31 09:41] Manan-Rathi commented on #14840
Don't know actually. Lost track of this issue.

[2022-08-31 11:19] lkbhitesh07 commented on #15532
Added this to the `Server Data Validation Task Force`

[2022-08-31 11:22] lkbhitesh07 commented on #15176
Yes, adding it now.

[2022-08-31 17:27] nettle790 commented on #15968
Hi
 I would like to work on the issues from files 3,4, and 5.

[2022-08-31 17:29] nettle790 commented on #15968
oppia/core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.html
  oppia/core/templates/components/question-directives/questions-list/questions-list.component.html
  oppia/core/templates/components/review-material-editor/review-material-editor.component.html

[2022-08-31 21:55] seanlip commented on #12310
Hm, there shouldn't be any difference between the two servers. The incorrect behaviour still happens for me on the oppia.org website. Weird!

Also I tried making a suggestion on the test server to see if I could reproduce, but I'm finding that I can't tag a question with a misconception, so I can't submit the question. Are you running into this issue too? If so it's probably higher priority...

ht

[2022-09-01 13:31] Lawful2002 commented on #15551
@Pelumihq Have you been able to successfully publish lessons with voice-overs?

[2022-09-01 14:39] JayVivarekar commented on #15968
@Shivkant-Chauhan @nettle790 Done.

[2022-09-01 15:34] Pelumihq commented on #15551
@Lawful2002 Yes I have, but I had to use an external recorder because the static sound keeps reoccurring whenever I use the recorder on the contributor's website.

[2022-09-01 19:32] rohitnandi12 commented on #15968
Hello, @JayVivarekar @vojtechjelinek
I would like to make a contribution. Please assign me these files.  6th, 7th, and 8th files from the bottom.

 oppia/core/templates/pages/story-viewer-page/navbar-pre-logo-action/story-viewer-navbar-pre-logo-action.component.html
 oppia/core/templates/pages/subtopic-viewer-page/navbar-pre-logo-action/subtopic-viewer-navbar-pre-logo-action.component.html
 oppia/

[2022-09-02 05:20] #15883 closed, assigned to heyimShivam

[2022-09-02 09:33] vojtechjelinek opened #15975 "Make sure that suggestions for explorations are removed"
Suggestions for explorations were deprecated both from the editors' and players' interface of the exploration. We need to make sure that all models that contain suggestions for explorations are removed as they are not needed anymore.

[2022-09-02 21:04] seanlip commented on #15968
Deassigning @nettle790 based on https://github.com/oppia/oppia/pull/15972.

@rohitnandi12 Please follow the "getting started" instructions first: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up

[2022-09-03 01:08] kevintab95 opened #15978 "[FE Test Flake] Testing filters should have all expected filters"
Logs:

[code]

Run: https://github.com/oppia/oppia/runs/8165552037?check_suite_focus=true

[2022-09-03 01:09] kevintab95 commented on #15412
Added  #15978 in the description.
/cc @gp201 FYI

[2022-09-03 01:19] gp201 commented on #15978
Thanks for reporting @kevintab95. Closing since it is a duplicate of #15414

[2022-09-03 01:19] #15978 closed, assigned to nobody

[2022-09-03 03:50] JayVivarekar commented on #15968
@rohitnandi12 Done.

[2022-09-03 15:51] sahiljoster32 opened #15982 "Narrow down the type for interaction customization args."
**Describe the bug**
According to the current codebase, we are defining a Union Dict type for interaction customization args which causes developers to use either assert or cast to narrow down the type.

**Obsreverd behaviour**
Currently, the codebase is written in a way that some functions are way too generic ( basically handling too many interaction customization args with single logic ) -- some

[2022-09-04 06:06] aaronlwan commented on #13162
@Nik-09 could I be assigned any three handlers? Thank you :)

[2022-09-04 07:59] Shivkant-Chauhan commented on #15968
@JayVivarekar
<img width="59" alt="image" src="https://user-images.githubusercontent.com/91013793/188303478-c7708622-7949-4891-8c23-d4757e60329a.png">

I am facing a problem, there is a blank box when I am trying to add a font awesome icon.
I think all the dependencies of font-awesome are already added in the script file because the same file I am working in also contains some font-awesome icons a

[2022-09-04 08:22] nithinrdy commented on #14394
Closing as per [Manan's observation of the issue not being reproducible](https://github.com/oppia/oppia/issues/14394#issuecomment-1038067216) and due to lack of response from issue author.

[2022-09-04 08:22] #14394 closed, assigned to Manan-Rathi

[2022-09-04 11:01] nithinrdy commented on #13601
I believe this issue has already been fixed ([a comment in #14747 with a clip showing the required warning popping up onto the screen](https://github.com/oppia/oppia/pull/14747#issuecomment-1022117265))

@kevintab95 PTAL!

[2022-09-04 13:02] nettle790 commented on #15968
Please send the issue file. I will check it out.

Sent from my iPhone

[2022-09-04 13:31] nettle790 commented on #15968
It is not a blank box.it is a fontawesome square icon

Sent from my iPhone

[2022-09-04 13:45] Nik-09 commented on #13162
Hi @aaronlwan I have assigned you SkillDataHandler, SuggestionListHandler, FlagExplorationEmailHandler.

[2022-09-04 18:46] Shivkant-Chauhan commented on #15968
Hi @nettle790. I am using a pen icon but it is showing a blank box instead. I also tried using other icons, still the same blank box was there in place of the icon.

[2022-09-04 19:25] nettle790 commented on #15968
I must check the file.

Sent from my iPhone

[2022-09-05 02:32] zaid-ismail031 commented on #15968
Hello @JayVivarekar  @vojtechjelinek. Can I please be assigned the following files:
- oppia/core/templates/pages/skill-editor-page/navbar/skill-editor-navbar.directive.html
- oppia/core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.html
- oppia/core/templates/pages/story-editor-page/navbar/story-editor-navbar.component.html

Thank you.

[2022-09-05 04:12] Pankaj-SinghR commented on #15314
Sorry guys due to my college exams I couldn't work on it.. but now I have started working on it, I'll raise the PR soon

[2022-09-05 06:03] karenbanci commented on #15793
## There are difference when I open Oppia in localhost and .org

In oppia.org, the issue is the same as in issue #15793
<img width="1912" alt="Screen Shot 2022-09-04 at 10 56 21 PM" src="https://user-images.githubusercontent.com/88203154/188371108-8c703b1c-a399-4119-a943-6cabc6272f22.png">

\\Here, when I open in localhost
<img width="1916" alt="Screen Shot 2022-09-04 at 10 52 26 PM" src="https://

[2022-09-05 07:04] KolliAnitha opened #15985 "Unable to save progress of an exploration"
**Describe the bug**
Unable to save progress of an exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia.org'
 2. Click on 'Learn' - Fractions
 3. Click on Continue for few pages
 4. Click on info icon

**Observed behavior**
Save progress button is not clickable

**Expected behavior**
User should be able to save the progress of the lesson

**Screenshots / Videos**
[Screen

[2022-09-05 07:09] KolliAnitha opened #15986 "On answering a question in an exploration, the three dots should animate properly while the response is loading"
**Describe the bug**
On answering a question in an exploration, an unwanted character is seen while the response is loading

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Learn' - Basics of Addition
 2. Click on 'Addition and Subtraction' - Click on Conitnue
 3. For any question enter an answer
 4. See the screen while the response is loading

**Observed behavior**
'-' is seen while

[2022-09-05 07:16] KolliAnitha opened #15987 "Content is not aligned properly when an incorrect answer is given"
**Describe the bug**
Content is not aligned properly when an incorrect answer is given

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Learn' - Basics of Addition
2. Click on 'Addition and Subtraction' - Click on Conitnue
3. For any question enter an incorrect answer
4. See the screen after the response

**Observed behavior**
Content is not aligned properly when an incorrect answer is

[2022-09-05 07:16] karenbanci opened #15988 "Duplicate class: "oppia-profile-picture-container" from the file (preferences-page.component.css) which is wrapping the modal with the same class name in the file (oppia.css)"
**Describe the bug**
There are two different html files that contain the same class name which is interfering with editing the upload profile picture.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Preferences'
 2. Click on 'Change profile picture'
 3. Open Inspect element and look for class"oppia-profile-picture-container" compare with oppia.org
 4. See error

**Observed behavior**

[2022-09-05 08:43] KolliAnitha opened #15992 ". is seen at the end for an option in Customize interaction(Item Selection) dialog box"
**Describe the bug**
. is seen at the end for an option in Customize interaction(Item Selection) dialog box

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator dashboard'
 2. Click on 'Create Dashboard'- Add Introduction
 3. Click on Add Interaction
 4. Select Item Selection
 5. See dialogbox

**Observed behavior**
. is seen at the end for 'Minimum number of selections permitted'

[2022-09-05 09:58] KolliAnitha opened #15993 "Unwanted spaces are seen in Add Response dialog box when only one option is selected in Item selection"
**Describe the bug**
Unwanted spaces are seen in Add Response dialog box when only one option is selected in Item selection

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator dashboard'
 2. Click on 'Create Dashboard'- Add Introduction
 3. Click on Add Interaction - Select Item selection
 4.Enter 1 into items for selection and save interaction
 5. See Add Response dialogbox

**O

[2022-09-05 10:07] KolliAnitha opened #15994 "Close button in concept cards should have a layout to indicate that it is a button"
**Describe the bug**
Close button in reference cards should have a layout to indicate that it is a button

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Learn' - Addition and Subtraction
 2. Click on 'here' link
 3. Concept card opens up
 4. See close button

URL: oppia.org

**Observed behavior**
No border is seen around Close to indicate that it is a button

**Expected behavior**
C

[2022-09-05 11:05] sahiljoster32 opened #15995 "Narrow down the type for issues customization args"
**Describe the bug**
Currently, for issues customization args we are defining a Union Dict type which forces developers to use assert every time they have to access the particular issue's value.

**Expected behavior**
Define a specific type for each issue dict -- basically each issue Dict should have it's own TypeDict and we should narrow the down type based on some condition only.

A discussion r

[2022-09-05 13:49] nettle790 commented on #15968
Hopefully this helps.

[2022-09-05 14:29] JayVivarekar commented on #15968
@Shivkant-Chauhan Which icon are you trying to replace? Can you specify the file?

[2022-09-05 14:31] JayVivarekar commented on #15968
@zaid-ismail031 Done

[2022-09-05 16:38] ashutoshc8101 opened #15997 "Refactor conversation skin component spec file."
**Describe the bug**
The current `conversation-skin.component.spec.ts` file only provides coverage but does not adequately cover all test cases from a behaviour-driven perspective.

The file needs to be refactored.

[2022-09-05 21:35] EricZLou opened #15998 "Drag and Drop Interaction Regression: has element x at position y"
This error occurred recently in production

[code]

**General instructions**
1. Go to production server (or local server).
2. Create exploration and add Drag and Drop interaction.
3. Try to add a `has element x at position y` rule.
4. See error.

**Notes**
In this video, the first error only occurs on a local server (not in prod). The second error is the one that is described in this issue. It occ

[2022-09-05 21:37] EricZLou commented on #15998
Tagging @kevintab95 as I see you doing other bug triaging -- thanks!

[2022-09-06 05:58] kevintab95 opened #16001 "Dismissing a concept card by clicking outside the modal throws Error"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 06:01] kevintab95 opened #16002 "ChunkLoadError Loading chunk # failed."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 06:01] kevintab95 commented on #16002
Seems related to https://github.com/webpack/webpack/issues/7502

[2022-09-06 06:10] kevintab95 commented on #6379
This was seen again in release-3.2.8. Reopening.

It seems to occur in a non English language exploration.

[2022-09-06 06:13] kevintab95 opened #16003 "Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 06:14] kevintab95 commented on #16003
This occured in an embedded exploration.

[2022-09-06 06:27] kevintab95 commented on #16003
This can happen when the browser blocks cookies and site data: https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document/

[2022-09-06 06:51] kevintab95 opened #16004 "Cannot read properties of null (reading 'getItem')"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 06:53] kevintab95 commented on #16004
The error seems to be occuring when `localStorage.getItem('direction')` is executed. It looks like localStorage is null in a scenario.

[2022-09-06 06:58] kevintab95 opened #16005 "Object.entries is not a function"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 07:03] kevintab95 commented on #16005
This occured on a Chrome 51 browser. Per https://caniuse.com/?search=object.entries, Chrome supports this only from 54. We could add a polyfill but I am a bit skeptical about it because the rest of the site may not work as expected given that v51 is quite old.

/cc @vojtechjelinek @seanlip

[2022-09-06 07:13] vojtechjelinek commented on #16005
Yeah, I would say that 51 is just too old for us to support, I think we should think about some way to convey this to our users.

[2022-09-06 07:23] kevintab95 opened #16006 "Cannot match any routes. URL Segment: 'node'"
This error occurred recently in production

[code]

[2022-09-06 07:27] kevintab95 commented on #16006
This error occured when the client was directed to `/learn/math/addition-subtraction/story/getExplorationUrl(node)`

[2022-09-06 07:32] Shivkant-Chauhan commented on #15994
I have opened a PR for the issue. Reviewers PTAL.

[2022-09-06 07:42] kevintab95 opened #16008 "ReferenceError: 'customElements' is undefined"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 07:46] kevintab95 commented on #16008
This happened on Edge 15, which does not support "customElements" (see https://caniuse.com/?search=customElements). We could add a polyfill to fix this. However, the client browser is too old and the experience navigating the app may not be great given that we use many modern ES features.

/cc @vojtechjelinek @seanlip

[2022-09-06 08:18] vojtechjelinek commented on #16008
Again, I think we should not support that old version, but we should somehow convey it to the users.

[2022-09-06 08:29] kevintab95 opened #16009 "Every parameter passed into interpolateUrl must have string values, but received: {entity_type: undefined}"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-06 08:51] kevintab95 opened #16010 "Fix property ordering logic in extend_index_yaml script"
The `extend_index_yaml` script seems to be sorting the order of property names in the index YAML files based on this:

https://github.com/oppia/oppia/blob/d4b06399ad2859df6917c5e18ce9024e452351d0/scripts/extend_index_yaml.py#L46-L65

This needs to be changed such that the order of property names remaing unchanged. This is because their order matters (see https://cloud.google.com/appengine/docs/leg

[2022-09-06 19:21] kevintab95 opened #16013 "TypeError: Cannot read properties of null (reading 'error')"
This error occurred recently in production

[code]

[2022-09-06 19:21] kevintab95 commented on #16013
This occured in the preferences page.

[2022-09-06 19:43] sahiljoster32 commented on #14033
@seanlip @aasiffaizal -- I think we can close this issue as we have covered all the files of the code/domain directory, Thanks.

@kevintab95 -- One question why Improvement label is added ?, I think all files of code/domain are covered.

[2022-09-06 19:55] kevintab95 commented on #14033
Considering this is an infra / maintenance related issue, I thought it was relevant to tag as "improvement" (as opposed to a "bug".)

[2022-09-07 01:00] seanlip commented on #16005
I think there are users who are using the site with old browsers and don't actually have much of a choice when it comes to upgrading. If it's easy to fix the error by polyfilling can we just do it?

Basically I suggest we try to support this on a best-effort basis (we won't test these environments rigorously but we can try to fix issues that we learn about as long as the fix is straightforward).

[2022-09-07 01:01] seanlip commented on #16008
See comment in #16005 -- I think there are users who are using the site with old browsers and don't actually have much of a choice when it comes to upgrading. So if it's easy to fix the error by polyfilling, maybe we could just do it? Basically, let's try to support this on a best-effort basis (we won't test these environments rigorously but we can try to fix issues that we learn about as long as

[2022-09-07 01:01] seanlip commented on #16008
Alternatively, if we have concrete evidence that the site as a whole doesn't work on older browsers, then let's at least display a notice to that effect.

[2022-09-07 02:32] seanlip commented on #15985
@paprajapati9 Could you PTAL at this? Thanks!

[2022-09-07 05:29] paprajapati9 commented on #15985
The recording shows expected behaviour. Save progress button is only shown when user is logged out, it is enabled to be clicked only when user completes at least 1 checkpoint. As the exploration in recording only had 1 checkpoint which was not completed, it's expected that the save progress button is disabled to be clicked. Thanks!

[2022-09-07 05:33] paprajapati9 commented on #15985
https://user-images.githubusercontent.com/42764756/188796547-e04a657c-01fe-40c6-b066-a9e351c1249a.mp4

[2022-09-07 05:34] paprajapati9 commented on #15985
Closing the issue as it is expected behaviour!

[2022-09-07 07:18] anniemacdev commented on #15968
Hi @vojtechjelinek @JayVivarekar. I would like to make a contribution. Can you please assign me the following files?

oppia/core/templates/components/question-directives/questions-list/questions-list.component.html
oppia/core/templates/components/review-material-editor/review-material-editor.component.html
oppia/core/templates/components/state-directives/answer-group-editor/answer-group-editor.com

[2022-09-07 09:22] jahd2602 commented on #12310
@seanlip I was seeing that bug last week, but I am not seeing it anymore in the test server, probably thanks to https://github.com/oppia/oppia/pull/15966

[2022-09-07 12:40] KolliAnitha opened #16015 "The label in the textbox to enter fraction has / symbol prior to the text fraction {x}{y}"
**Describe the bug**
The label in the textbox to enter fraction has / symbol prior to the text fraction {x}{y}

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator Dashboard'
 2. Click on 'Create Exploration' - Add Introduction
 3. Select 'Insert mathematical formula' option in the rich text components
 4. See the label in Customize this Component dialog box

**Observed behavior**

[2022-09-07 15:20] JayVivarekar commented on #15968
@anniemacdev Done

[2022-09-07 15:55] EricZLou opened #16016 "Dev server dummy topic should come pre-populated without any validation errors"
When loading the dummy topic on the dev server, it comes loaded with 4 validation errors. We should just pre-populate it to not have any validation errors. Otherwise, developers will always need to fix those errors before being able to publish it. It's also weird that I've always had this 1 SVG file saved on my computer just for the purpose of uploading it to Oppia's dev server.

[2022-09-07 17:30] kevintab95 opened #16017 "TypeError: Cannot read property 'status' of undefined"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-09-07 17:35] kevintab95 commented on #16017
The error was reported on this page: https://www.oppia.org/learn/math/place-values/story/jaimes-adventures-in-arcade

It occured with few other errors of the form:

[code]

Browser: Samsung Browser 3 on Tizen Linux (Smart TV)

[2022-09-07 17:38] kevintab95 commented on #16017
Similar error occured on this page:  https://www.oppia.org/learn/math/multiplication/story

With the following stacktrace:
[code]

[2022-09-07 17:45] kevintab95 opened #16018 "TypeError: Cannot read properties of undefined (reading 'disguiseToken')"
This error occurred recently in production

[code]

[2022-09-07 17:46] kevintab95 commented on #16018
User Agent is "Facebook Bot 1.1"

[2022-09-07 18:40] chris7716 opened #16019 "[CD] Submitter/reviewer stats should be cached"
The translation and question submitter/reviewer stats should be cached when fetching in order to reduce any time taken to fetch data.

Pre-fetching and caching stats data required for contributor badges would be helpful to avoid any lags.

[2022-09-07 19:42] seanlip commented on #12310
Thanks @jahd2602!

I took another look and just wanted to mention that this now looks good to me on both servers, in terms of the height of the modals! So perhaps it's just that we were waiting for the change to get deployed.

I think we can close this now, thanks for the fix!

[2022-09-07 19:42] #12310 closed, assigned to jahd2602, seanlip

[2022-09-07 19:59] sagangwee opened #16020 "[CD] Contributor Dashboard "My Contributions" UI bugs"
1. Tab names are squished again.
2. Username is duplicated.
3. Placeholder opportunity items when loading does not show animated gray boxes.

https://user-images.githubusercontent.com/9004726/188965947-680ca80c-a3fe-4368-ab5a-977aa5802295.mov

See https://github.com/oppia/oppia/issues/15948#issue-1351302281 for a reference of what the UI should look like (minus the spacing in the username header).

[2022-09-07 20:11] sagangwee commented on #16020
@Lawful2002 Could you take a look at this? It looks like the username changes were made in https://github.com/oppia/oppia/pull/15670.

[2022-09-07 20:11] sagangwee commented on #16020
@kevintab95 Did we see any of these issues during QA?

[2022-09-07 20:14] sagangwee commented on #15948
As mentioned in https://github.com/oppia/oppia/issues/15710, the latency is likely due to having to fetch all the reviewable suggestion objects when computing the reviewable lessons.

[2022-09-07 20:17] kevintab95 commented on #16020
The gray boxes issue didn't come up in QA but it does occur. Thanks for creating an issue.

The username issue does not seem to occur on the test server
![image](https://user-images.githubusercontent.com/11008603/188969287-af14a83c-0674-4010-8aad-c97107cd31e2.png)

[2022-09-07 20:27] sagangwee commented on #16020
I think the username will only be duplicated if the user is logged in and their username is > 8 characters.

[2022-09-07 20:32] sagangwee commented on #16020
Also noticed the reviewable suggestions back button has lost its styling:
<img width="899" alt="Screen Shot 2022-09-07 at 4 31 30 PM" src="https://user-images.githubusercontent.com/9004726/188971560-4af8689b-5821-43cb-b237-2d459efe37cb.png">
It used to look like:
<img width="771" alt="Screen Shot 2022-09-07 at 4 32 17 PM" src="https://user-images.githubusercontent.com/9004726/188971674-867cb5ec-41

[2022-09-07 20:40] PietroFracCab commented on #12912
Hello, @vojtechjelinek, can you kindly assign me any available issue?

[2022-09-07 21:45] sagangwee commented on #15948
A couple of options:

1. Start persisting a denormalized `TranslationSuggestionSummary` object that has the bare minimum amount of data to support the reviewable lessons feature, e.g. suggestion ID, language, exploration ID, suggestion status. We then update the `TranslationSuggestionSummary` whenever its corresponding suggestion gets updated. That way, the overall payload we retrieve from the dat

[2022-09-08 07:24] vojtechjelinek commented on #12912
@PietroFracCab Done.

[2022-09-08 07:34] paprajapati9 commented on #14645
I am not sure what is the status of the translate service project. @DubeySandeep might know more about it.

[2022-09-08 07:36] paprajapati9 commented on #15419
This issue was fixed in https://github.com/oppia/oppia/pull/15781

[2022-09-08 07:36] #15419 closed, assigned to paprajapati9

[2022-09-08 10:52] KolliAnitha opened #16021 "User is able to enter text into the interaction textbox when Add Response dialog is opened"
**Describe the bug**
User is able to enter text into the interaction textbox when Add Response dialog is opened

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Create Dashboard' - Create Exploration
 2. Click on 'Introduction' - Add content
 3. Click on Add Interaction - Select Text Input
 4. Add 10 rows - Save interaction
 5. Add Response dialogbox opens up
 6. See that the focus is

[2022-09-08 17:10] #15937 closed, assigned to kevintab95

[2022-09-08 17:10] #14895 closed, assigned to kevintab95

[2022-09-08 17:10] #15194 closed, assigned to kevintab95

[2022-09-08 17:10] #15204 closed, assigned to nobody

[2022-09-08 17:10] #15834 closed, assigned to kevintab95

[2022-09-08 17:10] #15004 closed, assigned to kevintab95

[2022-09-08 17:40] sagangwee opened #16022 "[CD] Auto-reject obsolete translation suggestions when corresponding exploration content is deleted"
When an exploration content node or an entire exploration state is deleted, all of its corresponding translation suggestions become obsolete, so we should auto-reject them. We'll also need to run a beam job to do this for all the currently obsolete suggestions in the datastore.

[2022-09-08 17:40] sagangwee commented on #15860
We will handle obsolete suggestions differently in https://github.com/oppia/oppia/issues/16022.

[2022-09-08 20:18] #16010 closed, assigned to vojtechjelinek, kevintab95

[2022-09-09 14:16] sahiljoster32 opened #16024 "Cover files with new backend type linters."
**Is your feature request related to a problem? Please describe.**
Currently, A small portion of the backend is still pending from being covered by the backend exceptional type linters.

Directories that are still pending from being covered:
 - [x] core/controllers
 - [x] extensions
 - [x] scripts

The reason why they are not covered yet:
Currently, these files are not covered with MyPy static typ

[2022-09-09 15:16] lkbhitesh07 opened #16026 "Maintaining RTE (Rich Text Editor) Data with Backend Validation Checks for Questions"
**All Validation Check Issues:**
- #13449
- #13603
- #13764
- #13820
- #13821
- #13822
- **[you are here]** #16026

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of futu

[2022-09-09 15:20] lkbhitesh07 opened #16027 "Maintaining Lesson Interaction Data with Backend Validation Checks for Questions"
**All Validation Check Issues:**
- #13449
- #13603
- #13764
- #13820
- #13821
- #13822
- **[you are here]** #16027

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of futu

[2022-09-09 16:52] #15924 closed, assigned to Shivkant-Chauhan

[2022-09-09 16:52] #15880 closed, assigned to Shivkant-Chauhan

[2022-09-09 17:08] seanlip commented on #15985
Hi @paprajapati9, I want to reopen this, I don't think it should be considered fixed yet.

The reason for this is that, looking at the video, it's going to be pretty confusing for a user if they undergo the journey @KolliAnitha went. That's because there's no message shown together with the disabled "save" button, so the UI just looks like it's not working. This means that other users are going to

[2022-09-09 19:15] U8NWXD opened #16028 "Avoid Redundant Builds and Installation in CI E2E tests"
## Overview

Currently, we re-run the installation and webpack build steps in each of our E2E tests. This results in redundant builds. We should instead re-architect the CI jobs to be something like this:

[code]

where jobs on the left run first, and lines connect dependent builds.

## Implementation

Roughly, here's the implementation approach I'm envisioning:

* Install and Build
  * Install de

[2022-09-09 19:44] U8NWXD commented on #16028
@yavik-kapadia Here's the issue for the redundant E2E CI steps. Does this make sense?

[2022-09-10 00:47] U8NWXD opened #16029 "E2E tests do not fail on errors in `beforeAll` blocks"
E2E tests do not fail on errors in the `beforeAll` code. For example in [this build](https://github.com/oppia/oppia/runs/8274894175?check_suite_focus=true), the only sign of a problem is this output (and some error messages surrounding it):

[code]

We really want the test to fail so that we get screenshots and don't have to hunt around for the error message.

Unfortunately, it looks like this is

[2022-09-10 02:48] #11686 closed, assigned to jahd2602

[2022-09-10 04:24] paprajapati9 commented on #15985
@seanlip We know of the the behaviour issue, it was raised by Diana in the [review doc](https://docs.google.com/document/d/1aJcQ1NqvYs5bRZ7Xru6TZdgBkc4XE13EKjYQJlJjmt4/edit#), and we have the PR https://github.com/oppia/oppia/pull/15991 open for it. The reason I closed the issue was because the issue says problem with save progress button not working which is not really the issue here, but we can

[2022-09-10 05:50] vinayp173 commented on #13162
@Nik-09 Could you please assign any three handlers to me as well?  thank you!

[2022-09-10 08:21] kevintab95 opened #16031 "Exploration models remain cached after running the MigrateExplorationJob"
**Describe the bug**
It was observed that the server would return the outdated, cached ExplorationModels despite running MigrateExplorationJob which internally deletes migrated exploration IDs from the cache.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run MigrateExplorationJob on the server with some unmigrated explorations.
 2. Check the history tab of a migrated exploration verify if

[2022-09-10 08:43] ShivamJhaa commented on #16029
The test failure which you have linked  is failing because of the beforeAll failure only, ptal [here](https://github.com/oppia/oppia/runs/8274894175?check_suite_focus=true#step:16:550). If we will take a look at the stack trace then we can even find the line of failure inside beforeAll where test is failing, see in the [end](https://github.com/oppia/oppia/runs/8274894175?check_suite_focus=true#ste

[2022-09-10 09:05] #15413 closed, assigned to nobody

[2022-09-10 15:04] U8NWXD commented on #16029
Ahh okay. I had missed that. I see that the failure from the beforeAll block was reported, but the test in the `it` block still looks to have executed based on these output lines:

[code]

Maybe that's why the screenshot is of a loading page instead of the RTE?

[2022-09-10 16:38] U8NWXD commented on #14187
Assigning IamEzio since this is part of their GSoC project

[2022-09-10 17:14] yavik-kapadia commented on #16028
Hi, it makes sense, I'll start looking into it :D

[2022-09-10 19:02] Nik-09 commented on #13162
@vinayp173 Done

[2022-09-11 09:51] seanlip opened #16039 "Race condition in topic-questions-tab.component.ts results in question editability rights being improperly set within the topic editor."
**Describe the bug**
If you go to a topic page and click on the question tab, then reload the questions tab, you can't edit new questions in the question editor. However, if you start from the main topic tab and then click on the questions tab, you can.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /admin > Roles, and make yourself a curriculum admin
 2. Create a new topic T and a n

[2022-09-11 09:55] seanlip commented on #16039
This happens because of this line: https://github.com/oppia/oppia/blob/de08d286e039d2f93a1a85c9667ead30c4fcd5db/core/templates/pages/topic-editor-page/questions-tab/topic-questions-tab.component.ts#L68

Here, topicRights is initialized only a little earlier in the function: https://github.com/oppia/oppia/blob/de08d286e039d2f93a1a85c9667ead30c4fcd5db/core/templates/pages/topic-editor-page/questions

[2022-09-11 12:40] Priyansh61 commented on #15141
Hey @Nik-09

I would like to work on this issue.

Can i be assigned to this? 😄

[2022-09-11 17:06] Nik-09 commented on #15141
Hi @Priyansh61, I have assigned you.

[2022-09-11 17:24] gp201 opened #16041 "Prevent duplicate describe descriptions in frontend tests"
**Is your feature request related to a problem? Please describe.**

Currently multiple tests seem to have similar describe descriptions, which makes it hard to identify which test is failing in the frontend tests.

For example:
https://github.com/oppia/oppia/blob/9c89123a2cbb7c2fff18e0bed9270eca4c918a98/core/templates/filters/format-rte-preview.filter.spec.ts#L26
https://github.com/oppia/oppia/blo

[2022-09-11 19:24] U8NWXD opened #16042 "E2E flake: “italiano (Italian) in Exploration Language is not visible.”"
Example: https://github.com/oppia/oppia/runs/8279239894?check_suite_focus=true

[2022-09-11 20:20] Priyansh61 commented on #15141
Hey @Nik-09 I have linked the PR do let me know if any changes need to be made.

[2022-09-12 02:23] Nivig1310 commented on #13162
@Nik-09 May I please have any three handlers assigned to me? :)

[2022-09-12 04:52] Nik-09 commented on #13162
@Nivig1310 Done

[2022-09-12 05:46] nithinrdy commented on #14419
@JeeveshGarg @vojtechjelinek PTAL -- with the merging of #15951, all classes listed in the issue have been covered.

[2022-09-12 05:49] Priyansh61 commented on #16015
Hey @KolliAnitha
Can i work on this issue?

[2022-09-12 06:34] #15141 closed, assigned to Priyansh61

[2022-09-12 07:11] seanlip commented on #15985
@paprajapati9 Thanks for the context! In that case ... do we have an issue filed for #15991? If not, we should file such an issue and then this can be closed as a duplicate of that other one.

[2022-09-12 07:13] seanlip commented on #14033
@sahiljoster32 Sounds good, closing it. Thanks!

[2022-09-12 07:13] #14033 closed, assigned to aasiffaizal

[2022-09-12 09:50] jsrkkunna7 commented on #15968
Hi @vojtechjelinek  @JayVivarekar. I am interested to contribute .Can you please assign issue from following files or from other files  as per the requirements.

oppia/core/templates/pages/library-page/search-bar/search-bar.component.html

oppia/core/templates/pages/library-page/library-page.component.html

oppia/core/templates/pages/admin-page/navbar/admin-navbar.component.html

 oppia/core/templ

[2022-09-12 10:33] SubhashThenua commented on #15968
Hi @vojtechjelinek @JayVivarekar. I am interested to contribute .Can you please assign issue from following files or from other files as per the requirements.

oppia/core/templates/pages/library-page/search-bar/search-bar.component.html

oppia/core/templates/pages/library-page/library-page.component.html

oppia/core/templates/pages/admin-page/navbar/admin-navbar.component.html

oppia/core/template

[2022-09-12 13:16] Shivkant-Chauhan commented on #15987
Margin-left was given implicitly to that paragraph in the rte-viewer. However, I have corrected it by removing that extra left margin.

[2022-09-12 14:55] Dorothy2020 opened #16046 "Dropdown menus for some contents are wider in the Navbar"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / Videos**
If ap

[2022-09-12 14:58] Dorothy2020 commented on #15962
I would like to help on the state validation not visible on hover

[2022-09-12 15:36] JayVivarekar commented on #15968
@SubhashThenua Done

[2022-09-12 17:52] ShivamJhaa commented on #16029
In webdriverio if any `it` block fails the tests stop executing that `it` block and move to next `it` blocks and webdriverio treats afterAll, afterEach, beforeAll, beforeEach same as `it` block. So yes even if the beforeAll will fail webdriverio will execute all the other `it` blocks.

[2022-09-12 19:27] kevintab95 commented on #13601
Thanks @nithinrdy! Closing per https://github.com/oppia/oppia/issues/13601#issuecomment-1236312018.

[2022-09-12 19:27] #13601 closed, assigned to kevintab95

[2022-09-12 22:43] sagangwee commented on #16020
@heyimShivam Could you double-check that bugs 1 and 3 were not introduced as part of the Angular migration? It looks like the lost styling of the back button was also due to the Angular migration. See https://github.com/oppia/oppia/pull/16025#issuecomment-1242639377. Thanks!

cc/ @ashutoshc8101

[2022-09-13 01:39] kevintab95 commented on #15942
### Steps to reproduce

1. Checkout 5f1b2e1 and start a local server.
2. Create and publish a simple exploration.
3. Visit the explore page for the exploration.
4. Keep the server running, and checkout branch `release-3.2.8`.
5. Flush cache using the misc tab of the admin page.
6. Visit the explore page.
7. Observe errors of the form `"ExplorationStatsModel id="xxx.123" does not exist"` in the con

[2022-09-13 01:43] kevintab95 commented on #15942
Next steps:

1. Handling new migrations: Update the exp migration beam job to properly create stats models. So that next time we run the migration job the stats models are created.
2. Current errors in Task queue: Add back "exploration stats regeneration" admin utility (see https://github.com/oppia/oppia/pull/13125#discussion_r654827189) that allows backfilling of stats models.

[2022-09-13 08:40] sahiljoster32 opened #16047 "Refactor BaseClasses to reduce the usage of `Any` type from the codebase."
**Is your feature request related to a problem? Please describe.**
Currently, In the backend codebase,  we have defined some BaseClasses with the methods that are expected to perform operations on different types in different sub-classes. Basically, these are the methods that are way too generalized for different types, and due to this generalized behavior, we are forced to use Any in BaseClasses.

[2022-09-13 09:16] Dorothy2020 commented on #15314
Hello, can I work on this issue

[2022-09-13 09:49] sahiljoster32 opened #16048 "Fix `last_updated` attribute's Optional[datetime] type for all suggestion classes."
**Describe the issue**
Currently, In all suggestion classes, we are providing None as a default value for `last_updated`, which causes an unusual typing pattern that does not match with the expected behavior ( ideally last_updated should not be None ).
https://github.com/oppia/oppia/blob/8e710ba0e6179e0cf5debc84c808a5cb40677a77/core/domain/suggestion_registry.py#L406
https://github.com/oppia/oppia

[2022-09-13 10:42] Pankaj-SinghR commented on #15314
sorry, but iam currently working on and i'll be raising a PR for it tommorrow

[2022-09-13 13:18] sahiljoster32 opened #16049 "Fix ambiguous usage of `assert_called()` and `return_value`"
**Describe the bug**
Currently, we are using `return_value` attribute and `assert_called()` method on JobBase's `run` method.

https://github.com/oppia/oppia/blob/8e710ba0e6179e0cf5debc84c808a5cb40677a77/core/jobs/base_jobs.py#L201
The problem here is that this return_value attribute and assert_called() method are never defined on `run` function, but still, we are using it.
https://github.com/oppi

[2022-09-13 14:25] Dorothy2020 commented on #13162
Hello, I am new to open source , i am looking for an issue to work on

[2022-09-13 14:28] Priyansh61 commented on #15923
Hey @Lawful2002 Can i be assigned to this issue ?

[2022-09-13 16:13] chris7716 opened #16051 "[CD] Migrate TranslationContributionStats to use first_contribution_date and last_contribution_date"
Currently `TranslationContributionStats` uses `contribution_dates` track the dates that translation submitters contributed. It does not really needed and only `first_contribution_date` and the `last_contribution_date` is sufficient in translation contribution stats. All other stats models i.e. TranslationReviewStats QuestionContributionStats QuestionReviewStats also use only `first_contribution_da

[2022-09-13 16:25] Pankaj-SinghR commented on #16049
@sahiljoster32 would you please assign it to me

[2022-09-13 18:02] Dorothy2020 commented on #15923
Can I help with the issue

[2022-09-13 18:06] Dorothy2020 commented on #15921
Hello, @kevintab95  can I be assigned to solve the issue

[2022-09-13 18:12] ShivamJhaa opened #16053 "E2E Flakes in develop"
**Describe the bug**
1. `First RTE element is not visible`
 **CheckpointFeatures**: https://github.com/oppia/oppia/actions/runs/3035138545/jobs/4884949268
2. `TimeoutError: Timeout awaiting 'request' for 120000ms when running "url" with method "POST" and args "{"url":"http://localhost:9001/get-started"}"`
 **Navigation**: https://github.com/oppia/oppia/actions/runs/3040692478/jobs/4897031824
3. `E

[2022-09-13 18:30] Priyansh61 commented on #15923
Yes @Dorothy2020 let's work together

[2022-09-13 18:41] Dorothy2020 commented on #15923
Great

[2022-09-14 09:39] #15994 closed, assigned to nobody

[2022-09-14 11:02] Dorothy2020 commented on #13162
Hello @Nik-09 can i be assigned the two remaining schema handlers to work on

[2022-09-14 11:12] Nik-09 commented on #13162
Hi @Dorothy2020 sorry for the delay, I have assigned you the following 2 handlers.
- EditableQuestionDataHandler
- UserSubmittedSuggestionsHandler

Thank you

[2022-09-14 11:14] Dorothy2020 commented on #13162
Thank you on it

On Wed, Sep 14, 2022, 2:13 PM Nikhil ***@***.***> wrote:

[2022-09-14 11:54] sahiljoster32 commented on #16049
Hi @Pankaj-SinghR , I have assigned you the issue!

But can you please let me know your approach/plan to solve this issue? Maybe I can help you further :)

[2022-09-15 01:12] BenHenning commented on #21858
This actually slipped my radar since we were expecting to release another alpha before beta. This is actually pretty important to try and address for the in-flight beta version as it's another indicator that some lessons cannot be completed outright.

[2022-09-15 02:12] seanlip opened #16057 "Some exploration state warnings are not being displayed"
**Describe the bug**

In some explorations, the state warnings are not being displayed in the graph. This makes it impossible to debug the error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration with a Drag And Drop Sort interaction.
 2. Give the interaction three options: A, B, C. Make sure that "allow multiple sort items in the same position" is unchecked.
 3. Add

[2022-09-15 02:12] seanlip commented on #16057
@EricZLou Please could you take a look at this?

/cc @lkbhitesh07

[2022-09-15 02:41] EricZLou commented on #16057
Is this the same as #15962?

[2022-09-15 02:52] seanlip commented on #16057
Ah thanks, yes this is a duplicate! Closing.

[2022-09-15 02:52] #16057 closed, assigned to EricZLou

[2022-09-15 02:52] seanlip commented on #15962
See https://github.com/oppia/oppia/issues/16057 -- it's happening on prod now.

[2022-09-15 03:01] seanlip opened #16058 "Fraction rule input is not connected properly in the answer group input form"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open an exploration with fraction input, e.g. https://www.oppia.org/create/aHikhPlxYgOH#/gui/Recap%201 (but you can create your own locally)
 2. Try to modify the fraction.

**Observed behavior**
First, "undefined undefined/undefined" shows up.
Second, when clicking to an

[2022-09-15 03:33] seanlip commented on #16058
Update -- same thing happens with NumericExpressionInput: https://www.oppia.org/create/K89Hgj2qRSzw#/gui/Applying%20distributive%20law%202.

https://user-images.githubusercontent.com/10575562/190307796-f752e517-5bef-429b-b79b-50cc3bf826d5.mp4

[2022-09-15 03:35] seanlip commented on #21858
I think this is a content issue and that the rule is supposed to be "matches up to commutativity and associativity". However I can't test it because of https://github.com/oppia/oppia/issues/16058.

Added to the content tracker, let's keep it assigned to me. Note however that this exploration isn't in the current beta since it belongs to the E+E topic.

[2022-09-15 03:35] seanlip commented on #16058
This stops me from fixing https://github.com/oppia/oppia/issues/21858

[2022-09-15 05:43] thejaysharma commented on #15402
Hey @KolliAnitha i would like to work on this issue would you please assign me.

[2022-09-15 07:07] Lawful2002 commented on #13797
Closing this issue as it seems to have been fixed.
![Image](https://user-images.githubusercontent.com/73544247/190337665-13a073e9-fc23-4150-893e-889a33a9848c.png)

[2022-09-15 07:07] #13797 closed, assigned to salmanansari14

[2022-09-15 14:08] ashish-patwal commented on #15779
@kevintab95 I am waiting to get the python migration PR done first. Since i am using entirely different configuration to work on the migration PR, i am unable to work on this. I also cannot maintain 2 separate local oppia forks largely due to storage issues on my system. As soon as that PR gets merged i wll start working on it. Hope that helps. Thanks.

[2022-09-15 16:11] Pankaj-SinghR commented on #16049
I'm currently new in backend side. So, you have any Idea and suggestion how should i approach this any references would also do

[2022-09-15 16:27] seanlip commented on #16049
Hi @Pankaj-SinghR, I would suggest only signing up for issues that you have good confidence in being able to do. Otherwise this is going to make things tricky because a large part of solving this issue is investigation (not just implementation).

If you are new to the backend, then please start with one of the backend good first issues since that would be a better way to get familiarity rather tha

[2022-09-15 16:47] Pankaj-SinghR commented on #14219
Hey @U8NWXD would u please assign me core.domain.learner_progress_services_test and core.domain.subtopic_page_domain_test

[2022-09-15 17:04] chris7716 opened #16062 "[CD] rank_name should be valid to send notification emails"
Before adding the notification email sending task to the task queue, `rank_name` should be validated.

Context: https://github.com/oppia/oppia/pull/15960#discussion_r966673932

[2022-09-16 02:08] seanlip commented on #16015
Actually, the existing text is fine. `\frac{x}{y}` is how you type a fraction in LaTeX, which is what is used to render math expressions.

[2022-09-16 02:15] seanlip commented on #16058
Hi @heyimShivam -- Srijan mentioned that this is likely due to a change you made. Would you mind taking a look, please, so that we can hotfix it? /cc @ashutoshc8101 for info.

Also, @srijanreddy98 sent me this note, in case it helps with making the fix.

----------------------------------

[code]

[2022-09-16 03:53] Priyansh61 commented on #16015
Thanks @seanlip for your valuable feedback.

I just had a doubt running in the back of my mind :question:  that doesn't the placeholder text makes it more easier for the user to understand the given input field.

So why are we using latex format text there, since it make certain things difficult for the user to understand.

Could you please help me figure out this things??

[2022-09-16 04:15] Priyansh61 commented on #13034
Hey @aks681 and @kevintab95  Can i work on this issue ?

And one more thing since both the links do not directlry point to something specific, i was thinking of removing the anchor tags from them.

Incase if you know where we can point these links. please do let me know :smile:

[2022-09-16 04:21] seanlip commented on #13034
I think @dchen97 should comment on this since it ties to a broader question of what we should have on the Contact page, which might be a bit out of date at this point.

@Priyansh61 If you are looking for issues, try taking a look at the "good first issues" section of the LaCE Quality team: https://github.com/orgs/oppia/projects/3/views/10. That might be a good starting point. /cc @Lawful2002 @nith

[2022-09-16 04:23] seanlip commented on #16015
That's a fair point. Perhaps you could change the placeholder to something like: `Enter a math expression using LaTeX, e.g. "\frac{x}{y}"`. Would that make it easier to understand? If so I'm fine with doing that.

[2022-09-16 04:44] Priyansh61 commented on #16015
That would be great @seanlip, this way it will be much easier for the user to understand and no such issues will be raised in the future.

And one more thing do i need to make a new PR for updating this or can I make commits to previous PR if it can be  opened again ?

[2022-09-16 05:12] Priyansh61 commented on #13146
Hey @Lawful2002

I tried it on various different mobile devices and this issue can't be reproduced on anyone of them other than galaxy fold which has width less than 343 px.

https://user-images.githubusercontent.com/96513964/190561181-715414a2-ba57-475e-ac67-439b745dc480.mp4

[2022-09-16 05:13] seanlip commented on #16015
OK, thanks. I've reopened the previous PR, feel free to make updates. Thanks!

[2022-09-16 05:37] Priyansh61 commented on #15368
Hello @Lawful2002

I guess majority of this issue has been fixed and only certain arrows for navigation have been left.
![image](https://user-images.githubusercontent.com/96513964/190564168-5c8ed1d4-dee2-42fd-804b-00910ce66348.png)

So can i work on this issue ?

[2022-09-16 09:53] BenHenning commented on #21858
Good catch re: E+E @seanlip. I assumed this arose from some of the rules not having clean inputs and hence failing to be interpreted by the app. Is that not the case here?

[2022-09-16 09:56] seanlip commented on #21858
Er, sorry, not sure what you mean by "clean input". Can you rephrase that?

My take that it's due to us using a "matches exactly" rule rather than one that allows commutativity and associativity, but I have not been able to check that yet.

[2022-09-16 10:01] BenHenning commented on #21858
Sorry, by "clean input" I mean input which would pass the extra submit-time validation checks we impose in the app on these types of expressions (such as having redundant parentheses, among others). That being said, I think we lifted the requirement that rule inputs need to follow those checks, so it may not be that issue.

[2022-09-16 12:42] Shivkant-Chauhan opened #16064 "Drag and Drop interaction is not reproducing properly"
**Describe the bug**
Drag and drop interaction is not working properly in the development server. Instead of the draggable boxes, the interaction is having a blank box. Also there are some errors in the console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Create Exploration'
 2. Choose on 'Drag and Drop Interaction'
 3. Add some field in the interaction
 4. See error after saving

[2022-09-17 02:28] U8NWXD commented on #16029
OK, that makes sense. Is there any way to configure webdriverio to stop when it encounters a failure instead of continuing on to other it blocks?

[2022-09-17 03:30] SD-13 commented on #13162
Hey @Nik-09, Can you please unassign contributors who are no longer working so that others can take those files? Thanks,

[2022-09-17 04:21] Nik-09 commented on #13162
Done

[2022-09-17 04:46] ViksarDubey opened #16068 "I think it would be beneficial to add a "Date Uploaded" either filter or tag on existing questions uploaded by contributors to better understand how active a contributor is."
I think it would be very beneficial to add a "Date Uploaded" filter or tag on uploaded questions by contributors to see which contributors are still active.
An alternative to this would be to filter questions only chronologically without mentioning the date uploaded, as currently the question queue is not filtered based on time uploaded so it is hard to tell how long ago questions were uploaded an

[2022-09-17 04:49] #16068 closed, assigned to nobody

[2022-09-17 04:51] ViksarDubey opened #16069 "Sorting/Tagging questions by date"
Currently, the question queue is not sorted based on the time uploaded so it is hard to tell how long ago questions were uploaded and if a contributor is still active.
I think it would be very beneficial to add a "Newest First" filter or tag on uploaded questions by contributors to see which contributors are still active.
An alternative to this would be to filter questions only chronologically wit

[2022-09-17 07:26] #16015 closed, assigned to nobody

[2022-09-17 12:56] heyimShivam commented on #16058
@srijanreddy98 Can you please help me with this as you have migrated object-editor, and the error is from object-editor change detection?

value is updating in object-editor 'but it is not updating in the view'

As you have mentioned in the comment that use ngOnchanges for detection, but I am not getting how to use it?

[2022-09-18 07:08] Lawful2002 commented on #13146
@Priyansh61 The issue is initially visible in the video, and I am still able to reproduce it on the test server ([oppiatestserver.org](oppiatestserver.org)) on the iPhone 12 Pro view.

[2022-09-18 09:48] #16058 closed, assigned to srijanreddy98, heyimShivam

[2022-09-18 16:26] Priyansh61 commented on #13146
@Lawful2002  Yeah, initially i was checking what is the minimum screen size for which this issue occurs and it was 343 px but for any standard mobile screen this issue never happens since the size is larger than 343 and i cant reproduce this issue on oppia main server or the test server or my own local server, i guess there might be some issue at my end. So could you please help me figure that our

[2022-09-18 18:35] U8NWXD commented on #16053
I checked through the logging server to see how often these come up on develop:

1. `First RTE element is not visible`

[code]

2. `TimeoutError: Timeout awaiting 'request' for 120000ms when running "url" with method "POST" and args "{"url":"http://localhost:9001/get-started"}"`

[code]

3. `Expected '' to equal 'You must be feeling great?'.`

[code]

4. `Error: English in Exploration Language is

[2022-09-19 02:11] seanlip commented on #9146
There isn't much demand for this, and we have a lot going on at the moment, so I think this can be closed.

(Developers -- if any of you do want this fixed, please reopen and explain why it would be helpful for you. Thanks!)

[2022-09-19 02:11] #9146 closed, assigned to srijanreddy98

[2022-09-19 02:18] seanlip commented on #12582
I have tested this on the test server and it doesn't happen any more, so, closing this. Thanks!

[2022-09-19 02:18] #12582 closed, assigned to aks681

[2022-09-19 03:39] seanlip commented on #14419
I agree, this can be closed. Thanks @nithinrdy!

[2022-09-19 03:39] #14419 closed, assigned to JeeveshGarg

[2022-09-19 03:47] IamEzio commented on #14219
@Pankaj-SinghR done!

[2022-09-19 03:57] seanlip commented on #10110
This was already fixed in #12112 (thanks @Nik-09)! Closing.

[2022-09-19 03:57] #10110 closed, assigned to BenHenning

[2022-09-19 04:09] seanlip commented on #8370
I don't think this is actually going to be generalized after all, so I'm closing it.

[2022-09-19 04:09] #8370 closed, assigned to nobody

[2022-09-19 04:10] seanlip commented on #8871
@kevintab95 Assigning to you since it relates to analytics events.

[2022-09-19 04:11] seanlip commented on #8872
@kevintab95 Assigning to you since it relates to analytics events.

[2022-09-19 04:11] seanlip commented on #10812
@kevintab95 Assigning to you since it relates to analytics events.

[2022-09-19 04:16] seanlip commented on #10436
Additional info: [This](https://github.com/oppia/oppia/pull/10300#discussion_r473527589) is the comment in question, in suggestion_services.py. (Mentioning it here because I had trouble finding it when reviewing the issue.)

[2022-09-19 04:22] seanlip commented on #10436
On thinking further about this, I think this relates to #10501 which suggests moving this functionality into the storage model once domain objects have been made free of dependencies. We could have a to_domain_object() method in each storage model class that creates a domain object that can be passed around, similarly to how we have a to_dict() method in each domain object class that creates a dic

[2022-09-19 04:22] #10436 closed, assigned to vojtechjelinek

[2022-09-19 04:24] seanlip commented on #10501
Note that this is blocked on making domain objects independent of imports #14537 (i.e. they should not have any dependency on the storage layer of the codebase).

When that prerequisite is achieved, then for this issue, we should (per the discussion in #10436) move the `to_domain_object()` functionality into the storage model, so that each storage model class has a `to_domain_object()` method that

[2022-09-19 04:45] seanlip commented on #10274
This is suitable for a good first issue (since it can be done with limited context), but is on the slightly harder side so is probably better taken up by contributors who have previous experience with refactoring a codebase. The plan should be:

- Define an INITIAL_ENTITY_VERSION constant in feconf.py.
- Find all places where the version is set manually and change that to use the default initial e

[2022-09-19 04:48] seanlip commented on #14141
@SD-13 @vojtechjelinek Could you please explain the rationale behind this issue? Why is it worth doing, and which handlers are affected (or how would a contributor figure this out)?

Thanks!

P.S. @SD-13 I see PR #15910. Is the preferences handler the only handler affected? It is not clear from either the issue title or description.

[2022-09-19 05:49] seanlip commented on #8510
Note: this issue needs some triaging to figure out the correct next steps. (Please include me in those discussions when they happen.)

[2022-09-19 06:19] KolliAnitha opened #16075 "Unwanted spaces are seen when drag and drop interaction with 2 items is added"
**Describe the bug**
Unwanted spaces are seen when drag and drop interaction with 2 items is added

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator dashboard' - Create exploration
 2. Click on 'Introduction'- Enter text and save
 3. Click on Add Interaction - Select Drag and drop sort
 4. Add 2 items and save the interaction
 5. In the Add Response dialog enter Oppia tells the

[2022-09-19 06:31] KolliAnitha opened #16076 "Invalid warning message is observed while saving an exploration"
**Describe the bug**
Invalid warning message is observed while saving an exploration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Dashboard' - Create Exploration
2. Click on 'Introduction' - Add content
3. Click on Add Interaction - Select Text Input
4. Make changes for more than 50 times then a popup appears It is recommended to save if the exploration has more than 50 chan

[2022-09-19 06:33] sahiljoster32 commented on #14615
closing this issue as #15610 is a duplicate of this issue and already used in the codebase with TODO.

[2022-09-19 06:33] #14615 closed, assigned to nobody

[2022-09-19 06:42] sahiljoster32 commented on #13523
- [ ] Snapshots/Content Dictionaries for models wherever used: Ex:
   - [VersionedModel.compute_snapshot()](https://github.com/oppia/oppia/blob/bf8b5226589a473144a387bfff40010e63e97ceb/core/storage/base_model/gae_models.py#L733): Snapshot dict of a model
   - [CollectionModel.convert_to_valid_dict()](https://github.com/oppia/oppia/blob/bf8b5226589a473144a387bfff40010e63e97ceb/core/storage/collecti

[2022-09-19 06:55] seanlip commented on #11170
I just did a quick audit and this issue only seems to affect GeneralSuggestionModel.

So, I think the aim of this issue is just to replace `change` in BaseSuggestion and its subclasses with `change_cmd`, and propagate this change throughout the codebase. This will require carefully identifying the location where the `change` attribute gets used to update the storage model, and propagating this cha

[2022-09-19 06:58] seanlip commented on #6178
@DubeySandeep How would you handle this case for "default options" for multiple-choice that don't need to be translated?

[2022-09-19 07:06] DubeySandeep commented on #6178
@seanlip I think we should introduce this (no empty content) check to have control over published exploration's content and special cases can be allowed to be empty. Thanks for adding the possible situation, this will help in the future while designing the structure!

[2022-09-19 09:52] KolliAnitha opened #16078 "Play button is seen outside the music note layout while doing the preview of an exploration"
**Describe the bug**
Play button is seen outside the music note layout while doing the preview of an exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator dashboard' - Create Exploration
 2. Click on 'Introduction' - Enter text and save
 3. Click on Interaction - Select Music note
 4. Click on Add note - select C4 and Save the interaction
 5. Click on Preview button
 6.

[2022-09-19 10:09] KolliAnitha opened #16079 "World map preview is not seen while creating an exploration"
**Describe the bug**
World map preview is not seen while creating an exploration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Dashboard' - Create Exploration
2. Click on 'Introduction' - Add content
3. Click on Add Interaction - Select World Map
4. Save Interaction
5. Click on Preview

**Observed behavior**
World map preview is not seen

**Expected behavior**
Preview of the

[2022-09-19 16:08] srijanreddy98 commented on #7072
The bootstrap processes was changed in between. Also, with the introduction of angular only pages, this is being done as part of moving the pages to the angular only system and no longer needs to tracked explicitly though an issue.

[2022-09-19 16:08] #7072 closed, assigned to YashJipkate

[2022-09-19 16:13] srijanreddy98 commented on #7407
This has been migrated to use ngx-codemirror in this PR: https://github.com/oppia/oppia/pull/12639

[2022-09-19 16:13] #7407 closed, assigned to nobody

[2022-09-19 16:14] ashutoshc8101 commented on #9938
This issue will get removed along with migration of spec files.

[2022-09-19 16:14] #9938 closed, assigned to nobody

[2022-09-19 16:19] srijanreddy98 commented on #7222
I have no idea of what this imports that is being referred to here. rest assured that we don't keep unused imports in the files anymore 🙂.

[2022-09-19 16:23] ashutoshc8101 commented on #9418
`UpgradServices` is deprecated in the codebase.This issue is not required.

[2022-09-19 16:23] #9418 closed, assigned to srijanreddy98

[2022-09-19 16:24] ashutoshc8101 commented on #12793
This is already done in #12790.

[2022-09-19 16:24] #12793 closed, assigned to srijanreddy98

[2022-09-19 16:24] ashutoshc8101 commented on #9222
We don't use `template : require(...)` now.

[2022-09-19 16:24] #9222 closed, assigned to srijanreddy98

[2022-09-19 16:32] ashutoshc8101 commented on #11329
Duplicate of #11330.

[2022-09-19 16:32] #11329 closed, assigned to jahd2602

[2022-09-19 16:35] ashutoshc8101 commented on #12518
This is already resolved.

[2022-09-19 16:36] #12518 closed, assigned to nobody

[2022-09-19 16:45] ashutoshc8101 commented on #7676
This is not required as we are moving to angular cli.

[2022-09-19 16:45] #7676 closed, assigned to nobody

[2022-09-19 20:31] vojtechjelinek commented on #16031
Flush the cache after any job is run

[2022-09-19 20:32] vojtechjelinek commented on #15927
@vojtechjelinek Find someone for this.

[2022-09-19 23:28] HattieTavares commented on #15968
@vojtechjelinek @JayVivarekar

oppia/core/templates/components/state-directives/outcome-editor/outcome-editor.component.html

 oppia/core/templates/components/state-directives/solution-editor/solution-editor.component.html

 oppia/core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html

Can I be assigned these files?

[2022-09-20 05:10] gp201 commented on #14086
Duplicate of #15414

[2022-09-20 05:10] #14086 closed, assigned to nobody

[2022-09-20 05:17] seanlip commented on #16053
@ShivamJhaa Could you please split this into separate issues and add them to https://github.com/orgs/oppia/projects/35/views/1 ?

Thanks!

[2022-09-20 08:47] SD-13 commented on #14141
Hi @seanlip, let me try to explain this. In `PreferencesHandler` we have one argument called `profile_picture_data_url` which sends quite a lot of data and we don't want to send it each time whenever we update something in this handler class. So, creating a separate handler class for the `profile_picture_data_url` argument will help us eliminate this issue. Please let me know what you think about

[2022-09-20 08:51] seanlip commented on #14141
Thanks @SD-13! Sounds good, @vojtechjelinek also updated the original issue and it makes more sense to me now. Thanks for clarifying!

[2022-09-20 09:34] heyimShivam commented on #16020
@sagangwee PTAL

 For 3) `animation` the component is migrated by @ashutoshc8101 and CSS is changed by @Lawful2002
 `component: opportunities-list-item` mostly I think this bug was introduced in PR #15627.
PR: #15627, #12191

for 1) everything seems fine

![Screenshot from 2022-09-20 15-03-25](https://user-images.githubusercontent.com/77006897/191223257-65125c06-0fd0-4daa-ab25-67a3340b5ff8.png)

[2022-09-20 09:40] heyimShivam commented on #16020
@ashutoshc8101 @Lawful2002 PTAL

[2022-09-20 09:53] anubhutiv opened #16084 "[Contributor Dashboard] Stats for admins to streamline assignments queue"
Currently to prioritize assignments to new reviewers and translators, we need to get latest status of translations and reviews. This is a manual task.
You need to go to https://www.oppia.org/contributor-dashboard# , select language, lesson one by one and then see the status. If there was one single consolidated view where we could see a table - Language, Lesson, #TotalCards, #CardsTranslated , #Ca

[2022-09-20 09:57] anubhutiv opened #16085 "Change messaging on recruitment pages"
Recruitment pages e.g. https://www.oppia.org/volunteer should have content similar to https://translatorswithoutborders.org/volunteer/

This is just a request for content, need help from a writer to phrase these better

**DESIGN APPROVAL CHECKLIST -- DO NOT EDIT.**

- [ ] UX Design approved (Android mocks should include dark mode)
- [ ] UX Writing approved
- [ ] Product approved

_For a design pro

[2022-09-20 10:00] anubhutiv opened #16086 "[Contributor Dashboard] Send feedback email to volunteers"
### For new contributors
- See https://github.com/oppia/oppia/wiki/Contributor-dashboard to get started.
- We should send an email to a user each time a suggestion they submitted is accepted or rejected by a reviewer. The email should also include any edits made by the reviewer. See https://docs.google.com/document/d/1U_lxiSqfxi0Q--kDfyw8zza89EU53w2tzNIYUFSvLHI/edit?usp=sharing for an example emai

[2022-09-20 10:03] anubhutiv opened #16087 "[Contributor Dashboard] Share recognition on social media[FB, Insta, Linkedin, Twitter etc.]"
As part of next step to contributor recognition - https://docs.google.com/document/d/1hkcJXA8oMmUnVVvDAXcKDjp4Wx6Ev4MVC8TJaCPX3-M/edit

Once we have given a recognition, contributor should have a way to share recognition on social media

[2022-09-20 10:11] anubhutiv opened #16088 "[Contributor dashboard] Nit Change in Help Text"
[Changes to helptext for [Hindi]]
Use the same voice (active or passive) as in the original English text.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1930812/191230898-0b41fa15-de70-4a99-8c6b-5a4624c4c619.png">

REMOVE the bullet -
Use the same voice (active or passive) as in the original English text.

ADD the following 2 bullets
- Feel free to change the voice a

[2022-09-20 10:18] anubhutiv opened #16089 "[Contributor Dashboard] Hinglish HelpText"
- For Mathematical terms in Hinglish - Use english words like numerator, denominator etc. and NOT Bhinn, Ansh
- Use respectful pronouns (like “Aap” instead of “Tum/Tu ”) and a corresponding respectful tone like “kariya, karenge”.
- Feel free to change the voice and sequence of phrases to make the sentence more readble
- Preserve punctuation and bolding. If the original content has bold text, make

[2022-09-20 12:04] Lawful2002 commented on #15920
@Shivkant-Chauhan Can you link the PR that has fixed these changes?

[2022-09-20 12:13] Shivkant-Chauhan commented on #15920
https://github.com/oppia/oppia/pull/15971

[2022-09-20 15:06] iamprayush opened #16091 "Update e2e tests based on CUJs."
For the entire suite that will run when a change is committed on develop, we need to update the e2e tests with the CUJs in order to be able to replace the manual testing process for each release.

[2022-09-20 20:25] gp201 opened #16094 "Docker setup for Oppia"
# Docker setup

# Note: This has been offered as a GSoC 2023 project: [Dockerize Oppia](https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2023#41-dockerize-oppia)

## Motivation

- To minimize the issues faced by devs when setting up Oppia locally.
- To reduce the number of setup methods to maintain.
- To allow setup in an isolated env to avoid issues caused due to external env changes.
-

[2022-09-20 20:30] gp201 commented on #12208
Created a new issue to track docker setup progress. #16094

[2022-09-20 20:30] #12208 closed, assigned to gp201, aasiffaizal

[2022-09-21 05:29] jahd2602 commented on #15493
I am working on it. I built a rough mockup on how would it look:
<img width="1011" alt="Screen Shot 2022-09-20 at 10 27 53 PM" src="https://user-images.githubusercontent.com/2841740/191421552-070a2f8f-b13c-455b-bd87-02aad25d0b81.png">
Would it be OK in that position? Would you like a label?

cc @seanlip (in case Sagang is not able to answer these days)

[2022-09-21 05:33] seanlip commented on #15493
I think this looks great. Thanks @jahd2602 !

[2022-09-21 11:09] SubhashThenua commented on #16078
Hey @JeeveshGarg
Can i work on this issue?

[2022-09-21 11:38] SubhashThenua commented on #16078
Hey @JeeveshGarg
Can i work on this issue?

[2022-09-21 12:08] ShivamJhaa opened #16095 "E2E Flake: First RTE element is not visible"
**Describe the bug**
`First RTE element is not visible`
 **CheckpointFeatures**:  https://github.com/oppia/oppia/actions/runs/3035138545/jobs/4884949268

On protractor, this manifests as `First RTE element taking too long to become clickable.`:
* On develop: https://github.com/oppia/oppia/actions/runs/2875513506
* On PR #15809: https://github.com/oppia/oppia/runs/7852364452?check_suite_focus=true

[2022-09-21 12:09] ShivamJhaa opened #16096 "E2E Flake: Timeout awaiting 'request' for 120000ms when running "url" with method "POST" and args "{"url":"http://localhost:9001/get-started"}""
**Describe the bug**
`TimeoutError: Timeout awaiting 'request' for 120000ms when running "url" with method "POST" and args "{"url":"http://localhost:9001/get-started"}"`
 **Navigation**: https://github.com/oppia/oppia/actions/runs/3040692478/jobs/4897031824

[2022-09-21 12:10] ShivamJhaa opened #16097 "E2E Flake: Expected '' to equal 'You must be feeling great?'."
**Describe the bug**
 `Expected '' to equal 'You must be feeling great?'.`
 **AdditonalEditorModals**: https://github.com/oppia/oppia/actions/runs/3040692464/jobs/4897031805

[2022-09-21 12:11] ShivamJhaa opened #16098 "E2E Flake: Error: English in Exploration Language is not visible."
**Describe the bug**
Type 1 :`Error: English in Exploration Language is not visible.`
 **ContributoDashboard**: https://github.com/oppia/oppia/actions/runs/3051746696/jobs/4920335166
Type 2: `Error: ��������������������� (Thai) in Exploration Language is not visible.`
**Embedding** : https://github.com/oppia/oppia/actions/runs/3109568932/jobs/5039890932
Type 3: `Error: italiano (Italian) in Explor

[2022-09-21 12:12] ShivamJhaa opened #16099 "E2E Flake: Expected '' to equal 'this is card 2 with previous answer 21'."
**Describe the bug**

`Expected '' to equal 'this is card 2 with previous answer 21'.`
**AddtionalPlayer**: https://github.com/oppia/oppia/actions/runs/2984126527/jobs/4784395932

[2022-09-21 12:12] ShivamJhaa opened #16101 "E2E Flake: Expected '' to equal 'Content 50"
**Describe the bug**
 `Expected '' to equal 'Content 50'. `
**AdditonalEditorModals**: https://github.com/oppia/oppia/actions/runs/3059894441/jobs/4937795352

[2022-09-21 12:13] ShivamJhaa opened #16102 "E2E Flake: Error: Add Interaction button is not visible"
**Describe the bug**
`Error: Add Interaction button is not visible.`
**AddtionalEditor**: https://github.com/oppia/oppia/actions/runs/3054241132/jobs/4925884869

Debugging Doc: https://docs.google.com/document/d/1MF11icS6NSjwFIHZaJRDHb_RziPFxlZNDRCPgwHIUqo/edit#

[2022-09-21 12:40] JeeveshGarg commented on #16078
@Lawful2002 ping.

[2022-09-21 14:19] Lawful2002 commented on #16020
@heyimShivam I have created the PR #16103 to fix the issue with lazy-loading. PTAL.

[2022-09-21 15:44] gp201 commented on #15412
Closing since we're tracking all the issues on https://github.com/orgs/oppia/projects/35

[2022-09-21 15:44] #15412 closed, assigned to gp201

[2022-09-21 15:55] U8NWXD opened #16105 "Failure to install pylint-quotes"

[2022-09-21 15:57] seanlip commented on #14280
This should already be fixed, and it hasn't reoccurred for ages; closing it.

[2022-09-21 15:57] #14280 closed, assigned to Rijuta-s

[2022-09-21 15:58] U8NWXD commented on #15915
Superseded by #16095

[2022-09-21 15:58] #15915 closed, assigned to nobody

[2022-09-21 16:01] U8NWXD commented on #13702
Hasn't been seen in a while

[2022-09-21 16:01] #13702 closed, assigned to nobody

[2022-09-21 16:02] U8NWXD commented on #13417
Hasn't been seen in a while

[2022-09-21 16:02] #13417 closed, assigned to nobody

[2022-09-21 16:03] U8NWXD commented on #14271
Hasn't been seen in a while

[2022-09-21 16:03] #14271 closed, assigned to nobody

[2022-09-21 16:20] SubhashThenua commented on #16078
@Lawful2002 Can you please assign me this issue?

[2022-09-21 16:37] JayVivarekar commented on #15968
@HattieTavares Done

[2022-09-22 02:03] HattieTavares commented on #15968
@JayVivarekar @vojtechjelinek I'm sorry I've spent the day trying to set this up locally but I think it's too far past my knowledge, and I sadly don't have anyone to help me to troubleshoot the issues I'm having, so I think I will have to take back my offer to fix them.

[2022-09-22 04:59] ShivamJhaa commented on #16095
Failed one more time https://github.com/oppia/oppia/actions/runs/3099376991/jobs/5018442687

[2022-09-22 10:01] vojtechjelinek commented on #15968
@HattieTavares Feel free to ask here for help https://github.com/oppia/oppia/discussions, we have a lot of people that should be available for help.

[2022-09-23 02:41] #13688 closed, assigned to nobody

[2022-09-23 02:43] nithinrdy commented on #13688
Closing the issue as not planned as the mocks were pointed out to be outdated; additionally, the donation/fundraising process as a whole is to undergo a redesign, following which this issue can be tackled.

[2022-09-23 04:54] ShivamJhaa opened #16110 "E2E Flake: Confirm Delete State Button is not visible."
**Describe the bug**
**AdditonalEditor** : `Error: Confirm Delete State Button is not visible.`
https://github.com/oppia/oppia/actions/runs/3107643200/jobs/5035980575

[2022-09-23 05:42] KolliAnitha opened #16111 "Users must be able to delete the components that are added into the content section"
**Describe the bug**
Users must be able to delete the components that are added into the content section

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator Dashboard' - Click on Create Exploration
 2. Click on 'introduction' - Select Rich text components
 3. Click on Insert Tabs- Click on Done
 4. Click on Insert Video - Provide a youtube URL and click on Done
 5. Click on Inser

[2022-09-23 06:08] KolliAnitha opened #16112 "On saving a mathematical expression with warning message, warning message is seen instead of formula"
**Describe the bug**
While typing a mathematical formula, proper warning message should be displayed that users can understand

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator Dashboard' - Click on Create Exploration
 2. Click on 'Introduction' - Select Insert Mathematical formula
 3. Enter (a+b)^
 4. See warning message
 5. Click on Done
 6. See error in the introduction pane

[2022-09-23 06:34] seanlip commented on #16112
Hi @KolliAnitha,

Thanks for filing this! Just to check -- what would you recommend replacing the error message with? (Here, I believe it's saying that there's nothing after the "^" sign, i.e. "superscript".)

[2022-09-23 08:37] seanlip commented on #15148
Some additional notes from #12481 (which I'm closing because it duplicates this):

- Ideally, contributors would be able to edit both their pending suggestions and re-submit rejected suggestions with edits to fix any mistakes uncovered by themselves or by the reviewer.
- https://github.com/oppia/oppia/pull/13742 shows how we implemented editing for reviewers in question suggestions -- it might be

[2022-09-23 08:37] seanlip commented on #12481
Closing as duplicate of #15148.

[2022-09-23 08:40] seanlip commented on #12030
See #15183. Should we do that solution or this solution? (Maybe since #15183 is pretty easy we can try that first and see if it works.)

Although the audiences for each issue are different (translators vs reviewers), I think the intended benefit is the same. This probably needs more discussion so I am marking this issue as "blocked" until that discussion happens.

[2022-09-23 08:41] seanlip commented on #15183
Note that we might also want to do this for translation submitters. See discussion in #12030.

[2022-09-23 08:43] seanlip commented on #16069
@ViksarDubey Just to check, by "filter" do you mean "sort"?

If so, please could you update the description accordingly?

Also, it would be helpful to explain whether you want to see "oldest first" or "newest first", and the reason for that.

Thanks!

[2022-09-23 08:52] seanlip commented on #15245
It looks like the actual text is: "Sorry! Currently, only translation reviewers are allowed to submit translations for rules.". It appears when a contributor is looking at a translation card corresponding to items in a rule.

I think this text seems fine so let's close this issue.

[2022-09-23 08:52] #15245 closed, assigned to nobody

[2022-09-23 09:19] seanlip commented on #8794
I haven't seen this be an issue. Let's not worry about it until it is.

[2022-09-23 09:19] #8794 closed, assigned to nobody

[2022-09-23 09:20] seanlip commented on #7475
@chris7716 is working on something similar for GSoC 2022, so assigning this to him.

[2022-09-23 09:21] seanlip commented on #8219
This is not needed. Explorations with complete translations are already not shown to submitters.

[2022-09-23 09:21] #8219 closed, assigned to nobody

[2022-09-23 13:47] lkbhitesh07 opened #16115 "Add frontend validation for RTE component."
**Describe the bug**
Currently we do not have frontend validation present for the RTE components. You can find the list of validations to add on this spreadsheet [here](https://docs.google.com/spreadsheets/d/1kNLF-UkS_Qk0igNCGwLjJXM0ByHalqli41GPvWF43PE/edit?usp=sharing). This issue will consists of 2 parts -
1. Add frontend validation for the RTE components(almost all are missing). Important one t

[2022-09-23 15:24] vojtechjelinek commented on #16002
After some investigation, most of these errors (I didn't check them all) are happening on files that actually exist and when I load oppia.org they work for me. The error is probably happening on slow and unstable connections. THe main chunk gets loaded properly but the subsequent chunks that are loaded by the main chunk might fail to load (due to instability).

I found a [plugin](https://www.npmjs

[2022-09-23 15:44] sagangwee commented on #15148
@seanlip This isn't quite a duplicate of https://github.com/oppia/oppia/issues/12481, right? The intent of https://github.com/oppia/oppia/issues/12481 was to allow _contributors_ to edit their suggestions while they are in-review, while this issue was to allow a short undo feature for _reviewers_ as discussed in https://docs.google.com/document/d/1feGFCzV6EDSBeCEH6uMlDjMPYAL9Y1JAaIDgtuA-rDI/edit.

[2022-09-23 17:48] SubhashThenua commented on #15993
Hey @Lawful2002 Can i work on this issue?

[2022-09-23 17:57] Shivkant-Chauhan opened #16116 "Save Progress button behaviour is not defined for the user"
**Describe the bug**
The save progress button inside the Lesson Info is disabled when the user hasn't reached the first checkpoint. This may be a bit confusing for the users why it is disabled.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'any exploration'
 2. Click on 'Lesson Info'
 3. Save Progress button is disabled when the user hasn't reached the first checkpoint

**Observed b

[2022-09-23 18:18] Shivkant-Chauhan opened #16117 "The Congratulations dialog box seems to be clickable on hover"
**Describe the bug**
The “Congratulations you’ve reached the end of the lesson!” popup is set up so that your cursor and the dialog’s styling change on hover. This makes it seem like the notification is clickable, but clicking doesn’t do anything.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'end of any exploration'
 2. Move the cursor to 'congratulations dialog box'
 3. See that d

[2022-09-23 18:18] #16117 closed, assigned to nobody

[2022-09-23 18:32] Shivkant-Chauhan opened #16118 "Congratulations dialog box must have an option to not to show the notification to the user"
**Is your feature request related to a problem? Please describe.**
There must be an option to permanently hide or show the “Congratulations you’ve reached the end of the lesson!” pop-up because it may get annoying after a while.
<img width="488" alt="image" src="https://user-images.githubusercontent.com/91013793/192033863-a238260d-8fb3-49c0-be2a-c01530fb741e.png">

**Describe the solution you'd li

[2022-09-23 18:40] Shivkant-Chauhan opened #16119 "Copy button must respond to user on clicking and some padding-indentation issues inside the Save Progress Modal"
**Describe the bug**
Clicking on “copy” in the Save Progress modal doesn’t return any feedback to the user. This makes it unclear whether the link was successfully copied to the clipboard or not. And some proper indentation and padding must be given in the Save Progress Modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Lesson Info inside any exploration'
 2. Click on 'Save Progr

[2022-09-23 19:03] Shivkant-Chauhan opened #16120 "Smooth animation must be there when user closes the Save Progress Modal"
**Describe the bug**
The Save Progress modal should have animation when it’s closed (the screen very abruptly disappears).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Lesson Info of any exploration'
 2. Click on 'Save Progress' (only for logged-out users)
 3. Close the Save Progress Card.
 4. See the abrupt animation on closing the card.

**Observed behavior**
The card disappears

[2022-09-23 19:39] U8NWXD commented on #16029
Closing since this actually work as intended

[2022-09-23 19:39] #16029 closed, assigned to nobody

[2022-09-23 19:40] Shivkant-Chauhan opened #16121 "Slide Up transition for the Save Progress Modal"
**Describe the bug**
The previous modal remains visible behind the Save Progress Modal and the sliding up from the bottom animation for the modal seems a bit odd

Related Doc: https://docs.google.com/document/d/1aJcQ1NqvYs5bRZ7Xru6TZdgBkc4XE13EKjYQJlJjmt4/edit#heading=h.ft7xhyjsbvat

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Lesson Info'
 2. Click on 'Save Progress' (for logged-

[2022-09-23 21:31] vojtechjelinek opened #16122 "Look into why Beam exploration migration job didn't call stats, and is causing severe prod breakages; put measures in place to ensure this doesn't happen again. CHECK WITH KEVIN"
Transcript from Kevin:

[2022-09-23 21:48] vojtechjelinek commented on #16122
Handled by Kevin and tracked in #15942

[2022-09-23 21:48] #16122 closed, assigned to vojtechjelinek

[2022-09-23 22:31] seanlip commented on #15148
Hm ... if you look at the first comment on this issue, it says "Allow to edit a submitted translation if it hasn’t been reviewed yet". Isn't that the same as #12481?

[2022-09-23 22:35] seanlip commented on #14267
Hm, I don't think this is happening any more (including for the original example @chris7716 mentioned).

@chris7716 could you please confirm, and close this issue if it doesn't happen?

Thanks!

[2022-09-24 01:01] seanlip commented on #14150
This continues to severely affect Bangla translators and reviewers, slowing everything down for that translation community.

Ji Su and I will meet next week to try and debug this more.

[2022-09-24 01:04] seanlip commented on #13659
I think the only real way to avoid issues here is to do the following: if a creator is about to do a breaking change, they'll need to populate the translations for that change somehow (but perhaps mark them as "needs update"). These initial translations would be sourced from automatic translation software. The card in question should still be put into the "open" queue for people to submit better t

[2022-09-24 01:07] seanlip commented on #10720
We have been hiding in-review translations for months now (per #11356) and this actually seems to be working fine in practice. So I don't think this issue is required any more -- closing it.

[2022-09-24 01:07] #10720 closed, assigned to DubeySandeep

[2022-09-24 01:10] seanlip commented on #14833
@sagangwee Could you please provide a full list of classes and fields that should be handled, and slightly more explicit instructions as to what the end result here should be? Then this could likely be turned into a good first issue.

[2022-09-24 01:18] seanlip commented on #8912
Actually I'm not sure we need this issue. Originally the idea was to show the topics a skill was linked to like this:

![Image](https://user-images.githubusercontent.com/10575562/192073996-e0403002-e1e4-4f25-ab58-fd00e9d0d1b1.png)

But this seemed to tie to the issue of not wanting to show the topic name in the modal for this PR: https://github.com/oppia/oppia/pull/8353

Looking at the current beh

[2022-09-24 01:18] #8912 closed, assigned to nobody

[2022-09-24 01:19] seanlip commented on #13099
This should actually be done on a global contributor stats dashboard that is widely accessible (not just to admins).

[2022-09-24 01:21] seanlip commented on #12833
I don't think this flow has proven to be viable. For the sake of focusing, let's not do it for now.

[2022-09-24 01:21] #12833 closed, assigned to nobody

[2022-09-24 01:23] seanlip commented on #13444
Not sure if this is still happening. Assigning to @anubhutiv to confirm.

[2022-09-24 01:24] seanlip commented on #13988
@sagangwee did you ever look into dropping the empty placeholders here?

Also @DubeySandeep flagging this FYI as an example where the text of a SubtitledHtml could legitimately be empty. (Though, to be fair, these are text fields -- not sure if there are any html placeholders.)

[2022-09-24 01:30] seanlip commented on #6178
See also #13988 for another example -- empty default values may be provided for interactions that have placeholders. (Though those are text fields -- not sure if there are html ones.)

[2022-09-24 01:32] seanlip commented on #9004
This should probably be a part of post-deployment monitoring for the site in general. I'm moving this to the release process task force for now and we might end up generalizing this issue accordingly.

[2022-09-24 04:37] seanlip commented on #7473
We won't do this, this is better handled offline.

[2022-09-24 04:37] #7473 closed, assigned to nobody

[2022-09-24 04:39] seanlip commented on #6685
We won't do this since we aren't going to be supporting image contribution through the contributor dashboard, so, closing this.

[2022-09-24 04:39] #6685 closed, assigned to nobody

[2022-09-24 04:41] seanlip commented on #12894
We no longer show translation suggestions on the feedback tab, so this is no longer relevant.

[2022-09-24 04:41] #12894 closed, assigned to nobody

[2022-09-24 04:44] seanlip commented on #6867
Closing this since we are not planning to surface images on the contributor dashboard.

[2022-09-24 04:44] #6867 closed, assigned to nobody

[2022-09-24 04:45] seanlip commented on #8553
We are now planning to show opportunities grouped by topic (not randomly) so this issue is obsolete.

[2022-09-24 04:45] #8553 closed, assigned to nobody

[2022-09-24 04:46] seanlip commented on #11841
@Lawful2002 is working on this for GSoC 2022, so I'm assigning it to him.

[2022-09-24 04:48] seanlip commented on #7469
This is a (somewhat underspecified) duplicate of #13099, more or less, so I'm closing it.

[2022-09-24 04:48] #7469 closed, assigned to nobody

[2022-09-24 04:53] seanlip commented on #5549
This is outdated. Closing.

[2022-09-24 04:53] #5549 closed, assigned to nobody

[2022-09-24 04:55] seanlip commented on #7969
We are not handling voiceovers through the contributor dashboard, so this issue is obsolete.

Emails for other types of contributions are tracked in #8552.

[2022-09-24 04:55] #7969 closed, assigned to nobody

[2022-09-24 04:56] seanlip commented on #7376
Adding a note from #13912 too: "Currently language_codes_needing_voice_artists in core/domain/opportunity_services.py is based off the translation status of written translations. This doesn't quite make sense for voiceovers."

As an update -- we should just get rid of these fields / dead code, since they are unneeded, as we are not going to be handling voiceovers through the contributor dashboard.

[2022-09-24 05:11] seanlip commented on #13912
Merged into #7376.

[2022-09-24 05:11] #13912 closed, assigned to nobody

[2022-09-24 05:29] seanlip commented on #5548
This is obsolete. Users can now tag misconceptions to specific feedback.

[2022-09-24 05:29] #5548 closed, assigned to nobody

[2022-09-24 05:31] seanlip commented on #5674
This is not currently planned, since we haven't had great experiences with accepting "edit"-type suggestions in the past. We might reconsider in the future.

[2022-09-24 05:31] #5674 closed, assigned to nobody

[2022-09-24 05:33] seanlip commented on #14026
This is still relevant, but is blocked on a PRD.

[2022-09-24 05:34] seanlip commented on #9395
I think the idea of introducing deeplinking everywhere on the contributor dashboard would be helpful in general.

[2022-09-24 05:36] seanlip commented on #7472
I think this is not currently necessary -- closing.

[2022-09-24 05:36] #7472 closed, assigned to nobody

[2022-09-24 05:36] seanlip commented on #13194
No repro details, so cannot fix. Closing.

[2022-09-24 05:36] #13194 closed, assigned to rdawson10

[2022-09-24 05:43] seanlip commented on #6671
@chris7716 is looking into the general contributor recognition infrastructure which is tracked in #7475, so I think we can close this.

[2022-09-24 05:43] #6671 closed, assigned to DubeySandeep

[2022-09-24 07:33] seanlip commented on #10957
It should probably be possible to resubmit rejected translation suggestions for review. See #13007.

I'm going to close this and add the context to #13007.

[2022-09-24 07:33] #10957 closed, assigned to nobody

[2022-09-24 07:35] seanlip commented on #13007
We should allow resubmissions after edits.

See also this discussion from #10957 (amended):

[2022-09-24 07:36] seanlip commented on #9944
Since this issue was filed, this page has been completely updated and a new contributor dashboard admin page has been created. This issue is therefore obsolete.

[2022-09-24 07:36] #9944 closed, assigned to nobody

[2022-09-24 07:39] seanlip commented on #9940
This page has been refactored, so this issue is obsolete.

[2022-09-24 07:39] #9940 closed, assigned to nobody

[2022-09-24 07:42] seanlip commented on #12885
(1) and (2) don't seem to appear any more, and (3) is a duplicate of #15493. Closing.

[2022-09-24 07:42] #12885 closed, assigned to nobody

[2022-09-24 07:52] seanlip commented on #7572
These objects no longer exist, so this issue is obsolete. Closing.

[2022-09-24 07:52] #7572 closed, assigned to nobody

[2022-09-24 07:54] seanlip commented on #14026
Also moving to LaCE team since this is not contributor-dashboard related.

[2022-09-24 08:10] seanlip commented on #8014
We don't support audio languages on the contributor dashboard, so, closing this.

[2022-09-24 08:10] #8014 closed, assigned to nobody

[2022-09-24 08:31] Shivkant-Chauhan commented on #15410
Hi, this is the behavior I observed, on going back to the previous question, there are arrow buttons for going to the previous or to the next questions. The 'Please Continue' is the message that the user gets on clicking the continue button for the current question. Users can easily go back or to the next question using the arrow buttons.

https://user-images.githubusercontent.com/91013793/1920884

[2022-09-24 08:32] seanlip commented on #16002
If a chunk fails to load, what does the user experience look like?

Does the whole page appear broken, or might it apply to only a sub-part of the page?

[2022-09-24 12:39] itsrajatrai commented on #16088
Hi, I want to work on this issue ?

[2022-09-24 13:22] U8NWXD opened #16125 "Write playbook for using logging server to investigate E2E flakes"

[2022-09-24 13:22] U8NWXD opened #16126 "Let developers skip installation when running backend tests"
Hitesh says: removing "install_third_party_libs.main()" definitely makes it faster when running using --test_target.

[2022-09-24 13:22] U8NWXD opened #16127 "Print console logs at the end of every E2E test"

[2022-09-24 13:22] U8NWXD opened #16128 "Save webdriver and chromedriver logs as an artifact"

[2022-09-24 13:22] U8NWXD opened #16129 "Put waitForFadeIn at end of setStateName instead of at start of setContent"

[2022-09-24 13:23] U8NWXD opened #16130 "Create function to let devs take screenshots for debugging"

[2022-09-24 13:23] U8NWXD opened #16131 "Have waitFors that result in timeouts take screenshots, URLs, and stack trace"

[2022-09-24 14:06] U8NWXD opened #16132 "Make sure that backend errors show up in the E2E log (try raising Exception)"

[2022-09-24 14:06] U8NWXD opened #16133 "Try getting log of requests and responses from either client or server and save as an artifact"

[2022-09-24 14:06] U8NWXD opened #16134 "Get E2E videos working all the time without increasing flakiness"
Maybe reduce ffmpeg quality

[2022-09-24 14:06] U8NWXD opened #16135 "Fully automate logger server to eliminate manual work"

[2022-09-24 14:06] U8NWXD opened #16136 "Write up a prescriptive workflow for debugging e2e/acceptance tests"
Create a step-by-step guide to teach developers how to deterministically (and easily) debug an e2e/acceptance issue.

Explain how to identify and verify the most likely causes of these flakes.

[2022-09-24 14:07] U8NWXD opened #16137 "Re-write all acceptance tests in typescript"

[2022-09-24 15:24] Om-Aditya-Jain commented on #15968
@JayVivarekar @vojtechjelinek
I am interested in contributing to this issue. Please assign me these files -
- oppia/core/templates/pages/exploration-player-page/learner-experience/conversation-skin-embed.component.html
-  oppia/core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.html
-  oppia/core/templates/pages/exploration-player-page/templates/lesson-info

[2022-09-24 18:30] rajanshresth commented on #16120
I want to work on this issue..
Can you assign me this issue?

[2022-09-24 18:35] ViksarDubey commented on #16069
Sure, got it!

[2022-09-24 18:48] xeniumcode commented on #15968
Hi @vojtechjelinek @JayVivarekar.
I am interested to contribute .Can you please assign issue from following files or from other files as per the requirements.

-  oppia/core/templates/pages/exploration-player-page/layout-directives/correctness-footer.component.html
-  oppia/core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
-  oppia/core/templates/page

[2022-09-25 04:35] seanlip commented on #16069
Thanks!

[2022-09-25 04:36] seanlip commented on #14368
This is still happening, actually. Try translating a Ratios lesson in Akan (say) and skip forward a bunch -- the "Continue" texts are still piling up.

[2022-09-25 06:24] amitpanwar789 commented on #16088
Hi, I want to work on this issue ?

[2022-09-25 06:41] ShivamJhaa commented on #16098
[code]

[2022-09-25 06:41] ShivamJhaa commented on #16102
`Error: Add Interaction button is not visible.`

[code]

[2022-09-25 06:42] ShivamJhaa commented on #16101
`Expected '' to equal 'Content 50'. `

[code]

[2022-09-25 06:42] ShivamJhaa commented on #16099
`Expected '' to equal 'this is card 2 with previous answer 21'.`

[code]

[2022-09-25 06:43] ShivamJhaa commented on #16098
`Error: English in Exploration Language is not visible.`

[code]

[2022-09-25 06:43] ShivamJhaa commented on #16097
`Expected '' to equal 'You must be feeling great?'.`

[code]

[2022-09-25 06:44] ShivamJhaa commented on #16096
`TimeoutError: Timeout awaiting 'request' for 120000ms when running "url" with method "POST" and args "{"url":"http://localhost:9001/get-started"}"`

[code]

[2022-09-25 06:44] ShivamJhaa commented on #16095
`First RTE element is not visible`

[code]

[2022-09-25 06:45] ShivamJhaa commented on #16053
Done.

[2022-09-25 06:59] seanlip commented on #16053
Thanks!

Closing this since its content is now reflected in: #16095, #16096, #16097, #16098, #16099, #16101 and #16102.

[2022-09-25 06:59] #16053 closed, assigned to SAEb-ai, ShivamJhaa

[2022-09-25 08:58] gnurris commented on #13162
Hello! I am a new developer here who would like to contribute. If there are any handlers left to work on, I would gladly be assigned to them!

[2022-09-25 09:03] Nik-09 commented on #13162
@gnurris Welcome to Oppia, I have assigned you 3 handlers.

[2022-09-25 17:21] U8NWXD opened #16141 "Automate the forwarding of oppia-dev emails to GitHub Discussions announcements"

[2022-09-26 06:18] Lawful2002 commented on #15410
@nithinrdy Can you please chck if this is the correct behaviour?

[2022-09-26 06:26] Lawful2002 commented on #15904
@Shivkant-Chauhan Can you please upload a video of your observations?

[2022-09-26 07:37] Shivkant-Chauhan commented on #15904
hi @Lawful2002, now the issue is not reproducible. Thanks!

[2022-09-26 08:28] nithinrdy commented on #15410
The behavior in the video is correct, but the issue seems to indicate that it occurs on a mobile device. If the behavior on a mobile device is similar to that in the video, then the issue can be closed.

@Shivkant-Chauhan could you maybe test this on a mobile device (or via dev tools)?

[2022-09-26 09:27] Shivkant-Chauhan commented on #15410
hi @nithinrdy, the behavior seems fine to me. PTAL

https://user-images.githubusercontent.com/91013793/192242051-fdb4d13b-2c2e-4126-8269-a8eaff169054.mov

thanks!

[2022-09-26 09:31] nithinrdy commented on #15410
Thanks @Shivkant-Chauhan.

Closing the issue as the second video indicates the issue isn't reproducible.

[2022-09-26 09:31] #15410 closed, assigned to nobody

[2022-09-26 12:14] Lawful2002 commented on #15904
Thanks @Shivkant-Chauhan, can you still upload a video showing the current behaviour?

[2022-09-26 12:31] Shivkant-Chauhan commented on #15904
@Lawful2002 yeah sure. Please check

https://user-images.githubusercontent.com/91013793/192276631-396941df-7c5b-4a58-9e47-f99185da4252.mov

[2022-09-26 14:36] JayVivarekar commented on #15968
@Om-Aditya-Jain Done

[2022-09-26 16:57] U8NWXD commented on #6509
I think the code is fine as-is for now

[2022-09-26 16:57] #6509 closed, assigned to nobody

[2022-09-26 16:59] U8NWXD commented on #8510
Removing the "triage needed" label since we now use that to indicate that the issue needs to be assigned to a project. Since this issue is already in a project, it's now up to the team leads to triage (which is indicated by the status of "no status")

[2022-09-26 17:03] U8NWXD commented on #16121
@Shivkant-Chauhan could you elaborate on how the current behavior is "a bit odd"? The included video with the modal sliding up from the bottom looks fine to me

[2022-09-26 17:11] U8NWXD commented on #16120
I think the rapid disappearance of the card is fine here, so I'm closing this issue. @rajanshresth please take a look at https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do for issues we've curated

[2022-09-26 17:11] #16120 closed, assigned to nobody

[2022-09-26 17:13] U8NWXD commented on #16119
The "Save Progress" modal looks fine to me, but adding feedback that the URL was copied is reasonable, so I'm sending this to the LaCE quality team for triage

[2022-09-26 17:27] U8NWXD commented on #16111
Can't you delete them using the delete key?

https://user-images.githubusercontent.com/19878639/192341742-84e751b8-e81f-4dc2-8a9e-01ff63c92e3b.mov

[2022-09-26 17:40] Shivkant-Chauhan commented on #16121
hi this was the issue from the PRD doc by Diana. the expected behavior stated there was to make the Save Progress Modal transition from the top to appear. thanks!

[2022-09-26 17:42] seanlip commented on #16121
Could you please link to the doc? Providing fuller context in issues is
helpful.

Also does this apply to all modals or just this one? We would prefer not to
special-case in general.
Message ID: ***@***.***>

[2022-09-26 17:45] Shivkant-Chauhan commented on #16121
Hi @seanlip https://docs.google.com/document/d/1aJcQ1NqvYs5bRZ7Xru6TZdgBkc4XE13EKjYQJlJjmt4/edit#heading=h.ft7xhyjsbvat
this is the doc link. I think these changes are for particularly this modal

[2022-09-26 19:51] jigarvyasidea commented on #16088
Hy Oppia Team member,
I want to work on this issue

[2022-09-26 21:37] seanlip commented on #16091
@iamprayush started a doc here: https://docs.google.com/document/d/1oE4vhmrJQbWsOMYEszEQga2Bz62r2l2J3cbp0x-jNaE/edit#

[2022-09-27 04:50] KolliAnitha commented on #16111
@U8NWXD, try to add tabs, links, videos and edit it without adding any text to it.

[2022-09-27 07:53] seanlip commented on #16085
Also adding to UX Writing board since I think this could benefit with input from the UX Writing team.

(Note for context: @anubhutiv is the lead for the language accessibility team and looks after our translation contributors. One place we could also show this information is on our contributor dashboard page at www.oppia.org/contributor-dashboard.)

[2022-09-27 07:58] seanlip commented on #13195
There are no repro instructions for this issue, and I haven't heard about it occurring in the past year, so I am closing it.

Please feel free to reopen if it happens again.

[2022-09-27 07:58] #13195 closed, assigned to sagangwee, rdawson10

[2022-09-27 07:58] seanlip commented on #13196
I haven't seen a report about this issue in the past year, so I am closing this. Feel free to reopen if it happens again.

[2022-09-27 07:58] #13196 closed, assigned to sagangwee, rdawson10

[2022-09-27 07:59] seanlip commented on #13197
This issue does not have sufficient reproduction steps and I haven't heard anything about it in the past year, so I am closing it.

[2022-09-27 07:59] #13197 closed, assigned to sagangwee, rdawson10

[2022-09-27 08:00] seanlip commented on #13001
This page has been fully revamped since this issue was filed, so I am closing this issue.

[2022-09-27 08:00] #13001 closed, assigned to nobody

[2022-09-27 08:00] seanlip commented on #13128
This issue isn't relevant any more (and doesn't have enough details). Closing.

[2022-09-27 08:00] #13128 closed, assigned to sagangwee

[2022-09-27 08:11] seanlip commented on #14170
It would be nice if the processes done in the current manual form could all be done directly on the website. This includes serving sample translations and automatically adding the translator to the relevant ACLs once their submission is approved by the relevant translation coordinator/reviewer.

That said, as a short-term solution, the website could, at least, link people interested in translation

[2022-09-27 08:15] seanlip opened #16150 "Translation of image texts is not working properly."
**Describe the bug**
Translation teams are reporting that there are bugs when trying to edit existing images in the platform to translate them from English to other languages. This makes translating hard when the content includes images that contain text -- the current workaround is to use Figma and export the image but this introduces friction.

**To Reproduce**
Steps to reproduce the behavior:

[2022-09-27 08:20] seanlip opened #16151 "Allow translation admin to control which languages are currently accepting translations."
**Is your feature request related to a problem? Please describe.**
Currently, all languages are shown on the contributor dashboard, even ones that we aren't really accepting translations for. We have seen that some languages attract only incremental contributions, which means that no lesson is fully translated and the work for that language gets wasted.

**Describe the solution you'd like**
There

[2022-09-27 09:19] adityanarayanm095 opened #16152 "File created during backend-test but not deleted"
**Description of the bug**
I wrote schemas to SubtopicViewerPage and when I tried to do git push an error occurred which created two files namely ```frontend_files.ts & backend_files.py``` without my knowledge. And after searching in the codebase about these two files. I found that there is a method ```setUp()``` in class ```CheckBackendAssociatedTestFileTests``` of file ```check_backend_associate

[2022-09-27 14:26] Lawful2002 commented on #13146
@Priyansh61  Hmm. seems like this issue doesn't happen on chrome or firefox (it still happens on the brave browser). But the search bar input is still not centered w.r.t the buttons. Could you fix the alignment?

[2022-09-27 16:09] Lawful2002 commented on #15738
Duplicate of #15371.

[2022-09-27 16:09] #15738 closed, assigned to aks681

[2022-09-27 16:17] Lawful2002 commented on #13567
Thanks for filing this @om-khandade. One question: Do we know whether this really bothers users and if so how how many users would like this feature to be implemented?

[2022-09-27 16:27] amitpanwar789 commented on #15968
I am new to open source and want to work on this issue.
please assign me this file.
 .  oppia/core/templates/pages/contributor-dashboard-page/contributions-and-review/contributions-and-review.component.html
 .  oppia/core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.component.html
 .  oppia/core/templates/pages/contributor-dashboard-page/modal-templat

[2022-09-27 16:47] ShivamJhaa commented on #16101
Debugging doc: https://docs.google.com/document/d/1mmaFzv5rC-Vys99inyPyUtmmhz3POABT6EpYPe38xyM/edit?usp=sharing

[2022-09-27 16:57] Lawful2002 commented on #15372
This issue is an extension of #15529.

[2022-09-27 16:58] Lawful2002 commented on #15524
Closing as similar to #15372.

[2022-09-27 16:59] #15524 closed, assigned to kevintab95

[2022-09-27 17:27] vojtechjelinek commented on #15372
@Lawful2002 Please mention that it is also not accessible using screenreader in the description.

[2022-09-27 17:55] Bhavik-ag commented on #15968
Hello, @JayVivarekar @vojtechjelinek I would like to make a contribution. Please assign me these files -

-  oppia/core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.html'
-  oppia/core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.component.html
-  oppia/core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.component.html
-  op

[2022-09-27 18:08] Shivkant-Chauhan commented on #15968
Hi @JayVivarekar, can you please unassign me this issue as I will be busy working on a new proposal related to CUJ testing frameworks? Also, this material icon issue would be a good issue for the new contributors!

[2022-09-27 19:22] EshaanAgg commented on #15968
@JayVivarekar @vojtechjelinek
I would like to work on this issue. Please assign me these files.
- oppia/core/templates/pages/exploration-player-page/layout-directives/correctness-footer.component.html
- oppia/core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.html
- oppia/core/templates/pages/exploration-player-page/layout-directives/feedback-popup.componen

[2022-09-27 19:35] vaibhav-1508 commented on #15968
@JayVivarekar @vojtechjelinek
Hey there, I've selected these three files. Can I work on this issue?

- [ ]  `oppia/core/templates/pages/release-coordinator-page/navbar/release-coordinator-navbar.component.html`

- [ ]  `oppia/core/templates/pages/skill-editor-page/editor-tab/skill-concept-card-editor/worked-example-editor.component.html`

- [ ]  ` oppia/core/templates/pages/skill-editor-page/edito

[2022-09-27 19:39] abhishek-sultaniya commented on #15968
@JayVivarekar @vojtechjelinek
I am interested in contributing to this issue. Please assign me these files -

1. oppia/core/templates/pages/blog-admin-page/navbar/blog-admin-navbar.component.html

2. oppia/core/templates/pages/collection-editor-page/editor-tab/collection-node-editor.component.html

3.  oppia/core/templates/pages/collection-editor-page/navbar/collection-editor-navbar.component.html

[2022-09-27 20:20] DecryptAG commented on #15968
@JayVivarekar  @vojtechjelinek
I would like to work on this issue. Please assign me these files.

1.  oppia/core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html
2. oppia/core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.html
3. oppia/core/templates/pages/exploration-editor-page/exploration-e

[2022-09-28 05:51] Nik-09 opened #16156 "Remove the instances of `/deep/` from the codebase"
Remove the existing instance of  `/deep/` from the codebase, because in the future Angular will stop the support for `/deep/` for all the major browsers.

Ref link: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep

[2022-09-28 06:45] MattiasErlingson commented on #13162
Hi, I'm new to this repo but will gladly help. I'd like to have 3 Handlers assigned to med if possible.

[2022-09-28 06:45] richard-johansson commented on #13162
Hello! I want to contribute. Please assign 3 handlers to me if there are any left.

[2022-09-28 06:46] Sean-Zhong commented on #13162
Hello, I would like to contribute. Can I please have 3 handlers assigned to me?

[2022-09-28 06:49] adamhalim commented on #13162
Hey, I'd like to have a crack at this, could I have three handlers assigned to me?

[2022-09-28 06:49] Nik-09 commented on #13162
Hi, @MattiasErlingson @richard-johansson @Sean-Zhong I have assigned 1 handler, feel free to raise a PR and comment again or message me in the chats, and I will assign another handler to you.
Thank you

[2022-09-28 06:50] Nik-09 commented on #13162
Hi @adamhalim, Done

[2022-09-28 07:08] nithinrdy commented on #15372
@Lawful2002 I feel like #15524 should instead be kept open as it describes the issue in a bit more detail. That'll allow us to set it up as a good-first-issue by adding just a few more details to it. Lmk what you think.

[2022-09-28 07:25] jahd2602 commented on #15493
The current experience looks like this in the current state of the PR: (any early feedback is welcome!)
https://user-images.githubusercontent.com/2841740/192715108-eb4b8c81-894c-4e37-8ff2-f59496d2ac9d.mp4

[2022-09-28 08:35] Lawful2002 commented on #15372
@nithinrdy I think we should merge both issues (and make sure to include Vojta's comment above as well)

[2022-09-28 11:24] nithinrdy commented on #15368
Hey @Priyansh61, sorry for the delay -- still interested in working on this?

[2022-09-28 11:28] nithinrdy commented on #15372
Sure, how do you wanna go about doing it?

[2022-09-28 11:33] nithinrdy commented on #14277
Issue is no longer reproducible; closing.

![image](https://user-images.githubusercontent.com/78612244/192768457-bbe7d754-bdcd-49a1-a78b-d08a384199b2.png)

![image](https://user-images.githubusercontent.com/78612244/192768532-49357b83-9185-4844-87b8-5bf49e61253c.png)

[2022-09-28 11:33] #14277 closed, assigned to nobody

[2022-09-28 11:37] nithinrdy commented on #13800
Closing this in favour of #14210, as it contains a more comprehensive description of the issue (about the UI also not being intuitive), and also explains why the issue isn't being actively worked on (mocks to be created).

[2022-09-28 11:37] #13800 closed, assigned to nlok5923

[2022-09-28 11:47] nithinrdy commented on #15793
Hey, I can't seem to reproduce the behavior you're observing -- the error looks the same as it is described in the issue on my local server.

![image](https://user-images.githubusercontent.com/78612244/192771045-adcf5fed-aa68-4d05-961b-c4368287b104.png)

[2022-09-28 12:07] nithinrdy commented on #12743
Can't repro anymore; tags now only break into the next line if they can't all fit into the previous one. Social media icons have also been fixed. Closing.

![image](https://user-images.githubusercontent.com/78612244/192774560-710a5d8f-a944-48d2-90c6-ef2fe1204a03.png)

[2022-09-28 12:07] #12743 closed, assigned to nobody

[2022-09-28 12:14] nithinrdy commented on #12254
Pretty sure this issue is outdated; the search bar is no longer located on the navbar. The search bar is still broken, but that is being tracked in #13146.

@Lawful2002 if I'm missing something?

[2022-09-28 12:14] #12254 closed, assigned to oswalgopal

[2022-09-28 15:39] JayVivarekar commented on #15968
@Shivkant-Chauhan Done

[2022-09-28 15:41] JayVivarekar commented on #15968
@amitpanwar789 @EshaanAgg @vaibhav-1508 @abhishek-sultaniya @DecryptAG Done

[2022-09-28 15:51] JayVivarekar commented on #15968
@amitpanwar789 You will have to first navigate to the corresponding page through the frontend. Once there, you could inspect the page source to locate the icon.

[2022-09-28 16:03] amyra98 commented on #15968
@JayVivarekar
I'm interested to work on this issue. Please assign me these files

[2022-09-28 16:03] Aacashh commented on #15968
@vojtechjelinek @JayVivarekar
I am interested in working on this issue, kindly assign me these files
• oppia/extensions/rich_text_components/Image/directives/image.component.html
• oppia/extensions/rich_text_components/Collapsible/directives/collapsible.component.html
• oppia/extensions/objects/templates/image-editor.component.html

[2022-09-28 16:08] JayVivarekar commented on #15968
@amyra98 @Aacashh Done

[2022-09-28 16:38] nithinrdy commented on #13034
@dchen97 PTAL!

[2022-09-28 16:52] ashish-patwal opened #16159 "Not very helpful aid message in exploration creation."
**Describe the bug**
When we are to publish our exploration oppia prompts us to fill the details about our exploration like title, goal, language, category and tags through a modal prompt. During this we need to make sure we have a goal description of more than 15 chars. But currently the oppia prompt doesn't display any helpful message to show that we must write a goal above 15 chars. Due to this

[2022-09-28 17:01] dchen97 commented on #13034
We have a PM working on revising this page currently so I'd hold off on
working on this issue for now. We'll make sure to keep this in mind.

[2022-09-28 18:48] SubhashThenua commented on #16112
hi @seanlip, I also checked, the behaviour is fine and there must be a warning message because the last character cannot be '^' and thats why the warning message is rendered! Please let me know if I am wrong somewhere so that I can help in resolving the issue!

[2022-09-28 18:55] seanlip commented on #16112
Thanks @SubhashThenua. Let's wait for @KolliAnitha to provide a recommendation before proceeding further. In the meantime, you could perhaps check out other issues labelled "good first issue".

[2022-09-28 19:11] Snm-9701 opened #16160 "Registration screen - Missing feedback popup for not selecting an email preference"
**Describe the bug**
When a new user tries to register without selecting an email preference, there is no feedback/error popup informing user of the missing selection.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Sign In'
 2. Select the Google account to Sign In with
 3. Enter a username
 4. Check the 'Terms of Use' Checkbox
 5. Click 'Submit and Start Contributing'

**Observed be

[2022-09-28 19:13] gp201 commented on #3446
Unassigning @KarishmaVanwari since no PR was opened.

[2022-09-28 19:50] SubhashThenua commented on #16021
Hi @KolliAnitha Can i work on this issue?

[2022-09-29 06:10] nithinrdy commented on #13034
Got it, thanks!

[2022-09-29 06:14] seanlip opened #16162 "[Contributor dashboard] Make it clear when topics need "top-up" submissions/reviews for translations."
**Is your feature request related to a problem? Please describe.**

We are trying to fully complete lesson translations, and have already done so for several topics, especially in Brazilian Portuguese. However, after full translations have been done, sometimes the original lesson needs to be edited. When this happens, some parts of the lesson will need to be re-translated.

It's not clear, however

[2022-09-29 06:19] seanlip commented on #16162
Actually, I just realized the same problem happens for reviewers. On my default review dashboard I see no translations. However, it turns out that this was because the topic is "Addition + Subtraction", and there were actually pending reviews for other topics like Fractions. I completely missed this though.

To avoid this I think we could do something similar as we would for the submitter view:

-

[2022-09-29 06:26] seanlip opened #16163 "[Contributor Dashboard] Make it easier to translate content that has been translated previously."
**Is your feature request related to a problem? Please describe.**

Sometimes, after a piece of content is translated, a small part of the original text is edited. In such cases, we should make it easy for the translator to base their new translation on the original one, but just edit the part of the previous translation that has changed. (Currently, they need to submit a brand-new translation ins

[2022-09-29 06:32] seanlip opened #16164 "[Contributor Dashboard] Pre-populate lessons with autogenerated translations by default, but include a warning saying that these are autogenerated."
**Is your feature request related to a problem? Please describe.**

It takes a while to translate lessons, and this results in a long lag between lessons being published and learners being able to play them.

Additionally, when lessons are edited, it takes a while to bring the translations up-to-date.

It would be helpful to have a way to pre-populate these cases with autogenerated translations, t

[2022-09-29 06:34] seanlip commented on #16164
/cc @dchen97 -- marking this as blocked on PM advice.

[2022-09-29 06:34] seanlip commented on #16152
Hi @IamEzio @U8NWXD -- it looks like this was caused by https://github.com/oppia/oppia/pull/15700.

Could you PTAL? Thanks!

[2022-09-29 12:20] #12802 closed, assigned to ashutoshc8101

[2022-09-29 12:27] JeeveshGarg commented on #6431
@mridul-netizen what is status of this issue?

[2022-09-29 12:29] JeeveshGarg commented on #9859
@mridul-netizen any update on this?

[2022-09-29 12:36] JeeveshGarg commented on #12859
@vojtechjelinek any updates on this issue, is it resolved?

[2022-09-29 12:41] JeeveshGarg commented on #3968
@Showtim3 please update the issue description, means add new tasks if possible.

[2022-09-29 13:12] KolliAnitha commented on #16112
@seanlip @SubhashThenua, I have updated the bug please check it now

[2022-09-29 13:23] vojtechjelinek commented on #12859
@JeeveshGarg No, not yet I cannot focus on this right now. But I can help anyone who works on this.

[2022-09-29 14:55] IamEzio commented on #16152
Thanks @adityanarayanm095 @seanlip. I'm working on it.

[2022-09-29 14:58] nithinrdy commented on #12952
The Sign-up/login banner is now dismissable; the attribution guide can now be accessed by dismissing the banner.

![image](https://user-images.githubusercontent.com/78612244/193065280-64fc298c-4d02-4e93-8508-cc28338c2bff.png)

![image](https://user-images.githubusercontent.com/78612244/193065319-92897cf1-b51e-4011-b517-49f29b84303a.png)

[2022-09-29 14:58] #12952 closed, assigned to nobody

[2022-09-29 15:44] itsrajatrai commented on #16088
@gp201 I want to work on this issue.

[2022-09-29 15:56] JeeveshGarg opened #16166 "#15986"

[2022-09-29 15:57] #16166 closed, assigned to nobody

[2022-09-29 16:14] nithinrdy commented on #13647
As per offline discussion, the ideal experience would be the same as what can be found under the topic tab.

[2022-09-29 20:11] seanlip commented on #16112
Ah, thanks Anitha. I think the right thing to do here is actually to prevent saving of the formula if it's invalid. I'll update the description accordingly. Thanks for clarifying!

[2022-09-30 03:19] gp201 opened #16168 "[FE Flake] ContextService"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  69

## Complete Log

[8_Run.frontend.tests.45.txt](https://github.com/oppia/oppia/files/9687468/8_Run.frontend.tests.45.txt)

## Debug Doc

[2022-09-30 03:27] gp201 commented on #16088
I have assigned you @therajatrai

[2022-09-30 04:51] itsrajatrai commented on #16088
Thankyou @gp201

[2022-09-30 09:39] vojtechjelinek commented on #16002
@seanlip In most cases, it will break the whole page. But for some specific bundles, it might only break a part of the page.

[2022-09-30 09:57] seanlip commented on #16002
This does seem pretty disruptive to me, especially for folks with not-great connections. I think it is worth spending time fixing this.

I'm also confused about why it is only happening for CSS and not other webpack resources? Do we get error messages when those fail to load?

[2022-09-30 10:29] vojtechjelinek commented on #16002
It is happening to the other resources too. Kevin's log above shows it is happening for JS

[2022-09-30 11:24] jonlake5 commented on #14219
@IamEzio  Can I be assigned the core.domain.value_generators_domain_test please?

[2022-09-30 13:40] Snm-9701 opened #16170 "Voiceover controls partially hidden by the header"
**Describe the bug**
Voiceover controls are partially covered by the header.

**To Reproduce**
Steps to reproduce the behavior:
 1. Click on 'Listen to the Lesson' on the lesson screen.
 2. Click on 'Play' control

**Observed behavior**
The voiceover controls are partially covered by the header.

**Expected behavior**
The controls should be visible and accessible.

**Screenshots / Videos**
Unable

[2022-09-30 14:03] anudeeps0306 commented on #14219
@IamEzio  Can you please assign me  core.domain.feedback_domain_test?

[2022-09-30 14:30] Snm-9701 opened #16171 "Two hint icons are populated"
**Describe the bug**
Two hint icons populate in the footer

**To Reproduce**
Steps to reproduce the behavior:
 1. Start a lesson.
 2. Answer a question 'incorrectly' a few times.
 3. Click on the hint icon
 4. Answer incorrectly again
 5. Second hint icon populates

**Observed behavior**
After answering a question incorrectly a few times the first hint icon populates and after a couple more incorr

[2022-09-30 17:14] chrysillala commented on #12445
Hi, can I contribute on this? Would appreciate if you could give any guidance, thanks!

[2022-09-30 17:46] KIET7UKE commented on #12445
Hi, I can fix this, looking forward to working on this issue. @seanlip

[2022-09-30 18:57] Snm-9701 opened #16172 "Two warning messages pop up on clicking the back arrow in Practice Session"
**Describe the bug**
Two warning messages containing the text  'Every parameter passed into interpolateUrl must have string values,but received:{entity_type:undefined' pop up on the screen when the back button is clicked in a Practice session.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Practice'
 2. Click on 'Place Names and their Values'
 3. Attempt a few questions
 4. click th

[2022-09-30 20:43] gp201 opened #16173 "[Docker] Figure out how to allow communication between the backend and frontend."
Currently, login attempts are failing with the following error:

[code]

[2022-09-30 22:08] Sakshi-75 commented on #15968
@JayVivarekar @vojtechjelinek ,
I am interested on working on this issue. Can you assign the following files to me please?

1. oppia/core/templates/components/summary-tile/collection-summary-tile.component.html
2. oppia/core/templates/components/summary-tile/exploration-summary-tile.component.html
3. oppia/core/templates/components/summary-tile/story-summary-tile.component.html

[2022-10-01 00:00] #15985 closed, assigned to paprajapati9

[2022-10-01 00:00] #16116 closed, assigned to Shivkant-Chauhan

[2022-10-01 02:18] JayVivarekar commented on #15968
@Sakshi-75 Done

[2022-10-01 02:39] #16031 closed, assigned to vojtechjelinek

[2022-10-01 04:26] prakhar1144 commented on #12912
Hi @vojtechjelinek, can you please assign me any available issues?

[2022-10-01 06:13] Broppia commented on #13349
duplicate issue here #14785

[2022-10-01 06:19] seanlip commented on #13349
Thanks @Broppia!

@srikanthkb I'm a bit confused by this. This issue talks about SkillModel's size and the other issue talks about SkillContent's size. Are these issues the same or different?

[2022-10-01 06:54] anish2210 commented on #11206
@mschanteltc is this issue still open for contribution?
if yes please assign this to me

[2022-10-01 07:14] adityanarayanm095 commented on #12445
Hey, @seanlip I would like to work on this issue. Can you assign this to me?

[2022-10-01 07:21] adityanarayanm095 commented on #12062
Hey @seanlip @sagangwee I would like to work upon this.

[2022-10-01 07:34] AnuragVats007 commented on #13647
@nithinrdy can you assign this task to me?

[2022-10-01 08:15] AsmaKacem1 commented on #15968
@JayVivarekar @vojtechjelinek
I would like to work on this issue. Please assign me these files.

1. oppia/core/templates/pages/exploration-editor-page/improvements-tab/improvements-tab.component.html
2. oppia/core/templates/pages/exploration-editor-page/improvements-tab/needs-guiding-responses-task.component.html
3. oppia/core/templates/pages/exploration-editor-page/param-changes-editor/param-chan

[2022-10-01 08:45] anurag629 commented on #12912
Hey, @vojtechjelinek assign me if any issue is available and also tell me how to proceed with same.

Thanks

[2022-10-01 10:05] nithinrdy commented on #13647
Done!

[2022-10-01 10:05] JayVivarekar commented on #15968
@AsmaKacem1 Done

[2022-10-01 10:38] akshit5565 commented on #15968
@JayVivarekar @vojtechjelinek
I want to contribute to this projrct
Please assign me:-
 oppia/core/templates/pages/topic-editor-page/navbar/topic-editor-navbar.component.html
 oppia/extensions/interactions/ImageClickInput/directives/image-click-input-interaction.component.html
 oppia/core/templates/pages/s kill-editor-page/editor-tab/skill-prerequisite-skills-editor/skill-prerequisite-skills-
 edit

[2022-10-01 10:50] akshit5565 commented on #15793
@Lawful2002 @KolliAnitha
I want to contribute.
Please assign me the task.

[2022-10-01 10:53] akshit5565 commented on #15537
@Lawful2002
plz assign me the task

[2022-10-01 12:13] vcvedika opened #16180 "Incorrect alignment of the header - padding should be adjusted"
**Describe the bug**
In the [given page](https://www.oppiatestserver.org/learn/math) the heading **Course Details** is not properly aligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [link](https://www.oppiatestserver.org/learn/math)
 2. Scroll down to **Course Details**
 3. See error

**Observed behavior**
Inappropriate spacing above the heading.

**Expected behavior**
The head

[2022-10-01 12:28] vcvedika commented on #15968
@vojtechjelinek @JayVivarekar

I am interested in working on this issue, kindly assign me the following files.

• oppia/core/templates/base-components/no-script.template.html
• oppia/core/templates/components/review-material-editor/review-material-editor.component.html
• oppia/core/templates/components/state-directives/answer-group-editor/answer-group-editor.component.html

[2022-10-01 12:53] prateekgarg08 commented on #15371
I would like to work on this issue.

[2022-10-01 14:51] SubinDuresh commented on #15968
@vojtechjelinek @JayVivarekar

I am interested in working on this issue. Please assign me the following files.

-  oppia/core/templates/components/state-editor/state-content-editor/state-content-editor.component.html
-  oppia/core/templates/components/state-editor/state-interaction-editor/state-interaction-editor.component.html
-  oppia/core/templates/components/state-editor/state-skill-editor/sta

[2022-10-01 17:02] ShivamJhaa commented on #16098
Debugging doc: https://docs.google.com/document/d/1TMZkHzNFb-Ua_9Y4CQrm630VqhPawtMYDzOZjZW80e4/edit#heading=h.x7lmbdz8fqoa

[2022-10-02 03:57] JayVivarekar commented on #15968
@akshit5565 @SubinDuresh

[2022-10-02 03:59] JayVivarekar commented on #15968
@vcvedika The files which you have picked are already assigned. Can you choose some which have not been assigned yet?

[2022-10-02 05:44] Lawful2002 commented on #15371
Sure @prateekgarg08, assigning it to you.

[2022-10-02 05:45] Lawful2002 commented on #15537
@akshit5565 Sure! Assigning it you.

[2022-10-02 09:30] #16078 closed, assigned to nobody

[2022-10-02 10:28] vishwajeet-hogale commented on #13162
@Nik-09 I want to work on QuestionCreationHandler.

[2022-10-02 10:34] sahiljoster32 commented on #13162
Done @vishwajeet-hogale

[2022-10-02 10:46] vedsom commented on #16180
@vcvedika Can I work on this issue under Hactoberfest?

[2022-10-02 12:54] nithinrdy commented on #11542
Issue can no longer be repro'd

![image](https://user-images.githubusercontent.com/78612244/193455013-6120b930-add8-4b9b-b8f5-3d4d4de6a2f3.png)

[2022-10-02 12:54] #11542 closed, assigned to nobody

[2022-10-02 13:55] Valeron-T commented on #15968
@vojtechjelinek @JayVivarekar
I would like to work on these files. Please assign me the same.

- oppia/core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/add-answer-group-modal.component.html
- oppia/core/templates/pages/exploration-editor-page/exploration-save-and-publish-buttons/exploration-save-and-publish-buttons.component.html
- oppia/core/templates/pages/explor

[2022-10-02 14:25] Priyansh61 commented on #13146
Yes!! @Lawful2002 will make the necessary changes. Could you please assign me to this issue?

[2022-10-02 15:14] IamEzio commented on #14219
@jonlake5 @anudeeps0306 done!

[2022-10-02 19:14] ismaelsadeeq commented on #11170
Hello Oppia Team, I will like this issue to be assigned to me

[2022-10-02 22:29] vojtechjelinek commented on #12912
@prakhar1144 Done.

@anurag629 Please pick a different issue, everything is assigned here.

[2022-10-03 03:07] galanggg commented on #15529
Hi @vojtechjelinek , can you assign me to this issue? I will work on this issue. Thanks!

[2022-10-03 04:41] karenbanci commented on #15793
I have already started working on this issue

[2022-10-03 05:19] Rahul-Palahwat commented on #15537
Hey @Lawful2002 it would be great if you could assign this issue to me, as this is going to be my first contribution in the organization

[2022-10-03 05:36] jahd2602 commented on #15149
More details to help new contributors:

To replicate this issue:
1. Populate question opportunities as admin user (user a) -- how to: https://docs.google.com/document/d/1JYX4nvTcblaVVYAlTi7rApE0lWSBx0v_ZCCr_8WW4Wc/edit
2. Submit question suggestion as a user allowlisted (user b)
3. Reject question as user a
4. See your contributions as user b, and you will see the suggestion with label `Revisions

[2022-10-03 05:47] jahd2602 commented on #14698
More details to help new contributors:

To replicate this issue:
1. Log in as a admin user
2. Go to /admin or click menu>Admin Page

![Image](https://user-images.githubusercontent.com/2841740/193508860-1d812bf2-9873-4f19-905c-bd187369e696.png)

The objective here is to add a section where the admin can select a number of explorations to be generated, and a button to do the generation.

To start, l

[2022-10-03 05:51] karenbanci commented on #15793
The problem was in the name of the classes according to this issue [#15988](https://github.com/oppia/oppia/issues/15988)

<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-e6a5d31e-7fff-c216-7414-7830ae2cfbc2"><div dir="ltr" style="margin-left:0pt;" align="left">

Describe the bug | There are two different html files that contain the same class name which is interfering w

[2022-10-03 05:56] jahd2602 commented on #12445
Hints for new contributors:
1. Here are instructions on how to populate question opportunities: https://docs.google.com/document/d/1JYX4nvTcblaVVYAlTi7rApE0lWSBx0v_ZCCr_8WW4Wc/edit
2. The modal with the bug appears when clicking review in one of the questions submitted
![Image](https://user-images.githubusercontent.com/2841740/193509550-dca5287b-6043-4b35-88a1-790f00e85dc7.png)

A file to start lo

[2022-10-03 06:33] Rahul-Palahwat commented on #16180
Hey @vcvedika i would be thank full if you allow me to work on this issue

[2022-10-03 06:35] Rahul-Palahwat commented on #16170
Hey @Snm-9701 i would like to work on this issue , can you assign this issue to me

[2022-10-03 07:10] karenbanci commented on #11715
@nithinrdy I  reproduced this error on Oppia.org and this was the result.

https://user-images.githubusercontent.com/88203154/193519464-80925a82-d7cf-4a0e-8d83-213dbf9154b0.mov

This Issue is old, it probably could have been resolved in another issue, isn't?

[2022-10-03 08:09] nithinrdy commented on #10607
This has been achieved now that the user checkpoints project is now complete.

[2022-10-03 08:09] #10607 closed, assigned to nobody

[2022-10-03 08:14] vojtechjelinek commented on #15529
@galanggg Done.

[2022-10-03 08:18] nithinrdy commented on #10281
This behaviour is no longer reproducible:

![image](https://user-images.githubusercontent.com/78612244/193531500-0a62a885-3a69-4c7c-a0ed-d398023c0def.png)

[2022-10-03 08:18] #10281 closed, assigned to aks681

[2022-10-03 09:15] ayushanand16 commented on #15968
@vojtechjelinek @JayVivarekar
I would like to work on this issue.
Please assign the following files to me:
1. oppia/core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-modal.template.html
2. oppia/core/templates/pages/exploration-editor-page/editor-tab/training-panel/training-data-editor-panel-modal.component.html
 3. oppia/core/templates/pages/exploration

[2022-10-03 09:38] ayushanand16 commented on #15968
@vojtechjelinek @JayVivarekar
I would like to work on this issue.
Please assign the following files to me:

- oppia/core/templates/pages/learner-dashboard-page/learner-dashboard-page.component.html
-  oppia/core/templates/pages/learner-group-pages/create-group/add-syllabus-items.component.html
- oppia/core/templates/pages/exploration-editor-page/editor-tab/templates/modal-templates/teach-oppia-mod

[2022-10-03 10:15] #16168 closed, assigned to gp201

[2022-10-03 11:28] nithinrdy commented on #9825
The footer now contains a button which opens the lesson info modal, which displays author profiles:
![image](https://user-images.githubusercontent.com/78612244/193566078-b36ae3db-fde2-4b4b-a7ee-712eb4cd1fba.png)
![image](https://user-images.githubusercontent.com/78612244/193566137-08f5a01c-4e89-40e6-b3ed-e57d5b4bdf5f.png)

[2022-10-03 11:28] #9825 closed, assigned to nobody

[2022-10-03 12:37] nithinrdy commented on #9528
The UI has been revamped so this is no longer an issue.
![image](https://user-images.githubusercontent.com/78612244/193578314-8d986546-d984-4276-b3b4-9bd1c9cd193f.png)

[2022-10-03 12:37] #9528 closed, assigned to aks681

[2022-10-03 16:01] SubhashThenua commented on #15968
@vojtechjelinek @JayVivarekar
Icon in the below file is already Font-awesome icon .
Can you please clarify it?
Thanks!
oppia/core/templates/pages/library-page/search-bar/search-bar.component.html

[2022-10-03 16:19] srijanreddy98 commented on #9749
When this was created there were multiple components that were migrated in parallel. But now the team has moved to an approach where the components are migrated as part of full page migration. Hence this issue can be closed.

[2022-10-03 16:19] #9749 closed, assigned to nithusha21, srijanreddy98

[2022-10-03 16:20] srijanreddy98 commented on #8472
This was created as a good first issue but now the services are almost completely migrated and the remaining ones are being migrated as part of full page migration. Closing this issue now.

[2022-10-03 16:20] #8472 closed, assigned to srijanreddy98, arpit1912

[2022-10-03 17:13] lkbhitesh07 opened #16192 "Unable to generate backend coverage report"
**Describe the bug**
When I try to locally generate the backend coverage check, I'm not able to get the results. The script ends with this error `Can't combine line data with arc data`.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run any backend test with the flag `--generate_coverage_report`
 2. See the error

**Observed behavior**
Receiving the error instead of a coverage report.

**E

[2022-10-03 17:16] lkbhitesh07 commented on #16192
Hey @IamEzio @U8NWXD, WIll you please take a look at this? I'm kind of blocked on this particular part.
Thanks

[2022-10-03 17:41] IamEzio commented on #16192
Hi @lkbhitesh07, I too am investigating this issue for a while now. But normally it means that the coverage for the target file is 100% and you can go ahead.

[2022-10-03 17:57] Rahul-Palahwat commented on #16160
Hey @Snm-9701 i wanna work on this issue , can you assign this to me?

[2022-10-03 18:17] SubhashThenua commented on #16112
@KolliAnitha
 Can you please help me to find from which file this warning message is (i.e 'Missing superscript or subscript argument')?
Thanks!

[2022-10-03 18:26] seanlip commented on #16112
@SubhashThenua Anitha is only reporting the bug, it's up to the developers to find out how to fix it.

If you're not sure how to proceed on this issue, please pick an issue which you are able to investigate. I would suggest looking at those tagged "good first issue".

Thanks!

[2022-10-03 18:41] anant-c commented on #15537
hey @Lawful2002 can you direct me to the document where can i learn to setup oppia dev server

[2022-10-03 19:59] anant-c commented on #15537
hey @Lawful2002 I've done the event detection through input tag then inside javascript eventlistener which on click will search, I'm a little confused about my approach can you please guide me here is the link to my patch-branch https://github.com/oppia/oppia/compare/develop...anant-strong:oppia:anant-strong-patch-1

[2022-10-03 20:09] Lawful2002 commented on #15537
Hey, @Rahul-Palahwat @anant-strong, sorry but this issue is already assigned to @akshit5565. You can find more issues here: [link](https://github.com/orgs/oppia/projects/3/views/10), or by using the `good first issue` and `hacktoberfest` labels

[2022-10-03 20:10] Lawful2002 commented on #15537
You can set up Oppia dev server by following this: https://github.com/oppia/oppia/wiki/Installing-Oppia

[2022-10-03 20:20] anant-c commented on #15537
thanks for the reply, i'll find another issue but can you please tell me if i was going in the right direction to solve the issue ?

[2022-10-03 20:48] igraine82 opened #16195 "Highlight is not working properly in "Exploration Overview" when on "Translations""
The highlight (thicker border) is not working properly in "Exploration Overview" when on "Translations".
Every time I change to a new card, the highlight should move to the card I am in, but it is not doing that.
This feature was working properly some time ago (2 weeks, maybe).

I am using Google Chrome Version 106.0.5249.91 (Official Build) (64-bit).

https://www.oppia.org/create/C8QUgzIETvRv#/tr

[2022-10-03 21:15] Lawful2002 commented on #15537
@anant-strong, yes, what you did was correct. But there are better ways to do this in angular. The easiest easiest way would be to use `(keup.enter)` event.

You can read about it here: https://angular.io/guide/user-input#key-event-filtering-with-keyenter

[2022-10-03 21:17] vojtechjelinek opened #16197 "Remove secrets from feconf after we know that it is working"
Remove secrets from _feconf.py_ after we successfully release to prod and verify that all secrets are working

[2022-10-03 21:42] seanlip commented on #16195
Hi @heyimShivam, @nithinrdy identified that this issue was caused by #15768. Could you PTAL at this asap since this is breaking core flows for creators/reviewers? Thanks!

/cc @ashutoshc8101 @srijanreddy98

[2022-10-03 22:26] lkbhitesh07 commented on #16192
Oh! but that is not the case here. I do have some coverage left but I'm not able to see it.
**Edit** Also can you please tell me a temporary hack to disable the branch coverage?

[2022-10-04 02:54] U8NWXD commented on #16195
Removing triage label since this has already been assigned to LaCE Quality

[2022-10-04 02:58] U8NWXD commented on #16180
Removing the triage label since this has been assigned to a team

[2022-10-04 03:00] U8NWXD commented on #16172
Removing the triage label since this has been assigned to a team

[2022-10-04 03:01] anant-c commented on #15537
Thanks @Lawful2002

[2022-10-04 03:02] U8NWXD commented on #16192
@lkbhitesh07 can you try deleting any `.coverage.*` data files? See https://stackoverflow.com/a/56478984

[2022-10-04 03:03] U8NWXD commented on #16192
Other possibly useful links:
* https://github.com/pytest-dev/pytest-cov/issues/243
* https://github.com/nedbat/coveragepy/issues/512

[2022-10-04 03:04] U8NWXD commented on #16171
Removing the triage label since this has been assigned to a team

[2022-10-04 03:05] U8NWXD commented on #16170
Removing the triage label since this has been assigned to a team

[2022-10-04 03:05] U8NWXD commented on #16160
Removing the triage label since this has been assigned to a team

[2022-10-04 03:05] U8NWXD commented on #16159
Removing the triage label since this has been assigned to a team

[2022-10-04 03:07] U8NWXD commented on #16156
Assigning to Angular migration for now--feel free to reassign if you disagree

[2022-10-04 06:17] lkbhitesh07 commented on #16192
Thanks, @U8NWXD

[2022-10-04 07:16] lkbhitesh07 opened #16200 "Video tag autoplay attribute not working as expected"
**Describe the bug**
When we add a video RTE tag and click on the autoplay checkbox, it should store `autoplay=1` in the src. It does store `autoplay-with-value` as `true` but the video will not autoplay. The src will look something like `https://www.youtube.com/embed/_jqzdhEKyuk?autoplay=0&origin=https%3A%2F%2Fwww.oppia.org&enablejsapi=1&widgetid=9` where in the link `autoplay` should be 1.
Pleas

[2022-10-04 07:33] ShivamJhaa opened #16201 "E2E Flake: Error: Story Name Card takes too long to appear"
`Error: Story Name Card takes too long to appear
Error
    at Object.visibilityOf (/home/runner/work/oppia/oppia/core/tests/webdriverio_utils/waitFor.js:123:39)
    at LearnerDashboardPage.expectNumberOfStoriesInCompletedStory (/home/runner/work/oppia/oppia/core/tests/webdriverio_utils/LearnerDashboardPage.js:187:21)
    at UserContext.<anonymous> (/home/runner/work/oppia/oppia/core/tests/webdrive

[2022-10-04 08:08] anant-c commented on #15537
hey, @akshit5565 are you currently working on the issue, cause if not I've already solved the issue, in the forked repo.

[2022-10-04 11:31] Rahul-Palahwat commented on #16197
Hey @vojtechjelinek can you assign this issue to me?

[2022-10-04 11:35] SubhashThenua commented on #16112
@seanlip sure I will work on "good first issue" or beginner friendly.

Thanks!

[2022-10-04 11:40] adamhalim opened #16202 "Setup: b'protoc-gen-js: program not found or is not executable"
Following the setup instruction for Arch Linux systems, I encountered a build error when running `python -m scripts.start`.

<details>
<summary>Error output:</summary>

[code]
</details>

I found this to be linked to a known issue in the [protobuf repo](https://github.com/protocolbuffers/protobuf-javascript/issues/127), where the bug was introduced in version 21.1.

### Fix:
I got rid of this erro

[2022-10-04 12:35] vojtechjelinek commented on #16197
@Rahul-Palahwat No, sorry, this is not actionable right now.

[2022-10-04 12:37] Rahul-Palahwat commented on #16197
@vojtechjelinek can you please assign issues to me that are related to front-end as want to start contributing to oppia

[2022-10-04 12:38] Rahul-Palahwat commented on #16200
@lkbhitesh07 can i work on this issue ??

[2022-10-04 12:39] lkbhitesh07 commented on #16200
Sure! @Rahul-Palahwat
Thanks

[2022-10-04 12:53] vojtechjelinek commented on #16197
@Rahul-Palahwat Please go throught this list https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22 and pick one of those.

[2022-10-04 13:25] jonlake5 commented on #14219
@IamEzio Can I be assigned core.domain.topic_domain_test please?

[2022-10-04 13:56] IamEzio commented on #14219
@jonlake5 done!

[2022-10-04 16:56] seanlip commented on #13444
Confirmed with @anubhutiv that this is no longer happening. Closing the issue.

[2022-10-04 16:56] #13444 closed, assigned to anubhutiv

[2022-10-04 17:27] juliafalarini commented on #14957
Hello!

I tested it again on windows PC and Macbook. On macbook there is no delay, but on windows there is still a small delay, less than before, but only when I try to write in the translated version, in portuguese.

When testing the original lesson, there is no delay:
[rec-screen.webm](https://user-images.githubusercontent.com/92189102/193885864-c4ff5871-dc21-4216-8b5c-d770cc8d1d7f.webm)

When t

[2022-10-04 19:10] rishabhknowss commented on #15537
hey! kindly assign me the task

[2022-10-04 19:34] rishabhknowss commented on #16088
i would really like to contribute , please assign me the task

[2022-10-04 19:40] rishabhknowss commented on #15968
Please assign me the task

[2022-10-04 22:58] seanlip commented on #16088
@SharkLava is already taking this up -- see #16183.

For other contributors: we recommend that you follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before starting. You can then pick up a different issue once you have everything set up, and your onboarding mentor can also recommend issues to you. Thanks!

[2022-10-04 22:58] seanlip commented on #16088
(Also I don't think I can actually assign @SharkLava to this until they comment here. So, leaving it unassigned for now.)

[2022-10-04 23:00] seanlip commented on #12062
@adityanarayanm095 Per our chat, please provide a [sequence diagram](https://en.wikipedia.org/wiki/Sequence_diagram) showing how the functionality for sending existing email notifications to reviewers works.

If you can do that, then you can take up this issue. (The same goes for anyone else who would like to work on this.)

[2022-10-05 00:54] SharkLava commented on #16088
Ah didn't know that, mb

[2022-10-05 03:01] galanggg commented on #16202
Yes, same as me too when I run the `python -m scripts.start` on M1

[2022-10-05 03:38] Rahul-Palahwat commented on #16201
Hey @ShivamJhaa can you assign this issue to me??

[2022-10-05 07:24] jahd2602 opened #16207 "Add language_code to /getreviewableopportunitieshandler"
**Is your feature request related to a problem? Please describe.**
The backend handler `/getreviewableopportunitieshandler` does not send the `language_code` of the opportunity. This is needed to filter the languages in https://github.com/oppia/oppia/pull/16157.

Current sample output of `/getreviewableopportunitieshandler`:

**Describe the solution you'd like**

Expected sample output of `/getrev

[2022-10-05 07:25] jahd2602 commented on #16207
Hint: `/oppia/core/controllers/contributor_dashboard.py`, class: `ReviewableOpportunitiesHandler(base.BaseHandler)`

[2022-10-05 07:47] OjashKush commented on #15537
can you assign me this?

[2022-10-05 07:56] jahd2602 commented on #15493
Implementation of the PR is blocked by: https://github.com/oppia/oppia/issues/16207

[2022-10-05 09:56] anant-c commented on #15537
Hey @Lawful2002 can you assign me this issue.

[2022-10-05 10:13] adamhalim commented on #16202
Have you tried this solution? https://github.com/protocolbuffers/protobuf-javascript/issues/127#issuecomment-1204202844

[2022-10-05 11:26] lkbhitesh07 commented on #16192
Hey @U8NWXD, Just wanted to report this one thing. After removing the coverage files as suggested, the previous error was gone but I was introduced to this new error:
[code]
I tried going through the links you provided but I wasn't able to get much info as I'm not much familiar with the internal concepts of coverage part.
Thanks

[2022-10-05 13:22] nithinrdy commented on #8347
Closing due to [this](https://github.com/oppia/oppia/issues/9825#issuecomment-1265302724).

[2022-10-05 13:22] #8347 closed, assigned to nobody

[2022-10-05 13:46] Lawful2002 commented on #15529
@galanggg Also please make sure to address this issue: https://github.com/oppia/oppia/issues/15372, while making a PR. Thanks!

[2022-10-05 13:49] #15793 closed, assigned to karenbanci

[2022-10-05 13:50] nithinrdy commented on #8397
This has been achieved now that the user checkpoints project is now complete.

[2022-10-05 13:50] #8397 closed, assigned to vinitamurthi

[2022-10-05 13:51] Lawful2002 commented on #16121
@Shivkant-Chauhan are you working on this?

[2022-10-05 13:52] Lawful2002 commented on #16180
@Rahul-Palahwat assigning this issue to you.

[2022-10-05 13:59] vedsom commented on #16180
@Lawful2002 i have requested earlier for the issue.

[2022-10-05 13:59] Priyansh61 commented on #15368
yes @nithinrdy but could you let me know about the changes i need to make?? since majority of the issue is already fixed.

[2022-10-05 14:28] Shivkant-Chauhan commented on #16121
No @Lawful2002, I am currently working on a new proposal related to acceptance testing..

[2022-10-05 14:58] Rahul-Palahwat commented on #16180
I am on it @Lawful2002

[2022-10-05 15:14] #16152 closed, assigned to IamEzio

[2022-10-05 17:08] #15514 closed, assigned to qinghaoyang

[2022-10-05 17:25] nithinrdy opened #16211 "Add a feedback button to the footer in mobile view"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to provide feedback when in mobile view.
**Describe the solution you'd like**
Add a feedback to the footer as per [these mocks](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/4d8fb30a-cbbb-4ea4-895c-8f9cb13ee207/).

[2022-10-05 17:26] nithinrdy commented on #11206
The one resolved part of this issue is now being tracked in #16211.

[2022-10-05 17:26] #11206 closed, assigned to DubeySandeep, aks681

[2022-10-05 22:39] murilo-goncalves commented on #13162
Hey there! I'm new to the project and would really like to contribute on this issue. Maybe assign me three handlers, please?

[2022-10-05 22:47] bilbosf commented on #13162
Hi, I would also new to the project and would like 3 handlers to work on, please!

[2022-10-06 03:32] #13146 closed, assigned to Priyansh61

[2022-10-06 03:37] JayVivarekar commented on #15968
@Valeron-T @ayushanand16 Done

[2022-10-06 03:53] galanggg opened #16218 "ImportError: cannot import name 'builder' from 'google.protobuf.internal'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. run `python -m scripts.start`
 2. After starting new Web Browser the error appears

**Screenshots / Videos**
![Screen Shot 2022-10-06 at 11 44 28](https://user-images.githubusercontent.com/21099312/194209500-0929723b-08db-4f51-8c75-a4a04c968377.png)

**Desktop (please com

[2022-10-06 05:20] ShivamJhaa opened #16219 "E2E Flake: Delete Subtopic Button is not visible."
[code]

**TopicAndStoryEditor**: https://github.com/oppia/oppia/actions/runs/3194323873/jobs/5213782910

[2022-10-06 05:22] ShivamJhaa opened #16220 "E2E Flake: Done is not visible."
[code]
ContibutorDashboardInmobileview:
* https://github.com/oppia/oppia/actions/runs/3194323874/jobs/5213782960
* 2022-11-26: https://github.com/oppia/oppia/actions/runs/3552299037/jobs/5967122435
  * [webdriverio-screenshots(1).zip](https://github.com/oppia/oppia/files/10114438/webdriverio-screenshots.1.zip)

[2022-10-06 06:10] Lawful2002 commented on #8783
@aks681 Are we still planning to do this?

[2022-10-06 06:18] Lawful2002 commented on #8980
These interactions are supported on mobile:
1. AlgebraicExpressionInput
2. Continue
3. DragAndDropSortInput
4. EndExploration
5. FractionInput
6. ImageClickInput
7. ItemSelectionInput
8. MathEquationInput
9. MultipleChoiceInput
10. NumericExpressionInput
11. NumericInput
12. NumberWithUnits
13. RatioExpressionInput
14. TextInput

See CUJ 4.1 in the [CUJs doc](https://docs.google.com/document/d/1s3

[2022-10-06 06:18] #8980 closed, assigned to nobody

[2022-10-06 06:31] Lawful2002 commented on #9562
I don't see this issue anymore, even with a throttled network.

[2022-10-06 06:31] #9562 closed, assigned to nobody

[2022-10-06 09:48] sahiljoster32 commented on #13162
Hi @murilo-goncalves, I have assigned you `StartedTranslationTutorialEventHandler`, `AssetDevHandler` and `EditableStoryDataHandler`. Don't hesitate if you need help!

[2022-10-06 09:53] sahiljoster32 commented on #13162
Hi @bilbosf, I have assigned you `ValidateExplorationsHandler`, `LearnerAnswerDetailsSubmissionHandler` and `ResubmitSuggestionHandler`. Don't hesitate if you need help!

[2022-10-06 10:23] anudeeps0306 commented on #14698
@jahd2602 Can you assign this issue to me?

[2022-10-06 16:24] ShivamJhaa opened #16224 "E2E Flake: Mat Tab Toggle options take too long to appear."
[code]
BlogDashboard : https://github.com/oppia/oppia/actions/runs/3198198074/jobs/5222420251

[2022-10-06 18:11] PietroFracCab commented on #12912
Hi @vojtechjelinek ,
Sorry for the delay. Needed to fix my computer and it took some time. On top of that is my first time with git/GitHub so took some time to figure out some things.
-I've already installed Oppia. Server is running fine.
-Did the linter check and found 3 cyclic import problems.
-Researching and trying some solutions.
-Preparing a Test Debugging Doc in case i can't solve it quickl

[2022-10-07 14:00] SubhashThenua commented on #15992
@KolliAnitha Can i work on this issue?

Thanks!

[2022-10-07 16:17] JayVivarekar commented on #15968
@SubhashThenua You are correct. Thanks for pointing it out. Can you select some other file to work on?

[2022-10-07 19:57] goldberl commented on #4883
I have recently tried replicating the issue in Oppia ver 3.2.8 on a Windows machine in both the Chrome browser and Microsoft Edge and it appears that the tabbing order is correct (from left to right). Perhaps we should consider closing this issue.

[2022-10-07 21:32] lkbhitesh07 opened #16236 "Figure out a way to encode the interaction validations checks more declaratively."
We are introducing validations for the interactions and you can find them [here](https://github.com/oppia/oppia/pull/15797). Conceptually the validation checks should go separately with each interaction present inside `extensions/interactions` folder but the current validation code is quite complex to move to the `extensions/interactions` as the code inside it is very declarative. We need to find

[2022-10-07 21:38] SubhashThenua commented on #3056
@Oishikatta Can i work on this issue?

Thanks!

[2022-10-08 02:38] kimchavsov commented on #15968
@vojtechjelinek @JayVivarekar
Hi, I would like to work on this issue.
Please assign some of the tasks to me.

[2022-10-08 05:31] JayVivarekar commented on #15968
@rishabhknowss I have assigned you the following files:
 oppia/core/templates/components/state-directives/outcome-editor/outcome-editor.component.html
 oppia/core/templates/components/state-directives/solution-editor/solution-editor.component.html
 oppia/core/templates/components/state-directives/solution-editor/solution-explanation-editor.component.html

[2022-10-08 05:33] JayVivarekar commented on #15968
@kimchavsov I have assigned you the following files:
oppia/core/templates/pages/contributor-dashboard-admin-page/navbar/contributor-dashboard-admin-navbar.component.html
oppia/core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.html
oppia/core/templates/pages/exploration-editor-page/translation-tab/state-translation-editor/state-tra

[2022-10-08 13:41] Perin-Mangukiya commented on #16180
I am on it @Lawful2002

[2022-10-08 14:28] Rahul-Palahwat commented on #16180
@Perin-Mangukiya go ahead....i am facing a lot of problem in setting up the project

[2022-10-08 14:32] ghost commented on #16180
hii can you please assign me thnis issue

[2022-10-08 15:05] Richard7111 commented on #13647
Hello, is anyone still working on this? If not would you mind assigning the issue to me?

[2022-10-09 00:47] NPDebs commented on #15968
Hi @JayVivarekar 👋🏼
I'm an Outreachy participant and I'd love to work on this issue.

Could you please assign me some tasks?

[2022-10-09 00:56] NPDebs commented on #16180
Hi @Lawful2002 & @vcvedika 👋🏼
Is anyone still working on this issue? I would love to take it up. 👍🏻

[2022-10-09 07:02] nithinrdy commented on #5295
[Closing as duplicate of a fixed issue.](https://github.com/oppia/oppia/issues/12582#issuecomment-1250476315)

[2022-10-09 07:03] #5295 closed, assigned to aks681

[2022-10-09 07:32] Lawful2002 commented on #16180
Sorry @vedsom, I completely missed your comment. Please feel free to take up another issue. You can find issues by using the 'Hacktoberfest' and 'Good First Issue' labels or by visiting this [page](https://github.com/orgs/oppia/projects/3/views/10). Let me know if you need some help.

[2022-10-09 13:01] Kalpani90 commented on #13162
Hi, I'm new to the project, could you please assign me some handlers?

[2022-10-09 13:24] sahiljoster32 commented on #13162
Hi @Kalpani90 , I have assigned you QuestionPlayerHandler. Don't hesitate if you need help!

[2022-10-09 16:15] kimchavsov commented on #16218
Hi @galanggg,
I'm also facing the same issue right now, are you able to solve this issue yet?

[2022-10-09 16:58] #16005 closed, assigned to nobody

[2022-10-09 17:02] SubhashThenua commented on #16180
@vcvedika  Header padding is already adjusted and it look fine.

Thanks!

[2022-10-09 21:17] SubhashThenua commented on #15537
@Lawful2002 Can you please assign this to me ?

Thanks!

[2022-10-09 21:39] josieecook commented on #1775
I was able to reproduce this issue, but the cropping seems like standard browser behavior and when the window is small enough to hide the tutorial it's impossible to do much on the page at all. Should this issue be closed?

[2022-10-10 01:26] galanggg commented on #16218
No solutions that I found til now

[2022-10-10 06:07] Lawful2002 commented on #15371
@prateekgarg08 Any updates?

[2022-10-10 07:31] gnurris commented on #15968
Hello @JayVivarekar
I'd like to work on this issue. Could you please assign me some tasks?

[2022-10-10 07:55] Priyansh61 commented on #15923
@Lawful2002 I have been trying to fix this issue for quite a long time, but couldn't find any fix...

What i discovered that this things happens only on chrome and we cant reproduce this issue on any other browser.

So could you please help me figure out how should i proceed further??

[2022-10-10 10:59] sambhavgupta0705 commented on #15968
Hello @JayVivarekar
I would like to work on this issue.
Could you please assign me some tasks

[2022-10-10 15:02] k-gourav commented on #15968
Hey @vojtechjelinek  and @JayVivarekar !
**Could you assign me the following files:**

[https://twitter.com/dwarfstar99](url) for better reach ✨

[2022-10-10 16:00] kevintab95 opened #16250 "[Server Error] Exception: User not found"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-10-10 16:35] Olivia529 opened #16251 "The last card of the chapter disappears before I get a chance to read them"
**While reviewing the Division lessons in chapters 4 and 5, the last cards ) in chapters 4 and chapter 5) that contain the salient point/lessons learned from the chapter disappear and the page goes blank. **
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Chapter 4 and Chapter of the Division lesson'
 2. Click on 'Complete the lesso

[2022-10-10 16:58] AxelGard commented on #13162
Hi I am a new developer to oppia, if there are some schemas left to be assigned, I would like to work on a schema.

[2022-10-10 17:03] sahiljoster32 commented on #13162
Hi @AxelGard , I have assigned you `SubtopicPageDataHandler`. Don't hesitate if you need some help!

[2022-10-10 17:05] AxelGard commented on #13162
@sahiljoster32 thanks!!

[2022-10-10 20:18] Augusta2 opened #16255 "Consistent CTA button"
The next button of the first 2 pages of the Division-Chapter 1 lesson are different fromt the rest.
It will be good for consistency if the text "continue" is added as well as the style.

The text says click continue...but the continue button is not responsive
![Screenshot_20221010-091310_Chrome](https://user-images.githubusercontent.com/115414092/194945772-7b62eca2-7b2a-4223-a500-7b2ea866f011.jpg)

[2022-10-10 20:32] DubeySandeep opened #16256 "Add flag to indicate whether a rule_spces of interaction can be translated"
Currently, we have hard-coded the name of interaction's where rules input can be translated.

https://github.com/oppia/oppia/blob/aca1f195c596a4042faba80c0a580754b8394dab/core/domain/state_domain.py#L3993-L3995

Through this issue, we want to introduce a flag in the interaction specs which can highlight whether the rule_spces can be translated.

[2022-10-10 22:13] fiddyhamma opened #16257 "Homepage for Division lesson"
**The homepage of the division section has distorted alignment when viewed on my mobile phone**

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'start lesson...'
 2. Click on 'division....'
 3. Scroll down to 'Long Divisions, Single-Digit Divisors....'
 4. See error

**Observed behavior**
I noticed the text doesn't properly align like the previous ones

**Expected behavior**
There sho

[2022-10-10 22:25] fiddyhamma opened #16258 "No spacing in between words in chapter 4, story 19"
**No spacing between words**
There's no spacing and proper numbering of the words used to explain the acronym 'DMSB'

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'division...'
 2. Click on 'Long Divisions, Single-Digit Divisors....'
 3. Scroll down to 'story 19 ....'
 4. See error

**Observed behavior**
All texts are jumbled up together looking like a sentence instead of different

[2022-10-11 02:55] seanlip commented on #957
Closing this. We don't actively support parameters any more and the training interface is still not enabled. We'll make a new issue for this in the future if it comes up as a product requirement.

[2022-10-11 02:55] #957 closed

[2022-10-11 03:05] seanlip commented on #11549
@vojtechjelinek could you please confirm whether or not this has been fixed? I seem to remember there were some changes recently that got rid of the sys.path stuff, but not sure whether those fix this issue.

If it is fixed, could you please link the PR?

Thanks!

[2022-10-11 03:07] seanlip commented on #11471
@kevintab95 just to double-check, you had evidence from a recent run that this isn't fixed yet, is that correct?

[2022-10-11 03:08] seanlip commented on #11611
We're using python3 and pyenv now so I think this issue is obsolete. That said, please reopen or create a new issue if something like this reoccurs. Thanks!

[2022-10-11 03:08] #11611 closed, assigned to DubeySandeep

[2022-10-11 03:10] kevintab95 commented on #11471
Hi @seanlip, that's correct, I've documented it in https://github.com/oppia/oppia/issues/16031 and seems like it been fixed now.

[2022-10-11 03:29] seanlip commented on #15665
@sagangwee When you get a chance, could you please add more detail to this issue? Thanks.

[2022-10-11 03:34] seanlip commented on #11471
@kevintab95 Just to confirm, though: this issue says "clear memcache in the pre-job step" and the issue you pointed to says "flush the cache after a job is run". Aren't these different?

[2022-10-11 03:36] seanlip commented on #433
I don't think we have a notifications dashboard any more. Closing.

[2022-10-11 03:36] #433 closed

[2022-10-11 03:37] seanlip commented on #1853
/cc @dchen97 -- I'm triaging old issues and this looks like one you might want to weigh in on. Should we keep it open or close it (or file a new issue with an updated version of this suggestion)?

[2022-10-11 03:43] seanlip commented on #2965
We shouldn't do this for collections, but we might want to do it for stories. I've updated the title accordingly.

[2022-10-11 03:45] seanlip commented on #3979
The learner dashboard has been redesigned and this issue is no longer relevant (they all show up together in the new design). Closing.

[2022-10-11 03:45] #3979 closed, assigned to nobody

[2022-10-11 03:46] seanlip commented on #3980
I don't see a subscribe button any more, so I think this issue is obsolete.

[2022-10-11 03:46] #3980 closed, assigned to nobody

[2022-10-11 03:47] seanlip commented on #2953
Closing this (somewhat belatedly!) per Mark's latest comment.

[2022-10-11 03:47] #2953 closed

[2022-10-11 03:48] kevintab95 commented on #11471
Ah I see, yes, we only clear cache post job run as part of the fix for the issue mentioned in my earlier comment. Clearing cache is still done manually by release coordinators before a job is run.

The issue I had faced was, we ran a job and found that the models created / updated by the job were not fetched by the app because the cache was not updated/invalidated correctly.

[2022-10-11 03:50] seanlip commented on #3820
This seems to be fixed in the current (updated) design for the learner dashboard. Closing.

[2022-10-11 03:50] #3820 closed, assigned to nobody

[2022-10-11 03:52] seanlip commented on #1619
This is part of the learner dashboard (but for curated lessons). Closing.

[2022-10-11 03:52] #1619 closed

[2022-10-11 03:57] seanlip commented on #2115
We aren't really planning on supporting collapsibles going forward, so closing this as not planned.

[2022-10-11 03:57] #2115 closed

[2022-10-11 03:57] seanlip commented on #11471
Ah ok. So, do you think we should still do this?

[2022-10-11 04:00] seanlip commented on #2861
I don't think this is needed any more since we no longer have the "future tutor card". Closing.

[2022-10-11 04:00] #2861 closed

[2022-10-11 04:03] seanlip commented on #1246
I don't think this is needed, it would probably be a distraction. Closing for now and we can reopen in the future if needed.

[2022-10-11 04:03] #1246 closed

[2022-10-11 04:05] seanlip commented on #5769
Closing this since it hasn't happened in several years. Please reopen if the issue happens again.

[2022-10-11 04:05] #5769 closed, assigned to nobody

[2022-10-11 04:05] seanlip commented on #5348
Closing this since we are not prioritizing these sorts of explorations for now. We can revisit if we wanted to go more in depth on coding explorations in the future.

[2022-10-11 04:05] #5348 closed, assigned to nobody

[2022-10-11 04:06] seanlip commented on #5575
/cc @dchen97 as I believe the product team is currently looking into this.

[2022-10-11 04:09] seanlip commented on #2860
The original code for this has been removed so this issue is no longer relevant. Closing.

[2022-10-11 04:09] #2860 closed

[2022-10-11 04:11] seanlip commented on #1078
No longer relevant since we have moved to Webdriver IO (though /cc @ShivamJhaa @SAEb-ai for info in case this is relevant to Shivam's GSoC project).

[2022-10-11 04:11] #1078 closed

[2022-10-11 04:12] seanlip commented on #3314
Closing this, it's no longer relevant since the subscription functionality is not strongly prioritized.

[2022-10-11 04:12] #3314 closed

[2022-10-11 05:09] seanlip commented on #2640
With all the frontend refactors that have happened in the last few years, I think this is now obsolete.

[2022-10-11 05:09] #2640 closed

[2022-10-11 05:09] IfyAngelo opened #16259 "FOOTER ON MOBILE DEVICE'S VIEW MAY NOT BE IN IT'S POSITION."
-->
**PROBLEM**
A clear and concise description of what the problem is. Ex. I find it difficult to navigate oppia's platform on mobile screen because the footer is not fixed to it's position. It often stretches into the lesson's word card especially when that card is a long one.

**SOLUTION**
- keeping the footer section fixed to it's position.
- keeping the apple image contained within the footer

[2022-10-11 05:12] seanlip commented on #2395
There's now a style guide for JS in the aforementioned wiki page. Closing.

[2022-10-11 05:12] #2395 closed

[2022-10-11 05:15] seanlip commented on #2034
This is super low priority and probably not worth doing since the collection editor page isn't actively being maintained.

[2022-10-11 05:15] #2034 closed

[2022-10-11 05:18] seanlip commented on #1441
No longer needed since we don't use continuous computations any more.

[2022-10-11 05:18] #1441 closed

[2022-10-11 05:19] seanlip commented on #4333
This is done, there is a subtitled-html-editor component in the codebase.

[2022-10-11 05:19] #4333 closed, assigned to nobody

[2022-10-11 05:20] seanlip commented on #1417
No longer needed since we don't use continuous computations any more.

[2022-10-11 05:20] #1417 closed

[2022-10-11 05:20] seanlip commented on #769
No longer needed since we don't use continuous computations any more.

[2022-10-11 05:20] #769 closed

[2022-10-11 05:21] seanlip commented on #3002
The dependency is still there, but the collection editor is not being actively improved, so I think this issue is low priority enough to be closed.

[2022-10-11 05:21] #3002 closed

[2022-10-11 05:22] seanlip commented on #5176
This needs an audit of the backend controller return values to see how many cases are still remaining.

[2022-10-11 05:23] seanlip commented on #5395
Not quite sure this is needed since we don't use getter functions generally. Closing.

[2022-10-11 05:23] #5395 closed, assigned to nobody

[2022-10-11 05:24] seanlip commented on #2575
Agreed that the rest of this issue does not seem important. Closing.

[2022-10-11 05:24] #2575 closed

[2022-10-11 05:37] seanlip commented on #5556
This has been done -- at least, this functionality currently does exist in the topic editor.

[2022-10-11 05:37] #5556 closed, assigned to nobody

[2022-10-11 05:39] seanlip commented on #5095
This error no longer happens. Closing.

[2022-10-11 05:39] #5095 closed, assigned to nobody

[2022-10-11 05:40] seanlip commented on #5037
Ctrl+U no longer works in the RTE. Closing.

[2022-10-11 05:40] #5037 closed, assigned to nobody

[2022-10-11 05:40] seanlip commented on #4912
We won't do this, it's not high priority enough (and we are also looking into automation to help with audio generation). Closing.

[2022-10-11 05:40] #4912 closed, assigned to nobody

[2022-10-11 05:41] seanlip commented on #4883
Closing, can't reproduce. Thanks @goldberl.

[2022-10-11 05:41] #4883 closed, assigned to nobody

[2022-10-11 05:45] seanlip commented on #3608
This functionality exists now, but I'm leaving this issue open because we should verify the following manually (just to double-check):

- If a user is removed from the editor role, the exploration should no longer show up in their creator dashboard.

Once this is verified, the issue can be closed.

[2022-10-11 05:55] seanlip commented on #3666
We've gotten rid of the suggestions functionality, so this issue is obsolete.

[2022-10-11 05:55] #3666 closed, assigned to nobody

[2022-10-11 05:59] seanlip commented on #4842
Just a note -- I can't reproduce this issue, but that's because I can't actually move notes in the music notes editor at all. There are a bunch of issues that should be looked at here:

(1) The notes should be movable after they are placed.
(2) The size of the interaction should be bigger.
(3) Notes placed above or below the staff should have ledger lines through them (currently, these aren't show

[2022-10-11 06:16] seanlip commented on #12631
I just tried it; this doesn't happen any more. Closing.

[2022-10-11 06:16] #12631 closed, assigned to nobody

[2022-10-11 06:17] seanlip commented on #12469
I just tried it, this doesn't happen any more. Closing.

[2022-10-11 06:17] #12469 closed, assigned to nobody

[2022-10-11 06:19] seanlip commented on #11768
This seems to work fine now. My guess is that probably some strings were not translated yet to the selected language. Closing.

[2022-10-11 06:19] #11768 closed, assigned to nobody

[2022-10-11 06:28] seanlip commented on #9855
Just tested this and it works fine on prod. Closing.

[2022-10-11 06:28] #9855 closed, assigned to nobody

[2022-10-11 06:29] seanlip commented on #10439
Just tested this on prod, it works fine with no issues. Closing.

[2022-10-11 06:29] #10439 closed, assigned to DubeySandeep

[2022-10-11 06:30] seanlip commented on #9452
I can't reproduce this any more. Closing.

[2022-10-11 06:30] #9452 closed, assigned to nobody

[2022-10-11 06:31] seanlip commented on #9033
The language to display content in when playing an exploration can now be selected. There is a broader project driven by the PM team which focuses on unifying the language experience. So, closing this issue.

[2022-10-11 06:31] #9033 closed, assigned to aks681

[2022-10-11 06:32] seanlip commented on #8999
Closing this since we are not planning to rely heavily on in-browser autogenerated audio going forward (learners have trouble understanding it).

[2022-10-11 06:32] #8999 closed, assigned to nobody

[2022-10-11 06:32] seanlip commented on #8998
Closing this since we are not planning to rely heavily on in-browser autogenerated audio going forward (learners have trouble understanding it).

[2022-10-11 06:32] #8998 closed, assigned to nobody

[2022-10-11 06:33] seanlip commented on #8838
This is no longer an issue, it loads pretty much immediately for me. Closing.

[2022-10-11 06:33] #8838 closed, assigned to DubeySandeep

[2022-10-11 06:34] seanlip commented on #8813
Just tried it, no console errors appear any more. Closing.

[2022-10-11 06:34] #8813 closed, assigned to nobody

[2022-10-11 06:35] seanlip commented on #8705
@aks681 could you please confirm whether this is completed, and close it if so? (If you can link the PR, that would be great.) Thanks!

[2022-10-11 06:37] seanlip commented on #5776
Let's not do this. It hasn't really come up in user feedback so I think it's not needed.

[2022-10-11 06:37] #5776 closed, assigned to nobody

[2022-10-11 06:39] seanlip commented on #5855
The current UI is "record" then "retake/confirm/cancel", which I think is pretty intuitive. Closing.

[2022-10-11 06:39] #5855 closed, assigned to nobody

[2022-10-11 06:41] seanlip commented on #5867
This is still a bug as of this writing. It should be fixed and we should also make sure that the unnecessary translations don't show up in the contributor dashboard.

[2022-10-11 06:42] seanlip commented on #6901
@DubeySandeep question for you -- is this issue still needed?

[2022-10-11 06:43] seanlip commented on #6902
I believe this is now fully done for interactions. Closing.

[2022-10-11 06:43] #6902 closed, assigned to nobody

[2022-10-11 06:44] seanlip commented on #6920
I don't think we need to work on this because translations are now done through the contributor dashboard. Closing.

[2022-10-11 06:44] #6920 closed, assigned to nobody

[2022-10-11 06:46] seanlip commented on #7966
This works fine now with no console errors, I just tested it. Closing.

[2022-10-11 06:46] #7966 closed, assigned to DubeySandeep

[2022-10-11 06:49] seanlip commented on #8599
Tested in Firefox and it seems to work fine with no console errors. Seems like a duplicate of https://github.com/oppia/oppia/issues/7966, which I've also marked as fixed.

[2022-10-11 06:49] #8599 closed, assigned to nobody

[2022-10-11 06:50] seanlip commented on #8637
This works fine now with no console errors (I just tested it). Might be related to #7966 (which I've also marked as fixed).

[2022-10-11 06:50] #8637 closed, assigned to nobody

[2022-10-11 07:18] lakshya-dhariwal commented on #16180
Hey @Lawful2002
What is the best practice for this organisation?

Only working on issues if you are assigned to it or just working on the issue and creating a pr .

I am asking this because I have seen orgs where prs are only accepted if issue is assigned to you

[2022-10-11 07:36] seanlip commented on #4842
Hm, I think a bunch of these issues might have been introduced during the Angular migration. @mridul-netizen, could you PTAL at this when you finish the topic editor? Thanks!

[2022-10-11 07:41] seanlip commented on #16255
I don't think I understand what is happening with this issue. Could you please show a screen recording that starts from entering this lesson up to the point where this issue is encountered?

It looks like you navigated forward, and then pressed the back button to go back to the previous card, in which case this behaviour seems expected because you are viewing a card you've already played (i.e. you

[2022-10-11 07:42] seanlip commented on #16257
Thanks! This is a legitimate issue. Assigning to the LaCE quality team for a fix.

[2022-10-11 07:45] seanlip commented on #16251
Hi @Olivia529, thanks for the bug report. I have not seen this before. Would you mind providing a screen recording, please?

Thanks!

[2022-10-11 08:01] ShivamJhaa opened #16260 "E2E Flake: Splash page takes too long to appear"
[code]
AdditonalEditorModal: https://github.com/oppia/oppia/actions/runs/3222690884/jobs/5272022785

[2022-10-11 08:55] Augusta2 commented on #16255
@seanlip Yes that's correct
I was thinking it'll be better to maintain the buttons even if you go back and forth. It will improve the user's experience (kids) by reducing confusion.

[2022-10-11 09:02] seanlip commented on #16255
I don't think so -- I think that there's a difference between "advancing the story" and "navigating through the part of the story you have already read".

If you can provide evidence from learners that this is an issue and they get stuck/confused, it would be helpful to see that. But otherwise, I don't feel like we have enough evidence that the current behaviour should be changed.

Cc-ing @dchen97

[2022-10-11 09:02] #16255 closed, assigned to Augusta2

[2022-10-11 09:06] ghost commented on #14394
I have tried again. It is working fine.Best,Nmeso. From: Rijuta SinghSent: Friday, 1 April 2022 17:57To: oppia/oppiaCc: Nmeso Egwuekwe; MentionSubject: Re: [oppia/oppia] Disappearing Hints (Issue ***@***.*** can you please confirm?—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***> 