[2016-06-08 22:29] seanlip opened #2051 "Add a backend test to ensure that there are no duplicate keys in any of the translation .json files."
We specify translation strings in i18n/*.json, and want to ensure the integrity of the translation files. It would be nice to have a backend test that reads the file as a big text string, extracts the keys (one per line), and makes sure that there are no duplicate keys. This would help ensure that the newly-added .json files are correct, since key duplication is not easy for a human reviewer to de

[2016-06-08 22:32] seanlip opened #2052 "Convert categories to a two-tier system"
We currently have groups in the library page, categories in the library page dropdown (next to the search bar), and categories in the exploration editor. These are all different. We should figure out a systematic way to handle categories that accounts for the possibility of subcategories, systematizes the naming of these things (categories? library groups? etc.), and surfaces the appropriate UI ba

[2016-06-08 22:39] seanlip opened #2053 "Batch config property get() calls in order to speed up requests"
When new requests come in, the backend code often extracts various config property values (e.g. [here](https://github.com/oppia/oppia/blob/28195814ee2f3aee8f29262ae97afc2e530d459e/core/controllers/pages.py#L67), where ABOUT_PAGE_YOUTUBE_VIDEO_ID and CONTACT_EMAIL_ADDRESS are used.

Each of these `.value` calls is a single datastore RPC, which seems wasteful when we're making many of them. It might

[2016-06-08 22:41] seanlip opened #2054 "Remove unneeded config properties and turn them into constants in feconf.py."
Retrieving config property values requires datastore calls, which are expensive and time-consuming. Some of the current config property values (that are shown in the admin page) don't really have to be configurable while the server is running. In order to improve performance, we should move these to just be regular constants in feconf.py and deprecate the corresponding config properties.

[2016-06-08 22:46] seanlip opened #2055 "Add a Karma test or a pre-commit check that ensures that all directives have an explicitly-defined 'scope' attribute."
It turns out that, in Angular 1, not specifying the scope of a directive explicitly leads to the directive controller inheriting the scope of its parent. This gets quite confusing, as the general norm in this codebase is for each directive to be isolated and self-contained.

In order to mitigate errors along these lines, it would be nice to have a test/check that ensures all directives have an exp

[2016-06-08 22:48] seanlip opened #2056 "If someone invites you to edit an exploration, an update should be displayed on your /notifications page."
1. Create users A and B.
2. Log in as user A, create a new exploration, and invite B to edit it.
3. Log in as user B, and go to /notifications_dashboard.

User B should see a notification that they were invited to edit the exploration created by user A. Currently, no such notification is displayed.

[2016-06-08 23:02] amgowano commented on #2031
Oh yes. I was thinking of doing the scrolling using JS like in the library page (where there is a left arrow and right arrow at the end of the list) after thinking about it for a while, I think scrolling is a better option. I will implement the sizing part.

[2016-06-08 23:05] seanlip commented on #2031
OK, sounds good! Could you please file a new issue outlining exactly what you plan to do? Then we can close this one.

Thanks!

[2016-06-08 23:17] amgowano opened #2057 "Improve the UI of the collection node list editor when a collection has a lot of exploration nodes."
This issue replaces #2031

When a collection has a lot of nodes, the navigation in the collection node list editor becomes clanky. A scrollbar appears and a lot of scrolling is involved in order to see the entire list. The following will be done to solve this:

1. Remove the scrollbar so as to have a cleaner UI.
2. Reduce the size of the exploration nodes and increase the size of the card containi

[2016-06-08 23:21] seanlip opened #2058 "Precompute results of datastore queries in order to improve performance."
In App Engine, get_by_id() calls are more efficient than datastore queries. Accordingly, we should try and cut down on the number of datastore queries if possible.

The aim of this issue is to do an audit on the datastore queries we currently do, and see which of these can be transformed into get_by_id() queries. For example, instead of recomputing the most recently-published explorations in the l

[2016-06-08 23:34] seanlip opened #2059 "Allow login to happen in a separate window."
To reproduce the use case that triggered this issue:
1) Create and publish an exploration.
2) Log out.
3) Go to the learner view of the exploration.

Note that the "Suggest an edit" button is not displayed in the navbar. This is because users need to be logged in to suggest an edit, so that we can attribute the changes and they'll be updated on the progress of their suggestion.

However, in order

[2016-06-08 23:47] seanlip opened #2060 "Migrate summary-related code in the backend from exp_services to summary_services."
As part of the work for creating new summary tiles for collections, we started moving some of the code related to the library views out from exp_services.py to summary_services.py (see [this comment](https://github.com/oppia/oppia/pull/1630#issuecomment-219368991) for reference).

This work is only partially done, and we should complete it.

/cc @amgowano @BenHenning

[2016-06-08 23:48] seanlip opened #2061 "Consider increasing the font size on the footer and on the About page."
We've just received a report that the font sizes in the footer and on the About page might be a bit small, and not so easy to read. We might want to consider increasing these, though this needs some design input.

[2016-06-08 23:51] seanlip opened #2062 "Ignore small changes to exploration metadata (tags, categories, etc.) for the purposes of recording contributions."
When deciding what explorations to show in a given user's profile page, or which contributors to show in the activity summaries, or what the impact score of a user should be, we should probably ignore minor edits like amending the category/tags/etc.

The reason for this is because such edits are often done by moderators in order to keep the library consistent. However, it seems odd to include the

[2016-06-08 23:57] seanlip opened #2063 "Convert continuous computations to cron jobs, where appropriate."
We have some computations that run continuously but don't really need to, either because the data being computed doesn't get updated very often, or because having up-to-date data is not particularly necessary. This leads to unnecessary work, and increased frontend usage + costs.

The aim of this issue is therefore to turn the following these jobs into weekly crons:
- [x] SearchRanker
- [x] Explora

[2016-06-09 00:00] seanlip opened #2064 "Add a test to ensure that keys in i18n/en.json match those in the source code."
It would be nice to have a test that looks through the source code files (possibly just the frontend HTML ones) and makes sure that anything starting with `I18N_` has a corresponding key in i18n/en.json. This would help ensure that we haven't left out a key from either the JSON or HTML files by accident (which has happened previously in a PR).

/cc @mit0110

[2016-06-09 00:06] seanlip opened #2065 "Split up the 'editor' e2e test suite a bit more."
The 'editor' suite in the e2e tests takes quite a while to run (about 20 minutes) and is prone to flaky failure (that goes away when the Travis job is restarted). The aim of this issue is to break that suite into two, so that recovering from failures is more efficient. Perhaps mainEditor (editorAndPlayer.js, stateEditor.js) and editorFeatures (gadgetEditor.js, fallbacks.js, historyTab.js) might be

[2016-06-09 02:57] #1943 closed

[2016-06-09 03:26] markhalpin commented on #1937
Should've said this before, but this looks great. Thanks @szangaro!

[2016-06-09 03:31] markhalpin commented on #1893
I'm wondering if it might make sense on this to make our maximum size for the graphics on the splash page ± 80% of that they are now. Attached is a screen shot of the elements at 75% on my screen. They're perfectly legible at that size and we see the top stuff, the buttons, and a hint of the material below. It seems like this would both fix the issue of some info being cut-off, and also make it a

[2016-06-09 08:32] amgowano commented on #2060
Thanks @seanlip for making sure this is being tracked.

[2016-06-09 16:26] charisseysabel commented on #2023
I would have to insist on having the tabs in a single row. The second idea might be a good idea if the tabs will act as a dropdown menu that will reveal the relative content and can be shown/hidden by toggling the same tab. Although of course, that would complicate everything.

We could try wrapping the text so that the tabs with longer titles are in two lines, while the short titles are, of cours

[2016-06-09 16:42] gvishal opened #2072 "Regression performance testing for local development."
We need some way of doing regression (performance) testing by running the metrics measurement before/after deltas are applied to a commit to determine whether there is a regression (this actually needs to be cross-commit).

This issue involves doing it for local development instances.

It is different from the other issue, since we could exploit some clever git commands to do this. Doing so, on tr

[2016-06-09 16:42] gvishal opened #2073 "Regression performance testing for Travis."
We need some way of doing regression (performance) testing by running the metrics measurement before/after deltas are applied to a commit to determine whether there is a regression (this actually needs to be cross-commit).

This issue involves doing regression testing on Travis.

We can borrow ideas from how CodeCov works?

@BenHenning: We can run performance tests on the develop branch through Tr

[2016-06-09 19:56] seanlip commented on #2023
Sounds good to me, thanks @charisseysabel!

@satwikkansal, want to have a go at this?

[2016-06-09 22:09] seanlip commented on #1893
I think it's a good suggestion -- I like the hint of the butterflies. However, I have a question -- how would you handle screens that are quite a bit wider than they are tall?

[2016-06-09 22:53] seanlip commented on #1535
Assigning to @AllanYangZhou since this will be addressed as a side-effect of #1715.

[2016-06-09 22:54] seanlip commented on #1431
Re-assigning to @AllanYangZhou since this will be addressed as a side-effect of #1715.

@thak123, please let me know if you want another issue to work on. Thanks!

[2016-06-10 03:45] BenHenning commented on #2050
Marking this as important because it seems pretty easy and it's really useful.

[2016-06-10 03:49] BenHenning commented on #2055
Prefer pre-commit check here, if possible.

[2016-06-10 03:51] seanlip commented on #2055
Actually, I just realized that Karma tests are run as part of the pre-commit checks. So I guess this is a "create Karma test" thing?

[2016-06-10 03:51] seanlip commented on #2055
(Though I'm not sure how one would go about 'collecting' all the directives in the codebase...

[2016-06-10 05:49] BenHenning commented on #2054
/cc @gvishal this is part of the speed team, but it won't be part of your project. It's something @seanlip and I were discussing a while back.

[2016-06-10 05:53] BenHenning commented on #2031
This has been replaced by #2057.

[2016-06-10 05:53] #2031 closed

[2016-06-10 05:54] BenHenning commented on #2057
@amgowano is currently working on this.

[2016-06-10 05:57] BenHenning commented on #2058
This is related to work @gvishal is doing. Adding to his milestone so he can prioritize and see if it fits within his project.

[2016-06-10 06:02] BenHenning commented on #2062
Maybe the solution to this is to ensure moderators are not included in the membership when making changes to an exploration they do not have specific rights to (ie, performing a moderator action). That seems to more directly solve the problem, I think.

[2016-06-10 06:04] BenHenning commented on #2063
Can this issue list the specific jobs which can be converted? It seems too vague at the moment.

[2016-06-10 06:10] BenHenning commented on #2072
/cc @maitbayev

Also, @MAKOSCAFEE do you maybe have any ideas on this issue? In particular, we're looking to write tests that do the following:

1. Undo any local changes done in a particular branch compared to its base branch
1. A: Take measurements of Oppia using a performance framework being developed by @gvishal and output these to some intermediary representation (probably a file)
1. Reapply

[2016-06-10 06:11] BenHenning commented on #2073
/cc @maitbayev

See comments in #2072 for additional context.

@MAKOSCAFEE if you have specific ideas on how to do this for Travis, please mention them here. :) Thanks!

[2016-06-10 06:49] raju249 commented on #2061
@seanlip
Can I help with this after getting some UX suggestions from our team?

[2016-06-10 07:38] seanlip opened #2074 "Error with unicode strings in item selection interaction"
To reproduce:

1) Create a new exploration.
2) Add an 'item selection' interaction, and put "Diego Velázquez" as one of the choices.
3) Modify the first answer group to be "answer equals Diego Velázquez", and provide some feedback.
4) Open the rule you just added.

You'd expect the box next to "Diego Velázquez" to be checked, but, oddly, it isn't.

Also, if you preview the exploration, and select

[2016-06-10 07:55] seanlip commented on #2065
Fixed in #2070. Thanks @souravbadami!

[2016-06-10 07:55] #2065 closed

[2016-06-10 07:56] seanlip commented on #2035
@raju249 -- want to try this one?

[2016-06-10 07:57] seanlip commented on #2061
Depends when we get the UX suggestions! Would you be up for spearheading this and asking around a bit? @charisseysabel and @markhalpin might have thoughts.

[2016-06-10 08:01] raju249 commented on #2035
Thanks @seanlip I will try this one out.
But I guess I will have a quite many doubts  :sweat_smile: because I have not worked with linter before this but want to learn so this is my best shot
And also how can I change the glyphicon to material icons?

[2016-06-10 08:02] raju249 commented on #2061
Whom should I ask @seanlip ?
I guess I will ask some of my friends who might know about UX design

[2016-06-10 08:03] seanlip commented on #2035
You'll need to look through the material icons catalog, and find stuff that matches the intent of the glyphicons, then do the replacement. There are lots of examples of the use of material icons in the codebase; these can be used as a basis.

[2016-06-10 08:05] raju249 commented on #2035
Awesome @seanlip
Is the catalogue available online or we have it in our codebase?

[2016-06-10 08:05] seanlip commented on #2061
Hm, perhaps the easiest way is to just ask a couple of people if they can easily read the text (at the default zoom level), or if it's better for that text to be bigger?

[2016-06-10 08:05] seanlip commented on #2035
Online. Do a google search for 'material icons'.

[2016-06-10 08:06] raju249 commented on #2061
Ok
I will ask all my friends in my college to review this
Thanks :smile:

[2016-06-10 08:07] raju249 commented on #2035
Cool :+1:
@seanlip Any reference for which files to work on ? :sweat_smile:
It would just save some time

[2016-06-10 08:09] raju249 commented on #2061
Yeah right.
Ok so will ask just 2-3 people :+1:

[2016-06-10 08:10] raju249 commented on #2035
You said just 10 of them are remaining

[2016-06-10 08:12] raju249 commented on #2061
Should I ask them to view on mobile or Desktop ?

[2016-06-10 08:27] seanlip commented on #2035
Please take a look at the original comment on this thread -- the instructions to find those 10 instances are in there!

[2016-06-10 08:28] seanlip commented on #2061
Good question. I believe the issue was reported on desktop, but you might as well try both and see, I think.

[2016-06-10 08:51] raju249 commented on #2035
Yes

[2016-06-10 08:51] raju249 commented on #2061
ok

[2016-06-10 09:26] anafrancisca opened #2075 "Bug: Interest tags spill out of left column in the profile page"
Hi everyone!

I'm Ana from Portugal and I've been working on Oppia for the past 6 months.
I found a bug, maybe it's quite small, but is a problem, still.

At my profile page, the textboxes of my interests are shown in line being covered by the white background of the portlofio section. They transcend the limits of the column at the left. I have a screenshot of my account for you to see it.
I opene

[2016-06-10 09:30] seanlip commented on #2075
@KatFrog -- I think you made an update to this part of the profile page (#1826) some time back. Do you know if this is related to that?

[2016-06-10 09:32] seanlip commented on #2074
/cc @anafrancisca, who reported this

[2016-06-10 10:00] gvishal opened #2076 "Implement tests for different oppia pages for performance testing."
This issue involves implementing tests for various pages of Oppia for performance testing.

Refer to this doc for further info:
https://docs.google.com/document/d/1pNIVaFUvCJyUOxZWupGNbIP6dgWTfAbieAtxk1aQiJk/edit#bookmark=id.cnt91pn8l53o

/cc @BenHenning @maitbayev

[2016-06-10 10:02] #2076 closed

[2016-06-10 13:17] charisseysabel commented on #2061
The About pages uses a font size of 1.6em though, which is the default body font size. Could it be because the home and library pages has larger font size that, when you navigate to a different page, the user's eyes perceive it as too small? Just a thought.

I wouldn't mind increasing the font size but since the About pages are using the default size, **for the sake of consistency**, the rest of t

[2016-06-10 16:28] KatFrog commented on #2075
@seanlip - I don't think it's related, but I'll work this issue if you assign it to me.

[2016-06-10 16:30] KatFrog commented on #2075
@anafrancisca - which operating system do you use?

[2016-06-10 16:46] satwikkansal commented on #2023
Sure.. Should we make the font size smaller or add extra lines for long lines?

[2016-06-10 17:17] KatFrog opened #2078 "Oppia Loses Unsaved Content Changes When Editing the Title"
While editing an exploration, I was overhauling the content of a card.  Before I finished, I realized I wanted to change the title of the card to match the new content.  So I edited the title and clicked "Done" The entire page reloaded and it lost all of the changes I did to the content.

I went into the content and deleted the old text to start again, when I decided to see if using the Back butto

[2016-06-10 18:01] KatFrog commented on #2075
@seanlip  - I fixed the problem.  I'll create a pull request once this is assigned to me.

[2016-06-10 18:04] KatFrog commented on #1867
Hi @seanlip - I haven't looked too deeply, because I've been focused on the Python explorations.  But so far I haven't found anything obvious.  I'm spending time on it today - I'll let you know what I find.

[2016-06-10 18:09] souravbadami commented on #2075
@KatFrog -- I've assigned you. Go ahead!

[2016-06-10 19:03] markhalpin commented on #2061
hi @raju249! @charisseysabel, that's a good point. We're discussing reducing the headline and graphics sizes on splash to get more of the content "above the fold" on more screens. How does the bullet text on the splash page compare with the text size elsewhere? On Library, just about the only text not on the cards is headline text.

[2016-06-10 20:44] seanlip commented on #2023
Let's just change the titles to About/Foundation/Credits. That should suffice for now.

[2016-06-11 01:15] seanlip commented on #461
Ah -- @prasanna08, can you say "Fix part of #461" instead, until all milestones are completed? Otherwise GitHub will automatically close the corresponding issue.

/cc @BenHenning

[2016-06-11 01:59] #2075 closed

[2016-06-11 01:59] seanlip commented on #2075
Fixed in #2079. Thanks @KatFrog!

[2016-06-11 03:30] prasanna08 commented on #461
Oh I see, wasnt aware of automatic closing.

I will take care of it from next time.

[2016-06-11 06:04] BenHenning commented on #2078
This is a really serious issue and a bad experience. Thanks for reporting it.

[2016-06-11 06:12] seanlip opened #2083 "Expressions conflict with LaTeX input."
To reproduce:
1. Create a new exploration.
2. Open the content editor, and add a math formula containing something like `\frac{{\sigma}}{(\sqrt{n})}`.
3. Preview the exploration. This will break: the page will be blank, and there will be syntax errors in the browser console arising from the expression parser. Also, if you go to the learner view of the exploration, you'll see something like `</oppi

[2016-06-11 06:13] seanlip commented on #2083
(/cc @AllanYangZhou too)

[2016-06-11 07:21] raju249 commented on #2035
@seanlip Should I use Google Web Fonts to include Material Icons or are they already included?

[2016-06-11 07:27] seanlip commented on #2035
They're already included. See header_css_libs.html.

Also, when you change things to use material-icons, please try and follow the way it's done elsewhere in the codebase, for consistency. Thanks!

[2016-06-11 07:29] raju249 commented on #2035
Yes sure @seanlip
Thanks!

[2016-06-11 08:10] raju249 commented on #2035
Hi @seanlip
I changed all glyphicons with equivalent material icons but just one remains in oppia.css
```./core/templates/dev/head/css/oppia.css```
Should I remove the whole class?

[2016-06-11 08:11] raju249 commented on #2035
Hi @seanlip
``` ./core/templates/dev/head/css/oppia.css ```

Only the class in the above file remains.
```skipBtn```  class. Should I remove the class?

[2016-06-11 08:12] raju249 commented on #2035
Its used here
```./core/tests/protractor_utils/editor.js```

[2016-06-11 08:19] raju249 commented on #2061
Hi @seanlip
I asked 5 of my friends to take a look on the footer and the about page
They said its visible at default zoom level on desktop as well as mobile

[2016-06-11 08:37] seanlip commented on #2035
Oh, that's an interesting case. It's used in the editor tutorial.

Could you replace that class with ".skipBtn i" instead? That should achieve the same result, without using the "glyphicon" string.

Thanks!

[2016-06-11 08:38] raju249 commented on #2035
Yeah Sure @seanlip

[2016-06-11 08:39] seanlip commented on #2061
Thanks, @raju249! When you say "visible", do you mean "easily readable", or "readable, but with difficulty"?

@charisseysabel @markhalpin Based on @raju249's comments I am leaning towards closing this issue, but I'm intrigued by @charisseysabel's comment about increasing the font size of the footer on mobile. Charisse, do you think you'd be up for making a mock (or a PR) showing what you think, an

[2016-06-11 08:41] raju249 commented on #2061
@seanlip
Easliy readable
Just one friend said that we can think of changing the white color ..though she is not a UX expert :sweat_smile:

[2016-06-11 08:46] raju249 commented on #2035
@seanlip
I did the other changes and just not sure what to do in ``` scripts/pre_commit_linter.py ```
I have never worked with linting files in my projects but want to learn as its a very good practice to maintain consistency in the code base.
So I would like to work if I can find any resources to learn this

[2016-06-11 09:03] raju249 commented on #2035
Thanks @seanlip :smile:
So should I send a PR along with the script change or just for material icons?

[2016-06-11 09:05] seanlip commented on #2035
I think the PR will need to include the script change. @souravbadami should be able to review the changes; he wrote the pattern check logic.

I also suggest that you attempt to read and understand the pattern-check logic in the pre_commit_linter.py file. It's fairly straightforward: it scans all files for bad patterns, and outputs an error message if any are seen.

[2016-06-11 09:06] raju249 commented on #2035
Sure @seanlip

[2016-06-11 09:22] raju249 commented on #2035
Hi @seanlip
I went through the file and you were right its easy
I made the necessary changes in ``` scripts/pre_commit_linter.py ``` file.
I also made the commit
Take a  look if every thing is correct and then I will make a PR

[2016-06-11 09:24] seanlip commented on #2035
@raju249 please go ahead and make the PR; it's easier to review that way. If anything is wrong, you can always make follow-up commits (no need to create a new PR). Thanks!

[2016-06-11 09:25] raju249 commented on #2035
Sure

[2016-06-11 09:43] gvishal opened #2088 "Large unnecessary output when some back-end test fails."
I was running backend tests for a particular suite. Due to failure of one of the tests `test_change_about_page_config_property`, a huge amount of (html) output was dumped to the console. This makes debugging hard as I am unable to see which test happened to be failing.

Reproduction Instructions:
1.  Change `self.assertNotIn` to `self.assertIn` in `test_change_about_page_config_property()` in core

[2016-06-11 09:44] seanlip commented on #2088
Hi @gvishal, can you please provide a small set of repro instructions so that other devs can look into this? Thanks!

[2016-06-11 09:48] gvishal commented on #2088
Added.

[2016-06-11 09:56] seanlip commented on #2088
Not small enough. Could you make it smaller? Just a series of instructions from develop -- e.g. stick a "raise Exception" in one of the controllers, or something.

[2016-06-11 10:07] gvishal commented on #2088
Hmm, only a raise exception doesn't work as it doesn't involve the `response.body` variable.

[2016-06-11 10:10] seanlip commented on #2088
Ah, ok. Whatever the test case to reproduce is, though, it needs to be small, and doable from the 'develop' branch in 1-3 steps...

Maybe say "go to this *_test.py file and change self.assertNotIn to self.assertIn, or similar?

Having said that -- I needed the test log to see what the issue is; sometimes you need to grep for the string inside the returned response.body. What is your proposal for t

[2016-06-11 10:23] gvishal commented on #2088
Agreed. We could always pipe the output into a file to debug the issue or use the head command.

[2016-06-11 10:26] seanlip commented on #2088
Your repro instructions should probably include something like "step 2: run bash scripts/run_backend_tests.sh --test_target=..." :-)

The suggestion you have seems reasonable; could you please flesh it out more and put it in the top comment so that devs will know what exactly they need to do? Basically, the top comment should contain the setup instructions, a clear description of the observed beha

[2016-06-11 17:52] souravbadami opened #2089 "Text field for Preferred Languages in the Preferences page don't display well on mobile phones."
![screenshot from 2016-06-11 23 15 18](https://cloud.githubusercontent.com/assets/11073943/15986680/486f4074-302b-11e6-9434-373cd856ae69.png)

[2016-06-11 19:56] #1974 closed

[2016-06-12 06:57] mit0110 commented on #2064
A comment on this feature: some keys are constructed from several parts,
like the category names.

It should be a test that ensures all the categories have a corresponding
i18n key.

El mié., 8 jun. 2016 a las 21:00, Sean Lip (<notifications@github.com>)
escribió:

[2016-06-12 13:21] charisseysabel commented on #2061
@seanlip -- sure. And I would also agree that this is a no-op.

[2016-06-12 14:05] charisseysabel opened #2091 "Consider modifying the footer styles for mobile"
Currently this is what the footer looks like on mobile:

![img_5010](https://cloud.githubusercontent.com/assets/11045720/15991562/75f69354-30b6-11e6-80a0-2a52c7aef27b.PNG)

As much as the screenshot looks perfectly normal, when actually viewed on mobile, the text looks a little small and therefore might be a little hard for others to click on the links. I would also like to point out that its oddl

[2016-06-12 18:12] markhalpin commented on #2061
I'm OK with this as a no-op.

[2016-06-12 19:27] giritheja commented on #1795
Hey @seanlip
I have tried some positions for the social icons:
![screenshot from 2016-06-13 00 08 07](https://cloud.githubusercontent.com/assets/8845039/15993366/383825fa-3101-11e6-95bb-3a78186bfa3c.png)
![screenshot from 2016-06-13 00 46 13](https://cloud.githubusercontent.com/assets/8845039/15993368/411a838e-3101-11e6-97f7-77a1fe453be2.png)
![screenshot from 2016-06-13 00 47 06](https://cloud.gi

[2016-06-13 05:52] raju249 commented on #2091
@seanlip
Can I take this ?

[2016-06-13 06:18] BenHenning commented on #2083
Can you go into more detail on what the expected behavior was and what the actual behavior observed is? 'This will break' isn't too detailed. ;)

[2016-06-13 06:20] BenHenning commented on #2088
I think I know what you're referring to, as well. When a failure happens in a controller, it outputs the entire contents of the page iirc. I've looked into this in the past and I wasn't able to figure out exactly where it was being outputted (ie, I think it happened in webtest, not in Oppia).

[2016-06-13 06:27] seanlip commented on #2083
Thanks -- updated!

[2016-06-13 06:31] seanlip commented on #2091
Yes, sounds good, thanks! I've assigned you.

[2016-06-13 06:34] seanlip commented on #2061
OK, thanks! Closing.

[2016-06-13 06:34] #2061 closed

[2016-06-13 06:36] gvishal commented on #2088
@seanlip I didn't quite get what we mean by `a clear description of the expected behaviour` in this case. The expected behavior should be that variables should be dumped if an error occurs. It's just that if the content is too large, it becomes a problem.

[2016-06-13 07:00] seanlip commented on #2088
Right -- I guess what I mean is, what do you want to see instead of the dump? The top n lines thing isn't that useful, probably, since you'd want to look at the expected location of the string and see what's going on there, and you can't do that if the output is hidden. Piping the output into a file might work, but what is the filename, where would it be, how does the developer know that they need

[2016-06-13 07:04] souravbadami opened #2092 "Placeholder sometimes shows 'I18N_PREFERENCES...' on subject interests and preferred languages."
![screenshot from 2016-06-13 12 26 32](https://cloud.githubusercontent.com/assets/11073943/15999300/5680fdb4-3162-11e6-9ef4-b336a6f945dd.png)

**Steps to Reproduce:**
- Navigate to /preferences

**Observed Behavior:**
Subject interests placeholder: 'I18N_PREFERENCES_SUBJECT_INTERESTS_PLACEHOLDER'
Preferred site languages placeholder: 'I18N_PREFERENCE_PREFERRED_SITE_LANGUAGE'

[2016-06-13 07:16] gvishal commented on #2088
We leave the existing behavior in place. Simultaneously, we dump the log into a file called `$test_type.log` and after the tests finish, we show a message saying logs can be found in so and so file.

[2016-06-13 08:25] seanlip commented on #2092
/cc @mit0110

[2016-06-13 09:50] seanlip commented on #2063
Thanks, good catch. I listed the specific jobs.

Does this address your comment about "not providing any actionable work"?

[2016-06-13 15:13] KatFrog opened #2094 "Change "Done" button to "Save Changes"."
This is a small issue, but when you edit the title of a card, Oppia only has one button for the user to choose, "Done".  When editing the content, Oppia shows two buttons: "Save Changes" and "Cancel".

The rest of the interface offers two choices as well, a variant of "Save"button and a "Cancel" button.

I think we need to have both types of buttons for editing the title as well.
![selection_020](

[2016-06-13 15:19] KatFrog opened #2095 "Turn scrollbars off in css"
I just fixed a problem where the profile page flickered under the right circumstances.  The problem occurred because Oppia was turning a scroll bar on and off.   While finding this, I noticed that we have scroll bars turned on automatically in several containers.

I think that we want to have the scroll bars turned off from the start except for special cases where we need them, not turned on from

[2016-06-13 17:02] #2054 closed

[2016-06-13 17:17] gvishal commented on #2076
Duplicate.

[2016-06-13 18:50] p4rsec commented on #1964
I'm on it, @seanlip. I'll see what I can do.

[2016-06-13 20:42] #2078 closed

[2016-06-13 20:46] seanlip commented on #2095
Hi @KatFrog, I don't think I've noticed this before. Can you elaborate on which pages exhibit this, and how to reproduce the issue?

[2016-06-13 20:47] seanlip commented on #2094
I lean towards not having a "Cancel" button for the card name, because it's easily edited and it doesn't really matter what value it actually ends up being (since it's never shown to the learner). What do you think about just changing the current "Done" button to "Save" and colouring it green?

[2016-06-13 20:49] seanlip commented on #2076
Hi @gvishal -- when you close an issue as a duplicate, can you link to the issue that it is a duplicate of? Helps for record-keeping.

Thanks!

[2016-06-13 20:59] seanlip commented on #1795
Works for me! Would be nice to create a "square" icon for the link so that it doesn't look so out of place, I think.

Also, maybe the text could be: "Enjoyed this exploration? Share it with your friends!"

[2016-06-13 21:30] KatFrog commented on #2094
@seanlip - That works for me.  Can we make it say "Save Title"?

[2016-06-13 21:33] seanlip commented on #2094
Actually when you said "Title" in the issue, I initially thought it was the exploration title and got confused. So I think that name is "taken" :)

I thought about "Save Card Name" but that felt a bit verbose. So that's why, in the end, I suggested just "Save". What do you think?

[2016-06-13 21:35] seanlip commented on #2089
(@souravbadami FYI, remember to assign a team when labelling. Thanks!)

[2016-06-13 21:58] KatFrog commented on #2094
How about "Save Changes"?

[2016-06-13 23:23] amgowano commented on #1998
@BenHenning I will be working on this as we discussed.

[2016-06-14 01:53] gvishal commented on #2076
#2048 Duplicate.

[2016-06-14 02:26] edallison commented on #1858
I'm a little naive on anything but smaller build processes so any guidance would be greatly appreciated.  That being said, it appears to me that though dev builds are currently using gulp for minification/concatenation, the production builds are using a Python script.  Were we looking to move this part of the build to a gulp file or would it be better to use a Python library to create the sourcema

[2016-06-14 03:22] kevinlee12 commented on #1990
Hi guys, just acknowledging this, I'm currently attending to other stuff at the moment, but will be getting back to this midweek.

[2016-06-14 04:25] BenHenning commented on #2088
Discussed in TL meeting, we think that the HTML output is probably not useful. This is being changed to a bug and should be investigated to see if it can be removed and, if it can, then it should be removed.

[2016-06-14 05:15] seanlip commented on #1858
I think you probably want to do it in gulp, so that at the point of minification/concatenation, you also generate the sourcemap files. Note that the scripts/build.py Python script actually makes use of gulp, so really everything boils down to the latter.

/cc @MAKOSCAFEE @maitbayev

[2016-06-14 05:16] seanlip commented on #2094
I don't particularly mind that either, but it seems unnecessarily verbose to me -- I think of it as "save the current thing that's being displayed", and not so much in terms of what changes I've made.

[2016-06-14 05:22] MAKOSCAFEE commented on #1858
Actually I agree with @seanlip , Doing it in gulp is way easier and effective. Since there is already a [npm module ](https://www.npmjs.com/package/gulp-sourcemaps)that  will atleast help you with that.

[2016-06-14 06:26] BenHenning opened #2097 "Multi-exploration support with stats_services.get_top_state_rule_answers"
As part of @526avijitgupta's work with the creator dashboard, functionality will be needed to efficiently retrieve the top answers submitted to multiple explorations. Current functionality allows a naive approach which involves calling ``stats_services.get_top_state_rule_answers`` for each exploration. This is not ideal, however, since it will result in N data store RPCs for N explorations, when i

[2016-06-14 06:27] BenHenning commented on #2097
/cc @wxyxinyu and @AllanYangZhou

[2016-06-14 09:51] gvishal opened #2098 "Optimize SVG images for Oppia"
Current State:
1. Splash page contains lots of svg resources which are requested independently. (About 37)
2. Also, svg images are also used when displaying explorations. So, need to implement svg sprites such that other pages can also make use of it.
3. Optimize svg images. (https://github.com/svg/svgo)
4. (Stretch Goal) Standardize and compress images used in explorations.

This issue deals with

[2016-06-14 09:52] gvishal opened #2099 "Remove unnecessary css and js for each page."
Current State:
1. Base.html contains many scripts that are not required by all the pages (think: splash page, library page)
2. This leads to bloated page sizes and consequently large download times and a poor user experience.

So, we remove the unnecessary scripts from the base template and only include it in the required places.

Refer: https://docs.google.com/document/d/1HVeQB0_L5HsYlxyly_YjXewL

[2016-06-14 10:05] seanlip commented on #2099
@gvishal can you please add more of a summary to this issue? It's OK to copy/paste relevant parts of the doc into this issue thread. Having an inline summary makes it easier for maintainers to classify issues appropriately.

(Ditto for other issues. Thanks!)

[2016-06-14 10:10] gvishal opened #2100 "Slugs and Caching: Task 1: serve all the static resources under a slug path"
To Do:

- [x] implement slugs for /images.
- [x] implement slugs for /scripts
- [x] implement slugs for /pages
- [x] implement slugs for i18n.
- [x] implement slugs for css.
- [x] implement slugs for third_party
- [x] implement slugs for extensions
- [x] modify build.py and deploy.py, adding logic for production builds.
- [x] modify app.yaml

Refer: https://docs.google.com/document/d/1Z7ZdrHkewcFO

[2016-06-14 10:10] gvishal commented on #2099
Yup!

[2016-06-14 14:45] anmolshkl opened #2102 "Allow collections to have an informal intro"
We need to have a field for "introduction" of the collections that would tell the learner what this collection is about.

Depending on how we decide to _display_ our collections in the library, this introduction can be used to   give the learner - a brief insight into the collections.

/cc @seanlip

[2016-06-14 16:10] joshuacano commented on #1901
Sounds good.

[2016-06-14 16:48] anmolshkl opened #2103 "Display an inline error message for exploration titles longer than 50 characters."
**Observed behavior:**
While publishing a new exploration, if the exploration title is longer than 50 characters then the modal gets closed, an error message is displayed while the content (title, goal etc) of the modal is lost. This requires the creator to enter all the details again just because of a tiny mistake :)

Here is an image for reference:
![screenshot-www oppia org 2016-06-10 16-31-00]

[2016-06-14 17:42] 526avijitgupta commented on #1366
@rachelwchen Any updates on the mocks (I believe there were a few subtle changes to be made) ?

[2016-06-14 18:50] seanlip commented on #897
Update: @sbhowmik89 will be taking on implementation for this project. Thanks, @sbhowmik89!

[2016-06-15 02:11] anthkris commented on #1801
How about this:

New publish modal. I think this is a good place to offer some congratulations and a little delight!
![oppiapublishmodal](https://cloud.githubusercontent.com/assets/10858542/16065911/608027a0-3274-11e6-8af0-ddca14c5e46e.png)

Other workflows: Perhaps, on publish we could offer share icons in the creator dashboard
![dashboard](https://cloud.githubusercontent.com/assets/10858542/1606

[2016-06-15 02:21] seanlip commented on #1801
Hi @anthkris, I like both ideas! Also /cc @markhalpin @charisseysabel @KatFrog @anafrancisca in case they have additional comments :-)

[2016-06-15 02:42] markhalpin commented on #1801
@anthkris, I think offering congrats on a contributor's first exploration is a _great_ idea! Might we want to do something similar for learners the first time they complete an exploration, and perhaps the first time they complete a collection?
It occurs to me that Otter is on the modal inviting users to create their first exploration. Might it make sense to have him on the "congrats on your first

[2016-06-15 02:43] anthkris commented on #1801
@markhalpin Yes! I'd love to have the Otter in here, showing some personality, a la MailChimp.

[2016-06-15 02:47] markhalpin commented on #1801
Awesome! I'm a little booked the next couple of days but I could send you one Friday. Let me know if you'd rather do it yourself though. I'm not foisting it off on you -- I quite enjoy doing them -- but if you'd like to do it as an exercise, just let me know!

[2016-06-15 03:14] wxyxinyu commented on #2097
@BenHenning: Avijit actually needs to get all answers classified to the default rule submitted to multiple explorations (or whatever this will concept is changing to), not just the top [count], so if you could incorporate that functionality that will be great. Thanks!

/cc @526avijitgupta

[2016-06-15 03:47] anthkris commented on #1801
Thanks for offering! I am normally totally on board with a little stretch project, but I think I'd like to leave this one to you, if it's alright.

[2016-06-15 03:58] markhalpin commented on #1801
Perfectly alright :-) I'll have something for you in a couple of days.

[2016-06-15 05:05] seanlip commented on #2040
/cc @KatFrog

[2016-06-15 05:11] seanlip opened #2107 "Make fallbacks compulsory in the exploration editor."
Currently, we have an "advanced feature" in the exploration editor settings tab called fallbacks. These serve as hints to be given after a learner has answered the question on a card incorrectly several times in succession.

For interactions which are more complex than, say, multiple choice, fallbacks are absolutely essential. Otherwise, if the learner gets the answer incorrect many times in succe

[2016-06-15 05:11] seanlip commented on #2107
Assigning to @KatFrog.

[2016-06-15 05:36] BenHenning commented on #2097
@wxyxinyu that should be fine. ``stats_services.get_top_state_rule_answers`` returns the answers themselves, not a count.

[2016-06-15 05:46] wxyxinyu opened #2108 "Remove rounded corners of dropdown in preferences page"
![image](https://cloud.githubusercontent.com/assets/5061134/16069234/ab83fa44-3281-11e6-9afc-a5b22406e4fa.png)

The first dropdown has sharp corners, but the second has rounded corners. We should style them consistently. Since we use sharp in most places, I suggest removing the rounded corners of the site language dropdown.

[2016-06-15 06:14] wxyxinyu commented on #1843
Some thoughts about this discussion:

Actually, only the library page has a blue background. The splash page only has the blue banner. I think this is fine as it makes the library stand out as a special page.

Regarding the color scheme, I rather like things as they are. I think that the pastel blue and the green don't really go well together on their own, but the blue does go well with colorful t

[2016-06-15 06:48] szangaro commented on #1937
@markhalpin you are welcome!

[2016-06-15 18:05] charisseysabel commented on #1801
I agree on putting the Otter on the published modal. Also, it'd be great to also put a close button in there. I was thinking maybe clicking outside the modal would suffice but what if I accidentally click outside the modal? There wouldn't be a way to view the modal again right? At least that would give users the chance to read the modal content and close it as they wish.

Also --correct me if I'm

[2016-06-15 19:44] anmolshkl opened #2109 "Encountered unhandled backend error when updating and re-publishing exploration."
While re-publishing one of my explorations, I ran into the following error:
![screenshot-www oppia org 2016-06-15 22-32-14](https://cloud.githubusercontent.com/assets/6338799/16094594/84567d92-335e-11e6-95c6-06757807baef.png)

I wasn't able to reproduce the error (as there were quite a lot of changes) but before editing "card3", I had added a few cards before it. I had also changed the content of

[2016-06-15 20:02] BenHenning commented on #2109
I'm a bit concerned by this issue. I tracked down the situation in app engine logs and found the following stack trace:

[code]

Which links to https://github.com/oppia/oppia/blob/develop/core/domain/exp_services.py#L699. I originally had the theory that the ``original_names`` dict was becoming out of date when changing a state after adding a state before it (which happened in this case), but I wa

[2016-06-16 00:04] maitbayev opened #2110 "Static file revisioning by appending slug suffix to file names."
Currently, our static resources are embedded into html response, mostly by using jinja template.
For example:
[code]

It works well, but we are not using benefits of browser caching. By accessing resources via url will work, for example:
`<script src="services/explorationServices.js"></script>`

However, it may break front-end when we release new version of the Oppia. Thus, we should come up with

[2016-06-16 00:16] seanlip commented on #1805
I wonder if this is to do with the use of calc()? Maybe we need to add -webkit-calc rules...

[2016-06-16 00:18] maitbayev opened #2111 "Build task for collecting interaction templates"
Currently, interactions templates built by backend (i.e python) code and sent via http response to a front-end and it is optimised for an exploration, i.e it loads only templates used in the exploration. We need to  find a way to generate static 'interaction_templates.html', e.g it might be a gulp task. 'interaction_templates.html' will need revisioning (see #2110).
This will be used in the web an

[2016-06-16 00:23] anthkris commented on #1801
@charisseysabel I think the close button is a good idea. The publish modal shows the first time you publish every created exploration, so it will always be there. I like the idea about the randomized congrats message. I think my first step should be to get the base in place and then perhaps I can work on extending it with this idea.

[2016-06-16 00:35] maitbayev opened #2112 "Build interaction_specs.json"
Currently, interaction specs built by backend. We need to build interaction_specs.json file to be shared between web and mobile. Below example specs of "MathExpressionInput":

[code]

It depends on revisioning (see #2110).

[2016-06-16 00:41] markhalpin commented on #1801
I agree that having a "congrats" always occur on completion of an exploration would be nice, and I especially like the idea of it being a randomized "awesome" or "congratulations" or some such. I do think it might be nice if the *first* time you completed one, you got something a little more unique, since that's kind of a big deal.

[2016-06-16 06:11] seanlip opened #2113 "Fix overlap between final exploration card and recommended explorations."
To reproduce:
1) Create and publish two explorations.
2) Modify the EndExploration interaction of the first exploration to point to the second one as a recommended exploration.
3) Play through the first exploration. When you come to the last card, reduce the width of your browser window.

You'll find that there's a bad overlap between the final card and the summary tiles for the recommended explor

[2016-06-16 06:21] #1931 closed

[2016-06-16 07:12] seanlip commented on #1901
Hi @joshuacano, did you start on this yet? If not, is it OK if I take it? I was just starting on a small refactor to the About pages and it seemed sensible to just bundle these in as well.

Thanks!

[2016-06-16 07:46] seanlip commented on #1901
Actually, I went ahead and did it -- #2114. Hope that's OK -- it ended up fitting in well with some other stuff I was doing, and we are planning a patch release soon. If you'd like to take the PR for a spin, please feel free; I welcome comments!

Also, I'd suggest #2113 as a good replacement project. What do you think?

[2016-06-16 08:18] anmolshkl opened #2115 "The width of the collapsible block in the response is being restrained by the fixed sized div which contains the response."
**Steps to reproduce:**
1. Create a new exploration.
2. Add some content.
3. Add a response, add collapsible block to the response.
4. Save and publish the exploration.
5. Play through it to see the response.

**Observed behavior:**
If the response contains a collapsible block, then the width of the 'div' containing the response is not adjusted according to the width of the collapsible block. Here

[2016-06-16 09:51] seanlip opened #2116 "The button at the end of an exploration in a collection should point learners to the next exploration."
At the moment, after you finish an exploration in a collection, there is a strong prompt that asks you to return to the collection. This doesn't seem like the best thing for the learner to do; it's more usual to carry on learning!

So, instead of asking the learner to return to the collection, we should probably change the blue button to direct them on to the 'next' exploration in the collection,

[2016-06-16 10:38] anafrancisca opened #2117 ""Creator Dashboard" - The Spanish version of the interface has kept the english term."
Olá a todos,

So, I'm working on the portuguese translation of the Oppia website. I came along with an issue:

Term "Creator Dashboard":  The spanish version of the interface has kept the english term.

I spoke to Sean who told me that it is a issue.

Obrigada!

[2016-06-16 11:01] MAKOSCAFEE commented on #2117
Hi @anafrancisca are you planning on working on this issue?

[2016-06-16 11:59] anafrancisca commented on #2117
@MAKOSCAFEE Hi, i'm working on the portuguese translation, so I will correct this issue into portuguese.

[2016-06-16 12:01] MAKOSCAFEE commented on #2117
@anafrancisca  perfect.. then I am assigning you to this issue.
Thanks.

[2016-06-16 14:28] joshuacano commented on #1901
Sounds good, I'll start on 2113

[2016-06-16 17:45] BojOnTheBeat commented on #2013
Hi @seanlip, where in the css do we put a cap of the max-width of the carousel images?

[2016-06-16 18:02] gvishal opened #2118 "Performance Testing Framework: load HTTP Archive files and run absolute tests."
We should be able to load HTTP Archive files and run absolute tests on them using our performance testing framework.

/cc @BenHenning @maitbayev

[2016-06-16 18:05] gvishal opened #2119 "Performance Testing Framework: support for regression testing."
We need to add support for regression testing i.e, change in performance metrics before and after making any changes.

We should be able to:
1. Dump metrics to a file.
2. Load metrics from a file.

We could reuse HAR for this purpose, since it's json based and we already have methods implemented to process it.

/cc @BenHenning @maitbayev

[2016-06-16 18:19] souravbadami opened #2120 "Create and Browse button text should be translated into Espanol in teach page."
![screenshot from 2016-06-16 23 47 09](https://cloud.githubusercontent.com/assets/11073943/16128126/faa8cd1a-341c-11e6-9fff-cdd86f0486b6.png)

[2016-06-16 18:41] seanlip commented on #2013
I'm afraid I'm not sure. @kevinlee12?

Also, some of the relevant code might be in library/Library.js -- there's some JS there that's used to handle the scrolling. Not sure if it does width stuff as well.

[2016-06-16 18:58] #1901 closed

[2016-06-16 19:05] seanlip commented on #2117
Actually, although Ana will be doing the Portuguese translations, I think this is just a case where the string in the UI hasn't been given a translation id -- so that would be a different fix. The fix would involve finding a way to get the text "Creator Dashboard" in the dashboard page translated at all.

So, for now, deassigning Ana, and leaving this issue for someone else to work on!

[2016-06-16 19:12] seanlip opened #2121 "Remove I18N_LIBRARY_LANGUAGES_* keys from translation files."
We have a number of keys in the translation files at i18n/en.json that correspond to languages in the dropdown in the library page. These should be removed, because they are going to appear the same way for all languages, and therefore do not need to be translated. The use of these keys in the library page should also be corrected accordingly.

/cc @mit0110 @Nikerabbit

[2016-06-16 19:19] seanlip commented on #2110
/cc @gvishal @BenHenning

[2016-06-17 08:37] seanlip commented on #2121
Hi @anggorodewanto -- firstly, great job with #2124; the translations look great!

Now that you're familiar with how the i18n system works, would you like to take this one?

[2016-06-17 09:22] anggorodewanto commented on #2121
Sure, any pointers on where should I start?

[2016-06-17 09:23] seanlip commented on #2121
Yep! Take a look at the files in core/templates/dev/head/library, and see where the i18n codes are. You'll want to make sure you have a dev server up and running in order to test your changes, too, and make sure the page continues to display correctly. Let us know if you need any help!

[2016-06-17 13:52] anafrancisca commented on #2117
![image](https://cloud.githubusercontent.com/assets/18329602/16152725/1af707d4-349b-11e6-9328-3d095fa1fbf5.png)

[2016-06-17 14:23] jacobdavis11 commented on #2052
The spec for this is here: https://drive.google.com/open?id=15DVP3yRMZTjElzWFcn20tmrw1A_b4__rkpS3AcIk99w

The next step is to design the interface within the editor settings tab that will be used to select the tier 1 and tier 2 category that an exploration falls into.

[2016-06-17 15:17] souravbadami opened #2125 "Exploration graph legend sometimes gets misaligned in history tab of the editor."
Exploration graph gets misaligned and (sometimes) moves out of the parent container when comparing for two versions of exploration.

![screenshot from 2016-06-17 15 11 18](https://cloud.githubusercontent.com/assets/11073943/16146958/59d303ba-349e-11e6-8c38-98b4f7ebf5aa.png)

**How To Reproduce:**
- Create an exploration and save it.
- Modify the exploration to create another version of it.
- Navig

[2016-06-17 21:19] szangaro commented on #2074
Seems intermittent. It works for me now
![capture](https://cloud.githubusercontent.com/assets/2034660/16164962/fec7e772-3495-11e6-867d-674c1585d907.PNG)

but the first time I tried and selected "Diego Velázquez" as the right answer, the rule appeared with an empty set []

"is equal to []..."

I deleted the rule, tried again and it worked.

"is equal to "<p>Diego Velázquez</p>

The workaround for n

[2016-06-18 02:05] kevinlee12 commented on #2013
Hi @BojOnTheBeat, the max width of the image above is defined in the main css file:  `core/templates/css/oppia.css`

The carousel is width is handled in the file that Sean noted in this comment above. Hope that helps!

[2016-06-18 02:09] kevinlee12 opened #2127 "Oppia sitemap"
Create a sitemap for Oppia that will allow for search engine spiders to more easily understand the site structure of Oppia. This will require that the assignee first document the layout of the site and then create a sitemap file detailed here: https://support.google.com/webmasters/answer/183668?hl=en&ref_topic=4581190#sitemapformat

[2016-06-18 02:11] kevinlee12 opened #2128 "Alt attributes for images and media"
Add `alt` attributes to images and other non-text media so that search engine spiders can more easily see the content on the site and improve our SEO.

All Oppia default images should have the `alt` tag (in other words, everything excluding creator-generated content). The pages that would be covered are:
- [ ] `/splash` - @TJHomer
- [ ] `/library` - @TJHomer
- [ ] `/donate` - @TJHomer
- [x] `/abou

[2016-06-18 02:12] kevinlee12 commented on #2004
Superceeded by
- Sitemap: #2127
- `alt` tag: #2128

[2016-06-18 02:12] #2004 closed

[2016-06-18 02:50] kevinlee12 commented on #2074
Funny thing is that even though I made `ng-checked` always true, it doesn't check.

[2016-06-18 06:39] markhalpin commented on #1801
hi @anthkris, I've posted a congratulatory Otter .svg to https://drive.google.com/open?id=0B4A9S7Ym8W0COXdaMmF2UXVvbTQ. Please feel free to do whatever you like with it! Jpg attached below just for reference. Thanks!

![otter_congrats](https://cloud.githubusercontent.com/assets/13863393/16169472/ecce26f4-34fd-11e6-8509-3f523ec00245.jpg)

[2016-06-18 09:41] satwikkansal commented on #2023
@seanlip Have a look at this http://codepen.io/satwikkansal/pen/LZRNax

[2016-06-18 09:46] gvishal opened #2129 "Better alternatives for base64 images."
Right now in `base.py` we send profile image of the current user as base64. This happens each time a request is made to the back-end.

We should send the user image only once and cache it at the front-end. One easy way to do so will be sending an image file instead of base64.

@BenHenning suggested that we could create a create a custom image controller and serve the image rather than sending it o

[2016-06-18 13:06] anafrancisca commented on #2074
It's so so strange

[2016-06-18 17:53] TruongKim commented on #1740
Hi @seanlip Yes I do need help. When I try to run the command git push origin, I receive the error message that the url for the origin repository is not found. My current url for origin is https://github.com/TruongKim/oppia/tree/scroll_top, and I wonder if you can tell if my origin is the right one? If not, what should i set it to?

[2016-06-18 17:56] TruongKim commented on #1740
Update: when I try to change my origin url to https://github.com/oppia/oppia, I received the message https://github.com/oppia/oppia not found.

[2016-06-18 18:13] MAKOSCAFEE commented on #1898
Hi @bbriggs any progress on this?

[2016-06-18 18:17] MAKOSCAFEE commented on #1782
Hi @ashishpahwa7 any progress in this issue?

[2016-06-18 18:20] souravbadami opened #2130 "Footer covers some part of the browse button on the teach page."
![screenshot from 2016-06-18 23 46 36](https://cloud.githubusercontent.com/assets/11073943/16172868/232ea24e-35af-11e6-84f5-9cbd856c9879.png)

[2016-06-18 20:32] seanlip commented on #1740
Hi @TruongKim, when you run "git remote -v", what do you see?

Your origin should be https://github.com/TruongKim/oppia
and your upstream should be https://github.com/oppia/oppia

[2016-06-18 23:55] TruongKim commented on #1740
Hi @seanlip I ran into the error "src refspec master does not match any. Error: failed to push some refs  to https://github.com/TruongKim/oppia"; I already went to stack overflow and try suggestions about run the command commit -m "Initial Commit", but still can't get rid of the error.

[2016-06-19 01:38] TruongKim commented on #1740
Update: I checked that I push a file onto oppia couple of days ago, and here's the link: https://github.com/oppia/oppia/commit/1a54b34e3007ec80385fd913d358f1fbbb917e00

Now that I think about it, I think I made a mistake. I supposed to push it into the TruongKim/oppia right?

[2016-06-19 02:59] seanlip commented on #1740
Yep, that's right -- you should push it onto a new branch in TruongKim/oppia.

[2016-06-19 05:34] raju249 commented on #2091
Sorry to start late.
I was busy with #2035 . I guess 2035 is almost done this time :sweat_smile: . I will start to work on this later today evening.
Thanks

[2016-06-19 05:51] rachelwchen commented on #1366
<img width="295" alt="screen shot 2016-06-18 at 10 49 54 pm" src="https://cloud.githubusercontent.com/assets/12159451/16175552/309be854-35a7-11e6-9156-4dc4c7074d83.png">
<img width="792" alt="screen shot 2016-06-18 at 10 50 14 pm" src="https://cloud.githubusercontent.com/assets/12159451/16175554/30a935a4-35a7-11e6-8ed6-c556024905ee.png">
<img width="792" alt="screen shot 2016-06-18 at 10 50 30 pm"

[2016-06-19 07:09] seanlip commented on #2023
@charisseysabel, what do you think?

@satwikkansal, I have a question: do we need the horizontal scrolling stuff? With the new tab names, it seems like they should all be able to fit side-by-side without any issues...

[2016-06-19 13:31] gvishal commented on #2110
This issue can be broken down into two parts:

1. Modularize front-end scripts. (Refer: https://docs.google.com/document/d/1HVeQB0_L5HsYlxyly_YjXewLAXTu7a-p0McwsNG5Jn4/edit#bookmark=id.xn6pvgus6yh0)
2. Add slug-based caching. (Issue: https://github.com/oppia/oppia/issues/2100) (Refer: https://docs.google.com/document/d/1HVeQB0_L5HsYlxyly_YjXewLAXTu7a-p0McwsNG5Jn4/edit#bookmark=id.6gss7yy3j5ob)

[2016-06-19 13:45] satwikkansal commented on #2023
@seanlip I was wondering the same thing, also it will reduce the lines of JS code.

[2016-06-19 16:43] oparry commented on #921
Hi all,
Just a quick question to make sure I understand the requirements for the reset button -  I would guess that it should set all of the (learner) parameters to their initial values, remain in the same state and prompt for any unset parameters if necessary. Is that right?
Thanks!

[2016-06-19 20:44] seanlip commented on #921
Hi @oparry, I think that the "Reset Exploration" button should cause the exploration to be reset to the beginning. I.e., it should start the playthrough at the _initial state_ (so I don't think a prompt for unset parameters will be needed).

Do you think this would make sense? Maybe we can also call the button "Reset From Beginning" or similar.

[2016-06-19 20:45] seanlip commented on #2023
@satwikkansal I think it's fine to go ahead with that assumption (i.e. no need for horizontal scrolling; just have the tabs side-by-side).

[2016-06-19 21:05] oparry commented on #921
Ah ok, thanks, that's simpler than what I was thinking of.
My interpretation was that parameters set in the preview should retain their values until being overwritten during play-through or until the 'reset' button was clicked.
How about calling it "Restart From Beginning"?

One other question - would it be ok to put both the reset button and the parameter viewer in the same PR?  The positioning o

[2016-06-19 21:58] seanlip commented on #921
Yep, that text sounds good to me!

Also, yep, I think it's fine to do both in the same PR. The only exception is if doing so causes significant delays, in which case you might want to separate it into two and submit the easier one first.

Thanks!

[2016-06-19 23:47] charisseysabel commented on #2023
Yeah, I think that could work! Is there any way that we could test how it looks on an actual mobile device before we say its good to go? Hopefully it doesn't look small / difficult to click on!

[2016-06-20 00:58] zmantx commented on #2130
Replicated in Chrome on local copy, doesn't appear to affect the live site.

[2016-06-20 01:14] zmantx commented on #2127
I would like to work on this one.

[2016-06-20 01:46] seanlip commented on #2127
Sounds good! If you accept the invitation at github.com/oppia, I can assign you.

One question (also for @kevinlee12): how would this work for dynamically-generated URLs, such as the /explore/{{id}} ones for each exploration? Or do we just not include them? I assume the sitemap doesn't have to be comprehensive?

[2016-06-20 03:03] seanlip commented on #1982
Hi @p4rsec, just to check, are you working on this? If not, I'll deassign you so that someone else can take it. Thanks!

[2016-06-20 03:04] seanlip commented on #1977
Actually I think multithreading is orthogonal to the CSS linter; we can do that separately. (Though, do we need to do it at all? Apparently it was due to a bug in jscs...)

[2016-06-20 03:29] seanlip commented on #2074
Hm, any luck discovering what's going on here? If not, I might try and take a look into this in the next couple of days...

[2016-06-20 03:29] kevinlee12 commented on #2127
For comprehensiveness, we should include dynamically-generated URLS. I
would suggest we create two sitemap files, one for non-dynamically
generated URLs and the other should be dynamically-generated URLs (we may
have to break up the latter one as Google only supports sitemaps with up to
50,000 URLs). From what I see on the guides, they say that adding an entry
into the sitemap can only help and wo

[2016-06-20 03:31] seanlip commented on #2127
But we can't include URLs for every single exploration on the site. That would be too much work to maintain.

[2016-06-20 03:32] seanlip commented on #2127
(Unless the idea is to generate the file dynamically? If so, we might be looking at a cron job or something...)

[2016-06-20 03:36] kevinlee12 commented on #2127
Ah yes, for the dynamically-generated URLs, a cron-job would be the way to
go. Let's do this in stages:

1. Nondynamically generated URLs
2. Dynamically generated URLs w/ cron job (daily to weekly, because search
engine spiders don't jump on sites that frequently)

On Sun, Jun 19, 2016 at 8:32 PM, Sean Lip <notifications@github.com> wrote:

[2016-06-20 03:38] kevinlee12 commented on #1977
It is orthogonal to the CSS linter, but to not crash developer's systems,
it would be best if multi-threading were to be implemented before or with
CSS linter. For less powerful machines, running all three linters at once
might be overpowering (assuming they all were working properly).

On Sun, Jun 19, 2016 at 8:04 PM, Sean Lip <notifications@github.com> wrote:

[2016-06-20 03:41] anthkris commented on #1801
Thanks @markhalpin !
Spent the weekend on a WordPress project but I'll be working on this back throughout the week. I'm nearly done with the basics (Still a little more styling to do as you can see from the screenshot).

<img width="906" alt="screen shot 2016-06-19 at 10 39 37 pm" src="https://cloud.githubusercontent.com/assets/10858542/16182739/e9d43a02-366e-11e6-86d7-69280be698c1.png">

One thin

[2016-06-20 04:21] seanlip commented on #1801
Hi @anthkris, thanks for the update!

With regards to explorationContextService, can you find a way to not use it in the dashboard icons?

[2016-06-20 05:06] seanlip commented on #2074
I think I fixed it! See #2137.

[2016-06-20 06:07] kevinlee12 commented on #2127
Hi @zmantx, assigned you this issue! feel free to let Sean or me know if you have any questions!

[2016-06-20 06:09] kevinlee12 commented on #1841
Checked in with @arun1595 today, he's still on it.

[2016-06-20 07:00] seanlip opened #2138 "Make the performance tests more declarative."
Thanks to @gvishal, we now have a [performance test](https://github.com/oppia/oppia/blob/598abde09a0db993da28e2ad9d90a93e57db9949/core/tests/performance_tests/splash_test.py) for the splash page, and I believe we're going to add more for other pages!

It seems like, instead of writing what is basically the same test for different pages, we might want to abstract the relevant parts into a declarati

[2016-06-20 07:01] seanlip commented on #2138
/cc @gvishal @BenHenning @maitbayev

[2016-06-20 07:25] satwikkansal commented on #2023
@charisseysabel I think checking in desktop browser with resized window will be just as good as checking in actual mobile device.
@seanlip Just one questions, do you want the tabs to have full names on non-mobile devices or should we stick with About/Foundation/Credits. For the later we'll not need to have seperate code for different screen sizes.
Also I've removed the horizontal scrolling and upd

[2016-06-20 07:29] seanlip commented on #2023
Hm, good question. I'd say, let's try keeping the text the same in both cases and seeing how it looks. If it's unclear on desktop we can always bring the longer version back, but I lean towards simplicity for the time being.

[2016-06-20 07:33] seanlip commented on #921
Fully fixed in #2134. Thank you, @oparry!

[2016-06-20 07:33] #921 closed

[2016-06-20 08:31] seanlip commented on #2103
Hi @oparry, would you like to try this one?

[2016-06-20 08:43] gvishal opened #2140 "Performance Testing Framework: manual testing for specific connection profiles."
We should be able to manually run tests for specific connection profiles.

This involves:

1. Separate object (maybe services functions) for loading page sessions from a HAR file instead of Selenium. (https://github.com/oppia/oppia/issues/2118)
2. Add support for different connection profiles into the current framework.
    - Add thresholds/tests for the different connection profiles.
    - Implem

[2016-06-20 09:57] seanlip commented on #1897
@sdulal -- any progress? We need to fix this somewhat soon; it's causing bugs.

Thanks!

[2016-06-20 09:57] seanlip commented on #1863
Hi @tcyrus -- how is this going? This is a somewhat serious bug, so it would be great to get it in soon...

[2016-06-20 12:22] raju249 commented on #2091
Just a quick question @charisseysabel @seanlip
The solution to this issue is moving the footer to left a bit using css.
So the move should only be affected on mobile view or it should also change in desktop view as well.
If its just mobile view then do I need to change css for all media queries of various sizes?

[2016-06-20 12:33] raju249 commented on #2091
![untitled](https://cloud.githubusercontent.com/assets/8307266/16194163/dd956548-3710-11e6-8019-1c3b4b147ae9.png)

@charisseysabel
This is what I got after changing the ``` margin-left ``` to ```- 60px ```. ( it was default ``` - 15px```)
This didn't create any visual change on desktop view but it moved left as shown in the screen shot for mobile view.
Let me know what you think and I will push th

[2016-06-20 12:44] zmantx commented on #2130
Looks like the issue can be narrowed down to the footer element, class oppia-footer. Its height is being calculated to be about 40 px larger than the live site, but the CSS rules between both are exactly the same concerning this particular element.

[2016-06-20 14:21] TruongKim commented on #1740
@seanlip Yes, I did change the brand name. However, when I run the command git push origin scroll_top(my directory name), I receive the message fatal: ambiguous argument, unknown revision. Does this mean I need to recreate the branch? Or what is it should I do?

[2016-06-20 17:36] bbriggs commented on #1740
Try `git push -u origin scroll_top`

The `-u` option tells the remote to create the branch if it doesn't already exist.

[2016-06-20 17:51] gvishal commented on #2138
Yup! Are there any existing tests which follow this pattern?

[2016-06-20 18:01] charisseysabel commented on #2091
It would be great if we can preserve how it looks like on larger screens. So yeah, I think the solution above is what would work best, IMO. :+1:

[2016-06-20 18:14] 526avijitgupta opened #2142 "Handle cases in frontend when an http request fails"
Currently, there are many instances in the codebase when an $http request is made but nothing is done if the request fails. We should either manually add a response rejection to each of the cases, or maybe look for a more generic solution.
/cc @wxyxinyu and @AllanYangZhou
( I'm currently labelling this as a triage since it's not clear at this point as to what needs to be done)

[2016-06-20 18:48] seanlip commented on #2091
I defer to @charisseysabel on this :)

[2016-06-20 18:51] seanlip commented on #2138
Not really. The closest I can think of is extensions.objects.models.objects_test, where you have a bunch of data and evaluate it using a for loop. There's also core.controllers.base_test.BaseHandlerTest.test_that_no_get_results_in_500_error, but there the full list of urls is generated dynamically. This is a bit of a hybrid of the two.

[2016-06-20 18:52] seanlip commented on #1740
An alternative might be to just start from the beginning with a fresh clone of the repository, just in case you've already done things to it that's caused it to go into a bad state. More work, but at least you know you're starting from the same (working) point as everyone else.

[2016-06-20 23:15] arun1595 opened #2143 "Center the banner image at all screen widths"
When the device width is 844px, the banner image is not centered.

![center-image](https://cloud.githubusercontent.com/assets/7039523/16213054/217d4db2-376a-11e6-8fef-7bb7b2755fc8.png)

And the same issue when the device width is less than or equal to 632px.

![632px](https://cloud.githubusercontent.com/assets/7039523/16213161/001b47d6-376b-11e6-889a-b7813ca167c0.png)

It would be better if we cou

[2016-06-21 00:34] zmantx commented on #2127
I have what I think will work as a preliminary sitemap for all of the static content at https://gist.github.com/zmantx/244b341fbbbe8a18db2acae8bf79bbc6.

[2016-06-21 01:54] arun1595 opened #2144 "Language dropdown menu gets a weird position when device width is less than 1230px"
#### Steps to reproduce
  1. Go to the library page
  2. Resize the screen width to 1230px

You can find that the language dropdown menu flows out of the navbar and stays at the bottom of categories dropdown menu.

Screenshot

![language](https://cloud.githubusercontent.com/assets/7039523/16215580/0757fa74-3781-11e6-8a78-18cca453a917.png)

Operating System - Ubuntu 16.04 LTS
Browser - Google Chrom

[2016-06-21 02:46] anthkris commented on #1801
Right. So explorationContextService is being used by the SharingLinksDirective as a way to get the exploration ID. I'm using it for the the modal as well as the dashboard. But it looks like I shouldn't but it also seems wasteful to replicate the directive and the html.

[2016-06-21 02:58] seanlip commented on #1801
Ah, thanks for explaining.

In situations like this, a refactor is the right thing to do. Specifically, in this case, can you pass the explorationId into the directive (wherever the directive is used), instead of retrieving it from explorationContextService? That should solve the problem.

[2016-06-21 03:00] anthkris commented on #1801
That's what I was thinking. Good plan! I'll work on that.

[2016-06-21 04:03] seanlip commented on #2142
Discussed at TL meeting. Suggestion:

- if failure is due to 400/401/404/500 error, leave things in a broken state (as they currently are) and show a (possibly fatal) warning using alertsService (see #1135)
- if failure is due to the connection never returning, the frontend should recover and display a message indicating that there are connection problems

[2016-06-21 04:10] BenHenning commented on #2140
Duplicate of #2118.

[2016-06-21 04:10] #2140 closed

[2016-06-21 04:12] BenHenning commented on #2118
From #2140:

Implement scripts and command line arguments to run tests for a specific profile. (eg. --profile=good-3g)

[2016-06-21 04:33] seanlip commented on #2116
Another suggestion for this (by @BenHenning) is to just get rid of the button altogether.

[2016-06-21 04:56] seanlip commented on #2127
Thanks, @zmantx!

I looked at this a bit and I also looked [here](https://support.google.com/webmasters/answer/183668?hl=en), and I noticed a few things:
- We'll probably need to generate the sitemap during the build process (see scripts/build.py) so that it uses the correct URL (e.g. oppia.org) and lastmod (if lastmod is needed).
- What are the consequences of not using changefreq? It seems like

[2016-06-21 07:05] #2120 closed

[2016-06-21 07:06] seanlip commented on #2121
Hi @anggorodewanto, just checking -- how's this going? Do you need any help?

[2016-06-21 07:07] seanlip commented on #2117
Hi @epochus, would you be up for looking into this? Thanks!

[2016-06-21 08:34] anggorodewanto commented on #2121
Hi @seanlip, sorry for the long time I took to do this (was out of town). I fixed it and I'll create PR tonight.

[2016-06-21 08:39] seanlip commented on #2121
Cool -- thanks a lot for the update, @anggorodewanto! That sounds great!

[2016-06-21 09:02] #2035 closed

[2016-06-21 09:10] oparry commented on #2103
Hi @seanlip,
I'll be away from the 23rd of June to the 1st of July.  I'm not sure how long this would take me, but I have some time to work on it today and tomorrow.  Please feel free to assign me if it is not urgent.

[2016-06-21 09:12] seanlip commented on #2103
Thanks, @oparry! I think this shouldn't be too bad, so yep, please go ahead and take it. If you don't finish it before you leave, just leave a message on this thread and a PR that explains where you got to, and we'll try to take it from there. Thanks!

[2016-06-21 09:14] seanlip commented on #2051
Hi @souravsingh, how is this going?

[2016-06-21 09:17] seanlip commented on #2092
I can't seem to replicate this, although the placeholder strings don't appear to be translating for me. @epochus @anggorodewanto are you able to replicate?

[2016-06-21 09:19] seanlip commented on #2143
Does this duplicate #2013?

[2016-06-21 09:21] seanlip commented on #2044
@Yeeons, how's this going?

[2016-06-21 09:22] seanlip commented on #2089
Hi @anggorodewanto, would you like to try this one next? The relevant code is in core/templates/dev/head/profile, I think.

Thanks!

[2016-06-21 09:35] anggorodewanto commented on #2089
Hi @seanlip, sure I'll try it!

[2016-06-21 09:41] anggorodewanto commented on #2092
@seanlip I managed to replicate it with these steps:
1. Navigate to preferences page
2. Refresh page with clear cache (cmd + shift + r in chrome osx)
![screen shot 2016-06-21 at 4 41 29 pm](https://cloud.githubusercontent.com/assets/3207091/16225058/05d284e6-37cf-11e6-9da2-3b151420a4ee.png)

[2016-06-21 12:34] anggorodewanto commented on #2089
@seanlip, which one do you think is better for the dropdown width:
1. Using smaller static width (currently 400)
2. Using percentage width

[2016-06-21 13:10] zmantx commented on #2127
I can keep plugging away at it, this is actually an interesting challenge for where I am at skill wise. I have an idea of how to build a module to handle this for the static content. Building the secondary map for dynamic content is going to be more difficult, as I haven't really had a chance to dig in an learn how the different lessons are created and stored.

[2016-06-21 14:24] souravbadami commented on #2143
Duplicate issue #2013.

[2016-06-21 14:24] #2143 closed

[2016-06-21 16:10] raju249 commented on #2091
@charisseysabel
I noticed it now that even on desktop the footer moves 60px on left side(with a minus sign)
And I took a look on footer styles in ``` oppia.css ``` and didn't find any media query for mobile screen size :sweat_smile:
I am thinking of creating one for solving this issue
What you think?

[2016-06-21 16:11] souravbadami opened #2148 "Only some part of exploration overview map appears on the editor."
![screenshot from 2016-06-21 21 35 36](https://cloud.githubusercontent.com/assets/11073943/16237030/363743f0-37f8-11e6-812c-b5fa00805d01.png)

**How To Reproduce**:
- Create an exploration and add some cards.
- Switch between different tabs.

**Observed Behavior**:
Only some part of exploration overview map appears on the editor. This issue does not takes place every time. The map can be dragged b

[2016-06-21 16:32] charisseysabel commented on #2091
Sure. I'd limit it to just one though. I'm not sure how many media queries are there for the footer but I think it would make sense if the styles would revert to the default state once it hits sizes similar to iPads or other medium-sized screens or something. What do you think?

[2016-06-21 16:34] #2121 closed

[2016-06-21 16:35] seanlip commented on #2089
I'm guessing the second, since it needs to look OK on both mobile and desktop. But really, as long as it looks fine on both, either is OK.

[2016-06-21 16:56] raju249 commented on #2091
I think we have a media query for ``` max-width:768px``` and this is where mobile size kicks in and footer starts aligning vertically.
I am trying to change css  in that query and not creating duplicate :smile:
Let me know if you have any other idea.
Thanks!

[2016-06-21 17:17] charisseysabel commented on #2091
Sounds good to me! :+1:

[2016-06-21 19:05] gvishal commented on #2138
Thanks, Sean! I have implemented a basic POC. PTAL!

[2016-06-21 22:39] bbriggs commented on #2148
@souravbadami: Thanks for submitting. Can you isolate what part of the code is controls that behavior to help contributors who want to work on this issue?

[2016-06-21 23:23] bbriggs commented on #2073
This sounds pretty interesting. Any news on this?

[2016-06-21 23:23] bbriggs commented on #2072
Have we tested that git shenanigans don't work on Travis?

[2016-06-21 23:25] bbriggs commented on #2055
I'll take a look at how to identify directives. I'm sure StackOverflow will have some leads :)

[2016-06-22 03:58] anggorodewanto commented on #2089
Okay, I'll use smaller static width because it looks better both in desktop and mobile resolutions. PR coming up!

[2016-06-22 09:27] souravbadami commented on #2148
@bbriggs -- Sure! The relevant code can be found at
/core/templates/dev/head/exploration_editor/main_tab/exploration_graph.html
.
On 22 Jun 2016 04:10, "Bren Briggs" <notifications@github.com> wrote:

[2016-06-22 10:39] amgowano commented on #1998
@BenHenning: Sorry for the delay, I will address your comments.

[2016-06-22 14:50] anthkris commented on #1801
Wanted to give another update on this. I was able to finally get most of the share links working on the dashboard page, while not interrupting the editor publish modal. Edited the sharinglinks directive, the directive html, and dashboard.py (had to create a new default twitter share message for the dashboard). But I'm still running up against an issue where the embed modal won't show on the dashbo

[2016-06-22 16:39] maitbayev opened #2154 "Performance test dependency library Xvfb doesn't get installed in most operating systems"
We use XvfbWrapper library for performance testing which depends on Xvfb library. Currently, we install Xvfb library only on Vagrant. It means that by running on mac os x or other non-vagrant platforms:

`bash scripts/run_performance_tests.sh`

We will get: EnvironmentError: Can not find Xvfb. Please install it and try again.

[2016-06-22 16:39] maitbayev commented on #2154
\cc @BenHenning @gvishal

[2016-06-22 17:22] seanlip commented on #1801
Probably need to {% include %} the modal html template file at the bottom
of dashboard.html; that should make it accessible. (The reason it shows up
on the other pages is because it's included in e.g.
exploration_editor.html.)

On Wednesday, June 22, 2016, Kristin Anthony <notifications@github.com>
wrote:

[2016-06-22 21:52] 526avijitgupta opened #2156 "Unable to run frontend/backend/e2e tests due to browsermob-proxy installation failure"
@gvishal @maitbayev @BenHenning  I’m unable to push my code without using `—no-verify` flag since the tests fail to run due to some browsermob-proxy installation issues.

Operation System: MacOSX V10.11.4

Link to the error output: https://gist.github.com/526avijitgupta/2b6d86aa7f6c16877231063e34a03c1b

[2016-06-23 01:55] bbriggs commented on #2154
Will assign a bug severity once I triage it.

[2016-06-23 03:05] anthkris commented on #1801
Awesome, thanks! Of course it was something super small. (I was up till 1am looking at it) So, it's all styled and ready for review. Should I make a PR now, or should I try and implement the randomized congrats message first?

<img width="1180" alt="screen shot 2016-06-22 at 10 03 21 pm" src="https://cloud.githubusercontent.com/assets/10858542/16290726/5eab0c7c-38c5-11e6-8f50-892b2810249e.png">
<i

[2016-06-23 03:40] markhalpin commented on #1801
@anthkris that's very cool! Could I suggest maybe making the "Awesome!" a few points bigger, just so that it has a little more weight relative to the "Close" text? You can shrink Otter a little to accommodate that if needed; the balance between the image and the text will still be good if the text is a little bigger. But otherwise I think that looks great.

[2016-06-23 03:45] anthkris commented on #1801
@markhalpin Good suggestion! Will do.

[2016-06-23 04:32] seanlip commented on #1801
Hi @anthkris -- re your question about sending in the PR now or later,
either is fine! Your call. Let's just try to get something in by this
weekend at latest.

Thanks!

On Wednesday, June 22, 2016, Kristin Anthony <notifications@github.com>
wrote:

[2016-06-23 06:18] joshuacano commented on #2113
This seems to be on account of the media screen size css rules, added a css rule for non-terminal, non-narrow, smaller media screen incidents. Note this does throw off the fluidity of the movement between moving between smaller and larger media screen in some cases. Let me know if there is a better way to do this.

[2016-06-23 07:19] sbhowmik89 commented on #1160
I looked into this, and traced it down to this. https://github.com/oppia/oppia/blob/develop/core/controllers/base.py#L417

We are rendering HTML instead of json when there's an exception but no payload(all GET requests with exceptions).

@seanlip Can you please provide some context on why we are doing it this way ? I want to make sure I don't break anything if I change this.

[2016-06-23 07:43] charisseysabel commented on #1801
Question -- why is there a gap between the 'created' and 'status' section on the 'my exploration' screenshot? Maybe if it can be removed the lack of padding at the bottom wouldn't be so obvious?

[2016-06-23 12:37] 526avijitgupta commented on #1898
@seanlip After merging #2151 , this part of the dashboard has a complete revamp. I've tested that adding an exploration with a title of around 50 chars (the max limit is 50, right ?) does not break the UI. Also, an exploration's objective is not displayed in the new design. Therefore, should this be closed now ?

[2016-06-23 14:31] seanlip commented on #1898
Yes, I think it's probably fine to close. Thanks!

On Thursday, June 23, 2016, Avijit Gupta <notifications@github.com> wrote:

[2016-06-23 14:34] seanlip commented on #1160
I think it's just an artifact of a hack in the early days of the codebase
before we learnt how to use webapp2 properly. There's no particular reason
to preserve the old behavior: JSON get requests should really always return
dicts and not HTML pages.

On Thursday, June 23, 2016, Shantanu Bhowmik <notifications@github.com>
wrote:

[2016-06-23 15:05] #2091 closed

[2016-06-23 15:19] raju249 commented on #2017
@seanlip Can I try this one?
/cc @wxyxinyu

[2016-06-23 17:05] wxyxinyu commented on #2017
Sure :)

[2016-06-23 17:26] #1898 closed

[2016-06-23 19:30] 526avijitgupta opened #2160 "Add tests involving deleting explorations for creator dashboard."
While working on the MVP for creator dashboard ( #1366 ), the backend part of the project had been tested and merged. But it was later discovered that if the dashboard's data contained even a single deleted exploration (exploration_summaries contained a `None` value), then a fatal error was thrown on the backend ( fixed in #2155 ). This should not have gone into production. And we definitely need

[2016-06-23 20:07] bbriggs commented on #2160
@526avijitgupta, please add a TODO tag

[2016-06-24 02:11] anthkris commented on #1801
PR on it's way. @charisseysabel It's there to leave space for the feedback message. I can look at removing it, but I think I'll have to refactor the html a bit.

[2016-06-24 05:57] #2097 closed

[2016-06-24 10:09] souravbadami commented on #2130
Several places have been affected by the similar thing.
- Profile
- Preferences
- Terms

[2016-06-24 10:20] souravbadami opened #2162 "Heading of collapsible block gets blurred in the editor."
![screenshot from 2016-06-24 15 45 25](https://cloud.githubusercontent.com/assets/11073943/16335169/d86c1958-3a22-11e6-8f21-33ed4ef32cf3.png)
**How To Reproduce:**
- Create a new exploration.
- Select **Insert collapsible block** from the editor.

**Observed Behavior:**
Heading of collapsible block get's blurred in the editor.

[2016-06-24 10:36] souravbadami opened #2163 ""Error communicating with server" prompt appears while scrolling down on explorations of a category."
![screenshot from 2016-06-24 16 02 32](https://cloud.githubusercontent.com/assets/11073943/16335595/209c18ac-3a25-11e6-844c-86669f6e53e7.png)

**How To Reproduce:**
- Visit https://www.oppia.org
- Click on any category name (example: Mathematics & Statistics) and scroll down.

**Observed Behavior:**
"Error communicating with server" prompt appears while scrolling down on explorations of a category

[2016-06-24 10:45] souravbadami opened #2164 "Summary cards in carousel appears tuncated while displaying collection cards."
![screenshot from 2016-06-24 16 10 31](https://cloud.githubusercontent.com/assets/11073943/16335801/53f3d2c0-3a26-11e6-953a-1dd34a0f2cd1.png)
![screenshot from 2016-06-24 16 10 26](https://cloud.githubusercontent.com/assets/11073943/16335804/5852fb48-3a26-11e6-852a-f3d17acd0a1f.png)

**How To Reproduce:**
- Visit https://www.oppia.org/library
- Scroll down to a carousel with collection cards.

**O

[2016-06-24 13:42] #2089 closed

[2016-06-24 14:05] seanlip commented on #2160
@526avijitgupta, do you think you could spec out more clearly what tests are needed? This would help a contributor get started with this issue.

Thanks!

[2016-06-24 18:41] KatFrog commented on #2107
Okay, so I have the changes to make fallbacks appear by default in the exploration editor and I removed Fallbacks from Advanced Features on the settings page.

But I'm not certain as to what is meant by "complex" interaction.  Should this be every interaction other than "Continue" or "Return to Library"? What if a creator specifies a new card for each possible answer already?

[2016-06-24 18:47] #2047 closed

[2016-06-25 00:54] #1857 closed

[2016-06-25 04:39] seanlip commented on #2107
That's a good question.

I would say: let's call an interaction complex if it's something that's not Continue, EndExploration or MultipleChoiceInput. Such interactions would admit, in principle, an infinite number of possible answers, therefore necessitating fallbacks. (Well, to be fair, ItemSelectionInput has a finite number of possibilities, but it's usually large enough that we probably still w

[2016-06-25 06:35] seanlip commented on #2092
Hi @anggorodewanto, thanks for the replication steps! I've assigned you to this; would that be OK? I think the first step is to figure out why the translations aren't interpolating correctly; it might be symptomatic of a bigger bug somewhere.

Thanks!

[2016-06-25 06:37] seanlip commented on #1858
Hi @edallison, just checking, how is this going? (Also, please let me know if it's out of your comfort zone, and I'd be happy to find a smaller frontend project if you'd prefer!)

[2016-06-25 06:47] seanlip commented on #2130
@epochus, would you like to take a look at this one?

[2016-06-25 07:19] #2117 closed

[2016-06-25 07:39] seanlip commented on #2094
Hi @dsiddarth -- how's this going?

[2016-06-25 07:41] 526avijitgupta commented on #2160
Generally speaking - there should be which involve deleting explorations and testing that nothing has broken in the dashboard.
Specifically, https://github.com/oppia/oppia/blob/develop/core/controllers/dashboard_test.py should contain tests which utilize delete_exploration method in https://github.com/oppia/oppia/blob/develop/core/domain/exp_services.py .

@wxyxinyu Anything you would like to add

[2016-06-25 11:21] anggorodewanto commented on #2092
Okay let me try

[2016-06-25 16:57] #2138 closed

[2016-06-25 18:10] gvishal opened #2168 "Multiple performance tests fail on Travis."
When we run both the splash_test and library_test on travis, they fail.
Probable reasons:
1. xvfb failed to start. (let go of xvfb wrapper and directly use its binary)
2. browsermob-proxy tries to start another instance on the same port.

Here's the log: https://gist.github.com/gvishal/292f07077e4606cb7a872190e15accad.

[2016-06-26 17:37] souravbadami opened #2174 "Tweak VIEW ALL option for top rated, recently published and featured explorations."
Currently, **VIEW ALL** link for top rated, recently published and featured explorations shows all the explorations in the database without any concerned order. It will be better if we display the explorations in an order or remove the view all option from these categories.

[2016-06-26 19:19] seanlip commented on #2030
NB: @souravbadami will submit first draft of design doc by June 28.

[2016-06-27 06:22] Yeeons commented on #2044
@seanlip Sorry my coding environment at home has had a bunch of troubles etc. I'm aiming to look at it this week.

[2016-06-27 08:57] anggorodewanto commented on #2092
When looking at the page source, I found that the placeholder texts are actually being translated just fine every time I change the language. However, somehow the display doesn't get updated.
Can anyone give any hints to solve this?

[2016-06-27 10:04] souravbadami opened #2176 "Add a minimum length parameter to the goal of an exploration."
Currently the **Goal** of an exploration doesn't have any limits on the length which results in a situation shown below.

![screenshot from 2016-06-27 15 26 43](https://cloud.githubusercontent.com/assets/11073943/16376093/41b58128-3c7c-11e6-9eb1-d697306b8337.png)

It will be better to add a minimum length parameter to the goal so that the description looks useful.

[2016-06-27 19:27] ashishpahwa7 commented on #1782
hey @MAKOSCAFEE  , It turned out that I was working on the older version of develop . Please verify if the issue continue to persist in the latest version .

PS : It still works fine with the latest version in my case ( Not sure if its dependent on desktop screen size?)

[2016-06-27 21:35] seanlip commented on #2092
You know, both of these are select2 dropdowns. Maybe the update just isn't registering correctly.

Notice that there's an ng-if guard around each of the select2 dropdowns. What happens if you add another condition here so that it's false immediately after the language has changed, and then becomes true again after a short timeout? This will remove the dropdown from the DOM and then reinsert it.

[2016-06-27 22:07] seanlip commented on #2164
@kevinlee12, do you think you could help address this please? I'd prioritize it above the additional fields in the collection editor; it looks quite bad.

Thanks!

[2016-06-27 22:12] seanlip commented on #2109
This will be fixed by #2175 in the next release.

[2016-06-27 22:13] seanlip commented on #2013
@BojOnTheBeat, how is this going? It's a major bug, so we'd like to get it out before the release this weekend if possible...

[2016-06-27 22:13] seanlip commented on #1897
Ping!

[2016-06-27 22:54] TruongKim commented on #1740
Hi @seanlip, what should i do next?

[2016-06-27 22:55] seanlip commented on #1863
Deassigning @tcyrus, per our conversation.

[2016-06-27 23:00] seanlip opened #2178 "Add German translation for Oppia."
Instructions: https://github.com/oppia/oppia/wiki/Adding-new-translations-for-i18n

[2016-06-27 23:00] seanlip opened #2179 "Add Vietnamese translation for Oppia."
Instructions: https://github.com/oppia/oppia/wiki/Adding-new-translations-for-i18n

[2016-06-27 23:01] seanlip commented on #1740
Hi @TruongKim, how about #2179? I've just assigned you.

Thanks!

[2016-06-27 23:02] seanlip commented on #2108
@tcyrus -- want to take this one?

[2016-06-28 02:49] seanlip commented on #2003
Apparently this is fixed in chromedriver v2.22:

     https://bugs.chromium.org/p/chromedriver/issues/detail?id=1224

Note that the version of protractor we currently use (3.3.0) appears to make use of chromedriver v2.21. The solution might therefore just be to update protractor.

[2016-06-28 02:57] BojOnTheBeat commented on #2013
It'll be done by Wednesday at the latest @seanlip

[2016-06-28 02:58] seanlip commented on #2013
OK, thanks @BojOnTheBeat! (Make sure to allow some time for review.)

[2016-06-28 03:56] #1740 closed

[2016-06-28 04:35] BenHenning commented on #2154
The tests work on Travis. Needs to have more investigation.

Vishal, can you make sure this works on Mac OS X, some flavors of Linux (e.g. Ubuntu), and Vagrant?

[2016-06-28 04:38] seanlip commented on #2154
FYI, I just ran the same command on Ubuntu:

     bash scripts/run_performance_tests.sh

and got the following error:

     EnvironmentError: Can not find Xvfb. Please install it and try again.

[2016-06-28 05:26] seanlip commented on #1855
Per conversation with @sdulal, de-assigning for now.

[2016-06-28 05:37] #1801 closed

[2016-06-28 05:39] seanlip opened #2181 "Add share links to the creator dashboard."
@anthkris made a great suggestion that we should add share icons to the creator dashboard. Here's a mock she drew up for how these would have looked in the old version of the dashboard:

![dashboard](https://cloud.githubusercontent.com/assets/10858542/16065923/82e9668a-3274-11e6-893e-b42113a60a34.png)

It would be nice to have these in the new version! Assigning to @526avijitgupta, and /cc-ing @wx

[2016-06-28 05:41] seanlip commented on #1801
NB: re-filed creator dashboard aspect of this thread in #2181.

[2016-06-28 05:46] mit0110 commented on #2092
Hi @anggorodewanto! I tried to fix this and nothing seems to work (changing parameters, moving the select in the DOM). As you say, the placeholder is translated, but the translation is not showing.

Have you tried Sean's suggestion?

[2016-06-28 05:48] anggorodewanto commented on #2092
I am trying to implement Sean's suggestion now. I'll keep you guys updated.

[2016-06-28 06:18] anggorodewanto commented on #2092
It works! It seems that reloading the DOM fixes both i18n key and translation not showing.
I think this should be kept in mind whenever implementing select2 combined with i18n.

[2016-06-28 07:54] gvishal opened #2185 "Implement performance tests for the collection editor"
Implement performance tests for the collection editor once it's no longer guarded by an access list.

\cc @BenHenning @maitbayev

[2016-06-28 08:11] seanlip commented on #2176
/cc @anthkris

[2016-06-28 08:32] seanlip commented on #2095
Ping?

[2016-06-28 08:35] seanlip commented on #2050
Fixed by #2136. Thanks @mit0110!

[2016-06-28 08:35] #2050 closed

[2016-06-28 08:36] seanlip commented on #1970
Hi @szangaro, any news on this?

[2016-06-28 08:36] seanlip commented on #1964
Hi @p4rsec, any progress?

[2016-06-28 08:38] seanlip commented on #1800
Hi @anggorodewanto, I think this might be a nice next project. Want to try it?

[2016-06-28 08:41] anggorodewanto commented on #1800
Okay, let me try it.

[2016-06-28 10:17] souravbadami commented on #1782
@ashishpahwa7 -- Yes, the problem is still there in the latest version of develop. Can you please attach a screen shot of how it looks for you and also mention the environment you're on, i.e., os and browser.

[2016-06-28 14:31] ashishpahwa7 commented on #1782
![screenshot from 2016-06-28 19 47 33](https://cloud.githubusercontent.com/assets/13049716/16419013/ccd8aff8-3d69-11e6-9fac-76ce1f6f6cc3.png)

That's how it always looked in my case .

**Environment** :

O/S: Ubuntu 14.04.1 LTS
Browser : Google Chrome , Version 48.0.2564.116 (64-bit)

[2016-06-28 16:57] szangaro commented on #1970
Hi @seanlip sorry got sidetracked by work the last couple of weeks (prod release), will resume this tonight.

[2016-06-28 21:49] 526avijitgupta opened #2188 "Make creator dashboard UI view to be responsive"
Currently, the creator dashboard's view has been coded keeping only the desktop version in mind. It should be of high priority that it is made mobile compatible as well.

Posting screenshots of dashboard at different screen widths:
* >= 901px - Everything looks fine

<img width="965" alt="screenshot 2016-06-29 03 09 17" src="https://cloud.githubusercontent.com/assets/7583815/16433261/f3d78d30-3da6

[2016-06-29 00:20] edallison commented on #1858
Sorry I haven't had a chance yet.  I'm hoping this week I will have time.  As for the issue I'm comfortable with it but I understand if someone else should be assigned to get it taken care of.

[2016-06-29 01:17] anthkris commented on #1863
@seanlip So the multiple choice interaction still has the default answer show up, it just suppresses warnings when the other answers have been appropriately taken care of. Is that the intended outcome here, as well?

[2016-06-29 01:32] seanlip commented on #1863
I think that would be fine. @KatFrog, would you agree?

[2016-06-29 03:56] BenHenning commented on #2185
Thanks for filing this, @gvishal!

[2016-06-29 03:58] BenHenning commented on #2185
This work involves copying the existing editor performance test from under core/tests/performance_tests, updating ``test_config.py`` to include the necessary information for the collection editor page, and updating the new test to use the new collection editor key in ``test_config``.

@gvishal can you post what times and sizes you expect?

Thanks.

[2016-06-29 05:22] seanlip opened #2189 "Use the exploration diff service for computing all diffs (including "lost changes"), and improve its UX."
This supersedes #2040. Milestones:
- [ ] Make the "lost changes" functionality (due to someone else saving a newer version of the exploration) use the ExplorationDiffService.
- [ ] Add exploration properties to the exploration diff visualization.
- [ ] Add tests for ExplorationDiffService.
- [ ] Improve the UI of the exploration diff visualization.

[2016-06-29 05:23] seanlip commented on #2040
Closing -- superseded by #2189.

[2016-06-29 05:23] #2040 closed

[2016-06-29 05:24] seanlip commented on #2109
Now fixed. Thanks @wxyxinyu!

[2016-06-29 05:24] #2109 closed

[2016-06-29 05:35] #2092 closed

[2016-06-29 05:56] wxyxinyu commented on #2160
Actually, on reading the code and all again, I think the correct solution is actually to use summary_services.get_displayable_exp_summary_dicts_matching_ids instead of summary_services.get_displayable_exp_summary_dicts, because the first function actually does filtering.

I agree with adding unit tests. Besides the dashboard, other functions which call get_displayable_exp_summary_dicts should also

[2016-06-29 07:11] raju249 commented on #2017
@wxyxinyu I am on this issue from today.
I was actually away for some days :sweat_smile: Just wrote to inform you :smile:
Thanks!

[2016-06-29 17:14] satwikkansal opened #2193 "GAE failed downloads don't log helpful errors"
Currently on my machine, running `bash scripts/start.sh` from the `oppia` directory exits abruptly with the following error
![screenshot from 2016-06-29 22-37-10](https://cloud.githubusercontent.com/assets/10217535/16461559/bc6aa63a-3e4a-11e6-82d3-b7917337a46a.png)

It gives no clue of what's wrong with the setup process.

OS : Ubuntu 16.04

[2016-06-29 18:49] seanlip commented on #2193
Hi Satwik,

In some other directory, can you try running:

[code]

and letting us know what happens? Thanks!

[2016-06-29 20:46] BojOnTheBeat commented on #2013
The banner image only seems to center properly (for all screen sizes <= 420px) if I set the width to 'initial' in this piece of css. Is that fine or would you rather I just use an actual number bigger than 208 for the max width?
`@media (max-width: 420px) {
  .oppia-exp-summary-tiles-container {
    width: 208px;
  }
}`

![screen shot 2016-06-29 at 4 44 53 pm](https://cloud.githubusercontent.com/a

[2016-06-29 22:20] seanlip commented on #1085
Now obsolete due to autosaving and Xinyu's fixes in #2175. Thanks @526avijitgupta and @wxyxinyu!

[2016-06-29 22:20] #1085 closed

[2016-06-30 00:15] BenHenning opened #2195 "Refreshing the admin page should keep it at the same location"
While in the admin page, if you go to a particular tab (like jobs) and refresh the page, it starts back in the main page despite still having the ``#jobs`` anchor in the URL. When refreshing the page with the ``#jobs`` anchor, the admin page should start in the jobs tab.

[2016-06-30 00:17] BenHenning opened #2196 "The admin page jobs list needs alternating colors to avoid mis-clicking the start job button"
The current admin page jobs tab enumerates the jobs in a table. Each row of this table should have an alternating color with the adjacent rows to make it easier to click the 'start' button. It's hard to trace the job name to its start button. Misclicking a job button can be disastrous.

[2016-06-30 00:18] BenHenning opened #2197 "When clicking 'view output' for a job in the admin panel, the page should auto-scroll to the displayed output"
When clicking on 'show output' for a completed job in the jobs tab of the admin panel, the page should automatically scroll to the displayed output.

[2016-06-30 02:58] BenHenning opened #2198 "ClassifyMatches constant should be renamed back to FuzzyMatches"
The ClassifyMatches constant introduced in https://github.com/oppia/oppia/blob/develop/core/domain/exp_domain.py#L88 should be renamed back to 'FuzzyMatches', to avoid an unnecessary and significant bloat of the answer storage model.

[2016-06-30 02:59] BenHenning commented on #2198
/cc @seanlip @wxyxinyu

[2016-06-30 04:05] anthkris commented on #1863
PR on it's way!

[2016-06-30 07:19] seanlip opened #2202 "Find a general way to automatically truncate titles which are too long, based on their width."
We have several places -- such as the title of an exploration in the navbar, or the title of an exploration in a library tile, etc. -- where things don't always look good on small screens because the title is too long and drops off to the next line. Generally, we try to handle this by applying a `|truncate` filter based on the number of characters. However, this is a hacky solution, and does not c

[2016-06-30 07:20] arun1595 commented on #1236
I would like to take this issue. @amitdeutsch Yeah, there's a way to validate youtube video. We can send a GET request and in the response if we get 200 status code, its indeed a valid URL.

@sfederwisch Pulling the stuff at the end of the URL isn't a big deal. Because if are given a URL, we are going to look for `v=` and then we are going to capture the next 11 characters. Something like this wou

[2016-06-30 07:59] 526avijitgupta commented on #2202
@seanlip A couple of points:
-  `text-overflow: ellipsis` is supported in all major browsers (I remember using it in Chrome, Firefox) - see http://caniuse.com/#feat=text-overflow . [The MDN link mentions that the 2 value and string-value syntax is not supported in chrome or safari. Basic support for this has been available since a very long time!]
- It works only under a certain conditions: (1) el

[2016-06-30 09:37] satwikkansal commented on #2193
@seanlip It failed initially due to some certificates error but then I stackoverflowed and found [this](http://stackoverflow.com/questions/3160909/how-do-i-deal-with-certificates-using-curl-while-trying-to-access-an-https-url) . It sort of fixed the problem. Here's the screenshot
![screenshot from 2016-06-30 13-12-18](https://cloud.githubusercontent.com/assets/10217535/16483854/d80e31b6-3ed3-11e6-

[2016-06-30 09:43] seanlip commented on #2193
Thanks for investigating!

It looks like you're trying to access a specific URL, but that's giving you a 403. Try accessing it manually -- trace through manifest.json and/or scripts/install_third_party.py to see what's going on, and maybe add logging info to tell you which URL is failing. This should help debug the issue (I can't do this now, unfortunately, I need to go to bed :) )

[2016-06-30 09:52] seanlip commented on #1858
Ah ok, thanks @edallison! I'd say, if you're comfortable with it, then yep, please go ahead and carry on working on it, though please let us know if there's a prolonged period in which you aren't making any progress, so that we can help!

[2016-06-30 14:19] gvishal opened #2203 "Add run individual test functionality to run_performance_tests.sh"
Currently, we execute performance_tests using the backend_test runner using:
`$PYTHON_CMD scripts/backend_tests.py --test_path='core/tests/performance_tests' $@ `

This unfortunately prevents us from running tests for an individual page by specifying command line arguments. Thus, add functionality to run a single test using command line arguments.

[2016-06-30 15:02] gvishal commented on #2203
To be fixed as part of #2167.

[2016-06-30 18:42] satwikkansal commented on #2193
@seanlip may be I've kind of figured out the issue but don't know how to solve it. The issue is with `jquery-ui-themes` library. When I was going through `install_third_party.py`, there was a special code of libraries like `jquery-ui-themes` that require user agent. I modified the code to print out the error page as well as the source url. The source url was working fine in my browser. But the err

[2016-06-30 18:49] seanlip commented on #2193
Hm, interesting. Can you download it manually and unzip into third_party/static/jquery-ui-themes-1.10.3 for now? (As a sanity check, that folder on my machine contains a 'themes' folder, and four other files: AUTHORS, MANIFEST, MIT-LICENSE.txt and package.json.) Basically, I'm not sure if this issue is due to your machine or a general problem, so I suggest making this local fix, and then we can in

[2016-06-30 20:32] #2154 closed

[2016-06-30 21:45] #2164 closed

[2016-07-01 07:18] #2198 closed

[2016-07-01 18:13] #2203 closed

[2016-07-01 18:14] gvishal commented on #1907
@seanlip @BenHenning Should I remove myself, so that someone else could work on this?

[2016-07-01 18:14] gvishal commented on #1917
@seanlip @BenHenning Should I remove myself, so that someone else could work on this?

[2016-07-01 21:36] seanlip commented on #1917
Yes, agreed. Removed!

[2016-07-01 21:36] seanlip commented on #1907
Actually, @gvishal, I think this one is still yours, but nearer the end when we start doing deep-dives into the speed of the various pages.

[2016-07-02 07:08] gvishal commented on #1907
Okay!

[2016-07-02 13:46] jacobdavis11 commented on #1236
I would prefer not to use GET requests to YouTube to check if a given url belongs to a video that actually exists. The validity checking in the front-end and back-end should match, and it's not feasible for the back-end to send out GET requests. Also whether or not an exploration is valid should be something stable that is not dependent on whether YouTube takes down a video.

I don't think there s

[2016-07-02 18:14] gvishal opened #2206 "Serving oppia.css"
/css is served from "static_dir: core/templates/dev/head/css" in dev. For prod, we need to serve it from "static_dir: core/templates/prod/head/css", which doesn't happen right now.

`header_css_libs.html` has some logic which inserts 'third_party' file corresponding to dev/prod. But, `oppia.css` is always served from `core/templates/dev/head/css` and it is not minified.

/cc @seanlip

[2016-07-02 19:42] gvishal opened #2207 "CRLF would be replaced by LF"
Found this error (40+ similar errors) in the images directory:

`CRLF would be replaced by LF in static/dev/images/library/banner2.svg`

Instructions to reproduce:
1. Copy and paste the images folder somewhere else.
2. Stage the newly moved files for a commit.
3. The above error will be shown.

[2016-07-02 19:43] seanlip commented on #2207
Can you give repro instructions for how to get this error? Thanks!

[2016-07-03 03:52] epochus commented on #2130
This issue seems to be fixed now.

[2016-07-03 04:33] seanlip commented on #2130
Oh, in develop? Weird -- I don't remember anything changing on these pages, but sometimes these bugs have fixed themselves in the past...

@souravbadami, can you confirm that this is fixed? If so, we can close this issue. Thanks!

[2016-07-03 04:56] seanlip commented on #2196
Hi @epochus, would you be up for taking this one?

[2016-07-03 04:57] seanlip commented on #2193
Hi @satwikkansal -- just checking, did it work? Thanks!

[2016-07-03 05:07] satwikkansal commented on #2193
@seanlip Yeah it worked. Thanks!

[2016-07-03 05:23] satwikkansal commented on #2193
Also I had to remove it from `manifest.json` so as the script `start.sh` doesn't fail again and again.

[2016-07-03 05:40] seanlip commented on #2193
Hm, that's weird, actually -- the third-party installation script should not download anything if the directory already exists. Sure you put the files in the correct place?

[2016-07-03 05:41] #2144 closed

[2016-07-03 05:49] satwikkansal commented on #2193
Ah.. You're right... It is ignoring already downloaded libraries :) I didn't correctly renamed the folder.

[2016-07-03 08:19] souravbadami commented on #2130
@seanlip -- It's fixed. I'm closing it.

[2016-07-03 08:19] #2130 closed

[2016-07-03 19:23] tcyrus commented on #2108
[code]

[2016-07-03 19:32] seanlip commented on #2108
That does look like it might solve it! Want to make a PR? (I think the right place to put it is oppia.css, along with the other third-party overwrites at the top, if we want this to apply globally.)

[2016-07-03 21:38] #461 closed

[2016-07-03 21:41] seanlip opened #2211 "Send emails to creators if suggestions are made on their explorations."
Thanks to @prasanna08, we currently have functionality to send emails to exploration creators when they receive feedback on their explorations, but currently nothing is sent when a learner makes a suggestion for an edit to an exploration. We should send such emails, otherwise the suggestion is likely to never be acted upon.

[2016-07-03 21:42] seanlip commented on #2211
Hi @prasanna08 -- I filed this as a follow-up to the PR. Would you be up for hooking this into the existing email system?

[2016-07-03 22:17] #2013 closed

[2016-07-03 22:27] #2108 closed

[2016-07-03 23:12] seanlip commented on #2113
Fixed in #2158. Thanks @joshuacano!

[2016-07-03 23:12] #2113 closed

[2016-07-03 23:54] #2181 closed

[2016-07-04 01:37] #1795 closed

[2016-07-04 17:58] souravbadami opened #2217 "Clicking on any of the share links opens the exploration editor."
**How To Reproduce:**
- Create an exploration and publish it.
- Navigate to creator dashboard and switch to tile layout.
- Click on any of the sharing links.

**Observed Behavior:**
When any of the sharing links is clicked on the exploration summary card on creator dashboard, the exploration editor opens up.

[2016-07-05 01:40] seanlip commented on #2217
Fixed by @wxyxinyu in #2219. Thanks @souravbadami!

[2016-07-05 01:40] #2217 closed

[2016-07-05 01:40] seanlip commented on #2217
Also, /cc @526avijitgupta

[2016-07-05 02:47] #2017 closed

[2016-07-05 03:48] raju249 commented on #2094
@seanlip
Is the assignee working😅?
Cause I finished working on #2017 and free for now.

[2016-07-05 05:47] wxyxinyu commented on #2094
Hi @dsiddarth, are you still working on this?

[2016-07-05 06:06] 526avijitgupta commented on #2217
Thanks for fixing this @wxyxinyu !

[2016-07-05 06:22] wxyxinyu commented on #2193
It seems this is fixed. Feel free to ask on gitter chat if there are further issues with setup.

[2016-07-05 06:22] #2193 closed

[2016-07-05 06:26] wxyxinyu commented on #2174
Discussed in TL meeting:
1. The featured explorations carousel should not have a 'view all' button.
2. For top rated and recently published, we should enable search results to be sorted in some particular order (by rating and by last update), and show the search results in this order.

1 is higher priority than 2, so I'm going to file separate issues to keep track of them.

[2016-07-05 06:26] #2174 closed

[2016-07-05 07:19] raju249 commented on #2094
@wxyxinyu
I think he's not active any more. PTAL at his account.
/cc @seanlip

[2016-07-05 08:16] wxyxinyu opened #2221 "Add translations to creator dashboard"
In the list view of the creator dashboard, the text is not currently translated. These should be converted to i18n divs with translations. Also, the "Last Updated" translation for Portuguese on the card view tooltip is missing.

[2016-07-05 08:19] wxyxinyu opened #2222 "Fix dashboard card view alignment"
![image](https://cloud.githubusercontent.com/assets/5061134/16578262/6a89b1f0-424e-11e6-9c20-b295408c0ee2.png)

The width of the tiles should add up to the width of the top bar.

[2016-07-05 08:29] wxyxinyu commented on #2174
FYI, for 1, there is already discussion in #1839

[2016-07-05 08:32] wxyxinyu opened #2223 "Create pages for top-rated and recently-updated explorations"
As per discussion in #2174, search should be able to return results sorted in some pre-determined order. For example, clicking on the "View All" button of the Recent Explorations carousel should return all explorations sorted by last updated, and similarly Top-Rated should sort explorations by rating.

[2016-07-05 08:46] wxyxinyu opened #2224 "Remove "View All" button and link for featured explorations carousel in library page"
This is a follow on to the discussion in #1839.

Currently, in the library page, the featured explorations category has a "View All" button. Clicking on that button or on "Featured Explorations" will take the user to a url: `/search/find?q=` which will then show all the explorations in the gallery. Instead, the "View All" button should not appear for the featured category, and the link should also

[2016-07-05 08:51] wxyxinyu opened #2225 "Make library carousel title links more obvious and remove "View All" button"
This is a follow on to the discussion in #1839.

As mentioned in https://github.com/oppia/oppia/issues/1839#issuecomment-222596560, the library carousel titles should change in appearance when the user mouses over the carousel, to indicate that they are clickable. They should change in color and an arrow should appear next to the title. When the user mouses over the title, it should become underli

[2016-07-05 08:52] wxyxinyu commented on #1839
I've filed follow on issues for this, so I'm closing this issue.

[2016-07-05 08:52] #1839 closed

[2016-07-05 15:23] dsiddarth commented on #2094
having a really hard time juggling work and learning, would love to hand this over for now! @raju249 /cc @seanlip

really sorry about this!!

[2016-07-05 17:24] wxyxinyu commented on #2094
@raju249 -- assigned you the issue.

[2016-07-05 18:08] raju249 commented on #2094
On it @wxyxinyu
Thanks!

[2016-07-06 02:38] seanlip commented on #2196
Assigning @MinhHuong.

@MinhHuong -- FYI, the relevant file to look at is core/templates/dev/head/admin/admin.html. It's probably a minor styling issue. Thanks!

[2016-07-06 04:23] p4rsec commented on #1964
Apologies, @seanlip. I've been on vacation since Friday, July 1st. I'll do some work on this tomorrow and see if it looks like something I can get solved fairly quickly

[2016-07-06 04:24] p4rsec commented on #1982
@seanlip I actually keep meaning to ask @bbriggs about what to do here and it keeps slipping my mind. I'll talk to him and see what he thinks I should do.

[2016-07-06 07:13] gvishal opened #2227 "Combine performance tests."
We have separate page tests for testing size, page load time for both cached and uncached session. Each of these tests (currently 4) have `setUp()` called before them, which takes a good amount of time to get the environment required for a test ready. Instead, we should combine the tests together. This would reduce redundancy and the total time taken for the tests to run.

/cc @seanlip @BenHenning

[2016-07-06 08:25] wxyxinyu commented on #2042
Hi @dpaparis -- how is this going?

[2016-07-06 08:25] #2023 closed

[2016-07-06 08:29] wxyxinyu commented on #1970
Hi @szangaro -- how is this going? Feel free to ask if you've encountered any problems!

[2016-07-06 08:33] seanlip opened #2228 "Update homepage screenshot on README.md"
The screenshot of the Oppia homepage on README.md is quite out of date.

It would probably be good to update it to one that nicely shows off the current version of Oppia (maybe with the library page?).

[2016-07-06 08:34] seanlip opened #2229 "Add a test to ensure that all i18n keys have an entry in qqq.json"
We should add a backend test in core/controllers/base_test.py, in the I18nDictsTest suite at the bottom, in order to ensure that the keys in i18n/en.json exactly match those in i18n/qqq.json (and are not just a superset of them). Currently, only the latter is tested.

[2016-07-06 08:35] wxyxinyu commented on #1556
Hi @joshuacano -- would you still be interested in looking into this?

[2016-07-06 08:36] seanlip opened #2230 "Add a backend test to ensure that the keys in the i18n json files are arranged alphabetically."
We should add a backend test to core/controllers/base_test.py, in the I18nDictsTest suite at the bottom of the file, in order to ensure that the keys in each of the i18n json files are arranged alphabetically. Note that this involves actually parsing the file as a text file, and reading it line by line, rather than just feeding its contents into a JSON interpreter.

[2016-07-06 08:37] wxyxinyu commented on #1773
Hey @akashrajkn -- how is this going?

[2016-07-06 08:38] seanlip opened #2231 "Prevent component icons from being clickable more than once in the RTE."
To reproduce:
1. Open the exploration editor page.
2. Open the content RTE, and create a math component (say).
3. Click twice on this component rapidly.

If your computer is slow, two component customization modals will pop up, one over each other. This isn't great, since when the user edits and closes the modal on the top, the bottom one will still be open.

Instead, something should keep track o

[2016-07-06 08:42] seanlip opened #2232 "Do not show unnecessary feconf version change info in the release summary output file."
Running scripts/release_info.py generates a very useful release summary file in the parent directory of oppia/ that contains information needed in order to prepare a release. This is a request for a small fix to that script.

Currently, one of the sections generated is:
[code]

We would prefer not to show that section at all if all the indicated values are False. If one or more of the values are T

[2016-07-06 08:42] seanlip commented on #2232
Hi, @brunnre8 -- if you have a chance, do you think you'd be able to look into this, please? Thanks!

[2016-07-06 08:46] wxyxinyu commented on #2228
Hi @giritheja -- would you like to look into this?

[2016-07-06 08:49] wxyxinyu commented on #2229
Hi @tcyrus, would you be interested in looking into this?

[2016-07-06 08:56] wxyxinyu commented on #1759
Hi @satwikkansal -- would you like to take a look at this?

[2016-07-06 09:32] seanlip opened #2233 "Correctly generate the list of storage model changes in the release details file"
Running scripts/release_info.py generates a useful release summary file in the parent directory of oppia/ that contains information needed in order to prepare a release.

The generated file includes a section called "storage model changes" that list files containing storage models that have changed. This is used to determine whether a migration is needed due to a change in format of the storage mo

[2016-07-06 10:04] satwikkansal commented on #1759
@wxyxinyu Okk

[2016-07-06 15:50] dpaparis commented on #2042
@wxyxinyu: I'm trying to figure out how to test at the moment

[2016-07-06 15:57] dpaparis commented on #2042
@wxyxinyu: can I just start a build using my branch in the travis UI? (

[2016-07-06 17:12] wxyxinyu commented on #2042
I _think_ so, people seem to have done it in the past. I'm not extremely familiar with travis, so it might be best to ask on gitter.

[2016-07-06 18:50] #2197 closed

[2016-07-06 18:50] #2195 closed

[2016-07-06 18:54] joshuacano commented on #1556
Sure thing, I'll give it a shot.

[2016-07-06 20:54] kevinlee12 commented on #1841
Fixed in #2201

[2016-07-06 20:54] #1841 closed

[2016-07-07 04:51] #2094 closed

[2016-07-07 06:12] raju249 commented on #2223
@wxyxinyu
I would like to try this :smile:
Thanks!

[2016-07-07 06:18] wxyxinyu commented on #2223
@raju249 -- This issue is a bit more complicated. Could you give a brief description about how you plan to do this, before we start implementation?

Thanks!

[2016-07-07 10:00] raju249 commented on #2223
I was thinking of sorting the results after receiving at the client side using ```ng-sort```
What you think?

[2016-07-07 11:58] gvishal commented on #1858
Do we already have source-maps? https://github.com/oppia/oppia/blob/develop/gulpfile.js#L171

[2016-07-07 16:56] #2232 closed

[2016-07-07 17:36] wxyxinyu commented on #2223
I think that won't really work with auto-paging. We serve explorations/collections batched to the client to create the infinite scrolling effect, so the sort really needs to happen in the backend. Otherwise, let's say we're trying to sort by recency. Then, we cannot handle the case where we get some explorations from the first "page", and then the second "page" returns explorations that are newer

[2016-07-07 17:51] souravbadami opened #2235 "Error appears randomly while editing exploration."
While editing an exploration on the main site (https://www.oppia.org), a random popup error appears which asks users to refresh the page. This doesn't cause loss of data but is very annoying.

[2016-07-07 21:38] ashishpahwa7 opened #2236 "Navicon appears while switching between pages"
While switching between pages on the main site, a Navicon appears at top left corner of screen . It stays there until the next page completely loads itself and then disappears.

![screenshot from 2016-07-08 02 33 10](https://cloud.githubusercontent.com/assets/13049716/16670248/0607fbd6-44b7-11e6-9148-8236c5f4021d.png)

[2016-07-07 21:54] wxyxinyu commented on #2235
Hi @souravbadami -- would it be possible to give instructions on how to reproduce this?

[2016-07-07 21:58] souravbadami commented on #2235
@wxyxinyu -- This occurs randomly while editing an exploration and saving drafts. I'll try to get the snapshot if it occurs again to me.

[2016-07-08 02:09] wxyxinyu commented on #2042
@dpaparis -- iirc, travis starts a build automatically when you make a PR. You can try making a PR from your feature branch to develop on your fork. If that doesn't work, try making a PR to the main fork.

(I'm not exactly sure if this is the right protocol; anyone reading this please correct me if I'm wrong.)

[2016-07-08 02:11] wxyxinyu commented on #2235
Oh, I think I know what popup you're talking about. We are aware that there are occasionally some issues with exploration validation, which can only be resolved by reloading the page to the last good state of the exploration. We can't fix the particular issue causing the popup in your case unless you're able to provide instructions for reproducing it, unfortunately. In light of this, I'm going to

[2016-07-08 02:11] #2235 closed

[2016-07-08 02:26] dpaparis commented on #2042
question: do the presubmit tests referred to in the docs still exist?
scripts/run_presubmit_checks.sh
or is that now pre_commit_linter?

On Thu, Jul 7, 2016 at 10:09 PM, Xinyu Wu <notifications@github.com> wrote:

[2016-07-08 03:21] raju249 commented on #2223
Ohh !
I didn't know this .
Anyways no problem, I would look for a new issue to work on and at the same time  increase difficulty a bit  so that I learn till the GSOC next year since project may include all the things. 😅
Thanks for helping me out :+1:

[2016-07-08 03:26] raju249 commented on #2162
I would like to work on this! @souravbadami
/cc @seanlip

[2016-07-08 03:39] wxyxinyu commented on #2042
yeah, they exist. Although there should be a hook that runs when you try and push.

[2016-07-08 04:49] wxyxinyu commented on #2162
Thanks @raju249! Assigned you.

[2016-07-08 05:09] raju249 commented on #2162
Thanks @wxyxinyu !

[2016-07-08 12:19] raju249 commented on #2162
@souravbadami
This is the image that is shown as a placeholder. So is there any problem with the image?
/cc @wxyxinyu

[2016-07-08 17:44] souravbadami commented on #2236
Duplicate #1773. Closing.

[2016-07-08 17:44] #2236 closed

[2016-07-09 06:58] wxyxinyu commented on #2162
@AllanYangZhou ping. Is this the intended behavior?

[2016-07-09 07:24] wxyxinyu commented on #2115
Hi @raju249 would you like to take a look at this?

[2016-07-09 07:29] AllanYangZhou commented on #2162
As of right now, yes. There is work ongoing in #1715 to get better previews

[2016-07-09 07:30] raju249 commented on #2115
Yes @wxyxinyu
Assign me
Thanks!

[2016-07-09 07:33] raju249 commented on #2162
I looked at the dev tools and found that it was an image :sweat_smile:

[2016-07-09 07:41] AllanYangZhou commented on #2162
Yup haha! I am closing this as a duplicate of #1810.

[2016-07-09 07:41] #2162 closed

[2016-07-09 07:41] MAKOSCAFEE commented on #1858
@gvishal Ooooh yes we have source-maps in gulpfile but can @edallison  investigate if they work as is supposed to?...

[2016-07-09 07:42] raju249 commented on #2162
Yeah
Thanks !

[2016-07-09 08:50] souravbadami commented on #2162
@raju249 -- Yes, the issue is with the image here /extensions/rich_text_components/Collapsible/CollapsiblePreview.png. But as @AllanYangZhou said, the work is going on at #1715. Thanks!

[2016-07-10 09:15] giritheja commented on #2228
Hey @wxyxinyu & @seanlip . Yep, I can look into this.

[2016-07-10 13:05] raju249 commented on #2115
@wxyxinyu
This problem only arises if the response is a collapsible block. So I think we need to write js to do that to see if it is a collapsible block or some other kind of response.
Or another way might be to use the available width for all type of responses.
What you think?

Also /cc @anmolshkl

[2016-07-10 16:32] wxyxinyu commented on #2115
I think you should use the max width of all elements in the response for all types of responses. I.e. for the example above, the response should be just wide enough to contain "Try again" and "Hi Hi".

That way, it will fix the issue if there's a new type of response that also has this problem of being restrained by the size of the text div.

[2016-07-10 16:55] raju249 commented on #2115
Ohh right !
So we just need to adjust the div width according to content's width  right?
Can you please help me how do I get the content's width 😅?

[2016-07-11 10:54] souravbadami commented on #2228
@giritheja -- Thanks! I've assigned you.

[2016-07-11 11:42] jacobdavis11 opened #2241 "Middle-clicking a row in the dashboard list of explorations should open a new tab"
Currently left-clicking on an exploration in the table at /dashboard opens that exploration in the same window. Middle-clicking does nothing and right-clicking does not bring up the link menu (which would include the option to open in a new window).

I think that opening several explorations at once in new tabs is a common use case from the dashboard, so it would be good to change its rows into re

[2016-07-11 12:36] jacobdavis11 opened #2242 "Between clicking "save draft" / "publish changes" and displaying the save changes modal there is an unnecessary server call."
Create an exploration, make some changes and then click "save draft". If you are on a slow internet connection there will be a delay before the "save draft" modal appears. This is because in `core/templates/dev/head/exploration_editor/ExplorationEditor.js` the `saveChanges()` function makes a call to `explorationData.getLastSavedData()` which calls the server to request the current exploration dat

[2016-07-11 18:56] giritheja commented on #2228
Hey @wxyxinyu & @souravbadami , Where do I upload the image to? Can I use any hosting service?

[2016-07-11 23:03] kevinlee12 opened #2244 "Card results on search page are not properly aligned"
The presence of the collection cards results to a noticeable misalignment in the search page (see screenshot and notice the misalignment in rows 1-3):

![image](https://cloud.githubusercontent.com/assets/5758256/16749634/6f1823be-4780-11e6-9bb9-018888d9ec84.png)

Since collections and exploration containers are employing separate "containers" it would be nice to incorporate those into one or have

[2016-07-12 09:43] souravbadami commented on #2228
I'm not sure of the exact place to store the image, this can be quite useful - http://solutionoptimist.com/2013/12/28/awesome-github-tricks/ -- @wxyxinyu @seanlip

[2016-07-12 15:17] souravbadami commented on #2179
@TruongKim -- Ping.

[2016-07-12 15:20] TruongKim commented on #2179
I just create a pull request.

[2016-07-13 05:38] wxyxinyu commented on #2228
Yep, that does seem to be a good way.

[2016-07-13 14:17] raju249 commented on #2115
@anmolshkl
Is this expected ?
PTAL at the images
![header](https://cloud.githubusercontent.com/assets/8307266/16806545/86cffabe-4932-11e6-8334-d6f87a189a28.png)

And also this!

![header2](https://cloud.githubusercontent.com/assets/8307266/16806558/91d94640-4932-11e6-82c0-4d8784571db9.png)

Also /cc @wxyxinyu

[2016-07-13 17:13] #2176 closed

[2016-07-13 17:34] wxyxinyu commented on #2115
how would these look without the collapsible block?

[2016-07-13 17:36] raju249 commented on #2115
The same way what it used to look before the changes I made.
I have not made the PR yet. Just experimenting
@wxyxinyu

[2016-07-13 17:37] wxyxinyu commented on #2115
could you post a screenshot? I wanted to see a comparison.

[2016-07-13 17:37] wxyxinyu commented on #2115
It looks slightly strange that the second block of text is narrower than the first block

[2016-07-13 17:39] raju249 commented on #2115
Yes I would post a screenshot.
@wxyxinyu Is it fine if I do it tomorrow? :sweat_smile:
I am into some other work right now.

[2016-07-13 17:44] wxyxinyu commented on #2115
sure!

[2016-07-13 18:26] jacobdavis11 commented on #1404
What does this offer that the current protractor tests do not?

[2016-07-13 18:29] giritheja opened #2247 "Image for Readme"
![screenshot-from-2016-07-12-00-](https://cloud.githubusercontent.com/assets/8845039/16814722/b219cac0-4954-11e6-9573-c37557d1b410.png)
This is the image to be uploaded to readme.

[2016-07-13 18:32] jacobdavis11 opened #2248 "Create an e2e test for users giving feedback on explorations"
Create a protractor end-to-end test for the following sequence:
- User 1 creates an exploration.
- User 2 plays the exploration and leaves feedback on it (via the top-right navbar button).
- User 1 reads the feedback and responds to it.
- User 2 reads the response.

@seanlip This is taken from https://docs.google.com/document/d/1wMpkeL7HWJG2-1WJeDEXO8jwEUS3k44GWlo-VgLdzQw/edit

[2016-07-13 18:40] jacobdavis11 opened #2249 "Create e2e tests for the collection of exploration statistics"
Oppia includes a system to collect statistics about users playing through an exploration, and then display these statistics to the exploration owner in the editor statistics tab. We would like to add end-to-end protractor tests for this process.

As a minimum this should include the following sequence of events:
- User 1 creates an exploration.
- User 2 plays through and finishes the exploration,

[2016-07-13 18:40] jacobdavis11 commented on #2249
@seanlip This is taken from here: https://docs.google.com/document/d/1wMpkeL7HWJG2-1WJeDEXO8jwEUS3k44GWlo-VgLdzQw/edit

[2016-07-13 19:58] jacobdavis11 opened #2251 "Create an e2e test for parameters / expressions"
Implement end-to-end protractor tests for the behaviour of parameters / expressions:
- Create a simple demo exploration that makes use of different types of expressions / parameters (there’s at least one existing one that does something like this).
- Load it from the datastore, and verify that all the expressions / parameters get evaluated and displayed correctly.
- Check that parameter values are

[2016-07-13 19:58] jacobdavis11 commented on #2251
@seanlip This is taken from this document: https://docs.google.com/document/d/1wMpkeL7HWJG2-1WJeDEXO8jwEUS3k44GWlo-VgLdzQw/edit

[2016-07-13 19:59] joshuacano commented on #1556
Hi @wxyxinyu I should be able to get to this over the weekend, sorry for the delay.

[2016-07-14 05:40] seanlip commented on #2242
Seems reasonable to me, though in fact we could perhaps just make the request simultaneously as the modal is opened (whilst not blocking the opening of the modal on it)? Then, if the backend errors, we can show that to the user before or while they're typing in a commit message.

@526avijitgupta, thoughts?

[2016-07-14 05:53] seanlip commented on #2235
Hi @souravbadami -- just saw this in my inbox, and I had one other suggestion: if this comes up again, please could you take a screenshot? Unfortunately, the description you gave is a bit too vague for us to pinpoint exactly what when wrong.

Thanks!

[2016-07-14 06:03] seanlip commented on #2224
Assigning @devndub.

[2016-07-14 06:29] #2228 closed

[2016-07-14 06:29] #2247 closed

[2016-07-14 07:36] wxyxinyu commented on #2229
Actually, this should be for all translation json files, and not just en, right?

[2016-07-14 07:40] seanlip commented on #2229
Actually, no -- the original description is correct.

en.json and qqq.json are canonical. Other files may have a subset of the keys.

[2016-07-14 08:52] anmolshkl commented on #2115
@raju249 Sorry I have been busy. Hm, how are you actually adjusting the width of the block? I agree with @wxyxinyu, the second one does look a little bit strange. How about keeping the width of the block flexible to adjust according the width of the text inside it, while, also keeping a 'max-width' and a 'min width'?

[2016-07-14 08:55] souravbadami commented on #2235
@seanlip -- Sure. I'll add a screenshot.

[2016-07-14 10:00] raju249 commented on #2115
I actually added ``` display:inline``` to a new class.
So I was able to make the collapsible block div wide enough to fit the content and yes the second one is narrower and looks strange.
I tried to set ``` width:auto ``` but it didn't help.
Any ideas how to get this done ?

@wxyxinyu @anmolshkl

[2016-07-14 13:23] jacobdavis11 commented on #2242
We could do that but it sounds like a bit of a jarring user experience. I
think it would be more intuitive if they attempt to click "save draft" in
the modal and then in response are told that there is a versioning problem.

On Thu, Jul 14, 2016 at 6:40 AM, Sean Lip <notifications@github.com> wrote:

[2016-07-14 13:49] jacobdavis11 commented on #2030
Design doc: https://docs.google.com/document/d/1OM6C5o1XYwvWXNmIzXrHQLXO2brs0yKY96L7xtUcD6c/edit

[2016-07-14 14:08] 526avijitgupta commented on #2242
@jacobdavis11 If I understand correctly, then you're suggesting that the version checking be made somewhere around [this function](https://github.com/oppia/oppia/blob/bc6392d42c8ac56c2bbb6fc491e155a102d7e3e8/core/templates/dev/head/exploration_editor/ExplorationEditor.js#L934) and remove the server call  from inside the `saveChanges` function, right ?
@seanlip I agree with Jacob about that it migh

[2016-07-14 15:35] raju249 commented on #2115
![header](https://cloud.githubusercontent.com/assets/8307266/16845363/40889d02-4a06-11e6-8ff8-23b35d19a738.png)

@wxyxinyu
This is how it looks when I set width to ``` width: -moz-available ```
![header2](https://cloud.githubusercontent.com/assets/8307266/16845426/80d9a612-4a06-11e6-9f42-aaa928312036.png)

But this happens for other response as well.
Now this is the case with Firefox ...I need to

[2016-07-14 15:52] jacobdavis11 commented on #2242
@526avijitgupta Yes that's correct, though the check shouldn't really need to be part of the front-end at all; it is just one of the possible failure cases with which the backend may respond to the save attempt.

[2016-07-15 01:28] seanlip commented on #2242
OK, I have no objections. @526avijitgupta, do you think you'd be able to implement a fix, since you're pretty familiar with the code? If so, I'd suggest sending it to @jacobdavis11 for review once you've done so.

Thanks! (and /cc @wxyxinyu)

[2016-07-15 05:28] wxyxinyu commented on #2115
Hmm, why does the first "Some text" text bubble look so big?

I think the idea is, for the text bubble to be as small as possible, just wrapping the "Some text" (so it looks like a messenger app), but to detect that there is an element inside that is wider and expand accordingly. This issue was pretty investigation-heavy, so if you can't find a solution, just make a comment about the things you tr

[2016-07-15 06:55] #2196 closed

[2016-07-15 08:17] 526avijitgupta commented on #2242
@seanlip Sure. I'll submit a fix for this soon.

[2016-07-15 10:32] gvishal opened #2254 "Move js script in html to its controller file."
For the following pages:
- about.html
- teach.html

[2016-07-15 10:36] gvishal opened #2255 "Remove assets/common."
We have moved resources used in places (oppia.css and other css files) that could not have dynamic interpolation to assets/common folder. These resources should ideally be moved out of assets/common and be able to use the standard cache policy for these.
#2208

EDIT(by @seanlip): There are only two tasks left here:
- [x] change warning.png to a material-design icon so that we don't have to refer t

[2016-07-15 12:35] raju249 commented on #2115
Sure @wxyxinyu
Thanks!

[2016-07-15 12:41] raju249 commented on #2115
Things I tried to accommodate the content inside the div and expand the div according to the content width.

- Setting ``` width : auto ```

- Setting ``` display : inline ```

- Setting ``` width : -moz-available ``` ( In case of Firefox)
Any of this didn't work for me
Thanks!

[2016-07-15 15:32] seanlip commented on #2255
Just to clarify, I thought the aim of this issue would be to find a way to get the resources out of assets/common into places where they can be subject to the standard cache slug policy?

[2016-07-15 17:28] souravbadami commented on #2103
@oparry -- ping!

[2016-07-15 17:34] souravbadami commented on #1966
@MinhHuong -- Would you like to try this one ?

[2016-07-15 18:41] souravbadami opened #2256 "Unable to move on next line on RTE using Preformatted text."
![issue_preformatted_text](https://cloud.githubusercontent.com/assets/11073943/16884798/fbaf2f82-4ae8-11e6-86ca-02d99c4aa070.gif)

**How To Reproduce:**
- Create a new exploration.
- Click on **pre** option in RTE.
- Try to move on next line (without Preformatted text).

**Observed Behavior:**
Unable to move on next line on RTE using Preformatted text.

**Environment:**
Browser - Mozilla Firefox 4

[2016-07-16 04:02] prasanna08 opened #2258 "Feedback message email should not be sent to creator if he has already attended to the corresponding feedback"
Oppia has a feature that sends an email to creator whenever he/she receives a feedback. As of now these feedback are sent to creator even if they have already attended to feedback on exploration page. This is undesirable and should not happen.

To fix this issue, whenever creator visits his/her exploration page, we should check that whether feedback message email to creator has been queued or not.

[2016-07-16 04:08] prasanna08 commented on #2258
Hi @seanlip, I have been working on this issue, as you know.
There is a bit of complication in the fix. If we want to delete a task from taskqueue, we must have a name assigned to the task. As of now we don't give names to the task objects.
So I can think of 2 solutions:

- We create random names for the task and save it with UnsentFeedbackEmailModel instance. So that we can delete the task later

[2016-07-16 04:17] prasanna08 opened #2259 "Switch from GAE email service to new 3rd party email service."
Just recently, Google App Engine, reduced daily mail amount to 100 messages per day, which is quite small for oppia's requirement and thus we might skip sending few emails everyday.

Therefore default mailing client is to be changed from GAE to 3rd party mailing client. Some mailing client mentioned by @seanlip are:
- SendGrid
- Mailjet
- Mailgun

We need to consider all these services carefully a

[2016-07-16 04:29] #2229 closed

[2016-07-16 04:30] wxyxinyu commented on #2230
Hi @MoultonDev, could you take a look at this too? Thanks!

[2016-07-16 05:16] MoultonDev commented on #2230
Sure thing!

[2016-07-16 06:15] seanlip commented on #2258
Good question. I thought about it and I think the second one (leave the task be, let it execute, and it should do nothing if there's no feedback model) is probably simplest -- otherwise we have this additional requirement that each task in the same queue has to be assigned a unique name, and I can see that going wrong in the future if multiple things use the same task queue.

As an aside, I'd also

[2016-07-16 06:17] seanlip commented on #2259
For reference, here is the relevant GAE page with the mail clients mentioned: https://cloud.google.com/appengine/docs/quotas#Mail

[2016-07-16 06:23] seanlip opened #2260 "Display new feedback in creator dashboard according to latest mocks"
When looking at my creator dashboard, I noticed that the "feedback" column seems to show the count of all feedback threads, even ones that I've closed some time in the past. This seems less useful than showing the count of open feedback threads, since the latter gives me a better signal about what needs my attention. Can this be changed? (The header may also need to be clarified.)

/cc @526avijitg

[2016-07-16 06:41] 526avijitgupta commented on #2260
@seanlip Has already been fixed in https://github.com/oppia/oppia/pull/2239 . Changes that have been made:
- The header of that column say "Feedback (Open/Total)" and the values correspondingly are of the same format "2/4".
- The total open feedback is also displayed in the top white row, along with the Average Ratings and Total Plays.

Thanks for bringing this up!

[2016-07-16 06:42] 526avijitgupta commented on #2260
Also, I'm closing this since it has already done. Please re-open in case there's anything else!

[2016-07-16 06:43] seanlip commented on #2260
Ah nice, thanks!

I have one question though. Why show the total feedback at all? I don't think that I, as a creator, would care, and the display "2/4" is confusing -- it reads like a fraction.

[2016-07-16 07:09] 526avijitgupta commented on #2260
Hmm.. If as a creator you feel that the total feedback is not required, then I think we should get rid of this. @wxyxinyu @AllanYangZhou your views on this ?

[2016-07-16 13:51] Arunabh98 commented on #2116
So what do we finally do?
Do we change the button to direct them to the next exploration or do we remove the button?

[2016-07-16 15:16] seanlip commented on #2116
I think, let's remove it.

On Saturday, July 16, 2016, Arunabh <notifications@github.com> wrote:

[2016-07-16 15:31] MinhHuong commented on #1966
Hi @souravbadami, yes please :smiley:. I would like to try it.

[2016-07-16 16:50] souravbadami commented on #1966
Hi @MinhHuong, Assigned you!

[2016-07-16 16:55] MinhHuong commented on #1966
Thanks!

[2016-07-17 10:46] #2116 closed

[2016-07-17 14:16] Arunabh98 commented on #2230
Could I work on this issue?

[2016-07-17 17:04] souravbadami commented on #2230
@Arunabh98 -- @MoultonDev is already working on this. I suggest you to look into another issue. Thanks!

[2016-07-18 00:04] wxyxinyu commented on #2260
I would suggest changing it to follow Rachel's mocks  here https://github.com/oppia/oppia/issues/1366#issuecomment-226981007

So, show [total] (x new). I think it could be interesting to creators to know how many comments their exploration has.

[2016-07-18 00:43] seanlip commented on #2260
That sounds fine to me, too. I'm not personally interested in the total, but at least this does make the number of 'new' things stand out.

[2016-07-18 02:32] seanlip opened #2269 "Add functionality for sending emails to existing users."
Oppia needs a way to send emails to existing users to inform them of new developments on the site. In order to do this, two things are needed:
- a page from which these emails can be sent
- a way to select groups of users to send the email to.

The filter criteria for selecting groups of users should include the intersection of some combination of the following, specified by the sender, in order t

[2016-07-18 02:32] seanlip commented on #2269
/cc @rahimnathwani @prasanna08

[2016-07-18 12:52] 526avijitgupta commented on #2221
Fix for adding the "Last Updated" Portugese translation has already been made. Will be working on  converting to i18n divs with translations.

[2016-07-18 12:56] 526avijitgupta commented on #2207
@gvishal Can you please give specific instructions about how to reproduce this ?

[2016-07-18 13:05] 526avijitgupta commented on #2178
Hi @brunnre8 , any update on this ?

[2016-07-18 13:08] 526avijitgupta commented on #2188
Work for this will be carried on as a part of making the creator dashboard to be fully responsive, both UI and UX-wise. Thus leaving this issue open for now.

@bjvoth Can you please take a look at the 2nd image (801px - 900px). It looks like a bug with the navigation bar ?

[2016-07-18 13:13] 526avijitgupta commented on #2127
@zmantx Any updates on this ?

[2016-07-18 13:14] 526avijitgupta commented on #2103
@oparry Please take a look at this.

[2016-07-18 13:16] 526avijitgupta commented on #2095
@KatFrog Please take a look at this!

[2016-07-18 13:19] 526avijitgupta commented on #2044
@Yeeons Any updates on this ?

[2016-07-18 13:21] 526avijitgupta commented on #2048
@gvishal Has this been completed ? If yes, please close this!

[2016-07-18 13:22] 526avijitgupta commented on #1990
@kevinlee12 Any updates on this ?

[2016-07-18 13:23] 526avijitgupta commented on #1982
@p4rsec Any updates on this ?

[2016-07-18 13:23] 526avijitgupta commented on #1970
@szangaro Please take a look at this!

[2016-07-18 13:27] 526avijitgupta commented on #1964
@p4rsec Any updates on this ?

[2016-07-18 13:29] 526avijitgupta commented on #1867
@KatFrog Any updates on this ?

[2016-07-18 13:31] 526avijitgupta commented on #1800
@anggorodewanto Any updates on this ?

[2016-07-18 13:34] 526avijitgupta commented on #1773
@akashrajkn Any updates on this ?

[2016-07-18 13:34] 526avijitgupta commented on #1759
@satwikkansal Any updates on this ?

[2016-07-18 13:38] 526avijitgupta commented on #1481
@souravsingh Any updates on this ?

[2016-07-18 13:47] #2258 closed

[2016-07-18 13:49] anggorodewanto commented on #1800
Hi,
I'm so sorry, i am so swamped with work right now, and i don't think I'll
have time to do it in the meantime.

On 18 Jul 2016 20:31, "Avijit Gupta" <notifications@github.com> wrote:

[2016-07-18 14:36] Arunabh98 commented on #2051
Could I also help fix this issue?

[2016-07-18 14:41] Arunabh98 commented on #2051
Any updates on this?

[2016-07-18 14:55] Arunabh98 commented on #1862
Could I work on this issue?

[2016-07-18 15:01] souravsingh commented on #2051
@Arunabh98 I am facing a few problems with the test. The PR will be out really soon

[2016-07-18 15:15] gvishal commented on #2207
I have already added the instructions above.

[2016-07-18 15:15] #2048 closed

[2016-07-18 17:40] Arunabh98 commented on #1897
Could anyone give me a start in how to go about solving this issue?

[2016-07-18 17:45] 526avijitgupta commented on #2260
@wxyxinyu But we aren't keeping track of "new feedback" as such ?

[2016-07-18 18:06] Arunabh98 commented on #2051
Okay!

[2016-07-18 18:34] seanlip commented on #1862
Yep, go ahead! Probably best to modify the relevant schema to include a placeholder: https://github.com/oppia/oppia/wiki/Schema-Based-Forms

[2016-07-18 18:36] seanlip commented on #1800
Noted, thanks @anggorodewanto! In that case, I'll de-assign you in the meantime, but feel free to come back to it if time permits. Thanks!

[2016-07-18 18:37] bjvoth commented on #2188
@526avijitgupta That is correct - as per the spec, pages with " > (name)" should show the name for widths greater than 768px.

[2016-07-18 19:28] 526avijitgupta commented on #2188
@bjvoth Thanks for confirming! In that case, I'm assigning you to this issue as well. Since your help will be needed in fixing the nav bar part of this.

[2016-07-18 19:44] seanlip commented on #1897
Are you able to reproduce it? If so, try adding debug statements in various places along the flow until you figure out what exactly is going wrong; see if you can discover any clues. This is one of those issues that requires a little investigation.

You might also want to compare what's going on here with the corresponding behaviour in MultipleChoiceInput, which I believe works correctly -- i.e.,

[2016-07-18 20:19] kevinlee12 commented on #1990
Hi @526avijitgupta, in progress. thanks!

On Mon, Jul 18, 2016 at 6:22 AM, Avijit Gupta <notifications@github.com>
wrote:

[2016-07-18 20:20] 526avijitgupta commented on #1990
Thanks for the update.

On 19 Jul 2016 1:49 a.m., "Kevin Lee" <notifications@github.com> wrote:

[2016-07-19 02:20] gvishal commented on #2255
Yep, updated.

[2016-07-19 02:23] gvishal opened #2271 "Modification to app.yaml when enabling minified version in dev mode."
When starting the server using #1919  `--prod_env`, app.yaml is modified `MINIFICATION: true` and this change might get committed.

Also, we need documentation for this feature. See: https://github.com/oppia/oppia/pull/1919#issuecomment-233213467

- [x] add documentation about the flag (in the code, wiki, or both)

- [x] add the check in pre-commit hook to make sure that minification is set to fal

[2016-07-19 14:00] raju249 commented on #2254
Can I take this @gvishal
Also /cc @souravbadami
Just had little time to work on.
I am bit busy since my college reopened but can't keep myself from contributing :sweat_smile:

[2016-07-19 15:08] souravbadami commented on #2254
@raju249 -- Assigned!

[2016-07-19 16:55] souravbadami opened #2274 "Change language box shows an extra blank field."
![screenshot from 2016-07-19 21 54 46](https://cloud.githubusercontent.com/assets/11073943/16958607/d025dc9e-4dfe-11e6-9f7b-3feb10414ecc.png)
![screenshot from 2016-07-19 21 55 06](https://cloud.githubusercontent.com/assets/11073943/16958608/d02dbfae-4dfe-11e6-817b-aacb63017983.png)

**How To Reproduce:**
- Visit /splash.
- Select another language.
- Navigate to /library.

**Observed Behavior:**
C

[2016-07-19 17:12] 526avijitgupta commented on #2274
I tried reproducing this, and in my case the blank field was actually the selected language!

<img width="255" alt="screenshot 2016-07-19 22 39 59" src="https://cloud.githubusercontent.com/assets/7583815/16959254/cf847c48-4e01-11e6-816f-ffd742bd25bc.png">

@souravbadami Did you also encounter the same behavior ? If yes, then please update the "Observed Behavior" section of the issue.

[2016-07-19 23:17] joshuacano commented on #1556
Just an update, I'm working my way through the issue. I have added a few tests for EditableCollectionBackendApiService, still need to add other features requested.

[2016-07-19 23:17] seanlip commented on #1556
That sounds great, thanks for the update @joshuacano!

[2016-07-20 04:23] gvishal commented on #2254
@raju249 Can you wait on this. Please allow #2208 to be merged before proceeding.

[2016-07-20 04:43] wxyxinyu commented on #2260
@526avijitgupta currently, we're taking new = open. A feedback thread is no longer new if it is marked as closed/ignored/done/etc

[2016-07-20 05:59] 526avijitgupta commented on #2260
@wxyxinyu  Oh, so you mean that the number of open threads will be counted of new, even if it is seen ?

[2016-07-20 08:00] wxyxinyu opened #2277 "Credits columns on about page are not the same length"
![image](https://cloud.githubusercontent.com/assets/5061134/16979276/0237d992-4e15-11e6-821e-8e4f1206b50b.png)
The 3 columns of the credits should be the same height. The second two columns need not start with a letter (i.e. some of the "J" names can be moved to the first column).

[2016-07-20 08:15] wxyxinyu commented on #2260
yep!

[2016-07-20 08:25] 526avijitgupta commented on #2260
Reopening - will be submitting a PR for this soon.

[2016-07-20 11:32] raju249 commented on #2254
Yep sure @gvishal
Just ping me here when it's done :smile:

[2016-07-20 13:31] #2222 closed

[2016-07-20 13:56] satwikkansal commented on #1759
@526avijitgupta Sorry I was bit busy past two weeks... I'm hoping to fix this by the end of this week. Just a few questions.. Is it the same player that is opened after we click on any exploration from the library. Also I've found out the following piece of code that currently handles this stuff, the only way I could think of is to handle this case uniquely (make similar function for this case) or

[2016-07-20 16:59] gvishal opened #2278 "Minify extension resources (css and js)"
We have observed that there was some css/js in the rendered html body that wasn't minified. I have traced it back to extensions, i.e it is the css/js for extensions that is not minified.

This issue involves:

1. Add extension/ to minification task in deploy.py.
2. Move the minified extensions to build/{{cache_slug}}.

/cc @seanlip @BenHenning @maitbayev

[2016-07-21 10:04] seanlip commented on #1759
Hey @satwikkansal, this is quite timely actually, since @bjvoth has been working on a [spec](https://docs.google.com/document/d/1Lms9Qcfj1NW3NDVgi5aG_3WiKoEDGO1wm5tPPr-r994/edit#) for the behavior of the navbar. The player page that you refer to is the correct one, and you can find the spec in @bjvoth's doc.

The code you've found does indeed affect the navbar. However the current implementation o

[2016-07-21 11:59] satwikkansal commented on #1759
@seanlip  I've gone through @bjvoth's doc, the approach you suggested seems good to me. Also I think using `base.html` template for widths less than 768px and then using jinja blocks for customizing for other widths would enable us to implement different functionalities in the navbar at different pages which can fill the requirements highlighted with red in the summary table of @bjvoth 's [doc](ht

[2016-07-22 08:18] seanlip opened #2286 "Redo the layout of the learner view to allow for (at least) a visible author card"
We really should show the authors of an exploration in the learner view, with links to their profile pages -- currently, they're hidden behind the info card which is accessible from clicking on the little "i" in the navbar, and this means they're hard to find.

The aim of this issue is to make a design of the learner page that includes this information in an elegant way.

/cc @wxyxinyu @markhalpin

[2016-07-22 08:20] seanlip opened #2287 "Allow users to subscribe to exploration creators in order to receive notifications about future explorations that they publish."
(This is a great idea by @Arunabh98.)

It would be nice to allow people to subscribe to creators of explorations, so that, when the creator adds a new exploration, the subscribers are notified. We should also allow contributors to see how many subscribers they have.

/cc @prasanna08 @wxyxinyu

[2016-07-22 10:38] 526avijitgupta opened #2288 "Implement pagination for creator dashboard"
Even though having pagination in the dashboard seems to be a nice feature, it has been left off for now. This is primarily due to the following reasons:
- It will make sorting in the dashboard harder as well as heavier (Since without pagination, sorting can be simply done in the frontend without having to request for data from backend time and again).
- It was initially decided to display 8 explor

[2016-07-23 05:33] seanlip commented on #2003
This was fixed in https://github.com/oppia/oppia/commit/87a640aee0b926580616d0b9d056c09ac234cb1a, when it started happening permanently.

/cc @526avijitgupta @wxyxinyu

[2016-07-23 05:33] #2003 closed

[2016-07-23 07:20] souravbadami commented on #2274
@526avijitgupta -- Updated!

[2016-07-23 08:13] #2100 closed

[2016-07-23 14:20] gvishal opened #2292 "Gulpfile.js changes: build files directly into build directory and remove unnecessary build task."
- [x] Remove /third_party/generated/prod and directly move files into build folder. This involves passing the production cache slug into gulpfile.js as an argument from build.py (and anywhere else where the gulp script is called from).

- [x] Following above, when we start the server via --prod_env, build.py runs gulpfile.js with the specific output_directory. But, the gulp task `start_devserver`

[2016-07-23 14:26] gvishal opened #2293 "Tests for cache slugs"
We need to make sure that there are no errors due to missing files after implementing cache slugs. This involves:
- [x] Running e2e tests in prod mode on travis.
- [x] Adding tests which check that e2e tests fail in case of errors while fetching static resources.

/cc @seanlip @BenHenning

[2016-07-23 14:28] gvishal commented on #2206
Fixed as part of #2208

[2016-07-23 14:28] #2206 closed

[2016-07-23 17:21] raju249 commented on #2254
@gvishal
Can I start working on it from tomorrow?
Its merged :smile:

[2016-07-23 20:55] seanlip commented on #2178
Hi @brunnre8, are you still working on this? If so, I just wanted to let you know that the translation files have moved to assets/i18n, so if you could check out the latest version of develop and make the changes there instead, that would be great. Thanks a lot!

[2016-07-24 05:51] #2277 closed

[2016-07-24 06:04] gvishal commented on #2254
Yes!

[2016-07-25 08:16] #2211 closed

[2016-07-25 16:18] brunnre8 commented on #2178
I am working on it, sorry that it took a while but I was rather busy.
I should have a first version by the end of the week.

Are you aware of other German speaking contributors that could have a look?
Strictly speaking I'm not speaking German but the Swiss dialect so some things might be a bit funny to a native speaker.

[2016-07-25 19:28] kevinlee12 commented on #902
Hi @edallison, any updates for this? thanks!

[2016-07-25 19:28] kevinlee12 commented on #897
Hi @sbhowmik89, any updates on this? thanks!

[2016-07-25 19:29] kevinlee12 commented on #1110
Hi @kevintab95, any updates on this? thanks!

[2016-07-25 19:32] kevinlee12 commented on #1417
Hi @bigblind, any updates on this? thanks!

[2016-07-25 19:33] kevinlee12 commented on #1782
Hi @ashishpahwa7, any updates on this? thanks!

[2016-07-25 19:33] kevinlee12 commented on #1773
@ashishpahwa7, how is this coming along?

[2016-07-25 19:34] kevinlee12 commented on #1761
Hi @whyjenn, any updates on this?

[2016-07-25 19:54] 526avijitgupta commented on #1773
@kevinlee12 Looks like you tagged the wrong person by mistake.
@akashrajkn Any updates on this ?

[2016-07-25 19:58] kevinlee12 commented on #1773
oops, sorry @526avijitgupta

[2016-07-25 20:36] seanlip commented on #902
Ah, actually, this is still WIP in #1115. I think we need input from someone else with regards to the design aspects.

[2016-07-25 20:36] seanlip commented on #1761
Whoops, I meant to close this! This is done, and @MAKOSCAFEE is working on implementation.

[2016-07-25 20:36] #1761 closed

[2016-07-25 20:37] seanlip commented on #897
Reassigning and redirecting @kevinlee12's question to @giritheja (sorry, forgot to update this thread).

[2016-07-26 00:19] seanlip commented on #2178
Thanks, @brunnre8!

Hm, that's a good question. I do have a couple of friends from Germany; I'll ask them (probably by trying to find a reviewer who knows German to take a look at the PR). Otherwise, though, we can always correct it on-the-fly.

[2016-07-26 00:29] seanlip commented on #2271
Adding notes from #1919; future discussion should go here instead:

- [by @MAKOSCAFEE] when you pass --prod_env flag our aim was not to change fecon.DEV_MODE because that is a real environmental variable and we wanted to separate that with just minification which is the aim of that flag.
- [by @seanlip] Re documentation: I think a good place to document it would be next to the --prod_env option in

[2016-07-26 03:57] BenHenning commented on #835
TL decision: this is being repurposed as the general issue for tracking implementing a hints solution in explorations. This came after reviewing whether to keep #1014 open. Since #1014 is focusing on improving the ability to provide hints to users, it is being replaced with this issue as a larger infrastructure for hints.

We also discussed potentially deprecating tabs after this work is finished,

[2016-07-26 05:24] seanlip commented on #2224
Hi @devndub, how's this going?

[2016-07-26 05:29] seanlip opened #2297 "Add speech recognition to TextInput field."
For the TextInput interaction, it would be nice to have speech recognition as a way of entering an answer, so that a student can speak their answer instead of typing it.

A preliminary PR for this has been created in #928, but it's just a draft and needs to be redone (and the comments therein addressed). However, it can be used as a reference for tackling this issue. (Note that the screenshot in t

[2016-07-26 05:35] seanlip commented on #2127
Deassigning @zmantx due to lack of response. (Having said that, @zmantx, if you're still interested in having a go, please write back and let us know!)

[2016-07-26 07:23] ashishpahwa7 commented on #1782
Hi @kevinlee12 , As i said it seems to work fine on my system so i have no way of verifying it here , but anyway I changed the position of tooltip . Would you like me to create a PR ?

[2016-07-26 09:21] #2271 closed

[2016-07-26 13:27] souravbadami opened #2301 "Hindi language support."
Add support for हिन्दी translation.

[2016-07-26 14:27] ashishpahwa7 commented on #1782
Oops! My bad , it still doesn't work the expected way .

[2016-07-26 20:19] giritheja commented on #897
Hey @kevinlee12 , Currently the implementation details and milestones for the problem are being worked on. [Doc](https://docs.google.com/document/d/1_qykhQzubpKrE9Wf5rg8DTH3RA_P108-1RXpMoClUaY/)

[2016-07-27 02:23] #2188 closed

[2016-07-27 05:59] #1863 closed

[2016-07-27 06:00] gvishal opened #2302 "Combine separate requests to fetch google fonts into a single request."
We presently 5 separate requests to fetch google fonts. We can fetch them in a single request:
`<link rel="stylesheet" type="text/css" media="screen"
      href="https://fonts.googleapis.com/css?family=Capriola|Rubik">`

[2016-07-27 07:21] #2302 closed

[2016-07-27 10:27] gvishal opened #2306 "Opening a new tab while in signup page causes session to expire."
So, I goto the signup page on dev and in another tab open the splash/library page and when I come back to the signup page and type some username it gives the following error:

https://files.gitter.im/oppia/oppia-chat/blob

Is this intended workflow?

[2016-07-27 16:13] kevintab95 commented on #1110
Sorry for the late reply @kevinlee12, I've discussed with Sean and we've decided to put this on hold until we have a framework for custom editors for RTE components.

[2016-07-27 18:34] seanlip commented on #1897
Assigning to @anthkris.

[2016-07-27 21:34] kevinlee12 commented on #1110
Thanks for the update!

On Wed, Jul 27, 2016 at 9:13 AM, Kevin Thomas <notifications@github.com>
wrote:

[2016-07-27 21:34] kevinlee12 commented on #902
Ah, thanks!

On Mon, Jul 25, 2016 at 1:36 PM, Sean Lip <notifications@github.com> wrote:

[2016-07-28 02:04] kevinlee12 commented on #2306
This definitely doesn't look like a behavior that is normal, perhaps @seanlip, can chime in a bit more about this.

[2016-07-28 02:12] kevinlee12 commented on #897
thanks @giritheja!

[2016-07-28 02:52] seanlip commented on #2306
@kevinlee12 can you repro this on develop?

[2016-07-28 03:05] kevinlee12 commented on #2306
@seanlip, I am able to reproduce the error. Specifically the error is:

Your session has expired, and unfortunately your changes cannot be saved.
Please refresh the page.

The error was most reliably reproduced when I did a open in new tab when
clicking on the Oppia logo in the upper left corner, I haven't run into
this scenario before (opening another Oppia tab while on the sign-in page)
so I can

[2016-07-28 03:13] kevinlee12 commented on #2306
+ this issue extends back to v2.3.0

[2016-07-29 02:17] anthkris commented on #1897
@seanlip What I've discovered thus far is that:

- the array of answer choices is saving and updating appropriately
- stateCustomizationArgs is saving and updating appropriately
- inputs.x is merely pushing answer choice updates to the array

So it seems like what needs to happen is that inputs.x needs to somehow reset to blank.
ItemSelectionInput.js seems to only concern the exploration preview,

[2016-07-29 05:53] gvishal opened #2308 "Add pre-rendering to Oppia pages."
We have added pre-rendering for library page in the splash page as part of #2305 . After understanding its impact on the server load, we would add pre-rendering to other pages as well.

/cc @seanlip @BenHenning

[2016-07-29 07:11] seanlip opened #2309 "Update protractor beyond v3.3.0, then remove the chromedriver hack in the run_e2e_tests.sh script."
In #2285, we added a few lines to run_e2e_tests.sh to substitute the latest version of chromedriver, since the Protractor e2e tests could not run otherwise. Once Protractor is updated to a newer version which makes use of the latest Chromedriver version, we should remove this substitution.

/cc @BenHenning

[2016-07-29 19:17] hermanbergwerf opened #2311 "Long hyperlinks in the card extend beyond the width of the card"
I would expect a nicely wrapped hyperlink, but for long links the text overflows. Just create a long hyperlink and you can reproduce it in any browser.

[2016-07-29 19:37] kevinlee12 commented on #2311
Hi @hermanbergwerf, can you include a screenshot of what you expect to see (and where in general)? thanks!

[2016-07-29 19:48] hermanbergwerf commented on #2311
**What I would want to see:**
![screenshot from 2016-07-29 13-46-30](https://cloud.githubusercontent.com/assets/4458965/17261449/ff0e4fbe-5592-11e6-91b2-00e2e93a7a82.png)

**What I do see:**
![screenshot from 2016-07-29 13-45-46](https://cloud.githubusercontent.com/assets/4458965/17261450/ff195c38-5592-11e6-884d-432e99a7e755.png)

[2016-07-29 23:55] kevinlee12 commented on #2311
thanks @hermanbergwerf!

[2016-07-30 00:05] seanlip commented on #2311
@hermanbergwerf thanks for reporting! Just to check, would it make more sense to use custom text for the URL, [like this](https://www.example.com)? The full URL doesn't seem easy to read, either way.

[2016-07-30 03:36] hermanbergwerf commented on #2311
In this case the URL content was part of the course (about an API).

On Fri, Jul 29, 2016, 18:05 Sean Lip <notifications@github.com> wrote:

[2016-07-30 03:45] seanlip commented on #1897
Here's what I'd suggest: does the same thing happen in MultipleChoiceInput? If so, let me know, and we'll work it out together. If not, then I would figure out what's different between the two interactions -- I'm guessing that ItemSelectionInput is lacking something that MultipleChoiceInput has.

[2016-07-30 16:30] anthkris commented on #1897
Yeah, I saw that you mentioned that previously. I guess my question is, where should I be looking? I've looked in ItemSelectionInput.js and tried some console.log messages but they never fired. Those files seem to only concern the exploration preview, not the editor.

Also, in terms of the data, I know that input.x is the multiple choice interaction is different from input.x in item selection inpu

[2016-07-31 00:52] seanlip commented on #2274
[From @abhsag24, on gitter]  When i run oppia in dev mode, it isn't reproducible from the the development branch and the master branch which is making it very difficult to debug though i do see this bug and it is reproducible on the internet.

-------

Interesting -- I reproduced this in Firefox, but not in Chrome. I'm not sure why it's happening either.

@abhsag24 are you able to repro in Firefox

[2016-07-31 01:21] BenHenning commented on #2308
Can we be more specific in this issue with which pages should have prerendering added? What work needs to be done doesn't seem clear from reading this issue.

[2016-07-31 07:04] abhsag24 commented on #2274
yes i'm able to reproduce, i'm on it :)

[2016-07-31 07:07] seanlip commented on #2274
Great, thanks for confirming @abhsag24!

[2016-07-31 07:11] seanlip commented on #2103
Hi @oparry, ping! Are you still planning to look into this?

[2016-07-31 07:15] seanlip commented on #1759
Hi @bjvoth! How's this going?

[2016-07-31 07:35] seanlip commented on #1897
Ah, what I did was to do `grep MultipleChoiceInput . -r --exclude-dir=third_party` in a terminal -- it looks like there are some files in core/templates that reference it.

You make a good point that the two input.x's are not the same. I think that's actually the crux of the problem: multiple-choice input references options by index number, whereas item selection input references options by the ac

[2016-07-31 17:54] abhsag24 commented on #2274
so the problem is that 50ms timeout on `$translate.use()` is not enough, increasing the timeout to 250ms fixes the problem, as an alternative we can also use `$scope.currentLanguageCode = $translate.use() || $translate.proposedLanguage();` as suggested in http://stackoverflow.com/a/28903658 , i'll submit a patch based on this suggestion

[2016-07-31 20:15] p4rsec commented on #1982
No, @526avijitgupta. I think for the time being it will be best to remove me from all assigned issues, as school is starting in a week and at that point I'm not sure I'll have much time to do anything with Oppia, nor have I been able to recently due to another vacation and band camp. Apologies

[2016-08-01 07:34] seanlip commented on #1982
Done. Thanks for the note, @p4rsec, and I hope you enjoy the new school year!

[2016-08-01 11:59] Arunabh98 commented on #2311
Could I work on this?

[2016-08-01 14:42] RDMEC commented on #1667
+1

[2016-08-01 18:41] seanlip commented on #2311
Sure, thanks! Assigned you.

[2016-08-01 20:39] kevinlee12 commented on #2037
Hi @seanlip, I don't see `Neither, thanks`, did it get removed?

[2016-08-01 21:06] oparry commented on #2103
Hi @seanlip, @526avijitgupta, @souravbadami
I'm very sorry that I took so long to respond, I've just moved house and started a new job, so haven't had a lot of time recently.  I should be able to look into this over the weekend (6th/7th), hope that's ok.  Please feel free to re-assign if it needs to be finished more quickly than that.

[2016-08-01 21:18] seanlip commented on #2037
Oh, yes, it did. I'll close this. Thanks!

[2016-08-01 21:18] #2037 closed

[2016-08-01 21:19] seanlip commented on #2103
Hi @oparry, sounds good -- I mainly wanted to make sure it's still being looked at, so it's great that you'll be able to take a look this weekend. Thanks, and congrats on the new job!

[2016-08-02 05:37] kevinlee12 opened #2319 "Cannot find numpy on production mode locally"
When running on production mode **locally**, Oppia does complains about not finding Yaml and Numpy (in that order).

To recreate the issue:
1. Put `DEV_MODE = False` below line 48 in `feconf.py`.
2. Run `python scripts/build.py`
3. Run `bash scripts/start.sh --prod_env`. Oppia prompts for the yaml library at this stage.

Additional Info:
When setting up a virtualenv using `virtualenv env/` and ins

[2016-08-02 05:38] kevinlee12 commented on #2319
A little investigation will be necessary to determine what is going on.

[2016-08-02 07:34] #1966 closed

[2016-08-02 16:54] bjvoth commented on #1759
Hi @seanlip. This is going very slowly for me and I will not be able to dedicate a significant amount of time for at least the next 2 weeks. If someone else would like to get started right away, let me know, that is no problem.

[2016-08-03 02:21] seanlip commented on #2319
Hi @kevinlee12, thanks for filing this! I did a bit of investigation, and it does turn out that pyyaml is now needed. I added some notes to the wiki installation instructions; do you think this would solve the problem?

[2016-08-03 03:17] #1862 closed

[2016-08-03 07:18] #2274 closed

[2016-08-03 07:20] seanlip commented on #1858
Hi @edallison, how's this going? Did you get anywhere?

[2016-08-03 07:21] seanlip commented on #2244
Hi @souravbadami, how's this going?

[2016-08-03 07:21] seanlip commented on #2230
@MoultonDev, how's this going?

[2016-08-03 07:22] seanlip commented on #2163
Hi @abhsag24, would you be interested in investigating what's causing this?

[2016-08-03 08:06] #2063 closed

[2016-08-03 08:09] seanlip commented on #1897
Hi @anthkris, just wanted to circle back -- did this help? Please feel free to ask if you have follow-up questions, and thanks!

[2016-08-03 08:20] #1990 closed

[2016-08-03 08:31] amgowano commented on #2029
@seanlip: I am going to work on this. Following what you suggested that the UI should always be present, I am thinking it will look roughly like what I have [here](https://docs.google.com/document/d/1xgLy-Hq7fKJFw3EVNkMYArWSDS4tlSZ4m-lpbLHmC8Q/edit). For this issue the focus will just be to work on the Create New Exploration button since the search is handled [here](https://github.com/oppia/oppia/

[2016-08-03 08:56] seanlip commented on #2030
Hi @souravbadami, have you made any progress on this?

[2016-08-03 08:58] seanlip commented on #2029
Hi @amgowano, thanks for looking into this! I don't seem to have access to the doc, but your description sounds fine to me.

Can I suggest one thing, though -- could you email or ping @amitdeutsch and @BenHenning, and solicit some quick feedback on the design? They'll be able to give you better feedback, I think.

Thanks!

[2016-08-03 09:16] gvishal opened #2324 "Refactor the build process"
Currently we have two scripts that are used in the build process:

build.py:
1. Copies /assets into /build/{{cache_slug}}/
**_2. Calls `gulpfile.js` to generate third_party resources into the target directory ( /build/{{cache_slug}}/)**_
3. Copies /extensions into /build/{{cache_slug}}/
4. Builds /core/template/.. resources and copies into `../css/` into `/build/{{cache_slug}}/css/`

gulpfile.js:

[2016-08-03 15:00] abhsag24 commented on #2163
okay i'll try :)

[2016-08-03 15:26] anthkris commented on #1897
Hey @seanlip I've been working on it and I was actually able to make an impact last night, but it's still not right. But your suggestions allowed me to actually see something happen. I'm still working at it.

[2016-08-03 16:41] seanlip commented on #1897
Awesome, thanks @anthkris -- glad it helped, and thanks a lot for the update!

[2016-08-03 18:25] amgowano commented on #2029
Okay. I have given you access now. I will ping Ben for input since the design is still very close to what he suggested.

[2016-08-03 20:25] seanlip commented on #2163
Thanks! Assigned you.

Btw, some tips I've found helpful for simulating stuff like this on the dev server is to do the following:
- Log in as an admin, go to /admin, and click "Reload all explorations" to load a bunch of explorations in the library.
- In the backend, find the constant that determines the number of things to show in a "search results page", and change it to 8. If you make the heigh

[2016-08-03 22:54] amgowano commented on #2060
I have started working on this. Just wanted to add the comment so that another person doesn't duplicate the effort.

[2016-08-04 06:50] Yeeons commented on #2044
Hey, alot of real life stuff is happening. Please assign to someone else, i'll be back in a couple of weeks.

[2016-08-04 06:50] seanlip commented on #2044
OK! Thanks for the heads-up; look forward to seeing you when you get back!

(And good luck with the real-life stuff :) )

[2016-08-04 14:39] Arunabh98 commented on #2311
I am not able to reproduce this bug. Every time I introduce a link and preview it, the link is automatically wrapped to fit the size of the card.
Could you provided me the steps to reproduce this bug?
@hermanbergwerf

[2016-08-04 17:25] Arunabh98 commented on #2044
Could I try to implement this feature?

[2016-08-04 17:34] seanlip commented on #2044
Sure! Assigned you :)

[2016-08-04 17:59] hermanbergwerf commented on #2311
Perhaps this was fixed in the dev version already. The issue is with word
break so there can be no spaces in the URL. You should be able to easily
reproduce it on oppia.org

On Thu, Aug 4, 2016, 08:39 Arunabh <notifications@github.com> wrote:

[2016-08-04 23:53] chipperatkins commented on #2297
Would you mind if I work on this?

[2016-08-05 00:43] seanlip commented on #2297
Hi @chipperatkins, welcome! Yes, please go ahead. I'll also invite you to join this repository, so that I can assign you to the issue. Thanks!

[2016-08-05 02:00] chipperatkins commented on #2297
Alright, I joined up. Should I tackle this issue from the ground up in a new branch, or form your speech-recognition branch as it is? Just from a quick glance over, it seems very out of date and not too much to go from the ground up?

[2016-08-05 02:16] seanlip commented on #2297
Sounds great, I've assigned you!

And yep, I agree with you -- I think a new branch is the way to go here. Feel free to use the existing PR as a reference, but it's totally fine to use as much or as little of it as you like. Thanks!

[2016-08-05 04:31] seanlip commented on #1897
Hi @anthkris, I just realized we're doing a release on Saturday, and I think it'd be great to get this fix into that release, since the underlying issue has actually been causing a number of explorations to "go wrong". How is it going? If you're able to get a PR in soon, that would be great -- but if it would take too long to tidy it up for submission, perhaps you could post what you have as an in

[2016-08-05 04:39] anthkris commented on #1897
Hey @seanlip I've been cracking away at it every night this week. I've been able to affect the inputs.x array but I still can't get it quite right. Something's always off. Not even sure if what I have now would be of any use to you.

[2016-08-05 04:46] seanlip commented on #1897
Hmm, ok. Think you'd be up for sending what you've done, and explaining what's off? Then I could try to take a crack at it, and let you know if I make progress...

[2016-08-05 05:12] anthkris commented on #1897
PR with comments coming soon.

[2016-08-05 05:13] seanlip commented on #1897
Thanks, @anthkris!

[2016-08-05 08:58] 526avijitgupta opened #2332 "Use one-time binding syntax to reduce the number of watchers and improve performance."
While I was looking at the codebase, I could see that Angular 1.3's one-time binding (`::`) is not being used anywhere. I'm not sure if this has been brought up before, but I'll assume that it hasn't and give a brief description of how it could help us:

### The Problem:
When we make changes to values which are in Angular's so-called models - `$scope`, `$rootScope` etc. It triggers a digest loop w

[2016-08-05 09:49] seanlip commented on #2332
Thanks @526avijitgupta! I actually came across this a little while ago, and I totally agree. I feel like it could pay off well for the editor page, which is a bit slow. Thanks a lot for bringing it up! And yes, definitely, if you have suggestions for how to take this forward, they'd be very much appreciated.

[2016-08-05 18:17] souravbadami opened #2334 "Multiple error toast appears on switching between tabs."
![screenshot from 2016-08-05 23 38 44](https://cloud.githubusercontent.com/assets/11073943/17446261/060fb202-5b66-11e6-96e4-ab37939cc978.png)

**How To Reproduce:**
- Create a new collection, add some explorations to it and save it.
- Switch to settings tab and add a Title. Leave the Goal field blank and switch between tabs of your browser multiple times.

**Observed Behavior:**
Multiple error toa

[2016-08-05 18:17] #2292 closed

[2016-08-05 18:47] seanlip commented on #2334
Hm. I think that in this case we ought to just do a check on publication, like we do for the exploration editor. @amgowano what do you think?

[2016-08-05 19:06] abhsag24 commented on #2163
thanks :) :D

[2016-08-05 20:59] souravbadami opened #2335 "Error toast while creating a new exploration."
![screenshot from 2016-08-06 02 23 07](https://cloud.githubusercontent.com/assets/11073943/17450299/1b1b9e42-5b7d-11e6-9908-6ea3c7fe4b8a.png)

On the process of creating a new exploration on the latest develop branch, an error prompt appears which states "Error communicating with server".

**Environment:**
OS: Ubuntu 14.04

[2016-08-05 22:45] seanlip commented on #2335
Hm, I can't reproduce. What's the error message in the console (or in the server logs)?

[2016-08-06 00:14] amgowano commented on #2334
@souravbadami: How come I couldn't reproduce this bug?! But yes, I agree this should be checked when the user tries to publish (Which is what I saw when I tried to reproduce it).

<img width="1389" alt="screen shot 2016-08-05 at 5 13 56 pm" src="https://cloud.githubusercontent.com/assets/2756900/17453375/0b0501e4-5b30-11e6-999b-7e392cb5dbd1.png">

[2016-08-06 00:25] seanlip commented on #2334
Hmm. @souravbadami, would you mind including the console error in the bug report please? That may give us more clues about what's going on.

[2016-08-06 01:34] #1897 closed

[2016-08-06 06:04] TruongKim commented on #2309
@seanlip Would you mind if I pick this one up?

[2016-08-06 06:08] seanlip commented on #2309
Sure! But this needs Protractor to be updated to a newer version first. Do you want to have a go at that?

[2016-08-06 06:14] seanlip commented on #1800
Hi @anthkris, would you like to try this one?

[2016-08-06 06:42] souravbadami commented on #2334
@seanlip -- Updated.

[2016-08-06 09:47] souravbadami opened #2337 "There's no option to edit the content text of a fallback."
![fallback](https://cloud.githubusercontent.com/assets/11073943/17456052/95c2904a-5be8-11e6-8237-9b955538b889.gif)

There should be an option to edit the text of a fallback.

[2016-08-06 13:02] Arunabh98 commented on #2230
Any updates on this?

[2016-08-06 13:14] Arunabh98 commented on #2224
What does link not active mean?

[2016-08-06 13:25] Arunabh98 commented on #1964
Is it better to hide the overflowing content or extend the black portion to include the whole link?
P.S I don't know what to call the black portion.

[2016-08-06 13:29] Arunabh98 commented on #1799
Could I work on this issue?

[2016-08-06 13:38] souravbadami commented on #1799
@Arunabh98 -- Sure, Assigned you!

[2016-08-06 13:57] TruongKim commented on #2309
@seanlip Sure thing!!

[2016-08-06 13:58] TruongKim commented on #2309
Is that an existing issue or will you make a new one?

[2016-08-06 16:04] anthkris commented on #1800
I'll get to work!

[2016-08-06 20:23] #2301 closed

[2016-08-06 20:27] seanlip commented on #2309
Hi @TruongKim, let's keep all of it in this issue. I've modified the description accordingly; thanks!

[2016-08-06 20:29] seanlip commented on #1964
That's a good question! I think, past a certain point, it would make sense to truncate the middle part of it, like in the gmail compose editor.

[2016-08-06 20:30] seanlip commented on #2224
It means that the "Featured Explorations" header should not be a link, and that nothing should happen when clicking on it.

[2016-08-07 04:53] seanlip commented on #2334
Hm, that error is unreadable...

Is this in develop? If not, is this bug reproducible in develop? It might have been fixed since, though I'm not sure...

[2016-08-07 06:01] seanlip commented on #2337
Hi @souravbadami, thanks for reporting this! It looks like a serious regression, and I've supplied a fix in #2343. Could you take a look?

Thanks!

[2016-08-07 07:38] #2337 closed

[2016-08-07 08:42] #2293 closed

[2016-08-07 19:21] edallison commented on #1858
@seanlip Sorry I've been very busy. I haven't made any progress other than reading and trying to understand the existing code.  I think this issue is out of the scope of my available time at the moment and I'd probably be better suited for smaller projects right now.

[2016-08-07 22:42] TruongKim commented on #2309
I haven't run any checks, I just want to check if I'm on the right path. Is this what I was supposed to do? in setup.sh, I just change the line '''install_node_module protractor 3.3.0''' to 4.0.2

[2016-08-07 22:42] TruongKim commented on #2309
![oppia](https://cloud.githubusercontent.com/assets/18127284/17465802/9be87b24-5cb5-11e6-99b9-2773b75c9236.JPG)

[2016-08-07 23:12] seanlip commented on #2309
Yep. The main thing is to check that there aren't any bad side-effects from this change and that the e2e tests still run correctly.

[2016-08-08 08:02] seanlip commented on #2179
This is done, so I'm closing it. Thanks @TruongKim!

[2016-08-08 08:02] #2179 closed

[2016-08-08 08:02] seanlip commented on #2230
(De-assigning @MoultonDev due to lack of response.)

[2016-08-08 08:08] seanlip commented on #1858
OK, no worries! Thank you very much for letting us know -- I'll de-assign you from this one, and find a smaller issue that's more similar to ones you've done before.

[2016-08-08 08:09] seanlip commented on #2128
@kevinlee12 could you please break this down a bit more? What exactly should a contributor do (i.e. which images in particular should they modify, etc.?) Thanks!

[2016-08-08 08:09] seanlip commented on #2095
Closing due to no response, but @KatFrog, please feel free to reopen if you see this. We do want to address this if it's an issue, but don't have enough data at the moment to act on it.

Thanks!

[2016-08-08 08:09] #2095 closed

[2016-08-08 08:10] seanlip commented on #1964
Hi @edallison, would you like to try this one?

[2016-08-08 09:20] seanlip opened #2349 "Replies to a feedback thread should be sent to all participants of that thread."
Let's say A creates an exploration, and B submits feedback to it. When A responds to this feedback, B should get an email. Currently, I think this does not happen.

(I noticed this when looking at my notifications dashboard and wondering why I hadn't received any emails for those notifications.)

[2016-08-08 09:23] seanlip opened #2350 "On the notifications page, it should be possible to right click on a notification and open the link in a new tab."
To reproduce:
(1) Log in as user A, and create and publish an exploration. Log out.
(2) Log in as user B, and submit feedback to that exploration. Log out.
(3) Log in as an admin, go to /admin, go to the Jobs tab, start the DashboardRecentUpdatesAggregator continuous computation, and wait for it to finish at least one round. (You can stop it after that, if you like.) Log out.
(4) Log in as user A,

[2016-08-08 20:30] kevinlee12 commented on #2319
Hi @seanlip, installing `pyyaml` fixes the pyyaml issue but it is still complaining about `numpy`.

[2016-08-09 03:32] prasanna08 commented on #2349
I will start preparing doc for this.

[2016-08-09 05:32] #2259 closed

[2016-08-09 06:56] wxyxinyu opened #2354 "Languages listed in selection dropdown should be in alphabetical order"
This happens in the splash and preferences page. The languages selector dropdown should list languages in alphabetical order to make them easier to find.

[2016-08-09 07:39] #2044 closed

[2016-08-09 15:09] 526avijitgupta commented on #2332
@seanlip To get started, I believe it's safe to assume that any variable declared (on $scope or $rootScope) in uppercase is a constant -- it's value won't change during the lifecycle of the app.
Thus, it should be safe to use `::` at least for constants: https://gist.github.com/526avijitgupta/b24c7474a75e4ecb1890f71e651dd37a

[2016-08-09 18:31] seanlip commented on #2332
Yep, that seems reasonable. I suppose we just need to be a bit careful
about the case where some variable sub-element of the constant value is
actually the thing being referenced (like INTERACTION_SPECS[...])?

On Tuesday, August 9, 2016, Avijit Gupta <notifications@github.com> wrote:

[2016-08-10 00:07] billfinch commented on #2230
Hello everyone I'm new around here. Just to let know that I'm looking into this issue.

[2016-08-10 00:25] wxyxinyu commented on #2230
Hi @billfinch! Thanks for looking into this. I've just invited you to the Oppia org, and I can assign you to the issue when you accept the invitation. Please do let us know if you need any help with the issue.

[2016-08-10 07:29] seanlip opened #2357 "Make 'ddescribe' and 'iit' forbidden strings in the pre-push hook."
Sometimes, developers forget to change ddescribe back to describe, and iit back to it, when running the Karma tests.

We should forbid these strings in the pre-push hook, so that we don't accidentally run fewer tests than we should.

[2016-08-10 11:55] Arunabh98 commented on #2354
I would like to tackle this issue :)

[2016-08-10 11:57] Arunabh98 commented on #2286
It would be better if you remove me as assigned so that other people can take on this task :)
@seanlip

[2016-08-10 12:10] Arunabh98 commented on #2224
Any updates on this?

[2016-08-10 13:30] gvishal opened #2359 "No submit button in numeric input."
There is no submit button when we play "Test of expressions and interactions" at card 5.

![image](https://cloud.githubusercontent.com/assets/1708579/17580894/b5820afc-5fbf-11e6-9a48-5011c2231dd6.png)

[2016-08-10 15:48] seanlip commented on #2224
De-assigning @devndub due to lack of response.

[2016-08-10 15:49] seanlip commented on #2286
Good point; reassigned to @markhalpin. Thanks @Arunabh98!

[2016-08-10 17:31] seanlip commented on #2359
That's because you're not on the last card (see the progress dots at the top). You've already entered the answer "9", which is correct, so you've moved further on in the exploration.

(If this doesn't make sense, please let me know, and I'd be glad to clarify. I don't think this is a bug, though.)

[2016-08-10 19:36] Arunabh98 opened #2362 "The language field in the navigation bar appears below the navigation on certain zoom levels"
Steps to reproduce:
1) Load all explorations using the admin page
2) Go to http://localhost:8181/library
3) Click on view all button of any category such as 'Recently published'
4) The 'All languages' drop down in the next page appears below the navigation bar

Here is a screenshot:
![image](https://cloud.githubusercontent.com/assets/13691317/17567916/f4b04632-5f5e-11e6-813c-c8bc0a79d5d1.png)

Fur

[2016-08-10 21:01] souravbadami opened #2363 "The splash page looks a bit odd."
![screenshot from 2016-08-11 02 27 26](https://cloud.githubusercontent.com/assets/11073943/17570736/49ea5924-5f6b-11e6-9791-e5d18418c93f.png)
![screenshot from 2016-08-11 02 27 28](https://cloud.githubusercontent.com/assets/11073943/17570737/4a1b79be-5f6b-11e6-947a-704e7b3fbcd7.png)

The image and buttons are not aligned properly.

[2016-08-10 21:03] seanlip commented on #2363
Hm, sorry, don't understand. What did you expect?

/cc @markhalpin

[2016-08-10 21:07] markhalpin commented on #2363
The above looks correct to me...

[2016-08-10 21:12] souravbadami commented on #2363
@markhalpin -- Yes, That is absolutely correct functionality wise. But the buttons placement appears quite odd. It appears like the page isn't properly loaded (As per another user's view on visiting the site for the first time).

[2016-08-10 21:13] souravbadami commented on #2244
@seanlip -- Sorry, missed the thread. I'm on it.

[2016-08-10 21:15] markhalpin commented on #2363
@souravbadami  -- that looks like the intended placement in that particular version of the splash, unless I'm misunderstanding something (though if it looks odd aesthetically, that's a useful data point).

[2016-08-11 03:14] wxyxinyu commented on #2357
also `fit` and `fdescribe` for e2e tests.

[2016-08-11 03:15] wxyxinyu commented on #2354
thanks @Arunabh98! Could you also add a comment in the code telling future contributors to put them in alphabetical order?

[2016-08-11 03:55] BenHenning commented on #2207
I thought this was addressed after we defaulted the repo to using LF. Just to confirm, does this still happen?

[2016-08-11 04:00] BenHenning commented on #2335
If this is on oppia.org, can you provide the date and ID of the exploration so we can look it up in the prod server logs and see what the exception is?

Tentatively marking this as a minor bug, though it might be major if a lot of people are hitting it.

[2016-08-11 04:24] gvishal commented on #2359
I happened to take the screenshot after I entered 9 and pressed enter. After a user has entered any number, he has to press enter to move ahead. Shouldn't there be any button to do so?

[2016-08-11 06:38] gvishal commented on #2324
@MAKOSCAFEE Hey, how's it going?

[2016-08-11 06:41] seanlip commented on #2359
Hm, I don't think there's one currently -- they'd generally press Enter. That said, if you think that this is confusing/suboptimal, it would be great if you could file a separate issue, and we'll discuss it with the design team. Thanks!

[2016-08-11 06:41] seanlip commented on #2359
(Oh, actually, I guess this issue can be repurposed as that. We just need a different screenshot that shows the input field.)

[2016-08-11 07:03] gvishal commented on #2359
Added the screenshot.

[2016-08-11 07:06] seanlip commented on #2359
Thanks!

[2016-08-11 13:29] Arunabh98 commented on #2224
Could I work on this?

[2016-08-11 13:35] Arunabh98 commented on #2363
I feel that 'Create your own explorations' and 'Browse our lessons' should be placed at the center of the page. It does look odd placed at the side like that

[2016-08-11 13:54] Arunabh98 commented on #2224
Any ideas on how to test this? When I reload all explorations including the collections I am not able to see the featured activities header? What can I do to get the featured activities results?

[2016-08-11 13:55] Arunabh98 commented on #2051
Hi @souravsingh :)
How's your progress going on this?

[2016-08-11 17:12] seanlip commented on #2224
Ah yes, this is a little involved.
1. Go to the admin page, and add your username to the list of moderator ids.
2. Go to the moderator page, and from there you can choose which activities to feature.

[2016-08-11 22:29] souravbadami commented on #2335
It occurred on the dev version. I'm unable to reproduce it on the latest develop branch. Closing it for now, if it occurs again, I'll add the console output to this thread.

[2016-08-11 22:29] #2335 closed

[2016-08-12 04:21] #1799 closed

[2016-08-12 04:55] seanlip opened #2365 "Dashboard tiles are not right-clickable or Ctrl-clickable"
To reproduce: create an exploration, and go to the dashboard. Right-click on the exploration tile. Although it is a link, you'll notice that it does not give you the option to open the exploration in a new tab. Ctrl-Click does not work either.

This is problematic because, if a creator has several explorations, it makes it hard for them to edit several of them at once (whilst still keeping the das

[2016-08-12 05:52] Arunabh98 commented on #2224
Thanks! Got it

[2016-08-12 08:28] seanlip commented on #2260
@526avijitgupta -- is this finished?

[2016-08-12 08:36] seanlip opened #2366 "In the exploration editor, cancelling the addition of a new rule deletes all existing rules."
To reproduce:
1. Create a new exploration.
2. Add a multiple-choice interaction (or any interaction, really).
3. Create an initial answer group, with any rule.
4. Open that answer group, and click "Add Another Possible Answer" (note that, in the code, this 'possible answer' is called a 'rule').
5. Click 'Cancel'.

This causes all the rules to disappear, and subsequently moving to a different answe

[2016-08-12 08:48] hermanbergwerf commented on #2311
FYI, I can still reproduce this bug on oppia.org. See https://www.oppia.org/explore/18rQDwrRJNkY for example (fourth or fifth slide depending on the learning path).

[2016-08-12 09:41] billfinch commented on #2230
Hello everyone when talking about the i18n json files. Is it en.json? I'm asking because I'm a little confused about it. Are there other json files? en.json is the only json file I've found under the I18nDictsTest suite. Am I mistaken somewhere?

[2016-08-12 09:43] 526avijitgupta commented on #2260
Yes. It's finished

On 12 Aug 2016 1:58 p.m., "Sean Lip" <notifications@github.com> wrote:

[2016-08-12 09:47] 526avijitgupta commented on #2365
Duplicate of https://github.com/oppia/oppia/issues/2241

[2016-08-12 17:01] gvishal opened #2370 "Color dev server console output depending on type of request"
The dev server terminal output has the same color (white) for all types of http status codes. It will be easier if certain types of request were specifically colored, say 404 were red.

[2016-08-12 17:26] gvishal opened #2371 "Delay in angular data binding causing errors."
I observed the following errors, running the server in both dev and prod mode.

![image](https://cloud.githubusercontent.com/assets/1708579/17630956/809fcc72-60df-11e6-8fd5-1f1653104425.png)

![image](https://cloud.githubusercontent.com/assets/1708579/17630959/83f3bc9e-60df-11e6-9b04-206c5a5216e8.png)

[2016-08-12 18:08] gvishal opened #2372 "Cache html templates."
We have html pages which use jinja to interpolate dynamic content at the back-end before being sent to the user. These rendered html pages are pretty huge and consist of mostly **_static**_ content.

We have done some work to reduce its size:
1. They used to inline js scripts, now the JS is all made up of external scripts and can be cached for a long duration (#2360).
2. Extension resources were a