[2022-10-11 09:24] Sean-Zhong commented on #13162
When looking at NewSkillHandler which I am assigned to it looks like it is done. I am wondering if there is anything left for me to do or should I be assigned to another handler?

[2022-10-11 09:29] Jolah1 commented on #16258
hi @fiddyhamma, My name is Jolade, I am an Outreachy applicant, please I will like to be assigned this issue.
Thank you ma'am

[2022-10-11 09:30] sahiljoster32 commented on #13162
Hi @Sean-Zhong, I have assigned you `SkillDescriptionHandler`. Don't hesitate if you need some help!
Thanks!

[2022-10-11 09:44] AdaezeEgwuonwu opened #16261 "Typographical error("bout") on the introduction card of "parts of multiplication expressions" lesson"
There's a typographical error on the introduction card of this lesson. About was typed as 'bout'

[2022-10-11 10:00] Maryann-01 opened #16262 "Text overlapping with image"
The text is placed on the image and no space between them.

To Reproduce
Steps to reproduce the behavior:
 1. Go to "Place Values"
 2. Click on "Place Values 5 Lessons"
 3. See error

Observed behavior
There is no space between the image and the text "Place Values"

Expected behavior
There should be spacing between the image and the text and no overlap.

Screenshots / Videos
![Screenshot_20221011-

[2022-10-11 10:58] AddisalemB commented on #16257
Hi @seanlip and @fiddyhamma
Not sure if it should be labeled as a new issue, so that's why I am commenting here. The same issue occurs in Addition and subtraction, Multiplication, expressions and equations, fractions and percentages.

[2022-10-11 11:42] Shivkant-Chauhan commented on #14423
The functioning seems fine to me.
@Lawful2002 PTAL!

https://user-images.githubusercontent.com/91013793/195079973-3c19428b-3d8f-4fbc-b84f-0faab9e6bdd2.mov

[2022-10-11 12:27] ghost opened #16263 "HOMEPAGE FOR EXPRESSIONS AND EQUATIONS"
Description
The homepage of the expressions and equations section has distorted alignment when viewed on my mobile phone.

Steps to reproduce the behavior:
 1. Go to 'Start lesson'
 2. Click on 'Expressions and Equations'
 3. Scroll down to 'The Commutative and Associative laws'
 4. See error

**Observed behavior**
I noticed the text doesn't properly align like the other ones

**Expected behavior*

[2022-10-11 13:04] AnitaLever-UX opened #16264 "Inconsistent padding between UI elements"
**Bug description**
The text is overlapping the hero section and no space (padding) between them.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to 'https://www.oppia.org/'
 2. Click on the 'Learn dropdown on the navbar'
 3. Select 'Basic Mathematics'
 4. See the error

**Observed behaviour**
There is no padding (space) between the hero section and the text "Course details" on the desk

[2022-10-11 13:46] AnitaLever-UX opened #16265 "The Exploration search feature is difficult to locate and understand"
**Bug Description**
The exploration search feature is difficult to locate, especially for new users navigating the screens.

**To Reproduce**
Steps to reproduce the behaviour:

Go to 'https://www.oppia.org/learn/math'
Scroll down to the last page of the screen 'Explore More Lessons Made by the Community'
See the error

**Observed behaviour**
The exploration search feature is placed at the last sec

[2022-10-11 15:40] ShivamJhaa commented on #16097
Closing this since this was fixed in https://github.com/oppia/oppia/pull/16139

[2022-10-11 15:40] ShivamJhaa commented on #16099
Closing this since this was fixed in https://github.com/oppia/oppia/pull/16139

[2022-10-11 15:40] #16099 closed, assigned to ShivamJhaa

[2022-10-11 15:40] ShivamJhaa commented on #16101
Closing this since this was fixed in https://github.com/oppia/oppia/pull/16139

[2022-10-11 15:40] #16101 closed, assigned to ShivamJhaa

[2022-10-11 15:45] vojtechjelinek commented on #13956
This was finished in #15441

[2022-10-11 15:45] #13956 closed, assigned to nobody

[2022-10-11 15:54] ShivamJhaa commented on #16096
Closing since this is no more reproducible.

[2022-10-11 15:54] #16096 closed, assigned to nobody

[2022-10-11 16:34] aaryan-verma commented on #16262
I can fix this issue. Pls assign it to me

[2022-10-11 16:36] aaryan-verma commented on #16257
I can fix this issue. Pls let me work on it.

[2022-10-11 16:37] aaryan-verma commented on #16251
I can fix this. Pls let me work on it.

[2022-10-11 16:39] aaryan-verma commented on #16180
Can this issue be assigned to me ? I think i can fix it.

[2022-10-11 16:42] aaryan-verma commented on #16075
I can fix tihs issue. Pls assign it to me.

[2022-10-11 16:43] aaryan-verma commented on #16069
Let me work on this issue. I can fix it.

[2022-10-11 18:03] gnurris commented on #8015
Not sure if this issue is still active, but I would love to work on it! Please assign me to some files if it is active still!

[2022-10-11 18:52] seanlip commented on #8015
@gnurris Go for it! Per Kevin's comment, it's not clear which files are done; if you find files that are done, could you please just leave a comment on this thread with a link to the corresponding code? Then we can check them off.

For the others, feel free to pick a file that's not done and work on it. Thanks!

[2022-10-11 19:40] aks681 commented on #8705
@seanlip Oh, I think this was reassigned later on to the contributor dashboard team. I don't know what the current status of this is.

[2022-10-11 20:31] seanlip commented on #8705
OK, thanks! I double-checked and I think this is done -- translations for interaction components show up in the editor translation tab. Closing as completed.

[2022-10-11 20:31] #8705 closed, assigned to nobody

[2022-10-11 21:00] seanlip commented on #16263
Thanks @Jennyernest15. This is a duplicate of https://github.com/oppia/oppia/issues/16263, so I'm closing it.

[2022-10-11 21:00] #16263 closed, assigned to nobody

[2022-10-11 21:00] seanlip commented on #16257
See also #16263 which shows this happening for Expressions and Equations:

![image](https://user-images.githubusercontent.com/115377358/195089219-ca2e85a3-4b59-4ee3-927c-3834ab5e5369.png)

[2022-10-11 21:01] seanlip commented on #16257
@aaryan-verma -- please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) to get started with contributing, don't just comment on all the issues. Thanks!

[2022-10-11 23:07] feymon opened #16270 "Sign up button should be created on the oppia Web App"
<!--
A Sign-up button/link should be created on the website for accessibility purposes.
 Users might have a difficult time looking for a way to sign up on the website and might give up, making them miss out on
![Screenshot (59)](https://user-images.githubusercontent.com/30472367/195213599-5ddcbcb7-59d2-4677-aeda-ce072ba30c7e.png)
 learning from such an amazing platform.
![Screenshot (58)](https://

[2022-10-11 23:59] kevintab95 commented on #11471
From the issue description, it sounds like we will get rid of a manual step that release coordinators have to do currently. So, I would say this issue is worth fixing.

[2022-10-12 00:03] EricZLou opened #16272 "RTE Descriptions Are Not Being Loaded / Displayed"
**Describe the bug**
The RTE tag descriptions in the exploration editor that are usually loaded from `rich_text_components_definitions.ts` are no longer being loaded.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to exploration editor in dev server.
 2. Click on any RTE tag.
 3. See error

**Screenshots / Videos**
<img width="400" alt="image" src="https://user-images.githubusercontent.

[2022-10-12 00:16] EricZLou commented on #16272
I just checked `develop` branch history, and https://github.com/oppia/oppia/pull/16123 is the source of the bug. PTAL @Rijuta-s

[2022-10-12 00:16] seanlip commented on #16261
Thank you very much for reporting, @AdaezeEgwuonwu! This is now fixed on the website.

[2022-10-12 00:16] #16261 closed, assigned to nobody

[2022-10-12 00:18] goldberl commented on #7712
I have tried to replicate the issue in Oppia ver 3.2.8 on a Windows machine, and it appears that there is now a 20 character limit to the continue button label. I suggest that this issue should be closed.
![image](https://user-images.githubusercontent.com/76408777/195221072-e02c392f-7113-4425-8751-72cdb42c7cb0.png)

[2022-10-12 00:26] seanlip commented on #11471
OK, thanks @kevintab95! Sounds good.

@vojtechjelinek, would you be able to do this, please (if straightforward)?

[2022-10-12 00:27] seanlip commented on #7712
Thanks @goldberl! I agree with you that this can be closed for the reason you mention.

[2022-10-12 00:27] #7712 closed, assigned to iamprayush

[2022-10-12 02:21] KolliAnitha opened #16274 "In Ratio Expression input customization dialog box, on trying to change the value for the dropdown by clicking on the arrow buttons then the numbers keep going until stopped"
**Describe the bug**
In Ratio Expression input customization dialog box, on trying to change the value for the dropdown by clicking on the arrow buttons then the numbers keep going until stopped

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator Dashboard' - Click on Create Exploration
2. Click on 'Introduction' - Select Insert Ration Expression Input under Math tab
3. Click on

[2022-10-12 03:54] DubeySandeep commented on #6901
This is no more needed as this part is covered in the project of "Refactor translation structure" where we are adding next_content_id_index  in Translatable entities like Exploration and Question. One of such PR can be found here: https://github.com/oppia/oppia/pull/15518

[2022-10-12 03:54] #6901 closed, assigned to DubeySandeep

[2022-10-12 04:14] Maryann-01 opened #16275 "Overflowing texts"
The texts are overflowing the container instead of being wrapped around for long texts.

To Reproduce
Steps to reproduce the behavior:
 1. Go to The Math lessons
 2. Click on 'Ratios and Proportional Reasoning'
 3. Click on "Chapter 1:What is a Ratio?"
 4. Scroll down to The 19th Slide
 5. See error

Observed behavior
The texts are oveflowing it's container

Expected behavior
Long texts are expect

[2022-10-12 04:54] SubhashThenua commented on #16180
@Lawful2002 Can I work on this issue?

Thanks!

[2022-10-12 06:08] Audrey-me opened #16278 "ERROR ON SIGNING IN"
**Describe the bug**
I tried signing in but then on putting different usernames an error pops up either that the username has been taken or there should not be a space within the username which is fine.
currently, I have inputted another username and I am neither getting an error nor being allowed to move to the next page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to  'https://www.

[2022-10-12 07:04] ghost opened #16279 "GRAMMAR ERROR"
**Describe the bug**
Thu use of the word "learned" instead of "Learnt"

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Expressions and equations'
 2. Click on 'Commutative and associative laws'
 3. Scroll down to First story and First test.
 4. See error

**Observed behavior**
Grammatic error in body text. "As she set the table, she thought about what she had "learned" about how to e

[2022-10-12 07:44] richard-johansson commented on #13162
Hello @Nik-09! I have some problem with testing my implementation (part 5 [here](https://github.com/oppia/oppia/wiki/Schemas#debugging-tricks)). I used Postman and sent a POST request to the url

http://localhost:8181/topic_editor/create_new?name=Topic_name&abbreviatedName=name-one&description=Topic_description&filename=test_svg.svg&thumbnailBgColor=%23C6DCDA&url_fragment=name-one&page_title_fragm

[2022-10-12 07:53] seanlip commented on #16270
Hi, I'm afraid I don't understand what the issue is, and there is no description provided. So I am closing this as not actionable, especially since there is already a sign-up button on the app.

In the future, please follow the template provided for reporting an issue. Thanks!

[2022-10-12 07:53] #16270 closed, assigned to nobody

[2022-10-12 07:55] seanlip commented on #16279
Hi @Jennyernest15, thank you for reporting this issue. A quick search online suggests that ["learned" and "learnt" are both valid](https://www.thesaurus.com/e/grammar/learnt-vs-learned/), so I don't think that a change is necessary here unless we see direct evidence that learners are confused by it.

[2022-10-12 07:55] #16279 closed, assigned to nobody

[2022-10-12 07:56] AddisalemB commented on #16251
The same thing happens with Chapter 4 and Chapter 5 of the place value lessons.

[2022-10-12 08:02] seanlip commented on #16251
Hi @nithinrdy, could you PTAL at this? On looking at the issue I have a feeling that it might relate to the congratulations animation, but it's probably worth confirming (I'm not 100% sure).

@Olivia529 @AddisalemB A screen recording showing the issue would be very helpful, if possible. Thanks!

[2022-10-12 08:14] Jolah1 commented on #16275
Hello i am an outreachy applicant, please i would like to work on the issue
Thank you.

[2022-10-12 08:14] AddisalemB commented on #16251
https://user-images.githubusercontent.com/115363259/195287937-c99a33c1-7abf-44d1-9006-9134a5c95f4c.mp4

Screen Recording of Chapter 5 of Place Value lesson.

[2022-10-12 08:17] AddisalemB commented on #16251
Screen Recording of Chapter 5 of Place Value lesson.

https://user-images.githubusercontent.com/115363259/195288950-7758e088-4c77-4114-ac62-72b624e2657f.mp4

[2022-10-12 08:29] nithinrdy commented on #3608
Removing a user from the collaborator role doesn't get rid of the exploration card from their creator dashboard.

However, if the user proceeds to click on the exploration, although they are taken to that particular exploration, they are not allowed to edit it until they are added back as a collaborator:

(no buttons that allow editing)
![image](https://user-images.githubusercontent.com/78612244/1

[2022-10-12 08:31] seanlip commented on #16251
Thanks @AddisalemB.

Also one question. This only happens on some lessons and not others (e.g. it doesn't happen on chapters 1-3)?

[2022-10-12 08:40] AddisalemB commented on #16251
Yes, Just on chapters 4 and 5. And sometimes, it disappears quicker than the recording shows.

[2022-10-12 08:45] Nik-09 commented on #13162
As per the error message, the handler class received an argument (topic_id) that is not expected, basically schema for topic_id is missing.

If writing schema does not work, then let me know we can hop a short call for solving this issue asap.
Thanks!

[2022-10-12 09:31] Olivia529 commented on #16251
Here is a link to a screen recording of the bug in chapter 4 of the division lesson.
https://www.loom.com/share/3588a6c36ce6440eb967993e209d8a24
I noticed the bug on chapters 4 and 5 of this lesson. Chapters 1-3 did not have this bug. @seanlip

[2022-10-12 09:47] AddisalemB opened #16282 "Place Value Chapter 2 Wrong Voice over Translation in English"
**Describe the bug**
The voice-over skips over nine tens of thousands and reads it as a million.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Place Value...'
 2. Click on 'Chapter 2....'
 3. Go to 'the screenshotted card...'

**Observed behavior**
The voiceover incorrectly says a million instead of 9 tens of thousands.

**Screenshots / Videos**
![image](https://user-images.githubu

[2022-10-12 09:57] AddisalemB opened #16283 "Buttons Overlap"
**Describe the bug**
The Listen button and the language preference button overlap.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Place values...'
 2. Click on 'Chapter one ....'
 3. See the error on the top side of the screen

**Observed behavior**
The listen button can not be pressed as the language preference is on top of the listen button.

**Expected behavior**
The voice-over b

[2022-10-12 10:08] ShivamJhaa opened #16285 "E2E Flake: There is more than 1 Finish button!"
[code]
**ExplorationTranslationTab**: https://github.com/oppia/oppia/actions/runs/3231959125/jobs/5292040949

[2022-10-12 11:51] gnurris commented on #8015
After briefly going through the files under "completed" which are not assigned, it seems that these are complete:
- **skill-backend-api.service.ts**:  Domain objects are created from dict **several times** in resolve for different requests. Example: https://github.com/oppia/oppia/blob/8e045b3c213bcb0e56ade0379e97bc124eb3c1a5/core/templates/domain/skill/skill-backend-api.service.ts#L88-L89

- **adm

[2022-10-12 11:57] vojtechjelinek commented on #11471
To do this before a job is run it is pretty straightforward. To do this after a deploy it would be a bit more complicated and I would do it as part of my migration to GH Actionas.

[2022-10-12 12:35] Judith0001 opened #16287 "[BUG]: NO EQUAL TO SIGN "=" IN POP UP KEYBOARD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The fixed pop up keyboard  doesn't contain an "equal to" sign (=) to help in inputing answers.

### Steps To Reproduce

Go to " EXPRESSIONS AND EQUATIONS" TOPIC
Click on Lesson 2 "THE CUMMUTATIVE AND ASSOCIATIVE LAWS"
Scroll to the question “Try this one. Can you use the commutative law to wr

[2022-10-12 13:45] jonlake5 opened #16288 "Expected test coverage vs observed test coverage"
One thing I have just experienced, is that the needed coverage has increased greatly when I run the tests and generate coverage.
For example I had been writing tests and coverage needs were: 1119, 1123, 1219->exit, 1292-1301, 1309-1318, 1569, 1607->exit, 1653-1659, 1675-1678, 1694-1696, 1720-1733,
1755-1765, 1777-1780, 1797, 1809-1810, 1829, 1846, 1857, 1868, 1980-1986, 1999-2002, 2035-2038

I don

[2022-10-12 15:23] JayVivarekar commented on #15968
@NPDebs @gnurris @sambhavgupta0705 @Dwarfstar-099 All files are assigned right now. Will assign something if any of them open up.

[2022-10-12 15:35] U8NWXD commented on #16192
Are there any errors farther up? This message usually means that the coverage report was malformed

[2022-10-12 15:52] U8NWXD commented on #4835
Closed since we'll have to do manual work either way to check the translations per @seanlip

[2022-10-12 15:52] #4835 closed, assigned to nobody

[2022-10-12 15:52] seanlip commented on #4835
(For future reference: @gp201 notes that this could be done using something like https://cli.github.com/manual/gh_pr_create. But unfortunately, as @U8NWXD says, manual work is needed either way.)

[2022-10-12 17:09] benharvie opened #16292 "Who to contact for security issues"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@sim4n6) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a securit

[2022-10-12 17:12] seanlip commented on #16288
Thanks for filing, @jonlake5!

@U8NWXD @IamEzio could you PTAL?

[2022-10-12 17:21] seanlip commented on #16292
Hi @benharvie -- thanks a lot for writing in! Great timing; we were actually just discussing this (setting up a vulnerability disclosure process) about an hour ago :) Assigning this to @U8NWXD since it's something he's looking into.

For the actual issue, would you please send it to admin@oppia.org for now? We do currently mention it in our [README](https://github.com/oppia/oppia#support) but I ag

[2022-10-12 17:51] NPDebs commented on #15968
Sure. 😓

[2022-10-12 18:52] seanlip commented on #16258
Thanks for reporting this, @fiddyhamma. This is now fixed on the website, and will show up in the Android app when a new version is released in the future!

[2022-10-12 18:52] #16258 closed, assigned to nobody

[2022-10-12 19:44] rohitnandi12 commented on #15968
@JayVivarekar You can assign the files to someone else. Due to other commitments, I will not be able to complete this task.

[2022-10-12 21:41] SubhashThenua commented on #16283
@AddisalemB  Can i work on this issue?

Thanks!

[2022-10-12 22:25] fiddyhamma commented on #16258
Glad to help

[2022-10-13 00:06] Biieba opened #16294 "[BUG]: Link takes me to WHO site"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In "Place Value" Lesson 2 on desktop version a clickable picture appears at the top of the page and when clicked, it open World Health Organization page

### Steps To Reproduce

In Chapter 1 "Place Value "Lesson  2.
Click the picture of the animal with glasses on

### Expected Behavior

I tho

[2022-10-13 03:38] seanlip commented on #16283
Sure @SubhashThenua. Go for it!

Make sure to include a video in your PR of the large and small screens (show the behaviour on resizing). Thanks!

[2022-10-13 04:45] IamEzio commented on #16288
Thanks @jonlake5. Never faced this one before. I'll try to reproduce it on my machine and look for a potential cause. In case it happens again, please update the issue description with the necessary screenshots and we can try to solve it together.

[2022-10-13 05:57] seanlip commented on #8015
Thanks @gnurris! I checked and I think the second one is admin-backend-api.service.ts, I updated the original description. For the first one, there still seem to be some dicts (e.g. just below the code you linked).

So I think all remaining files are fair game. Feel free to pick any of them! Let us know which one(s) you pick so that we can add you in the issue description.

[2022-10-13 05:58] seanlip commented on #3608
Thanks @nithinrdy! Let's leave this issue open then. I think the remaining things that need to be done are:

- When a user is removed, send an email to notify them.
- When a user is removed, remove the exploration from their creator dashboard and remove their "subscription" to notifications from the exploration.

[2022-10-13 06:03] sambhavgupta0705 commented on #15968
@JayVivarekar can you please assign those files to me?

[2022-10-13 06:42] seanlip commented on #15968
@nithinrdy this isn't actually completed, any reason you closed it?

[2022-10-13 06:43] seanlip commented on #16251
Thanks @Olivia529.

I think the most likely cause of this is something to do with either congratulation messages or checkpoints. @nithinrdy @paprajapati9 could you PTAL at this and help root-cause it? Thanks!

[2022-10-13 07:48] AdaezeEgwuonwu opened #16296 "Grammatical error in chapter 1 of "Expressions and equations""
The card reads "the arrangement didn't kept the..." instead of, "the arrangement didn't keep the...". Find attached a screenshot.

![Screenshot (52)](https://user-images.githubusercontent.com/96106721/195533957-ce43be13-1bb3-4078-a4ce-ab9278e08854.jpg)

[2022-10-13 07:57] nithinrdy commented on #15968
My bad, that was by mistake.

[2022-10-13 08:07] seanlip commented on #16296
Thanks for catching this, @AdaezeEgwuonwu. This is fixed!

[2022-10-13 08:07] #16296 closed, assigned to nobody

[2022-10-13 09:09] Jam-Burger commented on #16075
I would like to fix this issue

[2022-10-13 11:42] amitpanwar789 commented on #15149
I want to work on this issue. can anyone assign it to me.

[2022-10-13 11:51] ShivamJhaa commented on #16095
Debugging Doc: https://docs.google.com/document/d/12aRGf3KdpOXXduw4g2j6pN8R3uxetb4oOp5T9w2Q0rI/edit#heading=h.jl2gn54iqprw

[2022-10-13 12:05] Lawful2002 commented on #16020
@heyimShivam @sagangwee Is (1) still reproducible?

[2022-10-13 12:06] Lawful2002 commented on #11841
Closing this issue as the project is completed.

[2022-10-13 12:06] #11841 closed, assigned to Lawful2002

[2022-10-13 12:45] ShivamJhaa commented on #16224
Closing this since this was fixed in https://github.com/oppia/oppia/pull/16225

[2022-10-13 12:45] #16224 closed, assigned to nobody

[2022-10-13 13:54] vojtechjelinek opened #16298 "Move INCOMPLETE COVERAGE at the bottom of the summary"
The `INCOMPLETE COVERAGE` is sometimes at the top of the `SUMMARY OF TESTS` ([example](https://github.com/oppia/oppia/actions/runs/3183968657/jobs/5191826081), also at the bottom `All tests passed.` is shown which makes it confusing for new contributors (I have heard two people already asking me about this).

Would it be possible to move some warning about this at the bottom of the test results? O

[2022-10-13 14:14] vojtechjelinek opened #16300 "Refactor the RTL css generation to add RTL CSS to the original CSS files instead of creating a new rtl CSS file"
Right now we generate separate versions of CSS files for RTL from the normal LTR versions in the webpack process (and soon in the Angular build too).

This creates multiple problems:
1. We need separate handling of the CSS files in multiple places.
2. In Angular build we need to run the build twice in order to get the RTL version.
3. Reloading to RTL requires page refresh.

In order to solve this

[2022-10-13 14:24] gnurris commented on #8015
I see, thanks for the clarification! I will try my hand at ```core/templates/domain/skill/skill-backend-api.service.ts``` then! @seanlip

[2022-10-13 16:11] heyimShivam commented on #16020
@sagangwee PTAL

[2022-10-13 17:10] vojtechjelinek opened #16301 "Codebase structure refactor"
Finish the [codebase structure refactor design doc](https://docs.google.com/document/d/1UyXXuGmQX0oAciHiQDZqY2CgRC0BbG9whh2ob7ucmfE/edit#heading=h.vy93l22fund).

Connected issues #14044 and #10501

[2022-10-13 17:20] sahiljoster32 commented on #13162
Hi @vinayp173 @Nivig1310 @JianyiGao and @yavik-kapadia, I have de-assigned some files from you because we didn't have any update from your side. Please let me know if you are still working on it, I'm happy to assign them again Thanks!

[2022-10-13 17:52] vojtechjelinek opened #16302 "Rename _gae_models.py_ to models.py"
Our models are no longer Google App Engine models, they are NDB models (or internally Firestore I think).

All files in the subfolders of core/storage are named _gae_models.py_, I think we should just rename the to _models.py_ for simplicity.

[2022-10-13 18:23] vojtechjelinek opened #16303 "Start using `put_as_human/bot()` everywhere"
Currently we use `update_timestamps()` in many places of the codebase to ensure that we are correctly updating the `last_updated` and `created_on`. This is quite ineffective and should preferably be handled in some other way.

We also already have `BaseHumanMaintainedModel` available.

[Design doc for this issue](https://docs.google.com/document/d/1Qw_IutqdF7azUgmtu5qLyFDJJACmlgalbDts9aep4GA/edit#

[2022-10-13 18:35] EshaanAgg commented on #10616
@Hudda Can you please assign me `@typescript-eslint/prefer-includes`?

[2022-10-13 20:10] Maryann-01 commented on #16262
Hi @aaryan-verma ,I do not think I am the one to assign issues. I think you should ask @seanlip ,our mentor.

[2022-10-13 21:51] PietroFracCab commented on #12912
@vojtechjelinek ,  PTAL.
I'm needing some guidance on this problem, if you can help or indicate another place to post this, I will appreciate!

**Checklist**
- [ x] I have filled the [CLA](https://goo.gl/forms/AttNH80OV0) and the [Oppia Contributor Survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3)
- [ x] I have setup Oppia locally (verified by running `python -m scripts.start`)

**System Information

[2022-10-14 00:35] won369369 commented on #5886
Does anyone still have this error behavior?

[2022-10-14 02:56] KolliAnitha opened #16307 "[Suggestion] Search is not required in the Sort dropdown in Topics and Skills dashboard"
**Describe the bug**
Search is not required in the Sort dropdown in Topics and Skills dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills dashboard
 2. Click on Sort dropdown
 3. Search box is seen with 4  options
 4. See error

**Observed behavior**
Search filter is seen for 4 options

**Expected behavior**
Search filter is not required as there are only 4 opt

[2022-10-14 03:20] Lawful2002 commented on #16020
1) Tabs look fine.
2) Was fixed by #16025
3) Was fixed by #16103

[2022-10-14 04:06] gp201 opened #16308 "Installation failures when Downloading from GitHub in Github Actions"
## Stacktrace

Given below is a list of stack traces from Github Actions installation failures.

[code]
[code]

## Complete Log

1. https://github.com/oppia/oppia/actions/runs/3245268106/jobs/5322902502
2. https://github.com/oppia/oppia/actions/runs/3286483003/jobs/5414641076

## Additional Information

## Debug Doc

[2022-10-14 04:22] MaryAyobami commented on #15986
Hello @seanlip
I'm an outreachy applicant and I'd love to contribute to this issue

[2022-10-14 06:58] seanlip commented on #8015
Thanks @gnurris! Sounds good, I've assigned you.

[2022-10-14 07:13] walnuthanhan commented on #13769
Hello, I have recently tried replicating the issue in Oppia on machines with Ubuntu and Windows in the Chrome browser, and I could not find the bug. Should we consider closing this issue?

[2022-10-14 07:16] seanlip commented on #13769
I agree this can be closed (I've verified too). Thanks @walnuthanhan!

[2022-10-14 07:16] #13769 closed, assigned to nobody

[2022-10-14 07:43] walnuthanhan commented on #10923
Hello, I have tried replicating this issue using Chrome in Windows, but all of the fractions in the exploration activity work fine. As mentioned above, it may have been a duplicate of issue [#10638](https://github.com/oppia/oppia/issues/10638), which was fixed with [#10752](https://github.com/oppia/oppia/pull/10752). Can we close this issue?

[2022-10-14 08:14] seanlip commented on #10923
I agree, this looks fixed now. Thanks @walnuthanhan!

[2022-10-14 08:14] #10923 closed, assigned to DubeySandeep

[2022-10-14 08:42] srijanreddy98 opened #16309 "Fix relative imports introduced #16073"
1. Relative imports: Can be found in the codebase by grepping `TODO(#16309): Fix relative imports.` Comment in the PR https://github.com/oppia/oppia/pull/16073/files#r981809906

Context: When we introduced the AoT build system we had to change 5 absolute import statements as relative paths was the only import that satisfied both the webpack and AoT build systems. When we try to use an absolute pat

[2022-10-14 15:28] AnuragVats007 commented on #13647
@MNSDivya Can you help me in identifying the file/code responsible for the issue.

[2022-10-14 16:25] JayVivarekar commented on #15968
@NPDebs @gnurris @sambhavgupta0705 Assigned one file to each of you.

[2022-10-14 19:20] seanlip commented on #16069
Thanks @aaryan-verma. Can you provide a rough outline (in this comment) of how you would fix it? You might find https://github.com/oppia/oppia/wiki/Find-the-right-code-to-change helpful to figure out where to get started.

If you can provide that in this conversation thread, and it looks sensible, then I would be happy to assign you the issue. Thanks!

[2022-10-14 21:57] abhishek-sultaniya commented on #14219
@IamEzio  I would like to work on core.domain.collection_domain_test . Please assign me that.

[2022-10-14 22:43] Carrara1 commented on #10616
Hello, @Hudda! Couldyou assign me `@typescript-eslint/no-type-alias"`?

[2022-10-15 02:31] #16119 closed, assigned to Shivkant-Chauhan

[2022-10-15 03:10] IamEzio commented on #14219
@abhishek-sultaniya done!

[2022-10-15 03:41] gp201 opened #16313 "FE Flake: undefined (reading 'slice')"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  684
## Complete Log

https://github.com/oppia/oppia/actions/runs/3254070703/jobs/5341938259

## Debug Doc

The error seems to be caused by the following test:

https://github.com/oppia/oppia/blob/1dc3086262e4aa93a1788a08876c784191325324/core/templates/pages/blog-home-page/tag-filter/tag-filter.component.spec.ts#L66-L99

It maybe caus

[2022-10-15 04:06] DubeySandeep commented on #16288
I'm also facing this issue i.e, unable to understand the [coverage report](https://github.com/DubeySandeep/oppia/actions/runs/3254127102/jobs/5342191322), running it locally for one file the coverage check passes!

[2022-10-15 04:26] DubeySandeep commented on #16288
@IamEzio This is blocking me to get my PR merged #15518, can you please take a look? Let me know if you need more info.

[2022-10-15 04:58] seanlip commented on #16302
I don't think we need to do this. We would need to update models/platform etc. as well and remove the platform API, but I don't think it's a big deal to keep it and I haven't heard anyone get confused about gae_models.py.

I think gae_models.py is reasonable since we are still using GAE and NDB is what it uses for models.

So I'm closing this issue, but feel free to reopen if you disagree.

[2022-10-15 04:58] #16302 closed, assigned to nobody

[2022-10-15 05:18] gp201 opened #16316 "FE Flake: Conversation skin component flake"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  375

## Complete Log

https://github.com/oppia/oppia/actions/runs/3254108506/jobs/5342112018#step:9:1351

## Debug Doc

[2022-10-15 05:21] IamEzio commented on #16288
When you run the tests locally for a single file, it checks for the per-file coverage. Since the file is currently in `backend per-file coverage exclusion list` ([backend_tests_incomplete_coverage.txt](https://github.com/oppia/oppia/blob/develop/scripts/backend_tests_incomplete_coverage.txt)), coverage tool assumes its coverage to be full.
However, the coverage checks in GitHub CI check for the ov

[2022-10-15 05:22] Kalpani90 commented on #13162
@sahiljoster32

Can't find the relevant code. Need help.

[2022-10-15 05:26] sahiljoster32 commented on #13162
Hi @Kalpani90,
can you please provide more info on what issue you are actually facing? Ah, did mean that you can't find the `QuestionPlayerHandler` class.

Thanks!

[2022-10-15 05:35] gp201 commented on #16316
@ashutoshc8101 PTAL

[2022-10-15 05:49] Kalpani90 commented on #13162
How do I find the oppia code base? Before that do I need to create a new
branch for the project?

On Sat, Oct 15, 2022 at 10:57 AM sahil jhangar ***@***.***>
wrote:

[2022-10-15 06:19] ShivamJhaa commented on #16102
Closing this since this was fixed by PR https://github.com/oppia/oppia/pull/16237

[2022-10-15 06:19] #16102 closed, assigned to ShivamJhaa

[2022-10-15 12:57] Maryann-01 opened #16317 "Errors in translation"
Describe the bug
The English translator misread two different numbers.

To Reproduce
Steps to reproduce the behavior:
 1. Go to the "Place Values" lesson
 2. Click on 'What are the Place Values?
 3. Scroll to Card 13 and card 14 play the English translator's audio.
 4. See error

Observed behavior
1. For card 13-The English reader misread the number “82345” as “12345” and this will cause confusion

[2022-10-15 13:37] munamenuga opened #16318 "SPELLING & GRAMMAR ERROR ON FRACTIONS: CHAPTER 1"
**Describe the bug**
- Mathew brings up the bakery in the text using wrong grammar and the use of a past tense which isn't necessary and complicates the sentence, "He had passed a bakery earlier that day with a very yummy-looking coconut cake in the window.
- The use of the wrong spelling during Mr. Baker introduction, "My name's Mr. Baker".
- Mathew describes the cake he wants using wrong grammar

[2022-10-15 14:20] Marie-PM opened #16319 "Submit button doesn't work on mobile when typing in numeric expression input"
- [x] Issue has not been addressed before

BUG DESCRIPTION
After typing in an answer with the pop-up calculator, the 'submit' button is clicked on but rather that moving to the next page, it keeps redirecting to 'type in answer'. This happens at least three times before it proceeds to the next page

TO REPRODUCE:

 1. Go to 'DIVISION'
 2. Click on 'WHAT IS DIVISION (Chapter 1 )'
 3. Scroll down to

[2022-10-15 15:19] Maryann-01 commented on #16275
Hi ,I believe you could work on it then inform @seanlip

[2022-10-15 16:43] tanmaypradhan4112 commented on #16294
The animal icon indicates or gives a message to the kids to wear masks. But I agree it might confuse users with some other function.
The animal icon should be highlighted as "reminding to wear a mask".

[2022-10-15 18:30] sahiljoster32 commented on #13162
Ahh, really sorry @Kalpani90. But I'm still not able to get the problem. Are you stuck with the installation of the oppia codebase. Basically, I'm confused by this line `How do I find the oppia code base? `

[2022-10-16 06:08] shaan2610 commented on #16180
Can I work on this issue?

[2022-10-16 09:13] seanlip commented on #16292
@benharvie Just to follow-up, we haven't received communication about the issue yet.

[2022-10-16 09:14] Bennykillua opened #16324 "Enter key doesn't submit the answer in math expression input"
**Describe the bug**
The "Enter" key on the keyboard doesn't work in some lessons.

In most questions, you write the answer, and you can hit the "Enter" key on your keyboard. However, this doesn't work in some questions like the Chapter 2: What Multiplication Means lesson.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [the Oppia platform](https://www.oppia.org/learn/math/multiplicat

[2022-10-16 19:56] Sim4n6 commented on #16292
Hi everyone, the report is in [here](https://huntr.dev/bounties/dee45e33-f0b2-417b-842f-e5d9081c8e38/). Have a nice day

[2022-10-16 20:40] alisohaila commented on #12912
@vojtechjelinek can I please get assigned to `consider-using-with`? Not sure if it's taken by someone else or not. Thanks!

[2022-10-16 20:52] alisohaila commented on #14219
@IamEzio can I please get assigned to `core.domain.image_validation_services_test`? Thanks.

[2022-10-16 22:58] seanlip commented on #16292
Hi @Sim4n6, thanks -- would you please report it to admin@oppia.org as stated in the README? Thanks very much.

[2022-10-16 23:28] seanlip commented on #16294
Thanks for reporting this!

We added this during COVID (in 2020) when it was still a new thing. Now that everyone knows about this, I think we can probably go back to the old otter (which wasn't wearing a mask) and remove the hyperlink, so perhaps let's do that for the purposes of this bug.

For this issue, the only thing that needs to be removed in the codebase is the hyperlink to WHO. I can fix

[2022-10-16 23:29] seanlip commented on #16319
Hi @Marie-PM, thanks for reporting this. I can't quite tell what's happening from the image. Could you perhaps provide a screen recording to show the behaviour?

Thanks!

[2022-10-17 02:23] alisohaila commented on #14219
* [ ] core.domain.image_validation_services_test @alisohaila

[2022-10-17 03:08] IamEzio commented on #14219
@alisohaila done!

[2022-10-17 05:28] Kalpani90 commented on #13162
I'm done with installation. I want to find the specific code to edit.

On Sun, 16 Oct 2022, 00:00 sahil jhangar, ***@***.***> wrote:

[2022-10-17 05:39] KolliAnitha opened #16329 "In customize interaction (World map) dialog box, the text boxes for latitude, longitude and zoom are taking text as input. Error message should be displayed while saving the interaction with alphabets"
**Describe the bug**
In customize interaction (World map) dialog box, the text boxes for latitude, longitude and zoom are taking text as input. Error message should be displayed while saving the interaction with alphabets

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to  'Creator Dashboard' - Click on Create Exploration
 2. Click on 'Introduction' - enter text and save
 3. Click on Int

[2022-10-17 06:00] seanlip commented on #16292
Confirming that we have received the report. Thanks!

[2022-10-17 06:27] KolliAnitha opened #16330 "Unable to save voice artists to an exploration"
**Describe the bug**
Unable to save voice artists to an exploration

Pre Requisite:
Voice over admin permissions should be given to the id to add voice artists to any exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator dashboard - Click on Create Exploration
 2. Click on Settings icon
 3. Scroll down to Voice artists - Click on Edit
 4. Enter any user name(Anitha172) t

[2022-10-17 07:45] sk-2809 commented on #15968
Hello @JayVivarekar @vojtechjelinek
I want to work on this issue.
Could you please assign me some task

[2022-10-17 07:56] sk-2809 commented on #15149
I want to work on this.
could you please assign it to me?

[2022-10-17 08:01] seanlip commented on #15149
@amitpanwar789 is already assigned. Please pick an issue that is not assigned.

[2022-10-17 08:12] noblesville opened #16332 "Page is not responsive"
**Describe the bug**
- Chapter 1 of percentages is not responsive.
- The webpage is not displaying.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [the oppia platform](https://www.oppia.org/explore/W50hotX4h_Up?story_url_fragment=monica-at-the-jewelry-store&topic_url_fragment=percentages&classroom_url_fragment=math&node_id=node_1)
 2. Click on Chapter 1: [What is a percentage?](https

[2022-10-17 08:15] seanlip commented on #16332
From a quick search, it seems that [the error is caused by an outdated version of the web browser or a browser extension that prevents the page from loading](https://www.wintips.org/fix-status-breakpoint-error-on-chrome-or-edge-solved/).

Could this be relevant to the issue you are facing? There are some other suggestions on that page that might be helpful.

[2022-10-17 09:15] AdaezeEgwuonwu opened #16333 "Grammatical error in Chapter 1 of Equations and expressions"
Please find attached a screenshot of the card. Here, a discount is described as a "deduction of original price" which is incorrect. This implies that the entire original amount is deducted. It should rather be "a deduction on/from/off the original price"

![Screenshot (70)](https://user-images.githubusercontent.com/96106721/196137690-6cb111cd-a01d-43c6-9d31-01557cb472fa.jpg)

[2022-10-17 13:54] siddhesh-coder commented on #16180
plz assign me this issue

[2022-10-17 15:08] Marie-PM commented on #16319
https://user-images.githubusercontent.com/113685391/196213884-d3a7d76c-a652-40b3-9396-433a07d3705c.mp4

I noticed this issue in other lessons as well

[2022-10-17 17:02] iamprayush commented on #16319
Thanks for reporting this @Marie-PM, I'll get this fixed.

[2022-10-17 17:26] Marie-PM commented on #16319
You're welcome:-)

[2022-10-17 18:11] OSETIEMORIA opened #16338 "Language Icon and Sign in Buttons overlap on Practice and Revision Tabs"
**Describe the bug**
On the topics landing page, the language icon button, sign-in button, Practice, and Revision tabs are not visible at first glance causing students to not easily locate them.

**To Reproduce**
Steps to reproduce the behavior:
   1. Go to 'oppia.org/learn/math'
   2. Click on 'Place Values Lesson card or any lesson card'
   3. See the error

**Observed behavior**
The buttons ove

[2022-10-17 21:06] Tati-luv opened #16339 "Spacing Issue"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

Chapter 1 - Introduction to Addition in oppia lessons has an extra space between two words.

### Steps To Reproduce

1. Go to the https://www.oppia.org/ website.
2. Click on https://www.oppia.org/learn/math/addition-subtraction/story lessons.
3. Go to the Chapter 1: Introduction to Addition.

[2022-10-18 04:26] #16313 closed, assigned to nobody

[2022-10-18 04:33] gp201 commented on #16313
This Issue was addressed by the revert PR https://github.com/oppia/oppia/pull/16314

[2022-10-18 05:33] gp201 commented on #15414
A simpler solution could be to take advantage of the http://karma-runner.github.io/6.4/config/configuration-file.html#crossoriginattribute to allow better reporting.

[2022-10-18 06:47] kevintab95 opened #16340 "Exception raised: Invalid story id."
This error occurred recently in production.

The URL requested was `/story_editor/null`

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps avai

[2022-10-18 06:49] seanlip commented on #16339
Hi @Tati-luv, well-spotted! This is fixed on the web server, and will be fixed on the Android app in its next release.

Thanks for reporting!

[2022-10-18 06:49] #16339 closed, assigned to nobody

[2022-10-18 07:04] KolliAnitha opened #16341 "On reopening a published exploration, Continue button interaction doesnt have the Continue button in the pane"
**Describe the bug**
On reopening a published exploration, Continue button interaction doesnt have the Continue button in the pane

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Dashboard - Explorations
 2. Click on a published exploration with Continue button in interaction pane
 3. See error
 4. Now click on the interaction pane i.e expand and collapse

**Observed behavior*

[2022-10-18 11:02] Tati-luv opened #16344 "No Scroll Forward Button For Review After Completing A Lesson."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After the completing the lesson, there is a button to scroll backwards to review but there is no forward pointing arrow button to move back and forth freely to review the lesson before proceeding to the next. The only forward arrow pointer on the page takes the student to the next lesson inst

[2022-10-18 13:33] alwasega opened #16346 "Error while inputting place value in Chapter 4: Addition and Subtraction"
**Describe the bug**
While inputting the place value of 9 in 294 (which is 9 tens), pressing 'e' clears any preceding input.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '`Adding Larger Numbers` Chapter 4 in Addition and Subtraction lesson'
 2. Proceed to 'First question: In 294, what value does the digit 9 represent? question (the answer is 9 tens or 90)'
 3. Input  '9 tens in the

[2022-10-18 16:33] Kebith opened #16348 "Spacing issue in Chapter 1 of Place Values"
Spacing issue in between "But, your score ,1489"

Effect changes to read: But, your score, 1489"
Appropriating the error

See image attached
![Screenshot 2022-10-18 at 17-30-43 What are the Place Values](https://user-images.githubusercontent.com/111491620/196489481-a520fc11-ecfb-45c9-8584-fc4b5da5c32c.png)

[2022-10-18 16:39] U8NWXD commented on #16348
@seanlip this looks like a bug in the lesson content rather than a technical bug. How do we manage tasks on the content side?

[2022-10-18 16:40] U8NWXD commented on #16200
Removing the triage label since this has been assigned to a team

[2022-10-18 16:40] U8NWXD commented on #16201
Removing the triage label since this has been assigned to a team

[2022-10-18 16:42] U8NWXD commented on #16201
@Rahul-Palahwat if you're new to Oppia's e2e tests, this probably isn't a great issue to start out with. I'd recommend the getting started instructions on our [wiki](https://github.com/oppia/oppia/wiki) instead

[2022-10-18 16:42] Kebith opened #16349 "Spelling errors in Nigerian Pidgin translation of Chapter 1 of Place Values"
Text reads “Also, , ek yu get…”

The translation in Nigerian pidgin should be corrected as “Also, if yu get paper and pen…”
Note that audio translation reads the correction I suggested as above

![Screenshot 2022-10-18 at 17-41-35 What are the Place Values](https://user-images.githubusercontent.com/111491620/196491796-296b07e1-0ccc-4c90-aa8e-211d79c1bfa8.png)

[2022-10-18 16:43] U8NWXD commented on #16218
Removing the triage label since this has been assigned to a team

[2022-10-18 16:47] U8NWXD commented on #16349
@seanlip another content bug

[2022-10-18 17:01] seanlip commented on #16348
Hi @U8NWXD, please assign these to the organization-level "Fixes for Curated Lessons" project. Thanks!

[2022-10-18 17:39] marv-tech opened #16351 "Text and header overlap."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The text prompt "Audio might not fully match text" is illegible because it overlaps with the blue header and the toggle button.

### Steps To Reproduce

1. Visit [Parts of Multiplication Expressions](https://www.oppia.org/explore/R7WpsSfmDQPV?story_url_fragment=aria-wants-to-plant-a-garden&to

[2022-10-18 17:42] paprajapati9 commented on #14423
I think this is a problem with the translation that is added for that particular exploration from the editor and not a general language related issue as it is not present in any other exploration on test server and works fine on production server as well.

[2022-10-18 17:44] paprajapati9 commented on #14423
@seanlip Can you confirm this from the editor so that we can close this issue?

[2022-10-18 17:47] paprajapati9 commented on #14423
Confirmed it that it's mistake in adding translation for English language. https://www.oppiatestserver.org/create/G8ZgSj1O4rjE#/translation

[2022-10-18 17:47] #14423 closed, assigned to nobody

[2022-10-18 20:08] lkbhitesh07 opened #16353 "Add the following backend validations for explorations"
**Describe the bug**
There are some of the backend validations remaining that needs to be added after the merging of #15861. Consists the following:
1. [ ] The `alt-with-value` attribute inside the image tag should have at least 5 characters. This only needs to be added for the curated exploration. The current errored data will be fixed manually.
2. [ ] Exploration tags should be at max 10 in numb

[2022-10-18 20:31] U8NWXD commented on #16318
I took a first pass at considering the proposed changes, but I'm not familiar with our style guidelines on the content side. @seanlip what do you think?

I think the tenses are actually correct here. If we said "he passed a bakery" that would place Matthew passing the bakery in the same past time period as when he was thinking about buying cake, but that's not what we want to say. Instead, we mean

[2022-10-18 22:27] seanlip commented on #16069
Update: @qinghaoyang will be taking this up (thanks @qinghaoyang)!

[2022-10-18 23:00] #15567 closed, assigned to ashish-patwal

[2022-10-19 00:29] gp201 opened #16356 "[FE flake] Context service flake in after all"
## Stacktrace

Though the below flake has been **resolved**, the exact cause behind it is not yet clear.

The below flake is suspected to be caused by a component that was not destroyed. ([Source](https://github.com/oppia/oppia/pull/16337#issuecomment-1282207440)). The component seems to have interfered with other tests leading to a failure.

Investigate the cause behind the flake. If this issue c

[2022-10-19 06:16] fiddyhamma commented on #16257
@seanlip I noticed this as well. The chapter is fractions, see how long the fill for **nice job** is?

![Screenshot_20221018-224858.png](https://user-images.githubusercontent.com/80991780/196611468-38d616c8-7e9e-46c4-8a80-72f91546a0e4.png)

[2022-10-19 08:26] Priyansh61 commented on #15923
@Lawful2002 PTAL

[2022-10-19 13:12] vojtechjelinek commented on #15592
I quickly looked into this and I don't think there is any simple solution, the dev server handles the installation of libraries by itself and there is no simple way of influencing it. I think when you have the libraries cached locally it can work even when offline (and the cache is enabled by default), but I cannot think of any other simple solution.

[2022-10-19 14:09] Busayo-ojo opened #16358 "The error message "Not a prefix operator" is not clear."
**Describe the bug**
Under "parts of multiplication expressions", students are asked to submit the multiplication sign, which is represented as an asterisk *, this is gotten by holding shift and number 8 down. On submitting the answer, it does not accept the * sign, and the student cannot progress further due to this error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Multiplicati

[2022-10-19 15:01] munamenuga commented on #16318
Thank you so much for your explanations @U8NWXD.

I understand that the tenses are correct but I felt the grammatical structure could be simpler and now I see that by rewording the tenses I took away attention from the main idea behind the feedback. I will edit the issue to clearly reflect my suggestion,
_"Earlier that day, he had passed a bakery with a very yummy-looking coconut cake in the windo

[2022-10-19 15:11] AdaezeEgwuonwu opened #16359 "Typo error on Chapter 2 of Expressions and equations"
There's a mistake in the last example given in th
![Screenshot (87)](https://user-images.githubusercontent.com/96106721/196730821-57039c8e-05d8-4ffc-ae1a-bd226208dd91.png)
e image. It's written as (2÷3)-5≠2÷(3÷5) instead of (2÷3)-5≠2÷(3-5)

[2022-10-19 15:43] ShivamJhaa opened #16360 "E2E Flake: Error: All Exploration summary tile is taking too long to appear"
[code]
**Publication**: https://github.com/oppia/oppia/actions/runs/3281961819/jobs/5404707427#step:17:1534

[2022-10-19 16:22] munamenuga opened #16361 "SPELLING ERROR ON PERCENTAGES: CHAPTER 1"
**Describe the bug**
- The word necklace was misspelt by Ms. Jewels in the text.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Percentages’
 2. Click on 'What is a Percentage’
 3. Scroll down to the second page [see screenshot]
 4. See error

**Observed behavior**
Spelling error in the text.

"Well”, said Ms. Jewels, "a necklaces like this, which is made mostly of gold, can be very

[2022-10-19 17:24] heyimShivam commented on #16356
this test (619) is passing in local env, is there some difference between the GitHub test working and local env?

[2022-10-19 17:24] heyimShivam commented on #16356
@gp201 PTAL

[2022-10-19 17:44] gp201 commented on #16356
@heyimShivam Though the flake has been resolved, the exact cause behind it is not yet clear. We have to get evidence to prove the exact cause.

[2022-10-19 19:59] SubhashThenua commented on #16338
@OSETIEMORIA  this issue is similar to #16283

Thanks!

[2022-10-19 20:04] #16338 closed, assigned to nobody

[2022-10-20 11:32] Olivia529 opened #16362 "Translation Contribution Page flutters when I try to scroll down"
**Describe the bug**
When I try to scroll down on the translation contribution page, the page flutters( I'm not sure this is the right word. see recording to understand) and I have to try severally before I finally get to the lesson I want to transcribe.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Contribution Dashoard on the Oppia website'
 2. Click on 'translate text and choose

[2022-10-20 13:07] AddisalemB opened #16363 "Spelling and Number Error in Expressions and Equations"
**Describe the bug**
There are grammar and spelling errors in chapters one and two of expressions and equations.

**To Reproduce** (Image one)
Steps to reproduce the behavior:
 1. Go to 'Expressions and Equations...'
 2. Click on 'Chapter one....'
 3. Go to the "Screenshotted page..."

**To Reproduce** (Image two)
Steps to reproduce the behavior:
 1. Go to 'Expressions and Equations...'
 2. Click

[2022-10-20 14:35] sahiljoster32 opened #16364 "Refactor `BlogAdminHandler` to specific indiviual handlers."
**Is your feature request related to a problem? Please describe.**
Currently, In oppia, we use different handlers for different actions but in `BlogAdminHandler` we are performing 2 actions, which is not according to the oppia codebase pattern. This complicates the validation of the handler arguments.
**Describe the solution you'd like**
Define a new handler for each action.
**Additional context**

[2022-10-20 15:47] jonlake5 commented on #14219
@IamEzio Can you assign me core.domain.app_feedback_report_domain_test and core.domain.opportunity_services_test

[2022-10-20 16:31] F-ibi opened #16365 "Spacing Issuue"
![Screenshot (38)](https://user-images.githubusercontent.com/109535535/197005621-35c19991-6f9e-4428-8c93-2e86068e29f7.png)
the text information as seen on this card, looks very jam packed, which can be quiet challenging for a user to read through. I think the issue is as a result of poor spacing between each words, which should be fixed.

[2022-10-20 17:17] vojtechjelinek commented on #12912
@PietroFracCab Hey, sorry for delay in reply, can you please give me comment access to your doc? I have some suggestions.

[2022-10-20 17:19] vojtechjelinek commented on #12912
@alisohaila No, everything is assigned right now.

[2022-10-20 17:19] vojtechjelinek opened #16366 "Remove `ExplicitKeywordArgsChecker`"
I had to disable both pylint checks that are implemented in `ExplicitKeywordArgsChecker` when doing the Python 3 migration. I think we should just get rid of that checker as it is not needed.

I do not think it is worth it resurrecting that check, because:
  1. The behaviour of `arg-name-for-non-keyword-arg` can now be implemented using Python syntax ([using asterisk in function args](https://stac

[2022-10-20 17:25] vojtechjelinek commented on #16366
@U8NWXD What do you think?

[2022-10-20 17:37] vojtechjelinek commented on #5886
Fixed in #16109

[2022-10-20 17:37] #5886 closed, assigned to nobody

[2022-10-20 17:42] vojtechjelinek commented on #15505
Fixed in #15837

[2022-10-20 17:42] #15505 closed, assigned to srikanthkb

[2022-10-20 17:43] vojtechjelinek commented on #11539
Superseded by #15927

[2022-10-20 17:43] #11539 closed, assigned to nobody

[2022-10-20 17:46] vojtechjelinek commented on #11475
I think this can be closed as the last point is " Add lint checks that ensure all "jobs.batch_jobs.*_jobs" modules are imported in "jobs.registry"" but I think it is fine to not have a lint check as the author of the PR should always verify that they can actually run the job locally and if the job is not in jobs.registry then the job won't work.

[2022-10-20 17:54] seanlip commented on #11475
Eh, I think it's still worth having the lint check (but maybe we can file the last point as a separate low-priority issue). Although PR authors are supposed to verify this, I'm not sure they always do (especially first-time authors) so I think the lint check is still helpful. (We have had misspellings in the past, too.)

[2022-10-20 18:24] vojtechjelinek opened #16368 "Add lint checks that ensure all `jobs.batch_jobs.*_jobs` modules are imported in `jobs.registry`"
Add lint checks that ensure all `jobs.batch_jobs.*_jobs` modules are imported in `jobs.registry`, this is needed because otherwise the jobs placed in the file won't be available in the release coordinator page.

[2022-10-20 18:27] vojtechjelinek commented on #11475
Superseded by #16368

[2022-10-20 18:27] #11475 closed, assigned to vojtechjelinek

[2022-10-20 18:56] vojtechjelinek opened #16369 "Implement remaining migration jobs"
Implement the remaining migration jobs:

- [x] `TopicMigrationJob` @JayVivarekar
- [ ] `QuestionMigrationJob`
- [ ] `SubtopicMigrationJob`

[2022-10-20 19:33] vojtechjelinek commented on #11549
This is not fixed yet, I will look into the places that are remaining.

[2022-10-21 01:12] m-mcneive commented on #16351
I can take a look at this issue

[2022-10-21 03:28] EricZLou opened #16370 "Investigate RTE backend validation checks in `components.py`"
To make our backend validation code more unified for RTE components, we should investigate the `components.py` file. Some of the backend RTE validation checks are in this file, but others are outside of the file. We should unify all of the RTE checks into a single place.

[2022-10-21 05:50] #16079 closed, assigned to Priyansh61

[2022-10-21 06:42] gp201 commented on #16356
The flake has reoccured but this time it seems to be specific to the below test
https://github.com/oppia/oppia/blob/5a945feafe4c290cb00092d26add0475efc437ba/core/templates/pages/exploration-editor-page/translation-tab/translation-tab.component.spec.ts#L272-L293

Github actions:

1. https://github.com/oppia/oppia/actions/runs/3295089972/jobs/5433279002#step:9:7188
2. https://github.com/oppia/oppia/

[2022-10-21 07:53] EricZLou commented on #16115
Closing since these are fixed or already tracked in other issue.

[2022-10-21 07:53] #16115 closed, assigned to nobody

[2022-10-21 15:45] Kebith opened #16375 ""Resume lesson" button returns me back to the beginning of lessons"
In Chapter 4 of Place values,
the button "Yes, resume the lesson" keeps taking me back to the beginning of the lessons, instead of keeping track with my progress

![Screenshot 2022-10-21 at 16-03-31 Rounding Numbers Part 1](https://user-images.githubusercontent.com/111491620/197235488-43f213f0-cf00-4a86-818e-293aabb80a5e.png)

[2022-10-21 16:21] heyimShivam commented on #16195
This issue has been fixed in the PR #16209

[2022-10-21 16:21] #16195 closed, assigned to heyimShivam

[2022-10-21 17:07] #15157 closed, assigned to Shivkant-Chauhan

[2022-10-21 17:39] Shivkant-Chauhan commented on #16375
@Lawful2002 please take a look to this.. I think the behaviour is alright as expected. Resume the lesson button correctly continues the lesson from the last checkpoint and the restart button restarts it from the start of the lesson

https://user-images.githubusercontent.com/91013793/197256123-994a686e-d12e-44ab-9388-c966f9a6b014.mov

[2022-10-21 17:44] Tati-luv opened #16376 "HINT BOX WORD ERROR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the hint boxes below, the sentence reads "How much **do** 4 kilos of cranberries cost?" I believe there is a word error and the sentence should read "How much **does** 4 kilos of cranberries cost?" instead.

### Steps To Reproduce

1. Click on https://www.oppia.org/explore/wE9pyaC5np3n?sto

[2022-10-21 18:00] seanlip commented on #16376
Thanks for reporting this, @Tati-luv.

You know -- for me, the existing text sounds correct. I searched online for examples of the word usage and I can't find a definitive reference that recommends one over the other. Do you have any links to grammar websites etc. that support the usage you are proposing?

[2022-10-21 18:26] Kebith commented on #16375
Okay. Thank you for this information.
I get the clear difference now.

I would only like to document that the return point is not satisfactory enough.
Can we have it return to the exact point where the learner wants or only return to the checkpoints are possible?
Over time, I had to click through a number of cards I had already gone through, before I got to the exact card I stopped at.

[2022-10-21 19:31] ManVTish commented on #13162
Hi @sahiljoster32 @Nik-09 I would be happy to contribute towards this fix. Is there anything that can be assigned to me?
Thanks.

[2022-10-21 19:31] Tati-luv commented on #16376
You are right! @seanlip
In my country there's a preference for the word "does" in such a sentence. I am glad I learnt this today.
Thanks.
![Capture 34](https://user-images.githubusercontent.com/77991703/197274199-de9cfed7-feac-4c45-8cb1-a57cc293952b.PNG)

[2022-10-21 19:35] Shivkant-Chauhan commented on #16375
Actually the working is, you will be going to the last reached checkpoint in the lesson if you resume. and the checkpoints are set by the admin or the lesson creators.

[2022-10-21 19:54] seanlip commented on #16376
Ok, thanks! I'll close this then :)

[2022-10-21 19:54] #16376 closed, assigned to nobody

[2022-10-22 05:29] IamEzio commented on #14219
@jonlake5 done!

[2022-10-22 08:22] ManVTish commented on #13162
Hi @sahiljoster32 @Nik-09 small reminder for this. Thanks.

[2022-10-22 11:46] Lawful2002 commented on #16375
@paprajapati9 PTAL.

[2022-10-22 14:18] johngitahi commented on #15968
Hello @JayVivarekar I'd like to work on this issue, please assign me some tasks.

[2022-10-22 14:42] U8NWXD commented on #16318
Thanks for explaining @munamenuga! I'm not familiar with how we make these kinds of content decisions, so I'm going to let the curated lessons content team take over this issue

[2022-10-22 17:41] Kebith commented on #16375
@Shivkant-Chauhan Thank you very much. I appreciate your response

[2022-10-22 18:39] kevintab95 opened #16383 "Create Beam jobs to ensure that the structure of the commit cmd "CMD_MIGRATE_STATES_SCHEMA_TO_LATEST_VERSION" is consistent in the datastore"
**Describe the bug**
The v52 migration seems to have updated the type of "from_version", "to_version" for the commit command "CMD_MIGRATE_STATES_SCHEMA_TO_LATEST_VERSION" stored in the datastore. Until v51, the values were stored as strings but now they are stored as int. This skew in the type can lead to errors in the future (see https://github.com/oppia/oppia/pull/16352#discussion_r1002553391).

[2022-10-22 18:44] Kebith opened #16384 "Correct answer returns learners back to a checkpoint"
In this particular card, the wrong answer chosen is approved as correct. Meanwhile, the rule of rounding up states that once the digit next to the one being rounded up is greater than or equal to 5, the number should be rounded up.
Here is the recorded video of the wrong answer returning learners back

And a screenshot of the wrong answer being approved

Video

https://user-images.githubuserconten

[2022-10-22 18:56] kevintab95 opened #16385 "[Refactor] Introduce generic "to_model" method"
Introduce a generic "to_model" method that will convert any given domain object into its corresponding model representation. This will help reduce the passing around of models in the codebase. For more info see https://github.com/oppia/oppia/pull/16352#discussion_r1001280740

[2022-10-22 19:00] kevintab95 opened #16386 "Consistent naming terminology for "create" model method"
Few models such as ExplorationUserDataModel, GeneralFeedbackThreadModel, StoryProgressModel use the `create` method to simply "create" the model instance but not put it whereas other models seem to use `create` to create an instance and put it to the datastore. This issue is to decide on what convention to follow and to ensure that the naming is consistent across the codebase. Related discussions:

[2022-10-23 00:36] EricZLou opened #16387 "Regression: RTE components are always savable even when they fail the validators"
**Describe the bug**
The creator can always click the `Done` button on the RTE component editor (for all RTE components) no matter whether it actually satisfies the validations set in `rich_text_components_definitions.ts`.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create any RTE component.
 2. Notice that it can be saved even if it completely empty.

**Screenshots / Videos**

Notice t

[2022-10-23 01:16] #15528 closed, assigned to SanjaySajuJacob

[2022-10-23 04:41] EricZLou opened #16390 "Regression: Warnings in exploration editor state graph do not show on hover"
**Describe the bug**
When I hover on the ⚠️ sign on an invalid state in the exploration editor state graph, the warning text no longer appears.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `oppia.org`.
 2. Create an exploration with a validation error like: a number input where there is a duplicate answer group.
 3. Notice that hovering on the warning symbol does not do anything.

[2022-10-23 07:56] Emmanuel-Lud commented on #14219
Could I please be assigned to core.domain.user_domain_test? @U8NWXD

[2022-10-23 09:27] seanlip commented on #16390
Hi @heyimShivam -- just to check, you fixed this, right?

[2022-10-23 09:31] heyimShivam commented on #16390
yes I have resolved it in PR #16209.

[2022-10-23 09:34] meloi2021 opened #16393 "Translation Voice-Over"
Server error message is shown when trying to switch from English translation to Pidgin translation

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a lesson
 2. Click on listen to the lesson
 3. Scroll down to English and select English
 4. now try switching to Pidgin
 5. See error

**Observed behavior**
Only occurs between English and Pidgin

**Expected behavior**
Shows "Error communi

[2022-10-23 09:35] heyimShivam commented on #16390
https://user-images.githubusercontent.com/77006897/197384915-e111d4fe-57f0-4a25-8fa7-068698d87f9a.mp4

[2022-10-23 09:35] heyimShivam commented on #16390
@seanlip PTAL

[2022-10-23 09:54] heyimShivam commented on #16356
fixed in PR #16377

[2022-10-23 10:10] Lawful2002 commented on #15529
@galanggg Any updates?

[2022-10-23 10:11] Lawful2002 commented on #15692
@heyimShivam Please take a look.

[2022-10-23 10:12] #15537 closed, assigned to SubhashThenua

[2022-10-23 10:14] Lawful2002 commented on #15402
@thejaysharma Any updates?

[2022-10-23 10:15] heyimShivam commented on #15692
I think after migration this issue got resolved automatically

[2022-10-23 10:15] #15692 closed, assigned to heyimShivam

[2022-10-23 10:17] Lawful2002 commented on #16180
Closing as fixed by #16293

[2022-10-23 10:17] #16180 closed, assigned to SubhashThenua

[2022-10-23 10:20] Lawful2002 commented on #16075
@KolliAnitha This issue is not reproducible.

![Image](https://user-images.githubusercontent.com/73544247/197386737-9406c9dd-108b-49cb-9ef4-3296934065b5.png)

Can you please take a look and confirm.

[2022-10-23 10:38] Lawful2002 commented on #11816
Closing as this issue is not reproducible.

[2022-10-23 10:38] #11816 closed, assigned to nobody

[2022-10-23 10:43] Lawful2002 commented on #11717
@darksun27 Can you please clarify what "start" refers to here?

[2022-10-23 10:47] Lawful2002 commented on #11715
Closing as the issue seems to have been fixed.

![Image](https://user-images.githubusercontent.com/73544247/197387823-f47d8ef3-2aa8-44c8-9784-a780e2e13a4c.png)

[2022-10-23 10:47] #11715 closed, assigned to nobody

[2022-10-23 11:32] Lawful2002 commented on #10303
@aks681 Is this issue still relevant?

[2022-10-23 12:42] sahiljoster32 commented on #13162
Hi @ManVTish , I have assigned you QuestionCreationHandler, please let me know if need any help!

[2022-10-23 14:06] Guemo1 opened #16395 "Stagnant learning progress"
**Describe the bug**
The Learning progress provided on the lesson info didn’t move although the lesson .

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Ratios and Proportional reasoning lesson'
 2. Click on 'What is Ratio?' and go on with the lesson
 3. Scroll down to 'The lesson info'
 4. See error by checking if the lesson progress increases as you go on with the class

**Observed

[2022-10-23 17:56] ManVTish commented on #13162
Thanks @sahiljoster32 I'll let you know if Ineed any help. Thanks again.

[2022-10-24 03:52] JayVivarekar commented on #15968
@sk-2809  All files are assigned right now. Will assign something if any of them open up.

[2022-10-24 06:10] seanlip commented on #11717
Hi @Lawful2002 -- I think @darksun27 means "star". I've added the issue description accordingly.

[2022-10-24 06:11] darksun27 commented on #11717
@seanlip Yes it is star.

[2022-10-24 06:15] seanlip commented on #16390
OK, thanks @heyimShivam!

@EricZLou -- I notice you checked this on oppia.org. Would you mind confirming whether it's fixed in develop (at your end)? If so, I think we can close this issue. Thanks!

[2022-10-24 06:52] EricZLou commented on #16390
Ah yes it's fixed. Thanks @heyimShivam!

[2022-10-24 06:52] #16390 closed, assigned to EricZLou

[2022-10-24 11:46] Lawful2002 commented on #11717
Seems like the pointer does exist, but it doesn't point to the correct star that the user has clicked on.
![image](https://user-images.githubusercontent.com/73544247/197518429-c0301635-b6ff-49c3-b501-190e8d15ea6a.png)

[2022-10-24 11:51] Lawful2002 commented on #7664
I am still able to reproduce this on smaller screens.

[2022-10-24 11:57] Lawful2002 commented on #6956
@aks681 Is this issue still relevant?

[2022-10-24 13:02] danapj opened #16397 "Update to strings on Oppia.org (Learner Pages)"
**Describe the Issue **
This issue is being filed on behalf of the UX writing team to update some of the strings on select pages of the site (learner facing pages).

**1 / Dropdown on the navbar**
<img width="519" alt="image15" src="https://user-images.githubusercontent.com/62091156/197522795-5ff3fa49-9d72-4c90-ad6c-6b515e9c7509.png">
- Change "Basic Mathematics" to "Math"
- Change the description

[2022-10-24 13:13] danapj opened #16398 "Misalignment and Broken Icons on the Oppia.org Math page"
**Describe the bug**
(Refer to the video for clarity) There are:
1. A misalignment on the Math page on the Oppia.org site when the browser window is in different sizes
2. The globe icon in the translation button in the top right breaks at certain breakpoints

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this page](https://www.oppia.org/learn/math)
 3. Expand / shrink the width of y

[2022-10-24 17:08] vojtechjelinek commented on #11549
The particular import that @brianrodri mentions was removed in #12800. I've checked the rest of our script files and we only use imports inside a file in two places, one is a check whether `pip` exists and the other is some place where we attempt to fix some third party imports, I'm testing removing that part in #16400.

[2022-10-24 18:39] sagangwee commented on #14150
@seanlip Any updates from the debug session?

[2022-10-24 21:38] kevintab95 opened #16401 "OSError: [Errno 121] Remote I/O error: '/workspace/core/domain/app_feedback_report_services.py'"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-10-24 23:01] sagangwee commented on #14226
@banglajisu Just to check, are you still encountering this issue?

[2022-10-24 23:06] sagangwee commented on #12258
Seems related to https://github.com/oppia/oppia/issues/9531

[2022-10-24 23:17] seanlip commented on #14150
Unfortunately, @banglajisu couldn't reproduce it on her own device -- it seems to be showing fine for her. So we couldn't really debug it. (According to her, Bangla font display inconsistency on different devices seems to be a general issue, not just on the Oppia website.)

[2022-10-24 23:19] sagangwee commented on #11700
The remaining issue 1 was fixed as of https://github.com/oppia/oppia/pull/15851.

[2022-10-24 23:19] #11700 closed, assigned to nobody

[2022-10-24 23:26] sagangwee commented on #12914
Unable to reproduce.

[2022-10-24 23:26] #12914 closed, assigned to nobody

[2022-10-24 23:33] sagangwee commented on #5726
Reviewers can apply edits to suggestions before accepting them.

[2022-10-24 23:33] #5726 closed, assigned to nobody

[2022-10-24 23:35] sagangwee commented on #15000
Duplicate of https://github.com/oppia/oppia/issues/15514

[2022-10-24 23:35] #15000 closed, assigned to nobody

[2022-10-24 23:39] sagangwee commented on #14307
The hovering tweaks have been fixed.

We'll need to bring up the tabs suggestion to the design team.

[2022-10-25 14:39] vojtechjelinek commented on #14202
Tracked in #15952

[2022-10-25 14:39] #14202 closed, assigned to DubeySandeep, U8NWXD, gp201

[2022-10-25 16:18] sagangwee commented on #13165
I still see the console errors when copying the image, but I am still able to submit the translation successfully regardless.

Going to mark this as a duplicate of https://github.com/oppia/oppia/issues/9531.

[2022-10-25 16:18] #13165 closed, assigned to sagangwee

[2022-10-25 16:32] sagangwee commented on #14267
Checked this for a few languages and topics—doesn't seem to be an issue anymore. Going to close for now.

[2022-10-25 16:32] #14267 closed, assigned to chris7716

[2022-10-25 16:58] IamEzio commented on #14219
@Emmanuel-Lud done!

[2022-10-25 19:42] gp201 commented on #16173
The above error has been resolved. Currently, we're testing various CUJ's (Critical User Journeys) to ensure all communication is happening properly.

[2022-10-25 20:02] meloi2021 opened #16407 "Typographical error in leasson"
In  [Lesson 4: Finding a Percentage of a Number] (https://www.oppia.org/explore/iW85v9kiZyH2?story_url_fragment=monica-at-the-jewelry-store&topic_url_fragment=percentages&classroom_url_fragment=math&node_id=node_4)

A bracelet was what was used in the teaching lesson, But in the hint, "ring" was used instead of bracelet.
Error was repeated multiple times
![percentage error](https://user-images.git

[2022-10-26 00:05] seanlip commented on #16257
Hi @fiddyhamma, this last example you filed is a different issue because it happens within the lesson rather than within the table of contents. Please file a separate issue for it.

Also adding @findimue @mschanteltc to advise on what would be best for https://github.com/oppia/oppia/issues/16257#issuecomment-1275270870.

[2022-10-26 02:25] #13919 closed, assigned to qinghaoyang

[2022-10-26 04:54] karenbanci commented on #7664
Is anyone working on this? Can I assign it to me?

[2022-10-26 04:55] seanlip commented on #7664
Hi @karenbanci, go for it! In general feel free to assign yourself to anything that's not being worked on. For LaCE, we generally recommend choosing from the first tab in [this list](https://github.com/orgs/oppia/projects/3) where possible. Thanks!

[2022-10-26 04:57] karenbanci commented on #7664
@seanlip Thank you =)

[2022-10-26 10:06] ShivamJhaa commented on #16095
This was fixed in PR https://github.com/oppia/oppia/pull/16320

[2022-10-26 10:06] #16095 closed, assigned to ShivamJhaa

[2022-10-26 13:42] fiddyhamma commented on #16257
@seanlip okay, will do that now.

[2022-10-26 14:08] Amarachhhiii opened #16409 "Bug In Audio Feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

(Refer to the image for clarity) In lesson 1of Multiplication [Parts of Multiplication Expressions] It says;

1. English audio isn't available for the lesson as the play button is in disable mode
2. However, in the options listed in the drop down menu, English is in the option and selecting i

[2022-10-26 14:32] fiddyhamma opened #16410 "Comment for review lessons on fractions, chapter 2 &3"
**Describe the bug**
The review lessons on fractions for both chapters 2&3 has a large fill. The fill isn't hugging the text but the whole container.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'math lessons'
 2. Click on 'fractions'
 3. Scroll down to 'what is a fraction? & Fractions of a group'
 4. See error

**Observed behavior**
The fill for the comments "nice job" and "that's

[2022-10-26 16:01] U8NWXD opened #16411 "Upgrade GitHub Actions to Use Node 16"
Our GitHub Actions workflows use out-dated versions of actions/checkout, actions/setup-python, actions/cache, and actions/upload-artifact. These will not be supported soon as mentioned in this warning from CI:

[2022-10-26 16:09] U8NWXD commented on #14482
Closing as obsolete

[2022-10-26 16:09] #14482 closed, assigned to nobody

[2022-10-26 16:29] ShivamJhaa opened #16413 "E2E passing even after a console error."
https://github.com/oppia/oppia/actions/runs/3312048155/jobs/5468246555#step:11:401

-----

EDIT (description added by @seanlip) -- We have general.checkForConsoleErrors() statements after each of our e2e tests, but it seems like those checks are not working and are not raising errors or causing the tests to fail even when there are errors. This should be fixed.

[2022-10-26 17:53] 007harshmahajan commented on #16365
Hey @F-ibi , can you assign me this issue ?

[2022-10-26 19:58] U8NWXD commented on #16366
For the asterisk and slash to replace the linter's functionality, we'd need to make sure that every function declaration uses that syntax, right?

[2022-10-26 20:24] dchen97 opened #16415 "Lesson Player is partially hidden and formatted incorrectly"
**Describe the bug**
Lesson player is partially hidden under the navbar and the language dropdown is outside of the audio player bar.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any lesson with a voiceover
 2. Click on the audio voiceover banner
 3. Select a language and play audio
 4. See incorrect formatting

**Observed behavior**
Language dropdown is now floating outside of the

[2022-10-26 21:27] kevintab95 opened #16416 "Error: Feature 'android_beta_landing_page' does not exist."
This error occurred recently in production

[code]

[2022-10-26 21:53] kevintab95 opened #16417 "Clean up deleted images added to a lesson"
When an existing image is replaced or removed in a lesson, it is not removed from the storage layer. This issue is to ensure that images get deleted from the storage when it is no longer used in the lesson.

[2022-10-27 00:53] meloi2021 opened #16418 "Lack of content card in a hint"
There is no Content card in one of the feedabacks in Lesson 6: Percentage over time.

![comtent](https://user-images.githubusercontent.com/84922616/198165765-071d1044-9a8b-4dfa-819d-318e93846a00.jpg)

[2022-10-27 05:36] EricZLou commented on #15935
@SubhashThenua are you actively working on this? If not, let me know since this is high priority!

[2022-10-27 06:30] fiddyhamma opened #16422 "Too much fill in comments"
**Describe the bug**
The fill for the comments is too much and doesn't hug the text alone

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'math lessons'
 2. Click on 'fractions'
 3. Scroll down to 'fractions of a group & mixed numbers and the number line 1'
 4. See error

**Observed behavior**
When you answer the question correctly, the green fill for the comments "nice job and that's

[2022-10-27 07:00] ManVTish commented on #13162
Hi @sahiljoster32 , I went through Debugging section of schemas (wiki), just wanted to know which endpoint would hit the QuestionCreationHandler. Refer point 5 here [https://github.com/oppia/oppia/wiki/Schemas#debugging-tricks](https://github.com/oppia/oppia/wiki/Schemas#debugging-tricks).
Any thoughts on this?
Thanks.

[2022-10-27 07:04] ManVTish commented on #13162
The motive is to determine the types for handler arguments and URL paths (as discussed in the debugging section).

[2022-10-27 07:30] F-ibi commented on #16365
Sure, kindly guide me on how to assign to you.

[2022-10-27 09:46] vojtechjelinek commented on #16366
Hmm, as the linter is now disabled and I think it was also broken before (as in many cases it didn't complain about some instances of errors), I don't think the introduction of asterisk and slash is a prerequirement for this. I think it is even a bit hard to say how exactly we should require this or if this should be optional.

[2022-10-27 12:57] Amarachhhiii opened #16423 "Exhaustive UX Copy"
(Refer to the image for clarity) In chapter 1 of Ration and Proportional Reasoning [What is a Ratio?] The UX is exhaustive for the children.

Screenshot/Videos
![image](https://user-images.githubusercontent.com/115381720/198205854-3d8b05ef-7572-4274-b73a-db15adc08131.png)

Steps to reproduce the behavior:

1. Go to The Math lessons
2. Click on 'Ratios and Proportional Reasoning'
3. Click on "Chapt

[2022-10-27 13:42] Augusta2 opened #16424 "Check box Bug"
The checkbox suggests you can select 2 or more options but it restricts to only 2 options
  -->

Go to 'Equations and Expression' chapter 5 https://www.oppia.org/explore/Jbgc3MlRiY07?story_url_fragment=a-day-at-the-amusement-park&topic_url_fragment=exprs-and-eqns&classroom_url_fragment=math&node_id=node_8#input-response-pair-0

Try to answer a question that instructs you to select 2 or more option

[2022-10-27 15:44] ShivamJhaa opened #16427 "E2E Flake: waitUntil condition timed out after 10000ms"
[code]
Link: https://github.com/oppia/oppia/actions/runs/3337212527/jobs/5523270598

[2022-10-27 18:35] #16272 closed, assigned to Rijuta-s

[2022-10-27 21:20] banglajisu commented on #14226
The issue is solved for me. But some reviewers still have issue. Theis issue happens in other apps and websites not only in Oppia

[2022-10-27 22:12] sagangwee commented on #14226
Ah okay, thanks. Well since this issue seems to not be Oppia-specific, there's probably not much we can do at the moment.

[2022-10-27 22:12] #14226 closed, assigned to nobody

[2022-10-27 22:27] #16173 closed, assigned to gp201, aasiffaizal, SD-13

[2022-10-28 07:12] seanlip commented on #16358
@iamprayush I think this is worth taking a look at -- can we make the error message clearer? E.g. "There should be a number before the × sign."

[2022-10-28 07:15] seanlip commented on #16424
Thanks for reporting @Augusta2. This looks like a bug with the way the instruction message is generated -- in cases where the minimum and maximum bounds are the same, it should say "Please select {{x}} options."

Assigning to the LaCE quality team -- it should be a straightforward fix.

[2022-10-28 07:22] seanlip commented on #16393
Hi @meloi2021, thanks for filing this. Could you please provide a screenshot (or, better, a video recording) of what you are seeing? This will help us understand better where the error is showing up.

Also, which lesson does this happen for?

Thanks!

[2022-10-28 07:26] seanlip commented on #16423
Thanks @Amarachhhiii, this is a good thing to call out. Do you have suggestions for rewording it?

[2022-10-28 08:18] iamprayush commented on #16358
Makes sense, @seanlip. Thanks for reporting this @Busayo-ojo, I'll work on changing this.

[2022-10-28 09:38] Uche-Clare opened #16430 "Language code is not comprehensible in the navbar on small devices."
The Nigerian Pidgin translation feature doesn't translate instead, it shows "Error Communicating with server". This is occurred in the topic "Ratio and Proportionality".

Also this feature word icon was identified as PCM

**Smartphone**
 - Device: iPhone XR
 - OS: iOS 15.6.1
 - Browser: Safari

![image](https://user-images.githubusercontent.com/65821783/198556360-95e66d95-f6cd-4a37-8e86-acf65b63e8

[2022-10-28 09:41] meloi2021 commented on #16393
![IMG_20221028_103821](https://user-images.githubusercontent.com/84922616/198557178-78ec9151-c25b-4f0a-8ab8-490c6b80c417.jpg)
![IMG_20221028_103943](https://user-images.githubusercontent.com/84922616/198557190-b0371b14-e9c9-480d-b4de-88d10a5a7a9c.jpg)
![IMG_20221028_104032](https://user-images.githubusercontent.com/84922616/198557194-76c22563-209f-4fb3-beee-c47f418b8c90.jpg)
![IMG_20221028_104116]

[2022-10-28 09:43] Uche-Clare opened #16431 "Slow Response to Website Onboarding"
The onboarding of the Oppia website takes about 2-3 minutes to load

![image](https://user-images.githubusercontent.com/65821783/198557089-d1650838-be7b-4f70-962f-221401ccc8a0.png)

**Smartphone**

Device: iPhone XR
OS: iOS 15.6.1
Browser: Safari

[2022-10-28 10:58] meloi2021 commented on #16418
Concept card I meant

[2022-10-28 11:41] balogun14 commented on #15968
I’ve been on this for days the Icon is not showing I don’t know what to change

[2022-10-28 13:21] KartikBudania commented on #13647
@nithinrdy @MNSDivya @vojtechjelinek Please assign this issue to me, it's an easy one for me!!

[2022-10-28 16:23] jellyyams commented on #13162
Hello! I'm new here, and would like to get started working on a schema. @sahiljoster32 @Nik-09 Could I get something assigned to me? Thanks!

[2022-10-28 16:24] JATIN-KUMAR-JADOUN opened #16432 "[BUG]: Unable to click on the submit button when reviewing the question on fractions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When reviewing the fractions questions and editing one of the options I was unable to submit the edited option.

### Steps To Reproduce

1. Gone to the contributor dashboard and went to the reviewing questions options.
2. Then selected a question on fractions.
3. Edited some part of the quest

[2022-10-28 17:13] Lawful2002 commented on #15923
I feel that this might be a browser specific behaviour. Could you investigate and create a debugging doc?

[2022-10-28 17:48] Lawful2002 commented on #10754
@kevintab95 Do we still plan on doing this?

[2022-10-28 17:54] Lawful2002 commented on #6361
@vojtechjelinek Are we still planning on doing this, if so is the attatched doc still relevant?

[2022-10-28 18:02] Lawful2002 commented on #15961
@paprajapati9 Any updates on this?

[2022-10-28 18:06] Lawful2002 commented on #15427
This issues seems to have been resolved.

![Image](https://user-images.githubusercontent.com/73544247/198703350-05470c70-0809-4de3-886e-f00e23c722d0.png)

[2022-10-28 18:18] kevintab95 opened #16433 "TODO: Regenerate ExplorationVersionHistoryModel in get_updated_version_history_model"
In `get_updated_version_history_model`, the current logic seems to skip processing of new models if a previous model is missing. The logic needs to be updated such that, when a missing model is encountered, it should regenerate it and proceed further.

[2022-10-28 18:20] Lawful2002 commented on #15168
@paprajapati9 Any updates on this?

[2022-10-28 19:24] Priyansh61 commented on #15923
Definitely @Lawful2002

I have never created such docs earlier, it would be really helpful if you could point me to some reference regarding this?

[2022-10-28 20:01] sagangwee opened #16436 "Upgrading to Python 3.8.12 on M1 Mac"
Following up from my previous installation troubles: https://github.com/oppia/oppia/issues/15299

Running `VERSION_ALIAS="3.8.12_x86" arch -x86_64 pyenv install 3.8.12`, I get:

[code]

[2022-10-28 20:20] sagangwee commented on #16436
Tried installing 3.8.13 instead as recommended by https://stackoverflow.com/questions/71577626/issues-installing-python-3-8-10-on-macos-12-3-monterey, but got:

[code]

[2022-10-28 21:04] sagangwee commented on #16436
Tried running

[code]

but got:
[code]

[2022-10-28 21:16] sagangwee commented on #16436
Tried reinstalling CommandLineTools as per https://stackoverflow.com/questions/65778888/pyenv-configure-error-c-compiler-cannot-create-executables:

[code]

but ran into original error.

[2022-10-28 21:25] sagangwee commented on #16436
Tried installing 3.9.10 as per https://github.com/pyenv/pyenv/issues/1768#issuecomment-770443507, https://github.com/pyenv/pyenv/issues/2171#issuecomment-1068214905 and got a slightly different error:

[code]

[2022-10-28 21:41] sagangwee commented on #16436
Tried reinstalling the build dependencies:

[code]

And setting the LDFLAGS/CPPFLAGS for readline and OpenSSL.

Was able to successfully install 3.8.13, but not 3.8.12.

[2022-10-28 21:45] sagangwee commented on #16436
Interestingly I'm unable to run the start script:

[code]

[2022-10-28 21:51] sagangwee commented on #16436
Looks like the start script checks for 3.8.12:

[code]

[2022-10-28 21:55] sagangwee commented on #16436
Tried running `CC=`which gcc-11` VERSION_ALIAS="3.8.12_x86" arch -x86_64 pyenv install 3.8.12` one more time (after the flag changes), with no luck.

[2022-10-28 21:57] sagangwee commented on #16436
Will try to disable the 3.8.12 check in the start script and use 3.8.13...

[2022-10-28 22:09] sagangwee commented on #16436
Seems to work after trying start script in a Rosetta terminal.

[2022-10-28 22:09] #16436 closed, assigned to nobody

[2022-10-28 22:23] vojtechjelinek commented on #11549
Closed by #16400

[2022-10-28 22:23] #11549 closed, assigned to vojtechjelinek

[2022-10-28 22:34] vojtechjelinek commented on #15427
@Lawful2002 It still seems to be broken to me. What is this thing behind the cards?
![image](https://user-images.githubusercontent.com/10142938/198745802-674abe7a-8eab-448c-b47c-e1693b93b4b0.png)
Also the arrow is wrong.
![image](https://user-images.githubusercontent.com/10142938/198745824-cfc8a0d3-1e17-4df1-b156-ca04646705aa.png)

[2022-10-28 22:40] vojtechjelinek commented on #6361
@Lawful2002 I'm not really sure, I don't think it is a priority in any way, but still might be interesting to do in the future.

[2022-10-29 05:13] seanlip opened #16438 "[Feature Request]: Consider allowing Python version to be 3.8.x where x >= 12"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### A clear and concise description of what you want to happen.

In https://github.com/oppia/oppia/issues/16436, @sagangwee noted that he couldn't get Python 3.8.12 to work on his machine, but Python 3.8.13 worked fine. We might want to consider allowing 3.8.13 etc. in the start script checks for local developers.

[2022-10-29 05:14] seanlip commented on #16438
@gp201 @U8NWXD @vojtechjelinek What do you think about this?

/cc @sagangwee

[2022-10-29 05:20] gp201 commented on #16438
All the releases from 3.8.12 to 3.8.15 are security releases. I find no reason to enforce the python version to be 3.8.12. Hence I'm on board with this change.

Python releases:
- [python 3.8.12](https://www.python.org/downloads/release/python-3812/)
- [python 3.8.13](https://www.python.org/downloads/release/python-3813/)
- [python 3.8.14](https://www.python.org/downloads/release/python-3814/)
- [

[2022-10-29 11:48] kevintab95 commented on #10754
Based on the issue description, looks like this is still useful to do.

[2022-10-29 11:58] ujjwalban commented on #13162
Hi, I am a new developer at oppia, if there are some schemas left to be assigned, I would like to work on a schema.
 @sahiljoster32  @Nik-09

[2022-10-29 13:18] sahiljoster32 commented on #13162
Hi @jellyyams , I have assigned you MergeSkillHandler, please let me know if need any help!

[2022-10-29 13:18] sahiljoster32 commented on #13162
Hi @ujjwalban , I have assigned you DeferredTasksHandler, please let me know if need any help!

[2022-10-29 13:23] sahiljoster32 commented on #13162
Hi @ManVTish, I think should call `/question_editor_handler/create_new`. For future reference, you can check: https://github.com/oppia/oppia/blob/9bcb5fe559a22fee44a43d5d648a6820765b0f55/main.py#L335

[2022-10-29 15:57] vojtechjelinek commented on #16438
I'm fine with this, but maybe a better solution would actually be to move to 3.8.15.

[2022-10-29 18:58] deisecristiane opened #16440 "Checkbox crossing container boundaries"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

->Go to The Math lessons
->Click on 'Ratios and Proportional Reasoning'
->Click on "Chapter 1:What is a Ratio?"
->Scroll down to The 19th Slide
->See issue

**Observed behavior**
It was observed that the checkboxs exceeded the question container.

**Screenshots / Videos**
!

[2022-10-29 19:39] Uche-Clare opened #16441 "Audio Unavailability In Ratio and Proportionality - Chapter 5"
This isn't really a bug, but a report on the unavailability of an audio English translation in the chapter 5 of Ratio and Proportionality in the Oppia Math Lessons.

![2-1](https://user-images.githubusercontent.com/65821783/198849804-2fbce163-68eb-4b05-9e29-2af8c300862a.PNG)

**Desktop:**
 - Browser: Microsoft Edge
 -Version: 106.0.1370.52

[2022-10-29 20:22] ujjwalban commented on #13162
Hello @sahiljoster32 can you please help me out

Thanks, @sahiljoster32 for assigning this task to me..

I want a little help  on this,
When I am running the frontend Test an error is coming and I am not sure why this happening

![Annotation 2022-10-30 014629](https://user-images.githubusercontent.com/51720065/198851002-ad1f81b9-0a5c-45db-b323-1064a84e96fe.png)

Can you help me, please?

I made on

[2022-10-29 22:22] seanlip commented on #16438
Yup I think that seems reasonable, let's do that. https://cloud.google.com/appengine/docs/standard/python3/runtime suggests that the python version is auto-updated to the latest patch version anyway in prod so we should probably have 3.8.15 as the default.

Btw what stops us from moving to 3.9 / 3.10? /cc @ashish-patwal

[2022-10-30 02:35] kevintab95 opened #16442 "Exploration Editor page keeps switching between states on load"
**Describe the bug**
Exploration Editor page keeps switching between states on load.

**To Reproduce**
Steps to reproduce the behavior:
 1. Load the exploration editor page with some state name in the URL. E.g. `/create/<id>#/gui/<state_name>`.
 2. Observe the error.

**Observed behavior**
Editor seems to switch between states continuously.

**Expected behavior**
Editor should load with one state

[2022-10-30 06:33] Amarachhhiii commented on #16423
@seanlip Sorry, I missed this. I just saw this a few minutes ago.

![image](https://user-images.githubusercontent.com/115381720/198865084-ffd600ee-09a0-49ca-b601-a6d106e4db8b.png)

My suggestion is to rephrase all five options. I'm removing the complications and simplifying the message. So basically, I made sure the sentences are phrased easily, taking the understanding of what that sentence means

[2022-10-30 09:28] #16360 closed, assigned to ShivamJhaa

[2022-10-30 09:29] ShivamJhaa opened #16444 "E2E Flake: Error: Conversation not visible"
[code]
HistoryTab: https://github.com/oppia/oppia/actions/runs/3354633992/jobs/5558312512

[2022-10-30 09:42] ujjwalban commented on #13162
Hi @sahiljoster32  @Nik-09
Today I tried running front end test after changing deferredtaskhandler now its working fine,
Are the changes okay or not can you suggestions on this?

![Annotation 2022-10-30 014727](https://user-images.githubusercontent.com/51720065/198872177-6743f379-b7cd-4f09-8f60-25c8d4761c66.png)

if Okay can you give another schema to work on?

[2022-10-30 10:29] #11471 closed, assigned to vojtechjelinek

[2022-10-30 16:16] Tati-luv opened #16445 "No Scroll Forward Button For Review After Completing A Lesson - Part 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After the completing the lesson, there is a button to scroll backwards to review but there is no forward pointing arrow button to move back and forth freely to review the lesson before proceeding to the next. The only forward arrow pointer on the page takes the student to the next lesson inst

[2022-10-30 16:46] TriJayDore commented on #16445
Can you please assign this issue to me , am interested in fixing this issue

[2022-10-30 21:27] yurilemos commented on #13162
Hi @Nik-09 and @sahiljoster32 , can you please assign me in TopicPageDataHandler, MergeSkillHandler and FlagExplorationEmailHandler?

[2022-10-30 21:29] yurilemos commented on #13162
Hi @Nivig1310 , can I please be assigned to TopicPageDataHandler?

[2022-10-30 21:31] yurilemos commented on #13162
Hi @jellyyams , can I please be assigned to MergeSkillHandler?

[2022-10-30 21:34] yurilemos commented on #13162
Hey @sahiljoster32 @Nik-09 I'd like to help you with this this issue. Is there any handler class that can be assigned to me?
Thanks.

[2022-10-31 02:25] U8NWXD opened #16446 "Backend Test Flake: Error Uninstalling pylint-quotes"
Error message:

Example:
* https://github.com/oppia/oppia/actions/runs/3344126810/jobs/5538118107#step:19:5

This likely happens with pylint-quotes in particular because it gets installed from GitHub, not from PyPI. There are 2 questions to answer:

1. Why are we trying to uninstall pylint-quotes at all? That shouldn't normally happen on CI, unless there's a test that does it?
2. We do need to be

[2022-10-31 02:34] U8NWXD opened #16447 "Figure out what E2E tests we need to write and make them a starter issue"

[2022-10-31 02:35] U8NWXD opened #16448 "Run more unit tests on pre-push, e.g. backend tests now that we’re close to per-file coverage"

[2022-10-31 02:37] U8NWXD opened #16449 "Lint checks for codeowners file"
* No duplicate paths
* No individual users (teams only)

[2022-10-31 02:38] U8NWXD opened #16450 "After an E2E failure, rerun with videos enabled"

[2022-10-31 03:34] U8NWXD commented on #16438
I also prefer moving to 3.8.15 and keeping a fully-pinned Python version

[2022-10-31 03:35] U8NWXD commented on #16438
@vojtechjelinek what would be involved in moving to 3.8.15?

[2022-10-31 07:12] #16330 closed, assigned to Shivkant-Chauhan

[2022-10-31 07:14] Lawful2002 commented on #15923
Sure @Priyansh61, take a look at this for reference: https://github.com/oppia/oppia/wiki/Debugging-Docs

[2022-10-31 07:21] Lawful2002 commented on #13647
@AnuragVats007 Any updates on this?

[2022-10-31 07:24] #15368 closed, assigned to Priyansh61

[2022-10-31 07:25] Lawful2002 commented on #14426
@kevintab95 Has this issue been resolved?

[2022-10-31 07:25] Lawful2002 commented on #15427
@vojtechjelinek Ah yes I missed those issues, thanks for pointing it out.

[2022-10-31 07:27] Lawful2002 commented on #14018
@kevintab95 Can this issue be closed?

[2022-10-31 07:27] Lawful2002 commented on #15102
@akhilr97 Any updates on this?

[2022-10-31 07:28] Lawful2002 commented on #14702
@soumyo123-prog Any updates on this?

[2022-10-31 07:34] adityanarayanm095 commented on #15763
@kevintab95 @seanlip I would like to work on this.

[2022-10-31 08:08] sahiljoster32 commented on #13162
Hi @ujjwalban , You did a great job, But I think you should only keep `POST` because only the post method is defined inside this handler. Also, If you see `ContributorDashboardAchievementEmailHandler` then you can see how values are defined inside `HANDLER_ARGS_SCHEMAS`
Also, I think if you have followed the steps that are mentioned in [WIKI](https://github.com/oppia/oppia/wiki/Schemas#debugging-t

[2022-10-31 09:16] vojtechjelinek commented on #16438
Replace all sensible strings in our codebase that are `"3.8.12"` with `"3.8.15"`. Basically stuff in #15508 except for the changes to imports.

[2022-10-31 11:48] SubhashThenua commented on #15935
@EricZLou I am working on this as some problem occur in my pc, now it's fine.

I apologize for late reply.

update will be seen soon.
Thanks

[2022-10-31 12:59] Tati-luv commented on #16445
@TriJayDore I don't think I can. I don't have the liberty to appoint assignees.

[2022-10-31 13:43] sahiljoster32 commented on #13162
Hi @yurilemos , I have assigned you ValueGeneratorHandler, please let me know if need any help!

[2022-10-31 14:05] Priyansh61 commented on #15763
Hey @adityanarayanm095 i have been
 working on this issue for quite some time and it's almost complete.

So why dont you take a look on some recent issues and help us with them 🙂....

Do let me know if you need any help  ?

[2022-10-31 14:10] Augusta2 opened #16454 "Overflowing text"
The text overflows the screen. This makes some relevant information to be missed.

1. Go Expressions and Equations chapter 3 https://www.oppia.org/explore/K89Hgj2qRSzw?story_url_fragment=a-day-at-the-amusement-park&topic_url_fragment=exprs-and-eqns&classroom_url_fragment=math&node_id=node_4

**Observed behavior**
Some of the text on the page is cut off

**Expected behavior**
The text should be con

[2022-10-31 15:49] AxelGard commented on #13162
Hi @sahiljoster32, sorry that I have not contacted you earlier, I had some exams.

Anyhow, I'm a little confused on how the `URL_PATH_ARGS_SCHEMAS` should look like in the `SubtopicPageDataHandler`

I tried leaving it empty and run some of the tests, but that gave me errors like this
[code]

I'm not sure how the [URL_PATH_ARGS_SCHEMAS](https://github.com/AxelGard/oppia/blob/develop/core/controller

[2022-10-31 16:34] antoniomesquita09 commented on #11170
Hey @DubeySandeep I'd like to help you with this issue. Can you assign it to me? Thanks.

[2022-10-31 18:39] adityanarayanm095 commented on #15763
Oh! Ok

[2022-10-31 18:43] adityanarayanm095 commented on #15763
@Priyansh61 Most of the recently added issues is assigned. Can you suggest me anyone of them?

[2022-10-31 22:05] seanlip commented on #16440
Thanks for reporting, @DeiseCristiane!

However, just FYI, this is a duplicate of https://github.com/oppia/oppia/issues/15528, which has been fixed in the codebase and will be fixed on the server once the next release is deployed. So, closing this issue as a duplicate.

[2022-10-31 22:05] #16440 closed, assigned to nobody

[2022-10-31 22:05] seanlip commented on #16454
Thanks for reporting, @Augusta2 !

However, just FYI, this is a duplicate of https://github.com/oppia/oppia/issues/15528, which has been fixed in the codebase and will be fixed on the server once the next release is deployed. So, closing this issue as a duplicate.

[2022-10-31 22:05] #16454 closed, assigned to nobody

[2022-11-01 00:49] ghost commented on #16257
To any developer looking at this, could you try wrapping the text to two lines?
- Expand the container vertically, including the green background for the number on the left.
- Keep the number aligned with the first line of the text.

If you could share a screen shot of what that looks like, that would be great!

[2022-11-01 03:39] JATIN-KUMAR-JADOUN opened #16458 "[Feature Request] [Practice Question Review]: Filter by volunteer/topic + counter of reviewable questions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### A clear and concise description of what you want to happen.

1. It would be great if we could have a filter where we can filter out questions by time and another filter where we can filter out the questions by a particular volunteer and topics. There are some questions that are left in the stack for too long a

[2022-11-01 05:10] Amarachhhiii commented on #16423
@seanlip did you see this?

[2022-11-01 08:32] ujjwalban commented on #13162
Hii @sahiljoster32 ,
I added the print statements but in the frontend/Web browser, I am unable to find where DeferredTaskHandler should be called.
Can you suggest me something about this?
So that I can find which values are coming to this schema.
![Annotation 2022-11-01 134304](https://user-images.githubusercontent.com/51720065/199188559-3966bc9e-feb7-4e42-989b-48ebbcf7aab5.png)

In the website al

[2022-11-01 08:57] ShivamJhaa opened #16460 "E2E Flake: Cannot read properties of undefined (reading '$$')"
[code]
**LearnerDashboard** : https://github.com/oppia/oppia/actions/runs/3359379947/jobs/5567343467

[2022-11-01 09:18] Emmanuel-Lud commented on #15968
Hello @JayVivarekar @vojtechjelinek @rohitnandi12. I would like to work on this issue oppia/core/templates/base-components/no-script.template.html

[2022-11-01 09:21] Emmanuel-Lud commented on #15968
Hello @JayVivarekar @vojtechjelinek. I'd like to work on these issues.
 oppia/core/templates/base-components/no-script.template.html
oppia/core/templates/components/checkpoint-celebration-modal/checkpoint-celebration-modal.component.html
oppia/core/templates/components/question-directives/question-misconception-selector/question-misconception-selector.component.html

[2022-11-01 11:59] ShivamJhaa commented on #16460
Closing this since this was fixed in #16451

[2022-11-01 11:59] #16460 closed, assigned to nobody

[2022-11-01 11:59] ShivamJhaa commented on #16444
Closing this since this was fixed in #16451

[2022-11-01 11:59] #16444 closed, assigned to nobody

[2022-11-01 12:00] ShivamJhaa commented on #16098
Closing this since this was fixed in #16451

[2022-11-01 12:00] #16098 closed, assigned to nobody

[2022-11-01 12:44] emil-bryniel commented on #14219
Could I please be assigned to core.domain.skill_fetchers_test? @IamEzio

[2022-11-01 13:00] IamEzio commented on #14219
@emil-bryniel done!

[2022-11-01 13:13] SubhashThenua commented on #15935
@EricZLou Can you please help me to find the function in the codebase  that is called after the click on images,insert collapsible  tags.
 I have tried lot but not able to find. and also gone threw ck-editor-4 .

Thanks

[2022-11-01 13:13] TriJayDore commented on #15371
@Lawful2002  I am interested in working on this issue . Please assign to me and let me know the guidance to resolve this bug.
Here are my understanding ,
1)Appropriate Exploration card has to be selected when pressing tab key
2)Able to mark as "Play Later" using tab key only

[2022-11-01 13:35] Priyansh61 commented on #15763
Hey @adityanarayanm095

[Issue](https://github.com/oppia/oppia/issues/15168)

This issue needs to be solved...
Would you like to work on this issue ??

[2022-11-01 14:06] ashish-patwal commented on #16438
Sorry for the late reply ! Originally we planned to migrate to the latest (
bleeding edge version ) of python i.e. 3.10 . However, when we tested the
codebase against 3.9 and 3.10, the setup process halted at a certain stage,
throwing error due to pip-compile command. At this point, we were not able
to pinpoint the obvious cause of it, thus we decided to move to the latest
which was giving no erro

[2022-11-01 14:08] Priyansh61 commented on #15763
Hello, @kevintab95

I was working on this problem, and I'm not sure how a skill is merged with another skill or with itself.

Could you kindly include a video / reference of the procedure so that I can use it as a guide and continue to investigate the problem?

[2022-11-01 14:09] Lawful2002 commented on #15371
Sure @TriJayDore , go ahead. Can you provide an ETA for a merge date?

[2022-11-01 14:10] Lawful2002 commented on #1895
@Rijuta-s has this issue been resolved?

[2022-11-01 15:02] U8NWXD opened #16462 "Verify Checksums of PyPI Dependencies"
See this design doc: https://docs.google.com/document/d/1RfXQVgayYFL5kPXb0uNOOh1P819jONlrDSw4akZ9Hw4/edit#heading=h.rpq25vez37fp

Part of the remediation for #16292

[2022-11-01 15:04] U8NWXD opened #16463 "Verify checksums for non-NPM and non-PyPI dependencies"
Part of the remediation for #16292

[2022-11-01 15:06] U8NWXD commented on #16292
Closing since the remediation issues #16462 and #16463 have been opened

[2022-11-01 15:06] #16292 closed, assigned to U8NWXD

[2022-11-01 15:11] U8NWXD commented on #16105
Superseded by #16446

[2022-11-01 15:11] #16105 closed, assigned to U8NWXD

[2022-11-01 15:14] gp201 commented on #16356
We're still seeing this flake occur.
[code]

GitHub action: https://github.com/oppia/oppia/actions/runs/3368727560/jobs/5587704939#step:9:7222

[2022-11-01 15:15] gp201 commented on #16356
@heyimShivam PTAL

[2022-11-01 15:16] U8NWXD commented on #16446
We only created a custom fork of pylint-quotes so that we could pin the version of pylint it depends on. (see [commit](https://github.com/oppia/pylint-quotes/commit/4817ead2c8c64eecd8d70a2ff3756281adc41e99)) That's no longer needed since we now pin all our transient dependencies, so we can just go back to depending on the upstream pylint-quotes.

[2022-11-01 15:36] U8NWXD commented on #16316
@gp201 please run 200 times on the seed where the flake was observed. If this flake doesn't occur in those runs, we can close this issue

[2022-11-01 16:15] ShivamJhaa opened #16464 "E2E Flake: Error: Search input takes too long to appear"
[code]
**LearnerFlow** : https://github.com/oppia/oppia/actions/runs/3369525032/jobs/5589286480#step:11:400

[2022-11-01 16:24] EricZLou commented on #15935
Yes! Take a look inside https://github.com/oppia/oppia/blob/develop/core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts. Specifically, the `edit` function within `init`. There, you'll also see that it opens the customization args modal. Does this help?

Also, for the record, this used to not be a bug. So you could also try and find the PR that created this bug.

[2022-11-01 16:30] U8NWXD commented on #16042
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3350515107/jobs/5551371567

[2022-11-01 16:30] #16042 closed, assigned to nobody

[2022-11-01 16:33] U8NWXD commented on #16427
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3350120649/jobs/5550705856

[2022-11-01 16:33] #16427 closed, assigned to nobody

[2022-11-01 16:33] U8NWXD commented on #16201
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3329605971/jobs/5507035782

[2022-11-01 16:33] #16201 closed, assigned to nobody

[2022-11-01 16:34] U8NWXD commented on #16219
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3350120646/jobs/5550705855

[2022-11-01 16:34] #16219 closed, assigned to nobody

[2022-11-01 16:35] U8NWXD commented on #16260
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3339450017/jobs/5531885407

[2022-11-01 16:38] U8NWXD commented on #16110
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3338801273/jobs/5526933914

[2022-11-01 16:40] U8NWXD commented on #16285
Did not appear in 50 runs: https://github.com/ShivamJhaa/oppia/actions/runs/3347040524/jobs/5544583910

[2022-11-01 16:40] #16285 closed, assigned to nobody

[2022-11-01 17:28] jahd2602 opened #16465 "Add language filtering to /getreviewableopportunitieshandler"
**Is your feature request related to a problem? Please describe.**
`/getreviewableopportunitieshandler` needs to support a `language` param that will filter opportunities by language. This is needed to filter the languages in https://github.com/oppia/oppia/pull/16157.
**Describe the solution you'd like**
Add `language` param to `/getreviewableopportunitieshandler`.
**Describe alternatives you've c

[2022-11-01 17:28] jahd2602 commented on #16207
Closing this in favor of https://github.com/oppia/oppia/issues/16465

[2022-11-01 17:28] #16207 closed, assigned to jahd2602

[2022-11-01 18:16] Filip-Joh commented on #14219
Could I please be assigned to core.domain.blog_domain_test? @IamEzio

[2022-11-01 19:38] Priyansh61 commented on #15923
@Lawful2002 Here's the debugging doc for the given problem

[https://docs.google.com/document/d/1KbcxqExW5wn2fiVpgPTJNxq_Le_-5jzv9m7806X5SSU/edit?usp=sharing](https://docs.google.com/document/d/1KbcxqExW5wn2fiVpgPTJNxq_Le_-5jzv9m7806X5SSU/edit?usp=sharing)

Do let me know if any changes needs to be made ?

[2022-11-01 20:52] lkbhitesh07 opened #16467 "Validate all the Skills and Question states by using the migration and audit job."
**Prerequisite:** Complete the skills and questions validation checks from #13822 then remove the mentioned `validate` argument.

The Skills and Question states need to be validated and the data present in the datastore should be valid. We will require to use the audit job and the migration job, we already have jobs present for `skills` but the `questions` one has to be written yet. After verifyin

[2022-11-01 21:23] sagangwee commented on #16458
Filtering by time covered by https://github.com/oppia/oppia/issues/16069.

[2022-11-02 01:59] paprajapati9 opened #16469 "Improve learners' progress UX for facilitator view on edit learner group page"
**Describe the bug**
Currently learners' progress is shown in an expandable panel and it's difficult to recognise what is shown under the progress

**Observed behavior**
There is no clarity of what is shown under the progress expandable panel.

**Expected behavior**
The UX should be more clear to make is easier for facilitator to understand what is shown under the progress

**Screenshots / Videos*

[2022-11-02 04:47] IamEzio commented on #14219
@Filip-Joh done!

[2022-11-02 14:41] SatyarajRana commented on #13162
Hey, @sahiljoster32 @Nik-09  I have a doubt:
If I want to hit a the URL of a handler from the front-end which has exploration_id in the URL, how do I know the value of exploration_id in the URL?

[2022-11-02 16:27] U8NWXD commented on #16366
OK, I'm fine with removing the linter

[2022-11-02 17:18] U8NWXD commented on #16292
Also note that we are adding a vdp in #16470, which describes how to report security issues

[2022-11-02 17:19] U8NWXD commented on #16438
@ashish-patwal does that mean that 3.8.15 was giving errors?

[2022-11-02 18:06] heyimShivam commented on #16356
hi @gp201 I am not able to figure out what is going wrong (I think as the no. of test cases increased or decreased the flake is appearing back)

[2022-11-02 18:10] Busayo-ojo opened #16475 "[BUG]: Translation of Image text is not working"
### Describe the bug

When I try translating an image, it works. The image and the translated texts appears in my text box which shows that this image has been translated, but when I try saving and moving to the next lesson it brings an "Image caption and/or description should be translated if they exist" error message.

### Screenshots/Videos

Translated image with the caption
![image](https://us

[2022-11-02 18:27] vojtechjelinek commented on #16438
@U8NWXD No, I think around the time we started working on the migration just 3.8.12 was available and then we just didn't update it. We will move to 3.8.15 ASAP

[2022-11-02 18:45] ashish-patwal commented on #16438
Just to make sure are we doing these changes just for the ci by editing the
yaml files or do we intend to edit in the core codebase also ?

On Wed, 2 Nov 2022, 23:58 Vojtěch Jelínek, ***@***.***> wrote:

[2022-11-02 21:05] SubhashThenua commented on #15935
@EricZLou Thanks for your work.
Is their any other way by which this modal is called?
basically  i am not able to find which fuction is called after click on tags that open the modals.
i think edit function within init is to update the modal when user made changes on it.

please let me know if i am wrong.

Thanks

[2022-11-02 23:16] EricZLou commented on #15935
Do you have your local dev server running? Try adding a print statement at the start of the `edit` function to see when it is run. I'm not 100% sure about this. But the modal that is supposed to pop up is called `customize-rte-component-modal.template.html`. Does this help?

[2022-11-03 01:22] gp201 commented on #16356
@heyimShivam This seems to be consistently occurring for the same test case. Can you check if it has something to do with the test itself or the order of the tests? I suggest opening a [debugging doc](https://github.com/oppia/oppia/wiki/Debugging-Docs) if you're facing problems.

[2022-11-03 04:19] KolliAnitha opened #16476 "Page indent should represent the no.of skills and no.of pages similar to topics section"
### Describe the bug

Page indent should represent the no.of skills and no.of pages similar to topics section

### Steps To Reproduce

Pre-Requisite: Need to get access to Topics and Skills dashboard
Repro Steps:
1. Click on Topics and Skills dashboard
2. View the Topics tab, indents 1-10 of 48 and <1 2 3 4 5> pages
3. Now click on Skills tab
4. View the indents in it, 1-10 of many and <1>

### Ex

[2022-11-03 09:54] vojtechjelinek commented on #16438
@ashish-patwal Everything

[2022-11-03 10:43] #16446 closed, assigned to U8NWXD

[2022-11-03 13:53] Biieba opened #16480 "[BUG] Entering division expressions for math expression input on mobile is buggy"
### Describe the bug

When you input a division expression in to the answer box. It doesn't accept the answer immediately when you click "submit". You have to try it over and over again before it accepts your answer.

![Screenshot_20221015-020615](https://user-images.githubusercontent.com/115447333/199738610-f3468f1d-21f2-4a83-abfa-7a7891c2df09.png)

### Steps To Reproduce

Go to division page
Inp

[2022-11-03 15:47] #16008 closed, assigned to nobody

[2022-11-03 16:13] gnurris commented on #14219
Hello! Could I please be assigned to core.domain.change_domain_test? @IamEzio

[2022-11-03 16:34] SubhashThenua commented on #15935
@EricZLou  you are right. It works

thats the function which it called on click.

Thanks

[2022-11-03 17:09] sahiljoster32 commented on #13162
Hi @ujjwalban , I have discussed with @vojtechjelinek about `DeferredTaskHandler` and we think this `DeferredTaskHandler` is a bit different from others because this handler is not connected to frontend, basically it is used in the backend only.

I really appreciate your work, and that being said I have assigned you `SuggestionListHandler`. You can leave `DeferredTaskHandler` for now.
Thanks!

[2022-11-03 17:11] sahiljoster32 commented on #13162
You can pass any arbitrary exploration id, if that arbitrary id throw any kind of error then you have to run the server and publish some explorations to get some legit exploration_ids. Thanks!

[2022-11-04 00:18] karenbanci commented on #7664
@seanlip I opened this discussion, I'm having problems importing files  : https://github.com/oppia/oppia/discussions/16482

[2022-11-04 02:34] U8NWXD opened #16484 "Backend Test Flake (test_creates_stats_model_from_one_suggestion_in_set_format): Datetime Mismatch"
The backend test `core.jobs.batch_jobs.suggestion_stats_computation_jobs_test.GenerateTranslationContributionStatsJobTests.test_creates_stats_model_from_one_suggestion_in_set_format` flaked due to a mismatch of Datetime objects. This is likely because midnight UTC hit while the test was running.

Log:

[code]

Link: https://github.com/oppia/oppia/actions/runs/3390103589/jobs/5633868052

[2022-11-04 02:38] seanlip commented on #16484
Ah, interesting. I think we typically try to mock utcnow() in time-dependent tests for reasons like this.

[2022-11-04 03:33] ViksarDubey opened #16486 "[Feature Request]: Page Numbers on the bottom of Review Contribution Pages"
### A clear and concise description of what you want to happen.

I think it would be helpful to label each page numerically on the My Contributions section in the Contributor Dashboard, rather than the typical "Next" or "Previous" buttons. Normally it is very tedious to spam "Next" when going to find a question, and especially when I review a question, it takes me back to the very first page of th

[2022-11-04 04:42] Lawful2002 commented on #16064
@Shivkant-Chauhan I am not able to reproduce this bug. Can you confirm if this still happens for you?

![Image](https://user-images.githubusercontent.com/73544247/199889102-807418e9-adb2-4e9e-ae36-b0f99dab141f.png)

[2022-11-04 04:45] Lawful2002 commented on #7892
@kevintab95 Can this be closed?

[2022-11-04 04:48] Lawful2002 commented on #9939
@gp201 Has this been completed? Also should this issue be part of the CI stability project?

[2022-11-04 04:52] #10989 closed, assigned to nobody

[2022-11-04 04:54] Lawful2002 commented on #12609
@kevintab95 I can't seem to reproduce this issue. PTAL if it still exists.

[2022-11-04 05:03] Lawful2002 commented on #16118
@Shivkant-Chauhan Could you perhaps create a product research doc (PRD) for this? This helps us to get a better idea about whether this is really an issue that end users face.

[2022-11-04 12:29] ujjwalban commented on #13162
Thanks :)

[2022-11-04 14:22] BlueDragn opened #16487 "[BUG]: User id logo on right side of card is unclear"
### Describe the bug

When I go through Mathematics lesson I can see "user Id logo" moving into right side of lesson.This is an unexpected behaviour.

### Steps To Reproduce

1.Go to https://www.oppia.org/learn/math/place-values/story
2. Click on chapter 1
3. Go through lesson
4. when clicked on any button like "continue" or "submit" you can notice in right side of the lesson "user id logo " comes

[2022-11-04 14:58] Tati-luv opened #16488 "Unexpected error message in guppy input"
### Describe the bug

The mobile website version is slow when submitting answers and the correct answer is not synchronized with the PC website version.

### Steps To Reproduce

- Go to the https://www.oppia.org/ website.
- Click on: https://www.oppia.org/explore/m1nvGABWeUoh?story_url_fragment=a-day-at-the-amusement-park&topic_url_fragment=exprs-and-eqns&classroom_url_fragment=math&node_id=node_1

[2022-11-04 15:16] #16411 closed, assigned to U8NWXD

[2022-11-04 15:47] ujjwalban commented on #15968
Hi , can you assign me any three for now, as I would like contribute in this.  @JayVivarekar

[2022-11-04 16:34] seanlip commented on #16488
Closing this, there isn't any useful info in the issue description.

[2022-11-04 16:39] Tati-luv commented on #16488
Sorry I wasn't able to fill out the problem on time. @seanlip

[2022-11-04 17:15] ujjwalban commented on #13162
Hi @sahiljoster32 , I worked on SuggestionListHandler and made this change ,
Can you verify it if these changes are okay or not ,
no error was coming after this change.
![Annotation 2022-11-04 224438](https://user-images.githubusercontent.com/51720065/200036188-7ccb2af7-eec2-45a9-b682-540aa436326d.png)
if the changes are okay allot me next handler

[2022-11-04 18:57] gp201 commented on #9939
@U8NWXD PTAL

[2022-11-04 20:09] lkbhitesh07 opened #16490 "Move the validations with strict mode together in all interactions."
Currently the validations for the strict mode inside interactions are not placed together, we have to group all the strict validations together. You can find the interaction validations inside the `state_domain.py` file.

[2022-11-05 03:06] IamEzio commented on #14219
@gnurris done!

[2022-11-05 16:09] Kaicheng-Han commented on #14219
Hello! Could I please be assigned to core.domain.story_domain_test? @IamEzio

[2022-11-05 16:31] U8NWXD opened #16494 "Move /security.txt to /.well-known/security.txt"
[RFC9116](https://datatracker.ietf.org/doc/html/rfc9116#section-3), which defines the `security.txt` standard, states:

We currently place the file at `/security.txt` instead, which is non-standard:

https://github.com/oppia/oppia/blob/8eeef29fc5eba28e22b677fcb6951bbfe20e1eee/app_dev.yaml#L40

Also, we should update the contact information to use the new `security@oppia.org` address. Possibly also

[2022-11-05 18:01] kevintab95 commented on #15942
Fixed by https://github.com/oppia/oppia/pull/16352. Closing.

[2022-11-05 18:01] #15942 closed, assigned to kevintab95

[2022-11-06 00:16] cyc0825 commented on #14219
Could I please be assigned to core.domain.auth_services_test? @IamEzio

[2022-11-06 03:32] seanlip commented on #16294
I don't think this is completed yet. Reopening.

[2022-11-06 10:52] ujjwalban commented on #13162
Hi @sahiljoster32 , I worked upon SuggestionListHandler and I made some changes according to it, Can you verify these changes and tell me if I am in right direction. Whenever I hit the url {localhost:8181/suggestionlisthandler}, text file downloaded from it. So , I was little bit confused.
![Annotation 2022-11-04 224438](https://user-images.githubusercontent.com/51720065/200163446-ab32bd98-869b-47

[2022-11-06 11:30] Lawful2002 commented on #15371
@TriJayDore any updates?

[2022-11-06 12:14] Lawful2002 commented on #16046
@Dorothy2020 Can you please fill out the details mentioned in the issue template.

[2022-11-06 12:18] Lawful2002 commented on #15993
Sure @SubhashThenua, go ahead. Please let me know by when can you get a PR up for this (tentatively)?

[2022-11-06 12:24] Lawful2002 commented on #15987
@Shivkant-Chauhan Has this been completed?

[2022-11-06 12:31] #15401 closed, assigned to nobody

[2022-11-06 12:32] #14767 closed, assigned to Lawful2002

[2022-11-06 12:36] Lawful2002 commented on #15367
@a-ndi Are you still facing this issue?

[2022-11-06 12:38] Lawful2002 commented on #14785
@srikanthkb Any updates on this?

[2022-11-06 12:39] Lawful2002 commented on #14298
@chris7716 Has this been completed?

[2022-11-06 12:41] Lawful2002 commented on #13352
@vojtechjelinek @kevintab95 Should this be part of the "Server Data Validation" project?

[2022-11-06 12:43] Lawful2002 commented on #13133
@Radesh-kumar Can you please more details about this?

[2022-11-06 15:43] JayanthT7 commented on #15371
@Lawful2002 I am setting up the code locally .Will update you once done.
Please give me some time

[2022-11-06 16:02] Shivkant-Chauhan commented on #15987
No, other contributors can work on this. Can also refer to this closed PR: https://github.com/oppia/oppia/pull/16045

[2022-11-06 17:06] Dorothy2020 commented on #16046
Okay, Im on it

[2022-11-07 00:45] U8NWXD commented on #16192
Closing due to inactivity. @lkbhitesh07 please feel free to reopen if you're still having issues

[2022-11-07 00:45] #16192 closed, assigned to lkbhitesh07

[2022-11-07 00:54] U8NWXD commented on #15248
Actually, removing `buf` from `oppia_tools/` seems to work sometimes too

[2022-11-07 00:59] U8NWXD commented on #13672
Closing due to inactivity. Feel free to reopen if you're still seeing this problem

[2022-11-07 01:00] U8NWXD commented on #14408
Superseded by #15248

[2022-11-07 01:00] #14408 closed, assigned to nobody

[2022-11-07 01:08] U8NWXD commented on #14689
This behavior is controlled by GitHub, not us. We deliberately provide an example of the command output so users know what to expect

[2022-11-07 01:08] #14689 closed, assigned to nobody

[2022-11-07 01:13] U8NWXD commented on #13408
Closing due to inactivity and since we don't see this on CI anymore. Feel free to reopen if it still happens

[2022-11-07 01:13] #13408 closed, assigned to nobody

[2022-11-07 01:14] U8NWXD commented on #14256
Closing since installing with docker is currently not supported and identified as not working on the wiki

[2022-11-07 01:14] #14256 closed, assigned to nobody

[2022-11-07 02:46] IamEzio commented on #14219
@Kaicheng-Han @cyc0825 done!

[2022-11-07 04:04] Lawful2002 commented on #13327
@Rijuta-s Any updates on this?

[2022-11-07 04:08] Lawful2002 commented on #9751
@iamprayush Any updates on this?

[2022-11-07 04:12] Lawful2002 commented on #16171
@Snm-9701 The second 'hint' icon is actually for seeing the solution to that question. The different colors are used to tell them apart.

[2022-11-07 04:13] #16171 closed, assigned to nobody

[2022-11-07 06:27] Shivkant-Chauhan commented on #16064
@Lawful2002 now the issue is not reproducible. Maybe it got corrected with some other changes merged!

[2022-11-07 06:27] #16064 closed, assigned to Shivkant-Chauhan

[2022-11-07 09:50] vojtechjelinek commented on #13672
This still persists, but as it is a quite easy to fix manually I didn't yet fix it automatically, it also seems to only affect a tiny fraction of devs. I think it would make sense to rather add this solution into a wiki or keep this issue open so that it is easy to find for users who encounter this.

[2022-11-07 13:20] Lawful2002 commented on #3056
@SubhashThenua I think you are working on this?

[2022-11-07 13:32] Lawful2002 commented on #5516
@aks681 Any updates?

[2022-11-07 13:48] #15826 closed, assigned to U8NWXD

[2022-11-07 16:20] seanlip commented on #16488
Thanks for filing this, @Tati-luv.

@iamprayush could you PTAL?

[2022-11-07 16:22] seanlip commented on #16487
Hi @BlueDragn, thanks for filing this. For background, the idea here is that this is a "conversation" and that the user ID logo represents you, so it is basically highlighting the answers that you are submitting.

Do you have any thoughts on how to make this clearer?

[2022-11-07 16:23] seanlip commented on #13189
It should be possible for reviewers to upload these, so the described behaviour is a bug.

[2022-11-07 17:43] kevintab95 opened #16504 "Introduce Android Beta Page"
This issue is to track pending tasks in the Android Beta Page:

1. Address all comments in [the mocks](https://www.figma.com/file/3cJyYygIO51tHwW65xfxX6/Oppia-Android-Beta-Launch?node-id=414%3A1044).
2. Update images to have versions in other languages (e.g. when the user switches to pt-br, the images with English text should be replaced with a corresponding pt-br version.)
3.  Integrate and test

[2022-11-07 17:48] kevintab95 opened #16505 "Introduce new Donate page"
Introdce a new Donate page based on these [mocks](https://www.figma.com/file/Q4UOZRGxG1E5Vt67lHJKjV/Oppia-Foundation?node-id=0%3A1).

[2022-11-07 17:57] kevintab95 opened #16506 "Add new Analytics events"
As part of GA4 migration, we are adding new events to be tracked. This will help prioritise future work. New events to be implemented are mentioned [here](https://docs.google.com/document/d/15CRR2LIvLh2EUhx41QEJ5xm4qJQOGMCFwsRxjb-BN80/edit?hl=en-GB&forcehl=1#heading=h.uk193qsw9kqf).

[2022-11-07 23:25] karenbanci commented on #7664
I cannot reproduce these errors in my browser.
Python version 3.8.12
Chrome: Version 107.0.5304.87 (Official Build) (arm64)

<img width="567" alt="Screen Shot 2022-11-07 at 3 21 44 PM" src="https://user-images.githubusercontent.com/88203154/200436391-87abf5b8-21ae-4bc9-8f8b-005e1ebc6c24.png">

Seems to have been fixed here:  https://github.com/oppia/oppia/pull/11697

[2022-11-08 01:23] antoniomesquita09 commented on #11170
Hello @seanlip could you assign me to this issue?

[2022-11-08 02:51] agizoni commented on #14219
Hi! Could I please be assigned to core.domain.stats_services_test? @IamEzio

[2022-11-08 03:05] agizoni commented on #8015
Hi, could I please be assigned to core/templates/domain/exploration/editable-exploration-backend-api.service.ts? @kevintab95 @seanlip

[2022-11-08 14:48] U8NWXD commented on #16316
This has been seen on develop, so it's not fixed: https://github.com/oppia/oppia/actions/runs/3418753669/jobs/5691852550#step:9:7468

[2022-11-08 14:51] U8NWXD commented on #16308
Some more examples:
* https://github.com/oppia/oppia/actions/runs/3416211780 (repeated 502 error)
* https://github.com/oppia/oppia/actions/runs/3417880958 (failure to download Selenium from GitHub)
* https://github.com/oppia/oppia/actions/runs/3455751121/jobs/5767991669#step:11:217 (failure to download Selenium from GitHub)
* https://github.com/oppia/oppia/actions/runs/3455776670/jobs/5768037501 (

[2022-11-08 15:00] U8NWXD commented on #7146
Closing since it looks like we do use the HTML validation service now:

https://github.com/oppia/oppia/blob/8eeef29fc5eba28e22b677fcb6951bbfe20e1eee/core/domain/skill_domain.py#L1368

[2022-11-08 15:00] #7146 closed, assigned to nobody

[2022-11-08 15:56] U8NWXD commented on #6299
@DubeySandeep does this still happen?

[2022-11-08 15:56] U8NWXD commented on #6299
Also @seanlip I'm not sure this belongs in dev workflow. Should this go to LaCE Quality?

[2022-11-08 15:57] U8NWXD commented on #10249
This isn't a dev workflow issue, so reassigning to LaCE quality

[2022-11-08 15:58] U8NWXD commented on #5739
This is not a dev workflow issue, so reassigning to LaCE quality

[2022-11-08 15:59] U8NWXD commented on #11572
Closing since all the dangerous errors have been fixed, and I don't see us working on the remaining files in the next 2 years

[2022-11-08 15:59] #11572 closed, assigned to nithusha21

[2022-11-08 16:07] U8NWXD commented on #5813
@vojtechjelinek I don't see any cases in the codebase where we use `GLOBALS` to check whether a user is logged in, so can this issue be closed? Here's what I searched: https://github.com/oppia/oppia/search?q=GLOBALS.

[2022-11-08 16:07] agizoni commented on #10616
Hi, @Hudda, can you please assign me to @typescript-eslint/no-namespace?

[2022-11-08 17:03] U8NWXD commented on #15855
Since `Optional` just means that `None` is a valid value, which may or may not correspond to an argument being "optional" in the colloquial sense, I don't think we should require that args of type `Optional` go at the end. Note that Python would require that all these args be specified, so in some sense they're all required

[2022-11-08 17:03] #15855 closed, assigned to nobody

[2022-11-09 01:17] YijiaG-Jessica commented on #14219
Hi! Could I please be assigned to core.domain.rights_manager_test?  @IamEzio

[2022-11-09 04:07] vojtechjelinek commented on #5813
@U8NWXD This is not really related to `GLOBALS` anymore, but I think we can close this regardless as this was a minor issue few years ago and I think it is even more minor now.

[2022-11-09 04:07] #5813 closed, assigned to vojtechjelinek

[2022-11-09 04:40] athenading commented on #16346
Hi, @azhou0104 and I are reviewing this and would love take this on!

[2022-11-09 04:46] athenading commented on #16458
Hi, @anzhou0104 and I are reviewing this and would love to take this on!

[2022-11-09 05:54] KolliAnitha opened #16514 "Delete icon for a question is not clear for a first time user"
### Describe the bug

On clicking the icon present in the questions list, only then it is clear that the icon is to delete a question.
Delete icon should be the generic one and a tooltip for the icons would be helpful for users

### Steps To Reproduce

1. Go to Topics and Skills dashboard
2. Open any topic
3. Click on Questions tab
4. Select a skill from the dropdown 'Select a skill to view questi

[2022-11-09 09:06] Abhi-1001 commented on #14219
Hi! Could I please be assigned to core.domain.suggestion_registry_test? @IamEzio

[2022-11-09 15:26] #15992 closed, assigned to SubhashThenua

[2022-11-09 15:31] SubhashThenua commented on #3056
@Lawful2002 Thanks for your work.

I am currently working on it.This issue is little bit time taking.

Thanks

[2022-11-09 15:37] #16464 closed, assigned to nobody

[2022-11-09 16:22] ayushanand16 commented on #14219
@IamEzio Could I please be assigned to core.domain.exp_domain_test ?

[2022-11-09 16:26] ayushanand16 commented on #16514
@KolliAnitha Could you please assign me this issue?

[2022-11-09 18:02] adityanarayanm095 commented on #16111
@seanlip @KolliAnitha I would like to work upon this!

[2022-11-09 18:12] IamEzio commented on #14219
@agizoni @YijiaG-Jessica @Abhi-1001 @ayushanand16 done!

[2022-11-09 18:34] PietroFracCab commented on #12912
@vojtechjelinek Hey, can you kindly check the doc again? Think I finished it! Sorry for the delay.

[2022-11-09 23:27] ellahathaway commented on #14219
Hi @IamEzio, is it possible for me to be assigned to core.domain.state_domain_test please? Thank you!

[2022-11-10 00:02] danapj commented on #16085
hi @seanlip @anubhutiv , sorry just saw this for some reason. will put it in our UXW backlog and get to it.

[2022-11-10 00:16] kevintab95 commented on #15763
Added a video in the description. Thanks!

[2022-11-10 02:03] catmar22 commented on #14219
Hello @IamEzio ! Could I be assigned the last available test core.domain.state_domain_test please? Thanks!

[2022-11-10 03:33] IamEzio commented on #14219
@ellahathaway done!

[2022-11-10 03:35] IamEzio commented on #14219
@catmar22 The file has already been assigned. PTAL at other beginner friendly issues. Thanks!

[2022-11-10 08:00] vojtechjelinek commented on #12912
@PietroFracCab Done, please create a PR.

[2022-11-10 09:33] kevintab95 commented on #14426
I am not actively working on this at the moment so unassigning myself for now.

[2022-11-10 13:51] #16288 closed, assigned to U8NWXD

[2022-11-10 14:49] JayVivarekar commented on #15968
@balogun14 Can you specify more about the issue you are facing?

[2022-11-10 15:29] Rijuta-s commented on #13327
@Lawful2002 2 tasks remaining, will do them along with other fixes requested by Diana in Blog Dashboard Feature Review!

[2022-11-10 17:17] sahiljoster32 commented on #13162
Hi @ujjwalban, I think you are missing HANDLER_ARGS_SCHEMAS, and sorry for late reply -- I got busy with other works.

Thanks!

[2022-11-10 18:31] tpapesh commented on #8016
@DubeySandeep Hi, I am new to Oppia and was hoping I could work on core/templates/pages/practice-session-page/practice-session-page.component.ts as my first task. Could you please assign it to me? Thank you!

[2022-11-10 18:57] tpapesh commented on #8015
@kevintab95 @seanlip - Hi, I am new to Oppia and was wondering if I could be assigned to core/templates/domain/summary/exploration-summary-backend-api.service.ts as one of my first tasks please? Thank you!

[2022-11-10 19:31] balogun14 commented on #15968
@JayVivarekar the Icon is not showing just seeing a Unicode symbol no icon

[2022-11-11 02:57] KolliAnitha opened #16523 "[BUG]: Warning icon disappears on clicking the question, there is no warning after opening the question"
### Describe the bug

When I hover on the warning icon, a tooltip indicating the issue should be seen. On clicking the warning icon it disappears.
On opening the question there is no warning message misleading the user.

### Steps To Reproduce

1. Go to Topics and Dashboards page
2. Click on a Topic 'Test Topic'
3. Click on Questions button
4. Select a skill from the dropdown 'add numbers'
5. Ques

[2022-11-11 04:37] Nik-09 commented on #11170
@antoniomesquita09 Done

[2022-11-12 00:41] seanlip opened #16526 "[Feature Request]: Deduplicate images in translations that exactly match their English source equivalents."
### A description of the problem.

Currently, some images used in translations of the Math Classroom lessons are exactly the same as those used in the original text. For example, this includes the first image in "What are the Place Values?" here:

![Screenshot from 2022-11-11 16-27-14](https://user-images.githubusercontent.com/10575562/201447339-2e869b0e-98cb-47d8-984e-6e930aa18ce3.png)

![Screens

[2022-11-12 04:19] gp201 opened #16529 "[FE Flake]: Contributor dashboard page Expected 'Topic 1' to be undefined."
## Stacktrace

[code]

This seems to have been caused due to the spy getting defined twice.

once in the `beforeEach`
https://github.com/oppia/oppia/blob/7b5841ee1e16b6c23689ae361f73587373317082/core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts#L83-L86

again in the test:
https://github.com/oppia/oppia/blob/7b5841ee1e16b6c23689ae361f73587373317082/core/te

[2022-11-12 04:40] gp201 commented on #16529
@sagangwee This flake seems to have been introduced via https://github.com/oppia/oppia/pull/15841 Can you please open a fix for this?

You solve this by either splitting the tests using a nested describe function where `getTranslatableTopicNamesAsyncSpy` returns a topics in one and in the other it returns an empty list or define the spy for each test explicitly.

[2022-11-12 04:40] gp201 commented on #16529
@heyimShivam Should `ngOnInit` be called before every test?
https://github.com/oppia/oppia/blob/7b5841ee1e16b6c23689ae361f73587373317082/core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.spec.ts#L108

Since `ngOnInit` is called inside tests again.

[2022-11-12 07:17] vojtechjelinek commented on #13352
No I don't think this is about validation, this is more like new feature (or reintroducing older feature).

[2022-11-12 10:44] kevintab95 commented on #8015
@agizoni done!

[2022-11-12 10:44] kevintab95 commented on #8015
@tpapesh done!

[2022-11-13 10:38] kevintab95 opened #16535 "[Feature Request]: Serial Chapter Launch functionality"
### Is your feature request related to a problem? Please describe.

Topics currently take a long time to launch since we need to launch all lessons at once. However, not all content is developed in parallel, so it's very possible some of the lessons (especially earlier lessons) may be ready sooner than others.

See PRD: https://docs.google.com/document/d/1Uh_CJRhGE4IM7c0ENdmXkoMD0YtGqFsl1ObR6vvmxd

[2022-11-13 14:16] Manan-Rathi commented on #16514
Assigned!

[2022-11-13 16:23] adityanarayanm095 commented on #16121
@Lawful2002 @seanlip @Shivkant-Chauhan
I would like to work upon this. Kindly, Assign this to me.

[2022-11-13 20:56] seanlip opened #16536 "[BUG]: Translations review page not loading for some explorations"
### Describe the bug

Spanish translation reviewers are blocked from reviewing translations on the contributor dashboard because they don't load:

![Screenshot from 2022-11-13 12-45-36](https://user-images.githubusercontent.com/10575562/201543910-f16dd3fa-699f-4e67-94b2-8ac56debdd25.png)

On further investigation this appears to be due to a server error:

![Screenshot from 2022-11-13 12-45-36](htt

[2022-11-14 04:42] sahiljoster32 opened #16538 "[Feature Request]: Change `comma_separated_skill_ids`'s type in handlers"
### Is your feature request related to a problem? Please describe.

Currently, we are using base string  type for `comma_separated_skill_ids` url_path argument which is not consistent throughout the codebase.

### Describe the solution you'd like

Ideally, `comma_separated_skill_ids` should be used with `JsonEncodedInString` type.

[2022-11-14 06:36] sahiljoster32 opened #16539 "[BUG]: `render_json` should only accept Dict/TypeDict type of values."
### Describe the bug

In some places of the codebase, we are passing list type of values to the `render_json` method which forces us to use broader type for the arguments of `render_json`.

Places where these list values are passed:
https://github.com/oppia/oppia/blob/f8a8d680c6f95dfc3c63a003484177ac06e4ce21/core/controllers/learner_group.py#L954
https://github.com/oppia/oppia/blob/f8a8d680c6f95df

[2022-11-14 14:41] vojtechjelinek opened #16542 "[Feature Request]: Remove check for Google Chrome from setup.py"
### Is your feature request related to a problem? Please describe.

This issue came when I was working on GH Action for building Oppia. The problem is that just for the build process the Google Chrome needs to be installed. https://github.com/oppia/release-scripts/pull/89#discussion_r1017717109

Also, the `CHROME_BIN` env variable is never used anywhere. https://github.com/oppia/oppia/blob/develop

[2022-11-14 17:18] seanlip commented on #16487
Closing because no clarification was provided.

@BlueDragn, feel free to respond to the previous questions if you are able to, and we can reopen this -- thanks!

[2022-11-14 17:18] #16487 closed, assigned to BlueDragn

[2022-11-14 17:22] sagangwee commented on #16536
This seems to be caused by an obsolete suggestion (state no longer exists) being returned to reviewers. Error is thrown when we try to fetch the content HTML of the obsolete suggestion here: https://github.com/oppia/oppia/blob/develop/core/controllers/suggestion.py#L669.

We filter out obsolete suggestions when returning the reviewable opportunities (https://github.com/oppia/oppia/blob/develop/cor

[2022-11-14 18:11] #13569 closed, assigned to iamprayush

[2022-11-14 18:11] iamprayush commented on #13569
Closing as fixed by #14199

[2022-11-14 18:29] iamprayush opened #16543 "[BUG]: Misspellings in state dict attributes aren't getting caught by static/lint checks."
### Describe the bug

While writing a state migration, if the changes in the state dict have a misspelled attribute (e.g. customization arg name is misspelled), the unit tests should catch it by comparing it to the customization arg name mentioned in the main interaction python file.

### Steps To Reproduce

1. Create new or update a state migration function that changes the customization arg. (eg

[2022-11-14 19:59] mpdesai90 commented on #3968
which object? I would like to help. @Showtim3 @JeeveshGarg

[2022-11-14 22:23] kevintab95 opened #16545 "ValidationError: Blog Post URL Fragment field should not exceed 65 characters."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-11-14 22:29] seanlip commented on #16545
/cc @gp201

[2022-11-15 00:04] yurilemos commented on #13162
Hi @sahiljoster32 , I'm having trouble understanding why this test is falling after i push my code into my fork repository

I got this error:

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/56370419/201793523-98972679-b110-4f0d-8815-0d189e63165a.png">

and the schema for the class that I've created:

<img width="687" alt="image" src="https://user-images.githubusercont

[2022-11-15 01:35] seanlip commented on #10754
Just FYI, I talked to the design team (@findimue @mschanteltc) and all of them are much more used to pixels than rem/em. (Just adding a data point here.)

Maybe the way things should be is, the design team uses px for the "default view", but the devs can decide how to adjust this so that things work on different zoom levels etc. Not sure -- this is probably up for more discussion.

[2022-11-15 04:33] paprajapati9 opened #16549 "[BUG]: Add 36 chars limit to group title length of learner groups"
### Describe the bug

Currently there is no limit to the group title of learner group, it should have a 36 char limit like exploration titles, this should be added to both the frontend and the backend sides.

[2022-11-15 15:34] U8NWXD opened #16550 "CI failures with setup-python"
Example: https://github.com/oppia/oppia/actions/runs/3455751134/jobs/5767993944

It looks like the network connection is dropping during installation:

[code]

[2022-11-15 16:26] Lawful2002 commented on #5308
@nithusha21 Has this issue been resolved?

[2022-11-15 16:31] seanlip commented on #5308
I'm pretty sure it hasn't been worked on, FYI.

[2022-11-15 17:08] Lawful2002 commented on #8594
@DubeySandeep What is the status of this issue?

[2022-11-15 19:39] yurilemos commented on #16366
Hi @vojtechjelinek @U8NWXD can I get assigned to this one?

[2022-11-15 21:14] kevintab95 opened #16552 "ValidationError: Blog Post with given title already exists"
This error occurred recently in production

[code]

### Describe the bug

Currently, if we try to save a blog post draft or publish a blog post with a title such that it already exists in the drafts or the published section, then we get an error alert that we cannot save/publish a blog post with the title already exists. but if the blog post with the same title already exists the Publish or save d

[2022-11-15 21:15] kevintab95 commented on #16552
@Rijuta-s PTAL

[2022-11-16 03:18] kevintab95 opened #16553 "[BUG]: Unable to download certain versions of an exploration"
### Describe the bug

When I try to download an old version of certain explorations, I get the following error:

[code]

### Steps To Reproduce

1. Go to History tab of an exploration.
2. Download an old version of the exploration.
3. See error.

### Expected Behavior

I should be able to download old version of the exploration without errors.

### Screenshots/Videos

_No response_

### What devic

[2022-11-16 03:31] kevintab95 opened #16554 "[Feature Request]: Prevent reverting to an older version of the exploration that fails validation"
### Is your feature request related to a problem? Please describe.

We currently allow reverting of explorations to older versions in an unrestricted manner. This isn't great because when we improve validations and ensure that the latest version of the exploraiton is always valid, but older versions are not guaranteed to be valid. This means users can revert to an older version of the exploration

[2022-11-16 03:32] kevintab95 commented on #16554
Perhaps one way to handle this, in a process point of view, is to always migrate snapshots when there are new validations added? Not sure.

[2022-11-16 03:34] kevintab95 opened #16555 "[Feature Request]: Add a top-level “curated” property for exploration models"
### Is your feature request related to a problem? Please describe.

Currently it is hard to tell if an exploration is a curated one or not by looking at the model i.e. it is attached to a topic.

### Describe the solution you'd like

Update Exploration objects with a beam job to set a “curated” top-level property. It is True if the exploration is part of a topic, and false otherwise. We change the

[2022-11-16 03:43] kevintab95 opened #16556 "No schema migration pipeline for suggestions (translations/questions)"
### Describe the bug

When there is a schema update, we need to make sure that the schema of the existing models are correctly migrated.

### Steps To Reproduce
1. Submit a few Question suggestions for review via the Contributor dashboard.
2. Write a new state schema migration.
3. Observe that the questions in review are not migrated to the latest schema.

### Expected Behavior
When there is a sce

[2022-11-16 04:12] kimesthe commented on #13647
@nithinrdy could I be assigned this task?

[2022-11-16 04:21] angzheng commented on #8015
Hi, I'm new to Oppia! Could I be assigned to core/templates/domain/story/editable-story-backend-api.service.ts as a first task? Thanks!

[2022-11-16 04:48] Lawful2002 commented on #8016
@tpapesh Done

[2022-11-16 18:17] U8NWXD opened #16559 "Backend test flake: mis-ordering of exploration states"
Example: https://github.com/oppia/oppia/actions/runs/3476372502/jobs/5811542387#step:8:1949

Log:

[code]

We likely need to change our assertion so that the order of states does not matter.

[2022-11-16 18:22] U8NWXD opened #16560 "E2E Flake: Creator Dashboard radio is not visible."
Example:
* https://github.com/oppia/oppia/actions/runs/3481040007/jobs/5821616105#step:14:381
* 2022-11-25: https://github.com/oppia/oppia/actions/runs/3545181217/jobs/5953110823
* 2023-02-20: https://github.com/oppia/oppia/actions/runs/4221370533/jobs/7329220348#step:11:379
* 2023-06-2: https://github.com/oppia/oppia/actions/runs/5155472159/jobs/9286021438
* https://github.com/oppia/oppia/actions

[2022-11-16 22:01] lucyduan commented on #3446
Hi @seanlip , interested in picking this up -- was the validator for musicnotesinput ever completed?

[2022-11-17 00:52] danapj commented on #16085
Hi, just to update that Moe Hay from UXW is working on this, and will update next Wed (23 Nov) on her progress.

[2022-11-17 01:03] TheoOliveira commented on #15371
Hello can you assign to me, one question though I couldn't find the play more actual button to reproduce is this still going on?

[2022-11-17 02:25] U8NWXD opened #16562 "Console Error in the Frontend (found via E2E tests)"
Console Error:

[code]

Example: https://github.com/oppia/oppia/actions/runs/3483946462/jobs/5827973146#step:14:294

Occurs in Contributor dashboard page should persist user's preferred translation language across sessions test.

[2022-11-17 03:02] U8NWXD opened #16563 "FE Flake: Expected 'Topic 1' to be undefined."
Log:

[code]

Example: https://github.com/oppia/oppia/actions/runs/3481040010/jobs/5821781923#step:9:3807

[2022-11-17 03:19] gp201 commented on #16563
Duplicate of https://github.com/oppia/oppia/issues/16529

[2022-11-17 03:19] #16563 closed, assigned to gp201

[2022-11-17 05:18] seanlip commented on #16554
@kevintab95 I thought we have a validate() call that fails if we're reverting to a bad version. Is that not the case?

Could you please confirm that this is still an issue and provide steps on how to reproduce it?

[2022-11-17 05:19] seanlip commented on #16553
Note to contributors: In some cases, old versions of an exploration might have become invalid. In such cases, the exploration may legitimately not be downloadable, but we should show a suitable error message rather than the current user experience.

[2022-11-17 05:21] seanlip commented on #16549
@paprajapati9 Assigning this to you, could you please add a due date to it? (We need to make sure it's fixed before learner groups are turned on in prod -- could you please confirm that they are still currently inaccessible?)

[2022-11-17 05:35] seanlip commented on #16433
@kevintab95 Could you please clarify what you mean by "we do not have any models on the production server"? The statement isn't exactly true as written, so I suspect you might mean something else here.

Thanks!

[2022-11-17 05:36] paprajapati9 commented on #16549
Added a due date. Yes @seanlip, the create learner group page which has option for this is currently inaccessible with the flag of learner groups turned off. Thanks!

[2022-11-17 05:39] seanlip commented on #16549
OK, phew. Thanks @paprajapati9!

[2022-11-17 11:53] ghost commented on #3446
Hi @seanlip , wanted to work on: validator for musicnotesinput.

[2022-11-17 12:48] Ashism766 commented on #16539
hi @sahiljoster32  I like to work on this issue.

[2022-11-17 16:02] #16514 closed, assigned to ayushanand16

[2022-11-17 16:08] fiddyhamma opened #16564 "Oppia learner's feedback"
### Describe the bug

I conducted a learner's review with two students and they both had issues understanding this question. They couldn't differentiate the start of an options rather they counted as a group

### Steps To Reproduce

Go to Oppia math lesson
Click on addition and subtraction
Click on what is addition?

### Expected Behavior

There should be a box or field to differentiate option a f

[2022-11-17 16:18] fiddyhamma opened #16565 "Oppia learners feedback"
### Describe the bug

Users couldn't understand what the question meant.
I also didn't understand how counting 1,2,3 was the same as as counting 1,2

### Steps To Reproduce

Open Oppia math lesson
Click addition and subtraction
Click on what is addition?

### Expected Behavior

The question should be properly phrased and the options as well. There's no correlation between the available options.

#

[2022-11-17 17:00] sahiljoster32 commented on #13162
Hi @yurilemos, This issue is fixed now -- you can update your branch from develop branch. By the way, thanks for reporting this!

[2022-11-17 17:23] sahiljoster32 opened #16566 "[BUG]: Limit the fields of learner_group handlers to a single type."
### Describe the bug

Currently, there are some handlers in the `core/controllers` whose fields can accept more than one type of value.

For. eg:
- LearnerGroupProgressSharingPermissionHandler, In this handler we have `progress_sharing_permission` field which can accept both str and bool types of values. https://github.com/oppia/oppia/blob/d7c0fb67e30cafa6d1d33d55128535ec36caadb5/core/controllers/

[2022-11-17 17:44] aasiffaizal opened #16567 "[Feature Request]: Add stubs for Pylint library."
### Is your feature request related to a problem? Please describe.

Pylint is partially typed and has the use of many `Any`, and hence it throws an error when inheriting any classes from them. Stubs aren't available, and specific stubbing of what we use wasn't also working since mypy doesn't support partial stubbing.

### Describe the solution you'd like

Add stubs for pylint library.

[2022-11-17 18:38] aks681 opened #16568 "Fix RTL formatting for iframe pages"
Fix RTL formatting when playing explorations in iframe embeds. Related points:

https://www.oppia.org/learn/math?lang=ar
- Check that behaviour of this link is correct for both logged-in and logged-out modes
- Make sure the query param also works for changing the language of embedded pages

[2022-11-17 18:56] seanlip commented on #16565
Hi @fiddyhamma, I'm afraid I don't actually understand what the issue is. Could you please explain what you would prefer the question and the options to be?

Also, you say "I also didn't understand how counting 1,2,3 was the same as as counting 1,2" and I don't understand where that ties in.

Reassigning to you for further clarification. Thanks!

[2022-11-17 19:29] lkbhitesh07 opened #16570 "[BUG]: Not able to signin to Oppia when logging from firefox."
### Describe the bug

When I tried to log in to the oppia test server using my google account I was not able to do it. I tried removing cookies and data but was getting the same error.

### Steps To Reproduce

Visit - https://oppiatestserver.appspot.com/ on firefox browser.
Try to login by entering your google account credentials.
See the error.

### Expected Behavior

I should successfully be abl

[2022-11-17 19:56] fiddyhamma commented on #16565
I don't know how to further explain it, I'd like you to attempt that chapter so you'd understand what I meant.
The previous lesson before this introduced "counting up" and then this question but the options don't match counting up the same number of times
Pls attempt the chapter

[2022-11-17 20:14] fiddyhamma commented on #16565
@seanlip I noticed this as well but I can't find it so I'm attaching a link
https://github.com/oppia/oppia/issues/16564#issue-1453604098

[2022-11-18 00:38] seanlip commented on #3446
I don't think it was -- assigning to @lucyduan since she asked first :)

@ayushsuryan, I recommend following [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started!

[2022-11-18 07:02] Nik-09 opened #16572 "[BUG]: Refactor submit functionality for the conversation skin"
### Describe the bug

Currently, the [submit function](https://github.com/oppia/oppia/blob/9628a12139903751b04309f10979b27e5227db0e/core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts#L1161) of the [conversation skin component](https://github.com/oppia/oppia/blob/develop/core/templates/pages/exploration-player-page/learner-experience/conversation-skin.com

[2022-11-18 09:31] seanlip opened #16573 "[BUG]: Write an audit job to ensure that SVG images in curated lessons are valid (e.g. don't contain "xlink:href" attributes)"
### Describe the bug

We are running into some issues downloading SVG images into the Android app in preparation for a release. On further investigation with @BenHenning, we found that the affected SVGs are actually embedding multiple PNG images(!) and this causes the app to not display them at all.

Such SVG images should not be uploadable in the first place, so the aim of this issue is to add va

[2022-11-18 09:32] seanlip commented on #16573
(Assigning @kevintab95 since I suspect this is a quick fix (at least disallowing the attribute) and he is familiar with the SVG editor.)

[2022-11-18 12:02] AxelGard commented on #13162
(**help needed**)

After adding my schema, it seems like I have to add some args in the test.
When running the test in `--verbose` I can get
[code]
The test is doing a `get_json` request to the handler, how do I add the args to the request?
I tried adding them to the prams, but that did work :cry:

Topic name and subtopic id is part of my schema.
here is my [PR](https://github.com/oppia/oppia/pull

[2022-11-18 15:05] sahiljoster32 opened #16574 "[BUG]: Limit the `can_receive_email_updates` field of SignupHandler"
### Describe the bug

Currently, SignupHandler has the `can_receive_email_updates` field which is accepting both bool and None types of values. https://github.com/oppia/oppia/blob/dcdf7f3cc131f8243240dbae3c6db6717e387f23/core/controllers/profile.py#L407

Now, the ambiguity here is that from the front-end we are accepting only the bool type of value and here we are allowing both bool and None value

[2022-11-18 19:40] Nik-09 opened #16575 "[Feature Request]: Add a label to the question list."
### Is your feature request related to a problem? Please describe.

The questions list in the question tab of the skill editor should contain a label to guide the functionality of the icon, which is currently used for removing the questions from the skill. Without a label, it's not clear what clicking that icon does.

![image](https://user-images.githubusercontent.com/57531197/202788044-658d823f-b

[2022-11-18 21:01] karenbanci commented on #7664
@vojtechjelinek Hi, Could you tell me if it was solved?
I tried to reproduce the error and nothing comes up to fix.

[2022-11-18 22:25] lkbhitesh07 opened #16577 "[BUG]: Video RTE tag is not working correctly and frontend validation for Hint section does not work correctly."
### Describe the bug

I noticed 2 errors while I was trying to add the RTE components.
1. The RTE video tag is not working fine, when we save it we are not able to play the video or see the thumbnail of the video and some console errors were also seen.
2. In the Hint section when we try to add multiple tags the frontend validation for character limit is raised and we are not able to save the hint,

[2022-11-19 09:31] kevintab95 commented on #16506
New events are added in https://github.com/oppia/oppia/pull/16158

[2022-11-19 09:31] #16506 closed, assigned to kevintab95

[2022-11-19 11:28] sahiljoster32 opened #16579 "[BUG]: Split generic handlers into a more specific usecase handlers"
### Describe the bug

Currently, in the codebase, we have some handlers that are generic in nature, which means they are handling either too many different types of values or handling too many different actions based on the value of a particular field.

Some of the know cases are:

1. AdminHandler -- https://github.com/oppia/oppia/blob/ff82e559fbf74c4558c14b6cc4e73375f5368bed/core/controllers/admi

[2022-11-19 12:23] Lawful2002 commented on #15371
@TheoOliveira The 'play later' is only visible (on hover) when the user is signed in. Also I have assigned you to this issue.

[2022-11-19 13:00] sahiljoster32 opened #16580 "[BUG]: Define a seperate field for the image names in the PostDict of `QuestionCreationHandler`"
### Describe the bug

Currently, `QuestionCreationHandler` accepts filenames directly https://github.com/oppia/oppia/blob/5471941da48071723b5f7e8684716584c08c6a1d/core/controllers/question_editor.py#L119
This prevents us from adding schema validation in `QuestionCreationHandler` because schema validation can only be done for well-defined keys but currently here we are getting arbitrary filenames s

[2022-11-19 22:10] #16536 closed, assigned to sagangwee

[2022-11-20 06:32] sambhavgupta0705 commented on #15530
Hi, @Lawful2002 ,I would like to work on this issue,please assign it to me.

[2022-11-20 09:42] Nik-09 opened #16582 "[BUG]: Remove “other” mode from exploration player state service"
### Describe the bug

Remove the use case of “other‘ mode from the exploration player state or update this mode into the more meaningful name.

Currently, the exploration player state has different modes, among which there is a mode with the name “other”, this is naming is confusing and should be updated with a more meaningful name. If the “other mode” is not used anywhere then it must be removed.

[2022-11-20 13:39] Kalpani90 commented on #13162
Hi,
Has the QuestionPlayerHandler class already been completed or not?

[2022-11-20 17:28] lkbhitesh07 commented on #16577
Hey @kevintab95, Just to let you know that I have opened up this issue.
Thanks

[2022-11-20 17:47] lkbhitesh07 opened #16585 "[BUG]: Not able to create multiple rule specs in single answer group of "Set input" and "DragAndDrop" interaction on oppia test server."
### Describe the bug

**Please note this error occured while testing on the test server.**
I'm not able to create multiple rule specs in the same answer group of "Set input" and "DragAndDrop" interaction. When I try to create for DragAndDrop it seems like there is some backend validation got executed and it tells to reload the website and we have bunch of errors on the console.
When I tried creati

[2022-11-20 17:48] lkbhitesh07 commented on #16585
Hey @kevintab95, Just to let you know that I have opened up this issue.
Thanks

[2022-11-20 18:30] soumyo123-prog opened #16586 "[BUG]: Clicking on the add subtopic button shows console errors"
### Describe the bug

On clicking the "Add Subtopic" button in a topic editor page, some console errors are shown.

### Steps To Reproduce

1. Open topics and skills dashboard page and create a topic.
2. Open the editor page for that topic.
3. Click on "Add Subtopic" button while keeping the console open.
4. See the console errors.

### Expected Behavior

We can still create the subtopic but the e

[2022-11-20 18:57] Rijuta-s opened #16587 "[BUG]: Exploration tiles are stuck to each other in Mobile view in Community library search page"
### Describe the bug

Performing search on community library page in mobile view leads to search results page with exploration tiles stuck together:
![Screenshot from 2022-11-20 21-31-47](https://user-images.githubusercontent.com/68547101/202920381-9741b5fb-c00b-4cff-95ef-39dccbc1b09c.png)

And the following console error appears:
![Screenshot from 2022-11-20 21-32-09](https://user-images.githubus

[2022-11-20 20:10] lkbhitesh07 opened #16588 "[BUG]: Not able to merge 2 skills on the testing server."
### Describe the bug

I'm not able to merge 2 skills on the testing server. When I try to do it, nothing happens and I get console errors.

### Steps To Reproduce

1. Visit https://oppiatestserver.appspot.com/
2. Make sure to have Topic admin role assigned and then visit to topics and skill dashboard.
3. Try to merge 2 skills.

### Expected Behavior

I should be able to merge it.

### Screenshots/

[2022-11-20 20:46] lkbhitesh07 opened #16589 "[BUG]: Adding image to image region interaction of skill question results in console error."
### Describe the bug

When I try to add an image to the image region interaction on skill question I get console errors. The weird part is that after this error is reported, wherever I click the error appears again in the console even if I click on some empty place.

### Steps To Reproduce

1. Visit https://oppiatestserver.appspot.com/
2. Make sure to have Topic admin role assigned and then visit

[2022-11-20 22:25] lkbhitesh07 opened #16590 "[BUG]: Deleting image in an existing exploration is not working."
### Describe the bug

When I try to delete an image of the existing exploration I am not able to see the changes. When I click on `save changes` the images is not getting removed.

### Steps To Reproduce

1. Visit https://oppiatestserver.appspot.com/
2. Create an exploration with an image in the content and publish it.
3. Now after that revisit the exploration and try to delete the image, you will

[2022-11-20 22:37] lkbhitesh07 commented on #16570
Also please note that when we try to login in incognito mode in chrome we are not able to do that too.

[2022-11-20 23:06] lkbhitesh07 opened #16591 "[BUG]: "has error message that contains" rule of code-editor and pencil-code-editor interaction results in console error"
### Describe the bug

When I try to add "has error message that contains" rule spec to the answer group, it results in console errors.

### Steps To Reproduce

1. Go to the creator dashboard of https://oppiatestserver.appspot.com/ and create an exploration.
2. Select code-editor or pencil-code-editor interaction.
3. With console open try to add "has error message that contains" rule spec and see t

[2022-11-21 00:49] allisongoldstein commented on #15968
I'd like to work on this if any of the files become available.

[2022-11-21 02:38] allisongoldstein commented on #13647
@Lawful2002 Could I be assigned to this task?

[2022-11-21 06:53] #15995 closed, assigned to sahiljoster32

[2022-11-21 06:53] #15982 closed, assigned to sahiljoster32

[2022-11-21 09:08] IamEzio opened #16593 "[BUG]: Console error related to ContextService in fractions practice session"
### Describe the bug

The following error pops up in the console when fractions practise session page is loaded:
`ContextService should not be used outside the context of an exploration or a question.`

### Steps To Reproduce

1. Visit https://oppiatestserver.appspot.com/learn/math/fractions/practice
2. Select any practise question.

### Expected Behavior

The should not be any errors in the conso

[2022-11-21 09:54] Rijuta-s opened #16594 "[BUG]: Unable to load Pencil code interaction."
### Describe the bug

While testing exploration with all interactions, Pencil code editor interaction did not load completely.
![Screenshot from 2022-11-21 15-20-41](https://user-images.githubusercontent.com/68547101/203020026-b4c33f59-26f7-449a-a35d-b3d93e21b7a8.png)

And the following console error showed up:
![Screenshot from 2022-11-21 15-20-52](https://user-images.githubusercontent.com/685471

[2022-11-21 13:14] soumyo123-prog opened #16595 "[BUG]: Using the Image Editor Component Causes Console Errors"
### Describe the bug

We can see tons of console errors when using the image editor component during creation of a new question in the topic editor page.

### Steps To Reproduce

1. Open topics and skills dashboard page and create a new topic.
2. Create some skills on that topic and open the questions tab.
3. In the questions tab, select a newly created skill and try to create a question with Imag

[2022-11-21 13:34] soumyo123-prog opened #16596 "[BUG]: Changing the solution of an interaction from a question causes errors"
### Describe the bug

On trying to change the solution of a fraction input interaction, some errors are shown in the console and we cannot save the new solution. The submit and save button also gets disabled.

### Steps To Reproduce

1. Create a question for a newly created topic.
2. Set the interaction as Fraction Input.
3. Set the response to as "when the denominator is  equals 1".
4. Set a solu

[2022-11-21 15:30] vojtechjelinek commented on #7664
@karenbanci You will need to look for an exploration that contains a warning. See number one in the description "Create an exploration with a solution that is actually not a solution (the solution answer is not correct)".

[2022-11-21 17:22] chris7716 opened #16599 "[BUG]: Accepting some translation suggestions gives console errors."
### Describe the bug

When trying to accept translations made for Place Values topic, gives console errors.

### Steps To Reproduce

1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
2. Goto Review Translations tab.
3. Select Place Values topic.
4. Accept the suggestion.

### Expected Behavior

Should not have console errors.

### Screenshots/Videos

<img width="1433" alt="image"

[2022-11-21 17:44] allisongoldstein commented on #16170
@Shivkant-Chauhan I'd like to be assigned to this task.

[2022-11-21 17:46] U8NWXD opened #16600 "Backend test flake: invalid continuation byte"
When running the tests (using `python -m coverage run --branch ...` in scripts/run_backend_tests.py), we get this error:

[code]

Examples:

* https://github.com/oppia/oppia/actions/runs/3511271026/jobs/5881887068
* https://github.com/oppia/oppia/actions/runs/3489907448/jobs/5842632679
* https://github.com/oppia/oppia/actions/runs/3489907448/jobs/5842632679
* https://github.com/oppia/oppia/actions

[2022-11-21 17:50] U8NWXD commented on #16600
I suspect this is because of changes in #16493 to `run_shell_cmd` here: https://github.com/oppia/oppia/commit/0bae307fc82d3382a99d22ce2fc84ea607119e5b#diff-a07eb547802343f37b50685c2e64e0afa5e23de2ec48d2a032dd53f877ef295fR139

[2022-11-21 18:27] U8NWXD commented on #9939
@Lawful2002 Here's an example of the described `timeout`:

https://github.com/oppia/oppia/blob/685cb938ceefd9856d460b2d2bbfeedfdcf25689/core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.controller.ts#L62-L67

I think the statement "This causes issues with the e2e tests." is a little confusing. If the string is sent before codemirror is fully loaded and therefore doesn't

[2022-11-21 18:41] seanlip commented on #16586
Thanks @soumyo123-prog for filing this!

@srijanreddy98 Could you please add some notes on how to address this? It seems related to Angular.

(@U8NWXD Looping you in as FYI since we discussed this error a week back.)

[2022-11-21 18:45] aasiffaizal commented on #16600
@U8NWXD I am not sure if this is related to the typing changes because I did see the same error before this PR was merged over [here](https://github.com/oppia/oppia/actions/runs/3299184466/jobs/5442252601). Anyways, I'll take a look at it.

Few other instances where this issue popped up before this PR was merged:

- https://github.com/oppia/oppia/actions/runs/3435736148/jobs/5728441225
- https://g

[2022-11-21 19:55] U8NWXD commented on #16600
Hmm those three examples come from people's PRs over the course of 9 days. Given how many tests run on people's PRs, that's not too frequent. The 3 examples I included at the top all happened over a 4-day period on develop, which is a lot more often than usually see backend flakes on develop. It still seems like this error is occurring more frequently now

[2022-11-21 20:03] U8NWXD commented on #16586
Just to add context, this has been showing up in the e2e tests

[2022-11-21 21:26] lkbhitesh07 opened #16602 "[BUG]: Generating translation for image results in console errors."
### Describe the bug

While creating translations for the image it results in console errors.

### Steps To Reproduce

1. Go to the creator dashboard of https://oppiatestserver.appspot.com/ and create an exploration, make it curated also make sure to add an image as a content.
2. Now try to create translations for it on the contributor dashboard with console open.
3. See the error.

### Expected B

[2022-11-21 22:21] lkbhitesh07 opened #16603 "[BUG]: Not able to generate translations when having "voice artist" role."
### Describe the bug

I noticed that when I have the role of "voice artist" and I try to generate translations for it, sometimes I'm able to generate the written translations, and sometimes I'm not. Please note that I'm able to generate voice translations but not written translations. I'm not completely sure why is that happening as it did not reported in any console erros.

### Steps To Reproduce

[2022-11-21 22:42] goldberl commented on #10616
@vojtechjelinek  Hello, can you please assign me to `@typescript-eslint/quotes`? Thank you.

[2022-11-22 06:41] seanlip commented on #16565
Thanks, the other issue looks fine.

I'm afraid I still don't understand this issue, so I'm going to have to close it.

[2022-11-22 06:41] #16565 closed, assigned to fiddyhamma

[2022-11-22 06:44] seanlip commented on #16574
@sahiljoster32 -- just to confirm, you fixed this in #16501, right? If so, please close the issue as fixed -- thanks!

[2022-11-22 06:47] sahiljoster32 commented on #16574
Yeah it is fixed, In this conversation https://github.com/oppia/oppia/pull/16501#discussion_r1025197895. So, I'm closing it !!

[2022-11-22 06:47] #16574 closed, assigned to sahiljoster32

[2022-11-22 06:48] sahiljoster32 commented on #16539
Hi @Ashism766, I think @paprajapati9 is already working on it.

[2022-11-22 07:01] sahiljoster32 commented on #13162
Hi @Kalpani90 ,

As a part of the google summer of code project, almost every handler is already covered. Thanks!

[2022-11-22 07:13] sahiljoster32 commented on #13162
Hi everyone, I have removed all the tags because most of the handlers are already completed and some of them that are not completed yet either are exceptional cases or they are raised by someone and are currently in the review phase.

[2022-11-22 07:56] fiddyhamma commented on #16565
Hi @seanlip
Do you mind if I send you a mail? I'd love a Google meet to share my screen and explain it to you. Two students failed this question twice and were frustrated to redo the lessons from the previous checkpoint

[2022-11-22 08:01] Shivkant-Chauhan commented on #16170
@allisongoldstein assigned you this issue! please ping whenever u need help. thanks!

[2022-11-22 10:11] Sean-Zhong commented on #15968
Hello @JayVivarekar and @vojtechjelinek , I would like to work on one of the files if possible.

[2022-11-22 10:23] Sean-Zhong commented on #10700
@mridul-netizen I would like to work on this

[2022-11-22 12:08] kevintab95 commented on #7439
Hi @adityanarayanm095, could you please provide some reasoning for reopening this issue? Thanks

Edit: also, if you're facing this issue, it would be great if you could include what environment and set of steps you used to reproduce the issue.

[2022-11-22 12:22] Lawful2002 commented on #13647
@kimesthe Are you still interested in working on this?

[2022-11-22 12:26] Sean-Zhong commented on #13162
Hi @sahiljoster32, I am wondering if SkillDescriptionHandler is completed or if I should continue to work with it?

[2022-11-22 13:05] richard-johansson commented on #13162
Hello @Nik-09! Shall I continue with my PR #16522 or have you already completed it now?

[2022-11-22 13:07] richard-johansson commented on #15968
Hello @JayVivarekar and @vojtechjelinek! I'd like to give a go with one of these

[2022-11-22 13:19] richard-johansson commented on #14698
Hello @jahd2602! Can you assign this to me? I cannot see that it is assigned to anyone, br

[2022-11-22 13:40] richard-johansson commented on #12912
Hello @PietroFracCab! Is there anything more needed to be completed in this issue? Please assign me to something, thanks!

[2022-11-22 14:08] PietroFracCab commented on #12912
Hello Richard! Right now I'm at PR phase. I think your work would be more valuable in another issue. Seems that everything is at advanced stage / assigned here at #12912 but you can double check with vojtechjelinek .

[2022-11-22 14:21] richard-johansson commented on #12912
Ok, great job @PietroFracCab! @vojtechjelinek is there anything I could do here, or do you have any other issue that could use my help?

[2022-11-22 14:32] vojtechjelinek commented on #16366
@yurilemos Sorry for delay, are you still interested?

[2022-11-22 14:33] vojtechjelinek commented on #12912
@prakhar1144 Are you working on this?

@richard-johansson I think you can work on `consider-using-with` if @prakhar1144 doesn't reply.

[2022-11-22 15:21] JayVivarekar commented on #15968
@johngitahi @Emmanuel-Lud @ujjwalban @allisongoldstein @Sean-Zhong @richard-johansson All files are assigned right now. Will assign something if any of them open up.

[2022-11-22 15:25] U8NWXD commented on #16110
This just recurred: https://github.com/oppia/oppia/actions/runs/3512130133/jobs/5883527550#step:11:408

[2022-11-22 15:28] U8NWXD opened #16606 "Backend test flake: Incomplete coverage of create_topological_sort_of_all_services"
Example: https://github.com/oppia/oppia/actions/runs/3521701249/jobs/5903838607#step:8:1749

Log:

[code]

The topological sort script produces a different order each time, so I suspect that this non-determinism is at the root of this flake. From the code it doesn't look like we actually take advantage of any of the set's special properties, so we could just swap it out for a list:

https://github

[2022-11-22 15:43] emil-bryniel commented on #14219
Hi @IamEzio ! It would appear as if the core.domain.skill_fetchers_test which I am assigned to already have 100% test coverage. I found that scripts.docstrings_checker_test still lacks quite a bit of coverage and is not available in the list above. Could you add that to the list and assign me to it?

[2022-11-22 15:54] JayVivarekar commented on #15968
@anniemacdev @rishabhknowss @SubhashThenua @abhishek-sultaniya @kimchavsov @DecryptAG @amyra98 @ayushanand16 @AsmaKacem1 @Om-Aditya-Jain @akshit5565 @NPDebs @gnurris @sambhavgupta0705 @akshit5565 @Aacashh. Please reply if you are not working on the files assigned to you so that they can be re-assigned.

[2022-11-22 15:55] prakhar1144 commented on #12912
@richard-johansson you can take up this. Thanks.

[2022-11-22 15:56] yurilemos commented on #16366
Yes @vojtechjelinek , I'm still interested

[2022-11-22 15:57] ayushanand16 commented on #15968
I am no longer working on the remaining files assigned to me as they are dead code as I have been told by the code owners of those files.

Thanks

[2022-11-22 15:58] vojtechjelinek commented on #16366
@yurilemos Done, assigned.

[2022-11-22 15:58] U8NWXD opened #16607 "FE flake: Chrome disconnected"
Examples:

* https://github.com/oppia/oppia/actions/runs/3521701227/jobs/5904483996
* https://github.com/oppia/oppia/actions/runs/3496166040/jobs/5853766433
* 2022-11-30: https://github.com/oppia/oppia/actions/runs/3587632151/jobs/6038198318
* 2022-12-07: https://github.com/oppia/oppia/actions/runs/3637486885/jobs/6138557481#step:9:9812

Example Log:

[code]

[2022-11-22 16:03] SubhashThenua commented on #15968
@JayVivarekar I am no longer working on this as I have completed my all the assigned files. If any file is left please unassign me.
As  I am  working on Lace Quality high priority issues.

Thanks

[2022-11-22 16:06] sahiljoster32 commented on #13162
Hi @Sean-Zhong & @richard-johansson, both of the handlers (`SkillDescriptionHandler` and `NewTopicHandler`) are already completed as a part of GSoC project!
Thanks!

[2022-11-22 16:24] Om-Aditya-Jain commented on #15968
@JayVivarekar I am no longer working on this issue. Please unassign me.

[2022-11-22 17:00] SanjaySajuJacob commented on #16278
It seems that a user is able to register when either of the two options `Send me news and updates about the site` or `Do not send these emails` is selected. But if neither are selected, it would not register.

[2022-11-23 03:15] chris7716 commented on #16596
This happens in the chrome browser as well.

[2022-11-23 03:52] kevintab95 commented on #16570
I was able to get it to work on firefox after I disabled "tracking protection":

![site-tracking](https://user-images.githubusercontent.com/11008603/203466128-275a0919-e13c-48ad-a538-622f87189709.gif)

[2022-11-23 03:54] kevintab95 commented on #16570
Similarly, in Chrome (Incognito), it worked after I disabled blocking on Third-party cookies.
![block-tp](https://user-images.githubusercontent.com/11008603/203466276-b986392c-015a-48cf-be3e-16be268d9043.gif)

[2022-11-23 04:45] adityanarayanm095 opened #16608 "[BUG]: Screen is not Stable While Playing with Interactions of Explorations in Offline Mode on Android"
### Describe the bug

While Playing with explorations in offline mode on Android Screen does not remain stable while I give the input answer. Which is quite annoying.

### Steps To Reproduce

1. On your Mobile Visit [https://oppiatestserver.appspot.com/explore/16](https://oppiatestserver.appspot.com/explore/16)
2. Keep going onward by answering
3. For Question no. 5 i.e `Set Input. Try entering a

[2022-11-23 05:35] chris7716 opened #16609 "[BUG]: Can not edit translations in review"
### Describe the bug

When trying to edit a translation in review, when click on the "Edit" button, the edtor doesn't appear.

### Steps To Reproduce

1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
2. Select Review Translations
3. Select Place Value topic from the topic filter.
4. And open "Chapter 1 Jill visits arcade." item.
5. Review translation and try to edit as in the vid

[2022-11-23 06:05] dchen97 opened #16610 "[BUG]: Submit button missing from multiple choice questions in practice question player"
### Describe the bug

Multiple choice questions don’t get a submit button in the practice question player like they do in the lesson player. This is confusingly inconsistent and also impacts our diagnostic test functionality.

### Steps To Reproduce

Open practice question session

see a multiple choice question

### Expected Behavior

Should see a submit button like all other questions

### Scree

[2022-11-23 07:36] KolliAnitha opened #16611 "[BUG]: Save changes button is in disabled state in Chapter editor page"
### Describe the bug

After editing the chapter, Save Draft button is in disabled state

### Steps To Reproduce

1. Go to Topics and Skills Dashboard
2. Open any Topic with Story
3. In the story editor page, add a chapter
4. Save and Publish the chapter
5. Make some changes in the story editor page and add another chapter
6. Click on Save Draft button

### Expected Behavior

Save draft button shou

[2022-11-23 07:41] Ashism766 commented on #16539
Ok,
But I have a query, is oopia going to participate in gsoc 2023?
if yes "how many contributions I should have in oopia so i can be a member
in gsoc oopia?"

On Tue, 22 Nov 2022, 12:19 sahil jhangar, ***@***.***> wrote:

[2022-11-23 08:26] emil-bryniel commented on #8015
Hi, I am rather new to Oppia and have looked at this issue now for a while. Based of my understanding I think that
pretest-question-backend-api.service.ts is done.

Link to code: https://github.com/oppia/oppia/blob/e915b3dccfcc629800b6fa99ccc2817e4d7ae562/core/templates/domain/question/pretest-question-backend-api.service.ts#L65-L77

And I was also wondering if I could be assigned to editable-ques

[2022-11-23 09:17] richard-johansson commented on #12912
Thanks, please assign me to this issue @vojtechjelinek thanks

[2022-11-23 10:35] vojtechjelinek commented on #12912
@richard-johansson Done.

[2022-11-23 10:51] KolliAnitha opened #16612 "[BUG]: Back to Topics dashboard link is bold and not aligned properly in skill editor page"
### Describe the bug

On opening a skill editor page, Back to topics dashboard is not aligned properly as in Topic editor page

### Steps To Reproduce

1. Go to Topics and Skills dashboard
2. click on Skills tab- Open any skill
3. View the Back to Topics dashboard link

### Expected Behavior

Back to Topics dashboard link shouldnt be in bold and should be aligned properly with the skill name

###

[2022-11-23 12:02] sahiljoster32 commented on #16539
Really sorry @Ashism766, I have no clue about this one.

in gsoc oopia?

From my perspective, there is only one criterion, quality contributions to the organization.

[2022-11-23 12:21] Ashism766 commented on #16539
Ok understood,
Thanks for responding.

On Wed, 23 Nov 2022, 17:32 sahil jhangar, ***@***.***> wrote:

[2022-11-23 17:19] kimesthe commented on #13647
@Lawful2002 Yes I am still interested!

[2022-11-23 17:22] Lawful2002 commented on #13647
@kimesthe Cool, assigning this to you. Also @allisongoldstein you can select good starter projects from https://github.com/orgs/oppia/projects/3/views/10.

Also @kimesthe would you be able to create a PR for this by the 7th of December?

[2022-11-24 04:24] sahiljoster32 commented on #13162
Hi all,

I'm closing this issue as we have already completed almost every handler, and for exceptional cases like `QuestionCreationHandler` and `PreferencesHandler` we have an issue filed with more information https://github.com/oppia/oppia/issues/16579 and https://github.com/oppia/oppia/issues/16580.

Thanks!

[2022-11-24 10:01] Manan-Rathi opened #16620 "[BUG]: Shifted checkboxes and misaligned text on the exploration editor page"
### Describe the bug

When the exploration editor page is opened, the following are observed:
- The checkboxes are a little displaced from their expected positions. (See Solicit Answer checkbox)
- The destination state occurs in the next line as opposed to on the same line (which is expected).

### Steps To Reproduce

1. Go to creator dashboard.
2. Click on "Create Exploration"
3. Enter card conte

[2022-11-24 10:31] DubeySandeep opened #16621 "[BUG]:The get_and_cache_machine_translation raises error for source text as list(str)"
### Describe the bug

The [translation_services.get_and_cache_machine_translation](https://github.com/oppia/oppia/blob/93bc86626ed0e17efefe1c61d321ee4e4fe93aae/core/domain/translation_services.py#L40) is raising error for list(str) translatable content.

Note: Translatable content for interaction.rule_spec can be list(str) ([ref](https://github.com/oppia/oppia/blob/93bc86626ed0e17efefe1c61d321ee4e

[2022-11-24 16:23] #13108 closed, assigned to sahiljoster32

[2022-11-24 21:45] U8NWXD commented on #13672
@vojtechjelinek is the fix to change `oppia_tools/google-cloud-sdk-335.0.0/google-cloud-sdk/platform/google_appengine/google/appengine/tools/devappserver2/python/instance_factory.py`? I'd rather avoid manually changing third-party libraries if possible

[2022-11-24 22:13] vojtechjelinek commented on #13672
@U8NWXD Yeah

[2022-11-24 23:12] seanlip commented on #16621
Hi @DubeySandeep -- looking at the get_and_cache_machine_translation() method, I think it should take a string. If the caller is working with a list, it would be better for it to decompose the list into strings first, right?

[2022-11-25 03:24] U8NWXD commented on #13672
@vojtechjelinek Is it possible to fix this without manually modifying third-party code?

Also, I'm confused by this explanation:

Doesn't a virtual environment created by `python3 -m venv` come with pip installed by default?

[2022-11-25 04:25] DubeySandeep commented on #16621
@seanlip Decomposing the list(str) to str and then finding the cached translation is not an expected behavior as we are expecting list(str) together as one translatable content and it cannot be translated separately. (Like the list of normalized strings for rule_specs of TextInput interaction as translatable content.)

Note: Currently the [TranslatableItem.content is incorrectly typed](https://git

[2022-11-25 04:51] seanlip commented on #16621
I think it's true that, for the purposes of human translation, list(str) is a single piece of translatable content. But I'm not sure that interface works for machine translation -- so the unit of translation has to change at some point in the middle.

[2022-11-25 10:08] vojtechjelinek commented on #13672
@U8NWXD I don't know I wasn't able and after spending a day on it I just resorted to the solution that is explained above.

Yes, it should but that was not the case for the ``python3 -m venv`.

[2022-11-25 12:11] DubeySandeep commented on #16621
Yeah, we need to see how this can be handled via machine translations.

I've raised this issue for the same and this issue is reproducible in develop i.e, source_text can be a list(str) for some translatable item.

Note: Although the static type of the `source_text` param is str during the run_time it can be a list(str).

Why the static type as str is working fine on develop but run time can have

[2022-11-25 16:06] Nik-09 opened #16626 "[Feature Request]: MultipleChoiceInput interaction must contain a submit button"
### Is your feature request related to a problem? Please describe.

The Oppia interactions contain submit button for submitting answers to different players (exploration player, question player). But the MultipleChoiceInput interaction does not display submit button to the user.
So after selecting any of the options from the multiple choice, the answer automatically submits and the player presents

[2022-11-25 16:09] Nik-09 commented on #16626
Assigning @seanlip and @dchen97 for providing their suggestion on this issue.
Thank you

[2022-11-25 16:42] U8NWXD opened #16627 "E2E Flake: "Expected 1 to equal 2." in learnerDashboard"
Log:

[code]

Example:
* https://github.com/oppia/oppia/actions/runs/3538474986/jobs/5939352907

Note that in the above example, there are also some exceptions thrown from the backend. At least some of those also appear in a passing test: https://github.com/oppia/oppia/actions/runs/3545181213/jobs/5953110861.

[2022-11-25 17:15] dchen97 commented on #16626
I've already filed this issue for this same problem - https://github.com/oppia/oppia/issues/16610 - we can dedupe one

[2022-11-25 19:17] #15512 closed, assigned to nobody

[2022-11-26 00:59] U8NWXD commented on #12638
We now have a dedicated script that runs on CI to check this: `scripts/check_e2e_tests_are_captured_in_ci.py`

[2022-11-26 00:59] #12638 closed, assigned to nobody

[2022-11-26 06:01] JayVivarekar commented on #15968
@sk-2809 @johngitahi @Emmanuel-Lud @ujjwalban Assigned one file to each of you.

[2022-11-26 09:57] chris7716 opened #16630 "[BUG]: Contributor dashboard header collapsing animation not working properly."
### Describe the bug

Currently the appearing and collapsing animation of CD header is very jumpy and odd and doesn't really serve much purpose given the collapsed version of the header is not much smaller than the normal version.

### Steps To Reproduce

1. Go to https://oppiatestserver.appspot.com/contributor-dashboard#
2. In 'My Contribution' tab, try to scroll down.
3. Observe the behaviour as

[2022-11-26 10:16] adityanarayanm095 commented on #16274
Hey, @Lawful2002 @seanlip @SanjaySajuJacob I would Like to work upon this.

[2022-11-26 10:50] SanjaySajuJacob commented on #16274
Sure @adityanarayanm095, Thanks!
You can assign any issue to yourself, if you see that no one is working on it.

[2022-11-26 15:11] chris7716 opened #16632 "Investigate proper file handling for contributor dashboard certificate generation"
Currently when generating certificates, a file is generated and saved and then it is being deleted. We need to find out a way to handle this without saving into the file system.

[2022-11-26 18:45] iamprayush opened #16634 "[BUG]: Draft change server error re dest_if_really_stuck field."
### Describe the bug

When the new field `dest_if_really_stuck` was introduced, the state migration did not update the draft change list update function accordingly and this caused an exploration with drafts to break in production with the following error:
[code]

### Steps To Reproduce

1. Create an exploration with state version < 51.
2. Make some changes and don't save (let auto-save create a d

[2022-11-26 19:00] iamprayush opened #16635 "[BUG]: Extra indentation in the lesson response when "stuck state" is triggered."
### Describe the bug

When a learner is stuck, they are shown an extra dialogue asking them to continue to a revision state. When this extra dialogue comes up, the previously present response gets indented.

### Steps To Reproduce

1. Create an exploration with redirection for stuck learners.
2. Play the exploration and trigger the condition for the stuck learner (3 incorrect answeres + 1.5 min wa

[2022-11-26 23:24] Sora34CE commented on #10616
@paprajapati9 Hello, could you please assign me to @typescript-eslint/no-for-in-array? Thank you.

[2022-11-27 04:45] U8NWXD commented on #14219
I de-assigned the following people from their tests due to inactivity. If you're still working on your assigned test, please let me know and I'll re-assign you:

I've also made a bunch of more tests available to be claimed

[2022-11-27 04:46] U8NWXD commented on #14219
@emil-bryniel done!

[2022-11-27 04:49] YijiaG-Jessica commented on #14219
Hi, I'm still working on it! Could you re-assign me? @U8NWXD
core.domain.rights_manager_test @YijiaG-Jessica

[2022-11-27 05:36] ellahathaway commented on #14219
I’m still working on it, could you please reassign me? @U8NWXD

[2022-11-27 05:45] agizoni commented on #14219
Hi @U8NWXD, I'm still working on core.domain.stats_services_test, could you please reassign me?

[2022-11-27 08:37] Filip-Joh commented on #14219
Hi @U8NWXD, I'm still working on core.domain.blog_domain_test, almost finished, so would like to be re-assigned :)

[2022-11-27 08:52] gnurris commented on #14219
Hello! I am still working on core.domain.change_domain_test, thanks!

[2022-11-27 10:56] kashishbhandula commented on #15968
Hi, @JayVivarekar can you please assign me one of the files!!.

[2022-11-27 14:07] Kaicheng-Han commented on #14219
Hello, I'm still working on core.domain.story_domain_test, can you reassign me? Thanks! @U8NWXD

[2022-11-27 14:12] cyc0825 commented on #14219
Hello, I'm still working on core.domain.auth_services_test, can you reassign me? Thanks! @U8NWXD

[2022-11-27 16:19] #16635 closed, assigned to Manan-Rathi

[2022-11-28 01:56] seanlip opened #16640 "E2E flake: Username input is not visible"
### Describe the bug

Found in PR https://github.com/oppia/oppia/pull/16639 which is unrelated to e2e tests. /cc @U8NWXD

Source: https://github.com/oppia/oppia/actions/runs/3560033227/jobs/5979793253

Stack trace:

[code]

Examples:
* 2022-12-08: https://github.com/oppia/oppia/actions/runs/3651913237/jobs/6170241242#step:12:332
  * Note that the console error `Cannot read properties of undefined

[2022-11-28 02:00] #12647 closed, assigned to nobody

[2022-11-28 02:00] #16028 closed, assigned to U8NWXD

[2022-11-28 03:10] winnie368c opened #16641 "[BUG]: CodeQL Clear-text storage of sensitive information"
### Describe the bug

The CodeQL scan currently raises "Clear-text storage of sensitive information" where API keys are stored in plain-text in `core/controllers/acl_decorators.py` and`scripts/release_scripts/update_configs.py`.

### Steps To Reproduce

1. Remove ignored files from `.github/workflows/codeql-analysis.yml`
2. Run a CodeQL scan.
3. See CodeQL errors.

### Expected Behavior

- Store t

[2022-11-28 06:38] sahiljoster32 commented on #15968
Hi @kashishbhandula, I have assigned you 3 files!

[2022-11-28 10:55] kevintab95 opened #16643 "TODO: Update Donate page with /blog URL once blog has been migrated"
Update Donate page button that directs users to medium blog to direct users to /blog instead once blogs have been migrated.

[2022-11-28 13:39] anudeeps0306 commented on #14219
i am still working on core.domain.feedback_domain_test! Could you reassign me?@U8NWXD

[2022-11-28 19:53] seanlip commented on #16621
I think we need to figure out what the correct type is conceptually, ignoring the differences between runtime and "compile" time.

It seems correct to me that normalizedStrSet and unicodeStrSet are TranslatableItems. This is because each of them, in addition to the individual strings, can be translated as a single "thing" by a human.

However, when sending a string to a machine, I think we need to

[2022-11-28 20:48] seanlip commented on #16626
@Nik-09 I think you mentioned that even in the lesson player there is no submit button. Can you confirm this? It differs from what Diana wrote on the other issue so I'm not sure which one to close.

[2022-11-28 20:52] seanlip commented on #7439
@adityanarayanm095 friendly ping on this please. I'm closing this issue in the meantime but feel free to reopen it once you have a clear reason. Thanks!

[2022-11-28 22:55] TheoOliveira commented on #15371
Just giving updates on this @Lawful2002 it took me few days to get the env set up properly. I was as getting errors but I am going to start working on that particular one tonight.