[2016-02-06 20:22] BenHenning commented on #1422
I think that's right, though ``SHOW_TRAINABLE_UNRESOLVED_ANSWERS`` is just a temporary flag to hide the training interface behind until it can be turned on completely. This issue is more worth solving once the new answers model is implemented. In that case, it will involve changing the aggregation computation job which prepares answer statistics used by the training interface to select trainable a

[2016-02-06 20:54] bigblind commented on #1430
Hi Ben

What would you think of instead of core/domain/events, we'd go for
something like core/explorations/events.py, core/explorations/services.py
etc. This keeps code organized according to the part of the application
domain it is in. It diverges more from the current model, but in the end, I
think it leads to a codebase that's easier to work with. It means that all
code related to explorations

[2016-02-07 17:36] sagarpatel26 commented on #1416
I would like to work on this one, if its not already assigned, Thanks!!

[2016-02-07 21:20] bigblind commented on #1416
I was originally planning to work on this, but feel free to take it on.

[2016-02-08 01:17] wxyxinyu commented on #1437
@anthkris -- I think that is okay, could you send a PR so we can look at it?

[2016-02-08 02:41] anthkris commented on #1437
I'm trying to send one but I'm having a lot of trouble passing the linter. Is there something I can install locally to check the file? I've checked the documentation but couldn't find anything.

[2016-02-08 03:10] wxyxinyu commented on #1437
Running `python scripts/pre_commit_linter.py` will run just the linter. If you're editing with sublime text, there's a helpful plugin called SublimeLinter which can help you lint as you code. Other editors may have similar features. Does that help?

[2016-02-08 04:02] wxyxinyu opened #1466 "Typing spaces into the link editor creates an error"
To reproduce: In the exploration editor, add a link in the rich text editor, edit the link, type in a few spaces and then some alphanumeric characters. This happens:
![link editor](https://cloud.githubusercontent.com/assets/5061134/12878202/6a878d96-cdee-11e5-87b4-75bbce8fc54d.png)

/cc @oppia/frontend-rich-text-editor

[2016-02-08 04:04] anthkris commented on #1437
@wxyxinyu Yes. Thank You! Now I'm getting an error that Pip is not installed. I've verified that it is. Any ideas?

[2016-02-08 04:06] wxyxinyu commented on #1437
What is the error you are getting? (Where are you encountering this error, and what system are you running on?)

[2016-02-08 04:07] anthkris commented on #1437
I'm on Mac OSX Yosemite. When I try to send a PR I get this:
Checking if pip is installed on the local machine

  Pip is required to install Oppia dependencies, but pip wasn't found
  on your local machine.

  Please see "Installing Oppia" on the Oppia developers' wiki page:
    https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29

[2016-02-08 04:18] wxyxinyu commented on #1437
Are you able to start a dev instance? (i.e. through scripts/start.sh)

[2016-02-08 04:20] anthkris commented on #1437
Yep. That works just fine.
<img width="1311" alt="screen shot 2016-02-07 at 10 19 43 pm" src="https://cloud.githubusercontent.com/assets/10858542/12878354/ffa9a068-cde8-11e5-90bd-813cc2db2104.png">

[2016-02-08 04:27] wxyxinyu commented on #1437
ok I'm very puzzled about this.

do tests work? (`bash scripts/run_tests.sh`)
how about `python scripts/run_presubmit_checks.sh`?

If the tests work, you can provisionally push by doing `git push --no-verify` if the tests pass.

[2016-02-08 04:28] anthkris commented on #1437
I had been using Github Desktop which may have been the issue. I was able to publish from the command line and just sent a PR (I hope!)

[2016-02-08 04:37] wxyxinyu commented on #1437
Oh! Yes indeed that may be an issue. I've made a note in CONTRIBUTING.md about this.

[2016-02-08 04:53] wxyxinyu opened #1468 "Add a "top/new/trending" carousel to the top of the library index page"
The first part of this is to decide what it means for an exploration to be "trending" (some considerations: does it depend on how new the exploration is, how recently updated, the number of views, the rating, etc? Is this list of trending explorations curated by moderators or generated by an algorithm?)

This depends on the carousels implemented in #1395 and hence should branch off the new-gallery

[2016-02-08 05:31] wxyxinyu opened #1469 "Display global stats about explorations in the admin dashboard"
We would like to display in the admin dashboard stats about explorations, such as the number of explorations created or modified, and weekly trends.

This will involve creating a job which keeps track of weekly trends.

[2016-02-08 19:59] #318 closed

[2016-02-09 04:41] kevinlee12 opened #1471 "No Exploration ID in Embedded Source Code"
Oppia does not display the exploration id on the source code for embedding the exploration. The issue also persists on the develop branch.

**Addition info:**
- No console log errors.
- Found in Oppia.org site, develop, and new-gallery branches (bug is most likely not limited to these)

**Screenshot (for the "Welcome to Oppia" exploration):**
*JS:*
![image](https://cloud.githubusercontent.com/asse

[2016-02-09 06:04] kevinlee12 commented on #1471
Printing the `explorationId` from `/core/templates/dev/head/components/ExplorationEmbedButtonService.js` is `undefined`.

[2016-02-09 12:46] anthkris commented on #1466
I was looking into this yesterday and it seems like there's an infinite loop somewhere: https://docs.angularjs.org/error/$rootScope/infdig

I was experimenting with extensions>objects>templates>SanitizedUrlEditor.js but was unable to affect any change, so far.

[2016-02-09 14:57] luskjh commented on #1466
I'm currently looking at this. I think it has to do with the feedback loop between `$scope.$watch('$parent.value'...)` and `$scope.$watch('localValue.label',...)`.

[2016-02-09 17:29] wxyxinyu commented on #1089
Hi @anthkris, would you like to take a look at this?

[2016-02-09 17:30] sagarpatel26 commented on #1416
so can I start working on it?

[2016-02-09 17:31] wxyxinyu commented on #1416
@sagarpatel26 -- yes, thanks! I've assigned the issue to you.

[2016-02-09 17:32] sagarpatel26 commented on #1416
thank you very much!!!

[2016-02-09 17:32] anthkris commented on #1089
@wxyxinyu Absolutely. Encountered this myself so it'll be great figuring out how to fix it.

[2016-02-09 17:32] wxyxinyu commented on #1416
Hmm, Looks like I can't assign the issue as you're not a member of Oppia. You should also have received an invite to the Oppia org some time yesterday, could you accept the org/team invite? Thanks!

[2016-02-09 21:48] anthkris opened #1473 "Downloadable Oppia Output?"
I was recommending Oppia as a really good solution to my org (I work for a major university) for way to port a branching Moodle Lesson into Canvas LMS but the problem is that these courses are a product so our clients wouldn't be on board with publishing it publicly.

Would the focus and goals of Oppia be against providing a downloadable version of an exploration instead of publishing it? Would th

[2016-02-10 18:05] BenHenning commented on #1473
Hi @anthkris. Thanks for considering Oppia as a solution for your university! We're always happy to see interest in using Oppia.

To help better understand your question, can you help clarify what you mean by a 'downloadable version of an exploration'? At the moment, Oppia is a web application, so playing explorations always requires some sort of internet connection to a web server (though there a

[2016-02-10 18:13] anthkris commented on #1473
Howdy @BenHenning I've just started contributing to Oppia and I'm a learning experience designer. When I say downloadable, I mean in the way that a rapid elearning tool like Storyline or Lectora Inspire or even a tool like Twine will allow you to publish or export an HTML file or folder of organized HTML files that a person can then host and iframe in. In this instance, there is no way that our cl

[2016-02-10 18:21] BenHenning commented on #1388
@wxyxinyu and I discussed this at great length the other evening. I'll try to briefly reiterate what was discussed. There were three scenarios discussed:

1. Keeping all documents on Google Docs and continuing as we have in the past, but make the folder slightly more visible for users to see.
2. Moving all design documents over to a GitHub repository (in markdown format) and add future design docu

[2016-02-10 19:48] bigblind commented on #1388
This makes heaps of sense. I'll be on the lookout for collaborative markdown editors that allow you to commit the result to Github, but for now, I think Google Docs are the best option.

[2016-02-11 03:45] anthkris commented on #1089
Just an update: I'm investigating this and it looks like the real issue is that [All other answers] defaults to Try Again (which seems sensible) and state responses is set up to throw a warning whenever there is a self loop (so a try again) with no feedback (which also seems sensible).  Is it a viable solution to get rid of the All other Answers option once a user has filled out responses for each

[2016-02-11 21:45] wasper1 commented on #674
Hi @seanlip  my idea was to create new directive - html-select - it supports html inside options

It looks like on screens:
![oppia1](https://cloud.githubusercontent.com/assets/16374686/12991698/a32cf1e8-d110-11e5-8732-ec626c99443a.png)

![oppia2](https://cloud.githubusercontent.com/assets/16374686/12991699/a5cbc6a4-d110-11e5-8d0e-6412b16aeb69.png)

As You can see the select is changing its width

[2016-02-12 02:13] wxyxinyu commented on #674
That looks good! Is it possible to make the width of the dropdown fixed, and the width of the selector the same as the dropdown?

[2016-02-12 02:16] wxyxinyu commented on #1089
Hmm, I'm not very sure how you would do that, could you clarify? The default answer group is pretty baked in to how we evaluate answers, so I think it may be problematic to remove it. As Amit has clarified above, it may suffice to just suppress the warning if it's a multiple choice interaction and all choices have responses.

[2016-02-12 02:19] wxyxinyu commented on #1088
Hi @oparry,

[2016-02-12 02:20] wxyxinyu commented on #1088
Hi @oparry, how is progress on the issue? Don't hesitate to ask if you have encountered any difficulties.

[2016-02-12 02:24] jacobdavis11 opened #1474 "Allow users to enter the editor without creating an account or exploration"
Currently in order to get to the editor a user has to click "create exploration", then login using Google, then create an account, then create an exploration (title, category ect.) before they get to the editor. This is a significant hurdle; the drop-off rate from creating an account to entering the editor is around 50% (according to Google analytics) and the drop-off from clicking "create explora

[2016-02-12 02:27] #1466 closed

[2016-02-12 10:10] oparry commented on #1088
Hi Xinyu,
Sorry for the delay with this; I'll take a look at it over the weekend and get back to you if (when) I have questions!

[2016-02-12 13:17] anthkris commented on #1089
Thanks @wxyxinyu I was just throwing that out there as an idea. I'll see if I can find a way to suppress the warning. I'm currently looking at core/templates/dev/head/editor/StateResponses.js. Any suggestions on other places to look?

[2016-02-12 15:51] wasper1 commented on #674
@wxyxinyu You mean this way ?
![oppia3](https://cloud.githubusercontent.com/assets/16374686/13011769/be0f16ba-d1a8-11e5-9158-1c29999aeb10.png)

[2016-02-12 16:02] wxyxinyu commented on #674
@wasper1 Yes! I think that looks great. Could you send a PR?

[2016-02-12 16:30] wasper1 commented on #674
Of course, If only I will finish tidying my code :)

[2016-02-12 19:53] sfederwisch commented on #1189
It seems like the right place for this kind of thing is to work with the form builder and mimic the work that has been done for verifying that you typed in a number:
![screenshot 2016-02-12 at 11 40 05 am](https://cloud.githubusercontent.com/assets/13838973/13018288/8ee44408-d17d-11e5-8d31-15d0a60f68ad.png)

The display code is in core/templates/dev/head/forms/form_builder_templates.html (search t

[2016-02-12 20:21] #1437 closed

[2016-02-12 21:16] sfederwisch commented on #712
I'm guessing, @seanlip that you mean something more complicated than autocomplete here? At least in the ideal situation?

In your example, 'math' 'maths' and 'mathematics' could all be found by starting with 'math', but if you were to type 'calculations' or 'algebra' which may be similar to these tags, simple autocomplete wouldn't work.

[2016-02-14 02:49] anthkris commented on #1089
I've managed to suppress the outer warning by comparing the length of the answer group to the length of the answer choices. However, I can't figure out how to suppress the text warning inside the [All other answers]. Any suggestions as to where that might be located? I've been using core/templates/dev/head/editor/StateResponses.js but nothing I do seems to affect that inner warning.

[2016-02-14 04:58] wxyxinyu commented on #1089
The red warning is actually in core/templates/dev/head/components/OutcomeEditorDirective.js and outcome_editor_directive.html. The warning is StateResponses is actually the warning sign that appears next to an answer group if it's a self loop with no feedback.The outcome editor is inserted with the `<response-header>` element inside state_editor_responses.html. You'll probably want to pass in a fl

[2016-02-14 08:47] BenHenning commented on #1473
Thanks for the clarification, @anthkris. If hosting isn't an issue, then you could definitely host your own instance of Oppia which contains your specific content. Since Oppia is built on Google app engine, hosting it is rather straightforward and covered thoroughly [in our wiki](https://github.com/oppia/oppia/wiki/Deploying-Oppia).

In terms of mission, Oppia aims to have open and collaborative e

[2016-02-14 09:02] BenHenning commented on #1430
@bigblind, I think it is interesting, but it also opens up some questions about placing certain things. For instance, where does something general-purpose like core/test go, or does it stay there? Also, it's not really clear where jobs will go. There are also some domain services which depend on others. For instance, rights_manager heavily uses exp_domain and exp_services, yet isn't part of explor

[2016-02-15 08:39] seanlip commented on #1474
NB: this was previously filed as #476, and subsequently closed based on discussion at weekly TL meeting. @BenHenning, did anything change based on your meeting with @jacobdavis11?

[2016-02-15 13:03] oparry commented on #1088
Hi @wxyxinyu, @seanlip,
Here are my initial ideas on how to solve this, any feedback much appreciated:

- To hide the feedback editor I would add a condition to the `ng-if` in outcome_editor_directive.html, something like:
`<div ng-if="!feedbackEditorIsOpen && !isCurrentInteractionLinear()" ...`

I would add a similar condition to modify the text in the destination editor.
- This would require `is

[2016-02-15 20:19] DewarM commented on #798
Hi @seanlip I'm having issues with getting Oppia up and running on Windows (again!). Something to do with Symlinks when installing npm, I don't really have time to look into is so I think I should probably be unassigned from this until I can get it ironed out...

[2016-02-15 23:51] wxyxinyu commented on #1088
I think that this approach will cause too much information to be passed into the outcomeEditor directive. The outcome editor shouldn't need to know whether the interaction is linear; it should only know whether it needs to display the feedback field (after checking if feedback already exists). So, I think you should instead create a `displayFeedback` flag which will be true or false, and pass this

[2016-02-16 00:13] jacobdavis11 commented on #1474
Oh that's why I couldn't find it. I would argue based on the observed drop-off rates from analytics that the benefit of doing this would be substantial.

[2016-02-16 00:51] anthkris commented on #1089
Having a devil of a time with this one @wxyxinyu What is a flag? What does it look like? I've googled it but haven't been able to find anything.

So far StateResponses.js has this:
`var isMutlipleChoice = function(){
        if ($("[title='Multiple Choice']").length !== 0){
          return true;
        }
        return false;
      };
[...]
if ($scope.answerGroups.length !== $scope.getAnswerChoi

[2016-02-16 02:38] wxyxinyu opened #1478 "Create a page to display the most-recently-added explorations"
We want to promote popular explorations by displaying them more prominently. However, there is no way for new explorations to become popular. So, newly created explorations should be displayed in a page, so that users can view and rate them.

Todo for this issue:
[ ] Figure out how users will get to this page
[ ] Figure out how long to display new explorations for/how many explorations to display

[2016-02-16 03:14] wxyxinyu opened #1480 "Show collections more prominently in search results"
People are more likely to be searching for large learning units rather than just browsing. Hence, we should display collections more prominently in search results. We should display collections before other search results. Since the number of collections is small, it's unlikely that there will be too many collections that will make learners unable to see explorations too.

The simplest way to do t

[2016-02-16 03:21] wxyxinyu opened #1481 "Update Karma tests to use same version of Jasmine as Protractor"
Currently, Karma tests use Jasmine 1.3, but Protractor uses Jasmine 2. We should unify the two, especially since syntax is slightly different and hence may be confusing.

[2016-02-16 03:28] wxyxinyu opened #1482 "Automatic changelog generation"
To facilitate releases, we should have a script that pulls out merges into develop, and collates their commit messages.

[2016-02-16 03:30] seanlip commented on #1473
(Closing this issue for now, but please feel free to reopen if necessary!)

[2016-02-16 03:30] #1473 closed

[2016-02-16 03:32] seanlip commented on #1482
@wxyxinyu, a question: how exactly would this script work? Would it pull out just the merge commits, and collate the commit messages for each merge?

(Also, would this ignore the occasional commit that's made directly to develop?)

[2016-02-16 03:36] seanlip commented on #712
Hm, yep, I guess it's not quite autocomplete. Perhaps more like, if you type "calculat" then there's a dropdown that looks a bit like this:

-----

   *_Popular tags_*
   - mathematics (342)
   - maths (129)
   - ...

----

thus encouraging the user to select one of them instead.

[2016-02-16 03:38] seanlip commented on #1471
@kevinlee12, thanks a lot for finding and reporting this! I made a fix in #1479, PTAL.

[2016-02-16 03:42] seanlip commented on #1380
Hi @prasanna08, so sorry for the late reply. I was on holiday for the past week and have just gotten back to things!

On the whole, I lean away from the latest approach proposed, mainly because it seems a bit error-prone, and it also relies on assumptions about the structure of the video and the parent div (assuming that by parent div you mean something outside the RTE component) which may change

[2016-02-16 03:47] seanlip commented on #798
Hi @DewarM -- thanks for letting me know!

I think we might have a fix in-progress for the Windows issues in #1418 -- maybe that will fix things? I've just pinged @bbriggs to see if it can be merged in. Also /cc @brunnre8 for info.

[2016-02-16 03:48] seanlip commented on #1416
Hi @sagarpatel26 -- just checking, any progress on this? Thanks!

[2016-02-16 12:29] prasanna08 commented on #1380
ok @seanlip
Thanx for reply.,
I will make a PR with the preferred fix soon.

[2016-02-16 15:39] seanlip commented on #1089
I thought a bit about this. The "correct" fix is probably to have, for each interaction, some frontend Angular service that computes whether its non-default answer groups, taken together, cover all possible student answers submitted. If this is the case, then the default rule warnings can be removed.

However, realistically, this will probably only be the case for multiple choice -- even for the "

[2016-02-16 17:01] bbriggs commented on #798
Hi, everyone. I have tested building and running Oppia in a vagrant machine per my PR #1418, however, it looks like there is one last hangup that needs to be ironed out that @seanlip brought to my attention.

I'll see if I can resolve it tonight when I get back to a Windows machine.

[2016-02-16 17:16] wxyxinyu commented on #1482
This issue was due to my misunderstanding a thing. Filing a different issue, as discussed in TL meeting.

[2016-02-16 17:16] #1482 closed

[2016-02-16 20:47] anthkris commented on #1089
Thanks @seanlip I have it on deck to take a basic angular course in the next couple of weeks, but perhaps there's still a bunch I don't understand. Thanks for the help and the advice about not using jQuery. I was having difficult time getting the variables I needed.

I'd like to take another crack at it, based on your feedback. If I don't have anything by Monday, I'll ask to be reassigned.

[2016-02-17 07:23] seanlip commented on #620
Overlapping is still possible, I think, but this is very unlikely, and I don't think it's ever come up in practice. So, closing for now.

[2016-02-17 07:23] #620 closed

[2016-02-17 11:35] seanlip commented on #1268
(I'm guessing not! @virajprabhu, I'll deassign you from this, in case someone else wants to take it.)

[2016-02-17 11:36] seanlip commented on #1440
Hi @philoniare -- any updates on this?

[2016-02-17 20:48] #1471 closed

[2016-02-18 01:55] philoniare commented on #1440
@seanlip Sorry for the delay. Will update about my progress soon.

[2016-02-18 09:00] seanlip commented on #1432
Fixed in #1485

[2016-02-18 09:00] #1432 closed

[2016-02-18 11:06] oparry commented on #1088
Thanks for the pointers.  I've done as you suggested, and the flag works as expected when creating a new exploration or editing an existing one, with and without existing feedback.  I get several failures in the end-to-end tests, but when I reverted all my changes, the same number of failures occurred (albeit for different reasons in some cases).  Are some of the tests expected to fail at the mome

[2016-02-18 12:10] philoniare commented on #1440
@wxyxinyu It seems that the factory is not being used a whole a lot and as @seanlip has indicated, it might be an unnecessary abstraction. Where it is currently being used:
- Initialized on base.js
- Injected to ExplorationSettings.js and used in exploration_settings.html

**Proposal for removal**: it might be a better idea to make the clear() function local to ExplorationSettings controller inste

[2016-02-18 14:15] seanlip commented on #1088
Hi @oparry -- thanks for the update! Could you please link to a gist (or similar) with the e2e test failure output? Occasionally the e2e tests are flaky, so if you are confident that the breakage is not due to your change, I would update the PR and send it for review.

FYI, there is a project currently underway (see #995) that should make it possible for the e2e tests to run automatically so that

[2016-02-18 14:43] seanlip commented on #1440
Hi @philoniare, I think that sounds sensible. Could you have a go?

Thanks!

[2016-02-18 16:07] oparry commented on #1088
Hi @seanlip,
I ran the e2e tests on a clean clone of oppia/oppia.  There definitely seems to be something strange going on - I get different failures each time I run it.
Here's an example: https://gist.github.com/oparry/95cd445d9cd728155b98

[2016-02-19 01:49] anthkris commented on #1089
Great Ceaser's Ghost! I do believe I've managed it, thanks to your help @seanlip PR coming your way.

[2016-02-19 13:48] philoniare commented on #1440
Yep, I'll submit a PR soon. @seanlip

[2016-02-19 15:54] brunnre8 opened #1488 "Pre-push hook seems to fail in some cases"
Reported in #1483 and #1484.

There seems to be a special case which circumvents the pre push hook on Unix based systems.

[2016-02-19 15:55] brunnre8 commented on #1488
@seanlip could you assign me please?

[2016-02-19 15:59] brunnre8 commented on #1488
@sbhowmik89, @prasanna08 just for reference,  does the hook get executed on your machines?

you should see the tests getting run as well as some lines starting wit GitRef(...)

[2016-02-19 17:43] seanlip commented on #1088
Hm, interesting. Does your computer have a small screen? I remember seeing failures like this once due to a developer's screen being quite small -- the e2e tests assume a certain minimum size.

For now, I would still suggest just submitting a PR (if the other tests still pass). After that, if you like, you could try debugging just one of the e2e tests -- what I generally do is to go to core/tests/

[2016-02-20 05:11] seanlip commented on #674
Fixed in #1477. Thanks @wasper1!

[2016-02-20 05:11] #674 closed

[2016-02-20 07:23] seanlip opened #1489 "Make the player view responsive"
Currently, in the exploration player view, supplemental cards are all fixed at 600px. This is problematic for some supplements, such as Pencil Code, which requires a much wider space in order to provide a good experience to learners. However, not all supplements require a wider space, and a more flexible spec is needed for supplemental cards that allows them to be varying widths.

@amitdeutsch has

[2016-02-20 12:43] seanlip commented on #1356
This has been done. Thanks, @BenHenning!

[2016-02-20 12:43] #1356 closed

[2016-02-20 15:03] brunnre8 commented on #1488
@prasanna08 You mentioned in your PR that you pushed your modifications while being on the `develop` branch.

This suggests that the hook didn't get executed in your case as if I try this on my machine (Ubuntu 15.04) I get an error stating that the files the scrip tries  to lint aren't available.

We do not switch the branch but lint the files currently in HEAD so this is expected.

Could you plea

[2016-02-20 17:06] oparry commented on #1088
It's 2560 x 1600.
Thanks for the debugging tips; I'll submit the PR and see what I can find out.

[2016-02-21 16:53] seanlip opened #1493 "Fix e2e test errors introduced due to #1477"
Some e2e tests currently fail, and I think this is probably due to #1477 (which replaced the multiple choice option dropdowns with HTML selectors). We should fix this before the next release.

[code]

[2016-02-21 16:53] seanlip commented on #1493
@wasper1 -- just to check, would you be able to take this? Thanks!

[2016-02-21 17:03] seanlip commented on #1440
Fixed in #1491. Thanks @philoniare!

[2016-02-21 17:03] #1440 closed

[2016-02-21 17:04] seanlip commented on #1416
Hi @sagarpatel26 -- any progress?

[2016-02-21 17:08] seanlip commented on #1357
Hi @bigblind, just to check, are you happy with the design doc for this? If so, do you think this can be moved to the implementation phase?

Thanks!

[2016-02-21 18:37] anthkris opened #1494 "Can't see videos in Tabs"
If you add tabs to a state and then try to add a video to the tab, the video doesn't show when you play test the exploration. ~Also, tab width collapses to only fit the content instead of being the width of the card.~ (<-- this seems to have been fixed, see below). No errors showed in the console.

<img width="1295" alt="screen shot 2016-02-21 at 12 32 18 pm" src="https://cloud.githubusercontent.c

[2016-02-21 18:43] anthkris opened #1495 "Content in the RTE tab component does not reset correctly"
Just a minor thing. When you put information into a tab in one state, that information is still visible even when you try to add a tab in a completely different card. It resets when you refresh the page.

Putting in a tab in First Card
<img width="1344" alt="screen shot 2016-02-21 at 12 41 03 pm" src="https://cloud.githubusercontent.com/assets/10858542/13204564/c144e5d4-d898-11e5-854a-f0caa5f8e535

[2016-02-21 18:49] anthkris opened #1496 "Videos break out of box when put into Accordion"
Another minor thing, when you insert a video into an accordion, they break out of the box. Seems like this should be an issue of making video sizes responsive?

<img width="622" alt="screen shot 2016-02-21 at 12 48 03 pm" src="https://cloud.githubusercontent.com/assets/10858542/13204603/9221cafa-d899-11e5-8f94-87c9437fdb38.png">

[2016-02-21 18:55] anthkris opened #1497 "No spacing between paragraphs"
Another minor issue.
There is no spacing between paragraphs, making text hard to read. The text is in paragraph tags. It seems like it should just be a matter of changing the css.
<img width="599" alt="screen shot 2016-02-21 at 12 52 30 pm" src="https://cloud.githubusercontent.com/assets/10858542/13204638/60ea3a0c-d89a-11e5-9f9f-752b9cf1213c.png">

[2016-02-22 02:58] seanlip commented on #868
Assigning to @philoniare.

Note: per offline discussion, we suggest that the URL be: /search?q=... and, if a user enters e.g. "music" in the search box, the URL should change to /search?q=music  .

[2016-02-22 09:59] wasper1 commented on #1493
Hi @seanlip i forgot about e2e tests. Yes I am able to take this.

[2016-02-22 10:11] seanlip commented on #1493
Great, thanks @wasper1! I've assigned you.

[2016-02-22 10:59] seanlip commented on #1410
Hi @isaac-friedman, just thought I'd check in again! How is this going?

[2016-02-22 13:53] #1438 closed

[2016-02-22 14:11] seanlip commented on #1357
Hi @brunnre8, I think you might find the backend part of this issue quite interesting (see @bigblind's design doc [here](https://docs.google.com/document/d/1Vhbt_6CivwmZWua6xAxRdBoB6mDXcovejRzfi7tNi9o/edit?usp=sharing)). Would you be interested in taking it up?

[2016-02-22 15:29] brunnre8 commented on #1357
@seanlip Yes I am,  although I will probably need some help once I wrapped my head around the issue (I haven't really tried to understand the code base as of yet)

[2016-02-22 15:52] seanlip commented on #1357
OK, sounds good! I've assigned you; please feel free to ask on this thread if you have any questions. Thanks!

[2016-02-23 04:33] #1388 closed

[2016-02-23 04:34] seanlip commented on #671
Obsolete for now -- we're revisiting metrics. Closing.

[2016-02-23 04:34] #671 closed

[2016-02-23 04:37] seanlip commented on #871
Note: this involves a storage layer model change, so it needs to be done carefully to ensure integrity of existing data. So, the implementation would probably go along the lines of: add a new field to the model definition, migrate the existing field to the new field, and deprecate the old field. This must be tested really carefully (on an app instance with existing data) before merging into develo

[2016-02-23 12:02] seanlip opened #1500 "Consider showing some suggested categories if the search results are empty."
Currently, when the search results for a query result in no explorations, there are no results displayed on the screen, and the user is advised to consider creating one of their own. We've had a proposal to, additionally, show some suggested categories that the user might be interested in exploring.

The aim of this issue is to evaluate this suggestion from a UX perspective, and make a recommendat

[2016-02-23 12:23] PaulStalker opened #1501 "Help!!! - Problem With Item Selection"
Hello, I am having problems with the 'item selection' function. I have put three in my exploration but only one works.  The other two do not.  I am unable to save my changes and I receive the following error message:

Warning! Validation failed: is_uniquified ({}) for object [u'<p><span>The opportunity to make a real difference to your student experience and\xa0</span><span>a positive difference t

[2016-02-23 15:15] seanlip commented on #1501
Hi @PaulStalker, sorry to hear that. Did you see my reply here?

    https://groups.google.com/forum/#!category-topic/oppia/pvj8k1sDbrI

/cc @kevinlee12

[2016-02-23 16:29] #1443 closed

[2016-02-23 16:39] wxyxinyu commented on #1496
Notes to contributors:
This probably involves adding some CSS tags in extensions/rich_text_components/Collapsible/Collapsible.html or extensions/rich_text_components/Video/Video.html

[2016-02-24 07:24] kevinlee12 opened #1503 "Design and implement new category-specific pages"
The category page should have a page title listed at the top after clicking into the category page. At the moment, it looks like this:

![image](https://cloud.githubusercontent.com/assets/5758256/13278324/9262da3a-da84-11e5-9fab-febc4db8a28b.png)

Edit(@seanlip): Note that these pages should also have dedicated URLs, e.g. /category_group/...

Branch: new-gallery

[2016-02-24 07:32] seanlip commented on #1361
I spoke with @kevinlee12 about this, and we decided to just have a carousel for #1360 (featured explorations) for now, that is updated regularly. We'll transition this to a top/new/trending carousel (as mentioned in #1468) later on.

For now, closing this issue and removing it from its associated milestone.

[2016-02-24 07:32] #1361 closed

[2016-02-24 07:33] seanlip commented on #1468
Note: per discussion with @kevinlee12, this is likely to replace the carousel added in #1360.

[2016-02-24 07:35] seanlip commented on #1360
Note: per discussion with @kevinlee12, the aim is to show this at the top of the gallery page, before each of the other per-category carousels. It may be named "Editor's Choice". Moderators will regularly (perhaps every 1 or 2 weeks) select explorations to display in this category.

[2016-02-24 07:40] seanlip commented on #1501
Also, I'm going to close this for now, but please reopen this thread if you have any further information (as described in the email thread). Thank you!

[2016-02-24 07:40] #1501 closed

[2016-02-24 07:48] seanlip opened #1504 "Upgrade version of textAngular to 1.4.5."
If you go to the Oppia gallery page (or most other pages) in Chrome, and open the browser console, you'll see the following warning:

[code]
This warning arises because we are using an old version of textAngular (1.3.7) which depends on an old version of Rangy, which is where this warning arises from. textAngular 1.4.0 and above [use Rangy 1.3](https://github.com/fraywing/textAngular/blob/v1.4.5/c

[2016-02-24 07:48] seanlip commented on #1504
@AllanYangZhou -- when you get a chance, do you think you could look into this?

[2016-02-24 07:49] seanlip commented on #1504
(Also, /cc @kahkhang, in case some of the current bugs in the RTE go away when textAngular is upgraded to 1.4.5 -- this should be easy to test locally.)

[2016-02-24 07:53] kevinlee12 opened #1505 "Remove "Loading more results..." banner from the category explorations page"
Remove the "Loading more results..." banner in the category explorations type page as shown below:

![image](https://cloud.githubusercontent.com/assets/5758256/13278766/cb8dcd62-da87-11e5-8ea6-36232e11c1df.png)

To recreate, simply click on the exploration type and note the bar at the very bottom of the page in the category explorations type page.

Branch: new-gallery

[2016-02-24 07:59] kevinlee12 opened #1506 "Empty results text quickly disappearing after user clicks on category"
Remove the empty results message so that the user sees the interactions immediately after clicking on the category. The message should only display when there are truly no interactions in that category. Please see screenshot for issue.

![screencast 2016-02-07 21-02-42](https://cloud.githubusercontent.com/assets/5758256/13278987/57914fcc-da89-11e5-9eba-f3ced67985b4.gif)

Branch: new-gallery

[2016-02-24 08:00] seanlip opened #1507 "EndExploration interaction: redesign the customization options"
The screenshot below shows the customization options for the "End Exploration" interaction, which are pretty complicated and text-heavy. We should rewrite/redesign this interface to make it easier for non-technical users to specify follow-on explorations; the aim of this issue is to figure out what a sensible redesign would be.

![endexp](https://cloud.githubusercontent.com/assets/10575562/1327898

[2016-02-24 08:02] kevinlee12 opened #1508 "Clicking on additional language results in explorations disappearing"
Clicking on additional language results in explorations disappearing from the search results. Expected to have even more explorations appearing (if there are any in that language). Otherwise, there should be the same number of explorations shown.

[2016-02-24 08:04] seanlip opened #1509 ""Parameterized Adventure" demo exploration has an error"
This is a very low-priority issue, but the fix is straightforward.

The "Parameterized Adventure" demo exploration has an error, as shown in the screenshot below. It would be nice to have a clean copy of the exploration in the codebase.

![param-adv](https://cloud.githubusercontent.com/assets/10575562/13279106/0b83f822-da8a-11e5-82be-8cd4a83a752b.png)

The fix involves loading this exploration loc

[2016-02-24 08:08] kevinlee12 opened #1510 "Split the current gallery page into separate pages"
After clicking on the back button, Oppia takes the user elsewhere on the page. In addition, clicking on browser reload within a category page takes the user to the gallery. Both of these behaviors are unexpected.

Suggested fix: have stable urls for gallery category and search result pages, and modify the browser history appropriately.

Links to do:
- [x] `/home` - @okchip, @seanlip
- [x] `/full_g

[2016-02-24 08:09] seanlip commented on #1508
@kevinlee12 -- is this in develop too, or in new-gallery only?

[2016-02-24 08:09] kevinlee12 opened #1511 "Carousel UI Touchups"
Touch up UI for category carousels so that it is more presentable.

[2016-02-24 08:11] seanlip commented on #1511
NB: this is in the new-gallery branch. The carousels need a design review and suggestions for implementation.

[2016-02-24 08:12] kevinlee12 opened #1512 "Add a dedicated page for each library group, with subcategories"
Add stages/subcategories to category page (or more tagging by grade level). Ex. Math will contain Pre-algebra, Algebgra, Geometry, etc.

[2016-02-24 08:13] kevinlee12 opened #1513 "Search should display explorations that partially match the keyword"
Search should display explorations that partially match the terms.

Ex. Intro to Biotechnology exploration should show when 'bio' or 'biotech' is typed into the search bar. People may not recall the whole word.

[2016-02-24 08:15] kevinlee12 opened #1514 "In the library, the search bar should auto-suggest on keywords"
Suggestions for search words (e.g. user types "Intro to Bio" and we supply biotech, biotechnology, biology as possible words)

[2016-02-24 08:16] seanlip commented on #1510
Changing to "TODO: design doc". I think it would make sense to write up a brief doc explaining the implementation approach before starting implementation on this. The doc should simultaneously address #1510, #868 and #867.

Some useful references:
- HTML5 history API: https://developer.mozilla.org/en-US/docs/Web/API/History_API
- Angular $location service (might be useful, not sure): https://docs.

[2016-02-24 08:18] seanlip commented on #1513
Does this duplicate #449?

[2016-02-24 08:26] kevinlee12 commented on #1513
Not necessarily, because the order which the explorations show up will differ due to time lag locally and remotely. In other words, ranking would play a critical role here.

[2016-02-24 08:36] kevinlee12 commented on #1508
looks like this is contained in new-gallery. will do a merge and see if the issue is resolved.

[2016-02-24 10:30] seanlip commented on #921
Great, thanks @sfederwisch! Moved to "TODO: code".

Note to contributors: when working on this issue, please just concentrate on the first milestone ("Make the URL work to load a particular state in the preview mode") for now. That's the key piece, and probably the hardest one to get right; the others are somewhat easier. It would be nice if you could outline your implementation approach in this t

[2016-02-24 10:34] seanlip commented on #473
Hi @maitbayev -- just to check, are you interested in looking into this?

Thanks!

[2016-02-24 10:47] maitbayev commented on #473
Hi @seanlip,
I haven't looked into it in depth.
If somebody wants asap you can reassign, otherwise I will try to investigate when I will be available.

[2016-02-24 11:04] seanlip commented on #473
Thanks for the quick reply!

No worries, it's not something that needs to be done asap -- I just thought I'd check to see where things are with it, since, of the issues you're currently assigned, it's probably the most impactful. Feel free to take a look whenever time permits. Thanks!

[2016-02-24 16:44] seanlip commented on #1416
Hi @bigblind -- FYI, I chatted with @sagarpatel26, and he won't be able to take this up after all, due to some unexpected extra classes in college. Would you still be interested in this issue?

[2016-02-24 19:25] BenHenning opened #1515 "Remove all author tags from codebase and update contributor documentation"
Since we added linting, we've had to remove all author tags from backend Python files. For consistency, we should also remove author tags from every other file (including frontend JS files), and enforce in the contributor documentation (and update maintainers) of this new policy. ``git blame`` and using GitHub should be adequate for finding people to contact for a given file.

If we do want to eve

[2016-02-25 02:40] #1088 closed

[2016-02-25 02:43] wxyxinyu opened #1516 "Feedback for continue button in the first state doesn't work"
If the first state's interaction is the continue button, and it has feedback, editing this feedback causes a frontend error, with this error message: https://gist.github.com/oparry/142b7be3e027ec2110cb

Note it's no longer possible to add feedback for the continue button, so this only affects old explorations.

/cc @oparry

[2016-02-25 23:00] luskjh commented on #1495
I think this is a bigger issue in the schema generator. Tab.py correctly specifies its default values. After working on this all day, the only quick fix I can think of is creating custom title and content objects for the tabs and forcing their values as default on $initargs or something similar. But obviously that is not very clean. I don't really have enough knowledge of the schema generator to f

[2016-02-26 03:13] seanlip commented on #1505
@oparry, would you be interested in taking a look into this bug? Note that it's on the new-gallery branch, which is a new, more organized version of the gallery that we're working on.

Thanks!

[2016-02-26 03:49] seanlip commented on #1496
Hi @okchip, it looks like @kevinlee12 assigned you to #1503, so I'll de-assign you from this one for now. Feel free to take it up later, though, if you'd like to!

[2016-02-26 04:25] wxyxinyu commented on #1495
Hi @luskjh, thanks for looking into this! Apologies for assigning you an issue that was more complicated than I thought it would be. I've assigned you a different one, and it should be easier.

We'll take a look at this soon.

[2016-02-26 04:25] wxyxinyu commented on #1496
Hi @luskjh, could you look into this? Thanks!

[2016-02-26 07:55] #1509 closed

[2016-02-26 08:36] seanlip commented on #1493
Fixed in #1517, thanks @wasper1! Closing.

[2016-02-26 08:36] #1493 closed

[2016-02-26 08:37] seanlip commented on #1488
Hi @brunnre8! Just checking, what's the status of this? Is it a real bug, and, if so, do you have a plan for tackling it?

[2016-02-26 10:02] oparry commented on #1505
Hi @seanlip,
Sure, I will take look.

[2016-02-26 10:26] seanlip commented on #1505
Thanks, @oparry! I've assigned you.

(Also /cc @kevinlee12, who can also be a point of reference for this issue.)

[2016-02-26 10:48] seanlip commented on #1497
Hi @prasanna08 -- just thought you might be interested in taking a look at this after the video issue is done!

[2016-02-26 10:51] seanlip commented on #1516
Weird. Does this only happen in the first state of an exploration?

[2016-02-26 14:08] wxyxinyu commented on #1516
@seanlip -- yes. It's very strange.

[2016-02-26 15:46] #1380 closed

[2016-02-26 16:28] brunnre8 commented on #1488
@seanlip I'm on it,  I should have something this evening or so.

The issue is actually easily reproducible, if one modifies files only and switches to eg the development  branch  the linter will happily lint the files of `develop` and not of `feature`

The fix is to force switch to the correct branch and this solves all the issues we are having

[2016-02-27 01:42] maitbayev commented on #473
Hi @seanlip,

I started looking into this issue. To confirm my correct understanding the issue, let me write my first thoughts about it. So, the first solution that came into my mind:

1. "is equal to {{x|NormalizedString}}"
2. "is equal to {{x|NormalizedString}}, misspelled by at most one character"
3.  "contains {{x|NormalizedString}}"

Let's parse the rule descriptions and bind to a Controller'

[2016-02-27 03:11] seanlip commented on #473
At present, I don't have an opinion on whether the controller approach is a good one or not (though I'm a little concerned about implicitly-declared variables; we may want to have some kind of explicit variable caching service if we go down that route), but just to clarify: even with that, the name "x" is still meaningful, right? So if you had, instead,

    "is equal to {{x|NormalizedString}}"

[2016-02-27 12:01] #1516 closed

[2016-02-27 12:03] #1089 closed

[2016-02-27 12:40] maitbayev commented on #473
Hi @seanlip,
Thank you for your detailed overview.

I think, I described my idea very poorly. I explained an abstraction of the idea, excluding all details.

By "bind to controllers variable names" I meant, "bind to something in Controller".

Let's say we have set of variables parsed from current rule description, and we are changing the rule type.
Let's denote current set of variables as "variabl

[2016-02-27 16:34] seanlip commented on #473
Ah yes, I think we're on the same page!

Yep -- I just meant to illustrate the difference, via example, that changing from

    "is equal to {{x|NormalizedString}}" to "contains {{x|NormalizedString}}"

would be different than changing from

    "is equal to {{x|NormalizedString}}" to "contains {{y|NormalizedString}}"

since in the first case, the value of x is carried over, and in the second case

[2016-02-27 23:15] luskjh commented on #1496
Just saw this, will do!

[2016-02-28 21:26] ssmaron opened #1523 "No way of seeing or deleting abandoned cards"
Initial cards 'deleted' are still being referred to and are not visible in the Exploration Overview, so, I have no means of deleting these cards that are not used.
![oppiaerror](https://cloud.githubusercontent.com/assets/17533003/13381987/fcacd740-de37-11e5-96a8-cfaae02427c6.jpg)

[2016-02-29 03:24] seanlip commented on #1523
Hi @ssmaron, thanks very much for reporting this issue! I took a look, and it seems like the problem is actually that the graph visualization has been "cut off" at the bottom. Here are a few things to try:

1. See if you can "pan" the graph by clicking on it and dragging it upwards. If you can do this, you'll find the errored cards at the very bottom, and you can delete them there.
2. Click on the

[2016-02-29 06:08] aayushkapadia opened #1524 "Please include a way to exit from current exploration by clicking in background"
- Hello it will be nice if you include some sort of way to exit from current exploration like clicking in background.
![screenshot from 2016-02-29 11 35 02](https://cloud.githubusercontent.com/assets/11133486/13387014/9f474b20-ded8-11e5-9e71-6aca558a9a77.png)
When I click in background on any current exploration window open, there is no easy way of exit availabel (like simply clicking in backgroun

[2016-02-29 09:10] #1488 closed

[2016-02-29 10:04] seanlip commented on #1524
Hi @aayushkapadia, thanks for the suggestion! However, I'm afraid I don't think I understand; where would you like to exit to? I.e., what would you expect to happen if you clicked the background?

[2016-02-29 12:33] aayushkapadia commented on #1524
I am requesting feature something like Facebook video has. When video is running on and we want to stop the video in between then just we would click on background space availabel and as soon as we click in the background, video will stop running and exit and we would be back in the previous menu where we were. Or you could include at least a close button at the top of exploration.

[2016-02-29 12:37] seanlip commented on #1524
Hi @aayushkapadia, I think the problem I'm having here is that I don't understand what happens when the close button is clicked. I understand that the exploration will be closed, and will either disappear or be minimized, but what would then be shown "behind" the exploration? At the moment it would be just an empty background...

[2016-02-29 12:50] aayushkapadia commented on #1524
Yes in this case only grey screen will appear , but in other case it might be helpful. It might give user a better way to come back to previous menu. For example if student has collection of his liked explorations in his account and he starts any one explorations from then and then suddenly wants to go back to his liked collections of explorations he could go there by one click. That's what I want

[2016-02-29 13:11] seanlip commented on #1524
Ah, I think I see what you're saying. Thanks for explaining! Let me try to say it again to make sure I get it right:

It sounds like the idea is to have some kind of learner dashboard where a student can pick and choose collections of learning material. They can then select explorations to play from that dashboard, but always have the option of going back to the learner dashboard (their 'home scre

[2016-02-29 13:26] aayushkapadia commented on #1524
Yes you have got it correct. That was what I was thinking. I was not knowing that you didn't have learner's dashboard. I was just assuming that it will be present when I will log in because I was seeing things without logging in. Yes once again you have got it right. That's was I am saying.

[2016-02-29 14:13] seanlip opened #1525 "[Firefox only] Images in exploration RTEs should stay contained within their boundaries"
Here is a screenshot of an exploration on the live site:

![big-picture](https://cloud.githubusercontent.com/assets/10575562/13396646/9cc69e7e-deaa-11e5-99ca-63bc7a078ea2.png)

It looks like the image that was inserted in the rich-text editor is exceeding the space allotted for it. Instead, it should be resized accordingly, to a max-width of 100% of its container. Ideally, this fix would be made i

[2016-02-29 14:14] seanlip commented on #1525
/cc @oppia/frontend-rich-text-editor

[2016-02-29 14:17] seanlip opened #1526 "Design and implement a learner dashboard."
(Originally suggested by @aayushkapadia in #1524)

It would be nice for Oppia to have some kind of learner dashboard where a student can pick and choose collections of learning material. Students can then select explorations to play from that dashboard, but always have the option of going back to the learner dashboard (their 'home screen') in one click. If the exploration is shown as an overlay, p

[2016-02-29 14:18] seanlip commented on #1524
Thanks for the clarification, @aayushkapadia! I've re-filed this issue under a new title as #1526, and will close this one for now.

[2016-02-29 14:18] #1524 closed

[2016-02-29 14:24] seanlip commented on #1526
(Per discussion in #936) The learner dashboard could also contain:

* which explorations the learner has visited
* unlockable special items/badges
* explorations that the learner has "favorited"
* the learner's "last played" date for an exploration
* new explorations in categories that the learner is interested in

[2016-02-29 14:24] seanlip commented on #936
This is now duplicated by #1526 -- closing.

[2016-02-29 14:24] #936 closed

[2016-02-29 14:28] seanlip commented on #122
We have not seen this particular issue (with csrf tokens) arise in a couple of years, so I'm going to close this. (Note that we currently have other issues open that touch on (a) autosaving, (b) catching errors in explorations before they reach the backend.)

[2016-02-29 14:28] #122 closed

[2016-02-29 14:31] seanlip commented on #68
This has never actually tripped up anyone over the course of the project's existence, and we now have installation methods that make it easy to "reset" the machine (e.g. using a VM on Windows). So, I'm going to close this for now.

[2016-02-29 14:31] #68 closed

[2016-02-29 14:32] paulmartin42 commented on #122
ok

On 29 February 2016 at 14:28, Sean Lip <notifications@github.com> wrote:

--
Thanks
Paul

[2016-02-29 14:34] seanlip commented on #477
This is fixed in #1400. (The PR referred to the wrong issue number.)

[2016-02-29 14:34] #477 closed

[2016-02-29 14:38] seanlip opened #1527 "Make explorations portable as downloadable standalone HTML5 files"
For offline playing and general portability, explorations should be downloadable as standalone HTML5 files (or zip files containing HTML files and related assets) that can be served statically. This is now looking much more feasible than before, since much of the logic for playing explorations has recently been moved from the backend to the frontend, and the final stages of this are being done in

[2016-02-29 15:03] seanlip opened #1528 "Consider using the author's avatar in the learner view (instead of the default Oppia avatar)."
(This supersedes #1118.)

We currently show the Oppia otter as an avatar for all explorations. However, it's been suggested that we allow creators to choose their own avatars. Some possibilities include:
- Provide authors with a series of avatars they can choose from (e.g. owl, otter, etc.) for their exploration. This makes the site feel more cohesive.
- Use the author's avatar (unless, perhaps, t

[2016-02-29 15:03] seanlip commented on #1118
Closing in favour of #1528.

[2016-02-29 15:03] #1118 closed

[2016-02-29 15:52] wxyxinyu opened #1529 "Long usernames overflow the tooltip in gallery cards"
If a contributor's username is too long, the username that is displayed in the tooltip in the gallery when hovering over their profile picture overflows the tooltip.

![oppia gallery](https://cloud.githubusercontent.com/assets/5061134/13399448/59562336-ded1-11e5-8e78-a97e3b7406c3.png)

Note to contributors:
the relevant files are
/core/templates/dev/head/components/exploration_summary_tile_directi

[2016-02-29 16:30] seanlip opened #1531 "Add a method to warningsData that allows showing a transitory info message."
Currently, we have a frontend method, warningsData.addWarning(), that displays a rather obtrusive warning in a large yellow bar at the top. This warning does not go away, and the user has to dismiss it explicitly.

However, there are certain situations in which it would be nice to display an FYI-type message, such as "Saved changes." or "Image uploaded." In such situations, it would be nice to hav

[2016-02-29 16:31] prasanna08 commented on #1497
Hey @seanlip
Sorry for late response.  I have been busy with college lately.
Okay so as @anthkris already said it is minor css issue and can be solved very easily but as you see all noninteractive elements of exploration are also bound between <p> tags. So we apply simpler css approach it will also affect those elements.
What I want to ask is if there is a code which encloses text content in <p> t

[2016-02-29 16:35] seanlip commented on #1497
Hi @prasanna08 -- looks like github swallowed some of your html tags! You might want to have a look at the github markdown instructions for how to format code (using backticks).

[2016-02-29 16:35] prasanna08 commented on #1497
@seanlip yeah just edited it.

[2016-02-29 16:42] seanlip commented on #1497
Thanks!

I'm not sure I completely understand what you're proposing, I'm afraid. Are you asking if there's some code which encloses only text paragraphs, similar to how oppia-noninteractive-video encloses all video elements in the RTE? If so, the answer is no, and I don't think we can modify the RTE content to enclose text elements in special tags.

I think we'll probably have to solve this using

[2016-02-29 16:45] seanlip opened #1533 "For logged-in users, replace the splash page with the "My Explorations" page."
Logged-in users don't really need to keep seeing the splash page. Instead, if they are visiting "/", they should automatically be taken to their "My Explorations" page (or the equivalent of their dashboard). They should still be able to get to the gallery via going to "/gallery" or clicking the Oppia icon in the left part of the navbar.

The experience for non-logged-in users should remain the sam

[2016-02-29 22:31] 526avijitgupta commented on #1189
@wxyxinyu  Could you please be more specific about the rules which are to be added ?
Since there already seem to be rules such as numeric validation as pointed out by @sfederwisch

[2016-02-29 22:48] GraceGSy commented on #448
Hey!

Sorry I haven't been able to work on this in the past few weeks, but I'll be able to upload an improved version based on the suggestions above this Friday!

[2016-02-29 23:00] wxyxinyu opened #1534 "Long math latex formulas spill out of the html-select dropdown"
To reproduce:
1. Load the Root Linear Coefficient Theorem exploration
2. Go to the third state ("More general expansion")
3. Open the rule editor, and open the dropdown

![root linear coefficient theorem oppia editor](https://cloud.githubusercontent.com/assets/5061134/13400126/5b40fc2c-ded4-11e5-830a-e23019c5f893.png)

Possible fixes:
1. make the dropdown longer
2. make the font smaller as needed

[2016-02-29 23:11] wxyxinyu opened #1535 "RTE components sometimes get deleted on save"
To reproduce:
1. Load the "Root Linear Coefficient Theorem" exploration
2. Go to the third state ("More General Expansion")
3. Click on the interaction to edit the multiple choices options
4. Without making any changes, click save
The contents of the options disappear.

I poked around a little bit, and I'm not sure why this bug is happening.

/cc @oppia/frontend-rich-text-editor

[2016-02-29 23:17] wxyxinyu opened #1536 "html-select dropdown causes images to overlap within the dropdown."
To reproduce:
1. Create an exploration
2. Add a multiple choice/item select interaction
3. Add pictures to each of the choices
4. In the dropdown in the rule editor, the images overlap

![image](https://cloud.githubusercontent.com/assets/5061134/13412309/5c4d992c-df10-11e5-912c-b7171d2b20ee.png)

The relevant files are the html selector directive:
- /core/templates/dev/head/components/html_select_

[2016-03-01 01:28] 526avijitgupta commented on #1533
@seanlip  Sorry for such high number of commits. Was facing some linter issue.
Discussed it with @wxyxinyu on @gitter

[2016-03-01 02:02] 526avijitgupta opened #1538 "Button disappears and error is displayed in browser console when adding an element for the Set Input interaction."
Steps to Reproduce:
1. Add the "Set Input" Interaction.
2. For the Add Reponse screen, Select "is equal to" in the dropdown and click on the Add Element button.

Output:
The button disappears and also an error is displayed in the console.

![screenshot from 2016-03-01 07 23 55](https://cloud.githubusercontent.com/assets/7583815/13415170/ba41c666-df7e-11e5-9243-409961091758.png)

Additional Info:
T

[2016-03-01 03:23] seanlip commented on #1533
Some notes:
* Oppia isn't a single-page app, so it would be better to do the re-routing in the backend. Otherwise we'll load '/' and then immediately reload the dashboard, which seems wasteful.
* We should test the following:
  * When logged-in or logged-out, "/gallery" goes to the gallery page
  * When logged-in, "/my_explorations" goes to the "my explorations" page
  * When the user visits "/",

[2016-03-01 03:29] seanlip commented on #448
That sounds awesome :) Thanks very much, @GraceGSy!

[2016-03-01 05:32] BenHenning commented on #1515
From TL discussion meeting: we decide to remove all author tags and update the contributor documentation explaining to use ``git blame`` when finding authors.

[2016-03-01 05:40] seanlip commented on #409
From TL meeting: decided not to do this -- too much overhead; not enough benefit. Closing.

[2016-03-01 05:40] #409 closed

[2016-03-01 05:40] BenHenning opened #1540 "Presubmission checks in Travis"
PRs that use bad patterns (such as author tags or datetime.datetime.now()) should not be mergeable. These patterns can be detected using Travis commands for verification within the PR, so that a Travis failure is reported on the branch at review time.

[2016-03-01 05:41] seanlip commented on #1515
Milestones:
- [ ] Remove all author tags from the codebase
- [ ] Update CONTRIBUTING.md to explain why and how to use `git blame` for finding authors

Assigning to @BenHenning

[2016-03-01 07:53] 526avijitgupta commented on #1533
@seanlip  Sorry for bugging you again about this, but my latest implementation involved re-routing through the server side, but presubmit checks failed with 1 error, 1 failure. Any ideas on how should I proceed further ?

Also, @brunnre8 made me realize that there wasn't any need for reverting the commit and re-applying it later, since the initial commit (with `--no-verify`) will simply tell git n

[2016-03-01 07:59] seanlip commented on #1533
Hi @526avijitgupta, I think it depends on the error/failure -- you'll have to look at it and analyze it to figure out what's wrong. If you post it here, maybe I can help you.

Ah, when I closed the PR, I forgot to mention that it would probably be sensible to just restart from a new fresh branch off of 'develop'. That will keep the commit history clean. We can do that later, too, just before you s

[2016-03-01 08:07] 526avijitgupta commented on #1533
@seanlip I created a [Gist](https://gist.github.com/526avijitgupta/5dbcaada2d0338bb252c) for that.

Okay, I'll start from a new branch. And actually that's exactly what I did for the recent commits.

[2016-03-01 08:15] seanlip commented on #1533
Oh, sorry, I misinterpreted -- all the previous commits are referenced within this issue, so I just assumed they were on the same branch. My apologies.

I took a look at the gist. It looks like two backend tests fail, whereas I assume they pass on 'develop'. Thus, what you'll need to do is read those two backend tests and understand why they behave differently in develop vs your branch. You can re

[2016-03-01 08:16] 526avijitgupta commented on #1533
@seanlip Just realized, it's maybe because I'm performing redirects instead of replacement. So it is recieving status codes of 302, instead of 200/403. Your thoughts ?

[2016-03-01 08:20] seanlip commented on #1533
Yes, a 302 status code arises when you have a redirect. I think we have tests that deal with that sort of thing -- see e.g. profile_test.py, home_test.py.

[2016-03-01 08:51] 526avijitgupta commented on #1533
@seanlip I am pretty sure redirect is the issue here, and the logs also seem to testify this:

https://gist.github.com/526avijitgupta/5dbcaada2d0338bb252c#file-test-fail-L132-L137

https://gist.github.com/526avijitgupta/5dbcaada2d0338bb252c#file-test-fail-L195-L198

https://gist.github.com/526avijitgupta/5dbcaada2d0338bb252c#file-test-fail-L156

[2016-03-01 09:28] seanlip commented on #1533
Yes, sorry, I was unclear -- I was agreeing that the redirect is the issue here. For the next steps, I think the process I described in https://github.com/oppia/oppia/issues/1533#issuecomment-190607919 still applies.

[2016-03-01 09:41] seanlip opened #1541 "RTE components aren't displaying in per-state unhandled answers."
Steps to reproduce:
1. On a dev server, log in as an admin, and go to /admin.
2. Reload the root_linear_coefficient_theorem.yaml exploration.
3. Play through a couple of cards of the exploration using the following answers: "1,-6,-1,30" and "x^3 - ax^2 - bx - c".
4. Click on the edit icon to go to the editor page for this exploration (`/create/3`)
5. Go to the third card ("More General Expansion")

[2016-03-01 09:50] seanlip opened #1542 "RTE components aren't displaying correctly in answer group headers"
To reproduce:
1. Log in as an admin, and go to /admin.
2. Reload the root_linear_coefficient_theorem.yaml exploration.
3. Go to the editor page for that exploration (/create/3).
4. Navigate to the third state ("More General Expansion").
5. Notice that the description of the first answer group under "Learner's Answers and Oppia's Responses" has an empty string where the math formula should be -- se

[2016-03-01 09:51] seanlip commented on #1542
Note: it doesn't really make sense to show things like collapsibles, tabs or videos in these headers, so perhaps we may want to replace some of these things with placeholders like [Video] instead.

[2016-03-01 09:55] seanlip opened #1543 "For community-editable explorations, the first avatar in the exploration summary tile should be a globe."
Thanks to @maitbayev, the exploration summary tiles in the gallery currently show a list of contributors on the top-right. However, for community-editable explorations, it would probably be nicer to show a globe as the first 'contributor' instead, similar to what we do in the info card modal in the learner view. This indicates which explorations can be edited by the community, and still allows the

[2016-03-01 10:03] seanlip opened #1544 "Autogenerate a default profile picture for each user who signs up (or use their gravatar picture, if available)."
Currently, a user who signs up but doesn't have a profile picture ends up using Oppia's default profile avatar, which is a blue silhouette on a white background.

However, now that we're showing profile pictures in the gallery, it seems odd to see a whole bunch of blue silhouettes -- it looks as though one user created all the explorations, where in reality the different silhouettes represent diff

[2016-03-01 12:46] deepank411 opened #1545 "numpy-1.6.1 fails to build on Mac OSX 10.11 when running 'bash scripts/start.sh'"
### Observed Behaviour
Installation runs till it comes to building numpy 1.6.1 where it shows the following error on the console. All tests run successfully before this stage.

[code]

### Platform

Mac OSX 10.11

### What I've tried

- Suggested solution from issue #1179
- Suggestion from [http://stackoverflow.com/questions/24257803/distutilsoptionerror-must-supply-either-home-or-prefix-exec-pref

[2016-03-01 14:28] deepank411 commented on #1536
I would like to work on this issue.

[2016-03-01 15:24] seanlip commented on #1545
Ah, it looks like we keep having issues with numpy. I haven't seen this one before, though.

Just so you know, your second link doesn't work correctly. However, it's good to hear that, on following it, the setup completes. What 500 error are you getting, though? It may be a separate issue, and it sounds like it's worth investigating the server logs.

(Also, thank you for the detailed issue report!

[2016-03-01 15:25] seanlip commented on #1536
Thanks, @deepank411! Please could you accept the Oppia invite at https://github.com/oppia? Then, we can assign you to the issue (GitHub only lets us assign people in the organization).

[2016-03-01 15:28] deepank411 commented on #1545
I'm sorry.

This is the correct link: http://stackoverflow.com/questions/24257803/distutilsoptionerror-must-supply-either-home-or-prefix-exec-prefix-not-both

[2016-03-01 15:31] seanlip commented on #1545
Your terminal (the one you started the server in) should have logs, though. You may need to scroll up a bit to see them.

[2016-03-01 15:37] seanlip commented on #1538
Thanks, @526avijitgupta! I confirm this is an issue, though I'm not sure yet why it arises.

@maitbayev -- is this related to the "carrying variables over" change? I suspect not (since #1521 has not been merged yet), but it might be a test case worth checking for in that PR.

[2016-03-01 15:40] #1529 closed

[2016-03-01 16:14] deepank411 commented on #1545
Yeah there were logs in the terminal(quite a lot of them actually)

[code]

The error still lies with the numpy module, even though there was no error during its installation.

[2016-03-02 03:29] deepank411 commented on #1536
@seanlip I've started working on this issue, so can you please add me as the Assignee for the same.

[2016-03-02 03:31] wxyxinyu commented on #1536
Have you managed to fix the issue with numpy? If so, could you comment on the issue you created to say what steps you took, so this can help others in the future :)

[2016-03-02 03:34] deepank411 commented on #1536
No, unfortunately that issue still remains, in the mean time, I've set up an Ubuntu virtual machine to get started. Also, I've mentioned the methods I unsuccessfully tried in my issue statement.

[2016-03-02 03:57] seanlip commented on #1545
Ah, I see. I don't have a solution for this, I'm afraid -- let's keep this as an open issue in case someone knows how to address it. Unfortunately, I can't reproduce it on my machine, so it's hard for me to tackle it directly.

It might be worth googling the error message ("No module named _ctypes") -- for instance, I found something [here](https://github.com/rg3/youtube-dl/issues/94) that suggest

[2016-03-02 06:37] deepank411 commented on #1536
@wxyxinyu can you please help with the git push error.

[code]

The html file mentioned here has not been modified by me.
I have atom-lint in atom editor.

[2016-03-02 07:00] MAKOSCAFEE commented on #1536
@deepank411 Just a quick help. looks like you have not installed node-jscs, can you run `bash scripts/start.sh` to install it?  after that the console will output specific linting errors when you trying to push.. And best way is to install [linter-jscs](https://atom.io/packages/linter-jscs) in  your atom editor is very helpful.
On other advise run `python scripts/pre_commit_linter.py` to display e

[2016-03-02 07:03] deepank411 commented on #1536
bash scripts/start.sh is already running but shows no indication about the installation of node-jscs.
Will run the python script from now on. Thanks for that!

[2016-03-02 07:11] MAKOSCAFEE commented on #1536
@deepank411 question, can you see jscs folder in node_modules folder?. If yes can you remove it and run either `bash scripts/start.sh` or `bash scripts/install_third_part.sh`. Either of them will work the same.

[2016-03-02 07:20] deepank411 commented on #1536
@MAKOSCAFEE ran start.sh again after removing the folder jscs, but still shows the same error.

[2016-03-02 07:22] MAKOSCAFEE commented on #1536
but did you see jscs installed without error?.

[2016-03-02 07:23] deepank411 commented on #1536
yes jscs 2.3.0 installed without any errors. My system has been showing some very weird errors since the start. :(

[2016-03-02 07:34] MAKOSCAFEE commented on #1536
oowk!, i have what raise that error. can you give the path to the jscs? starting from the directory which contains oppia?. is supposed to have this relative path `node_modules/jscs/bin/jscs`

[2016-03-02 07:39] 526avijitgupta commented on #1543
@seanlip Hi, I'd like to take on this issue.
Just a quick confirmation, will the tooltip for the globe icon show "Community Editable" here as well, as in the case of the info_card_modal ?

[2016-03-02 07:41] deepank411 commented on #1536
yes this is the relative path from the opensource directory. /opensource/node_modules/jscs/bin/jscs
![terminal](https://cloud.githubusercontent.com/assets/12173988/13453709/249e1222-e078-11e5-8c31-c60d09121d78.png)

[2016-03-02 07:41] seanlip commented on #1543
Sounds good, thanks @526avijitgupta! I'll assign you. And yes, I agree with that tooltip.

[2016-03-02 07:46] 526avijitgupta commented on #1543
@seanlip The code [here](https://github.com/oppia/oppia/blob/ef246db0c0e806f80f78f7702ddfef0776ac1bad/core/templates/dev/head/player/information_card_modal.html#L43-L46) clearly indicates that the globe icon is visible only when `contributorNames.length == 0`.

Also, in the issue's description above, you mentioned that globe should be set as the 'first' contributor, and the list of contributors is

[2016-03-02 08:17] seanlip commented on #1543
Hi @526avijitgupta, the list of contributors in the exploration summary tile is derived by figuring out who has actually contributed to the exploration in the past, from the list of commits (i.e., it's not the "owners" of the exploration). Does that clarify?

[2016-03-02 08:46] #1538 closed

[2016-03-02 09:17] deepank411 commented on #1536
@MAKOSCAFEE the issue resolved itself! I just tried to push the code once again and voila! it ran correctly. Thanks for all the help. :)

[2016-03-02 09:18] rishabhsethi commented on #1544
@seanlip , how about using this api: http://avatars.adorable.io/ . Really cool avatars.

[2016-03-02 09:26] seanlip opened #1550 "Return profile pictures together with the other data in the exploration summary tiles"
The exploration summary data information that is returned in core.domain.summary_services should include dataURIs of the profile pictures of the contributors, probably obtained using a get_multi() (so that only one call is made to the datastore). Otherwise, many separate calls are made to the server in order to retrieve the profile images that are shown at the top right of the exploration tiles di

[2016-03-02 09:28] seanlip commented on #1550
(@maitbayev, just thought I'd sanity-check, since you did a bunch of the contributor icon stuff: does this sound like a good idea to you?)

[2016-03-02 09:31] deepank411 commented on #1534
@seanlip I would like to work on this issue.

[2016-03-02 09:39] seanlip commented on #1534
Thanks, @deepank411! I've assigned you.

[2016-03-02 10:50] maitbayev commented on #1550
Hi @seanlip,
This is an amazing idea, I was going to suggest this.
It is slightly visible in slow internet.

[2016-03-02 13:32] prasanna08 commented on #1497
The problem here is that each content that we are going to show is enclosed in `<p>` tags. Now even if we enclose entire RTE with a special tag and apply css rules for spaces we will be applying same rule to  all the `<p>` tags which are descendants. Thus all RTE components including noninteractive once will be affected. Therefore I thought if we can enclose only text components with custom css se

[2016-03-02 13:50] CuriousLearner commented on #1216
Hi @seanlip, I've got to /admin and then chose to reload 'welcome_to_collections.yaml ' under the 'Reload a single collection' tab. But I'm not getting anything under '/collections/0'.

Can you point me in right direction? What am I doing wrong?

[2016-03-02 14:00] wxyxinyu commented on #1216
@CuriousLearner -- go to /collection/0 (no 's')

[2016-03-02 14:21] CuriousLearner commented on #1216
@wxyxinyu Ah, yeah, thanks.

Also if I'm understanding correctly, the end-result should be this:

![screen shot 2016-03-02 at 19 48 41](https://cloud.githubusercontent.com/assets/8039608/13462965/08d847aa-e0b0-11e5-8747-f5d8b1ab8c53.png)

If yes, then for larger viewport size, should the tiles be left-aligned again?

Also, let me know the files where changes are need to be done for the appropriate

[2016-03-02 15:01] seanlip commented on #1216
Hm, what does it currently look like? From looking at the screenshot you provided, I think that the left edge of the italicized text should be aligned with the title, but it seems reasonable for the tile to be in the center.

When the screen gets larger such that there is room for two tiles to fit side-by-side, then I would align the left edge of the leftmost column of tiles with both the title an

[2016-03-02 15:09] CuriousLearner commented on #1216
@seanlip  currently it looks like this:

![screen shot 2016-03-02 at 20 35 32](https://cloud.githubusercontent.com/assets/8039608/13464350/cf3b4ebe-e0b6-11e5-9cb1-945c2c786104.png)

I'll also align the text and look at the file to which you pointed. Would wait for @BenHenning  and @amgowano  to reply on this.

[2016-03-02 15:10] CuriousLearner commented on #1216
Also I guess, it would be good to put 'Next exploration to play' and 'Show upcoming explorations' along with the cards in a container, that would have a padding to make it look good on small screen devices.

[2016-03-02 15:21] seanlip commented on #1497
Oh, I see. Hm, I don't know if there's a way to do that (i.e. enclose only text components), though that shouldn't be taken to mean it's impossible -- I'm just not sure. Also, yep, I can see that the RTE components would then have to compensate for the extra spaces applied in the 'p' tags enclosing them if we go with the approach I proposed.

One thing occurred to me: the RTE we use is [textAngula

[2016-03-02 15:23] seanlip commented on #1216
Oh, yes, that looks horrible currently. Yep, feel free to restructure the page according to whatever is most sensible!

(And, also, I don't think you need to wait for Ben's/Abraham's replies in order to get started -- I mainly cc'd them for their info.)

[2016-03-02 16:11] satwik97 commented on #1544
@seanlip Can we use Gravatars? (also used by stackoverflow and Github). Gravatar API requires no authentication, and is based around simple HTTP GET requests. All we need is hash of user's email ID.

[2016-03-02 16:37] seanlip commented on #1544
Thanks for the suggestions!

Both services seem reasonable, with the caveat that I think we should fetch the pictures just once when the user signs up, and then store the pictures in the user's profile on Oppia (so that they can subsequently change them whenever they want).

@satwik97, if what you say about Gravatar holds, that actually sounds the most sensible. I feel slightly more iffy about Ado

[2016-03-02 17:14] satwik97 opened #1552 "The set interaction is not intuitive"
To reproduce:

1.  Log in as an admin, and go to /admin.
2.  Reload the test_of_interactions_and_expressions.yaml exploration.
3.  Go to the editor page for that exploration (/explore/10).
4.  Navigate to the sixth state.
![screenshot from 2016-03-02 21 55 34](https://cloud.githubusercontent.com/assets/10217535/13468352/377b7290-e0c8-11e5-958d-5305a37740ea.png)

[2016-03-02 17:33] rishabhsethi commented on #1544
@seanlip I found gravatar identicons really monotonous (for the obvious reasons that they are used by github and stackoverflow) and thus suggested adorable avatars.
@satwik97 Are you working on implementing this or should I do this?

[2016-03-02 19:11] CuriousLearner commented on #1368
Hi @seanlip

Please let me know how can I generate dummy notifications to check this out!

[2016-03-02 19:19] satwik97 commented on #1544
@rishabhsethi I think we should let others decide

[2016-03-02 20:25] CuriousLearner commented on #1544
@seanlip and others, Hello!

AFAIK these are [Identicon](https://en.wikipedia.org/wiki/Identicon). And rather than using gravatar for this, what we can essentially do is create a hash of each user and then generate identicons based on that hash. More than billion combinations would be possible to generate.

A more simple yet effective approach would be to use something like https://jdenticon.com/.

[2016-03-02 20:35] CuriousLearner commented on #700
@seanlip This is appearing only for the width < 271px which ideally won't be possible in most devices.
Should we really go for making the iframe width and height 100%?

[2016-03-02 21:19] satwik97 commented on #1544
I've tried to implement a simple fix for this. Here's the [link](https://github.com/oppia/oppia/pull/1555) . I can implement for functionality if required.

[2016-03-02 22:05] isaac-friedman commented on #1410
Update: the demo exploration is done.

[2016-03-02 22:06] BenHenning opened #1556 "Consolidate CollectionBackendApiService and WritableCollectionBackendApiService"
There are two services used for communicating collection objects between the backend and frontend:
- ``CollectionBackendApiService``, which is used to retrieve, and cache, collections in the frontend
- ``WritableCollectionBackendApiService``, which allows saving collections to the backend

These were setup as an experiment to try and minimize the duplication of getters for collection data. However

[2016-03-02 22:29] 526avijitgupta commented on #1543
@seanlip Thanks.

Also, I have actually fixed the issue, but there's a small problem, the globe's color and the card's color don't seem to be getting along well:

![screenshot from 2016-03-03 03 56 33](https://cloud.githubusercontent.com/assets/7583815/13477819/2fb97f4e-e0f4-11e5-9d7b-f09ea2c1a437.png)

[2016-03-03 03:56] seanlip commented on #1543
Thanks, @526avijitgupta! I think it should be kept white, but, also, only in the community-editable case, I suggest removing the "+" from the "+1". This is both more semantically correct, and also avoids the white-on-white issue.

[2016-03-03 04:03] seanlip commented on #1550
OK, great! I'll also keep it in mind for the default profile picture stuff (#1544).

In the meantime, would you be interested in taking on this issue?

[2016-03-03 04:29] seanlip commented on #1544
IMO, the avatars created by Jdenticon are quite nice. I like them better than Adorable. However, one concern I have is that you'd need to create a canvas element and draw within it, so I was wondering: on pages with a bunch of avatars, will creating all these canvas elements lead to performance issues? Just wondering if we should create the avatar once during registration and save it in the backen

[2016-03-03 04:40] seanlip commented on #1544
Btw, it looks like this can be factored out into two separate projects:
- using gravatar avatars when a new user signs up, if possible
- benchmarking performance of jdenticon or other similar libraries (vs png files served from backend), in order to answer the questions raised above

[2016-03-03 06:17] deepank411 commented on #1534
HI @wxyxinyu , I believe, truncating a math formula may not be a good idea as they may be same till the truncating stage. [x^3 + (a+b+c)x^2 + (ab+bc+ca)x + abc, x^3 + (a+b+c)x^2 + (ab+bc+ca)x - abc] If this gets truncated at x then the sign on abc cannot be determined.
Also as far as the font size is concerned, the powers will become even smaller, making it very small to comfortably read. So the r

[2016-03-03 08:18] seanlip commented on #1368
1. Login to the dev server, create an exploration, and publish it. (Remember the email/username you used.) Then log out.
2. Login as an admin to the dev server under a different username. Play the exploration that was published in step 1, and leave some feedback for the author.
3. Whilst still logged in as an admin, go to /admin, and run the DashboardRecentUpdatesAggregator continuous computation

[2016-03-03 08:29] seanlip commented on #1552
More specifically, the issue here is that people think all entries should be entered in one line, instead of one per line. We should find a way to handle this more gracefully, otherwise it's going to lead to frustration on the learner's part.

[2016-03-03 08:37] seanlip commented on #1534
Hi @deepank411, making the dropdown larger seems sensible, but it's only going to work up to a certain limit (right)? So you may need a plan for truncation anyway, past a certain maximum size.

[2016-03-03 09:28] seanlip commented on #1357
Hi @brunnre8 -- just checking, did you get a chance to look into this? No worries if not; I mainly just wanted to make sure you're not stuck :-)

[2016-03-03 09:45] prasanna08 commented on #1497
@seanlip I checked latest textAngular but it does same thing as it does in the version used in oppia. It encloses each paragraph in a separate `<p>` tag.

Now I can think of only one solution that is add css property to all `<p>` tags that fall under `.conversation-skin-tutor-card-top-content.protractor-test-conversation-content` css selector.
What do you suggest ?

[2016-03-03 09:48] seanlip commented on #1497
Just to check: when I try out the [textAngular demo](http://textangular.com/), the output I get is:

[code]

when typing

[code]

Do you know why there's a discrepancy?

[2016-03-03 09:50] prasanna08 commented on #1497
The difference is because of `<br/>` tag which is included at the end of each paragraph. Which is not the case with oppia, we do not include `<br/>` at the end of each paragraph.
I hope that is what you were asking ??

[2016-03-03 09:51] deepank411 commented on #1534
@seanlip Good catch, sir! I found the exact bug you mentioned. Thanks!

[2016-03-03 09:54] seanlip commented on #1497
Not quite. What I meant was: as a user, I type some stuff in the RTE, then I press enter; I type some more stuff, then I press enter. I have no idea what goes on behind the scenes, and whether the tag used is 'br' or 'p'. At the moment it's 'p', and I was wondering if upgrading the RTE version would cause it to become 'br' -- and what implications that would have. Does that make sense?

I ask this

[2016-03-03 09:57] prasanna08 commented on #1497
Well I think if we were thinking of upgrading RTE version then we should do that first and then I think problem would be fixed given the new changes in the module. If still it is not working as expected then we will think of a solution.

[2016-03-03 10:16] seanlip commented on #1497
OK, in that case, could you please take a look at #1504?

[2016-03-03 10:26] prasanna08 commented on #1504
@seanlip Currently Latest version is 1.5.0 on textAngular [git](https://github.com/fraywing/textAngular)
So whether we are upgrading to 1.4.5 or current latest or whichever is stable ?

[2016-03-03 10:41] seanlip commented on #1504
1.5.0 is fine if it's stable. Thanks for checking!

[2016-03-03 11:02] prasanna08 commented on #1504
@seanlip I tried to find the files where textAngular should be included but I am not able to get anywhere. I mean I am unable to locate exact files that includes this textAngular js scripts.

[2016-03-03 13:13] CuriousLearner commented on #1216
Hi @seanlip @wxyxinyu @BenHenning and @amgowano !

Can you please take a look at PR and guide me further, if changes are needed?

[2016-03-03 13:38] CuriousLearner commented on #1216
I'm just pasting here the updated screenshot of how the page looks like on both small and wider screen:
For wider screens:
![screen shot 2016-03-03 at 19 06 56](https://cloud.githubusercontent.com/assets/8039608/13495902/3fe68fae-e173-11e5-90c2-d89094b1a452.png)

For small screens:
![screen shot 2016-03-03 at 19 07 18](https://cloud.githubusercontent.com/assets/8039608/13495911/4a0ff308-e173-11e5-

[2016-03-03 13:39] CuriousLearner commented on #1216
And as @seanlip told, I've taken care of multiple tiles also :)

[2016-03-03 14:13] bbriggs commented on #1394
I'm on Arch, so I should be able to test this one. I think we should be able to tweak the existing python version check code to handle it.

[2016-03-03 14:18] CuriousLearner commented on #1368
@seanlip Okay, I've been able to generate the feedback table. Now I wanted to know should we really go for horizontal scroll for this?

A better visual design would be to create pseudo elements and name it according to the table, so each row would be displayed vertically.

Obviously it would make it larger to scroll down vertically but at least, the user would not be frustrated with horizontal scr

[2016-03-03 14:54] maitbayev commented on #1550
Hi @seanlip,
Yes, sure.

[2016-03-03 15:03] wxyxinyu commented on #1216
Fixed in #1554

[2016-03-03 15:07] CuriousLearner commented on #1216
Thanks for merging in @wxyxinyu :+1:

[2016-03-03 15:09] wxyxinyu commented on #700
@seanlip I'm not very sure if this issue is still an issue. Has the UI been changed?

[2016-03-03 15:13] wxyxinyu commented on #1544
I like the Jdendicon icons too.

[2016-03-03 15:18] CuriousLearner commented on #1544
@seanlip You're right!

So, the jidenticon allows both svgs and canvas as rendering elements on the DOM. You might want to have a look at 'How is the performance of canvas vs SVG?' section on the index page of jidenticon website.

Also, we can get gravatars if the user has set up gravatar profile with that e-mail, else we can use jidenticons.

Also, I would suggest rather than storing them in back

[2016-03-03 15:21] wxyxinyu commented on #1534
I agree with @seanlip.

I think it's fine to limit to a certain size, and truncate afterwards. The order of the multiple choice options is still preserved, so it should not be too hard to deduce which one to pick.

Just another note, I think it'll be good to make the dropdown selector the same width as the dropdown.

![525470ec e138 11e5 9e1f 81314a470447 png 1440x830](https://cloud.githubusercont

[2016-03-03 15:37] wxyxinyu commented on #1544
@CuriousLearner -- Hmm I think your snippet disappeared.

[2016-03-03 15:47] CuriousLearner commented on #1544
@wxyxinyu Apologies for that! Edited that.

[2016-03-03 16:29] seanlip commented on #1550
Thanks! I've assigned you :-)

[2016-03-03 16:53] seanlip commented on #1544
I did see the "How is the performance of canvas vs SVG?" section, but I was asking a different question. IMO, we should still benchmark -- just try loading a thousand of these at a time (vs generating them) and looking at the time difference.

I don't think retrieval would cause much extra load on our servers, since we'll be checking for the existence of the profile picture in the datastore anyway

[2016-03-03 16:55] seanlip commented on #700
Yeah, not sure this is still an issue. I think that page needs redesign, but the specific problem mentioned here isn't occurring, so I'm going to close it. Thanks for checking!

[2016-03-03 16:55] #700 closed

[2016-03-03 16:57] seanlip commented on #1216
Reopening -- there was a small indentation error in the code, but I also have some UI comments (thanks for the screenshots, @CuriousLearner, they're very helpful)!

- The large-screen UI looks great.
- For the small-screen UI, can all the text (Begin..., Next..., Show...) have a common left margin, similar to the large-screen UI? It is just the tile that needs to be centralized. At the moment it l

[2016-03-03 16:59] seanlip commented on #1504
See your third_party/static folder for the version of textAngular (1.3.7) -- then you can do something like

    grep textAngular . -r --exclude-dir=third_party

or

    grep "1.3.7" . -r --exclude-dir=third_party

[2016-03-03 17:01] seanlip commented on #1368
@CuriousLearner, can you make a mock describing what you have in mind? I'm not convinced that horizontal scroll is the way to go either; the aim of this issue is to come up with a good design on small screens.

[2016-03-03 17:01] CuriousLearner commented on #1216
Sure, @seanlip I'll do that! and also I'll correct the indentation and submit a PR.

[2016-03-03 17:03] CuriousLearner commented on #1368
@seanlip sure, I'll do this and show it to you.

[2016-03-03 17:13] prasanna08 commented on #1504
That is exactly what I did and from the list of files I got, only
manifest.json file was looking promising to me(that this file should be
modified). But I was unsure of that. Thus I asked you. And now I modified
manifest.json file to include latest version of textAngular and it worked.
I did not know this.
Thanx for the info.

[2016-03-03 17:18] seanlip commented on #1504
Ah, ok, no problem! I wasn't totally sure either (if manifest.json was the only reference), which is why I asked you to grep, just to make sure.

In any case, don't forget to test stuff carefully before upgrading :-)

[2016-03-03 17:20] prasanna08 commented on #1504
Well in first run it broke the explorationContextService itself. Trying to
find the issue.

[2016-03-03 17:47] MAKOSCAFEE commented on #1545
hey @deepank411  I run into this problem today and I installed python through anaconda distribution. I tried to install using homebrew and exported the path in `~/.bash_profile`. The problem was solved so actually as @seanlip said  is not numpy problem but the version of python installed.

[2016-03-03 18:33] CuriousLearner commented on #1216
@seanlip Done. Please check the new PR #1558

[2016-03-03 18:50] gvishal commented on #1525
@seanlip I tried recreating this issue by adding images of various dimensions in multiple choice format question and all images were properly re-sized. There is already a max-width: 100% present here [https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/css/oppia.css#L349](url).

Am I missing something?

[2016-03-03 19:59] gvishal commented on #1416
@seanlip I want to work on this.

[2016-03-03 20:31] oparry commented on #1505
@kevinlee12
I'm having trouble reproducing this problem reliably - for me, the banner does sometimes appear (and stay) when I select an exploration category, but not every time.  Is that your experience too?

[2016-03-03 21:22] satwik97 commented on #1545
I ran into the similar problem regarding numpy though I didn't had anaconda installed. But reinstalling the python solved my problem.

[2016-03-04 01:15] tjohnson314 opened #1560 ""This should never happen" response in "The Lazy Magician.""
I tried the story "The Lazy Magician." After the magician guessed my number, I tried to guess his. But the response to my first guess (50) was blank, and the response to my second guess was, "This should never happen."

![screen shot 2016-03-03 at 5 13 53 pm](https://cloud.githubusercontent.com/assets/7157281/13515084/585bc2bc-e163-11e5-944d-1e8395f2a9c6.png)

[2016-03-04 02:43] seanlip commented on #1416
Hi @gvishal, thanks -- I've assigned you!

FYI, this is a bit on the large side for a starter project, although everything is laid out pretty clearly in Frederik's doc. What's your implementation plan -- are you planning to do everything at once, or break it down into smaller milestones?

[2016-03-04 02:55] seanlip commented on #1525
Hm. The issue arises [here](https://www.oppia.org/explore/nj7r3NPTWGhZ); maybe you could try with that image?

[2016-03-04 03:41] deepank411 commented on #1531
@seanlip we can use toasts to display the messages. They are easy to spot and can be auto-removed after a set timeout.
https://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-specs

[2016-03-04 03:58] seanlip commented on #1531
I like this idea! Are you thinking of having them come up from the bottom? It's a bit disjoint from the existing warning messages which come from the top, but I think if we add animation then it should be noticeable (on desktop).

[2016-03-04 04:17] deepank411 commented on #1531
they come at the top right I think, they do in Materialize framework.
http://materializecss.com/dialogs.html

[2016-03-04 05:09] satwik97 opened #1562 ""The lazy magician" exploration struck in a loop"
It asked me to guess a number between 1 and 85 , I guessed 77 . When I was asked to answer "Is it 75?" I kept on answering "No its bigger" but the question kept coming again. I had to answer "No its smaller" to get rid of it.
![screenshot from 2016-03-04 10 33 38](https://cloud.githubusercontent.com/assets/10217535/13518547/4c1ccbda-e1f5-11e5-89f4-ffc069864bb0.png)

[2016-03-04 05:53] wxyxinyu commented on #1562
Hi @satwik97, this is a known issue, see #1022.

[2016-03-04 05:53] #1562 closed

[2016-03-04 05:54] wxyxinyu commented on #1560
Hi @tjohnson314 -- this is a known issue, see #1022.

[2016-03-04 06:49] CuriousLearner commented on #1368
Hi @seanlip,

Can we use this: http://mobifreaks.com/user-interface/responsive-and-seo-friendly-data-tables

More of vertical scrolling for the tables on small screens.

[2016-03-04 07:28] hitesh96db commented on #1370
@seanlip @wxyxinyu Hey, I would like to work on this task :). Can you please assign me this one ?

[2016-03-04 08:16] seanlip commented on #1368
I'm a bit confused by the link you sent, actually. The "mobile-friendly version" only seems to show a single row of the table. It doesn't seem right to hide most of the other information...

I think what might actually be needed here is a redesign of each of the notification rows so that they are mobile friendly, similar to e.g. messages in mobile gmail (or anything that shows a list of stuff). Th

[2016-03-04 08:19] seanlip commented on #1560
Thanks, @tjohnson314!

I'm going to close this since it's a duplicate (though it would still be great to get to the bottom of it; existing progress is described in #1022), but I just wanted to say thanks for taking the time to point this out and attach a screenshot. We appreciate it!

[2016-03-04 08:19] #1560 closed

[2016-03-04 08:31] tjohnson314 commented on #1560
Thanks, @seanlip! :-)

[2016-03-04 09:10] seanlip commented on #1531
Ah, I think I was looking at the snackbars in your first link (which come up from the bottom). Actually, I thought the ones in the top right (in your second link) weren't that visible, but we can probably play around a bit with the colour etc. to address that.

I think the next step would be to just prototype some ideas of how the warnings/info messages would work, and maybe send PRs/screenshots f

[2016-03-04 09:53] deepank411 commented on #1525
@seanlip same here! the images are perfectly aligned, both in the development server and on the live site. I used the same 4 images to recreate the issue.

[2016-03-04 09:54] seanlip commented on #1525
Ah, I got it! It currently works in Chrome, but not in Firefox.

[2016-03-04 10:00] deepank411 commented on #1525
Oh! In that case, can you please assign me to this issue.

[2016-03-04 10:01] seanlip commented on #1525
Done. Thanks, @deepank411!

[2016-03-04 10:22] seanlip opened #1564 "Collections should be unpublishable"
Per discussion with @BenHenning, it should be possible for collections to be unpublished (at least by an admin), otherwise we have no way of reverting accidental publications. This should be fixed before collections functionality goes live (even in beta state).

[2016-03-04 10:41] deepank411 commented on #1531
@seanlip I would love to take on this issue! Please assign it to me.

[2016-03-04 15:56] #1533 closed

[2016-03-04 16:39] CuriousLearner commented on #1368
@seanlip No, it's not a single row display, this only makes each row's columns in a separate row so that it can be displayed easily.

By Gmail on mobile you mean to hide some columns of the table as the screen size is reduced? Like only displaying important ones?

Plus, I would like to review this link:https://css-tricks.com/responsive-data-table-roundup/ If you think we can implement any of this

[2016-03-04 17:01] wxyxinyu opened #1567 "If multiple choice interaction has only 1 choice, don't give an option to add a response."
To reproduce:
1. Create an exploration
2. Add a multiple choice interaction
3. Click save (with only one option in the multiple choice).
4. Click on "Add New Oppia Response"

![a oppia editor](https://cloud.githubusercontent.com/assets/5061134/13532848/ad9cebbe-e1fb-11e5-9a18-ab07a3c5001c.png)

This can be confusing to users, since there is no response to choose, and they see an empty string in pl

[2016-03-04 17:06] seanlip commented on #1567
While the suggested fix works, the bug actually makes no sense to me, and might be symptomatic of a deeper flaw. Why is the response not even showing?

[2016-03-04 17:08] GraceGSy commented on #448
Here are the newest version of everything. Changes are:

1. Icons are now in grayscale

2. The lines are changed to paths for clarity

3. Backgrounds are alpha channels instead of white

Some outstanding issues:

1. Have tabs been switched to hints?

2. As it stands, the icons for tabs is too large to convert to uri. Does anyone have suggestions for this?

Thanks!

![collapsible_grayscale](https:/

[2016-03-04 17:12] wxyxinyu commented on #1567
Upon a bit more poking, the response is not showing because RTE elements are not displayed correctly. If you type some text into the multiple choice option instead, that option will display without a dropdown, which I think is the intended behavior.

[2016-03-04 17:20] wxyxinyu commented on #1567
Ok I just realized this issue/fix doesn't make sense. The issue is probably just caused by #1542.

[2016-03-04 17:20] #1567 closed

[2016-03-04 17:49] seanlip commented on #448
Hi @GraceGSy, thanks a lot for this!

1. Tabs haven't been switched to hints yet. If you have an icon for hints, could you put it in this issue thread? Then we'll add it later when the time comes.
2. You don't have to convert anything to uri anymore -- I made a commit that gets rid of that requirement. However, I don't see the tabs icon in the list of images in your comment?

Also, just to check,

[2016-03-04 17:50] hitesh96db commented on #1370
Hey :)

I've given this task a little thought and looked around the code a bit. I have a few doubts.

* When should the information be retrieved/updated ?

One simple scenario is that when the navbar is loaded, we should have the information ready. Now once the navbar is loaded, we update this number in the little yellow triangle every time the user clicks the feedback icon/tab ?

* Efficiently re

[2016-03-04 17:53] rishabhs95 commented on #1567
can you suggest me some other bug then?

[2016-03-04 18:00] seanlip commented on #1370
Hi @hitesh96db, I suggest that you try and find a way that doesn't involve writing new jobs. I would suggest using the thread status as the source of truth (i.e. how many threads are still open) -- if I'm not mistaken, this doesn't require looking at the messages, since I think it's displayed on the threadlist overview. You may have to find a way to load this data along with the page, instead of j

[2016-03-04 18:01] maitbayev commented on #1564
typo: published -> **un**published

[2016-03-04 18:02] hitesh96db commented on #1370
Also, How does a non-editor participate in a feedback thread ? I didn't notice any URL's in the UI linking to the feedback page for an exploration.

[2016-03-04 18:05] seanlip commented on #1564
Fixed, thanks!

[2016-03-04 18:06] wxyxinyu commented on #1567
@rishabhs95 -- I suggest looking at #1542.

[2016-03-04 19:14] hitesh96db commented on #1370
but as per the task description mentioned - "The aim of this issue is to show the total number of open feedback threads and suggestions in the navbar of the exploration editor whose last message is from a non-editor of the exploration" - which would require us to look at the messages(or last message) as well, right ? Or Do we only consider the "open" threads(like the status in "My explorations"?).

[2016-03-04 21:31] umeshksingla opened #1568 "Remove --silent in curl while downloading Google App Engine"
--silent flag has been provided in curl while downloading and installing Google App Engine in file **scripts/start.sh** as
`curl --silent https://storage.googleapis.com/appengine-sdks/deprecated/1919/google_appengine_1.9.19.zip -o gae-download.zip` at line `50` and no error message is provided if it fails to download, as it did on my machine due to proxy issues.
I would like to propose that we rem

[2016-03-05 01:12] bbriggs commented on #1568
Thanks for submitting the issue. Can you please provide some log output to help diagnose this a little better?

[2016-03-05 06:09] prasanna08 commented on #1504
Hi @seanlip
I tried upgrading textAngular version. Version upto 1.4.2 works perfectly and from 1.4.3 functionality breaks down. Here What happens is:
When oppia server starts and we logon to home page code [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/forms/formBuilder.js#L758-760) starts execution and `explorationContextService`, thus shows error because we are using

[2016-03-05 07:07] seanlip commented on #1504
Hi @prasanna08, thank you for taking a look!

Firstly, I think we should modify pageContextService so that it can be used on all pages. It shouldn't throw an exception, but just return PAGE_CONTEXT_OTHER or similar. We'll need to check existing usage of pageContextService to ensure that this doesn't cause any issues, but I think this should fix the problem you're running into.

In your screenshot,

[2016-03-05 07:12] seanlip commented on #1368
Hi @CuriousLearner, I took a look at the link, but I think this is looking at it from the wrong angle.

Let's just forget about the fact that the data is currently in a table to begin with. We have a bunch of notifications which we want to display to the user, and we know that the user is looking at this data using a mobile device. What information would they want to see (and is worth the screen s

[2016-03-05 07:15] #1496 closed

[2016-03-05 07:26] seanlip commented on #1370
No worries! It's totally fine (and encouraged) to ask questions which clarify the spec and desired behaviour.

For simplicity, let's just consider the 'open' status for now, and ignore who authored the last message. I think that seems sensible as an indicator of the "number of open discussions", and it has the added benefit that it would be the same for all users looking at the page. The alternati

[2016-03-05 09:42] prasanna08 commented on #1504
Well That is the least to worry. I tested latest version of textAngular 1.5.0 and it broke all the RTE components. I checked the html code it seems that all oppia-noninteractive -* tags are still there but information is not getting past. The content which is stored temporarily at creation time and permanently when draft is saved or exploration is published. This content is not correctly getting p

[2016-03-05 11:45] prasanna08 commented on #1504
Hey @seanlip
I went through loads of code today to find how this save task is performed and apparently problem is in the rangy it gives warning like

this so I went through various services and codes and i found that [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/forms/formBuilder.js#l814) code is failing and seems like rangy markers gets removed for some reason.
It see

[2016-03-05 13:44] hitesh96db commented on #1370
Yup, for now ;)
Thanks

[2016-03-05 16:57] satwik97 commented on #1381
Shall I do this?

[2016-03-05 17:01] thecyclone commented on #1511
I would like to work on this. Please get me started.
Thanks

[2016-03-05 17:17] seanlip commented on #1381
Hi @satwik97, I think it might make more sense to finish #1551 first. Thanks!

[2016-03-05 17:18] seanlip commented on #1534
Fixed in #1561; closing. Thanks @deepank411!

[2016-03-05 17:18] #1534 closed

[2016-03-05 17:19] seanlip commented on #1531
Hi @deepank411 -- actually, I'm going to deassign you from this issue for now, until you've finished the other two you currently have. Please feel free to add a comment to this thread when you're ready to take it up again!

[2016-03-05 17:24] thecyclone commented on #1507
I would like to work on this. Please get me started.
Thanks

[2016-03-05 18:14] deepank411 commented on #1531
@seanlip okay. I'll finish those two ASAP.

[2016-03-05 18:50] gvishal commented on #1416
@seanlip Yes, I would break it into smaller milestones. Before that, I was just going through the relevant code sections and also local unit testing in GAE. Wasn't aware that GAE doesn't make any requests to the real datastore, instead saving into memory.

[2016-03-05 18:50] kevinlee12 commented on #1505
Hi @oparry, the issue banner appears appears every time I select the exploration category. There was an update on new-gallery earlier this week, can you check if you are getting the same experience in the update?

[2016-03-05 21:45] gvishal commented on #1416
- [ ] Implement and test `_generate_hash` method. Pass hash to `SentEmailModel.create`.

- [ ] Modify existing test: `test_sent_email_model_instances_are_read_only` to call `SentEmailModel.create` with an additional parameter `email_hash`.

- [ ] Implement `get_by_hash` method.

- [ ] Write tests for `SentEmailModel` with and without using `get_by_hash` method.

- [ ] Implement `_check_duplicate_m

[2016-03-05 21:55] hitesh96db commented on #1564
Hey @seanlip, though I have a PR open for an issue, can I work on this while that one gets reviewed ?

[2016-03-05 22:02] gvishal commented on #1416
@seanlip Should we add the test for `generate_hash' in the `SignupEmailTests` class or a separate class? Also, since it is a protected method, is it alright to write a test for it?

[2016-03-05 23:04] gvishal commented on #1416
Calling `_check_duplicate_message` inside `_send_email_in_transaction` gives the error `Only ancestor queries are allowed inside transactions.` [Logged here](https://gist.github.com/gvishal/3b5bb7d0b86d196eda3d)

I think we could check that condition outside of the transaction.

[2016-03-06 02:40] seanlip commented on #1503
@kevinlee12 -- can you elaborate on where exactly you're expecting the title to be placed? I'm assuming, for example, in your screenshot, that "Languages" will show as a header above the tiles, and left-aligned with them. Is that correct?

[2016-03-06 02:48] kevinlee12 commented on #1503
Yes, I'm expecting the title to be on the top left, with the same text style as is shown on the main gallery page.

[2016-03-06 03:07] seanlip commented on #1416
Re generate_hash: I'd suggest a separate class, since it applies more broadly than to just signup emails. I also think it's fine to write a test for it, though you may have to locally disable pylint checks about access to protected methods (note that we've done this elsewhere in the codebase for similar cases).

I agree with your second point: we could check the condition outside the transaction,

[2016-03-06 03:43] seanlip commented on #1564
Hi @hitesh96db -- I've just had a look at that PR, and it seems to be going well, so yep, I've assigned you to this one. Thanks!

For now, I suggest following the general UX in explorations, where only an admin can unpublish a collection.

Having said that -- I think this somewhat depends on @BenHenning merging in #1433. I believe he's planning to get to that on Wednesday, so if you can get this d

[2016-03-06 04:19] seanlip commented on #1506
Note: Might be related to #1437. Probably worth checking if this is resolved after develop is merged in.

[2016-03-06 06:09] kevinlee12 commented on #1506
Fixed!

[2016-03-06 06:09] #1506 closed

[2016-03-06 06:47] kevinlee12 commented on #1510
The current direction for implementation is to employ 4 links:
- `/home` for the home page
- `/gallery` for the main gallery
- `/category_group` for the gallery group page (ie. Mathematics & Statistics) with a page that has a the categories as the title
- `/search` for all search queries.
  - Ex. `/search?q=logic`

/cc @okchip @nlopezgates who are also working on the issue

[2016-03-06 06:48] kevinlee12 commented on #1503
This is now being handled with #1510

[2016-03-06 07:02] kevinlee12 commented on #1508
The bug has an interesting twist whereby clicking a new combination of languages results into the explorations disappearing. But, when clicking away from the languages results to the explorations coming back and selecting the same combination again brings back the explorations. This is the current behavior after the merge from develop tonight (3/5)

![ezgif-1434860100](https://cloud.githubusercont

[2016-03-06 10:23] oparry commented on #1505
Weird... I've updated, but I can only get the banner to stay visible if I scroll down very quickly after I've selected the category.  My laptop screen is not that big - maybe it's to do with whether the banner is on screen at the time. @seanlip is that possible?

[2016-03-06 10:23] gvishal commented on #1416
@seanlip

Test that if there are multiple sent email models with the same hash, at least one of which was sent within the DUPLICATE_EMAIL_INTERVAL, and its subject, body and recipient_id match, the email is not sent
Test that if there is at least one email with the same hash, which was sent within the DUPLICATE_EMAIL_INTERVAL, but whose subject, body or recipient_id don’t match (test these separat

[2016-03-06 10:42] satwik97 commented on #1381
Hi @seanlip #1551 is already LGTM

[2016-03-06 11:24] gvishal commented on #1416
Here's my progress so far: [link](https://github.com/gvishal/oppia/commit/87e5b78ecc1c1a69109fc940979ed9cb627c39a1). Let me know if any changes are necessary.

Writing tests as mentioned previously is left.

[2016-03-06 11:52] prasanna08 commented on #1504
Hi @seanlip, @AllanYangZhou
The RTE component error is solved. It was due to my mistake, sorry if you had any trouble. Actually while adding line `taOptions.forceTextAngularSanitize = false;`, I replaced `taOptions.disableSanitizer=true;`  value. Errors were result of this mistake.

Now to the main issue of accessing `explorationContextService` outside its scope. What kind of fix should be impleme

[2016-03-06 12:01] umeshksingla commented on #1544
Is this done?

[2016-03-06 12:17] hitesh96db commented on #1478
How about adding a filter(like the already existing categories and language filter) ? We can add a filter for the exploration creation period - a week ago, 2 weeks ago, a month ago, ... ?
Or We can add a link to a page("Recently added" page) from the galleries page(yet to think of a good location) that contains such a filter.

Based on the date of creation of exploration(filter as mentioned above)

[2016-03-06 12:17] hitesh96db commented on #1564
@seanlip -- All this while, I was thinking of unpublishing explorations for some reason ! I'll probably pick this up later once collections gets merged in develop.

Would do you think about giving authors the power to unpublish an exploration ?

[2016-03-06 12:54] rishabhs95 commented on #1542
so are we supposed to display the equation at this place or its corresponding index or add something else?

[2016-03-06 13:42] CuriousLearner commented on #1544
@umeshksingla Nope, still on this.

[2016-03-06 14:19] CuriousLearner commented on #1368
@seanlip Got now what you're trying to say.

I've sketched up these mock-ups for the notification panel, have a look.

The basic idea is to have cards instead of table. I've tried to arrange the content as I researched on other app. IMO we can use ellipsis if the comment is really very big so as to maintain the overall look.

![acaev7bn7syqntlrjukgemkb](https://cloud.githubusercontent.com/assets/8

[2016-03-06 17:36] satwik97 opened #1574 "Overlapping text in exploration cards on Home Page in chrome"
Description text of the exploration is overlapping on the exploration icons.
I couldn't see same issue in firefox.
Here's the screenshot
![screenshot from 2016-03-06 23 06 21](https://cloud.githubusercontent.com/assets/10217535/13555813/1bb92eaa-e3f0-11e5-8551-70550385f907.png)

[2016-03-06 17:53] satwik97 commented on #1550
@seanlip @maitbayev If you don't mind I can fix this.

[2016-03-06 18:17] hitesh96db opened #1575 ""Save Draft" button is not restored when saving changes that cancel each other out"
Steps to reproduce --
1) Create an exploration.
2) Add some changes and save it.
3) Make some more changes such that they cancel each other out.
4) When you click on the "Save Draft" button, an error message should pop up saying that the changes cancel each other out and can not be saved.
5) (Bug) The "Save Draft" button is stuck with a "Saving..." text.

[2016-03-06 19:08] maitbayev commented on #1550
Hi @satwik97,
Sure,  I am okay with that.
Thank you.

[2016-03-06 19:42] rishabhs95 commented on #1542
working with this issue, can you please provide a clear guideline on what needs to be done?

[2016-03-06 21:16] satwik97 commented on #1550
Thanks @maitbayev , a quick question , To test my implementaion I need contributors data associated to the explorations but even after loading the explorations , none of the explorations have contributors associated with them .

[2016-03-06 21:26] maitbayev commented on #1550
Hi @satwik97,
That is right, they are uploaded by system users, which are ignored.
Maybe you can create several users and explorations using your browser in your local running instance (i.e http://localhost:8181/gallery) ?
Let me know, if this works for you.
Thanks.

[2016-03-06 21:53] umeshksingla commented on #1556
@BenHenning I would like to work on this. Do I have to work on collection-editor branch or proceed with a new branch?

[2016-03-07 07:29] satwik97 commented on #1550
@maitbayev Yeah that would work. But is there any way I can make the explorations data persistent so that I don't have to create explorations after every time I run the server.

[2016-03-07 10:17] kediamanav commented on #1494
Hi, I would like to start working on this. Could you give me a few pointers?

[2016-03-07 10:27] maitbayev commented on #1550
Hi @satwik97,
I am not sure, whether there is an existing solution for this. Let's wait confirmation from @seanlip,

But, you can run the server once, after each change you don't have to restart, it will pickup and build your changes automatically.
So, start the server, create necessary users and explorations, make changes to your code as long as you need. After each change your created data will

[2016-03-07 12:06] seanlip commented on #1550
Hi @satwik97 -- you can use the `--save_datastore` flag when starting the server to preserve the datastore contents from the last run. See scripts/start.sh.

Thanks for taking on this issue!

[2016-03-07 12:14] #1216 closed

[2016-03-07 12:17] seanlip commented on #1494
Hi @kediamanav, I would try to figure out what is going on by examining the DOM and potentially adding debug/logging statements. Note that the relevant files are in the /extensions/rich_text_components directory. Thanks!

[2016-03-07 12:19] seanlip commented on #1556
@umeshksingla -- I believe @BenHenning will be merging collection-editor into develop on Wednesday. So, if you can do this by Wednesday, I suggest doing a PR into collection-editor; otherwise, it might be better to wait until after Wednesday and then start a PR into develop. Please let us know which you prefer!

[2016-03-07 12:25] seanlip commented on #1542
For simplicity, let's start with the following: replace RTE components in these strings with their names. So, for example, the results might look like:

- Answer is equal to '[math]'
- Answer is equal to '[video]'
- Answer is equal to '[link]'

[2016-03-07 12:29] kediamanav commented on #1494
Hi, how do I create a tab in the explorations? I cannot find the template for a tab in either of the explorations.

[2016-03-07 12:29] CuriousLearner commented on #1368
Hi @seanlip, waiting for your response here :)

[2016-03-07 12:32] seanlip commented on #1494
Open the rich-text editor, and select the Tabs component from the toolbar menu.

[2016-03-07 12:32] rishabhs95 commented on #1542
okay, i'll do that

[2016-03-07 12:37] kediamanav commented on #1494
@seanlip thanks a lot. I found it. I'll start trying to fix it.

[2016-03-07 12:57] seanlip commented on #1574
Hi @satwik97, I'm having some trouble reproducing this. Is your zoom level at 100%? You also say that you "couldn't see same issue in Chrome", but the issue is filed as something that happens on Chrome -- did you mean something else?

[2016-03-07 13:01] #1575 closed

[2016-03-07 13:04] seanlip commented on #1504
I think it's better to fix the issue properly using getPageContext, and continue having isInExplorationEditorMode depend on getPageContext. This will require examine the callsites of getPageContext carefully but I think we should do that anyway.

[2016-03-07 13:16] seanlip commented on #1478
Actually, per recent discussion with @kevinlee12, this is now superseded by #1360. The gallery is going to be moved to a separate page, with carousels for each category and a carousel at the top for featured explorations. Initially, the top carousel will be moderator-selected, but over time we would like to transition it to a more automated system (along the lines of top/new/trending).

So, closin

[2016-03-07 13:16] #1478 closed

[2016-03-07 13:30] seanlip commented on #1381
Sorry, that was a typo -- I meant #1555 (now #1572)! But feel free to submit a PR for this, if you like.

[2016-03-07 13:35] seanlip commented on #1564
@hitesh96db -- when an exploration is published, it becomes part of an open learning commons and is likely to be contributed to and improved by other people as well. This makes unpublication by individuals a slightly tricky proposition -- so, I'd say, let's not do that for now, since it merits a longer discussion.

[2016-03-07 13:48] seanlip opened #1577 "Automatic pre-push lint checks don't seem to be running (or run wrongly) in some cases."
We've received a couple of reports (#1571, #1569) of the automated lint checks not running or running incorrectly (checking too many files) prior to a push. This seems odd, and worth looking into further.

For reference, the script is in `scripts/pre_push_hook.py`.

/cc @brunnre8 @bbriggs
Also /cc @526avijitgupta @hitesh96db (who reported this issue)

[2016-03-07 14:07] seanlip commented on #1416
Hi @gvishal, I've responsed to your questions below. Please let me know if anything's unclear!

1. Yes, that's fine. Feel free to structure the tests logically as you see fit -- if there are any egregious issues, they'll be surfaced during the PR review.

2. Using `_send_email` directly sounds reasonable. You can create new users in setUp(), i.e. create RECIPIENT_EMAIL, recipient_id, etc. -- we do

[2016-03-07 14:22] seanlip commented on #1368
Thanks, @CuriousLearner, this looks quite nice! I like the second one better. What do the ellipsis represent?

Also, what does it look like if there are multiple notifications?

[2016-03-07 14:25] CuriousLearner commented on #1368
@seanlip If the comment is long enough such that it doesn't fit on the card, then there would be ellipsis after some text, that would represent that there is much more text as comment.

Also, this is form of card structure all together so more notifications would follow a same pattern and appear as another card below the current one.

I hope you got the idea? Or should I sketch it? Please let me k

[2016-03-07 14:31] seanlip commented on #1368
Ah, yep, I get it.

This looks nice. Do you want to move into implementation?

[2016-03-07 14:33] CuriousLearner commented on #1368
Hi @seanlip Yeah sure, I'll give this a try ;)

[2016-03-07 14:51] maitbayev commented on #1550
@seanlip,
wow, awesome, I didn't know that.
Maybe we can mention it somewhere in the wiki ?

[2016-03-07 15:02] seanlip commented on #1550
@maitbayev -- good idea! I added it to the various "Installing Oppia" pages.

[2016-03-07 15:29] bbriggs commented on #1577
Thanks for the heads-up. I'll take a look at this later today.

On 03/07/2016 08:48 AM, Sean Lip wrote:

[2016-03-07 15:31] rishabhs95 commented on #1545
Even I had this problem on my OSX. on a slow university internet connection it was not feasible to download the vagrant image but i had ubuntu installed on my VMware.

- so I installed the whole environment on VMware ubuntu.
- but browser on virtual machine kept crashing, due to a lot of RAM usage.
- for fixing that, used ssh on my host(OSX) to forward a port(8181) of my virtual machine to a port

[2016-03-07 17:06] satwik97 commented on #1574
@seanlip sorry for the typo I meant I couldn't see the issue in firefox. And I figure out what was wrong , it was because I had the font-size to be large in chrome , I changed it back to small and the issue was gone.

[2016-03-07 17:24] seanlip commented on #1574
OK, thanks @satwik97! I'll close this then.

[2016-03-07 17:24] #1574 closed

[2016-03-07 17:29] #1370 closed

[2016-03-07 19:51] rishabhs95 commented on #1542
is it acceptable to assign the value of `vartype`?

[2016-03-07 19:51] hitesh96db commented on #1531
Hey @seanlip  (since @deepank411 seems to be busy with other work) Can I work on this ?

[2016-03-07 19:58] hitesh96db commented on #1531
(I have an implementation plan in mind, will share it with you once I formalize it a bit more clearly)

[2016-03-07 21:53] hitesh96db commented on #1531
So here's what I thought of, after considering the discussion so far --
Let's name the service `dialogService`(?) that has two components/data - `infoMessages` and `warnings`.

`infoMessages` are the FYI-type messages that will be displayed at the bottom/bottom-right of the screen because these messages are the more frequent ones that don't need much of the user's attention and should not overcrow

[2016-03-07 23:34] umeshksingla commented on #1556
@BenHenning It may take me time to finish this one. I can't really say that I ll done by Wed. So please merge collection-editor into develop and then I'll start working on it. Meanwhile can you help in finding some similar issue?

[2016-03-08 02:03] jacobdavis11 opened #1579 "Introduce a standard naming scheme for example users in the Protractor tests"
In the end-to-end Protractor testing system, the names and email addresses of the test users need to be globally unique across the different test files. To help avoid conflicts, a standard naming scheme based on the file name would be helpful.

Suggested scheme, for user Alice in the stateEditor.js file:
 - name: alice_stateEditor
 - email: alice@stateEditor.com

[2016-03-08 02:37] seanlip commented on #1579
/cc @maitbayev

[2016-03-08 02:43] seanlip commented on #1542
No, it isn't. As a user I have no idea what that means.

[2016-03-08 05:08] rishabhs95 commented on #1542
okay, got it. it should be easy for the user to understand what type of answer is it. working on it.

[2016-03-08 07:04] seanlip commented on #1531
I don't think I like the name 'dialogService' -- when I look at these messages, I don't immediately think "this is a dialog". Perhaps uiNotificationsService or something like that, with addWarning() and addInfoMessage() methods.

The multi-info-messages idea sounds fine to me; I agree they should be shown with low frequency (though perhaps we should still add a duplication check to defend against

[2016-03-08 10:16] seanlip commented on #448
@GraceGSy -- just a friendly ping (re the last question in my comment above). Please let me know what you'd prefer!

[2016-03-08 10:35] deepank411 commented on #1531
@seanlip I totally agree with you, the info messages are just to notify the user that their action was successful, so it is OK if the user overlooks it.
In the case of a warning message, is it in any way possible to have more than one fatal error occur simultaneously, If yes, then there will be a need to show multiple warning messages together.

[2016-03-08 10:38] seanlip commented on #1531
@deepank411 For the warning messages, I think it is possible for that to happen (e.g. two requests to the server result in errors). But couldn't we show the second warning after the first one is dismissed (or have the second warning replace the first)?

[2016-03-08 10:53] deepank411 commented on #1531
@seanlip We could do it either way, but informing about all the errors at once is for me as a user a better way. This is what happens in Gmail(stacked - center top) and in the Atom Editor(stacked - right top).

[2016-03-08 10:54] seanlip commented on #1531
Ah, interesting, I was thinking of gmail too -- I generally only see at most one error message there in the center top, so I assumed there was a limit.

Do you have a screenshot of any of these?

[2016-03-08 11:08] deepank411 commented on #1531
Unfortunately no,  In case of a network error, thus an emails unsuccessful delivery msg and network error are both shown one below the other. I have no screenshot for this.
For atom: http://i.stack.imgur.com/0JBR5.jpg or https://cdn.discourse.org/business/uploads/github_atom/original/3X/8/7/875437f7234c24a716795cb1313d0166586ed86c.PNG
These images are not my own but taken from google.

[2016-03-08 11:18] seanlip commented on #1531
Got it, thanks @deepank411! I think these images are good to have as a reference. The second one looks a bit overwhelming but the first is a bit less bulky than I expected, so I'm fine with this.

[2016-03-08 11:51] ishankhare07 opened #1580 "UnicodeDecodeError while installing numpy through start.sh"
The command `./scripts/start.sh` causes this error:

[code]

[2016-03-08 13:26] gvishal commented on #1416
Hi @seanlip, Thanks for the reply!

I had made some changes to the [implementation doc](https://docs.google.com/document/d/1gqzGXLewKID5dyY8HJCudcCORxoXiVkSGkFb6SAvBEk/edit#). Can you please check it for consistency.

[2016-03-08 13:29] seanlip commented on #1580
@ishankhare07 -- thanks for filing. I've never seen this before, unfortunately, so I don't think I can help here. What system are you on?

[2016-03-08 13:37] seanlip commented on #1416
Hi @gvishal -- I've changed the link to the doc, and given you edit access. PTAL. (The original doc was owned by @bigblind and I don't have access to it, so I couldn't accept your suggestions -- I suggest using the new one instead from now on. Thanks!)

[2016-03-08 15:52] prasanna08 commented on #1504
Hey @seanlip
I checked all callsites to `getPageContext()` and these are in files ` Video.js, EndExploration.js, formBuilder.js, ExplorationRecommendationService.js, PlayerServices.js and some ExplorationContextServiceSpec.js`
All files except formBuilder.js are included only when user is in either create or learn context. So I calls in those files will not be affected since they are always in cre

[2016-03-08 15:57] seanlip commented on #1504
Yes, sgtm. Thanks for checking!

[2016-03-08 16:15] #473 closed

[2016-03-08 16:46] ishankhare07 commented on #1580
ubuntu 15.10 x64. I am supposed to fix an issue for GSOC`16 and was following instructions by the mentor

[2016-03-08 16:53] satwik97 commented on #1579
Hi @jacobdavis11 In files like embedding.js , explorationRating.js , the usernames are like embedder , Rating . Won't it be odd to have usernames like embedder_Embedding , Rating_explorationRating. Btw this needs simple find and replace I can do It if you like.

[2016-03-08 17:17] giritheja commented on #1500
I think it would be good to see any one of the two in case of no result:
1. Explorations / Categories of the users who have had a similar search query. I believe this requires an implementation of a recommender system.
2. Explorations with a high number of interactions can also be suggested.

[2016-03-08 17:39] wxyxinyu commented on #1580
you can try using vagrant: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29

[2016-03-08 18:11] wxyxinyu commented on #1500
Hi @giritheja -- thanks for your suggestions! Could you elaborate more on how these would work?

[2016-03-08 20:34] gvishal commented on #1556
@BenHenning  Hey, I have submitted a PR for my earlier task. If it's okay with @umeshksingla I wanted to work on this. Can someone assign me?

[2016-03-08 22:07] #1568 closed

[2016-03-08 22:10] bbriggs commented on #1577
For clarification, what should and shouldn't our lint checks be covering?

[2016-03-09 00:13] brunnre8 commented on #1577
I guess it should lint all touched or added python and js files and then run the front end tests

[2016-03-09 00:55] jacobdavis11 commented on #1579
Yes it would make sense to tidy up some of these names. For cases where the
roles are very simple then just going with human names (e.g. Alice, Bob)
should be fine.

On Tue, Mar 8, 2016 at 11:53 AM, Satwik Kansal <notifications@github.com>
wrote:

[2016-03-09 03:30] seanlip commented on #1577
Yep, that's my understanding too.

[2016-03-09 03:32] seanlip commented on #1500
@giritheja -- by (2), do you mean view counts, rather than interactions? I.e. 'popular' explorations?

[2016-03-09 03:39] seanlip commented on #1556
Hi @gvishal -- see my [earlier response](https://github.com/oppia/oppia/issues/1556#issuecomment-193228852) to @umeshksingla. Basically, if you can do a full PR into the collection-editor branch by Wednesday, then feel free to start now, but otherwise it's probably better to wait until @BenHenning has merged collection-editor into develop.

[2016-03-09 03:54] seanlip commented on #995
Hi @bbriggs, @MAKOSCAFEE: how is this issue going?

[2016-03-09 05:25] wxyxinyu opened #1584 "If changes cancel each other out and saving is cancelled, save button is stuck in "saving...""
To reproduce:
1. Create or load an exploration
2. Make a change
3. Do not click "discard changes", but make the exact opposite changes as 2, to revert the changes
4. Attempt to save by clicking the "save draft" button
5. A warning message appears, and changes are not saved, but the button displays "saving..."

Desired behavior:
The button should go back to "save draft"

Note to contributors:
the r

[2016-03-09 05:32] hitesh96db commented on #1584
Hey @wxyxinyu This has already been fixed here -- https://github.com/oppia/oppia/pull/1576 :)

[2016-03-09 06:09] seanlip commented on #1584
@wxyxinyu -- just to check, before I close this: did this occur on develop, or did you not pull to your local repo?

[2016-03-09 07:11] prasanna08 commented on #1504
@seanlip Front-end tests are not working
When I run frontend test it gives me error (also check error-karma.txt)

Then I googled the issue and found a fix on [stackoverflow](http://stackoverflow.com/questions/19117092/jasmine-tests-in-karma-uncaught-referenceerror-require-is-not-defined) and acordingly I modified `/scripts/run_frontend_tests.sh` and `/core/tests/karma.conf.js` and again ran fronte

[2016-03-09 07:20] giritheja commented on #1500
@wxyxinyu Hey!. In the Recommender system, I meant to implement something like [this ](http://www.holehouse.org/mlclass/16_Recommender_Systems.html) where instead of movies, explorations can be used and instead of genre, categories can be used. This system can be further extended to suggest users on new explorations which they might be interested in.
@seanlip @wxyxinyu Yes I meant 'popular' explor

[2016-03-09 07:26] giritheja commented on #1514
:+1:
It would make it easier for the user to search.
Shouldn't the suggestions be from the names of explorations which are already present?

[2016-03-09 08:44] gvishal commented on #1416
@seanlip I have sent a PR. Can you take a look at it?

[2016-03-09 11:17] ishankhare07 commented on #1580
@wxyxinyu that won't help. I am planning to contribute from my linux machine. Installing on a windows vagrant may just let me get through the installation procedure. But it won't help much.

[2016-03-09 11:25] seanlip commented on #1580
@ishankhare07 I think the only option open, then, is to google the error (or ask on Stack Overflow or similar), see what others have done, and see if you can find a fix. We've never seen this before, so it looks like this is occurring only on your machine, which means that there's not much we can do to help. It seems to me that the issue occurs during the numpy installation, so you might want to c

[2016-03-09 11:32] seanlip commented on #1504
Hi @prasanna08, thanks for the detailed investigation. I've looked at the logs and links you sent, and it does seem to be an issue with textAngular.

I think this means we cannot just upgrade to the latest version. Would it instead be possible to upgrade to the latest version of textAngular which exhibits no such problems? We can still leave the other fixes in (that were discussed earlier in this

[2016-03-09 12:26] ishankhare07 commented on #1580
@seanlip turns out that there is no official way yet to install numpy on ubuntu through pip
everything i searched around suggests using
`apt-get install python-numpy`

and then doing `pip install --system-site-packages`

but i don't see that would be possible in this case?

[2016-03-09 14:04] seanlip commented on #1584
(I checked on develop, and this looks fine. Closing, but @wxyxinyu, please feel free to reopen if it recurs!)

[2016-03-09 14:04] #1584 closed

[2016-03-09 14:07] seanlip commented on #1536
Fixed in #1549. Thanks @deepank411!

[2016-03-09 14:07] #1536 closed

[2016-03-09 14:10] seanlip commented on #1543
Hi @526avijitgupta, just to check: are you still planning to work on this? (I'm just going down the issues list and making sure we haven't got obsolete assignments.) Thanks!

[2016-03-09 14:13] 526avijitgupta commented on #1543
@seanlip Sorry, I was busy in some university projects the past week.
I'm definitely planning to work on this. I'll push the updated code to the existing branch soon !

[2016-03-09 14:14] seanlip commented on #1543
OK, thanks for confirming!

[2016-03-09 14:15] seanlip commented on #1489
Hi @wasper1, just wanted to check in! How is this going?

[2016-03-09 14:57] prasanna08 commented on #1504
Well I have not tried other latest version of textAngular.
But [here](https://github.com/prasanna08/oppia/commit/c0d4b865f1a644f2aa882eee2d123350faa7c421) doing all this changes it succesfully passes developement stage frontend test but unfortunately it fails for production frontend tests.

INFO [karma]: Karma v0.12.16 server started at http://localhost:9876/
INFO [launcher]: Starting browser Chro

[2016-03-09 14:58] prasanna08 commented on #1504
I added commit with --no-verify option.

[2016-03-09 15:02] wasper1 commented on #1489
Hello @seanlip unfortunately i was terribly busy because of my job situation. But I am going to push something during weekend. Sorry for delay :/

[2016-03-09 15:29] giritheja commented on #1360
Hey! I am interested in working on this Issue. Can you please get me started on this?

[2016-03-09 15:42] giritheja commented on #1358
I can work on this issue. Can you assign this issue to me?

[2016-03-09 17:20] seanlip commented on #1504
Yeah, I don't think we want to bring in browserify (or other dependencies) unnecessarily -- these are all likely to add additional issues down the line.

Looking at v1.4.3 (or other versions) sounds good. Thanks for investigating!

[2016-03-09 17:21] seanlip commented on #1489
Ah, OK, sounds good. Thanks a lot for letting us know! (Also, good luck with the job situation busy-ness -- I hope things go well on that front.)

[2016-03-09 17:22] seanlip commented on #1358
Done! Thanks @giritheja.

[2016-03-09 17:23] seanlip commented on #1360
@giritheja -- I've just assigned you to #1358, so I suggest you look at that one for now, and perhaps we can work on this one later. Thanks!

[2016-03-09 17:25] MAKOSCAFEE commented on #995
Hi @seanlip
I was waiting for @bbriggs to try out the docker version instead of sourcelabs. But since the problem was to start the server before tests have started running, I decided to try to  start the server in `before_scripts` this will buy more time before the tests have started. Unfortunately I came accross [this error ](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/113475609#L4044) any idea?.

[2016-03-09 17:28] seanlip commented on #995
@MAKOSCAFEE -- are you missing a dot after dev_appserver (or at the end of the command)? You need to tell it where to find the app.yaml file...

[2016-03-09 17:31] MAKOSCAFEE commented on #995
Oooh :) let me add the dot.
Thanks.

[2016-03-09 17:33] wxyxinyu commented on #1584
Actually, I tried on the popup-messages branch.

[2016-03-09 17:38] seanlip commented on #1584
Ah, ok -- looks like [that branch](https://github.com/hitesh96db/oppia/tree/popup-messages) is 38 commits behind develop, so the latest changes may not have made it in yet. Thanks for confirming!

(@hitesh96db -- you might also want to sync your branch at some point.)

[2016-03-09 17:43] k-potter opened #1586 "numpy installation failed"
Here are the last few lines of log,

 FOUND:

    libraries = ['f77blas', 'cblas', 'atlas']

    library_dirs = ['/usr/lib/atlas-base']

    language = c

    define_macros = [('ATLAS_INFO', '"\\"3.10.2\\""')]

    include_dirs = ['/usr/include/atlas']

  FOUND:

    libraries = ['f77blas', 'cblas', 'atlas']

    library_dirs = ['/usr/lib/atlas-base']

    language = c

    define_macros = [('ATLA

[2016-03-09 17:51] MAKOSCAFEE commented on #995
now back to the problem that it can bind to port 4445. [link](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/114853046#L4063)

[2016-03-09 20:12] amgowano opened #1587 "Implement the breadcrumb of the collection editor page"
The collection editor page's breadcrumb currently only has "Oppia" on it. This implementation (which should follow what the exploration editor has) involves adding the following:

1. The page header. (e.g: Oppia > Collections > Intro To Collections > Edit)
2. Publish Changes button
3. Preview button
4. Settings button
5. History button
6. Statistics button
7. Feedback button
8. Help button

The bu

[2016-03-09 20:19] BenHenning commented on #1587
The individual pages should be blank, navigation should work, and the tabs should be hidden behind feconf flags. These flags, when enabled, will show the individual tabs (one flag per tab/page), but with the feconf flag disabled (which will be by default), the tabs won't show up. This allows us to have several developers working on each page individually. The major work of this issue involves a fe

[2016-03-09 20:35] hemanshu95 commented on #1381
Shall i do this?

[2016-03-09 23:48] BenHenning commented on #1564
#1433 is merged in. Please let me know if you have any questions about this moving forward. Feel free to email me or ping me on Gitter.

[2016-03-09 23:48] BenHenning commented on #1342
#1433 has been merged in.

[2016-03-09 23:48] #1342 closed

[2016-03-10 00:59] seanlip commented on #1381
Hi @hemanshu95 -- yep, this is still open, and you can take it up if you like. Please follow the "getting started" instructions here first, though:

    https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up

[2016-03-10 02:23] BenHenning commented on #1143
This was done in #1433.

[2016-03-10 02:23] #1143 closed

[2016-03-10 02:57] seanlip commented on #1587
@oskarcieslik, just to confirm -- would you like to take this on?

[2016-03-10 02:57] seanlip commented on #1556
@gvishal @umeshksingla A quick update: collection-editor has now been merged into develop, so you can now work on develop. Which of you would like to take it?

[2016-03-10 04:10] seanlip commented on #1586
Thanks for reporting! Looks like a duplicate of #1580.

[2016-03-10 04:10] #1586 closed

[2016-03-10 04:12] seanlip commented on #1580
There's a duplicate issue (with a slightly more detailed error log) in #1580 -- thanks, @k-potter, for filing it.

It's possible that we may have to amend our numpy installation process to make this less troublesome, while still ensuring that installation works fine on other machines. @ishankhare07, @k-potter, would either of you be up for looking into this, since you're able to reproduce it?

[2016-03-10 04:22] seanlip commented on #995
What's running on 4445 at that time? Might be worth investigating.

[2016-03-10 07:17] MAKOSCAFEE commented on #995
ok [here](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/114991437#L4044) looks like is used by travis itself. I tried to kill the process before starting the server, the GAE server starts but travis won't disconnect because there will be no running travis process.Hence declaring tests as failed.

[2016-03-10 08:03] gvishal commented on #1556
@seanlip I am almost done writing the one-off job and can surely take this up!

[2016-03-10 09:20] prasanna08 commented on #1504
textAngular V1.4.3 itself is not using `require` functionality but textAngular-rangy.min.js file still uses `require` functionality there too. So even if we roll back to 1.4.3. We still have issue with textAngular-rangy.min.js
It started happening after they moved to rangy@1.3.0 (in Version >= 1.4.0). So issue will be there. This issue is to upgrade textAngular so that we get rid of warning from r

[2016-03-10 09:21] seanlip commented on #995
Oh, weird. So, we picked a port that coincidentally happened to be used by Travis?

In that case, what happens if we use a different port?

[2016-03-10 09:22] seanlip commented on #1504
What about 1.4.2?

[2016-03-10 09:23] seanlip commented on #1556
Sounds good, thanks! I've assigned you.

(NB: @BenHenning will be your point of contact for this review.)

[2016-03-10 09:23] prasanna08 commented on #1504
It is same for every version (>= 1.4.0). All use `require` in textAngular-rangy.min.js

[2016-03-10 09:37] oskarcieslik commented on #1587
@seanlip Yes :)

[2016-03-10 09:38] seanlip commented on #1504
Oh, darn :(

So, to summarize: we want upgrading to >= 1.4.0 to happen at some point, but it can't do so yet because anything that's >= 1.4.0 is going to cause brokenness due to rangy using `require`. However, when using browserify, this brokenness only occurs in the production frontend karma tests, and does not happen in the dev server during manual testing, or in the dev server karma tests. Is t

[2016-03-10 12:08] prasanna08 commented on #1504
Yes @seanlip, either we have to find a way to deal with current textAngular/rangy scenario or leave it until it gets sorted in textAngular dependency.

Just for future reference I write somethings here.
The main issue here is: textAngular, in its latest iteration, uses require() functionality which is not available in current dependencies of oppia. Although this functionality only breaks frontend

[2016-03-10 12:28] hemanshu95 commented on #1163
Shall I do this?

[2016-03-10 12:33] hemanshu95 commented on #1381
I am not very familar with the protractor testing.
I would not like to take this issue. The issue is still open if anyone else want to contribute.

[2016-03-10 12:47] satwik97 commented on #1579
Hi @jacobdavis11 Please see #1583

[2016-03-10 13:09] seanlip commented on #1163
Actually, sorry -- I think this got fixed already by https://github.com/oppia/oppia/commit/3072d24ca3392f7fab5ec2e7f5f6b2f93ae9c5b1, but I forgot to close the issue. Doing so now.

Perhaps try #1564?

[2016-03-10 13:09] #1163 closed

[2016-03-10 13:49] disissid commented on #1020
@seanlip   I'd like to work on the issue if no one is currently working on it.

[2016-03-10 13:57] disissid commented on #1372
@seanlip I'm thinking of creating a dropdown just like user settings in the right corner, does it sounds good?

[2016-03-10 14:04] seanlip commented on #1372
Yes, something like that could work! If it's easier, feel free to send a screenshot for comments before finalizing everything.

[2016-03-10 14:05] seanlip commented on #1020
This is currently up for grabs, but I think I just replied to you on another issue thread. Which of them would you like to take?

[2016-03-10 14:33] ishankhare07 commented on #1580
@seanlip i think you meant to write #1586

[2016-03-10 14:33] disissid commented on #1372
![screenshot from 2016-03-10 20 00 01](https://cloud.githubusercontent.com/assets/6582951/13672496/0e473d1c-e6fb-11e5-94b5-7c425b353162.png)

Thinking of doing something on these lines.

[2016-03-10 14:37] disissid commented on #1020
Both of them are very small issues, won't take much time, though I'm still getting familiar with the codebase. I'll fix the other issue first then this one.

[2016-03-10 14:49] seanlip commented on #1580
Sorry, yes I did. Thanks, fixed!

[2016-03-10 14:49] disissid commented on #1372
Also there is another issue if screen width is even smaller than that,these options vanishes completely, we don't want that either right?
![screenshot from 2016-03-10 20 18 10](https://cloud.githubusercontent.com/assets/6582951/13673063/7176b1fe-e6fd-11e5-8f64-4c3f747685eb.png)

[2016-03-10 14:50] seanlip commented on #1372
Yes, I don't think so. That dropdown should always show (perhaps unless the screen size is really small, since probably no one is using the editor at that scale).

The other screenshot looks good. I'll assign you to the issue -- thanks!

[2016-03-10 14:51] seanlip commented on #1372
Oh, wait, I can't assign you. Have you followed the getting started instructions in CONTRIBUTING.md?

[2016-03-10 14:54] seanlip commented on #1550
Note: this is being worked on as part of #1589.

(@satwik97 -- I deassigned you since you're still working on #1572, hope that's OK.)

[2016-03-10 14:56] gvishal opened #1590 "Add custom style rules to pylint."
Oppia has some custom styles like:

- Docstrings with """ instead of '''.
- Two empty lines before any class.
- Comment is flush left with the """. Example:
"""Check whether an email message with the same recipient_id,
email_subject and (cleaned) email_html_body has been sent in
the last DUPLICATE_EMAIL_INTERVAL_MINS.
"""

There are other styles present in the code base. It would be good if we add

[2016-03-10 15:49] seanlip commented on #1246
Note: this is related to #1288 (since unrated explorations don't count towards the impact score).

[2016-03-10 16:30] disissid commented on #1372
Oh yeah, I forgot to sign the CLA, did it now. Sorry for the inconvenience caused.

[2016-03-10 16:55] seanlip commented on #1372
Thanks! I've invited you to the Oppia org -- once you accept the invitation at github.com/oppia I should be able to add you to the assignee field.

[2016-03-10 17:02] disissid commented on #1372
Accepted :)

[2016-03-10 20:29] hemanshu95 commented on #1580
I got the same error.
But it got fixed by using the following commands while being in oppia directory.
`sudo apt-get install python-dev
export LC_ALL=C
pip install --upgrade setuptools`

[2016-03-10 21:16] MAKOSCAFEE commented on #995
so I changed port to 4455 and server starts without a problem. Just some other error like chrome is unreachable. working on fixing them.

[2016-03-11 02:48] seanlip commented on #995
Ah, ok, that sounds great. Thanks!

[2016-03-11 02:54] seanlip commented on #1580
Hi @hemanshu95, that's great! Congrats on finding the fix.

@ishankhare07, @k-potter: does this work for you? If so, we can add it to the Troubleshooting section on the wiki.

[2016-03-11 03:49] oswellchan commented on #1381
Hi I would like to take this issue. However, I have some questions on how to proceed in fixing this issue? Should I just bring the questions to https://gitter.im/oppia/oppia-chat ?

[2016-03-11 04:09] seanlip commented on #1381
Can you write your questions in this thread? @jacobdavis11 should be able to help.

[2016-03-11 05:25] oswellchan commented on #1381
For the additional checks for the placeholder text and the height of the text input field, I am unsure how to get the expected ``placeholderText`` and ``heightOfBox``.

I am assuming that ``placeholderText`` and ``heightOfBox`` in ``customizeInteraction = function(elem, placeholderText, heightOfBox) {...`` cannot be saved as state somewhere, as the functions are meant to be a util and thus generic

[2016-03-11 06:47] seanlip commented on #1381
Ah, I see. Thanks for explaining your question in detail!

Yep, I think your approach is fine. We do something similar with the protractor tests for the Continue button, so you could follow that pattern.

Also, my suggestion would be to allow this function to be variadic -- i.e., if placeholderText and heightOfBox are not specified by the caller, just omit those checks.

[2016-03-11 07:14] oswellchan commented on #1381
Okay thanks I'll do that. In that case, should I modify existing test cases that use ``expectInteractionDetailsToMatch = function(elem) {...`` to use ``expectInteractionDetailsToMatch = function(elem, placeholderText, heightOfBox) {...``?

[2016-03-11 07:25] seanlip commented on #1381
I don't think you need to, actually, though @jacobdavis11 can confirm. I think the main thing we want to enable here is the test for the interaction itself,. and, if I'm reading this correctly, the customization args are part of the testSuite that appears lower down in the TextInput/protractor.js file. We just don't check them at the moment!

[2016-03-11 12:29] hemanshu95 commented on #1528
Shall I do this?

[2016-03-11 14:45] seanlip commented on #1528
Not yet, I think (assuming you mean coding it). It's more of a design project than a coding one.

[2016-03-11 18:07] disissid commented on #1020
Not only exploration overview hides but also content of over card overflows.
![screenshot from 2016-03-11 23 27 44](https://cloud.githubusercontent.com/assets/6582951/13710952/0a71ae7e-e7e2-11e5-8a6d-8f82566fa1dc.png)

I'm thinking of increasing the cards width to 100%, they would look better that way and showing the exploration overview at the end.
Something like this
![screenshot from 2016-03-11

[2016-03-11 18:29] disissid opened #1593 "Welcome exploration, something wrong with Non-interacting math values"
I was playing around with the welcome exploration when I noticed this
![screenshot from 2016-03-11 23 49 56](https://cloud.githubusercontent.com/assets/6582951/13711492/dcfdf4ea-e7e4-11e5-803f-717ceecd4a2c.png)

when I went to edit the question there was a very blurry image, not sure if some files are missing on my part or this is really a issue.
![screenshot from 2016-03-11 23 50 07](https://clou

[2016-03-11 18:33] hemanshu95 commented on #1528
I was thinking of adding a feature where an exploration picture is asked for while creating an exploration which is by default set to exploration host owner's profile picture.

[2016-03-11 18:41] hemanshu95 commented on #1348
Shall I do this?

[2016-03-11 21:28] #1531 closed

[2016-03-12 00:37] BenHenning commented on #1593
Hi @disissid. Are you able to reproduce this? If so, could you list the steps to reproduce it? Which version of Firefox are you using and which commit are you running off of? I tried reproducing this in Chrome 49 on the latest develop branch, and I couldn't seem to. Do you see this problem also in Chrome?

Thanks.

[2016-03-12 00:43] BenHenning commented on #1587
Also, to be clear, this issue is meant to track the following sub-items from #1462:
  - There should be a settings tab for editing the title, category, and objective in the same way as the exploration editor. The category should be edited using a drop-down menu of categories.
  - The saving functionality should match the exploration editor with a save dialog, drafts, and a comment. There should al

[2016-03-12 01:06] bbriggs commented on #1577
So only the python and js? I know the linter tried to pull the Vagrantfile in at one point, which seems a bit of a stretch :)

[2016-03-12 01:50] seanlip commented on #1587
@BenHenning, a question: are we planning to use the same services for saving etc. from the exploration editor so that they apply to both places, or create entirely new ones for the collection editor? Doing the former is harder (since it involves figuring out what they have in common and abstracting that out), but doing the latter results in severe code duplication which isn't good long-term.

[2016-03-12 01:51] seanlip commented on #1593
@disissid -- hm. Did you happen to see any console errors?

[2016-03-12 02:01] seanlip commented on #1577
Yeah, I don't think we should lint the vagrantfile :)

I thought the linter pulled things in by extension (.py or .js)? Maybe I was mistaken.

[2016-03-12 02:02] seanlip commented on #1577
(@MAKOSCAFEE will know)

[2016-03-12 03:21] seanlip commented on #1416
Fixed in #1582. Thanks, @gvishal!

[2016-03-12 03:21] #1416 closed

[2016-03-12 03:25] seanlip commented on #1348
This is also a design project, not a coding project (see the labels). I _think_ you wanted a coding project, so this might not be what you're looking for.

In addition, it looks like this might be subsumed by #1358, since a "Create Exploration" button is going to be added to the navbar in most pages. So I'll close this.

[2016-03-12 03:25] #1348 closed

[2016-03-12 03:27] seanlip commented on #1564
@hemanshu95 -- if you're looking for a starter project, would you like to try this one?

[2016-03-12 03:30] seanlip commented on #1528
I'm not very keen on allowing the use of arbitrary pictures for the exploration avatar -- I don't see a need for that, yet. I still think that some introductory design work should be done for this project before we dive into coding.

[2016-03-12 03:31] seanlip commented on #1504
@prasanna08 -- sounds good. Thanks very much for the great summary! Let's leave this as-is for now, and hopefully we can fix it in the future.

[2016-03-12 03:36] seanlip commented on #1020
Thanks for identifying the other issue, @disissid! I agree that it should be fixed.

One note, though: there's been a desire in the past to have the editor view look more like the learner view. So I'm not sure it would be good to have the cards too wide. Instead, can we keep them at the current width (truncating the overflowing part as needed) and center them horizontally in the small-width view?

[2016-03-12 03:57] seanlip commented on #1544
NB: @satwik97 has been working on a fix for this (#1572), but if I remember correctly, he's currently quite busy. So, just to check: @satwik97 -- what are your plans for when you can update the PR? (Trying to figure out whether to assign you to this issue, or leave it open.)

Thanks!

[2016-03-12 06:16] MAKOSCAFEE commented on #1577
@seanlip  actually yes, linter pull things based on their extensions. @bbriggs and we do  not lint vagrantfile at the moment.

[2016-03-12 06:57] MAKOSCAFEE commented on #995
I encountered one issue, Is there a way to extend time travis-ci waits before terminate if no output is observed?. Right now the maximum time is 10 minutes, [here](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/115316122#L4880)  and [here](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/115260697#L6928) takes more than 10 minutes before the output is removed.

[2016-03-12 07:24] seanlip commented on #945
This has been addressed (possibly partially) by @AllanYangZhou in #1595.

I'm going to close this issue for now, but let's reopen it if the editor is still slow after the next release (v2.1.5) happens. It's hard to reproduce the original problem deterministically, so I'm not sure if it is completely solved yet.

[2016-03-12 07:24] #945 closed

[2016-03-12 07:30] seanlip commented on #995
Hm, I don't know if the time can be extended -- these [limits](https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts) seem like hard ones. Is it possible to make the Protractor output more verbose for Travis?

[2016-03-12 07:35] seanlip commented on #995
(I remember this commit by @jacobdavis11 sometime back. Perhaps you can re-enable the verbose output as an experiment: https://github.com/oppia/oppia/commit/52c04460c563271c078b)

[2016-03-12 08:30] brunnre8 commented on #1577
It is a bit confusing as the hook just passes all the new / touched files with the comment "files to lint".

However the actual logic what gets linted (the filtering based on the extension) is done by the linter script.

I did not want to duplicate work in the hook so it just passes everything that it knows about and lets the downstream parts take care of it.

[2016-03-12 08:59] seanlip opened #1597 "Create a directive for 'activity-tiles-infinity-grid' in the gallery"
This is a refactoring issue.

There's a div in core/templates/dev/head/galleries/gallery.html that starts with

[code]

We'd like to pull this div out into a separate directive called activity-tiles-infinity-grid, so that it can be used in multiple places in the future. The directive would represent a grid of tiles that supports infinite scroll.

/cc @hitesh96db @oppia/frontend-new-gallery

[2016-03-12 09:22] seanlip commented on #1288
Fixed in #1518. Thanks @sfederwisch!

[2016-03-12 09:22] #1288 closed

[2016-03-12 10:34] oskarcieslik commented on #1587
@seanlip @BenHenning I started working on it and hope to make some progress this weekend :)
Also I think that it would be better to abstract out some behaviour of saving in exploration editor (like dialog showing up) and use it in collections editor.

[2016-03-12 11:22] disissid commented on #1020
Yeah @seanlip , that can be done, not a big issue. Great I'll take up this as my next project :)

[2016-03-12 14:17] seanlip commented on #1587
Great, thanks @oskarcieslik! If it gets too big, feel free to break it down into smaller individual projects and do a bit at a time.

[2016-03-12 15:36] seanlip opened #1598 "Save/publish button and the caret button do not have the same height"
Here is what the save/publish button looks like in the editor on narrower screens (see the right side of the following screenshot):

![save-publish-buttons](https://cloud.githubusercontent.com/assets/10575562/13723808/eef86154-e824-11e5-8cce-823ab168229b.png)

This looks messy, and it would be better if the button and the "caret button" next to it had the same height.

[2016-03-12 15:45] seanlip commented on #1505
Hi @oparry, please accept my apologies -- I meant to reply to you several days ago, but this ended up slipping down my inbox! I'm not sure what's happening in this specific case, but I also wanted to let you know that @kevinlee12 and I met a few days ago (together with a few other folks working on the gallery) and we figured that it would be better to split the gallery into multiple separate pages

[2016-03-12 20:35] BenHenning commented on #1556
Excellent, that's great to hear @gvishal! If you have any questions moving forward, feel free to reply to this issue. We can schedule some time to meet if there are any major concepts or concerns which need to be discussed. Thanks!

[2016-03-12 21:26] BenHenning commented on #1587
I share @seanlip's thought here. This issue is slightly larger than one divisible starter project. Splitting this up will be very helpful on the reviewer (likely me), so I would greatly appreciate it. :)

@seanlip, I think it's mostly a question about the modal and overall saving/publishing flow. I think we should try and reuse that part, but I'm not keen on reusing the services which summarize th

[2016-03-13 03:14] seanlip commented on #1587
I agree about not needing to duplicate the "which changes were done" part -- we're actually planning to rewrite that part anyway for the exploration editor.

@BenHenning / @oskarcieslik / @amgowano : could one of you sketch the definition of a reasonable "first PR" project, and get the others' agreement? I think it's worth agreeing on what this is before starting to code it.

[2016-03-13 05:38] giritheja commented on #1597
I think there is a need to created a lot of test explorations to test this directive(if created).

[2016-03-13 13:46] seanlip commented on #1597
True, but that's not hard to do: go to /admin and click "Reload all explorations". This will load 15 explorations.

[2016-03-13 13:58] gvishal commented on #1556
Hey @BenHenning, I have my mid-terms this week, so I won't be able to put in a sufficient amount of time working on it. Please feel free to assign someone else or I can pick it up in 2-3 days, if that's fine.

[2016-03-13 21:59] wasper1 commented on #1489
Hi @seanlip
I have created some concept using 'display:table', but because of my little experience with such things I am not sure if this way of solution is good.
Could You look at this, please? (For tests i use "Test of all interactions")
I pushed it to wasper1:responsive-player-view.
Should I create PR for this ?

[2016-03-14 02:52] oskarcieslik commented on #1587
Hi @amgowano @BenHenning, I finally got time to start working on this, but I can't figure out what is the route for collection's editor page. I tried URLs from feconf.py, but they don't seem to work for me, can you help me figure out what am I doing wrong? Thanks :)

[2016-03-14 09:18] seanlip commented on #1489
Thanks, @wasper1! Yes, please -- could you create a PR?

[2016-03-14 10:48] #1550 closed

[2016-03-14 10:56] seanlip opened #1601 "On the "/my_explorations" page, clicking "Create Exploration" should not reload the page."
The "Create Exploration" at the top right of the current gallery page has been made into a reusable directive that will soon appear on more pages throughout the site. Clicking this button brings the user to "/my_explorations", asking them to log in first if needed.

This is all good, except that currently going to "/my_explorations" and clicking that button causes the page to get reloaded. It woul

[2016-03-14 11:05] seanlip commented on #1464
@BenHenning -- maybe post your mocks here at some point?

[2016-03-14 11:06] hemanshu95 commented on #1525
This might be a bug of firefox browser.

[2016-03-14 12:07] 526avijitgupta commented on #1601
@seanlip I'm not able to reproduce this. I don't encounter a reload on clicking "Create Exploration" button when on "/my_explorations". Please correct me if that's not what you meant.

[2016-03-14 12:57] disissid commented on #1598
How does this looks?
![screenshot from 2016-03-14 18 16 34](https://cloud.githubusercontent.com/assets/6582951/13745021/bb104426-ea11-11e5-929a-98206396805c.png)

Some other issues
![screenshot from 2016-03-14 18 21 14](https://cloud.githubusercontent.com/assets/6582951/13745039/d18806d0-ea11-11e5-8f67-a6f44a009982.png)
when you click the dropdown to discard changes you need to be quick, as there

[2016-03-14 13:02] bbriggs opened #1602 "Unable to run e2e or Frontend Tests in Vagrant VM"
The Vagrant VM is not able to run either e2e or frontend tests. This is due to a couple of issues:
- For a restarted machine, CHROME_BIN is likely to be absent
- Chromium is not installed
- xvfb is not installed
- a proper environment variable for the screen for xvfb is not exported

Steps to solve this:
I advise using [this guide](https://gist.github.com/addyosmani/5336747) as a starting point.
-

[2016-03-14 13:12] seanlip commented on #1601
Ah, oops -- I'm sorry, this was my mistake. It actually happens on @giritheja's 'navbar' branch, not on develop.

Having said that, I think this is because the "Create Exploration" button directive, as it currently works, doesn't redirect to "/my_explorations?mode=create" before loading the creation modal, so the current behaviour does not extend well to other pages. I'll file a separate issue for

[2016-03-14 13:12] #1601 closed

[2016-03-14 13:14] disissid commented on #1593
Yeah sorry for the buzz, some files were missing on my machine(probably mathjax).

[2016-03-14 13:14] #1593 closed

[2016-03-14 13:14] seanlip opened #1603 "The "Create Exploration" button should redirect to /my_explorations?mode=create"
We have introduced a "Create Exploration" button directive which is going to be used on multiple pages. However, its current behaviour does not extend to this use case, and should be changed as follows:

- if the "Create Exploration" button is clicked while on /my_explorations, it opens the creation modal.
- if the "Create Exploration" button is clicked on any other page, it simply redirects to /m

[2016-03-14 13:20] disissid opened #1604 "Warnings in the exploration editor doesn't look good"
Warnings in the exploration editor doesn't look good especially the caret color(It doesn't go with the rest of UI) and how it is placed.And shouldn't warnings be in separate tab?

![screenshot from 2016-03-14 18 39 31](https://cloud.githubusercontent.com/assets/6582951/13745716/8f45c664-ea15-11e5-8666-1c7080589850.png)

[2016-03-14 13:23] seanlip commented on #1604
Hi @disissid -- just to clarify, what would you suggest instead? (A mock would be helpful.)

[2016-03-14 13:30] seanlip commented on #1598
I just tried it out on develop, and actually, looks like something broke somewhere. Hovering on the save/publish button should not show the "Discard" option; only clicking on the dropdown "half-button" should. (At least, this was how it originally worked.) Similarly, I think that, in your mock, it would be nice to make clear that there are two separate buttons -- a 'publish' button and a 'see more

[2016-03-14 13:37] seanlip commented on #1587
OK, this was a bit tricky -- I tried to figure it out from scratch, too. This is what you do:
- Go to /admin, look for the config property called "Names of users allowed to use the collection editor", and type in your username, then scroll to the bottom of that section and click "Save changes". The reason this switch is here is because collections functionality isn't ready to ship yet.
- Reload th

[2016-03-14 13:42] oskarcieslik commented on #1587
Awesome @seanlip, thanks! :)

[2016-03-14 13:54] disissid commented on #1604
Something like this maybe

![screenshot from 2016-03-14 19 22 05](https://cloud.githubusercontent.com/assets/6582951/13746642/42fe0a0a-ea1a-11e5-93ce-b01f1b072c00.png)

[2016-03-14 14:00] disissid commented on #1598
Breadcrumb could take the user to the exploration page.

[2016-03-14 14:08] seanlip commented on #1604
Ah, I see -- thanks for clarifying.

I don't agree with a separate tab. With the exception of the help 'tab' on the right (which we are actually planning to remove and bring into the main body of the editor tab), each tab currently corresponds to a separate "page". However, the error messages don't, so it doesn't seem right to give it its own "tab". Rather, they reflect errors that are present in

[2016-03-14 14:09] seanlip commented on #1598
Do you mean the learner view or the editor view of the exploration?

If the former -- well, the user is currently in the editor and is probably editing. Going to the learner view would be a bit of a distraction, and there's already a preview button for that.

If the latter -- I'm not sure what the point is, given that the user is already in the editor page.

[2016-03-14 14:21] disissid commented on #1604
Okay, It doesn't make sense to have a separate tab.

Oh I took it from a button's color(comes as the warning while deleting any interaction).

Actually I didn't like the earlier "triangle" dropdown, with black colored number on it and even the dropdown with that light yellow background. Considering your suggestions here is another mock

![screenshot from 2016-03-14 19 43 46](https://cloud.githubus

[2016-03-14 14:27] disissid commented on #1598
Ah, I was thinking of learner view, but yeah it doesn't make much sense.

[2016-03-14 14:30] seanlip commented on #1604
Thanks for thinking about this!

I don't like the yellow triangle in the latest mock. Well, actually -- it's not so much that I don't like it, it's more that I can't actually read it. I can't tell whether the number inside is a 1 or a blob or something else.

It's possible that the light yellow background in the dropdown could be improved, but I don't think making it white is the answer. A whole b

[2016-03-14 14:39] disissid commented on #1604
I guess this was more of a personal preference and no it wasn't hard to discover.Will take care next time onwards. :)

[2016-03-14 14:42] seanlip commented on #1604
OK, thanks for clarifying! I'll close this, then.

[2016-03-14 14:42] #1604 closed

[2016-03-14 15:17] bbriggs commented on #1580
Hi all,

Using pip to install numpy is an approved and valid method provided you have installed the prerequisites.

I just recreated this using a fresh Ubuntu 14.04 install on Digital Ocean:

`sudo apt-get install -y python-dev python-pip && pip install -U numpy` works just fine.

[2016-03-14 15:25] seanlip commented on #1580
Hi @bbriggs -- just to check, does this mean any changes are needed to either:
- the scripts/install_third_party.sh file
- the prerequisites instructions in the wiki?

(If so, what are they?)

[2016-03-14 15:33] bbriggs commented on #1580
I'm testing with 15.10 right now, but the early answer is no. As long as `python-dev` and `python-pip` are installed, you can install `numpy` via `pip`.

[2016-03-14 16:31] bbriggs commented on #1577
That explains my confusion, thanks.

[2016-03-14 16:43] bbriggs commented on #1580
Also, @ishankhare07, Vagrant works just as well on Linux as it does on Windows (arguably better). There is a bit of a problem with frontend and e2e tests on that right now though.

[2016-03-14 18:17] kennho commented on #1603
Hello. I would like to work on this issue.

[2016-03-15 00:05] jacobdavis11 commented on #995
Please don't commit changes that increase the verbosity for local test runs, but if you need to add a flag that controls the verbosity level (and defaults to the current level) that should work fine.

[2016-03-15 02:24] oskarcieslik commented on #1587
Hi @seanlip @BenHenning @amgowano. :) I implemented breadcrumb just like in exploration editor (without functionality for the moment) and I observed some issue I think.

When I wanted to show current selected tab in breadcrumb I used RouterService from exploration editor, problem is it has a lot of dependencies from exploration editor, even ExplorationEditor.js itself, which in my opinion is a pro

[2016-03-15 02:38] #1543 closed

[2016-03-15 05:40] oswellchan commented on #1515
For the updating of CONTRIBUTING.md, where is a good place to include the note on not to use author tags and instead to use git blame?

[2016-03-15 05:44] seanlip commented on #1515
How about adding a new "Notes" section before the 'communication channels', i.e., after the congratulatory step (7)?

(Basically, though, wherever you think it makes sense should be fine.)

[2016-03-15 06:18] MAKOSCAFEE commented on #995
@jacobdavis11 we wont. I Tried to investigate more and I found the problem to be not that test takes more than 10 minutes to give output but Looks like chrome can not start at all or it takes sometime to start and when it does it page crashes  before tests are finished. I tried to [using firefox](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/115505541#L6215), and all test were run to completion desp

[2016-03-15 06:26] seanlip commented on #995
@MAKOSCAFEE ... interesting! Maybe we need to run in firefox or headless instead...

FYI, Travis-CI doesn't seem to be letting me access your link. Can you paste the output in a gist?

Also, have we given up on Saucelabs and/or Docker? What are your current plans for next steps?

[2016-03-15 06:41] MAKOSCAFEE commented on #995
The reasonable output starts from [here](https://gist.github.com/MAKOSCAFEE/029e5d9764a912bbc4ff#file-output_travis-L1071) where we connect to sourcelabs. you can see the only test that pass is this [one](https://gist.github.com/MAKOSCAFEE/029e5d9764a912bbc4ff#file-output_travis-L6117).
Also, we are using sourcelabs at the moment.
I want to try docker and see if can manage to use chrome there.

[2016-03-15 06:44] seanlip commented on #995
Interesting, thanks!

Hm, they all seem to fail because of a select2 dropdown issue. I wonder whether the test passes on a local machine using firefox? If it fails, then maybe another way forward is to fix that error locally, and then maybe it will work fine on saucelabs. I don't think I've ever run the e2e tests on firefox before, so it's quite possible that there's a firefox error that hasn't be

[2016-03-15 09:15] seanlip commented on #1587
I'd be fine with abstracting RouterService out into something more generic, if it is possible to find a clean way to do so. I don't think it has an explicit dependency on ExplorationEditor.js, though, unless you mean that it uses the names of the tabs from there?

[2016-03-15 09:16] seanlip commented on #1587
Also, if you do go down this route, it may be sensible to make a separate PR from develop that refactors RouterService to be independent of the exploration editor, and wait for that to go in before working on this issue directly. However, that refactoring PR strikes me as slightly nontrivial. What did you have in mind for the API of the proposed RouterService?

[2016-03-15 10:37] #1603 closed

[2016-03-15 11:56] kennho commented on #1347
Hihi. I would like to take on this issue.

[2016-03-15 12:13] seanlip commented on #1347
Actually, I think this is being fixed by @giritheja as part of #1591, so this bug is redundant. I'll close it.

Sorry about that, @kennho!

[2016-03-15 12:13] #1347 closed

[2016-03-15 12:59] oskarcieslik commented on #1587
I think RouterService is dependent on ExplorationEditor because I couldn't make it work without adding "ExplorationEditor.js" file in collections editor's html file (https://goo.gl/ZLddpm).

I think it's a good idea to make a new PR request for abstracting RouterService to something more generic, but I haven't thought of API yet, I will first try to finish this task.

[2016-03-15 13:03] #1515 closed

[2016-03-15 16:01] #1358 closed

[2016-03-15 16:07] giritheja commented on #1597
I will work on this.

[2016-03-15 16:09] seanlip commented on #1597
Thanks, @giritheja! I've assigned you.

[2016-03-15 16:15] seanlip commented on #1349
I'm now leaning quite a bit towards _not_ doing this, especially since we are now making the "Create" button more prominent in the navbar of all screens (on desktop, anyway), and there are already so many other calls to action at the end of an exploration (rate, share, give feedback, try another one).

@wxyxinyu @BenHenning @jacobdavis11 thoughts?

[2016-03-15 16:23] jacobdavis11 commented on #1349
I agree with Sean. I think having the "create" button in all the navbars is a more natural call to action. I like the simplicity and ease of use of the current feedback system, and adding more calls to action to it would compromise that.

[2016-03-16 01:09] GraceGSy commented on #448
![hints](https://cloud.githubusercontent.com/assets/16433058/13799017/1ee14f64-eaf2-11e5-9c4f-26044e17c2e8.png)

Hello Sean,

I've just added the new images. The hints .png is above for future use.

[2016-03-16 02:43] bbriggs commented on #1602
I was able to get headless testing running on Vagrant. Some issues I noticed while doing this:

- The `VAGRANT` env variable has a tendency to disappear, causing the CHROME_BIN variable to get set to an incorrect value by `setup.sh`.
- To run the karma tests, we just have to add `xvfb-run` to the beginning of the karma command.

Currently running into a problem with e2e tests where we're missing t

[2016-03-16 02:44] #448 closed

[2016-03-16 04:24] BenHenning commented on #1556
Hi @gvishal,

Given my own late reply on this issue, don't worry about not getting to
this issue this week. If you're still interested in working on it, then I
think keeping it assigned to you still makes sense. Please let me know if
that changes at all.

Thanks!

On Sun, Mar 13, 2016 at 6:58 AM, Vishal Gupta <notifications@github.com>
wrote:

[2016-03-16 04:50] BenHenning opened #1611 "Collection editor should have a settings page"
This is originally from #1462:

There should be a settings tab for editing the title, category, and objective in the same way as the exploration editor. The category should be edited using a drop-down menu of categories.

This functionality cannot be implemented until #1587 is completed.

[2016-03-16 04:53] BenHenning opened #1612 "Collection editor should have save and publish prompts"
From #1462:

The saving functionality of the collection editor should match the exploration editor with a save dialog, drafts, and a comment. There should also be an indicator as to how many changes are being saved. There should be a confirmation on whether the save was successful. Similar to the exploration editor, there should also be a publish button which, once published, replaces the save but

[2016-03-16 04:55] BenHenning commented on #1587
Sorry for late replies, I didn't mean to neglected this @oskarcieslik!

@seanlip let's use this issue thread as the canonical location for how to create collections, since you covered half of the material here. It sounds like the whitelist might not actually be used in production, so I'm not keen on publicizing the behavior too much. We can reference other developers to this issue if they need hel

[2016-03-16 05:00] BenHenning commented on #1349
@seanlip I think we should leave this open until we see exactly how prominent the new create flow is. Beyond that, I'm also increasingly thinking about whether learners will tend to use mobile Oppia more and creators, desktop Oppia. If that turns out to be the case, this could still be a relevant issue since the creator flow won't even necessarily be exposed to mobile users.

Regarding the excess

[2016-03-16 08:37] seanlip commented on #1602
Sounds great, thanks @bbriggs!

IIRC @MAKOSCAFEE found that port 4445 was already in use by Travis for some reason, but switching to a different port fixed it. However, what you're doing seems Travis-independent (?) I'll let him elaborate in case I've got it wrong.

[2016-03-16 09:59] seanlip commented on #1349
@BenHenning given your reply, I'm leaning towards closing this issue and reopening it again (or filing a new one), if we decide in the future that it actually is important. Does that sound OK? I want to pare our issues list down a bit, so that we can focus more on the ones that do matter, and so that people don't start working on stuff that we don't necessarily want to do.

Also, the second paragr

[2016-03-16 10:16] seanlip commented on #1564
@kennho: would you like to have a go at taking on this issue? Note the instructions [here](https://github.com/oppia/oppia/issues/1587#issuecomment-196313127) for getting to the collections editor. You might want to coordinate with @oskarcieslik, too, if you're planning to put the 'unpublish' button in the settings page (though you could alternatively put it in the main page and move it later).

Th

[2016-03-16 13:14] kennho commented on #1564
sure I can try this =) @seanlip sorry for late reply!

[2016-03-16 13:55] seanlip commented on #1564
Great, thanks @kennho!

Also, /cc @bhenning @amgowano @wxyxinyu who should be able to help if you have questions. :)

[2016-03-16 13:56] seanlip commented on #921
@sfederwisch, could you please take this one?

[2016-03-16 16:03] seanlip commented on #1366
_Note: this is a potential GSoC project for 2016._

@rachelwchen has made mocks for this page! Including them here:

<img width="719" alt="creator-dashboard-1" src="https://cloud.githubusercontent.com/assets/10575562/13819170/cfce1088-eb55-11e5-9ee9-3277cf2b4654.png">

<img width="717" alt="creator-dashboard-2" src="https://cloud.githubusercontent.com/assets/10575562/13819172/d10a0650-eb55-11e5-99

[2016-03-16 16:21] BenHenning commented on #1349
Yeah, I think closing it and maybe reopening it later sounds fine to me.

Sent from my iPhone

[2016-03-16 16:24] seanlip commented on #1349
OK, thanks! Closing, then.

[2016-03-16 16:24] #1349 closed

[2016-03-16 17:18] seanlip opened #1613 "After publishing, creators should be encouraged to share their explorations."
When someone creates and publishes an exploration, their final step is to click a "Publish Exploration" button. After they do this, not much happens.

Instead, we'd like to open a congratulatory modal dialog, which congratulates them, and suggests that they share their newly-created exploration on G+ etc. (we'll put the various 'sharing' links there in order to make it easy for them). Note to deve

[2016-03-16 17:52] MAKOSCAFEE commented on #1602
@seanlip is right, port 4445 was the main  port travis used and vagrant is Travis-independent. I do not have much experience with vagrant but I guess is worth looking if the port is already in use and which process is using it.

[2016-03-16 17:55] garbanzos commented on #756
I would like to try working on this. Could you give me some pointers?

[2016-03-16 18:15] MAKOSCAFEE commented on #995
Hi @seanlip  I installed firefox and run test using firefox and run into the same problem. i think is worth fixing the error in firefox locally and see if we can run tests using firefox in  travis. [Chrome/chromium in travis](https://github.com/travis-ci/travis-ci/issues/938) has been a headache for sometimes.

[2016-03-16 22:46] BenHenning commented on #1464
Here are the current WIP mocks (the image is a bit large so that you can easily read the text included):

![Collection editor MVP mocks](https://drive.google.com/uc?export=download&id=0B1gjLZqzbruQdm1XbmE5STRkOE0)

[2016-03-17 03:15] seanlip commented on #995
@MAKOSCAFEE -- that sounds like a good plan to me. Let's try it! At the very least, we'll have the e2e tests fixed locally in Firefox, which is a plus. Maybe we should also just switch to Firefox as the default for e2e tests in the meantime, if it's easier.

/cc @jacobdavis11, in case he has any thoughts on this.

[2016-03-17 04:25] seanlip opened #1614 "Update site text to match the writing style guide"
Thanks to @whygee, Oppia now has its very own [writing style guide](https://github.com/oppia/oppia/wiki/Writing-style-guide)! We should update the text on the site to match this guide, particularly in the editor page and in the various modals.

The aim of this issue is to conduct an audit of the site, make a list of places which require textual improvements, and also suggest new text to replace th

[2016-03-17 04:37] seanlip opened #1615 "Add a footer to informational pages on the site."
We should have a footer on informational pages on the site (About, Participation Playbook, Terms, etc.) Here's an example of what it might look like:

![footer](https://cloud.githubusercontent.com/assets/10575562/13836456/dd2becbe-ebbe-11e5-8c72-d1f0b9c9a102.png)

(The menu items don't need to be exactly the ones mentioned here -- for example, we don't really have a "Featured Topics" section yet -

[2016-03-17 05:52] garbanzos commented on #1615
Hi, I would like to work on this.

[2016-03-17 06:44] seanlip commented on #1615
Thanks, @garbanzos!

Please follow the general instructions in [CONTRIBUTING.md](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#instructions-for-making-a-code-change). For this issue, I suggest you create a footer.html file in core/templates/dev/head, and then Jinja-include it at the bottom of the other relevant pages (basically, in error/, pages/ and profile/). Please make sure to fo

[2016-03-17 11:33] ishankhare07 commented on #1580
@bbriggs I am already on windows. The issue is the installation of `numpy on ubunut using pip`.
the official docs also suggest using `apt-get` over using `pip` when installing numpy on ubuntu.

i have `python-dev` and `python-pip` installed and i can confirm the above Error log on trying to install numpy

[2016-03-17 15:24] oparry commented on #1505
Hi @seanlip,

Sorry for the delay in replying, I've been away on vacation for the last
week.  I see that you've assigned #921 now, but I'd be happy to take
something else on!

On 12/03/2016 15:45, Sean Lip wrote:

[2016-03-17 18:01] 526avijitgupta commented on #1613
@seanlip I'd like to take on this on.
Why not we also add a couple of buttons to the modal, one which takes the creator to the learner view for the exploration, and another to take him back to the gallery ?

[2016-03-17 18:31] rachelwchen commented on #1366
Colored wireframes!

<img width="805" alt="screen shot 2016-03-17 at 1 23 01 am" src="https://cloud.githubusercontent.com/assets/12159451/13856724/c73267ec-ec33-11e5-88bb-6473080de82a.png">
<img width="804" alt="screen shot 2016-03-17 at 1 23 11 am" src="https://cloud.githubusercontent.com/assets/12159451/13856725/c733f9d6-ec33-11e5-8b99-3735ac099e09.png">

[2016-03-17 20:13] indranil-tiwary commented on #1615
Hey can I work on this one as well?

[2016-03-17 20:16] MAKOSCAFEE commented on #1615
Hi @indranil-tiwary sorry this issue is already assigned to @garbanzos. can you look for an open issue with [starter project](https://github.com/oppia/oppia/labels/starter%20project) label?

[2016-03-17 20:28] indranil-tiwary commented on #1402
Hey, I am a designer and can make something for it..
shall I work on it?

[2016-03-17 21:00] indranil-tiwary opened #1616 "A form with material design for site feedback with a feedback page for new visitors."
So, it's no bug but an idea if we can build a feedback form of our own with material design just like the new google forms.
I would like to work on it.

[2016-03-17 22:49] wxyxinyu commented on #1366
Nice!

[2016-03-17 22:54] wxyxinyu commented on #1402
Hi @indranil-tiwary -- sure! It'll be great if you could post some mocks on this thread, i.e. show how the warning sign will look in the context of the whole exploration graph. Thanks!

[2016-03-17 22:56] wxyxinyu commented on #1616
Hi @indranil-tiwary, thanks for submitting your idea! Could you elaborate more? E.g. where will this feedback form be used? How/why would people use the form?

[2016-03-18 01:22] spyshiv opened #1617 "Add an unselect all option for category selector in the search bar"
After selecting multiple categories there should be an option for unselect/clear all rather than unselecting one by one

[2016-03-18 04:11] indranil-tiwary commented on #1366
Do we have to implement this.. Can I try?? Any mentor?

[2016-03-18 04:13] indranil-tiwary commented on #1402
OK.. I shall follow the same color as given above.. And make some mock ups..
On it..

[2016-03-18 04:19] indranil-tiwary commented on #1616
Feedback page would record the details of the user just like Google form is recording but we can now have an elaborative insight.
What I am planning is that when people give a feedback
Review
Star rating
if low then (or maybe just ask suggestion if any)
What feature they want to get improved

Then in the admin panel we can implement user statistics and based on it we can work out the growth of opp

[2016-03-18 04:21] indranil-tiwary commented on #1616
We may even implement machine learning to make any strategic moves of promotion..
I may work on it.. Can I get a mentor for GSoC?

[2016-03-18 05:29] wxyxinyu commented on #1366
Hi @indranil-tiwary, this is a potential GSoC project. Please read https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2016 if you are interested.

[2016-03-18 05:33] wxyxinyu commented on #1616
I still do not really understand. Is this meant to be a replacement for the current feedback form? Or is it supposed to appear elsewhere?

As for GSoC, all accepted students get a mentor. If you wish to participate in GSoC, please submit an application, or email the mentors mailing list at oppia-gsoc-mentors@googlegroups.com with your ideas.

[2016-03-18 05:34] wxyxinyu commented on #1617
Hi @spyshiv, do you mean in the search bar?

[2016-03-18 05:36] wxyxinyu commented on #1505
HI @oparry, would you still like to work on #921?

[2016-03-18 05:41] spyshiv commented on #1617
Yes.

[2016-03-18 08:19] oparry commented on #1505
Hi @wxyxinyu, <https://github.com/wxyxinyu>

Sure, if nobody else is working on it feel free to sign me up.

On 18/03/2016 05:36, Xinyu Wu wrote:

[2016-03-18 12:41] oskarcieslik commented on #1587
Hi @BenHenning, I made a new PR 2 days ago and forgot to mention it, can you take a look at it? :)

[2016-03-18 17:49] indranil-tiwary commented on #1616
Replacement for current feedback form.. As we would be having the data we can apply machine learning to strategize our focus areas..
I wish to clear all doubts and then create a proposal.. Hopefully I'll get it sorted out all here..

[2016-03-18 17:54] oskarcieslik commented on #1611
I will work on it. :)

[2016-03-18 17:54] oskarcieslik commented on #1612
I will work on it if it's ok. :)

[2016-03-18 17:56] oskarcieslik commented on #1587
I forgot about blank controllers for each page, I will work on it today :)

[2016-03-18 20:11] jacobdavis11 commented on #497
Corresponding design doc: https://docs.google.com/document/d/18xpUZjspdKgvyX0Xoxqd3lJwpBsXlRKn_crVq3U8Iyo/edit

[2016-03-18 20:24] jacobdavis11 commented on #103
Associated design doc: https://docs.google.com/document/d/1ImESMYx9uzKIyRoPGAQmW-ApEmcc-jWr4GfrtkTzYOM/edit

[2016-03-18 20:42] jacobdavis11 commented on #1489
Relevant design doc: https://docs.google.com/document/d/1h8mIPbk9v1auScfm7hgcvfAsBP1oK8xCUM9LVs-z8ds/edit#

[2016-03-18 20:44] jacobdavis11 commented on #1350
Relevant design doc: https://docs.google.com/document/d/116lb6qtIlEDqxKy7WUpO9R9neoenKbsgAkIHHMLp4QU/edit

[2016-03-18 21:01] jacobdavis11 commented on #1510
Merging in issues #868 and #867: we should have url patterns for search queries and category selection that perform the same as manually carrying out those actions.

Relevant design doc: https://docs.google.com/document/d/1nkIWngfdgr0odIeeF4rAhdpkFTw8PoWAXNU76shRVy4/edit

[2016-03-18 21:02] jacobdavis11 commented on #868
Merged into #1510.

[2016-03-18 21:02] #868 closed

[2016-03-18 21:02] jacobdavis11 commented on #867
Merged into #1510.

[2016-03-18 21:02] #867 closed

[2016-03-18 21:11] jacobdavis11 commented on #556
Relevant design doc: https://docs.google.com/document/d/1PdSjkm8jyEkCnhhDNl61nN4bfa6H8K3ZxMnO3mfUOnQ/edit

[2016-03-18 23:03] jacobdavis11 opened #1618 "Implement auto-saving of progress in player"
Currently if a user leaves the player part-way through an exploration then their progress is lost. It would be preferable instead if their progress was saved and loaded when they return to the exploration. There would also need to be an option to restart instead.

[2016-03-19 00:32] jacobdavis11 opened #1619 "Add an "explorations recommended for you" section in the library index page (or learner dashboard)"
Display recommendations of explorations to play in two areas:
- In the gallery, in a personalized recommended explorations section.
- ~~At the end of an exploration (after explorations the creator specified, if any).~~

Design doc: https://docs.google.com/document/d/1Rg8gPTEQJPXsziNd61vK56Co6kxVBPEvLtV3A3jRZBo/edit#

[Edit by @seanlip: remove the second bullet point, since that's already implement

[2016-03-19 00:40] jacobdavis11 opened #1620 "Add metrics to track user progress through the editor"
Currently we have a metrics system based on Google Analytics that was added in #1490 and tracks key user events including creating an exploration and publishing one.

We would like to add more detailed tracking of user progress through the editor, in particular of first-time usage of each different editor feature. It should be possible to do this using Google Analytics events. An earlier design fo

[2016-03-19 00:57] BenHenning commented on #1464
Here are the second versions of the hand-drawn mocks for the first major iteration of the collection editor. @amgowano, @seanlip , and @xtyang have all contributed ideas and/or reviewed these.

![img_20160318_175525](https://cloud.githubusercontent.com/assets/12983742/13895629/e36b9096-ed32-11e5-88d3-b26292f0e0df.jpg)

[2016-03-19 02:13] #1597 closed

[2016-03-19 02:39] jacobdavis11 commented on #1464
A few quick questions:
1. The explorations shown here are all in a line. How would this work if I had a branching dependency tree?
2. When you say "automatic skill generation and assignment" do you mean that each line will be regarded as a skill that is provided by the exploration on the left and required by the exploration on the right? If so, what are these skills then used for?
3. It seems a bi

[2016-03-19 11:43] ansarimofid commented on #1075
FontAwesome is used in gallery cards. This sums up the total no. of icon font to 3.

[2016-03-19 12:02] ansarimofid opened #1622 "Use of icon fonts instead of PNG icons"
While going through code, I saw frequent use of **PNG  icons.**
eg. In sidebar,top navbar,gallery card etc.
this can lead to significant performance issue.

A way to solve this is to use icon fonts which already contains this icons.

[2016-03-19 14:05] wxyxinyu commented on #1612
Hi @oskarcieslik -- I've just assigned you a different issue. Perhaps finish that one first?

[2016-03-19 14:06] wxyxinyu commented on #1616
Could you create a mock to show what you mean?

[2016-03-19 14:14] wxyxinyu commented on #1505
Thanks! Feel free to ask if you have any questions.

[2016-03-19 15:27] giritheja commented on #1360
@seanlip @wxyxinyu  Hey, I think I can work on this now.

[2016-03-19 17:31] kennho commented on #1564
Hi sorry for the delay. May I know how to check if the collections have been unpublished? I have tried doing it and currently I am able to unpublish if I am a moderator. But I can't unpublish the collections found through the steps shown in the link above tho. I can only unpublish collections that I have created. But I'm not sure if I'm doing the correct way tho. What will happen if a collection i

[2016-03-19 17:44] gvishal opened #1623 "Missed using minified css in a file."
We forgot to use the minified version of a css file [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/header_css_libs.html#L14).

File: core/templates/dev/head/header_css_libs.html

  <link rel="stylesheet" type="text/css" media="screen"
        href="/third_party/generated/dev/css/third_party.css">
{% else %}
  <link rel="stylesheet" type="text/css" media="screen"

[2016-03-19 18:55] #1623 closed

[2016-03-20 05:31] satwik97 commented on #1544
@seanlip Sorry for such a late reply.  I'm done with my exams so I'll do it.

[2016-03-20 14:49] ansarimofid opened #1624 "UI mockup for Learner view"
The style of learner view doesn't match the material design and is inconsistent with the overall UI.

Below are the mock-ups that I created keeping  in mind the material design and card view.

Mock-ups are created for exploration "**Welcome to Oppia!**".

Current learner view and and mock-ups can can be compared below:

## Mockups:
**View 1**
![first](https://cloud.githubusercontent.com/assets/911

[2016-03-20 18:32] souravbadami commented on #911
Hey! Can you assign this issue to me. I would like to work on it.

[2016-03-20 20:28] anuj1995 opened #1625 "UI of the pages in About section"
I think all the pages in About section lacks good UI. Currently links are simply put on the pages which are not looking nice, hindering good UX.
I thinks these links should be provided with some styling like:

**Mock for About1**
![screenshot from 2016-03-21 01 48 12](https://cloud.githubusercontent.com/assets/12718288/13906876/6748e67c-ef07-11e5-99ad-453ffb28a805.png)

**Mock for About2**
![scree

[2016-03-20 20:34] anuj1995 commented on #1625
I would like to work on it

[2016-03-20 21:13] anthkris commented on #1344
@jacobdavis11 @seanlip @wxyxinyu Just wanted to give a heads up. I've been on vacation but I'll be working on this this week.

[2016-03-21 18:14] giritheja opened #1628 "Status runs beyond exploration card on my exploration page"
The status of exploration overruns exploration card when there is a unresolved feedback.
![screenshot from 2016-03-21 23 32 31](https://cloud.githubusercontent.com/assets/8845039/13929063/58d748ec-efbe-11e5-9ec8-12e6a23505c1.png)
Status should stay within the card.
Steps to reproduce:
1. Create Exploration.
2. Open the exploration and give feedback
3. Navigate to my exploration page
Produced on Fi

[2016-03-21 19:55] oskarcieslik commented on #1587
Hi all! I'm sorry for delay, but I finally pushed new PR in which I added controllers and fixed issues that @BenHenning pointed out :)

[2016-03-21 22:16] feelcoder opened #1629 "Numpy is not installing on ubuntu 12.04"
When running the command bash scripts/start.sh, on command line, numpy installation fails
`Installing numpy
Usage: /usr/bin/pip install [OPTIONS] PACKAGE_NAMES...

/usr/bin/pip install: error: no such option: --target
`
 @bbriggs, hope the information is sufficient

[2016-03-22 03:12] wxyxinyu commented on #1624
/cc @amitdeutsch

[2016-03-22 03:16] BenHenning commented on #1147
@wxyxinyu and I discussed this briefly. I recall @amylatten mentioning this was confusing for users and @matrym having a similar opinion that it's not clear what this is for. Xinyu and I are okay with removing it if users are confused, but I think we should to an audit on how many explorations this will affect before doing so. @seanlip mentioned a while back we should figure out how this plays in

[2016-03-22 03:32] BenHenning commented on #1378
@wxyxinyu and I discussed this. We think this is fine to implemented; it shouldn't necessarily be prioritized, but if someone wants to work on it, then it should fit within Oppia nicely. From technical and UX perspectives, this seems completely feasible, as well. Thanks for the suggestion!

[2016-03-22 03:39] wxyxinyu commented on #1523
We can't reproduce this. Closing.

[2016-03-22 03:39] #1523 closed

[2016-03-22 03:48] BenHenning commented on #1622
Hi @andrieski, we actually use font awesome throughout Oppia. Did you have any specific icons in mind that you think shouldn't be PNG images?

[2016-03-22 03:53] BenHenning commented on #1625
We are actually planning on possibly redesigning the about page for Q3. Someone from @oppia/frontend-overall-frontend-design may be able to shed some light on that work.

[2016-03-22 05:23] kevinlee12 commented on #1503
@nlopezgates, might be worth looking into the headers of `galleryGroup`