[2016-10-19 02:10] kevinlee12 commented on #1435
Hi @anmolshkl, any updates regarding this issue? thanks!

[2016-10-19 02:13] kevinlee12 commented on #1955
Hi @BenHenning, any updates on this issue and Sean's clarification above? thanks!

[2016-10-19 02:14] kevinlee12 commented on #1855
Hi @razat249, any updates on this issue? thanks!

[2016-10-19 02:18] kevinlee12 commented on #2042
Hi @souravsingh, feel free to assign yourself if you would like to pick it up again, thanks!

[2016-10-19 02:21] kevinlee12 commented on #2227
Hi @gvishal, updates on this issue? thanks!

[2016-10-19 02:27] kevinlee12 commented on #2221
Hi @526avijitgupta, any updates regarding this issue? thanks!

[2016-10-19 02:28] kevinlee12 commented on #2189
Hi @wxyxinyu, any updates regarding this issue? thanks!

[2016-10-19 02:29] kevinlee12 commented on #2185
Hi @gvishal, any updates on this issue and comments to Ben's question above? thanks!

[2016-10-19 02:32] kevinlee12 commented on #2168
Hi @gvishal, any updates on this issue? thanks!

[2016-10-19 02:32] kevinlee12 commented on #2160
Hi @526avijitgupta, any updates regarding this issue? thanks!

[2016-10-19 02:35] kevinlee12 commented on #2287
Hi @Arunabh98, any updates regarding this issue? thanks!

[2016-10-19 02:36] kevinlee12 commented on #2269
Closing because #2491 resolves this issue, @seanlip, please reopen if you think otherwise, thanks!

[2016-10-19 02:37] kevinlee12 commented on #2526
Hi @kevintab95, any updates regarding this issue? thanks!

[2016-10-19 02:38] kevinlee12 commented on #2506
Hi @arun1595, any updates on this issue? thanks!

[2016-10-19 02:39] kevinlee12 commented on #2485
Hi @Andimeo, any updates on this issue? thanks!

[2016-10-19 03:09] Andimeo commented on #2485
@kevinlee12 , sorry, recently there's a little bit too much work I have to do for my full-time job. I plan to work on this issue on weekends. Is that acceptable?

[2016-10-19 03:16] kevinlee12 commented on #2485
sounds good @Andimeo :)

[2016-10-19 03:40] joshuacano commented on #2514
@seanlip I'm currently pretty busy for the next few days so I won't be able to get to this till this weekend. Apologies!

[2016-10-19 03:44] BenHenning commented on #1955
Automate contributors means to automatically grant them edit access of the private explorations contained within the collection. This is only relevant for explorations created directly in the collection editor or explorations added to the collection by the owner of that exploration.

[2016-10-19 03:46] kevinlee12 commented on #1955
thanks!

On Tue, Oct 18, 2016 at 8:44 PM, Ben Henning <notifications@github.com>
wrote:

[2016-10-19 04:25] Arunabh98 commented on #2287
I was not able to focus on this issue due to other updates. I would get back to this issue, this weekend.

[2016-10-19 04:26] kevinlee12 commented on #2287
thanks for the update!

On Tue, Oct 18, 2016 at 9:25 PM, Arunabh <notifications@github.com> wrote:

[2016-10-19 07:16] seanlip commented on #2269
Reopening. The submitted PRs are part of a larger set of PRs that need to be completed in order for this issue to be considered complete.

[2016-10-19 07:31] Arunabh98 commented on #2604
Hmm, I am not able to get "Suggest changes" link on top. Whenever I try I always get "Edit" option even if I am not admin. Is there anything I am missing?

[2016-10-19 07:32] seanlip commented on #2604
You'll need to do this for an exploration you have not created (since otherwise you'll have edit rights).

[2016-10-19 07:35] Arunabh98 commented on #2604
I loaded all the explorations through a admin user. Then I logged out and logged in through a non admin user and tried to edit an exploration but I am still getting a edit button.
Let me try again...

[2016-10-19 07:36] Arunabh98 commented on #2604
Sorry closed this by mistake

[2016-10-19 07:47] seanlip commented on #2604
You'll need to create a new exploration altogether, I think, while logged in as a different user.

[2016-10-19 07:52] arun1595 commented on #2604
@seanlip @Arunabh98 If you look at the screenshot, I encountered this bug in production.

@Arunabh98  Have a look at [this](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/learner_local_nav.html#L9)

[2016-10-19 07:56] kevintab95 commented on #2526
Hi @kevinlee12 , there has been a couple of changes in the new design. @seanlip can you update the comment?
Thanks!

[2016-10-19 07:58] seanlip commented on #2526
Ah, I'll have to leave that to @markhalpin. He'll be working on revamped mocks for this page during the weekend. I'll assign this issue to him.

@markhalpin, when you've done the mocks, please could you link them here, and reassign the issue to @kevintab95? Thanks!

[2016-10-19 08:29] gvishal commented on #2185
I haven't been able to work on this.

[2016-10-19 08:29] gvishal commented on #2227
I haven't been able to work on this.

[2016-10-19 08:29] gvishal commented on #2168
No inroads yet.

[2016-10-19 11:44] Arunabh98 commented on #2604
So I researched this issue a bit. The problem is that line 36 in ObjectEditorDirective.js. This line is not compiling in case of current
[code]
I am currently trying to figure out why this is happening. @seanlip or @arun1595 have any idea why this must be happening could you please tell.

[2016-10-19 14:51] markhalpin commented on #2526
Noted. Yep, will do.

[2016-10-19 15:37] kevinlee12 commented on #2269
Ah okay.

[2016-10-19 18:13] 526avijitgupta commented on #2160
@kevinlee12 -- not sure when will I get the time to work on this, but will try and take this up by the end of this month at the latest.

[2016-10-19 18:23] 526avijitgupta commented on #2221
@kevinlee12 Sorry, haven't been able to work on this. Will try and make some time in the coming few days.

[2016-10-19 21:35] seanlip commented on #2604
Sorry, I don't know. It probably needs more investigation!

[2016-10-19 22:08] seanlip commented on #2537
Hi @giritheja, did you get a chance to look into this?

[2016-10-20 00:40] kevinlee12 commented on #2221
Thanks for the update!

On Wed, Oct 19, 2016 at 11:23 AM, Avijit Gupta <notifications@github.com>
wrote:

[2016-10-20 00:41] kevinlee12 commented on #2185
thanks!

[2016-10-20 00:41] kevinlee12 commented on #2160
sounds good!

On Wed, Oct 19, 2016 at 11:13 AM, Avijit Gupta <notifications@github.com>
wrote:

[2016-10-20 07:15] ubhisat commented on #2053
@seanlip, I had a quick question. I realized that I had to manually restart the development server everytime after making a code change. Is there an auto-reload feature? It'll save some time.

[2016-10-20 07:17] seanlip commented on #2053
Yep, pass in --save_datastore. See scripts/start.sh.

On Thu, Oct 20, 2016 at 12:15 AM, ubhisat <notifications@github.com> wrote:

[2016-10-20 11:57] kefeh commented on #2536
i will love to be assigned this issue

[2016-10-20 16:34] ubhisat commented on #2053
well, this warning was what I really meant:
```WARNING  2016-10-20 16:32:57,863 inotify_file_watcher.py:196] There are too many directories in your application for changes in all of them to be monitored. You may have to restart the development server to see some changes to your files.```

[2016-10-20 18:07] souravbadami opened #2624 "In moderator tools, adding new featured explorations should display a success toast."
Currently, Adding new explorations to featured list via the moderator tools doesn't display a success prompt which makes it difficult to predict what happened. It would be great to have a success toast as notification.

**How To Reproduce:**
- Go to admin panel and load some explorations.
- Add yourself as a moderator from the config tab.
- Navigate to the moderator panel (http://localhost:8181/mo

[2016-10-20 18:25] kevintab95 commented on #2585
Should the stacked-cards graphic look like the corresponding collection graphic (matching color, category, objective etc.) or just stacked-cards that says return to library? @seanlip @markhalpin

[2016-10-20 18:30] markhalpin commented on #2585
I think just the same specific stacked-cards graphic used for that collection in the Library.

[2016-10-20 18:31] kevintab95 commented on #2585
OK, thanks!

[2016-10-21 06:19] seanlip opened #2626 "In the exploration editor, gray out the screen immediately after a draft is discarded, in order to prevent further action before the page reloads."
To reproduce:
1. Create a new exploration.
2. Make some edits to it.
3. Click on the dropdown arrow next to the "Save Draft" button at the top, and choose "Discard Draft" instead.

The page will reload, but there is a noticeable delay before it does so, and during this delay it is not obvious that a reload is in progress. Instead, immediately after the "Discard Draft" option is selected, a light g

[2016-10-21 06:21] seanlip opened #2627 "Send emails to the creator when someone else edits their exploration."
To reproduce:
1. Log in as creator A, create an exploration, and publish it.
2. Grant edit rights to creator B by going to the Settings tab in the exploration editor and adding creator B as a collaborator.
3. Log out.
4. Log in as creator B, and make an edit to the exploration.

Desired behavior:
When creator B (or anyone else) makes an edit to the exploration, an email should be sent to the other

[2016-10-21 13:01] Arunabh98 commented on #2394
I would like to work on `core.domain.stats_domain`

[2016-10-21 23:15] seanlip commented on #2626
Hi @naveenshukla -- want to have a go at this?

[2016-10-21 23:21] seanlip commented on #2624
@andromfins, could you take this one?

[2016-10-22 00:15] seanlip commented on #2514
Hi @joshuacano -- ok, thanks for letting us know!

[2016-10-22 01:24] MAKOSCAFEE commented on #2487
Hi!,
I did some research to see what linter is flexible and has  many option and rules, I decided to go with [htmlhint](https://github.com/yaniswang/HTMLHint) so before I go on to the full implementation.. If you guys have better suggestion to use than this or if you already had specific linter in mind already?.

/cc @BenHenning
/cc @seanlip
/cc @bbriggs

[2016-10-22 01:30] seanlip commented on #2487
Hi @MAKOSCAFEE, thanks for the research! I have no objections; I've also done no prior research on this, so I have no better suggestions.

One thought: will this be able to detect HTML that's within "script" tags?

[2016-10-22 10:38] seanlip commented on #2616
Hi @Keksike, just to check, what are your plans for editing the e2e tests? I realize this issue leaves it slightly vague, so I figured I'd ask...

Thanks!

[2016-10-22 16:25] saqib1707 commented on #2548
@seanlip I am not able to make a public exploration...since the publish button is inactive on the oppia website...Am I doing something wrong??It is saying "This exploration is private. Publish it to receive statistics. " But I dont know how to do that??

[2016-10-22 18:00] seanlip commented on #2548
First, please make sure you're doing this on your local dev server, not on the main Oppia.org website.

To publish, ensure that your exploration is playable all the way through (you can preview it in the preview tab), and ends in an "End Exploration" interaction, and that all warnings are resolved.

[2016-10-22 20:28] rahulchawla1995 commented on #2619
what needs to be done in this...i m a newcomer??

[2016-10-22 20:29] seanlip commented on #2619
@kevinlee12 can you help?

[2016-10-22 21:35] kevinlee12 commented on #2619
Hi @rahulchawla1995, thanks for coming by Oppia, to get started, please the [Contributing page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) to get set up. As for this specific issue, you can poke around the code for ImageClickInput and see what you find.

@seanlip, just for clarification, the following is the error you got right?
![image](https://cloud.githubusercontent.com/ass

[2016-10-23 02:28] andromfins commented on #2619
By following the steps i get this error:

[code]

[2016-10-23 02:32] andromfins commented on #2619
Yes i do get the same error.

[2016-10-23 07:50] Arunabh98 commented on #2394
Almost completed `core.domain.stats_domain`. Now working on `core.domain.stats_jobs_continuous`

[2016-10-23 08:03] Keksike commented on #2616
Hey @seanlip. I thought I would atleast add some more test-cases (such as the one which would test the situation of the problem I fixed). I intend to also separate the fallback creation permission -tests into their own it().

If you have other suggestions, let me know!

I havn't had time to dig in yet, due to exam-weeks. I will try to find time today! :)

[2016-10-23 09:43] seanlip commented on #2616
OK, sounds good, thanks! Maybe you can have a first go at it, and we can take another look once you have a first draft of the PR.

[2016-10-23 09:47] seanlip commented on #2619
@kevinlee12 Yes, that's the error I saw.

[2016-10-23 10:16] Keksike commented on #2616
Sounds good.

[2016-10-23 10:21] seanlip commented on #2604
Hi @andromfins, please could you investigate this? Thanks!

[2016-10-23 16:46] #2624 closed

[2016-10-24 00:09] javando commented on #1545
I'm having this same problem on Linux.
I followed the instructions in the Troubleshooting section.
1) I'm using python  2.7.6
                 The result of command  "python --version"  is "Python 2.7.6"
2) Numpy's version is 1.6.1
                The name of the directory numpy in ~/opensource/oppia_tools/numpy-1.6.1
I do have another python installed (3.4), but it's not the default, and I need i

[2016-10-24 06:39] ubhisat opened #2637 "Cannot run frontend tests on Vagrant."
Currently, when developing on Vagrant, if we commit/push changes, `pre_commit_hook` runs the test suite and fails to proceed as frontend tests fail with the following error:
[code]

[2016-10-24 21:15] anuzis commented on #2603
Any update on this issue? I can revise my Coding to Mars exploration to not import modules from the standard library anymore, but it's explicitly trying to teach learners about importing and using modules from the standard library and would be nice to retain if possible. Do we know what the issue is?

[2016-10-24 21:21] seanlip commented on #2603
I took a quick look at this. It looks like Skulpt, which powers this interaction, only supports certain third-party libs (see the first issue [here](https://github.com/skulpt/skulpt#ideas-list)). Any chance you could use libs from that list instead (like math and random)?

[2016-10-24 21:51] anuzis commented on #2603
Thanks, @seanlip . Confirming I can modify the exploration to use Skulpt's currently supported modules. Doing a bit of research, I came across an alternative to Skulpt called Brython that is significantly faster and supports several more standard libraries.

Ref:
- Speed comparison: https://brythonista.wordpress.com/2015/03/28/comparing-the-speed-of-cpython-brython-skulpt-and-pypy-js/
- Feature co

[2016-10-25 01:15] javando commented on #1545
Hi folks, it's me again.

I came to say that I managed to overcome that.

I check my numpy version using:
$ python

'1.11.1'
and I realised that the version was 1.11.1 (the required is 1.6.1)

Then I used  virtualenv tool (it's very easy) to isolate everything and it worked.

Thanks =]

[2016-10-25 01:49] seanlip commented on #1545
Awesome, glad you managed to get it sorted! Thank you for letting us know :-)

[2016-10-25 02:17] seanlip commented on #2053
Fixed in #2630. Thanks @ubhisat!

[2016-10-25 02:17] #2053 closed

[2016-10-25 04:01] seanlip commented on #2397
For clarity, the main aim of this issue is the following (per discussion with @BenHenning):

Instead of generating build files in core/templates/prod/head, generate them directly in /build/{{cache_slug}}/templates/head instead, as discussed in #2360.

[2016-10-25 04:05] seanlip opened #2639 "Defer loading of visualization JS scripts in the exploration editor."
(Originally filed in #2391 by @gvishal)

In the exploration editor, corechart requires 600ms to parse and another 80ms to compile + execute. We should add the "async" attribute to js scripts that are not critical (e.g. visualizations, analytics) so that they don't block page loading.

Also, see [this reference](https://developers.google.com/web/fundamentals/performance/critical-rendering-path/anal

[2016-10-25 04:05] seanlip commented on #2391
Superseded by #2639.

[2016-10-25 04:05] #2391 closed

[2016-10-25 04:09] BenHenning commented on #2385
Triage decision: since the penalty of downloading the file is one-time per month (worst case) and we rarely update third parties, we're okay with the occasional requirement to download the file.

[2016-10-25 04:09] #2385 closed

[2016-10-25 04:12] BenHenning opened #2640 "[depends on #2665] Remove base.html"
As a continuation from the discussion in #2606 and as a replacement to #2384, base.html should be removed. This allows individual pages to have exactly one controller, thereby complying with the new frontend structure document. The single controller would be specified in the html tag (like the current base.html file), and all other components on the page would be directives. Pages are directly res

[2016-10-25 04:12] seanlip commented on #2384
Superseded by #2640. Closing.

[2016-10-25 04:12] #2384 closed

[2016-10-25 04:15] seanlip commented on #2359
We haven't heard anything about this from other users, so closing for now per discussion with @BenHenning. (Note that, e.g., the search box on GitHub doesn't have a Submit button either).

However, if anyone else is running into this issue and thinks it needs fixing, please feel free to reopen this issue and we'll revisit. Thanks!

[2016-10-25 04:15] #2359 closed

[2016-10-25 04:46] seanlip commented on #2603
Thanks, @anuzis!

I discussed this with @BenHenning; we agree that keeping Skulpt sounds like the best option in the interim. However, let's keep this issue open for a little bit -- if other folks are running into similar issues, perhaps it might be sensible to look into an upstream fix to the Skulpt project (or consider possible alternatives more seriously).

[2016-10-25 05:01] seanlip commented on #2637
Fixed in #2638 -- thanks, @ubhisat!

[2016-10-25 05:01] #2637 closed

[2016-10-25 05:15] naveenshukla commented on #2626
Yeah. Sorry for the delay.

[2016-10-25 07:52] #2225 closed

[2016-10-25 07:57] seanlip opened #2641 "There should be tests which verify that all HTML/JS components which need to be served together are indeed bundled together in every page they appear in."
In Oppia, some components in core/templates/dev/head/pages always go together. For example, activity_tiles_infinity_grid_directive.html always goes together with search_results_directive.html (and ditto for the corresponding JS files).

However, if search_results_directive.html is included in a page but activity_tiles_infinity_grid_directive.html or ActivityTilesInfinityGridDirective.js is not, th

[2016-10-25 17:25] seanlip commented on #2430
I'm closing this -- I don't think we need to track it as its own isolated issue. It's something that we'll be doing naturally as part of the work to improve each page in turn. We may file separate issues in the future for specific pages.

[2016-10-25 17:25] #2430 closed

[2016-10-25 18:51] BenHenning commented on #2487
Does this linter automatically reformat HTML, or does it just point out
errors. In either case, can you maybe setup a PR to show how some of our
HTML files might loom after being fixed to pass the linter? Thanks for
doing this!

On Friday, October 21, 2016, Sean Lip <notifications@github.com> wrote:

[2016-10-25 20:20] MAKOSCAFEE commented on #2487
Hi @seanlip so actually I tried to lint html that is within script tag and looks like they are ignored, Still looking for better way to do it..
@BenHenning It only out put error like our JS Linter(minus the auto-format)

[2016-10-26 01:06] seanlip commented on #2049
This is actually on by default. Does it not appear in the bottom left?

(Also ... congrats on getting your machine fixed!)

[2016-10-26 01:07] anthkris commented on #2049
Thanks! All I see is Dev Mode.

[2016-10-26 01:07] seanlip commented on #2049
Oh, actually -- I just realized, it's changed recently, sorry! It's now a constant in feconf -- just set feconf.SITE_FEEDBACK_FORM_URL to something non-empty.

[2016-10-26 01:07] anthkris commented on #2049
Will do!

[2016-10-26 01:26] anthkris commented on #2049
Well I created a new media query to hide the text at tablet-size (768px). It certainly solves the problem! It's out of the way of the text even on small mobile sizes. It's easier to overlook, though, without the text.

<img width="770" alt="screen shot 2016-10-25 at 8 22 22 pm" src="https://cloud.githubusercontent.com/assets/10858542/19710024/c5e732f2-9af0-11e6-9da3-3f49b7373f68.png">

<img width=

[2016-10-26 03:21] seanlip commented on #2049
Thanks @anthkris, this looks nice! Could you submit a PR?

Also, @markhalpin -- what do you think about the choice of color (and anything else)? Note that the "Dev Mode" label won't show up in the main server in any case.

[2016-10-26 04:33] seanlip opened #2644 "In the navbar for the collection learner view, remove the "> Collection" in the breadcrumb and truncate the title."
To set this up: go to /admin, log in as an admin, and reload the "welcome" collection, then go to /collection/0.

The navbar looks something like this: Oppia > Collection > Introduction to Collections in Oppia. We want to change this to look like Oppia > Introduction to Collections in Oppia (i.e. remove the "> Collection" bit so that it fits better). It might also be a good idea to truncate it if

[2016-10-26 04:34] seanlip commented on #2644
Hi @Yeeons -- FYI, I'm suggesting this to @jasamina13 as a starter project!

[2016-10-26 15:41] BenHenning commented on #2487
Okay. I do think it would be nice to see what some of the more tricky HTML
files will look like after reformatting them according to this linter. Can
you identify some of these files, reformat them, and create a PR to
showcase what effect this linter will have?

On Tuesday, October 25, 2016, Barnabas Makonda <notifications@github.com>
wrote:

[2016-10-26 15:41] seanlip commented on #2049
Thanks, @anthkris!

@markhalpin, any thoughts? Note that the "Dev Mode" stuff in the
screenshots won't show up on the main site.

On Tuesday, October 25, 2016, Kristin Anthony <notifications@github.com>
wrote:

[2016-10-26 17:04] Arunabh98 commented on #2604
I actually investigated this and found a solution. Did not see that @andromfins was actually assigned to this issue. Really confused as to what should I do now?

[2016-10-26 17:13] andromfins commented on #2604
@Arunabh98 Please continue your work on it since you have a fix. :+1:

[2016-10-26 18:12] kevinlee12 commented on #2026
Things to do (will be marking them as I complete this locally):

- [ ] public/private frontend private/public display
- [ ] backend owners/editors/viewers controllers
- [ ] JS Rights API owners/managers/playtesters UI
- [ ] frontend display owners/managers/playtesters UI

[2016-10-26 18:43] MAKOSCAFEE commented on #2544
HI @anmolshkl how is this issue going?

[2016-10-26 18:44] MAKOSCAFEE commented on #2543
Hi @anmolshkl any luck with this?

[2016-10-26 18:46] MAKOSCAFEE commented on #2527
Hi @526avijitgupta how is this issue going so far?

[2016-10-26 18:47] MAKOSCAFEE commented on #2525
@edallison did you get the chance to look into this issue? thanks

[2016-10-26 18:50] MAKOSCAFEE commented on #2395
Hi @BenHenning any luck with this?

[2016-10-26 18:51] MAKOSCAFEE commented on #2386
Hi @gvishal did you have chance to work on this issue?

[2016-10-26 18:52] MAKOSCAFEE commented on #2372
Hi @Andimeo how is it going with this?

[2016-10-26 21:02] seanlip commented on #2372
Update: @Andimeo has made great progress on this in #2631, but it turns out that some frontend refactoring is needed before this can proceed. So this project is temporarily on-hold until we've done that -- see #2631 for more details.

[2016-10-26 23:00] markhalpin commented on #2049
@anthkris and @seanlip I think those look very nice! One thing I would ask if it's within this scope: could we change the arrow to the right of the card from black to the dark oppia green? That might be more of a systemic issue. But otherwise, looks LGTM!

[2016-10-26 23:18] seanlip commented on #2049
The arrows are out of scope for this issue -- the main thing this PR focuses on is the little feedback indicator in the bottom left.

One question, though: which colour do you prefer? As you can see, there's a gray version (first three screenshots) and a green version (last screenshot).

[2016-10-26 23:59] maitbayev opened #2650 "Refactor learner view"
As learner view is getting bigger and bigger making very difficult to add new features or fix bugs.
So we need to refactor it by encapsulating some logic into multiple reasonable components.
For example, we can introduce `<tutor-card>` and`<supplemental-card>`directives so that
it is more readable in conversation_skin_directive.html and we could handle tutor card related logic in its directive.

[2016-10-27 00:57] joshuacano commented on #2514
@seanlip Can you look into this link, I'm having trouble viewing? https://drive.google.com/open?id=0B4A9S7Ym8W0CeU9wVTg5WWpwajQ

[2016-10-27 01:10] markhalpin commented on #2049
Oh, sorry. I prefer the green to the gray, but could we see it with the darker Oppia green? I think that would pop a bit more, especially since it's a relatively small icon. Thanks!

[2016-10-27 01:17] markhalpin commented on #2514
@joshuacano I've also attached the image herein. Thanks!

![oppia5a_authors](https://cloud.githubusercontent.com/assets/13863393/19750718/9e39e304-9bc1-11e6-95c4-4681c0e41f75.jpg)

[2016-10-27 01:33] anthkris commented on #2049
Here it is with #094142 (same color as the footer)
<img width="501" alt="screen shot 2016-10-26 at 8 33 04 pm" src="https://cloud.githubusercontent.com/assets/10858542/19750988/7c27a5b8-9bbb-11e6-9823-e9cf994dc1a5.png">

[2016-10-27 01:37] markhalpin commented on #2049
hmm. Could you try to match the "view all" button green? Then we'll make a final call. Thanks for doing this.

[2016-10-27 01:48] #2604 closed

[2016-10-27 01:53] anthkris commented on #2049
Alrighty. Here's the view all green rgba(1,120,109,1)
<img width="500" alt="screen shot 2016-10-26 at 8 52 42 pm" src="https://cloud.githubusercontent.com/assets/10858542/19751879/4cc847f2-9bbe-11e6-9d28-d6492b9ffaa2.png">

[2016-10-27 02:20] markhalpin commented on #2049
hmhmhm. Sorry to be picky about this. I'm wondering why this isn't still isn't as punchy-seeming as the rest of the graphics. I actually think it's not the color of the icon, but the fact that it's surrounded by the grayish-blue square that feels a little dim (also, the fact that that icon doesn't align with the bottom of the card, but is so close to it, accidentally looks junky). Let me suggest t

[2016-10-27 02:26] anthkris commented on #2049
Well the it does have an opacity of 0.5. So here it is without it:
<img width="378" alt="screen shot 2016-10-26 at 9 25 33 pm" src="https://cloud.githubusercontent.com/assets/10858542/19752425/df3605bc-9bc2-11e6-9f69-f17a73069180.png">
<img width="352" alt="screen shot 2016-10-26 at 9 25 44 pm" src="https://cloud.githubusercontent.com/assets/10858542/19752424/df32a5b6-9bc2-11e6-9822-318d1f4baaa5.p

[2016-10-27 02:32] markhalpin commented on #2049
love it! Let's go with the top one (the one with no color around the icon). I think that's the cleanest. Thanks for indulging me.

[2016-10-27 02:40] anthkris commented on #2049
Without the background, it will fade in a bit to the footer. Is that an issue?
<img width="374" alt="screen shot 2016-10-26 at 9 40 03 pm" src="https://cloud.githubusercontent.com/assets/10858542/19752668/cb55eede-9bc4-11e6-8036-c977fc542c72.png">

[2016-10-27 02:43] markhalpin commented on #2049
Without the background (i.e. all the dark green) is a really different look than anything else on the site, and I'm not sure why we'd ever use that.

[2016-10-27 03:00] anthkris commented on #2049
Not sure what you mean here. The site feedback tip scrolls up and down the entire page. After removing the white surrounding the icon, this is how it looks when on the footer area.

[2016-10-27 03:01] seanlip commented on #2049
@markhalpin -- that last screenshot is the footer at the bottom of the page. We already use that -- see e.g. https://www.oppia.org/about

[2016-10-27 03:22] markhalpin commented on #2049
Argh.Yes. You're right of course. I'm not really sure why we do it that way as opposed to incorporating it into the header; it's the only element treated this way and seems like an outlier. But that's a conversation for another time. May I suggest that for this iteration we use exactly the color scheme/transparency for that icon as used on the current site and address any redesign at a later date.

[2016-10-27 05:28] naveenshukla commented on #2626
Here is what I understood. In file pages/exploration editor/ExplorationEditor.js, I have to add a new modal for discardChanges function (if confirm discard is true) having backdrop.  Am I right ?

[2016-10-27 05:35] BenHenning commented on #2508
I have been wanting this for so long. I'll take this issue on as part of my mission to get a Hacktoberfest t-shirt, and because it's much needed. I may extend it to populate other values through the admin panel, too.

[2016-10-27 05:36] seanlip commented on #2626
Yep, except that I don't think you need a new modal (at least in the same style as the other modals) -- that feels a bit heavy. It's more like, making the rest of the screen inactive, and showing some kind of indication that the page is currently reloading (maybe with the three animated loading dots). You might be able to still use a Bootstrap modal but restyle it to look simpler (e.g. no header/f

[2016-10-27 05:37] BenHenning commented on #2569
I'm going to take this issue as part of my mission to get a Hacktoberfest t-shirt!

[2016-10-27 05:42] naveenshukla commented on #2626
That's good.

[2016-10-27 06:44] gvishal commented on #2386
I tried debugging it back in August, but everything works fine locally.

[2016-10-27 06:44] seanlip commented on #2603
Actually, on second thoughts, I'm going to close this for now. To anyone reading this issue, though, if you're running into the same problem, please feel free to reopen it!

[2016-10-27 06:44] #2603 closed

[2016-10-27 06:48] seanlip commented on #1372
Hi @anthkris, would you mind taking a look at this? There is some prior work done in #1594 that you might be able to use as inspiration, though it was never finished.

Thanks!

[2016-10-27 07:23] MAKOSCAFEE commented on #2386
so you mean this need to be closed? @gvishal
cc/ @seanlip
cc/ @BenHenning

[2016-10-27 07:43] seanlip commented on #2049
Fixed in #2652. Thanks @anthkris!

[2016-10-27 07:43] #2049 closed

[2016-10-27 08:26] Keksike commented on #2616
@seanlip I have ran into some problems when running the e2e tests. On a fresh install I get this error when running `bash scripts/run_e2e_tests.sh`:

[code]

[2016-10-27 15:38] BenHenning commented on #2395
I haven't spent time working on this yet.

On Wednesday, October 26, 2016, Barnabas Makonda <notifications@github.com>
wrote:

[2016-10-27 18:37] seanlip commented on #2616
I think we ran into this recently, it was due to a chrome upgrade. We fixed it by updating the version of protractor. So, some things to check:

- Is your branch up to date with oppia:develop?
- What OS are you using? You might want to take a look at scripts/start.sh and the scripts it depends on, since the logic there for fixing the Protractor (or more specifically, webdriver) issue might need to

[2016-10-28 02:23] Keksike commented on #2616
Ah, I had to run `npm cache clean` and run the `start.sh` script again. Should've realized to do that before asking. Now I can finally get this done!

[2016-10-28 04:21] naveenshukla commented on #2626
![678dc2aa-fcec-45e2-9300-e23f6e39977f](https://cloud.githubusercontent.com/assets/14854536/19794867/cd0269c6-9cf3-11e6-83ba-fd94a27bee46.jpg)

I have added a new modal without header and footer. This is what it looks like. Should I place it to center? Please suggest changes in this.

[2016-10-28 04:24] seanlip commented on #2626
Yep, I would get rid of the rounded corners, and place it more in the center. Maybe change the text to "Reloading last saved version..." as well?

[2016-10-28 04:39] naveenshukla commented on #2626
So I thing rather than using "modal-body" class in css, I have to define my own class ?

[2016-10-28 04:42] seanlip commented on #2626
Yes, that may well be needed.

[2016-10-28 06:21] BenHenning commented on #2386
I recall this issue specifically discussing the flakiness of perf tests
when run on Travis. This was tricky to debug because the same behavior
doesn't seem to happen locally.

On Thursday, October 27, 2016, Barnabas Makonda <notifications@github.com>
wrote:

[2016-10-28 06:36] Keksike commented on #2616
Yes.

OSX El Capitan 10.11.6

I will try to look at the scripts.

[2016-10-28 11:00] naveenshukla commented on #2626
![oppia1](https://cloud.githubusercontent.com/assets/14854536/19804374/89de1252-9d2b-11e6-9cb5-ca9a4a1f1860.jpg)
Made some changes. I think rounded corner were looking good ?

[2016-10-28 13:49] saqib1707 commented on #2548
@seanlip Actually I am trying to upload my pull request but it is showing this----
![commit](https://cloud.githubusercontent.com/assets/18272074/19808656/800b657e-9d2e-11e6-9d1a-6a1ae8b77923.jpg)

[2016-10-28 17:56] 526avijitgupta commented on #2548
@saqib1707 I think it's occuring since you might not have synced your fork's `develop` branch with the latest version of `develop` at oppia/oppia before beginning to make changes. Actually, I think that you should transfer these changes to a new branch from your fork -- instead of `develop` (Something like `group-private-exps` can be used as a branch name) and then generate a pull request. Also, d

[2016-10-28 19:46] seanlip commented on #2626
I think this looks reasonable, actually, as long as the dots animate to show that there's an action taking place. Look through the codebase for "loading-dot" -- you can reuse that.

Feel free to send in a PR!

[2016-10-29 00:01] seanlip opened #2656 "Landing page layout/alignment looks weird on large screens."
On larger pages, the landing page alignment goes a bit wonky -- see the screenshot below. This should be fixed -- the three columns should align properly, for example, and the two buttons at the top should probably be a bit nearer the center (@markhalpin, thoughts?)

![large-screen-issue](https://cloud.githubusercontent.com/assets/10575562/19825581/eb61300a-9d2f-11e6-8c11-58f4ec0182db.png)

Develo

[2016-10-29 00:06] seanlip opened #2657 "Fix NaN error in collections tile on small screens"
On small/mobile screens, there appears to be a bug in collection tiles -- they display as exploration tiles and show a view count of NaN. See the screenshot below:

![nan-in-mobile](https://cloud.githubusercontent.com/assets/10575562/19825652/cd916030-9d30-11e6-8925-993bf4ff6ee6.png)

This should be fixed. (@kevinlee12, do you know why it is happening?)

[2016-10-29 00:52] Tamakimouto commented on #2656
Oh this should be a fairly easy fix.

[2016-10-29 00:53] seanlip commented on #2656
Yep, I don't think it should be too bad... :)

Also, if you'd like to help out, please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started!

[2016-10-29 01:14] Tamakimouto commented on #2656
Given how small of a change it is, I'll go ahead and leave the PR.

[2016-10-29 01:42] Oishikatta commented on #2657
Hi,

I believe I know why this issue occurs. May I submit a pull request as part of Hacktoberfest?

[2016-10-29 04:09] kevinlee12 commented on #2657
Hi @Oishikatta, yes you may and thanks for the PR!

[2016-10-29 05:34] #2657 closed

[2016-10-29 11:19] saqib1707 commented on #2551
@markhalpin @seanlip Should it be like on hovering on the piece of description , a tooltip completes the description??

[2016-10-29 11:24] #2241 closed

[2016-10-29 11:24] #2365 closed

[2016-10-29 11:36] saqib1707 commented on #2551
and where are the public explorations of  the library in the oppia folder?? I tried to look for the collection folder in the core/storage/   ....Can u suggest how can I find the relevant part of the code...??

[2016-10-29 11:42] 526avijitgupta commented on #2156
@BenHenning That commit was made to one of my branches when I was working on a PR. It never went into `develop` as it was quickly caught during review!
Also, the problem does not happen when the code is commented out.

Sorry for the late reply, I just saw this!

[2016-10-29 12:54] Arunabh98 opened #2661 "On pasting into RTE, the bold and italicized text, line endings should be preserved"
Steps to Reproduce:
1) Create a exploration.
2) Enter text which contains bold and italicized words possibly spread over multiple lines.
3) Cut the text and then paste it back again.

Observed Behavior:
The bold and italicized text appears as normal text and the lines are concatenated together.

Ideal Behavior:
The bold and italicized text should appear as bold and italicized text respectively and

[2016-10-29 13:14] Arunabh98 opened #2662 "[upstream bug: math-expressions] Math Expression Input is unable to process special characters"
Steps to Reproduce:
1) Create a exploration
2) Create a Math Expression Input type interaction (in the Math tab of Interactions).
3) In the textarea for `is mathematically equivalent to` try to enter any special characters like λ or π. You can try entering the character itself (π in case of π) or you could try entering the latex expression (`\pi` in case of pi).

Observed Behavior:
In most cases i

[2016-10-29 13:53] naveenshukla commented on #2626
#2663

[2016-10-29 20:16] markhalpin commented on #2551
hi @saqib1707 I would suggest we do a very clean, basic text string, something like in the attached image; i.e. just a white box with text in the same size, font and color as the objective text -- no "dialogue balloon" pointers or anything like that. Let's show the entire objective text in that string (which can be multiple lines if needed) starting at the beginning, rather than starting where the

[2016-10-29 20:25] BenHenning opened #2665 "Ensure all HTML and JS files have at most one directive"
There are currently files throughout the frontend which are not adhering to the frontend refactor document's goal of making sure that multiple directives are not declared/defined in the same file. Each file should represent a single controller, directive, or service (as a general rule; there are some exceptions). The following files currently have more than one directive in them:
### HTML files

|

[2016-10-29 20:54] BenHenning opened #2667 "Improve error shown to user when exploration objective is too short"
The error shown when a goal/objective of an exploration is too short looks like:

`Please provide a descriptive goal to help people understand what this exploration is about.`

This shows when the objective is less than 15 characters. This warning is not at all clear when users hit it. It should say the failure criteria (ie, that the objective needs to be 15 chars or longer).

[2016-10-30 04:34] Keksike commented on #2616
Hey,

looks like that error was caused by me not installing protractor globally before trying to run the tests, I didn't know it was necessary. However, I ran into another issue after installing protractor globally and trying to run the e2e test:

[code]

[2016-10-30 04:48] Keksike commented on #2616
The issue I had was actually due to me not installing protractor globally before running the tests. I didn't know it was necessary (probably should add a mention about it to the dev-wiki).

However, now that I did install it globally and try running the e2e-tests, I get this:
[code]

My search continues...

[2016-10-30 06:13] seanlip commented on #2616
That's actually a bit odd. I didn't think you needed to install it globally.

It seems like port 9001 is occupied or unreachable or something. Is it occupied? I seem to remember @anthkris had a similar issue, but it might be unrelated...

[2016-10-30 06:17] anthkris commented on #2616
My error was httplib.BadStatusLine: ''.

[2016-10-30 06:35] seanlip commented on #2667
Added triage label for later discussion, and so that people don't work on this yet.

This issue is actually something we've discussed before (though I can't remember who with). The current wording is that way for a reason -- we want people to add a descriptive goal, not to provide a string that's greater than 15 characters long. It is indeed less "mathematical"/rigorous, but that was actually inte

[2016-10-30 06:38] Keksike commented on #2616
I made a mistake previously, the error seems to actually be this one:

[code]

[2016-10-30 06:40] seanlip commented on #2616
Ah yes -- that looks like the error we got when Chrome updated under us and all the protractor tests started failing.

Here's the PR we used, and that resolved the error: https://github.com/oppia/oppia/pull/2605/files . Hopefully this gives a clue...

[2016-10-30 06:41] #2529 closed

[2016-10-30 08:09] Keksike commented on #2616
Ah okay, hopefully I will get forward with that info. Thanks again!

[2016-10-30 18:28] BenHenning opened #2669 "Split up the admin controller"
The admin page is going to be the first de-facto example of how to split up a large controller into multiple directives and services. This will be used as a guide for other parts of the frontend refactoring project. The overall process used as part of this refactor is:
1. Minimize the HTML in the controller by reusing existing Jinja templates and directives as makes sense (this should only affect

[2016-10-30 18:28] BenHenning commented on #2669
For the admin page, the refactor looked like:

1. No existing templates could be reused elsewhere from the site in the admin panel.
1. The controller was split into a number of directives (with the tabs in their own directories for cleanliness):
  * ``admin_navbar_directive``
  * ``admin_activities_tab_directive``
  * ``admin_config_tab_directive``
  * ``admin_jobs_tab_directive``
  * ``admin_misc

[2016-10-30 18:32] BenHenning commented on #2669
Some additional work that could be done (but probably won't as part of this refactor):

* Split out the backend calls to the admin controllers to backend API services
* Update the task manager to perform the confirmation check and consume a promise object from a backend API service to post the success/fail results

[2016-10-30 20:41] BenHenning commented on #2667
I agree that we shouldn't tell them how many characters to provide, but I think we could have some sort of indicator that the reason it's not descriptive is because it isn't yet long enough. I'm going to create a quick PR with alternate wording that's hopefully slightly more clear.

[2016-10-30 21:35] wxyxinyu commented on #2125
Note: I think this issue occurs on Firefox, and the history pages works as intended on Chrome.

[2016-10-31 00:00] edallison commented on #2525
@MAKOSCAFEE @seanlip I had some time to look at this today and have made some initial progress.  I'm hoping to have more time this week to finish and make a PR.

[2016-10-31 00:46] arun1595 opened #2674 "Write an e2e test to visit the collection related pages"
Go to admin page, reload all collections, add current user to admin config that allows them to access the collection editor, visit collection player (no need to play through), visit collection editor (just check for no errors)
- Collection player
- Collection editor

[2016-10-31 04:31] seanlip commented on #1190
This was duplicated in #2366 and fixed in #2468. Closing.

[2016-10-31 04:31] #1190 closed

[2016-10-31 04:46] anmolshkl commented on #1435
Hi, this would be included in the current design docs for the answer classification project.

[2016-10-31 14:34] edallison commented on #2525
Also, for the contact/teach pages I looks like the most specific class I can set the background image of to get the desired effect would be oppia-main-body which is in base.html.  Setting the background here by checking what the current page is seems like the least invasive way to implement this but doesn't feel like a great solution to me.  Is there anything wrong with doing it this way?

[2016-10-31 18:39] seanlip commented on #2525
Hm, not sure, from your description -- could you please elaborate on how those two pages differ from the others? Might be easier to see with a draft PR.

[2016-10-31 18:58] giritheja commented on #2537
Hey @seanlip , This can be solved by applying
`style="display: inherit;"` to the span element containing the text.
I am trying to figure out a way to apply style attribute to span element in
`oppia-response-item-selection-input`.
I tried to grep it but was not able to find it.

[2016-10-31 19:01] saqib1707 commented on #2551
@markhalpin  How big should the tooltip be ,that's an issue...since if the objective is too long then that even won't be displayed using tooltip...Should the tooltip be displayed for only those which have long text and the tooltip content should be the remaining portion of the objective text which couldn't be displayed ??? Suggestions required...

[2016-10-31 19:10] markhalpin commented on #2551
Hi @saqib. I will defer to your expertise on what a tooltip can and can't do. How much text do you think we could fit in one? I think visually, we want to be consistent; that is, have every instance act the same no matter how much is displayed on the actual card. If tooltips would not be appropriate, can you suggest a more practical solution? If so, I can help figure out the visual.

[2016-10-31 19:32] saqib1707 commented on #2551
@markhalpin since there is no limit on the length of the objective text , showing it in a tooltip would be a problem....

[2016-10-31 19:52] markhalpin commented on #2551
Well, two questions: a) if we were to institute a limit, how much text do you think would be the upper limit for a tooltip, and b) can you think of a different way to accomplish the same goal? That is, expanding the truncated text into a longer form? I can help with what exactly the look is if you can come up with a programming solution to this. Any thoughts?

[2016-10-31 20:11] seanlip commented on #2537
Make sure your grep includes the extensions/ folder.

grep "term-to-grep" . -r --exclude-dir=third_party

Also note that some of the extension directive names are generated programmatically, so you might need to use a different term or restrict your search to extensions/interactions/ItemSelectionInput.

[2016-10-31 23:23] seanlip opened #2676 "New background colour for learner page does not contrast well with progress dots"
In the following screenshot, the arrows and progress dots are barely visible against the new light blue background. We should do something about this before the next release, otherwise this will lead to a severe usability regression.

![too-light](https://cloud.githubusercontent.com/assets/10575562/19874937/1ab8b49c-9f86-11e6-8d92-3f873f2e6e62.png)

[2016-11-01 02:11] markhalpin commented on #2676
@seanlip yep. Could we adopt the color scheme of arrows and progress dots shown here? Those will work against the blue background.

![oppia6](https://cloud.githubusercontent.com/assets/13863393/19877586/f7b8d518-9fb6-11e6-96d0-0ba04bcadd06.jpg)
![oppia7](https://cloud.githubusercontent.com/assets/13863393/19877587/f88bfb50-9fb6-11e6-8922-51a7f32a14f5.jpg)

[2016-11-01 02:39] seanlip commented on #2676
Sounds good, thanks! Also, do you want shadows on the dots and arrows, or
would that be unnecessary?

Also, @andromfins, would you be able to take care of this fix?

On Monday, October 31, 2016, Mark Halpin <notifications@github.com> wrote:

[2016-11-01 02:48] markhalpin commented on #2676
no shadows I think. Think of it like text, which we also wouldn't shadow: it's not bulky enough to warrant it.

[2016-11-01 06:09] andromfins commented on #2676
Like this [one](https://pageshot.net/oM1NTl779dJ1wNVG/oppia-dev) or [two](https://pageshot.net/pjBbiclEDlTh4jZk/oppia-dev) ?

[2016-11-01 06:10] seanlip commented on #2676
I think the first one looks good. The second is a bit too subtle, IMO.

[2016-11-01 08:38] seanlip commented on #2616
Sure thing! That said, if getting the e2e tests working proves to be more difficult than you'd like, please let me know, and we can certainly move to another issue in the interim!

[2016-11-01 09:46] Keksike commented on #2616
Hey!

Yeah, I still havn't gotten it working. I found some posts on github and stackoverflow which said that updating Protractor to 4.0.10 (and thus updating the webdriver) should fix the problem, but it didn't fix it for me.

It might be a good idea to assign me to another problem for the time being, especially if no-one else here is experiencing it. I will go through the issues and find somethin

[2016-11-01 19:14] giritheja commented on #2537
Hey @seanlip , I figured out a way to apply the style to span class but there is an issue coming out of this, the bug gets fixed in Firefox but appears in Safari and Chrome. I was thinking to apply browser specific CSS. What do you suggest?

[2016-11-01 19:33] seanlip commented on #2537
It would be better to find a solution that's general across browsers, if possible, but you might need some research / creative thinking in order to do this.

[2016-11-01 21:11] seanlip commented on #2676
Fixed in #2677. Thanks @andromfins!

[2016-11-01 21:11] #2676 closed

[2016-11-02 00:08] seanlip opened #2679 "In the embedded exploration view, the Continue button appears when paging back through the cards (when it shouldn't do so)."
To reproduce: load the welcome exploration, go to /embed/exploration/0, play a few cards, and then page backwards. You'll see the Continue button in the lower left of the screen, but it should not be there.

(Filed based on PR review in #2668.)

[2016-11-02 00:09] seanlip opened #2680 "In the embedded exploration player view, the help card can't be seen fully."
To reproduce: load the Welcome demo exploration, go to /embed/exploration/0 and play the exploration until the map card. When you select a wrong answer, a "help card" appears. However, it can't be fully viewed; this is the lowest that the page will scroll:

![embed-bug](https://cloud.githubusercontent.com/assets/10575562/19875277/bfd71bba-9f88-11e6-9dc1-f1f2f24cc4f3.png)

(Filed based on PR review

[2016-11-02 00:11] seanlip opened #2681 "In the exploration player, the supplemental interaction help card jitters badly at a certain screen size."
On Chrome, load the welcome exploration and play through to the map state with the window narrow. Click a wrong answer on the map to bring up the help card. When you hover over the map, the card jitters terribly. This happens when the screen is a certain size (see screenshot below):

![jittering](https://cloud.githubusercontent.com/assets/10575562/19907943/41ce3a1c-a03e-11e6-81cb-d6d5dfb381b6.png)

[2016-11-02 05:15] prasanna08 commented on #2429
Hi @BojOnTheBeat, any updates on this ?

[2016-11-02 07:37] seanlip commented on #2517
NB: prior work (for reference) is in #2589.

[2016-11-02 15:36] edallison commented on #2525
https://github.com/edallison/oppia/tree/random-background-images illustrates the two approaches I've thought of.  Keep in mind this is a rough sketch and still needs work.

1. Set the background images in base.html/base.js  This approach would require a way to check the current page and only display the background images on the intended pages (library, teach, etc.).

2. Set the background images o

[2016-11-02 23:48] seanlip commented on #2525
We're planning to get rid of Base.js, so I would go with the second approach: treat each page independently. (But you can use common CSS classes where possible, and maybe define a BackgroundImageUrlService, etc., to reduce duplication.)

Can you elaborate on "desired 'layer'" -- I don't understand? (I mean, the current splash page and library page seem to be working fine with custom backgrounds, s

[2016-11-03 02:17] seanlip opened #2684 "Students should be able to give feedback to the creator that they are "stuck"."
[Suggested by Daniel Hernandez]

Exploration creators don't always set a problem up "correctly" (with fallbacks, hints, etc.), so it's sometimes possible for students to get stuck, because the "right answer" is needed to proceed and they don't know how to get there.

In such cases, it would be nice if the student had an email or "message" feature that allows them to contact the creator and say "th

[2016-11-03 06:02] seanlip opened #2686 "Text input does not autofocus properly after wrong answer is submitted."
To reproduce: load the welcome exploration, play through the first state, then type a wrong answer in the box that expects "Finnish". The focus does not return back to the text input field, and the user has to click it manually before they can type their answer.

I investigated this a bit, and I think there is a race condition in the learner view. Changing the $timeout in focusService.setFocus() t

[2016-11-03 15:03] saqib1707 commented on #2680
@seanlip I tried to reproduce the issue#2680 but I didn't got the error which u stated...---
![img_20161103_202329082](https://cloud.githubusercontent.com/assets/18272074/19971306/b048d076-a1ef-11e6-9db1-7f6a3155cc0e.jpg)

[2016-11-03 18:44] seanlip commented on #2680
Make your browser width smaller, and the browser height smaller. Does that work?

[2016-11-04 03:30] #2650 closed

[2016-11-04 07:21] seanlip opened #2687 "Supplemental interactions look weird in the learner view on small screens."
To reproduce: load the welcome exploration and play it until the map card. Make the screen narrow. The result ends up looking like this:

![oops-sup](https://cloud.githubusercontent.com/assets/10575562/19997538/77e7379c-a224-11e6-9e1e-4b1301d85e5d.png)

Instead, the map should be _behind_ the tutor card. However, care needs to be taken to ensure that the end-of-exploration recommendations don't ge

[2016-11-04 09:35] seanlip commented on #2656
(Reopening, until the other splash pages are also fixed -- see discussion in #2658.)

[2016-11-04 18:52] giritheja commented on #2537
Hey @seanlip , I thought about this issue and realized that using browser specific CSS would only solve current issue but it won't solve future issues on the similar lines.
I googled on this and found the following:
1) Using CSS reset: Every browser has there own specific set of default values if they are not specifically mentioned which leads to a page being rendered differently in different brow

[2016-11-04 19:01] #2015 closed

[2016-11-04 20:27] saqib1707 commented on #2680
@seanlip  I got it...On resizing the window this is happening....Shouldn't it be like on resizing the window the size of the card should change also in the direction the browser window is being resized
...???

[2016-11-04 22:11] seanlip commented on #2537
Hm, I don't understand why we need system-wide solutions like these. Isn't there a local fix that would work?

What exactly is the precise issue that's causing the discrepancy? (I.e. what is the tag or CSS rule that behaves differently on different browsers?) Can you create a minimal example (using e.g. jsfiddle)?

[2016-11-04 22:26] seanlip commented on #2680
Not necessarily. Especially with vertical heights, you can't always fit everything into the viewport height.

(I'd suggest leaving this issue for discussion of just the help card problem, though. For more general discussion on design things, you might want to use gitter.im/oppia/oppia-design instead.)

[2016-11-05 03:25] #2669 closed

[2016-11-05 04:45] #2667 closed

[2016-11-05 20:13] anthkris commented on #2661
PR available!

[2016-11-05 20:56] seanlip commented on #2586
Hi @markhalpin -- just to confirm, is it fine to go ahead and do the final banners without making any further changes to the learner view (for the time being), or would that result in a bad intermediate state? I seem to remember we went with a blue background for the interim, but I can't remember whether that was just for simplicity or whether it was because the more complex background would clash

[2016-11-05 20:57] seanlip commented on #2644
@jasamina13 -- how is this going?

[2016-11-05 20:58] seanlip commented on #2002
Hi @Yeeons, are you still working on this?

[2016-11-05 21:28] Tamakimouto commented on #2656
Will work on it in the next few days.

[2016-11-05 21:42] seanlip commented on #2656
Thanks @Tamakimouto!

[2016-11-06 04:18] seanlip commented on #2662
Update: this is partially addressed in #2683 (pi is now recognized in answers), but we'll need to modify guppy in order to allow entry of special characters.

[2016-11-06 05:57] #2661 closed

[2016-11-06 16:46] maitbayev commented on #1117
Closed via #2668;

[2016-11-06 16:46] #1117 closed

[2016-11-06 19:34] giritheja commented on #2537
I have created (Jsfiddle)[https://jsfiddle.net/giritheja/37hh45ej/].
I am able to produce the actual problem (Try removing the CSS styling and open the same page in different browsers).
The solution I proposed previously seems to work in Jsfiddle but when I employ the same solution into oppia's css (conversation_skin_directive.html), The problem arises in browsers other than firefox.

[2016-11-06 22:07] seanlip commented on #2537
Hm, yep, I think the trick is to find the right CSS to use. I expect that there exists a solution that's not so heavy, though.

In fact, @prateekkonduru mentioned that he ran into this problem too, and found a way to solve it. I'll let him comment further in this thread -- if his approach works in both Chrome/Firefox, then I think it would be best for him to take over this issue and do the fix. Ot

[2016-11-07 10:00] anmolshkl opened #2695 "Create test case for benchmarking existing StringClassifier."
Add a test case for testing the current string classifier to ensure that, in typical cases, the classification model can be computed in a reasonable amount of time. We also need to create a test dataset and test the classifier with sufficient amount of answers (perhaps 100-200) and document the test results.

[2016-11-07 10:23] seanlip commented on #2695
FYI, there's some test data in core/tests/data/string_classifier_test.yaml which might be useful.

[2016-11-07 10:28] anmolshkl commented on #2695
Ok great. Thanks!

[2016-11-07 16:18] asingh04 commented on #2394
hi @seanlip
I am working on this issue.

[2016-11-07 19:34] giritheja commented on #2537
@seanlip Do you mean that the solution proposed in JsFiddle is heavy?
and Isn't it better to find a solution which solves this cross-browser issue once for all rather than solving it each time when it occurs?

[2016-11-07 21:58] seanlip commented on #2537
I think I'm missing something. I don't see a solution proposed in the jsfiddle you linked to? It still looks wrong in Firefox.

It's unclear that this issue occurs in other places. If it does, we can look into a more general solution, but at the moment this is the only case I'm aware of. Given the above, the main priority in finding a solution is to not break other parts of the application inadver

[2016-11-07 21:58] seanlip commented on #2537
Also, @prateekkonduru -- can you comment on whether the solution you discovered satisfies the above constraints?

[2016-11-08 02:25] andromfins opened #2698 "In the simple editor the sidebar should be scrollable."
When question links overflow the sidebar it should be scrolled. Here is a picture displaying current state  next to the mock.

![scroll-expected](https://cloud.githubusercontent.com/assets/10903202/20084291/313727a2-a559-11e6-8ecd-b4d58b5540e6.png)

related files:
  - /core/templates/dev/head/pages/exploration_editor/simple_editor_tab/simple_editor_sidebar_directive.html

This is part of the Simpl

[2016-11-08 02:33] andromfins opened #2699 "In the simple editor questions should be collapsible."
Add the capability to un/collapse a question in the sidebar. Here is a picture displaying the current state next to the [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqb1RSRGk1eC1FcHM).

![collabsible-expected](https://cloud.githubusercontent.com/assets/10903202/20084633/a708c2a4-a55b-11e6-8e06-8052635eb9ad.png)

related files:
  - /core/templates/dev/head/pages/exploration_editor/simp

[2016-11-08 04:21] BenHenning opened #2700 "Update directives to directly reference templates"
Angular directives should directly reference their templates rather than using IDs and the template cache. This allows the HTML templates to be cached by the browser, and avoid inflating the size of controller HTMLs (which are inherently not cacheable). Some preliminary work needs to happen first:

Ensure Firefox/Chrome properly uses template cache in Angular for direct template inclusion for dire

[2016-11-08 04:22] BenHenning commented on #2372
This is partially blocked on #2700. Once that is completed, we can revisit how to effectively cache the directive HTML files. It's not yet clear how we will facilitate caching controller templates, though removing Jinja may help with this.

[2016-11-08 05:46] #2656 closed

[2016-11-08 07:15] #2681 closed

[2016-11-08 07:17] seanlip commented on #2686
This also happens after submitting an answer in some cases -- after Oppia gives feedback (and shows a Continue button to go to the next card), the focus ought to go immediately to the Continue button, so that pressing Enter (without doing anything else) proceeds to the next card. However, this doesn't happen. An example where this behaviour occurs is in the first/second card of the Welcome explora

[2016-11-08 07:17] seanlip commented on #2686
/cc @maitbayev

[2016-11-08 07:47] #2687 closed

[2016-11-08 07:48] jasamina13 commented on #2644
Did a pull request!

[2016-11-08 08:33] markhalpin opened #2702 "Replace white text with dark green"
White text against updated blue backgrounds has poor visibility:

![white_text1](https://cloud.githubusercontent.com/assets/13863393/20092033/1ea9db80-a553-11e6-98e3-66630b7178c9.jpg)

Please replace any such text with Oppia dark green:

![white_text2](https://cloud.githubusercontent.com/assets/13863393/20092052/3541b250-a553-11e6-9a84-1bc230e6c535.jpg)

[2016-11-08 08:38] markhalpin opened #2703 "Vertical Spacing between Navbar, status bar and lesson panel"
Note that in some window sizes, vertical space between upper elements is minimized and elements scrunch together:

![topspacing1](https://cloud.githubusercontent.com/assets/13863393/20092137/bc2ed752-a553-11e6-8928-8f9a671ee2e7.png)

Please make spacing between navbar, status bar, and top of upper panel consistently like that as shown here:

![oppia6](https://cloud.githubusercontent.com/assets/138

[2016-11-08 08:46] giritheja commented on #2537
@seanlip My bad. Here is the updated [link](https://jsfiddle.net/giritheja/37hh45ej/10/)

[2016-11-08 09:00] markhalpin opened #2704 "Remove arrows from "dialogue balloons" in lesson"
Please remove indicator arrows from dialogue balloons in lessons, such as that in the upper left of the balloon shown here:

![white_text1](https://cloud.githubusercontent.com/assets/13863393/20092738/df81b668-a556-11e6-9685-1f9a45916974.jpg)

Desired styling is that dialogue balloons are clean rectangles, allowing flexibility in placement of avatars (as in mock shown here):

![oppia6](https://clo

[2016-11-08 11:03] seanlip commented on #2537
Ah, thanks. The jsfiddle looks fine to me. But you're saying this solution doesn't work in Oppia? If so, I think the requirement would be to find a solution similar to this that does.

[2016-11-08 11:21] prateekkonduru commented on #2537
@seanlip The span element having text is not inline with the bullets of the list. Therefore by creating a class for example `.oppia-sp span{display:inherit}` in oppia.css file and adding the class declared to  div element
(`<div angular-html-bind="getAnswerHtml()" class="conversation-skin-learner-answer **oppia-sp**">`) using multiple classes techinque will solve the issue.
I tested it out, it wor

[2016-11-08 22:24] seanlip commented on #2537
Thanks, @prateekkonduru!

@giritheja -- could you look into this solution? If it works well, we could go ahead and implement it.

[2016-11-09 20:34] seanlip opened #2707 "Make it possible to play Oppia activities offline."
In some places, Internet is not always available, and is expensive. We should find a way to make it possible to play Oppia activities offline, in such a way that the activities update each time the user connects to the Internet. (For example, perhaps we could store the activity data in localStorage, though there may be better ways of managing persistence, like building a standalone offline player

[2016-11-09 20:36] seanlip commented on #2525
Hi @edallison, did you make any progress on this? We're planning to do a release this weekend, and one of the things we want to do then is to update the background for the exploration player (since it currently doesn't look great with just a plain blue colour) -- so if you're able to send in a PR for at least just that page, that would be great.

Thanks!

[2016-11-10 10:51] #2702 closed

[2016-11-10 16:10] edallison commented on #2525
Submitted PR for [partial fix](https://github.com/oppia/oppia/pull/2708)

Things that still need work:

- Styling should be collected and reused where possible.
- Javascript should be moved to a reusable service.
- exploration player, about and contact pages still need to be addressed.
- Responsive styling may need tweaking in regards to the height of the background image at different screen sizes

[2016-11-10 19:53] giritheja commented on #2537
Hey @seanlip , I tried the solution presented by @prateekkonduru but I see the issue persisting in chrome as previously pointed.
<img width="1280" alt="screen shot 2016-11-11 at 1 15 15 am" src="https://cloud.githubusercontent.com/assets/8845039/20191812/22bce2b0-a7ad-11e6-9f7d-0916af63ac1e.png">
<img width="1280" alt="screen shot 2016-11-11 at 1 17 14 am" src="https://cloud.githubusercontent.com/

[2016-11-10 21:35] razat249 commented on #1855
Sorry for late update. I am out on vacation. I investigated the issue and found that when we try to save the drafts offline the `saving....` is shown on the save drafts button for a long time as shown in screenshot
![image](https://cloud.githubusercontent.com/assets/10090911/20195071/04d56ea8-a7bb-11e6-9254-f0a894adc366.png)

Now when this is going on and I tried to edit drafts (still offline) now

[2016-11-10 22:22] prateekkonduru commented on #2537
Hi @giritheja @seanlip , I've attached screenshots of the issue after implementing my solution, it works fine on both firefox and chrome.
![screenshot 37](https://cloud.githubusercontent.com/assets/18189758/20196363/5fe0d36e-a7c0-11e6-8fc3-b65ec9a38266.png)
![screenshot 35](https://cloud.githubusercontent.com/assets/18189758/20196411/99e829e0-a7c0-11e6-8941-1ce39c1289c9.png)

[2016-11-11 08:49] #2679 closed

[2016-11-11 08:59] #2703 closed

[2016-11-12 06:30] #2514 closed

[2016-11-12 09:03] seanlip commented on #2704
Fixed in #2709 -- closing.

[2016-11-12 09:03] #2704 closed

[2016-11-12 09:32] seanlip commented on #2537
Update: Three is now a more robust fix in #2715 that doesn't rely on undefined browser behaviour.

[2016-11-12 18:19] souravbadami opened #2716 "Save draft and publish exploration icon floats below the navigation bar at a certain screen width."
![screenshot from 2016-11-12 23 45 44](https://cloud.githubusercontent.com/assets/11073943/20239963/bc7df6a6-a932-11e6-8903-cf96a148dae6.png)

**How To Reproduce:**
- Create a new exploration.
- Resize the screen width to around 965 pixels in the exploration editor.

**Observed Behavior:**
Save draft and publish exploration icon floats below the navigation bar.

[2016-11-12 22:11] #2537 closed

[2016-11-12 22:57] wxyxinyu commented on #2585
Hey @kevintab95, how is this going?

[2016-11-12 22:58] wxyxinyu commented on #2620
Hey @Arunabh98, how is this going? I see that you have a PR in review, how is progress on that?

[2016-11-13 02:56] #2517 closed

[2016-11-13 06:21] #2585 closed

[2016-11-13 17:57] wxyxinyu commented on #2543
Hey @anmolshkl -- what is this issue tracking? Could you update the description to be more descriptive?

[2016-11-13 17:58] wxyxinyu commented on #2527
hi @526avijitgupta -- is this issue being actively worked on?

[2016-11-13 18:00] wxyxinyu commented on #2287
Hey @Arunabh98 -- how is progress on this going?

[2016-11-13 21:10] seanlip commented on #2548
Hi @saqib1707, are you still working on this?

[2016-11-13 23:29] seanlip commented on #1855
Ah, interesting. Thanks for the investigation, @razat249!

I think we might need to create some kind of OfflineDetectorService. Maybe all $http requests pass through it, and we decorate these so that if a response isn't received within a given time frame, a warning bar shows up that says: "Couldn't connect to the server. Are you offline?" or similar -- and then this service starts pinging the back

[2016-11-13 23:45] seanlip commented on #2125
@prateekkonduru, are you planning to work on this in the near future? If not, please let us know, so that we can reassign it.

Thanks!

[2016-11-14 03:21] Arunabh98 commented on #2287
Currently I am preparing a design doc for this feature

[2016-11-14 03:29] Arunabh98 commented on #2620
I have not been able to focus on this issue. Also I don't think I'll be able to give this time till Nov 19 due to exams. So I think it would be better to unassign me.

[2016-11-14 05:52] #2674 closed

[2016-11-14 06:01] seanlip commented on #2665
@BenHenning, what are inline directives?

[2016-11-14 06:05] seanlip opened #2722 "Split up ExplorationEditor.js and exploration_editor.html into individual files for each component/modal."
The aim of this issue to split up exploration_editor.html and ExplorationEditor.js into separate, more modular files:

- For the former, each modal directive should go into each own file.
- For the latter, each service/directive/controller should go into its own file.

[2016-11-14 07:19] anmolshkl commented on #2543
Hi @wxyxinyu! I have updated the description. Let me know if it makes sense. @MAKOSCAFEE the issue is more or less complete, I'll wrap it up after having @BenHenning's approval.

[2016-11-14 07:40] wxyxinyu opened #2724 "Add pictures in the "get started" page"
We have a new "get started" page to help new users get started! It is very cool!
![image](https://cloud.githubusercontent.com/assets/5061134/20256760/835c823e-aa13-11e6-9620-acbc7617b4fa.png)

It would be really nice if this had some cute pictures, perhaps graphics representing each step, to break up the text.

/cc @markhalpin @strader

[2016-11-14 07:50] seanlip commented on #2724
@markhalpin, would you be up for taking a look at this at some point? The page can be accessed by going to About > Get Started in the navbar. (It's not urgent, though!)

[2016-11-14 07:56] markhalpin commented on #2724
Hi @wxyxinyu Congrats on the new page! A couple of things:

1. I think since we're starting to get the most current versions of the backgrounds put into place on the lesson player, let's try to do that on our pages like this as well, if possible. For specifics, please take a look at this mock: https://drive.google.com/open?id=0B4A9S7Ym8W0COUtJSVFaVFNUckE, and note the relative size and color of th

[2016-11-14 09:18] seanlip commented on #2724
Thanks, @markhalpin!

@Tamakimouto, do you think you would be interested in taking up (1)?

For (2) -- I don't think @charisseysabel is available nowadays; I synced with her a while back and she's really really busy! The only other person I can think of who might be able to help is @jasamina13. @jasamina13, is this something you would be interested in helping out with (and doing the PR for)?

Than

[2016-11-14 15:58] anmolshkl opened #2725 "Modify the existing structure of State to include a classifier_model_id field."
Every state's dictionary representation should have a "classifier_model_id" field that references the corresponding model ID in the ClassifierModel table.

For all the existing explorations, the field should contain "None" to maintain consistency and avoid potentially confusing situations .

Updating schema involves the following steps:
1. Updating the from_dict() and to_dict() function in [exp_do

[2016-11-14 16:06] anmolshkl opened #2726 "Create storage & domain layer for classifier models."
Create storage and domain layer namely ClassifierModel, for storing classification models. The model should have the following attributes:

1. exp_id
2. exp_version_when_created
3. state_name
4. algorithm_id
5. cached_classifier_data

The id of an instance of this model is a unique string of the form {{exp_id}}.{{random_hash_of_16_chars}}.

Referer to the [design doc](https://docs.google.com/docum

[2016-11-14 16:19] anmolshkl opened #2727 "Create “BaseClassificationAlgorithm” class and migrate existing StringClassifier to "LatentDirichletAllocationClassifier" subclass."
There should be a generic template for creating any class that models a classification algorithm. The abstract "BaseClassificationAlgorithm" should do just that and provide abstract methods like to_dict(), from_dict(), train() etc.

The existing [StringClassifier](https://github.com/oppia/oppia/blob/develop/core/domain/classifier_services.py) should be migrated to "LatentDirichletAllocationClassif

[2016-11-14 16:36] anmolshkl opened #2728 "Create an AlgorithmRegistry class to map algorithm ids to algorithm classes."
Create an AlgorithmRegistry class that should be able to map an algorithm id to the respective algorithm class. AlgorithmRegistry should be somewhat similar to [interaction_registry.py](https://github.com/oppia/oppia/blob/176baa1e1439a1238c2b69cc6e88aeea0fe8e4a6/core/domain/interaction_registry.py). This will also require changes to feconf.py. Concretely, we will have to add ALLOWED_CLASSIFIER_CLA

[2016-11-14 16:51] anthkris commented on #1372
Hey @seanlip Wanted to give you a heads up. I'm moving soon, after a pretty whirlwind decision (same job and all; just moving to take care of family in crisis) and I'm in the middle of packing up as I leave at the end of this month. I'll probably not be doing much else. So I wanted to give you the opportunity to reassign this to someone else, if it's urgent.

[2016-11-15 02:30] Tamakimouto commented on #2724
Sure.

[2016-11-15 02:34] seanlip commented on #2724
Thanks, @Tamakimouto! I've assigned you to this issue, but feel free to submit a PR for just that part.

Also, btw, just so you know, the images Mark mentioned are in `assets/images/background`. I think we already use them in the exploration player page.

[2016-11-15 02:36] Tamakimouto commented on #2724
All you want is to replace the header graphic yes?

[2016-11-15 02:38] wxyxinyu opened #2730 "Share buttons are misaligned on dashboard tiles"
![image](https://cloud.githubusercontent.com/assets/5061134/20291129/489a259e-aab2-11e6-9268-7cd34979062a.png)

On the card in the creator dashboard, the share buttons move to the next line, off the tile, if there is too much feedback and the (21 new) takes up 2 lines. Instead, the "(21 new)" should be on a line on its own, and the share buttons should be contained in the card.

[2016-11-15 02:50] seanlip commented on #2724
Yes, that's right. Perhaps we can do it for one page first, and then do it for the others so that everything has the same style.

[2016-11-15 03:05] markhalpin commented on #2724
A couple of points. First, since we have four different banners, do we want to set things up to randomly assign one to any given page? I personally don't have a preference between a) assigning a banner to a given page randomly and then that's that page's banner forever and b) randomizing the banner on any page whenever it loads.Your call, @Tamakimouto.

Secondly, I'm happy to mimic Charisse's styl

[2016-11-15 03:14] Tamakimouto commented on #2724
Writing a single script to include is more reusable, I'll get to it within the week.

[2016-11-15 05:20] seanlip commented on #2377
Just to clarify: is the idea here that the toolbar sticks to the top of the viewport (maybe, like, just below the navbar) as the user scrolls down?

[2016-11-15 05:48] seanlip commented on #1924
We discussed this again in the tech lead meeting -- sorry for the delay.

We considered doing what the original issue suggested, but this is not straightforward. It would involve basically having the "Return to Library" button function as a Back button, but this is problematic if the user came from another exploration, or a creator's profile page, or something else.

Instead, we think that the sem

[2016-11-15 05:50] Arunabh98 commented on #2377
Yes.. I had something of that sort in my mind.

[2016-11-15 05:51] BenHenning opened #2731 "End-to-end tests should test all interactions"
Currently, we have end-to-end tests for testing a few interactions. Back in May, we had bugs in develop (which almost reached production) of broken interactions. Almost all interactions but the ones covered by end-to-end tests were broken, and it wasn't caught until someone manually hit the cases. End-to-end tests should ensure every interaction is working correctly, as these are the building bloc

[2016-11-15 05:53] seanlip opened #2732 "The creator dashboard is too slow."
I have 41 explorations in my creator dashboard. However, when I log in and navigate to /dashboard, the page takes 20 seconds to load -- which is far too long. Could we find a way to speed it up?

Note also #2574 -- the user reported a problem with the creator dashboard loading exceeding the usual request timeout when the dashboard contains 100 explorations.

/cc @526avijitgupta @wxyxinyu @BenHenni

[2016-11-15 05:53] seanlip commented on #2574
Hi @DeKaN -- thanks for the report! Filed #2732 to replace this one -- I think the cause is likely to be the same.

[2016-11-15 05:53] #2574 closed

[2016-11-15 05:56] seanlip commented on #2731
/cc @arun1595 -- please could your team take care of this? Thanks!

[2016-11-15 05:57] seanlip commented on #2377
OK, thanks for clarifying!

[2016-11-15 06:16] BenHenning commented on #2665
@seanlip an example:

https://github.com/oppia/oppia/blob/e9aa0e7d31ff55ebbdf22cda71fe165b6658b3c6/core/templates/dev/head/directives.js#L75

[2016-11-15 06:22] seanlip commented on #2665
Ah -- so, you mean, directives with a template instead of a templateUrl?

If that's the case, I might be missing something. Why can't these be easily isolated?

[2016-11-15 06:26] BenHenning commented on #2665
They can; we essentially have two choices for those directives:

- Extract the template markup from the JS file and move it to its own HTML file
- Keep the template markup inside the JS file

I prefer the first one and will probably go with that approach. I didn't mention this in the OP because there's a decent argument for keeping them inlined. I think I prefer consistency, though, especially sin

[2016-11-15 07:09] seanlip commented on #2665
Actually, I don't see the issue with inlining -- we'll just have one JS file, instead of one JS and one HTML file. I think it's fine to have both types.

[2016-11-15 08:30] souravbadami commented on #2526
Hey @markhalpin! -- How's it going ?

[2016-11-15 08:32] souravbadami commented on #2506
Hey @arun1595! -- Any updates on this ?

[2016-11-15 08:34] souravbadami commented on #2487
@MAKOSCAFEE -- How's it going ?

[2016-11-15 08:38] souravbadami commented on #2429
Hey @BojOnTheBeat! -- Ping ?

[2016-11-15 08:39] souravbadami commented on #2248
Hey @arun1595! -- How's it going ?

[2016-11-15 08:40] souravbadami commented on #2221
Hey @526avijitgupta! -- How's it going ?

[2016-11-15 08:43] souravbadami commented on #2128
Hey @eugenbleck! -- How's it going ?

[2016-11-15 12:35] arun1595 commented on #2248
@souravbadami I am working on it.

[2016-11-15 12:37] arun1595 commented on #2506
@souravbadami I couldn't make any progress on this. I think its better to deassign me.

[2016-11-15 17:48] mamat-rahmat opened #2734 "Add i18n to some label in preferences"
Currently, some label in email preferences aren't supported by i18n. We should fix this for consistency.
(Edited : See the "Receive emails when someone gives you edit rights to an exploration" and "Receive emails when someone sends you feedback of an exploration" below)

![oppia-untranslated](https://cloud.githubusercontent.com/assets/7076754/20316789/06b771c4-ab96-11e6-9819-85dcd63bf67d.png)

Rel

[2016-11-15 20:27] markhalpin opened #2735 "Replace old graphic banners with updated versions universally"
With the new release, the new graphics in the Player view work well, but now the discrepancy between those graphics and some of the older graphics feels more noticeable than when the Player views were neutral. Current player view is this:
![consistency1](https://cloud.githubusercontent.com/assets/13863393/20322414/f2390de2-ab46-11e6-8707-68088e8f5197.png)
whereas Current view on the About and Get

[2016-11-15 23:02] seanlip commented on #2734
For clarity (it took me a while to find), the strings @mamat-rahmat is referring to are the last two options: "Receive emails when someone gives you edit rights to an exploration", "Receive emails when someone sends you feedback on an exploration".

Also, @mamat-rahmat -- would you like to take on this issue?

[2016-11-16 01:21] mamat-rahmat commented on #2734
Sorry for the unclear explanation.

Sure, but let me clarify first.
1. Adding this as simple as : choose key, add key-value to [LANG].json, then create span that use key as the class. Is it @seanlip @mit0110 ?
2. A question arise. How do i contact all translator to adding new key-value of their language?

[2016-11-16 01:25] seanlip commented on #2734
1. Yes, I think so -- just make sure to test it manually (as a user) to ensure that everything displays correctly. Remember to update qqq.json as well.
2. Can you write a canonical comment in this issue stating the exact strings that need to be translated? Then I can put you in touch with people who can help. Before sending out the request, though, I suggest doing an audit on the various pages to

[2016-11-16 02:09] mamat-rahmat commented on #2734
@seanlip sure, thanks for the suggestions!

Issue edited for clarify. I will audit all the pages first and then states the occurence in the bottom of the issue. PR will be sent after that.

[2016-11-16 04:57] seanlip commented on #2735
Thanks, @markhalpin! /cc-ing @Tamakimouto, since I think this overlaps with what he's currently working on.

[2016-11-17 10:18] seanlip commented on #1372
Hi @anthkris -- sorry for the late reply, and thanks a lot for the heads-up! I've deassigned you from the issue for now, but please feel free to take it up again when you get back if no one else has done so in the meantime.

Also, I'm sorry to hear about the crisis -- I hope things work out OK, and that the move goes smoothly!

[2016-11-17 22:43] souravbadami commented on #2695
Hey @Andimeo! -- How's it going ?

[2016-11-17 22:47] souravbadami commented on #2644
Fixed in #2701.

[2016-11-17 22:47] #2644 closed

[2016-11-17 22:59] seanlip commented on #2695
Actually, this is done in #2697, I think.

@BenHenning @anmolshkl do we have all the info we need from this to make the design decisions we need to? Also, shall we merge #2697 in?

[2016-11-18 07:34] prateekkonduru opened #2737 "Line breaking appears for LaTeX expressions."
![capture5](https://cloud.githubusercontent.com/assets/18189758/20421409/aa4aaf00-ad89-11e6-8415-dd44cda5b8ef.PNG)

**Steps to reproduce the problem** -

1) Create an exploration and save it.
2) Add a question with learner's answer having Multiple Choice Interaction.
3) Add latex equations to the Multiple Choice options.

**The expected behavior** -  Latex expressions should not break when entered

[2016-11-18 18:03] souravbadami opened #2738 "There should be translations for email preferences."
![screenshot from 2016-11-18 23 31 54](https://cloud.githubusercontent.com/assets/11073943/20440729/3735a17e-ade7-11e6-8291-f04ff70da0d4.png)

The last two email preferences are not having translations in other languages. It should also be translated.

[2016-11-18 18:08] souravbadami commented on #2738
Duplicate of #2734.

[2016-11-18 18:08] #2738 closed

[2016-11-18 19:36] andromfins opened #2739 "In the simple editor, implement the edit mode in the sidebar."
Switching to the edit mode allows the user to delete/re-position questions in the simple editor, see `Edit mode` section in A01.png in the navigation folder in the  [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqb1RSRGk1eC1FcHM).
This issue can be done in parts:
  - Add the `Edit` button to switch sidebar mode from default to edit.
  - Add `Edit mode` content.
     - The content to be

[2016-11-18 20:01] andromfins opened #2740 "In the simple editor add the `Add a new question` button, in the sidebar."
The aim of this issue is to add another way for the user to create new questions beside the existing one. see A01.png in navigation folder in the [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqb1RSRGk1eC1FcHM).

- Add the `Add a new question` button.
  - button should be displayed when sidebar is in edit mode.
  - once a new question is added, it’s highlighted, and then we scroll to i

[2016-11-19 02:13] rachelwchen opened #2741 "Mobile library page redesign"
Hello,

Here is a proposed mobile library page redesign. Prototypes attached below ([they're also in this Google Drive folder](https://drive.google.com/drive/u/0/folders/0B2280MB6TQsXakxYNFY3dDVKZkk)).

Thanks!

![d01 initial](https://cloud.githubusercontent.com/assets/12159451/20452243/0f5b2002-adba-11e6-886e-e3c027e8b354.png)
![d02 click on search](https://cloud.githubusercontent.com/assets/1215

[2016-11-19 14:58] bruno-oliveira commented on #2699
Hi!

Can I start working on this?

[2016-11-19 15:17] bruno-oliveira commented on #2730
Can I start working on this?

[2016-11-19 15:25] souravbadami commented on #2699
Hey @bruno-oliveira! -- Please follow these instructions to sign the CLA and set things up. Also, Join the gitter channel and say hi! We can assign you the issue once you sign the CLA. Finally, Welcome to Oppia!

[2016-11-19 15:36] bruno-oliveira commented on #2699
I've signed the CLA!!

[2016-11-19 18:43] seanlip commented on #2730
Hi @bruno-oliveira -- yep, sure! Feel free to assign yourself to the issue once you've accepted the invitation to the GitHub org.

[2016-11-19 18:44] seanlip commented on #2699
Hi @bruno-oliveira -- thanks! Let's start with #2730 first, and if that goes well then I think we can move on to this one.

[2016-11-19 21:37] bruno-oliveira commented on #2730
In the dev server, how can we make an exploration public in order to test this behavior?

[2016-11-19 21:42] souravbadami commented on #2730
For this issue, you need to create your own exploration. For populating the library with some demo explorations, follow this:
- Log in as an administrator.
- Navigate to http://localhost:8181/admin.
- Click on **Reload All Explorations**.

[2016-11-19 22:48] bruno-oliveira commented on #2730
Done! But all explorations appear as "updated", which doesnt give me access to the social media icons or am I doing something wrong? This is in the dashboard page after following the above procedure.

![screenshot from 2016-11-19 22 47 48](https://cloud.githubusercontent.com/assets/4722412/20458945/3c1a2da4-aeaa-11e6-841a-b124705821eb.png)

[2016-11-19 23:06] souravbadami commented on #2730
Try creating an exploration using the **CREATE** button. Follow the instructions and publish the exploration. Then go to http://localhost:8181/dashboard.

[2016-11-20 10:10] bruno-oliveira commented on #2730
I think I have a fix done! How can I now push it?

I have been working on a forked copy of the repository in a separate branch which Ive called dashboard-fixing...

I think I still dont have all necessary permissions

[2016-11-20 10:21] seanlip commented on #2730
Hi @bruno-oliveira, two things:

(1) Did you follow the instructions in step 4 here? https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change

(2) Did you get the welcome email I sent? It had some follow-up instructions...

[2016-11-20 10:56] prasanna08 commented on #2557
Hi @Slepice1, you should start working on design doc for this issue. To get you started, first identify which emails are being sent per exploration basis (i.e. feedback emails are sent per exploration basis). Then figure out a general way to how to enable / disable emails per exploration. Prepare a google doc for this info. We can discuss there.

Thanks

[2016-11-20 11:00] seanlip commented on #2508
@BenHenning, are you working on this?

[2016-11-20 11:12] bruno-oliveira commented on #2730
I did, but I get this error when I try to push.

How can I install the jscs module? I've rerun the start.sh and install_third_party.sh scripts, but it doesnt seem to help...

![screenshot from 2016-11-20 11 11 31](https://cloud.githubusercontent.com/assets/4722412/20462326/2a1f0ca6-af12-11e6-8702-878fa2e389b7.png)

[2016-11-20 11:21] arun1595 commented on #2569
@BenHenning Any updates on this?

[2016-11-20 11:41] seanlip commented on #2730
Odd... What happens when you run `bash scripts/start.sh`? I assume no errors?

If I'm not mistaken, jscs is installed in scripts/install_third_party.sh (and you can actually read and debug these scripts, since they're in the codebase itself). I think you might need to do a bit of local debugging to figure out what's going on, since we haven't seen this error arise for other folks. For example, you

[2016-11-20 11:49] arun1595 commented on #2251
@giritheja This might be helpful http://oppia.github.io/#/Parameters

[2016-11-20 11:59] seanlip opened #2744 "Try and understand why someone drops out of an exploration, so that the exploration can be improved."
An idea that came up in a conversation I had recently was: when a student exits an exploration midway, offer them a way to give feedback on why, so that the creator can improve the exploration. For example, we could show a short feedback box, with messaging along the lines of: sorry about the bad experience; if you could let us know what we could do better, we'd really appreciate it and will try t

[2016-11-20 15:47] bruno-oliveira commented on #2730
Submitted a PR

[2016-11-20 16:43] dozure commented on #2455
Hello,
I've been taking a look at this, and am not quite clear on the actual issue. It appears the reporter is spawning a new/fresh vagrant box and then immediately jumping in and trying to run the start.sh script by hand. Based on the code and observations, the vagrantfile runs the start.sh script on its own, it shouldn't be necessary to run it by hand.

If I let the vagrantfile do its thing, it

[2016-11-20 18:47] dozure commented on #2455
Whoops, I was playing with the user error aspect since its probably a good idea to prevent multiple copies of start.sh from running simultaneously anyways and I didn't realize that github would link across repos like that without a PR. Sorry for the noise.

[2016-11-20 19:49] seanlip commented on #2455
Hi @dozure, thanks for taking a look at this! I don't have sufficient context on the original issue to answer, since I don't use Vagrant, but I've asked @bbriggs @raju249 if they can clarify.

In the meantime, would you be up for following [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get set up as a contributor? If you like, I'd also be

[2016-11-20 20:06] dozure commented on #2455
Thanks for the welcome @seanlip! I'd already completed most (1,4-6) of that (or some variation of it, re: dev environment) but I've just done the Contributor Survey and joined the ML.

I'm interested in helping out further. I'm decent with Python, though my dayjob doesn't let me code as much as I used to so I'm rusty - this is the main reason I have been looking for a spare time project to help ou

[2016-11-20 20:08] #2269 closed

[2016-11-20 20:11] seanlip commented on #2455
Thanks, @dozure! Just one thing though -- could you please complete the CLA (step 1)? I don't think you've done that, but we need it in order to be able to redistribute your code under Apache v2.

Also, thanks for doing the other stuff! I'll look for a good project to start with, so stay tuned -- I should have one in the next half hour or so.

[2016-11-20 20:26] jayvdb opened #2748 "Translation web service"
I noticed on https://github.com/oppia/oppia/issues/2734 that the process of adding new translations is a bit difficult.  With a good translation web service, new messages can be added without coordination with translators, and then prioritised for translators to complete them before the next release if they are necessary for basic functionality.

I found https://github.com/oppia/oppia/issues/103 ,

[2016-11-20 21:06] seanlip commented on #2748
Thanks for filing this, @jayvdb! I've just copied you on the email thread with @Nikerabbit and @siebrand discussing this. I haven't had enough bandwidth to look into it recently, so many thanks for bringing it up, and we definitely appreciate any help you can provide!

[2016-11-21 00:46] dozure commented on #2455
Per gitter chat with @bbriggs we think this may be user error as I suggested above. He suggested tagging "can't reproduce" and also incorporating my lockfile patch to help prevent the user error case. PR incoming.

[2016-11-21 03:33] raju249 commented on #2455
Hi @dozure
Thanks for taking a look at this issue.
I didn't take a closer look on the Vagrant file ..sorry for that.
Now what I am going to do is let the Vagrant try to do stuff and will then see what happens.
Give me few days for this.
Thanks

[2016-11-21 07:31] seanlip commented on #2724
Hi @Tamakimouto! How is this going?

[2016-11-21 14:43] prasanna08 opened #2751 "Make use of recipient variables for sending bulk emails to make emails more personalised."
Recipient variable is a very powerful feature provided by mailgun email service. It allows user to send personalised emails to multiple recipients in a single request. For more info check [here](https://documentation.mailgun.com/user_manual.html#batch-sending).

Oppia is now able to send bulk emails to a large number of users and to make those emails personalised we should also include recipient v

[2016-11-21 14:43] prasanna08 commented on #2751
Hi @seanlip, added issue for recipient variables. We should discuss above details and then we can move to implementation.

[2016-11-21 16:22] nemobis commented on #2748
The process at translatewiki.net is https://translatewiki.net/wiki/Translating:New_project ; you can help with the setup as described at https://translatewiki.net/wiki/Setup_of_a_new_project

Are you using Gettext?

[2016-11-21 20:49] Tamakimouto commented on #2724
Just put up a PR.

[2016-11-22 00:41] seanlip commented on #2751
Thanks for filing the issue, @prasanna08!

Could you write up a preliminary doc with answers to the questions? This would give us something concrete to discuss.

[2016-11-22 17:12] razat249 commented on #1855
@seanlip I will investigate it further. It can take some time because my final exams are running.

[2016-11-22 22:41] seanlip opened #2754 "Make the math expression input box more clear."
We just received the following feedback from a user regarding the math expression interaction. They had some difficulty entering text in the box:

This suggests that the UX signalling is currently suboptimal. Perhaps the box should always remain white, and we put a thicker border around it when focus is in the box, similar to the usual input fields?

/cc @daniel3735928559

[2016-11-22 22:46] seanlip commented on #1855
Thanks, @razat249! No worries -- but, just to check, when do you think you'll be able to get to it?

[2016-11-22 23:00] razat249 commented on #1855
I can start working on it after 5th of December.
Thanks @seanlip

[2016-11-22 23:04] seanlip commented on #2748
Nope -- we're using angular-translate. That said, I believe we have everything good to go, including a qqq.json file. They're all in the [assets/i18n](https://github.com/oppia/oppia/tree/develop/assets/i18n) folder.

That said, the second link you sent is new to me. I think we've done all the stuff in the first section of that page; am I correct that the remaining sections seem more like something

[2016-11-22 23:06] seanlip commented on #1855
OK, thanks! That should be fine, I think; I'll ping you if anything changes and we need to do something about this before then.

[2016-11-22 23:07] joshuacano commented on #2722
I'm planning on getting started on this over the next few days, I anticipate having a PR to review by Monday, 11/28.

[2016-11-22 23:44] razat249 commented on #1855
Okay, Thanks @seanlip!

[2016-11-23 01:35] prasanna08 commented on #2751
Draft [doc](https://docs.google.com/document/d/1lEes4d-MdewSq0UE5vAg_3wjcsGJ9pqEdWuElqkN8Mc/edit) regarding to questions I have mentioned above.

[2016-11-23 06:47] jayvdb commented on #2748
Re https://translatewiki.net/wiki/Setup_of_a_new_project

File format: I believe this project is using the `Json` format listed at https://www.mediawiki.org/wiki/Help:Extension:Translate/File_format_support

Doesnt Translatewiki have a generic account on GitHub to push translations into repos, like the other translation web services?  If not, is there a tracking bug for that feature?

[2016-11-23 08:25] Arunabh98 opened #2755 "The math expression interaction is not able to process fractions"
Steps to Reproduce -
1) Create a exploration
2) Add a math expression input
3) Preview the exploration, in the math expression input type in a fraction like x/y and click submit.

Observed behaviour - The 3 dots appear but the response never comes. It's as if math expression is not evaluate the expression. Here is a picture for reference
![image](https://cloud.githubusercontent.com/assets/13691317

[2016-11-23 08:41] seanlip commented on #2748
Sorry @jayvdb -- not sure I understand your comment? What I meant to say before was that the requirements in "Verify the project" are already satisfied, as far as I'm aware -- in particular, our strings are in JSON format (as you say) and both Niklas and Siebrand do already have push-access to the oppia repository.

[2016-11-23 08:58] seanlip commented on #2755
Thanks for filing this, @Arunabh98!

I looked into it. It turns out that the library we're using for writing math expressions and the library we're using to parse them aren't fully compatible. In this case, when "3/7" is typed in the former, the latex output is \dfrac{3}{7} -- but the parser does not seem to recognize \dfrac, and instead throws an error "tree.slice is not a function". I'm checking

[2016-11-23 09:31] Arunabh98 commented on #2754
I would like to tackle this!

[2016-11-23 09:32] seanlip commented on #2754
OK, go for it! :)

[2016-11-23 10:42] seanlip commented on #2386
The current perf test (for the splash page) is flaking too much on Travis -- often, the build just times out, and we only find out after 50 minutes.

We discussed this at a tech lead meeting and decided to remove the test from .travis.yml for now, but reinstate it when this issue is fixed. I've also added the "major" flag to this issue, since otherwise we will not notice performance regressions th

[2016-11-23 11:11] Arunabh98 commented on #2754
I kind of fixed this issue by changing guppy.js which is in third_party. What should I do now?

[2016-11-23 11:28] jayvdb commented on #2748
I was only commenting that it would be nice if there was a generic GitHub account to do the pushes, rather than specific users. e.g. @weblate .  Not a blocker, for sure, but would be nice.

[2016-11-23 14:28] daniel3735928559 commented on #2754
I can see how the default appearance might not be clear.  One thing that may help is to give active and inactive instances CSS classes such as `.guppy_active` and `.guppy_inactive` respectively.  (More generally, I hope to expose more of the styling through CSS in future.)  @Arunabh98: would this have been enough to make the modifications you did without having to modify guppy.js?

[2016-11-23 14:36] daniel3735928559 commented on #2755
One simple fix would be to change symbols.json to output `\frac` for fractions.  In general, the hope (wisely or not is unclear) for guppy wasn't that I would maintain the one canonical symbols.json file, but that everyone would kind of have their own that suits their needs.

If you want to maintain the symbols.json as-is from the repo for hygiene reasons, say, you could also have a second, separa

[2016-11-23 14:53] Arunabh98 commented on #2754
Could you tell me how can I set the class? I am not able to see any examples in the code.

Thanks

[2016-11-23 14:56] daniel3735928559 commented on #2754
I meant more that I should change it to use classes as described so that people who want to style the editor differently can simply write some CSS (rather than having to change the javascript).  I will happily make the change, but would like to confirm it would be sufficient to implement whatever fix you have already done?

[2016-11-23 15:10] daniel3735928559 commented on #2754
Er, shows how much I've been paying attention: Switching classes is already the behaviour.  The appearance of an active instance is controlled by the CSS [here](https://github.com/daniel3735928559/guppy/blob/master/index.css#L33), and of an inactive instance [here](https://github.com/daniel3735928559/guppy/blob/master/index.css#L37).  This may not date all the way back to the first release, howeve

[2016-11-23 16:35] Arunabh98 commented on #2754
As far as I can see the version is 0.0.2 @seanlip could you confirm this?

[2016-11-23 22:58] seanlip commented on #2386
Note: when reinstating the tests (after deflaking the performance issues), add the following list item to `env['matrix']`:
[code]
and add the following clause to `script`:
[code]
You can also use the above to test a travis run locally.

Also, just for reference, I'm copying the TODO that was originally in the .travis.yml file to this issue:

[2016-11-23 23:08] seanlip commented on #2754
Ah yes, we are currently at 0.0.2. @Arunabh98 can you update to 1.0.0?

And thanks, @daniel3735928559! I suspect this is likely to work.

[2016-11-23 23:21] seanlip commented on #2755
Thanks, @daniel3735928559!

I think we should maintain symbols.json from the repo (for hygiene reasons, as you say), and add overrides. @Arunabh98, would you be up for taking this on?

[2016-11-24 00:29] BenHenning commented on #2725
Rather than introducing a new field in ``ExplorationModel``, could we instead update the structure of a ``State`` to include the classifier model ID it corresponds to? This could be an optional value that is only included in the ``to_dict`` representation of a state when present. This way, if we ever change how we map classifiers to states we can just perform a schema migration. Introducing a new

[2016-11-24 00:32] seanlip commented on #2725
Following @BenHenning's comment, I would also suggest that the key for the classifier_model_id of a state should always be present, and that it's value should be None in cases where there is no associated classifier. It's easier to do stuff when the keys are known and fixed.

[2016-11-24 03:09] Arunabh98 commented on #2754
Submitting a PR

[2016-11-24 04:27] seanlip commented on #2754
@Arunabh98 -- just to check, you're going to do a follow-up PR to fix the main issue in this thread, right?

[2016-11-24 05:17] Arunabh98 commented on #2754
Yes, I will

[2016-11-24 13:46] Arunabh98 commented on #2754
I don't think think the classes like behaviour is implemented even when I switched to 1.0.0. When I inspect the Guppy div it doesn't appear to switch classes in the active and inactive method. I checked your demo, @daniel3735928559 and over there it does switch classes in the two modes. In oppia it always has a constant class `guppy-div`. So I think the classes thing is not implemented in 1.0.0. C

[2016-11-24 18:38] anmolshkl commented on #2725
@BenHenning I think I had put forth this suggestion before but don't know why exactly we moved towards having a field in the exploration. I totally agree with you here, it's better to make as few changes to the DB as possible. I will update the design doc and the issue.

@seanlip yes, that's totally right. In fact, we have planned to keep "None" for all the states that do not have a model. Thanks

[2016-11-24 23:29] seanlip opened #2761 "The "unresolved answers" section in the creator dashboard is unintelligible."
See screenshot below:

![dashboard](https://cloud.githubusercontent.com/assets/10575562/20611191/640ad24c-b25a-11e6-8554-63252b81fda2.png)

I have no idea what to do with this output -- it looks like gibberish to me. I think we need to figure out a better way to present this information so that I, as a creator, know what I'm supposed to do.

/cc @526avijitgupta @wxyxinyu

[2016-11-25 20:54] Slepice1 commented on #2557
I have prepared design doc and I'm working on it.

[2016-11-26 06:12] seanlip opened #2764 "Right clicking on *all* dashboard tiles should allow opening the exploration in a new window."
Currently, right-clicking on private exploration tiles and on collection tiles in the creator dashboard opens the usual right-click context menu that allows opening the exploration creator view in a new window. However, this is not the case when right-clicking on public exploration tiles, and this is a bit irritating because going to such an exploration now requires navigation away from the creato

[2016-11-26 06:22] seanlip commented on #2735
Actually -- @tjiang11, would you be up for looking at this, since you've done something similar already for the collection page?

[2016-11-26 06:27] tjiang11 commented on #2735
@seanlip Yup, I can! It is indeed similar to what I just did for the collection page

[2016-11-26 06:27] seanlip commented on #2735
OK, thanks -- I've assigned you!

[2016-11-26 06:34] seanlip commented on #2724
Update: I think the remaining part of this is point 2, which is more of a design thing, so I'm assigning it to @markhalpin (since I don't think either Charisse or @jasamina13 seem to be available). Note that point 1 is being fixed as part of #2735 (thanks @tjiang11!).

[2016-11-26 08:12] anmolshkl commented on #2725
@seanlip @BenHenning I have changed the title and the description, feel free to add any detail that I might have missed. Thanks!

[2016-11-26 08:45] Arunabh98 opened #2766 "Display which cards have unresolved answers on the state graph"
Currently when a creator notices that he has unresolved answers he has to traverse through all the cards to see which cards have unresolved answers. If we could show on the state graph, which states have unresolved answers the creator could directly go to those states, thus making his task easier!

[2016-11-26 10:10] seanlip commented on #2755
Hi @daniel3735928559 -- I did some work on this, but there is an issue.

get_symbols() in Guppy makes an async fetch. Because oppia_symbols.json is smaller than the symbols.json (presumably), the former returns first. Guppy therefore sets the symbols I've defined -- and then proceeds to clobber them with the default symbols. Is there another way around this -- e.g., could guppy_init take in an opt

[2016-11-26 10:16] seanlip commented on #2761
(I think @Arunabh98 is planning to address this as part of his fixes to #2764.)

[2016-11-26 10:17] seanlip commented on #2751
/cc @jaredsilver

Jared, I think you suggested this idea (variable conditioning) in discussion as well. One milestone you mentioned was "you have helped 100 students learn fractions!", which I think is awesome. :-) Do you have any others?

[2016-11-26 10:21] seanlip opened #2767 "On the main library page, celebrate creators who have had a large impact in the past week."
(This issue records a suggestion made by @Arunabh98 in the gitter chat.)

On the main library page, it would be nice to display which creators have had the most impact in the past week -- perhaps with a "top contributors" award, or with a special section that appreciates their efforts.

We'll need a way to define "top", though. Number of explorations isn't quite it -- we don't want a lot of low-qu

[2016-11-26 10:27] seanlip opened #2768 "Allow users to respond to feedback threads by replying via email."
Let's say a logged-in user U submits feedback to an exploration. The exploration author (A, say) then replies, and U receives an email notifying them of A's response. How does U reply back? There's currently no straightforward way to do so.

The most natural way for U to reply is probably by email, since that's where they've received the message from A. It would be nice if we could support this. H

[2016-11-26 14:58] daniel3735928559 commented on #2755
The official answer is that when you initialise Guppy, you can pass in a ready_callback argument like `Guppy({"ready_callback":function(){ Guppy.get_symbols(...); }});`, since ready_callback is called when all the async loading and initialisation is finished.

[2016-11-26 15:00] daniel3735928559 commented on #2754
Er, confirmed, yeah.  I need to push out another minor release anyways for npm, so let me try to do that later today or else Monday.

[2016-11-26 18:34] AllanYangZhou commented on #1602
Hi @bbriggs, is work still continuing on this PR?

[2016-11-27 00:51] seanlip commented on #1381
(Note to contributors: please see #1608 for prior work on this.)

[2016-11-27 01:02] seanlip commented on #2755
Hi @daniel3735928559, thanks -- that sounds good, and I tried it, but I'm afraid it still does not work. Guppy.kb.symbols is set correctly, but "\dfrac" still appears in the output.

In Guppy.prototype.get_content() (which is what I'm using to get the answer info), I logged this.base, which gives me an HTML fragment. In that HTML fragment I see a `<b p="latex">` tag with the old \dfrac stuff, alth

[2016-11-27 04:36] daniel3735928559 commented on #2755
Er, sorry--the `/` character is apparently bound to a different symbol name: `"slash"`, which has slightly different behaviour from frac.  So your custom symbol file should override that also.  Otherwise, this technique seems to work.

Another thought on this: You could replace `\dfrac` with `\displaystyle\frac` which should be the same thing.  But then it is pretty reasonable to say you will stri

[2016-11-27 05:09] AllanYangZhou commented on #857
Hi @maitbayev are you still interested in working on this?

[2016-11-27 05:38] AllanYangZhou commented on #2189
@wxyxinyu I've unassigned you for now since this looks inactive.

[2016-11-27 05:50] seanlip commented on #2755
Thanks very much, @daniel3735928559! I just got this done, and submitted the fix in #2770.

I thought about using `\displaystyle` but ultimately decided against it, since it introduces an additional "stripping" step and I want to keep things simple and clean. If it becomes an issue, I think we can introduce the stripping later.

[2016-11-27 06:09] AllanYangZhou commented on #2160
Hi @526avijitgupta how is this going?

[2016-11-27 06:12] AllanYangZhou commented on #2397
Hi @gvishal, are you still interested in working on this?

[2016-11-27 06:13] AllanYangZhou commented on #2544
Hi @anmolshkl how is this going? Any updates?

[2016-11-27 06:15] AllanYangZhou commented on #2026
Hi @kevinlee12 how is this going?

[2016-11-27 06:22] kevinlee12 commented on #2026
Hi Allan, issue in progress!

On Sat, Nov 26, 2016 at 10:15 PM, Allan Zhou <notifications@github.com>
wrote:

[2016-11-27 06:23] seanlip commented on #2026
Hi @kevinlee12 -- this issue has been around for at least two months; do you have some idea of when you'll complete it by? Thanks!

[2016-11-27 06:25] kevinlee12 commented on #2026
Will be done after finals (~2 weeks, there are a few API issues that are
taking awhile to fiddle around, otherwise it's ready to ship)

On Sat, Nov 26, 2016 at 10:23 PM, Sean Lip <notifications@github.com> wrote:

[2016-11-27 06:28] seanlip commented on #2026
Ah, ok, thanks -- would it be possible to get a PR in for this by 15 Dec at the latest, then?

[2016-11-27 06:38] AllanYangZhou commented on #2536
Hi @kefeh, how's work on this going? Any estimate of how long it will take to complete?

Note for maintainers: Work for this appears to be happening in #2721.

[2016-11-27 06:40] AllanYangZhou commented on #2002
Unassigning for now, since it looks like it is not being worked on.

[2016-11-27 06:41] AllanYangZhou commented on #2686
@maitbayev How is this issue going? Any updates?

[2016-11-27 06:41] AllanYangZhou commented on #2527
Unassigning for now, since it does not look like this is being worked on.

[2016-11-27 06:44] kevinlee12 commented on #2026
It'll be tight, but I'll get it in ASAP

[2016-11-27 06:52] AllanYangZhou commented on #2125
Unassigning for now.

[2016-11-27 06:52] AllanYangZhou commented on #2042
Hi @mamat-rahmat how is this going?

[2016-11-27 06:53] AllanYangZhou commented on #2726
Hi @anmolshkl how is this going?

[2016-11-27 06:53] AllanYangZhou commented on #2548
@saqib1707 Unassigning for now. Feel free to re-assign yourself if/when you have time.

[2016-11-27 06:55] AllanYangZhou commented on #2665
Hi @BenHenning how is this going?

[2016-11-27 07:02] AllanYangZhou commented on #2526
Hi @markhalpin I've unassigned you for now, feel free to reassign yourself when/if you have time to work on this.

[2016-11-27 07:04] seanlip commented on #2526
Ah, actually, @markhalpin has done the mocks. Reassigning to @kevintab95, who is working on implementation.

[2016-11-27 07:04] AllanYangZhou commented on #2429
Hey @BojOnTheBeat I've unassigned you for now, feel free to re-assign yourself if/when you have time.

[2016-11-27 07:04] seanlip commented on #2526
(Note: per email communication, @kevintab95 plans to get a PR in by 28 Nov.)

[2016-11-27 07:05] AllanYangZhou commented on #2221
Hi @526avijitgupta I've unassigned you for now, feel free to re-assign yourself if/when you have time.

[2016-11-27 07:06] seanlip commented on #2026
A quick update: I chatted with @kevinlee12, and he plans to send an update tomorrow with firm timelines, since this project has been taking a while.

[2016-11-27 07:06] AllanYangZhou commented on #2128
Hi @eugenbleck i've unassigned you for now, feel free to re-assign yourself if/when you have time.

[2016-11-27 07:07] AllanYangZhou commented on #2248
Hi @arun1595 do you have an estimate of how long this issue will take?

[2016-11-27 07:09] seanlip commented on #2248
NB: for reference, there's a PR in progress in #2753 (though Allan's question still applies).

[2016-11-27 07:11] AllanYangZhou commented on #2698
Hi @andromfins how is this going?

[2016-11-27 07:12] #2695 closed

[2016-11-27 07:17] AllanYangZhou commented on #2508
Hi @BenHenning i've unassigned you for now, feel free to re-assign yourself if/when you have time.

[2016-11-27 07:17] AllanYangZhou commented on #2569
Hi @BenHenning i've unassigned you for now, feel free to re-assign yourself if/when you have time.

[2016-11-27 07:18] AllanYangZhou commented on #2251
Hi @giritheja how is this going?

[2016-11-27 07:18] AllanYangZhou commented on #2744
Hi @rachelwchen how is this going?

[2016-11-27 07:48] seanlip opened #2773 "Fix flakiness in the interactions e2e test suite."
The interactions e2e test suite keeps failing and needs to be restarted. This is probably due to a race condition of some sort, and we should fix this so that it doesn't occur, perhaps by adding a delay in the right place. Here is the error log:

[code]

[2016-11-27 07:54] anmolshkl commented on #2544
Hi @AllanYangZhou the design doc is being updated iteratively and hence we might see new issues (it's difficult to say whether there won't be any new issues). As of now, most of the points in the doc have been translated into issues.

[2016-11-27 07:56] seanlip commented on #2544
@anmolshkl do we actually need this issue, then? Perhaps you could just be in charge of making sure that all issues in the design doc are filed as they come in.

[2016-11-27 07:56] anmolshkl commented on #2726
Hi @AllanYangZhou, I'm on it and will submit a PR in a day or two.

[2016-11-27 07:57] anmolshkl commented on #2544
@seanlip ah yes right, I think we might as well close it. I'll make sure that all the issues are getting filed. Thanks!

[2016-11-27 07:58] #2544 closed

[2016-11-27 08:17] anmolshkl commented on #2767
@Arunabh98 can we start making a design doc? I feel that this is a good end-to-end problem which will need some thinking on all the levels - UX, UI, back-end. We can break-down the problem and address some important questions -
1. Where and how should we display the section dedicated to "top contributors"? (while also making sure that the UI doesn't get cluttered).
2. How to define "top"? What par

[2016-11-27 09:28] #1924 closed

[2016-11-27 10:09] seanlip commented on #2773
PR submitted in #2774.

[2016-11-27 11:49] seanlip opened #2775 "Expressions containing fractions are not always evaluated correctly in the math expression input."
From #2755:

This appears to be due to a bug in an upstream library, math-expressions. I've filed an issue [here](https://github.com/kisonecat/math-expressions/issues/5), and we should update to the latest version of that library when the upstream version is fixed.

[2016-11-27 12:36] jaredsilver commented on #2751
Thanks, @seanlip! 😄  Here are a couple ideas for milestone emails:

For both individual explorations and in aggregate:
- Number of Students (_You have helped {x} students learn {topic}!_ and _You have helped {x} students learn on Oppia!_)
- Number of Views (_Your exploration has reached {x} views!_ and _Your explorations have reached {x} views!_)
- "Impact" Score?

The exact values would have to b

[2016-11-27 12:39] jaredsilver commented on #2751
And if we want to get _really_ fancy, we could also do things like "Your explorations were in the top {x}% in terms of impact this week!" -- and perhaps even integrate it with issue #2767.

[2016-11-27 15:32] #2773 closed

[2016-11-27 16:11] anweshknayak opened #2776 "TemplateNotFound Error"
ERROR    2016-11-27 16:05:34,130 base.py:416] Exception raised: pages/splash/splash.html
ERROR    2016-11-27 16:05:34,181 webapp2.py:1552] pages/error/error.html
Traceback (most recent call last):
  File "/home/anwesh/gsoc/oppia_tools/google_appengine_1.9.19/google_appengine/lib/webapp2-2.5.2/webapp2.py", line 1535, in __call__
    rv = self.handle_exception(request, response, e)
  File "/home/anw

[2016-11-27 20:05] seanlip commented on #2776
On your computer, what are the contents of the folder core/templates/dev/head/pages/error?

[2016-11-27 20:07] seanlip commented on #2748
Update: per email correspondence, @Nikerabbit will be sorting this out on the translatewiki end. I think this resolves the issue, so I'm closing it. Thanks for bringing it up, @jayvdb!

[2016-11-27 20:07] #2748 closed

[2016-11-27 20:38] andromfins commented on #2698
I took along time, but i started working on it.

[2016-11-27 23:45] #2626 closed

[2016-11-28 03:42] Arunabh98 commented on #2767
Hi @anmolshkl, Actually I have a quite a few things going on my hands right now and I don't think I would be able to give this enough time. That being said, I wouldn't mind contributing to the design doc. Also if I'm free anytime later, I would start making the design doc for this one.

Thanks

[2016-11-28 04:13] #2755 closed

[2016-11-28 04:38] kefeh commented on #2536
Hello @AllanYangZhou  am just finishing up with the review changes, very soon it will be done :smile:

[2016-11-28 04:53] seanlip commented on #2026
Follow-on update: @kevinlee12 has confirmed that this PR should be in by 15 Dec.

[2016-11-28 05:50] seanlip commented on #2698
This is now fixed in the simple-editor branch. Thanks @andromfins!

[2016-11-28 05:50] #2698 closed

[2016-11-28 06:28] seanlip commented on #2737
Fixed in #2772. Thanks for reporting, @prateekkonduru!

[2016-11-28 06:31] seanlip commented on #2586
I think this has now been done, actually, due to work by me and @tjiang11. Closing.

[2016-11-28 06:31] #2586 closed

[2016-11-28 06:45] seanlip commented on #2551
Hi @lukehollis, would you be up for taking a look at this?

[2016-11-28 07:22] seanlip commented on #2525
Superseded by #2735. Closing.

[2016-11-28 07:22] #2525 closed

[2016-11-28 07:24] #2737 closed

[2016-11-28 07:27] seanlip commented on #2588
Hi @Tamakimouto, would you be interested in trying to figure out how to solve this one?

[2016-11-28 14:09] bbriggs commented on #1602
No, I said months ago that I wasn't going to continue on issues for a
while. Sorry that this is still assigned to me. Feel free to give it to
someone else.

On Sat, Nov 26, 2016 at 1:35 PM, Allan Zhou <notifications@github.com>
wrote:

[2016-11-28 18:44] #2611 closed

[2016-11-28 18:55] AllanYangZhou commented on #1602
Got it, thanks!

[2016-11-28 19:16] giritheja commented on #2251
Hey @AllanYangZhou . I have just started on it. I am getting accustomed to end-to-end tests since it is my first time.

[2016-11-28 20:23] seanlip commented on #2776
Closing for now: I think this is just due to an incomplete download, possibly due to a poor Internet connection, and is not fixable on our end. @anweshknayak, please feel free to reopen if you find that this might be a symptom of a different problem.

[2016-11-28 20:23] #2776 closed

[2016-11-28 22:10] andromfins opened #2781 "In the simple editor, clicking elements in the sidebar should scroll the editor accordingly."
In the simple editor, the links in the sidebar are not functional yet, the mocks show this behavior when a link is clicked:
   - Clicking a link in the sidebar should scroll the editor accordingly.
   - The link (sub-item) clicked should be highlighted in the sidebar.

[2016-11-29 05:31] seanlip commented on #2665
First PR submitted (#2666). Not sure what needs to be done next -- @BenHenning, might it be worth bringing the table in this issue up to date?

[2016-11-29 08:04] seanlip commented on #2007
I haven't seen this in a while. I think it might have been fixed by a new version of Protractor, so I am going to close it.

[2016-11-29 08:04] #2007 closed

[2016-11-29 08:18] joshuacano commented on #2722
I have started on this process, I am pretty low on time this week so will not be able to really give it a good try till the weekend. Hope to have something by Sunday.

[2016-11-29 09:22] seanlip commented on #2754
Hi @Arunabh98 -- PTAL at #2783. Can we merge it? I think that should get you unblocked to update the classes here. (I suggest that you add the tags in extensions/dependencies/guppy.html btw so that all the guppy stuff is in one place.)

Also, @daniel3735928559 pointed me to [this page](https://daniel3735928559.github.io/guppy/index.css) -- look at the end. You can make the cursor blink! I suggest

[2016-11-30 07:51] seanlip commented on #2662
Update: guppy now allows entry of special characters, but math-expressions (the parser) does not.

[2016-12-01 02:49] markhalpin opened #2787 "Eliminate blue outline on graphic links"
Blue outlines on graphic links are currently used inconsistently throughout the site. For example, on the Navbar, CREATE and SIGN IN use the outline; DONATE does not. LIBRARY and ABOUT clearly have a treatment which doesn't involve the outline. CTA buttons use the outline; exploration cards do not.

Let's please eliminate the blue outline universally site-wide.This will make it easier to keep thin

[2016-12-01 03:21] markhalpin opened #2788 "Background color consistency"
As various pages get updated backgrounds etc. let's make sure the background "cream" color is consistent in all instances. Please make the default background color #e8e7e3 universally to match most recent mocks (this color is slightly warmer and generally makes exploration cards and text panels pop a little better).

[2016-12-01 05:04] markhalpin opened #2789 "On the Profile page, remove white panels behind exploration cards"
Author profile pages currently display exploration cards against white panels. This doesn't work as well as the cards against the cream background of the page as the white-on-white blends together (I'm guilty of this myself on a couple of mocks which I'm replacing, so apologies for providing a bad direction here). Below is current Author Profile page:
![authorpage_current](https://cloud.githubuser

[2016-12-01 05:59] seanlip opened #2790 "Allow testing of bulk emails prior to sending."
When sending a bulk email, it would be good to have a way to preview it so that the sender can make sure it shows up correctly in their inbox. The aim of this issue is to add a button to the email dashboard result page that's something like "Test this email". When clicked, it sends the email crafted by the sender to the submitter's email address, so that they can see what it looks like from the po

[2016-12-01 06:00] seanlip commented on #2789
FYI (as discussed in chat), I'm concerned about "Portfolio" being on the bottom left -- I don't think it's clear that it's a header for that section.

[2016-12-01 06:13] #2735 closed

[2016-12-01 11:10] #2754 closed

[2016-12-01 14:28] jayvdb commented on #2734
@seanlip , Now that translatewiki is live and working well, do you still need to coordinate new messages here on GitHub, or can we do that on translatewiki? (I believe it has features for notifying/managing translators of specific priority languages about mandatory messages)

[2016-12-02 04:30] markhalpin commented on #2789
@seanlip That makes sense. How about the attached instead? This more closely mirrors other headers site-wide. "Profile" is slightly redundant, but It's a little unbalanced-looking to have a header only over one element.
![authorpage_new](https://cloud.githubusercontent.com/assets/13863393/20822958/7782570a-b81d-11e6-8726-c29828e1ae10.jpg)

For portfolios of less than three cards, let's align them

[2016-12-02 04:48] markhalpin commented on #2787
As a reference, attached are two images of the undesirable behavior. I'm in Chrome 54.0.2...

Recreating this glitch is easy; it happens when the button is selected. Note that this also happens in seanlip's earlier version of Chrome, but with gray outlines rather than blue.

![blue_outlinea](https://cloud.githubusercontent.com/assets/13863393/20823269/ae696c6a-b820-11e6-919d-492d157e3030.png)
![bl

[2016-12-02 04:54] seanlip commented on #2789
This seems reasonable to me, thanks @markhalpin. Also /cc-ing @kerryxwang for a second opinion, since she worked on the most recent version of the profile page.

[2016-12-02 05:16] kerryxwang commented on #2789
Hi Sean and Mark -- the new background looks great. I agree that the cards pop out more with the new background. In the case of less than 3 cards, I believe the cards are already aligned to the top and the scrolling arrow only appears when there are more than 6 cards.

What do you both think about removing "Profile" and "Portfolio" completely? The labels may be redundant because it is intuitive th

[2016-12-02 05:17] seanlip commented on #2789
Thanks, @kerryxwang! With regards to the labels, I defer to @markhalpin; I'm fine either way.

[2016-12-02 05:21] markhalpin commented on #2789
Hi Kerry,
Darn it, @seanlip beat me to the deferring! I actually also proposed considering eliminating the headers, so if that also occurred to you, it's probably a good idea. I'd say let's eliminate them, and just move everything else up on the page a bit so the tops of everything are about where the top of the headers are on the mock (i.e. preserve the spacing between the navbar and the top of t

[2016-12-02 07:30] Nix07 commented on #1372
Hey @seanlip Can I take this issue? I have started working on it. Check this out.
![oppia](https://cloud.githubusercontent.com/assets/22103406/20826151/f5cf2982-b88e-11e6-8c0d-187b37a6a9b0.png)
And for the small size screen.
![oppia3](https://cloud.githubusercontent.com/assets/22103406/20826158/04d2ee3c-b88f-11e6-805b-506fc356e126.png)

[2016-12-02 07:41] Nix07 commented on #1372
Hey @seanlip can I take this issue? I have started working on it. Check it out.
![large](https://cloud.githubusercontent.com/assets/22103406/20826365/53c7854c-b890-11e6-84f5-1d7f29347608.png)
For the small screens
![small](https://cloud.githubusercontent.com/assets/22103406/20826425/c3227e88-b890-11e6-98f9-55782892a55b.png)

[2016-12-02 07:45] seanlip commented on #1372
Hi @Nix07, would you mind finishing the docstrings issue first? Thanks!

[2016-12-02 07:49] seanlip commented on #2789
Assigning to @Arunabh98.

[2016-12-02 07:51] seanlip commented on #2789
Actually, sorry -- I just realized @Arunabh98 is working on #2764. Reassigning to @naveenshukla.

[2016-12-02 07:59] seanlip commented on #2716
Assigning to @Oishikatta, as part of their work on general navbar issues.

[2016-12-02 08:03] seanlip commented on #1011
Note: The entire editor is going to be redesigned, and the UIs displayed here no longer exist, so I am closing this issue as obsolete.

[2016-12-02 08:03] #1011 closed

[2016-12-02 08:04] seanlip commented on #1355
/cc @prasanna08 FYI

[2016-12-02 08:06] seanlip commented on #1917
Hi @markhalpin -- just wanted to get your thoughts on this. Do you think that we should still do it, or are the library tiles fine as they are?

[2016-12-02 08:13] seanlip commented on #2789
Oops, turns out @naveenshukla is going to be away for a while! Re-assigning to @tjiang11.

[2016-12-02 08:30] Arunabh98 commented on #2764
So this is the approach we have decided. We will remove the dropdown which appears on public explorations and instead show the unresolved answers and open feedback on the card itself. This the new design of the card (thanks @markhalpin!) -

![dashboard_card](https://cloud.githubusercontent.com/assets/13691317/20827356/5f01fd2e-b869-11e6-8826-00ad5d7684d0.jpg)

The right clickable functionality wou

[2016-12-02 08:33] seanlip commented on #2764
Thanks, @Arunabh98!

Couple of things to note: please make sure to test for spacing issues, e.g. in #2730. We might need to move the right column to the left a little bit, and I suspect we may run into a similar issue with the new section at the bottom. (Though another idea might be to put the feedback + unresolved answers on the right, put the last-updated date on the bottom, and put the ratings/

[2016-12-02 15:05] markhalpin commented on #1917
Hi @seanlip I really think we should leave the Library tiles as is, regarding creator avatars. As has been noted, they don't do us any favors in terms of latency. Also, while the desire to personalize the tiles is a good one, the creator avatars don't really do this successfully: they're inconsistent (photo vs. graphic avatar vs. no avatar) and too small to be appealing, resulting in a cluttered-l

[2016-12-02 15:53] markhalpin commented on #2764
That's a great idea @seanlip. That way all of the static stuff (or at least things that will generally be of a fixed length no matter the data) is locked on the left, with the longer stuff (feedback/unresolved) on the right. I would suggest aligning so that the left side of the dingbats in the right column align with with the left side of the G+ icon.

[2016-12-02 17:29] seanlip commented on #1917
OK, sgtm! I will close this issue, then.

[2016-12-02 17:29] #1917 closed

[2016-12-02 17:30] #2788 closed

[2016-12-02 18:32] #2787 closed

[2016-12-02 18:57] markhalpin opened #2800 "Make menu behavior in Author Profiles consistent with site"
Menus site-wide generally have styling/behavior similar to that shown below, captured from the Library page:

![menu_yes](https://cloud.githubusercontent.com/assets/13863393/20846189/7d749046-b896-11e6-80f2-4af131cb63c8.png)

Note particularly the styling on mouseover: grayed text and dark box around name.

The Author Profiles menu has different styling: darker text and sharp vs round corners; als

[2016-12-02 19:11] markhalpin opened #2801 "Fix Library carousels which "rotate" incompletely"
As in the example below, some carousels in the Library seem to advance the next set of cards incompletely, with the result that a slice of a previous card remains visible, and the last card in the new set is shown incompletely:

![bad_scroll](https://cloud.githubusercontent.com/assets/13863393/20846758/1f4776ca-b899-11e6-8789-826fa02b6370.png)

This seems to be the case currently with the Featured

[2016-12-02 23:17] seanlip commented on #2734
Hi @jayvdb, we haven't fully set up the translatewiki integration yet (Niklas is helping us with a patch to get the output files into the right format), but once that's done I think we can do what you mentioned on translatewiki, though we'd still need to update the keys on our end.

I'm not totally sure how to use the features you mentioned, but I think that if we do key updates immediately after

[2016-12-02 23:24] seanlip opened #2803 "Add links to calls-to-action on the splash page."
On the default splash page, in the final bullet point on the bottom half of the page, make links out of "create" and "share". The former would go to the Create page, and the latter would go to the Library.

/cc @markhalpin @jaredsilver

[2016-12-03 09:24] #2686 closed

[2016-12-03 09:52] #2790 closed

[2016-12-03 10:10] bruno-oliveira commented on #2800
Hello,

Yes, I will look into this!

On Fri, Dec 2, 2016 at 6:57 PM, Mark Halpin <notifications@github.com>
wrote:

[2016-12-03 13:10] bruno-oliveira commented on #2800
How can I access the Author Profiles page?

[2016-12-03 17:04] jacobdavis11 opened #2808 "Oppia install on Ubuntu failing with "AttributeError: 'module' object has no attribute 'PROTOCOL_SSLv3'""
I am attempting a clean Oppia install on Ubuntu 16.04.1 LTS.

I have run
sudo apt-get install curl python-setuptools git python-dev python-pip python-yaml
and have python version 2.7.12

When I run bash scripts/start.sh I get the following error:

Starting GAE development server
[17:54:17] Using gulpfile ~/spare/oppia/gulpfile.js
[17:54:17] Starting 'collectDependencyFilepaths'...
[17:54:18] Finis

[2016-12-03 17:15] souravbadami commented on #2808
Hey @jacobdavis11! -- This issue is mentioned on wiki. See here: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29 (Troubleshooting).

[2016-12-03 17:35] jacobdavis11 commented on #2808
Thanks. I did that and got another error ending
ImportError: No module named _ctypes

The wiki says that for this you need numpy version 1.6.1, whereas I had version 1.11.0. Uninstalling numpy caused Oppia to start using its local version in ../oppia_tools/numpy/ and then it worked correctly.

Personally I am fine with this solution, but it would be nice if oppia could automatically use its local

[2016-12-03 17:45] souravbadami commented on #2808
Yep! That would be great.

[2016-12-03 18:24] markhalpin commented on #2800
Hi Bruno!
Open any exploration and you should see the Author Profiles menu at the bottom left, by the apple icon. Does that help?

[2016-12-03 19:19] bruno-oliveira commented on #2800
Hello,

Yes! Ive managed to see it! Ill start working on it tomorrow!!

On Sat, Dec 3, 2016 at 6:24 PM, Mark Halpin <notifications@github.com>
wrote:

[2016-12-04 02:01] seanlip commented on #2808
I don't think we can, actually. The only version of numpy supported in App Engine is 1.6.1, so we need our local installation to be compatible with that in order to reduce skew between the development and production envs.

[2016-12-04 02:01] #2808 closed

[2016-12-04 02:45] seanlip commented on #2128
@gastonche @Promxyl I'd like to suggest taking this up as a starter project. Would you be up for taking a look at the assigned pages, and submitting a PR? Thanks!

[2016-12-04 02:55] seanlip commented on #2761
Closing; superseded by #2764.

[2016-12-04 02:55] #2761 closed

[2016-12-04 02:57] seanlip commented on #2764
Actually, I think I made an error here. For the time being, the "unresolved answers" should only show a single number; there is currently no concept of "new" here. I think, though, that we can just show a single number, and everything else we've discussed still applies anyway.

Thanks to @Arunabh98 for pointing this out!

[2016-12-04 02:57] seanlip commented on #2730
Closing; this will be tackled as part of #2764.

[2016-12-04 02:57] #2730 closed

[2016-12-04 03:05] seanlip commented on #1812
I think this is indeed fixed -- I haven't seen it in months. Closing.

[2016-12-04 03:05] #1812 closed

[2016-12-04 03:11] seanlip commented on #1884
@jacobdavis11 -- what would you suggest for the text on the combined modal?

[2016-12-04 03:11] seanlip commented on #2189
Hi @Keksike, do you think you'd be up for taking this?

[2016-12-04 03:15] seanlip commented on #1773
@kevinlee12, just to check: does this still happen for you? I can't seem to repro it.

[2016-12-04 03:23] seanlip commented on #2627
Update: we should also send similar emails when a suggestion is auto-accepted, or accepted by someone other than the creator.

[2016-12-04 03:41] Keksike commented on #2189
Hey @seanlip, I can pick this up, though I'm afraid I probably won't have much time to code in the coming two weeks. If this is urgent, someone else should probably do it. :)

[2016-12-04 03:47] seanlip commented on #2189
Thanks a lot, @Keksike! I don't think it's super urgent that it needs to be done within the next two weeks, and I think it also fits quite nicely with what you've been doing so far. So, if you're up for it, please feel free to take it!

[2016-12-04 06:19] seanlip opened #2811 "After searching for an exploration in the library, there is no direct way to return to the library index page."
[Noted by @jacobdavis11 as part of release testing for v2.3.7]

To reproduce: enter some text in the search field in the library. From the search page, there is no clear way to return to the library index page.

/cc @markhalpin @Oishikatta

[2016-12-04 09:56] seanlip opened #2813 "Bypass the customization arg modal for interactions if there are no args to customize."
[Found by @jacobdavis11 during release testing]

To reproduce:
1. Create a new exploration.
2. Add some content, and click the "Add an interaction" button.
3. Select the Math tab and the NumericInput interaction.

You'll see a further modal explaining that there are no customizations. This is somewhat unnatural, and it would be better to instead automatically save the interaction after the user se

[2016-12-04 09:59] seanlip opened #2814 "It is unclear how to add new items in the SetInput interaction on mobile."
[Found by @jacobdavis11 during release testing.]

To reproduce:
1. Create an exploration.
2. Add some content, and add a SetInput interaction (found under the Math category).
3. Add a second state with an EndExploration interaction, save the exploration, and publish it.
4. Play the exploration on a mobile device.

You'll find that the SetInput interaction doesn't have a clear way to add new items.

[2016-12-04 19:53] kevinlee12 commented on #1773
Hi @seanlip, issue no longer occurs, closing this issue.

[2016-12-04 19:53] #1773 closed

[2016-12-04 20:29] jacobdavis11 commented on #1884
I would just combine the existing text:
-----------
Congratulations, you're about to publish an exploration!

 Before publishing, please ensure that your exploration fits the site publication criteria. In particular, it should:

    help its intended audience learn something new
    provide useful feedback/guidance to help them if they get stuck.

Just a few more things before you publish:

[title

[2016-12-04 20:30] jacobdavis11 commented on #2808
Is it not possible to use the local copy of numpy that we install by default, rather than using the global copy (which may have the wrong version) if it is available?

[2016-12-04 23:06] seanlip commented on #2808
Oh, sorry, I misread your comment.

I'm not sure if it's possible or not. We'd have to modify the users pythonpath before Oppia runs, but I worry that, if not cleaned up properly, this could result in an unwanted change to the user's overall system prefs. I think it's fine to file a new issue for this, though.

[2016-12-05 00:28] jaredsilver opened #2815 "Add third button to the Donate page."
Some people may not know that you can donate with a credit card through PayPal. Therefore, adding a third button that says “Credit Card” may be beneficial. This button can redirect to the same page as the PayPal button, where the user will then see that they can use a card to donate via PayPal.

[2016-12-05 00:32] jaredsilver opened #2816 "Add call to action buttons to the Foundation page."
Adding more overt calls to action (i.e. in the form of buttons) may increase the rate at which people viewing this page get involved in the project. For example, we can add a button that links to the Donate page and a button that links to the Get Involved page. These might be most effective if placed inside the page card.

[2016-12-05 00:37] jaredsilver opened #2817 "Move call to action buttons inside page card on About & Teach with Oppia pages."
Currently, the calls to action on both the About and Teach with Oppia pages are outside the main page card. Moving them inside the main page card would likely increase clickthrough rates.

For the Teach with Oppia page, it may be better to move _just_ the "Apply to Teach with Oppia" button inside and leave the other two where they are.

[2016-12-05 02:41] markhalpin opened #2820 "CTA buttons on Splash page are misaligned in older versions of Safari"
Safari (8.0.3) displays CTA buttons in a strange location, at any screen size:

![safari_splash](https://cloud.githubusercontent.com/assets/13863393/20872148/4b037f8e-ba6a-11e6-8b52-e0e495a353ad.png)

Chrome continues to display CTAs correctly:

![chrome_splash](https://cloud.githubusercontent.com/assets/13863393/20872156/5b9195ca-ba6a-11e6-9177-a6eda4c383e1.png)

[2016-12-05 02:49] markhalpin opened #2821 "Vertical Alignment of Headers amiss in Safari"
In Safari, vertical alignment of headers in About, Get Started, and Teach with Oppia is not centered at any screen size:

![verttext_safari](https://cloud.githubusercontent.com/assets/13863393/20872322/82df292a-ba6b-11e6-9005-54d2b8bc259a.png)

Vertical centering is correct in Chrome:

![verttext_chrome](https://cloud.githubusercontent.com/assets/13863393/20872336/92b3ae70-ba6b-11e6-8d69-ac2f6226c

[2016-12-05 04:01] #2803 closed

[2016-12-05 05:54] seanlip commented on #2722
Hi @joshuacano! How is this going?

[2016-12-05 05:57] seanlip commented on #2817
/cc @markhalpin -- thoughts? (If you like the idea, would it be possible to do a mock?)

[2016-12-05 07:57] gastonche commented on #2128
@seanlip  yes i will take this up as a starter project in order to start getting acquainted with the oppia code base as much as possible

[2016-12-05 17:37] joshuacano commented on #2722
Going well should have something by the middle of the week.

Joshua Cano

[2016-12-06 05:19] seanlip commented on #2816
Passing to @markhalpin for thoughts.

[2016-12-06 05:21] arku opened #2825 "Exploration feedback tooltip gets the height of the feedback textarea and then shrinks"
Steps to reproduce:

1. Login and create a simple exploration.
2. Go to the library and play the exploration.
3. Leave a feedback by clicking on the feedback icon in the navbar.

You should find the following behaviour where the tooltip appears tall(same as the height of the textarea).

![tooltip_design_bug](https://cloud.githubusercontent.com/assets/7039523/20913920/9e3bc480-bba1-11e6-89ba-d581a0

[2016-12-06 05:24] arun1595 opened #2826 "Social icons in the exploration card flow out of the card"
**Screenshot**

![social_icons_flow](https://cloud.githubusercontent.com/assets/7039523/20914010/5218ee9c-bba2-11e6-927b-83d85d52f6ae.png)

I guess the bug is because the notification message(`"12 (12 new)"`) spans to the next line.

[2016-12-06 05:25] seanlip commented on #2826
/cc @Arunabh98 does your new PR address this?

[2016-12-06 06:03] arun1595 opened #2827 "Write more robust e2e tests for fallbacks"
We recently ran into a serious issue with fallbacks not behaving as they ought to, which @Keksike fixed in #2615 (thanks, @Keksike!) The aim of this issue is to update the Protractor e2e tests for fallbacks behaviour so that they test a wider range of scenarios and are better at guaranteeing correctness. A requirement of the new tests is that they would have caught the error in #2538, but it is fi

[2016-12-06 06:04] #2616 closed

[2016-12-06 06:05] arun1595 commented on #2616
Superseded by #2827

[2016-12-06 06:13] markhalpin commented on #2817
Yep, will do, though it will be later in the week.

[2016-12-06 07:27] Oishikatta opened #2828 "IE9: Mobile navigation slideout is fixed on page for desktop"
Expected:

- Navigation functions similarly to other desktop browsers

Observed:

- The mobile navigation slideout is fixed on the page, covering button to begin the exploration at small screen sizes.

Steps to reproduce:

- Visit the website in Internet Explorer 9

Example small screen size:
![Small Screen Size](https://i.imgur.com/ZC3ioqM.png)

Example large screen size:
![Large Screen Size](htt

[2016-12-06 07:31] Oishikatta opened #2829 "IE9: Code explorations are not functional"
Expected:

- Code explorations function similarly to other desktop browsers

Observed:

- Code explorations do not run in Internet Explorer 9, clicking the "play" button has no effect.

Steps to reproduce:

- Open a code exploration in Internet Explorer 9, for example https://www.oppia.org/explore/m0LGDfsrWo4c?collection_id=inDXV0w8-p1C

Example:
![](https://i.imgur.com/AV2173d.png)

[2016-12-06 07:35] Oishikatta opened #2830 "IE9~11: Share exploration buttons in bottom bar are off-screen"
Expected:

- Share exploration buttons are visible

Observed:

- Share exploration buttons are off-screen. Changing resolution/window size does not alter placement.

Steps to reproduce:

- Open an exploration in Internet Explorer 9~11

Example:

![](https://i.imgur.com/lsn3szL.png)

[2016-12-06 07:44] Oishikatta opened #2831 "IE: Formatting issues with info card in explorations"
The info card has formatting issues on IE11.

Steps to reproduce:

- In Internet Explorer, open an exploration and then click on the info icon next to the exploration name in the top bar.

Expected:

- Info card looks similar to other desktop browsers

Observed:

- Info card has minor formatting issues in IE11 (Tag icon overlaps with tags).

Example IE11:
![](https://i.imgur.com/ly9QfTC.png)

[2016-12-06 07:54] Oishikatta opened #2832 "Exploration summary tiles are slightly cutoff by bottom bar"
Expected:

- There is some space between the bottom of the summary tiles and the bottom bar.

Observed:

- There is no space between them, the cards are slightly cutoff.

Steps to reproduce:

- View an exploration with summary tiles at the end in IE11 or Chrome (tested on Windows).

Example:
![](https://i.imgur.com/lsn3szL.png)

[2016-12-06 09:07] #2248 closed

[2016-12-06 11:14] Arunabh98 commented on #2826
Upto 2 numbers, the entire thing stays inside the card. Upto 3 numbers `"120 (120 new)"` flows out of the card. There is no effect on the social icons.

[2016-12-06 22:36] #2764 closed

[2016-12-06 22:37] seanlip commented on #2826
Thanks! I believe this can be closed, then, since @Arunabh98's PR has been merged into develop. @arun1595, would you mind verifying that this has been fixed, and closing this issue if that's the case?

[2016-12-07 01:19] arun1595 commented on #2826
@seanlip  I just verified it. This is how it looks when we have three-digit notification message count.

![300new](https://cloud.githubusercontent.com/assets/7039523/20950761/9b9c7dfe-bc47-11e6-9b56-2807dae5c11b.png)

I also tried it a with 4-digit number(not realistic, though), where the text flows out of the card. I am not sure if we should worry about it.

The notification count has no effect o

[2016-12-07 01:23] seanlip commented on #2826
Hm, I don't think I'm too worried about numbers with > 2 digits for the time being -- we can deal with that later when it happens. If we restrict to just that, does everything look fine?

(I was also thinking, at some point, that we might want to just show the number of new feedback items -- the total number of feedback items isn't actually very useful, to me at least. But we can do that after dis

[2016-12-07 01:25] arun1595 commented on #2826
@seanlip

Yeah.

I agree.

Let me close this issue as the social icons remain in the card no matter how notification count changes.

[2016-12-07 01:25] #2826 closed

[2016-12-08 18:43] joshuacano commented on #2722
I've been splitting up, coming along. I've got to switch to some other work for a few days but will get right back on this on Saturday, and should be done then.

[2016-12-08 23:21] seanlip commented on #2042
Deassigning @mamat-rahmat due to inactivity.

[2016-12-08 23:22] seanlip commented on #2734
Deassigning @mamat-rahmat due to inactivity.

[2016-12-09 01:41] tjiang11 commented on #2801
Sorry for starting this so late, but I've been looking at it for a while and thought to discuss a little how to make the changes from a code perspective, because it seems like it could potentially involve a lot of changes depending on the approach.

Previously, before collections, all carousels had the same width, so the code for scrolling and deciding the width of each carousel was identical. Wit

[2016-12-09 03:01] seanlip commented on #2801
Hi @tjiang11!

I think it would actually be nice to find a way to represent exploration and collection summary tiles such that they both have the same dimensions. I think that will, in the long run, be much simpler.

So, looping in @markhalpin: Mark, what do you think the best way would be to have exploration and collection tiles display side-by-side while keeping both elements the same size and h

[2016-12-09 14:38] #2789 closed

[2016-12-10 03:36] seanlip commented on #2800
Hi @bruno-oliveira, how's this going?

[2016-12-10 06:27] arun1595 commented on #1450
@kahkhang Any updates on this?

[2016-12-10 06:36] seanlip commented on #2722
That's good to know, thanks @joshuacano!

[2016-12-10 06:50] seanlip commented on #2002
Update (per @Oishikatta):
- [ ] Fix base-M things (current breakpoint is 800px, spec is 768) and ensure that this don't break any pages. (Incoming PR estimated by 13 Dec.)
- [ ] Exploration editor page: implement simple editor tools for M (768~1023px).

(@Oishikatta, please feel free to modify the above or add more details as you see fit. Thanks!)

[2016-12-10 07:07] seanlip commented on #2178
I'm going to close this; translations are now being handled via translatewiki.

[2016-12-10 07:07] #2178 closed

[2016-12-11 10:38] seanlip commented on #2548
I'm working on this. I'm going to do the following:
- For private explorations, take their rating/plays/num-open-threads/num-unresolved-answers to be 0.
- Fix a bug where private explorations were not being sorted by title.

PR coming soon.

[2016-12-12 04:19] #2548 closed

[2016-12-12 04:34] seanlip opened #2840 "Add a backend test for ensuring that test emails from the email dashboard don't get sent to the query recipients."
In the email dashboard, there is now functionality for sending test emails to oneself. We should add a backend test with a nonempty query recipient set to ensure that these emails do indeed go only to the submitter, and not to anyone in the query set.

[2016-12-12 06:31] seanlip opened #2841 "Update the documentation on oppia.github.io"
Much of the documentation at oppia.github.io -- e.g. [this page](http://oppia.github.io/#/CreatingAnExploration) -- refers to an older design of Oppia, and is not really applicable to the current version. We should update the documentation to match the current flow.

[2016-12-12 11:35] seanlip opened #2842 "Erroneous submission of answers in the learner view makes it impossible for learners to continue the exploration."
To reproduce:

1. Create a new exploration.
2. Enter anything in the content box.
3. Choose a supplemental interaction, like InteractiveMap.
4. Pick a rule that provides some feedback, and then navigates to a new card.
5. Go to the preview tab, and activate the rule.
6. Instead of clicking the "continue" button on the help card that appears, resubmit another answer.

Observed behaviour: The help c

[2016-12-12 19:15] BenHenning commented on #2829
I don't think we are intending to support IE9 and below. I'm actually a bit surprised you're able to use IE9 without a forced upgrade to a newer version.

Will mark this as triage to discuss in TL meeting to verify our cut-off of IE9.

[2016-12-12 19:17] BenHenning commented on #2781
Hi @andromfins, how's this going?

[2016-12-12 19:19] BenHenning commented on #2744
Tentatively unassigned @rachelwchen since it doesn't look like there's been progress on this. Please feel free to reassign yourself if you have been working on it.

[2016-12-12 19:20] BenHenning commented on #2727
Hi @anmolshkl, how's this going?

[2016-12-12 19:21] BenHenning commented on #2726
@anmolshkl is there anything you're blocked on? Happy to answer any questions, if so.

[2016-12-12 19:23] BenHenning commented on #2716
Hi @Oishikatta, how's this going?

[2016-12-12 19:23] rachelwchen commented on #2744
Hi all,

I'm out of town until after Christmas -- will reassign myself when I'm back
to work on it.

Thanks!

On Mon, Dec 12, 2016 at 11:19 AM, Ben Henning <notifications@github.com>
wrote:

--
Rachel Chen

Design Lab at UC San Diego x SAP
www.rachelwchen.com

[2016-12-12 19:24] BenHenning commented on #2680
Hi @MAKOSCAFEE, how's this going?

[2016-12-12 19:24] BenHenning commented on #2665
Yep @seanlip, planning on making an update here soon.

[2016-12-12 19:25] BenHenning commented on #2640
This depends on #2665 being completed.

[2016-12-12 19:25] BenHenning commented on #2588
Hi @Tamakimouto, how's this going?

[2016-12-12 19:26] BenHenning commented on #2569
Happy to yield this to someone else; thanks for taking it @arun1595!

[2016-12-12 19:26] BenHenning commented on #2557
Hi @Slepice1, how's this going?

[2016-12-12 19:28] BenHenning commented on #2543
@anmolshkl both @seanlip and I reviewed the doc a few times. Can you point to a specific thing you would like approval on so we can get this moving forward?

[2016-12-12 19:30] BenHenning commented on #2530
@Arunabh98 are you still working on this?

[2016-12-12 19:30] BenHenning commented on #2526
@kevintab95 how are things going?

[2016-12-12 19:37] BenHenning commented on #2485
FYI this is related to work in #2700. That issue is tracking updating all directives to be served statically (instead of being inlined within controller HTML pages). There's other work for splitting up base.html and avoiding the Jinja macros used there. JS scripts are already not being inlined with Jinja. These three efforts will reduce our use of Jinja significantly.

Even with those, we still ne

[2016-12-12 21:40] seanlip commented on #2485
NB @Andimeo has actually wrapped up work on this issue and is currently working on ML stuff. He created #2631 to test what static serving might look like, and found significant improvements. We don't have a route to get to that stage yet, and it will require a more significant refactor to get there along the lines that @BenHenning has described.

[2016-12-12 22:44] Tamakimouto commented on #2588
A little longer, figuring out how latex works while I'm at it.

[2016-12-13 02:24] seanlip opened #2845 "Interactions should become inactive after an answer is submitted and a next card has been queued."
(Noted by @maitbayev as part of a review of #2843.)

To reproduce:

1. Create a new exploration.
2. Enter anything in the content box.
3. Choose a supplemental interaction, like InteractiveMap.
4. Pick a rule that provides some feedback, and then navigates to a new card.
5. Go to the preview tab, and submit an answer that activates the rule. A help card appears with a "Continue" button.

Expected

[2016-12-13 03:19] anmolshkl commented on #2726
@BenHenning I have submitted a [PR](https://github.com/oppia/oppia/pull/2846) for the same. PTAL, thanks!

[2016-12-13 03:20] anmolshkl commented on #2727
@BenHenning, @Andimeo is working on this issue and I have recently reviewed the PR. Hope to fix this pretty soon!

[2016-12-13 03:28] anmolshkl commented on #2543
@BenHenning There were a few things that I had to do and that needed to be reviewed by you to close this. Following are the various tasks and their status to close this issue:
1. Benchmarking of StringClassifier class - DONE
2. Create a modified diagram of the classification process - PENDING, I'll do it once I'm done with the current issue at hand.
3. Front-end tests - Not required as of now
4. U

[2016-12-13 05:01] seanlip commented on #2255
To add a bit of context: this may be due to the filepaths being used in CSS (either in oppia.css or inline) where we don't have a way to switch paths based on the dev env.

[2016-12-13 05:13] seanlip commented on #2255
This can be handled on a case-by-case basis:
- [x] delete unused images (background.jpg and icons-bg.png)
- [x] change warning.png to an icon
- [x] move favicon.ico and robots.txt to assets/

[2016-12-13 05:20] BenHenning commented on #2227
For clarification, performance tests typically follow this format:

- Visit a page
- Collect metrics
- Visit a page again (for cached tests)
- Collect cached metrics

It doesn't make sense for us to do these 2-4 steps for each test per page; we can visit a page (like the splash) once and collect metrics, then have each of the four tests simply validate the metrics recovered to ensure the page size

[2016-12-13 05:24] BenHenning commented on #2129
Triage decision: we're deprioritizing this and closing it in favor of not defensively fixing problems. If this ends up being a significant problem after future performance analyses, we will look into this again.

[2016-12-13 05:24] #2129 closed

[2016-12-13 05:29] BenHenning commented on #2118
Closing this. If this becomes an important problem to solve, it should happen reactively rather than proactively.

[2016-12-13 05:29] #2118 closed

[2016-12-13 05:32] seanlip commented on #2099
Note: We should also remove unnecessary JS/CSS inclusions from other pages, not just base.html.

[2016-12-13 05:32] seanlip commented on #2099
/cc @MAKOSCAFEE, who is doing a preliminary investigation for the About page.

[2016-12-13 05:39] BenHenning commented on #2098
This needs some investigation, we should figure whether we currently send SVG files using GZIP compression, or if we should pursue optimizing and minimizing these. The SVGs should be served using cache slugs, so this is more a matter of initially downloading the files.

[2016-12-13 05:42] BenHenning commented on #2098
In retrospect, it isn't very clear what this issue is discussing. The GZIP bit will be a note added to the project page for speed.

[2016-12-13 05:42] #2098 closed

[2016-12-13 05:48] BenHenning commented on #2088
Discussed again in TL meeting: this issue should be started by investigating whether there's a feasible way to redirect error output within Python so that we can cleverly ignore webtest error output, but still keep some meaningful output. This is an open ended and ambiguous investigation, but it needs to happen before we try to solve the original issue.

[2016-12-13 05:48] BenHenning commented on #2088
We are also not keen on external solutions (ie patching webtest to not output the errors).

[2016-12-13 05:48] BenHenning commented on #2119
It seems this was already mentioned in #2073.

[2016-12-13 05:48] #2119 closed

[2016-12-13 05:50] BenHenning commented on #2073
https://github.com/oppia/oppia/issues/2072#issuecomment-225101527 describes the general process for solving this issue, as well, except it needs to be adapted to work on Travis.

[2016-12-13 05:50] BenHenning commented on #2072
Closing this since #2073 is higher priority. It's not clear whether we actually need local regression testing.

[2016-12-13 05:50] #2072 closed

[2016-12-13 06:14] Oishikatta commented on #2829
This issue stems from a user feedback, although it's possible they were using IE10 and not IE9 (they didn't specify). I haven't tested IE10 yet.

If IE9 is not intended to be supported, it might be worth adding a notice to inform users on IE9 that they should use a different browser and/or preventing feedback submission.

[2016-12-13 06:27] Oishikatta commented on #2716
I'm planning to have a PR addressing this ready tomorrow. Per spec, at 768~1024px the buttons other than edit/preview should be hidden ("simple editor tools").

I think a better solution could involve detecting the overflow issue with javascript, and hiding the extra tools at that point rather than just at 1024px. But that's something to discuss on the spec probably. That would already happen as p

[2016-12-13 06:37] seanlip commented on #2716
I might be able to help a bit. What function did you want to run after the templates have rendered?

[2016-12-13 07:31] Oishikatta commented on #2716
Well to run any function, really.

For example to take something like is used in the library:

[code]

But in addition to running on resize, it should run after rendering has completed. I haven't yet figured out how to do that though.

[2016-12-13 07:42] seanlip commented on #2716
I guess what I mean is, what does the function do that you need it to run specifically after rendering has completed? That's not usually a thing we "listen" for in Angular, though if you're looking for something that runs at the outset, then you can just call the function in the main controller of the page.

For example, in profile/Profile.js, the `$rootScope.loadingMessage = 'Loading';` call is r

[2016-12-13 07:46] seanlip commented on #2255
Update: PR #2847 deletes the unused images.

[2016-12-13 08:17] Oishikatta commented on #2716
For this particular issue, it would be really simple to do with just adding a css media query.

But I'm thinking for the overall, detecting overflow. Profile.js has a promise from the http request, it can call .then() on. But I haven't found anything like that to use for 'templates are fully rendered' yet.

[2016-12-13 08:43] seanlip commented on #2716
Ah, I see what you mean. I don't have a good solution for that, I'm afraid.

That said, I'm inclining more towards the hard breakpoints though, tbh -- it's likely to be simpler to maintain.

[2016-12-13 09:05] MAKOSCAFEE commented on #2680
Hi @BenHenning there is a PR for this already. #2835

[2016-12-13 12:03] seanlip commented on #2543
Thanks, @anmolshkl! I'm going to have to defer to @BenHenning, I'm afraid, since I'm not going to be around for the next few days.

[2016-12-13 13:36] Arunabh98 commented on #2530
As of now, I am not working on this.

[2016-12-13 22:58] Tamakimouto commented on #2588
Not sure if this fixes it. I'm just having the Mathjax scale the output to 90% of the surrounding text since it apparently scales to 100% by default. It does look smaller to me (?).

![scale](https://cloud.githubusercontent.com/assets/12903732/21162831/6a57b50e-c15d-11e6-825f-c0251d77833f.png)

Thoughts?

[2016-12-13 23:34] kevinlee12 commented on #2026
Whoops, I had a date miscalculation when I last replied to @seanlip, I will finish by Dec. 19-21

[2016-12-14 00:18] #2842 closed

[2016-12-14 00:19] maitbayev commented on #2842
closed via #2843

[2016-12-14 20:19] Slepice1 commented on #2557
I have started working on implementation.

[2016-12-17 15:25] wxyxinyu commented on #2128
hey @gastonche @Promxyl how is this going?

[2016-12-17 15:42] wxyxinyu commented on #2128
hey @gastonche @Promxyl I'm de-assigning some of your pages, so others can work on this too.

[2016-12-17 20:35] kevintab95 commented on #2526
Hi @BenHenning, so sorry for the late reply. I'm currently working on an intermediate version of the collection view, once that is done Tony and I will be trying to implement the final version. Thanks!

[2016-12-20 06:34] markhalpin commented on #2801
hi Tony,
Sorry to be offline for a bit. I think, having given this some thought, that it does make sense per your suggestion to go with graphics that are a uniform size for both single explorations and collections. Would you like to take charge of implementing this? The best way to approach it, I think, is to maintain the existing format for the single cards, and to add an svg to the upper left co

[2016-12-20 23:25] kevinlee12 opened #2855 "Cannot see help text when JS is turned off"
When JS is turned off, the user sees no help text (see the screenshot below). The goal for this issue is to find a way to recover the "lost" text that was originally there.

The `noscript` implementation was done in #1845.

![image](https://cloud.githubusercontent.com/assets/5758256/21371776/160e8db8-c6c8-11e6-8520-63015745fde0.png)

[2016-12-21 01:27] kevinlee12 commented on #2855
The issue here is that we are relying on the translation engine (that is in JS) to display the text. We may have to serve the text directly from the backend.

[2016-12-21 03:16] #2588 closed

[2016-12-21 04:49] kevinlee12 commented on #2042
This might help: https://blog.travis-ci.com/2013-05-20-network-timeouts-build-retries/

[2016-12-21 13:44] seanlip opened #2857 "Exclude JSON files in the assets/i18n directory from spaces/tabs checking"
From now onwards, the JSON files in assets/i18n are going to be generated by translatewiki. However, translatewiki autogenerates its JSON files using tabs, and we have a convention in this codebase that all files should use spaces.

On balance, it seems simpler to exclude JSON files in assets/i18n from the spaces/tabs check, in order to reduce the manual steps needed for integrating new translatio

[2016-12-21 16:24] seanlip commented on #2800
Deassigning @bruno-oliveira due to lack of response.

@Tamakimouto, would you be up for working on this?

[2016-12-22 02:29] Tamakimouto commented on #2800
Sure, should be a fairly easy fix.

[2016-12-22 04:39] #2855 closed

[2016-12-22 07:02] kevinlee12 commented on #1675
@AllanYangZhou, any updates on this?

[2016-12-22 07:04] kevinlee12 commented on #1450
De-assigning @kahkhang due to inactivity. @kahkhang, if you would like to pick this up again, please talk with any maintainers or tech leads.

[2016-12-22 07:11] kevinlee12 commented on #2002
Hi @Oishikatta, how is this issue coming along?

[2016-12-22 07:11] kevinlee12 commented on #1855
Hi @razat249, how is this issue coming along?

[2016-12-22 07:12] kevinlee12 commented on #1811
Hi @AllanYangZhou, how is this issue coming along?

[2016-12-22 07:13] kevinlee12 commented on #2042
Hi @ubhisat, how is this issue coming along?

[2016-12-22 07:14] kevinlee12 commented on #2251
Hi @giritheja, how's this issue coming along?

[2016-12-22 07:15] kevinlee12 commented on #2160
De-assigning @526avijitgupta. @526avijitgupta, feel free to assign yourself when you are ready to pick it up again!

[2016-12-22 07:17] kevinlee12 commented on #2455
Hi @raju249, did you find anything from the Vagrant run? thanks!

[2016-12-22 07:18] kevinlee12 commented on #2397
De-assigning @gvishal, feel free to reassign yourself when you would like to pick it up!

[2016-12-22 07:19] kevinlee12 commented on #2287
Hi @Arunabh98, did you get a chance to prepare the design doc? (If you did, please post it here) Thanks!

[2016-12-22 07:21] kevinlee12 commented on #2487
De-assigning @MAKOSCAFEE due to inactivity, please feel free to re-assign yourself when you are ready to pick this up again!

[2016-12-22 07:23] kevinlee12 commented on #2781
De-assigning @andromfins due to inactivity. Please feel free to talk with any maintainer to be reassigned.

[2016-12-22 07:24] kevinlee12 commented on #2832
Hi @arun1595, how is this issue coming along?

[2016-12-22 08:04] giritheja commented on #2251
Hey @kevinlee12, This issue is almost done in #2251. There are some little hiccups, which are to fixed before it is merged. I am waiting for @arun1595 reply before I send in the fixes.

[2016-12-22 10:37] seanlip commented on #1955
Revisiting this, I think it's actually way too complicated. Can we just stipulate, for now, that any collection may only contain public explorations?

[2016-12-22 11:22] seanlip commented on #2251
@giritheja -- I think you mean #2834? I've replied to your comment.

[2016-12-22 11:26] seanlip commented on #2128
Deassigning both @gastonche and @Promxyl fully due to lack of response.

[2016-12-22 11:34] #2727 closed

[2016-12-22 11:48] anmolshkl commented on #2726
Hi @BenHenning, did you get a chance to take a look on the PR? Please let me know if there is any change to be made. Thanks!

[2016-12-22 22:35] tjiang11 commented on #2801
I think that looks like a good idea! And yes I will work on it and will have a PR up soon.

[2016-12-23 01:36] tjiang11 opened #2859 "Vagrant ssh does nothing"
I'm having some troubles with Vagrant, which is strange because it used to work on my Windows machine.

Basically, when I try to vagrant ssh into my virtual machine, it doesn't do anything. I'm just taken to a new line and am not in the virtual machine's terminal. I know the virtual machine is running at least because when I pause the virtual machine and try vagrant ssh again, it says that I need

[2016-12-23 01:44] kevinlee12 commented on #2859
(Putting the triage tag since I don't have the right machine to replicate this issue.)

[2016-12-23 07:39] seanlip commented on #1955
Per discussion with @BenHenning, we are not going to pursue this issue. Instead, ACLs for collections will be simplified as follows:
- Each collection has exactly one owner.
- The collection owner can add public exps to the collection, and create new private exps in it.
- All explorations in published collections must be public. If a collection that is about to be published contains private exps,

[2016-12-23 07:39] #1955 closed

[2016-12-23 07:40] seanlip commented on #2781
Reassigning -- @andromfins has been in contact, and is still working on this. He is currently handling the user scrolling part and hopes to get a PR in by this weekend.

[2016-12-23 08:06] kevinlee12 commented on #2026
New checklist:
- [ ] show single owner
- [ ] show private/public status

[2016-12-23 10:18] seanlip opened #2860 "Remove the need for duplicated CSS rules for learner card content."
(Originally noted by @maitbayev)

In the learner view directive, there are some [CSS rules](https://github.com/oppia/oppia/blob/bf2331533cddcfee50bf37b5bcc80d1bd360e817/core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html#L206) that artificially need to be "kept in sync" with those in oppia.css.

This isn't great; instead, we should try and isolate a common standalone

[2016-12-23 10:26] seanlip opened #2861 "Reuse the tutor-card directive for the offscreen card (used to determine the height to animate to)."
In the learner view, we have a tutor-card [directive](https://github.com/oppia/oppia/blob/bf2331533cddcfee50bf37b5bcc80d1bd360e817/core/templates/dev/head/pages/exploration_player/TutorCardDirective.js), and we also have a [future-tutor-card](https://github.com/oppia/oppia/blob/bf2331533cddcfee50bf37b5bcc80d1bd360e817/core/templates/dev/head/pages/exploration_player/conversation_skin_directive.htm

[2016-12-23 10:36] seanlip opened #2862 "Audit and fix accessibility and low-contrast issues (for, e.g., users of screen readers)."
WAVE is a web accessibility tool that can be used to check how accessible a website is for screen reader users: http://wave.webaim.org/ We can use this to test Oppia pages for accessibility, and make the appropriate fixes (e.g. adding ARIA tags). The WAVE site can also be used to check for contrast issues.

[2016-12-23 10:37] seanlip commented on #695
Superseded by #2862, which is more concrete.

[2016-12-23 10:37] #695 closed

[2016-12-23 10:42] seanlip opened #2863 "Create frontend domain objects for parts of explorations, and refactor the exploration editor to use them."
We currently have frontend domain objects for Exploration and State: https://github.com/oppia/oppia/tree/develop/core/templates/dev/head/domain/exploration.

However, many of the subparts of an exploration are still represented as opaque JS dicts. It would be better to use frontend domain objects instead (defined with appropriate methods), constructed in a similar way to the Exploration and State

[2016-12-23 10:59] seanlip commented on #2862
Also, note that in Chrome, you can download the ChromeVox extension (and, if you like, the US-Female-Text-to-Speech extension) and turn them on to hear the page as a screen reader user would. If you have Firefox on Windows, you can also use NVDA. Yet another alternative screen reader is JAWS.

That said, many of the existing issues should be fixable just by referring to the WAVE output and recomme

[2016-12-23 11:01] seanlip commented on #2857
Note to contributors: the relevant files are probably some subset of scripts/pre_commit_linter.py, scripts/pre_push_hook.py and scripts/run_presubmit_checks.sh.

[2016-12-23 12:28] Nix07 commented on #2815
@seanlip I will take this issue. Please assign it to me.

[2016-12-23 12:37] seanlip commented on #2815
Thanks, @Nix07. I've just added you to the org; please accept the invitation on github.com/oppia, and then feel free to add yourself as the assignee. Thanks!

[2016-12-23 14:19] Arunabh98 commented on #2287
Yes I did create the deisgn doc. Here is it - [Design Doc](https://docs.google.com/document/d/1BkQ3E_ELdp6fs93mgx84TZgpXWaN2_iCO5SoJH3vZKQ/edit?usp=sharing)

[2016-12-23 20:25] kevinlee12 commented on #2287
Thanks @Arunabh98!

[2016-12-24 05:46] #2800 closed

[2016-12-24 05:49] #2026 closed

[2016-12-24 05:52] seanlip commented on #2726
Hi @anmolshkl -- just a quick FYI re the github conventions, the assignee of an issue should be the person who is submitting a PR, so I've assigned this back to you. The assignee of a PR, on the other hand, should be the person who needs to act next on the PR (this could be the reviewer or the submitter). Thanks!

[2016-12-24 06:27] seanlip commented on #1695
Hi @Tamakimouto -- this is a somewhat harder problem than the previous PRs you've tackled, since it is a bit open-ended, and the best solution isn't yet known. So, I think it might be a good challenge!

If you'd like to have a go at investigating this, here's what I would suggest as a first milestone: prepare a PR that establishes a pattern for sharing a _single_ constant of your choice between th

[2016-12-25 04:41] naveenshukla commented on #2741
Hi @rachelwchen , I suggest you to modify above  design according to following two points :
- I can't see "SIGN IN" option anywhere in design. It'd be better if you incorporate "SIGN IN" option into above design.
- Browsing throught scrolling is easier for user in compare to tapping. It gives user a smoother experience. It'd be better if you remove those side arrows from explorations of same categ

[2016-12-25 04:59] #2680 closed

[2016-12-25 17:43] anmolshkl commented on #2726
Got it! Thanks for the clarification @seanlip.

[2016-12-26 03:48] naveenshukla opened #2868 "Social buttons in hamburger menu overlaps on “Donate” option while viewing library page horizontally in mobile."
To reproduce :
- Enable “auto rotation” in your android phone (Disable “rotation lock” in ios).
- Create an exploration.
- Go to the library page and change the orientation of phone from vertical to horizontal.
- Open the hamburger menu. Observe the behaviour.

Expected : The menu items should be visible and should respond properly when clicked.

Observed : Menu items are overlapping on each other

[2016-12-26 03:53] naveenshukla opened #2869 "No feedback option while playing an exploration in mobile."
Unlike the desktop application, mobile does not contain feedback option in header of the exploration.

To reproduce :

- Create an exploration.
- Log out and play the created exploration in mobile.

Expected : There should be “feedback” option in header of the exploration.
Observed : There is no “feedback” option in header of the exploration.

An alternative to putting it in the navbar might be to

[2016-12-26 04:01] naveenshukla opened #2870 "Oppia’s exploration card appears a little aligned to the right in some mobile devices with small screens (<= 4.2 inch) while it should be in the center of the mobile screen."
Played in Android Lollipop, Chrome browser.
To reproduce :
- Create an exploration
- Go to the library, and play the created exploration in mobile.

Expected : The dialogue box of Oppia should be in center of the mobile screen.

Observed : The dialogue box is little aligned to the right of the mobile screen (Illustrated in the image given below).

![exp_1](https://cloud.githubusercontent.com/asset

[2016-12-26 04:02] Promxyl commented on #2128
@Sean lip..Sorry i didnt respond earlier. Am in now so u can assign
somthing to me nw. Thnaks

On Thu, Dec 22, 2016 at 12:27 PM, Sean Lip <notifications@github.com> wrote:

[2016-12-26 04:18] naveenshukla opened #2871 "Exploration page and library page are not responding in same way when double tapped on touch screen in mobile."
This issue is found when played in Chrome browser, Android Lollipop and Kitkat and Jellybean.
To reproduce
- Create an exploration
- Go to the library page and double tap the screen, observe the behaviour of page.
- Now play the created exploration and double tap the screen, observe the behaviour.

Expected : Both should respond in the same way on double tap. The common behaviour should be similar

[2016-12-26 04:31] naveenshukla opened #2872 "Complete graph is not visible in exploration card in mobile."
To reproduce :
- Create an exploration
- Write some text in card.
- Click on “Add interaction”.
- In “Mathematics section”, click on graph theory.
Create a graph as given in picture below.
![graphtest](https://cloud.githubusercontent.com/assets/14854536/21475441/a0dce75e-cb51-11e6-916b-9e2919073fd4.png)
- Finish the exploration.
- Go to the library page and play the created exploration in mobile.

[2016-12-26 06:29] naveenshukla opened #2873 ""Info" of current exploration is not visible in mobile."
Computer web page consists  of “info” link where we can see the information about the exploration I am exploring currently (Illustrated in picture below, the info logo given after “testing graph” open info modal which displays information about the current exploration.) There is no such info link in mobile page.
![infologo](https://cloud.githubusercontent.com/assets/14854536/21475534/d91ede1e-cb52

[2016-12-26 06:38] naveenshukla opened #2874 "Exploration name of current exploration being played is not visible in mobile."
Exploration player in desktop consists of exploration name in top left corner of page. (Illustrated in picture below, the exploration name is "testing graph"). There is no such exploration name in mobile page.
![infologo](https://cloud.githubusercontent.com/assets/14854536/21476988/a9a599d2-cb63-11e6-8141-fdfea13fdd42.png)

Below is the screenshot of “mobile view” of exploration page. Exploration

[2016-12-26 06:42] naveenshukla opened #2875 "Unnecessary blank space on exploration page in mobile view."
To reproduce :
Create any exploration.
- Go to the library page and play the created exploration in mobile.
- Scroll down the created exploration page.
Observed : Unnecessary blank space after exploration cards (Illustrated in picture below).
![blank_space](https://cloud.githubusercontent.com/assets/14854536/21477081/6afd0fe8-cb64-11e6-94c9-665c0afa7d60.png)

[2016-12-27 03:11] kevinlee12 opened #2877 "Splash page banner should not be able to scroll horizontally"
Currently the user can perform a horizontal scroll using the touchpad horizontal scroll function on the banner in the splash page, this behavior should not be allowed as it may confuse the user when they are attempting a vertical scroll. Instead, the banner should be cut at the same width as the screen (even during resizing) so that the horizontal scroll behavior is not possible.

![ezgif com-09b4

[2016-12-27 03:12] kevinlee12 commented on #2877
To the issue assigner: This issue should ideally be given to someone who has a laptop with 2-finger scrolling capability; mileage will vary for desktop users.

[2016-12-27 04:32] seanlip commented on #2877
Hi @kevinlee12 -- just a thought, would you be up for taking this? I'm not sure how many folks will have such laptops, and it seems like it might be simpler to just go ahead and fix it (if you're up for it!).

[2016-12-27 04:38] kevinlee12 commented on #2877
sure, I was thinking of throwing it out there if someone wants an easy starter project (though I probably won't get to it until the end of the week) :)

[2016-12-27 07:27] rachelwchen commented on #2741
Hi @naveenshukla, thanks for the suggestions!
Sign in -- looping @markhalpin here, any takes on the sign in process? The original idea was to let them sign in through the hamburger menu.
Tapping vs. scrolling -- I tested with both tapping & scrolling; some users mentioned since the cards would get cut off with horizontal scrolling, the design looked kind of broken. Thoughts?
Happy holidays!

[2016-12-27 07:28] naveenshukla commented on #2875
closing since this is already fixed.

[2016-12-27 07:28] #2875 closed

[2016-12-27 08:03] naveenshukla commented on #2741
Thanks @rachelwchen
I think sign in through hamburger menu is  a good idea.
Regarding Tapping vs. scrolling -- You are right the design would look kind of broken. I suggested scrolling since most of the apps (Eg. Google Play Store app) prefers horizontal scrolling for exploring contents.
Happy holidays to you too!

[2016-12-27 08:07] naveenshukla commented on #2871
Closing since this is already fixed.

[2016-12-27 08:07] #2871 closed

[2016-12-28 01:52] #2801 closed

[2016-12-28 12:09] himanshu-dixit commented on #2877
Even i discovered this, was here to report issue, but then saw it on recent issues.

[2016-12-28 12:37] himanshu-dixit commented on #2877
This behaviour was especially on chrome, i didn't encounter it on Mozilla. I tried to send a pull request -> [](https://github.com/oppia/oppia/pull/2879).

[2016-12-29 09:13] satyam1729 commented on #2815
@seanlip Is this issue resolved? I would like to take this issue if not resolved

[2016-12-30 10:40] #2877 closed

[2016-12-30 11:12] seanlip commented on #2815
Hi @satyam1729, I'm not sure what happened to @Nix07, but I've just added you to the org. Please accept the invitation on github.com/oppia, and then feel free to add yourself as the assignee to this issue. Thanks!

[2016-12-30 16:34] seanlip commented on #2840
Fixed in #2848, thanks @prasanna08! Closing.

[2016-12-30 16:34] #2840 closed

[2016-12-30 17:29] #2815 closed

[2016-12-31 16:37] arun1595 commented on #2832
@kevinlee12 Sorry for the late reply. Let me close this as a [PR](https://github.com/oppia/oppia/pull/2833) addressing this issue has been merged into develop.

[2016-12-31 16:37] #2832 closed

[2016-12-31 16:41] seanlip commented on #2832
Arun, would you mind linking to the PR for reference? Thanks!

On Sunday, January 1, 2017, Arun Kumar <notifications@github.com> wrote:

[2016-12-31 16:43] arun1595 commented on #2832
Fixed in https://github.com/oppia/oppia/pull/2833

[2017-01-01 03:10] #2716 closed

[2017-01-02 03:49] naveenshukla commented on #2869
Hi @seanlip, here are the mockups, PTAL.

![pic1](https://cloud.githubusercontent.com/assets/14854536/21584387/54ec818a-d0cc-11e6-9a1f-fdcbc3d103d5.png)
![pic2](https://cloud.githubusercontent.com/assets/14854536/21584390/5e59c8cc-d0cc-11e6-9ba4-96b53b4db1c0.png)
![pic3](https://cloud.githubusercontent.com/assets/14854536/21584392/66b59118-d0cc-11e6-9d1c-6c8cd8944e95.png)
![pic4](https://cloud.git

[2017-01-02 04:36] seanlip commented on #2869
Thanks, Naveen. Would it make sense for the feedback dialog to be more of a modal, e.g. https://material.io/guidelines/components/dialogs.html# ? Also, shouldn't the second and third screenshots show a keyboard taking up part of the screen?

[2017-01-02 04:50] naveenshukla commented on #2869
That's a good idea.  I'll experiment on that. And  all the screenshots are taken in desktop. That's why touch kayboard is not visible.

[2017-01-02 04:51] naveenshukla commented on #2869
That's a good idea.  I'll experiment on that. And  all the screenshots are taken in desktop. That's why touch keyboard is not visible.

[2017-01-02 04:54] seanlip commented on #2869
OK, thanks! I think we might need to get screenshots with a keyboard somehow (perhaps you can do some kind of copy/paste photoshopping), otherwise we're going to fool ourselves into thinking we have more space than we actually do. It might also be worth doing some research into how other sites handle this sort of thing; there are likely to be standard patterns on mobile that would make sense to re

[2017-01-02 04:55] naveenshukla commented on #2869
Absolutely! Thanks.

[2017-01-02 14:36] seanlip commented on #2722
This is almost done, I think, except that the save/publish parts of the exploration editor still need to be split out. So, keeping this assigned to @joshuacano until that's done.

[2017-01-02 18:09] markhalpin commented on #2741
Hi all, sorry for slow reply. FWIW I think hamburger menu is also a good idea, and I share the concerns about scrolling. Tapping OK with everyone?
Hope you had great holidays!

[2017-01-02 18:11] #2128 closed

[2017-01-03 04:08] #2251 closed

[2017-01-03 07:28] himanshu-dixit commented on #2684
Would this feature have interaction to contact within the site (creator dashboard).? And will the feature to contact will be available every time or after some wrong attempts like 1-2 attempts / time duration.

[2017-01-04 02:03] kevinlee12 commented on #2042
De-assigning @ubhisat due to inactivity.

[2017-01-04 03:18] #2726 closed

[2017-01-04 03:46] seanlip commented on #2684
It probably can't assume that the creator is online at the time the student is, but it can send an asynchronous message that could be delivered by email. With regards to when it's available, that's part of the design, I think, and still an open question. We need to figure out what would make sense for a student.

[2017-01-04 03:59] seanlip commented on #2821
Hi @TJHomer, can you reproduce this? If so, would you be able to attempt a fix?

Thanks!

[2017-01-04 08:24] himanshu-dixit opened #2891 "Search Bar Of Library Page Not Visible On Mobile."
Unlike the desktop version, there's no option to search explorations on mobile.
![unnamed](https://cloud.githubusercontent.com/assets/6849438/21635688/06cf1746-d285-11e6-9564-f0f8ba1e9ac4.png)

Possible solutions can be.
1.) Search Icon on topbar (mobile) which opens search bar on click event.
2.) Search Box in Sidebar.
Also we can consider adding a search box on homepage around splash screen.

[2017-01-04 08:47] naveenshukla commented on #2891
Hi @himanshu-dixit , this has already been proposed in #2741.

[2017-01-04 15:24] TJHomer commented on #2821
Yes, this is the same for me - I'll take care of it.

[2017-01-04 15:51] himanshu-dixit commented on #2891
@seanlip Any thoughts?

[2017-01-04 20:50] himanshu-dixit commented on #2817
@jaredsilver Is it similar to your visualization?  ![screenshot from 2017-01-05 02-18-23](https://cloud.githubusercontent.com/assets/6849438/21658602/473092de-d2ed-11e6-8712-5470a4d2f791.png)

[2017-01-04 21:01] markhalpin commented on #2817
Hi @himanshu-dixit ! Any comments Jared has aside, I'd like to ask that when you do multiple buttons on a given page, as in this case, please make them all the same size. That's even if the length of the text is not necessarily consistent. For example, check out the splash page at https://www.oppia.org/splash. Note that both buttons in the nav bar are the same size, and the two buttons within the

[2017-01-04 21:41] jaredsilver opened #2893 "Modify buttons on Teach with Oppia page so widths are uniform"
In line with @markhalpin's [comment](https://github.com/oppia/oppia/issues/2817#issuecomment-270485244) on #2817, modify the buttons on the `/teach` page so they have uniform widths.

[2017-01-04 21:42] jaredsilver commented on #2817
Thanks a bunch, @himanshu-dixit! Yup, this is pretty much what I had in mind, at least as far as the position of the button is concerned. My eyes might be off, but did you also change the background color of the buttons so they are lighter than as opposed to darker than the background? If so, it may be better to keep those colors consistent with the rest of the site (such as those on the `/about`

[2017-01-04 21:51] naveenshukla opened #2894 "Footer in exploration player is not aligned properly in mobile."
While playing an exploration in mobile, footer looks a bit weird.
![footer](https://cloud.githubusercontent.com/assets/14854536/21660586/ff6e1530-d2f5-11e6-8091-362891f72279.png)

[2017-01-04 21:54] markhalpin commented on #2817
@jaredsilver thanks for opening that new issue! @himanshu-dixit it might be nice to standardize the size of those buttons across both documents. Thanks!

[2017-01-04 23:02] jacobdavis11 commented on #2891
I'm inclined against this for the time being as we're more focused on a browsing experience among our top explorations. It's probably something we'll want to do eventually.

[2017-01-05 09:05] MAKOSCAFEE commented on #2728
Hi @anmolshkl how is this issue going?.

[2017-01-05 14:53] TJHomer commented on #2821
Is there someone who could help me figure out how to preview my code changes?  I'm using PyCharm and when I view the webpage, it only shows the html portion of it.

[2017-01-05 17:57] himanshu-dixit commented on #2893
@jaredsilver Please check. https://github.com/oppia/oppia/pull/2898

[2017-01-05 18:04] MAKOSCAFEE commented on #2893
hi @himanshu-dixit are you working on this issue so as I can assign you?

[2017-01-05 18:05] himanshu-dixit commented on #2893
yes @MAKOSCAFEE

[2017-01-05 19:07] markhalpin commented on #2724
Hi @MAKOSCAFEE Since this is more of a purely cosmetic than functional thing, I'm afraid I've had to back-burner it in favor of some other graphics priorities. I can keep it on my list but it will be more like the end of the month before I get to it. Thanks.

[2017-01-05 19:10] MAKOSCAFEE commented on #2724
good to know thanks.. @markhalpin

[2017-01-06 04:38] #2722 closed

[2017-01-06 06:19] MAKOSCAFEE commented on #2569
Hi @arun1595 how is this issue going?

[2017-01-06 10:40] himanshu-dixit commented on #490
@seanlip  @wxyxinyu is there any update on this feature?

[2017-01-06 11:16] seanlip commented on #490
Nothing beyond what is already stated in the issue.

[2017-01-06 11:37] seanlip commented on #2859
Going to close this, since no one else has reported it, and it's possible that it's a local issue. If someone else runs into the same problem, we can take another look.

(The OP has solved this by switching OS.)

[2017-01-06 11:37] #2859 closed

[2017-01-06 12:03] seanlip commented on #2820
Hi @kirankonduru, can you reproduce this? If so, would you be up for taking it?

Also, I've sent you an invitation to the team which you can accept at github.com/oppia. Once you've done so, feel free to assign yourself to the issue!

[2017-01-06 13:05] seanlip commented on #2042
Fixed in #2890, thanks @kevinlee12!

[2017-01-06 14:26] Nix07 commented on #2816
Is it fine?
![oppia](https://cloud.githubusercontent.com/assets/22103406/21720600/11213438-d44a-11e6-8379-e9c1c327f053.png)

[2017-01-06 15:15] himanshu-dixit commented on #490
@seanlip @wxyxinyu Can i take this issue? I can start with designing the UI mockups for it.

[2017-01-06 15:21] seanlip commented on #490
Hmm. This is a little bit big, actually, and given that we are currently focusing on an initial, effective set of [basic mathematics lessons](https://github.com/oppia/oppia/wiki/Math-explorations), it might perhaps be slightly premature at this stage. If you're looking for issues to take up, let me find you something else? Give me a few minutes.

[2017-01-06 15:22] seanlip commented on #2868
@himanshu-dixit, how about taking a look at this one?

[2017-01-06 15:23] seanlip commented on #2868
(FWIW, I lean towards a redesign. You might want to take a look at how these menus work on mobile for other sites.)

[2017-01-06 15:29] seanlip commented on #2700
@BenHenning, what do you mean by "directly reference their templates"?

[2017-01-06 15:31] seanlip commented on #2665
@BenHenning -- ping?

[2017-01-06 15:39] seanlip commented on #490
@himanshu-dixit how about #2868?

[2017-01-06 15:44] seanlip commented on #2662
Update: I filed a [bug](https://github.com/kisonecat/math-expressions/issues/6) against math-expressions, but the existing behaviour seems to be correct. Perhaps the input from guppy isn't being passed correctly into math-expressions? This needs more investigation.

[2017-01-06 15:47] jaredsilver commented on #2816
Hi @Nix07, thanks for your help with this! For the sake of consistency, it may be best for these buttons to match the ones being added in #2817.

Could we perhaps try making the buttons have identical widths and having a class of `btn oppia-about-button` so they match the ones being added elsewhere? Please note that the color of the buttons in the screenshot on #2817 is not correct, so do not worr

[2017-01-06 15:49] kirankonduru commented on #2820
@seanlip I dont have access to mac os x and it is not possible to install a latest safari version on ubuntu. I'll take up some other issue. Thanks for the suggestion btw!

[2017-01-06 15:53] seanlip commented on #1855
@razat249, are you still looking into this?

[2017-01-06 16:20] markhalpin commented on #2816
hi @Nix07 and @jaredsilver, my comments are pretty much what Jared says; let's aim for consistency in styling, color, placement etc. Thanks!

[2017-01-06 16:31] seanlip commented on #2744
Update: @rachelwchen is investigating this, and we had a chat this morning. I'll summarize next steps here (but, Rachel, please feel free to correct me if I've written anything wrongly!)

We are looking to tackle this in two ways:

- Remove factors that cause students to leave in the middle of a lesson. This may be due to things like:

    - insufficient feedback or overly-stringent checks, so the

[2017-01-06 16:34] seanlip commented on #2662
NB: a good starting point would be this file: https://github.com/oppia/oppia/blob/develop/extensions/interactions/MathExpressionInput/MathExpressionInput.js

[2017-01-06 17:31] Nix07 commented on #2816
Hey @jaredsilver and @markhalpin, Check this one.
![oppia2](https://cloud.githubusercontent.com/assets/22103406/21726712/e41b7e5c-d463-11e6-8c21-5134eed2712d.png)

[2017-01-06 17:36] seanlip commented on #2816
@Nix07, please read Jared's comment carefully.

[2017-01-06 17:51] Nix07 commented on #2816
Centered Buttons.
![oppia3](https://cloud.githubusercontent.com/assets/22103406/21727284/b3bef75e-d466-11e6-90fd-1d0b7b71bf90.png)
 @jaredsilver @seanlip

[2017-01-06 18:25] BenHenning commented on #2700
@seanlip hopefully an example can better illustrate what's meant here rather than explanation. ``CreateActivityButtonDirective`` currently refers to its template like so:

``templateUrl: 'components/createActivityButton',``

The template is located at ``oppia/core/templates/dev/head/components/create_button/create_activity_button_directive.html``

This issue suggests rather than using Jinja to inc

[2017-01-06 19:08] #2455 closed

[2017-01-06 19:17] BenHenning commented on #2725
Did you mean upgrading explorations?

[2017-01-06 19:19] BenHenning commented on #2695
@seanlip Late response, but yes I think the data collected from the benchmarking tool provided us useful insight regarding the sorts of loads we can allow before the user experience starts degrading. We simply need to keep an eye on the amount of training data that ends up in explorations to ensure it stays below these thresholds. Maybe this warrants some future monitoring work, since we don't hav

[2017-01-06 19:38] BenHenning commented on #2543
It looks like both @seanlip and I were unable to respond. @anmolshkl do you still need someone to look at the updated document? Happy to now and I conveniently have time to.

[2017-01-06 19:40] BenHenning commented on #2526
Thanks @kevintab95; how's the implementation going?

[2017-01-06 19:44] BenHenning commented on #2863
Many of these objects will actually need their own domain objects, and related tests will need to be added for those new objects and changes in the current exploration/state domain objects.

[2017-01-06 20:43] kevinlee12 commented on #2038
Just for reference, being done in #2867.

[2017-01-06 22:23] jaredsilver commented on #2816
@Nix07 -- looks great! The last change I can think of recommending is making sure the buttons are the same width. Aside from that, looks good to me 😄

[2017-01-06 22:27] markhalpin commented on #2816
ditto Jared. LGTM

[2017-01-07 04:16] Nix07 commented on #2816
@jaredsilver and @markhalpin, I think this one should be fine.
![oppia4](https://cloud.githubusercontent.com/assets/22103406/21739310/ec59315e-d4bd-11e6-84a8-92f26581345c.png)

[2017-01-07 07:39] himanshu-dixit commented on #2817
@jaredsilver no i didn't change the background color of button? it's probably due to the difference in background on which button is placed. [Color Theory](http://msmassadas.weebly.com/color-theory-and-symbolism.html).

[2017-01-07 15:16] jacobdavis11 opened #2901 "Make the system for reporting/flagging explorations to moderators less prominent"
As a moderator I have now recieved several emails flagging content that should really have been feedback to the exploration creator. I suspect this is because in the learner-view navbar the feedback and report options are equally prominent. That seems non-ideal since giving feedback is a standard and common action whereas flagging is an exceptional one.

I suggest a redesign that makes flagging le

[2017-01-07 15:29] arun1595 commented on #2569
Hi @makoscafee , I'm on it.

[2017-01-07 15:44] himanshu-dixit commented on #2817
@jaredsilver @seanlip Would it be only teach with oppia tab or both?

[2017-01-07 15:47] seanlip commented on #2817
@himanshu-dixit Did you mean to address that question to me? I don't know in what context you're asking it, and I'm not sure I know the answer in any case.

If you're replying to someone else, please /cc only that person so it's clear where the conversation thread should pick up from. Thanks!

[2017-01-07 15:50] seanlip commented on #1855
OK, noted. Thanks!

[2017-01-07 17:03] jaredsilver commented on #2816
Thanks a bunch, @Nix07 -- looks good to me!

[2017-01-07 17:07] jaredsilver commented on #2817
@himanshu-dixit -- Only on the Teach with Oppia tab is fine. Thanks!

[2017-01-07 17:22] Nix07 commented on #2816
Hi,
I think the issue is resolved , now can you please guide me with the
further process of committing the codes to the organisation. Wha

On Fri, Jan 6, 2017 at 8:36 PM, Sean Lip <notifications@github.com> wrote:

[2017-01-07 17:23] markhalpin commented on #2816
Placement of buttons in the last screenshot looks great @Nix07 ! please use color shown in the screenshot before that. Otherwise, lgtm.

[2017-01-07 17:24] seanlip commented on #2816
@Nix07 -- please see https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change. You'll need to do a PR.

Thanks!

[2017-01-07 18:27] Nix07 commented on #2816
Hi,
I am having trouble with PR. According to the instructions, the second step
'git fetch upstream', is echoing error 'fatal: 'upstream' does not appear
to be a git repository'. Can you help?

On Sat, Jan 7, 2017 at 10:54 PM, Sean Lip <notifications@github.com> wrote:

[2017-01-08 04:18] himanshu-dixit commented on #2868
@seanlip @markhalpin With reference to #2741, will it be good idea to introduce horizontal scrolling. If its just about social media icon and desktop version doesn't seem to have social media icon, wouldn't it be a good idea to have social media icon on footer (Like above/below translate dropdown)?