[2020-01-04 20:12] shashikant231 commented on #7336
hii @DubeySandeep , this one is interesting and figuring it out from where to start ,it might be this one or any other.i had already filled survey form so guide me where i should start working on?

[2020-01-04 22:22] Showtim3 commented on #8039
@kevinlee12 @DubeySandeep Hey guys, I'd like to that this up. Can i get a PR for reference where a lint test was introduced?

[2020-01-04 23:54] seanlip commented on #7336
Hi @nutmegcr7, @MartzGub is already working on this in #8101, I believe, though there are a couple of remaining issues that need to be fixed before that PR can be merged..

For assistance finding a project, could you please contact @aks681?

Thanks!

[2020-01-04 23:59] seanlip commented on #8340
I think this seems like a reasonable request. We could perhaps do something like how the Karma tests run (I believe, on some systems at least, it just updates the last line continuously to say how many tests out of how many have been run).

In the meantime, one hack I've used locally is to type "reset" before running the tests, so that I can easily find the beginning of the log if I need to.

[2020-01-05 01:06] kevinlee12 commented on #8039
@Showtim3 it looks like the two issues that are linked aren't resolved yet, so this might not be ready.

[2020-01-05 05:57] amey-kudari commented on #8340
Can we pass an option like `python -m scripts.run_backend_tests --less-log` to not keep printing Tasks that are still running and not print `"------"` after every finished task , I think that would reduce the output and make it easier to locate when errors occur and also see the progress.

[2020-01-05 07:12] #7041 closed, assigned to nobody

[2020-01-05 08:08] seanlip commented on #8340
I don't know -- I find those things useful, actually.

Why don't you ask some of the other developers and see what they think? If we can figure out what the actual requirements should be, then that means this has a higher chance of getting implemented. But if you don't get much support for it (i.e. most devs are fine with the current output), then we'll probably leave things as-is.

[2020-01-05 08:11] shashikant231 commented on #7336
hi @seanlip ,i will catch him.Thanks a lot!!

[2020-01-05 08:17] shashikant231 commented on #7336
HI @aks681 .i am new to this organisation and looking for an issue to contribute and seanlip has mentioned you to contact for finding an issue to start and you may can assist me according to my survey form.Thanks!

[2020-01-05 11:45] amey-kudari commented on #8340
Alright! Asked on gitter.

[2020-01-05 17:16] sudiptapradhan1181 commented on #8015
Thanks, @DubeySandeep . I will go through the resources and try to solve the issues. If I still face problems, I will ask for help with additional information.

[2020-01-05 18:19] kevintab95 opened #8342 "Replace usage of ngImgCrop with Cropper"
We are currently using 2 libraries that essentially do the same thing (ie. image cropping). We need to get rid of `ngImgCrop` because:
1. It is no longer maintained.
2. Cropper offers advanced features and is an [active project](https://github.com/fengyuanchen/cropperjs).

[2020-01-05 18:31] amey-kudari commented on #8340
I guess its better to leave it as-is. I will close it.

[2020-01-05 18:31] #8340 closed, assigned to nobody

[2020-01-06 00:55] #8052 closed, assigned to nobody

[2020-01-06 01:24] seanlip commented on #8052
Hi @cuichenli, would you mind adding some explanation about why you closed this, please?  Thanks!

[2020-01-06 01:30] cuichenli commented on #8052
@seanlip Two reasons:
- The results are outdated. Those are generated during my first Windows fix pr, that one is reverted and the result may be not suitable for the new changes.
- The backend tests can not be running on Windows at the moment, so this issue may be irrelevant. I think it might be better to close the issue for now and reopen it later.

[2020-01-06 03:47] Vinit-Dantkale commented on #8215
Hey guys, I would like to hear from you.

[2020-01-06 06:19] U8NWXD opened #8346 "Hinglish Translation Labelled English on Fractions Exploration 1, Page 2"
**Describe the bug**
Hinglish translation mis-labelled as English on second page of first Fractions exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v
 2. Click on `Continue` to go to the next page
 3. Click to reveal the audio translations bar
 4. Notice that `English` is pre-selected
 5. Cl

[2020-01-06 06:44] U8NWXD opened #8347 "Author Profiles Dropdown Missing on Mobile"
**Describe the bug**
The Author Profiles dropdown is missing on mobile.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/0

**Observed behavior**
No author profiles dropdown appears

**Expected behavior**
The author profiles dropdown should be visible

**Screenshots**
Firefox Emulator (iPhone X/XS):
![Screen Shot 2020-01-05 at 22 42 13](https

[2020-01-06 07:22] seanlip commented on #8215
Hi @Vinit-Dantkale, I'm not sure exactly what you're asking. Could you clarify your question, please?

Regarding the original issue, I think @nithusha21 had noticed it in production, so this is a bug that should be fixed. You'll need to investigate and analyze the code to see the logic for how the representation of the date/time gets computed.

[2020-01-06 12:38] rohitkatlaa opened #8348 "Exploration Category not found if new category is added"
**Describe the bug**
When you create an Exploration or edit the category of a created exploration then we can enter a category thereby creating a new category but when we are searching we cannot enter the category and we are not able to find the newly created category.

This blocks the search of Explorations by categories.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Exploration

[2020-01-06 13:05] rohitkatlaa opened #8349 "Insert video is bugged when creating Exploration"
**Describe the bug**
When creating an Exploration, the insert video button is inserting the video even if we click the cancel button in the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create an Exploration.
2. Try to add a video by clicking the insert video.
3. Click cancel in the form.
4. Click insert and see the output.

**Observed behavior**
A dummy video is added.

**Expe

[2020-01-06 13:30] rohitkatlaa opened #8350 "Translation tab button text overflow"
**Describe the bug**
The text of the No audio recorded button overflows when the screen is less than 1000px width.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to translation tab when you are editing the exploration.

**Observed behavior**
The text overflows.

**Expected behavior**
The extra text should be hidden.

**Screenshots**
![Screenshot from 2020-01-06 18-54-51](https://user-im

[2020-01-06 15:00] ananthanandanan commented on #7427
Hello can I please be assigned to core/domain/story_domain.py.

[2020-01-06 15:07] iamprayush commented on #8209
The issue was that there was no error check for the input fraction string being empty, so I added that. Also, there was no check related to the fraction's validity in the ng-disabled tag of the save buttons. I tried adding that but I can't seem to figure out how to access the fraction-editor directive's function from the main file.
I created a dummy button in the fraction-editor template(where I c

[2020-01-06 15:12] Vinit-Dantkale commented on #8215
Hey @seanlip, actually `getLocaleAbbreviatedDatetimeString(milliseconds)`  is in services folder though it returns time if date is same, and date if year is same. The expected behaviour specified was time and date i.e 7PM, 16 Jul. So, I tried
[code]
and applied some filter for above output. I wanted to ask were you expecting an output like above? But right, I sounded naive.

[2020-01-06 17:18] tyleri commented on #8209
@ankita240796 Would you be able to assist with this?

[2020-01-06 20:13] seanlip commented on #8215
Ah -- if you're asking about code changes, I suggest you submit a PR and then we can do the review there. I don't have enough context to tell from your comment whether this is going in the right direction or not, and would need to see the context of the rest of the PR, including the diff from the old code (which you have in front of you, but I don't).

[2020-01-06 20:15] seanlip commented on #7427
Sure -- just added you!

[2020-01-06 21:31] #8301 closed, assigned to vojtechjelinek

[2020-01-07 04:26] U8NWXD opened #8354 "Permission Denied Error when Creating Solutions in RTE"
**Describe the bug**
Console error appears when creating numeric input solution

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration
 2. Open a web console to see console output
 3. Specify some text for the first block
 4. Add a number input interaction
 5. Click `Cancel` to skip adding answers
 6. Add a hint with any text
 7. Click to add a solution

**Observed behavio

[2020-01-07 04:48] kevinlee12 opened #8355 "Update webdriver"
Currently, the webdriver is aimed for Chrome v67-69, the version needs to be upgraded to keep pace with the current Chrome version.

[2020-01-07 04:52] U8NWXD opened #8356 "Specific Feedback Not Required for Repeated Wrong Answers to Numeric Input"
**Describe the bug**
Creators are not required to provide specific feedback for repeated wrong answers to numeric input.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish an exploration with a numeric input interaction
 2. Login as a different user
 3. Play the exploration and enter a wrong answer that is not given specific feedback 10 times
 4. Login as administrator
 5. I

[2020-01-07 05:24] shrutisatish00 commented on #7450
hey, i would like to work on  jobs_test.BaseContinuousComputationManagerTests.
I am new to open source and will need a little help.

[2020-01-07 08:55] Vinit-Dantkale commented on #8215
Yeah @seanlip , I made a PR #8357. Tell me about all the changes required. Thank You.

[2020-01-07 11:24] vojtechjelinek opened #8359 "Thumbnail can't be added on local prod mode."
**Describe the bug**
Adding a topic thumbnail image results in this error on local prod mode.
[code]

The thumbnail then looks like this:
![image](https://user-images.githubusercontent.com/10142938/71892337-f7061a00-3148-11ea-9244-33b7d2de2dbd.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and Skills Dashboard'
 2. Create a new topic
 3. In 'Topic Editor' add a new thumb

[2020-01-07 11:56] vojtechjelinek opened #8360 "Create skill modal multiple CKEditors"
**Describe the bug**
When multiple CKEditors are open at once in the Create skill modal they behave weirdly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and Skills Dashboard'
 2. Click on 'Create skill'
 3. Open multiple inputs that use CKEditor at once
 4. Write in them and try to save them

**Observed behavior**
https://streamvi.com/watch.php?video=1578398131

**Expected

[2020-01-07 12:26] Showtim3 commented on #8347
Hey @U8NWXD, it's working for me, any specific steps to reproduce this?
![Screenshot 2020-01-07 at 5 55 39 PM](https://user-images.githubusercontent.com/30312043/71895378-eff60080-3176-11ea-8813-0bff7a73ad5e.png)

[2020-01-07 13:49] aks681 commented on #8359
It maybe an issue of local prod itself, since I was able to upload a thumbnail on the test server.
![image](https://user-images.githubusercontent.com/22347970/71899847-9c89af80-3182-11ea-94a5-f7b4adcf01dd.png)

Shall I close the issue then?

[2020-01-07 13:50] vojtechjelinek commented on #8359
No, it should still be fixed on local prod.

[2020-01-07 13:51] vojtechjelinek commented on #8359
But probably can be removed from blocking bugs.

[2020-01-07 15:27] anisin97 commented on #8350
Hi @rohitkatlaa , can I work on this issue?

[2020-01-07 15:28] anisin97 commented on #8339
Hi @dchen97 , can I work on this issue?

[2020-01-07 15:52] rohitkatlaa commented on #8350
@theprover97 actually I am working on it already. I am sorry.

[2020-01-07 16:00] marianadasilvadev opened #8362 "Change pre-push hook to run check_frontend_coverage instead of run_frontend_tests"
Since a new CircleCI job script is going to be included (from #8130 PR), the pre-push hook should run it instead of run_frontend_tests script. This new script runs the run_frontend_tests script already, so it will avoid run frontend tests twice.

[2020-01-07 16:07] anisin97 commented on #8350
OK.

[2020-01-07 16:37] nithusha21 commented on #8362
/cc @kevinlee12 is this a good idea? And should it happen in the same PR or a follow up PR?

[2020-01-07 16:53] dchen97 commented on #8339
Go for it!

*Diana Chen*
*Growth Team Lead | Oppia Foundation*
*E*: diana@oppia.org

On Tue, Jan 7, 2020 at 7:28 AM theprover97 <notifications@github.com> wrote:

[2020-01-07 16:55] U8NWXD commented on #8347
@Showtim3 I have tried again, and I still see this bug on iPhone Firefox and Safari. By experimenting with screen sizes in Firefox, I believe this problem occurs when the screen width is smaller than 769px.

One note is that this only occurs when the page is loaded on the smaller screen size. Shrinking the screen size after the page has loaded does not produce the issue.

[2020-01-07 16:55] aks681 commented on #8313
This does work even now, though I am creating a PR to refine it. The `ENABLE_NEW_STRUCTURE_VIEWER_UPDATES` flag needs to be flipped.

[2020-01-07 19:16] U8NWXD commented on #8313
Thanks @aks681! I have confirmed that flipping the `ENABLE_NEW_STRUCTURE_VIEWER_UPDATES` flag fixes this issue, so I'm closing it.

[2020-01-07 19:16] #8313 closed, assigned to aks681

[2020-01-07 20:07] Showtim3 opened #8366 "Error while playing the exploration "Fraction""
While playing the exploration fraction, i encountered an error. Upon refreshing, there was also an error.

![Screenshot 2020-01-07 at 5 59 41 PM](https://user-images.githubusercontent.com/30312043/71925547-4c791000-31b7-11ea-90e7-6e0771f4706d.png)
![Screenshot 2020-01-07 at 5 59 14 PM](https://user-images.githubusercontent.com/30312043/71925549-4d11a680-31b7-11ea-9692-ae87d39f5ae6.png)

[2020-01-07 21:09] seanlip commented on #8362
How about putting the logic of the CircleCI job script into the existing frontend script? We already do something like that for backend test coverage, I think -- we don't have a separate script for checking coverage of backend tests, it's done just as a matter of course. We could do the same thing here perhaps.

@kevinlee12 any thoughts?

[2020-01-07 23:45] U8NWXD commented on #8347
I believe I have identified where this behavior is coming from, but it looks intentional:
https://github.com/oppia/oppia/blob/333285b8307d260ec644e76b96ad3d096e6f0d83/core/templates/dev/head/pages/exploration-player-page/layout-directives/exploration-footer.directive.html#L166
Here, the author profiles dropdown is only shown if the screen size is not narrow. I'm not sure why, though, since the men

[2020-01-08 00:16] seanlip commented on #8347
I think this was intentional, actually. Mobile screen space is smaller so we wanted to avoid the user clicking it by mistake. So this isn't actually a bug, though the console logs that @Showtim3 pointed out might be worth looking into.

Perhaps also worth modifying the test plans to indicate that this menu should not show on mobile, and/or add an e2e test to verify its absence?

[2020-01-08 00:31] brianrodri opened #8368 "Migrate to ndb.TextProperty for thread message text"
[GeneralFeedbackMessageModel](https://github.com/oppia/oppia/blob/333285b8307d260ec644e76b96ad3d096e6f0d83/core/storage/feedback/gae_models.py#L211) currently uses [ndb.StringProperty](https://cloud.google.com/appengine/docs/standard/python/datastore/typesandpropertyclasses#StringProperty) to store the text content of messages.

Given that the [GAE documentation](https://cloud.google.com/appengine

[2020-01-08 03:45] kevinlee12 commented on #8362
Yeah, I think we should incorporate this as part of the frontend tests. However, I don't think this should be a hindrance to pushing. You can do something like the backend tests which runs the coverage tests only if a flag is passed in.

[2020-01-08 04:44] U8NWXD commented on #8347
Removing from blocking bugs since this was intentional

[2020-01-08 05:10] U8NWXD commented on #8347
I've added a suggested change to the test plan to reflect that this menu is not shown on mobile

[2020-01-08 05:23] iamprayush commented on #8346
@U8NWXD I would like to work on this . Could you please assign me?

[2020-01-08 08:41] ahv15 commented on #7427
I would like to work on core/jobs_registry.py

[2020-01-08 10:34] ahv15 commented on #7176
I would like to work on core/templates/dev/head/domain/feedback_message/FeedbackMessageSummaryObjectFactory.ts

[2020-01-08 10:42] ahv15 commented on #4057
I would like to work on **AnswerGroupObjectFactory.ts**

[2020-01-08 12:14] brianrodri opened #8370 "Generalize get_exp_id_from_thread_id for all entity types"
Once feedback threads are generalized, [`get_exp_id_from_thread_id`](https://github.com/oppia/oppia/blob/022c1b9a1fad92163786c3778417a3eb393484f8/core/domain/feedback_services.py#L48) needs to be updated to get the id from any general entity, not just explorations. At the moment, it still assumes that the thread id is associated to an exploration. Once this is done, it should be renamed to `get_en

[2020-01-08 13:44] vojtechjelinek opened #8371 "Misleading text on question editor button"
**Describe the bug**
The text on the button in question editor is "Add Interaction / End Exploration", but question can't have Exploration End, we should replace it with just "Add Interaction"
![image](https://user-images.githubusercontent.com/10142938/71982413-b11e8400-3224-11ea-901e-d77b2b4d5649.png)

[2020-01-08 13:47] vojtechjelinek opened #8372 "Add more validations for *SnapshotContentModels"
Some of the `*SnapshotContentModels` we have in out datastore are not valid. Some of the snapshot models contain fields that no longer exist in their parent model and that will cause an exception when we try to revert the parent model to some older version.

We should add more checks into the prod validation jobs for the `*SnapshotContentModels`, these checks would run the `populate()` method on t

[2020-01-08 14:19] marianadasilvadev commented on #8362
The CircleCI config is already running the check only if the frontend tests pass. Do you mean this behavior should happen in the pre push flow too? @kevinlee12

[2020-01-08 14:29] sauram commented on #7176
@YashJipkate, I would like to work on this issue. Can you suggest some part of it to me?

[2020-01-08 15:30] xlogix commented on #8053
@ankita240796 I tried adding content to a card in a new exploration but I'm failing to do. Can you confirm this? I have pulled all the changes from the develop branch.

<img width="1429" alt="Screenshot 2020-01-08 at 8 58 36 PM" src="https://user-images.githubusercontent.com/16256275/71990600-adf1bb00-3259-11ea-9ee1-c498e54182be.png">
<img width="1432" alt="Screenshot 2020-01-08 at 8 58 44 PM" src

[2020-01-08 15:42] kevinlee12 commented on #8362
Nope, I meant to combine the scripts into one like the backend tests. But the coverage stuff should run only if a flag is passed in.

[2020-01-08 17:18] Showtim3 commented on #7427
@ahv15 Hey Harshit, I've assigned you.

[2020-01-08 18:51] kevintab95 opened #8375 "Submit button is enabled while the item selection or text input interaction loads"
**Describe the bug**
Submit button is enabled before the item selection / text input interaction loads. When the connection is slow, there is no indication that the interaction is actually loading. Meanwhile, the user may click on the submit button causing errors on the console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/explore/16'.
 2. Throt

[2020-01-08 19:41] Showtim3 commented on #8371
Hey @vojtechjelinek This seems like an easy fix, in other scenarios we would have marked this as a good first issue, but since this can be treated as a blocking bug, should we fix this ourselves or show we add the good first issue label?

If we should fix this, then probably I can open up a PR for this.

[2020-01-08 20:06] seanlip commented on #8371
We should fix this ourselves. In general, fixing things that affect users
has higher priority than labelling issues as "good first issue".

(Thanks for asking!)

[2020-01-09 01:43] U8NWXD commented on #8346
Sure @iamprayush! I've assigned you . Note that for bugs like this that are blocking the next release, we expect PRs with fixes within a few days. Will that be okay?

[2020-01-09 01:44] U8NWXD commented on #8346
@aks681 is it possible that this is a content error in the test exploration rather than a bug in the code? I'm not sure how to check that

[2020-01-09 02:17] seanlip commented on #8346
I confirm that this is a content problem, not a technical problem, and thus doesn't need a fix. The audio files seem to have been mistakenly updated in the English category rather than the Hinglish one.

It will take some work to migrate these. Do you think it is necessary or can we just leave a note in the testing doc to explain what's happening here?

[2020-01-09 03:21] kevinlee12 commented on #4057
@ahv15 you got it!

[2020-01-09 04:53] U8NWXD commented on #8346
@seanlip I think a note in the testing doc is fine for now. I've left a suggested change to do so. I'll leave this issue open, but I don't think a fix is urgent. We should probably fix it eventually, though. I'm removing from blocking bugs since this is not a technical problem.

[2020-01-09 04:54] U8NWXD commented on #8346
@iamprayush I am de-assigning you since there is no technical bug to fix. Feel free to pick up another issue, though.

[2020-01-09 05:18] U8NWXD commented on #8371
@Showtim3 I assigned you since it sounded like you wanted to open a PR for this, but please let me know if I was mistaken

[2020-01-09 05:22] U8NWXD commented on #8359
Removing from blocking bugs since does not affect user experience

[2020-01-09 05:34] U8NWXD commented on #8366
I have reproduced this on the test server. The URL for the exploration is https://oppiatestserver.appspot.com/explore/3wTBeOE_2Y4O. The error appears to stem from trying to load the URL https://storage.googleapis.com/oppiatestserver-resources/exploration/3wTBeOE_2Y4O/assets/image/img_20180109_235103_fmqdio0bxf_height_120_width_120.png, at which there is no data (no matching key is found).

I'm not

[2020-01-09 09:39] shashikant231 commented on #7334
HI @brianrodri  @DubeySandeep  can i work on this issue ?

[2020-01-09 10:02] shashikant231 commented on #6242
hi @brianrodri  it looks like first button of all issue does not respond .                                                              can i work on it?

[2020-01-09 11:20] Showtim3 commented on #8348
@rohitkatlaa Hey Rohit, I believe this is intended behavior. All the categories are not being shown in the dropdown. Also, i tried to search with the category that I created and I Found that exploration. So this isn't a bug.

@seanlip we have had this discussion before also, this is intended behavior, right?

[2020-01-09 11:21] seanlip commented on #8366
I confirm that this is a content problem -- probably a previous migration gone wrong. I have fixed it. Thanks!

[2020-01-09 11:21] #8366 closed, assigned to nobody

[2020-01-09 11:27] seanlip commented on #8348
Yes, this is correct. The dropdown does not include all the possible categories, and this is done to keep the list manageable.

@Showtim3 @U8NWXD could we please add a note to the relevant part of the "user journeys" document to explain this?

Thanks!

[2020-01-09 11:27] #8348 closed, assigned to Showtim3

[2020-01-09 13:26] larrytal commented on #8349
Hey @rohitkatlaa! I would like to work on this issue, if no one else is.
After some inspection locally it seems that some conditions need to be added in the cancel() function that is being called [here](https://github.com/oppia/oppia/blob/022c1b9a1fad92163786c3778417a3eb393484f8/core/templates/dev/head/components/ck-editor-helpers/customize-rte-component-modal.template.html#L20). But I can't seem

[2020-01-09 13:39] iamprayush commented on #8370
Hey, @brianrodri! I'd like to help with this.
Could you please tell me what the format of a "general entity" would be?

[2020-01-09 15:51] rohitkatlaa commented on #8348
@Showtim3 @seanlip  I understand that the list should be manageable but is it possible and will it be useful to make it such that you can search for the category by typing also.

[2020-01-09 16:59] U8NWXD commented on #8348
@seanlip suggestion added to the user journeys doc

[2020-01-09 17:02] Showtim3 commented on #8348
Hey @rohitkatlaa Yes you are totally right, and we can search by category also.
The feature is already there, and just to double check, I did that and it is working.
I created a new category **birdeye**
![Screenshot 2020-01-09 at 4 42 02 PM](https://user-images.githubusercontent.com/30312043/72088293-dfd55100-332f-11ea-8390-410ca72e711d.png)

[2020-01-09 17:07] marianadasilvadev commented on #8362
Sorry but I didn't get the flag thing. @kevinlee12

[2020-01-09 18:08] rohitkatlaa commented on #8348
@Showtim3 Thank you , I didn't realise that the text input can be used for category also.

[2020-01-09 18:52] kevintab95 opened #8380 "Move non-file-upload related tests from CircleCI into Travis"
We had initially moved some e2e tests that contained file-upload related operations to CircleCI. However, it is observed that these tests are being extremely flaky. We suspect that it may be a CircleCI configuration issue.

Suggestion is to separate out non-file-uploaded tests back to Travis and to keep file-upload related ones in CircleCI.

[2020-01-09 19:04] brianrodri commented on #8370
Thanks @iamprayush, unfortunately I'm not too sure -- @nithusha21 could you help clarify what you wanted to see?

[2020-01-09 19:46] donosco99 commented on #7830
@kevinlee12,I would like to work on this issue. Assigning myself.
Thanks

[2020-01-09 20:50] #8371 closed, assigned to Showtim3

[2020-01-09 22:45] #7372 closed, assigned to xlogix

[2020-01-09 22:48] seanlip commented on #8362
Hi @marianazangrossi -- a flag is an argument passed in with the script. For example, the backend test script has --test_path and --test_target flags that can be passed in when the script is run. It also has a --generate_coverage_report flag (see the top of run_backend_tests.py for details).

I think @kevinlee12 is suggesting doing something similar for the frontend test script. Does that help cla

[2020-01-09 23:57] ek822 opened #8382 "New"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2020-01-10 00:13] seanlip commented on #8382
This does not look like a bug specific to Oppia. Closing.

[2020-01-10 00:13] #8382 closed, assigned to nobody

[2020-01-10 00:34] anmolshkl opened #8383 "Unable to save a question in the question editor modal."
**Describe the bug**
The "Save" button in the Question Editor modal remains disabled even after filling in all the information for a question such as the question itself, correct answer and feedback, default feedback, hints and solution. I tried with different types of interactions, but the button remained disabled in all of them. Perhaps, I'm missing something but there is nothing to really help

[2020-01-10 00:44] anmolshkl opened #8384 "Incorrect pop-ups when inputting a disallowed keyword for misconception name in skill editor"
**Describe the bug**
When creating a misconception in the skill editor, if we enter a disallowed keyword such as "/" and try to publish the changes, two error messages are displayed instead of one and another pop-up is displayed that says "changes saved".

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to the skill editor and create a new skill.
 2. Add a new misconception having a forw

[2020-01-10 00:59] anmolshkl opened #8385 "No error message on using an invalid exploration ID in story editor"
**Describe the bug**
In the sotry editor, if we try to use an invalid exploration ID for a chapter, although the save draft button remains disabled there is no error message/warning being displayed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Go to topic editor and click ‘Create Story’, enter a title and go to the editor
 3. Go to story editor
 4. Create a chapter
 5.

[2020-01-10 03:46] U8NWXD commented on #8383
@anmolshkl this works for me for some reason. Here's a screenshot:

![Screen Shot 2020-01-09 at 19 45 16](https://user-images.githubusercontent.com/19878639/72124163-9594a580-3318-11ea-99c5-8382abd4c29c.png)

Can you confirm that you checked out the `release-2.8.9` branch and not current `develop`? Also, what browser and OS are you running?

[2020-01-10 03:52] U8NWXD commented on #8385
@anmolshkl I believe if you hover over the warning symbol on the edit icon (the pencil) in the top bar, a list of errors, including the invalid exploration ID, will be displayed

[2020-01-10 03:53] U8NWXD commented on #8385
I'm removing from blocking bugs since having to hover over the pencil icon to see the error is normal behavior. However, I agree that this could be made more clear, so I'm leaving this issue open.

[2020-01-10 04:43] U8NWXD commented on #6240
Assigned @nadintamer to testing item selection interaction per our discussion

[2020-01-10 05:44] anmolshkl commented on #8385
@U8NWXD oh, I see. I fear that it is too subtle and easy to miss for creators, so we should change it (happy to know what other creators think). I think it's fine to remove this from blocking bugs while keeping it open.

[2020-01-10 05:58] anmolshkl commented on #8383
@U8NWXD hmm strange, I tried again and it worked for me as well. Closing the issue, thanks!

[2020-01-10 05:58] #8383 closed, assigned to nobody

[2020-01-10 06:10] lakshay-angrish commented on #4057
Could I work on **ParamChangesObjectFactory.ts** ?

[2020-01-10 06:18] seanlip commented on #4057
Hi @lakshay-angrish, I've assigned you. Thanks!

[2020-01-10 08:27] aman-bhalo commented on #8385
I agree with @anmolshkl there should be something like  of pop up option , Maybe just an error alert on the lower right side of the application.

[2020-01-10 10:45] alexanderwlee commented on #7176
Hi! I would like to work on core/templates/dev/head/domain/statistics/LearnerActionObjectFactory.ts. If anyone is already working on it, please let me know.

[2020-01-10 11:52] iamprayush commented on #8209
@tyleri @ankita240796 Any updates?

[2020-01-10 15:19] marianadasilvadev commented on #8362
@seanlip Thanks for the explanation, now I get it. I think it's a good approach, and it will make the check script less complex. Should we merge the CircleCI job or can I make these changes in the original PR?

[2020-01-10 15:37] kevinlee12 commented on #8362
I’d prefer that it be folded into the original PR so that we don’t take up another CircleCI container (we have a limit to how many containers can run at once).

[2020-01-10 15:49] kevinlee12 commented on #7830
sure!

[2020-01-10 15:49] #8049 closed, assigned to nobody

[2020-01-10 17:25] kevintab95 commented on #7442
This error occured recently with this stacktrace:
[code]

State name has been anonymised.

[2020-01-10 17:58] kevintab95 commented on #8318
This error occured recently with the following stacktrace:
[code]

[2020-01-10 19:44] kevintab95 opened #8389 "Undefined error in exploration-diff.service.ts"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2020-01-10 19:58] kevintab95 opened #8390 "Trying to get the Angular injector before bootstrapping the corresponding Angular module."
This error occurred recently in production with the following URL:
https://www.oppia.org/learn/maths/fractions

[code]

**Additional context**
Browser/Device: Internet Explorer 11 on Windows 8.1

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the erro

[2020-01-10 20:06] kevintab95 opened #8391 "UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 25: ordinal not in range(128)"
This error occurred recently in production. It seems similar to #158.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia te

[2020-01-10 23:12] Radesh-kumar opened #8392 "Navbar ERROR when browser is minmized (DONATE and CREATE are missing)"
![Screenshot from 2020-01-11 04-21-36](https://user-images.githubusercontent.com/54100702/72192736-a6ced680-342c-11ea-9e98-8830038fa34f.png)

**Observed behavior**
 DONATE and CREATE in navbar are missing when chrome window was minimized

**Expected behavior**
It was supposed show the items in menu DONATE and CREATE in navbar

**Desktop (please complete the following information; delete this secti

[2020-01-10 23:14] seanlip commented on #8392
Thanks for reporting this. This is actually not an error -- we do adjust the navbar based on the width and hide some parts of it so that it doesn't look messy on smaller-width screens. You can see this behaviour by gradually widening/narrowing the screen.

So, closing the issue, but if this is a bug beyond the context I provided above, please feel free to reopen it. Thanks!

[2020-01-10 23:14] #8392 closed, assigned to nobody

[2020-01-10 23:17] Radesh-kumar commented on #8392
Tq for replying @seanlip , I'm new to Oppia family.
i'm good a front-end can u suggest me beginner friendly issue??

[2020-01-10 23:28] seanlip commented on #8392
Welcome to the project, @Radesh-kumar! Please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. In particular, once you've completed step 2, someone from the team can reach out to you to suggest projects. You can also find some suggestions for projects further down on that same page.

[2020-01-10 23:33] U8NWXD commented on #8356
@aks681 I'm assigning you since this is an issue for the learner and creator experiences

[2020-01-10 23:34] U8NWXD commented on #8375
@aks681 I'm assigning you since this is an issue for the learner and creator experiences

[2020-01-10 23:34] U8NWXD commented on #8384
@aks681 I'm assigning you since this is an issue for the learner and creator experiences

[2020-01-10 23:39] #7661 closed, assigned to rohitkatlaa

[2020-01-10 23:39] #8215 closed, assigned to Vinit-Dantkale

[2020-01-10 23:41] #7336 closed, assigned to MartzGub

[2020-01-11 03:14] rohitkatlaa commented on #7847
@aks681 I am sorry for the late reply but I am not able to find the existing tests could you direct me to the file of the test.

[2020-01-11 03:49] lakshay-angrish commented on #4057
What is the `CHANGELOG` label, and what should it be for **ParamChangesObjectFactory.ts**?

[2020-01-11 06:24] seanlip commented on #4057
I've updated the changelog label on your PR. Thanks!

[2020-01-11 08:14] larrytal commented on #8349
@rohitkatlaa Any updates?

[2020-01-11 09:26] Arnesh07 commented on #7450
Hey @kevinlee12 I would like to work on `user_jobs_one_off_test.UserFirstContributionMsecOneOffJobTests`. Please assign me.
Thanks

[2020-01-11 09:27] iamprayush commented on #8354
Hey @U8NWXD. I tried replicating this issue and this is what I observed.
The issue doesn't occur on Google Chrome but when I tried on Firefox the console did show the mentioned error. Also, the Firefox console also showed this error(Although, I'm not sure if this is related) which was not thrown in Google Chrome:

`Source map error: Error: request failed with status 404
Resource URL: http://localh

[2020-01-11 11:23] rohitkatlaa commented on #8349
@larrytal I am sorry for the delayed reply. You can start working on it.

[2020-01-11 16:01] larrytal commented on #8349
@rohitkatlaa I need some help though. PTAL.

[2020-01-11 17:30] kevintab95 opened #8396 "Provide an easy, lightweight way for students to log in to save progress"
Need a "lightweight login" that enables students to save their progress across multiple sessions (but not give them editing rights to things).

This was originally reported by @yamamashakaa.

[2020-01-11 17:34] kevintab95 opened #8397 "Support for checkpoints to allow resuming a lesson from partway through"
There needs to be a way to add "checkpoints" in a lesson so that students can save their progress and resume from that point at a later time.

This issue was originally reported by @yamamashakaa.

[2020-01-11 17:36] kevintab95 commented on #8397
Hi @vinitamurthi, I've created this issue for the "checkpoints" feature. Please feel free to add more details as you finalise the design doc. Thanks!

[2020-01-11 18:13] kevintab95 opened #8398 "Exploration should be playable even if internet connection is flaky mid-lesson."
**Describe the bug**
If the internet connection is flaky during the middle of a lesson, the learner should still be able to continue playing the lesson.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start playing an exploration (Progress through 1-2 cards).
 2. Turn off the internet / throttle in the dev console.
 3. Observe that there is no way to proceed to the next card (eg. input elem

[2020-01-11 18:47] kevintab95 opened #8399 "Slowing down of audio when using audio recorder functionality"
**Describe the bug**
During the user studies in Palestine, it was reported that the narrators voice seemed slow. This is because the audio recorder sometimes slows down the recorded voice.

**Observed behavior**
Slowing down of recorded audio.

**Expected behavior**
The recorded audio should be of normal speed.

This issue was originally reported by @yamamashakaa.

[2020-01-11 19:06] kevintab95 opened #8400 ""Audio" text in the learner-facing audio playback functionality is confusing"
**Describe the bug**
A clear and concise description of what the bug is.
The "Audio" text in the lesson audio functionality is confusion to students. Students don't realize that they can click on the tab to play the audio for the card.

Suggested change:
Replace the word audio with a speaker icon with a sentence like “Listen to the lesson."

![mock 4](https://user-images.githubusercontent.com/1100

[2020-01-11 19:16] #8380 closed, assigned to kevintab95

[2020-01-11 23:53] kevinlee12 commented on #7450
@Arnesh07 you got it!

[2020-01-12 05:31] #8307 closed, assigned to aks681

[2020-01-12 05:31] #8308 closed, assigned to aks681

[2020-01-12 05:31] #8360 closed, assigned to aks681

[2020-01-12 05:33] #7605 closed, assigned to jameesjohn

[2020-01-12 05:39] kevintab95 opened #8401 "Audio functionality should have a"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2020-01-12 05:43] kevintab95 opened #8402 "Audio functionality should have a "start from the beginning" option"
Currently, to go to the beginning of an audio playback one has to click and drag the red circle to the left end. Instead add a button/text that will restart the audio playback on click.

This issue was originally reported by @yamamashakaa.

[2020-01-12 05:44] kevintab95 commented on #8402
Hi @yamamashakaa, please feel free to add more details and mocks to this issue. Thanks!

[2020-01-12 05:52] kevintab95 opened #8403 "Add shadow for nodes in the learner collection view to make it look clickable"
During a user study, some students reported that the nodes in the learner collection view do not seem clickable. Suggestion is to add a shadow to indicate that it is clickable.

<img width="613" alt="mock 5" src="https://user-images.githubusercontent.com/11008603/72214738-e3362b80-352d-11ea-941c-bb124fd0b13e.png">

Note: Hovering produces a highlight effect on the nodes. However, this functionalit

[2020-01-12 13:21] rohitkatlaa commented on #6240
@U8NWXD I am sorry for the delay but is it possible to assign me back to the e2e test.

[2020-01-12 16:17] #7836 closed, assigned to vojtechjelinek

[2020-01-12 16:17] #8088 closed, assigned to vojtechjelinek

[2020-01-12 18:30] Arnesh07 commented on #4057
Hey! @seanlip , I would like to write the test for `UserEmailPreferencesService.ts`.
Thanks.

[2020-01-12 18:42] iamprayush commented on #8370
@brianrodri @nithusha21 Any updates?

[2020-01-12 18:45] shashikant231 commented on #7558
HI @nithusha21  can i work on it?

[2020-01-12 18:53] #8401 closed, assigned to nobody

[2020-01-12 18:53] kevintab95 commented on #8401
Created by mistake. Sorry!

[2020-01-12 19:05] safwan20 commented on #8402
I want to contribute, may I know the filename

[2020-01-12 19:46] kevintab95 commented on #8359
I think this is a more general problem regarding image upload using GCS in prod_mode on local machines. This occurs because our local machines do not have a GCS attached to it, so the app ID is None. This can be observed when trying to add images to explorations as well.
![image](https://user-images.githubusercontent.com/11008603/72224605-33e76c00-35a2-11ea-926e-0d18d6abe352.png)

[2020-01-12 20:31] iamprayush commented on #8400
Hey @kevintab95. I'd like to work on this.

[2020-01-12 20:40] kevintab95 commented on #8400
Sure, @iamprayush. I've assigned this to you.

[2020-01-12 20:45] kevintab95 commented on #8402
Hi @safwan20! Can you please sign the CLA as per instructions on [this page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before starting work on this? Thanks!

[2020-01-12 20:47] iamprayush commented on #8400
@kevintab95 I couldn't find the icon you've shown, in the font awesome icons. The closest icon was the headphones icon which looks like this:
![Screenshot from 2020-01-13 02-13-04](https://user-images.githubusercontent.com/35144226/72225347-a0feff80-35aa-11ea-8279-fdf10fa91f64.png)
Also, will I have to change and translate the text in all languages?

[2020-01-12 20:53] safwan20 commented on #8402
@kevintab95 ,done!

[2020-01-12 20:54] kevintab95 commented on #8402
Thanks! Also, please make sure to read through and follow the instructions in the [entire page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) so that you don't miss anything.

[2020-01-12 20:55] safwan20 commented on #8402
sure and filename ?

[2020-01-12 20:58] kevintab95 commented on #8402
To start with you can take a look at `audio-bar.directive.ts`.

[2020-01-12 21:18] Showtim3 commented on #8403
Hey @kevintab95 What does **Awaiting Triage** means?

[2020-01-12 21:21] kevintab95 commented on #8403
It's an intermediate state before being prioritised (done automatically).

[2020-01-12 21:21] kevintab95 commented on #8403
I've updated it now to "Frontend" btw.

[2020-01-12 21:31] kevintab95 commented on #8375
I'm working on this as it also fixes a related server error (#6921).

[2020-01-13 01:13] U8NWXD commented on #6240
@rohitkatlaa The item selection interaction task has already been assigned to @nadintamer, so I'm checking with them to see if they'd like to switch. Are you particularly interested in that task, or would you like to work on something else like `Code Editor Interaction` instead?

[2020-01-13 02:26] rohitkatlaa commented on #6240
@U8NWXD I happy to work on code editor interaction also. Please assign me, Thank You. I would like to know if there is any particular set of options that I have to test.

[2020-01-13 03:18] seanlip commented on #4057
Sounds good, I've assigned you. Thanks!

[2020-01-13 05:21] seanlip commented on #7771
Deassigning @ulloaluis since he is not working on this.

[2020-01-13 05:21] seanlip commented on #7590
Deassigning @ulloaluis since he is not currently working on this.

[2020-01-13 07:14] safwan20 commented on #8385
is this still unsolved ?

[2020-01-13 09:29] brianrodri opened #8417 "Deprecate the feedback tab"
It's difficult to maintain the code and tests of both the feedback tab and the improvements tab. Given that the improvements tab aims to subsume all functionality in the feedback tab, we should delete all code related to the feedback tab to make maintenance easier. This issue aims to follow that deprecation effort.

**Open action items:**
- [ ] Finalize design of the exploration overview tab, whic

[2020-01-13 09:30] brianrodri commented on #8417
@seanlip do you think we're ready to begin deleting code? Do you think creators have had enough experience with the improvements tab to officially use it as our new source-of-truth for feedback threads and suggestions?

If not, which steps should we begin taking to get there?

[2020-01-13 09:32] seanlip commented on #8417
What does the improvements tab currently look like on develop (in terms of UX)?

[2020-01-13 09:42] brianrodri commented on #8417
Actually, it seems we aren't using it at all? It should have been enabled by #7337, and indeed the default value is `True` in the code base ([pointer](https://github.com/oppia/oppia/blob/develop/core/domain/config_domain.py#L334)). Regardless, it looks like our curated lessons are still falling back to using the feedback tab instead:
![image](https://user-images.githubusercontent.com/5094060/72245

[2020-01-13 10:02] seanlip commented on #8417
Um, I don't actually remember it being turned on in the first place (I've never actually seen it live in production). I think we wanted to get more stuff on the improvements tab before fully deprecating the feedback tab, and we didn't want to turn on both at the same time because that would result in too much stuff in the navbar, but I can't fully remember.

So ... creators have not had any experi

[2020-01-13 10:59] brianrodri commented on #8417
Gotcha, @swaat-on-git FYI

[2020-01-13 12:04] lakshay-angrish commented on #4057
I did a `git pull --rebase upstream master` before making a commit, updating my PR #8394 . It is failing the travis CI check. I am not sure if its due to my code. Could anyone help?

[2020-01-13 12:22] ahv15 commented on #8015
I am slightly confused, in core/templates/dev/head/domain/story_viewer/story-viewer-backend-api.service.ts should we return a story object instead of story data dictionary.

[2020-01-13 12:46] ahv15 commented on #8368
Can I work on this issue.

[2020-01-13 14:21] darksun27 commented on #6766
Hey, I was just starting to contribute to the project but I am consistently facing the issues starting the server. I have tried the solution/changes recommended by @ezl-13 above but no luck.

[2020-01-13 14:54] ahv15 commented on #8015
I would like to work on core/templates/dev/head/domain/question/question-backend-api.service.ts

[2020-01-13 18:55] alexanderwlee commented on #7450
Hi! I would like to work on `rte_component_registry_test.RteComponentUnitTests`. Thanks!

[2020-01-13 20:19] U8NWXD commented on #8384
@aks681 the goal is to finish up the blocking bugs by EOD today. Are you going to be able to fix this issue by then?

[2020-01-13 20:19] U8NWXD commented on #8356
@aks681 are you going to be able to fix this issue by our goal of EOD today?

[2020-01-13 20:46] vojtechjelinek commented on #6766
@darksun27 Can you post the log of your start command so we can see what exactly is the problem?

[2020-01-13 20:47] yamamashakaa commented on #8399
Also, I want to add that there is some sound effect that makes the audio thicker than the orignal one. Accoridung to students audio that have ben uploaded are more comfortable than audio that have been recorded from Oppia directly.

[2020-01-13 21:08] yamamashakaa commented on #8402
Tank you so much @safwan20 .
I also want to add that my students depend on listening to understand the lesson because the voice is translated to Arabic while the text is not. Sometimes they need to repeat it several times.
I think of something like this, here is a mock @kevintab95
![mock 3](https://user-images.githubusercontent.com/16443315/72292190-8cc60b80-3659-11ea-93f9-ff25f4b88ba7.jpg)

[2020-01-13 21:38] nishantwrp commented on #7450
@alexlee311 You got it!

[2020-01-13 23:49] U8NWXD commented on #6240
@rohitkatlaa I've assigned you! The goal of this test is to make sure that the code editor interaction is not broken by any code changes, so we need to test all paths a user might follow, both the ones we intend (happy) and the ones that show errors to the user (unhappy). Try and cover all the edge cases too. I'd recommend creating an exploration with the code editor interaction locally and playin

[2020-01-14 02:37] rohitkatlaa commented on #6240
Thanks @U8NWXD

[2020-01-14 03:15] iamprayush commented on #8403
Hey @kevintab95. I'd like to work on this, please.

[2020-01-14 03:44] lakshay-angrish commented on #8015
Could I be assigned `pretest-question-backend-api.service.ts` ?

[2020-01-14 03:49] lakshay-angrish commented on #8015
#8422 Could someone add a `CHANGELOG` label? And, how do I find the codeowner information?

[2020-01-14 04:30] kevinlee12 opened #8423 "Implement new linter checks"
This project is aimed at writing linters for the checks below. (Note that, per [@Hudda's audit](https://github.com/oppia/oppia/pull/9337#discussion_r432441499) in May 2020, all checks in this issue would need custom extensions to be developed.) The general procedure to write such linters is as follows:
- Look at the sample code in the linked issue for the affected area.
- Think about character by

[2020-01-14 04:34] kevinlee12 commented on #8165
Filed in #8423

[2020-01-14 04:34] #8165 closed, assigned to nobody

[2020-01-14 04:35] kevinlee12 commented on #7414
Filed #8423

[2020-01-14 04:35] #7414 closed, assigned to nobody

[2020-01-14 04:36] kevinlee12 commented on #6513
Filed #8423

[2020-01-14 04:36] #6513 closed, assigned to nobody

[2020-01-14 04:37] kevinlee12 commented on #6047
Filed #8423

[2020-01-14 04:37] #6047 closed, assigned to nobody

[2020-01-14 04:38] kevinlee12 commented on #5611
Filed #8423

[2020-01-14 04:38] #5611 closed, assigned to nobody

[2020-01-14 04:39] kevinlee12 commented on #7301
Filed #8423

[2020-01-14 04:39] #7301 closed, assigned to nobody

[2020-01-14 04:40] kevinlee12 commented on #6422
Filed #8423

[2020-01-14 04:40] #6422 closed, assigned to nobody

[2020-01-14 04:42] kevinlee12 commented on #7182
Filed #8423

[2020-01-14 04:42] #7182 closed, assigned to nobody

[2020-01-14 04:44] kevinlee12 commented on #6203
Filed #8423

[2020-01-14 04:44] #6203 closed, assigned to nobody

[2020-01-14 04:45] kevinlee12 commented on #6095
Filed #8423

[2020-01-14 04:45] #6095 closed, assigned to nobody

[2020-01-14 04:45] kevinlee12 commented on #8171
Filed #8423

[2020-01-14 04:45] #8171 closed, assigned to nobody

[2020-01-14 04:46] kevinlee12 commented on #8252
Filed #8423

[2020-01-14 04:46] #8252 closed, assigned to nobody

[2020-01-14 04:47] kevinlee12 commented on #8039
Filed #8423

[2020-01-14 04:47] #8039 closed, assigned to nobody

[2020-01-14 04:49] kevinlee12 commented on #7347
We're now attempting to run Oppia directly on Windows, so I'm going to close this.

[2020-01-14 04:49] #7347 closed, assigned to EricZLou

[2020-01-14 04:49] kevinlee12 commented on #7346
We're now attempting to run Oppia directly on Windows, so I'm going to close this.

[2020-01-14 04:49] #7346 closed, assigned to EricZLou

[2020-01-14 04:50] kevinlee12 commented on #6446
Filed #8423

[2020-01-14 04:50] #6446 closed, assigned to nobody

[2020-01-14 04:50] kevinlee12 commented on #6748
Filed #8423

[2020-01-14 04:50] #6748 closed, assigned to nobody

[2020-01-14 04:53] kevinlee12 commented on #6495
Filed #8423

[2020-01-14 04:53] #6495 closed, assigned to nobody

[2020-01-14 05:06] kevinlee12 commented on #6212
Filed #8423

[2020-01-14 05:06] #6212 closed, assigned to nobody

[2020-01-14 05:07] kevinlee12 commented on #5879
Filed #8423

[2020-01-14 05:07] #5879 closed, assigned to nobody

[2020-01-14 05:08] kevinlee12 commented on #6067
Filed #8423

[2020-01-14 05:08] #6067 closed, assigned to nobody

[2020-01-14 05:08] kevinlee12 commented on #6163
Filed #8423

[2020-01-14 05:08] #6163 closed, assigned to nobody

[2020-01-14 05:09] kevinlee12 commented on #5477
Filed #8423

[2020-01-14 05:09] #5477 closed, assigned to nobody

[2020-01-14 05:11] kevinlee12 commented on #7830
Filed #8423. @donosco98 please continue to work on this issue, I'm only moving this issue for administrative purposes.

[2020-01-14 05:11] #7830 closed, assigned to donosco99

[2020-01-14 05:16] kevinlee12 commented on #7355
Closing this since we're attempting to get Oppia to run directly on Windows.

[2020-01-14 05:16] #7355 closed, assigned to EricZLou

[2020-01-14 05:16] kevinlee12 commented on #7345
Closing this since we're attempting to get Oppia to run directly on Windows.

[2020-01-14 05:16] #7345 closed, assigned to EricZLou

[2020-01-14 08:00] safwan20 commented on #8402
@yamamashakaa I will do it

[2020-01-14 08:46] Showtim3 commented on #8403
Hey @iamprayush I have assigned you.

[2020-01-14 14:32] #7601 closed, assigned to vojtechjelinek

[2020-01-14 17:20] renana commented on #7346
Sounds good. Does this means you are using bash to execute the scripts?

On Mon, Jan 13, 2020 at 8:49 PM Kevin Lee <notifications@github.com> wrote:

[2020-01-14 18:16] #6921 closed, assigned to kevintab95

[2020-01-14 18:16] #8375 closed, assigned to kevintab95

[2020-01-14 19:29] EricZLou commented on #7346
We're actually trying to get rid of the bash scripts now and convert them
into Python scripts since bash scripts are proving difficult on Windows.

On Tue, Jan 14, 2020 at 9:20 AM Renana Yacobi <notifications@github.com>
wrote:

[2020-01-14 20:13] renana commented on #7346
This is great news. Much better approach. Thank you!

On Tue, Jan 14, 2020 at 11:29 Eric Lou <notifications@github.com> wrote:

[2020-01-15 07:31] #8077 closed, assigned to ankita240796, bansalnitish

[2020-01-15 15:35] #8125 closed, assigned to nobody

[2020-01-15 18:20] marianadasilvadev commented on #4057
@seanlip I've updated the service list with some services that doesn't have a test file yet, suggested by @nithusha21. Also, I'm working on some services from it (**PredictionResultObjectFactory.ts**, **AnswerStatsObjectFactory.ts** and **ParamChangeObjectFactory.ts**). Should I assign myself or should I comment in this thread everytime I pick up a new service? Thanks!

[2020-01-15 18:49] abhayraghuwanshi commented on #7913
can i work on this one

[2020-01-15 18:51] Showtim3 commented on #7913
@abhayraghuwanshi Have you signed the CLA?

[2020-01-15 18:54] abhayraghuwanshi commented on #7913
no

[2020-01-15 18:54] abhayraghuwanshi commented on #7913
i am new here

[2020-01-15 19:24] Showtim3 commented on #7913
@abhayraghuwanshi Okay no problem, You can go through this firstly, our [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia)

[2020-01-15 19:30] abhayraghuwanshi commented on #7913
ok thank you

[2020-01-15 21:21] seanlip commented on #4057
Go ahead and assign yourself. Thanks!

[2020-01-15 22:13] nishantwrp commented on #8368
@ahv15 Sure, assigned you!

[2020-01-15 22:19] #8206 closed, assigned to nobody

[2020-01-15 22:23] nishantwrp commented on #8053
@xlogix  Could you please check whether following these instructions fixes the problem? https://groups.google.com/forum/#!topic/oppia-dev/I43GXifaRR4

[2020-01-15 22:28] nishantwrp commented on #7712
@kevintab95 @nithusha21 Is this issue free to work on? Also as @Showtim3 said Should we add a text limit to something like 50 chars?

[2020-01-16 00:29] lakshay-angrish commented on #4057
I actually cover **ParamChangeObjectFactory.ts** in #8394

[2020-01-16 03:46] marianadasilvadev commented on #4057
@lakshay-angrish don't worry about that. I see that you covered ParamChange**s**ObjectFactory.ts, I'm working on ParamChangeObjectFactory.ts

[2020-01-16 04:54] lakshay-angrish commented on #4057
I have written tests for both **ParamChangeObjectFactory.ts** and **ParamChangesObjectFactory.ts** in #8394

[2020-01-16 09:41] kevintab95 commented on #7712
Hi @nishantwrp, yes please feel free to assign yourself! I agree, we can have a 50 char limit for the button text. Thanks!

[2020-01-16 13:41] marianadasilvadev commented on #4057
@lakshay-angrish I get it. However, **ParamChangeObjectFactory.ts** doesn't have it own test file in your PR. I think each service should have their own spec file. We shouldn't test a service based in another service. What do you think? @seanlip @nithusha21

[2020-01-16 14:33] ananthanandanan commented on #8038
Hello, can I assigned to core/templates/dev/head/components/entity-creation-services/story-creation.service.ts ?

[2020-01-16 14:54] lakshay-angrish commented on #4057
@marianazangrossi The thought crossed my mind. But I thought that the files in question are very much related, due to which I wrote tests for both of them. I don't know if its wrong.

[2020-01-16 16:00] ahv15 commented on #8368
@nishantwrp  one small doubt, so do I have to convert all the text fields string data into data of type text.

[2020-01-16 16:18] Showtim3 opened #8434 "One off jobs are not working with the --prod_env flag."
**Describe the bug**
One off jobs are not working with the --prod_env flag either in the development server ie ```python -m scripts.start --prod_env``` or the ```bash scripts/run_e2e_tests.sh --prod_env```.

[2020-01-16 17:26] nishantwrp commented on #8038
@ananthanandanan Sure, assigned you!

[2020-01-16 18:16] aks681 commented on #8356
I'll try to fix the issue by Friday, though I had a question in the steps to reproduce - why is a job being run, does this issue occur without running the job as well?

[2020-01-16 18:16] aks681 commented on #8384
I'll create PR by tonight.

[2020-01-16 18:50] aks681 commented on #8350
Fixed by #8364

[2020-01-16 18:50] #8350 closed, assigned to rohitkatlaa

[2020-01-16 19:18] seanlip commented on #4057
Sorry, I can't look at this for the next few days (travelling). Please
check with Nithesh.

Thanks!

[2020-01-17 04:56] nikitamarysolomanpvt commented on #8157
It seems when user enter bigger values the error messages displayed are not proper.
It is suggested to give an error message when any of the numbers in fraction exceeds 7 digits.
 <img width="1680" alt="web" src="https://user-images.githubusercontent.com/54615666/72585215-308e1080-3913-11ea-8e66-744dba661d08.png">
PTAL @seanlip @BenHenning

[2020-01-17 11:17] iamprayush opened #8439 "Buggy interaction with the author profiles element."
**Describe the bug**
The Author Profiles element in the footer of interactions shows a stacked and buggy UI when the element is clicked and the size of the browser is changed.
Also, the background color disappears upon clicking the element.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start any exploration.
 2. Click on the "AUTHOR PROFILES" element in the footer of the page. Observe how

[2020-01-17 12:40] lakshay-angrish commented on #4057
@marianazangrossi I think you're right. I will push a commit that will remove the tests involving `ParamChangeObjectFactory.ts` from my PR.

[2020-01-17 15:51] abhayraghuwanshi commented on #8439
Can i work on this

[2020-01-17 16:09] iamprayush commented on #8439
Hi @abhayraghuwanshi. Go ahead, but first, please make sure to read through this [entire page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), if you've not done so already. Thanks!

[2020-01-17 16:14] abhayraghuwanshi commented on #8439
Okay thanks

[2020-01-17 18:13] nithusha21 commented on #8356
/cc @brianrodri

[2020-01-17 23:17] marianadasilvadev commented on #8362
This issue was resolved by #8130, which is already merged.

[2020-01-17 23:17] #8362 closed, assigned to marianadasilvadev

[2020-01-18 00:06] U8NWXD commented on #8356
The saving of the trivial changes in step 8 is only blocked if there are common wrong answers that are not given specific feedback. I think the job is needed to tally up the wrong answers submitted by learners, so without the job I would not expect the saving to be blocked

[2020-01-18 00:18] U8NWXD commented on #8434
Some more details in the interests of documenting how @Showtim3 fixed this:

This problem occurs because the `--prod_env` flag causes the `version: default` line to be deleted from `app.yaml` by `build.py`. We do this because google cloud does not like the `version: default` line, so we instead set the version manually using a command-line argument when deploying. However, this causes problems whe

[2020-01-18 05:44] Vinit-Dantkale commented on #6349
Hi @seanlip , I would like to take up this part. I'll report with the reason of issue first and if it sounds good, I'll make a PR.

[2020-01-18 07:25] Showtim3 commented on #8434
@U8NWXD Thanks for the comment Chris, One more thing to add is one off jobs didn't worked with python -m scripts.start --prod_env either.

[2020-01-18 15:51] #8434 closed, assigned to Showtim3

[2020-01-18 17:58] vojtechjelinek commented on #6349
@Vinit-Dantkale Yeah sure, you can work on this.

[2020-01-18 18:30] kevintab95 opened #8444 "InvalidRequest: Failed to execute search request"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2020-01-18 18:33] kevintab95 opened #8445 "Cannot set property 'newestStateName' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-01-18 18:35] kevintab95 opened #8446 "Failed to set the 'currentTime' property on 'HTMLMediaElement'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-01-18 18:45] lakshay-angrish commented on #8016
Could I work on `core/templates/dev/head/pages/admin-page/config-tab/admin-config-tab.directive.ts` ?

[2020-01-18 18:48] nishantwrp commented on #8016
@lakshay-angrish Assigned you!

[2020-01-18 19:10] lakshay-angrish commented on #8016
@nishantwrp Could you please add a CHANGELOG label to #8447 ?

[2020-01-18 19:19] shrustysingh01 commented on #8038
Hey can I work on this issue?

[2020-01-18 19:30] nishantwrp commented on #8038
@shrustysingh01 Sure, Please let me know which part of the issue would you like to work on

[2020-01-18 19:42] nishantwrp commented on #7969
Hey @DubeySandeep, is this issue free to be worked on?

[2020-01-18 20:06] shrustysingh01 commented on #8038
I want to work on core/templates/dev/head/pages/exploration-player-page/services/learner-view-rating.service.ts
Thanks

[2020-01-18 20:17] nishantwrp commented on #8038
@shrustysingh01 Assigned you! :+1:

[2020-01-18 20:18] shrustysingh01 commented on #8038
Thanks !!

[2020-01-18 20:50] yamamashakaa opened #8448 "No Continue button to continue the rest of the lesson- Practice 9 - Lesson 3 - Negative numbers"
**Describe the bug**

In practice 9 lesson 3 in negative numbers we passed by a case that there was no way to continue the lesson. No submit button nor continue button.
**To Reproduce**

Steps to reproduce the behavior:
 1. Go to negative number lesson 3
 2. Play till you reach to Practice 9
 3. Scroll down to answer
 4. No submit button or continue button to continue the rest of the lesson shown

[2020-01-18 21:01] yamamashakaa opened #8449 "Learn again button was shown even when the answer is right."
**Describe the bug**
Bug in showing the learn again button . it appears when the student answered right. The learn again button takes her to different question that she did not see before
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to  negative numbers - Lesson 2
 2. Play the lesson till you answer a question that shows you a learn again button even when you answer right.

**Observed

[2020-01-18 21:15] yamamashakaa opened #8450 "About the Add item button questions"
**Is your feature request related to a problem? Please describe.**
When students come to this kind of questions where the answer is several numbers and they needed to click add item button each time they enter a number they got confused because the length of the input box is too long . They thought that they should add more than one number; one student wrote all her answers in the same box, separa

[2020-01-19 05:11] #8384 closed, assigned to aks681

[2020-01-19 05:28] Vinit-Dantkale commented on #8015
Hi @DubeySandeep , I would like to fix `core/templates/dev/head/domain/topic_viewer/topic-viewer-backend-api.service.ts`. Are there steps to create domain class as I'll need for `topicDataObjectFactory`.

[2020-01-19 19:23] kevintab95 opened #8456 "Convert "throw <string>" to "throw <Error>""
We throw string instead of Error object in a bunch of places in our code base. This causes issues when trying to capture frontend errors in stackdriver because we expect Error object properties such as `message` and `stack` (See App.ts). Also in general, it is good practise to avoid throwing primitive data types.

Example of the change:
Replace
[code]

with
[code]

[2020-01-19 23:29] U8NWXD commented on #7427
Assigned @jkoj25 to `core/domain/state_domain.py` based on our conversation

[2020-01-19 23:53] U8NWXD opened #8458 "Naming of `popper.js` Zip Breaks Third-Party Dependency Installation"
**Describe the bug**

When downloading `popper.js` from https://github.com/FezVrasta/popper.js/archive/v1.15.0.zip, the file that is actually downloaded is `popper-core-1.15.0`. This causes an error when on line 150 of `scripts/install_third_party.py` we try to copy the file.

**To Reproduce**
Steps to reproduce the behavior:
 1. Clone a fresh copy of oppia
 2. Run `python -m scripts.start` to ins

[2020-01-19 23:53] U8NWXD commented on #8458
/cc @oppia/dev-workflow-team

[2020-01-19 23:57] kevinlee12 commented on #8458
@marianazangrossi you might want to look into this.

[2020-01-20 13:42] rohitkatlaa commented on #6240
@U8NWXD How does pencil code editor work and what is the language used in it and is there any reference I can use?

[2020-01-20 15:46] abhayraghuwanshi commented on #8439
where should I add my changelog label in PR

[2020-01-20 16:30] ankita240796 commented on #8356
I do not think this is blocking since it happens only if a job is run in parallel which is a rare situation. Removing this from blocking bugs.

[2020-01-20 19:39] abhayraghuwanshi commented on #7913
I am not able to reproduce this in dev mode but it exists in the oppia website

[2020-01-20 20:26] dchen97 opened #8461 "Improve Loading Speed for Key Pages"
**Describe the bug**
Oppia.org's platform relies critically on being able to load an excellent experience even on low-end devices and in low-bandwidth internet settings. However, some key pages for our site currently have very slow loading times, which significantly impairs our users' experience especially on mobile phones.

We've also gotten repeated reports from students and facilitators using t

[2020-01-21 05:28] iamprayush commented on #8450
Hi @yamamashakaa.
If I'm not wrong, the input is not just specific to numbers which is why I believe the width is kept so long.
One possible fix to this issue might be to have a dynamic width which adjusts based on the input size.
Something like this:

![text_input](https://user-images.githubusercontent.com/35144226/72777780-d1930900-3c3c-11ea-9c1a-6e476bfe2d8f.gif)

I can create a PR with this ch

[2020-01-21 07:00] U8NWXD commented on #8356
@ankita240796 by the job running in parallel, are you referring to the `InteractionAnswerSummariesAggregator` job? If so, then I may have been unclear in my description of my understanding of the issue. Let me try again:

We expect that, when this job is running, the submitted wrong answers will be tallied and, when a creator has not addressed common wrong answers specifically, their changes canno

[2020-01-21 07:25] U8NWXD commented on #6240
@rohitkatlaa Are you able to run the editor locally? When running, you can set the editor to evaluate user input on a variety of criteria:

![Screen Shot 2020-01-20 at 23 20 13](https://user-images.githubusercontent.com/19878639/72783585-a3311180-3bdb-11ea-847e-c1ef13da4640.png)

I believe user input is evaluated as Python code, and then those criteria are applied. Does that make sense? Unfortunat

[2020-01-21 09:03] abhayraghuwanshi commented on #8456
Can i work on this

[2020-01-21 09:06] kevintab95 commented on #8456
@abhayraghuwanshi, sure! I've assigned this issue to you.

[2020-01-21 09:11] kevintab95 opened #8464 "Cannot read property 'match' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-01-21 11:59] ahv15 commented on #8449
@yamamashakaa I would like to work on this issue

[2020-01-21 17:12] kevintab95 commented on #8400
@iamprayush, I think you will need to translate the English text because it is user facing. You can take a look at [this wiki page](https://github.com/oppia/oppia/wiki/How-to-develop-for-i18n). Thanks!

Edit: So sorry for the late reply!

[2020-01-21 17:50] #8330 closed, assigned to nobody

[2020-01-21 20:17] #8331 closed, assigned to nobody

[2020-01-21 21:56] seanlip commented on #8157
Assigning to learner experience team. @aks681 @kevintab95 could you please triage this and prioritize it accordingly?

(Also, thanks @nikitamarysolomanpvt for filing!)

[2020-01-21 22:00] seanlip commented on #8458
Assigning to @marianazangrossi.

@marianazangrossi this seems serious? /cc @nithusha21  @vojtechjelinek

[2020-01-21 23:29] marianadasilvadev commented on #8458
Hey @U8NWXD are you using the last version of develop branch? I've followed the steps to reproduce the error and everything seems to work fine. The error you're mentioning was probably fixed already in #8442

Just to be sure, are you using Windows? Is it possible to `popper.js` still be breaking on Windows even after the fix? @kevinlee12 @seanlip @vojtechjelinek

[2020-01-21 23:30] seanlip commented on #8458
@marianazangrossi -- not sure if your last question is addressed to me, but if so, the answer is that I don't know. I suggest working with @U8NWXD to get to the bottom of what is going on!

[2020-01-21 23:31] seanlip commented on #8458
Also, make sure to take a look at how manifest.json gets parsed -- that might help. I think you can find the logic in scripts/install_third_party.py, and it should be fairly simple to reason through.

[2020-01-21 23:43] seanlip opened #8470 "Address remaining documentation comments from #8435"
There are two follow-up comments re documentation on #8435:

https://github.com/oppia/oppia/pull/8435#pullrequestreview-346266697

The aim of this issue is to resolve them.

[2020-01-22 03:18] U8NWXD commented on #8458
@marianazangrossi this bug was occurring in current develop when it was discovered, but that was a few days before I filed this issue (and possibly before #8442 was merged). Based on my understanding of the issue, it looks like #8442 should fix it, but I'll check with the contributor who discovered the bug (@jkoj25) to see if they can reproduce it anymore

[2020-01-22 04:48] U8NWXD commented on #8458
I have confirmed with @jkoj25 that this issue has been resolved, so I am closing the issue

[2020-01-22 04:48] #8458 closed, assigned to nobody

[2020-01-22 08:55] seanlip commented on #8448
Assigning to the learner experience team to triage. /cc @aks681 @kevintab95

[2020-01-22 08:56] seanlip commented on #8449
Assigning to the learner experience team to triage. /cc @aks681 @kevintab95

Note that this is a fairly serious bug, I think we should fix it ASAP.

[2020-01-22 09:58] kevintab95 commented on #8448
@yamamashakaa, this particular card is supposed to have multiple choice questions. Did the radio buttons not show when you tested?

[2020-01-22 10:02] kevintab95 commented on #8449
Looks like the correctness feedback option was turned on but this card did not have any answer group marked as "Correct".

[2020-01-22 13:13] kasthuri28 commented on #8038
Hi,
Can I be claimed to core/templates/dev/head/components/entity-creation-services/question-creation.service.ts

[2020-01-22 13:19] nishantwrp commented on #8038
@kasthuri28 Sure you got it.

[2020-01-22 13:35] kasthuri28 commented on #8038
Thank You :)

[2020-01-22 15:54] tyleri opened #8472 "Migrate AngularJS services to Angular 8"
The Oppia project is currently in a hybrid state where we are currently using both Angular 8 and AngularJS. This makes our application slow and bulky, partly because several third-party libraries need to be duplicated (since many of the AngularJS libraries are not compatible with Angular).

The aim of this issue is to migrate services still using AngularJS to modern Angular 8. The benefits of doin

[2020-01-22 17:26] darksun27 commented on #6928
@vinitamurthi is this issue still open and can I contribute to it?

[2020-01-22 17:57] Arnesh07 commented on #4057
Hey! I have been working on writing a test for the UserEmailPreferenceService.ts.
Here's the link of what I have done so far:
https://gist.github.com/Arnesh07/04bc6e6264152167cb1e612d66c8da06
I have found out that the expectPUT function is not working (Probably the PUT request isn't matching in the test)
What I have done to debug it so far:
I changed the put request in both the service and the tes

[2020-01-22 19:03] seanlip commented on #4057
Hi @Arnesh07, I'm going to redirect your question to @marianazangrossi, since she has much more up-to-date knowledge on the frontend tests at this point than I do.

[2020-01-22 19:38] seanlip commented on #8449
That fixed it! Thank you, @kevintab95. I've updated the exploration and will close this issue.

[2020-01-22 19:46] seanlip commented on #8300
Closing this after discussion with @BenHenning -- we don't want to add more cookies where not really needed.

[2020-01-22 19:46] #8300 closed, assigned to nishantwrp

[2020-01-22 19:57] kevintab95 commented on #8456
@abhayraghuwanshi are you working on this issue?

[2020-01-22 20:02] yamamashakaa commented on #8450
Hi @iamprayush ,
All the examples I passed by that contains the add item button , the item was a number.
I think that single item could be a word or a number  (One thing ) and in all cases the size gave the indication that the item should be something that fill the box.
The dynamic length idea is good. Let ask @seanlip first.
I just checked the number line lesson and I noticed a lot of long input

[2020-01-22 20:13] yamamashakaa commented on #8448
Yes while testing there was nothing to do . There was no radio button .

[2020-01-22 22:57] seanlip commented on #8450
I'm not sure that changing the width of the input box is the right approach for this, given that it happened only once and that students were not confused in other similar questions.

Instead, I think it is the text and (lack of) instructions that might be confusing. What do you think about updating the question / instructions to say "Add one number per box", and changing the text in the button to

[2020-01-22 23:02] seanlip commented on #8356
This is indeed a bit odd. I don't think it needs to block the January release in this specific case, because if I understand correctly, the wrong answers still show up in the editor page, it just doesn't force the creator to handle it. But if there's a discrepancy in this behaviour between numeric and text input, it does seem like an error that should be fixed.

@U8NWXD, could you please elaborate

[2020-01-22 23:03] seanlip commented on #6240
@rohitkatlaa:

Pencil Code uses coffeescript. See https://pencilcode.net/ for details.

That said, I suggest writing e2e tests for the non-pencilcode code editor, since these are likely to be simpler. The language used there is Python and the engine used to evaluate code is Skulpt.

[2020-01-23 01:58] rohitkatlaa commented on #6240
@seanlip @U8NWXD Thank You the suggestion of @seanlip. So can I write the e2e tests for "/extensions/interactions/CodeRepl/protractor.js" instead of pencilcode editor?

[2020-01-23 02:03] seanlip commented on #6240
Yes, sure.

[2020-01-23 02:04] seanlip commented on #6240
(Assuming it's not done already.)

[2020-01-23 02:56] mzaman07 commented on #8472
I can provide contextual knowledge for voiceover-recording.service.ts if needed.

[2020-01-23 04:50] #8403 closed, assigned to iamprayush

[2020-01-23 12:43] rohitkatlaa commented on #6240
@seanlip The e2e testing is not written for coderepl so I will be doing it.

[2020-01-23 15:04] abhayraghuwanshi commented on #8456
yes

[2020-01-23 15:10] abhayraghuwanshi commented on #8456
sorry I was busy last night was not able to reply to that

[2020-01-23 15:26] kevintab95 commented on #8456
No problem. Thanks for letting me know!

[2020-01-23 15:33] abhayraghuwanshi commented on #8456
can I still work in that or is it closed now

[2020-01-23 15:34] kevintab95 commented on #8456
It is open. Please feel free to raise a PR once you are done with your changes. Thanks!

[2020-01-23 16:50] abhayraghuwanshi commented on #8472
can I work on SkillObjectFactory.ts

[2020-01-23 18:16] tyleri commented on #8472
@abhayraghuwanshi Sure! Assigned the file to you.

[2020-01-23 20:53] seanlip commented on #6240
OK, sounds good, thanks -- feel free to go ahead. I suggest updating the filepath reference in the first comment too.

[2020-01-23 21:04] seanlip commented on #4057
(Assigning @marianazangrossi to flag the previous comment. @marianazangrossi please remove your assignment once done, so that other contributors know that this issue is still up for grabs. Thanks!)

[2020-01-24 04:21] marianadasilvadev commented on #4057
Hey @Arnesh07 sorry for the delay! I've tested your code and here's some comments about it:

1. We don't supposed to send the request params in the expect functions from `$httpBackend`. We're only mocking the API call and the response. We don't mock params. So change this:
[code]
to this:
[code]

2. The spy for `CsrfService` is missing. You can take a look on an example [here](https://github.com/o

[2020-01-24 04:50] marianadasilvadev commented on #8284
Hey @seanlip I've already fixed it on #8388 . Sorry for not replying here, I wasn't notified about this issue.

[2020-01-24 04:50] #8284 closed, assigned to nobody

[2020-01-24 16:16] iamprayush commented on #8450
@seanlip Maybe instead of adding explicit instructions(which might make the UI a bit cluttered imo), some subtle UI indications might also serve the purpose.
What do you think about something like this:
![add-item](https://user-images.githubusercontent.com/35144226/73084365-d680e280-3ef2-11ea-9947-8c27a7ad19b4.gif)

/cc @yamamashakaa

[2020-01-24 17:21] #8400 closed, assigned to iamprayush

[2020-01-24 19:30] iamprayush commented on #3989
@aks681 This issue should be closed, since the button to Creator Dashboard has been added, right?

[2020-01-24 20:53] nishantwrp opened #8485 "Email dashboard query result page doesn't work"
**Update:** Please see [this comment](https://github.com/oppia/oppia/issues/8485#issuecomment-1542446624) for a more up-to-date description of the issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to emaildashboard/
 2. Make a query
 3. Click on results
 4. See error

**Observed behavior**
A clear and concise

[2020-01-24 21:33] nishantwrp opened #8487 "The question editor in skills has wrong placement of checkbox"
![Screenshot_2020-01-25 Personalized Online Learning from Oppia](https://user-images.githubusercontent.com/36989112/73105403-f1694c00-3f1e-11ea-84a1-5ed27c85fee3.png)

**Describe the bug**
The question editor in skills has wrong placement of checkbox

**Observed behavior**
The checkbox is parallel to `Learners Answers and Oppia's Responses`

**Expected behavior**
It should be parallel to `Solicit

[2020-01-24 22:51] nishantwrp commented on #7538
Hi @DubeySandeep, is this issue free to work on. Also as @donosco98 said num_actual_starts only gets updated if the exploration reaches the next state , how is this possible for a single-state explorations?
Shouldn't we use some other criteria for displaying single-state explorations statistics?
Thanks!

[2020-01-25 04:35] iamprayush commented on #3947
The alternative method of displaying the entire image in the stats modal as suggested by @pranavsid98 in this [doc](https://docs.google.com/document/d/11ZAe7BZqYsCS60oIDwvXQ7xKH4wwrrffN3HyqsNFbAw/edit#bookmark=id.q0twh4q9dzi4) seems the most apt imo. I do have a suggestion though.
For eg, instead of displaying the region name on the bounding rectangles and then relating that to a bar chart, I thin

[2020-01-25 06:00] Vinit-Dantkale commented on #8487
Hey @nishantwrp , I would like to solve this.

[2020-01-25 11:17] nishantwrp commented on #8487
Sure, assigned you

[2020-01-25 16:09] bansalnitish commented on #7427
Hi @jkoj25, Any updates on the part that you're assigned to?

[2020-01-25 19:18] DubeySandeep opened #8492 "Move state migration functionality to service layer"
Currently, we have an on-the-fly schema migration functionality for exploration/question models which uses the state migration structure, this functionality is build in the domain layer but there is a chance that the exploration/question models depends on other models/assets/resource while writing a new migration (Considering the state contains link to assets like image/audio, linked to skill ids

[2020-01-25 23:37] nishantwrp commented on #6956
Hi @seanlip, is this issue free to work on. If yes, I would like to work on it.

[2020-01-25 23:57] #6584 closed, assigned to nobody

[2020-01-26 01:01] #7403 closed, assigned to iamprayush

[2020-01-26 02:59] seanlip commented on #6956
I think we're still waiting for a response from @sophiewu6 and @vinitamurthi ...

[2020-01-26 03:15] seanlip commented on #3947
Hi @iamprayush, thanks for the suggestion! Can you provide a mock/image to illustrate what you're talking about, just to ensure that we're on the same page?

Also, I think @pranavsid98 @brianrodri and @swaat-on-git would probably be better folks to give comments on this than I am, especially @swaat-on-git because she is working on updated designs for the different interaction types.

[2020-01-26 03:16] seanlip commented on #8450
I suspect it won't be clear, tbh -- "item" is still rather non-specific. But I think we do need to get @yamamashakaa's opinion here.

[2020-01-26 10:26] kevintab95 opened #8497 "Thumbnail for Skills, Subtopics, Stories and Chapters"
Thumbnail functionality is currently restricted to Topics. This issues is to extend this functionality to Skills, Subtopics, Stories and Chapters.

[2020-01-26 10:47] Arnesh07 commented on #4057
Hey @marianazangrossi Thanks for the comment!
I made the required changes and here are a few things:
1. I implemented your point 1 and the error still stays. I guess the PUT requests aren't matching( in the service and the test).
2. Also, can you please enlighten me with what does the spy on csrf service does here? And why is it necessary in this test?
3. I had already mocked the exploration ID, I

[2020-01-26 11:19] yamamashakaa commented on #8450
@seanlip  @iamprayush     I go with make the instruction more clear  and specific for each step. For example, at the beginning "Add one number per box "  Then " click the button if you want to add more numbers "
 Also, I find it very good idea if the button text is more specific and set by the lesson creator. (But I think there should be a default value if the creator don't want to add text"

[2020-01-26 17:57] vojtechjelinek commented on #7493
@hamletv Do you still work on this?

[2020-01-26 18:10] vojtechjelinek opened #8499 "Serve our images in WebP format"
Replace our static images with WebP format.

https://web.dev/serve-images-webp/

Steps:

1. Use `cwebp` to transform our PNG images in the `assets/images` folder into the WebP format (https://web.dev/serve-images-webp/#use-cwebp)
2. Replace the `<img>` tag used to load the image with `<picture>` and set both the original PNG image and new WeB image as sources there (https://web.dev/serve-images-we

[2020-01-26 18:31] kevintab95 commented on #7442
Fixed by #8321. PTAL at root cause analysis [here](https://docs.google.com/document/d/1aznHTkZBmthP9s8BcOR14KOPg54lDzcFJkf27gUWrAA/edit?usp=sharing).

[2020-01-26 18:31] #7442 closed, assigned to kevintab95

[2020-01-26 18:54] #8202 closed, assigned to vojtechjelinek

[2020-01-26 18:57] Showtim3 commented on #8499
@vojtechjelinek I'd like to add some something here:
1. The webP format is really better for images but they are not supported by Safari. So we can use can use browserCheckerService and serve the jpg/png images if the browser is Safari.

[2020-01-26 19:04] vojtechjelinek commented on #8499
@Showtim3 I plan to use https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture to handle these cases and provide also the older version.

[2020-01-26 20:30] seanlip commented on #8499
From previous discussion with @BenHenning, I believe we want to try and use SVG for images where possible since they scale better at different zoom levels. Would this be OK instead of WebP?

[2020-01-26 21:39] vojtechjelinek commented on #8499
@seanlip I mean I'm okay with using SVG, some of our graphics are probably already png files generated from SVG and SVG files can be even smaller, could you tag someone who can prepare these into our assets folder?

[2020-01-26 21:44] jkoj25 commented on #7427
Hi Nitish,

Thanks so much for reaching out! I'm actually working on it right now.
Please have a lovely weekend!

Sincerely,

Jonathan Ko

On Sat, Jan 25, 2020 at 8:09 AM Nitish Bansal <notifications@github.com>
wrote:

[2020-01-26 21:48] csmith23 commented on #6271
Hi! Could I work on update_interaction_hints?

[2020-01-26 21:54] U8NWXD commented on #6271
@csmith23 all yours!

[2020-01-27 00:14] nishantwrp commented on #6772
- /_ah/warmup
- /get_started
- /site_guidelines
- /console_errors
- /creator_dashboard
- /notifications_dashboard
- /contributehandler/create_new
- /collection_editor_handler/create_new
- /community_dashboard
- /skill_editor_handler/create_new
- /question_editor_handler/create_new
- /questions_list_handler
- /practice_session
- /practice_session/data
- /review_test_handler/data
- /review_test
- /s

[2020-01-27 00:19] jkoj25 commented on #6271
@U8NWXD please assign me

[2020-01-27 02:00] kevinlee12 opened #8506 "Upgrade chromedriver"
Our chromedriver is currently supports Chrome v67-69, between the version and the current version, there have been fixes to emulation, clicking, display, etc. However, there are some changes in what chromedriver perceives as clickable amongst other minor changes, so a simple version upgrade will not be complete.

**Note: Due to the way webdriver-manager is set up, it is not possible to run multipl

[2020-01-27 02:34] seanlip commented on #8506
/cc @ankita240796

[2020-01-27 04:22] iamprayush commented on #8450
@yamamashakaa I just discovered that there is already an instruction present that suggests the user to add one item per box which gets shown when the input has lost focus while it was empty. Something like this:
![current](https://user-images.githubusercontent.com/35144226/73149305-a9952100-40e6-11ea-95d0-682147624cf2.gif)

But, this is not too apparent so maybe we can get rid of this and add a pl

[2020-01-27 04:39] iamprayush commented on #3947
@seanlip I had something like this in mind:

![25128396](https://user-images.githubusercontent.com/35144226/73150487-99804000-40ec-11ea-9707-8e2a836e379e.jpg)

Here the bubble sizes are directly proportional to the number of clicks in that region.

@pranavsid98 @brianrodri @swaat-on-git Do suggest any changes or alternatives, I would love to work on this issue. Thanks!

[2020-01-27 04:42] iamprayush commented on #6007
Hi @brianrodri! Is this free to work on?

[2020-01-27 06:21] donosco99 commented on #5343
@aks681, is this Issue available to work on?

[2020-01-27 08:19] seanlip commented on #6772
Thanks @nishantwrp. Could you separate this into three groups, please:

- User facing URLs that lead to HTML "pages" and that do not require a login
- User facing URLs that lead to HTML "pages" and that do require a login
- URLs that lead to JSON handlers

Note that e.g. something like ExplorationPage would fall in the first category and something like ExplorationHandler would fall in the third. I

[2020-01-27 08:25] seanlip commented on #8450
I'll defer to @yamamashakaa on the rest, but re the last part: I think we need to add an option for the creator to specify the button text. That's because the items in this interaction type may not always be numbers.

[2020-01-27 08:29] seanlip commented on #8499
Let me check with @BenHenning. In the meantime, could you please specify a full list of images that you would like SVGs for -- is it everything in assets/images?

(Also, just to check, are we actually using all of the images there? It takes time to prepare SVGs, so I wanted to ask -- if we could get rid of unused ones, that would help.)

Thanks!

[2020-01-27 08:31] seanlip commented on #3947
Hm, at first glance, this seems a bit confusing, right? The diagram mixes up the location of the region and the frequency of clicks, so I can't tell whether a big circle represents a big region or a large number of clicks.

[2020-01-27 08:56] Too-Far commented on #7569
Is this issue ready to be picked up?

[2020-01-27 09:06] nishantwrp commented on #7569
@Too-Far I think we are still awaiting a reply from @brianrodri.

[2020-01-27 11:13] vojtechjelinek commented on #8499
@seanlip The most important files to transform to SVG are these in `assets/images/landing`, but in general all the files in `assets/images` that are easy to be transformed to SVG.

I've gone through all the images and they are all used.

[2020-01-27 13:18] sin-ha commented on #5676
@kevinlee12 Is this open? Can I get assigned to this?

[2020-01-27 13:33] ghost commented on #8472
Can i work on question-player-state.service.ts ?

[2020-01-27 13:57] rohitkatlaa commented on #6240
@seanlip @U8NWXD  I am not sure how to add input to the codeEditor when the exploration is running because there is no input tag in the code.

[2020-01-27 14:11] vojtechjelinek commented on #5676
@sin-ha I have assigned you.

[2020-01-27 16:10] tyleri commented on #8472
@alphaQ1611 Yup, assigned the file to you!

[2020-01-27 17:16] bansalnitish commented on #7427
Great, thanks for the update!

[2020-01-27 17:18] chirag-wadhwa commented on #8472
Can I work on voiceover-recording.service.ts ?

[2020-01-27 17:20] bansalnitish commented on #8472
Sure @chirag-wadhwa, please go ahead!

[2020-01-27 18:59] donosco99 commented on #5343
@aks681, @seanlip Isn't this issue solved in #6929?
Thanks

[2020-01-27 19:06] Too-Far commented on #8423
ok, so I have a silly question... Which file has the linter in it? I am trying to find it to look at previously executed code

[2020-01-27 19:09] donosco99 commented on #8423
@Too-Far, for python files the Linters are in `scripts/pylint_extensions.py`

[2020-01-27 19:09] Too-Far commented on #8423
Thank you so much @donosco98 !

[2020-01-27 20:08] #8209 closed, assigned to iamprayush

[2020-01-27 21:10] seanlip commented on #5343
@vinitamurthi -- could you comment on this, please?

[2020-01-27 21:16] sophiewu6 commented on #6956
@nishantwrp Sure, feel free to work on this issue!

[2020-01-27 23:24] BenHenning commented on #8499
As mentioned in meeting, this doesn't seem directly related to our technical guidelines we want to enforce per https://docs.google.com/document/d/1J0Mvs1pe6ZQdHKAWgChb4AEXdqB_DovQevf-iXbu0Bc/edit. I think it's generally positive for us to move toward webp, but long-term we should follow the guidelines above per using SVGs and multiple tiers of WEBP images.

[2020-01-28 01:55] marianadasilvadev commented on #4057
@Arnesh07 sorry about the `ExplorationDataService` mock, I missed it.

I think your first point is going wrong because you didn't spy on `CsrfService`. Spy on it and try the first point again, it should work.

And about `CsrfService`, I don't know the details why we need to spy on it. Can you give me a hand here? @seanlip @nithusha21

[2020-01-28 02:20] seanlip commented on #4057
@Arnesh07 @marianazangrossi I don't know offhand. What research have you done so far to try and answer this question?

[2020-01-28 02:22] seanlip commented on #8499
OK, sounds good, thanks @BenHenning.

So yep -- @vojtechjelinek, I think it's fine to go ahead with this issue as stated! (It will take longer to get the SVGs, so we might as well do what we can in the meantime.)

[2020-01-28 03:53] marianadasilvadev commented on #4057
@seanlip I've faced a similar problem before and I found out about `CsrfService` when I was checking other test files and it was missing from the test. I know it's essential in some cases but I don't know why exactly. I've tested @Arnesh07 code in my machine and `CsrfService` fixed the problem.

[2020-01-28 06:47] ankita240796 opened #8510 "Wrap up TODOs in storage models"
- [ ] https://github.com/oppia/oppia/blob/e7b98ab7f6245463019a3c2d2946a8879a7078c1/core/storage/opportunity/gae_models.py#L88:  Does not require a job
- [ ] https://github.com/oppia/oppia/blob/e7b98ab7f6245463019a3c2d2946a8879a7078c1/core/storage/opportunity/gae_models.py#L148: Does not require a job
- [ ] https://github.com/oppia/oppia/blob/e7b98ab7f6245463019a3c2d2946a8879a7078c1/core/storage/em

[2020-01-28 07:01] seanlip commented on #4057
Ah, I see.

Here's some background that might be useful: csrf stands for "cross-site request forgery", and you can read more about it [here](https://owasp.org/www-community/attacks/csrf). When a page is loaded on Oppia, a token is sent to the frontend and that token is needed to authenticate subsequent AJAX requests. You can see how that token is used in these AJAX requests by looking into App.ts

[2020-01-28 07:16] sophiewu6 commented on #7448
@aks681 Is this issue still needed to be worked on? If so I will work on it soon.

[2020-01-28 07:40] Arnesh07 commented on #4057
@marianazangrossi Thanks for the fix. It works! Although I am still not able to understand why.
@seanlip thanks for the insight, the link you mentioned has a really interesting example to understand CSRF. Although what I understand is we need to spy the CSRF service for all the HTTP requests that go through the interceptor (in App.ts). The last [test](https://github.com/oppia/oppia/blob/develop/co

[2020-01-28 08:07] seanlip commented on #7448
Hi @sophiewu6, I don't believe this has been taken up yet. Feel free to work on it (and welcome back)!

[2020-01-28 08:17] seanlip commented on #4057
@Arnesh07 I suggest that you try and work through the code in order to investigate these questions. Reading code to understand how it works is an important part of solving issues.

[2020-01-28 10:05] yamamashakaa commented on #8450
@iamprayush   @seanlip  I think that  the instruction message should always appear clearly once the student read the question not just after they put the cursor in the input box. This video shows how the message did not appear at the first once the question page is opened.
https://youtu.be/d5vghWEG33k
Make the message visible all the time weather it is outside the box or inside the box will work f

[2020-01-28 10:08] yamamashakaa commented on #8450
I think I should try to create lesson in order to understand the process better. What I thought is having a default general  value will help the lesson creator in case they don't want to do more work and think about the message.

[2020-01-28 11:27] iamprayush commented on #8450
@yamamashakaa @seanlip
Just so that we are all on the same page:
 * The placeholder inside the input box should be added to show the instructions when the user is outside the input box.
 * The tooltip should get displayed when the user hovers over the add button. (Or we could show the tooltip for a couple of seconds when the user starts typing their first item, whatever you think is more appropria

[2020-01-28 12:25] Arnesh07 commented on #4057
@seanlip sure! Thanks for the suggestion.

[2020-01-28 13:25] vinitamurthi commented on #5343
I think this is solved, @sophiewu6 please confirm!

[2020-01-28 13:27] vinitamurthi commented on #6956
As for why this limit is needed - We dont want to have too many skills linked to a single question because that will cause a lot of performance problems while fetching the questions. The backend already rejects this, we would like the frontend to reject it as well

[2020-01-28 14:30] vojtechjelinek opened #8512 "Generate background banners dynamically"
#### Current state
The `components/common-layout-directives/common-elements/background-banner.directive.ts` choose one of the pre-generated backgrounds which are located in `assets/background/`. The backgrounds are quite big and require bandwidth.

#### Expected state
Since the pre-generated backgrounds are formed from icons in `assets/subjects/`, we should instead generate the background from the

[2020-01-28 14:55] lakshay-angrish commented on #8015
@seanlip Could you rerun the e2e tests for #8500. I don't know why they failed.
Also, I submitted a PR for `pretest-question-backend-api.service.ts` and didn't ask to be assigned to it. Is that okay?

[2020-01-28 15:27] cdrebin commented on #8016
Closed the PR for [core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts](https://github.com/oppia/oppia/pull/8155) since I don't have time to finish the rewrite in Angular if someone else would like to pick it up.

[2020-01-28 15:57] donosco99 commented on #8194
@aks681, I have one doubt, where do we get the images used in this mock design?
thanks.

[2020-01-28 16:02] #6433 closed, assigned to pranavsid98

[2020-01-28 16:04] brianrodri commented on #7569
Hey all, this issue is still blocked by #8417 which has a lot of work left to do. I'll update the description/title and leave a new comment once it has been closed!

[2020-01-28 16:21] yamamashakaa commented on #8450
For the first point,  In my opinion weather the instructions inside or out side the box it should be shown with the question not just when the user go to the input box to answer .

For the tooltip, I go with showing it when the user is typing but it is OK to show it when hover the button.
And yes for the third point.

Thanks @iamprayush

[2020-01-28 16:57] abhayraghuwanshi commented on #8512
can we use multiple icons in the banners

[2020-01-28 17:15] captanlevi commented on #8512
Hello, Im a beginner and I would like to work on this issue. Can I get this assigned to me?

[2020-01-28 17:23] vojtechjelinek commented on #8512
@abhayraghuwanshi What do you mean by multiple icons?

@captanlevi Yes, you can, I have assigned you. If you have any questions just ask here.

[2020-01-28 17:27] abhayraghuwanshi commented on #8512
like in banners only two icons are used for example pie and percentage

[2020-01-28 17:32] abhayraghuwanshi commented on #8512
@captanlevi  are you working on that one?

[2020-01-28 17:32] vojtechjelinek commented on #8512
I think the pattern should stay the same, but multiple types of icons can be used.

[2020-01-28 17:35] abhayraghuwanshi commented on #8512
and can we migrate the file to angular8 too?

[2020-01-28 17:36] hedonhermdev commented on #8512
@abhaygupta97 I would like to work on this if @captanlevi is not.

[2020-01-28 17:37] hedonhermdev commented on #8512
What should I know to be able to work on this?

[2020-01-28 17:40] abhayraghuwanshi commented on #8512
@hedonhermdev the issue description has all the information about that

[2020-01-28 17:41] abhayraghuwanshi commented on #8512
![Screenshot from 2020-01-28 12-40-38](https://user-images.githubusercontent.com/45534131/73289890-737d9d00-41cb-11ea-856e-a9361454ae00.png)

[2020-01-28 17:42] abhayraghuwanshi commented on #8512
this is the banner in the issue description @hedon

[2020-01-28 17:57] abhayraghuwanshi commented on #8456
@kevintab95  can you assign changelog to Pr

[2020-01-28 18:11] Showtim3 commented on #8402
I am working on this...

[2020-01-28 21:11] hedonhermdev commented on #8512
Thank you. Ill start working on it.

[2020-01-28 21:23] abhayraghuwanshi commented on #8512
@hedonhermdev ask @vojtechjelinek  for the assign.

[2020-01-28 22:28] sophiewu6 commented on #5343
@vinitamurthi I don't think this issue is solved yet. What #6929 did was only storing the linked_skill_ids in the questions. During GSoC, we discussed about storing question_ids in the skill, but we thought there could be too many questions for one skill.
Please correct me if I'm wrong!

[2020-01-28 22:29] DubeySandeep commented on #8512
@hedonhermdev This is a good first frontend issue so I think you'll be able to solve this with basic knowledge of HTM/CSS/JS (optional: A little knowledge of AngularJS will be helpful). Do let us know if you have any specific questions or if you need any help. Thanks! :)

[2020-01-29 02:57] vinitamurthi commented on #5343
Oh my mistake I thought we wanted it the other way round. That's right we do not have skill_id -> list of question ids as of now. We have question_id -> list of skill IDs

[2020-01-29 03:24] brianrodri commented on #8356
Just as a sanity check: have you made sure to input the answer *many* times? The minimum number of times a specific answer needs to require feedback is defined as an [feconf constant](https://github.com/oppia/oppia/blob/9b9ee67bdc987c73aeb568d836768988f4f67292/feconf.py#L893), which currently seems to be `2`.

[2020-01-29 03:42] brianrodri commented on #8356
So this was actually a conscious decision made at implementation-time because we weren't sure of the best way to group together incorrect numeric inputs (yes it's simple if we only group the exact numeric value, but what if they're very very close to each other? How should we define "close to each other"? etc.). The code that decides which interactions are "required to be resolved" is [`isStateFor

[2020-01-29 07:57] vojtechjelinek opened #8517 "Console errors in offline exploration player"
**Describe the bug**
When the internet is disabled while playing exploration the console shows errors regarding HTTP requests.

**To Reproduce**
Steps to reproduce the behavior:
 1. Load exploration
 2. Disabled internet connection in the developer's console.
 2. Navigate to the next part of the exploration.

**Observed behavior**
Errors are shown in the console.

**Expected behavior**
The console

[2020-01-29 08:44] seanlip commented on #8015
I just tried restarting it, let's see if it helps.

In general, please ask to be assigned to an issue before taking it up. You don't have to wait for someone to say yes -- you can start working on it as soon as you've mentioned that you'd like to take it up -- but this signals to others that you're working on it and helps to prevent cases of overlap.

[2020-01-29 15:35] #8181 closed, assigned to nobody

[2020-01-29 17:28] donosco99 commented on #5343
@vinitamurthi ,So is this issue still relevant?

[2020-01-29 17:44] nishantwrp commented on #6956
Hi @vinitamurthi, You just said there is a backend validation for `MAX_SKILLS_PER_QUESTION`. It means adding more than 3 skills in a question would give me an error, Right? Please correct me if I'm wrong.

I just tested this added 4 skills in a question without any errors. [Video](https://drive.google.com/open?id=1i1x31FjZnHGHCTgZmeD0WFvyWj3Npww9)

[2020-01-29 18:30] vojtechjelinek opened #8518 "Introduce security.txt for Oppia"
### Description
There is this draft of a file named `security.txt`, the purpose of that file is to give directions and contacts for hackers that found some security problem on the site, the good thing about this is that the format is already used by big companies and it enables the security experts to report the problem more quickly.

More info and generator: https://securitytxt.org

The things th

[2020-01-29 18:32] vojtechjelinek commented on #8518
@seanlip @kevinlee12 Any objections against this? Otherwise, I will prepare this as a starter issue.

[2020-01-29 20:23] seanlip commented on #8518
No objection. One clarification though -- it's just a static file right? I.e. no need to write dynamic backend handlers in the app?

[2020-01-29 20:40] vojtechjelinek commented on #8518
No just a static handler in `app.yaml`

[2020-01-30 03:25] kevinlee12 commented on #8518
This is a good one, that being said, do we have the Responsible Disclosure policy somewhere?

[2020-01-30 05:00] lakshay-angrish commented on #8015
@seanlip I am sorry about that. Could you assign `pretest-question-backend-api.service.ts` to me?

[2020-01-30 06:49] abhayraghuwanshi commented on #8472
skillDict = {
  id: 1,
  description: 'test description',
  misconceptions: [misconceptionDict1, misconceptionDict2],
  rubrics: [rubricDict],
  skill_contents: skillContentsDict,
  language_code: 'en',
  version: 3,
  prerequisite_skill_ids: ['skill_1']
};
in many places id are defined as string type. I fixed it to number. Is it correct?
the prerequisite_skill_ids should be array of numbers or st

[2020-01-30 07:17] abhikb101 commented on #7530
Can I work on this issue? Is there anyone working on it?

[2020-01-30 07:19] Arnesh07 commented on #7530
I have been investigating on this, I will un-assign myself if I fail to find a solution.
Thanks

[2020-01-30 09:34] donosco99 commented on #5690
@DubeySandeep , Is this issue still available to work on?

[2020-01-30 10:02] MartzGub commented on #8277
Sorry @seanlip @brianrodri, work has become very busy so I am unlikely to be able to work on this for at least a month. There is a chance I might get a break and if so I'll I take a look. However if you would rather it got looked at more quickly then maybe assign to someone else. Auf wiedersehen.

[2020-01-30 10:58] bansalnitish opened #8521 "Remove $rootScope.apply() from the Angular promises"
We have been facing an issue while upgrading Angular services that involve http requests. Any page say for example topic-viewer or story-viewer used to get stuck on `loading...` while we upgrade any service involving http calls.

On debugging, it was found that the directive returns the html and the promise is resolved afterwards. After the promise is resolved, the updated values are not propagate

[2020-01-30 10:59] bansalnitish commented on #8521
cc / @Showtim3 @nishantwrp @tyleri

Nishant, could you please go ahead and update your PR involving StoryViewBackendApiService? It'll work fine then :).

[2020-01-30 11:33] vinitamurthi commented on #5343
It is, but we still need to think about the use case for this and how we would like to do it

[2020-01-30 17:26] abhayraghuwanshi commented on #8456
@kevintab95 can you assign changelog to new Pr

[2020-01-30 17:56] iamprayush commented on #3947
@seanlip Yes, that would be an issue now that I think about it.
Another idea I had in mind was to show bounding boxes of each region and then the creator can hover over the box and the information about the click frequency can be revealed in the form of
 the percentage of clicks in that region or some other visual aid.

But, if that doesn't seem appealing, then I think, the alternative method in t

[2020-01-30 18:11] nishantwrp commented on #8521
Thanks for debugging the issue @bansalnitish. Updated my PR's PTAL!

[2020-01-30 20:32] seanlip commented on #3947
Thanks, @iamprayush. Let's get clarification from @swaat-on-git -- she has some thoughts on this and it would be good to loop her in to the conversation.

[2020-01-30 20:39] seanlip commented on #8277
No problem. I'll unassign you for now, feel free to come back to it whenever you can -- thanks!

[2020-01-30 20:39] seanlip commented on #8277
Also /cc @brianrodri, in case this is something that it may be worth the stats team looking into in the short term.

[2020-01-30 21:50] seanlip commented on #8015
Sure! Done.

[2020-01-30 23:42] varun-tandon opened #8523 "Reduce Takeout Unimplemented Export Count to 0"
As a part of the Takeout data export project (#8210), we want all models to define an export policy of either CONTAINS_USER_DATA or NOT_APPLICABLE.

We have not completed export_data functions for all models, yet we still want to enforce the creation of an export_data function and export policy definitions for all new models. Thus, we have created a test in core.domain.takeout_service_test that en

[2020-01-31 07:35] dusnat commented on #8038
Hey. I'd like to work on
core/templates/dev/head/pages/community-dashboard-page/services/translate-text.service.ts

Thanks!

[2020-01-31 07:44] Arnesh07 commented on #8038
Hey @dush-t , I have assigned you.
Also, please write test for these files if they are not already present.
Thanks!

[2020-01-31 15:07] FlorinBalint commented on #6271
Hi there, can I get the "update_interaction_solution" part ?

[2020-01-31 15:12] kevintab95 commented on #6271
Hi @FlorinBalint, I've assigned "update_interaction_solution" to you.

[2020-01-31 18:58] vojtechjelinek commented on #8518
Also, when I was trying to find the address that should be used for security reporting I found out that the page https://www.oppia.org/contact is not linked from anywhere on Oppia, should it be added to the footer and/or the about tab in the header?

[2020-01-31 18:59] vojtechjelinek commented on #8518
@kevinlee12 Added this to the dev experience project, I hope it is okay.

[2020-01-31 19:15] vojtechjelinek opened #8529 "Remove *RightsAllUsersModel after the user ID migration"
After the user ID migration is complete the `CollectionRightsAllUsersModel`, `ExplorationRightsAllUsersModel` and `TopicRightsAllUsersModel` should be deleted since these are only temporar models for the migration.

[2020-02-01 04:51] darksun27 commented on #8518
If anyone is not working on this can I claim this issue?

[2020-02-01 05:55] swaat-on-git commented on #3947
@iamprayush There is a similar view being built for improvements tab, where we show the distribution of "Most frequent wrong answers" in different content types. The image view is currently in progress, and I'll update the version when it is in a shareable stage. You might be able to reuse the component in stats tab as well.

@seanlip

[2020-02-01 06:37] iamprayush commented on #3947
@swaat-on-git That sounds great! Do let me know if there is anything I can help with. Thanks :)

[2020-02-01 07:05] darksun27 commented on #8499
@vojtechjelinek if no one is working on this issue can I work on this?

[2020-02-01 11:58] vojtechjelinek commented on #8518
@darksun27 Sure go ahead.

[2020-02-01 11:59] vojtechjelinek commented on #8499
@darksun27 I have already assigned you to #8518

[2020-02-01 12:11] shivansh1010 opened #8531 "Auto-assign based on PTAL using Github Actions"
### Explanation
I would like to automate the following using Github Actions :
 - When someone says `@someone PTAL`, assign the member to the thread automatically.

Can I work on this?

[2020-02-01 13:08] lakshay-angrish commented on #8016
I am working on `admin-config-tab.directive.ts` at #8447. I was writing tests for the service I created to solve this issue and I get the following error:
`Error: No pending request to flush !`

My test file:
https://gist.github.com/lakshay-angrish/9958fec0f2d8aea704c4250d7c0caf25

[2020-02-01 13:18] abhayraghuwanshi commented on #8472
@tyleri
skills id should be string or number?

[2020-02-01 13:19] abhayraghuwanshi commented on #8472
@tyleri and prerequisite_skil_id array should be of string or number?

[2020-02-01 15:13] donosco99 opened #8534 "Failing frontend tests due to wrong date time format."
**Describe the bug**
![new](https://user-images.githubusercontent.com/31371571/73594344-a7422500-4533-11ea-98bd-b41d3261e08e.png)

**To Reproduce**
Steps to reproduce the behavior:
Run the frontend tests
**Expected behavior**
The tests should pass

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information; delete this section

[2020-02-01 15:23] vojtechjelinek commented on #8499
@darksun27 I saw that you created PR for #8518, I will assign you this one so you have something to work no.

[2020-02-01 16:03] #8439 closed, assigned to abhayraghuwanshi

[2020-02-01 16:26] DubeySandeep commented on #8534
@nithusha21 @marianazangrossi, Can you please check this? I too faced similar issues while running the frontend tests locally?

[2020-02-01 16:52] #8398 closed, assigned to nobody

[2020-02-01 17:23] aks681 commented on #8449
Reopening this, since the condition for learn again button is 'Wrong answer' and 'Seen before', so this shouldn't have happened.

[2020-02-01 17:48] seanlip commented on #8534
I think @kevintab95 might have looked into this a bit too.

[2020-02-01 17:48] seanlip commented on #8534
But @marianazangrossi -- I think you're point person for this, assuming that the test was introduced in one of the frontend test PRs...

[2020-02-01 18:00] seanlip commented on #8534
Actually, I just remembered, the policy for things like this is: revert
first, fix later.

Anyone can revert this -- could someone please find the problematic commit
and send a revert PR? I'm out of the house now but will try to help get
that merged asap.

[2020-02-02 05:06] seanlip commented on #8448
Hi @vojtechjelinek -- do you think this is solved by your recent PR to require the templates?

[2020-02-02 05:10] kevintab95 commented on #8349
Hi @larrytal are you still working on this one?

[2020-02-02 06:53] rohitkatlaa commented on #6240
@seanlip @U8NWXD I am able to enter the code in the editor only when I create and open the exploration but I am not able to enter the code when it is in preview mode so my testSuite doesn't work properly. I try to submit the answer using the following code.  ```browser.executeScript("var editor = $('.CodeMirror')[0].CodeMirror;editor.setValue('"+answerCode+"');");``` This code works only when I am

[2020-02-02 07:18] seanlip commented on #6240
Hi @rohitkatlaa, I'm going to defer to @U8NWXD for a response on this. Thanks!

[2020-02-02 08:20] tyleri commented on #8472
@abhayraghuwanshi As far as I know, the tests should use correct data types. It looks like they are both strings.

[2020-02-02 10:24] abhayraghuwanshi commented on #8510
Hey, can i work on email file?

[2020-02-02 12:18] vojtechjelinek commented on #8448
@seanlip It can be related to the problem we hand, although this is probably not solved by the last PR, I will create new PR where this will be solved.

[2020-02-02 19:03] kevintab95 commented on #7204
Fixed by #8321. Closing.

[2020-02-02 19:03] #7204 closed, assigned to nobody

[2020-02-02 19:29] Showtim3 commented on #8531
@kevinlee12 What do you think of this?

[2020-02-02 19:39] Showtim3 opened #8541 "The topic completed footer has weird structure and looks distorted(Snapshot attached)."
**Describe the bug**
On focusing the link/button in the footer, it takes a weird shape.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a skill and assign that skill to a topic.
2. Complete the topic under Train tab.
3. Upon completing look at the footer.
4. Press tab or inspect the elements of footer.

**Observed behavior**
The structure of the footer elements is a bit weird.

**Expe

[2020-02-02 20:11] kevinlee12 commented on #8531
that's a good suggestion, but the code will have to be extra robust for this. we don't want something like: `@person1 ..... @person2 ptal!` to assign `person1`. it'll also have to handle spacing and casing too.

[2020-02-03 06:03] #7957 closed, assigned to cuichenli

[2020-02-03 06:37] Showtim3 commented on #8531
@sdhiman99 You can start working on this and keep in mind what Kevin has suggested above.
I am assigning this to you then.

[2020-02-03 06:45] nikitamarysolomanpvt opened #8545 "Error messages of numeric input type are not displayed"
I'am not able to see the realtime error messages in oppia web for numeric input type.
![small](https://user-images.githubusercontent.com/54615666/73631339-b2559c00-467e-11ea-9474-03f31b2fddfe.png)

Please find the below expected error scenarios
Characters allowed in numeric input- "0123456789.-"
Realtime errors
Invalid format
Start with floating point.
Count of floating point( if more than once)
I

[2020-02-03 07:41] abhayraghuwanshi commented on #8472
SkillEditorStateService.loadSkill('skill_id_1');
SkillUpdateService.setSkillDescription(
SkillEditorStateService.getSkill(), 'new description');
$rootScope.$apply();
  expect(SkillEditorStateService.saveSkill(
    'commit message')).toBe(true);
  $rootScope.$apply();

  var expectedId = 'skill_id_1';
  var expectedVersion = 3;
  var expectedCommitMessage = 'commit message';
why $rootScope.$apply()

[2020-02-03 07:42] abhayraghuwanshi commented on #8472
My tests in skill object all passed but the testsin the skill-editor-state.service is falling and i am trying to fixed them

[2020-02-03 07:43] abhayraghuwanshi commented on #8472
@tyleri why rootscope.apply used there?

[2020-02-03 08:15] seanlip commented on #8545
@aks681 @kevintab95 -- flagging for the LaCE team. Thanks!

[2020-02-03 08:54] shivansh1010 commented on #8531
Thanks @Showtim3! I'm working on it!

[2020-02-03 15:34] #6757 closed, assigned to nobody

[2020-02-03 16:09] hffei opened #8547 "Request host is not whitelist enabled for this server"
I've installed oppia, but when I visit it, I get the following prompt. I don't know how to solve it, I hope to get help.Thanks!

“Request host is not whitelist enabled for this server. Please use the --host command-line flag to whitelist a specific host (recommended) or use --enable_host_checking to disable host checking. See the command-line flags help text for more information. ”

![image](https

[2020-02-03 16:50] hamletv commented on #7493
I have not been able to work on it recently with work and don't have a
solution yet.

On Sun, Jan 26, 2020 at 12:57 PM Vojtěch Jelínek <notifications@github.com>
wrote:

[2020-02-03 18:39] vojtechjelinek commented on #8518
@seanlip

[2020-02-03 20:22] donosco99 commented on #7619
@aks681, Could you pls explain the feature to be implemented a bit more.
As far as I explored, the topic managers are still able to edit the skills linked to a topic, but cannot create a new skill or topic. ( Pls correct me if I'm missing something).
Thanks

[2020-02-03 21:09] #8518 closed, assigned to darksun27

[2020-02-03 21:12] seanlip commented on #8547
I think this is an issue with App Engine host checking on your machine, rather than an issue with Oppia. What OS are you running on and have you tried googling the error message to see how others have handled it?

[2020-02-03 21:17] seanlip commented on #8518
Sorry, I had missed this. Yes, that seems like a good idea. Thanks!

[2020-02-04 02:06] rohitkatlaa commented on #6240
@U8NWXD can you help me because I am not sure as to why is that problem occuring?

[2020-02-04 02:37] rohitkatlaa commented on #7969
Hi @DubeySandeep If this issue is free to work on can I work on it?

[2020-02-04 02:43] rohitkatlaa commented on #7643
@vojtechjelinek Can I take up on a part of this issue?

[2020-02-04 04:22] seanlip commented on #4417
Deassigning @cuichenli because I don't think he's working on this.

[2020-02-04 04:43] seanlip opened #8549 "Make Oppia run easily on Windows."
PR #7971 by @cuichenli aimed to make Oppia runnable on Windows, but it needed to be reverted because of a number of problems (cf. its comment thread). This issue aims to track the reimplementation of that PR so that the project can be easily run on Windows.

(This supersedes #8079.)

[2020-02-04 04:44] seanlip commented on #8079
Closing this; it is superseded by #8079 since the PR in question was reverted on Nov 26, 2019.

[2020-02-04 04:44] #8079 closed, assigned to nobody

[2020-02-04 04:45] tyleri commented on #8472
@abhayraghuwanshi Please clarify which file you are looking at. I do not see `$rootScope.$apply()` used in `SkillObjectFactory.ts` nor `SkillObjectFactorySpec.ts`.

[2020-02-04 05:10] donosco99 commented on #5893
@aks681, Is this isue still available to work on?

[2020-02-04 09:51] vojtechjelinek commented on #7643
@rohitkatlaa Sure, I have assigned you to `extensions/objects`

[2020-02-04 10:47] vojtechjelinek opened #8550 "Add link to contacts page to footer and to the about tab in header"
We have a [contact page](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/contact-page/contact-page.mainpage.html) that currently isn't linked from anywhere. Add links to the contacts page to the footer and to the About tab in the header.

[2020-02-04 10:51] safwan20 commented on #8550
i will do this

[2020-02-04 11:00] nishantwrp commented on #7665
Hi @vojtechjelinek ,
I just tested this, and the button seems to be working fine. Can you please check again.
Thanks

[2020-02-04 11:11] vojtechjelinek commented on #8550
@safwan20 I have assigned you,, if you have any questions don't hesitate to ask.

[2020-02-04 12:29] abhayraghuwanshi commented on #4057
can I work on  RuleObjectFactory.ts @shubha1593

[2020-02-04 13:17] abhayraghuwanshi commented on #8472
rootScope.apply used in skillEditorState.service.ts. I understand now why it was used there

[2020-02-04 13:18] abhayraghuwanshi commented on #8472
![Screenshot from 2020-02-04 07-24-42](https://user-images.githubusercontent.com/45534131/73748149-da98d580-4726-11ea-9049-b66d727189c4.png)
I am getting this error during my SkillObjectFactory pushing @tyleri

[2020-02-04 14:32] DubeySandeep commented on #7471
Hi @sagangwee, Can we close this issue now?

[2020-02-04 14:42] DubeySandeep opened #8552 "Send email notification to contributors once their suggestion gets reviewed"
Currently, when a user's suggestion gets accepted/rejected they can only check it through the Community dashboard page. This issue focuses on building a general service for sending email for suggestion activity and integrate this service to question/translation suggestion workflow.

Additional feature: Add this feature to the user's notification.

[2020-02-04 14:51] DubeySandeep opened #8553 "Show list of available opportunities in different orders to different users"
Currently, the list of opportunities is presented to users in sorted order of date of creation of issue and all users receive the opportunity in the same order and there is a high chance for users to pick same opportunity. This issue focuses on decreasing the collision on user's suggestions for the opportunity.

I think the expected behavior of order should be the following:
- A different user rec

[2020-02-04 15:05] DubeySandeep commented on #7969
Hi @rohitkatlaa and @nishantwrp, This issue needs pre-work of building the "voiceover contribution" process which is in progress, so this issue is not yet available.

If you are interested in working for the community dashboard project feel free to check out these issues: #8552, #8553 (These are small implementation issue and can help you practice in writing good design doc.)

[2020-02-04 15:07] DubeySandeep commented on #8040
I'm closing this issue as we are going to re-work on the workflow for voiceover contribution.

[2020-02-04 15:07] #8040 closed, assigned to nobody

[2020-02-04 15:10] DubeySandeep commented on #7875
Closing this issue as we are going to re-work on voiceover contribution workflow.

[2020-02-04 15:10] #7875 closed, assigned to nobody

[2020-02-04 15:21] abhayraghuwanshi commented on #4057
can I work on ExplorationFeaturesService.ts service too

[2020-02-04 15:22] ahv15 commented on #7643
@vojtechjelinek Can I work on ` extensions/rich_text_components`

[2020-02-04 15:23] vojtechjelinek commented on #7643
@ahv15 Assigned.

[2020-02-04 17:11] #7471 closed, assigned to nobody

[2020-02-04 19:02] U8NWXD commented on #6240
@rohitkatlaa I don't know why this is happening off the top of my head, but I'll have time this weekend to try and figure it out. In the meantime, my first guess is that the code editor has different properties in the exploration than it does in preview mode. If you create and play an exploration with the code editor, can you confirm (using inspect element or similar) that on the exploration page

[2020-02-04 20:16] donosco99 commented on #5574
@bansalnitish, Can I work on this issue?
Thanks

[2020-02-04 20:28] DubeySandeep commented on #4057
Hi @abhayraghuwanshi, I've assigned you to `RuleObjectFactory.ts`.

Also, once you submit a PR for the `RuleObjectFactory.ts`, you can ping me and I'll go ahead and assign you to  `ExplorationFeaturesService.ts`. Thanks! :)

[2020-02-04 20:38] abhayraghuwanshi commented on #4057
@DubeySandeep  I made 2 other functions in the rule factory to get input and type in case we want to return type or notes. Is it okay?

[2020-02-04 21:01] abhayraghuwanshi commented on #4057
@DubeySandeep  can you assign the changelog

[2020-02-04 21:02] abhayraghuwanshi commented on #4057
@DubeySandeep  can you assign the  ExplorationFeaturesService.ts

[2020-02-04 21:35] sagangwee opened #8559 "[Question Suggestion Workflow] Add search capability for question opportunities in community dashboard."
We want to add the ability to search for skill opportunities by skill description and topic name in the 'Suggest Question' tab of the community dashboard. Design doc forthcoming.

A search bar can be added that on enter keypress will initiate a search query. The search bar would look something like this:
<img width="1680" alt="Screen Shot 2020-01-24 at 6 50 24 PM" src="https://user-images.githubus

[2020-02-05 09:30] vojtechjelinek commented on #7665
If the steps I listed no longer cause this then it probably should be okay, there were some changes done to this button done so ti was probably fixed.

[2020-02-05 10:07] safwan20 opened #8561 "OPPIA.ORG button not working"
![issue](https://user-images.githubusercontent.com/45730556/73831858-069e7e80-482d-11ea-8207-6df199ab37d3.png)

https://www.oppiafoundation.org/about-oppia

I found this issue oppia.org button is not able to redirect to its desired location.

[2020-02-05 10:08] safwan20 commented on #8561
this issue is related to Oppia foundation website, so migrating this issue.

[2020-02-05 10:11] Showtim3 commented on #8339
Okay so here's what I found:
At first glance, I also thought that there are no buttons present and there's nothing saying otherwise.
![image](https://user-images.githubusercontent.com/30312043/73831407-4add4f00-482c-11ea-89bb-f95391f24743.png)
But the links are present at the bottom, we need to scroll a bit.
![image](https://user-images.githubusercontent.com/30312043/73831423-529cf380-482c-11ea-91

[2020-02-05 10:40] #8561 closed, assigned to nobody

[2020-02-05 12:35] darksun27 commented on #8499
I am trying to find all the files which are using static images by
[code]
but the issue I am facing is of the '$ctrl' is being replaced by an empty string.
[code]
Can anyone can help me with this?

[2020-02-05 12:48] darksun27 commented on #8499
@vojtechjelinek can you please see if these are the only files which contain static images or I am missing out on something?
[https://pastebin.com/DR4VgpHU](https://pastebin.com/DR4VgpHU)

[2020-02-05 13:19] #7665 closed, assigned to aks681, sophiewu6

[2020-02-05 13:23] vojtechjelinek commented on #8499
@darksun27 I'm not sure, try greping the codebase to see if you found everything, some images might also be included through TypeScript file.

[2020-02-05 13:38] darksun27 commented on #8499
@vojtechjelinek I greped this result searching for '<img ng-src="', ig these will only give me html files.
Will look for typescript files also.

[2020-02-05 13:58] larrytal commented on #8349
Hi @kevintab95. I need some guidance. I can't seem to be able to figure this out. Thanks!

[2020-02-05 15:09] abhayraghuwanshi commented on #8038
@nishantwrp  can you assign me the core/templates/dev/head/components/entity-creation-services/skill-creation.service.ts
Thanks

[2020-02-05 15:19] vojtechjelinek commented on #8499
Look into url-interpolation.service.ts there are methods for generating the image URLs so you might want to find the usages.

[2020-02-05 17:09] iamprayush opened #8565 "Error with cancel button in insert component modal"
**Describe the bug**
Clicking on the cancel button while adding a component throws an error in the console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration creator page.
 2. Click on the first card and insert a component like an image, a mathematical expression, a video, anything that opens up the "Customize This Component" modal.
 3. Open up the browser console.
 4. W

[2020-02-05 18:03] seanlip commented on #8339
/cc @yamamashakaa -- any thoughts on this?

[2020-02-05 18:18] nishantwrp commented on #8038
@abhayraghuwanshi Done!

[2020-02-05 19:04] yamamashakaa commented on #8339
Hi @seanlip  and @Showtim3
I think yes scrolling down a lot is a problem. maybe reduce the empty space by making it like this will help
![fixing](https://user-images.githubusercontent.com/16443315/73873812-01582880-485b-11ea-9e0d-c0a97962de1c.jpg)
or this
![fixng2](https://user-images.githubusercontent.com/16443315/73873827-074e0980-485b-11ea-9f68-40b105ca84b7.jpg)

[2020-02-05 19:15] sankha555 commented on #8559
Hi,
I think this feature would be great to add. If this issue is still open, I would like to work on it.

[2020-02-05 21:05] tyleri commented on #8472
@abhayraghuwanshi Are you still having issues with this?

[2020-02-05 21:13] abhayraghuwanshi commented on #8472
when I simply use "import predConst from 'asset/constant'  " error: Module not found
when i use " import predConst fro './../../../../asset/constant' " the precommit linter is not compiling the ts file

[2020-02-05 21:14] abhayraghuwanshi commented on #8472
![Screenshot from 2020-02-04 07-24-42](https://user-images.githubusercontent.com/45534131/73883729-75caa180-4832-11ea-82c6-dbeddbf4c2ef.png)
like this error is thrown in which the path of skillObject is wrong @tyleri

[2020-02-05 21:15] abhayraghuwanshi commented on #8472
so, how should I import the constant from asset

[2020-02-05 21:22] tyleri commented on #8472
Let's focus on one issue at a time. The pre_commit_linter is claiming that it cannot open the file SkillObjectFactory.js in that directory. Is it present in that directory? If so, can you verify what read permissions are on the file?

[2020-02-05 21:28] abhayraghuwanshi commented on #8472
yes it is present int that one. I tried to comment out the the const import and used the skill difficulty like the ['easy', 'medium', 'hard']  the test ran in this case @tyleri

[2020-02-05 21:31] abhayraghuwanshi commented on #8472
SKILL_DIFFICULTIES = ['easy', 'medium', 'hard'];

[2020-02-05 22:18] hqrshguptq commented on #8550
Hi, if aint done.. Could I just contribute to this?

[2020-02-05 22:54] codymiller commented on #8339
Hey team,

New contributor here. I can provide a few potential solutions to this problem. Expect some mocks by tomorrow.

—Cody

[2020-02-06 01:48] safwan20 commented on #8550
@hqrshguptq its already been done

[2020-02-06 04:03] darksun27 commented on #8499
Sure! Thanks.

[2020-02-06 13:38] lakshay-angrish commented on #4057
Could someone please review and merge #8495 ? It has been marked stale

[2020-02-06 16:43] iamprayush commented on #7870
Hey @seanlip. The attached screenshot seems to be unavailable, could you please reattach it? Thanks!

[2020-02-06 18:11] darksun27 commented on #8499
In the TypeScript files do I replace the path to webp images or something else?

[2020-02-06 18:24] rohitkatlaa commented on #6240
@U8NWXD ```element(by.css(...))``` is fetching the code mirror element but there is no CodeMirror function or a setValue function so I wasn't sure how to use it.

[2020-02-06 19:10] ZaidBJ opened #8570 "I m trying to install oppia but i am running to following error on running "python -m scripts.start""
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 360, in run
    prefix=options.prefix_path,
  File "/usr/lib/python2.7/dist-packages/pip/req/req_set.py", line 784, in install
    **kwargs
  File "/usr/lib/python2.

[2020-02-06 19:28] vojtechjelinek commented on #8499
Yes, replace it to the webp path.

[2020-02-06 20:08] sankha555 commented on #8552
Hi,
I have been reading the codebase since the past few days and have found it to be really great. I would like to contribute to it and also look forward to doing a project with Oppia in GSoC 2020.

I have worked before on sending automated emails and notifications like the one mentioned in this issue. If the issue is still open for contribution, I would like to work on it and contribute.

[2020-02-06 22:46] abhayraghuwanshi commented on #4057
@nishantwrp  can you assign the the issue exploration feature and the change log to ruleobjectfactory i raised a pr regarding that

[2020-02-07 01:33] sagangwee commented on #8559
Hi @sankha555,

I've completed the front-end work in a local branch of mine, which I suspect won't change much, and I am currently working on a design doc for the necessary backend changes. Once I finish a rough draft, I can add you as a reviewer and we can potentially collaborate from there?

[2020-02-07 01:57] seanlip commented on #7870
Hm, I can see it. Try this direct link? https://user-images.githubusercontent.com/10575562/67748568-73151080-f9e8-11e9-9691-dd5c632c67c3.png

[2020-02-07 03:42] codymiller commented on #8339
Hey Team, (@dchen97 @seanlip @Showtim3 @yamamashakaa)

I have prepared a couple separate solutions to this UX challenge. Please provide any comments/feedback.

Both options center around adding a primary action button (distinguished by the following lesson’s activity color) to nudge students to the next lesson and a secondary action button to return students to the library.

**Some additional thou

[2020-02-07 03:59] seanlip commented on #8339
Thanks @codymiller! TBH, I think these look absolutely fantastic :)

I would suggest sticking with the blue action button for now. I'll start a conversation thread about a style guide separately -- that would be a good idea!

One thing I am finding it hard to figure out is which of the two solutions is "better" :) @dchen97 @Showtim3 @yamamashakaa do you have any thoughts on this?

[2020-02-07 04:56] iamprayush commented on #7870
@seanlip It's working for me now, must've been some server issue with GitHub.
This seems to be caused due to a max-width attribute having a hard-coded value. I'll create a PR with the change.

[2020-02-07 06:03] iamprayush commented on #5296
Hey! If no one's working on this, I'd like to take this up.

@seanlip Could you please confirm that these changes (suggested by @nithusha21) are sufficient to fix this bug.

[2020-02-07 06:05] seanlip commented on #5296
Seems reasonable to me. Re the third point I don't think we should delete them automatically -- let's audit and then investigate.

Feel free to assign yourself if you'd like to take this up. Thanks!

[2020-02-07 06:23] darksun27 commented on #8499
I found some reference to the png images in the webpack bundle files. Do I need to change those?

[2020-02-07 06:29] nishantwrp commented on #4057
@abhayraghuwanshi Done!

[2020-02-07 08:23] sankha555 commented on #8559
@sagangwee Ya sure, it would be great to work on this together ! Thanks!

[2020-02-07 08:29] seanlip commented on #8559
@sankha555 -- please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first to get started, before you work on any of the issues. Thanks!

[2020-02-07 10:14] iamprayush commented on #5296
@seanlip I've created a PR that would address the first point (not allowing '=' in math expression input).
I'm not sure how I would be able to edit the default explorations, though. Could you please guide me?

[2020-02-07 10:19] hmtj99 commented on #8015
I would like to work on `core/templates/dev/head/domain/skill/editable-skill-backend-api.service.ts`. Can it be assigned to me?

[2020-02-07 10:25] vojtechjelinek commented on #8499
No, these are generated from our regular TS files.

[2020-02-07 10:40] FlorinBalint commented on #6271
May I take the 'update_interaction_default_outcome' as well ?
It's easier when you have some context.

[2020-02-07 12:33] donosco99 commented on #5574
@bansalnitish, should I make a design-doc for this issue or Directly make a PR?

[2020-02-07 14:22] vojtechjelinek opened #8574 "Decide the browsers that Oppia should support"
Find out in which browsers Oppia currently works and after that decide which browsers and versions we want to support. When the browsers are decided we can remove some of the polyfills and no longer needed HTTP headers.

[2020-02-07 15:27] yamamashakaa commented on #8339
Hi @seanlip  and @codymiller both are really very beautiful !
it is hard to decide which one but I am thinking which is better to get the students know the next lesson title before go to it so we choose the first one or just go to the next lesson what ever the lesson is so we choose the second one =D

[2020-02-07 15:30] yamamashakaa commented on #8339
The second one is more beautiful, the first one is more informative. I go with the first one .

[2020-02-07 17:35] sankha555 commented on #8559
@seanlip  Thanks a lot! I have filled up the CLA and contributor survey form. Have also completed the rest of the tasks mentioned there. I look forward to contributing to the codebase now!

[2020-02-07 18:25] #7870 closed, assigned to nobody

[2020-02-07 18:39] darksun27 commented on #8499
@vojtechjelinek I was trying to push the changes but I somehow got linting errors. I am not able to understand any of these errors, if you could help?
[https://pastebin.com/MCkJUZSi](https://pastebin.com/MCkJUZSi)

[2020-02-07 18:41] vojtechjelinek commented on #8499
Please ask on Gitter, I will take a look at it tomorrow.

[2020-02-07 18:46] DubeySandeep commented on #8015
Hi @hmtj99, I've assigned you to the issue, you can go ahead and start working on it! :)

[2020-02-07 18:46] rohitkatlaa commented on #8015
@hmtj99 Assigned you!

[2020-02-07 18:47] hmtj99 commented on #8015
Thanks.

[2020-02-07 19:32] DubeySandeep commented on #4057
@abhayraghuwanshi, I'm not sure what that new function does. I would suggest you to create a PR and let's discuss this in the PR. Thanks! :)

[2020-02-07 19:37] abhayraghuwanshi commented on #4057
@DubeySandeep  I've raised a PR regarding that. can you assign the change log

[2020-02-07 19:48] DubeySandeep commented on #8552
Hi @sankha555, This issue needs more work as well as more experience with the codebase. I would suggest you pick any "[good first issue](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do)" as a new contributor and once you fix 2 issues you can work on this. Let me know if you need any help in finding good first issue?

[2020-02-07 19:52] sankha555 commented on #8552
Okay sure. I am more inclined towards backend so am trying to find some issues related to it on the issues page. If you think that any other issue would be fine for me for now, I would be very obliged i you could kindly refer it to me. Hoping to work with u soon. Thanks a lot again! :)

[2020-02-07 20:18] DubeySandeep commented on #4057
@abhayraghuwanshi, I've added a changelog label and assigned reviewer for your PR.

[2020-02-07 20:23] sankha555 commented on #8512
@vojtechjelinek @DubeySandeep Sirs, if this issue is still open can I also work on it?

[2020-02-07 20:25] DubeySandeep commented on #8552
@sankha555, I've suggested a few backend-specific issues on Gitter, PTAL!

[2020-02-07 20:27] DubeySandeep commented on #8512
@sankha555, Please select a different issue as it's already been assigned to @hedonhermdev.

[2020-02-07 21:26] seanlip commented on #5574
Reading the issue, I think this is a low priority issue and we haven't really had any requests from users for it in the past 2 years. So I am going to close it. @donosco98 I suggest looking for a different issue instead -- thanks!

[2020-02-07 21:26] #5574 closed, assigned to nobody

[2020-02-07 21:47] marianadasilvadev commented on #8534
Hey I've fixed this issue after the revertion. Now it shouldn't fail anymore!

[2020-02-07 23:14] seanlip commented on #5296
The default explorations can be found in the /data folder and you can load them in your local devserver by going to /admin and clicking "reload" on the corresponding page.

[2020-02-07 23:19] seanlip commented on #8339
OK, thanks @yamamashakaa! Let's go with the first one then.

@Showtim3 do you have enough info to proceed? (Note that one small tweak is that the orange button should probably be blue, to keep with the existing colour scheme for other cards.)

[2020-02-07 23:24] seanlip commented on #6271
Sure @FlorinBalint! I've just assigned you.

Also deassigning @piotrhm @csmith23 @harshita93 due to lack of progress/PRs (/cc @U8NWXD). @FlorinBalint if you'd like to tackle any/all of the other bullet points in your PR, please feel free to do so (just state in this comment thread which ones you are taking up).

[2020-02-08 05:35] iamprayush commented on #5296
Currently, the default exploration has 3 acceptable answers:
 * normal form (ax+by+c=0)
 * slope intercept form (y=mx+c)
 * point slope form (y-y0=m(x-x0))

Now, the thing is, if we were to restrict the use of '=', one way to do that would be to get all the variables on one side and then only ask the user to write that side of the equation, which would effectively be an "expression".
But, then obv

[2020-02-08 09:10] aks681 opened #8578 "Story chapters don't play without prerequisite skills"
**Describe the bug**
If a story chapter is created without prerequisite skills, then when the exploration in the chapter is played, an orange error message is shown and the exploration doesn't play.

**To Reproduce**
Steps to reproduce the behavior:
 1. Signup and login as an admin (by going to Roles tab in /admin and giving yourself Admin role)
 2. In the Activities tab in /admin, reload the firs

[2020-02-08 09:49] FlorinBalint commented on #6271
I'll add a PR for the 'default_outcome' part, I can take a look at the others.
I'll write a comment here if I start working on one.

[2020-02-08 18:34] kevinlee12 commented on #8534
Reopening since #8576 is the actual fix.

[2020-02-08 21:25] seanlip commented on #5296
Do the first one. It sounds like the question is asking for the wrong thing.

(Also, thanks for the clear explanation!)

[2020-02-09 06:42] DubeySandeep opened #8584 "Draft change list upgrade should work for on-fly exploration migration"
Currently, we have a functionality through which we update the exploration schema on the fly without saving the updated exploration. But the draft change list upgrade functionality doesn't work with the unsaved schema updated/migrated explorations (It only works for the migrated explorations which are saved i.e, has commit for migration).

Through this issue, we want to change the draft change_lis

[2020-02-09 08:59] amey-kudari opened #8586 "Use pip_install for pyyaml and future."
**Describe the bug**
Installation errors described in [8123](https://github.com/oppia/oppia/issues/8123 )  still occur when running python -m scripts.install_third_party_libs.

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: Ubuntu 18.04
 - pip: 9.0.1

**Additional context**
use pip_install to install the above packages

[2020-02-09 08:59] amey-kudari commented on #8586
@vojtechjelinek @kevinlee12 Please take a look

[2020-02-09 10:24] abhayraghuwanshi commented on #8472
@tyleri  can you assign the changelog in the pr

[2020-02-09 10:41] abhayraghuwanshi commented on #4057
@shubha1593 can you assign the changelog to exploration feature service

[2020-02-09 12:01] MNSDivya opened #8589 "Continue button is invisible while creating an exploration"
**Describe the bug**
Continue button is invisible while creating an exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/creator_dashboard
 2. Click on Create
 3. Start creating an exploration with Introduction card
4. Add an interaction as continue button
5. Click on preview and verify continue button .

**Observed behavior**
Continue button

[2020-02-09 12:12] #8541 closed, assigned to nobody

[2020-02-09 15:03] FlorinBalint commented on #6271
I'll start working on the 'update_interaction_hints' part.

[2020-02-09 20:00] kevinlee12 commented on #8586
@amey-kudari can you provide an example of that this would look like?

[2020-02-09 20:09] donosco99 commented on #6366
@aks681 , I would like to work on this issue.
Does this need a design doc?
Thanks

[2020-02-09 21:30] U8NWXD opened #8593 "User Feedback Requirement Warning Sign Missing"
**Describe the bug**
Creators are required to specify feedback for the [All other answers] response before saving an exploration, but the warning sign over this field is missing.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with the text input interaction
 2. Provide a correct answer with feedback
 3. Expand the [All other answers] choice

**Observed behavior**
No w

[2020-02-09 21:44] amey-kudari commented on #8586
Hi @kevinlee12 !
Yeah sure! This is what I wanted to do.
Change this
[code]
To this
[code]
and do it after defining pip_install.
That way exceptions get handled by pip_install.

[2020-02-09 21:48] U8NWXD opened #8594 "Translations Expected for Empty Text Fields"
**Describe the bug**
The translations progress tracker expects translations for empty text fields.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with at least one feedback field empty (e.g. for the correct answer)
 2. Switch to the translation tab
 3. Select a language you didn't write the exploration in and switch to translation mode
 4. Fill in translations for all

[2020-02-09 21:57] U8NWXD opened #8595 "Voiceovers Allowed for Untranslated Fields"
**Describe the bug**
Creators should not be able to upload voiceovers in language X for fields that have not yet been translated into language X. The modal says so, but allows uploads.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with some text field(s)
 2. Switch to the translation tab
 3. Make sure you are in voiceover moe
 4. Upload a voiceover for a language you

[2020-02-09 22:02] U8NWXD commented on #8595
I have reproduced this on Chrome also

[2020-02-09 22:03] U8NWXD commented on #8594
I have reproduced this on Chrome as well

[2020-02-09 22:16] U8NWXD opened #8596 "Clicking to Edit Exploration With Voice Artist Permission Shows Selected Box"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. In the settings pane, add another account as a voice artist
 3. Login to that account and open the exploration
 4. Click on some text content to try and edit it

**Observed behavior**
The click highlights a box that is visually unappealing.

**Ex

[2020-02-09 22:19] nadintamer opened #8597 "No button to submit suggestions for exploration on mobile"
**Describe the bug**
Users cannot submit suggestions to change an exploration on mobile.

**To Reproduce**
Steps to reproduce the behavior:
  1. Create an exploration
  2. Log in with a different account (on mobile)
  3. Go to the exploration's exploration player page

**Observed behavior**
There is no button for the user to submit suggestions to change the exploration.

**Expected behavior**
Ther

[2020-02-09 22:26] U8NWXD opened #8598 "Console Error when Recording Voiceover"
**Describe the bug**
Console error when recording voiceover

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with some text content
 2. Switch to the translation tab
 3. Ensure you are in voieover mode
 4. Record a new voiceover

**Observed behavior**
Console error:
[code]

**Expected behavior**
No console error

**Desktop (please complete the following information; del

[2020-02-09 22:31] nadintamer opened #8599 "Console error when playing audio in Fractions exploration"
**Describe the bug**
A console error appears when playing audio in the Fractions exploration (although the audio works fine).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the first Fractions exploration - 'What is a Fraction?'
 2. Play recorded voiceover

**Observed behavior**
The following error is observed in the console: `AbortError: The fetching process for the media resource w

[2020-02-09 22:41] nadintamer commented on #8597
Console errors observed in multiple browsers, see #5784 and #7966

[2020-02-09 22:44] U8NWXD opened #8600 "Users Submitting Feedback Aren't Told Their Position in the Exploration Will Be Reported"
**Describe the bug**
When users give feedback on an exploration, their position in the exploration is reported to the creator. This should be more clearly communicated to the user.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open an exploration as a learner
 2. Leave feedback

**Observed behavior**
It is not clear that the user's current position in the exploration will be sent to the c

[2020-02-09 22:48] U8NWXD opened #8601 "Suggesting Changes Box Unclear"
**Describe the bug**
It is unclear that the top box when a user suggests a change is the text they are suggesting the content be changed to.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to an exploration
 2. Click the "Suggest Changes" button

**Expected behavior**
It should be clear that the top box should contain what the user thinks the text should look like.

**Screenshots**

I th

[2020-02-09 22:58] U8NWXD opened #8602 "Feedback Message Not Added as a Message When Suggested Edit Accepted"
**Describe the bug**
When a creator accepts a suggested edit, the feedback message is not added to the thread.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration, and publish it
 2. Login as a different user and leave a suggested change on the exploration
 3. Login as the creator of the exploration and switch to the improvements tab of the exploration
 4. Accept the sugge

[2020-02-09 23:17] U8NWXD opened #8603 ""Invalid Date" Shown for Feedback in Learner Dashboard"
**Describe the bug**
When opening a feedback thread in the learner dashboard, "Invalid Date" is shown in place of the date.

**To Reproduce**
Steps to reproduce the behavior:
 1. Leave feedback on an exploration suggesting a change
 2. Open the learner dashboard
 3. Open the thread for the feedback you just left

**Observed behavior**
"Invalid Date" is shown in place of the timestamp:

![Screen Sh

[2020-02-09 23:19] U8NWXD commented on #8603
I have also reproduced this in Chrome

[2020-02-09 23:35] U8NWXD opened #8604 "Topic Name Outlined in Red Until Abbreviated Name Entered"
**Describe the bug**
When users create topics, the topic name remains outlined in red even after a name is entered until the abbreviated name is entered.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as an admin
 2. Using the admin page, give yourself the admin role
 3. Navigate to the topics and skills dashboard
 4. Click to create a topic
 5. Enter a topic name but not an abbrevia

[2020-02-09 23:42] seanlip commented on #4057
Hi @abhayraghuwanshi -- @nithusha21 or @marianazangrossi can help you with your query, but I think it's unclear what exactly you mean by "assign the changelog". Could you please clarify your request?

[2020-02-09 23:44] seanlip commented on #6271
Thanks @FlorinBalint -- assigned you!

[2020-02-10 00:13] vojtechjelinek commented on #7643
The problem with this replacement is that for some of the directives we get this error: `Trying to get the Angular injector before bootstrapping the corresponding Angular module.`. This happens both in the e2e tests and in the local testing.

This is most probably caused by the fact that some of the directives use some of the services that are already migrated to Angular 8 and because now they use

[2020-02-10 01:49] abhayraghuwanshi commented on #4057
@seanlip  I'm sorry i should have written it clearer.
I raised the PR for the exploration feature it is missing the changelog
Thanks

[2020-02-10 01:58] seanlip commented on #4057
@abhayraghuwanshi It would help if you provided the number of the PR.

[2020-02-10 02:02] abhayraghuwanshi commented on #4057
#8588

[2020-02-10 04:06] abhayraghuwanshi commented on #8603
Could you assign me this one.
I'll let you know if i can't reproduce it
Thanks

[2020-02-10 04:53] tyleri commented on #8472
@abhayraghuwanshi Please link to the PR you are talking about.

[2020-02-10 05:03] kevinlee12 commented on #8586
sure, as long as it also works on Windows, go for it!

On Sun, Feb 9, 2020 at 1:44 PM XxFALCONxX <notifications@github.com> wrote:

[2020-02-10 05:16] abhayraghuwanshi commented on #8472
#8587
Sorry i always forgot to link my PR
Thanks

[2020-02-10 06:33] MNSDivya opened #8606 "[Mobile -chrome browser] Explorations which were left without completing are not shown In Progress explorationlist"
**Describe the bug**
"Fractions 1- What is a Fraction?" exploration not listed in "In Progress" section for mobile version in chrome browser

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com' and Sign in
 2. Click on Learner dashboard and Browse lessons
 3. Open Fractions exploration and play the course but do not complete
 4. Verify Fractions explor

[2020-02-10 09:45] iamprayush opened #8608 "Error when playing map exploration"
**Describe the bug**
When reaching the map interaction part of the "all interactions" exploration (in the test server), an error was thrown. (see screenshot below).
Also, the map is unclickable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Play through until you reach the map interaction part.
 3. Observe the error on the console.

[2020-02-10 10:03] MNSDivya opened #8609 "Hovering on Explorations text on creator dashboard shows as an clickable component"
**Describe the bug**
Hovering on Explorations text on creator dashboard shows as an clickable component

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/creator_dashboard
 2. Try hovering on "EXPLORATIONS" text

**Observed behavior**
Hovering on Explorations text on creator dashboard shows as an clickable component

**Expected behavior**
Cursor shou

[2020-02-10 10:22] iamprayush opened #8610 "Profile picture modal gets dismissed unexpectedly"
**Describe the bug**
While using the crop tool when adding a new profile picture, if the mouse pointer is dragged outside the modal, the modal gets dismissed and the user needs to re-upload the picture.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to oppia.
 2. Click on the Preferences option in the dropdown by hovering over the profile icon on the top right.
 3. Click on the profi

[2020-02-10 16:45] abhayraghuwanshi commented on #8472
@tyleri  could u assign me skill-right-backend-api.service.ts?

[2020-02-10 16:57] #8269 closed, assigned to Showtim3

[2020-02-10 17:11] aks681 commented on #8565
Yeah, I encountered this error. This seems to be a general issue for all $uibModals in AngularJS 1.6.3. There is an issue thread that discusses this [here](https://github.com/angular-ui/bootstrap/issues/6501).

I think we might have to manually change the cancel event for all uibModals...

[2020-02-10 17:12] tyleri commented on #8472
@abhayraghuwanshi Please finish migrating SkillObjectFactory.ts before starting on a new file.

[2020-02-10 17:17] abhayraghuwanshi commented on #8472
@tyleri i raised the PR regarding that #8587

[2020-02-10 17:23] kevintab95 commented on #8603
Hi @abhayraghuwanshi, I've assigned this to you.

[2020-02-10 18:06] kevintab95 commented on #8172
@kevinlee12 does this still happen? If not, let's close this.

[2020-02-10 22:12] abhayraghuwanshi commented on #8603
![Screenshot from 2020-02-10 17-09-28](https://user-images.githubusercontent.com/45534131/74194950-451aab80-4c28-11ea-9dfa-19f351707503.png)
work fine on my Linux 18.04 Chrome Version 79.0.3945.130

[2020-02-10 22:36] abhayraghuwanshi commented on #8604
![Screenshot from 2020-02-10 17-32-49](https://user-images.githubusercontent.com/45534131/74196560-82346d00-4c2b-11ea-888c-80fd2dc7c15e.png)
the empty one should be in red and the filled one shouldn't be in red. Is this the expected behavior?
If its true I would like to contribute on this one
thanks

[2020-02-11 00:14] #8449 closed, assigned to aks681

[2020-02-11 00:25] seanlip commented on #7643
Hi @vojtechjelinek -- just wanted to clarify two things:

(a) Given your comment, should we continue to proceed with this issue?

(b) If the answer to (a) is yes, what specifically do you need from the Angular migration team in order to bridge the gap (so that, throughout the whole process, the exploration player continues to work on flaky connections)?

Just wanted to be clear on what the next st

[2020-02-11 03:10] kevinlee12 commented on #8172
Nope, don't see this any more.

[2020-02-11 03:10] #8172 closed, assigned to nobody

[2020-02-11 04:51] rachelwchen opened #8614 "Moving "site feedback" floating icon to footer"
Hi,

Currently on the site we have the "site feedback" icon, which [links to a Google Form](https://docs.google.com/forms/d/e/1FAIpQLSceYX653pUB2zalfdFZLybV6x7QI1dTFBrk17SVk5Th68gN-g/viewform) that allows site visitors to provide feedback.

It's been brought up that the icon can be distracting, especially on mobile. Sometimes the icon visually overlaps with text in the background (see screenshot b

[2020-02-11 08:58] seanlip commented on #8614
Hm, I'm on the fence. I agree that the footer is less distracting but at the same time that means it's less discoverable.

That said, on balance, I think I lean towards moving it to the footer, since the feedback we've gotten in general through the form hasn't been particularly useful.

[2020-02-11 09:14] DubeySandeep commented on #8594
This issue is related to #6178. In future, we are expecting to have text for all the fields in exploration.

@U8NWXD, Can you please check the linked issue and see if that's similar to this one? (If yes, then we can close this one.)

[2020-02-11 09:22] DubeySandeep commented on #8595
@U8NWXD, Currently the exploration is being completely managed by exploration editor, translators and voice artist. We haven't added any such validation of "Allowing voiceover only if translation exist." for conditions like translator/editor deleted original text/translation although the voiceover still exists.

In the future, the translation will be handled by the community and there will be less

[2020-02-11 09:40] DubeySandeep commented on #8603
Hi @abhayraghuwanshi, the image you have shared above isn't visible. Can you please check?

Also, FYI this issue is blocking the release so we are expecting to resolve it asap (before 12th Feb EOD).

[2020-02-11 09:43] abhayraghuwanshi commented on #8603
![Screenshot from 2020-02-10 17-09-28](https://user-images.githubusercontent.com/45534131/74225625-15e85680-4c89-11ea-857a-f059f05f220d.png)

[2020-02-11 09:46] abhayraghuwanshi commented on #8603
![Screenshot from 2020-02-11 04-45-03](https://user-images.githubusercontent.com/45534131/74225833-74add000-4c89-11ea-985d-dd6aef5bb4f4.png)
@DubeySandeep  it works fine on my chrome

[2020-02-11 11:00] kevintab95 commented on #8604
Hi @abhayraghuwanshi, I've assigned this to you. But please bear in mind that this is a blocking bug and needs to be fixed ASAP. Thanks!

[2020-02-11 11:06] DubeySandeep commented on #8599
Hi @nadintamer, Thanks for reporting the issue, I wanted to know whether it blocks you to play the audio? If yes, then we will fix this in this release else we will try to fix this in the next release.

EDIT:

I think you have already mention that the audio is working firn, I'm moving this to the audio team and  I'll close #7966 as its a duplicate.

[2020-02-11 11:10] DubeySandeep commented on #8598
Hi @mzaman07, Can you please look into this issue?

[2020-02-11 11:13] DubeySandeep commented on #8593
@aks681, is this an expected behavior? (AFAIR, there use to be a warning message where the text field cannot be empty.)

[2020-02-11 11:27] DubeySandeep commented on #8609
I think that's expected behaviour as we have multiple such sections Like EXPLORATIONS and SUGGESTION (The SUGGESTION will be visible if you have submitted at least one suggestion (not sure!)

@nithusha21, Do you think we should work on this issue?

[2020-02-11 11:30] DubeySandeep commented on #8606
I'm unable to reproduce this issue. @Showtim3, Can you please check whether you can reproduce this issue?

[2020-02-11 11:31] DubeySandeep commented on #8589
@aks681, Can you please confirm whether this is an expected behavior?

[2020-02-11 11:35] DubeySandeep commented on #8600
@nithusha21 @seanlip, any thoughts on this?
1. Whether this will be required? (I think we should have something link "On card: XYZ" in the feedback pop-up but the learners aren't aware of "card/state name.)
2. Do we need to fix this in this release? i.e, should we consider this as a blocking bug?

[2020-02-11 11:53] abhayraghuwanshi commented on #8603
@DubeySandeep i couldn't able to reproduce this, thats why i unassigned myself. If anyone wants to try that they can
Thanks

[2020-02-11 11:56] DubeySandeep commented on #8603
@abhayraghuwanshi, Thanks for the updates!

@Showtim3, Can you please check whether this is reproducible?

[2020-02-11 12:01] abhayraghuwanshi commented on #8604
In the expected behavior, Do i have to consider this case too, The red outline should disappear once the abbreviated topic name has been entered

[2020-02-11 12:15] kevintab95 commented on #8597
Hm, I'm not sure if we had this button for mobiles earlier. I'm wondering if we really need this for the current release. If not we can remove it from blocking bugs. @nithusha21 @seanlip what do you guys think?

[2020-02-11 13:11] kevintab95 commented on #8610
Hi @iamprayush did you click outside the modal? I noticed that it closes when you click outside the modal.

[2020-02-11 13:36] iamprayush commented on #8610
@kevintab95 I didn't click outside the modal. While resizing the cropping area, if I were to move the cursor outside the modal (to get the entire area covered) and then release the mouse button, the modal would get dismissed. This isn't that major but it was a little annoying. (Maybe we could add this to low priority instead of blocking bugs)
An easy fix for this might be to disable the dismissal

[2020-02-11 13:47] kevintab95 commented on #8610
Ah, I see. Yes, I agree this need not be a blocking bug in that case. We do dismiss modals on clicking outside in other places, I think. Also, we have a task to remove the current cropping tool used for profile picture (see #8342).

Removing from "blocking bugs" for now.

[2020-02-11 14:33] kevintab95 commented on #8608
I took a look at this and located [the commit](https://github.com/oppia/oppia/commit/7c7b0d5c1072eaeb34e7bd9c425eec4a7f3156ff) that introduced this regression. @vojtechjelinek can you please take a look (since you have some idea of what might have changed)? Thanks!

[2020-02-11 14:55] iamprayush opened #8618 "Category selection not visible in mobile view."
**Describe the bug**
The category selection element is not visible in mobile view and there is no other way to access it.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/library.
 2. Turn on mobile view from dev tools.

**Observed behavior**
Category selection is not visible.

**Expected behavior**
There should be some way to access the category selector.

**Scre

[2020-02-11 15:44] DubeySandeep commented on #8610
Maring this as "Bocking bug" as per discussion with @kevintab95  and the expected behaviour for the form's modal as documented [here](https://github.com/oppia/oppia/wiki/Oppia-UX-guidelines-&-rationales#throughout-oppia-we-follow-three-patterns-for-modal-closing).

[2020-02-11 16:49] Showtim3 commented on #8606
@MNSDivya @DubeySandeep I can't reproduce this either, but I think I know what's going on here. Divya, can you please take a look at the collections? Fractions are supposed to be there.

![image](https://user-images.githubusercontent.com/30312043/74258587-96a46280-4d1c-11ea-88ba-ffd2e8208290.png)

[2020-02-11 17:04] MNSDivya commented on #8606
This is the desktop version of the same exploration ""Fractions 1- What is a Fraction?"" which is already completed as an another user.
![image](https://user-images.githubusercontent.com/56336353/74259739-6067e280-4d1e-11ea-8c79-b55bc18fc338.png)

But in mobile version, that exploration is not shown either in "In progress" or "Completed" list

@Showtim3 Hope this explains

[2020-02-11 17:10] Showtim3 commented on #8606
@MNSDivya can you check once in ```In Progress``` under ```Collections``` when they are not completed(as described in the bug originally).

[2020-02-11 17:26] abhayraghuwanshi commented on #8604
Can you assign the changelog to #8621

[2020-02-11 18:23] darksun27 commented on #8499
@vojtechjelinek I went through linting errors and found that .webp files are the reason the llinter is crashing. Should I just pass on the lint test?

[2020-02-11 18:30] vojtechjelinek commented on #8499
@darksun27 Sorry for getting to you later, please add `'*.webp'` to `EXCLUDED_PATHS` in pre_commit_linter.

[2020-02-11 18:55] U8NWXD commented on #8595
@DubeySandeep the critical user paths document reads:

I've left a suggested change to remove this row from the document since this validation is not yet performed

[2020-02-11 19:00] U8NWXD commented on #8594
@DubeySandeep the validation proposed in #6178 would resolve this issue. @Showtim3 how do you want to proceed with regards to the upcoming release? We could make #6178 blocking to ensure this bug is fixed, and we could also let the bug stand until the validation checks are ready to release.

[2020-02-11 19:12] darksun27 commented on #8499
done! thanks

[2020-02-11 19:30] MNSDivya commented on #8606
I have checked In progress collections and explorations as well.
Not listed in either.
 PFA screenshots
![WhatsApp Image 2020-02-12 at 12 58 23 AM (1)](https://user-images.githubusercontent.com/56336353/74271528-0d4c5a80-4d33-11ea-8e50-07df8cc30ec8.jpeg)
![WhatsApp Image 2020-02-12 at 12 58 23 AM](https://user-images.githubusercontent.com/56336353/74271536-10474b00-4d33-11ea-958c-3cb14b4be28c.jpeg

[2020-02-11 19:31] Showtim3 commented on #8603
WOrking for me too...
![image](https://user-images.githubusercontent.com/30312043/74271559-1a694980-4d33-11ea-88fe-6c28d88b2a0a.png)

[2020-02-11 19:33] DubeySandeep commented on #8603
Hi @U8NWXD, Can you please share the exploration link in which you have reproduced this issue? (Maybe it's exploration specific issue?)

[2020-02-11 20:38] abhayraghuwanshi commented on #8589
![Screenshot from 2020-02-11 15-37-14](https://user-images.githubusercontent.com/45534131/74276828-75c01b00-4ce4-11ea-8720-c4cb5e5ec9da.png)
![Screenshot from 2020-02-11 15-36-57](https://user-images.githubusercontent.com/45534131/74276845-7f498300-4ce4-11ea-854f-60e17632389c.png)

[2020-02-11 20:38] abhayraghuwanshi commented on #8589
works fine on my Linux 18.04

[2020-02-11 21:07] vojtechjelinek opened #8623 ""Test of all interactions" doesn't contain some interactions on test server"
The "Test of all interactions" exploration on the [Oppia test server](https://oppiatestserver.appspot.com/explore/16) doesn't contain some interactions, like fractions or units. On local develop the "Test of all interactions" does contain all interactions.

[2020-02-11 21:07] vojtechjelinek commented on #8623
@nithusha21 PTAL

[2020-02-11 21:11] DubeySandeep commented on #8589
@abhayraghuwanshi, Thanks for checking. It's working fine for me on Ubuntu (18.04) chrome and FF as well. @MNSDivya, Do you see any error log in the console?

[2020-02-11 21:12] vojtechjelinek commented on #8623
Also, the "Test of all interactions" exploration expects `=` in the Math Expression Input which no longer works.

[2020-02-11 21:15] DubeySandeep commented on #8589
@MNSDivya, I see a screenshot of "edit" tab but the "Steps to reproduce" asks to check in the preview tab. I'm not sure whether this issue is reproducible on the "Preview" tab or the edit tab. Can you please check?

[2020-02-11 22:34] vojtechjelinek commented on #7643
No, we should wait until the Angular 8 migration is finished, unless there is a need (as is with the offline exploration player).

[2020-02-11 22:58] seanlip commented on #7643
OK, thanks. In that case, should @rohitkatlaa and @ahv15 still be assigned to the issue (see first comment)?

[2020-02-11 22:58] seanlip commented on #7643
(Also if this is blocking on something else, let's put "[Blocked on XXX]" in the title so that people know not to take this up yet.)

[2020-02-12 02:22] seanlip commented on #8597
I don't think this flow needs to be supported on mobile, actually. Would it be possible to make a note to that effect in the critical user journeys doc?

[2020-02-12 02:28] seanlip commented on #8600
That's odd. I thought we used to have a checkbox for this, but maybe it got removed.

Yes, let's consider this a blocking bug. I think the simplest way to handle this is to change the placeholder message in the pop-up. @U8NWXD, do you have any suggestions on what we could change it to?

[2020-02-12 02:38] MNSDivya commented on #8589
Now it is not reproducible. We can close this as of now and if it reappears will reopen it.
Will this work @DubeySandeep

[2020-02-12 02:42] seanlip commented on #8597
/cc @Showtim3 @nithusha21

[2020-02-12 02:42] Radesh-kumar commented on #4057
Can anyone please help me how to set break points in code, It helps me in understanding code base quickly
I have used debug command in console
And had set break points in vs code
Both are not pretty much runing

[2020-02-12 03:19] U8NWXD commented on #8600
The placeholder right now reads:

I suggest changing it to:

[2020-02-12 03:23] U8NWXD commented on #8603
Here's the exploration link: https://oppiatestserver.appspot.com/explore/kKqz0ElnAbLw
I'm not sure how to see the suggested changes without logging in as me though

[2020-02-12 03:24] seanlip commented on #8600
Sounds good, thanks @U8NWXD!

I made a couple of small tweaks to make it clearer that "position" doesn't refer to some kind of ranking, and to put the second sentence in parentheses:

Does this work? If so, let's implement it -- I'll mark it as blocking per my comment above.

Thanks for catching this!

[2020-02-12 03:26] U8NWXD commented on #8603
@Showtim3 it looks like you left feedback instead of making a suggestion. I saw the bug when making a suggested change, so maybe this is the difference? I've updated the reproduction instructions to clarify. I also just checked, and I still see `Invalid Date`

[2020-02-12 03:32] U8NWXD commented on #8600
@seanlip looks good!

[2020-02-12 05:47] mzaman07 commented on #8598
I'm having issues trying to reproduce this issue, I'm not getting the error. I'm using chrome on both ubuntu 18.04 and macos catalina.

The error message tells me the Worker API (multithreading) does not have the postMessage method.
So did the recording stop working as soon as you started?

[2020-02-12 06:22] Hudda opened #8625 "Splitting lint checks into Python, Js, Ts lint checks."
Split lint checks in _pre_commit_linter_ into Python, Js, Ts lint checks so that we can run a specific check by file type (py, js, ts, css, html, etc.) or all lint checks by providing necessary args with _pre_commit_linter_. For example `python -m pre_commit_linter --only-check-file-extensions=py` to run lint checks for files with .py extension.

[2020-02-12 06:25] seanlip commented on #8625
Hi @Hudda -- let's make it `--only-check-file-extensions=` and have the values py, js, ts, css, html, etc. -- I think that would be more explicit. Does that sound ok?

Note that this is a linting by filetype rather than a linting by programming language (so, e.g., .html would include CSS checks on the CSS embedded within HTML files). But I think that using the file extension approach is more strai

[2020-02-12 06:46] DubeySandeep commented on #8589
@MNSDivya, Thanks for rechecking, I'll close this issue for now but feel free to reopen this issue if you see it again.  Thanks!

[2020-02-12 06:46] #8589 closed, assigned to aks681

[2020-02-12 06:47] Hudda commented on #8625
@seanlip Done.

[2020-02-12 11:40] iamprayush commented on #8450
Created a new PR with state migration. Reopening.

[2020-02-12 13:52] Radesh-kumar commented on #4057
Hy!! @nithusha21  i know how to write tests in jasmine. Now all i need is lil help over how to use breakpoints. It would be great, so that i can start to resolve things quickly.

[2020-02-12 14:09] iamprayush commented on #8623
@vojtechjelinek  I'm working on making the necassary changes to that default exploration. Sorry, if there is some delay in getting it fixed (exams going on). I will try to get it done by the end of this week.

[2020-02-12 14:31] donosco99 commented on #8157
@seanlip, @nikitamarysolomanpvt
Isn't this issue solved by #8454?

[2020-02-12 14:31] iamprayush commented on #7463
Hi @hamletv! Any updates?

[2020-02-12 16:07] #8193 closed, assigned to iamprayush

[2020-02-12 16:08] #8550 closed, assigned to safwan20

[2020-02-12 19:59] donosco99 commented on #5872
Hi @seanlip, I would like to work on this issue.
Also, I would like to clarify my doubts on the approach suggested by @christineycc, So
1. The first modal(i.e the default modal), Should have only the buttons and the changes(accept, reject and cancel) and No text fields for comments or commits.
2. the Second modal appearing after choosing to accept the suggestion, Shows the changes suggested, A fie

[2020-02-12 20:11] vojtechjelinek commented on #8623
@iamprayush No problem, just wanted to mention this.

[2020-02-12 20:34] vojtechjelinek opened #8628 "Enable interactions to work offline"
Some of the interactions don't work on flaky connections, they fail to load or produce errors when the connection is disabled in an exploration player.

InteractiveMap — needs a connection to load parts of the map
MusicNotesInput — needs a connection to load the images of the notes, should be quite easy to fix
PencilCodeEditor — needs a connection to fully load the editor

Investigate these and tr

[2020-02-12 20:37] vojtechjelinek commented on #7643
@seanlip Yes, we can do the changes for the files in `extensions` since these are loaded after Angular 8 is ready.

[2020-02-12 21:38] U8NWXD commented on #8598
@mzaman07 the user experience was not impacted, i.e. the audio was successfully recorded and uploaded

[2020-02-12 23:50] seanlip commented on #985
This issue is a bit too broad and the e2e tests have evolved in the meantime, so let's close it for now and file smaller issues to fix problems that arise in the current setup.

[2020-02-12 23:50] #985 closed

[2020-02-12 23:54] seanlip commented on #715
This is quite minor and we haven't received any feedback on this in the past few years, so I'm closing this because the effort/reward tradeoff for it is a bit on the high side.

[2020-02-12 23:54] #715 closed

[2020-02-13 01:38] seanlip commented on #5872
Hi @donosco98, thanks for your interest on working on this! I'll defer to @christineycc to respond to your comment, since she has a better eye for design than I do :)

[2020-02-13 01:53] seanlip commented on #7643
OK, then I think the original description may be unclear. Could you please split it into the parts that (a) can be done now, and (b) need to be done only after #8472 is resolved? (At the moment, it looks like everything blocks on #8472 which I understand isn't the case based on your last comment.)

[2020-02-13 02:00] seanlip commented on #8157
Hm, I'm not sure. @DubeySandeep @tyleri @iamprayush could you please comment on @donosco98's question?

[2020-02-13 03:25] #8608 closed, assigned to DubeySandeep

[2020-02-13 07:15] chauhanparth210 commented on #8472
Hello @tyleri , I want to work upon  concept-card-backend-api.service.ts  to migrate from Angular.JS to Angular 8. I am  pretty new to Angular so help me when I am in trouble. Thank you.

[2020-02-13 08:31] iamprayush commented on #8157
Hi @donosco98!
#8454 did not implement these checks. But AFAICT, the aforementioned checks have been implemented (perhaps by some other PR).
Also, I checked and I couldn't reproduce the error regarding the long number.

[2020-02-13 09:12] #8610 closed, assigned to DubeySandeep

[2020-02-13 09:30] safwan20 commented on #8618
I want to work on this.

[2020-02-13 12:56] iamprayush commented on #8618
Hi @safwan20! Go ahead, I've assigned you.

[2020-02-13 13:50] vojtechjelinek opened #8630 "[Blocked on #8472] Replace templateUrl with template"
Replace `templateUrl: UrlInterpolationService.getDirectiveTemplateUrl('somePath')` with `template: require(somePath)` and use webpack for inserting the HTML templates into the generated bundles. This will improve latency and bandwidth of the directives loading since Angular doesn't need to retrieve the HTML via AJAX request.

Later when the directive is migrated to Angular 8 we can replace `templa

[2020-02-13 13:55] vojtechjelinek commented on #7643
@seanlip I have created #8630 for all of the directives and kept this issue for the extensions.

@ahv15 How is the work going on `extensions/rich_text_components`

[2020-02-13 14:22] ahv15 commented on #7643
@vojtechjelinek sorry for the delay I was facing some issues in the tests while pushing the commits, hopefully I will be able to fix it and send it today

[2020-02-13 14:24] vojtechjelinek commented on #7643
@ahv15 No problem, just wanted to check on you.

[2020-02-13 16:35] DubeySandeep commented on #8597
[Removing this issue from blocking bug, as per Sean and Kevin's suggestion.]

[2020-02-13 16:38] DubeySandeep commented on #8598
@mzaman07, FYI this is needed for the release so it would be great if we can fix this quickly (before 15th Feb EOD).

[2020-02-13 16:46] kevintab95 commented on #8606
Hi @MNSDivya, can you check what shows up in the "Completed" section? I think that if the exploration in question has been completed it might not show up in the "In Progress" section if you replay the exploration again partly. Thanks!

[2020-02-13 17:13] tyleri commented on #8472
Done, I've assigned you to the file. Please message us on Gitter if you need any help.

[2020-02-13 18:05] chauhanparth210 commented on #8472
Sure @tyleri, Thank you.

[2020-02-13 18:20] #8604 closed, assigned to abhayraghuwanshi

[2020-02-14 02:04] seanlip commented on #8597
@Showtim3 @nithusha21 Just a quick ping re the previous comment, please. Thanks!

[2020-02-14 03:08] #8596 closed, assigned to DubeySandeep

[2020-02-14 04:30] mzaman07 commented on #8598
I researched the error it's code related I'll fix it up quickly.

[2020-02-14 06:35] Showtim3 commented on #8597
Ok i have added that to the [doc](https://docs.google.com/document/d/1T3HyMU8cMvXY1tyzs801Zgf5oSxLqaHICUH_YZJa4JM/edit#). Nithesh, can you approve those changes?

[2020-02-14 07:11] Showtim3 opened #8637 "Error in console while playing audio for an exploration."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia, login and start playing fractions.
 2. Click on the audio bar and start playing the audio.
 3. See the error in the console.

**Screenshots**
![image](https://user-images.githubusercontent.com/30312043/74509294-20c01700-4f27-11ea-8ed9-41c7e02e4e65.png)

**Des

[2020-02-14 16:28] MNSDivya commented on #8606
Verified in Completed as well and could not see "Fractions" exploration.  I replayed the exploration partly too.
![WhatsApp Image 2020-02-14 at 9 54 53 PM (1)](https://user-images.githubusercontent.com/56336353/74549104-0e6cca00-4f75-11ea-8866-e4d4413854d7.jpeg)
![WhatsApp Image 2020-02-14 at 9 54 54 PM](https://user-images.githubusercontent.com/56336353/74549106-10368d80-4f75-11ea-9294-fd1c05a900

[2020-02-14 16:47] kevintab95 commented on #8606
Hm, this is quite strange. Thanks for verifying this @MNSDivya!

[2020-02-15 00:31] seanlip commented on #8597
I've approved them. Thanks @Showtim3 and @nadintamer! Closing this issue.

[2020-02-15 00:31] #8597 closed, assigned to nithusha21, Showtim3

[2020-02-15 09:46] rohitkatlaa commented on #8578
@aks681 I have trying to solve this problem but I am not sure why this problem is occurring so could help me start with this issue.
I was able to replicate the problem.

[2020-02-15 11:13] aks681 commented on #8578
I'm not entirely sure, but I know it has something to do with the fact that we fetch pretest questions before a story is started. So, the questions for these are selected from the prerequisite skills given for the chapter, and if prerequisite skills are not there at all for the chapter, it seems some GET request to the storage layer is affected. So, you could try that path?

[2020-02-15 14:15] bansalnitish opened #8645 "Reloading the roles tab in admin page gives error"
**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as admin
 2. Go to the admin page
 3. Go to the roles tab, you'll see a graph on the right side with no console errors.
 4. Refresh the page.

**Observed behavior**
No graph is visible and there is console error.

**Expected behavior**
Graph should be there with no console error.

**Screenshots**
![image](https://user-images.githubuserc

[2020-02-15 17:22] #8600 closed, assigned to DubeySandeep

[2020-02-15 17:23] #8598 closed, assigned to mzaman07

[2020-02-15 17:56] iamprayush commented on #8157
Closing this. Please reopen if the issue recurs.

[2020-02-15 19:26] vojtechjelinek opened #8650 "Add frontend tests for debouncer service"
The frontend tests for the debouncer service were flaky so we have removed them in #8649. Investigate the issue that was happening and readd the tests.

[2020-02-15 23:33] jameesjohn opened #8652 "Remove unnecessary required from App.ts"
Quite a  number of script imports in App.ts are not actually used there and needs to be removed.

[2020-02-16 03:14] rohitkatlaa commented on #8578
@aks681 Sure I will try that path.

[2020-02-16 03:56] iamprayush commented on #2969
Hey @kevintab95! Isn't this essentially the same as #8396?
Wouldn't implementing either one of these issues serve the purpose?

[2020-02-16 03:59] iamprayush commented on #3271
@kevintab95 [Ditto](https://github.com/oppia/oppia/issues/2969#issuecomment-586666033).

[2020-02-16 04:27] iamprayush commented on #1220
I checked and the validator exists which disallows duplicates. Closing for now. Please reopen if the issue recurs, thanks!

[2020-02-16 04:27] #1220 closed

[2020-02-16 04:42] nithusha21 commented on #8609
I don't think so. As Sandeep mentioned, there can be more than 1 of these tabs on the creator dashboard. And hence it is clickable. For example this is the screen on my dashboard.

![image](https://user-images.githubusercontent.com/11898234/74599254-dbc1ef00-50a4-11ea-9dc8-a96e53461889.png)

[2020-02-16 04:43] nithusha21 commented on #8609
So as I think this is expected, I shall close this issue. Thanks!

[2020-02-16 04:43] #8609 closed, assigned to nithusha21

[2020-02-16 04:46] nithusha21 commented on #8370
Hi @iamprayush sorry, I didn't look at my assigned issues, and missed this ping. So, a general entity would correspond to any "entity" which you can make suggestions to. Typically, explorations, skills, questions, etc. I believe we have 2 entities that we support right now. The function in question would need to be modified to handle any general entity, denoted by the "target_type" field in the su

[2020-02-16 04:49] nithusha21 commented on #8595
Sounds good (regarding removing it from the testing doc). Note: Once this issue is fixed, please make sure you notify either Chris/me and we will add this back to the testing journey.

[2020-02-16 04:56] Tejas2805 commented on #7176
Hi. I would like to work on `core/templates/dev/head/domain/story/StoryContentsObjectFactory.ts`.

Can it be assigned to me?

[2020-02-16 06:05] rohitkatlaa commented on #5436
@aks681 Can I take up this issue?

[2020-02-16 06:05] rohitkatlaa commented on #5254
@aks681 Can I take up this issue?

[2020-02-16 06:17] rohitkatlaa commented on #5254
@aks681 Can I work on this issue?

[2020-02-16 09:54] aks681 commented on #5254
Yup, in general feel free to assign yourself the issue!

[2020-02-16 10:20] #8645 closed, assigned to nobody

[2020-02-16 10:56] seanlip commented on #8157
Hi @iamprayush, could you please check one more thing -- we want to keep parity between the Android and web implementations. Is the code in the web implementation in line with the code in the Android implementation? If not, part of resolving this issue is to verify that the logic is the same in both cases (see the original comment in the thread).

[2020-02-16 10:58] seanlip commented on #2969
Yes, I think #8396 supersedes this. Closing.

[2020-02-16 10:58] #2969 closed

[2020-02-16 10:59] seanlip commented on #3271
Hi @iamprayush -- please don't use "Ditto" for linking between PRs. Better to repeat the comment here in full; use "Ditto" only if the reader can scroll up to see what you're referring to.

On checking this I think I agree that #8396 covers this, so let's close this one. Thanks!

[2020-02-16 10:59] #3271 closed

[2020-02-16 17:32] iamprayush commented on #8157
Hi @seanlip!
I compared both the implementations and logically they are both the same.
The only difference I saw was that the [7 digit check](https://github.com/oppia/oppia/issues/8157#issuecomment-575464667) is not implemented in the web version, so perhaps the scope of this issue ought to be changed to adding that particular check.

[2020-02-17 00:37] seanlip commented on #8157
Yes, I agree, that sounds good to me. Thanks!

Would you like to take this up?

[2020-02-17 00:57] brianrodri opened #8660 "Check for notification icon in improvements tab e2e tests"
After #7865, the improvements tab shows a notification icon with the number of outstanding tasks remaining:

![image](https://user-images.githubusercontent.com/5094060/74616597-ca093780-50f6-11ea-848f-e38540234f73.png)

Although we check for this icon in one of our [QA critical user journeys](https://docs.google.com/document/d/1T3HyMU8cMvXY1tyzs801Zgf5oSxLqaHICUH_YZJa4JM/edit#heading=h.hjcxdc93ovb

[2020-02-17 02:51] #6242 closed, assigned to nobody

[2020-02-17 09:38] iamprayush commented on #8157
Sure! I'll work on this.

[2020-02-17 10:33] vojtechjelinek commented on #8342
@kevintab95 Do you think you can prioritize this? I think it would make sense if you did this since you already have some experience working with Cropper but if you don't have time just unassign yourself, please.

[2020-02-17 10:38] vojtechjelinek opened #8662 "Replace ng-joyride with ngx-joyride"
We use `ng-joyride` in the exploration editor, in the editor tab and the translation tab. The replacement should be quite straight forward, just mimic the tutorials that we have with the ones implemented by `ngx-joyride`.

The `ngx-joyride` should be loaded by webpack only in the exploration editor.

[2020-02-17 11:44] seanlip commented on #8157
Sounds good, thanks!

[2020-02-17 13:49] rohitkatlaa commented on #5436
@aks681 @seanlip  When I fetch all the related questions and then randomly select the subset, there is no use for cursor to be used. So should I remove it everywhere or return None?

[2020-02-17 15:42] FlorinBalint commented on #6271
I can take the _'update_interaction_answer_groups'_ part too.

I was looking at other good starter issues that I could contribute to, I'll need to learn some JS/Angular/Web stuff.

[2020-02-17 16:03] safwan20 commented on #8601
@U8NWXD  can I work on this?

[2020-02-17 16:15] safwan20 opened #8665 "audio progress bar is not shown in some exploration."
**Describe the bug**
the audio progress bar is not shown in some exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/explore/2EsrichXjAsX?collection_id=wqCTKpKA0LBe
 2. Click on the play button

**Observed behavior**
audio progress bar is not there.

**Expected behavior**
audio progress bar must show

**Screenshots**
it is not shown in this exploration

[2020-02-17 16:38] Showtim3 commented on #8603
Ok so I can reproduce this while making a suggestion, thanks @U8NWXD
![image](https://user-images.githubusercontent.com/30312043/74671859-0a89b380-51d2-11ea-96fd-e94830c8c29e.png)

[2020-02-17 17:26] kevintab95 commented on #8342
Hi @vojtechjelinek, I'm currently working on #8498. Once that is done I'll start on this. Thanks!

[2020-02-17 18:10] kevintab95 opened #8666 "tree.slice is not a function"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2020-02-17 19:03] kevintab95 opened #8667 "Cannot read property 'getExplorationId' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-02-17 19:48] kevintab95 commented on #6271
Hi @FlorinBalint, I've assigned "update_interaction_answer_groups" to you.

[2020-02-17 21:00] Showtim3 commented on #8665
I believe this is because the first screenshot that you attached is playing the autogenerated language(hence no audio bar) whereas the second one is playing the recorded audio(and hence the audio bar). @kevintab95 Can you confirm? If yes, let's close this issue.

[2020-02-17 21:09] Showtim3 opened #8668 "All the Frontend services should be documented with jsdoc."
**This starter issue is currently on hold because we do not have the capacity to support new contributors working on it.**

--------------

We aim to document all the files listed below.

Each of the below-listed files should have a file overview signifying the purpose of the file,
and each function should have its meaning, arguments and return statement documented with the help of jsdoc decorator

[2020-02-18 05:24] kevintab95 commented on #8665
Yep, that's right. I just verified. Thanks, @Showtim3! :)

[2020-02-18 05:24] #8665 closed, assigned to nobody

[2020-02-18 07:06] seanlip commented on #5436
Don't know offhand. What do you think, and why?

[2020-02-18 09:50] iamprayush commented on #5296
Things that need to be done in order to close this issue.
- [ ] Prevent usage of ['=', '<', '>'] in math expression inputs. (#8573)
- [x] Edit default exploration to prevent use of ['=', '<', '>']. (#8648)
- [ ] Audit all existing explorations for use of ['=', '<', '>'] in math expression input rules. If any are found, devise a strategy to fix them. (#8669)

[2020-02-18 10:25] Showtim3 commented on #8603
I am taking this up..

[2020-02-18 10:55] bansalnitish commented on #8015
Hi @hmtj99, any progress on the issue?

Please let us know if you need any help.

[2020-02-18 10:59] bansalnitish commented on #8472
Any progress @alphaQ1611, @chirag-wadhwa and @chauhanparth210 on the respective parts assigned to you?

[2020-02-18 12:59] rohitkatlaa commented on #5436
@seanlip Cursor is used to fetch from the place you stopped last time. But If I return random results there is no use of cursor because I am going to fetch every question every time. So I just wanted to know whether should I just remove it everywhere or just return None for now.

[2020-02-18 14:55] abhayraghuwanshi commented on #8038
@nishantwrp can you assign the PrChangelog to  #8674

[2020-02-18 15:33] Vinit-Dantkale commented on #6271
Hi, I would like to take up **update_explanation**

[2020-02-18 17:21] rohitkatlaa commented on #3795
@kevinlee12 I would like to work on this issue. Can we use the following effect for the cards of the collection. The detailed description can be entered when we create the collection or in the settings tab of the collection.

![hover_effect](https://user-images.githubusercontent.com/42460632/74760683-c87b7300-52a0-11ea-938f-49eb3c4b9266.gif)

[2020-02-18 20:46] abhayraghuwanshi commented on #8038
@nishantwrp  can you assign me the  core/templates/dev/head/components/entity-creation-services/topic-creation.service.ts

[2020-02-18 20:56] abhayraghuwanshi commented on #8472
@tyleri could you assign me the skill-rights-backend-api.service.ts

[2020-02-18 21:03] seanlip opened #8676 "e2e_classroom_page CircleCI test is flaky"
The e2e classroom page CircleCI test is flaky on multiple PRs ([example](https://circleci.com/gh/oppia/oppia/35686)). The log is included below. We need to debug this and find a way to make it more robust. (See also #8677.)

One thought: perhaps there is a "retry" mechanism in CircleCI that we can use, similar to travis_retry? /cc @kevinlee12 @ankita240796 @kevintab95

[code]

[2020-02-18 21:06] seanlip opened #8677 "e2e_topic_and_story_editor CircleCI test is flaky"
The e2e topic-and-story-editor CircleCI test is flaky on multiple PRs ([example](https://circleci.com/gh/oppia/oppia/35688)). The log is included below. We need to debug this and find a way to make it more robust. See also #8676.

Again, perhaps the retry mechanism mentioned in #8676 might be useful here (if the flakiness is natural)? /cc @kevinlee12 @ankita240796 @kevintab95

[code]

[2020-02-19 03:16] kevinlee12 commented on #7613
Going to close this since we're now advocating using Oppia on Windows directly.

[2020-02-19 03:16] #7613 closed, assigned to nobody

[2020-02-19 03:17] kevinlee12 commented on #8111
This doesn't appear to be an issue anymore, closing.

[2020-02-19 03:17] #8111 closed, assigned to nobody

[2020-02-19 03:19] kevinlee12 commented on #8128
@Showtim3 can you remind me what happened to this PR?

[2020-02-19 03:19] kevinlee12 commented on #8223
Closing since it's no longer an issue.

[2020-02-19 03:19] #8223 closed, assigned to nobody

[2020-02-19 03:21] kevinlee12 commented on #8470
@Showtim3 do you know the status of this?

[2020-02-19 03:21] kevinlee12 commented on #8570
@ZaidBJ is this still happening for you?

[2020-02-19 03:23] kevinlee12 commented on #3795
@aks681 might be able to chime in here.

[2020-02-19 05:17] DubeySandeep commented on #8606
Few updates from the release team on this issue:
1. We aren't able to reproduce this issue (As of now)?
2. It looks like a user-specific issue and we need to take a detailed look for this issue. (It's not blocking any user journey.)
Removing this from "Blocking bugs" as per discussion with the release team. This issue will still be open for further investigation.

[2020-02-19 08:31] seanlip commented on #5436
Sorry, let me rephrase. I understand the context, but I would like to suggest that you practice making a technical design decision like this (since this is a skill you will need if you wanted to take on larger projects in the future).

What is your analysis of the issue and which route would you recommend going down, and why? We can then give you feedback on your reasoning and whether you missed a

[2020-02-19 08:44] nishantwrp opened #8678 "Update the cache messages after accepting or rejecting the suggestion"
Update the cache messages after accepting or rejecting the suggestion instead of fetching it everytime. Refer #8624

[2020-02-19 09:07] DubeySandeep opened #8679 "The error message for interaction should be internationalized."
Currently, we have a few constants in the objects-domain.constants.ts (see the linked code below), which stores the error messages for the interactions. As these messages are learner facing text/message there should be a mapping from error code to i18n code so that the error strings can be internationalized.

https://github.com/oppia/oppia/blob/7e084ba148845c54760cafb0cc1859a9e897b991/core/templat

[2020-02-19 09:17] #8534 closed, assigned to kevintab95, marianadasilvadev

[2020-02-19 11:48] bansalnitish commented on #8169
Hi @DubeySandeep, could you please take a look at my this comment and let me know if anything else is needed from my side: https://github.com/oppia/oppia/pull/8167#issuecomment-564938899?

[2020-02-19 12:00] nishantwrp opened #8680 "E2E_TESTS_CORE_EDITOR_AND_PLAYER_FEATURES is flaky"
![Screenshot_20200219_172626](https://user-images.githubusercontent.com/36989112/74832528-86ecd580-533d-11ea-9892-f316924a5c6d.png)

[2020-02-19 12:20] nishantwrp commented on #8038
@abhayraghuwanshi You got it!

[2020-02-19 13:07] Danialp87 opened #8681 "Small fonts"
**Describe the bug**
While completing a lesson of Fractions, I noticed a small and difficult to read font on "Question 7". The number of "⅖" is not readable on PC. I did not see such a small font on prior cards. Please see the picture attached.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Fractions' lesson [https://www.oppia.org/collection/4UgTQUc1tala](url)
 2. Click on 'Recogniz