[2019-02-11 13:40] JeeBoomBoi commented on #6219
Yeah @YashJipkate I understood that it would affect the overall UI, (The submit button and stay anonymous size changes the experience when font size is increased). I did what @anubhavsinha98 suggested me and it works perfectly now.

[2019-02-11 13:42] JeeBoomBoi commented on #6219
I made a minor tweak in the line-height of the text in the html file itself.
![screenshot from 2019-02-11 19-10-49](https://user-images.githubusercontent.com/43813343/52566839-ca5e5b00-2e30-11e9-8c4e-944ead5070bb.png)

[2019-02-11 13:44] YashJipkate commented on #6219
Yeah, @jeeb0xical Looks good to me! Please make a PR for the same if @anubhavsinha98 is satisfied with the change.

[2019-02-11 15:12] #5465 closed, assigned to YashJipkate

[2019-02-11 16:43] abhaygupta97 commented on #5530
Hi! I would like to work on this issue.

[2019-02-11 17:02] brianrodri commented on #6242
Hey @CryTime, please follow the instructions at [our Wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first!

[2019-02-11 17:49] yudhik11 commented on #5002
Hi @vojtechjelinek , I want to work on the `GCS_RESOURCE_BUCKET_NAME` variable.
Please assign me the same.
Thanks

[2019-02-11 19:37] seanlip commented on #5002
Hi @yudhik11, welcome to Oppia! Before taking up an issue, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to come back and let us know here, and you can pick up a file accordingly. Thanks!

[2019-02-12 07:37] DubeySandeep opened #6248 "Do not allow guest users to drop audio files in translations tab."
**Describe the bug**
A user can drag and drop audio files in the translation tab even they don't have the rights to translate the exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create Exploration.
 2.  Go to the translation tab
 3. Drop an audio file in the state translation area.

**Observed behavior**
One can drop an audio file and it fails to upload in the backend.

**Expec

[2019-02-12 07:43] mzaman07 commented on #6248
From the inital looks a prompt like a warning modal or tooltip would be a good idea.

[2019-02-12 07:44] nishikeshKardak commented on #6240
Can I working on it ?

[2019-02-12 07:52] DubeySandeep commented on #6248
@mzaman07, I think we can do two things over here:
1. Change the message in the drop area and do not accept the dropped files.
2. Allow the user to drop files but after dropping files we use to show a modal for uploading files we can show messages depending on scenarios and disable the Upload button.

I would prefer the first one, let me know if you have any suggestion?

[2019-02-12 07:55] DubeySandeep commented on #6240
Hi @nishikeshKardak, Yeah you can work on a part of this issue. let me know which part you would fix so that I can go ahead and assign you? Thanks! :)

[2019-02-12 08:09] mzaman07 commented on #6248
So for option 1 we would block the drop area to prevent accepting of the files in addition to showing a message.

[2019-02-12 08:46] nithusha21 commented on #6082
Yeah, probably was some caching issue. I agree that this works for me now!

[2019-02-12 08:46] #6082 closed, assigned to seanlip

[2019-02-12 08:53] nithusha21 commented on #6201
I am not sure this would be necessary. It feels like something we would like to do in the long run, when the amount of suggestions we obtain are large enough. At the moment, I am not too concerned about every person being able to suggest something.

Also, we have a framework built (not yet enabled), for having suggestion review also crowd sourced, where we have something very similar built (Based

[2019-02-12 08:53] #6201 closed, assigned to nobody

[2019-02-12 09:01] nithusha21 commented on #3677
Hi @DubeySandeep which PR? Can you link the issue in the PR? Also, any updates from last week? Thanks!

[2019-02-12 09:07] nithusha21 commented on #6232
Just adding a few notes after discussion with @seanlip. This issue is not a feature request, but a bug report. The situation occurs and creators would lose their work, which isn't really great!

Hence, adding to the bug-fixing team tasks.

[2019-02-12 09:16] nishikeshKardak commented on #6240
Hey @DubeySandeep Thanks for quick reply. I'm new to writing test cases. Now I want to working on creating, editing and deleting chapters. Please assign me this, after completing this tests I will work on further tests. Thank you! :)

[2019-02-12 12:04] bansalnitish commented on #6128
Hi @Dilshaad21, We need to fix this for current release (since this is blocking bug). Any updates on this one?

[2019-02-12 12:08] bansalnitish commented on #6210
Hi @aks681, any updates on this ? We need to fix this for current release.

[2019-02-12 12:37] bansalnitish commented on #6223
Hi @geetchoudhary, I just tried to reproduce this issue. First thing, this is reproducible on main site as well. Second, if we make screen size larger (such that content becomes vertically aligned instead of horizontally aligned), the continue button window is lost completely.

Steps to reproduce:
1. Login to oppia.
2. Create an interaction image region and highlight a region.
3. Add a new card, w

[2019-02-12 13:47] vojtechjelinek commented on #6226
@bansalnitish Can you respond, please?

[2019-02-12 15:48] geetchoudhary commented on #6223
@bansalnitish , As you said the issue is reproducible on the main site. I observed the issue is not reproducible until the exploration is published [Here is the published exploration](https://www.oppia.org/explore/LawvZrrnZIq3), If we preview the exploration from the creator dashboard the page is scrollable like in chrome.

**Screenshots**

While Previewing
<img width="1440" alt="screenshot 2019-0

[2019-02-12 16:07] bansalnitish commented on #6223
Hi @geetchoudhary, I am able to reproduce this issue on firefox and in the preview mode as well (i.e without publishing). Also, it sounds a bit weird that it not reproducible in the preview mode but reproducible when published.

Could you please try reproducing by adding the image region interaction and try it with a larger image ? I was able to reproduce it using this. Thanks!

[2019-02-12 16:11] bansalnitish commented on #6226
Hi @vojtechjelinek, Sorry I just missed this one.

I don't remember as to why I did this. We can add these to place where they are actually needed.

EDIT: I remember the code for textangular was in this file itself, so may be that could be the reason I did this.

[2019-02-12 16:40] ankita240796 opened #6251 "Add typescript installation and basic configuration"
- Typescript installation
- Installation of typings for node modules which we use
- Initial tsconfig.json file

[2019-02-12 16:42] aks681 commented on #6210
Yeah, I am doing it. Will create PR today.

[2019-02-12 16:43] ankita240796 opened #6252 "Python script to rename all .js files to .ts files"
For typescript migration, we need a python script which renames all `.js` files to `.ts` files. We can remove the script once the rename process is complete.

Should we add a separate script or create an utility function in `utils.py`- @seanlip what do you suggest?

[2019-02-12 16:45] ankita240796 opened #6254 "Move all directives, services and filters in a separate file of their own"
Implement [rule of 1](https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#single-responsibility) for angular js: each component should be in a separate file.

[2019-02-12 18:11] seanlip commented on #6252
Separate script in scripts/. Stuff in utils.py is meant for actually running in the main codebase at runtime; stuff in scripts/ are developer tools.

[2019-02-12 18:28] nikhilmudholkar commented on #5134
@YashJipkate @1995YogeshSharma  I have written a sample test for the file. Can you please verify and give your reviews so that I can complete writing test cases for remaining functions as well.
[function](https://i.imgur.com/qMEorcL.png)
[success testcase](https://i.imgur.com/ofwWSGz.png)
[exception test case](https://i.imgur.com/iDEQ1to.png)

I have manually tested these testcases by running `scr

[2019-02-12 18:50] YashJipkate opened #6257 "Add a check to ensure each file contains exactly one directive/service/filter."
A check needs to be added to ensure each file contains exactly one directive/service/filter as this is required for migration to Angular. This issue keeps a track of it.

[2019-02-13 05:00] varun-tandon commented on #5134
Can I please have core.platform.models?

[2019-02-13 05:14] YashJipkate commented on #5134
@varun-tandon Assigned! You can work on it now :)

[2019-02-13 05:27] ulloaluis commented on #5134
I'd like to claim schema_utils please :)

[2019-02-13 05:33] YashJipkate commented on #5134
@ulloaluis Go ahead! Assigned to you.

[2019-02-13 05:42] YashJipkate commented on #5134
@nikhilmudholkar Please prefer providing the link to your fork where your changes reside... It helps in analysing the code better as we can look at the other parts of the file that are used by your code at the same time.
Thanks.

[2019-02-13 06:01] gracehu0405 commented on #5134
Could I please have core.storage.collection.gae_models?

[2019-02-13 06:12] ujjwalgulecha commented on #4057
@DubeySandeep @ankita240796  @vinitamurthi can I work on `PlayerPositionService.js` ?

[2019-02-13 06:18] YashJipkate commented on #5134
@gracehu0405 Assigned to you!

[2019-02-13 06:24] apb7 commented on #6257
@YashJipkate, duplicate of #5426 which already has a PR, #6202. Therefore, closing. Thanks!

[2019-02-13 06:24] #6257 closed, assigned to YashJipkate

[2019-02-13 06:30] YashJipkate commented on #6257
Oh I missed that! Thanks @apb7 for the check.

[2019-02-13 07:00] bansalnitish commented on #6128
De-assigning @Dilshaad21 and assigning @YashJipkate.

[2019-02-13 07:03] ankita240796 commented on #4057
Sure @ujjwalgulecha, please go ahead. I have assigned you to `PlayerPositionService.js`!

[2019-02-13 07:05] nikhilmudholkar commented on #5134
@YashJipkate
https://github.com/nikhilmudholkar/oppia/commit/e444ebde54fbe856603837c245926d033cd87f0e
LInk to the commit. Can you please give your inputs?
Thanks a lot

[2019-02-13 10:31] anubhavsinha98 commented on #6252
Hey @ankita240796, are you working on this?

[2019-02-13 10:48] ankita240796 commented on #6252
Yes @anubhavsinha98, I am working on this.

[2019-02-13 12:09] bansalnitish commented on #6200
Hi @KhalidRmb, any updates here?

[2019-02-13 12:12] siddhantkhandelwal commented on #5134
Can I work on core.domain.email_manager?

[2019-02-13 12:45] apb7 commented on #5134
Hi @siddhantkhandelwal, assigned you. Go ahead, thanks!

[2019-02-13 14:24] lilithxxx commented on #6254
Hi @ankita240796 I was already working on all the files in PR #6202. Won't this issue create a conflict in such a case? Thanks

[2019-02-13 15:20] CryTime commented on #6242
Hi @brianrodri, i have followed the instructions on the wiki, can i work in this issue ?

[2019-02-13 16:22] ankita240796 commented on #6254
Hi @lilithxxx, would it be better to allow new contributors to work on some of the files as well since it will speed up the process. You can mark those files on which you are working and leave the others as open.

We need this to be completed by February end. If you think you can accomplish that, feel free to assign the issue to yourself and remove the good first issue label.

I think it is better

[2019-02-13 16:40] gurungrahul2 commented on #6238
@vojtechjelinek Why do I feel all files are used in more than one or two pages in header_js_libs.html

[2019-02-13 17:37] geetchoudhary commented on #6223
I tried reproducing this with the image region interaction card but was not able to reproduce this.

**Screenshots**
<img width="1440" alt="screenshot 2019-02-13 at 11 01 45 pm" src="https://user-images.githubusercontent.com/35570715/52731426-b7d85300-2fe3-11e9-9696-dd7f5ab26005.png">

I am using a fairly large image but I don't know why is this not reproducible.

[2019-02-13 17:49] bansalnitish commented on #6206
Hi @seanlip, I was able to reproduce the issue but I was not able to get the console error. Is there any specific step which produces the console error?

[2019-02-13 18:35] lilithxxx commented on #6254
@ankita240796 I completed most of the files except the one in the `extensions/` folder. Maybe you can edit the issue to include the files in `extensions/` folder? These are the files which currently needs to be work with:
[code]

[2019-02-13 18:42] #6251 closed, assigned to ankita240796

[2019-02-13 18:42] seanlip commented on #6206
Hm, I think it's possible that the console error is unrelated, actually. I'll let you know if it comes up again but I think it might be a separate issue. (Not sure of the exact repro steps, so let's leave it be for now.)

Thanks!

[2019-02-13 18:44] bansalnitish commented on #6206
Yes, let me know if it comes again. Thanks!

[2019-02-13 19:42] ankita240796 commented on #6254
Hi @lilithxxx, sure I will make the change in the issue description.

Also, in your PR you have disabled the lint check for `directives.js` (https://github.com/oppia/oppia/pull/6202/files#diff-3093ff31fd2fc587c0d99fca7d3afdf0R1477) but I think we will need a refactor here as well to implement rule of 1. So, you can include it in the check and we can add the file to the list in the issue descriptio

[2019-02-13 19:47] lilithxxx commented on #6254
Sure @ankita240796 I will include it in the check. Thanks!

[2019-02-13 19:49] ankita240796 commented on #6254
Thanks @lilithxxx!

[2019-02-13 21:59] mighty-phoenix opened #6262 "The help tooltip text is not fully visible"
**Description of the bug**
The help tooltip text is not fully visible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in with a new user.
 2. Click on 'Create' to create an exploration
 3. Click on 'NOPE, TAKE ME TO THE EDITOR'
 4. Observe bug.

**Observed behavior**
The help tooltip text is not fully visible.

**Expected behavior**
The help tooltip text should be fully visible.

**Sc

[2019-02-13 22:38] brianrodri commented on #6242
Great, thanks! It’s all yours :)

On Wed, Feb 13, 2019 at 10:20 CryTime <notifications@github.com> wrote:

[2019-02-13 22:54] christopherkade commented on #6262
For me, the current help tooltip is the following:

<img width="113" alt="screenshot 2019-02-13 at 23 51 04" src="https://user-images.githubusercontent.com/15229355/52749754-697a8280-2fea-11e9-987a-4914c3141ec5.png">

Meaning the issue probably does not apply anymore.

[2019-02-13 23:02] anubhavsinha98 commented on #6240
Hi @nishikeshKardak, assigned you. Go ahead!

[2019-02-13 23:10] mighty-phoenix commented on #6262
Hey @christopherkade :)
Firstly, thanks for looking into the issue.
You misunderstood the issue. Kindly follow the exact steps to reproduce the issue, and you will understand what the actual issue is. A time bound tooltip shows up after completing 3rd step in the steps to reproduce.(See the screenshot for further assistance)
Thanks.

[2019-02-14 04:00] nishikeshKardak commented on #6240
Thanks @anubhavsinha98 :)

[2019-02-14 07:41] #6128 closed, assigned to YashJipkate

[2019-02-14 08:23] christopherkade commented on #6262
Oh, sorry, I wasn't sure it concerned the automatic tooltip ! You're right, the bug is present, I'd be happy to look into it. 😄

[2019-02-14 13:29] NITHIN999 commented on #6262
I found the bug, @rakshitkumarcse do you want me to decrease the width of "To get help in the future, click here" or move it to the left.

[2019-02-14 13:31] mighty-phoenix commented on #6262
Hey @NITHIN999
I think a good solution here would be to decrease the width of the tooltip such that the text is shown in 2 lines. :)
Thanks.

[2019-02-14 13:42] NITHIN999 commented on #6262
I've moved it to the left and everything is looking fine. Do I need to follow any format while sending PR ?

[2019-02-14 13:54] mighty-phoenix commented on #6262
@NITHIN999 Please do not shift the tooltip. This will distort the general format. Also, kindly go through the [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) before contributing.

[2019-02-14 15:58] NITHIN999 commented on #6262
@rakshitkumarcse in that pop-over the size is not relative. So, we cant use word-wrap or overflow-wrap. If we change size positioning to relative this may make changes in other functions.

[2019-02-14 16:01] mighty-phoenix commented on #6262
@NITHIN999 I would suggest you to kindly research in this regard.(It is always a good practice to do research before reaching such conclusions). :)
If you still are not able to come up with a solution, let me know. I will help you out.
Thanks.

[2019-02-14 16:51] rahgurung commented on #6238
@vojtechjelinek I found ckeditor.js is used in many files, removing it give error even in splash page.

[2019-02-14 17:10] vojtechjelinek commented on #6238
That's because of ckeditor.js is used in [app.js:110](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js#L110). So you can skip ckeditor.js for now. But later we should move [app.js:110](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js#L110) only to places where CKEditor is needed.

[2019-02-14 19:50] nithusha21 commented on #5950
I haven't looked into this yet. I'll deassign myself, and take this up later.

[2019-02-15 07:41] nishikeshKardak commented on #6262
Hey @rakshitkumarcse  for me the tooltip is also same .

![capture6](https://user-images.githubusercontent.com/39300717/52841733-0c361c80-3123-11e9-9104-30cc81386c14.JPG)

[2019-02-15 07:43] NITHIN999 commented on #6262
I'm working on this and I'll submit my patch soon :)

Regards,

M Nithin Reddy

On Fri 15 Feb, 2019, 1:11 PM Nishikesh Kardak <notifications@github.com
wrote:

[2019-02-15 07:47] mighty-phoenix commented on #6262
@nishikeshKardak Kindly see [this](https://github.com/oppia/oppia/issues/6262#issuecomment-463413596) comment.

[2019-02-15 09:21] #6244 closed, assigned to abhaygupta97

[2019-02-15 10:16] nishikeshKardak commented on #6262
Hey @rakshitkumarcse I can't reproduce this issue. I can't find 'NOPE, TAKE ME TO THE EDITOR' on the page. Can you please help me to reproduce it.

[2019-02-15 10:47] mighty-phoenix commented on #6262
@nishikeshKardak Sure. :)
It is happening because probably you have started creating from the user before. Kindly create a new user, click create. You will see the first time exploration creator tutorial.
Thanks.

[2019-02-15 11:54] nishikeshKardak commented on #6262
Thanks @rakshitkumarcse :) Now I'm able to reproduce this issue.

[2019-02-15 13:39] NirmalKumarJoshi opened #6269 "Feature Request: Developing a browser extension for Oppia."
**Is your feature request related to a problem? Please describe.**
Oppia doesn't have a browser extension. The user has to go into the site for following Oppia on social media and also for browsing courses.
**Describe the solution you'd like**
I want to develop a Chrome and Firefox browser extension for fixing this problem. Through extension the user can directly follow Oppia, browse lessons witho

[2019-02-15 18:29] DubeySandeep commented on #6269
Hi @NirmalKumarJoshi, I don't think there is any such requirement of browser extensions as of now! FYI, we are thinking of expanding Oppia from web app to mobile app but we don't see any usecase of having a browser extension. I'm closing this issue.

I you want to contribute code to oppia you can follow instructions provided in [the wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-

[2019-02-15 18:29] #6269 closed, assigned to nobody

[2019-02-15 18:39] DubeySandeep commented on #6262
Hi @NITHIN999, I think you haven't signed the CLA yet, would you mind going through the wiki page (already asked earlier by  @rakshitkumarcse over [here](https://github.com/oppia/oppia/issues/6262#issuecomment-463634916)) and follow the instructions to get started? Once it's done you can start working on it. Thanks!

[2019-02-15 19:15] DubeySandeep opened #6271 "Refactor: Updating subparts of activity to accept object as a parameter instead of dict."
We expect a domain object should only accept dict for the class method `from_dict()` and we should avoid accepting dict for updating subparts of the object. In the following section we have curated a list of methods that needs to be refactored:

**Subtopic**: @RafayGhafoor
- [x] update_page_contents_html
- [x] update_page_contents_audio

**State**:
- [x] update_content @RafayGhafoor
- [x] update_p

[2019-02-16 03:24] mzaman07 commented on #5784
Should be merged right now, so one can go ahead and add it, don't forget to test it.

[2019-02-16 06:00] mzaman07 commented on #5784
Is it ok that I use the latest master branch in the manifest? The reason for that is that they haven't updated the releases yet.

[2019-02-16 07:52] seanlip commented on #5784
Try using a specific commit hash (I think we do that for some of the dependencies). Would that work?

[2019-02-16 11:39] geetchoudhary opened #6274 "The profile menu should dropdown when the user hovers over it"
**Describe the bug**
To have a consistent behavior of the top navigation bar, Profile Menu should drop down automatically when the user hovers over it, like that of the about tab.
The Profile Menu dropdowns automatically on the Admin Page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in
 2. Hover over the Navigation Bar

**Observed behavior**
The Profile Menu does not dropdown.

**E

[2019-02-16 11:40] geetchoudhary commented on #6274
/cc @vibhor98 , What do you think?

[2019-02-16 13:04] NITHIN999 commented on #6262
@DubeySandeep completed both CLA and Survey. :)

[2019-02-16 13:10] NITHIN999 commented on #6262
@rakshitkumarcse I've added those two lines in the style of popover but it's still not working can you help me with this. :)     Thanks!
 overflow: relative;
 overflow-wrap: break-word;

[2019-02-16 13:12] mighty-phoenix commented on #6262
@NITHIN999 Have you mentioned a fixed width for the tooltip?
Without that, the above won't work.

[2019-02-16 13:50] rahgurung commented on #6238
Im feeling stuck, can you further give me code pointers.

[2019-02-16 14:29] NITHIN999 commented on #6262
@rakshitkumarcse can you help me out where to give the fixed width for the tooltip. :)

[2019-02-16 14:33] mighty-phoenix commented on #6262
@NITHIN999 If I would solve the issue, I would have created a new class for that tooltip if a common class was used for all tooltips, and provided a fixed width according to the appearance I wanted.
Hope this helps.
Thanks.
Also, before asking such things, you can always try searching such things on google. This will help you learn better, and will help you become better at being a developer. :)

[2019-02-16 15:15] vibhor98 commented on #6274
Hi @geetchoudhary, thanks for filing the issue! I don't have strong opinion in this case. But for consistency, we may consider hovering of the profile menu. However, I'm concerned about smaller screens since hovering doesn't work on mobile devices. Can you please check the existing behaviour (in place of hovering) on the mobile device? Thanks!

[2019-02-16 15:59] #6252 closed, assigned to ankita240796

[2019-02-16 16:29] geetchoudhary commented on #6274
On mobile devices, we are having a button which when clicked brings down the menu.
**Screenshots**

<img width="260" alt="screenshot 2019-02-16 at 9 56 10 pm" src="https://user-images.githubusercontent.com/35570715/52902390-07ae5880-3236-11e9-9eac-86603b3d43fd.png">

<img width="260" alt="screenshot 2019-02-16 at 9 56 18 pm" src="https://user-images.githubusercontent.com/35570715/52902392-0c730c80

[2019-02-16 16:47] geetchoudhary commented on #6274
Hi @vibhor98, I also suggest moving the common code for hovering over `aboutMenu`, `profileMenu` on both admin and main page to the `NavigationService.js`.

[2019-02-16 16:48] apb7 opened #6276 "Lint check to ensure a single space after yield keyword in python"
A lint check needs to be implemented to ensure there is a single space after the `yield` keyword in python. All corresponding fixes (if any) should be made before or in the same PR as the check. Please see this for reference: https://github.com/oppia/oppia/pull/6249#discussion_r257108069.

[2019-02-16 17:01] nishikeshKardak commented on #6271
Hey @DubeySandeep  I want to working on this issue. Can I??

[2019-02-16 19:28] import-keshav opened #6278 "Audio interaction is not loading."
****Steps** to reproduce:**

- Create an exploration.
- Add audio to interaction.
Adding an audio interaction page is not loading.
![loading](https://user-images.githubusercontent.com/34139754/52904224-0ccbd180-324f-11e9-9fea-436aeefdfa2c.png).
**It just goes in an infinite loop and shows loading.**

[2019-02-16 19:33] DubeySandeep commented on #6278
Hi @import-keshav, I'm unable to reproduce this issue, can you please add more details?

Also, what do you mean by "* Add audio to interaction."?

[2019-02-16 19:36] import-keshav commented on #6278
Sir when we want to add our audio, then we click on audio button to record audio.
Then this page opens
![screenshot from 2019-02-17 01-05-28](https://user-images.githubusercontent.com/34139754/52904320-39341d80-3250-11e9-8b5f-e577c4cc66ca.png)

But this page is not opening.
![screenshot from 2019-02-17 00-52-21](https://user-images.githubusercontent.com/34139754/52904325-4cdf8400-3250-11e9-9556-9c

[2019-02-16 19:38] import-keshav commented on #6278
Sir please update the develop branch and then check.
Maybe it only occurs to me only.I have checked in one branch which is behind develop by many commits and all works fine.

[2019-02-16 19:45] DubeySandeep commented on #6278
@import-keshav, Can you please add details about the browser and check console and add error log (if you see any error.)?

In general, try using the Bug report template when creating an issue.

Also, I tried reproducing this on Chrome and Firefox but cannot reproduce. have you made any changes to the new exploration through the editor tab?

[2019-02-16 19:56] import-keshav commented on #6278
Sorri, but all works fine.
I don't know whats happening but my page is not loading.
Now it works
thanks

[2019-02-16 20:05] DubeySandeep commented on #6278
@import-keshav, Do let us know if you'll be able to reproduce it again. (this is something we don't expect to happen at all!)
Thanks!

[2019-02-16 22:21] nikhilmudholkar commented on #5134
I would like to work on core.domain.param_domain.
Just a small doubt. Why the coverage percentages are different here from the ones we get while running the tests locally? Locally param_domain shows coverage of 41% while here it's 93%?

[2019-02-17 05:38] DubeySandeep commented on #5567
@aks681, can this be marked as a "good first issue"?

[2019-02-17 05:45] #6233 closed, assigned to anubhavsinha98

[2019-02-17 05:51] nithusha21 commented on #5918
The initial idea as stated here, isn't going to be implemented, an art specific dashboard will be implemented (possibly as part of a GSoC project).

[2019-02-17 05:51] #5918 closed, assigned to nobody

[2019-02-17 05:52] nithusha21 commented on #5917
This will be offered as a part of a GSoC project.

[2019-02-17 05:52] #5917 closed, assigned to nobody

[2019-02-17 05:58] nithusha21 commented on #5820
As a "fix" you can try this https://stackoverflow.com/a/40857561. It is not something I would recommend to do, as it disables all SSL certificate validation. You could set this on only one terminal, and use that for running Oppia.

[2019-02-17 05:58] #5820 closed, assigned to nobody

[2019-02-17 06:31] seanlip commented on #6174
HI @anubhavsinha98, there aren't known steps -- this is a server error that came up in production. I think it's because some older browsers don't support Promise, so I think your fix is correct. I've submitted a PR for this at #6281.

[2019-02-17 06:50] apb7 opened #6282 "Run front-end tests in pre-push hook only if changes are made in JS files"
The pre-push hook currently runs front-end tests irrespective of whether changes are made in JS files. Ideally, we should run front-end tests only if changes are made to JS files.
Some changes need to be made around [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_push_hook.py#L329).
This issue keeps track of the same.

[2019-02-17 08:25] DubeySandeep commented on #4371
@nithusha21 & @vibhor98, this issue is similar to #5784 and we have a PR (#6280) to fix this issue will it be possible for Bugfixing team or QA team to test this in multiple browsers?

[2019-02-17 09:10] seanlip commented on #6282
/cc @ezl-13 @varun-tandon Just a heads-up that this is being worked on!

[2019-02-17 12:39] anmolshkl opened #6285 "Issue while selecting an answer in the feedback tab for multiple-choice answer"
When selecting the answer in the drop-down menu in the editor for which we want to provide feedback, it is impossible to select the answer unless you click on the text instead of the highlighted region when hovering over the answer.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to an exploration, add interaction with multiple choice answer, add a few choices with just numbers.
 2. Cli

[2019-02-17 16:11] aks681 commented on #5894
Closed by #5920

[2019-02-17 16:11] #5894 closed, assigned to nobody

[2019-02-17 19:30] nithusha21 commented on #6194
@seanlip @DubeySandeep just checking in... Isn't this issue fixed?

[2019-02-17 19:33] nithusha21 commented on #6176
I don't think this is an issue. The admin page would only be used by a minimal set of people, in production, and we haven't had reports of this affecting any user experience.

The randomness is probably due to the database query, but I think that is ok...

[2019-02-17 19:33] #6176 closed, assigned to nobody

[2019-02-17 19:34] nithusha21 commented on #6174
This was fixed at #6281

If this error reoccurs in production, I'll reopen this issue. Thanks @seanlip :)

[2019-02-17 19:34] #6174 closed, assigned to seanlip

[2019-02-17 19:37] nithusha21 commented on #6112
Hi @import-keshav I don't remember seeing this ping. Sorry about the delay.

Could you elaborate a little more on what you suggest? I don't think I understand completely what you said above. So if you are going to remove this view, and directly have modals displayed while clicking threads, how would the messages on the thread be displayed?

[2019-02-17 19:38] nithusha21 commented on #6085
@aks681 should we close this in favor of #6240? That list contains all the functional capabilities listed in the doc.

[2019-02-17 19:42] seanlip commented on #6194
Yes, this is fixed (in #6196). Thanks @nithusha21! Closing.

[2019-02-17 19:42] #6194 closed, assigned to seanlip

[2019-02-17 19:51] import-keshav commented on #6112
sir there is a button for showing view suggestion.
i suggest to remove that button and add onclick event to see the suggestion.

[2019-02-17 21:19] vojtechjelinek commented on #6238
On what exactly are you stuck?

[2019-02-18 08:40] seanlip opened #6292 ""Card is too long" warning is not prominent enough, and isn't shown when the RTE is closed."
**Describe the bug**
The "card is too long" warning is insufficiently prominent. Both @anmolshkl and I missed it completely while working on an exploration whose text was too long. I only noticed it by chance after several minutes, and @anmolshkl did not notice it at all.

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in and create an exploration.
 2. Type lots of text in the content c

[2019-02-18 12:45] rahgurung commented on #6238
@vojtechjelinek what i tried was use the google chromes coverage feature, but for that i have to go to each page and see if it is used, what is the most effective way to find if where is a script is used ?

[2019-02-18 13:06] vojtechjelinek commented on #6238
Probably by using `grep` or something similar to find if we use the functions from the library somewhere in the code. I took a quick look and we actually need most of the libraries because they're used as Angular dependencies in: https://github.com/oppia/oppia/blob/e68197461cd9cb350bda200396184eb042ecdc5b/core/templates/dev/head/app.js#L24

So the only one thats remaining is ckeditor.js @import-ke

[2019-02-18 13:29] rahgurung commented on #6238
@vojtechjelinek so this issue will be closed when his PR gets merged ?

[2019-02-18 13:42] vojtechjelinek commented on #6238
Yes, I will assign you different issue later today.

[2019-02-18 13:44] rahgurung commented on #6238
Alright, thanks.

[2019-02-19 03:09] KhalidRmb commented on #6200
Hi @bansalnitish, I'm working on this one. Been busy lately but I'll make a PR soon.

[2019-02-19 09:28] nithusha21 commented on #6292
/cc @ankita240796 as she added the warning recently. Could you take a look?

[2019-02-19 09:36] ankita240796 commented on #6292
Hi @seanlip @nithusha21 @anmolshkl, I followed the solution approach discussed on the issue [here](https://github.com/oppia/oppia/issues/3074).

I agree that we can make the warning more prominent. May be we can increase the text size or make the text bold or try a darker color.

I am not sure if the warning should appear even after RTE is closed. If the warning becomes prominent enough when the r

[2019-02-19 09:45] seanlip commented on #6292
Hm, I think there's a problem with not showing the warning when the RTE is closed. It means that, during the review/proofreading phase of creating an exploration, users may not notice that there is a warning at all... (this was the context in which both Anmol and I missed it). It just so happened that I clicked into the text field to fix something unrelated.

[2019-02-19 09:50] ankita240796 commented on #6292
Would it be better to just pop the warning as a modal when user presses the save button rather than showing it after rte is closed?

[2019-02-19 10:09] seanlip commented on #6292
@anmolshkl, what do you think?

[2019-02-19 10:29] anmolshkl commented on #6292
I think that is a good idea. @ankita how do you plan to deal with a
situation when multiple cards violate the limit? Perhaps, we can list the
names all such cards and ask for a confirmation to proceed or to cancel the
save?

On Tue 19 Feb, 2019, 3:39 PM Sean Lip <notifications@github.com wrote:

[2019-02-19 10:58] yashdusing commented on #6285
@anmolshkl Can I take this up?

[2019-02-19 11:45] apb7 commented on #5530
@abhaygupta97, any updates? Thanks!

[2019-02-19 11:47] apb7 commented on #3677
@DubeySandeep, any updates? Also, can you please link the corresponding PR? Thanks!

[2019-02-19 12:28] JeeBoomBoi commented on #6112
@Dharmesh-Poddar Any updates on this issue ?

[2019-02-19 12:30] import-keshav opened #6294 "Upgrade BeautifulSoup to its latest version."
Current version of BeautifulSoup used **4.6.0** and
latest version of BeautifulSoup avaliable **4.7.1** (upto date)

This issue is related to project **Upgrade third-party libraries** which is not yet released, but it is a starter issue for this project

[2019-02-19 12:33] nishikeshKardak opened #6295 "The content on the page "About" needs to be upgrade with languages."
## Description
The content on the page still visible in English. Even if we select language as "bahasa Indonesia" and other language. It needs to be updated with remaining languages.

## Steps to reproduce it
1. Click on "About"
2. Select language as "bahasa Indonesia"
3. Check content on the page

## Expected
The content of page needs to be displayed in other languages too.

## Actual
It is in "E

[2019-02-19 14:21] ankita240796 commented on #6292
Hi @anmolshkl, I thought of showing the warning when save content button is pressed for the card (not Save Draft for the exploration).

[2019-02-19 14:23] nithusha21 commented on #6292
Just a suggestion, maybe the "save content" button for the card is a
different color (not green) to indicate something is off. And on hover it
should display the warning... Does this sound easily noticeable? Thanks!

On Tue, Feb 19, 2019, 19:51 Ankita Saxena <notifications@github.com wrote:

[2019-02-19 14:24] ankita240796 commented on #6292
I think that sounds good @nithusha21, maybe red color can be used to show a warning.

[2019-02-19 16:12] NITHIN999 commented on #6262
![screenshot from 2019-02-19 21-39-53](https://user-images.githubusercontent.com/43813336/53029515-0deb4180-348f-11e9-82a3-ccdf07e5b2c6.png)
@rakshitkumarcse Is this the required change ? :)

[2019-02-19 16:16] mighty-phoenix commented on #6262
@NITHIN999 Yes it LGTM :)
Kindly make a PR for the same.

[2019-02-19 16:46] abhaygupta97 commented on #5530
@apb7 I am bit busy with exams right now. Will start working on it as soon as I am free.

[2019-02-19 18:35] apb7 commented on #6295
Hi @nishikeshKardak, thanks for the issue. I checked this out -- the page translates for some languages (like Hindi) completely and partially for others (like Bahasa Indonesia). I am not sure if this is something we can fix from our end since the translations are crowdsourced and are provided by [translatewiki.net](https://translatewiki.net/wiki/Translating:Oppia). Thanks!
(/cc @seanlip @nithusha2

[2019-02-19 19:26] seanlip commented on #6295
I think @apb7 is right. See [this page](https://github.com/oppia/oppia/wiki/Adding-new-translations-for-i18n) for details. I think the Indonesian translations are not yet complete (see assets/i18n/id.json) but that will need to be handled via translatewiki.

[2019-02-19 19:26] #6295 closed, assigned to nobody

[2019-02-19 19:28] nithusha21 opened #6298 "Server error: TypeError: Unable to set property 'oppiaResponse' of undefined or null reference"
This error occurred recently in production

[code]

**Additional context** Note that this occurs in the learner view (i.e. the /explore page) of a public exploration.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with

[2019-02-19 20:21] DubeySandeep commented on #6298
@nithusha21, will it be possible to have the full stack trace? (maybe you can remove the data as done in #5950)

[2019-02-20 02:22] DubeySandeep opened #6299 "Automated state migration isn't working correctly."
**Describe the bug**
The automated state migration isn't working when the migration involves changing state_schema.
This is because the get_users_exp doesn't change the exploration version after running conversion (not sure, needs debugging!).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to feature branch.
 2. Create a migration which will change the state schema entirely (You can add

[2019-02-20 06:12] #6282 closed, assigned to anubhavsinha98

[2019-02-20 06:30] seanlip commented on #1404
I think this is somewhat replaced by #6240. Closing. /cc @nithusha21

[2019-02-20 06:30] #1404 closed

[2019-02-20 06:30] seanlip commented on #1410
I think this is replaced by #6240. Closing. /cc @nithusha21

[2019-02-20 06:30] #1410 closed

[2019-02-20 06:32] seanlip commented on #6254
Hi @ankita240796, quick question: all checkboxes in the top of the issue are ticked. Is there anything that still needs to be done in this issue?

[2019-02-20 06:36] seanlip commented on #6299
Hi @DubeySandeep, I fixed some of the wording in the original issue, but I don't actually understand the observed/expected behavior you described. Could you please explain?

In particular, what do you mean by "the exploration is getting updated"? I thought that explorations only get updated when they are saved, but your repro instructions don't include a saving step.

[2019-02-20 07:44] ankita240796 commented on #6254
Hi @seanlip, this issue can be closed once #6202 and #6275 go in.

[2019-02-20 07:45] ankita240796 commented on #6292
Hi @seanlip @anmolshkl, what do you suggest?

[2019-02-20 08:15] anmolshkl commented on #6292
@nithusha21 sounds interesting. The red colour should definitely catch the eyes. However, the pop-up could be missed sometimes (just like the message). How about making the save button red and also giving a pop-up with a confirmation that can be ignored by the creator?

[2019-02-20 08:33] seanlip commented on #6298
I've added more details!

[2019-02-20 16:03] bansalnitish commented on #6200
Ok, Thanks for the update @KhalidRmb . Do let me know if you need any help!

[2019-02-20 16:31] netajik commented on #5975
Hello, @brianrodri I was in above exploration answer column contains [object object] and also if i click multiple time on a model it appears multiple times.So can you give me suggestion and i would like to work on it. Thank you.

[2019-02-20 17:15] vojtechjelinek opened #6301 "The Dev Mode indicator shows up when shoudn't"
**Describe the bug**
The Dev Mode indicator located in the left bottom corner of the page shows up when the oppia.org page is loading on slow internet.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia.org on slow internet connection (can be probably slowed down in Dev Tools)

**Observed behavior**
Visible Dev Mode indicator for a short time.

**Expected behavior**
The indicator s

[2019-02-21 02:51] ishan-gaur commented on #5134
Can someone assign me to core.domain.rating_services?

[2019-02-21 03:52] DubeySandeep commented on #5134
@nikhilmudholkar, Thanks for looking into it, I think this is be because of updating the file with new functionality without test (Which we do not expect!) or maybe it's written wrong here in the first place. I've assigned you to `core.domain.param_domain`.

@ishan-gaur, I think you haven't signed the CLA yet, would you mind going through the "[Getting started](https://github.com/oppia/oppia/wiki/

[2019-02-22 00:50] DubeySandeep commented on #5476
@apb7, can we close this issue now?

[2019-02-22 02:25] DubeySandeep commented on #6299
@seanlip, I wasn't sure about the general way to reproduce this issue and the reason behind the issue. I've tried to update the issue such that one can reproduce it.

[2019-02-22 02:31] DubeySandeep commented on #5776
De-assigned @rakshitkumarcse from this issue as we are deprioritizing this issue! (We will take this up later.)

[2019-02-22 02:34] DubeySandeep commented on #4371
Closing this issue as it seems duplicate of #5784 and we already have a PR resolving #5784!

[2019-02-22 02:34] #4371 closed, assigned to nobody

[2019-02-22 10:51] lilithxxx commented on #5476
@DubeySandeep The first check(missing docstrings) has not been completed yet. Thanks

[2019-02-22 11:54] JeeBoomBoi commented on #6276
Hey @apb7. I would like to work on this issue. I'm new to lint checks, I would like to receive some guidance for the same. Thanks !

[2019-02-22 13:51] bansalnitish commented on #4231
Hi @mjprince, Any updates on this issue ?

Or are you stuck anywhere ? Let us know, we'll be happy to help you out :).

[2019-02-22 13:52] bansalnitish commented on #5795
Hi @1995YogeshSharma, Any updates on this issue ?

[2019-02-22 13:54] bansalnitish commented on #6158
Hi @import-keshav, Any updates on this issue ? We need to fix these user-facing bugs soon! Let us know if you are stuck somewhere, we'll be happy to help you out.

Thanks!

[2019-02-22 13:55] bansalnitish commented on #3677
@DubeySandeep, could you please respond to the above comments ? Thanks!

[2019-02-22 13:56] bansalnitish commented on #5791
Hi @vibhor98, any progress on this issue ?

[2019-02-22 13:59] mjprince commented on #4231
Hi @bansalnitish.
I have made a pull request on this issue, https://github.com/oppia/oppia/pull/6116
All my changes are clearly mentioned on that PR.

And this pull request has been merged already.
However, I am open to learning, so if there is anything I could do better, kindly mention it on the pull request.

Thanks.

[2019-02-22 14:08] bansalnitish commented on #4231
Hi @mjprince, Oh great! Thanks for the same. Just don't forget to follow the checklist in the PR. Ideally, you should add Fixes #bugnum in the PR description. This would automatically close the issue once the PR is merged :).

Could you take up an issue from the `To-do` list -- https://github.com/oppia/oppia/projects/27? These are user-facing bugs (and high-priority ones!) and we need to bring dow

[2019-02-22 14:09] bansalnitish commented on #4231
Closing this one. This is fixed via PR #6116.

[2019-02-22 14:09] #4231 closed, assigned to nobody

[2019-02-22 14:57] vibhor98 commented on #5791
Hi @bansalnitish, Sorry but not yet! I'll resume once my exams get over by 2nd March.

[2019-02-22 15:05] bansalnitish commented on #6206
I looked at the difference in the dom tree and found that a span tag is introduced for the text that is getting large. The size of font inside the span tag is 1.6em (this is the size that we use for normal text).

![image](https://user-images.githubusercontent.com/22434689/53250730-fc997380-36e0-11e9-9ac5-a1324667bf13.png)

I'm still not sure why even the text is getting large. The span tag should

[2019-02-22 16:57] bansalnitish commented on #5791
Okay, thanks for the update!

All the best for your exams!

[2019-02-22 17:33] bansalnitish commented on #6225
I investigated and found that the issue is reproducible in CKEditor - 4.9.2 itself. The link for its demo -- https://ckeditor.com/ckeditor-4/demo/.

Though, it has been fixed in CKEditor5 :). The link for its demo -- https://ckeditor.com/ckeditor-5/demo/.

So, we need to upgrade CKEditor4 to 5th version. /cc @seanlip

[2019-02-22 18:33] amey-kudari commented on #6301
Id like to try solving this issue
Edit: solved using ngCloak

[2019-02-22 18:34] #6004 closed, assigned to nobody

[2019-02-22 19:55] seanlip commented on #6206
It looks like somehow this "1.6em" style is being added. Maybe you can figure out where it's being added from. Is it by us or by CKEditor? Does grepping the CKEditor code help?

[2019-02-22 19:55] seanlip commented on #6206
Also does this happen in the CKEditor demos?

[2019-02-22 19:56] seanlip commented on #6225
Makes sense, thanks. How hard would it be to do that -- is it as straightforward as changing the link in manifest.json? Are there instructions somewhere?

(Also, do you remember why we didn't use CKEditor5 when we upgraded the RTE? Was that because it wasn't out yet at the time, or was there some other reason? /cc @AllanYangZhou )

[2019-02-22 20:32] bansalnitish commented on #6225
No, it isn't this straightforward I guess. I tried doing that but I was getting error like:
`CKEDITOR is not defined in app.js`. I'll have to dig a bit deeper. Here is the complete documentation for the updgradation: https://ckeditor.com/docs/ckeditor5/latest/builds/guides/migrate.html.

I'm not sure as to why we didn't use CKEditor5.

Thanks!

[2019-02-22 20:35] bansalnitish commented on #6206
No, this doesn't happens on CKEditor demos -- so I think it is by us.

I'm still not able to figure it out from where this span tag pops up.

[2019-02-22 21:08] DubeySandeep commented on #3677
@bansalnitish, I think my PR is linked in this comment thread (#6077) but It's closed now. Also, that PR fixes the issue but needs e2e test and I found we don't have any e2e structure for the publish modal, that will take time and currently I'm busy with other (important) task, will be busy till 28th Feb. so I'll de- assig myself from this issue. Thanks!

[2019-02-22 22:17] seanlip commented on #6206
OK, try one more thing -- try making a little "test" webpage that's completely independent of Oppia and that embeds a CKEditor 4 editor. Use a similar installation config to what we use in Oppia and see if this issue arises there.

If it does, great, we have a smaller surface to debug on. If it doesn't then it's probably due to something environmental in Oppia affecting CKEditor and the next step

[2019-02-23 05:54] bansalnitish commented on #6206
Okay, sounds good. I'll try and let you know.

Yes, infact I think font-size is 1.6em everywhere.

[2019-02-23 05:59] seanlip commented on #6206
But where is it set?

[2019-02-23 06:07] seanlip commented on #6225
Chatted with @bansalnitish. He will have a go at updating to CKEditor5 to see whether any issues come up, and update this issue with the comments.

[2019-02-23 08:05] JeeBoomBoi commented on #6193
@Dharmesh-Poddar any updates on this issue ?

[2019-02-23 09:03] siddhantkhandelwal commented on #5134
Can I work on core.platform.email.gae_email_services?

[2019-02-23 09:48] JeeBoomBoi opened #6313 "The SIGN IN icon moves when the page is reloaded."
**Describe the bug**
The bug is about the change in position of SIGN IN icon in Smartphone devices when the exploration page is reloaded.

**To Reproduce**
Steps to reproduce the behavior:
 Go to the exploration page in any smartphone device and reload the page you will find the SIGN IN icon to move a bit.

**Observed behavior**
The **SIGN IN** icon moves to the left and comes back to the position

[2019-02-23 10:51] import-keshav commented on #6301
hiii @amey-kudari its good you have solved the issue, but a little advice for you, before solving any issue wait to have PR unless that issue has not assigned to you. Maybe that issue was solved by someone and due to some reason, he/she was not making PR.
so please ask in issue thread for assignees of that issue.
please talk to us before you start working on it -- this helps avoid duplication of e

[2019-02-23 12:03] JeeBoomBoi commented on #6313
I would like to give it a try on this issue. If anyone is interested to work on this issue just leave a comment. Thanks !

[2019-02-23 13:30] import-keshav commented on #6158
Sorii @DubeySandeep @bansalnitish, for not giving any updates.
When I go through the above comment

then the assumption I was assuming above was incorrect. So currently i was investigating it and give updates ASAP thanks!

[2019-02-23 13:34] amey-kudari commented on #6301
Sorry about that, I'll make sure i ask before trying to fix any issue from now

[2019-02-23 15:27] DubeySandeep commented on #5134
Hi @siddhantkhandelwal, I've assigned you to `core.platform.email.gae_email_services`, you can start working on it. Thanks!

[2019-02-23 17:34] vojtechjelinek commented on #6301
@amey-kudari I have assigned you, you can work on it now.

[2019-02-23 17:49] import-keshav opened #6316 "Remove unnecessary scripts import from base.html"
Currently, there is an unnecessary import of javascript in base.html which lead to import of that scripts in many pages which doesn't require.
So in this, we have to refactor the base.html

[2019-02-23 21:21] amey-kudari commented on #6292
I think it's better if we keep yellow instead of red, as red is normally used for errors and yellow for warnings. So that wouldn't make the user feel it's some error with the app.

[2019-02-24 01:34] import-keshav commented on #6158
Hello @bansalnitish @DubeySandeep, I investigate further for the issue and I stuck somewhere so please help me.
So as we see in the issue details the error is ``` Error: Parameters passed into interpolateUrl must be strings. ```.The reason for this error is there is a variable which is always passed to function ``` interpolateUrl ``` i.e   ``` exploration id ``` which is not a string. And in my op

[2019-02-24 04:32] DubeySandeep opened #6321 "Write a test to validate patterns in .github/CODEOWNERS file."
Write a test to ensure the following things in CODEOWNERS file:
- [ ] Checks to ensure each line matches at least one file/dir in the codebase
- [ ] Checks to ensure every directory is covered

Suggestions:
- You can use adapter pattern (google it) to convert CODEOWNERS syntax into glob patterns and then you can validate the github pattern for file and dirs.

- You can look at how `git check-ignor

[2019-02-24 05:47] DubeySandeep commented on #6158
@import-keshav, Thanks for looking into it.

Can you please look for the place where we use to generate exp_id? I don't think this will be possible cause.

I'm not sure about how you can reproduce this issue, but I agree that it can happen when we will be running `StatsReportingService.record*` function before `StatsReportingService.initSession`. I would suggest you to check how when and where `St

[2019-02-24 08:04] #2306 closed

[2019-02-24 11:24] anmolshkl opened #6322 "Item-selection interaction should have a "proper subset" type of rule"
**Is your feature request related to a problem? Please describe.**
When using the item-selection interaction, I find it difficult to write feedback without the "proper subset" rule. This is because often, you want to give feedback when the learner has selected only a subset of the correct choices or when they have not selected any of the correct choices. As of today, the item-selection has only th

[2019-02-24 11:58] anmolshkl opened #6323 "Weird placement of mathematical formulas in the feedback"
**Describe the bug**
When entering a mathematical formula in the feedback, the formula gets inserted at the beginning of the paragraph instead of the intended position (i.e. where the cursor was). At times this is very frustrating because you need to re-enter the mathematical formula as you cannot simply cut and paste it.

**To Reproduce**
I have not been able to reproduce it consistently. I have

[2019-02-24 11:58] anmolshkl commented on #6323
/cc @seanlip

[2019-02-24 11:59] anmolshkl commented on #6285
@yashdusing sure! But before that, could you please go through the [wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) for getting started?

[2019-02-24 12:02] anmolshkl commented on #6292
@amey-kudari I agree. I think it is fine to keep it yellow.

[2019-02-24 19:13] seanlip commented on #6323
@bansalnitish could you PTAL?

[2019-02-25 01:42] brianrodri commented on #6242
Hi @CryTime, are you still working on this?

[2019-02-25 02:44] amey-kudari opened #6325 "Dashboard, Selecting the ~submenus is misleading"
**Describe the bug**
A clear and concise description of what the bug is.
The options (in the screenshot, circled), the ones not selected are in grey. That makes the user think that there isn't anything under that option. and this makes the only option (the selected one) look like a link, and user keeps clicking it thinking page isn't responding

**To Reproduce**
Steps to reproduce the behavior:
 1

[2019-02-25 04:46] vinitamurthi opened #6326 "Create a backend service to fetch questions"
Create a API service that can connect to the backend and fetch questions from the database given a set of skill IDs.
This should be reusable by any question player service.

(Detailed design in: https://docs.google.com/document/d/18oklcouuo9Ucef3ffbSCBnZbIHX-J3cJduD96pu-b6U/edit#heading=h.674330vq4pzb)

[2019-02-25 04:48] #6326 closed, assigned to nobody

[2019-02-25 05:08] amey-kudari commented on #6322
Can I take up this issue?
Also I feel one rule that is needed is contains all of ( Superset ), as this will be the most inconvenient rule to implement

[2019-02-25 05:29] amey-kudari commented on #6322
Also can we change the Equals function,
prev:
Equals: function(answer, inputs) {
      return answer.length === inputs.x.length && inputs.x.every(function(val) {
        return answer.indexOf(val) >= 0;
      });
    },
change to:
Equals: function(answer, inputs) {
  let b = inputs.x; b.sort();
  let c = answer;  c.sort();
  return b.join('')===c.join('');
}

This would make it a little faster, as

[2019-02-25 07:37] seanlip commented on #6322
No need to change the Equals function. We're working with small arrays here so there's no need to optimize.

And yep, feel free to take this up! I'm fine with implementing a "proper superset" rule as well.

[2019-02-25 11:53] anubhavsinha98 commented on #6276
Hi @jeeb0xical , you can start working on the issue. You have to add the logic in pylint_extensions.py and it's corresponding test in pylint_extensions_test.py.

[2019-02-25 11:54] anubhavsinha98 commented on #6276
These are the links which can help you:
http://pylint.pycqa.org/en/latest/how_tos/custom_checkers.html
&
https://breadcrumbscollector.tech/writing-custom-checkers-for-pylint/

I hope it helps and feel free to ask.

[2019-02-25 13:14] JeeBoomBoi commented on #6276
Thanks a lot @anubhavsinha98. Will work on it !

[2019-02-25 13:37] ay11111111111 commented on #6240
Hi! Is there any sample of a test? I am a newbie, so I am not sure about solution)

[2019-02-25 15:52] ay11111111111 commented on #6240
Ok, I have read wiki about e2e tests. Can I make a test for Adding a bio in profile?

[2019-02-25 16:02] anubhavsinha98 commented on #6240
Ok @yesass, assigning you the same!

[2019-02-25 16:57] CryTime commented on #6242
Hi @brianrodri yes sure, i will show you a first approach to resolve this issue soon, then you just have to tell me if its ok or not.

[2019-02-25 21:02] import-keshav commented on #6158
Thanks @DubeySandeep for the response.

yes, you are right, that's can't possible that's why I also mentioned that this is not a reason for this.
And it generated in ``` core/templates/dev/head/services/ContextService.js ```
So we have left with only one option.
So i will futher investigate it and give response ASAP.
Thanks

[2019-02-25 21:11] import-keshav commented on #6158
And one more thing to ask, as @DubeySandeep told

so instead of checking it, did I rearrange scripts import? It would not create any code break (I think)

[2019-02-26 05:58] seanlip opened #6331 "Emails inviting collaborators to explorations should ask the inviter to specify a title first."
**Describe the bug**
When a person is invited to collaborate on an exploration, sometimes the email looks like this (with usernames redacted):

![screenshot from 2019-02-25 21-53-24](https://user-images.githubusercontent.com/10575562/53390452-0ec91b00-3948-11e9-82e5-d43d95e2b3e6.png)

The odd subject line arises because the exploration lacks a title. It would be nice if the inviter could be asked

[2019-02-26 17:39] CryTime commented on #6242
@brianrodri i send you an email that seems resolve this issue

[2019-02-26 20:22] amey-kudari commented on #6331
Can I try implementing this?
This is what I am thinking,
create a function that fires on click of save button
check if title is "", if it is then prevent submit and show a yellow error message saying title isnt given

(~code of what im thinking)
[code]

[2019-02-26 20:32] import-keshav opened #6336 "Upgrade Request library to its latest version"
This issue is related to project **Upgrade third-party libraries** which is not yet released,.

[2019-02-26 20:36] amey-kudari opened #6337 "Set default background color for input boxes"
**Describe the bug**
Users using gnome themes (mainly the dark themes), will see input boxes having a default text color of black and background also black that makes is hard for them to see what they type

Note: this issue only occurs on the recent versions of firefox, on Ubuntu 18, when any dark theme is applied

**To Reproduce**
Steps to reproduce the behavior: (on ubuntu 18.04 / 18.10, Gnome b

[2019-02-26 20:39] amey-kudari commented on #6337
Can I add a default background color to the input boxes that have this problem?

[2019-02-26 21:59] seanlip commented on #6337
Thanks for reporting, @amey-kudari. This issue seems a bit environment specific, so I'd like to see someone else reproduce this issue and confirm it on their machine before we do a fix for this.

Do you see similar behaviour on other sites on the Internet?

[2019-02-26 23:37] mjprince commented on #6285
@yashdusing @anmolshkl @aks681 @bansalnitish   Do you have any updates on this? Or, Can I take this up?

[2019-02-26 23:38] mjprince commented on #6325
@amey-kudari @aks681 @bansalnitish Can I take this up?

[2019-02-26 23:41] mjprince commented on #4231
Hi Bansal,

I would like to work on any of the following two issues:

- https://github.com/oppia/oppia/issues/6325
- https://github.com/oppia/oppia/issues/6285

However, if there are any high priority issues which you would like me to
work on, please let me know.

Regards,

Le ven. 22 févr. 2019 à 15:09, Nitish Bansal <notifications@github.com> a
écrit :

[2019-02-27 02:34] yashdusing commented on #6285
@mjprince I’m still working on this. I’ll send the PR by the weekend

[2019-02-27 03:12] amey-kudari commented on #6337
hi @seanlip , I see it on some websites now, but previously this used to happen in almost half the websites, now some it only happens in some websites like codeforces. I checked up online, and this was an issue many people were facing. ( https://askubuntu.com/questions/978184/firefox-57-shows-dark-input-boxes-dropdown-menus-with-dark-text-on-gnome-dark-t ). And the fix fo this issue is complicated

[2019-02-27 03:16] amey-kudari commented on #6325
Hi @mjprince , I am still new here, so I am not the person to ask regarding this, and I was waiting for the other members to look at it and give their opinion on whether this should or should not be implemented .

[2019-02-27 04:18] DubeySandeep opened #6338 "Hide unnecessary button(s) from the translation tab."
Instead of disabling the audio bar buttons for the user doesn't have rights to use it, try hiding those buttons. This will make it look similar to the editor page where we do no show the unnecessary things to users.

This will get reflect to:
- Record button.
- Mark "Needs update"  button.
- Re-record button etc.

[2019-02-27 04:18] seanlip commented on #6325
I think fixing this in some fashion is fine. I'm not sure you need the icon but it may be possible to do something with the background/foreground colors.

Thanks for filing this, @amey-kudari!

[2019-02-27 04:22] seanlip commented on #6337
Thanks for the additional context @amey-kudari.

Tbh, I do not think that we should be fixing Firefox/Ubuntu bugs. This seems like something that should be fixed upstream in these projects, especially if it is affecting other websites. So I am reluctant to make this change, and would rather close this issue. Do you agree?

[2019-02-27 04:24] seanlip commented on #6331
I think you should take a look at how the "modal before publication" is implemented first. As a rule we do not do a lot of DOM manipulation in the JavaScript and so you might want to find a different approach that is more Angular-related.

[2019-02-27 04:54] amey-kudari commented on #6337
Well yeah, I agree, Ill close this issue.
Thanks @seanlip

[2019-02-27 04:54] #6337 closed, assigned to nobody

[2019-02-27 05:06] ulloaluis opened #6339 "schema_utils.py old TODO blocking full backend test coverage"
**The issue:**
Lines 76-83 of schema_utils.py contains a TODO comment over a section of code that is untestable. This is the code snippet in question:

[code]

The TODO comment suggests that placing the import statement at the top of the file causes a circular dependency (thus not valid). However, upon writing a test for this line of code, I also received import errors (upon entering that block of

[2019-02-27 05:08] varun-tandon commented on #6240
Could I please try  Upload a profile picture (preferences.js)

[2019-02-27 05:09] amey-kudari commented on #6325
@seanlip , I am not sure if this was only me, but I feel for the users who just starting using oppia, this would make them like look to the right and tell them the result loaded. But I also feel this would not be a clean-looking solution. I feel we can do the background for now

@mjprince , I implemented the suggested fix (that i wrote under the bug description, to see if it would actually be usef

[2019-02-27 05:13] anubhavsinha98 commented on #6240
Hi @varun-tandon, assigning you. Go ahead :)

[2019-02-27 05:47] amey-kudari commented on #6331
Yeah, ill implement the exact same thing using angular . And ill also look up model before publication.
Thanks @seanlip
And can i try solving this?

[2019-02-27 05:56] seanlip commented on #6331
Yes, you're welcome to submit a PR for any starter project, though I would recommend following the [guidance on the wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do) about starter projects. This one is a bit harder IMO.

[2019-02-27 06:03] amey-kudari commented on #6331
I agree this is a little bit on the harder side, but it's also to me, harder issues are normally more fun solving. I'd love to give this a try.
also l will read through the guidance wiki again before trying to solve this issue

[2019-02-27 06:12] seanlip commented on #6331
That sounds reasonable, but I still suggest that you try a starter issue first (although of course the final decision is up to you). If you are able to solve hard issues, then you should be able to do an starter issue fairly quickly and come back to this issue (or another harder one) after that, so it's a good sanity-check.

[2019-02-27 06:14] amey-kudari commented on #6331
Alright I'll do that, I'll first try solving the starter issues and then come back to this,

[2019-02-27 12:51] ay11111111111 commented on #6240
@anubhavsinha98 I have a problem when running e2e tests related to bower. Have written about it to the chat, but nobody replies to me. Can you help me, please?

[2019-02-27 13:04] anubhavsinha98 commented on #6240
Hi @yesass, have you installed chrome/chromium on your local setup?

[2019-02-27 13:55] aks681 opened #6341 "Enable prerequisite skills in exploration editor"
Once the skill editors are released, the `ENABLE_PREREQUISITE_SKILLS` flag should be enabled, so that each answer group in a state in an exploration can be linked to a prerequisite skill.
This is currently blocked on:

- [ ] Validation of the skill ID that's being entered
- [ ] Making it possible for creators to select the skill ID from a dropdown.

[2019-02-27 14:36] ay11111111111 commented on #6240
@anubhavsinha98 yes, chrome is installed

[2019-02-27 15:10] ay11111111111 opened #6342 "frontend and e2e tests failing"
**Describe the bug**
A clear and concise description of what the bug is.
When I am running e2e and frontend tests, they are failing on the same error:

**To Reproduce**
Steps to reproduce the behavior:
 1. git clone repo
 2. try to run script '$ bash scripts/run_e2e_tests.sh'

**Observed behavior**
A clear and concise description of what you have observed.
`npm ERR! git fetch -a origin (git://gith

[2019-02-27 17:39] #6342 closed, assigned to nobody

[2019-02-27 20:05] #6210 closed, assigned to aks681

[2019-02-27 21:00] ankita240796 opened #6343 "Update js files to avoid typescript compilation erros"
Migration to typescript requires adding type safety to the current js files to avoid compile errors in typescript. The main errors include:

- [ ] Cannot find variable names
- [ ] Function arguments mismatch
- [ ] Subsequent variable declarations are different
- [ ] Property 'x' does not exist on type 'y'
- [ ] Cannot invoke expression
- [ ] Miscellaneous

These errors should be eliminated before

[2019-02-27 23:45] brianrodri commented on #5975
Hey @netajik, wanted to let you know that I've seen this but haven't found the time to think clearly on what needs to be done. I'll get back to you by the end of the day on Friday!

[2019-02-28 01:52] vinitamurthi opened #6345 "Angular API Service that can call the backend to fetch questions"
For the question player, we would like to have an API that sits at the backend of frontend and calls the backend to retrieve questions, given a set of skill_ids.
The backend should pick up a random cursor and fetch questions starting from that cursor.

[2019-02-28 01:54] vinitamurthi opened #6346 "Create a question player that works for practice sessions."
The question player should show questions one by one, and also have the ability to go back to previous questions (which will be read-only), show hints, validate the answer, and calculate score.
Mocks -
https://www.figma.com/file/X17OLoQ3HIbn51fDzIAFKxna/Question-Player?node-id=0%3A1

- [x] Create the basic question player which can ask a question, wait for an answer, and respond if the answer is c

[2019-02-28 01:57] vinitamurthi opened #6347 "Implement the results page of the practice session."
Once a practice session is complete, we would like to show the results to the user, and give them potential next steps.
The results page will include the score (split by skill), along with an option to review the least scored skill, and to return to the learner dashboard. PTAL at the mocks for more details.
Mocks - https://www.figma.com/file/X17OLoQ3HIbn51fDzIAFKxna/Question-Player?node-id=58%3A17

[2019-02-28 01:57] vinitamurthi opened #6348 "Add the practice session experience to the topic viewer"
Add an option in the topic viewer page that can start the practice session, based on the skills that are part of the topic.

[2019-02-28 02:28] mzaman07 commented on #6343
Just curious, are you going to leverage some OO based features typescript offers? Might be too much future oriented thinking here from me.

[2019-02-28 04:33] kevinlee12 opened #6349 "Cannot scroll vertically on add response modal after changing matcher option on Item Selection"
**Describe the bug**
Unable to scroll vertically (either using the mouse or trying to drag the scroll bar) on the add response modal after changing the matcher option on Item Selection interaction.

**To Reproduce**
1. Create a card with item selection interaction.
1. Create 5 choices for item selection interaction.
1. Change the matcher to "is equal to".

**Screenshots**
Note that in the gif belo

[2019-02-28 04:53] ankita240796 commented on #6343
Hi @mzaman07, the current plan is just to bring codebase in a form which produces no compilation errors with typescript. Typescript migration is required for Angular upgrade. Once we have typescript in place, we can plan to add new features if needed.

[2019-02-28 07:02] ujjwalgulecha commented on #6345
👍

[2019-02-28 08:00] ankita240796 opened #6351 "Add type definitions for third party packages."
Type definitions need to be added for the following third party packages:

- [ ] MIDI
- [ ] Guppy
- [ ] Skulpt
- [x] PencilCodeEmbed
- [ ] MathExpression

These packages don't have type definitions in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped).

For writing custom definitions, existing type definitions in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyp

[2019-02-28 10:11] #6214 closed, assigned to import-keshav

[2019-02-28 10:21] siddhantkhandelwal commented on #5134
Can I work on core.controllers.base?

[2019-02-28 10:35] nishikeshKardak commented on #5134
Can I work on core.platform.image.gae_image_services?

[2019-02-28 10:54] DubeySandeep opened #6353 "Add validation check in skills_services."
Currently, we don't have a validation check for skill in skill_services.py whenever we update skill. There should also be backend integration tests that check this (similar to controllers/editor_test.py for exploration) -- they should try to submit invalid content.

Also, we need to modify the skill validation method such that it looks for all the available content_ids in the explanation and see i

[2019-02-28 11:01] YashJipkate commented on #5134
Hi @nishikeshKardak assigned to you. Go ahead! Thanks.

[2019-02-28 12:32] DubeySandeep opened #6354 "Switching tabs in editor page changes center of map in the map interaction."
**Describe the bug**
Switching editor to preview tab in the exploration editor page changes the center of the map in preview mode.

**To Reproduce**
Steps to reproduce the behavior:
- Create an exploration with map interaction.
- Switch to preview mode. (you'll find that the map is centered correctly.)
- Switch to edit tab and switch back to preview mode.

**Observed behavior**
You'll find that th

[2019-02-28 12:32] DubeySandeep commented on #6354
Will open this once #6309 will get merged.

[2019-02-28 14:41] apoorv1997 commented on #6313
Hello @jeeb0xical, i would like to work on this issue.

[2019-02-28 17:01] nishikeshKardak commented on #5134
Thanks @YashJipkate :)

[2019-02-28 20:05] seanlip commented on #6353
Noting that this is serious and needs to be fixed before the next release.

@aks681 are other new structures objects fully validated (could you please check)? I am surprised that we missed this one. It's an important safeguard for ensuring that the datastore does not become corrupted so we need to be careful here.

[2019-02-28 20:07] seanlip commented on #6354
Hi @DubeySandeep -- for issues blocking on other issues, please keep them open, but add info about the blocker to the title/description. Only fixed/rejected issues should be closed. Thanks!

[2019-02-28 21:01] anubhavsinha98 commented on #5134
Hi @siddhantkhandelwal, assigning you the core.controllers.base :)

[2019-02-28 21:26] mjprince commented on #6285
@yashdusing Ok

[2019-02-28 21:39] mjprince commented on #6325
@amey-kudari ok

[2019-02-28 22:11] amey-kudari commented on #6325
@mjprince, I am so sorry, were you working on it? As you didn't reply I fixed it.

[2019-02-28 22:37] mjprince commented on #6325
@amey-kudari It's ok. I was still in the prep phase.
Thanks for letting me know.

[2019-03-01 03:22] #5784 closed, assigned to mzaman07

[2019-03-01 03:54] DubeySandeep commented on #5134
@gracehu0405, any update on the assigned part?

[2019-03-01 05:20] DubeySandeep commented on #5134
I think @gracehu0405 she isn't around anymore, de-assigning her from `core.storage.collection.gae_model`. (@gracehu0405, you can assign yourself once you'll be free!) Thanks!

[2019-03-01 06:22] import-keshav commented on #5343
Hello @anubhavsinha98 are you working on it and
@seanlip please reply to @aks681 question I am going to take this up if @anubhavsinha98 is not working.
thanks

[2019-03-01 08:59] seanlip commented on #5343
I think @aks681 and I need to discuss this a bit more thoroughly. I will chat with him about it at our next meeting, which is tomorrow. Thanks for the ping!

[2019-03-01 12:29] #6336 closed, assigned to nobody

[2019-03-01 12:52] import-keshav opened #6361 "Upgrade CkEditor4 to CkEditor5."
This issue is related to project **Upgrade third-party libraries** which is not yet released, but it is a starter issue for this project.

Doc link https://docs.google.com/document/d/1CuXEI5kk0fXpPij6IRIPvyKnWPL3UYpLgqjwuljdUJ8/edit#
https://drive.google.com/open?id=1wqOCeHGaJCYOvqdM0_J0v3m_s9iT_oQCS0lAYp9x6zc

[2019-03-01 12:58] jameesjohn commented on #5076
Hi @professorjumbled I would love to work on this if it is not already worked on

[2019-03-01 13:48] jameesjohn commented on #3950
Hi I would like to work on footer_js_libs.html @Nix07 please assign it to me

[2019-03-01 13:52] import-keshav commented on #6361
Hello, @seanlip @nithusha21 @bansalnitish @vojtechjelinek.
Now before upgrading ckeditor one discussion is needed and i.e instead of upgrading ckeditor4 to its latest version should we think of migrating **ckeditor4** to **ckeditor5**.

Now what's new in **ckeditor5**
    1. Auto formatting enabling to start lists, headings and apply some inline styles, like bold, just by typing
    2.  Inlined co

[2019-03-01 13:55] vojtechjelinek commented on #5002
Hi, @vrajesh978 do you still work on this?

[2019-03-01 13:57] vojtechjelinek commented on #3950
Sorry, @Jamesjay4199 this is quite a complicated part and not really suitable for newcomers. You migh want to take a look at #5002

[2019-03-01 14:12] jameesjohn commented on #3950
Oops. Okay thanks I'll have a look at that

[2019-03-01 15:43] jameesjohn commented on #5002
Hi @vojtechjelinek I want to work on the csrf_token

[2019-03-01 17:16] vojtechjelinek commented on #5002
@Jamesjay4199 I would recommend starting with `SITE_FEEDBACK_FORM_URL` and then you can try `csrf_token`. If you have any questions ping me on Gitter.

[2019-03-01 17:25] vrajesh978 commented on #5002
Hey @vojtechjelinek,
Sorry for the delay, I was little busy with my midterms.
Yes, I'm still working on it and will try to complete it by this weekend.

[2019-03-01 17:45] jameesjohn commented on #5002
Okay, @vojtechjelinek I'll start from there.

[2019-03-01 18:36] seanlip commented on #6361
@bansalnitish should comment on this, but I think it would be nice to move to CKEditor5. The biggest question is how to do so safely, which needs investigation. Part of the aim of this project would be to prepare a plan for that.

[2019-03-01 20:13] lilithxxx opened #6364 "Lint check to ensure that every JS file has a file overview"
Every JavaScript file should have a file overview and a lint check should be added to enforce it.

[2019-03-01 20:28] bansalnitish commented on #6361
Hi @import-keshav, First of all thanks for this issue.

Yeah, I too suggest you to upgrade to CKEditor5. I agree it won't be straight forward (just changing a link!), but it'll require you to clearly test each and every part where CKEditor is present as to how it works. You need to download and check the content of those explorations (using history tab) to check how actually the content will be sa

[2019-03-01 20:32] bansalnitish commented on #5076
Hi @jamesgeorge007, you can start working on this one. Cheers!

[2019-03-01 20:57] bansalnitish commented on #4231
Hi @mjprince,

Are you working on any issue? If not, could you take up one from the To do list that I mentioned in my above comment? Those are some high priority issues that we are looking to fix currently.

Thanks!

[2019-03-01 21:13] bansalnitish commented on #5795
Hi @1995YogeshSharma, could you please drop an update for this issue? Thanks.

[2019-03-01 21:16] bansalnitish commented on #3677
Hi @DubeySandeep, if you're free now, could you resume and complete this issue ? Thanks :)

[2019-03-01 21:39] anubhavsinha98 commented on #6205
Hi @nithusha21, working on it.

[2019-03-01 21:39] import-keshav commented on #6361
Thanks for the response @bansalnitish.
I will create a doc and describe the planning of migration of ckeditor with safely so that no breakage is there and again thanks for the help.

[2019-03-01 21:51] anubhavsinha98 commented on #6205
Hi @nithusha21, I think one working solution can be, we can enable the 'Reject' button only when the creator enters some message in 'Review message'.

[2019-03-02 00:18] seanlip commented on #5134
Whoops -- actually, my apologies, it was me who told @DubeySandeep that @gracehu0405 wasn't around, but I actually confused Grace with @juliapark628! Sorry Grace :(

@juliapark628, I'm taking you off the list (and @gracehu0405, I've added you back accordingly, please could you let us know if you are still working on that file?). Thanks!

[2019-03-02 04:49] aks681 opened #6366 "Add functionality for topic managers to suggest new skills"
Currently, in the Topics and Skills dashboard, only an admin can create topics or skills.
So, if a topic manager has a good idea for a skill, we would like to provide a way through the dashboard itself through which they can suggest their proposed skill to the admins.

They can be reviewed by admins and then. either create new a new skills based on the suggestion, or merge it with an existing skil

[2019-03-02 04:54] aks681 opened #6367 "Add a tutorial for the topic editor on first visit."
Currently, the topic editor, accessible through the topics and skills dashboard, does not have a tutorial for first time visitors. So, this issue aims at adding that, similar to the one in exploration editor, to the topic editor.

[2019-03-02 07:07] kmAyush commented on #5134
Hi, I went through the wiki page in brief and now i am wiling to work on  **core.controllers.translator**. May I?

[2019-03-02 10:24] nithusha21 commented on #6205
The backend should not error out with a 500. It should return an appropriate error code. Also, the frontend seems to have a problem too... The hiding of the reject button seems like a good fix. And also a message on hover to say why it is disabled would be good I think...

[2019-03-02 10:26] anubhavsinha98 commented on #6205
Okay thanks, will work on it.

[2019-03-02 10:36] vojtechjelinek opened #6369 "Simplify the directory structure."
Currently, all of our frontend files lay in `/core/templates/dev/head` the `/dev/head` is there for historical reasons, previously we also used `/prod/head` (needs to be checked that we don't use this anymore). We should modify the directory structure so that all the frontend files are located in just `/core/templates`.

[2019-03-02 12:22] #6301 closed, assigned to nobody

[2019-03-02 13:01] aks681 commented on #6353
Yeah, all others are validated, only this was missed. Will fix this.

[2019-03-02 18:33] #1269 closed

[2019-03-02 19:08] abhaygupta97 opened #6370 "Title,Goal labels in exploration editor settings not aligned properly"
**Describe the bug**
The labels 'Title' and 'Goal' are not aligned properly with text boxes in settings tab of exploration editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Click on Create to create an exploration
 2. Click on Settings tab

**Observed behavior**
The labels  'Title' and 'Goal' not aligned properly.

**Expected behavior**
The labels should be on save level as textboxes.

[2019-03-03 01:43] #2584 closed

[2019-03-03 04:43] apoorv1997 commented on #5134
Hi, i would like to work on core.controllers.creator_dashboard, could it be assigned to me if possible?

[2019-03-03 04:43] 1995YogeshSharma commented on #5134
Hi @kmAyush , I have assigned that to you.

[2019-03-03 05:04] nishikeshKardak opened #6375 "The Question in the exploration should separated from the content of the exploration."
#### Describe the bug
The Question in any exploration should separate from the content of the exploration. It is a bit confusing while reading content and question with one single background. It would look nice when the question is separated with content.

#### To Reproduce
Steps to reproduce the behavior:

Click on library
Click on any exploration
Click on continue till the multiple choice questi

[2019-03-03 05:17] apoorv1997 commented on #6240
Hi, i would like to work on create dashboard functionality @aks681

[2019-03-03 05:27] nishikeshKardak opened #6376 "Add 'Question' option in the multiple choice interaction"
### Describe the bug
Rather than writing a question at the bottom of exploration content, add 'Question' as an option in interaction which makes our task easy and creator easily make any multiple choice question answers interaction.

### To Reproduce
Steps to reproduce the behavior:

Click on Create
Click on Add Interaction/ End Exploration
Click on Multiple Choice Interaction

### Observed behavi

[2019-03-03 05:32] seanlip commented on #6376
Thanks for the suggestion, @nishikeshKardak .

However, we will not do this. The existing multiple-choice interaction has been well-used and understood by many creators, so I don't think there is a need to change it.

[2019-03-03 05:32] #6376 closed, assigned to nobody

[2019-03-03 05:33] seanlip commented on #6375
Thanks for the suggestion! We've had some discussion on this before, and decided that it is up to the creator of the lesson to ensure that the question is well-separated.

We might do this in a more "structural" way in the future, but for now, I can confirm (from the learner/creator standpoints) that this is not a priority.

[2019-03-03 05:33] #6375 closed, assigned to nobody

[2019-03-03 06:38] #5692 closed, assigned to nobody

[2019-03-03 08:39] #6226 closed, assigned to import-keshav

[2019-03-03 11:07] mighty-phoenix commented on #6092
Currently deassigning myself as involved in other issues.

[2019-03-03 11:22] abhaygupta97 commented on #5002
Hi @vojtechjelinek, I would like to work on  `logoutUrl`.

[2019-03-03 13:26] mjprince commented on #4632
@DubeySandeep @geetchoudhary @aks681
I tried reproducing this issue as well, but the "Learn again" button is never displayed.

[2019-03-03 13:58] lkttyagi commented on #4438
@seanlip  i want to work on this issue can you guide me how to start ?

[2019-03-03 16:11] mjprince commented on #6232
@DubeySandeep @nithusha21 @bansalnitish
Can I work on this?

[2019-03-03 16:12] mjprince commented on #4231
Ok. Just did.

Le ven. 1 mars 2019 à 21:57, Nitish Bansal <notifications@github.com> a
écrit :

[2019-03-03 18:03] import-keshav commented on #6232
Sorry @mjprince, I have started working on this issue.
Can you please take some other issue it will be very helpful.
Thanks

[2019-03-03 19:45] #6353 closed, assigned to aks681

[2019-03-03 19:51] seanlip commented on #4438
Hi @lkttyagi, I don't have further general guidance apart from what's already been discussed in this comment thread. It would help if your question was more specific, though if it's more about GSoC than this issue in particular, please use the oppia-gsoc-discuss@ mailing list instead.

Also, I would not recommend taking this up as a starter project -- it's not an easy project to tackle! I would re

[2019-03-03 20:05] vinitamurthi opened #6377 "Create the Practice Sessions Page that integrates the question player into it."
Mocks for the practice Session Page - https://www.figma.com/file/X17OLoQ3HIbn51fDzIAFKxna/Question-Player?node-id=0%3A1

[2019-03-03 20:25] nithusha21 opened #6378 "Server Error: TypeError: Cannot read property 'getContentId' of null"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-03-03 20:34] nithusha21 opened #6379 "Server error: Cannot read property 'en' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-03-03 20:39] seanlip commented on #6379
Assigning @DubeySandeep

[2019-03-03 20:40] seanlip commented on #6378
Assigning @DubeySandeep -- seems related to audio project

[2019-03-03 20:49] princebansal42 commented on #5134
Hi , I would like to work on core.controllers.profile . Could it be assigned to me ?

[2019-03-03 21:01] anubhavsinha98 commented on #5134
Hi @princebansal42, assigning you. Go ahead. Thanks!

[2019-03-04 04:46] NishealJ opened #6383 "OPEN URL REDIRECTION Vulnerability in https://www.oppia.org/signup?return_url="
Hello,

The url https://www.oppia.org/signup?return_url=<any_website> is open to redirection.
after login if the user visit the above URL he will be redirected to the <any_webiste> provided.

I've started patching this vulnerability,  i'm adding  further redirection restrictions to only *.oppia.com and oppia.com.

Hence the end result will be :

1. The site will only redirect to their oppia domain

[2019-03-04 11:01] #6199 closed, assigned to abhaygupta97

[2019-03-04 14:16] YashJipkate commented on #6276
Hi, @jeeb0xical Any updates on your work?

[2019-03-04 14:27] YashJipkate commented on #6163
Hi @KhalidRmb Any updates here?

[2019-03-04 14:54] KhalidRmb commented on #6163
I'm not working on this. You can take this. @YashJipkate

[2019-03-04 17:30] import-keshav commented on #6232
Hello @DubeySandeep @nithusha21 @bansalnitish
The approach I am thinking to tackle this issue is let's create one function that calls after some seconds repeteadly let say 10-20sec in which function make an ajax request and get the response which tells whether the user is logged in or not. And if not then open a popup for warning that you are not logged in.

[2019-03-04 18:08] abhaygupta97 opened #6387 "Remove remaining GLOBALS from HTML"
## Explanation
The aim of this project is to deprecate and remove all GLOBALS used in various html files across oppia codebase. This will help in static serving of the pages so that they can load faster.
For further explanation, please refer #5002.

If you'd like to help with this issue, please select a GLOBAL variable from the list below, put your name in parentheses next to it, and submit a PR a

[2019-03-04 19:04] vojtechjelinek opened #6388 "Angular recorder error with plugin"
**Describe the bug**
angular-recorder throws an error when browser plugin is used.

**To Reproduce**
Steps to reproduce the behavior:
 1. Use Firefox with [Change Geolocation](https://addons.mozilla.org/en-US/firefox/addon/change-geolocation-locguard/) add-on
 2. Open oppia.org
 3. The page won't load and there is an error in the console.

**Desktop (please complete the following information; dele

[2019-03-04 19:49] seanlip commented on #6388
@DubeySandeep Just to check, were we planning to replace angular-recorder?

[2019-03-04 21:36] mjprince commented on #6323
@anmolshkl
I tried to reproduce this, but in vain.
Is there any chance that you observed a repetitive cause to this issue?

[2019-03-04 21:41] mjprince commented on #3813
@bansalnitish @tjiang11 @aks681
Can I work on this?

[2019-03-05 07:42] bansalnitish commented on #3813
Hi @mjprince,
Yes you can start working on this one. Thanks!

[2019-03-05 07:46] DubeySandeep commented on #6388
@seanlip, Currently we are thinking of resolving #5627 and if it will require lots of work then we will be moving to write our own angular recorder directive and services using the [opus-recorder library](https://github.com/chris-rudmin/opus-recorder).

[2019-03-05 07:55] bansalnitish commented on #6149
Hi @vrajesh978 any updates on this issue ?

[2019-03-05 07:59] bansalnitish commented on #5791
Hi @vibhor98, any updates on this one ?

[2019-03-05 08:49] aks681 commented on #6085
Yeah, it does, closing this.

[2019-03-05 08:49] #6085 closed, assigned to nobody

[2019-03-05 08:51] aks681 commented on #6240
I've assigned you to it. Go ahead!

[2019-03-05 09:57] DubeySandeep opened #6394 "Top navbar of the collection editor page has unwanted buttons."
**Describe the bug**
Navbar of the collection editor page has unwanted buttons!

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a collection (follow these steps)
 2.  Check top nav bar.

**Observed behavior**
Top nav bar contains "About", "Create" and Donate buttons.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https

[2019-03-05 10:46] import-keshav commented on #6200
hello @KhalidRmb, any updates here?

[2019-03-05 14:01] Dharmesh-Poddar commented on #6394
@DubeySandeep can I work on it?

[2019-03-05 16:49] lilithxxx commented on #5134
Hi, isn't `core.platform.users.gae_current_user_services` already on 100% coverage? If so, I think it should be removed from the list. Thanks

[2019-03-05 16:53] seanlip commented on #5134
Done. Thanks!

[2019-03-05 17:07] nithusha21 opened #6396 "Server error: TypeError: Cannot read property 'is_trainable' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-03-05 17:08] nithusha21 opened #6397 "Server error: TypeError: Cannot read property 'hintContent' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-03-06 06:52] jameesjohn commented on #5002
Hi @vojtechjelinek , @abhaygupta97 can I get to work on `iframed`

[2019-03-06 08:59] mighty-phoenix commented on #3819
@seanlip @nithusha21
I am not able to reproduce this issue. I think this might be due to some changes made in the LearnerDashboard.js file after this issue was reported.
Can you please confirm whether this issue is reproducible or not?

[2019-03-06 09:15] abhaygupta97 commented on #5002
Hi @Jamesjay4199, `iframed` has been assigned to you. Go ahead! Thanks.

[2019-03-06 10:00] prasadgujar commented on #6387
@abhaygupta97 can I take this issue?

[2019-03-06 10:09] brianrodri commented on #5975
@seanlip could you please give @netajik a hand while I'm away?

[2019-03-06 14:52] abhaygupta97 commented on #6387
@prasadgujar you need to choose a global variable from above list, then I will assign it to you.

[2019-03-06 17:09] seanlip commented on #6387
Hi @prasadgujar, welcome! Please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first to get started.

[2019-03-06 19:02] SarthakSri98 commented on #2115
Could I work on this issue? @bansalnitish

[2019-03-06 21:38] CyberDrudge commented on #5134
Hi, I would like to work on `core.domain.exp_domain`

[2019-03-06 22:20] sandeep-patel11 commented on #4252
I will be solving this issue @DubeySandeep @bansalnitish .

[2019-03-07 03:41] seanlip commented on #5975
Hi @brianrodri, sure thing!

@netajik, I don't understand your question. Could you please elaborate / make it clearer?

[2019-03-07 04:09] #2125 closed

[2019-03-07 05:49] import-keshav commented on #6232
Please have a comment on these @DubeySandeep

[2019-03-07 05:58] import-keshav commented on #4662
@bansalnitish @vibhor98, i don't think this issue is still there
See now its read able
![screenshot from 2019-03-07 11-27-00](https://user-images.githubusercontent.com/34139754/53935370-08ffd200-40cc-11e9-8d6f-e1e0c44da013.png)

[2019-03-07 06:00] import-keshav commented on #6200
Hello @KhalidRmb I am assigning myself due to no updates.
Thanks

[2019-03-07 06:14] 1995YogeshSharma commented on #6383
@nishealajohn, If you are working on a PR for this. You can submit the same explaining changes done in the PR description itself.

[2019-03-07 06:17] import-keshav commented on #6200
Hello @seanlip i was not able to reproduce it on desktop
![screenshot from 2019-03-07 11-45-45](https://user-images.githubusercontent.com/34139754/53936078-b2e05e00-40ce-11e9-8492-b89016be99a5.png)
Chrome
![screenshot from 2019-03-07 11-45-30](https://user-images.githubusercontent.com/34139754/53936088-ba076c00-40ce-11e9-87fc-a6c895be17dd.png)
firefox

[2019-03-07 06:22] import-keshav commented on #6158
@DubeySandeep

[2019-03-07 06:28] NishealJ commented on #6383
Hi @1995YogeshSharma ,
Sure :), i was in seek for some better implementation than this.
i'll raise a PR soon.

[2019-03-07 06:30] 1995YogeshSharma commented on #6341
Hi @aks681, the PR referencing is merged. Feel free to close this issue if it's been solved in that PR.

[2019-03-07 06:34] vibhor98 commented on #4662
Hi @import-keshav, I'm not sure here! The image in your comment suggests that the issue has been fixed but preceding comments show some discrepancies in the graph. @brianrodri may be able to help us here in determining what exactly the issue is for! Thanks!

[2019-03-07 06:55] import-keshav commented on #4662
Thanks, @vibhor98 for the response.
Hello @brianrodri can you please confirm the above comments thanks?

[2019-03-07 08:55] piyush072 opened #6403 "Typo under the humanities section"
![screenshot_2019-03-07-14-18-35-345_com android chrome](https://user-images.githubusercontent.com/40567323/53944082-a23ae280-40e4-11e9-9f55-eb05be41d80f.png)
oppia.org/library
This should be "Learn how .." instead of "Learn hoe ...."

[2019-03-07 08:57] aks681 opened #6404 "E2E test for subtopics editor"
Currently, the e2e tests in the subtopic editor concerning adding and deleting of subtopics are done, but there is a drag and drop functionality as well in it by which we assign skills to subtopics, which is implemented using [this](https://github.com/marceljuenemann/angular-drag-and-drop-lists), for which e2e tests haven't been written yet due to some issues in which protractor handles drag and d

[2019-03-07 09:05] aks681 commented on #6404
So far, I've tried the methods mentioned in [this](https://stackoverflow.com/questions/25664551/how-to-simulate-a-drag-and-drop-action-in-protractor) SO link, but when actually running the test, when a `browser.sleep(10000)` is put just after doing this, it is seen that the skill card is stuck to the actual cursor but is never dropped. If I manually click on the drop area, it does drop but it's no

[2019-03-07 10:31] DubeySandeep commented on #6403
Hi @piyush072, The typo in the exploration description is added by the exploration creators we cannot do anything for this. You can leave a feedback/suggestion for exploration through the exploration editor page.

(_I'm closing this issue._)

[2019-03-07 10:31] #6403 closed, assigned to nobody

[2019-03-07 11:17] Anonymous26 commented on #6313
Hi @apoorv1997 , are you still working on this issue if not i would like to do it

[2019-03-07 12:36] DubeySandeep commented on #6378
Steps to reproduce:
1. Go to this exploration.
2. Try changing the internet speed through devtools (slower connection.)
3. Try clicking the content tab when the content isn't loaded (See image below).

![image](https://user-images.githubusercontent.com/16653571/53957160-a296a600-4103-11e9-8d31-63a292247627.png)

[2019-03-07 12:42] DubeySandeep commented on #6378
@seanlip, Withe PR #6211 we are showing loading message till the translation tab is ready to use, so I think this fixes the issue.

(Note: #6211 is in test server right now!)

[2019-03-07 12:44] DubeySandeep commented on #6379
@seanlip, we have already fixed this issue (#6083). Closing this issue for now, we can reopen this if this will get the same error after March release.

[2019-03-07 12:58] DubeySandeep commented on #6397
Duplicate of #6199. Closing this issue as it's already resolved and it's part of March release.

[2019-03-07 12:58] #6397 closed, assigned to nobody

[2019-03-07 13:18] DubeySandeep commented on #5950
@nithusha21, This issue looks similar to #5794 and we have added debug info (in PR #5827) for resolving #5794 which is visible in this issue can we use this information to resolve the issue and for now let's close this issue and continue the conversation in one thread (at #5794)?

[2019-03-07 13:33] import-keshav commented on #5546
@ankita240796 , still working or not ?
If not can I take this?

[2019-03-07 13:35] ankita240796 commented on #5546
Sure @import-keshav, go ahead!

[2019-03-07 16:57] seanlip commented on #6378
But will there still be a console error? If so we would still need a fix to get rid of that.

[2019-03-07 16:59] DubeySandeep commented on #6378
No, the console error raises only if we will click the content tab which will not be visible after the changes made in #6211.

[2019-03-07 17:35] Saumitra-Shukla commented on #6394
@DubeySandeep @kevinlee12 may i work on it?

[2019-03-07 18:46] bansalnitish commented on #3813
Hi @mjprince, Any updates on this issue ?

[2019-03-07 18:56] bansalnitish commented on #5295
Hi @vibhor98, could you take this up? (Since you're expert in Drag and drop interactions)

[2019-03-07 19:04] bansalnitish commented on #5257
Yes, I just checked and its resolved.

Closing this one.

[2019-03-07 19:04] #5257 closed, assigned to nobody

[2019-03-07 19:05] DubeySandeep commented on #5257
@bansalnitish, Thanks for checking! :)

[2019-03-07 19:34] bansalnitish commented on #6323
Hi @anmolshkl, Thanks for reporting this bug.

I tried reproducing this issue about ~10 times, but I couldn't reproduce this. @vibhor98 could you please test this issue? Thanks.

[2019-03-07 21:54] ShubhamBansal1997 commented on #5134
Hi, I would like to work on ```core.domain.html_validation_service```

[2019-03-07 21:58] anubhavsinha98 commented on #5134
Hi @CyberDrudge assigning you core.domain.exp_domain. Go ahead!

[2019-03-07 21:59] anubhavsinha98 commented on #5134
Hi @ShubhamBansal1997, assigning you core.domain.html_validation_service. Go ahead!

[2019-03-07 21:59] ShubhamBansal1997 commented on #6387
Hi @abhaygupta97 would like to work on this issue ```signup.html```

[2019-03-07 22:53] kevinlee12 commented on #6394
@Dharmesh-Poddar, are you working on it? If not, then we'll pass this to @Saumitra-Shukla

[2019-03-08 01:11] seanlip commented on #6378
OK, thanks! If you are confident that this issue cannot possibly happen any more, it is fine to close this issue.

[2019-03-08 03:05] seanlip commented on #6200
Thanks @import-keshav for checking! It does look like the issue is somewhat fixed. I get the same results that you do.

That said, shouldn't the actual spacing at the top and the bottom of the bullet list be exactly the same? In your screenshots (and my tests) I think the top spacing is still a bit more than the bottom spacing.

[2019-03-08 03:57] import-keshav commented on #6200
Hello @seanlip

Yes, you are right. I also notice that but I ignore at that time, thinks this should not be considered.
But I will investigate further and give updates ASAP.
thanks

[2019-03-08 05:10] vibhor98 commented on #5295
Hi @bansalnitish, this issue requires fair amount of research in `ui-tree` library. I can't take this up right now but will prioritise this in the future. Meanwhile, if any contributor wants to take it up, feel free to assign them. Thanks!

[2019-03-08 05:10] abhaygupta97 commented on #6387
Hi @ShubhamBansal1997 assigned it to you. Go ahead! Thanks.

[2019-03-08 05:21] vibhor98 commented on #6323
Hi @anmolshkl @bansalnitish, I too can't reproduce this bug. But one possibility I can think of is:

When we click on edit button after saving the feedback one time, the cursor moves to the beginning of the paragraph (sometimes, annoying as creator needs to replace it every time) and that may be the cause for writing formulas or any other text in the beginning. Ideally after clicking on edit butto

[2019-03-08 05:57] Dharmesh-Poddar commented on #6394
@kevinlee12 thanks for the response ,I will work on it..

[2019-03-08 05:58] kevinlee12 commented on #6394
thanks!

@Saumitra-Shukla, please find another issue to tackle, thanks!

[2019-03-08 07:33] Saumitra-Shukla commented on #6387
hi @abhaygupta97 may i work on this issue
creator_dashboard.html and skill_editor.html

[2019-03-08 07:36] Saumitra-Shukla commented on #6343
@ankita240796 @seanlip may i also contribute to the issue.

[2019-03-08 07:45] Saumitra-Shukla opened #6411 "drop down "sign in" directly redirects to google sign in....should ask for more methods or registration."
i would like to develop a custom sign in/registration for the org.... also to increase the sign in options.

method to replicate the issue.
click on sign in at any oage without having veen logged in

[2019-03-08 07:46] Saumitra-Shukla commented on #6411
@seanlip @kevinlee12 i would like to work on this issue

[2019-03-08 07:57] ankita240796 commented on #6343
Hi @Saumitra-Shukla, no that won't be possible. The issue is almost done and the Angular migration team is working on it. I will let you know if any help is required, Thanks!

[2019-03-08 07:57] Saumitra-Shukla opened #6412 "*Loading overlaps the menu section"
When directed to Library "Loading" is printed to the screen while we can watch the page load. if there in we open the menu *Loading overlaps the menu. I propose a Loader for while the page loads.

[2019-03-08 07:58] Saumitra-Shukla commented on #6412
@kevinlee12 @seanlip may i work on this issue.

[2019-03-08 08:04] Saumitra-Shukla commented on #6343
@ankita240796 i am new here.....can you tell me how to self assign an issue

[2019-03-08 08:29] seanlip commented on #6412
Could you please post a screenshot explaining what you are describing?

[2019-03-08 08:29] seanlip commented on #6411
No, we are not doing this. It is not something that users have asked for.

[2019-03-08 08:29] #6411 closed, assigned to nobody

[2019-03-08 08:34] Saumitra-Shukla commented on #6412
https://drive.google.com/a/ietlucknow.ac.in/file/d/1GPF5Pmcb0WcDPAiWwk9NC9vtieFSAYz1/view?usp=drivesdk

@seanlip sorry am new to this.
I am aspiring for gsoc 2019
could you guide me through for what advancements are required or i should aim.

[2019-03-08 09:24] bansalnitish commented on #6158
Hi @import-keshav, Thanks for looking into the issue. For your query above:

I would suggest to check what @DubeySandeep has suggested. Also, try to draw a sequence diagram of what is actually happening to reproduce the issue (You can refer [this](https://github.com/oppia/oppia/pull/6170#issuecomment-458860194) comment for making a sequence diagram) .

We need to have a clear idea of why this issu

[2019-03-08 11:27] import-keshav commented on #6158
Thanks @bansalnitish for the response.
Ok i will make a sequence of diagram that describes the problem of the issue.
Thanks

[2019-03-08 11:34] bansalnitish commented on #6206
Hi @seanlip, sorry for the delay in response. The font-size style is present [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/css/oppia.css#L182).

I tried changing the font-size to 6em and then the styling in span tags also changed to 6em which confirms that the font style comes from the one defined in `oppia.css`.

The issue was to check from where is the span tag being

[2019-03-08 12:53] abhaygupta97 commented on #6387
Hi @Saumitra-Shukla you can choose any one GLOBAL variable from list given above and I will assign it to you.

[2019-03-08 13:07] bansalnitish commented on #2115
Yes, sure. This is all yours -- go ahead.

Thanks.

[2019-03-08 13:33] NishealJ opened #6414 "CSRF tokens are not generated in 404-error pages"
**Describe the bug**

Unable to create Exploration from 404-error page because CSRF tokens are not generated in 404-error pages

**To Reproduce**

Steps to reproduce the behaviour:
 1. Go to '/error'
 2. Click on 'create'
 3. See error

![1](https://user-images.githubusercontent.com/41017303/54055134-1b842380-4212-11e9-8404-f916059755ed.png)

Also, See the sourcecode of 404-error page.
you'll find

[2019-03-08 13:42] Saumitra-Shukla commented on #6387
@abhaygupta97 skill_editor.html

[2019-03-08 13:53] abhaygupta97 commented on #6387
@Saumitra-Shukla choose any one GLOBAL among  `INTERACTION_SPECS`, `ALLOWED_INTERACTION_CATEGORIES` and `DEFAULT_OBJECT_VALUES` in skill_editor.html on which you want to work. I will assign it to you.

[2019-03-08 13:56] Saumitra-Shukla commented on #6387
interaction_specs @abhaygupta97

[2019-03-08 13:59] abhaygupta97 commented on #6387
@Saumitra-Shukla assigned it to you. Go ahead! Thanks.

[2019-03-08 14:14] ritwizsinha commented on #6370
Is this issue open for work

[2019-03-08 18:02] bansalnitish commented on #4662
Ping @brianrodri.

[2019-03-08 18:03] bansalnitish commented on #6223
@siddhantkhandelwal can you take this up ? (As per our discussion)

[2019-03-08 18:11] siddhantkhandelwal commented on #6223
Thanks @bansalnitish
I will look into this!

[2019-03-08 18:28] bansalnitish commented on #6223
Let me know when you're ready to take this up. I'll move this from to-do to In progress list.

Thanks

[2019-03-08 18:52] bansalnitish commented on #4632
Hi @mjprince, Could you let me know what you did exactly ? I'm able to reproduce this issue.

Could you just go to the exploration in the first comment itself, and follow those steps? After typing 11 and clicking on submit you'll see the learn again button.

[2019-03-08 19:21] bansalnitish commented on #4632
For the second method described by @DubeySandeep, you will need to enable the correctness feedback and mark the answer as wrong to see the learn again button.

[2019-03-08 19:32] anmolshkl commented on #6323
@bansalnitish @vibhor98 thanks for trying.

@vibhor98 I thought the same, but I made sure that I clicked inside the text box to get the cursor to the position where I wanted to insert the formula. I also made sure to have the focus inside the text box when inserting the formula. Looks like we need to close this issue no one was able to reproduce it. I hope the other creators do not run into this!

[2019-03-08 19:38] vibhor98 commented on #6323
@anmolshkl, Can you reproduce this consistently now? If yes, can you please provide the very specific repro steps of the same? Otherwise, I think we can close this issue. Thanks!

[2019-03-08 19:57] bansalnitish commented on #6323
I don't think @anmolshkl was able to reproduce that consistently (as he mentioned 4 out of 10 times).

[2019-03-08 20:01] vibhor98 commented on #6323
Ok. Feel free to open this issue if it can be reproduced consistently in the future! Closing this for now...

[2019-03-08 20:01] #6323 closed, assigned to bansalnitish

[2019-03-08 20:01] bansalnitish commented on #6323
Thanks @vibhor98!

[2019-03-08 20:36] seanlip commented on #4662
@import-keshav I am not sure what interaction you are looking at, but I just took a look at multiple-choice on the production server and saw this:

![Screenshot from 2019-03-08 12-34-57](https://user-images.githubusercontent.com/10575562/54054307-b17e6680-419e-11e9-8a0b-568bd5ca8604.png)

It seems like there's some room for improvement -- there are no labels on the answer choices, for example. In

[2019-03-08 20:42] seanlip commented on #6387
@Saumitra-Shukla -- please make sure to follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first. Thanks!

[2019-03-08 20:44] seanlip commented on #6414
Could you please add a screenshot of the error?

[2019-03-08 20:57] NishealJ commented on #6414
Hi @seanlip ,
I've updated the comment.
Thanks

[2019-03-08 21:05] seanlip commented on #6414
Thanks!

Would this be solved by generating the CSRF token via AJAX? If so this might intersect with some of what @vojtechjelinek is looking into.

[2019-03-08 21:07] #6370 closed, assigned to abhaygupta97

[2019-03-08 21:10] NishealJ commented on #6414
Hi,

I believe this can be solved by setting REQUIRE_PAYLOAD_CSRF_CHECK as True for Error404Handler class.

[2019-03-08 21:12] seanlip commented on #6206
Thanks for the analysis, @bansalnitish! I think method 1 is fine actually, because your fixing that plugin isn't going to help much if it's not being maintained (unless you'd like to maintain a plugin :P)

I would just say, in contrast to your previous PR, try to use a narrower CSS class that is not affecting all "p span"s, just the ones that are in RTEs.

[2019-03-08 21:14] seanlip commented on #6414
That is possible, but if you wanted to go with that I suggest figuring out (use git blame and/or the code commit history) why it was set to False in the first place. There may be a reason, so at least identify the PR which did it and then we can see.

[2019-03-08 21:15] seanlip commented on #6412
Please add a screenshot, not a Google Drive link. You can drag-and-drop images into the comment box on GitHub.

For GSoC, all the information we have is at https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2019. I recommend reading it carefully, especially the part about which communication channels to use for GSoC-related stuff :)

[2019-03-08 21:16] DubeySandeep commented on #6378
Closing this issue as the one you can reproduce this following the "Steps to reproduce" [provided above](https://github.com/oppia/oppia/issues/6378#issuecomment-470509187) in the production but cannot be reproduced in the test server.

[2019-03-08 21:16] #6378 closed, assigned to DubeySandeep

[2019-03-08 21:17] NishealJ commented on #6414
Exactly! this must have set to false for a reason, i'll  figure it out.
Further need @vojtechjelinek 's views on this.

Thanks

[2019-03-08 21:26] vojtechjelinek commented on #6414
I think `csfr_roken` is one of the more complicated GLOBALS to handle if setting `REQUIRE_PAYLOAD_CSRF_CHECK` as True is a possibility I would go that way for now. @abhaygupta97 Could you take a look, please?

[2019-03-08 21:34] NishealJ commented on #6414
REQUIRE_PAYLOAD_CSRF_CHECK was initialized as False during the Error404Handler class creation by @seanlip  and not yet changed.  [Blame History Here](https://github.com/oppia/oppia/commit/11f9f20a25cf9f1a27bcf495105777b85eda43d6)

[2019-03-08 22:08] seanlip commented on #6414
OK, thanks! It looks like this happened 4.5 years ago. I cannot remember why we did it then, but one thought that comes to mind was -- what if the error was happening due to the CSRF generation itself? That would result in an error when showing the error pages. So I think we skipped it.

That said, I think the CSRF generation has been working robustly for quite a while now, so I would be happy to

[2019-03-08 22:15] NishealJ commented on #6414
sure :) ,
i'll raise a PR for this and will work on optimizing `csrf_token `for GLOBALS Thanks !

[2019-03-09 05:00] bansalnitish commented on #6206
Okay, I'll narrow the CSS. Thanks @seanlip

[2019-03-09 06:35] bansalnitish commented on #6225
Assigning this to @import-keshav, he's working on updating to CKEditor5.

[2019-03-09 06:58] nguptaa183 opened #6416 "Error downloading yuicompressor-2.4.8.jar while running start.sh"
- expected behaviour: Successful downloading

- observed behaviour: Socket connection error when downloading yuicompressor-2.4.8.jar

- steps to reproduce the problem: simply run bash scripts/start.sh in macOS terminal

- which operating system and/or browser you're using, if relevant
 macOS Mojave 10.14
 Not relevant to the browser

- Screenshot:

![Screenshot 2019-03-08 at 1 27 37 AM](https://us

[2019-03-09 08:54] abhaygupta97 opened #6417 "Icon not aligned in Language dropdown on Library Page"
**Describe the bug**
The tick icon is not aligned with text for selected Language in Language dropdown on Library Page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [https://www.oppia.org/library](https://www.oppia.org/library).
 2. Click on Language dropdown in topbar.
 3. Select any languages.

**Observed behavior**
The tick icon is not aligned with selected languages.

**Expecte

[2019-03-09 11:12] anubhavsinha98 commented on #6159
Hi @nithusha21, @brianrodri as the function ```update_stats```mentioned is
[code]
I think there is no check if the exploration_stats is None, so that's why it is giving an error on line no. 127.

[2019-03-09 14:58] mjprince commented on #3813
@bansalnitish @tjiang11
Sorry for the delay.

Here is the display on my mobile phone:
![phone](https://user-images.githubusercontent.com/45537681/54073112-a9e4bd80-4283-11e9-9be1-66fcb2c7ba0c.png)

And on my computer, in mobile view
![192 168 43 232_8181_create_3oO80SPGxtwO](https://user-images.githubusercontent.com/45537681/54073138-fb8d4800-4283-11e9-9f37-613de6e1b0bd.png)

Is there anything par

[2019-03-09 15:33] mjprince commented on #4632
@bansalnitish Please how can I enable correctness feedback for an exploration?

[2019-03-09 15:55] amey-kudari opened #6418 "Add tests in ItemSelectionInputValidationService to make sure user does not get stuck in an infinite loop."
**Describe the bug**
   The user is allowed to use ContainsAtLeastOneOf on an empty subset, and keep that as the only rule that allows user to go to another card.
This is not related to current PR, But no code here handles this condition. I feel This should be addressed.
I added the exact same thing, and there are 0 errors shown, exploration is made that will never go out of card 1

**To Reproduce

[2019-03-09 17:02] anubhavsinha98 commented on #6343
Hi @Saumitra-Shukla, since you are not a collaborator you cannot self-assign issue, just comment on the issue that you want to work on it (check before if anyone else is not working on that issue), and then go ahead.

[2019-03-09 17:14] amey-kudari commented on #6418
@seanlip @vibhor98 , Is this a valid Issue? should I add a check for this?

[2019-03-09 19:02] bansalnitish commented on #5791
Ping @vibhor98.

[2019-03-09 20:53] vibhor98 commented on #6418
@amey-kudari, thanks for filing this bug! I reproduced this bug and found that the response can be saved even without selecting any of the options which is completely meaningless as the condition won't be satisfied and the learner would be stuck in an infinite loop. Totally agree! Yes, you can take up this issue and add explicit checks for the inputs to display appropriate warnings.

One more thou

[2019-03-09 22:16] mzaman07 commented on #5627
Yeah this is a library problem. Red dot should disappear when the browser is handled to stop reading audio input from the microphone. The library does not do that.

[2019-03-10 05:11] amey-kudari commented on #6418
hi! @vibhor98, Thanks for checking! ,  I feel we can remove the current if condition, and rewrite the tests. similar to #6350, tests for IsProperSubsetOf. Also another infinite loop occurs if min inputs <
correct answers and rule type = equals.
Also can we do this after #6350 gets merged? then it will easier, (moving rules from the if condition).

![Screenshot from 2019-03-10 10-38-11](https://use

[2019-03-10 07:44] anubhavsinha98 opened #6422 "Add lint check for proper hanging indent in multiline docstrings."
Add a lint check for the function docstring such that if a definition includes multiple lines, then proper indentation is provided among them.

For eg:

Before linting:
[code]
After linting:
[code]
Please check here ([link](https://github.com/oppia/oppia/pull/6146#discussion_r263992354
)) for reference.

[2019-03-10 08:19] apoorv1997 opened #6423 "start development server"

[2019-03-10 08:19] #6423 closed, assigned to nobody

[2019-03-10 08:57] apoorv1997 commented on #1742
I ran into the same error while installing PIL, but it also show a syntax error. I'm attaching a screenshot for the same, would be really helpful if anybody can help.

![Screenshot from 2019-03-10 14-21-34](https://user-images.githubusercontent.com/29774298/54082757-98adb680-4340-11e9-85b8-2f884528de0b.png)

[2019-03-10 10:12] mjprince commented on #4632
@bansalnitish @aks681
I finally have been able to reproduce this. Can I take this up?

[2019-03-10 14:06] apoorv1997 opened #6424 "Assertion Error"
While running the command 'bash scripts/start.sh I received an error stating:-

 `File "/home/god/oppia/oppia_tools/google_appengine_1.9.67/google_appengine/dev_appserver.py", line 102, in <module>
    assert sys.version_info[0] == 2
AssertionError
[19:32:07] Using gulpfile ~/oppia/oppia/gulpfile.js` and it stopped working after it. I'm attaching the screenshot as well, someone kindly have a look

[2019-03-10 16:25] vibhor98 commented on #5791
@bansalnitish, still doing that.

[2019-03-10 16:30] vibhor98 commented on #6418
Hi @amey-kudari, yes, it's fine to do this issue after your current PR gets merged. Also, before removing if clause in `maxAllowedCount === 1` you need to make sure that the existing rules are meaningful when `maxAllowedCount > 1`. Accordingly, we can decide what type of validation we need for each of the existing rules though IsProperSubsetOf rule is fine. I think we can discuss here itself based

[2019-03-10 17:10] amey-kudari commented on #6418
Hi! @vibhor98, I am not sure but based on what I found out, areAllChoicesCovered, Is used to check if all choices are covered when max choices = 1. If that is not the case then, It is verified in some other way, (I am not quite sure about the other ways). If we extend this checking to all cases (max choices being anything) I do not think It will have any difference in the code, as areAllChoicesCov

[2019-03-10 17:25] anubhavsinha98 opened #6426 "Add regex check for saving the explorationi id of the chapter & fix nodes not getting saved with null exploration ids."
The chapter of story gets saved even if the exploration id is not mentioned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics & Skill Dashboard'.
 2. Create a Topic.
 3. Create a Story & its Chapter.
 4. The Exploration Id saves with invalid id.

**Observed behavior**
The exploration id gets saved with invalid id.

**Expected behavior**
There should a regex check for the explor

[2019-03-10 22:33] vrajesh978 commented on #6149
Hi @bansalnitish. After user logins, I cannot find the App Engine auth cookies (ACSID, SACSID).
I have attached screenshot.

I tried to see cookies by $cookies.getAll() method.

![error](https://user-images.githubusercontent.com/12140464/54092456-b2f88c00-4362-11e9-84fe-69fef10ff6e5.png)

Can anybody suggest me what to do?

[2019-03-10 22:46] ankita240796 opened #6431 "Remove custom type definitions for ckeditor."
PR #6430 adds custom type definition for ckeditor. This needs to be removed once the issue [here](https://github.com/ckeditor/ckeditor-dev/issues/2947) gets resolved.

[2019-03-10 23:15] ishan-gaur commented on #5134
Hi, can someone assign me to  core.controllers.library

[2019-03-10 23:19] anubhavsinha98 commented on #5134
Hi @ishan-gaur assigned. Go Ahead!

[2019-03-10 23:41] mzaman07 commented on #5627
I have a demo of a potential solution here. https://codepen.io/mzaman07/project/editor/ZpNbMP
I will have to do something similar in the library.

Edit: Updated url for demo solution. Now converts to mp3 directly from the raw microphone input in the browser.

[2019-03-11 02:48] jacoblipech commented on #5134
Hi, it it possible to assign me to core.controllers.collection_editor?

[2019-03-11 03:03] seanlip commented on #5134
Hi @jacoblipech, done :) Go for it!

[2019-03-11 03:35] brianrodri opened #6433 "Refactor PlaythroughIssuesService.openPlaythroughModal()"
`openPlaythroughModal` currently suffers from over-abstraction for a very simple problem: showing a slice of an array.

![image](https://user-images.githubusercontent.com/5094060/54098825-94a78600-438c-11e9-847b-e80d9a809ceb.png)

My intuition says that we can vastly simplify the implementation by using a single integer: `firstIndexToRender`. We should be able to simplify this to (disclaimer — pse

[2019-03-11 05:59] Dharmesh-Poddar commented on #6394
@DubeySandeep @kevinlee12  after removing the unwanted buttons what other changes I need to do in the navbar.

[2019-03-11 06:03] kevinlee12 commented on #6394
That's it for this issue :)

[2019-03-11 07:02] import-keshav commented on #6424
Hello @apoorv1997 , did you try again it ?

[2019-03-11 07:15] EricZLou opened #6434 "Hints not displaying"
This error occurred recently in production

I created an exploration for release testing for March.
The hints button cannot be clicked on, and it is raising this error log.
![image](https://user-images.githubusercontent.com/21316782/54106136-6dec4e00-4392-11e9-8613-95ae02f5df17.png)
![image](https://user-images.githubusercontent.com/21316782/54106173-8b211c80-4392-11e9-8b41-6f010829fd5d.png)

**Ad

[2019-03-11 07:18] DubeySandeep commented on #6434
@ezl-13, Looks similar to #5795!

[2019-03-11 07:18] apoorv1997 commented on #6424
Hi @import-keshav , i tried creating a virtualenv and ran it with python2, now it's working fine. The error was coming because i ran it with python 3.

[2019-03-11 07:18] #6424 closed, assigned to nobody

[2019-03-11 07:19] import-keshav commented on #6424
cool

[2019-03-11 07:33] DubeySandeep commented on #6434
@ezl-13, you have produced this error on https://oppiatestserver.appspot.com while release testing, right?
If yes, then do you know how one can reproduce this issue i.e, any steps to reproduce?

[2019-03-11 08:00] EricZLou commented on #6434
Ahhh yes it is the same error as #5795
And yes, it was produced on https://oppiatestserver.appspot.com for release testing.
This was my first time testing and creating an exploration, so perhaps I did something weird that triggered it. I'll try to recreate it.

[2019-03-11 08:04] DubeySandeep commented on #6434
@ezl-13, I'm closing this issue as it's a duplicate of #5795, can you please add "steps to reproduce" in #5795 comment? (that would really be helpful)

[2019-03-11 08:04] #6434 closed, assigned to nobody

[2019-03-11 08:05] EricZLou commented on #6434
Got it.
1. create a lesson
2. add question (I did a Multiple Choice question)
      Right answer concludes the exploration
      Wrong answer prompts the user to answer again
3. add hints
4. clicked on settings in developer navigation bar
5. published the exploration
6. made an edit to the exploration, but DO NOT publish it
7. try to preview it ==> bug appears when previewing it

I believe the bug

[2019-03-11 08:08] EricZLou commented on #5795
I have also been getting this issue, and you can do these to reproduce it.
Reproducible Steps:
1. create a lesson
2. add question (I did a Multiple Choice question)
   Right answer concludes the exploration
   Wrong answer prompts the user to answer again
3. add hints
4. clicked on settings in developer navigation bar
5. published the exploration
6. made an edit to the exploration, but DO NOT publ

[2019-03-11 10:30] #6377 closed, assigned to vinitamurthi

[2019-03-11 14:40] YashJipkate opened #6436 "Console error during an exploration."
**Describe the bug**
A console error pops up while playing an exploration (most probably during option-based interactions).

**To Reproduce**
Steps to reproduce the behavior:
 1. On the test server go to https://oppiatestserver.appspot.com/explore/jWZB1WVhAnIg
 2. Click on 'dddd' (the first) option. Click continue.
 3. On the card that follows, click on 'selctthos' option.
 4. See the console erro

[2019-03-11 16:08] vojtechjelinek commented on #6149
@vrajesh978 When you're in the local dev mode we don't use `ACSID, SACSID` cookies but `dev_appserver_login`

[2019-03-11 17:29] tas09914 commented on #5134
Hi! Could I try out the core.storage.base_models.gae_models?

[2019-03-11 22:16] vrajesh978 commented on #6149
@vojtechjelinek  I have implemented it. It works perfectly fine. But, since `GLOBALS.userIsLoggedIn` is removed from the `UserService.js`, predefiend tests are failing. Because in `karma-globals.js`, we add `userIsLoggedIn: true` however, in `UserService.js` `userIsLoggedIn` has no reference, so we cannot set value of `userIsLoggedIn` to `true`.
![error1](https://user-images.githubusercontent.com/

[2019-03-11 23:16] #6100 closed, assigned to anubhavsinha98

[2019-03-11 23:55] #6248 closed, assigned to mzaman07

[2019-03-12 05:20] #6325 closed, assigned to nobody

[2019-03-12 09:44] nikhilmudholkar commented on #5134
hey,i would like to work on core.domain.rights_manager

[2019-03-12 10:56] anubhavsinha98 commented on #5134
Hi, @nikhilmudholkar assigned you. Go ahead!

[2019-03-12 12:50] #6205 closed, assigned to anubhavsinha98

[2019-03-12 18:23] vibhor98 commented on #5791
Hi @bansalnitish, I am planning my work for this and I will make an initial PR by 19 March that's ready for review. Would this be OK? Thanks!

[2019-03-12 20:28] vojtechjelinek commented on #6149
Why don't you just add an `isUserLoggedIn` method to `UserService` that will check the status of the cookies and then call it everywhere you need to know the login status of the user?

[2019-03-12 23:15] vrajesh978 commented on #6149
@vojtechjelinek  . That is what I did .

[code]
now  I used `isUserLoggedIn` in `getProfileImageDataUrlAsync()`.
[code]
when I run command bash `scripts/run_presubmit_checks.sh`.

`UserServiceSpec.js` fails because `karma-global.js` sets `userIsLoggedIn: true` and for accessing that we need `GLOBALS.userIsLoogedIn` in `userService.js`. Since I removed `GLOBALS.userIsLoggedIn`, the `userIsLoggedIn`

[2019-03-12 23:54] vojtechjelinek commented on #6149
Yes and for next time you can usually submit a PR even if you're unsure about some of the stuff you have there.

[2019-03-13 01:22] devakrishna33 commented on #5002
Hi @vojtechjelinek , @abhaygupta97 I would like to work on status_code, can you assign it to me

[2019-03-13 01:34] vrajesh978 commented on #6149
Okay.

[2019-03-13 06:08] #6436 closed, assigned to DubeySandeep

[2019-03-13 10:05] ankita240796 opened #6443 "Update wiki to include instructions specific to typescript"
Update wiki to have instructions on:

- When to use typecasting
- Using `angular.mock` in karma test

[2019-03-13 13:34] YashJipkate opened #6445 "Add a lint check to detect bad merge statements."
A lint check needs to be added so that the statements such as `>>>>>>`, `<<<<<<<`, `HEAD` which emerge when a merge conflict occurs are detected before the push.

[2019-03-13 13:41] YashJipkate opened #6446 "Add a lint check to detect eslint-disable statements."
A lint check needs to be added that detects the use of eslint-disable pragmas which are discouraged in the javascript files.

[2019-03-13 13:58] bansalnitish commented on #4632
Hi @mjprince, I'm working on this issue.

Edit: Could you take some other from https://github.com/oppia/oppia/projects/27?

[2019-03-13 14:02] bansalnitish commented on #3813
Hi @mjprince, Looks like its resolved, referring to your screenshots. Thank you for the same :)

@tjiang11 could you check too if @mjprince is missing something ?

[2019-03-13 14:02] bansalnitish commented on #4252
Any updates on this @suicide11 ?

[2019-03-13 14:03] bansalnitish commented on #3677
Hi @DubeySandeep, should I move this to to-do list and make available for others too take if you're busy now ? Thanks!

[2019-03-13 14:53] bansalnitish commented on #5791
Yes, it's totally fine. Thanks for the update.

[2019-03-13 15:52] #5802 closed, assigned to brianrodri

[2019-03-13 15:52] #5590 closed, assigned to brianrodri

[2019-03-13 16:51] YashJipkate opened #6449 "Lint check for CODEOWNERS to ensure that the most important rules are at the end."
A lint check needs to be employed to ensure that the most important rules are at the end of the CODEOWNERS file.
Reference: #6438

[2019-03-14 04:55] sandeep-patel11 commented on #4252
2 of my PRs are already active, so as soon as they get merged I will start with it.

[2019-03-14 10:59] brianrodri opened #6452 "Local Prod Environment Can't Build due to Syntax Errors"
Building a local prod environment of Oppia results in syntax errors.

**To Reproduce**
 1. Run `scripts/clean.sh`
 2. Run `scripts/start.sh --prod_env`
 3. See errors

**Observed behavior**
Can not build prod environment of Oppia due to errors, specifically Syntax Errors in the following files:
- `extensions/classifiers/PythonProgramTokenizer.js`
- `core/templates/dev/head/pages/exploration_editor

[2019-03-14 16:02] bansalnitish commented on #6387
Hi @ShubhamBansal1997, @Saumitra-Shukla
How's this going on? Any updates regarding the same ?

[2019-03-14 17:02] prasadgujar commented on #6387
Hello everyone,
Sorry for the late reply(was hospitalized).
I will looking forward to work again on the issue.

On Thu, 14 Mar, 2019, 9:33 PM Nitish Bansal, <notifications@github.com>
wrote:

[2019-03-14 19:22] sanskar11 opened #6456 "Can't able to detect weather I entered a correct answer or not"
I entered a wrong code and it was not able to detect weather it is a correct or not.
It said error in the top and simultaneously displayed congratulations you are correct goto next page at the bottom.
![Screenshot from 2019-03-15 00-27-18](https://user-images.githubusercontent.com/42753402/54385379-70191a00-46bc-11e9-87fd-6badfa42c089.png)

[2019-03-14 19:31] sanskar11 opened #6457 "Voice player progress bar do not move forward as the voice continues."
In the Audio part when it reads the page **the progress bar do not move forward as it continues to read the page**. I don't know weather it is a _bug_ or a _feature_ still to be added.

![Screenshot from 2019-03-15 00-24-13](https://user-images.githubusercontent.com/42753402/54385903-bae76180-46bd-11e9-9832-8d1209967581.png)

If it moves forward as the voice progresses and if the user is able to c

[2019-03-14 19:37] DubeySandeep commented on #6456
@sanskar11, I went through this exploration and realized that the creator has built this card such that
`if your code contains "where"` then it's correct.
![image](https://user-images.githubusercontent.com/16653571/54386269-95a72300-46be-11e9-8604-15bc9def0d64.png)

[2019-03-14 19:42] sanskar11 opened #6458 "Changing the run code icon place"
When we want to run the code the run **icon is exactly in the middle**.  So it look very irritating. How if we move the icon to the bottom right and make it square.

![Screenshot from 2019-03-15 00-24-13](https://user-images.githubusercontent.com/42753402/54386357-c2f3d100-46be-11e9-9a98-e01c093a1b91.png)

**Just like there is a reset code button on the bottom left why not create a button on botto

[2019-03-14 19:42] DubeySandeep commented on #6457
@sanskar11, Thanks for reporting, this issue is fixed and will be released this month!  (see #6214 for more info)

(Closing this issue)

[2019-03-14 19:42] #6457 closed, assigned to nobody

[2019-03-14 19:52] ShubhamBansal1997 commented on #6387
@bansalnitish I have my mid sems till 16th march so will push by 17th March.

[2019-03-14 19:53] sanskar11 commented on #6456
Yaa but its wrong as it should show me a compilation error anyway before showing me Congratulations. That is how people will learn.

[2019-03-14 19:58] sanskar11 opened #6459 "No option to run the code again"
Here there is two question and even **written that run the code again to ask another question** but there is no option to run the code again.

![Screenshot from 2019-03-15 00-21-17](https://user-images.githubusercontent.com/42753402/54387520-a1e0af80-46c1-11e9-9d04-f745f960c9cf.png)

[2019-03-14 20:00] DubeySandeep commented on #6456
@sanskar11, It depends on the creator, how he wants to create an exploration, we even provide a way to add feedback if the learn's code throws an error after running.

![image](https://user-images.githubusercontent.com/16653571/54387590-cdfc3080-46c1-11e9-877c-f752ec33d1dd.png)

[2019-03-14 20:02] DubeySandeep commented on #6456
@sanskar11, You can add feedback to exploration that way the creator will be able to know about this issue!

EDIT: You'll find the feedback icon on the top right conner of the exploration player page.
 ![image](https://user-images.githubusercontent.com/16653571/54387851-6b576480-46c2-11e9-958a-1450e8892235.png)

[2019-03-14 20:04] sanskar11 commented on #6456
Ohh I didn't knew this. Okh thanks for this.

[2019-03-14 20:28] DubeySandeep commented on #6459
@sanskar11, Once you have successfully completed a card of an exploration (i.e, a new card is reachable.)  you aren't allowed to rerun/edit the interaction.

Closing this issue as it's an expected behavior!

[2019-03-14 20:28] #6459 closed, assigned to nobody

[2019-03-14 22:31] vishnkr commented on #5134
Hi, I'm new to open source and while going through the coverage report for core.domain.activity_jobs_one_off, it seems like the pass statement in reduce is the problem. Should this be removed or is the function supposed to do something?

[2019-03-14 22:31] DubeySandeep commented on #6446
@YashJipkate, can you please add more details to this issue (As it's labeled as "good first issue")? OR move this to "Project-specific starter issue".

[2019-03-14 22:37] DubeySandeep commented on #6445
@YashJipkate, I think this is already implemented
https://github.com/oppia/oppia/blob/e926756802fb70f6a6b22808663337ea645a6b6d/scripts/pre_commit_linter.py#L108-L115

If not, then can you please add more details to this issue like which file needed to be worked on how one can test this or any similar PR (As it's labeled as "good first issue")? OR move this to "Project-specific starter issue".

[2019-03-14 22:44] bansalnitish commented on #6387
Sounds good, thanks for the update. All the Best for your MTE :).

[2019-03-14 23:42] DubeySandeep commented on #5134
Hi @vishnkr, For a complete one off job through map-reduce we need all the three static methods but reduce isn't used in that case so it just have `pass` (for more details: [link](https://github.com/GoogleCloudPlatform/appengine-mapreduce/wiki/1.2-Jobs-and-Stages)).

Also, I think you haven't signed the CLA yet, would you mind going through this "[Getting started](https://github.com/oppia/oppia/wi

[2019-03-15 04:38] vishnkr commented on #5134
@DubeySandeep Thanks for your reply! I already signed the CLA and I would like to work on core.domain.activity_jobs_one_off

[2019-03-15 06:44] YashJipkate commented on #6445
Hi, @DubeySandeep Thanks for pointing that out. This issue was encountered [here](https://github.com/oppia/oppia/pull/6441#discussion_r265023175) but on seeing the later comments I realized that the linter was turned off for the PR. I'll get back to you after @ankita240796 confirms this.
Also, removing the 'good first issue' label for now.
Thanks.

[2019-03-15 10:37] NishealJ opened #6461 "Missing CSRF_TOKEN in a request raises 500 Internal Server Error."
**Describe the bug**

If `CSRF_TOKEN` is missing in a request the error thrown is 500 Internal Server Error hence, we are getting error 500 in production which is not ideal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Remove `CSRF_TOKEN` from the request,
 2. See the error.

**Expected behavior**
Error 401 or 403 should be raised i.e unauthorized or forbidden if `CSRF_TOKEN` is missing.

[2019-03-15 11:01] #6414 closed, assigned to nobody

[2019-03-16 00:37] BenHenning opened #6465 "Update Skulpt to the newest version, and ensure distribution tests are supported"
See #6464 for context.

Skulpt was introduced over a year ago, and hasn't been updated since. We also only ran some of the tests when creating a distribution for it, and have recently disabled these. It would be nice to get these distribution tests work again as part of a general upgrade of Skulpt to the latest version.

[2019-03-16 00:44] BenHenning commented on #6465
Per https://github.com/skulpt/skulpt/releases 0.10.0 (our bound version) is actually the latest version, so there's nothing to do here. Keeping the tests check is a separate decision which will be resolved as part of that PR.

[2019-03-16 00:44] #6465 closed, assigned to nobody

[2019-03-16 03:39] aks681 commented on #5343
For this issue, it doesn't make sense to create another model to find questions linked to a skill, as QuestionSkillLink was created to do exactly that. Also, having this extra model would require continuous updates via jobs and re verifying with QuestionSkillLink to check whether the Question is actually linked with a skill.
So, it might be better to find other ways to do this, like maybe doing a

[2019-03-16 16:49] #6294 closed, assigned to import-keshav

[2019-03-16 20:44] vojtechjelinek commented on #3819
@rakshitkumarcse Hi, I tried and I'm not able to reproduce this either, but when I move the exploration towards the bottom of the screen the list doesn't move which probably should.

[2019-03-16 20:45] mighty-phoenix commented on #3819
Hey @vojtechjelinek :)
Thanks for checking. Working on the unexpected behavior of the list.
Thanks.

[2019-03-16 23:35] sophiewu6 commented on #6387
Hi, can I take ALLOWED_INTERACTION_CATEGORIES? Thanks!

[2019-03-17 00:40] ShubhamBansal1997 commented on #6387
@bansalnitish I have raised the PR https://github.com/oppia/oppia/pull/6467

[2019-03-17 04:52] Tanmay1201 opened #6468 "Improper Alignment Of Tick mark on Programming field in Category Section"
Description of  bug :- When we select the fields in the categories section, we observe that except the programming field, all the corresponding tick marks are properly aligned in that particular row itself, while in the case of programming field it is aligned in the line below that field.

Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/library
 2. Click on Category section
 3. Sc

[2019-03-17 05:14] abhaygupta97 commented on #6387
@sophiewu6 Assigned `ALLOWED_INTERACTION_CATEGORIES` to you. Go ahead! Thanks.

[2019-03-17 07:02] vojtechjelinek commented on #6468
In Firefox the bug is little bit different, the ticks are misaligned about 100px up.
![image](https://user-images.githubusercontent.com/10142938/54486628-dfdcff80-488a-11e9-8bd2-a94da47fa4d0.png) (Statistics is selected too)

[2019-03-17 11:17] anmolshkl opened #6469 "The feedback modal becomes "unscrollable" if there are too many answer choices."
**Describe the bug**
When adding a new Oppia response for an item selection interaction that has many choices (> 6 choices), one cannot scroll up and down in the "Add response" modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration, add an item selection interaction with at least 7 choices.
 2. Click on "_Add New Oppia Response_".
 3. Select "_is equal to_" in "_If the

[2019-03-17 13:49] Tanmay1201 commented on #6468
Can I try to resolve this bug?

[2019-03-17 14:49] IamRaviTejaG commented on #5134
@DubeySandeep Hello! I'd like to work on core.domain.collection_domain.

[2019-03-17 16:44] DubeySandeep commented on #5921
Unassigned @tirthbal, as this need to be fixed before this month release and we have a PR for the same at #6340 (Assigning it to @rakshitkumarcse).

[2019-03-17 17:03] DubeySandeep commented on #5134
Hi @ImRaviTejaG, I think you haven't completed the "Contributor survey form" can you please go ahead and fill this up (asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in 2nd bullet), once it's done I'll assign you to `core.domain.collection_domain`.  Thanks!

[2019-03-17 17:36] import-keshav commented on #6316
Hello @vojtechjelinek, I think base.html has refactored.
But I suggested you to PTAL once.
Thanks

[2019-03-17 17:39] jamesgeorge007 commented on #6469
@anmolshkl I would like to give it a shot :clap: I'm new here. It would be great if you could throw light on the required files to be worked upon :thinking:

[2019-03-17 21:24] kevinlee12 commented on #6469
Looks like a duplicate of #6349 :smile:

[2019-03-18 05:10] vojtechjelinek commented on #6469
Closing this because of the duplicate.

[2019-03-18 05:10] #6469 closed, assigned to nobody

[2019-03-18 12:01] jamesgeorge007 commented on #6349
@vojtechjelinek @kevinlee12  I would like to give it a shot :clap: I'm new here. It would be great if you could throw light on the required files to be worked upon :thinking:

[2019-03-18 12:43] IamRaviTejaG commented on #5134
@DubeySandeep I've filled it up. Please assign me the issue. 😄

[2019-03-18 12:44] #6426 closed, assigned to anubhavsinha98

[2019-03-18 21:10] kevinlee12 commented on #6349
@jamesgeorge007, go for it! :)

[2019-03-18 21:11] kevinlee12 commented on #6349
I'll point you in the approximate direction later today.

[2019-03-18 22:32] #6456 closed, assigned to nobody

[2019-03-18 22:33] vojtechjelinek commented on #6468
@Tanmay1201 Yes, go for it!

[2019-03-18 22:36] vojtechjelinek commented on #6412
@Saumitra-Shukla Can you please provide a more detailed description (with screenshot) of the problem you're having?

[2019-03-18 22:54] #6461 closed, assigned to nobody

[2019-03-19 07:04] #6452 closed, assigned to ankita240796

[2019-03-19 12:37] apb7 commented on #6445
@YashJipkate, can you please update this thread? Thanks!

[2019-03-19 12:50] YashJipkate commented on #6445
Closing since the issue arose because of the linter being disabled since it was a WIP PR. The check for this already exists as pointed out by @DubeySandeep.
Sorry for the delay.
Thanks.

[2019-03-19 12:50] #6445 closed, assigned to nobody

[2019-03-19 16:48] nithusha21 opened #6478 "Server error: TypeError: Unable to get property 'getStateName' of undefined or null reference"
This error occurred recently in production

[code]

**Additional context** This error occurred in the exploration player page.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the l

[2019-03-19 19:53] #5426 closed, assigned to lilithxxx

[2019-03-19 19:57] lilithxxx commented on #5134
Hi I am assigning myself `core.controllers.creator_dashboard` and `core.platform.search.gae_search_services`. Thanks

[2019-03-19 21:33] DubeySandeep opened #6479 "Customization args normalization should be done before updation"
**1. Normalization issue:**

Currently, we directly use to update the customization args for interaction and the customization args go through the normalization process in the Interaction validation stage.

What should happen instead:
A validation method is only made for validation check not for changing the data, so this issue focus on moving the normalization process from validation to the updat

[2019-03-20 08:44] apb7 commented on #2487
This has already been introduced in PR #4910 -- we do have an HTML linter. Therefore, closing this. Thanks!

[2019-03-20 08:44] #2487 closed

[2019-03-20 08:46] apb7 commented on #5060
This has been fixed -- the coverage report is now generated for each PR on CircleCI. Therefore, closing this, thanks!

[2019-03-20 08:46] #5060 closed, assigned to nobody

[2019-03-20 10:18] #4632 closed, assigned to bansalnitish

[2019-03-20 10:19] apoorv1997 commented on #6240
Can i start working on profile features?

[2019-03-20 13:57] siddhantkhandelwal commented on #6223
Hey @bansalnitish,
I tried producing this issue on Local Machine and the Main Site as well, however, am not able to.
Though, if the page is zoomed enough so as to align the elements vertically, the supplemental card is lost. This happens both in Chrome and Firefox. PTAL.
Thanks!

[2019-03-20 21:09] BenHenning opened #6481 "30 characters seems too short for misconception name"
**Describe the bug**
When creating a misconception, I find that 30 characters is not sufficient to describe it. I was trying to create a misconception about students sometimes combining the denominators of fractions rather than finding a common denominator, and had difficult finding a succinct, yet sufficiently descriptive, name which fit within that limit (see screenshot).

**To Reproduce**
Steps

[2019-03-20 21:27] BenHenning opened #6482 "It's a bit strange that 'save and publish question' is enabled without an interaction"
**Describe the bug**
When creating a question for a skill, I noticed that I can try to go ahead and create the question without filling any details. I hit an error, but the fact that the button is green makes me think I can go ahead and create this question without doing anything. This is at odds with other publish/save buttons in Oppia editors which only turn green once all errors are resolved.

[2019-03-20 21:32] BenHenning opened #6483 "The rule headers for skill questions are non-intuitive"
**Describe the bug**
When modifying a question for a skill, I find it non-intuitive that 'right answer' leads to 'Continue' but 'wrong answer' leads to 'Try Again'. This makes sense in the context of exploration states, but for questions could we more prominently call out which rules correspond to 'correct' and 'wrong'? We could indicate that wrong answers also are tried again for clarity.

Also:

[2019-03-20 21:38] BenHenning opened #6484 "Questions need drafts or non-published states"
**Describe the bug**
When modifying a question, I noticed that I couldn't save and publish it because I was not handling a misconception. I need to be able to look up this misconception, but cancelling the question makes me lose all my progress. Am I expected to open a new tab to find the misconception?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new question for a skill with a

[2019-03-20 21:40] BenHenning opened #6485 "It's not clear how to address misconceptions"
**Describe the bug**
When modifying a question, I noticed that I needed to address a misconception as part of creating the question. How do I do that? I didn't notice anything in the UI corresponding to misconceptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new question for a skill with a misconception
2. Satisfy all requirements (right/wrong answers, hint, etc.) except the

[2019-03-20 21:41] BenHenning commented on #6485
Also FWIW I now feel slightly stuck because I need to go look up the misconception and don't want to lose my progress. I filed #6484 to track that concern separately.

[2019-03-20 21:45] BenHenning opened #6486 "Question editor does not indicate how many changes are about to be published, or the what the changes are"
**Describe the bug**
When working on a skill, I noticed that changes to the skill are not reflected in the 'publish changes' button and clicking it does not yield any details as to what changed. This is at odds with the exploration editor, and feels largely missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and publish a skill
2. Make a change to the skill without publishing

**

[2019-03-20 21:46] BenHenning commented on #6485
Also, I needed to delete the misconception to continue because I actually can't figure out how to address it.

[2019-03-20 21:50] BenHenning opened #6487 "Creating a new response in a question should include whether it's right"
**Describe the bug**
When adding a response to a question, I need to save the response then indicate whether it's right or wrong. This feels like a slightly disjoint experience--I'd expect that the response is finished at one time rather than in pieces.

**To Reproduce**
Steps to reproduce the behavior:
1. Start adding a question for a skill
2. Add a response for the question

**Observed behavior*

[2019-03-20 21:56] BenHenning opened #6488 "Created question that does not correspond to a known solution"
**Describe the bug**
I created what appears to be a correct question, but I see an error that my question doesn't go to another card due to not corresponding to the correct solution. I don't understand what this means, and aren't cards only for explorations?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new question for a new skill
2. Fill out the entire question with responses, a

[2019-03-20 21:58] BenHenning commented on #6488
Ah: what I did wrong is I forgot to mark the corresponding response as correct. Can we clarify this error message? It doesn't seem right in this context since this is a question, not an exploration editor? Also, the mitigation wasn't obvious to me. The error should say something like:

"There is no correct response that corresponds to this solution. Check that there's a response with this solution

[2019-03-20 22:01] BenHenning opened #6489 "Misconceptions in questions are only enforced if the misconception was created before the question"
**Describe the bug**
See #6485 for context. If you create a misconception after a question, there's nothing enforcing the question handles it. However, questions must handle misconceptions or they cannot be saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a question to a skill
2. Add a misconception
3. Save the skill

**Observed behavior**
Nothing prevents saving the skill despite

[2019-03-20 22:01] BenHenning commented on #6485
Further confusion: I was able to re-add the misconception after adding the question. Does this mean the question is now broken since this wasn't enforced? I created #6489 to track this.

[2019-03-20 22:02] BenHenning commented on #6485
Also FWIW I don't think addressing misconceptions should be anything more than a warning to users.

[2019-03-20 22:02] BenHenning commented on #6489
Also, FWIW I think we should remind editors to consider questions when adding new misconceptions.

[2019-03-20 22:06] BenHenning opened #6490 "Questions editor only enforces misconceptions that are known when the question is started, but not added afterwards"
**Describe the bug**
See #6489 and #6485 for context. I noticed this when interacting with the other flows, but did not try to repro it later. If you create a new misconception while in the process of adding a question, that misconception will not be enforced when creating the question. Similarly, removing a misconception after starting a question prevents it from being saved.

**To Reproduce**
St

[2019-03-20 22:09] BenHenning opened #6491 "Skill successfully merged, but resulted in 'written_translations' error"
**Describe the bug**
After merging an unused skill with a used skill, the merge seemed to succeed but a 'written_translations' error occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a skill & use it in a topic
2. Create an unused skill
3. Merge the unused skill into the used skill

**Observed behavior**
The unused skill disappeared and a 'written_translations' error occurred.

[2019-03-20 22:09] BenHenning commented on #6491
This should block. Was this caused by the translations CP?

[2019-03-20 22:11] seanlip commented on #6491
/cc @DubeySandeep @aks681 -- this needs urgent fixing.

Also, we should investigate why this was not caught by the QA process.

Thanks @BenHenning for discovering!

[2019-03-20 22:11] BenHenning opened #6492 "Back navigation broken after navigating to topic"
**Describe the bug**
After navigating to a topic in the topic editor, pressing the browser's back button kept me in the same place.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the topics dashboard
2. Open a topic
3. Press browser back button

**Observed behavior**
The user stays on the same page.

**Expected behavior**
The user should go back to the topics dashboard.

**Deskt

[2019-03-20 22:13] BenHenning commented on #6491
Unfortunately, this actually resulted in my question disappearing entirely. :(

[2019-03-20 22:30] seanlip commented on #6491
Also /cc @nithusha21 -- this seems like a breakage in the QA process, and might need a postmortem.

[2019-03-20 22:37] #4931 closed, assigned to bansalnitish

[2019-03-20 23:01] seanlip commented on #6492
Although this is not WAI and should be fixed, a similar issue arises in the exploration and collection editors due to the internal routing used there. I don't think this needs to be fixed before release; we should do a full fix that addresses this issue for all the different pages that encounter it.

[2019-03-21 05:28] Tanmay1201 commented on #6468
@vojtechjelinek How do I build and test my changes?

[2019-03-21 07:00] vojtechjelinek commented on #6468
Take a look here please https://github.com/oppia/oppia/wiki/Installing-Oppia

[2019-03-21 12:49] siddhantkhandelwal commented on #6223
@nithusha21 @bansalnitish
Noob doubt :sweat_smile:
Is the vertical alignment of the content forced by the browser on zoom, or we have written code that enforces this? If latter, then where and how do I find this code?

[2019-03-21 13:18] siddhantkhandelwal commented on #4057
@ankita240796 @DubeySandeep
Can I work on CollectionPlaythroughObjectFactory.js?

[2019-03-21 13:22] siddhantkhandelwal commented on #5134
@DubeySandeep @anubhavsinha98 @apb7
core.domain.email_manager has been covered as in #6306
Please mark it completed.
Thanks!

[2019-03-21 13:32] DubeySandeep commented on #6491
@BenHenning, Thanks for reporting I'm looking into it. I tried reproducing this locally but I wasn't able to reproduce any error. Test server has some data related to topics and skills from last month which doesn't have written_translation so that can cause this issue. I've asked @aks681 to see if he can reproduce this locally. I'll add a final report after having a confirmation.

[2019-03-21 16:29] jamesgeorge007 commented on #6349
@kevinlee12 Seems that the bug arises for `omit atleast one of` option as well :thinking:

[2019-03-21 16:30] jamesgeorge007 commented on #6349
@kevinlee12 Can you point me to the required files to work with. I guess all the stylesheets are provided within `css` directory as a single file.

[2019-03-21 16:55] #6254 closed, assigned to nobody

[2019-03-21 22:22] DubeySandeep opened #6493 "Syntax error in parameter expression allows publishing exploration with warnings."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Add a parameter expression in card `{{if answer == sasasa. then "wwww" else "qqq"}} ......`
 3. See console for error.
 4. Save draft button enable, try saving draft.
 5. Publish button enable.
 6. Publish exploration.

**Observed behavior**
Syntax error in parameter expression allows saving draf

[2019-03-22 02:13] kevinlee12 commented on #6349
Hi @jamesgeorge007, sorry this fell out of my radar. There are two places where you want to look. The first place is the css file; however, we don't have all of our css attributes there. The second place would be to look in the appropriate directives, I would recommend using your browser's element inspect to see what piece of html you can find and then grep for the relevant strings. A place to sta

[2019-03-22 04:45] anubhavsinha98 commented on #6491
Hi @BenHenning @DubeySandeep @seanlip, I also tried reproducing the same error locally but was unable to do that.

[2019-03-22 05:51] seanlip commented on #6491
Here are the logs for a 500 error on /merge_skill. Does this give any insight?

[code]

[2019-03-22 06:00] DubeySandeep commented on #6491
@anubhavsinha98, Thanks for checking!

@seanlip, I think this is reproducible in test server because of the availability of old/corrupt data in the test server.

[2019-03-22 06:28] YashJipkate opened #6494 "Add check for style properties to have a space between the colon and the property value."
Currently, if a style property looks like this,
[code]
the checks are passed, whereas the correct convention is -
[code]
Therefore a lint check needs to be added to check space between the colon and the property value.

[2019-03-22 06:45] YashJipkate opened #6495 "Add check to multiline expressions ensuring line break after '(' in Python files."
A check needs to be added to ensure line break after '(' in multiline expressions in Python files.

Prohibited:
[code]

Allowed:
[code]

[2019-03-22 19:44] DubeySandeep commented on #6491
Update:
While investigating this issue in the test server @seanlip tried reproducing this issue with newly created skills and this wasn't reproducible, so we are planning to delete all the corrupt topics/skills data from the test server and we are also trying to make the necessary fix to prevent catastrophic deletion of skills data.

[2019-03-22 20:05] DubeySandeep commented on #6491
@aks681, will be working on fixing the issue of skill deletion when merge doesn't happen successfully!

(assigning this to @aks681)

[2019-03-22 20:08] DubeySandeep commented on #6491
@aks681 @BenHenning, should we still keep this as a blocking bug?

[2019-03-22 20:16] aks681 commented on #6491
I am not sure. Since we won't be doing any more migrations in this release and it seems to work with the current skill structure that we have, I think it's fine to not have this as a blocking bug for this release, but this should be checked either for the next release or any subsequent ones where a skill migration is done.

[2019-03-22 22:44] BenHenning opened #6496 "Remove above-ndb memcaching"
Per https://cloud.google.com/appengine/docs/standard/python/ndb/cache, NDB performs both in-context and NDB caching for all reads and writes, and does auto-batching for group operations. This is enabled by default, and likely leads to our own memcache operations being completely redundant. Also, NDB properly handles race conditions that can arise when reading and writing to memcache without compar

[2019-03-22 22:45] BenHenning commented on #6496
/cc @seanlip

[2019-03-22 22:47] BenHenning commented on #6496
One other benefit: NDB properly handles memcache updates within transactions (whereas we *might* not be doing this correctly now, but we rarely use transactions so I doubt we actually see bugs from this--however we should be using more transactions so this could become a worse problem over time).

[2019-03-23 06:13] bhanu256 commented on #6351
I wish to work on this issue, can anyone guide me on this

[2019-03-23 07:30] seanlip opened #6497 "Pre-commit linter should fail hard when there are no files to be checked."
**Describe the bug**
We had a gitter conversation where @ujjwalgulecha ran `python scripts/pre_commit_linter.py --verbose`. This command doesn't check anything, but a lot of output is printed so it looks as though lint checks have run.

Instead the lint script should just fail noisily in this case and say that nothing was checked.

**Observed behavior**
A lot of random output is printed.

**Expect

[2019-03-23 08:43] apb7 commented on #6497
Hi @seanlip, this is the output produced:

[code]

The output clearly states that no files have been checked and therefore, all checks pass. Why do we want the script to fail noisily when there are no files to be checked?
There are cases when changes are made to markdown files for which there are no lint checks. All checks should pass in that case.
Please let me know if I am not getting this. Than

[2019-03-23 10:06] Tanmay1201 commented on #6468
@vojtechjelinek Hey! I've reduced the font size of the category names and the problem seems to be solved in the chrome browser itself. Is it OK?
![Screenshot (31)](https://user-images.githubusercontent.com/36122870/54864699-ff0adf80-4d17-11e9-85ab-8647d0b7726a.png)

[2019-03-23 11:09] vojtechjelinek commented on #6468
I don't think that reducing the size of the font is an ideal solution, you should maybe try to change the width of the list. Also, after fixing it you should test it in various browsers and viewport sizes.

[2019-03-23 11:35] DubeySandeep commented on #4057
@siddhantkhandelwal, I've assigned you to `CollectionPlaythroughObjectFactory`, you can start working on it. Thanks!

[2019-03-23 15:10] vojtechjelinek commented on #6416
Hi @nguptaa, were you able to fix this issue?

[2019-03-23 15:13] #6341 closed, assigned to nobody

[2019-03-23 15:19] vojtechjelinek commented on #6238
Most of the libraries were removed.

[2019-03-23 15:19] #6238 closed, assigned to rahgurung

[2019-03-23 16:23] BenHenning commented on #6491
I think we need to understand exactly how this happened based on the corrupt data to be sure it’s fixed before we remove it from the blocker list. I’m concerned that we are missing the actual state that results in the bug being hit. This doesn’t seem like an intermittent issue to me, I just probably didn’t include a necessary step in the repros.

Do we have any idea how can get a local environment

[2019-03-23 16:25] BenHenning commented on #6485
This feels like a potential release blocker to me. Can someone explain how misconceptions are to be addressed in the questions editor?

[2019-03-23 17:33] DubeySandeep commented on #6491
@BenHenning, We had enabled "New structure" editor project in the test server last month (during Feb release cut) but because of some reasons we planned to enable this in the production server this month (March), so last month (Feb) QA team was able to do the testing related to "New structure" project and created dummy data for testing.

Now, this month I have added the "written_translations" fiel

[2019-03-23 19:32] nithusha21 opened #6500 "Server error: Invalid search query url"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-03-23 20:28] Tanmay1201 commented on #6468
@vojtechjelinek Thanks. I'll start working on it again by keeping these things in mind:)

[2019-03-24 05:05] Tanmay1201 commented on #6468
@vojtechjelinek While i run this on server it is showing improper alignment of tick marks as you mentioned
![Screenshot (35)](https://user-images.githubusercontent.com/36122870/54875188-44321e80-4db7-11e9-97de-d7a9eb039cba.png)

But when i run it locally, it is not showing any such errors.
![Screenshot (36)](https://user-images.githubusercontent.com/36122870/54875199-76438080-4db7-11e9-84e6-edc64d

[2019-03-24 05:11] samsaid commented on #6481
I'll work on this.

[2019-03-24 09:30] aks681 commented on #6482
Yeah, the button is green so that error messages can be shown to the learner if the question is not complete when they try to save it.
We can change this to a warning icon on relevant headers in the interaction, or an error message as tooltip on the disabled 'Save and Publish' button in the future.

[2019-03-24 09:32] aks681 commented on #6483
Yeah, this can be changed.

[2019-03-24 09:37] aks681 commented on #6484
Actually, the idea was that questions would be short (just a single interaction) was hence could be completed in just one session instead of across multiple sessions. That was why 'Save Draft' was not implemented for questions. @seanlip Should we add sessions for question creation?

About looking up the misconception, when the 'Tag with Misconception' button is clicked for an answer group that is

[2019-03-24 09:39] aks681 commented on #6485
For an outcome that is neither marked correct nor default, there is a 'Tag with Misconception' button showing on expanding the answer group editor. Using that, we can tag misconceptions with answer groups.

Will make the error message clearer.

[2019-03-24 09:43] aks681 commented on #6489
Yeah, we could have a 'Misconception not linked' or similar marks against questions on the table when new misconceptions are created, and yeah, we can inform the creator as well that the additional misconceptions should be handled in the questions.

[2019-03-24 09:46] aks681 commented on #6490
Yeah, it is because we validate it in the frontend, for which the copy of misconceptions are created when the question editor initilaizes.
@seanlip Should we move the misconception validation to the backend? In that case, these errors won't arise as any other sessions that update misconceptions would be caught by a backend validation.

[2019-03-24 09:48] aks681 commented on #6488
Ok, yeah, will change the error message.

[2019-03-24 09:52] aks681 commented on #6486
I think this was missed, will add the number to 'Publish Changes' button as well.

[2019-03-24 10:31] aks681 commented on #6491
From inspection of the code it seems that the questions are not deleted from the database itself. The code to delete old question skill links and create new ones are side by side and so one wouldn't execute without the other.
The issue was that in the frontend, the request to mark the skill as merged is done before the actual merging is done. So, here what would have happened is the old skill was

[2019-03-24 12:42] vojtechjelinek commented on #6468
Okay, it might be fixed already.

[2019-03-24 13:25] Tanmay1201 commented on #6468
@vojtechjelinek Should i raise a PR?

[2019-03-24 13:30] vojtechjelinek commented on #6468
Yes, you can.

[2019-03-24 16:44] #6316 closed, assigned to nobody

[2019-03-24 18:57] #6383 closed, assigned to nobody

[2019-03-24 18:59] vojtechjelinek opened #6507 "Replace MathJax with KaTeX"
[KaTeX](https://katex.org/) seems to be far quicker alternative for MathJax. We should investigate if the formats used in MathJax are the same as in KaTeX (probably yes) and then try to replace MathJax with KaTeX.

Possible replacement for #2506

[2019-03-25 04:01] sophiewu6 commented on #6240
Hi, can I work on Edit exploration properties (title, category, goal, language, etc) (coreEditorAndPlayerFeatures.js)?

[2019-03-25 05:04] vibhor98 commented on #5076
Hi @Jamesjay4199, have you made any progress on this issue? Please let me know if you're facing any difficulties! Thanks!

[2019-03-25 05:10] AllanYangZhou commented on #3819
Hi @rakshitkumarcse, friendly ping. Were you able to make progress on the unexpected list behavior?

[2019-03-25 06:13] mighty-phoenix commented on #3819
Hey @AllanYangZhou
I am pretty busy with other PRs now. :(
Currently deassigning myself. Will reassign later.

[2019-03-25 09:04] seanlip commented on #6497
Oh, that's a good point (re markdown files). Thanks for bringing that up!

OK, I'm fine with not failing noisily. But can we omit all the other "SUCCESS: passed" lines if the reality is that no checks were run? SUCCESS is a bit misleading here. It implies lint checks have run and succeeded whereas in reality no file has actually been linted.

[2019-03-25 09:46] NishealJ commented on #6500
Hi @nithusha21,
is  `fbclid` causing the issue? it seems me soo.

Example :

`q=hello&category=("Algorithms")&language_code=("en")` throws no error.
`q=&category=("Algorithms")&language_code=("en")&some=test ` this throws an error `Invalid search query url:` as the `some` paramter is not defined.

so `fbclid`  may be the cause I'll have a check.

[2019-03-25 15:01] jamesgeorge007 commented on #5076
@bansalnitish It would be great if you could point me to the required files to work with as I'm not that familiar with the code base :+1:

[2019-03-25 16:22] DubeySandeep commented on #5134
De-assigned @gracehu0405 because of lack of response!

[2019-03-25 17:20] kozlovvski commented on #6433
Hey, if it still isn't solved, can I go for it?

[2019-03-25 18:32] jameesjohn commented on #5076
@vibhor98, I noticed that it got assigned to someone else so instead, I worked on other issues. Thanks!

[2019-03-25 21:40] DubeySandeep opened #6509 "Create a separate protractor utils file for making changes in a state/card"
Currently, we are using `explorationEditorMainTab` for editing question in the question editor page and this makes the code less readable.

We are thinking to introduce a separate utils file for editing state/card and use this for editing state in the exploration editor page as well as a question editor page.

(for ref see [this comment](https://github.com/oppia/oppia/pull/6506#discussion_r2684580

[2019-03-25 23:24] import-keshav commented on #6507
Hello @vojtechjelinek @nishealJ, should you think it should be done in GSoC project **Upgrade Third Party Libs** ?

[2019-03-26 04:07] sophiewu6 commented on #5134
Hi, can I have core.storage.exploration.gae_models?

[2019-03-26 04:26] NishealJ commented on #6507
Hi @vojtechjelinek @import-keshav,

We are using MathJax v2.6.0 and the latest is v2.7.X they have mentioned  preview speed improvements in their changelog, lets upgrade Mathjax and see if there is any significant difference.

If not we will move to kaTex ?

[2019-03-26 06:57] vojtechjelinek commented on #6507
Comparison between KaTeX and MathJax should be done, in terms of rendering speed, the library size, simplicity and then we should decide on that comparison.

[2019-03-26 08:20] seanlip commented on #5134
Yes, I've assigned you!

[2019-03-26 08:28] seanlip commented on #6491
Hi @aks681 -- just wanted to say thanks very much for this analysis, and the resulting fix! Your explanation here is clear and I appreciate it.

[2019-03-26 08:36] seanlip commented on #6490
Hi @aks681, not sure I understand your proposal. The original issue does not have anything to do with the validation of misconceptions, as far as I can tell -- could you please elaborate?

If you're talking about validating that questions address the appropriate set of misconceptions, I think we should have this validation in both the frontend and the backend. The backend is the ultimate safeguard

[2019-03-26 08:51] aks681 commented on #6490
Yeah, that is what we are doing currently, but the issue is that while the Question is being edited, if the creator adds/deletes a misconception, that wouldn't be reflected in the validation checks, as the frontend end validation takes a copy of the misconceptions list when question creation starts. Whereas, those changes would be reflected in a backend validation check.
So, the only way to create

[2019-03-26 08:56] seanlip commented on #6490
Ah, I see. I think you'll still want both, though. This sort of situation shouldn't arise very often, and if the question passes through the frontend and ends up being rejected by the backend, the frontend could perhaps immediately fetch the updated misconceptions from the backend and show a toast saying "Misconceptions updated, please recheck." Then the creator could rework the question using the

[2019-03-26 09:00] aks681 commented on #6490
Yeah, that sounds good. Maybe expanding on that, how about we add a refresh misconceptions button itself in the question editor somewhere, so that the creator can refresh after they have edited the misconceptions list?

[2019-03-26 09:01] aks681 commented on #6491
Thanks!

[2019-03-26 09:03] seanlip commented on #6490
Yes, that sounds good too. Although it might be confusing to the creator (they may wonder why they need to bother doing that). Maybe we should omit that for now until we can find a way to signal that an update is pending from the server side (or perhaps via polling) so that we can display the prompt when it's actually needed?

[2019-03-26 10:29] #6485 closed, assigned to nobody

[2019-03-26 10:29] #6486 closed, assigned to nobody

[2019-03-26 10:29] #6487 closed, assigned to nobody

[2019-03-26 10:29] #6488 closed, assigned to nobody

[2019-03-26 10:29] #6483 closed, assigned to nobody

[2019-03-26 11:12] YashJipkate opened #6513 "Increase the reachability of sorted imports check for JS files for the low level controllers."
Currently, the sorted imports check only checks for sorted imports for the top level directive/controller/factory. A more robust check needs to be employed that checks for sorted imports in the lower levels too, thus preventing issues like [this](https://github.com/oppia/oppia/pull/6506#discussion_r268457970) and [this](https://github.com/oppia/oppia/pull/6472#discussion_r268911189) from happening

[2019-03-26 13:39] #6491 closed, assigned to aks681

[2019-03-26 13:39] aks681 commented on #6491
Closed from #6506.

[2019-03-26 15:59] netajik commented on #5134
Hello @lilithxxx , would you review my PR #5913  once. Thank you

[2019-03-26 19:12] rafalk342 commented on #6417
I can confirm that this problem occurs on the production site. It's strange that it's working just fine on develop environment.
Production:
![image](https://user-images.githubusercontent.com/6303229/55026435-50aab700-5003-11e9-8b7b-eaf6f47a9b4f.png)
Develop:
![image](https://user-images.githubusercontent.com/6303229/55026491-64561d80-5003-11e9-9c4e-f3a6ddb79222.png)

It's related to https://github

[2019-03-26 20:10] BenHenning commented on #6490
This seems like a general issue when trying to coordinate two different structures that are updated independently of one another, but have dependent variants. How essential is it that misconceptions are handled, or could we defer those? E.g. if we detect unhandled misconceptions and expose them in a separate UI, then misconceptions and questions can be worked on seamlessly in parallel and misconce

[2019-03-26 20:21] seanlip commented on #6490
I would say it is deferrable, because if a misconception list for a skill is updated, the questions that are in the datastore would still be consistent with the older list of misconceptions. That said, I think it would be nice to keep things as updated as possible at the source where possible, but you're correct that the consistency can be handled in a deferred way.

[2019-03-26 20:25] ulloaluis commented on #5134
schema_utils.py full coverage testing is now complete and can be moved to the "Completed" section! Here's the merged PR: https://github.com/oppia/oppia/pull/6432

[2019-03-26 20:48] rafalk342 commented on #6494
Can there be a space between colon and property name?
Example:
`.oppia-teach-button {
      display : block;
}`

[2019-03-26 20:59] seanlip commented on #6494
There shouldn't be (and the '{' should end the line).

I.e.

[code]

[2019-03-26 22:36] seanlip commented on #5134
Thanks @ulloaluis! I've updated the checklist :)

[2019-03-27 10:52] ay11111111111 commented on #6240
Hi! Could you review my PR? Did I make a PR right?) https://github.com/oppia/oppia/pull/6512

[2019-03-27 14:29] NishealJ commented on #6507
Hi @vojtechjelinek & @import-keshav,

I’ve upgraded MathJax to 2.7.5, i dint find any noticeable change after upgrade in terms of speed and library size.

I’ve added upgrading MathJax to 2.7.5 in my GSOC proposal for the project Upgrade Third-party Libraries. Can i also an alternative option of  moving into KaTex with a detailed design and comparison docs?

[2019-03-27 14:31] rafalk342 commented on #6159
This event occurs after url _/explorehandler/stats_events/<exploration_id>_ is hit. But when I try to hit the page with curl, another error is occurring _{"status_code": 500, "error": "'NoneType' object has no attribute 'get'"}_. Probably I need to hit the page with more consideration.

Looking at _get_exploration_stats_by_id_ I suspect that there can be no ExplorationStatsModel for given exp_id a

[2019-03-27 14:33] #6322 closed, assigned to nobody

[2019-03-27 15:37] NishealJ commented on #6507
Hi,

Seems like there is no KaTex plugin for CKEditor-4 & CKEditor-5 they only have it for MathJax.

[2019-03-27 17:06] bansalnitish commented on #5076
Hi @jamesgeorge007, could you use the inspect element and look through the html and css stuff and then search the corresponding text in the code base ? Let me know if this doesn't work, I'll help you out :).

[2019-03-27 17:27] Tanmay1201 commented on #6507
@vojtechjelinek  Can I work upon this?

[2019-03-27 17:30] bansalnitish commented on #6232
Ping @DubeySandeep @nithusha21

[2019-03-27 17:31] bansalnitish commented on #3813
I'm closing this issue. Please free to open if the issue still exists. Thanks!

[2019-03-27 17:31] #3813 closed, assigned to nobody

[2019-03-27 17:33] bansalnitish commented on #6285
@mjprince would you like to take up this issue? You could take help from the PR #6380.

(@yashdusing isn't currently working on that PR)

[2019-03-27 17:35] bansalnitish commented on #6149
Are you planning to submit a PR for this issue @vrajesh978 ? (I think it's taking a bit longer!)

[2019-03-27 17:38] DubeySandeep commented on #6232
@bansalnitish, I had a discussion on this with @import-keshav and I wasn't able to suggest anything on this so I had asked @import-keshav to ask/discuss this with @nithusha21 as he may have a better idea of "how we should resolve this issue" (as Nithesh has discussed this with Sean in detail, see above comments).

@import-keshav, are you agree with this?

Also, sorry for not updating this thread w

[2019-03-27 17:39] bansalnitish commented on #6219
Assigning to myself. (There has been no reply from @jeeb0xical since 15-20 days on the PR)

[2019-03-27 17:41] bansalnitish commented on #5867
Hi @DubeySandeep, when are you planning to take this up?

[2019-03-27 17:42] import-keshav commented on #6232
Thanks @DubeySandeep, for the response.
And sorry i forget about it to discuss with @nithusha21.
I will discuss with @nithusha21 and give updates ASAP.
Thanks.

[2019-03-27 17:42] bansalnitish commented on #5791
Hi @vibhor98, any updates on this issue?

[2019-03-27 17:54] DubeySandeep commented on #5867
@bansalnitish, we have deprioritized this issue as of now as we are changing the look of the translation tab (#6503) and we will be concentrating on this later, as this will need a different approach with the new design.

[2019-03-27 18:07] bansalnitish commented on #5867
Should we remove this from the bug fixing team then? (Since this is low priority bug now!)

[2019-03-27 18:09] bansalnitish commented on #6232
Great, thanks for the update @DubeySandeep, @import-keshav!

[2019-03-27 18:16] vibhor98 commented on #5791
Hi @bansalnitish, sorry for missing the deadline. Actually I understood the implementation part but still the bug isn't resolved fully. I'll do that on priority basis.

[2019-03-27 18:21] bansalnitish commented on #5791
Sounds good, thank you :)

[2019-03-27 18:59] DubeySandeep commented on #5134
@gauravzqa, @siddhantkhandelwal, @jacoblipech, @lilithxxx, @adityaprakash-bobby, @gurungrahul2, @ishan-gaur, @princebansal42, @rajibmitra, @alti-tude, @dev-ritik, @kmAyush, @nikhilmudholkar, @ImRaviTejaG, @rakshitkumarcse, @CyberDrudge, @bansalnitish, @ShubhamBansal1997, @akeeoaobh, @aryan2305, @nishikeshKardak, @lilithxxx, @CelineDknp, @amydunphy:

Any update on the assigned part of this issue?

[2019-03-27 19:00] DubeySandeep commented on #5134
Unassigned @aniket7joshi due to lack of response!

[2019-03-27 19:03] vojtechjelinek commented on #6507
@nishealJ You can analyze it in your GSoC proposal.

[2019-03-27 19:11] anubhavsinha98 commented on #5134
Hi @DubeySandeep sorry for not addressing in the comment section, I assigned myself two files subtopic_page_services & subtopic_page_domain. The PR for the former is merged and for the latter has been created.

[2019-03-27 19:13] lilithxxx commented on #5134
Hi @DubeySandeep in my PR I have addressed the review comments and its ready for review. I will ping @nithusha21 for the review again (already done so before though). Thanks

[2019-03-27 19:41] import-keshav commented on #6232
Hello @nithusha21, can you please address this comment

[2019-03-27 21:00] seanlip commented on #6159
One thing we could do is to write a one-off MapReduce validation job that iterates through all exploration IDs and tries to fetch all stats models for versions from 1 to the latest version. If any is missing, it prints out an error with the missing model IDs and versions. We can run the job and look to see what the errors are, to confirm/deny the hypothesis. (Note that the MR job would not write t

[2019-03-27 21:48] vrajesh978 commented on #6149
@bansalnitish Yes. I am working on it. I am stuck because I got an error while running `bash scripts/run_presubmit_checks.sh`.
Here is an error
![error_oppia](https://user-images.githubusercontent.com/12140464/55114287-e56eec80-50b7-11e9-8104-fae8123e9df6.png)

and Line 27 is as follow
[code]

[2019-03-28 00:08] seanlip commented on #5867
It's relatively low priority for the audio translation team (since they have a bunch of urgent issues to handle), but I actually think this is quite a high priority bug as a whole (I've had user complaints about it). So I don't think we should remove it -- in fact, we should find a way to fix it. Though I would defer to @DubeySandeep on when the appropriate time to fix it is (it sounds like this m

[2019-03-28 02:19] vrajesh978 commented on #6149
@bansalnitish @vojtechjelinek  Is error because I am using `async` and `await`?

[2019-03-28 04:54] anubhavsinha98 commented on #6159
Hi @rafalk342, would you like to take this up, if yes feel free to assign you. Thanks!

[2019-03-28 07:03] vojtechjelinek commented on #6149
It might, we don't really use async and await flow in our codebase.

On Thu, Mar 28, 2019, 3:21 AM Vrajesh Mehta <notifications@github.com>
wrote:

[2019-03-28 10:20] #6206 closed, assigned to bansalnitish

[2019-03-28 14:12] vrajesh978 commented on #6149
Okay. I will find an alternative for async and await.

[2019-03-28 16:30] nithusha21 opened #6523 "TypeError: Unable to get property 'charAt' of undefined or null reference"
This error occurred recently in production
[code]

**Additional context** This occurred from the /create view for explorations.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the

[2019-03-28 20:22] anubhavsinha98 commented on #6497
Hi @seanlip, @apb7 we can add a return statement before the check runs if there are no files found for that check.
For example:
```No files found for Docstring check``` etc. for other checks.
Any suggestions here?

[2019-03-28 20:28] seanlip commented on #6497
I'll defer to @apb7 to advise on the mechanics. As long as we make it really clear/obvious that no files have been checked, I'm fine with whatever solution the dev workflow team comes up with.

[2019-03-28 20:29] anubhavsinha98 commented on #6497
@YashJipkate, @lilithxxx any suggestions here? Thanks.

[2019-03-29 03:07] jamesgeorge007 commented on #5076
@bansalnitish @ishucr7 @nithusha21 I tried it out and can't reproduce it within chrome :thinking:
Can you let me know the exact breakpoints where you experience the UI bug ?

[2019-03-29 06:24] bansalnitish commented on #5076
Hi @jamesgeorge007, have you tried what Nithesh said here: https://github.com/oppia/oppia/issues/5076#issuecomment-398324127?

[2019-03-29 17:50] apb7 opened #6527 "Lint checks do not fail in case of errors on CircleCI"
**Describe the bug**
The lint checks do not fail on CircleCI. This is due to the tests not being able to finish. We had a similar problem on Travis wherein we had to finetune the [timeout_multiplier](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L1077). I think a similar thing needs to be done for CircleCI.

**Additional context**
As an immediate measure, the lint checks

[2019-03-30 01:14] anubhavsinha98 commented on #6497
Hi @apb7, suggestions here?

[2019-03-30 04:59] YashJipkate opened #6531 "[Server Error] Console error in CKEditor in story editor: Cannot read property 'type' of null."
**Describe the bug**
A console error pops up while using the CKEditor while editing a story for a topic.

**To Reproduce**
Steps to reproduce the behavior:
 1. Assign 'Admin' role to yourself in the Roles section of Admin page
 2. Go to /topics_and_skills_dashboard.
 3. Click on 'Create Topic'. Enter topic name and click 'Create Topic'
 4. Click on 'Create Story'. Enter the name and click 'Create

[2019-03-30 08:18] anubhavsinha98 commented on #6159
Hi @rafalk342, ping!

[2019-03-30 09:03] aks681 commented on #6531
Hi @YashJipkate . Can you provide more context? Was this found on develop? As I am not able to reproduce this on the test server or on develop locally.

[2019-03-30 09:39] YashJipkate commented on #6531
@aks681 I followed the exact same steps and got the error again when I tested just now. I am afraid I don't have any additional context. Is your develop up-to-date? Have you followed the exact same steps? Are you testing in the same browser?

I will also try to check with some other guys and let you know.

Thanks!

[2019-03-30 09:42] seanlip commented on #6531
Perhaps both of you could do a quick hangout + screenshare?

[2019-03-30 09:46] YashJipkate commented on #6531
Good idea, I'll ping @aks681 for the same
Thanks.

[2019-03-30 10:08] aks681 commented on #6531
Ok, though I updated develop and tried again, and was still not able to reproduce this.
From your configuration, the only difference I have is I am running Chrome 73.0.3683.86 for Ubuntu 18.04.

[2019-03-30 10:20] YashJipkate commented on #6531
@aks681 Oh I got it. Thanks to @import-keshav, I actually had the Grammarly Chrome extension enabled and the CKEditor seems to have some problem with it. Since you probably won't be having that extension, therefore it was not reproducible in your case.

So this should be closed, right?

[2019-03-30 10:30] nithusha21 commented on #6531
I think that might actually be the issue. I can reproduce this with Grammarly on, but I can't when it is off. Thanks for checking! Let's close this for now, as it doesn't seem to have an impact on the UX, let's get back to it later if required.

[2019-03-30 10:43] aks681 commented on #6531
Oh, ok. Yeah, I don't have it. Thanks for checking!

[2019-03-30 19:21] bansalnitish opened #6534 "Server Error: Error while running jobs as Admin on local host"
Steps to reproduce:
1. Login as Admin
2. Go to the Admin Panel.
3. Under activities reload any exploration (say welcome.yaml)
4. Go to jobs and run any job.

Observe Behaviour:
You'll get a server error:
![image](https://user-images.githubusercontent.com/22434689/55280698-174db080-534f-11e9-9048-97440c0908e6.png)

Expected Behaviour:
Job should run cleanly and produce the desired output.

[2019-03-30 20:42] import-keshav commented on #6276
@jeeb0xical are you still working on it ?

[2019-03-30 21:51] seanlip commented on #6534
Wow, not sure why this wasn't caught before. I looked at older releases and it seems to have been around for a while...

Seems related to https://github.com/GoogleCloudPlatform/appengine-pipelines/issues/72 -- maybe solvable by upgrading that library?

[2019-03-30 21:53] seanlip commented on #6534
Ah, interesting. Reading https://github.com/GoogleCloudPlatform/appengine-pipelines/issues/71 I think this happened because we pulled "version: " out of the app.yaml file for the new gcloud deploy process. Unfortunately appengine-pipeline doesn't like that.

That project does not seem to have been updated for a while, so there's no newer version to upgrade to. I'll take this issue and see if a fix

[2019-03-30 22:00] DubeySandeep commented on #6240
@nishikeshKardak, any update on the assigned issue?

[2019-03-30 22:29] #5921 closed, assigned to mighty-phoenix

[2019-03-30 23:29] #6181 closed, assigned to nobody

[2019-03-30 23:34] seanlip commented on #6531
For reference: https://github.com/ckeditor/ckeditor-dev/issues/1350

[2019-03-31 02:34] manyaagarwal commented on #5134
Hi! @DubeySandeep

Can I work on 'core.controllers.learner_dashboard' ?

[2019-03-31 03:07] nishikeshKardak commented on #6240
@DubeySandeep please unassigned this issue for me. I'm currently working on backend tests.

[2019-03-31 04:00] DubeySandeep commented on #6240
@nishikeshKardak, Thanks for the update, I've unassigned your from this issue.

[2019-03-31 04:55] nishikeshKardak commented on #6240
Thanks @DubeySandeep :)

[2019-03-31 06:29] DubeySandeep opened #6536 "Allow exploration owner to ask for community help to translate or voiceover their exploration"
Allow creators to ask for the need of community help to translate or voiceover their explorations in different languages once they publish their exploration.

- [ ] Creating backend structure for this sub-project.
- [ ] Adding related UI.

Note: This is a part of the "Community-based voice-over and translation" project, the project plan can be found [here](https://docs.google.com/spreadsheets/d/1N

[2019-03-31 10:04] seanlip opened #6538 "Title of Ratios landing page is wrong."
**Describe the bug**
The Ratios landing page has the title "Fractions", which is misleading.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/learn/maths/ratios

**Observed behavior**
The title of the page is "Fractions"

**Expected behavior**
The title of the page should be "Fractions"

**Screenshots**
![Screenshot from 2019-03-31 03-03-07](https://user-images.gi

[2019-03-31 19:30] #6285 closed, assigned to NishealJ

[2019-03-31 19:51] ShubhamBansal1997 commented on #5134
@DubeySandeep I have raised the PR https://github.com/oppia/oppia/pull/6517

[2019-03-31 19:54] anubhavsinha98 commented on #5134
Hi, @manyaagarwal assigned to you. Go ahead.

[2019-04-01 06:31] bansalnitish commented on #4252
@suicide11 any updates now on this issue ?

[2019-04-01 06:33] seanlip opened #6542 "Add more details to exploration feedback so that they can be addressed more easily."
I just got a piece of feedback on a lesson along the following lines:

However, I couldn't figure out which question in the lesson was being referred to. Would it be possible to include the state name when feedback is submitted, so that the lesson creator can see it and figure out what state the feedback pertains to? This would help with resolving issues.

(Another possible idea would be to ask th

[2019-04-01 06:34] seanlip commented on #6542
Also, @nithusha21, a question for you: how feasible would attaching a state name be with the current generalized feedback system?

(Assigning you for now, since I think it's important to have an answer to this on the thread, but please feel free to deassign yourself once you've answered.)

Thanks!

[2019-04-01 13:16] jathusan123 commented on #3950
Hi there is there any tasks that can be assigned for me and i have already completed the survey

[2019-04-01 13:56] jathusan123 commented on #5002
Hi there can i work in any tasks??

[2019-04-01 14:23] jathusan123 commented on #5002
Can i work in csrf_token or status_code?

[2019-04-01 19:03] nithusha21 commented on #6232
That could potentially work, though this could become a problem for stale tabs (that are open for a long time). Maybe we trigger the event only when the user clicks on something on the page or starts editing something on the page, or something like that, after being inactive for a threshold time. The threshold would need to be decided based on the set threshold by GAE I guess?

Also sorry, I someh

[2019-04-02 04:03] anmolshkl opened #6546 "Animated GIFs are not animating"
**Describe the bug**
Animated GIFs provide a powerful way of conveying information in the lessons. However, animated GIFs are not playing in the lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Add an animated GIF with several frames to the content section of the exploration
 3. Play the exploration

**Observed behavior**
The GIF will not animate.

[2019-04-02 04:18] seanlip commented on #6546
Hi @anmolshkl, any chance you could attach the animated gif you were using to this issue thread? It would make it a bit easier for others to reproduce this since it reduces the need for them to create one directly.

Thanks!

[2019-04-02 04:50] sophiewu6 commented on #6240
Hi, can I take Edit exploration properties (title, category, goal, language, etc) (coreEditorAndPlayerFeatures.js)?

[2019-04-02 05:40] DubeySandeep commented on #6240
Hi @sophiewu6, I've assigned you to `Edit exploration properties` part of this issue, you can start working on it. Thanks!

[2019-04-02 06:26] EricZLou commented on #5134
Hi! Can I be assigned to learner_progress_services.py?
Thanks!

[2019-04-02 06:29] DubeySandeep commented on #5134
Hi @ezl-13, I've assigned you to  `learner_progress_services.py`, you can start working on it. Thanks!

[2019-04-02 06:38] DubeySandeep commented on #5134
@ShubhamBansal1997, Thanks for the update!

(@gauravzqa, @siddhantkhandelwal, @jacoblipech, @adityaprakash-bobby, @gurungrahul2, @ishan-gaur, @princebansal42, @rajibmitra, @alti-tude, @dev-ritik, @kmAyush, @nikhilmudholkar, @ImRaviTejaG, @rakshitkumarcse, @CyberDrudge, @bansalnitish, @akeeoaobh, @aryan2305, @nishikeshKardak, @CelineDknp, @amydunphy):

 Unassigned form the issue bacause of lack of

[2019-04-02 06:41] DubeySandeep commented on #5134
@anubhavsinha98, @lilithxxx Thanks for the update, can you please update the issue top comment with the PR id (also move them to completed section if already resolved.)?

[2019-04-02 07:56] rafalk342 commented on #6494
Why this issue wasn't automatically closed?

[2019-04-02 08:02] seanlip commented on #6494
This is not gonna be the most satisfying answer ... but sometimes GitHub works (or doesn't work) in mysterious ways. (I.e., I actually don't know why the corresponding issue sometimes gets closed and sometimes doesn't.)

Closing it manually, in this case. Thank you very much for pointing this out (and for fixing the bug)!

[2019-04-02 08:02] #6494 closed, assigned to rafalk342

[2019-04-02 11:48] YashJipkate commented on #6494
/cc @seanlip
Actually @rafalk342, you mentioned the wrong issue number in your PR. The GitHub system looks for keywords in the PR description and not the PR title. I have modified the issue number in your PR but only after it merged (didn't notice earlier).
And that's the reason this wasn't closed automatically.
Thanks

[2019-04-02 12:00] anubhavsinha98 commented on #6497
Hi @apb7, ping.

[2019-04-02 12:50] import-keshav commented on #6542
Hello @seanlip, @nithusha21
I go through the issue and I think there can be 2 approachs for solving this

- First is to create one checkbox in the feedback form( like - [ ] Feedback for particular card ), so when user clicks on checkbox then state name will be saved so that the lesson creator can see it and figure out what state the feedback pertains to.

- The second way to tackle this is to crea

[2019-04-02 13:30] import-keshav commented on #6232
Ok, so i think the best solution to do is
1) When request is going to server for saving exploration, so before making request to server for saving, check whether the user is logged in or not.
2) If the user is logged in then the request for saving will be sent.
3) But if the user is logged out, redirect the user to the login page for login and then send the newly updated exploration for saving, or

[2019-04-02 15:05] rafalk342 commented on #6417
@abhaygupta97 @seanlip I think this issue can be closed, because of the realease-2.8.0.

[2019-04-02 15:07] rafalk342 commented on #6431
Just for information, I added PR that removes mentioned issue.
https://github.com/ckeditor/ckeditor-dev/pull/2997

[2019-04-02 15:44] ankita240796 commented on #6431
That is great, Thanks @rafalk342!

[2019-04-02 16:57] open-source-explorer commented on #6062
@anubhavsinha98 Is this issue still available to take up :thinking:

[2019-04-02 17:13] jamesgeorge007 commented on #5076
@bansalnitish @nithusha21 I tried couple of ways to reproduce the bug, still everything appears to be working fine. It would be great if you guys could let me know about the exact breakpoints for further examination :clap:

[2019-04-02 17:13] #6534 closed, assigned to seanlip

[2019-04-02 17:21] #6538 closed, assigned to DubeySandeep

[2019-04-02 17:23] vojtechjelinek commented on #5597
`PageTitleService` was created in #6539, so now this should be just about using that service everywhere.

[2019-04-02 17:27] bansalnitish commented on #5076
Hi @jamesgeorge007, I remember there was as such no fixed way to reproduce this issue. You need to play with the resizing thing and while doing that, at some point the issue is reproducible.

Do you have some fixed way to reproduce @nithusha21 ?

[2019-04-02 19:26] anmolshkl commented on #6546
Sure, here is the image that I have been trying to use in one my lessons -
![Christmas-lights-string-lights-animated](https://user-images.githubusercontent.com/6338799/55430230-2cbf1680-55ab-11e9-956a-682d6f5c3846.gif)

[2019-04-02 19:30] seanlip commented on #6417
OK, thanks! Closing.

[2019-04-02 19:30] #6417 closed, assigned to abhaygupta97

[2019-04-02 19:36] seanlip commented on #6494
Ah, thanks a lot @YashJipkate! I didn't catch that. That sounds like the right explanation, yeah.

[2019-04-02 20:08] DubeySandeep commented on #6062
@open-source-explorer, Yeah this issue is open you anyone to work, but before that would you mind filling up the contributor survey form (As asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in the 2nd bullet)? Once it's done, you can start working on this issue. Thanks! :)

[2019-04-02 20:17] #5530 closed, assigned to abhaygupta97

[2019-04-02 20:23] nithusha21 commented on #6232
I don't see how you can do what you mention in the third point (It might be too complex). If that is possible to do cleanly, then I would agree with your approach. Otherwise, I would lean towards another simpler solution.

[2019-04-02 20:32] nithusha21 commented on #6542
Actually, while generalizing the feedback threads we had removed the state_name parameter (We used it only to know which state suggestions were linked to, in the old system).

Adding state name is technically easy to do (In the backend at least), but the issue is generalizability. The state name is only for explorations. Maybe, we can have this as an optional field in the model (and only for feedb

[2019-04-02 22:01] seanlip commented on #6542
Thanks, @nithusha21!

I think we can default to having the title be "Feedback for this card" with the option for the learner to change it to "Feedback for the lesson" if they wish. That said, if a piece of feedback relates to the lesson generally, I *think* it would probably be clear from the feedback content.

One other idea I had was to include the state name in the text of the feedback, i.e. if

[2019-04-03 01:18] DubeySandeep opened #6548 "Convert the current per-exploration translator role to a voice-artist role."
Currently, we have a translator role in the exploration and user with such role can add audio translations as well as written translation to exploration, but we want to have a separate role for a user who can only upload audio for the exploration.

**Note**:
- This role will be known as "voice-artist" and they can only access content_ids_to_audio_translation part of the state.
- Written translatio