[2016-08-12 18:14] seanlip commented on #2365
Ack. Note that this refers to the tile view, in addition to the list view mentioned in #2241.

Btw, @526avijitgupta, just to check, this is something you can fix soon, right?

[2016-08-12 18:15] seanlip commented on #2260
OK, thanks! Closing.

[2016-08-12 18:15] #2260 closed

[2016-08-12 19:46] souravbadami commented on #2244
@seanlip -- The new implementation looks like this.
![2244a](https://cloud.githubusercontent.com/assets/11073943/17634945/832ff332-60f2-11e6-8afc-5e8dda4e89c4.gif)

[2016-08-12 20:33] seanlip commented on #2244
Looks great, thanks @souravbadami!

[2016-08-12 23:05] seanlip commented on #2244
Fixed in #2373. Thanks @souravbadami!

[2016-08-12 23:05] #2244 closed

[2016-08-13 04:20] seanlip commented on #2371
Fixed as part of #2374. Thanks for reporting, @gvishal!

[2016-08-13 04:20] #2371 closed

[2016-08-13 07:02] seanlip commented on #2370
I'm not sure we can do this? It seems like an App Engine thing...

[2016-08-13 07:04] seanlip commented on #2370
I did find this though. It may be something that each developer would have to set up locally if they want it: http://stackoverflow.com/questions/1285372/how-does-one-make-logging-color-in-django-google-app-engine

[2016-08-13 07:09] seanlip commented on #2163
Hi @abhsag24 -- this is quite a serious error, and it's currently happening in production, so we are going to make a hotfix for it. I've committed one [here](https://github.com/oppia/oppia/pull/2374/commits/bea891a22be3398c143d45ecd81738bbf4100319) which should fix the issue, so I'm closing this thread. Hope that's OK -- I'll find you something else to do!

[2016-08-13 07:09] #2163 closed

[2016-08-13 07:10] BenHenning opened #2375 "Frontend JS files should be wrapped in IIFEs"
As discussed in detail in http://benalman.com/news/2010/11/immediately-invoked-function-expression/, IIFEs are a way of avoiding pollution of the global scope. Since Oppia uses Angular for scoping and privacy, we should avoid polluting the global scope in every circumstance. Beyond that, it lends us flexibility to utilize some more powerful and cleaner patterns for creating our object factories an

[2016-08-13 07:36] abhsag24 commented on #2163
cool :)

[2016-08-13 07:40] seanlip commented on #2357
@abhsag24 -- could you take a look at this? Thanks!

[2016-08-13 11:44] sourabhswain commented on #2350
Can anyone help me out here ? Wrapping the whole notification inside an anchor link causes problems in the page. So I decided to do this :

`<a style = "display:block" ng-href = "http://localhost:8181/create/<[notification.activity_id]>#/feedback">`

Or should this be done in some other way.

[2016-08-13 19:52] abhsag24 commented on #2357
sure :D , i'm just busy with some stuff atm, btu i'll get to it soon :)

[2016-08-14 04:36] seanlip commented on #2350
Hi @sourabhswain -- this seems reasonable to me, as long as you preserve the existing behaviour and functionality!

[2016-08-14 04:36] gvishal commented on #2110
@BenHenning @seanlip Should we mark this as closed. We have added caching to all the static resources as part of #2100.

[2016-08-14 04:37] seanlip commented on #2110
Yep, sgtm. Closing!

[2016-08-14 04:37] #2110 closed

[2016-08-14 05:08] wxyxinyu commented on #2230
@billfinch -- Yes, there are other i18n json files, such as assets/es.json. In I18nDictsTest, the i18n json files are being looped over with
[code]

Hope this helps!

[2016-08-14 07:53] seanlip opened #2376 "At the end of an exploration that's part of a collection, the next exploration in the collection should be clearly highlighted."
When playing through the ["Programming with Carla" collection](https://www.oppia.org/collection/inDXV0w8-p1C) on Oppia.org, I noticed these recommendations at the end of the collection:

![bad-recs](https://cloud.githubusercontent.com/assets/10575562/17647916/606db22c-61b9-11e6-8b74-83723fdfc92a.png)

These seem mostly random. I think that, at the end of an exploration that's being played in the c

[2016-08-14 08:03] seanlip commented on #2297
Hi @chipperatkins -- how's this going?

[2016-08-14 08:04] wxyxinyu commented on #2376
I recall this was the behavior previously. Is this a regression?

[2016-08-14 08:06] seanlip commented on #2376
Yes. Checked with @BenHenning and he believes it's a regression too. (I couldn't recall what the previous behaviour was.)

[2016-08-14 08:21] wxyxinyu commented on #2376
previous behavior was to show 1 exploration which was the next one in the collection.

[2016-08-14 13:23] arunabh98 opened #2377 "The RTE toolbar should flow down the card as the card gets longer so that it is accessible everywhere"
When creating explorations sometimes the card gets too long (especially in cases in which one card has multiple images), somewhat like this:

![image](https://cloud.githubusercontent.com/assets/13691317/17649302/676575ba-624f-11e6-9a8f-f97ff0bb6946.png)
![image](https://cloud.githubusercontent.com/assets/13691317/17649311/88bfb356-624f-11e6-96ab-db05b7816629.png)

So if I am writing something at t

[2016-08-15 02:49] Arunabh98 opened #2378 "Discussion Forum for explorations"
Every exploration should have a discussion forum where learners could ask questions about topics they don't understand or just share something related to the exploration which they find interesting. Creators and even other explorers could answer the questions and thus promote healthy discussions on the topics. This will help build a healthy learning community!

[2016-08-15 02:58] seanlip commented on #2128
@kevinlee12 -- ping?

[2016-08-15 02:58] seanlip commented on #1970
Hi @szangaro, are you still looking into this? If not, please let us know, so that we can deassign you. Thanks!

[2016-08-15 03:07] kevinlee12 commented on #2128
Hi @seanlip, I edited the description directly :)

On Sun, Aug 14, 2016 at 7:58 PM, Sean Lip <notifications@github.com> wrote:

[2016-08-15 03:08] seanlip commented on #2128
Oh, so you did. Thanks!

[2016-08-15 05:27] gvishal opened #2380 "Remove js inlining from objects/templates"
This is in continuation with https://github.com/oppia/oppia/pull/2356 .

- [ ] Remove js inlining from objects/templates

[2016-08-15 07:12] seanlip opened #2381 "Find and fix memory leaks in the editor."
The editor page seems to get slower the more it is used (during a single session). We should figure out why this is happening, and fix it. It's probably due to some sort of memory leak.

Here's a suggested set of steps to resolve this issue:

1. Learn about memory leaks and profiling. For example, searching online for "how to find memory leaks in angular" brings up articles like [this one](http://

[2016-08-15 07:16] seanlip opened #2382 "The progress dots are a bit hard to navigate with."
To reproduce:
1. Log in as an admin, then go to /admin and load the "Welcome" demo exploration.
2. Go to /explore/0 and choose the first option to the first question. There are now two cards.
3. Try to switch between these cards quickly using the progress dots at the top.

Issues:
A. The tooltip seems to get in the way.
B. The click targets are rather small, and demand precision on the part of the

[2016-08-15 10:46] gvishal opened #2383 "Tests to check whether interaction template includes js script they require."
We were earlier inlining js code for interactions. Now, we need to include the js script as an external script in its corresponding html template file. This was changed as part of #2356

As part of this issue we need to add tests to make sure that the js script is included in the template file.

/cc @BenHenning @maitbayev @seanlip

[2016-08-15 11:08] gvishal opened #2384 "Remove mathjax script from header_js_libs and include it in pages that actually require it"
Currently mathjax is included in header_js_libs, which is included in all page templates. We should avoid doing this and include mathjax only on pages that require it.

/cc @BenHenning @maitbayev @seanlip

[2016-08-15 11:13] gvishal opened #2385 "Break third_party.js into smaller scripts"
third_party.js is very large (third_party.min.js = 204KB) and is included on every page. We should try and break it out into smaller files and include only what's required on each page. Such a big file requires longer time to download and parse it.

/cc @BenHenning @maitbayev

[2016-08-15 11:24] gvishal opened #2386 "Performance Framework Flakiness"
There are a few issues in the performance framework that cause flakiness.

Some issues / flakiness scenarios are:
1. Tests keep running endlessly (most cases).
2. Test checking size for cached state fails (was happening due to prerendering of the library page and wasn't deterministic, happened even after prerender was disabled)

[2016-08-15 12:52] Arunabh98 opened #2387 "Can't select the bottommost option of a dropdown menu if the card is too long"
Steps to reproduce
1) Create a new exploration
2) Create at least 6 cards
3) Now on the 6th card add an interaction, say Text input
4) Press save interaction, and then enter enough lines of text in `Oppia tells the learner...` such that the dropdown in `And afterwards, directs the learner to...` extends beyond the page
5) If you try to scroll down to select the options which extend beyond the page

[2016-08-15 12:57] chadsansing opened #2388 "Multiple crashes on exploration settings page"
After adding a brief description on my exploration settings page, I get a crash error whenever I try to add a title.

![screen shot 2016-08-15 at 8 54 47 am](https://cloud.githubusercontent.com/assets/4128600/17665020/2fac577a-62c6-11e6-96b9-805a7fe4b987.png)

![screen shot 2016-08-15 at 8 54 59 am](https://cloud.githubusercontent.com/assets/4128600/17665021/33e282b0-62c6-11e6-97c8-24cb1279b48e.pn

[2016-08-15 21:49] maitbayev commented on #2388
Hi @chadsansing,
Thanks for reporting this.
Unfortunately, I couldn't reproduce it on www.oppia.org.
Is it reproducible all the time?
Do you remember any special steps to get the error?

[2016-08-15 22:03] maitbayev commented on #2387
Hi @Arunabh98,

It works as expected on Chrome Version 52.0.2743.116 Mac OS X El Captain, i.e there is a little arrow, in addition in most cases dropdown appears to the top.

Is it windows 10 and chrome, what is the version?

Can somebody else check this behaviour?

Thanks

[2016-08-15 22:08] maitbayev commented on #2385
Isn't caching and slug improves it without breaking into smaller? Definitely very first time might be slow, but after that browser should take from the cache.

[2016-08-15 22:14] maitbayev commented on #2378
Thanks for the suggestion,
We don't have discussion forum, but we have feedbacks, i.e learners can leave feedbacks for authors and creators could answer to the feedback. This is subset of your suggestions and just for your information :).

[2016-08-16 05:16] gvishal commented on #2385
Yes, caching helps. But, it requires time to parse such a large script.

[2016-08-16 05:19] seanlip commented on #2385
How much time?

[2016-08-16 07:55] gvishal commented on #2385
I am still looking into it. Some articles:

1. http://stackoverflow.com/questions/1096907/do-browsers-parse-javascript-on-every-page-load

[2016-08-16 08:03] Arunabh98 commented on #2387
Hi @maitbayev,

I am using Windows 10 and the version of google chrome is 52.0.2743.116.

Thanks

[2016-08-16 09:48] maitbayev commented on #2385
Okay, if we break it into smaller scripts then browser will parse the same amount of javascript code, just instead of one big <script> tag several small <script> tags. So the question is, which one is better, one large <script> or several <script>s.
Browser executes them synchronously (i.e not async), also there might be some optimisation by using async scripts.

Some relevant reference from  [W3C

[2016-08-16 10:06] chadsansing commented on #2388
Sadly, I can't reproduce it either - my exploration is gone this morning. The crash happened every time I tried to add a title after I had already added a description. Steps were:

1. Go to the exploration setting page.
2. Add a description.
3. Attempt to add a title.

Thanks for taking a look, @maitbayev.

[2016-08-16 11:48] gvishal commented on #2385
One more point to consider is that, pages like splash, library do not require all the scripts in third_party.js and hence they wouldn't need to parse it, thus leading to gains.

This point about breaking into smaller chunks and processing all in async also looks interesting.

[2016-08-16 13:50] gvishal opened #2391 "Potential problem areas / ideas to improve performance"
This issue contains potential things that could impact performance of various Oppia pages.

1. This article practically explains how to improve performance of your web page by identifying critical resources. https://developers.google.com/web/fundamentals/performance/critical-rendering-path/analyzing-crp?hl=en
  * Add "async" attribute to js scripts that are not critical (eg. analytics)

2. Explora

[2016-08-16 14:31] TruongKim commented on #2309
Hi @seanlip,

So the test have some some problems, where can I find the test log and see the errors?

[2016-08-16 14:32] TruongKim commented on #2309
![capture](https://cloud.githubusercontent.com/assets/18127284/17702622/8360ca78-6383-11e6-9d14-75e31635b6d7.JPG)

[2016-08-16 14:32] TruongKim commented on #2309
Here's the errors. Also, what is the use of jasmine.js in this case?

[2016-08-16 14:36] TruongKim commented on #2309
![capture](https://cloud.githubusercontent.com/assets/18127284/17702746/fbef0630-6383-11e6-9557-c3fcbb5fa308.JPG)
Lastly, in core/domain/email_manager.py, the line with ```<<<<< HEAD ``` has Syntax error. However, I don't know if it contribute to my error count or not. So right now I want to change that, but how do I do that?

[2016-08-16 14:37] TruongKim commented on #2309
Thanks for your help in advance Sean. I know I just ask a lot of questions.

[2016-08-16 17:04] 526avijitgupta opened #2392 "Minimum length for an exploration's goal should be enforced in settings tab of editor"
### Steps to Reproduce:
- Open the exploration editor and switch to Setting tab.
- Set value of "Goal" input field to anything below 10-12 chars in length.
- Click on "Save Draft".
- Try to publish the exploration, the modal appears but the "Save Changes" button is disabled without any error/warning visible to the user.
- Focus on the "Goal" input field once - the message for minimum length appear

[2016-08-16 19:03] seanlip commented on #2309
Hi @TruongKim, with regards to the <<<HEAD issue, that's due to a merge conflict -- perhaps not all the merge issues were resolved when you last merged. Please go with the CAN_SEND_EMAILS line -- so, the code should look like:

[code]

With regards to the tests failing, I think that's probably a side-effect of the change (perhaps updating protractor also updated jasmine) and it's something that yo

[2016-08-17 04:19] seanlip commented on #2388
Hi @chadsansing, I'm looking into this now. Sorry about the issue! I suspect that what happened is that the title was too long (we have a maximum limit so that it would look fine on the summary card in the library), but I'm surprised that the message that explains that didn't pop up and that the editor crashed instead. I'll look into this.

Also, just to check, when you say that your exploration i

[2016-08-17 05:30] seanlip commented on #2392
Fixed in https://github.com/oppia/oppia/pull/2390/commits/0abb1fcdb7d6e4fada11e84301b052a72a89e97b. Thanks for reporting, @526avijitgupta!

[2016-08-17 05:32] seanlip commented on #2388
I've looked into this. The issue arose because the title was too long (if this is the case, then it won't fit into the tile on the library page), but we did not handle this error correctly. We therefore attempted to autosave a bad version of the exploration, and this was rejected by the server, leading to the crash.

I've fixed this in https://github.com/oppia/oppia/pull/2390/commits/0abb1fcdb7d6e

[2016-08-17 07:09] seanlip opened #2394 "Update docstrings in the Python backend code to follow the style guide."
We've been a bit lax about adding docstrings to code in the backend. Instead, we should be following the style guide: https://google.github.io/styleguide/pyguide.html?showone=Comments#Comments -- docstrings should define args, return values, exceptions, etc. The aim of this issue is to ensure that the backend code is properly documented; we will tackle this on a file-by-file basis.

Note: if you'r

[2016-08-17 07:13] seanlip opened #2395 "Write a style guide for JavaScript."
Currently, we have a few [style notes](https://github.com/oppia/oppia/wiki/Coding-style-guide#javascript) for JavaScript, but nothing really resembling a style guide.

The aim of this issue is to create a style guide for our JavaScript frontend code. @BenHenning has made a start at this in [this doc](https://docs.google.com/document/d/1ZDmLN66f53WdDPItFChu9Lr37z0dKoqR-ASX8UM5y60/edit), but it need

[2016-08-17 08:55] anafrancisca opened #2396 "Long lines overflow the rich-text editor."
Olá a todos. I was adding a text to the final card of my exploration "Art Quiz" and I noticed that the text comes out of the text box. Here is an image:

![bug fix in art quiz](https://cloud.githubusercontent.com/assets/18329602/17730423/89bdff8e-6460-11e6-80c8-75eefdb5ad2a.png)

The same happens while editing the exploration.

Obrigada!

[2016-08-17 09:59] seanlip commented on #2396
@AllanYangZhou, @maitbayev -- did we turn off wrapping for RTE content or something? I seem to remember @hermanbergwerf filing a similar issue in #2311...

[2016-08-17 10:10] chadsansing commented on #2388
Thank you, @seanlip & @maitbayev - I appreciate the explanation and update. I'll get back to messing around and learning the platform shortly. We can close, as far as I'm concerned.

[2016-08-17 10:25] gvishal opened #2397 "Generate build files for /dev/head directly in /build, instead of using core/templates/prod as an intermediary."
Generate build files for /dev/head directly in /build as discussed in #2360.
1. Move all files under /dev/head to build/ during the build process.
2. build/ directory is currently `static_dir` in app.yaml, instead we use regex and change it to `static_files`.
3. We currently read html templates in production from `/core/templates/prod/head`. Change it to `/build/{{cache_slug}}/templates/head`.

Re

[2016-08-17 10:59] gvishal opened #2398 "Unable to minify files in LogicProof/static/js"
We are now minifying all extension resources as part of #2356. But, some resources like `extensions/interactions/LogicProof/static/js` fail to be minified and return errors. Check the logs.

https://gist.github.com/gvishal/7c38dcd1fcf290a04f6ef4f4f667bcfb

Steps:
1. Goto build.py in #2356 and change `build_files(EXTENSIONS_SRC_DIR, EXTENSIONS_OUT_DIR, IGNORE_PATHS)` to `build_files(EXTENSIONS_SRC_

[2016-08-17 21:48] seanlip commented on #2398
@jacobdavis11, please could you take a look at this? The logic proof scripts are quite big, so it would be good to compress them when serving.

[2016-08-17 22:44] seanlip commented on #2388
Thanks, @chadsansing! I'll close this when the hotfix gets merged in. In the meantime, please don't hesitate to let us know if you have any questions.

[2016-08-17 23:37] kerryxwang opened #2400 "Margin between page content card and footer is too narrow"
The margin between the page content card and the footer is narrow on the donation page. The page may look better with a larger margin.

![image](https://cloud.githubusercontent.com/assets/14992169/17756883/d4dd9cfe-6497-11e6-9b4b-1d302e5f74d6.png)

@amitdeutsch
As this is the margin size for all pages, do you want this changed for all pages? Thanks!

[2016-08-18 07:59] jacobdavis11 commented on #2398
I'm afraid I don't have much of an idea. The file causing problems is extensions/interactions/LogicProof/static/js/data.js which so far as I can see has nothing unusual about it. Possibly the fact that logicProofData only contains dictionaries and not any functions?

At least generatedDefaultData.js seems to be ok, and that is a much larger file than data.js.

[2016-08-18 08:02] seanlip commented on #2398
The issue starts at line 27. I think it's because you're using "if" in the BASE_VOCABULARY object, which is a JS keyword? Surrounding it in quotes might help...

[2016-08-18 12:41] 526avijitgupta opened #2403 "Write e2e tests for the creator dashboard."
The backend services used within the dashboard are being unit tested until now, but there are no end-to-end tests for this. Writing e2e tests would ensure that everything works fine when hooked up together. And as we are mostly trying to move away from writing lengthy and complex e2e tests, these tests are meant to be as simple as navigating between different options available in the dashboard and

[2016-08-18 12:42] #2392 closed

[2016-08-18 15:47] BenHenning commented on #2391
Can you do a breakdown for each page on all the scripts being loaded (first and third party)? Ie, if we had a bullet list for each page mentioning script x takes X milliseconds to parse, Y to compile and execute? That would be super helpful in knowing how to restructure and/or optimize individual pages.

[2016-08-18 17:25] Arunabh98 commented on #2365
I would like to work on this :)

[2016-08-19 00:16] seanlip commented on #2365
Sounds good -- though, it looks like you have three issues currently open. Do you think you could bring those to completion first?

Thanks!

[2016-08-19 03:59] anthkris commented on #1800
Just a note on testing this. I've adjusted the browser window and used Chrome's emulation and at small sizes, I am seeing a margin on both the preferences and notification page that aligns with the card below. There does seem to be a breakpoint at small tablet size where the margins don't apply.

[2016-08-19 04:41] seanlip commented on #2388
This should now be fixed. Thank you again, @chadsansing, for reporting! I'm going to close this issue.

[2016-08-19 04:41] #2388 closed

[2016-08-19 05:07] AllanYangZhou commented on #2311
To expand, the bug is more generally that very long *words* are not broken up onto separate lines when they are too long, and thus overflow. The links in question are being treated as a single word. So if you use a link that is not a single word, you won't be able to reproduce this bug.

[2016-08-19 05:20] wxyxinyu commented on #20
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:20] #20 closed

[2016-08-19 05:21] wxyxinyu commented on #43
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:21] #43 closed

[2016-08-19 05:21] wxyxinyu commented on #44
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:21] #44 closed

[2016-08-19 05:22] wxyxinyu commented on #38
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:22] #38 closed

[2016-08-19 05:23] Arunabh98 commented on #2365
Yes sure, I will look into them

Thanks

On Fri, Aug 19, 2016, 5:46 AM Sean Lip <notifications@github.com> wrote:

[2016-08-19 05:25] wxyxinyu commented on #48
Closing, not planning to fix in the near future, will reopen if users request this.

We don't really want users to create large enough explorations that will make this feature important. This will also be fixed in the new editor.

[2016-08-19 05:25] #48 closed

[2016-08-19 05:27] wxyxinyu commented on #78
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:27] #78 closed

[2016-08-19 05:31] wxyxinyu commented on #138
Closing, not planning to fix in the near future, will reopen if users request this. We'll update the docs to include the bit about needing to enable parameters.

[2016-08-19 05:31] #138 closed

[2016-08-19 05:35] wxyxinyu commented on #160
It's now possible to preview states directly, and collections allow something like "chapters". So, closing this issue.

[2016-08-19 05:35] #160 closed

[2016-08-19 05:39] seanlip commented on #172
Closing this; it's too vague as stated. Will try and keep the points here in mind while designing the new version of the editor.

[2016-08-19 05:39] #172 closed

[2016-08-19 05:43] wxyxinyu commented on #196
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 05:43] #196 closed

[2016-08-19 05:50] wxyxinyu commented on #279
Closing because this is a non-technical task.

[2016-08-19 05:50] #279 closed

[2016-08-19 05:51] wxyxinyu commented on #344
Insufficient explanation.

[2016-08-19 05:51] #344 closed

[2016-08-19 05:52] wxyxinyu commented on #469
Merged into #1760

[2016-08-19 05:52] #469 closed

[2016-08-19 05:59] wxyxinyu commented on #792
This is being handled in the new creator dashboard (#1366).

[2016-08-19 05:59] #792 closed

[2016-08-19 06:03] seanlip commented on #1064
Per discussion with @maitbayev and in recent TL meeting, we have discovered that doing this is non-trivial, and will postpone this until we have more bandwidth.

[2016-08-19 06:03] #1064 closed

[2016-08-19 06:11] wxyxinyu commented on #1620
This has been fixed in #2341.

[2016-08-19 06:11] #1620 closed

[2016-08-19 06:16] seanlip commented on #2107
Hi @KatFrog! Are you still working on this?

[2016-08-19 06:17] wxyxinyu commented on #860
Closing, not planning to fix in the near future, will reopen if users request this.

[2016-08-19 06:17] #860 closed

[2016-08-19 07:48] BenHenning commented on #860
Are we going to keep track of this issue or just close it, potentially risking losing this feature request? I don't understand why this is being closed. The request is describing adding onto functionality that hasn't yet been turned on. Plus, it's not describing a bug, so it's unlikely someone else is going to request this same thing. Why was this closed?

[2016-08-19 07:50] BenHenning commented on #1064
Why was this closed, then? If it is an outstanding, incomplete task then this issue should remain open.

[2016-08-19 08:21] seanlip commented on #860
Sorry, the previous comment was too terse. We actually discussed this one in much more detail than that comment implied.

Both @wxyxinyu and I think that:

(a) this doesn't solve an apparent problem, even thinking ahead to the scenario when the prerequisite functionality is implemented;
(b) this is underspecified to the point of not really being actionable.

With regards to (a), we are currently b

[2016-08-19 08:27] seanlip commented on #1064
In part, because we don't really need to track it. Initiatives like the Android app are large enough that, if we do decide that we want it in the future, it is going to happen. In the meantime, we're trying to keep the existing issues actionable.

[2016-08-19 16:46] gvishal opened #2408 "Interpolating cache slugs for each release"
We currently interpolate cache slugs for all static resources using jinja + angularjs, and this happens everytime someone requests a page. We should instead replace cache slugs only once when generating files for a release. This will decrease the time required to render a page.

@seanlip had mentioned this somewhere.

/cc @BenHenning @maitbayev

[2016-08-19 20:38] #1998 closed

[2016-08-20 06:28] sourabhswain commented on #2350
@seanlip  I've created a pull request for this. Please check.

[2016-08-20 07:16] #2278 closed

[2016-08-20 13:02] sourabhswain commented on #2400
I'd like to fix this.

[2016-08-20 16:27] AllanYangZhou commented on #2396
Yeah, I think this is the same as #2311.

[2016-08-20 16:27] #2396 closed

[2016-08-20 18:15] jacobdavis11 commented on #2354
Hi Arunabh. Does the code linked here fix this issue? If so then please could you merge the current develop branch into your branches, and then create a pull request for someone to review. Thanks!

[2016-08-20 18:16] jacobdavis11 commented on #2357
Hi Abhay, how is this going?

[2016-08-20 18:21] jacobdavis11 commented on #2324
De-assigning Barnabas for now; please re-assign yourself if you'd like to continue working on the issue. Thanks!

[2016-08-20 18:24] jacobdavis11 commented on #2349
Hi Prasanna, how is this going?

[2016-08-20 18:27] jacobdavis11 commented on #2286
Hi Mark, are you interested in working on this?

[2016-08-20 18:28] billfinch commented on #2230
Yes. It helped a lot. Thanks will soon be sending my first pull request.

[2016-08-20 18:28] jacobdavis11 commented on #2254
Hi Rajendra. How is this going?

[2016-08-20 18:30] jacobdavis11 commented on #2225
Hi Sethu, have you had a chance to look at this?

[2016-08-20 18:32] jacobdavis11 commented on #2178
Hi @brunnre8, have you had a chance to work on this?

[2016-08-20 18:33] jacobdavis11 commented on #2160
Hi @brunnre8, are you still interested in working on this?

[2016-08-20 18:34] jacobdavis11 commented on #2156
@526avijitgupta Is this problem still happening?

[2016-08-20 18:37] jacobdavis11 commented on #2103
Hi @oparry , do you think you'll get a chance to work on this? No worries if not.

[2016-08-20 18:38] jacobdavis11 commented on #2060
Hi @amgowano, how is this going?

[2016-08-20 18:38] jacobdavis11 commented on #2051
De-assigning @souravsingh for now; feel free to re-assign yourself if you'd like to continue work on the issue.

[2016-08-20 18:43] jacobdavis11 commented on #2042
Hi @dpaparis are you still working on this?

[2016-08-20 18:44] jacobdavis11 commented on #2030
De-assigning @souravbadami for now; please re-assign if you'd like to resume work!

[2016-08-20 18:44] jacobdavis11 commented on #2029
Hi @amgowano, how is this going?

[2016-08-20 18:44] jacobdavis11 commented on #2002
Hi @bjvoth , are you interested in working on this?

[2016-08-20 18:45] jacobdavis11 commented on #1970
De-assigning @szangaro  for now; please re-assign yourself if you'd still like to work on the issue.

[2016-08-20 18:46] jacobdavis11 commented on #1964
Hi @edallison , how is this going?

[2016-08-20 18:47] jacobdavis11 commented on #1893
Hi @markhalpin , are you still interested in working on this?

[2016-08-20 18:47] jacobdavis11 commented on #1867
De-assigning for now; please re-assign if you'd like to continue working on this issue.

[2016-08-20 18:48] jacobdavis11 commented on #1811
Hi @AllanYangZhou are you still interested in working on this?

[2016-08-20 18:49] jacobdavis11 commented on #1782
Hi @ashishpahwa7 , how has this being going?

[2016-08-20 18:52] jacobdavis11 commented on #1773
De-assigning for now; please re-assign if you still want to work on this.

[2016-08-20 18:54] jacobdavis11 commented on #1726
Hi @yjli216 did you fix this? If so then please could you merge the current develop branch into your branch, and then create a PR so someone can review your code. Thanks!

[2016-08-20 18:56] jacobdavis11 commented on #1760
Hi @MAKOSCAFEE are you still interested in working on this?

[2016-08-20 18:57] jacobdavis11 commented on #1739
Hi @souravbadami , any progress on this?

[2016-08-20 18:58] jacobdavis11 commented on #1556
Hi @joshuacano , how has this been going?

[2016-08-20 18:59] jacobdavis11 commented on #1481
De-assigning for now; please re-assign if you'd like to resume work on this issue.

[2016-08-20 19:01] jacobdavis11 commented on #1417
De-assigning for now; please re-assign if you'd still like to work on this.

[2016-08-20 19:04] jacobdavis11 commented on #1345
Hi @ansarimofid , any progress on this?

[2016-08-20 19:05] jacobdavis11 commented on #1220
Hi @maitbayev , are you still interested in working on this?

[2016-08-20 19:05] souravbadami commented on #1739
Hey! @jacobdavis11 -- The learner view was going to be modified in #1489 . Here's the reference to my earlier PR ( https://github.com/oppia/oppia/pull/1744#issuecomment-212268001 ).

[2016-08-20 19:11] jacobdavis11 commented on #897
Hi @giritheja , any progress on this?

[2016-08-20 19:12] jacobdavis11 commented on #872
Hi @maitbayev , any progress with this?

[2016-08-20 19:29] joshuacano commented on #1556
Have been on hold for the last few weeks helping some students finalize their final projects. School has finished and am getting started again today and should have tests written and finalized by the end of the week.

Joshua Cano

[2016-08-20 19:35] jacobdavis11 commented on #1739
As this is superseded by #1489 I shall close this issue. Thanks for letting me know!

[2016-08-20 19:35] #1739 closed

[2016-08-20 19:37] 526avijitgupta commented on #2156
@jacobdavis11 Yes this still happens.
Updated the title - had forgotten to mention that none of the tests run until I manually comment out some code in install_third_part.sh file!

[2016-08-20 19:45] abhsag24 commented on #2357
i'm on it, you can reassign if you need this soon, i'll only be able to code after the 23rd :)

[2016-08-20 19:48] jacobdavis11 commented on #2156
Thanks @526avijitgupta .

@bbriggs have you been able to look into this?

[2016-08-20 21:24] ashishpahwa7 commented on #1782
@jacobdavis11 No progress yet . Feel free to work on it .

[2016-08-20 22:05] markhalpin commented on #2286
hi Jacob,

Yep, am working on it as we speak, as part of a larger overall look at
cohesive graphics. I'd say I'm about halfway through, and should have
something to send out for discussion later in the week.

Best,

Mark

On Sat, Aug 20, 2016 at 2:27 PM, Jacob Davis <notifications@github.com>
wrote:

[2016-08-20 22:09] markhalpin commented on #1893
Hi @jacobdavis11, yep, and have been. I'm not sure what's to be done on it at present. The most recent (several weeks ago) action was generating a series of alternatives to the original splash, and my understanding is that those are being tested currently.

[2016-08-21 00:00] seanlip commented on #2354
Ah, the relevant PR is #2368. Not sure why GitHub didn't pick it up...

[2016-08-21 00:15] seanlip commented on #2400
Actually there's a design question that needs to be resolved first, I think. @amitdeutsch, what is your answer to @kerryxwang's question?

[2016-08-21 02:01] bjvoth commented on #2002
Hi @jacobdavis11, I think it would be better to assign it to someone else, as I am still not able to dedicate time to this project.

[2016-08-21 02:50] raju249 commented on #2254
@jacobdavis11
I was extremely busy this month with my college assignments and exams. So couldn't give time to this issue.
I am really sorry that this got late.
I will take a look today.
Please give me some more time.

[2016-08-21 04:18] souravsingh commented on #2051
I would like to work on the issue @jacobdavis11

[2016-08-21 05:38] seanlip commented on #1556
Sounds good -- thanks @joshuacano!

[2016-08-21 05:39] seanlip commented on #1782
OK, de-assigning. Thanks for confirming, @ashishpahwa7.

[2016-08-21 08:07] giritheja commented on #897
Hey @jacobdavis11 , The code PR is #2410 . I have some issues running the bash scripts/start.sh:
<img width="1274" alt="screen shot 2016-08-21 at 1 32 12 pm" src="https://cloud.githubusercontent.com/assets/8845039/17836087/f98f5aba-67a3-11e6-9196-403652260273.png">
Can you help?

[2016-08-21 12:09] gvishal commented on #2207
Nope, this doesn't happen now.

[2016-08-21 12:09] #2207 closed

[2016-08-21 13:56] gvishal opened #2411 "Cache json content at frontend."
We could cache json content like the `libraryindexhandler` object for a short duration (say 5 minutes). This helps if the user comes back to the library page to explore other explorations.

/cc @BenHenning @maitbayev

[2016-08-21 19:03] souravsingh commented on #2394
@seanlip I would like to work in the issue.

[2016-08-21 19:18] seanlip commented on #2051
Hi @souravsingh, thanks -- I've reassigned you. How is the PR coming along?

[2016-08-21 20:04] jacobdavis11 commented on #2254
No problem, we just want to make sure issues haven't been abandoned. Please let us know if you run into any difficulties.

[2016-08-21 20:09] jacobdavis11 commented on #897
Hi @giritheja generally the first thing to try is to delete /third_party and ../oppia_tools and then re-run bash scripts/start.sh, which should re-install all the dependencies.

Failing that can you provide more information on the problem and the error logs you are getting?

[2016-08-21 23:17] #2311 closed

[2016-08-22 07:43] BenHenning commented on #2397
Thanks for filing this @gvishal, but can you please make sure this issue
has enough information in it to be actionable? It's not clear what the next
steps should be to solve this problem; it could use more context and
instructions.

Thanks!

On Wednesday, August 17, 2016, Vishal Gupta <notifications@github.com>
wrote:

[2016-08-22 07:54] seanlip commented on #2394
Hi @souravsingh, do you think you could finish up #2051 first? Thanks!

[2016-08-22 12:15] souravsingh commented on #2051
@seanlip sorry for the long silence. I have written a function for checking the duplicate key entries here- http://paste.ubuntu.com/23078237
I would like to know where I need to add the test, and if it needs to be hooked to Travis Build.

[2016-08-22 13:48] gvishal opened #2413 "Ignore copying python files when generating build directory"
Ignore copying python files when generating build directory

As per our discussion over email.

/cc @seanlip @BenHenning

[2016-08-22 16:09] gvishal opened #2416 "Pre-render not working in chrome"
The pre-render tag that we added on splash page doesn't seem to be working for oppia.org. It works fine locally.

![image](https://cloud.githubusercontent.com/assets/1708579/17861989/ee6e03ee-68b0-11e6-84a2-53f36d37625d.png)

/cc @seanlip @BenHenning

[2016-08-22 16:14] gvishal opened #2417 "Display personalized explorations to users."
Right now we show a generic set of explorations to all users when they visit the library page i.e everyone sees the same set of explorations irrespective of what one maybe interested in.

We should identify interest areas for a user and show recommended explorations to the user.

WDYT @seanlip

[2016-08-22 17:57] AllanYangZhou commented on #1811
@jacobdavis11 Yup, work on this is still ongoing at #2346.

[2016-08-22 18:10] seanlip commented on #2416
That's weird. The corresponding entry for the same URL shows as green for me. I'm not sure what's causing the difference...

![screenshot from 2016-08-22 11 09 27](https://cloud.githubusercontent.com/assets/10575562/17865840/fda84980-6858-11e6-871e-f2a053cdbe33.png)

Perhaps someone else could verify?

[2016-08-22 18:10] seanlip commented on #2417
Hm, could you please elaborate on what you mean (in terms of the problem this solves, and the intended solution?) Thanks!

[2016-08-22 18:12] #2383 closed

[2016-08-22 18:36] #2349 closed

[2016-08-22 18:50] seanlip commented on #2051
You can put it in core.controllers.base_test, at the bottom where all the other i18n dict tests are.

That said, this is not exactly the correct test to write, since Python dicts are guaranteed to have unique keys. The intention of the test is to check that the JSON file in *.json actually represents a dict with unique keys, so you'd need to read that file line by line, extract the part of each li

[2016-08-22 19:16] gvishal commented on #2417
updated

[2016-08-22 19:18] gvishal commented on #2416
It works for me in incognito as well.

[2016-08-22 21:29] seanlip commented on #2416
Is [this](https://bugs.chromium.org/p/chromium/issues/detail?id=242959) relevant? Might be worth googling "prerender Unsupported Scheme" and seeing what that means...

[2016-08-22 21:32] seanlip commented on #2417
Thanks! Marking for triage.

[2016-08-22 21:47] seanlip commented on #2382
Hi @kevintab95, would you like to take a look at this? Thanks!

[2016-08-23 03:53] seanlip commented on #2370
Discussed at TL meeting. We don't mind if someone does it, but it's not something that we should actively track as part of the oppia project. Closing.

[2016-08-23 03:53] #2370 closed

[2016-08-23 05:17] seanlip commented on #1619
Duplicated in #2417:

[2016-08-23 05:18] seanlip commented on #2417
Duplicate of #1619.

[2016-08-23 05:18] #2417 closed

[2016-08-23 05:20] seanlip commented on #2408
@gvishal, could you please elaborate on what you mean by "replace cache slugs only once"?

[2016-08-23 05:22] BenHenning commented on #2416
When I go to chrome://net-internals/#prerender and then navigate to the splash page, I see it starting to connect to the library page. It takes a few seconds (6?) and then it succeeds. After navigating to the library page, I get the green line saying that it used the /library prerender. Even if I go directly to the library page from splash without waiting (and see the loading indicator), Chrome st

[2016-08-23 05:55] BenHenning opened #2419 "Investigate lazy-loading for extensions and other parts of Oppia"
As we introduce more extensions (such as interactions), we are steadily putting more strain on the exploration editor and player to include extra resources, even when they aren't needed. For instance, all explorations will require the LogicProof interaction, despite a very small number of explorations actually using it. Sean and I briefly investigated different solutions for dynamically loading An

[2016-08-23 06:11] seanlip commented on #1110
Note to contributors: please see #1947 for prior work on this issue (thanks to @kevintab95!).

[2016-08-23 06:12] seanlip commented on #857
NB to new contributors: see #1373 for a prior attempt at a fix.

[2016-08-23 06:17] seanlip commented on #2231
@alexanderpgower, want to have a look at this?

[2016-08-23 08:12] oparry commented on #2103
Hi @jacobdavis11 ,
I'd like to say yes... but realistically I don't think I have enough spare time at the moment.  Please feel free to take it and/or re-assign.  Sorry for not realizing earlier.

[2016-08-23 09:47] alexanderpgower commented on #2231
I'm having trouble replicating the issue; when I double click only one modal comes up. Are you using any specific configurations to simulate the computer being slower?

[2016-08-23 11:38] jacobdavis11 commented on #2103
Thanks for letting me know; I'll de-assign you for now but please re-assign yourself any time you're  able to work on it.

[2016-08-23 14:14] souravsingh commented on #2051
So we use the `` _extract_keys_from_json_file`` method to extract keys from each json file and then check for unique keys,right?

[2016-08-23 19:16] amitdeutsch commented on #2400
Is it the margin at the bottom of all pages? That seems to be the case for the Contact Us page, but not for the Teach with Oppia or About Oppia pages. Perhaps those pages do some extra fiddling with their bottom margins? My comments below only refer to the donation page:

-At the moment, it seems that .oppia-page-card has a margin-bottom of 30px, I would increase it to at least 80px.
-Also, I woul

[2016-08-23 19:32] seanlip commented on #2400
Thanks for the clarification, @amitdeutsch! I think it's simpler keep all of the above as part of this issue, so let's do that.

[2016-08-23 19:37] seanlip commented on #2051
No, since that interprets the JSON file as a Python dict first (using json.loads). You want to check the raw file as a long text string.

That said, what you suggest might lead to a simpler way to achieve the same thing. You could extract the keys from the JSON file, and compare the number of keys to the number of lines in the raw JSON file. That should be enough to tell you if there are any dupli

[2016-08-23 19:38] seanlip commented on #2416
@gvishal have you tried disabling extensions, and then checking?

[2016-08-23 19:47] seanlip commented on #2231
No, maybe I just have a slow computer :)

That said, it's hard to fix an issue if you can't reproduce it. Let me see if I can find you another one.

[2016-08-23 19:48] seanlip commented on #2400
@alexanderpgower, would you like to take this one?

[2016-08-23 20:00] giritheja commented on #897
Hey @jacobdavis11 Thank you, I tried that and found the error was because I did not install Jdk in my system.

[2016-08-23 22:59] amgowano commented on #2060
It's going well. I just finished writing a doc outlining what I am planning to do (https://docs.google.com/document/d/1Tha8TNJ7WIQhuFA-IK1ift4dTlQScKQYQLjtPjklOBg/edit). I have started working on the implementation. I should have it sent out by this Thursday.

[2016-08-23 23:01] amgowano commented on #2029
I haven't started working on it...but I discussed with Ben and we have reached a consensus on how the implementation would look like. I will have the implementation sent out by Thursday.

[2016-08-24 02:57] joshuacano commented on #1556
I'm gonna need some help looking at this? Can someone or @BenHenning take a look at my changes and help me parse out what's left to do?

https://github.com/joshuacano/oppia/commit/111673a34eaf5fcce3108ed14035d0ab2732866e

I believe I have done the following:

1. CollectionBackendApiService needs to be renamed to ReadOnlyCollectionBackendApiService
2. WritableCollectionBackendApiService needs to be

[2016-08-24 05:45] wxyxinyu commented on #1556
Hi @joshuacano -- are your changes as they are mergable to develop (i.e. do things still work when your changes are included?) If so, I suggest making a PR, so that this will be easier to review/comment on.

Actually, even if they are not mergable, making a PR is still a good idea so the reviewer can look at the changes as a whole, and suggest next steps.

[2016-08-24 07:01] joshuacano commented on #1556
Gotcha, thanks will double check my code and create a pr.

Joshua Cano

[2016-08-24 10:12] gvishal commented on #2416
I had an extension Disconnect, disabling which it works fine! https://disconnect.me/

[2016-08-24 10:13] seanlip commented on #2416
Excellent, thanks for checking! Closing this, then.

[2016-08-24 10:13] #2416 closed

[2016-08-24 18:50] edallison commented on #1964
@seanlip @jacobdavis11  Sorry for the late reply.  Sure I can look into this today.

[2016-08-24 18:52] alexanderpgower commented on #2400
@seanlip ok, i'll have a look.

[2016-08-24 19:15] edallison commented on #1964
![screen shot 2016-08-24 at 3 10 46 pm](https://cloud.githubusercontent.com/assets/12070449/17944271/047c5e80-6a0d-11e6-9cfa-636f3b016364.png) I'm having trouble reproducing this on Chrome/Firefox/Safari on OSX 10.11.6.

Could this be Linux specific, resolved by other code changes or am I overlooking something?

[2016-08-24 19:55] alexanderpgower commented on #2400
@seanlip @amitdeutsch by ''adding a box shadow to the .oppia-page-card" do you mean just on the donations page or on all pages using .oppia-page-card in general?

[2016-08-24 20:20] seanlip commented on #2400
@amitdeutsch has final say, but I would expect on all pages for consistency.

[2016-08-24 20:42] alexanderpgower commented on #2400
Ok, that's what I'd done initially, it makes sense.

To make sure I'm understanding correctly here are some questions to double check:
 - is there a specific place to find the exact values for a z-depth-1 shadow using material design guidelines (I've found  `box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);`  on a number of websites but none from official guidelines) or are t

[2016-08-24 20:55] seanlip commented on #2400
Ah, sorry, I'm not sure. @amitdeutsch?

[2016-08-24 21:04] seanlip commented on #1964
Hm, I can't reproduce either. I dialled back to an older version, before this issue was filed, and found that it was broken there -- so it looks like this got fixed somehow!

So I think this has been resolved by other code changes, and I'm going to close it. Thanks for following up on it, @edallison!

[2016-08-24 21:04] #1964 closed

[2016-08-24 21:06] seanlip commented on #2376
@edallison, would you be up for looking into this?

[2016-08-24 21:07] seanlip commented on #2376
(Note that instructions for accessing the collection editor are [here](https://github.com/oppia/oppia/issues/1587#issuecomment-196313127).)

[2016-08-24 22:43] kevinlee12 commented on #2334
Hi @souravbadami, I was able to observe the multiple error toast but not the console log error, can you verify that that is the case? Thanks!

[2016-08-24 22:51] souravbadami commented on #2334
Hey @kevinlee12 -- I tested it on the latest develop. There is no console log error.

[2016-08-24 22:57] kevinlee12 commented on #2334
Thanks @souravbadami, I'll edit the description above to remove the console log error.

[2016-08-24 23:02] kevinlee12 commented on #2027
Hi @seanlip, are you suggesting something like the following (perhaps replace the editor part with the exploration tile)?

![image](https://cloud.githubusercontent.com/assets/5758256/17951041/00c86d36-6a14-11e6-8cf1-7e4804aafefd.png)

[2016-08-24 23:55] seanlip commented on #2027
No -- I just meant that, if you go to /create/{{exp-id}}, you can still view the exploration, but not edit it.

[2016-08-24 23:57] kevinlee12 commented on #2027
That clarifies things, thanks!

[2016-08-25 07:51] gvishal opened #2428 "Serve static content from a cookie free domain"
Oppia has a large number of static resources being sent over the wire, when a user visits Oppia for the first time. Every browser includes cookies in requests for these static resources. Right now its size is about 404bytes. Although this amount is pretty small but we have about 70 requests being made for static resources and this is going to increase since we have also externalized all js resourc

[2016-08-25 08:00] gvishal opened #2429 "Use closure compiler instead of (current) YUI"
Google's closure compiler is a bit more efficient as compared to YUI compressor. Google Closure ends up generating a file which is 5-10% smaller than the files generated by YUI compressor. We should consider switching between them.

Links:
1. https://blog.feedly.com/google-closure-vs-yui-min/
2. https://docs.google.com/document/d/1HVeQB0_L5HsYlxyly_YjXewLAXTu7a-p0McwsNG5Jn4/edit#heading=h.s8dzxr4l

[2016-08-25 11:00] gvishal opened #2430 "Profiling python runtime for the back-end."
In continuation with our efforts to make Oppia load faster, we should profile python code in addition to “_ah/stats” to determine where we are spending most of the time.

/cc @BenHenning @maitbayev @seanlip

[2016-08-25 11:13] gvishal opened #2431 "Multithreading / async IOs in GAE"
Currently,

1. We do not use multithreading in GAE.
2. I/Os are blocking.

@BenHenning What additional details should we add here?

[2016-08-25 18:42] joshuacano commented on #2027
I believe this might be related to #1556 as well.

[2016-08-25 20:06] Shashankagarwal181996 commented on #2394
@seanlip I would like to work on this issue.

[2016-08-25 20:24] kevinlee12 commented on #2027
@joshuacano, I do agree that this is related to #1556. in that case, continue working on that issue and I'll assign you this one so we know that this is in progress.

(@seanlip feel free to de-assign if I'm missing something, thanks!)

[2016-08-25 20:46] alexanderpgower commented on #2400
@seanlip @amitdeutsch Final question, for the box shadow, in some areas of the css ` -moz-box-shadow: ` and `-webkit-box-shadow: ` are used as well as the normal `box-shadow:` for the cross browser compatibility, in some areas only the `box-shadow: ` is used. Should I use the cross browser compatible lines here?

[2016-08-25 20:47] alexanderpgower commented on #2400
@seanlip @amitdeutsch Other than that, should I commit the change for review now or should I wait for @amitdeutsch's input?

[2016-08-25 21:22] seanlip commented on #2400
Ah, turns out @amitdeutsch is away for a bit, so I suggest committing what you currently have as a PR.

Re your questions:
- I think what you have for z-depth-1 is fine, as long as it looks OK to you visually.
- I'm not sure about the second point, so for now I'd say do whatever looks good visually.
- I don't think you need -moz and -webkit prefixes for box-shadow; they're pretty standard now.

Th

[2016-08-25 21:26] seanlip commented on #2027
I don't think it's that closely related, actually. I mean, #1556 is sort of the infrastructure layer, and this is one of the many features built on top of that, so I think it's separate. The issues can be tackled independently.

[2016-08-25 22:11] billfinch commented on #2230
Hello @wxyxinyu , Could you please review my pull request at https://github.com/oppia/oppia/pull/2426

Thanks

[2016-08-26 02:03] kevinlee12 commented on #2027
ah, sgtm! thanks @seanlip!

@joshuacano, is this something you would like to do after you are done with #1556?

[2016-08-26 02:26] kevinlee12 commented on #2028
Throwing this out there, I was thinking of two approaches to this:

**Dedicated line for exploration tags**  - same as is but line below it shows the exploration tags as a list.

**Same line** - exploration tags are visible but not removable.
![image](https://cloud.githubusercontent.com/assets/5758256/17992090/3356f66a-6af9-11e6-9d3b-444d3ca5f65e.png)

Rationale for showing the exploration tags: E

[2016-08-26 05:07] seanlip commented on #2028
Oh, I think the idea was, when someone searches for a tag, the relevant collections should appear in the search results. I don't think any changes need to be made to the settings pages, though I'm fine with showing additional tags as non-editable if desired.

[2016-08-26 05:10] souravsingh commented on #2051
@seanlip How do I go about writing the test? I am confused about where to start

[2016-08-26 05:10] #2413 closed

[2016-08-26 06:05] seanlip commented on #2051
Hi @souravsingh -- to answer your question, the suggested approach would have been to do something similar to #2426 -- i.e. to add a test at the bottom of base_test.py with the other i18n tests.

However, on reflection, I think we might not need to do this issue after all. This is because I think the approach @billfinch is going to take in #2426 will end up also handling this case as well, since t

[2016-08-26 06:05] #2051 closed

[2016-08-26 13:44] edallison commented on #2376
@seanlip you can assign it to me please.
I spent some time yesterday looking at this.  It looks like since the recommended modules object thats being passed in doesn't include a 'collectionId' property for explorations the issue may lie in the RecommendationsHandler in the backend.  Does this sound like a reasonable place to start?

[2016-08-26 17:58] seanlip commented on #2376
Assigned, thanks!

Hm, I'm not sure -- I think this needs more investigation. We don't necessarily need to use the recommendations handler for this, actually; the main thing is that the frontend has enough data about the "next" exploration in the collection, which is a different thing. A quick glance suggests that collection_services.get_next_exploration_ids_to_complete_by_user() might be relevant

[2016-08-26 18:54] edallison commented on #2376
I don't have a lot of time to work on this today and apologize that this has been thought out pretty hastily but the approach I'm looking at right now would very generally be:

- In  ExplorationRecommendationsService.js make a call to get_next_exploration_ids_to_complete_by_user().

- Have ExplorationRecommendationsService.js return another function (named getNextExplorationIdsInCollection?) that

[2016-08-26 19:59] #2380 closed

[2016-08-27 09:37] seanlip commented on #2376
Hi @edallison, I took a look! It seems to me that the frontend logic is sound, but I did find a bug in the backend logic that _might_ be the cause of this issue. In particular, in core.controllers.reader.RecommendationsHandler, the logic might need to be changed.

Here's what I suspect the issue is. If I'm reading correctly, I'm noticing that in that handler, if the user is not logged in, then the

[2016-08-27 09:38] seanlip commented on #2376
Also, @BenHenning, a question for you: if the user is not signed in, what should be the intended behaviour for recommendations at the end of the collection?

[2016-08-27 22:11] #1800 closed

[2016-08-27 22:59] seanlip commented on #2357
Hi @abhsag24, just checking in! How's this going? We just wanted to make sure it's being worked on, otherwise it might be better to reassign it.

Thanks!

[2016-08-27 23:00] seanlip commented on #2103
Hi @anthkris, want to take this one?

[2016-08-28 12:44] philoniare commented on #2381
I have tried profiling the editor page and here's what I found.
## Memory usage over time:
I have tried experimenting the editor for a bit and it seems that we do **seem to have minor memory leaks that could gradually add up over time to cause performance issues**. In the profilings below, I have tried adding, editing and deleting various interactions (recording for about 5 min).
#### JS Heap and

[2016-08-28 18:37] seanlip commented on #1160
Note: see #1160 for a previous (incomplete) attempt at this.

[2016-08-28 18:43] seanlip commented on #2381
Oh, very nice! This is a great start, @philoniare, and it's good to confirm that there is indeed an issue here.

Is it possible to dive deeper and figure out what is causing some or all of these leaks? In particular, from what you mentioned, it seems like we may have some issues with interactions holding on to memory. If we can find out what's causing even one of these, we may be able to generaliz

[2016-08-29 09:24] #2354 closed

[2016-08-29 14:55] edallison commented on #2376
@seanlip @BenHenning I've added the logic that will suggest other explorations in the collection to logged out users.  As @seanlip pointed out, there is still the issue of previous explorations in the collection being suggested.  I'm happy to move forward with the collection.get_next_exploration_id_in_sequence() approach if everyone is in agreement.

[2016-08-29 14:57] 526avijitgupta opened #2445 "Fetch and display latest commits of the user's explorations in the dashboard"
As per the mocks for the creator dashboard, the dropdown against each of the explorations displays a few of latest updates for that exploration. A latest update is a commit that has been made by anyone other than the creator on a creator's exploration.

It was decided to fetch the commits (maximum 3 latest ones) not made by the creator only until the latest commit made by the creator, not before t

[2016-08-29 20:33] kevinlee12 commented on #2027
Hi @joshuacano, let me know if you wish to pick this up later!

[2016-08-29 22:15] amitdeutsch commented on #2400
Hi all, sorry for the delay– just got back in town.

Regarding the box shadow specs, I also use values that I find on the web, especially this one: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.1v742swka I'm guessing you found the same one.

Regarding the white margin I was talking about... odd, it isn't in the screenshot you attached, but I definitely see

[2016-08-30 03:41] seanlip commented on #2398
This is fixed. Closing.

[2016-08-30 03:41] #2398 closed

[2016-08-30 03:46] BenHenning commented on #2431
The idea is right now requests are being handle synchronously and GAE has an option for turning asynchronous request handling. We need to investigate whether this would introduce race conditions in the Oppia stack and resolve them, then turn on multi-threaded request handling.

[2016-08-30 03:51] seanlip commented on #2429
Instructions for contributors:
1. Add a closure compiler download to the manifest.json / installation scripts as appropriate.
2. Modify scripts/build.py as needed to use the closure compiler instead of the YUI compressor for minification.
3. Remove the YUI compressor download.

[2016-08-30 03:57] BenHenning commented on #2428
Triage decision: closing this because as we move toward a caching system that has per-file slug caching, this will be less impactful. We can reopen this if it ends up being a problem.

404 bytes is only ~28KB, which is smaller than many of our resource files.

[2016-08-30 03:57] #2428 closed

[2016-08-30 04:00] BenHenning commented on #2411
Triage decision: closing this because it's small gains and there are painful side effects for showing stale explorations (e.g. explorations becoming unpublished or being deleted).

[2016-08-30 04:01] #2411 closed

[2016-08-30 04:02] seanlip commented on #2408
Note: @BenHenning will bundle this issue into one he's going to file about the cache slugs system in general.

[2016-08-30 04:15] BenHenning opened #2447 "Caching should be done on a per-file basis"
The current state of the caching system implemented by @gvishal during GSoC'16 is we have a single cache slug for each release and this slug is associated with all files served in that release. When we provide a new slug in subsequent releases, all of the files served under the old slug become stale and the client is forced to re-request all of them.

Moving forward, however, we should be caching

[2016-08-30 04:39] BenHenning commented on #2376
My concern is that collections are not linear in the backend, so a notion of "next in sequence" is confusing. The original bug reported in this issue is definitely a regression for logged in users, since recommendations should not be displayed at all. It's possible for more than one exploration to be suggested for a collection, since collections are non-linear. We simply cannot create those collec

[2016-08-30 05:25] wxyxinyu opened #2448 "In the editor, add suggestions on topics for explorations"
Upon entering the editor, many creators leave before saving the first piece of content on the exploration.

We hypothesize that this may be because creators don't know what they would like to teach. This may be improved by suggesting to creators topics that they could teach. The topics list will be curated by site admins.

Todos:
- [ ] Decide on user flow: how will users see the prompt to select a

[2016-08-30 06:09] seanlip commented on #2408
Replaced by #2447; closing.

[2016-08-30 06:09] #2408 closed

[2016-08-30 06:59] seanlip commented on #2376
I think the original bug happened when I was logged out, so we probably just need to consider that case.

How about approach 2? I want to avoid solutions which involve localstorage for now; we should define and design the usage of localStorage more comprehensively in a later pass. So, here's a possible algorithm:
- call the current exploration E; say its acquired skills are A
- deduce recursively

[2016-08-30 18:10] joshuacano commented on #2027
Oh Yeah, Thanks @kevinlee! I'll be glad to, do it after #1556.

On Mon, Aug 29, 2016 at 1:34 PM, Kevin Lee <notifications@github.com> wrote:

[2016-08-31 01:03] edallison commented on #2376
@seanlip I'm having a little trouble understanding

By acquired skills do you mean explorations that come before E in the collection or is there a property of explorations that I am unaware of?

[2016-08-31 01:07] seanlip commented on #2376
Each "exploration node" in a collection is associated with prerequisite skills and acquired skils. In this case I'm referring just to the "acquired skills" property of only exploration E.

[2016-09-01 03:49] markhalpin opened #2453 "About page misaligned in Safari"
In About page, document header items should be aligned horizontally, as shown in Chrome screenshot:

![oppia_about_chrome](https://cloud.githubusercontent.com/assets/13863393/18154727/2a0efebe-6fd5-11e6-8d7d-1dc29c99e128.jpg)

In Safari, header items stack strangely. Note that the underline of the highlighted item appears to strike through the item beneath:

![oppia_about_safari](https://cloud.git

[2016-09-01 08:01] souravbadami commented on #2309
Hey! @TruongKim -- How's this going ?

[2016-09-01 08:02] souravbadami commented on #2382
Hey! @kevintab95 -- How's this going ?

[2016-09-01 08:06] souravbadami commented on #2332
Hey! @526avijitgupta -- How's this going ?

[2016-09-01 08:07] souravbadami commented on #2297
Hey! @chipperatkins -- Ping.

[2016-09-01 08:07] souravbadami commented on #2286
Hey! @markhalpin -- How's this going ?

[2016-09-01 08:08] souravbadami commented on #2254
Hey! @raju249  -- How's this going ?

[2016-09-01 08:10] souravbadami commented on #2225
Hey! @sethuiyer -- Ping.

[2016-09-01 08:10] souravbadami commented on #2224
Hey! @Arunabh98 -- How's this going ?

[2016-09-01 08:11] souravbadami commented on #2178
Hey! @brunnre8 -- Ping.

[2016-09-01 08:12] souravbadami commented on #2160
Hey! @brunnre8 -- Ping.

[2016-09-01 08:13] souravbadami commented on #2156
Hey @bbriggs -- Ping.

[2016-09-01 08:14] souravbadami commented on #2115
Hey @raju249 -- Any updates on this ?

[2016-09-01 08:14] souravbadami commented on #2107
Hey! @KatFrog -- Ping.

[2016-09-01 08:15] souravbadami commented on #2099
Hey! @gvishal -- How's this going ?

[2016-09-01 08:29] souravbadami commented on #2042
Hey! @dpaparis -- Ping.

[2016-09-01 09:55] raju249 commented on #2115
@souravbadami --
@wxyxinyu just told me to update what all things I tried to solve this.
I don't have any update further.
I have a comment stating the things I tried in the thread.

[2016-09-01 09:57] raju249 commented on #2254
I am working on it @souravbadami .
Been busy with some work.
But this issue is NOT abandoned.
Can I have few more days :sweat_smile: ?

[2016-09-01 10:45] kevintab95 commented on #2382
@seanlip sure!
@souravbadami I haven't started working on it yet! I'll do it this weekend.

[2016-09-01 12:00] brunnre8 commented on #2160
Sorry, I do not have the time to do that right now...
Please unassign me

[2016-09-01 12:02] brunnre8 commented on #2178
My main rig broke down and I didn't yet push to a remote repo :frown: so I'll need to start from scratch.

However I still plan on doing that so unless you find someone who can take care of the issue immediately I would like to stay assigned

[2016-09-01 12:17] markhalpin commented on #2286
In progress. I've gone over a first round of proposals with Sean, and am making adjustments based on feedback. Will have something for group to look at early next week.

[2016-09-01 12:45] Arunabh98 commented on #2224
I have not been able to make much progress on this so far. Also I wouldn't have much free time for the next one week. So I think it would be to better to de-assign me for now if anyone else wants to tackle this problem.

Thanks

[2016-09-01 14:37] souravbadami commented on #2286
@markhalpin -- Sounds great. Thanks!

[2016-09-01 14:37] souravbadami commented on #2178
@brunnre8 -- Sure.

[2016-09-01 14:39] souravbadami commented on #2160
@brunnre8 -- Feel free to take this once you're available.

[2016-09-01 14:40] souravbadami commented on #2382
@kevintab95 -- Sounds good. Thanks!

[2016-09-01 14:42] souravbadami commented on #2254
@raju249 -- Sure.

[2016-09-01 15:04] souravbadami commented on #2224
@Arunabh98 -- Np!

[2016-09-01 17:28] souravbadami commented on #2115
@raju249 -- Okay, de-assigning you for now.

[2016-09-01 18:05] raju249 commented on #2115
Sure :smile:

[2016-09-02 04:14] anthkris commented on #2103
Starting this!

[2016-09-02 17:47] raju249 commented on #2254
I bought a new laptop this month and setting oppia dev environment on it.
So I needed time @souravbadami
:sweat_smile:

[2016-09-02 19:07] bbriggs opened #2455 "Inconsistent directory permissions breaking install process on Vagrant"
### Expected behavior

Running `bash scripts/start.sh` should install prerequisites and start Oppia dev instance
### Observed behavior

Script crashes after os permissions errors. Changing ownership of `oppia/` back to `vagrant.vagrant` fixes this until the next module tries to install. This appears to indicate that the install process is executing some portions with sudo and changing directory pe

[2016-09-03 07:59] souravbadami commented on #1929
Hey! @gvishal -- How's this going ?

[2016-09-03 08:01] souravbadami commented on #1858
Hey! @kennychong89 -- How's this going ?

[2016-09-03 08:02] souravbadami commented on #1759
Hey! @bjvoth -- Ping.

[2016-09-03 08:03] souravbadami commented on #1726
Hey! @yjli216 -- Ping ?

[2016-09-03 08:04] souravbadami commented on #1345
Hey @ansarimofid -- Ping?

[2016-09-03 08:05] souravbadami commented on #1907
Hey! @gvishal -- Is it done ?

[2016-09-03 08:25] Arunabh98 opened #2457 "The default text which appears while inserting a mathematical formula should be a placeholder."
When introducing a mathematical formula in RTE, it becomes irritating to remove '\frac{x}{y}' every time. This should be converted to a placeholder for convenience. Here is an image for reference.

![image](https://cloud.githubusercontent.com/assets/13691317/18223711/948da740-71dd-11e6-85f8-5027895e5332.png)

[2016-09-03 14:07] gvishal commented on #1907
We removed contributors summary object and adding pre-rendering for library page on the splash page. @seanlip I don't have anything else in mind.

[2016-09-03 14:08] gvishal commented on #1929
Didn't get around to this one. Feel free to reassign.

[2016-09-03 14:14] kennychong89 commented on #1858
Hi sourabadami, I am currently studying the Oppia's code base before I work on the source-map.

[2016-09-03 14:41] souravbadami commented on #1858
@kennychong89 -- Okay, np!

[2016-09-04 02:46] bjvoth commented on #1759
@souravbadami Hi. I mentioned to someone else (must have been on another thread) a few weeks ago that I was still unable to dedicate time to this issue. I think it would be best for someone else to take over.

[2016-09-04 08:39] souravbadami commented on #1759
@bjvoth -- Okay, np!

[2016-09-04 11:05] kevintab95 commented on #2382
![firefox_2016-09-04](https://cloud.githubusercontent.com/assets/11008603/18230584/7c164ace-72bd-11e6-9696-fada337057f5.png)
Is this better?

[2016-09-04 13:57] souravbadami commented on #2382
@kevintab95 -- Looks good. Could you add more screenshots with all the dots being visible or add a PR so that we can go through it.

[2016-09-04 19:59] kevinlee12 commented on #2057
Hi @amgowano, any updates on this? thanks!

[2016-09-04 20:00] kevinlee12 commented on #2027
@joshuacano awesome! I'll assign you this issue so you get get on it after #1556! thanks!

[2016-09-05 02:55] edallison commented on #2376
I've spent some time looking at this today and should be able to continue tomorrow.  One issue I'm facing is being able to recursively determine which explorations have been completed based on their prerequisite skills.  The problem is that prerequisite skills are stored as an array of exploration titles instead of ids. This makes checking the prerequisite skills of a prerequisite skill difficult

[2016-09-05 07:20] seanlip commented on #2376
I think the skills are not exploration titles, actually -- they're actually just meant to be arbitrary strings that are not related to the ids or titles of the collections. In the current 'linear' version of collections, the exploration titles might be being used as the collection skill strings by default.

So, I think, to do this calculation, you might indeed want to get a list of all the prereq/

[2016-09-05 07:30] seanlip commented on #1907
OK, I don't have anything else either. Closing this.

[2016-09-05 07:30] #1907 closed

[2016-09-05 07:32] seanlip commented on #2455
@raju249, do you think you would be able to investigate/fix this? For example, do you know what gets installed just before it occurs -- and is it possible to track what's happening between that installation and the failure? I'm not sure where we're using sudo, but this seems like something worth fixing...

[2016-09-05 08:04] #2400 closed

[2016-09-05 08:06] seanlip commented on #2453
Hi @alexanderpgower, would you like to try this (assuming you have Safari and you can reproduce it)?

Thanks!

[2016-09-05 08:07] seanlip commented on #2453
Oh, also, @markhalpin, what version of Safari is this?

[2016-09-05 09:58] kevintab95 commented on #2382
@souravbadami I've added sufficient space between the progress dots so the tool tip doesn't hide any dots.
It looked like this before:
![firefox_2016-09-05](https://cloud.githubusercontent.com/assets/11008603/18244359/4d9dd052-737d-11e6-8f41-5cc11dc8b256.png)

I'll add a PR!

[2016-09-05 11:07] raju249 commented on #2455
@seanlip
There is no fixed package that is installed before it breaks. It breaks at any random package.
So I think its not possible to track what happens cause the package is not fixed.
Please let me know if I could do anything.
Thanks

[2016-09-05 14:33] markhalpin commented on #2453
Safari 8.0.3; someone might want to look at this in the most recent version.

[2016-09-05 17:30] seanlip commented on #2455
OK, this indicates that the error lies in some generic part of the scripts, rather than some specific part like, e.g., skulpt. Could you read through the script files and understand what they're doing, and see if there's use being made of sudo anywhere? Also, can you attach an example of the exact error log (and a few lines above that) to this issue?

Thanks!

[2016-09-05 18:02] kevinlee12 commented on #2334
Fixed in PR #2454

[2016-09-05 18:02] #2334 closed

[2016-09-05 18:52] billfinch commented on #2230
Hello @wxyxinyu , I've pushed a new change at #2426. Would you please review it??

Thanks

[2016-09-05 20:06] Anchit1406 commented on #1545
While downloading third party files, I ran into an error, I am not able to find a solution.See the logs

Downloading and unzipping file bower-angular-translate-storage-cookie-2.8.1 to ./third_party/static
Traceback (most recent call last):
  File "scripts/install_third_party.py", line 341, in <module>
    _install_third_party_libs()
  File "scripts/install_third_party.py", line 329, in _install_th

[2016-09-05 20:08] Anchit1406 opened #2460 "Issue in Setting up enviornment."
While downloading third party files, I ran into an error, I am not able to find a solution.See the logs

Downloading and unzipping file bower-angular-translate-storage-cookie-2.8.1 to ./third_party/static
Traceback (most recent call last):
  File "scripts/install_third_party.py", line 341, in <module>
    _install_third_party_libs()
  File "scripts/install_third_party.py", line 329, in _install_th

[2016-09-05 20:12] souravbadami commented on #2460
Hey! @Anchit1406 -- Could you please mention the operating system you're on ?

[2016-09-05 20:13] Anchit1406 commented on #2460
Ubuntu 16.04 LTS 32 bit

[2016-09-06 00:58] raju249 commented on #2455
Yes sure @seanlip.
I am out for the time being..not with my laptop.
I will run it again and post the exact error log and also check if sudo is used anywhere.
Give me some time.
I will do it till evening.
Thanks.

[2016-09-06 02:29] wxyxinyu commented on #2357
Hi @abhsag24, I'm de-assigning you for now so other people can work on the issue. Feel free to re-assign yourself if you're still actively working on this!

[2016-09-06 02:31] seanlip commented on #2460
Hi @Anchit1406, searching for "Temporary failure in name resolution" brings up results that suggest this is a proxy issue that you'll probably have to debug locally, I'm afraid. I'm going to close this since it's specific to your local environment, but feel free to ask on gitter in case anyone has run into similar issues. Thanks!

[2016-09-06 02:31] #2460 closed

[2016-09-06 04:02] seanlip commented on #2363
Closing for now, since we've been doing splash page experiments and will continue to update them as results come in.

[2016-09-06 04:02] #2363 closed

[2016-09-06 09:34] seanlip commented on #2394
Hi @andromfins -- now that you've had a go at writing docstrings for a single class, would you mind picking one or two other files and doing the same thing for those? Let me know which ones you pick, so that I can mark you off against them.

Thanks!

[2016-09-06 11:43] Arunabh98 commented on #2457
Could I work on this?

[2016-09-06 16:01] souravbadami commented on #2457
Hey! @Arunabh98 -- Sure, Assigned you.

[2016-09-06 18:41] andromfins commented on #2394
Hi, i'm working on core.domain.classifier_services.py.

[2016-09-07 00:52] anthkris commented on #2103
Looked into this. The title card has a message that says "Please use at most 40 characters, so that this fits in the summary card." and disallows more than that. So this issue seems to have been solved in the new release.

[2016-09-07 03:58] seanlip commented on #2394
OK, thanks @andromfins!

[2016-09-07 04:07] seanlip commented on #2103
Ah, yes, looks like it. Thanks for checking, @anthkris! Closing.

[2016-09-07 04:07] #2103 closed

[2016-09-07 04:08] seanlip commented on #2381
Hi @philoniare! How's this going?

[2016-09-07 05:02] TruongKim commented on #2309
@souravbadami Sorry I went missing. I'm been too busy with school. I saw @jacobdavis11 is assigned to this now. @jacobdavis11 Would it be ok if we work on this together?

[2016-09-07 05:09] seanlip commented on #2309
Hi @TruongKim, it looks like you're still assigned to this; @jacobdavis11 was actually assigned to review the PR. However, I think he just meant to make a small comment while he was on duty as maintainer, so I unassigned him.

That said, it might be a good idea to find someone to work together with on this. You could ask @jacobdavis11 if he's willing, or perhaps ask if anyone is interested on the

[2016-09-07 05:14] TruongKim commented on #2309
hi @seanlip I will definitely do that.

[2016-09-07 05:19] TruongKim commented on #2309
@seanlip Also, I don't know if this is the best place to ask, but can you give me some future advice on how to let you know if I don't have a lot of time to work on an issue for a couple weeks? I feel like me went MIA for 2 weeks is not a good way to handle things.

[2016-09-07 05:21] seanlip commented on #2309
Hi @TruongKim, good question! I totally agree that going MIA without communication isn't a good way to handle things. One way to address this is to write a comment on this issue thread to say something like: "Due to {{X}}, I won't be able to work on this until {{DATE}} -- if this needs to be done sooner, please feel free to assign it to someone else in the meantime. Thanks!"

[2016-09-07 05:22] seanlip commented on #2309
Also, two things:
(a) did you sort out the merge conflicts?
(b) what have you done so far, in trying to resolve the karma issues?

[2016-09-07 05:28] TruongKim commented on #2309
(a) Yes. I sorted out the merge conflict in the pull request #2407. I just deleted my local branch after saving my changes and commit again.
(b) To be honest, this is my first time working on a back-end issue. So far, I go to the web and try to understand what is a travis build, protractor, types of backend tests, etc... Just basic stuff about back-end testing. I haven't touched any of the code ju

[2016-09-07 05:28] TruongKim commented on #2309
p/s: and I will definitely remember your advice.

[2016-09-07 05:39] seanlip commented on #1893
Closing this issue: as Mark says, this is currently under testing, and I think the original issue has basically been addressed at this stage (since the alternatives that test best do have the buttons nearer the top, and we're going to go with them).

[2016-09-07 05:39] #1893 closed

[2016-09-07 05:41] seanlip commented on #2160
Hi @526avijitgupta, do you think you'd be up for doing this? It seems like you're probably the best person to do so, since you have a good understanding of the dashboard backend code at this point and have a solid idea of what exactly should be tested. If not, though, would you mind at least specifying what exact test scenarios need to be written?

Thanks!

[2016-09-07 05:42] seanlip commented on #2366
Hi @anthkris, would you be up for figuring out what's going on here? Thanks!

[2016-09-07 14:44] Andimeo opened #2463 "Enable logging for backend unit tests."
It'd better to enable logging for backend unit tests.
When we want to log something either for debugging or statistics, swallowing those logs silently seems not a good idea.

So either we should show those logs by default if the output is not too much or we can add a command line option to address this.

[2016-09-09 07:45] hemanthsavasere commented on #2256
Hey I want to work on this as I know basics of front end development.

[2016-09-09 07:50] seanlip commented on #2256
Sounds good -- feel free to submit a PR!

Also, please follow the "getting started" instructions [here](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up). Thanks!

[2016-09-10 03:51] anthkris commented on #2366
PR is on it's way!

[2016-09-10 07:06] seanlip commented on #2002
@deepakpathania, would you be interested in taking this up? The aim is to implement the given spec in a way that's as elegant and easy to maintain as possible. Currently there isn't really a unified approach, and things are a bit hacky.

[2016-09-10 12:48] deepakpathania commented on #2002
@seanlip Hey there. I just started going through the docs yesterday and am in the process of setting up the environment and I am having a few errors with that. I'll notify here and take it up as soon as the errors are resolved and I am able to set up the environment properly.

[2016-09-10 14:35] edallison commented on #2376
@seanlip I have this in a functioning state but have a question.

I'm not sure what you mean by "unseen explorations".  It doesn't look like collection nodes have this property and I haven't seen it elsewhere.  The reason I ask is that the third case you've said to return is never reached. In the situation that the current exploration is the last exploration in the collection, the second return ca

[2016-09-10 15:29] raju249 commented on #2455
@seanlip
This is the error log..
[code]
And in the script I didn't see any ```sudo``` command.
Just the normal ```os``` functions in python for joining directory and downloading and saving files.

[2016-09-10 18:52] seanlip commented on #2376
By "unseen" I meant that the student hasn't touched the exploration, but I just realized this was unclear since we don't have a logged-in student. I meant "unseen explorations" to be any exploration that is not in the set that was collated in the second bullet point. Does this clarify?

Also, feel free to push a branch! Happy to take a look.

[2016-09-10 18:55] seanlip commented on #2376
Also, for the "last exploration" case, I think this means that all explorations will (presumably) be in the set you compiled in the second bullet point, so that would result in a fall-through to the third case.

[2016-09-11 09:23] seanlip commented on #2455
Hi @raju249 -- thanks for the update! So, it looks like, for some reason, `os.path.join` is not working correctly. Can you try figuring out why? If, for example, at the start of download_and_unzip_files(), you run `os.path.join` on two random strings, does it throw an error there?

What if you try other functions on `os` -- is it just `os.path.join` that is unavailable, or is it all of `os`?

What

[2016-09-11 09:31] seanlip opened #2473 "Update the "collections" section of the creator dashboard to use the newer summary tiles."
In the creator dashboard, the "collections" tab shows long horizontal cards. These are out of sync with the rest of the site, and should instead be replaced with the smaller collection summary tiles that are used in the library page.

[2016-09-11 09:43] raju249 commented on #2455
Ok -- @seanlip .
I am trying.
Can we also have someone assigned for this ?
I am currently busy with college and my internship at Amazon.
Still I'll try to get to the cause of this issue.
Thanks

[2016-09-11 10:04] seanlip commented on #2455
Hi @raju249 -- I think you're probably the best person to tackle this, actually, given the investigation that you've already done. It's OK if this goes a little slowly, as long as it keeps moving steadily along. Would it be OK if I assigned it to you?

Thanks!

[2016-09-11 10:27] raju249 commented on #2455
Yeah, Sure @seanlip
Assign me on this.
I will take this along and would work on this at least a  hour every day.
Thanks.

[2016-09-11 10:32] seanlip commented on #2455
Thank you, @raju249! Assigned. :-)

[2016-09-11 21:17] philoniare commented on #2381
As noted [here](http://www.dwmkerr.com/fixing-memory-leaks-in-angularjs-applications/#fixingmemoryleaks) and [here](http://stackoverflow.com/questions/26983696/angularjs-does-destroy-remove-event-listeners), the solution is to **manually deregister events** that are not being automatically done by Angular. Upon closer examination of the codebase, the following third-party plugins are doing a great

[2016-09-11 21:30] seanlip commented on #2381
Yep, I think it is OK to start implementing these practices! Feel free to do so incrementally, a little bit at a time, in separate PRs.

What do you mean by "if the user closes it"?

[2016-09-12 02:24] 526avijitgupta commented on #2332
@souravbadami Sorry for the later response - will be done after https://github.com/oppia/oppia/pull/2361 goes in.

[2016-09-12 08:08] seanlip commented on #2463
Hi @Andimeo -- just a quick heads-up that I'm a bit behind on the other review, but feel free to go ahead and submit a separate PR for this one in the interim if you'd like! Thanks.

[2016-09-12 09:00] hemanthsavasere commented on #2256
Thanks seanlip,
Can I contact you for further guidance in gitter.

[2016-09-12 16:30] raju249 commented on #2455
@seanlip
As per my investigation today ..the error is in
[code]
Further investigation led me to some online resources that said to change directory permissions using
```sudo chown```
I did it as well but didn't succeed.
I am looking further in this issue.
Comment here if u have some thoughts :smile:
Thanks

[2016-09-12 17:13] edallison commented on #2376
@seanlip

I've pushed a [branch up here](https://github.com/edallison/oppia/tree/exploration-recommendations) and would appreciate any feedback.  I did have to skip the karma tests in order to push this due to the following error:

[code]

I'll work on figuring out what's going on there.  Thanks!

[2016-09-12 19:45] seanlip commented on #2455
Good start! I'd suggest:
- Figuring out what the name of the target_parent_dir is
- Figuring out, before the installation process starts, what its permissions are
- Figuring out, after the installation process crashes, what its permissions are (this will help determine whether the installation process is modifying things in any way, as @bbriggs suggested)
- Do one of the following based on the pre

[2016-09-12 19:50] #2382 closed

[2016-09-12 20:00] alexanderpgower commented on #2453
![image](https://cloud.githubusercontent.com/assets/8166124/18450616/a723bb9c-792b-11e6-8761-723416f1aba2.png)

@markhalpin @seanlip
It seems to work fine on my Safari (9.1.2)...is there a way to install an older version of Safari on to my computer?

[2016-09-12 20:06] seanlip commented on #2242
NB: This is being looked at in #2456.

[2016-09-12 20:13] seanlip commented on #2453
Aha, I figured it out. It looks like support for `display: flex` (which is used in .oppia-about-tabs) was only introduced in Safari 9.1. See http://caniuse.com/#feat=flexbox.

Safari 9 has been around for about a year now, so I'm not sure if we should try to fix this or not. Moving to triage queue for tech lead meeting.

[2016-09-12 20:20] seanlip commented on #2256
I'd suggest posting to the open gitter chat room. That way, someone may be able to help you. Please be clear about exactly what you need help with; specific questions are easier to answer. Thanks!

[2016-09-13 07:00] seanlip commented on #2453
Discussed in TL meeting. This is indeed a compatibility issue, but we think there might be an easy way around this.

@markhalpin, if you get a chance, would you mind opening `core/templates/dev/head/css/oppia.css`, and finding the `.oppia-about-tabs` rule? Then add the single line `display: -webkit-flex;` as follows:

[code]

and see if it works? If so, please let us know, and we can make that as

[2016-09-13 07:30] #2242 closed

[2016-09-13 08:46] seanlip commented on #2376
Weird -- I seem to remember that @wxyxinyu ran into this issue too. @wxyxinyu, did you manage to resolve it? If so, how did you do so?

(NB: I looked into it a bit and found [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/log). It seems like log() may have a slight inaccuracy, though I'm wondering why this doesn't manifest in, e.g., the Travis tests. In

[2016-09-13 09:20] seanlip commented on #2256
@hemanthsavasere -- do you still want to take this issue? If so, let me know, and I can assign you to it.

You might want to take a look at textAngular, btw. It's the text editor that Oppia is currently using. Maybe see if this problem occurs there.

Also, I should mention that I have no idea why this problem occurs, I'm afraid. It might take a bit of digging and reading of the textAngular code to

[2016-09-13 13:30] hemanthsavasere commented on #2256
Thanks Sean,

Thanks for your guidance,I will put my best efforts to fix this bug.

On Tue, Sep 13, 2016 at 2:50 PM, Sean Lip <notifications@github.com> wrote:

[2016-09-13 14:25] markhalpin commented on #2453
@seanlip yep! That works like a charm.

Thanks!

[2016-09-14 06:04] seanlip commented on #2453
Thanks @markhalpin!  I'm making a fix for this in #2477.

[2016-09-14 06:04] seanlip commented on #1805
Made a fix for this in #2477; after this bug gets closed, please re-open it if the issue recurs. Thanks!

[2016-09-14 07:22] #2453 closed

[2016-09-14 07:23] #1805 closed

[2016-09-15 04:12] seanlip commented on #2225
Removing @sethuiyer due to lack of response.

[2016-09-15 06:00] TruongKim commented on #2309
@hi seanlip So I've been looking at the errors for a week now, but now it seems like I'm in over my head. Can you help me understand this error? The test says 3 tests executed successfully but the build still has errors.

[2016-09-15 06:02] TruongKim commented on #2309
![capture](https://cloud.githubusercontent.com/assets/18127284/18539853/3c9f45c0-7acf-11e6-85cf-6740ba8ad2e4.JPG)

[2016-09-15 06:06] seanlip commented on #2309
Interesting -- I don't know, actually. I don't think this is something you can find out just by looking at it and deducing, though; what I'm seeing is that the tests just somehow fail to indicate to Travis that they've finished running. They just sort of hang. So, two questions:

(a) Do they do this on your local computer?
(b) Have you tried searching the Web to see if anyone else has run into thi

[2016-09-15 08:26] seanlip commented on #2376
Hi @edallison -- just a heads-up, the logarithm issue has been fixed by @Arunabh98 in #2479 (thanks @Arunabh98)! If you could check out the latest version of develop, that should solve the problem.

Thanks!

[2016-09-15 14:22] edallison commented on #2376
Thanks @seanlip I've addressed your suggestions to my branch.  Once I get some backend tests written I'll make a PR.

[2016-09-15 16:20] #2473 closed

[2016-09-15 18:51] #2457 closed

[2016-09-16 05:40] seanlip commented on #2107
Deassigning @KatFrog due to lack of response.

[2016-09-16 05:42] seanlip commented on #1982
Reading this, I don't actually understand what needs to be done here. @bbriggs, what do you mean by "add python 3 to the test matrix"?

[2016-09-16 05:45] seanlip commented on #1614
I'm going to close this, for now. The issue as it stands is somewhat vague, and I've also been rewriting some of the textual pages in the meantime, so it might be obsolete. We'll tackle focused pages as needed at a later date.

[2016-09-16 05:45] #1614 closed

[2016-09-16 06:01] seanlip commented on #2431
Is this a duplicate of #1436? @BenHenning

[2016-09-16 06:04] TruongKim commented on #2309
@seanlip How do I ask the protractor folks? by going to their gitter chat ?

[2016-09-16 06:06] wxyxinyu commented on #1469
Closing because this is now obsolete with our new metrics/analytics.

[2016-09-16 06:06] #1469 closed

[2016-09-16 06:07] seanlip commented on #2309
That might work, or you could write them an email. Make sure you follow steps (a) and (b) first, though. In particular, do the tests run (and successfully complete) on your local machine?

[2016-09-16 06:19] seanlip commented on #2224
NB: this is currently being tackled in #2367 by @Arunabh98 (thanks @Arunabh98!)

[2016-09-16 07:05] AllanYangZhou commented on #2463
Fixed in #2463, thanks @Andimeo!

[2016-09-16 07:05] #2463 closed

[2016-09-16 07:11] seanlip commented on #2025
So -- this was started in #2263, but was then closed, and I don't see the replacement PR. @Arunabh98, did you create one?

[2016-09-16 07:16] seanlip commented on #848
This has already been fixed. Closing.

[2016-09-16 07:16] #848 closed

[2016-09-16 07:20] seanlip commented on #1726
(Deassigning @yjli216 due to lack of response.)

@Andimeo, want to take this on? Note prior work in #1726 (though this doesn't take the right approach).

[2016-09-16 07:26] Arunabh98 commented on #2223
Can we sort the activity_list in `core/controllers/library.py` in `get_matching_activity_dicts` function on line 35. After the function has loaded the list of activities by line 58 we can sort the list based on rating or last updated. But one thing I am not able to figure out is that will be differentiate between 'user clicks view all of Top-rated Exploration' and 'user clicks view all of Recently

[2016-09-16 07:34] seanlip commented on #2223
I agree that we need to extend the current url schema to include data on what order to return the results in. Could you make some proposals, then rank them in order of preference, and explain the reason for your ranking?

Also, I think you'll need to have the sort happen in app engine search api, if that is possible, so that you can get paged results with a cursor. So, as pre-work, you'll need to

[2016-09-17 06:35] seanlip commented on #2042
(De-assigning @dpaparis due to lack of response.)

@souravsingh, would you like to work on this?

[2016-09-17 06:37] #2224 closed

[2016-09-17 09:35] souravsingh commented on #2042
@seanlip I am willing to work on the issue.Any suggestions on how to enable the retry feature?

[2016-09-17 09:36] seanlip commented on #2042
Thanks! I'm afraid I'm not very familiar with this area, so you'll probably have to read some of the Travis docs and try out various things on your own fork.

[2016-09-17 09:39] rackstar17 commented on #2365
I pushed a solution for this .
Can you review my PR .
Thanks.

[2016-09-17 09:42] seanlip commented on #2365
Hi @rackstar17, I think @AllanYangZhou will be reviewing this. If you like, feel free to look into another issue in parallel, though!

[2016-09-17 15:01] Arunabh98 opened #2482 "'Learner's Answers and Oppia's Responses' overflow out of their cards in mobile view"
Steps to reproduce:
1) create a exploration on a mobile
2) add any interaction like multiple choice or item selection
3) add atleast one response of a reasonably long length and save it.

Observed Behavior:
The answer in responses overflows out of the cards

Expected behavior:
The answer should be wrapped to be fit within the cards.

Here is a picture for reference :
![screenshot_20160917-202946](

[2016-09-18 07:51] #1726 closed

[2016-09-18 07:56] seanlip commented on #1858
Hi @kennychong89, how is this going?

[2016-09-18 08:45] seanlip commented on #2156
@526avijitgupta, are you still running into this? If so, what code did you delete?

[2016-09-18 08:45] seanlip commented on #2156
(Also de-assigning @bbriggs due to lack of response.)

[2016-09-18 08:46] seanlip commented on #1762
This is being tackled as part of #1760. Closing.

[2016-09-18 08:46] #1762 closed

[2016-09-18 08:51] seanlip commented on #2350
Hm, I think @sourabhswain is stuck, but @rackstar17 -- it looks like you just solved a similar problem. Would you like to try this one out?

Thanks!

[2016-09-18 20:39] seanlip opened #2485 "Serve our static pages statically (and later our dynamic ones too)."
We have HTML pages which use jinja to interpolate dynamic content at the back-end before being sent to the user. These rendered html pages are pretty huge and consist of mostly _static_ content which can be potentially cached. We could cache entire html templates and then use AngularJS to fetch data from backend APIs and update it in the html templates.

The aim of this issue is to investigate wha

[2016-09-18 23:01] kennychong89 commented on #1858
Hi Sean, I need a little bit more time to study Oppia's code base before contributing. You can unassigned me from this issue for now. Thanks.

[2016-09-19 05:11] TruongKim commented on #2309
The tests fail on my machine as well. Here's a picture:
![capture](https://cloud.githubusercontent.com/assets/18127284/18623022/ce20613a-7dec-11e6-83c7-0bb765fd8bd6.JPG)

[2016-09-19 05:12] seanlip commented on #2309
OK -- that's good, because you can introspect your local env more easily than you can introspect Travis. Just to check, though, do they run correctly on develop? If so, then we know that the failure is due to this PR, and not your machine.

Also, is there any information "above" this section of the logs? It might give a clue as to what's going on.

[2016-09-19 09:11] Arunabh98 commented on #2223
After tracing through the code how the current search functionality work here's what I found out:
The real search starts in `library.py` in `get_matching_activity_dicts` (line 35). This function calls `exp_services.get_exploration_ids_matching_query`. The function `get_exploration_ids_matching_query` calls `search_explorations`. `search_exploration` then calls `gae_search_services.search` which is

[2016-09-19 09:54] Arunabh98 commented on #2223
Actually when going through the code in `core/storage/exploration/gae_models.py` I noticed these two functions `get_top_rated` (line 374) and `get_recently_published` (line 415) which return the top rated explorations and most recently published explorations - which is what we want. These functions are also used in library.py (lines 104 - 108) to get the top rated explorations and recently publish

[2016-09-19 13:32] prasanna08 commented on #2455
Hi @raju249, are you still working on this issue ?
Just to make sure that things are progressing.

[2016-09-19 13:35] prasanna08 commented on #2357
Hi @alexanderpgower , are you still working on this issue ? Just making sure that it's being worked on.

Thanks

[2016-09-19 13:39] prasanna08 commented on #2297
Hi @chipperatkins, still working on this ?

[2016-09-19 13:40] prasanna08 commented on #2286
Hi @markhalpin , are you still working on it ?

[2016-09-19 13:42] prasanna08 commented on #2254
Hi @raju249 -- Ping. Just making sure this one's not blocked.

[2016-09-19 13:47] prasanna08 commented on #2178
Hi ! @brunnre8 -- How's this going on ?

[2016-09-19 13:58] raju249 commented on #2455
Yes I am.
Just had some work to be done, so couldn't do much in last two days.
I am on it. If I feel that I would not be able to give my time for this issue, I would comment it here so that someone works on this issue and its not abandoned. :smile:
Thanks

[2016-09-19 14:00] raju249 commented on #2254
Assign someone who has oppia working in his/her machine.
I am on #2455 to help oppia setup on my machine.

[2016-09-19 14:01] prasanna08 commented on #2455
Okay sounds good.
Thanks

[2016-09-19 14:07] prasanna08 commented on #2254
(deassgining @raju249 as he is already working on other issue).

[2016-09-19 18:37] seanlip commented on #2223
I think using a datastore query, as in get_top_rated etc., sounds pretty sensible to me for those two pages. It's possible to have a query cursor (you'll need to look at the App Engine docs for that), but it might be overkill for those two pages since the user doesn't really need to see _everything_ on them.

[2016-09-19 22:51] markhalpin commented on #2286
Hi @prasanna08 I have sent out a round of mocks going through the learner experience, and have a tweak or two to make to them. One of those tweaks is adding an icon to access a creator's profile page from within a collection or individual exploration. I will post a link to these mocks after I've made those tweaks. This will be posted Tuesday afternoon to Oppia Design github. Thanks!

[2016-09-20 03:08] prasanna08 commented on #2269
Hi @seanlip, I am in middle of first milestone of design doc. It's almost complete. There's a problem, though. For query ( Has user logged in since last N days ) I did not find any model/attribute that stores this information. Do you have any ideas for this ?

Thanks

[2016-09-20 03:09] seanlip commented on #2269
That's a good point, I think we'll need to add an attribute for that...

[2016-09-20 03:13] prasanna08 commented on #2269
Then may be we should have a separate issue for that and leave that query
for later. Once we have proper solution for last login time I will add it
to mapreduce.

What do you think ?

[2016-09-20 03:16] seanlip commented on #2269
I think the last login time is quite straightforward, so either way sounds good to me tbh. If we aren't doing it now, please make sure to file an issue so we don't lose track of it!

[2016-09-20 03:16] Arunabh98 commented on #2223
So is it sensible to show the top 20 explorations to the user. If so we can easily use those two functions to fetch the top 20 explorations or most recent explorations. Or do you suggest some other way?

[2016-09-20 04:07] seanlip commented on #1982
Discussed in TL meeting; closing because we don't entirely understand why it's needed. @bbriggs, please feel free to reopen if you disagree. Thanks!

[2016-09-20 04:07] #1982 closed

[2016-09-20 04:41] seanlip commented on #2223
Seems reasonable to me. What are the URLs of the result pages going to look like?

[2016-09-20 04:42] #2029 closed

[2016-09-20 04:58] BenHenning opened #2487 "Incorporate HTML linter"
We have a linter for JavaScript and Python, but not HTML. This leads to pointless back-and-forths during code reviews, or silly changes (like #2486). We should use an HTML linter and integrate it with Travis to avoid the wasteful experience of trying to create pretty HTML code purely through the code review process. There seem to be a variety of options available, so this issue involves researchin

[2016-09-20 04:59] BenHenning commented on #2487
/cc @seanlip
/cc @bbriggs

[2016-09-20 06:01] TruongKim commented on #2309
So it did run correctly on develop. Here's some more information:
![capture](https://cloud.githubusercontent.com/assets/18127284/18659051/df1dc98e-7ebc-11e6-9366-897d27593656.JPG)

[2016-09-20 06:07] seanlip commented on #2309
Hm, interesting. So it's an issue with the upgrade then -- maybe the new version of Protractor has a different dependency, or something.

Did you try googling the error? Do you think it might be related to this? http://stackoverflow.com/questions/25294183/running-selenium-chromedriver-using-protractor-on-linux/25294834#25294834 It seems like this is something that others have probably encountered,

[2016-09-20 08:32] souravsingh commented on #2394
@seanlip Can I take a stab at other file to add docstrings?

[2016-09-20 08:49] seanlip commented on #2394
Yep, sounds good. Could you take core.domain.html_cleaner? Thanks!

[2016-09-20 09:32] seanlip commented on #2394
@andromfins -- are you still working on this?

[2016-09-20 15:56] andromfins commented on #2394
@seanlip Yes!

[2016-09-20 16:41] Andimeo commented on #2485
@seanlip I have a simple thought on this issue. Could we add a cache in BaseHandler to hold the static pages currently rendered by jinja2? Since If we did this, the template will only be rendered once, later on it is just retrieved from the cache. And I suppose this will not affect the login status.
One way to achieve this is to add an argument  for render_template to specify whether we want to ca

[2016-09-20 19:12] souravsingh commented on #2042
The issue is being worked in PR #2237

[2016-09-20 19:14] souravsingh commented on #2042
The PR is worked already in #2237. Should we close the previous PR and create a  new one?

[2016-09-20 19:16] seanlip commented on #2042
I think it's best to start this one from scratch, so yep -- I've closed the PR, and I suggest making a new one. Thanks!

[2016-09-20 19:22] seanlip commented on #2485
It sounds plausible, but it needs investigation to see whether this actually speeds things up significantly. Currently, I lean more towards going with a fully-static solution (or as fully-static as possible), but to be honest I don't know. Some notes:

- jinja2_env looks like it's already a webapp2.cached_property in core/controllers/base.py. I'm not sure if that's what you're referring to, but if

[2016-09-20 19:42] Arunabh98 commented on #2223
Something like `https://www.oppia.org/explorations/top_rated` and `https://www.oppia.org/explorations/recently_published`. I feel they are short and convey the right meaning to the user. I have also thought of a method on how to accomplish this though I am not sure whether this is the best way to accomplish this.

I'll explain the method for recently published. I'll add a category to `recently_pub

[2016-09-20 20:23] Arunabh98 commented on #2223
May be `https://www.oppia.org/explorations/top-rated` and `https://www.oppia.org/explorations/recently-published`. I feel they are short and convey the right meaning to the user. I have also thought of a method on how to accomplish this though I am not sure whether this is the best way to accomplish this.

I'll explain the method for recently published. I'll add a category to `recently_published_s

[2016-09-20 20:30] seanlip commented on #2223
Generally this seems roughly right, but I wouldn't have special casing in the frontend. That just sounds like you're tightly coupling the frontend and backend, which is not great.

Instead, maybe try something along the lines of passing a 'full_results_url' key from the backend? If that is specified, it tells the frontend what URL to ping to get the full results. If it is None, a search query is u

[2016-09-20 21:17] Arunabh98 commented on #2223
Oh.. we can change the urls to `https://www.oppia.org/explorations/top_rated` and similarly the other one.

`inSearchMode` is already there as the main library page is used both for default list of categories and for search results. So currently we have something like this in library.html:
[code]
and inSearchMode is set to -
[code]
in Library.js.
So I was thinking along similar lines that we could

[2016-09-20 22:38] seanlip commented on #2223
Oh, I see. Yep, sounds reasonable to me. At some point it might make more sense to split these things into separate pages but I'm not too bothered either way.

[2016-09-20 23:45] abhijit5893 commented on #2225
@seanlip Please take a look  [here](https://youtu.be/2vQy-Hhp-Fo)

[2016-09-21 04:01] Arunabh98 commented on #2223
So for now do I proceed with this method (including the suggestion to pass the URL from the backend)?

[2016-09-21 04:02] seanlip commented on #2223
Yep!

[2016-09-21 04:55] rackstar17 commented on #2350
I've made a PR for this issue .
Can you review please ?
Thanks.

[2016-09-21 05:07] 526avijitgupta commented on #2156
@seanlip Yes I'm still running into this issue. Commenting out / deleting the code for browsermobproxy, selenium and requests makes it work for me.

[2016-09-21 05:50] seanlip commented on #2156
Oh, interesting. @gvishal, is this related to your stuff?

Also, is anyone else running into this? (If you're reading this and it's happening to you, please add a comment here. Thanks!)

[2016-09-21 06:57] seanlip commented on #897
(Note: this isn't finished yet. The frontend part is still being worked on in #2490.)

[2016-09-21 07:18] seanlip commented on #2225
Hi @abhijit5893 -- thanks! This is not what was intended, though, so let me be clearer. It would also be a good idea to look at the images in [this comment](https://github.com/oppia/oppia/issues/1839#issuecomment-222596560) for reference.

Here is the intended behavior:
- When the user's mouse is on any tile in the carousel, a ">" arrow should appear next to the carousel header. The size and the p

[2016-09-21 07:25] seanlip commented on #2365
The previous PR is being reverted in #2497 because it results in a serious regression to the dashboard tile layout. It should look like this:

![screenshot from 2016-09-21 00 02 52](https://cloud.githubusercontent.com/assets/10575562/18701487/c4096056-7f91-11e6-8cf0-46e28ccb66c8.png)

but instead it looks like this:

![screenshot from 2016-09-21 00 01 35](https://cloud.githubusercontent.com/assets

[2016-09-21 08:47] seanlip commented on #1256
Hi @razat249 -- would you mind looking into this? In particular, are you able to reproduce it?

Thanks!

[2016-09-21 09:05] razat249 commented on #1256
Sure

[2016-09-21 11:05] gvishal commented on #2156
It could be. I tested it for Ubuntu and it works fine. Might have to debug this for MacOSX.

[2016-09-21 14:57] TruongKim commented on #2309
It seems to me the issue is with the ChromeDriver, either our code have the wrong version or some implementations are wrong. I will look into stackoverflow more. Also, for our code, where do we install the chromeDriver executable? I'm asking since after looking at the errors, it seems like the program can't find the chromedriver.
![capture](https://cloud.githubusercontent.com/assets/18127284/18716

[2016-09-22 00:16] seanlip commented on #1854
I think this is done; closing. (@jacobdavis11, if you disagree, please reopen. Thanks!)

[2016-09-22 00:16] #1854 closed

[2016-09-22 01:33] #2230 closed

[2016-09-22 02:04] seanlip commented on #2309
I believe Protractor installs chromedriver as part of its dependencies. That said, please take a look at scripts/run_e2e_tests.sh (and, more generally, grep the codebase for chromedriver: `grep chromedriver . -r --exclude-dir=third_party`). There's a block in run_e2e_tests.sh that might need to be removed, but I am not sure.

[2016-09-22 03:06] markhalpin opened #2499 "Tweak Library card icon placement"
Thank you for adjusting the height of individual cards vs. collections in the Library view! This makes the page much neater-looking. An unintended effect: this raises the icons in those cards relative to those in collections, introducing a different misalignment, as shown:
![library_casea](https://cloud.githubusercontent.com/assets/13863393/18735999/8a0e752a-8050-11e6-92cd-78ed9a51240e.jpg)

Pleas

[2016-09-22 03:16] markhalpin opened #2500 "Limit title length on Library cards"
Can we implement a way to limit the total number of characters on our Library card titles, so that titles span a maximum of two lines? Three lines of text on the cards looks very cluttered, as seen below. Thanks!
![library_card_text](https://cloud.githubusercontent.com/assets/13863393/18736059/6173201a-8051-11e6-834d-b4261f3dc37c.jpg)

[2016-09-22 04:56] #2366 closed

[2016-09-22 08:10] seanlip commented on #2160
Hi @526avijitgupta -- just flagging this. Thanks!

[2016-09-22 09:18] seanlip commented on #2025
Hi @anthkris -- do you think you'd be able to pick this up, in a brand-new PR? I think you can use what's been done in #2263 as a starting point. (It looks like @Arunabh98 is currently busy with another issue.)

Thanks!

[2016-09-22 09:21] Arunabh98 commented on #2025
Oh I did not see this! Sorry for that..
But yeah right now I'm tackling another issue so anyone will to take this can take this up.

[2016-09-22 10:07] 526avijitgupta commented on #2160
@seanlip I'll research more about what exact scenarios need to be tested.

[2016-09-22 14:59] Andimeo opened #2503 "Trigger back end unit test cases in one single process instead of in a separate shell"
Currently we run each test by calling shell directly, so we can't differentiate which logs are generated by ourselves and which logs are generated by the python unittest framework.

If we add the flag -v when running backend tests, we'll get logs like the following:
[code]
However this will flood over what we really want to display.
To address this issue we may have to investigate how the unittest

[2016-09-22 15:09] Andimeo opened #2504 "We'd better parse the test_target we passed in when running backend tests into a more fine-grained manner"
I noticed for a specified test_path, we'll try to parse all the test cases in this directory. But for test_target, we treat it like one test case. However, such as 'core.domain.feedback_services_test', in fact it contains several test classes like FeedbackServicesUnitTests and SuggestionQueriesUnitTests. So I think it may be better to run the tests in a more fine-grained perspective. The ideal way

[2016-09-22 16:57] Andimeo commented on #1160
Is it possible to differentiate whether to render json or html by the exception type? If not, what can decide which type we should return?

[2016-09-22 17:00] Andimeo commented on #1160
If only the controller can decide whether we should render json if exception raised, could we put a variable in each controller to tell that? Or an abstract method in BaseHandler each of the concrete controller has to implement?

[2016-09-22 17:56] abhijit5893 commented on #2225
Create the pull request. Also, here is the updated [video](https://www.youtube.com/watch?v=_iZBMrBtGXc) for design review

[2016-09-22 21:21] seanlip commented on #2504
Hi @Andimeo, just to check, what problem would this be fixing? Note that it's actually possible to run specific test targets as follows: `--test_target=core.domain.feedback_services_test.FeedbackServicesUnitTests`.

[2016-09-22 21:22] seanlip commented on #2225
Thanks @abhijit5893!

@markhalpin, would you mind taking a look at the video link in the previous comment and providing some design feedback? The aim is to get rid of the "View All" button, which is something I think we discussed a few months back.

[2016-09-22 21:23] seanlip commented on #1160
I think that, as a proxy, you could use self.request.get('payload'), since we only send those to JSON-type handlers. So, if that is not None, it's an html handler, and otherwise it's a json handler.

[2016-09-22 21:26] seanlip commented on #2503
Just to check: what's an example of the ideal desired behaviour?

[2016-09-23 02:06] seanlip opened #2506 "Make MathJax content load faster."
Create a new exploration and try typing the following in the content area, using the math RTE component:

![screenshot from 2016-09-22 19 02 17](https://cloud.githubusercontent.com/assets/10575562/18771862/3395799e-80f7-11e6-9915-317808aa16e2.png)

Save the content. You'll notice that, in the preview, the MathJax components take a noticeable amount of time to load, which leads to a somewhat clumsy

[2016-09-23 03:47] markhalpin commented on #2225
Hi all. Unless I'm missing something, I think this looks just like as described in Sean's second last post. The exception is that the titles do not underline on mouse over, but I think this is perfectly fine: with the title changing color + the arrow appearing, that's plenty going on already (in fact, my personal preference would be just the arrow appearing without the color change, but that's not

[2016-09-23 03:56] seanlip commented on #2485
I thought about this a bit more. Here's a possible way to proceed:
- Create a new URL endpoint in app.yaml, something like /statictestpage, and have it point to some static file like assets/pages/statictestpage.html
- See if you can manage to get /statictestpage looking exactly like, e.g., /about (or any other static-like page). To do this, you'll have to figure out what exactly is showing on /abo

[2016-09-23 05:47] TruongKim commented on #2309
Actually, for chromedriver I thought we need to download it and put the unzip the files in NODE_MODULE_DIR/protractor/selenium directory? Here's the image after I use grep
![capture](https://cloud.githubusercontent.com/assets/18127284/18775419/747cfd6e-8116-11e6-819c-ef37ecc96c11.JPG).

p/s: I also changed the line in perf_services.py from chrome_drive 2.21 to 2.22., but the error remains.

[2016-09-23 06:36] seanlip commented on #2309
Sorry, I'm not sure. I think you'll need to do some more digging (and reading the necessary code) in order to get a good understanding of what's going on; I don't think an ad hoc approach will work so well here. If we do download Chromedriver then it will be in one of the script files, and it should be possible to try and debug that as needed.

[2016-09-23 06:40] BenHenning commented on #2028
I think the path of least resistance is just to reuse the existing tags. We
could always implement a settings page in the future if it turns out to be
useful. I think there are good suggestions here worth considering in that
situation.

On Thursday, August 25, 2016, Sean Lip <notifications@github.com> wrote:

[2016-09-23 06:51] BenHenning commented on #2431
Yes it is. I knew that issue was around somewhere...thanks. I'm on mobile
atm and can't close this issue at the moment.

On Thursday, September 15, 2016, Sean Lip <notifications@github.com> wrote:

[2016-09-23 06:56] BenHenning commented on #2376
If there are any outstanding questions, I'm happy to answer or take a look
at code. I was a bit busy the last couple of weeks but should be around
now.

On Thursday, September 15, 2016, Ed <notifications@github.com> wrote:

[2016-09-23 06:58] seanlip commented on #2431
OK, I'll close this as a duplicate of #1436. Thanks!

[2016-09-23 06:58] #2431 closed

[2016-09-23 10:27] Arunabh98 opened #2508 "Automatically generate a few explorations with some features such as rating, stats to speed up development process."
We should have a feature in admin development panel which auto generates a few explorations (say 5). Out of the generated explorations some will have a rating (not N/A), some will have a few statistics. This would be useful when we are testing features related to top rated explorations, or statistics of exploration as currently we have to do these things manually (for eg, to generate a exploration

[2016-09-24 04:26] raju249 commented on #2455
@prasanna08 I think I am short of time for now due to my college assignments and internship.
I am extremely sorry that I won't be able to give time to this issue for now.
Please assign someone else as this affects the developer workflow.
Also /cc @seanlip

[2016-09-24 09:53] Andimeo commented on #2504
I mean when we specify a package. We had better parse out which files are in this package.
For a test file, determine which test classes are in this package. And treat each test class as a single unit to run. Currently we treat what we passed in as a whole unit.

For example, if `--test_target=core.domain.feedback_services_test`, we will run `FeedbackServicesUnitTests`, `SuggestionQueriesUnitTests

[2016-09-24 10:07] Andimeo commented on #2503
I simply want to abandon the shell approach and make the test runner triggered inside.
The unittest is written in python while the backend_tests.py is also writter in python so we don't have to let shell glue them together.

For the output part, I think we can customize our test runner (I suppose unittest supports such customization) to make the output more readable.

[2016-09-24 10:11] Andimeo commented on #2485
OK, thanks for your breakdown.
Now it seems more doable to me. :)

[2016-09-24 11:18] Andimeo commented on #1160
Take login as an example, if exception occurs when accessing from browser, we should return html while accessing from UT we should return json, is it what we want to achieve?

[2016-09-25 04:43] seanlip commented on #2503
Oh, I think I see what you mean. The point is that we currently have a python --> shell --> python flow when running backend tests, and this causes issues in the logs. It would be better to just do everything in one python thing.

I'm not sure yet if this is worth tackling; let me mark it for triage discussion with the tech leads. One question, though: can you give an example of the current logs,

[2016-09-25 04:46] seanlip commented on #1160
When you say "take login as an example", which URL are you referring to? The login URL is actually an App Engine URL, so it's a bit of a special case.

Generally, whether the request is JSON/HTML depends on the URL and the type of handler (get/post/etc.) and can, I think, be identified by whether self.payload is set or not, since the frontend sends a 'payload' key for every JSON request. However,

[2016-09-25 07:59] seanlip commented on #1512
Closing this for now, since it's not really actionable at the moment. It will become more clear what to do when we've built out, e.g., an experience for maths, since this would be part of its core user journey.

That said -- @kevinlee12, feel free to reopen if you disagree!

[2016-09-25 07:59] #1512 closed

[2016-09-25 08:02] seanlip commented on #310
@kvharish, would you like to tackle this?

To reproduce: create an exploration and go to the history tab. You'll see that there are only 30 revisions shown at most, with no allowance for paging. The aim of this issue is to add support for paging.

Please let us know if you have any questions, and thanks!

[2016-09-25 08:13] kvharish commented on #310
Sure @seanlip I would like to give it a try and see how it goes. Thanks.

[2016-09-25 14:41] Andimeo commented on #2503
Sure. Current logs look like this,
[code]
What I want to achieve,
[code]

[2016-09-25 15:18] Andimeo commented on #1160
Yes, for a successful request, the URL and handler can determine whether to return json or html.
But for a request in which exception occurs, self.payload is used to determine to return which format.

I think the issue here is that in UT we didn't set `payload` when calling `get_json`. So if exception occurs, we'll return an html page instead of a json object.

If my understanding is correct, I th

[2016-09-25 16:08] Andimeo commented on #1160
I did a little more investigation. The `get` method `webtest` provides doesn't support to send request with `body`.  So the `payload` approach may not work for `get`. We have to come up with a new strategy to determine whether the request wants a json or an html if exception occurs.

Since our `handle_exception` is inherited and invoked from webapp2.RequestHandler, we can't add more arguments to t

[2016-09-25 16:19] Andimeo commented on #1160
Oh, I find a workaround to address this issue. Adding an argument `payload={}` to the URL will achieve what we want.

[code]

What do you think?

[2016-09-25 22:29] seanlip commented on #1160
Actually, my apologies -- I dug into this a bit more and realized I was wrong in my previous comments.

We actually do use self.payload for figuring out what type of error response to send for non-GET requests. However, this isn't actually sent for GET requests (I was testing with /explorationsummarieshandler/data) and so we can't do that. I tried modifying the http interceptor in app.js to add a

[2016-09-26 03:37] Andimeo commented on #1160
I think it will work for most cases. But consider PageNotFoundException, there's not even a handler associated with the request, how come we determine to return which format?

[2016-09-26 03:38] seanlip commented on #1160
Please could you elaborate? _render_exception() is defined on the handler, so it will know which handler is associated with the request, unless I'm missing your point...

[2016-09-26 03:43] Andimeo commented on #1160
I mean if the request is ("GET", "/unknown"), so we don't have a handler bound with this request. Where should we add the GET_HANDLER_TYPE field? BaseHandler?

[2016-09-26 03:45] seanlip commented on #1160
Ah I see. There's a base.Error404Handler which takes care of this. I would say that its GET_HANDLER_TYPE is html, since we have no way to know...

[2016-09-26 03:50] Andimeo commented on #1160
If so, that doesn't resolve our issue either. It's appropriate if a real user visits "/unknown" and we return an html page, but in UT if we call get_json("/unknown"), we should return a json right? that's what the function name implies. How do we address this?

[2016-09-26 03:53] seanlip commented on #1160
I don't think we can; ultimately get_json() is just a wrapper around get().

However, the errors we are trying to guard against in tests are often 400s or 500s, not 404s, so I think it would be fine to not handle it. Perhaps we can put a note to developers in get_json() to explain that this will not return JSON if the URL is unknown.

[2016-09-26 04:02] Andimeo commented on #1160
OK, sounds good. So what should I do next? Since this issue is marked as TODO: tech(design doc), should I directly start coding or something else, like a design doc or what?

[2016-09-26 04:03] seanlip commented on #1160
I think we know enough to start coding directly -- would you agree? If so, I would just go ahead and implement the solution. I'll change the label to "instructions" since that's probably more appropriate.

[2016-09-26 04:05] Andimeo commented on #1160
So I'm done with this issue? I suppose I'm the one who will implement this. :)

[2016-09-26 04:08] seanlip commented on #1160
Well, I think you're still assigned, and we'll close the issue after the PR has been merged :-)

(You are fine with implementing, right? The reason I put 'todo: instructions' is because, if you decide to pass on this issue, we'd still need to write up instructions for someone else who would implement this.)

[2016-09-26 04:51] Andimeo commented on #1160
Sorry, I'm a little confused. Are you going to implement this?

[2016-09-26 04:53] seanlip commented on #1160
Ohh, I see the issue!

Sorry, it's an English thing. I was speaking in the subjunctive(?), and this was totally unclear. What I meant to say was: "If so, I would suggest that you just go ahead and implement the solution."

[2016-09-26 04:59] Andimeo commented on #1160
OK, so I will start the implementation. BTW, thanks for your explaining on the English grammar I'm not good at :)

[2016-09-26 05:01] seanlip commented on #1160
No problem! Sorry for confusing you :P

[2016-09-26 06:00] seanlip opened #2514 "Add a fixed footer to the exploration learner view which highlights the contributors and sharing buttons."
We want to make it easy for students to see who created an exploration, and to share the exploration with others. This information actually exists in the learner view, and can be accessed by clicking the small "i" button at the top of the page in the navbar. However, this isn't particularly discoverable, so we would like to show this information in a fixed footer at the bottom of the page instead.

[2016-09-26 06:01] seanlip commented on #2514
(Also, @markhalpin, please let me know if I've got any of the above wrong!)

Also /cc @Arunabh98, who I believe originally suggested this.

[2016-09-26 06:26] seanlip commented on #2508
Actually let's maybe generate 30 explorations, with 20 belonging to a single user -- then we have a nice way to test out that user's dashboard page as well. It would be nice to add some feedback/suggestions for some of these explorations, too.

[2016-09-26 10:54] razat249 commented on #1256
Hello @seanlip -- I have created the four cards each containing the gif image but in my case, no error appeared. I am running Oppia in development mode in ubuntu.
![screenshot from 2016-09-26 16 23 44](https://cloud.githubusercontent.com/assets/10090911/18831826/8efc4cc0-8405-11e6-961b-0f316579c41d.png)

[2016-09-26 17:04] markhalpin commented on #2514
Hi all,

SGTM except that I actually think we should use the apple, for a few reasons:
1) photos used in an application that small are going to be unappealing -- detail is scrunched and it's difficult to make out the content of the photo.
2) per a comment on a different matter, we might or might not actually have photos of a given author, or the authorship might spread out over multiple collaborat

[2016-09-26 18:24] seanlip commented on #1256
Mm. Did you try uploading very large images (several MB)?

[2016-09-26 18:25] razat249 commented on #1256
Okay let me try this too..

[2016-09-26 19:07] abhijit5893 commented on #2225
@seanlip Please take a look

[2016-09-27 01:34] seanlip commented on #2286
This is done. I'll be filing separate issues for implementation of subcomponents of the new mocks.

Thanks, @markhalpin!

[2016-09-27 01:34] #2286 closed

[2016-09-27 02:49] seanlip commented on #2514
Ah, ok, but then we would need a mock for what happens when the apple is clicked on, otherwise people still can't see the authors or click through to their profile pages. Would we just have a popup that displays them -- maybe with contents that look something a bit like this?
https://github.com/angular/material/blob/master/CHANGELOG.md#contributors

[2016-09-27 03:40] anthkris commented on #2025
Well... I looked at the other issue and the suggestion to modify $scope.stripFormatting. So I've come up with this
[code]
which appears to be working, but I wonder if it's not the best solution, since it no longer uses the $filter('sanitizeHtmlForRte')(html); Thoughts?

[2016-09-27 04:05] seanlip commented on #2025
But if you do this, what happens if you add an image/link for example, and then copy it, and then paste it back again? The clipboard functions should work internally (from an Oppia RTE to another Oppia RTE).

[2016-09-27 04:10] seanlip commented on #2503
Discussed in TL meeting. The new output does look nicer, but it's never really been an issue in practice, since one can subsequently just run a single test in isolation using `--test_target`.

So, overall, we don't mind this being implemented, but we're also fine with it not being implemented, and generally we don't think it's necessary to track it as an issue.

[2016-09-27 04:10] #2503 closed

[2016-09-27 04:12] BenHenning commented on #2504
Hi @Andimeo, I'm a bit confused on what you're suggesting. Oppia does support running test targets at the following granularities:

* All tests
* Package-specific
* Python module
* Python test class
* Python test function

Being able to run a specific function seems to be what you're suggesting, but I'm not entirely sure. If that's not the case, can you give a specific example for what you mean?

[2016-09-27 04:20] anthkris commented on #2025
If I understand you correctly, I should be able to add a link or an image in the initial card, for example and then paste them in the item selections, or vice versa? If so, I just tried it and that seems to still work.

[2016-09-27 04:27] Andimeo commented on #2504
Hi @BenHenning What I mean is that suppose 'core.domain.feedback_services_test' contains FeedbackServicesUnitTests and SuggestionQueriesUnitTests. Currently if we run backend_tests with `--test_target=core.domain.feedback_services_test`, it will translate to a shell command something like `pytho -m unittest core.domain.feedback_services_test`. What I suggest is that to translate it into two shell

[2016-09-27 04:30] Andimeo commented on #2503
Yes, it's more like a feature with rather low priority. Is there anyway to track something like this?

[2016-09-27 04:44] seanlip commented on #2025
Hm, just to be certain, here's what I meant:
1. Create a new exploration.
2. Open the content box, and type some stuff, and add an image from the RTE toolbar.
3. Ctrl-A to select the whole thing, and Ctrl-X to copy it to the clipboard.
4. Hit Enter a couple of times.
5. Ctrl-V to paste what's in the clipboard.

The image should still be there. With the fix you mentioned, is it? If so, then yes, I

[2016-09-27 05:18] seanlip commented on #2504
Doesn't the current test run show exactly which test failed, though? I just tried running `bash scripts/run_backend_tests.sh --test_target=core.domain.feedback_services_test` following your example, and this is the output at the end:

[code]

The line that starts with "ERROR" seems to give the exact test case that failed, so I'm not exactly sure what's missing here...

[2016-09-27 05:19] seanlip commented on #2503
Mmm... we don't really have a system in place for tracking very-low-priority issues (in fact we currently have a bit too many issues as it is, so we're erring slightly towards reducing their number).

That said, is this something you care strongly about, and would it significantly improve your development experience? If so, and other devs feel similarly, let's reopen. Might also be worth doing a q

[2016-09-27 05:49] Andimeo commented on #2504
Yes, I totally agree we can achieve what I want right now. But it is python unittest framework which does this. Actually this issue is very relevant with #2503 . If we get rid of the shell way, we have to handle the output ourselves. So we need to acquire the results of each test case separately.

Anyway, I think it is also an improvement with very low priority. Regarding our current issue numbers

[2016-09-27 05:52] Andimeo commented on #2503
OK, that's fine. I think the closed issue list can also be used to track such very-low-priority issues. :)

[2016-09-27 05:53] seanlip commented on #2504
OK, sounds good. Thanks @Andimeo! (I'll also keep the triage label on it; that might be a good way to find it in the future.)

[2016-09-27 05:53] #2504 closed

[2016-09-27 06:00] 526avijitgupta commented on #2376
@edallison Any updates on this ?

[2016-09-27 06:01] 526avijitgupta commented on #2357
@alexanderpgower Ping ?

[2016-09-27 06:03] 526avijitgupta commented on #2297
@chipperatkins De-assigning due to lack of response - please reply here if you still want to work on this!

[2016-09-27 06:07] 526avijitgupta commented on #2241
@rackstar17 Are willing to work on this (your previous PR was pretty similar to what might be required here) ?

[2016-09-27 06:09] 526avijitgupta commented on #2057
@amgowano Any updates on this ?

[2016-09-27 06:10] 526avijitgupta commented on #2030
@souravbadami Any updates on this ?

[2016-09-27 06:11] 526avijitgupta commented on #2026
@kevinlee12 Any updates on this ?

[2016-09-27 06:14] seanlip commented on #2057
Actually, I think this was fixed in #2422. Closing. Thanks @amgowano!

[2016-09-27 06:14] #2057 closed

[2016-09-27 06:14] 526avijitgupta commented on #1760
@MAKOSCAFEE ping ?

[2016-09-27 06:16] 526avijitgupta commented on #1675
@AllanYangZhou Any updates on this ?

[2016-09-27 06:20] 526avijitgupta commented on #872
@maitbayev Any updates on this ?

[2016-09-27 06:21] 526avijitgupta commented on #1256
@razat249 Any updates on this ?

[2016-09-27 06:22] 526avijitgupta commented on #1220
@maitbayev Any updates on this ?

[2016-09-27 06:23] souravbadami commented on #2030
@526avijitgupta -- WIP at #2472

[2016-09-27 06:24] 526avijitgupta commented on #1345
@ansarimofid Any updates on this ?

[2016-09-27 06:26] 526avijitgupta commented on #2030
@souravbadami okay, thanks!

[2016-09-27 06:32] kevinlee12 commented on #2026
In progress!

On Mon, Sep 26, 2016 at 11:11 PM, Avijit Gupta <notifications@github.com>
wrote:

[2016-09-27 06:54] 526avijitgupta commented on #2026
@kevinlee12 Thanks!

[2016-09-27 08:06] MAKOSCAFEE commented on #1760
Hi @526avijitgupta there is the PR already which is addressing the issue. here #2090 .

[2016-09-27 11:23] 526avijitgupta commented on #2156
More precisely, here's the code that needs to be commented for this to work: https://github.com/526avijitgupta/oppia/blob/f6e0a6696420ee8f9ae7745860760731285cd936/scripts/install_third_party.sh#L125-L146
(I had accidentally committed this file in a commit in one of my PRs !)

[2016-09-27 11:28] anafrancisca opened #2517 "Long lines overflow the rich-text in the Mobile version"
Olá a todos.

I noticed when exploring "Introduction to Probability" in my Smartphone, that long lines overflow the rich-text.
Android 4.2.2
Google Chrome

Here is an image.

Obrigada!
![introduction to probability](https://cloud.githubusercontent.com/assets/18329602/18871547/babd01d0-84ad-11e6-9983-a0e1c1377326.jpg)

[2016-09-27 11:35] anafrancisca opened #2518 "href="/">home page." in the pt version of the "oops" page."
Olá pessoal!

I noticed that the text in the portuguese page of the "oops!" has some coding text (sorry I no nothing about coding). It says "href="/">home page."

Hope these two images clarify the idea.

And by the way, in the feedback message "Dá-nos a tua opinião sobre site", is missing an "o". It should be "Dá-nos a tua opinião sobre **o** site". Is is difficult to correct in the pt.json file?

[2016-09-27 11:36] anafrancisca commented on #2518
![ups_en](https://cloud.githubusercontent.com/assets/18329602/18871822/0d64bd82-84af-11e6-9e4a-3005a777a71a.jpg)

[2016-09-27 11:37] anafrancisca commented on #2518
And by the way,

[2016-09-27 14:41] anthkris commented on #2025
Ahh... Nope. It strips out the image. So I'll try again.

[2016-09-27 18:49] markhalpin commented on #2514
@seanlip I'm not quite sure what you're getting at: why would the experience of clicking on the apple (or other icon) be different from that of clicking on a photo? My assumption would have been that in either case it links directly to a profile page. But, since there might be multiple authors, I do like the idea of (in either case) a popup that displays them as you link to above, with each of tho

[2016-09-27 20:25] razat249 commented on #1256
We can't use Images Higher than 1 MB. Because the max allowed size is 1 MB
![screenshot from 2016-09-28 01 49 48](https://cloud.githubusercontent.com/assets/10090911/18890214/de71e8be-851d-11e6-8427-dc29738274ad.png)

This time I also tried using big gif files About 800-900 KB and no error in my case.

[2016-09-28 04:37] seanlip commented on #2514
Right, I was thinking mainly of the multiple author case -- and since that's possible, we'd want clicking on the apple to be a consistent experience in either case (so we shouldn't have it do a direct-link sometimes and a popup at other times). In addition, a direct-link would be a bit unsettling -- with a profile picture you have a sort of preview of where you're going to. So I think having the p

[2016-09-28 04:55] markhalpin commented on #2514
ah, I think that's a nice idea. Yep, I'll do a mock for that.

[2016-09-28 05:22] seanlip commented on #1256
Hmmmm.

OK, I don't actually see a good way to reproduce this, so I suggest we close the issue. I don't think I've seen anyone else mention this since this report was filed, so perhaps it was just a transient bug. @amitdeutsch, if it happens again, please could you reopen?

Also, thanks @razat249 for looking into this!

[2016-09-28 05:22] #1256 closed

[2016-09-28 05:24] seanlip commented on #1855
Hi @razat249, want to have a go at this one? (It needs some investigation in order to figure out what's going on first...)

Thanks!

[2016-09-28 05:33] #1160 closed

[2016-09-28 05:34] seanlip commented on #2429
Hi @MoultonDev -- are you still working on this?

Thanks!

[2016-09-28 12:22] #2518 closed

[2016-09-28 14:10] edallison commented on #2376
@526avijitgupta I apologize as I've been busy the last couple weeks. The code to handle the issue is written however I still need to write some tests for it.  Hopefully I will have some time this weekend to get these written.

[2016-09-29 02:24] anthkris commented on #2025
Okay @seanlip ! Reworked the regex and tested and everything is coming up roses. PR is in: https://github.com/oppia/oppia/pull/2524

[2016-09-29 04:08] #897 closed

[2016-09-29 05:54] seanlip opened #2525 "Standardize the page backgrounds on the site."
This issue aims to standardize the backgrounds for the following pages: library (including the search results page), exploration player, about, contact/teach.

These pages should have backgrounds that follow the mocks in [this folder](https://drive.google.com/drive/folders/0B4A9S7Ym8W0CZ2xKR1hFR2EzNjg) (thanks to @markhalpin). The background images to be used can be found [here](https://drive.goog

[2016-09-29 06:08] seanlip opened #2526 "Update the UI for the collection learner view."
The aim of this issue is to make the collection learner view feel more approachable by displaying a path that joins exploration nodes together (as opposed to a table of rectangular exploration cards).

Some preliminary mocks: [Version 1](https://drive.google.com/open?id=0B4A9S7Ym8W0CY3M3OXp5N011TzA), [Version 2](https://drive.google.com/open?id=0B4A9S7Ym8W0CaEdFX1VyV09Xb3M).

Note: @kevintab95 is

[2016-09-29 10:08] 526avijitgupta opened #2527 "Precompute the unresolved answers data for the creator dashboard"
Currently, for displaying the data for total unresolved answers per exploration and the top unresolved answers (sorted by frequency) across all of a creator's explorations - [`get_top_state_rule_answers_multi`](https://github.com/oppia/oppia/blob/develop/core/domain/stats_services.py#L73-L74) is used which internally uses a single get_multi query to fetch all the unresolved answers for the given l

[2016-09-30 00:45] seanlip commented on #2527
For reference, my creator dashboard takes about 5 secs to load (which is really long because I use it quite often).

[2016-09-30 02:22] markhalpin opened #2528 "Cap Exploration Title Lengths"
In the window shown here, wherein creators are about to publish explorations, could we add a line saying "(Please limit titles to 40 characters or less.)" where indicated by arrow? Can that maximum be built in to what the form accepts?
Thanks.
![oppia_title_length](https://cloud.githubusercontent.com/assets/13863393/18978687/1e49c634-8693-11e6-8679-a0d3099e608f.jpg)

[2016-09-30 02:55] seanlip commented on #2499
Fixed in #2520. Thanks @arun1595!

[2016-09-30 02:55] #2499 closed

[2016-09-30 03:45] seanlip commented on #2528
Hm, I think the box actually doesn't allow you to type a title that's longer than 40 characters anyway. Do you notice that too?

[2016-09-30 03:58] markhalpin commented on #2528
Hmm, really? I wonder why we're getting occasional three-line titles then, since each line should be about 20 characters. Long words without breaks?

[2016-09-30 04:01] seanlip commented on #2528
Ah -- some of the longer titles are likely to have been in place since this limit was implemented (which only happened relatively recently).

[2016-09-30 04:03] markhalpin commented on #2528
ah ok, I'd say disregard this issue then.

[2016-09-30 04:03] #2528 closed

[2016-09-30 04:17] arun1595 commented on #2506
I added `fast-preview` extension to the MathJax configuration by modifying the configuration to the following:

[code]

But for some reason, the `fast-preview` extension doesn't work.

I confirmed it by removing the top-level `messageStyle` to see if the `fast-preview` property had an effect on the status message which is displayed at the lower left corner. But I was still able to see the renderin

[2016-09-30 05:22] seanlip opened #2529 "Write an e2e test that does a "tour" of all the pages in Oppia."
The aim of this issue is to write one or more e2e tests that, collectively, load all the pages in Oppia and ensures that there are no errors (probably via general.checkForConsoleErrors() at the end). This will provide at least a sanity check that all pages are at least visitable without errors.

A suggested plan of action is as follows:
- Make a list of the different pages in Oppia
- Plan one or m

[2016-09-30 08:01] seanlip opened #2530 "Changing the exploration title should update the title in the browser bar"
Steps to reproduce:
1. Create a new exploration.
2. Change its title (but don't reload the page).

The title bar of the browser still says "Untitled Exploration", which caused me to wonder for a moment whether I was editing the right thing:

![exp-title](https://cloud.githubusercontent.com/assets/10575562/18984750/1c058d5c-86a9-11e6-82b1-64b282446235.png)

Instead, it would be nice to keep it in s

[2016-09-30 08:11] seanlip opened #2531 "Find a way to show, in the answer group header, that there are multiple rules for an answer group"
Steps to reproduce:
1. Create an exploration, add some content, and pick a (non-trivial) interaction.
2. Create an answer group that has more than one rule, like the following:

![multiple-rules](https://cloud.githubusercontent.com/assets/10575562/18984871/ecb34bc4-86a9-11e6-9e3f-b047f77e2512.png)

3. Collapse the answer group. You'll see a summary that looks like this:

![multiple-rules-summary](

[2016-09-30 08:40] seanlip opened #2532 "Button text in the editor vanishes at a certain screen width."
Steps to reproduce:
1. Open the exploration editor.
2. Resize the width of the screen to a point between where the save/publish buttons on the top are small icons, and where they are long buttons.

There's an intermediate state of the navbar that looks like this, which looks really weird:

![no-text](https://cloud.githubusercontent.com/assets/10575562/18985803/a7bf4ab8-86ae-11e6-89d9-617620d18b2a.

[2016-09-30 08:43] seanlip opened #2533 "[upstream bug] Modify RTE cut-and-paste to preserve newlines"
Steps to reproduce:
1. Create a new exploration.
2. Type the following text:

![orig-text](https://cloud.githubusercontent.com/assets/10575562/18985896/0e284c0a-86af-11e6-80f9-7023d53f1279.png)
1. Select all the text, cut it (Ctrl-X) and paste it (Ctrl-V). This is the result:

![pasted-text](https://cloud.githubusercontent.com/assets/10575562/18985909/20c63462-86af-11e6-947f-5230858b98bc.png)

As

[2016-09-30 21:33] seanlip opened #2535 "On mobile screens, the text and graphics at the bottom of the About page run into each other."
See picture -- this looks really ugly:

![about-mobile](https://cloud.githubusercontent.com/assets/10575562/19007601/a89fccca-871a-11e6-8a40-ac508d7488e6.png)

We probably should show these things one above the other if the screen is too small.

[2016-09-30 23:07] BenHenning opened #2536 "Ensure exp_services.update_exploration() is well-tested"
With a recent change, I realized that `exp_services.update_exploration()` does not have a corresponding test for `exp_domain.CMD_ADD_STATE` (adding new states). This issue is tracking an audit on `update_exploration` and authoring any tests to ensure all of the update cases are properly tested. This is especially important since `update_exploration` is critical infrastructure in the Oppia stack.

[2016-10-01 05:08] seanlip commented on #1843
This issue is superseded by #2525, so I'm closing this. Please continue the discussion there.

We are planning to remove the chalkboard background, and use the same color palette throughout the site.

[2016-10-01 05:08] #1843 closed

[2016-10-01 05:47] seanlip commented on #2533
See also #1667.

[2016-10-01 05:51] seanlip commented on #1025
This has been refiled as a project, and I expect that smaller sub-issues will be created for it:

https://github.com/oppia/oppia/projects/1

[2016-10-01 05:51] #1025 closed

[2016-10-01 06:00] seanlip commented on #1759
Closing; this is a subset of #2002.

[2016-10-01 06:00] #1759 closed

[2016-10-01 08:12] seanlip opened #2537 "Improve the display of a learner's answer to an item selection interaction."
To reproduce:
1. Create an exploration that includes an item selection interaction with multiple options.
2. Preview the exploration, select some choices and submit your answer.
3. You'll see something like this:
![item-selection2](https://cloud.githubusercontent.com/assets/10575562/19012781/ed164fb0-8773-11e6-8944-37b7f826c68f.png)

As you can see, the formatting looks terrible. The answer choice

[2016-10-01 08:14] seanlip opened #2538 "Fallbacks seem to be being triggered sometimes when they shouldn't be"
Steps to reproduce:
1) Create an exploration.
2) Go to the settings tab, scroll down to Advanced Settings, and enable the Fallbacks option.
3) Create a state with a text input interaction. Create a fallback for "after 1 answer" and another fallback for "after 3 answers". Also, enter some text for Oppia's default response.
4) Save the exploration.
4) Preview the state, and enter two wrong answers i

[2016-10-01 13:40] saqib1707 commented on #2517
Hey I would like to work on this issue.... @526avijitgupta  can u please  provide the required materials...??

[2016-10-01 14:39] souravbadami commented on #2500
@markhalpin -- I think this issue is solved in the latest develop branch. Can you please confirm ?

[2016-10-01 20:07] anthkris commented on #2025
@seanlip Took a while but finally figured out how to do this with the whitelist. PR is in #2540

[2016-10-01 22:45] arun1595 commented on #2500
IIRC, the title has been limited to 40 characters. But still some titles span three lines. For instance, go to https://www.oppia.org/library and have a look at the first collection in **Computing** category. The title "Adventures in Python - How It All Begins" is 40 characters long but still spans three lines.

[2016-10-02 04:17] markhalpin commented on #2500
I think this is a good point. Even with a count of only 40 characters, some (needlessly prolix) titles don't fall conveniently at line breaks. I *think* the best solution would be to provide not a one-line form for title entry, but separate "Title line one" and "Title line two" forms, both capped at ±22 characters. Thoughts?

[2016-10-02 05:33] seanlip commented on #2500
Perhaps #2039 would be another good approach to this? Then we could still have one field for the title, but prevent further typing (or show an error) when additional characters would bring the title over two lines in the preview.

[2016-10-02 05:37] markhalpin commented on #2500
Ah yes @seanlip that would be great.

[2016-10-02 05:39] seanlip commented on #2517
Hi @saqib1707 -- welcome! Feel free to start working on a PR.

As a possible starter tip, you might find the mathjax docs on [automatic line breaking](http://docs.mathjax.org/en/latest/output.html#automatic-line-breaking) helpful. You can also use `grep MathJax . -r --exclude-dir=third_party` to figure out where the MathJax stuff is in the codebase.

Also, what do you mean by "required materials"?

[2016-10-02 05:41] seanlip commented on #2039
Adding comments from #2500: let's also try and use this to limit the total number of characters on exploration titles so that they span a maximum of two lines, since three lines of text on the cards looks very cluttered:
![library_card_text](https://cloud.githubusercontent.com/assets/13863393/18736059/6173201a-8051-11e6-834d-b4261f3dc37c.jpg)

We can probably just add the preview somewhere in the

[2016-10-02 05:42] seanlip commented on #2500
OK, thanks -- closing in favor of #2039.

[2016-10-02 05:42] #2500 closed

[2016-10-02 07:49] seanlip commented on #2178
A quick update: I just chatted with @brunnre8; his laptop is still broken, but he's still interested in working on this. I've asked him to reply to this thread when he's ready to take this issue up again!

[2016-10-02 11:19] Ace139 commented on #2430
I would like to work on this, please help me get started.

[2016-10-02 12:41] Arunabh98 commented on #2365
Could I look into this?

[2016-10-02 12:50] 526avijitgupta commented on #2365
@Arunabh98 The dashboard has undergone some major changes as in https://github.com/oppia/oppia/pull/2296 . Can you please wait until it's merged (which should be within a few days time!) ?

[2016-10-02 12:59] Arunabh98 commented on #2365
Oh okay, no problem!

[2016-10-02 13:04] anmolshkl opened #2543 "Create milestones from the requirements in the design doc for answer classification project."
We need to create specific milestones which are self contained and can be delivered as a whole for the [answer classification project](https://docs.google.com/document/d/1Pfc71Z8oD0kmHZK_nf21r03jBUvjQuCsZ0dZo8RnvRE/edit#).

[2016-10-02 13:05] Arunabh98 commented on #1480
Could I work on this feature?

[2016-10-02 15:31] anmolshkl opened #2544 "Translate answer classification project design doc into issues."
Translate the [design doc](https://docs.google.com/document/d/1Pfc71Z8oD0kmHZK_nf21r03jBUvjQuCsZ0dZo8RnvRE/edit#) for answer classification project into self-contained issues.

[2016-10-02 16:37] souravbadami commented on #2387
@Arunabh98 -- This is working fine on Chrome 52.0.2743.116 & Firefox 35.0.1 (Ubuntu). Could you please confirm ?

[2016-10-02 16:38] #2362 closed

[2016-10-02 20:05] #1366 closed

[2016-10-02 21:26] seanlip commented on #2365
I think #2296 is merged now, so just to check, @526avijitgupta is it ok for other folks to take this issue up?

[2016-10-02 21:31] 526avijitgupta commented on #2365
Yes it is!

On 3 Oct 2016 2:56 a.m., "Sean Lip" <notifications@github.com> wrote:

[2016-10-02 22:08] seanlip commented on #2532
Hi @andromfins -- could you try this one? Thanks!

[2016-10-02 22:27] seanlip commented on #1480
Hi @Arunabh98! Just to check, I think this might need a bit of UI design first. Is that something you'd like to tackle, or do you want to wait until we have a mock for it?

[2016-10-03 03:05] seanlip opened #2547 "Keep track of which notifications a user has seen."
Currently, if you get a bunch of notifications, a little number appears next to your avatar in the navbar that invites you to visit the Notifications page. When you go there, you'll see N notifications that are open. However, if you click on one of them, and then return to the Notifications page, all notifications have been marked as "open" and it's hard to figure out which ones are new notificati

[2016-10-03 03:13] seanlip opened #2548 "Group all the private explorations at the end/beginning of the dashboard when sorting."
In the list view of the dashboard, private explorations are mixed up together with public explorations when sorting, even when they have no values in the corresponding column:

![dashboard2](https://cloud.githubusercontent.com/assets/10575562/19026552/2df28a6c-88dc-11e6-985d-986caa8b0ceb.png)

This is somewhat disconcerting, and not really intuitive. It might be better to either split the list int

[2016-10-03 03:28] seanlip opened #2549 "In the dashboard, the "Featured" label breaks to the next line."
This is what it looks like:

![dashboard1](https://cloud.githubusercontent.com/assets/10575562/19026759/77113fde-88de-11e6-94c3-a8de8f39d54f.png)

Setting this up from scratch is a bit tricky, so, the easiest way to address it is probably to just go to the dashboard page, temporarily remove the ng-if around the "Featured" label, make the appropriate CSS fix, and put the ng-if back.

[2016-10-03 03:30] seanlip opened #2550 "The Back browser button does not work in the editor page"
(Originally reported by @markhalpin)

To reproduce:
1. Start a dev server and sign up as a new user.
2. From the creator dashboard, create a new exploration.
3. Press the Back button in the browser.

The button has no effect. This is not expected behavior; the Back button should take the user to the page previously viewed.

[2016-10-03 03:36] seanlip opened #2551 "It should be possible to see the full objective in the library tiles."
Currently, objectives in library tiles are abbreviated. For example, the objective in the following tile is displayed as "Learn how to code by programming a talking..." and it's impossible to see the whole thing.

![library-tile](https://cloud.githubusercontent.com/assets/10575562/19026863/bd217c40-88df-11e6-8a34-9d7378150903.png)

This makes it hard for people to understand what they're getting i

[2016-10-03 03:40] seanlip opened #2552 "Learners should be able to make suggestions on an exploration's feedback."
If a learner is logged in, it's possible for them to make suggestions on an exploration's content by using the "suggest an edit" button in the learner view navbar.

However, it's also reasonable to want to make an improvement to the feedback an exploration gives for a particular answer, but there's currently no functionality for doing this. The aim of this issue is to implement such functionality.

[2016-10-03 05:43] seanlip opened #2553 "Change the "index all explorations" job in the admin dashboard to an "index all activities" job"
There is a job, exp_jobs_one_off.IndexAllExplorationsJobManager, that iterates through all the explorations and adds them to the search index. This should really be replaced with a job called activity_jobs_one_off.IndexAllActivitiesJobManager that instead iterates through all explorations and collections, and adds them to the search index.

This may entail a slight refactor (e.g. moving all search

[2016-10-03 06:20] seanlip commented on #310
Hi @kvharish, how's this going? Just so you know, if you'd like to start with something easier, I'd also be happy to suggest an alternative project.

Thanks!

[2016-10-03 12:45] 526avijitgupta commented on #2548
@seanlip I played around with the list view and realized that this occurs only when sorting by value of average rating. Can you confirm this ?

[2016-10-03 12:47] 526avijitgupta commented on #2550
@seanlip I think this should be automatically resolved when `<a>` tags are used instead of the current implementation of `window.location.href = "..."` (which should be done in the PR for making the dashboard tiles right-clickable)!

[2016-10-03 14:27] Arunabh98 commented on #2365
Could I work on this now? Will try to do it before Friday

[2016-10-03 15:24] 526avijitgupta commented on #2365
@Arunabh98 Assigning you!

[2016-10-03 16:54] giritheja commented on #2537
I think I can work on this.

[2016-10-03 16:58] Arunabh98 commented on #2387
Hi @souravbadami , I just checked this on Windows and chrome version - 52.0.2743.116. The problem still persists.

[2016-10-03 17:56] seanlip commented on #2537
Sounds good, go for it!

[2016-10-03 19:27] Arunabh98 commented on #2365
Hmm, I have tried various options but I simply couldn't get it to work. In most cases the display of the card gets distorted as @seanlip mentioned.
One solution can be that we can open the exploration by default in a new tab which is easy to do.
Any suggestions?

[2016-10-03 19:31] seanlip commented on #2550
I don't think so, actually -- I think it's due to RouterServices taking over the routing functionality in the editor, though I'm not entirely sure.

[2016-10-03 19:33] 526avijitgupta commented on #2365
@Arunabh98 - Couple of points:
1. Have you updated your branch with the latest version of develop ?
2. If yes, then now we have a dropdown when clicking on a non-private exploration, which contains a "Open in Editor" button. It should be much easier to make that button an anchor tag inside the html I think.
3. Only for private explorations, we need to directly open the editor when the user clicks

[2016-10-03 19:35] seanlip commented on #2548
No, that's not the case. For me, it happens when I try to sort by any of the six columns.

[2016-10-04 01:55] #2223 closed

[2016-10-04 06:38] seanlip commented on #2357
Deassigning @alexanderpgower due to lack of response.

[2016-10-04 06:38] seanlip commented on #2357
@ubhisat, want to take this up?

[2016-10-04 06:48] seanlip opened #2557 "Make it possible for users to opt-out of receiving emails from individual explorations."
Currently, users set their email preferences globally on the Preferences page. However (similar to GitHub), it's likely that users may want to mute emails from particular explorations, similar to how, on GitHub, one can mute notifications for particular issue threads.

It seems like a good idea to have a button on the Settings page of an exploration that allows a user to unsubscribe from email not

[2016-10-04 07:03] seanlip opened #2558 "Error in setup: Failed to open 'node-download.tgz'"
We've received a report of an error in setting up Oppia on Linux. The purpose of this issue is to track what's going on with the node issues (from the log, it looks like there might be an issue with node-download.tgz) and seek a resolution.

/cc @CuriousLearner @saqib1707

[code]

[2016-10-04 07:04] seanlip commented on #2558
@CuriousLearner @saqib1707 -- looking at this again, I'm wondering whether the issue is just that node-download.tgz did not fully complete, maybe due to an Internet connection dropoff. That could well make the tar archive unopenable and cause the chain of errors seen here, I think.

[2016-10-04 08:25] #1556 closed

[2016-10-04 11:45] saqib1707 commented on #2558
The problem in linux is something like this...look at the last two lines...----

Checking if node.js is installed in /home/saqib1707/opensource/oppia_tools
Installing Node.js

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now
mv: cannot stat '/home/saqib1707/opensource/oppia_tools/node-v4.2.1-linux-x64': No such file or directory
Generating lis

[2016-10-04 13:50] 526avijitgupta commented on #2548
@seanlip  I'll summarize my thoughts below:
* Wait, sorry my previous comment wasn't clear. What I meant was the behavior seems to be non-intuitive when sorting by values of average rating since in that case the non-private explorations with value of average rating shown as N/A are ordered even lower than private explorations (as visible in the screenshot too). In all no other case are the public

[2016-10-04 14:51] Arunabh98 commented on #2365
I have taken care of the first two points.
I didn't quite understand the last point. By directly opening the editor do you mean we do not give user the option of opening in a new tab?

[2016-10-04 16:02] 526avijitgupta commented on #2365
@Arunabh98 When you click on a private exploration in the dashboard, then the dropdown is not shown and instead the user is directly taken to the editor. So the whole of the tile should behave as a link in that case.

[2016-10-04 16:27] BenHenning opened #2562 "Add mapreduce job for aggregating time spent answering questions in Oppia"
We need to have a mapreduce job which aggregates time spent answering questions, but buckets them into different groups:

0-5 secs
5-10 secs
20-60 secs

Etc.

[2016-10-04 16:51] joshuacano commented on #2562
I'd definitely be interested in working on this.

Joshua Cano

[2016-10-04 17:54] seanlip commented on #2562
@BenHenning, just to check, this is best worked on after the answer migration is done, right?

[2016-10-05 00:04] ubhisat commented on #2357
@seanlip sure. thanks.

[2016-10-05 04:21] seanlip commented on #2558
I took a look at this, and tried to reinstall Oppia in a different directory -- and ran into no issues. I suspect it's due to a bad internet connection or something that's causing the node binary to be incorrectly downloaded for some reason. Could you please try again and confirm?

Alternatively, I recommend taking a look at scripts/setup.sh. Look at the part near "echo Checking if node.js is inst

[2016-10-05 05:44] #2532 closed

[2016-10-05 06:03] CuriousLearner commented on #2558
@seanlip I've tried this various times, but it doesn't work. Finally I tried to setup the entire project once again in different directory. And here are the logs:

[code]

I've checked that directory is not indeed created. I'm running macOS X

[2016-10-05 06:10] seanlip commented on #2558
Ah ok, thanks!

Could you take a look at scripts/setup.sh, line 180. Echo NODE_FILE_NAME and run the script again. What is the value of NODE_FILE_NAME? Now go manually to the URL. Does that file download properly for you?

[2016-10-05 06:16] CuriousLearner commented on #2558
@seanlip I just checked and the value of the `NODE_FILE_NAME` turns out to be `node-v4.2.1-darwin-x64`

While running curl using this, it shows empty reply from server.

[2016-10-05 06:27] seanlip commented on #2558
And yet the link here works: http://nodejs.org/dist/v4.2.1/

Try removing --silent; see if that gets you more info?

[2016-10-05 06:41] CuriousLearner commented on #2558
@seanlip, that's what I got when I tried manually. Already told you about that.

Also, here are the logs:

[code]

[2016-10-05 06:45] seanlip commented on #2558
Ah, I must have missed what you told me about the manual try (though looking back over the gitter chat and the comments here, I still can't seem to find it). Sorry...

In any case, I don't understand what's going on with curl. However, if you're able to download the file manually (via a web browser) and put it into the relevant folder, would that solve the problem?

[2016-10-05 06:49] CuriousLearner commented on #2558
Sean, that's what curl is telling, the file does not exist. Also I verified that via browser.

[2016-10-05 06:51] seanlip commented on #2558
Oh, sorry! I misunderstood you. I thought you were saying it worked in browser but not curl.

For me, [the link](http://nodejs.org/dist/v4.2.1/node-v4.2.1-darwin-x64.tar.gz) works with both browser and with curl, which is very odd. I guess ... I'll just email the file to both of you, or something. Weird.

[2016-10-05 07:03] seanlip commented on #2558
OK, looks like @CuriousLearner managed to solve this by using Firefox to download the relevant file from [this page](http://nodejs.org/dist/v4.2.1/). It's not clear why it didn't work the first time, but @saqib1707, do you think you could try that? I'll close this bug in the meantime.

Thanks!

[2016-10-05 07:03] #2558 closed

[2016-10-05 07:31] seanlip commented on #2531
@andromfins, want to try this one?

[2016-10-05 08:05] seanlip commented on #2548
Ah -- re the first bullet point, I'm seeing mix-ups for every single column. In all of the cases (regardless of what column I sort by) I see public and private explorations intermingled.

That said, I agree with your point about "Title" and "Last Updated". Perhaps we could just fix this for the other four columns, then...

[2016-10-05 09:09] #1760 closed

[2016-10-05 16:03] Ace139 opened #2565 "Error in Installation : LinuxOS (Ubuntu 16.04 64-bit)"
I have used Python2's virtualenv for the sake of convenience, though my previous experience with installation without the virtualenv yield the error result as of now. Here is the error,

[code]

[2016-10-05 18:32] Arunabh98 commented on #2530
I would like to work on this issue along with #2365.

[2016-10-05 19:05] seanlip commented on #2565
Have a look at scripts/install_third_party.sh and try running the "pip install" commands there individually. Do you get the same error each time (when, e.g., trying to install pylint), or is it just specific to numpy?

[2016-10-06 01:56] #2376 closed

[2016-10-06 03:02] joshuacano commented on #2514
Should this be a sticky footer? Or just fixed as a footer of the page?

[2016-10-06 03:02] seanlip commented on #2514
Sorry, what's the difference?

I think the idea is that it's sticky in the viewport (i.e. position: fixed).

[2016-10-06 03:03] seanlip commented on #2514
Oh, "sticky footer" is different from what I think it means, it looks like :)

It should be the second one.

[2016-10-06 04:44] BenHenning opened #2569 "Collections need to have end-to-end tests"
Collections are currently not covered by end-to-end tests, which means severe breakages can happen with clean Travis results (see #2566). Similar to the exploration player and editor, the collection player and editor need their critical user journeys tested to ensure the end-to-end integration collections is working properly. This involves introducing some new general routines to protractor and in

[2016-10-06 04:45] seanlip commented on #2562
Checked with @BenHenning; confirming that this is blocking on answer migration and is not ready to work on yet.

[2016-10-06 04:46] BenHenning commented on #2569
/cc @seanlip
/cc @joshuacano
/cc @kevinlee12

[2016-10-06 06:00] Ace139 commented on #2565
Now I have installed the python dependencies from script/install_third_party.sh manually as you suggested. Now I am getting a different error related to **skulpt**

[code]

[2016-10-06 21:26] seanlip commented on #2309
Hi @TruongKim, @ubhisat is also going to help with this issue (thanks @ubhisat!). Just to check, did you get any further with it in the past couple of weeks?

[2016-10-06 22:06] seanlip commented on #2565
Sorry -- no idea, though it's weird you're getting this because the earlier log seems to indicate that it's installed correctly. It could be something to do with your local pythonpath, but I'm honestly not sure. I haven't seen this error before.

[2016-10-07 03:06] seanlip commented on #2357
This is fixed in #2570. Thanks @ubhisat!

(Also, next time please prefix PR titles with "Fix #bugnum", so that the issue automatically gets closed. Thanks!)

[2016-10-07 03:06] #2357 closed

[2016-10-07 04:34] ubhisat commented on #2357
My bad. I'll be careful moving forward.

[2016-10-07 09:18] Arunabh98 commented on #2530
I am having a bit of trouble on deciding how to solve this problem. Could you guide me a bit on how to tackle this issue?

[2016-10-07 09:30] 526avijitgupta commented on #2530
@Arunabh98  As a start, you could see how we set the page title currently: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/Base.js#L87-L89 (This one is for the number of unseen notifications). Perhaps you could create a generic service which takes in the text that needs to be set as the page title and sets it ?

[2016-10-07 19:13] DeKaN opened #2574 "DeadlineExceededError at Creator dashboard"
After ugrading from 2.1.2 to 2.3.3 I make this:
1. Flush memcache
2. Run the ExplorationValidityJobManager job (output is [])
3. Run the ExplorationMigrationJobManager job (output is [])
4. Flush memcache

Now I'm getting error at Creator Dashboard page for account with 100 explorations.

Server logs:

[code]

[2016-10-07 20:10] andromfins commented on #2531
Hi, i'm working on this, but i'm a bit slow in case someone else is taking an interest i think this mock is close to the solution that @seanlip proposed.
![page-shot-2016-10-7 personalized online learning from oppia](https://cloud.githubusercontent.com/assets/10903202/19203935/f76a1254-8cd1-11e6-85a2-1d8817362160.png)

[2016-10-07 22:03] seanlip commented on #2531
Nice! I suggest moving the tile up a little bit so that its baseline matches the baseline of the text; maybe make its colour lighter too, so that it doesn't stand out so strongly. Otherwise, looks good!

[2016-10-08 06:23] BenHenning commented on #1929
Taking this to fix and demonstrate during Oppia's first bug bash

[2016-10-08 06:50] seanlip opened #2575 "Bundle and cache extensions (like interactions) so that there aren't so many individual file fetches needed."
Currently, HTML and JS for extensions (like interactions) is loaded somewhat inefficiently -- see core/controllers/reader.py and editor.py for example. The html is computed and concatenated in every request, and isn't cached.

We should instead find a way to serve this as a single bundle and cache it in the client.

- [x] /rich_text_components
- [x] /interactions
- [ ] /dependencies
- [ ] /objects

[2016-10-08 06:51] BenHenning commented on #889
I can't seem to reproduce this. If it's still a problem, can you please file a new issue? I saw ARIA warnings, but no console errors and the interaction behaved correctly.

[2016-10-08 06:58] seanlip commented on #889
I just reproduced it, following the given instructions. Make sure you're looking at /explore/10

[2016-10-08 06:59] seanlip commented on #889
Ah, wait, I don't see console errors anymore. Weird.

[2016-10-08 07:00] BenHenning commented on #2015
Taking this issue to demonstrate at Oppia's first bug bash

[2016-10-08 16:17] BenHenning commented on #1929
Hi @gvishal! Thanks for reporting this bug. I can't seem to reproduce this bug. Are you still able to reproduce it? Otherwise, it might be obsolete.

[2016-10-08 16:18] BenHenning commented on #1929
FYI: I only see one call to libraryhandler and one to searchhandler for each 'View All' (searchhandler is not called for featured, which is expected)

[2016-10-08 18:26] souravbadami opened #2578 "Publish button should not work for explorations with less descriptive goal."
The publish button for publishing an exploration should check for length of exploration goal before publishing. Currently the length is being checked and an alert is shown but the publish button is still active.

**How To Reproduce:**
- Create an exploration.
- Add some content to first card, add a title for the exploration.
- Try to publish the exploration. A prompt will appear which asks for goa

[2016-10-08 18:27] seanlip commented on #2578
Just to be clear about the scenario, could you please provide reproduction steps?

[2016-10-08 18:40] souravbadami commented on #2578
@seanlip -- Updated.

[2016-10-08 18:43] seanlip commented on #2578
Oh, I see -- so when you talk about the publish button here, you mean the one in the modal, not in the navbar at the top of the page?

[2016-10-08 18:46] souravbadami commented on #2578
Yes, That is the final check before publishing the exploration.

[2016-10-08 18:48] seanlip commented on #2578
OK, got it! Yep, sounds like a valid bug. I might take a look after lunch.

[2016-10-08 18:52] andromfins opened #2579 "Duplicate filters in multiple files."
There is a duplicate of two filters:
  * summarizeAnswerGroup
  * summarizeDefaultOutcome'

both in the files: [StatesResponses.js ](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/editor_tab/StateResponses.js) and [filters.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/filters.js)

Edit:
summarizeAnswerGroup is the same both fi

[2016-10-08 20:25] seanlip commented on #2578
PR in #2582.

[2016-10-08 20:39] saqib1707 commented on #2517
@526avijitgupta I have modified the code but I dont know how to test it in android....
Can u please suggest how to do it???

[2016-10-08 20:40] seanlip commented on #2517
This may help: https://developers.google.com/web/tools/chrome-devtools/device-mode/

[2016-10-08 22:06] seanlip commented on #1895
Changing this to "tech (instructions)" since we need a more general solution for focusing on the first field within a form, which is a harder problem.

[2016-10-08 22:06] Arunabh98 opened #2584 "The default text which appears while inserting a link from should be a placeholder."
When introducing a link in RTE, it becomes irritating to remove 'https://www.example.com' every time. This should be converted to a placeholder for convenience. Here is an image for reference.
![image](https://cloud.githubusercontent.com/assets/13691317/19216238/857ee560-8dd1-11e6-8e06-cce948ae2c4d.png)

Steps to reproduce:
- Create a new exploration.
- Try to add a link through GUI.

Expected
- T

[2016-10-08 22:13] seanlip commented on #434
(Note: to see notifications, you might need to go to /admin > Jobs and run DashboardRecentUpdatesAggregator at least once.)

[2016-10-08 22:19] seanlip commented on #2529
PRs left to be done:
- [ ] Error page
- [ ] Logged-in flow -- log in, then visit each page in the top-right menu in turn, then log out
  - Profile page
  - Preferences page
  - Notifications page
  - Creator dashboard
- [ ] Library pages -- reload all explorations, rate one of them, and then go to library index page, and from there go to top-rated and return to library index, go to recent exps and

[2016-10-09 00:51] #2579 closed

[2016-10-09 01:02] #2531 closed

[2016-10-09 01:13] #2578 closed

[2016-10-09 01:45] #2025 closed

[2016-10-09 03:44] kevintab95 opened #2585 "Option to return to collection view after an exploration in a collection is finished"
At the end of the exploration, there’s usually a set of “suggested next” options. If the user is currently within a collection, the last one of these should be the stacked-cards graphic used to represent the collection in the library view, with “Return to Collection” on the top card.

[2016-10-09 03:48] kevintab95 opened #2586 "Backgrounds of the collection and exploration players should be updated"
Recommended changes:
1. Update the backgrounds of both players to use a solid blue background. [done by @andromfins]
2. When the other foreground changes are completed, replicate the final version of the background (see mocks 5 and 6 [here](https://drive.google.com/drive/folders/0B4A9S7Ym8W0CZ2xKR1hFR2EzNjg)), including the randomized banner.

[2016-10-09 07:13] gvishal commented on #1929
Yep, no longer happens. Seems to have been fixed.

[2016-10-09 07:16] seanlip commented on #1929
Thanks, @gvishal! Closing this, then.

[2016-10-09 07:16] #1929 closed

[2016-10-09 07:25] seanlip opened #2588 "LaTeX font size does not match text font size."
In the image below, the math expression "sin 30° = 1/2" does not match the size of the rest of the text on the card. This makes it stand out in a somewhat inelegant way. It might be nice to find a way to reduce the font size of the generated LaTeX slightly.

![trig-latex](https://cloud.githubusercontent.com/assets/10575562/19218742/a8b8d75e-8db6-11e6-9011-c9d53a733ea4.png)

(To reproduce, create a

[2016-10-09 19:05] 526avijitgupta commented on #2002
@deepakpathania Did you manage to setup the dev environment ?

[2016-10-09 21:22] 526avijitgupta commented on #434
@seanlip Isn't this a duplicate of https://github.com/oppia/oppia/issues/2350 ?

[2016-10-10 01:10] TruongKim commented on #2309
@seanlip Sorry I wasn't able to.
I tried reading the code for a couple days and then school started last week and I couldn't focus on this project as much.
The current error is chrome failed to start. I looked up the problem and one potential solution is try to reinstall Chrome.
![capture](https://cloud.githubusercontent.com/assets/18127284/19225187/ad1a14d0-8e4b-11e6-8401-2ae7918fab88.JPG)

[2016-10-10 01:11] TruongKim commented on #2309
So that will be what I will next.

[2016-10-10 01:13] TruongKim commented on #2309
and I don't know if the issue is similar to these:
http://stackoverflow.com/questions/22424737/message-uunknown-error-chrome-failed-to-start-exited-abnormally
http://stackoverflow.com/questions/25311593/chromewebdriver-unknown-error-chrome-failed-to-start-crashed

[2016-10-10 05:01] seanlip commented on #434
It might be. @jacobdavis11 does middle-clicking mean the same thing as "opening in new tab"?

[2016-10-10 05:05] seanlip commented on #2309
It could be relevant -- I'm not sure, to be honest. Thanks for the info, though! I think @ubhisat will be taking a look into this.

[2016-10-10 09:48] 526avijitgupta commented on #2049
IMO we could hide the 'Site Feedback' overlay as soon as the user scrolls down, and display it only on scrolling up again!

[2016-10-10 16:01] jacobdavis11 commented on #434
They are similar but not exactly the same. When middle-clicking the target should be immediately opened in a new tab. When right-clicking you should get a menu which includes the option to open it in a new tab, amongst other things.

Finding a way to turn the row into an anchor would solve both of these problems at once. But if we do something more fiddly, like defining custom right-click behaviou

[2016-10-10 17:37] seanlip commented on #2049
How about, on mobile, just showing the icon (and not the "Site Feedback'
text)?

On Monday, October 10, 2016, Avijit Gupta <notifications@github.com> wrote:

[2016-10-10 19:09] anmolshkl opened #2594 "Unable to save modifications for an interaction"
**Observed behavior:**
An error saying "Error Saving Exploration" is thrown after clicking on "save answer" in the modal where one can change the answer rules. Refreshing the page doesn't help either.

**Steps to reproduce:**
1. Create a new exploration with some state having a "multiple choice" type answer.
2. Modify the multiple choice answer rules and click on "save answer".

**Browser:** Chrom

[2016-10-10 21:08] saqib1707 commented on #2548
@seanlip @526avijitgupta  I would like to work on this issue along with #2517 ....

[2016-10-11 03:27] seanlip commented on #2594
Hi @anmolshkl, thanks for reporting! Any console logs?

[2016-10-11 04:44] seanlip commented on #2548
Hi @saqib1707 -- sure! However, I suggest first discussing with @526avijitgupta, agreeing on a solution approach, and outlining it here before tackling the issue. Could you do that?

Thanks!

[2016-10-11 05:45] anmolshkl commented on #2594
Yep, here are the logs:
[Logs.txt](https://github.com/oppia/oppia/files/521036/Logs.txt)

[2016-10-11 06:27] seanlip commented on #2594
This should be fixed in https://github.com/oppia/oppia/pull/2599/commits/b33f4c40f2394843d09588ae0b3e9953e684b2ec. Thanks @anmolshkl!

[2016-10-11 06:49] seanlip commented on #2548
Also, @saqib1707 -- could you accept the invitation to the org by going to github.com/oppia? Otherwise, the GitHub UI won't allow us to assign you to any issues.

Thanks!

[2016-10-11 07:05] seanlip commented on #2049
@anthkris, please could you take this?

[2016-10-11 09:08] seanlip commented on #2529
Hi @kahkhang -- would you be up for taking up the "logged-in flow" e2e test above? I think this is a good way to get started with writing e2e tests, since this is a fairly basic one. (You can look at #2583 to get a sense of how it's done, and there are some good tips on writing these tests [here](https://github.com/oppia/oppia/wiki/Writing-End-to-End-Tests) as well.)

Thanks!

[2016-10-11 14:19] Arunabh98 commented on #2584
Here is a solution:
I modify SanitizedUrl class in objects.py so that instead of using `unicode_string_editor` it uses it's own custom html file. Then I could easily introduce a placeholder over there.

Here is the relevant piece of code:
[code]
Will this do?

[2016-10-11 16:38] saqib1707 commented on #2548
@seanlip  @526avijitgupta  What I thought is something like this--
Among all the explorations , the private ones can be kept in the beginning followed by the public ones..On sorting according to Rating , plays, feedback and unresolved answers ----only the public ones will get sorted....While on sorting according to Exploration and last updated---the private ones will be sorted among themselves as

[2016-10-11 17:43] seanlip commented on #2584
It's usually nicer not to duplicate if possible, but I think in this case it's ok since the stuff in that directory needs a complete overhaul anyway. So yep, go ahead.

[2016-10-11 17:48] seanlip commented on #2548
It seems reasonable to me to do the private/public split for the four categories for which private exps have no information, but for the other two categories it may be better to ignore the private/public setting when sorting (as @526avijitgupta suggests). @526avijitgupta, what do you think?

[2016-10-11 19:27] Arunabh98 commented on #2584
Okay

[2016-10-12 03:52] Arunabh98 commented on #2584
I am facing a problem in one of the tests (schema_utils.py, line 200):
[code]
Since I have changed the default value to '' acceptable turns out to be false as  obj turns out to be empty. How do I solve this? I could modify filter_a but I don't know if it would be the right thing to do?

[2016-10-12 05:52] kahkhang commented on #2529
Sure, I'll be writing the "logged-in flow" e2e test.

[2016-10-12 06:24] seanlip commented on #2584
I think that would be a problem: the default value needs to fit the validation criterion. I don't see a good way around it either without complicating the system further or removing some validation checks which probably ought to remain there, though.

So, I'm starting to think that this is actually a bigger issue than meets the eye. I'm loath to do lots of patching to the object editor framework,

[2016-10-12 08:24] 526avijitgupta commented on #2332
Resolved by https://github.com/oppia/oppia/pull/2591

[2016-10-12 08:24] #2332 closed

[2016-10-12 15:24] Arunabh98 commented on #2584
Okay, will pickup this issue later! :smile:

[2016-10-12 16:08] Arunabh98 commented on #2535
Any updates on this?

[2016-10-12 16:56] anuzis opened #2603 "Coding Interaction: ImportError, unable to import datetime"
Bug Report
- expected behaviour: Python coding interaction is able to import modules from the standard library (e.g. datetime and os)
- observed behaviour: learners are presented with an ImportError when attempting to run code using imports (screenshot attached)
- steps to reproduce the problem: start the Coding to Mars exploration (https://www.oppia.org/explore/xLLFdk1Ojw4V) and proceed a few car

[2016-10-12 19:43] saqib1707 commented on #2548
@seanlip I  am facing problems since everytime I am pushing changes to github it is showing linting errors ....Do u know how to resolve this???

[2016-10-12 20:30] 526avijitgupta commented on #2548
@seanlip Sounds good to me.
@saqib1707 You'll have to fix those errors, there's no way around it! if you see through the errors carefully then you'll be able to recognize the exact line numbers and file names where the code linting needs to be fixed!
Also, do you have a fair idea about how to implement this ? If not, then I'd be happy to help!

[2016-10-12 20:53] saqib1707 commented on #2548
@526avijitgupta so should I try to do what @seanlip  said in his last comment...that is to ignore the private /public setting when sorting according to the title/last update keys...?? Ur thoughts required....

[2016-10-13 01:39] arun1595 opened #2604 "Unable to add math component while suggesting changes"
Steps to reproduce:

1. Login
2. Play through an exploration
3. Click "Suggest Changes" icon on a card which does not contain any files.
4. Try to add a mathJax component

You should find the input field missing.

![input_field_missing](https://cloud.githubusercontent.com/assets/7039523/19333482/cb0587c0-9113-11e6-8f69-76a580d09a64.png)

[2016-10-13 05:46] 526avijitgupta commented on #2548
Yes, and just to clarify: The behaviour should remain the same as it is
currently when sorted by either "Last Updated" or "Title". In sorting by
any other key, the grouping should be done.

On 13 Oct 2016 2:23 a.m., "Saqib Azim" <notifications@github.com> wrote:

[2016-10-13 08:30] giritheja commented on #2537
Hey @seanlip , I tried to reproduce the issue:
<img width="565" alt="screen shot 2016-10-13 at 1 52 33 pm" src="https://cloud.githubusercontent.com/assets/8845039/19341823/bf2ac29c-914c-11e6-9e88-c28f8eed0fbc.png">
I have tried resizing window on both safari and chrome but everything seems fine.

[2016-10-13 08:42] seanlip commented on #2537
Ah, interesting. Can you try on Firefox, please? That's when the issue occurred for me.

[2016-10-13 10:10] seanlip commented on #2594
Closing; addressed in https://github.com/oppia/oppia/commit/b75e63b9d29ddc3488825f1ca1fbd47c14c4ba56. That said, please reopen if this issue recurs!

[2016-10-13 10:10] #2594 closed

[2016-10-13 11:56] Ace139 commented on #2565
Problem with NumPy
[code]

[2016-10-13 13:39] DevipriyaSarkar commented on #2535
Have not been able to get oppia running on my machine. Having problems with it.

[2016-10-13 17:02] seanlip commented on #2565
Please see the fourth bullet point in https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#troubleshooting.

[2016-10-13 18:06] seanlip commented on #2535
Hi @DevipriyaSarkar -- I've replied in the other email thread about the setup issues. In the meantime, I'll deassign you from this bug, but please feel free to reclaim it (or any other) once you've got a local dev environment up and running!

[2016-10-14 02:24] Keksike opened #2608 "Server starts correctly but localhost:8181 does not display anything"
I run `bash scripts/start.sh` which seems to start the server correctly, the last line in terminal being:

```INFO     2016-10-14 02:20:18,951 module.py:788] default: "GET /_ah/warmup HTTP/1.1" 200 -```

There is no errors visible in terminal.

However, the localhost:8181 page in Chrome (or any other browser) gives the 'Connection refused' error.

Running OSX 10.11.6.

[2016-10-14 04:19] seanlip commented on #2608
That's odd. I don't think I've seen this before.

If you go to localhost:8181 is there a GET in the terminal corresponding to the fetch of `/`?

Otherwise, I'm afraid I have no idea (I use Ubuntu). We have several contributors who use OSX, maybe one of them could help...

[2016-10-14 04:42] #2309 closed

[2016-10-14 05:48] seanlip opened #2611 "Update protractor beyond v4.0.9, then remove the chromedriver hack in the setup.sh script."
In #2605, we added a few lines to run_e2e_tests.sh to substitute the latest version of chromedriver, since the Protractor e2e tests could not run otherwise. Once Protractor is updated to a newer version which makes use of the latest Chromedriver version, we should remove this substitution.

Note that this is blocked until Protractor makes a new release that updates the Chromedriver version to 2.24

[2016-10-14 06:01] seanlip commented on #2514
Hi @joshuacano, how is this going?

[2016-10-14 07:18] 526avijitgupta commented on #433
(For anyone who wants to take up this issue)
We have the following 2 types of notifications:
- Commit - whenever a new commit is added to any of the explorations in the user's dashboard.
- Feedback - whenever a new feedback is submitted to any of the explorations in the user's dashboard.

Currently, clicking on the commit type of notification simply loads the exploration editor. This needs to be m

[2016-10-14 10:37] Keksike commented on #2608
@seanlip Yes, there is a GET on `http://localhost:8181/`

[image](https://puu.sh/rIyXo/54eadd47e1.png)

[2016-10-14 10:39] Keksike commented on #2608
Ah, for some reason after connecting to 127.0.0.1:8181 it worked. Probably something wrong with my browser settings then (wierd though, since other local servers work just fine with "localhost:*port*" in the address.

[2016-10-14 10:39] #2608 closed

[2016-10-14 10:49] Keksike commented on #2549
I will try to fix this as my first contribution.

[2016-10-14 11:56] Keksike commented on #2549
PR sent https://github.com/oppia/oppia/pull/2612

I fixed this by adding a simple 'display: inline-block' on the "featured"-label `<span>`.

This problem did not occur on Chrome. I think that in the future it would be useful to specify which browser the problem occured with when creating the issue :)

[2016-10-14 13:48] joshuacano commented on #2514
It's going well! Should be ready for review in 2 or 3 days.

Joshua Cano

[2016-10-14 15:18] Keksike commented on #2538
Is this already being worked on? If not I could try and fix it.

[2016-10-14 15:51] Ace139 commented on #2565
@seanlip Thanks very much. Updating the pip from 8.1.1 --> 8.1.2 solved the issue. Finally everything as it should be.

[2016-10-14 17:37] saqib1707 commented on #2548
@526avijitgupta  My approach---in file /oppia/core/templates/dev/head/pages/dashboard/dashboard.html
I have added three <tr>starting from line 157  into three separate groups and using ng-if attribute in <tr> to check---
in the first <tr>---ng-if="currentSortType === 'TITLE' || currentSortType === 'LAST_UPDATED'"
in the second <tr>---ng-if="currentSortType !== 'TITLE' && currentSortType !== 'LAST_

[2016-10-14 18:09] edallison commented on #2538
@Keksike I'm in the process of investigating this but haven't had much time in the last few days.  I don't have any code written yet though so am not committed to the issue other than the research I've done. @seanlip It still may be a few days before I have time to spend on this so if you think it would be best to reassign please go ahead. If not I will hopefully have time next week to work on it.

[2016-10-14 18:41] 526avijitgupta commented on #2548
@saqib1707 I don't think adding `ng-if`s to the html directly for special cases is a good way. Please have a look at the method inside JS which handles sorting currently for the dashboard, and try to make necessary modifications!

[2016-10-14 18:51] seanlip commented on #2538
OK -- @Keksike, why don't you have a go at it in the meantime? If you make positive progress, we can reassign. (Feel free to submit a PR even if you're not assigned to this issue; that would be a signal for us to change the assignment.)

[2016-10-14 19:36] BenHenning commented on #1970
FYI: the service for sharing state throughout the collection editor was added some time back. It's called ``CollectionEditorStateService`` and is under ``pages/collection_editor``

[2016-10-14 20:14] BenHenning commented on #2430
Hi @Ace139, thanks for showing interest in this issue! Have you had a chance to go through the [Getting started guide for developers](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

Also, do you have experience profiling Python or app engine code? I wanted to note this isn't a starter project and will require a lot of investigation. We would like whoever it's as

[2016-10-14 20:16] BenHenning commented on #2156
@526avijitgupta has that commit been reverted or did it make it into Oppia ``develop``? Also, does that mean this issue was just localized to your ``install_third_party.sh`` having commented out code, or is this problem still happening when all of ``install_third_party`` is uncommented as intended?

[2016-10-14 20:18] BenHenning commented on #1220
Given that @maitbayev was assigned this in January and there haven't been any updates for most of the year, deassigning him. @maitbayev if you're still interested, please re-assign yourself. :)

[2016-10-14 22:00] seanlip commented on #2565
Thanks for confirming! I'll close this, but feel free to reopen it if there's anything in here that's not resolved.

[2016-10-14 22:00] #2565 closed

[2016-10-14 22:00] seanlip commented on #2549
Thanks, @Keksike! You're right, I should have specified the browser used (it was Firefox). Thank you for pointing that out, and for submitting a fix!

[2016-10-15 06:24] Ace139 commented on #2430
Hello @BenHenning, I was not aware of the complexity of the task at that time. I am a beginner, maybe I am not apt for the task at the moment. I am working on docstrings right now with Sean's help and trying to understand the codebase.

Thanks!

[2016-10-15 06:32] BenHenning commented on #2430
Awesome, well if you end up being interested in this later on feel free to
let us know. I'm happy to set up some time to chat through this issue in
more detail then.

Thanks!

On Friday, October 14, 2016, Soumyo Dey <notifications@github.com> wrote:

[2016-10-15 06:50] Keksike commented on #2538
Alright, I will have a go at it today or tomorrow!

[2016-10-15 15:51] saqib1707 commented on #2548
@526avijitgupta  in oppia/core/templates/dev/head/pages/dashboard/Dashboard.js
inside sortByFunction in the second else if ---
if the getAverageRating(value) returns null as in the case of N/A then sortByFunction is returning the indexOf(entity) whereas otherwise it is returning the value .....That is there are two types of values returned from a function---one index and other value based on the c

[2016-10-15 17:55] 526avijitgupta commented on #2548
You should have a read about how Angular's `orderBy` works. To begin with,
you could see where exactly in the html is the sorting function used.. and
then you'll know why is it behaving this way !!

On 15 Oct 2016 9:21 p.m., "Saqib Azim" <notifications@github.com> wrote:

[2016-10-16 02:59] #2535 closed

[2016-10-16 04:29] anthkris commented on #2049
Starting this!

[2016-10-16 06:40] Keksike commented on #2538
PR sent!
PR: https://github.com/oppia/oppia/pull/2615

Problem occured due to some quite nasty side effects regarding updating the "outcome" variable in [PlayerServices.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/PlayerServices.js#L274).

The `classificationResult.outcome` pointed at `oldState.interaction.default_outcome`, so changing the `outco

[2016-10-16 08:41] seanlip commented on #2538
Hi @Keksike -- could you accept the GitHub invitation at github.com/oppia? Otherwise I won't be able to assign you to this issue...

Thanks!

[2016-10-16 08:58] seanlip commented on #2514
Hi @joshuacano -- one change: for the author menu, can we do a dropdown instead, like this mock?

https://drive.google.com/open?id=0B4A9S7Ym8W0CeU9wVTg5WWpwajQ

I was discussing with @markhalpin, and it feels like the profile picture melange would be quite messy. This might be clearer and simpler (at least for the time being). Wdyt?

[2016-10-16 10:10] Keksike commented on #2538
Accepted now, sorry I had missed this before.

[2016-10-16 12:13] #434 closed

[2016-10-16 12:13] #2350 closed

[2016-10-16 12:53] #2549 closed

[2016-10-16 13:58] joshuacano commented on #2514
I'd agree, multi author cases are much more straightforward this way.

I shall implement this.

Joshua Cano

[2016-10-16 20:54] #2538 closed

[2016-10-17 02:42] seanlip opened #2616 "Write more robust e2e tests for fallbacks."
We recently ran into a serious issue with fallbacks not behaving as they ought to, which @Keksike fixed in #2615 (thanks, @Keksike!) The aim of this issue is to update the Protractor e2e tests for fallbacks behaviour so that they test a wider range of scenarios and are better at guaranteeing correctness. A requirement of the new tests is that they would have caught the error in #2538, but it is fi

[2016-10-17 02:45] seanlip commented on #2241
@526avijitgupta Just to check, is this related to the fix that @Arunabh98 is making?

[2016-10-17 02:46] seanlip commented on #2429
@BojOnTheBeat, are you still working on this?

[2016-10-17 02:47] seanlip commented on #2525
Hi @edallison, would you mind taking a look at this?

[2016-10-17 02:50] seanlip commented on #2297
Upgrading this to "feature (important)" -- it turns out that, when giving explanations to "why"-type questions, speaking is much easier than typing!

[2016-10-17 02:51] seanlip commented on #1977
@TruongKim, is this something you might be interested in looking into?

[2016-10-17 03:37] BojOnTheBeat commented on #2429
@seanlip yes, I've just been a little busy

[2016-10-17 06:49] seanlip opened #2619 "Console error when creating an ImageClickInput with no regions"
Steps to reproduce:
1. Create a new exploration.
2. Enter some content.
3. Choose the ImageClickInput interaction, upload an image, and then save it (without selecting any regions).

Observed behaviour: There is a console error when the answer group editor modal pops up. This is because there are no choices to select for the dropdown.
Expected behaviour: In step 3, it should be impossible to save

[2016-10-17 09:48] nikhildigrase commented on #2003
Facing the same issue again in Chrome v54 and Chromedriver v2.24

[2016-10-17 09:54] seanlip commented on #2003
Oh dear.

Any chance this could be reported upstream? Seems like the Chromedriver team ought to know about it.

[2016-10-17 19:03] 526avijitgupta opened #2620 "Remove hard-coded height of an exploration card in card view of dashboard."
In the current card view of dashboard, the height of an exploration card is hard coded. It doesn't seem like a good practice, since it'll have to be altered each time there is some layout change in the card. Also, it'll be easier to make this card responsive without the need to override the height on smaller screens by another hard-coded value once this is fixed!

Additionally, after #2567 is merg

[2016-10-17 23:11] ubhisat commented on #2053
@seanlip I was trying to understand this issue better. The example given in the description is no longer valid correct? As the values
            'ABOUT_PAGE_YOUTUBE_VIDEO_ID': ABOUT_PAGE_YOUTUBE_VIDEO_ID.value,
            'CONTACT_EMAIL_ADDRESS': CONTACT_EMAIL_ADDRESS.value,
are no longer present in the `develop` branch.

I would need a little nudge in the right direction here.

[2016-10-17 23:21] seanlip commented on #2053
Ah yes, some of the old config property values were removed a while back.

The simplest way to get started, I think, is as follows: start up your dev server and go to localhost:8181/splash. Then go to localhost:8181/_ah/stats and look at the request corresponding to /splash. Dig into the RPCs to see what's going on. It looks like there are a bunch of memcache and datastore GET operations for the c

[2016-10-17 23:23] ubhisat commented on #2053
that helps. thanks!

[2016-10-18 08:49] vidhan13j07 commented on #2603
@anuzis @seanlip Can I work on this issue?

[2016-10-18 08:50] seanlip commented on #2603
Sure! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Then we can add you to the Oppia org on GitHub, and assign it to you.

Thanks!

[2016-10-18 09:12] seanlip commented on #2603
Hi @vidhan13j07, I've sent you an invitation to the org on GitHub. Once you've accepted it, feel free to assign yourself to this issue! Thanks.

[2016-10-18 20:47] 526avijitgupta commented on #2241
@seanlip Yes, Arunabh's current PR seems to solve this. I've updated the PR's title to make this clear!

[2016-10-19 01:53] kevinlee12 commented on #872
Hi @maitbayev, please feel free to assign yourself if you'd like to resume work on this!