[2017-12-31 08:44] #2829 closed

[2017-12-31 08:45] seanlip commented on #2831
We are currently upgrading jqueryUI to 1.12 (see #4316). I noticed this on the [upgrade page](https://jqueryui.com/upgrade-guide/1.12/#discontinued-ie8-ie9-and-ie10-support):

I don't think it's feasible for us to actively support IE9 if core libraries we depend on don't actively support IE9, so let's not do the IE9 part of this issue. We should still try to fix the IE11 part, though.

[2017-12-31 09:43] yashLadha commented on #4178
Here is the updated view.
![myimage](https://user-images.githubusercontent.com/18033231/34460723-0d8b0926-ee3d-11e7-93e4-f60072cfa8e1.gif)

[2017-12-31 09:50] seanlip commented on #4178
@yashLadha Thanks, feel free to submit a pr!

[2017-12-31 09:50] seanlip commented on #4178
(Ah, sorry, ignore that -- you already did. My bad.)

[2017-12-31 09:51] yashLadha commented on #4178
:smile:

[2017-12-31 10:03] #4314 closed, assigned to nithusha21

[2017-12-31 11:52] DubeySandeep commented on #4303
Closing this issue as it is fixed (#4310)

[2017-12-31 11:52] #4303 closed, assigned to DubeySandeep

[2017-12-31 13:26] yashLadha commented on #4240
Can i work on this. If @GanitGenius have no issue with that.

[2017-12-31 13:37] yashLadha commented on #4293
Can you guide me on it? I would like to work on this issue?

[2017-12-31 15:04] nithusha21 commented on #857
I confirm that this issue is still present. I'll try fixing it.

[2017-12-31 15:16] jervis446 commented on #3954
Hi, @brianrodri I would like to work on "Subscription Dashboard Page". Please assign it to me.

[2017-12-31 16:06] nithusha21 commented on #4178
Just one more thing on this issue which I just experienced. If you create an exploration and it is present in the library, Try the add to playlist button(the clock on the top right corner) and it will change to "already added to playlist". But an alert is shown saying the exploration is present in your creator dashboard. So you might have to check this situation.

[2017-12-31 20:11] yashLadha commented on #4178
But this issue is about tooltip, may be a separate issue for that would be
great as it is targeting a different file and not the card. Views?

On Dec 31, 2017 9:36 PM, "Nithesh N. Hariharan" <notifications@github.com>
wrote:

[2017-12-31 21:01] seanlip commented on #4178
@nithusha21 thanks for finding the bug! I agree this seems like a separate issue; please could you file one?

[2017-12-31 21:04] seanlip commented on #3954
@jervis446 I noticed a comment (possibly deleted) that you wanted to work on the subscription dashboard page. Is this still the case? If not, that's fine; if so, please let us know and we can assign it to you. Thanks!

[2017-12-31 21:07] seanlip commented on #4240
@yashLadha, @GanitGenius has already submitted a PR for this, so this issue isn't available. (@DubeySandeep -- what is the status of that PR?)

Also, @yashLadha, it looks like you are looking for issues to tackle. I would strongly suggest taking one of the frontend starter issues listed [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor) in order to become

[2017-12-31 21:37] seanlip commented on #4300
Discussed with @tjiang11 @markhalpin @rachelwchen. This is indeed an issue. The suggested fix is to attach the audio tab directly to the navbar, and have it follow the same rules as the current navbar, i.e. it hides when scrolled down -- cf. #4108.

(This only applies when the full audio bar does not show.)

[2017-12-31 21:45] seanlip commented on #4298
Hi @kevintab95 -- just FYI, we had a design discussion on this today. Having a tooltip for each hint is too intrusive, and really the thing we want to guard against with this is the learner not realizing at all that hints exist. So, let's go with the following:

- If a hint is available, but hasn't been used for 2 minutes, _and_ if no hints have _ever_ been used by the learner for this exploration

[2017-12-31 21:56] seanlip opened #4321 "The author profiles dropdown in the learner view is broken."
To reproduce:
1. Create an exploration and publish it.
2. Go to the learner view for that exploration.
3. Click the "Author Profiles" tab in the bottom left.

The dropdown seems to be broken. Here's a screenshot:

![authorprofiles](https://user-images.githubusercontent.com/10575562/34464408-6f35a632-ee32-11e7-848d-deccba090bb7.png)

[2017-12-31 21:57] seanlip commented on #4321
@nithusha21 -- assigning to you because I think this might be an artifact of #4230. Would you be able to look into this?

Also, we seem to be having issues with dropdowns in general. Please could you manually verify all dropdowns in the site and make sure they've been correctly updated?

[2018-01-01 04:01] nithusha21 commented on #4321
Yes will try all dropdowns... Looks related

[2018-01-01 06:54] AllanYangZhou opened #4322 "Using Enter key in MathExpressionInput can cause stuck state"
System: Chrome, Ubuntu 16.04

Steps to reproduce:
1. Create (or load) an exploration with a `MathExpressionInput` **and a response** and play it.
2. Type in the correct answer, then press the "Enter" key on your keyboard
3. Oppia's response will show up along with a "Continue" button
4. Press the "Enter" key on your keyboard again. Nothing happens, and the Continue button disappears.

This issue o

[2018-01-01 07:06] seanlip commented on #1542
See [this comment](https://github.com/oppia/oppia/pull/4269#issuecomment-354637495) in #4269, which is probably related. Screenshot:

![image](https://user-images.githubusercontent.com/11807091/34465765-25a5b6e6-ee83-11e7-8f8d-09c3d2162fb6.png)

[2018-01-01 07:57] nithusha21 commented on #4178
Ok I'll go ahead and file an issue. Thanks

[2018-01-01 08:03] nithusha21 opened #4323 "Adding an exploration that you created to 'play later' can be misleading"
**Steps to reproduce:**
- Create and publish an exploration.
- Go to the library and try adding it to play later(using the clock on the top right).

**Actual behaviour**
- the tooltip changes to 'added to playlist' but an error alert is shown saying exploration belongs to your creator dashboard.
- Also it allows you to remove it from playlist(though the exploration doesn't exist in the playlist).

[2018-01-01 09:02] jervis446 commented on #3954
@seanlip  please assign it to me subscription dashboard page

[2018-01-01 09:42] seanlip commented on #3954
Done!

[2018-01-01 10:29] apb7 commented on #3905
Hello @seanlip! I am willing to work on this issue. Can you please tell me how should I go about this?
Thanks!

[2018-01-01 10:46] seanlip commented on #3905
Hi @apb7! The instructions given above should be clear, so please follow them. Feel free to take just one of the checkboxes for your first PR.

In general, here's what to do:
(1) Pick an issue in the list above to tackle.
(2) Make that error in a file. Then run scripts/pre_commit_linter.py and see if it catches that error. If it does, great -- it means that error has somehow been fixed and we don'

[2018-01-01 12:00] Nix07 commented on #4317
Hi @AllanYangZhou Can I take this issue?

[2018-01-01 14:37] darthgera123 commented on #4231
Hello, i am trying to fix this issue but i am not able to identify the root cause, as the page kinda gets reloaded and gets stuck just before loading. Please guide

[2018-01-01 14:53] darthgera123 commented on #3954
@seanlip may i be assigned, collection editor page

[2018-01-01 15:49] shubha1593 commented on #4231
@darthgera123, can you be more specific, changes you might have made in the code, screenshots or error logs you might be getting?

[2018-01-01 16:59] aks681 commented on #4309
@seanlip, can I take up the limit hint to 5 part for now?

[2018-01-01 19:32] apb7 commented on #3905
Hello @seanlip! For checking alphabetized imports in Python, we can use [flake-8-import-order](https://pypi.python.org/pypi/flake8-import-order/). This package will add 4 new flake8 warnings.
Thanks!

[2018-01-01 19:32] sj29-innovate commented on #3826
I would like to take StatePropertyService.js

[2018-01-02 01:03] AllanYangZhou commented on #4317
@Nix07 Yup, thanks!

[2018-01-02 02:09] #3773 closed, assigned to nithusha21

[2018-01-02 02:13] #4178 closed, assigned to nobody

[2018-01-02 02:20] seanlip commented on #4309
Thanks, @aks681! Yes, please go ahead. Please also double-check that 5 hints + solution can indeed fit on the footer of a small mobile screen, and add a screenshot here as verification.

[2018-01-02 05:04] DubeySandeep commented on #3826
Hi @sj29-innovate, you can start working on it. I've assigned you. :)

[2018-01-02 06:14] #4311 closed, assigned to seanlip

[2018-01-02 06:34] nithusha21 commented on #3972
Hi. I tried reproducing this issue after the jquery-ui upgrade(which fixed #3773) but it seems to still persist. I think the root cause is not the same for both. This issue happened for me on mobile view only. In that view when the page is loaded itself the exploration description has a vertical offset(maybe because it overflows the width, not sure). While you try to reorder the panel seems to jum

[2018-01-02 07:51] yashLadha commented on #2394
Can you assign me one? @seanlip

[2018-01-02 07:59] aks681 commented on #4309
Ok

[2018-01-02 08:08] DubeySandeep commented on #2394
@yashLadha, I've assigned you to `utils.py`. :)

[2018-01-02 10:52] apb7 commented on #3905
@seanlip: For  'checking alphabetized imports' in Python, instead of `flake-8-import-order` we can use `isort`. To use it, we first need to install it using `install_third_party.sh` , create a `.isort.cfg` in the root directory and then implement the respective function in `pre_commit_linter.py`.
I have tested the above method and it works.

[2018-01-02 11:01] yashLadha commented on #2394
Great @DubeySandeep

[2018-01-02 11:11] seanlip commented on #3905
isort seems reasonable to me. Could you please submit a PR? Note that, by default, it shouldn't automatically mutate the code; it should just flag the errors when being run in the linter script. (Although it's fine if you want to use the auto-fix option to clean up existing code.)

Thanks!

[2018-01-02 11:18] apb7 commented on #3905
@seanlip: `isort` gives both the options - auto-fix as well as a check for import order. We can set it according to our requirements.
I'll submit a PR soon!
Thanks!

[2018-01-02 11:19] yashLadha opened #4327 "Error in `collection_domain.py`"
In the file `collection_domain.py` file, there is a syntax error at [Line](https://github.com/oppia/oppia/blob/9a8a19f172eb441980e61fa38748617288724885/core/domain/collection_domain.py#L1154), saying `skill is undefined` inside the [function]( https://github.com/oppia/oppia/blob/develop/core/domain/collection_domain.py#L1151-L1154). There should be a list and the variable should be retrieved from

[2018-01-02 11:20] seanlip commented on #4327
@yashLadha -- it would be helpful to make your bug report more specific, so that, in theory, anyone else who reads it can reproduce and understand the issue. Thanks.

[2018-01-02 11:23] yashLadha commented on #4327
Now @seanlip

[2018-01-02 11:24] seanlip commented on #4327
Yes, that is much better. Thanks!

[2018-01-02 11:31] nithusha21 commented on #4322
Hi @seanlip shall I check this issue?

[2018-01-02 11:32] seanlip commented on #4322
Actually -- although this is important, it's not as time-sensitive as the other ones which are needed for January's RCT. Could you pick one of the Blocking Bugs, perhaps? https://github.com/oppia/oppia/milestone/39

(Also, feel free to go ahead and assign yourself to any of them; no need to ask first. Thanks!)

[2018-01-02 11:33] nithusha21 commented on #4322
ok sure. Thanks 👍

[2018-01-02 11:50] #4321 closed, assigned to nithusha21

[2018-01-02 11:57] nithusha21 commented on #4296
Hi I'll look into this one.

[2018-01-02 12:43] aks681 commented on #4309
@seanlip, isn't the issue in /create and not /explore? I tried a text interaction and MCQ and in player page, all hints are never shown at the same time, also previous answers is scrollable whereas in editor page, everything went out of view though they are clickable.
![screenshot from 2018-01-02 19-04-32](https://user-images.githubusercontent.com/22347970/34485323-f6f1fecc-efef-11e7-9ff5-9c1a310b

[2018-01-02 16:32] #4327 closed, assigned to yashLadha

[2018-01-02 20:17] #4047 closed, assigned to Nix07

[2018-01-02 20:47] tjiang11 opened #4333 "Create an SubtitledHtmlEditorDirective"
With the recent addition of audio translations to outcomes, hints, and solutions, it would be nice to abstract out a SubtitledHtmlEditorDirective for re-use. You can notice a decent amount of code duplication in these files:

- HintEditorDirective.js
- OutcomeEditorDirective.js
- SolutionExplanationEditorDirective.js
- StateContentEditorDirective.js

Specifically, there are similar` $scope.onAudio

[2018-01-02 21:59] DubeySandeep commented on #4302
@seanlip, Similar Firefox issue for audio is posted in #4290.
Also, what should be the strategy for now to resolve this issue
- `shouldn't be offered as an option in that case`
OR
- `debugging and finding why it's not working and then resolving`

[2018-01-02 22:23] seanlip commented on #4302
I'd go with the former.

[2018-01-02 23:24] seanlip commented on #4309
Hints appear in the footer of the player page, not in the main card. They appear one by one, and you'll need to enter several wrong answers in succession in order to trigger all of them. (On the local machine, make sure to publish your exploration first, then go to the player view for the published version, otherwise you won't see the footer.)

So changes are probably needed to both /create and /e

[2018-01-03 05:27] nithusha21 commented on #4290
Hi. Just to confirm. Is this issue being resolved in parallel with #4302 or shall I take a look at this?
Thanks

[2018-01-03 05:57] aks681 commented on #4309
Ok, will try that.

[2018-01-03 06:02] seanlip commented on #4290
Are they related? I think you can go ahead and take a look in any case.

[2018-01-03 06:04] nithusha21 commented on #4290
sure will do. I think they are kind of related. Will take a look and confirm.

[2018-01-03 06:33] nithusha21 commented on #4290
Actually I think they might be linked. The supportsAutogeneratedAudio function actually checks if browser is chrome as seen [here](https://github.com/oppia/oppia/blob/39d6665a0d68d13e8d359764330c8c546ef58ad7/core/templates/dev/head/domain/utilities/LanguageUtilService.js#L79-L84) https://github.com/oppia/oppia/blob/39d6665a0d68d13e8d359764330c8c546ef58ad7/core/templates/dev/head/domain/utilities/L

[2018-01-03 06:52] nithusha21 commented on #4302
Hi @seanlip. I tried this on chromium and seems to work fine for me. I followed the exact steps that you mentioned. The Firefox version is broken though as I mentioned on the other comment thread.

[2018-01-03 06:57] seanlip commented on #4302
Thanks for the update, @nithusha21! Hm, interesting. What version of Chromium are you using? I'm using version 63.0.3239.84 on Ubuntu.

For now, let's maybe disable on FF and Chromium, and then re-enable on Chromium once we figure out the difference between your env and mine? We probably need some way to tell whether SpeechSynthesis works or not (rather than just using a broad measurement like the

[2018-01-03 06:59] nithusha21 commented on #4302
Sure. Mine is version 65.0.3311.0 on Mac OS X.

[2018-01-03 08:16] aks681 commented on #4309
Yes, 5 hints and a solution are an exact fit for the mobile view
![screenshot from 2018-01-03 13-45-07](https://user-images.githubusercontent.com/22347970/34513122-8563f466-f08c-11e7-8537-8006a6903a5d.png)

[2018-01-03 08:17] seanlip commented on #4309
OK, thanks for checking!

[2018-01-03 10:50] vibhor98 opened #4340 "Audio button for translations in explorations can not be clicked on Safari."
Repro Steps:

1. Go to any desired Exploration (prefer-- Fractions as it has both Hinglish and Spanish translations).
2. Try to turn on the audio button after successfully downloading of the Hinglish or Spanish translations.

**Observed:** The audio button can not be clicked on Safari. But it is working fine on Chrome.
**Expected:** The audio button must be clicked to start the audio translations.

[2018-01-03 10:52] seanlip commented on #4340
/cc @tjiang11

Thanks for reporting, @vibhor98!

What do you mean by "cannot be clicked", btw? Does it appear at all? Could you show a screenshot?

[2018-01-03 11:00] vibhor98 commented on #4340
Yes, the button appears. But once the Hinglish/Spanish translations are loaded, this audio button does not turn on to start the translations.
![screen shot 2018-01-03 at 4 29 47 pm](https://user-images.githubusercontent.com/26625980/34518023-66bdbbac-f0a3-11e7-962e-b8823829850d.png)

[2018-01-03 11:03] seanlip commented on #4340
That's quite an old version of the player. Are you synced with the latest version of the develop branch?

[2018-01-03 11:03] seanlip commented on #4340
(Make sure to always test on develop and not oppia.org, since a bug on the latter may already have been fixed in the former.)

[2018-01-03 11:20] seanlip opened #4342 "Add checks to prevent submission attempts for empty number/fraction fields."
Please take a look at the changes made to the following files in #4288:

- extensions/interactions/TextInput/directives/TextInput.js
- extensions/interactions/TextInput/directives/text_input_interaction_directive.html

The PR does a number of things, and one of the things it does in particular is to disable submission of empty strings for TextInput interactions.

We would like to do the same thing

[2018-01-03 11:21] seanlip commented on #4342
@nithusha21 would you like to take up this one?

[2018-01-03 11:27] nithusha21 commented on #4342
Sure I'll work on this. Thanks 👍

[2018-01-03 11:38] vibhor98 commented on #4340
Ok that means I have to create a test exploration and have to even add audio translations for that. Then only I can check it.

[2018-01-03 17:19] seanlip commented on #4340
Yes, that is indeed what needs to happen. You can use any audio file though.

[2018-01-03 17:41] DubeySandeep commented on #4240
Closing this issue as it's not needed.

[2018-01-03 17:41] #4240 closed, assigned to akumar1503

[2018-01-03 18:36] vibhor98 commented on #4340
Yes, the problem is same on develop. The audio button doesn't respond to start audio translations on Safari. But it is fine on Chrome.
![screen shot 2018-01-04 at 12 03 25 am](https://user-images.githubusercontent.com/26625980/34534125-04878e14-f0e3-11e7-898f-0a6d9ef5b8b1.png)

[2018-01-03 19:44] #4296 closed, assigned to nithusha21

[2018-01-04 01:17] #3868 closed, assigned to LanJosh

[2018-01-04 01:18] seanlip commented on #4340
Thanks for checking, @vibhor98!

@tjiang11 @nithusha21 @DubeySandeep is this related to #4302/#4290?

[2018-01-04 01:39] #4290 closed, assigned to nithusha21

[2018-01-04 03:03] seanlip opened #4348 "Complete the e2e tests for v2 of the stats project."
This is a tracking issue for the v2 stats e2e testing that needs to be done before the stats functionality can be released.

[2018-01-04 03:03] seanlip commented on #4309
I think #4338 suffices for this, actually. Thanks @aks681! Closing.

[2018-01-04 03:03] #4309 closed, assigned to aks681

[2018-01-04 03:05] seanlip opened #4349 "Design and implement the necessary statistics for the exploration redirection project."
This is a tracking issue for designing and implementing the necessary statistics collection for the exploration redirection project.

/cc @aks681 also for info.

[2018-01-04 03:06] seanlip opened #4350 "Enable new progress nav on desktop"
This is a tracking issue for enabling the new progress nav on desktop, including repositioning the tutor card correctly. This needs to be completed by the next release on 6 Jan, and is currently being addressed by @AllanYangZhou in #4335.

[2018-01-04 03:15] seanlip opened #4351 "Enable audio playback for feedback, hints and solutions"
This is a tracking issue for the PR #4346, which aims to add audio playback for feedback, hints and solutions to the learner view.

[2018-01-04 03:22] seanlip opened #4352 "Update the display for hints."
(This follows on from work in #4341, and is blocked by it.)

Some improvements need to be made to the new hints functionality before it can be released:

- Use transparent backgrounds for the hint/solution images, and implement their backgrounds using CSS.
- Change the colour of those buttons on-hover (similar to the Submit button in the main card).
- Turn the footer button green after a hint/solu

[2018-01-04 03:22] nithusha21 commented on #4340
I did take a look at this issue @seanlip. It seems to be different and happened only on safari. Even manual translations weren't playing. And I tried this on the branch where I had fixed the FF bug.

[2018-01-04 03:26] seanlip opened #4353 "The FractionInput interaction should have customization args to restrict the input to fractions/mixed-numbers."
Currently, the FractionInput interaction has a single customization arg which requires the answer to be in simplest form. However, there are some questions which ask for the student to enter an answer either as a mixed number, or as a (improper) fraction. Customization args should exist for these, too, and the placeholder text of the interaction appropriately updated.

[2018-01-04 03:31] seanlip opened #4354 "Change the Continue button to "Learn again" if the learner regresses."
If a learner gets a question wrong, and gets some feedback from Oppia before immediately being redirected to another card, we want the button to be 'Learn again' instead of 'Continue', in order to indicate that they're going to revisit a previous concept. It should look something like this:

![learn-again](https://user-images.githubusercontent.com/10575562/34549267-5381f24c-f0bc-11e7-96c9-75d00eee

[2018-01-04 03:32] seanlip opened #4355 "Add redirection to refresher explorations in the learner view"
This is a tracking bug for adding redirection to refresher explorations in the learner view. This issue is currently being worked on by @aks681 in #4344, and is nearly complete.

[2018-01-04 03:36] seanlip opened #4356 "Show a footer for correctness feedback in the learner view."
We want to make it clear when a learner gets an answer correct. See https://www.figma.com/file/D24HnNvUfEYxvOWn4k57UCUG/Correct-Answer for a proposed design.

This issue can be broken into multiple parts:
- [ ] Show the "correctness footer" (@ishucr7, #4363)
- ~~[ ] Show the animation on the footer~~ (deferred -- see #4364)
- ~~[ ] Show the star in the bottom right-hand corner (only on mobile) who

[2018-01-04 03:51] seanlip commented on #4348
Whoops, duplicate of #2249! Closing.

[2018-01-04 03:51] #4348 closed, assigned to pranavsid98

[2018-01-04 06:45] DubeySandeep commented on #4302
@tjiang11 & @seanlip, Everything is working correctly in chromium.  The problem is with the browser itself i.e, by default, speechSynthesis is disabled in chromium builds, it needs to be enabled via a flag `--enable-speech-dispatcher`. Also, it works fine on recorded/uploaded/manually-translated audio files.
So will it be okay to hide/remove the audio panel (likewise #4337) if browse is chromium a

[2018-01-04 06:47] seanlip commented on #4302
Yep! That's fine. Thanks for the investigation.

[2018-01-04 06:59] pranavsid98 commented on #3822
Hi @tjiang11 Sorry for the late update. The stats migration release got delayed and I don't think I'll be able to work on this for at least another month. I'm de assigning myself for now. Thanks

[2018-01-04 08:17] seanlip commented on #4340
Thanks for checking, @nithusha21! That sounds strange. Are there any console errors/logs?

[2018-01-04 09:01] chrised123 commented on #3225
Hi @seanlip
Will it be possible for me to work on this?

[2018-01-04 09:04] seanlip commented on #3225
Hi there, @chrised123 -- welcome! Could you follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started, please? Once you've done so, feel free to come back and take this up (though you might want to try a starter project or two first to get acclimatized with the codebase).

Thanks!

[2018-01-04 09:05] nithusha21 commented on #4340
No there were no logs. Maybe the fix is similar to what @DubeySandeep mentioned on the chromium issue. Safari might not have speech-synthesis enabled possibly. Maybe the same temporary fix to hide the bar would be a good idea considering the release. Maybe he could confirm that the issue is similar.

[2018-01-04 09:07] seanlip commented on #4340
That's a lot of maybes :) But yep, your suggestion sounds good to me. @DubeySandeep would you agree?

[2018-01-04 10:05] nithusha21 commented on #4302
Hi @seanlip could you just confirm if manually added translations work on your chromium build?

[2018-01-04 10:08] seanlip commented on #4302
Yep, I confirm that manually-added translations work. Thanks for checking!

[2018-01-04 10:10] nithusha21 commented on #4302
Hmmm. Ok thanks for confirming!

[2018-01-04 10:51] chrised123 commented on #3950
A new contributor here. Can I have a task assigned to me?

[2018-01-04 11:08] DubeySandeep commented on #3950
Hi @chrised123, welcome :). I've assigned you to `collection_player/collection_player.html`. You can start working on it (Assuming you've done the setup and signed the CLA as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)).

[2018-01-04 12:01] #4342 closed, assigned to nithusha21

[2018-01-04 12:03] seanlip commented on #4352
This is now covered in #4341.

[2018-01-04 12:03] #4352 closed, assigned to seanlip

[2018-01-04 15:43] aks681 commented on #4354
@seanlip, after my current PR, shall I take this up?

[2018-01-04 18:55] AllanYangZhou opened #4361 "ngRepeat dupes console error on narrow windows"
Repro steps:
1. Reload the all_interactions exploration and go to `/explore/16/`
2. Resize your browser window to be "narrow" (<760 px)
3. Play the exploration until the MathExpressionInput card
4. Submit the correct answer for the MathExpressionInput
5. The [ngRepeat: dupes](https://docs.angularjs.org/error/ngRepeat/dupes) error appears in the console, for the variable `hintIndexes`.

The error d

[2018-01-04 19:36] seanlip commented on #4354
Sounds good, thanks @aks681! Please go ahead.

[2018-01-04 19:36] #4297 closed, assigned to seanlip

[2018-01-04 21:32] #4355 closed, assigned to aks681

[2018-01-05 02:19] seanlip opened #4364 "Enhancements to the correctness footer"
We want to make it clear when a learner gets an answer correct. See https://www.figma.com/file/D24HnNvUfEYxvOWn4k57UCUG/Correct-Answer for a proposed design. The groundwork of this was laid down in #4356, and this issue adds a few additional (but non-essential) things on top of it.

This issue consists of two parts:

- [x] Show the animation (sprinkles!) on the footer
- [ ] Show the star in the bo

[2018-01-05 05:46] nithusha21 commented on #4340
I did investigate this issue. This seems a lot different than the other speechSynthesis issues we had. So I managed to narrow down the issue to the load operation occurring in the AudioPlayerService. The load operation on safari does not produce an error but the object return has an error code `ERROR: MediaError (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED)` in its attributes. Upon googling about this ther

[2018-01-05 05:47] seanlip commented on #4340
Thanks for the investigation! Let's prevent the audioBar completely on safari for now, and file an issue (with the above information) to do a better fix later.

[2018-01-05 05:52] nithusha21 commented on #4340
OK I'll do that then.

[2018-01-05 10:38] seanlip commented on #4361
Thanks for reporting! This should be fixed as part of #4365. PTAL and verify?

[2018-01-05 10:38] seanlip commented on #4217
Fixed as part of #4365. Not entirely sure this is a regression... but fixed anyway.

[2018-01-05 11:03] nithusha21 opened #4367 "Prevent null-submission checks for MathExpression interaction"
This is a continuation of #4342. The aim is to prevent students to get distracted by the big blue submit button and hence disable it till they have entered some text.

Interactions that have been fixed so far:
- [x] Text Input Interaction (#4288)
- [x] Item selection Input Interaction (#4288)
- [x] Numeric Input Interaction (#4359)
- [x] Fraction Input Interaction (#4359)
- [x] Set Input Interacti

[2018-01-05 11:14] aks681 opened #4368 "Redirect Exploration not preserving collection_id"
This is an extension of issue #4355 .
Currently, collection_id is not preserved when a learner redirects to a refresher exploration from a parent exploration that is part of a collection.

To reproduce:
1. Create a short refresher exploration
2. Create a parent exploration that redirects to the above refresher exploration on a wrong answer on any interaction.
3. Create a collection and add the par

[2018-01-05 11:19] himanshukumar660 commented on #4364
@seanlip I would like to work on this issue. I just wanted to put forward my ideas regarding the sprinkles on the footer. Can we just splash a thumbs up on screen for every correct answer and a thumbs down for every wrong answer? And at the bottom we have a star incrementing/decremeting on the correctness of the answer.

[2018-01-05 11:21] nithusha21 opened #4369 "SpeechSynthesiser not working on several browsers"
The audio bar has currently been patched with a lot of temporary fixes preventing it from being displayed in many browsers. SpeechSynthesis is used by the auto-generated translations(currently in en-GB). This feature is disabled in some browsers(not all versions). The auto-generated translations at the moment are mainly restricted to chrome.

**Expected behavior**
The auto-generated speech works a

[2018-01-05 11:23] seanlip commented on #4364
Hi @himanshukumar660, welcome to the project! Before working on this issue, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

Also, in general, I would recommend working on some starter issues before tackling this one, so that you can become familiar with the codebase. We can then return to this issue

[2018-01-05 11:27] nithusha21 opened #4370 "Manually added translations not working on safari."
This is a follow up to #4340. This error occurs only on safari. The current temporary fix was to completely prevent the audio-bar on safari. After investigation the issue was narrowed down to the load operation occurring in the AudioPlayerService. The load operation on safari does not produce an error but the object returned has an error code ERROR: MediaError (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED)

[2018-01-05 11:30] nithusha21 opened #4371 "Console error on trying to play any manually added audio translation."
**Steps to reproduce:**
- Upload a manual translated audio for an exploration.
- Go to preview mode and play the audio. (or even when the exploration is published)
- Check the console.

You will see a console error saying `DOMException: The play() request was interrupted by a call to pause().`
**Expected** - No console errors

/cc @DubeySandeep who reported this

[2018-01-05 14:43] anmolshkl commented on #3977
Hi @Arunabh98, are you working on this issue?

[2018-01-05 14:44] anmolshkl commented on #4275
Hi @GanitGenius, are you still working on this?

[2018-01-05 14:48] anmolshkl commented on #4304
Hi @shubha1593, ping?

[2018-01-05 15:13] anmolshkl commented on #4353
@seanlip would this issue affect the fractions explorations which have been already implemented?

Also, we keep writing mixed numbers in the explorations as per their [formal representation](https://i.stack.imgur.com/YqWCF.png). Do you think asking learners (who might be reading about mixed numbers for the first time) to input answer as "5 1/3" might confuse them?

[2018-01-05 17:01] akumar1503 commented on #4275
@anmolshkl yes, will be done soon. i have created the test and need to integrate it.
@seanlip i have created some parts of 'protractor_test_1' which are executed in the test, in an exploration.

but i need some help. creating an exploration gets a random exploration id assigned which can't be hard coded in 'embedding_tests'. is there a way to manually assign it exploration id (like 12). or can you

[2018-01-05 18:17] vibhor98 opened #4374 "Update docstrings in the python backend code."
The aim of this issue is to ensure that every backend file is properly documented. The docstrings serve as guidance to developers to help them understand what a class or a method is doing, so they must be written accurately.

Some useful tips:

- Please follow our [style guide](https://github.com/oppia/oppia/wiki/Coding-style-guide#general) and also the [Google Python style guide](https://google.g

[2018-01-05 18:25] vibhor98 commented on #4374
Hi @yashLadha @apb7 these are the set of files that need addition of docstrings. You can follow the guidelines and tackle files one by one. Remember we need to work together collaboratively so I will be keeping track of you time to time. Please share if you encounter any type of problem in the future.

[2018-01-05 18:29] seanlip commented on #4275
Hi @GanitGenius -- @aks681 had to do something similar [here](https://github.com/oppia/oppia/pull/4344/files#diff-6bc5f9a077275fd32866d50ec8134d12R91), please take a look. Maybe he can help you.

[2018-01-05 18:30] seanlip commented on #4275
Another example (also by @aks681): https://github.com/oppia/oppia/pull/4307/files#diff-6bc5f9a077275fd32866d50ec8134d12R34

[2018-01-05 18:44] seanlip commented on #2394
Closing; superseded by #4374.

[2018-01-05 18:44] #2394 closed

[2018-01-05 18:57] hundredrab commented on #4374
Hello! I'm new here and would like to start working on this.

[2018-01-05 18:58] seanlip commented on #4374
Hi @hundredrab -- sounds good, thanks! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to pick a file on this issue and tell us what it is, and we'll update the thread accordingly. Thanks!

[2018-01-05 19:18] hundredrab commented on #4374
@seanlip sure. I'd like to work on `core.controllers.learner_dashboard` thanks

[2018-01-05 19:27] seanlip commented on #4353
@anmolshkl -- these are both very good points, thanks!

I actually forgot about the migration part of this. I'll handle that once @nithusha21 has done the initial PR.

For the other point, you are absolutely right -- we should give a more gentle introduction here. This is a content thing though (although the fractions placeholder for that case could probably say something like "Enter a mixed numbe

[2018-01-05 19:28] seanlip commented on #4374
Thanks -- let us know when you have finished the instructions I mentioned above, and we can assign you then.

[2018-01-05 20:07] #4302 closed, assigned to DubeySandeep

[2018-01-05 20:08] #4340 closed, assigned to nithusha21

[2018-01-05 20:42] tjiang11 opened #4376 "Solution button is shown even when there is no solution available."
To reproduce:

1. Create an exploration with a hint and NO solution.
2. Publish the exploration.
3. Go to /explore/<exploration id>
4. Activate the hint, then wait.
5. Observe that the solution button is shown. When activated, an error occurs.

[2018-01-05 20:42] tjiang11 opened #4377 "Hints and solutions are not preview-able in the creator view."
When previewing an exploration in the creator view, there is no footer, and as such, the creator has no way of activating hints and solutions.

[2018-01-05 23:00] BenHenning commented on #2731
This issue is becoming increasingly more important after several interactions regressed during the 2.5.7 release and weren't discovered until almost deploying to oppia.org. It's really important that our interactions are continuously verified to work without console errors and preferably across all possible rules.

[2018-01-05 23:33] seanlip commented on #2731
/cc @Nix07 for info.

Btw, one thing I did to mitigate this was to add a backend test in #4365 (see https://github.com/oppia/oppia/pull/4365/files#diff-c03d650526e6666994cd51ad6bb0179cR508) to verify that the all-interactions demo exploration covers every single interaction. That means that playing through that exploration should cover all the cases (although not every single rule, unfortunately,

[2018-01-06 00:27] #4356 closed, assigned to ishucr7

[2018-01-06 00:27] #4368 closed, assigned to aks681

[2018-01-06 00:45] seanlip commented on #4299
Closing as duplicate of #4377

[2018-01-06 00:45] #4299 closed, assigned to nobody

[2018-01-06 02:41] #4249 closed, assigned to BenHenning

[2018-01-06 04:00] vishnu-m opened #4381 "Cannot setup environment"
I am currently using ubuntu 16.04.While running `bash scripts/start.sh` ,errors related to python arises.Screenshot attatched herewith.
![tscreenshot_from_2018-01-06_09-19-58](https://user-images.githubusercontent.com/29692938/34636289-219fb642-f2c4-11e7-9c94-d56b56b20f2a.png)

[2018-01-06 05:58] nithusha21 commented on #4353
Hi @seanlip, I think that is a nice approach, will do that then. Thanks for that info 👍

[2018-01-06 06:40] DubeySandeep commented on #4381
@Vishnu-M, have you tried [this](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Linux)#wiki-footer) approach for troubleshooting? (looks similar)
Just check your python and numpy version.

[2018-01-06 08:24] ishucr7 opened #4384 "Tick/Cross is shown on the Hints and Solution Editor (in exploration editor)"
Tick and cross are meant only for the response editor.

Steps to reproduce : Enable the correctness feedback (under advanced features) in the settings tab in exploration editor.

Observed behavior : tick/cross is visible in hint and solution editor(exploration editor)
![screenshot-2018-1-6 personalized online learning from oppia](https://user-images.githubusercontent.com/23234392/34637992-c0cbd466

[2018-01-06 08:32] seanlip commented on #4349
@pranavsid98 and I discussed this. The plan is to just record the event models for now, and worry about analyzing them later. This needs to go in before the January release.

[2018-01-06 08:40] AllanYangZhou opened #4386 "Make communication between progress-nav and interactions more transparent and maintainable"
The new progress-nav (#4265,#4365) has a Submit button which is supposed to act as the Submit button for the card's interaction if `show_nav_submit_button=True` (some interactions, such as MultipleChoiceInput, don't need a Submit button so that flag is `False`).

1. Every interaction that uses the Submit button needs to have a callback attached for `EVENT_PROGRESS_NAV_SUBMITTED`, which is broadcas

[2018-01-06 08:55] ishucr7 commented on #4376
Can I take this issue ?

[2018-01-06 09:13] seanlip commented on #4386
Some additional notes/clarification on point 1: there should be no dev-written code for the Submit button in particular for all of the existing interactions -- or, alternatively, there should be some backend/frontend test that ensures the conditions specified always hold (e.g., maybe pull the standard button into its own directive and check that the interaction includes that code snippet exactly).

[2018-01-06 09:27] #4376 closed, assigned to seanlip

[2018-01-06 10:37] #4350 closed, assigned to AllanYangZhou

[2018-01-06 10:37] #4217 closed, assigned to seanlip

[2018-01-06 10:37] seanlip commented on #4361
Fixed as part of #4365.

[2018-01-06 10:37] #4361 closed, assigned to seanlip

[2018-01-06 11:04] aks681 commented on #4354
@seanlip, I am almost done, should I create a new learn again directive or modify existing continue button to change text depending on context?

[2018-01-06 11:08] seanlip commented on #4354
Hmm, this is hard. I don't know, actually. I lean slightly towards the latter, but do whichever is cleaner.

[2018-01-06 11:09] aks681 commented on #4354
Second one would be cleaner as a lot of functions that I saw would become duplicates if a new directive is created.

[2018-01-06 11:10] seanlip commented on #4354
OK, I agree!

[2018-01-06 11:10] aks681 commented on #4354
Ok, thanks, will do that.

[2018-01-06 11:39] ishucr7 opened #4388 "The Correct symbol in the correctness footer is an image, use material icons instead."
Steps to reproduce: Enable the correctness feedback in the setting tab(in exploration editor). Submit the correct answer(in exploration player) ,the correctness footer will show up.

Use the material icons instead of the image presently in use.

[2018-01-06 13:20] vishnu-m commented on #4381
I had anaconda installed.The problem got resolved when I uninstalled it.Thanks @DubeySandeep  :)

[2018-01-06 13:20] #4381 closed, assigned to nobody

[2018-01-06 14:11] akumar1503 commented on #4275
ok, will talk to him.

[2018-01-06 15:44] aks681 commented on #4377
@tjiang11 , I'll take up this issue.

[2018-01-06 17:21] #4384 closed, assigned to ishucr7

[2018-01-06 18:45] aks681 commented on #4377
@tjiang11, In preview tab, should hint and solution icons be permanently visible or should it follow same pattern as in exploration player as with time intervals depending on wrong answers submitted?

[2018-01-06 19:01] tjiang11 commented on #4377
Hi @aks681 , it should follow the same pattern.

[2018-01-06 19:14] aks681 commented on #4377
Ok

[2018-01-06 19:51] apb7 commented on #3905
Hey @seanlip! We can use pycodestyle API for checking two lines above class definitions in Python. It corresponds an E305 error code. I would like to take this up! Also, before implementing any linter checks on docstrings, we need to ensure that all classes and functions have docstrings.
Thanks!

[2018-01-06 23:49] #4377 closed, assigned to aks681

[2018-01-07 01:46] #4354 closed, assigned to aks681

[2018-01-07 01:48] seanlip commented on #3954
@abhishekarya286 are you still working on this issue? If not, we'll reassign. Thanks!

[2018-01-07 01:49] seanlip commented on #3905
Hi @apb7, sounds good, thanks -- go ahead!

For docstrings, I agree. I thought @vibhor98 @yashLadha and you were handling that (see #4374)?

[2018-01-07 01:51] seanlip commented on #4294
Done in #4382. Thanks @tjiang11!

[2018-01-07 01:51] #4294 closed, assigned to tjiang11

[2018-01-07 01:52] seanlip commented on #4351
#4346 is submitted. Thanks @tjiang11!

[2018-01-07 01:52] #4351 closed, assigned to tjiang11

[2018-01-07 02:45] apb7 commented on #3905
Yes @seanlip, we are taking care of it. Thanks!

[2018-01-07 04:54] vibhor98 commented on #1251
@aks681 I have resolved this issue while inspecting the element. I have tried greping every possible class but I am unable to find out the part of code. Please help me.
![screen shot 2018-01-07 at 2 11 18 am](https://user-images.githubusercontent.com/26625980/34646705-f7d084fa-f394-11e7-8ec4-7f194ed2701b.png)

[2018-01-07 05:54] DubeySandeep commented on #4353
Closing this as it's resolved in #4390.

[2018-01-07 05:54] #4353 closed, assigned to nithusha21

[2018-01-07 07:08] seanlip commented on #4304
I looked into this. Here's what's happening.

- The fix for this is actually a procedural one. After a new release is pushed, the versions on explorations are not automatically updated -- that is why the error was showing up. The migration job must, instead, be run explicitly -- that will force an update of the exploration version and cause the versions to not match and the "lost changes" modal to

[2018-01-07 07:49] #4388 closed, assigned to ishucr7

[2018-01-07 09:00] #4298 closed, assigned to kevintab95

[2018-01-07 10:20] aks681 commented on #1251
@vibhor98 , If you mean the files related to MathExpressionInput, It is in /extensions/interactions/MathExpressionInput. Try changing the main directive or html files there.

[2018-01-07 10:23] seanlip commented on #4304
Addressed in #4394.

[2018-01-07 10:23] #4304 closed, assigned to shubha1593

[2018-01-07 10:40] vibhor98 commented on #1251
I am asking about html files related with cursor styling. I'll try this
also. Actually I have resolved the issue by changing one html segment by
inspecting the element, but I am unable to find that segment. Thanks,

On Sun, Jan 7, 2018 at 3:50 PM, Akshay Anand <notifications@github.com>
wrote:

[2018-01-07 10:46] seanlip opened #4397 "Complete the "simple editor" project."
The aim of the "simple editor" project was to build a simple version of the exploration editor so that it's easier for new creators to get started creating lessons. Details can be found in the [Simple Editor : Tracker.](https://docs.google.com/spreadsheets/d/1izbm6ZZf4BoUrWbiVAg_xuTQnrHPJCLpb001PgplZwE/edit#gid=0) doc. The project page is [here](https://github.com/oppia/oppia/projects/5), and curr

[2018-01-07 10:47] seanlip commented on #3014
Archived in #4397.

[2018-01-07 10:47] #3014 closed

[2018-01-07 10:48] seanlip commented on #3015
Archived in #4397.

[2018-01-07 10:48] #3015 closed

[2018-01-07 10:48] seanlip commented on #3228
Archived in #4397.

[2018-01-07 10:48] #3228 closed

[2018-01-07 10:48] seanlip commented on #3017
Archived in #4397.

[2018-01-07 10:48] #3017 closed

[2018-01-07 10:48] seanlip commented on #3256
Archived in #4397.

[2018-01-07 10:48] #3256 closed

[2018-01-07 10:48] seanlip commented on #3238
Archived in #4397.

[2018-01-07 10:48] #3238 closed

[2018-01-07 10:55] aks681 commented on #1251
I think some of those are set in HTML from directives, anyway, the main HTML file for that is math_expression_input_interaction_directive.html

[2018-01-07 11:26] vibhor98 commented on #1251
Thanks! I'll try then.

On Sun, Jan 7, 2018 at 4:25 PM, Akshay Anand <notifications@github.com>
wrote:

[2018-01-07 11:39] vishnu-m commented on #4374
@seanlip I am new here and have read the instructions.Can I work on `core.controllers.pages`?

[2018-01-07 11:47] vibhor98 commented on #4374
Hi @Vishnu-M. Sounds Good! Please follow  the instructions first [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) and sign the CLA to get started.
Once you are done, you can pick any file of your choice.

[2018-01-07 13:27] apb7 commented on #4374
Hey @vibhor98! I'd like to work on `core.controllers.base`. Also, [line 537](https://github.com/oppia/oppia/blob/develop/core/controllers/base.py#L537) does not exactly point to a method (It points to `digester.digest`). Can you please point out which method was being referred there?
Thanks!

[2018-01-07 13:52] vibhor98 commented on #4374
@apb7  Sure assigned you. You can run the pylint test on specific file given as in the instructions.

[2018-01-07 13:53] DubeySandeep commented on #4374
Hi @apb7 , I guess that's just a typos
[code]
you can may prefer this^

[2018-01-07 14:09] apb7 commented on #4374
Thanks, @vibhor98 and @DubeySandeep!

[2018-01-07 16:40] EvsChen commented on #3826
Can I take computeGraphService? Thank you!

[2018-01-07 16:44] DubeySandeep commented on #3826
Hi @EvsChen, have you signed the CLA (as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up))?

[2018-01-07 16:54] EvsChen commented on #3826
@DubeySandeep  Yes, I think I signed just now

[2018-01-07 17:30] DubeySandeep commented on #3826
@EvsChen, Thanks!  Can you please choose any other part of this issue as because `computeGraphService` is already done in #4149.

[2018-01-07 17:40] EvsChen commented on #3826
@DubeySandeep  Can you just randomly assign me one? I have no special preference

[2018-01-07 17:46] DRBIBHUTILOCHANSARMA opened #4405 "SANSKRIT"
Please add the language choice {{SANSKRIT}} to the exploration settings tab.

Here is a link to an exploration that uses it: {{INSERT_LINK_HERE}}

[2018-01-07 18:23] DRBIBHUTILOCHANSARMA opened #4406 "SANSKRIT"
Please add the language choice {{SANSKRIT}} to the exploration settings tab.

Here is a link to an exploration that uses it: {{INSERT_LINK_HERE}}

[2018-01-07 19:19] vibhor98 opened #4407 "Text inside MathExpressionInput area exceeds the text area."
Repro Steps:
- Make any test exploration in the test environment and select MathExpressionInput as an interaction.
- Try to type-in the text in the text area.

**Observed:** The text inside MathExpressionInput is exceeding the text area.
**Expected:** The text should immediately move to the second line if some how exceeds the area.

![screen shot 2018-01-08 at 12 42 44 am](https://user-images.gith

[2018-01-07 19:22] DubeySandeep commented on #3826
@EvsChen, I've assigned you to `graphDataService`. :)

[2018-01-07 19:28] jervis446 commented on #4406
is it good idea to adding Sanskrit ?

[2018-01-07 19:56] seanlip commented on #4406
@DRBIBHUTILOCHANSARMA We'll need the lesson link to evaluate this request. Please provide it and then reopen this issue once you've done so. Thanks!

[2018-01-07 19:56] #4406 closed, assigned to nobody

[2018-01-07 20:51] DubeySandeep commented on #4405
Closing this because of similar issue #4406.

[2018-01-07 20:51] #4405 closed, assigned to nobody

[2018-01-07 21:47] tjiang11 commented on #4293
@yashLadha Sorry, missed this. I'm not exactly sure how this ought to be done. I added a bit of sliding functionality in AudioBarDirective because it has to slide to accommodate the sliding Oppia header. Could you use that as a reference?

[2018-01-07 21:48] tjiang11 commented on #4293
@yashLadha If you still want to work on this, then feel free to assign yourself.

[2018-01-08 03:11] asmigos commented on #3826
I would like to work on ExplorationPropertyService.js .

Thanks

[2018-01-08 04:23] yashLadha commented on #4293
Can you tell me the file. I want to work on it as soon as my open pr gets merged

[2018-01-08 07:03] seanlip opened #4409 "Can't move or add edge for GraphInput interactions on mobile devices"
Steps to reproduce:
1. Create an exploration with a GraphInput interaction (or use the all_interactions demo exploration).
2. Open the exploration learner view on a mobile phone and try to add edges or move nodes of the graph.

Expected behaviour: the edges should be added, or the nodes should be moved.
Observed behaviour: The clicks/taps do not register.

Note that this happens only on mobile dev

[2018-01-08 07:07] seanlip opened #4410 "The info modal is broken for private explorations."
(This is a low-priority bug, since we would normally expect explorations to be published prior to the info modal being created.)

Steps to reproduce:
1. Create an exploration, but don't publish it.
2. Navigate to the learner view for the exploration (by replacing /create/... with /explore/...
3. Click the info button in the navbar.

Observed behaviour: Nothing happens, and a console error arises:

[2018-01-08 07:09] seanlip opened #4411 "Can't submit solutions for MathExpressionInput and MusicNotesInput in the editor tab"
Steps to reproduce:
1. Create a new exploration and add either a MathExpressionInput or a MusicNotesInput interaction.
2. Add a hint to the same state, and then a solution.

Expected behaviour: when a valid solution is entered, the "submit" button should become active and the solution should be saveable.

Observed behaviour: the "submit" button never becomes active, and the solution cannot be save

[2018-01-08 07:16] seanlip opened #4412 "The presentation of solutions could be better."
**Steps to reproduce**
1. Create a new exploration with any non-trivial interaction (like TextInput).
2. Add a hint.
3. Add a solution.
4. Go to the preview tab, enter a few wrong answers, and click the hint button that shows up in the lower right after 10 seconds or so.
5. Enter some more wrong answers, wait a bit longer, and then click the solution button that shows up in the lower right after s

[2018-01-08 07:45] chrised123 commented on #3950
Hi @DubeySandeep, I have completed the development. Have to check whether it works correctly or not. However, I cannot access that page. Can you please guide me in accessing the page in a browser?

[2018-01-08 07:55] DubeySandeep commented on #3950
Hi @chrised123, for dev site: run `scripts/start.sh` (as mentioned [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#running-oppia-on-a-development-server)), for prod. site: https://oppia.org
Also, try to ask theses questions on [gitter](https://gitter.im/oppia/oppia-chat).

[2018-01-08 07:59] DubeySandeep commented on #3826
Hi @asmigos, have you signed the CLA (as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up))?. Once you're done with that I'll assign you to this issue.
Thanks! :)

[2018-01-08 08:00] ishucr7 opened #4413 "The autosaveInfoModalsService is being used (in exploration_editor/ExplorationSaveService.js) but its not included in the function definition"
The autosaveInfoModalsService is being used in the ExplorationSaveService but is not included in the definition of the function.
Add the service in the definition of the function as well.

[2018-01-08 08:02] asmigos commented on #3826
Yes I have .

[2018-01-08 08:05] DubeySandeep commented on #3826
@asmigos, I've assigned you to `ExplorationPropertyService.js`.
Thanks! :)

[2018-01-08 08:25] DubeySandeep opened #4415 "Splash page in test server is looking bit off (buttons are not aligned correctly)."
**Steps to reproduce:**
- Go to https://oppiatestserver.appspot.com/splash.

**Expected behavior:**
![screenshot from 2018-01-08 13 52 43](https://user-images.githubusercontent.com/16653571/34663160-59c74266-f47b-11e7-8ba7-df38c214a9b2.png)
**Observed behaviour:**
![screenshot from 2018-01-08 13 53 22](https://user-images.githubusercontent.com/16653571/34663162-5a2fbf4e-f47b-11e7-9e73-494ea0b38180

[2018-01-08 09:32] nithusha21 commented on #4415
Just to confirm this occurs only in desktop view and on smaller screens it looks fine.

[2018-01-08 09:42] aks681 commented on #4415
Ok, thanks

[2018-01-08 10:42] nithusha21 opened #4417 "Making any changes to the exploration while saving or publishing changes results in an error modal"
Steps to reproduce:
- Make a new exploration and resolve all warnings(make it publish ready).
- Click publish and then immediately make a change in the exploration
- If changes were made before publish completed, the page shows a modal
![image](https://user-images.githubusercontent.com/11898234/34667328-97fab898-f48e-11e7-80b5-c681cf4c072d.png) which seems misleading.

**Solution(see this [comment

[2018-01-08 11:04] nithusha21 opened #4418 "Exploration history version comparison is not aligned properly on smaller screens."
Steps to reproduce:
- make an exploration and make at least 2 versions (make a change and publish again to make a version).
- go to the history tab and select 2 versions to compare (use mobile view here).
The version view spills outside the box.
![image](https://user-images.githubusercontent.com/11898234/34668058-b94c0be8-f491-11e7-83c4-23b8dcf0d319.png)

[2018-01-08 12:11] nithusha21 opened #4421 "Console error when logging out while creating an exploration"
Steps to reproduce (on the test server):
- Login and go to create an exploration
- Now logout. The same page gets reloaded and you aren't allowed to edit anything.
- Check the console for an error
![image](https://user-images.githubusercontent.com/11898234/34670085-c325bbba-f49a-11e7-84f5-a881e866e75e.png)
Is this expected behaviour?

[2018-01-08 12:20] DubeySandeep opened #4422 "No search option in library for mobile users."
There is no way to search for an exploration in mobile view. Library page should be modified for mobile users such that they can search for "exploration" and "collection" in their preferred languages.

[2018-01-08 12:28] abarya commented on #3954
yeah @seanlip, I'm half way through this.

[2018-01-08 12:41] DubeySandeep commented on #4418
We don't support exploration editing in mobile view for now. We have another project "simple editor"( which is under process) which will enable this functionality for mobile users. I guess we can close this issue.

[2018-01-08 12:43] Nix07 opened #4423 "Audio seems to be broken while playing Three Balls Exploration"
**Steps to reproduce**
1.Go to Library and open Three Ball exploration.
2.Now turn on the audio and enter the first answer (6).
3.Then write some string in the explanation.
4.Go to next card, but before the audio is completed the return to the previous card.

**Observed Behaviour**
Although the audio is playing there is no yellow border. Further, the play button is displayed instead of the pause b

[2018-01-08 12:46] nithusha21 commented on #4418
Ok thanks for confirming @DubeySandeep. Closing for now

[2018-01-08 12:46] #4418 closed, assigned to nobody

[2018-01-08 12:50] Nix07 commented on #4423
I think this is not just limited to a particular exploration. This is a general issue. Navigating through an exploration before the audio is completed, seems problematic.

[2018-01-08 13:01] nithusha21 commented on #4423
Hi @Nix07 Thanks for reporting! Just to add a point to this. On coming back to the previous card there is no way to play an audio for the second message

[2018-01-08 13:04] aks681 commented on #4412
@seanlip, I'll take a look at this.

[2018-01-08 13:37] aks681 opened #4425 "Misaligned exploration overview"
Steps to reproduce:
1. Go to create exploration
2. Create a simple 2 card exploration (eg: Continue Button and End Exploration is enough)
3. Go to preview tab and play through the exploration from beginning to end

Observed:
When you come back to editor tab, the graph in exploration overview is now shifted to top-left side of the box.
![screenshot from 2018-01-08 19-06-26](https://user-images.gith

[2018-01-08 13:51] Nix07 opened #4426 "Allow pausing and starting auto-generated audio."
Presently, the audio contains only restart and pause options for auto-generated English. It would be much better if we can add the feature to pause and start.

[2018-01-08 13:51] Kunalgarg2100 commented on #4374
@vibhor98  I'd like to work on core.domain.email_subscription_services

[2018-01-08 14:01] vibhor98 commented on #4374
Hey @Kunalgarg2100 Have you followed the instructions given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)  and signed the CLA? Please tell me when you are ready. I'll assign it to you.

[2018-01-08 14:14] aks681 opened #4427 "Interactive Map interaction does not display previous answers"
Similar to #1270, Interactive Map interaction should also display previous answers when revisited.

[2018-01-08 14:15] aks681 commented on #4427
I myself will start on this as I had done a previous PR on #1270.

[2018-01-08 14:20] aks681 opened #4428 "Console error in Pencil Code Editor"
In the pencil code editor interaction, when an input with a syntax error is given by the learner, apart from giving the error message on screen (which is desirable), a console error is also displayed.
This won't affect the learner experience much, though.

[2018-01-08 15:30] Kunalgarg2100 commented on #4374
Yes, I have signed.

On Mon, Jan 8, 2018 at 7:31 PM, Vibhor Agarwal <notifications@github.com>
wrote:

[2018-01-08 15:39] apb7 opened #4429 "Flickering of text editor when tab key is pressed while entering multiple choice options"
Steps to reproduce(on the test server):
1. Create an exploration.
2. Add Multiple Choice Interaction and fill in at least 2 options.
3. Press the tab key while writing the option in the text box.

Expected behavior:
A tab space should be inserted before the option.

Observed behavior:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24826041/34678044-fb115774-f4b7-11e7-957a-d7fc

[2018-01-08 15:53] apb7 commented on #4429
Hello @DubeySandeep! Can you please check this once?
Thanks!

[2018-01-08 15:59] nithusha21 commented on #4429
Hi @apb7 thanks for reporting this. The behaviour of the tab key while editing these options is very wierd. I tried playing around with it a bit and confirm that this is an issue.

[2018-01-08 16:03] apb7 commented on #4429
@nithusha21: Also, backspace key fails to remove the spaces after the tab key has been pressed.

[2018-01-08 16:09] nithusha21 commented on #4429
Yes there are some other things which happen due to pressing the tab key, some of them include:
- write some text in 3 options, press the tab key while in one of them, the element in focus shifts to another option and the tab is applied to multiple components as well.
- similar behaviour when using shift + tab (deindent).
- If there are some options that are empty, the focus shifts to the first no

[2018-01-08 17:03] vibhor98 commented on #4374
Great @Kunalgarg2100. Welcome to Oppia! 😄  You can go ahead as I have assigned it to you.

[2018-01-08 17:09] Nix07 opened #4430 "Weird graph edge weight input"
**Steps to reproduce**
1. Go to the library and search for Graph Modeling.
2. Go to 4th card where you are asked to enter weights of the edges.
3. Add an edge and click on the weight.
4. The input widget will appear.

**Observed Behaviour**
We can't clear the first digit (leftmost) of edge weight. So, if I need 99, I'll have to increase the first digit to 9 by clicking the up arrow and then type 9

[2018-01-08 17:46] Nix07 opened #4431 "Audio tab is not available on my phone"
I don't know why but I'm not able to access the audio tab. It's not visible on my phone.

<img src="https://user-images.githubusercontent.com/22103406/34683232-6b25491c-f4c7-11e7-8f8b-f17456dbd877.png" width="400">

Operating system - Android 6.0.1; Redmi 3S build/MMB29M
Chrome version - Chrome 63.0.3239.111

[2018-01-08 17:51] Nix07 commented on #4431
Hi @nithusha21 Can you please recheck?

[2018-01-08 19:01] seanlip commented on #4423
This seems serious. @tjiang11 could you PTAL?

[2018-01-08 19:04] seanlip opened #4432 "Occasional protractor error related to refresher exp IDs"
We keep getting this protractor error intermittently on Travis. It's something to do with the redirection protractor tests. It needs to be fixed since it's causing delays in merging PRs...

[code]

[2018-01-08 19:05] #4415 closed, assigned to aks681

[2018-01-08 19:07] seanlip commented on #4421
Thanks for filing! No, I can confirm that this isn't expected behaviour (console errors are never expected).

[2018-01-08 19:12] seanlip opened #4433 "Multiple-choice buttons seem wrongly aligned when the choices are images"
Steps to reproduce:
1. Create a new exploration.
2. Add a multiple-choice interaction whose choices are images.
3. Preview the exploration.

Observed behaviour: the buttons on the left seem to be aligned to the bottom of their divs, which is a bit confusing:

![mcq-button](https://user-images.githubusercontent.com/10575562/34687812-b9d57126-f464-11e7-945d-5a41397643c3.png)

Expected behaviour: the

[2018-01-08 19:13] seanlip commented on #4433
(NB: Would be good to get this one into the release, I think.)

[2018-01-08 20:13] seanlip commented on #4425
Duplicate of #1105?

[2018-01-08 20:15] aks681 commented on #4425
Yes, it is, sorry about that, shall I close this, then?

[2018-01-08 20:26] seanlip commented on #4425
Yep, please do so. Thanks!

[2018-01-08 20:34] #4425 closed, assigned to nobody

[2018-01-08 21:12] aks681 commented on #4433
Ok, will take a look at this

[2018-01-08 21:17] aks681 commented on #4411
@seanlip, I saw the same behaviour for Code Editor and Logic Proof also. I think most of supplemental interactions might have this. Though, GraphInput worked just fine.

[2018-01-08 22:54] seanlip commented on #4431
@tjiang11 FYI

[2018-01-09 01:22] #1251 closed

[2018-01-09 01:22] #4412 closed, assigned to aks681

[2018-01-09 02:05] EvsChen opened #4437 "Invalid url for downloading AngualarJS when running start.sh"
- the expected behaviour: Successful downloading
- the observed behaviour: Socket connection error when downloading AngularJS

- steps to reproduce the problem: simply run `bash scripts/start.sh `
- which operating system and/or browser you're using, if relevant
Mac OS Sierra 10.12.6
Not relevant to browser
- (if possible) copies of the console/server logs
[code]

[2018-01-09 03:05] seanlip commented on #4423
Fixed in #4436. Thanks @tjiang11 !

[2018-01-09 03:05] #4423 closed, assigned to tjiang11

[2018-01-09 03:05] seanlip commented on #4431
@Nix07 @tjiang11 just to check, is this addressed by #4436?

[2018-01-09 03:13] Nix07 commented on #4431
No, I still don't have access to audio tab on my phone.

[2018-01-09 04:17] kevinlee12 commented on #4437
Hmm, we've had this url for a while now. It looks like the 404 url you are getting (when going to the url manually) may not be correct since the script goes to https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js to fetch the file rather than https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/ which results to a 404 error. When I did a fresh install of Oppia, I didn't get any issues

[2018-01-09 04:18] kevinlee12 commented on #1542
HI @Nix07, how's this issue coming along? Thanks!

[2018-01-09 04:20] kevinlee12 commented on #2575
Hi @vojtechjelinek, how's this coming along? thanks!

[2018-01-09 04:20] kevinlee12 commented on #3906
ping @brianrodri!

[2018-01-09 04:22] kevinlee12 commented on #3009
Hi @giritheja, how's this coming along?

[2018-01-09 04:24] nithusha21 commented on #4431
Hi @Nix07 can you confirm that only auto-audio is not accessible(try playing [this](https://oppiatestserver.appspot.com/explore/zoaFi4YH6e8b))
Not sure why. Will take a look

[2018-01-09 04:24] kevinlee12 commented on #4072
Hi @kartik-25, how's this coming along?

[2018-01-09 04:25] kevinlee12 commented on #4437
Perhaps it may help to try again in case there was an intermittent network error.

[2018-01-09 05:04] nithusha21 commented on #4431
Hi I did take a look at this. On phone, the audio codes for speech synthesis seems to be en_GB instead of en-GB (which is the check we have enforced). Shall I allow both language code styles for now?

[2018-01-09 05:07] EvsChen commented on #4437
@kevinlee12 Yes, you're right. [https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js](https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js) I can access this url. I'll remove this from the issue description.

I try to change the url in oppia/manifest.json to a more often-used cdn in China [https://cdn.bootcss.com/angular.js/1.5.8/](https://cdn.bootcss.com/angular.js/1.5.8/)

[2018-01-09 05:07] #4437 closed, assigned to nobody

[2018-01-09 05:16] seanlip commented on #4431
Wow, that's interesting -- and quite a surprising inconsistency. Thanks for finding that. Are these on Chrome for both desktop/mobile (and if so, what versions)?

Also, I defer to @tjiang11 on this; he should make the decision.

[2018-01-09 05:21] nithusha21 commented on #4431
Yes Chrome desktop has 'en-GB' and chrome mobile has 'en_GB'. I changed our speechSynthesisAvailable check to check for both and then it works perfectly on mobile chrome.

Chrome Desktop version - Version 63.0.3239.132 (Official Build) (64-bit) on Mac OS X
Chrome Mobile version - Version 63.0.3239.111 on Android 7.1.1

[2018-01-09 05:22] seanlip commented on #4431
Ah ok. What versions, though? Trying to understand whether this is a differing-versions issue, or a mobile-vs-desktop issue.

[2018-01-09 05:25] nithusha21 commented on #4431
Edited the above with version numbers. 😅

[2018-01-09 05:31] seanlip commented on #4431
Ah ok, yeah, it's desktop vs mobile. Weird!

And yes, let's go ahead and submit a PR to change this as you described. Please send it to @tjiang11 for review. Thanks!

[2018-01-09 05:35] seanlip opened #4438 "Invalidate exploration drafts if the schema version they were saved with is different from the latest schema version."
(This is a follow up from #4304 and suggests a longer-term fix.)

To reproduce:
1. Checkout the release-2.5.7 branch (or any reasonably old branch).
2. Start a dev server, and create a new exploration. Add some feedback. But don't save the draft.
3. Without shutting down the dev server, checkout the develop branch.
4. Go to localhost:8000 and flush memcache.
5. Refresh the editor page.

Observed:

[2018-01-09 05:41] seanlip opened #4439 "Images should behave correctly when dragged-and-dropped directly into the rich-text editor."
1. Create an exploration.
2. Open the content field and drag an image from the desktop into it.

Observed behaviour: The image looks like it's been successfully dragged into the RTE. However, when the exploration is saved, the image disappears and is unrecoverable.

Expected behaviour: _Either_ nothing happens on drag (the image doesn't end up in the RTE), _or_ the drop event causes the usual imag

[2018-01-09 05:41] nithusha21 commented on #4431
Sure will do. Thanks 👍

[2018-01-09 05:42] seanlip opened #4440 "Fix exploration validation check."
This is a follow-up to #4435 by @aks681, which was merged slightly prematurely in order to unblock Travis checks. The exploration validation check should be modified to disallow periods, since the only valid chars in exploration IDs are A-Za-z0-9 and -_

[2018-01-09 05:43] seanlip commented on #2533
I keep running into this; it's quite irritating. Updating it to an "important" bug.

[2018-01-09 06:11] anmolshkl commented on #4349
@seanlip sgtm!

[2018-01-09 06:40] nithusha21 commented on #4411
I'll take a look at this.

[2018-01-09 07:11] Nix07 commented on #1542
Thanks @kevinlee12 for reminding me. I thought this issue is fixed by one of my earlier PR. Will start working on it. Sorry for the delay.

[2018-01-09 08:12] WickedBrat commented on #4433
@seanlip Can I work on this?

[2018-01-09 09:19] DubeySandeep opened #4442 "Resize input in Image customization component is not aligned correctly."
**Steps to reproduce:**
- Create an exploration.
- Add an image (through Image customization component)
- Take a look at the resize percentage bar.

**Observed behavior:**
![screenshot from 2018-01-09 14 42 51](https://user-images.githubusercontent.com/16653571/34713368-0d9bbeea-f54c-11e7-8ac5-5f38737a5eed.png)

Note: This is only happening at 100%. Okay with 90% and below.

[2018-01-09 09:29] seanlip commented on #4433
I think @aks681 is already assigned to it. You could ask him if he's OK with you submitting a PR, but please note that it needs to be done urgently in order to make it in time for the upcoming release.

[2018-01-09 10:07] seanlip opened #4443 "Spurious warning in the FractionInput interaction"
To reproduce:
1. Create a new exploration.
2. Add a FractionInput interaction to the first state, and an EndExploration interaction to the second state. (You'll need at least two states for the exploration graph to show up.)
3. In the first state, add the following rules:
- Answer exactly matches 3/7
- Answer exactly matches 9/21.

Observed behaviour: You'll get a warning in the state graph that t

[2018-01-09 10:10] seanlip opened #4444 "Error in displaying rule summaries when the editor page is refreshed"
To reproduce:

1. Create a new exploration.
2. Add a FractionInput interaction to the first state, and an EndExploration interaction to the second state. (You'll need at least two states for the exploration graph to show up.)
3. In the first state, add the following rules:
    - Answer exactly matches 3/7
    - Answer exactly matches 9/21.
4. Refresh the page.

Observed behaviour: The rules in the

[2018-01-09 10:11] seanlip commented on #4444
@nithusha21 @Nix07 @DubeySandeep could one of you please take a look at this? Thanks!

[2018-01-09 10:19] nithusha21 commented on #4443
Hmmm I'll take a look at this. Just to see if I got the situation right... IsExactlyEqualTo should exactly match the dicts and not check simplifications? Also once fixed should I also write a karma test to guard against this?

[2018-01-09 10:21] nithusha21 commented on #4444
@seanlip I'll take a look at this after #4443 if thats ok, In the meantime if anyone else wants to take this up feel free to do so :)

[2018-01-09 10:22] seanlip commented on #4443
Yes and yes. Thanks!

[2018-01-09 10:41] aks681 commented on #4433
@WickedBrat, I am almost done with this actually, can you pick another issue? Thanks!

[2018-01-09 11:14] seanlip opened #4447 "Disable correctness feedback for linear interactions"
Steps to reproduce:
1. Create a new exploration.
2. Add a Continue interaction.
3. Turn on the Correctness Feedback option from the Settings tab.

Observed behaviour:

You'll see something like this. But calling this answer group correct/wrong doesn't make any sense, since there's only one thing that can be done, which is to click Continue.

![disable-corectness-fb](https://user-images.githubuserc

[2018-01-09 11:19] ishucr7 commented on #4447
Okay! I will look into it.

[2018-01-09 11:31] seanlip commented on #4443
Found another spurious warning. Try these two rules:
- has numerator equal to 12
- has denominator equal to 12

This gives an error. I think it's because there's a check of (-inf, +inf) to (-inf, +inf). The range containment checks should probably ignore stuff with inf in them.

[2018-01-09 11:37] seanlip opened #4448 "Correctness feedback blends into the main card"
Screenshot:

![correctness-feedback-joins-card](https://user-images.githubusercontent.com/10575562/34719111-42bce206-f4ee-11e7-8791-833da7f6ccbc.png)

(This is a longish card. When the correctness feedback appears, the white background blends with the white background of the main card. This is a UI problem because it's not clear to the user that there's more stuff that's hidden by the correctness

[2018-01-09 11:43] #4433 closed, assigned to aks681

[2018-01-09 12:53] Kunalgarg2100 commented on #3826
@seanlip  @DubeySandeep  I would like to work on SchemaDefaultValueService.

[2018-01-09 13:15] apb7 opened #4450 "Problem in "View Oppia in" dropdown"
* Steps to reproduce (on the test server):
1. Go to the bottom of the Library page and chose any language from the "View Oppia in" dropdown.
2. The page translates accordingly and the selected language is shown.
3. Now refresh the page. The selected language changes to English automatically but the page remains in the same language.
4. Try selecting "English" from the dropdown. The page does not t

[2018-01-09 13:16] apb7 commented on #4450
Hey @DubeySandeep and @nithusha21! Can you please confirm this issue? I think this issue exists only in case of "Hindi".
Thanks!

[2018-01-09 13:21] DubeySandeep commented on #3826
@Kunalgarg2100, You can start working on this. I've assigned you to SchemaDefaultValueService.

[2018-01-09 13:25] nithusha21 commented on #4450
Hi @apb7, thanks for reporting. I confirm that the issue does occur on the Library page as you mentioned and not the splash page (wierd!).

[2018-01-09 13:47] DubeySandeep commented on #4450
Hi @apb7, I too confirm this issue. Change the language and move to any other page(in my case 'About oppia') the default select option will get changed to English whereas the website use to be in Hindi. The weird part of the issue is it's happening only with "Hindi".

[2018-01-09 13:54] 96mohitm commented on #4410
Hi, @seanlip I would like work on this issue.

[2018-01-09 14:30] Nix07 opened #4452 "Error with fraction interaction in editor view"
**Steps to reproduce**
1.Log in as an admin, and go to /admin.
2.Reload all explorations
3.Go to editor page - /create/16
4.Navigate to fraction input (8th from last)

**Observed Behaviour**
Notice that the description of the first answer group under "Learner's Answers and Oppia's Responses" has [object Object] where the fraction should be.

![fraction](https://user-images.githubusercontent.com/22

[2018-01-09 14:31] Nix07 commented on #4452
Hi @seanlip it might be related to your previous commit. Please have a look.

[2018-01-09 14:36] nithusha21 commented on #4452
Yes I think It is related to the other issue. The correct filter is not applied for Fractions and hence it is displaying [Object .... ]. Just fixed this locally. Will test it and push.

[2018-01-09 16:48] nithusha21 opened #4455 "Rating element (the 5 stars) are hidden at the end of the exploration"
In the [Fractions demo exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE), the feedback element is hidden at the end and can't be scrolled down to.
![image](https://user-images.githubusercontent.com/11898234/34732183-7a7d682c-f58a-11e7-83da-c32390c5ca95.png)

Expected Behaviour: The page should scroll allowing you to submit feedback

[2018-01-09 16:59] pandeykartikey commented on #4072
@kevinlee12 Only writing test is left

[2018-01-09 17:06] ishucr7 commented on #4448
@seanlip
Do you want me to change the background color of the card for only this case(answer is correct) or in general ?
 OR --- a better option would be to have a little different background color of the correctness banner.
Let me know what you think!

[2018-01-09 17:37] DubeySandeep commented on #4452
Closing because of a duplicate issue (#4444).

[2018-01-09 17:37] #4452 closed, assigned to nobody

[2018-01-09 17:37] hundredrab commented on #4069
Hi I'm gonna try and work on this issue here if that's okay.

Edit: Well actually, I'm having a little issue reproducing the problem myself.
I've checked Chromium v63, Chrome v62 and Firefox 59.

[2018-01-09 18:24] kevinlee12 commented on #4072
thanks!

[2018-01-09 18:25] seanlip commented on #4448
Yes, change the correctness banner, not the card.

[2018-01-09 19:28] #4443 closed, assigned to nithusha21

[2018-01-09 19:28] seanlip commented on #4410
Sounds good, go for it!

[2018-01-09 19:33] seanlip commented on #4455
Thanks for reporting!  Is this on mobile/desktop? What browser/OS?

[2018-01-09 19:35] #4444 closed, assigned to nithusha21

[2018-01-09 19:37] DubeySandeep commented on #4069
Hi @hundredrab, you mean this issue isn't available anymore? or you need some more details on "steps to reproduce"?

[2018-01-09 19:40] hundredrab commented on #4069
I'm not sure. If the issue still exists, I need some more steps to reproduce, yes.

[2018-01-09 19:42] kevinlee12 commented on #4450
Hmm, this is an interesting bug, since I wasn't able to replicate this for any language in either Chrome or Firefox. It could be due to the default language setting doing something funny (my default language is English), which may also be the reason why I could not replicate this issue.

[2018-01-09 19:42] seanlip opened #4459 "Hide the "attribution guide" in the learner view on mobile."
In the learner view on small screens, there is an "attribution guide" at the bottom right. This is easy to click accidentally and opens up a new window, which is likely to disorient the learner. We should hide it on narrow screens.

[2018-01-09 19:44] seanlip opened #4460 "Correctness footer should hide when learner moves backwards from the last card"
Play an exploration with correctness feedback enabled, get an answer correct (so that the correctness footer shows up), and then immediately click the back button several times.

The correctness footer is still there. It should disappear because the current question shown is no longer the question that the learner's just gotten correct.

[2018-01-09 19:49] seanlip opened #4461 ""Learn again" button sometimes occurs when it shouldn't"
When playing this [test exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE), I found that the "learn again" button sometimes occurs when it shouldn't, which is confusing. It's hard to reproduce deterministically, but it seems to happen in the following two cases:

- When the user clicks the "continue" button to transition to a new card, the "Learn Again" button flashes briefly b

[2018-01-09 20:14] apb7 commented on #4450
Hello @kevinlee12! I also have the default language set to English. This issue is observed only when "Hindi" is chosen from the drop-down. Can this issue be due to the Chrome version?

[2018-01-09 20:32] ishucr7 commented on #4448
@seanlip  Is this fine ?
![footercolor](https://user-images.githubusercontent.com/23234392/34741887-374eae88-f5aa-11e7-990e-ccad67d98787.png)

[2018-01-09 20:54] seanlip commented on #4448
I think I'd suggest making the green background a bit lighter, for contrast
-- it just has to be a little bit different from the white background of
the tutor card. But otherwise, looks good!

[2018-01-09 21:14] seanlip commented on #4459
@tjiang11 mind taking a look at this?

[2018-01-09 23:15] #4448 closed, assigned to ishucr7

[2018-01-09 23:54] kevinlee12 commented on #4450
@apb7, could be the case, since I have Chrome v63

[2018-01-10 00:03] YimingPan commented on #3950
Hey there! I'd like to work on `footer_js_libs.html`.

[2018-01-10 00:47] DubeySandeep commented on #4069
@hundredrab, Thanks for reporting.
@seanlip & @rachelwchen, Do we really need any further modification?

**Current situation of notification indicator:**
_(without admin/moderate badge)_
![screenshot from 2018-01-10 06 14 08](https://user-images.githubusercontent.com/16653571/34750534-871260f4-f5cd-11e7-952e-3376e7a90c1b.png)
_(with admin/moderate badge)_
![screenshot from 2018-01-10 06 08 51](htt

[2018-01-10 01:10] seanlip commented on #4069
Those screenshots look fine to me!

[2018-01-10 01:28] #4460 closed, assigned to ishucr7

[2018-01-10 01:39] DubeySandeep opened #4465 "Hint tooltip shows up even after hint is used."
**Steps to reproduce:**
- Go to the 4th card of [Fraction exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE) and wait for 1 min.
- The hint button will appear, use the hint button and wait for another 2mins.

**Screenshot:**
![screenshot from 2018-01-10 07 03 40](https://user-images.githubusercontent.com/16653571/34751796-ad7a6ed8-f5d4-11e7-9582-96b5c6099b25.png)

[2018-01-10 01:41] DubeySandeep commented on #4069
Closing this issue as it doesn't persist anymore.

[2018-01-10 01:41] #4069 closed, assigned to nobody

[2018-01-10 03:51] nithusha21 commented on #4455
Its happening on Chrome Desktop version - Version 63.0.3239.132 (Official Build) (64-bit) on Mac OS X

[2018-01-10 04:02] vibhor98 opened #4466 "The status of audio translations is not updated on the bar at the right of audio button."
Repro steps:

Try to play audio translations for an exploration. See the audio button after clicking on it.
![screen shot 2018-01-10 at 9 22 51 am](https://user-images.githubusercontent.com/26625980/34755196-85902cc8-f5e8-11e7-9a94-ec4f0d027577.png)

**Expected:** The status of audio translations must be shown on the bar to show how much the audio file has been played.
**Observed:** No status is s

[2018-01-10 04:03] nithusha21 opened #4467 "Auto generated audio does not generate proper audio for fractions"
While playing along the fractions interaction on the test server with auto audio enabled, The generated audio for 3/7 says "three stroke seven". And in some places it skips the / all together. Maybe changing this to "three over seven" or "three by seven" (popular ways to speak out fractions) would be better.

[2018-01-10 04:07] nithusha21 opened #4468 "Correctness feedback (the correct *tick*) at the bottom of the page appears before the conversation response is given."
The correctness feedback after getting a question right comes slightly before the conversation thread says "you got it right!" or similar. Not sure if this is expected behavior though.

Could @ishucr7 confirm this. Thanks

[2018-01-10 04:51] seanlip commented on #4466
@tjiang11, PTAL?

[2018-01-10 04:52] #4447 closed, assigned to ishucr7

[2018-01-10 05:45] #4413 closed, assigned to ishucr7

[2018-01-10 05:49] giritheja commented on #3009
Hey @kevinlee12 , I am working on it. The first PR should come around Jan 14.

[2018-01-10 05:49] kevinlee12 commented on #3009
Sounds good, thanks!

[2018-01-10 05:57] seanlip commented on #4431
Is this fixed by #4431? Can it be closed?

[2018-01-10 06:01] seanlip commented on #4432
Fixed in #4435, thanks @aks681!

[2018-01-10 06:01] #4432 closed, assigned to aks681

[2018-01-10 06:04] seanlip commented on #4440
Fixed in #4445, thanks @aks681!

Btw @aks681, GitHub should be auto-closing this issue when the PR is merged. See https://github.com/blog/1506-closing-issues-via-pull-requests and https://help.github.com/articles/closing-issues-using-keywords/. Might be worth using "Fix ..." in your commit message as well; I'll try and add that to the guidelines at some point.

[2018-01-10 06:04] #4440 closed, assigned to aks681

[2018-01-10 06:05] seanlip commented on #4466
@vibhor98 are these for manual or autogenerated translations?

[2018-01-10 06:21] Kunalgarg2100 commented on #3826
@seanlip  @DubeySandeep @shubha1593  I am working on
schemaUndefinedLastElementService → SchemaUndefinedLastElementService. Can you assign me?
Can you also tell me the fileoverview message of new SchemaUndefinedLastElementService.js file?

[2018-01-10 06:43] seanlip opened #4470 "The ticks/crosses in the editor are misaligned."
The ticks/crosses in the response headers (when correctness feedback is enabled) seem to be a bit lower than where they should be. Their baseline/midline should, ideally, match that of the response heading.

![tick-cross-alignment](https://user-images.githubusercontent.com/10575562/34759016-6f0938a0-f58e-11e7-952c-eb5b32215e3a.png)

[2018-01-10 06:58] ishucr7 commented on #4468
@nithusha21 Can you post a screenshot ?, I think that would be helpful. Thanks!

[2018-01-10 07:00] seanlip commented on #4465
@DubeySandeep -- thank you for the very thorough testing, and for reporting this! It was an error on my part, and I'm very glad you found it. I've submitted a fix in #4471, PTAL.

Thanks!

[2018-01-10 07:08] seanlip opened #4472 "On mobile, ItemSelectionInput feedback isn't autoscrolled to correctly when it appears."
To reproduce:
1. Create a new exploration.
2. Add an ItemSelectionInput interaction with four choices; each choice should be a single image. The correct answer consists of both the first and third choices. Selecting the first choice alone leads to a feedback message saying "you can pick more than one, try again".
3. Play the exploration in "mobile mode" and select just the first choice. Do this re

[2018-01-10 07:20] seanlip opened #4474 "The solution header is badly formatted."
In the editor page, create a new exploration and add a FractionInput interaction. Add a hint, and then add the fraction 1/6 as a solution. The header will look like this:

![solution-header](https://user-images.githubusercontent.com/10575562/34760220-ad8e9f8e-f593-11e7-80bd-7852301631f0.png)

This isn't very readable. The header should show "The only solution is 1/6" instead.

[2018-01-10 07:21] seanlip commented on #4474
/cc @kevintab95

[2018-01-10 07:29] ishucr7 commented on #4468
Oh! Got it. This may be because there is no animation for the correctness banner as of now. There is a separate issue of enhancement of correctness banner.
@seanlip What do you think?

[2018-01-10 07:40] seanlip commented on #4468
I do think we should animate the correctness banner, yeah. It feels a bit odd currently IMO -- in that it just suddenly appears there.

[2018-01-10 07:49] nithusha21 commented on #4474
This issue is similar to the fraction filter I changed. Will take it up.

[2018-01-10 07:58] nithusha21 commented on #4468
Hi @ishucr7, I am sorry but I am unable to get a screenshot as it has to be timed between when the solution is shown in the conversation and the correctness feedback is shown which takes some skill 😅 . I hope you understood the situation based on your above comment. That seems to be the issue in my opinion too. Thanks :)

[2018-01-10 08:04] ishucr7 commented on #4468
Yep! No worries, I got your point. Thanks!

[2018-01-10 08:13] Kunalgarg2100 commented on #4417
@nithusha21  Can I take it up?

[2018-01-10 08:17] nithusha21 commented on #4417
Sure @Kunalgarg2100 go ahead!

[2018-01-10 08:35] vibhor98 commented on #4466
This issue is for manually generated translations when we click on the
audio button.

On Wed, Jan 10, 2018 at 11:35 AM, Sean Lip <notifications@github.com> wrote:

[2018-01-10 08:41] seanlip commented on #4466
Ah OK, thanks for clarifying. This is pretty important then, since the Hinglish translations are manually generated. @tjiang11 should probably take a look.

@vibhor98 please could you also give details of browser/version and OS? Thanks!

[2018-01-10 08:42] seanlip commented on #4466
(Also, mobile or desktop?)

[2018-01-10 08:53] vibhor98 commented on #4466
I have checked on macOS Sierra Version 10.12.6 and Google Chrome Version
63.0.3239.132. I have checked on desktop only and not on mobile device.

On Wed, Jan 10, 2018 at 2:11 PM, Sean Lip <notifications@github.com> wrote:

[2018-01-10 09:01] nithusha21 commented on #4450
I have v63 on mac @kevinlee12... Similar issue happened for me. Not sure why

[2018-01-10 09:41] #4470 closed, assigned to ishucr7

[2018-01-10 10:00] #4465 closed, assigned to seanlip

[2018-01-10 10:22] 96mohitm commented on #4410
Hi, @seanlip In the core/dev/head/pages/exploration_player/LearnerViewInfo.js when the exploration is not published the summaries is null and thus the error is showing up, so should I include a if else statement inside the .then as no data is coming up to show in the information card?

[2018-01-10 10:37] Nix07 opened #4477 "Weird blinking of audio tab in Firefox"
**Steps to reproduce**
1. Go to fractions exploration from library.
2. Play the audio of first card.

**Observed Behaviour**
The audio tab will blink for at least 4 times (in this card) for a very small amount of time. This happens with other explorations also which has some decent amount of content.

Operating system - Ubuntu 16.04
Browser - Firefox Quantum 57.0.3

[2018-01-10 11:16] aks681 commented on #4472
I'll take a look at this

[2018-01-10 12:56] jacobdavis11 opened #4480 "Hide the page selector in the history tab if there is only one page"
Currently there is a page selector shown in the history tab that looks like "First Previous 1 Next Last". It is shown even if there is only one page, which I think may be confusing to users as it looks like it provides a way to move between changes rather than between pages.

I suggest hiding this selector if there is only one page.

[2018-01-10 13:05] jacobdavis11 opened #4481 "The publication modal should provide a link to the learner view"
After publishing an exploration, I am invited to "share your creation" and given the option to share via Facebook, Twitter, embedding ect. However there isn't a simple url for the learner view that I could, for example, send in an email or use in class. And it might not be obvious to me how to construct, such a url, or even that such a thing exists.

We should include the learner view url prominen

[2018-01-10 15:33] apb7 commented on #3905
Hello @seanlip! I was working on the implementation of lint checks for having two lines above class definitions. I wanted to know if the linter should specifically check only for class defs and not function defs or it should check for both of them.
Thanks!

[2018-01-10 17:43] seanlip commented on #3905
Please check for two lines above both class and function defs, and one line above method defs. Thanks!

[2018-01-10 17:44] seanlip commented on #4480
@shubha1593, want to take this up?

[2018-01-10 17:59] seanlip commented on #4410
I don't know without actually seeing the code, sorry. Can you submit a PR that works, and that produces no console errors? I'll take the review from there. (It's easier to actually comment on this sort of thing when seeing the code.)

Thanks!

[2018-01-10 18:05] seanlip opened #4483 "Flaky protractor test for screenreader accessibility features"
This Protractor test keeps flaking, and is blocking PRs from going in:

[code]

[2018-01-10 18:09] vibhor98 commented on #4442
@DubeySandeep I have checked this issue on the test server but getting properly aligned resize input even on 100%. Please check.

[2018-01-10 18:20] #4474 closed, assigned to nithusha21

[2018-01-10 18:24] DubeySandeep commented on #4442
I can reproduce it on oppia's test server too.

_Google Chrome | 63.0.3239.108
Ubuntu 14.04_

[2018-01-10 19:05] DubeySandeep commented on #4483
@seanlip, `.oppia-skip-to-content` element is set to tabindex=0, and according to this [link](https://www.w3.org/TR/html401/interact/forms.html#tabbing-navigation) '0' comes after natural nos. indexing. can this be the reason? (not sure though)

[code]
Test:
[code]

[2018-01-10 19:26] vibhor98 commented on #4442
What can I do to reproduce it? Even my develop branch is up-to-date. Is
there any specific image size or just dependent on browser and OS version?
Thanks!

On Wed, Jan 10, 2018 at 11:54 PM, Sandeep Dubey <notifications@github.com>
wrote:

[2018-01-10 21:40] #4461 closed, assigned to aks681

[2018-01-10 23:20] vojtechjelinek commented on #2308
The focus should be on prefetch for images and audio in explorations. Also related to #3786

[2018-01-10 23:22] vojtechjelinek commented on #3988
Related to #2641

[2018-01-10 23:28] vojtechjelinek opened #4484 "Backend speed analysis and improvements."
We need to analyze pages/requests that take too long to load. Only focus (for now) on pages/requests that take > 1s to load, since Jinja takes around 1s to process stuff. Also, the most problems would probably be with the more dynamic pages like exploration player/editor so focus on these. The /libraryindexhandler is one of the problematic requests #3253.

[2018-01-11 00:18] jhobatista commented on #3950
hey @shubha1593, just assign me to `base.html`, please.

[2018-01-11 04:08] kevinlee12 commented on #4450
Hmm, we'll leave it on the issue tracker for now since it's not an isolated case.

[2018-01-11 04:24] BenHenning opened #4485 "[2.6.0] [iOS] Audio bar sometimes disappears, and is otherwise janky when scrolling"
Steps to repro:

1) Load an exploration on the test server using iOS in portrait mode (I chose fractions)
2) Slowly scroll to the bottom of the page
3) Before making it to the bottom, quickly scroll back up
4) Scroll all the way to the bottom, then slowly back to the top (continuously without letting the scrollbar fully stop)

Expected: the 'Audio' button should always remain underneath the navbar

[2018-01-11 04:25] jervis446 commented on #4374
Hey @vibhor98! If i am not wrong , `core.domain.collection_domain` is already Update docstrings and there is no class in line no:- 32.

[2018-01-11 04:27] BenHenning commented on #4485
Note that the second bug (the audio bar disappearing) also happens when it's expanded.

[2018-01-11 04:30] BenHenning opened #4486 "[2.6.0] [iOS] Expanded audio bar in exploration player needlessly cut off"
Repro:

1) Go to an exploration on iOS (portrait) with audio translations (e.g. fractions)
2) Expand the audio bar

Expected: the 'English (auto)' text should be fully visible in the drop-down menu
Actual: the language selection text is cut-off along with the drop-down

![img_5854](https://user-images.githubusercontent.com/12983742/34808648-1188627a-f645-11e7-8803-5ec5fc7159ee.PNG)

[2018-01-11 04:35] BenHenning opened #4487 "[2.6.0] [iOS] Easy to accidentally tap attribution guide with 'Continue' button on right side in exploration player"
Repro:

1) Open an exploration with a Continue button in it (e.g. Fractions) on iOS (portrait)
2) Scroll to the bottom of the card
3) Observe the Continue button

Expected: Tapping the Continue button shouldn't sometimes lead to accidentally tapping the Attribution Guide since that opens a new window

Actual: 'Continue' is now on the right side of the card making it easy to accidentally open the A

[2018-01-11 04:40] BenHenning opened #4488 "[2.6.0] [iOS] Touch target is too small for expanding the audio menu"
See picture for reference.

On mobile, touch targets needs to be sufficiently large in order to make them easily tappable for people who may have seeing impairments. Even without that, I've had issues expanding the audio menu without tapping the nearby space (usually I end up accidentally scrolling up or tapping on the navbar, returning me home and away from the exploration).

![img_5856](https://

[2018-01-11 04:40] jervis446 commented on #4442
@DubeySandeep even I have checked this issue on the test server but getting properly aligned resize input on 100%.

Google Chrome | 63.0.3239.132
Ubuntu 16.04
and
Google Chrome | 63.0.3239.132
Windows 10

[2018-01-11 04:42] BenHenning opened #4489 "[2.6.0] [iOS] Possible audio stability issues in exploration player"
Repro:

1) Open exploration on iOS (portrait) (I used Fractions)
2) Expand audio bar
3) Start playing audio
4) Navigate back and forth between cards

Expected: Audio should stop and start playing the new card's contents, even if navigating backward
Actual: A few times I noticed the Chrome tab crashing (2/4), other times I observed audio stopping altogether even though the pause button was showing,

[2018-01-11 04:43] apb7 commented on #4374
Hello @jervis446! Instead of going by the mentioned line numbers, run:
`pylint --disable=all --enable=missing-docstring <path/to/file>`
Thanks!

[2018-01-11 04:45] nithusha21 commented on #4485
This is surprising... By iOS I guess you mean Safari. Audio for Safari should have been completely blocked. Could you confirm that manual and auto-generated audio plays fine on Safari mobile.

We had specifically made a change blocking audio on Safari(tested on desktop) as it wasn't playing anything after hitting the play button.

[2018-01-11 04:45] nithusha21 commented on #4485
This is surprising... By iOS I guess you mean Safari. Audio for Safari should have been completely blocked. Could you confirm that manual and auto-generated audio plays fine on Safari mobile.

We had specifically made a change blocking audio on Safari as it wasn't playing anything after hitting the play button. But this was on desktop.

[2018-01-11 04:47] jervis446 commented on #4374
OK thanks @apb7

[2018-01-11 04:52] BenHenning opened #4491 "[2.6.0] [iOS] No suggested explorations after completing Fractions on test server"
Not sure if this if this is an import issue, but after completing the fractions lesson on the test server I didn't see any suggested explorations to complete afterwards. Was it because of the recommendations job not being run again after the fractions lesson was imported? Other explorations do show recommendations.

This reproed 2/2 times.

[2018-01-11 04:55] seanlip commented on #4491
Yep, this one isn't an issue. No continuous jobs are running on the test server at present. Thanks for reporting!

[2018-01-11 04:55] #4491 closed, assigned to nobody

[2018-01-11 04:55] BenHenning opened #4492 "[2.6.0] [iOS] Exploration summary card cut-off on collection viewer"
Repro:

1) On iOS (portrait mode) open the test collection on the testserver
2) Tap on the only exploration in the collection to bring up the summary card

Expected: the summary card should be centered (noticed this was the case on oppia.org for the fractions collection)

Actual: the summary card is shifted right and is cut off; attempts at scrolling hide the card

![img_5857](https://user-images.

[2018-01-11 04:56] BenHenning commented on #4492
Note this also repros in landscape

[2018-01-11 04:57] seanlip commented on #4487
Duplicate of #4459.

[2018-01-11 04:57] #4487 closed, assigned to nobody

[2018-01-11 04:58] seanlip commented on #4488
@BenHenning -- any guidance on how much larger? Slightly concerned about obscuring the card text when audio is not wanted, so not sure how big this should be.

Thanks!

[2018-01-11 04:59] BenHenning opened #4493 "[2.6.0] [iOS] Completing an exploration within a collection does not show proper 'Return to collection' ending"
Repro:

1) Open test collection on oppia test server
2) Click on the only node
3) Click on the summary card that appears to start the exploration
4) Finish the test exploration (it finishes on its own)

Expected: the test exploration should complete and there should be a 'return to collection' flow
Actual: 'Suggested Next' is shown with some recommended explorations

NB: I checked the URL and ther

[2018-01-11 05:03] BenHenning opened #4494 "[2.6.0] [Web] Finishing exploration in collection with no later explorations should not show unrelated explorations"
Repro:

1) Be signed out
2) Open https://oppiatestserver.appspot.com/collection/TkMhoPmSUH50
3) Click on the exploration & play it
4) Wait for exploration to complete

Expected: There should be no follow-up lessons suggested and there should be a link returning to the collection

Actual: Unrelated explorations are suggested (e.g. Test 12, Test 2, and sassa).

[2018-01-11 05:04] BenHenning commented on #4494
This behavior works correctly when logged in (the summary card is shown for the collection since it's the end, whereas logged out users just see a link 'Return to Collection')

[2018-01-11 05:06] BenHenning commented on #4493
This also happens when logged in on mobile.

[2018-01-11 05:06] BenHenning commented on #4493
Desktop experience is not consistent (see #4494).

[2018-01-11 05:08] BenHenning commented on #4488
I haven't tried using voice over yet, but standard practice is to ensure all touch targets on mobile have at least 48dp of room both vertically and horizontally for interaction (or more if the button is larger than that).

https://material.io/guidelines/usability/accessibility.html#accessibility-style for reference; Material has good suggestions for accessibility style restrictions.

[2018-01-11 05:34] seanlip commented on #4493
Note: this was supposed to have been fixed in #4130, might be worth taking a look at that to see why this behaviour results.

[2018-01-11 05:34] seanlip commented on #4494
Note: this was supposed to have been fixed in #4130, might be worth taking a look at that to see why this behaviour results.

[2018-01-11 05:49] seanlip commented on #4485
NB: perhaps related to #4301?

[2018-01-11 05:51] seanlip commented on #4488
NB: this should be thought about in conjunction with #4300. Perhaps the solution there might work, and might allow the audio tab being bigger at the outset.

That said, I think this is a little lower priority for the current release than the other [Blocking Bugs](https://github.com/oppia/oppia/milestone/39) issues. But we should still try to fix it if time permits.

[2018-01-11 07:23] aks681 commented on #4472
@seanlip, This might be an extension of the issue, but even in creator view once I chose answer is equal to option 1 and 3, the add response modal is also not scrollable. It was scrollable before I made the selection.

[2018-01-11 07:26] seanlip commented on #4472
Hm, interesting. Yeah, I don't know if it's related, but good find!

(If, later, you find that it isn't related, let's file a separate issue for it.)

[2018-01-11 07:26] aks681 commented on #4472
Ok

[2018-01-11 07:30] kevinlee12 opened #4496 "404 Page Text Cutoff"
When visiting `/indigo` the 404 page is cut off as seen below:

![image](https://user-images.githubusercontent.com/5758256/34813262-21566f26-f65e-11e7-9b94-9cab01e9b4ad.png)

## Browser Info:
- Firefox

Safari (iOS) and Chrome do not exhibit this behavior.

[2018-01-11 07:32] seanlip commented on #4496
Does this happen only in the scenario you describe, or generally when you visit any non-existent page?

[2018-01-11 07:33] kevinlee12 commented on #4496
~~Currently investigating.~~

[2018-01-11 07:33] kevinlee12 commented on #4496
It's a generalized issue

[2018-01-11 07:35] seanlip commented on #4496
OK, thanks for checking! In that case, please update the original issue's repro steps to be something like "visit /abc".

[2018-01-11 07:43] DubeySandeep opened #4497 "Audio on card without text fails."
**Step to reproduce:**
- Create an exploration with the 1st card without text.
- Go to preview mode.
- Play the audio.
- Check the console.
![screenshot from 2018-01-11 13 07 28](https://user-images.githubusercontent.com/16653571/34813701-fd7fb2ec-f6d0-11e7-8271-ab2b99aa43e0.png)
![screenshot from 2018-01-11 13 07 47](https://user-images.githubusercontent.com/16653571/34813702-fdde1210-f6d0-11e7-8

[2018-01-11 08:09] #4427 closed, assigned to aks681

[2018-01-11 08:48] DubeySandeep commented on #3950
Hi @jhonatanbds, Thanks for taking interest in this issue, have you signed the CLA (asked [here](
https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up))? Do let me know when it's done (or you have done already!) so that I can assign you!
Thanks! :)

[2018-01-11 08:48] DubeySandeep commented on #3950
Hi @YimingPan, you've been assigned to `footer_js_libs.html`.

[2018-01-11 08:56] DubeySandeep commented on #3950
@jhonatanbds, you've been assigned to `base.html`. :)

[2018-01-11 09:04] shubha1593 commented on #3950
@DubeySandeep, yup @jhonatanbds has signed the CLA.

[2018-01-11 09:07] #4480 closed, assigned to shubha1593

[2018-01-11 10:04] seanlip opened #4500 "Refresher explorations don't seem to be working in the test server."
To reproduce:
1. Go to https://oppiatestserver.appspot.com/explore/3wTBeOE_2Y4O?collection_id=giIwhTU3up5v
2. Play to the second card, and select "I can't remember!".

This should take the learner to a refresher exploration, but it doesn't. No modal pops up and there is no evidence that a refresher exploration exists.

[2018-01-11 10:22] seanlip commented on #4488
Here's another idea for a partial fix: perhaps we could make the Oppia logo a bit smaller on mobile so that its click-area doesn't take up so much space.

[2018-01-11 10:52] aks681 commented on #4500
I tried to go to the refresher exploration manually (https://oppiatestserver.appspot.com/explore/giIwhTU3up5v) but this resulted in a 404, that could be the reason.
Also, just saw, the refresher exploration id given is actually the collection id of that exploration?

[2018-01-11 10:57] seanlip commented on #4500
Oh yes, you're absolutely right! Sorry, this was my mistake. I've fixed it.

Thank you for the catch!

[2018-01-11 10:57] #4500 closed, assigned to aks681

[2018-01-11 10:57] aks681 commented on #4500
No problem! :)

[2018-01-11 11:21] aks681 opened #4501 "'Is integer' doesn't validate fractions equivalent to integers"
I am not sure if this is intentional but in Fractions Interaction, if the rule is set as 'is integer', inputs like 5/1 or 10/2 and so on are not considered correct.
Is this supposed to be the expected behaviour?

[2018-01-11 11:28] seanlip commented on #4501
Yes, I think so, but the naming is misleading. Thanks for catching that. @nithusha21 could we rename this to "has no fractional part" in rule_templates.json?

[2018-01-11 11:35] nithusha21 commented on #4501
Yes that is a better explanation.. will make that change

[2018-01-11 11:37] yashLadha commented on #4497
Can i work on it.

[2018-01-11 11:41] nithusha21 commented on #4497
Sure go ahead @yashLadha

[2018-01-11 11:42] yashLadha commented on #4497
Thanks but my one PR is still pending for approval. SO i wait till it is approved.

[2018-01-11 11:46] aks681 commented on #4409
@seanlip, this is extended to Music Notes interaction and Maps Interaction also, the notes can't be dragged and the map can't be scrolled or dragged in mobile view.

[2018-01-11 12:15] nithusha21 commented on #4497
Hi @yashLadha.. you can start working on this while the other gets reviewed.

[2018-01-11 12:18] aks681 opened #4502 "Bugs when embedding interactions"
Login as administrator and reload all_interactions exploration, then go to assets/scripts/embedding_tests_dev_0.0.1.min.html and change interaction ids to 16 (from 12) to play the above reloaded exploration in embed mode.

In browser go to http://localhost:8181/assets/scripts/embedding_tests_dev_0.0.1.min.html, here, in the 2nd div ('Standard embedding of the latest version'), at GraphInput intera

[2018-01-11 13:15] bching commented on #3950
Hello @shubha1593. I will take exploration_player/exploration_player.html

[2018-01-11 13:15] jacobdavis11 opened #4503 "Rich text components in hints are not shown properly in the editor"
Create an exploration with a hint in which the only contents is a rich text element (e.g. LaTeX or an image). Within the editor view, the hint entry will only be half the height it should be. This doesn't seem to happen for responses.

<img width="745" alt="screen shot 2018-01-11 at 14 14 37" src="https://user-images.githubusercontent.com/13726796/34827247-ce864d58-f6d9-11e7-9e21-4aecc66a319a.png"

[2018-01-11 13:25] jacobdavis11 opened #4504 "Hints don't seem to work any more"
Create an exploration question including hints (for example this one https://oppiatestserver.appspot.com/explore/WjtC3FBHp2zA#/gui/a). Even after entering a long series of wrong answers, it doesn't offer any hint to the learner.

[2018-01-11 13:48] jhonatanbds commented on #3950
@DubeySandeep yes.

[2018-01-11 13:59] hundredrab commented on #4442
I could reproduce this on my Firefox 59.0 only when the image size was 100% on a 490x226 image, and only at 60%-80% zoom (inclusive). Any zoom levels above or below and image sizes <100% on this particular dimension are working as expected.

I'll be working on this if that's okay.

[2018-01-11 19:09] #4501 closed, assigned to nobody

[2018-01-11 19:21] seanlip commented on #4504
Wait for 10 secs after entering at least two wrong answers. Does anything
happen? (We introduced a delay for hints recently.)

/cc @DubeySandeep to check if possible to repro

[2018-01-11 19:31] DubeySandeep commented on #4504
@seanlip, It's working well i.e, with two consecutive wrong answers hint button appears after a delay of 10sec.

[2018-01-11 20:01] aks681 commented on #4472
When in mobile mode in Chrome, DeviceInfoService.isMobileDevice() is returning false.
Also, when I replaced $anchorScroll(id) with $location.hash(id), it worked, shall I do this with provision for clearing hash when each new card is loaded?

[2018-01-11 20:04] seanlip commented on #4472
Good find -- I think we ought to fix the isMobileDevice() check.

If that doesn't fix the issue, then your second idea might be fine, as long as it's fully tested and confirmed to work.

[2018-01-11 20:05] seanlip commented on #4472
(It might be less robust though because it needs to work in editor preview mode etc. as well...)

[2018-01-11 20:27] tjiang11 commented on #4466
Hi @vibhor98 thanks for reporting. I'm unable to reproduce this. Can you make an exploration on the test server and post a link to it? Thanks.

[2018-01-11 22:06] tjiang11 commented on #4489
Just noting that I'm unable to reproduce this on:

OS: Android 7.0.0; SM-G930T Build/NRD90M
Browser: Chrome v63.0.3239.111

[2018-01-11 22:33] seanlip opened #4509 "Line spacing in bulleted lists seems to be different from line spacing in standard text"
Steps to reproduce:
1. Open any rich-text editor in the exploration editor and type some text, as well as some stuff in bulleted lists.

Expected behaviour: The line spacing for both types of text should be the same.

Observed behaviour: The line spacing is different, which makes the bulleted text look more cramped and harder to read.

![screenshot from 2018-01-11 14-30-35](https://user-images.git

[2018-01-11 22:52] jacobdavis11 commented on #4504
After several minutes of examination, I finally noticed the hint appearing in the footer. I feel like this location is too subtle as footers generally contain nothing of interest, and they are not the part of the page the user is going to be focused on. It's even underneath the Creative Commons attribution.

Thoughts?

[2018-01-11 22:58] seanlip commented on #4504
We're getting rid of the CC attr thing on mobile.

Re discoverability, I thought we had added a tooltip to say "click here for a hint". Does that not show up? (Also @DubeySandeep did you see it?)

[2018-01-11 23:00] seanlip opened #4511 "Fractions input should have placeholder text"
Here's what the fractions input field looks like, to a learner:

![screenshot from 2018-01-11 14-56-41](https://user-images.githubusercontent.com/10575562/34851692-0d8e0c6a-f6e0-11e7-8d89-d27b7fd94bfa.png)

There's no direction. We should add some placeholder text: "Enter a fraction in the form X/X or X X/X."

[2018-01-11 23:29] jacobdavis11 commented on #4504
No I didn't get a tooltip.

[2018-01-11 23:29] DubeySandeep commented on #4504
@seanlip, I think he's talking about Hints in desktop/laptop screen (as hint and attribution guide in desktop screen present in right bottom corner). For mobo devices, hint button and tooltip looks perfect but for desktop, if it's  really unnoticeable for new learners even with tooltip(as @jacobdavis11 is saying) we can add modal instead of tooltip for new learners after a delay of 2 minutes (like

[2018-01-11 23:35] DubeySandeep commented on #4504
@jacobdavis11, hint tooltip is made to appear after 2mins. (See [here](https://github.com/oppia/oppia/issues/4298#issuecomment-354625051) for more details). :)

[2018-01-11 23:43] seanlip commented on #4504
Ah that's a good point. @jacobdavis11 were you working on desktop or mobile?

[2018-01-11 23:44] seanlip commented on #4504
And yeah -- if it turns out that @jacobdavis11 is testing on desktop, I agree that we need to do more in terms of discoverability there. Let's file a separate issue for that once that's confirmed.

[2018-01-11 23:46] jacobdavis11 commented on #4504
I am on desktop.

I suggest deciding on a single time at which the user should be offered a hint, and then making the hint clearly visible (including a tooltip the first time this happens if the hint is otherwise not obvious). Otherwise is basically random whether they happen to notice the hint or not.

[2018-01-11 23:48] seanlip commented on #4504
Yep, that's actually the intended experience. Maybe we should leave the tooltip on for longer, too? But definitely makes sense to make it more noticeable.

One thing we could also do is to leave the tooltip on until they click the hint, rather than make the tooltip disappear after 10 sec (as it currently does). Since it only happens at most once during an exploration, I don't think it would be a b

[2018-01-11 23:52] jacobdavis11 commented on #4504
Yes that makes sense. Show the tooltip at the same time as the first hint, and leave it until it's clicked.

[2018-01-12 00:00] seanlip opened #4512 "Persist the hint tooltip until the corresponding hint is opened (or the learner solves the card successfully)."
See discussion in #4504.

The hints are hard to discover (especially on desktop), especially since the tooltip disappears after 10 seconds. Let's instead leave the tooltip on until they click the hint (or the learner moves to a different card or solves the card successfully).

Let's also reduce WAIT_FOR_TOOLTIP_TO_BE_SHOWN_MSEC to 60000.

/cc @jacobdavis11 @DubeySandeep

[2018-01-12 00:00] seanlip commented on #4504
Refiled as #4512. Thanks @jacobdavis11!

[2018-01-12 00:00] #4504 closed, assigned to nobody

[2018-01-12 00:00] seanlip commented on #4512
Relevant file: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/HintsAndSolutionManagerService.js

[2018-01-12 00:03] DubeySandeep commented on #4504
Yeah, that sounds a good idea. but for 'at the same time as the first hint' it's like we are provoking learners to use the hint.

[2018-01-12 00:03] seanlip commented on #4504
Oh, I changed that in #4512 (forgot to mention, sorry). I suggested reducing the tooltip timeout to 60 sec instead.

[2018-01-12 04:36] #4512 closed, assigned to DubeySandeep

[2018-01-12 05:14] #4459 closed, assigned to DubeySandeep

[2018-01-12 05:47] aks681 commented on #4472
When I actually opened the site on my phone, isMobileDevice() returned true, but when chrome is emulating a mobile on the desktop, it doesn't work, so is that fine?

[2018-01-12 05:57] kevinlee12 commented on #4472
@aks681, what happens if you initiate a device screen rotate on the emulator?

[2018-01-12 05:57] kevinlee12 commented on #4472
actually, it looks like it's being [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/Window/orientation), so you may need to find another solution

[2018-01-12 05:59] kevinlee12 commented on #4472
(sorry for the spam) try this one: https://stackoverflow.com/a/11381730

[2018-01-12 06:01] aks681 commented on #4472
Ok, thanks. @kevinlee12
Also, even after I rotated screen on emulator, it didn't work

[2018-01-12 06:02] kevinlee12 commented on #4472
Sounds like Chrome may be deprecated it, you may need to change the logic for detecting mobile devices then.

[2018-01-12 06:05] aks681 commented on #4472
The first answer in https://stackoverflow.com/a/11381730 worked with emulator also. Thanks! @kevinlee12

[2018-01-12 06:39] kevinlee12 commented on #4511
Completed in https://github.com/oppia/oppia/pull/4514/commits/2181820ec0fd5dc47bb6ca9a3a6c70d06e094a21

[2018-01-12 06:39] #4511 closed, assigned to kevinlee12

[2018-01-12 07:05] Kunalgarg2100 commented on #3950
@shubha1593  can you assign me header_css_libs.html, header_js_libs.html?

[2018-01-12 07:09] kevinlee12 commented on #3950
@Kunalgarg2100, did you sign the CLA?

[2018-01-12 07:12] shubha1593 commented on #3950
@Kunalgarg2100 assigned you.
@kevinlee12 yup, signed.

[2018-01-12 08:28] WickedBrat opened #4516 "Updating ReadMe and Wiki for proxy servers."
The dependencies in the Oppia project needs to be installed from a non-proxy server. Dependencies like "jquery-ui-themes" give "error 403". The readme must mention this for new contributors.

[2018-01-12 08:49] Nix07 opened #4517 "Latex is not displayed correctly in Interaction Card"
**Steps to reproduce**
1. Create an exploration.
2. Add multiple choice input.
3. In each option, try entering a polynomial.

**Observed Behaviour**
The polynomial is not displayed, instead, it just shows x^2 for every polynomial in the interaction card.

![math2](https://user-images.githubusercontent.com/22103406/34866692-66e089aa-f7a3-11e7-88a4-ae658d0e5c08.png)

[2018-01-12 09:32] DubeySandeep commented on #4516
Hi @WickedBrat, usually we don't have such issues with installation still if you find this important for new contributors then we can add this to the troubleshooting section. Do let me know the changes you made to solve it?
Thanks!

[2018-01-12 09:41] WickedBrat commented on #4516
Thanks @DubeySandeep, I just used my mobile's internet connection. So using any non-proxy internet connection would do the job. I noticed that the error occurred to some of my fellow developers so I think It'll be good keeping it in the  troubleshooting section.

[2018-01-12 10:16] DubeySandeep commented on #4516
Can you just add some more details, like how one can recognize that they a facing similar issue?
Also, closing this issue.

[2018-01-12 10:16] #4516 closed

[2018-01-12 10:18] DubeySandeep commented on #4517
Hi @Nix07, I guess that's how we get in editing mode. Can you please add "Expected behavior"? Thanks! :)

[2018-01-12 10:22] Nix07 commented on #4517
Hi @DubeySandeep Look at the background of the image. I think, the same polynomials should also be displayed in the editor.

[2018-01-12 10:22] DubeySandeep commented on #4497
@yashLadha, Adding [ref.](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change)

[2018-01-12 10:47] DubeySandeep commented on #4517
@Nix07, The third group of RTE toolbars doesn't show up in edit mode(except image).
Image:
![screenshot from 2018-01-12 16 14 02](https://user-images.githubusercontent.com/16653571/34871490-da4e83e6-f7b3-11e7-861a-4efd726d6d49.png)
Also, it would be great too if it'll be visible in edit mode.
/cc @seanlip

[2018-01-12 14:55] vojtechjelinek opened #4519 "Remove gulpfile.js."
We should get rid of gulpfile.js and move the minifying, source maps generating and server staring to separate python file. This will solve the issues explained here #2324, but in another way than suggested there.

Also, enable URL interpolation in CSS files.

[2018-01-12 14:56] vojtechjelinek commented on #2324
Closing in favor of #4519.

[2018-01-12 14:56] #2324 closed

[2018-01-12 15:25] WickedBrat commented on #4516
![screenshot from 2018-01-10 17-47-52](https://user-images.githubusercontent.com/20617436/34881883-cdc4da04-f7da-11e7-82e9-3394a14a6650.png)
This is the general error code we get.

[2018-01-12 16:09] vibhor98 commented on #4466
Sorry for being late. Actually there is problem with my Internet
connectivity. You can check with fractions exploration as well. See the
audio status bar when you click on audio button. There is no update on the
bar. Please check!

[2018-01-12 16:19] WickedBrat opened #4521 "Option to record now for adding audio translation"
![screenshot from 2018-01-12 21-42-46](https://user-images.githubusercontent.com/20617436/34884151-ddef81a2-f7e1-11e7-96b3-4e4c7d37c5aa.png)
Currently the page as shown above doesn't have an option like "Record Now". I think it'll be better if we provide this option as not all the users would be comfortable in recording an audio and uploading a mp3 file.
This enhancement would make the adding audi

[2018-01-12 18:32] BenHenning commented on #4485
This was using Chrome on iOS, not Safari.

[2018-01-12 18:37] BenHenning commented on #4485
I used v63.3239.73 assuming Chrome didn't update in the last 2 days.

[2018-01-12 19:19] aks681 commented on #4468
I'll take a look at this.

[2018-01-12 20:09] BenHenning commented on #4494
https://github.com/oppia/oppia/issues/4076#issuecomment-348365348 provides better context on this. It's not clear yet why we couldn't repro the issue back in November but could repro it this week. I'm going to see if it still repros.

[2018-01-12 20:11] BenHenning commented on #4494
Confirming this is still happening for me on oppiatestserver. Checking whether this repros directly on the release branch for a local build.

[2018-01-13 00:15] BenHenning commented on #4494
I'm able to repro this locally using the release branch. I think it may be related to having recommendations, and it must be reproed on a phone (cannot be reproed on web).

[2018-01-13 00:21] BenHenning commented on #4494
Without recommendations on develop, this results in nothing showing at the end of exploration.

[2018-01-13 00:23] BenHenning commented on #4494
Confirming on develop with recommendations, the bug repros.

[2018-01-13 00:25] BenHenning commented on #4494
So it seems as though the 'Play Exploration' card that shows up on mobile is redirecting the user to an exploration URL which does not contain the collection ID.

[2018-01-13 00:34] BenHenning commented on #4494
This currently seems to be reproing on web when simulating a mobile screen using Chrome's dev tools.

[2018-01-13 02:54] BenHenning commented on #4494
It seems this may have been introduced in #2780. The original code for showing the exploration summary tile in ``collection_player.html`` passes along the ``collectionId`` using ``getCollectionId`` on mobile, but ``getCollectionId`` doesn't exist and never seemed to have existed within the scope of ``CollectionPlayer.js`` and context of ``collection_player.html``. The fix should be a simple patch

[2018-01-13 02:59] BenHenning commented on #4494
Unfortunately, it's not clear how we might prevent regressions of this in the future. This is almost a unfortunate side effect of JavaScript treating undefined as a false value. We can't introduce any unit tests which include HTML files, and it's not clear whether we can create protractor tests for mobile views specifically.

Ideally, this would be resolved with #2991 or other e2e mobile testing w

[2018-01-13 03:14] vishnu-m commented on #3826
@seanlip  Is `app.js` already taken? If not,can you assign me?

[2018-01-13 03:22] tjiang11 commented on #4466
Hi @vibhor98 , I'm a little confused. You say that this is for manually generated audio translations. However, for the fractions lessons, there are no manually generated audio translations. Do you mean autogenerated audio?

[2018-01-13 03:22] BenHenning commented on #4494
Ah oops, all of this context was actually meant for #4493.

[2018-01-13 03:22] BenHenning commented on #4493
Context for this bug is actually in #4494 (was placed in the wrong pace).

[2018-01-13 03:30] BenHenning commented on #4494
#4130 did not actually fix this since it didn't cover the end collection case for logged out users (regardless of where their progress was). One way of addressing this would be to update that end flow to always show the return collection summary tile if you complete the final exploration of the collection, unless you have some progress as a guest.

[2018-01-13 03:43] 1995YogeshSharma commented on #3826
@Vishnu-M  assigned you.

[2018-01-13 03:54] kevinlee12 commented on #4493
Completed in https://github.com/oppia/oppia/pull/4524/commits/796548fa7def30eba8510ad01027053ecb350eae

[2018-01-13 03:54] #4493 closed, assigned to BenHenning

[2018-01-13 04:05] vibhor98 commented on #4466
I'm sorry. Yes, I meant for autogenerated audio only. Actually we have to
click on audio button for audio and that's why I thought it is manually
generated.

On Sat, Jan 13, 2018 at 8:52 AM, Tony Jiang <notifications@github.com>
wrote:

[2018-01-13 04:51] vishnu-m commented on #3826
Thank You @1995YogeshSharma

[2018-01-13 08:05] WickedBrat commented on #4503
Hi @kevintab95 Can I start to work on this?

[2018-01-13 08:07] nithusha21 commented on #4503
Hi @wickedBrat sure. Just one thing though. This is a blocking bug and has to be completed before 15th. If you still want to try this go ahead!

[2018-01-13 08:11] WickedBrat commented on #4503
Thanks @nithusha21 ,  I'll try my best to get it completed!

[2018-01-13 08:27] WickedBrat commented on #4503
![screenshot from 2018-01-13 13-56-05](https://user-images.githubusercontent.com/20617436/34904324-9a1f811a-f869-11e7-8e14-de0dd832de4b.png)
The hints are showing well on my PC, I'm confused here

[2018-01-13 08:44] nithusha21 commented on #4503
Try adding a latex expression(math equation) in the RTE as stated in the above. Let me know if that also works fine.

[2018-01-13 09:53] WickedBrat commented on #4503
![screenshot from 2018-01-13 15-22-01](https://user-images.githubusercontent.com/20617436/34904949-940ddf7c-f875-11e7-9d84-fe3e25c6622f.png)
![screenshot from 2018-01-13 15-21-56](https://user-images.githubusercontent.com/20617436/34904950-99f7a292-f875-11e7-8021-1ecbc5ec8c25.png)
These are the screenshots. It works fine for me.

[2018-01-13 10:25] WickedBrat commented on #4496
![screenshot from 2018-01-13 15-54-42](https://user-images.githubusercontent.com/20617436/34905217-324f883a-f87a-11e7-9c94-c5d886b548b8.png)
Works fine on my firefox

[2018-01-13 10:44] jacobdavis11 commented on #4503
Try a hint that *only* contains a rich text element. In your example the hint also contains the regular text "text 3".

[2018-01-13 12:02] nithusha21 commented on #4509
Hi so what would you suggest? To reduce line spacing in the actual paragraph or increase it in the bullet points? I think the former is better.

[2018-01-13 12:29] WickedBrat commented on #4503
Latex objects are not shown in the bar. On it

[2018-01-13 14:18] nithusha21 commented on #4466
Hi @vibhor98 this is expected behavior for auto-generated audio. Could you confirm that for manual audio in the test server(maybe [this](https://oppiatestserver.appspot.com/explore/zoaFi4YH6e8b)) and confirm that the progress is updated. If so we can close this issue. Thanks

[2018-01-13 14:44] vibhor98 commented on #4466
Ok it means there is no status updation for autogenerated audio. And yes,
it's working fine on manually generated audio. But an option to manually
set audio on the bar from where to start will be beneficial. Thanks!

On Sat, Jan 13, 2018 at 7:49 PM, Nithesh N. Hariharan <
notifications@github.com> wrote:

[2018-01-13 14:49] nithusha21 commented on #4466
Oh ok. That is an already open issue at #4295. So closing for now

[2018-01-13 14:50] #4466 closed, assigned to tjiang11

[2018-01-13 15:13] DubeySandeep commented on #4496
@WickedBrat, try zooming in upto 100% or more.

[2018-01-13 19:40] kevinlee12 commented on #4496
This was actually fixed in PR #4498, apparently it didn't automatically close this issue. Will close.

[2018-01-13 19:40] #4496 closed, assigned to kevinlee12

[2018-01-13 21:13] DubeySandeep commented on #4431
Closing this as it is resolved in #4462.

[2018-01-13 21:13] #4431 closed, assigned to tjiang11, nithusha21

[2018-01-13 22:26] tjiang11 opened #4528 "Intelligently default language selection when uploading new audio translation in creator view"
Right now, it seems that when uploading a new audio translation, the default selection is always English. It would be useful if it were defaulted to whatever is most likely so that someone uploading a bunch of audio translations in a non-English language has a more streamlined experience. Perhaps the most recently uploaded audio translation's language is a good option.

[2018-01-13 22:55] tjiang11 commented on #4521
We've actually discussed adding in this feature before. For now, it seems sufficient to simply let users record their own audio and upload them to the site. Will keep this in the issue tracker though. Thanks @WickedBrat !

[2018-01-13 23:21] tjiang11 opened #4529 "Cut-off at bottom of end of exploration on mobile device"
When I play until the end of the first fractions exploration and scroll to the bottom, I get this:

![image](https://user-images.githubusercontent.com/11807091/34910980-eb2b9ed8-f885-11e7-9c17-268e0b1f2343.png)

And I can't scroll down any further, preventing me from seeing the next lesson's card.

Specs
Chrome 63.0.3239.111
Android 7.0.0; SM-G930T Build/NRDM90M

[2018-01-14 03:27] kevinlee12 commented on #4492
Hi @BenHenning, can you provide some details on device info? (I wasn't able to recreate it in my iphone on Chrome, Safari, or Firefox).

[2018-01-14 05:56] DubeySandeep commented on #4529
@tjiang11, I think we have one similar issue #4455.

[2018-01-14 06:29] DubeySandeep commented on #4492
Also, I think this has been resolved in #4185, which have been pushed to test server. Can you just test this on test server through your device?

[2018-01-14 06:33] kevinlee12 commented on #4492
Works on my iOS device, the fact that this was created after the merge back in December is why I hesitated to close it. However, if the test server version didn't include that PR, then I'm happy to close this.

[2018-01-14 06:56] kevinlee12 commented on #4492
or if another person can confirm that the bug no longer exists

[2018-01-14 08:54] #4468 closed, assigned to aks681

[2018-01-14 11:04] DubeySandeep commented on #4503
@WickedBrat, How is it going?

[2018-01-14 11:35] EvsChen commented on #3950
@shubha1593 Would like to work on state_editor_responses.html. Thanks!

[2018-01-14 11:37] DubeySandeep commented on #3950
Hi @EvsChen, I've assigned you to `state_editor_responses.html`. You can start working on it. Thanks! :)

[2018-01-14 11:41] DubeySandeep commented on #4488
Hi @BenHenning, will it be okay to make audio-expand button movable with the nav bar till it's not expanded? this way we can increase the button size (a little) and also solve many issues #4300, #4301, #4485.

[2018-01-14 12:05] WickedBrat commented on #4503
@DubeySandeep I identified the problem and am working on it. Could complete it by midnight or so.

[2018-01-14 17:05] brianrodri commented on #3906
Hey sorry for late response, I plan on closing this once I add the link for the "resolve now" onto the tables!

[2018-01-14 18:54] Kunalgarg2100 commented on #3826
@shubha1593  I have already completed schemaUndefinedLastElementService via https://github.com/oppia/oppia/pull/4476 and schemaDefaultValueService via https://github.com/oppia/oppia/pull/4457.  So please update the issue. Thanks!

[2018-01-14 20:15] WickedBrat commented on #4503
@DubeySandeep I'm afraid I couldn't solve the issue :( I give up as the time is limited, so anyone else could solve it.

[2018-01-14 20:20] WickedBrat opened #4530 "Detect additional spaces and next lines"
Steps to reproduce: Add an option to the list and press multiple return keys and save. The added new lines have no significance in the option.
Expected Behavior: The new added lines should be discarded and hence not saved because they have no relevance.
Actual Behavior: The lines get saved and increase the length of the option which has no meaning.
![screenshot from 2018-01-15 01-46-49](https://us

[2018-01-14 21:36] darthgera123 commented on #3954
@seanlip can you help me understand what was wrong exactly with #4058, so that i can make the changes as more or less all the bases were covered by the pr

[2018-01-15 06:02] tjiang11 commented on #4529
@DubeySandeep Ah thanks for pointing that out!

[2018-01-15 06:02] #4529 closed, assigned to nobody

[2018-01-15 06:40] kevinlee12 opened #4531 "Migrate openjdk to v8"
Since OpenJDK 7 is no longer in Ubuntu repos, we should begin migrating to OpenJDK 8, to minimize the headache for new devs. As mentioned in this [blog post](https://cloudplatform.googleblog.com/2017/06/Google-App-Engine-standard-now-supports-Java-8.html) GAE does support OpenJDK 8.

[2018-01-15 07:05] tjiang11 opened #4532 "Progress saving in collections not working on mobile"
I think it seems that progress saving within a collection only occurs on my desktop device.

When I complete an exploration on mobile, my progress within the collection is not updated.

To reproduce:
1. On a mobile device, go to the fractions collection. https://oppiatestserver.appspot.com/collection/giIwhTU3up5v
2. Play the currently highlighted-in-orange exploration
3. Upon completing the explor

[2018-01-15 07:24] Kunalgarg2100 opened #4533 "Multiple Choice interaction options editor lengthens when typing long text."
**Steps to reproduce**
1. Create a new exploration
2. After entering topic, click on add an interaction and choose interaction type as Multiple Choice.
3. In option enter a text which doesn't contain any spaces.

**Observed behavior**
The editor window will start expanding by itself.

**Expected behavior**
The text should automatically move to next line.
![screenshot from 2018-01-15 11-09-20](http

[2018-01-15 11:02] WickedBrat commented on #4521
:+1:

[2018-01-15 11:07] WickedBrat opened #4534 "530 error is not shown when unauthenticated user accesses an page that requires login"
Steps to reproduce: Restart the server and try to open any authorised link without logging in, or maybe refreshing the page.

Expected Behaviour: The page should show error 530 Not logged in.
Actual Behaviour. The page redirects to a page with error 404 Page not found.

This could be misleading both for the developer and user.
![screenshot from 2018-01-15 00-11-50](https://user-images.githubuserco

[2018-01-15 11:08] WickedBrat commented on #4509
Shall I work on this?

[2018-01-15 13:08] aks681 commented on #4503
I'll take a look at this.

[2018-01-15 16:32] nithusha21 commented on #4492
Hi I had tried this on the test server using chrome dev tools at a very small width(don't physically have an iOS device). It seemed to be centered on the screen both in landscape and portrait. Unable to repro this issue. Thanks.

[2018-01-15 17:54] Kunalgarg2100 opened #4537 "Admin Pages don't get loaded properly on pressing back button on browser"
**Steps to reproduce the problem**
1. Sign in as administrator
2. Open admin panel and navigate to jobs, then config and then roles using the buttons on frontend, the pages will get loaded properly.
3. Now try to go back using the back button of the browser, if you ended on roles, then the pressing back on the window should take you back to config window, but it the page doesn't get reloaded.

**E

[2018-01-15 17:58] tjiang11 opened #4538 "Card in third fractions lesson should include response for missing units."
![image](https://user-images.githubusercontent.com/11807091/34955720-525e5a12-f9eb-11e7-80d0-a5670c182ee5.png)

[2018-01-15 18:00] tjiang11 opened #4539 "Some responses have random whitespace under them."
Some responses have random whitespace under them. This makes it a little aesthetically odd. Occurs on both mobile and desktop.

![image](https://user-images.githubusercontent.com/11807091/34955783-978c30b4-f9eb-11e7-8c44-8fddfd38a911.png)
![image](https://user-images.githubusercontent.com/11807091/34955787-9ae95f52-f9eb-11e7-887a-2972b3785bb9.png)

[2018-01-15 18:05] DubeySandeep commented on #4539
Adding more image.
![screenshot from 2018-01-15 17 10 35](https://user-images.githubusercontent.com/16653571/34955888-865ebce2-fa4c-11e7-87d1-94896248f5db.png)

This was mostly in 4th exploration.

[2018-01-15 18:20] Kunalgarg2100 commented on #4417
@nithusha21  I tried but I not able to reproduce the error.

[2018-01-15 18:36] DubeySandeep commented on #4485
Closing this as it is resolved in #4515.

[2018-01-15 18:36] #4485 closed, assigned to kevinlee12

[2018-01-15 19:00] DubeySandeep commented on #4301
Closing this as it is resolved in #4515.

[2018-01-15 19:00] #4301 closed, assigned to kevinlee12

[2018-01-15 21:37] #4455 closed, assigned to nobody

[2018-01-15 23:33] kevinlee12 commented on #4492
Thanks @nithusha21!

I'll close this issue, please reopen if this comes up again.

[2018-01-15 23:33] #4492 closed, assigned to kevinlee12

[2018-01-16 01:55] kevinlee12 commented on #4489
I was able to reproduce on iOS Safari (the browser actually killed it on its own). When I first tried to reproduce this issue, there were none, it was on subsequent tries that this issue comes up.

[2018-01-16 01:57] DubeySandeep opened #4542 "Card name and warning message collapse in graph view."
In graph view, warning message and tooltip for card state name both fall in the same position, that way it's hard to read the warnings.
Screenshot:
![screenshot from 2018-01-15 20 56 19](https://user-images.githubusercontent.com/16653571/34949750-082b7e9c-fa37-11e7-9a82-e373909b1ec5.png)

[2018-01-16 08:32] WickedBrat commented on #4534
@seanlip Can I start to work on this?

[2018-01-16 09:03] seanlip commented on #4509
I think we should increase it in the bullet points (or, alternatively, increase it slightly in the bullet points and decrease it slightly in the paragraphs so that they're the same overall).

[2018-01-16 12:19] Kunalgarg2100 commented on #4417
@nithusha21  I tried but I not able to reproduce the error.

[2018-01-16 12:44] Kunalgarg2100 commented on #3826
@shubha1593  please update the issue as all the services from components/forms/FormBuilder.js have been extracted. Thanks!

[2018-01-16 15:14] DubeySandeep commented on #3826
@Kunalgarg2100, Thanks for the update! :)

[2018-01-16 17:44] apb7 commented on #3905
Hello @seanlip and @DubeySandeep! For spurious console.log() statements,  should `.eslintrc` produce an error only for `console.log()` and allow `console.warn()` and `console.error()` statements?
Thanks!

[2018-01-16 18:11] DubeySandeep commented on #3905
Hi @apb7, I'm looking into the ESLinter for the JS part of this issue. I've created a [doc](https://docs.google.com/document/d/12WhFCV9NSdBTO3hCkXlDgOMsxSbYUZYjhPUOe1YCrUo/edit?usp=sharing) (basically updated the doc linked above) which I think I'll discuss with @seanlip for verification and also write some custom rules for eslint. I think we have to update ESLint to 4.x version. So I guess we can

[2018-01-16 18:18] apb7 commented on #3905
Okay! Thanks, @DubeySandeep! I tried out a few rules: `semi`, `eqeqeq` and `no-console`. They seem to work for the current version of ESLint we use. Also, can you please provide permission to access the above doc, if possible?
Thanks!

[2018-01-16 18:55] apb7 commented on #3905
@DubeySandeep: For `console.log()`, we can directly use `no-console` rule as stated in @seanlip's note above. We only need to add one rule in .eslintrc for this.

[2018-01-16 19:35] WickedBrat commented on #4542
@DubeySandeep kindly review

[2018-01-17 01:23] BenHenning commented on #4532
Isn't this a dup of #4493?

[2018-01-17 03:07] tjiang11 commented on #4532
Yeah, closing

[2018-01-17 03:07] #4532 closed, assigned to nobody

[2018-01-17 03:11] tjiang11 opened #4545 "Header can become hidden while playing exploration on mobile"
To reproduce:

1. On a mobile device, play the second fractions lesson https://oppiatestserver.appspot.com/explore/3wTBeOE_2Y4O?collection_id=giIwhTU3up5v. Play until you reach the card that asks "In the fraction 5/6, what name is given to the '5'?" Don't put an answer.
2. Navigate to the previous card.
3. Scroll downward so that the header disappears.
4. Now, navigate forward to the current card.

[2018-01-17 03:20] tjiang11 opened #4546 "Correct footer showing even when no response is input."
To reproduce:

1. Play the second fractions lesson. Play until you reach the card "Now, can you figure out what fraction of the cake remained, after Crumb gave you 2/9 of it...?" Observe that the correct footer is displayed, even though you haven't input an answer yet.

Occurs on both mobile and desktop.

![image](https://user-images.githubusercontent.com/11807091/35024003-df59f74c-fb02-11e7-93e0-

[2018-01-17 05:45] seanlip commented on #4517
Yeah, this is a known RTE issue -- I'm surprised it wasn't filed already. It's a bit hard to fix using textAngular, our current RTE. We're considering moving to CKEditor or some other RTE instead.

[2018-01-17 05:45] seanlip commented on #4517
/cc @AllanYangZhou

[2018-01-17 05:46] seanlip commented on #4531
Not sure there's much to migrate, actually. Is it just a question of changing 7 to 8 somewhere?

[2018-01-17 05:48] seanlip commented on #4534
Nope, the current behaviour is intentional. We don't want to reveal private exp IDs.

[2018-01-17 05:48] #4534 closed

[2018-01-17 05:49] kevinlee12 commented on #4531
Yes, in the official prereqs script. Though Java 8 isn't backwards compatible with Java 7, so it depends where we use Java.

[2018-01-17 05:52] seanlip commented on #4531
I don't think we use it directly, actually. I think it's used to compile some third-party lib. So if installation/setup works fine on a clean install after this change is made, then we're good!

Do you want to make the change, or should someone else do it? Probably worth testing what I mentioned above, but I think that's all that's needed.

[2018-01-17 05:52] kevinlee12 commented on #4531
If that's the case, I'll take it up then.

[2018-01-17 05:55] seanlip commented on #4531
OK, thanks!

[2018-01-17 05:58] seanlip commented on #3905
@apb7 Good question! I would allow `console.error()` but disable `console.log()` and `console.warn()`.

[2018-01-17 06:00] seanlip commented on #3954
Hi @darthgera123, I didn't review #4058; there was a review comment there by @brianrodri that seems to have gone unaddressed, and the original author did not respond, so that's why it was close. I suggest just going ahead and making a new PR.

[2018-01-17 06:01] seanlip commented on #4521
@anmolshkl @GanitGenius @abhishekarya286 @1995YogeshSharma Just to check, is this a feature that you would want?

[2018-01-17 06:24] seanlip commented on #4538
Fixed on the main server. Thanks for reporting!

[2018-01-17 06:24] #4538 closed, assigned to seanlip

[2018-01-17 06:27] seanlip commented on #4539
This has been fixed on the main server -- well, sort of. The first one had an extra newline, which I removed. But for the others, the space below the response seems to be a bit of a generic thing; I couldn't get rid of it.

Is this something that we should fix more generally via code / CSS?

[2018-01-17 07:00] seanlip commented on #4494
So I'm confused... Is this issue fixed or is it not fixed?

[2018-01-17 07:14] seanlip commented on #4545
Hm. @kevinlee12 can you repro this? I'm having trouble...

[2018-01-17 07:17] kevinlee12 commented on #4545
Can't reproduce on iOS Safari.

[2018-01-17 07:19] seanlip commented on #4545
@tjiang11 just to check, is this reproducible deterministically on your machine?

[2018-01-17 08:04] WickedBrat commented on #4530
@seanlip I've updated the issue in a format it should be.

[2018-01-17 08:06] seanlip commented on #4530
Thanks -- the new description is much better!

[2018-01-17 10:11] GanitGenius commented on #4521
currently i record it on mobile and it's easy to play, delete, record/manage multiple recordings,
so i agree with @tjiang11:

[2018-01-17 10:26] 1995YogeshSharma commented on #4521
I think it would be a good feature for the long run and will make the process easier. As a feature develops incrementally, there's no harm in starting the feature and improve it over time as per needs.

[2018-01-17 12:08] anmolshkl commented on #4521
@tjiang11 @seanlip This sounds like a good option to have. If we design it properly, it can be of great value (since it could eliminate the following steps - finding optimal settings to record audio i.e. figuring out bitrate, frequency etc, transferring the audio files from mobile to pc, converting the formats of audio files, shrinking the size of audio files). Initially, I viewed this as a "good-

[2018-01-17 13:21] akumar1503 opened #4549 "Code Editor should not expand"
Steps to reproduce the problem:
 - create an exploration
 - add interaction, go to 'Programming' and select 'Code Editor'
 - play exploration
 - write a long line in python code

Observed behaviour:
 - Code Editor Expands both left and right pushing card contents left.

Expected behaviour:
 - Code Editor should be fixed and the oppia tutor logo should not move left (should be fully visible).

![sc

[2018-01-17 14:18] ishucr7 commented on #4546
This is so because the previous card does not have a continue button(as it does not have any feedback to give) unlike every other card.

[2018-01-17 14:20] abhishekarya286 commented on #4521
This sounds really cool. We can go for recording files and then uploading them for now. But in the future, it'll be a very good feature to avoid all the hustle.

[2018-01-17 16:57] BenHenning commented on #4488
@DubeySandeep I'm not sure I follow; do you have a mock-up to show what that might look like?

[2018-01-17 17:17] #4542 closed, assigned to nobody

[2018-01-17 17:48] jervis446 commented on #4374
Hi , @vibhor98 I'd like to work on  `core.domain.param_domain`

[2018-01-17 17:58] apb7 commented on #4374
Hello @jervis446! I have assigned it to you. Thanks!

[2018-01-17 18:19] vibhor98 commented on #3905
@DubeySandeep To check for the spacing in the initials of docstrings """, do I need to write my own tests as there does not seem to be any module for this. If yes, please tell me. Thanks!

[2018-01-17 18:34] DubeySandeep commented on #3905
@seanlip, console.log() is used in many places in files. I think we can replace it with $log.log (which use to validate whether the browser supports console.log() or not), then we can use `eslint-plugin-angular` with `log` rule for checking (which will ensure `Use ‘$log’ instead of console methods`). will it be a better option?

[2018-01-17 18:36] DubeySandeep commented on #3905
@vibhor98, I think we don't need any test file for this.

[2018-01-17 18:38] seanlip commented on #3905
I think the aim is to remove spurious logging (e.g. devs forgetting to remove their log statements before submitting), so the replacement solution won't work. Let's do a PR which removes the console.log statements for now, and send it to me for review? I'll make a note on any individual ones which need to be retained (and we can use $log.log for those), but I have a feeling that the majority of th

[2018-01-17 18:42] #4509 closed, assigned to nobody

[2018-01-17 18:44] #4486 closed, assigned to nithusha21

[2018-01-17 18:44] #4472 closed, assigned to aks681

[2018-01-17 19:07] apb7 commented on #3905
@seanlip and @DubeySandeep: Shall I enable the check for console.log and console.warn and submit a PR for review?
Thanks!

[2018-01-17 19:14] seanlip commented on #3905
Yep, go ahead!

[2018-01-17 20:06] apb7 commented on #3905
@seanlip and @DubeySandeep: These files produce an error on enabling the check:

![lint1](https://user-images.githubusercontent.com/24826041/35064344-b9c585da-fbef-11e7-97da-c0ab8f060dc9.png)

![lint2](https://user-images.githubusercontent.com/24826041/35064362-c6478e0c-fbef-11e7-95e3-0a5b7b12c17a.png)

[2018-01-17 22:11] #4546 closed, assigned to ishucr7

[2018-01-17 22:38] NickeL74 commented on #4374
Hello, @apb7 I new but have signed the CLA I would like to work on core.domain.stats_domain

[2018-01-17 22:54] #4488 closed, assigned to tjiang11

[2018-01-17 22:56] DubeySandeep opened #4553 "Graph input interaction gets reset after changing screen size."
Steps to reproduce:
- Login as admin.
- Go to admin panel and reload modeling_graphs interaction.
- Go to /explore/11
- Proceed until the Graph Input Interaction comes(2nd card).
- Arrange the graph nodes correctly and press "Submit".
- Help modal will appear (don't click "Continue" button).
- Change the view (from desktop to mobile through dev tools)

You'll get stuck as because graph will get re

[2018-01-17 22:58] kevinlee12 commented on #4374
@NickeL74, assigned you that!

[2018-01-17 22:58] BenHenning commented on #4494
No, this isn't fixed. The context from this issue was meant for #4493; there's a fix going out for this momentarily.

[2018-01-18 02:40] #4494 closed, assigned to BenHenning

[2018-01-18 05:34] #4503 closed, assigned to aks681

[2018-01-18 05:36] seanlip opened #4555 "Address remaining review comments from #4536"
There are some remaining review comments in https://github.com/oppia/oppia/pull/4536 that need to be addressed; we had to merge it in because of the release deadline. Filing this issue to keep track of it.

[2018-01-18 06:10] nithusha21 opened #4558 "Write testing utilities for non inline interactions"
At the moment in extensions/interactions/protractor.js only 5 out of the many interactions we have are being tested using e2e tests. The testing coverage should include all the other remaining interactions. Here is a checklist for the same:

- [ ] Code Editor Interaction
- [x] Graph Input Interaction (#5230)
- [ ] Image Click Input Interaction @namansisodiarajput
- [ ] Interactive Map Interaction

[2018-01-18 06:19] nithusha21 opened #4559 "Write an e2e test to prevent getting stuck in non-inline interactions"
Please see #4317 for the original issue.

The help card that is shown with the continue button doesn't reappear when returning to the card after going back. This has been prevented by disabling the back button when the help dialog is shown with a continue button. This doesn't fix the root cause of the issue and just prevents it from happening.

Also once this is fixed, please revert the fix made i

[2018-01-18 07:25] #4349 closed, assigned to pranavsid98

[2018-01-18 08:47] nithusha21 commented on #4317
Closing as it is split into #4558 and #4559.

[2018-01-18 08:47] #4317 closed, assigned to nobody

[2018-01-18 09:46] #4555 closed, assigned to aks681

[2018-01-18 10:04] nithusha21 commented on #4417
Hi @Kunalgarg2100 Sorry for the late response. The exact steps I had followed to reproduce this issue:
- Create an exploration and publish it.
- Go to the settings page and then change some setting.
- click publish changes and before the changes published dialog appears make some more changes in the settings (here you can quickly make changes).
- Then the modal will be shown.

I'm not sure if this

[2018-01-18 12:32] akumar1503 opened #4562 "Overlapping line numbers and text in Code Editor"
Steps to reproduce the problem:
 - create an exploration
 - add 'Code Editor' interaction from 'Programming' section
 - write some lines in all three sections (do not end with a newline) and save
 - go to some other link like go to homepage
 - again open that exploration from 'Creator Dashboard'

Observed behaviour:
 - after step 3, codes from all 3 section are appended from last column used(in la

[2018-01-18 13:25] akumar1503 opened #4563 "Exploration Editor should asks before leaving to other link"
Steps to reproduce the problem:
 - create an exploration and write something.
 - do not save and go to some other link like homepage.

Observed behaviour:
 - do not asks whether creator wants to save before living and changes are lost when back to the same.

Expected behaviour:
 - if changes are made, it should ask before leaving or notify that changes will be lost.

[2018-01-18 14:09] joydeep1701 commented on #1545
A virtualenv solves every python 2 related problem. Why don't you recommend installation using a virtualenv here https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29?

[2018-01-18 14:22] joydeep1701 commented on #1545
I was trying to setup my development server & I encountered #1742. My python path was
[code]
As suggested in 1742, it was not feasible for me to override the default conda installation, so I made a virtualenv using `virtualenv env --python=python2.7` in the parent directory of oppia & followed step 1 of https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#fixing-python & created a smal

[2018-01-18 17:32] tjiang11 commented on #4545
Yes, I can reproduce this determinstically.

Chrome 63.0.3239.111
Android 7.0.0; SM-G930T Build/NRD90M

[2018-01-18 22:14] seanlip commented on #4563
Actually, the exploration editor should generally autosave drafts. Does this not happen when you use it?

(Could you also please clarify what you mean by "write something"?)

Thanks!

[2018-01-18 22:17] seanlip commented on #1545
HI @joydeep1701, thanks for the question. We have tried to use virtualenvs in the context of Vagrant before (in the context of VirtualBox -- see https://github.com/oppia/oppia/wiki/Installing-Oppia%28Vagrant%29) but have run into numerous issues developing using this route in the past. That said, I'm not sure we've systematically tried to do this on linux before. If you are able to get it setup cl

[2018-01-19 08:50] #1542 closed

[2018-01-19 09:18] seanlip opened #4566 "Dollar signs seem to be formatted incorrectly in response headers."
I was working on editing an exploration when I noticed this. Note the difference between the first answer choice and the way it is shown in the rule header at the bottom -- the "$10" seems to become "x0":

![screenshot from 2018-01-19 01-16-48](https://user-images.githubusercontent.com/10575562/35143465-7c7731b6-fcb6-11e7-9ac4-78f7ac367d27.png)

This is for MultipleChoiceInput.

[2018-01-19 10:17] seanlip opened #4567 "Fraction equivalence checks are still incorrect."
Create a FractionInput interaction with the following rules, in order:

- Answer exactly matches 12/15
- Answer is equivalent to 4/5.

You'll see a warning saying that the second rule will never be matched because it is made redundant by the first rule. This is wrong (it's actually the other way round).

This needs to be made as a hotfix to the current release.

[2018-01-19 12:25] akumar1503 commented on #4563
@seanlip yes, it autosaves it.
sorry, i used the keyboard shortcut to move back and forth what might have loaded the cached pages and changes were not shown. So this issue can be closed.

Thanks,

[2018-01-19 12:33] Nix07 commented on #2533
Hi @seanlip Can I take this issue?

[2018-01-19 14:31] WickedBrat commented on #4430
We can also type 99 after 1 and then remove 1. Works fine. Is that not wanted?

[2018-01-19 14:39] WickedBrat commented on #4530
Can I try to work on this?

[2018-01-19 16:00] aks681 commented on #4563
@GanitGenius, Thanks for confirming. Closing the issue.

[2018-01-19 16:00] #4563 closed, assigned to nobody

[2018-01-19 20:32] seanlip commented on #4530
Sure, go ahead!

[2018-01-20 01:11] kevinlee12 commented on #4477
Hi @Nix07, I can't seem to replicate this (I FF v57.0.4), can you attach a gif of the behavior?

[2018-01-20 05:04] apb7 commented on #3905
Hello @seanlip! Shall I enable `eqeqeq` and `semi` rules next? Thanks!

[2018-01-20 05:31] seanlip commented on #3905
Hi @apb7 -- please go ahead and implement whichever rules you think make sense; no need to ask beforehand. Thanks!

[2018-01-20 05:59] kevinlee12 commented on #4531
Completed in #4570

[2018-01-20 05:59] #4531 closed, assigned to kevinlee12

[2018-01-20 07:09] Nix07 commented on #4477
Hi @kevinlee12 Even I can't reproduce the blink problem now. But something even more strange is happening. While the audio is playing, the pause button is changing to play button. And as soon as you hover over the play button, it getting back to pause button.

![giphy](https://user-images.githubusercontent.com/22103406/35180549-dad08a5a-fdd8-11e7-91ea-65d7ccfe91c5.gif)

Operating System - Ubuntu 1

[2018-01-20 08:17] DubeySandeep commented on #4477
@Nix07, AFAIK, Three balls exploration don't have "Manual-audio" and currently, we don't support autogenerated audio for firefox. If you're still facing that issue (play-pause) then please file another issue (with this gif).
Closing this as it is not reproducible.
Thanks! :)
_(FF 57.0.4 || Ubuntu 14.04)_

[2018-01-20 08:17] #4477 closed, assigned to nobody

[2018-01-20 08:35] #2533 closed

[2018-01-20 11:47] nithusha21 commented on #4567
Surprisingly this situation is guarded for by the karma tests(seen below) https://github.com/oppia/oppia/blob/f63a263d25375b9d0886373b23da934a89be5446/extensions/interactions/FractionInput/directives/FractionInputValidationServiceSpec.js#L194-L202

This test seems wrong. as input 2/2 will match rule 2.

Logically what you mentioned makes sense. So if Exactly equals precedes equivalent or equivalen

[2018-01-20 15:39] aks681 commented on #4545
I'll take a look at this. I was able to reproduce this on my phone (similar specs to @tjiang11's), but not on chrome emulator for mobile.

[2018-01-20 19:06] tjiang11 commented on #4426
Hi @Nix07 thanks for this! A quick question about 1: You're referring to autogenerated audio right? I believe if you do this with recorded audio it will actually resume from where you paused.

Also, I believe 2 is a duplicate of #4295 , if you believe that's the case can you edit this issue to only include 1?

[2018-01-20 19:44] tjiang11 commented on #4300
Fixed by #4541

[2018-01-20 19:44] #4300 closed, assigned to nobody

[2018-01-20 21:17] seanlip opened #4578 "Placeholder for FractionInput needs to be changed."
The current placeholder is "Enter a fraction in the form n/n or n n/n." We should do the following to make it clearer:

- In the general case, the placeholder should be "Enter a fraction in the form x/x, or a mixed number in the form x x/x."
- In the case where answers are not allowed to contain an integer part, the placeholder should be "Enter a fraction in the form x/x".

This needs to happen as

[2018-01-20 21:17] seanlip commented on #4578
~~@aks681, could you please help with this? Thanks! ~~

EDIT: no worries! @tjiang11's offered to help out too.

[2018-01-20 21:33] DubeySandeep opened #4579 "Hint button shows up even after a correct answer."
Steps to reproduce:
- Go to the 4th card of this [exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v).
- Give a correct answer.
- wait a minute "Hint" will appear.

Expected behavior: Hint should not appear after a correct answer.
/cc @seanlip.

[2018-01-20 21:34] Aashish683 commented on #3826
Hi @seanlip and @shubha1593, can I be assigned for the file  ExplorationPropertyService.js?
Thank you!

[2018-01-20 21:42] DubeySandeep commented on #3826
Hi @Aashish683,  I've assigned you to `ExplorationPropertyService` part of this issue.
Thanks!
(_Also, de-assigned @asmigos because of lack of response._)

[2018-01-21 00:35] #4567 closed, assigned to nithusha21

[2018-01-21 03:12] seanlip commented on #4578
Fixed in #4581, thanks @tjiang11!

[2018-01-21 03:12] #4578 closed, assigned to tjiang11

[2018-01-21 03:24] seanlip opened #4582 "On large screens, longer help cards get cut off at the top if the supplemental interaction is short."
See this screrenshot:

![help card gets cut off](https://user-images.githubusercontent.com/10575562/35190471-5aa1544c-fe17-11e7-9168-746dd00fe909.png)

Repro steps: create an exploration with an ImageClickInput, such that the image is fairly short. Provide some feedback for a wrong answer that is fairly long.

Expected behaviour: the top of the card should never go above the bottom navbar boundary

[2018-01-21 04:13] yashLadha commented on #4502
Hey can you guide me to the problem. I would like to work on this issue.

[2018-01-21 07:08] seanlip opened #4587 "ItemSelectionInput interactions should have boxes top-aligned."
To reproduce, create an ItemSelectionInput interaction and enter some long text. You'll get something similar to the text alongside the fourth box in this screenshot:

![itemselection](https://user-images.githubusercontent.com/10575562/35191707-b84ca640-fe36-11e7-912f-d0a33d6dc4c9.png)

That box is misaligned. The form should look like this, instead:

![itemselection](https://user-images.githubuse

[2018-01-21 18:35] Nix07 commented on #4374
Hi @vibhor98 I was thinking to work on "core.domain.acl_decorators". But unfortunately,
I'm getting some errors while executing the pylint command given above. Can you please help.

![error](https://user-images.githubusercontent.com/22103406/35197616-ca7b4aa2-ff07-11e7-97cf-aad646bd0815.png)

[2018-01-21 18:40] apb7 commented on #4374
Hey @Nix07! Please put another `-` before `disable` (`pylint --disable=all --enable=missing-docstring <path/to/file>`) and see if that works!
Thanks!

[2018-01-21 18:43] Nix07 commented on #4374
Nope, it is still not working!

![12](https://user-images.githubusercontent.com/22103406/35197686-008f6d3e-ff09-11e7-9ad2-d8f54423774e.png)

[2018-01-21 18:44] apb7 commented on #4374
Give me a moment please!

[2018-01-21 18:47] Nix07 commented on #4374
Nope, it is still not working!

![12](https://user-images.githubusercontent.com/22103406/35197721-8f139bca-ff09-11e7-91dd-2cb9d62ec29b.png)

[2018-01-21 18:49] vibhor98 commented on #4374
Hi @Nix07 , Is your local branch up  to date? Because these checks have been recently added and linter may not be able to find docstyle.

[2018-01-21 18:55] Nix07 commented on #4374
Yeah, it's up-to-date.

[2018-01-21 19:00] vibhor98 commented on #3691
Hi @seanlip , @anmolshkl , I would like to work on implementing this feature. Can you give me bit more details about it and how to proceed? Thanks!

[2018-01-21 19:09] apb7 commented on #4374
@Nix07: Can you please do a `pylint --version` once? Also, remove these [lines](https://github.com/oppia/oppia/blob/develop/.pylintrc#L8:L11) from .pylintrc and then try once more!
Thanks!

[2018-01-21 19:11] vibhor98 commented on #4374
Can you also check you `.pylintrc` file? It contains plugin for
extensions.docstyle. May be it's not installed properly or there is any
version difference.

On Mon, Jan 22, 2018 at 12:25 AM, Nikhil Prakash <notifications@github.com>
wrote:

[2018-01-21 19:15] Nix07 commented on #4374
Thanks @apb7 Got the output, after removing those lines!
And Thanks @vibhor98 for your time...

[2018-01-21 19:17] apb7 commented on #4374
@vibhor98: ~~I think the current pylint version  1.7.1 does not support `pylint.extensions.docstyle` which was used in PR #4572. It only has support for `pylint.extensions.docparams`. Please confirm your Pylint version once @vibhor98 so that we can look into this.~~
I tried this locally by using the exact version 1.7.1 and it works. The problem would have been with @Nix07's pylint version (1.5.2)

[2018-01-21 19:23] vibhor98 commented on #4374
@apb7 my pylint version is -- 1.8.1. So this is the issue.

On Mon, Jan 22, 2018 at 12:47 AM, Apurv Bajaj <notifications@github.com>
wrote:

[2018-01-21 19:41] SerChirag commented on #3826
Hi @seanlip and @shubha1593

I wish to contribute by modifying for explorationTagsService.

I guess it is necessary to run tests once I have made the changes ?
Are they sufficeint ?

Thanks

[2018-01-21 20:18] seanlip commented on #3826
Hi @SerChirag, sounds good, thanks! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started, though? We'll only be able to assign you a file once the CLA etc. is filled in.

And yes, you'll need to run tests, and manually check that the site works correctly by setting up a local instance and playing with it.

[2018-01-21 20:21] seanlip commented on #3691
@vibhor98, let's pause this for a bit. Some of the basic ML stuff is going to be worked on again in February; until then, I would suggest tackling some of the other issues which are more important.

Let me know if you need recommendations, I can help with that.

[2018-01-21 20:23] ishucr7 commented on #3826
Hi @SerChirag
I think exploraionTagsService is already taken by @Aashish683 . Check the list above and take the one which is not assigned yet.
Thanks!

[2018-01-21 20:45] apb7 commented on #3905
Hello @seanlip! For implementing the `directive-restrict` rule, do we allow explicitly specifying a default for a directive (https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/rules/directive-restrict.md)?
Thanks!

[2018-01-21 20:45] SerChirag commented on #3826
Hi @ishucr7,
I think @Aashish683 requested for "ExplorationPropertyService".
All other files seemed to be assigned or completed.

@seanlip I have completed the undertakings

Thanks

[2018-01-21 20:50] seanlip commented on #3905
Not sure what you mean, sorry. Can you give a code snippet example?

[2018-01-21 21:00] apb7 commented on #3905
@seanlip: Currently, I am using this rule:
[code]
which will produce an error for:
[code]
There is an additional parameter `explicit` which if set to `never` will produce this error:
[code]
So should we go with the former only or should we incorporate the latter as well?
Thanks!

[2018-01-21 21:52] seanlip commented on #3905
I think all directives should specify explicitly a directive restriction, and that restriction should be 'E'. Does that answer the question?

[2018-01-21 21:57] apb7 commented on #3905
Yes, thanks @seanlip! I'll make the necessary changes.

[2018-01-21 22:31] apb7 commented on #3905
@seanlip: Another doubt: Where should I place `restrict: 'E',` for this [directive](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/directives.js#L112:L128)?

[2018-01-21 22:33] seanlip commented on #3905
I think that's an old format for directives, you'll have to figure out how to convert it to the newer format so that it still works correctly.

[2018-01-21 22:46] apb7 commented on #3905
Actually, I am not much familiar with Angular. Can you please suggest some possible way?
Thanks!

[2018-01-21 22:51] seanlip commented on #3905
Sorry, I can't right now -- I'm pretty swamped preparing for the RCT.

But I would suggest getting familiar with Angular -- it will be useful, since a lot of the codebase is in Angular, and there's a lot of documentation online about directives. If you can't figure it out after a couple days then feel free to ask again (perhaps with a more specific question). Thanks!

[2018-01-21 22:53] apb7 commented on #3905
Thanks, @seanlip!

[2018-01-21 23:01] seanlip opened #4590 "ImageRegion dropdown overlaps feedback area, so lower items in the dropdown cannot be selected."
To reproduce: create an exploration with an ImageClickInput interaction with several regions, and add an answer group that checks whether the click is in a specific region.

When navigating to a region lower in the dropdown, the feedback box behind it becomes active. Clicking on that item in the dropdown causes the feedback box to open instead, and the region to not be selected. This makes it impo

[2018-01-22 06:51] vibhor98 commented on #3691
@seanlip yes, I need recommendations. Also, in the future I would like to
work on this once the ML stuff starts in February.

On Mon, Jan 22, 2018 at 1:51 AM, Sean Lip <notifications@github.com> wrote:

[2018-01-22 08:46] ishucr7 commented on #3826
@SerChirag
Oh! You're right. You can continue with it then :)

[2018-01-22 09:14] Aashish683 commented on #3826
Hi @SerChirag, I am currently working on ExplorationPropertyService as well as it's subclasses so that includes explorationTagsService as well.
I think all the files in this issue are currently taken , #4057 is also a starter issue which is based on testing and has files which are unassigned now.
Thanks!

[2018-01-22 19:05] aks681 commented on #4545
I am able to reproduce this only in Chrome in my phone (SM-G93F Android 7.0). Even in Samsung Internet browser and chrome emulator on Ubuntu, it worked correctly. Also, when I tried on Firefox on the same phone, got an error `Error: _speechSynthesis is undefined`(when debugging the mobile firefox in Ubuntu with both at Firefox v57) and the player page didn't even load - this might be another issue

[2018-01-22 23:57] tjiang11 commented on #3550
Picking this up

[2018-01-23 03:00] seanlip commented on #4545
@tjiang11 could you please advise?

Also, hm, interesting -- I thought the _speechSynthesis thing was fixed in https://github.com/oppia/oppia/pull/4571 (and I think we've hotfixed that to oppia.org). Is this a different bug?

[2018-01-23 03:14] tjiang11 commented on #4545
Seeing how this is *so* specific to mobile Chrome, I think this may be a discrepancy with mobile Chrome itself... it might be the case that Chrome will get in line with other browsers, though we can't know if or when that will happen.

Maybe one possible fix is to force the header to become visible when changing cards.

Thanks for noting the other error too, I'll try to see if I can reproduce that

[2018-01-23 07:08] seanlip commented on #3977
Deassigning @Arunabh98 due to lack of response.

[2018-01-23 07:16] shreyateeza commented on #2584
Hello I am new here ! I would like to take this issue..

[2018-01-23 07:20] apb7 commented on #2584
Hey @shreyateeza! Thank you for your interest! Can you please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

[2018-01-23 10:05] shreyateeza commented on #2584
I have followed the instructions.. now can this issue be assigned to me?

[2018-01-23 10:09] shreyateeza commented on #3826
Hi @seanlip and @shubha1593, can I be assigned to `siteAnalyticsService → SiteAnalyticsService` ?

[2018-01-23 10:13] shreyateeza commented on #3950
Hi @seanlip and @shubha1593 can I please be assigned to `header_css_libs.html`?

[2018-01-23 10:33] shubha1593 commented on #3950
Hi @shreyateeza, that is already assigned to someone else! I'm sorry but no file seems to be free right now in this issue. Would you like to give [#4057](https://github.com/oppia/oppia/issues/4057) issue a try?

[2018-01-23 14:19] shreyateeza commented on #4057
Hi @shubha1593 Can I take `app.js`?

[2018-01-23 14:25] DubeySandeep commented on #4057
HI @shreyateeza, I've assigned you to `app.js`.
(_Current coverage for app.js: 41.04%_)
Thanks! :)

[2018-01-23 18:40] #4275 closed, assigned to akumar1503

[2018-01-23 18:47] shubha1593 commented on #4057
Hi @GaganSuneja, are you still working on editor_tab?

[2018-01-23 18:51] shubha1593 commented on #3950
Hi @chrised123, are you still working on collection_player?

[2018-01-23 21:27] apb7 commented on #1977
Hello @seanlip and @kevinlee12!  I am planning to work on this issue. Since, by default all rules in `stylelint` are turned off, can you please list or point out the rules we need to apply (or do we have a design doc for this too)? I tried using both - the `stylelint-config-standard` and the `stylelint-config-recommended` but both of them list a number of errors with `oppia.css`.
Thanks!

[2018-01-23 23:20] #4579 closed, assigned to tjiang11

[2018-01-23 23:35] tjiang11 commented on #4293
Hi @LanJosh , would you like to take this?

[2018-01-24 00:34] DubeySandeep commented on #4467
@nithusha21, In my browser, 3/7 sounds to threeSevenths. I think it's good enough!
is it still reproducible? (OS, browser?)

[2018-01-24 01:11] seanlip commented on #1977
Hi @apb7 -- we don't have a design doc for this. Could you perhaps create one? I suggest that you propose a set of rules that you think are suitable, and highlight the discrepancies between that set of rules and oppia.css (as comments in the doc). We can then go through these and resolve them.

Thanks!

[2018-01-24 04:39] chrised123 commented on #3950
@shubha1593 yes. I am afraid I need more time.

[2018-01-24 05:04] apb7 commented on #1977
That sounds good, @seanlip!
Thanks!

[2018-01-24 05:33] shubha1593 commented on #3950
@chrised123 Sure, thanks for the update. Let us know if you need some help!

[2018-01-24 09:26] seanlip commented on #4497
Hi @yashLadha! Are you still working on this?

[2018-01-24 09:29] yashLadha commented on #4497
I need some more insight in the issue. Currently working on documentation
of backend.

On Jan 24, 2018 2:56 PM, "Sean Lip" <notifications@github.com> wrote:

Hi @yashLadha <https://github.com/yashladha>! Are you still working on this?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/oppia/oppia/issues/4497#issuecomment-36007

[2018-01-24 09:37] seanlip commented on #4497
Ah, OK. I don't know what the cause is, I'm afraid -- it probably needs some debugging. Should I deassign you for now?

[2018-01-24 09:47] yashLadha commented on #4497
Can you put that issue on hold.

On Jan 24, 2018 3:07 PM, "Sean Lip" <notifications@github.com> wrote:

[2018-01-24 09:48] seanlip commented on #4497
Done. Thanks for the update!

[2018-01-24 18:48] tjiang11 opened #4600 "MP3 audio file is not recognized when trying to upload to exploration"
[This](https://drive.google.com/file/d/1mCAlmchPMVVpyGeh5VTo_gc7Iqyu3F-s/view) file does not seem to be accepted in the creator view, even though it's an MP3 file. The only discrepancy seems to be that it's 192kbps, though we should be accepting those as well. It may be some other anomaly in the header that is causing this.

To reproduce:
1. Download the linked file.
2. Create a new exploration. I

[2018-01-24 22:40] bansalnitish commented on #4587
I would like to work on this issue !

[2018-01-24 23:36] seanlip commented on #4587
Hi @bansalnitish, welcome to Oppia! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to send in a PR for this issue. Thanks!

[2018-01-25 00:28] LanJosh commented on #4293
Hi @tjiang11 , I looked into this a bit and was pretty lost -- I don't have any experience in Angular. I'm willing to take this issue, but will probably need some help getting started!

[2018-01-25 00:37] DubeySandeep commented on #4293
Hi @LanJosh, I think this doesn't require any knowledge of angularJS you can do it via pure CSS, adding animation to the .audio-control ([here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/audio_bar_directive.html#L80)).  Also, you can go through the @tjiang11's comment above:

For css animation, you can take a look [here](https://www.w3schools.com/c

[2018-01-25 04:15] shubha1593 commented on #3478
Hi @DubeySandeep, still working on this?

[2018-01-25 04:58] DubeySandeep commented on #3478
Hi @shubha1593, I'm working on this (#4594).
Thanks! :)

[2018-01-25 07:50] SerChirag commented on #4374
Hi,
Can I have core.platform.models and core.platform.email.gae_email_services ?
Regards,
Chirag Vashist

[2018-01-25 08:43] yashLadha commented on #4374
Sure go ahead @SerChirag . Assigned it to you.

[2018-01-25 09:14] ishucr7 commented on #2297
Hi @seanlip , @tjiang11 . Please correct me If I am wrong. I tried making the changes(w/o schema migration) and ran the presubmit test script leading to a number of errors.  Just to confirm --- I think a schema migration is required in this, isn't it? .

[2018-01-25 09:15] seanlip commented on #2297
I don't see why it would be, actually. It seems like just a UI change to me.

Might be worth writing a (short) design doc?

[2018-01-25 16:31] aks681 commented on #4545
@seanlip @tjiang11 I tested this again in Chrome mobile using the computer to view its console. If I scroll using the phone screen cloned on the computer's Chrome window, it works correctly, while in the same page, if I scroll using actual phone screen, this error crops up.
As far as I can tell, the already existing code works fine but what I saw was the search bar on top of Chrome in phone also h

[2018-01-25 20:11] bansalnitish commented on #4566
May I work on this @seanlip!

[2018-01-25 22:20] tjiang11 commented on #4545
Hi @aks681 thanks for the update. Yeah, if it really ends up being something built into headroom and the browser itself in regards to when it decides to hide the browser search bar. If you can't find some solution it may be worth just holding off on this for now, or if you can identify an issue with Headroom specifically it may be worth just filing an issue to them and see what they say about it.

[2018-01-26 05:25] Sunil16202 commented on #4374
Hi, @vibhor98 , I am unable to understand how I have to start because their lots of file and I confused with them, please suggest me because I am new to the opensource organization.

[2018-01-26 05:43] apb7 commented on #4374
Hey there @Sunil16202! Please check out this [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started!
Thanks!

[2018-01-26 06:22] kevinlee12 commented on #4587
@seanlip, do you also want this to include the response selection prompt (the modal to select which items to use in the rules)?

[2018-01-26 07:08] yashLadha commented on #4600
I want to work on this @tjiang11

[2018-01-26 07:13] yashLadha commented on #4600
On debugging it seemed to be issue at this [line](https://git.io/vNPhX). It is not able to convert to mp3. That's why exception is raised.

[2018-01-26 08:17] seanlip commented on #4587
Yes, that would be good! It should be consistent.

[2018-01-26 10:37] shubha1593 commented on #4374
@apb7 @vibhor98 Just to confirm @Sunil16202 has already signed the CLA. I think he needs help in getting started with this issue!

[2018-01-26 10:52] seanlip opened #4612 "Two e2e tests keep failing"
Two e2e tests seem to be failing quite often. This is blocking PRs from getting submitted.

Here are what look like the relevant bits:

[code]

[2018-01-26 11:10] Sunil16202 commented on #4374
Sir I am unable to understand what's things we have to do by docstrings,
Since it is for documenting function, class etc. It is basically comment
for other developer.

Thanks
Sunill

On Jan 26, 2018 4:07 PM, "Shubha Gupta" <notifications@github.com> wrote:

[2018-01-26 11:35] apb7 commented on #4374
Thanks, @shubha1593!
@sunil1602: We need to document _what_ each function/method does which
includes writing its arguments, returns and raises.
To start with, follow these steps:
1. Pick up any file which hasn't been documented yet.
2. Run `pylint --disable=all --enable=missing-docstrings <path/to/file>`
and see which functions/methods need documentation.(Please ensure that your
Pylint version is

[2018-01-26 12:08] Sunil16202 commented on #4374
Thanks

On Jan 26, 2018 5:05 PM, "Apurv Bajaj" <notifications@github.com> wrote:

Thanks, @shubha1593!
@sunil1602: We need to document _what_ each function/method does which
includes writing its arguments, returns and raises.
To start with, follow these steps:
1. Pick up any file which hasn't been documented yet.
2. Run `pylint --disable=all --enable=missing-docstrings <path/to/file>`
and see whic

[2018-01-26 19:46] seanlip commented on #4612
@BenHenning, any thoughts on this? Might be worth looking at if time permits (when you're tackling the e2e stuff).

[2018-01-26 20:02] BenHenning commented on #4612
I noticed the "document unloaded" issue when running the e2e tests on my home workstation. I also noticed this is worse with some of the e2e tests that I'm trying to improve. It seems to have to do with us waiting on angular when the page reloads iirc, so the long-term fix should be to remove all waits on angular (which I think is ideal anyway, since our e2e tests shouldn't be aware of a detail li

[2018-01-26 20:03] BenHenning commented on #4612
Also noting that internally, protractor calls waitForAngular() at proper times to avoid this issue, so it's almost certainly caused by us calling it explicitly.

[2018-01-26 20:04] BenHenning commented on #4612
The element not visible bit may just be a flake; since we de-flake our tests using static timeouts right now, they're fragile to local slowdowns. My local e2e changes move our static waits over to waiting for specific elements to appear which will, hopefully, be less fragile in the long-run.

[2018-01-27 05:01] kevinlee12 opened #4615 "Contrast ImageRegion click indicator"
In light of #4614, those who are red-green color blind may not be able to see the red dot (see screenshot). The object of this issue is to ensure that the indicator contrasts with the background so that it's clear that it's a touch indicator.

![image](https://user-images.githubusercontent.com/5758256/35468836-df0d199e-031e-11e8-92cf-4f4fe7d31d30.png)

[2018-01-27 06:14] seanlip commented on #4615
More specifically, a possible approach might be to compute roughly which colours arise in the background image that is superimposed by the dot, then choose a contrasting colour for the dot. A second idea is to show a target or some symbol that's not a dot (again, to maximize the chance of a good contrast).

[2018-01-27 08:55] seanlip opened #4617 "Weird behaviour of red dot indicating the user's answer for ImageClickInput interaction."
To reproduce:
1. Create an exploration with the first state having an ImageClickInput interaction, followed by a TextInput interaction.
2. Start previewing from the first state. Click the correct answer and advance to the next card.
**Issue A: The red dot appears temporarily on the bottom left before moving to the correct position.**
3. Press the "back" button to go back to the first card in the p

[2018-01-27 09:04] anmolshkl opened #4618 "Allow a language to be selected as default language in the audio-translation console."
When uploading an audio-translation, a translator has to select the language of the audio for every card. It would be better if the default language is set to the language that was most recently selected in the same exploration so that the creator wouldn't have to select the language for every other card. Perhaps, we can cache the first selection and keep that as a default for the subsequent cards

[2018-01-27 09:06] DubeySandeep commented on #4618
Seems to be a duplicate of #4528.

[2018-01-27 09:11] anmolshkl commented on #4618
@DubeySandeep thanks, closing this!

[2018-01-27 09:11] #4618 closed, assigned to nobody

[2018-01-27 09:35] Aashish683 commented on #4481
Hi there @markhalpin and @seanlip !
Can I work on this?

[2018-01-27 11:17] akumar1503 commented on #3797
assigning this myself as @anmolshkl working on other parts.
Also i think works on new TextClassifier is complete, so can you please confirm this.

[2018-01-27 17:47] tjiang11 commented on #4600
Hi @yashLadha , sure thing! I've assigned you. I haven't really looked into this, but I imagine it's not clear if this is a fix we can implement ourselves or if it's something that requires a change within mutagen. Let me know if you find anything else. Thanks!

[2018-01-27 20:30] apb7 commented on #1977
Hello @seanlip!
I've created a design doc for this issue: https://docs.google.com/document/d/1QfiIQIu3JveyOJan3c4soRvjy0qoFPzkz4hQ8OgLvQ4/edit?usp=sharing
Thanks!

[2018-01-27 21:32] seanlip commented on #4582
This is actually kind of important, btw. The learner can't click another point on the image so they're permanently blocked.

[2018-01-27 21:32] seanlip commented on #4582
/cc @tjiang11 -- suggest prioritizing for Feb release

[2018-01-27 21:59] bansalnitish commented on #4590
@seanlip  May I work on this!

[2018-01-27 22:01] seanlip commented on #4590
Sure!

[2018-01-28 02:10] #4533 closed, assigned to nobody

[2018-01-28 09:48] seanlip opened #4621 "When a feedback is edited, there is no modal pop-up saying "would you like to mark audio translations as not matching text"."
Steps to reproduce:

1. Create an exploration, add some feedback, add an audio translation to that feedback, then complete the exploration and publish it.
2. Modify the text of the feedback.

Expected behaviour: There should be a modal that pops up saying "do you want to mark this translation as 'may not match content'", similar to what happens when the state content is edited.

Observed behaviour

[2018-01-28 09:54] seanlip commented on #4621
Note: This modal should appear for all the RTEs (i.e., we should check that it appears for hints and solutions as well).

[2018-01-28 18:07] nithusha21 commented on #4467
On chrome, on the oppia test server 3/10 is spoken as "three stroke ten" (on the second page of [this](https://oppiatestserver.appspot.com/explore/3wTBeOE_2Y4O?collection_id=giIwhTU3up5v)).
Maybe situation dependent or browser specific. Not sure.

[2018-01-28 20:24] tjiang11 commented on #4293
Hi @LanJosh , let me know if you're still having trouble after reading Sandeep's pointers. Thanks!

[2018-01-29 00:28] #3753 closed, assigned to akumar1503

[2018-01-29 00:31] #4617 closed, assigned to aks681

[2018-01-29 01:31] seanlip opened #4625 "Fix structure of refresher exploration ID URLs"
PR #4624 introduced a way to handle refresher explorations that fall outside a collection. This solution is adequate but indicates that there are some issues with the refresher exploration URL structure.

In particular, we might want to update the URL structure for refresher explorations so that collection_id is not a main parameter in the exploration URL (maybe we should change it to topmost_coll

[2018-01-29 16:50] shubha1593 commented on #4481
Hi @Aashish683, Yup sure :)

[2018-01-29 19:37] BenHenning commented on #4625
Do we want refresher exps to be available both inside and outside of collections? If we find them more useful within collections, another way of fixing this might be to only use an in-collection URL format for all refresher explorations (I really like the ``/explore/collection_id/exploration_id`` suggestion, though we'd need to permanently forward our existing URLs to that one).

Alternatively, we

[2018-01-29 19:40] BenHenning commented on #4625
Note that the above would greatly simplify our URLs for playing activities, but it would require a really carefully crafted backend controller. I'm not entirely sure yet how we would handle this for the general case, but I suspect we don't want to support the recursion yet, anyway. If we update the URLs in this way, we should build the pattern for the specific cases we need now:

- exploration
- c

[2018-01-29 20:57] DubeySandeep opened #4627 "Unable to click Continue button of help card."
**Steps to reproduce:**
- Go to [this](https://www.oppia.org/create/670bU6d9JGBh?collection_id=4UgTQUc1tala#/gui/Number%20line%20Q1) card.
- Preview it.
- change screen size to mobile view.
- wait for hint tooltip to appear
- mark the correct answer.
![screenshot from 2018-01-29 22 52 51](https://user-images.githubusercontent.com/16653571/35533836-c190ca6c-0564-11e8-87a5-ee77f78b224c.png)

[2018-01-30 06:25] DubeySandeep opened #4628 "Hint tooltip is appearing with hint button without any delay."
**Expected behaviour:**
tooltip wait time is around 60 seconds after the hint is available, so it is expected that it will appear after the hint is visible.
**Observed behaviour:**
Both (hint and tooltip) are appearing at the same time.
**Steps to reproduce:**
- Create a card with a hint.
- Preview it and wait for 60 seconds.

[2018-01-30 06:29] Sunil16202 commented on #4374
I have pylint version 1.8, is there any problem?

[2018-01-30 06:32] apb7 commented on #4374
Hello @Sunil16202! Please prefer using pylint 1.7.1 although I don't think 1.8 will cause any problem with docstring checking. Thanks!

[2018-01-30 06:39] Sunil16202 commented on #4374
I run code with Pylint 1.8, its ok.
How I can know that which type of class or function, what's things do.

[2018-01-30 06:52] apb7 commented on #4374
@Sunil16202: Please follow the instructions given above in the issue thread! Thanks!

[2018-01-30 09:07] Sunil16202 commented on #4374
@seanlip. I'd like to work on core.domain.feedback_jobs_continuous.
Thanks

[2018-01-30 09:17] hundredrab commented on #4119
Hi @seanlip
I'm having trouble reproducing this issue. Could you provide steps to do the same and also the expected behavior? Thanks.

[2018-01-30 09:18] vibhor98 commented on #4374
Sure! @Sunil16202 , Go ahead. Assigned you.

[2018-01-30 09:20] seanlip commented on #4119
Hi @hundredrab, I think the talk-to labeI is wrong -- I'm not sufficiently familiar with this issue to give you an answer. I've changed it to point to @BenHenning, who filed the original issue. Thanks!

[2018-01-30 09:34] vibhor98 commented on #4374
@Sunil16202 , What about `core.domain.stats_jobs_continuous` ? It's also assigned to you.

[2018-01-30 09:50] hundredrab commented on #4119
Okay, thanks anyway :)
@BenHenning, could you point me the right direction?

[2018-01-30 11:35] Sunil16202 commented on #4374
@vibhor98 I am still working on it, it has huge lines of code approx 700 line. So, it is a little bit of difficult to understand entire code, is there any other way to do that.

[2018-01-30 14:08] vibhor98 commented on #4374
@Sunil16202 , It's fine then. You can analyze only specific function for which docstrings have to be added and not the whole code. But yes, little understanding of the functions that is called by the concerned function is needed.

[2018-01-30 19:02] tjiang11 commented on #4582
Considering how the card can be indefinitely long, I'm trying to figure out a good design for this. Would making the content within the supplemental card scrollable be okay do you think? @seanlip

[2018-01-30 19:03] tjiang11 commented on #4582
Or hm nevermind, I suppose maybe just making the entire page scrollable to fit the card might be better--will go with that for now.

[2018-01-30 19:18] seanlip commented on #4582
I think, in such circumstances, we should actually move the help card so that it's top edge is lower -- the main issue here is really the the supplemental interaction in this case is quite short. Would that work?

[2018-01-30 20:18] tjiang11 commented on #4582
Yeah that works, I did something of that sort in #4630

[2018-01-31 01:36] BenHenning commented on #4119
Sure, I think the general flow to repro this is something like:

- Start on ``develop`` branch
- Checkout an older commit (e.g. one from a week ago on ``develop``)
- Create a new branch off of the older commit
- Make some changes that violate the linter
- Commit the changes locally
- Switch to ``develop`` branch
- Use ``git pull`` to switch to the head of the ``develop`` branch
- Switch back to th

[2018-01-31 07:31] Sunil16202 commented on #4374
When I run "pylint --disable=all --enable=missing-docstring", it gives me Your code has been rated at 9.66/10. It is fine or it should give 10.

[2018-01-31 08:21] DubeySandeep opened #4632 ""Learn again" buttons turns into "Continue"."
**Steps to reproduce:**
- Go to [this](https://www.oppia.org/explore/9dUb8jXsT1cj) exploration.
- Go to the 2nd card and give 11 as an answer.
- This will lead to a wrong answer and "Learn again" button will appear.
- Go back to the first/previous card and again come back to the same card.
- "Learn again" button is changed into "Continue" button.

[2018-01-31 08:23] apb7 commented on #4374
The rating should be 10. Please see to this!  Thanks!

[2018-01-31 09:09] Sunil16202 commented on #4374
How I can handle this, Since I am using pylint 1.8

On Jan 31, 2018 1:53 PM, "Apurv Bajaj" <notifications@github.com> wrote:

[2018-01-31 09:36] apb7 commented on #4374
Sorry, I am unable to understand the _exact_ problem you are facing. Make sure _all_ methods/functions/classes which spring up during pylint check are documented. Only then will you get a rating of 10.
I'm again quoting the procedure to be followed:

Please go through the already documented files once again!
Thanks!

[2018-01-31 14:23] srikant-ch5 commented on #2627
@seanlip can I work on this issue?

[2018-01-31 14:31] apb7 commented on #2627
Hey @sriks123! Thanks for your interest! Can you please go through [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

[2018-01-31 16:08] DubeySandeep commented on #4374
Hi @Sunil16202, go through the @apb7's comment and if you aren't able to run pylint then please follow this :

(`C: lineNumber`)
You'll have to write doc-string on the following line numbers:
- If you're working for feedback_jobs_continuous, then follow this:
[code]
- otherwise, follow this:
[code]
Do let us know for which part you're working so that we can de-assign you from the other parts.
Than

[2018-01-31 16:51] apb7 commented on #1977
Hey @seanlip! I've updated the design doc.

[2018-01-31 18:35] apb7 commented on #4122
Hello @seanlip! Will removing these [lines](https://github.com/oppia/oppia/blob/develop/scripts/run_frontend_tests.sh#L43:45) from `run_frontend_tests.sh` help to fix this issue?
Thanks!

[2018-01-31 18:49] DubeySandeep commented on #4122
Hi @apb7, If you'll remove `source $(dirname $0)/setup.sh || exit 1` then how we gonna check whether karma and other frontend test dependencies are installed or not?
Currently, setup.sh use to install/check all node modules
[code]

[2018-01-31 18:55] apb7 commented on #4122
Okay, understood. Thanks, @DubeySandeep!

[2018-01-31 19:41] srikant-ch5 commented on #4600
@tjiang11 I want to work on this issue...

[2018-01-31 20:15] #4559 closed, assigned to nithusha21

[2018-01-31 20:17] WickedBrat commented on #4632
Hi @DubeySandeep, here if we click on the "Continue" button it restarts the exploration again. It does no harm though.

[2018-01-31 20:47] nithusha21 commented on #4566
Hi @seanlip This seems to be an issue with regex matching substituting $1(first group) with the value x. I'll take a look at this.

[2018-01-31 20:50] bansalnitish commented on #4295
I would like to work on this issue !

[2018-01-31 21:59] akumar1503 commented on #4612
@seanlip on my machine e2e tests doesn't fails due to 'document unloaded' error but due to some others like element not visible... thus making it difficult to relocate the cause.
@BenHenning can you tell on which test you are getting the this error and i will try to run that.

[2018-01-31 22:17] BenHenning commented on #4612
I don't recall which test at the moment (I haven't looked at this for a few weeks), but as I recall it wasn't a consistent failure. I think I was primarily running the editorAndPlayer tests, too. It would sometimes fail for that reason (and it became worse when I was working on one of them).

[2018-01-31 22:47] DubeySandeep opened #4634 "Deleting imageInteraction should delete the responses."
**Steps to reproduce:**
- Create a card with image Interaction.
- Add some responses (i.e, select some region, add feedback & save response).
- Delete the image interaction.
- Add new interaction and select "Image region" (again).
- Upload a different image.
- You'll see the earlier responses are still there (i.e, responses to earlier imageInteraction).
Also, some console errors:
![screenshot from

[2018-02-01 01:37] #4582 closed, assigned to tjiang11

[2018-02-01 02:42] aks681 commented on #4632
@WickedBrat The functionality does remain the same but it may be misleading to anyone using it, as Continue usually means going to a new card (which was not visited before).

[2018-02-01 03:26] Sunil16202 commented on #4374
Thanks, I understand, what's thing I was doing wrong.

[2018-02-01 05:43] Sunil16202 commented on #4374
Thanks, I understood, what's a thing I was doing wrong.

[2018-02-01 05:44] Sunil16202 commented on #4374
Thanks, I understood, what's a thing I was doing wrong.
I am working on stats_jobs_continuous.

[2018-02-01 13:08] ishucr7 opened #4635 "Make the Advanced feature settings(in creator mode) more intuitive."
The expected behaviour : Change the explanation text in the advanced features as the settings is enabled or disabled. (Similar to one in Suggestion email box).

The observed behaviour : The explanation text does not change as the settings (advanced feature) is changed.

Steps to reproduce the problem : Go to the advanced features in the settings tab(in creator mode). Change the settings by clickin

[2018-02-01 13:28] VishalVatsal97 commented on #4635
Hi....What do you mean by changing the text?? I am thinking highlighting(or making it bold) the explanation text of the feature which is enabled..

[2018-02-01 18:19] aks681 commented on #4409
I'll have a look at this

[2018-02-01 23:01] tjiang11 commented on #4600
Hi @sriks123! It looks like @yashLadha is still working on this (how's it going yashLadha?). If he is unassigned (either voluntarily or due to lack of response) then you can begin work on it!

[2018-02-02 04:02] yashLadha commented on #4600
I am working on the workaround with the same library. May be it needs some
preprocessing to save the MP3.

On Feb 2, 2018 4:31 AM, "Tony Jiang" <notifications@github.com> wrote:

[2018-02-02 06:05] EvsChen commented on #4628
Hi @kevintab95. Can I work on this issue?

[2018-02-02 10:46] kevintab95 commented on #4628
Hi @EvsChen -- sure you can take it up! :)

[2018-02-02 13:35] ishucr7 commented on #4635
Hi @VishalVatsal97  changing the text -- describing whether the current setting is enabled / disabled in addition to what would be the effect of the setting if enabled / disabled. For reference, see the Suggestion email box in the setting tab.

[2018-02-02 22:56] #4612 closed, assigned to akumar1503

[2018-02-03 05:42] seanlip opened #4639 "At the end of refresher lessons, the mechanism to go back to the main lesson is confusing."
Refresher lessons are those that have a "parent" field in the URL. When reaching the end of these lessons, students don't realize that the summary card is clickable.

We have decided to do the following as a hotfix:
- Change the "Suggested next" heading to "Click here for next lesson" -- in fact, maybe just use a different "Continue" button that goes straight to the next lesson
- Remove the "Retur

[2018-02-03 06:39] anookeen commented on #4374
@shubha1593 Can I start working on core.jobs?

[2018-02-03 06:46] vibhor98 commented on #4374
Hi @anookeen , Have you signed the CLA first? If not, please check out this [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started and then, you can move ahead.

[2018-02-03 07:00] anookeen commented on #4374
Yes @vibhor98  I have signed up the CLA.

[2018-02-03 07:02] vibhor98 commented on #4374
Great! @anookeen , I've assigned you. You can go ahead! :)

[2018-02-03 07:07] anookeen commented on #4374
Thanks :) @vibhor98

[2018-02-03 08:22] seanlip opened #4640 "Allow custom placeholder for FractionInput."
Feature request: add a customization arg to FractionsInput that allows the creator to specify a placeholder. This placeholder, if non-empty, should override the default placeholder.

Note that this will also entail an exploration migration (to add the additional field to the customization args).

[2018-02-03 08:25] seanlip opened #4641 "Add a "has fractional part exactly matching" rule to FractionInput"
Feature request: add a rule saying "has fractional part exactly matching" to FractionInput, so that we can check the fractional part of what a learner enters.

(Also, ensure that the validation for this rule plays well with the existing checks, and doesn't introduce any spurious validation errors.)

[2018-02-03 08:29] seanlip commented on #4640
References:
- See https://github.com/oppia/oppia/commit/90dc036008e572b0f3b01d81650aaf600f9387a1#diff-e9c1ba30dea3ada6c70e548655621ea2R2101 for a similar example of migrating interaction customization args.
- See #4390 for a relatively recent migration that shows which parts of the codebase to modify (this PR will be much smaller since much fewer frontend changes are needed).