[2016-03-22 08:19] BenHenning commented on #1587
Thanks, Oskar! I will take a look at this soon (probably Wed).

On Mon, Mar 21, 2016 at 12:55 PM, Oskar Cieślik <notifications@github.com>
wrote:

[2016-03-22 08:23] ansarimofid commented on #1622
@BenHenning  Below are the png icon's list along with link to font-icon

Hamburger button -> available in font-awesome [bars](http://fortawesome.github.io/Font-Awesome/icon/bars/)
icons in follow us section -> available in fontawesome [G+](https://fortawesome.github.io/Font-Awesome/icon/google-plus-square), [youtube](http://fortawesome.github.io/Font-Awesome/icon/youtube-play/), [facebook](http://

[2016-03-22 12:17] garbanzos commented on #1615
@charisseysabel May I know the color code of the colors used in the footer?

[2016-03-22 14:58] anuj1995 commented on #1625
I made that changes in the code as suggested but while commiting, its showing me error.

[2016-03-22 14:59] anuj1995 commented on #1625
I made required changes in the code as suggested but while commiting, its showing me error.

[2016-03-22 16:12] garbanzos opened #1631 "The text in the sidebar of the privacy page is italicized."
The text in the sidebar of the privacy page is italicized:
![image](https://cloud.githubusercontent.com/assets/12397473/13958453/14766868-f08b-11e5-8403-cc2a9a804f70.png)

It should not be italicized. As seen on the about page:
![image](https://cloud.githubusercontent.com/assets/12397473/13958404/e812acaa-f08a-11e5-90e1-2fd525ee3566.png)

This issue happened on browsers: Google Chrome	49.0.2623.87

[2016-03-22 16:56] anuj1995 commented on #1628
I would like to work on this

[2016-03-22 18:47] garbanzos opened #1633 "The foundation link in about page misses the header "The Foundation""
After clicking the foundation link in the about page, this is shown:
![actual](https://cloud.githubusercontent.com/assets/12397473/13963721/6c4921dc-f0a1-11e5-8cef-813fb5ab217f.PNG)

But the expected result is:
![expected](https://cloud.githubusercontent.com/assets/12397473/13963730/76f1be82-f0a1-11e5-9f9c-96e8d915a37b.PNG)

Used google chrome 49.0.2623.87

[2016-03-22 20:28] jacobdavis11 commented on #1025
Relevant design doc: https://docs.google.com/document/d/1ZDmLN66f53WdDPItFChu9Lr37z0dKoqR-ASX8UM5y60/edit

[2016-03-22 20:51] jacobdavis11 commented on #300
Relevant design doc: https://docs.google.com/presentation/d/1739rdsovPACGuiBVdNRpN_vJJSAP2OCuOOrO_lYbji8/edit#slide=id.ga0512ab09_1_1

[2016-03-22 23:01] bbriggs commented on #1580
I'm unable to reproduce your problem on either version Ubuntu I tested. Can you please try this from a clean machine and let me know if you encounter the same issue?

[2016-03-23 00:18] bbriggs commented on #1629
Numpy build executed successfully on a clean build of Precise-64 for me.

[2016-03-23 00:19] bbriggs commented on #1629
From the `oppia` directory, can you please try running the following two commands?
[code]

[2016-03-23 00:47] prasanna08 commented on #1617
Hi @wxyxinyu,
Is this functionality here being discussed ?
![search](https://cloud.githubusercontent.com/assets/8678373/13972432/c3153b96-f0be-11e5-876a-3f748d02d979.jpeg)

And when we click unselect all button, everything should be unselected.
If that is right, then I have fix for this issue.

Thanx

[2016-03-23 01:25] kevinlee12 commented on #1510
Thanks @jacobdavis11!

[2016-03-23 01:36] kevinlee12 commented on #1633
Looks like there is a small class typo.

[2016-03-23 01:52] kevinlee12 opened #1636 "Create caching for Travis"
Create caching for Travis to speed up testing. The directories that would be cached are:

-   `../oppia_tools/`
-  `../node_modules/`
-  `third_party/`
-  `core/templates/prod/`

The rationale is so that Travis does not have to spend time to continuously rebuild and redownload these packages for every PR/build.

[2016-03-23 04:35] feelcoder commented on #1629
@bbriggs , chromes pops up but webpage is unavailable. https://gist.github.com/feelcoder/709a5aac4a26e1a0b75d

[2016-03-23 05:19] #1633 closed

[2016-03-23 05:25] seanlip commented on #1625
One sec -- I don't think we're going to be making the change you proposed here, @anuj1995 -- the About page is in the process of undergoing a more thorough redesign. @charisseysabel can elaborate, but I'm closing this issue in the meantime.

[2016-03-23 05:25] #1625 closed

[2016-03-23 05:32] seanlip commented on #1622
Yep, it's fine to replace the pngs with fontawesome or material-icons. Would you like to submit a PR, @ansarimofid? I do think it's a good idea to reduce the dependence on separate png images.

Also, for other thread readers: note that this issue is related to #1075.

[2016-03-23 05:34] seanlip commented on #1628
@anuj1995 go for it! First, though, what is your proposed fix? I suggest you describe it here and get an ok from @jacobdavis11 or @wxyxinyu or @BenHenning before going forward with implementation.

[2016-03-23 05:35] seanlip commented on #300
Actually, I don't think that doc is relevant; it was for something different.

Not sure if we should do this -- it's not high demand. Marking as "todo: triage" for future discussion.

[2016-03-23 05:41] seanlip commented on #1624
FYI, Oppia's design does not match material design completely; this is on purpose.

Also, we've actually had very good feedback on the current learner view, so I am not keen on redesigning it (especially with an untested UI); besides, we have a lot of other things to do, too! In general, issues should be opened if there's a usability or functionality problem, but I'm not sure what (user-reported)

[2016-03-23 05:41] #1624 closed

[2016-03-23 05:48] seanlip commented on #1613
Great, I've assigned you (sorry for the delay!) I don't think the learner view button is necessary, and I'm not sure why the creator would want to visit the gallery. If anything, maybe a button to their creator dashboard would be sensible?

Also, I suggest going ahead and doing implementation with some text that looks sensible, so that your code can be looked at while @whygee works on the text. Th

[2016-03-23 06:00] seanlip commented on #1360
Hi @giritheja -- we currently have some folks ( @oppia/frontend-new-gallery ) working on a redesign of the gallery, which includes this carousel. I'm not sure where they are at present, but I think there should be something you can take up. @kevinlee12 can you please give @giritheja an update on where the gallery work is and help him get started?

[2016-03-23 06:15] mcab commented on #1636
Hello,

I've forked Oppia, tried caching these directories above, and then letting Travis-CI run through. From what I've observed:

- [No caching](https://travis-ci.org/mcab/oppia/builds/117892359) resulted in 10/6/18 minutes build time for only linting, only front end tests, and only back end tests, respectively.
- [After ../node_modules/ was cached](https://travis-ci.org/mcab/oppia/builds/117894

[2016-03-23 07:28] 526avijitgupta opened #1637 "Feedback popover in the learner view overflows the screen when logged out"
![screenshot from 2016-03-23 12 59 39](https://cloud.githubusercontent.com/assets/7583815/13978453/30998b9e-f0f7-11e5-8a53-308746f1a102.png)

#### Steps to Reproduce:
1. Create a new exploration and publish it to the gallery.
2. Logout and open the learner view for that exploration.
3. Click on the Feedback button on the right top.

#### Expected behavior:
The popover should be displayed, but it s

[2016-03-23 12:19] prasanna08 commented on #1504
Hi @seanlip
I decided to take a look at this issue again.
Rather than using textAngular's minified rangy version, I included rangy as a dependency and it seems to be working in textAngular version "1.5.0" as expected. I played around with it and everything was just as it was before.
So what do you think, this can solve our issue ?

[2016-03-23 13:43] seanlip commented on #1504
That sounds good! So, does that mean textAngular's version of rangy doesn't get imported if we include our own?

It does sound like a fine solution, so if it works please feel free to submit a PR.

/cc @AllanYangZhou @kahkhang

[2016-03-23 14:19] prasanna08 commented on #1504
No It is not like that. If we include rangy in third party libs then we do not need to textAngular's minified version of rangy. TextAngular will use our included rangy version.
And there is also possibiltiy that frontend test will still fail with v 1.5.0 of textAnguler, because it uses require() functionality but v 1.4.2-3 should work fine.
So let me do some more testing and I will brief you on al

[2016-03-23 18:38] jacobdavis11 commented on #300
They both cover export of statistics, though the document seems focused on JSON format rather than CSV. And presumably we wouldn't want to implement two different export systems using different formats :-)

My vote would be for not doing either as it seems quite difficult and I don't see a clear demand.

[2016-03-23 19:50] yousefhamza commented on #1545
I have that same problem and while trying to fix it passed along the 500 error too.

First the issue problem what the link says is true there's a fix and a possible fix:
fix: make a `virtualenv` and run the script it will pass
possible fix: just install python from python.org website

The 500 error issue, it's because of Google app engine, it only works with numpy 1.6.1- Check [here](https://cloud

[2016-03-23 21:01] bbriggs commented on #1629
Ah, okay. So it appears that is is not a numpy issue, or at least it doesn't appear to be.

Can you open a python session and `import numpy` just to make sure you have the module installed? If so, I think we can put the numpy thing to rest and look for the root cause elsewhere.

[2016-03-23 21:12] yousefhamza commented on #1637
I'd work on this

[2016-03-23 23:02] stephanie-barry commented on #756
Hi Yi,

Yes, let's say my sentence is this:

Click here to visit Google's website.

I want to link the words "Click here" to go to www.google.com.

In Oppia, here is what I would like to occur:
I select the words "Click here" with my cursor
I click on the icon for "link"
The editor pops up and the text I had selected is already captured in a
"text to display" box.

See gmail as an example.
[image:

[2016-03-24 00:08] seanlip commented on #300
OK, let's close this.

On Thursday, March 24, 2016, Jacob Davis <notifications@github.com> wrote:

[2016-03-24 01:30] prasanna08 commented on #1504
Hi @seanlip
All testing done, everything is working fine.
Changes I did are:

1. Upgrade version of textAngular to 1.5.0
2. Add rangy in third party dep
3. Modify getPageContext() in explorationContextService

I will make a PR soon.

[2016-03-24 02:28] kevinlee12 commented on #1360
HI @giritheja, we're currently in the process of pulling out gallery components from the current gallery page as detailed in #1510. For this issue, I think the best way to approach this is to create a new group (similar to Math & Statistics, etc) that pulls from a list of explorations with the featured tag. Then, list the "Featured" group in the list of groups. Hope that helps!

[2016-03-24 02:36] zechamkank commented on #1366
Are there existing API's for the functions in the mockup (ex: average rating, total plays, new feedback, list of explorations) or would those have to be implemented first in the backend?

I'm asking because I'm interested in this project for GSoC but I'm not sure where on the stack most of the work will need to be done.

Hope to get a response soon, thanks!

[2016-03-24 02:48] kevinlee12 commented on #1636
Hi @mcab, Thanks for taking on this issue. I was wondering if signed the [CLA](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up) (I noticed you have a PR, thanks!). Those were indeed what I had in mind. In regards to the caching, we could even cache the pip installations (though the time savings do not seem too significant). @BenHenning can comment too.

[2016-03-24 03:56] razat249 commented on #1366
Are These design's and wireframes final or we get a chance to work on UI/UX part because i love working with designs.
Looking forward for your response.
Thank you

[2016-03-24 04:24] mcab commented on #1636
Ooh, just submitted my CLA, thought I had submitted it before.

The dependencies pip installs for Oppia to run (numpy and pylint) are cached, because they install into ../oppia_tools/.

In the .travis.yml file, Pip installs codecov (which also installs coverage and requests) into the virtual environment. Do you mean to cache these three pip packages as well?

[2016-03-24 04:57] rachelwchen commented on #1366
<img width="821" alt="oppia 0323 gallery" src="https://cloud.githubusercontent.com/assets/12159451/14008773/3c41c420-f142-11e5-9069-088047b1a43e.png">
<img width="819" alt="oppia 0323 list" src="https://cloud.githubusercontent.com/assets/12159451/14008772/3c417894-f142-11e5-86c7-abbeec0b5330.png">

[2016-03-24 05:28] razat249 commented on #1366
Looking great.

[2016-03-24 12:57] bbriggs commented on #1636
Yes, we should cache Pip packages. The downloads are moderate in size for Pip stuff, but numpy actually requires compiling. If we can sidestep the compile process, we can save several minutes on the build.

[2016-03-24 13:01] bbriggs opened #1643 "Report Travis Build Status/Issues/PRs to Gitter and Freenode/#oppia"
This could potentially get rather noisy and may not even be a good idea. That said, we should discuss if we want to use the IRC channel (or Gitter, if possible) to monitor the status of builds, PRs, and other things Travis can tell us.

Relevant link: https://docs.travis-ci.com/user/notifications/#IRC-notification

[2016-03-24 13:17] wxyxinyu commented on #1617
@prasanna08 Yes, that looks good, thanks!

[2016-03-24 13:32] prasanna08 commented on #1617
@wxyxinyu
One more question, should this button be added to Language selection as well ?

[2016-03-24 13:46] wxyxinyu commented on #1617
@prasanna08 -- yes, that will be good.

[2016-03-24 17:24] 526avijitgupta commented on #1643
@bbriggs @CuriousLearner Related discussion: http://talk.growstuff.org/t/gitter-instead-of-or-as-well-as-irc/239/2

[2016-03-24 18:13] prasanna08 commented on #1617
@wxyxinyu I have added a PR for this fix
Thanx

[2016-03-24 18:40] zechamkank commented on #1366
I'm curious, what did you use to create the wireframes? They look really nice.

[2016-03-24 23:36] bbriggs commented on #1643
Thanks for that. So what was the ultimate conclusion from that team?

[2016-03-25 03:48] BenHenning commented on #1636
I agree with @bbriggs. I think numpy is the longest part of our setup time. There might be some other caching possible, but it's probably not worth it until we get the integration tests working with Travis.

[2016-03-25 03:59] BenHenning commented on #1619
Isn't the second one already implemented (showing them at the end of an exploration)? Also, how will this integrate with collections? Will it recommend collections? If an exploration is played within the context of a collection currently, the end suggested explorations come directly from the collection rather than from the recommendation system. Are there plans to changing that or perhaps making i

[2016-03-25 05:08] kevinlee12 commented on #1636
Agreed with @BenHenning and @bbriggs. I should have said earlier that the cached pip packages were from `codecov`, numpy and Oppia pip packages are already cached (unless I'm seeing something different in the Travis logs).

[2016-03-25 09:02] mcab commented on #1636
@kevinlee12 is right; the installation for pip, numpy, and pylint (lines [246, 247, and 248](https://travis-ci.org/mcab/oppia/jobs/118091745#L246)) are already cached.

`codecov` and its dependencies (`coverage` and `requests`) are [not cached](https://travis-ci.org/mcab/oppia/jobs/118091745#L150) and are installed in a virtualenv outside of Oppia's typical installation. I'll try and see if I can

[2016-03-25 09:17] razat249 commented on #1366
I am also interested to know. Is it Sketch?

[2016-03-25 10:15] mcab commented on #1636
Got pip caching working. [Before](https://travis-ci.org/mcab/oppia/jobs/118437614#L155) versus [After](https://travis-ci.org/mcab/oppia/jobs/118443157#L154) - the packages for `codecov` aren't downloaded every time.

[2016-03-25 13:22] 526avijitgupta commented on #1643
@bbriggs There wasn't an ultimate conclusion as such. I posted it since I'm not sure why Gitter wasn't considered as the first choice instead of IRC.

Nevermind, I'm mentioning the procedure to integrate Travis Build Info to Gittter by the means of a webhook:

1. In the room you want to add the Gitter notifications to, click on the "Configure your integrations" (IMHO we should create a new room ju

[2016-03-25 14:41] souravbadami commented on #1622
@seanlip , I would like to submit a PR.

[2016-03-25 16:52] rachelwchen commented on #1366
Yes! Sketch :-)

[2016-03-25 17:44] kevinlee12 commented on #1636
Hmm, ideally it would be great if we don't have to compile codecov every
time. Would it be possible if we can skip the entire compiling step
completely?

On Fri, Mar 25, 2016 at 3:15 AM, Mark Cabanero <notifications@github.com>
wrote:

[2016-03-25 20:55] jacobdavis11 opened #1648 "Enable the sharing of exploration editing rights with non-users of Oppia"
Enable exploration creators to share editing rights with people they know who do not already have Oppia rights, by sending them links that will enable them to create an account and thereby gain editing power over the exploration in question.

Design doc: https://docs.google.com/document/d/1yo8pIaWC3mimXtRhd4UPTHP4WARSnzDsrC2iEXCukWk/edit

[2016-03-25 23:48] BenHenning commented on #1463
This has been addressed in #1464's mocks.

[2016-03-25 23:48] #1463 closed

[2016-03-25 23:50] BenHenning commented on #1462
Functionally, this is very nearly complete. I am just wrapping up tests for the validation code and a PR will be created shortly.

[2016-03-25 23:57] BenHenning opened #1649 "The number of stars and views for an exploration should be valid on summary tiles shown in a collection"
For context, see #1558. A screenshot from that issue:

![Collection viewer screenshot](https://cloud.githubusercontent.com/assets/8039608/13504803/15ec8c52-e19c-11e5-9331-0264770817dd.png)

Notice how the number of stars and views on the tile are ``N/A`` and ``NaN``, respectively. This is not ideal. The stats should be properly sent to the collection learner view and used when showing the explorat

[2016-03-26 01:49] bbriggs commented on #1643
In retrospect, I'm not sure why I didn't mention Gitter before since that's our primary method of communication :)

Updating title accordingly.

[2016-03-26 01:52] bbriggs commented on #1636
Interestingly enough, it took 4 seconds longer to use the cached version of Codecov than by installing it via pip. Is that consistent?

[2016-03-26 01:57] bbriggs commented on #1636
The cached version took 2.5 seconds on another job. Hooray for consistency.
https://travis-ci.org/mcab/oppia/jobs/118443159#L154

[2016-03-26 02:34] kevinlee12 commented on #1636
I think it would probably be best if we can check if coverage has been
installed before actually installing it (perhaps specifying the version
might be better). But given that this package installation savings is very
small (and inconsistent in time savings), I'm not sure its worth the
tackle.

On Fri, Mar 25, 2016 at 6:57 PM, Bren Briggs <notifications@github.com>
wrote:

[2016-03-26 02:48] bbriggs commented on #1636
The check would be trivial to apply, but I agree. We're talking about 3-4 seconds of savings overall on that package.

[2016-03-26 12:43] 526avijitgupta commented on #1649
Hi @BenHenning, I'd like to take on this one.
Also, I had opened up an issue a few days earlier https://github.com/oppia/oppia/issues/1637 . Could you please add the relevant labels to it ?

[2016-03-26 20:19] feelcoder commented on #1629
@bbriggs  It shows there is no module call numpy

[2016-03-26 21:23] mcab commented on #1636
Haven't found Travis-CI buillds where `coverage` was checked, doesn't feel like the improvement would be super beneficial. Considering these builds are ran in rebuilt virtualized environments, variability is inevitable, hence why I looked at time differences to the minute.

Also, not sure if a check is really needed, since `codecov` is installed and ran in Travis-CI builds. Wouldn't the recreation

[2016-03-26 23:47] kevinlee12 commented on #1636
Hmm, good point. In that case, it might be best to just either leave it as it is (with `codecov` cached) or remove `codecov` caching all together since it doesn't make a huge difference either way. What do you think, @bbriggs?

[2016-03-27 00:34] prasanna08 commented on #1648
Hu @jacobdavis11,
So here we have to implement a link based explorations rights sharing system ?
I have some idea on how this can be done.
But I do not understand what does tech (instruction) tag means.
Wiki says that it means overall solution is known but needs more instruction.
So what one has to do in this tag issues ?
Thanx

[2016-03-27 01:44] jacobdavis11 commented on #1648
"tech (instructions)" means that we have a design doc but still need to work out all the details before coding can begin.

@kevinlee12 Is this something you would like to implement yourself or are you happy for other people to work on it?

[2016-03-27 02:13] kevinlee12 commented on #1648
I'm happy if other people tackle this, as I won't be able to get to this
until new-gallery is shippable.

On Sat, Mar 26, 2016 at 6:44 PM, Jacob Davis <notifications@github.com>
wrote:

[2016-03-27 03:09] bbriggs commented on #1636
Yeah, I think I mentioned above that the time savings on Pip caching for Codecov were negligible and in some cases slower than getting it straight from Pip. Additionally, caching does not avoid the install/compile process it seems. We don't really achieve any time savings with Pip caching, so it's making me wonder in what cases it might be useful.

So yeah, let's drop Pip caching and I think we ca

[2016-03-27 03:42] anthkris commented on #1344
@jacobdavis11 @seanlip Howdy! I started working on this and much of the structure, including the logic to begin the tutorial upon creation of the very first exploration seems to already be in place.  But I've run into a couple of snags I wanted to ask about.

Firstly, the Add Interaction / End Exploration button doesn't show up in the editor until there is some content in the card. Highlighting th

[2016-03-27 03:58] prasanna08 commented on #1648
Ohh My bad,
I was browsing through issues on my phone so did not see that it was already assigned.

@kevinlee12, since it is already assigned, if you want take over the issue.

[2016-03-27 04:07] jacobdavis11 commented on #1648
@prasanna08  I've re-assigned the issue to you. I suggest you start by adding some more details into the design doc and thinking about where changes would be needed in the code.

[2016-03-27 04:11] kevinlee12 commented on #1648
@prasanna08, no worries. I'll be happy to assist if necessary :)

[2016-03-27 04:39] #1631 closed

[2016-03-27 04:56] prasanna08 commented on #1648
Thanx @jacobdavis11, but before doing editing I would like to discuss my plan/solution for this feature and have some feedbacks.

So whole feature can be divided broadly in 2 parts:

1. Creators should be able to obtain a link that will enable others(who have link) to edit the exploration
2. Making it possible for other used to be able to edit explorations using link we generated above.

So first

[2016-03-27 05:01] prasanna08 commented on #1497
Hi @seanlip
Even after updating textAngular (#1504) this issue is still there.
I think this both issues should be solved independently.
What do you suggest ?

[2016-03-27 16:16] souravbadami commented on #1628
@seanlip, We have two options here. Either we can modify the card to adjust the status of the feedback or we can reduce the description for a fit.
![screenshot from 2016-03-27 21 44 07](https://cloud.githubusercontent.com/assets/11073943/14066365/45de7eb2-f465-11e5-9e16-f785ab86b139.png)

[2016-03-27 17:24] CuriousLearner commented on #1643
Thanks for your inputs @526avijitgupta

@bbriggs Shall I go and create a PR editing the `.travis.yml` file? How are we intend to test this integration?

[2016-03-27 17:34] bbriggs commented on #1643
I'd like to hold off on it for now until we get input from @seanlip or @BenHenning (or another maintainer). We have a _lot_ of issues and PRs, so there could potentially be a lot of noise from this.

[2016-03-27 21:56] bbriggs commented on #1602
Update: Frontend tests are working great. Backend tests run, but a lot of them are erroring (but not failing).

e2e is connecting on 4445 and chrome-webdriver is starting, but then it just times out. Still troubleshooting and testing with Chromium (and now Chrome as well).

I'm going to go ahead and send a PR with the working frontend and mostly working backend tests while finishing up the e2e stu

[2016-03-27 23:49] bbriggs commented on #1629
Thanks. Let me try to reproduce this again with a Ubuntu 12.04 machine. In the meantime, does `sudo pip install -U numpy` work?

[2016-03-28 01:46] p4rsec commented on #1345
Here's an idea: cycling through the letters in Oppia, in different colors. For a larger loading screen, possibly having the word 'Oppia' and all the letters doing a "wave" sort of movement, with an animated Oppia logo below it.

Example for larger logo: https://drive.google.com/open?id=0B3aVGYDrufINdWZVM3JrTW8zeDA

I'll see if I can come up with an example for the other logo. Let me know what you

[2016-03-28 04:44] mcab commented on #1636
Done. #1640.

[2016-03-28 04:57] kennho commented on #1075
Hello I would like to work on this issue and have submitted a PR #1642 for this issue.

[2016-03-28 13:09] CuriousLearner commented on #1368
Hi @seanlip I guess we can close this issue now?

[2016-03-28 13:37] CuriousLearner commented on #1366
Hello, I'm just attaching here more wire-frames that could be useful for this project.

Here are equivalent mocks (for the one posted by @rachelwchen) on mobile screens:

![oppia_mobile-1](https://cloud.githubusercontent.com/assets/8039608/14078953/8a233f42-f517-11e5-889d-2b4a67598866.jpeg)
![oppia_mobile-2](https://cloud.githubusercontent.com/assets/8039608/14078958/8e52aad0-f517-11e5-982b-166e7f

[2016-03-28 14:35] CuriousLearner commented on #1280
Hi @seanlip @wxyxinyu Can you please explain this a little bit?

[2016-03-28 18:13] jacobdavis11 commented on #1344
Hi Kristin

My suggestion would be to make the "add interaction" button always visible,
as it's going to be confusing if the button appears during the tutorial and
then disappears again at the end.

I'll leave the css to Sean as I'm not familiar with our loading system
there.

Cheers
Jacob

On Sat, Mar 26, 2016 at 11:42 PM, Kristin Anthony <notifications@github.com>
wrote:

[2016-03-28 18:55] jacobdavis11 commented on #1648
Your design makes sense and I agree that shareID should not be generatable from explorationID. However I don't think we really need a new model to hold these things. Could we not add to ExplorationRightsModel random shareIDs for each of the possible permission levels? Then the url can contain both the explorationID and the shareID, enabling us to look up the relevant rights model and determine if

[2016-03-28 20:04] bbriggs commented on #1345
@p4rsec, can you please open up permissions on your Google drive file so we can view it (or better yet, upload it to your Imgur but don't publish to the gallery)

[2016-03-28 20:11] p4rsec commented on #1345
Here's an updated link: https://drive.google.com/folderviewid=0B3aVGYDrufINYXhvRmZDajQ3ZG8&usp=sharing

Should work fine now. I'll try to get up an example for my other idea this afternoon.

[2016-03-28 20:59] seanlip commented on #1345
Hm, not very keen on the wave here -- I'm not sure that the animation adds much, and it can be annoying.

I think it might be worth thinking about this from the user's perspective. They're waiting for something to load. What would they like to see / what do they care about?

Btw, re format, .png or similar is fine. Thanks!

[2016-03-28 21:04] p4rsec commented on #1345
You make a valid point. Back to your idea related to random informational quotes, I certainly think it would work well. Possibly drawing information from the topic they are loading itself? Although that possibly could become too in-depth for a loading screen. I'll ponder it some more and see what else I come up with.

[2016-03-28 21:15] seanlip commented on #1643
So, I don't really understand what the user-facing effects of this change will be. What exactly will get posted to gitter?

@bbriggs -- happy for you to make the call on IRC, since I actually only use gitter at the moment.

[2016-03-28 21:17] seanlip commented on #1643
Also, to be clearer about my first question: what events will trigger which messages?

I think reporting build failures is a good idea, for example. But reporting every time someone makes a comment on an issue seems like overkill. There's a whole spectrum of stuff in between these, so I'm wondering where the line is.

[2016-03-28 21:18] seanlip commented on #1368
Yes, thanks! Fixed in #1578; closing.

[2016-03-28 21:18] #1368 closed

[2016-03-29 01:09] #300 closed

[2016-03-29 01:10] p4rsec commented on #1345
@seanlip do you have any recommendations on progression? You say loading logo and then random snippets, so would that be like having a script to load a random loading logo or do you want a script that pulls random snippets to display under the logo? Basically, how in depth are you wanting this?

[2016-03-29 01:15] seanlip commented on #1345
I think the main first step is to come up with a nice-looking 'loading' icon that is consistent throughout the site, so that the user associates the icon with "ah, something is still happening".

The random snippets were just a suggestion that I've seen on other places (like Slack), but it's not necessary that we do this.

[2016-03-29 01:38] prasanna08 commented on #1648
Yeah I considered it but will not modification in existing model will create issues with current exploration ? Because they do not have shareID field in there existing version of ExplorationRightsModel.

and

Lets say that we have 2 rights one is view and other is edit. So do you mean that we should have different shareIDs for each such right ? That means one exploration will have multiple shareID

[2016-03-29 02:52] seanlip commented on #1616
I think this is quite a nice idea, but it is a significant effort to implement.

@indranil-tiwary -- it looks like the GSoC application period has passed, but, just to check, is this an idea you are still interested in pursuing outside GSoC? (No worries if not!)

[2016-03-29 03:03] seanlip commented on #1649
Hi @526avijitgupta, I've assigned you. Thanks! I've also added labels to the other issue.

[2016-03-29 03:21] BenHenning commented on #1436
@seanlip, @wxyxinyu, and I discussed this during TL meeting. We decided the following:
- The codebase needs to be technically audited to determine if there are any race conditions (with specific sights set on global data access like repositories, memcache, and the data model)
- Determine how any data storage locations can be made thread safe
- Figure out how to notify maintainers to be cautious ab

[2016-03-29 03:24] BenHenning commented on #1430
Hi @bigblind, while triaging this bug we decided to close it for the following reasons:
1. Not enough people have reported an issue with the event_services module
2. There's not enough detail here to have a go-to plan on fixing the problem

If you're still interested in this issue, feel free to reply and we can re-open it and discuss it further. The next steps would be creating a design document w

[2016-03-29 03:24] #1430 closed

[2016-03-29 07:38] seanlip commented on #995
Hi @MAKOSCAFEE, any progress?

[2016-03-29 07:44] seanlip commented on #1544
@satwik97, are you still working on this?

[2016-03-29 07:46] seanlip commented on #1140
Discussed during TL meeting. We are going to delay this to after the exploration editor redesign.

[2016-03-29 07:46] seanlip commented on #1147
Discussed during TL meeting. We are going to delay this to after the exploration editor redesign.

[2016-03-29 09:06] seanlip commented on #1648
Hi @prasanna08, I just shared the doc with you. (If this happens next time, though, feel free to just request edit access.)

I'm not sure about the shareID thing. In my mind, what should happen is that the editor should just type the other user's email address into a field and say "share with this user" -- that would be easier than copying a link, going to an email application, and sending the lin

[2016-03-29 09:07] seanlip commented on #1648
Btw, we also need to figure out how to store the email address in the exploration rights model (so that we can show it in exploration settings). Maybe we could add an extra field there for pending invitations.

[2016-03-29 10:15] indranil-tiwary commented on #1616
@seanlip
If someone is interested to mentor I might still get a chance at GSoC I suppose. If not its okay.. I was really interested in having the experience.
But if its off then maybe "YES" it would be great if my few lines of code and design can help the community.. I would gladly contribute.
I'll try for GSoC next year no worries.. :D

[2016-03-29 11:16] bbriggs commented on #1643
This would just be for build/PR status, so we have the same options as with the email notifications:
  New PR opened (build started)
  Build passed
  Build failed
  Build changed

[2016-03-29 11:17] bbriggs commented on #1643
I was thinking along the same lines as you, that we should probably just report on failed builds.

[2016-03-29 11:37] souravbadami opened #1656 "Improper alignment of state and status of a card in suggestion thread."
![screenshot from 2016-03-29 16 43 50](https://cloud.githubusercontent.com/assets/11073943/14107085/6c152990-f5d3-11e5-8035-2c63f78e5473.png)

**Steps to Reproduce:**
- Create a new exploration and publish it to the gallery.
- Login as another user and navigate to the learner view of that exploration.
- Click on the _Suggest Changes_ button and suggest a change.
- Logout and login as the previous

[2016-03-29 13:03] bbriggs commented on #1643
@CuriousLearner, can you please send a change to just notify IRC about failed builds for now so we can get a concrete metric at how much traffic we can expect?

[2016-03-29 13:06] CuriousLearner commented on #1643
@bbriggs Sure, I'll set it up on a test channel :+1:

[2016-03-29 13:29] bbriggs commented on #1643
You can send it straight to Freenode/#oppia since there are only 3-4 people in there at any given time right now.

[2016-03-29 13:49] jacobdavis11 commented on #1648
Hi Sean

Sharing urls seems a much easier way of handling this for the user,
especially if they want to grant edit rights to several people at once, or
if they wish to send an invitation to a non-gmail address. There is also
something of a privacy issue with sharing via email address (which is why
we previously disabled it). If someone adds the email address of an
existing Oppia user, then we can'

[2016-03-29 15:22] satwik97 commented on #1544
Hi @seanlip Actually I am not able to get everything working at once , so I'm a bit exhausted by this issue. Sorry to say but could you assign this issue to someone else . I'd like to work for any different issue.

[2016-03-29 18:15] giritheja commented on #1656
@souravbadami Hey!
 I think you need not login as a different user, you can give feedback/suggest on your explorations and check it in the feedbacks of your explorations. @seanlip Should creators be able to do that?
@souravbadami Does this occur with feedbacks also?
Does this happen with different length card names?

[2016-03-29 18:30] souravbadami commented on #1656
@giritheja , Feedback and suggestions are different properties. Creators are not allowed to suggest but they are allowed to give feedback according to current build. Yes, the issue can be reproduced through the feedback section also.
The issue is same with different length card names.

[2016-03-29 22:04] bbriggs commented on #1643
FYI, @seanlip, this is what a notification looks like:

[code]

Like to add that to Gitter as well?

[2016-03-29 23:52] seanlip commented on #1643
Sure -- no objection.

Just to check, these messages will only appear if the build fails on the develop branch, right (and not on individual contributors' branches)?

[2016-03-29 23:53] seanlip commented on #1656
Good catch! Yep, seems worth fixing.

[2016-03-30 00:35] seanlip commented on #921
Hi @oparry -- how's this going?

[2016-03-30 00:45] seanlip commented on #1357
Hi, @brunnre8?

[2016-03-30 01:02] seanlip commented on #1648
I think this is all getting a bit unclear. For one thing, I think the shareIDs should be personalized to the recipient user, otherwise you'll run into things like someone posting the link on the internet. So I think you will need some kind of confirmation process.

I'm going to mark this issue as "TODO: UX", since IMO it needs a bit more design groundwork. @prasanna08, I have a suggestion, though

[2016-03-30 01:03] seanlip commented on #1410
@isaac-friedman -- ping?

[2016-03-30 01:11] seanlip commented on #1564
@kennho -- its status should change back to 'private'. (The behaviour should be the same as for explorations.) FYI, you can also see a local version of the datastore in localhost:8000; that should help you figure out what the collection's status is.

I'm not sure why you can't unpublish the demo collections. What error are you running into? Also, you might want to check case: see if you can unpubl

[2016-03-30 01:12] seanlip commented on #1085
Hi @hitesh96db -- I think you might find this project interesting. Would you like to take it on?

[2016-03-30 01:46] seanlip commented on #1344
Hm. I think there are essentially two ways we can do the tutorial: one is a guided tour at the outset, and the other steps the user through a mock editing session (type some content here, now click this button, now pick an interaction, etc.). I lean towards using mainly slides for the former (since we don't know if the 'add interaction' button or the rules section etc. would be present). The latte

[2016-03-30 01:52] seanlip commented on #1497
Yep, I agree -- it looks like they are independent.

I don't have a good idea about what to do next here, though. Do you know why there's a p/br difference? (I still get br's in the middle -- I typed the first sentence, then hit enter twice, typed the second sentence, etc. Am I right that you only get p's if you do that, on the textAngular demo site?)

[2016-03-30 01:55] anthkris commented on #1344
Okay, will do!

[2016-03-30 02:15] prasanna08 commented on #1648
Hi, @seanlip I looked at issue and design doc. I have got good understanding of that issue. Let see if the current assignee responds with something or not. May be he is already working on it.

For current issue, your concerns about getting shareID posted online are right. But I think such issues will exist. That is a risk of having shareID.

Consider following scenario.
Lets' go ahead with shareID

[2016-03-30 03:08] seanlip commented on #1648
Hm -- it is a sort of workaround, but I think it is confusing, and hard to understand from the creator's point of view. And the onus is on the creator to notice when a 'breach' occurs and take corrective action, which isn't so good -- the exploration may well have been vandalized by that time.

I think this is something where we'll need to go back to the drawing board and figure out what the core

[2016-03-30 03:09] seanlip commented on #1357
@prasanna08 -- I'm not sure if @brunnre8 is around, so I'm going to assign you for the moment. @brunnre8 -- if you've started working on this, please let us know, so that we don't duplicate stuff you've already done!

[2016-03-30 06:16] kennho commented on #1564
okay I have just submitted a PR @seanlip

[2016-03-30 10:24] prasanna08 commented on #1357
Thanks
I will start working on it asap. Let me go through the design doc once more.
Just to make sure in this category (tech breakdown) I have to breakdown the problem in separate chunks which will be implemented as separate PRs?

[2016-03-30 10:29] prasanna08 commented on #1497
When I do the same thing as you suggested above, I get something like
`<p>This is one</p><p><br/></p><p>This is two</p><p><br/></p><p>This is three</p>`
when I type
`This is one

This is two

This is three`

This is from textAngular website.
The issue with oppia is that when we write something like above we get same code as we get in oppia but space in two adjacent lines is more then space that we

[2016-03-30 10:34] prasanna08 commented on #1648
Hm , Okay but as of now I do not have idea of how we can deal with this feature without compromising any kind of security of user. In meantime while we are doing UX task here I will start working on other issue you assigned to me.
Thanx

[2016-03-30 16:00] giritheja commented on #1656
@souravbadami My bad I assumed them to be the same.

[2016-03-30 16:57] seanlip commented on #1497
Ah, I figured it out -- I was using Firefox and you were using Chrome. It's weird that textAngular is behaving differently in these two circumstances.

Yep, let's try increasing the margin on p tags; that seems reasonable. (But it wouldn't really work if someone is using Oppia in Firefox, right? So we'd also have to modify textangular-in-firefox to use p tags as well, but that can be tackled in a

[2016-03-30 17:02] seanlip commented on #1357
Yes, that might be a good idea. Let's do the discussion in this issue thread (or the doc) first, though. Then, when we agree on the milestones (and the order to do them in), we can go ahead and create separate issues for them.

Just for reference, here's an example of a [project plan](https://docs.google.com/spreadsheets/d/1INdYHD0OLX6tWZ4trryiakg9fjlQPB1S3o1yRmFcREs/edit#gid=408046818) we've used

[2016-03-30 17:06] seanlip commented on #1628
Fixed in #1651. Thanks @souravbadami!

[2016-03-30 17:06] #1628 closed

[2016-03-30 17:07] souravbadami commented on #1656
@seanlip , How's this ?
![screenshot from 2016-03-30 22 34 36](https://cloud.githubusercontent.com/assets/11073943/14150680/d13d936c-f6c7-11e5-9609-1568d4d9b8d1.png)

[2016-03-30 17:08] seanlip commented on #1637
Fixed in #1650. Thanks @souravbadami!

[2016-03-30 17:08] #1637 closed

[2016-03-30 17:09] seanlip commented on #1622
Fixed in #1655. Thanks @souravbadami!

[2016-03-30 17:09] #1622 closed

[2016-03-30 17:11] seanlip commented on #1619
Yes, the end-of-exploration ones are already recommended.

I think this issue was created based on an older design doc -- I'll modify the title etc. accordingly. Note that it doesn't take collections into account, since the design doc existed before collections did. I think the remaining thing here is to display recommendations in the gallery.

[2016-03-30 17:13] seanlip commented on #1544
OK, no worries! Let's keep your PR (#1572) around, though; it could be used as a starting point for whoever would like to take this up.

Would you like to pick another issue from the issue tracker?

[2016-03-30 17:14] seanlip commented on #1656
Looks good to me. Does it work on smaller screens too?

Also, is there a way to get the title ("Feedback from a learner") to not wrap?

[2016-03-30 17:55] giritheja commented on #1360
Hey, @kevinlee12 Sorry for the late reply. I missed your comment. I will look into it now.

[2016-03-30 18:22] souravbadami commented on #1656
@seanlip , Yeah! It works on smaller screen also. The wrapping part can also be solved by increasing column grid size.
![screenshot from 2016-03-30 23 47 28](https://cloud.githubusercontent.com/assets/11073943/14152637/e0494450-f6d1-11e5-972e-827ca3894475.png)

[2016-03-30 18:31] seanlip commented on #1656
Looks good! Can you do a PR? (You might also want to test this out with titles, state names and statuses of different lengths.)

[2016-03-30 18:34] souravbadami commented on #1656
@seanlip, Sure! I'll perform the tests and submit a PR.

[2016-03-30 19:22] BenHenning commented on #1464
Thanks for the feedback @jacobdavis11.

1. No branching will be supported in the initial collection editor. This functionality may be added later.
2. Yes, that's correct. The skill will probably have the name of the exploration being completed. I think skills are going to be more useful once we figure out what branching conceptually means in a collection, as well as when we extend collections beyo

[2016-03-30 20:54] seanlip commented on #1656
Fixed in #1660. Thanks @souravbadami!

[2016-03-30 20:54] #1656 closed

[2016-03-30 21:03] souravbadami commented on #1656
@seanlip , Welcome!

[2016-03-30 21:04] seanlip commented on #1613
Hi @526avijitgupta -- would you mind adding, to this issue, a screenshot of the exploration editor with the modal open? Then @whygee can suggest any textual changes.

Thanks!

[2016-03-30 21:22] 526avijitgupta commented on #1613
@seanlip @whygee Here is the screenshot:
![screenshot from 2016-03-31 02 51 31](https://cloud.githubusercontent.com/assets/7583815/14158016/89b117d4-f6eb-11e5-95d0-9ebd64ad9037.png)

[2016-03-31 00:14] BenHenning opened #1662 "Adding music notes through Add Response dialog does not work"
Currently, when the Add Response dialog in the exploration editor requires adding a note (such as when selecting the 'is equal to' rule for the music note interaction), the add response dialog shows a number input field rather than a note field. This causes some really strange things to happen in the exploration editor which permanently breaks the state of the exploration, even if you delete the r

[2016-03-31 03:33] seanlip commented on #1160
@dpaparis -- FYI, it might be worth giving a description of what you want to do in this issue thread, before doing a final implementation. Note, also, that an important thing in this issue is to make sure that nothing breaks, so it's worth checking that the front-end still does the right thing if there are backend errors!

[2016-03-31 04:38] seanlip commented on #1629
From the gist, this doesn't seem like a numpy issue. It seems like a missing prerequisite.

@feelcoder -- can you type the error message (no module named sqlite3) into a search engine, and look through the solutions that come up? I think you might have to install libsqlite3-dev or sqlite-devel -- see [here](http://stackoverflow.com/questions/1210664/no-module-named-sqlite3). You can also test by g

[2016-03-31 04:40] seanlip commented on #1643
Also, @CuriousLearner -- are you still interested in looking into this? (Just checking if I should leave your name in the assignee field.)

[2016-03-31 04:44] seanlip commented on #1579
Closing this -- thanks, @satwik97!

@jacobdavis11 -- should the instructions in the wiki (re the e2e tests) be modified accordingly to explain the email/username convention?

[2016-03-31 04:44] #1579 closed

[2016-03-31 04:47] seanlip commented on #1577
@526avijitgupta, @hitesh96db -- would one of you be able to provide a reproducible test case for this issue, i.e., a series of steps like "check out develop, do X, do Y" that enables others to try and replicate what's going on? I think that would help this get fixed.

Thanks!

[2016-03-31 04:48] seanlip commented on #1556
@gvishal -- are you still planning to work on this? If so, please let me know, and I'll reassign you. Thanks!

[2016-03-31 04:50] seanlip commented on #1542
Hi @rishabhs95 -- did you make any progress with this?

[2016-03-31 04:54] seanlip commented on #1535
Marking this as a starter project.

Note to contributors: the aim of this particular starter project is just to figure out what's causing this. We'll then assess how difficult a fix would be, and relabel accordingly.

[2016-03-31 04:55] seanlip commented on #1525
@deepank411 -- I'm going to deassign you for now, but please let me know if you'd like to take this on!

[2016-03-31 05:00] seanlip commented on #1507
Hi @thecyclone -- sorry, I seem to have missed your comment. The first step would be to come up with some graphical mocks for a sensible redesign of this modal.

[2016-03-31 05:05] seanlip commented on #1494
@kediamanav -- did you make any progress?

[2016-03-31 05:09] seanlip commented on #1360
Hi @giritheja, thanks -- I just assigned you! Just a thought -- it might be a good idea to outline your implementation approach here first before actually doing any coding.

[2016-03-31 05:16] seanlip commented on #1435
Hi @Shukla -- is this something you would be interested in looking into?

[2016-03-31 05:19] seanlip commented on #1434
@philoniare -- just checking, are you still interested in looking into this?

[2016-03-31 05:21] seanlip commented on #1411
Ping -- @arun1595, are you still looking into this?

[2016-03-31 05:22] seanlip commented on #1402
Hi @indranil-tiwary -- did you get a chance to make some mockups for this? If so, it'd be nice if you could post them on this thread!

On the other hand, please let me know if you're no longer interested, and I'll de-assign you from the issue. Thanks!

[2016-03-31 05:24] seanlip commented on #1372
Hi @disissid -- just checking, are you still interested in working on this?

[2016-03-31 05:31] seanlip commented on #1280
Hi @CuriousLearner, sorry for the delay in responding!

Basically, each user has an impact score, which can be seen on their profile page. It is a rough measure of their contributions to the community, measured based on the quality and number of good explorations they create. The aim of this issue is to find a way to display this score alongside their username, similar to Stack Overflow.

[2016-03-31 05:43] seanlip commented on #1079
Combining this with #1544 (and closing it).

[2016-03-31 05:43] #1079 closed

[2016-03-31 05:46] seanlip commented on #991
I also wonder whether we might as well just remove underline. I'm not sure people use it much nowadays, and it doesn't look so good on the web...

[2016-03-31 05:48] seanlip commented on #946
@prasanna08 -- is this related to #1497?

[2016-03-31 05:58] seanlip commented on #827
This is a duplicate of #1376. Closing.

[2016-03-31 05:58] #827 closed

[2016-03-31 06:03] seanlip commented on #566
NB: this is superseded by #1424.

[2016-03-31 06:03] #566 closed

[2016-03-31 06:05] seanlip commented on #1019
@BenHenning -- the second part of this is done, right? (If so, could you please edit the title?)

[2016-03-31 06:14] seanlip commented on #152
Duplicates #1618. Closing.

[2016-03-31 06:14] #152 closed

[2016-03-31 08:11] CuriousLearner commented on #1643
Hi @seanlip , Yes I'm interested :)

[2016-03-31 08:46] kediamanav commented on #1494
@seanlip No I did not.

[2016-03-31 09:38] MinhHuong commented on #1614
Could I take this task :) ? I can begin first by reviewing the writing style on the **navbar**. In the writing guideline there is a rule for capitalization. It can be applied for few buttons such as _Create Exploration --> Create exploration, All Categories --> All categories, My Explorations --> My explorations_, etc.

After that, could I review the writing style of **Oppia user documentation** (

[2016-03-31 12:14] prasanna08 commented on #946
No I don't think so this two issues are related. Issue here is produced due to copying of content from some other location while problem in #1497 is that there is no space between two paragraphs or space between them is too small that it looks like they are not different paragraphs.
Here issue is with `ctrl + v` keystroke of textAngular, the action taken upon keystroke is decided by them and highl

[2016-03-31 12:25] prasanna08 commented on #1497
Oh, I see
I tried in Firefox too and your deduction is correct but how textAngular site behaves does not affect us. Oppia still behaves same way as it does in chrome. This is may be because we do not use textAngular for sanitize purpose. So oppia is not affected of this issue.
On Firefox, too, we will have to increase margin-top for each `<p>` tags inside editor section. That will fix this visual

[2016-03-31 13:34] disissid commented on #1372
Hi @seanlip , yeah I'll update the PR in two days or so, Sorry for the delay, I am busy with some college projects.

[2016-03-31 13:38] prasanna08 commented on #1357
Hi @seanlip
I have approximated all the changes required in our codebase. This changes are as follows:

1. Adding new email intent in feconf. we can name it = 'exploration_memebership_invitaion_email'. Add SENDER_VALIDATOR for this intent in email_manager.py.
Upon giving a new user a role, saveChangeToBackend function of explorationRightsService is called in frontend. which in turn calls /createha

[2016-03-31 16:54] giritheja commented on #1360
Hey @seanlip , One way to go about it would be to create a new category for featured explorations from all the gallery groups and then update gallery groups.
Should the exploration appearing in the featured list also appear in their corresponding group list?

[2016-03-31 17:49] whygee commented on #1613
Hello, please find text recommendation in this doc:
https://docs.google.com/a/google.com/presentation/d/1m9ORhTf9JB4hdsFl0TG8siGcJDym4moG1r0b4RxQtaE/edit?usp=sharing

[2016-03-31 17:57] indranil-tiwary commented on #1402
I am on it.. Sorry was busy with assignment.. I shall submit it in next 24 hours.

[2016-03-31 18:20] bbriggs commented on #1643
So IIRC, if a user has turned on Travis for their own fork and fails a build, we will get a notification. However, the number of people that turn Travis on for their own fork is small, since a PR will be tested anyway and we have provided a local testing environment.

[2016-03-31 18:39] CuriousLearner commented on #1643
I guess not enough people would go and turn on travis on their fork.

After how much time we would be making decision of having it on gitter too?

[2016-03-31 18:42] seanlip commented on #1643
I think it's fine to report status on gitter. If it gets annoying, we can just turn it off again.

[2016-03-31 18:43] seanlip commented on #1372
OK, thanks @disissid!

[2016-03-31 19:56] seanlip commented on #1022
@wxyxinyu and I discussed this some time ago, in a different context. We think we know where the problem is.

What needs to be done is: we need to add something in core/templates/dev/head/player/AnswerClassificationService.js that passes the ruleSpec inputs through the expressionInterpolationService before the rule is evaluated. The "Lazy Magician" exploration was created at a time when it was sti

[2016-03-31 20:07] seanlip commented on #1360
Sounds reasonable -- though, if there ends up being too much divergence between that and the other gallery groups, it might be better to pass the featured explorations to the frontend as a separate data item, and then the frontend just happens to display them in a similar way as the other gallery groups. I suspect that that might be better, actually, since we aren't really planning to allow the he

[2016-03-31 20:14] seanlip commented on #1497
Hm, interesting. That suggests a browser-dependent CSS rule, which I haven't done before. We could try that approach and see how well it works.

[2016-03-31 21:09] anthkris commented on #1343
Mocks here: https://marvelapp.com/103d1ch#10921010
Design doc here: https://docs.google.com/document/d/1xhC1qOqQ5QH5bzVbUCtefnGAa07wv0S5KWyboZ6-ixU/edit

[2016-03-31 21:25] anthkris commented on #1344
@seanlip I think I've found where I need to place the welcome modal, but I don't understand how. Is there a built in way for me to create the welcome modal?

[2016-03-31 22:26] 526avijitgupta commented on #1613
Hi @whygee Could you please grant access to view this doc ? I've requested for the same.
Thanks.

[2016-03-31 22:36] 526avijitgupta commented on #1577
@seanlip I haven't faced this issue anytime except that once https://github.com/oppia/oppia/issues/1569 and haven't been able to reproduce it ever since. I'll surely report it to this thread if I am ever faced with this issue again.

[2016-04-01 01:07] hitesh96db commented on #1544
Hey @seanlip --
I looked at @satwik97's PR and noticed the use of a default identicon as a fallback in case the gravatar didn't exist. Instead of having a fixed identicon, we could instead use "jdenticon" as mentioned already in this thread. One way to implement this --
* In the "Sign up" page, where the user enters his/her username, we can have a hidden canvas element that generates the jdenticon

[2016-04-01 03:09] seanlip commented on #1577
Thanks, @526avijitgupta! I'll close this then, since we can't really act on it, but yep, please feel free to reopen this issue if it recurs.

[2016-04-01 03:09] #1577 closed

[2016-04-01 03:21] seanlip commented on #1544
Hm, I thought gravatar would generally return an identicon if the gravatar doesn't exist (and we could use that)? IIRC the default identicon was only meant to be a fallback for when the urlfetch to gravatar fails, which I'd expect to happen very rarely. That way, we can avoid including yet another third-party lib in the codebase.

[2016-04-01 03:22] seanlip commented on #1344
Hm, I'm not sure what you mean by "built in", but it might be worth looking at other modals (like the ones for save/publish exploration) to see how they're implemented. Does that help?

[2016-04-01 04:01] seanlip commented on #1344
You might want to look at, e.g., $scope.showPublishExplorationModal in core/templates/dev/head/editor/ExplorationEditor.js. The call to $modal.open() opens the modal, and the directive for the modal can be found in exploration_editor.html (with the id modals/publishExploration). The controller there refers to the modal, too.

As a reference, you can also check out the "Modal" section here: http://

[2016-04-01 07:31] seanlip commented on #1160
Also, just to clarify: the issue here is that get_json() in core/tests/test_utils.py does not work properly in the case where the GET request results in an error. The aim is to fix this, so that the get_json method can be treated similarly to post_json and put_json in the same file (i.e., it should be possible to pass expect_errors, expected_status_int to it).

A good way to try and reproduce this

[2016-04-01 07:49] seanlip commented on #1643
FYI, I pushed a commit to also report successes to gitter, otherwise it just looks like it's failed all the time.

I think this is settled now, so I'm going to close this issue. Thanks, @CuriousLearner and @bbriggs!

[2016-04-01 07:49] #1643 closed

[2016-04-01 08:19] souravbadami commented on #1656
@seanlip , @giritheja , I think the creators (or owners) are not entitled to submit a feedback for their explorations. Is it an issue ?

[2016-04-01 08:31] seanlip commented on #1656
Nope, it's fine for them to do so. They may be reporting a bug that they intend to fix later, for example.

[2016-04-01 08:42] souravbadami commented on #1656
@seanlip Ah,. Yeah! Thankyou.

[2016-04-01 08:44] hitesh96db commented on #1544
Oh, right. I thought the email should be registered on Gravatar, but it seems to work for any email hash.

[2016-04-01 10:55] CuriousLearner commented on #1643
Thanks @seanlip and @bbriggs

[2016-04-01 15:05] rishabhs95 commented on #1542
hey @seanlip , actually I was quite busy these days .... please keep moving with the bug... i will definitely catch up later sometime... sorry for the delay

[2016-04-01 16:34] giritheja commented on #1360
@seanlip By separate data item, you mean an additional array of featured explorations in the gallery group. Right?
Is the faster page load the reason for doing the processing of featured explorations at the backend rather than doing it at the frontend?
I should make a new branch and make changes. Right?

[2016-04-01 18:53] 526avijitgupta commented on #1649
Hi @seanlip @BenHenning , a couple of points:

The ranking is correctly being passed to the collection learner view and is working fine. The reason that it displays `N/A` is due to https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/exploration_summary_tile_directive.html#L53-L55 which is there since the number of ratings are below the required `MINIMUM_ACCEPTABLE_NUMBER

[2016-04-01 23:03] seanlip commented on #1360
- Yes, that's right.
- Nope, the reason for the separation is just because I think it's clearer conceptually. Each gallery group has a category tied to it, and its own separate webpage that will list all the explorations in that category; this one doesn't.
- Yep, making a new branch off of new-gallery and making changes there sounds good to me!

[2016-04-01 23:39] #1649 closed

[2016-04-01 23:40] BenHenning commented on #1649
Thanks for the investigation @526avijitgupta! I'm glad this turned out to be a simple fix in the end. I was thinking we could maybe add some guard to prevent this from happening in the future, but it seems minor at the moment.

Thanks for fixing it!

[2016-04-01 23:47] AllanYangZhou opened #1667 "Extra line breaks inserted on paste in RTE"
Platform: **Windows**
Browsers: Firefox, Chrome

Copy and paste with the RTE (using version 1.5.0 of textAngular) inserts extra line breaks. To reproduce, try copying any arbitrary line of text and pasting it. On Windows, you will get an extra line break before and after the pasted content.

This appears to be an issue with textAngular itself, and has been reported here: https://github.com/fraywin

[2016-04-02 00:21] seanlip commented on #1542
Thanks for the update, @rishabhs95! I've unassigned you from the issue.

[2016-04-02 01:10] seanlip commented on #1525
Note: @deepank411 attempted a partial fix here: #1565. It sets "width: 100%" on all 'img' elements in the frontend, which is far too broad. But this suggests a possible solution method: write a CSS rule that only applies to images within the RTE, and give them a width of 100%.

Having said that, we should check that this doesn't adversely affect *small* images -- we don't want to stretch those.

/

[2016-04-02 01:42] prasanna08 commented on #1525
Oh, I understand the issue.
Here we need to ensure that larger images dont go out of their parent division while at the same time shorter images should not be stretched, right ?
So we can do this by adding max-width property to oppia-noniteractive-image element.
Have I got it right or missed something ?

[2016-04-02 01:43] seanlip opened #1668 "The animation for "processing a search query..." in the gallery is broken."
It used to be the case that, when the user types a search query in the gallery, the magnifying glass icon changes to a "refresh" icon that spins. This doesn't seem to happen any more. We should figure out why, and fix it.

[2016-04-02 01:44] seanlip commented on #1525
I think that's right, but the question is whether it works in Firefox. There's already a max-width of 100% declared on all images, I think.

[2016-04-02 01:46] prasanna08 commented on #1525
Hmm I will do testing and see what can be done.
On 02-Apr-2016 7:14 am, "Sean Lip" <notifications@github.com> wrote:

[2016-04-02 01:47] seanlip commented on #1525
OK, thanks @prasanna08!

[2016-04-02 03:17] #1668 closed

[2016-04-02 03:19] #1662 closed

[2016-04-02 05:13] seanlip opened #1669 "In Firefox, entering plaintext in the content RTE for the first card does not do anything."
1. In Firefox, create a new exploration.
2. Click the content section of the first card to open its rich-text editor.
3. Type "abc" in that section.
4. Save the changes.

The "abc" disappears. This should not happen.

Note that this works correctly in Chrome. It also works correctly if you add a rich-text component (like a math expression) to the plain text. Finally, it also works if you use multi

[2016-04-02 05:28] feelcoder commented on #1629
@seanlip I downloaded libsqlite3-dev but can't still find it ias python library

[2016-04-02 05:36] seanlip commented on #1629
How about sqlite-devel?

Having said that, this seems like an issue with your local setup. It's probably worth looking around the internet for others who are running into the same issue, and seeing what they do to fix it.

[2016-04-02 05:50] seanlip opened #1670 "In the code REPL interaction, Skulpt does not seem to display underscores properly."
Create a new exploration and, in the first card, select the code repl interaction. Preview this card in the editor, and type something with underscores in it. The underscores do not appear. I suspect this is a small display bug (that might be fixable with CSS).

/cc @anuzis

[2016-04-02 05:51] seanlip commented on #1670
Here's an example where this happens. Note that EQUIPMENT_WEIGHTS actually has an underscore between the two words.

![no-underscores](https://cloud.githubusercontent.com/assets/10575562/14224747/2b3b28a8-f85c-11e5-83da-b4827c358ef4.png)

[2016-04-02 05:53] seanlip opened #1671 "In the code REPL interaction, highlighting doesn't seem to be visible."
In Firefox, create a new exploration and use the Code interaction. Select some part of the white area (so that you can type a key to overwrite it). In normal rich-text (or other) editors, the selection would appear highlighted in a different colour; here, the selection doesn't seem to appear at all (but it still exists, because typing 'A', for example, overwrites the selection).

The screenshot be

[2016-04-02 06:01] souravbadami commented on #1669
@seanlip , Which version of firefox produces this bug ? For **Mozilla Firefox 45.0**, it works fine.

[2016-04-02 06:05] seanlip commented on #1669
Hm, I'm on 44.0. That's interesting.

Just to check, are you on the very latest version of develop? (I.e. if you do git log, does that match the latest commit [here](https://github.com/oppia/oppia/commits/develop)?)

[2016-04-02 06:11] souravbadami commented on #1669
@seanlip , Yes.

[2016-04-02 06:14] seanlip commented on #1669
Weeird.

@giritheja @spyshiv @p4rsec do you see this too, or is it just me?

[2016-04-02 06:14] seanlip commented on #1669
(Also, @souravbadami, thanks for confirming!)

[2016-04-02 06:17] souravbadami commented on #1669
@seanlip , Anytime!

[2016-04-02 06:18] #1670 closed

[2016-04-02 06:36] souravbadami commented on #1671
@seanlip , Works for me. I've highlighted line 5 to 15.
![screenshot from 2016-04-02 12 04 07](https://cloud.githubusercontent.com/assets/11073943/14224905/53a27228-f8cb-11e5-9fc4-f0c9c111c404.png)

[2016-04-02 06:39] prasanna08 commented on #1669
Hi @seanlip
I also tried it on Firefox 44.0 and I have same issue as yours.
Also textAngular website behaves same way.
see this below:
![textAngularSite](https://cloud.githubusercontent.com/assets/8678373/14224913/842917bc-f8cb-11e5-8b24-0977fb2b1799.png)
Just go to textangular site and then select everything in editor, delete it and then when you write a single line no HTML code is generated in s

[2016-04-02 06:43] seanlip commented on #1671
Ah, no, not there -- that part works fine. Go to the preview tab (/#preview) of the editor page, and try that instead.

[2016-04-02 06:44] prasanna08 commented on #1525
Hi @seanlip
Just did some quick testing and I think this issue can be solved by adding a css property.
See this:
![issue-1525](https://cloud.githubusercontent.com/assets/8678373/14224927/14f333c2-f8cc-11e5-948a-0facc725453c.png)
See the selected text in windows seen on left side. I added that css entry using development tools.
And pic got resized correctly. The site opened in window is the same on

[2016-04-02 06:45] seanlip commented on #1525
That looks promising! Does it work correctly if the images are small (< 100% width of their container)?

[2016-04-02 06:50] MAKOSCAFEE commented on #995
Hi @seanlip  sorry for late reply, I was away for easter break. but i updated my branch and i encountered this set back. my test won't run to completion, they will just freeze at this step(see the screenshot) without going any further. I am wondering is it in my machine only? because I also updated the OS too.
![screen shot 2016-04-02 at 9 44 27 am](https://cloud.githubusercontent.com/assets/64092

[2016-04-02 06:56] seanlip commented on #995
Hi @MAKOSCAFEE, that's odd! Does it happen reproducibly?

Also:
- what browsers/operating systems does this appear on?
- what branch/commit is this?
- did you just run "bash scripts/run_e2e_tests.sh" and nothing else?

I'd suggest making a post to the gitter chat list, too -- that way, perhaps other folks can try doing the same thing, and with that you'll get more information about whether it's a

[2016-04-02 06:59] souravbadami commented on #1671
I think, I'm facing another issue. The code is not displayed on preview.
![screenshot from 2016-04-02 12 28 24](https://cloud.githubusercontent.com/assets/11073943/14224956/9688e47a-f8ce-11e5-9427-2b90e38f57ac.png)

[2016-04-02 07:00] prasanna08 commented on #1525
Yes it works as expected. Larger images are resized and smaller ones stay the way they were (no resizing).

[2016-04-02 07:10] souravbadami commented on #1669
It doesn't works everytime. I think the issue is with textAngular.
![screenshot from 2016-04-02 12 36 45](https://cloud.githubusercontent.com/assets/11073943/14224975/a95e77b2-f8cf-11e5-8a9e-417371902821.png)

[2016-04-02 07:13] spyshiv commented on #1669
@seanlip I am on mozilla 45.0 and it's working fine. But I have noticed something with mouse events in Save Draft button
1. Hover on the "Save Draft" Button It will open a popup  "Discard Draft"
2. Drag mouse down to "Discard Draft", It ( "Discard Draft" ) will disappeared due to some margin(Approx 2 pixels) between "Saved Draft" and "Discard Draft" .
3. Note If you drag mouse faster then it will

[2016-04-02 07:16] MAKOSCAFEE commented on #995
yes i have tried this since yesterday and the results are the same.
and:

-the browser is chrome and in OSX10.11.4
-i created new branch with just  updated develop branch it failed and i tried on develop branch the result are the same.
- i run bash scripts/run_e2e_tests.sh
I will ask this in gitter chat list  too.

[2016-04-02 07:17] seanlip commented on #1525
That's great! Sounds like it's worth making the fix, then.

(We should also check that, after the fix, it still works fine on Chrome.)

On Saturday, April 2, 2016, Prasanna Patil <notifications@github.com> wrote:

[2016-04-02 07:18] seanlip commented on #1671
That's unexpected. Any console errors?

I suspect a missing dependency -- maybe skulpt wasn't installed properly.

On Friday, April 1, 2016, Sourav Badami <notifications@github.com> wrote:

[2016-04-02 07:40] deepank411 commented on #1525
@prasanna08 @seanlip I already tried this, this works fine on firefox but on chrome the images present in the section below the options section stretch horizontally to fit the div.

[2016-04-02 08:00] souravbadami commented on #1669
@seanlip , The issue is with textAngular-1.5.0.

[2016-04-02 08:43] giritheja commented on #1669
@seanlip I have weird behaviour on my browser ( Mozilla 45.0 ). Initially my console did not give any errors and I had same issues as you (text was not being saved) but when I refreshed the page, I received the following errors:
![screenshot from 2016-04-02 14 08 55](https://cloud.githubusercontent.com/assets/8845039/14225321/7d39d534-f8dc-11e5-891e-c20bee7d3b70.png)
when I type in some text , the

[2016-04-02 15:10] souravbadami commented on #1671
Yes, http://pastebin.com/fRurUG8x

[2016-04-02 17:13] souravbadami commented on #1552
@seanlip , How will it be if we state in the description itself to enter one set value per line ?

[2016-04-02 21:16] seanlip commented on #1552
By "description", do you mean the content or the interaction? It would have to be the latter, I think, since we don't have control over the content.

It would be nicer if the set interaction automatically suggested (somehow) that answers should be entered one-per-line, but I agree that in the meantime a verbal reminder is a good idea.

[2016-04-02 21:16] seanlip commented on #1552
Do you think you could make a quick mock to show what you mean?

[2016-04-02 21:17] seanlip commented on #1671
Try deleting third_party/static/skulpt-0.10.0 on your machine, and rerunning scripts/start.sh. I think there's an issue with the skulpt installation.

[2016-04-02 21:36] souravbadami commented on #1552
@seanlip , Ya, I mean set interaction should suggest to add elements one per line.
![screenshot from 2016-04-03 02 54 06](https://cloud.githubusercontent.com/assets/11073943/14229144/cdbfdb2c-f948-11e5-84c0-c2375fc11040.png)

[2016-04-02 22:06] seanlip commented on #1552
Ah, ok. How about just changing "This set is empty." to "Add one item per line."?

[2016-04-02 22:09] souravbadami commented on #1552
Yea,. It'll be good.

[2016-04-02 22:12] seanlip commented on #1552
OK, would you be up for making a PR? Thanks!

[2016-04-02 22:17] seanlip commented on #1525
OK, I poked around with this a bit. @deepank411, which images are you referring to specifically? Note that @prasanna08's fix is a bit different, in that it prefixes "oppia-noninteractive-image".

Having said that, it seems to me that this isn't the right fix. The reason is: if you put a small-width image in the content section (and not the multple choice options section), it fills the entire width

[2016-04-02 22:18] #1564 closed

[2016-04-02 22:23] deepank411 commented on #1525
@seanlip the image gets skewed in the "Learner's Answers and Oppia's Responses" section in chrome when the width is set to 100%. I tried applying the exact same fix at the exact same spot of code. After doing this it worked fine on firefox but not on chrome.

[2016-04-02 22:24] seanlip commented on #1525
Ah yes, I see. Thanks for clarifying! In that case, yep, I think my previous comment still applies -- we need to figure out what's different between the non-interactive content environment, and the interaction/answers environments, and make the latter more like the former.

[2016-04-02 22:26] seanlip commented on #1525
We can also then add a note to the RTE directive saying: "if you use this, make sure the containing environment satisfies these conditions". In fact, we might even be able to find an elegant way to do it such that the RTE automatically comes with a "shell" around it that sets its environment up correctly, but that's a bonus.

[2016-04-03 00:11] seanlip commented on #911
@AllanYangZhou noted that this works in native textAngular. Perhaps something we did in our local version has disabled it by accident?

[2016-04-03 00:51] seanlip commented on #1268
Could not reproduce (@AllanYangZhou on Windows Firefox v45, @seanlip on Ubuntu Firefox v44, @kahkhang on Mac OS Firefox v45.0.1).

@jacobdavis11, is this still happening for you?

[2016-04-03 01:00] anthkris commented on #1344
Opened pull request, but didn't do it correctly. Opened as 1674

[2016-04-03 01:04] jacobdavis11 commented on #1268
No, I can't reproduce it any more. Closing.

[2016-04-03 01:04] #1268 closed

[2016-04-03 01:13] seanlip commented on #909
Update -- from a meeting @kahkhang, @AllanYangZhou and I had, we decided to just make Tabs, Collapsible, Image and Video into big blocks for now, and, in general, handle this issue via baby steps. A one-size-fits-all solution seems to be running into lots of problems (see #1426 and [this doc](https://docs.google.com/document/d/1sd1UvJDt3auH9ympIDgMvjwAFuJduiqarcBBeFSFHe8/edit)), and doesn't seem f

[2016-04-03 01:14] seanlip commented on #1497
/cc @AllanYangZhou

@prasanna08 -- Allan and I just met, and he's going to look into this (and #946), with the general aim of making people's content look nice. Perhaps both of you can collaborate!

[2016-04-03 01:16] seanlip commented on #1525
@deepank411 @prasanna08 would either of you like to take a look at this?

[2016-04-03 01:18] seanlip opened #1675 "Create a wiki page (under "References") that explains how the RTE works"
We should have a wiki page (under “References”) for new contributors who would like to work on the rich-text editor. Here are the general points it should cover:
- We use textAngular
- The files are located at XXX
- If you want to update a RTE component, here’s how to do it
- If you want to update the textAngular version, check the following first, and only upgrade if there are no regressions.
  -

[2016-04-03 01:26] seanlip commented on #1669
Hi @souravbadami -- thank you very much for bisecting! I think we'll need to dial our textAngular version back to 1.4.5, since we really can't ship like this. I'll do that. Just to check, though, how did you determine that the conflict point was there? Did you test using Firefox v44.0?

Also, @giritheja, @souravbadami, @spyshiv and @prasanna08: thank you for the testing and feedback! One thing: @s

[2016-04-03 01:51] seanlip commented on #1669
I've rolled textAngular back to v1.4.5, and it seems to work fine now. Closing this.

Also, noting that @souravbadami filed an [issue](https://github.com/fraywing/textAngular/issues/1134) about this on textAngular. Thanks, @souravbadami!

[2016-04-03 01:51] #1669 closed

[2016-04-03 02:10] spyshiv opened #1676 "Mouse hover event issue while trying to discard draft of new exploration"
1. create a new exploration. you will see the option "Save Draft" On the navbar.
2. Hover on the "Save Draft" Button It will open a popup  "Discard Draft"
3. Drag mouse down to "Discard Draft", It ( "Discard Draft" ) will disappeared due to some margin(Approx 2 pixels) between "Save Draft" and "Discard Draft" .
4. Note: If you drag mouse faster then it will not disappear as mouse fails to detect m

[2016-04-03 02:12] spyshiv commented on #1669
@seanlip I have filed mouse event issue on  #1676
Thanks

[2016-04-03 02:27] seanlip commented on #1613
Merged https://github.com/oppia/oppia/commit/3bcadb20a29902ea5bcd4e353cf7fb1500b571d2.

[2016-04-03 02:27] #1613 closed

[2016-04-03 04:23] prasanna08 commented on #1525
So what I understood from comments is that if we apply the fix which I and @deepank411 both tried then Firefox works as expected but it creates issue in Chrome in "Learner's Answers and Oppia's Responses" section. Is that correct ?
If it is then there is a way around this

I tested that
[code]
does not work in Chrome as @deepank411 said images in "Learner's Answers and Oppia's Responses" gets skew

[2016-04-03 04:35] #1617 closed

[2016-04-03 04:39] prasanna08 commented on #1357
Hi @seanlip
So I have listed all required changes.
If above looks okay then we can start dividing tasks. I think we can divide this as:

1. Implement send_exploration_membership_notification() function
2. Incorporate above function and make necessary changes in existing code base so that mail can be sent when a membership is given to some user.
3. Modify UserEmailPreferencesModel to add new boolea

[2016-04-03 05:06] seanlip commented on #1525
Yes, if I understand correctly, the fix results in issues with Chrome. However, I'm not keen on the suggested fix -- it is too special-cased, and if we were to add another interaction in the future that uses images, we're going to run into the same problem again.

Instead, I think it is better to figure out why it is working in the content section, and why it's not working in the other sections, a

[2016-04-03 07:54] seanlip commented on #1357
Hi @prasanna08,

I don't think the github issue thread is a good medium for this, so I created a [spreadsheet](https://docs.google.com/spreadsheets/d/1HIkpV0VRXkDSj3wDfE47IehVsR8zbiNU4ivXnIq7DV4/edit#gid=408046818). Let's write down the milestones there. I've also created an implementation plan section at the bottom of the design doc; feel free to edit it and add me in on specific sections which n

[2016-04-03 08:45] seanlip commented on #1602
Just to check, it looks like part of this was handled in #1653 -- is that right? (If so, might want to update the milestone checklist at the top of the issue.)

/cc @bbriggs

[2016-04-03 08:47] seanlip commented on #1602
(Update: I ticked the first three boxes; @bbriggs, is that correct?)

[2016-04-03 10:28] seanlip commented on #1552
Update: I've fixed this in the release branch. https://github.com/oppia/oppia/commit/bf8bb31ca468c0ce67ce5503589aeea2277b1078

[2016-04-03 10:28] #1552 closed

[2016-04-03 11:00] MAKOSCAFEE commented on #995
Sorry I have done a fresh install of oppia and seems to work now.

[2016-04-03 11:55] souravbadami commented on #1552
I was disconnected due to some issues, so i wasn't able to address the PR.
Thanks for the update!
On 3 Apr 2016 15:58, "Sean Lip" <notifications@github.com> wrote:

[2016-04-03 11:58] SongGithub commented on #1598
Hi Sean,
I think the issue is out of date. Because when I run the dev version Oppia locally, the icon indicated on your screen shot 3 weeks ago has been replaced by a text string 'Publish Changes'

Please confirm. If so, I'd like to suggest close this issue 'ticket'

[2016-04-03 12:02] souravbadami commented on #1669
@seanlip , I tested with firefox v44.0 and firefox v45.0. The issue exists
on both of them and works fine before the conflict point on both of them.
On 3 Apr 2016 06:56, "Sean Lip" <notifications@github.com> wrote:

[2016-04-03 13:53] bbriggs commented on #1602
Yep, milestone progress is accurate.

[2016-04-03 15:43] disissid commented on #1598
@SongGithub screenshot is of smaller window.

[2016-04-03 21:18] seanlip commented on #1598
Yep, this is for narrower screens, sorry for the confusion @SongGithub. I've updated the description in the first comment of the thread to clarify.

[2016-04-03 23:54] seanlip commented on #995
Whoops, sorry for the slow reply. I confirm that the e2e tests run fine on my machine, too (I've been using them to prepare the release).

[2016-04-03 23:58] seanlip commented on #1669
That sounds great. Thanks, @souravbadami!

[2016-04-04 04:27] SongGithub commented on #1598
Hi,
![screenshot from 2016-04-04 14 22 15](https://cloud.githubusercontent.com/assets/5997974/14238172/f35b366e-fa70-11e5-9039-d1e3511d8683.png)
![screenshot from 2016-04-04 14 23 12](https://cloud.githubusercontent.com/assets/5997974/14238171/f35b2868-fa70-11e5-815f-c19914a74284.png)
![screenshot from 2016-04-04 14 23 20](https://cloud.githubusercontent.com/assets/5997974/14238170/f35a7fbc-fa70-1

[2016-04-04 05:49] seanlip commented on #921
Hi @oparry -- ping?

[2016-04-04 06:21] MinhHuong commented on #1614
Do you think we should add a rule about using single quotation ('...') and double quotation ("...") to the writing guideline? I'm kinda struggling with this since I've started to update the writing style. When marking a special/technical/new words, we use both '...' and "...", which is not a consistent style throughout all the site. It'll be good if we could add a rule about this to our writing gu

[2016-04-04 06:27] seanlip commented on #1614
Hm, there is a rule here: https://github.com/oppia/oppia/wiki/Writing-style-guide#punctuation -- but that doesn't quite cover the case of "technical words". What do you think about italicizing them instead?

Also, could you provide a concrete example here, so that we're on the same page as to what you're referring to?

[2016-04-04 06:42] MinhHuong commented on #1614
You can take a look at this page: https://oppia.github.io/#/TheLearnerView. The words quoted from site such as "Pitch Perfect", "My Explorations", meanwhile 'Share' (a button) is enclosed in single quotation mark.

I just want to know...when do we use '...' and "..." on Oppia? Do we have a consistent rule about it?

For example:
- When speaking of new/technical words like 'Exploration', 'Card', 'T

[2016-04-04 06:45] seanlip commented on #1614
I lean towards single quotation marks for 'All Categories', 'Create', etc. and italics for new/technical words. Does that sound good?

[2016-04-04 07:08] MinhHuong commented on #1614
Originally the new/technicals words are shown as below:
![image](https://cloud.githubusercontent.com/assets/5687533/14240209/36008a72-fa6d-11e5-9059-4b77e314ce72.png)

So, if we apply italics, it'll become:
![image](https://cloud.githubusercontent.com/assets/5687533/14240315/11cc12b0-fa6e-11e5-894a-955b9d87a4fc.png)

Should we apply both italics and bold so it'll attract users' attention more? In

[2016-04-04 07:20] seanlip commented on #1614
How about just bold? The style guide says to use bold sparingly, but these words seem important to emphasize, so I think it's reasonable. Italics also provides emphasis, but I get the sense it's not enough. I think bold + italics is overkill.

[2016-04-04 07:29] MinhHuong commented on #1614
Okie, I think just bold is enough to emphasize on these words :-)

So, we'll use double quotation mark for dialogues, bold for important key words, and single quotation marks for the rest (name of button, title of exploration, etc).

[2016-04-04 07:33] seanlip commented on #1614
Yes, sounds good -- except, what do you mean by dialogues?

[2016-04-04 07:35] MinhHuong commented on #1614
Dialogues like this one:
![image](https://cloud.githubusercontent.com/assets/5687533/14240890/60296562-fa72-11e5-83f6-3c19aebe28dc.png)

[2016-04-04 07:35] seanlip commented on #1614
Ah, ok. Yep, I think double quotes sound sensible in that case.

I'll update the style guide.

[2016-04-04 07:38] MinhHuong commented on #1614
Okie, thanks :smile:!

[2016-04-04 07:46] seanlip opened #1678 "In Chrome, the share links in the learner view info card are squashed together."
1. Go to /admin and load any of the demo explorations. Also, turn on the sharing config properties for gplus, facebook and twitter.
2. Go to the gallery, and click on the relevant exploration tile to go to the learner view.
3. Click the info icon in the navbar, next to the exploration title. This opens up a modal.

In Chrome, the sharing buttons on this modal are all squashed together (see screens

[2016-04-04 07:49] seanlip opened #1679 "In the logged-out version of the editor view, the feedback tab overlaps the sign-in menu."
1. Go to /admin and load the welcome exploration.
2. Log out.
3. Go to /explore/0 and submit some feedback to the welcome exploration.
4. Without logging in, go to /create/0.

The navbar looks like the following:

![overlapping-navbar-button](https://cloud.githubusercontent.com/assets/10575562/14241174/feedb672-f9fe-11e5-9706-d0fbdfe73493.png)

Notice that the feedback tab overlaps the sign in but

[2016-04-04 07:54] seanlip opened #1680 "The sign-in dropdown looks awkward, and should be redesigned."
The sign-in dropdown in the current version of the navbar looks a bit awkward (see image below) and should be redesigned.

![sign-in-awkward](https://cloud.githubusercontent.com/assets/10575562/14241233/40ef8f8c-f9ff-11e5-892f-9c848f53c582.png)

Ideally, the red button would be smaller, but we need to check that this conforms with the relevant branding guidelines. An alternative would be for click

[2016-04-04 07:54] seanlip commented on #1680
(/cc @giritheja, who noticed this)

[2016-04-04 07:59] seanlip opened #1681 "Tweak the design of the exploration summary tiles in the gallery."
The top-right part of the cards in the gallery looks a bit awkward: the number of contributors (at the bottom-right of the globe) is hard to read, and a bit too close to the globe itself.

![gallery-card-redesign](https://cloud.githubusercontent.com/assets/10575562/14241359/f8b8b8dc-f9ff-11e5-8f84-a1cc2289394a.png)

This is a somewhat open-ended design problem -- perhaps it would be nicer to surro

[2016-04-04 08:03] seanlip opened #1682 "Add an OutputContains rule to the CodeRepl interaction."
We've had a request to add an OutputContains rule to the CodeRepl interaction.

The use case is as follows: the student will type in the body of a function, and their code will be checked by calling the function on several inputs and printing the results. We don't want to stop the student from printing their own stuff from the function first, though, hence the idea of checking to see whether a sub

[2016-04-04 08:09] oparry commented on #921
Hi @seanlip,
Sorry for the lack of response!  I've started working on this and I think I've mostly figured out how to implement the first milestone;  I should have some more time to work on it tomorrow evening, so I'll run my approach past you then, if that's ok?

[2016-04-04 08:11] seanlip opened #1683 "Remove the "Create Exploration" modal, so that clicking Create takes users straight to the editor."
We've received reports that users are not sure what to enter in the "Create Exploration" modal after they click on the "Create" button in the navbar. The aim of this issue is to remove the need for this modal.

The modal currently asks the user to specify a title, category, goal and language for their exploration, so we need to answer the following questions before implementation:

  * We can use

[2016-04-04 08:11] seanlip commented on #921
Yes, that sounds great -- thanks, @oparry!

[2016-04-04 08:33] giritheja commented on #1679
@seanlip Yeah. I think this can be solved by adding padding to the left side of sign in.
How can a non-creator see the feedback of an exploration?

[2016-04-04 08:39] 526avijitgupta commented on #1678
@seanlip Does decreasing the size of the social sharing icons seem to be a viable option ?
Also, I've just noticed that "+4" displayed inside the gray box is not very readable and looks like a few pixels more to the bottom of the circle.

[2016-04-04 08:57] seanlip commented on #1679
It's not well-surfaced now, but there are some ideas of adding a panel to the learner view that shows the feedback. Probably a separate discussion from this issue, though.

[2016-04-04 08:57] seanlip commented on #1678
Yep, that is viable. I agree the +4 doesn't look great, either; it would be nice to tidy that up. (We should make sure everything looks fine on both Chrome and Firefox.)

[2016-04-04 11:40] SongGithub commented on #1598
@seanlip Can you assign this task to me please?

[2016-04-04 12:39] SongGithub opened #1684 "Constant high CPU load through out running in Dev mode"
The CPU load is too high to perform well. As a result, the site, at least in Dev mode running on local machine, takes >1 minute to boot up since GAE is initialized + Last step in create new user takes long time too + when create a new Exploration, it also take a while.

I guess it is due to high CPU load, then OS has to schedule tasks around, then the site running tasks become not so Responsive. T

[2016-04-04 19:03] souravbadami opened #1685 "The advanced features in exploration settings do not have a disable option."
![screenshot from 2016-04-05 00 18 14](https://cloud.githubusercontent.com/assets/11073943/14260001/05bf60a4-fac7-11e5-8f01-35d55714b1c5.png)

**Steps to Reproduce:**
    - Create a new exploration and click on settings.
    - Scroll down to advanced features.

**Observed behavior:**
The advanced features in exploration settings do not have a disable option.

**Expected behavior:**
The advanced fe

[2016-04-04 19:31] seanlip commented on #1685
Thanks for the report! Yep, this sounds sensible. Note, however, that prior to disabling the editors for each advanced feature, we should check that the exploration isn't using that feature in any of the states (otherwise we show a warning and ask the creator: please remove the individual usages before turning the whole thing off).

[2016-04-04 19:42] seanlip commented on #1684
(/cc @bbriggs for info)

Thanks for filing this, @SongGithub. I think that yes, we probably could do more to improve latency and memory usage efficiency -- this is something that has historically had very little focus, so I wouldn't be surprised if there were large improvements to be had here.

Perhaps a good first step is to figure out some way to do profiling, then look for the largest bottlenec

[2016-04-04 19:43] seanlip commented on #1598
Sure thing, I've assigned you. Thanks!

[2016-04-04 19:44] souravbadami commented on #1685
@seanlip , ya, exactly!

[2016-04-04 19:55] seanlip commented on #1504
This is fixed as of release 2.1.5 -- thanks @prasanna08! Closing.

[2016-04-04 19:55] #1504 closed

[2016-04-04 19:56] souravbadami commented on #1681
@seanlip , How's this ?
![screenshot from 2016-04-05 01 21 46](https://cloud.githubusercontent.com/assets/11073943/14261227/45fbd160-facd-11e5-8b3e-fb9f16ba5c1d.png)

[2016-04-04 19:57] seanlip commented on #1681
Personally, I don't like it so much. The '1' is quite divorced from the globe, so I don't know what it refers to.

It might be worth coming up with a few ideas and asking for feedback on the gitter chat?

[2016-04-04 20:02] souravbadami commented on #1681
@seanlip , Thanks for the review! I'll come up with new ideas and mocks.

[2016-04-04 22:10] #1075 closed

[2016-04-04 22:43] souravbadami commented on #1681
@seanlip
![screenshot from 2016-04-05 03 30 48](https://cloud.githubusercontent.com/assets/11073943/14266273/a7144cf4-fae4-11e5-8313-561f9bf72a40.png)

[2016-04-05 04:47] seanlip commented on #1681
I like the idea, but red is usually used for warnings/errors. It may be appropriate for notifications, but it seems too strong here. How about the blue that we use in the exploration feedback tab?

[2016-04-05 05:58] kennho opened #1688 "Fallback edit button not working"
The edit button for the "Once the learner has made 300 unsuccessful attempts" is not working.
![screen shot 2016-04-05 at 1 48 42 pm](https://cloud.githubusercontent.com/assets/10682388/14272496/180e55b6-fb36-11e5-8646-a519fa7b4235.png)

[2016-04-05 06:17] seanlip commented on #1688
Note to contributors: please see #1566 (by @hitesh96db). The fix for this may be similar.

[2016-04-05 06:50] SongGithub opened #1689 "Running Oppia in Vagrant/Vbox may cause it to get stuck randomly"
I was doing performance evaluating #1684 using 'wrk' when the project running in Vbox repeatedly got stuck. It never finishes 'generating Css'. The wrk is a HTTP benchmarking tool, I use this to test if changes I made improve server's performance. However, The issue happened before I made any changes to Vagrant/Vbox at all, I was evaluating the original Vbox generated from the Vagrantfile.

Also,

[2016-04-05 07:56] souravbadami commented on #1681
@seanlip , It looks even better!
![screenshot from 2016-04-05 13 06 51](https://cloud.githubusercontent.com/assets/11073943/14274937/e52f46fe-fb31-11e5-8739-2cb220fdb192.png)

[2016-04-05 08:15] disissid commented on #1598
@SongGithub Just so you don't work on the same issue, I'm already working on making editor navbar responsive. #1594

[2016-04-05 15:05] philoniare commented on #1434
Hi @seanlip, I can definitely work on it. I stalled this one because I thought it might be an extraneous refactoring task since everything is still working fine. Let me know if it is still needed and I'll submit a PR with the fix.

[2016-04-05 18:02] seanlip commented on #1681
Yep, looks good. I'd suggest moving the box up a little bit, and maybe making it a little more "square" -- but, up to you, really. Want to submit a PR?

[2016-04-05 18:24] souravbadami commented on #1681
Yeah! , I'll submit a PR.
On 5 Apr 2016 23:32, "Sean Lip" <notifications@github.com> wrote:

[2016-04-05 18:39] indranil-tiwary commented on #1402
![ddff53d2-be1a-11e5-970b-e0349dc207f6 copy](https://cloud.githubusercontent.com/assets/14369478/14293795/c84e9cce-fb8b-11e5-9aef-1e2829ef9dbb.png)
Here is the first mock up for the button.. More coming soon..
Should i go with a flat red color?

[2016-04-05 21:55] oparry commented on #921
Hi @seanlip,
Here's what I have so far for the first milestone:

In **RouterServices.js**:
- Modify the path-change function to catch strings of the form */preview/* and
 1. Set _tabs.active = PREVIEW_TAB
 2. Extract state name and set active state
 3. Call `$rootScope.$broadcast('refreshPreviewTab')`.

- Mimic the functionality of `navigateToMainTab()` in `navigateToPreviewTab()`, adapting `_getC

[2016-04-05 22:02] souravbadami commented on #1679
@seanlip , How's this ?
![screenshot from 2016-04-06 03 21 58](https://cloud.githubusercontent.com/assets/11073943/14299449/1853a158-fba8-11e5-9a82-b87f9c8899a4.png)

[2016-04-05 22:08] AllanYangZhou commented on #911
@souravbadami As Sean mentioned, it turns out what we wanted was already built into textangular so I'm just going to go ahead and make the change to activate the functionality.

[2016-04-05 22:19] souravbadami commented on #911
@AllanYangZhou , Ah! I missed this thread. I just went through textAngular 1.4.5 (our current build). It has the indent and outdent functionality by default. Thanks for the update!

[2016-04-05 22:29] souravbadami commented on #1679
@seanlip , You mean adding a panel to the learner view to display the feedback stream ?

[2016-04-06 02:57] SongGithub commented on #1598
I am summarizing what need to be fixed in this issue:
1. Save/Publish button and Caret button have same height, and separate from each other by about    2px so that they are clearly two separate buttons

2. Dropdown list containning 'Discard' should only be activated by button-click on Caret button, not by hovering over Save/Publish button nor Caret button

(optional, mentioned in another issue bu

[2016-04-06 07:47] seanlip commented on #1598
Yep, all this sounds good. Thanks, @SongGithub!

[2016-04-06 07:49] seanlip commented on #1679
@souravbadami -- that looks nice! @kennho has submitted a PR already, though. How about I assign you to review it?

[2016-04-06 07:58] seanlip commented on #921
Hi @oparry -- yep, I think that sounds like a good plan! In particular, the idea of mimicking what's being done in the main editor tab is a good one.

Updating the preview tab correctly requires modifying ExplorationPreview.js. Instead of furnishing explorationInitStateNameService.savedMemento to the oppiaPlayerService.populateExploration() call, you'll want to furnish it with the currently-active

[2016-04-06 08:08] seanlip commented on #1402
Thanks, @indranil-tiwary! One question -- do you think you could show this in context, with a sample exploration graph? I don't have a good sense yet, from the images in this thread, of how this generally fits into the exploration graph.

Thanks!

[2016-04-06 08:19] seanlip commented on #1689
Interesting -- not sure what's going on here. /cc @oppia/backend-development-workflow, @bbriggs for info.

@SongGithub, just to check, is this seriously impeding your workflow?

[2016-04-06 08:33] souravbadami commented on #1679
@seanlip , Thanks! I'll review it.
On 6 Apr 2016 13:19, "Sean Lip" <notifications@github.com> wrote:

[2016-04-06 08:38] seanlip commented on #1357
Update: tech breakdown is complete (thanks, @prasanna08!) and is in the [design doc](https://docs.google.com/document/d/1Vhbt_6CivwmZWua6xAxRdBoB6mDXcovejRzfi7tNi9o/edit). It should now be possible to begin implementation.

[2016-04-06 11:46] indranil-tiwary commented on #1402
@seanlip it would be great if you can send me the screenshot of the exploration graph with present warning sign.. I can replace and design in the same context as you requested..

[2016-04-06 13:13] SongGithub commented on #1689
@seanlip Yes, running it locally, the Oppia seems to be extremely heavy on resources like Cpu load and memory, and consequently unstable: when memory is out, server quits without any warning.

Also, due to high Cpu load, it is very slow to run. Like taking several minutes to boot up the service, wait half a minute to refresh a page.

The issue could relate to my local machine config. I am using De

[2016-04-06 15:05] #1679 closed

[2016-04-06 15:06] #1688 closed

[2016-04-06 18:37] BenHenning commented on #1464
@amgowano, can you break down the work needed to complete this task? You're tackling some of the features in #1687, but it would be great to see an enumeration of all the work that's needed. If you can, please group the items into buckets representing PRs. For instance, in #1687 you have implemented the collection node graph with deletion functionality and removed the current node list. #1687 shou

[2016-04-06 18:58] #911 closed

[2016-04-06 20:16] #1636 closed

[2016-04-06 20:59] AllanYangZhou commented on #1667
Note: textangular was rolled back to version 1.4.5 in 78c64c9c9900f5c992c32af87161c6e59b89ea7e

[2016-04-06 21:04] AllanYangZhou commented on #1689
@SongGithub not exactly the same problem, but I am using the vagrant box also. When I was trying to lint a large number of files (before pushing) I ran into a problem where the VM said it ran out of memory and then I received the `-bash fork: Can't allocate memory` error. I resolved this by increasing the memory given to the VM from 1GB to 2GB in the virtualbox settings.

[2016-04-06 21:10] seanlip commented on #1667
@AllanYangZhou -- just to check, does this issue arise on 1.4.5?

[2016-04-06 21:19] maitbayev commented on #1667
Hi @seanlip, @AllanYangZhou
I investigated a little bit and still investigating this issue on textAngular side.
I know the reason but don't know how to fix.
This should work on IE, but not in others, because they had a problem typing into an empty paragraph on non IE browsers.

[2016-04-06 21:46] oparry commented on #921
Sounds good, thanks!

[2016-04-06 22:26] BenHenning opened #1695 "Provide a way to automatically provide backend constants to the frontend as actual constants"
Oppia has many constants defined in its backend domain files, including https://github.com/oppia/oppia/blob/develop/core/domain/rights_manager.py#L36 and https://github.com/oppia/oppia/blob/develop/core/domain/collection_domain.py#L32, among others. These constants must be reused in many places in the frontend. The mechanisms for getting these values from the backend to the frontend are less-than-

[2016-04-06 22:53] seanlip commented on #1695
@BenHenning -- is it reasonable to have a json file shared between the f/e and b/e that contains all relevant constants? We might even be able to generate a new version of this file per release for caching, so that it doesn't need to be fetched separately each time.

[2016-04-06 23:10] BenHenning commented on #1695
@seanlip definitely another viable solution. That would help get rid of a lot of feconf, which might be nice.

[2016-04-06 23:20] maitbayev commented on #1667
Also,
I believe that this bug appears on 1.3.7, as well as on 1.4.5.

[2016-04-06 23:50] seanlip commented on #1402
Hi @indranil-tiwary, the editor page changes over time, so it would probably be better if you set up a copy of Oppia on your local machine. Do you think you could follow the instructions on [this page](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md) to get started?

When you've set up a local instance, start the server, and click "Create" in the navbar -- then register to enter the ed

[2016-04-07 00:08] BenHenning opened #1696 "Determine the creation path for collections"
Right now, there has not been a lot of thought put into how users will navigate to the collection editor. There is a sloppy 'Create Collection' button which shows up on the 'My Explorations' page if the user has access to the collection editor, but this is not a viable long-term solution. What needs to be considered here is:

- In what circumstances is it appropriate to ask users whether they woul

[2016-04-07 00:14] #1462 closed

[2016-04-07 00:15] seanlip opened #1697 "Collections should have a language code"
Currently, explorations have language codes specified (in addition to title, objective, etc.) whereas collections don't. However, in order to determine which collections to show to users requesting learning material in a particular language, we'll need to know the language codes of the collections.

The aim of this issue is therefore to add a language code property to the collection storage model.

[2016-04-07 00:21] BenHenning commented on #1697
Adding an additional note for context: currently, the collection editor does not have a concept of warnings. It issues either warnings through the alerts service (which are essentially hard failures) or enumerates validation errors, which must be fixed before saving the collection. The warning for the language code should be a _soft_ warning, meaning the editor should not prevent the collection fr

[2016-04-07 01:18] seanlip commented on #1667
Hm, sounds like this should be reopened -- I'll do that. Thanks, @maitbayev, for investigating! However, it's quite minor, so I wouldn't worry too much about looking further into it for now.

[2016-04-07 01:25] seanlip commented on #1434
Hi @philoniare, I looked into this, and I suggest still making the change to remove success() and error() throughout the app. It looks like these methods are deprecated in later versions of Angular, which will cause us some work when upgrading the library in the future. We might as well port them over now; an advantage of doing so is that it establishes a consistent pattern for new frontend develo

[2016-04-07 01:41] SongGithub commented on #1598
I got stuck: Can any one tell me how does the Save Draft button dynamically shrink to an icon if screen size is narrow? By JS or CSS, where is the file in the project? Thanks

[2016-04-07 01:52] seanlip opened #1698 "Improve the visual design of the editor welcome modal."
We're trying to make the editor onboarding experience more intuitive, and efforts are currently underway in #1674. This introduces a new "welcome modal" that greets first-time users. It currently looks like this:

![editor-welcome-design](https://cloud.githubusercontent.com/assets/10575562/14338046/558a6b80-fc28-11e5-991d-1dc73159a931.png)

The current design of this modal looks a bit stark, and i

[2016-04-07 01:53] seanlip commented on #1698
/cc @anthkris

[2016-04-07 02:12] seanlip commented on #1598
Here's how to find out: grep for "Save Draft":

    `grep "Save Draft" . -r --exclude-dir=third_party`

then find the part of the code that refers to the "Save Draft" text. You're wondering why the text "Save Draft" disappears, so look at the class on that element (oppia-save-publish-button-label). Then do:

    `grep "oppia-save-publish-button-label" . -r --exclude-dir=third_party`

That should h

[2016-04-07 02:34] SongGithub commented on #1684
update:
I benchmarked website's performance when running locally: 41.8s to reload a page!
It took 26s waiting before response anything, and another 12s for 'Content Download'
![screenshot from 2016-04-07 12 24 16](https://cloud.githubusercontent.com/assets/5997974/14338793/022844b8-fcbd-11e5-8a2f-1a87e5e60c04.png)

[2016-04-07 02:51] seanlip commented on #1684
That's pretty horrible. I have no idea why the backend server is running so slowly, but I don't use Vagrant, so I can't really investigate. Though I'm a bit surprised that the Content Download time is so long, too, given that you're running everything locally.

In #1689, @AllanYangZhou suggested increasing the memory limit. Does that help at all?

/cc @bbriggs

[2016-04-07 08:40] seanlip commented on #1287
/cc @526avijitgupta

[2016-04-07 10:26] maitbayev commented on #1667
Hi @seanlip,
Just to check, was there any other issues with 1.5.0 other than this?
Otherwise, we could use 1.5.0.

[2016-04-07 10:29] seanlip commented on #1667
Yes, a pretty serious one actually. https://github.com/oppia/oppia/issues/1669

[2016-04-07 10:43] SongGithub commented on #1684
@seanlip The 'out of memory' issue has never happened since I followed his advice and increase it to 2 GB. I haven't got a Stress test done yet though.

[2016-04-07 12:35] bbriggs commented on #1689
Yes, please be aware that since Vagrant creates a VM using your provider
(typically VirtualBox), you are free to make whatever tweaks you want
after provisioning.

If we find that a certain tweak needs to be consistently made, we can
incorporate it with the Vagrant buildout.

On 04/06/2016 05:05 PM, Allan Zhou wrote:

[2016-04-07 12:36] bbriggs commented on #1684
I know that the other day we had talked about streamlining Oppia to make it a little less resource intensive. Do we know what _actual_ minimum system requirements are?

[2016-04-07 14:19] MAKOSCAFEE commented on #995
progress:
I managed to get SourceLabs' chrome browser connected and running under linux platform. though some errors, but we wont need to install chrome in travis anymore(which was a headache).
![screen shot 2016-04-07 at 4 57 09 pm](https://cloud.githubusercontent.com/assets/6409210/14354124/c96da924-fce4-11e5-9720-6417ddda2316.png)

[2016-04-07 15:06] MAKOSCAFEE commented on #995
Update:
i got all test to run:
7 failed, 5 passed.still figuring out reason to why some elements can not be clicked. which is the reason to those all 7 to fail.
![screen shot 2016-04-07 at 6 02 32 pm](https://cloud.githubusercontent.com/assets/6409210/14355832/1b697fd6-fceb-11e5-896d-fa4909d12a4d.png)

[2016-04-07 15:29] philoniare opened #1699 "Adding explicit error messages with $http requests"
**Related**: #1136, #1434
As mentioned in #1136, there is a need to create explicit error handling in some cases. I have encountered a few cases with $http.get(..).success(); calls without explicit .error handling. This issue will handle possible cases where requests can fail and provide accurate debugging messages through warningsData.

[2016-04-07 15:30] philoniare commented on #1434
Sure @seanlip, I'll submit a PR with the changes. A separate issue has been creating in regard to point 1 (issue #1699)

[2016-04-07 18:01] MAKOSCAFEE commented on #995
The error is something like this. to all seven failed test.
` Failed: unknown error: Element is not clickable at point (864, 101). Other element would receive the click: <li class="oppia-exploration-warnings-text ng-scope" ng-repeat="warning in getWarnings() track by $index">...</li>`

cc @jacobdavis11 @seanlip

[2016-04-07 19:22] seanlip commented on #1699
Copying notes from #1434:

[2016-04-07 19:40] seanlip commented on #1684
I don't, unfortunately. I only know that it works on my machine.

I seem to recall that @kevinlee12 ran into some performance issues a while back when running the e2e tests, and I think he was using an older computer at school at the time. So there's definitely a limit somewhere. I don't know what that is, though.

[2016-04-07 23:51] #1681 closed

[2016-04-07 23:53] philoniare commented on #1378
Hmm, can I work on this? Do we need a design document?

**Proposal**:
create a toggle in exploration editor for normal and markdown modes. I am assuming, in markdown mode, the normal buttons would add the markdown equivalent for images, lists and etc. What should happen to videos?

Any pointers for implementing this are greatly appreciated. I'll take a look at the relevant sections of the code in

[2016-04-08 00:27] seanlip commented on #995
Hi @MAKOSCAFEE, this is *fantastic*! I think it's a very big step forward; congratulations on getting it to work!

I took a look at the SauceLabs dashboard, and it seems like now, only four tests fail. I have a suspicion about why this may be happening -- I actually fixed some [e2e errors](https://github.com/oppia/oppia/commit/065c53ca8d4cd5a3a3ad8c5e772e6fc4fc908b48) in these tests just before th

[2016-04-08 00:58] bbriggs opened #1701 "Migrate docs from wiki to docs/ directory."
Hosting docs on the wiki limits edit permissions to those with write access to the repository. Including our documentation in a `docs/` directory and hosting externally via a service such as [Read the Docs](https://readthedocs.org/) will allow documentation to be created and edited by the community in the same way as the rest of the codebase. It will also allow documentation to be viewed locally a

[2016-04-08 01:46] prasanna08 commented on #1357
Hi @seanlip
I have implmented first milestone here (https://github.com/prasanna08/oppia/commit/52a70332132d06337790abf2570a6b932850e503)
It fulfils all the requirements including tests.
So how are we going to do this ?
I mean a PR for each milestone or should I implement all in my Local Repo and a single PR for all of them ?

[2016-04-08 01:50] seanlip commented on #1357
Hi @prasanna08, I suggest making a PR for each milestone. We can then commit each PR to develop as it comes in -- I believe we've arranged things such that a release can still happen at the end of any of the milestones, and that wouldn't have any adverse effects (such as broken-looking features) on users. (Btw, this was the main point of figuring out the milestones and being careful about the orde

[2016-04-08 02:30] prasanna08 commented on #1357
Thanx
I will create a PR for this new commit then.

[2016-04-08 05:46] seanlip commented on #1701
(NB: an alternative to this would be to find a way to provide github wiki edit permissions for a particular github team, without providing full codebase edit permissions at the same time.)

[2016-04-08 07:02] seanlip commented on #1378
Hi @philoniare -- yep, this definitely needs a design doc! However, I suggest leaving this issue till a bit later -- it's not that easy to do, and the RTE is undergoing some other fixes at the moment.

Given this, what I'd suggest is: do you think you could send me an email once #1700 is checked in? Then we can work together on finding a good next project to do. Thanks!

[2016-04-08 07:49] MAKOSCAFEE commented on #995
Actually we are testing them on `MAKOSCAFEE/oppia` and is synced to `oppia/oppia` develop branch. I chose this branch because I was testing and there are a lot of commit that will create bad history for changelog. But when i get to work I will create new clean branch and set it to test for `oppia/oppia`. The setting is done when adding encrypted SourceLabs username and key, You choose the branch t

[2016-04-08 08:19] seanlip commented on #995
FYI, e2e tests fail on develop at HEAD (I just tested locally) -- something's messed up the gallery. Can you checkout the v2.1.5 tag and use that instead? I can confirm that all e2e tests pass locally on that revision -- I tested it multiple times when doing the release.

Thanks!

[2016-04-08 08:20] MAKOSCAFEE commented on #995
Sure let me do that..

[2016-04-08 08:39] MAKOSCAFEE commented on #995
Sorry, `git tag -l` gives me these tags only.

- v1.0.1
- v1.0.2
- v1.0.3
- v1.0.4
- v1.0.5
- v1.1.0
- v1.1.1
- v1.1.2
- v1.2.0
- v1.2.1
- v1.2.10
- v1.2.10.patch
- v1.2.11
- v1.2.12
- v1.2.2
- v1.2.3
- v1.2.4
- v1.2.5
- v1.2.6
- v1.2.7
- v1.2.8
- v1.2.9
- v2.0.0
- v2.0.0.rc.1
- v2.0.0.rc.2
- v2.0.0.rc.3
- v2.0.0.rc.4
- v2.0.1
- v2.0.2
- v2.0.3
- v2.1.0
- v2.1.1
- v2.1.2
- v2.1.3
- v2.1.4

no v2.1

[2016-04-08 09:10] seanlip commented on #995
It exists on the Oppia repo: https://github.com/oppia/oppia/tree/v2.1.5

I think your fork is behind -- when I go to MAKOSCAFEE/Oppia I see "this branch is 32 commits behind Oppia:develop".

[2016-04-08 09:12] MAKOSCAFEE commented on #995
I figured out how to add it..
`git fetch -t upstream
git checkout v2.15
`
did the trick

[2016-04-08 09:19] souravbadami commented on #1022
@seanlip , Can you please help me with some inputs to this issue ? I have been working on the classifyAnswer function to pass the ruleSpec.inputs over the expressionInterpolationService.
This is what i have implemented so far,
[code]

[2016-04-08 09:27] garbanzos opened #1703 "Text field for Preferred Languages in the Preferences page don't display well on mobile phones"
![photo_2016-04-08_17-26-41](https://cloud.githubusercontent.com/assets/12397473/14379917/5df66e26-fdaf-11e5-9b11-903962a2804f.jpg)

[2016-04-08 14:27] oparry commented on #921
Hi @seanlip,
For checking whether an exploration has parameters, is there an existing function I can use? I see `isEmpty(explorationParamSpecsService.savedMemento)` in **exploration_settings.html**, but I can't see where `isEmpty` is defined.

[2016-04-08 18:20] MAKOSCAFEE commented on #995
Update:
I merged v2.1.5 and still one test fails(`publicationAndGallery.js`).

[2016-04-08 19:17] seanlip commented on #995
Where do you see the log? I'm having trouble finding it.

(Normally the protractor log output by the server has traceback information with line numbers...)

[2016-04-08 19:20] #1615 closed

[2016-04-08 19:43] seanlip commented on #921
It's currently defined in base.js (which ExplorationSettings.js has access to due to hierarchical nesting of controllers), but this is a bad legacy pattern. I suggest doing something like this instead: http://stackoverflow.com/a/23553576 -- i.e., `angular.equals(explorationParamSpecsService.savedMemento, {})`.

[2016-04-08 19:51] MAKOSCAFEE commented on #995
[here](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/121764532#L569)  i believe you can access them.

[2016-04-08 20:01] seanlip commented on #995
Ah, I know what the issue is -- it's one of screen size. If you look at the final screenshot on saucelabs, you'll notice that the language selector is not visible.

Is it possible to change the screen size to a bigger one?

[2016-04-08 20:19] MAKOSCAFEE commented on #995
linux has only one screen option which is the[ default one](https://wiki.saucelabs.com/display/DOCS/Test+Configuration+Options#TestConfigurationOptions-SpecifyingtheScreenResolution).Let me change to os X and increase size.

[2016-04-09 05:52] seanlip commented on #995
Hi @MAKOSCAFEE -- just FYI, I've just pushed a change to develop, and run the e2e tests. I can confirm that, on my local machine, the revision 0e49c136790019f14b74ef33242976f11720c0f2 passes all e2e tests. Thanks!

[2016-04-09 06:15] seanlip opened #1705 "Remove the "Create Exploration" modal."
We would like clicking the "Create" button to go directly to the editor page, following [these wireframes](https://marvelapp.com/103d1ch#10921010). In order for this to happen, we will need to figure out what happens to the title, category, objective and language code. Here are some initial thoughts.

- The title should default to "Untitled exploration".
- The category should default to "Unspecifi

[2016-04-09 06:17] seanlip commented on #1683
Oops, didn't realize I filed a duplicate. Closing this, since #1705 treats it in more detail and offers a concrete proposal for moving forward.

[2016-04-09 06:17] #1683 closed

[2016-04-09 06:25] seanlip opened #1706 "Fix the behavior of the Help button in the editor"
Currently, clicking on the Help button in the editor navbar opens the first-time creation modal, which seems incorrect. Instead, it should open a modal that allows the user to either start the tour, or visit the Help Center (oppia.github.io) to review more advanced help resources and tutorials.

/cc @anthkris

[2016-04-09 06:27] seanlip opened #1707 "Design help resources (e.g. videos) for using the editor, and add them to oppia.github.io."
Per #1706, the help button in the editor is going to be redesigned to point to the Help Center at oppia.github.io.

The aim of this issue is to:
- [ ] understand the kinds of problems creators run into when using the Oppia editor
- [ ] identify what kinds of help resources they would find helpful in addressing these problems
- [ ] create these help resources
- [ ] add the resources to the Help Cen

[2016-04-09 06:28] seanlip commented on #1344
This is partially fixed in #1674 (thanks, @anthkris!), and the remainder is superseded by #1706 and #1707. Closing.

[2016-04-09 06:28] #1344 closed

[2016-04-09 06:28] seanlip commented on #1343
Superseded by #1705. Closing.

[2016-04-09 06:28] #1343 closed

[2016-04-09 06:29] oparry commented on #921
Great, thanks.  The first milestone seems to be working as expected now.  Should I move on to the others, or submit a PR with what I have so far?

[2016-04-09 06:31] seanlip commented on #921
That's great, thanks @oparry!

Could you please submit a PR, and, in parallel, work on the second milestone? I think it's definitely fine to merge a PR after the first two milestones are completed, but I'd like to look at the first milestone's PR to see if it can be merged as-is, too.

Thanks!

[2016-04-09 12:40] MAKOSCAFEE commented on #995
Thanks @seanlip , they also passed on [SauceLabs](https://saucelabs.com/beta/builds/30d6588d59b5468eb23ae918e1ac0642). Let me clean the branch and submit the PR.
![screen shot 2016-04-09 at 3 36 54 pm](https://cloud.githubusercontent.com/assets/6409210/14403649/f705b0e0-fe68-11e5-847c-f6e18b63e64b.png)

[2016-04-09 15:10] jacobdavis11 commented on #1705
A couple of thoughts:
 - Rather than having publication blocked via the current warning system if someone has not specified a category / title / objective / language, how about we just ask for (and require) these things as part of the publication modal if they have not been specified by this point. It seems more natural to ask for information we need in order to proceed with publication, rather th

[2016-04-09 19:46] bbriggs commented on #995
Reading through this issue, I want to make sure I understand where we are.

1. We are connecting to SauceLabs successfully and no longer encountering the port conflict issue
2. Tests are starting on SauceLabs, not Travis
3. Tests were initially failing, but that was because the tests were not correct, not because the SauceLabs connection was broken

Is that correct? Are we expecting people to run

[2016-04-09 20:51] seanlip commented on #1705
I agree with the first bullet point -- good suggestion!

For language, that seems reasonable too -- we could ask for a language specification before *first* publication. @anthkris, what do you think?

[2016-04-09 23:33] seanlip commented on #673
Revisiting this: actually, it seems quite reasonable to make clicking the 'edit' button in the navbar bring the user to the corresponding card in the editor, so let's just do that.

[2016-04-10 01:06] #1434 closed

[2016-04-10 01:18] seanlip commented on #1085
Milestones:
- [ ] Replace the current "Save Draft"/"Publish Changes" popup with a lightweight save popover that allows entering a commit message, and clicking on "View all changes" to view a modal with the current changelist. Note that the "Publish Exploration" button and its behaviour should be left unchanged.
- [ ] Replace the current changelist with a graph representation that's similar to that

[2016-04-10 08:07] MAKOSCAFEE commented on #995
Hi @bbriggs

1. Yes we are connecting to SourceLabs successfully now. the port used before was port 4445 which is used by travis with its internal processes.

2. Wen had time installing Chrome in travis ts self, though it has its own chrome but we could not get it started together with e2e tests. So we used SourceLabs to start tests since it has different browsers + platforms. Basically SauceLabs

[2016-04-10 10:50] CuriousLearner commented on #995
Hi, I've just gone through this discussion and references.

Is there anything I can help with?

[2016-04-10 11:57] giritheja commented on #1590
One more rule needed to be added to pylint:
- a file should end with a newline and nothing should be there on the newline (not even space)

[2016-04-10 12:30] gvishal commented on #1590
@giritheja Pylint by default has this rule.

[2016-04-10 12:34] giritheja commented on #1590
@gvishal In #1690 I was able to push a file which ended with a newline with a space on it without any lint errors.

[2016-04-10 12:34] razat249 commented on #1678
Hello, I have done it like this (shwn in pic). Is it
![oppia](https://cloud.githubusercontent.com/assets/10090911/14410195/b555c250-ff46-11e5-83a8-69c87761d452.JPG)
 good.

[2016-04-10 14:47] bbriggs commented on #995
That was my question as well. What are the outstanding tasks on this issue?

[2016-04-10 21:18] seanlip commented on #1671
@razat249, would you like to investigate this one?

[2016-04-10 21:21] seanlip commented on #1022
Sorry for the late reply! I actually investigated this, and it turns out to be a bigger issue than I'd expected. The main reason is that all our parameters are unicode strings, and the evaluation is going wrongly when these parameters actually represent numbers -- '37' is being compared to 37, for example, and returning false (when we would want it to return true).

There are hacks around this, bu

[2016-04-10 21:29] souravbadami commented on #1022
@seanlip , Got it! :smile:

[2016-04-10 21:38] souravbadami opened #1712 "Redesign admin page with better user interface."
The present admin page looks a bit awkward. It should be redesigned with better user interface.
![screenshot from 2016-04-11 03 05 38](https://cloud.githubusercontent.com/assets/11073943/14413275/8e88d6b6-ff92-11e5-9dde-371c0eb10d53.png)

[2016-04-10 21:59] seanlip commented on #1712
Thanks for filing this issue, @souravbadami!

One thought: would you mind creating some mocks/screenshots of what you want the page to look like, before we go ahead and do it?

[2016-04-10 22:00] seanlip commented on #1682
Hi @abhijit5893, this might be a good one to start off with, I think. It's a small backend project that ties into the code interaction. Would you like to take it on?

[2016-04-10 22:03] souravbadami commented on #1712
@seanlip
![screenshot from 2016-04-10 15 03 28](https://cloud.githubusercontent.com/assets/11073943/14413390/077842c0-ff96-11e5-8ea5-78fbab1e2ab1.png)

[2016-04-10 22:09] abhijit5893 commented on #1682
@seanlip  Sure. I think this would be a good start.

[2016-04-10 22:46] souravbadami commented on #1712
@seanlip
![screenshot from 2016-04-11 04 13 13](https://cloud.githubusercontent.com/assets/11073943/14413573/e485e2bc-ff9b-11e5-8e92-684455bdf0d0.png)
![screenshot from 2016-04-11 04 08 26](https://cloud.githubusercontent.com/assets/11073943/14413578/f18f9ade-ff9b-11e5-963b-db9002a6e46c.png)
![screenshot from 2016-04-11 04 08 33](https://cloud.githubusercontent.com/assets/11073943/14413579/f9adfad

[2016-04-11 02:10] seanlip commented on #1712
OK, looking at these, I think maybe we need to do a bit of information architecture work. It seems to me like we can group these into four categories: reloading, jobs, config properties and miscellaneous. Do you have any thoughts on how to best present that? Maybe we have the categories in a sidebar, or maybe we use tabs, or maybe there are just four sections on the page, one above the other?

[2016-04-11 02:33] cloudbps opened #1714 "about Localize"
If I want to be localization, where to star??

[2016-04-11 03:07] AllanYangZhou commented on #914
Note: This also happens in IE 11.

[2016-04-11 03:33] prasanna08 commented on #1357
Hi @seanlip
I started working on milestone 2 as of now.
I realized that we do not have frontend test for preferences as of now. I did not see any preferencesSpec.js file. But in milestone 2 we have to add some frontend tests. So I will have to create new test file for that.
Also I want to ask what string we should be showing in frontend preferences page to the user for editor role notification che

[2016-04-11 03:35] seanlip commented on #1357
Hi @prasanna08, creating a new test file sounds good. I think "Receive emails when someone gives you edit rights to an exploration" seems reasonable?

[2016-04-11 06:03] razat249 commented on #1671
Yes, sure.

[2016-04-11 09:56] souravbadami commented on #1712
@seanlip , Grouping them will be great. I think grouping them into different sections on the page as you suggested and providing jump links on top navbar will be useful.
![screenshot from 2016-04-11 15 24 36](https://cloud.githubusercontent.com/assets/11073943/14423479/abc07560-fff9-11e5-89a0-29f300b75da9.png)

[2016-04-11 10:10] anuzis commented on #1671
@razat249 just wanted to say thanks for helping to take a look at this. It's a pretty major bug for one of the learning experiences we're creating and will make a big difference to have it resolved. If I can be of any help verifying when it's fixed just let me know. Thanks again!

[2016-04-11 10:12] anuzis commented on #1682
@abhijit5893 Just wanted to say thanks for volunteering to help on this. This is an important capability for a learning experience we're developing and will make a big difference when it's in place. If I can be of any assistance testing or verifying the feature just let me know. Thanks again!

[2016-04-11 11:01] razat249 commented on #1671
Hello, I have solved this bug (shown in the pic). Is it Good
![oppia](https://cloud.githubusercontent.com/assets/10090911/14425170/e49aeb78-0002-11e6-86eb-33e7d9900751.JPG)

[2016-04-11 18:02] #1678 closed

[2016-04-11 18:14] bbriggs opened #1717 "Start.sh fails when running for the second time on Vagrant VM"
cc @charisseysabel

It appears that NPM is installing modules as root in /home/vagrant/oppia_tools/, causing permissions errors. This means that for some reason, Vagrant runs the Oppia server fine the first time but not the second.

This issue will require some investigation as to the root cause.

[2016-04-11 18:16] abhijit5893 commented on #1682
Thanks @anuzis @seanlip . I'm really interested in computational thinking in education and I think Oppia is wonderful tool to help kids have a better learning experience. @seanlip If this task is done, can you assign me the next task. Also, is there a documentation where i can whole picture of Oppia. I was able to understand the code but not the flow (Which folder is for what). @anuzis @seanlip I

[2016-04-11 18:24] seanlip commented on #1712
Ah yes, I didn't think of that. Yes, that seems fine to me. Maybe call the first tab "Activities" ("reload" sounds like the whole page is being reloaded) and the last tab "Misc" (shorter)?

[2016-04-11 18:29] souravbadami commented on #1712
@seanlip , Done :smile:
![screenshot from 2016-04-11 23 57 48](https://cloud.githubusercontent.com/assets/11073943/14437974/6e792c9a-0041-11e6-8774-be957e5d4bbe.png)

[2016-04-11 19:54] anthkris commented on #1705
Howdy all, I'm just coming back online.

I really like the idea of allowing people to just jump into creation and set things up as a part of publication process. I think that all of these things, category / title / objective / language, could easily and logically be made a part of the publication modal.

[2016-04-11 21:07] souravbadami commented on #1714
@cloudbps , Can you please provide more details regarding the issue ?

[2016-04-11 21:31] seanlip commented on #1682
Hi @abhijit5893, thanks! I'll write soon about a next task, but in the meantime, here's a pointer to the codebase overview: https://github.com/oppia/oppia/wiki/Overview-of-the-Oppia-codebase. Note that there's also more documentation in the sidebar wiki.

Also, I've reviewed your PR. Thanks!

[2016-04-11 21:31] seanlip commented on #1712
OK, looks good! I guess this means we should start implementation?

[2016-04-11 21:39] souravbadami commented on #1712
@seanlip , Yeah! Shall i submit a PR and then we'll discuss about the issues ?

[2016-04-11 21:41] seanlip commented on #1712
Yep, sgtm!

[2016-04-11 23:44] amgowano commented on #1464
Implementation breakdown:

1. Implement a visual layout of the nodes.
    - Update the UI to display the node in a linear layout according to their play order.
    - Update the sample collection YAML file to have a linear regression.
    - Implement a delete functionality on each node.
    - Implement the shift functionality on each node.

2. Implement addition of a new node to the list
    - Chan

[2016-04-12 05:53] #1717 closed

[2016-04-12 06:36] seanlip opened #1723 "Misnamed function in core.domain.exp_services"
In core.domain.exp_services, _get_exploration_summary_dicts_from_models() is misnamed. This function returns exploration summary domain objects, so its name should really be _get_exploration_summaries_from_models(). The name should be changed here and in all the callers.

In addition, it would be nice to spot-check exp_services.py for other examples of bad names that don't match their docstrings.

[2016-04-12 07:26] seanlip commented on #1701
Update: per the most recent tech lead meeting, we will shortly be opening up write access to the codebase to more contributors, so this will soon be obsolete. I'll send an email soon (within the next couple of weeks), but I'm going to close this issue in the meantime.

/cc @BenHenning @wxyxinyu

[2016-04-12 07:26] #1701 closed

[2016-04-12 09:19] anuzis commented on #1671
Confirming the UI visible in the screenshot LGTM!

[2016-04-12 22:59] seanlip commented on #1450
(Note: it would be great to have e2e tests for the normal feedback workflow as well -- I believe we don't currently have any.)

[2016-04-12 23:10] #1671 closed

[2016-04-12 23:11] seanlip commented on #1676
@razat249, would you like to try this one?

[2016-04-13 04:18] seanlip opened #1726 "Remove get_redirect_route() in main.py, if possible"
In main.py, in the urls list at the bottom, there's a get_redirect_route() function which is somewhat confusing. For one thing, the third argument to this function is not used at all. It would be nice to find a simpler way of doing this.

One obvious idea is to give the "name" argument in get_redirect_route() a default value, but we'd need to check if it's OK for different routes to have the same

[2016-04-13 04:19] #1369 closed

[2016-04-13 06:02] razat249 commented on #1676
Yes, sure. @seanlip

[2016-04-13 06:48] razat249 commented on #1676
Hello its looking like this(Shown in pic below). Is it good?
![oppia](https://cloud.githubusercontent.com/assets/10090911/14484983/c262ab5c-0171-11e6-8908-7f233c57ae2e.JPG)

[2016-04-13 07:07] seanlip commented on #1676
Hi @razat249 -- not yet, I think. The buttons should be the same size, and probably the width of the Discard Draft button should be the same as the Save Draft button. (You might, perhaps, need to make the top button a bit longer.)

[2016-04-13 07:13] #1723 closed

[2016-04-13 07:20] razat249 commented on #1676
Ok @seanlip I will fix it asap.

[2016-04-13 07:44] razat249 commented on #1676
Is this be good?
![oppia](https://cloud.githubusercontent.com/assets/10090911/14486298/a80b8ec4-0179-11e6-95e0-0668b78bc6d1.JPG)

[2016-04-13 12:25] giritheja opened #1729 "Tests for summary_services.py"
Tests are needed to be written for get_gallery_category_groupings and get_displayable_exp_summary_dicts methods in domain/summary_services.py to test the functionality of the methods.

[2016-04-13 17:54] giritheja opened #1730 "Make Frontend changes for featured explorations"
Currently, the backend part for rendering featured explorations is done #1690 . The frontend part (Gallery page) has to be updated to accommodate featured explorations and display them at the top i.e., before exploration categories. #1360

[2016-04-14 04:12] #1676 closed

[2016-04-14 04:14] seanlip commented on #1598
Hi @SongGithub! How is this going?

[2016-04-14 04:16] seanlip commented on #1590
@razat249 -- here's another issue with a somewhat different flavour; I think it's a bit harder than the ones you've done so far. Would you like to try it?

Note that you can run the linter using "python scripts/pre_commit_linter.py". This should give you a way to test your code.

[2016-04-14 04:22] seanlip commented on #1612
@souravbadami -- would you like to work on this?

[2016-04-14 05:51] souravbadami commented on #1612
@seanlip -- yeah sure, thanks!

[2016-04-14 06:24] SongGithub commented on #1598
Hi Sean,
I've made up a prototype as a solution, will post the screen-shot shortly for you to approve, before I proceed to implement .

[2016-04-14 06:35] razat249 commented on #1590
Yes, I will surely try.

[2016-04-14 09:03] seanlip commented on #1038
Superseded by #1712. Closing.

[2016-04-14 09:03] #1038 closed

[2016-04-14 09:32] seanlip commented on #1410
Hi @isaac-friedman -- repeat ping?

[2016-04-14 09:33] seanlip commented on #1730
Adding quote from #1360:

[2016-04-14 09:33] seanlip commented on #1360
Superseded by #1730; closing. Thanks @giritheja!

[2016-04-14 09:33] #1360 closed

[2016-04-14 09:37] seanlip commented on #383
@spyshiv -- want to try this?

[2016-04-14 09:41] spyshiv commented on #383
yeah sure....

[2016-04-14 09:43] seanlip commented on #383
OK, I've assigned you :-) Have fun!

[2016-04-14 12:29] charisseysabel commented on #1074
I noticed this when I was modifying the styles of the new about pages to match the current theme. Maybe we could try having a global button class that has the basic characteristics of all the buttons and just add additional classes based on the button's states?

[2016-04-14 20:10] seanlip commented on #1612
Note: see https://github.com/oppia/oppia/issues/1587#issuecomment-196313127 for instructions on how to enable the collections editor.

[2016-04-14 20:17] seanlip commented on #1598
OK, sounds good. Thanks!

[2016-04-15 03:12] prasanna08 commented on #1357
Hi @seanlip
I wanted to discuss about milestone 3 and 4. I was thinking of implementing both of them in single PR because in milestone 4, there is not much to do.
Now I wanted to talk about tests we are going to do in these milestones. I am mostly done with coding part.
The tests which checks that send_exploration_membership_email() is getting called whenever a new user is assigned a role in explo

[2016-04-15 04:31] seanlip commented on #1357
Hi @prasanna08, I'm fine with combining the milestones into a single PR. Regarding the test you mentioned, when I originally read it, I was thinking about it as a backend integration test in controllers/editor_test.py. You could issue the right commands to the appropriate handler, and then check the mail stub to see if an email was sent. There are also backend test utilities (see core.tests.test_u

[2016-04-15 04:43] prasanna08 commented on #1357
Yes test for checking that whether email is being sent or not will be done.
The test which I was referring is used to check that function gets called when creator has assigned a new member in frontend. See that email is being sent or not is getting done in backend and I am going to add that test.  But test which checks that when frontend interaction is done this should be called in backend. That t

[2016-04-15 04:45] seanlip commented on #1357
Oh, I see. Yep, I agree with you! That sounds fine, and if other backend scenarios come to mind, feel free to add them too.

[2016-04-15 09:58] ansarimofid commented on #1345
My Idea is to use Oppia logo as loading indicator. The 'o' of logo will act as circular progress bar with 'progress percent' text below.
![oppia_logo](https://cloud.githubusercontent.com/assets/9111119/14557765/7ca47f08-031c-11e6-8aa9-627d762f2fae.jpg)

But we need to find a way to get the percentage value for the proper implementaion of the loading indicator.

[2016-04-15 13:54] p4rsec commented on #1345
@ansarimofid this was actually my same idea (slightly modified as I used the entire logo and had the O draw out, then did the plant-type shape in the middle), and I have a great number of slides that I drew out for it. However I messed up when converting it into a .ajpeg (animated .jpeg) and exported the slides the wrong way... However if anyone is curious I can upload what slides I have once I ex

[2016-04-15 19:43] kennho commented on #1085
Hey @seanlip. I am rather busy for this week and probably next week too as this week is the last week of school and I have assignments due next week which is like a few days before the exams. Really sorry! Probably will be slow to work on this issue. I will work on it asap if I can find some time next week! 😞

[2016-04-15 20:12] seanlip commented on #1345
FYI, percentage values are not available -- e.g. if we're waiting for a request to the server, we don't know if it's going to take 1 s more or 5 s more to respond, and there's really no way to find out. The eventual design would need to address this.

[2016-04-15 20:18] seanlip commented on #1074
That's a nice idea, and I have no objection. We could perhaps do it as a CSS cleanup at some point -- our CSS is getting somewhat messy.

[2016-04-15 20:28] seanlip commented on #1489
Hi @maitbayev, would you mind taking a look at this? If you like, feel free to use some stuff from @wasper's PR in #1605 (if appropriate) -- he's done a preliminary attempt.

Thanks!

[2016-04-16 00:31] BenHenning opened #1733 "Implement continuous migration system for answers"
Due to the complexity of migrating the existing answer model (work can be seen in #1205), it would be preferred to introduce some sort of continuous answer migration system so that future migrations may be possible (such as migrating multiple choice answers to item selection as in #1373). Work is being done in #1205 to pave the way for such a system, but the system needs to be implemented. It can

[2016-04-16 00:32] seanlip opened #1734 "Make private explorations inaccessible via the learner view."
As mentioned in #798, there are a number of issues with allowing private explorations to be accessible via the learner view (especially if interactions are missing). However, private explorations are really just drafts, and therefore don't really need to be accessible in this way -- all the necessary functionality from the creator's point of view can be found in the preview tab. The aim of this is

[2016-04-16 00:32] seanlip commented on #798
Per discussion in #1710, decided to close this issue and, instead of parts 2 to 5, we'll just make private explorations inaccessible via the learner view, which is both simpler and conceptually more appropriate. I've filed #1734 to track this.

[2016-04-16 00:32] #798 closed

[2016-04-16 00:36] #995 closed

[2016-04-16 00:37] BenHenning commented on #1733
From #1205, this issue should also address:

[2016-04-16 00:38] seanlip opened #1735 "Fix e2e tests and make protractor tests a mandatory check"
Two of our protractor tests appear to be broken: see

    https://travis-ci.org/oppia/oppia/builds/123446133

We should fix this, and then turn the protractor tests from an optional check into a mandatory one, so that we can guarantee a clean build anytime someone merges a new PR.

/cc @MAKOSCAFEE

[2016-04-16 00:39] seanlip commented on #1735
Also, @MAKOSCAFEE, a question: with the new non-Saucelabs method, will these tests still run for PRs from foreign repos?

Also cc @bbriggs @CuriousLearner

[2016-04-16 00:40] seanlip opened #1736 "Get Protractor tests to also run on Firefox in Travis-CI."
We would like Oppia to work in (at least) Chrome and Firefox. We now have Protractor tests for Chrome; we should add functionality that also runs the tests on Firefox. The milestones are:
- [ ] Make sure the protractor tests pass locally on Firefox.
- [ ] Add "protractor tests in Firefox" to Travis-CI.

/cc @MAKOSCAFEE @bbriggs @CuriousLearner

[2016-04-16 00:41] BenHenning commented on #1733
This issue is also related to #956.

[2016-04-16 01:09] seanlip commented on #1085
HI @kennho -- thanks, that's good to know! Yep, that should be all right -- I'll keep an eye open for ways we can parallelize this issue if that becomes necessary, but I think it should be fine. All the best with your assignments, and your exams!

[2016-04-16 01:17] maitbayev commented on #1489
Hi @seanlip,
Sure, I will try my best, I am not good at responsive though.

[2016-04-16 01:24] seanlip commented on #1489
Thanks! That's OK, most of the stuff is detailed in the spec -- feel free to ask for clarification there if needed.

Also, I'd suggest taking this one milestone at a time (see the first comment in this issue thread), otherwise it can get quite complicated.

[2016-04-16 03:43] MAKOSCAFEE commented on #1735
Yes This will be started whenever travis is triggered. So PR from
forks/foreign repos will work fine without a problem.
Thanks.
On Sat, 16 Apr 2016 at 3:39 AM Sean Lip <notifications@github.com> wrote:

[2016-04-16 07:39] seanlip commented on #1736
@MAKOSCAFEE, @CuriousLearner -- would one of you be interested in looking into this?

[2016-04-16 17:37] CuriousLearner commented on #1736
Hi @seanlip I would need some guidance to get started with this issue

[2016-04-16 19:16] seanlip commented on #1736
Hi @CuriousLearner -- thanks, I've assigned you! I'm not that familiar with the workings of Travis-CI either, though, so I'm going to suggest that @MAKOSCAFEE mentor you. (@MAKOSCAFEE, would this be OK?)

It's probably fine to leave comments in this issue thread, though alternatively it might be a good idea for both of you to meet up on the main gitter chat channel and discuss stuff at some point

[2016-04-16 19:22] CuriousLearner commented on #1736
Sure, thanks! @seanlip

[2016-04-17 01:39] seanlip commented on #1160
Hi @dpaparis! Did you make any progress on this?

[2016-04-17 03:06] seanlip commented on #1513
Hi @abhijit5893 -- I just assigned you to this and #449, in order to figure out what exactly we should be doing here.

To add some notes from a chat we had just now, Abhijit noted that a search for "loop" doesn't find the exploration titled "For Loops". We may also need to sort out program/programming and math/maths/mathematics.

An initial, simplistic approach could be to just detect when one of

[2016-04-17 04:09] dpaparis commented on #1160
hi @seanlip I believe I have a better grasp on the issue. I'm having issues running just galleries_test.py, it might be an issue with my search path.

[2016-04-17 06:52] seanlip commented on #1160
Hi @dpaparis, that sounds a bit odd. Did you see the wiki docs on running the backend tests? There's a specific command to run a single test; you might want to use that.

Also, you might want to join the gitter chat -- someone might be able to help you!

[2016-04-17 06:55] #1682 closed

[2016-04-17 06:57] seanlip commented on #1513
Also, @abhijit5893 -- it might make sense to propose a concrete approach and have a quick discussion about it before starting implementation. I suggest posting it to this issue thread, but if it's too long, feel free to make a Google Doc and link to that instead. Thanks!

[2016-04-17 09:59] seanlip commented on #1714
@cloudbps -- closing this for now, mainly because I don't understand what the question means. Feel free to clarify and reopen, though!

[2016-04-17 09:59] #1714 closed

[2016-04-17 10:10] seanlip commented on #1431
Hi @thak123 -- welcome to Oppia! :-) How about taking a look at this issue to start with?

As a first step, I suggest that you just try to figure out what's causing the error. Then let's discuss what the best possible way to fix it is.

[2016-04-17 10:13] thak123 commented on #1431
I will look into it

[2016-04-17 10:14] MAKOSCAFEE commented on #1736
Hi @seanlip yes sure I will be more than happy to help. Email or through gitter can be a good place to start.
Thanks.

[2016-04-17 18:31] dpaparis commented on #1160
@seanlip : when I try and just run galleries_test.py I get`Daphnes-MacBook-Pro:controllers dpaparis$ python galleries_test.py
Traceback (most recent call last):
  File "galleries_test.py", line 19, in <module>
    from core.controllers import galleries
ImportError: No module named core.controllers`
I did read the docs on running tests but I don't understand what

means

[2016-04-18 00:17] seanlip commented on #1160
Hi @dpaparis, I think you're looking at the wrong place. The instructions you're quoting are from the frontend/e2e tests, which you shouldn't be touching; you might want to look at just the documentation on the server-side tests instead.

Please read the instructions about server-side tests carefully (see the wiki), as well as the relevant test script files. Both of these contain instructions on h

[2016-04-18 01:38] #1703 closed

[2016-04-18 04:35] anuzis opened #1738 "(depends on #1489) Python code interactions clip lines at 76 chars, not at 80 conventional char limit."
Python coding conventions limit lines to below 80 chars, but Oppia's Python coding interaction clips text at 76 chars making for a difficult reading experience. Screenshot attached. The 'o' in 'below' is char 76 at the end of line 3, causing the coding interaction to add a left/right scrollbar.

![oppiacodingconsole](https://cloud.githubusercontent.com/assets/1622682/14593787/f860c9ea-0569-11e6-80

[2016-04-18 04:45] anuzis opened #1739 "Content width should be consistent between editor and play views."
Line width in the editor view is significantly wider than in learner view. Compare the two screenshots below showing the same first line of text in the editor view Vs play view.

Editor View:
![contentwidthineditor](https://cloud.githubusercontent.com/assets/1622682/14593920/6c484030-056b-11e6-90ef-871cc14f465e.png)

Learner/Preview:
![contentwidthinpreview](https://cloud.githubusercontent.com/ass

[2016-04-18 04:54] anuzis opened #1740 "CodeRepl interaction: the coding window should start at the top of the code."
Python coding interactions should start at the top of the code, and the coding interaction window should perhaps be made taller to prevent the need for constant scrolling.

In the example screenshot below, the page loads with the code already scrolled down to the mid-section of the file, requiring learners to scroll up to the top to read the initial instructions in the code. Note that this appears

[2016-04-18 08:40] ishankhare07 opened #1742 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-4rsvws0b/numpy/"
- while running `./scripts/start.sh`
- on ubuntu-15.10 - 64-bit
- ```shell
Running from numpy source directory.Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-4rsvws0b/numpy/setup.py", line 196, in <module>
        setup_package()
      File "/tmp/pip-build-4rsvws0b/numpy/setup.py", line 189, in setup_package
        configuration=configurat

[2016-04-18 08:42] ishankhare07 commented on #1580
@bbriggs the numpy installation with pip is no longer an issue, however the installation procedure with `./scripts/start.sh` is still not working. I'm getting #1742, again related to `pip` and `numpy`

[2016-04-18 09:03] seanlip commented on #1742
Note that Oppia uses Python 2. Are you using Python 3?

[2016-04-18 09:07] ishankhare07 commented on #1742
@seanlip i have both python 2 and 3 installed on ubuntu (both come preinstalled). Apart from that I've not specified any particular python version to be used. I've just ran the command `./scripts/start.sh`. I guess this script configures the `virtualenv` itself (if it uses virtualenv at all?).

[2016-04-18 09:12] seanlip commented on #1742
No, it doesn't use virtualenv at all. But perhaps your default python/pip is 3? When I search for the error on google, I see a whole bunch of stuff relating to installing numpy using python3.

You might consider looking at scripts/install_third_party.sh and scripts/setup.sh in the Oppia directory -- both are referenced from start.sh, and they aren't too hard to understand. See if you can figure ou

[2016-04-18 09:12] seanlip commented on #1580
@ishankhare07 -- could you please explain how you fixed this?

[2016-04-18 13:54] thak123 commented on #1431
@AllanYangZhou I can u reiterate the steps . I unable to reproduce the bug

[2016-04-18 18:43] weizhang2016 opened #1743 "500 error when accessing explorations"
Hello.

I copied the link of my exploration to the URL bar and try to access it, but it fails.
![456](https://cloud.githubusercontent.com/assets/18422962/14615474/6e66a7bc-056b-11e6-8d09-7dce8db1cf5a.png)

Can you solve this?

Thanks!

[2016-04-18 20:22] souravbadami commented on #1743
@weizhang2016 -- Can you provide more information on this ? Is your exploration published ? If not, are you trying to access it from outside your creator's account ?

[2016-04-18 22:27] souravbadami commented on #1738
@seanlip -- I would like to submit a PR on this ?

[2016-04-18 22:27] weizhang2016 commented on #1743
Hello. I can access it now. I think I couldn't access it before because
there were errors in my cards. After I corrected all the errors, I find I
can access it without problems.

Sorry for the confusion. Thank you very much.

Best,
Wei

On Mon, Apr 18, 2016 at 3:22 PM, Sourav Badami <notifications@github.com>
wrote:

[2016-04-18 22:30] souravbadami commented on #1743
@weizhang2016 -- Great, Thanks!

[2016-04-18 23:02] souravbadami opened #1745 "Frontend test fails due to webdriver-manager."
scripts/setup.sh: line 74: /home/sourav/oppia/node_modules/.bin/webdriver-manager: No such file or directory.
Installing selenium-webdriver@2.47.0 also throws some errors.
Logs: http://pastebin.com/8LpBPr3f
Os: Ubuntu 14.04 LTS
/cc @bbriggs

[2016-04-19 00:18] AllanYangZhou commented on #1431
@thak123 Here's a gif of the steps, this time I was on Ubuntu 14.04, Chrome browser.

![bug](https://cloud.githubusercontent.com/assets/8732147/14623707/7a870f14-0589-11e6-9576-8250bf2eea92.gif)

[2016-04-19 01:38] seanlip commented on #1745
Looking at the logs, this might be a system-dependent thing. @souravbadami, could you investigate it? I'm seeing:

[code]

and it might be worth reading that. You might also like to examine the files in the scripts/ directory to get a sense of what's going on.

[2016-04-19 01:40] seanlip commented on #1743
Hi @weizhang2016 -- closing this, but please note that you can preview your exploration by clicking on the "play" icon in the editor navbar. You shouldn't need to go to the /explore link -- that is usually only available after you've published your exploration. Hope that helps!

[2016-04-19 01:40] #1743 closed

[2016-04-19 01:42] seanlip commented on #1738
This is related to #1489 (allowing supplemental interactions to specify their widths), which @maitbayev is working on. We can't make a local fix for this, but it should be possible to sort it out after the other fix lands.

[2016-04-19 01:43] seanlip commented on #1739
/cc @kahkhang (who's working on making the RTE content look nicer) -- FYI

[2016-04-19 06:30] souravbadami commented on #1738
@seanlip -- Alright, Thanks!

[2016-04-19 06:34] souravbadami commented on #1745
@seanlip -- sure, i'll go through it and let you know about the situation.

[2016-04-19 06:42] seanlip commented on #1745
Thanks, @souravbadami!

[2016-04-19 06:58] seanlip commented on #1740
Note to contributors: the relevant files for the CodeRepl interaction are in extensions/interactions/CodeRepl.

[2016-04-19 08:40] souravbadami commented on #1745
@seanlip -- selenium-webdriver@2.47.0 errors were raised due to symlink issue which was resolved by nodejs-legacy package.

`scripts/setup.sh: line 74: /home/sourav/oppia/node_modules/.bin/webdriver-manager: No such file or directory.`
webdriver-manager was not getting installed as a prerequisite.
`npm install webdriver-manager` solved the problem.

[2016-04-19 08:42] seanlip commented on #1745
Ah, interesting -- thanks, @souravbadami!

Should we add an additional installation line to the setup script? I thought it was installed as part of protractor...

[2016-04-19 08:48] souravbadami commented on #1745
@seanlip -- For now, adding additional line will help. This issue was caused earlier with protractor and was solved. I think, there might be some issue after that.

[2016-04-19 08:51] seanlip commented on #1745
Sounds good; I have no objection. Maybe do a PR?

[2016-04-19 08:54] souravbadami commented on #1745
@seanlip -- Sure, I'll submit a PR.

[2016-04-19 17:40] dpaparis commented on #1160
@seanlip : I see! it wasn't obvious to me from formatting that running a single test applied to front end tests (actually looks like it's under the  end-to-end tests section). I had read the back end section but then just assumed "Running a single test" was what I should follow.  Thank you for your help!

[2016-04-19 21:36] seanlip commented on #1160
Thanks for the feedback, @dpaparis! I've updated the wiki page to try and make this clearer.

Also, if you get stuck on things like this in the future, please don't hesitate to ask on the gitter chat channel. It's likely that someone will be able to help you!

[2016-04-19 22:00] seanlip commented on #1706
Hi @anthkris -- how is this going?

[2016-04-19 22:03] anthkris commented on #1706
Howdy @seanlip I've been wrapping up freelance work and preparing for a podcast (!!!) so I haven't had a chance to actually get started but my plan is to try and have something this weekend.

[2016-04-19 22:05] seanlip commented on #1706
OK, good to know. Thanks @anthkris!

[2016-04-19 22:06] seanlip commented on #1735
Hi @MAKOSCAFEE -- just to check, do you think it would be possible to do this by the weekend? If not, I might look into it instead. The reason I ask is because we keep getting PRs that cause new protractor tests to fail, so the sooner this becomes a mandatory check, the better.

Thanks!

[2016-04-19 22:24] TruongKim commented on #1740
Thanks Sean. Can I pick this up?

[2016-04-19 22:26] seanlip commented on #1740
Yep! I've assigned you; feel free to send a PR when you're ready. Thanks!

[2016-04-20 02:34] dpaparis commented on #1160
@seanlip I tried to pass in a URL to get json that doesn't exist, and this raises an exception in app.py:
`  File "/Users/dpaparis/opensource/oppia/../oppia_tools/webtest-1.4.2/webtest/app.py", line 1156, in _check_status
    res)
AppError: Bad response: 404 Not Found (not 200 OK or 3xx redirect for http://localhost/galleryhandle)`
my question is: what are the type of errors we should expect and b

[2016-04-20 05:25] seanlip commented on #1160
That's a pretty decent way to test it out, yep. The response should be a JSON object that looks something like {'code': 404}, and not the error.html page. It may be worth writing a test for this specific flow and making sure it passes.

Generally, for get-json, we'd expect either a normal dict, or a dict of the form {'code': 400}, {'code': 401}, {'code': 404}, {'code': 500}. We may want to change

[2016-04-20 07:44] dpaparis commented on #1160
but are you saying that get_json should do 'magic' if it does not get json,
or are you saying we should change app.py to return json instead of the
error.html page. My assumption is the latter.

On Wed, Apr 20, 2016 at 1:25 AM, Sean Lip <notifications@github.com> wrote:

[2016-04-20 07:59] seanlip commented on #1160
Yes, I mean the latter.

On Wednesday, April 20, 2016, dpaparis <notifications@github.com> wrote:

[2016-04-20 09:58] ishankhare07 commented on #1742
@seanlip you were right. This confusion was because I installed `pip` from `get-pip.py` which started pointing my default pip to `python3.4` version pip.

fixing this and rolling back to `pip` and `pip3` provided by debian (apt-get) solved this error.

But I guess I found the reason behind #1580 during the process. It fails when using the `--target` flag.
Will update it there in detail

[2016-04-20 09:58] #1742 closed

[2016-04-20 10:09] ishankhare07 commented on #1580
Sorry to cause the confusion with closing this

This issue comes up when using the `--target` flag to install `numpy`, i.e. the command
[code]

This command is on [line 105 in start.sh](https://github.com/oppia/oppia/blob/develop/scripts/install_third_party.sh#L105). I can confirm that if we do not use the `--target` flag, then the installation proceeds smoothly. eg.

[code]

[2016-04-21 02:39] jacobdavis11 commented on #1364
There is currently a section of the design doc for the creator dashboard that addresses emails: https://docs.google.com/document/d/1vU4zvUFDfLXZzY86Klm4XJcuPzMD57pDqP6fY-VdAn8/edit#heading=h.ob9woinpct2i

This issue will depend on first implementing the backend of the creator dashboard so that we have a way to identify common mistakes to notify the creator of.

[2016-04-21 05:43] seanlip commented on #1735
Hi @MAKOSCAFEE,

A quick question: I recently saw a (mistakenly) green protractor test where the Travis box got shutdown midway. Might be a transient thing, but just wanted to make you aware of it: https://travis-ci.org/oppia/oppia/jobs/124642801. It seems like this shouldn't be reported as green; do you think there's something that needs fixing here?

[2016-04-21 05:46] seanlip commented on #1357
Fixed in #1702, #1721 and #1737. Thank you, @prasanna08!

[2016-04-21 05:46] #1357 closed

[2016-04-21 06:23] seanlip commented on #1742
Thanks, @ishankhare07! Added this information to the troubleshooting section on the wiki page: https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29

[2016-04-21 06:29] seanlip commented on #1580
@ishankhare07 -- before that line, keeping the "--target", can you do "pip --version"? The issue seems to relate to whether we're installing numpy globally or locally, but I don't see why `--target` is going to change which version of pip is used. I assume "pip install --help" shows a "--target" option?

[2016-04-21 06:31] seanlip commented on #1739
From @souravbadami's comments on #1744 -- we'll have to tweak few things in the editor view:

- The main editor card.
- Learner's answers and oppia's responses card.
- "Add new oppia response" button.

[2016-04-21 06:55] seanlip commented on #991
@Himanshu1495, how about taking this as a starter project? The code change itself is very straightforward, so what I'm going to do is to suggest that you first have a go at doing some detective work and trying to figure out which part of the code needs to be changed -- this will give you some practice finding your way around the codebase, too. If you have trouble, feel free to post here, but see w

[2016-04-21 09:40] MAKOSCAFEE commented on #1735
HI @seanlip I took  a look at it and this is caused by the `fast_finish:true` line. if the optional test are run and as can be seen the vm powered off, It will be evaluated based on the already run tasks/jobs. So it shows green because all run tests passed  and other test which are not run yet are allowed to fail(this is is the meaning of optional tests right). read [here](https://blog.travis-ci.c

[2016-04-21 09:44] seanlip commented on #1735
Ah, got it. Thanks a lot for looking into it, @MAKOSCAFEE!

(Also, reassigning this issue to myself, per our chat.)

[2016-04-21 11:04] prasanna08 opened #1750 "Conversion of html based emails to their equivalent text based emails"
Currently in oppia, emails are encoded in html format but some users may be using text based clients or in several circumstances they may have to depend on text based email clients. In such scenario html emails need to be properly converted into their equivalent text based emails so that overall email body makes sense.

Generally emails may contain bullet points as:
[code]
Above html is rendered a

[2016-04-21 12:55] SongGithub commented on #1598
@seanlip  Hi Sean, how does it look ? Do you like it?
The screen shot demonstrates 2 fixes:
1. The gap on top of "Discard Draft" was causing issues, like causing the Discard drop down to retract.
2. The Caret button had no gap with Save button, which as you suggested "doesn't tell people the two buttons are actually separated, not logically connected"
![screenshot from 2016-04-21 22 50 53](https:/

[2016-04-21 13:10] souravbadami opened #1751 ""Protractor test" exploration get's stuck on second card."
![screenshot from 2016-04-21 18 26 31](https://cloud.githubusercontent.com/assets/11073943/14709609/242b81c8-07ef-11e6-89c3-11a3c3aae3db.png)

Steps to Reproduce:
- Navigate to /admin.
- Reload protractor_test_1.yaml exploration.
- Navigate to /explore/12
- Answer the question on first card, i.e., 6 and then try to answer the questions on next card.

Observed behavior:
The exploration gets stuck o

[2016-04-21 16:52] kahkhang commented on #1497
Hmm I've played around with this, and it seems like while a CSS fix would work for paragraph spacing (the margins that Medium is using)

[code]
adjacent blank lines still poses a problem because now the spacing would be far too wide

<img width="612" alt="screenshot 2016-04-21 12 35 29" src="https://cloud.githubusercontent.com/assets/4048170/14717256/98e80774-07be-11e6-927c-9a5e15075c3f.png">

I a

[2016-04-21 18:13] Himanshu1495 commented on #991
Hello Sean, i read the Overview of oppia codebase. I also looked into the
project that was assigned to me.As being completely  new to github the only
problem i am facing is that, which code i should be investigating to find
and fix the error ? Also , does it require access to mac (I have access
only to windows and linux based systems) ?
Regards,
Himanshu Nachane

On Thu, Apr 21, 2016 at 12:25 PM,

[2016-04-21 18:40] seanlip commented on #991
Hi @Himanshu1495 -- have a look at core/templates/dev/head/forms/formBuilder.js -- look for textAngularRte. The code to change is located around there. Also, this should be OS-independent; just make sure you know how to set up a local server and test your changes.

[2016-04-21 19:55] seanlip commented on #1598
This looks nice, @SongGithub! Some thoughts:
- The caret button's height looks great!
- Maybe make "Save Draft" wider, so that "Discard Draft" fits nicely below it (and does not stretch out to fit below the caret as well)? I think that feels more logical, since clicking the caret is meant to show "alternatives" to "Save Draft". So I think the length of the "Discard Draft" button should be the same

[2016-04-22 06:16] seanlip commented on #1497
Hi @kahkhang -- is the main issue that having more than one blank line in succession doesn't look nice? If so, I'm not sure we need to worry about that, since a straightforward fix would be to just have one blank line between paragraphs (or, alternatively, I guess having zero blank lines, since it looks like your paragraphs have lots of top/bottom margins).

I would suggest that we go with one can

[2016-04-22 07:24] seanlip commented on #1751
Oh, I remember this. This is just a test for the e2e behaviour for embedded explorations -- it's not actually a real exploration that's meant to be played. So, I don't think any change is necessary -- closing this issue. (Thanks for reporting it, though!)

[2016-04-22 07:24] #1751 closed

[2016-04-22 07:26] souravbadami commented on #1751
@seanlip -- Okay.

[2016-04-22 12:37] anthkris commented on #1706
Hey @seanlip I'm really close to finishing this, but I have a problem. I'm copying and tweaking the custom popover code that is used on the statistics page. It's working fine except that one of the two buttons meant to appear in the popover is a button to start the tutorial again and that code appears to be stripping out the ng-click attribute I put in the text. Any suggestions? Am I doing this wr

[2016-04-22 12:44] kahkhang commented on #1497
Hi Sean, yep I saw the discussion thread so I thought there was an issue concerning that. In that case, I guess a CSS fix would probably be fine. Thanks! :)

[2016-04-22 16:58] bbriggs commented on #1689
Has this issue reoccurred for you?

[2016-04-22 16:59] bbriggs commented on #1629
@feelcoder, any updates on installing sqlite-devl?

[2016-04-22 17:00] bbriggs commented on #1602
e2e tests seem to run fine with the exception of the chrome-webdriver issue that @souravbadami is working on.

[2016-04-22 17:02] bbriggs commented on #1580
Agreed. @ishankhare07 also reminded me of an interesting option. A requirements file and/or VirtualEnv might be helpful with resolving issues with conflicting pip pacakges.

[2016-04-22 17:03] bbriggs commented on #1545
So you used a virtualenv and numpy worked?

[2016-04-22 17:04] bbriggs commented on #1394
@brunnre8: are you capable of building a python 2.7 virtualenv?

[2016-04-22 17:09] bbriggs commented on #1295
Hypothetically, if we were to host a permanent server to handle webhooks, who would take care of that?

[2016-04-22 18:27] yousefhamza commented on #1545
Yes virtualenv and make sure that numpy version within is the supported numpy version.

[2016-04-22 22:08] seanlip commented on #1295
Me, I guess? :P I'd just need the code to stick on it...

[2016-04-22 22:35] seanlip commented on #1706
I think the ng-click is getting stripped out by the sanitizer, and that seems like it would be hard to fix -- you don't really want to mess around with the native Angular sanitizer, I think.

Handling this via popover is actually going to be a bit difficult, I think -- we had some issues with this when handling ratings etc. in the learner view. IIRC the issue was that we're using an older version

[2016-04-23 00:46] seanlip commented on #1602
/cc @oswellchan -- I think he was affected by this.

Though, according to @bbriggs, e2e tests seem to run fine (though, @bbriggs, are you running into @souravbadami's issue as well? If so, how did you get the e2e tests to run fine)?

Also, @oswellchan, when you have a moment, would you mind checking out the latest version of develop and seeing if the issues you ran into have been resolved? Thanks!

[2016-04-23 01:25] jacobdavis11 commented on #1705
Relevant design doc (may need some updating): https://docs.google.com/document/d/1xhC1qOqQ5QH5bzVbUCtefnGAa07wv0S5KWyboZ6-ixU/edit#heading=h.p7rfvryacmog

[2016-04-23 01:51] jacobdavis11 opened #1753 "In the statistics tab display the number of users leaving at each state"
Currently the information panels for each state in the statistics tab display the number of users entering the state and the number giving each answer.

It would be helpful to also display the number leaving the exploration at this state (or equivalently the percentage leaving). At the moment it is hard to deduce the information if there is a large number of different answers.

[2016-04-23 01:55] anthkris commented on #1706
Alrighty, I'll give that a try.

[2016-04-23 02:47] bbriggs commented on #1602
Two potential reasons I can think of:
1. There was a package change that is causing the difference now
2. (more likely) I somehow installed the chrome-webdriver package and
didn't realize it when I was testing last time.

On 04/22/2016 08:46 PM, Sean Lip wrote:

[2016-04-23 02:53] bbriggs commented on #1545
Thanks. This sounds like it may be part of a bigger issue with how we
deal with python in general using Oppia.

On 04/22/2016 02:27 PM, Yousef Hamza wrote:

[2016-04-23 05:47] rachelwchen commented on #1366
![final](https://cloud.githubusercontent.com/assets/12159451/14759552/1f5881e4-08dc-11e6-888f-89a48b691c91.png)

[2016-04-23 06:19] brunnre8 commented on #1394
@bbriggs Yes,  I hope so :wink:

Thats actually what I am doing to "fix" the Python issue on Arch (although with conda)  on my personal machine

[2016-04-23 16:03] Himanshu1495 commented on #991
@seanlip Thanks , I will work on this in a branch and create a pull request in a day or two.

[2016-04-24 02:40] seanlip commented on #1735
Fixed!! https://travis-ci.org/oppia/oppia/jobs/125291990

I'll do a PR soon for making the protractor tests mandatory. Thanks @MAKOSCAFEE!

[2016-04-24 06:04] kevinlee12 commented on #1508
This is no longer an issue, closing

[2016-04-24 06:04] #1508 closed

[2016-04-24 08:42] #1735 closed

[2016-04-24 10:09] seanlip commented on #1612
Hi @souravbadami -- just checking, are you looking into this?

[2016-04-24 10:13] souravbadami commented on #1612
@seanlip -- yes, i'm working on this and i'll update the status shortly.

[2016-04-24 10:17] seanlip commented on #1612
OK, thanks! (Also, sorry, didn't mean to rush you -- I was just looking around for some good starter projects for other contributors.)

[2016-04-24 21:35] seanlip commented on #1287
/cc @razat249

[2016-04-24 21:42] razat249 commented on #1287
Thanks for assigning me @seanlip

[2016-04-25 00:54] #1497 closed

[2016-04-25 00:57] seanlip commented on #946
I think this is now fixed, thanks to #1752. Thanks, @kahkhang!

[2016-04-25 00:57] #946 closed

[2016-04-25 06:39] cloudbps commented on #1714
Oh,I'm sorry, I didn't describe my question in a timely manner!
My demand is:
1.Implement interface localization(Support Chinese)
2.Implement local store database

[2016-04-25 06:40] cloudbps commented on #1714
How should I start?

[2016-04-25 06:48] seanlip commented on #1714
/cc @mit0110

Hi @cloudbps -- thanks for checking in! We are actually planning to bring i18n into the codebase, and @mit0110 is working on it [here](https://github.com/oppia/oppia/pull/1393). It's nearly finished, and should be ready to ship within a month or so, I think.

We are also planning to integrate with translatewiki, so it should be possible to do translations there after the i18n functio

[2016-04-25 09:19] seanlip commented on #1729
Fixed in #1746, thanks @giritheja! Closing.

[2016-04-25 09:19] #1729 closed

[2016-04-25 14:15] souravbadami opened #1757 "Divide e2e tests into test suites."
Currently, e2e test runs complete tests which consumes a lot of time. Dividing it into different test suites will enable us to go with some specific test.

[2016-04-25 14:18] bbriggs commented on #1757
cc #823

[2016-04-25 16:59] seanlip commented on #823
For clarity, note that this issue refers just to the backend Python tests.

[2016-04-25 17:02] seanlip commented on #1757
See also #985.

Having said that, I think this is a separate issue that involves just modifying protractor.conf.js accordingly, and making it possible to pass in a parameter from the commandline script to indicate the suite/suites to be run.

[2016-04-25 20:38] souravbadami commented on #1757
@bbriggs -- How will it be if we divide the test suites into full, editor, misc and usermanagement ?

[2016-04-26 05:56] #1706 closed

[2016-04-26 21:15] seanlip commented on #1590
Hi @razat249 -- reassigning to @BojOnTheBeat, since you're working on autosaving. Hope that's OK?

If you made any progress, please let us know in this comment thread, too. Thanks!

[2016-04-26 21:40] razat249 commented on #1590
@seanlip okay, no problem. I am working on the autosaving feature.

[2016-04-27 04:20] #1712 closed

[2016-04-27 07:10] seanlip opened #1758 "Design how the "my explorations" page looks for new creators."
At the moment, when a new creator comes to the creator dashboard to create their first exploration, they see only this:

![creator-page](https://cloud.githubusercontent.com/assets/10575562/14844425/24f1b7a0-0c0c-11e6-9c12-210cf8cb6d6e.png)

It's a bit stark and empty, and it might be nice to brighten it up a bit with some imagery. The aim of this issue is to redesign the "no explorations" view on

[2016-04-27 09:36] seanlip commented on #1598
@SongGithub, how is this going? I'm hoping we'll be able to get this out before the next release (which is likely to be in the first few days of May), but if not, I'm going to file a separate issue for the overly-long "Save Draft" button, since that just looks very weird.

(Alternatively, though, if you like, you could perhaps fix just that issue in a PR, and do the other stuff in a future PR. Ple

[2016-04-27 16:26] rachelwchen commented on #1758
Could use some change:
- Current UI offers an explanation as to why the page is blank but doesn't
offer a call-to-action
- Current UI is a little blank -- could use some imagery

Ideas:
- Add 3 elements: imagery, call-to-action, and a link to participants
playbook
  + Adding an imagery will warm up the blank space
  + Adding a call-to-action allows the user to directly respond to the
explanation (

[2016-04-27 18:52] ansarimofid commented on #1345
I have worked on another loader which can be viewed on codpen [link](http://codepen.io/ansarimofid/pen/zqmxya). This loader is bulilt using SVG and css3 animation. It is just a sample, further suggestions are welcomed.

[2016-04-27 21:47] seanlip commented on #1758
Hi @rachelwchen, thanks! Do you think you could actually add the images to this github thread? They don't show up properly when you email it -- see [here](https://github.com/oppia/oppia/issues/1758#issuecomment-215138600), so I can't see any of your designs...

Thanks!

[2016-04-27 22:22] rachelwchen commented on #1758
Could use some change:
- Current UI offers an explanation as to why the page is blank but doesn't offer a call-to-action
- Current UI is a little blank -- could use some imagery

Ideas:
- Add 3 elements: imagery, call-to-action, and a link to participants playbook
1. Adding an imagery will warm up the blank space
2. Adding a call-to-action allows the user to directly respond to the explanation ("Y

[2016-04-28 01:50] jacobdavis11 opened #1759 "Responsiveness of buttons in the player navbar"
In the player navbar there are buttons on the right for users to leave feedback messages and to go to the editor. If I start reducing the width of the screen then these quickly disappear, long before there is any need for them to do so.

[2016-04-28 02:39] seanlip opened #1760 "Have a dedicated URL for iframed explorations, and make the embedding script minimal."
When explorations are embedded on other sites, most of the UI is created by the embedding scripts that can be found in the static/scripts/oppia-player-* files in the Oppia codebase. However, this makes it hard to update the embedding UX, since existing embedders will still be using the old embed script even if we push a new version.

To get around this, we should have a URL like /embed/exploration

[2016-04-28 02:42] seanlip opened #1761 "Redesign the embedded exploration UI."
When an exploration is embedded in another site, a “loading view” is shown, and then the exploration suddenly “pops” into place. This is quite inelegant, and both the UI and UX could do with some redesign. The aim of this issue is to create a better design for the "embedded exploration" experience.

/cc @MAKOSCAFEE

[2016-04-28 02:43] seanlip opened #1762 "Make it easy to update the embedding scripts."
We currently have scripts for embedding explorations; these scripts are hosted on CDNjs and jsDelivr. Two things need to be done:

- Write instructions or a script for auto-minifying new versions of these scripts, and putting them on cdnjs/jsDelivr.
- Figure out best practices for deprecating old embed scripts (and suggesting that users move to the newer version), or whether this is worth doing at

[2016-04-28 08:36] souravbadami opened #1764 "Issue with scrolling down to end on code editor interaction."
![screenshot from 2016-04-28 13 50 34](https://cloud.githubusercontent.com/assets/11073943/14879965/eef3120e-0d49-11e6-806d-f46a866af159.png)

**Steps to Reproduce:**
- Create a new exploration and add a code editor interaction.
- Add a code which produces longer output than the screen.
- Preview the exploration.

**Observed behavior:**
The screen flickers on scrolling to view the entire output.

[2016-04-28 11:31] maitbayev commented on #1764
#1754 will include this issue.

[2016-04-28 19:19] BojOnTheBeat commented on #1590
Pylint doesn't currently have any options for these styles on their docs. Is there any other way to check for these?

[2016-04-28 21:18] seanlip commented on #897
Update: @giritheja will be writing a proposal for the second bullet point. (The other two are out of scope, but it may be worth keeping them in mind as possible future use cases while developing the proposal.)

[2016-04-28 22:36] BojOnTheBeat commented on #1750
Can I take a crack at this? @seanlip

[2016-04-28 22:52] seanlip commented on #1750
Yep, go for it! I've assigned you.

[2016-04-28 23:10] seanlip commented on #1590
Thanks for checking, @BojOnTheBeat!

I did a bit of research, and there seems to be a missing-final-newline message here: http://pylint-messages.wikidot.com/messages:c0304. @BojOnTheBeat, can you check that this works correctly with the current pylint setup, and, if not, modify .pylintrc as needed?

For the docstring formatting, I could not find anything either. It also looks like pylint doesn't s

[2016-04-29 00:13] anthkris commented on #1705
FYI, getting started on this now.

[2016-04-29 02:49] anuzis opened #1766 "Multiple Select (checkbox) interaction instructional text fix."
The Multiple Select (checkbox) interaction has a text bug when students are allowed to select 0 submissions. In the attached screenshot learners are allowed to select 0 items, but are presented with text saying "Please select at least ."

Recommended fix is probably removing the text entirely if 0 selections is acceptable, or adjusting it to say something like "Please select any number of answers.

[2016-04-29 03:43] anuzis opened #1767 "Feature Request: Python coding interaction allows test runs before submitting."
It would be a huge improvement in programming-related learning experiences if we can allow learners to test run their code and see what comes out of the console before submitting. For reference, other platforms like www.udacity.com offer "Submit" and "Test Run" options for any coding related interaction.

Attached a screenshot of Oppia's current UI with the single 'Run' option:

![testrun](https:/

[2016-04-29 04:28] #1350 closed

[2016-04-29 06:49] kevinlee12 opened #1769 "Gallery Tiles Not Showing Gallery Group"
Tiles for a specific gallery group do not show up when user clicks on specific category group in the gallery. This issue occurs only on the first time the user clicks on the respective category, hence it is easiest to reproduce the error in the browser's incognito mode where the history is not saved.

**Steps to Reproduce:**
1. Load explorations into gallery with admin account
2. Using Chrome's In

[2016-04-29 19:56] #1750 closed

[2016-04-29 20:09] BojOnTheBeat commented on #1590
@seanlip the missing-final-newline message is enabled by default on pylint and is not disabled anywhere in the codebase but for some reason, pylint seems to be ignoring it. Am I missing something?

[2016-04-29 20:29] seanlip commented on #1590
Weird. I'm afraid I don't know -- it sounds like it needs further investigation. Has anyone else on the internet run into this problem?

[2016-04-29 21:04] BojOnTheBeat commented on #1590
None that I can find so far. I'll keep checking

[2016-04-29 22:14] seanlip commented on #1590
Hmm, that's odd.

Having said that, this is pretty low-priority in the general scheme of things, so if you can't figure out what's going on after about 30 minutes, let's punt it -- there are other good projects to look at!

[2016-04-30 05:25] ansarimofid commented on #1345
I have added another concept of loader to the pen [View](http://codepen.io/ansarimofid/pen/zqmxya) .Please provide your comments on the concepts.

[2016-04-30 07:43] kevinlee12 opened #1773 "Menu Hamburger appears intermittently when switching pages"
The menu hamburger (3 horizontal bars at the top left corner) appears intermittently when switching pages. Please note that this is universal throughout Oppia (ie. the issue appears no matter which page the user is navigating to or from).

Here's a screen capture detailing the issue:
![menu-hamburger](https://cloud.githubusercontent.com/assets/5758256/14934650/5ac5d930-0e6c-11e6-8d67-2ba6cb07e69d.

[2016-04-30 07:44] seanlip commented on #1345
Hi @ansarimofid,

Actually, I like both of these! Why don't you also get some feedback from the gitter chat? Then we can figure out which is better, and implement it.

[2016-04-30 07:47] #1510 closed

[2016-04-30 07:53] kevinlee12 commented on #1769
Resolved in #1771

[2016-04-30 07:53] #1769 closed

[2016-04-30 07:57] #1511 closed

[2016-04-30 07:58] kevinlee12 commented on #1511
As per discussion with @seanlip offline, will be closing this issue unless users raise this issue.

[2016-04-30 08:02] kevinlee12 commented on #1505
Issue resolved, closing

[2016-04-30 08:02] #1505 closed

[2016-04-30 08:08] kevinlee12 opened #1774 "Hard to find tutorial reminder bubble in editor"
The current implementation of the white background reminder bubble for exploration editor help is hard to catch when the creator closes the tutorial prompt window. It would be better if it were placed in a more centralized position and eye-catching.

Screenshot of current implementation:
![image](https://cloud.githubusercontent.com/assets/5758256/14934741/bb2349fe-0e6f-11e6-8dbf-8bb95126f618.png)

[2016-04-30 08:16] kevinlee12 opened #1775 "Window resizing hides editor tutorial"
Resizing the browser window midway results to part of the editor tutorial dialog being hidden from the creator. It might be better to either exit tutorial mode or alert the creator that the tutorial cannot function correctly when Oppia is on half screen.

Screenshot:
*Step 1*
Fullscreen (normal):
![image](https://cloud.githubusercontent.com/assets/5758256/14934766/5ac58a80-0e70-11e6-9e6c-cc7757b2f

[2016-04-30 08:17] seanlip commented on #1774
@anthkris, do you have any thoughts on this?

[2016-04-30 08:19] seanlip commented on #1775
Marking as minor instead, since I don't think resizing the window in the middle of the tutorial is a common operation. The UX in this case is kind of rubbish, though, I agree.

[2016-04-30 16:15] anthkris commented on #1774
I don't think it needs to be any larger. From a UI perspective, it's meant to be light-handed. Just a little notification. However, I agree that it can be easy to miss. Perhaps we could use color to highlight it and/or leave it up a bit longer. I'm thinking of the Twitter New Tweets notification on phones. It's quite small but it's blue (so eye-catching) and it stays up until you scroll either up

[2016-04-30 23:31] abhijit5893 commented on #1513
@seanlip  I have created a [document](https://docs.google.com/document/d/1O4SXbJ8kT-9TrZXvXWke67Lac_mIaCMxd4S9ZU55qq4/edit?usp=sharing) related with this issue. PTL.

[2016-04-30 23:42] kevinlee12 commented on #1774
I do agree that it doesn't need to be larger as well. Perhaps having a dark background (as we do with the existing buttons, screenshot below) and (as you suggested) leaving it longer might help.

![screenshot 2016-04-30 16 41 42](https://cloud.githubusercontent.com/assets/5758256/14939222/7687681a-0ef2-11e6-8d62-c92581ee7763.png)

[2016-05-01 12:18] ishankhare07 commented on #1580
@seanlip everything seems fine with the `pip version`
[code]

[2016-05-01 20:51] seanlip commented on #1580
Hm, interesting. I have a different one:

`pip 6.0.6 from /usr/local/lib/python2.7/dist-packages/pip-6.0.6-py2.7.egg (python 2.7)`

@bbriggs -- do you know much about pip? I'm wondering if a discrepancy in the pip version is likely to be the root cause of this issue...

EDIT: I also found these:
- http://stackoverflow.com/a/30045528
- https://github.com/powerline/powerline/issues/552

Maybe they w

[2016-05-01 22:19] seanlip commented on #1767
Note to contributors: the relevant code is in extensions/interactions/CodeRepl. To test it, you can create an exploration with a code interaction, and click the preview tab in the editor to play through it and improve its behaviour.

[2016-05-02 01:22] seanlip commented on #1544
Closing this issue -- the gravatar was generated in #1672 and the one-off job has been added in #1778. Thank you, @hitesh96db!

[2016-05-02 01:22] #1544 closed

[2016-05-02 01:28] seanlip commented on #1758
Thanks, @rachelwchen -- these are great! The pictures are really cute :-)

Having said that, we aren't really using the current logo as a mascot; we've been using an otter instead. I think the idea should be translatable, though.

/cc @markhalpin -- Mark, do you have any thoughts with regards to doing something with the otter here? (For context, please see [this page](https://github.com/oppia/oppi

[2016-05-02 01:35] seanlip commented on #1773
Hi @ultimatecoder, would you be interested in having a go at this?

[2016-05-02 01:51] seanlip commented on #1757
This sounds fine to me. (And if it turns out not to be, it should be easy enough to change later, so, @souravbadami, please feel free to go ahead!)

[2016-05-02 01:55] seanlip opened #1779 "e2e tests should be split into separate suites on Travis-CI."
(This is related to #1757.)

The e2e tests are a bit flaky -- particularly the ones for editorAndPlayer.js -- and we've started to run into a pattern on Travis-CI where one of the 20 or so tests fails, the whole thing is restarted, and then a different test fails. This is quite irritating.

It might therefore be a good idea to split the protractor tests on Travis into several separate checks. That

[2016-05-02 02:32] markhalpin commented on #1758
Hullo Rachel and all,

If someone would give me the appropriate dimensions/file type, I'd be happy
to provide illustrations using our current imagery/style based on Rachel's
sketches. I think this would be a good place to see Otter. Sean, when would
you like these (I'm guessing ASAP :) )?

I could have something by late tomorrow or early Tuesday. Would that work?

Mark

On Sun, May 1, 2016 at 9:29

[2016-05-02 02:52] ultimatecoder commented on #1773
Hello @seanlip Assign it to me it you are okay to get fix in next 2 days. Thanks!

[2016-05-02 03:20] seanlip commented on #1773
Sounds good, thanks! Can you accept the invitation at github.com/oppia? This will make your name show up in the assignees list, so that I can assign you.

[2016-05-02 03:28] ultimatecoder commented on #1773
@seanlip Accepted the invitation

[2016-05-02 03:33] seanlip commented on #1773
Thanks! Assigned you :-)

[2016-05-02 03:46] seanlip commented on #1758
Hi @markhalpin -- thanks! Just so you know, this isn't super urgent, so Tuesday is totally fine, and next weekend is also totally fine.

Generally speaking, I think SVG is preferable. For dimensions, I would say, maybe around 600px width or so? (I think this is a reasonable baseline, though of course SVG is scalable.) @rachelwchen, what do you think?

Thanks!

[2016-05-02 03:55] rachelwchen commented on #1758
@markhalpin Hi! Perfect -- excited to see it. Apologies for not using the otter earlier!
@seanlip I think 600px width is a reasonable baseline! The actual dimension may depend on what other elements we plan on adding to the webpage -- it'll look better if things align.

Thanks!

[2016-05-02 04:58] seanlip commented on #1598
Hi @SongGithub -- I ended up fixing this as part of the prep for the upcoming release, since it's quite an eyesore as it currently stands! Please see #1780.

FYI, I also looked around a bit and decided to leave out the "Discard Draft" stretching -- it looks like other sites (such as GitHub) don't really care too much about the width of the dropdown compared to the toggle. This also means that we d

[2016-05-02 05:49] seanlip commented on #1287
Hi @razat249, @526avijitgupta -- @sbhowmik89 is now back, so I'm going to suggest that he finish off the backend controllers (and tests), since we do need to get this fix in pretty soon.

@526avijitgupta, if it's OK, please could you continue working on the frontend part of this? @razat249, I'll write to you separately and follow up.

Thanks!

[2016-05-02 08:40] seanlip commented on #1697
Hi @hitesh96db, would you be interested in looking into this?

[2016-05-02 11:52] cloudbps commented on #1714
@seanlip  Oh, thank you very much, I'm looking forward to.
I have a question, is data storage can be localized?Because my network may not be able to access the Internet

[2016-05-02 15:37] gvishal commented on #1590
@seanlip yes, I think that it's not worth all that trouble. But, we should add it to some file for reference.

[2016-05-02 16:28] hitesh96db commented on #1697
Sure :)

[2016-05-02 17:18] seanlip commented on #1697
Thanks! Assigned you :-)

[2016-05-02 17:19] seanlip commented on #1697
Btw this comment explains how to get started with collections: https://github.com/oppia/oppia/issues/1587#issuecomment-196313127

[2016-05-02 17:42] seanlip commented on #1714
Not at this point, I'm afraid -- sorry about that!

[2016-05-02 18:18] souravbadami opened #1782 "The tooltip of help button looks a bit off screen."
![screenshot from 2016-04-28 13 47 49](https://cloud.githubusercontent.com/assets/11073943/14963218/3ed5390e-10c0-11e6-8e73-1738bbc0eea4.png)

**Steps to Reproduce:**
- Create a new exploration.
- Click **No** on the "Take a tour" modal.

**Observed behavior:**
The tooltip of help button looks a bit off screen.

**Environment:**
O/S: Ubuntu 14.04.1 LTS
Browser: Mozilla Firefox V45.0 & Google Chrom

[2016-05-02 22:02] seanlip commented on #1590
OK, added more info to CONTRIBUTING.md:

    https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md

Closing this. Thanks!

[2016-05-02 22:02] #1590 closed

[2016-05-03 01:06] cloudbps commented on #1714
Oh,thank you very much it was.

[2016-05-03 04:35] seanlip commented on #1556
Hi @gvishal -- would you still be interested in taking a look at this at some point?

[2016-05-03 09:25] #1698 closed

[2016-05-03 09:37] seanlip commented on #1730
Fixed in https://github.com/oppia/oppia/commit/541933a82e53142f8650703c4be5e0f617ffb518 in preparation for the upcoming release. Closing.

[2016-05-03 09:37] #1730 closed

[2016-05-03 11:55] 526avijitgupta commented on #1287
@seanlip Yes it's okay with me to continue working on the frontend part of this.

[2016-05-03 20:24] seanlip commented on #1085
Hi @kennho, just wanted to follow up on this. Have you found some time to look at it? Thanks!

[2016-05-03 22:09] seanlip commented on #1611
(De-assigning until #1587 is finished.)

[2016-05-03 22:09] seanlip commented on #1535
@hervephp, any progress?

[2016-05-03 22:09] seanlip commented on #1525
@akashrajkn, any progress?

[2016-05-03 23:12] edallison commented on #912
In both firefox and chrome on OSX I am unable to recreate this.  I've tried both starting with a blank RTE as well as clearing one with saved content. Is it possible this issue was indirectly fixed?

[2016-05-04 01:52] seanlip commented on #1705
Hi @anthkris, thanks for the update!

Just checking, do you have an ETA? This is a pretty important issue, since it appears that new creators are getting stuck on the modal, so please let me know if it makes sense to split it up or if you'd like any help.

Thanks!

[2016-05-04 02:02] anthkris commented on #1705
Howdy @seanlip It's easy enough to just remove a few items from the current modal, but putting them into a new modal and making sure the backend tests continue to run may take a bit. I'm hitting this hard this week. How about, if I don't have anything by Monday, we split it up.

Is that okay or do you need it done more quickly?

[2016-05-04 02:05] seanlip commented on #1705
HI @anthkris, thanks! Yep, I think that sounds fine to me -- let's do what you suggest!

[2016-05-04 04:26] seanlip commented on #912
Interesting, I can't reproduce it either (though I keep running into #1535, annoyingly). It probably got fixed inadvertently, so I'm going to close this. Thanks, @edallison!

[2016-05-04 04:26] #912 closed

[2016-05-04 14:34] gvishal commented on #1556
@seanlip -- Yes, I'd be able to work on it next week! A little preoccupied right now.

[2016-05-04 15:59] anthkris commented on #1705
Hey @seanlip I've been re-reading this and, would it be fair to say that we don't actually want to get rid of the creation modal, we just want to move it to the point after someone clicks publish?

[2016-05-04 19:51] seanlip commented on #1705
Well -- sort of, but not really. I don't think it's as straightforward as taking the entire creation modal wholesale and sticking it in a different point in the workflow; I do think of it more as two separate things (removing the existing one, and adding new functionality to the saving flow).

This is because the fields that are shown after someone clicks publish will depend on which fields still

[2016-05-05 08:51] seanlip commented on #1598
Update: #1780 is merged. Closing this issue.

[2016-05-05 08:51] #1598 closed

[2016-05-05 08:54] seanlip commented on #991
Hi @arun1595 -- not sure what happened to @Himanshu1495, but would you like to take this on instead? Thanks!

[2016-05-05 10:17] arun1595 commented on #991
Sure!
I'll look into it.

[2016-05-05 10:22] Himanshu1495 commented on #991
Sorry, i took so long @seanlip . Finals are in 2 days , so i am not able to
devote much time to the project.
On 05-May-2016 3:48 PM, "Arun Kumar" <notifications@github.com> wrote:

[2016-05-05 13:06] souravbadami opened #1788 "The textbox alignment on welcome card is not well aligned."
![screenshot from 2016-05-05 04 16 35](https://cloud.githubusercontent.com/assets/11073943/15044118/463515f2-12f0-11e6-8620-e5bd6eea1ab7.png)

**Steps to Reproduce:**

- Checkout release-2.2.0 branch.
- Reload all the explorations from the admin panel.
- Navigate to _localhost:8181/create/8_ and click on welcome card.

**Observed behavior:**
The textbox alignment in a bit wierd.

**Environment:**

[2016-05-05 19:26] seanlip commented on #991
Hi @Himanshu1495, no problem. Please let us know earlier next time, though, so that we can release the projects back into the pool of available ones!

[2016-05-05 20:21] edallison commented on #914
I'd like to be assigned.  Running `document.execCommand("enableObjectResizing", false, false);` in the browser console seems to fix the issue though I'm not completely sure where this should be implemented in the codebase. Would the initialization of the editor in /oppia/core/templates/dev/head/editor/StateEditor.js be appropriate?

[2016-05-05 20:24] seanlip commented on #914
Thanks, @edallison! Assigned.

I think this change should affect all RTEs, so maybe try to find somewhere in forms/formBuilder.js where the general configuration happens?

[2016-05-06 03:32] BojOnTheBeat commented on #1759
So should I simply just change navbarCutoffWidthPx and make it a smaller number? @jacobdavis11

[2016-05-06 07:40] seanlip commented on #1759
Probably not -- that is going to affect all pages, not just this one. We need to find a solution that affects only this page -- so, somehow, navbarCutoffWidthPx needs to be customizable for individual pages (or rather, there's a default value that individual pages can overwrite).

On further thought, it's not entirely clear to me what the best way to handle this is, actually. @jacobdavis11 @BojOnT

[2016-05-06 22:39] #914 closed

[2016-05-06 23:08] seanlip commented on #1767
Fixed in https://github.com/oppia/oppia/commit/f4d158a3f539d4f51bc1213347bf972ba668bb3e

[2016-05-06 23:09] seanlip commented on #1788
Fixed in #1792. Thanks @souravbadami!

[2016-05-06 23:09] #1788 closed

[2016-05-06 23:10] seanlip commented on #1782
@ashishpahwa7 -- want to try this one? It's not entirely clear what the best solution is -- maybe the text should be smaller, maybe the relative position of the arrow should be moved, maybe the text should wrap to two lines. I suggest experimenting and thinking about what would be best from the user's perspective before you dive into a full implementation. Thanks!

[2016-05-06 23:15] souravbadami commented on #1779
@seanlip -- I think, .travis.yml needs minor changes for this. Can i take this one ?

[2016-05-06 23:16] seanlip commented on #1779
Yes, please go ahead! Thanks @souravbadami :)

[2016-05-07 03:56] p4rsec opened #1793 "Have Profile Picture Hyperlink to Preferences"
Currently, the steps to change one's profile picture involve signing in, and going to preferences, and then changing said picture; however, the typical user's first instinct is to click on the profile tab and click on their picture to change it. The proposed behavior being that as long as the image is one's _own_ profile image, then it should redirect them to preferences to change the picture; thu

[2016-05-07 03:59] seanlip commented on #1793
To clarify the proposed behavior:
- If you are logged in, then when you go to /profile, clicking the profile image should take you to /preferences.
- If you are not logged in, or if you are logged in and go to someone else's profile page, the profile image should not be clickable.

[2016-05-07 09:08] #1767 closed

[2016-05-07 09:44] ashishpahwa7 commented on #1782
Hi @seanlip , where do I find the relevant code ?

[2016-05-07 10:03] souravbadami commented on #1782
@ashishpahwa7 -- You can look at /core/templates/dev/head/editor/exploration_editor.html

[2016-05-07 14:57] giritheja opened #1795 "Make social share buttons more visible"
Currently, the social share buttons can be reached b clicking info icon next to the exploration name at the top. Which looks something like this:
![screenshot from 2016-05-07 19 31 32](https://cloud.githubusercontent.com/assets/8845039/15092752/926493f2-1490-11e6-83e1-3353a562bb69.png)
Clicking the above icon opens a pop-up which contains information about exploration, which looks something like t

[2016-05-07 16:04] ashishpahwa7 commented on #1782
@seanlip the popover (as depicted in the screenshot above) doesn't appear when I click No on the take a tour modal .

[2016-05-07 16:35] #1757 closed

[2016-05-07 17:02] admarian95 opened #1796 "Cant Reach localhost on Ubuntu 15.04"
currently facing problem with installation of oppia
I initially ran bash scripts/start.sh
it showed a message as shown in the images

![1](https://cloud.githubusercontent.com/assets/17911213/15093355/4cbfab44-14a3-11e6-99a2-8d7145eeea03.png)
![2](https://cloud.githubusercontent.com/assets/17911213/15093357/4d3e3522-14a3-11e6-977a-f14c4b29edec.png)
![error](https://cloud.githubusercontent.com/asset