[2018-07-21 22:43] vojtechjelinek commented on #5336
Another option might be to modify the [interpolateUrl](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/domain/utilities/UrlInterpolationService.js#L111) code to allow more characters. But this might break other parts of our codebase that might rely on the fact that `interpolateUrl` doesn't allow `()`, although I think that the proper way of doing things would be to allow all ch

[2018-07-21 23:08] seanlip commented on #5336
I agree with allowing more characters in the UrlInterpolationService regex, but we need to be careful to restrict to characters that are allowed in specific parts of URLs. For example in the link sent by @vojtechjelinek it says that "/" is allowed in URLs but I'm guessing you probably don't want that in an interpolated value.

In terms of technical design, I think perhaps interpolationValues shoul

[2018-07-22 00:19] dawsoneliasen commented on #5134
Can I take a shot at writing tests for core.domain.learner_progress_domain ?

[2018-07-22 00:27] dawsoneliasen commented on #5134
Can I take a shot at writing the tests for core.domain.calculation_registry ?

[2018-07-22 01:19] seanlip commented on #5134
Hi @dawsoneliasen, assigned you!

[2018-07-22 01:28] #5274 closed, assigned to nobody

[2018-07-22 04:56] #5301 closed, assigned to vibhor98

[2018-07-22 04:59] vibhor98 commented on #5302
This has been already done in #5320.

[2018-07-22 04:59] #5302 closed, assigned to vibhor98

[2018-07-22 06:57] #5314 closed, assigned to seanlip

[2018-07-22 07:04] FinalHopee opened #5348 "Some Exploration answers are space restrictive"
Answers, for example in python exploration, should not be space restrictive.
For now, it can fail an answer if answer missed a single space.
There is a note about such behavior in exploration itself, which is good, but we should look into a way to work it out without such strict policy.
An example for exploration: https://www.oppia.org/explore/jeCU94yVUdLu
Choose **list mutation**
The correct answ

[2018-07-22 08:02] seanlip commented on #5336
Hi folks -- this is the last blocking bug. I think @aks681 @pranavsid98 and @ishucr7 have taken a look at it, but just wanted to check, who is actually fixing it?

(Maybe you can tag-team, too :) )

Thanks!

[2018-07-22 09:36] nithusha21 commented on #5257
This did not happen on the responsive mode in chrome. Only on the physical device. No console errors were displayed when I checked.

[2018-07-22 17:35] bansalnitish commented on #4517
Yeah! This has been fixed now. Closing this one.

[2018-07-22 17:35] #4517 closed, assigned to bansalnitish

[2018-07-22 17:36] bansalnitish commented on #3032
This has been fixed with the replacement of TextAngular with CKEditor. Closing this one!

[2018-07-22 17:36] #3032 closed

[2018-07-22 18:42] lilithxxx commented on #5134
Hi please assign core.platform.memcache.gae_memcache_services to me

[2018-07-22 19:02] DubeySandeep commented on #5134
Hi @lilithxxx, welcome to oppia, I think you haven't filled the survey yet, would you mind doing that (asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in 2nd bullet) after that I'll assign you for the ` core.platform.memcache.gae_memcache_services`. Thanks!

[2018-07-22 19:19] lilithxxx commented on #5134
@DubeySandeep done

[2018-07-22 19:32] seanlip commented on #5134
NB: I added @LanJosh to core.storage.audit.gae_models and core.storage.collection.gae_models on 20 July, he's planning to get these done (maybe with others!) by 27 July. (This comment is just for keeping track of when the assignment happened.)

[2018-07-22 19:43] DubeySandeep commented on #5134
@lilithxxx, I have assigned you for `core.platform.memcache.gae_memcache_services`.

[2018-07-22 20:08] unit-00 commented on #5134
Hi hello! May I be assigned `user_domain`?

[2018-07-22 20:10] seanlip commented on #5134
Done! Assigned you :)

[2018-07-22 21:52] aks681 commented on #5336
I'll take this up.

[2018-07-23 00:44] #5336 closed

[2018-07-23 21:04] kevintab95 commented on #5299
I tried following the guidelines mentioned on the page and here's what I got:
on chrome:
<img width="219" alt="chromenew" src="https://user-images.githubusercontent.com/11008603/43102637-49e41686-8ee9-11e8-9dcb-317654e56613.png">

on firefox:
<img width="217" alt="firefoxnew" src="https://user-images.githubusercontent.com/11008603/43102647-4f8fed76-8ee9-11e8-9ae0-0867afc797bc.png">

on opera:
<img

[2018-07-23 23:11] hoangviet1993 commented on #5333
Looks like issue went away. Any problem with closing this down?

[2018-07-24 04:03] seanlip commented on #5299
Thanks, @kevintab95!

The Safari thing is weird. I wonder if it's due to some CSS property being treated differently there (or being incompatible, or something...). Please let us know if you figure it out!

[2018-07-24 21:18] apb7 opened #5363 "Console errors when searching the library using mobile device on the test server"
## Steps to reproduce:
1. Navigate to https://oppiatestserver.appspot.com/library
2. Chose Pixel 2 using Chrome dev tools.
3. Type in any query in the search bar.
4. Observe the console.

## Observed behavior:

![errrrrrrr from 2018-07-25 02-45-59](https://user-images.githubusercontent.com/24826041/43166734-fec7326a-8fb4-11e8-80d8-b0880401beb0.png)

## Expected behavior:
There should be no console

[2018-07-24 21:18] apb7 commented on #5363
Also, can someone confirm this once? Thanks!

[2018-07-24 21:43] aks681 commented on #5363
@apb7 Yeah, I can confirm it. It happens in the responsive view also.

[2018-07-25 03:33] kevinlee12 commented on #5363
@apb7, can confirm the error exists with the same console errors on FF mobile view. It doesn't occur on Oppia.org.

[2018-07-25 03:37] apb7 commented on #5363
Thanks, @aks681 and @kevinlee12 for the confirmation!

[2018-07-25 06:10] A-Yerkeshev opened #5365 "Error when running frontend tests"
Good day, guys. I have a little, but annoying issue related to running frontend tests. When I execute a command `bash scripts/run_frontend_tests.sh`, sometimes it executes fine, but sometimes it reaches this line:
`I/update - geckodriver: geckodriver-v0.21.0 up to date`
Then freezes for around a minute and then throws this error:
[code]
Is anyone faced this issue? What was the solution?
Thank you

[2018-07-25 17:03] apb7 commented on #5365
Hi @A-Yerkeshev, thanks for filing this issue. I have not yet experienced this problem. Nevertheless, could you please provide some additional details, like the operating system on which this occurs, so that we can try to look into this? If I remember correctly, you're using Windows 10 with Git Bash terminal, right?

[2018-07-25 22:01] kevintab95 commented on #5299
Here are the latest screenshots (basically followed styles for the button [here](https://developers.google.com/identity/sign-in/web/build-button)). Safari looks fine but the button is bigger than before:
Chrome:
<img width="309" alt="chrome" src="https://user-images.githubusercontent.com/11008603/43229904-fb8251b4-9083-11e8-8744-91316ef3d225.png">

Firefox:
<img width="319" alt="firefox" src="http

[2018-07-25 23:22] seanlip commented on #5299
It looks good to me, just make sure that it's in accordance with the guidelines [here](https://developers.google.com/identity/branding-guidelines). Thanks!

[2018-07-26 03:50] A-Yerkeshev commented on #5365
Yes, that's right.
I did not find any logic in this behavior yet, it seems like this happens randomly :))

[2018-07-26 15:55] apb7 commented on #5333
Latest occurrence: https://travis-ci.org/oppia/oppia/jobs/408455421

[2018-07-26 16:04] hoangviet1993 commented on #5333
Oh no! Could we track down which npm install is causing the error?
EDIT: This problem is only replicable on Oppia's original repo i.e you have to cut a branch directly only on Oppia's repo and not from your local fork.

[2018-07-26 16:35] apb7 commented on #5333
Okay, this occurs here too: https://travis-ci.org/oppia/oppia/jobs/408566996 and this is a branch off oppia/oppia.

[2018-07-26 16:38] hoangviet1993 commented on #5333
This is a branch within oppia/oppia

This is a branch from a fork

[2018-07-26 16:48] hoangviet1993 commented on #5333
Apurv, I would appreciate you answering my questions / comment entirely and not cherry-pick stuff to answer.

[2018-07-26 16:54] apb7 commented on #5333
Hi Viet, I am not too sure how to track the exact module down except for hit-and-trial. I was therefore trying to put in all relevant occurrences in this thread so that we can take a look at them. Sorry if I did not answer your question earlier. My bad :)

[2018-07-26 16:56] hoangviet1993 commented on #5333
Can I also recommend clearing Travis cache?
Yes, it would be slow for the first 2-3 PR builds subsequently but I would rather that than writing more codes.

[2018-07-26 17:04] apb7 commented on #5333
Okay, let's try clearing the cache.

[2018-07-26 17:15] apb7 commented on #5333
I am trying to clear all cache but it fails somehow:
![screenshot-travis-ci org-2018 07 26-22-43-45](https://user-images.githubusercontent.com/24826041/43277387-8486d920-9125-11e8-88f1-e12a59315b95.png)

[2018-07-26 17:16] nithusha21 opened #5370 "Cleanup old feedback models, and related data"
In PR #5235, new models were created to generalize feedback models. On successful migration to the new models, we need to delete the existing models which are getting replaced.

Also https://github.com/oppia/oppia/pull/5235#discussion_r205368613 needs to be addressed during the cleanup process.

[2018-07-26 17:18] apb7 commented on #5333
So I have successfully deleted cache for both the failing PRs: #5368 and #5340. Let's wait for the result.

[2018-07-26 17:26] nithusha21 opened #5371 "Make message_count field in GeneralFeedbackThreadModel required"
See https://github.com/oppia/oppia/pull/5235#discussion_r205366322 for reference.

The message_count field in the thread model is not required right now. There is an open TODO in the code https://github.com/oppia/oppia/blob/41fdbb327ab40b64824f01d7c18e12a2158b48dd/core/domain/feedback_services.py#L558-L565

We aren't sure if this TODO has been resolved, and if it has been resolved, we can make mes

[2018-07-26 21:16] hoangviet1993 commented on #5333
Results are in! Front end tests are still failing for both PR :/
I noticed the Travis stops in the middle(?) of installing Karma (1.5) before failing and looping back
I can see
`echo Checking whether jasmine-core is installed`
`echo Checking whether karma is installed`
looped 3 times and then the test failed.
Other PR that is built from a fork does not display the same behavior. I am not sure as t

[2018-07-27 18:49] hoangviet1993 commented on #5363
Since this is a regression, we should figure out which commit causes these console errors.

[2018-07-28 02:50] mzaman07 commented on #3950
Hello I would like to work on library/library.html.

[2018-07-28 03:44] DubeySandeep commented on #3950
Hi @mzaman07, I've assigned you to `library/library.html`. :)

[2018-07-28 03:50] DubeySandeep commented on #3950
De-assigned @opllama2 from  `header_css_libs.html &  header_js_libs.html` as #4958 is closed because of no response.

[2018-07-28 03:53] DubeySandeep commented on #3950
Hi @jp8042, any updates on `collection_editor/collection_editor.html`?

[2018-07-28 09:40] hoangviet1993 commented on #5333
UPDATE: Sean's #5377 added another shell script that contains the npm install commands. This completely removed the dependency tree being printed out. We can now see the result of the front-end tests now, yay!

This solution also seems to solve the frontend tests failing problem too. Those submitting branches from inside oppia/oppia should pull the latest commits to see if it helps unblock the fro

[2018-07-28 09:43] apb7 commented on #5333
Thanks for the update, Viet! Closing this down now :)

[2018-07-28 09:43] #5333 closed, assigned to nobody

[2018-07-28 15:34] nivethsaran commented on #5134
I would like to implement backend tests on Core.controllers.recent_commits

[2018-07-28 22:44] #5299 closed, assigned to kevintab95

[2018-07-29 04:09] dawsoneliasen opened #5386 "start.sh produces an error when using VirtualBox "no method available for opening 'http://localhost8181/'""
When attempting to run Oppia on Windows via VirtualBox, the start.sh script is expected to NOT attempt to launch a browser window opening localhost:8181.

Instead, the script will attempt to launch a browser window because it checks if the OS is Linux, which will always turn out to be true, because it is running a virtualized Ubuntu.

This problem occurs if you follow the current windows installat

[2018-07-29 08:47] nindyahapsari commented on #5134
Hi, may I be assign to core.controllers.custom_landing_pages

[2018-07-29 09:27] DubeySandeep commented on #5134
Hi @nindyahapsari, :) I've assigned you to `core.controllers.custom_landing_pages`. :)

[2018-07-29 09:28] DubeySandeep commented on #5134
Hi @prakharchoudhary, any updates on `core.platform.models`?

[2018-07-29 12:57] aks681 commented on #5386
Hey, yeah, I am not sure when using virtual box, but I had got this error, when trying to run Oppia on Windows Subsystem for Linux in Windows 10.
One fix would be to change the code to not open browser as you stated, but can you try doing
export BROWSER='<location_of_browser_executable>' before running start.sh. As this had fixed the issue for me.
Reference link [here](https://www.linuxquestions.o

[2018-07-29 13:04] aks681 opened #5389 "Remove 'name' field from StateObjectFactory"
In exp_domain.py, the class State has no state name field and state name is something that is defined outside the scope of a State, but in the frontend, StateObjectFactory has a name field which shouldn't be the case.
This is a tracking issue to remove the name field from StateObjectFactory and move it higher up.

[2018-07-29 14:57] apb7 commented on #5363
We just checked it: this is producible on oppia.org too!
@hoangviet1993: Can you confirm this?

[2018-07-29 15:00] hoangviet1993 commented on #5363
Turns out this bug is not a regression! Surprises unfold!
![screen shot 2018-07-29 at 11 00 17 am](https://user-images.githubusercontent.com/11153258/43367659-9df36ee6-931e-11e8-89ed-60f9be9a491f.png)

[2018-07-29 15:50] neoliteconsultant commented on #5134
Hi,

I would like to write tests for core.platform.app_identity.gae_app_identity_services

[2018-07-29 16:56] WickedBrat opened #5390 "Refactor image storage on Oppia"
Currently, images are being stored as ```<exploration_id>/assets/images```. For a more general storage structure, the following changes are required:
- The URL for storage should be changed as ```exploration/<exploration_id>/assets/images``` to go with all other structures and the changes that may be introduced later.
- The images, as well as audio files, need to be migrated in the GCS and the URL

[2018-07-29 19:59] kevinlee12 commented on #5363
This is getting interesting. I don't get this error on FF when using their mobile view. I'm curious if anyone gets this error on iOS (not by using the Chrome or FF mock, but actually observing the Safari web console). It may be possible to grab console errors from an Android phone and see how this plays out as well.

[2018-07-29 20:07] apb7 commented on #5363
Hi @kevinlee12, these console errors are actually taken from a real Android phone. The search bar when used in mobile tests produces these errors. Thanks!

[2018-07-29 20:09] kevinlee12 commented on #5363
You mean the one on the test server or on oppia.org?

[2018-07-29 20:13] apb7 commented on #5363
The localhost server since tests are run using it. This occurred there first and then I had tried reproducing them on both the test server and oppia.org.

[2018-07-29 20:17] kevinlee12 commented on #5363
okay, thanks!

[2018-07-29 21:17] apb7 commented on #5363
I checked out commit https://github.com/oppia/oppia/commit/2b78ec0a22575d96e49b310818e997754d776991 and it is reproducible for this commit. This commit introduced the search bar in the library for mobile devices (PR #4807). For the previous commit https://github.com/oppia/oppia/commit/1947b2b18be55e15de34545d0701c0cff7c5d519, there is no search bar in the library for mobile devices.
(Thanks Viet,

[2018-07-29 21:40] hoangviet1993 commented on #5363
PR #4807 is from release 2.6.3. Apurv and I really doubt that it was like this since the beginning.

The primary goal of that PR is to serve mobile users. Could it be an upstream dependency update along from that point of time till now that causes the bug?

Anyhow, looks like a full investigation into the source code of that PR is needed here.

[2018-07-29 22:14] sjkadali commented on #3950
Hi, I would like to work on exploration_editor/exploration_editor.html.

[2018-07-30 04:16] 1995YogeshSharma commented on #5134
Hi @neoliteconsultant, I have assigned you to core.platform.app_identity.gae_app_identity_services

[2018-07-30 06:53] sstone-codaio commented on #5134
Hi, I'd like to write tests for core.storage.job.gae_models.

[2018-07-30 10:41] aks681 opened #5395 "Add getters to InteractionObjectFactory"
Currently, all fields in InteractionObjectFactory are directly accessed by the various services and controllers. Instead of this, add '_' in front of all the field names and make them private.
As such, to access the variables, create getter functions in InteractionObjectFactory.

[2018-07-30 17:59] #5386 closed, assigned to dawsoneliasen

[2018-07-31 00:28] seanlip commented on #5134
Sounds good, thanks @sshou14. Assigned you!

[2018-07-31 01:39] BenHenning opened #5398 "Remove UrlInterpolationService's whitelist check"
``EncodeURIComponent`` should be adequate for interpolating string parameters. We should:

1. Remove the regex check from UrlInterpolationService
2. Add tests to verify that the service handles scary cases like embedded URLs correctly and other XSS situations

[2018-07-31 04:36] #5337 closed, assigned to LanJosh

[2018-07-31 04:40] kevinlee12 opened #5399 "Use MD5 hash to speed up build process"
As mentioned in [this comment](https://github.com/oppia/oppia/pull/5379#issuecomment-408703778) in PR #5379, one idea to speed up the build process is to compare the MD5 hash against what is already present and determine whether another build of that file is necessary.

[2018-07-31 08:27] bansalnitish opened #5400 "Extra blank lines in the user entered data in RTE"
#5352 removes any stuff used by TextAngular and not required by CKEditor. There is a problem which exists in TextAngular where any extra lines entered by user are also saved in html. The same problem persists in CKEditor.

A function performing a task similar to the code [here](https://github.com/oppia/oppia/pull/5352/files#diff-91ed006b4bd14715f0accae77d56d070L192) needs to be implemented for CKE

[2018-07-31 17:20] bansalnitish commented on #5400
cc @AllanYangZhou

[2018-07-31 19:18] aks681 opened #5402 "Move 'class State' out of exp_domain.py"
Since, from Questions, the State class is now reused in both explorations and questions, it is better that it has it's own _domain and _services files, and thus this issue keeps track of removing the class State from exp_domain.py and it's xorresponding exclusive functions from exp_services.py.

[2018-07-31 19:21] aks681 opened #5403 "Reuse state migration function to do question migration"
Since questions also use the State class, it follows its same schema structure and therefore any migrations done to State schema should affect questions also.
Hence, this issue keeps track of reusing the migration function present in exp_services (currently), for states, in question_services for migrating question_state_data.

[2018-07-31 22:15] seanlip opened #5407 ""Reload image" prompt is unclear."
When an image failed to download (perhaps due to a bad connection), the prompt to the user is not clear. It says "Try Again". But it doesn't say what the user is trying again, or even hint that there was a missing image in the first place. See screenshot below:

![screenshot from 2018-07-31 15-11-04](https://user-images.githubusercontent.com/10575562/43490129-35909d9e-94d4-11e8-937b-690e214cb6ae.p

[2018-08-01 02:23] prasanna08 commented on #5280
Hi @vibhor98,

can you update this issue with following details:
* Repro instructions and screenshots
* Impact of this issue on usability on desktop and mobile devices.
* The approaches that you have tried and have failed to solve the problem.
* The possible cause(s) of the problem (if you have found any).
* The part of documentation of angular-ui-tree where auto-scrolling is mentioned.
* Any GitH

[2018-08-01 02:57] rachelwchen commented on #5407
Thanks! Re: wording - my suggestion would be "click to reload image" as it sounds more neutral and straightforward. It doesn't scream "something has gone wrong." I also thought that adding "click to..." is clearer, as it prompts the user to take an action.

[2018-08-01 05:56] seanlip commented on #5398
NB: this is important. I think it's causing the issues with loading [this exploration](https://www.oppia.org/explore/KO4pHV11gVcP), for example.

[2018-08-01 09:07] #5398 closed, assigned to seanlip

[2018-08-01 09:56] jordancockles commented on #5172
Hi,
I have been pondering over this issue and would like to start getting my feet wet with this. This is the first time I will have worked on an open issue on GitHub so apologies if I seem green.

[2018-08-01 11:16] vibhor98 commented on #5280
Hi @prasanna08, I've updated the issue.

[2018-08-01 17:05] bansalnitish opened #5412 "Zip file needs to be updated manually whenever a migration is performed."
https://github.com/oppia/oppia/blob/develop/core/tests/data/oppia-ThetitleforZIPdownloadhandlertest!-v2-gold.zip needs to be updated whenever a migration is performed.

The file contains yaml with state and exploration versions. It is used during testing. So whenever there is some migration, the version numbers are to be incremented otherwise the yaml is not as expected in test and the tests fail.

[2018-08-01 19:47] seanlip commented on #5280
I think you might want to dig into the third-party code (it's open source) to understand how data-scroll-container works. You can then perhaps find a way to introspect what element it's being applied to.

Also, by examining the third-party code and looking at the case that works (the demo implementation), could you provide, in this issue thread, a step-by-step breakdown of the actions and events t

[2018-08-02 07:48] vibhor98 commented on #5280
Sounds like a good approach! I'll update you shortly. Thanks!

[2018-08-02 10:02] seanlip commented on #4177
@bansalnitish @AllanYangZhou , is this still an issue?

[2018-08-02 10:35] jordancockles commented on #5172
Hi,
I have been playing around with a Development version of the application in an Ubuntu VM.

One possible solution I found was ammending the following CSS files:

 _~/opensource/oppia/core/templates/dev/head/pages/exploration_player/conversation_skin_embed_directive.html_
 _~/opensource/oppia/core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html_

To include the follo

[2018-08-02 12:05] vojtechjelinek opened #5416 "Translation keys leaking into Google Search Preview"
The Google Search preview card for the oppia.org search results shows some string that are used for translation, instead of some nice page description.

![screenshot_chrome_20180801-142059](https://user-images.githubusercontent.com/10142938/43582338-63a33316-965c-11e8-8e61-a7cf17867607.png)

[2018-08-02 16:44] vibhor98 commented on #5280
Following are the series of actions that take place as soon as the dragging starts:
1. The scope of the dragged element is created.
2. It keeps a watch on the `scrollContainer` variable to get its value if its a string.
3. Then, while dragging it keeps the track of the cursor position.
4. If cursor's y-coordinate is less than starting coordinate of the container, scroll top event is triggered and

[2018-08-02 18:07] seanlip commented on #5280
Ok, good start. So next step is to log what scrollContainer is, as well as
its dimensions, then compare to what you would expect them to be. Are they
correct?

I can think of several failure cases: wrong element is selected as
scrollContainer, scroll container boundary extends beyond what you see
visually, etc. Now that you have a breakdown, try and done deeper into it.

[2018-08-02 20:08] lilithxxx commented on #5106
I want to take this issue but I need some help. The bash script don't execute the commands written after the line where the server is started. How can we open the browser after starting the server?

[2018-08-02 20:22] seanlip commented on #5106
See scripts/run_e2e_tests.sh, we handle something similar there. Maybe we can do that here as well.

[2018-08-02 21:00] bansalnitish commented on #5172
Hi @jordancockles,
Firstly, Welcome to Oppia! Feel free to ping the oppia community members any time. We are more than happy to help you :).

The solution you proposed is not working for me. I pasted the css code in both the files but I'm not able to see the line breaks. I'm using Chrome browser and Ubuntu os.

Thanks

[2018-08-02 21:00] bansalnitish commented on #5172
@seanlip I guess this worked for you, right?

[2018-08-02 21:14] apb7 opened #5420 "Parse .travis.yml to ensure that the list of variables defined stays consistent"
We would like to ensure that the variables defined under section `env`, sub-section `matrix` are the ones which are used to run various tests under section `scripts`. Basically, the two lists of variables should be consistent.
This is a tracker issue for the above check.

[2018-08-02 22:00] seanlip commented on #5172
Ah, I haven't checked! I was going to leave it to you and @jordancockles :)

[2018-08-03 06:22] #5400 closed, assigned to bansalnitish

[2018-08-03 09:49] bansalnitish commented on #4177
Nope this is not an issue now. It's working fine in Firefox as well. Cheers :)

Closing this one.

[2018-08-03 09:49] #4177 closed, assigned to nobody

[2018-08-03 09:59] bansalnitish opened #5423 "Icons in toolbar have some unnecessary part"
In firefox when I used the RTE I could notice some weird part in the buttons:
- Insert/Remove Numbered List
- Block Quote

Here is a screenshot for the same:
![mozilla](https://user-images.githubusercontent.com/22434689/43637205-fccf5698-9731-11e8-9748-90daeec41475.png)

It looks perfect in Chrome.

Can anyone confirm this issue ?
cc / @AllanYangZhou

[2018-08-03 10:40] jordancockles commented on #5172
@bansalnitish Hi Nitesh,
I have attached a screenshot of the solution in the browser and highlighted the part of code in the browser debugger.

![oppia mult-line solution](https://user-images.githubusercontent.com/11243588/43638651-95e5365c-9711-11e8-80bc-176272a42e2a.png)

The exact ammendments I made were adding the CSS code block on **line 432** in _~/opensource/oppia/core/templates/dev/head/pa

[2018-08-03 10:52] jordancockles commented on #3826
Hi, I would like to help out on this issue. Is there any particular file you would like to assign to me and I will work on it?

[2018-08-03 13:36] bansalnitish commented on #5172
Hi @jordancockles
This is not working for me. Here is the screenshot for the same:

![screenshot from 2018-08-03 19-04-08](https://user-images.githubusercontent.com/22434689/43645612-163d80e6-9750-11e8-9b93-e4cfdc9e1419.png)

Could you please let me know how you entered the input? Pressing enter to introduce line break submits the answer, so I copy pasted the answer having line breaks.

Correct if

[2018-08-03 14:05] jordancockles commented on #5172
Hi @bansalnitish
I am just looking at the input you entered in the HTML panel highlighted in blue and comparing it to mine.

![image](https://user-images.githubusercontent.com/11243588/43647060-729079e2-972e-11e8-947a-dc27e5ee0d42.png)

I notice that on my output there is the newlines being displayed as the "\n" newline character. When I am filling in the text field, I press the return key to begi

[2018-08-03 16:35] jordancockles commented on #5172
@bansalnitish Also to further answer your question. Pressing the return key does not submit the response on my browser, it moves onto the next line.

I did do some investigation and if the field is set as a single line it does exhibit the submit on pressing the return key behaviour. When setting up the Text Input field are you selecting more than one line in the creation wizard?

![oppia setting u

[2018-08-03 21:36] bansalnitish commented on #4737
Resolved with the introduction of CKEditor. Cheers :)

Closing this one.

[2018-08-03 21:38] bansalnitish commented on #2083
This works perfect in the editor now -- after switching to CKEditor. Cheers :)

Closing this one.

[2018-08-03 21:41] bansalnitish commented on #913
This is fixed by switching from TextAngular to CKEditor. Cheers :)

Closing this one too.

[2018-08-03 21:42] bansalnitish commented on #1284
This is fixed after introduction of CKEditor. Cheers :)
Closing this one.

[2018-08-03 21:43] #1284 closed

[2018-08-03 21:43] #4737 closed, assigned to nobody

[2018-08-03 21:43] #2083 closed

[2018-08-03 21:43] #913 closed

[2018-08-03 21:44] bansalnitish commented on #1667
This is fixed with CKEditor Rich Text Editor Cheers :)

Closing this one.

[2018-08-03 21:44] #1667 closed

[2018-08-03 21:51] bansalnitish commented on #5172
Hi @jordancockles
Yeah you're right. This seems to be a good fix for the issue. (Sorry I didn't increase the height at first)
Thanks.

[2018-08-04 00:07] unit-00 opened #5425 "Implement a redesign version of page at www.oppia.org/fractions"
Update the [fractions](https://www.oppia.org/fractions?viewerType=teacher) pages to

![july 15 update](https://user-images.githubusercontent.com/10623811/43670307-21061d6e-973f-11e8-8977-c09e3c2d07fe.png)

Including the following fixes

- [ ] Keep the background icons in the topmost section (similar to how it is now).
- [ ] Eliminate the round cake from the graphic of Matthew holding the paper (si

[2018-08-04 02:22] seanlip commented on #3826
Hi @jordancockles, thanks! I just took a look, and the remaining tasks needed to close out this issue are pretty straightforward, so I just assigned you to all of them. Does that sound OK?

Thanks!

[2018-08-04 02:23] seanlip opened #5426 "Have a lint check to ensure that each Angular file contains exactly one service/directive/etc. inside it."
With the imminent completion of #3826, we should add a linter check to verify that each JS file contains one service, or one directive, etc. -- and that the filename strictly matches the name of the "thing" inside it.

[2018-08-04 03:45] #5423 closed, assigned to bansalnitish

[2018-08-04 13:32] jordancockles commented on #3826
Hi @seanlip, this sounds good to me. I'll get to work on them and keep you updated.
If I have any issues I'll ask in the Git Chatter :)

[2018-08-04 14:43] vibhor98 commented on #5280
Understanding third party code was not easy for me. But still this is what I could dig out:
* `scrollContainer` just contains the CSS class of the container in which scrolling happens. Like: `.drag-and-drop-sort-container` in our case.
* Then the element corresponding to this class is extracted using `document.querySelector`.
* The exact position of the element is find out by using `getBoundingCli

[2018-08-04 16:25] vibhor98 opened #5432 "Set default value of the dropdown to direct the learner in 'Add Response' modal"
## Repro Steps:
* Open Creator Dashboard and click 'create' button to create new exploration.
* Choose any of the interaction.
* See the 'Add Response' modal that appears after selecting the interaction.

## Observed behaviour:
* See dropdown below 'directs the learner to ...'.
* It's default value isn't set.
![screen shot 2018-08-04 at 12 55 44 pm](https://user-images.githubusercontent.com/266259

[2018-08-04 17:43] unit-00 commented on #5425
Hey @seanlip , I have some follow-up questions! Where do I get the image files to replace the current images?

Is it okay if I change some of the font-size from `em` to `vw`? Because the font pops out at certain resolution.

e.g.
`em`
<img width="298" alt="screen shot 2018-08-04 at 00 48 41" src="https://user-images.githubusercontent.com/10623811/43679091-e97638da-97d3-11e8-92e8-4316be960196.png">

[2018-08-04 18:25] #2991 closed

[2018-08-04 18:25] #5363 closed, assigned to nobody

[2018-08-04 18:56] sstone-codaio commented on #5134
I'm almost done with my assigned ticket. Can I write one more test for core.controllers.recent_commits if no one else is working on it? thanks!

[2018-08-04 20:12] doshgo commented on #2584
Still working on this ! :)

[2018-08-04 20:27] seanlip commented on #5416
Interesting -- I get a different snapshot that's not great either. It's interesting how the search snippets are different too (even for the GitHub result below).

![screenshot from 2018-08-04 13-26-49](https://user-images.githubusercontent.com/10575562/43680231-2656cc40-97ea-11e8-845b-af82d4605a81.png)

What do other folks get?

[2018-08-04 20:32] seanlip commented on #5134
Hi @sshou14, sounds good, thanks! Go for it :)  I've assigned you.

[2018-08-04 20:34] seanlip commented on #5280
That's great, @vibhor98! This is definitely a path towards solving the problem, and as you say, understanding why getBoundingClientRect() is doing what it's doing (and finding a way to get it to do the right thing) should help. In order to do this you will probably need to read up a bit more on what getBoundingClientRect() does, too.

[2018-08-04 20:34] seanlip commented on #5425
For image files, can you send me an email with references to the specific image files you need? I can get those to you. (Include screenshots of sub-areas of the mock, as needed, so it's clear what you're referring to.)

The em to vw change is a great idea. Thanks for catching it!

[2018-08-04 20:39] seanlip commented on #3826
Sounds good. Thanks @jordancockles!

[2018-08-04 20:52] hoangviet1993 commented on #5416
Is this SEO related? https://support.google.com/gsa/answer/2672315?hl=en
@seanlip  ( I am also getting the same result as you did on mobile and desktop)

[2018-08-04 21:12] seanlip opened #5434 "Remove use of Object.assign() from the codebase, or add a polyfill"
We are currently encountering multiple occurrences the following error in production:

`Object function Object() { [native code] } has no method 'assign'`

This arises from the use of Object.assign() in the following places:
- [x] pages/exploration_player/ExtractImageFilenamesFromStateService.js @ishucr7
- [x] pages/exploration_player/ImagePreloaderService.js @ishucr7
- [x] services/StateRulesStat

[2018-08-04 21:37] import-keshav commented on #5134
can you tell me what we have to do in file
core.platform.taskqueue.gae_taskqueue_services

i cant understand

[2018-08-05 02:36] prasanna08 commented on #5280
Also, try looking at output of `getBoundingClientRect()` method for parent `div`s of the `div` which you have set as data-scroll-container.

[2018-08-05 09:13] aks681 opened #5436 "Randomize the pretest questions."
Currently, the first 3 pretest questions sorted by their keys will be returned for a fixed set of prerequisite skill ids for an exploration. This needs to be changed to make it a random set of 3 questions.

[2018-08-05 10:00] seanlip opened #5438 "Expose "upload exploration" functionality in admin page"
Currently, there is an Upload Exploration button in the Oppia navbar, but the functionality is not complete and the button is hidden.

This button should only be used in development, so we would like to move it to the Activities tab of the admin page, since that is where a developer can reload the demo explorations and create dummy explorations. The aim of this issue is to perform this move.

[2018-08-05 16:59] vibhor98 commented on #5280
The output of this method is still zero in the parent divs as well but it's not the case with demo implementation.

I tried to know more about it but couldn't find the possible cause why it's not giving us the dimensions. Probably somewhere CSS rule is hindering its way to calculate the dimensions (not sure). This `div` element is explicitly given `width` and `height` property but still it fails t

[2018-08-05 18:51] seanlip commented on #5280
Consider searching for something like "getboundingclientrect returns 0" or "getboundingclientrect returns 0 angular". I think you'll get results that might be useful; you're probably not the first person who's run into this problem :)

[2018-08-05 20:45] binaryman008 opened #5441 "i have python version 2.7.15 even then i am getting this handshake error"
ile "/usr/lib/python2.7/ssl.py", line 405, in do_handshake
self._sslobj.do_handshake()
  IOError: [Errno socket error] [Errno 1] _ssl.c:510: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure

iam getting this error on my win10 notebook, i correctly installed python 2.7 and added it to the path and when i run 'vagrant up' browser doesnt host the page but when i run 'v

[2018-08-06 02:21] prasanna08 commented on #5280
HI @vibhor98,

When I suggested looking at the output of `getBoundingClientRect()` for parent divs, I meant keep looking until you find something non-zero. So I did that and found the following results:

* Output for `drag-and-drop-sort-container` is 0.
* Output for `drag-and-drop-sort-form-container` is 0.
* Output for `oppia-interactive-drag-and-drop-sort-input` is also 0.
* Output for `protract

[2018-08-06 05:58] dawsoneliasen commented on #5134
I'd like to work on the core.storage.config.gae_models test!

[2018-08-06 06:54] #5172 closed, assigned to nobody

[2018-08-06 06:56] seanlip commented on #5134
Hi @dawsoneliasen, assigned. Thanks!

[2018-08-06 16:56] rajvaibhavdubey commented on #4057
Hello, can I be assigned ExplorationAdvancedFeaturesService.js . Thank you.

[2018-08-06 17:22] sjkadali commented on #3950
Hi @pranavsid98 ,  I would like to work on exploration_editor/exploration_editor.html.

[2018-08-06 19:42] pranavsid98 commented on #3950
@sjkadali I've assigned you to it. Good luck!

[2018-08-06 20:14] seanlip commented on #4057
Hi @rajvaibhavdubey, assigned you!

[2018-08-06 21:29] sjkadali commented on #3950
@pranavsid98 thanks!

[2018-08-07 00:42] ishucr7 opened #5445 "Standardise the two filesystems (ExplorationFileSystem and GCSFileSystem)"
IMPORTANT ---- To be done after the images in the GAE are deleted.

Currently for images we have the following way of saving the image

DEV --- exp_id/assets/random.png
filepath --- random.png

PROD ---- exp_id/assets/image/random.png
filepath --- image/random.png

So whenever we have to use filepath for image operations. We need to add a check to see in which mode we are in, and then accordingly

[2018-08-07 04:27] hoangviet1993 commented on #5441
What have you tried? Looked into any troubleshooting SO post yet?

[2018-08-07 06:24] seanlip opened #5447 "Remove ENABLE_STATE_ID_MAPPING constant from the codebase."
The state ID mapping constant has been flipped, and it is here to stay. This issue is used to track the removal of ENABLE_STATE_ID_MAPPING from the codebase.

(See #5414 for prior, but partial, work.)

[2018-08-07 07:57] ishucr7 commented on #5407
https://github.com/oppia/oppia/pull/5449

[2018-08-07 13:52] #5106 closed, assigned to nobody

[2018-08-07 14:30] #2766 closed

[2018-08-07 18:48] apb7 commented on #3576
Hi @bansalnitish, did you get a chance to look into this? Thanks!

[2018-08-07 18:49] hoangviet1993 commented on #5399
@LanJosh @kevinlee12 Mind if take this up?

[2018-08-07 18:49] apb7 commented on #3786
Hi @ishucr7, this is in progress, right? Thanks!

[2018-08-07 18:50] apb7 commented on #4158
Hi @pranavsid98, can you take a look at this? Thanks!

[2018-08-07 18:51] bansalnitish commented on #3576
Hi @apb7
Yup, I have a job which can validate any html string and outputs whether or not it is compatible with CKEditor.

[2018-08-07 18:51] apb7 commented on #4252
De-assigning @WickedBrat. Thanks!

[2018-08-07 18:52] apb7 commented on #4995
Hi @nithusha21, this is in progress, right? Thanks!

[2018-08-07 19:02] apb7 commented on #5138
Hi @vojtechjelinek, are you looking into this? Thanks!

[2018-08-07 19:05] apb7 commented on #5145
Hi @brianrodri, are you still working on this? Thanks!

[2018-08-07 19:07] apb7 commented on #3576
Great, thanks for the update :)

[2018-08-07 19:08] brianrodri commented on #5145
Heya, not for a while since I'm currently on vacation. I'll take a look
again in about a week, so feel free to reassign if that's too late.

[2018-08-07 19:22] apb7 commented on #5145
No problem, sounds good! Thanks for the update.

[2018-08-07 21:30] aks681 commented on #5432
@seanlip I think this happened during the exploration editor refactor and has been fixed in this [PR](https://github.com/oppia/oppia/pull/5437).

[2018-08-08 03:51] durgeshra commented on #5134
Hi! Would like to work on core.platform.taskqueue.gae_taskqueue_services :-)

[2018-08-08 04:03] seanlip commented on #5134
Hm, I think @nalinbhardwaj has been working on that (see #5451). Pick another one?

(Sorry that the list wasn't updated! I'll fix that.)

[2018-08-08 04:10] hoangviet1993 commented on #5399
After some preliminary investigation, I have one question with regards to the Python files in `/extensions/`

How do we detect the event when the Python files in `/extensions/`are changed?

Python files are excluded from `/build` on purpose, and `build_files` function takes care of copying those Python files into `/backend_prod_files`. However, if we call `build_files` just to copy Python files, t

[2018-08-08 04:14] seanlip opened #5452 "Frontend errors due to the audio translations editor"
I'm currently seeing _a lot_ of these errors in production (post release 2.6.6):

[code]

Seems like a bug related to audio translations?

[2018-08-08 04:15] seanlip commented on #5452
/cc @tjiang11

[2018-08-08 04:18] seanlip commented on #5399
I think currently let's just handle this for non-Python files? And always build Python files (if we need to).

[2018-08-08 04:21] seanlip opened #5453 "The feedback status dropdown has too many options."
See below. This looks like a bug that made it into 2.6.6...:

![screenshot from 2018-08-07 21-19-20](https://user-images.githubusercontent.com/10575562/43816065-d1b1b89e-9a87-11e8-88c1-d00142a62367.png)

@bansalnitish could you please add this to the release testing spreadsheet? I'm surprised it did not get caught during release testing.

[2018-08-08 04:24] seanlip opened #5454 "Frontend error: Cannot read property 'content' of undefined"
We are seeing this error in production. It is thrown from the /create page.

[code]

We should try to diagnose this is happening, and find a way to fix it.

[2018-08-08 04:30] seanlip opened #5455 "Some state ID mapping models missing?"
We are running into the following error occasionally in production:

[code]

It seems like this is due to the recently-run state ID mapping model job. On some investigation, I think that StateIdMappingModels may not be being created when a migration is run.

This needs to be fixed before the next release. Also, @prasanna08, will running the regeneration job be sufficient?

[2018-08-08 04:32] seanlip opened #5456 "Error in image filenames service"
We are seeing the following error in production, on the learner view pages:

[code]

This seems like a bug that should be investigated and fixed.

[2018-08-08 04:46] seanlip opened #5457 "Frontend error: Cannot read property 'description' of undefined"
We're getting this error a lot, too. It seems audio-related...?

This happens in the learner view.

[code]

/cc @tjiang11

[2018-08-08 04:46] seanlip commented on #5453
/cc @anmolshkl

[2018-08-08 04:47] seanlip commented on #5456
/cc @vojtechjelinek

[2018-08-08 04:50] LanJosh commented on #5399
@hoangviet1993 If you'd like to take a crack at it feel free! I haven't looked into this too much yet so I unfortunately don't have much background to share.

[2018-08-08 04:56] prasanna08 commented on #5455
Seems like some models are not being generated by one off job. I need to look at output log of the job when it was run on production. That would help me know exactly where the error happened and how many explorations are affected. I have put bunch of try except blocks in my job. Thus it seems that for some exploration, an exception was generated and they were skipped in model generation.

Running

[2018-08-08 04:57] ishucr7 commented on #5456
Any specifications? --- is it for a particular exploration or for all explorations ?
Are the images visible or not?
Can you share the link or the name of the exploration where you got this error ?

[2018-08-08 04:57] seanlip opened #5458 "Cannot call method 'match' of undefined"
Found a frontend error in production. Not sure what causes it:

[code]

[2018-08-08 05:00] seanlip commented on #5455
Ah I don't think this is due to the one-off job, which ran fine. It arises for new versions of explorations that were made _after_ the one-off job was run. Particularly those that were created by an exploration schema update migration.

[2018-08-08 05:02] prasanna08 commented on #5455
I see. Then running job again will fix those problems but it will reappear whenever a new exploration goes through schema update migration. My guess is someone wrote some migration that does not go through predefined route and is modifiying exploration directly at model level rather than at domain level.

[2018-08-08 05:05] prasanna08 commented on #5447
I am trying to fix this but I don't know anything about [this](https://github.com/oppia/oppia/blob/develop/core/domain/exp_jobs_one_off_test.py#L1125) particular test case. Also, why is that test case [storing an updated exploration as a new exploration](https://github.com/oppia/oppia/blob/develop/core/domain/exp_jobs_one_off_test.py#L1175). This is why error is being generated. Either it should u

[2018-08-08 05:07] seanlip commented on #5447
@bansalnitish can you help with this? The test in question relates to the textangular migration.

[2018-08-08 05:09] seanlip commented on #5455
Pretty sure that's not the case -- all the migration functions can be found in exp_domain.py (see the ones starting with convert_*) and AFAICT there's nothing unusual there.

Maybe it's due to migrations in general not handling this case properly?

[2018-08-08 05:11] seanlip commented on #5456
Here are two explorations where the error occurred:

- https://www.oppia.org/explore/rvKoZ6z0h86U
- https://www.oppia.org/explore/UOAg17yUIU6U

I don't have any further information, sorry. For this sort of thing you might need to analyze the code and add appropriate guards...

[2018-08-08 05:16] prasanna08 commented on #5455
Can you tell me whether it occurs for any specific migration (say from some
x version to y version)) or all migrations (then migration pipeline needs
investigation)?

On Wed 8 Aug, 2018, 10:39 AM Sean Lip, <notifications@github.com> wrote:

[2018-08-08 05:20] seanlip commented on #5455
Immediately after the state ID mapping job was run, the "upgrade exp schema version" migration was run. It updates the exploration states from schema version 19 to 24. That's the only exploration migration that has been run to date since the state ID mapping job was run, so I don't know whether it's an issue with this migration or an issue with all migrations.

[2018-08-08 06:11] unit-00 commented on #4231
Hey @vibhor98 ,

how many images are you adding to reproduce the bug? I'm currently trying to reproduce it with 13 images with resolutions of 225 x 225, but I'm not able to achieve it.

Currently on osx and chrome v68, and I'm able to scroll down still.

I'm thinking my images are either too little or too small.

<img width="596" alt="screen shot 2018-08-07 at 23 09 32" src="https://user-images.gi

[2018-08-08 06:20] DubeySandeep commented on #5452
Hi @seanlip, Thanks for reporting, can you add "Steps to reproduce"?

Also, in next PR I'm going remove  AudioTranslationsEditorDirective from editor tab and that will resolve the issue but I'll sure take a look at the cause of this issue (after reproducing it!).

[2018-08-08 06:30] seanlip commented on #5452
Sorry, I don't know the steps to reproduce it. It's a bug from the logs. I think we'll need to reason, by looking at the code, about why it's happening -- I don't have more information. (It's happening a lot, btw.)

[2018-08-08 06:31] seanlip commented on #4231
No, it's not. I have no idea why that's happening -- perhaps @ishucr7 can help?

[2018-08-08 06:37] DubeySandeep commented on #5452
@seanlip, Can you add a link to an exploration where I can reproduce this?
Like I tried this one https://www.oppia.org/create/MjZzEVOG47_1#/gui/Introduction and I cannot reproduce, I'm going to check the code if I can find any reason then I'll sure fix it. otherwise, #5413 is going to remove AudioTranslationsEditorDirective from editor tab (the only place where isFullyTranslated is used) and I thi

[2018-08-08 07:00] DubeySandeep commented on #5452
https://github.com/oppia/oppia/blob/240b2eea429a28d4f95e1aac5d771891675fc270/core/templates/dev/head/components/forms/AudioTranslationsEditorDirective.js#L48-L53

I think this is the reason behind the error (we can see similar log in the head comment of this issue), we'll have to add isFullyTranslated only if StateContentIdsToAudioTranslationService.displayed is defined. But as I'm going to remove

[2018-08-08 07:03] seanlip commented on #5452
OK, sounds good. Thanks!

[2018-08-08 07:06] prasanna08 commented on #5455
Was the constant `ENABLE_STATE_ID_MAPPING` flipped to True before running schema migrations?

[2018-08-08 07:09] seanlip commented on #5455
I think you got it!

No, all the constants were flipped in one batch at the end.

Thanks for figuring this out! What should I do to fix it?

[2018-08-08 07:15] prasanna08 commented on #5455
Just run the job for regeneration. That should do it.

On Wed 8 Aug, 2018, 12:39 PM Sean Lip, <notifications@github.com> wrote:

[2018-08-08 07:16] seanlip commented on #5455
Awesome, will do. Thanks!

[2018-08-08 08:40] durgeshra commented on #5134
@seanlip   core.platform.transactions.gae_transaction_services then?

[2018-08-08 08:44] vibhor98 commented on #4231
@unit-00 , FYI this issue is common to all the 'Add Response' models of the interactions that need scrolling. You need to just add as many options as required (image size doesn't matter) to need scrolling of the model.

@seanlip, AFAIK, this issue is there from the beginning itself when we add images in other interactions as well.

[2018-08-08 08:48] seanlip commented on #5134
Sounds good, thanks! Assigned you.

[2018-08-08 13:59] bansalnitish opened #5461 "Suggestions for questions"
This issue is just to keep a track that suggestion for questions work is complete.

cc / @nithusha21 Feel free to close once this is done.

[2018-08-08 14:02] bansalnitish opened #5462 "New Structures"
(To keep track ) `ENABLE_NEW_STRUCTURES` flag in feconf.py and constants.js needs to be set to True when everything is done.

cc/ @aks681 Feel free to close when this is resolved.

[2018-08-08 14:03] bansalnitish opened #5463 "Playthroughs"
(To keep a track)
`ENABLE_ISSUES_VISUALIZATION` flag needs to be set to true when everything is done.

cc / @pranavsid98 Feel free to close once this is done.

[2018-08-08 14:10] bansalnitish opened #5464 "Issues with drag and drop interaction"
a) In the editor view "Add response" modal, if the items are long enough that the modal doesn't fit on the screen (e.g. pictures) then intially the modal is scrollable, but if you change the selection in the "if the learners answer..." dropdown then it stops being scrollable. (This is in chrome.) (#5471)

b) In the editor view "Add response" modal for the "is equal to ordering" rule the initial dr

[2018-08-08 15:55] vibhor98 commented on #5464
Following are the updates on the above points:
a) The modal is not scrollable for other interactions as well like `ItemSelectionInput` etc. I've already filed an issue for it long time back (#4231). @unit-00 has been assigned that issue and will resolve it.

b) This behaviour is intentional just to ensure that skipping of the ranks is not possible. So, it's an attempt in the UI so that continuity

[2018-08-08 16:11] apb7 opened #5465 "Add check to prevent storage layer importing domain layer or domain layer importing controller layer"
This is a tracking issue for the check to prevent storage layer, `core/storage` importing domain layer, `core/domain` or domain layer, `core/domain` importing controller layer, `core/controllers`.

[2018-08-08 16:29] #5329 closed, assigned to aks681

[2018-08-08 16:29] #5432 closed, assigned to aks681

[2018-08-08 16:51] apb7 opened #5466 "Add check to enforce that all subclasses of BaseHandler end with "Handler""
All subclasses of BaseHandler (basically, all controllers) should end with "Handler". This issue keeps a track of the check which will enforce it.

[2018-08-08 19:57] seanlip commented on #5464
Copying @jacobdavis11 on this thread for responses.

@jacobdavis11 what do you think of @vibhor98's response to (b)?

Re (c) -- @vibhor98, if @jacobdavis11 mentions that he can't drag it, then that is a problem. You'll need to figure out why and fix it. Feel free to start an email or chat thread with him, or have the discussion here.

[2018-08-08 20:10] #5453 closed, assigned to nithusha21

[2018-08-08 20:13] vibhor98 commented on #5280
Hi, the actual problem when we get all the zeros is due to dynamic loading of the pages in Angular. It works fine for static pages. I tried various methods like: `$evalAsync` and `$timeout` to ensure that the dimension of the element is calculated only when it's loaded into the DOM as described [here](https://stackoverflow.com/questions/17301572/angularjs-evalasync-vs-timeout). But it doesn't seem

[2018-08-08 20:39] seanlip commented on #5280
Hi @vibhor98, thanks for the update. Just so you know, though -- "it doesn't seem to work" won't work here. All the code of the dependent library is open source, so you'll still need to figure out what part of that library is causing problems. Otherwise, it's still unclear whether it's a bug in that library or a bug in our code.

Please link to the issue that you filed in angular-ui-tree, for futu

[2018-08-08 20:43] ishucr7 opened #5469 "Use the dimensions of the image to change the size of the div which displays the loading indicator dynamically."
This should be done after the July Release.
We need to get the dimensions that will be stored with the image, to use them for the size of the div that displays the loading indicator.

[2018-08-08 20:44] ishucr7 opened #5470 "Create some check to determine which one out of the versions of image created, shall be displayed on the basis of quality of network"

[2018-08-09 01:31] durgeshra commented on #5134
@seanlip Can I take file.gae_models instead of transaction models?

[2018-08-09 07:02] #3522 closed, assigned to shaz13

[2018-08-09 07:10] bansalnitish commented on #5447
Hi @prasanna08 ,

The test is used to validate the text angular validation and migration process.

It works as follows:

- A list of invalid html strings stored in `test_cases_for_rte.json` are stored in state content html of a new exploration.
- TextAngular Validation Job is run on this new exploration and it asserts that the validation fails.
- Then the exploration dict is passed through the con

[2018-08-09 07:29] bansalnitish commented on #5447
Hi @prasanna08,

Also, I saved the updated exploration as new exploration because I wanted the TextAngularContentValidation job to be re-run on it.

Can you tell me the error you get and the changes you made, so that I can try that locally and try to understand the issue.

Thanks!

[2018-08-09 07:58] vibhor98 commented on #5464
Hi @jacobdavis11, Can you specify what exactly happened when you played interaction in Learner view? I tried myself after publishing the exploration but all the items are draggable in Learner view as expected. So, I might not be able to get you. Can you elaborate?

[2018-08-09 08:17] seanlip commented on #5455
This should now be fixed. Thanks again @prasanna08!

[2018-08-09 08:17] #5455 closed, assigned to prasanna08

[2018-08-09 08:18] seanlip commented on #5134
Yep, assigned you. Thanks!

[2018-08-09 09:25] seanlip commented on #383
This is very minor and probably not worth fixing. Closing.

[2018-08-09 09:25] #383 closed

[2018-08-09 09:26] seanlip commented on #556
This has now been done by @vibhor98  (thanks @vibhor98!)

[2018-08-09 09:26] #556 closed

[2018-08-09 09:28] seanlip commented on #712
I think this is nice, but harder to implement than it's worth. Closing.

[2018-08-09 09:28] #712 closed

[2018-08-09 09:29] seanlip commented on #730
I think this has been done (by @apb7 IIRC). Closing.

[2018-08-09 09:29] #730 closed

[2018-08-09 09:30] seanlip commented on #859
There's been no real demand for this for the past three years. Closing.

[2018-08-09 09:30] #859 closed

[2018-08-09 09:30] seanlip commented on #1078
Hi @hoangviet1993, just checking, has this been done (as a consequence of the e2e test refactor)? Wondering whether to close it or not.

[2018-08-09 09:35] seanlip commented on #1140
I've heard no demand for this in the past couple of years, and have been told by (non-technical) users that they find the current exploration editor quite intuitive. So, if it ain't broke ...

(Thus, closing this issue.)

[2018-08-09 09:35] #1140 closed

[2018-08-09 09:37] seanlip commented on #1736
Closing this. @apb7 did try doing it but it was not possible due to the Firefox e2e test runner using a pretty old and out-of-date version of Firefox.

[2018-08-09 09:37] #1736 closed

[2018-08-09 09:38] seanlip commented on #2377
@bansalnitish, do you have any thoughts on this?

[2018-08-09 09:39] seanlip commented on #4661
I think this might have been an RTE issue. @bansalnitish does it work now?

[2018-08-09 09:40] seanlip commented on #4539
@bansalnitish is this relevant to the RTE project? /cc @AllanYangZhou

[2018-08-09 09:40] seanlip commented on #4439
@bansalnitish is this fixed?

[2018-08-09 09:41] bansalnitish commented on #2377
Hi @seanlip,

I definitely agree that RTE should flow as the card gets longer. I'm still not sure how the UI should look but sticking the toolbar to the top of viewport is a good idea.

Thanks

[2018-08-09 09:43] seanlip commented on #3604
@bansalnitish is this still an issue?

[2018-08-09 09:48] bansalnitish commented on #4439
There were two options suggested by you and now it goes with the first one --  Dragging and dropping an image does nothing (image does not appears on RTE).
Thanks.

[2018-08-09 09:55] bansalnitish commented on #3604
Nope. This has been fixed now.

Closing this one.

[2018-08-09 09:55] #3604 closed, assigned to bansalnitish

[2018-08-09 10:00] bansalnitish commented on #4661
Yeah, this has been fixed now. You can insert solely rich text component in the hint and it works fine. Cheers :)

Closing this one.

[2018-08-09 10:00] #4661 closed, assigned to bansalnitish

[2018-08-09 11:00] vibhor98 commented on #5464
Hi @jacobdavis11, I figured out that on the latest branch it's not working. Sorry for the inconvenience caused! Actually, @DubeySandeep removed `ui.tree` module by mistake. I'll rectify this mistake.

[2018-08-09 12:29] hoangviet1993 commented on #1078
`forms.js` still has instances of `by.repeater` in `DictionaryEditor` and `ListEditor` so this issue has not been completely finished.

[2018-08-09 13:02] vibhor98 opened #5472 "Items in Drag and Drop Sort interaction are not draggable."
Due to removal of `ui-tree` dependency from `app.js` in PR #5279, the items in Drag and Drop Sorting interaction can't be dragged.

[2018-08-09 13:39] apb7 commented on #5441
Hi @binaryman008, I am going to close this issue. If you still face this problem, feel free to re-open this issue using the proper issue template as given [here](https://github.com/oppia/oppia/blob/develop/ISSUE_TEMPLATE.md).

[2018-08-09 13:39] #5441 closed, assigned to nobody

[2018-08-09 14:03] apb7 opened #5476 "Add more docstring checks in Python"
The following checks need to be added for docstrings in Python:
- [ ] Missing docstrings (see #4374)
- [x] There should be no space after `"""` in single line docstrings. ~@son-vyas~ @lilithxxx (#6231)
- [x] Order of args in the docstrings should match the actual arg names passed to the method/function. @lokijuhy (#5844)

[2018-08-09 14:06] apb7 opened #5477 "Add check to ensure that pylint pragmas are used to disable any rule for a single line"
Pylint pragmas should be used to disable a rule for a single line only (see [here](https://github.com/oppia/oppia/pull/5191#discussion_r200890353)). This is a tracking issue for the same check.

[2018-08-09 14:08] apb7 commented on #3905
This issue has been broken down into smaller sub-issues for the remaining parts. Therefore closing this. Thanks!

[2018-08-09 14:08] #3905 closed, assigned to nobody

[2018-08-09 14:12] apb7 commented on #5425
Hi @unit-00, how is this going? Thanks!

[2018-08-09 14:17] apb7 commented on #5365
Hi @A-Yerkeshev, does this happen now? If not, can you please close this issue? Thanks!

[2018-08-09 16:34] bansalnitish commented on #4429
This has been resolved with the introduction of CKEditor. Cheers :)

[2018-08-09 16:34] #4429 closed, assigned to nobody

[2018-08-09 18:42] bansalnitish opened #5478 "Logged out while clicking on library button on test server"
I was using oppia test server and I signed with gmail account in chrome (incognito mode). Then I clicked the `library` button and the button to sign appeared (which comes when we are logged out). Then I clicked on `About` button (or `Create` button) it shows that I'm logged in. A bit weird behaviour.

Can anyone confirm ?

[2018-08-09 19:13] hoangviet1993 commented on #5478
Is this https://github.com/oppia/oppia/issues/4649 similar to what you are seeing?

[2018-08-09 20:33] jacobdavis11 commented on #5464
b) I feel that starting with a list of two options is a little strange, and it would be more natural to start with the full list. That's also helpful if e.g. reverse order is required and the user wants to go through the list from top to bottom. But I'm not too bothered about it.

[2018-08-09 20:37] DubeySandeep commented on #4521
I think this is resolved, check create/exp-id#/translation and once #5413 will be merged, nav bar will have the button to navigate to translation tab!

[2018-08-09 21:31] seanlip commented on #4521
OK, thanks! Let's close this once that's merged, then.

[2018-08-10 02:52] prasanna08 commented on #5447
I just did one change `updated_dict['id'] = self.NEW_EXP_ID`. Technically there should be no problem on running the job with this new exploration?

[2018-08-10 04:03] seanlip commented on #5447
(NB: Marking this as blocking because the flag has already been flipped in production and we need to flip it in our codebase to avoid skew.)

[2018-08-10 05:03] seanlip commented on #4439
Sounds good, thanks! I'll close this, then.

[2018-08-10 05:03] #4439 closed, assigned to bansalnitish

[2018-08-10 06:30] A-Yerkeshev commented on #5365
Still happens sometimes. Since nobody experienced this problem as well, probably it's something with local configurations. I close the issue, thanks for the help :)

[2018-08-10 06:30] #5365 closed, assigned to nobody

[2018-08-10 07:31] vibhor98 commented on #5472
This has been fixed in PR #5473. Closing this issue!

[2018-08-10 07:31] #5472 closed, assigned to vibhor98

[2018-08-10 09:20] prasanna08 commented on #5447
Can we just flip the constant for now? I will fix the test cases when I get
time. Then we can remove this altogether from code.

On Fri 10 Aug, 2018, 9:33 AM Sean Lip, <notifications@github.com> wrote:

[2018-08-10 09:26] seanlip commented on #5447
I tried. It fails, unfortunately. (Travis breaks.)

[2018-08-10 09:43] seanlip opened #5485 "Flip the playthrough-recording flag."
The 'ENABLE_PLAYTHROUGH_RECORDING' flag in app.js should be flipped, or ideally removed entirely. It is causing skew in the codebase, and stuff that is in the version where the flag is set to true is simply not being tested at all and breaking entirely.

This is a blocking bug that must be completed prior to the release cut.

[2018-08-10 09:43] seanlip commented on #5485
/cc @brianrodri

[2018-08-10 13:23] son-vyas commented on #5476
I would like to give this issue a try. As of now I have forked the repo and got the clone on my local machine. What should I do next?

[2018-08-10 13:26] apb7 commented on #5476
Hi @son-vyas, can you please follow the instructions as given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Thanks!

[2018-08-10 16:23] vibhor98 commented on #5464
b) This change in the UI was intentional so that rank skipping of the items isn't allowed from the UI perspective itself and was the part of design doc that I, @prasanna08 and @seanlip agreed on previously.

[2018-08-10 17:26] seanlip opened #5487 "Images are not loading when there are repeated images (and autogenerated audio?) in the state."
@DubeySandeep and I were trying to debug #4907, but we ran into an interesting error. In the card shown, 5 images were supposed to show up. However, on opening the card in Chrome (v66), we found that four of the images never completed loading, whereas the fifth one loaded. Screenshot below:

![screenshot from 2018-08-10 10-21-39](https://user-images.githubusercontent.com/10575562/43971774-33f60cb6

[2018-08-10 19:00] vibhor98 commented on #5280
Hi @seanlip, sorry for the unclear explanation. I meant that [this](https://github.com/angular-ui-tree/angular-ui-tree/blob/d67ed0f28fe9acdddf0cde2775f0b049e8eecec9/source/directives/uiTreeNode.js#L362) code segment in `angular-ui-tree` module is causing the problem. It even doesn't wait for the element to get rendered in DOM  and ends up computing all zeros due to dynamic loading of the pages. I

[2018-08-10 19:05] seanlip commented on #5280
Ok, sure. But we still need to find a fix.

If you patch the UI tree code, that is fine. We can host a modified version
in our own repo or contribute a fix upstream. In other words, you don't
need to treat the UI tree code as immutable.

But success in this issue means actually fixing the issue (it does not
matter whether the fix is in this code or in the library), or finding a
different library t

[2018-08-10 21:12] seanlip commented on #5310
Note: this is meant to be a count of files, not the size of the files.

[2018-08-11 07:11] vibhor98 opened #5489 "Next exploration is not shown in suggestions after completing the exploration"
## Repro Steps:
* Play `Fractions (Part 1)` exploration.
* Complete the exploration to get the suggestions.

## Observed behaviour:
Same completed exploration is shown in suggestions.

## Expected behaviour:
The next exploration must be shown in suggestions after completing the exploration.

[2018-08-11 09:06] bansalnitish commented on #5447
Hi @prasanna08, Sorry, I did not get you here. If we don't save the exploration after updating the states, the job will still run on the exploration with invalid states.

[2018-08-11 10:32] prasanna08 commented on #5447
What I am saying is, don't save the updated exploration as a new
exploration. You either update its version or change its exploration id.

On Sat 11 Aug, 2018, 2:36 PM Nitish Bansal, <notifications@github.com>
wrote:

[2018-08-11 10:58] binaryman008 commented on #5134
hey, can i work on core.controllers.custom_landing_pages

[2018-08-11 13:45] DubeySandeep commented on #5489
@vibhor98, This looks like a duplicate of #5084. (If so then we can close this issue!)

[2018-08-11 13:48] DubeySandeep commented on #5478
Closing this as it looks duplicate of #4649. (@bansalnitish, you can open this if you'll find this different then 4649)
@hoangviet1993, Thanks for checking! :)

[2018-08-11 13:48] #5478 closed, assigned to nobody

[2018-08-11 13:55] #4521 closed

[2018-08-11 13:55] #5452 closed, assigned to DubeySandeep

[2018-08-11 14:25] vibhor98 commented on #5489
Yes, it seems to be a duplicate. Closing this issue!

[2018-08-11 14:25] #5489 closed, assigned to nobody

[2018-08-11 15:01] bansalnitish opened #5493 "Two sticked items cannot be moved together to a new position in drag and drop interaction"
In drag and drop interaction I had two items at the same position and tried to move these two items to position one such that all three now share common position. This is not allowed currently in the Drag and drop interaction.

(You can play with the interaction that I made https://oppiatestserver.appspot.com/explore/WRmvBTdGFDBg)

Here is gif for the same:
![vibhor](https://user-images.githubuser

[2018-08-11 15:14] DubeySandeep commented on #5493
@bansalnitish, I tried this and can't reproduce, I mean I can move two nodes at a time! (I don't have screenrecorder to add GIF)

[2018-08-11 15:15] bansalnitish opened #5494 "Second item is selected in CKEditor for Drag and drop interaction"
On adding the drag and drop interaction, you'll see two items. The second is highlighted whereas ideally the first should be highlighted one.

Here is screenshot for the same:

![screenshot from 2018-08-11 20-23-46](https://user-images.githubusercontent.com/22434689/43993188-52e76022-9da7-11e8-9b6b-64bc25f690ef.png)

cc @vibhor98

[2018-08-11 15:21] bansalnitish commented on #5493
Yup we can move two nodes at a time and at position one too. Just look at the gif, I'm unable to get the placeholder (lighter one) for position one such that all of the three now share position one.

[2018-08-11 15:25] DubeySandeep commented on #5493
@bansalnitish, Is this what you have said?
![drag an drop interaction - oppia](https://user-images.githubusercontent.com/16653571/43993278-6460556a-9da8-11e8-89bb-76eeacbfb519.gif)

[2018-08-11 15:26] bansalnitish commented on #5493
Nope. (I should have been more clearer -- updated the comments above)

[2018-08-11 16:20] vibhor98 commented on #5493
Currently, the dragging of the whole block of set of items is possible and can be put anywhere at different positions except as a child of another node. This behaviour is intended due to technical difficulty as to put one parent node along with its child as child of another parent node needs infinite recursion in Html template. But dropping them one by one can overcome this issue.

[2018-08-11 16:23] vibhor98 commented on #5494
This is the default behaviour of CKEditor. Its common for all the interactions as verified by @bansalnitish. I haven't done any changes with the CKEditor. Probably, Nitish can say more about the issue.

[2018-08-11 17:44] DubeySandeep commented on #3826
De-assigned @jordancockles from EditorService.js as it's already done (#5406).
Sorry for this @jordancockles , you can still work on app.js part!

[2018-08-11 19:12] nithusha21 opened #5497 "Remove overriding of last_updated field after successful migration"
This is a tracking issue to remove the overriding for the last_updated fields in GeneralFeedbackMessageModel, GeneralFeedbackThreadUserModel and GeneralFeedbackEmailReplyToIdModel after successfully migrating threads and related models.

[2018-08-11 19:15] seanlip commented on #5494
This is not the default behavior of CKEditor. The issue is that there are two CKEditor input fields at the outset (not common) and presumably both are being autofocused at the same time. Maybe find a way to manually set focus to the first one?

I.e. it's not a CKEditor issue, I think. It's how we use the CKEditor on the page.

[2018-08-11 20:28] bansalnitish commented on #5494
Yup @seanlip is right. It's not the RTE issue and we don't have any interaction with two items or so.

[2018-08-11 22:45] pranavsid98 commented on #5134
Deassigning @nindyahapsari from custom_landing_pages. Assigned @binaryman008 . Good luck!

[2018-08-12 05:21] vibhor98 commented on #5280
As an update, I got that `getBoundingClientRect()` is returning non-zero value in the editor mode but there only the interaction preview is shown and we can't really have scrolling there to test. Whereas in preview and learner mode, the dimensions are all zeros. So, I was looking since yesterday for anything dissimilar in both the cases that may cause the problem. I looked at all the directive hie

[2018-08-12 06:56] vibhor98 commented on #5280
So, I looked at all the parent divs and found that `protractor-test-conversation-input` onwards we get non-zero dimensions of the elements. I found that the container specific for this interaction had its own dimensions and that was hindering the way for computing correct dimensions inside this div. So, I deleted all the extra divs and set data scroll container to a generic class of div containing

[2018-08-12 08:59] vibhor98 opened #5500 "Auto generated audio translations not working on Chrome"
## Repro Steps:
* Play an exploration on test server.
* Play auto-generated English translations.
* They're unavailable and can't be played.

Previously, this issue was specific to chrome on mobile (#5257) but now it can be reproduced on desktop as well.

[2018-08-12 10:28] ishucr7 opened #5501 "Upgrade the demo explorations to the latest schema version(Do it ASAP, as the demo explorations in dev are broken.)"
In the `oppia/data/explorations` there are YAML files which are actually the demo explorations in yaml format.
The schema version of the demo exploration is not the current one we have for explorations in oppia.
The demo explorations need to be updated to the latest schema version.

Take the following steps to do the same.

Go to /admin and reload the exploration.
Go to the /create page for that e

[2018-08-12 12:05] hoangviet1993 opened #5502 "Increasing unit test coverage for build.py"
At the point of writing this, coverage for build.py sits at 25%. And more codes are getting added from PR #5468 . As stated toward the end of that PR, having a good coverage for build.py is key in term of ensuring changes to its function does not break basic building function.

[2018-08-12 12:07] nalinbhardwaj commented on #3950
I'd like to take `error/error.html`

[2018-08-12 12:10] son-vyas commented on #5476
Hi @apb7 , when I try to run **bash scripts/start.sh** , it throws the following error:- https://paste.fedoraproject.org/paste/fgvTrLOWp3XXnPflj1uktQ
What should I do next?

[2018-08-12 12:30] DubeySandeep commented on #3950
@nalinbhardwaj, I've assigned you to `error/error.html`! :)

[2018-08-12 13:03] apb7 commented on #5476
Hmm. This seems to be a network issue. Can you please retry running the script? Thanks!

[2018-08-12 13:17] apb7 commented on #5501
Hi @ishucr7, some of the demo explorations are used in the mobile tests. Please ping me up whenever you create a PR for the same. I'll run the tests on mobile for this. Thanks!

[2018-08-12 13:23] apb7 opened #5503 "Remove false positive browserstack warning"
Presently, we observe a false positive warning by browserstack: `Browserstack access_key is invalid.`
This is due to the different naming convention of the access key environment variable. Browserstack expects the env variable as `BROWSERSTACK_ACCESS_KEY` whereas we use `ACCESS_KEY` as the env variable.
This is a tracking issue for the same, that is, to change the environment variable name.

[2018-08-12 14:02] son-vyas commented on #5476
Thanks @apb7 , I retried running the script and it worked. But the development server didn't started at http://localhost:8181. How should I proceed further?

[2018-08-12 14:15] ishucr7 commented on #5501
Hi @apb7 , this is not to be given priority as of now. It is filed so that we can keep track of things that came up while implementing other work.
Thanks.

[2018-08-12 14:19] vibhor98 commented on #5494
While looking at the `label-for-focus-target` for schema based editors, I found that it was disabled as CKEditor has its own Focus Manager to keep track of the elements. After looking at its documentation, I found that `CKEDITOR.editor.focus` method is used to move the selection focus to the editing area space in the editor  ([link](
https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.h

[2018-08-12 14:20] ishucr7 opened #5504 "Implement a one off Job that deletes the image/audio on the old system. (exp_id/assets/image/image.png)"
IMPORTANT-- This is to be done after the August Release.

[2018-08-12 15:01] apb7 commented on #5476
Actually for this, you do not need to run the development server. What I suggest here is: pick up any one from the above list. Since you're just beginning here, I recommend to go for the second one, that is, "There should be no space after """ in single line docstrings."
All these lint checks can be found in the pre_commit_linter.py script [here](https://github.com/oppia/oppia/blob/develop/scripts

[2018-08-12 18:42] seanlip commented on #5501
As a note, though, upgrading the schema version of these explorations shouldn't affect tests. In general explorations are migrated to the latest schema version on-load anyway, so the user-facing behaviour should not be affected.

[2018-08-12 18:53] seanlip opened #5507 "Explorations may not upgrade correctly if they are in memcache when an upgrade is performed."
From https://github.com/oppia/oppia/pull/5482#issuecomment-412336894:

Explorations are supposed to upgrade to the latest schema version when loaded.

However, @ishucr7 noticed that, when he created an exploration and reloaded it, the schema version didn't get updated. (@ishucr7 -- is this right? Could you please add a minimal set of full repro instructions to this issue -- which may involve defin

[2018-08-12 18:54] seanlip commented on #5507
Assigning @ishucr7 for giving more details of the reproduction steps. (@ishucr7 please feel free to remove your assignment once you've done so.)

Thanks!

[2018-08-12 19:04] vibhor98 opened #5508 "Feedback threads in feedback tab do not reorder by recent updates in real time"
### Repro Steps:
1. In the editor mode, open few feedback threads in the exploration.
2. Update them and see their ordering.

### Observed behaviour:
The threads should be updated on the basis of recent updates in real time.

### Expected behaviour:
The threads do not update in real-time. After refreshing, they are reordered as expected.

cc/ @nithusha21

[2018-08-13 07:56] seanlip commented on #5464
I believe all of these are addressed, so I'm closing this issue. Please feel free to reopen it if I'm mistaken in doing so. Thanks!

[2018-08-13 07:56] #5464 closed, assigned to vibhor98

[2018-08-13 07:59] seanlip commented on #5493
I think the existing behaviour is fine -- closing this. Thanks for finding this and reporting it, @bansalnitish!

[2018-08-13 07:59] #5493 closed, assigned to nobody

[2018-08-13 08:28] #5407 closed, assigned to ishucr7

[2018-08-13 10:24] bansalnitish commented on #5447
So, you mean to say that saving it as new exploration is equivalent to updating the id of the exploration to `NEW_EXP_ID`?

[2018-08-13 10:31] ishucr7 commented on #5434
The code for Object.assign has been removed in the following [PR: 5509](https://github.com/oppia/oppia/pull/5509)

ImagePreloaderService.js
 [link](https://github.com/oppia/oppia/pull/5509/files#diff-13ed65ef84b21a7752e560f8d5cc12baL57)

ExtractImageFilenamesFromStateService.js
[link](https://github.com/oppia/oppia/pull/5509/files#diff-bfd8218538b376710e9da9bfc0813eccL179)

[2018-08-13 10:32] seanlip commented on #5434
This issue seems to be fully addressed. Closing!

[2018-08-13 10:32] #5434 closed, assigned to nobody

[2018-08-13 10:39] bansalnitish commented on #5494
Hi @vibhor98,

We are using the default behaviour of CKEditor for managing the foucs. So, if the default behaviour is to highlight the latest instance of editor, you will need to change that specifically for Drag and drop interaction.

In other cases, this behaviour is the expected one. Like in case of tabs, we have two CKEditor instances but since both have some text, the right behaviour is to hi

[2018-08-13 10:41] bansalnitish commented on #5447
Hi @prasanna08, I tried changing the id as you said and it results in failure of content validation since validation still runs on the older exploration where the states have not been converted.

Also if I flip the id and don't save the exploration as new exploration, I get an error if I try to retrieve the exploration by using its id through the function `exp_services.get_exploration_by_id`:

[co

[2018-08-13 10:46] bansalnitish commented on #5454
Hi @seanlip, can you tell me how can this error be reproduced, Thanks!

[2018-08-13 10:49] seanlip commented on #5454
I'm sorry, I can't. I saw this in production but I don't know what caused it. You might need to analyze the code to see how this could possibly arise.

[2018-08-13 10:51] seanlip commented on #5494
I don't think there's a reasonable nonempty default value to use here. It's going to be annoying for the creator to have to delete that value each time.

I think the potential solutions include:
- finding a way for the focus to be on the first element (for the drag-and-drop interaction)
- having just one field as the default, but preventing saving unless there's >= 2 fields.

[2018-08-13 11:04] bansalnitish commented on #5494
Yeah the second one can be easier I guess.

[2018-08-13 13:28] durgeshra commented on #3950
@DubeySandeep Can I work on collection_player/collection_player.html?

[2018-08-13 13:36] #5280 closed, assigned to vibhor98

[2018-08-14 06:36] aks681 opened #5516 "Complete refactoring of exploration player"
Currently, the initialization of an exploration has been shifted to exploration player state service.
To complete the refactoring the submit answer and all its associated function calls should also be removed from ConversationSkinDirective and into ExplorationPlayerStateService, so that the entire logic of what card to add or not to add should be done in the state service itself.

[2018-08-14 06:40] aks681 opened #5517 "Move state card specific functions out of engine services"
There are various functions in the engine services for exploration player, for which the required data is available in StateCard itself, but due to the order in which a StateCard is added, it can't directly be taken from it currently.
This is a tracking issue to fix its ordering and remove these functions from the engine services.

[2018-08-14 06:48] aks681 opened #5518 "Previous card learner input being considered for present cards"
For certain interactions (observed in GraphInput, ImageClick and NumberwithUnits currently), in the time it takes for the new card to be recorded in the transcript, the new interaction refers to the learner input for the previous interaction for a short while, which leads to console errors, though as soon as the card is recorded, it goes away.
As a result, there are no user facing errors, but thes

[2018-08-14 09:02] seanlip opened #5520 "Weird border lines in feedback table?"
It used to be the case (try checking out release-2.6.6) that tables in Oppia didn't have black borders. However this seems to have regressed -- see screenshot:

![test](https://user-images.githubusercontent.com/10575562/44082424-0b5f6d60-9f66-11e8-92ae-a4aacb1a0054.png)

You'll see that "Status", ..., "Last Updated" are all surrounded by black lines and it looks kind of ugly.

The aim of this issu

[2018-08-14 10:44] #5494 closed, assigned to vibhor98

[2018-08-14 15:04] prasanna08 commented on #5447
Ok, so let me explain issue here. When you save a new exploration a Stateidmapping model is generated for that exp. Now when you try to overwrite the exploration you will get an error that stateidmapping already exists. So don't overwrite an existing exploration. Is that clear?

[2018-08-14 15:24] prasanna08 commented on #5447
@seanlip, there is one more [test](https://github.com/oppia/oppia/blob/develop/core/domain/exp_services_test.py#L780) case whose purpose is to make sure that overriding some exploration is not possible. I don't think we can have that test case and, at the same time, remove the STATE_ID_MAPPING constant.

[2018-08-14 16:49] son-vyas commented on #5476
Hi @apb7. I have added the required check in the above PR. Will you please review and let me know suggestions, if any?

[2018-08-14 17:44] apb7 commented on #5476
Hi @son-vyas, done!

[2018-08-14 18:02] seanlip commented on #5447
That yaml test seems counter-intuitive. It is fine to remove it altogether.

@bansalnitish can you help address @prasanna08's comment?

[2018-08-14 18:16] DubeySandeep commented on #5520
I found [this](https://github.com/oppia/oppia/pull/5421/files#diff-a5de01b7be4948894c7b8f8782677062R303) change is causing issue. removing `th` from there will solve the issue, but I'm not sure what other issue that will create.
@pranavsid98, can we remove that `th` from there?

[2018-08-14 18:17] son-vyas commented on #5476
@apb7, I have done the suggested changes. Will you please go through it?

[2018-08-14 18:31] WickedBrat opened #5525 "Misalignment in list view on Creator Dashboard."
On creator dashboard for unpublished and untitled exploration, the table for "last modified" is not properly aligned:
![screenshot from 2018-08-14 23-59-25](https://user-images.githubusercontent.com/20617436/44110800-4e586cd0-a01e-11e8-9292-51fd2ffa284c.png)

[2018-08-14 18:32] DubeySandeep commented on #5525
@WickedBrat, It looks like a duplicate of #5520.

[2018-08-14 18:40] bansalnitish commented on #5447
Hi @prasanna08, Yes the issue is clear to me now, Thanks!
So, if we use the updated dict to create a new exploration and delete the old one, then run the job on it, will it work fine?

EDIT: Just went through your PR. I had a doubt. I have left a question there, Thanks!

[2018-08-14 18:48] bansalnitish commented on #5454
Ok sure, I will have a look, Thanks!

[2018-08-14 19:03] WickedBrat commented on #5525
@DubeySandeep no, in that issue it's about table borders. Here the "last updated" column is not aligned for untitled explorations.

[2018-08-14 21:44] #5485 closed, assigned to pranavsid98

[2018-08-15 01:45] ishucr7 opened #5526 "Add a flag that should be flipped after the ExplorationMigrationJob is run."
This is so that for the job the html_cleaner_validation_service.py's  get_filename_with_dimensions fetches image from the old system when we run the job for states schema version change 24->25 . And for the rest of the time, when we load demo explorations in the dev mode, we upload and fetch from the new one.

[2018-08-15 05:05] sstone-codaio commented on #5134
Hi, I'd like to work also on core.storage.exploration.gae_models.

[2018-08-15 05:18] DubeySandeep commented on #5134
Hi @sshou14,  I've assigned you to `core.storage.exploration.gae_models.` you can start working! :)

[2018-08-15 06:13] apb7 opened #5529 "Print lint check error messages at the end of the check"
Currently, the lint check error messages are printed as and when they are encountered. Ideally, they should also be printed post the completion of the check.
### Current behavior:
The CSS, JS and Python lint checks, which run in parallel, output/print the error messages to the console/terminal as and when they are encountered.

[code]
Here we can see that when the check finishes, the message gets

[2018-08-15 06:50] DubeySandeep opened #5530 "Collection editor page title isn't similar to the collection title."
**Describe the bug**
In collection-editor page title is never being passed to the template: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/collection_editor/collection_editor.html#L4
so if you test it, regardless of the name of the collection, the browser title is "Untitled Collection - Oppia Editor". On git blame, it looks like https://github.com/oppia/oppia/pull/3126/f

[2018-08-15 11:20] nalinbhardwaj commented on #5530
Also, note that the old method to do this(passing the `title` from backend) only changes the title on a page refresh(so if one makes an untitled set and names it, it won't show up until page refresh). Perhaps, the more appropriate way to set it is somewhat similar to [`collection_editor_navbar_breadcrumb_directive.html#L4`](https://github.com/oppia/oppia/blob/51f2ed8593e13ebe063d222b804aadbff3e207

[2018-08-15 12:52] pranavsid98 commented on #5520
@DubeySandeep Oh, I do need the 'th' there. But I thought I had It scoped out to only that particular table? I want that property to be there for all 'td's and 'this of that particular table only. Is the code not correct for that?

[2018-08-15 17:13] DubeySandeep commented on #5530
@nalinbhardwaj, your comment looks similar to #1970!

[2018-08-15 18:48] tjiang11 commented on #3786
Confirming that this is in progress.

[2018-08-15 18:49] tjiang11 commented on #4158
Ping @pranavsid98

[2018-08-15 18:49] tjiang11 commented on #4995
Ping @nithusha21

[2018-08-15 18:56] DubeySandeep commented on #5520
This is resolved in #5532. Closing!

[2018-08-15 18:56] #5520 closed, assigned to pranavsid98

[2018-08-15 18:57] tjiang11 commented on #3576
@bansalnitish can this be closed?

[2018-08-15 18:58] tjiang11 commented on #2485
Hi @1995YogeshSharma how is this going?

[2018-08-15 19:00] tjiang11 commented on #5145
Hey @brianrodri any updates on this?

[2018-08-15 19:00] tjiang11 commented on #5138
ping @vojtechjelinek

[2018-08-15 19:04] vojtechjelinek commented on #5138
@ishucr7 You might want to take a look at this in next weeks.

[2018-08-15 21:04] pranavsid98 commented on #4158
@kevintab95 Ahh. I'm sorry, I'm not sure when this got fixed, but it seems to work for me too now. Tried reproducing this and everything seems fine. Closing this.

[2018-08-15 21:04] #4158 closed, assigned to kevintab95

[2018-08-15 21:35] codeherlife commented on #3950
Can I work on  collection_player/collection_player.html

[2018-08-15 21:41] vojtechjelinek commented on #3950
@durgeshra I've assigned you to `collection_player/collection_player.html`
@codeherlife Since @durgeshra would be working on collection player, do you want to work on `header_css_libs.html` and `header_js_libs.html` (both are similar and should be done together)?

[2018-08-15 21:47] codeherlife commented on #3950
@vojtechjelinek  Yes, please... If I need help with this issue are you available or someone else to help me with it in oppia chat? Thanks!

[2018-08-16 02:17] hoangviet1993 opened #5535 "Distorted info card's Google classroom button"
**Describe the bug**
Was playing around with `develop` 's player page and found this bug:
![screen shot 2018-08-15 at 10 09 29 pm](https://user-images.githubusercontent.com/11153258/44183187-0873ff80-a0d8-11e8-93ee-67dc4a876b37.png)
**To Reproduce**
 1. Go to any exploration: this one for example,
https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v
 2. Click on "Inf

[2018-08-16 02:19] hoangviet1993 commented on #5535
#5443 ... related ...maybe?

[2018-08-16 04:58] ishucr7 commented on #5469
This has been resolved in the following #5490 .
Closing it now. Thanks

[2018-08-16 04:58] #5469 closed, assigned to ishucr7

[2018-08-16 05:00] ishucr7 commented on #5526
The ExplorationMigrationJob for 24->35 states schema doesn't require any flag now. Closing this issue. Thanks

[2018-08-16 05:00] #5526 closed, assigned to ishucr7

[2018-08-16 05:03] ishucr7 opened #5537 "Remove ValidationOfImagesOnGCSJob in exp_jobs_one_off.py"
Remove ValidationOfImagesOnGCSJob in `core/domain/exp_jobs_one_off.py`
Steps:-
Remove the code for the job from the file. Make sure that if any constant in the job is specific only to this job, then remove it.

Remove the line which adds the ValidationOfImagesOnGCSJob in `core/jobs_registry.py`

[2018-08-16 05:47] A-Yerkeshev opened #5539 "Pushing branch to forked repository"
Good day, guys.

I currently write the test for ResponsesService.js file. I want to start working from another computer, so I need to push the changes to my forked repository. However, I have some issues with linting. I would be happy if you could help me to resolve them!

Here is the error I get:
[code]

Here is the [link](https://github.com/A-Yerkeshev/oppia) to the forked repository, maybe ther

[2018-08-16 06:09] kranthik13 commented on #5529
@apb7 Can I get assigned to this?
And can you please elaborate what to do?
Thanks.

[2018-08-16 08:17] apb7 commented on #5539
Hi @A-Yerkeshev, for linting purposes, we use pyjsparser to parse JS files as Python dicts. This error is observed when the parser is unable to parse a particular file probably due to a syntax error. We have an issue, #5256 to make the messages clearer. While we fix the issue, can you please try running the lint check individually on all JS files changed, in order to identify which file has a prob

[2018-08-16 08:40] seanlip commented on #5535
/cc @shaz13

[2018-08-16 08:58] seanlip commented on #5463
Is this done?

[2018-08-16 10:06] apb7 commented on #5529
I have updated the issue thread. You can go ahead with this. Thanks, @kranthik13!

[2018-08-16 11:36] pranavsid98 commented on #5463
@seanlip Yep!

[2018-08-16 11:36] #5463 closed, assigned to pranavsid98

[2018-08-16 13:12] kranthik13 commented on #5529
@apb7 So I have to print the errors with the summary at the end and not during the lint checking?

[2018-08-16 13:22] apb7 commented on #5529
Yes, but only for the CSS, JS and Python lint checks which run in parallel (as mentioned in the example above). Thanks!

[2018-08-16 13:48] kranthik13 commented on #5529
@apb7 Can you specify how can I get the error test cases to verify whether its working or not?

[2018-08-16 14:03] apb7 commented on #5529
For testing, I suggest you make some deliberate lint errors across different files in the code base and then run the linter by `bash scripts/pre_commit_linter.py --path=.` and verify that th errors are placed at the bottom.

[2018-08-16 14:09] kranthik13 commented on #5529
@apb7 Somebody has already added for .js files?

[2018-08-16 14:14] apb7 commented on #5529
Sorry, but I think that the error messages for all CSS, JS and Python files are printed as stated above. Can you please explain what you're referring to? Thanks!

[2018-08-16 14:21] kranthik13 commented on #5529
@apb7 Can we talk on gitter?

[2018-08-16 14:25] apb7 commented on #5529
Sure! Feel free to ping me :)

[2018-08-16 14:50] hoangviet1993 commented on #5539
Which branch do we need to look at? @A-Yerkeshev

[2018-08-16 17:56] #5537 closed, assigned to ishucr7

[2018-08-16 20:45] suicide11 commented on #5525
may i solve this issue

[2018-08-16 21:15] seanlip commented on #5525
Hi @suicide11, feel free to go ahead and submit a PR. Thanks!

[2018-08-16 21:17] #5402 closed, assigned to kevintab95

[2018-08-16 22:21] #5256 closed, assigned to apb7

[2018-08-17 03:17] A-Yerkeshev commented on #5539
@apb7 Thank you. And how do I actually run lint check individually?

[2018-08-17 03:17] A-Yerkeshev commented on #5539
@hoangviet1993 That is the problem in fact - I cannot push the locally created branch to remote :)

[2018-08-17 03:21] hoangviet1993 commented on #5539
`python scripts/pre_commit_linter.py --files [PATH_TO_FILE]`
e.g  `python scripts/pre_commit_linter.py --files core/tests/protractor/learnerFlow.js`
@A-Yerkeshev

[2018-08-17 03:34] apb7 commented on #5539
Hi @A-Yerkeshev! We just fixed #5256. Can you please pull the latest version of develop and then re-run the check? Now, you will automatically see the file causing the error.
Sorry for the inconvenience! Thanks :)

[2018-08-17 09:01] ishucr7 commented on #5501
Hi @seanlip , I have added a PR for the demo explorations with images in them. The rest of the explorations can work, with older schema too.
I was thinking of making a list of the rest of the explorations and mark this issue as good first issue for the beginners. I think that would be a good issue to begin with, giving them the idea what exploration schemas are.
Let me know what you think!
Thanks

[2018-08-17 09:05] seanlip commented on #5501
Actually I don't think we need to migrate the other explorations. It's not a bad idea to have some older ones around to ensure the on-demand migration pipeline is still working properly, IMO. What do you think?

[2018-08-17 09:08] ishucr7 commented on #5501
Yeah, Sounds good. Let's keep them as it is then.

[2018-08-17 09:21] ishucr7 commented on #5501
And one more thing, @seanlip , @vojtechjelinek while I was checking the The Lazy Magician [in the creator mode], I found out that it had some error.
Could you please confirm?
Thanks.

[2018-08-17 09:35] ishucr7 commented on #5507
Create an exploration in a branch which has states schema less than 25. Do not close the browser and do not flush the memcache.. Then checkout to develop or any other branch with schema 25. Reload the exploration page. Ideally the exploration should have been upgraded to schema 25.
go to localhost:8000 and check on the datastore viewer tab. See if the entry with the same exploration id gets upgrad

[2018-08-17 09:39] ishucr7 commented on #5507
To give a more general case. Create any exploration in vn version and open the exploration in a branch with latest version as vn+1.

[2018-08-17 18:01] nithusha21 opened #5544 "Race condition in questions tab of topic editor"
Occasional bug in questions tab of topic editor where the Topic isn't initialized even after init() finishes executing. This causes an error while using interpolateURL with the id of the topic.

On reloading, this error does go away. But the race condition needs to be dealt with.

[2018-08-17 18:09] nithusha21 opened #5546 "Make provision to view suggested questions in the common suggestion view"
The creators for the questions have no way to view the status of their questions. We need to make these types of suggestions also viewable in the common suggestions view.

[2018-08-17 18:13] nithusha21 opened #5547 "Cleanup old models and services for feedback and suggestion frameworks"
The old models have been replaced by models prefixed with "General". These models need to be removed, and related services and tests can also be removed. This needs to be done after successful migration to the new framework.

Also, the URLs for the new suggestions framework are currently of the form `generalsuggestionactionhandler`, `generalsuggestionhandler`, etc. We need to drop the "general" pr

[2018-08-17 18:19] nithusha21 opened #5548 "Allow users to tag questions with misconceptions while suggesting questions"
Currently there is no option for the user creating the question suggestion, or the reviewer, to tag misconceptions. We cannot enable this right now because we have not given the suggestor an option to select a skill (only topic is chosen while suggesting), and there is no handler to update an existing suggestion. Because updating isn't possible, at the time of review, it is not possible to select

[2018-08-17 18:25] nithusha21 opened #5549 "Enable recording of scores for users"
We have implemented a scoring system for authors of suggestions. We need to decide different policies as to when we should add a score point to a user, do we need to restrict the lessons where scores get added. If the user has high enough scores for a category, then should the user only be allowed to review suggestions for the restricted set of lessons?

Also if we do not restrict our lesson pool,

[2018-08-17 19:49] DubeySandeep opened #5550 "Make oppia run offline!"
**Is your feature request related to a problem? Please describe.**
Sometimes I use to be without internet and in that condition it completely blocks me to do dev works.
**Describe alternatives you've considered**
As far as I have seen after running dev server it runs successfully but browser never completes loading as it uses to request for font and material icons!  Is there any way we can resolve

[2018-08-17 22:05] hoangviet1993 commented on #5550
Do you mean your `localhost` session to run completely offline? @DubeySandeep

[2018-08-17 22:25] DubeySandeep commented on #5550
Closing this issue for now!
I found it's working fine when I have disabled networking, but it blocks only when I'm connected to a wifi which doesn't have the internet connection.

(I'll reopen if I'll find any issue with the current flow)

[2018-08-17 22:25] #5550 closed, assigned to nobody

[2018-08-17 23:30] seanlip commented on #5544
Hi @aks681, please could you take a look at this? Thanks!

[2018-08-18 01:57] sstone-codaio commented on #5134
Hi, i'd like to work on core.storage.skill.gae_models. thanks!

[2018-08-18 02:11] hoangviet1993 commented on #5134
@sshou14 I haved assigned `core.storage.skill.gae_models` to you. Thanks!

[2018-08-18 09:09] seanlip opened #5553 "Audio translations are not available in Safari."
We have received a couple of reports that audio translations are not available in Safari. This is currently affecting lesson deployment because sometimes volunteers bring their laptops to show the lessons to the students (and sometimes these laptops are MacBooks). But if the students can't hear the Hinglish audio, they have a really hard time reading through the lesson.

**To Reproduce**
I haven't

[2018-08-18 09:10] seanlip commented on #5553
/cc @tjiang11 @DubeySandeep would it be possible to look into this?

[2018-08-18 09:15] DubeySandeep commented on #5553
@seanlip, I don't have a safari browser to test, but let me go through the audio player and see if it's disabled for other browsers except for chrome! (I think that can be the reason!)

[2018-08-18 09:24] DubeySandeep commented on #5553
On a quick look I found we have disabled the audio player for safari. Currently, I don't remember the reason
https://github.com/oppia/oppia/blob/58e5c4186bb564d16217a13f25c53082bd79523e/core/templates/dev/head/domain/utilities/BrowserCheckerService.js#L58-L60

[2018-08-18 09:26] DubeySandeep commented on #5553
I found #4340 the reason behind disabling the audio player in safari!

[2018-08-18 09:31] DubeySandeep commented on #5553
And now I found this issue to be a duplicate of #4370.

[2018-08-18 09:42] shaz13 opened #5554 "Update font-awesome version for icon consistency"
**Screen shot:**
![screen shot 2018-08-16 at 10 33 34 am](https://user-images.githubusercontent.com/11153258/44215197-f29a2500-a13f-11e8-9653-d647cfbbf803.png)
<sub>The code and classroom icons are not font-awesome causing inline and styling issues at various places</sub>

Current version of font-awesome doesn't have latest pack of icons. We are using static images and material icons instead. Upda

[2018-08-18 09:44] shaz13 commented on #5554
Also, refer the discussion in  PRs #5540 , #5443 and #3193

[2018-08-18 13:32] aks681 commented on #5544
Ok, yeah, will try this.

[2018-08-18 16:49] tjiang11 opened #5556 "Create a modal that allows for the searching of skills"
Currently, to assign a skill to a topic, a skill is created, and then it is assigned from the topics and skill dashboard in the "Untriaged Skills" section.

We would like to be able to add skills to a topic from the topic editor as well. Christine has made a mock:

![image](https://user-images.githubusercontent.com/11807091/44301426-15614080-a2dc-11e8-9f1a-7502fe00d0f7.png)

We will also eventuall

[2018-08-18 21:24] seanlip opened #5558 "Unable to add user to translator role in production."
I just tried to add a translator to the Fractions 1 exploration on oppia.org. On doing this, I get an error message: "Invalid role: translator".

I think the issue might be in email_manager.EDITOR_ROLE_EMAIL_HTML_ROLES. We should fix that and add tests for this part of the pipeline.

AFAICT, the effect of this is that the user got successfully added, but did not receive an email.

[2018-08-18 23:02] #5558 closed, assigned to DubeySandeep

[2018-08-19 01:07] #5535 closed, assigned to nobody

[2018-08-19 01:41] DubeySandeep commented on #5500
![image](https://user-images.githubusercontent.com/16653571/44304624-05e70380-a37f-11e8-8fc4-dba5040967ce.png)
I found that the utterance value is set to 0 by default, I'll be trying to change the value of the utterance I think this will resolve the issue!

[2018-08-19 01:50] DubeySandeep commented on #5257
@seanlip, I found that the default value of speechUtterance is set to 0 in chrome 67! on changing volume it resolves the issue for the desktop browser I'm not sure about the mobile, can anyone help me test this on mobile phone?

[2018-08-19 05:02] #5447 closed, assigned to prasanna08

[2018-08-19 05:30] seanlip commented on #5183
Fixed in #5215. Thanks Prasanna!

[2018-08-19 18:05] #5500 closed, assigned to nobody

[2018-08-19 20:48] unit-00 commented on #5425
Hey @apb7 ,

this issue is almost closed! I'm fixing up a few reviewing comments from [here in 5527](https://github.com/oppia/oppia/pull/5527#issuecomment-413103687).

[2018-08-20 02:58] A-Yerkeshev commented on #5539
Thank you! I will check it out

[2018-08-20 16:58] aks681 opened #5566 "Create a ConceptCardEngineService"
Move some logic of moving to a concept card and back from a state to a new ConceptCardEngineService, which can also be used for managing the worked examples for the concept card.

- [x] Create a separate directive for concept card

- [x] Have the question player use the new concept card directive

- [ ] Have the exploration player use the new concept card directive

[2018-08-20 17:00] aks681 opened #5567 "Move some functions from ExplorationHtmlFormatterService"
There are some functions in ExplorationHtmlFOrmatterService regarding calculating interaction html. This can be moved into InteractionObjectFactory. Also, the file itself can be renamed to StateHtmlFormatterService.

[2018-08-20 18:27] aks681 commented on #5517
This has been fixed in this [PR](https://github.com/oppia/oppia/pull/5533).

[2018-08-20 18:27] #5517 closed, assigned to aks681

[2018-08-21 04:45] DubeySandeep opened #5569 "Allow translators to write and save translated script."
The process of audio translation starts with writing a properly translated script followed by the recording. Currently, on the translation tab, we just allow translators to record audio, It would be great to have a feature which will allow translators to write and save the script.
- [x] Backend changes.
- [ ] Frontend changes.

[2018-08-21 04:45] DubeySandeep opened #5570 "Allow translators to edit the recorded audio."
Recording audio translation is a multi-take process and sometimes requires simple editing to finalize the recording. SO it would be great to have such simple editing options like:
- [ ] Trim audio (cut-paste a section of audio).
- [ ] Change the speed of recorded audio.
- [ ] Undo - redo editing.

[2018-08-21 04:45] DubeySandeep opened #5571 "Allow translators to see the changes made in content by editor."
AUdio translation is a lengthy process and it takes a lot of effort to record a proper audio translation, currently, when an editor marks audio to "needs update" state, then the translators get informed about this through warning icon but they never realize what exact changes are made, it would be great to have such functionality. I have attached a screenshot of the required functionality:
![image

[2018-08-21 04:58] DubeySandeep opened #5572 "Help section for translation tab."
Audio translation tab has lots of functionality and it would be great to have a simple help modal explaining the features of the translation tab. This modal can explain the following things:
- How to use the translation tab for a specific language.
- About the status color.
- About the warning sign.
- How to use the audio recording bar.

[2018-08-21 08:07] #4830 closed, assigned to nobody

[2018-08-21 08:13] DubeySandeep commented on #4600
Closing this issue as the audio file added in this issue isn't an audio file with mp3 MIME type.
It's working fine for all bitrate of mp3 files.

[2018-08-21 08:13] #4600 closed, assigned to nobody

[2018-08-21 08:16] DubeySandeep commented on #5257
@nithusha21, Can you please test this on mobile (Andriod)? I think this is resolved now!

[2018-08-21 09:16] bansalnitish opened #5574 "Audio upload feature in the Rich Text Editor"
There can be a option to add audio files in the Rich Text Editor. This will help in the case where author wants the learner to learn different voices (or ask learner to map different voices of say frog with the image/name of the frog).

The audio plugin of CKEditor may help here: https://ckeditor.com/cke4/addon/html5audio

- One option to solve this can to be create an interaction where we have au

[2018-08-21 13:13] nalinbhardwaj opened #5575 "Audio playback rate option"
**Is your feature request related to a problem? Please describe.**

For users who are not as familiar with the audio language of the exploration(such as those with little understanding of English), it is hard to keep up with the audio, they have to re-listen/pause audio frequently to make sense of the speaker's sentences.

**Describe the solution you'd like**

One way to deal with the problem is a

[2018-08-21 14:02] DubeySandeep commented on #4489
@hoangviet1993, can you please test this on develop, I have attached the zip file below:
[oppia-TheMeaningof_EqualParts_-v46.zip](https://github.com/oppia/oppia/files/2306559/oppia-TheMeaningof_EqualParts_-v46.zip)

[2018-08-21 14:35] hoangviet1993 commented on #5553
Currently, in PR #5573 , we are enabling autogenerated English audio for Safari. Would that be a good (temp) solution for the time being? Is Hinglish a must for lesson testing with students? @seanlip

[2018-08-21 14:49] hoangviet1993 commented on #5553
There is also a problem of making the current solution for detecting browser future-proof.
Per this SO post: https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser (from `BrowserCheckerService.js`), the regex from `$window` is not reliable for detecting browser across all versions.
I.E. A different version of Safari might slip through the checker servi

[2018-08-21 14:58] hoangviet1993 commented on #5575
Would subtitle for audio work here too? @nalinbhardwaj

[2018-08-21 15:25] apb7 commented on #5503
I was recently trying to fix this issue. On changing the environment variables to `BROWSERSTACK_USER` and `BROWSERSTACK_ACCESS_KEY`, the false positive still persists. As a further step, I looked into how add-ons are setup on Travis and found out that this problem might be due to the way this add-on is setup. This [line](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/addons

[2018-08-21 16:36] WickedBrat opened #5576 "Creator Dashboard view resets during resizing."
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'creator dashboard'
 2. Switch to list mode to display explorations.
 3. Resize the window to mobile view.
 4. Resize back to full screen.

**Observed behavior**
The exploration view should remain in the "list view" even after resizing.

**Expected behavior**
The exploration view changes to tile view even though this list view was never c

[2018-08-21 19:08] #5525 closed

[2018-08-21 19:12] seanlip commented on #5553
Just confirming that Hinglish is a must, and in addition I just found out from @nalinbhardwaj that we'll need Hindi as well (for students in other parts of India who know barely any English). Thanks!

[2018-08-22 04:13] apb7 opened #5577 "Add lint check for self.assertEquals and fix corresponding problems"
At quite a few places in the code base, we have used `self.assertEquals` which has been deprecated: https://docs.python.org/2/library/unittest.html#deprecated-aliases. This is a tracking issue to add a check to prevent its use and replace all instances with `self.assertEqual`.

[2018-08-22 12:47] A-Yerkeshev commented on #5539
Hi guys, sorry for bothering you again, but I still cannot manage it.
Firstly I forked the repository again to make everything up to date. Then I pulled changes with `git pull origin develop`. But when I try to push my changes to fork with `git push -u origin myBranch` I get this:
[code]
Is there something I am doing wrong?

[2018-08-22 12:57] apb7 commented on #5539
Hi @A-Yerkeshev! Do you see a statement "Validating and parsing { some file name } file ..." just above this stack trace? That is the file which is creating a problem, that is, there might be some syntactic mistake in it. Could you please check that out once? Thanks!

[2018-08-22 15:56] codeherlife commented on #3950
Hi! I submitted the fixed updated code for the html headers… Was that received ok and working functionally now? If so, can I have a new file to work on? Thank you!

[2018-08-22 17:02] aks681 commented on #5454
@seanlip The files mentioned in the error log have been modified a lot and even renamed to other files after the state editor refactor that had happened. I tried some ways to reproduce this but wasn't able to.
Would it be the case that this was fixed during the editor refactor?

One reason it could have gotten fixed is because saveDisplayedValue() in StatePropertyService (previously EditorServices

[2018-08-22 18:52] seanlip commented on #5454
Ah, it may have been fixed. Thank you for checking!

I think we can shelve this for now, and revisit if it comes up again. If it doesn't, that's yet another benefit of the new refactor :)

[2018-08-22 18:52] #5454 closed, assigned to aks681

[2018-08-22 18:53] bansalnitish commented on #5454
Thanks @aks681. Cheers :)

[2018-08-22 18:54] #5577 closed, assigned to nobody

[2018-08-22 19:04] nithusha21 commented on #4995
I have updated this issue status. Most of the tasks have been completed as part of my GSoC project. The remaining refactors are up for grabs. I'll take them up a little later (if nobody else takes up the issue).

[2018-08-23 14:40] son-vyas commented on #5134
Hi @DubeySandeep , Can I give a try for core.storage.recommendations.gae_models?

[2018-08-23 14:42] hoangviet1993 commented on #5134
@son-vyas I have assigned core.storage.recommendations.gae_models to you. Best of luck!

[2018-08-23 15:03] hemant0308 commented on #5134
Hi
I would like to work on **jinja_utils**

[2018-08-23 15:06] hoangviet1993 commented on #5134
@hemant0308 I have assigned `jinja_utils` to you. Thanks for taking it up 👍

[2018-08-23 18:00] import-keshav commented on #4374
Getting error while using pylint on your codebase.
any suggestion for other tool for test.

[2018-08-23 18:41] hoangviet1993 opened #5583 "Improve Oppia build process"
As part of the effort in PR #5580, this issue is created to track remaining goals to reach the ideal build process, which can be seen in detail [here](https://docs.google.com/document/d/1sTKInV53hiZjnNXue25Ik_527lXICjOgVNViXpmweC4/edit?ts=5b7a7f76)

- [ ] A clean pipeline for building `/extensions`.
(awaiting triage on restructuring `/extensions`)
- [ ] A clean pipeline for building `/templates` .

[2018-08-23 20:34] suicide11 commented on #5576
We can display the option button for both the view even if the screen size is reduced
![screenshot 12](https://user-images.githubusercontent.com/33354423/44550463-021dfd00-a742-11e8-9216-5aa82679e49e.png)

[2018-08-23 20:43] import-keshav commented on #4374
i would like to work on oppia.scripts.build

[2018-08-23 20:47] hoangviet1993 commented on #4374
Hi @import-keshav , I am currently working on `oppia.scripts.build`  via PR #5580 and have filled out all docstring. Would you mind taking up a different file?
EDIT: oppia.scripts.build is completed.

[2018-08-23 20:51] import-keshav commented on #4374
ok no problem @hoangviet1993 , i can work on other file  :+1

[2018-08-24 02:44] hemant0308 commented on #5134
Hello @hoangviet1993
There is protected method in jinja_utils.
how to write tests for it.
the linter shows warning W0212.
Is there any way to overcome.

[2018-08-24 05:26] A-Yerkeshev commented on #5539
I see something similar:
[code]

The problem is definitely in ResponsesServiceSpec.js file since this is the only file I am working on :) . The weird thing is that it runs tests fine, without errors, and when I check it with [Esprima](http://esprima.org/demo/validate.html) it doesn't find any syntax errors neither.
The Sublime text however, shows a syntax error with curly braces, but I checked it

[2018-08-24 05:30] apb7 commented on #5539
Can you please post a pastebin URL of the file here? Thanks!

[2018-08-24 05:30] A-Yerkeshev commented on #5539
Here I include the [link](https://github.com/A-Yerkeshev/ResponsesServiceSpec/blob/master/ResponsesServiceSpec.js)

[2018-08-24 07:45] apb7 commented on #5539
Can you please replace all occurrences of `() => {...}` with `function() {..}` as we have for all other specs? I think that would solve the problem since the parser supports ECMA 5.1 and parts of ECMA 6 currently. Thanks!

[2018-08-24 07:48] A-Yerkeshev commented on #5539
Ok, I will try it. Thanks a lot!

[2018-08-24 08:03] apb7 commented on #5539
Also, I think you'll have to use `var` instead of `let` and `const`.
Update: I just made the above changes and all lint checks pass now. Here is the file: https://pastebin.com/Z0q1BaSX
Thanks!

[2018-08-24 18:48] anubhavsinha98 commented on #5572
Hey can I take this issue?

[2018-08-24 18:56] amitsin6h commented on #5576
can I take this bug as my first contribution to this org

[2018-08-24 19:13] WickedBrat commented on #5576
Hi @suicide11, I'm not sure about the suggestion, the reason being, the view in the mobile view is somewhat already like a list view. The list view is better for mobile users in the terms of UI. Having grid-like tiles in the mobile view is not feasible as it would acquire more screen size and won't be mobile friendly. Thanks!

Hi @amitsin6h, Welcome to Oppia! I'd suggest you go through [this](http

[2018-08-24 19:16] suicide11 commented on #5576
Yes thats a good point @WickedBrat

[2018-08-25 03:43] A-Yerkeshev commented on #5539
@apb7 Thank you, it worked, no linting problems now. But I still experience the problem with pushing. Now the terminal outputs this:
[code]
Sorry for making you busy with this stuff :))

[2018-08-25 04:35] seanlip opened #5585 "Lint check for pylint-disable"
In [this PR](https://github.com/oppia/oppia/pull/5582/files#diff-47320e1c0a2e765ffd35d070966fd6e0R129), the author uses the construct `# pylint: disable=W0212`. This is hard to understand and it would be better to use the human-readable name instead.

It would be nice if we could detect such messages ('disable=[A-Z][0-9]{4}') and request (via a lint check) that the developer either remove the nece

[2018-08-25 05:41] AllanYangZhou opened #5586 ""Error communicating with server" in interactions exploration"
This is the exact console message I see, along with a popup that says "Error communicating with server.":
![image](https://user-images.githubusercontent.com/8732147/44615415-ab223180-a7ee-11e8-8e95-bb662e03ec2d.png)

Steps to reproduces:
1. Load the "all interactions" demo exploration from the admin console (id 16)
2. Go to `localhost:8181/explore/16`
3. The message should display.

[2018-08-25 05:55] A-Yerkeshev commented on #5539
Thanks a lot! This finally helped!

[2018-08-25 05:55] #5539 closed, assigned to A-Yerkesh

[2018-08-25 12:47] hoangviet1993 commented on #5201
At the point of writing this comment, [app.yaml](https://github.com/oppia/oppia/blob/release-2.6.7/app.yaml) has a bunch of handler entries for dev mode development(`bash scripts/start.sh` without any flag).

Upon running production deployment, a different app.yaml (say we put it in `/scripts/build/app.yaml` to be copied to the final directory ) can be used in place of the current app.yaml to only

[2018-08-25 13:01] hoangviet1993 commented on #4893
@hemant0308 has started working on this issue and submitted a PR.

[2018-08-25 15:47] JoyLubega commented on #5134
Hello, I would like to work on  `core.storage.story.gae_models`

[2018-08-25 15:48] hoangviet1993 commented on #5134
Hi @JoyLubega , I have assigned you `core.storage.story.gae_models`. Welcome to Oppia!
@hemant0308 's question has been answered in related PR

[2018-08-25 21:29] seanlip commented on #4978
I think this is just meant for JSON responses. (Non-JSON responses should work as @aks681  mentioned.)

[2018-08-26 01:16] #5502 closed, assigned to hoangviet1993

[2018-08-26 01:18] hoangviet1993 commented on #5399
Issue superseded by #5583. (Also listed goals in this issue are accomplished)

[2018-08-26 01:18] #5399 closed, assigned to LanJosh

[2018-08-26 07:02] pranavsid98 opened #5590 "Resolve Playthrough Issues without actually needing to refresh the page"
When issues are resolved, pass the result to the outer scope and remove them from the UI without needing to refresh the page.

To reproduce:
1. Create a Sample Playthrough along with an Issue.
2. Navigate to the statistics tab and resolve the issue.
3. It will show an alert to refresh the page instead of actually removing the issue from the view automatically.

[2018-08-26 07:03] pranavsid98 opened #5591 "Modular Directives for Issue types"
There are three issue directives currently in Oppia - EarlyQuit, MultipleIncorrect and CyclicStateTransitions. These directives have a lot of common functionality which are repeated in each of their directives. It would be better to pull all this functionality out into a common service.

[2018-08-26 07:36] seanlip commented on #5591
Hi @pranavsid98, could you please add more details on what this issue actually is? I.e. what precisely should be done?

Thanks!

[2018-08-26 07:37] seanlip commented on #5590
Hi @pranavsid98, please could you add repro steps? Thanks!

[2018-08-26 07:54] seanlip opened #5592 "Fix erroneous white border showing up in the playthroughs UI"
(@pranavsid98 mentioned this issue to me in a chat, so just filing it here for tracking.)

@pranavsid98 -- could you provide a screenshot please? Thanks!

[2018-08-26 13:05] hoangviet1993 commented on #5586
I have also found out exploration 13 (solar_system.yaml) is affected. Looks like the image's filename does not match with the actual filename.
E.g:
There exists a  `code_sample.png`  but there is no such `code_sample_heigh_120_width_120.png`.
 I think this might have to do with the new schema version:
https://github.com/oppia/oppia/pull/5509

Looks like we need to include e2e loading + playing the

[2018-08-26 13:51] hoangviet1993 commented on #5586
Update:
PR #5543 has been merged. @AllanYangZhou can you pull latest changes and report if problem still persists. I can confirm that exp 13 (solar_system.yaml) has been fixed.

[2018-08-26 14:31] rahulnitdgp commented on #4374
Please assign me to add docstrings on feconf.py via issue #4374

[2018-08-26 14:33] ghost commented on #4374
Please assign me an issue.

[2018-08-26 14:33] hoangviet1993 commented on #4374
Assigned oppia.feconf to @rahulnitdgp. Thanks!

[2018-08-26 14:55] hemant0308 commented on #4893
I have started working on this and opened a PR (https://github.com/oppia/oppia/pull/5588)

[2018-08-26 14:57] hemant0308 commented on #5574
@AllanYangZhou
I would like to work on this feature.!
Could someone assign this to me.

[2018-08-26 16:31] #4386 closed, assigned to AllanYangZhou

[2018-08-26 16:36] AllanYangZhou commented on #5586
Looks like it's fixed, closing.

[2018-08-26 16:36] #5586 closed, assigned to nobody

[2018-08-26 17:02] bansalnitish commented on #5574
Hi @hemant0308
I could not assign you the issue (because you are not the collaborator of this org till time). You can go ahead. It's all yours !

[2018-08-26 17:02] bansalnitish commented on #4893
Thanks for the PR @hemant0308 !

[2018-08-26 17:32] hemant0308 commented on #5574
Thank you.

[2018-08-26 17:37] bansalnitish commented on #5574
Just a heads up -- please discuss whatever you plan to do. It may be not straight forward because you need to plan out how will we store the audio files in the database -- like the path of those audio files.

Feel free to ping us anytime if you want to discuss or ask something. Cheers :)

[2018-08-26 17:47] hemant0308 commented on #5574
Sure i will keep in touch with you.

[2018-08-26 17:54] bansalnitish commented on #5574
Great, thanks!

[2018-08-26 18:39] #4978 closed, assigned to nobody

[2018-08-27 02:04] Supreme-Kai commented on #5554
Hey,  can I take this on?

[2018-08-27 16:25] hoangviet1993 commented on #5554
@Supreme-Kai Please take a look at the new contributor guide here: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do

[2018-08-27 19:12] unit-00 commented on #4231
Hi everyone,

giving an update on this issue.

So far I've tried playing with the z-index, the overflow property, and also changing the height based on several SO posts.
Here are some of my observations thus far.

- When adding `overflow-y: auto;` to the html or the body element, the modal can be scrolled via 2 finger touch on OSX 10.13.3 but cannot the scroll bar cannot be clicked nor dragged.

[2018-08-27 20:47] DubeySandeep opened #5597 "Jinja replacement with angular for page title."
Different folks are solving the `maintitle` problem in different ways -- see PR #5557, #5581, #5515. (Also see PR closed: #4146, #4151, #2606 etc.)
The aim of this issue is to figure out a way to do it that removes Jinja and is clean and easily maintainable.
/cc @mzaman07, @sjkadali, @nalinbhardwaj, @vojtechjelinek, @1995YogeshSharma

This issue mainly focuses on part of #3950 which deals with `ma

[2018-08-27 21:01] DubeySandeep commented on #5597
I found [this](https://github.com/oppia/oppia/pull/2606#issuecomment-254424088) comment on #2606 which seems important for this issue.

[2018-08-27 21:03] DubeySandeep commented on #5597
@mzaman07, @sjkadali, @nalinbhardwaj, It would be great if you all will briefly explain the approach you all have taken for this issue, that way we can start our discussion.

[2018-08-27 22:03] vojtechjelinek commented on #5597
Hi, me and @1995YogeshSharma we are currently working on replacing the Jinja altogether, our main focus is using ng-include and other Angular stuff to replace the Jinja (another approach is to construct the pages in the build process).

We no longer plan to get rid of *base.html*, but instead inside the base we would load the specific page (like *library.html*).

The `<title>` might be later contr

[2018-08-27 23:58] Supreme-Kai commented on #5554
@hoangviet1993 I actually have. I was waiting to see if I would get assigned to sign the CLA. Is that what you're referring to?

[2018-08-28 00:19] seanlip commented on #5554
Hi @Supreme-Kai!

FYI, GitHub doesn't let us assign folks who aren't members of the repo. In order to reduce churn, we add people as collaborators on GitHub after they've successfully completed a couple of PRs. Until then, though, you're welcome to work on an issue -- just make a comment on it and feel free to take it up. You'll need to sign the CLA etc. before we can accept your code, though.

Th

[2018-08-28 00:26] Supreme-Kai commented on #5554
@seanlip  Thanks! Ok, I understand and would totally be open to that. I actually only commented because it's tagged as a good first issue, so maybe that can be removed to avoid any confusion. I'll get on everything else and look forward to submitting a PR on another issue. Thanks again :)

[2018-08-28 00:29] seanlip commented on #5554
Ah yes, good point! Thanks a lot, I've removed it. I didn't realize it had that tag!

[2018-08-28 01:57] sjkadali commented on #5597
I made the fix such that jinja templates are removed and the title is
displayed using the angularjs code. After reviewing the comments on  #4146
<https://github.com/oppia/oppia/pull/4146>, #4151
<https://github.com/oppia/oppia/pull/4151>, #2606
<https://github.com/oppia/oppia/pull/2606> , I realize that the fix should
not include direct updates to rootScope.title. Also the suggested fix
appears to

[2018-08-28 04:12] pranavsid98 commented on #5592
Repro instructions:
1. Start dev server.
2. Go to admin page, and reload the 'Welcome to Oppia' exploration.
3. Go to the config values tab within the admin page, and set values of record_playthrough_probability to 1.0, and add "0" as an element in whitelisted_exploration_ids_for_playthroughs.
4. As a learner, start the 'Welcome to Oppia' exploration, click Continue on the first card, and then qui

[2018-08-28 07:51] mzaman07 commented on #5597
I chose a minimalist approach because I realised that for maintitle, an appropriate replacements needs collective approval on what base.html will have for the title using AngularJs.

My approach #5557  is directive focusing on library.html without messing around base.html and other pages still using the jinja templates.

For long-term replacement, I see a directive in base.html with binding page s

[2018-08-28 08:03] seanlip commented on #5501
Yep, I think there's an error there, but it's unrelated to images. I think we can leave it for now, though -- we don't use that exploration much.

Thanks for the fix in #5543, btw! Closing this.

[2018-08-28 08:03] #5501 closed, assigned to ishucr7

[2018-08-28 08:06] seanlip commented on #3786
I think this is mostly done, except for the final deletion, which was filed in #5504. So, closing this issue.

[2018-08-28 08:06] #3786 closed, assigned to ishucr7

[2018-08-28 08:09] nalinbhardwaj commented on #5597
@mzaman07 : Just making a note here(also noted in https://github.com/oppia/oppia/pull/5515#discussion_r210569143) that [Angular docs](https://angular.io/guide/set-document-title) describe the minimalist approach mentioned as:

Personally, I'm not quite sure why this is described as dirtier than other methods, but if the second part is true, it is likely not something desirable in the long run.
If

[2018-08-28 08:37] seanlip commented on #4231
Hi @unit-00, thanks for the detailed writeup!

One thought for a path to investigate: does this happen with a plain vanilla app that uses just the standard bootstrap modal (or maybe the standard angular-bootstrap modal)? I think a good way to figure out what's going on might be: create a vanilla implementation of the modal that works correctly, then try to narrow down the difference between the tw

[2018-08-28 09:04] seanlip commented on #5597
Hm, so it looks like there's some convergence on having a directive in base.html that takes care of binding page-specific descriptions, similar to what @vojtechjelinek is saying about loading the specific page in base.html as needed.

I agree that this is outside the scope of #3950. @DubeySandeep would it be possible to explicitly remove maintitle stuff from the scope of that issue, and maybe trim

[2018-08-28 09:10] DubeySandeep commented on #3950
un-assigned @jp8042 from collection_editor.html part of this issue because of lack of response.

[2018-08-28 09:15] seanlip commented on #5412
I think we shouldn't have an automatic update. Part of the point of a test is to fail when the file doesn't match the "golden" file.

So, I guess we should document it. @bansalnitish do you have any feedback on where a good place to do so would be?

[2018-08-28 09:31] seanlip commented on #5518
Hi @aks681, just to check, does @AllanYangZhou's refactor fix this?

[2018-08-28 09:39] seanlip commented on #5285
@hoangviet1993 With the current idea of having builds happen in a separate folder altogether, is this something we still need to keep track of?

[2018-08-28 10:25] DubeySandeep opened #5600 "Translation progress info label incorrect aligned in Firefox."
**Describe the bug**
Translation progress info label looks weird in Firefox although it looks fine on Chrome.
**To Reproduce**
Steps to reproduce the behavior:
  __In Firefox__
 1. Create an exploration.
 2. Go to the translation tab.
 3. check the progress label.

**Observed behavior**
![image](https://user-images.githubusercontent.com/16653571/44717166-f59afb00-aad9-11e8-907c-feb88c16a600.png)

[2018-08-28 17:32] DubeySandeep commented on #3826
Hi @jordancockles, any update on "app.js" part of this issue?

[2018-08-28 17:34] DiegoCaraballo commented on #4374
Hello how are you?
I am new, I would like to be assigned one to go to work.
Thank you

[2018-08-28 17:47] unit-00 commented on #4231
Hi @seanlip ,

I think that's actually a great idea. I tried to rebuild the modal with a similar css in codepen, but I wasn't sure which js is running in the background thus I didn't rebuild it properly.

How do I go about building a plain vanilla app with the standard angular-bootstrap modal with the proper js?

PS. If anyone else wants to solve this issue, please feel welcome. I am trying my bes

[2018-08-28 17:54] vibhor98 commented on #4374
Hi @DiegoCaraballo, how about `schema_utils.py`? Feel free to choose this or any other unassigned file of your choice and let us know so that we can assign you. Thanks!

[2018-08-28 17:58] DubeySandeep commented on #3968
Assigned `Change` part of this issue to @rahulnitdgp.

[2018-08-28 17:59] DiegoCaraballo commented on #4374
Hi @vibhor98 It seems good to me, I will start working with schema_utils.py? . Thank you

[2018-08-28 18:09] DubeySandeep commented on #4374
Hi @DiegoCaraballo, I've assigned you to  `schema_utils.py` part of this issue! :) you can start working on it.

[2018-08-28 18:13] vibhor98 commented on #4231
Hi @unit-00,  please look at this example of [bootstrap modal](https://getbootstrap.com/docs/4.0/components/modal/#scrolling-long-content). Here bootstrap with JS example is given referring which you can implement vanilla app without using AngularJS and later on, if it works you can extent your work with Angular as well. Let me know if you've any doubt.

[2018-08-28 18:21] unit-00 commented on #4231
Hey @vibhor98 ,

I'll try to reimplement it again!

Quick follow up question, when changing the options, is the `rule_editor` being called upon?

[2018-08-28 18:47] hoangviet1993 commented on #5285
Are you planning to add more entries to the skip_files handler? If so then yes, we should figure out how skip_files work imo.

Overall, I think skip_files should either be the last resort or a temp solution at best.

We should refrain from using skip_files unless we are absolutely sure that files are duplicated elsewhere(and the codebase is using the duplicated piece)

[2018-08-28 19:00] dchen97 commented on #4374
Would anyone mind assigning me to one of the files? Thanks!

[2018-08-28 19:08] DubeySandeep commented on #4374
Hi @dchen97, I think you can start with `oppia.core.domain.acl_decorators` file. I'm going to assign you for the same! :)

[2018-08-28 20:22] DubeySandeep commented on #5134
@mharelick, any update on `controller.task` test?

[2018-08-28 20:40] mzaman07 commented on #5597
Yeah as @seanlip  pointed out they are for angular 2 and beyond.

Normally you would use title tag with ng-bind or ng-model to control the text and attributes.

In this scenario because they are in different controllers they would need a service to share data between controllers.

[2018-08-28 21:54] seanlip commented on #5285
Not planning to add more entries to skip_files (at the moment) -- but more generally I was thinking that if we have a separate folder for build/ we wouldn't need to use skip_files at all, right?

[2018-08-28 21:55] hoangviet1993 commented on #5285
I am not exactly sure how to calculate the number of files hosted by App Engine. Does it only count the number of files found by handler entries's regex?

[2018-08-28 22:16] seanlip commented on #5285
No, it's the number of files (including files in subfolders) in the directory that app.yaml is in.

[2018-08-28 22:34] hoangviet1993 commented on #5285
Then we still have some usage for skip_files, to keep /third_party size in check, since it accounts for like 6k-7k files out of the total 10k.

[2018-08-28 22:56] seanlip commented on #5285
Right. But later, when the build/ folder is generated and contains all the files needed for a deployment (including its own app.yaml and selected third-party files), we can remove all the skip-files stuff? Because the build process should take care of copying only the files that it needs, and no others.

[2018-08-28 22:58] hoangviet1993 commented on #5285
I mean build.py copies stuff from third_party/static.

There are backend lib in /third_party used by /core files too.

I think we should have two type of third party folder then:
third_party_backend vs third_party_frontend or something like that.

third_party/static: We have to bring in this whole folder since it is not always possible to just take in JS files only (i.e. MathJax)
I think we need s

[2018-08-28 23:05] seanlip commented on #5285
Seems reasonable to me, yeah. We could work this into the design of our new build process.

[2018-08-29 01:53] vibhor98 commented on #4231
Hi @unit-00, yes, the `rule_editor` is called when we change the options in the dropdown as different rules in same interaction may have different rule editors as well.

[2018-08-29 02:47] mzaman07 commented on #5600
I'll start working on this one then.

[2018-08-29 02:48] mharelick commented on #5134
I hope to get it done this weekend.

[2018-08-29 03:03] DubeySandeep commented on #5600
@mzaman07, I've assigned you for this now can start working. :)

[2018-08-29 06:41] mzaman07 commented on #5600
So is the css generated with generator like SASS or LESS?

[2018-08-29 19:52] DubeySandeep commented on #5600
No, we write CSS directly (not any such generators like SASS or LESS) see [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/translation_tab/translator_overview_directive.html).

[2018-08-30 07:59] #4893 closed, assigned to nobody

[2018-08-30 15:05] amitsin6h commented on #5592
need to work on this issue

[2018-08-30 17:45] amitsin6h commented on #5592
@pranavsid98 I don't see any "Welcome to Oppia" exploration their is only "welcome.yml" exploration

[2018-08-31 06:25] pranavsid98 commented on #5592
Hi @amitsin6h . Someone else is already working on this issue. Would you like to take up a different starter issue?

[2018-08-31 13:34] amitsin6h commented on #5592
@pranavsid98 could you please assign me some starter issue

[2018-08-31 13:59] DubeySandeep opened #5605 "Unable to submit answer in Drag and drop interaction."
**Describe the bug**
Unable to submit an answer in Drag and Drop Interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Add Drag and drop interaction
 3. Go to preview and click submit answer
 4. Check console.

**Observed behavior**
Unable to submit answers.

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/44916645-e58e5000-ad53-1

[2018-08-31 15:26] DubeySandeep commented on #5605
I think it's been infected by #5440.

Also, assigning this to Vibhor (As discussed).

[2018-08-31 17:30] DubeySandeep commented on #5592
Hi @amitsin6h, What do you think of issue #4057?

[2018-08-31 18:12] amitsin6h commented on #4057
can anyone assignee me ExplorationSaveService.js

[2018-08-31 18:25] DubeySandeep commented on #4057
@amitsin6h, I've assigned you to `ExplorationSaveService.js` you can start working on it. Thanks! :)

[2018-08-31 20:11] seanlip commented on #5605
Also /cc @AllanYangZhou.

[2018-08-31 20:11] seanlip commented on #5605
FYI the scheduled release cut is supposed to be this weekend, so might want to fix this ASAP.

[2018-08-31 20:14] DubeySandeep opened #5606 "Logic proof answer Interaction's short answers are not getting truncated."
**Describe the bug**
The short answer in "logic proof answer" interaction is having two issue:
1. Short answers are not getting truncated with "..."
2. Short answers are clickable and on click, an unwanted tooltip pops up.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Add "Logic proof answer" interaction
 3. Go to preview and add multi line answers
 4. See Pervio

[2018-08-31 20:24] DubeySandeep opened #5607 "Drag and drop interaction throws error on mobile device (but works smoothly)."
**Describe the bug**
Drag and drop interaction throws console error on dragging (only on a mobile device). Although everything works smoothly. (Can be reproduced on testserver)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create exploration
 2. Add drag and drop interaction.
 3. Switch to mobile view.
 4. Start dragging and check the console.

**Observed behavior**

Console error for dra

[2018-08-31 21:12] DubeySandeep commented on #2485
Hi @1995YogeshSharma, any update on this?

[2018-08-31 21:13] DubeySandeep commented on #3576
Hi @bansalnitish, can we close this issue?

[2018-08-31 21:23] 1995YogeshSharma commented on #2485
Hi @DubeySandeep , This is an ongoing project and we are looking through different ways. I won't be updating anything on this thread for quite some time I think.

[2018-08-31 21:31] seanlip commented on #2485
Actually @1995YogeshSharma could we post a brief status update on this thread every so often (not just when it's completed)? I think it's useful for folks to know where we're at with this, especially if we reach any intermediate milestones.

[2018-08-31 22:19] DubeySandeep commented on #5572
Hi @anubhavsinha98, I think you haven't signed the CLA, can you follow [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) instruction from wiki page to get started?
Once you're done with CLA and survey let me know in the comments I'll go ahead and assign you!
Thanks! :)

[2018-08-31 22:26] anubhavsinha98 commented on #5572
Hey @DubeySandeep just signed the CLA !
I am ready !

[2018-08-31 22:28] DubeySandeep commented on #5572
@anubhavsinha98, Thanks for signing CLA, after filling up the survey form you can start working on this!

[2018-08-31 22:49] anubhavsinha98 commented on #5572
Done with the survey @DubeySandeep !

[2018-08-31 23:07] DubeySandeep commented on #5572
@anubhavsinha98, You can start working on this, do let me know if you need any help? :)

[2018-09-01 04:36] sstone-codaio commented on #5445
Hi @ishucr7 thanks for bringing up this issue.
Just to clarify by standardizing do you mean both these filesystems should store the images to the same locations e.g. exp_id/assets/image/random.png?
also, is the ExplorationFileSystem used for dev mode only?

[2018-09-01 04:45] seanlip commented on #5445
Yes to both questions!

[2018-09-01 05:49] DubeySandeep opened #5611 "Lint check for unused dependencies."
A linter checks to be added for unused dependencies in "directive".
See file core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js line 251.
Following depndencies are unused:
EditableExplorationBackendApiService, ReadOnlyExplorationBackendApiService, ReadOnlyExplorationBackendApiService, PAGE_CONTEXT, StateClassifierMappingService, StateClassifierMappingService, PretestEngi

[2018-09-01 05:58] apb7 commented on #5326
@bansalnitish @hoangviet1993 @vojtechjelinek any updates on this? Thanks!

[2018-09-01 06:02] apb7 commented on #5611
@DubeySandeep: Can you please link this to the file in the issue thread? Thanks!

[2018-09-01 06:09] DubeySandeep commented on #5611
@apb7, I have added the file path in the issue header (also, linked [here](https://github.com/oppia/oppia/tree/develop/core/templates/dev/head/pages/exploration_player/ConversationSkinDirective.js#L250))

[2018-09-01 09:04] #5605 closed, assigned to AllanYangZhou, vibhor98

[2018-09-01 13:26] lilithxxx commented on #3950
Hi, I would like to work on exploration_player.html

[2018-09-01 13:49] DubeySandeep commented on #3950
Hi @lilithxxx, I've assigned you to `exploration_player.html`.

[2018-09-01 18:15] lilithxxx commented on #4057
Hi I would like to work on IdGenerationService.js

[2018-09-01 18:26] DubeySandeep commented on #4057
Hi @lilithxxx, I've assigned you to  `IdGenerationService.js` you can start working on it. :)

[2018-09-02 02:46] DubeySandeep commented on #3415
@shaz13, can you reproduce this now? (as the "Subscribe" button is entirely moved to a different position)

[2018-09-02 02:51] DubeySandeep commented on #1495
@bansalnitish, is this still reproducible?  (at least not for me)

[2018-09-02 14:26] hoangviet1993 commented on #5326
I think this issue remains open to provide support for whoever is getting the error:
[code]
Since this problem cannot be replicated all the time, I am unsure on how to track down the root cause of it.
So nope, no updates.
@apb7 I think we can remove the `important` tag for now?

[2018-09-02 18:16] amitsin6h commented on #4057
@DubeySandeep can you please let me know how to do karma test after running the script it opens a browser with karma debug. Can you please help me know how can do the test.

[2018-09-02 18:56] vojtechjelinek commented on #3253
Closing in favor of #4761

[2018-09-02 18:56] #3253 closed

[2018-09-03 05:54] seanlip opened #5620 "Add lint check to detect merge issues"
We should add a lint check that detects strings like ">>>>>" and "<<<<<" that appear during merge conflicts. This issue arises because there recently were some incorrect merge conflict resolution PRs that were not caught, and that should have been, e.g. https://github.com/oppia/oppia/commit/3473191c1ea78c8e987da38623c32d8a26c81ae8#diff-638d9eb848163610ca313018fd336a66R572

/cc @apb7

[2018-09-03 13:41] DubeySandeep commented on #4057
Hi @amitsin6h, you'll have to write the test (*Spec.js) file and run `scripts/run_frontend_tests.sh` and this will open up the browser for (automated) testing, you'll have to check the terminal (From where you have run the script) for report (whether the test passes successfully or not!).

[2018-09-04 03:39] LanJosh opened #5623 "Refactor gulpfile to run from python tools."
New developers may have difficulty navigating the setup process to build/run/test. Upgrading the tooling should help ease the pain.

Gulp is only used in one location as a task runner, when many other task runners are in python scripts. Moving the server start to another python script instead of a gulpfile lowers the amount that needs to be learned.

[2018-09-05 06:09] anubhavsinha98 commented on #5572
Hey @DubeySandeep according to the issue I got that I have to add the help section for audio translation tab.
So where I have to look for that ?

[2018-09-05 11:27] brianrodri opened #5627 "Oppia appears to continue recording audio after leaving translation tab"
**Steps to reproduce:**
1. Go to Translation tab.
2. Record audio.
3. Delete audio.
4. Move to different tab.

**Expectation:** Chrome shouldn't record anything after the end of step 2.
**Actual:** Chrome continues to report that Oppia is recording audio until a hard refresh gets made:
![image](https://user-images.githubusercontent.com/5094060/45090889-ac046e80-b0de-11e8-9aa6-f10f6e934ecb.png)

[2018-09-05 18:02] nigamarnav commented on #3950
hi, I would like to work on header_css_libs.html .

[2018-09-05 18:52] seanlip commented on #5627
/cc @DubeySandeep

[2018-09-05 21:42] wxyxinyu opened #5628 "Dead link on FAQ in wiki"
There is a dead link on the wiki page [https://github.com/oppia/oppia/wiki/Frequently-Asked-Questions#how-do-i-start-contributing-to-oppia-](https://github.com/oppia/oppia/wiki/Frequently-Asked-Questions#how-do-i-start-contributing-to-oppia-). It refers to CONTRIBUTING.md, which does not seem to exist.

[2018-09-05 22:06] seanlip commented on #5628
Thanks @wxyxinyu! @aks681, could you PTAL at this?

[2018-09-06 09:38] #5620 closed, assigned to apb7

[2018-09-06 16:07] vibhor98 commented on #3950
Hi @nigamarnav, Actually this file has been already assigned. Moreover, there is no other file left unassigned for this issue. Would you mind taking up some other starter issue? Thanks!

[2018-09-06 17:15] nigamarnav commented on #3950
@vibhor98 , Okay , I am looking for other issue.

[2018-09-06 19:07] nithusha21 commented on #3950
@durgeshra any updates on this issue?

[2018-09-06 19:10] nithusha21 commented on #3826
Hi @jordancockles, any updates on this issue?

[2018-09-06 19:13] apb7 commented on #5628
Hi @seanlip, I have edited the link to [CONTRIBUTING.md](https://github.com/oppia/oppia/blob/develop/.github/CONTRIBUTING.md) to point to [Contributing code to Oppia](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) since the former points to the latter anyway. Thanks!

[2018-09-06 20:00] vibhor98 commented on #5134
Hi @JoyLubega, any updates on  `core.storage.story.gae_models` file?

[2018-09-06 20:42] JoyLubega commented on #5134
Hi @vibhor98, I believe am done with the tests. A PR will be up tommorrow

[2018-09-06 20:48] aks681 commented on #5628
Ok, thanks! @seanlip I think this can be closed now?

[2018-09-06 23:14] seanlip commented on #5628
Yes, I think so. Thank you @apb7!

[2018-09-06 23:14] #5628 closed, assigned to apb7

[2018-09-07 17:22] nalinbhardwaj opened #5633 "Translation tab doesn't display summary label of currently open card"
**Describe the bug**

`oppia-response-header` of open card does not contain the `<[getSummary()]>` contents.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/create/MjZzEVOG47_1#/translation or any other translation tab of a page with feedback cards.
 2. Click on `[Answer exactly matches 2/6]` or any other feedback card title.
 4. Observe error

**Observed behavio

[2018-09-07 18:23] DubeySandeep commented on #5633
@nalinbhardwaj, that is an expected behavior.
You can check the editor tab and you'll find a consistent design!
Also, the header part is not going to be used for the translation, So I think we can leave it as-is.

[2018-09-07 20:04] #5600 closed, assigned to nobody

[2018-09-07 20:06] seanlip commented on #5633
Just to give some background: I think this was done because when the tab is closed, you need the header to tell you what's in it. But when the tab is open, you don't need that info any more because it's in the tab itself (and having two copies of the same info could be confusing).

@nalinbhardwaj, would you agree? Interested to hear what you think, and definitely open to any other suggestions.

Th

[2018-09-08 03:53] prasanna08 opened #5634 "Verify that training data has more than one answer groups before submitting training classifier job"
Currently, classifier training job is submitted after verifying that there are more than a threshold number of answers. However, this can be true even if there is only one class. Thus a training job will be submitted even if there is only one answer group having training data. This can raise an exception on Oppia-ml as algorithms implemented for TextClassifier and CodeClassifier require at least t

[2018-09-08 09:19] #5425 closed, assigned to unit-00

[2018-09-08 16:48] nalinbhardwaj commented on #5633
@DubeySandeep , @seanlip : You're right. Sorry about this, closing the issue.

I just got confused about the UI myself. The thing that changed about the card weren't the `<[getSummary()]>` contents, it was actually the content circled in screenshot.

![screen shot 2018-09-08 at 10 12 02 pm](https://user-images.githubusercontent.com/6984346/45256469-6ed8fe80-b3b4-11e8-96f3-4368aa00b1dd.png)

But, I

[2018-09-08 16:48] #5633 closed, assigned to nobody

[2018-09-09 12:11] lilithxxx commented on #5466
Just one question, should this test be in 'base_test.py'?

[2018-09-09 12:16] apb7 commented on #5466
Hi Rishav! This should be placed in the pre_commit_linter.py script. The
list of files modified is already available in this script. We might
require some processing to implement this check then. Thanks!

On Sun, Sep 9, 2018, 5:41 PM Rishav Chakraborty <notifications@github.com>
wrote:

[2018-09-09 16:48] lilithxxx commented on #5466
What should I do about those files which are inherited from the BaseHandler but does not end with the word? For example the classes in controllers/pages.py

[2018-09-09 17:03] seanlip commented on #5466
You'll probably need to change them (the main code) to follow the new lint requirement. When changing main code, make sure the automated tests still pass and that you test manually that everything still works properly.

[2018-09-09 22:35] mul53 commented on #5611
Hey, can i handle this issue?

[2018-09-10 00:35] mzaman07 commented on #5607
I'll take on this issue and give it a try.

[2018-09-10 06:41] seanlip opened #5638 "Remove scrolling from the audio translations panel."
When doing voiceovers, scrolling down makes a mouse click sound that gets recorded. In contrast, the same section in the Preview tab shows all the text automatically without the need for scrolling.

Let's make the text box above larger, so that it includes all of the text (similar to the Preview tab). Optionally, we can also make the images smaller to reduce the need for scrolling.

[2018-09-10 06:41] seanlip commented on #5638
Also @DubeySandeep it would be good if this could be cherrypicked for the release (which has been already cut)!

[2018-09-10 06:46] seanlip opened #5639 "Find ways to make the audio translation tab interface clearer."
We were asked the following questions about the audio translation tab:
- "I uploaded the voiceover but can't find where I can listen to it?"
- "Also how do I move to the next section?"

This suggests that we might need to make the UI/layout a bit more clear.

/cc @DubeySandeep

[2018-09-11 14:08] jordancockles commented on #3826
Hi @nithusha21, Apologies for the long delay, I did some preliminary work and extracted the services specified in this issue:

 extensionTagAssemblerService → ExtensionTagAssemblerService -- see #3938 for partial work
 siteAnalyticsService → SiteAnalyticsService -- see #3938 for partial work

I then cycled through the files which contained references to each of the services as specified in issue #

[2018-09-11 17:33] netajik commented on #4374
Hi every one, would any one assign me an issue.

[2018-09-11 18:17] vibhor98 commented on #4374
Hi @netajik, I've assigned you `oppia.main`. Please go ahead! :)

[2018-09-11 18:18] jacobdavis11 commented on #2297
@bansalnitish are you still planning to work on this?

[2018-09-11 18:21] jacobdavis11 commented on #3576
De-assigning for now. Please re-assign if you'd like to continue with the issue.

[2018-09-11 18:22] jacobdavis11 commented on #4539
@bansalnitish ping.

[2018-09-11 18:23] jacobdavis11 commented on #4231
@unit-00 are you still working on this?

[2018-09-11 18:23] jacobdavis11 commented on #4166
@prasanna08 are you still working on this?

[2018-09-11 18:24] jacobdavis11 commented on #5039
De-assigning for now; please re-assign if you'd like to continue work.

[2018-09-11 18:25] jacobdavis11 commented on #4995
@nithusha21 are you still working on this?

[2018-09-11 18:25] jacobdavis11 commented on #4973
De-assigning for now. Please re-assign if you'd like to resume work.

[2018-09-11 18:25] jacobdavis11 commented on #4968
@pranavsid98 any updates on this?

[2018-09-11 18:27] jacobdavis11 commented on #4835
@apb7 any updates on this?

[2018-09-11 18:28] jacobdavis11 commented on #5176
@aks681 are you still working on this?

[2018-09-11 18:28] jacobdavis11 commented on #5145
De-assigning for now. Please re-assign if you'd like to continue work.

[2018-09-11 18:29] jacobdavis11 commented on #5138
@vojtechjelinek any updates on this?

[2018-09-11 18:29] jacobdavis11 commented on #5069
@apb7 any updates on this?

[2018-09-11 18:30] jacobdavis11 commented on #5390
@WickedBrat are you working on this?

[2018-09-11 18:30] jacobdavis11 commented on #5389
@aks681 any updates on this?

[2018-09-11 18:31] jacobdavis11 commented on #5324
@brianrodri are you still working on this?

[2018-09-11 18:31] jacobdavis11 commented on #5295
@vibhor98 any updates on this?

[2018-09-11 18:59] aks681 commented on #5389
I am not working on this atm. Will unassign for now so that anyone can take this up. Will reassign when I do start on this.

[2018-09-11 23:53] seanlip opened #5642 "Translation console not working in Safari"
We received the following bug report from a translator: after uploading audio, when they click on the icon to the far left to listen, nothing happens. This is only on Safari; it works fine in Chrome.

Note the NaN/NaN in the screenshot below which suggests that something is wrong. (The layout of the icons also looks a little weird.)

![screen shot 2018-09-10 at 5 49 31 pm 2](https://user-images.gi

[2018-09-12 06:33] jacobdavis11 commented on #5390
Thanks for letting me know; I'll unassign you for now.

[2018-09-12 08:28] JoyLubega commented on #5134
hello @vibhor98 , i dont have permission to push my work.
[code]

[2018-09-12 08:31] vibhor98 commented on #5134
Hi @JoyLubega, I think you're directly pushing to upstream. Try pushing to your forked branch and then make a PR from there. Like: `git push origin <branch_name>`.  Hope it resolves your problem!

[2018-09-12 13:27] JoyLubega commented on #5134
@vibhor98 my PR is up

[2018-09-12 13:59] vibhor98 commented on #5295
@jacobdavis11, I'm not working on this issue currently. De-assigning myself for now...

[2018-09-12 14:14] import-keshav commented on #4374
i want to work on  oppia.scripts.pre_push_hook
please assign me

[2018-09-12 14:35] varoman commented on #5086
Hi! I'm going to make my first contribution to Oppia and to the open source generally. I've gone through all the guidelines and wikis.
Could you please assign this issue to me?

[2018-09-12 14:35] yashdusing commented on #5606
I would like to work on this issue (with some level of guidance from fellow devs) if no one has been assigned to the problem.

[2018-09-12 16:05] vibhor98 commented on #4374
Hi @import-keshav, I've assigned you three files- `scripts.prepare_automatic_backups`,
`scripts.pre_commit_linter` and `scripts.pre_push_hook`. They need just few lines of docstrings so, you can take them all in one PR. Please go ahead! :)

[2018-09-12 17:12] import-keshav commented on #4374
thanks sir  😊

[2018-09-12 17:37] jacobdavis11 commented on #5086
Hi @varoman

Please could you go through the instructions here: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up, in particular signing the CLA. Then I'll be able to assign the issue to you.

Thanks

[2018-09-12 19:42] varoman commented on #5086
Hi @jacobdavis11 , thanks for response.

As I mentioned earlier, I've gone through all the guidelines, particularly
- signed the individual CLA
- filled in the contributor survey
- read the coding style guide
- read the javascript style guide

I've forked the project and have working version on my local machine.

Thank you!

[2018-09-12 19:50] seanlip commented on #5086
Hi @varoman, please go ahead and feel free to submit a PR for this issue -- you can do so without being formally assigned to it. The GitHub UI doesn't have functionality for assigning folks who aren't members of the repo to an issue, unfortunately, and we only bring folks in to the repo after 2 merged PRs to reduce churn. But you can still go ahead and take this up! I think the comment history on

[2018-09-12 19:53] varoman commented on #5086
Hi @seanlip thank you! Should I be provided with text of the warning tooltip?

[2018-09-12 23:47] seanlip commented on #5086
Hm. How about something like this?

"There's no way to complete the exploration starting from this card. To fix this, make sure that the last card in the chain starting from this one has an 'End Exploration' question type."

Is that too long for the UI? I'm not sure.

[2018-09-13 01:36] seanlip commented on #3826
Hi @jordancockles, thanks for the explaination!

One thought -- did you include the changes to the filenames in the HTML file for the page (the one which imports the files by `<script src="...`? That might be the reason you're getting this message (it basically means "could not find the expected dependency"). So I'm wondering whether you're getting 404 errors too when looking for the JS.

[2018-09-13 04:57] apb7 commented on #5069
Hi @jacobdavis11, I am not working on this at the moment. Therefore, un-assigning. Thanks!

[2018-09-13 04:58] apb7 commented on #4835
Hi @jacobdavis11, I am working on this at the moment. Therefore, un-assigning! Thanks.

[2018-09-13 16:45] Arpitpundir commented on #4057
hii, can i be assingned LearnerViewRatingService.js

[2018-09-14 03:16] #5497 closed, assigned to nithusha21

[2018-09-14 03:16] #5547 closed, assigned to nithusha21

[2018-09-14 09:04] apb7 opened #5649 "Back-end tests error out on develop"
**Describe the bug**
Post the merging of PR #5618, I think the back-end tests error out on develop (they had also error-ed out for that particular PR).
The following is the log:
[code]

**Additional context**
[Logs](https://travis-ci.org/oppia/oppia/jobs/428448507) from develop and [logs](https://travis-ci.org/oppia/oppia/jobs/426799186) from the PR itself.

/cc @vojtechjelinek

[2018-09-14 09:22] seanlip commented on #5649
That's weird -- @apb7, if you take a look at https://travis-ci.org/oppia/oppia/builds/426799183?utm_source=github_status&utm_medium=notification, the Travis build for the backend test is passing. Some kind of false positive? I'm not sure why it's green and we should look into that and fix it.

In the meantime, to unblock develop, it's fine to do a PR reverting the relevant change to feconf.py. Cou

[2018-09-14 09:34] vojtechjelinek commented on #5649
The PR is on the way.

[2018-09-14 09:38] apb7 commented on #5649
I don't think that the green badge is a false positive. I took a quick look at the log and found out that the custom lint tests pass: https://travis-ci.org/oppia/oppia/jobs/426799186#L7446 and the mechanism of checking whether the tests pass, by backend_tests.py is to look for the regexp `Ran ([0-9]+) tests? in ([0-9\.]+)s` in the task output and we do have such output in the logs. Therefore, trav

[2018-09-14 09:41] seanlip commented on #5649
But then we should still fix that, right? Basically do what is needed so
that the PR would not have got in (by showing a green).

[2018-09-14 09:54] apb7 opened #5651 "Refine the mechanism for checking whether all back-end tests have passed."
Currently, we use a regexp to check that back-end tests have passed but this method does not seem to be robust in this case: https://travis-ci.org/oppia/oppia/jobs/426799186.
We need to refine the checking mechanism for this case and need to work around these lines: https://github.com/oppia/oppia/blob/develop/scripts/backend_tests.py#L327.

[2018-09-14 09:55] apb7 commented on #5649
Filed issue #5651. Thanks!

[2018-09-14 11:06] #5649 closed, assigned to vojtechjelinek

[2018-09-14 18:12] mzaman07 commented on #5607
Should the chrome specific warning message also be dealt with?

[2018-09-14 18:33] seanlip commented on #5651
Just noting that this is important and we should fix it ASAP.

[2018-09-14 18:34] seanlip commented on #5607
You mean the one above the error? No, I think that's a separate issue, though feel free to submit something for that in another PR if you like!

[2018-09-14 18:36] mzaman07 commented on #5607
Yeah, okay thanks

[2018-09-14 20:25] #5651 closed, assigned to apb7

[2018-09-14 20:59] anubhavsinha98 commented on #5572
Hey @DubeySandeep so where I have to add the help section?

[2018-09-15 02:33] unit-00 commented on #4231
Hey @jacobdavis11 ,

I haven't been able to spend much time on it. If you want to take a go at it, please do.

[2018-09-16 01:36] DubeySandeep commented on #5572
Hi @anubhavsinha98, We have two options here:
1. Create a simple modal explaining about the colors and how to use recording bar.
2. Create a tutorial (similar to the Editor tutorial you can find it when you'll click ![image](https://user-images.githubusercontent.com/16653571/45591974-d11a9c00-b97e-11e8-9e54-123401842b87.png) in editor page.)

I'll suggest you to start go with the first one (as you

[2018-09-16 05:57] seanlip commented on #5553
#4340 is a duplicate of this. Adding @nithusha21's note here, and closing that other issue.

Upon googling about this there seems to be one among these 2 issues (or maybe both).

[2018-09-16 05:57] seanlip commented on #4370
Closing in favour of #5553.

[2018-09-16 05:57] #4370 closed, assigned to nobody

[2018-09-16 06:09] #5638 closed, assigned to DubeySandeep

[2018-09-16 06:23] apb7 commented on #5592
Already fixed in #5640. Closing this then. Thanks!

[2018-09-16 06:23] #5592 closed, assigned to nobody

[2018-09-16 17:45] yshshrm commented on #4374
Hi! I'd like to get started with one of the files :smile:. Thanks!

[2018-09-16 17:51] DubeySandeep commented on #4374
Hi @kvaluruk, I 've assigned you for `oppia.scripts.docstrings_checker` you can start working! :)

[2018-09-16 17:52] DubeySandeep commented on #4374
Hi @dchen97, any update on `acl_decorators`?

[2018-09-16 17:59] DubeySandeep commented on #4374
Hi @hemant0308, I'm not sure when were you assigned to `jinja_utils` still any update?

[2018-09-16 18:37] vibhor98 commented on #4374
Hi @netajik, any updates on `Oppia.main`?

[2018-09-16 22:21] tonadev commented on #5134
Hi, I would like to work on  core.storage.topic.gae_models

[2018-09-17 02:25] vibhor98 commented on #5134
Hi @tonadev, I've assigned you  `core.storage.topic.gae_models`. Please go ahead! :)

[2018-09-17 05:10] hemant0308 commented on #4374
Sorry..! @DubeySandeep
I dont know who assigned this to me.
anyway i will work on this.

[2018-09-17 06:14] #5623 closed, assigned to LanJosh

[2018-09-17 16:38] jacobdavis11 commented on #4231
I'll de-assign you for now; please re-assign yourself if you'd like to resume work in the future.

[2018-09-17 16:52] netajik commented on #5134
Hi, i would like to work on  **scripts/dockstrings_checker.py**

[2018-09-17 16:58] vibhor98 commented on #5134
Hi @netajik,  you've been assigned `oppia.main` in #4374. Please try to complete that first and then I'll assign you this file. Thanks!

[2018-09-17 17:00] netajik commented on #4374
hi @vibhor98, sorry for the late replay. I was try to understand **oppia.main** but it takes more time for me.
 so i request you to assign me one of the file which can easily understand by the beginners.

[2018-09-17 17:05] vibhor98 commented on #4374
Hi @netajik, thanks for letting us know. I'll assign you `oppia.core.controllers.translator` and  `oppia.core.domain.feedback_jobs_continuous`. Just one line of docstrings are required in both of them so, please try to incorporate them in a single PR.

[2018-09-17 17:06] netajik commented on #4374
Thank you very much @vibhor98

[2018-09-17 21:38] lilithxxx opened #5663 "Lint check for single quotes"
A lint checker should be added for checking if strings are using single quotes (') throughout Python and JavaScript. -- Assigned to @xuanluong.

/cc @apb7

[2018-09-17 21:50] anubhavsinha98 opened #5664 "http://localhost:8181 not showing anything!"
when the server is running the http://localhost:8181 is not showing anything.

[2018-09-17 21:53] DubeySandeep commented on #5664
Hi @anubhavsinha98, Thanks for reporting the issue! Can you please add some more context about the issue?

Suggestion:
- What you did to start the server?
- Attach terminal logs.
- About the Operating system in which you have build oppia.

_(I would highly suggest you follow the "Bug report" template)_

[2018-09-18 04:35] apb7 commented on #5663
Thanks for filing this issue up! I checked this and found out we do have single quotes enforced for JS files but not for Python files. We can use this pylint extension for the enforcing the quote rule for python files: https://github.com/edaniszewski/pylint-quotes

[2018-09-18 05:31] seanlip commented on #5591
Links to relevant directives (to collapse into a single IssueDirective, per discussion with @pranavsid98):
- https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/statistics_tab/CyclicTransitionsIssueDirective.js
- https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/statistics_tab/EarlyQuitIssueDirective.js
- https://g

[2018-09-18 05:31] seanlip commented on #5590
Note: @pranavsid98 is working on this and will complete it by 29-30 Sept.

[2018-09-18 18:33] nithusha21 opened #5668 "Console error while playing recorded audio in preview mode"
**Describe the bug**
On playing recorded translations in the preview tab, a console error appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an exploration.
2. Add translations for a card using the translation tab.
3. Save an publish the exploration.
4. Go to preview tab, select the language for which you uploaded translations in step 2.
5. Check the console

**Observed behavior

[2018-09-18 18:36] DubeySandeep commented on #5668
@nithusha21, I think you have created an issue regarding this in past!

EDIT: Looks like a duplicate of #4371.

[2018-09-18 18:39] nithusha21 commented on #5668
Yep. Didn't remember I had filed that issue. Confirming that it is a duplicate. Thanks for checking!

[2018-09-18 18:39] #5668 closed, assigned to nobody

[2018-09-18 18:55] nithusha21 opened #5669 "Upon clicking submit on text input interaction, the answer is still editable in the text box"
**Describe the bug**
While playing an exploration with a text input, input an answer and click submit. The answer is still displayed in the text box, and is still editable (though not re-submittable). I took a look at oppia.org and the text box disappears on clicking submit. Looks like some recent changes has changed this functionality. The new behavior is misleading I feel.

**To Reproduce**
Step

[2018-09-18 19:00] nithusha21 commented on #5669
Update: This is occurring for all interactions (list input, multiple choice, set input, math expression, etc). The supplementary interactions aren't affected.

[2018-09-18 19:04] seanlip commented on #5669
/cc @aks681 @AllanYangZhou PTAL?

[2018-09-18 19:42] nithusha21 commented on #5669
For reference, this exploration on oppia.org serves as the expected behavior for the interactions https://www.oppia.org/explore/0

[2018-09-18 20:21] #5086 closed, assigned to nobody

[2018-09-19 01:02] vinitamurthi opened #5670 "Implement a reusable sort/filter list view for skills"
We currently have a modal that renders an exhaustive list of skills we can attach a topic/question to.
The number of skills can be extremely large and going through such a big list gets difficult. So we would like to have a simple sort/filter view for the skills, which is reusable wherever the skills are listed down. (Bonus: Instead of creating a reusable sort/filter view only for skills, it would

[2018-09-19 01:10] vinitamurthi opened #5671 "Create success message toasts"
If our ajax requests to the backend result in an error, we show a toast with the error message. However, we do not inform the user if the request was successful. We would like to show a toast message to inform the user that their action is completed successfully.
Some places where it is required (not an exhaustive list):

In the topics and skills dashboard:
- While assigning topics to skills in th

[2018-09-19 01:22] vinitamurthi opened #5672 "Use case-insensitive names rather than IDs in the URL for a resource"
Currently the ID of any resource (such as an exploration, collection, topic etc) shows up on the URL whenever we open that page. We do not want to expose these values in the URL and it would be nice to have the topic name show up instead. These names also need to be case insensitive.
Some things to keep in mind -
Resource names and descriptions are not unique so we probably still want to use the I

[2018-09-19 01:35] vinitamurthi opened #5673 "Allow users to suggest new questions for a skill"
We would like to give users the option to suggest new questions for a skill. These suggestions can then be reviewed and then either added (with or without modifications), or rejected. We need to design a framework to support this option. We already have suggestion frameworks implemented for other resources, it would be good to make this work with that framework.

[2018-09-19 01:42] vinitamurthi opened #5674 "Allow users to suggest edits to concept cards"
It would be very useful to have users suggest edit to the concept cards. Edit suggestions could range from grammar issues or typos, to edits that may aim to make sentences easier to understand or clearer. Edit suggestions could also involve adding new content like examples to better explain the concept. The content creator can then review the edit, and either add it (with modifications), or reject

[2018-09-19 06:13] LanJosh opened #5675 "Refactor setup to use npm's package.json for dependencies"
Currently the setup process uses an old handmade script to pull down and install node modules. This is unnecessary code to perform actions we can achieve with node already. Moving the depedencies to a package.json depedency definition loosens our dependency on the bash scripts and requires less maintenance.

[2018-09-19 06:15] LanJosh opened #5676 "Remove gulp from setup entirely."
To continue consolidating our setup process to a python stack, gulp needs to be removed. Currently gulp only provides a watch functionality that starts build processes if some directories are changed. Our dependency on npm already includes access to npm-watch, which can be used to replace gulp.

[2018-09-19 08:03] #5607 closed, assigned to nobody

[2018-09-19 19:51] vinitamurthi opened #5678 "Have a swipeable carousel of explorations rather than the button for mobile"
When we visit oppia.org on mobile, we can see only a single exploration per category

<img width="414" alt="screen shot 2018-09-19 at 12 49 01 pm" src="https://user-images.githubusercontent.com/11780495/45777408-8a40d680-bc0a-11e8-9b59-772c568b8646.png">

In order to view other explorations, we have to keep clicking on the arrow buttons.
<img width="415" alt="screen shot 2018-09-19 at 12 48 45 pm"

[2018-09-19 20:20] DubeySandeep commented on #5572
De-assigning @anubhavsinha98 from this as he is not familiar with angualrJs and wants to work on any other issue.  /cc @aks681

[2018-09-19 20:55] seanlip commented on #5254
Some additional notes for implementation:
(a) Make sure to pass the _original_ index of the answer when saving answers in the backend.
(b) Since some multiple-choice questions may include things like "None of the above", we should include a boolean flag in the interaction that allows lesson creators to decide whether or not to randomize the choices. That flag should default to true, but it should

[2018-09-19 21:03] kevintab95 commented on #4411
Looks like this has been fixed. Can we close this?

![image](https://user-images.githubusercontent.com/11008603/45781423-8a2dee80-bc7d-11e8-9c44-b8ded25536a8.png)

[2018-09-20 04:43] ghost commented on #5436
Hi @aks681, can I work on this issue?

[2018-09-20 05:30] ghost commented on #5663
@apb7 Can you assign me for this issue?

[2018-09-20 11:21] seanlip commented on #4411
I agree, this is fixed. Thanks for pointing it out, @kevintab95! Closing.

[2018-09-20 11:21] #4411 closed, assigned to nobody

[2018-09-20 11:50] anmolshkl commented on #5138
Hi @vojtechjelinek, are you working on this?

[2018-09-20 13:06] apb7 commented on #5663
Done, go ahead @xuanluong :)

[2018-09-20 17:50] netajik commented on #4374
Hi @vibhor98,  would you review my pull request.

[2018-09-20 18:41] DiegoCaraballo commented on #5134
Hello @DubeySandeep, @vibhor98  can you assign me one?

[2018-09-21 04:32] ghost commented on #5663
@apb7 @lilithxxx

The default quote configuration of the pylint-quotes plugin is:

string-quote=single
triple-quote=single
docstring-quote=double

is this what we need? Or do we want to have single quote everywhere, including the docstring?

[2018-09-21 04:39] ghost commented on #5663
Another question is the PR will probably be unmerge-able unless the unlinted Python files (if any) are linted? I'm seeing a few unlinted Python files running the presubmit script already.

[2018-09-21 04:44] apb7 commented on #5663
@xuanluong: The configuration we use is:
[code]
And yes, the corresponding problems in the Python files need to fixed before the PR is merged otherwise the build will fail (and we won't be able to merge the PR). Thanks!

[2018-09-21 06:47] aks681 commented on #5436
Yup! Feel free to start working on this and ping me if you have any issues!

[2018-09-21 07:30] ghost commented on #5663
I have the pylint-quotes plugin working in my machine. I fixed all the Python files that violate the quote rules. However, I'm having a problem pushing my commits.

The output looks like this:

'SUCCESS   417 CSS file linted (356.2 secs)
SUCCESS   1 CSS file linted (1.8 secs)
SUCCESS   784 JavaScript files linted (753.0 secs)
SUCCESS   399 Python files linted (450.7 secs)

Starting Pattern Checks

[2018-09-21 07:43] ghost commented on #5663
Never mind. I manage to push. The PR is created: https://github.com/oppia/oppia/pull/5682

[2018-09-21 07:56] apb7 commented on #5663
Can you please describe here what was going wrong at the first place? Thanks!

[2018-09-21 08:33] anmolshkl commented on #5457
@DubeySandeep did you get a chance to look into the issue?

[2018-09-21 08:36] anmolshkl commented on #5324
@brianrodri ping?

[2018-09-21 08:37] anmolshkl commented on #5176
@aks681 friendly ping

[2018-09-21 08:40] anmolshkl commented on #4995
@nithusha21 how is the refactoring work coming along? If you are not working on this immediately, perhaps you can un-assign yourself?

[2018-09-21 08:41] anmolshkl commented on #4968
@pranavsid98 GSoC is over :)
Would you be able to pick this up now?

[2018-09-21 09:09] netajik commented on #4374
Hi, @DubeySandeep would you review my pull request.

[2018-09-21 10:55] aks681 opened #5683 "UI modifications for new editors"
Note: The ENABLE_NEW_STRUCTURES flag in feconf.py should be set to True to view any new editors.

- [x] The dotted grey boundary in "Add Subtopic" should be much lighter and should not "pop off" the page. It also should not be an active element to which skills can be dragged into.

- [x] Change the "Edit" button at the bottom of a subtopic to a pencil icon in the top right next to the delete butto

[2018-09-21 11:25] nithusha21 commented on #4995
Deassigning myself for now! Will take this up a bit later. Thanks for the ping :)

[2018-09-21 15:05] vojtechjelinek commented on #5138
Not right now, unassigning myself.

[2018-09-21 16:48] netajik commented on #5134
Hi @vibhor98, i would like to work on scripts/dockstrings_checker.py

[2018-09-21 17:07] DubeySandeep commented on #5134
Hi @DiegoCaraballo, I've assigned you to `collection_editor` part of this issue! :)

[2018-09-21 17:07] DubeySandeep commented on #5134
Hi @netajik, I'm going to assign you for `scripts/dockstrings_checker.py` part of this issue!

[2018-09-21 17:11] DubeySandeep commented on #5134
@netajik, I can not find scripts/dockstrings_checker.py, can you please recheck and tell me a correct filename?

[2018-09-21 17:18] netajik commented on #5134
Hi @DubeySandeep , it's  oppia/scripts/docstrings_checker.

[2018-09-21 17:27] DiegoCaraballo commented on #5134
Thanks @DubeySandeep I start working on that.

[2018-09-21 20:33] DubeySandeep commented on #5572
Assigning this to  @mzaman07!

[2018-09-22 01:20] sstone-codaio commented on #5445
As I understand it, the images are now all being served from GCS in prod, so does that mean the ImageHandler class (core/controllers/resources.py) now only handles dev as well?

[2018-09-22 01:23] seanlip commented on #5445
I think that's correct, though you'll need to check which handlers call it in order to make sure.

Might not be a bad idea to shield it behind a DEV_MODE check, or have some other way to ensure that that handler is accessible only in dev.

[2018-09-22 01:30] sstone-codaio commented on #5445
Thanks Sean, one more thing to confirm. In the frontend code, is it correct that globals.GCS_RESOURCE_BUCKET_NAME is used to tell whether it's dev or prod?

[2018-09-22 01:54] ghost commented on #5436
@aks681 it seems the current logic is in this line https://github.com/oppia/oppia/blob/8aa2e3b96b9621f9c80f546b863a7e0dadcff6c4/core/storage/question/gae_models.py#L223

If we don't want to sort all the relevant questions by the key, how do we want it to be? Do we want to shuffle them before calling fetch_page(question_count), or we just rely on the order returned by the query?

[2018-09-22 03:40] ghost commented on #5134
Hi @DubeySandeep, I would like to work on writing the tests for core.controllers.skill_editor.

[2018-09-22 03:47] hoangviet1993 commented on #5134
@xuanluong I have assigned you `core.controllers.skill_editor`. Thanks!

[2018-09-22 03:52] seanlip commented on #5445
Actually I think the frontend has a DEV_MODE flag which might be better as a dev/prod indicator. If so I think we should use that so that we have a single source of truth for "dev vs prod".

/cc @vojtechjelinek -- could you advise on this please?

[2018-09-22 03:55] seanlip commented on #5436
I think we might need to solve a more general problem, actually. Let's say we want to retrieve a random subset of elements of a given query result from the datastore. How do we structure our datastore so that we can do that quickly?

There are a number of suggestions on StackOverflow that may be helpful. One is to generate a random key and find the first element >= that key (which can be done usin

[2018-09-22 09:19] apb7 commented on #5529
@kranthik13 any updates on this? Thanks!

[2018-09-22 11:57] netajik commented on #4374
Hi, @DubeySandeep would you review my pull request. Fix part of #4374 update docstrings in oppia.core.controllers.translator and oppia.core.domain.feedback_jobs_continuous.

[2018-09-22 15:49] Arpitpundir commented on #3826
hii is there any file on which i can work on??

[2018-09-22 20:13] nithusha21 commented on #5370
Fixed in #5631

[2018-09-22 20:13] #5370 closed, assigned to nobody

[2018-09-22 20:18] vojtechjelinek commented on #5445
Yes, there is a DEV_MODE Angular constant which you can use.

[2018-09-22 20:19] nithusha21 commented on #5461
The suggestions for questions feature has been implemented. It will be released along with the other new structures.

[2018-09-22 20:19] #5461 closed, assigned to nithusha21

[2018-09-22 21:30] aks681 commented on #4961
This issue is not reproducible in the latest version of develop and hence closing.

[2018-09-22 21:30] #4961 closed, assigned to nobody

[2018-09-22 21:52] aks681 commented on #4907
The exploration corresponding to the link given in the description is not displaying an audio bar in mobile.
In explorations that do have audio bar in mobile ([Fractions exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE)), this is not reproducible anymore and hence closing.

[2018-09-22 21:52] #4907 closed, assigned to nobody

[2018-09-22 21:57] aks681 commented on #4662
The current view in that same link is
![screenshot from 2018-09-23 03-25-43](https://user-images.githubusercontent.com/22347970/45922095-94035c00-bee0-11e8-9911-0a8a5c060403.png)
So, can this be closed? Since this looks more readable. @jacobdavis11 @pranavsid98

[2018-09-23 04:29] sstone-codaio commented on #5445
Thanks guys, I didn't change frontend code for this pl, but great to know for the record for future changes.

[2018-09-23 05:03] seanlip commented on #4662
Hi @aks681, I think you need to actually click on a card in "Card statistics" to get a view that has parity to what @jacobdavis11 is referring to...

[2018-09-23 05:59] seanlip commented on #4968
Checked with @pranavsid98, he'll take this up and complete it by 30 Sep. Thanks!

[2018-09-23 07:14] #5585 closed, assigned to lilithxxx

[2018-09-23 10:37] nithusha21 opened #5687 "Allow resubmission of rejected suggestions"
After a reviewer rejects a suggestion currently, there is no way for the author to address the changes and resubmit the suggestion. The author is forced to create a new suggestion with the requested changes.

A better UX is to be able to edit the same suggestion, and resubmit it. This also preserves the previous chat history on the feedback thread, which makes it easier for reviewers to know the c

[2018-09-23 14:23] brianrodri commented on #5324
Closing since I can't reproduce this anymore.

[2018-09-23 14:26] #5324 closed, assigned to brianrodri

[2018-09-23 17:04] aks681 opened #5688 "'1 users' displayed in creator dashboard when only a single person has rated an exploration"
**Describe the bug**
In the creator dashboard, when only a single user has rated an exploration created by the creator, in the table on the dashboard, under 'Average Rating', it is displayed as '(by 1 users)'.

**To Reproduce**
1. Login and create an exploration.
2. Logout, and login as another user.
3. Play through the exploration and rate it at the end.
4. Login as the first user and go to the c

[2018-09-23 17:08] jordancockles commented on #3826
HI @seanlip,
Adding the call to the service in the HTML file appears to have been the ticket.

I am ready to initiate a pull request for review, however, when I push my code, it seems the pre-push checks are finding a problem somewhere with the code, but I'm not entirely certain where.

I have attached the error to this comment to prevent the comment feed being cluttered with code.

Whilst working

[2018-09-23 17:44] apb7 commented on #3826
Hi Jordan,
Can you please create a pastebin of the changes you've made and post it
here?

Thanks!

On Sun, Sep 23, 2018, 10:38 PM jordancockles <notifications@github.com>
wrote:

[2018-09-23 21:30] mzaman07 commented on #5572
So will the modals be triggered when the user clicks on the translation tab or will it be by other means?

[2018-09-23 21:32] seanlip commented on #5572
Hi @mzaman07, I think @DubeySandeep will have to weigh in on this, but he's having Internet issues at the moment unfortunately.

That said, would you like to have a go at proposing a good flow? Try and think of it from the point of the view of the user. What would be most natural for them?

[2018-09-23 21:48] tjiang11 opened #5690 "Add modal to allow user to add commit message when saving an edit to a question"
When editing a question, the user should be allowed to specify a commit message.

[2018-09-23 23:14] Shuayb1 commented on #4558
Set Input Interaction

[2018-09-24 00:56] aks681 commented on #4558
@Shuayb1 Assigned!

[2018-09-24 03:11] #5663 closed, assigned to nobody

[2018-09-24 04:18] hoangviet1993 commented on #5416
Merged PR #5647 should be addressing this issue once it gets released. @vojtechjelinek, can you check if google search index for Oppia is still showing translation key?

[2018-09-24 04:35] seanlip commented on #5416
/cc @tjiang11 @nithusha21

[2018-09-24 07:50] DubeySandeep opened #5691 "Translation tab issue with answer short summary."
**Describe the bug**

The short summary of feedback with the image is not working. (throws console error)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/create/fQRr5aaarWrC#/translation
 2. Click on feedback tab.
 3. click the 2nd feedback.
 4. Check console.

**Observed behavior**
Console error:

- The short answers is not getting filtered: `<[getSummary()]>`

[2018-09-24 16:19] hemant0308 commented on #5574
Hello @AllanYangZhou
I am working on this.
I have done some parts of the work.

- Added audio upload feature to **RTE**.

Could you look into [my forked branch here](https://github.com/hemant0308/oppia/tree/ckeditor_audio)
I just want to know whether i am in right way or not.

Thanks

[2018-09-24 16:23] hemant0308 commented on #5687
Hello @nithusha21
I want to work on this .
Could i assign myself..??

Thanks.

[2018-09-24 16:32] nithusha21 commented on #5687
Hi @hemant0308 sure! Assigned you :)

Feel free to reach out to me if you want further explanation, or if you are stuck!

[2018-09-24 17:02] hemant0308 commented on #5687
Sure..!!
Thanks

[2018-09-24 20:28] aks681 opened #5692 "Unable to change rule when adding an answer group in question editor"
When creating a question in the topic editor. In the Add Response modal that pops up, answer group rule type is not editable, though in the editor itself (clicking on the answer group after it has been created) it is editable.

Expected Behaviour:
In both locations, the rule type should be editable.

[2018-09-24 23:47] tonadev commented on #4374
Hi, I submitted my first PR yesterday and I'm waiting for review. Can I get assigned any file/files?

[2018-09-25 02:36] vibhor98 commented on #4374
Hi @tonadev, I've assigned you `scripts.custom_lint_checks` and `scripts.cut_release_branch`. Please go ahead and file single PR for both of them as very little work is to be done.

[2018-09-25 06:48] aks681 commented on #5518
Yeah, I think it does. Just played through all_interactions after removing the conditions and it seems the error is not there anymore. Will create a PR to remove the conditions that I had created to address specifically these interactions.

[2018-09-25 06:50] aks681 commented on #5176
No, I am not working on this currently. Will de-assign myself, so that anyone interested can take over.

[2018-09-25 07:16] aks681 commented on #5436
@seanlip I was thinking about this and we only need the random generation of questions when a learner is requesting it, right? When the questions are displayed in the topic editor (in questions tab), this should not be done, right? So, maybe another argument is needed for this function called `randomize_questions` or similar which would enable the randomization.

[2018-09-25 09:01] #5518 closed, assigned to aks681

[2018-09-25 09:03] seanlip commented on #5436
Yes, that is correct. There are two use cases: (a) retrieve all questions in a paginated view (perhaps you could clarify if this is for topic/skill?), and (b) randomly select a subset of questions given a set of skills. I think these are different code paths and don't have much in common.

[2018-09-25 14:28] Shuayb1 commented on #4558
Hello,

Thanks for the opportunity given to me work on it, however, i've been
unable to get access to the file and work on it. I'm new on the group, so
kindly put me through.

Thanks

On Mon, Sep 24, 2018 at 1:56 AM Akshay Anand <notifications@github.com>
wrote:

[2018-09-25 15:13] hemant0308 commented on #5687
Hello @nithusha21
Could you explain me how to produce this.

[2018-09-25 15:45] nithusha21 commented on #5687
Hi @hemant0308 I pinged you on gitter. Let's discuss this there?

[2018-09-25 16:23] mahjong commented on #4374
Hey @vibhor98! I'd like to work on oppia.export.cloud_datastore_admin

[2018-09-25 16:35] vibhor98 commented on #4374
Hi @mahjong, I've assigned you  `oppia.export.cloud_datastore_admin`. Please go ahead and feel free to file one PR. Thanks!

[2018-09-25 19:13] nithusha21 commented on #4558
Hi @Shuayb1! Have you completed setting up Oppia on your local machine? If not, please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). Also could you elaborate on the issue you are facing? Are you unable to find which file to add the tests to? (You could take a look at the linked PRs in the issue description, as the tests follow a simi

[2018-09-26 01:00] Shuayb1 commented on #4558
Ive been unable to finish the installation since 4days now. I was getting
this messages, and ive tried* all the python solutions* on oppia site, and
few other open resource. I will be grateful if any clue

On Tue, Sep 25, 2018 at 8:13 PM Nithesh N. Hariharan <
notifications@github.com> wrote:

[2018-09-26 11:22] #5669 closed, assigned to nithusha21

[2018-09-26 12:06] nithusha21 commented on #4057
Hi @amitsin6h any updates on this issue?

[2018-09-26 12:07] nithusha21 commented on #4057
Hi @subhdeep any updates on this issue?

[2018-09-26 12:07] nithusha21 commented on #4057
Hi @rajvaibhavdubey any updates on this issue?

[2018-09-26 12:08] nithusha21 commented on #4057
Hi @A-Yerkeshev any updates on this issue?

[2018-09-26 12:09] nithusha21 commented on #3968
Hi @rahulnitdgp any updates on this issue?

[2018-09-26 12:26] aks681 commented on #4662
@seanlip Ok, thanks, but it seems that exploration does not have a multiple choice interaction anymore. So, I checked with [this](https://oppiatestserver.appspot.com/create/1#/stats) demo exploration and the statistics for multiple choice input seems readable.
![screenshot from 2018-09-26 17-54-15](https://user-images.githubusercontent.com/22347970/46079671-673b9700-c1b5-11e8-882d-aa31432b91d2.png

[2018-09-26 15:29] apb7 commented on #5529
Un-assigning @kranthik13 due to lack of response. @dawsoneliasen is interested in working on this. Therefore, assigning him. Thanks!

[2018-09-26 15:48] WanyiChen commented on #5470
I am interested in working on this project at GHC OSD. @seanlip @vinitamurthi

[2018-09-26 16:02] apb7 commented on #5470
Hi @WanyiChen, assigned you!

[2018-09-26 16:03] seanlip commented on #4662
Ah yeah, I agree that the readability issue has been fixed.

You're right that the stats discrepancy seems weird though. @pranavsid98 do you have any insight on this?

[2018-09-27 13:36] nithusha21 commented on #5416
To test this, we would need to complete this release (which should happen soon). I'll verify that the bug has been fixed after the release and close this issue.

[2018-09-27 15:42] lokijuhy commented on #5476
I'm going to take a stab at the third part: "Order of args in the docstrings should match the actual arg names passed to the method/function".

[2018-09-27 16:04] jessicayu626 commented on #5477
Hi, we are working on this issue in GHC Open Source Day.

[2018-09-27 18:57] abeer-khan commented on #5476
Will take a stab at first part  Missing docstrings (see #4374) which is currently missing documentation only in main.py

[2018-09-27 19:58] smaifullerton-wk commented on #5672
Google doc detailing the design plan for this issue from GHC '18 - https://docs.google.com/document/d/1ZB-7h65qaom4kqcSyFQHWjdQpUz13PSrWigNiImT3bE/edit?usp=sharing

[2018-09-27 20:03] smaifullerton-wk commented on #5672
Copied and pasted just in case:

### Problem Statement + Scope of This Doc

Currently when a user navigates to a collection or an exploration, the unique ID used in the data store to identify the experience is displayed as part of the URL.

It’d be a better user experience to display a unique user-provided descriptor so that URLs are displayed as:
- https://www.oppia.org/collection/adventures-in-p

[2018-09-27 20:13] abeer-khan commented on #712
Maybe we could still implement a simpler version of auto suggest, i.e. auto complete as was previously mentioned. So, when someone types "calcu" we could prepopulate the field with all tags that users have used that were lemmatized to something that started with "calcu", i.e.

1. We maintain a table of users, tags.
2. This table has 3 columns: user, tagUsed, lemmatizedVersionOfTagUsed . i.e. every

[2018-09-27 20:23] abeer-khan opened #5701 "Publish button doesn't work, but doesn't communicate to user why it didn't work"
**Describe the bug**
When a first time user creates an exploration, they might directly go to "Publish" without clicking on "Save Draft". As of now, when this happens, there is no pop up that tells the user "Sorry! Can't publish without saving the draft". The user just keeps clicking publish without any comment from the website as to why it's not publishing. The user has to hover over the "Publish

[2018-09-27 23:51] mzaman07 commented on #5572
I have a couple of workflows fleshed out in this [document](https://docs.google.com/document/d/1EL4hVNDObJIINL_Rk4S68biQbGCiOvg3lK_y6-7XPpQ/edit?usp=sharing) . I would like to get some feedback on it and potentially discuss other ideas.

[2018-09-28 01:30] tonadev commented on #4374
@vibhor98 But isn't scripts.custom_lint_checks complete? Because it's in needs to be done section but also in completed section

[2018-09-28 01:53] abeer-khan commented on #4374
Took a stab at documenting oppia.main. I've filed a PR  Main documentation #5704 . It's pending review,

[2018-09-28 02:02] abeer-khan commented on #5670
Are you suggesting something similar to this: Issue #712 ?

[2018-09-28 02:13] abeer-khan opened #5706 "Numbers not allowed in tags"
**Describe the bug**
Why aren't tags allowed to have uppercase letters or numbers in them?
Pros for allowing numbers: We can add tags like "Python2"
Pros for allowing uppercase letters: Just simple. If we need them lowercased, we can just store them lowercased while allowing users to enter them uppercase. But I **am** curious as to why uppercase letters aren't allowed, there could be some design d

[2018-09-28 02:49] abeer-khan opened #5707 "Kids seeing themselves represented on Oppia"
**Is your feature request related to a problem? Please describe.**
It's important for kids to see themselves represented on screen. But we can't force content creators to adapt their content according to what other kids need.

**Describe the solution you'd like**
I'd like a simple and fun way for kids to find themselves represented on screen.
We could:
1. "Suggest" names for content creators to us

[2018-09-28 08:21] vibhor98 commented on #4374
Hi @tonadev, No it isn't complete as it might be changed after the file was completed before. You can verify by running-  `pylint --disable=all --enable=missing-docstring scripts/custom_lint_checks.py` and then please add docstrings wherever required. Thanks!

[2018-09-28 19:36] vibhor98 commented on #4374
Sorry for the confusion @tonadev, the list wasn't up to date. I've removed the file from the completed section. Thanks!

[2018-09-28 20:41] seanlip commented on #5670
I think this is similar but for a different domain (and the stuff for skills is more complex).

@tjiang11 @aks681 @christineycc could one of you please attach relevant mocks?

[2018-09-28 20:47] aks681 commented on #4558
@Shuayb1 Can you tell what error messages you got?

[2018-09-28 20:54] DubeySandeep commented on #5572
Hi @mzaman07, Thanks for writing the doc. but unfortunately, I don't have access to make suggestions/comments. Can you please allow "Can comment" right on the doc?

[2018-09-28 21:26] aks681 opened #5710 "Create UI for assigning topic managers to topic"
The backend (and route) for this is present in the class TopicManagerRightsHandler in topic_editor.py.

Use this class to add functionality to the frontend topic editor to assign topic managers to a topic.

**Things to Note:**

- This functionality should be present in the topic editor (in the frontend), so that users can be assigned to the current topic. A new tab can be created for this in the e

[2018-09-28 21:38] jordancockles commented on #3826
@apb7 - I blew away the code that I was editing and reforked the repository and this appears to have cleared away any problems. I believe this was just an issue of my inital forked repository being so far behind the upstream repo.

I have created a PR which requires reviewing here:
https://github.com/oppia/oppia/pull/5711

[2018-09-28 21:43] aks681 opened #5712 "Creating question in topic editor with no skills should display appropriate message"
When the 'Create Question' button is clicked in the questions tab in the topic editor for any topic, if the topic has no linked skills, then one of the following should happen:

- The modal should open as it does, but a message should be shown in it saying that there are no skills linked to a topic, and that questions can only be assigned to a topic with linked skills. Also, only one button - 'Ok'

[2018-09-28 23:30] mzaman07 commented on #5572
The link above is updated to allow comments on the doc.

[2018-09-29 00:11] seanlip commented on #5707
Thanks for the suggestion @abeerunscore96. I don't think we should do this one though, for a few reasons:
- We do not want to collect names etc., in order to preserve user privacy.
- User testing suggests that students in our target demographics already find the lessons very engaging in their current form.

I think the privacy issues raised by doing something like this are more concerning than the