[2019-10-30 12:54] Showtim3 commented on #6240
@christinechengubc Thanks for letting us know. @nishantwrp I have assigned you the test. Feel free to ping me in case you run into any trouble or such.

[2019-10-30 12:58] DubeySandeep commented on #6738
@xlogix, Thanks for the updated link, I've edited the issue thread and replaced the 404 link with a correct permalink.

Re the fix: I would suggest you create a PR and let's discuss it over there! :)

[2019-10-30 14:05] xlogix commented on #6738
I would like to work on this issue. Please assign it to me.

[2019-10-30 16:25] DubeySandeep opened #7880 "CircleCi tests are failing unexpectedly while downloading node modules"
Screenshot:
![image](https://lh3.googleusercontent.com/-abvZp1fR4cs/Xbm0FK6XvVI/AAAAAAAADGo/sBcT85_wZIsAMWs3CxsFsFnHAMzEItAaACK8BGAsYHg/s0/2019-10-30.png)

Link:
https://circleci.com/gh/oppia/oppia/22306?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-30 16:58] DubeySandeep commented on #7842
@kevinlee12 @brianrodri, Can you please help us out resolving this issue?

[2019-10-30 17:33] #7873 closed, assigned to DubeySandeep

[2019-10-30 17:35] brianrodri commented on #7842
@lilithxxx could you please take a look?

[2019-10-30 17:49] discombobulateme commented on #6482
Dear all, need a helping "hand here" :)

This is my complete line of thought https://docs.google.com/document/d/1OS-WTYUPc-8zS3GdO6gu44bxPtpbkidmBBNB61VljFw/edit?usp=sharing that I'm doing also hoping to help other people contribute on Oppia (as it took me a looong time to understand a few thing, so hopefully this can be helpful for someone else)

I understand that what it needs to be done it's qu

[2019-10-30 18:11] hamletv commented on #7849
@seanlip - necessary steps completed.

[2019-10-30 18:18] seanlip commented on #7849
Thanks @hamletv! Reassigning you.

[2019-10-30 20:25] #7869 closed, assigned to nobody

[2019-10-31 04:51] kevintab95 commented on #6160
This error occurred again:
[code]

[2019-10-31 04:54] kevintab95 opened #7884 "Cannot read property 'parent' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-10-31 07:20] kevintab95 commented on #7872
Closing this issue as it should be fixed by #7877

[2019-10-31 07:20] #7872 closed, assigned to nobody

[2019-10-31 13:56] xlogix commented on #6975
Hello @DubeySandeep, I would like to work on the "Services" directory. Can you assign it to me?

[2019-10-31 14:24] DubeySandeep commented on #6975
Hi @xlogix, before I assign you to this issue I wanted to make sure whether @Jethet isn't working on the same issue.

@Jethet, have you started working on the `services` part of this issue? If not, will it be fine for @xlogix to pick this issue?

(It's okay if you have already started working on that part, I can help @xlogix find another issue, but do let us know!)

[2019-10-31 14:28] Jethet commented on #6975
Thanks for checking @DubeySandeep . I just removed my request to work on this, so that @xlogix can take it on. I would have had time earlier this week, but right now I will not have time to work on it.

[2019-10-31 14:30] DubeySandeep commented on #6975
@Jethet Thanks for the quick reply, I'll assign @xlogix to `services` part of the issue! :)

[2019-10-31 14:58] #6062 closed, assigned to MinervaLong

[2019-10-31 15:41] rahmot commented on #7450
Hello everyone, I'm sorry for my lateness in response. I'd a little issue with my system. I am sorry for not informing you all about my absence. @ankita240796 thanks, I wouldn't hesitate to reach out to you whenever I encounter a problem. I'm starting over again. Glad to be here again! Thank you

[2019-11-01 10:02] MartzGub commented on #7336
Hi. Is anyone currently working on this? When I first joined @DubeySandeep suggested it as a good first issue for me to tackle. Sorry I've been quiet for a while - life intervened, also this is involving technology that I am not familiar with and I've had to do some studying.
Presumably the things that count as updates are: messages being added to the ImprovementTask and status changes. Anything I

[2019-11-01 12:02] xlogix commented on #6975
I'm facing a couple of lint errors due to the renaming of the file `services/stateful/background-mask.service`.  The error is `This line has a length of 82. Maximum allowed is 80  max-len`. What should I do? Should I increase the limit?

[2019-11-01 14:01] xlogix opened #7890 "Add explanation to resolve the CODEOWNER file check"
**Describe the bug**
The error log doesn't explain how to resolve the CODEOWNER bug while pushing a commit to origin.

**To Reproduce**
Steps to reproduce the behavior:
 1. Try renaming the files of the project (in order to conform to the new naming convention)
 2. Commit your changes and try to push to origin
 3. See error

**Observed behavior**
I only observed a failed message `FAILED   CODEOWNE

[2019-11-01 20:10] kevintab95 opened #7892 "TODO: Move AudioContext, Audio check to music-phrase-player.service"
This issue is a TODO task to move AudioContext, Audio check to music-phrase-player.service.ts once AlertsService has been successfully migrated.

[2019-11-01 20:26] kevintab95 commented on #7381
Note: The origina fix (#7765) was not present in the 2.8.6 release. However, I've identified 2 more places that would require a change so made those changes as part of #7885 PR.

[2019-11-02 01:47] U8NWXD commented on #3968
@seanlip regarding

it looks like `ChangeListService.js` was renamed to `ChangeListService.ts` in 0c9c01a8b0c218b4dfd6530757a6798f6788d1e6 ([diff](https://github.com/oppia/oppia/commit/0c9c01a8b0c218b4dfd6530757a6798f6788d1e6#diff-70d42e6bec6169c3e7f346eda2752bc8)) and then to `core/templates/dev/head/pages/exploration-editor-page/services/change-list.service.ts` in d22892f5b1162e48af91c6a18a2f909

[2019-11-02 01:51] U8NWXD commented on #3968
@RVJonah are you still working on `change-list.service.ts`?

[2019-11-02 02:41] #7381 closed, assigned to kevintab95

[2019-11-02 05:07] seanlip commented on #3968
@U8NWXD Yep, just fixed it. Thanks!

[2019-11-02 14:46] smml1996 commented on #7664
Hi! Can I get this issue assigned to me? I want to work on it please!

[2019-11-02 14:56] Showtim3 commented on #7664
@smml1996 Assigned you...

[2019-11-02 15:02] Rudy-Menekam commented on #5097
hello, can i work on this issue?

[2019-11-02 15:03] Showtim3 commented on #5097
@Rudy-Menekam Assigned you..

[2019-11-02 17:36] kevintab95 commented on #7637
Latest stacktrace:
[code]

[2019-11-02 17:39] kevintab95 commented on #7796
This occurred recently with a slightly different stacktrace:
[code]

[2019-11-02 20:11] #6909 closed, assigned to nobody

[2019-11-02 22:39] seanlip opened #7900 "Some fields in the Basic Settings card in the Settings tab of the exploration editor are misaligned."
**Describe the bug**
Some fields in the Basic Settings card in the Settings tab of the exploration editor are misaligned. See the screenshot below:

![Screenshot from 2019-11-02 15-36-36](https://user-images.githubusercontent.com/10575562/68077759-a6f48b00-fd86-11e9-8b21-529b03fac593.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Click on the Settings tab

[2019-11-02 22:39] seanlip commented on #7900
Marking this as a blocking bug because it is a user-visible regression.

[2019-11-02 22:53] lorryaze commented on #6271
Hello, can I work on add_misconception?

[2019-11-02 22:55] lorryaze commented on #7427
Hello, can I work on core/controllers/base.py?

[2019-11-03 02:04] #7831 closed, assigned to Hudda

[2019-11-03 02:15] Hudda commented on #7868
@kevinlee12 I would like to work on this issue.

[2019-11-03 02:19] kevinlee12 commented on #7427
@lorryaze, I've assigned you the file!

[2019-11-03 02:20] kevinlee12 commented on #7868
go for it!

[2019-11-03 04:31] #7890 closed, assigned to nobody

[2019-11-03 05:08] rohitkatlaa commented on #7847
@aks681 Can I take up this issue?

[2019-11-03 12:30] aks681 commented on #7847
Yup, go for it!

[2019-11-03 13:17] smml1996 commented on #7900
@seanlip please assign me this issue!

[2019-11-03 15:29] kevintab95 commented on #7342
I'm able to reproduce this:
1. Create an exploration with a continue button.
2. Click on Responses Editor to edit the outcome destination.
3. Once the dropdown is available, change the state name and save it without closing the Responses Editor.
4. It should throw this error.
![image](https://user-images.githubusercontent.com/11008603/68087517-d8e81900-fe7c-11e9-9446-de3f9d15cab9.png)

[2019-11-03 15:41] donosco99 commented on #6707
@DubeySandeep,@import-keshav I checked this issue in the test server and local development server recently,
but the popover doesn't have a pointer at all.
![oppia](https://user-images.githubusercontent.com/31371571/68087644-e81b9680-fe7d-11e9-80a4-2c8c53951c72.png)
Was this change added recently or is it a bug?
Pls, have a look.

[2019-11-03 16:44] DubeySandeep commented on #7892
Assigning this to @bansalnitish as he is working on AlertsService.

[2019-11-03 16:44] #7794 closed, assigned to nobody

[2019-11-03 17:53] rohitkatlaa commented on #7847
@aks681  Should the button do the work of compose in Gmail, like opening a model and then write the to,sub, content and then a send button which calls the backend to send the mail.

[2019-11-03 17:54] rohitkatlaa commented on #7847
And is there an existing mail sending program in oppia to which I can refer or call to

[2019-11-03 17:58] seanlip commented on #7342
Great repro, @kevintab95! That should make bugfixing much easier :)

[2019-11-03 18:08] kevintab95 commented on #7342
Yep, I'm working on it. I think the fix for this should also fix #5794 and #7546 since they are related. I'll explain in the PR.

[2019-11-03 20:22] kevintab95 opened #7906 "TypeError: errorCallback is not a function"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2019-11-03 21:06] seanlip commented on #6707
Hi @donosco98, I think it's a bug. The pointer needs to be added. Would it be possible to fix this?

Thanks!

[2019-11-03 21:08] seanlip commented on #7691
Per #7900, marking this as a blocking bug because it is a user-visible regression.

[2019-11-03 21:09] seanlip commented on #7900
This is a duplicate of #7691. Closing.

[2019-11-03 21:09] #7900 closed, assigned to nobody

[2019-11-03 21:10] discombobulateme commented on #6482
Dear @Showtim3 and @aks681 I just made a PR on this issue.
All the steps to debug are documented here https://docs.google.com/document/d/1OS-WTYUPc-8zS3GdO6gu44bxPtpbkidmBBNB61VljFw/edit?usp=sharing

I'm waiting for a code review, but while fixing it I understood what @aks681 said about the need for a tooltip. I think we may find better design options to solve this issue, thus I think we could ope

[2019-11-03 21:18] seanlip commented on #7691
Just a heads-up -- it looks like PR #7904 and PR #7903 are both working on fixing this issue. /cc @Rudy-Menekam @smml1996. (Sorry @smml1996, I did not realize that the issue I filed was a duplicate.)

Would you be able to work among yourselves to figure out who is owning the issue? Thanks! (It might be as straightforward as seeing which PR gets merged first.)

[2019-11-03 21:20] seanlip commented on #6482
I think you do need some sort of message to explain to users why the button is not clickable, and that that should be part of this PR (to keep the UI usable).

[2019-11-03 23:08] discombobulateme commented on #6482
hi @seanlip I think is a totally different issue, that's why I suggest to open a new issue. I understand that's design issue on how to communicate to the user what they supposed to do. Warnings were very confuse as I felt "trapped" receiving constant warnings. For me, the usability is, at least, more fluid now.
But I agree it needs a solution, but it's more related to how Skill is presented to the

[2019-11-03 23:26] seanlip commented on #6482
Perhaps you could use a tooltip for now, and we could find a better design later. But I think there should be at least some indication to explain to users why the button isn't clickable. That said, if the appropriate warnings already exist in the creation flow, then there's no need to add more.

[2019-11-04 03:51] xlogix commented on #7372
@DubeySandeep Is this issue still open? If yes, can you assign it to me?

[2019-11-04 04:17] DalitsoKasonde commented on #6975
Please assign me to domain/

[2019-11-04 04:56] DubeySandeep commented on #7372
@xlogix, Yeah, I've assigned you! :)

[2019-11-04 05:37] donosco99 commented on #6707
sure i'll try this

[2019-11-04 07:31] xlogix opened #7913 "Exploration cards move slightly when hovered over"
**Describe the bug**
While navigating the library I noticed some exploration categories like Top-rated Explorations, Computing, and Science cards move slightly to the right when any card (in the said category) is hovered upon. This movement isn't present in "Featured Activites" or "Maths" categories.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia
 2. Go to [Library](https://

[2019-11-04 08:24] #6738 closed, assigned to xlogix

[2019-11-04 08:33] seanlip commented on #5138
I don't think @import-keshav is working on this at the moment. Deassigning.

[2019-11-04 08:33] seanlip commented on #5138
@kevintab95 -- does this fall under the Server Errors team?

[2019-11-04 08:38] seanlip commented on #5064
@import-keshav -- sorry for the late reply, I seem to have missed this.

1 network call per image seems fine to me. I also think calling twice for all states seems fine to me. The original issue reported an inconsistency between the first state and other states, but it looks like it's all consistent when you last tested, so I don't think there's any issue here and I'm going to close this. Thank yo

[2019-11-04 08:38] #5064 closed, assigned to import-keshav

[2019-11-04 08:40] bansalnitish commented on #6975
Hi @DalitsoKasonde, I guess `domain/` is done by @Jethet. @DubeySandeep could you please update the issue description?

[2019-11-04 08:55] kevintab95 commented on #5138
Yep looks like it. I've just added it to the Server Errors project.

[2019-11-04 13:14] discombobulateme commented on #6482
I can @seanlip :) working on it! I also think a tooltip may be better than warning for now. Never done it though lol... I'll try

[2019-11-04 14:09] discombobulateme commented on #6482
Hi @seanlip ! I inserted a simple tooltip saying: "To Save please add: interaction, hint and solution". But I would recommend to open a design issue. I was working on it for days and the whole process is still a bit confused for me. I cannot differentiate between Skills and Topics and I still don't understand what are the "Questions" for and how does it relates to Skill nor Topics. Maybe a simple

[2019-11-04 20:13] seanlip commented on #6482
Hi @discombobulateme -- thanks! Yes, I completely agree that some redesign is needed. We are working on it! (Some of these issues will be fixed in a couple of the PRs that are open by @aks681 at the moment.)

[2019-11-04 22:00] hamletv commented on #7849
@seanlip - I've submitted a PR for this issue but I forgot to add label for it. Can you please help explain how to add label(s) after submitting PR. Thank you!

[2019-11-04 22:04] seanlip opened #7918 "E2e test script should ensure third-party deps are installed before running."
**Describe the bug**
Cloning a fresh instance of Oppia and running bash scripts/run_e2e_tests.sh results in the error: "OSError: File third_party/static/angularjs-1.5.8/angular-animate.js does not exist.".

**To Reproduce**
Steps to reproduce the behavior:
 1. Clone a fresh instance of Oppia.
 2. Run `bash scripts/run_e2e_tests.sh`.

**Observed behavior**
The error: "OSError: File third_party/stat

[2019-11-04 22:12] seanlip commented on #7918
As a follow-up, I ran: `python -m scripts.install_third_party`. (This was an error, I should have run `python -m scripts.start`.)

Then I ran: `bash scripts/run_e2e_tests.sh --suite="skillEditor" --prod_env`

Which failed with:

[code]

Although this is not the initial workflow mentioned in the getting started process, our scripts should probably be more robust to this sort of thing. (They used to

[2019-11-04 22:17] seanlip commented on #4417
The expected behaviour should be as follows:

- The publish should complete without showing a modal.
- New changes added since publication should be added to the "buffer of changes" but not sent to the server. The end state should be the same as if the publication had fully completed and new changes were added subsequently.

[2019-11-04 22:31] seanlip commented on #7849
Hi @hamletv -- thanks for the ping! I've done that -- normally you do it using the menu at the top right but I'm not sure if folks who aren't members of the org can do that.

One note though. Following the guidelines [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change), could you please fix the title of your PR? It needs to be easily understa

[2019-11-05 04:05] hamletv commented on #7849
@seanlip - thanks for adding the label and for the feedback. PR name changed, I'll move on to another bug assuming PR for this bug is accepted and merged. Cheers!

[2019-11-05 04:33] seanlip commented on #7849
Hi @hamletv -- please take a look at the guidelines carefully. The PR name should _start_ with "Fix ..." and then contain a description.

Otherwise, sounds good! Just a preemptive note: make sure to branch off from develop when solving the new issue, not from this PR. Otherwise there'll be some difficulty in merging later.

[2019-11-05 08:30] seanlip commented on #7647
@kevinlee12 -- reassigning this to you, since @lilithxxx isn't around. Could you take it up please?

[2019-11-05 08:31] seanlip commented on #7656
I think we've given up on Codecov (and are using CodeClimate instead for the primary check), so I'm closing this issue.

[2019-11-05 08:31] #7656 closed, assigned to lilithxxx

[2019-11-05 09:03] seanlip commented on #7842
Hi @lkcbharath -- I am looking into this. Something seems a bit off with your pre-commit file, especially the line numbers. Could you please make sure that you are up-to-date with upstream/develop and that the contents of .git/hooks/pre-commit match the contents of the following file: https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_hook.py? (It may be due to a recent update to the O

[2019-11-05 09:03] #7842 closed, assigned to nobody

[2019-11-05 20:32] kevintab95 opened #7925 "Unspecified Error in top-navigation-bar.directive.ts"
This error occurred recently in production

[code]

This occured on an Edge browser.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an O

[2019-11-05 20:42] kevintab95 opened #7926 "navigator.mediaDevices.getUserMedia is not a function"
This error occurred recently in production

[code]

This error occurred on a Chrome 49 on Windows XP.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix

[2019-11-05 22:22] DubeySandeep opened #7928 "Refactor audio player services such that its can be used in other places"
Currently, the `AudioPlayerService` depends on `AudioTranslationManagerService`, `AssetsBackendApiService` etc. We need to refactor the audio player service such that it is independent of other services so that the player services can be reused in other places.

[2019-11-05 22:59] brianrodri commented on #7336
Hi @MartzGub, I've added a lot more description on what needs to be done for this issue. Do you have any other questions I can address?

[2019-11-06 03:58] kevinlee12 commented on #7647
sure!

[2019-11-06 06:24] #7858 closed, assigned to vojtechjelinek

[2019-11-06 06:49] seanlip commented on #7849
This looks like a regression, I just ran into it too when testing. Marking it as a blocking bug for the next release. /cc @ankita240796

Thanks @U8NWXD for reporting and @hamletv for working on a fix!

[2019-11-06 16:22] kevintab95 opened #7932 "[$injector:undef] HeadroomService"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-11-06 17:28] kevintab95 commented on #7932
This error might have occurred because GAE was flaky while loading the page. Closing this for now. Will reopen if this occurs often.

[2019-11-06 17:28] #7932 closed, assigned to nobody

[2019-11-06 20:16] Showtim3 commented on #7913
@xlogix Hey can u provide a small video showing this? I am unable to reproduce this. Or maybe u noticed this on ur local develop branch?

[2019-11-07 03:04] U8NWXD commented on #6271
@nadintamer I've assigned you!

[2019-11-07 03:14] U8NWXD commented on #7427
Assigned @danigrim to `main.py` per our conversation

[2019-11-07 03:52] xlogix commented on #7913
@Showtim3 I just figured out that it happens only when the user is logged in! First, log in to Oppia and then go to Library. I've also updated the steps to reproduce this.

[2019-11-07 03:59] xlogix commented on #7913
Here's the [video](https://imgur.com/7qsMRdE)

[2019-11-07 16:50] MartzGub commented on #7336
Your changes to the issue make it pretty clear what code needs to be added.
I have read 'Contributing Code to Oppia' - Some newbie questions:

- Is improvement-task-add-lastupdatetime a suitable branch name, or a bit long?
- I know I need to write front-end unit tests for this; am I right I should write end-to-end tests also?
- Do PlaythroughImprovementTasks also need to change?

[2019-11-07 17:42] nishantwrp commented on #6240
@Showtim3 I would like to work on one more test. Can you assign me a test from any section except `Harder tests to write due to issues like file upload, one-off jobs etc:`.

[2019-11-07 18:36] Showtim3 commented on #6240
Hey @nishantwrp  ```The all interactions exploration should be loaded and we should ensure that every interaction loads correctly in the edit tab.```
``` The various sections in the misc tab should work as expected.```
I see these both are available as no one's assigned to them. Moreover, you can pick anyone that you want, except those who have someone assigned to them, So Which one do u want?

[2019-11-07 18:55] seanlip commented on #7336
Hi @MartzGub:

- Any branch name that follows the guidelines is fine; yours is fine too.
- I need to defer to @brianrodri on whether e2e tests are necessary here, but my take is that if there's an existing e2e test covering these cards, feel free to add to it, otherwise it's OK to just test this using front-end unit tests. I suggest that, while we're waiting for @brianrodri to respond, feel free t

[2019-11-07 19:04] #7867 closed, assigned to seanlip

[2019-11-07 19:16] nishantwrp commented on #6240
@Showtim3 I would like to work on `The all interactions exploration should be loaded and we should ensure that every interaction loads correctly in the edit tab`

[2019-11-07 19:17] U8NWXD opened #7938 "E2E Skills Editor Tests Failing"
**Describe the bug**
E2E tests are failing on `develop`.

**To Reproduce**
1. ` git checkout develop`
2. Run e2e test: `bash scripts/run_e2e_tests.sh --sharding=false --suite=skillEditor`

**Observed behavior**
Test fails:

[code]

In observing the test run in the browser, no text is entered into the worked example text box.

**Expected behavior**
Test should pass

**Desktop (please complete the f

[2019-11-07 19:19] seanlip commented on #7938
/cc @aks681 FYI

[2019-11-07 19:26] Showtim3 commented on #6240
@nishantwrp Ok Done!

[2019-11-07 19:46] Showtim3 opened #7939 "The navbar at the admin page in development server is misplaced."
**Describe the bug**
The Top navigation bar at the admin page has a weird spacing present.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to login.
 2. Login as admin
 3. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
There should be no gap present.

**Screenshots**
![Screenshot 2019-11-08 at 1 11 38 AM](https://user-ima

[2019-11-07 22:49] brianrodri commented on #7336
Thanks @MartzGub and @seanlip, so:
- Nope, e2e tests aren't necessary here. The sorting behavior won't be user-facing yet, so there wouldn't be anything to test anyway.
- PlaythroughImprovementTasks do need to change, yes, but after further inspection it looks like it'll be a lot more involved than these other 3 types. Given that I'd still like this to remain as a starter issue, I've decided to le

[2019-11-08 02:44] #7647 closed, assigned to kevinlee12

[2019-11-08 04:22] U8NWXD commented on #7938
The Travis CI results from 4ef2e1bed1e61040bb4a642801dd3d1d30d692b7 show test failures due to a 404 error, but I am unable to reproduce this failure locally.

Instead, I see:
[code]

[2019-11-08 07:40] risrawat90 commented on #7427
@edeediong Hey you wanted the exp_domain.py but it's already taken. So you want to pick another one?

[2019-11-08 07:42] Showtim3 commented on #7427
@edeediong Hey you wanted the exp_domain.py but it's already taken. So you want to pick another one?

[2019-11-08 09:54] MartzGub commented on #7336
Thanks.

[2019-11-08 10:30] edeediong commented on #7427
@Showtim3 the assigned asked to be unassigned, lol.

[2019-11-08 13:15] aks681 commented on #7847
The exact mail contents doesn't matter. I think just a field for the 'To' address should be fine with any dummy content as we just want to verify the working of mailgun.
A mail is sent during signup, on production, so that could be a path that you can check for ideas on how to implement this.

[2019-11-08 13:21] #7906 closed, assigned to nobody

[2019-11-08 13:27] #5794 closed, assigned to kevintab95

[2019-11-08 13:27] #7342 closed, assigned to kevintab95

[2019-11-08 13:27] #7546 closed, assigned to nobody

[2019-11-08 20:16] tyleri commented on #7462
Hi, I came across this issue and wanted to help out, but it looks like #7734 already addresses it, although it was never merged in. Would I be able to help get the fix merged in?

[2019-11-08 20:21] tyleri commented on #7427
Hi, can I take the last unclaimed file, `core/domain/prod_validation_jobs_one_off.py`?

[2019-11-08 21:12] seanlip commented on #7427
Hi @tyleri -- just assigned you. Go for it!

[2019-11-08 21:35] tyleri commented on #7918
Hi, can I be assigned this?

[2019-11-08 21:58] U8NWXD opened #7946 "Cannot Fill Review Material and Skill Rubric Fields when Creating Skill"
**Describe the bug**
When creating a skill, the review material and skill rubric fields cannot be filled.

**To Reproduce**
 1. Launch Oppia server locally with `python -m scripts.start`
 2. Login as an administrator
 3. Assign yourself the `admin` role at Profile Photo > Admin Page > Roles
 4. Reload splash page to see admin options
 5. Go to your `Topics and Skills Dashboard`
 6. Click on `Creat

[2019-11-08 22:48] seanlip commented on #7946
Do you get any console errors?

[2019-11-08 22:51] seanlip commented on #7946
Also, just to check, have you followed the instructions here? https://groups.google.com/forum/#!topic/oppia-dev/I43GXifaRR4

[2019-11-08 23:07] seanlip commented on #7462
Hi @tyleri -- I'll need to defer to @kevintab95 on next steps, but note that you would also need to write a script to iterate through existing data and clean it (in addition to the fixes in #7734). Would you be up for that? If so, please let us know and we can assign you (I think @kevintab95 has quite a few things on his plate at the moment so that would help!)

[2019-11-08 23:23] U8NWXD commented on #7946
Those instructions fixed the problem

[2019-11-08 23:23] #7946 closed, assigned to U8NWXD

[2019-11-09 00:52] U8NWXD commented on #7938
Resolved by the instructions in https://groups.google.com/d/msg/oppia-dev/I43GXifaRR4/t-xHBl0pAwAJ

[2019-11-09 00:52] #7938 closed, assigned to U8NWXD

[2019-11-09 03:52] #7918 closed, assigned to tyleri

[2019-11-09 03:53] #7926 closed, assigned to nobody

[2019-11-09 04:03] #6687 closed, assigned to nobody

[2019-11-09 07:37] donosco99 commented on #7538
@brianrodri, @DubeySandeep can you pls explain this bug a bit more?
what exactly should be correct data to be displayed in the above case?
Also, Is any exploration with one card a single-state exploration?
Thanks.

[2019-11-09 07:55] DubeySandeep commented on #6975
@bansalnitish, I've update the issue thread. Also, I think we can close this issue now, can you please confirm?

[2019-11-09 14:51] rafalk342 commented on #6159
@kevintab95 Does it still occur in production? How often?

[2019-11-09 15:00] brianrodri commented on #5801
The definition of exploration effectiveness has now been defined in the following doc: [Exploration effectiveness PRD](https://docs.google.com/document/d/1ry-8zO7aEMTxIFHRRhAhs3a_R6LhRhFVnRgZKoeH0lc/edit).

[2019-11-09 15:00] #5801 closed, assigned to brianrodri

[2019-11-09 16:36] kevintab95 commented on #7462
Hi @tyleri, sure thing! Like @seanlip  mentioned, you'd have to write a script (see [one-off job](https://github.com/oppia/oppia/wiki/Running-Jobs-on-Dev-Server)) to correct / clean existing occurrences of example@example.com URLs. You can find some examples of this in the codebase. Please feel free to leave a comment here if you have any doubts regarding this and I'll be happy to help. Thanks!

[2019-11-09 16:41] kevintab95 commented on #6159
Yes, it does. It occurs almost 150+ times an hour! I think @nithusha21 is working on a fix for this currently.

[2019-11-09 16:59] kevintab95 opened #7951 "Cannot read property 'isTerminal' of null"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-11-09 17:01] kevintab95 commented on #6757
This error occurred again on production.
Here is the latest stacktrace:
[code]

URL: https://www.oppia.org/splash

[2019-11-09 17:49] kevintab95 commented on #6158
This error occurred with a different stacktrace:
[code]
Reopening.

[2019-11-09 22:57] nithusha21 opened #7955 "Flaky e2e tests in TOPICS_AND_SKILLS_DASHBOARD test suite"
The e2e tests in TOPICS_AND_SKILLS_DASHBOARD test failed on Travis. Attaching the log below. This job has flaked >4 times in the past month.

![image](https://user-images.githubusercontent.com/11898234/68536029-44951f00-0372-11ea-8973-84b5c3314ebb.png)

[2019-11-09 23:02] nithusha21 opened #7956 "Flaky RUN_E2E_TESTS_TOPICS_AND_SKILLS_DASHBOARD failed with a server error"
RUN_E2E_TESTS_TOPICS_AND_SKILLS_DASHBOARD failed with:
[code]

This happened once at the end of August and hasn't been seen since, but it seems weird that a server error should occur during an e2e test.

[2019-11-09 23:30] seanlip commented on #7956
/cc @aks681 -- do you think this still is an issue? I know we've been doing a lot of work on new structures recently...

[2019-11-10 03:02] seanlip commented on #6271
Hi @lorryaze -- sounds good, I've assigned you! Just to check, it's been a little while since you posted (sorry about that) so I just wanted to check whether you're still interested in working on that one? If not, that's totally OK.

[2019-11-10 04:30] aks681 commented on #7956
Hmm, I've never come across this when actually opening the dashboard, so not sure how to reproduce this.

[2019-11-10 04:43] seanlip commented on #7956
Discussed with @aks681 -- decided to close because it hasn't happened for 2+ months and the new structures code has changed quite a bit since then, but please refile/reopen if this is observed again. Thanks!

[2019-11-10 04:44] seanlip commented on #7955
@nithusha21 Do you have a stacktrace? This isn't enough to debug, I think.

[2019-11-10 04:45] seanlip commented on #7955
Also, @nithusha21 -- did these flakes occur in develop or in some PR to develop?

[2019-11-10 04:48] nithusha21 commented on #7955
Hmmm, I don't have a more detailed log (The job was restarted, and this was all was recorded in the email thread). The build flaked on a develop build ([here](https://travis-ci.org/oppia/oppia/builds/590688935?utm_medium=notification&utm_source=email))

[2019-11-10 05:09] kevinlee12 commented on #7305
We will be pursuing other avenues to increase performance in the future, so this is no longer valid.

[2019-11-10 05:09] #7305 closed, assigned to kevinlee12

[2019-11-10 05:13] kevinlee12 opened #7957 "Convert e2e bash script to python"
Currently our e2e test runner is in bash, we should convert it to Python for cross platform compatibility.

[2019-11-10 05:15] kevinlee12 commented on #6416
We have not had heard about this issue for some time now, I'll close this issue. If you do get this issue again, please reopen it!

[2019-11-10 05:15] #6416 closed, assigned to nobody

[2019-11-10 05:18] kevinlee12 commented on #6106
Created https://github.com/oppia/oppiabot/issues/42

[2019-11-10 05:18] #6106 closed, assigned to nobody

[2019-11-10 05:20] kevinlee12 commented on #6960
@bansalnitish can you verify if this is an issue once Angular upgrade is complete? (I'll assign this to you for now)

[2019-11-10 05:22] kevinlee12 commented on #6101
Created https://github.com/oppia/oppiabot/issues/43

[2019-11-10 05:22] #6101 closed, assigned to nobody

[2019-11-10 05:23] kevinlee12 commented on #5503
We no longer see this warning, I'll close this ticket.

[2019-11-10 05:23] #5503 closed, assigned to nobody

[2019-11-10 05:24] kevinlee12 commented on #5753
@ankita240796, is this issue still valid? please close if it isn't, thanks!

[2019-11-10 05:24] kevinlee12 commented on #5753
(assigning for triaging purposes only)

[2019-11-10 05:39] seanlip commented on #7955
Ah, ok -- thanks! If this comes up again, could you please paste a log? Otherwise, we'll close it if there are no further occurrences in the next couple of weeks.

[2019-11-10 07:36] #7784 closed, assigned to nobody

[2019-11-10 07:46] lorryaze commented on #6271
Yes I'm interested, this week I was a little busy with college so I'm not
participating so actively, sorry, as soon as I have time, I will go back to
work on this issue if there is no problem. ;)

Em dom, 10 de nov de 2019 00:02, Sean Lip <notifications@github.com>
escreveu:

[2019-11-10 10:40] discombobulateme commented on #3056
May I give it a try?

[2019-11-10 10:41] discombobulateme commented on #6482
Hey dears, should this issue be closed?

[2019-11-10 15:59] #6158 closed, assigned to nobody

[2019-11-10 18:33] rohitkatlaa commented on #7847
How to test the email functionality in my local system. It says
![Screenshot from 2019-11-10 23-59-56](https://user-images.githubusercontent.com/42460632/68548769-a313d900-0416-11ea-91c3-c9364340fdca.png)

[2019-11-10 18:34] rohitkatlaa commented on #7847
@aks681  I tried running in prod env using --prod_env

[2019-11-10 20:07] seanlip commented on #6271
Hi @lorryaze, sure! One question though -- do you have some idea of when you plan to get back to it? (This is just to avoid things sitting for too long -- if you're busy for the next block of time, it may be better to deassign you for now and assign you only once you're ready to start working on it.)

[2019-11-10 20:08] seanlip commented on #6482
Hmm -- yes, I think so, but I'd like to clarify something first @discombobulateme. Your PR #7908 says "Fix part of #6482", so I just wanted to get some clarity on which part of this issue isn't fixed yet?

[2019-11-10 22:11] lorryaze commented on #6271
I plan to start work this week, but you can deassing me, when I start to work I request a task again and sorry for anything.

[2019-11-10 23:56] kevinlee12 opened #7958 "CKeditor load error"
There is currently a load error when opening up the lesson editor which results to the creator not being able to save anything upon writing content into the lesson editor.

Browser:
- Firefox v70.0.1

Stacktrace:
[code]

Screencast:
![ezgif-6-0ae17c02820f](https://user-images.githubusercontent.com/5758256/68553046-a4bbad80-03d2-11ea-996b-5231ba654b2a.gif)

[2019-11-11 00:00] kevinlee12 commented on #7880
I'm no longer seeing this issue, is it ok to close?

[2019-11-11 00:19] U8NWXD opened #7959 "Sign-In with GSuite Account Fails"
**Describe the bug**
When attempting to create an Oppia account from a GSuite account (managed by an organization), a 500 error is returned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to splash page
 2. Click on `Sign In`
 3. Sign into the GSuite account

**Observed behavior**
500 error page

**Expected behavior**
The user should be able to create an account.

**Desktop (please comp

[2019-11-11 01:04] seanlip commented on #7959
@vojtechjelinek -- is this related to the recently reverted changes? The stack trace arises from here, I think:

[code]

/cc @ankita240796

[2019-11-11 01:05] seanlip commented on #7958
Hi Kevin, just to check, have you followed the instructions here yet? https://groups.google.com/forum/#!topic/oppia-dev/I43GXifaRR4

[2019-11-11 01:19] #7958 closed, assigned to kevinlee12

[2019-11-11 01:42] U8NWXD opened #7960 "Exploration Cards Show "Invalid date" as date"
**Describe the bug**
In the library, exploration cards have `Invalid date` in the lower right-hand corner.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/library

**Observed behavior**
The exploration cards show `Invalid date`

**Expected behavior**
The cards should show the creation date.

**Screenshots**

![Screen Shot 2019-11-10 at 17 41 34](htt

[2019-11-11 02:22] U8NWXD opened #7962 "Cannot Create Exploration Introduction Text"
**Describe the bug**
When creating an exploration, the text entered into the introduction box editor is not saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign into Oppia
 2. Click on `Create` to create an exploration
 3. Decline to go through the tutorial
 4. Click on the introduction box
 5. Enter text into the introduction editor
 6. Click `Save Content`

**Observed behavior**
Th

[2019-11-11 02:24] U8NWXD commented on #7962
This bug prevents testing the rest of the `Learner plays an exploration from start to finish` journey

[2019-11-11 02:38] U8NWXD opened #7963 "Proof Interaction Possible Lines Modal Lacks Left Margin"
**Describe the bug**
The proof interaction's list of available lines has no left margin.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Work through the explanation until the proof
 3. Click on `Possible lines`

**Observed behavior**
The possible lines are displayed in a modal with no left margin

**Expected behavior**
The possible l

[2019-11-11 02:43] U8NWXD opened #7964 "Number Input Incorrectly Determines Number of Digits in Negative Number"
**Describe the bug**
Number input incorrectly determines number of digits in a number.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Work through the exploration until the number input interaction
 3. Enter a negative number of more than 2 digits, e.g. `-500`

**Observed behavior**
The number is not accepted as correct.

**Expected

[2019-11-11 02:53] U8NWXD opened #7965 "Music Interaction Fails to Play Notes"
**Describe the bug**
The music interaction `Play` button is non-functional.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Work through the exploration until the music interaction
 3. Add some notes
 4. Click on `Play`

**Observed behavior**
No sound plays.

**Expected behavior**
The notes should be played

**Desktop (please complete

[2019-11-11 03:04] U8NWXD opened #7966 "Console error while playing non-autogenerated audio"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the splash page
 2. Click on `Library`
 3. Click on the Fractions card
 4. Start the first exploration
 5. Play Hinglish audio

**Observed behavior**
No audio plays

**Expected behavior**
Audio should play

**Desktop (please complete the following information; delet

[2019-11-11 04:21] U8NWXD opened #7967 "Chapter Editor Validation Failures Cut Off on Right"
**Describe the bug**
When editing a chapter, validation failures are cut off on the right side.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic, then story, then chapter
 2. Leave the Exploration ID field of the chapter blank and hover over the pencil in the top menu bar

**Observed behavior**
Validation errors are cut off on the right

**Expected behavior**
The full error te

[2019-11-11 04:27] hamletv commented on #7493
@vojtechjelinek -- if not currently being worked on, can I attempt to work on this bug?

[2019-11-11 04:34] hamletv commented on #7463
@daksh0225 -- can I work on this bug. This would be my second Oppia bug.

[2019-11-11 06:07] donosco99 commented on #7430
@kevintab95 Can I work on this issue?

[2019-11-11 06:08] kevintab95 commented on #7430
Hi @donosco98, sure! I've just assigned it to you.

[2019-11-11 06:38] seanlip commented on #7967
@aks681 Please could you take a look at this as a hotfix for the release?

/cc @ankita240796

[2019-11-11 06:48] seanlip opened #7968 "Error on saving exploration -- language code mismatch"
I just tried to update an existing public exploration on the test server by adding a new answer group: https://oppiatestserver.appspot.com/create/16#/gui/Number%20Input

However, trying to publish the change results in an error message that blocks me from publishing it:

![Screenshot from 2019-11-10 22-40-41](https://user-images.githubusercontent.com/10575562/68566678-e0269e00-040b-11ea-8e78-ec0aa

[2019-11-11 06:52] aks681 commented on #7847
@rohitkatlaa You cannot manually test it without the API key. You could write backend tests to test the functionality (there are existing tests that do this, you can refer to one of them) and if they pass, you can create a PR.

[2019-11-11 06:57] DubeySandeep commented on #7968
This is happening after adding new language in supported_audio_language list, though this was not expected, I'm looking into it.

[2019-11-11 07:07] seanlip commented on #7958
Note: confirming that the instruction in the above comment fixed this.

(@kevinlee12 -- just as an FYI for the future, please leave a comment before closing an issue, to explain why it's resolved. Thanks!)

[2019-11-11 07:32] seanlip commented on #6271
OK, sounds good, I'll deassign you for now, but let us know when you'd like to take it up again. Thanks (and no worries)!

[2019-11-11 07:43] seanlip commented on #6271
Also, hi @emzee831 -- sorry for the late reply! Would you still like to take up one of the open checkboxes? If so please let us know which one, and we can assign you to it. Thanks!

[2019-11-11 08:35] vojtechjelinek commented on #7959
I don't think so, I tried logging in with GSuite account and everything works correctly, @U8NWXD could you try it now please?

[2019-11-11 09:07] seanlip commented on #7964
Actually, I think this is an issue with the exploration, not the platform. I was trying to update it but ran into #7968 -- but I don't think this is a bug that needs to be fixed pre-release. So, closing for now -- but thanks for reporting, @U8NWXD!

[2019-11-11 09:07] #7964 closed, assigned to nobody

[2019-11-11 09:09] DubeySandeep opened #7969 "Add notification once the user's voiceover application is accepted/rejected."
As of now, we are implementing a feature to send email to users once their application got accepted or rejected. To make these review updates it more noticeable to the end-user we should add a notification in the notification dashboard for the accepted/rejected voiceover applications.

**Need to think about:**

Whether we can do the same thing for question/translation suggestion considering the am

[2019-11-11 12:52] kevintab95 commented on #7041
This occurred recently with a different stack trace:
[code]

[2019-11-11 12:52] Showtim3 commented on #7538
@donosco98 Don't you think we should show what the count that is on "Introduction card" is for a single card exploration?
So maybe something like if ```cards.length === 1``` then it should be the count which is being shown on the introduction card also! What do u think?

[2019-11-11 12:59] kevintab95 opened #7970 "Unable to get property 'solicitAnswerDetails' of undefined"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-11-11 13:10] ankita240796 commented on #7962
Hi @U8NWXD, I am not able to reproduce this bug. Can you please confirm once again? Thanks!

Note: I tried this on chrome. Can you check if it is specific to firefox only?

[2019-11-11 13:15] ankita240796 commented on #7959
This is fixed now by #7954. Closing this.

[2019-11-11 13:15] #7959 closed, assigned to nobody

[2019-11-11 13:27] ankita240796 commented on #7965
Hi @U8NWXD, I am not able to reproduce this bug. Can you please confirm once again? Thanks!

Note: I tried this on chrome. Can you check if it is specific to firefox only?

[2019-11-11 14:10] ghost commented on #7450
I'm ready to take these three items:

user_services_test.LastLoginIntegrationTests
user_services_test.LastExplorationEditedIntegrationTests user_services_test.LastExplorationCreatedIntegrationTests

[2019-11-11 17:17] discombobulateme commented on #6482
Hey @seanlip button is solved with a tooltip. I said "part" because I think it needs another ticket to improve design :) but this issue is fixed \o/

[2019-11-11 17:55] vinitamurthi opened #7973 "Exploration tutorial text gets cut off"
**Describe the bug**
While going through the exploration tutorial when creating an exploration for the first time, there is a part where the window goes off the screen and we cannot see the text
<img width="346" alt="Screen Shot 2019-11-11 at 9 51 52 AM" src="https://user-images.githubusercontent.com/11780495/68608916-e860f680-0468-11ea-8d0c-fc89ef9f015a.png">

**To Reproduce**
Steps to reproduce

[2019-11-11 18:59] Showtim3 commented on #7960
Hey @ankita240796 I encountered a similar bug while testing, maybe your fix will solve this too. It's supposed to be time there right? Also maybe this will help you to find the relevant code faster.

![Screenshot 2019-11-11 at 10 24 59 PM](https://user-images.githubusercontent.com/30312043/68612841-737ed280-04e3-11ea-829d-b2f82ab6e829.png)

[2019-11-11 19:30] Showtim3 opened #7974 "Navbar in mobile is behaving very weirdly."
**Describe the bug**
Video attached.
https://drive.google.com/file/d/1PrfUIdVc1YPt_8W9mT7PqkmZNbSOvt3w/view?usp=sharing

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia on a mobile device.
 2. Login
 3. See error

**Observed behavior**
See video attached.

**Expected behavior**
The navbar should work properly.

**Screenshots**
If applicable, add screenshots to help explain your p

[2019-11-11 20:32] U8NWXD commented on #7962
I also can no longer reproduce this. I tried both Firefox and Chrome.

[2019-11-11 20:34] seanlip commented on #6482
Ah ok, thanks @discombobulateme! I think that means we can close this. Thank you for fixing the issue!

[2019-11-11 20:34] #6482 closed, assigned to discombobulateme

[2019-11-11 20:35] seanlip commented on #7450
Thanks, @vpishuk! Assigned you.

[2019-11-11 20:45] U8NWXD opened #7975 "On Mobile, Hamburger Menu Fails to Expand"
**Describe the bug**
On mobile screens, the hamburger menu at the top fails to expand.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the splash screen on mobile
 2. Click on the hamburger menu at the top

**Observed behavior**
The menu button becomes an `X`, but fails to expand the menu.

**Expected behavior**
The menu should expand

**Screenshots**

![OpiaBug_HamburgerMenuFail](htt

[2019-11-11 20:47] vojtechjelinek opened #7976 "Profile page: Avatar is not showing"
**Describe the bug**
Avatar is not showing on the profile page for the other users. This happens on production/testing/local.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/profile/<some_user>'
 2. See that their avatar is not shown on above their username.

**Screenshots**
Different user's profiel page:
![image](https://user-images.githubusercontent.com/10142938/68619966-cc8f3c00-

[2019-11-11 20:50] U8NWXD opened #7977 "User Profile Menu Fails to Expand on Mobile"
**Describe the bug**
On mobile screens, the user profile menu at the top fails to expand.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the splash screen on mobile
 2. Click on the user profile picture at the top

**Observed behavior**
The background behind the profile picture turns white, but no menu is visible.

**Expected behavior**
The menu should expand

**Screenshots**

![Opia

[2019-11-11 21:01] tyleri commented on #7462
Sure, I can try this. Just to clarify, these occurrences of URLs would all be in the database, so I would have to clean those, correct?

[2019-11-11 21:02] kevintab95 commented on #7462
Yep, that's sounds right. You can take a look at examples of one off jobs we had in the past for reference.

[2019-11-11 23:29] vojtechjelinek commented on #7493
@hamletv Hi, you can try to work on this.

[2019-11-12 00:24] U8NWXD commented on #7975
This also occurs on iPhone Safari (tested on hardware)

[2019-11-12 00:28] U8NWXD commented on #7977
On iPhone (tested on hardware) the menu appears, but the background of the profile photo remains white when the menu is closed by tapping elsewhere on the menu bar. Tested on Safari and Firefox.

[2019-11-12 00:36] U8NWXD commented on #7965
I can no longer reproduce this bug

[2019-11-12 00:39] seanlip commented on #7965
Y'know, this is a bit weird. Did something change between when @U8NWXD first reported this bug and now?

[2019-11-12 05:26] #7868 closed, assigned to Hudda

[2019-11-12 06:00] Hudda commented on #5939
@ankita240796 I would like to work on this issue.

[2019-11-12 11:03] donosco99 commented on #7538
Yeah @Showtim3, I think it makes more sense to show the number of visits.
But In all single state exploration's the statistics tab is not shown because the variable `numActualStarts`(the variable is changed if the user moves to next state) is 0 and the `explorationHasBeenVisited` is false. How to deal with this problem?

[2019-11-12 11:14] rajitha1998 commented on #7976
Hi @vojtechjelinek  can I work on this issue, is it a good first issue ?

[2019-11-12 11:47] vojtechjelinek commented on #7976
@rajitha1998 You can, it should be quite easy.

[2019-11-12 15:04] ghost commented on #7450
Created a PR: https://github.com/oppia/oppia/pull/7972

[2019-11-12 15:33] ghost commented on #7100
is there any progress on this issue?

[2019-11-12 19:18] Showtim3 opened #7981 "Unable to create skill."
**Describe the bug**
I get an error in console while creating a skill.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as admin.
 2. Update role as admin in the admin tab after login.
 3. Select Topic and skill from the dropdown.
 4. Try creating a skill and see the error.

**Observed behavior**
Error occurs while creating a skill.

**Expected behavior**
Skill should be saved.

**Scre

[2019-11-12 19:29] tyleri commented on #3056
@nithusha21 Can you guide @discombobulateme on this?

[2019-11-12 19:56] ankita240796 commented on #7962
Closing this in that case!

[2019-11-12 19:56] #7962 closed, assigned to nobody

[2019-11-12 19:58] kevintab95 opened #7983 "Questions and Subtopics text in the navbar extends outside the highlighted region on hover"
**Describe the bug**
A clear and concise description of what the bug is.
![questions](https://user-images.githubusercontent.com/11008603/68705477-2ae31a00-05b4-11ea-807c-110e2a5a46c6.png)
![subtopics](https://user-images.githubusercontent.com/11008603/68705478-2ae31a00-05b4-11ea-83ef-4e6a606140be.png)

The Questions and Subtopics titles extends outside of the white hightlighted region.

**To Repro

[2019-11-12 19:58] ankita240796 commented on #7965
I just re-deployed with a cherrypick of #7954 but I do not think it should interfere in any way with the music interaction. Also, similar behaviour on #7962 (which I have closed). Shall we close this too?

Also @U8NWXD did you check the console logs while testing?

[2019-11-12 20:06] seanlip commented on #7981
@aks681 -- this seems serious. Could you PTAL?

[2019-11-12 20:06] seanlip commented on #7983
Assigning to @aks681 since this relates to New Structures.

[2019-11-12 20:11] Showtim3 commented on #7981
@seanlip It worked after removing the older cache.The ck-editor.
So i guess this can be closed.

[2019-11-12 20:12] seanlip commented on #7981
Ah ok, sounds good. Thanks!

[2019-11-12 20:12] #7981 closed, assigned to nobody

[2019-11-12 20:15] kevintab95 opened #7984 "Change list count appears at the bottom of the Save Changes button and is cut off"
![savechanges-story-editor](https://user-images.githubusercontent.com/11008603/68706801-86aea280-05b6-11ea-9d49-a2b5b3934f22.png)

**Describe the bug**
In the Story editor, the change list count appears at the bottom of the Save Changes button and is cut off.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills editor.
 2. Create a new Topic an associated Story.
 3. In th

[2019-11-12 20:22] #7849 closed, assigned to hamletv

[2019-11-12 20:30] ankita240796 commented on #7691
Hi @smml1996, issue is assigned to you. Please update PR #7904 accordingly. Thanks!

[2019-11-12 20:47] ankita240796 commented on #7965
Closing this one since we cannot reproduce this anymore.

[2019-11-12 20:47] #7965 closed, assigned to nobody

[2019-11-12 20:48] ankita240796 commented on #7965
Also, @U8NWXD please add notes to this thread if you found anything specific when you were able to reproduce this issue. Thanks!

[2019-11-12 20:51] ankita240796 commented on #5753
Hi @kevinlee12, thanks for the ping. I will take a look by the weekend and provide updates.

[2019-11-12 22:26] U8NWXD commented on #7965
One other detail is that before I tried playing the music, I removed the note that was initially present before adding it back. However, when I tried to reproduce the bug later, the music played even after I repeated those steps. Unfortunately I do not have console output for when the bug was occurring. I'll make sure to keep the console in the future.

[2019-11-13 03:55] DubeySandeep commented on #7966
@U8NWXD, I'm not sure which exploration you are trying but for me, it's working fine. Do you see any error log in the console?

(I've tested this on Chrome, Ubuntu)

[2019-11-13 06:39] ankita240796 commented on #7966
It works fine for me too (tested on Chrome, Mac). @U8NWXD can you please check? Thanks!

[2019-11-13 06:50] U8NWXD commented on #7966
This works for me now, but I see the following error in the console:
[code]

[2019-11-13 06:51] ankita240796 commented on #7966
@DubeySandeep can you please check regarding the console error? Thanks!

[2019-11-13 07:26] Showtim3 opened #7987 "The navbar icons in the Topics and skill Dashboard have improper UI."
**Describe the bug**
The text of the navbar icons is overflowing on hovering.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to login page and login as an admin.
 2. Update your role to admin.
 3. Go to skills and topic dashboard.
 4. Hover on the navbar icons.
 5. See the error.

**Observed behavior**
Some text is overflowing and is not being highlighted.

**Expected behavior**
All por

[2019-11-13 07:29] Showtim3 opened #7988 "After creating a question, the question content in the table looks misaligned."
**Describe the bug**
The Question content column looks misaligned while the others looks good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page and login as an admin.
2. Update your role to admin.
3. Go to skills and topic dashboard.
4. Create a question.
5. See the error.

**Observed behavior**
The question content looks misaligned.

**Expected behavior**
It should be proper

[2019-11-13 07:39] cychatwani commented on #7969
Hey I am trying this out can you someone please guide me thanks

[2019-11-13 07:48] seanlip commented on #7988
Hi @Showtim3 -- could you please try creating a longer question content and see if it looks fine?

Based on your screenshot, I suspect that what's happening is that the question content is left-aligned in a large column. Since questions are usually longish, this shouldn't be an issue, I think.

[2019-11-13 07:50] seanlip commented on #7987
Is this a duplicate of #7983? /cc @kevintab95 @aks681

[2019-11-13 07:53] DubeySandeep commented on #7969
Hi @cychatwani, This issue needs to be fixed once PR #7857 will be merged, so it's not open for now for a fix but it's here just for tracking. Can you please pick another issue?

Also, I found that you haven't filled the survey form asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in the wiki page would you mind doing that first? Thanks!:)

[2019-11-13 09:02] kevintab95 commented on #7987
Yes, closing this since it is a duplicate of #7983.

[2019-11-13 09:02] #7987 closed, assigned to nobody

[2019-11-13 10:07] ghost commented on #5145
I'll take this issue

[2019-11-13 10:24] ankita240796 commented on #7960
Thanks @Showtim3! I am taking a look into this!

[2019-11-13 11:30] daksh0225 commented on #7463
@hamletv - yes you can work on this.

[2019-11-13 11:33] nishantwrp opened #7991 "The text entered in a card while creating a exploration doesn't get saved"
**Describe the bug**
The text entered in a card while creating a exploration doesn't get saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'create exploration'
 2. Click on 'a card'
 3. Enter any text
 4. Click Save

**Observed behavior**
The text entered goes. It doesn't get saved in the card.

**Expected behavior**
The text should be saved in the card

**Screenshots**
If applic

[2019-11-13 13:24] ghost commented on #5145
added a PR
https://github.com/oppia/oppia/pull/7992

[2019-11-13 14:23] kevintab95 opened #7993 "Content inside the Possible line layout modal looks incorrectly aligned"
**Describe the bug**
Content inside the Possible line layout modal looks incorrectly aligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Play through the exploration until the 7th card (logic interaction).
 3. Click on the "Possible line layout" button.
 4. Observe that the content inside the model is aligned too much to the left

[2019-11-13 16:33] nainagupta49 commented on #7993
@kevintab95  I want to solve this issue. May I ?

[2019-11-13 17:01] kevintab95 commented on #7993
Hi @nainagupta49, sure! Please raise a PR as soon as possible because this needs to be fixed for the current release. Thanks!

[2019-11-13 17:06] DubeySandeep opened #7994 "Create frontend domain objects for exploration and skill opportunity"
Currently, we use dict for the opportunity objects for presenting opportunities in the frontend. This issue focus on creating a new object class for skill and exploration opportuntiy.

Things to do:
 - Create 2 new class domain classes for skill and exploration opportunity objects.
- Replace the exploration opportunity dict with the domain object [here](https://github.com/oppia/oppia/blob/656c30ad

[2019-11-13 18:54] ankita240796 opened #7995 "Publish change button has overflowing text"
**Describe the bug**
Publish change text while publishing a collection moves out of the button box.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a collection and check the publish button. The text moves out of the button box.

**Screenshots**
<img width="1440" alt="Screenshot 2019-11-14 at 12 35 14 AM" src="https://user-images.githubusercontent.com/15226041/68795290-a9a08b80-0676-

[2019-11-13 19:05] aj1988aj commented on #7569
https://github.com/oppia/oppia/issues/7569#issue-490690991

[2019-11-13 21:20] hamletv commented on #7463
@daksh0225 -- thanks!

[2019-11-14 05:17] Hudda commented on #5939
@kevinlee12 I would like to work on this issue.

[2019-11-14 05:19] #7963 closed, assigned to ankita240796

[2019-11-14 05:23] kevintab95 commented on #7993
Seems to be a duplicate of #7963 (which is resolved). Closing this.

[2019-11-14 05:23] #7993 closed, assigned to nobody

[2019-11-14 05:23] kevinlee12 commented on #5939
sure, but before you do, can you outline a plan on how you are going to execute this?

[2019-11-14 05:43] Hudda commented on #5939
@kevinlee12 I am thinking of moving `pre_commit_linter.py`'s `OtherLintChecksManger` methods to `pylint_extensions.py` and writing their respective tests in `pylint_extensions_tests.py`.

[2019-11-14 06:01] kevinlee12 commented on #5939
Okay, sounds good. Keep in mind that you’d probably want to do this across multiple PRs because you’ll have to write tests for these.

[2019-11-14 06:03] Hudda commented on #5939
Okay, I will open separate PR for each check.

[2019-11-14 07:47] seanlip commented on #7994
@DubeySandeep Should this be done and merged into develop first, so that #7602 can depend on it?

[2019-11-14 10:22] #7939 closed, assigned to Showtim3

[2019-11-14 11:40] ankita240796 commented on #7966
Removing this from blocking bugs, since it is not causing any issue which affects the user.

[2019-11-14 11:42] DubeySandeep commented on #7966
I found the browser throws this error if the user aborts fetching audio, in our case, it can be because you have moved to another card or maybe switched tabs.

Source: http://html5index.org/Media%20-%20MediaError.html

@U8NWXD, Can you please share a screenshot?

[2019-11-14 13:01] #7983 closed, assigned to kevintab95, aks681

[2019-11-14 13:01] #7984 closed, assigned to kevintab95

[2019-11-14 13:37] ABHIJITBURMAN commented on #7336
Anyone working on this issue... If not then can I work on this!!!!

[2019-11-14 14:40] kevintab95 opened #8000 "null is not an object (evaluating 'o.displayedCard.isTerminal')"
This error occurred recently in production.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discu

[2019-11-14 16:52] kevintab95 commented on #1680
Fixed by #5331. Closing this issue.

[2019-11-14 16:52] #1680 closed

[2019-11-14 17:41] kevintab95 opened #8002 "Text overflows in the Unused Skills table"
**Describe the bug**
A clear and concise description of what the bug is.
In the Topics and Skills Dashboard under the Unused Skills section text overflows if the skill name is too lengthy.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Skill editor.
 2. Create a skill with a really long name.
 3. Observe that text overflows in the Unused skills table.

**Observed behavior**
A clear a

[2019-11-14 18:53] kevintab95 commented on #7884
According to [this forum](https://ckeditor.com/old/forums/CKEditor/CKEditor-4-not-working-in-Chrome), this might happen if a particular plugin is install.
Some users claim that clearing the browser cache fixes this.

[2019-11-14 19:02] vojtechjelinek commented on #6988
Fixed in #7978

[2019-11-14 19:02] #6988 closed, assigned to vojtechjelinek

[2019-11-14 19:32] kevintab95 commented on #7970
Should be fixed by #7907. Closing now, will re-open if it occurs again.

[2019-11-14 19:32] #7970 closed, assigned to nobody

[2019-11-14 19:46] #7967 closed, assigned to aks681

[2019-11-14 19:55] seanlip commented on #7991
@nishantwrp Could you please check whether following these instructions fixes the problem? https://groups.google.com/forum/#!topic/oppia-dev/I43GXifaRR4

[2019-11-14 20:17] nishantwrp commented on #7991
Thanks @seanlip. Fixed the problem.

[2019-11-14 20:17] #7991 closed, assigned to nobody

[2019-11-14 20:27] seanlip commented on #7991
Great! Thanks for confirming :)

[2019-11-14 21:14] ankita240796 commented on #7977
Hi @U8NWXD, I am not able to reproduce this one as well.

Here are some tests:

1. iPhone (hardware), Chrome:

![chrome](https://user-images.githubusercontent.com/15226041/68896553-b940d280-0751-11ea-8355-a1a8d285d447.gif)

2. iPhone (hardware), Safari

![safari](https://user-images.githubusercontent.com/15226041/68896584-c493fe00-0751-11ea-9d91-f72b37a5364f.gif)

Can you please check and let me k

[2019-11-14 21:15] ankita240796 commented on #7975
I cannot reproduce this on hardware:

1. iPhone (hardware), Chrome:

![chrome](https://user-images.githubusercontent.com/15226041/68896553-b940d280-0751-11ea-8355-a1a8d285d447.gif)

2. iPhone (hardware), Safari

![safari](https://user-images.githubusercontent.com/15226041/68896584-c493fe00-0751-11ea-9d91-f72b37a5364f.gif)

It is reproducible only while simulation on Chrome/Firefox. Can you please

[2019-11-14 23:04] prakol16 commented on #6240
I would like to work on `The various sections in the misc tab should work as expected.` Could someone assign me?

[2019-11-15 04:26] hamletv commented on #7493
@vojtechjelinek -- Questions to thoroughly understand the task. Am I doing anything with Jinja as the comment suggests: "remove it from the codebase altogether"? Or do I just limit myself to refactoring render_template() method to make it as fast as possible?
Do I look for a solution that will replace Jinja, or is third paragraph in the comments currently part of a wish list?

[2019-11-15 06:05] DubeySandeep opened #8007 "One off job for regenerating question opportunities in community dashboard"
Write a one-off job that can regenerate question opportunities from the admin panel.

Similar to PR #7426.

[2019-11-15 06:36] U8NWXD commented on #6240
@prakol16 all yours!

[2019-11-15 09:20] U8NWXD commented on #7975
@ankita240796 I can still reproduce this on iPhone (hardware) Safari, both when logged-in and logged-out. Here is a screen recording:

![hamburger](https://user-images.githubusercontent.com/19878639/68931600-b7711200-0745-11ea-877b-364a0626937f.gif)

I'm testing on an iPhone 6. Also notice the appearance of the `Open Feedback` dropdown menu, which doesn't look right.

[2019-11-15 09:44] U8NWXD commented on #7977
@ankita240796 I can still reproduce this error. Here's a screen recording:

![user](https://user-images.githubusercontent.com/19878639/68933409-7418a280-0749-11ea-8696-a89d3f02fff6.gif)

I am testing on an iPhone 6 on iOS 12.4

[2019-11-15 09:49] U8NWXD commented on #7966
@DubeySandeep here's a screen recording:

![OppiaBug_Audio](https://user-images.githubusercontent.com/19878639/68933727-26506a00-074a-11ea-91a2-04068355c561.gif)

[2019-11-15 10:19] vojtechjelinek commented on #7493
@hamletv You need to look for solutions that don't use Jinja in order to speed it up anyway. So yes, Jinja should also be removed.

[2019-11-15 18:23] kevintab95 opened #8009 "INTERACTION_SPECS[StateInteractionIdService.savedMemento] is undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-11-15 18:54] kevintab95 commented on #7973
Hi @ankita240796 were you able to figure out why this happens?

[2019-11-15 20:12] kevintab95 commented on #7975
I'm able to repro this as well. Working on a fix.

[2019-11-15 20:22] seanlip commented on #7960
There's a similar issue in the creator dashboard. @ankita240796 could you please check that your PR fixes it?

![Screenshot from 2019-11-15 12-21-01](https://user-images.githubusercontent.com/10575562/68973253-a0144200-07a2-11ea-8fbc-29ae88729c0d.png)

[2019-11-15 23:46] hbrooks commented on #6556
I was not able to reproduce this error situation.  Next time it happens, why don't we cut a branch and `git push` to it so that others can `git checkout` and observe the error.

[2019-11-16 09:21] rajitha1998 commented on #7976
The bug was on the `profile-page.directive.html` I was able to resolve it, will make PR soon :) @vojtechjelinek

[2019-11-16 09:31] nishantwrp commented on #6240
I'm working on #7263 and I am not able to find from where can I create review tests or practice sessions. Please help!

[2019-11-16 09:49] #7975 closed, assigned to nobody

[2019-11-16 09:50] vojtechjelinek commented on #7976
@rajitha1998 Great, since this fix is needed for the current release please try to make the PR ASAP.

[2019-11-16 14:40] DubeySandeep opened #8014 "Allow admin to add new supported audio language through config tab of admin page"
Currently, adding new supported audio language requires to run `ExplorationOpportunitySummaryModelRegenerationJob` so that the new opportunities to suggest translation, and voiceover applications gets generated for the new language as well.

To make this kinda process automated, we will be adding a config property through which an admin can add a new supported audio language and the job runs autom

[2019-11-16 15:02] DubeySandeep opened #8015 "Backend api service in frontend should return domain object instead of dict"
Currently, the backend API services make https requests and return dict objects to the caller method. The expected behavior for these services are to return a domain object instead.

PR's for reference: #8121 , #8147

To be assigned to a file or for any queries, comment on the thread and tag @gp201

In the listed files below, do the changes such that the services return domain object instead of th

[2019-11-16 15:16] DubeySandeep opened #8016 "The backend api calls in the frontend should only happen through services"
We expect all the backend API calls should happen through a service but currently there exist multiple directives that make http request. This issue focuses on refactoring directives such that they don't make any HTTP requests.

**Tips on how to resolve this issue:**
Assume a directive makes an http call to URL `\someurl\andsomethingmore`
- Check whether there exists any service which makes this c

[2019-11-16 16:26] rajitha1998 commented on #7976
I have added my PR :) , Can you help me to add the PROJECT and the CHANGELOG label @vojtechjelinek

[2019-11-16 18:15] #7976 closed, assigned to rajitha1998

[2019-11-16 20:27] aks681 opened #8018 "Add link to a concept card to RTE"
**Is your feature request related to a problem? Please describe.**
When a learner visits a question and has a doubt of the skill that the question tests, there is no way for the creator to currently point the learner to the 'Concept Card' for the skill from the  question itself, deterministically (it happens probabilistically in review tests if the learner is getting a lot of answers wrong), so th

[2019-11-16 20:32] aks681 opened #8019 "Add an abbreviated_topic_name field to Topic model"
**Is your feature request related to a problem? Please describe.**
If the topic name is too long, currently it gets truncated.

**Describe the solution you'd like**
Explicitly ask the creator to add a short topic name as well. This would entail adding a new field to the Topic model.

[2019-11-16 20:37] aks681 opened #8020 "Allow topic managers to view private viewer pages"
**Is your feature request related to a problem? Please describe.**
Currently, there is no 'preview' functionality for new structures viewer pages.

**Describe the solution you'd like**
This solution entails adding a method so that topic managers and admins can access viewer pages even if they are private (like if topic or story is not published).

[2019-11-17 01:11] #7968 closed, assigned to DubeySandeep

[2019-11-17 01:15] #7124 closed, assigned to smml1996

[2019-11-17 06:44] kevinlee12 opened #8023 "Code climate inconsistent coverage"
There is currently a possibility where the Code Climate total diff coverage checks can be at 99% but yet also show up as a green check, this leads to developer confusion and should be resolved soon.

![image](https://user-images.githubusercontent.com/5758256/69004101-80743b00-08c2-11ea-987d-80da89edc65c.png)

[2019-11-17 07:17] U8NWXD commented on #7974
I'm working on this one

[2019-11-17 12:41] nishantwrp opened #8024 "Input box overflow while adding question to a skill"
**Describe the bug**
Input box overflow while adding a question to a skill

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new skill
 2. Add a question
 3. After adding the correct answer, click on All other answers and try writing something
 4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20191117_180523](https://user-images.

[2019-11-17 17:37] kevintab95 opened #8025 "Undefined error in outcome-editor.directive"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-11-18 03:22] cdrebin commented on #8016
I'd like to work on this! Should I start with a subset of these?

[2019-11-18 04:04] cathuang20 commented on #7450
Hi! I would like to try working on html_validation_service_test.ContentMigrationTests

[2019-11-18 04:29] kevinlee12 commented on #7450
@cathuang20 you got it!

[2019-11-18 05:22] DubeySandeep commented on #8015
### How to solve a part of this issue:
Assume we are working for: core/templates/dev/head/domain/classroom/classroom-backend-api.service.ts

1. Open the file and check what's the return type of the https request.
     - In our case, I see we are collecting `topic_summary_dicts` around line 34
https://github.com/oppia/oppia/blob/0ca2649a9acd31e71e46a7f9f2d3e05ae80ce72a/core/templates/dev/head/domai

[2019-11-18 05:35] DubeySandeep commented on #8016
Hi @cdrebin, you can start with a part of this issue but let us know the part you are working on so that we can assign it to you. Thanks! :)

[2019-11-18 05:43] cdrebin commented on #8016
Sounds good. I'm having trouble with the start script, but if I can ever figure out what is wrong with my environment I'll update with which parts I'm working on.

[2019-11-18 05:54] DubeySandeep commented on #7862
Closing this issue for now as this issue doesn't follow the "Feature request template" and doesn't have enough information so that one can work on it.

[2019-11-18 05:54] #7862 closed, assigned to nobody

[2019-11-18 06:25] sakshamj74 commented on #8024
I have encountered the same issue on my desktop. Any suggestions on how to fix.

[2019-11-18 07:01] U8NWXD commented on #6240
@nishantwrp sorry for the delay in getting back to you on this. I wasn't sure how to do this either. I think the following instructions will work:

**Review Tests:**
1. Create a topic
2. In that topic, create a story
3. Create story nodes
4. Go to `/story/<story_id>` to complete the story nodes
5. You should see a review test every 3 nodes

**Practice Sessions:**
1. Create a topic
2. Assign some s

[2019-11-18 09:05] sakshamj74 commented on #7809
i am not encountering this issue

[2019-11-18 10:17] DubeySandeep opened #8027 "Release scripts should catch changes in supported audio language"
- Release scripts should catch changes in supported audio language: Adding new language in the supported audio language will create new opportunities for contributors to translate and voiceover the exploration in the new language, to generate these opportunities for the contributors we need to run the `ExplorationOpportunitySummaryModelRegenerationJob` one-off job whenever we add a new supported a

[2019-11-18 12:08] ankita240796 commented on #7973
Hi @kevintab95, yes and I am working on a fix. I am sorry for the delay (I was away for the weekend with friends) Thanks!

[2019-11-18 12:13] ankita240796 commented on #7977
I am sorry but I am still not able to reproduce this. @kevintab95 Can you please check once? Thanks!

[2019-11-18 12:18] ankita240796 commented on #7977
Hmm, on second thoughts. I am on iPhone 7+ and iOS 13.1.3. I think this may be specific to some devices in that case. I will test this on iPhone 6 once. Thanks!

[2019-11-18 12:19] #7960 closed, assigned to ankita240796

[2019-11-18 12:19] #7995 closed, assigned to ankita240796

[2019-11-18 13:32] kevintab95 opened #8028 "Server Error: env is null in expression-syntax-tree.service"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-11-18 13:38] kevintab95 opened #8029 "WaveSurfer.create throws Container element not found"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-11-18 13:51] kevintab95 opened #8031 "File API not supported in older Edge browsers"
This error occurred recently in production

[code]

This occurred on a Edge 44 browser. According to [caniuse.com](https://caniuse.com/#feat=fileapi), the File contructor is not supported in older IE or Edge browsers.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in

[2019-11-18 14:06] DubeySandeep commented on #5673
Closing this issue as it's a duplicate of #7471

[2019-11-18 14:06] #5673 closed, assigned to sagangwee

[2019-11-18 14:25] #8002 closed, assigned to kevintab95

[2019-11-18 15:09] kevintab95 opened #8032 "Skill name in the navbar wraps to the next line for small screens"
**Describe the bug**
A clear and concise description of what the bug is.
Skill name in the navbar wraps to the next line for small screens

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Skill Editor
 2. Create a skill with a really long name (>40 characters).
 3. Open newly created skill.
 4. Change screen size to >992px and <1050px. Notice that the skill name wraps and overflows out

[2019-11-18 16:03] aunghoo commented on #8015
Hi Sandeep, thank you for the amazing explanation. I would like to get assigned to this issue.

[2019-11-18 16:15] DubeySandeep commented on #8007
Assigning it to @tyleri (As per discussion.)

[2019-11-18 16:16] aunghoo commented on #8015
I'm also curious about the reason for such a change. Is it mainly to adhere to a certain style?

[2019-11-18 16:59] #7691 closed, assigned to nobody

[2019-11-18 18:52] Showtim3 commented on #8016
@cdrebin Do let us know what problem are you facing with getting things started up..Also, feel free to post ur problem on our gitter channel also

[2019-11-18 18:53] Showtim3 opened #8035 "Eliminate jQuery ajax call and ts-ignore and use Angular's HttpClient."
**Describe the bug**
Currently, we are migrating Angular services and we use ```new AbcService()``` syntax to provide this service as a dependency to the other services that are not yet migrated. So if we introduce HttpClient in the csrfTokenService, we'll have to do ```new CsrfTokenService(new HttpClient())``` in the ```UpgradedService.ts``` file which is not possible to do since HttpClient can't

[2019-11-18 21:40] tyleri commented on #1684
Is anyone still having this issue? When running the server on my machine (MacBook Pro, 2.8 GHz Intel Core i7, 16 GB RAM), Python 2.7 is using ~80% of my CPU even when idle.

[2019-11-19 00:17] BenHenning opened #8037 "'Click here for a hint' stays open after finishing the state"
I noticed this in passing today. I was submitting some wrong answers to https://www.oppia.org/explore/umPkwp0L1M0-?collection_id=4UgTQUc1tala until a hint came up (but I did not click it), then I submitted the correct answer. The 'click here for a hint' box is still visible, and it can no longer be clicked (presumably since the state is now completed).

[2019-11-19 01:31] DubeySandeep opened #8038 "HTTPs calls in frontend should only happen through *backend-api.services"
We are expecting to make all the https class from a backend-api.services (like [this question-backend-api.service.ts](https://github.com/oppia/oppia/blob/develop/[core/templates/domain/question/question-backend-api.service.ts)).](https://github.com/oppia/oppia/tree/develop/core/templates/domain/question/question-backend-api.service.ts)).) As of now there are few services (Which aren't backend-api.

[2019-11-19 01:34] DubeySandeep opened #8039 "All $http calls should be in backend-api files and prohibited elsewhere by lint checks"
Once the issue #8016 and #8038 are resolved we should add a lint check to make sure that all $http calls should be in backend-api files i.e, no other directive or services should make https calls.

[2019-11-19 01:49] cdrebin commented on #8016
@Showtim3 Thanks for reaching out! It was a pip and python linking issue that I was able to resolve on my own eventually.  @DubeySandeep I'll start with the five `core/templates/dev/head/components/` files. Thanks!

[2019-11-19 03:17] kevinlee12 commented on #1684
Hmm, I'm not. I have a comparable machine (but running on Linux). Can you do a top and see what might be causing it?

[2019-11-19 04:49] DubeySandeep commented on #8016
@cdrebin, I would suggest you pick one file for now and once it's done you can pick other files. Let me know which one you would like me to assign you first. Thanks! :)

[2019-11-19 04:58] DubeySandeep opened #8040 "Allow applicants to select different entity to voiceover instead of rejecting applications in bulk"
Currently, once a voiceover application for a given entity in a given language gets accepted we reject other similar applications. In future, for such an applicant, we are planning to allow review on all such applications and if they got accepted then offer the author to pick another lesson of their choice.

Ref: https://github.com/oppia/oppia/pull/7857#discussion_r344472764

[2019-11-19 06:11] donosco99 commented on #7538
@Showtim3 @brianrodri , If you look at the console, In single state explorations, `num_actual_starts` remains 0 even though the `num_completions` and the views are more than zero. Is this an expected behaviour. Also, in the backend, according to docstrings, `num_actual_starts` only gets updated if the exploration reaches the next state , how is this possible for a single-state explorations?
Should

[2019-11-19 10:31] MartzGub commented on #7336
Yes me. Sorry a bit slow but hoping to finish this week.

[2019-11-19 11:04] #8032 closed, assigned to kevintab95

[2019-11-19 12:52] nishantwrp commented on #6240
Thanks @U8NWXD

[2019-11-19 13:58] ankita240796 commented on #7973
I have been trying to find a fix but I have a few queries regarding this issue:

1. This was introduced in #7557 with UI being added for editor navbar options in small screen. This UI should ideally work only when we resize desktop/laptop browser screens but this is functional on mobile screens too. Do we support creation of an exploration on mobile screens? In the current version of Oppia on prod

[2019-11-19 14:11] kevintab95 commented on #7973
Thanks for the analysis @ankita240796. I think we can go with option 4 (from the Edit section) since that makes sure #7229 remains fixed and gets the tutorial working as expected. Thanks!

[2019-11-19 14:25] nishantwrp commented on #7263
@sophiewu6 @U8NWXD @Showtim3  I am working on this issue. But I had some doubts.
- `Run a practice session, get two wrong answers. The score should be 80%` - I think for two wrong answers we get a penalty of (5*2) = 10% score i.e. we get 90% score
- Also, there is no option for viewing hint or solutions.
![Screenshot_20191119_195308](https://user-images.githubusercontent.com/36989112/69154672-6f1b

[2019-11-19 15:08] #7430 closed, assigned to donosco99

[2019-11-19 15:44] cdrebin commented on #8016
@DubeySandeep Ok! I'll start with `core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts` then.

[2019-11-19 15:46] DubeySandeep commented on #8016
@cdrebin, I've assigned you to `core/templates/dev/head/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts`! :)

[2019-11-19 16:59] tyleri commented on #1684
![image](https://user-images.githubusercontent.com/6963537/69167948-c2b89a80-0ac3-11ea-8e16-5c6242f6d3c4.png)

Seems to be just python2.7 that's dominating the CPU. I also noticed this warning message when I ran `scripts.start`. Could this be related?

![image](https://user-images.githubusercontent.com/6963537/69168073-fd223780-0ac3-11ea-8d59-81f4fb0efefe.png)

[2019-11-19 17:46] sophiewu6 commented on #7263
@nishantwrp The option of hints or solutions should show up at the right corner.. @vinitamurthi Could you confirm? Since I'm not very sure about Practice Sessions.

[2019-11-19 18:20] seanlip commented on #7973
Actually I have a different suggestion. What if we get rid of "Oppia" on the top left -- would that leave enough space for the save/publish buttons? I am a bit surprised by the current UI because I thought the hamburger menu would be on the top left.

It's fine to remove the tutorial on a mobile device, but if we go this route please file an issue for reinstating it (and explain in the issue why d

[2019-11-19 18:24] lkcbharath commented on #7842
Hi @seanlip,
Sorry for the really late response. I had end-semester/end-term exams.
I've pulled from `upstream` and checked if the file you've mentioned, pre_commit_hook.py is up-to-date.
Also, the constant PRINT is present in python_utils.py in the root directory.

Do you have any other solutions/fixes I may use?

[2019-11-19 18:25] seanlip commented on #1684
Odd -- seems like it's just app engine that would be running using python here? But I don't recall it taking that much CPU either. (I just started a dev server on Linux and found that python takes up ~0% CPU.)

FYI, the second error is just saying something along the lines of "there's too many files to watch". I think it's a standard App Engine message and not oppia-specific. (I don't get that mes

[2019-11-19 18:31] seanlip commented on #7842
Not really. It sounds like python_utils.PRINT should exist if those two conditions are met. Are you able to access other variables/constants in python_utils in a similar way or does it give you the same error?

[2019-11-19 18:42] tyleri commented on #1684
![image](https://user-images.githubusercontent.com/6963537/69175695-3bbeee80-0ad2-11ea-808d-13732d363f49.png)

Digging in further (looking at the PID of the process), it seems like it's python running google_appengine_1.9 that's causing this.

[2019-11-19 19:02] ankita240796 commented on #7973
How does this look instead @seanlip? We can keep the "Oppia" text and have a dropdown for Save/Publish as well?

<img width="500" alt="Screenshot 2019-11-20 at 12 05 44 AM" src="https://user-images.githubusercontent.com/15226041/69177189-10b5b880-0b2d-11ea-9b4f-582142dfcc43.png">

[2019-11-19 19:08] seanlip commented on #7973
Erh -- it works, but actually I think we **should** remove the Oppia text. I've never seen the hamburger menu in a place that's not the top left before. Or is it like this on all pages?

[2019-11-19 19:10] ankita240796 commented on #8024
Hi @aks681, can you please look into this? Thanks!

[2019-11-19 19:15] kevintab95 commented on #7973
Oppia text followed by hamburger seems to be how it is on other pages currently. I just checked on a mobile device.

[2019-11-19 19:17] ankita240796 commented on #7973
Hi @seanlip Yes, I think I agree with you on this. The hamburger should be ideally on top left and  as @kevintab95, for all other pages too Oppia text is followed by hamburger. But I think it is a good idea to remove the Oppia text for small screens and show only the hamburger (I think that's what most websites do). Should I proceed with it? Thanks!

[2019-11-19 19:21] seanlip commented on #7973
That's really odd. Was it always like that? I'm pretty sure hamburger was on top left, it might be worth checking out earlier versions to see, since this seems like a regression.

But if it's a general thing let's leave it for now and fix that separately. Ankita I think your fix sounds fine, thanks!

[2019-11-19 19:27] seanlip commented on #7973
Ah sorry -- when I wrote my last comment, I didn't see your last one @ankita240796 because of internet issues.

I am fine with what you suggest there, too! Either works.

[2019-11-19 19:30] seanlip commented on #1684
Yep, I agree that's where it's coming from (FYI the version number is actually 1.9.67). But not sure why the load is so high...

[2019-11-19 19:50] ankita240796 commented on #7973
I checked this -- the hamburger being on wrong side. This was introduced in version 2.8.6 with the bootstrap upgrade. I am fixing the hamburger as well as adding a dropdown for save/publish on smaller screens.

[2019-11-19 19:56] seanlip commented on #7973
Thanks, sounds good! Though if the hamburger is fixed, you might not need
the extra drop-down?

[2019-11-19 20:04] ankita240796 commented on #7973
We still need it - since the new options drop-down covers up the space.

<img width="487" alt="Screenshot 2019-11-20 at 1 33 17 AM" src="https://user-images.githubusercontent.com/15226041/69181811-cc7ae600-0b35-11ea-9e88-d356acfa6840.png">

[2019-11-19 20:09] seanlip commented on #7973
Ah, I see, I didn't realize they were switched. OK, dropdown sounds good -- thanks!

[2019-11-19 20:10] ankita240796 opened #8043 "Add tutorial feature for mobile screens"
PR #8044 removes tutorial feature from mobile screens. The tutorial explains the preview button at one of the steps but this button is part of a dropdown menu for mobile screens and is not directly visible without opening the dropdown. So, the tutorial does not work correctly on mobile screens. We need to figure out a way to add the tutorial back such that it works for preview button as well.

For

[2019-11-19 20:39] ankita240796 commented on #8037
Hi @BenHenning, I am not able to reproduce this one. Can you please post a screen recording? Thanks! We need to check on this soon since this might be blocking for the release. Thanks!

[2019-11-19 20:43] ankita240796 commented on #7977
Hi @U8NWXD, I tried simulating this through on Inspect on iPhone 6 but it works fine for me.

@kevintab95 @DubeySandeep @seanlip can anyone of you please check this? Thanks!

[2019-11-19 20:56] ankita240796 commented on #7960
Yes, it fixes the issue.

<img width="1664" alt="Screenshot 2019-11-20 at 2 26 13 AM" src="https://user-images.githubusercontent.com/15226041/69185643-28953880-0b3d-11ea-98f3-5950d9956a3e.png">

[2019-11-19 21:37] tyleri opened #8046 "Create Command Line Argument for No Automatic Restart"
Due to the way the App Engine checks for changed files on MacOS, running the server sends the CPU into very high usage. For more details, see this link: https://medium.com/lumapps-engineering/appengine-on-macos-is-a-cpu-hog-heres-how-to-solve-this-problem-with-another-python-native-9f2a6dc5c960

As a quick workaround, it would be nice to have a flag to turn off the auto-restart-on-changed-file fea

[2019-11-19 21:38] tyleri commented on #1684
I figured out the issue -- it's a MacOS-only problem. Was going to make a quick workaround fix myself, but thought that this would be a good first issue for someone to tackle. Issue here: https://github.com/oppia/oppia/issues/8046

[2019-11-20 03:12] kevinlee12 commented on #8046
@tyleri, since this isn't a trivial impact, can you work on this? thanks!

[2019-11-20 05:26] tyleri commented on #8046
@kevinlee12 Yeah, thanks for assigning it to me! @seanlip actually already asked me to work on it, but I forgot to claim it. Will work on this.

[2019-11-20 05:31] kevinlee12 commented on #8046
ah, thanks!

[2019-11-20 06:36] seanlip commented on #7960
Fantastic. Thanks!

[2019-11-20 06:40] seanlip commented on #7977
I do see this when testing (simulating) with iPhone X in a Firefox desktop browser on Linux.

[2019-11-20 06:40] seanlip commented on #7977
Incidentally, the hamburger menu is not working too. Clicking on it changes its symbol to a cross, but does nothing else.

[2019-11-20 07:12] seanlip opened #8048 "Cannot close refresher modal on mobile screen"
**Describe the bug**
The "refresher" modal cannot be closed on a mobile screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. In Chrome, emulate a mobile browser.
 2. Visit https://www.oppia.org/explore/MjZzEVOG47_1?collection_id=4UgTQUc1tala and try playing it. In the first question, select "I can't remember".

**Observed behavior**
You get this modal, which overflows the screen and is n

[2019-11-20 07:12] seanlip commented on #8048
/cc @ankita240796 -- flagging this as a blocking bug.

[2019-11-20 07:38] ankita240796 commented on #7977
Hi @seanlip, Do you also face this issue on hardware?

[2019-11-20 08:00] ankita240796 commented on #7977
Also, the hamburger issue was supposed to be fix by #8011. I am able to reproduce it too now on test server on iPhone 7+.

\cc @kevintab95

[2019-11-20 08:07] seanlip commented on #7977
Don't have iPhone, sorry. But tried on Android phone -- I cannot reproduce the top right menu issue, but I am seeing the hamburger issue (both on test server).

[2019-11-20 08:10] ankita240796 commented on #7977
Ok, I just checked. I haven't deployed the PR to test server still but I have cherrypicked and checked on release branch and the hamburger issue does not exist. I will push and deploy and check once again.

[2019-11-20 09:06] ankita240796 opened #8049 "User profile menu dropdown arrow moves outside of top nav bar"
**Describe the bug**
User profile menu dropdown arrow moves outside of top nav bar while the page is loading.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia.org.'
 2. Observer the user profile menu dropdown arrow while page is loading.

**Observed behavior**
User profile menu dropdown arrow moves outside of top nav bar.

**Expected behavior**
User profile menu dropdown arrow s

[2019-11-20 12:47] cuichenli opened #8052 "Fix back end tests on Windows"
**Describe the bug**
Currently, we are working on to make oppia to run directly on Windows #7971 , as the most part is done but there are a few back end tests are failing on Windows. Mainly due to path resolution, symlink or some methods not available on Windows. According to my last Github Action build, those files are failing:
- [ ] FAILED    core.jobs_test.JobManagerUnitTests: 0 errors, 1 failu

[2019-11-20 14:12] ankita240796 opened #8053 "Tooltip for links is always placed at top instead of being a best fit"
Tooltip for links is always placed at top irrespective of the container and looks weird in some cases and is not completely visible in some other. We should find a way so that it can be automatically placed in a best fit area.

<img width="1554" alt="Screenshot 2019-11-20 at 7 39 01 PM" src="https://user-images.githubusercontent.com/15226041/69245942-d0f2dd80-0bcd-11ea-8d17-22041ee8855b.png">
<img

[2019-11-20 14:59] nishantwrp commented on #7263
@sophiewu6  There was no option for hints or solutions on the right corner. Also PTAL at my another doubt
- `Run a practice session, get two wrong answers. The score should be 80%` - I think for two wrong answers we get a penalty of (5*2) = 10% score i.e. we get 90% score

[2019-11-20 16:02] #6546 closed, assigned to shubha-rajan

[2019-11-20 16:51] kevintab95 commented on #7977
Hi @ankita240796, like you rightly pointed out, looks like the fix  #8011 is not on the test server yet. Don't have an iPhone but I'm able to repro this on iPhone X (simulated on firefox). I can confirm that clicking on the User profile seems to work fine on Android though.

@U8NWXD any idea why this happens on your device?

[2019-11-20 16:58] kevintab95 commented on #7977
Okay I suspect it has something to do with the "onmouseover" event. I tried disabling "touch simulation" in Firefox and it seems to work like @U8NWXD described in [this comment](https://github.com/oppia/oppia/issues/7977#issuecomment-554289362)*.

Edit:
But on Firefox the highlight disappears once you click outside the submenu.
I guess opening the submenu manually adds a :focus pseudoclass (focus

[2019-11-20 21:13] #8024 closed, assigned to aks681

[2019-11-21 06:34] #7973 closed, assigned to ankita240796

[2019-11-21 06:35] #7974 closed, assigned to U8NWXD

[2019-11-21 09:43] #8048 closed, assigned to ankita240796

[2019-11-21 12:53] nishantwrp commented on #7263
@sophiewu6 @Showtim3 @vinitamurthi @U8NWXD PTAL!

[2019-11-21 13:49] nishantwrp commented on #8016
@DubeySandeep I would like to work on this issue on `core/templates/dev/head/pages/topics-and-skills-dashboard-page/topics-and-skills-dashboard-page.controller.ts` but the http call made in this file is already made using a backend-service?

[2019-11-21 13:52] DubeySandeep commented on #8016
@nishantwrp, Thanks for checking, can you please pick another part of this issue?

[2019-11-21 13:55] nishantwrp commented on #8016
@DubeySandeep Ok I would like to work on `core/templates/dev/head/pages/review-test-page/review-test-page.directive.ts`

[2019-11-21 13:57] DubeySandeep commented on #8016
@nishantwrp, I've assigned you to the same! :)

[2019-11-21 14:56] nishantwrp commented on #8016
@DubeySandeep Do I have to write the tests for the service?

[2019-11-21 14:56] risrawat90 commented on #8016
@nishantwrp That'd be great if u can do that

[2019-11-21 14:58] Showtim3 commented on #8016
@nishantwrp that'd be great if u can do that

[2019-11-21 17:52] kevintab95 opened #8059 "Unable to get property 'length' of undefined in parameter-metadata.service"
This error occurred recently in production

[code]

`paramChanges` is undefined.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia

[2019-11-21 17:56] kevintab95 opened #8060 "adjacencyLists[currentNodeId] is undefined in graph-layout.service"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2019-11-21 19:43] nishantwrp commented on #8016
@Showtim3 @DubeySandeep Who should I add as a codeowner of new files I created in `/core/templates/dev/head/domain/review_test/` ?

[2019-11-21 19:52] Showtim3 commented on #8016
@nishantwrp are the lint tests failing due to the absence of codeowners? If that's the case, u should add ur username in .github/codeowners

[2019-11-21 19:55] nishantwrp commented on #8016
@Showtim3 Yes there was an error due to that. Added my name :+1:

[2019-11-21 19:55] ankita240796 commented on #7977
Thanks for the analysis @kevintab95. I will try to look into it further and find a fix.

[2019-11-21 20:02] donosco99 commented on #5939
@Hudda , Are you planning to work on all parts of the above issue?
Thanks

[2019-11-22 01:57] DubeySandeep commented on #6776
Closing this issue as it's covered in #7550 and #7602. Thanks @sagangwee!

[2019-11-22 01:57] #6776 closed, assigned to sagangwee

[2019-11-22 09:19] bansalnitish commented on #6975
Yes sure.

[2019-11-22 09:19] #6975 closed, assigned to bansalnitish

[2019-11-22 11:44] MartzGub commented on #7336
I'm showing my inexperience with TypeScript. I have a problem with adding the code for the getLastUpdatedTime function to AnswerDetailsImprovementTask. On the line
`return this._learnerAnswerDetails.getLastUpdatedTime();`
I am getting

I guess this code does not realise the this._learnerAnswerDetails object is a LearnerAnswerDetails object.
I will educate myself on what I should do about this but

[2019-11-22 12:38] donosco99 commented on #6601
@seanlip, I think function `wrapComponents` (line 160 in /components/ck-editor-helpers/ck-editor-4-rte.directive.ts) causes the above bug. Before the data is loaded in ck editor, the above function changes the `$scope.suggestionData` and makes it different to `$scope.originalHtml.` So the `ng-disabled` becomes false and the submit button is visible even if the user does not change the exploration

[2019-11-22 12:39] donosco99 commented on #6601
Also @seanlip , Can you assign me this issue, Thanks!

[2019-11-22 16:17] #8046 closed, assigned to tyleri

[2019-11-22 18:07] tyleri commented on #7462
@kevintab95
After looking through the codebase, I'm not quite sure if we even need a validation script for this purpose. Correct me if I'm wrong on any of these assumptions:

1) All Models that are persisted to storage are in core/storage
2) If (1) is correct, the only instance of a URL/Link I've found is profile_picture_data_url in the User model
3) If (2) is correct, it seems like the only way t

[2019-11-22 21:32] seanlip commented on #7462
Hi @tyleri, note that links can also be added to content/html fields in explorations. If you try creating an exploration and selecting the first rich-text editor, you can insert images, links, etc. into it. So I think the implicit assumption behind (1) is incorrect -- links can be stored as part of html text fields, which can be stored as part of JSONProperties in ndb models. To see the full struc

[2019-11-22 21:36] seanlip commented on #7336
Hi @MartzGub -- it's hard to say what's happening here without seeing code. Maybe you can log the type of `this._learnerAnswerDetails` to check that it's formed as expected?

[2019-11-22 21:42] tyleri commented on #7462
Yes, thanks for pointing that out, since I had a feeling I was missing something!

[2019-11-22 21:51] nishantwrp commented on #7263
@sophiewu6 @Showtim3 Should I start writing e2e tests without hints or solutions for now

[2019-11-22 21:59] seanlip commented on #6601
Hi @donosco98, go for it :) Thanks! Also /cc @bansalnitish in case he has any advice, since he wrote the CKEditor integration.

[2019-11-23 06:10] Showtim3 commented on #7263
Hey @nishantwrp Yeah that be better instead of being blocked. And m sorry m also new to these practice sessions, so i won't be of much help.

[2019-11-23 08:20] kevintab95 commented on #7462
Thanks @seanlip for the detailed explanation!

@tyleri to fix this issue we'll need to do the following:
1. Frontend checks to ensure new explorations won't contain these URLs.
2. Update validation function for the Link component.
3. A one-off job to clean existing occurrences of such URLs.

[2019-11-23 11:10] Hudda commented on #5939
@donosco98 yes, thats the plan.

[2019-11-23 15:08] ankita240796 commented on #7977
Removing this from blocking bugs since it cannot be reproduced on mobile devices and only creates issue with Firefox simulation.

[2019-11-23 16:11] pydevsg commented on #8053
hi, @ankita240796 I would like to work on this. Can you please assign this to me. Thanks :)

[2019-11-23 16:59] ankita240796 commented on #8053
Done @pydevsg!

[2019-11-23 18:10] sd8917 commented on #7433
I want to work on this issue can i??

[2019-11-23 18:16] sd8917 commented on #7433
can you explain what i have to do ??

[2019-11-23 18:42] vinitamurthi commented on #7263
Sorry for the delay..the question player behaves the exact same way as the exploration player so after 2 wrong answers you should be able to see a hint at the bottom bar after a minute or so

[2019-11-23 18:43] vinitamurthi commented on #7263
As for this question, I believe the penalty was 10% per wrong answer so it should be 80% but @sophiewu6  can you confirm?

[2019-11-23 18:50] vinitamurthi commented on #7433
Hey @sd8917 , the goal for this issue is to allow users to create a practice session with some parameters they define.
Usually when we run a practice session it runs for all the skills of a topic. We would like to allow the user to specify which skills they want to test.  Are you familiar with the new structures work? I would say its better to take up a starter issue and get familiar with new stru

[2019-11-23 19:01] aks681 commented on #7433
Yeah, I wouldn't recommend this as a starter issue either. Maybe try one of the issues labelled as "Good First Issues" to get familiar with the codebase and then try this one? Since, this issue might be involved.

[2019-11-24 03:54] DubeySandeep opened #8068 "Lint test for fdescribe in spec file fails test without any clear log"
Lint test for fdescribe in spec.ts file fails test without any clear log.

**Steps to reproduce:**
- Open any *spec.ts file.
- Change `describe` to `fdescribe`.
- Run `python -m scripts.pre_commit_linter`

**Observed behavior:**
- Lint test fails but there isn't any log for the failure.

**Expected behavior:**
The lint test should fail with proper log stating the reason for the failure.

[2019-11-24 04:52] #7994 closed, assigned to DubeySandeep

[2019-11-24 05:02] aks681 commented on #7618
This issue was fixed by #7770.

[2019-11-24 05:02] #7618 closed, assigned to nobody

[2019-11-24 05:08] aks681 commented on #7955
This issue hasn't occurred in any of the new PRs created (only PR it was observed was #7735, but it hasn't been merged with develop in some time). Hence, closing it.

[2019-11-24 05:08] #7955 closed, assigned to nobody

[2019-11-24 05:12] DubeySandeep commented on #8068
@kevinlee12, Can we prioritize this (I think this can be fixed quickly)? Considering this can be painful for contributors, I have already wasted a lot of time finding the reason for the error.

[2019-11-24 05:14] kevinlee12 commented on #8068
I'm already looking into this.

[2019-11-24 05:15] DubeySandeep commented on #8068
@kevinlee12, I think adding a print statement around [this line](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L1053) will fix the issue. Should I initiate a PR for the same?

[2019-11-24 05:46] kevinlee12 commented on #8068
After initial examination, Sandeep and I believe that it is the result of bad pattern check issues, but I'll have to hand this issue over to someone else.

[2019-11-24 05:55] kevintab95 commented on #8068
This happens for `fit` as well.

[2019-11-24 05:56] DubeySandeep commented on #8068
I assume this should be happening for all the patterns mentioned in `BAD_PATTERNS_MAP`.

[2019-11-24 07:51] DubeySandeep opened #8071 "Assign voice artist role for specific lanaguge in exploration"
Currently, we have the functionality to assign a voice-artist role to a user in exploration who can add a voiceover in any language. But the voice-artist role is more language specific and through the new community contribution we are assigning voice artist based on the language specified in the voiceover application. We want to change the role structure such that we can assign langauge specific r

[2019-11-24 18:15] ankita240796 opened #8072 "Oppiabot should detect PRs which affect datastore layers"
Add automation to detect any PRs which affect the datastore layer (maybe using github actions or oppiabot)

[2019-11-24 18:15] ankita240796 commented on #8027
Created a [separate issue](https://github.com/oppia/oppia/issues/8072) for detection of changes in datastore layer (since that will be handled using oppiabot/github actions)

[2019-11-24 19:26] kevintab95 opened #8074 "stateData.interaction is undefined in state-editor.directive"
This error occurred recently in production

[code]
This occurs when accessing stateData.interaction inside the 'stateEditorInitialized' event listener.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis fo

[2019-11-24 22:20] jameesjohn commented on #7493
Hi @hamletv, how's work on this going?

[2019-11-24 23:02] kevinlee12 opened #8077 "Upgrade AngularJS to 1.7.9"
AngularJS has released 1.7.9 and we should upgrade to that as it introduces critical fixes. This isn't just an upgrade whereby changing the `package.json` and `yarn.lock` files are sufficient, more work needs to be done to ensure that what we have is compatible with that version. See https://github.com/oppia/oppia/pull/7502 for the work that has already been done.

[2019-11-25 00:20] seanlip commented on #5753
On inspecting scripts/deploy.py, it looks like this has been fixed and that deploy.py accounts for the updates to both places. So, closing this issue!

[2019-11-25 00:20] #5753 closed, assigned to ankita240796

[2019-11-25 02:38] #8068 closed, assigned to DubeySandeep

[2019-11-25 12:18] DubeySandeep opened #8079 "Resolve the comments of PR #7971"
This issue is just to track the comments on PR #7971, as there are few important changes that need to be done quickly!

/cc @cuichenli

[2019-11-25 14:45] MartzGub commented on #7336
Problem solved. Of course when running `AnswerDetailsImprovementTaskObjectFactorySpec.ts` tests it was calling `getLastUpdatedTime()` on a mock `LearnerAnswerDetails` with no `getLastUpdatedTime` member function. So I've corrected that.
On to rest of the issue.

[2019-11-25 15:29] tyleri commented on #7462
@kevintab95 I understand that the Link component (in `extensions/rich_text_components_components.py`) is somehow related to links, but I'm having trouble figuring out how it ties into the application. When I try to search for usages of the Link class, I get nothing but the one usage in a test. Can you explain how this Link class is utilized for links in the content/html fields in explorations?

![

[2019-11-25 16:11] bansalnitish commented on #8077
Do we plan to do it right now given angular migration is in process?

[2019-11-25 17:21] kevinlee12 commented on #8077
Yes, since there are critical fixes in 1.7.9.

On Mon, Nov 25, 2019 at 8:11 AM Nitish Bansal <notifications@github.com>
wrote:

[2019-11-25 19:19] kevintab95 commented on #7462
Hi @tyleri, great question! I suggest you take a look at [this page](https://github.com/oppia/oppia/wiki/Rich-Text-Editor-%28RTE%29-Overview#rich-text-components) to understand more about the RTE.

But in short, you'll find the definitions for the various RTE components like the Collapsible, Image, Math, Tabs Video and Link at `/assets/rich_text_components_definitions.ts`.
https://github.com/oppia

[2019-11-25 20:17] kevintab95 opened #8081 "State name does not exist"
This error occurred recently in production

[code]

<STATE_NAME> has been anonymized.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an

[2019-11-25 20:31] kevintab95 opened #8082 "Undefined is not an object at isClassifiedExplicitlyOrGoesToNewState"
This error occurred recently in production

[code]
Occurred on Safari 12.1 on iOS 12.2.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by a

[2019-11-25 20:35] kevintab95 opened #8083 "$scope.getAnswerChoices() is null"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-11-25 21:04] ankita240796 commented on #7146
De-assigning as of now, Currently working with dev-workflow and angular migration teams.

[2019-11-26 04:17] hamletv commented on #7493
@Jamesjay4199 -- admittedly, slow. I had to familiarize myself with Jinja. Long holiday weekend coming up so I hope to have something up on this and another bug currently working on.

[2019-11-26 06:34] Showtim3 commented on #8035
Not needed anymore!

[2019-11-26 06:42] DubeySandeep commented on #8035
@Showtim3, Can you please add details on why this is not needed anymore? (Just to keep a record in the issue thread)

[2019-11-26 06:48] Showtim3 commented on #8035
Since, we are not using jquery anymore in the CsrfTokenService, (which was causing some type inconsistencies), so the ts-ignore is also removed from that part of the codebase and this issue was created to keep a track of the ts-ignore, hence this issue is not needed anymore. [link](https://github.com/oppia/oppia/pull/7818/files/dae4ff8c4e4cdd741accb412692c4f38e2e7dad3#r349940856)

[2019-11-26 06:57] jameesjohn commented on #7493
Alright.

[2019-11-26 07:19] DubeySandeep commented on #8007
Unassigned @tyleri (As per discussion on email).

Assigning this issue to @nithusha21!

[2019-11-26 15:46] vojtechjelinek opened #8088 "Add support for translations in Wipeout pages and modals"
Delete account page needs to be translatable, also section in preferences page and account deletion confirmation dialog needs to be translatable.

[2019-11-26 17:35] piotrhm commented on #6271
Hello, I'd like to take: update_interaction_answer_groups. @seanlip , Can you assign me this issue? Thanks!

[2019-11-27 02:54] linden-li commented on #7450
Hi! Can I work on jobs_test.BaseMapReduceJobManagerForContinuousComputationsTests?

[2019-11-27 03:29] kevinlee12 commented on #7450
@linden-li, you got it!

[2019-11-27 03:45] tommytjandra commented on #8038
Hi, can I help contribute to this? Thanks!

[2019-11-27 03:45] tommytjandra commented on #7336
Hi, can I help contribute to this? Thanks!

[2019-11-27 05:41] U8NWXD commented on #6271
@piotrhm I've assigned you!

[2019-11-27 21:00] kevintab95 opened #8092 "Server Error: Use show on visible elements"
This error occurred recently in production

[code]
This error occured on an iPhone.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Op

[2019-11-29 16:25] Helper2020 commented on #7427
Hello I'm new:). I wanna give this issue a try. I think I can do it! I did sign the  CLA. Thank you

[2019-11-29 20:08] kevinlee12 commented on #7427
@Helper2020, welcome! Which file would you like to take? I just opened up files that were no longer being worked on, so please look at the description again for the file you would like to do.

[2019-11-29 20:13] Helper2020 commented on #7427
@kevinlee12 Sorry I didn't know I had to pick a file. I thought I was going to be assigned one :) How about main.py?

[2019-11-29 20:24] kevinlee12 commented on #7427
no worries, we typically let contributors decide unless they want us to recommend a particular one for these types of issues.

[2019-11-30 08:55] #6847 closed, assigned to jameesjohn

[2019-12-01 06:51] alekhyaNynala commented on #8038
May I work on this issue ?

[2019-12-01 07:28] BenHenning commented on #8037
This doesn't seem to repro for me now. Under what conditions do hints automatically show? Maybe I was reproing this on a different state (I admittedly don't remember which state it was).

Also, FWIW my original instructions had a noteworthy typo: when I submitted the _correct_ answer after the auto hint box showed up, then the box continued to show.

[2019-12-01 08:09] seanlip commented on #8020
This is being fixed by @aks681 in #8090.

[2019-12-01 17:01] ankita240796 commented on #7880
I think we can close this with #8108.

[2019-12-01 18:48] Aaryan-kapur commented on #6240
can i start contributing and working on this?

[2019-12-02 10:00] ankita240796 opened #8111 "Feedback e2e tests are flaky"
Feedback e2e test were flaky on PR #8108 (Refer comment [here](https://github.com/oppia/oppia/pull/8108#issuecomment-560159935)).

<img width="1305" alt="Screenshot 2019-12-02 at 2 45 38 AM" src="https://user-images.githubusercontent.com/15226041/69920428-e27d9480-14ad-11ea-942c-84e38a98fe86.png">

[2019-12-02 10:00] ankita240796 commented on #8111
\cc @oppia/qa-team

[2019-12-02 10:51] #8020 closed, assigned to aks681

[2019-12-02 13:00] cuichenli opened #8112 "Enable pre-push lint hook installation for Windows once it is available"
We are going to disable the `pre-push` hook installation script for Windows #8106 , as the `pre_commit_linter` file is generally unusable on Windows. Once we successfully make it runnable on Windows, it should be enabled.

[2019-12-02 13:35] ankita240796 opened #8114 "Tabs on admin navbar move out of navbar on small screen"
**Admin navbar on normal screen on desktop:**

<img width="1672" alt="Screenshot 2019-12-02 at 7 01 19 PM" src="https://user-images.githubusercontent.com/15226041/69963453-3f249200-1536-11ea-9ec3-ac140d8cc890.png">
<img width="819" alt="Screenshot 2019-12-02 at 7 01 28 PM" src="https://user-images.githubusercontent.com/15226041/69963456-3fbd2880-1536-11ea-9b4a-997ea1f06d21.png">

**Admin navbar on

[2019-12-02 18:25] nishantwrp commented on #8015
@DubeySandeep I would like to work on `core/templates/dev/head/domain/classroom/classroom-backend-api.service.ts`

[2019-12-02 18:33] nishantwrp commented on #6240
Hi @Aaryan-kapur , Yeah you can work on a part of this issue. let us know which part you would fix so that you can be assigned. Thanks!

[2019-12-02 18:42] Aaryan-kapur commented on #6240
Hey @nishantwrp if these aren’t taken would love to take up anyone of these

Review tests

The all interactions exploration should be loaded and we should ensure that every interaction loads correctly in the edit tab.

Or any you would recommend to a beginner
Thanks and looking forward to working on this soon!

[2019-12-02 18:46] nishantwrp commented on #6240
@Aaryan-kapur assigned you `The all interactions exploration should be loaded and we should ensure that every interaction loads correctly in the edit tab.`

[2019-12-02 19:40] aunghoo commented on #8015
Hi @nishantwrp, just a friendly notice. I am still in progress on core/templates/dev/head/domain/classroom/classroom-backend-api.service.ts.

[2019-12-02 19:43] nishantwrp commented on #8015
Hi @aunghoo, I'm Sorry didn't see that. I'd like to work on  `core/templates/dev/head/domain/subtopic_viewer/subtopic-viewer-backend-api.service.ts` then.

[2019-12-02 19:44] aunghoo commented on #8015
No problem!

[2019-12-02 19:47] seanlip commented on #8114
Yep, I agree. Thanks!

[2019-12-03 04:07] #7880 closed, assigned to ankita240796

[2019-12-03 13:38] Nikil-Alakunta opened #8118 "oppia_tools Invalid Syntax"
when running python -m scripts.start ' I got this error

[code]

How can solve this issue?

[2019-12-03 16:32] Showtim3 commented on #8114
@ankita240796 I am unable to reproduce this? Any specific steps? I tried both methods, 1. resizing the browser
2. Using the chrome mobile toolbar.
I am on chrome MacOs and on the latest develop branch.

[2019-12-03 18:48] Showtim3 commented on #8118
Hey @Nikil99 Seems like a pip version issue...

[2019-12-04 01:43] amey-kudari opened #8123 "Update Troubleshooting wiki for error: can't combine user with prefix on linux."
**Describe the bug**
pip install error: (can't combine user with prefix)
(update wiki)

previous fix:
 line 149 in https://github.com/oppia/oppia/wiki/Troubleshooting
(add --user --prefix= --system after every pip command with --target in install_third_party.sh)

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: Ubuntu 18.04

[2019-12-04 03:35] #8027 closed, assigned to ankita240796

[2019-12-04 06:38] sudiptapradhan1181 opened #8124 "Error while running oppia on development server"
I followed all the steps given on the installation guide page. After getting all the prerequisites, I tried to run the python -m scripts.start on the terminal. I then came across the following issue. Can somebody help me in solving this.(I am running Ubuntu on Virtual Box.)

Downloading Skulpt
Cloning into 'skulpt'...
remote: Enumerating objects: 29783, done.
remote: Total 29783 (delta 0), reused

[2019-12-04 09:41] Showtim3 commented on #8035
Reopening this....and updated the description.

[2019-12-04 10:17] cuichenli opened #8125 "Rename yarn folder in oppia_tools for better consistency."
**Describe the bug**
The folders in `oppia_tools` generally following the format of `${tool-name}-${version-number}`, except the one for `yarn`. Currently, the folder named `yarn-v1.17.3`. We should get rid of the `v` in the middle for better consistency.

[code]

[2019-12-04 10:28] seanlip opened #8126 "Fraction input does not support negative numbers correctly."
**Describe the bug**
When typing a negative fraction, the validation check fails immediately. It shouldn't.

**To Reproduce**
Steps to reproduce the behavior:
 1. In the exploration editor, create a Fraction interaction.
 2. Type -1/2.

**Observed behavior**
You see an error as soon as you type the - sign, even though -1/2 is a valid fraction.

**Expected behavior**
There should be no such error.

[2019-12-04 10:28] seanlip commented on #8126
/cc @aks681 @BenHenning

[2019-12-04 11:23] ankita240796 commented on #8114
Hi @Showtim3, can you please upload a video of the stuff you tried? Thanks!

[2019-12-04 12:19] nishantwrp commented on #8126
@seanlip Typing - shows an error, but after typing -1/2 the error gets removed
![Screenshot_20191204_174739](https://user-images.githubusercontent.com/36989112/70142016-555d5a00-16be-11ea-826e-786cabc77d0d.png)

[2019-12-04 12:27] rt4914 opened #8127 "Audio-Content Highlighting"
**Describe the bug**
When we play audio in any exploration, the expected behaviour is that the content-card associated with that audio will get highlighted with yellow border around the content. But assuming that the content is getting repeated (as shown in screenshot), then definitely all the repeated content cards will have same `contentId` and in that case if the audio is getting played corresp

[2019-12-04 14:55] Nikil-Alakunta commented on #8118
hey @Showtim3  How do i resolve it ??

[2019-12-04 15:02] Showtim3 opened #8128 "eslint: spacing in the brackets in imports."
Hey I use an IDE and it shows me the **eslint** errors like ```trialing space``` or if the ```max-length``` is exceeded. Currently, the imports that we have are supposed to be like
```import { ABC } from 'abc'``` but **eslint** shows no error if this syntax is not followed.

Current Behaviour:
![Screenshot 2019-12-04 at 8 30 29 PM](https://user-images.githubusercontent.com/30312043/70153470-ffe077

[2019-12-04 15:03] Showtim3 commented on #8128
@bansalnitish @seanlip @kevinlee12 @DubeySandeep @ankita240796 Hey guys, let me know what are your thoughts on this. Thanks!

[2019-12-04 15:34] kevinlee12 commented on #8128
That looks good, feel free to make a PR to address this.

[2019-12-04 16:24] rt4914 commented on #8127
@seanlip @vinitamurthi @BenHenning PTAL

[2019-12-04 18:00] nishantwrp commented on #8126
@seanlip So, the regex expression used for matching fraction needs to be changed to accept `-`?

[2019-12-04 18:52] seanlip commented on #8127
/cc @DubeySandeep @mzaman07  -- Could you PTAL at this?

Thanks @rt4914 for filing the bug.

[2019-12-04 18:54] Aaryan-kapur commented on #7427
can i start working on this please?

[2019-12-04 18:59] seanlip commented on #8126
Not as a final answer, but as an intermediate one.

[2019-12-04 19:02] seanlip commented on #8127
Also, just to check -- @rt4914, normally this wouldn't be user-visible since the cards would be collapsed, right? I think that might be why it got missed. (We should still fix it though.)

[2019-12-04 19:03] seanlip commented on #8127
Also @aks681 -- a question for you. I assigned this to the Learner Experience project, but it seems to have gotten marked as low priority by default. Surely that shouldn't be the case?

[2019-12-04 19:05] aks681 commented on #8127
Yeah, that seems to be the default location. Reassigned it to 'Frontend'.

[2019-12-04 19:06] rt4914 commented on #8127
Yes, you are correct, the learner won't experience this unless and until they click on `Previous Responses` to expand that.

[2019-12-04 19:09] nishantwrp commented on #8126
@seanlip Ok, I would like to work on this issue

[2019-12-04 19:11] Showtim3 commented on #7427
@Aaryan-kapur Sure, which file you want to work with?

[2019-12-04 19:13] Aaryan-kapur commented on #7427
@Showtim3 I appreciate it, Thank you so much!, would you be kind enough to suggest me a file.

[2019-12-04 19:17] Showtim3 commented on #7427
@Aaryan-kapur Hey I have assigned you ```core/jobs_registry.py```.

[2019-12-04 19:18] Aaryan-kapur commented on #7427
@Showtim3 Thank You!

[2019-12-04 19:33] seanlip commented on #8126
Sure, go ahead! I've assigned you.

[2019-12-04 19:55] Aaryan-kapur commented on #8053
if it is still available i would like to work on this please. thank you!

[2019-12-04 19:56] Aaryan-kapur commented on #8038
Hey, can i start working on this please!!!

[2019-12-04 19:58] Aaryan-kapur commented on #7156
Hey, can i start working on this please!!

[2019-12-04 19:59] Aaryan-kapur commented on #6928
if this is still available, can i start working on this?

[2019-12-04 20:01] Aaryan-kapur commented on #6313
hey, if this is still available, i would love to work on this. can i ?

[2019-12-05 04:04] vinitamurthi commented on #6928
I believe this is still available, you can go ahead!

[2019-12-05 13:17] Arnesh07 commented on #7427
Hello! I would like to work on docstrings for `utils.py`. @Showtim3

[2019-12-05 13:18] Aaryan-kapur commented on #6928
@vinitamurthi thank you so much can you assign me this please?

[2019-12-05 14:28] artfullsoul opened #8132 "Between "1025px*722px & 1086px*722px" the "language" bar jumps out of the nav bar (downwards) and other such issues of elements getting out of the nav bar."
****just resize the browser on your pc or laptop and you will find that the **"language bar"** jumps down between "1025px*722px & 1086px*722px" instead of vanishing same is with "all categories bar" between "990px to 995px" and also the "user icon" gets out of the bar beyond "282px" and at "195px" "about" gets down.
![Screenshot (2)](https://user-images.githubusercontent.com/55733977/70243498-accf

[2019-12-05 16:16] tyleri commented on #7462
@kevintab95

Thanks for the link. Looking through the page, however, there is a lot of info on the front-end JavaScript but not much info on how the Python comes into play.

Can you confirm whether the changes that @shubha-rajan made should actually validate the links? I pulled in her changes to my local workspace and created an exploration with a bad link, to test it out, but I was able to create

[2019-12-05 16:47] nishantwrp commented on #8038
@Aaryan-kapur Please pick a part of the issue you want to work on

[2019-12-05 17:00] nishantwrp commented on #7569
@DubeySandeep Is this issue open to pick?

[2019-12-05 18:21] DubeySandeep commented on #7569
@nishantwrp, I'm not sure, @brianrodri, is it ready for anyone to pick? (If not, can we remove the "good first issue" label?)

[2019-12-05 18:55] Showtim3 commented on #7427
@Arnesh07 Assigned you..

[2019-12-06 03:50] kevintab95 commented on #7462
Hi @ankita240796, could you please help @tyleri with his comment regarding RTE validation? Thanks.

[2019-12-06 15:31] ShivanshRakesh commented on #8118
@kevintab95 I would like to work on this issue.

This error is popping up because your system's default pip is pip3. As a temporary fix, you can change the default pip and get yourself going. You can find how to do this [here](https://stackoverflow.com/questions/42871090/change-default-ubuntu-pip-to-pip2-7/51275052).

For the permanent fix, changing `pip` to `pip2` in [install_third_party_libs.py]

[2019-12-06 15:43] kevintab95 commented on #8118
Hi @ShivanshRakesh, sounds good. I've assigned this issue to you. :)

[2019-12-06 19:43] ankita240796 commented on #7462
Hi @tyleri, I checked this too and I can confirm that the validators are present in python but they are not linked to the frontend which makes them of no use. So, I think we need to file an issue to link these validators to the frontend i.e these validators should come in play when the frontend passes the data to backend.

Further for this issue as well, your goal should be to link the validator t

[2019-12-06 21:53] tyleri commented on #7462
@ankita240796 Thanks for your input. I'll create a separate issue for that.

Can you explain a bit more about the validator though? How can validators be linked between the frontend and backend? I would have expected that I would need a validator in JS/TS for giving the user feedback on the invalid input, as well as a validator in Python that runs before inserting into the database. If you have an

[2019-12-06 21:58] tyleri commented on #8118
I'm not sure if this is an appropriate change. Wouldn't this cause issues for people who do not have their pip installation aliased as `pip2`? I believe the better solution is to encourage `virtualenv` environments, which creates a correct linkage of `pip` to version that was used to create the `virtualenv`.

[2019-12-07 02:36] seanlip commented on #7462
See https://github.com/oppia/oppia/blob/develop/core/domain/state_domain.py#L1296 and html_cleaner.clean(). That might be relevant for backend validation.

We should do both backend and frontend validation. I believe the logic for these two would be completely separate, as @tyleri suggested.

Also, I don't think the Python Link class is directly relevant here (except as background information).

[2019-12-07 02:55] U8NWXD commented on #7270
Some helpful notes for anyone working on this PR:

**Running Review Tests:**
1. Create a topic
2. In that topic, create a story
3. Create story nodes
4. Go to `/story/<story_id>` to complete the story nodes
5. You should see a review test every 3 nodes

Note that to run review tests, you also need to set `ENABLE_NEW_STRUCTURE_PLAYERS` to true in `constants.js`.

[2019-12-07 04:04] #5145 closed, assigned to nobody

[2019-12-07 04:22] kevinlee12 commented on #8118
I agree in that simply renaming isn't an appropriate change. We're in a process where we want our scripts to eventually adapt Python 3 as well, so that's an additional reason for not simply renaming.

@Nikil99 can you provide more details about your machine? (ie. OS and version)

[2019-12-07 05:07] ShivanshRakesh commented on #8118
@kevinlee12 Okay.. got your point. So, instead of replacing `pip` with `pip2`, can we check for which pip is being used, by `pip.__file__`? If it is `pip2`, it will contain `python2`, else it won't. If it does, then it is fine, else we can try checking for `pip2` explicitly.
Later, if we wish to switch to python3 also, the condition can easily be modified.

Also, even I was facing this issue, whic

[2019-12-07 05:25] kevinlee12 commented on #8118
Hmm, that's interesting. I'm running on 19.10 and don't have those issues, but good to know.

As for the solution, that sounds like a better plan. As for checking `pip.__file__`, what does that entail?

[2019-12-07 05:34] kevinlee12 commented on #8118
Interesting that it occurred on your machine. I'm running 19.10 without issues, but it's good to know.

As for your solution, I like that direction. Though can you elaborate what you mean by checking the `pip.__file__`?

[2019-12-07 06:41] ShivanshRakesh commented on #8118
We just need to import pip, which we're already doing. `pip.__file__` returns the location of pip which was imported. For ex, it returns the following in my case:

 \>\>\> pip.\_\_file\_\_
 '/usr/local/lib/python2.7/dist-packages/pip/\_\_init\_\_.pyc'

So we can check which pip is being used from the python version.

[2019-12-07 07:11] ShivanshRakesh commented on #8123
Running `pip install -r req.txt --target ../oppia_tools/pyyaml-5.1.2 --user --prefix= --system` returns the error `No such option --system`

[2019-12-07 08:59] nithusha21 commented on #8015
Assigning @Shruti6814 to `core/templates/dev/head/domain/collection/editable-collection-backend-api.service.ts`

[2019-12-07 09:32] amey-kudari commented on #8123
Never faced that error, what version of pip are you using? (`pip --version`) Also what os?

[2019-12-07 09:57] ShivanshRakesh commented on #8123
This is what I get:
[code]
I am using **pip 19.3.1** on a  **Ubuntu 18.04.3** system.

[2019-12-07 14:30] amey-kudari commented on #8123
@ShivanshRakesh
try this, use a virtual env and install pip 9.0.1. It should work then.

[2019-12-07 18:33] DubeySandeep commented on #8127
@rt4914, Thanks for reporting, I'll open a PR soon.

[2019-12-07 18:33] kevinlee12 commented on #8118
okay, let's go with that approach.

[2019-12-07 18:38] ShivanshRakesh commented on #8123
But would that be a proper fix? I mean, shouldn't it work with all pip versions?

[2019-12-07 23:47] nithinlw commented on #7450
Hi, I want to try working on BaseContinuousComputationManagerTests. Can I get assigned? My plan is to modify the tests to have sub classes that call the private functions without implementing them and catching the error with regexp. Do you think I'm on the right track? Thanks

[2019-12-08 02:10] kevinlee12 opened #8146 "Code coverage is below 100% on develop"
On develop, there is one line of code that does not have coverage:

core/domain/stats_services.py         99%   Line: 69

Test will have to be written to increase the coverage to 100%.

[2019-12-08 03:15] amey-kudari commented on #8123
That is the only solution I can think of, I guess --system option got removed in some update (not sure though).
I guess its better to ask on gitter if someone uses your pip version, or ask @seanlip .

[2019-12-08 05:09] kevinlee12 commented on #8023
#8145 will attempt to resolve this by introducing direct integration

[2019-12-08 09:13] cuichenli commented on #8118
I just tried the way you proposed and found there is actually no module named `pip2`. I tried `import pip2` on Debian and Windows and all I got is `ImportError: No module named pip2`.

[code]

May I know why we can not just use `virtualenv`? My personal feeling is some responsibilities should be on the scripts while some should be on the developer.

[2019-12-08 09:48] ShivanshRakesh commented on #8118
@cuichenli One thing that you pointed out right is that we should not be importing `pip2`, since it is not a module. Will surely correct that.
**We are not checking for some python module 'pip2', instead, we are checking for the command line pip2.** That is why we are first checking for version of `pip` and if the default pip is not `pip2`, we are checking for it explicitly, in order to ensure tha

[2019-12-08 16:08] amey-kudari commented on #8083
Hi @kevintab95
In function `updateAnswerChoices` in `responses.service.ts`, I think we be checking that `newAnswerChoices` is not null before checking its length. Also can we modify `getAnswerChoices` to return an empty array instead of null?

[2019-12-08 21:34] kevinlee12 opened #8150 "Investigate tests that are possibly not isolated"
There are some tests that appear to be affecting other tests or are affected by other tests. This was discovered when the concurrency count was significantly increased (to about 40).

These are the possible tests:
`core.domain.prod_validation_jobs_one_off_test.TopicSummaryModelValidatorTests`
`core.domain.prod_validation_jobs_one_off_test.TopicCommitLogEntryModelValidatorTests`
`scripts.build_test

[2019-12-08 21:34] kevinlee12 commented on #8150
/cc @cuichenli

[2019-12-08 23:55] aj1988aj commented on #7569
https://developers.google.com/identity/protocols/OAuth2InstalledApp#redirect-uri_oob-manual

On Thu, Dec 5, 2019, 11:00 AM Nishant Mittal <notifications@github.com>
wrote:

[2019-12-09 03:25] kevintab95 commented on #8083
Hi @amey-kudari, were you able to reproduce this? I think we need to figure out why it was null in the first place and then find an appropriate fix. Thanks!

[2019-12-09 04:29] kevinlee12 commented on #8123
There's going to be a small fix in https://github.com/oppia/oppia/pull/8145 that will tie the pip version with the appropriate python version (and vice versa). Once that PR goes in, give that a try.

[2019-12-09 07:44] #8018 closed, assigned to aks681

[2019-12-09 08:24] seanlip commented on #8150
/cc @ankita240796 since she wrote most of the stuff in prod_validation_jobs_one_off_test.

[2019-12-09 08:25] seanlip commented on #8132
@artfullsoul -- just to check, is this issue still happening?

If it is, may I ask why you closed it?

Thanks!

[2019-12-09 10:59] jameesjohn commented on #7643
This issue is currently blocked by the work on Angular 8 migration.
However, once all the services have been migrated to Angular 8, we can resume working on this.

[2019-12-10 04:55] #6732 closed, assigned to nobody

[2019-12-10 04:55] #7309 closed, assigned to vojtechjelinek

[2019-12-10 09:00] #8118 closed, assigned to ShivanshRakesh

[2019-12-10 09:42] nikitamarysolomanpvt opened #8157 "Fraction input parsing and validation issues."
**Describe the bug**
It is important to keep parity between fraction input validation in Android & web. In particular, we noticed an issue on web that was filed as an issue in #8126

As we came up with a simpler solution on Android , we are filing an issue for the web team to update accordingly.
In android we have implemented the changes in parsing and validation of fraction based on the below con

[2019-12-10 09:44] nikitamarysolomanpvt commented on #8157
@BenHenning  & @seanlip PTAL

[2019-12-10 13:38] Nikil-Alakunta commented on #8118
@kevinlee12, I am currently running on macOS 10.15.1

[2019-12-10 15:38] kevinlee12 commented on #8118
@Nikil99 can you try again?

[2019-12-10 17:26] DubeySandeep commented on #7470
Closing this issue as the first part is resolved in #7513 and another part is covered in #6671.

[2019-12-10 17:26] #7470 closed, assigned to nobody

[2019-12-10 18:09] kevintab95 commented on #7607
This error occurred recently with the following stack trace:
[code]

[2019-12-10 18:14] kevintab95 commented on #7045
This occurred recently with the following stack trace:
[code]

[2019-12-10 23:10] aunghoo commented on #7450
Hi! Can I please get assigned to skill_editor_test.BaseSkillEditorControllerTests?

[2019-12-11 03:54] kevinlee12 commented on #7450
@aunghoo you got it!

[2019-12-11 03:57] kevinlee12 opened #8165 "Enforce multiple of 4 space indentation in docstring"
From https://github.com/oppia/oppia/pull/8130#discussion_r355927252, we should enforce 4 space indentation in docstring. Pylint doesn't support this natively, so the approach right now is to see if Code Climate has this check.

[2019-12-11 05:11] DubeySandeep opened #8166 "Remove community_dashboard_enabled flag from run_e2e_test.sh file"
Currently, we have added `--community_dashboard_enabled` in run_e2e_test.sh file to run e2e test in CI. We need to remove this flag once the community dashboard page is enabled.

[2019-12-11 11:28] #8126 closed, assigned to nishantwrp

[2019-12-11 13:47] #8127 closed, assigned to DubeySandeep

[2019-12-11 17:29] kevintab95 opened #8168 "Cannot set property 'labelledAsCorrect' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-12-11 21:09] DubeySandeep opened #8169 "Need to resolve a comment from PR #8167"
A comment form PR #8167 need to be resolved. Created this issue as PR #8167 got merged.

Conversation thread:

___

___

[2019-12-11 22:42] tyleri commented on #7462
After looking into the front-end validation for this, I discovered that there are actually even more front-end validation issues. For example, even though the Link editor is given a validator called "is_nonempty", if you try to create a link in the RTE with an empty link, it gladly accepts it.

https://github.com/oppia/oppia/blob/develop/extensions/objects/templates/sanitized-url-editor.directive.

[2019-12-12 02:50] kevinlee12 opened #8171 "Check for alphabetized list in CSS"
From https://github.com/oppia/oppia/pull/8117#discussion_r356391572, Stylelint is not detecting whether CSS attributes are sorted in order. It should reply when there are attributes that are in sorted order.

[2019-12-12 04:31] kevinlee12 opened #8172 "RUN_E2E_TESTS_EXPLORATION_FEEDBACK_TAB flaky e2e test"
There is a flaky e2e test:

`ExplorationFeedback should add feedback to an exploration`

Full log is [log.txt](https://github.com/oppia/oppia/files/3953817/log.txt).

[2019-12-12 05:42] kevinlee12 opened #8173 "Simplify linter output"
From https://github.com/oppia/oppia/pull/8101#issuecomment-564618215, the linter output is not clear on what the issue might be. We need to simplify what each error message conveys. In addition, we should also omit any output that will not provide any meaningful information to the contributor.

[2019-12-12 09:22] seanlip commented on #8173
Just to clarify -- in this particular case, it would be good to show the file that is problematic, as well as the line number to look at. Presumably the linter script has this information internally, but it is not being surfaced in the logs, which makes it harder for contributors to debug it.

[2019-12-12 11:04] cuichenli opened #8174 "Remove duplicated DIRS_TO_ADD_TO_SYS_PATH"
Currently, there are two `DIRS_TO_ADD_TO_SYS_PATH` in the code base, one in `run_backend_tests.py` and the other one is in `gae_suite.py`. I feel this is not a good pattern and might be worth to remove the duplication.
https://github.com/oppia/oppia/blob/1781135095551c436033f23c34e3cd8cadf54fba/scripts/run_backend_tests.py#L66
https://github.com/oppia/oppia/blob/1781135095551c436033f23c34e3cd8cadf

[2019-12-12 11:10] cuichenli opened #8175 "Investigate whether the isort module in oppia_tools is used"
As far as I can see, we are only using `isort` in `pre_commit_linter.py`, but in that script, we are not inserting the `isort` module in `oppia_tools` into `sys.path`. So I tried to print out the path of `isort` module we import in `pre_commit_linter.py` and found it is imported as one dependency of `pylint`. So I am wondering are we actually using this `isort` module from `oppia_tools` anywhere?

[2019-12-12 13:15] ghost commented on #8053
if it is still available i would like to work on this please. thank you!

[2019-12-12 17:54] rajitha1998 commented on #8168
Hi @kevintab95  can I give a try to fix this issue? :)

[2019-12-12 18:05] kevintab95 commented on #8168
Hi @rajitha1998, sure thing! Once you've come up with a hypothesis for this error and identified a possible fix please feel free to comment here so we can discuss it before you raise a PR. Thanks!

[2019-12-13 10:35] nishantwrp opened #8178 "Publish Changes doesn't appear correctly"
**Describe the bug**
A clear and concise description of what the bug is.
Publish Changes button doesn't appear correctly

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Edit the exploration
 4. See error

**Screenshots**
![Screenshot_20191213_155640](https://user-images.githubusercontent.com/36989112/70793849-4bc0aa00-1dc2-11ea-8eed-8e792a9ffb9a.png)

**Desktop (pl

[2019-12-13 11:07] nishantwrp opened #8179 "The voiceover error message doesn't get displayed in every tab"
**Describe the bug**
The voiceover error message doesn't get displayed in every tab(  )

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Go to voiceovers and translations tab
 3. Select any language except English
 4. Go to voiceovers tab
 5. See the `translation has not been created` error message not in all the tabs

**Observed behavior**
Here the message is displ

[2019-12-13 15:35] artfullsoul commented on #8132
A warm regard to all the members who are reading this mail.Actually I am a
new user to Git and by mistake I closed the issue but reopened it as i knew
that I closed it. I would like to work and fix this issue by myself  too .
Currently I am working on my skills and would like to resolve such issues
soon.

Thanks!
Regards

On Mon, Dec 9, 2019 at 1:55 PM Sean Lip <notifications@github.com> wrote:

[2019-12-13 16:04] kevintab95 opened #8181 "Error: $rootScope:inprog issue in the library page"
This error occurred recently in production

[code]

Related to #7381.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team membe

[2019-12-13 19:12] nishantwrp opened #8184 "Irrelevant error message on rejecting or accepting the suggestion"
**Describe the bug**
Irrelevant error message on rejecting or accepting the suggestion. We didn't try to change the status of the card manually ( It is automatically set to `Ignored` or `Fixed` ), So, the error saying `Suggestion thread status cannot be changed manually` is weird.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Suggest an edit, as another user
 3.

[2019-12-13 19:14] nishantwrp commented on #8184
@DubeySandeep PTAL!

[2019-12-13 23:42] seanlip commented on #8132
Sounds good, thanks for following up! Someone might take up this issue in the future (since it does look kinda bad), but don't worry, there are lots of starter issues available even if that happens.

In case it's helpful, you can find more information about getting started [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up).

Welcome to the project!

[2019-12-14 05:04] #8023 closed, assigned to kevinlee12

[2019-12-14 08:45] aazuspan commented on #7450
Hello! Could I work on extensions.interactions.base_test.InteractionUnitTests for my first PR? Thanks!

[2019-12-14 11:42] aks681 opened #8189 "Deprecate ENABLE_PREREQUISITE_SKILLS"
This is a tracking issue to deprecate the ENABLE_PREREQUISITE_SKILLS flag once the fractions collections has been successfully migrated to the new structures.
This would also involve removing the `missing_prerequisite_skill_id` field from the `Outcome` model for a state.

[2019-12-14 12:01] aks681 opened #8190 "Validations to the new structures editors to work with Android app"
This issue aims at tracking the addition of various validations that needs to be added to the new structures editors so that the Android app UI would look clean.

Validations:

### Topics
- [x] Set character limit for topic name to be 39
- [x] Set character limit for abbreviated topic name to be 12
- [x] Set character limit for the topic description to be 240
- [x] Thumbnail aspect ratio should be

[2019-12-14 12:11] aks681 opened #8191 "Add a progress bar to stories in the topic viewer page"
**Is your feature request related to a problem? Please describe.**
In the stories tab, in the topic viewer page, there should be a way for the learner to know his/her progress in the stories at one glance instead of opening the stories.

**Describe the solution you'd like**
The stories are displayed as cards similar to the screenshot below:
![Annotation 2019-12-14 173928](https://user-images.githu

[2019-12-14 12:13] aks681 commented on #6099
Closing this issue, since collections are going to be replaced by stories and issue #8191, tracks the addition of progress bar to stories in the topic viewer.

[2019-12-14 12:13] #6099 closed, assigned to nobody

[2019-12-14 12:42] aks681 opened #8192 "Add a search bar to the bottom of the classroom page"
**Is your feature request related to a problem? Please describe.**
Currently, in the classroom page, there is no way to search for topics or even other explorations in the library.

**Describe the solution you'd like**
Add the current search bar from the library page to the bottom of the classroom page which can search for topics as well as other explorations (filterable by category).
![image](htt

[2019-12-14 12:50] aks681 opened #8193 "Add a callout to the classroom page in the library page"
NOTE: This is to be hidden behind a flag for now

**Is your feature request related to a problem? Please describe.**
There is no way to access the classroom page other than by directly going to its URL.

**Describe the solution you'd like**
Add a callout to the classroom page from the library page.
![Annotation 2019-12-14 181824](https://user-images.githubusercontent.com/22347970/70848903-24d7a600

[2019-12-14 12:56] aks681 opened #8194 "Modify the splash page to have a link to the classroom page"
NOTE: Also to be hidden behind the same flag as #8193

Once the new structures viewer pages are done, the splash page is to be modified to surface the **Math** classroom page as well. The mock for the same is:
![Desktop_Landing_yellow_2](https://user-images.githubusercontent.com/22347970/70849268-2905c280-1ea2-11ea-8bd7-16c99eaf11e7.png)

This issue aims at tracking the creation of this new splash

[2019-12-14 18:00] kevintab95 opened #8196 "ctrl.value is undefined in regionLabelGetterSetter"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-12-14 18:02] kevintab95 commented on #8196
This error occured with a slightly different stack trace:
[code]

[2019-12-14 18:15] Showtim3 commented on #8194
Oh wow it looks so pretty :D

[2019-12-14 18:48] kevintab95 opened #8197 "answerGroup is undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-12-14 20:12] kevintab95 commented on #7462
Nice catch @tyleri! I agree. We need stricter validation on the frontend. Could you please take care of the blank URL validation as part of your fix for this issue since it is related?

I did check out the fraction input stuff and it looks like it saves 0 on clicking save. But since it clearly shows an error message the save button should definitely be disabled like you mentioned. Can you create a

[2019-12-15 00:39] kevinlee12 commented on #7450
@aazuspan you got it!

[2019-12-15 05:05] kevintab95 opened #8199 "Topic thumbnail aspect ratio should be 16:9"
**Is your feature request related to a problem? Please describe.**
Thumbnail aspect ratio should be 16:9 with minimum size as 180 x 100 and maximum as 720 x 405

[2019-12-15 06:19] Vinit-Dantkale commented on #8114
Hey, I tried with some CSS, can you tell should I further improve this.
![navbar](https://user-images.githubusercontent.com/32016324/70858895-97916180-1f30-11ea-9068-d9dea5cf4017.gif)

[2019-12-15 07:30] Showtim3 commented on #8114
Ah, maybe this issue is environment-specific, Hey @Vinit-Dantkale It looks fine. Can you please open up a PR for this? @ankita240796 Sorry if misses this message, should I still upload a video?

[2019-12-15 22:41] vojtechjelinek opened #8202 "GeneralFeedbackThreadUserModel can have user_id set as None"
**Problem**
The `GeneralFeedbackThreadUserModel` can be created with `user_id` equal to `None`. This can happen through `ThreadHandler.get` which can be accessed by guest user (`user_id = None`), in this method `update_messages_read_by_the_user` is called which creates the `GeneralFeedbackThreadUserModel` even when `user_id` is `None`.

**Fix**
Create the `GeneralFeedbackThreadUserModel` only when

[2019-12-15 22:42] vojtechjelinek commented on #8202
cc @nithusha21

[2019-12-16 05:13] Vinit-Dantkale commented on #8114
Okay @Showtim3 , I will add dropdown, check it properly and then open a PR. Thanks man.

[2019-12-16 10:26] Aaryan-kapur commented on #8038
hey @nishantwrp ,
core/templates/dev/head/services/playthrough.service.ts please
Thank you so much!

[2019-12-16 10:28] nishantwrp commented on #8038
@Aaryan-kapur Go ahead!

[2019-12-16 10:33] Aaryan-kapur commented on #8038
thank you so much @nishantwrp , can you please assign me

[2019-12-16 10:40] nishantwrp commented on #8038
I did already

[2019-12-16 10:46] Aaryan-kapur commented on #8038
Thank you

[2019-12-16 14:30] DubeySandeep commented on #8179
@nishantwrp, Thanks for reporting.

@mzaman07, Can you please look into this?

[2019-12-16 14:31] DubeySandeep commented on #8184
@nishantwrp, Thanks for reporting?
(Moving this over to Suggestion and feedback team for first pass.)

@nithusha21, Can you please check this?

[2019-12-16 17:06] DubeySandeep opened #8206 "Accepting suggestion and closing the thread throws error"
**Describe the bug**
After accepting and resolving the thread, a warning shows up
**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish an exploration from user account A.
 2. From another account, B creates a suggestion for the exploration.
 3. From account A accept the suggestion and try clicking the "Save and close" button.
 4. Check the console and a pop.

**Observed behavio

[2019-12-16 17:31] nishantwrp commented on #8206
@DubeySandeep I think #8184 is the same issue?

[2019-12-16 18:22] Showtim3 opened #8208 "Faulty test in SuggestionThreadObjectFactory.ts in the frontend."
Faulty and buggy test cases are present in SuggestionThreadObjectFactory spec file. They are very recently added.

So the things is:
[code]

This is a part of a test block.
The first check signifies that suggestion should be undefined. So far so good, but then since **suggestion** is **undefined**, we are setting the status of that **suggestion** which results in an error and hence the **expect**

[2019-12-16 18:23] Showtim3 commented on #8208
Hey @DubeySandeep Should i remove them?

[2019-12-16 18:27] DubeySandeep commented on #8208
@Showtim3, is it failing on develop?

I would suggest you replace these with the proper tests (instead of removing it completely.). Also, can you please add a link to the PR which introduces these changes?

[2019-12-16 18:37] Showtim3 commented on #8208
Hey @DubeySandeep No they are not failing on develop.

They are introduced in this [PR](https://github.com/oppia/oppia/pull/8136/files)

[2019-12-16 19:26] DubeySandeep commented on #8208
@Showtim3, I took a closer look and found we are calling `setSuggestionStatus`  on suggestionThread not on the suggestion, right?

[2019-12-16 19:31] Showtim3 commented on #8208
Yeah internally, inside the `setSuggestionStatus`, it is using this.suggestion. Also, I just looked at the updated service also, the checks for being falsy(undefined,null etc) are also newly added, which i missed earlier, so the code will work.

[2019-12-16 19:33] seanlip commented on #8208
/cc @marianazangrossi @nithusha21

[2019-12-16 21:15] tyleri opened #8209 "Prevent saving fraction input if there are errors"
**Describe the bug**
When using the fraction input, invalid inputs will show an error message, but the "Save Response" and "Save and Add Another" buttons will still be clickable. When these are clicked, the value 0 will be saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Add an interaction
 3. Click on the "Math" tab and select the "Fraction Input"
 4. Save I

[2019-12-16 21:18] tyleri commented on #7462
Hi @kevintab95. I created the issue here: https://github.com/oppia/oppia/issues/8209

Since the validation does not seem to be a trivial fix and would require many changes, I will attempt to help the Angular team migrate the code from AngularJS and then fix the validation changes. I believe this would be better than rewriting the validation in AngularJS, which will be rewritten in the near future.

[2019-12-16 21:21] kevintab95 commented on #7462
@tyleri sounds good, thanks!

[2019-12-17 02:54] mzaman07 commented on #8179
Ok will take a look into this. Is Manajro is a Linux based OS ?

[2019-12-17 03:19] nishantwrp commented on #8179
Yup

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohammad Zaman <notifications@github.com>
Sent: Tuesday, December 17, 2019 8:24:11 AM
To: oppia/oppia <oppia@noreply.github.com>
Cc: Nishant Mittal <mittalnishant14@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [oppia/oppia] The voiceover error message doesn't get displayed in every tab (#8179)

[2019-12-17 06:42] mzaman07 commented on #8179
@DubeySandeep was the ckeditor firefox fix merged? I'm having trouble following the steps on firefox on my ubuntu machine. I'll try using chrome to replicate this. As a last resort I'll use a vm with manjaro installed to test and replicate this.

[2019-12-17 08:25] DubeySandeep commented on #8179
@mzaman07, I don't think this issue is os/browser dependent, you can reproduce this in any browser/device.

[2019-12-17 08:42] ShivanshRakesh commented on #7450
Hey! I would like to work on:
* `suggestion_services_test.SuggestionIntegrationTests`
* `suggestion_test.SuggestionUnitTests`

[2019-12-17 08:59] Showtim3 commented on #7450
@ShivanshRakesh Ok, Assigned you.

[2019-12-17 11:14] Arnesh07 commented on #8038
Hey @nishantwrp Can I get to work on `core/templates/dev/head/components/entity-creation-services/collection-creation.service.ts` ? And as all the files under `core/templates/dev/head/components/entity-creation-services` are related, maybe I will extend my work to create a common backend service for all these files?

[2019-12-17 11:18] nishantwrp commented on #8038
@Arnesh07 Sure, Go ahead! Assigned you.

[2019-12-17 11:25] Arnesh07 commented on #8038
Just one more doubt, should I be making one common backend service for all these files or a different backend service for each one? @nishantwrp

[2019-12-17 11:27] nishantwrp commented on #8038
Make a new one, if doesn't exist

[2019-12-17 13:18] nithusha21 opened #8214 "Errors appear on refreshing an exploration"
**Describe the bug**
3 error messages are obtained as shown below on refreshing an exploration page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v
 2. Refresh the page.
 4. See error

**Observed behavior**
![image](https://user-images.githubusercontent.com/11898234/70998311-08857480-20fd-11ea-8ed0-cc

[2019-12-17 13:23] nithusha21 opened #8215 "The date shown in the improvements tab seems to be gramatically incorrect"
**Describe the bug**
The date/time displayed in the improvements tab is not correct. For cases where it shows the time, it is correct (it says submitted at "time"). But when it shows the date, it still says submitted at date (e.g. submitted at July 16). This doesn't sound correct.

**Observed behavior**
![image](https://user-images.githubusercontent.com/11898234/70998963-74b4a800-20fe-11ea-8bfb-92

[2019-12-17 17:40] kevintab95 opened #8217 "Trying to add duplicate language code."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-12-17 17:42] kevintab95 opened #8218 "Trying to remove non-existing translation for language code"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-12-17 17:48] DubeySandeep opened #8219 "Allow admin to remove translation and voiceover opportunities for specific exploration in a specific language."
Currently, we have a few explorations in which voiceover and translations already exist so after the initial release of the community dashboard project we have to remove such opportunities.

We need to provide an option for admin to specify the exploration id and then select the opportunity type (either translation/voiceover) and the language to remove the opportunity.

[2019-12-17 19:12] jameesjohn commented on #7493
Hi @hamletv were you able to work on this?

[2019-12-17 21:07] kevintab95 opened #8221 "Editor page fails to load when throttling is enabled and cache is disabled"
**Describe the bug**

In **dev mode**, the editor page fails to load when the network speed is throttled to "Fast 3G" speed and the "disable cache" setting is true in Chrome dev tools.

![Screenshot from 2019-12-18 01-01-37](https://user-images.githubusercontent.com/11008603/71034033-8322b400-213e-11ea-8816-36e0e339ba0e.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the editor p

[2019-12-18 03:56] kevinlee12 opened #8223 "Flaky E2E_TESTS_LEARNER test"
The E2E_TESTS_LEARNER test is flaky. See [log.txt](https://github.com/oppia/oppia/files/3976576/log.txt) for details.

[2019-12-18 06:38] mzaman07 commented on #8179
I see what the issue is just need to use the function that has that message in the hints tab of the html. The function is called getEmptyContentMessage(). This could also apply for the Solution tab as well. The file for this core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation/state-translation.directive.html. The feedback tab has this message in the first sectio

[2019-12-18 07:08] mzaman07 commented on #8179
![Screenshot from 2019-12-17 23-59-45](https://user-images.githubusercontent.com/9009585/71063630-4ea4fd00-212a-11ea-8c3b-4bf0539b7ec2.png)

This is the hints tab after I added the getEmptyContentMessage().

[2019-12-18 08:44] nishantwrp commented on #8179
@mzaman07 I think Solution tab also didn't have a message. Could you please confirm.

[2019-12-18 08:55] nishantwrp opened #8225 "Flaky frontend test"
**Describe the bug**
A frontend test is flaky. It fails some times and the frontend tests abort immediately.

`An error was thrown in afterAll
  Error: Expected false to equal true.
      at <Jasmine>
      at SpeechSynthesis.window.speechSynthesis.onvoiceschanged (core/templates/dev/head/combined-tests.spec.js:19119:58)
HeadlessChrome 78.0.3904 (Linux 0.0.0): Executed 558 of 1422 ERROR (0 secs /

[2019-12-18 09:56] #8019 closed, assigned to kevintab95

[2019-12-18 14:30] Aaryan-kapur commented on #7427
please check : https://github.com/oppia/oppia/pull/8226

@sauravpratihar
@Showtim3

Thank You

[2019-12-18 17:02] ShivanshRakesh commented on #7450
@kevinlee12  The issues:
* `editor_test.ExplorationEditorLogoutTest`
* `library_test.LibraryPageTests`

would also be fixed from the changes that I'll be doing for those in [my previous comment](https://github.com/oppia/oppia/issues/7450#issuecomment-566441591). Hence, pls assign these too.

[2019-12-19 01:59] mzaman07 commented on #8179
Yeah it doesn't have it, so it could be added to it. I will do that and open a PR.

[2019-12-19 18:38] U8NWXD opened #8237 "Skill Cannot Be Created Without Rubrics once Rubrics Modified"
**Describe the bug**
When creating a skill, the `Save` button is clickable after filling out the name and review material so long as the rubrics have not been edited. Once any of the rubrics have been edited, they must all be completed before the skill can be saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as an administrator
 2. In the roles tab of the admin page, give yoursel

[2019-12-19 18:55] U8NWXD opened #8238 "ValidationError when creating topic question"
**Describe the bug**
Error when creating topic question

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create a topic
 3. In the questions tab, create a question associated with the skill you created
 4. Create a multiple choice question with a correct answer and an incorrect answer
 5. Create the question

**Observed behavior**
An error appears: `Expected all answer gro

[2019-12-19 19:02] U8NWXD opened #8239 "Story Explorations Cannot be Played"
**Describe the bug**
Cannot play exploration from story

**To Reproduce**
Steps to reproduce the behavior:
 1. Create topic
 2. In that topic, create a story
 3. Create chapters for the story, linking each to a unique exploration
 4. Go to `/story/[story_id]`
 5. Click on first chapter

**Observed behavior**
An error is displayed, and no exploration is visible.

**Expected behavior**
The explorati

[2019-12-19 19:22] nishantwrp commented on #8225
@seanlip @DubeySandeep PTAL!

[2019-12-19 20:37] karthi07 commented on #4074
@brianrodri  Can i work on this ?

[2019-12-19 20:41] karthi07 commented on #6349
@kevinlee12 @DubeySandeep  Can I work on this issue?

[2019-12-19 21:24] seanlip commented on #8225
FYI, I think @kevinlee12 is looking into this. Assigned him. Thanks for reporting!

[2019-12-19 22:59] #7659 closed, assigned to vojtechjelinek

[2019-12-19 22:59] #7429 closed, assigned to vojtechjelinek

[2019-12-20 01:17] aazuspan commented on #7450
@kevinlee12 `extensions.interactions.base_test.InteractionUnitTests` is completed and merged. Could I be assigned to  `exp_services.test` now? Thanks!

[2019-12-20 04:11] seanlip commented on #8237
@aks681 -- could you PTAL at this, please?

[2019-12-20 04:11] seanlip commented on #8238
/cc @aks681 -- PTAL?

[2019-12-20 04:27] U8NWXD opened #8242 "Skill Rubrics Cannot Be Removed"
**Describe the bug**
Once a skill rubric has been filled out, it cannot be made blank again because blank text cannot be saved in the skill rubric editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new skill
 2. Fill out the name and review material
 3. Click on the filled-in rubric and delete the contents from the editor

**Observed behavior**
The save button is not clickable

[2019-12-20 05:39] kevinlee12 commented on #6349
sure!

[2019-12-20 05:44] kevinlee12 commented on #7450
@aazuspan sure!

[2019-12-20 08:45] nithusha21 commented on #8184
I think this is because the thread is already marked as "closed" in the backend, once it is either accepted or rejected.

I think to ensure this doesn't happen we can refresh the page, so that the changes are reflected in the frontend too.

[2019-12-20 11:46] aks681 commented on #8238
I'm not able to reproduce this error. @U8NWXD Can you tell the exact steps you followed? Did you assign the skill to the topic?

Edit: Nvm, was able to reproduce it, it seems to only occur when the explanation to a default outcome is provided, which is weird, will fix it.

[2019-12-20 11:49] aks681 commented on #8239
This error is occurring because the chapter had no prerequisite skills linked to it as the first step before the chapter is the pretest which requires the skills.
@seanlip Should we prevent chapters from being created with no prerequisite skills or just play the exploration when no skills are mentioned?

[2019-12-20 15:34] sudiptapradhan1181 commented on #7450
Hello! I would like to work on the collection_services_test. I am new to open source contribution and would request for your help for my first PR. Thanks!

[2019-12-20 18:40] Aaryan-kapur commented on #8038
hey @nishantwrp @DubeySandeep

please check : https://github.com/oppia/oppia/pull/8247#issue-355826357

thanks

[2019-12-20 19:01] karthi07 commented on #6349
@seanlip Hi, I have tracked down this issue to the following [file](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/state-directives/rule-editor/rule-type-selector.directive.ts)
I couldn't understand what's happening next. could you provide some directions?

[2019-12-20 20:54] U8NWXD commented on #7450
@ShivanshRakesh I've assigned you

[2019-12-20 20:57] U8NWXD commented on #7450
@sudiptapradhan1181 welcome! I've assigned you to `collection_services_test`. To get started, see [this wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up). In particular, make sure you fill out the CLA and contributor survey if you haven't already

[2019-12-20 23:37] sagangwee opened #8249 "[Question Suggestion Workflow] Add question difficulty/rubrics to question suggestions"
See [here](https://github.com/oppia/oppia/pull/8057#issuecomment-566662872) for more details.

[2019-12-21 00:27] seanlip commented on #6349
Hi @karthi07, I'm afraid I don't know what the cause of this issue is. Part of the aim of solving this issue is to figure out what is happening so that it can be fixed (I suspect the fix might be straightforward and that finding what is going wrong is the hard part).

However, if that's not possible, I suggest picking a different issue for now, and coming back to this one later once you have more

[2019-12-21 00:48] seanlip commented on #8239
Just play the exploration when no skills are mentioned. (Some chapters may legitimately not have prerequisites.)

[2019-12-21 01:07] U8NWXD commented on #6240
@Rubaaw, @lkcbharath, @Aaryan-kapur I've deassigned you from tasks on this issue due to inactivity. If you are working on the task still, let me know and I'll reassign you

[2019-12-21 01:08] U8NWXD commented on #6240
@rohitkatlaa @nishantwrp are you still working on your tasks in this issue? It's not a problem if you're not, please just let me know so I can free the tasks for someone else to work on

[2019-12-21 04:51] #8123 closed, assigned to nobody

[2019-12-21 05:39] nishantwrp commented on #6240
@U8NWXD Ya you can free the task. I didn't get the place where `hints and solutions` were shown. So, couldn't work on this issue.

[2019-12-21 05:51] kevinlee12 opened #8252 "Add newline check at end of file"
From https://github.com/oppia/oppia/pull/8182#discussion_r359572415, the linter is missing a check for newline at end of file (EOF).

[2019-12-21 16:29] hamletv commented on #7493
Hi James. Only some, mostly research as it's my first time attempting to
improve site speed/Jinja. I do want to continue with it but understand if
you need to assign to someone else because of time.

On Tue, Dec 17, 2019 at 11:12 AM James James <notifications@github.com>
wrote:

[2019-12-21 22:23] #8114 closed, assigned to vojtechjelinek, DubeySandeep

[2019-12-22 06:05] #8178 closed, assigned to vojtechjelinek

[2019-12-22 09:32] #8007 closed, assigned to nithusha21

[2019-12-22 12:28] Showtim3 opened #8258 "eslint Error: trailing commas are present in .eslintrc file."
1.) Trailing commas are present in the .eslintrc which shouldn't be there since JSON doesn't allow trailing commas.

2.) The ```rules``` are lexically sorted expect 2-3 properties which were added later.

Ex =>
[code]
![Screenshot 2019-12-22 at 5 48 11 PM](https://user-images.githubusercontent.com/30312043/71321788-9b028b00-24e4-11ea-8487-230b66b0e020.png)

[2019-12-22 17:00] #8258 closed, assigned to Showtim3

[2019-12-22 19:12] U8NWXD commented on #8237
I changed the title to reflect the fact that it should always be possible to create a skill without a rubric

[2019-12-22 19:34] U8NWXD commented on #6240
Thanks for letting me know, I've removed you @nishantwrp

[2019-12-22 19:53] #8237 closed, assigned to aks681

[2019-12-22 19:53] #8238 closed, assigned to aks681

[2019-12-22 19:53] #8242 closed, assigned to aks681

[2019-12-22 20:07] Showtim3 opened #8260 "Travis CI not running the adminPage tests."
The Travis ci is not running the adminTabFeatures.js since adminPage is a newly created test file and it is not added in the ```.travis.yml``` file.

[2019-12-23 03:11] kevinlee12 opened #8262 "Browser timeout on CircleCI frontend tests"
On develop the following error is occurring on CircleCI frontend tests:

[code]

[2019-12-23 05:50] kevinlee12 opened #8265 "Resolve comments from PR #8233"
Resolve the two comments from https://github.com/oppia/oppia/pull/8233. Specifically https://github.com/oppia/oppia/pull/8233#discussion_r360771983 and https://github.com/oppia/oppia/pull/8233#discussion_r360772123.

[2019-12-23 05:50] #8225 closed, assigned to kevinlee12

[2019-12-23 05:50] #8262 closed, assigned to kevinlee12

[2019-12-23 08:14] seanlip opened #8269 "Write a lint check to ensure that the list of files run in .travis.yml matches the contents of the core/tests directory."
An e2e test (profileFeatures.js) has been excluded from ,travis.yml (see #8261) and this was not detected for quite a while.

We should write a check that detects cases where the llist of e2e tests in .travis.yml does not match the files that exist in core/tests/protractor.

/cc @oppia/dev-workflow-team

[2019-12-23 15:19] Vinit-Dantkale commented on #8193
Hey, if this issue is not completely solved then I would like to work with you please.

[2019-12-23 15:30] Vinit-Dantkale commented on #7851
Hey @ankita240796 , I would like to work on this. Can I, please?

[2019-12-23 19:53] kevintab95 opened #8272 "Unit test required for #8214 fix"
The unit test must fail if the fix is reverted.

[2019-12-23 21:37] sagangwee commented on #8249
@DubeySandeep Do we have a designer that can help us with the mockup for the question difficulty placement in the question review modal and for the placement of the question opportunity search bar in the 'Submit Question' tab? Otherwise, should I implement the above at my own discretion?

[2019-12-23 22:02] seanlip commented on #8269
Suggested approach:
- Add a new file scripts/travis_yml_tests.py
- In that file, have a backend test that reads the relevant Travis sections (using utils.dict_from_yaml) and reads the relevant parts in protractor.conf.js (probably using regex to extract the relevant part -- basically, have an identifier for the start and the end, extract that section, and then make a capture group to extract all t

[2019-12-24 00:42] seanlip opened #8274 "Use GCS local file storage in our e2e tests, and remove the "file upload features" special casing."
In https://github.com/oppia/oppia/pull/7839#issuecomment-546217457 we thought we needed to work around the fact that GCS doesn't work in dev mode, and special-case the e2e tests to behave differently in that case.

However, @prasanna08 has told me that GCS actually does have a "dev mode" option, and he has implemented it as part of #8268. We'll also be getting rid of the local datastore-backed fil

[2019-12-24 00:42] seanlip commented on #8274
@U8NWXD, is it OK if I assign this to you?

Also /cc @marianazangrossi for info.

[2019-12-24 00:44] seanlip commented on #8274
(Note also that, with this change, we should rearrange the Protractor test cases accordingly so that they're based only on the feature that's being tested, rather than whether the test makes use of file upload functionality or not.)

[2019-12-24 06:09] seanlip commented on #8249
Hi @sagangwee -- I think Christine is not around currently, so for now, please go ahead and implement the above at your own discretion. We can make small adjustments once she's back, but I don't think this needs to block the implementation. Thanks!

[2019-12-24 06:26] DubeySandeep commented on #8249
I've discussed this with @sagangwee on chat and we have finalized that for now, we are only going to implement the "Allow reviewer to add difficulty for the suggestion" and the search bar functionality will be implemented in future.

[2019-12-24 06:32] seanlip opened #8277 "Refactor object factories for FeedbackImprovementTask and SuggestionImprovementTask to not pass raw dicts around"
This issue stems from a conversation @MartzGub and I had in this PR:

https://github.com/oppia/oppia/pull/8101/files#diff-5ea57caf0f7716c8d5f4ed6a0c45127aR86

Basically, we should have the constructors for these domain objects define this._status, this._subject, this._lastUpdated etc. instead of just copying the backend dict wholesale, since the backend dict is meant to just be a data transfer obj

[2019-12-24 06:34] iamprayush commented on #8252
Hi, I'm new here. I'd like to help out. Could you please guide me as to where to start?

[2019-12-24 09:17] iamprayush commented on #8252
So, I tried to replicate this on my local machine. Upon running pylint on core/domain/collection_domain_test.py as mentioned in [#8182 (comment)](https://github.com/oppia/oppia/pull/8182#discussion_r359572415), it didn't show anything about a newline at EOF missing because there is a newline at the end of that file. I checked and upon removal of that newline, pylint showed this:
`core/domain/colle

[2019-12-24 20:30] kevinlee12 commented on #8252
Hmm, that's interesting, then I guess the scope of this ticket has changed to: find out why the check didn't trigger.

[2019-12-24 20:31] #8265 closed, assigned to kevinlee12

[2019-12-24 22:03] iamprayush commented on #7427
Hello! Can I please be assigned to work on core/domain/exp_domain.py?

[2019-12-25 01:01] kevinlee12 commented on #7427
you got it!

[2019-12-25 01:47] seanlip opened #8284 "Line numbers in Karma test errors are offset by random amounts from the correct value."
**Describe the bug**
When running Karma tests I have found that the line numbers of the errors are offset by random amounts from the correct value.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any test file (the one I was working on was core/templates/head/domain/utilities/language-util.service.spec.ts)
 2. Change one of the expected values to something that's clearly wrong (e.g. "

[2019-12-25 01:48] seanlip commented on #8284
/cc @marianazangrossi -- have you encountered this?

Also /cc @nithusha21

[2019-12-25 02:18] U8NWXD commented on #8274
@seanlip yes, I can take this one. The only remaining e2e test that involves file uploads is adding audio translation, which already has PR #8089. This means all the e2e tests that would be affected by the GCS dev mode transition have already been written. I think it therefore makes sense to focus first on completing #6240 and then change the e2e tests to use GCS dev mode. Let me know if you think

[2019-12-25 02:46] seanlip commented on #8274
Thanks, @U8NWXD! I think your plan makes sense; it sounds good to me.

[2019-12-25 10:07] Showtim3 opened #8289 "ProfileFeatures e2e tests are buggy and failing."
Recently, it was discovered that the profileFeatures.js is not added to the Travis queue(see #8260  for similarity). So upon adding profileFeatures.sj back to the queue, the tests were failing. So the tests in profileFeaturs.js needs to be inspected and fixed and profileFeatures.js needs to be added to the .travis.yml file.

cc @nithusha21 @U8NWXD

[2019-12-25 18:30] ankita240796 commented on #8184
Hi @nithusha21 @seanlip @nishantwrp, I have been trying to fix the tests but I checked the issue today and there are two things:

1. The PR reloads the window after updating the suggestion. Why do we need that? Shouldn't we just allow the suggestion modal to be shown and the user should be able to close that or send a message and close that.
2. Isn't the behavior in the issue a valid thing, the `s

[2019-12-25 19:00] seanlip commented on #8184
Thanks @ankita240796!

I suspect (1) was just an attempt by @nithusha21 at a quick fix, but alternative fixes that don't reload the page would be preferable.

For (2) what do you mean by "message to send"? From what I can tell, the behaviour here is about accepting/rejecting a suggestion, not sending a message.

[2019-12-25 19:10] ankita240796 commented on #8184
Hi @seanlip,

Here is when the error message is displayed:

![ezgif com-crop](https://user-images.githubusercontent.com/15226041/71449676-15970900-2778-11ea-90e8-6c95d9f497f9.gif)

The user clicks on send & close after accepting the suggestion, though the send thing has no function since the user has not entered any message. So, shouldn't the button be disabled or the error message should be `No m

[2019-12-25 19:14] seanlip commented on #8184
That's an odd flow. I think that "Accept" should accept the suggestion without displaying any further dialog boxes, and ditto for "Reject". I think that the bug is that the acceptance/rejection is not being applied on the frontend, and that's why the second modal shows up in its original state.

[2019-12-25 19:17] ankita240796 commented on #8184
I think your point sounds right, I will try to fix this. Thanks!

[2019-12-25 20:08] iamprayush commented on #7427
@kevinlee12 I have created a [PR](https://github.com/oppia/oppia/pull/8288) with necassary changes in core/domain/exp_domain.py. PTAL.

[2019-12-25 22:38] #8260 closed, assigned to Showtim3

[2019-12-25 22:39] kevinlee12 commented on #7427
thanks, I've assigned @aks681 for the first pass of that PR.

[2019-12-26 08:16] iamprayush commented on #7450
Hello! Can I please be assigned to work on `user_query_jobs_one_off_test.UserQueryJobOneOffTests`?

[2019-12-26 08:27] nishantwrp commented on #7450
@iamprayush Assigned you :+1:

[2019-12-26 19:53] yamamashakaa opened #8296 "Displaying right to left languages in the editor dashboard"
**Describe the bug**
The content in the editor dashboard is not being displayed correctly for the RTL languages like Arabic

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in to the system
 2. Go to the creator dashboard from the top right menu
 3. Click on the lesson you want to translate.
 4. Choose translation and voice over from the top menu
5. Choose Arabic language
6.Go to the tex

[2019-12-27 03:09] U8NWXD commented on #6240
@rohitkatlaa I'm unassigning you since I haven't heard from you, but I'm happy to reassign you if you're working on it

[2019-12-27 14:22] #8214 closed, assigned to kevintab95

[2019-12-27 14:23] ankita240796 commented on #7427
Hi @adrijaacharyya, any updates on deploy.py? Please do let us know if you need help. Thanks!

[2019-12-27 14:38] #8184 closed, assigned to nithusha21

[2019-12-27 14:39] #8179 closed, assigned to mzaman07

[2019-12-27 18:00] Vinit-Dantkale commented on #8215
Hey, can I give this a try?

[2019-12-27 18:23] Vinit-Dantkale commented on #6920
Hey, @DubeySandeep I would like to give this a try if it is not fixed. Though, do you want state content container to be fixed and static?

[2019-12-27 21:15] mzaman07 commented on #8296
Hi Yamama, I'm not familiar with Arabic, I have a little demonstration of how the fix will be displaying the text. I'm not sure if this correct. https://codepen.io/mzaman07/pen/OJPjbJJ

[2019-12-27 22:07] yamamashakaa commented on #8296
Hi Mohammad, when I added a ratio to the paragraph it was not shown well in both the editor and the div I enter 5 then : then 6 because I meant 5:6  but it is written 6:5
![image](https://user-images.githubusercontent.com/16443315/71534193-bebf3a00-2905-11ea-9956-1b5453f39950.png)

The direction for the date and the bullets shown well but for the order of the numbers inside a ratio it does not

[2019-12-27 22:39] mzaman07 commented on #8296
Ok I see the numbers have to follow the same system. If you wrote it as 6:5 as opposed 5:6 you would get the desired result. It sounds really counter-intuitive to do. Looks like we need a language-sensitive autocorrect/ correction software or something that translates numbers automatically by understanding what the language naturally displays,reads or writes.

In google translate when you enter th

[2019-12-27 23:12] yamamashakaa commented on #8296
Yes google translates it perfectly in your case because you wrote in english.

Look at the picture below
<img width="960" alt="google" src="https://user-images.githubusercontent.com/16443315/71535462-00a0ae00-290f-11ea-9fc2-babfff09978a.png">

When I am writing Arabic in the text area the number turned over (In the red box) , but the translation is correct.

[2019-12-27 23:26] yamamashakaa commented on #8296
![image](https://user-images.githubusercontent.com/16443315/71535713-8f61fa80-2910-11ea-93a3-19e3a346b6b1.png)

In this example the 10:21 in Arabic is in wrong order while 1:2 is of right order .

[2019-12-27 23:37] yamamashakaa commented on #8296
I am doing voice over and just passed by this
![image](https://user-images.githubusercontent.com/16443315/71535893-70fcfe80-2912-11ea-96ae-96b0ea8cb3eb.png)

The ratio in the green square is displayed in the right order while the one in the red square is displayed in the wrong order(same as the english) .

[2019-12-28 12:44] ankita240796 opened #8300 "Utilize cookies in promo bar directive"
Utilize cookies for tracking when a promo is dismissed. Cookies allow for a longer-lived memory of whether the promo is dismissed. Refer: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/common-layout-directives/common-elements/promo-bar.directive.ts#L66

(This was added as a TODO by @BenHenning)

[2019-12-28 13:13] vojtechjelinek opened #8301 "Implement delete_explorations and delete_collections"
Implement `delete_explorations` in `exp_services` and `delete_collections` in `collection_services` that will take multiple exploration/collection ids and delete them all by using efficient ndb methods like `delete_multi`.

[2019-12-28 17:47] nishantwrp commented on #8215
Sure @Vinit-Dantkale, go ahead!

[2019-12-28 18:20] #8289 closed, assigned to nobody

[2019-12-28 18:33] kevintab95 commented on #8272
Closing this as the unit test was written as part of #8235

[2019-12-28 18:33] #8272 closed, assigned to kevintab95

[2019-12-29 08:44] #7852 closed, assigned to seanlip

[2019-12-29 13:57] U8NWXD opened #8307 "After Finishing Exploration in Story, Not Directed to Next Exploration"
**Describe the bug**
When playing through an exploration in a story, the user should be directed to the next exploration after each exploration they complete.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create 2 explorations with any interactions
 3. Create a topic
 4. In that topic create a story
 5. Create 2 chapters
 6. Set the exploration IDs of the two chapters t

[2019-12-29 14:01] U8NWXD opened #8308 "Locked Chapters in Stories Should Not Be Clickable"
**Describe the bug**
Chapters that are locked should not appear clickable. The UI should indicate they are locked to the user.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create 2 explorations with any interactions
 3. Create a topic
 4. In that topic create a story
 5. Create 2 chapters
 6. Set the exploration IDs of the two chapters to the explorations created above

[2019-12-29 19:38] kevinlee12 commented on #8146
Fixed in https://github.com/oppia/oppia/pull/8186

[2019-12-29 19:38] #8146 closed, assigned to nobody

[2019-12-30 07:07] Vinit-Dantkale commented on #8215
Hey, can you tell me how you produced this behaviour. I got time on 1 occasion and date on other.Basically, for last one i.e 1st in this picture I got time because I had changed date on my local PC.
![image](https://user-images.githubusercontent.com/32016324/71571522-bb43d280-2b00-11ea-8884-6ff9af7ad40a.png)
Asked just to make sure we are looking at same behaviour.

[2019-12-30 09:02] DubeySandeep commented on #8215
Hi @Vinit-Dantkale, Can you please fill-up the contributor's survey form as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in the wiki page?

[2019-12-30 11:20] jameesjohn commented on #7372
Hi @xlogix, are you still working on this?

[2019-12-30 12:09] xlogix commented on #7372
Hi @Jamesjay4199, thanks for the ping. I'll try to finish this PR as soon as possible. If I'm not able to do it, I'll let you know here. :)

[2019-12-30 12:11] jameesjohn commented on #7372
Yeah, okay

[2019-12-30 13:00] U8NWXD opened #8313 "Chapters Not Unlocking after Chapter Completions in Stories"
**Describe the bug**
Chapters that are locked should not appear clickable. The UI should indicate they are locked to the user.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create 2 explorations with any interactions
 3. Create a topic
 4. In that topic create a story
 5. Create 2 chapters
 6. Set the exploration IDs of the two chapters to the explorations created above

[2019-12-30 13:59] MartzGub commented on #8277
Hi @seanlip . Yes I'll have a go at this please.

[2019-12-30 14:13] Vinit-Dantkale commented on #8215
Hey @DubeySandeep , done. Thanks.

[2019-12-30 17:19] sudiptapradhan1181 commented on #8015
Hello! I would like to work on core/templates/dev/head/domain/skill/concept-card
-backend-api.service.ts .

[2019-12-30 18:07] nishantwrp commented on #8015
@sudiptapradhan1181 Assigned you.

[2019-12-30 20:41] seanlip commented on #8277
Sounds good, I've assigned you. Thanks @MartzGub!

[2019-12-31 02:58] seanlip opened #8315 "Karma tests producing error messages in random order"
**Describe the bug**
@tyleri noticed that Karma tests were producing error messages on his machine. Here is a screenshot:

![image](https://user-images.githubusercontent.com/10575562/71608349-78502200-2b35-11ea-94b0-ca0b984a4cca.png)

I thought this didn't happen for me, but on looking closer I realized that the errors occurred much earlier in the trace on my machine

![Screenshot from 2019-12-30

[2019-12-31 06:43] Vinit-Dantkale commented on #8215
Hey, this is the status so far. I tried applying some filter.

![image](https://user-images.githubusercontent.com/32016324/71612365-f825cd00-2bc5-11ea-8f1e-9ec71a48cfa7.png)

Would like hear from you guys.

[2019-12-31 14:47] kevintab95 opened #8318 "String contains an invalid character"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2020-01-01 20:02] iamprayush commented on #8049
I managed to fix this issue by changing the display of oppia-icon-accessibility-label class from block to inline-block.

Then:
![then](https://user-images.githubusercontent.com/35144226/71645500-82258100-2cff-11ea-9fa1-d4c5c35ff073.gif)

Now:
![now](https://user-images.githubusercontent.com/35144226/71645502-8d78ac80-2cff-11ea-8f3b-123deb7a22b0.gif)

If this is acceptable, I can create a PR.

[2020-01-01 21:01] 666even666 commented on #7450
Happy New Year everyone! I would like to try jobs.MapReduceJobPipeline.

[2020-01-01 21:11] seanlip commented on #7450
Happy new year @Ariel-dev! I've assigned you :)

[2020-01-02 14:05] aks681 commented on #7485
Closing this, since #8239 is a duplicate.

[2020-01-02 14:05] #7485 closed, assigned to sophiewu6

[2020-01-02 14:09] aks681 commented on #6994
This issue is completed by #8004 were the `QuestionSummaryForOneSkillObjectFactory` was added.

[2020-01-02 14:09] #6994 closed, assigned to nobody

[2020-01-02 14:10] #8192 closed, assigned to nobody

[2020-01-02 14:15] vipulchhabra99 commented on #7176
Hi @YashJipkate, I would like to work on this issue. Can I take this file` core/templates/dev/head/domain/exploration/ParamChangeObjectFactory.ts
` If it has not been assigned to anyone else.

[2020-01-02 16:52] iamprayush commented on #8049
I have opened a PR with the change. @ankita240796 PTAL

[2020-01-02 19:02] kevintab95 opened #8330 "Multiple Choice and Item selection interactions require a clear message indicating whether one or more choices are expected to be selected"
In the case of Multiple Choice interaction and Item selection interaction, non-technical users are unclear that the radio button means that it is just one answer and that the check box is for more than one answer. There should be a clear message indicating whether the card requires one choice to be selected or whether more choices need to be selected.

![image](https://user-images.githubuserconten

[2020-01-02 19:12] kevintab95 opened #8331 "Add submit button to multiple choice questions."
Currently, Multiple Choice interactions do not have a submit button. We have received feedback from mobile users that this sometimes leads to unintentional submission of answers especially when trying to scroll the page.

This issue was originally reported by @yamamashakaa.

[2020-01-02 19:49] kevintab95 opened #8332 "Slow loading time on mobile"
Improve performance for mobile page loading especially in target regions such as Ghana.

cc. @seanlip

[2020-01-02 21:07] seanlip commented on #6956
Hi @sophiewu6 @vinitamurthi -- question for you. @aks681 and I are trying to understand how to categorize this issue, but please could you remind us why this limit was needed in the first place? We want to understand where it fits in the priority list.

Thanks!

[2020-01-03 12:04] #6601 closed, assigned to donosco99

[2020-01-03 19:01] U8NWXD commented on #2731
Closed in favor of #6240

[2020-01-03 19:01] #2731 closed

[2020-01-03 22:01] seanlip opened #8338 "Flaky e2e test: Completed Collection Section tab takes too long to be clickable"
Flaked in:
* [ ] Recurred in TravisCI job [25901.15](https://travis-ci.com/github/oppia/oppia/jobs/319321782) on PR #9081
* [ ] The original failure was in an unknown job

**Describe the bug**
An e2e test in the learnerFlow.js suite is flaky. We have seen the following error on at least two PR builds (which have nothing to do with the error):

[code]

The aim of this issue is to figure out (throug

[2020-01-03 23:36] dchen97 opened #8339 "No Continue / Return to Library Button at End of Lesson"
**Describe the bug**
One of our facilitators of a user study noticed that at the end of the lesson, they weren't presented with a button at the end of the lesson to either start the next lesson or return to the topic page. Will need to validate that such a button always appears. Perhaps an e2e test to validate this may be needed.

[Link to report](https://docs.google.com/document/d/1EB_tV20UA2YsHt

[2020-01-04 09:18] amey-kudari opened #8340 "Flush stdout in backend tests to get a smaller and output."
Whenever I run backend tests it fills up the entire terminal, and Its hard to scroll back up when needed.
Current workaround is to redirect to another file and making it a background process and run watch on the file tail or switch to another tab.
I feel it will be easier if we could pass an option to only display number of tasks that have not been started and update only that line, and do the sam

[2020-01-04 09:27] amey-kudari commented on #8340
@seanlip @kevinlee12 @vojtechjelinek PTAL

[2020-01-04 10:37] iamprayush commented on #8209
Hey @tyleri, can I try to fix this?

[2020-01-04 10:58] sudiptapradhan1181 commented on #8015
I have refactored the core/templates/dev/head/domain/skill/concept-card
-backend-api.service.ts file, and also refactored the associated files, but when I am trying to push the changes, there are frontend test errors in the /concept-card
-backend-api.service.spec.ts files which I am not able to understand how to solve. Can somebody please tell how to properly refactor the .spec files, like if ther

[2020-01-04 14:32] DubeySandeep commented on #8015
Hi @sudiptapradhan1181, Here are a few links which you can find helpful:
 1. Guidelines for [writing frontend unit tests](https://github.com/oppia/oppia/wiki/Frontend-test-best-practices)
2. As you are writing a test for the API services you'll find the 5th bullet of [this wiki page](https://github.com/oppia/oppia/wiki/Frontend-test-best-practices#best-practices-for-good-tests) helpful.
3. [Jasmin

[2020-01-04 16:40] #8199 closed, assigned to kevintab95

[2020-01-04 17:42] Arnesh07 commented on #8301
@vojtechjelinek are you working on this issue? If not, I would like to work on it.

[2020-01-04 17:43] tyleri commented on #8209
Hi @iamprayush. Sure, go for it! 🙂

[2020-01-04 18:02] vojtechjelinek commented on #8301
@Arnesh07 Yes, I already have a pull request prepared. If you're new to Oppia I will suggest issues with a "good first issue" label, #8015 seems like it needs some people that will work on it.

[2020-01-04 18:04] Arnesh07 commented on #8301
Very well! I will start working on that issue. Thank you @vojtechjelinek

[2020-01-04 18:12] kevinlee12 commented on #8340
Hmm, that might be difficult to do with our setup. I've leave this issue open in the meantime as something we can explore in the future.