[2020-06-05 19:48] nishantwrp opened #9440 "Enable camelCase check for properties."
Currently, we have disabled the camelCase check for properties here

https://github.com/oppia/oppia/blob/fbcc5039c86b0a4d546554103c478f3c9715d585/.eslintrc#L51

As now it is planned that issue #8038 and #8015 will be worked upon alongside Angular Migration. We should be able to enable this check with the following files as exceptions after the codebase is fully migrated to angular and we have fixe

[2020-06-05 19:54] nishantwrp commented on #9415
/cc @vojtechjelinek?

[2020-06-05 19:59] vojtechjelinek commented on #9415
This is not really needed, but it might be nice to update it after every release. @ankita240796 should this be part of the release scripts?

[2020-06-05 22:56] U8NWXD opened #9442 "Delete Un-Migrated E2E Test Code"
Any code in the e2e tests that has not been migrated to async-await can be deleted now since it must be unused.

E2E Test Files:

`protractor_utils/`:

* [x] AdminPage.js
* [x] ClassroomPage.js
* [x] CollectionEditorPage.js
* [x] CommunityDashboardPage.js
* [x] CommunityDashboardTranslateTextTab.js
* [x] CreatorDashboardPage.js
* [x] ExplorationEditorFeedbackTab.js
* [x] ExplorationEditorHistoryTa

[2020-06-06 04:12] kevinlee12 commented on #9314
@Hudda @bansalnitish any plans on this? This will be a great benefit for our linter since this is the job that takes the most time. thanks!

[2020-06-06 04:15] Hudda commented on #9314
@kevinlee12 I will work on this after a few days, right now I am a little behind my GSoC schedule. So at the moment, I am focusing there. thanks!

[2020-06-06 04:20] kevinlee12 commented on #9314
Sounds good. If this will significant time, please talk with Sean and Nitish about schedule impacts.

[2020-06-06 04:33] Hudda commented on #8423
@anmol1point0 I think it is better to have this check in `python_linter.py` file instead of `pylint_extension`. Because it will be easy to get filename there. @kevinlee12 what do you think?

[2020-06-06 04:37] kevinlee12 commented on #8423
Agreed

[2020-06-07 00:48] #9417 closed, assigned to sagangwee

[2020-06-07 06:05] riyasoganii opened #9452 "Error message during voiceovers"
**Description**
Error messages encountered during voiceover translation pertaining to 'Content IDs'

**To Reproduce**
 1. Not able to reproduce the error with direct steps
 2. Likely happened due to fast-paced recording of voiceovers

**Observed behavior**
2 similar error messages popped up during the recording of Hindi translations for place values, chapter 4. This was after completion of 18/167

[2020-06-07 06:30] #9325 closed, assigned to Hudda

[2020-06-07 11:08] nishantwrp opened #9453 "Add type to http requests instead to just the response"
In some `*backend-api.service.ts` files we declare the type of response in the following way

[code]

This should be refactored to the following

[code]

[2020-06-07 15:43] #9372 closed, assigned to iamprayush

[2020-06-07 17:05] U8NWXD commented on #8472
@bansalnitish can I work on `assets-backend-api.service.ts`?

[2020-06-07 17:13] U8NWXD opened #9454 "E2E Flake (classroomPage.js): Editor Welcome modal takes too long to disappear"
Occurred on develop (685cb93) in CircleCI job [oppia/58662](https://app.circleci.com/pipelines/github/oppia/oppia/10363/workflows/f09ce2ef-35b4-4623-ba0a-9404b8bea0b1/jobs/58662)

Log:

[code]

[2020-06-07 17:21] U8NWXD opened #9455 "E2E Flake (collections.js): both angularJS testability and angular testability are undefined."
Occurred on develop (2f5436f) in CircleCI job [oppia/58904](https://app.circleci.com/pipelines/github/oppia/oppia/10394/workflows/087f296a-63cc-4c02-a54c-291a776a27c3/jobs/58904)

Log:

[code]

[2020-06-07 17:33] U8NWXD commented on #7956
Similar flake seen from classroomPageFileUploadFeatures.js:

CircleCI job [oppia/58966](https://app.circleci.com/pipelines/github/oppia/oppia/10404/workflows/27b0637a-4bd8-4863-b5ae-1dfff66fdd4e/jobs/58966) on develop (7a3e233)

[code]

[2020-06-07 23:55] rachelwchen commented on #9429
Yes, thank you!

To start, I think one way to improve clarity is to work on the specificity of the interface text. Right now the text is quite vague and needs clarification, for example:
"(Optional) Nucleus" - how is this optional? Where did the "optional" come from? It's the same text style as "Nucleus" so it almost looks like the original answer choice was "(Optional) Nucleus"
"Note to creators"

[2020-06-08 05:48] sorteg commented on #9453
Can I fix this issue?

[2020-06-08 06:50] ziqixu-research opened #9456 "SSL727 problem during installation"
Hi! I am trying to set up Oppia for the first time. I have already use the correct version of python and tried PYTHONHTTPSVERIFY=0. However, when I run python -m scripts.start, it still shows that IOError: [Errno socket error] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:727). What could I do about that? Thank you!

[2020-06-08 13:57] bansalnitish commented on #8472
Done for you all @U8NWXD, @tushar2407 and @kaylahardie. Please go ahead!

[2020-06-08 15:11] sorteg commented on #8472
Can I work on user-email-preferences.service.ts ?  @bansalnitish

[2020-06-08 15:43] shavavo opened #9458 "Linter Checking file that does not exist"
**Describe the bug**
Linter fails on attempting to lint on a file that does not exist. Happens both locally on computer and remotely on circleci

1. On CircleCI
[code]

2. Locally (it seems to happen on a different file)
[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to PR #9443
 2. Run linters

**Observed behavior**
A clear and concise description of what you have observed.
 1.

[2020-06-08 15:45] shavavo commented on #9458
Assigning based on codeowners file

[2020-06-08 16:01] #9442 closed, assigned to U8NWXD

[2020-06-08 21:00] nishantwrp commented on #9453
@sorteg Sure! I've assigned you the issue!

[2020-06-08 22:41] sagangwee opened #9464 "[Community Dashboard] Surface rejected contribution review reason to contributors"
Currently, when a suggestion contribution is rejected in the community dashboard, the rejected contribution will show a 'Rejected' status under the user's 'Contributions', but the review reason is not displayed. When a user clicks 'View' on a rejected contribution, they should be able to see the review reason in the modal.

[2020-06-08 22:44] sagangwee opened #9465 "[Community Dashboard] Add spacing above the 'Things to Do' header in sidebar."
There's not enough spacing above the 'Things to Do' header. See below.
<img width="929" alt="Screen Shot 2020-06-08 at 3 37 15 PM" src="https://user-images.githubusercontent.com/9004726/84087426-edeed280-a99e-11ea-8ae1-9c1cfe6472e1.png">

You can find instructions for populating data in the dashboard here which is needed to enable review tabs.

Note: For a guide on how to access Oppia's webpages,

[2020-06-09 00:02] mschanteltc opened #9466 "UI issues in the Topics and Skills Dashboard"
### **Notes on what to improve in the Topics and Skills Dashboard:**

 - [x] **Long string overflows vertically**
![Screen Shot 2020-06-11 at 5 30 22 PM](https://user-images.githubusercontent.com/22177674/84455954-986f2b80-ac13-11ea-8075-577b55ea2334.png)

 - [ ] **Top right corner of "Topics" should have a 0 px corner radius**
- The top border above "Topics" also should be thinner to match that o

[2020-06-09 00:04] mschanteltc commented on #9466
Please see issue #9333 for detailed feedback.

[2020-06-09 01:21] OGALI commented on #9453
Can I try too!

[2020-06-09 01:46] OGALI commented on #9453
Im trying to find `backend-api.service.ts` using the search function in vs code, but there are so many. Is there a better way to filter or a subfolder I should look into. In the meantime, I'll continue looking.

[2020-06-09 02:22] anishbadri commented on #9465
@sagangwee Can I take this one?

[2020-06-09 04:38] varuncj02 commented on #8668
Hey guys can I work on the question-backend-api.service.ts

[2020-06-09 05:40] varuncj02 commented on #8668
Hey @Showtim3 can I work on  training-modal.service.ts . I am new to the open source community so would like to start from there

[2020-06-09 08:20] seanlip commented on #9466
Adding one more thing:
- It's quite irritating that I can't click on the topic name to edit it. I would like to do that. It took me quite a while to find the edit option, but that's such a common operation that I think it should be easier to do. (@mschanteltc any thoughts on this?)

[2020-06-09 08:46] seanlip commented on #9466
Btw, one other reason to have the topic editable-on-click is that, when you make the screen small and click the dropdown, the Delete menu option is the one that shows up under the cursor. If there was no confirmation modal I would have deleted the topic and lost a lot of work.

(In the screenshot below, the Delete option is just over the triple dots.)

![Screenshot from 2020-06-09 01-45-45](https:

[2020-06-09 11:18] nishantwrp commented on #9453
@OGALI This issue is already assigned. Only one person is allowed to work on an issue to avoid efforts from getting wasted. Please pick any other issue to work on. Thanks!

[2020-06-09 13:49] rohitkatlaa opened #9471 "Allow literally canvas to create diagrams in the question editor modal"
**Description**
Allow usage of LiterallyCanvas for creating diagrams in the question editor modal.

[2020-06-09 14:11] jivthesh commented on #6240
I am a beginner can I work on this issue

[2020-06-09 15:47] #9382 closed, assigned to shavavo

[2020-06-09 18:17] Showtim3 commented on #8668
Yeah sure @varuncj02 Assigned you.

[2020-06-09 18:53] U8NWXD commented on #6240
@jivthesh absolutely! Take a look at the tasks (each task has a check-box) at the top of this issue under the "Unclaimed Tasks" heading and see if any look interesting. If you're not sure which to choose, I think `Config values should be editable in the config tab.` would be a good place to start

[2020-06-09 19:32] mschanteltc commented on #9466
You're right, tapping the name should redirect to the topic's editor. I added it as a task above.

[2020-06-10 06:09] 100sarthak100 commented on #9465
Can I take it?

[2020-06-10 06:49] DubeySandeep commented on #9465
@anishbadri, Thanks for showing your interest in this issue! :) It looks like a good issue to start with, I'm going to assign you to the issue. Thanks! :) [/cc @aks681]

Hi @100sarthak100, It looks like you haven't signed the CLA yet, would you mind following the [getting started instructions wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? Also, sorry

[2020-06-10 07:26] jivthesh commented on #6240
@U8NWXD I would like to start with Config values should be editable in the config tab.

[2020-06-10 08:39] kevintab95 opened #9478 "Add e2e tests for new structure learner views"
The topic, story, and subtopic viewers need to have e2e tests.

/cc @U8NWXD @aks681 @oppia/lace-team

[2020-06-10 10:04] ankita240796 commented on #6351
@nishantwrp, sorry missed this. Please link all the PRs you made for this issue and feel free to close it then. Thanks!

[2020-06-10 11:46] nishantwrp commented on #6351
@ankita240796 done! closing this.

[2020-06-10 11:46] #6351 closed, assigned to nishantwrp

[2020-06-10 12:08] sajalasati commented on #7450
@kevinlee12 @seanlip Can I please be assigned ` jobs_test.JobRegistryTests` to work with? Thanks!

[2020-06-10 13:35] #8924 closed, assigned to marianadasilvadev

[2020-06-10 13:57] U8NWXD commented on #6240
@jivthesh great, you're assigned!

[2020-06-10 14:43] ankita240796 commented on #7450
Done @sajalasati!

[2020-06-10 15:32] nishantwrp opened #9480 "Error while selecting to one of in param changes"
**Describe the bug**
Error while selecting to one of in param changes

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Go to settings and enable param changes.
 3. Add a param change and select `to one of`.
 4. See error

**Observed behavior**
Error

**Expected behavior**
Should work and show no error.

**Screenshots**
![issue-oppia](https://user-images.githubuserc

[2020-06-10 15:33] nishantwrp commented on #9480
@oppia/lace-team ptal!

[2020-06-10 18:39] anmol1point0 commented on #8423
hi, i would like to work on
"Check to enforce use of Args, Returns and Raises in the docstring."

[2020-06-11 03:49] DubeySandeep opened #9483 "Push doesn't work sometimes even after pre-push hooks pass successfully"
Push doesn't work sometimes even after pre-push hooks pass successfully. This happened for the third time today, though retry works as expected!

![image](https://user-images.githubusercontent.com/16653571/84340497-81eab500-abbe-11ea-82b7-3906aaf67734.png)

**Additional context:**
I tried checking the return value of the push command and found it to be `141`

[2020-06-11 07:30] kevintab95 opened #9485 "Some characters in the Negative Numbers lesson page seem cut off"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/math/negative-numbers'
 2. See 'Negative Numbers just got easier' is cut off.

**Observed behavior**
A clear and concise description of what you have observed.
'Negative Numbers just got easier' seems cut off.

**Expected behavior**
A clear an

[2020-06-11 08:56] #9357 closed, assigned to rohitkatlaa

[2020-06-11 09:25] nishantwrp opened #9486 "Backend tests flake"
Log
[code]

[2020-06-11 09:29] ankita240796 commented on #9415
Makes sense, will add it to the scripts.

[2020-06-11 09:42] nishantwrp opened #9487 "Red text cannot be read in a collection when it overlaps the explo name"
**Describe the bug**
Red text cannot be read in a collection when it overlaps the explo name

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/collection/GdYIgsfRZwG7
 4. See error

**Screenshots**
![issue2](https://user-images.githubusercontent.com/36989112/84370447-e2491900-abf5-11ea-849d-edcb3c213532.png)

**Desktop (please complete the following information; de

[2020-06-11 09:42] nishantwrp commented on #9487
@oppia/lace-team ptal!

[2020-06-11 13:50] sajalasati commented on #8423
Can I please be assigned ` Add check for newline above Args, Raises and Returns.` - the last one?

[2020-06-11 14:13] nishantwrp commented on #9483
@DubeySandeep I'm also experiencing this. Do you also use ssh?

[2020-06-11 16:14] Hudda commented on #9458
@kevinlee12 I tried to solve this problem but didn't find a solution, the file in this issue is created [here](https://github.com/oppia/oppia/blob/e764a00a32af4d4403eb23c72b5dc85350d88aaa/scripts/linters/js_ts_linter.py#L181) but there are problems in opening it. Any idea why this is happening?

[2020-06-11 17:28] kaylahardie commented on #7450
@kevinlee12 @seanlip, I just made a pull request that covers both the draft_upgrade_services_test.DraftUpgradeUtilUnitTests and draft_upgrade_services_test.DraftUpgradeUnitTests (the test_try_upgrade_success method seemed redundant because I was testing what needed to be tested in the class that I was assigned so I removed the method from the class). I'd also like to work on another file. Could yo

[2020-06-11 17:33] nishantwrp opened #9492 "Frontend tests flake"
https://github.com/oppia/oppia/blob/e764a00a32af4d4403eb23c72b5dc85350d88aaa/extensions/objects/templates/svg-filename-editor.component.spec.ts#L389-L394

These tests are flaky. The set timeout should be removed?

/cc @rohitkatlaa

[2020-06-11 17:34] rohitkatlaa commented on #9492
I think this particular test is failing because of two onloader functions. I will look into it asap.

[2020-06-11 17:39] nishantwrp commented on #9492
Thanks!

[2020-06-11 19:25] kevintab95 commented on #9486
@vojtechjelinek #9488 should fix this right?

[2020-06-11 19:28] vojtechjelinek commented on #9486
Yep

[2020-06-11 19:30] kevintab95 commented on #9486
Thanks @vojtechjelinek , closing this issue since #9488 has been merged!

[2020-06-11 19:30] #9486 closed, assigned to vojtechjelinek

[2020-06-11 21:02] seanlip commented on #7450
Done! Thanks @kaylahardie.

[2020-06-12 00:28] sagangwee opened #9498 "[Contributor Dashboard] Translation text not displayed in translate text modal"
**Describe the bug**
The text to be translated is not displayed in the translate text suggestion modal and the 'skip' option button does not seem to do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.oppia.org/community_dashboard'
2. Click on 'Translate Text' tab.
3. Click 'Translate' for the 'What are the place values?' opportunity item.

**Expected behavior**
T

[2020-06-12 00:28] sagangwee commented on #9498
@DubeySandeep May be related to issue #9375, as this particular bug has surfaced recently. PTAL, thanks!

[2020-06-12 00:35] sagangwee opened #9499 "[Contributor Dashboard] Increase subheading width in translate text modal."
The current subheading width is set to 60%, though this results in awkward overflow:
<img width="1675" alt="Screen Shot 2020-06-11 at 4 02 47 PM" src="https://user-images.githubusercontent.com/9004726/84452127-c9e2f980-ac09-11ea-877a-50f09605888d.png">

Ideally, if space is available the subheading should expand to fit the available width.

We also want to fully expand the subheading (Topic - Stor

[2020-06-12 01:30] sagangwee opened #9500 "[Contributor Dashboard] Loading dummy data from admin page should populate translation opportunities"
Specifically, the 'Load dummy new structures data (only admins)' action in the 'Activities' tab of the admin page:
![2020-06-11](https://user-images.githubusercontent.com/9004726/84455194-89877980-ac11-11ea-871c-af02ad2aea59.png)
This will help our velocity when developing the translate text tab.

[2020-06-12 04:15] kevinlee12 commented on #9458
Can you check the permissions of the file?

[2020-06-12 06:09] Hudda commented on #9458
@kevinlee12 Sorry but I don't get what do you mean by permissions.

[2020-06-12 06:32] brianrodri opened #9502 "Discriminated unions for Customization Args"
The customization args in our codebase are currently being migrated to use [union types](https://www.typescriptlang.org/docs/handbook/advanced-types.html#union-types) instead of the pre-existing convention of `any`. For example:
https://github.com/oppia/oppia/blob/dec1135d9da71daec3f00f268657a6a10f239b6d/core/templates/services/state-interaction-stats.service.ts#L41-L44
https://github.com/oppia/op

[2020-06-12 06:33] brianrodri commented on #9502
/cc @seanlip @vojtechjelinek @nishantwrp

[2020-06-12 07:00] Hudda commented on #8423
@anmol1point0 I've assigned you.

[2020-06-12 07:02] Hudda commented on #8423
@sajalasati This check is already implemented. Can you pick another one?

[2020-06-12 07:38] sajalasati commented on #8423
@Hudda What about `Enforce that PEP8 naming convention is followed`? Can I take that?

[2020-06-12 07:47] vojtechjelinek commented on #9502
Hmm, I think this makes sense, we can start to slowly introduce this.

[2020-06-12 10:12] nishantwrp commented on #9502
I agree with @vojtechjelinek.

[2020-06-12 11:25] Hudda commented on #8423
@sajalasati I've assigned you.

[2020-06-12 12:38] anmol1point0 commented on #8423
@Hudda for,
"Check to enforce use of Args, Returns and Raises in the docstring."
I have few questions.
1. For this, do I need to apply this check on every python file(including test file,linter file and non test file) in the codebase?
2. There are some methods,who don't have all the three in it, (args,return and raises). like some
    methods has "self" only as argument or there is no exception th

[2020-06-12 14:17] vojtechjelinek commented on #9502
@brianrodri How would this work with the basic types? If we have:
[code]
would everything work correctly even with the basic `string` type? Or do we need to define something like
[code]

[2020-06-12 14:54] brianrodri commented on #9502
Yes, I think we'd need to define an additional type. That's why I think this only really makes sense for objects like customization args.

[2020-06-12 15:57] kevinlee12 commented on #9458
This is as in if the current user has access to the file (ie, can you open
it manually?)

On Thu, Jun 11, 2020 at 11:09 PM Anshul Hudda <notifications@github.com>
wrote:

[2020-06-12 18:15] DubeySandeep commented on #8833
@jameesjohn, If it was fixed in #9178 then why we have [introduced TODO(#8833) comment](https://github.com/oppia/oppia/pull/9178/files#diff-282ed8aaa71018b8c828dbf28c254058R4) in the same PR.

[2020-06-12 18:48] jameesjohn commented on #8833
@DubeySandeep, this has been fixed for all pages with the exception of exploration player and editor because guppy is used in these pages and guppy requires the listeners to not be passive.

[2020-06-12 21:19] sagangwee opened #9509 "[Contributor Dashboard] Set reviewer IDs for new question suggestions to None instead of empty string."
[Code](https://github.com/oppia/oppia/blob/develop/core/templates/pages/community-dashboard-page/services/question-suggestion.service.ts#L32)

When a new question suggestion is created, the reviewer ID fields are set to empty strings. This is causing data validation issues in the user ID migration (replacing the existing user IDs with a new format that are sure to be unique), as fields that are no

[2020-06-12 21:20] vojtechjelinek commented on #9509
Also, add some validation to the `last_reviewer_id` in places where it makes sense.

[2020-06-12 21:38] seanlip commented on #9509
Specifically, please make sure that all the fields of each domain object are fully validated (with a validate() function) before any PUT to the datastore.

We should do an audit to list all models which don't have a corresponding validate() before PUT, otherwise this sort of thing is going to cause us more problems in the future. Ideally validate() is an automatic mandatory part of the PUT pipelin

[2020-06-12 21:42] vojtechjelinek commented on #9509
More specifically for all the fields that contain user IDs we should do specific checks (right now we have https://github.com/oppia/oppia/blob/develop/core/domain/user_id_migration.py#L47 for the new IDs format, which might be later moved maybe to user_services.py)

[2020-06-13 14:43] Hudda commented on #8423
@anmol1point0

Yes, you need to check all python files.

You don't need to use all three, use only those which are needed.

pylint_extensions.py

[2020-06-13 15:23] srijanreddy98 opened #9521 "Add lint tests for oppia-angular-root.component.ts and specs for oppia-root and oppia-angular-root"
The pr #9479 introduces two new files `oppia-angular-root.component.ts` and `oppia-root.directive.ts`.  For the sake of unblocking contributors, no tests were added to speed up the review process. Similarly, lint tests are required for `oppia-angular-root.component.ts` because it has a structure.

[2020-06-13 17:30] #9492 closed, assigned to rohitkatlaa

[2020-06-14 01:36] nishantwrp opened #9524 "e2e file upload tests flake"
Recently experiencing this flake a lot
[code]

[2020-06-14 04:59] anmol1point0 commented on #8423
thanks @Hudda, I think "Check to enforce use of Args, Returns and Raises in the docstring."
 is already implemented,
scripts/linters/pylint_extensions.py line number 232,
( class DocstringParameterChecker(checkers.BaseChecker)  ),
can you confirm?

[2020-06-14 17:39] nadintamer opened #9526 "Timestamps show NaN when not playing voiceover in translations tab"
**Describe the bug**
In the translations tab of the create exploration player, the timestamps for a recording show NaN when the recording is not being played.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Go to the translations tab
 3. Record a voiceover for one of the components

**Screenshots**
<img width="469" alt="Screen Shot 2020-06-14 at 20 23 52" src="http

[2020-06-14 17:42] nadintamer opened #9527 "Audio distorted when playing voiceovers for explorations"
**Describe the bug**
When playing voiceovers in the exploration player, the audio was distorted to the point where I couldn't understand what was being said. I am not sure if this is reproducible, or something that is wrong with my connection/machine.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Record voiceovers for the exploration
 3. Open the exploration in t

[2020-06-14 19:51] kevintab95 opened #9528 "Spacing between the final card container and the exploration ratings UI looks weird"
**Describe the bug**
A clear and concise description of what the bug is.
![stars-div](https://user-images.githubusercontent.com/11008603/84602573-06cb1c80-aea6-11ea-9186-ca2623999f8b.png)

The spacing between the final card container and the exploration ratings UI and it looks weird.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a collection with atleast 2 explroations.
 2. Play th

[2020-06-15 03:24] jimbyo opened #9530 "Make it easier for users to upload thumbnails"
**Is your feature request related to a problem? Please describe.**
It's a little difficult when creating a topic on the topic and skills dashboard because you need to upload an SVG image with very specific requirements to publish the topic.
<img width="559" alt="Screen Shot 2020-06-14 at 8 17 50 PM" src="https://user-images.githubusercontent.com/35385366/84614909-585eb180-ae7c-11ea-9a4a-605addc0ee

[2020-06-15 03:38] sainanee commented on #8472
@bansalnitish Can I work on **topic-rights-backend-api.service.ts**?

[2020-06-15 04:09] jimbyo opened #9531 "Unable to preventDefault inside passive event listener invocation"
**Describe the bug**
When you create a new question in the topic editor. If you select the Image Region interaction the console shows the `Unable to preventDefault inside passive event listener invocation` error

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia. (as admin, if locally).
 2. Go to the topics and skills dashboard
 3. Publish a topic and skill
 4. Go back to the to

[2020-06-15 06:06] bansalnitish commented on #8472
Yes sure, please go ahead.

[2020-06-15 08:27] divyanshutewari17 commented on #9465
Can I work in this issue?

[2020-06-15 08:27] #9354 closed, assigned to DubeySandeep

[2020-06-15 08:34] divyanshutewari17 commented on #9245
@DubeySandeep  May I work on this issue?

[2020-06-15 09:04] rohitkatlaa opened #9532 "Filter not working for skills in topics and skill dashboard"
**Describe the bug**
The filter functionality doesn't seem to work for the skills in the topics and skill dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a few skills in the topics and skills dashboard.
 2. Try to use the filter option to filter the skills.

**Observed behaviour**
There is no change in the displayed skills. i.e the filter is not being applied.

**Expected

[2020-06-15 09:43] nithusha21 opened #9533 "Highlight on the sign in button seems off"
**Describe the bug**
Highlight on the sign in button seems off in the test server.
![image](https://user-images.githubusercontent.com/11898234/84641810-39622d00-af19-11ea-8e20-2011ba612eb8.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the [test server](https://oppiatestserver.appspot.com/)
 2. See error

**Observed behavior**
The highlight on hover is off..

**Desktop (please c

[2020-06-15 13:24] nishantwrp opened #9536 "Author Profiles bar overlaps bottom of card"
**Describe the bug**
Author Profiles bar overlaps bottom of card

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/3wTBeOE_2Y4O
 4. See error

**Screenshots**
![release-testing](https://user-images.githubusercontent.com/36989112/84662612-ad143200-af39-11ea-8098-4221d066abb9.png)

[2020-06-15 13:32] nishantwrp opened #9537 "Notification in preferences page"
It is mentioned in the preferences page that the changes would be saved automatically. But there should a kind of notification or message that confirms that my changes are autosaved.

[2020-06-15 15:31] iamprayush opened #9538 "Add to playlist button not visible on mobile."
**Describe the bug**
The "Add to playlist" button is not visible until clicked on mobile devices. This is because it only appears upon hovering over the card which is not possible on touch-based devices. So, there is no way for a new user to know how to add the exploration to a playlist.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/library on a m

[2020-06-15 17:00] srijanreddy98 opened #9540 "UI enhancement for open issues notification in exploration editor page"
## This is not a logical bug. Raising an issue for UI enhancement.

I feel that the way the number of open issues shown in the creator dashboard is a bit confusing. For starters, it comes underneath the revisions icon. I kept clicking it for few times before realizing that it was the history tab. I think the natural placement of such items is either top right or bottom right. Here I think it is pl

[2020-06-15 17:51] Hudda commented on #9458
@kevinlee12 The file is not being created at all. So I can't check the permission. I am having problems with this issue, is it possible if you take over this issue? Thanks!

[2020-06-15 18:02] Hudda opened #9541 "Exploration editor’s statistics tab is not being updated."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration editor's statistics tab

**Observed behavior**
There are no statistics. Plus, the views on the exploration are not updating.

**Expected behavior**
The number of views should be updated and there should be statistics.

**Screenshots**
![Screenshot from 2

[2020-06-15 18:13] Hudda opened #9542 "Text bar seems out of place"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration creation page
 2. Click on Add response inside the interaction tab

**Observed behavior**
Text bar seems out of place

**Expected behavior**
The text bar should fit perfectly on the screen.

**Screenshots**
![WhatsApp Image 2020-06-15 at 23 35 22](https:

[2020-06-15 19:34] sajalasati commented on #8423
Hi @Hudda ! I have this doubt: PEP8 naming convention has lots of naming styles. Which ones are we exactly aiming at under this issue? I had a look at the comment. What I understood till now is that - we want to ensure that the string-key for all dictionaries in all python files should be in snake_case. But is that it? I am not sure what all other cases need to be covered. Can you state them (if p

[2020-06-15 21:09] aks681 opened #9547 "Mobile view for learner dashboard isn't formatted correctly"
**Describe the bug**
Mobile view for learner dashboard isn't formatted correctly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the learner dashboard on a mobile device

**Observed behavior**
Screenshot:
![image](https://user-images.githubusercontent.com/22347970/84706254-4a8f5600-af7a-11ea-9600-9fe361d9984d.png)

**Expected behavior**
It should be formatted for a mobile screen, cor

[2020-06-15 23:37] tonadev commented on #8472
@bansalnitish Can I work on exploration-summary-backend-api.service.ts?

[2020-06-16 05:50] nithusha21 opened #9550 "The topics and skills dashboard pages don't change when clicking numbers"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11898234/84736150-ce6d3080-afc2-11ea-96f8-98654d4d94cf.png)
On hovering over the number 2 in the right, the pointer changes to the click pointer, but on clicking nothing happens. The functionality works while using the left/right buttons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic and skills dashboa

[2020-06-16 08:34] iamprayush opened #9552 "Provide an on-screen keyboard for the math editor."
**Is your feature request related to a problem? Please describe.**
Currently, new math interaction (algebraic expression input) is not mobile-friendly.
**Describe the solution you'd like**
Guppy provides an on-screen keyboard functionality for this issue. We need to properly design the keyboard such that it is user friendly and easy to use.
**Additional context**
This should be done before July's

[2020-06-16 16:00] Hudda commented on #8423
@sajalasati we just need to enforce snake_case for everything except class names.

[2020-06-16 16:08] vojtechjelinek commented on #9502
@brianrodri Can you maybe enumerate the places where this needs to be done?

[2020-06-16 16:11] sajalasati commented on #8423
@Hudda As far as I have seen classes already have camel case. I want to just make sure I understood "everything" properly - it includes all variable names like a function definition, any general variable (lists, dictionary names etc) right?
But as a link to [this](https://github.com/oppia/oppia/pull/8868#issuecomment-602290760) comment was given, I have this doubt - am I enforcing it only on varia

[2020-06-16 16:18] Hudda commented on #8423
@sajalasati Actually, I have doubts regarding this, maybe @nishantwrp will answer this question better. @nishantwrp Do we need this check for the dictionary's keys as well?

[2020-06-16 16:20] sajalasati commented on #8423
@Hudda can you please have a look at the edit in my comment also? Thanks!

[2020-06-16 16:23] Hudda commented on #8423
@sajalasati Sorry, my bad, edited it to snake_case

[2020-06-16 16:55] nishantwrp commented on #8423
@Hudda @sajalasati We are talking about python files only, right? If yes, then yeah we can have the check for dictionary keys.

[2020-06-16 16:59] U8NWXD opened #9555 "E2E Flake (userJourneys.js): both angularJS testability and angular testability are undefined"
CircleCI job [oppia/59478](https://app.circleci.com/pipelines/github/oppia/oppia/10462/workflows/80007bd1-7065-4c8f-8b45-69b44e8742ee/jobs/59478)

Log:

[code]

[2020-06-16 17:02] U8NWXD opened #9556 "E2E Flake (preferences.js): Expected 'Junior student from USA' to match 'Junior student from USA studying CS!'."
Failed in CircleCI job [oppia/59200](https://app.circleci.com/pipelines/github/oppia/oppia/10426/workflows/1d45ab1e-00ab-4759-bb62-9e3680d03449/jobs/59200)

Log:
[code]

[2020-06-16 17:16] nadintamer commented on #9404
I also saw a flake on preferences.js.
Source: #9505
Job: [CircleCI](https://app.circleci.com/pipelines/github/oppia/oppia/10734/workflows/4b2ba0f2-032e-4af5-9117-dc246f280470/jobs/61782)
[code]

[2020-06-16 18:25] kaylahardie opened #9557 "Can't get past warnings when trying to publish an exploration"
**Describe the bug**
I was taking part in release 3.0.0 testing and was trying to create a simple exploration but kept getting an uninformative warning when hovering over the edit icon: 'The following card has errors: Introduction'. I couldn't find a more descriptive error message and so I got stuck and couldn't publish the exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create

[2020-06-16 18:27] anmol1point0 commented on #8423
@Hudda PTAL, at my comment, been waiting for the clarification on this, thank you.
https://github.com/oppia/oppia/issues/8423#issuecomment-643718722

[2020-06-16 18:46] kevintab95 opened #9558 "Console errors in the Question Editor"
**Describe the bug**
A clear and concise description of what the bug is.
Console errors show up when trying to create a question.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/topic_editor/GJ2rLXRKD5hw#/questions'
 2. Click on 'Create Question'
 3. Select an existing skill from the skill list dropdown.
 4. See console errors.

**Observed behavior

[2020-06-16 18:46] kevintab95 commented on #9558
Assigning @aks681 since he is currently looking into this issue.

[2020-06-16 18:59] marianadasilvadev opened #9559 "UrlInterpolationService error on Topic viewer page"
**Describe the bug**
![Screenshot from 2020-06-16 15-17-20](https://user-images.githubusercontent.com/34922478/84813353-3bde8880-afe6-11ea-90a0-8477d41844a7.png)
![Screenshot from 2020-06-16 15-26-57](https://user-images.githubusercontent.com/34922478/84813375-46008700-afe6-11ea-8561-b8e1b0d4ea3a.png)
These errors happen whether revision and lessons tab doesn't have a thumbnail on the page.

**To

[2020-06-16 19:03] kevintab95 commented on #9536
Closing this because it has been fixed by a53c377. #9520 will be cherry-picked for the release. Thanks for reporting @nishantwrp!

[2020-06-16 19:03] #9536 closed, assigned to nobody

[2020-06-16 19:06] kevjumba commented on #4057
Can you assign me this file?
 M - Y StatesObjectFactory.ts

[2020-06-16 19:14] kevintab95 commented on #9541
Hi @Hudda, I think you might have missed a few steps while testing. Can you please take a look at the steps mentioned [here ](https://docs.google.com/document/d/1V0oVC2oeQgl8rQ6SIZXJYXN17D7SuSEjUI7kBp2o-8I/edit#heading=h.y7mjxq8vrdvu) and confirm if this issue still exists after following those steps?

[2020-06-16 19:17] kevintab95 commented on #9532
@Showtim3 should the filter be hidden for skills?

[2020-06-16 20:44] kevintab95 commented on #9540
This is a good suggestion. We don't seem to show "closed" or a different status for the threads count. In that case can we simply show the number like @srijanreddy98 suggests? @aks681 @oppia/lace-team what are your thoughts?

[2020-06-16 20:51] kevintab95 commented on #9526
I think this is expected. @DubeySandeep @mzaman07 can you please confirm?

[2020-06-16 20:59] kevintab95 commented on #9527
Hi @nadintamer! I tried this out and noticed that I get distorted audio if I had recorded using my laptop's built-in microphone but it worked fine when I recorded using a dedicated microphone. How did you record the audio?

Also, @mzaman07, @DubeySandeep is this expected?

[2020-06-16 21:01] nadintamer commented on #9527
@kevintab95 Yes, I did record using a built-in microphone!

[2020-06-16 21:18] aks681 commented on #9527
Just to add, I had tried recording with my in-built mic on Chrome on Windows and there were no issues.

[2020-06-16 21:25] aks681 commented on #9540
Yup, changing it to just show the count sounds good and maybe move it to bottom right as well (as mentioned).

[2020-06-16 21:26] kevintab95 commented on #9538
Hm, @iamprayush did you test this on a physical device? I tried it out on a physical mobile device and found that it shows a kebab menu (3 vertical dots), clicking on it showed the option to play later:
<img src="https://user-images.githubusercontent.com/11008603/84828914-75de7780-b044-11ea-9720-52a9050df0da.jpeg" width="300">
<img src="https://user-images.githubusercontent.com/11008603/84828923-7

[2020-06-16 22:31] kevintab95 opened #9561 "Unable to view stats for a state after the modal for that state was closed once"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to view stats for an exploration state after the modal for that state was closed once

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as User A with admin privileges.
 2. Create an exploration with text input interaction in the first state and correct answer for that leading to a second state with an end i

[2020-06-16 22:32] kevintab95 commented on #9561
Hi @brianrodri, can you confirm if this is an issue? Thanks!

[2020-06-16 22:55] jimbyo opened #9562 "Loading the about webpage shows a flash of incomplete content."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Click on the about page tab on the navbar
 2. Get redirected to the about page
 2. See error

**Observed behavior**
It the first few seconds of the load it shows these place holder texts like I18n_about
**Expected behavior**
It should just show nothing and go to the

**Sc

[2020-06-16 23:01] iamprayush commented on #9538
@kevintab95 I'd only emulated a mobile browser. I just tried it on a physical device as well and it works. Thanks for pointing it out, I'm closing this issue.

[2020-06-16 23:01] #9538 closed, assigned to nobody

[2020-06-16 23:30] kevintab95 commented on #9429
Hi @rachelwchen,

This optional because it may be that the specific question does not need to explicitly address this misconception. It may not be relevant to it. Also, "(Optional)" should not be considered part of the original misconception name. I'm thinking we could change it to a different style eg. italics or full caps or different color?

Yes, I think this will always come from the admin. Th

[2020-06-16 23:35] kevjumba commented on #8165
@kevinlee12 I would like to attempt this, is this issue still open? I checked and it doesn't seem like the person on the issue right now is working on it.

[2020-06-17 00:58] brianrodri opened #9565 "utils.get_time_in_millisecs returns invalid values"
**Describe the bug**
Implementation of `utils.get_time_in_millisecs` is currently broken.
https://github.com/oppia/oppia/blob/c7e60d8fe471b21fb38ed6520292164fc0ed0f50/utils.py#L408-L418

Specifically, `time.mktime` is being passed in an invalid value. According to its [documentation](https://docs.python.org/2/library/time.html#time.mktime), the argument should be a `struct_time` with **_the local

[2020-06-17 00:59] brianrodri commented on #9565
/cc @seanlip

[2020-06-17 01:46] U8NWXD commented on #9404
@nadintamer could you add this to the tracker sheet?

[2020-06-17 02:43] seanlip commented on #9429
Yes, the note will always come from admins (who implement the skills). The creator of a question will typically not know who the admin is / topic manager is. The admin is the person who looks after the overall skill tree (which, for basic mathematics, is currently me).

[2020-06-17 02:46] rohitkatlaa opened #9566 "Could not create skills and topic in mobile view"
**Describe the bug**
There is no link to create a skill or a topic in the mobile view when there is no existing topics and skills. And when there is a topic, the filter box has cramped the place creating a lot of problems in the responsiveness.

**To Reproduce**
Steps to reproduce the behavior:
 1.Go to the mobile view of the browser.
 2.Go to the topics and skill editor.

**Observed behavior**
No

[2020-06-17 02:54] rohitkatlaa opened #9567 "The side navbar doesn't seem to open above 770px width"
**Describe the bug**
The sidebar doesn't seem to open above 770px width even though there is a button to open it.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go Topics and skill dashboard
 2. Go to the mobile view and try clicking the hamburger button at top left corner.

**Observed behavior**
No side nav bar doesn't open.

**Expected behavior**
Either the button should be hidden or the

[2020-06-17 02:59] rohitkatlaa opened #9568 "Could not create or access the navbar options in the story editor"
**Describe the bug**
Could not create or access the navbar options in the story editor i.e the topic, subtopic, questions,preview, save and publish buttons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a story.
 2. Go to the story editor.
 3. Open the mobile view.

**Observed behavior**
The navbar options are hidden.

**Expected behavior**
The navbar options should be displayed, p

[2020-06-17 03:02] rachelwchen commented on #9429
Thanks @kevintab95 & @seanlip!
1. For the "(Optional)", I think if we make it look more like a tag/label, it'll help distinguish that. Throwing some ideas out there -- perhaps something like these?
![image](https://user-images.githubusercontent.com/12159451/84850103-c2599100-b00b-11ea-9b64-9dc982d8da1f.png)

2. For "Note to creators" -- I think the label might be clearer if it says "Note from admi

[2020-06-17 03:14] seanlip commented on #9429
Just for the last two ... for (2), how about "Note from curriculum team" (since "admin" is kinda vague), and for (3), how about "Use pre-written feedback for these answers" (would that be clearer? Not sure.)?

[2020-06-17 03:32] kevinlee12 commented on #8165
go for it!

[2020-06-17 03:35] kevjumba commented on #8165
@kevinlee12 can you give me some more specific details on what exactly you're looking for
Specifically, I have a docstring that is surrounded by """. Currently all of the docstrings have a syntax like this
"""Add AppStats recording.
This also sets the level of appstats log messages to 'debug' by
monkey-patching. For details, see:
    https://stackoverflow.com/questions/4305243/disable-appstats-log

[2020-06-17 03:40] seanlip commented on #8165
See the comment linked in the first comment of this thread for an example: https://github.com/oppia/oppia/pull/8130#discussion_r355927252

Under "Args", "Raises", "Returns" sections, each new stanza should be indented by 4.

For each arg in "Args" and "Raises", continuation lines (if the description wraps to the next line) should be indented by 4. This is not needed for "Returns" because there's a

[2020-06-17 03:42] kevinlee12 commented on #9458
sure.

On Mon, Jun 15, 2020 at 10:51 AM Anshul Hudda <notifications@github.com>
wrote:

[2020-06-17 03:55] rachelwchen commented on #9429
For 2), I think "Note from curriculum team" would work, as long as the creator knows what/who the "curriculum team" is in this context. I thought about "Note from Oppia" but that might not hold true if the curriculum team member is not someone from Oppia...

For 3), my concern with introducing a new term ("pre-written feedback") is that the addition might be confusing, since it requires the user t

[2020-06-17 04:45] mzaman07 commented on #9526
nope, this is not expected, my [PR](https://github.com/oppia/oppia/pull/9088) fixes this.

[2020-06-17 04:54] mzaman07 commented on #9527
No this is not expected in general. This could be caused by a lot of possibilities and be hard to reproduce. To narrow the possibilities, I have a couple of questions.

- How many browser tabs and other programs did you have open when this was tested?
- Have you tested the mic recording via another site or another program? Does that recording sound choppy?

[2020-06-17 06:43] Hudda commented on #8423
@anmol1point0 You are right, can you pick another one?

[2020-06-17 07:34] kevintab95 commented on #9526
Thanks for confirming @mzaman07! I'm adding this to blocking bugs. Please make sure to prioritize this task, we need to get the PR in ASAP.

[2020-06-17 07:36] kevintab95 commented on #9527
I had approximately 20 tabs open on Chrome.

I haven't tried recording on other sites but I have not faced this issue during video calls. Does that help?

[2020-06-17 08:03] kevintab95 commented on #9527
Hi @mzaman07, can we try to fix this ASAP? I would suggest that if it is hard to pin down the exact cause of the issue, we should inform the user about what steps are to be taken to ensure that the audio does not distort. eg. Use a dedicated mic or reduce number of open tabs.

[2020-06-17 08:04] #9466 closed, assigned to mschanteltc, Showtim3

[2020-06-17 09:30] seanlip commented on #9429
Hm, I don't really have strong opinions, those were just suggestions. Happy to defer to the general consensus on these.

Thanks!

[2020-06-17 09:32] darksun27 opened #9569 "Thanks Page Banner and Card Overlapping"
**Description of bug**
Thanks Page does not cover the whole view-height of the page. Background Banner and Card layout overlap each other, which leads to the footer coming a little up.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppia.org/thanks

**Observed behavior**
Observed the footer to be not in position at the end of the page.
Banner and Card overlapping each other.

[2020-06-17 10:16] sajalasati commented on #8423
@Hudda For my part, I am thinking of modifying `.pylintrc` by using the regex for snake_case as following:
[code]
I picked it from [here](https://github.com/daveoncode/python-string-utils/issues/1#issuecomment-585320245) and added a`_`, so that a variable name can start with a underscore too. I am thinking of using it in regex for the following (in that file): _function-rgx, method-rgx, variable-r

[2020-06-17 10:24] seanlip commented on #4057
Done @kevjumba!

[2020-06-17 10:43] sainanee commented on #8472
@bansalnitish Can I work on **question-player-state.service.ts**?

[2020-06-17 11:12] darksun27 opened #9571 "Gracefully Shutdown Server"
While exiting the development server we get a traceback call due to the keyboard interrupt(SIGINT) signal. This error is not handled gracefully.
**Screenshot**
![gracefull_exit](https://user-images.githubusercontent.com/31998550/84891368-63eaec00-b0b9-11ea-9761-d36518e12780.png)

**Solution:**
Add a ```try``` and ```except``` block over the ```process.wait``` in the start script

[2020-06-17 12:40] krishnarao22 commented on #6240
Hi @U8NWXD, may I please be assigned to the misc tab on `adminTab.js`?

[2020-06-17 14:07] #8190 closed, assigned to nobody

[2020-06-17 16:38] nishantwrp commented on #9502
Hi @brianrodri,

I'm experiencing an issue with this method.

Like if there is an interface
[code]
then doing this

[code]

gives an error
Type `string` is not assignable to type `hello`;

**UPDATE**: Got it! There are two ways of doing this.

[code]

OR

[code]

[2020-06-17 17:35] kevintab95 commented on #9429
Thanks for the suggestions @rachelwchen! I tried some of there suggestions out and created a mockup.
![colorbutton](https://user-images.githubusercontent.com/11008603/84929889-18066a00-b0ee-11ea-99dd-26da8d2ab2a1.png)
![outlinebtn](https://user-images.githubusercontent.com/11008603/84929891-1b015a80-b0ee-11ea-99cf-9e7396607344.png)

I feel the text you had suggested for (2) and (3) seem fine from

[2020-06-17 18:25] brianrodri commented on #9502
Yup, that's what I was going to mention.

[2020-06-17 20:39] Showtim3 commented on #9550
Fixed by #9474.

[2020-06-17 20:39] Showtim3 commented on #9532
Fixed in #9474.(Made the filters hidden for skills)

[2020-06-17 20:40] #9532 closed, assigned to Showtim3

[2020-06-17 20:40] #9550 closed, assigned to Showtim3

[2020-06-17 21:35] shavavo commented on #9458
Hi all, I've identified the problem but not sure how to proceed:

The file path returned from _compile_ts_file is `oppia/tmpcompiledjsXXXXXX/translation-language-select.component.js`, but the files generated by _compile_ts_file have a different structure:

![Screen Shot 2020-06-17 at 5 24 22 PM](https://user-images.githubusercontent.com/33111844/84952920-bf6ca800-b0c0-11ea-9565-2e5a140172ff.png)

[2020-06-18 02:06] brianrodri commented on #9561
Yup this was a real issue, but it's been fixed by #9481.

[2020-06-18 02:06] #9561 closed, assigned to kevintab95

[2020-06-18 02:27] U8NWXD commented on #6240
@krishnarao22 all yours!

[2020-06-18 02:53] kevinlee12 commented on #9458
thanks for finding the issue.

 @ankita240796 @vojtechjelinek would any of you know?

[2020-06-18 06:03] mzaman07 commented on #9527
Yeah that's helpful, that tells me the mic works properly with all of the other software. I think informing the user is much better.

[2020-06-18 09:12] vojtechjelinek commented on #9458
I can't find out why this is happening. @Hudda But looking through the code I think that instead of compiling the files separately, I think we should compile all at once and then work with these. That way we can use `tsconfig.json` for the compilation and be a bit closer to the regular compile procedure that we use.

[2020-06-18 09:48] vojtechjelinek commented on #9458
Looking at it more I found that when I mimick the `_compile_ts_file` the problem seems to arise from a fact that not only the `translation-language-select.component.js` is compiled but also `contribution-opportunities-backend-api.service.js`. It just gives me the confirmation that the separate compilation of ts files for linting is wrong, but can't really think of any quick fix for this.
![image](

[2020-06-18 09:59] seanlip commented on #9458
Just a note -- I chatted briefly with @vojtechjelinek and he suggests compiling all the files (like we do in the regular build process) instead of doing separate compilation. Maybe try that and see if it fixes the issue?

[2020-06-18 10:09] seanlip commented on #9458
@vojtechjelinek also suggests: "Maybe try it using the tsconfig.json as the configuration -- I think that should work. And then retrieve the files from the file structure."

[2020-06-18 13:17] kevintab95 commented on #9527
Sounds good, could you please raise a PR for that ie. showing guidelines / info to users? Please note, this needs to be ASAP because this is a blocking bug for the current release. Thanks!

[2020-06-18 16:01] Hudda commented on #8423
Sounds good, go ahead.

[2020-06-18 17:02] rachelwchen commented on #9429
Thanks for the mockup! Hmm that's my concern too, that the tag would look too much like a clickable button. If we decrease the size of the rectangle, do you think that helps? (Ignore the rectangle color please)
![image](https://user-images.githubusercontent.com/12159451/85050338-c809c080-b14a-11ea-8223-a8bf32ac59c3.png)

[2020-06-18 17:11] shavavo commented on #9458
Hi all, I've found a solution for this, will submit a PR soon

[2020-06-18 17:15] kevintab95 commented on #9429
Yep, I think that looks better! It doesn't look clickable.

[2020-06-18 17:40] bansalnitish commented on #8472
Sure, done!

[2020-06-18 18:12] shavavo commented on #9458
The issue was that a relative import was being used in translation-language-selector.component.ts. The typescript compiler created the extra folders so that it would resolve to the correct location. Once the relative import in the original file was changed to an absolute import, the problem was solved.

[2020-06-18 18:13] dchen97 opened #9578 "Change Blog icon from Blogger to Medium"
**Describe the bug**
Icon in navigation bar in smaller views for the blog should match the fact that we've switched from blogger to Medium by presenting the Medium icon (if anything logo-specific about the blog) or present a more generic blog icon.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia.org to a smaller view such that you see the hamburger menu
 2. Expand hamburger menu

[2020-06-18 18:15] shavavo commented on #9458
Btw, before I realized this, I made fixes to do what @vojtechjelinek had suggested- using the tsconfig.json as the configuration, and compiling all the files at once, which also fixed the issue. Do you think this fix would be useful? I'm not sure considering that we do not use relative imports for ts/js files, so I will not submit it for now. Thoughts? @vojtechjelinek @kevinlee12 @Hudda

[2020-06-18 18:17] dchen97 opened #9579 "UI Issues in Learner view on smaller viewports"
**Describe the bug**
There are several UI/UX issues when you're playing through an exploration in smaller viewports.

- Hamburger menu icon is not aligned with Oppia logo at top
- Cannot see exploration name anywhere on the screen or a way for user to see exploration information
- No link to author profiles
- No entrypoint for user to submit feedback

**To Reproduce**
Steps to reproduce the behavi

[2020-06-18 18:36] kevintab95 commented on #9561
Thanks @brianrodri for confirming! I've added "PR for current release" tag to the PR so that it gets cherry-picked for the release.

[2020-06-18 19:09] brianrodri commented on #9565
After auditing for files using `get_time_in_millisecs` (via: `grep -lRe "get\(_current\)\?_time_in_millisecs" core | grep -v "_test.py"`), I've compiled the following table of impacted models ([Google Sheet](https://docs.google.com/spreadsheets/d/1ekrqfPMLcY5XxUj6qY6wWxXr-izNriZ4uK-CaPqX30I/edit?usp=sharing)):

| Model                                            | Properties

[2020-06-18 19:13] shavavo commented on #9458
From discussions with @seanlip, it seems PR #9580 will avoid this problem in the future by surfacing the correct error message, instead of FileNotFound. Reopening this issue until PR #9580 is merged.

[2020-06-18 19:48] kevintab95 commented on #9567
Just a note, this only happens for the scenario the screen is resized from < 700px to >700 px (eg. changing from portrait mode to landscape on a tablet device). Does not happen if the page was was loaded in > 700 px orientation.

[2020-06-18 20:11] kevjumba commented on #8423
@Hudda @kevinlee12  I've been trying to figure out how to run a new pylint extension on all of the relevant files but I can't seem to get it to work.
Running the presubmit check script errors out with

`pre-push hook file is now executable!
Traceback (most recent call last):
  File "/usr/local/Cellar/python@2/2.7.17/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 163, in _ru

[2020-06-18 20:26] seanlip commented on #9579
@dchen97 I don't think the "Expected Behavior" section is correct?

Also FYI the "No link to author profiles" and "No entrypoint for user to submit feedback" parts were deliberate because we wanted to reduce clutter on the mobile view due to lack of space. Do you think they are necessary?

[2020-06-18 20:53] dchen97 commented on #9579
Sorry updated with right information.

I think the "No link to author profiles" would be fine if we had some way for the users to trace their way back to a page with the lesson information and author names. Considering we will be emphasizing adding author names into our attribution guidelines in the near future, I would argue that its important that the users have some way to know who made each le

[2020-06-18 21:09] seanlip commented on #9579
OK, sg, thanks! Assigning @mschanteltc for this issue so she can provide mocks accordingly.

[2020-06-18 23:24] nishantwrp commented on #9453
@sorteg What's the status of this issue? Are you working on it? Please feel free to ask if you are facing any problems. Thanks!

[2020-06-18 23:27] marianadasilvadev opened #9584 "JSON position error on Practice Session only when using dummy data"
**Describe the bug**
![Screenshot from 2020-06-16 16-01-46](https://user-images.githubusercontent.com/34922478/85080757-6411e700-b1a0-11ea-9660-9570b0a331e1.png)
JSON position error on Practice Session only when using dummy data. This is a bug only faced in the development side but it's important to fix it to improve the developer's tests in the application.

**To Reproduce**
Steps to reproduce th

[2020-06-19 02:01] seanlip commented on #9584
/cc @aks681 -- could you please help triage this?

[2020-06-19 02:43] seanlip commented on #9458
I don't actually remember saying this. Maybe you could elaborate on the broader thinking here? /cc @vojtechjelinek @Hudda

[2020-06-19 02:45] seanlip commented on #9458
I think my leaning is as follows: if compiling all files significantly increases the total running time, then let's find a better way to make the old method work (e.g. just make sure folks use absolute paths). Otherwise, if the times in both cases are comparable, I'm fine with the full build since it helps improve maintainability a bit.

[2020-06-19 02:45] seanlip commented on #9458
(@vojtechjelinek @Hudda what do you think? Also @shavavo could you please provide the time comparisons?)

[2020-06-19 07:04] seanlip opened #9586 "Dates are missing in the exploration history tab"
**Describe the bug**
There used to be dates in the exploration history tab. They've since gone missing, though, which makes it hard to figure out when a particular lesson was edited. The aim of this issue is to reinstate them.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Make a change to it, and save it.
 3. Click on the history tab in the navbar (it looks l

[2020-06-19 07:48] mschanteltc opened #9587 "UI issues in the Topics and Skills Dashboard and Editor Pages, Part 2"
**Done:**

### **DESKTOP: Topics and Skills Dashboard:**

**TOPICS TAB**
- [ ] **Description overlaps another section**
![Screen Shot 2020-06-18 at 2 02 13 PM](https://user-images.githubusercontent.com/22177674/85109076-9da91900-b1c5-11ea-9d03-1a3dcdea85bb.png)
- Let's display the entire description since the max number of lines is around 7.

- [ ] **Clearer Page Indicator**
![Screen Shot 2020-06-

[2020-06-19 09:49] donosco99 opened #9588 "Modify the html_field_types_to_rule_specs.json dict to accomodate more than one interaction for each HTML format/type.."
**Is your feature request related to a problem? Please describe.**
Currently, the html_field_types_to_rule_specs.json assumes that each HTML type(eg: DragAndDropHtmlString, SetOfHtmlString etc) can refer to only one interactionID.
But in the future, we might need to allow each HTML type to have more than one InteractionID.
This can be found by grepping `TODO(#9588) ` in the codebase.
**Describe th

[2020-06-19 11:30] mschanteltc commented on #9579
Hi everybody,

I created mobile [portrait](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/ce7c13ce-eab9-4a4f-96ed-fa816d1cf894/P-Exploration-Player), mobile [landscape](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/24b21c4e-8520-49da-9558-9893de981854/T-Exploration-Player), and [tablet](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c

[2020-06-19 14:02] ankita240796 commented on #9458
@vojtechjelinek @seanlip @shavavo @Hudda The purpose of the separate `_compile_ts_file` function is to ensure we compile only those files which cannot be parsed by esprima. There was no specific parser to support typescript.  I do not think we should compile all files, it would increase run time for the linter as well we will unnecessary show error messages according to compiled version of the fil

[2020-06-19 14:39] U8NWXD commented on #9053
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:39] #9053 closed, assigned to nithusha21

[2020-06-19 14:40] U8NWXD commented on #8338
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:40] #8338 closed, assigned to nobody

[2020-06-19 14:41] U8NWXD commented on #9100
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:41] #9100 closed, assigned to nobody

[2020-06-19 14:42] U8NWXD commented on #9113
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:42] #9113 closed, assigned to nobody

[2020-06-19 14:42] U8NWXD commented on #9120
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:42] #9120 closed, assigned to nobody

[2020-06-19 14:42] U8NWXD commented on #8945
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:42] #8945 closed, assigned to nobody

[2020-06-19 14:42] U8NWXD commented on #9194
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:42] #9194 closed, assigned to nobody

[2020-06-19 14:43] U8NWXD commented on #9150
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:43] #9150 closed, assigned to nobody

[2020-06-19 14:43] U8NWXD commented on #8758
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:43] #8758 closed, assigned to nobody

[2020-06-19 14:43] U8NWXD commented on #8883
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:43] #8883 closed, assigned to nobody

[2020-06-19 14:43] U8NWXD commented on #9057
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:43] #9057 closed, assigned to nobody

[2020-06-19 14:45] U8NWXD commented on #9085
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:45] #9085 closed, assigned to nobody

[2020-06-19 14:45] U8NWXD commented on #9099
Closing since this hasn't been seen since we migrated the e2e tests to async-await

[2020-06-19 14:45] #9099 closed, assigned to nobody

[2020-06-19 15:41] Hudda commented on #8423
@kevjumba change `_EXCLUSIVE_GROUP` to `_PARSER` at line 93 in **pre_commit_linter.py**
`_PARSER.add_argument(`
`    '--only-check-file-extensions',`
and run `python -m scripts.linters.pre_commit_linter --path=. --only-check-file-extensions=py`

[2020-06-19 15:57] #9409 closed, assigned to U8NWXD

[2020-06-19 16:24] vojtechjelinek commented on #9458
@ankita240796 Hmm, okay that makes sense, although can we maybe try to analyze how many files need to be recompiled in order to parse them by esprima? Also, it would probably make sense to add this as a comment in the code itself.

[2020-06-19 17:12] shavavo commented on #9458
Hi all,

Here are some benchmarks I ran, there are some interesting findings
Note: Benchmarking on a 2.6 GHz 6-Core i7 MBP

# Benchmark - Compiling all files
* Command used: ```./node_modules/typescript/bin/tsc -p tsconfig.json -outDir tmpcompiledjs ```
Compiling all files at once took around 15 seconds for three separate trials.

# Benchmark - Linter
* Method: I isolated ```JsTsLintChecksManager.

[2020-06-19 17:20] brianrodri commented on #9502
@nishantwrp do you have plans to implement this for Answer objects? I'd like to start updating _all_ answers to meet the following pattern:

[code]

[code]

For specs, we can test the `invalidBackendDict` branch by passing in an invalid dict with a type of `any`. Note: using `any` is the _**only way**_ to bypass the compiler errors that would otherwise protect us from passing in such a dict.

/cc

[2020-06-19 17:23] vojtechjelinek commented on #9458
@shavavo Thanks, this is great, I think that the tradeoff is worth it. I assume that with more files being migrated to Angular 8 the number of files that will need to be transformed to JS before using `esprima` will only increase, so I would compile all the files at once.

[2020-06-19 17:31] ankita240796 commented on #9458
I agree you with @vojtechjelinek, from the benchmarks, it seems it is better to go with compiling all the files at once.

[2020-06-19 18:33] mzaman07 commented on #9526
I'll move the fix out of that PR and put it in a separate PR.

[2020-06-19 18:36] kevintab95 commented on #9526
Ok! Thanks for the update @mzaman07!

[2020-06-19 19:54] dchen97 commented on #9579
Thanks for putting these together Chantel! These look great, and completely
understand the reasoning of keeping the logo and hamburger menu on the
topic page so that the lesson title isn't obstructed. It would be awesome
if we could add the feedback and author profile entrypoints to the bottom
if possible. If anything, I'd prioritize adding the feedback entrypoint,
since we'll have that link back

[2020-06-19 20:52] mzaman07 commented on #9527
Is it just a doc update to a PR?

[2020-06-19 20:59] kevintab95 commented on #9527
I think you'll need to show a message to the user somewhere in the UI. I guess it can be similar to how we show "Warning: Don't navigate to other tabs of this page before saving recorded audio, otherwise the recorded audio will be lost." while recording. What do you think?

[2020-06-19 21:01] kevintab95 commented on #9527
Or you could show it as a tooltip for the "Re-take" button.

[2020-06-19 21:39] seanlip commented on #9458
I agree with the consensus reached by @vojtechjelinek and @ankita240796.

[2020-06-20 03:07] U8NWXD opened #9592 "E2E Flake (classroomPageFileUploadFeatures.js): Expected 0 to equal 1"
Flake seen in CircleCI job [oppia/62241](https://app.circleci.com/pipelines/github/oppia/oppia/10783/workflows/309b5945-1816-4fb4-bda0-653a580366e9/jobs/62241/steps) on PR #9491

[code]

[2020-06-20 03:41] U8NWXD opened #9593 "E2E Flake (preferences.js): Expected 'Idioma de sistema preferido' to equal 'Español'."
Flaked on CircleCI job [oppia/59913](https://app.circleci.com/pipelines/github/oppia/oppia/10508/workflows/eaefae05-591b-48e1-a066-646d37448e8d/jobs/59913) on develop

[code]

[2020-06-20 03:44] U8NWXD opened #9594 "E2E Flake (preferences.js): Expected 'Hindi' to equal 'Arabic'."
Flaked in CircleCI job [oppia/59963](https://app.circleci.com/pipelines/github/oppia/oppia/10514/workflows/7e8bb13a-0f44-4cf5-8653-a61c8a603660/jobs/59963) on develop

[code]

[2020-06-20 03:56] seanlip commented on #9565
Thanks, @brianrodri! I've gone through all of these and I think the change is safe. Most of these have a random component that helps mitigate possible collisions, and for the others I'm not too worried about collisions anyway (and it's unlikely they'll happen at millisecond resolution). So the fix you've outlined sounds good. Thanks!

[2020-06-20 04:11] cemcshane commented on #8472
@bansalnitish  I've had a difficult time finding files that don't use any rootscope or $uibmodal that aren't already claimed based on ctrl-fing the comments here.  I looked on the tracker and found TranslationFileHashLoaderService.ts might be doable, but I could only find the file translation-file-hash-loader.service.ts in core/templates/services.  Does the file I found need refactoring/if so can

[2020-06-20 04:47] srijanreddy98 commented on #8472
@cemcshane have look at user.service.ts and let me know if you want to pick it up. Migrating `translation-file-hash-loader.service.ts` is not really required.

[2020-06-20 06:49] cemcshane commented on #8472
@srijanreddy98 @bansalnitish I can take user.service.ts!

[2020-06-20 08:17] srijanreddy98 commented on #8472
@cemcshane, done! It is all yours now. Feel free to reach out if you are facing any other problems.

[2020-06-20 08:30] #9565 closed, assigned to brianrodri

[2020-06-20 10:45] nishantwrp commented on #7165
@kaylahardie Please don't use fixes when you are not solving the entire issue. Use fixes part of instead.

[2020-06-20 11:42] nishantwrp commented on #9502
@brianrodri The idea to make a separate object factory for every different type looks good to me. But I have certain questions on this approach
- There is no interaction id in the `Answer` backend dict as you have mentioned above.
- Type answer is used in many places. for example one of them is `core/templates/domain/exploration/AnswerGroupObjectFactory.ts`. Here there is nothing like interaction

[2020-06-20 12:05] brianrodri commented on #9502
Yup, but I don't think that's too big of a problem. We can just choose use a different name for the "raw data" of each answer (or skip it entirely, if we can construct answers directly).

That's because the interaction ID is  part of a higher-level container/domain object, like State (which holds onto an AnswerGroupObjectFactory). We should fix this to pass the interaction ID into each answer, bec

[2020-06-20 12:14] nishantwrp commented on #9502
@brianrodri That means we would need to alter the backend, right?

[2020-06-20 12:27] Hudda commented on #8423
@avanderp @ishitarb5 @amey-kudari @apsychogirl @Eblanken @sudiptapradhan1181 @sdhiman99 @lelouchB @sori3006 De-assigning you since there's been no activity for more than a week.

[2020-06-20 12:36] brianrodri commented on #9502
Nope, this could all be done on the frontend. We can change the constructor of each object to pass the interaction ID far enough down the pipeline to give each answer an interaction ID.

[2020-06-20 12:39] nishantwrp commented on #9502
Are you sure that the wherever the Answer is used it will pass the `AnswerGroupObjectFactory`?

[2020-06-20 12:42] brianrodri commented on #9502
I'm not trying to say that `AnswerGroupObjectFactory` is the only change we need to make, I'm saying that _any factory_ which can construct an Answer must have the interaction ID in reach.

For AnswerGroupObjectFactory, it can access it through its parent StateObjectFactory. For StateInteractionStatsService, the interaction ID is provided from the backend. And so on

[2020-06-20 12:44] nishantwrp commented on #9502
Oh, okay!

[2020-06-20 12:49] nishantwrp commented on #9502
Then maybe we can work on this. But I want to prioritize working on defining the rest of any and returning domain objects first.

[2020-06-20 12:58] #8499 closed, assigned to nobody

[2020-06-20 13:12] darksun27 commented on #9569
@jameesjohn and @vojtechjelinek tagged according to the CODEOWNER file.

[2020-06-20 13:12] #9480 closed, assigned to kevintab95

[2020-06-20 13:12] #9485 closed, assigned to kevintab95

[2020-06-20 13:12] #9487 closed, assigned to kevintab95

[2020-06-20 13:12] #9533 closed, assigned to kevintab95

[2020-06-20 13:12] #9547 closed, assigned to kevintab95

[2020-06-20 13:13] brianrodri commented on #9502
Sure, that SGTM. Let me know how and when to help!

[2020-06-20 14:31] anishbadri commented on #9465
@sagangwee  how can I access the Community Dashboard? I'm able to see the code, but how to access it through UI. A link wil help.

[2020-06-20 18:04] Gaushikmr commented on #8472
can I work on #8472 issue

[2020-06-20 20:16] kevintab95 opened #9600 "Disable watching of files when frontend tests are run"
While running frontend tests, there seem to be a lot of errors on the console right after compilation. The errors look like this:

`Error from chokidar (/opensource/oppia/node_modules/webdriver-js-extender/built/built/built/built/built/built/built/built/built/built/built/built/built/built/built/built/spec/command_tests): Error: ENOSPC: System limit for number of file watchers reached, watch '/open

[2020-06-21 03:13] anishbadri commented on #9465
@sagangwee how can I enable reviews tab? I am able to access the Community Dashboard page but have difficulty in enabling the review, so I can view this issue in the UI

[2020-06-21 03:57] rohitkatlaa opened #9602 "Add mobile support to fabric js editor"
**Describe the bug**
Add mobile support to fabric js editor. For now it is not responsive when we resize the window size and the canvas expands outside the modal.

[2020-06-21 09:06] srijanreddy98 commented on #8472
Hi @gaushikmr, this issue too big for one person to handle it all. Maybe you can work on a part of this issue. See the list of unclaimed files and select one. I will assign that file that to you.

[2020-06-21 13:15] bansalnitish commented on #8472
Thanks @srijanreddy98 for updating this issue :D

[2020-06-21 14:15] kevintab95 commented on #9526
Hi @mzaman07, I've raised a PR #9604 to fix this since it is a bit time-sensitive. Please feel free to review it. Thanks!

[2020-06-21 14:15] kevintab95 commented on #9527
Hi @mzaman07, I've raised a PR #9604 to fix this since it is a bit time-sensitive. Please feel free to review it. Thanks!

[2020-06-21 15:39] pprasha commented on #9600
will do

[2020-06-21 15:39] pprasha commented on #9600
please assign to me

[2020-06-21 17:43] tianqi-wu commented on #8472
Can I work on learner-view-rating.service.ts thanks a lot @bansalnitish

[2020-06-21 18:21] kevintab95 commented on #9600
Hi @pprasha, thanks for your interest! Have you signed the CLA and filled the contributor survey based on instructions on this [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? If not, please complete those first. Once you have followed the steps on that page, you will be assigned a mentor who will be able to guide you through your first contributions to Opp

[2020-06-21 19:07] U8NWXD opened #9606 "E2E Flake (userJourneys.js): 'http://localhost:9001/moderator - Failed to load resource: the server responded with a status of 401 (Unauthorized)'"
Flaked on CircleCI job [oppia/60338](https://app.circleci.com/pipelines/github/oppia/oppia/10552/workflows/d7240f85-fc15-4239-8e41-a8a91be1354b/jobs/60338)

[code]

[2020-06-21 19:20] U8NWXD opened #9607 "E2E Flake (publicationAndLibrary.js): No element found using locator: By(css selector, .protractor-test-edit-roles)"
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10627/workflows/2d433327-76e1-4653-a1b2-b35efcc91b5a/jobs/60917

[code]

[2020-06-21 19:42] U8NWXD opened #9608 "E2E Flake (profileFeatures.js): Expected 1 to equal 2."
[code]

[2020-06-21 20:10] U8NWXD opened #9609 "E2E Flake (preferences.js): Expected 'http://localhost:9001/learner-dashboard' to equal 'http://localhost:9001/creator-dashboard'."
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10865/workflows/70dcb424-71c1-4f34-bb1e-02cac65dc40e/jobs/62858

[code]

[2020-06-21 20:12] U8NWXD opened #9610 "E2E Flake (userJourneys.js): Failed: Activity Creation modal is not visible"
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10861/workflows/b12355d9-990a-4bce-bfe3-dc49cb1abe54/jobs/62792

[code]

[2020-06-21 20:20] U8NWXD opened #9611 "E2E Flake (embedding.js): Other element would receive the click"
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10743/workflows/d0e7e98e-4413-4a7f-81f1-c1094267baa3/jobs/61852

[code]

[2020-06-21 20:43] U8NWXD opened #9612 "E2E Flake (adminTabFeatures.js): Expected 1 to equal 2."
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10894/workflows/6361cd65-938b-445a-a015-e0711e658366/jobs/63081

[code]

[2020-06-22 16:02] #9540 closed, assigned to aks681

[2020-06-22 16:02] #9557 closed, assigned to aks681

[2020-06-22 16:02] #9558 closed, assigned to aks681

[2020-06-22 16:02] #9559 closed, assigned to aks681

[2020-06-22 16:02] #9567 closed, assigned to aks681

[2020-06-22 16:06] #9526 closed, assigned to mzaman07, DubeySandeep

[2020-06-22 16:06] #9527 closed, assigned to mzaman07

[2020-06-22 17:12] kaylahardie commented on #7165
Sounds good @nishantwrp! Thanks so much for the feedback :)

[2020-06-22 18:35] nadintamer commented on #8472
@srijanreddy98 @bansalnitish can I work on `editable-exploration-backend-api.service.ts`?

[2020-06-22 18:43] kevjumba commented on #9483
Hey I can't push any of my branches because of this. Do you still have this error? I don't know how to fix this.

[2020-06-22 18:53] BenHenning commented on #9483
@kaylahardie you mentioned running into an issue that sounded familiar to this--might this be related to the issue you experienced?

[2020-06-22 18:58] DubeySandeep commented on #9483
@nishantwrp Yes, I use ssh!

[2020-06-22 19:09] kaylahardie commented on #9483
Oh thanks @BenHenning...I'm not 100% sure what went wrong. @seanlip suggested to me that I may not be updating my branch enough and so when I tried to push my changes it was pushing more than my code changes and as a result causing it to be slow.....still not sure though! @DubeySandeep  @nishantwrp  @kevjumba I couldn't push any of my branches last Thursday - the pre-hook checks passed successfull

[2020-06-22 20:35] seanlip commented on #9483
Here's what I believe is happening for @kaylahardie's and @kevjumba's cases: they hadn't merged upstream/develop into their branch, and the linter generally checks all the files that deviate from upstream/develop, so they were linting more files than necessary. This caused the push action to time out.

That said, it used to raise errors like [this one](https://bengsfort.github.io/articles/fixing-g

[2020-06-23 12:15] srijanreddy98 commented on #8472
@nadintamer done!

[2020-06-23 14:17] nishantwrp opened #9630 "FE tests flake"
Error log
[code]

[2020-06-23 14:21] MegrezZhu opened #9631 "Improve clarity of validation messages for interactions"
Currently, the validation messages for interactions are not very consumable by creators. For example, the messages can be

But creators probably don't know what an answer group or a rule is. In the UI, we surface 'answer groups' as 'responses' and 'rules' as 'possible answers'.

We should at least use 'responses' and 'rules' in the messages. And a better approach would be to identify the responses

[2020-06-23 15:17] bobbychen1999 commented on #8472
Can I work on learner-answer-details-data.service.ts? @srijanreddy98 @bansalnitish

[2020-06-23 17:03] brianrodri opened #9632 "ExplorationStatsModel is missing state stats for some explorations."
The following function is causing production errors because there are explorations missing models for their states:
https://github.com/oppia/oppia/blob/1a82494bc52aa7c60bf3f2ce2f9603d74ee6531f/core/domain/stats_services.py#L121-L130

Here's a traceback of one such error (full stack trace: https://pastebin.com/ELTiw6X9):
[code]

**Steps taken thus far:**
-   To investigate, I wrote #9361 to audit w

[2020-06-23 17:03] brianrodri commented on #9632
/cc @kevintab95 @nithusha21 @seanlip

[2020-06-23 20:14] tianqi-wu commented on #8472
Can I work on learner-view-rating.service.ts thanks a lot @srijanreddy98 @bansalnitish

[2020-06-23 23:35] sagangwee opened #9634 "[Contributor Dashboard] Skills linked to question suggestions result in bad state upon deletion."
Stack trace:

[code]

We should mark a suggestion corresponding to a given skill as rejected (by Oppia Suggestion bot) with a message indicating the skill is deleted whenever a skill is deleted.

[2020-06-23 23:38] sagangwee opened #9635 "[Contributor Dashboard] Mark all translation suggestions corresponding to a given exploration as rejected whenever an exploration is deleted or removed from the story."

[2020-06-23 23:41] sagangwee opened #9636 "[Contributor Dashboard] Mark all translation suggestions corresponding to a given topic as rejected whenever someone deletes a topic."

[2020-06-23 23:43] sagangwee opened #9637 "[Contributor Dashboard] Do not show empty html for translation."
Translation suggestion modal shows empty string for translations.

[2020-06-23 23:46] sagangwee opened #9638 "[Contributor Dashboard] Update "Community Dashboard" term usages to "Contributor Dashboard""
Should change before people start bookmarking the old URL, then we don’t need a redirect. Everything about Oppia is via the community, so "contributor dashboard" is more meaningful.

[2020-06-23 23:49] sagangwee opened #9639 "[Contributor Dashboard] Fix null pointer with 'incomplete_translation_language_codes' field when rendering exploration opportunities"
Stack trace:

[code]

[2020-06-23 23:50] sagangwee commented on #9639
Found by @vojtechjelinek. Can you provide steps on how to reproduce? Thanks.

[2020-06-24 00:12] sagangwee opened #9640 "[Contributor Dashboard] Viewing community reviewers in admin page language dropdown does not disappear"
<img width="1680" alt="Screen Shot 2020-06-23 at 5 08 23 PM" src="https://user-images.githubusercontent.com/9004726/85480138-5380b880-b574-11ea-871b-2aec7250d35c.png">

Steps:
1. Go to admin page.
2. Select TRANSLATION for the "Select role" dropdown to show the "Select language" dropdown.
3. Select "By Username" for the "Select method" dropdown, or a different role. The "Select language" dropdown

[2020-06-24 00:16] sagangwee opened #9641 "Reduce length of suggestions IDs"
[Doc outlining issues](https://docs.google.com/document/d/12fkQMw7g2mX4YJ5ayR3gi7l5XuSNPYjTwm8iTwZRiI0/edit).

[2020-06-24 00:23] vojtechjelinek commented on #9639
I think I just accessed the contributor dashboard and the translations there.

[2020-06-24 03:24] kaylahardie opened #9642 "Change title of 'Things to do' to 'Available Tasks' for the list of contributions to review."
**Is your feature request related to a problem? Please describe.**
Reviewers can see a list of contributions that they can review but the list is not unique to that specific reviewer. All reviewers with the same reviewing permissions (ex. permissions to provide French translations) will see the same possible tasks for them to review. The title 'Things to do' could lead to some confusion because th

[2020-06-24 06:39] srijanreddy98 opened #9643 "e2e tests don't revert changes to constants.ts when they finish executing."
When e2e tests are run with `--prod_env` they change the `DEV_MODE` contants.ts to false, but the tests don't revert it back to true.

[2020-06-24 06:41] srijanreddy98 commented on #9643
@kevintab95, @nithusha21, @DubeySandeep, and @U8NWXD PTAL!

[2020-06-24 06:43] #9643 closed, assigned to kevintab95, nithusha21, DubeySandeep, U8NWXD

[2020-06-24 08:02] divyanshutewari17 commented on #9642
May I work on it?

[2020-06-24 08:05] divyanshutewari17 commented on #9499
I would like to work on it.

[2020-06-24 08:07] divyanshutewari17 commented on #9637
May I work on it?

[2020-06-24 08:13] DubeySandeep commented on #9637
Hi @divyanshutewari17, Can you please follow the instructions provided in the [getting started wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? Also, we expect contributors to pick one good first issue at a time, so I suggest you choose one issue and try fixing it instead of asking contributors to assign you on multiple issues. You can find more informa

[2020-06-24 08:44] sainanee commented on #8472
@bansalnitish @srijanreddy98 Can I work on read-only-exploration-backend-api.service? Also, it looks like collection-creation-backend-api.service is already migrated, so I think it could be removed from the list.

[2020-06-24 08:57] bansalnitish commented on #8472
Hi folks @bobbychen1999, @tianqi-wu, @orthodoxparadox -- Assigned you the ones you demanded. Go ahead!

[2020-06-24 17:53] kaylahardie commented on #9642
@divyanshutewari17 for sure! But if you haven't already, can you please follow the getting started steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

[2020-06-24 19:19] U8NWXD opened #9648 "Make Frontend Test Debugging Easier"
Right now debugging the frontend tests is made difficult by the fact that the line numbers in the stack trace are correct only in relative terms. Since the line numbers correspond to a file that results from combining all the spec files together, they are not correct in absolute terms.

Currently the wiki page describes a workaround with `console.log(...)` statements, but we should at some point f

[2020-06-24 22:58] cemcshane opened #9652 "Can't push to GitHub fork WSL"
I've been assigned a file to refactor from AngularJS to Angular 8, but I'm having trouble pushing to my fork using WSL.  I know there are some tests I need to pass for the push to be successful, but even when I comment out everything I've changed I still get some errors.  I included a picture below.

![image](https://user-images.githubusercontent.com/54606560/85635695-81393080-b64c-11ea-8d89-fdc43

[2020-06-25 00:44] seanlip commented on #9652
Hi @cemcshane, I'm afraid that we might be of limited help with this. There was another contributor who ran into this error some time ago ([link](https://github.com/oppia/oppia/pull/8831#issuecomment-605230763)), but we couldn't figure out what was wrong since most of us don't use WSL. I also searched for the error message but wasn't able to find much.

So this is something that you might need to

[2020-06-25 00:45] seanlip commented on #9648
@nithusha21 @marianazangrossi @vojtechjelinek do any of you have any advice on this / related information that might be helpful?

[2020-06-25 00:55] #7176 closed, assigned to nishantwrp

[2020-06-25 01:18] tianqi-wu commented on #8472
Hi @bansalnitish @srijanreddy98 : I found my file learner-view-rating.service.ts contains $rootScope; such files are suggested to be transferred to the migration team. Is it possible to assign me another file that doesn't contain the use of $rootScope? Thanks a lot!

[2020-06-25 07:30] jameesjohn commented on #9652
I'm not sure I can help with this as I've not had this error before. @cemcshane can you confirm that you are using python 2?
The only issue I have running Oppia on WSL is running e2e tests.

[2020-06-25 13:15] marianadasilvadev opened #9660 "Frontend tests failing on trying to push due #9598"
**Describe the bug**
![Screenshot from 2020-06-25 10-05-46](https://user-images.githubusercontent.com/34922478/85725448-7ec9eb80-b6cb-11ea-957a-14b34e64dbb3.png)
I'm having issues pushing changes in #9583 due to changes made in develop branch (#9598). Every time karma tests starting to run before pushing, the tests fail with errors related to **fabric.js**.
This error occurs only on #9583 local br

[2020-06-25 17:04] marianadasilvadev commented on #9660
This issue was resolved. After discussing with @rohitkatlaa, we have found that the problem was in PR #9583, which was spying `document.createElementById` in a wrong way that was affecting and failing the tests he did.

Before:
`document.getElementById = jasmine.createSpy('HTMLImageElement').and.returnValue(document.createElement('img'));`

After:
[code]

[2020-06-25 17:04] #9660 closed, assigned to marianadasilvadev

[2020-06-25 18:49] marianadasilvadev commented on #9648
Sorry I think I don't get it, can you please clarify with some example? @U8NWXD

[2020-06-26 06:53] vinitamurthi opened #9670 "Follow ups for Github actions"
There are few things that our Github actions workflow doesn't support by default that we should add in:

- [x] Trigger jobs only on pull_requests, and pushes on the develop branch

- [ ] Add a step to auto cancel redundant builds (Maybe we can [this already existing action](https://github.com/technote-space/auto-cancel-redundant-job) that is recommended by Github

- [x] Merge oppia/develop into th

[2020-06-26 06:54] vinitamurthi commented on #9670
@nithusha21 I am assigning this to you for now but we can split this work amongst you, me, and @ankita240796

[2020-06-26 12:12] vojtechjelinek commented on #9648
I don't have time to look into this but I imagine that there might be some tools (source maps) in Webpack or Karma that would help with this.

[2020-06-26 15:01] shavavo opened #9674 "Todo for #6672: Use builtin popover in translation tab once bootstrap is added for angular2+"
# #6672
* After bootstrap for Angular2+ is added, change tooltip to bootstrap tooltip over custom implementation

[2020-06-26 17:48] sagangwee opened #9676 "[Contributor Dashboard] Ensure try/catch blocks in suggestion.py print useful stack traces."
Specifically we want to ensure the try/catch blocks `ReviewableSuggestionsHandler` and `UserSubmittedSuggestionsHandler` print useful stack traces for debugging. Because Python omits any part of the stack trace "below" the top-level exception in a try/catch block, it is difficult to trace the origin of an exception during debugging. This cost a lot of time when we were debugging the contributor da

[2020-06-26 22:30] kaylahardie commented on #9639
@vojtechjelinek can you be a little more specific? I'm trying to reproduce the bug :)

[2020-06-26 22:49] U8NWXD commented on #9648
@marianazangrossi Here's an example from a test I'm working on now:

[code]

Notice that the line numbers are huge (e.g. 237276, 427336), but `core/templates/combined-tests.spec.js` is only 65 lines long:

https://github.com/oppia/oppia/blob/bb3f34f0ece41f01ce2f99275e768b36315176c2/core/templates/combined-tests.spec.ts#L65

[2020-06-27 02:02] U8NWXD opened #9679 "E2E Flake (topicAndStoryEditor.js): Editor Welcome modal takes too long to disappear"
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10901/workflows/bb4383ae-8e7a-4729-a4ce-b33f6199cd68/jobs/63144

[code]

[2020-06-27 02:12] U8NWXD opened #9680 "E2E Flake (topicAndStoryEditor.js): searchSkillInput takes too long to be visible."
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10900/workflows/b727c6a2-3355-4eeb-b1ec-3edf778c6da6/jobs/63140

[code]

[2020-06-27 02:35] U8NWXD opened #9681 "E2E Flake (topicAndStoryEditor.js): Could not click on the topics and skills dashboard link"
Source: https://app.circleci.com/pipelines/github/oppia/oppia/10914/workflows/e1fe8692-ce2a-4865-9597-1259eb5b47db/jobs/63225

[code]

[2020-06-27 02:45] U8NWXD opened #9682 "Help Debugging Angular Service Migration"
I'm having some trouble migrating the asset-backend-api service frontend test. Here's a simpler example that illustrates the problem.

Service:

[code]

Test:

[code]

When I run these tests with `python -m scripts.run_frontend_tests`, I get:

[code]

My understanding (based on https://stackoverflow.com/a/60487136) is that when we flush the 500 error, the `error` function in the `.subscribe()` sho

[2020-06-27 02:52] Showtim3 opened #9683 "Create a constants file for protractor and store and access the global protractor constants from there."
Todo:
Create a constants.js so that global variables can be declared and shared in the protractor files.

Ex: In #9525, the constant SKILL_STATUS_UNASSIGNED is being used in two different files, even though it's exactly the same at both the places. It'd be better to have them declare at a single place and just import them whenever required. This will help in reducing code duplication and removing

[2020-06-27 02:54] U8NWXD commented on #9682
Full code here: https://github.com/U8NWXD/oppia/tree/debug

[2020-06-27 02:54] seanlip commented on #9683
@Showtim3 Please provide more details. What constants is this feature for? Why is it necessary?

Also, can this not be done in the protractor config instead? /cc @U8NWXD

[2020-06-27 03:56] Showtim3 commented on #9683
Done(added some more context to the issue description)

[2020-06-27 05:12] sagarmittal1 commented on #4057
@marianazangrossi Hi, can you assign me
E - N player-correctness-feedback-enabled.service.ts

[2020-06-27 07:51] Showtim3 opened #9685 "Change the groupedSkillSummaryDicts in the skills-backend-api-service, from dict to a domain object before passing it."
Currently in ```core/templates/domain/skill```, line 38,  **groupedSkillSummaryDicts** is being passed around as a dict, which should be avoided. It should be converted to a domain object before passing around.

![image](https://user-images.githubusercontent.com/30312043/85917696-0ead9800-b87a-11ea-8f5a-21472f6ea2f7.png)

[2020-06-27 07:53] Showtim3 opened #9686 "Todo: @showtim3, Increase the coverage of question-creation-service.ts to 100% and remove it from the check_frontend_coverage.py file."
While working on the skill-editor UI, i created a service and was unable to get its coverage to 100% even after a lot of efforts. Will definitely do it later.

Todo @Showtim3

[2020-06-27 09:04] seanlip opened #9688 "Running the e2e test script results in residual changes in the constants.ts file."
**Describe the bug**

When the e2e test script is run without skip-install/skip-build (and whether it exits successfully or not), this results in a local change being made to assets/constants.ts: DEV_MODE is changed from true to false.

This is not great: tests should not be changing code, and the code changes can get included by mistake in pushed commits. The e2e tests should reset the constants.

[2020-06-27 09:04] seanlip commented on #9688
/cc @kaylahardie @MegrezZhu

[2020-06-27 16:27] nishantwrp opened #9691 "Circle CI e2e_navigation_and_misc tests failing"
e2e_navigation_and_misc are failing for almost every PR with the log

[code]

[2020-06-27 16:29] nishantwrp commented on #9691
/cc @oppia/core-maintainers

[2020-06-27 16:30] nithusha21 commented on #9691
@nishantwrp thanks for reporting... Do you have a link to a full build log?

[2020-06-27 16:34] nishantwrp commented on #9691
https://circleci.com/gh/oppia/oppia/64888?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-06-27 16:52] #9602 closed, assigned to rohitkatlaa

[2020-06-27 17:30] nishantwrp commented on #9691
This error also came earlier here #8954. This was caused due to [this](https://discuss.circleci.com/t/build-fails-with-error-spawn-enomem/30537). And that issue was fixed.

I'm not sure what the real issue this time!

[2020-06-27 18:40] nishantwrp commented on #9691
UPDATE: On restarting my tests several times, the tests passed. (https://circleci.com/gh/oppia/oppia/64925?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

It can be seen the time(593197ms) is barely lower than the limit(600000 ms). It has been observed in the past also that CircleCI compile times vary greatly. For example in this build (https://circleci.com/gh/

[2020-06-27 22:05] seanlip commented on #9691
Thanks, @nishantwrp -- great debugging! I agree with your diagnosis and have pushed a fix at #9696. Thanks for making it easy for us to do this!

(Also, in the future, feel free to just open a PR with rationale if you like -- that might help things get resolved faster.)

[2020-06-27 22:15] #9682 closed, assigned to nobody

[2020-06-27 22:24] nishantwrp commented on #9691
You're welcome @seanlip!

Sure!

[2020-06-27 22:39] nishantwrp opened #9697 "Split frontend and backend tests to different categories"
Currently, in the github actions both the frontend and backend tests are run under the same category.

So, if frontend tests fail due to some flake. The backend tests also have to be canceled and re-run. To avoid this maybe we can split both the tests.

/cc @seanlip @kevinlee12

[2020-06-27 22:45] seanlip commented on #9697
@kevinlee12 originally suggested combining these, so I'm going to defer to him here for this thoughts. Thanks for reporting!

[2020-06-28 02:15] #9691 closed, assigned to seanlip

[2020-06-28 14:28] nishantwrp commented on #9697
Fixed by #9699

[2020-06-28 14:28] #9697 closed, assigned to kevinlee12

[2020-06-28 15:15] darksun27 commented on #9683
If not taken by anyone, Can I work on this?

[2020-06-28 17:44] Showtim3 commented on #9683
Oh yeah that'll be great. Assigned you @darksun27
Thanks!

[2020-06-28 18:56] jameesjohn opened #9704 "Test new oppiabot feature"
This issue is to test oppiabot interactions with issues.

[2020-06-28 18:58] jameesjohn commented on #9704
Test getting assigned to issue: Oppiabot should do nothing since I've signed the CLA.

[2020-06-28 19:07] #9704 closed, assigned to jameesjohn

[2020-06-28 22:23] nishantwrp opened #9708 "Tweet has wrong text"
**Describe the bug**
Feature of sharing a explo on a tweet has wrong text.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a exploration.
 2. Click on Info.
 3. Try to share the explo as a tweet.

**Observed behavior**
Check out this interactive lesson I created on Oppia - a free platform for teaching and learning! https://www.oppia.org/explore/-tMgcP1i_4au

**Expected behavior**
The

[2020-06-28 22:41] kevintab95 opened #9709 "Images in questions do not load in practice quesitons page"
**Describe the bug**
A clear and concise description of what the bug is.
Images in questions do not load in practice quesitons page

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill with 5 questions (with at least one of them containing an image.)
 2. Assign skill to a topic.
 3. Create a subtopic and assign skill to it.
 4. Fill necessary fields and save topic.
 5. Preview top

[2020-06-28 23:12] brianrodri opened #9711 "Buttons to manage Continuous Jobs no longer visible after Angular Migration"
**Describe the bug**
#9433 migrated the `admin-jobs-tab` directive to Angular 8, but missed a few properties that needed to be renamed:
https://github.com/oppia/oppia/blob/125e4388c665c86cb932dc2391093fa6946a5a83/core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.directive.html#L13-L30

Lines 14-19 are fine, but the lines on 21-22 and 25-26 have been missed. As a result, none of the buttons a

[2020-06-28 23:14] nishantwrp commented on #9711
Oh I'm sorry for this. I'll make a pr ASAP!

[2020-06-28 23:19] brianrodri commented on #9711
Ah don't beat yourself up about it, it's a very easy thing to miss (and has happened to me tons of times).

I wonder if it's possible to add type-information to these angular expressions? That way, any error of this kind would be caught right away?

[2020-06-28 23:30] nishantwrp commented on #9711
@brianrodri I've made a pr for it. I tried to check other services again. It seems to be the only thing missed. I still can't understand how I missed this.

Maybe it's possible to add type info in templates after migration -> https://angular.io/guide/template-typecheck

[2020-06-29 00:17] brianrodri commented on #9711
Cool, that definitely looks very promising!

/cc @bansalnitish to keep this check in mind

[2020-06-29 00:22] queencai commented on #8423
Hi, there

I am new. I would like to work on "Check for unused directive/service dependencies (#5611)".

[2020-06-29 00:41] U8NWXD opened #9713 "Presubmit Checks Fail on Some Python Implementations"
The pre-submit checks cannot run on some Python implementations because they rely on an implementation detail, namely that the global `__builtins__` variable be a module. The [Python 2 documentation](https://docs.python.org/2/library/__builtin__.html) states that:

In my case, this arose on the Python included with macOS, where it appears that `__builtins__` is a dictionary, not a module. Therefor

[2020-06-29 06:13] DubeySandeep opened #9716 "Oppia logo on maintenance page looks broken at outset"
**Describe the bug**
The Oppia logo on maintenance page looks broken at outset

**To Reproduce**
Steps to reproduce the behavior:
 1. Enable Maintainance mode
 2. Go to the `/` page
 3. Check the top left logo rendering

**Observed behavior**
The logo looks broken during the outset but it gets fixed after page completely loads.

**Screenshots**
![image](https://lh3.googleusercontent.com/-4i-vLpErs

[2020-06-29 06:30] DubeySandeep opened #9717 "The navbar color of the maintenance page is the same as the body color of the page"
**Describe the bug**
The navbar color of the maintenance page is the same as the body color of the page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Enable Maintainance mode
 2. Go to the / page
 3. Check the navbar of the page!

**Observed behavior**
The navbar of the page have same color as the body of the page and it's hard to understand the separation.

**Expected behavior**
The nav

[2020-06-29 06:38] DubeySandeep opened #9718 "Maintenance page should be serverd with 200 status code instead of 503"
**Describe the bug**
Currently, the maintenance page is served with a 503 status code though we expect the page as an expected page, so it should be served with 200 status code.

**To Reproduce**
Steps to reproduce the behavior:
 1.Enable Maintainance mode
 2. Go to the / page
 3. Check the console for the page status code.

**Observed behavior**
The page is served with a 503 status code.

**Expec

[2020-06-29 12:40] darksun27 commented on #9683
The only place I was able to find matching Global Variables was the same you mentioned in the #9525. I have created a new file in ```protractor_utils/Constants.js``` .

[2020-06-29 12:46] Showtim3 commented on #9683
Probably @U8NWXD can provide more help, i think we also have another constants.ts file in our codebase(assets/constant.ts) so we might have to name the file something else just to avoid confusion.
@darksun27 Overtime that file will grow, it's okay if it just have a single variable as of now,
@U8NWXD what do you think?

[2020-06-29 12:48] darksun27 commented on #9683
@Showtim3 sure! we can change the filename to ```protractor_constants.js``` to avoid confusion.

[2020-06-29 14:53] Showtim3 opened #9722 "While creating a new skill from the topic editor, the create new skill modal appears twice."
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topic editor.
 2. Click on Create Skill.
 3. See that the modal appears twice.

[2020-06-29 16:03] #9711 closed, assigned to nishantwrp

[2020-06-29 16:19] Vinit-Dantkale commented on #8423
Hi @kevinlee12 , can I work on `Check for proper comment indentation (#6422)`?

[2020-06-29 17:48] Showtim3 opened #9726 "The sidebar-status.service.ts should be in the services folder and not in the domain folder."
The file, sidebar-status-service.ts is present in core/domain/, but it should be in the services directory.
See [this](https://github.com/oppia/oppia/pull/9719#discussion_r447108690) for more reference.

[2020-06-29 18:34] Hudda commented on #8423
@Vinit-Dantkale We already have a PR for this one. Can you please choose any other check.

[2020-06-29 18:35] Hudda commented on #8423
@queencai I've assigned you.

[2020-06-29 19:52] tianqi-wu commented on #8472
Hi @bansalnitish @srijanreddy98 : I found my file learner-view-rating.service.ts contains $rootScope; such files are suggested to be transferred to the migration team. Is it possible to assign me another file that doesn't contain the use of $rootScope? Thanks a lot!

[2020-06-29 22:14] U8NWXD commented on #9683
@darksun27 I think just including once constant is fine for now. We can add to it as we discover constants elsewhere. The renaming also looks good to me

[2020-06-30 04:05] sainanee opened #9729 "AccessTokenRefreshError while creating new topic"
RESOLVED: Refer to comment below

**Describe the bug**
Get AccessTokenRefreshError('"No service account scopes specified." This can occur if a VM was created with no service account or scopes.',) when creating a new topic from topics and skill dashboard / running topicAndStoryEditor e2e suite.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as administrator (say with username abcd)
2.

[2020-06-30 07:00] seanlip opened #9731 "Fix "lost changes" modal to show full details of the lost changes."
**Describe the bug**

When two creators edit the same exploration, it is possible for one of them to overwrite the other's changes. Technically, when the creator whose edits got overwritten subsequently returns to the exploration, we provide a modal pop-up that allows them to save their changes and re-make them. However, this pop-up seems to not be working correctly. The "Screenshots" section belo

[2020-06-30 07:05] sainanee commented on #9729
[RESOLVED] It seems like this was a local issue caused on Google Cloud VMs. I fixed this by clearing the directories, and cloning the remote repo again and following [this](https://stackoverflow.com/a/53231470). Ignore any access warnings.

[2020-06-30 07:05] #9729 closed, assigned to nobody

[2020-06-30 08:20] DubeySandeep commented on #9674
@shavavo, Can you please changes the title of the issue, the title should explain what we have to do? Maybe something around: Use builtin popover in translation tab once bootstrap is added for angular!

[2020-06-30 12:43] nishantwrp commented on #9502
@brianrodri I've updated the places where this needs to be done in the issue description. Please add things there so we can work on them later. Thanks!

[2020-06-30 14:52] #9587 closed, assigned to Showtim3

[2020-06-30 15:43] marianadasilvadev commented on #4057
Sure, I've assigned you!

[2020-06-30 18:56] shavavo opened #9738 "Todo for #9582: Use MD toggle on copy tool bar once MD is added for angular2+"
# #9582
* TODO: @shavavo Update copy tool bar button to material design toggle when MD is added for angular2+

[2020-06-30 18:58] shavavo commented on #9738
@bansalnitish @srijanreddy98 please LMK when Material Design is added for Angular2+, and likewise for when bootstrap is added for issue #9674

[2020-06-30 19:46] kevintab95 commented on #8472
Hi @tianqi-wu, would you like to take a look at exploration-summary-backend-api.service.ts?

[2020-06-30 19:50] shavavo opened #9740 "Unrelated / unchanged files are failing typescript tests on #9582 but passing on develop"
**Describe the bug**
#9582 is failing on ```python -m scripts.typescript_checks```, on both local and circleci.

The error messages are as follows ([circleci](https://app.circleci.com/pipelines/github/oppia/oppia/11430/workflows/027c6acd-10f8-4638-8b37-5330af13d26a/jobs/65790/steps)):
[code]

These 2 files (`exploration-player-page.component.spec.ts`, `exploration-editor-page.component.spec.ts`) a

[2020-06-30 20:09] Showtim3 commented on #8423
Hey @Hudda @kevinlee12 Can you guys add PR's for reference in the issue description. Try to add some easy and small PR's so that it's easier to understand the context for anyone looking at them, and probably a lot of such PR's have been made and merged, so maybe add 4-5 PR's.

Thanks

[2020-06-30 20:22] #7590 closed, assigned to nobody

[2020-06-30 22:14] tianqi-wu commented on #8472
Sure! I'm glad to help with exploration-summary-backend-api.service.ts. Is it possible to switch to this file? Thanks!

[2020-06-30 22:30] #9722 closed, assigned to Showtim3

[2020-07-01 04:08] #6672 closed, assigned to shavavo

[2020-07-01 05:19] kevinlee12 commented on #8423
@Showtim3 it's a good suggestion. @Hudda were there any that stood out to you?

[2020-07-01 05:58] seanlip commented on #7690
@brianrodri I am slightly confused. Was this not fixed before in #7820?

[2020-07-01 10:01] vojtechjelinek commented on #9639
@kaylahardie It was quite a few weeks ago and I didn't really focus on that. I don't know what specific things you want. I had some contributions created previously and when I went to the contributor dashboard and clicked the translations category the error had shown. I think that the stack trace should contain a lot of info already, for example, that the problem is with `getsubmittedsuggestions/<

[2020-07-01 14:45] Showtim3 commented on #9726
cc @DubeySandeep

[2020-07-01 17:04] bansalnitish opened #9749 "Migrate directives/controllers to Angular components"
This issue aims to migrate directives/controllers written in AngularJS to modern Angular components.

We would request you to pick up any directive of your choice from `core/templates/pages` or `core/templates/components`. After you've picked up a directive, please mention the directive name that you want to take up. We will assign that particular directive to you and keep a track so that there is

[2020-07-01 20:12] kevintab95 opened #9751 "Add additional validations for DragAndDropSortInput interaction"
Requirements:
1. Only allow text, math formulae, and images.
2. Each item should be limited to one image.

When creators are making a drag & drop question with images, we can show two warnings:
Creator inserts an image: Images will be displayed in a smaller size (72 px tall) on mobile devices. Make sure the image does not contain small details that are necessary to answer the question.
Creator ins

[2020-07-01 20:50] kevintab95 commented on #9052
One general observation, based on the reported errors, it seems like most of them (if not all) seem to occur in Circle. I suspect that Circle is having issues with running tests in parallel -- I have seen this occur when there are multiple instances of the e2e script running on an env.

/cc @seanlip @U8NWXD @DubeySandeep @nithusha21 @kevinlee12

[2020-07-01 23:17] brianrodri opened #9753 "Stop passing callbacks to functions able to return a Promise"
https://github.com/oppia/oppia/blob/6a71c21d4a56611d1ae4c02213103c9f5d9f9276/core/templates/pages/community-dashboard-page/services/contribution-and-review.service.ts#L58-L65

I'd like to switch the pattern above with the following:

[code]

It's not obvious why the author originally decided to use this style, but there is no language-specific reason to use it.

We should use the latter pattern so

[2020-07-02 00:15] kevinlee12 commented on #9052
Should we set sharding to false? (it forces the test to run one at a time).

[2020-07-02 00:45] seanlip commented on #9052
I'm not opposed. You can try?

[2020-07-02 00:48] kaylahardie opened #9755 "Delete skill button not clickable in the Topics and Skills Dashboard."
**Describe the bug**
I was trying to delete a skill in the Topics and Skills Dashboard but I couldn't.

**To Reproduce**
Steps to reproduce the behavior:
First we need to populate skills in the topics and skills Dashboard:
1. Sign in as an admin
2. Go to the admin page
3. Go to the roles tab and update your role to be admin by entering your username and selecting the admin role.
4. Go to the activ

[2020-07-02 01:01] kaylahardie opened #9756 "Can't unassign a skill from a topic in the Topics and Skills Dashboard"
**Describe the bug**
I was trying to delete a skill but couldn't because it was assigned to a topic so I tried to unassign the skill but couldn't figure out how. There is an 'Assign to topic' option per skill in the topics and skills dashboard page where you can assign the skill to an Empty topic. However, I couldn't find a way to make it unassigned.

**To Reproduce**
Steps to reproduce the behavi

[2020-07-02 01:04] seanlip commented on #9756
@Showtim3 could you please verify that this is tested in an e2e test?

[2020-07-02 01:04] seanlip commented on #9755
@Showtim3 could you please verify that this is tested in an e2e test?

[2020-07-02 01:06] brianrodri commented on #7690
So #7820 fixed the error from being reached. The issue described by @DubeySandeep was never patched, so I've reopened this since it has the correct context for the new fix: #9744.

[2020-07-02 04:35] seanlip commented on #9753
Note that this should not be implemented yet -- it is currently in discussion.

[2020-07-02 10:40] rohitkatlaa opened #9762 "Remove the if condition in backend after migrating the directive files to component files in the rich_text_components directory"
**Describe the bug**
Migrate all the directive files to component files in the rich_text_components directory and remove the if condition in the test_rte_components_are_valid in rte_component_registry.py file.

[2020-07-02 11:05] rohitkatlaa opened #9764 "In svgdiagram rte, Pencil tool is selected automatically when an input box is focused and Enter key is pressed"
**Describe the bug**
In svgdiagram rte, Pencil tool is clicked when the enter key is clicked in any input box of the same modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Click the svgdiagram rte.
 2. Change the value in any of the input boxes and click enter.
 4. The pencil tool is automatically clicked.

**Expected behavior**
The pencil tool should not be activated.

[2020-07-02 11:12] Hudda opened #9765 "Pylint is printing twice to the console."
Currently, pylint is printing twice to the console, investigate why this is happening, and find a way to solve the issue.

[2020-07-02 17:08] Hudda opened #9766 "Clean up of linter tests"
1. Tests for js_ts_linter tests are running slow due to changes made to the js_ts_linter to compile all files at once. To fix that, compile a single test file one at a time by mocking the _compile_all_ts_files()_ module.

2. Currently, we are checking if an error is present in a file but we are not checking if that is only lint error in the file. To fix that, create a new method to assert the numb

[2020-07-02 17:19] bansalnitish commented on #9766
@Hudda could you please create a doc? We can add comments there.

Also, could you please add a plan with a concrete timeline there? We will link your doc in this issue then :).

[2020-07-02 17:21] Hudda commented on #9766
@bansalnitish Working on it.

[2020-07-02 17:53] bansalnitish commented on #9766
Awesome!

[2020-07-02 18:36] seanlip commented on #9713
Maybe take a look at python_utils.py, which contains all the functions that have a different implementation in Python 2 and Python 3. A shim might be useful there.

[2020-07-02 19:16] U8NWXD commented on #9713
It looks like this was fixed by #8947, as we no longer use `__builtins__`:

https://github.com/oppia/oppia/blob/17d8485e06b9605d83b4ce916207c10a50152f6b/scripts/linters/pre_commit_linter.py#L593

I have tested this locally and it works.

[2020-07-02 19:16] #9713 closed, assigned to U8NWXD

[2020-07-02 19:44] seanlip commented on #9713
Woot! Thanks @Hudda for fixing this!

[2020-07-02 19:53] seanlip commented on #9766
Is (1) related to #9580? If so, @shavavo should weigh in. The comments in the associated threads suggest that there wouldn't be a performance hit -- see https://github.com/oppia/oppia/issues/9458#issuecomment-646764064 -- so we should figure out why there's a discrepancy between @shavavo's metrics and actual experience.

I'm also copying @vojtechjelinek and @ankita240796 since they were part of th

[2020-07-03 02:26] dchen97 opened #9771 "Errors when just running pre_commit_linter tests"
**Describe the bug**
When trying to just run the `pre_commit_linter` script, I see the following error:

[code]

However, I don't face the same issue if I run the entire `run_tests` script.

**To Reproduce**
Steps to reproduce the behavior:
 1. Try to run `python -m scripts.linters.pre_commit_linter.py`
2. Note error

**Observed behavior**
See an `AttributeError`

**Expected behavior**
Linter shou

[2020-07-03 02:59] seanlip commented on #9771
@Hudda could you please look into this ASAP, please? Seems like it might be due to the recent changes to the linter script.

Also /cc @U8NWXD for info (cf #9713).

[2020-07-03 02:59] seanlip commented on #9771
/cc @bansalnitish

[2020-07-03 03:42] Hudda commented on #9771
@dchen97 I've changed this line `__builtins__.FILE_CACHE = NAME_SPACE.files` in my recent PR #8947. Please try to merge from develop and see if this error is still there.

[2020-07-03 03:43] jyan500 commented on #8472
Hi @bansalnitish, I would like to be assigned to the following task if it hasn't been picked up by someone else already:  editable-topic-backend-api.service.ts

[2020-07-03 06:26] seanlip opened #9772 "Images are not displayed correctly in feedback sections in editor page."
**Describe the bug**
In the editor page, images in feedback seem to be squashed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the editor page.
 2. Add an interaction and add some feedback that includes an image that is tall.
 3. Look at the feedback in read-only mode (in the editor page).

**Observed behavior**
The image looks squashed, although it is fine when you play it in Previ

[2020-07-03 06:27] seanlip commented on #9772
Note: please also check this in the hints/solutions (and other content fields), to make sure it doesn't happen there too.

[2020-07-03 06:38] seanlip commented on #9753
Closing because there isn't currently a lot of support for making this a universal convention, though it would be nice for individual reviewers to encourage simplifying the code if an egregious case stands out.

[2020-07-03 06:38] #9753 closed, assigned to nobody

[2020-07-03 06:41] Hudda commented on #9766
@seanlip After merging #9580, there is a massive boost in performance but when we run tests, js_ts_linter script run several times and all files compile repeatedly which is causing the problem, but this can be solved easily by mocking compile_all_files() method and compiling only that test file which we need in that test.

[2020-07-03 06:52] seanlip commented on #9766
Ohh, I see, it's the linter tests which are taking a long time. Got it, thanks for explaining -- and yes, I agree this should be fixed.

(Also, deassigning @shavavo!)

[2020-07-03 07:26] darksun27 commented on #8472
@srijanreddy98 @bansalnitish can I work on ```exploration-summary-backend-api.service.ts```?

[2020-07-03 12:16] #9709 closed, assigned to aks681

[2020-07-03 14:39] vojtechjelinek commented on #7848
Done.

[2020-07-03 14:39] #7848 closed, assigned to vojtechjelinek

[2020-07-03 18:11] kevintab95 opened #9777 "Weirdly positioned uib-tooltip across editor page"
**Describe the bug**
A clear and concise description of what the bug is.
The uib-tooltip in editor page looks weirdly position.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to editor page.
 2. See error

**Observed behavior**
A clear and concise description of what you have observed.

See tooltip is weirdly positioned.
![weird alignment of tooltip](https://user-images.githubuserconten

[2020-07-03 18:59] dchen97 commented on #9771
Pulled from develop and that fixed all problems. Thanks!

[2020-07-03 18:59] #9771 closed, assigned to dchen97

[2020-07-03 19:16] vojtechjelinek commented on #8529
This was checked by Sean an all the servers that we have, and all the models are deleted.

[2020-07-03 19:16] #8529 closed, assigned to vojtechjelinek

[2020-07-04 10:25] subodhk01 commented on #9499
Can I work on this issue?

[2020-07-04 10:26] subodhk01 commented on #9772
Can I work on this issue?

[2020-07-04 10:29] subodhk01 commented on #9777
Can I work on this issue?

[2020-07-04 12:53] kevintab95 commented on #9777
Hi @subodhk01, thanks for your interest! @iamprayush is currently looking into this issue. Also, please make sure to follow all the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before making a contribution to Oppia. Thanks!

[2020-07-04 13:04] kevintab95 commented on #9777
Update: I took a look and it seems like the stylesheet for guppy osk seems to be overriding some CSS. I think it might be the cause of the issue. I tried blocking the network call for the stylesheet and noticed the tooltip works fine after that. We had introduced the stylesheet in #9649.

See screenshot:
![image](https://user-images.githubusercontent.com/11008603/86513079-d8958880-be24-11ea-892d-0

[2020-07-04 16:33] kevintab95 opened #9786 "Images look squashed in Item Selection user response component in the learner view"
**Describe the bug**
A clear and concise description of what the bug is.

Images look squashed in Item Selection user response component in the learner view

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor page.
 2. Create a card with Item Selection input interaction with choices containing images.
 3. Preview the interaction.
 4. Select an incorrect answer and s

[2020-07-04 17:56] #9777 closed, assigned to iamprayush

[2020-07-04 19:03] #6893 closed, assigned to nobody

[2020-07-04 20:17] #3947 closed, assigned to swaat-on-git

[2020-07-05 03:03] seanlip commented on #9772
Welcome to Oppia, @subodhk01! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? You'll need to do that before we can accept your PRs.

Thanks!

[2020-07-05 04:07] #9683 closed, assigned to darksun27

[2020-07-05 05:50] seanlip commented on #9786
Just a note: it's important to preserve the aspect ratio of each image, but I think you might want to shrink the image in some cases (i.e. give it a max height), otherwise it can take up too much of the page (and, in a way, the actual learner response is a bit less important than the other parts of the page).

I.e. make sure that the answer field is not too far away from the question at the top.

[2020-07-05 07:25] darksun27 commented on #9708
The sharing text could just say **Check out this interactive lesson on Oppia**. Making it universal for the creators as well as players.

[2020-07-05 08:27] nishantwrp commented on #9708
@darksun27 Yeah, it can be done. However I would like to check it once with the @oppia/lace-team.

[2020-07-05 15:23] #9322 closed, assigned to rachelwchen, DubeySandeep

[2020-07-05 15:28] nithusha21 opened #9791 "Post migration in the July release, Math expression input preview is broken"
**Describe the bug**
Upon running the ExplorationMigrationJobManager for July release on the test server, on opening the math expression input card of the all_interactions exploration, the interaction preview is broken.
![image](https://user-images.githubusercontent.com/11898234/86535998-ed941980-bf01-11ea-8f62-6c942b668444.png)

The interaction however plays correctly, and I am able to set answer

[2020-07-05 15:45] donosco99 commented on #9791
@nithusha21, the migration actually doesn't affect the math-expression input interaction.
The math expression input basically takes a normal string and converts it to math-equation using math-jax.
But still, I'll try looking into this.
I think @iamprayush plans to remove math-expression input in one of his milestones.
Any idea @iamprayush why this is happening?

[2020-07-05 19:51] U8NWXD commented on #9052
I dug into this a little, and here's what I think is happening:

* When we run the e2e tests using GAE `dev_appserver.py` to launch the site locally. This involves repeatedly using `devappserver2/http_runtime.py` to start runtime instances that serve the site's content.
* `http_runtime.py`chooses an unused port (line 347) and stores it in the environment variable `PORT` when it starts a WSGI serve

[2020-07-05 23:23] nishantwrp opened #9797 "Subscriptions sort in learners dashboard doesn't work correctly."
It can be seen here that the sorting is done by the following keys
https://github.com/oppia/oppia/blob/103a87975a5ce07ae92fdc75441c0b269f7e3dc0/core/templates/pages/learner-dashboard-page/learner-dashboard-page.constants.ts#L48-L57

But the backend returns the following keys

https://github.com/oppia/oppia/blob/103a87975a5ce07ae92fdc75441c0b269f7e3dc0/core/controllers/learner_dashboard.py#L103-L11

[2020-07-06 01:32] ctian12 opened #9799 "Describe your feature request or bug report succinctly"
When I was trying to install oppia using docker, I ran into this issue when building the docker image.

After this operation, 709 kB of additional disk space will be used.
Do you want to continue? [Y/n] Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libyaml-0-2 amd64 0.2.2-1 [48.9 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/universe amd64 python-yaml amd64 5.3.1-1 [130 kB]
debconf: d

[2020-07-06 06:12] riyasoganii opened #9801 "Distortion of text options in item selection interaction."
**Describe the bug**
Distortion of text options in item selection interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any item selection interaction
 2. Make any of the text options extend **slightly** past 1 line in the input
 3. See player

**Observed behavior**
Whenever the option text reaches the second line in the input (1st image), it adds a line on the player, even if

[2020-07-06 06:38] darksun27 commented on #9648
@U8NWXD these line numbers are from the node_modules file and not the ```combined-tests.spec.ts``` file. I guess this is trying to give where actually the code failed in the dependency.

[2020-07-06 06:47] seanlip commented on #9799
Hi @Azrecycle4 -- I'm not sure our Docker process works. In general we keep having issues with Docker/Windows installation (I've just updated https://github.com/oppia/oppia/wiki/Installing-Oppia-(Windows) to be more clear about this).

I'm not sure we can help very much with Windows installation in general, unfortunately. Would you be able to try installing on a different platform instead?

[2020-07-06 14:25] iamprayush commented on #9791
I can confirm that this is due to the changes made by me and not due to @donosco98's migration. The changes I made were on the initialization process of the Guppy math editor, but since this old math expression input interaction is going to be deprecated, those changes aren't being reflected here which is why the placeholder text is being shown as `[?]` instead of `Insert a math formula`. Currentl

[2020-07-06 15:10] MNSDivya opened #9807 "while creating skill/topic- A blank tab is opened and loads after few seconds which misleads user"
**Describe the bug**
while creating skill/topic- A blank tab is opened and loads after few seconds which misleads user

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to test server and Login as admin
 2. Click on Topics and skills dashboard
 3. Click on create a new skill/topic
 4. Enter skill description and Review material. Click save
5. Enter topic name,description, thumbnail and cli

[2020-07-06 15:17] MNSDivya opened #9808 ""Error communicating with server" encountered while creating/accessing/editing any Topic from Topics Tab"
**Describe the bug**
"Error communicating with server" encountered while creating/accessing/editing any Topic from Topics Tab

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to test server and Login as admin
 2. Click on Topics and skills dashboard
 3. Create a topic by entering name,description and image or
 4.Click on already existing Topic or
5. Click on three dots and select option e

[2020-07-06 16:01] MNSDivya opened #9809 "Skill name is displayed on the difficulty level while creating a question"
**Describe the bug**
Skill name is displayed on the difficulty level while creating a question

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to test server and Login as admin
 2. Click on Topics and skills dashboard
 3. Click on create a new skill
 4. Edit the skill to create questions

**Observed behavior**
Skill name is displayed on the difficulty level while creating a question

**E

[2020-07-06 16:42] shavavo commented on #9740
The line that is causing this issue is:
```import { IRootScopeService } from 'angular';```

The reason why this is causing typescripts errors in other files is unknown. The workaround for now is to create a custom type, or to avoid using IRootScopeService.

Custom type example:
[code]

[2020-07-06 16:42] #9740 closed, assigned to vojtechjelinek, nishantwrp

[2020-07-06 17:55] Hudda opened #9812 "Sort JS and Ts imports alphabetically"
Implement [import-sort](https://www.npmjs.com/package/eslint-plugin-import) into the linter.

[2020-07-06 18:04] bansalnitish commented on #8472
Hi @jyan500 and @darksun27, I've assigned you the respective files.

@tianqi-wu could you please pick some other file? Apologies for the inconvenience caused!

[2020-07-06 18:09] bansalnitish commented on #8472
@tianqi-wu shall I give you `assests-backend-api.service`?

[2020-07-06 18:14] Hudda opened #9813 "Add more eslint checks"
Currently, we use the rules that have the checkmark (https://eslint.org/docs/rules/) (since we use "extends": "eslint:recommended") but we need more checks to increase the readability of codebase. Therefore go through all these rules and add those checks that you find useful.

Ref - [Link](https://docs.google.com/spreadsheets/d/1yoZCuipZcpVQrB62jXth0DBR_u8hsbJX67wDXUhOG0Y/edit?usp=sharing)

[2020-07-06 23:44] seanlip commented on #9052
Ooh, yes, that looks like a good analysis, thanks @U8NWXD!

I think one alternative might be to have a sort of retry mechanism (i.e. if we get a BindError, we try again) -- sort of like what happens when we're waiting for the port to be open. But I think disabling sharding is a good short-term fix. Will this impact the speed of running the tests, though?

[2020-07-07 00:15] U8NWXD commented on #9052
@seanlip unfortunately yes, this will make the tests run more slowly. However, I think it's worth it since this flaked 6 times over July 4 and 5, so we're losing a lot of time to reruns anyway.

I was also hoping for a retry mechanism, but since GAE binds many times in a single test to different ports, I think GAE is binding to a new port every time we make a request to the web server. The logical

[2020-07-07 00:34] seanlip commented on #9052
Yeah, I agree with avoiding a custom patch.

I'm a bit confused about why this occurs with sharding but not without sharding. I mean -- the GAE server won't really know how many clients are spun up, right? The server should be able to take pings from multiple clients at a time. Though perhaps this assumption is less true on the dev server since usually multiple client requests won't come in simult

[2020-07-07 00:39] U8NWXD commented on #9648
@darksun27 Just to confirm, in the string `core/templates/combined-tests.spec.js:61955:17`, 61955 isn't a line number for core/templates/combined-tests.spec.js? I'm surprised because I thought the `filepath:lineNumber` notation was a pretty widely accepted convention

[2020-07-07 00:41] U8NWXD commented on #9052
@seanlip maybe I don't understand how sharding works then. Does sharding involve multiple servers being spun up, or just multiple clients? I assumed we were running multiple servers, but if not, then I share your confusion

[2020-07-07 00:50] seanlip commented on #9052
Pretty sure it's just multiple clients, and all protractor tests run against a single server. If you search for "sharding" on this page https://www.protractortest.org/#/style-guide (which has other useful tips!) it says that "The files are executed across different browsers as they become available."

[2020-07-07 02:41] #9586 closed, assigned to kaylahardie

[2020-07-07 02:44] srijanreddy98 commented on #9674
@shavavo, we have added bootstrap to the code base, you can go ahead and use it. The library is called @ng-boostrap. (https://ng-bootstrap.github.io/#/components/tooltip/examples).

[2020-07-07 04:27] #4662 closed, assigned to swaat-on-git

[2020-07-07 09:56] riyasoganii opened #9818 "Symbol error in 'type a number' interaction"
**Describe the bug**
Symbol error in 'type a number' interaction

**To Reproduce**
Steps to reproduce the behavior:
1. Type a + sign in the number input.

**Observed behavior**
The input only takes the number before the plus sign, without issuing any kind of error.

**Expected behavior**
This sort of issue should be handled more generally (to detect **any** invalid input (not just a '+') and preve

[2020-07-07 10:00] MNSDivya opened #9819 "Prerequisite skills text box is off the length while creating skill"
**Describe the bug**
Prerequisite skills text box is off the length while creating skill

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to test server and Login as admin
 2. Click on Topics and skills dashboard
 3. Click on create a new skill
 4. Add prerequisite skill from list and verify the text box length

**Observed behavior**
Prerequisite skills text box is off the length while cr

[2020-07-07 10:02] riyasoganii opened #9820 "Customisation arg for table input interaction"
**Is your feature request related to a problem? Please describe.**
When a student was asked to write multiples from 3 * 1 to 3 * 9 in the table interaction, he lost track of the count and ended up writing till 3 * 10. This showed up as a wrong answer.
<img width="632" alt="Screenshot 2020-07-06 at 9 45 46 PM" src="https://user-images.githubusercontent.com/59031971/86765358-b1c69480-c066-11ea-8776-

[2020-07-07 10:46] donosco99 opened #9821 "Remove the usage of XPath in the e2e tests for rich text components."
**Is your feature request related to a problem? Please describe.**

Remove the usage of xpath selectors in the method `expectRichText()` in [forms.js](https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/forms.js).
There is a point  [here](https://www.protractortest.org/#/style-guide ), which advices against the usage xpaths in protractor tests.

**Describe the solution you'd li

[2020-07-07 11:17] #9509 closed, assigned to nobody

[2020-07-07 12:26] kevintab95 commented on #9801
Hi @riyasoganii, I'm not able to reproduce this. Here's what I see:
![image](https://user-images.githubusercontent.com/11008603/86780740-b301bc80-c07a-11ea-885a-1065f945b3a8.png)

That said, I suspect if this happens on high dpi devices. Did you use a "retina display"?

[2020-07-07 13:45] tianqi-wu commented on #8472
@bansalnitish I've already been working on exploration-summary-backend-api.service.ts; I believe I can finish it really soon.

I'm working on assets-backend-api.service; since I can finish this in a week, can you change the status to "claimed"? thanks!

[2020-07-07 14:01] marianadasilvadev opened #9824 "Error 404 when clicking Get Started button on /fractions url on https://oppiatestserver.appspot.com/"
**Describe the bug**
When accessing `/fractions` and clicking Get Started button, the 404 error page appears:
![Screenshot from 2020-07-07 10-53-18](https://user-images.githubusercontent.com/34922478/86792234-a7919f80-c040-11ea-948e-058637bce08d.png)

**Note:** This error only happens on https://oppiatestserver.appspot.com/, it's working on https://oppia.org.
**To Reproduce**
Steps to reproduce th

[2020-07-07 14:13] rohitkatlaa opened #9825 "Display author profiles button in smaller screens"
**Is your feature request related to a problem? Please describe.**
The author profiles button can be visible in smaller screens as it the bottom navbar has enough space to display it.

**Describe the solution you'd like**
Display the author profiles button in smaller screens.
![Screenshot from 2020-07-07 19-38-31](https://user-images.githubusercontent.com/42460632/86794329-02031e00-c08a-11ea-9d68-

[2020-07-07 14:48] U8NWXD commented on #9052
OK, then sharding probably isn't the issue. I'll dig some more

[2020-07-07 17:39] sagangwee commented on #9499
@subodhk01 I see that you signed the CLA. I've assigned you this issue, so you can go ahead and start working on it. Thanks!

[2020-07-07 17:40] subodhk01 commented on #9499
@sagangwee Thanks!

[2020-07-07 17:41] sagangwee commented on #9465
@anishbadri Hey so sorry for the late response! I must've missed the notification. Are you still working on this issue? You can find instructions for populating data in the dashboard [here](https://docs.google.com/document/d/1JYX4nvTcblaVVYAlTi7rApE0lWSBx0v_ZCCr_8WW4Wc/edit?usp=sharing). Thanks!

[2020-07-07 18:15] kevjumba opened #9827 "Migrate Oppia from Python 2 to Python 3"
**Is your feature request related to a problem? Please describe.**
Python 2 support has been discontinued as of Jan 1st 2020. In order to receive new updates, we need to upgrade migrate service to Python 3.
**Describe the solution you'd like**
There are individual services that need to be migrated detailed in this document:
https://docs.google.com/document/d/1LdItcDzNQmzTOVvLWg2fPNC7503FM4BfA-4aN5

[2020-07-07 18:25] #9791 closed, assigned to iamprayush

[2020-07-07 18:29] aks681 commented on #8668
Seems this was closed accidentally when a PR was merged, reopening.

[2020-07-08 00:26] U8NWXD opened #9833 "Description Caption Wrong when Creating Topic"
**Describe the bug**
The description caption says `name` instead of `description`.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as an admin
 2. Start creating a topic

**Screenshots**

![Screen Shot 2020-07-07 at 20 24 36](https://user-images.githubusercontent.com/19878639/86859187-1e09be00-c090-11ea-9de5-729ac2d74803.png)

**Desktop (please complete the following information; dele

[2020-07-08 00:42] U8NWXD opened #9834 "Topic Warning Message Cut Off in Topic Creator"
**Describe the bug**
Topic warning message cut off

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Create a subtopic with no exploration ID

**Screenshots**
![Screen Shot 2020-07-07 at 20 38 30](https://user-images.githubusercontent.com/19878639/86860088-311d8d80-c092-11ea-8b39-c0313f7d1134.png)

**Desktop (please complete the following information; delete this section if

[2020-07-08 00:55] U8NWXD opened #9835 "Drag and Drop Sort Question Creator Incorrectly Allows Items at Same Position"
**Describe the bug**
Even when the box for `Allow multiple sort items in the same position` is unchecked, the creator can create feedback for an answer with multiple sort items in the same position.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create a question for that skill with the drag and drop sort interaction
 3. Leave the box `Allow multiple sort items in the sa

[2020-07-08 00:58] U8NWXD opened #9836 "Gibberish in Drag and Drop Sort Interaction Solution in Question Editor"
**Describe the bug**
When creating a question with the drag and drop sort interaction, gibberish is shown as the solution

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create a question for that skill with the drag and drop sort interaction
 3. Create feedback, hint, and solution

**Screenshots**

![Screen Shot 2020-07-07 at 20 51 14](https://user-images.githubuserconte

[2020-07-08 01:09] U8NWXD opened #9837 "Merged Skills Persist After Merge, But Lose Questions"
**Describe the bug**
When skills are merged, the skill from which the merge was initiated loses its questions but survives.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create 2 skills and 1 topic
 2. Assign 1 skill to the topic
 3. From the other skill, select `Merge Skill` and choose the first skill

**Observed behavior**
The skill from which the merge was initiated survives.

**Expect

[2020-07-08 01:36] U8NWXD opened #9838 "Long Topic Names Overflow"
**Describe the bug**
When viewing a topic as a learner, long names overflow

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a name of maximum length
 2. Preview it

**Screenshots**

![Screen Shot 2020-07-07 at 21 27 33](https://user-images.githubusercontent.com/19878639/86863239-cfaced00-c098-11ea-9c79-c29c90df58be.png)

**Desktop (please complete the following informati

[2020-07-08 04:04] queencai commented on #4057
can I get  E - Y utils.service.ts?

[2020-07-08 08:23] bansalnitish commented on #9749
@orthodoxparadox can you please also add an unclaimed section of directives in this issue that follows all the prerequisites mentioned in the issue description so that other contributors can work on them as well when you get time? Please do not add any such directive that could not be migrated (either due to some AngularJS service or some it uses some above mentioned terms).

[2020-07-08 08:34] sainanee commented on #9749
@bansalnitish Sure, I'll do it by EOD today

[2020-07-08 08:49] bansalnitish commented on #9749
Thank you :)

[2020-07-08 10:46] nithusha21 commented on #9801
Dug a little bit into this. Seems to happen if you have trailing spaces in the text. Maybe the fix is to use trim() before saving.
![image](https://user-images.githubusercontent.com/11898234/86909871-654a8a00-c136-11ea-8c20-75fd9c6b778b.png)

[2020-07-08 13:07] riyasoganii opened #9844 "Faulty 'Keyword filter' option for topic menu"
**Describe the bug**
Issues with topic menu

**To Reproduce**
Steps to reproduce the behavior:
1. Have admin rights
2. Go to topics and skills dashboard
3. Search topics menu by keyword

**Observed behavior**
The keyword search was not able to pick up on the word 'sample' although it was present in one of the skills, as shown in the screenshot below. The keyword search then persisted to have a 'No

[2020-07-08 13:18] riyasoganii opened #9845 "Topic Editor not Working"
**Describe the bug**
Topic editor not opening

**To Reproduce**
Steps to reproduce the behavior:
 1. Have admin rights
2. Go to Topics and Skills dashboard
3. Create a new topic

**Observed behavior**
This error pops up when trying to open the topic editor screen. The page is blank
**Expected behavior**
Topic editor screen should open.

**Screenshots**
<img width="1399" alt="Screenshot 2020-07-08

[2020-07-08 13:22] riyasoganii opened #9846 "Skill Editor 'Preview' functionality not working"
**Describe the bug**
Preview in Skill editor is not working
**To Reproduce**
Steps to reproduce the behavior:
1. Have admin rights
 2. Go to topic and skills dashboard
 3. Create new skill
 4. Add questions
5. Click on preview

**Observed behavior**
There is no preview even though a multiple choice question has been added.

**Screenshots**
<img width="1183" alt="Screenshot 2020-07-08 at 6 22 18 PM

[2020-07-08 13:24] riyasoganii commented on #9801
I do have a retina display. Although I wouldn't be sure that is the reason.

[2020-07-08 15:18] brianrodri opened #9847 "Render SortedTiles as a single row with smooth scrolling"
When many answers are rendered by the SortedTiles visualization, they are broken up into multiple lines.
![before](https://user-images.githubusercontent.com/5094060/86526819-ad338d80-be66-11ea-8cf0-8bf5185a26a8.gif)

We should change it so that they all render on the same line, and are navigable through "next" and "previous" buttons which smoothly scroll the next answers into view.
![long text](ht

[2020-07-08 20:24] DubeySandeep opened #9851 "Pylint messages failed to print"
Linter is throwing error on linting files:
![image](https://user-images.githubusercontent.com/16653571/86966527-f5182480-c186-11ea-9641-ed5d0d0c6998.png)

[2020-07-08 20:24] DubeySandeep commented on #9851
@Hudda, Can you please check this looks like an issue from our newly implemented lint-output functionalities?

[2020-07-08 22:07] kevintab95 commented on #9845
Were there any console errors?
In general, always add console errors if you see them.

[2020-07-08 22:08] kevintab95 commented on #9844
/cc @Showtim3

[2020-07-08 22:08] kevintab95 commented on #9846
/cc @Showtim3

[2020-07-08 22:16] nishantwrp opened #9853 "Collection Editor doesn't show up correct messages"
On trying to publish a collection with private explorations. There is no error message. (But a console error due to the failed API request).

Even when the collection is published correctly. There is no success message.

[2020-07-08 22:34] kevintab95 commented on #9853
/cc @nithusha21 @Showtim3

[2020-07-08 23:01] nishantwrp commented on #9483
@seanlip Yup when the hooks take too much time I get this
[code]

[2020-07-09 05:35] seanlip commented on #9483
OK, thanks @nishantwrp.

@DubeySandeep @nishantwrp -- if you have encountered this issue since then, are any of you still seeing the issue where there is no error message to indicate what's going on (as in the original comment)? If so, perhaps @Hudda can take a look, otherwise maybe we can close this. (I'm not actually sure there's a solution to the timeout problem -- github.com presumably determi

[2020-07-09 05:45] Hudda commented on #9851
@DubeySandeep Can you please list down the steps to reproduce this error.

[2020-07-09 06:03] sainanee commented on #9749
A few files to be migrated:

alert-message.directive.ts
answer-content-modal.controller.ts
confirm-or-cancel-modal.controller.ts
side-navigation-bar.directive.ts
apply-validation.directive.ts
audio-file-uploader.directive.ts
edit-thumbnail-modal.controller.ts
html-select.directive.ts
image-uploader.directive.ts
forms/schema-based-editors/ (all files)
forms/schema-viewers/ (all files)

[2020-07-09 08:38] kevintab95 commented on #9836
Duplicate of #9281. Closing.

[2020-07-09 08:38] #9836 closed, assigned to nobody

[2020-07-09 08:41] kevintab95 commented on #9845
Duplicate of #9808. Closing.

[2020-07-09 08:41] #9845 closed, assigned to nobody

[2020-07-09 09:19] jameesjohn opened #9855 "Adding translations to explorations"
**Describe the bug**
Clicking the translation and voiceover button on the navigation bar shows an empty page. Reloading the page works as expected.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to 'Creator Dashboard'
 2. Create an exploration.
 2. Click on 'Translation and voiceover button'
 3. A blank screen showing just the navbar is shown.
 4. There is no error on the console when

[2020-07-09 10:05] riyasoganii opened #9856 "'Continue button' not visible in Lesson editor"
**Describe the bug**
'Continue button' not showing up in lesson editor

**To Reproduce**
Steps to reproduce the behavior:
Create a lesson
Add button interaction for next card

**Observed behavior**
There is an empty space in the area in which a 'Continue -->' button is usually present.

**Screenshots**
<img width="857" alt="Screenshot 2020-07-09 at 3 15 20 PM" src="https://user-images.githubuserco

[2020-07-09 10:54] nishantwrp commented on #9483
@seanlip Yes, it happened yesterday.

[2020-07-09 10:57] seanlip commented on #9483
With no error message? (In your comment, you indicated an error message, and that behaviour is expected, but the behaviour in @DubeySandeep's original comment is not.)

[2020-07-09 10:59] nishantwrp commented on #9483
@seanlip This message usually gets lost between the log of the checks and at last there is no error message. Yesterday, by chance I noticed that message.

[2020-07-09 11:12] ReshuKumari commented on #8472
@bansalnitish I wouls like to work on editable-story-backend-api.service.ts

[2020-07-09 11:12] Hudda commented on #9483
@seanlip I have the same experience the message gets lost between the logs.

[2020-07-09 12:37] #9786 closed, assigned to kevintab95

[2020-07-09 12:37] #9818 closed, assigned to kevintab95

[2020-07-09 12:41] kevintab95 commented on #9772
Should be fixed by #9830. Closing.

[2020-07-09 12:41] #9772 closed, assigned to kevintab95

[2020-07-09 18:23] nishantwrp opened #9859 "Return domain objects in the backend-api services"
After **QuestionObjectFactory** is migrated to Angular. The following backend api services must be refactored to return a domain objects instead of backend dicts.

- core/templates/domain/question/pretest-question-backend-api.service.ts
- core/templates/domain/question/question-backend-api.service.ts

[2020-07-09 19:22] #9634 closed, assigned to sagangwee

[2020-07-09 19:23] seanlip commented on #9483
OK, thanks, makes sense. Would you be able to fix it?

[2020-07-09 22:01] kevintab95 opened #9864 "Unable to save question with NumericInput interaction"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to save a question with NumericInput interaction because of a warning in the solution editor. Even if the correct answer is selected, it shows a warning "This solution doesn't correspond to an answer marked as correct. Verify the rules specified for the answer or change the solution."

**To Reproduce**
Steps to reprodu

[2020-07-10 04:32] #9500 closed, assigned to nobody

[2020-07-10 05:21] nithusha21 opened #9868 "Add e2e tests in prod mode for all new structure views"
#9808 is an issue we caught in prod mode only, which was an issue with the build. All pages need to be tested in prod env in e2e tests to avoid further such regressions.

[2020-07-10 05:25] tianqi-wu commented on #4057
Can I get E - Y SkillDifficultyObjectFactory.ts? Thanks a lot!

[2020-07-10 05:26] DubeySandeep commented on #9868
@nithusha21, as this issue is marked `important` can you please find someone who can work on this?

[2020-07-10 05:37] #9686 closed, assigned to nobody

[2020-07-10 10:30] #9688 closed, assigned to vojtechjelinek

[2020-07-10 15:46] nithusha21 commented on #9824
This is expected behaviour. However, thanks for reporting!

[2020-07-10 15:46] #9824 closed, assigned to nobody

[2020-07-10 15:48] nithusha21 commented on #9808
Fixed in #9857

[2020-07-10 15:48] #9808 closed, assigned to nobody

[2020-07-10 18:29] bansalnitish commented on #9749
Added these all in the unclaimed section. Thanks @orthodoxparadox!

[2020-07-10 18:36] bansalnitish commented on #9749
Could you please do one thing? For `forms/schema-based-editors/ (all files)` and `forms/schema-viewers/ (all files)` can we please add all the directives listed in these? It would easy for contributors to pick up. They can just add a comment to claim a directive. Now, they would have to go manually in these directives and choose one.

(It is not urgent since we have few directives listed in unclai

[2020-07-10 19:07] kevjumba opened #9874 "Linting Checks Fail with No Error Message"
**Describe the bug**
Linter CI Check fails and outputs error logs with no error message. Not sure if other PRs are also suffering this problem.

**To Reproduce**
Steps to reproduce the behavior:
 1. On PR https://github.com/oppia/oppia/pull/9828, check the lint check logs.

**Observed behavior**
Linter CI Check fails and outputs error logs with no error message.

**Expected behavior**
It shouldn't

[2020-07-10 19:51] brianrodri opened #9875 "Incorporate learner answer details into the statistics tab"
Learner answer details were originally implemented as "improvement tasks". This decision has been undone, because they do not "conceptually" belong there. This is especially true with the improvements tab's redesign ([design doc](https://docs.google.com/document/d/1qQbW9Z_cgJ1mwU0hzBpPVS_4WLT_l_08ZixLR1G2bvQ/edit#heading=h.kwpfg6q6032)).

Instead, we should incorporate them into the statistics tab

[2020-07-11 04:25] mschanteltc opened #9877 "Improvements for Learner View UI (v1)"
![Screen Shot 2020-07-10 at 9 17 22 PM](https://user-images.githubusercontent.com/22177674/87216284-1ac23c80-c2f3-11ea-85fa-94dfc39eb28e.png)
- This Revision Page did not have a "Next Skill Card" at the bottom. If it is the last skill of the Revision list, it should loop back to the first skill.
-----------------
![Screen Shot 2020-07-10 at 9 16 41 PM](https://user-images.githubusercontent.com/221

[2020-07-11 04:25] mschanteltc commented on #9877
@Showtim3 @aks681 PTAL

[2020-07-11 08:21] nairnikhil12 commented on #8668
Hey @Showtim3, can I work on autoplayed-videos.service.ts

[2020-07-11 11:09] IMADILKHAN commented on #8472
@bansalnitish I would like to be assigned assets-backend-api.service.ts if it is not already been assigned.

[2020-07-11 11:49] anandwana001 opened #9879 "Wiki Page Broken Link"
**Describe the bug**
Wiki Page - [Installing Oppia (MacOS)](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29) has a sub-topic called [Running Oppia on a development server](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29#running-oppia-on-a-development-server) Point number 3 **demo explorations** has a link connected which is not working. [Broken Link](https://git

[2020-07-11 11:52] tianqi-wu commented on #8472
Sorry but I'm already assigned with the file, and has been working on it for days. Do you mind working on something else? Thanks!

[2020-07-11 11:54] tianqi-wu commented on #8472
@bansalnitish Can you please update my status as "Claimed" on assets-backend-api.service.ts? I've been working on that since Thursday and I'm sure I can finish it in a week.

[2020-07-11 12:48] vojtechjelinek commented on #6271
`update_interaction_answer_groups` is not yet completed

[2020-07-11 13:36] tianqi-wu commented on #8472
@IMADILKHAN Do you mind switching to another file if possible?

[2020-07-11 13:48] tianqi-wu commented on #4057
@marianazangrossi Sorry for forgetting to quote you in the previous reply. Can I get E - Y SkillDifficultyObjectFactory.ts?

[2020-07-11 14:22] kevintab95 commented on #8472
Hi @tianqi-wu, I have assigned the file to you. @IMADILKHAN please pick another file. Thanks!

[2020-07-11 14:26] tianqi-wu commented on #8472
@kevintab95 Thanks a lot. I can proceed my work immediately.

[2020-07-11 14:51] nithusha21 commented on #9877
Hi @Showtim3 @aks681 @kevintab95 can this be fixed ASAP? We need it for the release

[2020-07-11 14:52] nithusha21 commented on #9801
Hi @aks681 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:53] Showtim3 commented on #8668
Assigned you @darkpsychic

[2020-07-11 14:53] nithusha21 commented on #9807
Hi @aks681 @Showtim3 @kevintab95  can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:54] nithusha21 commented on #9809
Hi @aks681 @Showtim3 @kevintab95  can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:55] nithusha21 commented on #9819
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:55] nithusha21 commented on #9833
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:56] nithusha21 commented on #9834
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:56] nithusha21 commented on #9835
Hi @kevintab95 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:57] nithusha21 commented on #9837
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:57] nithusha21 commented on #9838
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:58] nithusha21 commented on #9844
Hi @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:58] nithusha21 commented on #9846
Hil @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 14:59] nithusha21 commented on #9856
Hi @aks681 @kevintab95 @Showtim3 can this be fixed ASAP(by Jul 14)? We need it for the release

[2020-07-11 15:15] kevintab95 commented on #9856
@Showtim3 PTAL!

[2020-07-11 15:19] kevintab95 commented on #9837
@aks681 PTAL!

[2020-07-11 16:43] Hudda commented on #9874
@bansalnitish @DubeySandeep PTAL!

[2020-07-11 18:34] aks681 commented on #9809
This is what is expected, since when a skill is created, the first explanation for the medium difficulty rubric gets autofilled with the skill name, and that is what is displayed here. Hence, this works as expected.

[2020-07-11 18:34] #9809 closed, assigned to kevintab95, aks681, Showtim3

[2020-07-11 18:45] aks681 commented on #9807
This is actually one of the standard ways to do this. If a new tab is opened after the final data is fetched (in which case, this wouldn't occur), then the browser considers the 'open new tab' function as not occuring due to a direct user input and hence would block it, due to security concerns. In fact, we can see this even when opening a PR link from gmail. So, we open a new tab as soon as the b

[2020-07-11 20:54] seanlip commented on #9807
I think it doesn't need to be a blocking bug -- I am OK with the existing behaviour, though it seems like @MNSDivya is experiencing greater load times than me.

I wonder if we could have a better indication of "this will open a new tab" though? That will help users know what to expect. /cc @mschanteltc -- any thoughts?

[2020-07-11 23:45] #9797 closed, assigned to nishantwrp

[2020-07-12 00:55] #9639 closed, assigned to kaylahardie

[2020-07-12 01:48] Arthur092 commented on #9879
I can take this issue

[2020-07-12 01:59] DubeySandeep commented on #9879
@anandwana001, Thanks for reporting the issue, I've fixed it now!

Hi @Arthur092, Thanks for showing interest, I think you haven't signed the CLA yet, can you please follow the [instruction provided in the wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

[2020-07-12 01:59] #9879 closed, assigned to nobody

[2020-07-12 03:14] nithusha21 commented on #9807
Ok thanks for confirming. Removed from blocking bugs.

[2020-07-12 03:58] nithusha21 commented on #9856
This has been fixed. Possibly by #9857.

[2020-07-12 03:59] #9856 closed, assigned to Showtim3

[2020-07-12 04:01] nithusha21 commented on #9846
This looks fixed. Possibly by #9857

[2020-07-12 04:01] #9846 closed, assigned to Showtim3

[2020-07-12 06:04] DubeySandeep opened #9887 "Add lint test to avoid inline comments in CODEOWNER file"
The CODEOWNER files don't work on GitHub if you add inline comments (or anything except filename followed by user/project name.). Through this issue, we wanted to add a check to avoid inline comments in the CODEOWNER file.

Note: If we won't follow the expected pattern in the CODEOWNER file then GitHub will not be able to parse the CODEOWNERS file correctly and the [CODEOWNER functionality](https:

[2020-07-12 07:29] seanlip commented on #9887
/cc @brianrodri FYI

[2020-07-12 09:07] Showtim3 commented on #9837
Let's double check this, since there's an e2e test covering this scenario.

[2020-07-12 16:33] rochisha0 commented on #8472
Can I work on this editable-story-backend-api.service.ts? @bansalnitish
If it's already allotted, allot me another beginner file to transfer, please?

[2020-07-12 17:09] U8NWXD commented on #9052
This still happens

[2020-07-12 17:49] ReshuKumari commented on #8472
@rochisha0 I would like to work on editable-story-backend-api.services.ts as @bansalnitish have not assigned it yet. I have also done some work regarding it. Can you pease choose something else.

[2020-07-12 18:11] rachelwchen opened #9894 "Lesson info modal redesign"
In each lesson, clicking on the info icon in the top pulls up a lesson info modal.
![image](https://user-images.githubusercontent.com/12159451/87253289-ed7aa900-c42e-11ea-9cb0-2f99a33803e9.png)

There are a few minor design issues with the modal that we can improve. Specifically, the issues are:
**1: Description line-height.**
Description line-height is too small, compromising readability. Increas

[2020-07-12 20:43] Showtim3 commented on #9844
Hey @nithusha21 There were some topics on the test server, that were missing description and hence the filter was not working. After adding description, the filter is working as expected. So You can verify this once and close this issue.
![Screenshot from 2020-07-13 01-58-02](https://user-images.githubusercontent.com/30312043/87256227-6240f800-c4ae-11ea-8de7-fc41316a2355.png)

[2020-07-12 21:13] subodhk01 commented on #9499
@sagangwee I was unable to reproduce the issue, since I'm new to the platform can you please explain how were you able to get to the Modal in image?

[2020-07-12 21:24] dheeraj1997 commented on #8472
Can I work on user-email-preferences.service.ts? @vojtechjelinek

[2020-07-13 02:37] #7690 closed, assigned to brianrodri

[2020-07-13 09:03] #9756 closed, assigned to Showtim3

[2020-07-13 12:34] U8NWXD commented on #9052
This still happens

[2020-07-13 14:53] tianqi-wu commented on #8668
Can I do html-escaper.service.ts, url.service.ts, and player-position.service.ts? Thanks a lot!

[2020-07-13 15:42] tianqi-wu commented on #8668
Hey @Showtim3, Can I do html-escaper.service.ts, url.service.ts, and player-position.service.ts? Thanks a lot!

[2020-07-13 17:01] #9837 closed, assigned to Showtim3

[2020-07-13 17:19] Showtim3 commented on #8668
Oh @tianqi-wu You want to take 3 serivces at a time? :P
Ok assigned you all three.

[2020-07-13 17:20] Showtim3 commented on #9834
Closed via #9896

[2020-07-13 17:20] #9834 closed, assigned to Showtim3

[2020-07-13 17:20] Showtim3 commented on #9833
Closed via #9896

[2020-07-13 17:20] #9833 closed, assigned to Showtim3

[2020-07-13 17:21] Showtim3 commented on #9755
Closed via #9769

[2020-07-13 17:21] #9755 closed, assigned to Showtim3

[2020-07-13 18:38] aks681 commented on #9838
@U8NWXD This was actually because there was no space between the characters, I just tried it and got this:
![image](https://user-images.githubusercontent.com/22347970/87340620-f3bf7100-c565-11ea-8025-9e9154e97f26.png)

So, I think for all practical applications, this wouldn't be an issue, what do you think?

[2020-07-13 20:21] U8NWXD commented on #9838
I agree that this is unlikely to be a problem for practical inputs, so this probably doesn't need to be high priority. However, I still think this behavior is undesirable, so I don't think we should close the issue. I leave it to @nithusha21 to decide whether this is high enough priority to block the release, but I don't think it is

[2020-07-13 20:46] aks681 commented on #9838
Yeah, though since the fix is a minor CSS change, I'll fix this as well along with the other blocking bugs!

[2020-07-13 21:17] kaylahardie opened #9902 "On the admin page the viewing community reviewers by role dropdown isn't populated"
**Describe the bug**
I logged on as an admin and added myself as a community reviewer for translations for a couple of languages. I tried to view which users had rights to review translations for a particular language by role (for issue #9640) but the dropdown menu wasn't populated.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as an admin.
 2. Go to the admin page.
 3. Add your u

[2020-07-13 22:02] #9676 closed, assigned to kaylahardie

[2020-07-13 22:08] sagangwee commented on #9499
@subodhk01 So first, you'll need to enable the contributor dashboard by going into the feconf.py file and setting `COMMUNITY_DASHBOARD_ENABLED` to True.

Then, you can following [these](https://docs.google.com/document/d/1JYX4nvTcblaVVYAlTi7rApE0lWSBx0v_ZCCr_8WW4Wc/edit#heading=h.8u0749eek6xc
) steps to populate translation opportunities in the dashboard. Once that's done, you should see translati

[2020-07-13 23:13] vojtechjelinek commented on #8472
@dheeraj1997 I have assigned you exploration-data.service.ts since user-email-preferences.service.ts is dependent on that file and because there is no activity from the previous contributor.

[2020-07-13 23:22] kevintab95 opened #9904 "Concept card related issues"
**Describe the bug**
A clear and concise description of what the bug is.

There are 2 isssues:
- Concept card is saveable even if no link is defined.
- Editing a concept card is not possible. It opens up with concept card instead of the edit modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to skill editor page for an existing skill.
 2. Click on the review material field and click

[2020-07-14 02:49] #9569 closed, assigned to darksun27

[2020-07-14 03:31] ctian12 commented on #7450
Hi, can I try to work on `gae_models.VersionedModel`? Thanks.

[2020-07-14 12:38] #9844 closed, assigned to nobody

[2020-07-14 15:35] #9874 closed, assigned to Hudda

[2020-07-14 17:19] rochisha0 commented on #8472
@vojtechjelinek Can you assign me voiceover-recording.service.ts?

[2020-07-14 17:54] mschanteltc commented on #9807
I'm thinking that we should have a progress bar/loading screen so the user understands that the page will load at some point. Users have a limited attention span, so having to see a white page for a few seconds can already trigger some confusion on what they expect the page would load into.

Maybe we can have a loading screen similar to [this](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41c

[2020-07-14 18:06] #9356 closed, assigned to rohitkatlaa

[2020-07-14 18:06] #9358 closed, assigned to rohitkatlaa

[2020-07-14 20:20] seanlip commented on #9807
Hm we normally have a loading screen for most of our pages. I agree that we should do one here if we don't have it already.

Could we file a separate issue for that? (It's a different fix from what was suggested originally here.)

[2020-07-15 14:40] nithusha21 commented on #9864
#9903 fixes this.

[2020-07-15 18:37] nishantwrp opened #9914 "Profile page doesn't sort the explorations correctly"
It can be seen here that the user edited explorations are programmed to get sorted according to ratings and number of views
https://github.com/oppia/oppia/blob/3e915890d34ec0990ec8544bf6f4d74bf040fa26/core/templates/pages/profile-page/profile-page.component.ts#L80-L97

But going to a profile (for ex -> https://www.oppia.org/profile/sean) we can see that the explorations are not sorted.

NOTE -> I'

[2020-07-15 21:03] dheeraj1997 commented on #8472
@Vojtěch Jelínek <vojtin.j@gmail.com> I am done with the setup.
Can you please help me in getting started with this issue?
I have also pinged you on hangouts. It would be really convenient if we can
connect over hangouts.

*Regards,*
*Dheeraj Kumar Varshney*

*Pursuing B.Tech+M.Tech (Information Technology)Indian Institute of
Information Technology and Management, GwaliorMobile: +91-9111681037*
*h

[2020-07-15 23:57] shavavo opened #9918 "Flaky frontend tests for PR9865 - Possibly running tests on wrong commit"
**Describe the bug**
#9865
The actions job for frontend tests are failing, but passing locally. The error that appears on the failing tests is an error I encountered in fixed a couple of commits ago. I'm inclined to think that the build is not running on the latest commit.

https://github.com/oppia/oppia/pull/9865/checks?check_run_id=875466951

**To Reproduce**
Steps to reproduce the behavior:
 1.

[2020-07-16 05:32] #9864 closed, assigned to kevintab95

[2020-07-16 07:59] tianqi-wu commented on #8038
Hi @nishantwrp @bansalnitish @vojtechjelinek, can you assign me core/templates/pages/exploration-editor-page/services/user-email-preferences.service.ts? Thanks a lot!

Also, is there a link where I can find more on how to do the tests independent from setting up the whole server?

[2020-07-16 09:44] aggarwalpulkit596 opened #9924 "Add Accessibility Support to ImageClickInput"
**Is your feature request related to a problem? Please describe.**
Currently for the ImageClickInput interaction there is no support for accessibility and for android(for web too in future) we would be needing additional parameters in order to provider some information to users.
**Describe the solution you'd like**
I would be adding an additional parameter named as contentDescription inside the im

[2020-07-16 13:03] kevintab95 commented on #9835
Hm, currently we don't have a way to access customization args in the rule editor. So, the fix for this would require some refactoring. Also, considering that this does not block users from using the functionality, can we move this issue out of the "blocking bugs" milestone and instead prioritize it in the LaCE team tracker?
/cc @aks681 @nithusha21

[2020-07-16 13:43] tianqi-wu opened #9929 "'There are too many files in your application for ' while starting server"
This error occurred recently in production

During restarting my server, I encountered the following problem:

opensource/oppia_tools/google_appengine_1.9.67/google_appengine/google/appengine/tools/devappserver2/mtime_file_watcher.py:182: UserWarning: There are too many files in your application for changes in all of them to be monitored. You may have to restart the development server to see some

[2020-07-16 13:55] sainanee opened #9930 "Linting check for closing HTML tag conflicting with compiler"
**Describe the bug**
While migrating a directive to Angular (error-page), and modifying it's template file, I ran into the follow issue.
The code was as follows (before & after Angular migration):
![Screenshot from 2020-07-16 19-16-04](https://user-images.githubusercontent.com/30462390/87678842-0f5e8d80-c799-11ea-9e39-e4131fbc8eb2.png)

If I keep the closing `</p>` tag on line 37, I get the follow

[2020-07-16 14:05] vojtechjelinek commented on #8038
@tianqi-wu Done.

What test do you mean here?

[2020-07-16 15:52] tianqi-wu commented on #8038
Is there a test to check if I am writing the code correctly?

[2020-07-16 22:18] pengcheng95 commented on #8668
Hey @Showtim3, can i work on story-editor-state.service.ts. Thanks!

[2020-07-17 00:50] sainanee opened #9936 "Demo explorations give concurrency exception on reloading all explorations"
**Describe the bug**
Demo Explorations give concurrency exception on reloading all explorations

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as administrator
 2. Click on Profile -> Admin Page
 3. On the activities tab (current by default) scroll down and click on reload all explorations
 4. Only some explorations load

**Observed behavior**
Some explorations don't load. eg 15 succ

[2020-07-17 01:07] sainanee opened #9937 "Publish/Save options for Collection Editor disappear on resizing window"
**Describe the bug**
Publish/Save options for Collection Editor disappear on making the window narrower

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a user abcd and log in as administrator
 2. Change role of abcd to collection editor
 3. Go to creator dashboard -> create -> create collection
 4. See error

**Observed behavior**
Options disappears as window gets narrower

**Expecte

[2020-07-17 01:46] marianadasilvadev opened #9938 "Replace $timeout.flush to $flushPendingTasks() and $verifyNoPendingTasks('$timeout') in frontend unit tests"
**Is your feature request related to a problem? Please describe.**
Using `$timeout.flush` in unit tests can be a tricky thing to do since a delay needs to be passed and `$timeout.flush` can flush other tasks than timing ones. According to the documentation, this should be replaced by `$flushPendingTasks()` and `$verifyNoPendingTasks('$timeout')`. Reference: https://docs.angularjs.org/api/ngMock/se

[2020-07-17 01:46] marianadasilvadev commented on #9938
**Note:** I think this issue would be a great first good issue.

[2020-07-17 01:59] marianadasilvadev opened #9939 "Fix $timeout workaround on state-diff-modal.controller.ts"
**Is your feature request related to a problem? Please describe.**
The [state-diff-modal.controller.ts](https://github.com/oppia/oppia/blob/685cb938ceefd9856d460b2d2bbfeedfdcf25689/core/templates/pages/exploration-editor-page/modal-templates/state-diff-modal.controller.ts#L52-L84) has two `$timeout` being used as a workaround for e2e tests. This code can create a tricky behavior afterward and the

[2020-07-17 02:07] kaylahardie opened #9940 "View Community Reviewers Doesn't Display Results in a Chart like View User Roles"
**Describe the bug**
I was adding an e2e test for my fix for issue #9902 when I noticed that the ng-show in role-graph.directive.html isn't being triggered to show the community reviewers results in a table for the 'View Community Reviewers' section of the admin role page when viewing by role. It shows a table when you view by username in the 'View Community Reviewers' section but not when you vie

[2020-07-17 04:32] sainanee commented on #9930
@bansalnitish

[2020-07-17 04:32] sainanee commented on #9936
@bansalnitish

[2020-07-17 04:32] sainanee commented on #9937
@bansalnitish

[2020-07-17 05:35] ankita240796 commented on #8668
Sure @pengcheng95, I have assigned you the file. Thanks!

[2020-07-17 14:41] marianadasilvadev commented on #4057
I've assigned both of you @queencai and @tianqi-wu, sorry for the late reply though

[2020-07-17 14:48] nithusha21 commented on #9835
Understood Kevin, thanks! Removing from blocking bugs.

[2020-07-17 18:30] seanlip commented on #9936
@orthodoxparadox did you look into this as we discussed? If we need to revert a PR, we should do so ASAP.

[2020-07-17 18:38] sainanee commented on #9936
@seanlip Give me a bit, just checking this!

[2020-07-17 18:44] sainanee commented on #9936
@seanlip  It is indeed at #9744 - hash 0e4fa4b1de1bade4e99d85465e639d674d3c5289, it works before this and fails after this

[2020-07-17 18:50] seanlip commented on #9936
Ah ok thanks. I think the revert commit for that needs to be made manually -- want to take a shot at it?

/cc @brianrodri

[2020-07-17 18:50] seanlip commented on #9936
Also just one question -- surely we have a backend test for the handler that button calls. Any idea why the backend tests aren't failing for that handler?

[2020-07-17 18:53] sainanee commented on #9936
I think the revert commit can be made automatically actually. Brian's changes were the last changes to those files

[2020-07-17 18:53] sainanee commented on #9936
I'm not sure about the backend tests. I can try looking into it

[2020-07-17 18:57] seanlip commented on #9936
I tried doing an automatic revert via github, but that didn't work, it said there's a merge conflict. Maybe worth trying and seeing if you can do it?

[2020-07-17 19:03] sainanee commented on #9936
Sure!

[2020-07-17 19:14] kaylahardie opened #9944 "Fetching the results for 'View Community Reviewers' populates the 'View User Roles' table in the Admin Page"
**Describe the bug**
In the Admin page, in the roles tab, if you view users by role in the 'View User Roles' section and then view reviewers by role in the 'View Community Reviewers' section, the results of the community reviewers will be displayed in both sections.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as an Admin.
 2. Go to the Roles tab of the Admin page.
 3. Add yourse

[2020-07-17 19:32] kaylahardie opened #9945 "get_chrome_driver_version() in run_e2e_tests.py does not work for mac users"
**Describe the bug**
When running the e2e test script, the get_chrome_driver_version() method in run_e2e_tests.py gets the chrome version
by using the 'google-chrome --version' command which doesn't work for mac users. As a result, mac users have to determine manually which version of chrome driver to use and use the --chrome_driver_version flag.

**To Reproduce**
Steps to reproduce the behavior:

[2020-07-17 19:52] sainanee commented on #9936
@seanlip I might be missing something obvious here, but I manually reversed the changes and I'm getting a lot of warnings. Am I supposed to actually go line by line and change it back?

[2020-07-17 19:53] seanlip commented on #9936
Do whatever is needed to undo the changes cleanly without introducing new
errors.

[2020-07-18 05:08] donosco99 opened #9952 "Remove the temporary models defined for math image generation from exp_models and user_models."
The PR #9889 , introduces a temporary model
1. `ExplorationMathRichTextInfoModel` in `storage/exploration/gae_models`
this model needs to removed once we generate SVG images for all the math rich text componets in old explorations.

2. Remove this model only when we are sure no instances of these models exist on any server(prod, backup and test servers)

[2020-07-18 12:13] #9801 closed, assigned to aks681

[2020-07-18 12:13] #9819 closed, assigned to aks681

[2020-07-18 12:13] #9838 closed, assigned to aks681

[2020-07-18 12:13] #9877 closed, assigned to kevintab95, aks681

[2020-07-18 16:28] accio112 commented on #8472
I want to work on exploration-rights.service.ts .  Please assign it to me. @aks681

[2020-07-19 17:29] #9904 closed, assigned to kevintab95

[2020-07-19 21:05] ReshuKumari commented on #8668
@Showtim3 can I work on classroom-backend-api.service.ts

[2020-07-19 23:58] Showtim3 commented on #8668
@ReshuKumari Assigned you.

[2020-07-20 01:35] dchen97 opened #9964 "Fix Browse Lessons link on oppia.org/parents"
**Describe the bug**
Currently, the "Browse Lessons" CTA Button on the oppia.org/parents landing page leads to oppia.org/community-library, which leads to a 404 error message.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `oppia.org/parents` OR `oppia.org/teachers` OR `oppia.org/volunteers` OR `oppia.org/nonprofits`
 2. Click on any button that says `Browse Lessons`
 3. See 404 erro

[2020-07-20 06:30] orthodoxparadox commented on #9749
List of some easy to migrate directives:
`continue-button.directive.ts`
`correctness-footer.directive.ts`
`subtopic-viewer-navbar-breadcrumb.directive.ts`
`subtopic-viewer-navbar-pre-logo-action.component.ts`
`collection-permissions-card.directive.ts`
`review-test-page.directive.ts`
`collection-settings-tab.directive.ts`
`collection-history-tab.directive.ts`
`collection-statistics-tab.directive.ts

[2020-07-20 07:43] bansalnitish commented on #9749
Please do not add it in the comment. Add an unclaimed section in the issue description and add these there.

[2020-07-20 08:48] kevintab95 commented on #9964
Hi @dchen97, I think this is fixed in the develop branch. Clicking on the "Browse Lessons" button in `/parents`, `/teachers` or `/volunteers` leads to the community-library page without errors. But I noticed there is no "Browse Lessons" button in the `/volunteers` page -- is that expected?

[2020-07-20 14:55] dchen97 commented on #9964
Hi Kevin,

Thanks! That's good to know. And yep, the /volunteers tab doesn't have any explicit CTAs but when users click on any of the other tabs, they'll see the "Browse Lessons" buttons, which led to the same problem. If it's already fixed, though, then that should be fine. Thanks!

[2020-07-20 15:03] dchen97 opened #9969 "Add Platform Content Language Preference to User Settings"
**Is your feature request related to a problem? Please describe.**
Users today have no way to add their platform language preferences such that they persist across devices when a user signs in. When the user is signed in, we want to make sure that their experience is as seamless and consistent as possible, and that should also include the language which they view the platform content (i.e. anythin

[2020-07-20 15:09] sajalasati opened #9970 "Introduce "Learner" Role for profiles"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Implement new user role called **Learner** for "Profiles". Upon addition of this role, the roles hierarchy would become:

![hierarchy](https://user-images.githubusercontent.com/32328861/88064584-1c102680-cb89-11ea-9d62-7e8611c04f9a.jpg)

R

[2020-07-20 15:12] dchen97 opened #9971 "Add Content Language Preferences to Account Settings and Local Storage"
**Is your feature request related to a problem? Please describe.**
Users should - as much as possible - have a seamless and consistent experience whenever possible. This should also expand to our lessons or other content (e.g. practice questions, review cards) where, today, users have to select the audio translation languages every time they enter a lesson. Instead, we should try to preserve the u

[2020-07-20 15:20] sajalasati opened #9972 "Implement new UserAuthModel for authentication support"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Implement new model in the backend called "**UserAuthModel**" to support user authentication and also extend support for multiple authentication methods added in future.

**Target PR date**: 21 July, 2020
**Target Completion date**: 24 Jul

[2020-07-20 15:28] sajalasati opened #9973 "Design changes in UserSettingsModel"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Changing the design of **UserSettingsModel** to support "Profiles".

**Target PR date**: 23 July, 2020
**Target Completion date**: 27 July, 2020

[2020-07-20 15:31] sajalasati opened #9974 "Migration job for UserAuthModel"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Writing migration jobs needed to populate the "**UserAuthModel**" as defined in #9972.

**Target PR date**: 24 July, 2020
**Target Completion date**: 27 July, 2020

[2020-07-20 18:03] #9914 closed, assigned to nishantwrp

[2020-07-20 21:57] nishantwrp opened #9982 "Irregularity in errorCallback in backend-api services"
For example

https://github.com/oppia/oppia/blob/e68bdad1e541b52d14a4d42e55b6e84cacb0ea63/core/templates/domain/collection/collection-rights-backend-api.service.ts#L62-L65

https://github.com/oppia/oppia/blob/e68bdad1e541b52d14a4d42e55b6e84cacb0ea63/core/templates/domain/collection/collection-rights-backend-api.service.ts#L100-L103

https://github.com/oppia/oppia/blob/125e4388c665c86cb932dc2391093

[2020-07-20 22:03] seanlip commented on #9982
Yes, it would probably be good to standardize this. (Though some investigation is probably needed to determine what to standardize it to.)

[2020-07-21 07:35] srijanreddy98 commented on #8472
@cemcshane I moving `user.service.ts` back to the unclaimed section. If you are working on it, comment here once.

[2020-07-21 13:21] cemcshane commented on #8472
@srijanreddy98 I'm working on it--almost done, just resolving one last issue before PR. Thanks!

[2020-07-21 14:03] kevintab95 opened #9986 "Missing Topic name validation in the topic editor page"
**Describe the bug**
In the topic editor page, it is possible to save a topic with a duplicate topic name. This renders the topic page inaccessible for one for the topcis.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish 2 topics with different names -- "topic a" and "topic b".
 2. Go to "topic a" editor page.
 3. Edit topic name to "topic b".
 4. Save and publish the topi

[2020-07-21 14:34] sajalasati opened #9987 "Correction in wiki page explaining how to add new actions"
The **"Add Action"** [section](https://github.com/oppia/oppia/wiki/Instructions-for-editing-roles-or-actions#3--add-action) of the guide explaining **"Instructions for editing roles or actions"** needs some correction. In the line 3.1, the file to add a decorator corresponding to an action should be `controllers/acl_decorators.py` and **not** `domain/action_decorators.py` (a non-existent file).

A

[2020-07-21 16:30] srijanreddy98 commented on #8472
@cemcshane Cool! assigned it to you again. If you are stuck anywhere, just let us know. We will be happy to help you out.

[2020-07-21 20:10] kevintab95 opened #9992 "The fin shaped portion of the blockquote element in the topic and skills dashboard looks odd"
**Describe the bug**
A clear and concise description of what the bug is.

The fin shaped portion of the blockquote element in the topics and skills dashboard (when there are no topics or skills yet), uses a different background color compared to the rest of the page. It is also slightly misaligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Make sure there are no topics / skills on the

[2020-07-21 21:46] nishantwrp opened #9996 "Remove the AngularJs native variables which are typed as any"
After the Angular Migration, the any type in https://github.com/oppia/oppia/blob/develop/core/templates/services/suggestion-modal.service.ts and https://github.com/oppia/oppia/blob/develop/core/templates/domain/utilities/FileDownloadRequestObjectFactory.ts should be removed.

[2020-07-21 22:32] seanlip commented on #9987
Hi @sajalasati -- thanks for the suggestions! I have made the changes. Please take a look and let me know if anything further needs to be changed (feel free to reopen this issue, if so). Thanks again for the suggestions!

[2020-07-21 22:32] #9987 closed, assigned to seanlip

[2020-07-22 05:10] aggarwalpulkit596 opened #9999 "Renaming rule for DragDropAndSort Interaction"
One of the rules of DragDropAndSort Interaction seems to be incorrectly named.
https://github.com/oppia/oppia/blob/6ef62595b5dabadc280ddf9a11760eccf7d84cae/extensions/interactions/DragAndDropSortInput/directives/drag-and-drop-sort-input-rules.service.ts#L82
Currently, it is ` IsEqualToOrderingWithOneItemAtIncorrectPosition` but i think it should be `IsEqualToOrderingWithOneItemIncorrect`.

**What

[2020-07-22 05:11] aggarwalpulkit596 commented on #9999
@seanlip @BenHenning your thoughts on this?

[2020-07-22 05:15] aggarwalpulkit596 opened #10000 "Adding accessibility support for ImageClickInput in ExplorationPlayer"
**Is your feature request related to a problem? Please describe.**
This is related to making the interaction accessible.
**Describe the solution you'd like**
After merging #9966 there would be a support to add a content description for every region in ImageClickInput interaction. It should be used inside the exploration player whenever the talkback/screenreader is enabled in order to make the inte

[2020-07-22 05:25] aggarwalpulkit596 opened #10001 "Add content description field in exploration editor for ImageClickInput"
Describe the solution you'd like
After merging #9966 there would be a support to add a content description for every region in ImageClickInput interaction. This should be a mandatory for every new interaction in order to make that interaction accessible especially for mobile devices. For every region added there should in an input field in which creator can add a content description for the field

[2020-07-22 06:32] DubeySandeep commented on #9637
I also found that the opportunity for translation in a specific language doesn't updates after you completely translate an exploration in a language. This might be happening because of the opportunity_services.update_opportunity_with_updated_exploration isn't working correctly.

After fixing the issue manually test following these steps:

- Create an exploration with 1-2 text
- Create a translatio

[2020-07-22 06:35] bobbychen1999 commented on #8707
How did you fix this error?

[2020-07-22 10:25] seanlip commented on #9999
Hi @aggarwalpulkit596 -- it would help if you did not write everything in a single, long, hard-to-parse sentence. Could you please use periods to break your reasoning up into sentences, for easier comprehensibility?

Also please provide some examples to illustrate what you mean.

[2020-07-22 11:01] aggarwalpulkit596 commented on #9999
@seanlip updated

[2020-07-22 11:19] seanlip commented on #9999
I'm not sure I follow your logic. In your case (2), that answer is identical to your original list, because items in the same position are considered to be ... well, at the same position. The order of the items in an inner list does not matter. You can think of this as an ordered list of unordered sets.

I agree that `[['a', 'b'], ['c', 'f'], ['de']]` would satisfy the rule as I understand it, bec

[2020-07-22 11:30] aggarwalpulkit596 commented on #9999
@seanlip there might be something wrong with the implementation.
I was only suggesting the to use a different name because I did talk to @prasanna08 regarding this and he mentioned that

It seems that the name of the rule should have been "one incorrect item" rather than "one item at incorrect position". Please see the description of that rule in the doc. It says that "rule checks whether there is

[2020-07-22 11:41] seanlip commented on #9999
Ah, I see, makes sense. Thanks for the clarification and for checking with @prasanna08.

The problem with changing the name is that folks who have used the rule have been using it with the existing meaning (even though it works incorrectly). So I would propose fixing the implementation of the existing rule (and keeping the same name), but also adding a new rule to cover the case you mention. How d

[2020-07-22 18:09] #9640 closed, assigned to kaylahardie

[2020-07-22 18:41] sagangwee commented on #9944
@DubeySandeep What was the behavior originally when this feature was first developed?

[2020-07-22 22:13] EricZLou opened #10008 "Python 2 compatibility issues with Ubuntu 20.04"
On ubuntu 20.04, during the Oppia installation process,
[code]
errs because pip for Python 2 is not included in ubuntu 20.04. So, the command raises the error message that `python-pip` could not be found. Perhaps we can add modified installation instructions for ubuntu 20.04? We need to install pip [like so](https://linuxize.com/post/how-to-install-pip-on-ubuntu-20.04/).

[2020-07-22 22:17] EricZLou commented on #8124
Reopening this because I am also getting this error. I'm looking into a fix now. @sudiptapradhan1181 @rajkumaar23 -- any workarounds that you remember?

[2020-07-23 00:16] cemcshane commented on #8038
I was assigned to migrate user.service.ts to Angular 8 and I ended up renaming the file to user-backend-api.service.ts in the process, so I believe I addressed this issue for that file! My PR is #9997

[2020-07-23 00:20] #9052 closed, assigned to U8NWXD

[2020-07-23 01:38] EricZLou commented on #8124
Solution:
[code]

[2020-07-23 01:43] seanlip commented on #8124
Thanks @EricZLou!

One question. Does this need to be added to our setup scripts? Why did it happen in the first place / how can we auto-detect and fix this so that it's not a problem for contributors in the future?

[2020-07-23 02:06] cemcshane commented on #4057
@marianazangrossi Can I work on compute-graph.service.ts?

[2020-07-23 02:28] EricZLou commented on #8124
I'm not sure why it happened in the first place as I was working off a completely clean oppia repo that I just cloned. But, we could always do some error checking in the `pre_push_hook.py` script like such:
Re: https://github.com/oppia/oppia/blob/develop/scripts/pre_push_hook.py#L334
[code]
Once I figure out this CLA issue, I can definitely put in a PR for it.

[2020-07-23 02:36] #7165 closed, assigned to nishantwrp

[2020-07-23 03:18] seanlip commented on #8124
Could you perhaps try cloning it again in a different (temporary) directory and see if it recurs? That might give a clue and might suggest the right changes to make to the start scripts.

Also I think the CLA issue is fixed, so please feel free to go ahead and take this up!

[2020-07-23 06:15] nairnikhil12 commented on #8472
@bansalnitish Can I work on contribution-opportunities.service.ts?

[2020-07-23 06:37] aggarwalpulkit596 commented on #9999
@seanlip that does sound good too me but before we come to a conclusion I think we should discuss this with code owners because according to me this rule doesn't make any sense to me at all.
If we can pull up the actual instances of this rule and check how many times this rule has been used just to make sure whether creators are actually using this rule because i feel that this rule cannot be used

[2020-07-23 06:39] seanlip commented on #9999
You're welcome to write an audit job to do that if you'd like. I'd be happy
to run it.

[2020-07-23 06:45] aggarwalpulkit596 commented on #9999
I would love to work on this and can probably figure out the issues with more ease because I spent last month doing the same interaction on android but unfortunately, I'm already running low on time for GSoC work.

Can I take this up post-GSoC?

[2020-07-23 06:47] seanlip commented on #9999
Yes, certainly! No hurry.

[2020-07-23 07:37] bansalnitish commented on #7450
Hi @Azrecycle4, Assigned you. Please go ahead!

[2020-07-23 08:20] DubeySandeep commented on #8472
Hi @darkpsychic, I've assigned you to the issue! :)

[2020-07-23 10:03] riyasoganii opened #10013 "Redirection not working as expected"
**Describe the bug**
After clicking on a link to go to a certain editor/creator page (for eg. topic editor, skill editor etc.) which requires me to be logged in (I am previously logged out), I get asked to log in and I am then redirected to my learner dashboard rather than the link I intended to go to.
**To Reproduce**
Steps to reproduce the behavior:
 1. Log out of your Oppia account
 2. Copy pas

[2020-07-23 10:09] riyasoganii opened #10014 "Topic manager role can be assigned to just one topic"
**Describe the bug**
An Oppia account can only be assigned as topic manager for one topic at a time.

**To Reproduce**
 1. Get assigned as topic manager for topic A
 2. Get assigned as topic manager for topic B
 3. Try editing topic A
 4. Topic A cannot be edited, only topic B can

**Observed behavior**
All other topic manager roles need to be removed in order to be topic manager of a specific top

[2020-07-23 10:13] riyasoganii opened #10015 "Subtopic editor- window closing automatically"
**Describe the bug**
While editing a subtopic, if a group of text is selected from bottom to top, the subtopic window closes without saving. this is sometimes also observed when the text is selected from top to bottom however this cannot seem to be replicated.

**To Reproduce**
](https://drive.google.com/file/d/1eX-dOJZQuHL5qKWXssjQwrYPFxOr24hT/view?usp=sharing)

**Desktop (please complete the fol

[2020-07-23 10:18] kevintab95 commented on #10015
Thanks for reporting this @riyasoganii! This used to happen when you accidentally click outside the modal when editing a subtopic. It should be fixed by #9901. Closing for now.

[2020-07-23 10:18] #10015 closed, assigned to seanlip

[2020-07-23 10:49] seanlip commented on #10015
Hi @kevintab95, could you please confirm that this works correctly on develop? From your response I can't tell whether you actually tested this action or if you're inferring from the "click outside" case -- an explicit test is needed before closing the issue, I think.

Also /cc @Showtim3 (just as an FYI!)

[2020-07-23 10:50] kevintab95 commented on #10015
Yes, I had tested this and instructed @Showtim3 to fix it in a PR of his.

[2020-07-23 10:52] kevintab95 commented on #10015
Here is a screen recording of the behaviour for proof:
![Peek 2020-07-23 16-21](https://user-images.githubusercontent.com/11008603/88278858-b8a90480-cd00-11ea-94fd-6a14d7894339.gif)

[2020-07-23 10:53] seanlip commented on #10015
Sounds good. Thanks @kevintab95!

[2020-07-23 14:35] shavavo opened #10016 "Timezone differences causing backend tests to fail on develop"
**Describe the bug**
Running these two backend tests on the latest version of develop results in failures:
### core.controllers.cron_test.CronJobTests.test_clean_data_items_of_completed_map_reduce_jobs
[code]

This appears to be related to timezone, according to this [relevant PR](https://github.com/oppia/oppia/pull/7508)

### core.controllers.profile_test.ExportAccountHandlerTests.test_export_acc

[2020-07-23 14:37] shavavo commented on #10016
Assigning @seanlip, since he debugged and authored #7508

[2020-07-23 16:22] EricZLou commented on #8124
It didn't occur again. I checked the symlink immediately after git cloning, and it was intact. The original error with the broken symlink could have been due to:
- After cloning and before running any scripts, I changed my branch head from `@remote/develop` to `@upstream/develop` and made a hard sync and push since my branch was very outdated

Not sure how this could have broken the symlink, but @

[2020-07-23 21:09] mschanteltc opened #10020 "Subtopic Editor UI Improvements"
### Editor
![Screen Shot 2020-07-23 at 1 13 37 PM](https://user-images.githubusercontent.com/22177674/88334326-7246ac00-cce6-11ea-9033-a57549e88dc0.png)
- Subtopic card should reflect how it looks like in the mock (fixed height and width, orange borders)
----------------
![Screen Shot 2020-07-23 at 1 10 58 PM](https://user-images.githubusercontent.com/22177674/88334332-7377d900-cce6-11ea-928c-b58a

[2020-07-23 22:24] seanlip commented on #8124
Yeah, I think so, as long as the fix can't possibly do any harm. Thanks @EricZLou!

[2020-07-24 09:00] jameesjohn opened #10028 "Address comments from #9906"
Currently, 2 lighthouse assertions are switched off:
1. Time-to-first-byte: This is currently off because the time to the first byte on the local server is higher than the threshold set by lighthouse. It should be updated to
2. No-vulnerable-libraries: This is currently off because of a recent vulnerability issue from lodash that has not been fixed.

The time-to-first-byte assertion can be updated

[2020-07-24 10:53] nishantwrp commented on #9982
![Screenshot_20200724_161726-1](https://user-images.githubusercontent.com/36989112/88384136-7ac3e300-cdc9-11ea-840b-f5d617e345af.png)

Here is what the `errorResponse` looks like.

Looking at it, imo we should standardise it to either `errorResponse.statusText` or `errorResponse.error.error`. I'm slightly in favour of `errorResponse.error.error` because it displays the exact error. In this case it

[2020-07-24 12:34] kevintab95 commented on #10015
Attaching a video replicating the exact steps mentioned in the description of the issue (in a local develop build):

![ludo](https://user-images.githubusercontent.com/11008603/88391370-aea60500-cdd7-11ea-9bc3-b8ef450876b4.gif)

This no longer occurs.

[2020-07-24 20:53] sagangwee opened #10031 "[Contributor Dashboard] Opportunities not removed after maximum number of suggestions are accepted"
**Describe the bug**
After accepting the desired number of suggestions corresponding to an opportunity in the contributor dashboard, e.g. translating all available items for an exploration, the opportunity still appears in the opportunities list.

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in as admin user A.
 2. Set admin role for user A.
 3. Go to the Admin activities tab and clic

[2020-07-25 03:28] DubeySandeep opened #10033 "Revert PR #10032 to fix the temporary codeowner changes"
Revert the PR #10032 once @DubeySandeep is ready to own the files (expected to be after 2020-07-27).

[2020-07-25 04:34] seanlip commented on #9982
Hi @nishantwrp -- how about errorResponse.data.error? Maybe analyze the other possibilities as well?

[2020-07-25 04:34] seanlip commented on #9982
(Do a full comparison of all the options and then we can give you advice on how to proceed.)

[2020-07-25 07:38] bobbychen1999 commented on #4057
@marianazangrossi Can I work on state-improvement-suggestion.service.ts?

[2020-07-25 07:41] bobbychen1999 commented on #8668
@Showtim3 Can I work on state-improvement-suggestion.service.ts?

[2020-07-25 09:56] #9348 closed, assigned to nishantwrp

[2020-07-25 10:52] iamprayush opened #10037 "Make math OSK customizable."
The on-screen keyboard for the new math interactions should be customizable in a way that creators can mention which letters should be displayed to the learner. This input will be taken from the creator in the form of a customization arg while creating the exploration that uses one of the new math interactions.
After adding the arg, the osk for the creator should have all the letters in a separate

[2020-07-25 12:26] Hudda opened #10038 "Find a way to check if a keyword is used for a non-keyword argument."
PR #9915 implements a new lint check to ensure that a keyword argument should not be used for a non-keyword argument in a function call but does not cover the case if the function definition has `*args` and `**kwargs` as arguments. So, find a way to solve this problem so that our lint check will also cover this situation as well.

Example:

Function definition
`def func(a, b, *args, **kwargs):`

F

[2020-07-25 13:21] Hudda commented on #7307
Closing this issue since we no longer use multiple statements on a single line and all the lint checks are passing as well.
![Screenshot from 2020-07-25 18-46-39](https://user-images.githubusercontent.com/29057268/88457933-b7660c00-cea7-11ea-94e1-be737db640aa.png)