[2019-04-03 01:34] DubeySandeep opened #6549 "Create a UI for translators to see their assigned explorations."
Currently, there is no way for a translator to see the list of exploration they are currently working on. It would be great to have a simple translation dashboard through which a translator can go through their assigned explorations.

- [ ] Creating the backend structure for the translation dashboard.
- [ ] Creating the frontend UI for the translation dashboard.

Note: This issue is a part of the

[2019-04-03 01:39] DubeySandeep opened #6550 "Finish writing remaining backend tests"
### Message for new contributor landed on this issue from any source (guided by your mentor in past or have seen this issue in the wiki page):

This entire issue is being assigned to @lilithxxx as he is working on migrating python 2 --> python 3 and initially, he is working on making 100% backend test coverage and this need to be done quickly!

You can find a list of similar issues in the wiki pag

[2019-04-03 01:42] #5134 closed, assigned to nobody

[2019-04-03 02:37] shutas commented on #5134
Hello! This is my first time contributing to an open source project, and I would like to take a stab at `core.storage.question.gae_models`:)

[2019-04-03 02:42] DubeySandeep commented on #5134
Hi @shutas, we have moved this issue to #6550, can you please add this comment over there? Also, I realized that you haven't filled the contributor survey form would you mind filling up the form as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in the 2nd bullet? Once you fill this up I'll go ahead and assign you to `core.storage.question.gae_models`

[2019-04-03 02:52] shutas commented on #6550
Hello again! I filled out the contributor survey, and I'd like to take a stab at `core.storage.question.gae_models`:)

[2019-04-03 02:54] DubeySandeep commented on #6550
@shutas, Thanks for filling the survey form, I've assigned you to the issue you can go ahead and start working on it. Thanks! :)

[2019-04-03 07:43] sophiewu6 commented on #6548
Hi, can I try working on this issue?

[2019-04-03 07:46] DubeySandeep commented on #6548
Hi @sophiewu6, feel free to work on this issue. :) Thanks!

[2019-04-03 07:49] sophiewu6 commented on #6548
@DubeySandeep Thanks! Just want to make sure, are we gonna have both translator and voice-artist or replace translator with voice-artist?

[2019-04-03 08:06] jamesgeorge007 commented on #6062
@DubeySandeep @open-source-explorer It would be great if I was allowed to take this up :clap:

[2019-04-03 08:08] DubeySandeep commented on #6548
@sophiewu6, we are going to replace the translator with voice-artist role.

[2019-04-03 09:01] YashJipkate opened #6551 "Improper sequence of linter messages."
The linter messages are in a bizarre order. The problem seems to lie in some of the linting processes being run in subprocess calls. The subprocess call runs in parallel to the python linting script which results in a very bizarre order of the lint messages leading to poor readability.

The linting messages must terminate on the `All Checks Passed.` message and no further messages should be printe

[2019-04-03 09:10] #6321 closed, assigned to YashJipkate

[2019-04-03 11:52] open-source-explorer commented on #6062
@jamesgeorge007 Sure, Go ahead :+1:

[2019-04-03 19:04] wdempsey96 commented on #4057
@DubeySandeep
Hi I'd like to work on `LearnerViewRatingService.js`

[2019-04-03 20:08] wdempsey96 commented on #6550
Hi I'd like to work on `core.domain.topic_services`

[2019-04-03 20:32] wdempsey96 commented on #6513
@apb7
Hi I'd like to take on this task if possible :)

[2019-04-03 21:00] wdempsey96 commented on #6095
@apb7 Hi, my best language is Python and I think this would be a good first issue for me. Can I be assigned?

[2019-04-03 21:01] import-keshav commented on #6387
@vojtechjelinek, why is it closed ?

[2019-04-04 00:21] DubeySandeep commented on #6550
Hi @wdempsey96, I've assigned you to `core.domain.topic_services`. :)

[2019-04-04 12:48] ankita240796 opened #6555 "Linter not working for multiple js files"
**Describe the bug**
Running the pre_commit_linter on a single js file catches the error but when it is run on multiple files in a folder, errors are not caught.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open the file `core/templates/dev/head/domain/learner_dashboard/LearnerDashboardActivityIdsObjectFactorySpec.js`
 2. Edit any line to make it longer than 80
 3. Run the linter as `pyt

[2019-04-04 16:42] sophiewu6 commented on #6548
Hi @DubeySandeep When I looked into the code, I feel like currently, translator can only access content_ids_to_audio_translation but not written_translation.
<img width="583" alt="Screen Shot 2019-04-04 at 9 40 59 AM" src="https://user-images.githubusercontent.com/32754302/55573040-cd9df680-56bd-11e9-83a3-4431daeed93c.png">
When the change is not content_ids_to_audio_translation, it will raise an

[2019-04-04 16:53] DubeySandeep commented on #6548
@sophiewu6, I agree currently the translator role can only make changes to  `content_ids_to_audio_translations` part of the state (As written translations UI isn't in production #6503), so you'll just have to change the name of the role to voice-artist. I hope this makes it clear. Thanks! :)

[2019-04-04 16:55] sophiewu6 commented on #6548
@DubeySandeep It does! Thanks for your clarification :)

[2019-04-04 23:57] DubeySandeep commented on #3950
Hi @jathusan123, I've assigned you to  `header_css_libs.html: {% if MINIFICATION or not DEV_MODE %}` part of this issue, you can start working on it. Let us know if you need any help. Thanks!

[2019-04-05 01:19] DubeySandeep opened #6556 "Lint check reports same error twice"
Lint error reports and even counts the same error twice(See screenshot below).

**Steps to reproduce:**
- Change `describe` to `fdescribe` in any *Spec.js file
- Run `python scripts/pre_commit_linter.py`
- See error log.

![image](https://user-images.githubusercontent.com/16653571/55597987-0bf2ee80-576e-11e9-964e-db0bb40ed962.png)

[2019-04-05 04:52] shutas commented on #6550
Hello, I submitted a PR for my task (#6558). @DubeySandeep, how do I set you as the PR assignee?

[2019-04-05 16:25] anubhavsinha98 commented on #6555
Thanks, @ankita240796 for notifying this error. Will provide you with an update soon.

[2019-04-05 16:49] jacobdavis11 commented on #6443
@ankita240796 how is this going?

[2019-04-05 16:51] jacobdavis11 commented on #6348
@vinitamurthi how is this going?

[2019-04-05 16:52] jacobdavis11 commented on #6347
@vinitamurthi how is this going?

[2019-04-05 16:53] jacobdavis11 commented on #6292
@ankita240796 how is this going?

[2019-04-05 16:55] jacobdavis11 commented on #6024
@brianrodri how is this going?

[2019-04-05 16:56] jacobdavis11 commented on #5939
@YashJipkate are you planning to work on the rest of this issue?

[2019-04-05 17:01] YashJipkate commented on #5939
Not now exactly. De-assigning myself. Will assign when I'll be taking this up.
Thanks @jacobdavis11

[2019-04-05 17:01] jacobdavis11 commented on #5627
@mzaman07 are you still working on this?

[2019-04-05 17:02] jacobdavis11 commented on #5569
@DubeySandeep how is this going?

[2019-04-05 17:03] jacobdavis11 commented on #5476
@lilithxxx how is this going?

[2019-04-05 17:04] jacobdavis11 commented on #5183
De-assigning for now; please re-assign if you'd like to resume work.

[2019-04-05 17:04] jacobdavis11 commented on #5097
@YashJipkate are you planning to work on the rest of the issue?

[2019-04-05 17:06] DubeySandeep commented on #5569
@jacobdavis11, I've created a PR for the frontend UI changes at #6503. (Last PR for this project)

[2019-04-05 17:08] YashJipkate commented on #5097
Not now. De-assigning myself. WIll re-assign when I'll take this up.
Thanks @jacobdavis11 !

[2019-04-05 17:09] DubeySandeep commented on #5898
Closing this issue as it's already resolved in #6290 and #6166.

[2019-04-05 17:09] #5898 closed, assigned to suicide11

[2019-04-05 17:11] lilithxxx commented on #5476
Oh I have completed the second part and not working on the first. Deassigning myself. Thanks

[2019-04-05 17:19] YashJipkate commented on #6556
HI @DubeySandeep, I tried reproducing the issue but could not do so. Could you please provide more context? Or modify the repro steps?
I tried this on a spec file and I get just a single line
![Screenshot from 2019-04-05 22-47-14](https://user-images.githubusercontent.com/34203227/55644987-07254d80-57f5-11e9-9821-5a73565085e7.png)

[2019-04-05 17:26] ankita240796 commented on #6555
Great, thanks @anubhavsinha98!

[2019-04-05 17:28] ankita240796 commented on #6443
Hi @jacobdavis11, this will be done once #6530 goes in. [Here](https://github.com/oppia/oppia/pull/6530#issuecomment-479974222) is the comment describing the wiki update to be made. Thanks!

[2019-04-05 17:29] ankita240796 commented on #6292
Hi @jacobdavis11, I am a bit busy due to the typescript PR and will get this done once I am done with it. Thanks!

[2019-04-05 20:05] jathusan123 commented on #3950
Ya Thanks
But I am facing some errors in running bash scripts/start.sh
whenever I run the above command i get an output like the screenshot that I
attached below.
Can you help me out with this?

On Fri, 5 Apr 2019 at 05:27, Sandeep Dubey <notifications@github.com> wrote:

[2019-04-05 21:09] nithusha21 commented on #6542
I really like the second idea to include a string in the message. Maybe for now that is a good fix?

The third idea is also nice and feasible (I think). Attachments feel like something that can be used generally. Maybe, we should build some system which models attachments? (I feel like we would like to enable it for only very specific types of attachments). I agree that this is more like an extens

[2019-04-05 21:16] import-keshav commented on #6542
Thanks, @nithusha21.
So should I go with the second idea to fix it for now or should we have to implement the third idea @seanlip @nithusha21 .

[2019-04-05 21:47] import-keshav commented on #6232
Hello @DubeySandeep, can you please mention after how much time of inactivity GAE logged out automatically?

[2019-04-05 21:50] bansalnitish commented on #6500
Ping @nithusha21

[2019-04-05 22:05] bansalnitish commented on #6500
I think this shouldn't be an issue. If we are submitting a query with more than 3 components, it's expected to throw an error. Here is a screenshot of function in `searchService.js` file:

![image](https://user-images.githubusercontent.com/22434689/55658852-d1945a80-581c-11e9-8c48-083ef5028828.png)

[2019-04-05 22:16] NishealJ commented on #6500
Hi @bansalnitish ,
yes, must be this is the case `fbclid` is facebook's click identifier parameter which unexpected came into the url and the count became > 3.

Also, is throwing an error necessary in this case?

[2019-04-06 04:01] seanlip commented on #6500
Looking at the code, I think we can remove the console.error() in this case. We can just skip parsing that query parameter.

[2019-04-06 06:42] DubeySandeep commented on #6232
@import-keshav, Can you please look into gae doc as I don't know any such specific time?

[2019-04-06 07:47] seanlip commented on #6542
Please file a separate issue that describes the third idea clearly, and we can go with the second idea for now. Thanks!

[2019-04-06 07:49] seanlip commented on #6232
I think it's probably a few days. But I don't think the exact number should affect the solution to the issue, because it can also occur if the user logs themselves out in one tab but not another.

[2019-04-06 12:19] import-keshav commented on #6542
Thanks, @seanlip, I was thinking that if we have to implement attachments in the future then what if I implement it now. But if you think that needs to be implemented in future only then I can go for the second idea to fix this now. What's your view?

[2019-04-06 16:08] vojtechjelinek opened #6561 "About -> Get Involved leads to wrong place"
**Describe the bug**
About -> Get Involved leads to https://oppiafoundation.org/get-involved which gets redirected to https://oppiafoundation.org but should probably lead to https://oppiafoundation.org/volunteer

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [oppia.org](https://www.oppia.org)
 2. Hower over `About` on the top navigation bar and click on `Get Involved`
 3. Get redirec

[2019-04-06 16:08] #5569 closed, assigned to DubeySandeep

[2019-04-06 16:14] vojtechjelinek opened #6562 "Remove G+ icon from footer"
G+ is deprecated and the link on the icon in the footer leads to the page about the deprecation. We should remove it from the footer and also from README.

[2019-04-07 04:40] seanlip commented on #6497
@lilithxxx and @YashJipkate think this sounds OK, so @anubhavsinha98, please go ahead. Thanks!

[2019-04-07 08:09] jameesjohn opened #6565 "Change page title to use the new PageTitleService"
# Explanation
The aim of this is to make all pages use the new **PageTitleService** which was created in #6539
This will help minimize the use of jinja constructs in the codebase and ultimately aid in static serving.

If you would like to work on this issue, pick a page from the list below and add your name in parenthesis to it.
Once the pr is merged, you can tick the box.

## Page List
- [x]  col

[2019-04-07 08:43] DubeySandeep commented on #5597
Hi @Jamesjay4199, can this issue be closed (seems to be a part of #6565)?

[2019-04-07 08:48] jameesjohn commented on #5597
Yes @DubeySandeep

[2019-04-07 08:48] #5597 closed, assigned to nobody

[2019-04-07 13:58] aivrit commented on #5326
Hi, I received the same error when running the vagrant box, during the start.sh script.
it seems like the problem narrows down to upgrading python to > 2.7.9 or use a workaround as suggested here https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2 and here https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
in order to fix the usage of the old built in ssl lib.

[2019-04-07 16:35] ShubhamBansal1997 commented on #6562
@vojtechjelinek would like to work on this.

[2019-04-07 19:51] seanlip commented on #5326
I don't know anything about vagrant, I'm afraid, but I can give some context on the python version -- I think 2.7.9 is fine. The main thing is probably to keep it consistent with what's used in App Engine, and according to [this page](https://cloud.google.com/appengine/docs/flexible/python/customizing-the-python-runtime#selecting_the_python_version) it seems like it's 2.7.9.

Feel free to make a P

[2019-04-07 20:02] nithusha21 commented on #6159
I investigated this with Sean's help. So the error is in the way stats models are handled when exploration reverts happen. Say we are in a situation where we are at version 10 and we want to revert to version 5. While reverting https://github.com/oppia/oppia/blob/develop/core/domain/exp_services.py#L1418 is called, which passes in exploration.version (which is 10), and revert_to_version (which is

[2019-04-07 22:57] vojtechjelinek commented on #6562
@ShubhamBansal1997 You can start working on it!

[2019-04-08 02:11] esyang97 commented on #6550
May I begin working on `core.controllers.email_dashboard` ?

[2019-04-08 04:08] esyang97 commented on #6546
I will try to fix this issue in the next week! If anyone would like to as well, please feel free to reply.

[2019-04-08 04:15] seanlip commented on #6159
Update: I chatted with @nithusha21 about this and we decided that it would be more robust to fix the corrupt data once and for all, without adding the check to silence the error. It's too late for this change to make the April release but we should target a fix for the May release.

[2019-04-08 04:42] aivrit commented on #5326
Thanks @seanlip .
If the hosted GAE app uses python 2.7.9 then it makes more sense to simply fix it by provisioning the vagrant box with an upgraded python. I'll pursue a PR with that.

[2019-04-08 04:45] seanlip commented on #5326
Sounds good. Thanks @aivrit!

[2019-04-08 04:57] esyang97 commented on #6546
I will try to fix this issue in the next week! If anyone would like to as well, please feel free to reply.

[2019-04-08 05:21] esyang97 commented on #6387
I would like to tackle `DEFAULT_OBJECT_VALUES` under `exploration_editor.html`.

As I work through the variable, would I be able to take up other global variables under exploration_editor.html as I see fit?

[2019-04-08 06:18] import-keshav commented on #6387
Yes sure @esyang97, I have assigned you go ahead.
Thanks

[2019-04-08 06:54] DubeySandeep commented on #6550
Hi @esyang97, I've assigned you to `core.controllers.email_dashboard`, Thanks! :)

/cc @anubhavsinha98

[2019-04-08 11:26] import-keshav commented on #6542
Ping @seanlip!

[2019-04-08 20:39] DubeySandeep opened #6572 "Write e2e test related to written translation mode in translation tab."
We have introduced written translation UI in the translation tab, this issue focuses on writing e2e test on following features:
- [ ] Editors are allowed to add written translations, whereas translators are not allowed to do so. @DubeySandeep
- [ ] Switching modes in translation tab work smoothly (check each mode progress and state color). @DubeySandeep
- [ ] Check adding written translation gets

[2019-04-09 05:43] seanlip commented on #6542
I thought I already gave my view on this; it is still the same as my earlier comment.

[2019-04-09 11:34] #6562 closed, assigned to nobody

[2019-04-09 12:05] PrinceSharzeel commented on #4374
Hello, new here , can I update core.skill_editor_test.py ?

[2019-04-09 12:18] DubeySandeep commented on #4374
@PrinceSharzeel, This issue is closed and there is nothing left to work on, can you please choose any other issue?

[2019-04-09 12:19] PrinceSharzeel commented on #4374
ok sure

[2019-04-09 14:20] aivrit commented on #5326
@seanlip I opened a PR #6574 , would be happy if you can review it.
cheers.

[2019-04-09 19:02] bansalnitish commented on #6500
We discussed this issue in the Bug Fixing Team meeting and we too think that the error should be not shown in console. I think @nithusha21 pointed out to use a pop up kind of something to show that "URL is wrong, it wouldn't take more than 3 parameters".

[2019-04-09 21:52] vinitamurthi opened #6576 "Add question difficulty (per skill) to the question editor"
We have the backend ready to support question difficulty per skill. Now we would like to add the ability to do so in the question editor.
While creating the question, editors should be able to assign a value (Easy, Medium, Hard) for each skill linked to that question.
At the backend it will translate to:
Easy: 0.3
Medium: 0.6
Hard: 0.9

[2019-04-10 05:37] PrinceSharzeel commented on #6550
Can you assign me core.controllers.admin ?

[2019-04-10 07:02] DubeySandeep commented on #6550
Hi @PrinceSharzeel, I've assigned you to `core.controllers.admin`, you can start working on it! :)

[2019-04-10 13:44] amey-kudari commented on #6542
Hi! @seanlip @import-keshav @nithusha21,
I feel we can modify the subject of a feedback instead,
I am talking about something like this,
[code]
The max text length will become 51 so we can modify the style (increase width by 10%, max charecter count of state name is 50,  (from bootstrap's default 58% to 68%))
and I feel abbreviated text for an exploration will not be very useful as I am think a us

[2019-04-10 14:08] amey-kudari opened #6578 "Validate new feedback thread and make sure the no 2 feedback threads have same subject and text"
**Is your feature request related to a problem? Please describe.**
If 2 feedback threads are created with the same name and text, it gets added as another feedback thread. I feel this should not happen because this will be like having 2 parallel discussions on the same topic, and considering we can always open a closed feedback thread, I do not think we should allow duplicates.

**Describe the sol

[2019-04-10 16:42] DubeySandeep commented on #6271
Assigning `State` part of this issue to @rakshitkumarcse.

[2019-04-10 17:01] import-keshav opened #6579 "Add "attachments" to feedback"
We want to allow users to submit their playthrough to give more context to the feedback.
**Is your feature request related to a problem? Please describe.**
we got a piece of feedback on a lesson along the following lines:

    I did learn from this lesson but saying that the ball rises every time was very confusing. I would rephrase the question.

However, we couldn't figure out which question in

[2019-04-10 18:23] #6561 closed, assigned to nobody

[2019-04-10 18:30] seanlip commented on #6578
Actually, I think the existing behaviour is OK (and probably preferable). Students who are submitting feedback directly from the learner view will not know that an existing thread has been submitted, and it seems a bit not nice to reject their submission based on a criterion that they cannot see.

So, closing this issue, but please feel free to comment/reopen if there are other aspects I haven't c

[2019-04-10 18:38] vojtechjelinek opened #6581 "Remove alternative versions of splash page"
In `pages/splash/ ` there are multiple alternative versions of splash page (like `splash_ah0.html` or `splash_ai0.html`) most of them are not used anymore.

We should remove all the alternative versions of splash except for `splash_at0.html` and `splash_at1.html`.

[2019-04-10 18:51] amey-kudari commented on #6578
Hi @seanlip!

I am not rejecting them, Firstly I will only send a warning if the feedback thread was created from feedback tab. If the student created a feedback that was created before, I will not show any warnings, but I would not be adding it either as it has already been added and is being worked on by the creator.
I mean I will basically ignore that feedback because it has already been files

[2019-04-10 19:01] seanlip commented on #6578
I still think the current system is OK. It is legitimate for two comments in a googledoc to have the same text, for example. In addition, it is technically more complicated/costly to whether that a new message is unique or not, because you have to query the text in the database for all existing comments, which is inefficient.

Also, from past experience, we haven't had an issue with the number of

[2019-04-10 19:05] areeshatariq commented on #6581
hey @vojtechjelinek do the files only need to be deleted from the pages/splash/ repository?

[2019-04-10 19:08] amey-kudari commented on #6578
Hi! @seanlip
I agree, with this, I will close the issue now.
Thanks!

[2019-04-10 19:08] #6578 closed, assigned to nobody

[2019-04-10 19:51] vojtechjelinek commented on #6581
Yes, I think that they're not located anywhere else.

[2019-04-10 20:30] areeshatariq commented on #6581
Ok @vojtechjelinek I would like to work on this issue

[2019-04-11 06:34] #6418 closed, assigned to amey-kudari

[2019-04-11 10:09] import-keshav commented on #6581
Hello @areeshatariq as currently you were not a member of oppia so i can't assign you, but feel free to take this and make PR.
Thanks

[2019-04-11 10:20] import-keshav opened #6582 "Long exploration title goes out of the card."
If exploration title is long then exploration title goes out of exploration card.

![Screenshot from 2019-04-11 15-44-12](https://user-images.githubusercontent.com/34139754/55949977-75dd2d80-5c71-11e9-838c-ef11dcd87a49.png)

Observed in
    1. Firefox (62.0.2), Chrome(73.0) (Not sure about other browsers)
    2.Ubuntu (18.10)
    Thanks

[2019-04-11 11:03] import-keshav opened #6583 "Views on exploration is not updating"
Currently when you play exploration and complete it the no. of views on exploration is not updating. Here updating means, no. of views counter of exploration is not increasing.

**Steps to reproduce**
1. Goes to https://oppiatestserver.appspot.com.
2. Before playing any exploration note the no. of views on exploration.
3. Complete the exploration and note no. of views on exploration.
4. No. of vie

[2019-04-11 11:24] jarm0785 commented on #3950
Hi, is there any issues I can work in? It would be my first contribution but have some experience working with Angular.

[2019-04-11 12:14] areeshatariq commented on #6581
Hi @import-keshav okay thanks :)

[2019-04-11 12:19] jarm0785 commented on #6550
Hi, could I start with core.jobs?

[2019-04-11 12:28] DubeySandeep commented on #6550
Hi @jarm0785, I've assigned you to  `core.jobs`, you can start working on it. :)

[2019-04-11 14:18] anubhavsinha98 opened #6584 "Modify the inline message below the title textbox and goal textbox regarding the minimum characters required"
Modify the inline message below the add a title and add a goal textbox regarding the minimum number of characters required to publish the exploration. (i.e. 15 characters are at least required now)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'CREATE'
 2. Make a sample exploration.
 3. Try to publish the exploration.
 4. See the message on the modal window.

[2019-04-11 19:50] Dharmesh-Poddar commented on #6582
@import-keshav can I work on it..

[2019-04-11 22:28] ithompson4 commented on #6584
I would like to work on this. What message would you like to like to be displayed? Thank you.

[2019-04-11 22:41] import-keshav commented on #6582
Hello @Dharmesh-Poddar, yes go ahead and fell free to make PR.
Thanks!

[2019-04-11 23:27] anubhavsinha98 commented on #6584
Hi @ithompson4 I think adding a message like 'Minimum 15 characters required' will be okay.

[2019-04-11 23:55] import-keshav opened #6586 "Console error in audio translation mode."
A console error comes while adding translation of exploration content.
![Screenshot from 2019-04-12 05-16-09](https://user-images.githubusercontent.com/34139754/56003107-cc368480-5ce2-11e9-9ed0-5f6a05ffc99e.png)

**Steps to reproduce**
1. Creates an exploration.
2. Try to add translation of exploration content through translation mode.
Translation of exploration content will not get saved.

**Expe

[2019-04-12 08:29] ithompson4 commented on #6584
Hello @anubhavsinha98. I was able to run the server. I tried to follow the above steps to reproduce this behaviour. I cannot get beyond step 3, i.e., I cannot publish any explorations. The warning message is aways present. Is this a bug? Please, see the screenshots. Please, advise.

<img width="1440" alt="pic1" src="https://user-images.githubusercontent.com/16367007/56023187-5c70cb80-5cdb-11e9-9be

[2019-04-12 10:35] anubhavsinha98 commented on #6584
Hi @ithompson4, it is not a bug. You have to add an 'End Exploration' interaction, to remove the warning message. Then go to publish button and there you can see a modal window, where you need to fill the details regarding exploration. And there you can see the message.

[2019-04-12 17:08] anubhavsinha98 opened #6591 "Able to submit the suggestion without changing the contents of the exploration"
**Describe the bug**
The learner is able to submit the suggestion, without changing the content of the exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Play any exploration.
 2. Click on the suggestion button in the exploration player nav bar.
 3. Without changing the content just fill the message part and click on the submit button.

**Observed behavior**
The suggestion is subm

[2019-04-12 18:19] vojtechjelinek commented on #3950
Hi @jarm0785, this issues is almost done and the remaining parts are quite complicated for a new contributor. You can look at issues that have [good first issues](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) tag.

[2019-04-12 20:12] ithompson4 commented on #6584
@anubhavsinha98. Thank you for your response. I now no longer get the warning message and can publish.

Looking through the Oppia app's files I have found the code that I think generates messages; but cannot find the text  for  messages currently output beneath the Title and Goal <em> elements. From where do you get them ? Thanks.

[2019-04-12 21:21] ithompson4 commented on #6584
Hello @anubhavsinha98,  I have found and updated the messages under Title and Goal fields. But currently there is validation for a minimum of  only 1 character being entered in the Title field. Would you like me to increase this to 15 characters so it aligns with the new message below it? Thanks.

[2019-04-13 09:49] #6591 closed, assigned to anubhavsinha98

[2019-04-13 11:04] ShubhamBansal1997 commented on #6550
Hi, @DubeySandeep Can I work on ```core.domain.user_jobs_one_off``` ?

[2019-04-13 11:07] anubhavsinha98 commented on #6550
Hi @ShubhamBansal1997, assigned it to you. Go ahead!

[2019-04-13 15:11] nithusha21 opened #6600 "Welcome email sent by Oppia has a link to a Google+ profile which no longer exists"
**Describe the bug**
I just created a new account on oppia.org, and the welcome email I received had a link to Oppia's Google+ page in the footer. The link is currently broken and should be removed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an account on Oppia.org
 2. Enable email notifications (while signing up)
 3. Check the mail received after signup. Click the Google+ link

[2019-04-13 18:03] anubhavsinha98 opened #6601 "Suggestion is submitted even when the content of the exploration is not changed for a few explorations"
**Describe the bug**
The submit buttons get enabled i.e. we are able to submit suggestions even when the contents of the exploration are not changed. This is occurring for a few explorations only.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Fractions Part 1' exploration
 2. Don't change the exploration contents, only enter the message.
 3. Click on Submit button.
 4. Suggestion s

[2019-04-13 18:28] lilithxxx commented on #6550
Hi I am taking core.controllers.resources, core.domain.activity_jobs_one_off and core.domain.classifier_services

[2019-04-13 19:29] Dharmesh-Poddar commented on #6582
@import-keshav  when I try to publish a card I get the message as 'Please resolve the warnings before publishing'

[2019-04-14 00:29] DubeySandeep commented on #5134
@manyaagarwal, any update on the assigned issue?

[2019-04-14 06:04] seanlip commented on #6542
Hi @amey-kudari, I'm fine with including the state name information in the subject of the feedback and not the text of the feedback, if that's what you're suggesting.

[2019-04-14 07:12] seanlip commented on #6600
This is now fixed via a configuration property change on the Oppia server. Thanks for reporting!

[2019-04-14 07:12] #6600 closed, assigned to nobody

[2019-04-14 14:16] DubeySandeep commented on #6586
I know this issue and I have already created a PR for this issue ay #6571.

[2019-04-14 14:43] nithusha21 opened #6604 "Server error: TypeError: a.filter is not a function"
This error occurred recently in production

[code]

**Additional context** I tried investigating this and the issue seems to stem from https://github.com/oppia/oppia/blob/develop/extensions/interactions/ItemSelectionInput/directives/ItemSelectionInputRulesService.js#L30. I guess that the value passed into the filter (answer) might not be an array under some circumstance, which leads to the error.

[2019-04-14 14:50] nithusha21 opened #6605 "Server error: TypeError: Cannot read property 'charAt' of null"
This error occurred recently in production

[code]

**Additional context** This is potentially a race situation in the services. The interactionID received by the AngularNameService is null, which means that some service probably tried to run this function before initializing interactionID.

**General instructions**
There are no specific repro steps available for this bug report. The general proce

[2019-04-14 15:27] rafalk342 commented on #6159
Just a question came to my mind.
If we currently have version x and revert to version y. Is the behavior correct to revert the stats also to version y? I would expect the stats to persist from version x to version x+1.

As for the idea to regenerate data.
I see there is stats_jobs_one_off.py. So there is a possibility to retrieve all exploration and for every exploration check if some version of s

[2019-04-14 16:17] nithusha21 opened #6606 "Server error: TypeError: Cannot set property 'ready' of null"
This error occurred recently in production

[code]

**Additional context** The error occurred on the exploration creation page. Potentially a race condition in the initialization stages of the RTE.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the e

[2019-04-14 18:14] seanlip commented on #6159
That's a good question and I'm not entirely sure.

What you say sounds reasonable, but there is the possibility of state names having changed from one exploration to another. So if you use the new stats then when reverting, there may be some state names in the new stats that don't correspond to anything in the older version of the exploration. That needs to be handled carefully. Do you have any th

[2019-04-14 19:31] #6581 closed, assigned to nobody

[2019-04-14 20:00] DubeySandeep opened #6609 "Create a structure for exploration languages for text and voice-overs"
**Currently:**
Oppia lessons can be made in a different set of languages whereas it can be voiceover in a different set of languages (eg. we can add voiceovers in Hinglish but we cannot create a lesson in Hinglish)

**Future:**

With the introduction with the written translation, we are expecting to have a written text for every translation as this will help us to provide a single exploration in d

[2019-04-15 08:36] seanlip opened #6610 "Add concept of "attachments" to feedback threads"
The aim of this feature request is to add the concept of "attachments" to generalized feedback threads, so that users who submitted feedback can provide more information to creators on how to improve the lesson. A specific type of attachment is the learner's playthrough up to that point (for exploration feedback threads), but others might be possible.

**Describe the solution you'd like**

Users s

[2019-04-15 08:38] seanlip commented on #6579
Hi @import-keshav, thanks for filing this! As an FYI, I've actually gone ahead and refiled it as #6610, in order to make the context a bit clearer -- I hope that's OK.

In particular, the aim of adding attachments isn't so much to figure out which question is being referred to (that's more related to the state name), but to provide the creator with enough information to understand the learner's pa

[2019-04-15 08:38] #6579 closed, assigned to nobody

[2019-04-15 09:21] pranavsid98 commented on #5975
@seanlip @brianrodri I'll fix this one.

[2019-04-15 13:02] #6555 closed, assigned to anubhavsinha98

[2019-04-15 13:06] anubhavsinha98 commented on #6551
Closed via #6559

[2019-04-15 13:06] #6551 closed, assigned to anubhavsinha98

[2019-04-15 13:19] apb7 commented on #6556
Hi @DubeySandeep, can you please confirm this? This should not be the case. Thanks!

[2019-04-15 13:20] apb7 commented on #6527
Fixed by #6559. Therefore, closing this. Thanks!

[2019-04-15 13:25] DubeySandeep commented on #6556
Hi @apb7, Thanks for checking. I can see it's hard to reproduce but I have seen this issue multiple times (with other independent linters too.) while running pre_commit linter. Currently, I cannot reproduce this intentionally but I have seen this last day while I was working.

[2019-04-15 13:29] import-keshav commented on #6586
Thanks @DubeySandeep for informing.

[2019-04-15 18:35] DubeySandeep commented on #6605
Looks similar to #6523.

[2019-04-15 20:51] Dharmesh-Poddar commented on #6582
@import-keshav please check the pr #6612

[2019-04-15 22:00] #6586 closed, assigned to DubeySandeep

[2019-04-16 07:44] rafalk342 commented on #6159
I think you are right that new state names are the reason why we should revert to earlier version of stats.

[2019-04-17 00:20] DubeySandeep opened #6615 "Move .stylelintrc from css dir to the root dir."
Currently, we have placed `.stylelintrc` inside `/core/templates/dev/head/css/` and because of this the `.stylelintrc` is in production server build dir.

Find a way to move this file to the root dir, similar to .pylintrc.

[2019-04-17 06:32] MLA98 commented on #6550
Hi! I am taking `core.controllers.library`. Please assign me to it!

[2019-04-17 10:08] import-keshav commented on #6232
After the long discussion of how to solve this issue, we come up with the approach
To solve this we use Cache.
**But how?**
In this, we run a function every time when the user saves the exploration. So before saving of an exploration an ajax request will be sent to check the session of the user. If the user gets logged out then the exploration data will be saved in the cache. Now the user will log

[2019-04-17 17:02] nithusha21 commented on #6550
@MLA98 assigned you! Good luck!

[2019-04-17 19:07] amey-kudari opened #6618 "Allow creator to copy exploration's "Link to share", and add title to the icons below"
**Is your feature request related to a problem? Please describe.**
Allow the user to copy exploration link to clipboard when he publishes an exploration.
**Describe the solution you'd like**
Allow copy to clipboard using $window
($window.document.execCommand('copy'); )
**Screenshots**
Allow the user to copy the exploration link to clipboard by adding a button or click to copy
![Screenshot from 201

[2019-04-17 20:39] #6229 closed, assigned to NishealJ

[2019-04-17 22:14] #6345 closed, assigned to ujjwalgulecha

[2019-04-17 22:18] vinitamurthi commented on #5549
So I dont think this pertains to the practice sessions team, this is related to the review system right? Can @seanlip or @nithusha21 guide me as to where this should go?

[2019-04-17 22:26] amey-kudari commented on #6610
Hi @seanlip!
I think we append the order of cards the user went through in the feedback text (as the last line/footer of the feeback thread message). What I mean is when the user starts an exploration, initialize a stack and when the user gets redirected to a new card, push the old card name to the stack. I feel this should give the author a decent idea of how the user reached a card that he has n

[2019-04-17 22:27] seanlip commented on #5549
Hm, I think I'll need to defer to @nithusha21 or @DubeySandeep on this.

@nithusha21 @DubeySandeep should we be starting up a new project for "contribution infrastructure" or similar?

[2019-04-17 23:08] seanlip commented on #6610
Hi @amey-kudari, I think this might work if we just cared about the individual card, but I think the idea here is more to see the full playthrough from the beginning of the lesson to this point. So I'm not sure it's feasible to include all that info in a regular comment, we'll probably need a separate view for it.

[2019-04-18 04:14] #6468 closed, assigned to nobody

[2019-04-18 04:24] amey-kudari commented on #6610
Hi @seanlip,
  Can we include the entire conversation with the card name, I mean the answers of the user and the responses he got (feedback from the otter)?
  I am not sure about displaying it, I was thinking we can make a "show path" option, And send the entire conversation through the text and decode it at the feedback tab but I am not sure how we can separate these feedback threads from other f

[2019-04-18 04:28] amey-kudari commented on #6618
Hi @seanlip, Is this s valid issue? also can I include the title for the last 2?

[2019-04-18 04:35] seanlip commented on #6618
This issue is valid, yes (and thanks for filing it!), but I don't understand your last question.

[2019-04-18 04:39] amey-kudari commented on #6618
I was asking if I can include a title attribute to the last 2 links.
(within html tag, title="google classroom") so when the user hovers over an icon (like in the last screenshot, I was hovering over google-classroom icon), he gets a subtle pop up saying "google classroom". (like the the pop up in the last screenshot)

[2019-04-18 05:49] seanlip commented on #6618
I would be fine with that, yeah. Though technically these are really two separate issues and should be handled in two separate PRs / issue threads.

I suggest using "Google Classroom" though (i.e. capitalize).

[2019-04-18 05:50] seanlip commented on #6610
No, the conversation is too long to include here. We already have some functionality for showing playthroughs in the stats tab (talk to @pranavsid98 for details) and reusing that seems like it would be better.

[2019-04-18 06:31] nithusha21 opened #6621 "Error: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document."
This error occurred recently in production

[code]

**Additional context** Some browsers might not support sessionStorage. In such cases we should fail gracefully instead of raising an error. This link might be useful https://github.com/uikit/uikit/issues/3413.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors shou

[2019-04-18 06:41] nithusha21 opened #6622 "TypeError: Cannot read property 'top' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-04-18 07:03] DubeySandeep commented on #6622
@mzaman07, can you look into this as it seems to be raised through the "translation tab tour" functionality?

[2019-04-18 07:56] amey-kudari commented on #6618
Alright, I will make file a separate issue for this, and I will capitalize.

[2019-04-18 08:01] amey-kudari opened #6623 "Add title to sharing link icons that show up on hover."
Make titles show up for each sharing link icon as mentioned in #6618

[2019-04-18 08:05] DubeySandeep commented on #6556
This again happened with me:
![image](https://user-images.githubusercontent.com/16653571/56346005-b80cee80-61de-11e9-8788-0a86e2f1108d.png)

[2019-04-18 18:08] Kree3 commented on #6550
Hi! I would like to try core.domain.stats_jobs_one_off. Thank you!

[2019-04-18 18:11] anubhavsinha98 commented on #6550
Hi @kree3, assigning you the same. Go ahead!

[2019-04-19 01:45] EricZLou commented on #5134
Hi all. I'm working on learner_progress_services, and one of the functions that hasn't been tested is remove_exp_from_completed_list.
While this function is implemented, nothing calls it. Should I still write code to test it? Or should I just delete it from the file?

[2019-04-19 01:58] seanlip commented on #5134
That's a good question! I lean towards just deleting it, if it's not used.

[2019-04-19 17:37] anubhavsinha98 opened #6629 "Console error during adding of Item Selection Interaction and Image Region Interaction"
**Describe the bug**
A console error can be seen when we add Item Selection Interaction and Image Region Interaction. Also, they are not viewable in Preview mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new exploration, add some text to the first state
2. Choose item selection input interaction, add some options
3. Save the interaction, see the console (and the preview secti

[2019-04-19 19:00] anubhavsinha98 commented on #6629
#6627

[2019-04-21 05:30] nithusha21 commented on #6601
As per investigation @anubhavsinha98 concluded that this occurs for exploration state content when the content has anything apart from text. Considering that this happens in production also, I think it is ok to deprioritize from the current release. I'll add it to the bug-fixing team tasks instead.

[2019-04-21 22:17] Andyjdv commented on #6550
Hello, can I try core.controllers.base if not already assigned. Cheers!

[2019-04-21 22:45] DubeySandeep commented on #6550
Hi @Andyjdv, I've assigned you to  `core.controllers.base`. :)

[2019-04-22 15:42] rahgurung commented on #6583
![Screenshot from 2019-04-22 21-11-27](https://user-images.githubusercontent.com/30543444/56508970-5c769400-6543-11e9-9e0c-2db8e81d8403.png)
In my local server, it is updating.

[2019-04-22 15:48] import-keshav commented on #6583
thanks @gurungrahul2 for checking this,  but can you please confirm this on test server and production server.

[2019-04-22 15:57] rahgurung commented on #6583
@import-keshav fails for both in my case.

[2019-04-22 16:05] import-keshav commented on #6583
sorry but did you mean views were updating ?

[2019-04-22 16:11] rahgurung commented on #6583
no, they were not updating either for test server nor production server.

[2019-04-22 16:41] import-keshav commented on #6583
thanks, @gurungrahul2 for confirming.
Any comments @nithusha21 @seanlip @DubeySandeep!

[2019-04-22 21:27] import-keshav commented on #6369
Before solving the issue please refer to the comment thread (properly) of this PR https://github.com/oppia/oppia/pull/6473
Thanks!

[2019-04-22 21:28] #6112 closed, assigned to nobody

[2019-04-22 21:28] #6110 closed, assigned to nobody

[2019-04-23 01:37] #6623 closed, assigned to nobody

[2019-04-23 07:26] seanlip commented on #6583
How does the update happen (what's the flow when an exploration is completed)? If you can outline that (from a code perspective), I can try to debug the production servers.

[2019-04-23 12:24] DubeySandeep commented on #6527
Reopening this issue as it's not fixed yet and we have moved the lint test to Travis ci.

[2019-04-24 15:59] NishealJ commented on #6500
Hi,
A Tost like this must be fine ,
<img width="1197" alt="Screenshot 2019-04-24 at 9 27 35 PM" src="https://user-images.githubusercontent.com/41017303/56674535-dd669480-66d7-11e9-94f9-7ba2dc4a968f.png">

[2019-04-24 18:16] ankita240796 opened #6649 "Frontend and e2e test failing on develop"
**Describe the bug**
The frontend and e2e test are failing on develop with the message:

[code]

I have tried running test locally and they fail. Same is happening on the PR #6530.

\cc @oppia/dev-workflow-team

[2019-04-24 19:01] #6629 closed, assigned to nithusha21

[2019-04-24 19:02] anubhavsinha98 commented on #6629
Closed via #6627

[2019-04-24 20:08] vinitamurthi commented on #6649
I am having the same problem while trying to push my up-to-date branch into PR #6620

[2019-04-25 03:44] seanlip commented on #6649
I dug into this. It is related to https://github.com/angular/webdriver-manager/issues/370 -- if you go to setup.sh and remove --detach --quiet you'll see the full error message:

[code]

Apparently the JAR file is corrupted. This is marked as a P0 fix for their repo so we should monitor and upgrade as needed. We will probably need to upgrade webdriver-manager to 12.1.2 after [this PR](https://gith

[2019-04-25 07:20] cnishina commented on #6649
Originally the xml file did not have these .zip files in them. So we would just find the latest version number and download it. Unfortunately it looks like we are downloading the zip file then tacking on the jar suffix at the end (part of the renaming process). This is why we are getting .zip.jar. The fix will be in tomorrow.

[2019-04-25 18:29] varun-tandon opened #6651 "Failure on e2e tests"
**Describe the bug**
e2e tests failing when run

**To Reproduce**
Run bash scripts/run_e2e_tests.sh

**Observed behavior**
Console output:
[code]
**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: Mac OS

[2019-04-25 20:12] seanlip commented on #6651
Hi @varun-tandon, can you try replicating this error manually? I.e. start a local dev server and follow the steps in the e2e test manually until you reach the place with the error. That will allow you to start adding logging statements and debugging to see what's going on.

Let us know if you need help with this. Thanks!

[2019-04-25 20:15] seanlip commented on #6649
Thanks @cnishina!

@oppia/dev-workflow-team -- v12.1.2 of webdriver-manager is out. Can we upgrade?

[2019-04-25 20:45] anubhavsinha98 commented on #6649
Hi @seanlip, I didn't see any specific version mention of webdriver-manager. I think we have to add the specific version and test it.

[2019-04-25 20:48] seanlip commented on #6649
Oh yeah, I think we need to add it into the scripts, it's probably imported by some other dependency (like protractor).

[2019-04-25 21:05] cnishina commented on #6649
webdriver-manager 12.1.2 should download automatically if installing a fresh set of node modules. If you are using an existing workspace, you could do an `npm i -f`. webdriver-manager also is included automatically in Protractor at https://github.com/angular/protractor/blob/5.4.2/package.json#L29

[2019-04-25 21:08] apb7 opened #6653 "Pylint checks fail on CircleCI"
**Describe the bug**
Pylint checks (for python files) fail on CircleCI with the following logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
 Please refer to [this CircleCI job](https://circleci.com/gh/oppia/oppia/4678)

**Additional context**
This probably seems to be a caching problem. A number of ways were tried to fix that but none of them worked. Therefore, the tests were ported

[2019-04-25 21:09] apb7 commented on #6527
Actually, this has been fixed. Closing this in favor of #6653. Thanks!

[2019-04-25 21:09] #6527 closed, assigned to apb7

[2019-04-25 23:21] import-keshav commented on #6550
I am assigning ``` core.controllers.suggestion.py ```

[2019-04-26 00:56] DubeySandeep commented on #6536
Closing these issues as per discussion with @seanlip!!

This functionality is not required as we are going to broadcast all the community explorations in the community dashboard for contribution.

[2019-04-26 00:56] #6536 closed, assigned to nobody

[2019-04-26 02:20] DubeySandeep opened #6654 "Make CODEOWNER pre push checks validate only the changed files"
Currently, we use to check the entire file in the codebase is assigned to a code owner when a user runs as `git push ..` command. This takes around 10 sec. but we want to have a behavior explained below:
- This check should only test the file changed in the current commit (like other py, js lint tests)
    - Whether the files changed/added in the feature branch has code-owners?

- There should be

[2019-04-26 04:26] DubeySandeep opened #6655 "Split lint tests into sub-tests in CI similar to e2e tests."
Currently, we have a single lint test in CI which does all of the different lint tests like lint tests for python, js CSS, HTML, code-owners, etc. This issue focuses on splitting these test into multiple tests, this would help in many ways:

- Understand which tests are failing in a single glance.
- Switching to different CI if some problems occur to a part of the lint test in future

[2019-04-26 11:17] #6200 closed, assigned to bansalnitish

[2019-04-26 13:12] bansalnitish commented on #6500
Yeah, to me it looks good @NishealJ.

[2019-04-26 13:26] bansalnitish commented on #6493
Hi @aks681, any updates on this issue?

[2019-04-26 13:27] bansalnitish commented on #5295
Hi @NishealJ any updates on this issue? Its been time since you've been assigned this.

[2019-04-26 13:27] bansalnitish commented on #3819
Hi @NishealJ, any updates on this issue ?

[2019-04-26 13:28] bansalnitish commented on #4252
Designing @suicide11.

[2019-04-26 13:29] bansalnitish commented on #5791
@vibhor98 any updates on this issue ?

[2019-04-26 15:47] vibhor98 commented on #5791
Hi @bansalnitish, I will be able to take it up only after May 15. De-assigning myself for now so that it can be open for other developers.

[2019-04-26 17:36] anubhavsinha98 commented on #6223
Hi @bansalnitish, should I move the supplement card over the footer or I should move the position of the card a slightly above than the current position.

[2019-04-26 17:58] ankita240796 commented on #6550
Hi @Kree3, any updates on stats_one_off_job test?

[2019-04-26 18:29] import-keshav commented on #6550
Hello, @PrinceSharzeel @netajik @sophiewu6 any updates?

[2019-04-26 18:32] sophiewu6 commented on #6550
Hi @import-keshav My PR was already merged https://github.com/oppia/oppia/pull/6540

[2019-04-26 18:33] import-keshav commented on #6550
Thanks, @sophiewu6 for informing, can you please update it?

[2019-04-27 10:24] NishealJ commented on #5295
Hi @bansalnitish & @vibhor98 , I tried debugging this, and i dint find this issue readily reproducible (i.e happened only once trying to reproducing again) @vibhor98 can you please check if this is still reproducible? and if possible share the steps to reproduce it.
Also, as mentioned earlier by @vibhor98, the error is thrown by `ui-tree` itself and there is no update or bug-fix to the library fro

[2019-04-27 18:45] lilithxxx opened #6662 "The `Question` class has no _convert_state_vx_dict_to_vx_dict methods"
The `core.domain.question_domain.update_state_from_model()` calls the function  _convert_state_vxx_dict_to_vxx_dict [here](https://github.com/oppia/oppia/blob/develop/core/domain/question_domain.py#L198) but the `Question` class has no such methods. This never got caught as there was no appropriate test for this function.

[2019-04-28 15:07] DubeySandeep opened #6667 "E2e tests for some suites are passing without running any tests."
Currently, the e2e tests are passing without running tests for some suites:
- explorationFeedbackTab.js
- explorationTranslationTab.js
- skillEditor.js

![image](https://user-images.githubusercontent.com/16653571/56866266-d8b22100-69f4-11e9-9d38-44432edd1603.png)

[2019-04-28 19:15] nithusha21 commented on #6523
I tried looking into this issue. I see one of 2 problems here.
- Maybe the state_name was invalid, and hence maybe the state obtained was undefined, and hence interaction_id would have been undefined. But I think this would have raised a different error message (unable to get property interaction or something like that).
- The state was successfully loaded, but there was no interaction on the stat

[2019-04-28 19:49] nithusha21 commented on #6605
Yeah, my bad. Closing this one.

[2019-04-28 19:49] #6605 closed, assigned to nobody

[2019-04-28 20:06] apb7 commented on #6649
This issue has been fixed since webdriver-manager gets updated automatically. We only had to clear the cache for CI builds. More information regarding this can be found [here](https://groups.google.com/d/msg/oppia-dev/YIZVzYe0CFw/yGakgKdvBgAJ). Thanks!

[2019-04-28 20:06] #6649 closed, assigned to nobody

[2019-04-28 20:16] ankita240796 commented on #6649
I still get the same error locally, do I need to do anything there?

[2019-04-28 20:32] apb7 commented on #6649
Hi @ankita240796, please follow the instructions [here](https://groups.google.com/d/msg/oppia-dev/YIZVzYe0CFw/CukC4LbHBgAJ). Thanks!

[2019-04-29 02:56] DubeySandeep commented on #6550
@MLA98, any update on assigned part of the issue?

[2019-04-29 03:21] #6343 closed, assigned to ankita240796

[2019-04-29 04:04] MLA98 commented on #6550
@DubeySandeep Hi, Not done yet. I need more time.

[2019-04-29 04:46] ankita240796 commented on #6443
Done [here](https://github.com/oppia/oppia/wiki/Coding-style-guide#typescript).

[2019-04-29 04:46] #6443 closed, assigned to ankita240796

[2019-04-29 04:59] DubeySandeep opened #6671 "Scoring system infrastructure for the community contributions"
Contributors are associated with a score for the contribution related in different fields. These scores should be for the following activity:

- Translation in different languages.
- Voiceovers in different languages.
- Adding graphics in exploration.
- Creating questions.

The Model should be a user-specific i.e, each user should have their own scoring model which contains metadata of their contr

[2019-04-29 05:05] DubeySandeep opened #6672 "Allow admin to specify specific languages for prioritizing translation and voiceover of explorations in community"
Admins can specify a list of key languages that the community can prioritize for translations and voiceovers.

[2019-04-29 05:19] import-keshav commented on #6550
Thanks @MLA98, for informing, you can ask for help in case you need help, we are happy to help you !
Thanks

[2019-04-29 09:41] seanlip commented on #6523
Could this have happened when an interaction got deleted from a state? Maybe that case isn't handled correctly by StateTopAnswersStatsService? If so, we should add a trigger for handling that case correctly.

/cc @brianrodri -- any thoughts?

[2019-04-29 19:00] brianrodri commented on #6523
Just took a look and I can confirm we don't have checks in place for deleted states, which I feel we definitely should. I'll start on a PR to include a check in the backend.

[2019-04-29 19:20] MLA98 commented on #6550
@import-keshav Thanks. I have contacted my mentor through email and contacted members in gitter. I am new to Open Source project. Is it proper to ask for help in an issue?

[2019-04-29 19:26] ankita240796 opened #6678 "Add a test to ensure usage of angular.mock.inject"
In test files, inject should be used as angular.mock.inject to maintain a consistent behavior since we use angular.mock.module instead of module. Typescript supports both inject and angular.mock.inject, so we need a custom test to ensure that angular.mock.inject is used instead of inject.

[2019-04-29 19:39] seanlip commented on #6523
Thanks @brianrodri! Just a small clarification: I meant deleting an interaction from an existing state (which persists before and after the interaction is deleted), not deleting the state itself.

Also, what do you mean by "backend" here? Shouldn't the check be in the frontend, in the StateTopAnswersStatsService file (i.e. it listens to the deletion event and updates the "top answers" accordingly)

[2019-04-29 19:44] brianrodri commented on #6523
Hmm, well I feel the backend should make sure the state exists as well, right? And IIRC there is FE code to remove top answers from deleted states, I can check to confirm.

[2019-04-29 19:46] seanlip commented on #6523
No -- not deleted states; I'm talking about the action of deleting interactions from states.

[2019-04-29 19:47] brianrodri commented on #6523
Hmm in that case, no I doubt we have logic for that. I wonder what we should do in such cases... delete the cached stats entirely since it won't be valid anymore..?

[2019-04-29 19:48] seanlip commented on #6523
Yeah, that sounds right to me.

[2019-04-29 19:52] import-keshav commented on #6550
Hello @MLA98 yes you can, but its better to ping mentor or other members of oppia for help.
You can ping me on gitter if you need help I am happy to help you
Thanks

[2019-04-30 06:43] bansalnitish commented on #6223
Hi @anubhavsinha98, can you please provide mocks for both. Though I think it is better to move it over the footer since moving it slightly above the current position may not work for all screen sizes. Thanks!

[2019-04-30 07:00] bansalnitish commented on #5295
Hi @NishealJ, I am also unable to reproduce this issue. @vibhor98 can you please confirm, Thanks!

[2019-04-30 07:14] bansalnitish commented on #6583
Hi @import-keshav, can you please look into the code outline as mentioned by @seanlip, Thanks!

[2019-04-30 08:00] import-keshav commented on #6583
Sorry, @seanlip @bansalnitish for no response.
Will try to give updates ASAP
Thanks

[2019-04-30 13:00] anishbadri commented on #6582
Hey @import-keshav  can I take this one?

[2019-04-30 13:52] bansalnitish commented on #3677
@DubeySandeep any updates on this ?

[2019-04-30 13:53] bansalnitish commented on #4662
Hey @nithusha21, any updates on this one ?

[2019-04-30 13:54] bansalnitish commented on #6492
Hi @YashJipkate, could you please prioritise this issue? Its been long time since it was assigned to you. Thanks!

[2019-04-30 15:07] import-keshav commented on #6582
Hello, @anishbadri sure go ahead and feel free to make PR
thanks

[2019-04-30 16:04] anubhavsinha98 commented on #6223
Thanks @bansalnitish, I will add the mock for it.

[2019-04-30 19:04] DubeySandeep opened #6683 "Orientation in editor and dashboard pages seems to be off."
Orientation in editor and dashboard pages seems to be off.

In the editor page:(see Oppia logo)
![image](https://user-images.githubusercontent.com/16653571/56986037-62a1eb80-6ba7-11e9-96b9-969816a124ea.png)

**One part of this issue (explained below) is resolved in #6759**

![image](https://user-images.githubusercontent.com/16653571/56986192-bf050b00-6ba7-11e9-8047-d879b2e1edac.png)

Note: We need

[2019-04-30 19:57] DubeySandeep opened #6684 "Create an artist role for the explorations."
Exploration should have an artist role who can upload images and graphics in the exploration.

Work of artist:
- Can replace existing images.
- Can upload images in place of place-holders.

[2019-04-30 20:01] DubeySandeep opened #6685 "Allow editor to add image placeholder in the exploration content."
Create an infrastructure to add image placeholder in the exploration content.

**Use of this placeholder:**
- The editor can use this placeholder images to indicate the requirement of images to exploration artist.

**Note:**
 - Exploration with placeholder images should not be published.

[2019-05-01 07:02] DubeySandeep opened #6686 "Add check for protractor suites pattern such that each suite have at least one test file."
Add a check in the protractor config file such that the e2e test fails if there isn't any file for the given patterns in the suites dict.

This will help to prevent the issue of having the wrong filename in the suites dict.  see #6667 for more info.

[2019-05-01 07:07] DubeySandeep opened #6687 "Create a new e2e test suite to test file upload process in the translation tab and other places."
Create a new test suite which should run in dev mode and test the file upload process in the translation tab and this file can be used for writing another upload process like profile image upload, image upload in exploration, etc.

**Note:** We can reuse the changes made in #6340 for upload audio translation testing which get reverted in #6668.

[2019-05-01 08:32] DubeySandeep commented on #6556
This again happened today:
![image](https://user-images.githubusercontent.com/16653571/57010307-a33a4d00-6c19-11e9-9189-12118b509ea7.png)

[2019-05-01 08:32] anubhavsinha98 opened #6688 "Add a lint check to ensure content of style tags are indented by 2 spaces."
Add a check in pre_commit_linter.py, such that content of the style tag is indented by 2.
[code]
Please check the comment [here](https://github.com/oppia/oppia/pull/6665#discussion_r279296414).

[2019-05-01 09:13] DubeySandeep commented on #6662
Hi @lilithxxx  it doesn't have any such method as the state schema in the existing question is the same as the latest state schema version. We will add `_convert_state_v27_dict_to_v28_dict` once we will change the state schema. I'm doing this in one of my PR see [here](https://github.com/oppia/oppia/pull/6587/files#diff-de7514e2d0ecde53df075cca4a757846R179).
After this explanation if you think the

[2019-05-01 10:10] vibhor98 commented on #5295
Hi @NishealJ, @bansalnitish, I can reproduce this issue. Just try dragging the items in the drag and drop interaction and see the console error. Thanks!

[2019-05-01 15:04] #6542 closed, assigned to import-keshav

[2019-05-02 07:50] varun-tandon commented on #6651
I tried to trace through the steps manually but was unable to replicate the errors that I saw. I also got different errors the second time that I ran through the tests. I ran through these and then I was unable to see any alerts that were unexpected.

[code]

[2019-05-02 07:51] seanlip commented on #6651
@varun-tandon, are you on the latest version of develop? (To find out, compare the output of `git log` with https://github.com/oppia/oppia/commits/develop .)

[2019-05-02 13:12] import-keshav commented on #6278
This issue has happened again to me and @DubeySandeep.
We have to investigate this.
Thanks

[2019-05-02 17:58] amey-kudari opened #6690 "Extend hover effect of About-drop so that it gets hover effect when any <li> under it is hovered."
**Describe the bug**
the hover effect does not get affected when

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to homepage (localhost/splash)
 2. Click on 'hover on the [about] on navbar
 3. Move cursor to any option below it

**Observed behavior**
The hover effect on the [About] on navbar disappears

**Expected behavior**
The hover effect should stay even if we hover over an li.

**Sc

[2019-05-02 19:59] amey-kudari commented on #6690
https://stackoverflow.com/questions/22783862/keep-parent-menu-item-highlighted-after-entering-into-the-child-menu-web-link

[2019-05-03 18:34] #3819 closed, assigned to NishealJ

[2019-05-03 19:01] #6667 closed, assigned to DubeySandeep

[2019-05-04 13:16] amey-kudari opened #6695 "Icons below exploration card in exploration editor flow out of the card"
**Describe the bug**
Icons below exploration card in exploration editor flow out of the card

**To Reproduce**
Steps to reproduce the behavior:
 1. Create any exploration and publish it.
 2. go to creator dashboard.

**Observed behavior**
 icons flow out of the card.

**Expected behavior**
 icons should not flow out of the card.

**Screenshots**
![Screenshot from 2019-05-04 18-39-00](https://user-

[2019-05-04 13:35] anubhavsinha98 commented on #6223
Hi @bansalnitish, how about if we move it to the left.
Like here.
![image](https://user-images.githubusercontent.com/30555544/57179807-90d14500-6e9f-11e9-8453-c6efd5a25f3c.png)

[2019-05-04 13:36] anubhavsinha98 commented on #6223
As I think moving it over the footer will make the UI a little bit different.
What do you suggest?
Thanks!

[2019-05-05 09:21] bansalnitish commented on #6550
Hi @jarm0785, any progress on the part that you've been assigned?

[2019-05-05 18:42] nithusha21 opened #6702 "TypeError: Object doesn't support property or method 'isNaN'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-05-05 18:44] import-keshav opened #6703 "Display full card name in exploration graph."
Cards with different names but having the same starting words creates confusion regarding which node belongs to which card in the exploration graph.

See the below image, here some cards have same starting name ``` Fractions of a Group  ```. But when the exploration graph is shown then the node title comes ``` Fractions of... ``` which doesn't tell that for which card is the appropriate node.

![S

[2019-05-06 04:44] bansalnitish commented on #6493
Ping @aks681

[2019-05-06 04:44] bansalnitish commented on #6492
Ping @YashJipkate

[2019-05-06 04:45] bansalnitish commented on #5295
@NishealJ any updates on this issue ?

[2019-05-06 07:26] mzaman07 commented on #5627
Yes I am still working on this and almost finished. Will have a pr ready soon.

[2019-05-06 22:15] import-keshav opened #6706 "Misalignment of sharing icons on exploration summary card."
There is a misalignment of sharing icons in exploration summary card

![Screenshot from 2019-05-07 03-34-38](https://user-images.githubusercontent.com/34139754/57258387-e5c8b300-7079-11e9-82b7-bcebe1546beb.png)

**Founds In**
- Firefox (66.0.3)
- Chrome (74.0)

[2019-05-06 22:53] mzaman07 commented on #5627
I'm going to write a doc on UI changes and how the custom recorder works. I have it working right now on my local branch. Once the doc is completed, it will be available along with a PR.

[2019-05-07 04:05] DubeySandeep commented on #6683
@nithusha21, should we mark this as a "Blocking bug"?

[2019-05-07 07:35] import-keshav opened #6707 "Wrong pointing of impact modal"
There is wrong pointing of impact modal.
When we click on the impact option on user profile page then a modal opens describing the impact of explorations created by the user. but the opened modal point in the wrong direction instead of pointing the impact score it points the bio of the user.

![Screenshot from 2019-05-07 12-53-27](https://user-images.githubusercontent.com/34139754/57281104-e8ea900

[2019-05-07 07:37] import-keshav commented on #6707
I want to confirm that is this the actual behavior or bug @seanlip @nithusha21.
Closed it if its actual behavior thanks!

[2019-05-07 07:54] seanlip commented on #6707
It does seem wrong, it should point to the Impact number. Thanks for
catching this!

[2019-05-07 08:53] import-keshav commented on #6707
Thanks, @seanlip for confirming.

[2019-05-07 14:55] #6703 closed, assigned to nobody

[2019-05-08 18:25] NishealJ commented on #5295
Hi @bansalnitish,
Sorry for the delay in response, I'm still working on this.
I facing difficulties in finding the root cause for this.

[2019-05-09 21:23] varun-tandon commented on #6651
I have run 10 trials of e2e tests and had most consistent failures with the following error:

[code]

It appears that this e2e test is failing because an element other than the expected one is displayed. What should be the course of action from here? I'll continue working on my own e2e test by exclusively running my own test, but I did want to highlight that there is this issue with other e2e test

[2019-05-10 07:54] AllanYangZhou commented on #6159
Hi just checking, what things remain to be done for this issue and what is the progress on those things?

[2019-05-10 07:55] AllanYangZhou commented on #3677
De-assigning for now since it's been 10 days since last response, feel free to re-assign if you are still working on this!

[2019-05-10 10:01] rafalk342 commented on #6159
Done:
- fixed the bug in the code

To do:
- regenerate missing data
- check if there are still these errors on the production

[2019-05-10 11:15] Dharmesh-Poddar commented on #6707
![645](https://user-images.githubusercontent.com/32756751/57523585-fbbcc900-7342-11e9-85ac-5af76599d6a0.png)
@import-keshav will that be ok ?

[2019-05-10 11:19] import-keshav commented on #6707
Yes @Dharmesh-Poddar its correct
thanks

[2019-05-10 11:20] Dharmesh-Poddar commented on #6707
Thanks @import-keshav .Making pr for it..

[2019-05-10 11:27] import-keshav commented on #6707
Thanks @Dharmesh-Poddar
But some points to say
1) Please check this on different screen size.
2) Also give a valid reason of whats the main cause of this error. Don't do just trial and error and also mention how you tackel this error.
Thanks!

[2019-05-10 17:03] DubeySandeep commented on #6271
Assigned @suicide11 for 'Skill' part of this issue!

[2019-05-10 19:34] vibhor98 commented on #6706
Hi @import-keshav, thanks for filing this bug. I rechecked -- it's reproducible on all the browsers including Safari. Would you like to take up this issue as it is blocking bug for may release? Thanks!

[2019-05-11 04:28] import-keshav commented on #6582
Hello @anishbadri any updates!
After closing of the last PR you didn't have open it again. Ping in case you need help we were happy to help you.
Thanks!

[2019-05-11 04:45] import-keshav commented on #6706
Sorry, @vibhor98, I am busy at the moment I can't take it now.
Can you please take it up?
Thanks!

[2019-05-11 05:18] anishbadri commented on #6582
I will get it done today. Thank you @import-keshav for all your help

[2019-05-11 05:23] import-keshav commented on #6582
Thanks @anishbadri for updates!

[2019-05-11 10:56] Showtim3 commented on #6706
Hey I can help with this issue as i am a full stack developer working with angular.Can you please tell me how to reproduce this bug and the file where the code's written for the styling of the icons. I'd like to help this issue as well as others.This will be my first time contributing to open source.

Thanks.

[2019-05-11 11:58] anubhavsinha98 commented on #6601
Hi @nithusha21, I think this issue will need more investigation. I will dig into it once my exams are over, and came up with a robust solution.

[2019-05-11 12:02] import-keshav commented on #6706
Thanks @Showtim3 for showing interest in it, we have to first ask is @vibhor98 is taking this up or not?
@vibhor98 can you confirm is you taking this up? or we should assign it to @Showtim3

[2019-05-12 11:58] vibhor98 commented on #6706
Hi @Showtim3, yes you can take up this issue. Please go ahead! But keep in mind that it's a blocking bug for May release. So, please try to make PR within 3-4 days as review may also take some time. Thanks!

[2019-05-12 20:48] #6582 closed, assigned to nobody

[2019-05-12 22:06] Showtim3 commented on #6706
Okay i think resolving the issue won't take up too much time. I have forked and cloned the repo. Can you please guide me how to reproduce the issue and which file am i supposed to modify?

[2019-05-13 18:14] bansalnitish commented on #6161
Steps of reproduction:

1. Login to Oppia.
2. Click on create button to create an exploration.
3. You will be directed to a card called introduction. Click on the edit button to change the card name.
4. Change it to something else but do not press the save button.
5. Now, open console and click the preview button.

[2019-05-14 07:46] seanlip opened #6726 "Separate audit one-off jobs so that there is a single job per model type."
The aim of this issue is to separate the audit jobs so that each audit job corresponds to a single model type, per [this comment](https://github.com/oppia/oppia/pull/6680#issuecomment-491700031) in #6680. (Currently, we are using the same job for the entire audit, but this won't scale well as we extend to multiple models.)

[2019-05-14 10:24] rahgurung opened #6727 "misalignment of cards"
The cards element in about page is misaligned. See the image it should be proper to the centre.
![Screenshot_20190512-232641](https://user-images.githubusercontent.com/30543444/57690842-38006a00-7660-11e9-8d95-a18c4f4bf7f0.png)

[2019-05-14 17:06] #6043 closed, assigned to DubeySandeep

[2019-05-14 19:53] vojtechjelinek opened #6731 "Separate angular constants into individual files"
When we use webpack for bundling files we sometimes need to `require()` file because of angular constant, that can cause problems when there are constants together with other Angular code.

There are two possible solutions:
1. Move `angular.constants()` into multiple separate files.
2. Move all `angular.constants()` into one file.

This work has been done in pages/, components/ and filters/. This

[2019-05-14 20:58] vojtechjelinek opened #6732 "Integrate /extensions into webpack"
We now use webpack for files in `core/templates/dev/head`.

We should extend this usage to the `/extensions` folder.

TODO:
- [ ] ckeditor_plugins

PR CREATED:
- [x] rich_text_components - #6882
- [x] interactions
- [x] classifiers
- [x] visualizations - #6885
- [x] objects - @kevinlee12 (#6889)
- [x] value_generators - #6900
- [x] dependencies

[2019-05-14 21:00] vojtechjelinek opened #6733 "Move core/templates/dev/head/dist folder to the root of our repository"
Move the `/dist` folder that's generated by webpack to the root folder of our project. This will require changes to the build process.

[2019-05-15 04:30] DubeySandeep opened #6736 "Package-lock.json files gets updated automatically and interrupts developers workflow"
Package-lock.json files updates automatically after running scripts/starts.sh and adds `options: true` for dependencies in some operating system and user's commit's this changes unknowingly.

Is this an expected behavior (options: true) if not, can we do something to avoid this?

Example: [PR1](https://github.com/oppia/oppia/pull/6585/files#r281972417), [PR2](https://github.com/oppia/oppia/pull/67

[2019-05-15 06:44] DubeySandeep opened #6737 "[Users Reported issue] Unable to save exploration as it shows error"
User's message:
[code]
![image](https://user-images.githubusercontent.com/16653571/57753846-c92c1b00-770a-11e9-8180-b4929c36c844.png)

![image](https://user-images.githubusercontent.com/16653571/57753821-bd405900-770a-11e9-9910-65e9272d4fd0.png)

**Additional content:**
No one else has edited the exploration in the time the user was working. I think the error message is spurious and is hiding some

[2019-05-15 07:07] ankita240796 opened #6738 "Remove direct usage for window.location in SideNavigationBarDirective.ts"
Direct usage of window.location should be changed in the file SideNavigationBarDirective.ts [here](https://github.com/oppia/oppia/blob/c4e2190e6aae0a0583660abab01f033bdc3a66c2/core/templates/dev/head/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts#L29).

Refer the comment [here](https://github.com/oppia/oppia/pull/6728#discussion_r284108755)

[2019-05-15 07:07] DubeySandeep commented on #6736
@NishealJ, do you have any thoughts on this?
- Is it expected behavior? If not, how can we prevent this to happen? Currently, it really prevents me from switching branch, pushing changes, etc.

![image](https://user-images.githubusercontent.com/16653571/57755289-29708c00-770e-11e9-8501-863c0ebffc05.png)

[2019-05-15 16:41] NishealJ commented on #6736
Hi @DubeySandeep ,
Yes this seems to be an expected behavior to me, I also faced this issue.
I'll try to find ways to prevent this, Also I read about this [here](https://stackoverflow.com/questions/54411377/package-lock-json-file-package-with-optional-true)

[2019-05-15 17:32] DubeySandeep commented on #6736
@NishealJ, Thanks for the update, I'm assigning this to you!

[2019-05-16 23:07] vinitamurthi commented on #6654
I think this is the reason I cannot push my up-to-date PR right now (No changes on my part except for fixing merge conflicts):
"
./webpack.dev.config.ts is not covered under CODEOWNERS
./webpack.prod.config.ts is not covered under CODEOWNERS
./webpack.config.ts is not covered under CODEOWNERS
FAILED   CODEOWNERS file check failed
"
This isn't letting me submit my changes. I can imagine it being qu

[2019-05-16 23:14] seanlip commented on #6654
I think this actually happened due to a race condition between @vojtechjelinek's PR (which introduced new files) and @DubeySandeep's PR (which introduced this check). Usually this should be taken care of by the lint checks before the PR gets merged (and only for files that the PR affects). In this case I think the problem is arising because the check has only just been introduced.

The easy fix is

[2019-05-16 23:23] seanlip commented on #6654
Being fixed in #6745 -- thanks @vojtechjelinek!

[2019-05-17 01:43] seanlip commented on #6654
This is now fixed and merged into develop.

@vinitamurthi, please could you check whether this resolves the issue you faced? Thanks!

[2019-05-17 09:00] vojtechjelinek opened #6748 "Add lint check to ensure require(…) statements are alphabetized"
I think we should enforce alphabetical ordering for `require(…)` statements in the TS files.

In some directives, we have two blocks of `require(…)` statements, the first is for the imports needed for the HTML file and the second is for the dependencies in the TS file itself, I think this should be kept.

@apb7 Do you think that the Developer experience team would have the capacity to implement th

[2019-05-17 09:23] import-keshav commented on #6706
Hello, @Showtim3 first of all sorry for the late response.

**How to reproduce**
1) Login
2) Click on create a button for creating an exploration.
3) Create exploration and publish it.
4) Go to creator dashboard page or library.
5) You will see the created explorations and the misaligned icons as shown in the above picture.

**Which file to modify**
I am not sure in which file you have to edit you

[2019-05-18 07:39] seanlip commented on #6651
Could you try making a PR and running it on Travis? It's either an issue with any local changes you've made or with your local machine, I think, but I'm not sure which it is...

You could also try following [these instructions](https://github.com/oppia/oppia/wiki/Setup-your-own-Travis-instance) to set up your own Travis instance.

[2019-05-18 14:21] rahgurung opened #6754 "make the error report more appealing"
![Screenshot from 2019-05-18 19-48-46](https://user-images.githubusercontent.com/30543444/57971014-09f39080-79a6-11e9-93ea-797aa4eb6939.png)
This is how the current error screen looks, would be great to highlight the error in red colour or something like that to make it more appealing really helps developers to save some time.
Not sure, but maybe this can be helpful. https://github.com/chalk/chalk

[2019-05-18 17:47] Showtim3 commented on #6706
Hey there @import-keshav , I was able to successfully reproduce the issue, so the problem was that the card is given a fixed height of 250px and then there is a dummy element with a height percentage to place the upper icons after the image ends.
So without making any breaking changes, i increased the height of the card to 260px and reduced the height of dummy element from 64.8% to 61.8% and now t

[2019-05-18 19:15] import-keshav commented on #6706
Hello, @Showtim3 thanks for investigating.
The reason is LGTM, so please open the PR and see what other reviews have views on it.
Thanks!

[2019-05-18 19:34] nithusha21 opened #6757 "Server error: Login url not found"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-05-18 19:34] nithusha21 commented on #6757
/cc @vojtechjelinek

[2019-05-18 19:36] nithusha21 opened #6758 "Server error: Reports insecure URL for an internal URL"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2019-05-18 19:37] nithusha21 commented on #6758
/cc @vojtechjelinek, this happened in production recently. We thought you might have some insight on what could possibly be happening.

[2019-05-18 19:48] vibhor98 commented on #6706
Also, please don't forget to test your work on different browsers on different screen sizes. Thanks!

[2019-05-18 21:29] Showtim3 commented on #6706
@vibhor98 @import-keshav  hey i created a pull request for this issue.
Tested on chrome and firefox on different screen sizes.Works fine.

[2019-05-18 21:40] seanlip commented on #6706
Hi @Showtim3, can you follow the instructions here please? https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up We'll need this filled in to accept your PR. Thanks!

[2019-05-18 21:40] seanlip commented on #6706
Oops sorry I put that comment in the wrong place. Moving it to the PR.

[2019-05-19 03:08] DubeySandeep opened #6762 "Extract the non-translatable component from a content and frame it in the translated text."
Currently, the voice artist only sees the translated text written by the translators so through this issue we want to populate the translation field-area with the non-translatable components such as images, latex etc. and allow translators to write things around those components and create a similar frame as of main content.

[2019-05-19 09:07] MLA98 commented on #6550
Hi! I would like to do controllers.feedback. Thank you!

[2019-05-19 11:47] #6706 closed, assigned to nobody

[2019-05-19 11:50] nithusha21 commented on #6683
This has been fixed in #6759  I think. Closing for now.

[2019-05-19 11:57] DubeySandeep commented on #6683
@nithusha21, what about the 1st part of the issue? is that also fixed?

[2019-05-19 12:53] nithusha21 commented on #6737
Might be relevant -- I found this in the logs on the production server (I couldn't find a corresponding stackdriver entry for this error though.

[code]

[2019-05-19 13:02] nithusha21 commented on #6737
From what I understand, somewhere in the StateIdMappingModel creation flow, it is not getting created correctly, and hence we have missing models. I initially thought it could be some issue with how reverts are handled, but I checked the exploration mentioned and there seem to be no reverts. I don't understand where it could be failing. But I think we should create an audit job to see which ones a

[2019-05-19 18:08] sophiewu6 opened #6765 "Webpack error after the newest changes"
After pulling the newest changes, I have been getting this error: "npm ERR! peer dep missing: webpack@^2.0.0 || ^3.0.0, required by karma-webpack@3.0.5". This error also occurs to @sshou14 . This error still persists after removing node_modules and running install_third_party.sh.

I also tried running start.sh after discussing with @vojtechjelinek , but it gets stuck when installing html-webpack-p

[2019-05-19 18:44] sstone-codaio commented on #6765
Just to confirm I do still have this issue on my Mac High Sierra 10.13.6

[2019-05-19 19:11] seanlip commented on #6765
/cc @vojtechjelinek @oppia/dev-workflow-team

[2019-05-19 19:28] seanlip opened #6766 "Webpack hangs the first time it's run on a branch, but starts OK the second time"
**Describe the bug**

(I've run into this issue a couple of times, but I don't think it's related to #6765.)

In general, webpack works for me (Ubuntu Linux). However, the first time I run start.sh, it does a lot of stuff and prints to the terminal logs that end with the following:

[code]

And then it just hangs. When I go to localhost:8181 the server can't be found.

However, when I then do Ctrl

[2019-05-19 19:32] seanlip commented on #6765
Just wanted to mention that I do see this issue on my Linux system, but it does not block installation/starting. This is what the log looks like for me:

[code]

@vojtechjelinek should we be using a different version of webpack in package.json to ensure compatibility with karma-webpack? (Or is this something we should [file as an issue](https://github.com/webpack-contrib/karma-webpack/issues) on t

[2019-05-19 20:28] DubeySandeep commented on #6550
@manyaagarwal, @ShubhamBansal1997, @Kree3, any update on assigned part of this issue? FYI, @lilithxxx is trying to close this issue asap so it would be great if you can create a PR on the assigned part by 25th May otherwise @lilthix will go ahead and fix your part as well. It's okay if you won't be able to work on this right now but do let us know either way! We can help you find another starter i

[2019-05-19 20:36] DubeySandeep commented on #6550
### Message for new contributor landed on this issue from any source (guided by your mentor in past or have seen this issue in the wiki page):

This entire issue is being assigned to @lilithxxx as he is working on migrating python 2 --> python 3 and initially, he is working on making 100% backend test coverage and this need to be done quickly!

You can find a list of similar issues in the wiki pag

[2019-05-19 21:09] MLA98 commented on #6550
@DubeySandeep  Will there be some more backend starter projects? I would like to do the backend.

[2019-05-19 22:49] DubeySandeep commented on #6662
@lilithxxx, Can this be closed?

[2019-05-19 22:53] lilithxxx commented on #6662
Yep I think so. Closing this by #6587

[2019-05-19 22:53] #6662 closed, assigned to nobody

[2019-05-19 23:05] DubeySandeep commented on #6550
Hi @MLA98, Once you are done with writing the test you can find the following backend related issues simple and good to start with: #6271, #5813, #6215, #5886 (more [here](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3Abackend))

Also, the "Community contribution" team is working on implementing the backend structure for the project so once you are onboarded you can join the

[2019-05-20 00:20] sstone-codaio commented on #6765
For me, trying to run start.sh actually spits out "npm ERR! peer dep missing: webpack@^2.0.0 || ^3.0.0, required by karma-webpack@3.0.5" and exits.

[2019-05-20 11:53] Showtim3 commented on #6690
@amey-kudari can you help me run oppia in my system? I'd like to help with this issue.
`  bash scripts/start.sh
`
This is what i get after running the command above.
![image](https://user-images.githubusercontent.com/30312043/58019772-f1a98000-7b23-11e9-92ba-ca5d4462e90c.png)

[2019-05-20 14:39] amey-kudari commented on #6690
Hi @Showtim3 !
Yeah Sure, take this issue up. For the error, did you run this before?
[code]
Try doing that, and if you still get an error, try installing on a virtual environment, (that is what I do).

[2019-05-20 15:49] vinitamurthi commented on #6765
Hi, I've removed all of it and got these errors:
npm ERR! missing: @types/node@10.14.6, required by @types/vfile@3.0.2
npm ERR! missing: @types/node@10.14.6, required by @types/vfile-message@1.0.1
npm ERR! missing: @types/node@10.14.6, required by @types/glob@7.1.1

So I tried to install node 10.14.6, but the script downloads 10.15.3 and then I get these errors again. Is there any idea on what I c

[2019-05-20 15:55] NishealJ commented on #6765
Hi @vinitamurthi, installing node 10.15.3 is correct.
Can you please remove package-lock.json manually and then try running start.sh.
Also update us what error you get next, in our gitter channel.
Thanks!

[2019-05-20 16:05] Showtim3 commented on #6690
@amey-kudari

Hey thanks no errors now
I did
`bash scripts/install_prerequisites.sh
`
then
`bash scripts/start.sh
`
but i am getting this now,
![image](https://user-images.githubusercontent.com/30312043/58035739-0cd9b700-7b47-11e9-9e87-3cecf2af0331.png)
Is it running now? Is there a specific port where it runs, like localhost:3000?

[2019-05-20 16:52] amey-kudari commented on #6690
Yeah It appears to be running, and I think it opens on localhost:8181. I just pulled develop changes and checked, it isnt working for me either. I will check and get back to you. Meanwhile, you can ask about this on the gitter channel [[link](https://gitter.im/oppia/oppia-chat)]

[2019-05-20 17:20] vinitamurthi commented on #6765
That worked thanks @NishealJ !
Also, If anyone is getting the "npm ERR! peer dep missing: webpack@^2.0.0 || ^3.0.0, required by karma-webpack@3.0.5"
This is what I found - webpack-contrib/karma-webpack#358

Running the command:
`npm i -D karma-webpack@next`
worked for me

[2019-05-20 17:35] Showtim3 commented on #6690
@amey-kudari alright i asked about it on the gitter channel. Let me know if you find something.
Thanks!

[2019-05-20 17:48] NishealJ commented on #6765
@vinitamurthi yes, upgrading karma-webpack to its latest version i.e `4.0.0-rc.6` solves the issue.
The commands karma-webpack@next also does the same.

[2019-05-20 18:20] vinitamurthi commented on #6766
(This happens for me as well: Mac OS Mojave 10.14.4)

[2019-05-20 19:39] seanlip commented on #6765
Ah ok, so should we update the listing in package.json?

[2019-05-21 01:41] seanlip commented on #6736
FYI I remember reading something that might be related when trying to debug #6769. Adding it here in case it might be useful: https://github.com/npm/npm/issues/19393#issuecomment-359848898

[2019-05-21 06:51] NishealJ commented on #6765
Hi @seanlip, yes we need to update the version in package.json.
Also, @sophiewu6  & @sshou14 did the command work for you?

[2019-05-21 07:12] sstone-codaio commented on #6765
Yes, that worked for me!

[2019-05-21 18:08] dchen97 opened #6771 "Asset Minification for Search Engine Optimization"
**Is your feature request related to a problem? Please describe.**
Further minification of the following files so that we can improve Search Engine Optimization performance:
- https://www.oppia.org/build/assets/constants.635911f643c01a1c97d64630fb52b9b8.js
- https://www.oppia.org/build/assets/rich_text_components_definitions.124f5ab65cb51255cebb7b51b2704010.js
- https://www.oppia.org/third_party/s

[2019-05-21 18:12] dchen97 opened #6772 "Removing Underscores from URLs for SEO"
**Is your feature request related to a problem? Please describe.**
If possible underscores should be avoided within a URL. These URLs should be replaced with Hyphens if possible. The underscores make it harder for the search engine to determine site relevance to the searched.

**Describe the solution you'd like**
Navigate to any website URL like https://www.oppia.org/creator_dashboard?mode=create

[2019-05-21 18:14] dchen97 opened #6773 "Consolidate Duplicate Index Pages for SEO"
**Is your feature request related to a problem? Please describe.**
Right now, search engines see https://www.oppia.org and https://www.oppia.org/index.html (or https://www.oppia.org/index.php) as different pages.

**Describe the solution you'd like**
Development team to review and to consolidate duplicate URLs use Google article and the guide below.
https://support.google.com/webmasters/answer/139

[2019-05-21 18:18] seanlip commented on #6773
@dchen97 We don't have an index.html page on Oppia (the second link 404s). Did you mean to write something else?

[2019-05-21 18:24] dchen97 commented on #6773
Hmm this was just what I have from Asma's SEO spreadsheet. I'm not sure if this is necessary then.

[2019-05-21 22:52] DubeySandeep opened #6776 "Community dashboard showing opportunities for contributors in different field"
Create the basic page for the community dashboard project which can show opportunities to contributors in different fields:

- [ ] Create the backend API structure for the dashboard page and opportunities list.

- [ ] Create the UI for contributors to see the list of opportunities which they can contribute.

[2019-05-21 23:11] DubeySandeep commented on #6684
Closing this issue as it's not required anymore! (In future, artists can contribute through the community dashboard page.)

[2019-05-21 23:11] #6684 closed, assigned to nobody

[2019-05-21 23:15] mzaman07 opened #6777 "Pressing R should only prompt for microphone in translation tab."
**Describe the bug**
When you create an exploration and reach the translation tab. Once you navigate out of the translation tab to another tab, then press the R button. The microphone access will be prompted by the browser. Found this while fixing #6708, when I was trying to [test](https://github.com/oppia/oppia/pull/6708#issuecomment-490227892) and refreshing my tab with the keyboard shortcut . A

[2019-05-22 02:11] brianrodri commented on #6067
Hmm I really don't like the idea of disallowing named positional args. The worst they do is add some overhead, the best is far more readable code. If anything, we should add checks to ensure that the kwargs are using the right names.

I don't see a reason to follow through with this besides following pylint's example, which I feel is a mistake. Any thoughts @seanlip @lilithxxx?

A good argument fo

[2019-05-22 10:10] rahgurung commented on #6754
This can be helpful: https://github.com/skorokithakis/tbvaccine/

[2019-05-22 11:40] vojtechjelinek commented on #6758
Hi, this is weird I can't understand how can the `/build/templates/head/components/promo/promo_bar_directive.7f2414b8e114c95b190542bf42985993.html`  be interpreted as an insecure URL.

Did this happen just once? And also is promo bar enabled in production right now?

[2019-05-22 16:55] #6278 closed, assigned to nobody

[2019-05-22 18:14] seanlip commented on #6758
I'll need to defer to @nithusha21 for the first question, but I can confirm that the promo bar isn't currently enabled in production and hasn't been for a while.

[2019-05-22 19:26] seanlip commented on #6067
For large codebases like this one with many new contributors, I think it is helpful to have standardized conventions. So there are two possibilities: (a) enforce names for all positional args, (b) disallow names for all positional args. I think "allow it but not consistently" isn't really a convention, and would prefer not to go that route.

Personally I don't think adding additional named positio

[2019-05-22 19:27] vinitamurthi opened #6779 "Correctness banner is slightly offset to the right in the question player"
**Describe the bug**
In the question player, when an answer is correct a banner shows up that says 'Correct!' but is slightly offset to the right. We would like to keep it central to the screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic and question
 2. Go to practice_session/<TopicName>
 3. Answer the question correctly

**Observed behavior**
The 'Correct' banner comes

[2019-05-22 19:28] vinitamurthi commented on #6779
This was introduced in the PR #6692

[2019-05-23 06:13] seanlip commented on #6766
I have an update on this. @vinitamurthi mentioned to me today that it happens after doing "git branch", and @DubeySandeep mentioned that it happens after doing "git pull".

I have a feeling that this might be due to webpack not detecting changes that were due to a git command being run.

@vojtechjelinek, any thoughts on this?

[2019-05-23 06:30] DubeySandeep opened #6785 "Uploading image in RTE throws error in console"
**Steps to reproduce:**

1. Create exploration.
2. Upload image in the state content.
3. Check the console log.

**Additional info:**
This issue introduced after #6752 because of [this line](
https://github.com/oppia/oppia/pull/6752/files#diff-a5879d83c8487774b9cbd237de0f441aR2) (not sure!). /cc @ankita240796

[2019-05-23 06:32] DubeySandeep commented on #6785
@ankita240796, can you please help us resolve this issue?

[2019-05-23 06:36] seanlip commented on #6785
@ankita240796 -- a general note, could you also please do some manual testing on the pages for which you've made changes? This is a fairly serious breakage to core functionality. Thanks!

[2019-05-23 06:58] vojtechjelinek commented on #6766
I will need to look into is, but don't have time until Monday. I can't think of anything right now.

[2019-05-23 08:37] MLA98 commented on #6271
@DubeySandeep  Hi, Could you assign me subtopic? Thanks!

[2019-05-23 11:16] ankita240796 commented on #6785
Sure, I will be careful with testing while making these changes.

[2019-05-23 13:12] #6686 closed, assigned to DubeySandeep

[2019-05-23 13:36] brianrodri commented on #6067
Hmm I've found the opposite experience, I find it frustrating *needing* to look up a function's definition (especially in tests/code reviews), and find having as much context at call sites more valuable than knowing whether we're overriding a keyword argument. This is especially true since I use vim, and don't use any plugins to look things up yet. Still, I don't feel like we should force writers

[2019-05-23 17:21] #6785 closed, assigned to ankita240796

[2019-05-23 19:47] seanlip commented on #6067
I think that's a reasonable proposal, although personally I still lean towards the current system. For reference I use Sublime Text which AFAIK doesn't have automatic code referencing (or much IDE functionality), but my workflow is basically Ctrl+Shift+F to see where the function is defined. (I'm fine doing this when reviewing too -- it helps to see the full docstring etc. for functions that I am

[2019-05-23 20:00] lilithxxx commented on #6067
I personally agree with @seanlip, I too go to the function definition and check out what it's doing. I am fine with the current workflow, but if you want to change the system it's fine too!

[2019-05-24 00:28] #6364 closed, assigned to YashJipkate

[2019-05-24 14:34] Showtim3 commented on #6690
@amey-kudari
Hey there. I have oppia running on my system but i am getting this error on console:
![image](https://user-images.githubusercontent.com/30312043/58335309-effef580-7e5e-11e9-8e53-4ebedb404518.png)

It seems like a pretty basic issue but i am not that familiar with angular js so i can't understand the solution.
Solution link : https://stackoverflow.com/questions/21045416/angular-js-unca

[2019-05-24 14:46] amey-kudari commented on #6690
Are you getting these errors on develop branch? if its on some other branch then push the changes and tell me the branch name I will check.
And did you update your fork with oppia:develop?

[2019-05-24 14:58] muarachmann commented on #6738
Hi @ankita240796 can i be assigned to this thanks

[2019-05-24 15:58] Showtim3 commented on #6690
I am on develop branch and yes i did update my fork by
`git pull upstream develop`
@amey-kudari

[2019-05-24 17:22] nithusha21 commented on #6758
Hi @vojtechjelinek it has happened 5 times so far. The most recent occurrence was 3 days back.

[2019-05-24 17:37] nithusha21 commented on #6702
This seems to occur when answer.latex is NaN (a similar issue occurred in submitAnswer() when answer.latex was not valid). We will add logging in the submitAnswer() case to see if we can draw any insights on that issue as well as this one.

[2019-05-24 17:37] muarachmann commented on #6772
@dchen97 this is very true. I am a newbie and saw something like `/get_started` i was surprised too. I would love to work on this feature across the repo can this be assigned to me please

[2019-05-24 17:41] muarachmann commented on #6772
@seanlip , @DubeySandeep is this confirmed to be changed? if yes i wold love to work on this.
Also found this interesting - https://www.ecreativeim.com/blog/index.php/2011/03/30/seo-basics-hyphen-or-underscore-for-seo-urls/

[2019-05-24 17:43] nithusha21 commented on #6622
That sounds right @DubeySandeep. It might be a condition where angular.element(idToScrollTo) doesn't find the element but then you chain the other functions on this, and it raises the error. @mzaman07 would you be able to add checks to prevent this from happening?

[2019-05-24 17:45] amey-kudari commented on #6690
If you are getting these error on develop, you have probably made some changes on your develop branch. I am not sure though, can you please make a pr with your changes? It will be easier for me to see what is happening that way.  (If it fails tests because of this, push it with --no-verify option)
 ( ``` git push branch-name --no-verify ```)

[2019-05-24 17:53] nithusha21 commented on #6621
Where do we initialize sessionStorage? Is it something that comes with Angular directly? https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/promo/PromoBarDirective.ts#L39 directly uses it, and I don't see it anywhere else in the codebase. If sessionStorage is not enabled, should we just return false (or something like that)?

Not sure of the best solution here, any help

[2019-05-24 18:03] Showtim3 commented on #6690
@amey-kudari do we have to install something for angular too? I have angular cli installed as i work with angular 6 and my OS is ubuntu
I tried to make a PR...
![image](https://user-images.githubusercontent.com/30312043/58347722-3ca4f980-7e7c-11e9-8fad-db5efe2fe54c.png)

[2019-05-24 18:12] #5950 closed, assigned to nobody

[2019-05-24 18:47] dchen97 opened #6792 "Adding Exploration Titles to Collection Landing Page"
**Is your feature request related to a problem? Please describe.**
Right now, our collection landing pages don't contain many keywords related to the explorations themselves, making these collections more difficult to find for related search terms in search engines and for our ads.

**Describe the solution you'd like**
I would like to add the exploration names to the collection landing pages (as s

[2019-05-24 18:49] muarachmann opened #6793 "Breadcrumbs in Oppia not working"
**Describe the bug**
Oppia offers a very nice interface for its users to navigate fluently across the app. One of these features includes a breadcrumb at its header tab. This unfortunately doesn't allow one navigate from one menu to another

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to create exploration and create a new exploration
 2. Click on exploration settings which opens the

[2019-05-24 18:50] amey-kudari commented on #6690
I do not think angular cli will cause errors for this, but I am not sure. I suggest you ask @ankita240796 about this.

[2019-05-24 19:02] dchen97 opened #6794 "Adding Lesson Topics to Lesson-Specific Landing Pages"
**Is your feature request related to a problem? Please describe.**
Currently, our lesson landing pages don't include many of the keywords related to the lessons themselves, which makes them more difficult to surface in searches and in our ads.

**Describe the solution you'd like**
I would like to add lesson topics/areas to the lesson landing page (as seen in the screenshot below). In mobile view,

[2019-05-24 19:29] apb7 commented on #6754
Hi @gurrrung, thanks for the issue. I am not sure if I prefer this: using a third party library to highlight errors. I think the error message should be clear in the sense that a dev can act on it without much ado. Furthermore, whenever there's such an error, I eventually go through the logs line by line. Nevertheless, this is just my opinion. Adding @oppia/dev-workflow-team to weigh in here. Than

[2019-05-24 20:13] seanlip commented on #6793
Actually, this is still the exploration page, just in the Settings "tab" of the exploration. There isn't really a page above this that corresponds to "Biology 101" with no tab, so I'm not sure which page we would redirect to when the user clicks "Biology 101". (The default view is the "Biology 101 > Edit" tab, though it could sometimes be the "Biology 101 > Feedback" tab if there are new updates f

[2019-05-24 20:14] seanlip commented on #6793
So, I think this needs a bit of clarification -- what do you mean by "bring you back to the exploration" (and, given the explanation above, does this change your thoughts?)

[2019-05-24 20:18] seanlip commented on #6772
I think the change sounds fine to me, but could we start by compiling a full list of the affected pages in this issue, just to make sure that we aren't breaking any URLs that are likely to be automatically directly accessed? Thanks!

[2019-05-24 20:22] seanlip commented on #6621
Looks like sessionStorage is defined on window -- it's a standard JavaScript API: https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

I think checking for its existence is a good idea and we can just assume that the value is false if sessionStorage doesn't exist. We should also do a similar check when setPromoDismissed() is called (and add a comment to explain).

Also, I think

[2019-05-24 21:42] muarachmann commented on #6772
Sure i could make a doc for that and share it here.

[2019-05-24 21:49] seanlip commented on #6772
Sounds good, thanks. Though I think just writing them in a comment is probably fine, it's probably not a very long list.

[2019-05-24 22:04] muarachmann commented on #6793
Yeah @seanlip you are right. Checked and not see some other breadcrumb higher than three in oppia
closing this if you permit

[2019-05-24 22:07] muarachmann commented on #6772
Okay then will comment them here.  Wow oppia is great. I love its features especially the audio stuff is mind blowing. hope i get to know the codebase gradually. Thanks

[2019-05-24 22:07] seanlip commented on #6793
Sure, we can close it. Thank you for checking @muarachmann!

[2019-05-24 22:07] #6793 closed, assigned to nobody

[2019-05-24 22:16] seanlip commented on #6773
Hm, would you mind following up with her? (Just in case it's an actual thing we should fix and we're misinterpreting it.)

One example I can think of is perhaps www.oppia.org and www.oppia.org/splash. For cases like this, do you have any suggestion for which of these should be canonical? (I can probably do the fix given that information, I did something similar for the www/non-www issue.) Also, ar

[2019-05-24 23:47] dchen97 commented on #6773
Will do!

On Fri, May 24, 2019, 5:16 PM Sean Lip <notifications@github.com> wrote:

[2019-05-25 00:05] seanlip commented on #6737
Ah, we do have an audit job, and it has been run. I've sent a follow-up email with the details. I think some models might be missing, so maybe we need to regenerate them.

[2019-05-25 06:00] ankita240796 commented on #6621
Hi @seanlip, typescript does not raise an error if we are using a valid global variable of browser. [Here](https://github.com/Microsoft/TypeScript/issues/14306) is a similar issue. To prevent this, I think we can add the [restricted-globals](https://www.npmjs.com/package/eslint-restricted-globals) rule to eslint. Thanks!

[2019-05-25 06:12] apb7 commented on #6159
Hi @nithusha21 and @rafalk342, just checking in -- what progress has been made wrt this issue? Thanks!

[2019-05-25 07:27] seanlip commented on #6621
Sounds good, let's do that then. Would you mind filing an issue and taking it up?

Thanks!

[2019-05-25 10:02] YashJipkate commented on #6754
Yes @apb7 I too agree with your suggestion. Also adding more third parties would mean more to look for compatibility while upgrading other dependent libraries.
Thanks.

[2019-05-25 18:50] Showtim3 commented on #6690
@amey-kudari i finally got it working. Can you point out while file should i work with?

[2019-05-25 19:29] amey-kudari commented on #6690
Great! The file, I just checked, it is this one
core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html

[2019-05-25 19:45] ankita240796 opened #6799 "Add eslint-restricted-globals rule"
Add [eslint-restricted-globals](https://www.npmjs.com/package/eslint-restricted-globals) rule to prevent direct usage of globals in codebase.

Ref #6621

[2019-05-25 19:45] ankita240796 commented on #6621
Done @seanlip!

[2019-05-25 20:11] DubeySandeep commented on #6683
I'm opening this issue as the 1st part of this issue isn't resolved.

[2019-05-25 22:25] muarachmann commented on #4057
Hi @bansalnitish i would love to begin here `AudioPlayerService.js` can it be assigned to me thanks

[2019-05-25 22:40] DubeySandeep commented on #4057
@muarachmann, I've assigned you to  `AudioPlayerService.js`, you can start working on it! :)

/cc @bansalnitish

[2019-05-25 22:44] DubeySandeep commented on #4057
Unassigned @Dharmesh-Poddar, @sjkadali because of lack of activity.

@siddhantkhandelwal, any update on the assigned issue?

[2019-05-25 22:53] muarachmann commented on #4057
Errrr my handler is muarachmann not @mauriciofauth :) --The assigned file above

[2019-05-26 00:21] DubeySandeep commented on #4057
@muarachmann, Oops, I've fixed it!

[2019-05-26 11:17] anmolshkl commented on #6349
@kevinlee12 @seanlip can we please prioritise this for the next release? This issue has made editing/creating feedbacks a huge pain and I almost always have to re-do the feedback :(

[2019-05-26 14:14] brianrodri commented on #6067
Sorry, not sure you mean by current system. Does that mean to say we are already disallowing names for positional args?

If we don't want to make any changes, I'd rather we just close this issue since I'm still strongly against removing the feature. If anything I think we should change this to "make sure named arguments are using the correct name".

[2019-05-26 18:00] kevinlee12 commented on #6349
I agree with @anmolshkl

@jamesgeorge007, how is this coming along?

[2019-05-26 18:07] jamesgeorge007 commented on #6349
I have been busy these days with couple of my personal projects, and wasn't
able to look into this.

On Sun, 26 May 2019, 23:30 Kevin Lee, <notifications@github.com> wrote:

[2019-05-26 19:29] seanlip commented on #6067
Yes, we are already disallowing names for positional args, but informally through code review (pretty much as long as this codebase has been around). This issue is just converting this to an automatic lint check instead.

[2019-05-26 19:31] lilithxxx commented on #6067
So @seanlip @brianrodri what conclusion can be drawn here?

[2019-05-26 19:40] seanlip commented on #6067
I think the question is not so much what to do with this issue, as what style standard the codebase should follow. Historically, we have been going with disallowing names for positional args, but only in code review. The reason this hasn't come up recently is because infractions happen only very rarely.

We need to decide whether to continue doing that or not. It seems to me like:
- @brianrodri pr

[2019-05-26 19:48] ankita240796 commented on #6726
Hi @sshou14, I will be doing this work in my initial PR. So, feel free to de-assign yourself if you have not started working on this yet. Thanks!

[2019-05-26 20:16] anubhavsinha98 commented on #6067
Hi @seanlip, @brianrodri & @lilithxxx I went through all the suggestions in the thread. I think we should continue with the current system, as I also go to the function definition and check what's actually going on there. These are my opinions.

[2019-05-26 21:50] sophiewu6 commented on #6766
This problem was solved for me last week after installing a new version of webpack, but it happens again today.

[2019-05-27 01:42] DubeySandeep commented on #6271
Hi @MLA98, I've assigned you to the `subtopic` part of this issue.

/cc @nithusha21 (mentor)

[2019-05-27 08:02] apb7 commented on #6067
Hi everyone, weighing in here, I prefer the current system where we mandate to name keyword arguments during a function call. Regarding naming positional arguments, I agree with @brianrodri -- they tend to increase readability at some places, for example, [here](https://github.com/oppia/oppia/pull/6761#discussion_r285389692) and [these guidelines](https://github.com/oppia/oppia/issues/6067#issueco

[2019-05-27 16:19] sstone-codaio commented on #6726
Thanks for taking this!

[2019-05-27 17:54] ankita240796 commented on #6726
You're welcome @sshou14!

[2019-05-27 19:00] seanlip opened #6805 "We should have a wiki page explaining how webpack works in Oppia."
(This was originally suggested by @vinitamurthi)

It would help developers to have a wiki page that helps developers understand, in a quick and easy way, how Webpack is used in the Oppia codebase. The page should include things like the following:
  - A brief intro to webpack
  - Where is the tmp dir that webpack is picking stuff up from (how do you debug failing Jasmine tests where some lines in

[2019-05-27 19:05] seanlip opened #6806 "Regressions in the Oppia navbars"
**Describe the bug**
The navbars in Oppia have some display/formatting issues which arose in the May release and which should be fixed.

Developers: please make sure to bisect the commit history to find out which commit introduced these issues, so that we can undo the corresponding changes cleanly. It would be helpful to include links to those commits in this issue thread.

**To Reproduce**
Steps

[2019-05-27 19:05] seanlip commented on #6806
/cc @vojtechjelinek @nithusha21

[2019-05-27 20:09] vojtechjelinek commented on #1382
@ankita240796 Do you still work on this?

[2019-05-28 00:24] #6500 closed, assigned to bansalnitish

[2019-05-28 12:53] DubeySandeep commented on #6806
@seanlip, we have a similar issue at #6683, can we close one of these issues?

[2019-05-28 14:57] ankita240796 commented on #1382
No @vojtechjelinek, a bit busy right now. Will take this up later, Thanks!

[2019-05-28 18:17] bansalnitish commented on #6298
Steps of Reproduction:

1. Create an exploration and add text input as first state. Add some response to this which directs to 2nd card which is end state.
2. Now go to preview mode.
3. Add some wrong answer to text input, click on submit and while the response is loading click on restart from beginning option. The error can be then seen in the console.

[2019-05-28 19:29] seanlip commented on #6806
Hm, I think they're different. One is for the navbar and the other is for the "social icons" in the creator dashboard. So I think we should keep both open.

[2019-05-28 20:45] vojtechjelinek commented on #6806
Hi I have looked for PRs that are older than 28 days because of that's when #6683 was created and found #6554 which adds new rules for `ul, ol` in css, that is probably the root cause.

[2019-05-28 20:45] vojtechjelinek commented on #6683
Hi I have looked for PRs that are older than 28 days because of that's when #6683 was created and found #6554 which adds new rules for `ul, ol` in css, that is probably the root cause.

[2019-05-28 21:39] seanlip commented on #6683
Ah, that's a great find, thanks @vojtechjelinek!

@bansalnitish could you look into this please? Also /cc @ankita240796.

[2019-05-28 22:47] DubeySandeep commented on #6806
@seanlip, the social icon part of #6683 issue is resolved in #6759 but the 1st part of that issue (navbar orientation) isn't resolved yet!

[2019-05-28 22:48] vinitamurthi commented on #6805
This might be useful:
Frontend tests tend to fail sometimes with random errors (usually I have noticed this when I am switching branches, fetching and merging the upstream/develop branch etc). In this case, the best thing to do is to delete the local_compiled_js/ directory and restart a local stack so that a new local_compiled_js directory is created.

[2019-05-29 05:48] seanlip commented on #6806
Oh I see, thanks! Yep, let's close #6683 then. Thanks!

[2019-05-29 05:49] #6683 closed, assigned to nobody

[2019-05-29 05:49] seanlip commented on #6683
Closing -- superseded by #6806

[2019-05-29 05:50] seanlip commented on #6806
@bansalnitish, could you work with @vibhor98 to look into this please (per @vojtechjelinek's comment)? We might have to revert the old PR and find another way to fix the issue it was meant to fix.

[2019-05-29 12:49] vojtechjelinek commented on #6736
@seanlip What should be our policy regarding reviewing PRs with changes to _package-lock.json_ without changes to _package.json_? Tell the developer not to commit changes to the _package-lock.json_?

[2019-05-29 16:45] vojtechjelinek commented on #6805
@seanlip I have created the wiki page PTAL https://github.com/oppia/oppia/wiki/Webpack

[2019-05-29 18:50] #6331 closed, assigned to nobody

[2019-05-29 18:59] seanlip commented on #6805
Looks great to me, thanks @vojtechjelinek!

@vinitamurthi, would you mind reviewing the page too? Also @vojtechjelinek could you please add it to the sidebar?

Thanks!

[2019-05-29 19:01] seanlip commented on #6736
I think we should do a checkout of package-lock.json (so, yep, basically what you said).

The churn in package-lock.json unfortunately does not seem resolvable because the fsevents dependency is required on Mac but removed on Linux. This seems to be an open issue on npm that has a very long comment thread and that still has not been resolved (see @DubeySandeep's link in the original comment on thi

[2019-05-30 15:11] vinitamurthi commented on #6805
Looks great! Thanks @vojtechjelinek!

[2019-05-30 17:13] apb7 opened #6821 "Karma coverage reports do not show any frontend files"
**Describe the bug**
I was investigating the sudden increase in the [coverage of the code base](https://codecov.io/gh/oppia/oppia) reported by codecov (it went from 45% to 95%) and found out that the karma coverage reports are empty, that is, they do not show any frontend files. Therefore, the frontend coverage is reported as 100% (with no files to cover) and codecov effectively reports the backen

[2019-05-30 19:32] lilithxxx commented on #6067
After discussing with @oppia/dev-workflow-team its been decided to go with the current system, i.e disallowing names for positional args. This is currently being done via code review and thus this issue still remains open to add an automated check for the same.

[2019-05-30 20:20] schezfaz opened #6823 "Typographical and Image Alignment Error on Oppia's Wiki"
**Describe the bug**
An Oppia Wiki page: _**Oppia UX guidelines & rationales**_ found at [https://github.com/oppia/oppia/wiki/Oppia-UX-guidelines-&-rationales](url) has two minor bugs.

The third pattern descibed for modal closing, and subsection _3_. _"Modals which doesn't have a close button"_, has 2 bugs present within it. They are as follows:

1.  **Typographical:** The subtitle reads, _"Modal

[2019-05-30 20:57] #6565 closed, assigned to jameesjohn

[2019-05-30 21:09] varun-tandon commented on #6240
@DubeySandeep can you please remove me from preferences.js?

Thanks!

[2019-05-30 21:22] #6690 closed, assigned to nobody

[2019-05-31 00:42] DubeySandeep commented on #6240
@varun-tandon, Thanks for the update, I've unassigned you from `preferences.js` part of this issue.

[2019-05-31 08:06] jamesgeorge007 commented on #6349
@kevinlee12 I'm busy with couple of my personal projects. Maybe someone could take this up :+1:

[2019-05-31 11:37] Showtim3 commented on #6792
@import-keshav @dchen97 I'd like to work on this. But i'll be needing a lot of help as i don't have much much knowledge of the oppia codebase. But my logic building, web development skills and angular 2+ is strong. Can you help me out on where to start as this sounds like a nice new addition to oppia and will also help me get familiar with the codebase.

[2019-05-31 12:11] import-keshav commented on #6792
Hello @Showtim3. First of all, i will suggest that you should himself investigate on it. I remember I have told you about the file to debug in your last issue also (not sure about the last issue, but issue where we both have a conversation).
One of the main motives for contributing to open source is to how to tackle the big unknown codebase.
Everyone here as started as zero knowledge with the code

[2019-05-31 15:32] Showtim3 commented on #6792
@import-keshav oh okay brother. I totally agree with you. Thanks!

[2019-05-31 16:39] kevinlee12 commented on #6349
Sounds good, thanks for letting us know!

[2019-05-31 19:59] #6805 closed, assigned to vojtechjelinek

[2019-06-01 03:43] DubeySandeep commented on #6707
@Dharmesh-Poddar, any update on this issue?

[2019-06-01 03:46] DubeySandeep commented on #4057
Assigned @mertdeg2 to ExpressionSyntaxTreeService.ts

[2019-06-01 04:19] DubeySandeep commented on #6394
@Dharmesh-Poddar, any update on this issue?

[2019-06-01 04:21] DubeySandeep commented on #6806
Found similar issue for the collection editor navbar at #6394.

[2019-06-01 05:52] DubeySandeep commented on #6823
@schezfaz, Thanks for reporting, I've fixed the issue stated above, can you please check and see if it's fine now? Thanks!

[2019-06-01 06:12] Dharmesh-Poddar commented on #6707
@DubeySandeep  I was getting issue at some small screen sizes

[2019-06-01 18:14] kevinlee12 opened #6832 "Image Interaction does not show"
**Describe the bug**
When loading the Solar System exploration, the image interaction does not show.

**To Reproduce**
Steps to reproduce the behavior:
 1. Load the Solar System exploration via the admin page.
 1. Go to the Solar System exploration.

**Observed behavior**
The image interaction does not show.

**Expected behavior**
The image interaction should appear.

**Screenshots**
![image](http

[2019-06-01 18:17] seanlip commented on #6832
/cc @ankita240796 @YashJipkate

[2019-06-01 22:29] #5627 closed, assigned to mzaman07

[2019-06-01 22:29] #6388 closed, assigned to nobody

[2019-06-01 22:30] #6548 closed, assigned to sophiewu6

[2019-06-02 04:14] seanlip commented on #6766
Hi @vojtechjelinek, just flagging this, in case you are able to investigate? A lot of people seem to be running into this (and just waiting 15+ minutes for the script to actually start).

Thanks!

[2019-06-02 05:51] import-keshav commented on #6792
Hello @Showtim3 are you able to solve the issue? Feel free to ask anything, we are happy to help you :)

[2019-06-02 08:34] import-keshav commented on #6707
Hello, @Dharmesh-Poddar can you please share your issue, so that we can to help you.
Thanks!

[2019-06-02 09:49] Showtim3 commented on #6792
@import-keshav I am working on that. The thing is i am unable to open this particular page locally. I have created an exploration but as soon as i click on it it jumps straight to the question and not this overview page. I have tried both locally while being logged and and logged out.

[2019-06-02 10:47] import-keshav commented on #6792
No problem see,
**Steps to see this page**
1) start oppia and Sign in as Administrator.
2) Go to the admin page (option available in profile dropdown menu)
![Screenshot from 2019-06-02 16-06-53](https://user-images.githubusercontent.com/34139754/58760103-0557dc00-8551-11e9-8540-dceb89bb5ffd.png)
3) Go to roles section,
![Screenshot from 2019-06-02 16-08-26](https://user-images.githubusercontent.co

[2019-06-02 16:17] Showtim3 commented on #6792
@import-keshav hey i did as you instructed and i am getting a little 'a' icon too on the navbar which probably signifies i have admin rights but still when i click on an exploration it take me straight to the questions.

![image](https://user-images.githubusercontent.com/30312043/58763992-bd03e280-857f-11e9-9be8-e8b74b58b4d3.png)

[2019-06-02 18:35] vojtechjelinek commented on #6766
- [x] Send an email to `oppia-dev` about this asking if this happens also in some different cases than `git` commands.
- [ ] Try to find some quick and dirty solution to this.

[2019-06-02 19:34] #6806 closed, assigned to nobody

[2019-06-02 19:38] vibhor98 commented on #6394
This issue has been resolved in PR #6820. Closing this issue, thanks!

[2019-06-02 19:38] #6394 closed, assigned to nobody

[2019-06-03 09:08] import-keshav opened #6841 "Misaligment of Card View Button Icons"
There is a misalignment of card view button icons. Icons should be at the center of the button but they are below by some pixels from the center.

**Steps To Reproduce**
 1. Create Explorations.
 2. Go to the creator dashboard page.
 3. You will see the misalignment of icons on the card view button.

**Expected behavior**
Icons should be at the center of the button.

**Screenshots**
![Screenshot f

[2019-06-03 09:20] muarachmann commented on #6772
Began identifying the routes that needs to be replaced with hyphens instead of underscores. A list of them below (ones i have seen)

| Present route  | Modified route |
| ------------- | ------------- |
| get_started  | get-started  |
| creator_dashboard  | creator-dashboard |
| learner_dashboard | learner-dashboard |
| notifications_dashboard | notifications-dashboard |

[2019-06-03 12:18] schezfaz commented on #6823
Works! Thankyou!

[2019-06-03 12:56] #6823 closed, assigned to nobody

[2019-06-03 23:46] #6832 closed, assigned to ankita240796

[2019-06-04 05:59] PiyushBhangale commented on #6271
@DubeySandeep Hey can you assign me any of the subtask ?

[2019-06-04 06:02] PiyushBhangale commented on #6271
@DubeySandeep Can you assign me the State part ? Thanks

[2019-06-04 06:02] DubeySandeep commented on #6271
Hi @PiyushBhangale, would you mind filling up the contribution survey form (asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up))? Once done you can start with the `question` part of this issue. Thanks! :)

[2019-06-04 06:03] DubeySandeep commented on #6271
@suicide11, any update on this issue?

[2019-06-04 06:10] PiyushBhangale commented on #6271
@DubeySandeep Done with the survey.

[2019-06-04 20:29] vojtechjelinek commented on #6766
Hi, we have created a form to gather more data about this problem, [please fill it out](https://forms.gle/Y8VGTb6LmsZpTniz8).

[2019-06-05 01:28] DubeySandeep commented on #6794
[code]
@dchen97, is this the final structure which we want to achieve?
Few questions:
- In row two the grey background has black text color (left aligned) whereas the new section is going to have a grey background with green text (center aligned)?
- Do we want these topics to be clickable?
- `and more` in the topics section will be of the same size as of topics text with a different color?

Also,

[2019-06-05 04:06] mzaman07 commented on #5747
I have given this issue some thought and I have a concept [here](https://docs.google.com/document/d/1iEKwetpgf4VOPV6TzGSyDUXVsjgznWnF1MJtZMQfDGM/edit?usp=sharing). It will be complicated, but this will make everything the same height relative to the largest tab.

[2019-06-05 13:37] dchen97 commented on #6794
Hi Sandeep - Thanks so much for putting this together.

- Yes, I was thinking of keeping the text center-aligned and a mix of green
and black text.
- No, the topics don't have to be clickable. More than anything, it's just
a preview of what's in the lesson itself.
- Yep - the "and more" will be the same size just in black.

Here's a picture of the prototype I've made:

[image: Desktop.png]

On Tue

[2019-06-05 14:13] jameesjohn opened #6847 "Use absolute path to require html files with webpack"
## Explanation
Currently, the template loader uses a relative path to require HTML files.
This issue aims at using an absolute path to require HTML files

[2019-06-05 23:44] seanlip commented on #6387
Deassigning @esyang97 due to lack of response.

[2019-06-05 23:44] seanlip commented on #6550
Deaassigning @esyang97 due to lack of response.

[2019-06-06 04:29] DubeySandeep opened #6851 "Unable to complete registration or create account on oppia"
**Describe the bug**
Users are unable to complete registration as the session expires very quickly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start server.
 2. On the registration page, provide a username and click anywhere.

**Observed behavior**
Unable to complete the registration as the session expires.

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/59

[2019-06-06 06:50] #6851 closed, assigned to seanlip

[2019-06-06 14:55] lilithxxx opened #6853 "Break each validation into its separate test function"
Break each validation case into a separate test function. Each validation should have its own test function. For example the validations are divided into 2 functions instead of being in a single function: [test_validation_algorithm_id](https://github.com/oppia/oppia/blob/d4807b80c573363fb75ab3f0d76436935cd2807b/core/domain/classifier_domain_test.py#L148) and [test_validation_data_schema_version](h

[2019-06-06 18:26] jacobdavis11 commented on #6779
@vinitamurthi how is this going?

[2019-06-06 18:27] jacobdavis11 commented on #6678
@ankita240796 how is this going?

[2019-06-06 18:28] jacobdavis11 commented on #6601
@anubhavsinha98 are you still planning to work on this?

[2019-06-06 18:28] jacobdavis11 commented on #6576
@sophiewu6 how is this going?

[2019-06-06 18:29] jacobdavis11 commented on #6497
@anubhavsinha98 how is this going?

[2019-06-06 18:30] jacobdavis11 commented on #6493
De-assigning; please re-assign if you'd still like to work on the issue.

[2019-06-06 18:31] jacobdavis11 commented on #6492
De-assigning; please re-assign if you're still planning to work on this.

[2019-06-06 18:31] jacobdavis11 commented on #6422
@NishealJ how is this going?

[2019-06-06 18:31] jacobdavis11 commented on #6361
@NishealJ how is this going?

[2019-06-06 18:33] jacobdavis11 commented on #6348
De-assigning for now; please re-assign if you plan to work on this.

[2019-06-06 18:34] jacobdavis11 commented on #6292
@ankita240796 are there any updates on this?

[2019-06-06 18:34] jacobdavis11 commented on #6232
@import-keshav are you still working on this?

[2019-06-06 18:35] jacobdavis11 commented on #6219
@bansalnitish are you still working on this?

[2019-06-06 18:35] jacobdavis11 commented on #6161
@bansalnitish how is this going?

[2019-06-06 18:36] jacobdavis11 commented on #6024
De-assigning for now; please re-assign to resume work.

[2019-06-06 18:36] jacobdavis11 commented on #5975
@pranavsid98 are you still working on this?

[2019-06-06 18:37] jacobdavis11 commented on #5854
@DubeySandeep are you still working on this?

[2019-06-06 18:37] jacobdavis11 commented on #5799
@brianrodri are you still working on this?

[2019-06-06 18:38] jacobdavis11 commented on #5726
@import-keshav are you still working on this?

[2019-06-06 18:38] jacobdavis11 commented on #5690
@tjiang11 are you still working on this?

[2019-06-06 18:39] jacobdavis11 commented on #4662
De-assigning for now; please re-assign to resume work.

[2019-06-06 18:40] DubeySandeep commented on #5854
@jacobdavis11, Thanks for checking. I'm closing this issue as it's resolved in #6566 and #6503.

[2019-06-06 18:40] #5854 closed, assigned to DubeySandeep

[2019-06-06 18:48] import-keshav commented on #5726
Hello, @jacobdavis11 I created a PR for this. And only some comments are pending to resolve. But since I am busy in my GSoC project so I leave it for now (closed the opened PR). Will come back to it and merge the PR ASAP.
thanks

[2019-06-06 18:49] import-keshav commented on #6232
Hello @jacobdavis11, i am not working on this.
If anyone wants to pick can pick it up.
How to tackle this issue is already discussed. Now we have to write code for it.

[2019-06-06 19:32] brianrodri commented on #5799
Hey yeah I am, trying to push out some more changes.

[2019-06-07 01:15] ankita240796 commented on #6678
Hi @jacobdavis11, currently I am working on milestone 1 of my GSoC project. I will be taking this up after the current release. Sorry for the delay.

[2019-06-07 01:16] ankita240796 commented on #6292
Hi @jacobdavis11, currently I am working on milestone 1 of my GSoC project. I will be taking this up after the current release. Sorry for the delay.

[2019-06-07 03:48] DubeySandeep commented on #6794
@dchen97, I cannot see any image, can you please re-upload it?

[2019-06-07 03:49] DubeySandeep commented on #6794
Also, do we have to include the Character name in the image? (without the character name Iwe can use the same image in all the different landing pages)

[2019-06-07 04:43] pranavsid98 commented on #5975
@jacobdavis11 Yep, I'll be providing an update by end of week.

[2019-06-07 07:38] muarachmann commented on #4057
@DubeySandeep , @seanlip please can you help me on how to create a mock of the AudioPlayerService api so i can load a sample audio the write the test efficiently.  I am stuck here ever since. Any pointers would be helpful thanks

[2019-06-07 07:43] muarachmann commented on #6772
@vojtechjelinek any other routes i need to modify. These are the ones i could see so far and would
love to begin the revamp if its ok by you :)

[2019-06-07 09:14] vojtechjelinek commented on #6772
@muarachmann Hey, this looks good, although I would be in favor of changing all the routes that use underscores to hyphens so that we have some consistency in our codebase. For example, there is https://github.com/oppia/oppia/blob/b19a920ce69501aee467cf4baf823b00cae82e1d/main.py#L358
But you can start with the ones you mentioned since these are the most important and then continue with the other o

[2019-06-07 09:56] seanlip commented on #6772
We should probably do it globally, actually, otherwise we end up with two conventions and that could be confusing. How about just changing all routes with underscores?

[2019-06-07 10:12] muarachmann commented on #6772
Sure, just that i didn't see the profile_pic stuff.I will try to browse the
repo again

On Fri, Jun 7, 2019 at 10:56 AM Sean Lip <notifications@github.com> wrote:

[2019-06-07 11:54] NishealJ commented on #6361
Hi @jacobdavis11,
This is a part of my GSoC'19 project and will be completed in the third milestone.
For the latest migration doc please visit [here](https://drive.google.com/open?id=1wqOCeHGaJCYOvqdM0_J0v3m_s9iT_oQCS0lAYp9x6zc) . Thanks!

[2019-06-07 11:59] NishealJ commented on #6422
Hi @jacobdavis11,
Sorry I didn't get much time to work on this.
Also, if anyone wants to work on this please feel free to notify and take this up.
Thanks!

[2019-06-07 15:17] DubeySandeep commented on #4057
Hi @muarachmann, You can look into existing Spec files such as `core/templates/dev/head/pages/collection_editor/CollectionEditorStateServiceSpec.ts`, `core/templates/dev/head/pages/exploration_editor/ExplorationDataServiceSpec.ts`, I hope you'll find these tests helpful. Ping me if it doesn't help you, I'll try a different way to explain this. :)

Thanks!

[2019-06-07 19:00] bansalnitish commented on #6219
I'm currently not working on this issue.

[2019-06-07 19:42] vojtechjelinek commented on #6766
`timeout 30 <webpack> || echo "Webpack timeout"` might work as a temporary solution, we just need to handle MacOS where the timeout command is not installed.

[2019-06-07 22:12] YashJipkate opened #6864 "Learner view suggestion modal does not show any data."
**Describe the bug**
The learner view suggestion modal does not show any data.

**To Reproduce**
Steps to reproduce the behavior:

 - create exploration
 - sign in as a different user
 - Give suggestion
 - go to learner dashboard
 - go to "Feedback Updates"
 - open the thread
 - See the bug. The timing says null and the modal does not provide any information.

**Observed behavior**
The modal does

[2019-06-07 22:18] dchen97 commented on #6794
<img width="1440" alt="Desktop (1)" src="https://user-images.githubusercontent.com/12034267/59136305-200ec400-8948-11e9-8ec5-68e2b29915dc.png">

No, I don't think we need to include the character name in the image. More than anything, it's just something to help fill in what would be empty space next to the topics.

[2019-06-07 23:01] seanlip commented on #6864
@nithusha21 this looks serious, could you PTAL?

[2019-06-07 23:01] seanlip commented on #6864
Marking as a blocking bug.

[2019-06-08 00:21] brianrodri opened #6866 "run_backend_tests is compiling typescript"
`run_backend_tests.sh` is building all of Oppia's typescript files before running the backend tests, which should not be necessary given that backend code is python-only. This significantly slows down testing time (factor of ~2 for each run).

**To Reproduce**
run `bash scripts/run_backend_tests.sh`

**Observed behavior**
All of Oppia is being compiled in typescript before any backend tests begin.

[2019-06-08 01:41] seanlip commented on #6866
/cc @DubeySandeep -- is this relevant to what you mentioned yesterday when we chatted?

@vojtechjelinek @ankita240796 would it be possible to do something about this?

(Also /cc @oppia/dev-workflow-team )

[2019-06-08 04:13] #6298 closed, assigned to bansalnitish

[2019-06-08 05:34] DubeySandeep commented on #6685
@import-keshav, I'm assigning this issue to you as you have already created a PR for this issue.

[2019-06-08 06:12] DubeySandeep commented on #6866
This issue was raised lately on gitter and got end with this reply:

If we need the compilation to happen for a few files, I would love to have a flag through which one can avoid the compilation steps as most of the time I use to run single test file/class (For which I know that these test doesn't need compilation.). This would really be helpful for developers.

[2019-06-08 06:24] DubeySandeep commented on #6271
Un-assigned  @suicide11 from this issue as per discssion on email.

[2019-06-08 06:46] brianrodri commented on #6866
We could also mock the required files/directory by placing dummies in the assets directory, then update the tests to point to them?

[2019-06-08 06:50] DubeySandeep opened #6867 "Allow editors to ask community to suggest images for their exploration."
An exploration owner/editor should be able to ask the community to suggest images for their (unpublished) exploration. These kinda exploration data should be viewable in the community dashboard so that contributors can create a suggestion.

Note: Need to think about whether we should allow the editor to disable this feature after they have enabled.

[2019-06-08 11:10] #6737 closed, assigned to nobody

[2019-06-08 11:42] DubeySandeep commented on #6794
![image](https://user-images.githubusercontent.com/16653571/58906737-32131b80-872a-11e9-8eaf-8d6d8eddcb28.png)
@dchen97 I've used the book image to fill the gap as for now, will that be fine? (see image above)

(I'll change the text color in the left to green)

[2019-06-08 12:50] yashdusing commented on #6867
@DubeySandeep If I wanted to get started with this issue, what all will be needed for the design doc ? Any suggestions on how to tackle the issue ? I'd like to contribute by solving the issue :D

[2019-06-08 17:28] ankita240796 commented on #6866
Yes, @DubeySandeep, I actually discussed this issue with @lilithxxx and we too felt adding a flag would be a good solution. I think we can go with the solution mentioned by @brianrodri as well but the issue would be to add a new file as dummy each time we need compilation for a newly created file. So, a flag seems better to me. What do you think @brianrodri @DubeySandeep?

[2019-06-08 17:31] brianrodri commented on #6866
Hmm, but wouldn't that mean new contributors have to remember to use the flag when testing those specific files? Maybe we should just check within the script if that specific test needs to run, and build typescript in such cases?

Also, do we really need to compile all of Oppia just for one backend test? That sounds pretty excessive to me, so I'd actually still prefer we just mock the files.

Why'

[2019-06-08 17:38] ankita240796 commented on #6866
I am not sure about how webpack works after compilation but it is possible to compile only some specific files with typescript - we do that in pre-commit lint as well. So, in backend tests as well, we can add a list of files which require compilation and only compile that list.

I meant that if we add a new ts file and we need to check the content inside it during backend tests, then we will need

[2019-06-08 17:43] brianrodri commented on #6866
Hmm, it's not clear to me why the backend test is responsible for compiling new files. We compile every single file anyway, so it makes more sense for the backend test to check that it *can* compile files, right? In that case, dummy file(s) with examples of errors we want to be caught makes more sense?

@vojtechjelinek, what do you think?

[2019-06-08 17:48] ankita240796 commented on #6866
I am sorry but I did not get this. Like for an example, we have tests for visualization_registry. In visualization_registry, there is a function which reads the content inside the visualization directives file. So, if we need to test this function, we will need the compiled js directive file. So, are you suggesting to have a mock compiled js directive file?

[2019-06-08 17:51] brianrodri commented on #6866
Yeah, it makes more sense to mock the compiled js directive files.

In other words: **the registry shouldn't care about how the js file was created**. After all, everything worked just fine before the typescript migration.

The test should only be concerned with checking that it can identify and load valid visualizations.

[2019-06-08 18:50] Showtim3 commented on #6792
@import-keshav @dchen97  hey i have been working on this issue. How does this look?
any suggestions?
![image](https://user-images.githubusercontent.com/30312043/59151186-5e8da700-8a4c-11e9-9000-3639b94a7130.png)

[2019-06-08 19:11] seanlip commented on #6866
I chatted with @ankita240796 about this. I think we shouldn't do mocking (because that causes skew), but should instead fix the backend tests to not rely on typescript/webpack compilation, and make that a rule for backend tests in general. If any tests are running based on the compiled files, we should change them to run based on the source files instead.

[2019-06-09 12:33] #6523 closed, assigned to brianrodri

[2019-06-09 12:41] import-keshav commented on #6792
Hello @Showtim3,
First of all sorry for the late response, and sorry for not responding to last 2nd comment. I forget about it.

While the work is good, but there need some changes, but I will suggest you open a PR and let's have a discussion on it. And let's see what others have views on it.

**Note :** Please test this on different screen size also, and add the screenshots on the PR.
Thanks

[2019-06-09 18:10] DubeySandeep commented on #6271
@MLA98, any update on this issue?

[2019-06-09 21:58] lilithxxx opened #6884 "Lisence link in the README file is broken: returns 404"

[2019-06-10 00:15] seanlip commented on #6884
Thanks @lilithxxx, filed #6886. PTAL!

[2019-06-10 00:54] vojtechjelinek commented on #6732
How to handle the subfolders of `/extensions`:

**ckeditor_plugins** (NOT needed for Yash):
The one and only `pre` plugin is loaded from `core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte.directive.ts` we just need to find out if we are able to pass the code by webpack.

**classifiers** (needed for Yash):
Classifiers are script-imported in `extensions/dependencies`, after whe hand

[2019-06-10 04:37] ankita240796 opened #6887 "Add a new section for prod validation jobs on Admin page"
PR #6857 add audit validation jobs for 9 of the storgae models. We need to add a new section on Admin page for these jobs instead of having them in the same section as other one off jobs.

[2019-06-10 04:39] ankita240796 opened #6888 "Run backend tests split on basis of test classes instead of files"
Running backend tests split on basis of files slows down the test when a single file has a lot of tests. So, these tests should be split on basis of test classes for better parallelisation. One such example of a long backend test is in #6857

[2019-06-10 06:36] #6884 closed, assigned to seanlip

[2019-06-10 08:35] DubeySandeep opened #6891 "[Test server] Unable to open suggestion modal from creator dashboard."
**Steps to reproduce**:
1. Create and publish an exploration from a/c X.
2. Create new a/c Y.
3. Start the newly created exploration and make a suggestion from a/c Y.
4. Go to creator dashboard from a/c Y.
5. Go to the suggestion tab.
6. Click `view suggestion` button and check the console.

![image](https://user-images.githubusercontent.com/16653571/59182783-360ac780-8b88-11e9-9369-01e476a3ca5e.p

[2019-06-10 08:36] DubeySandeep commented on #6891
@anubhavsinha98, Marking this as blocking bug. (We also have a similar issue produced from learner dashboard.)

[2019-06-10 08:58] YashJipkate commented on #6891
@DubeySandeep Have you tried deleting the `local_compiled_js` and started with a fresh build?
This error is not expected also since the E2E tests passed on this one and I checked this myself. The error shows that it is not able to find `ShowSuggestionModalForCreatorView` but there is no such controller now after #6859 went in.

[2019-06-10 09:45] DubeySandeep commented on #6891
@YashJipkate, I found this issue on testserver (mentioned in the issue title).

[2019-06-10 09:51] DubeySandeep commented on #6891
@YashJipkate: Are we expecting #6859 to be a part of the current release?

[2019-06-10 11:52] DubeySandeep opened #6893 "[Test server] Unable to accept or reject suggestion through exploration editor page."
**Steps to reproduce:**
1. Create and publish an exploration.
2. Create another account and suggest some changes in the exploration.
3. Go to the editor page of exploration and try accepting the suggestion.
4. Unable to accept the suggestion.

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/59193619-e934ea00-8ba3-11e9-9601-e66543e2ffab.png)

**Additional context:**

Sug

[2019-06-10 12:03] DubeySandeep opened #6894 "[Test server] Feedback content goes out of the provided space."
**Steps to reproduce:**
1. Create and publish an exploration.
2. Create another account and add feedback for the exploration. (with a long word, see image below)
3. Go to the editor page of exploration and try reading the feedback.

![image](https://user-images.githubusercontent.com/16653571/59194130-a07e3080-8ba5-11e9-88e4-42b756c5f092.png)

[2019-06-10 12:13] DubeySandeep opened #6895 "[Test server] Option for changing the status of feedback is not available."
**Steps to reproduce:**
1. Create and publish an exploration.
2. Create another account and add feedback for the exploration.
3. Go to the feedback tab of the editor page.
4. Unable to see the option to change the status of the feedback.

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/59194395-885ae100-8ba6-11e9-90cb-0a50317789c4.png)

**Expected behavior:**
![image](h

[2019-06-10 12:14] DubeySandeep commented on #6895
@nithusha21, can you please check whether you can also reproduce this issue? (Mark this as blocking bug if you can reproduce this issue.)

[2019-06-10 12:28] DubeySandeep opened #6897 "[Test server] Collection card UI doesn't looks as expected."
Steps to reproduce:
1. Create and publish a collection (follow this wiki page)
2. Go to the library page an check the collection card.

Collection card:
![image](https://user-images.githubusercontent.com/16653571/59194871-0b306b80-8ba8-11e9-9947-3bf0e2ced5dd.png)
![image](https://user-images.githubusercontent.com/16653571/59194900-256a4980-8ba8-11e9-821d-0001a0ec4f6f.png)
![image](https://user-ima

[2019-06-10 16:04] #6794 closed, assigned to DubeySandeep

[2019-06-10 18:21] DubeySandeep commented on #6853
@lilithxxx, Can you please add more details on this issue (As it's marked "good first issue")? Also, can you please replace the link with a permalink.

Link added above: https://github.com/oppia/oppia/blob/develop/core/domain/classifier_domain_test.py#L79

With this link line 79 will change in the future, so it would be great if you can use a permalink.
![image](https://user-images.githubuserconte

[2019-06-10 18:23] DubeySandeep commented on #6853
- Maybe a list of few files.
- Link to a test file where it's done correctly.
- Link to the "writing backend test guidelines" wiki page. etc.

[2019-06-10 18:34] DubeySandeep commented on #5412
@seanlip & @bansalnitish, We have documented this in the wiki page [here](https://github.com/oppia/oppia/wiki/Writing-state-migrations) in the 6th bullet. Can we close this issue?

[2019-06-10 18:41] bansalnitish commented on #5412
Yeah, we can close this.

[2019-06-10 19:26] #5412 closed, assigned to nobody

[2019-06-10 22:39] DubeySandeep opened #6901 "Create a content counter in the exploration model and use it to generate content_id"
Create a content counter in the exploration model and use this counter to generate the content_id for the exploration state contents (including hints feedback and solution content.)

Design doc: https://docs.google.com/document/d/1hxNBp8nGFBpKdWGe4Vw7KQjzRccSF5p4huuGiCdlPfY/edit#heading=h.vgt73e1iqw6y

[2019-06-10 22:48] DubeySandeep opened #6902 "All learner-facing content can have translations and voiceovers."
Currently, we only support voiceover and translation features for exploration content such as the card text, feedback, hints, and solution. To make the lessons more accessible to users we need to make all possible textual data translatable and voiceover.

This issue focuses on making Multiple choice, text input, and drag and drops interaction's text options translatable and voiceover.

- [ ] Makin

[2019-06-11 02:09] mzaman07 commented on #6901
Excellent, was wondering which model to make the change for. I was researching a bit more on the gae ndb keystore a bit. As we agreed in the meeting I'll take on this.

[2019-06-11 05:25] #6897 closed, assigned to nithusha21

[2019-06-11 05:25] seanlip commented on #6897
Fixed in #6872, I think. @DubeySandeep could you please verify?

Thanks!

[2019-06-11 13:23] alexewu commented on #6841
Already fixed in dev.
<img width="833" alt="Screen Shot 2019-06-11 at 9 23 15 AM" src="https://user-images.githubusercontent.com/35872018/59275571-92bebe80-8c2a-11e9-9714-faa843a88c4c.png">

[2019-06-11 13:33] import-keshav commented on #6841
Thanks @alexewu  for checking.
Did you check in firefox?
If yes, then please close it.
Thanks.

[2019-06-11 13:41] alexewu commented on #6841
Hi @import-keshav! I'm new to open source and was wondering if doing a pull request saying "Closes #6841" would close this issue.

Verified in firefox:
<img width="1680" alt="Screen Shot 2019-06-11 at 9 36 35 AM" src="https://user-images.githubusercontent.com/35872018/59276857-1b3e5e80-8c2d-11e9-9e2b-5c54fa3d7338.png">

[2019-06-11 14:27] import-keshav commented on #6841
Thanks, @alexewu for checking.
No, you didn't have to create a Pull Request.
Just comment on the issue why you were closing, and then just close it.

For now, I am closing this.
Thanks

[2019-06-11 14:27] #6841 closed, assigned to nobody

[2019-06-11 14:51] alexewu commented on #6695
Already fixed in dev:
<img width="1669" alt="Screen Shot 2019-06-11 at 10 45 35 AM" src="https://user-images.githubusercontent.com/35872018/59281932-192ccd80-8c36-11e9-9d14-d795cde1c876.png">

Don't know how to close issue though :0

[2019-06-11 14:51] alexewu commented on #6695
Closed #6695.

[2019-06-11 15:06] alexewu opened #6903 "Misaligned button and link in published modal"
**Describe the bug**
When you publish an exploration, the modal saying you published with the exploration link has misaligned elements.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Publish your exploration
 3. When you finish, the modal with the thumbs up has misaligned elements

**Observed behavior**
<img width="1680" alt="Screen Shot 2019-06-11 at 11 02 58 AM"

[2019-06-11 15:09] alexewu commented on #6903
Currently attempting to solve this.

[2019-06-12 05:28] nithusha21 commented on #6891
@YashJipkate #6859 isn't part of the release. Can you checkout the release-2.8.3 branch and verify whether you are able to repro this issue? This is major and needs to be fixed ASAP.

[2019-06-12 05:29] nithusha21 commented on #6893
Hmmm, not sure why this happens. Will take a look.

[2019-06-12 05:30] nithusha21 commented on #6895
I think only users with edit access to the exploration can change the status (not sure, will check). On the first account (where you created the exp) are you getting the option to change the status?

[2019-06-12 05:32] nithusha21 commented on #6864
On it. No idea why this happens. Will take a look.

[2019-06-12 05:37] DubeySandeep commented on #6895
@nithusha21, This is the exploration I've created, so I do have the edit rights. (Exploration Title: Demo)

[2019-06-12 06:02] nithusha21 commented on #6895
Oh I just checked on my exps on the test server and yeah the option is not shown. I'll take a look at this, but I'll do this after the other blockers. If anyone else would like to fix it in the meantime, feel free to go ahead.

[2019-06-12 19:14] nithusha21 opened #6909 "TypeError: Unable to get property 'match' of undefined or null reference"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-12 19:27] nithusha21 commented on #6909
This issue only occurred in IE or Edge :(. Looks to be browser dependent. Also, the error is reported on opening a collection viewer page.

[2019-06-12 19:35] nithusha21 commented on #6909
Attaching the full log

HTML TAG: (Github hides stuff within angled braces)
text xmlns="http://www.w3.org/2000/svg" font-family="Capriola, Roboto, Arial, sans-serif" font-size="15" alignment-baseline="middle" fill="#e14738" text-anchor="middle" x="210" y="170" ng-if="!collectionPlaythrough.hasStartedCollection()" translate="I18N_START_HERE"

[code]

[2019-06-12 19:57] #6765 closed, assigned to nobody

[2019-06-12 22:50] vinitamurthi opened #6911 "Type 'unknown' cannot be used as an index type"
**Describe the bug**
In certain builds, when we try to run start.sh, the local stack fails to come up with the following error:
Type 'unknown' cannot be used as an index type (in line 63 in WinnowingPreprocessingService.ts).

When @sophiewu6 tried running a local stack, this error prevented the stack from coming up, whereas I can bring my stack up fine. (We both use MacOS 10.14.5)
I also see the s

[2019-06-12 23:39] seanlip commented on #6911
/cc @ankita240796 ... any ideas?

[2019-06-13 06:39] ankita240796 commented on #6911
Hi @seanlip, this bug was raised earlier too on gitter. I discussed this on gitter but I was not able to reproduce it. I am still not able to reproduce the bug on my system.

PR #6913 adds a type to hashIndex which is the right fix for the bug in my opinion. The fix for any type errors should be to add a proper type to the variable.

[2019-06-13 06:56] seanlip commented on #6911
Great, thanks! Should we close this issue, then?

[2019-06-13 06:57] ankita240796 commented on #6911
Yes, we can close this once #6913 goes in!

[2019-06-13 08:13] sophiewu6 opened #6914 "npm error due to package-lock.json when running any script"
**Describe the bug**
When I run any script, including start.sh, backend-test, frontend-test, etc, the process would be stopped due to npm errors. More discussion in https://github.com/oppia/oppia/pull/6913
<img width="680" alt="Screen Shot 2019-06-12 at 11 04 27 AM" src="https://user-images.githubusercontent.com/32754302/59415306-10441500-8d78-11e9-9bfc-2526a2a14108.png">
It could be solved by del

[2019-06-13 16:41] #6449 closed, assigned to nobody

[2019-06-13 16:57] nithusha21 commented on #6866
For the time being, is there any way around this? Or can we detect if the test actually needs the compilation and then do it? It gets really annoying when I am debugging a particular test and have to run the command multiple times.

[2019-06-13 17:01] ankita240796 commented on #6866
Hi @nithusha21, for the time being, you can comment out the compilation lines for both typescript and webpack in the `run_backend_tests.sh` script. I will prioritize this issue and try to issue a PR by tomorrow. Sorry for the trouble.

[2019-06-13 17:15] nithusha21 commented on #6866
Thanks for this... This does help :)

[2019-06-13 17:31] bansalnitish commented on #6158
Here is my analysis for this server error: https://docs.google.com/document/d/1IZ4lN7EjatnbwL6qWtOdY0V1Sp2ZLV9N02FuhzhVD6Q/edit?usp=sharing

[2019-06-13 17:44] #6903 closed, assigned to alexewu

[2019-06-13 18:05] nithusha21 commented on #5795
Hi @ezl-13 can you confirm if the steps mentioned here still work? I am unable to reproduce it using these steps.

[2019-06-13 19:14] nithusha21 commented on #6149
Closing as neither @bansalnitish or I can repro this. I think this should be fixed after #6845. /cc @vojtechjelinek @Jamesjay4199. Could you please confirm the same?

If this happens again, feel free to reopen it.

[2019-06-13 19:14] #6149 closed, assigned to nobody

[2019-06-13 19:25] aks681 opened #6917 "Not able to add answer groups in topics"
**Describe the bug**
In the question editor reached through the topic editor, in the 'Add Answer' modal, the options  list is empty for the Multiple Choice Interaction (only present for question editor opened through topic editor and only  for Multiple Choice Interaction).

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as admin and go to Topics and Skills Dashboard
 2. Create a topic

[2019-06-14 05:23] DubeySandeep opened #6920 "Some minor design change in the translation tab."
The existing design in the translation and voiceover tab is made mostly for voiceover workflow but it's used in both the translation and voiceover mode.

Earlier the height of the container showing the exploration text in the translation tab was static but we changed this behavior as demanded by the voice artists (See #5638 for more info.). But this functionality will be very helpful for the trans

[2019-06-14 05:28] #6917 closed, assigned to aks681

[2019-06-14 06:43] seanlip commented on #6914
So I just tried this on my machine. The first time I pulled from develop and ran start.sh it gave me a bunch of similar npm ERR!, but after I Ctrl-C'd that and ran start.sh again it passed without issues (and gave no errors). Weirdly enough, package-lock.json was not modified.

@sophiewu6 do you get this blocking error on develop after syncing to HEAD? Also, there was probably a commit sometime ag

[2019-06-14 06:54] seanlip opened #6921 "Server Error: The current interaction did not register a _submitAnswerFn."
This error occurred recently in production:
[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-06-14 07:24] sophiewu6 commented on #6914
Hi @seanlip Thanks for looking into this issue. The difference here is that instead of Ctrl-C, my starting progress was terminated automatically because of npm errors. I talked to other developers about this too, and some of them said that they got npm errors but it didn't block starting local stack. I had to delete package-lock.json and generate it again, so it was changed.

The last time I worke

[2019-06-14 07:28] seanlip commented on #6914
Noted, thank you for the follow up. Could you also check with the other devs in what way their package-lock.json file is changed? If the changes are similar to the ones you have, I would be less worried. But part of my concern is that if we check your package-lock.json in then everyone else's installation will break.

It might also be worth filing an issue on the npm issue tracker and mentioning t

[2019-06-14 07:35] sophiewu6 commented on #6914
Oh I don't think other dev's package-lock.json is being changed since their local stack was not blocked by npm errors. Mine was blocked so I had to delete it, which is why package-lock.json was changed. Do you have any idea why the errors block my stack, but not other dev's?

[2019-06-14 07:50] seanlip commented on #6914
I'm afraid I don't, sorry. But you should _definitely_ escalate to the npm folks via their chat channel or issue tracker or mailing list, and ask, since this is a critical workflow blocker.

[2019-06-14 11:56] RafayGhafoor commented on #6271
@DubeySandeep, Can you assign me state part of this issue?

[2019-06-14 14:34] vinitamurthi commented on #6911
I think the bigger problem is that typescript compilation is behaving differently on different platforms. As mentioned above, both @sophiewu6 and I could see this typescript error (me on Sublime text and Shiqi when she was building the stack).
So this is a legitimate typescript error, however it allows some machines to build and bring up the local stack, but it throws an error and fails to bring u

[2019-06-14 16:09] ankita240796 commented on #6866
Hi @seanlip @vojtechjelinek, I just check running backend tests without typescript and webpack compilation. Almost all of the tests fail due to missing html pages in dist folder which is created by webpack compilation. Here is one of the error log that I get:

[code]

I am not sure how webpack compilation works here and how can we have these pages without compiling webpack. @vojtechjelinek can you

[2019-06-14 18:52] seanlip commented on #6866
Thanks @ankita240796! I'll need to defer to @vojtechjelinek on the first parts of your comment.

Re the last part, I guess the flag won't be useful if the backend tests can't run without compilation, right? Though, maybe we can just have a flag for skipping the typescript compilation. Would that work?

[2019-06-14 18:55] ankita240796 commented on #6866
Hi @seanlip, the flag will be useful after the first compilation. Once a user already has compiled files in the oppia folder and is only modifying python files, he/she can run the tests by using the flag to avoid compilation in each run.

I am not sure how webpack works if typescript is not pre-compiled. I will check if webpack can be compiled without compiling typescript and will let you know.

T

[2019-06-14 22:29] seanlip commented on #6911
Should we be filing this against the typescript team? Is this a known issue?

/cc @NishealJ who I believe is running into this as well.

[2019-06-14 23:41] vinitamurthi opened #6928 "Limit questions requested to a specific amount in the question player"
Currently users of the question player can ask for an infinite number of questions. We would like to limit that down to 20 questions. For that we need to add checks to the frontend controller and backend controller to limit the number of questions requested in the question player.

[2019-06-15 01:24] vinitamurthi opened #6930 "Change fetch functions for the question player"
Currently we fetch questions at random based on a set of skill ids. We would like to improve that functionality and ensure that:
1. There are atleast some questions per skill id.
2. Questions are not repeated.
3. Questions are selected based on difficulty levels.

[2019-06-15 06:19] nithusha21 commented on #6757
Hi, A quick update...

I was able to repro this issue (on test server with oppia v2.8.3):
1. Login.
2. Start playing an exploration from the library.
3. Press the back button on the browser.
4. You should be on the library page, but also the sign-in button is shown again.
5. Click on it, and check the console.

Not sure if this is repro able on the latest develop... Could someone confirm? Thanks!

[2019-06-15 07:01] ankita240796 opened #6931 "Exploration is not downloadable as zip on develop and test server"
**Describe the bug**
Downloading an exploration from history tab gives a 404 error with page not found.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration and save the draft.
 2. Go to history tab and click on download link
 3. A new page will open with 404 error: page not found

**Observed behavior**
The exploration does not download with a 404 error. The url which opens

[2019-06-15 07:26] nithusha21 opened #6932 "The add roles tab in the exploration settings tab raises 500 error when an unknown id is provided"
**Describe the bug**
While assigning new roles for the exploration, a 500 error is raised. Instead a corresponding 4xx error code should be raised.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Go to the settings tab, and go to the "roles" section.
 3. Try to add a new user with an invalid username
 4. See the console, a 500 error is raised.

**Observed behavior

[2019-06-15 07:43] nithusha21 opened #6933 "Unable to add written translations"
**Describe the bug**
Unable to add written translations to explorations.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Navigate to the translation tab, select the translation mode.
 3. Add a translation and click save
 4. See error

**Observed behavior**
This console error is raised.
![image](https://user-images.githubusercontent.com/11898234/59548602-32ec4e80-8f

[2019-06-15 07:47] nithusha21 commented on #6932
Actually maybe this could be a blocker. After this error occurs the editor is broken (none of the tabs load). I had to refresh the page to get it to work again.

[2019-06-15 07:48] seanlip commented on #6932
This is definitely a blocker -- I can see an accidental mistype having bad consequences.

[2019-06-15 15:04] Dharmesh-Poddar commented on #6920
@DubeySandeep can I work on it..

[2019-06-15 15:10] lilithxxx commented on #6932
I think this is because before in editor.ExplorationRightsHandler we were raising Exception instead of InvalidInputException here:
https://github.com/oppia/oppia/blob/7cdd42cb5878b235851f9ecb10e195a347f7a7a8/core/controllers/editor.py#L237

But this was fixed in https://github.com/oppia/oppia/pull/6849 which was merged 2 days ago

[2019-06-15 15:13] DubeySandeep commented on #6920
@Dharmesh-Poddar, You can work on this issue as it's open for anyone to pick! :)

[2019-06-15 16:48] sophiewu6 commented on #6914
Discussion on npm forum: https://npm.community/t/npm-errors-blocked-my-workflow/8213
<img width="792" alt="Screen Shot 2019-06-15 at 9 48 30 AM" src="https://user-images.githubusercontent.com/32754302/59554063-b8153a80-8f52-11e9-8e2e-e6a4e7e7d60d.png">

[2019-06-15 18:54] vojtechjelinek commented on #6866
The HTML files are now migrating from using Jinja to using webpack statements. That means they're compiled in the build process and then served from the dist folder. One possibility might be to have a separate confing for backend tests that would only compile the files needed for backend tests.

Yes it can. Webpack is doing the typescript compilation separately. Direct ypescript compilation is use

[2019-06-15 20:58] Showtim3 commented on #6894
@DubeySandeep Does this happen when you add a long text with spaces too or does the text wraps itself properly? and Btw Is it cool if i investigate this further? I'd like to work on this issue. Thanks

[2019-06-16 03:28] #6678 closed, assigned to ankita240796

[2019-06-16 04:02] #6572 closed, assigned to DubeySandeep

[2019-06-16 04:02] #6799 closed, assigned to ankita240796

[2019-06-16 04:25] seanlip opened #6943 "Blocking bug: Code interaction is broken in develop in the player view"
**Describe the bug**
The code interaction in the player view is broken. It does not load.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor and create an exploration that uses the code editor interaction.
 2. Publish the exploration.
 3. Go to the learner view for that exploration.

**Observed behavior**
The code editor does not appear and a console log shows up.

[2019-06-16 04:26] seanlip commented on #6943
Thanks to @prasanna08 for noticing this.

@YashJipkate @vojtechjelinek this looks like some kind of import error, is it related to recent changes that involve moving / bundling files?

[2019-06-16 04:38] seanlip commented on #6757
Hi @nithusha21, I'm having trouble reproducing this on develop, but that might be perhaps because I don't understand step 1.

Could you please clarify whether that step means "login" or "signup"? Also, what page should I be on just before this action, and after signup, am I redirected to a page like the creator/learner dashboard, and then I'm supposed to click on the Library from there?

Thanks!

[2019-06-16 05:12] EricZLou commented on #5795
@nithusha21 I just did the steps that I wrote in my comment and I got this error:
![image](https://user-images.githubusercontent.com/21316782/59559374-c0fa2080-8fd3-11e9-8c79-6470941e34b9.png)

I don't remember anymore whether it is the same error I was getting as before. Hope this helps.

[2019-06-16 08:09] #6914 closed, assigned to seanlip

[2019-06-16 08:49] DubeySandeep commented on #6932
@nithusha21, should we make #6849 part of June release (v2.8.3) and close the issue?

[2019-06-16 09:07] DubeySandeep commented on #6933
@nithusha21, This issue happened because you were writing a translation for a content where audio/voiceover was already available, so after changing the translation we use to show a modal saying "Do you want to mark the existing audio/voiceover as 'Needs update'?", but this failed as the modal related HTML file were throwing 404 (because of incorrect file name). I think this happened while changin

[2019-06-16 09:13] YashJipkate commented on #6933
Yes @DubeySandeep it is caused by the change of the name of the file and not updating the same [here](https://github.com/oppia/oppia/blob/c805d2dfbcf7a42fdeccfb7d974b9a25fb772d16/core/templates/dev/head/pages/exploration-editor-page/translation-tab/state-translation-editor/state-translation-editor.directive.ts#L58-L60). I will raise a PR ASAP.
Thanks.

[2019-06-16 10:03] DubeySandeep commented on #6933
@YashJipkate, sorry I've created a PR for the same (Sorry I didn't mention this in my comment but I assigned myself to the issue and thought it's self-explanatory.) Can you please help me reviewing that PR?

[2019-06-16 10:05] DubeySandeep commented on #6932
@nithusha21, Assigned you this issue as it's waiting on your reply and I think this can be closed (maybe)!

[2019-06-16 12:46] vojtechjelinek commented on #6866
The HTML files are now migrating from using Jinja to using webpack statements. That means they're compiled in the build process and then served from the dist folder. One possibility might be to have a separate config for backend tests that would only compile the files needed for backend tests.

Yes, it can. Webpack is doing the typescript compilation separately. The direct Typescript compilation i

[2019-06-16 15:05] vojtechjelinek commented on #6943
This is fixed in #6939, is that okay?

[2019-06-16 17:21] chetan-rns commented on #6271
@DubeySandeep Hi, can you assign me to the Skill part of this issue? Thanks!

[2019-06-16 22:03] DubeySandeep commented on #6891
Assigned this issue to @YashJipkate as it's waiting on his reply!

[2019-06-16 22:08] DubeySandeep commented on #6943
I don't think we can add PR #6939 to the current release as it seems a pretty big change (1000+ lines), as well as that PR can take more time to get merged. @seanlip & @nithusha21, can we wait for #6939 PR?

@vojtechjelinek, can this issue be resolved separately in small changes (note: the QA test is already complete)?

[2019-06-16 22:16] vojtechjelinek commented on #6943
Hi, this can be solved by adding:
[code]

after line 77 in `core/templates/dev/head/pages/exploration-player-page/exploration-player-page.controller.ts`

[2019-06-16 22:33] DubeySandeep commented on #6891
@nithusha21, I think PR #6859 will resolve this issue as well as #6893 (not sure, need to be tested thoroughly). If #6859  resolves both the issue can we take that PR for the release, If yes can you please check whether we can merge #6859 in v2.8.3 without conflict?

[2019-06-16 22:46] DubeySandeep commented on #6943
@vojtechjelinek, I've created a PR with the same changes and after the changes, the code editor interaction was working fine in the exploration player. Thanks for the pointers. Can you please help to review the PR?

[2019-06-17 01:19] import-keshav opened #6949 "SaveContent Button is not working."
The save content button is not working.
![imageedit_1_8770406685](https://user-images.githubusercontent.com/34139754/59572523-870c4580-90cb-11e9-8267-c2f5e5e23d56.png)

The following console error is
![imageedit_3_8929387118](https://user-images.githubusercontent.com/34139754/59572552-b02cd600-90cb-11e9-87c7-3af2e1b93db9.png)

This issue doesn't occur always. Its occur 2-3 times out of 10. We have

[2019-06-17 01:24] import-keshav commented on #6949
@YashJipkate @vojtechjelinek any idea about this. Maybe this occurs after the recent changes that involve moving / bundling files?
I am not sure, I am just asking.
Thanks

[2019-06-17 02:25] import-keshav opened #6950 "Wrong fileoverview of core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte.directive.ts"
There is a wrong fileoverview of file
``` core/templates/dev/head/components/ck-editor-helpers/ck-editor-rte.directive.ts ``` which creates confusion.
We have to correct it.
![imageedit_1_9022032830](https://user-images.githubusercontent.com/34139754/59574556-4a454c00-90d5-11e9-8f61-23eb6f8491c1.png)

[2019-06-17 02:26] import-keshav commented on #6950
Assigning @bansalnitish as a codeowner.

[2019-06-17 04:20] YashJipkate commented on #6891
Sorry for late reply. I dont know how I missed this.
@DubeySandeep @nithusha21 Yes I am able to reproduce this issue. This is caused by the missing require of controller in core/templates/dev/head/pages/suggestion_editor/ShowSuggestionModalForCreatorViewService.ts which is giving the error and it is resolved by placing the require.

Yes @DubeySandeep This is fixed in #6859.

Thanks!

[2019-06-17 04:29] YashJipkate commented on #6949
If it occurs just a few times and is inconsistent, then maybe there is something with your local bundles? Have you tried deleting `local_compiled_js` and `dist` folders before starting the server up?

[2019-06-17 05:52] nithusha21 commented on #6932
Just confirming.... @lilithxxx with the change to InvalidInputException, the controller will raise a 400 error right? Can you just try adding an invalid username, and see if the correct error message is displayed, and if the editor continues to work normally after? If so, yeah let's cherrypick #6849 and close this issue.

[2019-06-17 06:51] #6895 closed, assigned to DubeySandeep

[2019-06-17 07:37] yashdusing commented on #5572
Is this resolved @DubeySandeep ? I'd like to help if not

[2019-06-17 09:18] lilithxxx commented on #6932
I tested in my local server and it seems to work fine. The correct error code is displayed and all the tabs work normally after this.
![roles](https://user-images.githubusercontent.com/32506039/59593066-e9d30080-910e-11e9-889c-ee3540bd0531.png)

[2019-06-17 09:33] nithusha21 commented on #6932
Thanks for checking! /cc @aks681 we would need to cherrypick #6849 for the release. I'll mark it as PR for current release. Closing this issue. Thanks!

[2019-06-17 09:33] #6932 closed, assigned to nithusha21

[2019-06-17 09:36] DubeySandeep commented on #6932
@nithusha21, #6849 changes lots of controller files, so are we going to test all those changes as well?

[2019-06-17 09:47] nithusha21 commented on #6932
Either @anubhavsinha98 or I will compile a list of things to test after the cherrypicks. We'll do one round of testing for these things after the bugfixing period. Does this sound ok? (This will include verifying the reported issues are fixed, and if anything else was merged together, that shouldn't break stuff).

[2019-06-17 09:48] vojtechjelinek commented on #6949
This shouldn't be caused by bundling/moving.

[2019-06-17 10:42] ankita240796 opened #6952 "Add a backend test to ensure all storage models have a audit job"
Add a backend test to ensure that all models in `core/storage` have a audit job in `core/domain/prod_validation_jobs_one_off.py`. This test must be added once the audit jobs for all the models is merged into develop.

[2019-06-17 17:07] bansalnitish commented on #6219
For contributors planning to take this issue, here is my investigation:

This issue seems to be a cross browser one i.e if something works fine on chrome it would go weird for firefox and vice versa. I found a brilliant question with a high voted answer on stack overflow - https://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers?page=1&tab=vot

[2019-06-17 17:09] sophiewu6 opened #6956 "Add validation for MAX_SKILLS_PER_QUESTION when creating questions and add question skill links"
There is a restriction for at most three question skills links linked to one question, but we haven't added validation for it when creating questions and add question skill links. For that we need to add checks to raise an error when the number of question skill links exceeds MAX_SKILLS_PER_QUESTION.

[2019-06-17 17:14] sophiewu6 opened #6957 "Move skill_ids to the payload for QuestionCreationHandler in question_editor.py"
Currently in PR #6929, question dicts are passed in through payload, but comma_seperated_skill_ids are passed in through URL. For this we will move both of them to payload later.

[2019-06-17 18:06] Dharmesh-Poddar commented on #6920
@DubeySandeep  can you please specify the steps to reach state translation editor

[2019-06-17 18:52] anmolshkl opened #6959 "The "Add Response" modal that shows up after clicking "Save and Add Another" is buggy"
**Describe the bug**
In the exploration editor, when adding a response, the "Add response" modal that shows up after clicking on "Save and Add Another" button is buggy; the dropdown for "If the learner's answer..." seems as if it is non-functional and hovering over the dropdown items highlights all of them instead of the item you intended to choose.

**To Reproduce**
Steps to reproduce the behavio

[2019-06-17 18:58] rafalk342 commented on #5303
Currently in code there is this:
https://github.com/oppia/oppia/blob/0c9c01a8b0c218b4dfd6530757a6798f6788d1e6/core/templates/dev/head/services/SpeechSynthesisChunkerService.ts#L171-L206

I'll try to introduce https://docs.mathlive.io/module-mathlive.html#latexToSpeakableText

[2019-06-17 19:19] #6943 closed, assigned to DubeySandeep

[2019-06-17 19:42] DubeySandeep commented on #6920
@Dharmesh-Poddar, You can follow [this wiki page](https://github.com/oppia/oppia/wiki/Instructions-for-voice-artists#what-should-i-do-when-im-on-the-exploration-editor-page) but instead of clicking the voiceover mode switch in the third step, click the translation-mode switch. I hope this helps but do let me know if it's not clear.

[2019-06-17 19:44] DubeySandeep commented on #4057
Hi @muarachmann, any update on the assigned issue? Let me know if my last comment wasn't helpful. I can try to explain this in a better way. Thanks! :)

[2019-06-17 20:56] vojtechjelinek opened #6960 "Fix templateCache in karma tests"
### Problem
The `templateCache` that enables to test HTML of directives, broke after webpack was introduced. The tests that use `templateCache` are for now in the `exclude` section in the karma.conf.ts.

### Solution
Find out why we are not able to load directives HTML in karma tests. This can probably be solved by modifing the `karm.conf.ts` somehow.

[2019-06-17 21:00] seanlip commented on #6960
Hi @vojtechjelinek -- could you please explain what the "TODO" is for this issue? On reading it I am not sure what is supposed to be done.

[2019-06-17 21:00] seanlip commented on #6960
(I.e. how would one "know" that the templateCache is fixed?)

[2019-06-17 21:01] seanlip commented on #6960
Also ... it seems like putting the failing tests in `exclude` might be the wrong thing to do in the interim? (I.e. will it cause things to break and we don't know about that until it gets to production?)

[2019-06-17 21:10] import-keshav commented on #6949
thanks, @vojtechjelinek @YashJipkate for the response.
I tried Yash suggestion, and I am testing it and let's see this issue occurs again or not.
Will close it, if it doesn't occur after testing.
Thanks.

[2019-06-17 21:15] vojtechjelinek opened #6961 "Integrate extensions/interactions/LogicProof/static/js into webpack"
### Problem
There are some TypeScript files in `extensions/interactions/LogicProof/static/js` that we include by script-imports in `extensions/dependencies/logic_proof.html`. We should integrate them into webpack.

### Solution
1. Add `require(…)` into the files in `extensions/interactions/LogicProof/static/js` if needed (if they depend on each other)
2. Find out from where we use these files and

[2019-06-17 21:35] vojtechjelinek opened #6962 "Integrate CSS files into webpack"
We can use [css-loader](https://webpack.js.org/loaders/css-loader/) for loading CSS files with webpack instead of using `<link>` tags in HTML files. We might also use [mini-css-extract-plugin](https://webpack.js.org/plugins/mini-css-extract-plugin/) for production builds.

For start we can introduce it for the CSS files that we have now, the `oppia.css` and some CSS files in `extensions/interactio

[2019-06-17 21:57] vojtechjelinek opened #6964 "Investigate the need for usage of backend_prod_files after webpack"
We used `backend_prod_files` for serving JavaScript and HTML files with Jinja since we are moving away from Jinja we might be able to get rid of `backend_prod_files`. Investigate if we need `backend_prod_files` anymore.

[2019-06-17 22:11] vojtechjelinek commented on #3988
The webpack is introduced for most of the codebase, parts that not yet use webpack have their own issues, thus closing this.

[2019-06-17 22:11] #3988 closed, assigned to nobody

[2019-06-17 22:15] vojtechjelinek commented on #3950
Completed in #6818

[2019-06-17 22:15] vojtechjelinek commented on #3950
Completed in #6818

[2019-06-17 22:15] #3950 closed, assigned to jameesjohn

[2019-06-17 22:21] seanlip commented on #6956
Thanks @sophiewu6 for filing the isuse :)

Should this be assigned to @sophiewu6 or @vinitamurthi?

[2019-06-17 22:40] vojtechjelinek commented on #5456
@seanlip Does this error still happen?

[2019-06-17 22:46] vinitamurthi commented on #6956
Assigned to myself

[2019-06-17 22:47] seanlip commented on #5456
No, I don't think so, let's close. Thanks for checking!

[2019-06-17 22:47] #5456 closed, assigned to nobody

[2019-06-18 03:21] yashdusing commented on #6959
@anmolshkl Can I take this up ?

[2019-06-18 10:38] muarachmann commented on #4057
Oh so so sorry @sandeep was caught up with school work and final year
project also was following an angular course on udemy to better understand
angular. I will update you on my progress. Sorry for the lateness

On Mon, Jun 17, 2019, 20:44 Sandeep Dubey <notifications@github.com> wrote:

[2019-06-18 13:33] Dharmesh-Poddar commented on #6920
Thanks @DubeySandeep . What should be the height of the state translation editor?

[2019-06-19 01:54] #6933 closed, assigned to DubeySandeep

[2019-06-19 01:57] DubeySandeep commented on #6891
@nithusha21, can we take the PR #6859 for this release? (I think this will resolve multiple issues (#6891 and #6893).

[2019-06-19 02:24] import-keshav opened #6972 "Incorrect Regex pattern for validation of image source"
Regex pattern present in ```extensions/rich_text_components/components.py``` for validation of image source(image filepath) is ``` r'^[A-Za-z0-9+/]*\.((png)|(jpeg)|(gif)|(jpg))$' ```

This regex pattern is incorrect since it doesn't include the pattern for the file like ``` 4tree-half_height_556_width_1121.png ``` present in demo exploration. This leads to failure of the tests.

[2019-06-19 16:49] YashJipkate opened #6975 "Apply the new naming convention to remaining directories."
The new naming convention needs to be applied to the remaining directories.

- [x]  `services/` @xlogix #6975
- [x]  `extensions/` @RafayGhafoor #7360
- [x]  `domain/` @Jethet
- [x]  `expressions/` - @rt4914
- [x]  `directives/` - @rt4914 (#7215)
- [x]  `base_components/` - @rt4914

The naming follows a general pattern:

- The filename is divided into three parts (four for spec files). The first p

[2019-06-19 22:27] #6262 closed, assigned to nobody

[2019-06-20 00:07] import-keshav commented on #6959
@yashdusing go ahead. Feel free to make Pr.
Thanks

[2019-06-20 00:10] import-keshav commented on #6271
@chetan-rns, assigned you. Go ahead and feel free to make PR.
Thanks
And did you filled up the contribution survey form (asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up))

[2019-06-20 06:26] nithusha21 commented on #6891
We recut the release could you check if these are resolved now?

[2019-06-20 06:31] nithusha21 commented on #6864
I see a console error too. I'll try to fix it and raise a PR by tonight.
![image](https://user-images.githubusercontent.com/11898234/59826042-1aa37780-9353-11e9-843e-f8ad71db4d24.png)

[2019-06-20 08:19] chetan-rns commented on #6271
@import-keshav Thanks. Yes, I've filled the contribution survey form.

[2019-06-20 09:45] #6777 closed, assigned to rafalk342

[2019-06-20 12:01] apb7 opened #6979 "Random test failure on CI"
Some tests on CI fail randomly while minifying and generating source map due to a parse error. Here is the log for the same:

[code]

Restarting the failing test generally fixes it.

The reason behind this issue seems to be that some third-party library is sending XML format data to the js file and the source map generator is throwing an error for the same file while parsing third_party.js

[2019-06-20 18:36] apb7 commented on #6979
Update: Since this issue might be due to cache becoming corrupt, Travis caches for all PRs and branches have been cleared (You can see caches [here](https://travis-ci.org/oppia/oppia/caches)).

[2019-06-20 22:56] #6346 closed, assigned to vinitamurthi

[2019-06-20 23:26] vinitamurthi commented on #6779
Sorry I missed this comment, it will be fixed in an upcoming PR of mine

[2019-06-21 12:09] import-keshav commented on #6271
@PiyushBhangale any updates ?

[2019-06-21 12:47] apb7 opened #6982 "Remove eslint-disable from assests/constants.js and fix all violations"
The file `assests/constants.js` has an eslint disable statement on the first line [here](https://github.com/oppia/oppia/blob/develop/assets/constants.js#L1). This has been there for quite some time now due to which the file has accumulated some violations.
We should remove this disable statement and try fixing all violations.

[2019-06-21 14:24] JoyLubega commented on #6776
Hey @DubeySandeep  Can I get some more information about this.

[2019-06-21 20:26] #6726 closed, assigned to ankita240796

[2019-06-22 09:22] NishealJ opened #6988 "Removing un-used fonts directory in third_party/generated."
In `third_party/generated` we have `fonts` which is currently used by `bootstrap-3` only to store `glphyicons` fonts. Earlier it was used by `font-awesome-4` also but after upgrading to`font-awesome-5` now it uses `web_fonts` directory due to change in its directory structure.

After upgrading to bootstrap-4 as don't use glphyicons the fonts directory should be empty considering that no new lib is

[2019-06-22 10:58] MLA98 commented on #6271
@DubeySandeep Hi, sorry I don't have time recently to do it. Please unassigned me. Thank you.

[2019-06-22 11:20] RafayGhafoor commented on #6271
@DubeySandeep, @import-keshav, Can you assign me the state part?

[2019-06-22 11:34] import-keshav commented on #6271
@RafayGhafoor Assigned you, Go Ahead.
Thanks.

[2019-06-22 14:13] DubeySandeep commented on #6893
@nithusha21, Just as an FYI, this issue still persists in the test server.

[2019-06-22 16:45] mzaman07 commented on #6622
Yeah I'll take a look at this.

[2019-06-22 18:15] #6792 closed, assigned to nobody

[2019-06-23 03:53] sophiewu6 opened #6994 "Convert questionSummary dict to a frontend domain object"
Currently in questions-list.directive.ts (https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts#L79), the elements in ctrl.questionSummaries are still backend dicts, which are never converted to a frontend domain object. We should convert the backend dict to a domain object and pass the domain object around ins

[2019-06-23 14:35] ankita240796 opened #6997 "Backend test failing on develop"
Backend tests for `story_services_test` is failing on develop with the error:

[code]

This change was introduced in #6973. /cc @sophiewu6

[2019-06-23 17:11] #6997 closed, assigned to sophiewu6

[2019-06-23 17:40] sophiewu6 opened #7001 "questionStateData undefined when adding questions in creator dashboard"
**Describe the bug**
<img width="1280" alt="Screen Shot 2019-06-23 at 10 23 57 AM" src="https://user-images.githubusercontent.com/32754302/59979841-effb2e00-95a1-11e9-8f31-150a88a60ec3.png">

As in the screenshot, nothing shows up under 'Create Question', and we can see an error in Javascript console.

**To Reproduce**
Steps to reproduce the behavior:
1. Set ENABLE_NEW_STRUCTURE_PLAYERS to true
2.

[2019-06-24 11:09] anamika2004 commented on #6959
I would like to work on this.

[2019-06-24 11:14] yashdusing commented on #6959
@anamika2004 I’m currently working on this. Could you please work on some other issue ?

[2019-06-24 11:14] anamika2004 commented on #6959
Sure!

[2019-06-24 11:34] anamika2004 commented on #6271
Hi! Can you assign me a subtopic?

[2019-06-24 11:36] anamika2004 commented on #6482
I would like to work on this.

[2019-06-24 11:41] anamika2004 commented on #6928
I would like to contribute to this. Is anybody else working on it?

[2019-06-24 11:54] import-keshav commented on #6271
@anamika2004 Assigned you, go ahead.
Thanks.

[2019-06-24 13:01] vojtechjelinek opened #7004 "Integrate dependencies into webpack"
Use webpack to load the dependencies that we need. Currently, we use script-imports in most places.

The best way would be to start with the libraries that we use only on some pages like CKEditor in [exploration-editor-page.mainpage.html](https://github.com/oppia/oppia/blob/develop/core/templates/pages/exploration-editor-page/exploration-editor-page.mainpage.html) and others.

[2019-06-24 14:13] vojtechjelinek commented on #1310
Closing this since it would be too complicated to implement and the speed improvement would be only small, modern browsers doesn!t really care about the number of requests.

[2019-06-24 14:13] #1310 closed

[2019-06-24 14:18] vojtechjelinek commented on #6748
@apb7 ping

[2019-06-24 16:30] vinitamurthi commented on #6928
You can go ahead

[2019-06-24 18:41] vojtechjelinek opened #7005 "Enable HSTS preload"
Make Oppia.org comply to https://hstspreload.org to increase security.

[2019-06-24 22:34] teddymarchildon commented on #6271
Is there any work still un-assigned that I can fix up on this issue? Please assign me if so :)

[2019-06-24 23:29] DubeySandeep opened #7007 "[Test server] Unable to add tags to an exploration."
**Describe the bug**
Changing/adding tags of exploration doesn't produce any change command and the changes aren't saved.
**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Go to the settings tab
 3. Add tags to the exploration
 4. You'll see two tags (one empty) and after refreshing the pages all the tags gone.

**Observed behavior**
Unable to save tags for an explora

[2019-06-25 05:21] ankita240796 opened #7008 "[Blocked by PyCQA/pylint#2977] unsupported-assignment-operation error in suggestion_registry_test"
pylint produces `unsupported-assignment-operation` in these two lines: [line 749](https://github.com/oppia/oppia/blob/develop/core/domain/suggestion_registry_test.py#L749) and [line 794](https://github.com/oppia/oppia/blob/develop/core/domain/suggestion_registry_test.py#L794) if any property on `suggestion.change.question_dict` is modified directly. The detailed analysis for the same can be checke

[2019-06-25 05:31] Showtim3 commented on #6894
@seanlip this test server is the one that we run locally right?

[2019-06-25 09:40] nithusha21 commented on #7001
Hi, as we discussed in the PR thread, we will be deleting this code, and moving it to the community dashboard later. So, I'll close this issue once I delete the code for this modal.

[2019-06-25 09:41] nithusha21 commented on #6979
Hi @apb7 should we close this now?

[2019-06-25 10:22] lilithxxx opened #7009 "Remove tests which use mock migrations"
Remove the mock domain objects created for testing migrations and the corresponding migration tests once the actual functions for migrations are implemented. This can be found by grepping "TODO(lilithxxx)" in the codebase.

[2019-06-25 10:29] lilithxxx opened #7010 "Implement a lint check to ensure all TODOs contain a username within it"
Implement a lint check to ensure all TODOs contain a username within it. There should be no naked TODOs in the codebase. For example:

**correct format**
TODO(username): Do something
**incorrect format**
TODO: Do something

[2019-06-25 10:36] DubeySandeep commented on #6894
@Showtim3 I'm not sure but I think the words wrap itself properly. Yeah, you can go ahead and look into this. You can assign it to yourself.

I found this on the test server https://oppiatestserver.appspot.com, while the release test process, but I think this is reproducible on develop branch locally as well!

<hr>

Sorry for the late response, I wasn't aware of this comment and I missed it.

[2019-06-25 11:48] YashJipkate commented on #6731
This is fixed completely by #6996
Therefore closing!
Thanks.

[2019-06-25 11:48] #6731 closed, assigned to YashJipkate

[2019-06-25 22:40] vinitamurthi opened #7015 "Improve the fetch flow in question_services.py"
There are few functions in question_services.py where we fetch data from multiple backend models and send them as a list to controllers. This isn't an ideal approach. Instead each function should fetch a single item and backend controllers should handle the merging of the data.

Some examples:
get_questions_and_skill_descriptions_by_skill_ids
get_question_summaries_and_skill_descriptions

[2019-06-25 22:43] vinitamurthi opened #7016 "Review Tests - segregate pass and failed skills after the test"
Divide the question-player results into passed/failed modes and store failed skill id for review used
Milestone 2.1 in @sophiewu6 's GSoC project

[2019-06-25 22:45] vinitamurthi opened #7017 "Create a new skill mastery model. Add domain objects and service functions"
We need a new backend model for skill mastery along with its domain objects and relevant fetch/update functions in a services file.

Milestone 2.4 in @sophiewu6 's GSoC project

[2019-06-25 22:47] vinitamurthi opened #7018 "Review Tests - Redirect learners to concept cards and automatically start a review test afterwards."
Part of Milestone 2.2 in @sophiewu6 's GSoC project

[2019-06-25 22:48] vinitamurthi opened #7019 "Add frontend and backend support for the AnswersMisconceptionsLinkModel"
Part of Milestone 2.3 in @sophiewu6's GSoC project

[2019-06-25 22:56] vinitamurthi opened #7020 "Update mastery levels after every test/practice. Add mastery level information on every result modal/page."
Once tests are complete, we need to update skill mastery for the user and display the results as well to the user

Milestone 3.1 for @sophiewu6 's GSoC project

[2019-06-25 22:58] vinitamurthi opened #7021 "Show skill mastery values in the topic viewer"
Add a skill tab in the topic viewer that will show skill mastery of all skills in that topic (Once we have enough skill mastery information for the skill)

Milestone 3.2 in @sophiewu6 's GSoC project

[2019-06-25 22:59] vinitamurthi opened #7022 "Improve fetch functions for pretests , review tests, and practice sessions to use difficulty and skill mastery"
Also ensure questions are shuffled and no duplicates are available

Milestone 3.3 in @sophiewu6 's GSoC project

[2019-06-25 23:30] DubeySandeep commented on #6271
Unassigned @PiyushBhangale from `question` part of this issue because of lack of activity. /cc @brianrodri

[2019-06-25 23:31] DubeySandeep commented on #6271
Assigned @teddymarchildon to the `question` part of this issue. /cc @bansalnitish

[2019-06-25 23:34] DubeySandeep commented on #6271
@RafayGhafoor are you working on all of the methods of `state` part of this issue? It's okay to do a few parts in your first PR! Do let me know if you want to do a few parts, I'll go ahead and assign you for the same. Thanks!

[2019-06-26 07:30] apb7 commented on #6979
Yes, I think we can close this now. It does not occur any more post completely clearing the cache. Thanks!

[2019-06-26 07:30] #6979 closed, assigned to nobody

[2019-06-26 09:02] RafayGhafoor commented on #6271
@DubeySandeep, Alright, I will make pull request for few parts, thanks.

[2019-06-26 16:24] apb7 opened #7026 "Investigate why a back-end test passed on CI before and failed later for develop"
Investigate why this test: https://github.com/oppia/oppia/pull/6973/files#diff-5110913fe017ab2ff1f36b07b40a3d44R594 passed here: https://github.com/oppia/oppia/pull/6973 and then failed here: https://github.com/oppia/oppia/issues/6997, when the PR was merged with develop.

[2019-06-27 08:40] Showtim3 commented on #6894
@DubeySandeep okay i'll work on this. Thanks!

[2019-06-27 09:23] NishealJ commented on #6962
Hi @vojtechjelinek,
Similarly, we have it for JS files as well.
can we combine and minify JS using [uglify-webpack-plugin](https://www.npmjs.com/package/uglifyjs-webpack-plugin) at the same output what we get from build.py? this will help us to remove and un-necessary combines and relative path issue in scripts/build.py. Also, sometimes we get unexpected e2e tests failing due to uglifyJS

[2019-06-27 10:48] stanvarlamov opened #7031 "Interaction Item Selection is not displayed when it contains more than one item"
Due to a missing `$ctrl.` in [Item Selection Input directive's HTML template](https://github.com/oppia/oppia/blob/e3f74720e4c33f076b1a1c737d7918e5b6ad3c9e/extensions/interactions/ItemSelectionInput/directives/item_selection_input_interaction_directive.html#L18), the Item Selection interaction is not displayed when more than a single item is included into it. With a single item, another part of the