[2021-06-21 15:56] FareesHussain opened #13168 ""has element" response doesn't work for the drag n drop"
**Describe the bug**
"has element" response doesn't work for the drag n drop

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration
 2. add the drag and drop interaction.
 3. add the response and select "has element"
 4. See that the UI is not what it is expected.

**Observed behavior**
![image](https://user-images.githubusercontent.com/54740946/122791947-532a1300-d2d7-11e

[2021-06-21 16:03] hardikkat24 opened #13169 "Add lint checks for imports from typing after py3 migration"
**Is your feature request related to a problem? Please describe.**
Currently, we do not check whether the imported types from the typing module are being used in type annotation or not.
**Describe the solution you'd like**
A lint check to verify that every type imported from typing module is used in type annotations after we have migrated to python3 and we have started adding type annotations in p

[2021-06-21 16:09] FareesHussain opened #13170 "Add dummy exploration for android specific interactions"
**Is your feature request related to a problem? Please describe.**
For end-to-end testing in android, it requires an exploration that contains all the interactions supported in android.
**Describe the solution you'd like**
Create an exploration with all android supported interactions and add it to the /data/explorations directory

[2021-06-21 16:32] hardikkat24 opened #13171 "Change pylint to handle imports from typing module"
**Current State**
Right now we are adding `# pylint: disable` and `isort: skip` for imports from typing module.
**Solution**
The changes in pylint as per discussion [here](https://github.com/oppia/oppia/pull/13060#discussion_r655492464).
The solution:
1. `# pylint: disable = import-only-modules` - Change `ImportOnlyModulesChecker` pylint extension
2. `# pylint: disable = unused-import` - Move all

[2021-06-21 16:33] FareesHussain opened #13172 "Initialize android structures using a controller"
**Is your feature request related to a problem? Please describe.**
This is for the end-to-end testing in android ([doc](https://docs.google.com/document/d/17YMh__oGD1btOWlHqbmKj0e-GZh5-WKqduiQmgy1m14/edit#heading=h.62yd1quxjax7)), where the exploration is fetched from the dev server and tested in Integrations tests in Android (Using UI Automator).

This introduces a controller which initiates the

[2021-06-21 17:13] U8NWXD commented on #11496
@MA86 sorry for the late reply. Yes, an `ElementArrayFinder` does behave like an array. For a variable `myArray` of type `ElementArrayFinder`, `myArray[2]` is valid syntax. However, we also use async-await, which is not compatible with treating an `ElementArrayFinder` like an array. Therefore for Oppia code, we should *not* treat an `ElementArrayFinder` like an array. See the [E2E wiki page](https

[2021-06-21 17:21] YBCS commented on #13145
@rohitkatlaa @hardikkat24 thanks for the clarification, yes I guess the feature is indeed not there for play later interactions but in the collections playlater, the website shows as
![image](https://user-images.githubusercontent.com/29734619/122802228-c1280780-d2e2-11eb-944d-1d60d53b075a.png)

if the feature is expected or is not there, maybe the shown-text should be updated ?

[2021-06-21 17:59] rohitkatlaa commented on #13145
@YBCS I think then it is a problem. @oppia/lace-team please take a look at this issue. Thanks!

[2021-06-21 19:20] Rijuta-s opened #13173 "Submit Translation button not working in Contributor Dashboard"
**Describe the bug**
Unable to submit translation in contributor dashboard. In all cases- 'Translation is incomplete. Please make sure all elements in the original content are included in the translated content.' warning is being shown.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiaserver-backup-migration.appspot.com/contributor-dashboard'
 2. Click on 'Translate tab'

[2021-06-22 06:43] chris7716 commented on #13173
Ack this -- I could reproduce the first issue with **Continue** text. As an explanation to this I have attached the following screenshots.

This one is the text to translate. The word **Continue** is not wrapped by any HTML element.
![Screen Shot 2021-06-22 at 11 56 30 AM](https://user-images.githubusercontent.com/41409951/122875476-ee5fce80-d351-11eb-92f2-59b9a70e9fa0.png)

This is the translated

[2021-06-22 07:45] chris7716 commented on #13173
Well, I was able to reproduce the second one as well. You may not using a **blockquote** to include the texts with ratios. That would be the reason why it is saying the translation is incomplete.

![Screen Shot 2021-06-22 at 1 12 32 PM](https://user-images.githubusercontent.com/41409951/122884316-a47be600-d35b-11eb-8170-fd490434cf76.png)

You may make a text block as a blockquote using this highli

[2021-06-22 14:53] PranshuSrivastava commented on #10474
hey @vojtechjelinek, could you help me with this please

[2021-06-22 15:49] rohitkatlaa commented on #13166
@FareesHussain I was not able to reproduce this issue, and there was no console errors.

[2021-06-22 15:52] rohitkatlaa commented on #13167
@FareesHussain if I am not wrong, I was assigned this task and the feature seemed to work correctly.

[2021-06-22 15:52] FareesHussain commented on #13166
I think you have a different role or you have edit access for that exploration

[2021-06-22 16:03] FareesHussain commented on #13167
I was assigned to this for the python3 migration testing, and I mistakenly tested it for the oppiatestserver,
I tried this once again it is working

[2021-06-22 16:04] #13167 closed, assigned to FareesHussain

[2021-06-22 17:47] sagangwee commented on #13173
@chris7716 Hmm re https://github.com/oppia/oppia/issues/13173#issuecomment-865642727, the solution here might be to treat unmarked text elements the same as a translated text elements wrapped in a paragraph element when we do the translation validation.

Though I can imagine that this may block a lot of contributors if their translation format is off a little bit and they don't know which element

[2021-06-23 00:19] #13025 closed, assigned to kevintab95

[2021-06-23 01:42] MA86 commented on #11496
@U8NWXD, thanks for the answers! I'll take a fresh look at this issue and see how far I go.

[2021-06-23 05:42] seanlip commented on #13173
Actually, I think it is sufficient to check just the noninteractive tags (or an allowlist of such tags that might also include e.g. bold, italic), rather than all HTML tags. Would that be possible?

I think this needs to be fixed before this feature is released on the dashboard, otherwise a lot of translation contributors are going to get frustrated. Definitely improving the clarity of the messagi

[2021-06-23 05:42] seanlip commented on #13173
Also one question -- is this a blocking bug for the June release? If so, we should label it as such. /cc @nithusha21 @rohitkatlaa

[2021-06-23 05:52] rohitkatlaa commented on #13173
@seanlip This error is part of python3 migration testing and this error does not occur in the current release.

[2021-06-23 06:03] seanlip commented on #13173
Ah, awesome, thank you @rohitkatlaa for confirming.

I'm a bit confused why this happens in python3 migration only -- it seems like a frontend bug which I wouldn't have expected to be affected. Cc-ing @brianrodri in case this is unexpected.

[2021-06-23 07:19] chris7716 commented on #13173
Actually these translation validations were introduced in #12909 [here](https://github.com/chris7716/oppia/blob/d870ba25dfe72b8168827fb350c65c2496d9db46/core/templates/pages/contributor-dashboard-page/modal-templates/translation-modal.component.ts#L272) how it is been done. And I think we have to limit validations for interactive tags only as you have mentioned. We will have to fix this before nex

[2021-06-23 07:22] seanlip commented on #13173
Ah thanks @chris7716.

So then @rohitkatlaa when you say it's not in the current release ... what do you mean there? Is #12909 not included in the June release? It seems to be AFAICT: https://github.com/oppia/oppia/commits/release-3.1.2

[2021-06-23 07:25] rohitkatlaa commented on #13173
@seanlip when I tried to reproduce the error on the deployed server, I wasn't able to reproduce it, so I thought this error did not occur. @Rijuta-s could you confirm whether this error occurs in the https://oppiatestserver.appspot.com/ server.

[2021-06-23 08:40] YashKandalkar commented on #10474
@vojtechjelinek Hello! I searched for `LearnerExplorationSummaryObjectFactory`, but there isn't a class names as such, but there is `LearnerExplorationSummary` in `core/templates/domain/summary/learner-exploration-summary.model.ts`. I hope it's the same class mentioned in the description.
This file + the respective spec file has no errors after adding them in `tsconfig-strict.json`.
So if no one e

[2021-06-23 08:48] mridul-netizen commented on #10474
@YashKandalkar Yes, we are moving away from using ObjectFactories in our codebase with this issue https://github.com/oppia/oppia/issues/10700 ,Currently some of ObjectFactories are still present. I have assigned you for the file
`learner-exploration-summary.model.ts` & spec!

[2021-06-23 08:55] mridul-netizen commented on #10474
Hi @PranshuSrivastava This is a tricky case, type Object | Object[ ] have been used because we're not very sure of the `typeof` of value property present in `InteractionCustomizationArgs` . You will need to look into `value` property of each interface present in `InteractionCustomizationArgs` type and then create a new type and assign it to value and result properties. The case here is a bit simil

[2021-06-23 13:15] YashKandalkar commented on #10474
@mridul-netizen  Hello! Can you also give me ExplorationDraft please? Thanks!

[2021-06-23 14:39] kevintab95 opened #13186 "Skip functionality broken in the contributor dashboard"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to "translate" page in the contributor dashboard.
 2. Click on a lesson to translate.
 3. Click on the skip button.
 4. Observe that the content does not update.

**Observed behavior**
Clicking on the "skip" button does not update the view.

**Expected behavior**
Click

[2021-06-23 14:48] kevintab95 commented on #13173
This seems like a regression in the June release. I was able to reproduce this in the test server.
![translationisincomplete](https://user-images.githubusercontent.com/11008603/123118352-2e14dc00-d460-11eb-8766-2f9dcfa819fa.gif)

[2021-06-23 15:04] Rijuta-s commented on #13173
I am getting different errors on the test server-

https://user-images.githubusercontent.com/68547101/123121020-759c6780-d462-11eb-9930-6e74bc774496.mp4

[2021-06-23 15:21] sagangwee commented on #13130
De-duping against https://github.com/oppia/oppia/issues/13099

[2021-06-23 15:21] #13130 closed, assigned to sagangwee

[2021-06-23 15:36] sagangwee commented on #13173
@chris7716 Looks like the error in https://github.com/oppia/oppia/issues/13173#issuecomment-866918204 above is in the codepath of the recent translation validation changes, if you could take a look. Thanks!

[2021-06-23 15:39] kevintab95 opened #13189 "Can't upload Images when editing a submitted translation as a reviewer (applies for Math, Image, SVG diagram)"
**Describe the bug**
Can't upload Images when editing a submitted translation as a reviewer (applies for Math, Image, SVG diagram).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard and try to edit an existing translation as a reviewer.
 2. Upload an image using the Image RTE component.
 3. See error.

**Observed behavior**
Can't upload Images when editing a su

[2021-06-23 15:51] sagangwee commented on #13055
Job request to run the ExplorationOpportunitySummaryModelRegenerationJob for regenerating the exploration opportunity models (to update the translation and content counts) submitted.

[2021-06-23 17:23] rohitkatlaa commented on #13173
@kevintab95 @Rijuta-s  Thanks for the clarity, will add it to the regressions. I have removed it from python3 QA since this error was already there before the migration.

[2021-06-23 18:03] brianrodri opened #13190 "Add more Case Studies to the "Apache Beam job" Wiki Page"
This issue tracks the Case Studies we're planning to add to the [Apache Beam wiki page](#).

## Requesting new Case Studies
Please add a comment with the following template:

## Authoring new Case Studies
Please leave a comment specifying which study you'd like to write, making sure it isn't already owned by someone.

Then, using [GitHub flavored markdown](https://guides.github.com/features/master

[2021-06-23 21:23] rdawson10 opened #13194 "{Contributor Dashboard} - Language Changes While Reviewing Translation"
**Issue** - While reviewing translation submissions the submissions will sometimes change from Dari to Chinese.

**Steps to Reproduce**

[2021-06-23 21:26] rdawson10 opened #13195 "{Contributor Dashboard} - Submit Button Greyed Out While Submitting Translations"
**Issue** - While submitting translations sometimes the Submit button becomes greyed out and can only be corrected by exiting the modal and re-opened.

[2021-06-23 21:27] rdawson10 opened #13196 "{Contributor Dashboard} - Unable to Add Image While Submitting Translations"
**Issue**  Sometimes I am unable to add images to translations before submitting.  This can be corrected by exiting the modal and re-opening.

[2021-06-23 21:29] rdawson10 opened #13197 "{Contributor Dashboard} - Unable to Add Fractions While Submitting Translations"
**Issue** - Some users are unable to add fractions to translations submissions.

[2021-06-24 03:24] FareesHussain opened #13199 "Reload exploration ReadTimeoutError in admin panel"
**Describe the bug**
Reload exploration gives [ConnectionTimeout](https://stackoverflow.com/questions/28287261/connection-timeout-with-elasticsearch) error on the first click and works for the second click.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [admin roles](http://localhost:8181/admin#roles) and update user role to admin
 2. Go to [admin panel](localhost:8181/admin#roles) c

[2021-06-24 08:09] brianrodri commented on #13152
Note that this does not occur for _any of the other_ exploration chapters. This is a strange one, have we already confirmed that it only occurs on the Py3 Migration server?

[2021-06-24 08:12] gp201 commented on #13152
Yes, it does not occur in the release testing server. So I think it occurs only on the py3 migration server.
https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE?story_url_fragment=piece-of-cake&topic_url_fragment=fractions&classroom_url_fragment=math&node_id=node_1

[2021-06-24 11:31] chris7716 commented on #13189
Do we want to allow reviewers to upload images/math/svg diagrams while editing the translation? If so will it be sufficient to hide those extensions in the editor?

[2021-06-24 18:34] #12221 closed, assigned to sagangwee

[2021-06-25 06:49] heli-d-bhavsar commented on #13186
Hello , I am 2 years experienced developer in Angular and Node.js . I can help resolving this issue.

[2021-06-25 06:53] heli-d-bhavsar commented on #13151
Can I help resolving this issue?

[2021-06-25 07:16] juanapatankar commented on #10474
@vojtechjelinek Hi! Could I please be assigned to work on ItemSelectionInputRulesService?

[2021-06-25 07:26] mridul-netizen commented on #10474
Hi @juanapatankar `ItemSelectionInputRulesService` has been already covered here https://github.com/oppia/oppia/blob/develop/tsconfig-strict.json can you please pick some other file ?

[2021-06-25 07:27] juanapatankar commented on #10474
@mridul-netizen Oh right yeah thanks, didn't realise I was looking at the wrong list. Could I do ExplorationPermissionsObjectFactory please?

[2021-06-25 07:34] mridul-netizen commented on #10474
Sorry this list hasn't been updated lately I have assigned you for `ExplorationPermissionsBackendApiService`!

[2021-06-25 08:49] FareesHussain commented on #13199
@kevintab95 PTAL

[2021-06-25 09:12] juanapatankar commented on #10474
Oh okay thanks!

[2021-06-25 10:27] juanapatankar commented on #10474
Hi, I'm trying to run the initial checks (python -m scripts.typescript_checks --strict_checks) but it's giving me a ModuleNotFound error, so future.utils can't be imported. I'm trying to find it but I'm not sure where it is/how to fix the error? I'm suspecting I set something up wrong but I'm not sure

[2021-06-25 10:53] YBCS commented on #12688
## skipped model.ID relationship checks in exp validation are:

- [ ] ExplorationModel
- [ ] ExplorationSnapshotMetadataModel
- [ ] ExplorationSnapshotContentModel
- [ ] ExplorationRightsModel
- [ ] ExplorationRightsSnapshotMetadataModel
- [ ] ExplorationRightsSnapshotContentModel
- [ ] ExplorationCommitLogEntryModel

[2021-06-25 10:58] juanapatankar commented on #10474
I'm getting this error, does anyone know how I can fix it?

![image](https://user-images.githubusercontent.com/71700724/123414882-590c4680-d5ac-11eb-821b-f0ac477ce7ea.png)
(The highlighted part is the FileNotFound error from the checks, 'python -m scripts.typescript_checks --strict_checks', the bit below is what my Program Files/Python38/lib folder contains)

[2021-06-25 11:39] mridul-netizen commented on #10474
@juanapatankar Please follow this guide https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up to setup  things locally

[2021-06-25 13:35] brianrodri opened #13208 "Error occurs when mouse enters the Profile Dropdown in the Admin Page"
## Note: Tested on python migration server.

**Describe the bug**
Errors in the developer console when the Rounding numbers chapter page loads.

**To Reproduce**
 1. Go to Admin page
 2. Open developer console.
 3. Hover the profile dropdown
 3. See Error.

**Screenshots**
![image](https://user-images.githubusercontent.com/5094060/123432394-57388800-d598-11eb-8deb-eed8ff7afbf6.png)

**Desktop (ple

[2021-06-25 13:46] brianrodri opened #13209 "Cannot upload an SVG image as a Topic's thumbnail"
**Describe the bug**
SVG thumbnails cannot be uploaded due to an error, resulting in a failed HTTP request to `/null`

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as admin
 2. Go to Topics and Skills Dashboard
 2. Click on 'Create New Topic'
 3. Try to upload an SVG from the `assets/images/subjects/` directory
 4. See error

**Observed behavior**
An error is raised with the messa

[2021-06-25 13:50] brianrodri opened #13210 "Moderator Page produces errors in Python 3 Migration Branch"
**Describe the bug**
SVG thumbnails cannot be uploaded due to an error, resulting in a failed HTTP request to `/null`

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as moderator
 2. Go to `/moderator`
 4. See errors

**Observed behavior**
An error is raised with the message: `TypeError: Cannot read property 'title' of undefined`.

**Expected behavior**
The moderator page should loa

[2021-06-25 13:54] mridul-netizen commented on #13209
@brianrodri This happens because their file size is too large for them to be a thumbnail, try uploading any from `oppia/assets/svg_diagram_editor`

[2021-06-25 13:57] brianrodri commented on #13209
Ah yup that worked, thanks!

[2021-06-25 13:57] #13209 closed, assigned to nobody

[2021-06-25 19:23] kevintab95 commented on #13142
@ashutoshc8101 has a fix for this and will be raising a PR tomorrow. Thanks @ashutoshc8101!

[2021-06-25 19:32] kevintab95 commented on #13143
Assigning to @aks681 since he is working on a fix. Thanks @aks681!

[2021-06-25 22:44] AdityaDubey0 opened #13215 "Making sure constant variable names are in all-caps @AdityaDubey0"

[2021-06-25 22:45] #13215 closed, assigned to nobody

[2021-06-26 12:59] MatheusVicent opened #13220 "Browser bug - Addition and Subtraction - Chapter 2"
**Describe the bug**
An exercise in Chapter 2 from Addition and Subtraction doesn't accept the right answer and because that is impossible to continue with the chapter.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Chapter 2 from Addition and Subtraction
 2. The bug occurs in the exercise with this text:
    - "Let’s say we have 2 teaspoons of salt and we needed 0 more. How would yo

[2021-06-26 14:42] kevintab95 opened #13221 "TODO: Remove resetEditor() from TranslationModalComponent"
Remove usage of resetEditor() in TranslationModalComponent. There are change detection issues when schema-based-editor is used in the translation modal in the contributor dashboard. The current workaround is to destroy and re-render the editor component but this is not optimal. This TODO is to come up with a long term fix for the change detection issues.

[2021-06-26 16:59] #13054 closed, assigned to nobody

[2021-06-27 07:56] #13170 closed, assigned to FareesHussain

[2021-06-27 15:13] Radesh-kumar opened #13235 "FE test flake in Customize Interaction Modal Controller"
**Describe the bug**
`Customize Interaction Modal Controller when state editor is in question mode should open a confirmation modal with rejection` is failing

https://github.com/oppia/oppia/pull/13206/checks?check_run_id=2923951883#step:7:923

[2021-06-27 15:52] ashutoshc8101 commented on #13142
Just an update! I am working on fixing this. I have some progress, dropdown now shows up but it has issues with placement.
It works well upto 3 authors now, I am working on making it fully functional.

[2021-06-27 21:11] hardikkat24 opened #13239 "Make Backend Code Typed: Fix mypy error [attr-defined] with constants and add type annotations to root folder files"
This issue is a part of GSoC Project ['Make Backend Code Typed'](https://docs.google.com/document/d/1t9HOmOX6Q7hH94OQCSfHj2v-MmY9AECJpiV8OCj2TnI/edit?usp=sharing).

Aim:
1. Fix mypy error `[attr-defined]` with constants.
2. Add type annotations to the leftover root folder files except python_utils and python_utils_test.
3. Fix pylint and isort errors thrown while importing classes from typing.

[2021-06-28 00:59] aishwary023 commented on #13235
Closing as it s a duplicate issue ([ref](https://github.com/oppia/oppia/issues/12612))

[2021-06-28 00:59] #13235 closed, assigned to nobody

[2021-06-28 06:29] ashish-patwal opened #13243 "Updates to installing oppia to arch linux in wiki"
# Files updated
### Installing-Oppia-(Linux).md

# Major changes done
- Using virtualenv instead of symlinking python2 to python3
- Removed packages not available anymore (python2-yaml) in Arch repositories
- Reordered the steps in a more working and meaningful order

# Modified wiki github link
### https://github.com/ashish-patwal/oppia-arch-linux-docs

[2021-06-28 07:23] #13186 closed, assigned to kevintab95

[2021-06-28 22:31] shalmali87 opened #13248 "[SEO] Separate URLs for Lessons, Practice & Revision under all topics for Basic Mathematics"
**Is your feature request related to a problem? Please describe.**
The page https://www.oppia.org/learn/math/fractions has 3 distinct sections/tabs for Lessons, Practice, and Revision. However, the URL remains the same when each of these sections is clicked on.
I am currently in the process of doing the SEO audit. According to best practices, making URLs more specific to the content will help in m

[2021-06-28 22:56] shalmali87 opened #13249 "[SEO] Fix titles - duplicate titles & titles that are too short"
**Is your feature request related to a problem? Please describe.**
There are multiple pages with duplicate titles and multiple pages with titles that are too short.
**Issue 1 for SEO: Duplicate Titles**
The ones with duplicate titles are:
https://www.oppia.org/community-library
https://www.oppia.org/math/fractions
https://www.oppia.org/learn/math
Looks like the page title has been changed through

[2021-06-28 23:20] atpug22 opened #13251 "Not able to make changes in the interaction after the exploration is published."
**Describe the bug**
After creating a new exploration and publishing it, I am not able to make the changes in an interaction of the exploration. I am getting so many errors on the console and the changes are loading after reloading the screen only.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration and publish it.
 2. Reload the screen and try making changes in the intera

[2021-06-29 03:01] DubeySandeep commented on #13071
@seanlip @srijanreddy98 I've created a PR https://github.com/oppia/oppia/pull/13253 which will avoid logging such error messages from the frontend test, can you please check whether it looks fine to you?

[2021-06-29 03:30] lkbhitesh07 opened #13254 "Pixel of uploaded image at topics and skills dashboard are not correct"
**Describe the bug**
When we upload thumbnail at topics and skills dashboard then the pixels should be "248 x 100" instead it is "180 x 100".

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skills dashboard
 2. Click on create skill
 3. now upload the  thumbnail and see from chrome inspect
 4. See error.

**Observed behavior**
We are having the wrong pixels when we upload t

[2021-06-29 03:43] lkbhitesh07 commented on #12264
This issue is already resolved when we shifted from Angular JS to Angular but only one issue was there, when we were uploading the thumbnail then the pixels were not what they should be so I created one issue regarding that #13254 and also created PR for the same.
Thanks

[2021-06-29 05:14] mridul-netizen commented on #12264
Closing, since this is fixed in https://github.com/oppia/oppia/pull/12667

[2021-06-29 05:14] #12264 closed, assigned to kevintab95, aks681, lkbhitesh07

[2021-06-29 15:32] nithusha21 commented on #13150
@iamprayush any updates here?

[2021-06-29 20:03] iamprayush commented on #13150
I tried reproducing this locally but couldn't. It works fine. I also tried directly from my phone on oppia.org and it worked fine there as well. @YBCS Could you please try again after updating your browser once?

[2021-06-29 20:06] kevintab95 commented on #13150
I was unable to reproduce this on the `release-3.1.2` branch locally or on develop. I tried it on Chrome desktop with mobile emulation, Firefox desktop with mobile emulation and on a physical android mobile device with Chrome.

But this seems to consistently happen (on all browsers mentioned above) on the test server. Here's where I tried this: https://oppiatestserver.appspot.com/explore/3Uv8uaGrJ

[2021-06-29 20:29] seanlip commented on #13071
Thanks, I left a [couple of comments](https://github.com/oppia/oppia/pull/13253#issuecomment-870203097) in #13253.

[2021-06-29 22:29] dchen97 commented on #8194
Seems we can mark this as fixed now

[2021-06-29 23:31] seanlip commented on #8194
Yup, closing!

[2021-06-29 23:31] #8194 closed, assigned to nobody

[2021-06-30 05:42] rohitkatlaa commented on #13150
@iamprayush I was also able to reproduce this error on mobile using the test server. In the mobile, can you try using https://oppiatestserver.appspot.com instead of oppia.org because oppia.org is the previous release.

[2021-06-30 06:20] hardikkat24 commented on #13171
@DubeySandeep @sajalasati I had some doubts for error 2 and 3:
1. Will moving all typing classes to `dummy-variable-rgx` be a good solution for this? This feels unintuitive. For this, I think the best solution will be to ignore the errors rather than adding the classes to dummy-variable-rgx.
2. isort expects me to break my imports into multiple lines, that's why I used `# isort: skip`. Ex:
If I wa

[2021-06-30 13:52] sajalasati commented on #13171
I would prefer adding it to dummy regex variable because it's a better option than adding pylint ignore to literally every file of backend. And when we are done with python3 migration, it would be literally one line change to get away with ignoring this import via regex.

For the other query - having 10 lines per file (which wouldn't change post python3 migration also) does look untidy to me - but

[2021-06-30 18:03] #12855 closed, assigned to srijanreddy98, ashutoshc8101

[2021-06-30 18:18] anandwana001 opened #13272 "Update documentation"
**Describe the bug**
1. This file is for lint check CSS files, but the document says:
https://github.com/oppia/oppia/blob/3e4444d54bf52e61cdd19afb8407f60b1ede8fdb/scripts/linters/css_linter.py#L17

2. https://github.com/oppia/oppia/blob/3e4444d54bf52e61cdd19afb8407f60b1ede8fdb/scripts/linters/css_linter.py#L33
**Expected behavior**
`"""Lint checks for css files."""`

3. Update image of showing on

[2021-06-30 18:52] anandwana001 commented on #13139
@Nik-09 Is this a good first-type issue? If yes, I would like to work on this, though this helps me move around the codebase too.

[2021-06-30 23:17] rdawson10 opened #13276 "{Contributor Dashboard} - Add Marathi to Translation Language Dropdown"
Feature Request:  We would like to add Marathi to the language drop down in the Contributor Dashboard.

1.  Go to Contributor Dashboard
2. Click Translate Text at the top
3. Add Marathi as a language option in the "Translate to"  drop down selection.

![www oppia org_contributor-dashboard](https://user-images.githubusercontent.com/76458401/124042855-a2023780-d9be-11eb-94ad-36cab75fc94e.png)

[2021-07-01 08:08] atpug22 commented on #13251
I checked the previous commits on the develop and found out that this bug occurred after the merging of #13021 .
Also, the bug seems related to the changes in the editor.py file in this PR so it is worth checking that file.

[2021-07-01 08:33] kevintab95 commented on #12811
Fixed by #13198.

<img src="https://user-images.githubusercontent.com/11008603/123177341-b916c600-d4a2-11eb-86ac-39e8045579d6.png">

[2021-07-01 08:33] #12811 closed, assigned to ARKEOLOGIST

[2021-07-01 08:37] kevintab95 commented on #12956
I have fixed this in #13198. As discussed, the behaviour now will be such that the selected concept card will show highlighted and will be at the top so that users don't miss it.

<img src="https://user-images.githubusercontent.com/11008603/123177352-bfa53d80-d4a2-11eb-859d-3f8cceb1c209.gif">

[2021-07-01 08:37] #12956 closed, assigned to kevintab95

[2021-07-01 16:58] Radesh-kumar opened #13281 "Flake in Admin Page Component"
Flake in Admin Page Component
`Admin Page component  should check whether the dummy features enabled` is failing
https://github.com/oppia/oppia/runs/2961100808#step:7:2249

[2021-07-01 17:06] #13142 closed, assigned to ashutoshc8101

[2021-07-01 17:12] sajalasati commented on #13171
@DubeySandeep PTAL! (@hardikkat24 please make sure the right person is always assigned to the issue/PR before waiting on them)

[2021-07-02 03:54] #13281 closed, assigned to Radesh-kumar

[2021-07-02 07:06] DubeySandeep commented on #13171
I agree that it's not a good solution but it's better than having bypass flag in every file in the codebase, right? Also, considering once we will have python3 we can remove those values from `dummy-variable-rgx`, let me know if you can find any other solution to avoid bypass comment?

EDIT: I read @sajalasati [comment](https://github.com/oppia/oppia/issues/13171#issuecomment-871423878) which is a

[2021-07-02 07:08] DubeySandeep commented on #13171
I did a quick search and found one such [example](https://pycqa.github.io/isort/) on isort, maybe we will have to do some changes in the config?

[2021-07-02 07:32] hardikkat24 commented on #13171
Update: Sandeep found out a way to fix this.
Changes needed in .isort.cfg:
1. Disable force_single_line=false
2. Add typings to known_third_party

[2021-07-02 07:42] hardikkat24 commented on #13171
@DubeySandeep @sajalasati Tried implementing the solution. Isort tells to import in this way:
[code]
But if I do like this, another error is thrown which says `C: 40, 0: There should be a break after parenthesis when content within parenthesis spans multiple lines. `
Do anyone of you have solution for this?

[2021-07-02 07:43] hardikkat24 commented on #13171
I tried but was unable to find solution for this. For now, adding classes to dummy-variable-rgx also doesn't work.
If changed dummy-variable-rgx to: `dummy-variables-rgx=_|unused_*|Iterator|Any|Text`.
The errors thrown after this still remained the same, i.e.,
[code]
 Thanks!

[2021-07-02 08:14] sajalasati commented on #13171
@hardikkat24 @DubeySandeep I looked at the entire usage on dummy-variables-rgx in pylint ([here](https://github.com/PyCQA/pylint/blob/6f066733e23a61d83580cd1898e6b8afab8fafea/pylint/checkers/variables.py#L701 ) and [here](https://github.com/PyCQA/pylint/blob/6f066733e23a61d83580cd1898e6b8afab8fafea/pylint/checkers/variables.py#L1709)), and also the usage of functions using it, but I don't think it

[2021-07-02 18:03] anandwana001 commented on #10064
I am facing this issue and cleaning doesn't help.

[2021-07-02 19:44] kevintab95 commented on #13143
Closing this since it has been fixed in https://github.com/oppia/oppia/pull/13216.

Proof:
![resp](https://user-images.githubusercontent.com/11008603/124321850-02020500-db9c-11eb-85cd-8140395621f2.gif)

[2021-07-02 19:44] #13143 closed, assigned to aks681

[2021-07-03 01:12] #12857 closed, assigned to aks681

[2021-07-03 01:12] #13067 closed, assigned to aks681

[2021-07-03 01:12] #13068 closed, assigned to aks681

[2021-07-03 01:14] aks681 commented on #12951
The static translations mentioned as part of this issue has been fixed in PR mentioned in the thread. The dynamic ones like exploration title and interaction prompt are still pending (since, we don't have a way to do dynamic translation currently).

[2021-07-03 01:34] seanlip commented on #10064
Hi @anandwana001, could you please check with @DubeySandeep about this? He should be able to help you.

Does running the backend tests on a clean develop branch work?

[2021-07-03 06:28] #13088 closed, assigned to hardikkat24

[2021-07-03 08:25] anandwana001 commented on #13272
@DubeySandeep

[2021-07-03 09:26] lkbhitesh07 opened #13295 "Warning at story editor page - Line is not completely visible"
**Describe the bug**
When we will go to the story editor page and check out the warnings then we will see that the warning is getting cut by the box.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the story editor page
 2. Click on warnings
 4. See an error

**Expected behavior**
The warning text shouldn't be cut by the box.

**Screenshots**
![Screenshot from 2021-07-03 14-50-35](htt

[2021-07-03 16:26] sajalasati commented on #13171
@hardikkat24 What's the problem here exactly? Its our convention to to break at the parentheses when content inside it will span multiple lines. Instead of what you wrote, the correct way would be (the indentation might be a bit off here):
[code]
I think breaking this way is okay. Also, you wouldn't have to do this for all files - like the places where you don't import all these, you might not hav

[2021-07-03 16:46] srikanthkb opened #13299 "Move ASSET_TYPE_* from app.constants.ts to constants.ts"
**Is your feature request related to a problem? Please describe.**
The following four constants are used both in the frontend and backend:
- `ASSET_TYPE_AUDIO`
- `ASSET_TYPE_IMAGE`
- `ASSET_TYPE_THUMBNAIL`
- `ASSET_TYPE_CLASSIFIER_DATA`

Having them in `constants.ts` allows reusing of these in both frontend and backend.

**Describe the solution you'd like**
Move the constants from `app.constants.t

[2021-07-03 17:31] hardikkat24 commented on #13171
@sajalasati @DubeySandeep The issues faced while using the sort solution suggested above:
1. isort accepts the import only in the following way:
[code]
    This throws the error due to our other lint check. The error is: `There should be a break after parenthesis when content within parenthesis spans multiple lines.`
    If the try to break after the bracket, isort throws the error to fix the impo

[2021-07-04 02:37] #13199 closed, assigned to nobody

[2021-07-04 15:08] kevintab95 commented on #13150
Hi, I'm still unable to reproduce this locally but I have some analysis and an idea about what might be going wrong. I do not have a solution yet but I wanted to post this here in case any one has tips/suggestion for how to fix this. The issue is as follows:

1. Guppy binds a "mousedown" listener to window with the "[useCapture](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEvent

[2021-07-04 18:25] intaschi opened #13306 "Lessons Default Language don't match the website selected language"
**Describe the bug**
When logged out, after change the website language for Portuguese (or any other language different from english), and then enter some of the Oppia's Classroom math lessons, the language of the lesson selected by default still is English, instead of the same language I have selected for the website (I have to select again the new language inside the lesson). This happens even w

[2021-07-04 19:06] intaschi opened #13308 "Text inside Oppia's Classroom is not being translated for other languages."
**Describe the bug**
When I enter Oppia's classroom page, and also when I enter a specific topic page, there are several important informations that are not being translated. It is very importante that this pages are properly translated, because when parents or other people enter Oppia's Classroom and see it all in english, they get confused in a lot of ways:

- Majority of the students and parent

[2021-07-04 23:18] anandwana001 commented on #13299
Solving in https://github.com/oppia/oppia/pull/13159

[2021-07-04 23:18] #13299 closed, assigned to anandwana001

[2021-07-05 01:12] anandwana001 commented on #13131
Hi @hardikkat24

I am trying to create a PR but getting this error.

[code]

I am on MacOs BigSur, python 2.7.
Installed mypy using python 3 - `pip3 install mypy --user`

### Update
Run `python3 -m pip install -r /opensource/oppia/mypy_requirements.txt --user`
and tried again git push and got

Also, tried `python3 -m pip install -r ./mypy_requirements.txt `
[code]

[2021-07-05 06:21] sajalasati commented on #13131
@anandwana001 @hardikkat24 I tried to do a fresh install on a different machine (intel based macOS 10.15.7) as per the instructions given in [wiki](https://github.com/oppia/oppia/wiki/Backend-Type-Annotations#requirements-for-adding-type-annotations) and got the following error:
[code]

The real reason it seems is -  **The scripts dmypy, mypy, stubgen and stubtest are installed in '/Users/sajalasa

[2021-07-05 07:26] sajalasati commented on #13131
Had an offline discussion with @hardikkat24 about this. We are not sure if this is just happening for mac or for linux and others too.

**How packages are being installed currently**: `mypy` was a python3 package so @hardikkat24 had planned to install it in default system location which is `/Users/sajalasati/Library/Python/3.8/bin` for me on macOS 10.15.7.

**Why this error came**: `/Users/sajalas

[2021-07-05 19:28] seanlip commented on #13131
No concerns from my end, deferring fully to @DubeySandeep for this since he's in charge of dev workflow.

[2021-07-05 19:28] seanlip commented on #13131
(I suggest going ahead and making the PR as needed anyway so that it can be merged ASAP if @DubeySandeep gives approval.)

[2021-07-05 19:30] STAMcM commented on #13272
Is anyone working on this issue, or I am able to try this as my first PR?

[2021-07-05 21:04] kevintab95 opened #13314 "Translation language drop down does not reflect the selected language"
**Describe the bug**
Translation language drop down does not reflect the selected language.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard > Translate Text.
 2. Change the language using the dropdown.
 3. Observe that the value in the drop down does not update.

**Observed behavior**
Translation language drop down does not reflect the selected language.

**E

[2021-07-05 21:04] kevintab95 commented on #13314
/cc @sagangwee

[2021-07-06 06:03] #13173 closed, assigned to chris7716

[2021-07-06 07:44] #13172 closed, assigned to FareesHussain

[2021-07-06 15:06] #13295 closed, assigned to nobody

[2021-07-06 18:32] dchen97 commented on #12067
Is this an issue we see on oppia.org or just on the Foundation site? If this is a foundation site specific issue then we should have this filed under that project (https://github.com/oppia/foundation-website) instead of this one

[2021-07-06 18:36] DubeySandeep commented on #13171
@hardikkat24 Let's resolve the linter-related issue separately. Can you please add all your findings in a doc and share it with me? We can work together and find a reliable solution! :)

[2021-07-06 18:38] DubeySandeep commented on #13171
Please ignore my above comment, I found the link to Hardik's comment in a separate PR and while writing the above comment I assumed I'm in the same PR (but later found it to be a separate issue.) [Sorry, having a bad internet connection.]

[2021-07-06 19:07] dchen97 commented on #13220
@seanlip - Do you have any thoughts on why this might be happening? Or know who should troubleshoot this?

[2021-07-06 19:09] seanlip commented on #13220
@iamprayush would be the best person to advise, since he built this interaction...

[2021-07-06 19:09] seanlip commented on #13220
(I don't know why it's happening.)

[2021-07-06 19:49] ashutoshc8101 opened #13324 "Protractor has issues with scrolling mat select."
**Describe the bug**
Protractor has issues scrolling mat select. This issue occurred in PR #13219.
A workaround was used to avoid scrolling.

Find a fix to make the protractor scroll mat select.

**To Reproduce**
Steps to reproduce the behavior:
 1. Try to click an `mat-option` with protractor which requires scrolling.

**Observed behavior**
It tries to click the open without scrolling, hence clic

[2021-07-06 19:57] hardikkat24 opened #13326 "Removes pylint ignore for __future__"
After [this](https://github.com/oppia/oppia/pull/13269) PR gets merged, we can remove `# pylint: disable=import-only-modules` for `__future__` imports.

[2021-07-06 20:10] Rijuta-s opened #13327 "Improvements to be done in Blog Admin Page And Blog Dashboard."
- [x] Hovering on 'Save As Draft' button and 'Publish' Button should display issues if they are disabled.

- [x] Creating an SVG from scratch in the body, then saving draft and refreshing the page resulted in broken images with 404.

![save_draft_refresh_results_in_broken_images](https://user-images.githubusercontent.com/68547101/130563261-dacad007-7799-4ec2-b8ef-9459fc620efb.png)

- [x] After a S

[2021-07-07 07:14] Nik-09 opened #13331 "Payload not passed from frontend for clear_search_index"
In the backend structure, 'clear_search_index' an argument of AdminHandler class expects a payload with name 'action', but from frontend no payload is sent.
I have tried to pass 'action' inside the payload but  reproduced the following error:

**Backend code reference :** [here](https://github.com/oppia/oppia/blob/f9a51446777f9d6dbb14f8e3d4dc3a35b7869098/core/controllers/admin.py#L143)
**Frontend

[2021-07-07 17:14] #13239 closed, assigned to nobody

[2021-07-07 18:09] seanlip commented on #1449
Closing since this is low priority and we're deprioritizing the notifications tab.

[2021-07-07 18:09] #1449 closed

[2021-07-07 18:09] seanlip commented on #5084
Closing since we're moving away from collections.

[2021-07-07 18:09] #5084 closed, assigned to nobody

[2021-07-07 18:10] seanlip commented on #5863
Closing since low-priority, we'll investigate further if this comes up again.

[2021-07-07 18:10] #5863 closed, assigned to nobody

[2021-07-07 18:13] seanlip commented on #12067
We are working on merging the Foundation site into the main site, so closing this as it won't be relevant going forward.

[2021-07-07 18:13] #12067 closed, assigned to nobody

[2021-07-07 18:13] kevintab95 commented on #8689
Closing this since it no longer occurs on the server.

[2021-07-07 18:13] #8689 closed, assigned to iamprayush

[2021-07-07 18:52] vojtechjelinek commented on #10474
@klenathstar Hey, any update with your file? Do you need help with anything?

[2021-07-08 06:13] #13157 closed, assigned to anandwana001

[2021-07-08 08:48] #13254 closed, assigned to nobody

[2021-07-08 14:18] hardikkat24 opened #13341 "Add type annotations to files of scripts folder"
Type annotations should be added to files of `scripts/` directory. For more information on adding type annotations, please see [wiki](https://github.com/oppia/oppia/wiki/Backend-Type-Annotations).
For steps to add Type Annotations, please see [wiki](https://github.com/oppia/oppia/wiki/Backend-Type-Annotations#adding-type-annotations).

Note: Type annotations to the test files should be added along

[2021-07-08 15:39] #12736 closed, assigned to BenHenning

[2021-07-08 17:48] NavSrijan commented on #13341
I am new to this but I believe I can help in this. Can you provide some information about how can I?

[2021-07-08 18:11] anandwana001 opened #13344 "Pre push fails for mypy"
**Describe the bug**
Pre push check is failing when installing `mypy`

**To Reproduce**
Steps to reproduce the behavior:
1. `export PATH="/Users/USER_NAME/Library/Python/3.8/bin:$PATH"`
2. `python3 -m pip install typed-ast --user`
3. Try to push something to a PR from the latest develop branch

Also, running the script `python -m scripts.run_mypy_checks` gives a similar error.
Happening on develop

[2021-07-08 18:11] anandwana001 commented on #13344
@sajalasati @hardikkat24 PTAL

[2021-07-08 18:25] sajalasati commented on #13344
@anandwana001 Can you show the output of following commands after seeing the above error?
[code]

[2021-07-08 18:28] anandwana001 commented on #13344
[code]

[2021-07-08 18:37] sajalasati commented on #13344
@anandwana001 I am on macOS Catalina (10.15.7) - followed the steps but was unable to reproduce this on my laptop. Similar to you since I have ran this before, I already have mypy installed as you show in your `ls` output. But as soon as I export PATH variable, the script runs fine
@hardikkat24 Any idea where the typed-ast package is getting installed? I cannot find it anywhere.

[2021-07-08 22:41] sagangwee commented on #12959
Relevant rules translation design doc: https://docs.google.com/document/d/1PtNQDuVo_lHm3DVP_PelwcKrZpjrsLRMKVLEbftnpbU/edit#

[2021-07-09 00:37] kevintab95 opened #13346 "RTE output display seems to show stale text nodes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard.
 2. Try to translate a lesson.
 3. If the text to be translated is non-HTML content (e.g. button text), skip it.
 4. Observe that the skipped text is appended in the displayed cards after skipping.

**Observed behavior**
RTE output display

[2021-07-09 00:42] kevintab95 commented on #13346
Please note that the reproduction steps is just an example used to illustrate the underlying problem of "stale text nodes" in the component.

[2021-07-09 01:56] #13314 closed, assigned to nobody

[2021-07-09 04:05] srikanthkb opened #13347 "Introduce new attribute proto_size_in_bytes for Exploration models"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic contents download size for Android clients is important (for offline downloads and space allocation on device). By storing the proto sizes (in bytes) of ExplorationModel within the structure, we can calculate the total topic content download size on the fly -- by fetching this new attribute from Exploration

[2021-07-09 04:12] srikanthkb opened #13348 "Introduce new attribute proto_size_in_bytes for Question model"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic contents download size for Android clients is important (for offline downloads and space allocation on device). By storing the proto sizes (in bytes) of QuestionModel within the structure, we can calculate the total topic content download size on the fly -- by fetching this new attribute from Question domain

[2021-07-09 04:34] srikanthkb opened #13349 "Introduce new attribute proto_size_in_bytes for Skill model"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic contents download size for Android clients is important (for offline downloads and space allocation on device). By storing the proto sizes (in bytes) of SkillModel within the structure, we can calculate the total topic content download size on the fly -- by fetching this new attribute from Skill domain objec

[2021-07-09 04:49] DubeySandeep opened #13350 "Move the remaining linter checks from PythonLintChecksManager to pylint."

[2021-07-09 04:51] DubeySandeep commented on #13350
Somehow this issue got opened because of misclicking a button (a new feature in Github)!

[2021-07-09 04:51] #13350 closed, assigned to nobody

[2021-07-09 07:56] atpug22 commented on #13346
I also got this bug. Here are the ways to reproduce it.

1. Create a new exploration and do not add the content in the first state of exploration and add a second state.
2. Add End Exploration in the second state so that the content updates automatically to "Congratulations, you have finished!".
3. Now don't make any changes in the content in any state and just try switching the states again and a

[2021-07-09 14:38] #13049 closed, assigned to srikanthkb

[2021-07-09 15:05] kevintab95 opened #13352 "TODO: Initialize StateTopAnswersStatsService and register relevant callbacks."
The visualization info functionality has been temporarily deprecated by having the related editor controllers return empty/default dicts ([example](https://github.com/oppia/oppia/blob/5fb6953ff7e0009e561e832b2fc93108f3a44315/core/controllers/editor.py#L765)) but this was not UI properly. This is resulting in console errors and blocks editing of interactions in published explorations. Current worka

[2021-07-09 18:20] #13156 closed, assigned to srikanthkb

[2021-07-09 19:06] seanlip opened #13357 "Occasional CI errors with third-party deps on develop"
**Describe the bug**

We are occasionally seeing checks on develop (on GitHub Actions) that fail due to third-party installation errors. See https://github.com/oppia/oppia/runs/3031667649?check_suite_focus=true for example.

This is a bit disruptive and should be fixed. It looks like this might be due to an incomplete download; maybe we should add retry functionality or cache the dependency someho

[2021-07-09 19:06] seanlip commented on #13357
/cc @DubeySandeep @sajalasati could you please triage (as dev workflow team)?

[2021-07-09 19:14] seanlip commented on #13346
Per investigation by @kevintab95, the PR that caused this regression seems to be https://github.com/oppia/oppia/pull/13229. /cc @srijanreddy98

[2021-07-09 19:26] Radesh-kumar opened #13358 "Frontend test flakes in develop"
**Observed Logs**
<pre>Chrome Headless 90.0.4430.93 (Linux x86_64) GuppyConfigurationService Components calling the service should not configure guppy on multiple initializations FAILED
	TypeError: Cannot read property 'init' of undefined
	    at MockComponent.onInit (core/templates/combined-tests.spec.js:144761:33)
	    at UserContext.<anonymous> (core/templates/combined-tests.spec.js:144824:27)

[2021-07-09 19:40] iamprayush opened #13359 "State name change causes a server error instead of a merge conflict."
**Describe the bug**
Consider 2 users working on an exploration, user 1 and user 2.
User 1 change the state name of the first state and publishes the changes.
User 2 makes any of the following changes:
- Make changes in the content of the first state and wait for autosave.
- Remove the interaction of the first state and wait for autosave.
- Make changes in the content of the first state and publis

[2021-07-09 23:27] #13346 closed, assigned to nobody

[2021-07-10 07:09] #13158 closed, assigned to anandwana001

[2021-07-10 10:45] PranshuSrivastava commented on #10474
Hey @vojtechjelinek, the file that I am working with is very complex and has a lot of dependencies. Is there a simpler file that I can get started with?

[2021-07-10 16:16] DubeySandeep opened #13365 "Only translation admin should be allowed to access translation stats through contributor-dashboard-admin page"
Currently, all the users (translation and question admins) who can access the contributor-dashboard-admin page can check the translation stats through the admin-dashboard.

We are only expecting the translation admin to access the translation stats. Through this issue, we are expecting to create a new ACL `can_access_translation_stats` and use it for `TranslationContributionStatsHandler`.

[2021-07-11 00:33] #12184 closed, assigned to sagangwee

[2021-07-11 18:56] atpug22 opened #13373 "Structural changes and improvement in "handling merge conflicts in change lists" functionality."
Here is the list of the improvements that can be done to the code which handles the conditions to merge the changes in case of multiple collaborators contributing to the same exploration.

 - [ ] Use state object to find the property name for the given content-id instead of relying on id-pattern. [Link](https://github.com/oppia/oppia/pull/13342/files#r667389108)
 - [ ] Find a way to avoid a duplic

[2021-07-11 18:56] atpug22 opened #13374 "Use state object to find the property name for the given content-id instead of relying on id-pattern. Link"

[2021-07-11 19:00] #13374 closed, assigned to nobody

[2021-07-12 01:09] tinalixky opened #13376 "Filter Option for Reviewer + Search Tool for Lesson for Translator"
**Is your feature request related to a problem? Please describe.**
Currently, when translation appear in the reviewers' dashboard it is order from the most recently translated which in most case is not a big problem. However, when prioritizing a certain lesson or category for review, it is extremely tedious and hard to search for each lesson, so they would instead need to go through all translatio

[2021-07-12 12:13] #13119 closed, assigned to vojtechjelinek

[2021-07-12 14:19] vojtechjelinek commented on #10474
@PranshuSrivastava Which file are you working on?

[2021-07-12 14:54] PranshuSrivastava commented on #10474
@vojtechjelinek I am working on ExplorationDiffService

[2021-07-12 18:40] EeshaArif commented on #10474
Hey @PranshuSrivastava! you can get started with `extensions/interactions/CodeRepl/directives/oppia-response-code-repl.component.ts` .  This [guide](https://github.com/oppia/oppia/wiki/Guide-on-defining-types#cases-encountered-in-oppia-codebase) may help.

[2021-07-12 20:31] DubeySandeep opened #13385 "Send tranlstions and question related emails to translation and question admins"
Currently, the translations and questions-related emails are sent to admins, we are expecting to send these emails to translation admins.

Changes required in the following functions in email_manager.py:
- send_email_to_new_contribution_reviewer
- send_mail_to_notify_contributor_dashboard_reviewers
- send_mail_to_notify_admins_that_reviewers_are_needed
- send_mail_to_notify_admins_suggestions_wait

[2021-07-13 02:34] DubeySandeep opened #13388 "Change the roles value in datastore to match the variables name"
Through PR #12989 we have changed the following role's varaible name:

- `ROLE_ID_ADMIN` --> `ROLE_ID_CURRICULUM_ADMIN`
- `ROLE_ID_EXPLORATION_EDITOR` --> `ROLE_ID_FULL_USER`
- `ROLE_ID_LEARNER` --> `ROLE_ID_MOBILE_LEARNER`

But teh actual value of these variable names are not changed as the values are stored in datatstore. Through this issue we are expecting to write a one-off job to change the v

[2021-07-13 05:16] anandwana001 opened #13389 "Correct Indentation"
**Describe the bug**
@aks681 Is the indentation of these lines are correct?
The expand/collapse option of VSCode understands that these lines are outside of class `ExplorationYamlImportingTests`.

https://github.com/oppia/oppia/blob/aa89cb1c400ba2c9893141b05a81ea75aa938fea/core/domain/exp_services_test.py#L1260

**Observed behavior**
VSCode expands/collapse considering these lines outside the clas

[2021-07-13 05:22] seanlip commented on #13389
This is correct. Look up triple quotes in python. If we added spaces at the beginning of those lines then the string constant's value itself would erroneously include those extra spaces.

[2021-07-13 05:22] #13389 closed, assigned to aks681

[2021-07-13 06:08] seanlip opened #13390 "Ctrl+0 seems to be navigating to a different page unexpectedly"
**Describe the bug**
Entering Ctrl+0 in the exploration editor causes the page to navigate to the Getting Started page, which is unexpected. This is disruptive because (at least in Chrome and Firefox), Ctrl+0 is used to reset the zoom level.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor page.
 2. Zoom in your browser (by holding down Ctrl and tapping '+').
 2.

[2021-07-13 06:09] seanlip commented on #13390
Note: I think this is an issue due to changes made for accessibility. @jimbyo, would you mind taking a look into it, please?

[2021-07-13 10:13] #13251 closed, assigned to nobody

[2021-07-13 18:35] leylatuon commented on #10474
@vojtechjelinek hello! I'm new to typescript and I would like to be assigned a file to work on.

[2021-07-13 22:15] sagangwee commented on #13376
We're actively working on sorting and filtering in https://github.com/oppia/oppia/issues/12181 and https://github.com/oppia/oppia/issues/11932! De-duping for now.

[2021-07-13 22:15] #13376 closed, assigned to nobody

[2021-07-13 23:51] #12960 closed, assigned to sagangwee

[2021-07-14 02:39] klenathstar commented on #10474
@vojtechjelinek sorry for the late reply, been a mite busy recently!

I'm not running into any issues so far, but I'll be sure to pop in if I have any questions!

[2021-07-14 12:18] brianrodri opened #13397 "ValidateBlogPostModelDomainObjectsInstances is using BaseModel.get() to determine its validation mode"
ValidateBlogPostModelDomainObjectsInstances is using an NDB get operation to determine whether it should be using strict validation or not: https://github.com/oppia/oppia/blob/a2223926fb5ca6f1e8daaa9cb8909fdbfa5507e4/jobs/transforms/blog_validation.py#L78-L85

However, calls to get/put/delete/get_multi/put_multi/delete_multi are forbidden in Apache Beam jobs. We'll need to write a custom validatio

[2021-07-14 13:07] EeshaArif commented on #10474
hey @leylatuon! you can start working on `core/templates/services/image-upload-helper.service.ts`

[2021-07-14 19:04] hardikkat24 opened #13398 "TODO: Change MyPy installation after Python3 migration"
Aim: Change MyPy requirements installation after Py3 installation.

Current Structure:
- We install mypy and its requirements from `scripts.run_mypy_checks` itself.
- We install mypy and its requirements are downloaded globally for CI checks and in `third_party` folder for local checks.

Issues:
- Third party libraries must be downloaded through `install_third_party_libs`.
- Installation of third

[2021-07-15 03:30] sophiewu6 opened #13399 "Contributor dashboard translation opportunities language filter selection doesn't get updated when being clicked"
**Describe the bug**
On the contributor dashboard translation opportunities page, when I clicked on a different language option, the selected language wasn't changed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/contributor-dashboard
 2. Click on Translate Text tab
 3. Click on the "Translate to" dropdown menu
 4. Select a different language
 5. See the select

[2021-07-15 05:13] sophiewu6 commented on #13399
Closing it since it's already fixed in PR #13316

[2021-07-15 05:13] #13399 closed, assigned to nobody

[2021-07-15 07:37] seanlip commented on #10373
Deassigning @kevjumba since I don't think he's working on this.

[2021-07-15 08:29] PranshuSrivastava commented on #10474
Ok sure, I will give it a go.

[2021-07-15 16:46] DubeySandeep commented on #13113
Please update the issue description with the following info:
`<Current-strucutre>, <Issue with current-structure>, <Why the issue cannot be fixed until python migration>.
<How to fix the issue after python migration>`

[2021-07-15 20:29] hardikkat24 commented on #13113
This issue will be fixed in #13398

[2021-07-15 20:30] #13113 closed, assigned to hardikkat24

[2021-07-15 23:25] intaschi opened #13406 "Voiceovers are not matching the right card"
**Describe the bug**
In a math lesson from Oppia's classroom, I click the first time to listen to the card voiceover and it matches the card, when I go to the nexts cards, the voiceover keeps repeating the same audio from the card you first clicked play.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Chapter 1 from Place Values Topic (but this is happening in other topics too) -
 2.

[2021-07-16 02:26] #11881 closed, assigned to FareesHussain

[2021-07-16 08:58] kevintab95 opened #13408 "Frequently hitting the memory limit when running frontend tests"
When running the frontend tests, I get the following error quite frequently:

[code]

Machine specs:
RAM: 8 GB
Processor: Intel Core i5 CPU @ 1.60GHz × 8

[2021-07-16 09:01] kevintab95 commented on #13408
/cc @aishwary023 @Radesh-kumar @gp201 FYI

[2021-07-16 19:03] hardikkat24 opened #13410 "Remove types from docstrings for file with type annotations"
Aim:
- Update the linter so that it enforces presence of types in docstring for only non-type annotated files.
- Remove types from docstrings from files having type annotations

[2021-07-16 21:36] kevintab95 commented on #13031
When copying concept cards, we auto select the concept card and display it at the top so users don't miss it. See https://github.com/oppia/oppia/issues/12956#issuecomment-872047200. Closing for now.

[2021-07-16 21:36] #13031 closed, assigned to tanmaysahay

[2021-07-16 22:02] kevintab95 opened #13411 "Linter is too strict for certain docstring cases"
For the following code, I get an error:

[code]

Error:
[code]

For this specific scenario, if the parameter type and description is moved to the first line in the docstring, it results in a max-len violation and requires a pragma to be used. This seems unexpected. It should be possible to break to the next line for the description if the type is too long.

See https://github.com/oppia/oppia/pull/

[2021-07-16 23:34] sagangwee commented on #12957
@intaschi For translating an interaction, e.g. a TextInput or Multiple Choice, which would you prefer?

* "Please translate the given interaction: TextInput"
* "Please translate the given interaction"
* "Please translate the given content" (can not differentiate between interaction types)

[2021-07-17 00:01] intaschi commented on #12957
@sagangwee
I think "Please translate the given interaction" is fine :)

[2021-07-18 10:06] aishwary023 opened #13417 "FE Flake in I18nLanguageCodeService"
**Describe the bug**
The following flake occurred while pushing my changes. Changes were not related to `I18nLanguageCodeService`.

![image](https://user-images.githubusercontent.com/26626415/126063134-33564e14-7e1d-4666-894f-738392037e18.png)

**Additional context**
Since specs for `I18nLanguageCodeService` for added one year ago, this error might be caused due to changes in some other file.

[2021-07-18 16:22] kevintab95 opened #13420 "[Server Error] ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked"
This error occurred recently in production

[code]

This error was observed when playing this exploration: https://www.oppia.org/explore/K645IfRNzpKy?story_url_fragment=jaimes-adventures-in-arcade&topic_url_fragment=place-values&classroom_url_fragment=math&node_id=node_1

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like us

[2021-07-18 17:12] vojtechjelinek opened #13421 "Backend tests in core/tests are not part of the shards"
Backend tests (like test_utils_test.py or gae_suite_test.py) in core/tests are not part of the shards and thus they are not tested as part of the CI.

The files in core/tests need to be added to some shards and also the code in run_backend_tests.py needs to be modified in a way that when these files are missing and we attempt to run any shard error is produced (the code for this already exists, bu

[2021-07-19 18:31] vojtechjelinek opened #13427 "Replace `Any` in main_test.py with proper type"
Replace `Any` in main_test.py with the proper type when we have a way of handling dynamic imports in MyPy.

[2021-07-19 21:02] EeshaArif opened #13429 "Pre-push mypy checks fails"
**Describe the bug**
Installation of mypy and stubs for third party libraries fails after #13310 .

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `python -m scripts.run_mypy_checks`
 2. After pushing a change to a PR from the latest branch

**Observed behavior**
![Screenshot from 2021-07-20 01-56-47](https://user-images.githubusercontent.com/43031234/126226364-57cc04ad-149a-40f8-88b9-e

[2021-07-19 21:02] EeshaArif commented on #13429
@hardikkat24 PTAL, Thankyou!

[2021-07-19 23:57] #13148 closed, assigned to kevintab95

[2021-07-20 06:18] seanlip commented on #7009
This seems to relate at least in part to the subtopic migration -- /cc @aks681. (See topic_services_test.py -- the TODO saying "Remove this mock class and the SubtopicMigrationTests class # once the actual functions for subtopic migrations are implemented.")

[2021-07-20 06:38] ReshuKumari commented on #12399
PR #13377 shows the message that the skill is deleted, it does not send an email to the creator. According to LACE team discussion it will be handled latter.

[2021-07-20 13:59] hardikkat24 commented on #13429
@EeshaArif That's pretty strange. Can you please remove third_party and try running this again?

[2021-07-20 15:39] leylatuon commented on #10474
Hi I'm having trouble setting up is there someone I should reach out to for help?

[2021-07-20 15:54] U8NWXD commented on #10474
@leylatuon the [Gitter channel](https://gitter.im/oppia/oppia-chat) is a great place to ask questions about setting up Oppia!

[2021-07-20 16:16] soumyo123-prog commented on #10474
Hi @nishantwrp , I would like to work on ExplorationImprovementsService. Can you assign me this file?

[2021-07-20 17:11] mridul-netizen commented on #10474
Hi @soumyo123-prog , I have assigned you for the file `core/templates/domain/improvements/exploration-improvements-config.model.ts` & spec.

[2021-07-20 18:55] #12993 closed, assigned to U8NWXD

[2021-07-20 21:34] #13406 closed, assigned to nobody

[2021-07-20 21:45] sagangwee opened #13440 "[Contributor Dashboard] Make it more clear which language is being translated"
Some translators have gotten confused which language they are translating for as they thought their "review rights" indicated the active language:

![Screenshot from 2021-07-16 10-47-20](https://user-images.githubusercontent.com/9004726/126399490-47bcb3af-92c2-4c16-814c-3456958df425.png)

The proposed improvements are as follows:
1. Change the "review rights" section to be something like "You can

[2021-07-20 23:48] EeshaArif commented on #13429
@hardikkat24 Have tried that multiple times, it gives the same error.

On a slighter note `python -m scripts.run_mypy_checks --install-globally` works just fine.

[2021-07-21 00:42] DubeySandeep commented on #13357
This happens unexpectedly sometimes for everyone as stated here: https://github.com/yarnpkg/yarn/issues/5865

I also tried downloading the `https://registry.yarnpkg.com/typescript/-/typescript-4.3.2.tgz` and it failed once in 3 attempts.

Possible solutions:
1. Change the registry `yarn config set registry https://registry.npmjs.org`
2. Use `yarn config set strict-ssl false`

[2021-07-21 04:28] DubeySandeep commented on #13357
Suggestion from Sean: Maybe try redownlaoding the packages after few secs.

[2021-07-21 10:41] ashutoshc8101 opened #13443 "TODO: Remove hybrid router module provider once all pages are migrated to angular router."
Only some pages are migrated to the angular router.
The `routerLink` directive provided by RouterModule helps in changing the page without full reload.
The most important components for navigation `top-navigation-bar`, `side-navigation-bar` and `oppia-footer` are shared across all pages.
To be able to use `routerLink` in these components, I have introduced a file called `hybrid-router-module-provi

[2021-07-21 12:50] anubhutiv opened #13444 "[Contributor dashboard] Translations are not getting saved"
**When it happens:** Happens intermittently.

**Description**

Video grab of the scenario:
https://drive.google.com/file/d/1yTQxIFXIU7G-5o0pIQSIZrOzqCcdNVNZ/view?usp=sharing

[2021-07-21 13:43] anubhutiv commented on #13444
Please note that I am logged in to multiple accounts, including my Oppia one.

[2021-07-21 16:31] hardikkat24 commented on #13429
@EeshaArif Can you try running `python3 -m pip install -r ./mypy_requirements.txt --target /<pathToOppia>/third_party/python3_libs --upgrade` and send me the output. Before running that, please delete python3_libs/.

[2021-07-21 17:09] DubeySandeep opened #13447 "Don't populate user roles related information in general response for a request"
Currently, we populate response with `is_admin`, `is_moderator`, `is_topic_mange` in the base handler. These values are unexpecdtly sent via most of the handlers. Through this issue we want to remove populating response with roles-related information.

Code pointer:
https://github.com/oppia/oppia/blob/0d80c5e6960b19721678dd13db68636a631282dc/core/controllers/base.py#L241-L245

[2021-07-21 18:05] leylatuon commented on #4057
@nithusha21 Hi can you assign me the topic-creation.service.ts file?

[2021-07-21 18:24] leylatuon commented on #8038
@DubeySandeep Hello! I'd like to work on this issue, can you assign me one of the available files?

[2021-07-21 23:57] pallavimantri opened #13448 "Incorrect prefilled answer for the practice question"
**Describe the bug**
* Incorrect prefilled answer for the practice questions for place values lesson 2

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/explore/BhD7tbFygSxA?story_url_fragment=jill-arcade&topic_url_fragment=place-value&classroom_url_fragment=math&node_id=node_2'
 2. You can see the error in the prefilled answer box

**Observed behavi

[2021-07-22 04:58] EricZLou commented on #13429
Also running into this error! I'm on WSL2.

[code]

[2021-07-22 05:03] EricZLou opened #13449 "Maintaining RTE (Rich Text Editor) Data with Frontend Validation Checks"
**All Validation Check Issues:**
- **[you are here]** #13449
- #13603
- #13764
- #13820
- #13821
- #13822

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of future data.

[2021-07-22 05:51] hardikkat24 commented on #13429
@EricZLou Can you please do a couple of things?
1. Run `python3 -m pip install -r ./mypy_requirements.txt --target /<pathToOppia>/third_party/python3_libs --upgrade --user --prefix= --system` and tell me the output.
2. If this runs fine, can you please add `return 0` after [this](https://github.com/oppia/oppia/blob/83855e8a68f4a1ff342fd1d08ee571683d15b470/scripts/run_mypy_checks.py#L837) line insi

[2021-07-22 06:03] EricZLou commented on #13429
The first command worked correctly! After adding `return 0`, it gets farther in the logic, but still raises some error. This was my output from `python -m scripts.run_mypy_checks`.
[code]

[2021-07-22 06:10] hardikkat24 commented on #13429
@EricZLou Can you remove the third_party/python3_libs/ and then run the modified script? And then send me the tree structure of third_party/python3_libs/
Thanks again!

[2021-07-22 06:11] hardikkat24 commented on #13429
@sajalasati PTAL.

[2021-07-22 06:16] EricZLou commented on #13429
Removed the folder and ran the modified script, and had the same output as above. Here's the tree structure in the end:
[code]

[2021-07-22 06:26] hardikkat24 commented on #13429
@EricZLou Can you send the directory tree of your [user base](https://docs.python.org/3/library/site.html#site.USER_BASE) directory?

[2021-07-22 07:11] rohitkatlaa opened #13451 "Changes saved alert is not displayed correctly"
**Describe the bug**
The "changes saved" alert which is displayed when an exploration change is saved is not displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Edit an exploration
 3. Click Save Changes button
 4. The "changes saved" alert is not displayed correctly.

**Observed behavior**
![Screenshot from 2021-07-22 12-38-42](https://user-images.githubusercontent.com/424

[2021-07-22 07:14] rohitkatlaa commented on #13451
@oppia/lace-team can you please take a look. Thanks!

[2021-07-22 07:34] rohitkatlaa opened #13452 "Able to access the exploration editor without loging in"
**Describe the bug**
Able to access the exploration editor without loging in. This should not be allowed because the exploration editor of an exploration should only be accessible to the creators(and other higher level members).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to incognito
 2. Open the link of a exploration editor i.e for example https://oppiatestserver.appspot.com/create

[2021-07-22 08:05] seanlip commented on #13452
Thanks for noting this, @rohitkatlaa!

Just a note -- this has been the expected behaviour historically, as long as the lesson has been published. If it's not been published, then this would be a problem and we would need to fix it. Could you please confirm?

[2021-07-22 09:53] rohitkatlaa commented on #13452
Yes I am not able to access it if it is not published. Thanks for the clarification.

[2021-07-22 09:53] #13452 closed, assigned to rohitkatlaa

[2021-07-22 11:41] mridul-netizen opened #13453 "No Option to Reorder Explorations at "Play Later" list"
**Describe the bug**
There is no option to reorder explorations at play later tab unlike other tabs

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library page'
 2. Add 3 or more explorations to play later
 3. Go to Learner Dahboard -> Play Later section
 4. No option to sort or reorder exploration is there

**Screenshots**

Play Later tab
![image](https://user-images.githubusercont

[2021-07-22 11:51] mridul-netizen opened #13454 "Broken image of author at "subscriptions" Tab"
**Describe the bug**
Profile Image of the author of an exploration to which a learner subscribes looks broken at Subscription Tab on Learner's Dashboard
**To Reproduce**
Steps to reproduce the behavior:
 1.Subscribe to an author
 2. See behaviour at learner's dashboard

**Observed behavior**
A clear and concise description of what you have observed.
Chrome
![image](https://user-images.githubuserco

[2021-07-22 13:45] EeshaArif commented on #13429
@hardikkat24 Running `python3 -m pip install -r ./mypy_requirements.txt --target /<pathToOppia>/third_party/python3_libs --upgrade` gives the same exception as @EricZLou
[code]
and then running `python3 -m pip install -r ./mypy_requirements.txt --target /<pathToOppia>/third_party/python3_libs --upgrade --user --prefix= --system`
[code]
`If this runs fine, can you please add return 0 after this lin

[2021-07-22 18:35] SAEb-ai opened #13460 "Console errors can be seen whenever a user clicks on the checkboxes to mention whether the user wants to recieve emails from Oppia"
**Describe the bug**
Console errors can be seen whenever a user clicks on the checkboxes to mention whether the user wants to recieve emails from Oppia

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/preferences'
 2. Click on checkboxes in the email section
 3. See the console error.

**Observed behavior**
Console errors can be seen whenever a user

[2021-07-22 19:24] hardikkat24 opened #13461 "Accessibilty of "Take a Tour" section in Create Exploration Page"
**Describe the bug**2406
I am testing Screenreader and keyboard navigation of Create exploration page. While doing this, I found some bugs.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Homepage of Oppia
 2. Click on create in navbar.
 3. Now use screenread navigation. (I am using ChromeVox)

**Observed behavior**
~~1. In the navbar, each element like editor, translation, preview is

[2021-07-22 20:09] vojtechjelinek opened #13462 "Refactor places where `fetch_page` is used"
In places where we use `fetch_page` we attempt to retrive more models in order to properly see if more models to fetch exist. This approach should be refactored in a way that we don't rely on `more` but we use frontend to decide if more models exist.
- [ ] `base_model/gae_models.py`
- [ ] `user/gae_models.py`
- [ ] `skill/gae_models.py`
- [ ] `opportunity/gae_models.py`

[2021-07-22 20:48] EeshaArif opened #13463 "Linking another skill when updating a question in the question editor fails"
**Describe the bug**
`Link Another Skill` fails to execute when updating a question in the question editor of a topic and gives console errors
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2. Go to Topics and Skills Dashboard
 3. Click an existing topic or skill
 4. Go to the Questions Editor Tab
 4. Choose an existing Question
 5. Click 'Link An

[2021-07-23 01:57] U8NWXD commented on #13421
It looks like we explicitly exclude `core/tests` from the backend tests.

https://github.com/oppia/oppia/blob/4fdf3f73348487e9a1673ff16de6006a6c41c00d/scripts/run_backend_tests.py#L214-L215

This exclusion was introduced in 19a5b3c5d8cab06f7aff4fe7d1bd0598c2dad848 back in 2014

[2021-07-23 03:23] rohitkatlaa commented on #13460
@oppia/lace-team please take a look. Thanks!

[2021-07-23 03:38] rohitkatlaa commented on #13454
@oppia/lace-team Please take a look. Thanks!

[2021-07-23 03:40] rohitkatlaa commented on #13453
@oppia/lace-team Please take a look. Thanks!

[2021-07-23 03:42] rohitkatlaa commented on #13448
@oppia/lace-team Please take a look. Thanks!

[2021-07-23 07:40] rohitkatlaa commented on #13463
@oppia/lace-team Please take a look. Thanks!

[2021-07-23 07:41] rohitkatlaa commented on #13461
Since this error also occurs in oppia.org removing it from regressions. Thanks!

[2021-07-23 09:47] atpug22 opened #13465 "Migrate the PNG images to the webp images"
Migrate all the thumbnails and images used in CKEditor rte components and customize interactions modal from PNG format to webp format.

[2021-07-23 14:11] vojtechjelinek commented on #10474
@klenathstar Hey, any update with your file? Do you need help with anything?

[2021-07-23 14:16] soumyo123-prog commented on #10700
hi @srijanreddy98 , I would like to work on LostChangeObjectFactory. Thanks!

[2021-07-23 15:31] klenathstar commented on #10474
@vojtechjelinek  Thanks for checking in! I am actually running into a small issue testing the typescript checks.

I'm getting a lot of throwback errors from files I haven't implemented in the tsconfig-strict file. Are these dependencies for the LostChangeObjectFactory files that I'll need to add as well?

![errorCodes](https://user-images.githubusercontent.com/80366527/126805372-6c40a338-30a2-4a41

[2021-07-23 15:38] vojtechjelinek commented on #10474
@EeshaArif @mridul-netizen Can you help here?

[2021-07-23 15:52] EeshaArif commented on #10474
@klenathstar `InteractionObjectFactory` is currently being covered here #13369 . you can start with `core/templates/pages/profile-page/profile-page-backend-api.service.ts` as it has no other dependencies.

[2021-07-23 15:56] mridul-netizen commented on #10474
@klenathstar Yes these are dependencies for this file and need to be covered, but @YashKandalkar is already working on them here https://github.com/oppia/oppia/pull/13369, so this file should be covered after this PR gets in. I am assigning you for six other files (including spec) listed below:
[code]
Feel free to ask for any help, Thanks!

[2021-07-23 16:15] klenathstar commented on #10474
@EeshaArif @vojtechjelinek Thank you, I'll get that service.ts squared away then.

[2021-07-23 16:29] aishwary023 opened #13467 "List of all currently known frontend flakes"
### Flakes Reported
- [ ] [haven't seen for a while]#13144
- [ ] [haven't seen for a while][Add Or Update Solution Modal Controller when solution is not valid should not save solution](https://github.com/oppia/oppia/issues/13702)
- [x] #14086
- [ ] `debouncer.service.ts seems to be not completely tested. Make sure it's fully covered.` ([example](https://github.com/oppia/oppia/runs/4710767062?check

[2021-07-23 16:39] klenathstar commented on #10474
![ngxmat error](https://user-images.githubusercontent.com/80366527/126813754-a0ec99c7-c104-48a8-b742-8da789e2c7b8.png)

Hello, I'm still running into one error with `material.module.ts` as shown in the attached picture. Is this an Angular install issue on my end?

[2021-07-23 16:41] mridul-netizen commented on #10474
@klenathstar Try running the server once with `python -m scripts.start` it will go away!

[2021-07-23 16:44] aishwary023 opened #13469 "`Chrome Headless 91.0.4472.164 (Mac OS 10.15.7) Delete Topic Modal Component should initialize cropper FAILED Uncaught Error: ViewDestroyedError: Attempt to use a destroyed view: detectChanges thrown` @ashutoshc8101"

[2021-07-23 16:45] #13469 closed, assigned to nobody

[2021-07-23 19:14] kevintab95 opened #13471 "[Server Error] No component factory found"
This error occurred recently in production

[code]

This occured in the release-3.1.2-hotfix-1 branch. The error was logged while the user was performing some action in the exploration editor page.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the persona

[2021-07-23 22:38] sagangwee opened #13475 "Translation opportunities corresponding to private topics show in contributor dashboard"
Behavior should be: "Don’t show opportunities in contributor dashboard for which the story hasn’t been published (it’s OK to show them if the story has been published, regardless of whether the topic is public/private or appears in the classroom or not)."

[2021-07-23 22:49] sagangwee commented on #13475
Hmm my original conjecture that this was caused by the opportunity regeneration job (core/domain/opportunity_jobs_one_off.py) not having the publish logic seems wrong as we do account for the story publish status in `opportunity_services.create_exploration_opportunities_for_topic()`

[2021-07-23 23:24] sagangwee commented on #13475
Disregard comment above, the correct function in question is `opportunity_services.regenerate_opportunities_related_to_topic()` which does NOT handle unpublished entities.

[2021-07-24 00:08] klenathstar commented on #10474
![mypyinstallissue](https://user-images.githubusercontent.com/80366527/126851421-deb386bc-3bcb-49cb-a890-f9523669cfc5.png)

I'm running into issues installing mypy and third party libraries. I've tried reinstalling and I'm having no luck. Any advice?

[2021-07-24 02:49] gp201 opened #13477 "`edit-profile-picture-modal.component.ts seems to be not completely tested. Make sure it's fully covered.` @ashutoshc8101"

[2021-07-24 02:50] gp201 commented on #13477
This issue was created accidentally.

[2021-07-24 02:50] #13477 closed, assigned to nobody

[2021-07-24 02:56] anandwana001 commented on #13348
Unassigning myself as it is not required for now in the android.

[2021-07-24 22:42] vojtechjelinek opened #13480 "Validate that files don't have 'audio/mp3' content type set and remove it from our codebase"
Since 'audio/mp3' is not a valid MIME type we want to get rid of it from our codebase and also verify that currently stored files do not have this MIME type set. Correct replacement is 'audio/mpeg'.

[2021-07-25 10:26] rohitkatlaa commented on #13453
Just a note, this is not an regression. Thanks.

[2021-07-25 10:32] kevintab95 commented on #13460
@aks681 can you take a look at this please (since you've been looking into some mail related tasks recently)? Thanks!

Also, @SAEb-ai, thanks for reporting but I noticed that the screen cast didn't get updated in the description. Could you update it please? Thanks!

[2021-07-25 14:51] lucy-oppia commented on #12995
I'm getting a file too big error, is there somewhere else I can send the video to?

[2021-07-25 14:55] lucy-oppia commented on #12995
here is a video: when i click to continue, then play audio on next page, it gives me audio for prior page.

https://user-images.githubusercontent.com/85137538/126903542-22856410-7699-416b-98af-cef83126cf86.mp4

[2021-07-25 15:42] EricZLou commented on #13429
Hi! Any updates on this @hardikkat24?

[2021-07-25 15:49] hardikkat24 commented on #13429
@EricZLou Sorry for delayed update!! I've probably found a fix for this. Will make a PR soon.

[2021-07-25 16:05] vojtechjelinek commented on #10474
@klenathstar Do you have Python 3 installed?

[2021-07-25 16:06] seanlip commented on #12995
@kevintab95 would this be fixed by #13430?

[2021-07-25 16:16] kevintab95 commented on #12995
Yup it should be fixed. We are yet to deploy the fix to oppia.org. Closing since this issue has been fixed on the development branch. Thanks!

[2021-07-25 16:16] #12995 closed, assigned to kevintab95

[2021-07-25 17:36] seanlip commented on #13429
Hi @hardikkat24 -- do you have an ETA for the fix? I've heard this from about 5 people at this point so we will need to take action ASAP (which may reverting earlier PRs).

/cc @vojtechjelinek @rohitkatlaa

[2021-07-25 17:38] hardikkat24 commented on #13429
@seanlip I'll make a PR for this in 48 hours?
Is it fine?

Thanks a lot!!

[2021-07-25 17:43] seanlip commented on #13429
It may need to be sooner. This is blocking lots of people so if it'll take that long, we need a quicker interim fix.

[2021-07-25 17:58] hardikkat24 commented on #13429
@seanlip Give me 8-10 hours. I'll try to fix this ASAP.

[2021-07-25 18:00] seanlip commented on #13429
Sg. Thanks!

[2021-07-25 18:11] MaskedCarrot opened #13487 "Exploration editor does not publish changes."
**Describe the bug**
A clear and concise description of what the bug is.

The exploration editor does not publish the changes made in an exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Test of all interactions' exploration
 2. Click on 'click on edit'
 3. Make some changes.
 4. Click on publish changes
 5. add a description and click on publish changes
 4. See error

**O

[2021-07-25 19:09] klenathstar commented on #10474
@vojtechjelinek I do. I was able to finally get the issue resolved by reinstalling my Ubuntu setup again. Thank you for checking in!

[2021-07-25 21:36] hardikkat24 commented on #13429
@EricZLou @EeshaArif Can you please try whether [this](https://github.com/oppia/oppia/pull/13490/files) PR works fine on our system?
Thanks a lot!!

[2021-07-26 02:09] sophiewu6 opened #13491 "Pre-push Mypy checks failed"
**Describe the bug**
Before pushing my code, I was stuck due to the Mypy checks. The log doesn't specify which Python file is failing, so I'm having some trouble debugging this.

**Screenshots**
![image](https://user-images.githubusercontent.com/32754302/126923641-bdb1449a-2327-49c2-812d-b068f9212d75.png)

**Desktop (please complete the following information; delete this section if the issue does

[2021-07-26 05:00] hardikkat24 commented on #13491
Hello @sophiewu6 , can you try moving your env folder out of the oppia directory? Thanks!!

[2021-07-26 06:46] hardikkat24 commented on #13429
@seanlip I tried a solution but it didn't work on Eesha's system. I'm hard stuck on this. Have asked for help from Sajal, Vojta and Sandeep and will try to fix this with their help.
Thanks!!

[2021-07-26 06:57] sophiewu6 commented on #13491
Closing the issue - moving the env folder out of the oppia directory helped.

[2021-07-26 06:57] #13491 closed, assigned to vojtechjelinek, hardikkat24

[2021-07-26 13:43] EeshaArif opened #13494 "Implement a different footer for practice-session-page"
**Describe the bug**
The current [footer component ](https://github.com/oppia/oppia/blob/develop/core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts) is used incorrectly at `practice-session-page`.

**To Reproduce**
The same footer is used at both `exploration-player-page` and `practice-session-page` with different usage at both places.

`contextService.g

[2021-07-26 21:55] vojtechjelinek opened #13500 "Make sure that data passed to platform storage service are always bytes"
Make sure that data passed to platform storage service, more precisely to `commit` method, are always only `bytes` and not `str`.

[2021-07-27 01:07] #13326 closed, assigned to nobody

[2021-07-27 03:15] gp201 commented on #13408
Group files into shards? Like how it is done for backend tests.

If this is occurring locally, there is a good chance it will soon occur in GitHub actions.

[2021-07-27 15:36] vojtechjelinek opened #13506 "Refactor the Python library handling process"
Currently, various Python libraries that need to be installed are specified all over the place. The ones that are required for production are mentioned in requirements.in, the ones that are required for DevOps are mentioned in install_third_party_libs.py (in three places), some other DevOps libraries are also mentioned in manifest.json. Similar issues are with frontend libraries but there we are s

[2021-07-27 17:26] U8NWXD opened #13507 "Backend test regression"
Backend tests are failing in develop:

* https://github.com/oppia/oppia/actions/runs/1071955130
* https://github.com/oppia/oppia/actions/runs/1071671147
* https://github.com/oppia/oppia/actions/runs/1071478500

Error:

[code]

Problem was introduced by #13468. @aks681 is fixing

## Analysis

#13468 relied on the `test_utils.GenericTestBase.set_admins` method, which was removed by #12989 ([link to

[2021-07-27 17:52] #13421 closed, assigned to U8NWXD

[2021-07-27 21:17] kevintab95 commented on #13451
Hi @rohitkatlaa, this appears to be fixed on develop. @atpug22 is trying to figure out which PR fixed it so that it, we could CP it into the release branch. Thanks @atpug22!

[2021-07-27 21:18] sagangwee opened #13508 "[Contributor Dashboard] Update exploration opportunities when a published story is updated"
Currently we have logic in `update_story()` in story_services.py to update corresponding exploration opportunities if the story and linked topic are published. There have been reported issues though where the opportunity chapter title does not match the story's node title.

We need to fix this logic to make sure the opportunity story and chapter title are properly synced on story changes.

[2021-07-27 21:50] devanshkat opened #13509 "Item Selection Interaction Not Showing"
In the item selection interaction, when you try to select which answer is correct as a lesson creator, you cannot see the entirety of the choices, leading to ambiguity of which answer choice you are selecting as correct.

Steps to reproduce the behavior:
 1. Create new exploration
 2. Add Item Selection Interaction and items with around 40 characters
 3. Make one item correct and save
 4. Scroll d

[2021-07-27 23:50] #13507 closed, assigned to aks681

[2021-07-28 11:38] soumyo123-prog commented on #4057
@vojtechjelinek @U8NWXD, I would like to work on player-correctness-feedback-enabled.service.ts. Can I be assigned this? I was recommended this issue.

[2021-07-28 18:57] #13071 closed, assigned to DubeySandeep, srijanreddy98

[2021-07-28 19:10] Radesh-kumar opened #13516 "Frontend test flake in customize-interaction-modal.controller.spec.ts"
**Describe the bug**
Frontend test flake in customize-interaction-modal.controller.spec.ts

**Observed behavior**
`Customize Interaction Modal Controller when state editor is in question mode should open a confirmation modal with rejection` is flaking

**Expected behavior**
Flake should be resolved

**Link**
https://github.com/oppia/oppia/runs/3185086976?check_suite_focus=true#step:7:11280

[2021-07-28 19:12] #13516 closed, assigned to nobody

[2021-07-28 19:53] #13249 closed, assigned to nobody

[2021-07-29 20:48] kevintab95 opened #13521 "Minor refactor changes in image-editor component"
This issue is to track remaining comments from [this ](https://github.com/oppia/oppia/pull/13485#pullrequestreview-718314884) review. Most of the comments relate to minor refactor, adding type definitions, or docstrings.

Few UX issues were also identified that are unrelated to #13485. It would be good to fix the following as part of this issue:
- I'm able to save the images without the alt text.

[2021-07-29 21:30] hardikkat24 opened #13523 "Fix usage of Any in backend type annotations and change some Tuples/Dict to Domain Objects."
Aim: Replace use of Any in core/storage with TypedDicts/Domain objects
Current Structure:
- We use Dict[Text, Any] in our type annotations for complex dictionaries like commit_cmds, android_report_info, web_report_info, snapshot in our storage models.

Issues:
- Writing Dict[Text, Any] makes out type checking less stricter and creates loopholes.

Expected Structure:
- Changing all such dictionarie

[2021-07-30 08:03] DubeySandeep commented on #13210
Moderator page is working fine on develop:
![image](https://user-images.githubusercontent.com/16653571/127621670-5db9a759-7bb6-4bed-8ed8-d1a6565c3e0a.png)

[2021-07-30 08:04] DubeySandeep commented on #13210
Moderator-page is working fine on the release branch:
![image](https://user-images.githubusercontent.com/16653571/127621828-6d380afb-a000-4c4b-9a52-23f54c51a02f.png)

[2021-07-30 08:08] DubeySandeep commented on #13151
This looks like some issue with the google-cloud storage setup! Do we have access to cloud storage in the backup server?

[2021-07-30 08:10] DubeySandeep commented on #13208
This is reproducible on develop and the release branch!

Edit: This is also reproducible on oppia.org

[2021-07-30 08:16] DubeySandeep commented on #13152
I'm able to access this page with the link provided above!
![image](https://user-images.githubusercontent.com/16653571/127623193-737dc865-1725-46f1-ae73-9d9159c6f2a9.png)

Also, accessible to guest users!

[2021-07-30 08:18] DubeySandeep commented on #13165
Reproducible on develop/release/prod! We have a similar issue at #9531

[2021-07-30 08:30] DubeySandeep commented on #13168
Reproducible on develop:

![image](https://user-images.githubusercontent.com/16653571/127624603-e85028c8-ece2-4420-be44-357a8163d431.png)

Reproduciable on test server:
![image](https://user-images.githubusercontent.com/16653571/127624931-c3a53d48-7235-4885-b469-dec1677407c0.png)

Reproduciable on oppia.org:
![image](https://user-images.githubusercontent.com/16653571/127625142-05f7138b-f356-4d71-a

[2021-07-30 08:32] DubeySandeep commented on #13168
@brianrodri This seems critical and I'm moving it as a regression issue for July release!

@oppia/lace-team Can you please look into this issue?

/cc @rohitkatlaa (as QA coordinator for the July release), @kevintab95 @aks681 can you please assign someone who can resolve this issue before Aug 01st EOD?

[2021-07-30 08:42] DubeySandeep commented on #9531
@iamprayush Are you still working on this issue? This need to be fixed quickly as we are finding these issue in other places now and need to be looked into the actual cause of this issue!

/cc @oppia/lace-team (@kevinlee12 @aks681) Can we prioritize fixing this issue? [Earlier this was reported in the May release and didn't get fixed!] I'm going to move this for the August release, can we fix this

[2021-07-30 15:18] hardikkat24 opened #13528 "Remove tests which check for passing wrong argument types"
Aim: Remove tests which check for passing wrong argument types after we have added type annotations to our codebase.

Current Structure:
- We have tests which check for passing wrong argument types

Expected Structure:
- Remove the tests which check for wrong argument types.

Reason:
- Such tests will not be required since wrong argument types will be notified by mypy.

Things to keep in mind:
- O

[2021-07-30 18:30] intaschi opened #13531 "Translations Missing in the lessons"
**Describe the bug**
All cards in rounding numbers are translated in Portuguese, but we still have some text appearing in english in the lesson, which is confusing to children that don't understand it.

<img width="1220" alt="Captura de Tela 2021-07-30 às 15 23 06" src="https://user-images.githubusercontent.com/59513204/127696008-ae64498a-1e15-40da-b4b3-d4a82feaedbc.png">

**Here is a list of the

[2021-07-30 19:26] sagangwee commented on #13475
Need to also surface a message in the UI when unpublishing stories to inform the user the consequences on opportunities.

[2021-07-30 19:28] vojtechjelinek commented on #13165
Removing this from the Py3 Migration QA since it is not related to the py3 branch.

[2021-07-30 19:29] vojtechjelinek commented on #13208
Removing from this milestone since it is not related to the py3 branch.

[2021-07-30 19:37] vojtechjelinek commented on #13210
Cannot reproduce this locally, will need to test it on the backup server.

[2021-07-30 23:39] vojtechjelinek commented on #13429
This was solved right? Closing, reopen if it is not solved.

[2021-07-31 00:13] kevintab95 commented on #13454
The users "test" and "thomas" have no profile pictures and therefore do not have icons. This works fine for users with a profile picture.
![image](https://user-images.githubusercontent.com/11008603/127722510-021ab342-f7e8-400e-9834-aba72c114aa8.png)

Noting that this is not a regression in the July release.
/cc @vojtechjelinek @rohitkatlaa

[2021-07-31 00:21] vojtechjelinek commented on #13454
Okay, makes sense, it would still be nice to have some prettier UI when the users do not have a profile picture. I have a refactor for profile pictures planned, but that probably won't be done in next 2 months.

[2021-07-31 00:35] seanlip commented on #13454
Don't all users have profile pictures (at least a gravatar)? If not we should probably populate for the older ones -- then it's easier to just treat everyone consistently.

[2021-07-31 01:07] vojtechjelinek commented on #13454
Yeah, that was basically the plan of my refactor, didn't get to it due to the unavailability of jobs.

[2021-07-31 02:11] brianyou0 commented on #9749
@srijanreddy98 Can I be assigned with `merge-skill-modal.controller`? Thank you.

[2021-07-31 08:35] chris7716 commented on #13429
@hardikkat24 PTAL
![Screen Shot 2021-07-31 at 2 04 03 PM](https://user-images.githubusercontent.com/41409951/127734136-dd0c2bb5-5a76-4fca-afa5-d7b3bdd7a2e4.png)
![Screen Shot 2021-07-31 at 2 04 16 PM](https://user-images.githubusercontent.com/41409951/127734144-f1688480-a590-4660-be51-a67731b1f7c5.png)

[2021-07-31 09:03] chris7716 commented on #13429
![Screen Shot 2021-07-31 at 2 32 31 PM](https://user-images.githubusercontent.com/41409951/127734906-b2a24a6b-5ea6-47b9-9940-5d4eb739d5cb.png)

[2021-07-31 09:21] hardikkat24 commented on #13429
@sajalasati @vojtechjelinek Can you PTAL? I am not able to figure out the real issue here. Thanks!!

[2021-07-31 09:24] hardikkat24 opened #13534 "TODO: Fix with_metaclass() and remove type: ignore after py3 migration"
Remove the `# type: ignore[misc]` from core/platform/datastore/gae_datastore_services after we remove python_utils in py3 migration.

[2021-07-31 11:07] gp201 commented on #13408
It has started occurring on Github actions.
Build link: https://github.com/oppia/oppia/runs/3208681970?check_suite_focus=true#step:7:519

[2021-07-31 12:27] vojtechjelinek commented on #13429
@chris7716 Can you please take a look if you can find the mypy executable anywhere on your system?
`whereis mypy` command might help.

[2021-07-31 15:26] ashutoshc8101 commented on #9749
@brianyou0 `merge-skill-modal.controller` is already migrated. I have updated the list of unclaimed directives, please take a look.

[2021-07-31 16:14] chris7716 commented on #13429
Hi @vojtechjelinek Sorry for the delayed response! I am getting nothing when I run `whereis mypy`

![Screen Shot 2021-07-31 at 9 43 13 PM](https://user-images.githubusercontent.com/41409951/127745916-84c42762-ba80-40c0-8fb8-18031f21a0a8.png)

[2021-07-31 18:48] brianyou0 commented on #9749
@ashutoshc8101 May I be assigned with `questions-list-select-skill-modal` then?

[2021-07-31 18:57] ashutoshc8101 commented on #9749
@brianyou0 Sure, go ahead.

[2021-08-01 00:55] brianyou0 commented on #9749
@ashutoshc8101 For `questions-list-select-skill-modal` there is no corresponding HTML file. Should I create one?

[2021-08-01 13:22] iamprayush opened #13540 "Improve Accessibility of the Volunteer page."
Figure out a way to improve the accessibility score of the volunteer page to 1.

[2021-08-01 13:31] #13540 closed, assigned to nobody

[2021-08-01 15:49] vojtechjelinek opened #13541 "Decide how to handle old_name in pylint (after Python 3 is introduced)"
Decide how to handle `old_names` param in pylint_extensions.py after Python 3 is introduced. More context here https://github.com/oppia/oppia/pull/13395#discussion_r674646435 and here https://github.com/oppia/oppia/pull/13395#discussion_r676187357

[2021-08-01 15:54] vojtechjelinek commented on #13541
https://github.com/oppia/oppia/pull/13395#discussion_r676187357

[2021-08-01 18:09] vojtechjelinek commented on #13429
Hmm, can you try to install mypy globally? `pip install mypy` should work and then try `whereis` again?

[2021-08-01 18:35] vojtechjelinek commented on #13152
This was a problem with how we share data between prod and backup server, closing this.

[2021-08-01 18:35] #13152 closed, assigned to nobody

[2021-08-01 18:37] vojtechjelinek commented on #13210
Cannot reproduce it on the backup server with Python 3 deployed.

[2021-08-01 18:59] vojtechjelinek commented on #13151
Reproducible on Python 2 version of the backup server too. This is related to how we (not) sync storage data between backup and prod.

[2021-08-01 19:08] brianyou0 commented on #9749
@ashutoshc8101 I noticed that the component doesn't have a HTML file associated with it. Should I create it?

[2021-08-01 19:12] ashutoshc8101 commented on #9749
The file you are migrating is a modal. Modals are generally invoked from some other file, the code that invokes the modal specifies both controller and template. Do a global search in your editor searching for the controller's name. You will find the template there. When you are migrating a modal, you are expected to migrate the controller, template and the invoking code.

Example: https://github.

[2021-08-02 04:23] seanlip opened #13545 "Can't use multiple rules in an answer group for item selection interaction."
**Describe the bug**
Adding a second rule to an answer group for the item selection interaction results in a server error in production.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with an item selection interaction with four choices A, B, C, D.
 2. Create an answer group whose rule is "Contains at least one of [A]"
 3. To that answer group, add a new rule "Contain

[2021-08-02 04:23] seanlip commented on #13545
Hi @kevintab95 -- FYI, this currently happens in prod and probably needs a hotfix.

[2021-08-02 05:31] aishwary023 commented on #13408
We can change the workflow to solve this, how does this look? - https://github.com/ScaCap/action-surefire-report/issues/17#issuecomment-677015255

[2021-08-02 07:07] seanlip opened #13546 "Images disappear when an edit is cancelled in the rich-text editor."
**Describe the bug**
When editing an exploration, if an image in a rich-text editor (RTE) is double-clicked and the edit is cancelled, the image disappears from the original RTE. This seems like a regression.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor.
 2. Add an image to one of the content fields.
 3. Double-click on the image, and then click Cancel to can

[2021-08-02 07:07] seanlip commented on #13546
@kevintab95 Noting this as another regression -- might be worth checking this scenario with the integrated image RTE customization tags.

[2021-08-02 07:18] kevintab95 commented on #13546
Yup this was a regression even before image consolidation changes. Will fix. Thanks!

[2021-08-02 07:23] seanlip opened #13547 "Cannot read entirety of multiple-choice option"
**Describe the bug**
When editing the answer group for a multiple-choice option, I can't actually see the full text, and therefore have difficulty selecting the correct one to use.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with a multiple-choice question. Have each of the multiple-choice options be a couple of sentences, and have some of them start with "No, this

[2021-08-02 07:24] seanlip commented on #13547
@kevintab95 This might be worth fixing too, if it's easy -- it's making it hard to proofread some of the E+E questions.

[2021-08-02 07:53] seanlip opened #13548 "Missing solution field in most states"
**Describe the bug**
I cannot find the solution field in most cards of the exploration I'm currently editing, even though most of the cards' interactions are ones that admit a solution.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new card in an exploration with an item selection interaction.
 2. Try to add hints and a solution.

**Observed behavior**
There is no solution field

[2021-08-02 13:48] vojtechjelinek commented on #13151
This was caused by the wrong synchronization of storage data between backup and prod.

[2021-08-02 13:48] #13151 closed, assigned to nobody

[2021-08-02 13:49] #13210 closed, assigned to nobody

[2021-08-02 20:09] hardikkat24 opened #13556 "Update pylint to throw errors for method type annotations exceeding 80 characters."
Update `ignore-long-lines` of `.pylintrc` to throw errors for method type annotations exceeding 80 characters given that method type annotation is not split up into multiple lines.
Normal type annotation:
[code]
Type annotation split into multiple lines:
[code]
Note: pylint must not throw errors for the following:
- `x = <object> # type: <TYPE>`
- `# type: (...) ->  <TYPE>` (referring to annotatio

[2021-08-02 22:20] kevintab95 commented on #13448
This seems to be introdued after the migration of `numeric-input-interaction.component`. See https://github.com/oppia/oppia/pull/12753#discussion_r681303173, https://github.com/oppia/oppia/pull/13549#discussion_r681303156

[2021-08-03 00:43] kevintab95 commented on #13168
Please note, this is an issue on Oppia.org since `release-3.1.2` (which included https://github.com/oppia/oppia/issues/12775 -- this caused the regression).

[2021-08-03 01:05] kevintab95 commented on #13451
@DubeySandeep @rohitkatlaa I was unable to reproduce this locally on `release-3.1.3` branch. @DubeySandeep can we check this again after CP step?

[2021-08-03 02:42] kevintab95 commented on #13548
There are 6 interactions that do not accept solution -- ImageClickInput, ItemSelectionInput, MultipleChoiceInput, InteractiveMap, Continue, EndExploration (search ""can_have_solution": false," here:  https://github.com/oppia/oppia/blob/develop/extensions/interactions/interaction_specs.json). It seems like the one described in the steps/screenshot, ItemSelectionInput, does not allow solution.

@sea

[2021-08-03 02:52] seanlip commented on #13548
Oh, that's interesting. I think, among these, the only one I don't understand is ItemSelectionInput, since some of those questions are quite tricky and require explanation. Do you know why it is marked as not allowing a solution?

And, to answer your question, I do see that NumericExpressionInput doesn't appear to accept a solution in the exploration I'm editing...

![Screenshot from 2021-08-02 19

[2021-08-03 02:57] kevintab95 commented on #13548
Hm, I think, Item Selection reduces to Multiple Choice interface depending on the cust args (if "Maximum number of selections permitted" is set to 1), so we decided to skip this one at the time of implementation because one can reach the answer by trial and error (like MCQ). We can reconsider this if required.

Also, in the screenshot above re "NumericExpressionInput", it appears to be the case th

[2021-08-03 03:08] seanlip commented on #13548
Ah -- thanks! Yes, that fixed it for NumericExpressionInput. So I think you're right that this isn't a regression -- sorry for the false alarm.

For Item Selection, the cases I'm looking at have at least 2 correct answers. Should we reconsider and allow adding solutions for them? Otherwise I think some questions could become sticking points for students.

[2021-08-03 03:13] kevintab95 commented on #13548
Yup, I don't have any concerns regarding allowing solutions for Item Selection.

[2021-08-03 03:37] #13509 closed, assigned to nobody

[2021-08-03 04:07] srikanthkb opened #13561 "Store the size of rich text images in bytes in the states dict"
**Is your feature request related to a problem? Please describe.**
To calculate the total content download size for a topic, we include the size of the rich text images in the contents - Explorations, Subtopics, Skills etc. For each SubtitledHtml and WrittenTranslation html string, we can not fetch the image size from GCP every time  because it does not scale well.

**Describe the solution you'd l

[2021-08-03 04:46] anandwana001 opened #13562 "Introduce Oppia-Android-proto pipeline"
**Is your feature request related to a problem? Please describe.**
Proto definition required for the android app.

**Describe the solution you'd like**
This pipeline will fetch the proto definition from the android specific repository during third-party install.

[2021-08-03 13:20] vojtechjelinek opened #13564 "Remove init from exploration preview tab."
In preview-tab.component.ts we need to initialize some services (for example `ExplorationInitStateNameService` or `GraphDataService`), since the code in the preview tab can be executed earlier than were these services initialized in `initExplorationPage` in exploration-editor-page.component.ts.

We should fix this by making sure that the code in preview-tab.component.ts is executed after the Promi

[2021-08-03 14:00] om-khandade opened #13566 "Update language names in the voiceover language selection dropdown"
**Describe the bug**
The names of languages in the voiceover language dropdown menu are in English and cannot be understood by users who cannot read English.  The names of the languages should be present in the respective language itself.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a lesson
 2. Play the audio
 3. Open the dropdown menu to change the language

**Observed behavior**

[2021-08-03 15:24] om-khandade opened #13567 "Autoplay audio for lesson cards"
**Describe the bug**
If the user wants to listen to the audio, they need to play it on every card. i.e. if they switch cards, the audio playback is paused, and they need to turn it on every time.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a lesson
 2. Turn on the audio playback for the card
 3. Go to the next card in the lesson

**Observed behavior**
By default, the audio is paus

[2021-08-03 17:44] sagangwee opened #13568 "[Contributor Dashboard] "Image caption and/or description should be translated if they exist" error for numeric captions"
For an image caption like "56-29=27" that is purely numeric, we should not block translation submission if the caption does not change.

[2021-08-03 18:16] MatheusVicent opened #13569 "Mobile Browser bug - Multiplication - Chapter 1"
**Describe the bug**
In the Sixth page, the user need to tap in a numeric keyboard. But with a cell phone this numeric keyboard doesn't works.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the lesson about Multiplication (using a cell phone)
 2. The bug happen in the sixth page
 3. Try to answer the question

**Observed behavior**
With the user who I was testing:
For the numeric key

[2021-08-03 18:48] seanlip commented on #13569
Hi @MaThhiVick! Could you please provide the URL of the lesson in the issue description? ("Go to the lesson about Multiplication (using a cell phone)" is a bit vague -- it doesn't say which lesson.)

Thanks!

[2021-08-03 18:48] seanlip commented on #13569
Ah, sorry -- this is mentioned in the title (chapter 1). Will flag it to the tech team.

[2021-08-03 18:49] seanlip commented on #13569
Adding @dchen97 for triage.

[2021-08-03 20:26] #13220 closed, assigned to iamprayush

[2021-08-03 22:46] #13168 closed, assigned to kevintab95

[2021-08-03 22:47] #13448 closed, assigned to ReshuKumari

[2021-08-04 01:56] dchen97 commented on #13569
There seem to be multiple issues with the custom math keyboard - as I'm also seeing on my iPhone in Chrome and safari that the keyboard gets very stretched out and is virtually impossible to use. It's also not clear that the keyboard appears below the fold in the page - so it's not an ideal experience in general. I'll chat with the LaCE team to see when we can get someone to look into this

[2021-08-04 01:59] dchen97 commented on #13569
@mschanteltc @seanlip Not sure who would be the right UX POC but we should potentially rethink the UX for when the keyboard appears. Even if everything else remains the same, it'd be helpful to add a transition or something so the user knows to scroll down if they need to in order to access the keyboard

[2021-08-04 02:48] #13447 closed, assigned to DubeySandeep

[2021-08-04 04:44] seanlip commented on #13569
Hi @dchen97 -- I seem to recall that @mschanteltc might have helped @iamprayush with this. Might be a good idea for the three of you to have a chat about it at some point to figure out what should be done?

[2021-08-04 14:57] dchen97 commented on #13487
Hi @MaskedCarrot! Thanks for reporting. I'm trying to get a sense for how widespread this issue is. Did you happen to see any console errors that occurred when you tried to do this? And have you tried saving changes for any other lessons and had a similar issue?

[2021-08-04 15:06] dchen97 commented on #13453
@aks681 Would this be addressed by the work Krishita is doing to revamp the learner dashboard?

[2021-08-04 15:08] dchen97 commented on #12964
Note this will likely be on hold until we can finish the Partnership page migration.

[2021-08-04 18:57] patrycjapraczyk commented on #9749
I'm going to go for `help-modal.controller`

[2021-08-04 19:24] ashutoshc8101 opened #13576 "UI bug on login page in maintenance mode."
**Describe the bug**
There are warnings displayed to users if they try to access the login page in maintenance mode.
This is because only necessary handlers are allowed in maintenance mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Oppia dev server in maintenance mode.
2. Navigate to the login page using /login route.

**Observed behavior**
A warning is shown to the users in a yell

[2021-08-05 07:53] DubeySandeep commented on #13451
@rohitkatlaa Can you confirm whether it's reproducible in the test server? Also, can you share the link to the exploration?

[2021-08-05 07:58] ashutoshc8101 commented on #9749
Assigned

[2021-08-05 08:21] hardikkat24 opened #13581 "TODO: Fix pylint: disable=bad-super-call in core/storage/base_model/gae_models_test"
Aim: Fix `#pylint: disable=bad-super-call` from `core/storage/base_model/gae_models_test`

[2021-08-05 10:27] rohitkatlaa commented on #13451
@DubeySandeep I was able to reproduce the error in the https://oppiatestserver.appspot.com/ server again. I just created a new exploration and tried to save a change and this error occurs.

[2021-08-05 13:08] #13460 closed, assigned to aks681

[2021-08-05 13:08] #13463 closed, assigned to aks681

[2021-08-05 17:20] kevintab95 opened #13586 "TODO: Address pending comments in #13571"
This issue is to address pending comments in #13571 (see https://github.com/oppia/oppia/pull/13571#pullrequestreview-723280774)

[2021-08-05 20:14] kevintab95 commented on #13451
Update: I was able to reproduce this in prod mode. It seems to be that, in prod mode, the relevant CSS for toastr (`node_modules/ngx-toastr.css`) is not bundled. I'm not sure about how to bundle the CSS properly in the build process but I was able to confirm that adding the CSS will fix the issue by doing the following:
1. Go to https://oppiatestserver.appspot.com/.
2. Create an exploration.
3. Op

[2021-08-05 20:17] kevintab95 commented on #13451
Tagging some folks who may have an idea about how to fix this (see https://github.com/oppia/oppia/issues/13451#issuecomment-893766708 above)
/cc @seanlip @vojtechjelinek @DubeySandeep @srijanreddy98 and @ashutoshc8101 (since they worked on toastr recently)

[2021-08-05 20:43] #13581 closed, assigned to nobody

[2021-08-05 21:57] kevintab95 commented on #13451
Update: I was able to fix this by changing `import 'ngx-toastr/toastr.css'` to `require('ngx-toastr/toastr.css')`. After this webpack seemed to bundle the CSS and the toastr appeared properly. Raised #13588.

[2021-08-06 02:27] U8NWXD commented on #4057
@soumyo123-prog done

[2021-08-06 06:33] #13451 closed, assigned to kevintab95, DubeySandeep

[2021-08-06 15:25] MaskedCarrot commented on #13487
@dchen97 I have added the errors that I observed in [this](https://gist.github.com/MaskedCarrot/995a16d10e34a2d834ceef22d3e4ae89) gist.
This bug is with "test for all interactions" exploration. I checked "Project Euler problem 1" exploration and the exploration editor seems to work fine on that.

[2021-08-06 16:48] rohitkatlaa commented on #13162
@DubeySandeep I think this issue can be a good first issue considering that there is a wiki page and few examples.

[2021-08-07 06:38] hardikkat24 opened #13594 "TODO: Refactor Domain layer to be independent of Storage layer"
Aim: Refactor Domain layer to be independent of Storage layer

[2021-08-07 10:30] hardikkat24 opened #13595 "Errors while running pre_commit_linter"
**Describe the bug**
Error is thrown while running pre_commit_linter.

**To Reproduce**
Steps to reproduce the behavior:
 1. Edit some .py files.
 2. Run `python -m scripts.linters.pre_commit_linter`.

**Observed behavior**
[code]

**Expected behavior**
Lint checks must run successfully on the changed files.

**Screenshots**

**Desktop (please complete the following information; delete this sectio

[2021-08-07 12:49] vojtechjelinek commented on #13595
Does this happen on develop?

[2021-08-07 14:29] hardikkat24 commented on #13595
@vojtechjelinek Yes this happens on develop.
When no files are changed from the last commit, error is not thrown
When there are some changed files, error is thrown.
Updated the description. Thank you!

[2021-08-07 15:53] krishnarao22 opened #13596 "Temporarily remove @krishnarao22 from codeowners"
Remove @krishnarao22 from codeowners until 2021-09-01.

[2021-08-07 22:01] #13545 closed, assigned to kevintab95

[2021-08-07 22:01] #13546 closed, assigned to kevintab95

[2021-08-07 22:01] #13547 closed, assigned to kevintab95

[2021-08-08 17:40] kevintab95 opened #13601 "Story specific validation for an Exploration should surface correctly in the Exploration Editor page"
**Describe the bug**
If an exploration attached to a story is edited and fails a story specific validation, e.g. if the correctness feedback is turned off, it should show as a warning and disallow publishing the exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor page for an exploration that is attached to a story.
 2. Set the "correctness feedback" to

[2021-08-08 18:39] dchen97 commented on #13569
For additional context - I'm not sure if I see exactly the same error but on my chrome and Safari on my iPhone I see the following:

https://user-images.githubusercontent.com/12034267/128642269-8f6e34e0-4545-497d-9c48-c6d4dd19f134.mp4

https://user-images.githubusercontent.com/12034267/128642276-ee843eef-cd9a-46bd-b10a-2ffcfa393d0b.mp4

In general it appears that the keyboards appear when the inpu

[2021-08-08 18:41] dchen97 commented on #13569
After speaking with Chantel, we also believe this to be an implementation issue rather than one with the original UX design. @mschanteltc feel free to link to your designs / spec if you have any that can help provide context on the intended behavior!

[2021-08-08 20:14] hardikkat24 opened #13602 "TODO: Change Py2 style type annotations to Py3 style."
Aim: Change the python2 style type annotations to py3 style type annotations and change linter to throw errors for py2 style type annotatons.

A third-party library [com2ann](https://github.com/ilevkivskyi/com2ann) can be used for type annotation conversion.

[2021-08-09 02:28] EricZLou opened #13603 "Maintaining Lesson Interaction Data with Frontend Validation Checks"
**All Validation Check Issues:**
- #13449
- **[you are here]** #13603
- #13764
- #13820
- #13821
- #13822

# Introduction

## Background
Oppia’s data storage is frequently updated to have the most recent features. To ensure a smooth user and developer experience, we need to have checks in place which ensure the integrity of the data currently being stored, as well as the integrity of future data.

[2021-08-09 09:57] ashutoshc8101 opened #13605 "TODO: Refactor access validation handlers to follow a single handler pattern."
This TODO applies for access validation handlers `access_validators.py`.

Currently, there exists an individual handler for every access validation route.

This can be simplified further, by having only a single validation handler that invokes appropriate validation logic as per the url.

Doc:  https://docs.google.com/document/d/1RzGtZ7vuCPxyCkic03cQ964DRparC8gpxKrPQjK7hLw/edit?usp=sharing

[2021-08-09 10:57] ShivamJhaa commented on #10474
Hello  @nishantwrp, @vojtechjelinek I would like to work on LostChangeObjectFactory.ts. Will you please assign me this?

[2021-08-09 16:50] vojtechjelinek commented on #10474
@mridul-netizen @EeshaArif Is it possible? Or do you recommend some other file?

[2021-08-09 17:33] #11784 closed, assigned to nobody

[2021-08-09 17:45] vojtechjelinek commented on #12435
Currently waiting if we have problems with running Beam jobs with low instance class.

[2021-08-09 17:49] vojtechjelinek commented on #11292
We still prefer to use `ubuntu:18.04` since it also has Python 2 that is required for dev_appserver to work.

[2021-08-09 17:49] #11292 closed, assigned to nobody

[2021-08-09 17:51] #11476 closed, assigned to brianrodri

[2021-08-09 17:57] vojtechjelinek commented on #11476
This was completed in #13395

[2021-08-09 18:07] mridul-netizen commented on #10474
@ShivamJhaa Sorry `LostChangeObjectFactory` is being covered by me here https://github.com/oppia/oppia/pull/13585. I have assigned you for another file `core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts`  & spec. Please lmk if that works for you and feel free to come up with any other questions you have! Thanks!

[2021-08-09 18:32] sean4x opened #13611 "Incorrect redundant rule message in Editor"
**Describe the bug**
Error states incorrectly that a rule will never be matched.

**To Reproduce**
First answer says "Answer is equivalent to and in lowest form."
second answer is the same and says "answer is equivalent to" (to provide feedback to students that the answer is correct, but not in the simplest form)

**Observed behavior**
<img width="1080" alt="Screen Shot 2021-08-02 at 1 42 22 PM" s

[2021-08-09 22:50] hardikkat24 opened #13614 "TODO: Determine whether stats_models.ExplorationAnnotationsModel can be updated to use an int version"
Aim: Determine whether stats_models.ExplorationAnnotationsModel can be updated to use an int version instead, and update existing datastore models if needed.

Currently stats_models.ExplorationAnnotationsModel.version is a StringProperty.

[2021-08-10 03:49] ShivamJhaa commented on #10474
Sure, I will do this.
Thank you

[2021-08-10 08:26] chris7716 commented on #13429
I was able to run mypy checks once I upgraded Oppia for python 3. Thanks!

![Screen Shot 2021-08-10 at 1 48 00 PM](https://user-images.githubusercontent.com/41409951/128834115-a5cbfbff-dcb3-48e3-a935-80c2ee85114b.png)

[2021-08-10 14:58] hardikkat24 opened #13617 "TODO: Update our typeshed after redis stubs are improved in typeshed."
Current situation: Redis typeshed stubs don't have redis.StrictRedis.memory_stats() defined.

We have opened an [issue](https://github.com/python/typeshed/issues/5906) on the typeshed for fixing this.
After the fix has been done, we can update our typeshed.

**Note** - We will use [--custom-typeshed-dir](https://mypy.readthedocs.io/en/latest/command_line.html#cmdoption-mypy-custom-typeshed-dir) af

[2021-08-10 16:20] seanlip commented on #13429
Great, thanks @chris7716! Closing, please reopen this issue if it recurs.

[2021-08-10 16:20] #13429 closed, assigned to vojtechjelinek, sajalasati, hardikkat24

[2021-08-10 19:09] vojtechjelinek opened #13619 "Remove Google Analytics require from mock-ajs.ts"
Remove Google Analytics require from mock-ajs.ts and move it to ….

[2021-08-10 20:19] mayank3810 opened #13621 "Call to action buttons not working on homepage"
**Describe the bug**
All the call to action buttons on the homepage of oppia.org throwing errors rather than redirecting to a specific path.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/'
 2. Click on 'Browse our Lessons'
 3. Open Console
 4. See error

**Observed behavior**
Buttons are not working.

**Expected behavior**
Buttons need to be working.

**Screen

[2021-08-10 20:25] seanlip commented on #13621
Thanks so much for reporting, @mayank3810! Yup, this is currently a serious regression in prod -- @vojtechjelinek is deploying a fix at the moment.

[2021-08-10 21:52] kevintab95 opened #13622 "[Server Error] Cannot read property 'topic_name' of null"
This error occurred recently in production

[code]

This first occured in release-3.1.3.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available f

[2021-08-10 22:32] #12959 closed, assigned to nobody

[2021-08-11 00:02] kevintab95 opened #13624 "Skill description should be less than 100 chars, received XXX"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-08-11 00:05] kevintab95 opened #13625 "[Server Error] 'AnswerSubmittedEventHandler' object has no attribute 'user'"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-08-11 00:11] kevintab95 commented on #13625
It looks like the users session was invalid and that is why "self.user" errored here:

https://github.com/oppia/oppia/blob/22eb72ef3a5d706551bf3f53e838a6d82c29c4d8/core/controllers/acl_decorators.py#L199-L200

Here is the corresponding error log that confirms this:

[code]

"self.user" is only set later on in base.py, the error is thrown before this is set. See https://github.com/oppia/oppia/blob/

[2021-08-11 00:19] jcqli opened #13626 "Move constants to android_validation_constants"
**Describe the bug**
There are Android-specific constants in [constants.ts](https://github.com/oppia/oppia/blob/c6b5642/assets/constants.ts#L5838-L5843) that can be moved to [android_validation_constants.py](https://github.com/oppia/oppia/blob/develop/android_validation_constants.py) to consolidate all Android constants.

**Additional context**
Moving `PLATFORM_PARAMETER_ALLOWED_APP_VERSION_FLAVOR

[2021-08-11 00:20] kevintab95 opened #13627 "[Server Error] Your merge fields were invalid"
This error occurred recently in production

[code]

This was first observed in release-3.1.3.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps availa

[2021-08-11 00:20] kevintab95 commented on #13627
I was able to get a similar error when toggling my email preferences in https://www.oppia.org/preferences.

[2021-08-11 00:39] kevintab95 commented on #13624
It seems like this error was not caught in the frontend. Perhaps we need stronger frontend validation for this.

[2021-08-11 00:51] kevintab95 commented on #13627
@aks681 could you PTAL this one?

[2021-08-11 05:52] hardikkat24 opened #13628 "Decide whether we need annotations from __future__"
Aim: Decide whether we should do `from __future__ import annotations` in every file or not

What will this help with:
For type annotations like:
[code]
we can remove the quotes as follows:
[code]

[2021-08-11 13:48] vojtechjelinek commented on #13621
This was fixed.

[2021-08-11 13:48] #13621 closed, assigned to vojtechjelinek

[2021-08-11 16:13] sajalasati commented on #13059
Closing this issue as we are already tracking use of type ignores in [this](https://docs.google.com/document/d/1LEWKK2H303eHmWg1hHN2EMIlnewB6EnEyrQoReY-M6s/edit#heading=h.buj3wgya00wb) doc.

[2021-08-11 18:04] gp201 opened #13630 "[Exploration editor] The exploration editor page is not loading for a specific exploration"
**Describe the bug**
The exploration editor does not seem to load for a **specific** exploration. (https://www.oppiatestserver.org/create/hJ6ztrudvyBm#/)

[www.oppiatestserver.org-1628704689413.log](https://github.com/oppia/oppia/files/6970469/www.oppiatestserver.org-1628704689413.log)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the creator dashboard.
 2. Open an exploration to ed

[2021-08-11 18:50] gp201 opened #13631 "[Exploraton player] Console errors generated when exploration loads"
**Describe the bug**
When exploration loads console errors are generated. https://www.oppiatestserver.org/explore/16

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/16
 2. Open console.

**Observed behavior**
Console errors are generated

**Expected behavior**
No console errors should be generated

**Screenshots**
If applicable, add screenshots

[2021-08-11 18:59] gp201 opened #13632 "[Image Region] Image is not loading"
**Describe the bug**
When the image in Image Region Interaction does not load.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/16
 2. Answer the question until Image region.
 3. See the image does not load and errors are also generated in the console.

**Observed behavior**
the image does not load and console errors are generated

**Expected beh

[2021-08-11 22:01] kevintab95 commented on #13632
The image appears to work fine in preview. In the /explore page, audio/images are preloaded but not in the preview page. So this issue might be related to the preloading functionality.

[2021-08-12 00:58] U8NWXD opened #13635 "Community library page elements mis-aligned"
**Describe the bug**
The exploration cards on the community library page are not aligned correctly. Specifically, rows of exploration cards are wrapping.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/community-library

**Observed behavior**

The row of featured explorations is wrapping to put the right arrow below the cards.

![Screen Shot 2021-08-11

[2021-08-12 01:26] U8NWXD opened #13636 "Console error when reviewing translation for deleted opportunity"
**Describe the bug**

When the opportunity corresponding to a translation has been deleted, reviewing the translation suggestion raises a console error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a translation opportunity for the contributor dashboard
 2. Suggest a translation for the opportunity
 3. Delete the opportunity
 4. Try to review the translation suggestion

**Observed

[2021-08-12 06:35] imalokjha commented on #8668
Hey,
Myself Alok. I am a new contributor eager to help and learn. Can you please assign me this issue, I would be really great.

[2021-08-12 07:24] EeshaArif opened #13637 "Remove interstitial objects from the editors"
**Code Smell**
Currently interstitial objects are created for the following
- [ ] Blog Post
- [x] Skill Rights #13638
- [x] Skills #13638
- [ ] Story
- [ ] Subtopic Page
- [ ] Topic
- [ ] Topic Rights
- [x] Concept Card #13638

This should be avoided since objects with `null` ids are being created.

**Potential Solution**
Remove the use of interstitial objects by refactoring code to make use of th

[2021-08-12 09:38] gp201 opened #13639 "[Music and Fraction Interactions] Certain interaction from old exploration are no longer working as expected"
**Describe the bug**
Fraction Input does not accept answers.
Music input does not play a note when "Play Target Sequence" is clicked.

**To Reproduce**
Steps to reproduce fraction input the behavior:
 1. Go to https://www.oppiatestserver.org/create/16#/preview/Fraction%20Input
 2. Enter 1/6 or 1/8
 3. See warning "Please enter an answer in simplest form (e.g., 1/3 instead of 2/6)."

Steps to repro

[2021-08-12 14:55] hardikkat24 commented on #13169
In python3 pylint checks whether an imported class from typing is used or not. So we don't need to add something.
Closing this.

[2021-08-12 14:55] #13169 closed, assigned to nobody

[2021-08-12 14:58] hardikkat24 opened #13641 "Remove # pylint: disable=unused-import for typing module imports in files having type annotations in py3 style"
Aim: Remove `# pylint: disable=unused-import` for typing module imports in files having type annotations in py3 style

[2021-08-12 15:01] hardikkat24 commented on #13171
Issue 1 is solved.
Issue 2 will be solved automatically with py3 style type annotations.

Closing this.

[2021-08-12 15:01] #13171 closed, assigned to nobody

[2021-08-12 15:05] hardikkat24 commented on #13131
--skip-install flag is introduced.
This issue is merged with #13398 .
Closing this.

[2021-08-12 15:05] #13131 closed, assigned to nobody

[2021-08-12 15:07] hardikkat24 commented on #13556
This is not required as we are moving to py3 style type annotations.
Closing this.

[2021-08-12 15:07] #13556 closed, assigned to sajalasati, hardikkat24

[2021-08-12 15:12] kevintab95 opened #13642 "Add an accessibility test for TextInput interaction"
Hitting the enter button on a TextInput interaction should submit answer. A lighthouse accessibility test or e2e could be written for this.

[2021-08-12 17:52] aks681 commented on #13627
This has been fixed now. The configuration in the mailchimp dashboard has been updated.
(Changes are reflected in prod)

[2021-08-12 17:52] #13627 closed, assigned to aks681

[2021-08-13 04:57] imalokjha commented on #8668
May I get it please?

[2021-08-13 12:34] mridul-netizen commented on #13639
[Note] Unchecking the first option here makes the interaction work correctly. But this still doesn't seem to be a correct behaviour.
![Screenshot from 2021-08-13 18-01-26](https://user-images.githubusercontent.com/60519303/129357573-a28f4e77-80a3-4685-8c4e-d0e40f7a2399.png)

[2021-08-13 13:38] U8NWXD opened #13646 "Cookie notice misaligned on learner dashboard page"
**Describe the bug**
The cookie notice floats above the bottom of the page on the learner dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in to https://oppiatestserver.org
 2. See error on learner dashboard page

**Observed behavior**

The cookie notice is not at the bottom of the page.

![Screen Shot 2021-08-13 at 09 35 40](https://user-images.githubusercontent.com/1987

[2021-08-13 13:50] MNSDivya opened #13647 "Total no of pages not shown for skills on dashboard while topics show"
**Describe the bug**
Total no of pages not shown for skills on dashboard while topics show

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/topics-and-skills-dashboard'
 2. Navigate to Topics tab and verify the total no. of pages [like <1 2 3 4 5...> ]
 3. Similarly verify on skills tab

**Observed behavior**
Skills tab does not show total no.of pages w

[2021-08-13 13:52] U8NWXD commented on #13630
This looks like it's probably an issue with the data in a particular exploration on the test server being invalid, but we should confirm that data on the production server won't be invalid in the same way.

@aks681 I'm assigning this to you since it's a creator experience issue. Could you please take it up or reassign it? Also /cc @vojtechjelinek since this looks like a data validity problem

[2021-08-13 13:55] U8NWXD commented on #13631
The console errors are CORS failures:

[code]

This errors are not raised on production, so this is a regression

[2021-08-13 13:55] U8NWXD commented on #13631
This looks like a learner experience issue, so @kevintab95 could you please take this issue up or reassign it?

[2021-08-13 13:57] U8NWXD commented on #13632
This looks like a learner experience issue, so @kevintab95 could you please take this issue up or reassign it?

[2021-08-13 13:57] U8NWXD commented on #13635
This looks like a learner experience issue, so @kevintab95 could you please take this issue up or reassign it?

[2021-08-13 14:02] U8NWXD commented on #13636
Closing as duplicate of #12276

[2021-08-13 14:02] #13636 closed, assigned to nobody

[2021-08-13 14:02] U8NWXD commented on #12276
@sagangwee @DubeySandeep what's the status of work on this bug? It looks like we didn't get this fixed for the June release as planned since this issue was surfaced by QA testing again

[2021-08-13 14:04] U8NWXD commented on #12276
Also note that I don't think we have to remove the opportunity completely to fix the issue from a QA perspective. Making the "Review" button not clickable would be sufficient. It's just confusing to have a button that looks clickable but doesn't do anything except throw console errors

[2021-08-13 14:07] U8NWXD commented on #13639
Since this looks like a learner and creator experience issue, @aks681 could you please either take up this issue or reassign it? I think the fraction input problem is particularly severe since we use that in the math classroom explorations

[2021-08-13 14:09] U8NWXD commented on #13646
@kevintab95 since you added the cookie banner in #13250, could you take a look at this issue?

[2021-08-13 14:30] MNSDivya opened #13648 "Solution section is not shown for the first time when interaction is Number input While creating skill"
**Describe the bug**
Solution section is not shown for the first time when interaction is Number input While creating skill.
If we edit the interaction to any other (text input) and try with number input, solution section is shown

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/skill_editor'
 2. Click on  create a skill
 3. Fill all mandatory fields an

[2021-08-13 14:45] kevintab95 commented on #13646
This should be fixed by https://github.com/oppia/oppia/pull/13623. Thanks!

[2021-08-13 15:13] Nik-09 opened #13650 "Translation and language are not integrated properly."
**Describe the bug**
When I select to play a lesson in  **Hinglish** -- In the first card everything is good but in the second & third card it is showing english but the laguage in which the lesson is playing is hinglish.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE
 2. Click on listen to the lesson
 3. Select Hinglish
 4. Pla

[2021-08-13 15:15] Nik-09 commented on #13650
@kevintab95 Please take a look.

[2021-08-13 15:43] EeshaArif opened #13651 "Console errors are thrown when in preview tab of the skill editor for a skill which has questions"
**Describe the bug**
Console errors are thrown when in preview tab of the skill editor for a skill which has questions

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skill dashboard
 2. Click on skills tab
 3. Open any skill which has questions
 4. Go to preview tab of the editor

**Observed behavior**
The following console error is thrown
[code]

**Expected behavior**
Con

[2021-08-13 16:07] kevintab95 opened #13652 "[Server Error] NotImplementedError Missing schema for HEAD method in ClassroomPage handler class."
This error occurred recently in production (seen first in release-3.1.3).

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this

[2021-08-13 16:08] kevintab95 commented on #13652
Hi @Nik-09, this seems related to schema validations. Could you PTAL? Thanks!

[2021-08-13 16:22] EeshaArif opened #13653 "Unable to specify response of a learner's answer when adding interaction of a question inside the skill editor"
**Describe the bug**
Unable to specify response of a learner's answer when adding interaction of a question inside the skill editor

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topic and Skill dashboard
 2. Go to the skill tab
 3. Click on a skill to reach the skill editor
 4. Click on `Create new question`
 5. Select any difficulty and type any question
 6. Click on `add interacti

[2021-08-13 16:40] EeshaArif opened #13654 "Console errors thrown when successfully adding a new question through the topic editor question's tab"
**Describe the bug**
Console errors occur when successfully adding a new question through the topic editor question's tab

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skill Dashboard
 2. Click on any topic
 3. Click on the questions tab
 4. choose a skill and Click `ADD QUESTION`
 5. specify all the required question information
 6. Click `save`
 7. Question will be succ

[2021-08-13 16:50] AdityaDubey0 opened #13655 "Unable to delete a user account from the preferences page"
**Describe the bug**
Unable to delete a user account from the preferences page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Preferences'
 2. Click on the 'Delete account' button at the bottom of the page.
 3. Click on the 'Delete my account button' at the bottom of the page.
 4. Fill up the 'username' in the modal and click on 'Delete my account'

**Observed behavior**
modal disap

[2021-08-13 17:12] AdityaDubey0 opened #13656 "Fractions landing page is not accessible"
**Describe the bug**
Fractions landing page is not accessible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/math/fractions'

**Observed behavior**
Error 404- Page not found

**Screenshots**
![image](https://user-images.githubusercontent.com/55298925/129395423-ce22c27b-935a-445a-a8ae-d6ecd3c91543.png)

**Desktop (please complete the following informa

[2021-08-13 17:20] Nik-09 commented on #13652
I have checked into the develop and it seems to be working for me.

Also based on the error message it seems like schema is required for head request method but the codebase do not have any head method.
[A comment here](https://github.com/oppia/oppia/blob/e41fb8a901eff98e44546d300275e549b150377b/core/controllers/base_test.py#L112) helps to understand that head request methods are not recognised by

[2021-08-13 17:57] atpug22 opened #13657 "Topics and Skills not showing in contributors dashboard to suggest questions."
**Describe the bug**
Topics and skills are added on the server but on the contributors dashboard it is showing no opportunities available under submit question section.

**To Reproduce**
Steps to reproduce the behavior:
 1. Get permission to suggest questions through contributors dashboard on Oppia test server.
 2. Go to the contributors dashboard and click on submit a question. There you'll see n

[2021-08-13 18:13] U8NWXD commented on #13657
@DubeySandeep could you please look into this contributor dashboard issue or reassign it?

[2021-08-13 18:18] sagangwee opened #13658 "[CD Admin] Allow translation admin to specify translation tips in contributor admin dashboard"
Anu has requested topic-specific help text, e.g. a glossary of common words per topic in the translation tips. To make this scalable, we need to allow admins to edit the content of the translation tips in the contributor admin dashboard rather than requiring a code change each time a change is required.

[2021-08-13 18:21] sagangwee opened #13659 "Generate default auto-translations when a "serious" exploration change is made."
If an exploration/lesson content is modified, but the corresponding translations have not been updated yet, the learner may have trouble progressing through the lesson in a non-English language. This is especially true for feedback or questions, as the learner may be trying to answer or follow a hint that is outdated.

One proposal is on a serious exploration content change, invalidate all corresp

[2021-08-13 18:21] atpug22 opened #13660 "Practice questions session getting stuck in middle"
**Describe the bug**
While practicing questions session of fraction, it stuck at one point and doesn't move forward and also  shows a console error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions
 2. Click on Practice questions
 3.  Select Fractions of group and start practising
 4. It will get stuck after 2nd question

**Observed

[2021-08-13 18:22] atpug22 commented on #13660
This is somewhat similar to #13639.

[2021-08-13 20:43] hardikkat24 opened #13663 "TODO: Install MyPy in virtual environment not in third_party"
Aim: Install MyPy in the virtual environment we use.

Current Situation: MyPy is installed in `third_party`.

Issues: We cannot currently migrate to mypy>=0.9. Mypy<0.9 comes with typeshed. But in mypy>=0.9, we have to install specific type stubs from pip. Example of such stubs: `types-redis`

Expected Situation: MyPy should be installed in virtual environment. So we can use mypy>=0.9. Therefore o

[2021-08-13 20:46] sajalasati opened #13664 "Unable to run install_prerequisites.sh after setting up python3 workflow"
**OS**: Ubuntu 18.04
**Browser**: Chrome
**Browser-version**: Version 92.0.4515.107 (Official Build) (64-bit)

**Describe the bug**
I have followed all the steps in order as mentioned in the [py3 installation wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Linux;-Python-3)), but I am facing an error when running `bash scripts/install_prerequisites.sh` in step 2 of [Prerequisites](https

[2021-08-13 22:27] U8NWXD commented on #13660
Assigning to @kevintab95 since this is a learner experience issue

[2021-08-13 22:36] U8NWXD commented on #13656
This looks like a regression. https://oppia.org/math/fractions still works, and we still reference this page in the code:

https://github.com/oppia/oppia/blob/e41fb8a901eff98e44546d300275e549b150377b/core/controllers/custom_landing_pages.py#L37

[2021-08-13 23:59] U8NWXD commented on #13656
This was caused by #13483. Locally, I tested 82e41b104 (the commit before the PR merged), where the fractions landing page worked correctly. Then I tested c89776f48 (the commit that merges the PR), where the fractions landing page resulted in a 404 error.

This regression got past E2E tests because the 404 error pages from the Angular router don't appear to raise a console error, while other 404 e

[2021-08-14 00:09] U8NWXD commented on #13639
I've confirmed that this happens with the fraction input interaction even on a brand-new exploration. Therefore, this is not an issue with old data on the testing server

[2021-08-14 00:09] U8NWXD opened #13666 "Solution submission button for fraction input interaction not clickable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration
 2. Add a fraction input interaction
 3. Check the box to require that user answers be in simplest form
 4. Add a correct answer for `3/4` in simplest form
 5. Add a hint
 6. Add a solution and type in `3/4`

**Observed behavior**

The submit butt

[2021-08-14 00:10] U8NWXD commented on #13666
@aks681 could you take a look at this regression in the creator experience?

[2021-08-14 00:21] U8NWXD commented on #13648
@aks681 could you take a look at this regression in the creator experience?

[2021-08-14 00:29] U8NWXD commented on #13653
@kevintab95 could you look into this regression in the creator experience?

[2021-08-14 00:31] U8NWXD commented on #13654
@kevintab95 could you triage this issue? I'm leaving it as a blocking bug for now, but since it doesn't appear to affect the user experience, I think it's okay to release without fixing this if necessary

[2021-08-14 00:33] U8NWXD commented on #13655
@vojtechjelinek could you look into this regression in wipeout?

[2021-08-14 00:50] U8NWXD commented on #13651
Per @seanlip this does not occur on prod, so it is a regression we need to fix. @kevintab95, could you take a look at this regression?

[2021-08-14 00:52] U8NWXD commented on #13647
This matches the behavior on production, so it's not a regression. @dchen97, could you triage this for the LaCE team?

[2021-08-14 00:57] vojtechjelinek commented on #13655
Looked into the test server logs and it seems to be related to Mailchimp.
[code]

@aks681 PTAL

[2021-08-14 01:07] mschanteltc commented on #13569
Although I don't have an animation of how these keyboards should appear, they should be on a layer above the lesson instead of at the bottom of the page. In the [mocks](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/626eafe7-3d22-415a-bb61-accbe4d77af0/), when the input is active, the input is at the top of the screen (with some top padding) while the keyboard is shown.

[2021-08-14 01:09] vojtechjelinek commented on #13652
Hmm, the long-term solution would probably be to enable HEAD requests, since they [can be useful for optimization and caching](https://deanhume.com/http-head-request-benefits-usages/). The short term solution is IMO to return 404 but not to report or throw an error.

Btw I also noticed that the function name is misspelt https://github.com/oppia/oppia/blob/72937725a323b0cc1ccec150c81b041abeacb575/c

[2021-08-14 02:01] vojtechjelinek commented on #13630
Errors from the test server backed logs
[code]

[code]

[2021-08-14 02:44] krishita30j opened #13667 "Unable to visit the Math classroom page using keyboard navigation."
**Describe the bug**
Unable to visit the Math classroom page using keyboard navigation.

**Expected behavior**
Users should be able to visit the Math classroom page using keyboard navigation.

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: MacOS
 - Browser Chrome

[2021-08-14 03:16] kevintab95 opened #13668 "TODO: Increase accessibility score for volunteer page to 100%"
Increase accessibility score for volunteer page to 100%

See report for more details: https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/reports/1628909640729-82260.report.html#accessibility

[2021-08-14 04:33] dchen97 commented on #13647
@mschanteltc could we have a designer take a look and create updated mocks showing the total number of pages?

@seanlip @kevintab95 - Do you think this change potentially be small enough to be considered a beginner friendly change?

[2021-08-14 05:05] seanlip commented on #13647
I think it's pretty small and non-urgent, yup! (Though I wouldn't offer it as a starter project yet until we have some idea of what the desired user experience should be.)

[2021-08-14 05:27] seanlip commented on #13630
Hi @gp201 -- I dug into this a bit. On my end, it looks like (as moderator) I can view this exploration and there are no console errors.

Could you please let me know if this is still happening on your end, and if the same issue shows up in multiple browsers? It might need a bit more digging.

Thanks!

[2021-08-14 05:41] seanlip commented on #13631
This is due to a misconfiguration of the storage bucket. I've fixed this and it should be fixed within an hour (hopefully).

I've reassigned this issue to myself.

[2021-08-14 05:42] seanlip commented on #13632
Duplicate of https://github.com/oppia/oppia/issues/13631.

[2021-08-14 05:42] #13632 closed, assigned to kevintab95

[2021-08-14 05:44] seanlip commented on #13650
@aks681 could you please take this one, since it affects the learner/i18n experience? Thanks!

[2021-08-14 05:46] seanlip commented on #13654
This one actually seems serious enough that we should fix it, based on the console error message. It suggests that a validation  function isn't being called when it should be.

[2021-08-14 05:50] seanlip commented on #13666
Reassigning to @kevintab95

(@U8NWXD -- FYI, @kevintab95 is in charge of creator experience bugs, and @aks681 in charge of learner experience bugs. Thanks!)

[2021-08-14 05:50] seanlip commented on #13648
Reassigning to @kevintab95

[2021-08-14 05:51] seanlip commented on #13635
Reassigning to @aks681 (for learner experience team)

[2021-08-14 06:18] sajalasati opened #13670 "Unexpected lint error for file `core/platform/datastore/cloud_datastore_services.py`"
**OS**: Ubuntu 18.04
**Browser**: Chrome
**Browser-version**: Version 92.0.4515.107 (Official Build) (64-bit)

**Describe the bug**
I recently setup the py3 version of the Oppia codebase. I pulled from latest upstream develop, and when I run lint check using `python -m scripts.linters.pre_commit_linter --path core/platform/datastore/cloud_datastore_services.py` (on the latest develop version of th

[2021-08-14 06:19] sajalasati commented on #13670
@Hudda @AdityaDubey0 PTAL and let us know if you can understand what's going on wrong here.
cc @vojtechjelinek

[2021-08-14 06:30] seanlip commented on #13631
Confirming that this is now fixed, and that no more console errors show up. Thanks @gp201 for reporting!

[2021-08-14 06:30] #13631 closed, assigned to seanlip

[2021-08-14 06:31] rohitkatlaa commented on #13652
As @vojtechjelinek  suggested I think it is best to enable HEAD requests, and since they are not handled by our database I think we can ignore schema validation for the HEAD request. So @Nik-09 please create a pr adding to appropriate changes to the checks. Thanks!

[2021-08-14 06:43] ashutoshc8101 commented on #13656
Thanks, @AdityaDubey0 for finding this out, and @U8NWXD your investigations for very helpful.
I have created #13671 as a fix.

[2021-08-14 07:01] sajalasati opened #13672 "Unable to run scripts.start after Python3 migration"
**OS**: Ubuntu 18.04
**Browser**: Chrome
**Browser-version**: Version 92.0.4515.107 (Official Build) (64-bit)

**Describe the bug**
I have followed all the steps in order as mentioned in the [py3 installation wiki](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Linux;-Python-3)), but I am facing an error when running `python -m scripts.start` because of which the local server doesn't start.

[2021-08-14 07:49] gp201 commented on #13630
@seanlip Yes, I checked and this seems to be occurring on Chrome: 92 and Firefox: 90.
I have also attempted to empty the cache and reload, but it did not work

[2021-08-14 08:23] mahendra1290 commented on #12840
hi @vojtechjelinek i would like to work on this issue can you please guide me through this

[2021-08-14 08:29] mahendra1290 commented on #3056
@nithusha21 can you guide me on this

[2021-08-14 09:30] seanlip commented on #13630
Thanks @gp201. Are you able to access all other explorations besides just this one, or does this occur with any exploration you access?

If the latter: if you create a new exploration, are you subsequently able to access it?

Thanks!

[2021-08-14 09:33] gp201 commented on #13630
@seanlip  I'm unable to access only this exploration in particular

[2021-08-14 11:29] vojtechjelinek commented on #12840
@mahendra1290 Hey, sorry the 'good first issue' label was a bit wrong here, please try looking for different 'good first issue'.

[2021-08-14 13:05] gp201 opened #13676 "Replace window.gifFrames with another approach"
Image-editor.component.ts file uses https://github.com/oppia/oppia/blob/9f9d5d198569eae81f221c0f914359af0e499bd1/extensions/objects/templates/image-editor.component.ts#L1015
to make the file testable for frontend tests.

This was done because `gifFrames` is exported as [`module.export = gifFrames`](https://github.com/benwiley4000/gif-frames/blob/c343970df0d8df1c7dfcd40f03f91ff2edb64048/gif-frames.

[2021-08-14 14:58] mridul-netizen opened #13677 "Create separate interfaces for different unique commands(`cmd`) received at LostChangeBackendDict"
Currently `LostChangeBackendDict` have a set of optional properties
https://github.com/oppia/oppia/blob/9b86f49ee6b454f60c72a5bba821395c2c1a815a/core/templates/domain/exploration/LostChangeObjectFactory.ts#L55-L63
Issue focuses on  refractoring these properties to make them not optional. File below explains the use of different types of CMDs and parameters received
https://github.com/oppia/oppia/b

[2021-08-14 17:30] DubeySandeep opened #13679 "Audit and reduce max-old-space-size for karma test after angular migration"
Currently, karma runs with 4096 MB of max-old-space-size (introduced in PR #13674). We suspect the requirement is because of some memory leakage or bad garbage collection because of our hybrid frontend structure.

Through this issue, we are expecting an audit karma memory requirement **after full angular migration** and to the `max-old-space-size` (if possible).

[2021-08-14 17:54] U8NWXD commented on #13667
I was able to navigate to the math classroom page with a keyboard by hitting the tab key, but there was no UI indication that the "Classroom" dropdown was selected. I had to hit tab until the "Create" button was highlighted, then hit shift-tab 4 times to go back 4 buttons to the "Classroom" dropdown. This happens on oppia.org too, so it's not a regression, but it's definitely unacceptable from an

[2021-08-14 18:02] U8NWXD opened #13680 "Voice artists mentioned below exploration settings page role assignment dropdown"
**Describe the bug**

Exploration settings page still mentions voice artist permissions even though those can only be assigned by the voiceover admin now.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Go to the settings tab
 3. Scroll down to add a new role

**Observed behavior**

![Screen Shot 2021-08-13 at 14 26 04](https://user-images.githubusercontent.com/198

[2021-08-14 18:02] U8NWXD commented on #13680
@dchen97 could you triage this for the LaCE team? It's a very small UI fix, so maybe it would make a good first issue?

[2021-08-14 19:14] seanlip commented on #12779
@ashutoshc8101 could you please leave a comment explaining why this was closed, _before_ closing it? (Please do this in general when closing issues or PRs -- that way, other folks will have context too.)

Thanks!

[2021-08-14 19:29] seanlip commented on #13630
Hm ok. Thanks @gp201.

@DubeySandeep -- would you mind looking into this, please? Could it be a permissions problem due to the roles changes?

[2021-08-14 19:29] ashutoshc8101 commented on #12779
@U8NWXD I no longer experience this flake
Are there other reports of this flake occurring?
If not, can we close this issue?

[2021-08-14 19:36] seanlip commented on #13630
Oh, I think I have some idea of what's happening.

https://github.com/oppia/oppia/blob/develop/core/controllers/editor.py#L98 wraps a bunch of stuff in a try/except block. I think something is happening there, and for some reason we raise 404 if anything there fails. Unfortunately this practice means that we don't know what the underlying error is.

The first step is probably to drop the try/excep

[2021-08-15 07:08] lkbhitesh07 opened #13686 "System freezes way too much after py3 migration."
**Describe the bug**
After migrating to python3 my system has started to freeze quite often. Now the situation is as I start the dev server and it opens up in the browser then my laptop gets freeze. I thought it was because of VS code and chrome browser but even after switching from them, the condition is the same.
I always have to forcefully shut down my laptop in order to start again, also when

[2021-08-15 07:13] Nik-09 opened #13687 "Convert dicts to domain objects as a part of normalization through schema validation."
**The requested feature revolves around the following points:**
1. Update dicts with domain objects as a part of normalization through schema validation.
2. Update the names of the arguments if we are transforming the dicts into domain_objects, since transformation is done in schema validation layer.
3. Transform domain objects validator file into payload validator.
4. Move the list of handlers cl

[2021-08-15 08:14] #13243 closed, assigned to nobody

[2021-08-15 11:19] mahendra1290 commented on #3446
Hi, @kevintab95 I would like to work on this issue please assign and guide me through this.
I would like to add a validator to MusicNotesInput

[2021-08-15 12:34] gp201 commented on #13467
`edit-profile-picture-modal.component.ts seems to be not completely tested. Make sure it's fully covered.`  was fixed in https://github.com/oppia/oppia/pull/13419

[2021-08-15 12:36] aishwary023 commented on #13467
It recently reappeared on my local system, have asked @ashutoshc8101 to take a look. He will send a fixing PR soon.

[2021-08-15 13:21] iamprayush opened #13688 "Donate page redesign"
**Is your feature request related to a problem? Please describe.**
The current [donate page](https://www.oppia.org/donate) is quite old in terms of the UI is inconsistent with the rest of the pages' designs.
**Describe the solution you'd like**
The page's UI needs to be redesigned. The mocks for the new design are [here](https://www.figma.com/file/xvql2DxTndtrdVHPsPKpva/donation-Page?node-id=0%3A1

[2021-08-15 13:35] iamprayush opened #13689 "Division sign customization arg acts exploration-specific instead of being state-specific."
**Describe the bug**
For math interactions, the `useFractionForDivision` customization arg which handles the format in which the division sign gets rendered to the student is acting in a global state even though the customization arg is state-specific.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. In the first state, add a numeric expression input interaction

[2021-08-15 16:55] U8NWXD commented on #12276
@sagangwee @DubeySandeep Could you give an update on this bug?

[2021-08-15 17:14] AdityaDubey0 commented on #13670
Sorry i have less experience around pylint checks, @Hudda can you please take a look?

[2021-08-15 17:55] dchen97 commented on #13680
Thanks @U8NWXD! I would agree this is a very minor fix that could be handled as a good first issue. @kevintab95 FYI

[2021-08-15 17:57] dchen97 commented on #13667
Thanks for raising @U8NWXD - I've added this to the LaCE tracker

[2021-08-16 08:16] kevintab95 commented on #13686
+1 Multiple people in the LaCE team are facing this issue. Can we please prioritise investigating why this is happening and if anything can be done to make the dev experience smoother?
/cc @vojtechjelinek @seanlip @DubeySandeep

[2021-08-16 08:33] DubeySandeep commented on #13686
![image](https://user-images.githubusercontent.com/16653571/129534736-cf7014fc-984b-433f-a273-f925bfc53a39.png)
Looks like elastic search and webpack are taking most of the space?

[2021-08-16 08:37] seanlip commented on #13686
Possibly relevant: https://github.com/elastic/elasticsearch/issues/10928

I don't know enough about elasticsearch configuration but there might be a way to configure it locally so that it doesn't spawn so many processes. Probably needs some searching to figure out how to do this, though.

[2021-08-16 09:02] DubeySandeep commented on #13686
Few insights:
Overall memory usage by running oppia locally: ~3.2 GB
Elastic search usage: ~1.4 GB

I found that we use the default config file and the [bootstrap.memory_lock](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html#bootstrap-memory_lock) is not enabled. As per the ref doc, we may have to disable swapping in the local system as well as enabli

[2021-08-16 09:17] DubeySandeep commented on #13686
I tried enabling bootstrap.memory_lock but it's not working as [mlockall](http://localhost:9200/_nodes?filter_path=**.mlockall) is still false. I'm working on some system changes to allow the elastic search to control swap!

@lkbhitesh07 Can you please check whether the elastic search memory usage is too high for you? (I wanted to confirm that we are fixing the correct thing!)

[2021-08-16 10:24] seanlip opened #13691 "Creating an AlgebraicEquationInput answer group with two rules leads to an error"
**Describe the bug**
When adding a new rule to an answer group for AlgebraicEquationInput, the editor screen states that an unexpected error occurred and an error is raised. This seems related somehow to the validation logic. See screenshot below.

Note: This is affecting the finalization of the Expressions and Equations lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an Alg

[2021-08-16 10:26] seanlip commented on #13691
@iamprayush Could you PTAL at this? I've put it in the "Regressions" list, but it might need to be assigned to a hotfix list instead (/cc @kevintab95).

[2021-08-16 10:31] lkbhitesh07 commented on #13686
@DubeySandeep
using `top` command

![Screenshot from 2021-08-16 16-30-28](https://user-images.githubusercontent.com/44300735/129553882-4b77d65b-dfab-43cd-ae07-e0385a09346c.png)

Details regarding the threads that were mentioned, I ran this command `curl -XGET http://localhost:9200/_nodes/stats/fs?pretty=true` and the output was
[code]

[2021-08-16 13:45] #13646 closed, assigned to kevintab95

[2021-08-16 18:18] #13475 closed, assigned to nobody

[2021-08-16 18:19] sagangwee commented on #13475
Fixed in https://github.com/oppia/oppia/pull/13529.

[2021-08-16 18:21] sagangwee commented on #13508
Should be fixed in https://github.com/oppia/oppia/pull/13529 as it is no longer a requirement for the topic to be published for the opportunity to be updated in update_story().

[2021-08-16 18:21] #13508 closed, assigned to nobody

[2021-08-16 19:12] kevintab95 commented on #13660
I looked at this and it happens when a user hits the enter button to submit an answer for TextInput interactions. Basically, hitting the enter key would cause the page to refresh. I was able to play through the questions if I manually clicked the submit button for TextInput interactions. The issue with refresh has been fixed in https://github.com/oppia/oppia/pull/13634 and is going to be CPed into

[2021-08-16 19:12] #13660 closed, assigned to kevintab95

[2021-08-16 21:59] kevintab95 commented on #13630
If the person fetching the exploration is not the author, draft changes don't get applied. I suspect that the "try_upgrading_draft_to_exp_version" function is failing for this particular exploration when the author accesses it. So it may not actually be a permission issue but rather an issue with applying draft changes.. I will try to deploy as suggested above to get a clearer picture.

[2021-08-17 07:14] #13656 closed, assigned to ashutoshc8101

[2021-08-17 12:22] #13664 closed, assigned to vojtechjelinek

[2021-08-17 12:44] ZhanLiangUF commented on #9749
Can y'all assign me to welcome-modal.controller?

[2021-08-17 12:46] ashutoshc8101 commented on #9749
Done, Good luck!

[2021-08-17 19:01] seanlip commented on #13630
Just a note -- I did confirm that @gp201 is the author (and sole manager) of this exploration in particular.

@kevintab95 what do you mean by "If the person fetching the exploration is not the author, draft changes don't get applied."? I don't think I understand that.

[2021-08-17 19:06] kevintab95 commented on #13630
Ah, I just meant, on loading the exp editor, if there exists a `ExplorationUserDataModel` corresponding to the user_id and exp_id, we apply the draft changes and return the exploration. Otherwise, we just return the latest exploration. See code:

https://github.com/oppia/oppia/blob/aefe95731d353fe7142f8b18343e49c81e39adcf/core/domain/exp_services.py#L1937-L1955

This gets executed when the explora

[2021-08-17 19:13] seanlip commented on #13630
Oh, I see what you mean. Yup, I also suspect the issue has something to do with Praneeth's current draft changes.

[2021-08-17 19:14] seanlip commented on #13630
(Though in that case it should fail gracefully and at least try to discard them, or something like that. Might this be related to @atpug22's project?)

[2021-08-17 19:16] kevintab95 commented on #13630
Hm, I think we should inform the author and discard the changes. The current scenario of returning 404 when some draft changes are incompatible seems non-ideal.

[2021-08-17 19:20] seanlip commented on #13630
Yes, definitely. It wasn't like this before, I think... we would show a 'lost changes' modal or similar.

[2021-08-17 19:20] kevintab95 commented on #13630
Ah, I see. In that case, @atpug22, could you please help investigate this?

[2021-08-17 20:26] gp201 opened #13697 "[Image Region] Image region interaction opens a new tab when region is deleted"
**Describe the bug**
Deleting a region from the image region interaction opens a new tab.

The image uploaded:

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to create exploration
 2. Add Image region Interaction
 3. Upload an image
 4. Add regions
 5. Delete a region
 6. New tab opens

**Observed behavior**
Opens a new tab when a region is deleted.

**Expected behavior**
Should not ope

[2021-08-17 20:42] U8NWXD commented on #13697
@kevintab95 PTAL

[2021-08-17 20:49] gp201 commented on #13697
Please note that this **no** longer occurs in the latest develop. Tested locally

[2021-08-17 21:22] U8NWXD commented on #13697
@gp201 do you know which PR fixed this? If we know, then we can cherry-pick that PR into the release to keep this bug out of production

[2021-08-18 00:02] U8NWXD opened #13699 "Full interaction response tooltip misplaced for graph input interaction (and the image doesn't show up)"
**Describe the bug**
The full interaction response tooltip is not alligned with the short interaction response that the user clicks on to show the tooltip

**To Reproduce**
Steps to reproduce the behavior:
 1. (optional) Create an interaction with the graph input interaction
 2. Open an interaction with the graph input interaction
 3. Submit an incorrect answer
 4. View your previous answers
 5. C

[2021-08-18 00:36] U8NWXD commented on #13691
@iamprayush could you confirm that you are working on this and give an estimate for when you can merge a PR to fix it? Since it's a blocking bug, we need to fix this ASAP

[2021-08-18 04:04] mridul-netizen commented on #13697
@U8NWXD Fixed in https://github.com/oppia/oppia/pull/13532/files at `extensions/objects/templates/image-with-regions-editor.component.html`

[2021-08-18 05:03] Radesh-kumar opened #13702 "[Frontend Test Flake] Add Or Update Solution Modal Controller"
<pre>
Chrome Headless 91.0.4472.164 (Linux x86_64) Add Or Update Solution Modal Controller when solution is not valid should not save solution FAILED
	TypeError: this.explorationDataService.autosaveChangeListAsync is not a function
	    at ChangeListService.autosaveChangeListOnChange (core/templates/combined-tests.spec.js:100421:43476)
	    at core/templates/combined-tests.spec.js:100421:45613

[2021-08-18 11:55] #13619 closed, assigned to srijanreddy98, ashutoshc8101

[2021-08-18 13:43] U8NWXD commented on #13697
Thanks @mridul-netizen! I've marked #13532 as being for the current release

[2021-08-18 13:43] #13697 closed, assigned to kevintab95

[2021-08-18 16:23] soumyo123-prog commented on #9749
Hi, I would like to work on state-diff-modal.controller.ts. Can anyone assign it to me? Thanks!

[2021-08-18 16:33] ashutoshc8101 commented on #9749
Done, just make sure to make the http calls using a backend api service.

[2021-08-18 19:14] sagangwee commented on #12276
Will work on this issue next as the disable clicking fix should be simple.

[2021-08-18 21:16] U8NWXD commented on #12276
Thanks for the update @sagangwee! I'll move this into the hotlist milestone

[2021-08-19 02:24] U8NWXD commented on #12779
I haven't heard of any other reports of this flake, so I think it's okay to close

[2021-08-19 02:24] #12779 closed, assigned to U8NWXD, ashutoshc8101

[2021-08-19 03:51] #12612 closed, assigned to nobody

[2021-08-19 04:02] kevintab95 commented on #13648
Hi @MNSDivya could you please check if you found console errors when this happens -- if so, could you please share it here? I suspect this may be related to https://github.com/oppia/oppia/issues/13653.

[2021-08-19 11:17] siebrand commented on #12858
@seanlip Can you please revisit this issue? https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&group=oppia#sortable:3=desc shows several languages that have very high levels of translation completion (like Dutch, and Slovak), but they are not available as interface languages at https://www.oppia.org/ / https://www.oppia.org/.

In my opinion, translations that have been made at trans

[2021-08-19 14:13] Radesh-kumar opened #13709 "[Frontend Test Flake] Site Analytics Service"
<pre>
Chrome Headless 92.0.4515.131 (Linux x86_64) Site Analytics Service should register click start contributing button event FAILED
	Expected spy gtag to have been called with:
	  [ 'event', 'click', Object({ event_category: 'StartContributingButton', event_label: '/context.html' }) ]
	but actual calls were:
	  [ 'event', 'click', Object({ event_category: 'StartContributingButton', event_label:

[2021-08-19 15:44] aks681 commented on #13635
I'm not able to reproduce this in oppiatestserver.org:

https://user-images.githubusercontent.com/22347970/130099203-44733446-f0da-497a-a643-04641ce146cf.mp4

Do you have the exact screen specs where you observed this behaviour? (I am running Chrome 92 on Windows)

[2021-08-19 15:47] aks681 commented on #13635
Tried it when both arrows were visible as well:
![image](https://user-images.githubusercontent.com/22347970/130100101-1e37c5fc-a086-4d7a-9c4a-cfa26fcbebdd.png)

[2021-08-19 17:16] U8NWXD commented on #13635
I just tried again and was also unable to reproduce it. I'll close this since it's not reproducible, but we can open it if someone sees it again

[2021-08-19 19:44] seanlip commented on #12858
Hi @siebrand -- thanks for raising this! There are actually two separate issues here.

- Firstly, the missing translations that are highlighted by @intaschi in this issue are not actually based off of strings from translatewiki, since they are content strings rather than platform strings. Two follow-ups:
  - @aks681 I think you were planning to create an issue collating all the content string issu

[2021-08-19 21:43] om-khandade commented on #13150
https://user-images.githubusercontent.com/63059690/130147414-91d18eeb-735c-4bb8-8a96-52d20d01bac5.mp4

Device: OnePlus 6
OS: Android 10
Browser: Firefox 91.1.0

Many users are still facing this issue and have reported the same to the learners' feedback team.

[2021-08-19 21:49] kevintab95 commented on #13150
Hi @om-khandade are you able to reproduce this issue on oppia.org?

[2021-08-19 21:57] om-khandade commented on #13150
Yes

https://user-images.githubusercontent.com/63059690/130149706-c411ecaa-c715-4ea3-b61d-131eda410ec4.mp4

[2021-08-19 22:00] kevintab95 commented on #13150
Thanks @om-khandade for reporting. We will look into this.

[2021-08-19 22:46] kevintab95 opened #13711 "It was possible to publish Expressions and Equations Topic with unpublished Chapters"
Investigate and fix why publish action was allowed even though there were unpublished chapters.

[2021-08-19 22:51] kevintab95 opened #13712 "Show a banner / message if the editor visits their unpublished exploration in the player"
**Is your feature request related to a problem? Please describe.**
As an editor, visiting an unpublished lesson in the player will look as if it were infact published. There is no way to tell if the exploration is private unless they visit the editor page.

**Describe the solution you'd like**
Show a banner / message if the editor visits their unpublished exploration in the player.

[2021-08-20 04:24] anuragc10 commented on #12823
Hello, Sir/Ma'am I want to work on this issue,
I can resolve it.
Please assign this to me

[2021-08-20 10:26] MNSDivya commented on #13648
No console errors found but there is a message under issues. Might be different than #13653
![Screenshot 2021-08-20 3 52 41 PM](https://user-images.githubusercontent.com/56336353/130219864-6038c0fc-607f-4dd9-a23f-1ce1c28a8892.png)
![Screenshot 2021-08-20 3 48 41 PM](https://user-images.githubusercontent.com/56336353/130219870-85ab13c7-6364-4921-889d-03891157f8ea.png)

[2021-08-20 10:32] kevintab95 commented on #13648
Oh ok thanks @MNSDivya! I'll take a look.

[2021-08-20 11:45] #13691 closed, assigned to iamprayush

[2021-08-20 12:30] U8NWXD commented on #13657
Reassigning to @sagangwee as lead of the contributor dashboard team. @sagangwee could you please prioritize fixing this blocking bug?

[2021-08-20 15:31] aks681 commented on #13650
This one is just a misconfiguration in the exploration editor and not an actual issue. In the editor view (https://www.oppiatestserver.org/create/G8ZgSj1O4rjE), the 'Hinglish' translation has been uploaded as an 'English' translation with no voiceover uploaded for 'Hinglish'.
I've tested locally for an exploration with both English and Hinglish in 2 consecutive states and the voiceover is set corr

[2021-08-20 15:31] #13650 closed, assigned to aks681

[2021-08-20 16:09] aks681 commented on #13639
Fraction input interaction is an issue and fixed it, but with MusicNotes, I'm not able to reproduce it locally. I even reloaded 'all_interactions' locally and MusicNotes worked fine there.

[2021-08-20 16:32] sagangwee commented on #13657
@atpug22 Are the topics part of a classroom? As of https://github.com/oppia/oppia/pull/12982, we only show opportunities for classroom topics.

[2021-08-20 17:43] aks681 commented on #13308
This is fixed in https://github.com/oppia/oppia/pull/13591

[2021-08-20 17:45] aks681 commented on #13306
This is fixed in https://github.com/oppia/oppia/pull/13591

[2021-08-20 17:51] aks681 opened #13716 "Issue to track missing translation on user generated text"
This is a parent issue to track all the various dynamic translation on user generated text:

- [ ] Add translations for the various texts in the topic viewer page. These include:
  - Topic title (in page and navbar)
  - Topic description
  - Story title
  - Chapter titles
  - Subtopic titles
![image](https://user-images.githubusercontent.com/22347970/130273576-a0d14b58-9eaf-4851-9f1c-d84ebb054314.

[2021-08-20 17:51] ashutoshc8101 opened #13717 "Introduce analytics sandbox mode and mock gtag library for analytics."
**Present Behaviour:**
Calls are only made to google analytics on production (here production does not mean prod mode, it means when the app is deployed to oppia.org).

**Drawbacks of present behaviour:**
As the behaviour in dev mode and on production are different. Sometimes, regressions related to google analytics can be hard to notice during the pre-merge phase.

**Expected behaviour:**
Calls a

[2021-08-20 17:52] aks681 commented on #13531
Most of the constant text has been fixed in the linked PR (merging which, will close this). The rest have been tracked in #13716.

[2021-08-20 17:53] aks681 commented on #12951
Most of the constant text has been fixed in the linked PR (merging which, will close this). The rest have been tracked in #13716.

[2021-08-20 17:54] aks681 commented on #12858
Created issue https://github.com/oppia/oppia/issues/13716 to track dynamic text translation. Most of the constant text has been translated in https://github.com/oppia/oppia/pull/13591, except donate page and the feature addition to community library.
Will link the PR to this issue (as so to close this, once PR is merged), once that has been updated in the PR.

[2021-08-20 17:58] ShivamJhaa commented on #10474
![Screenshot from 2021-08-20 23-19-59](https://user-images.githubusercontent.com/86483059/130274702-fc687412-c31f-4ef1-ad47-34307cd75065.png)
How to resolve this error?

[2021-08-20 18:15] mridul-netizen commented on #10474
@ShivamJhaa filename ?

[2021-08-20 19:02] intaschi commented on #12858
@seanlip I checked now and It's seems that there are some translations in the "About Oppia" page that were translated to Portuguese but are not in the site:
(other pages seems to have all content that were translate published)
<img width="1491" alt="Captura de Tela 2021-08-20 às 15 52 09" src="https://user-images.githubusercontent.com/59513204/130281049-e99ce5a7-34a9-475f-a60f-271ab55fe85a.png">

[2021-08-20 19:08] atpug22 commented on #13657
@sagangwee I am not sure of this as only admins can access the topics pages. @kevintab95 Can you please confirm that the topics on the test server are part of a classroom or not?

[2021-08-20 19:32] sagangwee commented on #13276
Now live in prod.

[2021-08-20 19:32] #13276 closed, assigned to kevintab95

[2021-08-20 20:04] kevintab95 commented on #13648
Hm, I'm unable to reproduce this for some reason. Here's what I tried. @MNSDivya could you please take a look to see if I might be missing something or doing something incorrect:

https://user-images.githubusercontent.com/11008603/130287699-04c37fa9-d8e1-49b3-9eba-d40a676aca5a.mp4

Thanks!

[2021-08-20 20:11] seanlip commented on #13657
@atpug22 You can find the full list of classroom topics by going to the classroom page: https://www.oppiatestserver.org/learn/math

[2021-08-20 20:18] atpug22 commented on #13657
Oh got it. Sorry for the confusion. So are the opportunities shown in the questions for all the topics or the skills? I am a bit confused regarding this? @sagangwee

[2021-08-20 20:21] kevintab95 commented on #13654
I am unable to reproduce this. Here's a video with what I tried. @EeshaArif could you please take a look to see if I might be missing some step? Thanks!

https://user-images.githubusercontent.com/11008603/130289329-6c585e71-e44f-44bc-95f3-a331287215db.mp4

[2021-08-20 20:21] sagangwee commented on #13657
A question opportunity is created for each skill, but is only shown in the dashboard if the opportunity's skill is linked to a classroom topic.

[2021-08-20 20:29] kevintab95 commented on #13657
Here's what I see in the Fractions topic editor view:

![image](https://user-images.githubusercontent.com/11008603/130290103-79541410-32c4-4e39-821b-98ccc2af7cd5.png)

Looks like this topic is attached to the "math" classroom (it shows up in `/learn/math`) and it has a total of 12 questions attached to it.

[2021-08-20 21:39] EeshaArif commented on #13654
@kevintab95  no steps were missed, I tested this again and the console errors aren't being thrown anymore at my end.

[2021-08-20 21:56] GNewRock opened #13719 "Please add a new language choice to the exploration settings tab"
Please add the language choice {{Tatar language}} to the exploration settings tab.

Here is a link to an exploration that uses it: {{Ihttps://www.azatliq.org/}

[2021-08-20 21:57] sagangwee commented on #13657
Checking the Network tab in Chrome dev tools, doesn't look like the server handler returned any opportunities, so this isn't an issue with filtering on the frontend, but rather something server-side.

[2021-08-20 21:57] seanlip commented on #13719
Hi -- thanks for filing this issue. Your link does not point to an exploration on Oppia.org. Could you please provide a link to that exploration?

Thanks!

[2021-08-20 22:01] seanlip commented on #12858
Thanks @intaschi!

In that case, I think everything is working as expected. The translations you mention were brought in 22 days ago (see https://github.com/oppia/oppia/blame/develop/assets/i18n/pt-br.json) and we do releases monthly so it makes sense that they aren't out yet. If all other translated strings are present then I believe the process is working correctly.

I think the rest of this iss

[2021-08-20 22:01] #12858 closed, assigned to aks681, intaschi

[2021-08-20 22:08] sagangwee commented on #13657
Also still seems to be working locally.

[2021-08-20 22:52] GNewRock commented on #13719
Sorry, what link do you need? I can give a link to the congress of the Tatars this site in the Tatar language. [https://tatar-congress.org/](https://tatar-congress.org/)

[2021-08-20 23:05] seanlip commented on #13719
It should be a link to the editor page of a lesson/exploration that is being developed in the Tatar language. Typically it would start with `https://www.oppia.org/create/`.

[2021-08-20 23:13] GNewRock commented on #13719
Thank you!

[2021-08-20 23:18] seanlip commented on #13719
You're welcome!

Please feel free to edit the description and then reopen this issue when you have the link; I'm closing it for now.

[2021-08-20 23:18] #13719 closed, assigned to GNewRock

[2021-08-21 03:28] ShivamJhaa commented on #10474
core/templates/pages/contributor-dashboard-page/services/translate-text.service.ts
This one

[2021-08-21 03:57] mridul-netizen commented on #10474
@ShivamJhaa You can either create a new interface or update the existing one(`TranslatableItem`) to solve this. That interface should have properties listed in your error i.e stateName, contentID, contextText etc(If there are any other similar errors). Finally assign that interface as a type to variable `stateContent` like
[code]
This needs to be done as error is thrown at lines below, when access

[2021-08-21 13:54] yuktibagrodia commented on #8618
@iamprayush
The issue is closed?

[2021-08-21 13:54] U8NWXD commented on #13654
Closing since this is not reproducible

[2021-08-21 13:54] #13654 closed, assigned to kevintab95

[2021-08-21 13:55] U8NWXD commented on #13639
@gp201 could you check with the music notes interaction again? You can also try with a new exploration to check if the problem is data-related

[2021-08-21 13:58] yuktibagrodia commented on #11267
@krishita30j  The issue is open?

[2021-08-21 13:58] U8NWXD commented on #13657
@sagangwee since it's working locally, I see two possible explanations:

1. This could be because of some problem with the data on the server
2. A recent PR could have fixed this. You could try checking out the release branch locally to test this?

[2021-08-21 14:04] gp201 commented on #13639
@U8NWXD This does not occur with new explorations.
My bad, I just figured out why no music plays.
When an editor does not add a correct sequence here:
![image](https://user-images.githubusercontent.com/30050862/130324205-dd3e71f8-1fac-48e8-86e4-a22c53b7ebee.png)
Then clicking the `Play Target Sequence` does not play any music.

[2021-08-21 14:15] yuktibagrodia commented on #13716
@aks681 The issue is still open?

[2021-08-21 14:15] iamprayush commented on #8618
Yup, thanks for pointing it out!
Fixed by https://github.com/oppia/oppia/pull/11832

[2021-08-21 14:15] #8618 closed, assigned to shubhamkorde

[2021-08-21 14:23] U8NWXD commented on #13639
@gp201 so just to confirm, the music interaction is working correctly on the test server?

[2021-08-21 14:23] gp201 commented on #13639
@U8NWXD Yes

[2021-08-21 15:43] lkbhitesh07 commented on #13686
Here are some things that I noticed -
So firstly I checked my current usage before starting the dev server, I got to know that it was around 4GB out of 7.7, It was because of the Firefox browser, and on their help page, it was written that you have to restart your browser after some time to reduce RAM usage.
After that RAM was reduced to 2GB.
I started the dev server, elasticsearch consumed 1.3GB,

[2021-08-21 15:53] U8NWXD commented on #13686
Based on https://github.com/oppia/oppia/issues/13686#issuecomment-903135116, here are estimates of RAM usage by the various parts of the app:

| Process(s) | RAM Usage (GB) |
|------------|------------------|
| System base | 2 |
| Elasticsearch | 1.3 |
| Browser | 1 |
| Oppia dev server pre-login | 1.7 |
| Extra dev server usage after logging in | 1 |

@lkbhitesh07 did I get that right?

[2021-08-21 16:00] lkbhitesh07 commented on #13686
Yes, thank you so much for summarizing it @U8NWXD, I should've done that.
Thanks

[2021-08-21 16:27] ashutoshc8101 commented on #13686
For me, the cause seems like multiple unicorn processes taking up all of the machine's memory.

![Screenshot from 2021-08-21 21-53-32](https://user-images.githubusercontent.com/24855641/130328513-b00090df-e52f-42c8-95b2-7f9a8be78052.png)
![Screenshot from 2021-08-21 21-53-38](https://user-images.githubusercontent.com/24855641/130328517-86724141-03ce-484c-9fb3-6b9722225e98.png)

When i start the se

[2021-08-21 17:12] aks681 commented on #13686
I have also encountered this in WSL on Windows. I allocated both 6GB and 8GB memory to WSL and in both cases, after different periods of time, the memory usage reached 100% for the dev server and the VM stopped responding. As @ashutoshc8101 mentioned above, for me also gunicorn seems to be the issue with it spawning different processes when the dev server is running:
![image](https://user-images.g

[2021-08-22 04:14] U8NWXD commented on #13639
Great! In that case aks681's PR should take care of this

[2021-08-22 08:57] DubeySandeep commented on #13467
@Radesh-kumar Are you working on the flakiness issue?

[2021-08-22 14:04] Radesh-kumar commented on #13467
Not all flakes.
(Feel free to pick up in the unassigned list.)

[2021-08-22 22:04] U8NWXD commented on #13686
I started a local development server, and it looks to me that the gunicorn processes are getting killed. When I first created an account, there were 12 gunicorn processes, but after waiting for a few minutes, there were only 2. In the output of scripts.start, I see log lines like this: `Parent changed, shutting down: <Worker 30398>` so for me it looks like GAE is successfully shutting down unneede

[2021-08-22 22:14] atpug22 opened #13723 "Oppia local server stops working after going back from enter username page to enter email id page during new sign-in."
**Describe the bug**
While doing the new sign-in, if I go back after entering the email id from enter the username page, the local server stops working and I am not able to open home page even after re-entering URL in new tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start Oppia server locally.
 2. Click on sign-in button and after entering email id, move forward.
 3. When enter the

[2021-08-22 22:19] atpug22 commented on #13723
This is happening on the Oppia test server too. I tried this once and now I am not able to access the test server on my browser.
Not sure whom to assign these types of issues, that's why assigning to release coordinators. @U8NWXD @kevintab95

Edit: Clearing cookies worked.

[2021-08-22 22:32] atpug22 opened #13724 "Warning message does not disappear even after entering correct user name."
**Describe the bug**
Usernames warning messages does not disappear even after entering the correct username.

**Expected behavior**
Warning messages should disappear as soon as requirements are met.

**Screenshots**

https://user-images.githubusercontent.com/56637531/130372048-0930e864-cb73-4389-9ae1-94dca54532cf.mov

**Desktop (please complete the following information; delete this section if the

[2021-08-23 02:36] U8NWXD commented on #13723
I was able to reproduce this locally on the release branch. The issue seems to be that when going back, the URL becomes:

[code]

(I added line breaks to make the repetition clear)

[2021-08-23 02:37] U8NWXD commented on #13723
@brianrodri could you take a look at this since it appears to be related to the firebase login flow you worked on?

[2021-08-23 02:49] U8NWXD commented on #13723
I was unable to reproduce this on the `release-3.1.3` branch, so I think we should consider it a regression.

Note that on branch `release-3.1.3` there was a console error:
[code]

[2021-08-23 03:21] anandwana001 commented on #13344
Facing no issues now, closing this issue.

[2021-08-23 03:21] #13344 closed, assigned to DubeySandeep, hardikkat24

[2021-08-23 03:27] anandwana001 opened #13725 "[Frontend - Signup] Add space after checkbox"
**Describe the bug**
Currently, there is no space after the checkbox for Oppia terms.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start the server `python -m scripts.start`
 2. Enter email and proceed
 3. Sign up page appears

**Observed behavior**
No space after the checkbox

**Expected behavior**
There should be space after the checkbox.

**Screenshots**
![Screenshot 2021-08-23 at 08

[2021-08-23 05:51] atpug22 commented on #13724
@U8NWXD This wasn't occurring in the previous release.

[2021-08-23 07:01] #13630 closed, assigned to kevintab95, atpug22

[2021-08-23 07:01] #13651 closed, assigned to kevintab95

[2021-08-23 07:01] #13653 closed, assigned to kevintab95

[2021-08-23 07:01] #13666 closed, assigned to kevintab95

[2021-08-23 07:07] lkbhitesh07 commented on #13686
As points suggested by @U8NWXD, I tried to look into the output log lines after creating an account in oppia but I wasn't able to find `Parent changed, shutting down: <Worker 30398>` this but gunicorn processes were started at several pid's, for example `[2021-08-23 11:53:52 +0530] [71267] [INFO] Starting gunicorn 20.1.0`.
Also, I tried to follow the steps suggested so I opened another terminal to

[2021-08-23 17:07] sagangwee commented on #13657
@U8NWXD Which is the correct release branch?

[2021-08-23 23:23] U8NWXD commented on #13657
`release-3.1.4`

[2021-08-23 23:24] U8NWXD commented on #13648
@MNSDivya could you try reproducing this again? We need to know whether this is reproducible so we know whether it needs to be fixed before the release

[2021-08-23 23:59] U8NWXD commented on #13724
@ashutoshc8101 could you take a look at this since you recently changed the signup page in #13414?

[2021-08-24 00:48] U8NWXD commented on #13686
@lkbhitesh07 That output from `ps` doesn't look right. `htop` should give you essentially the same information though. I checked on my system, and I was unable to reproduce the accumulation of gunicorn processes that you reported. I'm on macOS though. Maybe this is Linux-specific?

As a workaround, some people have found it useful to pass `--no_auto_restart` to `python -m scripts.start`. This will

[2021-08-24 00:57] U8NWXD commented on #13724
Actually, please disregard the above @ashutoshc8101. I have a fix for this

[2021-08-24 04:14] mahendra1290 commented on #10616
@Hudda i want to work on this can you please guide me through this

[2021-08-24 04:35] sean4x opened #13730 "Unable to input correct mixed number fractional answer."
**Describe the bug**
Unable to input correct mixed number fractional answer. Receive a data validation error "Please enter an answer in simplest form (e.g., 1/3 instead of 2/6)."

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/create/seQ3nLNiIs7N#/preview/Recap%20Q2
 2. Preview "Recap Q3" (same problem for Recap Q4)
 3.  Submit any numeric response
 4.  See error

[2021-08-24 05:47] Aryan284 commented on #13725
Hey, I like to fix it but when I'm running python -m scripts.start this in my Windows OS it's giving me an error "No suitable python version found." My Python version is 3.8.2 can you help me out with this
![open](https://user-images.githubusercontent.com/66568306/130562751-57d148ac-f615-400e-b64b-74ce27659b7d.PNG)

[2021-08-24 08:15] anandwana001 commented on #13725
Hi @Aryan284 Let's bring this communication over our GItter channel - https://gitter.im/oppia/oppia-chat

[2021-08-24 14:29] U8NWXD commented on #12980
Closing since these changes were implemented in #13253

[2021-08-24 14:29] #12980 closed, assigned to DubeySandeep

[2021-08-24 14:33] U8NWXD commented on #9648
Since Jasmine isn't interested in supporting this feature anytime soon, I don't think there's much we can do on this.

[2021-08-24 14:36] U8NWXD commented on #12375
This has now been implemented as part of the release QA process

[2021-08-24 14:36] #12375 closed, assigned to nithusha21

[2021-08-24 14:38] U8NWXD commented on #12158
This has now been implemented:

https://github.com/oppia/oppia/blob/365e33f81a1dec42a2a2ef172d3ef0856763761d/scripts/servers.py#L108

[2021-08-24 14:38] #12158 closed, assigned to U8NWXD

[2021-08-24 14:40] U8NWXD commented on #11868
I think we've established that this problem occurs when, due to low memory, the servers take too long to start. The troubleshooting guide has been updated with advice

[2021-08-24 14:40] #11868 closed, assigned to Nik-09

[2021-08-24 14:43] U8NWXD commented on #12078
@TheoLipeles I was unable to reproduce this problem on macOS. Could you check whether it still happens?

[2021-08-24 14:47] U8NWXD commented on #12498
@nlok5923 I haven't been able to reproduce this issue, but I'm not on Windows. Are you still seeing this happen?

[2021-08-24 14:50] U8NWXD commented on #9670
This was implemented by #13700

[2021-08-24 14:50] U8NWXD commented on #9670
Marking this as complete because even when the logs don't appear through the normal UI, they can be viewed by opening the raw logs

[2021-08-24 14:54] U8NWXD commented on #11634
Reassigning to dev workflow team since they handle the linter.

/cc @Hudda

[2021-08-24 14:55] U8NWXD commented on #11699
Reassigning to dev workflow team since they handle the linter.

/cc @Hudda

[2021-08-24 15:02] om-khandade opened #13732 "The english text is replaced by hindi text in “Subtracting larger Numbers” when entering the lesson"
**Describe the bug**
On entering the lesson "Subtracting larger Numbers" in the addition and subtraction chapter, the lesson text is shown in the Hindi language, even if the language selected for the lesson text is English.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to "Subtracting larger Numbers" lesson
 2. Try changing the language to English
 3. See that the text is in Hindi

**O

[2021-08-24 15:14] #13723 closed, assigned to U8NWXD

[2021-08-24 15:55] nlok5923 commented on #12498
i got this fixed actually i tried installing oppia project from scratch and it worked.

[2021-08-24 16:05] om-khandade opened #13734 "next page button is replaced by next lesson button for all pages"
**Describe the bug**
On reaching the end of a lesson if a user comes back to the previous page, the next page button is replaced by the next lesson button, and there is no way for the user to see the next page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any chapter
 2. Complete the chapter and reach the last page
 3. Go back to previous pages
 4. See that the next page button is

[2021-08-24 16:18] sean4x opened #13736 "Unable to see hints from exploration editor."
**Describe the bug**
Hints do not appear when previewing from exploration editor

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/create/seQ3nLNiIs7N#/gui/Warmup%20Question%201
 2. Click on Preview
 3. Hints do not appear

**Expected behavior**
After incorrect responses or some amount of time elapsed, hints should appear.

 - OS: macOS 11.5.2 (20G95)
 - Browser Ch