[2022-05-20 16:54] #14261 closed, assigned to nobody

[2022-05-20 17:57] kevintab95 opened #15486 "NumberWithUnits should support non-English languages"
**Describe the bug**
NumberWithUnits should support non-English languages, it currently does not.

**To Reproduce**
Steps to reproduce the behavior:
 1. Play an exploration containing NumberWithUnits interaction with the preferred language set to Portugese.
 2. Enter a "1,2 hr"
 3. Observe that only "1 hr" is displayed.

**Observed behavior**
NumberWithUnits does not support non-English languages.

[2022-05-20 20:34] #15246 closed, assigned to Lawful2002

[2022-05-22 21:11] LuizDMM commented on #14219
@U8NWXD could I please be assigned to  main_test and core.schema_utils_test?

[2022-05-23 05:50] U8NWXD commented on #14219
@LuizDMM done!

[2022-05-23 11:17] vojtechjelinek commented on #14033
@winnie368c Use ignore there.

[2022-05-23 16:51] wvinson43 commented on #15314
can I work on this issue?

[2022-05-23 23:13] LuizDMM opened #15489 "Update pip-tools in commons.py for version 6.6.2 to avoid "jazzband/pip-tools#1623""
**Describe the bug**
Version 6.6.1 of pip-tools is incompatible with the current version of pip, 22.1.1.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to oppia's folder
2. Run `python -m scripts.clean`
3. Run `python -m scripts.start`
4. After a while see the error

**Observed behavior**
After running `scripts.start`, when it's installing the Oppia Tools it throws an error: `subprocess

[2022-05-23 23:58] #15484 closed, assigned to kevintab95

[2022-05-24 02:06] #15489 closed, assigned to nobody

[2022-05-24 20:52] #15370 closed, assigned to Lawful2002

[2022-05-25 06:23] RobertMeissner commented on #15090
Hy, why do you need a custom linter and not, e.g., for python "black" or for AngularJS "prettier"? If you want to use these - opinionated but state-of-the-art - tools, then please assign me to this issue :)

[2022-05-25 21:30] U8NWXD commented on #15090
@RMeissnerCC we don't use tools like black or prettier because they enforce a different coding style than our [style guide](https://github.com/oppia/oppia/wiki/Coding-style-guide), and as far as I know, no one has been able to configure them to enforce our style guide

[2022-05-25 22:03] sagangwee opened #15493 "[CD] Add language filtering to translation review dashboard"
Some reviewers have review rights in more than one language, but typically they only translate one language at a time in their workflow. If there are a lot of translations in one language however, the reviewer may need to page through many times before finding the translations in their desired language. We should add a language filter to the translation review page akin to the language selector on

[2022-05-26 17:28] Lawful2002 opened #15497 "Odd scrolling behavior on the classroom page"
**Describe the bug**
The classroom page has some odd scrolling behavior for the header. Ideally the header shouldn't disappear if the page content all fits within the viewport (and therefore shouldn't really be scrollable).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the classroom page.
 2. Go to a lesson
 3. Scroll down
 4. See error

**Observed behavior**
Header dissappears
[htt

[2022-05-26 17:30] Lawful2002 commented on #14960
The issue `The topic page has some odd scrolling behavior for the header. Ideally the header shouldn't disappear if the page content all fits within the viewport (and therefore shouldn't really be scrollable).` is now tracked via [#15497](https://github.com/oppia/oppia/issues/15497).
The issue `Make sure the language selector menu is the same width as the language selector?` is a no-op for now, wi

[2022-05-26 17:30] #14960 closed, assigned to nobody

[2022-05-27 01:35] SawaTszm commented on #14219
@U8NWXD Could please I be assigned to core.controllers.tasks_test?

[2022-05-27 05:15] adityanarayanm095 commented on #8015
Hey @kevintab95
can you please assign me ?
`core/templates/domain/exploration/editable-exploration-backend-api.service.ts`
I have already started working upon it.

[2022-05-27 10:02] kevintab95 commented on #8015
@adityanarayanm095 done!
Also, @nadintamer, @kennchou done (sorry for the delay!)

[2022-05-27 18:50] tylerkkp commented on #15314
I'll start by saying that it doesn't look that odd to me.

Assuming the issue is referring to the gray bar above the blue banner, this could be addressed by either:
a) moving the blue banner up, or
b) increasing the banner image height to fill the space

Is there preference for any of these options? Increasing the height of the banner could increase page load times because the image will need to b

[2022-05-28 17:33] U8NWXD commented on #14219
@SawaTszm done

[2022-05-30 11:22] aks14075032 commented on #14419
Hello @JeeveshGarg Can you assign me below mentioned once ?
ENTRY_POINT app_feedback_report_constants.py
STATS_PARAMETER_NAMES app_feedback_report_constants.py

[2022-05-30 13:38] RobertMeissner commented on #15090
Thank you for the feedback. So basically, right now there is no automatic formatting and everyone has to do this manually?

[2022-05-30 23:55] srikanthkb opened #15505 "Introduce pipeline for Explorations"
**Is your feature request related to a problem? Please describe.**
Currently, there is no existing migration pipeline for Explorations. We need to create a pipeline for running Apache beam jobs for ExplorationModel.

**Describe the solution you'd like**
Refer [exp_jobs_one_off.py](https://github.com/oppia/oppia/blob/v3.1.2/core/domain/exp_jobs_one_off.py#L312), core/jobs/batch_jobs/story_migration

[2022-05-31 06:12] Lawful2002 opened #15507 "The mobile UI for the answer selection modal is offset to the left"
**Describe the bug**
The mobile UI while selecting an answer for an interaction is offset to the left.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppiatestserver.org
 2. Go to the creator dashboard and create a new exploration
 3. Add an interaction and its answer
 4. See error

**Observed behavior**
The modal is offset to the left.

**Expected behavior**
The modal should be cent

[2022-05-31 07:27] seanlip commented on #15401
@Oyindarow Just to check, did you manage to get this to work?

Thanks!

[2022-05-31 08:34] mridul-netizen commented on #6911
Hey folks, if you're running into issues somewhat like these, please look into the following points from the wiki
https://github.com/oppia/oppia/wiki/Guide-on-defining-types#ts-8
https://github.com/oppia/oppia/wiki/Guide-on-defining-types/#ts-4

[2022-05-31 09:29] Oyindarow commented on #15401
Hello Sean, 
Yes, it worked. I eventually changed my network and I was able to create an account for the purpose that I wanted. 
Thank you. Oyindamola. 

On Tuesday, May 31, 2022, 8:27 AM, Sean Lip ***@***.***> wrote:

@Oyindarow Just to check, did you manage to get this to work?

Thanks!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were me

[2022-05-31 15:44] seanlip commented on #15401
Ah ok, thank you for letting us know, Oyindamola!

Just one question (optional): which network was the one that didn't work, and which network did work? This will allow us to advise future folks who run into this issue.

Thank you!

[2022-05-31 17:49] Oyindarow commented on #15401
Airtel worked while MTN didn’t work much. As it is, seems Airtel is the most suitable network on Oppia’s website. 

On Tuesday, May 31, 2022, 4:43 PM, Sean Lip ***@***.***> wrote:

Ah ok, thank you for letting us know, Oyindamola!

Just one question (optional): which network was the one that didn't work, and which network did work? This will allow us to advise future folks who run into this issue.

[2022-06-01 02:54] anubhutiv commented on #15148
- Allow to edit an already reviewed translation by the reviewer

[2022-06-01 02:58] seanlip commented on #15401
Good to know -- thanks @Oyindarow!

[2022-06-01 08:01] kevintab95 opened #15511 "User seems to click 'Use This Image' button several times to upload an image"
**Describe the bug**
A user reported that in order to upload the following file, they had to click on the 'Use this image' button several times.
![z](https://user-images.githubusercontent.com/11008603/171364014-cde1558f-ee35-4fe7-b8b5-5d9576de18de.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration editor.
 2. Edit the content.
 3. Upload the image linked above.
 4. Obser

[2022-06-01 08:25] kevintab95 opened #15512 "RuntimeError: Key has already been set in this batch"
This error occurred recently in production

[code]

[2022-06-01 08:28] kevintab95 commented on #15512
Based on https://github.com/googleapis/google-cloud-python/issues/15860, it looks like a race condition when doing a get_multi(). Next step here would be to use the same workaround the author used i.e. adding a simple catch and retry mechanism for get_multi calls.

[2022-06-01 09:48] brijsiyag commented on #15511
@kevintab95 I don't think this is a bug, the site actually sends a request to the server to upload an image in the background, and the button remains visible until the response is received. To get over this, we can add a loading animation.

[2022-06-01 16:34] vojtechjelinek commented on #14419
@aks14075032 Done.

[2022-06-01 16:50] JeeveshGarg commented on #14419
Sorry @aks14075032, unable to reply due to unavailability.  Task is now assigned to you. Ping me if you face any problem.

Thanks.

[2022-06-01 18:42] sagangwee commented on #7568
This issue is obsolete now (we show in review status in the progress bar), so closing.

[2022-06-01 18:42] #7568 closed, assigned to nobody

[2022-06-01 19:04] sagangwee opened #15514 "[CD] Add "contributor dashboard debug" flag to Oppia local dev server start script"
When the flag is enabled, the start script will do the following:
- Create an admin user with username "a" and assign curriculum, translation, and question admin rights to "a".
- Create a non-admin user with username "b" and give the user "submit question" rights.
- Populate sample lessons for translations. This could be via the "Load dummy new structures data" admin action.
- Add the topics linke

[2022-06-01 20:51] kevintab95 commented on #15511
Hi @brijsiyag, nice find! Were you able to reproduce this locally (e.g. by throttling the network speed)? If this is the case, a loading animation (or a similar indication that the image is being saved) makes sense, we do something similar elsewhere too. Would you like to work on this issue?

[2022-06-01 23:33] rayanbettis opened #15515 "Stalk Email"

[2022-06-01 23:48] bobulated commented on #15314
We should add another row to the top of the banner and snap it to the bottom of the top bar.  I like how it is behind the content but I worry if we just move the banner up as is, it won't have as much presence behind the content.

[2022-06-01 23:59] seanlip commented on #15314
Just a note (to clarify for other folks looking at this issue) -- @bobulated is one of our lead designers; let's do what he suggests.

So @tylerkkp -- just to confirm, (b) would be the suggested option.

Thanks!

[2022-06-02 08:16] kevintab95 opened #15516 "[Server Error - Image upload] ZeroDivisionError: division by zero"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-06-02 10:45] adityanarayanm095 commented on #8015
@kevintab95 hey i am facing difficulty to find return type i am not getting what is written in this file and what am i supposed to do in this file -->
`core/templates/domain/exploration/editable-exploration-backend-api.service.ts`

I am unable to relate this solution [https://github.com/oppia/oppia/issues/8015#issuecomment-554856408](url)  given on the top of this page by `DubeySandeep: How to sol

[2022-06-02 12:22] kevintab95 commented on #8015
Hi @adityanarayanm095, perhaps this might help (especially the second paragraph):

https://github.com/oppia/oppia/wiki/Guide-on-defining-types#how-to-determine-the-types-while-migrating-to-angular

I think the comment mentioned might be a bit outdated since it was written when the services were in AngularJS, they probably have been migrated to Angular so there may be a few changes. Could you elabo

[2022-06-02 15:04] brijsiyag commented on #15511
Sorry I can't because am not able to setup Oppia project locally.
I'm trying  since last three days (on Mac M1). I also have gone through all wikis of installation and troubleshoot, nothing helped.

[2022-06-02 15:56] seanlip commented on #15511
Hi @brijsiyag, sorry to hear about this. Would you mind filing a thread on https://github.com/oppia/oppia/discussions explaining where you are currently stuck at (include stack trace, etc.)? That will make it easier for folks to help.

Thanks!

[2022-06-02 17:51] #14085 closed, assigned to iamprayush

[2022-06-02 18:39] brijsiyag commented on #14878
Hello @SD-13 , I'm still getting this issue. Could you re-check this for mac with M1 chip.

[2022-06-02 18:41] divyanshkhetan commented on #15507
@Lawful2002 can I work on this issue?

[2022-06-02 18:49] brijsiyag commented on #15511
Hello @seanlip , I got a previous thread with same issue. I'm hoping that this will be fixed there.
Thank you !!

[2022-06-02 19:25] Lawful2002 commented on #15507
@divyanshkhetan Sure, go ahead!

[2022-06-02 21:02] U8NWXD commented on #15090
@RMeissnerCC that's correct. I think it'd be great to have an automatic formatter that works with Oppia's code style, but we haven't prioritized developing one because once someone gets used to Oppia's code style, our experience has been that it's pretty easy to do the formatting manually

[2022-06-03 05:09] divyanshkhetan commented on #15507
@Lawful2002 should I keep the width at 100vw or leave it as it is? (I have attached sample screenshots below for both the types of widths). Please have a look.
![image](https://user-images.githubusercontent.com/68158825/171790081-e7434139-0151-4098-99fa-8ad9e6d0f182.png)
![image](https://user-images.githubusercontent.com/68158825/171790185-51eaeabe-fb9e-48d1-a8be-d69acd997b1d.png)

[2022-06-03 05:36] RobertMeissner commented on #15090
So you can basically close this ticket?

[2022-06-03 07:17] jahd2602 commented on #15430
Although I can reproduce this in oppiatestserver.org, it is not reproducible in the current develop branch:
<img width="1408" alt="Screen Shot 2022-06-03 at 12 13 25 AM" src="https://user-images.githubusercontent.com/2841740/171805983-0ed3fc66-151f-479d-8cb0-47fb5a23776c.png">

Both screenshots show a minimal identical test exploration with fraction input interaction:
<img width="863" alt="Screen

[2022-06-03 07:57] Lawful2002 commented on #15430
@jahd2602 I don't think I know that. Maybe @vojtechjelinek or @aks681 would know about the current commit on the test server.

[2022-06-03 08:00] Lawful2002 commented on #15507
@divyanshkhetan, I would recommend that you leave the width unchanged (I think modals are not supposed to occupy the full width of the page). Thanks!

[2022-06-03 10:20] KolliAnitha opened #15521 "The text box label and options do not match while trying to explore Social Studies"
**Describe the bug**
The text box label and options do not match while trying to explore Social Studies

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Oppia
 2. Click on Learn and click on See all Lessons
 3. In the search bar, enter text social click on search icon
 4. In the results tab, click on Social Studies tile
 5. Click on Continue to go to the next page
 6. The division of S

[2022-06-03 12:28] vojtechjelinek commented on #15430
@aks681 The test server was deployed on May 5 (right now I did a new deploy so it might be worth testing). THe exact commit I don't know.

[2022-06-03 16:25] U8NWXD commented on #15090
@RMeissnerCC no, even though we aren't planning on adding an automatic formatter, we still need a lint check to make sure we're indenting correctly

[2022-06-03 16:30] U8NWXD commented on #15430
@jahd2602 I think @vojtechjelinek just deployed branch [`release-3.2.6`](https://github.com/oppia/oppia/tree/release-3.2.6) to the test server, so you can look there to see what commits were deployed Note that we sometimes cherry-pick commits from develop into release branches. This means that if there are commits `a ... b ... c` on develop, it could be that `a` and `c` are in the release branch,

[2022-06-03 17:10] jahd2602 commented on #15430
Thanks @U8NWXD!

@vojtechjelinek where can we see the which commits are in the test server?

As of right now, the bug is not happening anymore in the test server:
<img width="1042" alt="Screen Shot 2022-06-03 at 10 09 06 AM" src="https://user-images.githubusercontent.com/2841740/171912806-a4020c88-7846-4982-8bcc-fce28a227dd5.png">

[2022-06-03 17:10] #15430 closed, assigned to jahd2602

[2022-06-03 18:48] sagangwee opened #15522 "[CD] Reviewable translations not surfaced if first page of suggestions are filtered out"
Translation reviewers for Spanish are seeing no opportunities listed when the topic is "All". Inspecting the network response, the response payload for `https://www.oppia.org/getreviewablesuggestions/exploration/translate_content?limit=20&offset=0&topic_name=All` is:

[code]

Filtering by the returned topic "Ratios and Proportional Reasoning" also returns no translation reviews.

This seems to be

[2022-06-04 07:14] aks14075032 commented on #14419
Hello @JeeveshGarg @vojtechjelinek
I was setting up the project but I'm facing the issue. Please help me for setup

[code]
Using -- MacOS with M1 Chip
Tried lot of solutions based on Installing Qt and Adding Path to environment variables.

[2022-06-04 07:22] Lawful2002 opened #15523 "Unable to enter numbers in formats using a comma as a decimal separator"
**Describe the bug**
It is not possible to enter numbers in formats other than the English format. This issue is the same as [#13010](https://github.com/oppia/oppia/issues/13010).

Note: This issue arises on the test server only.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the given lesson: [Lesson]( https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE?story_url_fragment=piece-of-

[2022-06-04 11:07] nithinrdy opened #15524 "'Remove' button for explorations/collections in the playlist is not visible on mobile devices, and is inaccessible when navigating via the keyboard/a screenreader"
**Describe the bug**
The cross icon used remove explorations/collections from playlist is not visible on mobile devices.

Additionally, this button doesn't show up when navigating via the keyboard -- meaning it is not possible to remove explorations from the playlist using keyboard navigation (the same problem arises when using a screen reader).

**To Reproduce**
Steps to reproduce the behavior:
*

[2022-06-04 11:16] nithinrdy opened #15525 "The apple icon on the footer appears enlarged for a short time when loading into a collection"
**Describe the bug**
The apple icon on the footer blows up in size for a short period when loading into a collection. (The problem occurs regardless of network speed, but is more noticeable on slower networks)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the community-library.
 2. Click on any collection.
 3. See error

**Observed behavior**
The apple icon appears enlarged for a mo

[2022-06-04 11:26] nithinrdy opened #15526 "Console errors when ENTER key is used in a numeric input field"
**Describe the bug**
Pressing ENTER when on a numeric input field causes console errors.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE).
 2. Progress through until you encounter a state with numeric input.
 3. Make sure the field is active (click/tab into it)
 4. Press the ENTER key
 5. See error

**Observed

[2022-06-04 16:31] nithinrdy commented on #15526
@Lawful2002 pointed out this may be a regression due to the migration of schema based editors. He's right, I was unable to repro this on oppia.org.

[2022-06-05 06:51] ShivamJhaa opened #15527 "Console error while loading pencil code editor"
**Describe the bug**
Console error while loading pencil code editor

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/create/16
 2. Click on Pencil code editor under exploration overview
 3. Click on preview
 4. See error in console

**Observed behavior**
There is error in console while loading pencil code editor

**Expected behavior**
There should no

[2022-06-05 06:58] AllanYangZhou opened #15528 "Item Selection fails to wrap"
**Describe the bug**
If the answers in the Item selection are long enough, the text will spill off the page. Example:
<img width="977" alt="Screen Shot 2022-06-02 at 2 54 45 PM" src="https://user-images.githubusercontent.com/8732147/172039318-f6a826da-4fd2-47da-bd21-99a7c00c3fd7.png">

**To Reproduce**
1. Create any exploration
2. Add a Item Selection interaction
3. Add an answer choice with a lot

[2022-06-05 07:12] seanlip commented on #15528
@nithinrdy @Lawful2002 @Rijuta-s Flagging for LaCE quality team. Thanks!

[2022-06-05 07:56] ShivamJhaa opened #15529 "Add to play later button is not available for exploration in mobile devices"
**Describe the bug**
Add to play later button is not available for exploration in mobile devices

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/community-library
 2. No add to play later button is available for mobile devices

**Observed behavior**
Add to play later button is not available

**Expected behavior**
Add to play later button should be avail

[2022-06-05 08:10] ShivamJhaa opened #15530 "Text in navbar overflows in smaller screen size"
**Describe the bug**
Text in navbar overflows in smaller screen size

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learner-dashboard
 2. Reduce screen size
 3. See error

**Observed behavior**
Text in the navbar overflows in smaller screen size

**Expected behavior**
Text in navbar should be aligned

**Screenshots / Videos**
![Screenshot from 2022-06-

[2022-06-05 09:48] SD-13 opened #15531 "Filter in topics and skills dashboard isn't working properly."
**Describe the bug**
The filter card in the topics and skills dashboard isn't working properly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the [topics and skills dashboard](https://www.oppiatestserver.org/topics-and-skills-dashboard).
 2. resize the window as shown in the clip.
 3. See the change in the filter card.

**Observed behavior**
While changing the window size, sometimes

[2022-06-05 10:54] SD-13 opened #15532 "Add length check for `Explanation of the subtopic`"
**Introduction**
Currently, while creating a subtopic, we can input any length of strings in the `Explanation of the subtopic` section. So, I think, we need to introduce some length checks to set the limit for the input string.

[2022-06-05 13:22] heyimShivam opened #15533 "Subject Interests not working as desired in Preferences page"
**Describe the bug**
when the user tries to add a new Subject of Interest old subject of Interest is automatically deleted.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Preferences page'
 2. Click on 'subject interests and add some subject names'
 3.  Try to update `Subject Interests`
 4. See error

**Observed behavior**
if the user tries to update the subject then it automaticall

[2022-06-05 15:21] Lawful2002 opened #15534 "Console errors while interacting with Item Selection Interaction"
**Describe the bug**
Selecting items and submitting the response on the Item Selection interaction leads to a server error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the [Test Server](https://oppiatestserver.org)
 2. Play through Lesson 1 of the fractions topic
 3. Reach the item selection an interaction and submit a response
 4. See error on the console

**Observed behavior**
A

[2022-06-06 00:40] Lawful2002 opened #15537 "It is not possible to search by pressing the Enter key on the classroom page search bar"
**Describe the bug**
It is not possible to search for lessons by pressing the enter key on the search bar on the classroom page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the classroom page on the [test server](https://oppiatestserver.org/learn/math).
 2. Type something in the search bar which appears towards the bottom of the page
 3. Press 'Enter' on the keyboard
 4. Notice th

[2022-06-06 05:47] SD-13 opened #15538 "Getting console errors while previewing a skill in the skill editor"
**Describe the bug**
Getting errors from the preview tab of the skill editor

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard
 2. choose a topic with skills ( e.g [this one](https://www.oppiatestserver.org/skill_editor/cg3FiO2ixbls#/preview) )
 3. Go to inspect.
 4. See those errors in red.

**Observed behavior**
Errors in the console tab ( within inspec

[2022-06-06 12:23] sahiljoster32 opened #15539 "Improper working of `ImageClickInput` interaction in Skill editor."
**Describe the bug**
Not able to create image in ImageClickInput interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topic and skill dashboard.
 2. Select any skill and open its editor.
 3. From the editor open the questions tab and add a new question.
 5. In question, use Image Region interaction and use `create` option to create a new image.

**Observed behavior**
No image

[2022-06-06 12:42] vojtechjelinek commented on #15537
@kevintab95 @aks681 Can you assign this to someone?

[2022-06-06 12:44] vojtechjelinek commented on #15523
@kevintab95 @aks681 Can you assign this to someone?

[2022-06-06 13:00] vojtechjelinek commented on #15534
@aks681 @kevintab95 Please assign this to someone.

[2022-06-06 13:02] vojtechjelinek commented on #15527
@aks681 @kevintab95 Please assign this to someone.

[2022-06-06 13:03] vojtechjelinek commented on #15529
@aks681 @kevintab95 Is this expected? If yes, please assign this to someone.

[2022-06-06 13:04] vojtechjelinek commented on #15524
@aks681 @kevintab95 Is this expected? If yes, please assign this to someone.

[2022-06-06 13:07] vojtechjelinek commented on #15526
@srijanreddy98 @ashutoshc8101 PTAL

[2022-06-06 13:10] vojtechjelinek commented on #15539
@aks681 @kevintab95 PTAL

[2022-06-06 13:13] vojtechjelinek commented on #15533
@ashutoshc8101 @srijanreddy98 Might this be related to the schema forms migration?

[2022-06-06 13:13] vojtechjelinek commented on #15538
@aks681 @kevintab95 PTAL

[2022-06-06 13:16] vojtechjelinek commented on #15531
@aks681 @kevintab95 Is this expected? If yes, please assign this to someone.

[2022-06-06 13:17] vojtechjelinek commented on #15523
@ashutoshc8101 @srijanreddy98 Can this be caused by the schema forms migration?

[2022-06-06 14:00] vojtechjelinek opened #15540 "Misplaced icon in EndExploration interaction"
**Describe the bug**
The user icon in the EndExploration interaction is misplaced.

**To Reproduce**
1. Create an exploration
2. Add EndExploration interaction

**Screenshots / Videos**
![image](https://user-images.githubusercontent.com/10142938/172175726-98f3d8f7-261a-446c-8185-383f36c26287.png)

**Desktop (please complete the following information; delete this section if the issue does not arise

[2022-06-06 14:09] MNSDivya opened #15541 "Username link is throwing 404 error on exploration history page"
**Describe the bug**
Username link is throwing 404 error on exploration history page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/'
 2. Create an exploration or use existing exploration
 3. Click on version history for the exploration
 4. Click on username {DivyaMNS} in this scenario

**Observed behavior**
Username link is throwing 404 error on expl

[2022-06-06 14:33] vojtechjelinek opened #15542 "The moderator page throws a lot of errors on the testserver"
**Describe the bug**
The https://www.oppiatestserver.org/moderator page throws a lot of errors in the dev console and the whole page is unusable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/moderator (if you have the rights)
 2. Look into the dev console

**Screenshots / Videos**
![image](https://user-images.githubusercontent.com/10142938/172182131-

[2022-06-06 16:27] MNSDivya opened #15543 "Text inside Numeric Expression input does not disappearing while user entering the input"
**Describe the bug**
Text inside Numeric Expression input does not disappearing while user entering the input

**To Reproduce**
Steps to reproduce the behavior:
 1. Log on to ' 'https://www.oppiatestserver.org/''
 2. Navigate to creator dashboard and start creating an exploration
 3. Click on "Add interaction"
 4. Under MAth - select Numeric Expression Input
 5. Click on text box to enter the expr

[2022-06-06 18:37] U8NWXD opened #15544 "Measure Branch Coverage of Frontend Tests"
We currently cannot measure frontend test branch coverage because of spurious incomplete coverage warnings ([debugging doc](https://docs.google.com/document/d/1p7jURP3jTI8ktGnetbr6epr9FQ5T8bKia5_gRXYFfkQ/edit#heading=h.jl2gn54iqprw)). We suspect that this is happening because during transpilation, branches are getting added (perhaps because of the `@Component` decorator) as described in istanbuljs

[2022-06-06 21:48] sagangwee commented on #7571
Design doc here: https://docs.google.com/document/d/1RIlefl2kmXyqwrcqTruNjJlQ6EWoiKs9DApT52Kahx8/edit#heading=h.liiqbmwmz8j8

[2022-06-07 00:38] DubeySandeep commented on #14368
Although the translated text is not piling anymore for "Continue" text but after switching languages multiple time the translations for the "Continue" text is not translating

https://drive.google.com/file/d/1m_pyOzcQL0OaKs31OavbR3YW3XpzHv0T/view

[2022-06-07 01:40] qinghaoyang commented on #13162
Hi @Nik-09, could you assign me

- RecommendationsHandler
- ReaderFeedbackHandler
- UsernameCheckHandler

[2022-06-07 01:56] Nik-09 commented on #13162
@qinghaoyang Done

[2022-06-07 05:03] adityanarayanm095 commented on #13162
Hi @Nik-09, Please assign following handlers to me:
```QuestionsListHandler```
`TopicViewerPage`
`SubtopicViewerPage`

[2022-06-07 05:43] BenHenning opened #15546 "Various improvements to audio voiceovers"
**Is your feature request related to a problem? Please describe.**
On Android, we've observed two classes of problems with audio voiceovers:
- The audio volume levels aren't always consistent (see: https://github.com/oppia/lessons-team/issues/645)
- Audio file sizes & bitrates aren't consistent (sometimes files will be smaller, e.g. around 128kbps, but other times they'll be much larger, e.g. 700+

[2022-06-07 07:13] #15507 closed, assigned to divyanshkhetan

[2022-06-07 07:27] jordyparker commented on #13162
Hi @Nik-09 I am no longer working on `QuestionCountDataHandler` and `EditableQuestionDataHandler `

[2022-06-07 10:49] kevintab95 commented on #15542
I took a look at this and I think the error may be due to inconsistent data returned by the backend server. It seems like there is an ExplorationCommitLogEntryModel in the test server datastore that is referring to an exploration that does not exist. The id for the exploration is `rjpLJaxvBdF5`. I was unable to find the corresponding ExplorationModel in the datastore, I also tried looking for dele

[2022-06-07 14:04] vojtechjelinek commented on #15369
@Lawful2002 Hey, will you be fixing this anytime soon?

[2022-06-07 14:06] vojtechjelinek commented on #15150
@krishita30j Can you please look into this?

[2022-06-07 14:06] vojtechjelinek commented on #15152
@SanjaySajuJacob Will you be fixing this anytime soon?

[2022-06-07 14:07] vojtechjelinek commented on #15525
Closing in favor of #15153

[2022-06-07 14:07] #15525 closed, assigned to vojtechjelinek

[2022-06-07 14:08] vojtechjelinek commented on #15164
@Rijuta-s @krishita30j Will you be looking into this issue?

[2022-06-07 14:19] Lawful2002 commented on #15369
Yup, I'm planning to get a PR in by 11th June

[2022-06-07 14:22] vojtechjelinek commented on #15369
@Lawful2002 Okay, thanks!

[2022-06-07 14:33] SanjaySajuJacob commented on #15152
Yes @vojtechjelinek, I am working on it, I will give my updates as soon as possible.

[2022-06-07 15:53] KolliAnitha opened #15548 "Content displayed in the Revision card 'Fractions of a group' is not relevant to the topic"
**Describe the bug**
Content displayed in the Revision card 'Fractions of a group' is not relevant to the topic

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Oppia'
 2. Click on 'Learn'- Click on Fractions
 3. Click on Revision tab
 4. Select topic Fractions of a group and see the content displayed

**Observed behavior**
Image related to place values is displayed

**Expected behavi

[2022-06-07 16:35] SD-13 opened #15550 "Missing card contents while creating questions"
**Describe the bug**
While creating questions in skill editor or topic editor, if we switch the window size, a few things are not being rendered properly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.org.
 2. Create a new `skill` or go to an existing one.
 3. Click on `Create New Question`.
 4. Follow the steps shown in the clip.

**Observed behavior**

If w

[2022-06-07 16:46] Pelumihq opened #15551 "Translation voice recorder giving static sound and unable to publish recording"
The voiceover recorder makes a static sound whenever I try to record with it making it difficult to record voiceover from my browser. I also found out that I can't publish my uploaded file and I have over 40 voiceovers already.
Kindly fix
 [Voice recorder and publish button not working](https://vimeo.com/717982989/693dc2cd3d)

[2022-06-07 17:36] Nik-09 commented on #13162
@adityanarayanm095 Done.
@jordyparker thank you for providing the update.

[2022-06-07 20:18] heyimShivam opened #15552 "review can not edit a translation in review."
**Describe the bug**
 review can not edit a translation in review.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'contributor-dashboard'
 2. and try to edit the translation
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / Videos**

ht

[2022-06-07 20:21] heyimShivam commented on #15552
@srijanreddy98 @ashutoshc8101 PTAL

[2022-06-08 02:49] seanlip commented on #15551
Hi @Pelumihq -- thanks for reporting. Two things:

(a) Are you recording from within the browser, or recording on your computer and then uploading? The latter is preferred so I would suggest doing that instead.

(b) In a separate lesson (perhaps), can you try uploading just one voiceover and seeing whether it's publishable? If so, then something weird has happened with your current session and I'm

[2022-06-08 05:10] seanlip commented on #15548
This happens on the test server, which has test content. So, this issue doesn't need to be fixed.

[2022-06-08 05:10] #15548 closed, assigned to nobody

[2022-06-08 05:44] swethasekhar commented on #14033
Hi @vojtechjelinek : I get errors due to decorators
 Module has no attribute "run_in_transaction_wrapper"  [attr-defined] and Untyped decorator makes function untyped.
I took a look and the decorators are present in another file. Do I have to follow https://mypy.readthedocs.io/en/stable/generics.html#declaring-decorators in the other file ? or can i create a type ignore for such cases?

[2022-06-08 08:00] brijsiyag commented on #15299
Hello @sagangwee , Thank you very much for sharing logs and steps you took. Could you please share your brew packages list with versions and if possible output of ```printenv``` after removing confidential envs.

[2022-06-08 12:30] vojtechjelinek commented on #14033
@swethasekhar Yep I think it would be useful to type the decorators.

[2022-06-08 17:14] DubeySandeep commented on #6271
Closing this issue as all the subtasks for the issue are resolved!

[2022-06-08 17:14] #6271 closed, assigned to nobody

[2022-06-08 21:52] vojtechjelinek commented on #15543
@srijanreddy98 Can you please post updates on this at least every two days?

[2022-06-08 21:52] vojtechjelinek commented on #15523
@srijanreddy98 Can you please post updates on this at least every two days?

[2022-06-08 21:53] vojtechjelinek commented on #15533
@srijanreddy98 Can you please post updates on this at least every two days?

[2022-06-08 21:53] vojtechjelinek commented on #15539
@kevintab95 Will you be fixing this?

[2022-06-08 21:54] vojtechjelinek commented on #15526
@srijanreddy98 Can you please post updates on this at least every two days?

[2022-06-08 21:54] vojtechjelinek commented on #15527
@kevintab95 Will you be fixing this?

[2022-06-08 21:54] vojtechjelinek commented on #15534
@kevintab95 Will you be fixing this?

[2022-06-08 22:01] vojtechjelinek commented on #15542
@kevintab95 Hmm, I don't see any `ExplorationCommitLogEntryModel`s for `rjpLJaxvBdF5`

[2022-06-08 22:20] sagangwee commented on #15299
@brijsiyag Sure, thing.

[code]

For the output of `printenv`, I'll just list what might be relevant fields:

[code]

Hope that helps.

[2022-06-09 07:30] kevintab95 commented on #15527
I looked into this a bit and it seems like the line  https://github.com/oppia/oppia/blob/ca85173a04283c16b938f84258bc4df209f7b799/core/templates/pages/exploration-player-page/learner-experience/conversation-skin.component.ts#L904

triggers an event before pencilcode editor has a chance to properly setup, causing an error. It seems to be introduced in #15294. I'm not certain why this line was added

[2022-06-09 08:23] paprajapati9 commented on #15527
@kevintab95 So I looked into it and it seems this line is not required and is left from my initial testing commits which somehow I forgot to remove. So this line can be removed and would not affect the things in PR #15294 .

[2022-06-09 09:14] #12425 closed, assigned to nithinrdy

[2022-06-09 09:40] ayushjaink8 opened #15559 "Rename `SUPPORTED_AUDIO_LANGUAGES` constant and its corresponding validators."
As of now, we are using `SUPPORTED_AUDIO_LANGUAGES` for both written translations and voice-over translations and also for setting the audio language for the exploration. `is_supported_language_code` uses `SUPPORTED_AUDIO_LANGUAGES` to validate. There are two more contacts related to this i.e `SUPPORTED_CONTENT_LANGUAGES` and `SUPPORTED_SITE_LANGUAGES`. We need to rename all these constants and th

[2022-06-09 09:47] kevintab95 commented on #15539
Yes, I'll fix this. I suspect the image context may not be set correctly when uploading an image using the ImageClickInput interaction.

[2022-06-09 15:30] Lawful2002 opened #15562 "Console errors while hovering over the admin page navigation dropdown"
**Describe the bug**
There are console errors when the user hover overs the tab navigation bar on the admin page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the admin page (on localhost)
 2. Set the screen width to less than 710px to get to mobile view.
 3. Open the dev tools console and hover over the hamburger menu towards the top-right corner
 4. See error

**Observed behavior*

[2022-06-09 15:52] brijsiyag commented on #15299
Thank you @sagangwee.

[2022-06-10 07:16] Sami-Wafula commented on #13162
Hi @Nik-09, can I be assigned  AssetDevHandler, EditableStoryDataHandler and ValidateExplorationsHandler

[2022-06-10 07:52] Nik-09 commented on #13162
@[Sami-Wafula](https://github.com/Sami-Wafula) Done

[2022-06-10 13:41] vojtechjelinek commented on #15152
@SanjaySajuJacob Yeah, this is my responsibility.

[2022-06-10 13:46] SanjaySajuJacob commented on #15152
@vojtechjelinek, the issue seems to be occurring in the input-response-pair.component.html file. It seems like the custom CSS classes for the two images are not rendering in time.
Would this be related to issue #14625 since it has been mentioned as a TODO in the same file?

[2022-06-10 13:47] SanjaySajuJacob commented on #15152
Oh I see

[2022-06-10 16:26] hklu21 commented on #13162
Hi @Nik-09, may I be assigner for "QuestionCreationHandler", "EditableQuestionDataHandler" and "QuestionSkillLinkHandler"?
Thank you!

[2022-06-10 17:18] BenHenning commented on #21858
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-11 00:02] seanlip commented on #15314
OK, just an update -- @nithinrdy pointed out that this issue is a duplicate of #15497 (which suggests a different fix), so we brought this up to the design team.

On review, @CarrieSDoung recommends that we go with something closer to that solution instead. So, **change of plan**: the solution here is to just make the sub-navigation (lessons/practice/revision) move in tandem with the scrolling, in

[2022-06-11 00:02] seanlip commented on #15497
Closing as duplicate of #15314 (see discussion [there](https://github.com/oppia/oppia/issues/15314#issuecomment-1152808208)).

[2022-06-11 00:02] #15497 closed, assigned to nobody

[2022-06-11 04:02] #15522 closed, assigned to nobody

[2022-06-11 04:40] Ayushsunny commented on #10474
Hey @vojtechjelinek please assign me a file for this issue.

[2022-06-11 09:31] divyanshkhetan commented on #15562
@Lawful2002 Can I work on this issue?

[2022-06-11 14:58] vojtechjelinek opened #15567 "Migrate to Python 3.8"
Migrate to Python 3.8 so that we use a bit newer version.

[2022-06-11 16:43] Lawful2002 commented on #15562
@divyanshkhetan Go ahead! Thanks.

[2022-06-11 21:17] vojtechjelinek commented on #15543
@srijanreddy98 @ashutoshc8101 When do you expect a fix for this?

[2022-06-11 21:18] vojtechjelinek commented on #15523
@srijanreddy98 @ashutoshc8101 When do you expect a fix for this?

[2022-06-11 21:19] vojtechjelinek commented on #15533
@srijanreddy98 @ashutoshc8101 When do you expect a fix for this?

[2022-06-11 21:19] vojtechjelinek commented on #15539
@kevintab95 Any update?

[2022-06-11 21:19] vojtechjelinek commented on #15526
@srijanreddy98 @ashutoshc8101 When do you expect a fix for this?

[2022-06-11 21:22] vojtechjelinek commented on #15319
@aks681 Any update on this?

[2022-06-11 21:22] vojtechjelinek commented on #15371
@aks681 Any update on this?

[2022-06-11 21:24] vojtechjelinek commented on #15372
@aks681 Any update on this?

[2022-06-11 21:24] vojtechjelinek commented on #15150
@krishita30j Any update on this?

[2022-06-11 21:25] vojtechjelinek commented on #15164
@Rijuta-s @krishita30j Any update on this?

[2022-06-11 21:25] vojtechjelinek commented on #15209
@aks681 Any update on this?

[2022-06-11 21:25] vojtechjelinek commented on #15537
@kevintab95 @aks681 Any update?

[2022-06-11 21:26] vojtechjelinek commented on #15529
@aks681 @kevintab95 Any update?

[2022-06-11 21:26] vojtechjelinek commented on #15524
@aks681 @kevintab95 Any update?

[2022-06-11 21:26] vojtechjelinek commented on #15531
@aks681 @kevintab95 Any update?

[2022-06-12 07:18] Lawful2002 opened #15570 "The question creation modal doesn't detect changes properly when trying to edit the question difficulty."
**Describe the bug**
The question creation modal is not able to detect the change in question difficulty properly. The question difficulty is updated
only when the modal is opened the second time. (this is probably an issue with change detection)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the 'Submit Question Tab' of the Contributor Dashboard.
 2. Populate data in CD according to

[2022-06-12 17:16] Lawful2002 opened #15572 "The `Edit` button on the translation review tab on the Contributor Dashboard is not working"
**Describe the bug**
After pressing the 'Edit' button on the translation review tab, no editor shows up and it is not possible to edit the translation.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the translation review tab on the Contributor Dashboard
 2. Select a topic and click the 'review' button.
 3. Click the 'Edit' button beside the '**Translation:**' heading.
 4. See error

[2022-06-12 17:27] srijanreddy98 commented on #15543
@vojtechjelinek This is the existing behaviour in the prod website as well. I don't think this is a bug. Maybe we can decide if this needs to be changed but not a release block I guess.

[2022-06-12 17:39] srijanreddy98 commented on #15533
Hey... @vojtechjelinek doesn't seem to be related to schema-based-editors as it is not used in preferences page as far as i can recall.

[2022-06-12 19:03] udyanojha commented on #15090
@U8NWXD Hi!
Could you please refer some resources for the issue. I would like to learn and resolve this.
Thanks

[2022-06-12 19:29] udyanojha commented on #10474
@vojtechjelinek Hi!
Please assign the following to me. I would like to try and resolve this.
 **core/templates/components/ck-editor-helpers/ck-editor-4-widgets.initializer.ts**

Regards

[2022-06-13 03:50] snagas22 commented on #14219
Hi @U8NWXD, could I please be unassigned from core.domain.value_generators_domain_test? Thank you!

[2022-06-13 04:03] U8NWXD commented on #14219
@snagas22 done!

[2022-06-13 04:04] U8NWXD commented on #15090
Take a look at https://github.com/oppia/oppia/wiki/Custom-Pylint-checks to learn how to write lint checks for Python files

[2022-06-13 04:05] U8NWXD commented on #15090
~@devarsh10 are you still working on this?~

EDIT: see https://github.com/oppia/oppia/issues/15090#issuecomment-1124494769

[2022-06-13 06:04] soumyo123-prog opened #15577 "Milestone 1: Improving the lesson creation experience [part (a) + part (b)]"
- [ ] Create all the new domain objects:
    - [ ] ExplorationMetadata (frontend)
    - [ ] ExplorationMetadata (backend)
    - [ ] StateVersionHistory (frontend)
    - [ ] StateVersionHistory (backend)
- [ ] Create the new ExplorationStatesVersionHistoryModel and implement its lifecycle in the backend (creation, updation etc.).
- [ ] Create the new beam job and run it on the server.
- [ ] Make th

[2022-06-13 13:20] vojtechjelinek commented on #10474
@JeeveshGarg Can you assign file please?

[2022-06-13 13:22] vojtechjelinek commented on #15543
@srijanreddy98 Ah, okay, sorry, moving to hotlist.

[2022-06-13 13:32] vojtechjelinek commented on #10474
@Ayushsunny @udyanojha Sorry, this issue is no longer available to new contributors.

[2022-06-13 16:21] brijsiyag commented on #15511
Hey @kevintab95 , I have added a PR solving this issue.

[2022-06-13 16:22] udyanojha commented on #10474
@vojtechjelinek No problem. I love the work you put in for community. Exploring more tasks.
Thank you

[2022-06-13 17:42] JeeveshGarg commented on #10474
The major part of this issue is now going to cover during Google Summer of Code 2022 under the [Improve the frontend type system](https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2022#42-improve-the-frontend-type-system) project.

Earlier we need to add the path of the file in the files property of [tsconfig-strict.json](https://github.com/oppia/oppia/blob/develop/tsconfig-strict.json), w

[2022-06-13 20:25] #15540 closed, assigned to kevintab95, aks681

[2022-06-13 21:17] kevintab95 opened #15579 "TODO: Sanitize SVG before previewing in the image-with-regions editor interface"
The preview image cannot be sanitized because of the way it is implemented in the image-with-regions-editor component. When the image is sanitized, we pass a SafeUrl object to the template which angular correctly parses when it is bound to the src attribute in an img tag. However, in image-with-regions-editor, the image is bound to the href attribute of an image tag (inside an SVG), this is curren

[2022-06-14 04:22] Saurabhbalke commented on #15530
Hi, @ShivamJhaa, I want to work on this issue please assign me

[2022-06-14 05:03] ShivamJhaa commented on #15530
Sure, go ahead.
Thanks!

[2022-06-14 08:12] #15577 closed, assigned to nobody

[2022-06-14 20:16] hsadia538 commented on #14419
Hi @JeeveshGarg
Although everything seems to be assigned, incase if something is available please assign it to me thanks.

[2022-06-14 20:42] hsadia538 commented on #14033
Hi @sajalasati @vojtechjelinek can you assign me the following files:

[code]

[2022-06-14 20:54] kevintab95 commented on #15516
Looks like dimensions passed to the thumbnail method in PIL seems to be invalid (height is 0). Next step for this would be to strengthen the dimension validation in the frontend and add logging in the backend.

[2022-06-14 20:54] hsadia538 commented on #13162
Hi @Nik-09  please assign me to any three handlers available, thanks.

[2022-06-14 22:17] sagangwee opened #15588 "[CD] Investigate repeated network requests on initial page load"
It looks like we're repeating several network requests on initial page load:

![Screen Shot 2022-06-14 at 6 05 22 PM](https://user-images.githubusercontent.com/9004726/173698584-61059566-9cee-4f9a-ad33-90cdf287b236.png)

This can probably be mitigated with some tuning in Angular rendering.

Also see https://github.com/oppia/oppia/pull/15460/files#r897366706.

[2022-06-14 23:15] kevintab95 commented on #7045
Closing this issue since it has not occured in a long time. Will reopen if it does.

[2022-06-14 23:15] #7045 closed, assigned to nobody

[2022-06-14 23:15] kevintab95 commented on #7046
Closing this issue since it has not occured in a long time. Will reopen if it does.

[2022-06-14 23:15] #7046 closed, assigned to nobody

[2022-06-14 23:17] kevintab95 commented on #15204
Next step here would be to strengthen validation on the front-end so that the stats sent to the backend is fully valid.

[2022-06-14 23:22] kevintab95 commented on #14702
Hi @soumyo123-prog, any updates on this issue?

[2022-06-14 23:24] kevintab95 commented on #14705
Closing since it no longer occurs. Possibly fixed by https://github.com/oppia/oppia/pull/14724.

[2022-06-14 23:24] #14705 closed, assigned to vojtechjelinek

[2022-06-14 23:25] kevintab95 commented on #14738
Hi @lkbhitesh07, any updates on this?

[2022-06-14 23:27] kevintab95 commented on #14739
Closing since this no longer occurs and the code mentioned in the description is obsolete.

[2022-06-14 23:27] #14739 closed, assigned to nobody

[2022-06-15 02:54] #15369 closed, assigned to Lawful2002

[2022-06-15 08:42] kevintab95 commented on #15197
Next step for this issue would be to log the change list and the list of state names in the exploration.

[2022-06-15 08:44] kevintab95 commented on #8446
Closing this since it no longer occurs on prod. Will reopen if it does.

[2022-06-15 08:44] #8446 closed, assigned to nobody

[2022-06-15 09:47] sahiljoster32 commented on #14033
Hi @hsadia538 ,
Sorry to say but this issue from now is not available for new contributors. Because the files mentioned in this issue is going to be covered under the GSoC project [`Make backend code typed`](https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2022#41-make-backend-code-typed).

But still, you can find other beginner-friendly issues by searching the `good first issue` label in

[2022-06-15 21:36] hsadia538 commented on #10700
@srijanreddy98 @mridul-netizen Can You assign me to any one of them in the list.thanks

[2022-06-16 06:39] soumyo123-prog commented on #14702
@kevintab95 I think 2 PRs are left to be merged and I could not work on them earlier because I was busy with the "greenlight doc". I will resume working on them. However, they might take some time as I am also working on my project right now.

[2022-06-16 08:33] kevintab95 opened #15591 "Skill review modal is not visible when trying to link a concept card in a question via the CD"
**Describe the bug**
Skill review modal is not visible when trying to link a concept card in a question via the Contributor dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard with question submission permissions.
 2. Go to the question submission screen.
 3. Select a skill that contains a misconception.
 4. Try to link a misconception to an answer group.

[2022-06-16 08:34] kevintab95 commented on #15591
/cc @vojtechjelinek

[2022-06-16 08:43] kevintab95 commented on #15591
It seems that all RTE modals that open up from within the "Add Response" modal (in the CD > submit question screen) do not stack properly.

[2022-06-16 08:57] kevintab95 commented on #15579
This is no longer relevant, the SVG can be sanitized and passed as a string instead of a SafeUrl. Closing.

[2022-06-16 08:57] #15579 closed, assigned to kevintab95

[2022-06-16 09:18] kevintab95 commented on #15591
I think this requires rte-helper.service to be migrated to be solved correctly but this occurs on the prod server and needs to be fixed ASAP. @srijanreddy98 @ashutoshc8101 any thoughts on how to fix this (if rte-helper.service can not be migrated at this point)?

[2022-06-16 18:42] divyanshkhetan commented on #15562
The issue doesn't seem to be with the menu items but rather with admin dropdown icon and activities dropdown icon. Also when the dropdown menu occurs, the error occurs with the div containing the menu items and not the menu items themselves. Also when we hover over the div giving icons, the error doesn't log immediately but rather occur in a batch of 2 errors when we move away from the div.

[2022-06-17 04:27] ashish-patwal commented on #15567
PTAL @vojtechjelinek #15508

[2022-06-17 04:32] DubeySandeep opened #15592 "Unable to run oppia server locally without internet connection"
**Description:**

Developers should be able to work offline (i.e, without an internet connection) in some situations where they can't have internet connection for a while. Running a devserver without connection raises error and fails to start a server because of firbase emulator i.e, the firebase emulator requires auth from the google server (not sure!), this blocks developers to work offline.

Th

[2022-06-17 11:55] vojtechjelinek commented on #15533
This also seems to happen on the production, thus moving to hotlist.

[2022-06-17 12:55] Nik-09 commented on #13162
Hi [hsadia538](https://github.com/hsadia538) I have assigned you the handlers, please take a look.
Thanks!

[2022-06-17 16:58] #15570 closed, assigned to Lawful2002

[2022-06-17 23:23] #15527 closed, assigned to kevintab95, aks681

[2022-06-17 23:23] #15534 closed, assigned to kevintab95, aks681

[2022-06-17 23:23] #15538 closed, assigned to kevintab95

[2022-06-17 23:23] #15541 closed, assigned to kevintab95

[2022-06-17 23:23] #15539 closed, assigned to kevintab95, aks681

[2022-06-18 20:18] Rijuta-s commented on #15164
@SanjaySajuJacob Assigning it to you.

[2022-06-19 09:24] soumyo123-prog opened #15599 "Refactor ExplorationMetadataObjectFactory to a model.ts once ParamSpecsObjectFactory and ParamChangesObjectFactory are refactored."
Refactor ExplorationMetadataObjectFactory to a model.ts once ParamSpecsObjectFactory and ParamChangesObjectFactory are refactored into model.ts files.

[2022-06-19 09:50] kevintab95 opened #15600 "Unable to run the cut_release_or_hotfix_branch script"
**Describe the bug**
I am unable to run the release script to cut a release or hotfix branch.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `python -m scripts.release_scripts.cut_release_or_hotfix_branch --release_version="x.y.z" --hotfix_number=d`
 2. See error.

[code]

**Observed behavior**
Unable to run the release script.

**Expected behavior**
I should be able to run the release

[2022-06-19 21:07] #15511 closed, assigned to nobody

[2022-06-19 22:55] qinghaoyang commented on #8668
@nithusha21 @U8NWXD Could you assign me url-interpolation.service.ts?

[2022-06-20 06:14] paprajapati9 opened #15606 "Unable to commit after #15557 got merged"
**Describe the bug**
After taking the latest changes pull from develop, I am now unable to commit any new changes.

**To Reproduce**
Steps to reproduce the behavior:
 1. Take pull from oppia develop branch
 2. Try making some change and try running git commit -m "test" command.
 3. See the error

**Observed behavior**
The commit is unsuccessful.

**Expected behavior**
It should get committed succe

[2022-06-20 06:16] paprajapati9 commented on #15606
The issue is same as mentioned in #15600

[2022-06-20 13:20] vojtechjelinek commented on #15600
@kevintab95 I think #15557 should fix this bug, are you sure this PR was included in your deploy branch?

[2022-06-20 18:23] vojtechjelinek commented on #15542
This seems to "only" be an issue with data on the test server, thus it is not blocking the release.

[2022-06-20 18:57] vojtechjelinek commented on #15591
@heyimShivam  Any idea when rte-helper.service will be migrated?

[2022-06-20 18:58] vojtechjelinek commented on #15533
@kevintab95 @aks681 Can you please assign someone on this?

[2022-06-20 19:05] heyimShivam commented on #15591
I don't think so this is under my GSoC milestones. @srijanreddy98  @ashutoshc8101  can you please reply?

[2022-06-20 21:03] #15600 closed, assigned to nobody

[2022-06-20 21:03] #15606 closed, assigned to nobody

[2022-06-20 23:30] adityanarayanm095 commented on #8015
Hi @kevintab95
Currently i am learning Angular and already working already on another issue, so i am not giving time here to contribute.

So kindly unassign `core/templates/domain/exploration/editable-exploration-backend-api.service.ts` to me.
I will come back here after that.

Thankyou.

[2022-06-21 01:44] Lawful2002 commented on #15572
@srijanreddy98 PTAL.

[2022-06-21 08:14] SawaTszm commented on #14219
Hi @U8NWXD , could please I be assigned to scripts.install_backend_python_libs_test?

[2022-06-21 08:16] kevintab95 commented on #14706
This occured again. Here are the logs:

[code]

[2022-06-21 08:46] sahiljoster32 opened #15610 "Introduce `typing_json` in the codebase."
**Is your feature request related to a problem? Please describe.**
Currently, in oppia codebase, we are using a general json library. This library is ambiguously typed and forces developers to use the `cast` function for proper type annotations.
**Describe the solution you'd like**
Once the whole codebase is typed, we should use `typing_json` to remove casts.
**Additional context**
For reference:

[2022-06-21 14:49] nithusha21 commented on #12434
This issue has been fixed across multiple PRs. I have verified the code corresponding to each point to be fixed!

[2022-06-21 14:49] #12434 closed, assigned to nithusha21

[2022-06-21 21:54] DubeySandeep commented on #15592
Initially it fails because "unable to install third party libs", after commenting the installation lines in start.py it repeats with the following logs:
![image](https://user-images.githubusercontent.com/16653571/174903646-9bbef564-96d9-4f4c-b98f-32b263317c96.png)

[2022-06-22 03:37] IamEzio commented on #14219
Hi @SawaTszm! The file `scripts.install_backend_python_libs_test` has been allocated for GSoC. Can you take up any remaining file in `core/domain/` directory?
Sorry for the inconvenience.

[2022-06-22 04:28] SawaTszm commented on #14219
Hi @IamEzio! No problem, Thank you for letting me know.

@U8NWXD Sorry, could I be unassigned from `scripts.install_backend_python_libs_test` and assigned to `core.domain.collection_services_test`?

[2022-06-22 06:00] IamEzio commented on #14219
@SawaTszm done!

[2022-06-22 07:22] sahiljoster32 opened #15613 "Add stubs for Apache beam library."
**Describe the bug**
Due to the absence of stubs for the apache_beam library, anything related to this library is considered as an `Any` type by MyPy.

**Observed behavior**
Due to `Any` type, apache_beam is introduced in oppia as a loosely typed library.

**Expected behavior**
`Any` type should be removed.

**Current problem while introducing stubs for `apache_beam`**
1. The stubs of apache_beam

[2022-06-22 07:34] krishita30j commented on #15150
Hey @vojtechjelinek sorry for the delay in response. I'm working on this and will create a PR ASAP.

[2022-06-23 01:43] kevintab95 opened #15617 "Unable to submit a question with Drag and Drop interaction"
**Describe the bug**
Unable to submit a question with Drag and Drop interaction

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contributor dashboard.
 2. Try to submit a question with the drag and drop interaction.
 3. See error.

**Observed behavior**
There are few issues:
1. The IDs are displayed instead of the actual text values in the solution editor.
![image](https://user-images

[2022-06-23 01:46] kevintab95 commented on #15617
/cc @iamprayush @sagangwee @vojtechjelinek @nithusha21 @seanlip for info

[2022-06-23 01:56] seanlip commented on #15617
Thanks for detecting this, Kevin!

Does this happen in the exploration editor?

Does it happen in the current production site?

On Wed, Jun 22, 2022, 6:46 PM Kevin Thomas ***@***.***> wrote:

[2022-06-23 02:00] kevintab95 commented on #15617
Yes, to both questions! Verified that it happens on prod in the exp editor.

[2022-06-23 06:21] gtfrans2re commented on #15353
Hello @dchen97 - thanks for the thorough explanation and valid reasons to maintain it.
I totally concur.

[2022-06-23 07:42] IamEzio commented on #14219
Hi @Akshaj000 @div-yam @chiragbaid7 @janneyt @clairvoyage @jordyparker @ananth243 @camperjett @dhruvshrivastava @Yavnikaa @Hatilar420 @JeeveshGarg @beingnoble03 @z-dras @IamhappyXD @lilytai @arjunjaitly @Pewps @BradFeng02 @samanthaclark1 @Ferfy39 @LuizDMM.
You guys have been unassigned from the files you had been assigned to because of no recent activity. Some of those files have also been allocat

[2022-06-23 11:09] #15456 closed, assigned to paprajapati9

[2022-06-23 14:44] #15515 closed

[2022-06-23 15:52] sahiljoster32 opened #15621 "Add proper stubs of ndb properties and remove Any type from them."
**Describe the bug**
Due to improper stubs of ndb properties, MyPy assumes the return type of each property is Any type.

**Observed behavior**
Due to the `Any` type of ndb properties, either we have to use cast or assert to convert them into a proper type. This creates a pattern in the codebase that we don’t want other contributors to follow because this introduces ambiguous static typing in the

[2022-06-24 03:32] #14199 closed, assigned to iamprayush

[2022-06-24 09:22] #15523 closed, assigned to srijanreddy98, ashutoshc8101

[2022-06-24 09:22] #15526 closed, assigned to srijanreddy98, ashutoshc8101

[2022-06-24 10:32] #8035 closed, assigned to nobody

[2022-06-24 22:06] sagangwee commented on #15552
@vojtechjelinek Can I get Hindi review rights for my user on the test server? Username should be sagangwee.

[2022-06-24 22:49] akhilr97 commented on #10700
@srijanreddy98 Could you please assign me to StoryReferenceObjectFactory?

[2022-06-25 11:06] sahiljoster32 opened #15633 "Missing `browser_type` key and `app_version` key for the client's side context dictionary."
**Describe the bug**
In codebase, there are some cases ( this can be either main code or test cases ) where we are not providing the `browser_type` key and `app_version` key for the client's side context dictionaries.

**Observed behavior**
Due to the absence of a key, A none value is assigned which is not an expected behavior.

**Expected behavior**
All keys for the client's side context dictiona

[2022-06-26 14:11] nithinrdy opened #15636 "Adding a rule to ensure e2e/acceptance test classes aren't used for CSS styling purposes"
**Is your feature request related to a problem? Please describe.**

Currently, there are several instances of e2e/acceptance test classes (those starting with `e2e-test`) being used for styling purposes. We think it would be better to limit the use of these classes to e2e tests only, and prevent them from being used for styling (see [this comment](https://github.com/oppia/oppia/pull/15611#discussi

[2022-06-26 17:18] vojtechjelinek opened #15637 "Suggested next explorations look weird on mobile"
**Describe the bug**
Suggested next explorations look weird on mobile.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE
 2. Play till the end
 3. Look at the bottom

**Observed behavior**
The exploration cards are next to each other so only the one in the middle is visible. The cards on the sides are only partly visible. Also, the fo

[2022-06-26 17:36] vojtechjelinek opened #15638 "UI on contributor dashboard admin page is broken"
The UI on https://oppiatestserver.appspot.com/contributor-dashboard-admin is broken
![image](https://user-images.githubusercontent.com/10142938/175826849-071fa61a-0e28-43f3-94ab-465f0b28c4ff.png)

[2022-06-26 19:22] #15385 closed, assigned to ayushjaink8

[2022-06-26 20:01] vojtechjelinek opened #15639 "The items on contributor dashboard are not loading"
**Describe the bug**
When I navigate to the contributor dashboard on the test server the items do not load and there is an error in the browser console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
The items to review do not show up.

**Expected behavior**
The items to review should show up

**

[2022-06-27 18:13] Lawful2002 commented on #15530
@Saurabhbalke Any updates?

[2022-06-27 18:14] #15444 closed, assigned to Lawful2002

[2022-06-27 21:13] kevintab95 opened #15645 "Solution Editor does not accept solution for Pencil Code interaction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a Pencil Code interaction.
 2. Try to add a solution for the interaction.
 3. See error.

**Observed behavior**
Valid solution is not accepted in the solution editor.

**Expected behavior**
A valid solution must be accepted in the solutione editor interface.

**Scr

[2022-06-27 22:23] kevintab95 opened #15646 "Release coordinator page is broken"
**Describe the bug**
Unable to view the release coordinator page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /release-coordinator
 2. See error

**Observed behavior**
Release coordintor page is broken.

**Expected behavior**
Release coordinator page should show correctly.

**Screenshots / Videos**
[code]

![image](https://user-images.githubusercontent.com/11008603/176045715-746e3

[2022-06-27 23:39] sagangwee opened #15648 "[CD] Translations review dashboard does not display lessons for certain in-review translations"
Occurring for:
* Spanish translations in topic Division.
* Hinglish translations in Addition and Subtraction topic.

[2022-06-28 06:15] kevintab95 opened #15650 "Switching written translations to English and then back results in incorrect content in the continue button"
**Describe the bug**
Switching written translations to English and then back results in incorrect content in the continue button.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with a continue button and translate it in a few languages.
 2. Go to the learner view.
 3. Switch between a language and English using the written translation dropdown.
 4. See error.

**Obser

[2022-06-28 06:36] kevintab95 commented on #15617
Update: This is working as intended, the rule used in the screenshot ("IsEqualToOrderingWithOneItemAtIncorrectPosition") only works when the customisation args property "allowMultipleItemsInSamePosition" is set to true. I've confirmed that this rule works fine when the customisation arg property is set and also confirmed that the other rules work fine. Thanks!

[2022-06-28 07:23] #15646 closed, assigned to kevintab95

[2022-06-28 11:12] vojtechjelinek commented on #15617
@kevintab95 Sorry for reopenning this, but should there be an error message that explains this?

[2022-06-28 14:35] #14994 closed, assigned to Lawful2002

[2022-06-28 23:08] kevintab95 commented on #15617
No worries and thanks for opening up a conversation about this @vojtechjelinek! In the exploration editor interface, there is a warning that shows next to the card that uses the problematic rule in the graph layout and prevents publishing. In the question editor, since there is no graph this warning is not shown. We just prevent submission of the question explaining that the solution is invalid. I

[2022-06-29 10:05] ShivamJhaa opened #15654 "Remove e2e classname used for styling in core/templates/css/oppia.css"
**Describe the bug**
We should not use e2e classname for styling purpose, but in oppia.css file it is being used for styling purpose.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to core/templates/css/oppia.css, line 162
 2. See the error

**Observed behavior**
In oppia.css file e2e class names is being used for styling purpose.

**Expected behavior**
e2e class name should only be use

[2022-06-29 10:42] divyanshkhetan commented on #15147
Can I work on this issue?

[2022-06-29 14:37] vojtechjelinek commented on #14028
This is not fixed in some places.

[2022-06-29 21:24] #15150 closed, assigned to krishita30j

[2022-06-30 00:19] #13500 closed, assigned to PranshuSrivastava

[2022-06-30 19:02] vojtechjelinek opened #15662 "Math element cannot be copied by copy tool"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard
 2. Go to 'Translate Text' tab
 4. Find a translation where math element is used
 5. Enable the copy tool and copy the math element
 6. See errors in the console

**Observed behavior**
The 'Done' button for the math element doesn't do anything.

[2022-06-30 20:55] sagangwee opened #15665 "[CD] Remove `next_offset` return field from backend query fetch calls"

[2022-06-30 22:14] #15638 closed, assigned to vojtechjelinek

[2022-07-01 04:20] Lawful2002 commented on #15572
Closing this as duplicate of [#15552](https://github.com/oppia/oppia/issues/15552)

[2022-07-01 04:20] #15572 closed, assigned to nobody

[2022-07-01 17:37] #15407 closed, assigned to vojtechjelinek

[2022-07-02 23:52] #15648 closed, assigned to sagangwee

[2022-07-03 08:32] #15552 closed, assigned to vojtechjelinek

[2022-07-03 10:14] #15591 closed, assigned to srijanreddy98, ashutoshc8101, heyimShivam

[2022-07-03 10:14] #15650 closed, assigned to kevintab95

[2022-07-03 19:05] gp201 opened #15676 "ImageWithRegionsEditorComponent should initialize component when interaction editor is opened. FAILED"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1. 923

**Tests:**:
1. https://github.com/oppia/oppia/runs/7161501268?check_suite_focus=true#step:8:1724

## Complete Log

[frontend_test_log.txt](https://github.com/oppia/oppia/files/9035365/1_frontend.ubuntu-18.04.txt)

## Debug Doc

[2022-07-04 03:43] kevintab95 opened #15677 "AttributeError: 'NoneType' object has no attribute 'mark_lesson_info_modal_viewed'"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-07-04 04:10] kevintab95 commented on #15677
#### Steps to reproduce

1. Play [What are Place Values?](https://www.oppia.org/explore/K645IfRNzpKy) as a logged out user.
2. Click on the icon next to "Lesson Info" (bottom right corner).
3. Close the modal and repeat step (2).
4. See error.

[2022-07-04 05:45] kevintab95 commented on #15677
@paprajapati9 @IamEzio @Manan-Rathi could you please take a look at this? It looks like an issue with the logged out experience in the checkpoints project, not sure. Thanks!

[2022-07-04 06:30] IamEzio commented on #15677
Hi @kevintab95. The above mentioned error is solved by this [check](https://github.com/oppia/oppia/pull/15482/files#diff-9ccd0bd65a396148c9d3f31ff2d979841854cdb050247353fe89f75f7f44e182R285) in PR #15482.
Actually [this](https://github.com/oppia/oppia/blob/develop/core/templates/pages/exploration-player-page/layout-directives/exploration-footer.component.ts#L274) method was meant to be executed on

[2022-07-04 06:41] #15676 closed, assigned to gp201

[2022-07-04 14:52] #15381 closed, assigned to nobody

[2022-07-05 02:11] #15147 closed, assigned to divyanshkhetan

[2022-07-05 07:08] IamEzio opened #15682 "Implement user checkpoints feature flag using feature-gating service"
Currently the user checkpoints feature flag is being implemented using the config domain. We want it to be implemented using the feature gating services in the codebase (see [platform_feature_services.py](https://github.com/oppia/oppia/blob/develop/core/domain/platform_feature_services.py)).

See [context](https://github.com/oppia/oppia/pull/15482#discussion_r912872767).

[2022-07-05 18:32] Lawful2002 opened #15684 "UI issues with topic and skill editor dashboard on smaller screen sizes."
**Describe the bug**
1. The text in the navbar is overlapping on smaller screen sizes.
2. The collapse/expand arrow for the canonical stories tab is eclipsed by the 'book' icon, making it very difficult to expand the tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topic and Skills Dashboard
 2. Reduce screen width to 600px.
 3. See overlapping text issue on the navbar.
 4. Scroll

[2022-07-05 21:51] akhilr97 commented on #14974
May I work on this issue?

[2022-07-05 22:36] kevintab95 commented on #15064
The problematic exploration has been fixed on production. Closing.

[2022-07-05 22:36] #15064 closed, assigned to kevintab95

[2022-07-05 22:38] kevintab95 commented on #14738
Hi @lkbhitesh07, friendly ping, any updates on this?

[2022-07-05 22:39] kevintab95 commented on #14706
Next step is to reproduce the parsing error by constructing a node similar to that in https://github.com/oppia/oppia/issues/14706#issuecomment-1161416698.

[2022-07-05 22:50] kevintab95 commented on #14895
Next step would be to log the exploration ID and the version numbers that result in this error.

[2022-07-05 23:05] kevintab95 commented on #7445
Next step: Possibly related to https://github.com/ckeditor/ckeditor4/issues/698, try to reproduce the issue locally per the comments on the issue thread to confirm. If this is not the same issue, try to add a sourcemap to get the exact point of failure for further investigation.

[2022-07-06 00:16] swethasekhar commented on #14033
Hi Team ,
I get the below errors for stats_services.py file
The error is
Value of type variable "SELF_BASE_MODEL" of "update_timestamps_multi" of "BaseModel" cannot be "Optional[PlaythroughModel]"  [type-var]

Value of type variable "SELF_BASE_MODEL" of "put_multi" of "BaseModel" cannot be "Optional[PlaythroughModel]"  [type-var]
<img width="708" alt="Screen Shot 2022-06-22 at 10 25 08 PM" src="ht

[2022-07-06 01:18] aasiffaizal commented on #14033
@swethasekhar
You might need to overload the function in `PlaythroughModel` for those functions and specify the types of parameter and return type (if applicable).
You can refer to the code base here we have used it.

[2022-07-06 09:17] kevintab95 opened #15685 "Classroom search bar icons are broken"
**Describe the bug**
Classroom search bar icons are broken.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to classroom page.
 2. See error

**Observed behavior**
Classroom search bar icons are broken.

**Expected behavior**
Classroom search bar icons should appear correctly.

**Screenshots / Videos**
If applicable, add screenshots or videos to help explain your problem.
![image](https:

[2022-07-07 01:58] Pankaj-SinghR commented on #15684
@Lawful2002   please assign me this issue

[2022-07-07 11:42] lkbhitesh07 commented on #14738
@kevintab95
I'm so sorry, I somehow missed your comment here. Actually, the PR is waiting for the state schema migration part and Sean mentioned that someone is currently working on the state schema migration, as soon as that will be completed I'll continue my work on this PR.
Thanks

[2022-07-07 16:13] Lawful2002 commented on #15684
@Pankaj-SinghR Done.

[2022-07-07 20:44] aks681 opened #15690 "Remaining RTL issues tracker"
Following are the remaining known issues in the RTL implementation:

- [ ] Occasional race condition when loading pages in Arabic which causes some elements of the page to be RTL aligned but not others. This does **not** occur when switching a page already in LTR to RTL via the navbar.

- [ ] Unable to input anything in the math input fields (for math interactions) when the **OS** language is set

[2022-07-08 08:03] vojtechjelinek commented on #15617
Yeah I think something like a note or a warning (but in a place where the button is not actually clickable).

[2022-07-08 10:17] heyimShivam opened #15692 "Improper vaildation on add-answer-group-modal.component.html forms"
**Describe the bug**

validation on buttons `Save Response` and `Save and Add Another`  in add-answer-group-modal.component.html is not proper
For More Info [PTAL](https://github.com/oppia/oppia/pull/15674#discussion_r916626596)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to  `exploration editor page and make interaction`
 2. Click on And afterwards, directs the learner to... `dropdo

[2022-07-08 15:36] JyotirmoyGupta commented on #13162
@vojtechjelinek @Nik-09 could you please assign me
1.  QuestionSkillLinkHandler
2. TopicPageDataHandler

[2022-07-08 15:47] JyotirmoyGupta commented on #15314
@seanlip @soumyo123-prog Can I work on this issue ?

[2022-07-08 15:48] JyotirmoyGupta commented on #15314
@seanlip can you please assign this issue ?

[2022-07-08 15:50] nithinrdy commented on #15314
Hey @JyotirmoyGupta, I've assigned you, please feel free to get started.

[2022-07-09 07:58] anurag629 commented on #13162
Hey @Nik-09,  I'm not working on NewTopicHandler and NewSkillHandler. Kindly unassign me.

[2022-07-10 05:34] Lawful2002 opened #15696 "It is not possible to submit questions from the Contributor Dashboard"
**Describe the bug**
It is not possible to submit questions from the Contributor Dashboard (console errors are thrown)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Contributor Dashboard
 2. Give yourselves the 'Submit Question' right from the contributor dashboard admin page.
 3. Click on the Submit Question tab on the contributor dashboard
 4. Open the console and try to submi

[2022-07-10 12:16] Darsuu commented on #14033
@vojtechjelinek could you unassign me from my files? Thank you

[2022-07-10 15:06] #14625 closed, assigned to vojtechjelinek

[2022-07-10 15:06] #15152 closed, assigned to vojtechjelinek

[2022-07-10 15:06] #15153 closed, assigned to vojtechjelinek

[2022-07-10 15:06] #15224 closed, assigned to vojtechjelinek

[2022-07-10 15:08] vojtechjelinek commented on #14033
@Darsuu Sorry, this issue is no longer available for new contributors. Please check issues with "Good first issue" label.

[2022-07-11 07:15] sahiljoster32 opened #15702 "Introduce generics to simplfy the usage of `value` property."
The current return value of `ConfigProperty`'s value property is `Any`
https://github.com/oppia/oppia/blob/6493f6b7c8ed159108af963874ac45381cdfdd82/core/domain/config_domain.py#L281

Which creates ambiguity all over the codebase. So, try to use generics ( if possible )

Discussion can be found here https://github.com/oppia/oppia/pull/15663#discussion_r917415389

[2022-07-11 15:48] vojtechjelinek commented on #15662
@sagangwee PTAL

[2022-07-11 16:18] sagangwee commented on #15662
@kevintab95 This looks to be an issue with the copy tool—can the LaCE team take a look?

[2022-07-12 22:54] qinghaoyang commented on #15386
@sagangwee In the opportunity list, the counts of translatable cards also include those showing the “Sorry! Currently, only translation reviewers are allowed to submit translations for rules.” We should cut them from the counts. Is that right?

[2022-07-13 02:35] sagangwee commented on #15386
Which counts are you referring to—the ones related to the progress bars?

[2022-07-13 03:06] qinghaoyang commented on #15386
Yes.

[2022-07-13 06:36] jahd2602 opened #15706 "Unable to submit question suggestion: Server error 500 "Expected state written_translations to match the listed content ids""
**Describe the bug**
When suggestion a new question in localhost (develop branch), clicking the "Submit question" button:
1. Does not actually create the suggestion, and
2. Although internally it is an error 500 from the server, it does not show a error message to the user, which may believe that the suggestion was sent succesfully

**To Reproduce**
Steps to reproduce the behavior:
 1. With [SUBMI

[2022-07-13 06:38] jahd2602 commented on #12310
Blocked by https://github.com/oppia/oppia/issues/15706

[2022-07-13 07:59] jahd2602 commented on #11686
I put together this prototype:
https://user-images.githubusercontent.com/2841740/178681604-62a59900-0c7d-45b7-b3e3-86c932f1fd14.mp4
It is a filter below the "All languages" label. **Will that suffice? Should the filter input auto-focus when the dropdown is opened?**

I am not reproducing this in localhost (develop branch). When I pass the mouse, it shows the pointer cursor as expected. (also visib

[2022-07-13 14:48] sagangwee commented on #15386
No, they should still be included as they still reflect translation cards that need to be translated—they just can only be translated by users with translation review rights (bad translations for rules can block learner progress, so we added this additional restriction).

[2022-07-13 14:59] sagangwee commented on #11905
After closing, it seems translations list resets to the first page.

[2022-07-13 15:11] sagangwee commented on #12957
Closing since content type is surfaced in translation cards as of https://github.com/oppia/oppia/pull/13580.

[2022-07-13 15:11] #12957 closed, assigned to nobody

[2022-07-13 15:28] sagangwee opened #15710 "Re-enable "All Topics" in topic selector after fixing reviewable lessons latency"
In https://github.com/oppia/oppia/pull/15649, we are fetching all reviewable translation suggestions in core/controllers/contributor_dashboard.py to compute the corresponding lessons in which there are translation suggestions. If the user selects All Topics, we saw very high latency on the backup server (~30s). We need to re-design this query to fix the latency, likely by introducing new storage c

[2022-07-13 15:56] jahd2602 commented on #15706
Duplicate of: #15696

[2022-07-13 16:11] sagangwee commented on #11686
I think a design like https://semantic-ui.com/modules/dropdown.html#search-selection is intuitive for the search dropdown

[2022-07-14 00:37] qinghaoyang commented on #15386
That makes sense.

[2022-07-14 13:39] FaazAbidi commented on #15090
Is anyone working on it? If not, I can do it. @U8NWXD

[2022-07-14 20:24] Lawful2002 opened #15719 "Text gets copied many times in the rte-output-display component"
**Describe the bug**
While changing data in the rte-output-display component. Some text seems to get copied over many times.

**To Reproduce**
Steps to reproduce the behavior:
 1. Merge changes from [#15670](https://github.com/oppia/oppia/pull/15670)
 2. Naviagte between suggestions on the CD according to the attatched vids.

**Observed behavior**

https://user-images.githubusercontent.com/7354424

[2022-07-15 02:56] U8NWXD commented on #15090
All yours @FaazAbidi!

[2022-07-15 03:15] gp201 opened #15720 "conversation-skin.component.ts is not completely tested"
## Stacktrace

![image](https://user-images.githubusercontent.com/30050862/179143147-10ea33d8-65c6-47fc-bed1-38e3852e0f5b.png)

## Additional Information

**Seeds:**
1.  467

[2022-07-15 03:18] gp201 opened #15721 "rte-output-display.component.ts is not completely tested"
## Stacktrace

![image](https://user-images.githubusercontent.com/30050862/179143349-10e19f5e-0b79-4498-bf7f-28ffcce1efa1.png)

## Additional Information

**Seeds:**
1.  467

[2022-07-15 11:10] Saurabhbalke commented on #15480
Hi @divyanshkhetan,
I want to work on this issue, please assign me.

[2022-07-15 11:22] ashutoshc8101 commented on #15719
@srijanreddy98 PTAL

[2022-07-15 11:26] divyanshkhetan commented on #15480
@dchen97 Is this layout by design or is this a bug?

[2022-07-15 11:34] divyanshkhetan commented on #15480
@Manan-Rathi Can you please assign him?

[2022-07-15 16:43] JeeveshGarg commented on #13162
@Nik-09 Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

Thanks.

[2022-07-15 16:49] JeeveshGarg commented on #12912
@vojtechjelinek Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 16:54] JeeveshGarg commented on #8015
@kevintab95  @DubeySandeep Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

Thanks.

[2022-07-15 16:59] JeeveshGarg commented on #8016
@mridul-netizen  @ashutoshc8101 Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

Thanks.

[2022-07-15 17:07] JeeveshGarg commented on #8038
@ashutoshc8101 @srijanreddy98  Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 17:09] JeeveshGarg commented on #10700
@mridul-netizen @srijanreddy98  Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 17:10] JeeveshGarg commented on #8668
@nithusha21  @U8NWXD Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 17:12] JeeveshGarg commented on #10616
@vojtechjelinek  Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 17:18] JeeveshGarg commented on #11496
@U8NWXD Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 17:22] JeeveshGarg commented on #7450
@vojtechjelinek  Please update the issue description, unassign contributors from tasks they are no longer working on, and remove completed tasks. Add additional task if any arise.

Cross check whether the GSoC project clashes with this issue. If so, let @JeeveshGarg know. in order to prevent problems for new contributors. If not, simply respond to this.

Thanks.

[2022-07-15 19:21] gp201 opened #15728 "Exploration editor page component when user permission is true and draft changes not valid should load change list by draft changes successfully FAILED"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  294

## Complete Log

[13_frontend (ubuntu-18.04, 13).txt](https://github.com/oppia/oppia/files/9123477/13_frontend.ubuntu-18.04.13.txt)

## Debug Doc

[2022-07-15 19:25] gp201 opened #15729 "Exploration editor page component when user permission is false and draft changes are true should react to initExplorationPage broadcasts FAILED"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  294

## Complete Log

[13_frontend (ubuntu-18.04, 13).txt](https://github.com/oppia/oppia/files/9123479/13_frontend.ubuntu-18.04.13.txt)

## Debug Doc

[2022-07-15 19:53] kevintab95 opened #15730 "Category and Language buttons on the classroom page are incorrectly placed"
**Describe the bug**
Category and Language buttons on the classroom page are incorrectly placed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `/learn/math` on a mobile device.
 2. See error.

**Observed behavior**
Category and Language buttons on the classroom page are incorrectly placed.

**Expected behavior**
Category and Language buttons should appear below the search bar.

**Sc

[2022-07-15 21:10] vojtechjelinek commented on #10616
@JeeveshGarg Done.

[2022-07-15 21:13] vojtechjelinek commented on #12912
@JeeveshGarg Done.

[2022-07-15 21:14] vojtechjelinek commented on #7450
@JeeveshGarg Hey, can someone from the dev experience or automated QA overtake this? I no longer focus on this area.

[2022-07-16 02:08] JeeveshGarg commented on #7450
@oppia/automated-qa-reviewers @U8NWXD @krishnarao22 ?

[2022-07-16 06:55] gp201 commented on #15720
This must have originated from a previous flake introduced by #15482
seed: 755
[code]

[2022-07-16 13:08] MNSDivya opened #15735 "Switching languages is not working appropriately while playing exploration(CUJ 1.16) on web and mobile"
**Describe the bug**
Switching languages is not working appropriately while playing exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https:www.oppiatestserver.org
 2. navigate to https://www.oppiatestserver.org/explore/TxXkaKDiMCvF
 3. By default, language is english. Select an option using radio button which redirects to next screen
 4. Now switch to spanish language which

[2022-07-16 13:22] nithinrdy opened #15737 "Using the copy tool while translating content causes console errors"
**Describe the bug**
Using the copy tool to copy over images while submitting translations on the contributor dashboard causes the following console errors:
![image](https://user-images.githubusercontent.com/78612244/179356374-2da5c744-b7ec-49e7-9fcf-a7715d7f7de1.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the [contributor dashboard](https://www.oppiatestserver.org/contributo

[2022-07-16 13:22] MNSDivya opened #15738 "Unable to add an exploration to their “play later” list from the library on mobile"
**Describe the bug**
Unable to add an exploration to their “play later” list from the library

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https:www.oppiatestserver.org
 2. Navigate to Community library
 3. Select and hover on exploration to see clock icon on right hand top most corner
 4. Add to play later list on web browser

**Observed behavior**
No option to add it to paly late

[2022-07-16 13:33] MNSDivya opened #15739 "user unable to subscribe to a profile through mobile"
**Describe the bug**
user unable to  subscribe to a profile through mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https:www.oppiatestserver.org
 2. Navigate to Community library and start playing an exploration
 3. On LHS bottom most corner, click on lesson info
 4. A pop up opens with lesson authors

**Observed behavior**
Observed that unable to view profile and subscribe. A

[2022-07-16 13:53] MNSDivya opened #15740 "[A11y] lesson info is not actionable while clicking Enter/space key"
**Describe the bug**
Accessibility issue:  lesson info is not actionable while clicking Enter/space key

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https:www.oppiatestserver.org
 2. Navigate to Community library and start playing an exploration
 3. Enable chromeVox by Ctrl+Alt+Z on chrome browser
 4. Try navigating to Lesson info on top

**Observed behavior**
Lesson info (i icon )

[2022-07-16 18:22] Lawful2002 opened #15743 "UI issues with the search bar on the Math classroom page"
**Describe the bug**
1. Icons on the search bar are not loading
2. The search bar wraps onto different lines on resizing the window
3. The 'All categories' and 'All languages' buttons are not center-aligned on screen widths < 768px

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Math classroom page](https://www.oppiatestserver.org/learn/math)
 2. Scroll down to the search bar at the

[2022-07-16 18:30] Lawful2002 opened #15744 "Padding of the 'Lesson' card on the Math classroom and the 'Next Lesson' button in the story player is off."
**Describe the bug**
1. Padding of the 'Lesson' card on the Math classroom is off.
2. Padding of the 'Next Lesson' button is off in the story player.

**To Reproduce**
Steps to reproduce the behavior:
 a. Go the [math classroom page](https://www.oppiatestserver.org/learn/math).
 b. Resize the window to see the error.

 1. Go to [oppiatestserver](https://www.oppiatestserver.org/learn/math/place-val

[2022-07-16 18:35] Lawful2002 opened #15745 "The content box is too thin in the Review/Revision tab of a lesson."
**Describe the bug**
The content box is too thin in the Review/Revision tab of a lesson.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open a skill in the revision tab of a lesson ([link](https://www.oppiatestserver.org/learn/math/fractions/revision/what-is-fraction))
 2. Switch to a mobile viewport using dev tools (or open the link on mobile)
 3. See issue

**Observed behavior**
The cont

[2022-07-16 18:38] heyimShivam opened #15746 "user not able to review translations in contributor-dashboard page"
**Describe the bug**
user could not able to review translations in contributor-dashboard page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'contributor-dashboard page'
 2. Click on 'review translations'
 3. See error in console

**Observed behavior**

https://user-images.githubusercontent.com/77006897/179367945-66f562c5-b130-4eb6-9205-234e6fb2ccd3.mp4

**Expected behavior**
should

[2022-07-16 18:42] Lawful2002 opened #15747 "The footer on the exploration player hides content under it."
**Describe the bug**
The footer on the exploration player hides content under it.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a chapter and play it from the classroom page ([link](https://www.oppiatestserver.org/explore/6KcfpK1gibba?story_url_fragment=jill-arcade&topic_url_fragment=place-value&classroom_url_fragment=math&node_id=node_1))
 2. Finish the chapter
 3. Scroll down to t

[2022-07-16 22:08] nithinrdy opened #15749 "Display the topic name on top of the subtopic name on smaller screens"
**Describe the bug**
When viewing subtopics on larger screens, the topic name is displayed on the navbar.
![image](https://user-images.githubusercontent.com/78612244/179373232-fc7dc043-6798-4d3b-ae43-821dc6be77ef.png)

On smaller screens, the topic name is omitted due to space constraints. Therefore, the topic name should instead be displayed above the subtopic name, as per these mocks: https://xd

[2022-07-16 22:11] nithinrdy opened #15750 "Add a primary button next to the story that the user can use to directly get to the lessons."
**Is your feature request related to a problem? Please describe.**
On the topic’s Lessons page, there’s not a clear call to action or next step for users to click on directly.
**Describe the solution you'd like**
Add a primary button next to the story that says something like “Start next lesson” or “Story Details” so that the user can tell directly where and how they’re supposed to get to the less

[2022-07-17 00:47] nithinrdy opened #15751 "Highlighting a region on an image while suggesting a question of type 'Image region' on the contributor-dashboard causes console errors"
**Describe the bug**
While suggesting a question of type 'Image region' on the contributor-dashboard, highlighting a region on an image, and then saving the response causes the following console error:
![Screenshot from 2022-07-17 05-10-29](https://user-images.githubusercontent.com/78612244/179379376-f0325b09-fec1-43ce-a47e-d028f9d95234.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. G

[2022-07-17 01:34] nithinrdy opened #15752 "Adding a response while suggesting a question of type 'number input'/'fraction input' on the contributor-dashboard causes console errors"
**Describe the bug**
While suggesting a question of type 'number input'/'fraction input' on the contributor-dashboard, adding a response and saving it causes the following console error:
![Screenshot from 2022-07-17 05-21-45](https://user-images.githubusercontent.com/78612244/179380203-c28b4d5f-c58a-498a-9cde-795b083acd05.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the submit

[2022-07-17 04:47] EricZLou opened #15753 "Some frontend validation checks for explorations are missing"
**As part of the Android validation project, we created [this spreadsheet](https://docs.google.com/spreadsheets/u/2/d/1kNLF-UkS_Qk0igNCGwLjJXM0ByHalqli41GPvWF43PE/edit) which tracks all frontend and backend validations for all of our Oppia datastore models. For exploration models, some of the frontend validation checks are still not present in the codebase yet. This issue tracks all of the missing

[2022-07-17 06:33] divyanshkhetan commented on #14815
@yogitasaini @nithinrdy this issue is not reproduceable on my local system. Can you confirm if the bug still exists?

[2022-07-17 08:31] #15728 closed, assigned to nobody

[2022-07-17 13:01] heyimShivam commented on #15720
#15734 this pr fixes this issue.

[2022-07-17 13:01] #15720 closed, assigned to nobody

[2022-07-17 13:01] heyimShivam commented on #15729
#15734 this pr fixes this issue.

[2022-07-17 13:01] #15729 closed, assigned to nobody

[2022-07-17 15:19] Lawful2002 opened #15755 "It is possible to select multiple options in MCQ interaction."
**Describe the bug**
On some instances of the MCQ interaction, multiple options are 'selectable' on mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Fractions practice questions on mobile (or use mobile mode on debug tools)
 2. Play through the practice questions.
 3. If the question as a MCQ interaction, try to select more than one option.
 4. See error (on some questions)

**O

[2022-07-17 15:31] Lawful2002 opened #15756 "UI issues on the community library page."
**Describe the bug**
Some aspects of the UI are broken on the community library page.
1. The navbar extends beyond the screen causing the entire page to look offset. (on mobile)
2. The Categories and the Language buttons are not centered w.r.t the page. (on mobile)
3. The carousel buttons are not aligned properly when the page first loads, this issue resolved itself when the page is resized (on de

[2022-07-17 16:04] Lawful2002 opened #15757 "Issues with some interactions"
**Describe the bug**
1. **[Fixed]** The image region selection interaction is not selecting the 'proper' region when we hover over it on some screen sizes.
2. **[Fixed]** In the shape creation interaction, the options (add edge, delete etc.) are overlapping the actual region for creating the shapes, making it difficult to use. Also on mobile devices the header hides the interaction area.
3. Consol

[2022-07-17 16:06] #15721 closed, assigned to nobody

[2022-07-17 20:27] pallavimantri opened #15759 "An error occurred when trying to add the interaction for the end exploration"
**Describe the bug**
An error occurred when trying to add the interaction for the end exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/creator-dashboard'
 2. Click on 'Create Exploration'
 3. Scroll down to 'Add interaction'
 4. Now choose the 'End exploration' tab
 5. Save the interaction
 6. Now error checking pop-up comes

**Observed beha

[2022-07-17 20:42] pallavimantri opened #15760 "Console errors :- "resource preloaded but not used" warning in Chrome"
**Describe the bug**
The resource https://www.oppiatestserver.org/extensions/interactions/RatioExpressionInput/static/RatioExpressionInput.png was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it wasn't preloaded for nothing.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/creator-dashboar

[2022-07-18 05:35] kevintab95 opened #15761 "Image editor improvements"
These are some improvements to the image editor:

1. Add a delete button for uploaded SVG images: When an SVG image is clicked on in the RTE editor, it opens up a modal that only allows editing the image. It should be possible to delete the image and upload another in this screen. A button to delete the image would be good. Editing images of other formats have this already.
2. Clicking on an exist

[2022-07-18 15:13] divyanshkhetan commented on #14815
@nithinrdy No issues, I'll lookout for another issue. Thanks for checking out if the issue still existed!

[2022-07-19 05:23] kevintab95 opened #15763 "Merging a skill to itself causes an error that is not surfaced to users"
**Describe the bug**
Merging a skill to itself causes an error that is not surfaced to users.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /topics-and-skills-dashboard.
 2. Go to skills tab.
 3. Merge a skill to itself.
 4. See error.

**Observed behavior**
Merging a skill to itself causes an error that is not surfaced to users.

**Expected behavior**
It should not be possible to m

[2022-07-19 05:32] mjsumpter commented on #12912
Hi @vojtechjelinek , looking for work!

[2022-07-19 05:59] kevintab95 commented on #15756
Noting that (2) is a duplicate of https://github.com/oppia/oppia/issues/15730

[2022-07-19 06:01] kevintab95 commented on #15743
Note that (1) is a duplicate of https://github.com/oppia/oppia/issues/15685.

[2022-07-19 06:02] kevintab95 commented on #15738
@aks681 @krishita30j could you please take a look at this? Thanks!

[2022-07-19 06:03] #15480 closed, assigned to Saurabhbalke

[2022-07-19 06:07] kevintab95 commented on #15739
Hi @MNSDivya, are you able to subcribe to authors via the `/profile/<authon-name>` page?

[2022-07-19 06:14] kevintab95 commented on #15735
Hi @MNSDivya, could you please upload the screenshot / video directly to Github? I'm unable to view it because I do not have access to the website where it is currently uploaded.

[2022-07-19 06:16] kevintab95 commented on #15735
https://user-images.githubusercontent.com/11008603/179678809-8ac2a726-1b20-4eec-8a30-db4f24ae899f.mp4

It seems to be switching languages (without refresh) when I try, am I missing some steps?

[2022-07-19 06:19] kevintab95 commented on #15760
/cc @vojtechjelinek added this to Speed Improvements project, please reassign if you think there has been a mistake.

[2022-07-19 06:26] kevintab95 commented on #15746
@sagangwee could you take a look at this? It seems odd that the "All" filter is selected, I thought we removed it (it doesn't show for me.)

[2022-07-19 06:29] kevintab95 commented on #15759
Hi @pallavimantri, can you confirm if the steps provided are correct? I was unable to reproduce this on a new exploration that contains just an End interaction state.

[2022-07-19 06:30] MNSDivya commented on #15739
If I manually append the URL, able to subscribe to the profile in mobile

@kevintab95 Thanks

[2022-07-19 06:32] kevintab95 commented on #15744
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:32] kevintab95 commented on #15747
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:32] kevintab95 commented on #15745
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:32] kevintab95 commented on #15755
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:33] kevintab95 commented on #15756
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:33] kevintab95 commented on #15757
Hi @Lawful2002, would you be able to look into this?

[2022-07-19 06:43] jahd2602 commented on #11686
Thanks for the suggestion @sagangwee! I also agree that style is better.

Also, I could add the auto-focus, this is how it looks in action:
https://user-images.githubusercontent.com/2841740/179683326-1983bfa6-dd17-4d97-a765-12fab69b7249.mp4

I will prepare the PR but any feedback is welcome.

[2022-07-19 06:49] MNSDivya commented on #15735
@kevintab95 I mentioned detailed steps. Please take a look

[2022-07-19 06:50] seanlip commented on #11686
Just a note, I think we use select2 in the codebase for other things like this (e.g. in the exploration editor for "tags" or "categories"). I agree that having a text entry with filtering is a great idea.

[2022-07-19 09:03] vojtechjelinek commented on #12912
@mjsumpter I've assigned you `consider-using-dict-items`

[2022-07-19 12:54] nithinrdy opened #15765 "Moving components currently located in the exploration-player-page directory, that are used in multiple pages, into the core/templates/components directory"
**Context**
Several components present in the exploration-player-page directory (and its sub-directories -- for example the learner-experience sub-directory) are used extensively throughout many of Oppia's pages, and are not limited to the exploration-player-page. Therefore, it doesn't make much sense to have them there (in fact these components are already registered in the SharedComponentsModule

[2022-07-19 14:55] sagangwee commented on #15746
Yeah that is strange. Unable to repro on my side either. Does the test server have https://github.com/oppia/oppia/pull/15649 deployed?

[2022-07-20 16:33] divyanshkhetan commented on #15743
@aks681 @vojtechjelinek I suspect that the icon error is due to `htmlWebpackPlugin.options.lightweight` being true for `/learn/math` page. How can I change it to false?

[2022-07-20 18:28] mjsumpter commented on #15749
Hi, I'm happy to work on this - please assign?

[2022-07-20 18:31] ShivamJhaa commented on #15749
@mjsumpter Done.
Thanks!

[2022-07-21 04:56] pallavimantri commented on #15759
Hi @kevintab95 This error generates when you try to edit the old one not with the new interactions.

[2022-07-21 09:02] vojtechjelinek commented on #15743
@divyanshkhetan The correct solution for this is to replace the icons that are not working with Font Awesome icons.

[2022-07-21 10:30] vojtechjelinek commented on #15743
@divyanshkhetan Would you be able to look into this issue? But it needs to be fixed quite quickly as it is required for release completion.

[2022-07-21 10:31] vojtechjelinek commented on #15743
Also you can probably take up #15756 together with this.

[2022-07-21 10:36] divyanshkhetan commented on #15743
@vojtechjelinek Yes, I'll fix this issue ASAP.

[2022-07-21 11:39] divyanshkhetan commented on #15743
@vojtechjelinek I am getting this error when I'm trying to push the changes:
![image](https://user-images.githubusercontent.com/68158825/180204836-52c9078e-f978-4be0-8923-91dd167911a6.png)

[2022-07-21 11:48] vojtechjelinek commented on #15743
@divyanshkhetan Weird not sure what is going on. @IamEzio Any idea? cc @U8NWXD

Meanwhile can you try `python -m scripts.clean`, then `python -m scripts.start`, also make sure that you pulled the lates changes from develop.

[2022-07-21 12:10] divyanshkhetan commented on #15743
@vojtechjelinek still getting the same error

[2022-07-21 12:16] Lawful2002 commented on #15747
Hi @kevintab95 This issue is not reproducible on develop
![image](https://user-images.githubusercontent.com/73544247/180211503-c34f2adf-f134-40fa-b98c-bafd7b99456b.png)

[2022-07-21 12:28] Lawful2002 commented on #15747
Also this console error arises on develop:
![image](https://user-images.githubusercontent.com/73544247/180213207-d5beae37-00ff-4cc3-9a66-e1aa71ac06e0.png)
 This is because the language 'Akan' (code: ak) is not listed in the SUPPORTED_CONTENT_LANGUAGES in the constants file (I'm not sure why). So, should I add the language to file?

[2022-07-21 14:01] vojtechjelinek commented on #15743
Then we need to wait for @IamEzio and @U8NWXD

[2022-07-21 14:24] juliafalarini opened #15772 "Issue with the image editor when translating a lesson"
**Describe the bug**
When translating a lesson and using the copy tool for an image, when you open the image editor to translate the image text, the image is cut, and when you translate the text to Portuguese, it doesn't show the accents of the words.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Contributor Dashboard'
 2. Click on 'Translate to Portuguese' and select 'Expressions

[2022-07-21 14:39] Lawful2002 commented on #15756
@divyanshkhetan are you working on this?

[2022-07-21 14:53] divyanshkhetan commented on #15756
@Lawful2002 no, you can go ahead if you wanna work on this one.

[2022-07-21 16:33] U8NWXD commented on #15743
Thanks for flagging this @divyanshkhetan! This is because of a bug in [`scripts/check_backend_associated_test_file.py`](https://github.com/oppia/oppia/blob/develop/scripts/check_backend_associated_test_file.py). @IamEzio is working on a fix right now

[2022-07-22 05:48] IamEzio commented on #15743
Hi @divyanshkhetan! The bug fix PR is merged. Could you please pull the latest changes from the develop and see if it solves the problem?

[2022-07-22 08:09] divyanshkhetan commented on #15743
@IamEzio @U8NWXD That fixed the issue. Thanks for the quick fix!

[2022-07-22 16:41] sahiljoster32 opened #15779 "Wrong commit message recorded while editing the role for exploration."
**Describe the bug**
Currently, when we edit roles for explorations or collections the commit message is recorded wrongly on the server. Basically, instead of user_id, `ANONYMOUS` text is saved while generating the commit_mssg.
An example:
~ currently recorded commit_message: `Remove ANONYMOUS from role voice artist for exploration.`
~ expected recorded commit_message: `Remove <<user_id of removed

[2022-07-22 18:30] Lawful2002 commented on #15747
@kevintab95 PTAL.

[2022-07-22 18:32] kevintab95 commented on #15747
Hi @Lawful2002, based on the image in the issue description, it looks like this happened to a logged out user playing through a chapter. Have you tested that?

[2022-07-22 18:36] Lawful2002 commented on #15747
@kevintab95  Yup, it seems like it doesn't occur in that case as well
![image](https://user-images.githubusercontent.com/73544247/180502520-eaa0d90a-99c7-489b-a508-d6591946e1b5.png)

[2022-07-22 18:38] kevintab95 commented on #15747
Ah, I see. In that case, it looks like the issue was fixed post the release cut. Can we figure out which PR fixed this? We can then cherrypick that into the release.

[2022-07-22 18:49] Lawful2002 commented on #15747
@kevintab95 I think this might be the PR: [#15611](https://github.com/oppia/oppia/pull/15611)

[2022-07-22 20:44] kevintab95 commented on #15747
Thanks @Lawful2002! I've added the "PR: for current release" label on the PR.

[2022-07-22 20:44] #15747 closed, assigned to kevintab95, Lawful2002

[2022-07-24 06:06] U8NWXD commented on #7450
@JeeveshGarg I still need to do an audit to update this issue based on the current state of the code base. It'll have to wait until other dev workflow issues like the flakes are under control. I'd recommend removing this as a starter issue for now

[2022-07-24 07:58] divyanshkhetan commented on #15756
@Lawful2002 Can you please reupload the video? The file seems to be corrupt. Thanks!

[2022-07-24 11:27] jigarvyasidea commented on #15749
Hi, I'm happy to  work

[2022-07-24 11:57] jigarvyasidea commented on #15749
please assign

[2022-07-24 11:58] jigarvyasidea commented on #3968
please assign me this issue

[2022-07-24 12:02] nithinrdy commented on #15749
Hi @jigarvyasidea , thanks for your interest in solving this issue!

However, it appears this issue is already assigned to someone.

Please take a look at the rest of the unassigned issues to see what else might interest you. You can use the good first issue label to find beginner friendly ones.

[2022-07-24 22:14] heyimShivam commented on #9163
@U8NWXD Same test case is failing in my PR (flake) https://github.com/oppia/oppia/runs/7490058677?check_suite_focus=true

[2022-07-25 01:14] #14285 closed, assigned to BenHenning

[2022-07-25 02:02] #13357 closed, assigned to U8NWXD

[2022-07-25 03:41] akhilr97 commented on #15102
Can I work on this issue?

[2022-07-25 04:28] heyimShivam opened #15792 "Console error in translations tab in contributor-dashboard page"
**Describe the bug**
Go to the contributor-dashboard page and open any translation.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'contributor-dashboard'
 2. Click on 'translations tab button'
 4. Open translation check error on console.

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what yo

[2022-07-25 06:18] KolliAnitha opened #15793 "When a profile picture of a large size is uploaded the error message is not aligned properly in the upload profile picture dialog box"
**Describe the bug**
When a profile picture of a large size is uploaded the error message is not aligned properly in the upload profile picture dialog box

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Preferences'
 2. Click on 'Profile picture'
 3. Click on Edit- Upload profile picture
 4. Select a file with larger size
 5. See error message

**Observed behavior**
Error message is

[2022-07-25 06:29] kevintab95 opened #15794 "Schema based float editor in the inline Rule Editor view does not populate previous value"
**Describe the bug**
Schema based float editor in the inline Response Editor view does not populate previous value.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with a number input interaction.
 2. Edit the response in the inline rule editor.
 3. Observe that the value does not get populated.

**Observed behavior**
Observe that the value does not get populated.

**E

[2022-07-25 06:31] heyimShivam opened #15795 "console error ExpressionChangedAfterItHasBeenCheckedError ` when user edit review question in contributor-dashboard page`"
**Describe the bug**
console error in ExpressionChangedAfterItHasBeenCheckedError ` when user edit  review question in contributor-dashboard page`

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'contributor-dashboard
 2. Click on 'review question then click on edit question'
 4. See error

**Screenshots / Videos**

https://user-images.githubusercontent.com/77006897/180712498-c6de095e

[2022-07-25 10:53] IamEzio commented on #15102
Go ahead @akhilr97. Assigned you.

[2022-07-25 10:53] IamEzio commented on #15102
Go ahead @akhilr97. Assigned you.

[2022-07-25 13:20] vojtechjelinek commented on #15746
@sagangwee Yes commit [7c9ee49](https://github.com/oppia/oppia/commit/7c9ee495ecf6d1421876b98af115375d3f8e6e42) is included in the release branch.

[2022-07-25 13:22] vojtechjelinek commented on #15751
@kevintab95 Any update on this?

[2022-07-25 13:23] vojtechjelinek commented on #15752
@kevintab95 Any update on this?

[2022-07-25 13:23] vojtechjelinek commented on #15740
@kevintab95 Any update on this?

[2022-07-25 13:26] vojtechjelinek commented on #15739
@kevintab95 Any update here?

[2022-07-25 13:28] vojtechjelinek commented on #15757
@SanjaySajuJacob Any update on this issue?

[2022-07-25 13:28] vojtechjelinek commented on #15755
@SanjaySajuJacob Any update on this issue?

[2022-07-25 14:11] Lawful2002 commented on #15756
@divyanshkhetan I am able to see the vid. I have have uploaded another video as well. See if it works (if not I'll send it to you via email)

[2022-07-25 16:52] SanjaySajuJacob commented on #15755
@vojtechjelinek, I am working on this one still. @Lawful2002 had informed me that issues #15755 and #15757 are to be completed before next release. So with respect to that would you please tell me an approximate deadline, just to see if I will be able to meet it.

[2022-07-25 17:50] vojtechjelinek commented on #15755
@SanjaySajuJacob Basically ASAP, preferably tomorrow or on Wednesday PR should be created. Feel free to take up just one of these if you think you will only be able to handle one.

[2022-07-25 20:33] kevintab95 commented on #15752
This should be fixed by https://github.com/oppia/oppia/pull/15674.

[2022-07-25 20:33] kevintab95 commented on #15751
This should be fixed by https://github.com/oppia/oppia/pull/15674.

[2022-07-25 20:48] kevintab95 commented on #15739
Raised PR https://github.com/oppia/oppia/pull/15798

[2022-07-25 21:34] SanjaySajuJacob commented on #15755
Oh I see, in that case I will focus on this issue first and un-assign from the https://github.com/oppia/oppia/issues/15757 for now.

[2022-07-26 02:40] #15745 closed, assigned to Lawful2002

[2022-07-26 02:40] #15744 closed, assigned to Lawful2002

[2022-07-26 08:49] kevintab95 commented on #15195
The directive in the log has been migrated and the error hasn't been recorded since. Closing for now.

[2022-07-26 08:51] kevintab95 commented on #15196
Next step is to log the actual graph data and the exploration ID so we can investigate why the backtrack method fails.

[2022-07-26 14:38] jrvald commented on #12912
@vojtechjelinek can you assign me arg-name-for-non-keyword-arg.

[2022-07-26 16:05] nithinrdy commented on #14419
(De-assigning inactive contributors as per discussion with @JeeveshGarg)

Hello @Rostkowski, @aks14075032, @HaveACookie and @arjunjaitly -- I'm de-assigning you from the classes that you were assigned to in this issue due to inactivity. Feel free to let me know if you are still working on them, and I'll be happy to reassign you. Thanks!

[2022-07-26 16:49] #15739 closed, assigned to kevintab95

[2022-07-26 17:35] vojtechjelinek commented on #12912
@jrvald That one might be a bit complicated, I recommend picking one from the first list.

[2022-07-26 17:38] #15752 closed, assigned to kevintab95

[2022-07-26 17:38] #15751 closed, assigned to kevintab95

[2022-07-26 18:27] jrvald commented on #12912
@vojtechjelinek I will take super-with-arguments

[2022-07-26 18:32] kevintab95 commented on #15740
With Vojta's help, we found that this seems to work as expected with a [Screen reader plugin](https://chrome.google.com/webstore/detail/screen-reader/kgejglhpjiefppelpmljglcjbhoiplfn/related).

https://user-images.githubusercontent.com/11008603/181084575-1ce0efae-c48c-44b2-82bf-dca34fd7be4b.mp4

[2022-07-26 18:47] kevintab95 commented on #15195
This still occurs:

[code]

[2022-07-26 18:50] kevintab95 commented on #15203
It looks like BaseHandler may not have been initialized, but I can't think of a case where that could happen but the request still gets forwarded to the relevant handler. @vojtechjelinek do you have any ideas / suggestions on how to debug this?

[2022-07-26 18:53] kevintab95 commented on #15201
It looks like there may be change objects on the server that may not be adhering to the latest schema. Next step would be to write a job to verify that existing suggestion models adhere to the schema and report anomalies.

[2022-07-26 19:00] jrvald commented on #14419
@nithinrdy Could you assign me to the following 3

CATEGORY
app_feedback_report_constants.py
 ENTRY_POINT app_feedback_report_constants.py STATS_PARAMETER_NAMES app_feedback_report_constants.py

[2022-07-26 19:01] nithinrdy commented on #14419
@jrvald Done.

[2022-07-26 19:11] vojtechjelinek commented on #15757
@Lawful2002 I'm not able to replicate the third screenshot and also I don't see a screenshot for "The end card has weird UI"

[2022-07-26 19:13] kevintab95 commented on #15201
Maybe we should consider running `AuditAllStorageModelsJob` to find similar issues in other models too.

[2022-07-26 19:14] kevintab95 commented on #15200
Seems to indicate an invalid schema for some state objects, maybe we should consider running `AuditAllStorageModelsJob` to find similar issues in other models too and fix them.

[2022-07-26 19:18] kevintab95 commented on #15198
Log the changelist along with the exp id so we can investigate further on what actions resulted in a duplicate content id to be stored. Might indicate a gap in validation.

[2022-07-26 20:05] AlinePoyaresPires opened #15802 "Problem when translating the image within the lessons"
**Describe the bug**
When translating the lessons and using the copy tools with the images, after openning the image editor to translate the text within, the image is incomplete or just scrambled (sometimes there is nothing). Also, while translatinf the text to Portuguese, it doesn't show the accents of the words.
This happens in every lesson with an image.

**To Reproduce**
Steps to reproduce the

[2022-07-26 20:34] vojtechjelinek commented on #12912
@jrvald Done!

[2022-07-26 21:13] vojtechjelinek commented on #15757
Moving this to hotlist as all of these also occur on Oppia.org, but I will still be fixing some of these.

[2022-07-26 21:25] sagangwee commented on #15706
@jahd2602  Is this still causing issues?

[2022-07-26 22:11] #15685 closed, assigned to nobody

[2022-07-26 22:11] #15743 closed, assigned to divyanshkhetan

[2022-07-26 22:17] kevintab95 commented on #15746
Could it be that the setting/filter is cached?

[2022-07-27 00:14] seanlip commented on #14974
Fixed by https://github.com/oppia/oppia/pull/15766

[2022-07-27 00:14] #14974 closed, assigned to akhilr97

[2022-07-27 06:54] jahd2602 commented on #15706
It is fixed now in develop, thanks!

[2022-07-27 06:54] #15706 closed, assigned to jahd2602, sagangwee

[2022-07-27 06:55] jahd2602 commented on #12310
Now unblocked as https://github.com/oppia/oppia/issues/15706 was closed

[2022-07-27 14:21] SanjaySajuJacob commented on #15755
@Lawful2002 @vojtechjelinek As I understand it, this issue occurs when the item selection interaction is used like multiple choice interaction (i.e. when item selection interaction has only 1 correct answer).

On PC, the multiple choice and item selection with one answer work like multiple choice, only 1 choice can be selected at a time.

But in mobile, only 1 choice can be selected in multiple ch

[2022-07-27 16:04] sagangwee commented on #15746
Ah, I see the issue. Yeah the last user setting is stored in local storage in core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts.

[2022-07-27 16:09] MNSDivya commented on #15740
@kevintab95 Sorry for the delay in responding.
Defect is specifically raised for Lesson info on top navigation bar rather than the one at the bottom.
FYI

Also, as requested tried reproducing this defect in PROD (oppia.org). Seems an issue in PROD too. Lesson info icon on top navigation bar is only clickable via Search+Space. Not clickable via Enter key or space key.

[2022-07-27 16:54] vojtechjelinek commented on #15755
Hmm, I'm not 100 % sure. But I think the behaviour should be consistent between PC and mobile. Also, the issue is that circles are used for marking the answer which usually means only one thing can be selected. @kevintab95 What is you opinion?

[2022-07-27 16:57] vojtechjelinek commented on #15746
Is there a way how to solve this? Or do we even need to solve this?

[2022-07-27 19:07] SanjaySajuJacob commented on #15755
Also, I do not understand, I think this is an error, is it not possible to make an item selection interaction which requires users to strictly provide all correct options?
![image](https://user-images.githubusercontent.com/70763993/181351725-5b0aaef9-6a88-4e26-bc86-d4d7beac0640.png)
Doing this gives an error telling the creator to select only 1 answer choice.

And this error doesnt seem to occur f

[2022-07-27 19:11] SanjaySajuJacob commented on #15755
I think a solution to this would be to allow item selection to remain as such i.e. allow users to select multiple answers for any number of correct options and make it check boxes for all types of answers (instead of radio boxes) and also always have the submit button. All this in both mobile and PC. Would this be right?

[2022-07-28 00:02] karenbanci commented on #15157
Hi, this is my first time here and I'd like to help for this case

[2022-07-28 00:29] jrvald commented on #12912
@vojtechjelinek for super() do I also have to remove "self"?

[2022-07-28 03:45] Pankaj-SinghR commented on #15749
Hey, you still working on this issue or need any help?

[2022-07-28 03:47] mjsumpter commented on #15749
@Pankaj-SinghR I am still working this - just getting started really. No help needed at this time, but I will reach out if that changes.

[2022-07-28 03:58] Pankaj-SinghR commented on #15794
Hey, @kevintab95  would you please assign me this issue

[2022-07-28 04:00] Pankaj-SinghR commented on #15802
hey, @Lawful2002 would you please assign me this issue

[2022-07-28 11:25] vojtechjelinek commented on #12912
@jrvald From where?

[2022-07-28 13:17] jrvald commented on #12912
@vojtechjelinek usually we have the following, super( ClassName, self). When the script is done running it outputs an error message saying to remove the arguments from the super() call. Does this mean removing the class name as well as the 'self' or just the class? Away from my computer right now so I can't provide an exact file path.

[2022-07-28 14:37] vojtechjelinek commented on #12912
@jrvald both

[2022-07-28 15:27] vojtechjelinek commented on #15203
Hmm, sorry no idea why this might be happening, is this occurring on latest deployed version?

[2022-07-28 16:44] Saurabhbalke commented on #15654
Hi @ShivamJhaa, I want to work on this issue, please assign me.

[2022-07-28 17:24] ShivamJhaa commented on #15654
@Saurabhbalke Done.

[2022-07-28 21:26] kevintab95 commented on #15203
It hasn't happened on the latest version yet. Do you think adding any logging or similar would help in case this error pops up again in the future? If so, any suggestions on what information would be relevant to log.

[2022-07-28 21:38] kevintab95 commented on #15755
I agree with @vojtechjelinek that we should keep the behaviour consistent across the two platforms. That said, I think it is fine to keep the submit button on mobile but not on PC -- it reduces an extra click, the reason we have it on mobile is to prevent accidental selection when scrolling on small screens. @SanjaySajuJacob have you dug into why the radio buttons allow multiple selection? It seem

[2022-07-28 21:48] kevintab95 commented on #15755
As @SanjaySajuJacob pointed out, this issue is related to the Item Selection interaction (which can allow the user to select multiple options, if configured so) and not MCQ interaction (which only allows a single answer). Considering that and the fact that this issue exists on oppia.org and does not actually block / hinder user interaction, I'm moving this to the backlog for the LaCE quality team.

[2022-07-28 22:02] kevintab95 commented on #15756
Hi @divyanshkhetan / @Lawful2002 any updates on this issue?

[2022-07-28 22:05] kevintab95 commented on #15746
@sagangwee I think we should try to fix this. If a filter is not recognised, it might be better to set a default one rather than have the page break. In the future, we may change the name of the topic or unpublish something and that could cause errors for users that have the old topic name.

[2022-07-28 22:10] kevintab95 commented on #15746
We should probably add a unit test for this as well. As a general principle, we should be santizing / validating client input (even if it is a local storage value that was previously set by the app) before processing it.

[2022-07-28 23:40] karenbanci commented on #11206
Hi, Can I help you on this task?

- [ ] Skill names should not be bold. Use a regular size font. Also spacing between each subtopic name is too small.
- [ ]  The navbar for Lesson Player should not have a heading that is formatted as such.

Are you finished or not? If not, I'd like to help =)

[2022-07-28 23:45] karenbanci commented on #15730
Hi @kevintab95, can you assign this issue for me?

[2022-07-29 00:07] kevintab95 commented on #15730
Done, @karenbanci!

[2022-07-29 00:10] kevintab95 commented on #15740
Ah, I see. Thanks @MNSDivya, in that case this is not a regression in the current release, so I've removed it from the relevant milestone. Also noting that we're actually merging the lesson info in the top nav bar with that in the bottom in https://github.com/oppia/oppia/pull/15781. So this can be closed once the PR is merged.

[2022-07-29 00:36] kevintab95 commented on #15794
Hi @Pankaj-SinghR, sure but before I do that, could you describe the solution you have in mind? Feel free to debug this on your machine and report your findings here. Thanks!

[2022-07-29 02:31] karenbanci commented on #15730
@kevintab95 I opened it through [Localhost ](http://localhost:8181/learn/math) and this issue was resolved, someone have done this, maybe not updated on https://www.oppia.org/learn/math

<img width="841" alt="Screen Shot 2022-07-28 at 7 29 09 PM" src="https://user-images.githubusercontent.com/88203154/181670517-abd9c1ce-75c3-4ab5-bd34-7b6fd18556c5.png">

[2022-07-29 03:17] karenbanci commented on #14815
Hi @vojtechjelinek  @nithinrdy ,

I'm looking to make my first contributions and would like to know if this issue has been resolved

[2022-07-29 07:02] heyimShivam opened #15813 "E2E Flake in Develop"
**Describe the bug**
`E2E flake in last 7 merged` [commits in develop](https://github.com/oppia/oppia/commits/develop)

1.  Failed: undefined
 - [Full exploration editor should navigate multiple states correctly, with parameters](https://github.com/oppia/oppia/runs/7572278238?check_suite_focus=true)
- [Full exploration editor should prevent going back when help card is shown](https://github.com/op

[2022-07-29 07:07] heyimShivam commented on #15813
@seanlip @U8NWXD PTAL (i think there are more apart from them)

[2022-07-29 07:18] seanlip commented on #15813
Hi @heyimShivam, thanks for compiling these!

To give you an update, @U8NWXD and I have been working this week on fixing flakes. We are aware of four specific ones remaining:

- "Cannot read properties of undefined (reading 'getDirection')" -- see debugging doc here https://docs.google.com/document/d/1AwlIOxisTS47Kf-4ROg5GAQG8eexWsbFROYG92IQNCE/edit# /cc @Rijuta-s
- "Failed to fetch" -- this shows

[2022-07-29 07:21] seanlip commented on #15813
P.S. I think we have fixed the following (recently):
- https://github.com/oppia/oppia/pull/15806 (stateContentEditor taking too long to appear to set content)
- https://github.com/oppia/oppia/pull/15789 (Expected '' to match 'Your report has been forwarded to the moderators for review.')
- https://github.com/oppia/oppia/pull/15788 ('ExplorationTitleInput is not visible')

If you see any of these r

[2022-07-29 07:28] heyimShivam commented on #15813
I think i have not mentioned this 3 flake in the list

[2022-07-29 07:30] seanlip commented on #15813
Yup, I meant in the future.

[2022-07-29 07:54] heyimShivam commented on #15813
@seanlip PTAL, I have tried to group the flakes now for ease.

[2022-07-29 08:01] seanlip commented on #15813
Thanks so much @heyimShivam, this is really helpful! I took a quick look.

For 5), isn't that a "Unhandled promise rejection: RequestError: read ECONNRESET" flake? In general always look at the first thing that occurs -- if an earlier test fails then later ones may fail with stuff like "Login page did not load" but that is not the "real" flake.

The one that we haven't seen before is 1). It seems

[2022-07-29 08:03] kevintab95 commented on #15730
Hm, interesting, I wonder if this happens when there are topics available in the classroom page. Have you tried that?

[2022-07-29 09:50] nithinrdy commented on #14815
@karenbanci this issue is unresolved. I've assigned you; feel free to begin working on it.

[2022-07-29 10:59] vojtechjelinek commented on #11206
@Rijuta-s Can you help here?

[2022-07-29 13:36] divyanshkhetan commented on #15756
@kevintab95 the issue is not reproducible on localhost.

[2022-07-29 14:30] vojtechjelinek commented on #15203
@kevintab95 I mean checking other possible params that are set by the base handler would be useful so that we know if there is actually anything set or not.

[2022-07-29 16:55] FaazAbidi commented on #15090
Hello @U8NWXD, I am unable to register my IndentationChecker class. Whenever I am registering my custom check class in the register function, it is throwing UnboundLocalError on tests run. If I remove `linter.register_checker(IndentationChecker(linter))` from register function, it works fine. Can you guide me on this? I am stuck on this for hours. I closely followed the documentation. It is no hel

[2022-07-29 18:34] kevintab95 commented on #15756
Hi @divyanshkhetan could you share a screenshot of this on the localhost? Also, just to check, was the "Show classroom promos." config property enabled while testing -- if not, could you try enabling this and populating the library page with some dummy explorations.

[2022-07-29 18:40] karenbanci commented on #14815
@nithinrdy Thank you, I am studying solutions about this case and I'll fix.

[2022-07-29 22:49] sagangwee commented on #15746
Yes sorry I meant to fix this by initializing the topic name to the first translatable topic name here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/contributor-dashboard-page.component.ts#L200, but I wasn't able to get to it this week.

[2022-07-30 01:56] U8NWXD commented on #15090
@FaazAbidi can you paste the logs you see from before the `WARNING: FAILED TO RUN...` message? The `AttributeError: 'NoneType' object has no attribute 'group'` error usually arises because the test failed to output a coverage message because of an earlier error. Also, have you merged in the latest `develop`? We recently changed the code throwing `UnboundLocalError` to fix a bug

[2022-07-30 08:05] SanjaySajuJacob commented on #15755
Yes @kevintab95, I am trying to figure out where exactly this is happening. When a single correct answer exists to the item selection, radio boxes are used.

[2022-07-30 08:40] seanlip commented on #15813
Update: The new point (5) should now be fixed in #15818, once it gets merged.

[2022-07-30 08:42] seanlip commented on #15813
Also, for (2), @U8NWXD is separating out the workflows in https://github.com/oppia/oppia/pull/15815/files.

@vojtechjelinek @ashutoshc8101 could you please give an update on (3)?

@ShivamJhaa @SAEb-ai could you please give an update on (4)?

[2022-07-30 08:46] ashutoshc8101 commented on #15813
Two successive CI runs didn't show `fail to fetch` on https://github.com/oppia/oppia/pull/15814. I expected to find a new flake but all were known flakes.

[2022-07-30 08:51] ShivamJhaa commented on #15813
Got 5 successful straight runs of learnerDashboard : https://github.com/ShivamJhaa/oppia/actions/runs/2764628128/attempts/1
Currently I am trying to fix the same flake in other suites.

[2022-07-30 09:13] seanlip commented on #15813
Thanks @ashutoshc8101 and @ShivamJhaa!

Also, just a note: my PR for (5) only fixes the blog editor page. It seems that this error occurs in a different page as well: https://github.com/oppia/oppia/runs/7590179887?check_suite_focus=true#step:12:543 . @Rijuta-s is kindly looking into fixing that one (it is probably due to a similar cause).

[2022-07-30 15:16] Pankaj-SinghR commented on #15314
Hey @nithinrdy i would like to work on this issue would you please assign me

[2022-07-30 15:31] nithinrdy commented on #15314
Hi @Pankaj-SinghR, it appears the issue is already assigned to someone, could you please pick up a different issue?

[2022-07-30 15:31] nithinrdy commented on #15314
@JyotirmoyGupta how's the fix coming along? Are you facing any issues?

[2022-07-30 15:47] Pankaj-SinghR commented on #15314
ok np but if somehow it's open then please assign it to me

[2022-07-30 15:50] Pankaj-SinghR commented on #15794
Yh sure. I'll update soon

[2022-07-30 16:02] Rijuta-s commented on #11206
@krishita30j Can you please take a look at this one, as you were managing the Classroom page product review?

[2022-07-30 16:37] FaazAbidi commented on #15090
Thank you @U8NWXD. After merging the latest `develop`, the logs were really helpful (nice improvement), I found the cause of error. It was message id. I was using the message id `C0040`  and it was already taken by some other custom rule. So, I changed it and it's working fine now. Thank you!

[2022-07-31 01:03] yavik-kapadia commented on #13162
Hi @Nik-09 could you assign me to any three handlers. Thank you 😊

[2022-07-31 11:36] WORLDSAVER opened #15822 "A new step required in Installing Oppia(Windows; Python 3)"
"https://github.com/oppia/oppia/wiki/Installing-Oppia-(Windows%3B-Python-3)" requires a new step after Step 3, people need to run " sudo apt update" to be able to run the commands in step 4 otherwise the below errors appear.

![image](https://user-images.githubusercontent.com/38395454/182024380-0e769a2a-23cc-492f-96d2-46ec8660d110.png)

[2022-08-01 03:06] U8NWXD commented on #10337
Closing since this doesn't happen anymore

[2022-08-01 03:06] #10337 closed, assigned to nobody

[2022-08-01 03:08] U8NWXD commented on #15299
Closing since this appears to be resolved now

[2022-08-01 03:08] #15299 closed, assigned to nobody

[2022-08-01 03:10] U8NWXD commented on #9180
I think we want to run the linter on all files, not just the diff, to catch cases where a change in one file produces a lint error in a different file. For example, if you have change a function interface in one file, the linter might flag a now-incorrect call to that function from another file.

[2022-08-01 03:10] #9180 closed, assigned to nobody

[2022-08-01 03:10] U8NWXD commented on #8570
Closing due to inactivity

[2022-08-01 03:10] #8570 closed, assigned to nobody

[2022-08-01 03:13] U8NWXD commented on #8855
Since we squash and merge our PRs, I don't think having lots of `fix linter` commit messages is really a problem, and enforcing nice commit histories just makes things difficult for new contributors. Closing for now as not planned, but feel free to reopen if you disagree

[2022-08-01 03:13] #8855 closed, assigned to nobody

[2022-08-01 03:13] U8NWXD commented on #12889
We don't support Brave as a way to use Oppia

[2022-08-01 03:13] #12889 closed, assigned to nobody

[2022-08-01 03:15] U8NWXD commented on #13506
Done by #15602

[2022-08-01 03:15] #13506 closed, assigned to nobody

[2022-08-01 03:16] U8NWXD commented on #12323
Closing due to inactivity

[2022-08-01 03:16] #12323 closed, assigned to nobody

[2022-08-01 03:17] U8NWXD commented on #12190
This looks done

[2022-08-01 03:17] #12190 closed, assigned to DubeySandeep, gp201

[2022-08-01 03:18] U8NWXD commented on #11645
This has now been done

[2022-08-01 03:18] #11645 closed, assigned to nobody

[2022-08-01 03:20] U8NWXD commented on #10211
Closing since the feature gating project is over, so the proposed mode doesn't appear to be necessary

[2022-08-01 03:21] U8NWXD commented on #10754
I don't think this is a dev workflow issue, so reassigning to LaCE

[2022-08-01 03:23] U8NWXD commented on #9251
We no longer need to change the PATH so much now that we have #15602, so I don't think this is relevant anymore

[2022-08-01 03:23] #9251 closed, assigned to nobody

[2022-08-01 03:24] #12662 closed, assigned to DubeySandeep

[2022-08-01 03:26] U8NWXD commented on #14310
This is not a dev workflow issue, so reassigning to LaCE

[2022-08-01 03:26] U8NWXD commented on #14313
This is not a dev workflow issue, so reassigning to LaCE

[2022-08-01 03:27] U8NWXD commented on #9458
This doesn't happen anymore

[2022-08-01 03:27] #9458 closed, assigned to DubeySandeep, Hudda

[2022-08-01 03:28] U8NWXD commented on #11297
Done by https://github.com/oppia/oppia/pull/15602

[2022-08-01 03:28] #11297 closed, assigned to AdityaDubey0

[2022-08-01 03:30] U8NWXD commented on #11089
Unclear what the bug is here

[2022-08-01 03:30] #11089 closed, assigned to nobody

[2022-08-01 03:32] U8NWXD commented on #11051
Closing since this is an unusual configuration that we don't need to handle

[2022-08-01 03:32] #11051 closed, assigned to nobody

[2022-08-01 03:33] U8NWXD commented on #9571
So long as the file system isn't getting corrupted, I don't think seeing the stack trace is a problem

[2022-08-01 03:33] #9571 closed, assigned to nobody

[2022-08-01 06:41] nithinrdy commented on #15314
De-assigning @JyotirmoyGupta due to inactivity.

[2022-08-01 06:42] nithinrdy commented on #15314
@Pankaj-SinghR are you still interested in picking up this issue?

[2022-08-01 06:42] Pankaj-SinghR commented on #15314
Yh sure

[2022-08-01 06:43] Pankaj-SinghR commented on #15314
Thanks @nithinrdy I'll update soon with the progress

[2022-08-01 08:23] Nik-09 commented on #13162
@yavik-kapadia Done

[2022-08-01 09:09] divyanshkhetan commented on #15756
@kevintab95 sorry for the late reply, I had some connection issues. The issue is still not reproducible on localhost.

![Screenshot from 2022-08-01 20-08-03](https://user-images.githubusercontent.com/68158825/182114418-63a3c0b6-8aa7-4f28-89a4-a5b4d6593377.png)

[2022-08-01 11:57] shaman-sr commented on #12912
@vojtechjelinek Can I work on arg-name-for-non-keyword-arg

[2022-08-01 12:20] vojtechjelinek commented on #12912
@Shaman20 That one might be a bit complicated, I recommend picking one from the first list.

[2022-08-01 12:24] shaman-sr commented on #12912
@vojtechjelinek Ok, Can I work on consider-using-with?

[2022-08-01 13:56] vojtechjelinek commented on #12912
@Shaman20 Sure!

[2022-08-01 15:14] U8NWXD commented on #7321
Closing since this problem hasn't been seen recently

[2022-08-01 15:14] #7321 closed, assigned to nobody

[2022-08-01 15:15] U8NWXD commented on #7487
I believe the `--save_datastore` flag works correctly now

[2022-08-01 15:15] #7487 closed, assigned to sauravpratihar

[2022-08-01 15:16] U8NWXD commented on #4122
In my experience, installing dependencies is a smaller portion of running the presubmit checks than running the frontend tests, so I don't think dependency installation is actually the problem anymore

[2022-08-01 15:16] #4122 closed, assigned to nobody

[2022-08-01 16:40] U8NWXD opened #15826 "Vulnerability Disclosure Process"
We currently don't have a good way for outside parties to securely report security vulnerabilities to us. We should implement a vulnerability disclosure process as described here: https://github.com/ossf/oss-vulnerability-guide/blob/main/maintainer-guide.md

[2022-08-01 17:43] U8NWXD commented on #12718
Closing since we expect users to use our linter scripts instead of running pylint directly

[2022-08-01 17:43] #12718 closed, assigned to DubeySandeep

[2022-08-01 17:58] U8NWXD commented on #11548
This is working now:

[code]

[2022-08-01 17:58] #11548 closed, assigned to DubeySandeep

[2022-08-01 17:59] U8NWXD commented on #11091
Since there hasn't been any further interest in supporting development with browsers other than Chrome, I'm closing this for now. Feel free to reopen if this is still desirable

[2022-08-01 17:59] #11091 closed, assigned to DubeySandeep

[2022-08-01 19:20] U8NWXD commented on #8988
Closing since there are no longer any disables of `simplifiable-if-statement`: https://github.com/oppia/oppia/search?q=simplifiable-if-statement

[2022-08-01 19:20] #8988 closed, assigned to nobody

[2022-08-01 19:54] U8NWXD commented on #9314
I think we want to run the linter on all files, not just the diff, to catch cases where a change in one file produces a lint error in a different file. For example, if you have change a function interface in one file, the linter might flag a now-incorrect call to that function from another file.

This is the same decision as in #9180

[2022-08-01 19:54] #9314 closed, assigned to Hudda

[2022-08-01 20:07] U8NWXD commented on #8175
We no longer install dependencies manually into `oppia_tools`, so there is now only one copy of `isort` that gets used by the linter

[2022-08-01 20:07] #8175 closed, assigned to EricZLou

[2022-08-01 20:09] U8NWXD commented on #5342
Closing since we no longer advertise this feature of automatically running the Karma tests. We have too many files for Karma's runner to keep track of, so this feature isn't reliable anyway

[2022-08-01 20:09] #5342 closed, assigned to nobody

[2022-08-01 20:12] U8NWXD commented on #12299
@SAEb-ai does this still happen?

[2022-08-01 20:23] U8NWXD commented on #11634
Closing since this hasn't come up again

[2022-08-01 20:23] #11634 closed, assigned to nobody

[2022-08-01 20:43] U8NWXD commented on #7806
Closing since this hasn't been seen recently

[2022-08-01 20:43] #7806 closed, assigned to nobody

[2022-08-02 03:11] seanlip commented on #15813
Update: (3) should now be fixed by #15818 (and #15819, when that gets merged by @Rijuta-s).

We (well, mainly @U8NWXD since I have to work on a bunch of lesson updates this week) are still looking at (1), (4) and (6). We have only seen (2) once -- it doesn't arise in the build step, it arises after the build step. Still not sure what is going on there.

[2022-08-02 07:34] kevintab95 commented on #15802
The movement of text happens because tspan is not supported by fabric.js as reported in https://github.com/fabricjs/fabric.js/issues/1055. For the time being, it might be better to use a different image editor for translation purposes and upload the resulting SVG image in the app.

[2022-08-02 11:08] kevintab95 opened #15834 "Invalid URL for practice session"
This error occurred recently in production

It happens when navigating to /learn/`<classroom>`/`<topic-url-fragment>`/practice/session.

[code]
This error is not actionable to a user. It might be better to redirect to the practice page if the practice session page URL is incorrect i.e. if the parameters are empty.

[2022-08-02 17:20] U8NWXD commented on #10479
Closing since I don't think this issue is worth prioritizing. The lint check works, so let's not worry about re-implementing it unless that re-implementation will solve a problem we're actually seeing

[2022-08-02 17:20] #10479 closed, assigned to Hudda

[2022-08-02 17:25] U8NWXD commented on #6654
The codeowners checks are a pretty small portion of the presubmit check runtime, so I don't think this is worth prioritizing

[2022-08-02 17:25] #6654 closed, assigned to nobody

[2022-08-02 17:27] U8NWXD commented on #10563
Done by #15815.

[2022-08-02 17:27] #10563 closed, assigned to nobody

[2022-08-02 17:28] U8NWXD commented on #12466
Not sure when this was completed, but there is now only one `.stylelintrc` file: https://github.com/oppia/oppia/search?q=stylelint

[2022-08-02 17:28] #12466 closed, assigned to nobody

[2022-08-02 17:30] U8NWXD commented on #7668
Tests now present:

https://github.com/oppia/oppia/blob/82fe5bf49afe598ac531d55ad8aeae046ac2f8c5/scripts/create_expression_parser_test.py#L1

[2022-08-02 17:30] #7668 closed, assigned to nobody

[2022-08-02 17:32] U8NWXD commented on #7219
Done:

https://github.com/oppia/oppia/blob/82fe5bf49afe598ac531d55ad8aeae046ac2f8c5/scripts/linters/general_purpose_linter.py#L101-L107

[2022-08-02 17:32] #7219 closed, assigned to nobody

[2022-08-02 17:32] U8NWXD commented on #6615
There is now only one `.stylelintrc` in the root directory

[2022-08-02 17:32] #6615 closed, assigned to nobody

[2022-08-02 17:33] U8NWXD commented on #8547
Closing since this hasn't been seen recently

[2022-08-02 17:33] #8547 closed, assigned to nobody

[2022-08-02 17:37] U8NWXD commented on #12910
Doesn't look like we have `constants.ts` anymore:

[code]

[2022-08-02 17:37] U8NWXD commented on #12117
This appears to be done

[2022-08-02 17:37] #12117 closed, assigned to DubeySandeep, sajalasati

[2022-08-02 17:45] U8NWXD commented on #11992
Superseded by #12125.

[2022-08-02 17:45] #11992 closed, assigned to DubeySandeep

[2022-08-02 18:18] U8NWXD commented on #10913
Sending this to the data handling team since it's not a dev workflow issue

[2022-08-02 18:19] U8NWXD commented on #10113
Reassigning to LaCE since this is an issue with the frontend code, not the dev workflow

[2022-08-02 18:40] #15740 closed, assigned to kevintab95

[2022-08-02 20:52] sagangwee commented on #15746
Meant to fix this today, but am blocked on https://github.com/oppia/oppia/pull/15823 that fixes several UI bugs as a consequence of an Angular migration (the topic selector is not displayed currently).

[2022-08-03 00:30] heyimShivam commented on #15746
i don't think #15823 can block anything, #15823 is only fixing image + mobile UI bug

[2022-08-03 08:41] jahd2602 commented on #12310
Tried to reproduce by suggesting a review question by a user and review the question by another, and looks like this issue is already fixed in the develop branch: the height of the modal occupies the whole height of the window and is scrollable.
<img width="1605" alt="Screen Shot 2022-08-03 at 1 38 21 AM" src="https://user-images.githubusercontent.com/2841740/182563871-d2040c5e-7be2-4782-bb6f-5b4e

[2022-08-03 08:48] seanlip commented on #12310
I can repro on Oppia.org:

![Screenshot from 2022-08-03 01-47-27](https://user-images.githubusercontent.com/10575562/182565870-304d876f-dc0e-4b29-9f0c-5de03c02e226.png)

Is this where you're testing too?

Also to clarify the original issue, I was asking if the question section at the top (above "Interaction") could stick to the top of the modal, so that I could keep it in view while reviewing the

[2022-08-03 09:21] vojtechjelinek commented on #12910
Sorry, this might have been a bit unclear I mean we shouldn't do `
import constants from 'assets/constants';` or `import AppConstants from 'assets/constants';` but `import { AppConstants } from 'app.constants';`

[2022-08-03 15:51] sagangwee opened #15838 "[CD] UI bug: White streaks across translation progress bars"
![Screen Shot 2022-08-02 at 4 39 35 PM](https://user-images.githubusercontent.com/9004726/182652773-fc643b4a-e765-43f5-a0e5-acc91e4fff6f.png)

May be related to https://github.com/oppia/oppia/pull/15781

[2022-08-03 15:52] sagangwee commented on #15838
@Lawful2002 How do you know this issue is related to https://github.com/oppia/oppia/pull/15781? Glancing at the PR, I don't see any CSS class changes that would affect the contributor dashboard.

[2022-08-03 15:56] Lawful2002 commented on #15838
@sagangwee  The code at `core/templates/pages/exploration-player-page/templates/lesson-information-card-modal.component.css` line 225 matches the weird styling on CD pages.  Commenting this code out fixes the issue.
![image](https://user-images.githubusercontent.com/73544247/182654271-10c34d0f-a158-4713-a793-f32da12ae991.png)
![image](https://user-images.githubusercontent.com/73544247/182654329-e3

[2022-08-03 15:56] sagangwee commented on #15182
Fixed in https://github.com/oppia/oppia/pull/15295.

[2022-08-03 15:56] #15182 closed, assigned to sagangwee

[2022-08-03 16:59] heyimShivam commented on #15696
this issue has been resolved in my PR #15768.

[2022-08-03 16:59] #15696 closed, assigned to nobody

[2022-08-03 22:20] karenbanci commented on #15730
@kevintab95 With topics on the page the problem comes back.
So, I fixed the problem

![Bordô Bege Simples Corporativo Serifa Apresentação (5)](https://user-images.githubusercontent.com/88203154/182727680-e0bf4d77-0354-4ecf-9d52-47d5d195400a.png)

[2022-08-03 22:37] karenbanci commented on #14815
I fixed

![Bordô Bege Simples Corporativo Serifa Apresentação (4)](https://user-images.githubusercontent.com/88203154/182724239-d0d9a90e-4caf-4f30-b204-6886aaa4a8f2.png)

[2022-08-04 17:17] nithinrdy commented on #15376
These instructions were outdated/incorrect. They have now been fixed. The updated instructions can be found at the same wiki link mentioned above, i.e. [here](https://github.com/oppia/oppia/wiki/How-to-access-Oppia-webpages#topics-and-skills-dashboard-page).

[2022-08-05 04:58] #15684 closed, assigned to Pankaj-SinghR

[2022-08-05 06:50] nithinrdy commented on #15750
Closing this issue as per discussion in the google doc where the issue was originally highlighted:
![image](https://user-images.githubusercontent.com/78612244/183018219-ad966068-56ad-4cf4-9c21-4e6c7083aab0.png)

([see here](https://docs.google.com/document/d/1rhH9mVOMZZLnwPN3QDHo8phHz8XKuRYCbu676CQvzOY/edit?disco=AAAAcWpKO_I) for more info if you happen to have permission to view the doc).

[2022-08-05 06:50] #15750 closed, assigned to nobody

[2022-08-05 16:43] #15654 closed, assigned to Saurabhbalke

[2022-08-05 20:37] sagangwee opened #15850 "[CD] Cannot go back to original page after accepting/rejecting question suggestion"
Bug: Once you accept or reject a question, you can't go back to the page you were on and you need to refresh and go to that page from the start.

[2022-08-05 20:49] sagangwee commented on #15850
Likely same issue as https://github.com/oppia/oppia/issues/11905

[2022-08-05 21:11] sagangwee commented on #11905
The "Previous" button is also not disabled when the modal is initially closed.

[2022-08-05 21:12] sagangwee commented on #15850
Closing as this seems to be a duplicate of https://github.com/oppia/oppia/issues/11905.

[2022-08-05 21:12] #15850 closed, assigned to sagangwee

[2022-08-05 21:24] sagangwee commented on #11905
The page reset seems to occur here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/opportunities-list/opportunities-list.component.ts#L98 which is triggered currently when the translation suggestion review modal is closed or when the user accepts/rejects a question suggestion.

[2022-08-05 21:30] sagangwee commented on #11905
On `contributionOpportunitiesService.removeOpportunitiesEventEmitter`, we probably need to set `activePageNumber` to the page the user was on when they clicked the modal (or the next valid page if all the suggestions on the original page were reviewed).

[2022-08-06 21:20] #15838 closed, assigned to Lawful2002

[2022-08-06 22:08] akhilr97 commented on #10700
@srijanreddy98 Could you please assign me to SuggestionThreadObjectFactory?

[2022-08-07 06:28] mridul-netizen commented on #10700
done

[2022-08-07 23:12] EricZLou opened #15855 "Python lint check for "optional args should come after required args""
I noticed that our `Outcome` class has an optional arg that comes before a required arg.

[code]

This was causing errors in my branch (though they're easy to fix). Either way, better style would be to put the Optional args at the end of the args list.

[2022-08-08 13:37] sumtingwoong commented on #12912
Hey @vojtechjelinek, Is this still open?

[2022-08-08 13:56] vojtechjelinek commented on #12912
@SuleimenovR Yes

[2022-08-08 14:44] heyimShivam opened #15858 "update InteractionAnswer type and remove if block code in truncate-input-based-on-interaction-answer-type.pipe.ts file."
**Describe**

Remove if block from the code in file truncate-input-based-on-interaction-answer-type.pipe.ts when the InteractionAnswer type is corrected.

![Screenshot from 2022-08-08 20-16-26](https://user-images.githubusercontent.com/77006897/183445787-a807d61a-94b1-453f-b41f-d4cfa46fccda.png)

As input variables can be of 19 types and their properties are also different we need to fix all Inter

[2022-08-08 14:46] sumtingwoong commented on #12912
@vojtechjelinek how can i start?

[2022-08-08 14:47] heyimShivam commented on #15858
@JeeveshGarg PTAL once you update `InteractionAnswer` Type

[2022-08-08 17:44] sagangwee opened #15860 "[CD] Surface stale translation suggestions in "My Contributions" tab"
See [design doc ](https://docs.google.com/document/d/11wdi1E6mFxFbo3fK5JfcH1M4A_XInqgKfQ3WJQsoFU8/edit?usp=sharing)for more details.

[2022-08-08 19:55] vojtechjelinek commented on #12912
@SuleimenovR Did you read the issue description? Also, this wiki might be helpful https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia

[2022-08-09 05:10] karenbanci commented on #15793
@KolliAnitha I can do it.

[2022-08-10 08:11] ShivamJhaa commented on #15813
Update: (4) will be fixed after merging #15790. PTAL [here](https://github.com/oppia/oppia/pull/15790#issuecomment-1209116411) for more info

[2022-08-10 17:02] heyimShivam commented on #15813
thanks @ShivamJhaa

[2022-08-11 13:33] arkapratimc commented on #8668
Hey @Showtim3 ,can I be assigned to answer-classification.service.ts ?

[2022-08-11 17:35] U8NWXD commented on #8668
@arka1002 Sorry, we don't currently have the capacity to help new contributors get started with this issue. Please choose from another of our starter issues: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#starter-projects-for-new-contributors

[2022-08-11 22:46] vojtechjelinek opened #15871 "Exploration 'entity too big' error"
This is an error that we are facing for some explorations in the production right now, basically, the explorations are too big and some parts of them need to be moved to separate models.

[2022-08-12 10:11] ShivamJhaa opened #15874 "Console error on trying to tag misconception to a question on skill editor page."
**Describe the bug**
Not able to tag misconception to a question created for a skill.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/topics-and-skills-dashboard
 2. Create a skill with misconception
 3. Create a question for the skill and then try to tag misconception to the question
 4. See error

**Observed behavior**
We are not able to tag misconcep

[2022-08-12 11:09] ShivamJhaa opened #15875 "Not able to update a question assigned to a skill"
**Describe the bug**
Save button is not clickable while trying to update the question assigned to a skill

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to topic and skill dashboard page
 2. Click on skills tab
 3. Click on skill containing a question and try to update the fields of question and then try to save the question
 4. Save button is not clickable

**Observed behavior**
Save

[2022-08-12 11:27] ShivamJhaa opened #15876 "Console error when trying to upload image for translation through the contributor dashboard"
**Describe the bug**
Console error when trying to upload image for translation through the contributor dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/contributor-dashboard
 2. Click on Translate text tab
 3. Try to submit the image for translation
 4. See error

**Observed behavior**
Console error when we try to upload image.

**Expected beha

[2022-08-12 16:37] nithinrdy opened #15877 "Topic tiles on classroom page are too close together in mobile view"
**Describe the bug**
Topic tiles on the math classroom are too close together.

![image](https://user-images.githubusercontent.com/78612244/184403479-12b89b93-58b7-4db2-a1ac-ca1fb9000371.jpeg)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [the math classroom](https://www.oppiatestserver.org/learn/math) on a mobile device.
 2. Scroll down to see the topic tiles clumped together.

**E

[2022-08-12 23:44] #15772 closed, assigned to nobody

[2022-08-14 08:09] Nik-09 opened #15880 "[UI]: Arrow in the exploration feedback modal is not at correct position in firefox"
**Describe the bug**
Giving feedback in an exploration opens a modal in the arrow that is not positioned correctly.
**To Reproduce**
Steps to reproduce the behavior:
 1. Play an exploration
 2. While playing try to give feedback
 3. See the wrongly positioned arrow.

**Observed behavior**
Giving feedback in an exploration opens a modal in the arrow that is not positioned correctly.

**Expected beh

[2022-08-14 19:09] U8NWXD opened #15883 "Image region interaction answer choice shows as "[INVALID]" in skill editor"
**Describe the bug**
When an image region interaction is created through the skill editor, the answer choice shows as "[INVALID]" in a response.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Add an "Image Region" interaction
 3. Draw your own image rather than uploading one
 4. Add some regions to the image and name them
 5. Add a correct response for one of the regions

[2022-08-14 19:12] U8NWXD commented on #15883
When I tried to save this question, I got another console error (and saving failed):

![Screen Shot 2022-08-14 at 12 12 16](https://user-images.githubusercontent.com/19878639/184551431-678e2b23-39d1-4e1a-950a-c1de21099ed4.png)

[2022-08-14 19:32] U8NWXD opened #15884 "Failure to tag text input interaction response with a misconception"
**Describe the bug**
Tagging a text input interaction response with a misconception in the skill editor fails

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill.
 2. Create a required misconception for the skill.
 3. Create a question for the skill, and to that question add a text input interaction.
 4. Create a response for the interaction and try to tag it with the required mi

[2022-08-14 19:52] U8NWXD opened #15885 "Selected region offset in image region interaction from topic editor"
**Describe the bug**
When creating an image region interaction from the topic editor question tab, the created region is below the region actually dragged out by the user.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a subtoptic and skill
 2. Create a question from the topic editor
 3. Add an image region interaction
 4. Drag out a region

**Observed behavior**
The re

[2022-08-14 20:14] pallavimantri opened #15886 "Invalid data in translation_html while taking user's data in JSON format for different languages"
**Describe the bug**
Invalid data in translation_html while taking user's data in JSON format for different languages.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/preferences'
 2. Change language to 'Hindi'
 3. Click on 'Export Account'.
 4. Open JSON file and find translation_html and check for Invalid data.

**Observed behavior**
Invalid data for

[2022-08-14 20:17] U8NWXD opened #15887 "Infinite loading screen when navigating to nonexistent story"
**Describe the bug**
When trying to open a nonexistent story, a loading screen appears forever instead of showing a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open https://www.oppiatestserver.org/learn/staging/august-two-two/story/story-one

**Observed behavior**
A full-page loading component appears, but the only indication that the page doesn't exist is in the console error

[2022-08-14 20:18] U8NWXD commented on #15887
This also occurs on prod

[2022-08-14 20:22] U8NWXD opened #15888 "Unused story URL fragment rejected as already in use"
**Describe the bug**
On the testing server, when creating a story in a topic that has no stories, the `story-one` URL fragment is rejected as already in use, possibly because stories in other topics use it.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/topic_editor/1BsCsMnsuall
 2. Try to create a story with a URL fragment of `story-one`

**Observed b

[2022-08-14 20:29] pallavimantri opened #15889 "Display issues for the field 'Preferred exploration languages' in Preferences tab"
**Describe the bug**
Display issues for the field 'Preferred exploration languages' in Preferences tab

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/preferences'
 2. Update any field for 'Preferred exploration languages'
 3. Scroll up and change the language to any other language like 'Hindi' or 'Vietnamese language (Tiếng Việt)'
 4. See a displaying

[2022-08-14 21:01] U8NWXD opened #15890 "Cannot select region in image click interaction when suggesting question"
**Describe the bug**
When suggesting a question with an image click interaction on the contributor dashboard page, dragging to select a region on the image drags the image instead.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard page
 2. Start a new question suggestion
 3. Create an image click interaction
 4. Draw your own image
 5. Try to drag out regions o

[2022-08-14 21:09] U8NWXD opened #15891 "Unable to copy equations when translating"
**Describe the bug**
When proposing a translation, using the copy tool to copy math expressions fails.

**To Reproduce**
Steps to reproduce the behavior:
 1. Suggest a translation for some content that includes a math expression
 2. Try to copy the expression

**Observed behavior**
When the math expression editor opens, clicking the "Done" button has no effect

**Expected behavior**
Clicking "Done

[2022-08-14 21:18] U8NWXD opened #15892 "Reviewer cannot view pending translations on contributor dashboard"
**Describe the bug**
Translations do not appear to reviewers on the contributor dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. In one account, suggest a translation for some language
 2. In another account, give yourself permission to review for that language and click "Review Translations" on the contributor dashboard

**Observed behavior**
No translations are listed, and a cons

[2022-08-15 02:32] kevintab95 commented on #15779
Hi @ashish-patwal, how is this going?

[2022-08-15 09:33] vojtechjelinek opened #15895 "Sync between `ExplorationModel.last_updated` and `ExpSummaryModel.exploration_model_created_on`"
Currently `ExplorationModel.last_updated` and `ExpSummaryModel.exploration_model_created_on`  might not be in sync (meaning there might be different values for the same exp IDs). In some places we calculate the `ExpSummaryModel.exploration_model_created_on` using `exp_services.get_last_updated_by_human_ms`. We should think whether the current approach is correct or whether the `ExplorationModel.la

[2022-08-15 09:39] vojtechjelinek opened #15896 "Make sure all folders with Python files are packages"
**Is your feature request related to a problem? Please describe.**
Oppia currently allows to have folders that contain Python files but not the _\_\_init.py\_\__ file. This works normally when we start up a server but will break all Beam jobs as for these we build a separate Python package and there it actually poses a problem.

**Describe the solution you'd like**
Make sure that all folders that

[2022-08-15 09:58] #13397 closed, assigned to Rijuta-s

[2022-08-15 11:15] vojtechjelinek commented on #15888
@kevintab95 @aks681 PTAL

[2022-08-15 11:15] vojtechjelinek commented on #15887
@kevintab95 @aks681 PTAL

[2022-08-15 11:15] vojtechjelinek commented on #15885
@kevintab95 @aks681 PTAL

[2022-08-15 11:16] vojtechjelinek commented on #15874
@ashutoshc8101 @srijanreddy98 PTAL

[2022-08-15 11:17] vojtechjelinek commented on #15884
Copy of #15874

[2022-08-15 11:17] #15884 closed, assigned to nobody

[2022-08-15 11:17] vojtechjelinek commented on #15883
@kevintab95 @aks681 PTAL

[2022-08-15 11:17] vojtechjelinek commented on #15875
@kevintab95 @aks681 PTAL

[2022-08-15 11:54] vojtechjelinek commented on #15892
@sagangwee PTAL

[2022-08-15 11:55] Shivkant-Chauhan commented on #15157
I want to work on this issue.

[2022-08-15 11:56] vojtechjelinek commented on #15891
@sagangwee PTAL

[2022-08-15 11:56] vojtechjelinek commented on #15890
@kevintab95 @aks681 PTAL

[2022-08-15 12:00] Shivkant-Chauhan commented on #15880
I want to try resolving this issue. please assign this to me

[2022-08-15 12:15] paprajapati9 opened #15897 "Carousel view broken on community library page for rtl languages"
**Describe the bug**
The carousel view does not works as expected for rtl languages on the community library page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [community library page](https://www.oppiatestserver.org/community-library)
 2. Change language to arabic and click on the scroll button for carousel.
 4. See error

**Observed behavior**
The carousel does not scrolls success

[2022-08-15 13:50] vojtechjelinek commented on #15617
@kevintab95 Any update on this?

[2022-08-15 13:51] vojtechjelinek commented on #15164
@SanjaySajuJacob Any update on this? cc @Rijuta-s

[2022-08-15 13:52] vojtechjelinek commented on #15537
@kevintab95 @aks681 Any update?

[2022-08-15 13:55] vojtechjelinek commented on #15524
@aks681 @kevintab95 Any update?

[2022-08-15 13:58] vojtechjelinek commented on #15531
@aks681 @kevintab95 Any update?

[2022-08-15 14:02] Nik-09 opened #15898 "Graph interaction is not working in mobile"
**Describe the bug**
The graph interaction is not working on mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Progress through the questions and reach the graph interaction.

**Observed behavior**
Graph input is not working.

**Expected behavior**
The expected graph input should work.

**Screenshots / Videos**
![image](

[2022-08-15 14:11] vojtechjelinek commented on #15662
@kevintab95 PTAL

[2022-08-15 14:11] vojtechjelinek commented on #15891
Closing in favor of #15662

[2022-08-15 14:11] #15891 closed, assigned to sagangwee

[2022-08-15 14:19] #15639 closed, assigned to vojtechjelinek

[2022-08-15 14:19] vojtechjelinek commented on #15755
@SanjaySajuJacob Any update?

[2022-08-15 14:22] vojtechjelinek commented on #15880
@Shivkant-Chauhan Done, let me know if you need any help.

[2022-08-15 14:37] vojtechjelinek commented on #15886
@pallavimantri Hmm, this seems like a data issue, do you remember creating a translation suggestion with some weird content? I have troubles accessing that suggestion even using Google Cloud console.

[2022-08-15 16:23] U8NWXD commented on #15887
@vojtechjelinek I don't think this is a regression since it currently occurs on prod

[2022-08-15 16:27] sagangwee commented on #15892
This looks like the same issue that will be fixed in https://github.com/oppia/oppia/pull/15851.

[2022-08-15 16:32] sagangwee commented on #8015
@DubeySandeep @kevintab95 Is this issue up-to-date?

[2022-08-15 16:33] U8NWXD opened #15899 "Add CodeQL security scanning"
GitHub offers security scanning by CodeQL. We should:

* [x] Enable CodeQL scanning in a PR, possibly on a repository fork
  * Done: U8NWXD/oppia#17
* [x] Merge a PR to fix all high-severity alerts and enable CodeQL scanning on oppia/oppia. The CI check should fail if any high-severity alert is introduced
   * Done: https://github.com/oppia/oppia/pull/16498

[2022-08-15 16:39] U8NWXD commented on #11296
This hasn't been seen for a while

[2022-08-15 16:39] #11296 closed, assigned to nobody

[2022-08-15 16:43] U8NWXD commented on #8890
This hasn't been seen in a while

[2022-08-15 16:43] #8890 closed, assigned to nobody

[2022-08-15 16:44] U8NWXD commented on #11642
This hasn't been seen in a while

[2022-08-15 16:44] #11642 closed, assigned to nobody

[2022-08-15 16:45] U8NWXD commented on #13144
Hasn't been seen in a while

[2022-08-15 16:45] #13144 closed, assigned to nobody

[2022-08-15 16:46] U8NWXD commented on #12452
Hasn't been seen in a while

[2022-08-15 16:46] #12452 closed, assigned to nobody

[2022-08-15 16:47] U8NWXD commented on #8315
We now set a random seed to let users re-run tests in the same order as some previous run for debugging

[2022-08-15 16:47] #8315 closed, assigned to nobody

[2022-08-15 16:49] U8NWXD commented on #12098
Closing since I've confirmed that the tests can run on 8 GB RAM

[2022-08-15 16:49] #12098 closed, assigned to DubeySandeep, srijanreddy98

[2022-08-15 16:55] U8NWXD commented on #11461
Hasn't been seen in a while

[2022-08-15 16:55] #11461 closed, assigned to nobody

[2022-08-15 16:55] U8NWXD commented on #11978
Hasn't been seen in a while

[2022-08-15 16:55] #11978 closed, assigned to jimbyo

[2022-08-15 17:00] U8NWXD commented on #9630
Hasn't been seen in a while

[2022-08-15 17:00] #9630 closed, assigned to nobody

[2022-08-15 17:00] U8NWXD commented on #13358
Hasn't been seen in a while

[2022-08-15 17:00] #13358 closed, assigned to nobody

[2022-08-15 17:04] U8NWXD commented on #13786
Closing since I think this is an unnecessary optimization. CI checks should be fast and reliable enough to run on all PRs

[2022-08-15 17:04] #13786 closed, assigned to DubeySandeep

[2022-08-15 17:04] U8NWXD commented on #11486
Frontend flakes have been fixed

[2022-08-15 17:04] #11486 closed, assigned to DubeySandeep, srijanreddy98

[2022-08-15 17:05] U8NWXD commented on #8876
Lighthouse flakes have been fixed

[2022-08-15 17:05] #8876 closed, assigned to nobody

[2022-08-15 17:05] U8NWXD commented on #10627
Lighthouse flakes have been fixed

[2022-08-15 17:05] #10627 closed, assigned to jimbyo

[2022-08-15 17:06] U8NWXD commented on #8739
Frontend flakes have been fixed

[2022-08-15 17:06] #8739 closed, assigned to nobody

[2022-08-15 17:06] U8NWXD commented on #9419
Closing due to inactivity

[2022-08-15 17:07] #9419 closed, assigned to nobody

[2022-08-15 17:08] U8NWXD commented on #12665
These have been resolved

[2022-08-15 17:08] #12665 closed, assigned to nobody

[2022-08-15 17:10] U8NWXD commented on #12828
We're happy with Karma for now

[2022-08-15 17:10] #12828 closed, assigned to nobody

[2022-08-15 17:11] U8NWXD commented on #9401
Hasn't been seen in a while

[2022-08-15 17:11] #9401 closed, assigned to nobody

[2022-08-15 17:13] U8NWXD commented on #12733
Unclear what the downside of generating this extra coverage info is

[2022-08-15 17:13] #12733 closed, assigned to srijanreddy98

[2022-08-15 17:15] U8NWXD commented on #13324
Tests are working fine for now

[2022-08-15 17:15] #13324 closed, assigned to nobody

[2022-08-15 17:22] #9149 closed, assigned to nobody

[2022-08-15 17:22] #9163 closed, assigned to nadintamer

[2022-08-15 17:22] #9164 closed, assigned to nadintamer

[2022-08-15 17:22] #9238 closed, assigned to nobody

[2022-08-15 17:22] #9405 closed, assigned to nobody

[2022-08-15 17:22] #9432 closed, assigned to nobody

[2022-08-15 17:22] #9454 closed, assigned to nobody

[2022-08-15 17:22] #9455 closed, assigned to nobody

[2022-08-15 17:22] #9524 closed, assigned to nobody

[2022-08-15 17:22] #9555 closed, assigned to nobody

[2022-08-15 17:22] #9556 closed, assigned to nobody

[2022-08-15 17:22] #9592 closed, assigned to nobody

[2022-08-15 17:22] #9593 closed, assigned to nobody

[2022-08-15 17:22] #9594 closed, assigned to nobody

[2022-08-15 17:22] #9606 closed, assigned to nobody

[2022-08-15 17:22] #9607 closed, assigned to nobody

[2022-08-15 17:22] #9608 closed, assigned to nobody

[2022-08-15 17:22] #9609 closed, assigned to nobody

[2022-08-15 17:22] #9610 closed, assigned to nobody

[2022-08-15 17:22] #9611 closed, assigned to nobody

[2022-08-15 17:22] #9612 closed, assigned to nobody

[2022-08-15 17:22] #9679 closed, assigned to nobody

[2022-08-15 17:22] #9680 closed, assigned to nobody

[2022-08-15 17:22] #9681 closed, assigned to nobody

[2022-08-15 17:22] #10121 closed, assigned to U8NWXD

[2022-08-15 17:23] #8818 closed, assigned to nobody

[2022-08-15 17:23] #8891 closed, assigned to nobody

[2022-08-15 17:23] #9037 closed, assigned to nobody

[2022-08-15 17:24] #7956 closed, assigned to nobody

[2022-08-15 17:24] #9407 closed, assigned to nobody

[2022-08-15 17:24] #12427 closed, assigned to nobody

[2022-08-15 17:25] #8959 closed, assigned to nadintamer

[2022-08-15 17:46] U8NWXD commented on #10974
This hasn't happened in a while

[2022-08-15 17:46] #10974 closed, assigned to nobody

[2022-08-15 20:41] #11905 closed, assigned to sagangwee

[2022-08-15 20:41] #15746 closed, assigned to sagangwee

[2022-08-15 20:42] sagangwee commented on #15892
Fixed in https://github.com/oppia/oppia/pull/15851.

[2022-08-15 20:42] #15892 closed, assigned to sagangwee

[2022-08-16 06:02] jahd2602 commented on #9648
This is still an issue that makes it extremely hard to debug frontend tests. I spend 90% of my time adding tons of console.logs and running the fdescribe tests again and again (those runs take quite a lot of time in my machine), when I could have spent my time fixing other issues in Oppia instead.

The solution that [U8NWXD](https://github.com/U8NWXD) mentioned may work, or maybe we should look fo

[2022-08-16 07:39] seanlip opened #15904 "The "shuffle choices" option for multiple choice inputs is not being adhered to."
**Describe the bug**
Multiple Choice interactions have a "shuffle answer choices" option. When this option is turned off, shuffling still occurs. This results in questions that don't make sense.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a multiple choice question with 4 choices. Turn off the "shuffle answer choices" option.
 2. Play it as a learner.

**Observed behavior**
The m

[2022-08-16 08:22] kevintab95 commented on #8015
This issue may not be updated, I see some of the files listed may already be complete. I've assigned the issue to myself to fix the issue description after verifying the listed files.

[2022-08-16 14:28] U8NWXD commented on #9648
@jahd2602 while the FE tests are running, you can download the combined-tests.spec.js file that the line numbers refer to. @gp201 is working on getting this documented in the wiki

[2022-08-16 16:16] SanjaySajuJacob commented on #15755
Hi @vojtechjelinek, I am still working on this issue. I am still having some difficulty in figuring out exactly where in the code, the change I specified takes place.

[2022-08-16 18:12] heyimShivam commented on #15874
@U8NWXD the e2e test should detect this error, may be e2e test are not covering this part of code PTAL, as the component is migrated In the PR #14672 on 16 Jan.

[2022-08-16 19:34] U8NWXD commented on #15874
@heyimShivam I don't think this functionality is covered by E2E tests. We currently test creating/deleting misconceptions and adding questions to skills, but not tagging those questions with misconceptions. You can see this in the skill editor e2e test: https://github.com/oppia/oppia/blob/develop/core/tests/webdriverio_desktop/skillEditor.js

You're welcome to add E2E tests to cover this functiona

[2022-08-16 19:54] U8NWXD commented on #12349
Superseded by https://github.com/oppia/oppia/issues/8423

[2022-08-16 19:54] #12349 closed, assigned to sajalasati

[2022-08-16 20:10] vojtechjelinek commented on #15755
@SanjaySajuJacob Okay, let me know if you need any help.

[2022-08-16 20:21] SanjaySajuJacob commented on #15755
Sure, Thanks !

[2022-08-16 20:31] vojtechjelinek commented on #15888
@U8NWXD This is actually correct behaviour I think. Would rephrasing the error message to "This story URL fragment already exists in this or another topic." help?

[2022-08-16 23:36] U8NWXD commented on #15888
Yes, that rephrasing would help. I'm confused about why this behavior is expected though. Since the URL includes the topic URL fragment (`august-two-two` in this case), why can't two topics have stories that share a URL fragment?

[2022-08-17 01:05] #13824 closed, assigned to U8NWXD

[2022-08-17 02:52] U8NWXD commented on #15813
(1), (2), and (3) are fixed. We didn't directly fix (6), but we haven't seen it in a while

[2022-08-17 02:52] #15813 closed, assigned to vojtechjelinek, seanlip, U8NWXD, Rijuta-s, SAEb-ai, heyimShivam, ShivamJhaa

[2022-08-17 03:33] SanjaySajuJacob commented on #15164
Hi @vojtechjelinek, I think I will try finishing other issues at hand and come to this one after if possible.

[2022-08-17 07:34] kevintab95 commented on #15887
The correct behaviour for this should be to redirect to the topic viewer page. If the topic does not exist, it should redirect to the classroom.

[2022-08-17 07:47] kevintab95 commented on #15875
For the particular question in the description, there is an unaddressed misconception. Which is preventing saving the question.

![image](https://user-images.githubusercontent.com/11008603/185063056-0bbe9150-a1a4-43b8-bc81-a60da11157d0.png)

This is expected i.e. save is only possible after all misconceptions are addressed (same as other validations)

However, I noticed that it is not possible to

[2022-08-17 08:18] kevintab95 commented on #15319
Hi @mridul-netizen, it seems like this works fine now. Check the music notes interaction here: https://oppiatestserver.appspot.com/create/16#/preview/Music%20Notes%20Input

Please could you confirm this? If you find it to still occur, please provide the exploration ID where it occurs (on the test server.)

[2022-08-17 08:32] kevintab95 commented on #15531
@SD-13 can you please confirm if this still occurs on the test server? Thanks!

[2022-08-17 08:39] kevintab95 commented on #15533
Closing as this is working as intended. Entering an existing subject is treated as an edit operation i.e. it appears as editable text when selected.

[2022-08-17 08:39] #15533 closed, assigned to kevintab95, aks681

[2022-08-17 08:40] kevintab95 commented on #15542
Closing since the moderator page loads fine now.

[2022-08-17 08:40] #15542 closed, assigned to vojtechjelinek, aks681

[2022-08-17 08:41] kevintab95 commented on #15637
@nithinrdy is this still relevant? If not, please feel free to close it. Thanks!

[2022-08-17 08:45] sahiljoster32 opened #15911 "Annotate Json Properties to correct types."
**Is your feature request related to a problem?**
Currently, some JsonProperties do not have strict typing and they just have `Any` type.
Eg:
https://github.com/oppia/oppia/blob/3c8d9fa916bdd40105a042915162bdccb8ec6a62/core/storage/base_model/gae_models.py#L1805
So, because of this loose typing, we have to use Dict[str, Any] in some methods.
Eg: `_reconstitute` method.
https://github.com/oppia/opp

[2022-08-17 08:47] kevintab95 commented on #15757
Hi @Lawful2002, can you add a screenshot for (4) please? Thanks!

[2022-08-17 08:53] kevintab95 commented on #15756
Thanks @divyanshkhetan for confirming!

I think the next step for this issue is to fix the arrow positions in the carousel such that it is centered vertically relative to the cards. @divyanshkhetan would you be interested in giving this a try?

[2022-08-17 08:57] nithinrdy commented on #15637
The layout of the recommendation cards was changed to the following as part of #15611:

![image](https://user-images.githubusercontent.com/78612244/185077864-0275c53c-2d88-4f87-bcaf-8bd380e142f2.png)

![image](https://user-images.githubusercontent.com/78612244/185077944-09b08969-b1f7-4373-b68b-b372d00fb61e.png)

Closing as this is no longer an issue.

[2022-08-17 08:57] #15637 closed, assigned to nithinrdy

[2022-08-17 10:43] SD-13 commented on #15531
@kevintab95 I can't see this issue anymore. It seems like it is resolved, so I am closing this. Thanks

[2022-08-17 10:43] #15531 closed, assigned to SD-13

[2022-08-17 11:25] mridul-netizen commented on #15319
@kevintab95 can you confirm if you are able to add more than one starting note in the interaction? The link you mentioned has only one note. See the video for instance there is more than one note on the local server.

[2022-08-17 11:54] sahiljoster32 opened #15913 "Upgrade MYPY version."
**Is your feature request related to a problem? Please describe.**
Currently, we have an older version of MYPY which causing some typing-related issues.
One of them is wrongly pointed Module type. A small discussion can be found [HERE](https://github.com/oppia/oppia/pull/15864#discussion_r942280632)
**Describe the solution you'd like**
We should upgrade our MYPY library.

[2022-08-17 13:03] #15874 closed, assigned to heyimShivam

[2022-08-17 15:43] jahd2602 commented on #12310
Hi @seanlip, what is your monitor size? What is your browser and browser version? and what is your OS?
Thanks!

[2022-08-17 16:59] U8NWXD opened #15915 "E2E Flake: `First RTE element taking too long to become clickable.`"
Examples:
* On develop: https://github.com/oppia/oppia/actions/runs/2875513506
* On PR #15809: https://github.com/oppia/oppia/runs/7852364452?check_suite_focus=true

[2022-08-17 17:26] U8NWXD commented on #15896
Triaged. The dev workflow team probably won't write this lint check anytime soon since it's only needed by one team, but we can support you in writing this check

[2022-08-17 19:50] seanlip opened #15918 "Any rule input edits for text input interactions keep snapping to the top of the page."
**Describe the bug**
When editing the rule inputs for a text input interaction, the focus keeps snapping to the top of the page, making it quite difficult to type anything.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration with a TextInput state.
 2. Try to add/edit a rule along the lines of "text equals XYZ".

**Observed behavior**
The focus keeps snapping to the top

[2022-08-17 19:50] seanlip commented on #15918
Note that this seems to be a regression (possibly from schema-based editors) -- it was not happening before.

[2022-08-17 19:55] seanlip commented on #12310
Chromium version 98.0, Ubuntu.

Monitor resolution is 1980 × 1200.

Let me know if a live demo would be helpful.

[2022-08-18 02:32] KolliAnitha opened #15920 "Save Interaction button is not enabled after editing Exploration id in end exploration interaction card"
**Describe the bug**
Unable to modify exploration id in end exploration interaction card

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Creator dashboard'
 2. Click on 'Create Exploration' button
 3. Tap on the edit icon under Introduction pane and enter text
 4. Click on Add Interaction- Select End Exploration in Choose Interaction dialog box
 5. Click on Add Exploration Id - enter

[2022-08-18 06:03] vojtechjelinek commented on #15888
@U8NWXD I'm not sure why was that design decision made, I've discussed it with Sean and he is also not sure. @kevintab95 @aks681 Any idea?

[2022-08-18 06:08] kevintab95 commented on #15888
I think the current behaviour is incorrect. Per initial design, we expect the story URLs to be unique across the top level entity (topic). Here's the implementation plan doc: https://docs.google.com/document/d/1wtO1nx-sqXCl7pUaT9W1VATnWhD4GaMbkr_t5c7YM30/edit?usp=drivesdk

[2022-08-18 06:39] vojtechjelinek commented on #15888
@kevintab95 Hmm, interesting, I think we can change the behaviour, but I would say it is not a regression.

[2022-08-18 07:01] vojtechjelinek commented on #14003
Already fixed long time ago https://github.com/oppia/oppia/wiki/Debugging-datastore-locally

[2022-08-18 07:01] #14003 closed, assigned to vojtechjelinek

[2022-08-18 07:02] vojtechjelinek commented on #8652
Closing as App.ts will be removed after Angular migration.

[2022-08-18 07:02] #8652 closed, assigned to vojtechjelinek

[2022-08-18 07:29] karenbanci commented on #15793
@sagangwee Please assign this to me

[2022-08-18 08:39] KolliAnitha opened #15921 "Image size is too big in the first page of What is a fraction chapter"
**Describe the bug**
Image size is too big in the first page of What is a fraction chapter

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to oppia.org
 2. Go to 'Learn' - Click on Fractions
 3. In Lessons, click on What is Fraction
 5. See the image

**Observed behavior**
Image size is too big compared to other images in the chapter

**Expected behavior**
Image size should be nominal

[2022-08-18 11:24] sahiljoster32 opened #15922 "Ambiguous type for the constructor of `TaskqueueServicesStub`."
**Describe the bug**
According to the implementation and docstring, the constructor of `TaskqueueServicesStub` should only accept `GenericTestBase`
https://github.com/oppia/oppia/blob/4ba04d87b7e8aea3953287ae183c8e7d1c0031b6/core/tests/test_utils.py#L817
But in `AppEngineTestBase` we are providing `self` while creating an instance of  `TaskqueueServicesStub` and here `self` is `AppEngineTestBase`

[2022-08-18 19:44] #15749 closed, assigned to mjsumpter

[2022-08-19 06:02] divyanshkhetan commented on #15756
@kevintab95 I'm currently assigned to a release critical issue. Can someone else look into this?

[2022-08-19 06:41] KolliAnitha opened #15923 "The content section is getting a border on selecting and clicking down arrow"
**Describe the bug**
The content section is getting a border on selecting and clicking down arrow

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Fractions'
 2. Click on 'What is a fraction'
 3. In the first page click on the content place holder and now press downward arrow
 4. See the page

**Observed behavior**
A black border is seen around the content

**Expected behavior**
Borde

[2022-08-19 08:26] #15889 closed, assigned to vojtechjelinek

[2022-08-19 08:26] #15898 closed, assigned to vojtechjelinek

[2022-08-19 08:26] #15888 closed, assigned to vojtechjelinek

[2022-08-19 08:26] #15890 closed, assigned to vojtechjelinek

[2022-08-19 12:18] Shivkant-Chauhan opened #15924 "Indentation problem in feedback checkbox"
**Describe the bug**
the checkbox of feedback form is not properly indented

**Observed behavior**
the checkbox touching the text

**Expected behavior**
the checkbox must have some margin

**Screenshots / Videos**
<img width="505" alt="image" src="https://user-images.githubusercontent.com/91013793/185615387-92fc3910-8078-459b-853e-cf2cbf51858f.png">

If applicable, add screenshots or videos to hel

[2022-08-19 12:18] vojtechjelinek commented on #9159
Fixed by Ankita some time ago, I tested it just few days agon.

[2022-08-19 12:18] #9159 closed, assigned to nobody

[2022-08-19 15:42] Shivkant-Chauhan commented on #15880
this issue is maybe in the production because the arrow is correctly positioned in my development server. I have checked it in Chrome, Safari, and Firefox browsers and the arrow behavior is correct.

[2022-08-19 16:33] vojtechjelinek opened #15927 "Integrate audit and normal migration jobs together"
Right now, the audit migration jobs are basically a copy of the normal migration jobs, this is not ideal as it can lead to skew. We should integrate them together using some common helper functions or Beam operations.

- [x] fix topic migration job (move code to transform and add the audit job back)
- [x] fix skill migration job (move code to transform and add the audit job back) -- https://github

[2022-08-20 04:31] #15386 closed, assigned to qinghaoyang

[2022-08-20 18:12] vojtechjelinek commented on #15886
Closing as this is a test server data issue and the model that causes this was created few moths ago so it is hard to understand what went wrong there.

[2022-08-20 18:12] #15886 closed, assigned to vojtechjelinek

[2022-08-20 20:24] rajattrehan-oppia commented on #15877
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Math classroom page on Desktop
 2. Scroll down to see topic tiles

**Observed behavior**
Topic tiles have no vertical spacing between them

**Screenshots / Videos**
![image](https://user-images.githubusercontent.com/102257991/185764898-d785d491-db2a-4eb8-9c80-b91d333fa037.png)

**Desktop (please complete the following information; delete

[2022-08-21 04:58] KolliAnitha opened #19986 "In concept cards, the separation line is not similar in all the cards"
**Describe the bug**
In concept cards, the separation line is not similar in all the cards.

**EDIT (seanlip):** We should create a "hr" horizontal line component in the rich-text editor for this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Percentages'- Open What is a Percentage
2. Click on 'add', subtract
3. Scroll down to view the separation lines in between

**Expected behavio

[2022-08-21 04:58] KolliAnitha opened #22160 "Create hr (horizontal line) component in rich-text editor."
**Describe the bug**
In concept cards, the separation line is not similar in all the cards.

**EDIT (seanlip):** We should create a "hr" horizontal line component in the rich-text editor for this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Percentages'- Open What is a Percentage
2. Click on 'add', subtract
3. Scroll down to view the separation lines in between

**Expected behavio

[2022-08-21 05:36] seanlip commented on #22160
This is a content issue.

However, the screenshots indicate a problem which is related to the Android app: links to concept cards do not seem to display in concept cards -- notice the missing text after "(i.e., changing it to its ..."). This probably needs to be fixed, /cc @BenHenning.

[2022-08-22 04:54] seanlip commented on #22160
I'm going to keep this one assigned to me and file a new issue for "links to concept cards do not seem to display in concept cards", since that's a separate issue that's related to oppia/oppia-android#4519.

[2022-08-22 04:59] seanlip commented on #22160
Filed oppia/oppia-android#4522 for the "missing concept cards" issue.

[2022-08-22 17:29] Lawful2002 commented on #15880
I can confirm this, this issue doesn't show up on the dev server for me.

[2022-08-22 17:44] Lawful2002 commented on #15759
@pallavimantri I am able to edit the end exploration interaction for existing explorations. Can you verify if this is still an issue?

[2022-08-22 17:53] Lawful2002 commented on #15757
@kevintab95 Done

[2022-08-22 17:57] kevintab95 commented on #15757
Thanks @Lawful2002! Hm, I'm not sure what is weird about the UI in the end card except for the overflow of text in the middle card. @nithinrdy could you please check if this works as expected (asking since we changed the UI for the end card recently)?

[2022-08-22 17:57] Lawful2002 commented on #15756
@Shivkant-Chauhan Will you be able to take it up?

[2022-08-22 18:01] #15730 closed, assigned to karenbanci

[2022-08-22 18:11] Lawful2002 commented on #15466
@paprajapati9 Is this issue completely resolved?

[2022-08-22 18:19] Lawful2002 commented on #15368
@zhixuanevelynwu Any updates?

[2022-08-22 18:28] e3ve35 commented on #15368
Sorry been quite busy lately. Could you unassign me for this?

[2022-08-22 19:48] kevintab95 commented on #15875
Hi @SanjaySajuJacob, any updates on this issue?

[2022-08-23 05:15] nithinrdy commented on #15757
The layout of the cards themselves is correct, although, like you pointed out, the overflowing text is an issue. I'll get to it soon as I get the time.

[2022-08-23 13:51] nithinrdy commented on #14815
Fixed by #15842.

[2022-08-23 13:51] #14815 closed, assigned to karenbanci

[2022-08-23 15:37] nithinrdy commented on #13734
This issue is no longer reproducible (at [oppiatestserver.org](https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE?collection_id=giIwhTU3up5v)):

![image](https://user-images.githubusercontent.com/78612244/186200801-0e043788-f437-4df2-86c3-1e587df75a05.png)

![image](https://user-images.githubusercontent.com/78612244/186200727-49caf09e-c0a3-4933-b996-dd2fda63a7f3.png)

[2022-08-23 15:37] #13734 closed, assigned to nobody

[2022-08-23 15:50] lkbhitesh07 opened #15935 "Unable to add other RTE tags inside `tabs` tag and `collapsibles` tag"
**Describe the bug**
We are unable to add any RTE tag inside the `tabs` or `collapsible` tag. For instance, when we try to add an image inside the `tabs` tag then the image editor will open at the back of the `tabs` editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to creators page
 2. Click on create exploration
 3. Try to add `tabs` or `collapsibles` tag and inside it try to add

[2022-08-23 15:51] lkbhitesh07 commented on #15935
Hey @kevintab95,
Will you please assign this issue to the appropriate contributor?
Thanks

[2022-08-23 16:59] yavik-kapadia commented on #10700
@srijanreddy98 could you assign me to a ObjectFactory please :D

[2022-08-23 22:47] kevintab95 commented on #15677
Closing since this appears to be fixed.

[2022-08-23 22:47] #15677 closed, assigned to IamEzio

[2022-08-23 23:03] kevintab95 opened #15936 "KeyError: 'buttonText'"
This error occurred recently in production for the URL `https://www.oppia.org/createhandler/autosave_draft/<exp_id>`

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are

[2022-08-23 23:09] kevintab95 opened #15937 "Cannot read properties of undefined (reading 'getStoryContents')"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-08-23 23:11] kevintab95 commented on #15937
This happens when refreshing the chapter editor page. The `StoryEditorStateService` is not initialized when this happens. Possible fix would be to render the page after the editor service has been initialised.

[2022-08-24 05:25] paprajapati9 commented on #15466
@Lawful2002 3rd Part is still left.

[2022-08-24 08:17] seanlip commented on #10211
This is actually not complete. See [this comment thread](https://github.com/oppia/oppia/pull/15916#discussion_r953475337) -- thanks @nithinrdy for raising this issue.

Also @U8NWXD based on this I am a bit worried that you might have closed issues that are actually not complete. Would you mind taking a look again at the ones you closed and seeing if there are any that you are not 100% sure about?

[2022-08-24 08:19] seanlip commented on #10211
Also, one thought @U8NWXD: I think we should perhaps require either proof that an issue is resolved, or a link to an associated merged PR, before closing an issue as fixed -- what do you think?

[2022-08-24 10:36] Shivkant-Chauhan commented on #15756
Sure @Lawful2002  I'll work on this issue.

[2022-08-24 12:25] SanjaySajuJacob commented on #15875
Hi @kevintab95, I am still working on it. @Lawful2002 had informed me that this was a high priority issue.

[2022-08-24 16:21] seanlip commented on #15521
This is actually a community-contributed content issue which we can't solve as part of the platform, so I'm closing this. (It's up to the author to make a valid exploration, and in general the main lessons whose validity we care about are the curated lessons.)

[2022-08-24 16:21] #15521 closed, assigned to nobody

[2022-08-24 16:37] nithinrdy commented on #14276
Closing the issue due to it not being descriptive enough. The actual problem isn't highlighed (Oppia already does have plenty of loading screens where needed).

[2022-08-24 16:37] #14276 closed, assigned to nobody

[2022-08-24 17:20] JianyiGao commented on #13162
Hello @Nik-09 would you please assign me any three handlers? Thanks!

[2022-08-24 17:33] kevintab95 commented on #15875
@SanjaySajuJacob please let us know if you're stuck or need any help. Feel free to leave updates on this thread (at least every 24 hours) so we know the status of it, this blocks the current release.