[2020-04-08 01:50] U8NWXD opened #9012 "Map Interaction Fails Offline"
**Describe the bug**
The maps in the map interaction do not load offline

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Disable your internet connection (Note: you will have to re-enable it briefly to get past the pencil code interaction)
 3. Work through the exploration until the map interaction

**Observed behavior**
Maps fail to l

[2020-04-08 01:51] U8NWXD commented on #9010
This also occurs later in the exploration when just attempting to display math:

![Screen Shot 2020-04-07 at 21 50 35](https://user-images.githubusercontent.com/19878639/78735926-e87ef880-7919-11ea-88e2-cf45f8eb488a.png)

[2020-04-08 02:00] U8NWXD opened #9013 "Community Dashboard Shows Empty Skill Difficulty Explanations"
**Describe the bug**
When a skill difficulty has no rubric, the community dashboard shows an empty difficulty explanation for submitted questions.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/community_dashboard
 2. Submit a question for the easy difficulty of "Place Holder"
 3. View the question under your contributions

**Observed behavior**
No

[2020-04-08 02:04] U8NWXD opened #9014 "Background Remains Gray Too Long on Community Dashboard"
**Describe the bug**
After closing a modal, the background of the community dashboard page stays gray for a while.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/community_dashboard
 2. Submit a suggested translation or question
 3. View your contribution
 4. Close the modal with your contribution

**Observed behavior**
The background stays gray fo

[2020-04-08 03:51] ayegnb commented on #9008
Hi, I would like to work on this issue! I'm new to Oppia, so I will need a little guidance.

[2020-04-08 06:57] mzaman07 commented on #8999
I have looked at this issue I think we have to wait for the speechsynthesis API to load properly. It does not load the first time automatically hence the necessity for the delay.

[2020-04-08 07:30] brianrodri commented on #9008
Hi @ayegnb, it's all yours! I'm happy to give you a starting point, and can be reached for questions on Gitter or through email (brian@brianrodri.com).

Happy coding :)

---
Here are the files I expect will need changing:
- [core/controllers/editor.py#L548](https://github.com/oppia/oppia/blob/84c00daefcda8174bf312e11106c31940b96fd4a/core/controllers/editor.py#L548) (backend)
- [core/controllers/ed

[2020-04-08 09:00] jimbyo commented on #9012
I noticed in Critical User Journey 26 the goal is to play the exploration offline up to the PencilCodeEditor interaction.  Would that make this issue and #9011 intended behaviors or do the goals need to be updated?
<img width="648" alt="Screen Shot 2020-04-08 at 1 59 23 AM" src="https://user-images.githubusercontent.com/35385366/78765281-a5824c80-793c-11ea-89bb-aac68617eaca.png">

[2020-04-08 09:26] MNSDivya opened #9015 "Unable to edit interaction feedback while creating exploration in Mobile"
**Describe the bug**
Unable to edit interaction feedback while creating exploration in Mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Login into Oppia
2. Start creating an exploration
3. Add an interaction and add a feedback
4. Now try editing the feedback

**Observed behavior**
Unable to edit interaction feedback while creating exploration in Mobile

**Expected behavior**
User shou

[2020-04-08 09:28] jimbyo opened #9016 "Console Error in Community Dashboard"
**Describe the bug**
In the community dashboard, pressing cancel on the suggest question or view modal raises a console error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Community dashboard
 2. Click on Submit Question
 3. Click on Suggest Question
 4. Click cancel
 5. See error

 or

 1. Go to Community dashboard
 2. Click on My contribution
 3. Click on View
 4. Click cancel
 5

[2020-04-08 09:34] MNSDivya opened #9017 "Interaction feedback input box and options are out of box in mobile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login into Oppia
2. Start creating an exploration
3. Add an interaction and add a feedback
4. Minimize the screen size to see the input box and options fully

**Observed behavior**
Interaction feedback input box and options are out of box in mobile

**Expected behavior**

[2020-04-08 09:39] jimbyo opened #9018 "Community Dashboard: Change the my contributions heading"
**Is your feature request related to a problem?
The My contribution heading on the Community dashboard doesn't match the style of the other headings.
For example, all the words are capitalized in the Submit Question or Translate Text headings, but "My contribution" heading does not follow this style.

**Describe the solution you'd like**
Change "My contribution", to "My Contributions"

**Describe

[2020-04-08 10:21] vojtechjelinek commented on #9012
This is expected (#8628), @nithusha21 coul you please add to the testing docs, that these interactions are expected to not load?

[2020-04-08 10:21] vojtechjelinek commented on #9011
This is expected (#8628), @nithusha21 could you please add to the testing docs, that these interactions are expected to not load? There is the mention that the testers should test only until PencilCodeEditor but it probably makes sense to also list the other two so these mistake issues do not happen.

Also, could the Fraction Input be put before the interactions that are not supposed to work offli

[2020-04-08 10:42] MonicaDJohnson commented on #8668
I would like to work on this particular issue, if at all possible. I am a beginner; I'm not sure where to start, but I want to help out!

[2020-04-08 10:55] deepankkartikey commented on #9005
@iamprayush Is anyone working on this?

[2020-04-08 11:59] bansalnitish commented on #8472
Hey @vinayakvvg, I see you've migrated the playthrough-issues-backend service. Also, you were assigned this `Learner-Answer-Details-Backend-Api.Service.ts` some days back. I want to confirm are you working on this?

[2020-04-08 12:43] vinayakvvg commented on #8472
Yes @bansalnitish, I have started working on it, will be making a PR shortly.

[2020-04-08 12:49] vojtechjelinek commented on #8999
@mzaman07 So there should be some kind of loading shown while we are waiting for the SpeechSynthesis API?

[2020-04-08 12:52] vojtechjelinek commented on #8347
@U8NWXD @seanlip Can we close this since it is an intended behaviour?

[2020-04-08 13:01] U8NWXD commented on #9009
This also happens on Chrome 80

[2020-04-08 13:04] U8NWXD opened #9020 "Continue Button has Wrong Outline"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Click through to the image selection interaction
 3. Click the constructor

**Observed behavior**
In the modal, the continue button has the wrong outline

**Expected behavior**
Right outline

**Screenshots**

![Scre

[2020-04-08 13:05] vojtechjelinek commented on #9011
Duplicate of #8628

[2020-04-08 13:05] vojtechjelinek commented on #9011
Duplicate of #8628

[2020-04-08 13:05] #9011 closed, assigned to nobody

[2020-04-08 13:06] U8NWXD commented on #9010
Also occurs in Chrome 80 and on iOS Firefox

[2020-04-08 13:08] U8NWXD commented on #9012
Ahh, sorry I missed that in the user journeys. Closing since this is expected.

[2020-04-08 13:08] #9012 closed, assigned to nobody

[2020-04-08 13:10] U8NWXD commented on #9014
Also occurs in Chrome 80

[2020-04-08 13:11] U8NWXD commented on #9013
Also occurs in chrome 80

[2020-04-08 13:23] U8NWXD opened #9021 "Community Dashboard Page Not Mobile-Friendly"
**Describe the bug**
The community dashboard page doesn't adapt well to mobile screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
 1. On a mobile device, go to https://oppiatestserver.appspot.com/community_dashboard

**Observed behavior**
See screenshot

**Expected behavior**
It should look better

**Screenshots**

<img width="375" alt="signal-2020-04-08-092024" src="https://user-ima

[2020-04-08 13:50] U8NWXD opened #9022 "Unclear How to Address Misconceptions in Skill Questions"
**Describe the bug**
When adding a question to a skill, it's unclear how to address misconceptions

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: macOS
 - Browser: Firefox 74, Chrome 80

[2020-04-08 14:37] U8NWXD commented on #8954
Something similar happened in #8976 ; see https://github.com/oppia/oppia/pull/8976#issuecomment-610718690

[2020-04-08 14:39] iamprayush commented on #9005
Hi @deepank120896!
You can work on this, if you want. Please make sure to sign the CLA [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) before starting. Thanks!

[2020-04-08 14:40] aggarwalpulkit596 commented on #7100
@seanlip @ankita240796 is this issue still open?

[2020-04-08 15:48] #8523 closed, assigned to varun-tandon

[2020-04-08 16:52] mzaman07 commented on #8999
@vojtechjelinek Now that you bring it up we might have to do changes like that. We might have to show something that will indicate the loading action. The SpeechSynthesis API is not loaded immediately on the page load but is loaded asynchronously.

https://wicg.github.io/speech-api/#dom-speechsynthesis-getvoices

Based on the above when the page is initially loaded it must return something when th

[2020-04-08 19:31] vmanisha5469 commented on #3783
Hello, can I be assigned to work on this? Thanks!

[2020-04-08 19:34] aggarwalpulkit596 commented on #7450
@kevintab95 can I take-up editor_test.ExplorationEditorLogoutTest

[2020-04-08 19:37] kevintab95 commented on #7450
@aggarwalpulkit596, done!

[2020-04-09 04:07] jimbyo opened #9024 "Unable go back from Topic Editor or Skill Editor page"
**Describe the bug**
When you are on a Topic Editor or Skill Editor page, clicking the back button will not redirect you to the previous page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topic and Skills Dashboard
 2. Click on create skill button
 3. Try to click on the back button.'
 4. See error
 or
 1. Go to Topic and Skills Dashboard
 2. Click on create topic button
 3. Try to

[2020-04-09 06:03] aggarwalpulkit596 commented on #7450
@kevintab95 there isn't a public function for this https://github.com/oppia/oppia/blob/0d5e3bf7f595377b65040f9f1dec73c179df79aa/core/domain/exp_services.py#L504
so should i make this function public or make a public function for this

[2020-04-09 07:14] donosco99 commented on #7620
@aks681, I can't reproduce this issue anymore, I think this might have been fixed in some previous PRs. Are you still able to reproduce this? Thanks
![question_editor](https://user-images.githubusercontent.com/31371571/78867949-9ea02a80-7a5f-11ea-9061-a6e66933a482.png)

[2020-04-09 07:17] donosco99 commented on #6707
Hi @iamprayush, Sorry for the late reply.
No, I couldn't work on this issue. You could take this up if you wish to.

[2020-04-09 11:48] aks681 commented on #7620
@donosco98 Not sure if it is present now, but can you expand one of those answer groups? The option was present in there. If nothing is there now, then you can go ahead and close the issue. Thanks!

[2020-04-09 11:54] bansalnitish commented on #8472
Awesome, thanks for the update @vinayakvvg

[2020-04-09 12:12] kevintab95 commented on #7450
Hm, can you use `update_exploration`?

[2020-04-09 13:39] nadintamer opened #9026 "Adding voiceover doesn't work on Chrome mobile"
**Describe the bug**
It's not possible to add voiceover to explorations on Chrome mobile because there is no way to provide the requested microphone permissions. However, it does work on Safari.

**To Reproduce**
Steps to reproduce the behavior:
 1. Use the Chrome mobile app
 2. Go to an exploration's Translations page
 3. In voiceover mode, click the record button

**Observed behavior**
There is

[2020-04-09 13:52] nadintamer opened #9027 "Translation mode not available on mobile"
**Describe the bug**
There is no way to switch from voiceover mode to translation mode on mobile.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the translations page of an exploration on mobile

**Observed behavior**
The button to switch to translation mode is not visible.

**Expected behavior**
The button should be visible.

**Screenshots**
![IMG_9275](https://user-images.githubuse

[2020-04-09 14:28] nadintamer commented on #9027
Sorry! Realised this was because the language was set as English--closing issue.

[2020-04-09 14:28] #9027 closed, assigned to nobody

[2020-04-09 15:31] ankita240796 commented on #7100
Yes, you can take this up @aggarwalpulkit596. Thanks!

[2020-04-09 17:03] nadintamer opened #9033 "Translated content doesn't render in exploration player"
**Describe the bug**
The content for an exploration appears in English even though there is another translation (in this case German) is available and the user's preferred exploration language is set to that language.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Add translations for another language
 3. Set the user's preferred exploration language to that langu

[2020-04-09 17:07] nadintamer opened #9034 "Translated explorations don't appear in library search"
**Describe the bug**
Explorations with translations don't appear in library searches by language except for when searching by the primary language that is set in the exploration's settings.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration (primary language English)
 2. Add translations
 3. When searching the library, set the language to the translated language

**Observ

[2020-04-09 18:00] nadintamer opened #9035 "Option to change site/exploration language in a more accessible place than preferences"
**Is your feature request related to a problem? Please describe.**
Having the only place to change the preferred site & exploration language be in Preferences is confusing, especially if the user doesn't speak English.
**Describe the solution you'd like**
- Having an accessible place throughout the entire site to change the overall site language (e.g. in the footer)
- Having the option to change t

[2020-04-09 18:37] NinaLoeterman opened #9036 "Continuing an exploration in progress unsuccessful in Safari browser"
If the learner leaves an exploration in progress on mobile, and then tries to go back to the dashboard to continue the exploration, the in-progress exploration does not appear.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start an exploration on mobile
 2. Leave in the middle
 3. Go to learner dashboard
 4. In progress explorations will not show the exploration in progress.

Note: This m

[2020-04-09 19:27] nadintamer opened #9037 "e2e_admin Flake"
Flakes seen:
* [ ] Original CircleCI link: https://circleci.com/gh/oppia/oppia/44617
* [ ] Similar flake on `develop` (bf33091) in CircleCI job [45977](https://circleci.com/gh/oppia/oppia/45977). See comment below.
* [ ] Recurrence of the `Expected 0 to equal 1` version of this flake in CircleCI job [46411](https://circleci.com/gh/oppia/oppia/46411) on develop (6a5ffe0)
* [ ] Recurrence of the `Ex

[2020-04-09 19:38] U8NWXD commented on #8884
This occurred in job [https://circleci.com/gh/oppia/oppia/44617](https://circleci.com/gh/oppia/oppia/44617) on PR #8985 .

[2020-04-09 19:43] kevintab95 opened #9038 "Tables in the feedback page look different on mobile"
**Describe the bug**
On mobile devices, the feedback page table headers and row contents are stacked one below the other.

**To Reproduce**
Steps to reproduce the behavior:

On a mobile device...
 1. Login as user X and add feedback or suggestions to an exploration created by user Y.
 2. Login as user Y.
 3. Edit the exploration mentioned in step 1 and navigate to the feedback page.
 4. Observe th

[2020-04-09 23:49] Showtim3 opened #9040 "Preferneces page looks broken in terms of width in mobile devices."
**Describe the bug**
A clear and concise description of what the bug is.

The navbar takes extra width outside the screen.
**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia.
 2. Click on preferences.
 3. See error

Reproducible on chrome dev tools as well as real device.
![image](https://user-images.githubusercontent.com/30312043/78949928-d30cf880-7aea-11ea-8ebd-3ef6586bbce0.png

[2020-04-10 00:05] Showtim3 commented on #9040
Okay so I debugged this a bit, and find this was being caused by line 77 in preferences-page.directive.html, will be submitting a patch for this.

[2020-04-10 00:09] Showtim3 commented on #8998
"By default, Firefox has no function for translation. If you often have to translate content, you can install an add-on like Google Translator for Firefox."
https://support.mozilla.org/en-US/questions/1074501

[2020-04-10 02:35] #857 closed

[2020-04-10 03:45] rainapark opened #9041 "Brower/Computer Issues when Card Name is too long"
Describe the bug
My computer ASUS Zenbook UX301LA and my roommate's macbook pro have issues with handling the error when the card name is too long.

![image](https://user-images.githubusercontent.com/40774402/78959703-aaf8a780-7aa0-11ea-9beb-5877e7c3c8af.png)
![image](https://user-images.githubusercontent.com/40774402/78960548-3ffca000-7aa3-11ea-9585-93ab362c6923.png)
![image](https://user-images.

[2020-04-10 03:54] rainapark opened #9042 "Mobile google account auto login"
Describe the bug
Issues with accidental log-in and being unable to log out.

To Reproduce
Steps to reproduce the behavior:

1. Open Oppia site on mobile browser
2. Click Sign-in with Google
3. Enter with an email that does not have an associated Oppia account
4. Refresh Browser/Close Browser/Re-enter site
5. Click Sign-in with Google

Observed behavior
Oppia automatically logs in with the incorrec

[2020-04-10 05:31] rainapark opened #9044 "No Side Scroll when making interaction"
Describe the bug
Was testing character limits in interactions and discovered that there is no side scroll.

To Reproduce
Steps to reproduce the behavior:

1. Create a Lesson
2. Best example interaction is the item selection
3. Make an option with an extremely long character answer
4. Attempt to side scroll back to the window

Observed behavior
Unable to side scroll
![image](https://user-images.git

[2020-04-10 06:05] rainapark opened #9045 "ItemSelection missing warnings when there is an error in the answers"
**Is your feature request related to a problem? Please describe.**
I am unable to create/save interactions, particularly item selection and though I know the problems there is no prompt telling me it is a problem
**Describe the solution you'd like**
Error prompts in interactions that tell me why I can't save
**Additional context**
When making interaction, I am unable to save when:
1. There are dup

[2020-04-10 14:49] vinayakvvg commented on #8472
@bansalnitish please assign `UserService.ts` to me.

[2020-04-10 15:17] feorgie commented on #8668
Like Monica above I'm also a beginner and keen to help out!

[2020-04-10 19:32] h-ARTS commented on #8472
@bansalnitish I think `editable-question-backend-api.service.spec.ts` needs `QuestionObjectFactory` to be migrated first. I'm going to assign another service to myself or should I just continue to work on it?

[2020-04-10 22:03] Arnesh07 commented on #8553
Hello @DubeySandeep ,
For any user to receive a random list of opportunities, we will have to shuffle the list.
And to make sure that every user receives the same list, we will have to shuffle it accordingly.
I was thinking if we could make use of the user_id of the user to generate a random number, by which we can shuffle the list to generate a new shuffled list.
For example: We add all the digit

[2020-04-11 01:27] #9010 closed, assigned to vojtechjelinek

[2020-04-11 08:04] bansalnitish commented on #8472
@h-ARTS You can take QuestionObjectFactory from me. Assigning you that too!

@vinayakvvg Assigned you UserService.

[2020-04-11 08:05] h-ARTS commented on #8472
@bansalnitish Thanks 🙂👍

[2020-04-11 10:28] Arnesh07 commented on #9005
Hello @deepank120896, I was wondering if you are still working on this? If not, I would like to take this issue.
Thanks!

[2020-04-11 12:57] aggarwalpulkit596 commented on #7100
@ankita240796 can you explain this which stats model are you taking about

[2020-04-11 15:58] U8NWXD opened #9052 "E2E Flake: Unable to bind localhost:21054"
Flakes seen:
* [ ] Failed on `develop` in CircleCI job [44869](https://circleci.com/gh/oppia/oppia/44869) in the accessibility suite
* [ ] A similar flake occurred in CircleCI job [44699](https://circleci.com/gh/oppia/oppia/44699) on `develop` (efd3492) in the E2E file upload features suite
* [ ] Observed on develop (ca5d54a) in CircleCI job [46819](https://circleci.com/gh/oppia/oppia/46819) with

[2020-04-11 16:08] U8NWXD opened #9053 "E2E Subscriptions Test Flake: Timeout while copying"
Flakes seen:
* [ ] TravisCI failed on `develop` in job [25765.21](https://travis-ci.com/github/oppia/oppia/jobs/317953443) in the subscriptions suite
* [ ] Similar flake on `develop` (84f4b66) in job [25911.5](https://travis-ci.com/github/oppia/oppia/jobs/319456719) in the subscriptions suite
* [ ] Seen on `develop` ( ac56e61 ) in Travis CI job [25995.10](https://travis-ci.com/github/oppia/oppia/j

[2020-04-11 16:26] nithusha21 commented on #9034
Hmmm, this is a good point. I think the explorations should surface right. /cc @DubeySandeep @mzaman07 @seanlip

[2020-04-11 16:28] nithusha21 commented on #9024
I think this is a feature that is intentionally disabled. /cc @aks681 @kevintab95

[2020-04-11 16:29] nithusha21 commented on #9021
@DubeySandeep do we want the initial version to work on mobile?

[2020-04-11 16:30] nithusha21 commented on #9017
@aks681 @kevintab95 I am not considering this blocking, but please take note of the bug and assign appropriate priority!

[2020-04-11 16:35] nithusha21 commented on #9000
@aks681 @kevintab95 Please take note!

[2020-04-11 17:02] vojtechjelinek commented on #8999
@mzaman07 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:02] vojtechjelinek commented on #8998
@mzaman07 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:03] vojtechjelinek commented on #8951
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:04] vojtechjelinek commented on #9005
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:05] vojtechjelinek commented on #9006
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:05] aks681 commented on #9024
This doesn't work in the exploration editor as well, so fixing this would require an overall editor fix. Not sure if it should be blocking as this has been there for quite some time now.

[2020-04-11 17:07] vojtechjelinek commented on #9007
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:07] aks681 commented on #9006
Yeah, I'll take this up. Will create a PR by today.

[2020-04-11 17:07] Showtim3 commented on #8668
Hey @MonicaDJohnson , go through the issue description, there's a doc explaining what's this issue about, that will give you some context on how you are supposed to work on this issue. Then pick a file from the above list and I'll assign that to you.

[2020-04-11 17:08] vojtechjelinek commented on #9009
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:09] vojtechjelinek commented on #9013
@DubeySandeep @sagangwee  Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:09] aks681 commented on #9007
I don't think this should be blocking as for one, this doesn't affect user experience. Also, this is an issue with the new uib-modal which was introduced a while back and this has been fixed in some modals already.
A complete fix for this would require going through all the modals in the codebase and fixing everything manually, I think,

[2020-04-11 17:11] vojtechjelinek commented on #9014
@DubeySandeep Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:13] vojtechjelinek commented on #9033
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:15] vojtechjelinek commented on #9024
@aks681 Do you have some issue for this already or should we keep it an just remove it from blocking?

[2020-04-11 17:16] vojtechjelinek commented on #9020
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:16] vojtechjelinek commented on #9036
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:19] vojtechjelinek commented on #9038
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:19] vojtechjelinek commented on #9040
@Showtim3 Can you confirm that you will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:21] vojtechjelinek commented on #9045
@aks681 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-11 17:23] vojtechjelinek commented on #9042
I think that this problem also can happen on a normal computer and is primarily caused by how we handle the sign-up process. Removing from blocking bugs but keeping as an important input.

[2020-04-11 17:26] U8NWXD commented on #9053
This may be the same as #8954, just with output in a buffer being printed

[2020-04-11 17:29] vojtechjelinek commented on #9007
Ok, seems reasonable, but let's keep the issue.

[2020-04-11 17:55] Showtim3 commented on #9040
Hey @vojtechjelinek Yeah, I'll be making a PR in a few hours.

[2020-04-11 18:28] DubeySandeep commented on #9021
@nithusha21, no the current version of the community dashboard page is not responsive but we will be making it responsive!

[2020-04-11 18:37] DubeySandeep commented on #8902
@U8NWXD, is it a duplicate of #8338?

[2020-04-11 18:40] U8NWXD commented on #8565
@amanbora how did you fix the `IOError: [Errno socket error] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:727)`? @NinaLoeterman is running into this issue as well

[2020-04-11 20:02] nadintamer opened #9057 "E2E test flake: coreEditorAndPlayerFeatures"
Seen:
* [ ] Once in the original
* [ ] Recurred on develop ( d691881 ) in TravisCI job [26075.6](https://travis-ci.com/github/oppia/oppia/jobs/323251732)

Travis-CI log:
[code]

[2020-04-11 20:09] Arnesh07 commented on #8553
Assigning @DubeySandeep for a check on the comment.

[2020-04-11 20:20] DubeySandeep commented on #8553
Hi @Arnesh07, Thanks for showing interest in this issue, the basic idea that you have suggested in the comment above seems reasonable. I would suggest you create a small doc with details on architectural overview and implementation details and once the design doc gets approval, you can go ahead and implement it. Let me know if you have any questions?

Note: You can find the [design doc template on

[2020-04-11 20:33] sagangwee commented on #9013
@vojtechjelinek I'll address it in #9058

[2020-04-11 20:51] ankita240796 commented on #7100
Hey @aggarwalpulkit596, please check the models in this file: https://github.com/oppia/oppia/blob/develop/core/storage/statistics/gae_models.py

[2020-04-11 20:52] aggarwalpulkit596 commented on #7100
Thanks I'll take a look

[2020-04-11 22:50] Showtim3 commented on #8668
Hey @feorgie you can start from [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up).

[2020-04-12 04:17] #9040 closed, assigned to Showtim3

[2020-04-12 04:32] seanlip commented on #9034
Yes, I think this is a good idea. Thanks for catching it, @nadintamer!

Support for translations was added only after the library search functionality was built, so technically this is a feature request. I am assigning it to the LaCE team but I do not think this needs to be treated as a blocking bug for the April 2020 release.

[2020-04-12 07:35] seanlip opened #9063 "Add functionality to get the set of interactions that are used in an exploration."
This is a feature request for the Admin page (located at /admin).

In the Misc tab, it would be nice to have a section where you can enter an exploration ID, click a button, and get the set of interaction IDs that that exploration contains. This is much easier than clicking through all the states in the exploration manually, and is useful for determining which interactions we will need to implemen

[2020-04-12 07:41] aggarwalpulkit596 commented on #9063
@seanlip can you assign this to me

[2020-04-12 08:10] seanlip commented on #9063
Done!

[2020-04-12 09:33] nithusha21 opened #9065 "Topic editor publish button looks clickable but it isn't"
**Describe the bug**
The publish topic button is in a weird state in the topic editor, and looks clickable (thought it feels duller than when it is active). On hover, the color changes, which makes it feel like it is clickable, but nothing happens on click.
![image](https://user-images.githubusercontent.com/11898234/79065428-dca28600-7ccd-11ea-9341-098fb14d074d.png)

Probably, this is because I di

[2020-04-12 09:41] nithusha21 opened #9066 "The topic preview allows spaces in the URL, ideally they should be escaped"
**Describe the bug**
On creating a topic name with spaces, the player page (or the preview page) URL for that topic has spaces, and instead, they should be escaped to URLsafe characters.
![image](https://user-images.githubusercontent.com/11898234/79065604-6141d400-7ccf-11ea-8a66-9db06a9ac876.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a space in the name
 2. Cli

[2020-04-12 10:52] Showtim3 commented on #9036
Decided in the LaCE meeting that I'll be taking this up..de-assigning Akshay and assigning myself.

[2020-04-12 13:17] Arnesh07 commented on #8553
Hi @DubeySandeep , Here is the [Design Doc](https://docs.google.com/document/d/12iNqjfGHUa6q8PVdHMmlYq_xZ0a-ON6mBHe9FBqxX10/edit?usp=sharing) for the solution of this issue.
Assigning you for a pass on the document.
Thanks!

[2020-04-12 13:30] vojtechjelinek commented on #9065
@aks681 @kevintab95 Can you confirm that you or someone from your team will fix this issue for this release (by Apr 13)? If yes, please update the status of this issue at least daily.

[2020-04-12 13:36] #9003 closed, assigned to sagangwee

[2020-04-12 13:36] #9013 closed, assigned to sagangwee, DubeySandeep

[2020-04-12 14:32] iamprayush commented on #8951
I'm working on this and I'll try and get a PR in by tomorrow.

[2020-04-12 14:32] iamprayush commented on #9045
I'm working on this and I'll try and get a PR in by tomorrow.

[2020-04-12 14:43] vojtechjelinek commented on #9045
@iamprayush Thanks, keeping @aks681 assigned since he is responsible as a team lead.

[2020-04-12 14:43] vojtechjelinek commented on #8951
@iamprayush Thanks, keeping @aks681 assigned since he is responsible as a team lead.

[2020-04-12 14:54] kevintab95 commented on #9065
Hi @vojtechjelinek, yep. I'll work on it and get it done by Apr 13. Thanks!

[2020-04-12 15:09] kevintab95 commented on #9038
Hi @vojtechjelinek, I'll be taking this up. Thanks!

[2020-04-12 18:14] U8NWXD commented on #8902
@DubeySandeep yes, I believe it is. Thanks for pointing that out! I'm closing since this is a duplicate

[2020-04-12 18:14] #8902 closed, assigned to nobody

[2020-04-12 19:24] tjinjoy commented on #3369
@kevinlee12  If this is still available, I would be willing to pick it up.

[2020-04-12 19:29] Arnesh07 commented on #8553
@DubeySandeep Just a reminder, did you take a look at the doc? If yes, can I go ahead and implement this?

[2020-04-12 19:32] krishnarao22 commented on #6240
Hi, I'm new to Oppia! Really excited to get started! :)

@U8NWXD Could I please be assigned the task – "Create, edit, and play all explorations" – if it's still available?

[2020-04-12 19:36] mzaman07 commented on #8838
I think instead of running around in circles I think working with someone who can reproduce this will help me figure out a way to solve this.

[2020-04-12 21:18] Arnesh07 commented on #7448
Hi @sophiewu6  and @aks681 , I think there is no one currently working on this issue. So can I please be assigned this?
I saw that this issue was a result of #7366, and we need a check for the skills.
Just a question, how would we be selecting low-level mastery skills?
One way could be just to select the skills with the least amount of prerequisite skills.
Thanks!

[2020-04-12 22:00] nishantwrp commented on #9001
@vojtechjelinek We use it in three more files that are `extensions/objects/templates/parameter-name-editor.directive.html`, `extensions/objects/templates/fraction-editor.directive.html`, `extensions/objects/templates/filepath-editor.directive.html`.

[2020-04-12 22:23] Showtim3 commented on #8423
Hey @sori3006 any updates? Let us know if you need any help.

[2020-04-12 22:33] Showtim3 commented on #8668
Hey @lelouchB What's up?

[2020-04-13 00:19] sophiewu6 commented on #7448
Hi @Arnesh07 Feel free to work on this issue!

About your question, I think skill mastery is ranged between 0.0 to 1.0, so you could just sort the skills based on their mastery level value and get those skills with the lowest mastery.

[2020-04-13 02:42] seanlip commented on #3369
Hi @tjinjoy, welcome! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, feel free to take a look at this, although we would suggest picking one of the existing starter issues to begin with if this is your first encounter with the codebase. Thanks!

[2020-04-13 04:45] mzaman07 commented on #8999
I think I need some time for this, so I don't think this is going to resolve quickly. I have to think about the automated tests and manually check against every browser.

[2020-04-13 05:03] mzaman07 commented on #8998
Check this [post](https://github.com/oppia/oppia/issues/8999#issuecomment-612747813).

[2020-04-13 07:54] DubeySandeep commented on #8553
Hi @Arnesh07, Thanks for sharing the doc, I've reviewed it and left 2 comments PTAL!

[2020-04-13 09:24] vojtechjelinek commented on #8999
@nithusha21 Is it okay to remove this and #8998 from the blocking bugs?

[2020-04-13 09:29] vojtechjelinek commented on #9001
@nishantwrp True, thanks!

[2020-04-13 10:07] krishnarao22 commented on #4057
Hi, could I please be assigned to classroom-backend-api.service.ts?

[2020-04-13 10:10] Arnesh07 commented on #8553
Thanks for the review @DubeySandeep
I have replied to your comments. PTAL.
Thanks!

[2020-04-13 11:45] nishantwrp commented on #4057
@krishnarao22 Assigned you!

[2020-04-13 11:47] abhayraghuwanshi commented on #8189
hi @aks681, can you explain a little bit about the `This is a tracking issue to deprecate the ENABLE_PREREQUISITE_SKILLS flag once the fractions collections has been successfully migrated to the new structures.`
thanks

[2020-04-13 14:28] DubeySandeep commented on #9033
Currently, the translated texts are only used for voiceover by voice-artist. In the future, we will be present exploration with translated text. The audio and translation team is working on that!

[2020-04-13 14:42] aks681 commented on #8189
It just means that we have to remove that field at some point, but since it doesn't hinder anything else and there are higher priority tasks to do right now, we aren't removing it currently and created an issue just as a reminder to do this at some point.

[2020-04-13 14:54] vojtechjelinek commented on #9036
@Showtim3 Any update here?

[2020-04-13 16:35] U8NWXD commented on #6240
@krishnarao22 I've assigned you. Welcome to Oppia!

[2020-04-13 17:00] #9020 closed, assigned to kevintab95

[2020-04-13 17:00] #9038 closed, assigned to kevintab95

[2020-04-13 17:00] #9065 closed, assigned to kevintab95, aks681

[2020-04-14 00:42] #8954 closed, assigned to nobody

[2020-04-14 00:43] #8884 closed, assigned to U8NWXD

[2020-04-14 06:47] abhayraghuwanshi commented on #8189
Hii @aks681 I understand the second part.
Is 1st part include removing the block below and related stuff
[code]
and
[code]

[2020-04-14 06:51] kevintab95 opened #9079 "Run CI builds after merging from develop"
**Is your feature request related to a problem? Please describe.**
CI builds currently run on the feature branch. This can sometimes lead to race conditions occurring when another PR X is merged that introduces some changes that would fail for PR Y merged later on (eg. PR X introduces a new lint rule that fails for PR Y).

**Describe the solution you'd like**
Make CI builds run with the latest dev

[2020-04-14 10:26] #9006 closed, assigned to aks681

[2020-04-14 10:26] #9009 closed, assigned to aks681

[2020-04-14 12:11] Showtim3 commented on #9036
Ok so this is a safari specific issue, I am able to reproduce this macOs - safari but i am not able to understand what's causing this.

[2020-04-14 12:27] #8951 closed, assigned to aks681, iamprayush

[2020-04-14 12:29] DubeySandeep commented on #9015
We don't support exploration creation in small devices, I think the UI should mention this through a pop-up modal.

@oppia/qa-team, Can we explicitly mention this to testers (or add this in CUJs doc) so that testers don't spend time testing unexpected UIs (till we have the UI modal explaining users to not edit exploration on small devices.)?
/cc @nithusha21

[2020-04-14 12:31] DubeySandeep commented on #9016
@jimbyo, Thanks for reporting the issue, I've resolved this issue, I'm marking this as blocking bug!

@vojtechjelinek, I'm not sure why these issues are not triaged yet? Can you please check this with the QA team?

[2020-04-14 12:32] DubeySandeep commented on #9016
Update: PR #9071 resolves this issue.

[2020-04-14 12:35] DubeySandeep commented on #9017
We don't allow users to create exploration on small devices and we have another issue to make sure that users get this information in the UI.

Closing this issue.

[2020-04-14 12:35] #9017 closed, assigned to nobody

[2020-04-14 12:35] vojtechjelinek commented on #9016
I assume there were triaged but not decided as a blocking bug? cc @nithusha21

[2020-04-14 12:37] DubeySandeep commented on #9018
@seanlip & @nithusha21 Any suggestion on this? We have changed this as per our discussion, so I wanted to check whether we want to update the name.

[2020-04-14 13:00] DubeySandeep commented on #9026
@nadintamer, We don't expect users to edit exploration on small devices. We are working on creating a UI that informs users about this info.

Closing this issue.

[2020-04-14 13:00] #9026 closed, assigned to nobody

[2020-04-14 13:08] nithusha21 commented on #9016
Hi I am sorry I somehow missed this as I didn't realise @jimbyo was one of the testers. I got mixed up between names and user ids... Sorry about the confusion...

[2020-04-14 13:21] DubeySandeep commented on #9044
@nithuha21 Should we mark this as a blocking bug?

[2020-04-14 13:22] DubeySandeep commented on #9044
@nithusha21 Should we mark this as a blocking bug?

[2020-04-14 15:08] #9045 closed, assigned to aks681, iamprayush

[2020-04-14 16:25] Showtim3 commented on #9036
![image](https://user-images.githubusercontent.com/30312043/79249271-a403d780-7e9a-11ea-9bc8-81fa68a527cc.png)

[2020-04-14 16:40] seanlip commented on #9018
@DubeySandeep could you please confirm what the current status is? I can't remember where our discussion ended up.

[2020-04-14 16:50] vojtechjelinek commented on #9036
Maybe some CORS related problems? Is there any additional info? I cannot delve into this because I don't have MacOS.

[2020-04-14 17:13] U8NWXD opened #9085 "E2E Topic and Story Editor File Upload Features Flake: Create Topic button takes too long to be clickable"
Seen:
* [ ] Original: Flaked on `develop` (360957a) in job [45612](https://circleci.com/gh/oppia/oppia/45612).
* [ ] Recurred on develop (c0b4c1e) in job [48051](https://circleci.com/gh/oppia/oppia/48051) on classroom page suite

To try and reproduce:
[code]

CircleCI Log:

[code]

[2020-04-14 17:17] U8NWXD opened #9086 "Classroom Page E2E Flake: protractor-test-photo-clickable element not found"
Seen:
* [ ] Original: Failed on `develop` (a539a5d) in build [45595](https://circleci.com/gh/oppia/oppia/45595).
* [ ] Also occurred in the classroom page suite in CircleCI job [44218](https://circleci.com/gh/oppia/oppia/44218) on `develop` (84c00da)

To reproduce:

[code]

[code]

[2020-04-14 17:23] U8NWXD commented on #9052
A similar flake occurred in CircleCI job [44699](https://circleci.com/gh/oppia/oppia/44699) on `develop` (efd3492) in the E2E file upload features suite

[2020-04-14 17:27] U8NWXD commented on #9086
Also occurred in the classroom page suite in CircleCI job [44218](https://circleci.com/gh/oppia/oppia/44218) on `develop` (84c00da)

[2020-04-14 18:38] DubeySandeep commented on #9018
![image](https://user-images.githubusercontent.com/16653571/79261173-141b5900-7ead-11ea-9594-b96fcc9c8d27.png)

This is as per our discussion^ I have updated all the suggestions Nithesh and you had made in that thread.

[2020-04-14 18:41] seanlip commented on #9018
Ah, I see. It should be "My Contributions" as @jimbyo said (for the reasons he gave).

[2020-04-14 19:03] DubeySandeep commented on #9018
Thanks for the suggestion @seanlip, marking this as blocking bug and I'll create a PR for the same!

[2020-04-14 20:29] U8NWXD commented on #8891
Also occurred in CircleCI job [43988](https://circleci.com/gh/oppia/oppia/43988) on `develop` (c34b7b2)

[2020-04-15 01:17] U8NWXD commented on #8338
Recurred in TravisCI job [25901.15](https://travis-ci.com/github/oppia/oppia/jobs/319321782) on PR #9081

[2020-04-15 02:51] #9005 closed, assigned to Arnesh07

[2020-04-15 04:04] jimbyo commented on #8038
Hey can I get assigned to exploration-editor-page.controller.ts

[2020-04-15 04:19] jimbyo commented on #8038
Hmm, I don't think exploration-editor-page.controller.ts sends any HTTP requests @DubeySandeep could you take a look? Also, could I be assigned to exploration-creation.service.ts instead

[2020-04-15 04:20] seanlip commented on #8038
Hi @jimbyo -- assigned you, thanks! (Actually, as a collaborator, I think you can also edit the original comment and assign yourself directly -- is that right?)

I'll need to defer to @DubeySandeep to answer your other question though!

[2020-04-15 04:24] jimbyo commented on #8038
Thank you @seanlip I'll keep that in mind for the future!

[2020-04-15 08:40] vojtechjelinek commented on #9036
@Showtim3 Any progress? Do you need help with anything?

[2020-04-15 09:50] DubeySandeep commented on #9000
@nithusha21, I don't think we support exploration creation on small devices and we are thinking of presenting this info to mobile users through a modal. If that's true then we can close this issue, right?

[2020-04-15 09:52] DubeySandeep commented on #8999
@nithusha21, can you please confirm whether this is a blocking bug? (I'm re-assigning this to blocking bug until he confirms.)

[2020-04-15 09:55] DubeySandeep commented on #8998
@vojtechjelinek, Can you please add the reason for removing this from "Blocking bugs" in a comment? (Just wanted to have all the info in this issue thread. Thanks!)

[2020-04-15 10:04] vojtechjelinek commented on #8998
The same reason as in #8999 I assume this is a more complicated issue and @mzaman07 won't be able to repair this in short time.

[2020-04-15 10:49] #9018 closed, assigned to nithusha21, DubeySandeep

[2020-04-15 10:55] DubeySandeep commented on #8998
Ah, let's not decide the Blocking bug based on whether a specific contributor has time to resolve it. I would suggest deciding this based on whether this is a user-facing serious bug or whether it can block anyone to use the Oppia platform etc. Considering these points, I think this can block anyone to play autogenerated audio but I'm not sure whether this need to be resolved before the release, @

[2020-04-15 13:31] aggarwalpulkit596 commented on #9063
@seanlip sorry for the delay
I will start working on this now wasn't well before so I couldn't start working on this.

[2020-04-15 14:19] Showtim3 commented on #9036
Hey @vojtechjelinek, Yeah I also think it is a CORS issue specific to Safari, and I tried adding some headers in the backend(access-control-allow-origin and such), but no success. Seems like I'd need some more time or help.

[2020-04-15 14:22] vojtechjelinek commented on #9036
@ankita240796 Mentioned that she will also look into this.

[2020-04-15 19:00] DubeySandeep commented on #8993
Assigned @Hudda, as per discussion [here](https://github.com/oppia/oppia/pull/8656#discussion_r408886179).

[2020-04-15 20:35] Arnesh07 commented on #8553
@DubeySandeep Any updates here?

[2020-04-15 23:18] seanlip commented on #9063
No worries. Thanks for the update and I hope you are feeling better!

[2020-04-16 01:02] U8NWXD opened #9097 "Exploration Statistics Tab E2E Flake: No element found using locator: by.cssContainingText("option", "admin")"
Failed on `develop` (0a32100) in TravisCI Job [25798.11](https://travis-ci.com/github/oppia/oppia/jobs/318492353)

Log:

[code]

[2020-04-16 01:05] U8NWXD commented on #9053
Similar flake on `develop` (84f4b66) in job [25911.5](https://travis-ci.com/github/oppia/oppia/jobs/319456719)

[2020-04-16 01:09] U8NWXD commented on #9037
Similar flake on `develop` (bf33091) in CircleCI job [45977](https://circleci.com/gh/oppia/oppia/45977)

[code]

[2020-04-16 01:13] U8NWXD opened #9098 "Skill Editor E2E Flake: protractor-test-skill-description-field not found"
Flakes Seen:
* [ ] `develop` ( bf33091 ) in TravisCI job [25926.20](https://travis-ci.com/github/oppia/oppia/jobs/319828306)

[code]

[2020-04-16 01:15] U8NWXD opened #9099 "Admin Page E2E Flake: should run,verify and stop one-off jobs Expected 1 to equal 0"
Seen:
* [ ] Original: Failed on `develop` (df13333) in CircleCI Job [45720](https://circleci.com/gh/oppia/oppia/45720)
* [ ] Similar flake seen, but with `Expected 2 to equal 1` error, on develop (25adfb7) in CircleCI job [47045](https://circleci.com/gh/oppia/oppia/47045)

[code]

[2020-04-16 01:19] U8NWXD opened #9100 "E2E Flake: No element found using locator: by.cssContainingText("option", "admin")"
Occurrences:
* [ ] Original Failed on `develop` (9a1f6a2) on CircleCI job [45892](https://circleci.com/gh/oppia/oppia/45892) in the classroom suite
* [ ] Also on `develop` (5668f52) in TravisCI Job [25927.20](https://travis-ci.com/github/oppia/oppia/jobs/320694272) in the skill editor suite
* [ ] Failed on `develop` (0a32100) in TravisCI Job [25798.11](https://travis-ci.com/github/oppia/oppia/jobs

[2020-04-16 11:52] nishcthulhu commented on #8472
@bansalnitish could you assign me a few files as well to work on?

[2020-04-16 12:26] aks681 opened #9102 "Remove the abbreviated topic name field from the codebase"
This is a tracking issue to completely remove all instances of `abbreviated_name` from the codebase, since that field is no longer required.

The field has been removed from the UI in #9087, so this issue aim to remove it from everywhere else.

[2020-04-16 15:09] aggarwalpulkit596 commented on #9063
@seanlip can you tell where to look for the get method or there isn't any method for this particular request ? i couldn't find any in admin.py

[2020-04-16 16:13] vojtechjelinek commented on #9036
@ankita240796 @Showtim3 Any updates here?

[2020-04-16 16:25] nithusha21 commented on #8999
Hi, sorry for the delayed response. Please fix this bug with high priority. The reasons I think this need not necessarily blocking is
1. We have got feedback from the user studies that auto generated audio doesn't help learners as much as they don't really understand what is said.
2. This happens on a specific browser, and most likely has broken due to unknown reasons, which need not necessarily h

[2020-04-16 16:26] nithusha21 commented on #8998
https://github.com/oppia/oppia/issues/8999#issuecomment-614756187

Similar context here as it addresses the same issue on a different browser

[2020-04-16 17:26] nishcthulhu commented on #8038
@Showtim3 @DubeySandeep please do let me knwo which files you want me to work on

[2020-04-16 20:58] robatras commented on #8038
Hi, I am no longer working on community-dashboard-page/services/contribution-and-review.services.ts anymore.

[2020-04-16 21:19] mzaman07 commented on #8999
Yes, I think so, I will have a GAE test environment deployed to showcase the solution.

[2020-04-16 21:22] mzaman07 commented on #8998
see [here](https://github.com/oppia/oppia/issues/8999#issuecomment-614902048) #8999

[2020-04-16 21:56] seanlip commented on #9063
There's no method yet. The point of this issue is to implement it (full-stack).

[2020-04-16 22:13] abhayraghuwanshi commented on #9102
Hii @aks681. I think its `abbreviated_name`  not `abbreviated_topic_name`.
I would like to work on this one. Should I assign it after the #9087 gets merges.
Thanks

[2020-04-17 03:47] aggarwalpulkit596 commented on #9063
@seanlip  I've completed the frontend part can you help me a bit for the backend i need to understand from where i can start i was able to a couple of things like there is annotation which will restrict the corresponding api to admin handler only but couldn't fully each and every thing

[2020-04-17 03:57] seanlip commented on #9063
You may find the [codebase overview](https://github.com/oppia/oppia/wiki/Overview-of-the-Oppia-codebase) helpful, but otherwise my recommendation is to look at existing handlers and see how they work. The "annotations" you mention are called "decorators" -- look up that concept in Python, and search the codebase to see how a decorator is implemented. Otherwise, if you have more specific questions,

[2020-04-17 04:03] aggarwalpulkit596 commented on #9063
Okay i will take a look thanks🙂

[2020-04-17 08:05] vojtechjelinek opened #9106 "Karma/Webpack compilation error "Can't resolve 'fs'""
Some new libraries are causing error in the webpack compilation in frontend tests.

[code]
(https://app.circleci.com/pipelines/github/oppia/oppia/9201/workflows/1e11e6aa-2b35-43de-90ed-8825a6a816af/jobs/46132)

Thus we can't really upgrade the libraries that we use as in #9103.

cc @kevinlee12 @nishantwrp

[2020-04-17 12:03] Showtim3 commented on #8038
@nishcthulhu Hey Nishant, you can pick any file from the above list as you wish which is unassigned(doesn't have a username assigned to it).

[2020-04-17 12:12] nishantwrp commented on #9106
@vojtechjelinek I think it is due to a library has got a `index.spec.ts` file. I think combined-tests.spec.ts should not look into node_modules for spec files. Can we modify `combined-tests.spec.ts` to exclude node_modules?

[2020-04-17 12:13] vojtechjelinek commented on #9106
@nishantwrp Yeah, I'm working on fix right now.

[2020-04-17 14:05] ankita240796 commented on #9036
Hey @vojtechjelinek, sorry for the delay. I will try to fix it by today EOD. Thanks!

[2020-04-17 15:39] kevintab95 commented on #8945
Seems to be a duplicate of #8758.

[2020-04-18 08:16] Showtim3 commented on #9036
Hey @ankita240796 In `conversation-skin-directive.ts`, line 1259 we have `StatsReportingService.recordMaybeLeaveEvent` being called, which leads to `stats-reporting.service.ts` line number 336, it makes a backend API call which fails in Safari due to some CORS issue(it's kind of flaky, 3 out of 10 times it seems to work).

[2020-04-18 08:23] Showtim3 commented on #8545
Hey guys, @seanlip @aks681 @kevintab95, So I took a look at this issue and it seems like it says above for **realtime errors** but in the fraction input, it was just an error string and not realtime errors. So for numeric input(this issue), what direction should I proceed?  (Adding realtime errors will bring inconsistency in behaviors).

[2020-04-18 08:41] Showtim3 commented on #8545
Adding some more context, so the error string is a generic error string and is not dynamic on the basis of the error occurring. Should I follow the same pattern for numeric input?
![image](https://user-images.githubusercontent.com/30312043/79632650-516a3a00-817e-11ea-9012-07423aecd4fd.png)
And this is what happens for Numeric Input(Error String is missing)
![image](https://user-images.githubuserco

[2020-04-18 08:50] seanlip commented on #8545
For both interactions, let's have specific error messages that show up in real time (or whatever you think that the most student-friendly approach would be).

[2020-04-18 15:02] aggarwalpulkit596 commented on #9063
@seanlip so i was able to understand a bit about the architecture just wanted to confirm that i'm moving in the right direction
So, first of all, i have to get the exploration object from exp_fetchers using get_exploration_by_id  funtionc and every exploration object has states in which there is an interaction object where i can get the id correct?

[2020-04-18 17:24] bansalnitish commented on #8472
Hi @nishcthulhu, Could you please specify which file do you want to work on?

[2020-04-18 22:02] #8993 closed, assigned to Hudda

[2020-04-18 23:58] seanlip commented on #9063
Yes.

[2020-04-19 00:24] kevintab95 commented on #8342
Hi @vojtechjelinek, I'm planning to remove the usage of Cropper (newly introduced library) as part of #9095. Shall I change this issue to "remove Cropper" instead and close this once #9095 goes in?

[2020-04-19 08:26] ankita240796 commented on #9036
Hey @Showtim3 @aks681, I am not able to find a solution to this one -- does either one of you has more insight on this? Thanks!

[2020-04-19 09:31] vojtechjelinek commented on #8342
@kevintab95 Looking at it I would still be for replacing ngImgCrop with Cropper, the reason being that Cropper is maintained library and ngImgCrop wasn't updated for around 5 years.

The Cropper library is a bit bigger around 10 KB but can be imported via webpack thus only raising the size of the preferences page, so if we sum the size of all pages in will be reduced due to the removal of ngImgCro

[2020-04-19 10:25] Showtim3 commented on #9036
Screenshot from the test server.
![image](https://user-images.githubusercontent.com/30312043/79685377-19cec100-8256-11ea-920e-a17b4177fd9a.png)

[2020-04-19 10:59] h-ARTS commented on #8891
It occurs also on Job [46573](https://circleci.com/gh/oppia/oppia/46573?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) in PR https://github.com/oppia/oppia/pull/9239/ with one additional Failure:
[code]

[2020-04-19 11:08] h-ARTS opened #9113 "E2E_Library Flake: Cannot read property 'isPresent' of undefined"
Occurrences:
* [ ] Originally occurred in PR https://github.com/oppia/oppia/pull/9239/ in Job [46571](https://circleci.com/gh/oppia/oppia/46571?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)
[code]

[2020-04-19 11:29] vojtechjelinek commented on #9036
@Showtim3 is there any more info included if you expand the errors?

[2020-04-19 11:49] vojtechjelinek commented on #9036
It seems to me that for some reason Safari is treating a same-origin request as a cross-origin request, in these cases, Safari sometimes sends preflight OPTIONS request but these are [hidden in the Safari dev console](https://stackoverflow.com/questions/58224023/why-dont-i-see-preflight-method-options-xhr-requests-in-safari-developer-too). Using some intercepting tools like Wireshark might help he

[2020-04-19 12:17] Vinit-Dantkale commented on #5747
Hey @mzaman07 , what I understand from doc is you're to make height of all sub-tabs equal to the largest among them. So while recording, do we have to scroll the page if the content is long enough?
I had something like scrolling down on hover on my mind.

[2020-04-19 14:10] vojtechjelinek commented on #9016
Not fixed for the "Suggest Question" modal in the "Submit Question" tab.
![image](https://user-images.githubusercontent.com/10142938/79689938-353acb80-8258-11ea-896a-20f987b0ed98.png)

[2020-04-19 14:10] vojtechjelinek commented on #9014
Not fixed for the "Suggest Question" modal in the "Submit Question" tab.
![image](https://user-images.githubusercontent.com/10142938/79689938-353acb80-8258-11ea-896a-20f987b0ed98.png)

[2020-04-19 14:47] vojtechjelinek commented on #9016
Fix in
https://github.com/oppia/oppia/blob/ae649aa08f1375457ec9e3c90257197b68fec7cd/core/templates/pages/story-editor-page/editor-tab/story-editor.directive.ts#L181
https://github.com/oppia/oppia/blob/a539a5dd6d25b47f73793201b6fc43ac1f41398e/core/templates/pages/story-editor-page/editor-tab/story-node-editor.directive.ts#L295
https://github.com/oppia/oppia/blob/efd34925b5dc6b2c429c75465ba7d364ff4f

[2020-04-19 15:17] kevintab95 commented on #8342
Ah I see. Yes, in that case we should keep it. I'll replace ngImgCrop with Cropper in that case. Thanks!

Update: I'll do this as part of #9095

[2020-04-19 16:50] #5254 closed, assigned to rohitkatlaa

[2020-04-19 18:41] tjinjoy commented on #3369
@seanlip I have followed through with the setup instructions and made some changes to the code from a new branch. I checked against the style guide/tested in a local instance and am running the tests on this page https://github.com/oppia/oppia/wiki/Running-Tests. Is there anything else I should do before committing the changes? Thank you!!

[2020-04-19 19:49] vojtechjelinek commented on #9036
After discution with the release team we decided to remove this from Blocking bugs for this release

[2020-04-19 20:27] #8816 closed, assigned to vojtechjelinek

[2020-04-19 20:29] vojtechjelinek commented on #8448
Fixed in #8540

[2020-04-19 20:29] #8448 closed, assigned to vojtechjelinek

[2020-04-20 00:26] Wiebesiek commented on #7450
@kevinlee12 I'd like to take on  user_query_jobs_one_off_test.UserQueryJobOneOffTests

[2020-04-20 00:56] kevinlee12 commented on #7450
@wcascades you got it!

[2020-04-20 03:19] #9106 closed, assigned to nobody

[2020-04-20 08:12] nishcthulhu commented on #8038
Working on this:  core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts

Facing issues on migrating rootscope. Any idea whats the update on that?

@Showtim3 @DubeySandeep

[2020-04-20 10:54] #9016 closed, assigned to vojtechjelinek

[2020-04-20 10:54] #9014 closed, assigned to vojtechjelinek

[2020-04-20 11:20] nishcthulhu commented on #8472
@bansalnitish will work on these

 story-creation.service.ts
 learner-answer-info.service.ts
 learner-view-rating.service.ts

[2020-04-20 11:21] Showtim3 commented on #8038
Hey @nishcthulhu , I'd suggest picking a service that doesn't involve $rootScope as of now. The Angular Migration team is trying to introduce a Events-Service to migrate the use of rootScope.
+cc @srijanreddy98 @bansalnitish

[2020-04-20 15:40] laujamie commented on #4057
Hi, could I be assigned to language-util.service.ts?

[2020-04-20 15:43] bansalnitish commented on #3369
Hi @tjinjoy, No I don't think you need anything else. Just go ahead and issue your first PR :).

[2020-04-20 18:31] marianadasilvadev commented on #4057
@laujamie I assigned you!

[2020-04-20 18:57] tjinjoy commented on #3369
The backend tests gives 1 failure total shown here:
<img width="889" alt="Screen Shot 2020-04-20 at 11 54 02 AM" src="https://user-images.githubusercontent.com/26639636/79788842-1d1d8780-82fe-11ea-9d32-341accf713a3.png">

Should I still go ahead and commit changes?

[2020-04-20 19:48] mrmtheboss commented on #7450
as assisted by @Showtim3 , Can i work on this issue?

[2020-04-20 19:49] U8NWXD opened #9120 "Embedding E2E Flake: Other element would receive click"
Occurrences:
* [ ] Original: On `develop` (19780bd) in CircleCI job [46769](https://circleci.com/gh/oppia/oppia/46769)

Log:
[code]

[2020-04-20 20:02] U8NWXD commented on #9097
Closing in favor of #9100

[2020-04-20 20:02] #9097 closed, assigned to U8NWXD

[2020-04-20 21:14] tjinjoy commented on #3369
Actually I believe this could be an issue with the program using my mac's builtin Python2, rather than the python 2 I manually installed.

[2020-04-20 23:36] seanlip opened #9121 "Wrap up remaining review comments from PR #9087"
This issue tracks wrapping up the [remaining comments](https://github.com/oppia/oppia/pull/9087#pullrequestreview-395727819) by @DubeySandeep on https://github.com/oppia/oppia/pull/9087.

[2020-04-21 04:14] ayegnb commented on #9008
@brianrodri, I have written to you in the gitter. Could you please read the message from me there?

[2020-04-21 13:29] brianrodri opened #9124 "Update modules in scripts to use Python logging"
The modules in `scripts` currently emulate logging with print statements and command-line flags. However, there are issues with using this strategy:
-   Code is complicated by if statements.
-   Print statements are not thread-safe, leading to non-deterministic outputs.
    -   This results in messages that are interleaving and confusing, for example:
[code]

Python's [`logging`](https://docs.pyth

[2020-04-21 17:01] U8NWXD opened #9127 "Backend Tests Flake: No space left on device"
Failed on #9118 in CircleCI job [U8NWXD/256](https://circleci.com/gh/U8NWXD/oppia/256)

Log:
[code]

[2020-04-21 19:08] tjinjoy commented on #3369
Some of the CI checks are failing, but I'm not sure which ones are related to this PR. I will try to fix errors from the typescript tests due to my code changes.

[2020-04-21 22:56] vojtechjelinek commented on #8999
Readded to blocking bugs, please make sure that this is fixed for the next release.

[2020-04-21 22:56] vojtechjelinek commented on #8998
Readded to blocking bugs, please make sure that this is fixed for the next release.

[2020-04-21 22:57] vojtechjelinek commented on #9036
Readded to blocking bugs, please make sure that this is fixed for the next release.

[2020-04-22 00:26] U8NWXD opened #9132 "Use Async-Await Paradigm"
The async-await paradigm looks to be a better way to handle asynchronous calls than the way we do it now.

To see if this can help resolve flakiness:
* [ ] Try converting an e2e test that has asynchronous-related flakes to the async-await paradigm and see if that helps

[2020-04-22 02:02] #9086 closed, assigned to U8NWXD

[2020-04-22 03:35] seanlip opened #9134 "Drag-and-drop interaction has wrong values in dropdown when specifying the order for items"
**Describe the bug**
When adding a new rule to the drag-and-drop interaction, there seems to be an error in the dropdown used to determine the correct placements of items.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration with a drag-and-drop interaction with 3 items.
 2. Create a new "is equal to ordering" rule and try to change the value in the first dropdown. Add s

[2020-04-22 03:36] seanlip commented on #9134
Hi @iamprayush, would you be able to look at this, please?

Also, just wondering -- do you know why this wasn't caught in the earlier PR? (We might want to change our testing methodology to catch this sort of thing.)

Thanks!

/cc @aks681

[2020-04-22 03:45] seanlip opened #9135 "Chapter length validation not being handled correctly"
**Describe the bug**
I tried to save a story in the server with a chapter title that was too long (by accident). I got the following error, which is not so good -- this should actually be caught in the frontend. It might be because I pasted the title from elsewhere.

![Screenshot from 2020-04-21 20-43-22](https://user-images.githubusercontent.com/10575562/79938209-d53b5500-8410-11ea-820a-7257d9dff

[2020-04-22 03:47] seanlip commented on #9135
Also, while investigating this, it might also be worth investigating why "[object Object]" is showing up in alerts -- that should never happen because only strings should be passed to the alert handler, so we should figure out why an object is being passed and stop that from happening.

I'm noting this here because it will be hard to reproduce that issue on its own when the bug here is fixed. It m

[2020-04-22 03:49] seanlip commented on #9135
Oh, wait, scratch that -- I miswrote this. The issue is not due to pasting, which actually does work correctly. It was because there was a long title before in one of the earlier chapters. When the new release was pushed, with shorter length limits, this caused an earlier title to become invalid.

Given that, I think this issue is no longer reproducible. I'll close it. Sorry for the false alarm!

[2020-04-22 03:49] #9135 closed, assigned to aks681

[2020-04-22 04:20] Wiebesiek commented on #7450
I'm not sure of the best way to ask this question, so I'm sending this email. I've been over the "test_user_has_not_logged_in_last_n_days" a dozen times and I cannot see where an inappropriate private function is being called. I thought maybe I was just confused, but I looked at the other functions that were referenced in the issue ticket and in all the other methods, it was clear that a private f

[2020-04-22 04:26] kevinlee12 commented on #7450
@wcascades you are right, `setUp` doesn't have private functions, I've edited the list, but for the the other, see https://github.com/oppia/oppia/blob/25adfb75b8dc84096ecc6f71727037accb33b2c4/core/domain/user_query_jobs_one_off_test.py#L164

[2020-04-22 04:27] seanlip commented on #7450
@kevinlee12 -- I think this one seems OK actually? The only problems are the ones where the line has `# pylint: disable=protected-access` in it.

[2020-04-22 04:31] kevinlee12 commented on #7450
Ah, yes. Let me take down that function then. @wcascades can you choose another file?

[2020-04-22 05:12] Wiebesiek commented on #7450
How about jobs_test.JobManagerUnitTests ?

[2020-04-22 06:22] Vinit-Dantkale commented on #9066
Hey, I observed this in Firefox but not in chrome.
I think its default working of firefox to render %20 as space.
Eg: https://www.google.com/search?q=google%20news will show space in URL `google news`. (for firefox)
Can you just confirm?

[2020-04-22 07:39] iamprayush commented on #9134
Hey @seanlip!
The dropdown showing "blank 1 2" is actually the expected behavior. Once you assign 1 and 2 to some cards, the 3 will appear in the dropdown for the remaining card. This was done to ensure that the skipping of positions is not possible (choosing 1 and 3, while skipping over 2). PTAL [here](https://github.com/oppia/oppia/issues/5464) for more context (specifically point b).

Now, abou

[2020-04-22 07:47] seanlip commented on #9134
I'd say go with 1,1,1 or 1,2,3 (it doesn't matter) and also add validation to ensure that the values "make sense" prior to saving, if possible. If the latter is too hard just do the former for now.

Point (b) is a bit of a hack and received negative feedback from at least two users on that thread. Plus, wouldn't it be possible to choose 1, 2, 3, and then change the 2 to a 3 (thus skipping a rank)?

[2020-04-22 07:51] iamprayush commented on #9134
Alright, I'll do that.

Yes, changing 1 2 3 to 2 2 3 is possible, but a warning to nudge the creator in the right direction exists, also the save button gets disabled accordingly so that shouldn't be a problem, right?

[2020-04-22 08:26] seanlip commented on #9134
Yeah. In general, as long as the state of things is always valid, and the save button is disabled for anything that's not valid, I'm fine with it.

Note that validity might depend on whether the "allow multiple options to occupy the same position" box is checked or not.

Also one alternative might be to represent the variable in the rule itself as a drag-and-drop interaction...

[2020-04-22 15:42] kevinlee12 commented on #7450
sure!

[2020-04-22 15:48] vojtechjelinek commented on #2227
Closing since this will be done by the usage of Lighthouse checks

[2020-04-22 15:48] #2227 closed

[2020-04-22 16:10] vojtechjelinek commented on #6771
Closing since constants and RTC definitions are already a part of webpack and jquery.ui.touch-punch-improved.js is so small anyway and will probably be removed soon.

[2020-04-22 16:10] #6771 closed, assigned to nobody

[2020-04-22 17:58] bansalnitish commented on #9113
cc @oppia/dev-workflow-team

[2020-04-22 17:59] bansalnitish commented on #8891
cc @oppia/dev-workflow-team

[2020-04-22 18:37] iamprayush commented on #9134
@seanlip, I've changed the default values to 1 2 3..., added validations with error messages, and made sure that the save button gets disabled if there is anything invalid. Also, the dropdown shows all possible positions now and validation for skipping ranks is also added (the current one was kinda buggy). Lastly, the code needed a bit of cleanup so I've done that as well.
The only thing is the va

[2020-04-22 19:29] aks681 opened #9137 "Background python processes doesn't exit when e2e test quits"
**Describe the bug**
When an e2e test closes on its own (either on success or on failure), after the process is stopped, it is seen that some app engine processes stilll remain in the background. If this is done multiple times  (serially, one after the other), these processes accumulate.
These quickly become quite a memory hog (at one point all of these were using around 12GB RAM!) wiith no direct

[2020-04-22 20:51] wily123 opened #9138 "Please add a new language choice to the exploration settings tab"
Please add the language choice {{ALBANIAN}} to the exploration settings tab.

Here is a link to an exploration that uses it: {{https://www.oppia.org/explore/NjJUhVw9c3X7}}

[2020-04-22 21:37] seanlip commented on #9138
Thanks @wily123. Adding @DubeySandeep to look into this.

A couple of notes:
- You might want to update the title of your exploration so that it's useful for learners (it seems like "Add Albanian Please" is more directed to us.
- If you'd like to help translate the site text into Albanian, you can do so on translatewiki here: https://translatewiki.net/wiki/Translating:Oppia

Thanks!

[2020-04-22 23:19] seanlip commented on #9134
Great, thanks a lot @iamprayush! Sounds good to me, and I agree with your prioritization.

[2020-04-22 23:20] seanlip commented on #9134
Just to confirm, it's not possible to save an exploration if the args are invalid, right? So the omission is really just a question of inconvenience, rather than us allowing bad data through?

[2020-04-23 00:21] BenHenning commented on #9063
Hey @aggarwalpulkit596 I wanted to check: how's this issue going?

[2020-04-23 03:17] kevinlee12 commented on #8891
/cc @oppia/core-maintainers

@bansalnitish Core maintainers are now taking over the intake of these issues.

[2020-04-23 03:17] kevinlee12 commented on #9113
/cc @oppia/core-maintainers

[2020-04-23 04:09] aggarwalpulkit596 commented on #9063
@BenHenning backend code is complete just need to show on the frontend for that I've asked a bit of help from @DubeySandeep

[2020-04-23 04:33] BenHenning commented on #9063
Thanks @aggarwalpulkit596. Do you have a PR with the backend code that you can send my way?

Also did you mean to unassign yourself from this issue?

[2020-04-23 04:55] aggarwalpulkit596 commented on #9063
@BenHenning https://github.com/oppia/oppia/pull/9111 here you go

[2020-04-23 06:36] iamprayush commented on #9134
No, you see, this is not implemented for any of the interactions. For instance, in the fractions interaction, even when the "Allow the answer to contain an integer part" boolean is unchecked and the creator enters a fraction with integer part as a correct answer, the save button is still clickable. Basically, the validation service warnings are only working for the customization args modal, and no

[2020-04-23 06:38] seanlip commented on #9134
I see, thanks for the clear explanation and question. Yes, if this behaviour is possible now, then I think delaying the fix is fine, though we should still try to do it as soon as possible because it's a hole. I agree that the URL project comes first, though!

[2020-04-23 08:42] iamprayush opened #9140 "No warnings displayed for invalid rules in interaction creation."
**Describe the bug**
All interactions have a validation service that returns a list of warnings based on the validity of the selected rules and provided answers. Currently, these warnings are only being displayed in the "Customize Interaction" modal, but they are not working or being displayed in the "Add Response" modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a Fraction Inp

[2020-04-23 09:01] iamprayush commented on #9134
Thanks @seanlip, I've filed an [issue](https://github.com/oppia/oppia/issues/9140) and created a [PR](https://github.com/oppia/oppia/pull/9141).

[2020-04-23 09:29] sseth99 commented on #7809
@kevintab95 , I am unable to reproduce this issue the test server. Can you please let me know if this issue still persists on your machine.
Thanks.
![Screenshot from 2020-04-23 14-56-38](https://user-images.githubusercontent.com/38723085/80083134-e3a18200-8572-11ea-91c5-06f3836fff28.png)
![Screenshot from 2020-04-22 22-36-24](https://user-images.githubusercontent.com/38723085/80083176-ee5c1700-857

[2020-04-23 13:02] vojtechjelinek opened #9143 "Fix the `apply_deletion_policy` in `UserSubscriptionsModel` and `UserSubscribersModel`"
Fix the apply_deletion_policy in `UserSubscriptionsModel` and `UserSubscribersModel`. By adding the removal of user from `creator_ids` and `subscriber_ids`.

[2020-04-23 14:42] rriyaldhi commented on #7427
hi, can I be assigned to `core/domain/exp_domain_test.py`? thanks in advance

[2020-04-23 20:37] iamprayush opened #9144 "Lint error while pushing changes."
**Describe the bug**
The following error is raised while pushing changes (`git push origin branch-name`):

![Screenshot from 2020-04-24 01-47-08](https://user-images.githubusercontent.com/35144226/80146769-f9916000-85cf-11ea-9776-3a4d4ac7ff6c.png)

I ran the linter manually before merging with the latest develop and all lint checks passed. This error was raised when I tried pushing my changes afte

[2020-04-23 20:38] iamprayush commented on #9144
@DubeySandeep Could you PTAL, this might be related to #9129. Thanks!

[2020-04-23 20:57] DubeySandeep commented on #9144
@iamprayush, Thanks for reporting can you please share the log of this command `git diff --name-only upstream/develop`, it would be quiet helpful!

[2020-04-23 21:00] iamprayush commented on #9144
Here:
[code]
BTW, I'm working on the URL changes (#9109), if that helps.

[2020-04-23 21:11] DubeySandeep commented on #9144
@iamprayush, This seems like happening because of error in any custom checks, not sure whether it's due to the new checks!

Can you try adding try-catch block in the `python_linters.perform_all_lint_checks` and run the pre_commit_linter?

[2020-04-23 21:27] DubeySandeep commented on #9144
@iamprayush, Can you also share the full error log? (including the test results)

[2020-04-23 21:34] iamprayush commented on #9144
@DubeySandeep, I tried running the linter on develop and the result is the same. Here's the full log:
<details>
<summary>Error log:</summary>

[code]
</details>

[2020-04-23 21:39] #9121 closed, assigned to aks681

[2020-04-23 21:43] iamprayush commented on #9144
Update: This is not due to the new lint test in #9129. @DubeySandeep is working on this, thanks!

[2020-04-23 21:43] DubeySandeep commented on #9144
@iamprayush, I see this in the error log:
[code]
![image](https://user-images.githubusercontent.com/16653571/80152767-e5526080-85d9-11ea-921f-35963b8fd649.png)

Is that the issue?

[2020-04-24 07:37] BenHenning commented on #9063
Thanks! I'm guessing you meant to refer to #9139 instead of #9111, so I reviewed & commented on that.

[2020-04-24 09:17] abhayraghuwanshi commented on #9102
@seanlip
 can you take a look here ...i think its `abbreviated_name`
Thanks

[2020-04-24 09:46] seanlip commented on #9102
Sorry, no bandwidth to look into this at the moment. Please consult with @aks681. Note that removing a field is tricky and needs to be done with care.

[2020-04-24 10:58] iamprayush commented on #9144
**Update:** This is not reproducible for anyone else so it's most likely that something's wrong with my local repo.

[2020-04-24 11:21] brianrodri opened #9146 "Remove redundant methods from the frontend"
During the Angular migration, we've found a few functions that seem to do nothing but call an internal function with the same name. At best, this separation is confusing (Why do we do it? Is it necessary?). At worst, it makes error stack traces and debugging more complicated.

Here are the 33 files which contain this pattern, discovered by searching for sequences of compiled JS with multiple forms

[2020-04-24 11:23] brianrodri commented on #9146
So I'm still not convinced that "the need for internal functions" applies to any of the functions flagged by this check (the only difference between these functions is a `_` prefix, which is strictly unnecessary).

Also, checking for patterns like `prototype._<name> = function` does not stop us from writing internal functions, only functions that do nothing but call themselves. Given this is linta

[2020-04-24 13:53] safwan20 commented on #8679
it is needed to put this error message to other languages file other than en.json?

[2020-04-24 16:45] safwan20 commented on #9144
@DubeySandeep Even I am getting this error.
![linfint](https://user-images.githubusercontent.com/45730556/80236660-10d85800-8679-11ea-97fc-b6552c66ec5a.png)

[2020-04-24 20:16] U8NWXD opened #9149 "Exploration Feedback Tab E2E Flake: should send message to feedback thread, Expected 1 to equal 2"
Occurrences:
* [ ] Original: Failed on develop ( ab09fcd ) in TravisCI job [26027.8](https://travis-ci.com/github/oppia/oppia/jobs/322166043)

Log:
[code]

[2020-04-24 20:22] U8NWXD opened #9150 "Topic and Story Editor E2E Flake: Unable to click on topics tab"
Occurrences:
* [ ] Original: Failed on develop (ab09fcd) in CircleCI job [47109](https://circleci.com/gh/oppia/oppia/47109)

Log:
[code]

[2020-04-24 23:43] vinaykonuru commented on #6240
Can I start working on this? This will be my first opensource contribution effort, so I'm totally sure if I'm up to the task yet. I'd really like to give it a try though.

[2020-04-24 23:45] vinaykonuru commented on #7569
I can do some of the .py files. This will be my first open-source contribution though, so I'm not totally sure if I'm up to the task yet. I'd like to give it a shot though!

[2020-04-25 00:01] U8NWXD commented on #6240
@redrolor absolutely! Is there a task at the top of the issue that looks interesting to you? Look for check boxes that don't have an associated username. I can also suggest one if you aren't sure. Welcome to Oppia!

[2020-04-25 00:06] vinaykonuru commented on #6240
I’m not sure really. I’d appreciate if you could assign me one. Thanks!

[2020-04-25 04:10] seanlip commented on #6240
Hi @redrolor, welcome! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started, first? Once you've done that, feel free to repost here and @U8NWXD can suggest a file. Thanks!

[2020-04-25 04:11] seanlip commented on #7569
Hi @redrolor -- please note that this issue is blocked by #8417 and is not ready to be worked on yet.

[2020-04-25 04:11] seanlip commented on #7569
(I'm not sure why it's labelled as a "good first issue", given the existing conversation in this thread. I've removed the label -- cc @Showtim3.)

[2020-04-25 04:53] seanlip commented on #9146
I am fine with a public function calling a private function with the same name. I can see foo() and bar() both calling _bar() and I think that's reasonable, so I do not think that forcing bar() to be renamed to something else needs to be a requirement.

[2020-04-25 05:38] srijanreddy98 opened #9154 "Change static variables to class variables when migration is finished."
Currently, we are migrating angular services and adding some of them to Upgraded Services.
Let us say we have two or more directives/service accessing a service (directive_A and directive_B).
Directive A has been migrated to angular 8 while directive_B is still angular js.
Directive B uses the service instance created in UpgradedService.ts while directive_A is provided with the instance Angular ma

[2020-04-25 05:48] srijanreddy98 opened #9155 "Avoid usage of globals (i.e. window) wherever possible"
Across the codebase, there are a lot of instances of "window" object being used. This is not a good thing a have. When migrating the files to angular 8, if such an instance is encountered, it should be replaced with an alternative.

For example:
`window.location = '...'` can be achieved with the use of angular router `this.router.navigateByUrl('url')`.

[2020-04-25 11:37] rriyaldhi commented on #8668
hi, can I be assigned to `utils.service.ts`? thanks in advance

[2020-04-25 12:16] abhayraghuwanshi commented on #9102
@aks681  can you take a look here?

[2020-04-25 15:46] iamprayush commented on #9144
**Update:** This was related to `appengine.api` import. Somehow, the path to the google modules was not correct. After correcting that, everything works fine now. Though, I'm still not sure why this never occurred for me before.
Thanks to @DubeySandeep and @kevintab95 for helping out!
Also, @safwan20, [this blog](https://medium.com/@maanavshah/fixing-python-import-error-no-module-named-appengine-e

[2020-04-25 15:46] #9144 closed, assigned to DubeySandeep

[2020-04-25 16:25] DubeySandeep commented on #9144
@iamprayush, Thanks for the update and fixing the issue. Can you please add this in the [troubleshooting wiki page](https://github.com/oppia/oppia/wiki/Troubleshooting#linux)?

[2020-04-25 17:57] aks commented on #9102
Sorry, but wrong 'aks'.  Try @aks681

[2020-04-25 18:44] abhayraghuwanshi commented on #9102
sorry @aks for the trouble.

[2020-04-25 18:58] aks681 commented on #9102
@abhayraghuwanshi Removing the field will require lots of changes throughout the codebase and needs to be done with care.
Though if you feel like you can do it, then go for it. Make sure all instances of the field is removed from the codebase.

[2020-04-25 19:06] abhayraghuwanshi commented on #9102
@aks681 its `abbreviated_name` can you confirm this, then i will start working on this
thanks

[2020-04-25 19:19] aks681 commented on #9102
Yeah, it's abbreviated_name in topic model.

[2020-04-25 19:42] Showtim3 commented on #8668
@rriyaldhi Done.

[2020-04-25 22:14] vojtechjelinek opened #9159 "Weird behavior of `open_new_tab_in_browser_if_possible`"
The behavior of `open_new_tab_in_browser_if_possible` is weird when Chromium is not running (but Firefox is). Chromium is opened and there is no output in the terminal until Chromium is closed. This is a problem when something needs to be checked on the opened page but I can't see what before I first need to close Chromium to receive the output in the terminal.

I would assume that the tab is open

[2020-04-26 10:33] bansalnitish commented on #8472
@nishcthulhu any updates?

[2020-04-26 12:52] marianadasilvadev opened #9162 "about-page.controller.ts and teach-page.controller.ts with focus bug due to onhashchange event and archoring url"
**Describe the bug**
- There is a bug related to `onhashchange` event in both about-page and teach-page controllers.
When changing the page hash, the `ctrl.activeTabName` is just updated in the view (HTML) after two clicks. It supposed to be updated with only one click.
- Also, there is a bug related to #license hash in about-page controller, which is inside foundation tab.

**To Reproduce**
Steps

[2020-04-26 14:46] nishcthulhu commented on #8472
Working on concept-card-backend-api service.. testing files keep failing which im trying  to debug
The other files i  mentioned many had rootscope dependecy

[2020-04-26 17:23] harruup commented on #8015
I would like to try myself on  core/templates/domain/question/question-backend-api.service.ts

[2020-04-26 18:08] nadintamer opened #9163 "topicAndStoryEditor e2e flake"
Failed on TravisCI [here](https://travis-ci.com/github/nadintamer/oppia/jobs/323536731)
TravisCI Log:
[code]

[2020-04-26 18:09] nadintamer opened #9164 "topicsAndSkillsDashboard e2e flake"
Failed on TravisCI [here](https://travis-ci.com/github/nadintamer/oppia/jobs/323536730)
TravisCI log:
[code]

[2020-04-26 18:48] U8NWXD commented on #9163
@nadintamer could you confirm that this happens on develop? This looks rather unusual.

[2020-04-26 18:48] U8NWXD commented on #9164
@nadintamer could you confirm that this happens on develop? This looks rather unusual.

[2020-04-27 01:27] marianadasilvadev commented on #8924
Hi @seanlip and @Showtim3, I've done the consolidation of the similar modals (as you can see in the PR above). Also, I've updated the main comment with new instructions. I was thinking to let people work on the list I've created only after the PR is merged. What do you think?

[2020-04-27 03:11] seanlip commented on #8924
I think that sounds totally fine -- thanks, @marianazangrossi!

[2020-04-27 11:14] srijanreddy98 commented on #5735
@vojtechjelinek Correct me if I am wrong... There are 'n' promises in the page and only when they are all resolved we have to change the loading text. Am I right?

[2020-04-27 12:03] vojtechjelinek commented on #5735
@srijanreddy98 Yes, exactly.

[2020-04-27 12:18] srijanreddy98 commented on #5735
Ah, I think then instead of doing in the loader service, we will have to do it in the directive itself. There is a nice feature that was released in ECMA2019, `promise.all()`. This takes an array of promises as input and resolves them as an array of corresponding outputs.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all

[2020-04-27 17:20] jameesjohn commented on #8833
Hi @vojtechjelinek, It seems this is an angular issue https://github.com/angular/angular/issues/8866

[2020-04-27 17:59] DubeySandeep commented on #9036
Hi @aks681 & @Showtim3 any update on this issue? (Note: we need to fix this before the next release cut [01st May].)

[2020-04-27 18:00] DubeySandeep commented on #8999
Hi @mzaman07  any update on this issue? (Note: we need to fix this before the next release cut [01st May].)

[2020-04-27 18:00] DubeySandeep commented on #8998
Hi @mzaman07 any update on this issue? (Note: we need to fix this before the next release cut [01st May].)

[2020-04-27 21:26] vojtechjelinek commented on #8833
@jameesjohn Could you try one of the proposed fixes there?

[2020-04-27 21:30] vojtechjelinek commented on #5735
@srijanreddy98 Could I assign you to this issue? You seem to have quite a lot of knowledge in this area. This issue is no priority and it doesn't need to be resolved immediately.

[2020-04-27 22:44] vojtechjelinek opened #9172 "Upgrade to Angular 9"
Angular 9 is out for quite a time. Reading through the documentation the upgrade shouldn't be that hard. When I tried to upgrade to Angular 9 the `/splash` page have shown some error and didn't load but there might be some simple fix for this.

[2020-04-28 02:37] #9079 closed, assigned to nithusha21

[2020-04-28 02:44] #9007 closed, assigned to aks681

[2020-04-28 02:44] #7448 closed, assigned to Arnesh07

[2020-04-28 05:11] ankita240796 commented on #9159
@bansalnitish / @Hudda can either one of you look into this? Thanks!

EDIT: I felt this is most closely related to the work we do on linter with respect to other domains of dev workflow. Please let me know if you feel that is not the case and I will try to re-assign to the right person. Thanks!

[2020-04-28 07:14] jameesjohn commented on #8833
Yes.
I've created a PR. PTAL.

[2020-04-28 09:10] kevintab95 opened #9180 "Make the lint tests run for files touched in a PR"
**Description:**
Currently, the linter checks on Circle CI runs for all files and this takes a lot of time to run. It would be much faster if the lint checks were run only for files that were touched in a PR.

**This issues requires the following things to be done:**
1. Changes to make the lint tests run only for files modified/introduced in the PR.
2. Changes to ensure that the linter runs for al

[2020-04-28 09:10] kevintab95 commented on #9180
/cc @oppia/core-maintainers

[2020-04-28 12:27] bansalnitish commented on #8472
Hey @nishcthulhu, I've assigned you the three services based on your PR. In future, please make sure to claim the services and then start working on them. We don't want multiple folks to start working on the same file. It is fine as of now :). Thanks!

[2020-04-28 12:41] nishcthulhu commented on #8472
Can you share any 3 other services as well to me

[2020-04-28 12:43] bansalnitish commented on #8472
You can take any service that you would like to migrate from the unclaimed ones or may be go and check some service that you can migrate from the tracker. Let me know what all services you want to work on. Thanks!

[2020-04-28 12:57] nishcthulhu commented on #8472
I will take up
story-creation.service.ts
Learner answer info
Learner view rating

 Some of them have rootscope broadcast which is being received in another file. Are we using event emitter for the same and has it been implemented anywhere else that I can reference?

[2020-04-28 13:05] bansalnitish commented on #8472
Nope, we are still working on the $rootScope.$broadcast things.

[2020-04-28 16:32] Showtim3 commented on #7427
@iamprayush @Arnesh07 @Helper2020 @abhayraghuwanshi @ananthanandanan Hey guys, what's up? Are you guys working on the assigned stuff?

[2020-04-28 16:37] abhayraghuwanshi commented on #7427
@Showtim3
 the Pr od state_domain got merged already
Thanks

[2020-04-28 16:50] iamprayush commented on #7427
@Showtim3 Thanks for pinging, I've updated the issue description since my task had been merged already.

[2020-04-29 00:04] kevintab95 opened #9186 "Change "*Contants" variable names to "constants" after Angular migration"
The following files have a custom "*Constants" variable that needs to be renamed to "constants" after the files been migrated to Angular:
- [ ] image-upload-helper.service.ts
- [ ] story-editor.directive.ts
- [ ] story-node-editor.directive.ts
- [ ] subtopics-list-tab.directive.ts
- [ ] topic-editor-tab.directive.ts
- [ ] literally-canvas-helper.service.ts

[2020-04-29 05:55] srijanreddy98 commented on #5735
@vojtechjelinek sure, I will work on it.

[2020-04-29 17:48] Showtim3 commented on #6271
Hey @yudani-s Seems like @robatras made the PR but didn't get it to merge. What's the status now?

[2020-04-29 18:08] Showtim3 commented on #6271
@FlorinBalint Hey what's up?

[2020-04-29 18:38] yudani-s commented on #6271
@Showtim3 We are no longer working on this task.

[2020-04-29 21:37] #8339 closed, assigned to Showtim3

[2020-04-29 22:17] #9134 closed, assigned to iamprayush

[2020-04-30 10:25] Hudda commented on #9159
@ankita240796 Sorry, but I am not seeing its relation with the linter. Please correct me if I am wrong.

[2020-04-30 13:28] Showtim3 commented on #7427
@Arnesh07 @Helper2020 Guys, are you working on this?

[2020-04-30 13:36] #8402 closed, assigned to yamamashakaa, Showtim3

[2020-04-30 14:07] Arnesh07 commented on #7427
@Showtim3 utils.py is done and the PR has been merged.
Thanks

[2020-04-30 15:45] #9137 closed, assigned to nishantwrp

[2020-04-30 16:37] U8NWXD opened #9194 "E2E Flake: IOError: [Errno 11] Resource temporarily unavailable"
Occurrences:
* [ ] Original: Failed on develop ( b538b03 ) in TravisCI job [26130.21](https://travis-ci.com/github/oppia/oppia/jobs/323831705) in subscriptions suite

[code]

[2020-04-30 23:48] jimbyo commented on #8038
Hey, I'm having some trouble writing frontend test cases for my Pull request https://github.com/oppia/oppia/pull/9092/files

I found the problem is that my frontend tests don't recognize the empty brackets in `$http.post('/contributehandler/create_new', {})`

The issue is very similar to the one in the reference PR and can be fixed with the suggestion by @Showtim3
https://github.com/oppia/oppia/pu

[2020-05-01 01:16] Showtim3 commented on #8038
@bansalnitish @nithusha21 @marianazangrossi Hey guys, do you have some idea how to tackle this issue ^^ ?

Btw @jimbyo I think you are creating a new service, right? Why don't you write that in Angular, maybe that'll help.

[2020-05-01 02:46] srijanreddy98 commented on #8038
@jimbyo Instead of `{}` have you tried using `null`?

[2020-05-01 03:27] jimbyo commented on #8038
@Showtim3 I actually tried to use Angular in a previous commit https://github.com/oppia/oppia/pull/9092/commits/4e5dd63891bf7410f4ba5dbe16d8528551e9df92

The angular upgrade did, in fact, fix the frontend test issues, However, it has a similar problem of sending a null value to the backend, instead of an empty payload.

I tried these two formats with the angular backend API and they would each jus

[2020-05-01 04:00] seanlip commented on #8038
@srijanreddy98 Technically we should be sending {} not null, right? These are semantically different and using null seems incorrect because all our POST payloads are of JSON dict form.

@jimbyo just to check, if you try sending with a non-empty dict, does it work? (If it does, then it is an issue with {} in particular and we should figure out how to do that correctly. But if not, then something el

[2020-05-01 04:29] jimbyo commented on #8038
@srijanreddy98 Yea I tried this just now, and when I replaced the `{} ` with `null `and it fixes the frontend tests but creates the error sending the None value to the backend.

@seanlip Just to clarify you mean on the angular version of the code? Because for my current version which is not angular, using {} works, it's just my frontend test cases don't recognize it. I'll look into the angular com

[2020-05-01 04:36] srijanreddy98 commented on #8038
That is true. It depends on our definition. Using `null` would mean that there is no payload and using `{}` would mean there is a payload but it is empty.

`this.http.post('/contributehandler/create_new', {}).toPromise()`
`this.http.post('/contributehandler/create_new', null).toPromise()`

@jimbyo  They don't. Or at least in my experience they haven't. From what I know there is a payload when you

[2020-05-01 04:46] seanlip commented on #8038
OK, thanks for confirming! My main piece of feedback here is that you should use {}, then, but it sounds like you might need to do some digging to figure out why it's not working in the frontend tests.

[2020-05-01 05:06] Showtim3 commented on #5476
@kevinlee12 @Hudda Followed up with Anshul on this, this issue is complete and should be closed.

[2020-05-01 05:07] kevinlee12 commented on #5476
Sounds good, let's close this then. Thanks for following up!

[2020-05-01 05:07] #5476 closed, assigned to nobody

[2020-05-01 05:22] Showtim3 commented on #7427
After having a discussion with @Hudda, this is added as a part in #8423, so @Hudda are you fine with closing this issue? If not, feel free to reopen this.

[2020-05-01 05:33] Hudda commented on #7427
@Showtim3 This needs to remain open because before implementing Args, Returns check we need to have valid docstrings in all files and two files(main.py, story_domain.py) are still needed to be fixed.

[2020-05-01 05:48] Helper2020 commented on #7427
@Showtim3 Hello I thought I was done with it. There was only one function in main.py that needed a doc string according to the doc-string issues doc. My pr was merged.

[2020-05-01 06:03] Hudda commented on #7427
@Helper2020 Thanks for the info. Could you please share the link of your PR.

[2020-05-01 08:58] kevintab95 opened #9198 "Deprecate Logic proof interaction since it is difficult to maintain"
The Logic Proof interaction is hard to maintain and we need to deprecate it. For related discussion, see [here](https://github.com/oppia/oppia/pull/8522#discussion_r390701332).

**Note:**
1. This is a low priority issue.
2. Not suitable for new contributors.

[2020-05-01 13:49] vojtechjelinek commented on #8876
@DubeySandeep Do we want to keep this in the Core Maintainers Incidents? It doesn't seem that urgent.

[2020-05-01 14:23] ankita240796 commented on #9159
@Hudda, yes I don't think there is a clear relation here, but I am not sure which bucket of devflow this falls into. @DubeySandeep @kevintab95 any thoughts on this?

[2020-05-01 15:03] DubeySandeep commented on #8876
@vojtechjelinek, e2e reorganization team is looking into these issues separately, so I'm removing this from `Core Maintainers Incidents`. Thanks!

[2020-05-01 17:29] Helper2020 commented on #7427
@Hudda [https://github.com/oppia/oppia/pull/8119](url)

[2020-05-01 17:34] Helper2020 commented on #7427
@Hudda https://github.com/oppia/oppia/pull/8119
Good day:)

[2020-05-01 17:45] kevintab95 commented on #9159
I think it should be assigned to the release co-ordination team since it relates to the release / deploy script.

[2020-05-01 18:06] ankita240796 commented on #9159
Hmm, the function is actually a general function to allow opening a browser in a new tab, so it is not related to release co-ordination as well. I can take this up but the issue I see is that I do not have access to all the browsers.

[2020-05-01 19:31] ankita240796 commented on #9159
Just had a chat with @seanlip and it might be possible to get access to the browsers on my system. Let me look into this and provide updates.

[2020-05-01 20:55] #8342 closed, assigned to kevintab95

[2020-05-02 03:31] #8456 closed, assigned to kevintab95

[2020-05-02 05:08] kevintab95 commented on #9180
One scenario where the lint checks must run for all the files would be when a new lint rule is introduced. Perhaps, the test could check for changes in linter related files and decide whether to run the test for all files or just the diff.

[2020-05-02 08:05] sseth99 commented on #7809
@kevintab95 , this issue wasn't linked to PR #9196 , so it did not get closed.
Now, since the PR is merged is the issue ready to be closed?
Thanks.

[2020-05-02 08:06] kevintab95 commented on #7809
Yes, thanks @sseth99. I'll close this issue.

[2020-05-02 08:06] #7809 closed, assigned to kevintab95, sseth99

[2020-05-02 11:57] bansalnitish commented on #8038
Hey @jimbyo,

I see in the `collection-creation-backend-api.service.ts` and `story-viewer-backend-api.service.ts` we are sending `{}` in the post request. Could you do a side by side analysis of why is it working for these two services and not for your service?

Also, as per this link: https://stackoverflow.com/questions/47441842/http-post-with-no-body-in-angular null may not solve the problem sin

[2020-05-02 17:39] nithusha21 commented on #8623
Hi, So I updated the exploration on the test server. The yaml file was updated and hence the local server loads it correctly, but on the test server, the exploration isn't reloaded. We need to manually do the changes.

[2020-05-02 18:12] vojtechjelinek opened #9208 "New tab is not opened when new topic/skill is created in Firefox"
**Describe the bug**
When a new topic/skill is created the pop-up window is blocked.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topic and Skills Dashboard'
 2. Click on 'CREATE TOPIC'
 3. Enter the topic name and click on 'Create Topic'
 4. The topic is created but new tab is not opened and a warning bar about blocking a pop-up window is shown.

**Observed behavior**
The topic/s

[2020-05-02 18:34] vojtechjelinek opened #9209 "Long chapter name overflows the thumbnail"
**Describe the bug**
A 36 characters long story chapter name overflows the thumbnail image.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Story Editor'
 2. Create a chapter with 36 characters long name
 3. Click on the add thumbnail
 4. Upload SVG image
 5. Click on 'Add Thumbnail'

**Observed behavior**
The chapter name overflows the background.

**Expected behavior**
The chapter

[2020-05-02 18:37] vojtechjelinek commented on #9209
The same applies to the story thumbnail
![image](https://user-images.githubusercontent.com/10142938/80872813-ab0d5100-8cb4-11ea-9fa6-e3d0f1f1246c.png)

And topic
![image](https://user-images.githubusercontent.com/10142938/80872848-e14ad080-8cb4-11ea-8495-e974bf6bd9a1.png)

[2020-05-02 18:42] vojtechjelinek opened #9210 "Cannot set thumbnail image for topic, story, story chapter"
**Describe the bug**
A thumbnail image is not set and error is in the console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topic Editor'
 3. Click on the add thumbnail
 4. Upload SVG image
 5. Click on 'Add Thumbnail'

**Observed behavior**
Error is shown in the console and the thumbnail is not set.

**Expected behavior**
Thumbnail should be set.

**Screenshots**
![image](https:/

[2020-05-02 19:02] vojtechjelinek opened #9211 "A misconception with name longer than 50 character can be added to a skill"
**Describe the bug**
A misconception with name longer than 50 characters can be added to a skill.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Skill Editor'
 2. Click on '+ Add Misconception'
 3. Add misconception with name longer than 50 characters
 4. Click 'Publish Changes'

**Observed behavior**
The misconception is added but then the skill cannot be published.

**Expected beh

[2020-05-02 19:21] vojtechjelinek opened #9212 "Some skills cannot be created"
**Describe the bug**
Some skills (example in screenshots) cannot be created and fire an error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and Skills Dashboard'
 2. Click on 'CREATE SKILL'
 3. Create skill similar to the skill in the screenshot
 4. Click on 'Save'

**Observed behavior**
The skill is not added and error is shown in the console.

**Expected behavior**
The sk

[2020-05-02 19:38] robatras commented on #8038
Hi, can you remove me from core/templates/pages/community-dashboard-page/services/contribution-and-review.services.ts? I am no longer working on it.

[2020-05-02 21:52] nishantwrp commented on #9212
@vojtechjelinek I was unable to reproduce this error.

[2020-05-02 21:55] DubeySandeep commented on #9208
@aks681, is this an expected behavior?

[2020-05-02 21:59] aks681 commented on #9208
@DubeySandeep No, it's not expected, but I don't encounter this locally on Chrome.
@vojtechjelinek Was this on the local server or on the prod server?

[2020-05-02 22:01] vojtechjelinek commented on #9208
Production testing server

[2020-05-02 23:16] nishantwrp opened #9214 "Webpack compiles with warnings"
**Describe the bug**
Webpack compiles with warnings.

**Observed behavior**
[code]

**Expected behavior**
There should be no warnings.

[2020-05-03 03:36] kevintab95 commented on #9210
Hi @vojtechjelinek, can you please attach the SVG file that you tried to upload here?

EDIT: Actually never mind, I have figured out the issue.

[2020-05-03 06:54] jimbyo commented on #8038
@srijanreddy98 @bansalnitish Thanks for the information and recommendations so far!

I actually modeled my backend from the `collection-creation-backend-api.service.ts`. But a weird thing is that on my local machine, the `collection-creation-backend-api.service` also only sends None to the backend as well!

The only reason it doesn't raise an error is because in `creator_dashboard.py`  the collect

[2020-05-03 06:55] jimbyo commented on #8038
@robatras I updated it!

[2020-05-03 07:40] seanlip commented on #8637
@Showtim3, does the audio still play OK (even though there is a console error)?

[2020-05-03 07:43] seanlip commented on #8517
Note: even if we get rid of the console errors, we might want to still add a log message saying something like "Playing in offline mode."

[2020-05-03 07:49] nithusha21 commented on #9066
That's interesting. I searched around a bit and it looks like firefox actually added this as a feature. ([link](https://www.reddit.com/r/firefox/comments/7psuqr/firefox_replaces_20_with_actual_spaces_in_the_url/)). If I copy the URL it is actually encoded (I see the %20).

Closing this as this isn't actually a bug!

[2020-05-03 07:49] #9066 closed, assigned to nobody

[2020-05-03 10:54] vojtechjelinek opened #9217 "Solicit Answer Details shows error in the console"
**Describe the bug**
Checking the

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Skill Editor'
 2. Go to 'Question tab'
 3. Click on 'Create Question'
 4. Create a question with some interaction
 5. Check the 'Solicit Answer Details'

**Observed behavior**
An error is shown in the console.

**Expected behavior**
No error is shown.

**Screenshots**
![image](https://user-images.github

[2020-05-03 11:06] vojtechjelinek commented on #9214
Hi, we know about this and since the version we have for core.js is required for the Angular migration (or even Angular 8) we can't do anything about this for now.

[2020-05-03 12:04] DubeySandeep commented on #9212
@vojtechjelinek, Can you please reply to @nishantwrp comment?
 @nishantwrp Can you please add more detail like where you did the testing, what you found etc.?

[2020-05-03 12:05] DubeySandeep commented on #9217
@aks681, are we expecting  `Solicit Answer Details` to be a part of the question editor page as well? (OR it's just for exploration?)

[2020-05-03 12:06] DubeySandeep commented on #8998
@mzaman07, any update on this issue?

[2020-05-03 12:06] DubeySandeep commented on #8999
@mzaman07, any update on this issue?

[2020-05-03 12:06] DubeySandeep commented on #9036
Hi @aks681 & @Showtim3 any update on this issue?

[2020-05-03 12:08] nishantwrp commented on #9212
Umm, I filled the fields in the form like shown in the image i.e. typed Skill repeatedly in every field. Found that the skill got created.

[2020-05-03 12:10] nishantwrp commented on #9214
@vojtechjelinek I think there is a workaround for this. Can you please take a look [here](https://github.com/angular/angular/issues/20357).

[2020-05-03 12:14] DubeySandeep commented on #9208
@aks681, by this I mean whether we expect to open the topic editor page in a separate window once the user fillups the topic name and clicks "Create topic"?

[2020-05-03 12:26] aks681 commented on #9208
@DubeySandeep We do expect both new topics and skills to open in a new tab, not a new window.

[2020-05-03 12:38] aks681 commented on #9217
@DubeySandeep It is just for explorations for now, will remove it from the question editor.

[2020-05-03 13:14] #9209 closed, assigned to kevintab95

[2020-05-03 13:14] #9210 closed, assigned to kevintab95

[2020-05-03 13:24] vojtechjelinek commented on #9214
You can try to fix it if you want, it is not a priority tho.

[2020-05-03 13:30] vojtechjelinek commented on #9212
Btw, since this is a server error we should be able to find it in the Google Console.

[2020-05-03 13:32] vojtechjelinek commented on #2386
Closing since performance tests were removed in #9188

[2020-05-03 13:33] vojtechjelinek commented on #2386
Closing since performance tests were removed in #9188

[2020-05-03 13:33] #2386 closed

[2020-05-03 13:33] vojtechjelinek commented on #2073
Closing since performance tests were removed in #9188

[2020-05-03 13:34] vojtechjelinek commented on #2073
Closing since performance tests were removed in #9188

[2020-05-03 13:34] #2073 closed

[2020-05-03 13:45] vojtechjelinek commented on #3602
@seanlip Closing this since the reduction of `third_party/static` is already a part of moving third party libraries to webpack and upgrading them for Angular 8.

[2020-05-03 13:45] #3602 closed, assigned to nobody

[2020-05-03 13:59] vojtechjelinek commented on #5234
Closing since this no longer occurs.

[2020-05-03 13:59] #5234 closed, assigned to nobody

[2020-05-03 14:47] Showtim3 commented on #8637
Yes @seanlip It was working fine. But still, the error was annoying.

[2020-05-03 15:47] kevintab95 commented on #9212
This issue can be reproduced if you add any reserved character mention in [RFC1738](https://www.ietf.org/rfc/rfc1738.txt) (eg. ";", "/", "@") in any form field and hit submit. This seems to be a bug that affects all POST calls routed through `request-interceptor.service`. This happens because the content type header for the POST call is "application/x-www-form-urlencoded" which expects the request

[2020-05-03 16:26] vojtechjelinek commented on #7676
Connected to #8630

[2020-05-03 16:27] U8NWXD opened #9220 "Confusing Error on SVG Thumbnail Upload"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Launch oppia locally from `release-2.9.3`
 2. Login as an admin and give yourself admin privileges
 3. Create a new topic
 4. Attempt to upload [this SVG](https://upload.wikimedia.org/wikipedia/commons/f/f2/Air_conditioning_unit-en.svg)

**Observed behavior**
The followin

[2020-05-03 16:41] U8NWXD opened #9221 "Misplaced Pencil Icon in Skill Creator"
**Describe the bug**
The pencil icon for the review material of the skill creation modal is misplaced.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard
 2. Click to create a skill

**Observed behavior**
The icon extends off the edge of the modal

**Expected behavior**
The icon should be aligned with the other pencil icons

**Screenshots**

![Screen Shot

[2020-05-03 16:46] srijanreddy98 opened #9222 "Using templateUrl in Angular migrated components"
Currently, we are using `template: require('./path')` which is giving this lint error as demonstrated in #9202:
![image](https://user-images.githubusercontent.com/23002114/80920010-ae730c00-8d8a-11ea-98e7-2c397eebbcd6.png)
The error means we have to put a string when using template or templateUrl. Using the templateUrl runs into this error.

![image](https://user-images.githubusercontent.com/23002

[2020-05-03 16:46] U8NWXD opened #9223 "Red Bar when Adding Numbered List to Skill Rubric"
**Describe the bug**
Red bar appears at bottom of rubric editor when adding a list

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard
 2. Click to create a skill
 3. Click on the easy rubric
 4. Click the numbered list icon

**Observed behavior**
As the cursor moves around the text editor box, a red bar appears at the top or bottom.

**Expected behavior**

[2020-05-03 16:55] srijanreddy98 commented on #8630
@vojtechjelinek When the angular app (not angularjs) is compiled using their provided compiler, all the HTML content is put into the js chunk file. This issue wouldn't be relevant in angular. As we are already migrating the directives to angular we wouldn't have to change this now right?

[2020-05-03 16:56] U8NWXD opened #9224 "Text Box in Question Editor Modal Extends Beyond Modal"
**Describe the bug**
The text box in the question editor modal runs off the edge of the modal

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Create a topic
 3. Assign the skill to the topic
 4. In the topic editor, create a question for the skill
 5. Click to add welcome text to the question
 6. Click away and click the text box again

**Observed behavior**
The text box

[2020-05-03 16:56] nadintamer opened #9225 "Dropdown appearance different in Firefox and Chrome"
**Describe the bug**
Dropdown menus appear differently in Firefox and Chrome.

**Observed behavior**
The dropdown menu appears differently in different browsers.

**Expected behavior**
It should appear the same across browsers.

**Screenshots**
Firefox: <img width="279" alt="Firefox" src="https://user-images.githubusercontent.com/17547686/80920329-c4c39c80-8d77-11ea-9f3f-35ff1cf75e12.png">
Chrome:

[2020-05-03 17:00] vojtechjelinek commented on #8630
I'm not sure yet what compilation procedure we will be using let's keep it for now and when we are fully migrated we can talk about modifications to the compilation and build process.

[2020-05-03 17:03] srijanreddy98 commented on #8630
Ah ok, BTW @vojtechjelinek using require for the template is giving me this lint error: #9222

[2020-05-03 17:17] U8NWXD opened #9226 "Cannot Change Topic Thumbnail Background Color"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Upload a thumbnail
 3. Try and change the background color

**Observed behavior**
Clicking on the background color square has no effect

**Expected behavior**
Background color should be changeable

**Screenshots**

![Screen Shot 2020-05-03 at 13 14 45](https://user-images.githubusercontent.com/19878639/80920840-67f8bf80-8d40-

[2020-05-03 17:25] U8NWXD opened #9227 "Story Can Be Published Before Correcting Warnings"
**Describe the bug**
Stories can be published even though warnings have not been addressed

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic but do not publish it and do not set a thumbnail
 2. Create a story and do not specify a thumbnail
 3. Publish the story without a thumbnail

**Observed behavior**
The story can be published

**Expected behavior**
The story should not be p

[2020-05-03 17:35] U8NWXD opened #9228 "Subtopic Column Extends Below Parent Element"
**Describe the bug**
Subtopic Column Extends Below Parent Element

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Go to the subtopics tab
 3. Shrink the browser window to be shorter than 562 pixels

**Observed behavior**
The subtopic column extends beyond its parent element

**Expected behavior**
The column should be within its parent

**Screenshots**

![Screen Shot 2020-

[2020-05-03 17:58] U8NWXD commented on #9225
I don't think this bug is blocking since the aesthetic appearance isn't that bad, but I'm sending it to the Learner and Creator experience team for triage

[2020-05-03 18:01] U8NWXD commented on #9226
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:03] U8NWXD commented on #9227
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:05] U8NWXD commented on #9221
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:05] U8NWXD commented on #9223
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:06] U8NWXD commented on #9228
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:07] U8NWXD commented on #9224
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:08] U8NWXD commented on #9022
@aks681 can you either take this one up or pass it along to someone else in the learner and creator experience team?

[2020-05-03 18:10] krishnarao22 commented on #6240
Hi @U8NWXD, I'm a bit confused about what I'm supposed to do in the task I was assigned.

I was assigned to: "For all interactions, write e2e tests for creating and playing them, including feedback."

What exactly do I have to do here? Thanks! :)

[2020-05-03 18:26] aks681 commented on #9226
Assigning @kevintab95, since he implemented thumbnail support, though I think this is expected?

[2020-05-03 18:27] aks681 commented on #9227
@U8NWXD What exactly is the warning that has to be addressed? Is it the uploading of thumbnail?
Since, I believe if there are exploration validation issues, a story is not publishable without resolving those.

[2020-05-03 18:29] aks681 commented on #9220
Assigning @kevintab95 since he is more familiar with thumbnail uploads.

[2020-05-03 18:31] aks681 commented on #9223
@U8NWXD I believe that red bar is part of the RTE itself and is visible in all RTEs, can you please check that? If so, maybe close the issue or remove it from blocking bugs as it is expected.

[2020-05-03 18:34] aks681 commented on #9022
@U8NWXD I don't think this should be blocking since no functionality is broken and only admins and topic managers can create questions and they would be familiar with it.
Though yeah it would be confusing initially, though I think if you hover over the disabled 'Save' button, there are instructions? I'll try to make it clearer.

[2020-05-03 18:35] U8NWXD commented on #9226
@aks681 could you clarify what you think is expected? Do you mean that the user should not be able to change the background color?

[2020-05-03 18:36] U8NWXD commented on #9227
@aks681 yes, it is the lack of a thumbnail that I was expecting to prevent publishing. I'll update the top comment accordingly

[2020-05-03 18:41] U8NWXD commented on #9223
@aks681 I have confirmed that this is present in other RTEs as well. Why is this expected? At least to my eye it doesn't look very aesthetically pleasing, which would make it a blocking bug based on the [guidelines](https://github.com/oppia/oppia/wiki/Release-Schedule#instructions-for-deciding-if-a-bug-is-blocking). I do think this is relatively minor though, so I'm open to putting this bug off un

[2020-05-03 18:43] U8NWXD commented on #9022
@aks681 sounds good. I'm removing from blocking bugs

[2020-05-03 18:43] Showtim3 commented on #9036
Hey guys, So I believe what's happening is that safari cancels the request when the page is redirected, it cancels the request and does not let it complete. So there is no solution for this as of now. But what we can do is we can make this call somewhere else, so we can check if the browser is safari then we can call this ```record_maybe_left``` event at some other place like maybe on submitting a

[2020-05-03 18:44] aks681 commented on #9226
Yeah, I think background color is fixed based on entity for now. Like topic has one, subtopics has another and so on, though I'm not sure. @kevintab95 should be able to elaborate on it.
Refer: https://github.com/oppia/oppia/pull/9095#issuecomment-621569749 and https://github.com/oppia/oppia/pull/9095#pullrequestreview-403070687

[2020-05-03 18:45] aks681 commented on #9227
Ah ok, then @kevintab95 can you PTAL?

[2020-05-03 18:47] aks681 commented on #9223
I think that line just marks the border of the RTE element that is in focus (in the above case, the numbered list). So, if you add text below it, that line would still be present at the border of the numbered list and could be quite helpful to know where the element ends, I think. Can you check it?

[2020-05-03 18:56] U8NWXD commented on #9223
When I add text above and below the numbered list, the red line doesn't show up. I added text like this:

[2020-05-03 18:58] U8NWXD commented on #9226
That makes sense. If we're not going to let the user change the background color, we should probably remove the option to do so

[2020-05-03 18:59] DubeySandeep opened #9231 "Adding 160+ draft translation for exploration throws error"
**Describe the bug**
Adding 160+ draft translation changes on the translation tab throws an error.

**Observed behavior**
An error log:
![image](https://user-images.githubusercontent.com/16653571/80922947-0ff0a600-8d9e-11ea-8034-7b6994540678.png)

Expected behavior:
Users should not see any error for adding complete draft translation for the exploration. Show them a warning to save the draft trans

[2020-05-03 19:03] aks681 commented on #9223
Oh, ok. Yeah, I just checked and it seems to be a feature. If you hover over the 'Enter' icon on the bottom right of the red bar, it says 'Insert paragraph here' and when clicked, it does do that, so this seems to be a feature to easily insert paragraphs at the end when the last element of the editor is an RTE component.

[2020-05-03 19:04] kevintab95 commented on #9226
Hi @U8NWXD, according to the initial implementation, topics and subtopics had just a single background color. Your point regarding it not making sense to ask the user to choose if there is just one choice makes sense. It has been fixed in a recent PR. See [comment ](https://github.com/oppia/oppia/pull/9216#discussion_r419060789)for how it will look now.

[2020-05-03 19:05] kevintab95 commented on #9226
#9216 fixes this. Closing this issue.

[2020-05-03 19:05] #9226 closed, assigned to kevintab95

[2020-05-03 19:11] kevintab95 commented on #9220
Hi @U8NWXD, due to some security reasons we do not support certain SVG tags/attributes. If the uploaded SVG fails these validations we reject the upload and show tell the user what tags / attributes are not supported. We plan to add a standalone document for creators that will contain guidelines for creating SVG images and some troubleshooting information to address issues they may run into. Does

[2020-05-03 19:11] kevintab95 commented on #9220
Please note that the overflowing of error text has been addressed in #9216.

[2020-05-03 19:14] U8NWXD commented on #6240
Hi @krishnarao22 sorry that was my mistake. I think that task was left over from a previous version of this issue. The relevant open task is `Drag and drop interaction`, but that one is pretty difficult since drag-and-drop is not well supported by protractor. I've instead assigned you to `Review tests`. Is that okay?

This task involves testing a new feature, so you'll need to create both a page o

[2020-05-03 19:17] U8NWXD commented on #9223
Okay, I'm closing then as this is a useful feature

[2020-05-03 19:17] #9223 closed, assigned to aks681

[2020-05-03 19:20] U8NWXD commented on #9220
@kevintab95 Thanks for the explanation! The rationale behind this behavior makes sense, and I think it'll be a lot easier to understand once the document exists for creating SVG images. Maybe we could link to the document from the error message? Would it be possible to have the document ready and linked-to from the error before we deploy this release?

[2020-05-03 19:21] krishnarao22 commented on #6240
Hi @U8NWXD, that's perfect. Thank you!

[2020-05-03 19:41] kevintab95 commented on #9220
Just to be clear, the document is not intended to be a step-by-step instruction on what the errors mean or how to resolve them. The tags/attrs that are disallowed are widely recognised to be vulnerable and are not used in SVGs on the web. Standard tools to creates SVGs like Adobe Illustrator provide export options to ensure the SVG created is web-friendly (see [example](https://helpx.adobe.com/in/

[2020-05-03 19:45] kevintab95 commented on #9227
Yep, sure.

[2020-05-03 20:50] Showtim3 commented on #9228
I am taking this up. I will update the thread with the information that I find.

[2020-05-03 21:11] kevintab95 commented on #9212
Per discussion with @aks681, I'll be working on a fix for this.

[2020-05-03 21:25] U8NWXD commented on #9220
Ahh that makes sense. Thanks for the explanation. I think since this is for admins to use, it's reasonable to expect them to follow generally accepted standards like exporting web-friendly SVGs. Therefore, I'm closing this issue.

[2020-05-03 21:25] #9220 closed, assigned to U8NWXD

[2020-05-03 22:16] kevinlee12 commented on #8423
@sori3006 how is your lint check coming along?

[2020-05-04 06:12] bansalnitish commented on #9222
Thanks @srijanreddy98 for filing this up.

Do we really need to add todo in each component above template? I guess since the change will be in each component we do not need to add todo in each component. This issue itself is good to keep a track.

[2020-05-04 06:24] seanlip opened #9234 "Extend misconception name length to 100 chars, and prevent saving a misconception that is too long at the outset."
**Describe the bug**
When entering a misconception for a skill, it is possible to enter one that is too long (and then run into errors while saving).

In addition, the misconception length limit should be increased to 100 characters (it is currently 50, which is too short).

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill and publish it.
 2. Add a misconception with the name "

[2020-05-04 06:27] seanlip opened #9235 "In the skill editor, move the "Prerequisite Skills" section to above the Review Material."
Currently, in the skill editor, the Prerequisite Skills section is located near the bottom of the page. It would be better to move it above the "Review Material" section, so that it is easier to figure out where the student is starting from when reviewing the skill.

(Note that this should be quite a straightforward fix.)

/cc @oppia/lace-team

[2020-05-04 06:36] seanlip commented on #9234
Oh, weird! In the "add misconception" modal, there is already a 100-character check. So I think the modal might already be behaving correctly, and possibly just changing 50 to 100 in the backend validation might be enough.

[2020-05-04 07:22] kevintab95 opened #9236 "Change skill description char limit to 100"
**Describe the bug**
Currently, the skill names have a char limit of 64. This is preventing lesson creators from specifying meaningful descriptions.
![image](https://user-images.githubusercontent.com/11008603/80943763-8eccf980-8e05-11ea-8dec-a5b99fa90283.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topic and skills dashboard.
 2. Create a skill with a long description.
 3. Obs

[2020-05-04 07:22] kevintab95 commented on #9236
cc. @oppia/lace-team

[2020-05-04 09:47] h-ARTS opened #9238 "Admin page should run, verify and stop one-off jobs e2e flake"
Occurrences:

[] Original: Failed in PR https://github.com/oppia/oppia/pull/9230 in CircleCI job 49403

Screenshot:
![80940571-d2236a00-8dfd-11ea-9f14-551a6a251a21](https://user-images.githubusercontent.com/11369764/80954046-f3378b00-8dfc-11ea-9ebf-c3f6635ec99b.png)

[2020-05-04 10:04] bansalnitish commented on #9238
Thanks for filing this.

cc @oppia/core-maintainers

[2020-05-04 11:25] DubeySandeep commented on #9221
Assigning @donosco98 to the issue as per discussion.

[2020-05-04 14:41] U8NWXD commented on #8998
@mzaman07 can you update this thread? We need to get this fixed for the upcoming release.

[2020-05-04 14:41] U8NWXD commented on #8999
@mzaman07 can you update this thread? We need to get this fixed for the upcoming release.

[2020-05-04 14:46] #9228 closed, assigned to Showtim3

[2020-05-04 15:03] MNSDivya opened #9244 "Fractions collection URL is throwing 404 - Page Not Found error on mobile"
**Describe the bug**
Fractions collection URL is throwing 404 - Page Not Found error on mobile
URL: https://oppiatestserver.appspot.com/collection/giIwhTU3up5v

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to 'https://oppiatestserver.appspot.com'
 2. Load the Fraction collection URL

**Observed behavior**
Fractions collection URL is throwing 404 - Page Not Found error on mobile

**E

[2020-05-04 15:52] U8NWXD commented on #9244
@MNSDivya I was unable to reproduce this error. Here's what I did to reproduce:

1. Signed in using Google from https://oppiatestserver.appspot.com
2. Navigated to https://oppiatestserver.appspot.com/collection/giIwhTU3up5v by entering the URL

The fraction collection page loaded for me as expected. Was there anything I missed when reproducing?

[2020-05-04 16:00] mzaman07 commented on #8999
I found a fix that works on all the browsers including mobile versions. The problem is there are 2 sets of solutions now. The onvoicechanged event is required for some browsers that use it. If it is not used then browsers like firefox and android chrome will not show the button. This means it needs to download the speechsynthesis voice and its asynchronous. I'm going to have to spend time assessin

[2020-05-04 17:29] Showtim3 opened #9245 "The hint box in the bottom left should have a normal/default cursor instead of text selection cursor."
**Describe the bug**
Upon hovering over the hint text, the cursor changes to text selection which doesn't look good.
The cursor becomes this:
![image](https://user-images.githubusercontent.com/30312043/80994673-a08cbc00-8e5a-11ea-97c0-a0d149dd62d6.png)

![image](https://user-images.githubusercontent.com/30312043/80994559-7509d180-8e5a-11ea-8743-d3fe114c19a6.png)

**To Reproduce**
Steps to reproduc

[2020-05-04 17:32] mzaman07 commented on #8998
Check my answer [here](https://github.com/oppia/oppia/issues/8999#issuecomment-623551605).

[2020-05-04 17:36] DubeySandeep commented on #9244
@U8NWXD, Thanks for checking, I too tried this and I can access the page (Even without login). [I too followed the same step as above on Chrome/Ubuntu]

Note: I've not tried this on a mobile phone*

EDIT: I tried testing this on Mobile device and it works fine:

![](https://lh3.googleusercontent.com/-JQMCZZaCVEo/XrBTBH529lI/AAAAAAAAPIg/bFh-UCTrA24JDNDkpXpwDoYsHJpNrxviACK8BGAsYHg/s0/2020-05-04.jpg)

[2020-05-04 18:44] U8NWXD commented on #9245
@aks681 could you triage this blocking bug by either taking it up or passing it to another contributor?

[2020-05-04 18:45] U8NWXD commented on #8999
@mzaman07 could you estimate when you'll be able to fix this or, if that's too uncertain, when you'll be able to make such an estimate?

[2020-05-04 19:32] Showtim3 commented on #9245
@U8NWXD @oppia/lace-team I'll take this up.

[2020-05-04 20:56] DubeySandeep commented on #9245
Hi @Showtim3, I don't think we expect the "HINTS" text to be clickable. The ![image](https://user-images.githubusercontent.com/16653571/81012753-b65caa00-8e77-11ea-8826-064b38d40d01.png) icon should be clickable.

[2020-05-04 20:59] DubeySandeep commented on #9036
@aks681, @vojtechjelinek Can you please reply to @Showtim3's question? [I don't have enough context of this issue]

[2020-05-04 21:15] Showtim3 commented on #9245
Ok then @DubeySandeep I'll just fix the cursor.

[2020-05-04 21:37] mzaman07 commented on #8999
I'm going to prioritize this and try to get this done within the next 2 days.

[2020-05-04 23:28] U8NWXD commented on #8599
@mzaman07 @DubeySandeep any update on this issue? This was seen again during the current round of release testing

[2020-05-04 23:29] U8NWXD commented on #8599
I'm not adding this to blocking bugs since it doesn't appear to affect the user experience

[2020-05-05 02:28] srijanreddy98 opened #9248 "The input box flows out of the screen while submitting a question in community dashboard."
**Describe the bug**
The input box flows out of the screen while submitting a question.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to community dashboard questions tab
 2. Click on any skill
 3. Double click inside the input box
 4. The input box flows outside the modal
**Observed behavior**
It happens consistently across both firefox and chrome.

**Expected behavior**
Input box sho

[2020-05-05 03:08] srijanreddy98 commented on #9248
Similar to #9224

[2020-05-05 03:22] MNSDivya commented on #9244
Thanks @U8NWXD  and @DubeySandeep. I cleared the cache and tried. The URL redirected to the expected page.
Can close the defect.

[2020-05-05 03:23] U8NWXD commented on #9244
Thanks for digging into this @MNSDivya !

[2020-05-05 03:23] #9244 closed, assigned to nobody

[2020-05-05 03:43] #9235 closed, assigned to sseth99

[2020-05-05 03:43] #9221 closed, assigned to donosco99

[2020-05-05 06:27] seanlip opened #9249 "Too many duplicate warnings show in the skill editor."
**Describe the bug**
The same warning is unnecessarily shown multiple times in the skill editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new skill.
 2. Try to enter 'Build a number from several "{{number}} {{place name}}" groups.' as the skill name.
 3. Tab out of the field and tab back again, or click somewhere else on the page and click back again, and repeat this action.

[2020-05-05 06:33] DubeySandeep commented on #9249
@aks681, Have we resolved this issue in #9218? (I was assuming it to be similar to #9211)

[2020-05-05 06:36] seanlip commented on #9249
Note: I also found that, even after fixing the issues and saving/publishing the skill, the errors were still there. It took me a while to realize that the skill had been successfully published.

[2020-05-05 06:36] seanlip commented on #9249
(Note that this is a bit different from #9211 -- this relates to how error messages are being handled in general.)

[2020-05-05 08:28] DubeySandeep commented on #9245
Removing this from the blocking bug as it's not blocking any user journey! (It's just a very minor UI issue)

@Showtim3, Can you please update the issue title accordingly?

[2020-05-05 09:16] Vinit-Dantkale commented on #5747
Hello, i looked into the problem and used CSS and angular for solving it but the issue of race condition persists. I should unassign myself. Thank You.

[2020-05-05 09:26] vojtechjelinek opened #9251 "Unify the adding of libs into the path in one place"
Currently, we add the third party libs directories to `sys.path` in multiple files:

- appengine_config.py
- core/tests/gae_suite.py
- scripts/linters/pre_commit_linter.py
- scripts/run_backend_tests.py

unify this into one place so the updates to libraries are more easy to do.

[2020-05-05 09:36] vojtechjelinek commented on #9036
@aks681 Any reason why Safari cancels it? I'm fine with calling the event from different place.

[2020-05-05 10:44] #9208 closed, assigned to aks681

[2020-05-05 10:44] #9217 closed, assigned to aks681

[2020-05-05 10:44] #9211 closed, assigned to aks681

[2020-05-05 10:44] #9234 closed, assigned to aks681

[2020-05-05 10:44] #9236 closed, assigned to aks681

[2020-05-05 15:42] U8NWXD commented on #9248
@srijanreddy98 I think #9243 fixes this. Could you confirm? Here are the steps I followed:

1. Checkout the PR code and run locally
2. Login as an admin and create a skill and a topic
3. Add the skill to the topic and publish
4. Go to the community dashboard and suggest a question

[2020-05-05 16:17] srijanreddy98 commented on #9248
@U8NWXD I checked #9243. It fixed this error. Works as expected on my system.

[2020-05-05 18:32] anshalshukla commented on #6271
@Showtim3 @aks681 can I work on this task please give me a brief explanation of what has been done and what still needs to be done

[2020-05-05 18:42] anshalshukla commented on #8553
@Arnesh07 Can I work on this?
And can you brief me about what needs to be done?

[2020-05-05 19:44] Showtim3 commented on #6271
Hey @anshalshukla You can read the issue description to know what needs to be done and also take a look at the Pr's for reference. These two ought to give you some insight, then comment the method/function which you want to work on from the above list.

[2020-05-05 21:57] #9224 closed, assigned to aks681

[2020-05-05 21:57] #9248 closed, assigned to srijanreddy98

[2020-05-05 22:45] Showtim3 commented on #9225
I think this is default browser-specific behavior. Is this is a valid bug?
@oppia/lace-team

[2020-05-06 01:34] brianrodri opened #9253 "Introduce HttpService and phase in usage throughout codebase"
This issue tracks the effort to create an `HttpService` for Oppia, and the effort to use it exclusively to build HTTP requests.

The service should enforce the following invariants:
-   HTTP responses should *never* be a JSON array.
    -   When a JSON array is received, we should throw an error.

Here's an untested implementation of the service:
[code]

[2020-05-06 05:26] mzaman07 commented on #8999
I think I fixed it, will make sure all of the relevant unit test and e2e tests are updated accordingly. I will manually test this on all of the main browsers for desktop and mobile. Hoping I get a PR sometime tommorrow.

[2020-05-06 07:50] seanlip commented on #8553
Just to clarify, @Arnesh07 is no longer working on this.

[2020-05-06 08:35] anshalshukla commented on #8553
Hi, @DubeySandeep please assign this issue to me.

[2020-05-06 08:41] srijanreddy98 opened #9255 "Removal of temporary subjects used to migrate $scope/$rootScope events"
# Problem
Currently, there are a lot of instances of `$rootScope` and `$scope` across the codebase blocking the angular migration. These usually indicate a certain event happening in the code which should lead to changes in the app-state. Now, these changes should reflect everywhere. One way to do it would be to use @Input() and @Output() for parent-child communication. This removes the burden of

[2020-05-06 15:16] DubeySandeep commented on #9249
hi @aks681, any update on this issue?

[2020-05-06 15:16] DubeySandeep commented on #9036
hi @aks681, PTAL!

[2020-05-06 16:19] nithusha21 opened #9258 "Add a notification system for reviewers on the communtity dashboard."
Here is a design doc outlining the proposed solution. https://docs.google.com/document/d/1vapko3aKNkfZKnQsho9mycDDbflTA-upK3Ls8o4glSA/edit

In brief: There is no mechanism for the reviewers to know when suggestions are created on the community dashboard. The above doc outlines a periodic email notification for reviewers, and emails for admins when there are no reviewers for that category of sugges

[2020-05-06 16:34] aks681 commented on #9249
@DubeySandeep I have started on it, will try to create a PR by tonight.

[2020-05-06 16:47] DubeySandeep commented on #9249
@aks681, Thanks for the update!

[2020-05-06 17:30] #9212 closed, assigned to kevintab95

[2020-05-06 17:30] #9227 closed, assigned to kevintab95

[2020-05-06 21:51] DubeySandeep commented on #8553
Hi @anshalshukla, Thanks for showing interest in this issue, I would suggest you pick a simpler "good first issue" and then pick this one as this issue seems a bit difficult to start with! You can find suggestions on good first issues [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do). Let me know if you have any questions? Thanks! :)

[2020-05-07 04:51] anshalshukla commented on #8174
@cuichenli please assign this to me

[2020-05-07 04:54] kevinlee12 commented on #8174
@anshalshukla you got it!

[2020-05-07 04:55] anshalshukla commented on #7712
@kevintab95 assign this to me.

[2020-05-07 05:04] kevintab95 commented on #7712
Hi @anshalshukla, please note that this issue will involve writing an audit job to check for cases that currently exist on the server and a migration job to fix them (see [comment](https://github.com/oppia/oppia/pull/8437#issuecomment-578639419)). This involves a considerable amount of changes and is not ideal for new contributors. I would strongly recommend that you try out one of the "good first

[2020-05-07 10:16] #9249 closed, assigned to aks681

[2020-05-07 11:12] DubeySandeep commented on #9036
Update:
I had a discussion with @aks681 on this and we found this need more investigations and we are working on writing a doc with the issues investigations and alternatives. On further discussion with QA we thought of removing this from blocking bug and moving it to a high priority for the LACE team. [Considering the [4.i bullet of release-blocking bug guidelines doc](https://github.com/oppia/op

[2020-05-07 11:19] DubeySandeep commented on #8999
@mzaman07, any update on this issue? {Note: This is the only issue left for release and it's blocking the release now!]

[2020-05-07 15:24] mzaman07 commented on #8999
I just need to fix one test case. Going to get that done today. Then I
should be able to push and make a PR. Sorry about that.

On Thu., May 7, 2020, 5:19 a.m. Sandeep Dubey, <notifications@github.com>
wrote:

[2020-05-07 16:43] U8NWXD commented on #6240
Assigned @krishnarao22 to audio translations per email. Deassigned @NinaLoeterman and @Showtim3 due to inactivity

[2020-05-07 17:40] nithusha21 commented on #8037
I just tried this out and I am not able to repro it. I don't see a "click here for a hint" box, the hints just show up and I can view the hint even after I submit the correct answer.

[2020-05-07 17:40] nithusha21 commented on #8037
Closing for now, feel free to reopen if you do see this again!

[2020-05-07 17:40] #8037 closed, assigned to nobody

[2020-05-07 17:44] nithusha21 commented on #8880
I am not able to reproduce this either. I think this has been fixed (though I am not able to pinpoint the PR that did this). I am closing this for now, feel free to reopen if it happens again!

[2020-05-07 17:44] #8880 closed, assigned to nobody

[2020-05-07 20:56] iamprayush opened #9263 "Stories with the same name are allowed."
**Describe the bug**
Multiple stories in the same topic with the same name are allowed, but they shouldn't.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic.
 2. Create a story and give it some name.
 3. Now, try creating another story with the same exact name under the same topic.

**Observed behavior**
No warnings are shown and the topic is publishable.

**Expected behavior*

[2020-05-07 23:14] safwan20 commented on #4057
@marianazangrossi can you assign me ,
exploration-automatic-text-to-speech.service.ts
pencil-code-editor-validation.service.ts
state-interaction-id.service.ts.
question-undo-redo.service.ts,
state-content.service.ts
state-customization-args.service.ts
state-recorded-voiceovers.service.ts
state-solicit-answer-details.service.ts
state-solution.service.ts
state-written-translations.service.ts

[2020-05-08 01:59] DubeySandeep commented on #8998
I tried this on Firefox today and I found that this isn't any browser-specific issue, it's more around regression. I found that the English (Auto)option is available in the preview tab of the editor page but it's not available on the player page. (I don't have the mobile device to test this but I think #8999 will may also fall under the same case.)

EDIT: I tried testing this again and unexpectedl

[2020-05-08 03:41] Wiebesiek commented on #4057
@marianazangrossi can you assign me
    - pretest-question-backend-api.service.ts

[2020-05-08 07:35] nishantwrp opened #9264 "Typescript checks don't work on circle CI"
**Describe the bug**
Typescript checks don't work on circle CI

**To Reproduce**
Steps to reproduce the behavior:
1. See logs on any pull request.

**Observed behavior**
[code]

**Expected behavior**
They should run.

[2020-05-08 21:05] marianadasilvadev commented on #4057
I assigned you both @safwan20 and @wcascades

[2020-05-09 04:37] kevintab95 commented on #9264
/cc @oppia/core-maintainers

[2020-05-09 04:58] kevintab95 opened #9271 "Remain in the "Unused Skills" tab after merging a skill"
**Describe the bug**
After merging a skill, the current behaviour is to automatically switch to the topics tab. This is inconvenient if the user wants to merge multiple skills, one after the other.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill.
 2. Create a topic.
 3. Go to "Unused skills" tab and assign as skill to the topic.
4. Observe that topics tab is selected in the o

[2020-05-09 08:24] kevintab95 opened #9276 "Translation tab e2e suite flakiness"
The translation tab e2e test suite seems to be flaky.

LOG:
[code]

As seen in [job](https://travis-ci.com/github/oppia/oppia/jobs/330898966).

[2020-05-09 14:59] kevintab95 opened #9281 "Solution editor summary header looks weird for DragAndDropSortInput interaction"
**Describe the bug**
Solution editor summary header looks weird for DragAndDropSortInput interaction

**To Reproduce**
Steps to reproduce the behavior:
 1. Creat an exploration with the DragAndDropSortInput interaction.
 2. Add a Hint.
 3. Add a Solution.
 4. Observe that the summary header looks weird.

Note: This is observed in the question editor as well.

**Expected behavior**
The summary head

[2020-05-09 15:00] kevintab95 commented on #9281
/cc @oppia/lace-team

[2020-05-10 01:46] brianrodri commented on #3947
While looking into ways to implement this, I came across a hex-bin algorithm: https://github.com/d3/d3-hexbin.

@swaat-on-git, how do you feel about using hexagonal regions instead of rectangular ones? For example:
![image](https://user-images.githubusercontent.com/5094060/81488995-6ba7ad00-923e-11ea-8120-884e32504f64.png)

The benefits of this strategy would be not needing to differentiate betwee

[2020-05-10 07:37] swaat-on-git commented on #3947
If having it as hexagons makes the algorithm easier, let's go for it! Only thing is, when users select regions to pre-define them while creating the exploration, the same shape should be used to maintain consistency. That way, answers are always associated with hexagons.

[2020-05-10 11:32] DubeySandeep commented on #8999
Removing this from "BLocking bugs" as it seems browser-specific issue and needs more investigation. Marking this to be the high priority issue for the AUdio and translation team.

[2020-05-10 11:33] DubeySandeep commented on #8998
Removing this from "Blocking bugs" as it seems browser-specific issue and needs more investigation. Marking this to be the high priority issue for the Audio and translation team.

[2020-05-10 16:32] nishantwrp opened #9287 "Add a lint check to check whether the type defs need to be updated"
Once the lint checks are in, Change the version of wavesurfer in package.json to `^3.3.3`. (So that we use the latest version of the libs and the typedefs are up to date as well.)

Refer - https://github.com/oppia/oppia/pull/9279#discussion_r422665874

[2020-05-10 16:35] DubeySandeep commented on #9287
@nishantwrp, Can you please add more info about "Once they are in"? [So that this issue is self-explanatory and it's not necessarily required to look into the thread!]

[2020-05-10 16:39] nishantwrp commented on #9287
Done

[2020-05-10 16:46] DubeySandeep commented on #9287
It's still not clear:
- Which lint test?

I would suggest writing it this way:

------
**Current situation:**
Currently, we have removed `^` so that ... <reason>... as we expect to update/verify typedef in <filename> whenever we update ....

**Expected situation:**
To resolve this issue we need to add '^' over here [Link] once we have a lint check which will allow/inform/warm ......

-------

[2020-05-10 16:48] nishantwrp commented on #9287
I think the issue name describes the lint check.

[2020-05-10 17:30] nishcthulhu commented on #8472
working on  learner-answer-details-data.service.ts

@h-ARTS taking over exploration-data.service.ts as it is needed for other files as well
@bansalnitish please update as this will need me to take up read-only-exploration-backend-api.service.ts and editable-exploration-backend-api.service.ts

[2020-05-10 19:26] kevintab95 opened #9288 "Unable to search for skills in the Concept card RTE modal (question editor UI)"
**Describe the bug**
Unable to search for skills in the Concept card RTE modal (question editor UI)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Try to add a concept card link in the review material, misconceptions, rubric or in any field in the question editor modal.
 3. Observe that the "search for skill" does not work.
 4. See error in the console.

**Observed behav

[2020-05-10 21:26] kevintab95 commented on #9288
This issue occurs when there exists topic with skill ids of skills that were deleted. Skills attached to topics may have been deleted in the following manner:

1. Create a skill and a topic.
2. Open 2 tabs with the topics and skilsl dashboard.
3. In tab 1, assign created skill to the topic.
4. In tab 2, delete the skill that was assigned (it should still show in the unused skills tab)
This causes

[2020-05-11 04:03] #9138 closed, assigned to DubeySandeep

[2020-05-11 09:34] #9264 closed, assigned to kevinlee12

[2020-05-11 09:35] nishantwrp commented on #9264
Fixed via #9270

[2020-05-11 14:20] safwan20 commented on #4057
@marianazangrossi can you assign me
AudioFileObjectFactory.ts
FileDownloadRequestObjectFactory.ts
ImageFileObjectFactory.ts
AnswerGroupObjectFactory.ts
graph-detail.service.ts

[2020-05-12 04:50] Vinit-Dantkale commented on #8472
I would like to work on `learner-answer-info.service.ts`

[2020-05-12 11:59] ankita240796 commented on #8472
@bansalnitish I don't think we can have `PlaythroughIssuesService` listed here since it depends on `ImprovementModalService` which uses $uibModal and isn't yet migrated. Can you please check that why is it listed in good first issues?

[2020-05-12 11:59] nishantwrp commented on #6351
Hi @ankita240796, I think we can close this now?

[2020-05-12 17:00] brianrodri commented on #3947
FYI, here's some progress I've made on the hexbin algorithm:
![image](https://user-images.githubusercontent.com/5094060/81723206-83ef1600-9450-11ea-94fc-f027103d3c31.png)

[2020-05-12 19:24] kevintab95 opened #9300 "Handle stale tabs in topics dashboard more gracefully"
**Is your feature request related to a problem? Please describe.**
When you have the topics and dashboard page open in multiple tabs, it may be the case that some tabs have stale data. Eg. A skill is deleted, merged, created or a topic is created/deleted and it doesn't reflect in the tab.

Detailed description of one such scenario (deletion of a skill that has been assigned to a topic):
1. Create

[2020-05-12 20:00] ReshuKumari commented on #9253
I would like to work on it. And as I am a beginner please help me whenever needed.

[2020-05-12 20:42] ReshuKumari commented on #9253
could you please help me setting up Oppia in windows by Docker, as Docker is not getting installed due to failure in prerequisite.

[2020-05-12 22:15] brianrodri commented on #9253
Sounds good, have you reached out to your onboarding mentor for the installation issue? +@kevintab95 in case you haven't seen this.

[2020-05-12 22:17] brianrodri commented on #4662
@swaat-on-git could you please share a link for the HTML/CSS details of your design?

[2020-05-12 22:37] seanlip commented on #7816
NB: deassigning @pranavsid98 since he isn't working on this issue at the moment.

[2020-05-13 08:26] kevintab95 commented on #9276
@oppia/qa-team flagging this because it seems to happen very frequently!

[2020-05-13 08:33] kevintab95 opened #9302 "Conflicting feedback message when trying to delete a skill that is assigned to a topic"
Steps to reproduce the error:
1. Create a skill.
2. Open topics and skills dashboard in 2 tabs.
3. Assined skill to a topic in tab 1.
4. Delete the same skill un tab 2.
5. Observe conflicting feedback messages.
![81788412-55585600-94b7-11ea-9539-4734c1d547aa](https://user-images.githubusercontent.com/11008603/81789989-60949b80-9522-11ea-8947-d50d54c6773f.png)

Expected behaviour:
The green success

[2020-05-13 16:15] #9288 closed, assigned to kevintab95

[2020-05-13 22:46] DubeySandeep opened #9309 "Maths classroom page on test server throwing error"
**Describe the bug**
Maths classroom page on test server throwing error

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [/math](https://oppiatestserver.appspot.com/math)
 2. Check errors

**Observed behavior**
Error logs on the page and the pages don't load completely.

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/81873558-a17bc700-9599-11ea-88e0-a1a85aa

[2020-05-13 22:48] DubeySandeep commented on #9309
@iamprayush, Can you please check what's going on here? Seems related to PR #9109

Note: This is blocking the release, so we need to fix this quickly!

/cc @aks681

[2020-05-13 22:49] DubeySandeep commented on #9309
I found this comment in the cherry-pick testing doc [here](https://docs.google.com/document/d/1ERrLgn3_ACFagvroXnjosgy7KUUcyacJVB02XIrYlSs/edit). So should we close this issue? [Though I don't think we should show error on test server, will it be same on prod?]

[2020-05-14 00:30] #8545 closed, assigned to Showtim3

[2020-05-14 04:22] seanlip commented on #9309
It's not correct to show errors -- but shouldn't the classroom page be hidden behind a flag, and shouldn't that flag be set to False? I didn't think we were releasing it yet. /cc @aks681 @kevintab95

[2020-05-14 04:23] seanlip commented on #9300
Just adding a note that we might want to investigate a general solution for this, since similar issues can arise in other pages too (with data getting stale if subsequent changes are made in another tab or by another user).

[2020-05-14 13:59] iamprayush commented on #9309
Yes, this is because the classroom page has not been released yet. But, I don't think this is blocking since there is no way to access the classroom page since the callout and the buttons that lead to the classroom page are hidden behind a flag. So, unless the user explicitly enters `/math` in the search bar, they shouldn't even be landing on this page.

/cc @DubeySandeep @seanlip

[2020-05-14 14:04] DubeySandeep commented on #9309
Disable the flag if the page is not ready for release. [Expect user can enter `/math` so we need to disable this and we should not expect any error on a prod or test server for any random usage!]

Can you please create a PR and disable the classroom page if it's not ready! Also, even if there isn't any classroom data the page should not fail, right?

[2020-05-14 14:13] iamprayush commented on #9309
Currently, the buttons that lead to the page are hidden behind a flag, but the page is still accessible via querying the URL directly. I'll create a PR that throws a 404 when the user tries to access this page and the flag is disabled.

[2020-05-14 14:19] srijanreddy98 opened #9311 "Use TestBed.inject instead of TestBed.get"
In the unit tests (Angular 8 spec tests), I have noticed a lot of `TestBed.get(...)`. `TestBed.get `returns the type `any` and it is error-prone. It also mentioned in the angular guide. Link to it: https://angular.io/guide/testing#angular-testbed. On the page, there is a note that mentions the same. Quoting the note present in the page:

**To be done the codebase moves from Angular 8 to Angular 9*

[2020-05-14 14:19] srijanreddy98 commented on #9311
@marianazangrossi, could you take a look and let me know your views regarding this change.

[2020-05-14 18:49] marianadasilvadev commented on #9311
Really nice catch @srijanreddy98, @bansalnitish what do you think about this change?

[2020-05-14 19:02] seanlip commented on #9309
Just noting that I agree with @DubeySandeep. Thanks for creating the PR @iamprayush!

[2020-05-15 04:11] kevinlee12 opened #9314 "Run only changed files on linter"
Currently the linter checks merge from develop, so we will get a comprehensive set of lint checks to run against the set of files. As a result, we no longer need to run the linter across all files. The largest upside is that this will speed up the lint checks.

The purpose of the ticket is to do the following:
- Split the linter checks for each file type into (a) checks where each file's results a

[2020-05-15 05:42] bansalnitish commented on #9311
I think it's clear. We shoud change TestBed.get() -> TestBed.inject(). Does this sound good to both of you?

Thanks for filing this up @srijanreddy98, nice one!

[2020-05-15 06:09] bansalnitish commented on #8472
Thanks for pointing this out @ankita240796 -- I've updated the issue description.

[2020-05-15 09:21] srijanreddy98 commented on #9311
Yes

[2020-05-16 02:32] marianadasilvadev commented on #4057
@safwan20 Done!

[2020-05-16 20:07] vojtechjelinek opened #9320 "Remove remaining parts of Jinja"
After #9294 is merged the only remaining parts of Jinja will be the parts that are used to evaluate objects and properties.

All the remaining code related to Jinja can be found in [jinja_utils.py](https://github.com/oppia/oppia/blob/develop/jinja_utils.py). We should get rid of it and replace it with our own solution.

[2020-05-17 18:22] rachelwchen opened #9322 "Redesign: lesson landing page"
The growth design team has been working on a redesign of the lesson landing pages. This would replace the [current /learn page](https://www.oppia.org/learn/maths/fractions).

Goals for redesign:
-Call out Oppia's features more explicitly
-Provide more explanations on the featured collection
-Rewrite the copies for SEO

Here is the link to the desktop and mobile prototypes: [link here](https://www.

[2020-05-18 08:30] Showtim3 commented on #7427
This issue is complete. Closing this.

[2020-05-18 08:30] #7427 closed, assigned to nobody

[2020-05-18 13:22] srijanreddy98 commented on #9311
Hi @marianazangrossi and @bansalnitish. I was changing some tests to have TestBed.inject() instead of TestBed.get() (Actually it was just a global replace😅). But I forgot that the angular version we have is 8 and TestBed.inject was introduced in angular 9. So we can't use inject as of now.

[2020-05-18 13:47] bansalnitish commented on #9311
Oh I see -- thanks for checking this. Could you please update the issue description with the same note?

`Update: This could be done only when we move from Angular 8 to Angular 9`

[2020-05-18 14:49] ankita240796 commented on #8838
Hi @mzaman07 @Tejas2805, sorry missed updating this. I am not able to get the console error on the latest copy of develop. Can you check once as well? Thanks!

[2020-05-18 16:52] vojtechjelinek commented on #8038
@bansalnitish @srijanreddy98 Could you please help @jimbyo?

[2020-05-18 19:58] nishantwrp commented on #6351
@ankita240796 Ping!

[2020-05-19 02:55] #9309 closed, assigned to kevintab95, aks681, iamprayush

[2020-05-19 05:49] mzaman07 commented on #8838
Ok, I will try soon here and get back to you.

[2020-05-19 06:14] bansalnitish opened #9325 "Some of the files are not included in backend coverage even if they have tests"
I checked files `docstrings_checker.py` and `pylint_extensions.py` are not included in the backend coverage even if they have corresponding test files.

The reason is that in the `run_backend_tests.py` we check if the subclass of the classes present in the test class (in the test file) contains "AppEngineTestBase", only after which it is included in the backend coverage.

[code]

I see the above m

[2020-05-19 06:58] Hudda opened #9326 "Semaphore with all_messages in pre commit linter"
We are using semaphores in pre_commit_linter where we are appending messages to the `all_messages` list. As the code is not running in multithreading do we really need it?
![Screenshot from 2020-05-19 12-23-47](https://user-images.githubusercontent.com/29057268/82294575-fd948000-99cb-11ea-8889-b8e2bd530107.png)

Also, correct the docstring of `_get_task_output` function.

cc / @DubeySandeep

[2020-05-19 15:56] kevinlee12 commented on #9326
I believe the reason we did that PR was to ensure there was a lock on the task and all_message resource, didn't you do that PR @Hudda?

[2020-05-19 16:06] Hudda commented on #9326
@kevinlee12 yep I did that but now I have doubts after reading @DubeySandeep [comments](https://github.com/oppia/oppia/pull/9273#discussion_r426214267). It would be great if you take a look and see if we really need it.

[2020-05-19 18:51] seanlip commented on #9231
Note: it should be evaluated whether or not this is a general issue that applies to other types of changes. If this is a general thing, then we should find a general fix for it. If it is specific to translations then we can do a translation-specific fix.

[2020-05-19 23:06] brianrodri commented on #9325
Hmm, is this also how our code coverage tool calculates the %s?

[2020-05-20 03:18] kevinlee12 commented on #9325
Nope, the coverage percentage is based on the file itself, it doesn't look at other things.

[2020-05-20 03:32] kevinlee12 commented on #9326
He could be right if grabbing the output messages was a synchronous call, if it was an asynchronous call, then you would need a call. That being said, the question now becomes: does the thread wait until task.output is appended to all_messages? If yes, then we should remove semaphores, if not, then we should keep it.

[2020-05-20 03:41] DubeySandeep commented on #9326
Yeah it does i.e, when we call [execute_tasks](https://github.com/oppia/oppia/blob/develop/scripts/linters/pre_commit_linter.py#L512) method then this method returns after completing all the tasks.
https://github.com/oppia/oppia/blob/7c61186dbec4f0d7f6f18e3408125f5747a0fa6a/scripts/concurrent_task_utils.py#L125-L128

[2020-05-20 04:04] bansalnitish opened #9331 "Add typescript checks to pre_push_hook"
I've seen typescript_checks is the only way to ensure that correct types are added to the Angular stuff. This is filed to add the typescript checks to the pre_push_hook.

[2020-05-20 04:04] bansalnitish commented on #9331
cc/ @vojtechjelinek (as primary mentor)

[2020-05-20 04:32] kevinlee12 commented on #9326
In that case, if that PR was done solely to address that comment, I think it should be reverted. But if it did solve issues, let's keep it since there's no harm.

[2020-05-20 04:42] DubeySandeep commented on #9326
I dont think that the code logically fits there and I'm not sure whether it helped with fixing the issue either.

@Hudda Can you please compare/share the output log of the lint test with and without this semaphore? [I think this will help us to understand whether this semaphore helps with fixing the issue!]

[2020-05-21 01:22] mzaman07 commented on #8838
Ok so I tried it on both chrome and firefox on ubuntu. There was no console error on the latest copy of develop.

[2020-05-21 06:44] donosco99 opened #9340 "Issue while linking another skill to a question."
**Describe the bug**
The linking another skill to a question a backend error, that no skill-id was provided.
Refer to the below gif.
![skill_link_error](https://user-images.githubusercontent.com/31371571/82531144-67dc2a80-9b5c-11ea-922d-cc6d46652a58.gif)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to question editor of a question.
 2. try linking another skill by clicking on link ano

[2020-05-21 10:05] kevintab95 commented on #8464
Re-opening this because of a regression!

[2020-05-21 12:37] #9331 closed, assigned to nishantwrp

[2020-05-22 02:13] marianadasilvadev commented on #8924
**Notes:**
This issue is being fixed by @marianazangrossi, you can checkout the related PR in the thread below

[2020-05-22 03:59] #7493 closed, assigned to nobody

[2020-05-22 04:08] seanlip commented on #9320
Update: #9294 is merged!

[2020-05-22 04:58] mhotiger commented on #4057
@marianazangrossi  Can I take question-creation.service.ts?

[2020-05-22 13:18] DubeySandeep commented on #8855
![image](https://user-images.githubusercontent.com/16653571/82671578-b4a72a80-9c5c-11ea-8b90-bb2fed932d9d.png)
I see this kinda commit logs in most of the PRs and I think pre-commit lint test would be really helpful to avoid such workflow/commit log history.

[2020-05-22 20:26] vojtechjelinek commented on #7176
@nishantwrp Could you please rephrase this issue to something like: "Add types for these files…"

[2020-05-22 21:45] seanlip commented on #8855
@nishantwrp, what do you think? (Maybe you could talk about your workflow in the example Sandeep mentioned above.)

[2020-05-22 22:38] nishantwrp commented on #8855
@seanlip Yeah I agree with @DubeySandeep, I think we should shift the lint tests to the pre commit hook. Because this kind of thing(1 main commit + several commits to pass pre push hooks) mainly occurs due to the lint checks.

I also do that most of the time i.e. use `python -m scripts.linters.pre_commit_linter` but I don't know why it wasn't working for me when I was working with the PR whose ima

[2020-05-22 22:43] seanlip commented on #8855
OK -- it sounds like there is some support for this!

I'm not sure who wants to champion it, but I suggest that that person start by surveying a group of active developers (maybe the GSoC students, or oppia-dev@) and then we can make a decision based on the results. If there is a strong majority in favour then maybe we'll make this the default rather than an option.

Since we need to make sure tha

[2020-05-23 11:23] kiriakivel commented on #6271
hi, can I work on add_misconception ?

[2020-05-23 11:31] kevintab95 commented on #6271
Hi @kiriakivel, I've assigned it to you!

[2020-05-23 15:22] ankita240796 opened #9348 "Enforce a naming convention for interfaces"
Interfaces should follow a naming convention and there should be a check to catch any violations.

Refer: https://github.com/oppia/oppia/pull/9299#discussion_r429538466

\cc @bansalnitish @srijanreddy98

**UPDATE**: After some offline discussion, the scope of this issue is to remove `I` from the interfaces in the codebase.

[2020-05-23 17:51] bansalnitish commented on #9348
Thanks for filing this one -- this is needed.

cc/ @Hudda

[2020-05-23 18:12] bansalnitish commented on #8038
@jimbyo could you please specify what help do you need from our end right now? I'll be happy to help you. (Apologies for the late response)

[2020-05-24 03:53] #9287 closed, assigned to nishantwrp

[2020-05-24 03:56] #8464 closed, assigned to kevintab95

[2020-05-24 18:22] seanlip opened #9354 ""Author Profiles" bar overlaps bottom of card when text is too long"
**Describe the bug**
When a page within a lesson is longer then the height of the screen, the "Continue" button can get covered by the "Author Profiles" bar and it is not possible to scroll down any further.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. In the content section of the first card, add a lot of text, and then add a Continue button interaction.
 3

[2020-05-24 18:49] anmol1point0 commented on #8423
hi, i would like to work on "Add check to multiline expressions ensuring line break after '(' "

[2020-05-24 23:59] DubeySandeep commented on #9322
@rachelwchen, I see an extra button for the mobile view of the page, wanted to check whether that's expected?
![image](https://user-images.githubusercontent.com/16653571/82767890-9b62d180-9e48-11ea-81af-1becf9d47aab.png)

[2020-05-25 02:17] rohitkatlaa opened #9356 "Add sveditor to backend validations"
Once the directives folder is created for the Svgeditor, we should include Svgeditor for the backend validations.

**Additional notes**
This is a TODO from first part of milestone 1 #9352  in adding custom editor to rte.

[2020-05-25 10:27] rohitkatlaa opened #9357 "Implement the validate function"
**Describe the bug**
The validate function in the literally-canvas-diagram-editor.component.ts has to be implemented once the data is saved.

**Additional context**
TODO as a part of milestone 1 part 2 of adding svg editor to rte.

[2020-05-25 10:27] rohitkatlaa commented on #9357
Created as a part of #9352

[2020-05-25 13:19] rohitkatlaa opened #9358 "Remove enable flag for svgeditor"
**Describe the bug**
The enable flag for the svgeditor should be removed once it is available for the users.

**Additional notes**
TODO as a part of milestone 2 of adding svgeditor to rte

[2020-05-25 13:20] rohitkatlaa commented on #9358
Created as a part of #9352

[2020-05-25 15:40] brianrodri commented on #7176
hi @nishantwrp, it's not clear from issue description or your PRs which types are being covered. Unfortunately because of this I spent a lot of time writing #9342 to handle 50+ file changes... could you please explicitly list out which types do not need work so I can focus on the ones that do?

[2020-05-25 23:22] Showtim3 opened #9364 "Remove the condition for response.data required for karma testing if the file has been upgraded to Angular."
The following condition is required for Karma testing. The Angular HttpClient returns an Observable which when converted to a promise does not have the 'data' key but the AngularJS
mocks of services using HttpClient use $http which return promise and the content is contained in the 'data' key. Therefore the following condition checks for presence of
'response.data' which would be the case in Angul

[2020-05-25 23:52] nishantwrp commented on #7176
Hi, @brianrodri Thanks a lot for your PR. Currently all the files with `any` need to be worked on.

[2020-05-26 00:08] brianrodri commented on #7176
Which files are covered by #9345 and #9349?

[2020-05-26 00:13] nishantwrp commented on #7176
I've randomly covered some of the files

#9345
"core/templates/domain/classifier/ClassifierObjectFactory.ts",
 "core/templates/domain/exploration/WrittenTranslationObjectFactory.ts",
    "core/templates/domain/exploration/WrittenTranslationsObjectFactory.ts",
    "core/templates/domain/feedback_message/FeedbackMessageSummaryObjectFactory.ts",
    "core/templates/domain/feedback_message/ThreadMessa

[2020-05-26 00:57] brianrodri commented on #9325
**Update:** #9363 fixes this, but can't be submitted because [`scripts.linters.pylint_extensions`](https://github.com/oppia/oppia/blob/develop/scripts/linters/pylint_extensions.py) is missing coverage. @Hudda could you please drive the effort to get it up to 100%?

Details:
Name | Stmts | Miss | Cover | Missing
---- | ----- | ---- | ----- | -------
scripts/linters/pylint_extensions.py | 532 | 14 |

[2020-05-26 02:29] brianrodri commented on #7569
This issue is no longer relevant, given we will now be keeping the Feedback tab in the long-term.

[2020-05-26 02:29] #7569 closed, assigned to nobody

[2020-05-26 03:17] seanlip commented on #9364
Hi @Showtim3, I don't think folks are going to understand this. Could you please include a list of all places in the codebase that need to be updated, so that they know where to look? Thanks.

Also: @bansalnitish @srijanreddy98 -- is this issue expected?

[2020-05-26 03:30] brianrodri commented on #9253
**Update:** @Rajat012k will be owning the PR to introduce `HttpService`.

[2020-05-26 05:09] Hudda commented on #9325
@brianrodri thanks for the PR, I will update the script to have 100% coverage.

[2020-05-26 08:29] vojtechjelinek opened #9367 "Fix issues in #9295"
Fix the comments from @DubeySandeep that weren't fixed in #9295.

[2020-05-26 15:22] shavavo commented on #4057
@marianazangrossi  Hi, can you assign me:
* M - Y editable-exploration-backend-api.service.ts
* M - Y RecordedVoiceoversObjectFactory.ts
* H - Y topic-update.service.ts

[2020-05-26 17:13] rohitkatlaa opened #9372 "Flaky backend admin tests"
**Describe the bug**
The admin test UpdateUsernameHandlerTest seems to be flaking. The test passes without any problem in the local system. I have attached the logs.
[build_1046_step_104_container_0.txt](https://github.com/oppia/oppia/files/4683844/build_1046_step_104_container_0.txt)

[2020-05-26 17:32] kevintab95 opened #9374 "Check for console errors in every e2e suite"
Currently we have a general.checkForConsoleError([]) only in some suites. Having this check in every suite will help catch console errors before they creep into production.

[2020-05-26 17:33] sagangwee opened #9375 "Images not rendering in community dashboard translation submission modal"
**Describe the bug**
Images are not rendering in the translation submission modal on the community dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/community_dashboard'
 2. Click on 'Translate Text' tab.
 3. Click 'Translate' for the 'What are the place values?' opportunity item.
 4. See image not rendering.

<img width="1680" alt="Screen Shot 202

[2020-05-26 17:34] sagangwee commented on #9375
We'd like to create a new e2e test to prevent future regression. @DubeySandeep can you describe the issue a bit further here? Thanks.

[2020-05-26 19:22] U8NWXD opened #9378 "JS Linter Doesn't Check Line Length"
See https://github.com/oppia/oppia/pull/9267#discussion_r430566069

To reproduce, add a long line to a file, e.g.

[code]

And then run the linter:

[code]

Notice no line-length errors appear

[2020-05-26 19:23] donosco99 opened #9379 "Add validation for the svg_filename in the new Math RTE schema"
Add validation for the svg_filename in the new Math RTE schema once the functionality for generating SVGs for Math expressions is ready.
Also, add proper SVG filenames in the test files
This can be found by grepping "TODO(#9379)" in the codebase.
Pls look in file  `/extensions/rich_text_components/components_test.py`

[2020-05-26 19:26] seanlip commented on #9379
@donosco98 Please note that TODOs should point to the issue number, not a username.

Perhaps you could also list the relevant files to look at in this issue thread.

[2020-05-27 00:12] rachelwchen commented on #9322
Hello! Yes the extra button in mobile is intentional - the goal is to offer more call-to-action options so that the user doesn't have to scroll that much.

[2020-05-27 00:39] dchen97 opened #9381 "Translate "Learner Dashboard" and "Community Dashboard" buttons in navbar"
**Describe the bug**
Learner Dashboard and Community Dashboard buttons in navbar do not translate.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign into Oppia
2. Go to bottom of footer and change site to language besides English
3. Hover over the user profile thumbnail on the navbar and see the dropdown
4. Note that "Community Dashboard" and "Learner Dashboard" are still labeled in Engl

[2020-05-27 00:43] dchen97 opened #9382 "Default language on Oppia is not accurate to current language set on site"
**Describe the bug**
If a user sets the language for the site to something other than "English," in the future, whenever the user opens the site again, the language in the footer will be set to "English" even though the actual current language on the site is different. This makes it difficult if the user intends to change the language back to English, but if they select this option, the site does

[2020-05-27 03:19] Hudda commented on #9378
This is expected, this check ignores lines containing URL.

[2020-05-27 08:45] bansalnitish commented on #9364
Adding a reference: https://github.com/oppia/oppia/pull/9333/files#diff-f731e6afb23a594ebfd616e3eb2a3a09R276

Why do we need this? It should be the duty of the reviewer and the author migrating stuff in Angular to properly replace response.data with response wherever it is needed. We should not add such condition. (Also, even when we migrate services we have to remove this condition so why we need

[2020-05-27 08:48] anmol1point0 commented on #6495
is this issue still open? If yes can i get assigned to it?
@seanlip @YashJipkate

[2020-05-27 08:53] seanlip commented on #6495
Um, it says "Closed" on the issue page...

I suggest starting with one of [these issues](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do) if you're new to the codebase. (Welcome!)

[2020-05-27 09:09] anmol1point0 commented on #6495
hello sean,
is this available?
"Check that functions with test_only in their names are only used in
_test.py files."

On Wed, 27 May 2020 at 14:23, Sean Lip <notifications@github.com> wrote:

[2020-05-27 09:12] seanlip commented on #6495
Please check your email. Your onboarding mentor can help you to find a starter issue.

[2020-05-27 09:21] Showtim3 commented on #9364
Ok this can be done by mocking the backend-api service. Hence closing this.

[2020-05-27 11:45] anmol1point0 commented on #6271
hey, can i work on update_interaction_solution

[2020-05-27 14:33] kevintab95 commented on #6271
Yep, assigned it to you @anmol1point0!

[2020-05-27 15:53] DubeySandeep commented on #9381
@dchen97, I found we do have the functionality to provide translation for these texts but as of now we don't have translations available for these texts in the language you have selected, and for that reason, we show the English translation.

Note: The translations come through translatewiki (a crowdsourcing translation platform) and once someone translates these text we will add them in the relea

[2020-05-27 15:53] #9381 closed, assigned to nobody

[2020-05-27 17:02] shavavo commented on #8016
Hi @ankita240796 , could you assign me to core/templates/dev/head/pages/profile-page/profile-page.controller.ts?

[2020-05-27 19:35] shavavo commented on #8015
@kevintab95 Hi, please assign me core/templates/domain/collection/collection-rights-backend-api.service.ts

[2020-05-27 20:28] kevintab95 commented on #8015
@shavavo I've assigned you!

[2020-05-27 22:41] seanlip commented on #8016
Done! Thanks @shavavo.

[2020-05-28 10:48] Hudda commented on #8423
Hi, @anmol1point0 I've assigned you.

[2020-05-28 17:35] anmol1point0 commented on #8423
hey @Hudda ,The issue says closed and also I can see the check is already available in the codebase for the assigned lint.
path - line 167 scripts/linters/pylint_extensions.py
please take a look.

[2020-05-28 19:37] kiriakivel commented on #6271
hey! can I get assigned to update_interaction_answer_groups?

[2020-05-28 22:02] marianadasilvadev commented on #4057
I've assigned both of you @mhotiger and @shavavo

[2020-05-28 23:29] U8NWXD commented on #8423
Assigned @anmol1point0 to `Check that functions with test_only in their names are only used in _test.py files.` per email

[2020-05-29 04:07] Eblanken commented on #8423
Hello, I would like to work on "Add check for excessive new lines between function definition in a class."

[2020-05-29 04:50] Eblanken commented on #8423
On second thought, it already seems like there is a check "ExcessiveEmptyLinesChecker" which serves this purpose in "pylint_extensions.py" for spacing between function definitions in the general case (not specifically in a class). If no further modification is required, can I work on "Forbid usage of assertRaises; require assertRaisesRegexp" instead?

[2020-05-29 09:39] seanlip commented on #8219
Hm. Shouldn't this be done automatically instead (e.g. by running a one-off job)?

Also, is it a one-off operation or something we need to repeatedly do?

[2020-05-29 09:40] seanlip commented on #8014
Maybe better for this not to be a config property but a separate "card" in the misc section of the admin tab? Otherwise, this will get treated the same way as other config properties, for which there is currently no way to "attach" a job to.

[2020-05-29 11:59] kevintab95 commented on #9372
cc. @oppia/core-maintainers

Edit: test introduced in #9191

[2020-05-29 12:06] #5436 closed, assigned to rohitkatlaa

[2020-05-29 12:53] bansalnitish commented on #9364
It's still open -- closing this one!

[2020-05-29 12:53] #9364 closed, assigned to nobody

[2020-05-29 13:20] vojtechjelinek commented on #9372
@iamprayush This is a priority, try to resolve it ASAP please, in the test please mock the `datetime` value so that it doesn't change and the id of the mdoel is always the same.

[2020-05-29 15:59] #9340 closed, assigned to donosco99

[2020-05-29 16:54] U8NWXD commented on #9378
@Hudda In the example above, we can add a line break to reduce the maximum line length. Why shouldn't the linter require that such a line break be introduced?

[2020-05-29 17:15] sagangwee opened #9395 "Introduce routing to the contributor dashboard page to allow sharing of filtered opportunities to a user through a link (using query parameters)."
We will soon introduce filtering of question opportunities on the contributor dashboard page. We want users to be able to share a link that will pre-populate a filter and search results. To achieve this, we need to introduce routing by URL for each of the contributor dashboard tabs so query parameters can be supplied.

------

EDIT (by @seanlip): In addition to including filter/search-query parame

[2020-05-29 23:02] #9132 closed, assigned to nobody

[2020-05-29 23:26] U8NWXD commented on #8423
@DubeySandeep could you answer the question below from @anmol1point0 (from Gitter)?

where should I write my lint, pylint_extension.py if yes,
Do I need to write testcase for my lint in pylint_extension_test.py?

[2020-05-29 23:37] seanlip commented on #8423
Actually I think @Hudda is the person to ask for both questions above (for @Eblanken and @anmol1point0), since he's now the main point of contact for lint checks. I've removed the issue label pointing to @DubeySandeep.

@Hudda could you PTAL? Thanks!

/cc @bansalnitish

[2020-05-30 01:54] brianrodri commented on #7529
Hey @kevintab95, this change has caused complications in my #9262. The following statements fail due to the type having been changed: https://github.com/oppia/oppia/blob/9d1780352e310b23b4f0148b552ab1bc1343c999/core/templates/components/state-directives/outcome-editor/outcome-editor.directive.ts#L119-L124

For now I'm trying to fix this by using `instanceof`, but want to flag this for any backgrou

[2020-05-30 08:41] kevintab95 commented on #7529
Hi @brianrodri, I think the original issue was that, under some conditions, it was possible that an undefined / empty object passed through (probably when the directive loads before outcome is available). I think the instanceof technique you mentioned should be fine here. Thanks a lot for checking!

Also, please close this issue if that addresses your concern. Thanks!

[2020-05-30 09:17] Hudda commented on #8423
@anmol1point0 yes, you need to write testcase in the pylint_extension_test.py

[2020-05-30 09:20] Hudda commented on #8423
@Eblanken You are assigned.

[2020-05-30 14:37] kevintab95 opened #9401 "Flaky e2e test: classroomPageFileUploadFeatures"
classroomPageFileUploadFeature seems to be flaky in this [build](https://app.circleci.com/pipelines/github/kevintab95/oppia/149/workflows/03f765f0-990f-4077-9edc-6ae82248ab66/jobs/1467/steps).

Log:
[code]

[2020-05-30 17:30] #9375 closed, assigned to DubeySandeep

[2020-05-31 01:35] U8NWXD opened #9404 "E2E Flake (preferences.js): Expected '' to match 'I am Lisa'."
* Source: #9396
* Job: CircleCI [U8NWXD/945](https://circleci.com/gh/U8NWXD/oppia/945)

[code]

[2020-05-31 02:56] DubeySandeep opened #9405 "E2e test flakes for userJourney suite"
**Failures:**

1) Site language should not change in exploration and collection player for guest users

  **Message:**

    Expected 'Imagina lo que podrías aprender hoy...' to equal 'Imagine what you could learn today...'.

  **Stack:**

    Error: Failed expectation

        at LibraryPage.expectMainHeaderTextToBe (/home/circleci/oppia/core/tests/protractor_utils/LibraryPage.js:126:40)

[2020-05-31 02:57] DubeySandeep commented on #9405
@U8NWXD, is this a known error?

[2020-05-31 05:57] kevintab95 commented on #9404
I noticed a similar flake with this log:
[code]

[2020-05-31 09:17] seanlip commented on #5566
Hi @aks681 -- this is completed, right?

[2020-05-31 09:36] aks681 commented on #5566
There isn't a ConceptCardEngineService in the codebase, though there is a QuestionPlayerEngineService. ConceptCardEngineService was needed when we had a 'missing_prerequisite_skill_id' field for an answer response, so that instead of refresher explorations, I think, concept cards were shown.
Now that we have the skillreview RTE element, I think this is no longer needed, so can we close it?

[2020-05-31 09:42] kevintab95 opened #9407 "Flaky e2e test: topicAndStoryEditorFileUploadFeatures"
This [build](https://app.circleci.com/pipelines/github/oppia/oppia/10180/workflows/eb8ef860-9828-45ef-bb01-0dc5b1a94de0/jobs/56980/steps) seems to be flaky with the following log:

[code]

[2020-05-31 09:45] kevintab95 commented on #9401
There was a failure in the same suite with a different error log in this [build](https://app.circleci.com/pipelines/github/oppia/oppia/10180/workflows/eb8ef860-9828-45ef-bb01-0dc5b1a94de0/jobs/56981/steps):

[code]

[2020-05-31 09:57] kevintab95 opened #9408 "Forbid changes to explorations linked to stories if they fail Android validation"
If an exploration is linked to a story, we should not allow edits to the exploration that can cause the exploration to be invalid on Android. Some RTEs and interactions are not allowed on Android currently. If an edit contains changes that introduces such an invalid change, we should not allow publishing of the exploration.

[2020-05-31 10:25] seanlip commented on #5566
Yes, I think we can close it. Thanks!

[2020-05-31 10:25] #5566 closed, assigned to aks681

[2020-05-31 16:07] U8NWXD opened #9409 "E2E Flake (explorationTranslationTab.js): No element found using locator: By(css selector, .protractor-test-translation-language-selector)"
* Source: #9396
* CI Job: Travis CI [oppia/27255.11](https://travis-ci.com/github/oppia/oppia/jobs/341639667)
    * Also Travis CI [oppia/27297.11](https://travis-ci.com/github/oppia/oppia/jobs/341935979) on develop
    * Also TravisCI [oppia/27448.9](https://github.com/oppia/oppia/commit/9f4b1fe445487f07ae30144ae88b0de3f42b9b33) on develop

[code]

[2020-05-31 16:40] U8NWXD commented on #9405
@DubeySandeep not that I've seen. I actually don't think I've seen anything from the userJourney suite flake before

[2020-05-31 17:49] jameesjohn commented on #8833
This was fixed in #9178.

[2020-05-31 17:49] #8833 closed, assigned to jameesjohn

[2020-06-01 06:43] donosco99 opened #9413 "Add reference to the interaction type or ID in the draft change lists."
**Is your feature request related to a problem? Please describe.**
Currently, there is no direct or easy way to get the interaction type from the draft change lists. This can cause problems while migrating or converting Draft changes in the future. For Example, while migrating draft changes related to customization args and Rules, having the information regarding the interaction type would result

[2020-06-01 09:13] Nikerabbit commented on #4913
I was checking how different projects do language selection, and noticed that you only list a few languages out of the many with a good amount of translations in https://translatewiki.net/wiki/Special:MessageGroupStats?group=oppia&suppressempty=1&x=D#sortable:3=desc

This is not acceptable for translators of translatewiki.net. Please add the currently available languages and let's come up with a p

[2020-06-01 18:55] seanlip commented on #4913
Just an update to this thread -- I've chatted with @Nikerabbit and we'll be making some updates to the process, including changing the export threshold on translatewiki to prioritize almost-complete translations (since partially translated pages are very confusing for learners).

There are also some technical updates that we need to make before adding certain languages, but these are nearing compl

[2020-06-01 19:11] BenHenning commented on #7100
@aggarwalpulkit596 are you still working on this issue?

[2020-06-01 19:12] aggarwalpulkit596 commented on #7100
No 😅

[2020-06-01 19:12] BenHenning commented on #7100
Ack, de-assigning.

[2020-06-01 19:27] BenHenning commented on #3446
@MegrezZhu I suggest this as a frontend starter issue (maybe take SetInput?)

[2020-06-01 19:28] BenHenning commented on #7100
@MegrezZhu suggest starting on this issue.

[2020-06-01 21:32] MegrezZhu commented on #8015
@kevintab95 Hi, I would like to work on core/templates/domain/question/question-backend-api.service.ts, could you assign this task to me?

[2020-06-01 21:35] kevintab95 commented on #8015
@MegrezZhu I've assigned it to you!

[2020-06-02 11:01] vojtechjelinek commented on #6271
@kiriakivel Yep, I have assigned you.

[2020-06-02 12:00] tushar2407 commented on #8472
Can I work on learner-view-rating.service.ts?  @bansalnitish.

[2020-06-02 12:06] nishantwrp opened #9415 "Incorrect version in package.json"
The version number in package.json should be equal to current release version?

[2020-06-02 12:48] bansalnitish commented on #8472
Hi Tushar, Assigned you. Please go ahead!

[2020-06-02 13:08] tushar2407 commented on #8472
Hi Nitish,I have a few doubts before starting as this is my first opensource project .: How do I start with editing ?Edit in the same files or adding a new one? Thanks and RegardsTushar Mohan From: Nitish BansalSent: 02 June 2020 06:18 PMTo: oppia/oppiaCc: tushar2407; MentionSubject: Re: [oppia/oppia] Migrate AngularJS files to Angular 8 (#8472) Hi Tushar, Assigned you. Please go ahead!—You are re

[2020-06-02 13:23] bansalnitish commented on #8472
Hi Tushar,

I didn't get what you pasted here as a long message. Could you please go through this wiki page: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up? After going through this, please feel free to ping me if you have any other questions.

Thanks,
Nitish

[2020-06-02 17:36] DubeySandeep opened #9417 "No difficulty level to select for questions while creating question suggestion"
**Describe the bug**
The first modal which allows contributors to select the difficulty level for the questions doesn't have any difficulty options.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppia.org/community_dashboard
 2. Click on the "Submit Question" tab.
 3. Click "Suggest question" button
 4. Check the options to select for difficulty.

**Observed behavior**
There

[2020-06-02 17:37] DubeySandeep commented on #9417
Marking this as a blocking bug, as we need to fix this before this release.

[2020-06-02 17:44] sagangwee commented on #9417
@aks681 Do we expect the skills listed on the community dashboard page (Submit Question tab) to have rubrics?

[2020-06-02 17:48] bansalnitish opened #9418 "Add a lint check to ensure all Angular 2+ services are added in UpgradedServices"
Add a lint check to ensure all Angular 2+ services are added in UpgradedServices.

This should be done after PR #9416 and PR #9335 goes in.

[2020-06-02 17:48] bansalnitish commented on #9418
cc / @Hudda

[2020-06-02 18:01] rohitkatlaa opened #9419 "Failing to run frontend tests"
**Describe the bug**
When I try to run the front end tests using ```python -m scripts.run_frontend_tests``` sometimes it does not run any tests with the result as 0 tests ran.

**To Reproduce**
Steps to reproduce the behavior:
 1. Pick any test file and convert describe to fdescribe.
 2. Run the front end tests using
 ```python -m scripts.run_frontend_tests```

**Observed behavior**
No tests are e

[2020-06-02 18:10] sagangwee commented on #9417
I believe the issue is the changes to core/templates/pages/topic-editor-page/modal-templates/select-skill-and-difficulty-modal.template.html in #9148. After adding the `question-difficulty-selector.directive.ts` dependency in core/templates/pages/community-dashboard-page/question-opportunities/question-opportunities.directive.ts, the rubrics are restored, but the formatting is off:
<img width="589

[2020-06-02 18:40] sagangwee commented on #9417
The additional spacing is coming from the `md-list` tags in `question-difficulty-selector.directive.html`. @aks681 Are the `md-list` elements needed?

[2020-06-02 18:41] sagangwee commented on #9417
Without the `md-list` elements:
<img width="1680" alt="Screen Shot 2020-06-02 at 11 41 05 AM" src="https://user-images.githubusercontent.com/9004726/83557147-fee2a400-a4c5-11ea-9807-4a90fdcbf2ff.png">

[2020-06-02 19:17] kaylahardie commented on #8668
Hey @Showtim3 I'm currently looking at the audio-translation-language.service.ts file and am trying to add the type for the _languageInExploration property as well as add overall documentation for the file

[2020-06-02 19:19] Showtim3 commented on #8668
Hey @kaylahardie That sounds great. Let me know if you need any help. Assigned you the file.

[2020-06-02 19:32] shavavo commented on #6672
Design doc in progress [here](https://docs.google.com/document/d/1JdDG4NdVLS4PCm9KmQ-v3OwYDVmStFennAarkSdYB3A/edit?usp=sharing)

[2020-06-02 20:00] shavavo commented on #9382
@dchen97 I've submitted a PR. Thank you!

[2020-06-03 13:06] nadintamer commented on #8472
@bansalnitish Hi, can I work on concept-card-backend-api.service.ts?

[2020-06-03 15:35] MegrezZhu commented on #8015
@kevintab95, Looks like I'm blocked on core/templates/domain/question/question-backend-api.service.ts, as far as I understand, this service (in Angular style) should use QuestionObjectFactory.ts but QuestionObjectFactory.ts is still in AngularJS style...
(This is also noted in the previous comments in this thread, I should have noticed it...)

Can I work on core/templates/domain/skill/skill-master

[2020-06-03 15:58] kevintab95 commented on #8015
@MegrezZhu, OK sure. I've assigned it to you!

[2020-06-03 16:56] kaylahardie commented on #8472
Hi there :) Can I please work on story-creation.service.ts @bansalnitish?

[2020-06-03 17:24] bansalnitish commented on #8472
Hi @nadintamer and @kalyahardie,

Assigned you both your respective services. Please go ahead. Let me know if you face any issues.

[2020-06-03 17:30] nishantwrp opened #9427 "A property accessed which is not present"
**Describe the bug**
A clear and concise description of what the bug is.

Here https://github.com/oppia/oppia/blob/46f2318e78dc5dfeb299b89097fad9f058cc9f9b/core/templates/pages/admin-page/admin-page.directive.ts#L81

There is no `user_email` in the `response`.

[2020-06-03 17:47] kaylahardie commented on #8472
Hi @bansalnitish,
story-creation.service.ts requires topic-editor-state.service.ts so I'll migrate that one first if that's okay with you

[2020-06-03 17:49] bansalnitish commented on #8472
Yes, it is fine. I'll update the issue then -- assigning you topic-editor-state.service and de-assigning you story-creation.service.

[2020-06-03 17:55] kaylahardie commented on #8472
Thanks! Do you have any tips for migrating $rootScope?

[2020-06-03 17:57] bansalnitish commented on #8472
Could you please avoid taking services that involve $rootScope and $uibmodal? This is something that we are working on. We have several other services (please check the tracker too) that you can take for now. Sorry for the inconvenience caused.

[2020-06-03 18:04] kaylahardie commented on #8472
Sorry! It was an accident because story-creation.service required $ubimodal and topic-editor-state.service which used $rootScope. Can you please remove me from topic-editor-state.service and assign me to learner-answer-info.service? I checked and that file seems to be okay. I can also update the Angular Migration Tracker with the files that require rootscope/ubimodal if you'd like?

[2020-06-03 18:08] bansalnitish commented on #8472
No worries!

I'll assign you learner-answer-info.service. Yes, it'd be helpful please update the tracker with the same info and let me know once it's done. Also, keep a mind if a service is not using $rootScope or $uibmodal but is dependent on some other service that uses either of it then it should also be marked as "indirectly uses $rootScope/$uibmodal".

[2020-06-03 18:18] kaylahardie commented on #8472
Updated the tracker by making a comment on the file :)

[2020-06-03 18:37] tushar2407 commented on #8472
Hi @bansalnitish
Can I work on learner-answer-details-data.service.ts?

[2020-06-03 19:42] kaylahardie commented on #8472
Hi @bansalnitish,
I'm so sorry for all of this back and forth but I noticed that there is already a [PR](https://github.com/oppia/oppia/pull/9402) in progress by @Vinit-Dantkale for learner-answer-info.service so I guess you can take me off of it?
Let me know if I can work on translation-file-hash-loader.service.ts
Again, sorry for all the inconvenience!

[2020-06-03 20:58] kevintab95 opened #9429 "Misconception selector UI looks confusing"
The "tag misconception" selector UI looks confusing. It is a bit hard to determine which misconception is selected. Bootstrap [accordion](https://getbootstrap.com/docs/4.3/components/collapse/#accordion-example) or a similar UI can be used instead.

![accordion](https://user-images.githubusercontent.com/11008603/83688290-c8627180-a60a-11ea-80e1-cb30ac06b054.gif)

refer comment [here](https://githu

[2020-06-03 21:35] kaylahardie commented on #7450
@kevinlee12 can I please try 'draft_upgrade_services_test.DraftUpgradeUtilUnitTests'?

[2020-06-03 22:48] seanlip commented on #7450
@kaylahardie assigned you!

[2020-06-04 01:08] U8NWXD commented on #9276
Closing as this is now replaced by #9409 which is for post-migration

[2020-06-04 01:08] #9276 closed, assigned to nobody

[2020-06-04 04:47] rachelwchen commented on #9429
Hi Kevin, responding here per @seanlip's ping. I'm not sure I totally follow; do you mind explaining what the video is showing please? e.g., what's going on in each screen, what's supposed to happen when a user clicks on xyz. Thank you.

[2020-06-04 17:56] U8NWXD commented on #9037
Another version from develop (43d8ea9) in CircleCI job [57048](https://app.circleci.com/pipelines/github/oppia/oppia/10194/workflows/f230570c-a89a-4434-b383-5dba004290fa/jobs/57048)

[code]

[2020-06-04 18:05] U8NWXD opened #9432 "E2E Flake (classroomPageFileUploadFeatures.js): unexpected alert open: {Alert text : This action is irreversible. Are you sure?}"
* Failed on develop (66597a9) in CircleCI job [57812](https://app.circleci.com/pipelines/github/oppia/oppia/10273/workflows/a054be68-9573-4d27-8c90-23528d0181c2/jobs/57812)

[code]

[2020-06-04 19:07] anmol1point0 commented on #8423
@Hudda
I have a doubt in "Check that functions with test_only in their names are only used in _test.py files.",
how to get the name of the file, I can get the content of the file by read_from_node, I can't find the resources for this particular doubt anywhere.

i have a solution, I can pass the name of the file as an argument, but i highly doubt this approach.

[2020-06-04 19:27] MegrezZhu commented on #3446
@kevintab95 Hi, I would like to work on SetInput. :)

[2020-06-04 19:28] kevintab95 commented on #3446
Sure, I've assigned you @MegrezZhu!

[2020-06-04 20:54] kevintab95 commented on #9429
Hi @rachelwchen, in the video, I'm trying to edit the "misconception" by selecting a different choice from an accordion or list-like interface. Here's a breakdown of the video:

1. Click on "Tagged Misconception" in the modal to edit:
The "Tagged Misconception" field has a misconception saved called "Cell wall", I click on it to edit.

2. An accordion / list-like interface is displayed:
The "Cell

[2020-06-05 03:59] rachelwchen commented on #9429
@kevintab95 Thanks for the explanations -- first time seeing this interface, would like to make sure I understand what it's supposed to do :)

I think I'm confused by the transition from 1 to 3 -- where did the "(Optional) Nucleus Creator Note for Nucleus" come from?

Also, I'm not sure what "Note to creators" mean -- who's writing this note and what would the content here typically be?

![image](

[2020-06-05 04:17] seanlip commented on #9429
@rachelwchen I can answer the last question. The note to creators is written by the lessons admin, who would have created the skill that this question is linked to. As part of writing the skill, they also write misconceptions, and they add notes about the misconceptions so that creators can tell whether the misconception applies to their question or not. An example of such a note would be: "This m

[2020-06-05 07:26] kevintab95 commented on #9372
Re-opening because this occured again. See [build](https://app.circleci.com/pipelines/github/kevintab95/oppia/156/workflows/438dcb95-f028-42b6-9701-5a9ce49df3a4/jobs/1576/steps).

[2020-06-05 17:27] kevintab95 commented on #9429
Thanks @seanlip for explaining!

Hi @rachelwchen, the misconception field takes fixed values that the creator defined while creating a skill. So when I click on edit in step 1, I see the options available to choose from. In this case, we have just 2 values to choose from (a) Cell Wall and (b) Nucleus. Clicking on of the options expands to show some additonal details like notes and feedback so that

[2020-06-05 18:25] vojtechjelinek commented on #9372
@iamprayush Can you take a look again please?