[2021-02-15 06:26] OBITORASU commented on #11888
So I broke this tasks into small parts namely:
- Introducing the regex to ignore single line comments ```// XYZ```.
- Introducing the regex to ignore multiline comments like the one below.
[code]
Currently I am working on the single line comments and came up with a regex ```(?<!\/\/.)\bbypass\b``` which manages to ignore comments like ```// bypass. or // bypass``` but fails for comments like ```//

[2021-02-15 07:55] #11918 closed, assigned to gp201

[2021-02-15 09:17] safwan20 commented on #9483
Have anyone found the solution? because I am facing similar issue.

[2021-02-15 09:20] Nik-09 commented on #9483
@safwan20 are you using ssh key for pushing your code?

[2021-02-15 09:31] safwan20 commented on #9483
@Nik-09 Yes !!

[2021-02-15 09:33] Nik-09 commented on #9483
You can use https  as because it worked for me.
Thanks.

[2021-02-15 10:47] YBCS commented on #10415
hey, I am beginner in this. Can someone tell me what can I work on from here. I would like to start on this issue.

[2021-02-15 11:11] mridul-netizen commented on #8472
@U8NWXD contribution-opportunities.service.ts has been already migrated under https://github.com/oppia/oppia/pull/11858 can you assign some other file to me?

[2021-02-15 11:31] safwan20 commented on #9483
@Nik-09 Thanks, it works !!!

[2021-02-15 11:51] suryasiriki4 commented on #10700
@srijanreddy98, can you please assign me `StateCard`? thank you.

[2021-02-15 12:21] vojtechjelinek commented on #10415
@YBCS This issue is already almost completed and there is no more stuff to work on. Please look intoh other issues with [good first issue](https://github.com/oppia/oppia/labels/good%20first%20issue) label.

[2021-02-15 12:53] YBCS commented on #10415
hello, what about `ExplorationModelValidator`. Can I work on that ?

[2021-02-15 13:07] vojtechjelinek commented on #10415
@YBCS No, someone is already working on that.

[2021-02-15 15:03] subodhk01 commented on #11784
@brianrodri Is this issue still under working? if Yes, Can I help?

[2021-02-15 15:33] 17sushmita commented on #10474
Hi @vojtechjelinek , while trying to solve the type check errors in  InteractionSpecsService , replacing the `string` type [here](https://github.com/oppia/oppia/blob/a3f7191fe7a9db9ec32bc2bf1de044a8943fef57/core/templates/services/interaction-specs.service.ts#L26) to `keyof typeof InteractionSpecsConstants.INTERACTION_SPECS` fixed the error but there are a lot other instances where type `string` i

[2021-02-15 15:57] Mohitbalwani26 commented on #7450
@kevinlee12 can you assign me `jobs_test.JobRegistryTests`?

[2021-02-15 16:29] Gulshanaggarwal opened #11960 "Web page isn't responsive for mobile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
**Addit

[2021-02-15 18:06] #9456 closed, assigned to nobody

[2021-02-15 18:19] safwan-1998 commented on #4057
I am taking state-tutorial-first-time.service.ts.

[2021-02-15 18:21] safwan20 commented on #4057
I am taking state-tutorial-first-time.service.ts.

[2021-02-15 21:00] shubhamkorde commented on #10798
can I please be assigned core/tests/protractor_utils/general.js @U8NWXD

[2021-02-16 03:24] U8NWXD commented on #8472
@mridul-netizen I've assigned you to `suggestion-modal-for-exploration-player.service.ts`. @srijanreddy98 can you confirm that `contribution-opportunities.service.ts` has been fully migrated, and if so, mark it as complete in the list at the top of this issue?

[2021-02-16 03:33] U8NWXD commented on #11289
The solution here is to figure out what element is being identified by `browser.driver.switchTo().activeElement()`. Then, select that element using normal `element(...)` calls and pass that to `action.sendKeys(...)`.

For this particular case, we can actually use `action.select2` instead!

[2021-02-16 03:33] #11289 closed, assigned to kevintab95

[2021-02-16 03:39] U8NWXD commented on #10798
@shubhamkorde I've assigned you! Let me know if you have any questions

[2021-02-16 03:46] U8NWXD commented on #10798
@Cadreia @mimmicromsjoo @Mishrasubha @gg-dev-05 @arjungarg07 @apurvbotle @sachin-cpp @ayushikulshreshta30 @akshathkaushal @ryuk156 @Harshith-1997 Are you still working on your assigned tasks? If I don't hear from you in the next couple of days, I'll de-assign you so someone else can work on your tasks

[2021-02-16 04:25] gg-dev-05 commented on #10798
@U8NWXD Sorry, I can't currently work on this. Kindly de-assign me. Thanks

[2021-02-16 04:28] ryuk156 commented on #10798
@U8NWXD I'm not working on this issue you can de-assign me.

[2021-02-16 14:55] U8NWXD commented on #11895
@DubeySandeep PTAL

[2021-02-16 14:58] U8NWXD commented on #11898
Fixed by #11913

[2021-02-16 14:59] U8NWXD commented on #11900
@sagangwee @DubeySandeep when do you think you can fix this blocking bug?

[2021-02-16 14:59] U8NWXD commented on #11904
@sagangwee @DubeySandeep when do you think you can fix this blocking bug?

[2021-02-16 15:01] U8NWXD commented on #11905
I agree with @sagangwee, this doesn't need to block the release since we don't expect the list to be sorted

[2021-02-16 15:01] U8NWXD commented on #11905
@vojtechjelinek please let me know if you disagree

[2021-02-16 15:04] kevintab95 opened #11966 "[Contributor Dashboard] Minor issues in the review question flow"
**Describe the bug**

1. It is not possible to cancel / defer review once the "review" modal is open.
![noescape](https://user-images.githubusercontent.com/11008603/108080639-1b476080-7096-11eb-9198-ffe79fb484be.png)

2. It seems possible to review the same question a second time if the user quickly clicks the review button after accepting/rejecting a submission. See GIF.
![reject](https://user-im

[2021-02-16 15:05] U8NWXD commented on #11920
@kevintab95 when do you think you'll be able to fix this blocking bug?

[2021-02-16 15:05] U8NWXD commented on #11921
@kevintab95 when do you think you'll be able to fix this blocking bug?

[2021-02-16 15:09] kevintab95 commented on #11966
For (1), it seems like the ESC button closes the modal but it is not obvious to a user.

[2021-02-16 15:22] atpug22 commented on #11868
This method worked for me
Run ```../oppia_tools/elasticsearch-7.10.1/bin/elasticsearch``` on one terminal and then start server on another terminal using ```python -m scripts.start```.

[2021-02-16 15:39] vojtechjelinek commented on #11905
Yep, I'm fine keeping it non-blocking.

[2021-02-16 15:58] SAEb-ai commented on #11868
@atpug22 Can you please share a screenshot how you did it.

[2021-02-16 16:06] HarshKhilawala commented on #4057
@U8NWXD @kevintab95  Can you please assign me `utils.service.ts` and `music-phrase-player.service.ts` ?

[2021-02-16 16:29] U8NWXD commented on #11929
I also cannot reproduce this bug, but I still cannot delete the question in the [`QvMG2klRKcaj`](https://oppiatestserver.appspot.com/skill_editor/QvMG2klRKcaj#/questions) skill on the test server. My guess is that the data on the test server for this skill is malformed for some reason. @vojtechjelinek is there any way for us to check the integrity of the data on the test server?

[2021-02-16 17:21] SaravgiYash commented on #10798
@U8NWXD I would like to work on `core/tests/protractor_utils/forms.js`

[2021-02-16 18:04] Rijuta-s commented on #11929
This issue is arising when we click multiple times on the delete button of the same question( i.e before the card displaying the question vanishes) . I think doing so deletes the other questions in queue but their front view remains even when the questions don't exist in the server. Hence then when we click on the  other question to  delete error arises.

[2021-02-16 18:34] U8NWXD commented on #11929
Ah, okay. Is this something you have time to fix in the next couple days?

[2021-02-16 19:03] krishita30j commented on #11584
Hey @U8NWXD, sorry for the late response. I am able to run the e2e tests locally by installing java, I guess that's why it wasn't working. But I'm still not able to run the backend tests locally. The test seems to be stuck at `18:49:44 ERROR core.platform.cache.redis_cache_services_test.RedisCacheServicesUnitTests`

<img width="1440" alt="Screenshot 2021-02-17 at 12 29 52 AM" src="https://user-ima

[2021-02-16 20:33] U8NWXD commented on #11895
@aks681 Sandeep has asked that the LaCE team work on this instead. Can you take a look?

[2021-02-16 20:43] sagangwee commented on #11735
Consider adding an annotation along the lines of "With edits" in the completed review.

[2021-02-16 20:46] kevintab95 commented on #11921
Should be fixed by 19th.

[2021-02-17 00:00] sagangwee commented on #11904
I'm looking into this issue now. Will aim to push a fix by EOD tomorrow!

[2021-02-17 00:23] sagangwee commented on #11904
Hmm I'm not able to reproduce this issue locally either.

[2021-02-17 00:32] sagangwee commented on #11904
@vojtechjelinek Do you mind retrieving the image URL for any of the blank images from the exploration? I suspect the URLs are wrong somehow in the review modal.

[2021-02-17 00:39] vojtechjelinek commented on #11904
Cannot look into this for the next 36 hours, I think you should be able to access these broken reviews on the test server. I think these are Hindi or Hinglish translation suggestions.

[2021-02-17 01:13] U8NWXD commented on #11966
@sagangwee will you be able to fix these blocking bugs in the next couple of days?

[2021-02-17 01:46] seanlip commented on #11904
Looking at the URLs, they seem a little weird. They seem like they're pointing to the wrong exploration? The exp ID is '2' but the exp IDs in the screenshot URLs are '16' or '0FRoyN4eeK76'.

[2021-02-17 02:35] U8NWXD commented on #4057
@HarshKhilawala done!

[2021-02-17 02:37] U8NWXD commented on #4057
@safwan20 @Nik-09 I've assigned you!

[2021-02-17 02:41] U8NWXD commented on #11584
@krishita30j it looks like your redis server is failing to start (that's the port 6379 message). This can happen if you have a redis server already running that's left over from a previous run that didn't shutdown properly. Can you search for any existing redis server processes and shut them down? On macOS and Linux you can use `ps -ax | grep redis` to find the processes IDs and `kill [process ID]

[2021-02-17 02:42] U8NWXD commented on #10798
@Yashs911 I've assigned you! Please let me know if you have any questions

[2021-02-17 02:45] gp201 commented on #11584
@U8NWXD FYI, In mac with M1 chips redis-server is not started on its own. It has to be started by running the command `redis-server` in a different terminal.

[2021-02-17 04:33] #11916 closed, assigned to vojtechjelinek

[2021-02-17 05:41] Mayank-gaur commented on #8423
Hi @sajalasati , I have written my extension and test clas,  the test is passing in my system and hence, I think I am ready to submit my first pull request. But before that I wanted to confirm that are there are any tests that I can do before submitting so that my merging chances can increase, or should I send the PR right away?

[2021-02-17 08:31] srijanreddy98 opened #11969 "Move the waitFor conversationInput in submit answer function in ExplorationPlayerPage.js to each interaction."
For some interactions conversationInput is not visible in the DOM. Because of this difference in logic, the wait for statement has to be extracted into each interaction. View the full discussion behind this decision here: https://github.com/oppia/oppia/pull/11935#discussion_r575753139

[2021-02-17 08:40] mridul-netizen commented on #2419
@BenHenning Could this be solved via routing (under GSoC) project following this guide?(https://angular.io/guide/lazy-loading-ngmodules)

[2021-02-17 09:16] tanishq67 commented on #10798
Hi, @U8NWXD can you please assign me `core/tests/protractor_utils/ClassroomPage.js`

[2021-02-17 09:32] DubeySandeep commented on #11868
@brianrodri, Can you please check what's going on with elasticsearch port 9200? A lot of contributors are still facing this issue. Thanks!

[2021-02-17 09:48] SAEb-ai commented on #11868
When I ran this an error came up in my local  machine
![IMG_20210217_151356](https://user-images.githubusercontent.com/69013647/108186248-269c9980-7133-11eb-968f-200002a8fb4c.jpg)

Then when I went to localhost:9200 the below page was shown.
![IMG_20210217_151445](https://user-images.githubusercontent.com/69013647/108186350-4764ef00-7133-11eb-96d8-0e352c2e1402.jpg)

[2021-02-17 10:05] OBITORASU commented on #11888
### Update:
I have had no luck with the negative lookbehind while working on my first goal in the last few days (without quantifiers I had no luck achieving the results I was looking for). I resorted to the idea I found on this [stackoveflow post](https://stackoverflow.com/questions/23589174/regex-pattern-to-match-excluding-when-except-between). This seems to work fine in the sense all the ```bypa

[2021-02-17 10:18] krishita30j commented on #11584
@U8NWXD, I killed all the redis server process but the following error shows up:

<img width="1440" alt="Screenshot 2021-02-17 at 3 46 56 PM" src="https://user-images.githubusercontent.com/66058206/108190032-6a919d80-7137-11eb-8f57-dfbf77b970f8.png">

[2021-02-17 13:36] illusionist301 commented on #10700
can i work on PlaythroughIssue? @srijanreddy98

[2021-02-17 15:51] ashutoshc8101 commented on #9749
I want to work on ` audio-file-uploader.directive.ts`. Will submit PR soon.

[2021-02-17 17:51] sajalasati commented on #7450
Hi @Mohitbalwani26! Sorry for the delay. I hope you are still interested, I've assigned you to it now. Do let us know if you have any questions!

[2021-02-17 18:02] sajalasati commented on #8423
I think you can create your PR if you have confirmed that the test class passes successfully. (You might find the [wiki on Lint checks](https://github.com/oppia/oppia/wiki/Lint-Checks) helpful though)

[2021-02-17 18:49] sagangwee commented on #11904
@vojtechjelinek @seanlip I only have permissions to review translations in French on the test server. Can one of you give me permissions to review translations in Hindi? My username is sagangwee. Thanks!

[2021-02-17 18:51] Rijuta-s commented on #11929
I will try to fix it.

[2021-02-17 18:58] sagangwee commented on #11904
Looking at the storage directory I see image URLs of the following form:

`exploration/2/assets/image/elimination_height_419_width_1596.png`

rather than the URL listed in the error:

`exploration_suggestions/0FRoyN4eeK76/assets/image/elimination_height_419_width_1596.png`

Does look like image URLs are wrong. I will take a closer look.

[2021-02-17 19:08] sagangwee commented on #11904
@donosco98 @DubeySandeep Could this issue be caused by https://github.com/oppia/oppia/pull/10475 for existing translation suggestions that had images in a different bucket than what is used currently?

[2021-02-17 19:24] sagangwee commented on #11900
@U8NWXD I'm not able to replicate this locally. Can you allowlist my user sagangwee to submit questions on the Roles tab of the Admin page on the test server?

[2021-02-17 19:27] YBCS commented on #10306
Hi @kevintab95 can I work on this
 core/templates/services/exploration-stats.service.ts

[2021-02-17 22:13] seanlip commented on #11868
@DubeySandeep FYI, I'm the person looking after elasticsearch, not @brianrodri. I've deassigned him.

Also, in order to help with this issue, it would help to have more clarity on who is facing issues (not just "a lot of contributors" -- is that 2 or 20?) and the following information for each person:
- What operating system is being used
- What happens when running `../oppia_tools/elasticsearch-7

[2021-02-18 00:23] kevintab95 opened #11975 "Rich Text enabled fields do not preserve input if CKEditor toolbar has not loaded"
**Describe the bug**
Rich Text enabled fields do not preserve input if CKEditor toolbar has not loaded

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploraiton editor page.
 2. Throttle network to Slow 3G or offline.
 3. Observe changes made to content or other RTE enabled fields do not save.

![rte_not_saving](https://user-images.githubusercontent.com/11008603/108285601-76b842

[2021-02-18 01:09] kevintab95 commented on #11921
We now support Ratio Input (https://github.com/oppia/oppia/pull/11122) and a few others that the CUJ doc did not list. I have updated the CUJ doc accordingly. Closing this issue.

[2021-02-18 01:09] #11921 closed, assigned to kevintab95

[2021-02-18 01:18] kevintab95 commented on #11895
Hi @mridul-netizen, I was able to view this published exploration properly.
![image](https://user-images.githubusercontent.com/11008603/108289697-e978eb80-71b4-11eb-94a9-dff2a360af8b.png)

Can you please try adding me as a voice artist so I can check that flow as well (since you have mentioned it in the description)? My username is k.

Edit:

I was unable to reproduce this. I tried creating an exp

[2021-02-18 03:41] U8NWXD commented on #10798
@tanishq67 I've assigned you! Please let me know if you have any questions

[2021-02-18 03:42] U8NWXD commented on #11900
@nithusha21 could you grant @sagangwee permission to submit questions?

[2021-02-18 03:54] U8NWXD commented on #11584
@krishita30j @gp201 So then is the issue that the e2e tests try to start the redis servers even when the servers are already running in another tab (which is required on M1 macs)? If so, then you could temporarily change the `run_e2e_tests.py` script to not start the redis servers. In the short-term, we could add a command-line argument to the `run_e2e_tests.py` script to skip starting the redis s

[2021-02-18 03:59] EricZLou commented on #11920
@U8NWXD I'll try to get a PR in by Friday

[2021-02-18 04:03] gp201 commented on #11584
@U8NWXD We should go ahead and implement the short term fix, since we're starting to see a few contributors with M1 chip Macs. We should also consider upgrading the redis server. That would also make it easier to run `python -m scripts.start`. Since the current method to run the cmd requires one to run the `redis-server` in a seperate terminal. [ref](https://github.com/oppia/oppia/issues/11584#iss

[2021-02-18 04:20] #11887 closed, assigned to Rijuta-s

[2021-02-18 07:18] Jpimy opened #11977 "python -m scripts.startを開始すると次のようなエラーが出る。"
i  emulators: Received SIGTERM for the first time. Starting a clean shutdown.
i  emulators: Please wait for a clean shutdown or send the SIGTERM signal again to stop right now.
i  emulators: Shutting down emulators.
i  ui: Stopping Emulator UI
⚠  Emulator UI has exited upon receiving signal: SIGINT
i  auth: Stopping Authentication Emulator
i  hub: Stopping emulator hub
i  logging: Stopping Logging

[2021-02-18 07:27] seanlip opened #11978 "Lighthouse accessibility tests are occasionally requesting the URL skill_editor/undefined"
**Describe the bug**

In https://github.com/oppia/oppia/runs/1924905975?check_suite_focus=true, the Lighthouse accessibility tests failed with the following error:

`Running Lighthouse 1 time(s) on http://127.0.0.1:8181/skill_editor/undefined`

I think this might be an issue in the Lighthouse tests themselves. The screenshot of the error is below and more details can be found in the above link (as

[2021-02-18 07:28] seanlip commented on #11978
@jimbyo, would you be OK with taking a look into this please (at least, to see if you have an idea about the underlying cause)?

(Also /cc @U8NWXD for info!)

[2021-02-18 07:46] #11895 closed, assigned to kevintab95, mridul-netizen

[2021-02-18 08:51] Mayank-gaur commented on #8423
Okay I am sending the PR then. In the changes, it is saying that debug.txt,gclod-sdk.tar.gz and  npm debug log files are also changed. Do i have to stage these also?

[2021-02-18 10:16] Mayank-gaur commented on #8423
Hi @sajalasati, I am trying to send the PR, I fixed all major linting issues but I am getting this error now.
![Screenshot from 2021-02-18 15-44-28](https://user-images.githubusercontent.com/56195849/108342057-5e254780-7200-11eb-8449-229bba1eb0c3.png)

Can you please help me what I am doing wrong?

[2021-02-18 11:42] hardikkat24 commented on #8423
Hello @Mayank-gaur , I think you have created some files on your local machine and the errors are thrown because these files are not mentioned in `CODEOWNERS` file. Try moving these files out of the oppia repository and then try to push the changes.

[2021-02-18 14:36] SAEb-ai commented on #11868
Sorry for being late.
@seanlip I have tried the solution given by @atpug22 .But it didn't worked for me.

When I ran ` ../oppia_tools/elasticsearch-7.10.1/bin/elasticsearch` the following things happend:
Video:
https://user-images.githubusercontent.com/69013647/108369344-82dde700-7221-11eb-821e-5d7db7bb3de4.mp4

Screenshot:
![local3](https://user-images.githubusercontent.com/69013647/108369604-c59

[2021-02-18 14:56] atpug22 commented on #11868
@SAEb-ai I run ```../oppia_tools/elasticsearch-7.10.1/bin/elasticsearch``` on one terminal and when this server start then After that On another terminal I run ```python -m scripts.start``` so you tried this method in this way only??

[2021-02-18 15:12] SAEb-ai commented on #11868
@atpug22 Thanks but I tried the same way you told. But it didn't worked for me.

[2021-02-18 16:51] Mohitbalwani26 commented on #7450
Thanks for assigning!.
When I looked `test_validity_of_each_continuous_computation_class()`,It uses private function named `_get_realtime_datastore_class()` as this function should return the data store class used by the realtime layer which may be used for next batch processing and each subclass should have their own instance. Is there any particular reason that we have made this function as priv

[2021-02-18 17:33] U8NWXD commented on #11900
@sagangwee nithusha21 has given you permissions, so you should have access now

[2021-02-18 17:35] U8NWXD commented on #11895
@mridul-netizen why did you close this issue? Were you unable to reproduce this bug?

[2021-02-18 17:41] mridul-netizen commented on #11895
@U8NWXD yeah,as per discussion with @kevintab95 and inability to reproduce the issue again I closed it! .I tried it on this as well as a new exploration,it was working fine.

[2021-02-18 18:42] U8NWXD commented on #11584
Upgrading the redis cli version we use *should* be easy, so I'm going to go ahead and try that first. I'm planning to have a PR up in the next few days

[2021-02-18 19:21] Mayank-gaur commented on #8423
Thanks @hardikkat24 for the help,I did created some directories. My PR issue is resolved after  following your advice.

[2021-02-18 20:03] kevintab95 commented on #11267
Hi, for subpoint (2), if there is too much text in the choices, the student would have to read it anyway so it might not be great to hide them from view. Instead we can define a limit for the input. We should first do an audit of item selection (and multiple choice) interactions on the server to see if there actually are large text in the individual choices and what their source looks like. This i

[2021-02-18 20:45] seanlip commented on #11868
@SAEb-ai Thanks for the info, this is helpful.

Your second error doesn't look like an elasticsearch one. The error seems to be that a server could not be started on port 8181, which suggests that perhaps another 8181 server is already running?

For your first error, I am not sure why it is happening. You could try filing an issue on elasticsearch's github, or connecting with them via their chat/m

[2021-02-18 20:52] SAEb-ai commented on #11868
@seanlip On running `sudo lsof -i -P -n | grep LISTEN` no 8181 port was shown listening.

[2021-02-18 20:56] seanlip commented on #11868
When you run `ps aux | grep google-cloud` do you get anything?

[2021-02-18 21:10] SAEb-ai commented on #11868
@seanlip On running `ps aux | grep google-cloud` the following came up.
![local10](https://user-images.githubusercontent.com/69013647/108421908-da00ad80-725b-11eb-9eee-23bd9e107eb3.JPG)

[2021-02-18 22:08] Mayank-gaur commented on #8423
Hello @sajalasati , can you please review my PR and tell  me further changes? Here is a link to it: https://github.com/oppia/oppia/pull/11980

[2021-02-18 23:55] sagangwee commented on #11900
I believe the issue is due to the fact that the `more` bool returned from GAE storage when fetching a page does not always mean there are more results. Since we are relying on `more` to handle our pagination state, the next button was not being disabled correctly in some cases when `more` was true even if there were no more results to display.

[2021-02-19 01:13] sagangwee commented on #11900
The plan is to issue a temporary fix that will fix the issue for most cases. There is one edge case where if the last fetched page size == the max page size and `more` is true, the fix will fail. We will need to come up with a more robust solution for that case. In the meantime the fix will unblock the release and trusted testers.

[2021-02-19 02:16] seanlip commented on #11868
Ah ok, it's not what I was thinking then. Thanks @SAEb-ai.

In that case, I'm afraid I have no easy answers. I would suggest adding logs to start.py and the scripts that are executed from that, to see if you can figure out where the shutdown is actually happening and which line of code causes it. That should give us something to proceed on (please let us know what you find!).

[2021-02-19 02:41] U8NWXD commented on #11900
Closed by #11982

[2021-02-19 02:41] #11900 closed, assigned to sagangwee, DubeySandeep

[2021-02-19 04:42] OBITORASU commented on #11888
@kevintab95 @sajalasati sorry to bother you, but I haven't made a lot of progress with the issue with my current approach to the problem. I have been struggling with different regex expressions with no real result, any suggestions or guidance would be really appreciated at this point. Thank you again.

[2021-02-19 05:33] sajalasati commented on #7450
@Mohitbalwani26 Thanks for asking!
I guess we don't want that function to be exposed as a public interface. It seems to be useful within the class only, and based on it's functionality it visibility must have been limited by the author. This is a general OOPS practice and has been followed throughout the codebase. Do you have any solid reason to make it public?

You'll find reading through the iss

[2021-02-19 05:53] seanlip commented on #11978
Note -- it's happening [here](https://github.com/oppia/oppia/runs/1932888936?check_suite_focus=true) too, this time with topic_editor/undefined.

[code]

[2021-02-19 13:19] sajalasati commented on #8423
@Mayank-gaur Done!

[2021-02-19 13:50] sajalasati commented on #11888
@OBITORASU Sorry for delayed response. Appreciate the effort you have put to explore the solutions and explaining it. But I am not sure if the approach (i.e the regex modification) you are suggesting would be the correct way. @DubeySandeep would you like to loop in here? One plausible way could be to shift the check from the general purpose linter to individual third party linters because I think

[2021-02-19 14:00] OBITORASU commented on #11888
Thanks for the suggestion I will definitely try out the alternatives asap and reach back to you.

[2021-02-19 15:29] SAEb-ai commented on #11868
@seanlip I tried to do some stuffs. Here's what I have got.
I started a port at 8181 using `sudo nc -l 8181` . It was done in one terminal.

Then I ran `python -m scripts.start` in the other terminal.Below is the full log which I got.
[code]
`
In this full log there are two points to be noted. Like as you have already mentioned that the server was not starting because the port should be already oc

[2021-02-19 15:32] mridul-netizen commented on #9749
I am working on  `subtopic-viewer-navbar-pre-logo-action.component.ts` please assign me the same

[2021-02-19 17:38] sagangwee commented on #11966
@U8NWXD I actually don't have the bandwidth to fix these issues this week. Can we defer these to next release? Since these are relatively minor issues and we are only opening up the feature to a few trusted testers, I don't think these are necessarily blocking.

[2021-02-19 19:12] seanlip commented on #11868
Thanks @SAEb-ai, this is a good start. Just to be clear, the main reason I'm asking for this detail is because I can't reproduce the error on my machine, so that's why I can only provide pointers (but would need help with carrying out the actual steps).

The next step is to dig into the "Failed to start server on port 9200, exiting ..." issue. You'll see (by searching the codebase) that this error

[2021-02-19 19:41] SarahZLipeles opened #11984 "Recurring confusing testing error: "Cannot configure the test module...""
**Describe the bug**

When writing tests or migrating services, I have run into this error in the frontend tests multiple times:

[code]

The error appears in files that have not been touched, but is fixable by modifying those files. However, it seems to correspond to some other problem in the migrated services or tests.

**To Reproduce**
Steps to reproduce the behavior:
[code]

When you are done,

[2021-02-19 19:49] seanlip commented on #11984
Just a note: the repro steps don't work for me.

[code]

[2021-02-19 20:51] SarahZLipeles commented on #11984
Ah, right, it's on my fork. Try this:
[code]
(I updated the top level comment as well)

[2021-02-19 21:35] SAEb-ai commented on #11868
@seanlip I think that `wait_for_the_port_to_be_open()` should be changed a little.
Original Version:
[code]
 After making the changes the function looks like :
[code]
I have changed the while conditions to `while (is_port_open(port_number)
           and waited_seconds < MAX_WAIT_TIME_FOR_PORT_TO_OPEN_SECS):`
The reason is that `is_port_open()` is giving boolean false if the localhost connects wit

[2021-02-19 22:05] seanlip commented on #11868
Hm, the two code snippets ("original" and "after changes") seem to be the same?

Regardless, it's totally fine to update the code if it's wrong (please also make sure that the function names are clarified and fully correct). Does it solve the problem that you are facing?

Also /cc-ing @jameesjohn @U8NWXD because they wrote this code and can confirm whether there is indeed an error here.

[2021-02-19 22:15] seanlip commented on #11984
Hm, I'm a bit confused now. I did these instructions and the tests all pass. Is that expected?

[2021-02-19 22:18] U8NWXD commented on #11868
Here's the [current version](https://github.com/oppia/oppia/blob/fe3e910b096907611bc4b285da9415c59e473e03/scripts/common.py#L642) of the code:

[code]

@SAEb-ai based on the snippets you included, I think this is the change you're suggesting:

[code]

I think we want to keep this line as-is. This function waits for the port to be open, so we want to keep waiting so long as the port is *not* open.

[2021-02-19 22:30] FareesHussain commented on #10798
@U8NWXD I would like to work on `core/tests/protractor/accessibility.js`

[2021-02-19 22:31] SAEb-ai commented on #11868
@U8NWXD I think `is_port_open(port_number)` is returning the inverse when the port is opening(i.e false in this case).
And now in the `wait_for_port_to_be_open` the condition given in while is
 `not is_port_open` which means that it will increase the value of `waited_seconds` even if the port is opened. This will ultimately lead to exit.

@U8NWXD Correct me if I am wrong.Thanks

[2021-02-19 22:43] SAEb-ai commented on #11868
@seanlip If I  am making the above code change I am coming out of my previous issue.
![ed](https://user-images.githubusercontent.com/69013647/108569163-68932e80-7331-11eb-8d2d-d18af79a2549.JPG)
 Please neglect the `True` as I have printed it as extra to check whether the port was opening or not as earlier you have instructed me to do that @seanlip.

But,now you can see that there is some other iss

[2021-02-19 22:47] SarahZLipeles commented on #11984
No, that's strange, I'll do some testing and come back.

[2021-02-19 22:51] seanlip commented on #11868
Good, this is the sort of evidence you need to gather. Please carry on working with @U8NWXD to figure out what is going on with the port code, and in the meantime, see if you can carry on working through the issues using a similar debugging approach.

[2021-02-19 22:53] SAEb-ai commented on #11868
@seanlip Yep.
Thanks!

[2021-02-19 23:07] SarahZLipeles commented on #11984
a mistake in my instructions again:

`git branch -b name-this-branch theolipeles/c4d1356f920a6f124fb629030e9921ad7e1a7761`

should be:

`git checkout -b name-this-branch theolipeles/c4d1356f920a6f124fb629030e9921ad7e1a7761`

But when I run this locally I get an error that theolipeles/c4d1356f920a6f124fb629030e9921ad7e1a7761 is not a commit.

In the meantime you can use `git checkout theolipeles/mi

[2021-02-20 01:26] EricZLou commented on #11920
NOTE: For me, this message comes up on any page that I load, not just the feedback page.

I'm unable to repro this anywhere, so my best guess is that the [`InteractionRulesRegistryService`](https://github.com/oppia/oppia/blob/develop/core/templates/services/interaction-rules-registry.service.ts) was recently changed. This service contains a mapping from an interaction type to its corresponding `Ru

[2021-02-20 03:16] #11960 closed, assigned to nobody

[2021-02-20 05:32] srijanreddy98 commented on #11984
Hi @TheoLipeles. As per our discussion, doing these changes should fix the errors you are facing.

user-exploration-permissions.service.spec.ts
![Screenshot 2021-02-20 at 11 00 23 AM](https://user-images.githubusercontent.com/23002114/108584892-d6a81780-736a-11eb-8e66-aa81e0131c1f.png)

code-repl-prediction.service.spec.ts
![Screenshot 2021-02-20 at 11 00 39 AM](https://user-images.githubuserconte

[2021-02-20 05:42] SAEb-ai commented on #11868
@seanlip In order to solve my second issue, I went to
https://github.com/oppia/oppia/issues/11587
and found a fix for it.

**Now the oppia website is running on my local environment alt localhost:8181**
![uu](https://user-images.githubusercontent.com/69013647/108585078-47036880-736c-11eb-8a01-d310049e4253.JPG)

Thanks @seanlip for constantly guiding me to solve the above issue.

[2021-02-20 05:44] SAEb-ai commented on #11868
@U8NWXD PTAL.
Please check whether my first fix is good to you as it has resolved my issue.

[2021-02-20 05:44] seanlip commented on #11868
Congratulations!!  I'm glad to hear that :-)

Please feel free to push the necessary changes as a PR. Thanks for working through this!

[2021-02-20 05:48] SAEb-ai commented on #11868
@seanlip Yep I can create a PR.But I think that @U8NWXD @jameesjohn should confirm it first. I think that it is creating problems to some other contributors too in the gitter channel. So, I think that to give it a fix as early as possible would be good.Thanks

[2021-02-20 07:25] ashutoshc8101 commented on #9749
@DubeySandeep @srijanreddy98 @kevintab95  I want to work on `thread-table.component.ts` Please assign this to me.

[2021-02-20 07:52] SAEb-ai commented on #11267
@kevintab95 Please specify the how much the word limits should be for different interactions.

Sorry being late. I was very busy solving this issue #11868 .

Thanks!

[2021-02-20 09:34] #11912 closed, assigned to gp201

[2021-02-20 09:55] #11830 closed, assigned to krishita30j

[2021-02-20 10:01] SAEb-ai commented on #11977
@Jpimy In order to solve `OSError: [Errno 2] No such file or directory: '/dev/disk/by-id/' ` you can refer to issue #11587. Thanks

[2021-02-20 11:41] Mohitbalwani26 commented on #7450
Isn't this a structural test as we are just checking class returned by it should be subclass of `BaseRealtimeDatastoreClassForContinuousComputations`? Because in this case accessing them should be fine right?
I think if we were to test some behaviour then we might be able to use some public interface using that internally and modify accordingly.

[2021-02-20 12:33] sachinchauhan2889 commented on #4057
@nithusha21  please assign _image-upload-helper.service.spec.ts_ to me.

[2021-02-20 15:43] U8NWXD commented on #11966
@sagangwee I checked with Sean (he's will be the only one using these features for now), and he asked that they block the release. Is there anyone else who familiar enough with this code to fix these?

[2021-02-20 16:02] ARKEOLOGIST commented on #11903
@sagangwee @vojtechjelinek mind if I take this up? Some guidance would definitely be nice too!

[2021-02-20 16:17] U8NWXD commented on #11868
@SAEb-ai I agree. Here's the [code](https://github.com/oppia/oppia/blob/fe3e910b096907611bc4b285da9415c59e473e03/scripts/common.py#L393) for `is_port_open`:

[code]

We try to connect to a port with [`socket.connect_ex`](https://docs.python.org/2.7/library/socket.html#socket.socket.connect_ex). If that call returns something nonzero (indicating that an error occurred), we should return `True` beca

[2021-02-20 16:31] U8NWXD commented on #8359
@vojtechjelinek will this be fixed by #11906?

[2021-02-20 16:40] SAEb-ai commented on #10798
@U8NWXD When I am pushing the code the frontend tests are failing.Please help me.
![hg](https://user-images.githubusercontent.com/69013647/108602546-78aa1d00-73c8-11eb-83da-1223d21ace76.JPG)

[2021-02-20 16:42] SAEb-ai commented on #11868
@U8NWXD Yep I am opening it shortly.
Thanks!

[2021-02-20 16:43] kevintab95 commented on #11966
Hi @U8NWXD, I will be working on a fix for this and can try to fix it by 21st Feb EOD. Thanks!

[2021-02-20 16:52] SAEb-ai commented on #11868
@U8NWXD One more thing I want to add is that if we correct `is_port_open` then another issue will come up.
When you look into start.py,you can see that `common.is_port_open` is called, so if we change `is_port_open` then that will be executed and the message that will be printed will be
**Could not start new server.There is already an existing server running at port 8181**.

So, in my perspective

[2021-02-20 17:34] seanlip commented on #11868
Do you perhaps need a clearer API, eg "is port free", "is port occupied",
etc.? The current function may be trying to do too much.

(Not sure, just a thought.)

[2021-02-20 17:44] SAEb-ai commented on #11868
@seanlip I am not sure about that but I have tested the above changes and its working fine.

But I think that you are right one single function is doing a lot of things. But if want those changes,I can give it a try.
Meanwhile I also want to say that I have already opened the PR for it and if you want those changes I can try to apply those changes in the same PR.
Thanks!

[2021-02-20 18:06] seanlip commented on #11868
It's more of a question about "what is the correct thing to do conceptually" than "what I want" or "what happens to work". Perhaps you can think about that a bit, and update the PR accordingly?

[2021-02-20 18:11] SAEb-ai commented on #11868
@seanlip True Sir. I will think about that and update the PR accordingly.
Thanks!

[2021-02-20 22:08] U8NWXD opened #11992 "scripts.start --prod_env exist immediately"
When starting a local development server with `python -m scripts.start --prod_env`, the server shuts down immediately after starting.

Here's a video of this happening from @Radesh-kumar: https://drive.google.com/file/d/12DxFPFEcJnldlCNvLRloVwuhkOkA5tGr/view

Here's the console output from when I replicated this locally:

[code]

[2021-02-20 22:12] U8NWXD commented on #11992
@DubeySandeep it looks like there's an issue running the development server in prod mode. Can you take a look?

[2021-02-21 03:01] U8NWXD commented on #11321
Fixed by #11266

[2021-02-21 03:01] #11321 closed, assigned to nobody

[2021-02-21 03:11] U8NWXD opened #11993 "Report Branch Name to E2E Logging Server"
We can use the `GITHUB_REF` variable for github actions ([docs](https://docs.github.com/en/actions/reference/environment-variables)) and the `CIRCLE_BRANCH` variable for circleci ([docs](https://circleci.com/docs/2.0/env-vars/#built-in-environment-variables))

[2021-02-21 03:18] U8NWXD commented on #11584
@krishita30j I've opened #11994 to upgrade the Redis CLI. Could you check that it works on your system? You can either check out the PR like this:

[code]

or just make the changes yourself (it's a one-line change)

[2021-02-21 04:23] U8NWXD commented on #11920
I'm not sure, but it sounds like a data integrity issue since we do want old explorations to still work in new releases. @vojtechjelinek does EricZLou's suggestion sound plausible? How could we test/fix it?

[2021-02-21 04:24] U8NWXD commented on #4057
@sachinchauhan2889 done!

[2021-02-21 04:25] U8NWXD commented on #10798
@FareesHussain I've assigned you. Let me know if you have any questions!

[2021-02-21 04:27] U8NWXD commented on #10798
@SAEb-ai what is the error message from the frontend test? From your screenshot I can see that the tests failed, but not the error message from that failure

[2021-02-21 04:37] U8NWXD commented on #11868
@SAEb-ai Regarding the `Could not start new server. There is already an existing server running at port 8181.` error message, here's the code where it gets produced:

[code]

I think this code should be correct once you fix `is_port_open`. `is_port_open` is supposed to return whether the port is already in use. This code runs before we start the GAE server, so if the GAE port is already in use, th

[2021-02-21 04:38] SAEb-ai commented on #10798
@U8NWXD
Error
 **Chromheadless failed two times. Giving up**
![IMG_20210221_101046](https://user-images.githubusercontent.com/69013647/108615742-27804480-742d-11eb-9896-84bee73a09a4.jpg)

[2021-02-21 04:47] srijanreddy98 opened #11996 "Remove getter for onAnswerChanged snd updateViewWithNewAnswer function in CurrentInteractionService in AngularJS directives when migrated to Angular2+"
A new Subject was added to notify when an answer from an extension was changed to trigger AngularJS change detection. This was required as AngularJS and Angular change detections are not linked in the way we bootstrap our app. This is required to re-run the validationFn. However, once the app is migrated to angular, this is no longer required.

Info about this change introduction:
Introduced in PR

[2021-02-21 05:58] SAEb-ai commented on #11868
@U8NWXD Yep I agree. So, I think that we should have `is_port_in_use` in `wait_for_port_to_be_open` rather than having `is_port_open`. That will be more clearer I suppose.

Please correct me if I am misinterpreting your previous comment.

[2021-02-21 06:36] SAEb-ai commented on #11868
If I am not misinterpreting the `wait_for_port_to_be_open` and `is_port_in_use` should be something as given below.

**wait_for_port_to_be_open(port_number)**
[code]

**is_port_in_use(port_number)**
[code]
Please correct me I am misinterpreting it.
Thanks!

[2021-02-21 07:32] YBCS commented on #10306
hey @kevintab95 I have gone through the file and it seems it was fixed in pr [#11710](https://github.com/oppia/oppia/pull/11710). If there's something left to be done in the file, please tell me so I can look more into it

[2021-02-21 07:56] krishita30j commented on #11584
@U8NWXD, thanks for the solution! I am able to run the scripts.start and the e2e tests without having to start the redis-server in another terminal. But the backend test seems to be stucks at this log for the past few hours.

<img width="1440" alt="Screenshot 2021-02-21 at 1 21 00 PM" src="https://user-images.githubusercontent.com/66058206/108618993-332d3480-7448-11eb-9b53-600980e8e393.png">

And

[2021-02-21 08:45] OBITORASU commented on #11888
Sorry I got a bit occupied with some events I was participating in, couldn't put much time on this issue. Had a small noob question, when you say shift the checks from general purpose linters to individual third party linters, by the third party linters, do you mean  the ```js_ts_linter.py``` file in the current context?

[2021-02-21 16:17] vojtechjelinek commented on #11903
@ARKEOLOGIST Feel free to take this up

[2021-02-21 16:19] U8NWXD commented on #11584
@krishita30j is there more to the error message at the bottom of your second screenshot? I see the beginning of the traceback, but I don't see what error occurred.

The tests passed on CI, so this might indicate another problem with running Oppia on M1 Macs. Thank you for helping find and fix all these bugs!

[2021-02-21 16:21] U8NWXD commented on #11868
@SAEb-ai that looks right to me! The `wait_for_port_to_be_open` name is also confusing. Maybe `wait_for_port_to_be_in_use`?

[2021-02-21 16:24] SAEb-ai commented on #11868
@U8NWXD Yep.
Thanks.

[2021-02-21 20:25] atpug22 opened #12002 "Placeholder Text overflowing from the input box in Numeric Expression Input Interaction"
**Describe the bug**
Placeholder Text is overflowing from the input box in Numeric Expression Input Interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to exploration editor.
 2. Click on "add new Interaction" and add Numeric Expression Input interaction from the maths section.
 3. Now Zoom in on the page and you can see the error.

**Screenshots**
![Screenshot 2021-02-21 012858

[2021-02-21 20:39] vojtechjelinek commented on #8359
Yep, should be, I will check it.

[2021-02-21 23:05] vojtechjelinek commented on #11920
It could be a possibility, but you will need to find what exactly is the problem. Due to which interaction are we getting this error? If you need any investigation in the test server datastore just let me know.

[2021-02-22 03:08] U8NWXD commented on #10798
@SAEb-ai I've reached out to @nithusha21 to see if they have any ideas since they're more experienced with the frontend tests. Did any of the tests run? If so, did any of them fail, or was the ChromeHeadless error the only problem?

I did some searching, and here are some possibilities:

1. Maybe the app is taking so long to compile that the browser is starting before the app is done building. Tha

[2021-02-22 03:27] #11584 closed, assigned to DubeySandeep, gp201, shellymutu-grigg

[2021-02-22 04:44] #11901 closed, assigned to sagangwee, kevintab95, Rijuta-s

[2021-02-22 07:10] supzi-del commented on #12002
Can you share the link to the page with error?

[2021-02-22 07:12] DubeySandeep commented on #11904
It's worth checking the date of the suggestion creation, I believe we had some old suggestions in the test server before having a separate dir for suggestion images.

@vojtechjelinek, Can you please check the creation-date of the suggestion? (You can find the suggestion details in the network call responses. (Though Network tab of dev-tools)

[2021-02-22 07:20] supzi-del commented on #12002
![Screenshot (61)](https://user-images.githubusercontent.com/78655439/108675189-718c2780-750c-11eb-8a91-2415de7c213b.png)
Same issue on desktop: chrome as well.

[2021-02-22 07:20] ARKEOLOGIST commented on #12002
This is a duplicate of #11747.

[2021-02-22 07:21] supzi-del commented on #12002
Is it closed?

[2021-02-22 07:22] atpug22 commented on #12002
Thanks For Informing. Closing this issue.

[2021-02-22 07:22] #12002 closed, assigned to nobody

[2021-02-22 07:25] atpug22 commented on #12002
If you want to work on this issue then you can proceed to [#11747](https://github.com/oppia/oppia/issues/11747).

[2021-02-22 07:37] seanlip commented on #11904
Note that, in Wala's email, this happens on the main server as well, right?

[2021-02-22 09:18] krishita30j commented on #11584
@U8NWXD ah yes, there is more to the error message.

<img width="1440" alt="Screenshot 2021-02-22 at 2 42 06 PM" src="https://user-images.githubusercontent.com/66058206/108687337-9ee0d180-751c-11eb-90ee-49df4d0f91dd.png">

<img width="1440" alt="Screenshot 2021-02-22 at 2 44 35 PM" src="https://user-images.githubusercontent.com/66058206/108687349-a1dbc200-751c-11eb-9334-5f0a6af798ed.png">

<img wi

[2021-02-22 10:02] mridul-netizen commented on #8016
Hi @nishantwrp @ankita240796 Can I work on `core/templates/dev/head/pages/skill-editor-page/questions-tab/skill-questions-tab.directive.ts`?

[2021-02-22 10:11] kevintab95 commented on #11267
Hi @SAEb-ai an [audit job](https://github.com/oppia/oppia/wiki/Writing-audit-jobs) must be written to determine the limit like I mentioned in https://github.com/oppia/oppia/issues/11267#issuecomment-781601694.

[2021-02-22 11:21] Rijuta-s opened #12006 "[Topic and Skill Dashboard]: Unhandled Rejection when Cancel button in "new skill" modal."
**Describe the bug**
In topic editor, on clicking cancel button in the "add new skill modal" , console error appears.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'topic editor in topic and skills dashboard'
 2. select an existing topic or create a new topic.
 3. Scroll down to 'subtopic section' and click on "add skill button"
 4. Click on cancel button.
 5. an error of unhandled

[2021-02-22 11:34] mridul-netizen commented on #8016
`skill-questions-tab-directive.ts` does not contain any http calls,it depends on `SkillEditorStatesService` which have its own `SkillBackendApiService`. @nishantwrp can you please confirm this?

[2021-02-22 14:28] U8NWXD commented on #11966
@kevintab95 how is work on this issue going?

[2021-02-22 15:16] #11947 closed, assigned to U8NWXD

[2021-02-22 15:16] #11993 closed, assigned to U8NWXD

[2021-02-22 17:47] sajalasati commented on #7450
Hi @Mohitbalwani26! Firstly it's nice to see that we are having a discussion about this and that you are thinking about it.

In my opinion, the method declared here isn't needed outside of its class, and that's why it's kept private. I can't argue much about the implications of making this method public, but we shouldn't do that just because we want that in tests. Also if you go through [our guide

[2021-02-22 19:18] EricZLou commented on #11920
@U8NWXD @vojtechjelinek -- After a lot of digging, I found a small bug: we never added `RatioExpressionInputRulesService` to `UpgradedServices.ts`. I'm still not sure why the original bug report isn't reproducible (and only happens in this specific exploration), and I'm not sure if my PR will fix this bug report, but either way:

**BEFORE:**
In the `rulesServiceRegistry` map within [`InteractionRu

[2021-02-22 19:31] vojtechjelinek commented on #11904
@kevintab95 linked an issue that fixes this, do I still need to check anything?

[2021-02-22 20:39] sachinchauhan2889 opened #12011 "Incorrect file name in check_frontend_coverage_test.py"
**Describe the bug**
In file check_frontend_coverage_test.py filename is wrong.

Actual file name is check_frontend_coverage.py
But currently it is written as check_frontend_test_coverage.py

**Observed behavior**
Before removing it manually from the blacklist in the file scripts/check_frontend_test_coverage.py,

**Expected behavior**
Before removing it manually from the blacklist in the file scri

[2021-02-22 23:11] kevintab95 opened #12013 "[Contributor Dashboard] Review screen does not show the latest original content"
**Describe the bug**
Review screen does not show the latest original content.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign up as User A (admin) and assign contributor review rights to review translations in language X.
 2. Login as User B.
 3. Submit translation suggestions for Exploration X via the contributor dashboard.
 4. Go to Exploration X and edit the content that was transla

[2021-02-22 23:55] kevintab95 commented on #11904
Hi sorry for the confusion, #12008 does not fix this issue.

[2021-02-23 01:37] kevintab95 commented on #11904
@DubeySandeep the suggestion was created on Jan 15 2021.

![image](https://user-images.githubusercontent.com/11008603/108791988-4bb36100-75a6-11eb-8f2f-0525d5aa5344.png)

Creation date is `2021-01-15 (08:06:58.539) IST` per datastore.

[2021-02-23 02:51] U8NWXD commented on #11584
@krishita30j I've encountered this permissions error too. I'm including a fix in #11851. Essentially, we need to add a try-catch when we look up and kill processes. The relevant change is [here](https://github.com/oppia/oppia/pull/11851/files#diff-2e3c877e8f847b3704f72ca8d603acd701f6588bacc2fa2bc0f59cf7bb598182R891). If you don't want to wait for my PR to go in, you can make those changes to your

[2021-02-23 02:59] #11892 closed, assigned to SAEb-ai

[2021-02-23 06:17] sajen-k commented on #10798
is this open ?

[2021-02-23 08:09] SAEb-ai commented on #11868
@U8NWXD As you have mentioned in the PR that `is_port_open` should be deleted and replaced by `is_port_in_use`, but on deleting it, I think that  `Could not start new server. There is already an existing server running at port 8181.` error will come.
Now here's the `is_port_in_use`
[code]
Here's the `is_port_open` (Original Version)
[code]

The basic difference of code between them is

[2021-02-23 10:19] DubeySandeep commented on #8593
Assigning this to @Nik-09

[2021-02-23 10:46] ReshuKumari opened #12015 "Replace story count with chapter count in lesson cards"
**Describe the bug**
Currently story count is displayed on the lesson card. We have to replace story count with chapter count. So that it displays chapter count below topic name.

[2021-02-23 11:20] paras151 opened #12016 "Error while installing oppia"
I am getting the following error on running 'python -m scripts.start'

![error](https://user-images.githubusercontent.com/47773353/108836645-18e58900-75f7-11eb-93ea-c4bfed968ed1.png)

[2021-02-23 12:53] #11966 closed, assigned to kevintab95

[2021-02-23 15:55] kevintab95 commented on #11904
This does not seem to happen for new suggestions and I have confirmed with Wala (who originally reported this on prod) that this no longer happens on production. Since we have not identified the root-cause of this, the plan is to add more logs so that we have more info to debug if this ever happens again.

Considering that it does not occur now and the pending action is to add logs, I don't think

[2021-02-23 15:58] ashutoshc8101 commented on #9749
@DubeySandeep I want to work on `summary-list-header.directive.ts`. Please assign this to me.

[2021-02-23 16:57] U8NWXD commented on #11904
kevintab95 and I discussed and decided that this bug does not need to block future releases either. Instead, we're handing it over to the contributor experience team

/cc @sagangwee

[2021-02-23 16:58] #11843 closed, assigned to jimbyo

[2021-02-23 17:31] EricZLou commented on #11920
**To reproduce my logs above:**

1. Add to `getRulesServiceByInteractionId` in `interaction-rules-registry.service.ts` these 2 `console.log` statements:
[code]

2. Create an exploration, publish it, and submit feedback on the exploration.
3. Go to the exploration editor and click on stats tab. Notice that it prints `Undefined`.
4. In `UpgradedServices.ts`, add this:
[code]
5. Repeat step 3 and not

[2021-02-23 17:43] EricZLou commented on #11920
cc @srijanreddy98

**BEFORE adding to `UpgradedServices.ts:**
https://drive.google.com/file/d/1XEZoLiOTWawa-vcF_UAZkDQZTYx5HFiH/view?usp=sharing

**AFTER adding to `UpgradedServices.ts:**
https://drive.google.com/file/d/10o69qs6qIrNoYhlAnpQIlc_AKmVdcvzp/view?usp=sharing

[2021-02-23 19:45] #11929 closed, assigned to Rijuta-s

[2021-02-23 20:11] SarahZLipeles opened #12017 "Elastisearch doesn't shutdown properly on dev server."
**Describe the bug**
When shutting down the dev server with ctrl-c, an error message displays and resources intensive processes continue to run in the background.

**To Reproduce**
These steps are run on:
OS: macOS Catalina 10.15.7
Model: MacBook Pro (13-inch, 2020, Four Thunderbolt 3 ports)
Processor: 2 GHz Quad-Core Intel Core i5
Memory: 32 GB 3733 MHz LPDDR4X

Steps to reproduce the behavior:

[2021-02-23 20:15] sagangwee commented on #11681
Duplicate of https://github.com/oppia/oppia/issues/11966.

[2021-02-23 20:15] #11681 closed, assigned to sagangwee

[2021-02-23 20:20] seanlip commented on #12017
Thanks @TheoLipeles!

@srijanreddy98 -- does your PR fix this?

[2021-02-23 20:44] subodhk01 commented on #10306
Hey @kevintab95 Can you assign me some files

[2021-02-23 21:21] kevintab95 commented on #12013
/cc @sagangwee

[2021-02-23 21:43] sagangwee commented on #12013
I believe the fix here would be to update any pending corresponding suggestions when updating an exploration, i.e. in `update_exploration` in core/domain/exp_services.py

[2021-02-24 02:15] U8NWXD opened #12018 "E2E Test Function that Searches for Explorations Should Require Full Title"
In the search function for e2e tests, we take a parameter that is the query string. We should also require a second parameter that is the full desired exploration. This will ensure we never select the wrong exploration (e.g. when 2 explorations match the query)

[2021-02-24 03:08] U8NWXD commented on #11920
@EricZLou do you want to leave this issue closed, or reopen it as srijanreddy98 suggested while you investigate the cause?

[2021-02-24 03:15] U8NWXD commented on #8593
Heads up that I think this worked correctly when I tested the February release, though I'm not sure

[2021-02-24 03:43] EricZLou commented on #11920
Thanks @U8NWXD

I'll re-open this issue and close it if:
- #12009 manages to fix the original bug and we figure out why it fixed the bug
- #12009 does not fix the original bug (so we maybe revert it) but then later find a real fix

[2021-02-24 03:47] U8NWXD commented on #11868
@SAEb-ai I think `bool(s.connect_ex(('localhost', port)))` returns `False` when the port is not in use. Here's the [documentation](https://docs.python.org/2.7/library/socket.html#socket.socket.connect_ex) for `socket.connect_ex`:

This means that if the port is not in use (so the connection succeeds), the returned value is `0`. Then the `0` gets interpreted as `False` by python:

[code]

This is w

[2021-02-24 03:50] U8NWXD commented on #10798
@sajenjeshan1222 yes! If you would like to work on this issue, just let me know what task you want

[2021-02-24 04:33] SAEb-ai commented on #11868
@U8NWXD Thank's for the documentation. It will be very helpful to understand.

[2021-02-24 09:20] subodhk01 commented on #10306
I would like to work on these files
[code]

[2021-02-24 09:26] SAEb-ai commented on #11868
@U8NWXD I tried to print the value of `s.connect_ex(('localhost', port)) ` .
As in the above documentation it is said that a success connection would yeild `0` value but on my local machine when I tried it, it printed `111` when `is_port_open` was first called from start.py.

 Below is the code for it.
[code]
![rr](https://user-images.githubusercontent.com/69013647/108977647-c49de000-76ae-11eb-995

[2021-02-24 13:02] aviral19 commented on #10306
Hey @kevintab95, I would like to work on the following files, please assign them to me at your discretion

[code]

[2021-02-24 13:20] Nik-09 commented on #8593
@U8NWXD  This issue is still reproducing.. in test server as well as in official website.
Here I am attaching three screenshots
**In Localhost**
![Screenshot from 2021-02-24 18-39-05](https://user-images.githubusercontent.com/57531197/109006283-ec9e3b00-76d0-11eb-8992-ca9c92691b0c.png)
**In test server**
![Screenshot from 2021-02-24 18-44-21](https://user-images.githubusercontent.com/57531197/1090

[2021-02-24 13:20] Nik-09 commented on #8593
@U8NWXD PTAL Thanks

[2021-02-24 14:30] Nik-09 commented on #6707
This issue is still reproducing.
@rajni0829 can you please confirm that are you still  wroking on this issue?

[2021-02-24 15:50] ashutoshc8101 commented on #8472
@U8NWXD I want to work on `question-validation.service.ts`. Will submit PR soon. Please assign this file to me.

[2021-02-24 16:16] manishaag7 commented on #10474
@vojtechjelinek Is there issue I can work on?

[2021-02-24 17:40] ashutoshc8101 commented on #8472
@U8NWXD I want to work on `collection-editor-state.service.ts`. Please assign this file to me.

[2021-02-24 20:04] EricZLou commented on #11920
**UPDATE:** #12009 successfully fixes this bug (error on test server is gone). I'll try to figure out why it fixed the bug -- maybe @srijanreddy98, if you have time, you could help me look into this?

Note: now, a new error is being raised by this exploration, but it is part of a separate issue that will be opened soon.

[2021-02-24 20:31] kevintab95 opened #12024 "StateAnswerStatisticsHandler does not handle the case where interactionId is updated"
StateAnswerStatisticsHandler does not handle the case where the state was updated with a different interactionId but the state answer is associated with the previous interaction.

## Explanation

Let Exploration E have 2 states (S1, S2, S3) with Interaction Ids 'Continue', 'TextInput', and 'EndExploration' respectively and is published. User U enters an incorrect answer "h" in S2 4 times. After so

[2021-02-24 20:36] kevintab95 commented on #11920
Thanks @EricZLou! The bug found is unrelated to this issue so a new issue (https://github.com/oppia/oppia/issues/12024) has been filed.

[2021-02-24 21:26] kevintab95 commented on #11919
This does not seem to be fixed in the topic/story/skill editors. It was fixed in Exploration editor.

See https://github.com/oppia/oppia/pull/11940#issuecomment-785394554.

[2021-02-24 21:41] kevintab95 commented on #11919
This will be fixed before the March release cut. Removing from "blocking bugs" milestone in order to unblock the Feb release.

/cc @ARKEOLOGIST

[2021-02-24 22:05] seanlip commented on #12024
/cc @brianrodri FYI

[2021-02-25 01:10] U8NWXD opened #12026 "Skip E2E Tests for Changelog Updates"
When we update the changelog with a branch named `update-changelog-for-release*`, we should skip the tests. These PRs don't affect code logic, so e2e tests are unnecessary. This works correctly on GitHub Actions, but for some reason this isn't working on CircleCI, as evidenced by this workflow run: https://app.circleci.com/pipelines/github/kevintab95/oppia/617/workflows/0b4f0293-1533-43a8-8bdb-fba

[2021-02-25 02:23] U8NWXD commented on #8593
@Nik-09 I'm not sure what you need from me. I wasn't sure whether it happened during release testing, so I think you can consider this an active bug now that you've reproduced it

[2021-02-25 02:35] U8NWXD commented on #8472
@ashutoshc8101 I've assigned you to `question-validation.service.ts`. I'm not sure if @srijanreddy98 wants to allow claiming two tasks at once, so I'm deferring to him on `collection-editor-state.service.ts`

[2021-02-25 03:14] U8NWXD commented on #11868
@SAEb-ai I'm sorry, I badly mis-interpreted how this code works. Here's what I tried:

First, I opened a python shell and tried calling `s.connect_ex` on some ports I knew were not in use:

[code]

This is a nonzero response code, so the connection failed! Then, I tried this again after launching the development server locally:

[code]

Now the response code is zero, indicating a successful connec

[2021-02-25 03:28] SAEb-ai commented on #11868
@U8NWXD Does this mean that the client is trying to connect before the development server starts?

I am asking this as in my previous comment you can seee that it took some time to connect and give value `0`

[2021-02-25 10:19] Nik-09 commented on #6707
@darksun27 @DubeySandeep I am working on this issue. Thanks.

[2021-02-25 11:30] sajen-k commented on #10798
Ok I will work in this issue

[2021-02-25 15:00] pankajdahiya008 commented on #9749
@DubeySandeep @srijanreddy98 @kevintab95 Please assign me `outcome-feedback-editor.directive.ts`. Thank You.

[2021-02-25 16:43] vojtechjelinek commented on #10474
@manishaag7 Did you read the description of this issue? Please pick a file that you want to work on.

[2021-02-25 16:59] Nik-09 commented on #6493
I am working on this issue. Thanks

[2021-02-25 17:22] sagangwee opened #12028 "[Contributor Dashboard] Update contribution user docs"
Doc link: https://oppia-user-guide.readthedocs.io/en/latest/contributor/contribute.html

A lot of changes have been made recently in regards to bug fixes. We want to make sure the current documentation is up-to-date. In particular:

1. While reviewing, if you see images are broken, please reject it.
2. When translating something, if you see broken images, do not submit it. Try to gather logs from

[2021-02-25 17:36] U8NWXD opened #12029 "Sanitize Screenshot Filenames"
When we upload screenshots from the e2e tests that run on CI, we need to rename the files to not include any of `",:,<,>,|,*,?`. Otherwise, the upload will fail like it did [here](https://github.com/oppia/oppia/pull/11446/checks?check_run_id=1919608128). We can use the [`pathBuilder`](https://www.npmjs.com/package/protractor-jasmine2-screenshot-reporter#path-builder-optional) config option to do t

[2021-02-25 17:36] sagangwee opened #12030 "[CD P1 Translation Contributor] Show completed translations in translate text tab."
Translation contributors would like more context in the lessons they are translating. "In most languages, there are multiple synonyms for a word and using the same "synonym" across would be the right thing to do. Also the voice(passive vs active) should be consistent. Etc."

To achieve consistency of translations within a single chapter/exploration, we want to surface completed/accepted translatio

[2021-02-25 18:43] sajalasati commented on #11888
@DubeySandeep As per offline discussion, kindly leave a comment here verifying if need this regex check or not. Thanks!

[2021-02-25 20:29] sachinchauhan2889 commented on #3446
@kevintab95 please assign "PencilCodeEditor" to me.

[2021-02-25 21:32] sachinchauhan2889 commented on #10306
@kevintab95 please assign "topic-viewer-backend-api.service.ts" to me

[2021-02-25 22:31] sagangwee commented on #11761
Example of this issue with Review Questions header:

![Screenshot from 2021-02-23 18-36-25](https://user-images.githubusercontent.com/9004726/109228076-554bed00-778f-11eb-9094-844235a0d70e.png)

[2021-02-25 22:33] sagangwee commented on #11761
@urvashi-code1255 Hi! So sorry for the context switching, but it's probably actually worthwhile fixing this for now as some users are accessing the dashboard on slightly smaller desktop screens. Do you think you could re-open your PR?

[2021-02-26 01:18] #8359 closed, assigned to aks681

[2021-02-26 01:18] #9868 closed, assigned to nithusha21

[2021-02-26 01:19] U8NWXD opened #12036 "Add Link to Wiki when Backend Test Shards Don't Match Filesystem"
When users add new backend tests, they may forget to add those tests to the list of shards. For example, this happened in #11955. When this happens, we want to include a link to the relevant section of the wiki in the error message.

[2021-02-26 01:30] U8NWXD commented on #8274
Fixed by #11906

[2021-02-26 01:30] #8274 closed, assigned to U8NWXD

[2021-02-26 01:33] YBCS commented on #10306
hello @kevintab95, please assign me this file `core/templates/domain/story_viewer/story-viewer-backend-api.service.ts`

[2021-02-26 02:07] U8NWXD commented on #11868
@SAEb-ai yes, the client is trying to connect before the server starts. That's expected. Here's the relevant code from your comment:

[code]

The goal here is to check whether there is an Oppia server already running. If there is, we want to abort the script because we can't have 2 servers running at once. Therefore, if the connection succeeds (i.e. if `common.is_port_open` returns `True`), we wan

[2021-02-26 02:20] U8NWXD commented on #10798
@sajenjeshan1222 which task would you like to work on? The available tasks are listed at the top of this issue under `Available Files`

[2021-02-26 03:27] SAEb-ai commented on #11868
Thanks!
@U8NWXD Can you please suggest me what should I do because on my local machine on running `python - m scripts.start` one error is coming i.e.`Failed to start server at port 8181. Exiting`

[2021-02-26 05:34] pankajdahiya008 commented on #11868
Hi all, is this issue occuring on wsl(linux virtual machine on windows) only or on ubuntu also. Moreover any update on temporary fix for the problem?

[2021-02-26 06:48] ARKEOLOGIST commented on #11919
I can't reproduce this in the skills dashboard. Some help would definitely be nice.

[2021-02-26 09:16] #12036 closed, assigned to U8NWXD

[2021-02-26 10:36] hardikkat24 commented on #10049
@vojtechjelinek Shall I start working on ExplorationRightsModel ?

[2021-02-26 10:47] vojtechjelinek commented on #10049
@hardikkat24 Yep, makes sense.

[2021-02-26 11:40] ghost commented on #11761
Sure @sagangwee I will reopen it and will do the desired changes in it.

[2021-02-26 12:29] sajen-k commented on #10798
I would like to work on "core/tests/protractor_utils/ProfilePage.js"

[2021-02-26 12:53] sachinchauhan2889 commented on #8016
@ankita240796  please assign me "core/templates/dev/head/pages/collection-editor-page/editor-tab/collection-node-creator.directive.ts"

[2021-02-26 15:28] manishaag7 commented on #10474
@vojtechjelinek Yes I have,  FeedbackMessageSummaryObjectFactory I want to work on this issue.

[2021-02-26 16:45] vojtechjelinek commented on #10474
@manishaag7 Assigned

[2021-02-26 18:17] Nik-09 commented on #11868
![Screenshot from 2021-02-26 23-44-33](https://user-images.githubusercontent.com/57531197/109338920-ea80db80-788c-11eb-95e1-c61d5965682d.png)
![Screenshot from 2021-02-26 23-45-18](https://user-images.githubusercontent.com/57531197/109338959-f4a2da00-788c-11eb-910d-738e06ef2127.png)

[2021-02-26 18:19] Nik-09 commented on #11868
I am trying to start localhost in prod mode.. by command ( python -m scripts.start --prod_env ) and these errors are coming.
@seanlip @U8NWXD please guide me to resolve this issue.

[2021-02-26 19:04] seanlip commented on #11868
I'm afraid I have no idea. Did you try searching for the error message?

[2021-02-26 19:45] SAEb-ai commented on #11868
@U8NWXD Today, I have tried a lot of things. Here's what I have got.
In the error `Failed to start server at port 8181,exiting`. Here's the code for it.
[code]
As I have already said that `s. connect_ex('localhost', port) ` is returning a non-zero value, so I tried to skip this problem somehow (preventing from exiting) by slightly changing the code in `wait_for_port_to_be_open(port) `
[code]
The r

[2021-02-27 02:07] seanlip commented on #11868
@SAEb-ai I've read through your comment a couple of times and am having a little trouble following the thread of argument. I suggest that you do the following:

(a) Update your PR so that it works on your machine (and still works on CI). This is the first priority.
(b) Make sure that all function names are clear. In particular, get rid of any function which uses the "open" terminology and replace

[2021-02-27 07:26] kontesanjana commented on #10306
Hello @kevintab95, I would like to work on - core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
could you assign it to me?

[2021-02-27 13:25] pankajdahiya008 commented on #11868
Server once ran with --save_datastore flag but now it's again failing to start. Maybe the information is useful. Thanks.

[2021-02-27 14:37] AwsSG commented on #11431
Hi @vojtechjelinek
I am hoping to contribute to Oppia through GSOC, and currently looking for an issue to contribute in.
Are any of the files in the list still available? Or are they all resolved?

[2021-02-27 15:26] SAEb-ai commented on #11868
@U8NWXD In this above context, I found another . It says s. connect_ex() is not working in loop.

[2021-02-27 15:44] SAEb-ai commented on #11868
@U8NWXD In the above context I found another link(https://stackoverflow.com/questions/43653134/loop-not-working-in-socket-connect-ex). It states that s.connect_ex() is having issues to connect in looping conditions.

The ans given in that is to close the socket after every connection.
But in the `is_port_open`  the socket is not closed by `s.close()`.
Moreover I have also told you in the above qou

[2021-02-27 16:06] U8NWXD commented on #11919
@ARKEOLOGIST I just reproduced this on develop (7840d2d6903d6ad008734c883c5d4de512b159ec) in the topic editor:

![Screen Shot 2021-02-27 at 11 01 26](https://user-images.githubusercontent.com/19878639/109392662-6ad62980-78eb-11eb-9f8b-bfcb2a97d649.png)

Here are the steps I followed:

1. `python -m scripts.start`
2. Log in as a super-admin
3. In the admin tab, assign admin privileges to your user

[2021-02-27 16:11] ARKEOLOGIST commented on #11919
My PR should fix it in the topic and story editors. I'm not sure about the skill editor since I couldn't reproduce the error there (I can see there is an error but I cannot see a dropdown?)

[2021-02-27 16:29] U8NWXD commented on #11919
That sounds like a new bug that you found in the skill editor! I see the same behavior as you do in the skill editor

[2021-02-27 16:34] U8NWXD commented on #11868
@SAEb-ai I think we do close the socket with a context manager:

[code]

Notice the `with contextlib.closing` context manager, whose [documentation](https://docs.python.org/2.7/library/contextlib.html#contextlib.closing) says:

[2021-02-27 16:35] U8NWXD commented on #11868
@SAEb-ai I would say close the PR until we figure out what the problem is

[2021-02-27 16:49] pankajdahiya008 commented on #11868
Hi all, I tried deleting all oppia folders(make sure to save your changes before that :) ) and then resetting oppia by using git clone oppia and then followed steps on windows installation docs on oppia wiki.

Then using command python -m scripts.start --no_browser Worked for me.

Hope it works for you guys as well.
Thanks.

[2021-02-27 16:53] ARKEOLOGIST commented on #11919
@U8NWXD You mind if I open another issue for this? I'll add the screenshots accordingly. I'm not sure if the issue is blocking or not, maybe @kevintab95 can help?

[2021-02-27 17:03] SAEb-ai commented on #11868
@PANKAJ-DAHIYA123 Thanks! But I have tried a lot of thinks but still it is not able to start.

Actually the server is starting to work in the backend  but the main thing that is happening to me is that It is not getting connected to the client by this `s.connect_ex('localhost', port)`

[2021-02-27 17:18] pankajdahiya008 commented on #11868
@SAEb-ai Try setting ubuntu 18.04 again and then run sudo apt update && sudo apt upgrade and try running oppia server on develop branch(updated one). I know it's random behaviour but maybe it will work for you.

[2021-02-27 17:44] SAEb-ai commented on #11868
@PANKAJ-DAHIYA123 Thanks again!
But as I have been facing this problem from a long time,I have tried every possible thing,but still also that error is coming.

But speaking of a temporary fix which was working on local machine is in `wait_for_port_to_be_open` I have to do the following.

[code]
But yep this temporary fix is not true theoretically.

[2021-02-27 18:39] gp201 commented on #11868
@PANKAJ-DAHIYA123 is this the error you were facing: [link](https://github.com/oppia/oppia/issues/11587)

[2021-02-28 03:33] PANKAJ-DAHIYA123 commented on #11868
@gp201 Thanks. But I was able to solve error(dev/disk-id os error) in previous version using --no_browser flag.

But in latest version it is not even working with --no_browser Maybe save_datastore is conflicting something or merge issue.

But resetting oppia and ubuntu worked magically (Temporary fix :) )

[2021-02-28 13:11] PANKAJ-DAHIYA123 commented on #11868
command "python -m scripts.start --no_browser" is working on latest develop branch but failing on my custom branch. Why is this happening?

[2021-02-28 14:11] Nik-09 commented on #10474
@vojtechjelinek @nishantwrp  currently I am assigned in a file in which I am facing a lot of errors please assign me
ClientContextObjectFactory and EntityContextObjectFactory
 files for getting started with this issue then I will work on AnswerClassificationResultObjectFactory Thanks.

[2021-02-28 21:25] atpug22 commented on #4057
@nithusha21 @U8NWXD  Please assign me graph-utils.service.ts.

[2021-02-28 21:53] vojtechjelinek opened #12059 "Implement better boilerplate model class for handling deprecated and deleted fields"
Implement a better boilerplate model class for handling deprecated and deleted fields.

Quote about this from Ben:

[2021-02-28 22:11] vojtechjelinek commented on #11431
@AwsSG All are resolved in this issue.

[2021-03-01 02:30] U8NWXD commented on #10798
@sajenjeshan1222 I've assigned you! Please reach out to me with any questions

[2021-03-01 02:34] U8NWXD commented on #11919
@ARKEOLOGIST yes, I think this belongs in its own issue. @nithusha21 is handling the March release ([wiki](https://github.com/oppia/oppia/wiki/Release-schedule-and-other-information)), so it's up to him whether this bug should block

[2021-03-01 02:39] U8NWXD commented on #4057
@atpug22 done!

[2021-03-01 03:35] oswalgopal commented on #11816
@Yashs911 Can I solve this bug ??

[2021-03-01 06:09] SAEb-ai commented on #11816
Hi @oswalgopal.
This issue already has a PR assigned. So, it would be better if  you can pick up a good first issue labelled issue.
And yep do assign the CLA first before taking up the issue.
Thanks!

[2021-03-01 06:12] hardikkat24 commented on #10049
@vojtechjelinek Is anyone working on `Topic Model`? If not, should I take this up?

[2021-03-01 09:17] #11038 closed, assigned to nithusha21, DubeySandeep

[2021-03-01 10:05] vojtechjelinek commented on #10049
@hardikkat24 No, no one is working on those, if you're able to do the PR before the release cut data (5th March) then take it up.

[2021-03-01 11:43] sajalasati commented on #10470
Closing this issue as it has been already solved by eslint team in their PR - https://github.com/eslint/eslint/commit/cbf3585f1d6c60414c07380367a8b4505ee3538d. (Source: @Hudda)

[2021-03-01 14:04] #12026 closed, assigned to nobody

[2021-03-01 15:59] ashutoshc8101 commented on #9749
@DubeySandeep @srijanreddy98 @kevintab95  I am working on `skill-selector.directive.ts`. Please assign this to me.
Will submit PR soon.

[2021-03-01 16:43] jcqli commented on #9749
@ashutoshc8101 Hey! I've actually been working on `skill-selector`, the list is a bit confusing since some of the unclaimed ones are actually claimed but not completed.

[2021-03-01 16:45] ashutoshc8101 commented on #9749
@jcqli is it done?
Or work is in progress.??

[2021-03-01 16:47] jcqli commented on #9749
Work in progress

[2021-03-01 16:50] ashutoshc8101 commented on #9749
@jcqli
I can share my code with you.
So, you can incorporate the parts you like and make your work better.

[2021-03-01 16:52] ghost commented on #11761
@sagangwee I am not getting Available tasks text!!

![Capture](https://user-images.githubusercontent.com/63122133/109530311-93714580-7adc-11eb-9d33-03af1fe90661.PNG)

[2021-03-01 16:54] jcqli commented on #9749
Oh, thank you, I appreciate it! #11791 is my draft PR if you wanted to take a look

[2021-03-01 17:01] ashutoshc8101 commented on #9749
@jcqli
I can see that skill-selector.component.ts is still incomplete.
You will face some pitfalls migrating it.
I have already faced those pitfalls during my work.
I can help to complete work on `skill-selector.component.ts` if you like.
I also made a better pipe.

[2021-03-01 17:03] ashutoshc8101 commented on #9749
@jcqli
Allow me to contribute to your PR.

[2021-03-01 17:09] pankajdahiya008 commented on #11868
@gp201 Thanks. But using --no_browser flag is not working.

[2021-03-01 17:18] Radesh-kumar commented on #4057
@nithusha21 @U8NWXD can you assign me this? hint-and-solution-modal.service.ts

[2021-03-01 17:20] SAEb-ai commented on #11868
@pankajdahiyapd Can you please attach a screenshot of the problem which  you are actually facing in the terminal?
Thanks!

[2021-03-01 18:10] tanishq67 commented on #4057
Hi, I will try to do `promo-bar-backend-api.service.ts`

[2021-03-01 18:28] ashutoshc8101 commented on #9749
`subtopic-viewer-navbar-pre-logo-action.component.ts` is listed both in claimed and unclaimed directives. please fix.

[2021-03-01 18:33] ashutoshc8101 commented on #9749
@DubeySandeep @srijanreddy98 @kevintab95 I want to work on `admin-jobs-tab.directive.ts`. Please assign this file to me.

[2021-03-01 18:55] Mohitbalwani26 commented on #7450
@sajalasati I tried to look carefully but I couldn't find a way to fix them by using public methods. Could you please help me out with some suggestions? Or if this is not beginner friendly, and since this is my first time contributing to Oppia, could you please suggest other issue which is backend oriented?

[2021-03-01 19:24] DubeySandeep commented on #10470
@sajalasati Do we need to update the eslint version we are using? [Feel free to close this issue if we are using the updated eslint]

[2021-03-01 20:17] sagangwee opened #12061 "[Contributor Dashboard] Not able to submit question suggestions on main Oppia server"
Screenshot:

![error communicating with server](https://user-images.githubusercontent.com/9004726/109553398-fd6bf980-7aa0-11eb-9464-28c025eb3ea1.png)

Related stack trace for a POST to /suggestionhandler/:

[code]

ID 5UeFU80Yoaf7 refers to a skill in Place Values.

[2021-03-01 20:20] sagangwee opened #12062 "[Contributor Dashboard] Send email notification to contributors when they are added to the submit question allowlist"
Currently, we send an email notification when users are granted review rights in the contributor dashboard. Similarly, we want to send an email notification when contributors are granted rights to submit questions in the contributor dashboard. This reduces the back-and-forth needed when granting access to trusted testers.

- An example of sending an email for the contributor dashboard can be found

[2021-03-01 20:53] sagangwee commented on #12061
Upon initial investigation, it seems the issue is due to an assumption being made when sending feedback thread emails when submitting a suggestion. In `_add_message_to_email_buffer` of `feedback_services.py`, the thread entity (the suggestion target entity) is assumed to be an exploration, but it will be a skill in the case of a question suggestion. These changes were made in https://github.com/op

[2021-03-01 20:55] seanlip commented on #12061
Aha! Great find, and yup, that explains why we couldn't repro on test server. /cc @U8NWXD @nithusha21 @vojtechjelinek for info since it suggests we might need to update our QA process to catch things like this.

[2021-03-01 22:05] sagangwee commented on #12061
@nithusha21 What do the feedback thread emails look like? Is there documentation for them?

[2021-03-01 22:08] seanlip commented on #12061
I think almost all email templates are in core/domain/email_manager.py

[2021-03-02 02:19] SarahZLipeles commented on #12017
Additional note: this causes `Admin Page>Activities>Load dummy new structures data` to fail on the dev server.
To fix this:
1. Shut down the dev server
2. Kill the zombie processes: `pkill -f elasticsearch`
3. Re-start the dev server

[2021-03-02 02:25] U8NWXD commented on #4057
@tanishq67 @Radesh-kumar done

[2021-03-02 02:43] #12029 closed, assigned to U8NWXD

[2021-03-02 06:20] ARKEOLOGIST commented on #11768
Please fill in the template properly.

[2021-03-02 07:27] RiyaJ2311 opened #12067 "[UX] Uniform color on hovering"
**Is your feature request related to a problem? Please describe.**
The same color when [hovering](https://material.io/go/design-buttons) would create a uniform effect.
![image](https://user-images.githubusercontent.com/48223671/109612312-8cd2e480-7b55-11eb-962e-1683a984df83.png)
This issue can be found on https://www.oppiafoundation.org/

**Describe the solution you'd like**
Using the same color u

[2021-03-02 08:20] ARKEOLOGIST commented on #11639
@U8NWXD This is resolved, I guess. Maybe we can close this issue?

[2021-03-02 08:33] pankajdahiya008 commented on #11868
@SAEb-ai .I am attaching the error I got on running below command.
python -m scripts.start --no_browser

[2021-03-02 08:34] pankajdahiya008 commented on #11868
![fail 9200](https://user-images.githubusercontent.com/52493334/109620769-433bc700-7b60-11eb-9c67-25af4e16a574.png)

[2021-03-02 08:47] kishanhitk commented on #10798
@U8NWXD, can you please assign `core/tests/protractor/libraryFlow.js` to me?

[2021-03-02 08:47] SAEb-ai commented on #11868
@pankajdahiyapd I think you should try this first
https://github.com/oppia/oppia/issues/11868#issuecomment-779907677

[2021-03-02 09:36] tanishq67 commented on #11768
@ARKEOLOGIST  Done!

[2021-03-02 09:54] pankajdahiya008 commented on #11868
Yes it worked for me. I was trying it from a long time. Thanks you very much @SAEb-ai.

[2021-03-02 10:03] ARKEOLOGIST commented on #11768
Nice! Now, is this only localized to the preferences page or does it occur on other pages also?

[2021-03-02 10:55] #11639 closed, assigned to 2580ayush2580

[2021-03-02 11:39] Rijuta-s opened #12070 "Broken hyperlinks and lost information"
With the implimentation of new pages few of the links have been broken  and also some valuable information present on the old pages such as the participation playbook have been lost.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2021-03-01 23-07-41](https://user-images.githubusercontent.com/68547101/109643297-0a105080-7b7a-11eb-918d-eb9939f4ade5.pn

[2021-03-02 11:44] #11431 closed, assigned to vojtechjelinek

[2021-03-02 13:58] Mayank-gaur commented on #8423
Hi @sajalasati , I have updated my PR with the suggested changes. Please take a look in it and guide me further.

[2021-03-02 15:28] Mayank-gaur commented on #8423
Hi @sajalasati ,Sorry but  I am not seeing the option of assigning to you or anybody.  But I have clicked the requested a review from you.  Is this correct?

[2021-03-02 15:30] sajalasati commented on #8423
No issues I've assigned myself now. You can leave a `@reviewer PTAL` comment and oppiabot will automatically assign the reviewer.

[2021-03-02 17:10] aks681 commented on #6583
Closing this since this is not reproducible on test server or on develop anymore.

[2021-03-02 17:10] #6583 closed, assigned to nobody

[2021-03-02 18:08] tanishq67 commented on #11768
I am not exactly sure about it, but yes I tried to find the same on some other pages as well, but couldn't.

[2021-03-02 19:06] sjkadali commented on #10306
Hello @kevintab95 please assign
 'core/templates/domain/story_viewer/story-viewer-backend-api.service.ts' to me.

[2021-03-02 19:34] sagangwee opened #12074 ""ConnectionTimeout caused by - ReadTimeoutError" by Elastic Search when loading explorations on local dev server"
**Describe the bug**
Server error during "Load dummy new structures data (only admins)" activity on local dev server.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start local dev server.
 2. Login as admin user a.
 3. Assign user a admin role in Admin page.
 4. Go to "Activities" tab of Admin Page.
 5. Click "Load Data" button for "Load dummy new structures data (only admins)" activity.

[2021-03-02 21:10] SarahZLipeles opened #12078 "Backend tests do not shut down properly and fail to run again when aborted"
**Describe the bug**
Aborting the `run_backend_tests` script raises errors and fails to shut down zombie processes.
Running `run_backend_tests` again fails and raises an error.

**To Reproduce**

Steps to reproduce the behavior:
 1. Run `python -m scripts.run_backend_tests`
 2. Wait for some of the tests to start
 2. Abort script by pressing `^C` (ctrl+c)
 3. See error:
[code]
 4. Run `python -m s

[2021-03-02 21:26] sagangwee commented on #12074
@seanlip This is the Elastic Search related error that I've encountered a few times before. The contributor dashboard team frequently uses the "Load dummy new structures data (only admins)" admin action to populate opportunities.

[2021-03-02 21:30] sagangwee opened #12079 "Rethink feedback thread email system"
Figure out which emails are helpful and clean up feedback thread infrastructure, e.g. in `feedback_services.py`.

One possible improvement could be to make a clean split between contributor dashboard suggestions and feedback threads as translation and question suggestions probably don't need to send any feedback thread emails.

[2021-03-03 01:59] YBCS commented on #10306
hey @sjkadali , I am still working on this. I closed my pr because I forced a push my mistake, I will submit another pr. would you please look into another issue.

[2021-03-03 02:37] U8NWXD commented on #10798
Done @kishanhitk! Please let me know if you have any questions

[2021-03-03 02:57] kishanhitk commented on #10798
Actually, you assigned me another file, but no worries, I will fix both.

[2021-03-03 03:06] U8NWXD commented on #10798
@kishanhitk Oops, sorry about that! I've fixed the assignments. Since you already have two tasks, I'd ask that you fix those before taking on any more

[2021-03-03 08:05] #6313 closed, assigned to parulpriyedarshani

[2021-03-03 08:27] #10919 closed, assigned to krishita30j

[2021-03-03 11:48] ashutoshc8101 commented on #9749
@DubeySandeep @srijanreddy98 @kevintab95 I am working on `admin-config-tab.directive.ts`. Will submit PR soon.

[2021-03-03 15:52] SAEb-ai commented on #10798
@U8NWXD I have tried the above but still the frontend tests are failing. PTAL.
Thanks!

[2021-03-03 15:59] sjkadali commented on #10306
ok @YBCS . @kevintab95 , Please assign
'core/templates/domain/topic/topic-creation-backend-api.service.ts'
'core/templates/domain/topic/topic-creation-backend-api.service.spec.ts' to me.

[2021-03-03 23:21] sagangwee commented on #12013
The `change` object stored in a translation suggestion has the following structure:

[code]

The `content_html` is what is displayed as the original content text in the translation suggestion review modal (core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.controller.ts).

It may not make sense to update the original `content_html` when an explorati

[2021-03-04 00:15] sagangwee commented on #12013
Suggested changes:

1. Remove the original content check in `pre_accept_validate` in core/domain/suggestion_registry.py.
2. Add a note in the review modal if the original content has changed.
3. Add a diff of old content and new content so reviewer can quickly update if needed.

[2021-03-04 01:24] #12061 closed, assigned to sagangwee

[2021-03-04 03:38] oswalgopal commented on #12067
@RiyaJ2311 can I work on this ??

[2021-03-04 06:03] DubeySandeep commented on #9326
@Hudda, is this issue still relevant? Can we close this issue now?

[2021-03-04 06:37] Radesh-kumar commented on #9749
@ashutoshc8101 I'm working on `admin-config-tab.directive.ts`
Btw `admin-jobs-tab.directive.ts` is done or WIP?
@nithusha21 can you please assign?

[2021-03-04 06:44] ashutoshc8101 commented on #9749
It is done and I have submited a PR.

[2021-03-04 06:48] Radesh-kumar commented on #9749
@ashutoshc8101 So, my PR got merged regarding admin-backend-api-service it might cause conflicts
https://github.com/oppia/oppia/pull/11446/files
can you ping your mail or something?

[2021-03-04 06:50] ashutoshc8101 commented on #9749
Send me link your PR here.

[2021-03-04 06:50] Radesh-kumar commented on #9749
https://github.com/oppia/oppia/pull/11446/files

[2021-03-04 07:00] ashutoshc8101 commented on #9749
@Radesh-kumar Thankyou, The conflicts are resolved now.

[2021-03-04 07:46] RituCs commented on #11496
Hi , I am a new here and would like to contribute on this issue.Please guide me further.

[2021-03-04 10:05] vojtechjelinek commented on #12061
We plan to change how we handle emails on the test and backup server to improve the QA process, we should be working on it soon.

[2021-03-04 10:50] vojtechjelinek commented on #8014
@FareesHussain Hi, this issue might help you gain some experience with the admin page, see if you would like to work on it.

[2021-03-04 12:14] ashutoshc8101 commented on #9749
@Radesh-kumar Are you working on `schema-based-editor.directive` too or it is just `admin-config-tab.directive`??
I am migrating this complete folder.
If you already have migrated this folder. Then I will leave migration of `admin-config-tab` upto you.
![Screenshot from 2021-03-04 17-45-37](https://user-images.githubusercontent.com/24855641/109962662-77a2b500-7d11-11eb-8ad2-47ecff89374c.png)

[2021-03-04 12:17] Radesh-kumar commented on #9749
I'm not working on `schema-based-editor.directive`

[2021-03-04 12:19] ashutoshc8101 commented on #9749
@Radesh-kumar Ok, I will not work on `admin-config.tab`.
I will just submit PR just for schema-based-editor.
Does this seem fine to you??

[2021-03-04 12:19] Radesh-kumar commented on #9749
Yup sounds good!

[2021-03-04 12:33] RiyaJ2311 commented on #12067
sure, please go ahead

[2021-03-04 15:42] Siddhant-K-code commented on #12070
Can you pls share the URL at which hyperlinks are broken?

[2021-03-04 15:52] Radesh-kumar commented on #9749
@nithusha21 please assign `promo-bar.directive.ts`

[2021-03-04 15:56] Siddhant-K-code commented on #12016
Try `python -m scripts.start --no_browser`

You Can Refer to this #11587

[2021-03-04 16:06] Siddhant-K-code commented on #11776
Can I try to fix this?

[2021-03-04 16:16] kontesanjana opened #12098 "Failing Front-end tests"
when I run front-end tests using - python -m scripts.run_frontend_tests . It simply says "Done! ".
I've tried re-doing it using python -m scripts.clean and then python -m scripts.install_third_party_libs and then ran front-end tests again. But the error is the same and does not display anything regarding tests. I'm attaching a snippet below.

<img width="562" alt="oppia-frontend" src="https://user

[2021-03-04 16:16] Siddhant-K-code commented on #11704
It's Fixed Now and the Link is Working!! 👍🏼

[2021-03-04 20:13] FareesHussain commented on #8014
Thanks

[2021-03-05 00:39] kevintab95 opened #12102 "Handle missing stats models"
~This issue is to track that https://github.com/oppia/oppia/pull/11748 gets reverted after the March 2021 release.~

Update the following logic such that, when a new stats model is created, check that there are valid stats models corresponding to all the previous versions of the exploration. If there is a missing model, regenerate the model.

https://github.com/oppia/oppia/blob/e5ca0c680a6c5f5a6f7

[2021-03-05 03:37] U8NWXD commented on #11496
Welcome @RituCs! Could you pick one of the tasks at the top of this issue? Then I'll assign it to you

[2021-03-05 05:37] srijanreddy98 opened #12104 "Graph Interaction TODOs"
The following are the existing TODOs in the graph interaction files attached. (I have not attached an `@` to the usernames in order to not disturb the then Oppia Members).

1. TODO(mili): Replace this logic for the correct pluralize tool when there are more cases that justify the use of the library
2.  TODO(czx): Consider if there's a neat way to write a reset() function to clear bits of this.stat

[2021-03-05 05:55] RituCs commented on #11496
Thank You @U8NWXD.I have no idea which issue is good for me. I know Python and little bit Javascript.

[2021-03-05 10:46] Radesh-kumar opened #12106 "UI bug in Admin Roles Tab"
**Describe the bug**
`View Contributor Dashboard Users` request affecting the UI of `View User Roles` in the admin-roles-tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start the server.
 2. Navigate to the admin page,
 3. Click on the roles tab.
 4. In the `View User Roles`  select method, select username, click on view role.
 5. In the `View Contributor Dashboard Users` select method

[2021-03-05 11:09] Radesh-kumar opened #12107 "UI bug in Explorations"
**Describe the bug**
Clickable Images in the exploration are moving out of position.

**To Reproduce**
Steps to reproduce the behavior:
1.Start the server.
2.Navigate to the admin page, activities tab.
3.Reload all Explorations.
4.Navigate back to the library tab.
5.Under Science Section, select `The Solar System`.
6.Method1: Spam clicks on the image.
7.Method2: Click on the image a modal will app

[2021-03-05 12:03] SAEb-ai opened #12108 "Connection timeout due to Read Time out Error on going to community library on local dev server"
**Describe the bug**
Every instance of oppia is running good on my local machine but the moment it is coming to community-library it's giving the following error.
**Connection timeout due to Read Time out Error**

**To Reproduce**
Steps to reproduce the behavior:
 Go to 'localhost:8181/community - library'

**Observed behavior**
Error Communicating with server. Please try again.

**Expected behavi

[2021-03-05 13:09] nlok5923 commented on #12028
@sagangwee  i would like to work on this issue please assign it to me.

[2021-03-05 13:11] nlok5923 commented on #11909
i would like to work on this issue.

[2021-03-05 13:21] ARKEOLOGIST commented on #11909
@Yashs911 Are you still interested to take this up? Seems like it is still occurring in the new version.

[2021-03-05 14:13] sajalasati opened #12109 "Allow print statements to work in tests"
Allow print function to display output on the terminal inside test methods.

[2021-03-05 14:19] DubeySandeep commented on #12108
@seanlip, This looks like some issue related to elastic search (not sure!), do you have any thoughts?

[2021-03-05 14:42] #12011 closed, assigned to nobody

[2021-03-05 16:57] sajalasati commented on #12109
We can already do this via verbose mode in `run_backend_tests` script. Got confused with something else. Closing this issue now.

[2021-03-05 16:57] #12109 closed, assigned to nobody

[2021-03-05 17:14] sagangwee commented on #12028
Will need to create a basic reviewer section. Start with a reviewing translations page.

[2021-03-05 17:21] nlok5923 commented on #12028
Sure @sagangwee but please can you elaborate a bit this issue.

[2021-03-05 17:24] nlok5923 commented on #12028
Sure @sagangwee but please can you assign this to me first so that I can start working on it.

[2021-03-05 17:33] sagangwee commented on #12028
@nlok5923 Sorry but shubhamkorde is working on this issue currently. You can try searching for good first starter issues if you're a new contributor!

[2021-03-05 17:44] nlok5923 commented on #12028
@sagangwee it's absolutely not a problem

[2021-03-05 23:13] sagangwee commented on #11905
@shubhamkorde Assigning you since I think it makes sense to fix this issue in conjunction with https://github.com/oppia/oppia/issues/12030.

[2021-03-06 08:00] ashutoshc8101 commented on #9749
Please assign `image-uploader.directive.ts`

[2021-03-06 11:44] Deepam101 commented on #4057
@U8NWXD please assign `state-editor.service.ts` to me

[2021-03-06 14:23] sachinchauhan2889 commented on #10700
@srijanreddy98 please assign me `ThreadMessageSummary`

[2021-03-06 14:26] mridul-netizen commented on #10700
@sachinchauhan2889 I am already working on it and have opened a PR can you work on some other file?

[2021-03-06 14:30] sachinchauhan2889 commented on #10700
@mridul-netizen sorry i haven't seen Your PR. I only see unclaimed list and create PR.
You can continue you work. I will close my PR.

[2021-03-06 14:41] sachinchauhan2889 commented on #10700
@srijanreddy98 can you please assign me `fraction`.

[2021-03-06 15:11] sajalasati commented on #11070
@AdityaDubey0 Do you want to complete your work on this issue? If not, then kindly let me know. Thanks!

[2021-03-06 15:13] sajalasati commented on #11888
@DubeySandeep Any update from your side?

[2021-03-06 15:24] sajalasati opened #12117 "Audit linter files if they spawn too many processes"
**(Updated description after analysis)**

Based on PR #12105, we should audit other linter files and make sure this pattern does not exist anywhere else i.e disallow spawning of too many processes for each file to be linted, because it's a bad practice and unnecessarily increases the runtime of lint checks.

**Method of Analysis**: Not all linter files spawn processes in the above manner, so I sta

[2021-03-06 17:28] vojtechjelinek commented on #12098
Here is a link to the whole output https://pastebin.com/dmAitkxF

@DubeySandeep @U8NWXD can you help?

[2021-03-06 18:31] DubeySandeep commented on #12117
I see similar pattern in the following place: https://github.com/oppia/oppia/blob/5a73843e09e9f697843c52cc0dee40745509e10e/scripts/linters/html_linter.py#L349-L354

[2021-03-06 18:40] AdityaDubey0 commented on #11070
@sajalasati initially I was finding it difficult, I will take a pass again and if I need any help I will let you know

[2021-03-06 19:24] RituCs commented on #11496
@U8NWXD  Please guide me what I have to do.I want to start contribute.

[2021-03-06 20:29] vojtechjelinek opened #12120 "Do not record zero date into `UserSubscriptionsModel.last_checked` and fix all existing models"
Some of the existing `UserSubscriptionsModel` models have "zero" stored as a value in the `last_checked` field, we want to fix that. In the `UserSettingsModel,` the `created_on` field can also be "zero" since when we were fixing the `created_on` we also in some cases filled it according to `UserSubscriptionsModel`. You can find the relevant PR [here](https://github.com/oppia/oppia/pull/11437). You

[2021-03-06 20:35] vojtechjelinek opened #12121 "Add validation check for datetimes"
Add validation check for all datetimes, whether they are ± after year 2010, and also that datetimes are after `created_on`.

[2021-03-06 21:12] ARKEOLOGIST commented on #11919
@U8NWXD This is solved with #12039. I'll open a new issue for the skill editor.

[2021-03-07 06:33] seanlip opened #12125 "Cannot run start script using --prod_env flag"
**Describe the bug**

The scripts/start.py currently fails when the --prod_env argument is passed to it. It tries to start a new server but then receives a shutdown signal and then terminates immediately.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `python -m scripts.start --prod_env`.

**Observed behavior**

The following logs are shown in the terminal:
[code]

**Expected behavior*

[2021-03-07 06:37] seanlip commented on #12125
/cc @brianrodri who has also run into this issue. (@brianrodri please feel free to add more detail if you have any)

I dug into this a bit, because it is odd that run_e2e_tests.py runs successfully with --prod_env but start.py does not. Oddly, I found that what seemed to make the difference in run_e2e_tests.py was running protractor in a subprocess, because keeping [these lines of code](https://gi

[2021-03-07 07:49] #10717 closed, assigned to jimbyo

[2021-03-07 10:35] atpug22 commented on #6349
I was working on this issue and figured out that this issue is because of the "select2" third-party library and it's an issue on their repo [here](https://github.com/select2/select2/issues/3125). The problem is something with a focus I guess that remains on dropdown even after selecting the option which freezes other scrolls. I have tried all the solutions given in their thread and even tried upgr

[2021-03-07 11:55] lkbhitesh07 commented on #10306
Hey @vojtechjelinek, I have made a PR for the file `core/templates/services/playthrough-issues-backend-api.service.ts`, I earlier requested to get assigned to it but got no response, will you please assign me?
Thanks

[2021-03-07 12:57] VallariAg commented on #9749
I want to work on `alert-message.directive.ts`. Please assign it to me.

[2021-03-07 13:06] sajalasati commented on #12098
Also assigning @DubeySandeep and @U8NWXD for the same.

[2021-03-07 16:08] geekysumant commented on #10798
@U8NWXD Hi, could you please assign me ```core/tests/protractor_utils/SkillEditorPage.js``` . Also this is my first issue in the world of Open Source. Could you please also guide me in case i don't understand something?

[2021-03-07 18:25] archi15 commented on #7463
Hi @kevintab95, I am taking up this issue!

[2021-03-07 19:14] vojtechjelinek commented on #10306
@lkbhitesh07 Done.

[2021-03-07 20:37] EricZLou commented on #11920
@srijanreddy98 -- I'm closing this issue. Turns out `servicesToProvide` in `App.ts` includes `InteractionRulesRegistryService`. And this service includes `upgradedServices['RatioExpressionInputRulesService']`. The issue was that `upgradedServices['RatioExpressionInputRulesService']` was originally never set to anything. So, my PR fixed it by setting it.

In `UpgradedServices.ts`:
[code]

In `App.t

[2021-03-07 20:37] #11920 closed, assigned to EricZLou

[2021-03-07 23:35] lkbhitesh07 commented on #10306
Hello @vojtechjelinek, you mistakenly assigned yourself to this issue. Also, in case you get some time my PR is failing one test might be flaky will you please run it again? #12127
Thanks

[2021-03-08 02:07] #10721 closed, assigned to jimbyo

[2021-03-08 03:27] U8NWXD commented on #11496
@RituCs these lint checks are going to be entirely in Javascript. For more python-based lint checks, take a look at #8423.

[2021-03-08 03:39] U8NWXD commented on #12098
@kontesanjana how much RAM does your computer have? I'm working with another contributor experiencing this, and we think it may be because their machine has only 4 GB of RAM. Other contributors have found upgrading to 8 GB to help

[2021-03-08 03:44] U8NWXD commented on #10798
@geekysumant I've assigned you. Welcome to open source! Please let me know if you have any questions. I'm happy to help!

[2021-03-08 04:24] kontesanjana commented on #12098
yes, It has only 4GB of RAM. I will try to upgrade to 8 GB RAM. Thanks!

[2021-03-08 05:00] geekysumant commented on #10798
Thank you! Is there any naming convention I should follow while making a branch?

[2021-03-08 06:54] RiyaJ2311 opened #12130 "[UX] Using a single button for sign-in and sign-up"
**Is your feature request related to a problem? Please describe.**
This is an issue is taken from[ the website](https://www.oppia.org/)
![image](https://user-images.githubusercontent.com/48223671/110283916-e2e8d180-8006-11eb-8143-562c6af53709.png)

**Describe the solution you'd like**
1. Using a single button for registration and a Login button.
2. Replace **[create](https://uc.appengine.google.co

[2021-03-08 07:05] seanlip commented on #12130
Hi @RiyaJ2311, we are not doing this. Please refrain from filing issues until you have done the UX tests to validate them or can point to references that it is affecting real users. (We have too many issues already and would prefer to fix existing ones rather than add new ones if possible, unless the issue filed represents an actual bug.) Thanks!

[2021-03-08 07:05] #12130 closed, assigned to nobody

[2021-03-08 07:45] RiyaJ2311 commented on #12130
Thanks for informing me, can you please help me where should I contribute to UX as an outreachy applicant?

[2021-03-08 07:51] seanlip commented on #12130
Please wait for the projects to be announced. More instructions will be available then.

[2021-03-08 07:59] DubeySandeep commented on #12125
Thanks for creating the issue, @seanlip. I'm looking into it!

[2021-03-08 08:01] DubeySandeep commented on #12125
@seanlip, Can you please share the full log? (It must contain some data on the reason for termination of the server.)

Note: For me, the issue is around apiproxy module.

[2021-03-08 08:08] DubeySandeep commented on #12125
@seanlip I see the following error:
[code]

[2021-03-08 08:08] seanlip commented on #12125
The traceback shown no longer appears on my machine, but when I've seen an error it is indeed along the lines you mention. But sometimes it literally doesn't appear, unfortunately. I don't know why though.

[2021-03-08 08:44] DubeySandeep commented on #12125
[code]

I see another issue with firebase^

[2021-03-08 13:57] lkbhitesh07 commented on #7450
Hi @sajalasati, I would like to take `jobs_test.ContinuousComputationTests` part `test_events_coming_in_while_batch_job_is_running`.
Also will you please take a quick look too #12133
Thanks

[2021-03-08 15:04] RiyaJ2311 commented on #12130
Thank you!

[2021-03-08 15:41] ashutoshc8101 opened #12134 "A weird box (maybe to flash notifications to user) appears on every page on `oppia/develop` deployment."
**Describe the bug**
An unexpected element ( blue box) (maybe to flash notifications to the user) appears on every page on `develop` branch.

https://user-images.githubusercontent.com/24855641/110342786-cfaf2380-8051-11eb-9d83-a79ad7736bcc.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. checkout `develop` branch on your machine
2. run `python -m scripts.start`
3. A unexpected element (bl

[2021-03-08 21:42] brianrodri opened #12135 "Break up GenericTestBase into mixins with specific intents"
As of #12124, `GenericTestBase` has **1902 lines of code!** Needless to say, that's way too many.

This issue proposes splitting the implementation into "[mixins](https://stackoverflow.com/a/547714/4859885)", each of which are focused on a very specific purpose and exposes a very specific set of methods. Each mixin would be placed in their own `core.test.*_mixin` module, with their own unit tests.

[2021-03-08 21:45] brianrodri commented on #12135
/cc @BenHenning @seanlip @vojtechjelinek @DubeySandeep

[2021-03-09 03:13] U8NWXD commented on #12098
@kontesanjana Please let us know how it goes!

[2021-03-09 06:51] samyakjain5901 commented on #10306
Hi @vojtechjelinek, is this issue still open? I would like to take up this issue.....

[2021-03-09 06:52] samyakjain5901 commented on #10306
Hi @vojtechjelinek, is this issue still open? I would like to work on this issue

[2021-03-09 07:24] Radesh-kumar commented on #12134
@ashutoshc8101
This is called promo-bar,
I'm currently migrating this component (not yet merged though).
It will **only appear** if you configure it in  config tab in Admin Page [Check your config tab ]
My develop branch is working fine.

[2021-03-09 08:43] ashutoshc8101 commented on #12134
@Radesh-kumar Thanks for help. The issue is resolved now.

[2021-03-09 08:43] #12134 closed, assigned to nobody

[2021-03-09 09:12] vojtechjelinek commented on #10306
@samyakjain5901 Please read through the issue description and pick files that you want to work on.

[2021-03-09 15:50] gp201 opened #12141 "[install_prerequisites] specify pip version"
**Describe the bug**
upgrades pip to version 21.0 when `bash scripts/install_prerequisites.sh` is run.

https://github.com/oppia/oppia/blob/6e8aa8368ce5c86ab4a73288bd801d57f9a448d2/scripts/install_prerequisites.sh#L42

Pip21 drops support for python2 and python 3.5. [Source](https://pip.pypa.io/en/stable/news/#id1)
The following command is present in the [Linux installation wiki](https://github.co

[2021-03-09 15:55] Radesh-kumar opened #12142 "Flake in Edit Thumbnail Modal (FE test)"
**Describe the bug**
Front End Test flake in the following spec
`Edit Thumbnail Modal Controller should load a image file in onchange event and save it if it's a svg file `

**To Reproduce**
I've been trying to reproduce this flake it occurred only once so far.
Try brute-forcing  Karma tests in "core/templates/components/forms/custom-forms-directives/edit-thumbnail-modal.controller.spec.ts".

**Ob

[2021-03-09 16:06] TetianaHrunyk commented on #8015
Hello, @kevintab95
I would like to work on core/templates/domain/exploration/editable-exploration-backend-api.service.ts

[2021-03-09 16:13] gp201 commented on #12141
The fix should mostly be along these lines;

`pip install --upgrade pip==20.0.0`

However, please confirm the fix. just in case

[2021-03-09 16:21] U8NWXD commented on #12142
@Radesh-kumar if you happen to have the full error log, could you add that to the issue? That will help with debugging

[2021-03-09 16:23] Radesh-kumar commented on #12142
Sorry At that time I didn't though it was a flake and didn't take note of it.

[2021-03-09 16:38] #8800 closed, assigned to nobody

[2021-03-09 16:38] #4932 closed, assigned to nobody

[2021-03-09 17:20] U8NWXD commented on #12098
The other contributor I'm working with was able to solve this issue by using 8 GB of RAM

[2021-03-09 17:42] DubeySandeep commented on #12098
Looks like frontend test compilation and setup takes a lot of resources, I found 2 contributors with 8 GB ram sometimes face similar issues.

@vojtechjelinek @srijanreddy98 Will it is possible to simplify the test compilation/setup process? Not sure whether it's blocked because of angular-migration as such?

[2021-03-09 17:43] ARKEOLOGIST commented on #8679
@DubeySandeep Can I pick this up?

[2021-03-09 17:56] DubeySandeep commented on #8679
@DubeySandeep, I'm not sure whether it needs any different approach to fix as this is going to affect some extensions and we need a design doc for the same, @kevintab95 Can you please help @ARKEOLOGIST with his question?

[2021-03-09 18:19] ARKEOLOGIST commented on #9726
@vojtechjelinek Can you confirm if this is solved or not?

[2021-03-09 18:23] U8NWXD commented on #11761
@sagangwee It looks like urvashi-code1255 left a question for you above. Could you take a look?

[2021-03-09 18:25] ARKEOLOGIST commented on #10630
Is this intended or can changes be done here? Some guidance would definitely be welcome.

[2021-03-09 18:25] ARKEOLOGIST commented on #19443
Is this intended or can changes be done here? Some guidance would definitely be welcome.

[2021-03-09 20:33] vojtechjelinek commented on #12098
@vojtechjelinek I have an issue running the tests even with 16 GB memory (truth is that I have many other RAM-heavy programs open).

I tried to make the compilation more efficient by limiting the RAM for the process but it wasn't successful since it killed the process. I think we have done many optimizations for webpack last years. One thing to try would be to upgrade the webpack to version 5 but

[2021-03-09 20:35] vojtechjelinek commented on #10630
As Kevin said it is not a priority but probably can be done.

[2021-03-09 20:35] vojtechjelinek commented on #19443
As Kevin said it is not a priority but probably can be done.

[2021-03-09 20:36] vojtechjelinek commented on #9726
Yep, this was fixed thanks!

[2021-03-09 20:36] #9726 closed, assigned to HarshKhilawala

[2021-03-09 20:44] U8NWXD commented on #12098
I'm unassigning myself since the dev workflow team is handling this

[2021-03-10 01:55] tanishq67 commented on #8423
@sajalasati I think I learnt a lot from my last (currently active) PR, I would like to work on `All docstrings must end with a full stop.` as well.

[2021-03-10 04:31] srijanreddy98 opened #12146 "jQuery deprecation"
jQuery is no longer required as we use angular now and most of the things can be done in Angular and all of the jQuery features can be now implemented in vanilla js.

The first step of deprecating jQuery is adding a lint check. One such eslint plugin has been identified. We can look for more (if needed). https://github.com/wikimedia/eslint-plugin-no-jquery

The next step is removing jQuery from al

[2021-03-10 06:31] sajalasati commented on #8423
Good to know @tanishq67 :)
I have assigned you to it now. Go through the [Lint wiki](https://github.com/oppia/oppia/wiki/Lint-Checks) once again, and this time start with finding the simplest solution first rather than directly going on to write a raw checker. Let me know if you have further questions!

[2021-03-10 06:40] kontesanjana commented on #12098
Unfortunately, my RAM cannot be updated as it is fixed and no extra slots!

[2021-03-10 08:02] SAEb-ai commented on #4057
@U8NWXD @nithusha21 Can you please assign me `end-exploration-rules.service.ts`

[2021-03-10 08:06] mridul-netizen commented on #12098
I also had 8gb of RAM previously and was having the same issue ,beacause of my AMD graphics due to which only 5.94gb(vega occupying much of the part) was usable,this is not the case with intel. But upgrading it to 16gb resolved these issues

[2021-03-10 09:13] ReshuKumari opened #12150 "Change in requirement.txt file while starting the server or fetching from develop"
**Describe the bug**
whenever we start the server i.e. is during  python -m scripts.start or when we fetch data from develop branch to our local branch then there is a change in requirement.txt file.

**In develop branch**
https://github.com/oppia/oppia/blob/9a435c12c10c634ca4223ecd41ec4e57aa92b04b/requirements.txt#L80

**change after fetching or running  python -m scripts.start the change we get

[2021-03-10 09:16] aasiffaizal commented on #12121
Hi,
Can you elaborate on the issue? I can take this up as the first task.

[2021-03-10 09:21] vojtechjelinek commented on #12121
@Aashish683 Hi, this issue is not ideal for a new contributor. Please check https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia in order to start contributing to Oppia.

[2021-03-10 09:49] aasiffaizal commented on #10306
Hi,
I'd like to claim
` core/templates/services/state-interaction-stats.service.ts`
   `core/templates/domain/exploration/state-interaction-stats-backend-api.service.ts`
Can you assign it to me? @vojtechjelinek @kevintab95

[2021-03-10 09:56] vojtechjelinek commented on #10306
@aasiffaizal Done.

[2021-03-10 10:44] #12141 closed, assigned to nobody

[2021-03-10 14:38] lkbhitesh07 opened #12155 "Skill editor page while adding questions only shows Medium Difficulty"
**Describe the bug**
While creating questions on the skill editor page the text for `skill` is a bit below than usual also there is no text in front of the description. Also, the only option is  available for the difficulty is `Medium`.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `topics and skill dashboard` with admin rights.
 2. Click on add skill to add a particular skill and f

[2021-03-10 14:50] aasiffaizal commented on #8423
Hi,
is Check for space before and after =  for html lint taken?
If not I'll implement it.
Couldn't find any option in htmllintrc, hence planning on implementing it using regex to find such cases. Let me know if that works. @sajalasati @kevinlee12 @Hudda

[2021-03-10 15:22] sajalasati commented on #11070
@vojtechjelinek Currently the PR #12119 is trying to solve this issue, but can you give us a few cases where we need to define empty docstring i.e `""""""`? Or were you trying to do this to escape some other check? Thanks!

[2021-03-10 15:31] pankajdahiya008 commented on #9749
I'm picking up `library-footer.component.ts`

[2021-03-10 15:33] vojtechjelinek commented on #11070
My use case was that I just forgot to fill in the comment.

[2021-03-10 15:35] sajalasati commented on #11070
Ohh okay fine. Currently we do raise lint error for empty docstring, and the unexpected runtime error will be solved by the PR. Thanks!

[2021-03-10 16:13] lkbhitesh07 commented on #5813
Hello @vojtechjelinek, I understood this issue as we want to give a more specific error to the end user that if he is not authorized then we want to return 403 error and if he is not logged in then we want him to know that you are not logged in, by this, he will get better clarity of what he can access. Also I took a look into `base.py` file, here we are handling authorization with 401 error which

[2021-03-10 16:41] U8NWXD commented on #12142
This has been seen on develop: https://github.com/oppia/oppia/runs/2034543646?check_suite_focus=true

[2021-03-10 17:53] U8NWXD opened #12158 "Catch NoSuchProcess Exception from Managed Processes"
We sometimes get exceptions from trying to kill processes that don't exist. This has [happened](https://github.com/oppia/oppia/runs/2047674700?check_suite_focus=true) on develop on CI. Here's the log:

[code]

We should fix this by catching exceptions from the `proc.terminate()` call.

[2021-03-10 20:02] ARKEOLOGIST commented on #12155
@kevintab95 I'm taking this up if this isn't a problem.

[2021-03-11 03:56] U8NWXD commented on #4057
@Deepam101 @SAEb-ai done

[2021-03-11 05:53] lkbhitesh07 commented on #12155
Hi, I would like to add one more part to this issue will you PTAL?
Here even after filling in all the details to create a question, I'm unable to `save` it. I tried reloading it, starting again the development server but nothing worked, maybe I'm doing anything wrong.
Thanks
![Screenshot from 2021-03-11 11-19-19](https://user-images.githubusercontent.com/44300735/110742341-330ca180-825c-11eb-9569-

[2021-03-11 05:58] ARKEOLOGIST commented on #12155
@lkbhitesh07 It's better that we file that under a separate issue. I will be fixing the alignment issue soon.

[2021-03-11 05:58] sajalasati commented on #8423
Thanks for your interest, I've assigned you to it!

Regarding the approach, could you once cross check with the list of options (i.e rules) available [here](https://github.com/htmllint/htmllint/tree/master/lib/rules) and see if it's there. If not then, @DubeySandeep @Hudda do you know if we can write plugins for htmllint, or the only way possible is to write a new check in `html_linter` file?

[2021-03-11 06:01] lkbhitesh07 commented on #12155
@ARKEOLOGIST Ok, I'll create another issue for it.
Thanks

[2021-03-11 06:12] nlok5923 commented on #10306
@vojtechjelinek  please assign me
[code]

[2021-03-11 06:13] lkbhitesh07 opened #12163 "Unable to 'save' a question even after filling all the details."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to topics and skill dashboard with admin rights.
2. Click on add skill to add a particular skill and fill in the details.
3. There you will find an option for Add questions.
4. Click on 'Add Questions' and fill in all the details.
5. You'll unable to save the question.

[2021-03-11 06:29] Hudda commented on #8173
Closing via https://github.com/oppia/oppia/pull/9925

[2021-03-11 06:29] #8173 closed, assigned to nobody

[2021-03-11 06:31] Hudda commented on #6022
closing via https://github.com/oppia/oppia/pull/9925

[2021-03-11 06:31] #6022 closed, assigned to nobody

[2021-03-11 07:23] ARKEOLOGIST commented on #12155
OK, one minor clarification. It seems that the question editor is only designed to show the skill description and not the name of the skill itself, so I guess it is intended.

[2021-03-11 07:37] ARKEOLOGIST opened #12165 "Skill descriptions in the question editor can overflow if it is too long"
**Describe the bug**
If the skill description is too long, it overflows the container on the `question editor`.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `topics and skill dashboard` with admin rights.
 2. Add a skill, then add a question to the skill.
 3. See error.

**Observed behavior**
The skill description overflows the container.

**Expected behavior**
The skill descriptio

[2021-03-11 07:42] lkbhitesh07 commented on #12155
@ARKEOLOGIST You are right actually, I mistakenly missed that. Thanks for the clarification also will you please take a look at `Difficulty` part, It only shows medium?
Thanks

[2021-03-11 07:43] ARKEOLOGIST commented on #12155
I'll have a look at that.

[2021-03-11 07:44] ARKEOLOGIST commented on #12155
I'll take a look.

[2021-03-11 07:45] sajalasati commented on #8423
@aasiffaizal I discussed offline with @Hudda - I think you need to introduce a regex in `general_purpose_linter` file only not `html_linter`. You can create a PR with that aproach. Thanks for checking!

[2021-03-11 07:57] aasiffaizal commented on #8423
@sajalasati Sure will do. So this lint check for ' = ' should be for only HTML files only, right?

[2021-03-11 07:59] sajalasati commented on #8423
@aasiffaiza Yes!

[2021-03-11 08:20] sajalasati commented on #10470
@Hudda Can you please verify the version of eslint (and also make changes for updating the version if needed)? Actually I am not sure where to find the current version, I looked [here](https://github.com/oppia/oppia/blob/f15a31938c8ff2c440908807292c2af6d15b6bcc/package.json#L61) and acc to that I think it's `7.1.0`, but the fix was included in `7.21.0` acc to the PR you told.

[2021-03-11 16:14] aasiffaizal commented on #8423
@sajalasati wouldn't it be better if I introduce the regex in `html_linter.py`? The `handle_starttag` function in the custom HTML parser seems perfect to introduce that check. What do you think @Hudda?

[2021-03-11 17:43] kevintab95 opened #12171 "Classroom banner seems to overlap with the search bar on small devices"
**Describe the bug**

Classroom banner seems to overlap with the search bar on small devices

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to library page
 2. See error

**Observed behavior**
Classroom banner seems to overlap with the search bar on small devices

**Expected behavior**
Classroom banner should not overlap with the search bar.

**Screenshots**
![Screenshot_20210305_101922

[2021-03-11 17:43] kevintab95 commented on #12171
@ARKEOLOGIST would you like to look into this?

[2021-03-11 18:30] seanlip commented on #12108
@U8NWXD pointed out that this is happening on CircleCI too, see e.g.

https://app.circleci.com/pipelines/github/oppia/oppia/19347/workflows/379e0531-6641-444f-b584-856a4fd77835/jobs/109212

[code]

[2021-03-11 18:31] seanlip commented on #12108
@DubeySandeep Sorry no idea. Will dig a bit into it -- the community library page is what triggers the search functionality so that would be related I guess. I wonder if we need to add some retry logic.

[2021-03-11 18:33] SAEb-ai commented on #12108
@seanlip Yes it happened to me locally also when I was migrating to the community-library(localhost:8181/community-library).

[2021-03-11 18:35] sjkadali commented on #10306
@nlok5923 I had already submitted the PR for the topic-creation-backend-api.service.ts . So could you please look into another issue?

[2021-03-11 18:36] seanlip commented on #12108
Thanks. Does it happen repeatedly or transiently? I.e. if you refresh the page does it happen every time?

[2021-03-11 18:36] seanlip commented on #12108
Also what do you get when you go to localhost:9200?

[2021-03-11 18:37] SAEb-ai commented on #12108
@seanlip Locally, it happens to me continuously whenever I migrate to community-library. Even if I refresh the page it doesn't go away.
Thanks!

[2021-03-11 18:43] ARKEOLOGIST commented on #12171
I can't reproduce this in the main test server at https://oppiatestserver.appspot.com/community-library - some help would definitely be good.

[2021-03-11 18:45] SAEb-ai commented on #12108
@seanlip At localhost:9200 I got this.
![gp](https://user-images.githubusercontent.com/69013647/110838058-09895f80-82c8-11eb-81fa-8aab9a51937a.PNG)

[2021-03-11 19:21] U8NWXD opened #12173 "Lighthouse Accessibility Tests Failing"
## Characterizing the Failure

The lighthouse accessibility tests are failing because accessibility scores are too low:

[code]

## Failure Introduced Recently

The log above comes from build [2084767068](https://github.com/oppia/oppia/runs/2084767068?check_suite_focus=true), which ran on `develop` commit 8013e429dcbb7e40d72406c077812dff38f211cd at 04:17 on March 11, 2021 EST (UTC-0500). This is t

[2021-03-11 19:48] sagangwee commented on #11761
@urvashi-code1255 So sorry for the late response! The "Available Tasks" section is only displayed for allowlisted reviewers. See this [doc](https://docs.google.com/document/d/1VqNiJttq85YyR6cQkd8M9lGGkOP8OlUlkI37Xw6SovM/edit#heading=h.lzycnm4c0126) for details on adding reviewers via the Admin page.

[2021-03-11 20:49] ARKEOLOGIST opened #12174 "Search bar overlaps with the explorations in the community library"
**Describe the bug**
The search bar overlaps with the explorations on smaller resolutions in the community library on the search screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Community Library'
 2. Type anything within the search bar.
 3. See error.

**Observed behavior**
The search bar overlaps with the explorations on smaller resolutions.

**Expected behavior**
The search

[2021-03-11 22:19] BxBxB commented on #10798
@U8NWXD Can you assign me core/tests/protractor_utils/ExplorationEditorHistoryTab.js, please.

[2021-03-12 00:17] sjkadali commented on #10306
@vojtechjelinek  please assign me "core/templates/domain/question/pretest-question-backend-api.service.ts".

[2021-03-12 00:39] jimbyo commented on #12173
### List of Failing Pages
**Contributor Dashboard** [Fixed]
https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/reports/1615508957707-53923.report.html
**Creator-Dashboard [Fixed]**
https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/reports/1615508958515-86454.report.html
**Donate [Fixed]**
https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/repo

[2021-03-12 00:56] EricZLou commented on #12171
Hey @ARKEOLOGIST -- did you try reproducing it on a mobile device or in Chrome developer tools? You can change your device to something like Moto G4 to simulate it.

![image](https://user-images.githubusercontent.com/21316782/110875512-c1584600-82a3-11eb-9786-8777321c9fbd.png)

[2021-03-12 01:06] U8NWXD commented on #12173
Here's our debugging doc: https://docs.google.com/document/d/1shExWpRwE9m89n5BtcD-grG_KE9IYK2YZrl0SH7b5Jg/edit#

[2021-03-12 01:58] YBCS commented on #8423
hey is `Add eslint check to ensure space between type and : [e.g: const variableName:<space>TYPE]` taken ?
I would like to try solving this issue, please give me some hints as to how to start with this. I have looked at

[2021-03-12 02:07] YBCS commented on #8423
hey is `Add eslint check to ensure space between type and : [e.g: const variableName:<space>TYPE]` taken ?
I would like to try solving this issue, please give me some hints as to how to start with this.
So I have to look before if there's an eslint rule for that and add it (if there is). If not then I have create a file in `linters/rules` ? is that it

[2021-03-12 03:03] brianrodri commented on #12125
@DubeySandeep I don't see this issue locally or on e2e tests, do you have repro steps?

Also note that this issue seems to be occuring on circleci: https://app.circleci.com/pipelines/github/oppia/oppia/19580/workflows/433ce0d0-d297-4420-8e9b-9acec6324ac3/jobs/110475

Please note that this is blocking #12172

[2021-03-12 03:46] HarshKhilawala opened #12177 "Setting Language when searching on library page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create Exploration and set any language **except English**
 2. Go to the library and search for your exploration. (Did you find it? No. Why?)
 3. The default language for searching library page is set to English
 4.  Now also add your chosen language while creating exploration in search option and you will be able to see the exploration.
 5. No

[2021-03-12 03:46] HarshKhilawala commented on #12177
@kevintab95 PTAL!

[2021-03-12 04:26] ARKEOLOGIST commented on #12171
This is the screenshot from the library on the test server. I am running it on my Samsung J6, so it should be able to reproduce the problem. I cannot see the banner on my phone actually.

![Screenshot_20210312-095406_Chrome.jpg](https://user-images.githubusercontent.com/34165124/110891871-f357bf80-8318-11eb-9542-05355d722b99.jpg)

[2021-03-12 05:51] tanishq67 commented on #8423
@YBCS Hello, please visit our [wiki](https://github.com/oppia/oppia/wiki/Lint-Checks#how-to-run-the-linter) page once. I think it has everything you will require to write the check. However, in case you still have doubts feel free to clear them. Also I don't see any `@name` there, which implies it is not taken by anyone yet.

[2021-03-12 09:42] pankajdahiya008 commented on #9749
I'm also picking up `OppiaFooterDirective.ts` as it is imported in `library-footer.component.ts` so working on both files. Thanks.

[2021-03-12 11:46] pawan9116 commented on #8423
@Hudda @sajalasati I would like to work on `Restrict use of px with 0`. Can you please assign me to it?

[2021-03-12 11:50] sajalasati commented on #8423
@aasiffaizal Yes I think it's a better place!

[2021-03-12 11:50] aasiffaizal commented on #8423
@pawan9116 I think that is already implemented. Can you please check the file ` .stylelintrc`? The field `length-zero-no-unit` is set as `true`.

[2021-03-12 11:53] sajalasati commented on #8423
@YBCS I've assigned you! After you checkout the [guide](https://github.com/oppia/oppia/wiki/Lint-Checks#how-to-add-new-lint-checks) and the issue description for details, do let us know if you have further questions.

[2021-03-12 12:04] sajalasati commented on #8423
True @pawan9116! This rule was enabled by PR #12095. Thanks @aasiffaizal for finding it.

@pawan9116 Can you pick some other task in this issue to work on?

[2021-03-12 12:05] pawan9116 commented on #8423
@sajalasati ok

[2021-03-12 12:12] Hudda commented on #8423
@sajalasati @aasiffaizal we have two `.stylelintrc` files, one for HTML files and one for CSS files. https://github.com/oppia/oppia/pull/12095 fix the issue only for HTML files. We still need to enable this rule for CSS files.

@pawan9116 this issue is still available, so I am assigning it to you. Thanks!

[2021-03-12 12:29] Hudda commented on #8423
@aasiffaizal I recommend implementing it in `general_pupose_linter.py` because this check is going to be a regex check and it would be better to have all regex checks in one place. What do you think @sajalasati?

[2021-03-12 12:39] aasiffaizal commented on #8423
Oh Okay, didn't notice that.

[2021-03-12 12:45] aasiffaizal commented on #8423
@Hudda So the reason why I suggested `html_linter.py` is because I was planning to get all the HTML starttags and then throw an error if there is space around its attribute assignment. This could be added in the custom HTML Parser, So if we are doing this in `general_purpose_linter.py`,  the fetching of HTML tags by parsing the file will be redundant.

[2021-03-12 12:53] Hudda commented on #8423
Seems good, go ahead!

[2021-03-12 14:28] #10349 closed, assigned to nobody

[2021-03-12 14:56] krishita30j opened #12178 "Questions do not show up in the Practice session tab on clicking 'Retry test'."
**Describe the bug**
Questions do not show up in the Practice session tab after being redirected there on clicking 'Retry test'.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Complete a subtopic in the classroom.
 2. Click on 'Boost score'
 3. Click on 'Retry test'
 4. See the error.

**Observed behaviour**
Questions do not show up in the Practice session tab.

**Expected behaviour**
The

[2021-03-12 15:29] #11070 closed, assigned to AdityaDubey0

[2021-03-12 17:49] sagangwee commented on #12028
https://github.com/oppia/creator-documentation/pull/18

[2021-03-12 18:24] karthikshetty03 commented on #4057
@kevintab95 @nithusha21 @U8NWXD please assign `collection-playthrough.model.ts` to me

[2021-03-12 21:32] EricZLou commented on #12171
Ah are you able to click on the "All Categories" button to show the dropdown menu?

[2021-03-12 21:41] ARKEOLOGIST commented on #12171
I'm sorry @EricZLou, I saw the error now. A fix should be in momentarily.

[2021-03-12 23:26] sagangwee commented on #12030
From offline discussion with Sean and Anubhuti, the solution here is to add a "View Existing Translations" button on each translation card which will open a modal and show the completed translations for the exploration/lesson.

[2021-03-12 23:28] sagangwee opened #12180 "[Contributor Dashboard] Add inline translation tips to translation cards."
In addition to updating user translation guides, we want to make sure we remind translators of best practices for translations directly in the translation card below the content text, e.g. recommending certain tones when translating Hindi.

[2021-03-12 23:31] sagangwee opened #12181 "[Contributor Dashboard] Allow filtering of translation opportunities by topic."
Requested by Anubhuti.

[2021-03-12 23:33] sagangwee opened #12182 "[Contributor Dashboard] Sort translation cards in translation suggesters' modal in exploration/lesson order"
To maintain continuity, we should display translation cards in the relative order they appear in a lesson.

[2021-03-12 23:34] sagangwee commented on #12180
@seanlip You had some ideas on how to implement this?

[2021-03-12 23:36] sagangwee opened #12184 "[Contributor Dashboard] Surface accepted translation word count for contributors"
Translation word count can appear in a user's profile for example. This would enable a workflow where a translator can take a screenshot of their translation word count for reporting purposes.

Could also serve as a signal in a future proficiency scoring system.

[2021-03-12 23:38] seanlip commented on #12180
Yup. For now let's just have a constants dict that maps from language codes into a list of strings. Each list item is displayed as a bullet point. Ideally just plaintext, no html.

We then only display tips if the language code's key exists in the dict.

Sg?

[2021-03-13 00:19] sagangwee commented on #12180
Sounds good, thanks!

[2021-03-13 00:25] sagangwee opened #12185 "[Contributor Dashboard] Review bugs from question suggestion testing"
1. “Reject rationale” should be a paragraph rather than a one-line box (and should also display sensibly to the recipient)
2. Reviewer gets an error message on rejecting a suggestion (maybe test the accept flow as well)
3. Submitter does not see the feedback specified when clicking “View”.
4. Update reject terminology from "rejected" to "revisions requested" (rejected seems too harsh).

[2021-03-13 00:27] kevintab95 commented on #12185
Thanks for creating an issue @sagangwee. Is there more information on (2)? I am unable to reproduce it locally.

/cc @seanlip

[2021-03-13 00:35] sagangwee commented on #12185
@kevintab95 Sean had rejected a question with the following reason:

And saw the following error:
![Screenshot from 2021-03-08 18-11-02](https://user-images.githubusercontent.com/9004726/111012459-e48cff00-8350-11eb-81c1-64e9da810324.png)

[2021-03-13 06:54] ARKEOLOGIST commented on #11841
I'm willing to help with this @sagangwee.

[2021-03-13 07:21] ARKEOLOGIST commented on #10911
This seems to be resolved @U8NWXD
![resolve](https://user-images.githubusercontent.com/34165124/111022754-d09dd780-83fa-11eb-9944-4df9dccf2337.PNG)

[2021-03-13 08:53] felicityzhao99 commented on #10306
Hi @vojtechjelinek could you please assign me core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts? Thanks!

[2021-03-13 09:08] ARKEOLOGIST commented on #11685
@atpug22 If you don't mind, I'm taking this up.

[2021-03-13 09:40] SAEb-ai commented on #11685
@ARKEOLOGIST I think this is meant for devices other than desktop.See https://github.com/oppia/oppia/pull/11807#issuecomment-771122827

[2021-03-13 09:44] ARKEOLOGIST commented on #11685
@SAEb-ai I think it's a bit more difficult than that because we might need to limit the number of characters we can use for the description and the name.

[2021-03-13 09:55] SAEb-ai commented on #11685
@ARKEOLOGIST Yep that can be the scenario but I think consulting with @sagangwee for this would be good.
Thanks.

[2021-03-13 10:27] vojtechjelinek commented on #5813
@lkbhitesh07 Hi, I do not know what the should be the solution rn, we changed a lot of code from 2018. We are also changing how we authenticate the users rn so I would leave this issue to be solved after we solved that.

[2021-03-13 11:01] felicityzhao99 commented on #10306
@kevintab95, thanks for your assigning. Also, I think I can handle core/templates/pages/exploration-editor-page/translation-tab/services/voiceover-recording.service.ts too, could you assign it, please?

[2021-03-13 14:20] vojtechjelinek commented on #10306
@felicityzhao99 Done.

[2021-03-13 17:01] pawan9116 commented on #8423
@Hudda @sajalasati I would like to work on  `Add a lint check to ensure there is exactly 1 blank line between each test case` . Can you please assign me to it?

[2021-03-13 17:06] chris7716 opened #12190 "[Setup Issue] Can not start the dev server in setup process while using Docker on Windows"
**Platform**: Docker on Windows
@justcrossheaven and @manishaag7 both have been facing the following issue while using `python -m scripts.start` while setting up the project.

![image](https://user-images.githubusercontent.com/41409951/111037678-3a45d200-844b-11eb-9d05-73c15d86c9f6.png)

Tried solutions(not worked)

- deleting `oppia_tools` directory
- pip install future and six

Diagnosis checks

[2021-03-13 17:43] sajalasati commented on #8423
@pawan9116 I've assigned you to it. Let us know if you have any questions!

[2021-03-13 18:28] sajalasati commented on #11776
@Siddhant-K-code Sorry for delayed response. Actually no one was assigned to this issue earlier. If you are still interested to work on it, can you pick one task (checkbox) and I will assign it to you. (I have also updated the issue description, so kindly go through that once more to understand the task). Thanks!

[2021-03-13 18:31] sajalasati commented on #11776
Assigned myself to keep track of the progress made on this issue.

[2021-03-13 19:45] ARKEOLOGIST commented on #9716
I can't reproduce this on my end anymore @vojtechjelinek. Can you have a look?

[2021-03-13 21:50] seanlip commented on #12108
Thanks @SAEb-ai and @DubeySandeep.

To be honest, I don't know what is going on here. I did try locally and it seems to work fine, so I think it might be an environment issue.

In general I'd be happy to work with you on debugging this, but I'm pretty tied up at the moment with helping @brianrodri handling a complicated migration (and a couple of other things). The best suggestions I have at the m

[2021-03-14 03:06] felicityzhao99 opened #12195 "The category droplist is shown behind the lessons in mobile view"
**Describe the bug**
It is hard for users to check and click a category at the category droplist, which is shown behind all lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in to Oppia
 2. Click on Learner Dashboard
 3. Click on "Browse our lessons"
 4. Click on All Categories droplist
 5. See error

**Expected behavior**
The droplist should be in front of all lessons.

**Screen

[2021-03-14 07:11] lkbhitesh07 commented on #5813
@vojtechjelinek, Thanks for the update.

[2021-03-14 09:27] ARKEOLOGIST commented on #12195
Duplicate of #12171.

[2021-03-14 09:27] #12195 closed, assigned to nobody

[2021-03-14 09:30] ARKEOLOGIST commented on #8679
Some help is definitely welcome here.

[2021-03-14 09:46] tanishq67 commented on #8423
While solving the subproblem `All docstrings must end with a full stop.`,
I searched the file `pylint_extension.py` I found out a Lint Test dealing with the exact issue, however the unit test for that was not present, I read the code and here's what I figured out -

A function named `check_docstring_style` is taking a FunctionDef node and then checking if that function is a constructor, if yes the

[2021-03-14 09:57] ARKEOLOGIST commented on #12171
@kevintab95 @EricZLou This is what I have achieved. Is this supposed to be the original behavior?
![responsive](https://user-images.githubusercontent.com/34165124/111064359-af5fe880-84d9-11eb-81e8-ac5bb623daab.PNG)

[2021-03-14 14:01] Radesh-kumar commented on #11713
Fixed through https://github.com/oppia/oppia/pull/11446

[2021-03-14 14:01] #11713 closed, assigned to DubeySandeep

[2021-03-14 14:25] Radesh-kumar opened #12206 "Clicking on clock icon should open a modal for removing saved exploration in "play later" List."
**Describe the bug**
According to the code:
![Screenshot from 2021-03-14 19-27-03](https://user-images.githubusercontent.com/54100702/111072349-3aec7000-8500-11eb-9ee9-71e515ded5fb.png)
Clicking on the clock icon should open a modal for removing saved exploration in "play later" List.

**To Reproduce**
Steps to reproduce the behavior:
1.Start the server.
2.Navigate to the admin page, activities ta

[2021-03-14 14:52] andrew-the-drawer opened #12208 "Docker setup for local development."
#### Problem

Since `python 2 (and pip 2)` is no longer supported in latest version of Ubuntu, so install package dependencies for this repository on local machine is arduous tasks.

#### Solution

I propose to include a setup using docker (including `.Dockerfile` and `docker-compose.yaml`) to automatically install the necessary tools and build a local image. The key argument is that it is easier

[2021-03-14 15:10] ARKEOLOGIST commented on #12171
Sent in a PR, should fix this!

[2021-03-14 15:14] Radesh-kumar commented on #9749
I'm taking up `learner-dashboard-page.component`

[2021-03-14 16:21] ARKEOLOGIST commented on #11868
One minor update here - running Elasticsearch on one terminal can definitely help, but a few functionalities (especially the ones on the admin page) will be bugged out. What solved the problem for me was simply uninstalling the Elasticsearch installed during the build process and then installing Elasticsearch manually. I had few problems with the build process after that.

[2021-03-14 17:59] gp201 commented on #12190
@justcrossheaven and @manishaag7 I assume you get a new terminal prompt `root@...` in [step-4](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29#start-bash-and-run-the-start-script).

Could you guys try to run bash scripts/install_prerequisites.sh inside of the Docker image (bash)

[2021-03-14 19:16] manishaag7 commented on #12190
root@ prompt is coming in step-4.
I have run the above command it's saying requirement already up-to-date

[2021-03-14 19:43] vojtechjelinek commented on #9716
Looks fixed on my end. Closing.

[2021-03-14 19:43] #9716 closed, assigned to nobody

[2021-03-14 20:11] SAEb-ai commented on #12108
@seanlip Yep that's sounds good. I will try to debug it from the online resources and provide an update regarding that here. Thanks!

[2021-03-14 22:20] iamprayush opened #12210 "Solutions for some interactions don't get populated automatically."
**Describe the bug**
While editing the solution for the following interactions, the interaction should get populated with the saved solution, but it doesn't.
PR https://github.com/oppia/oppia/pull/12057 adds functionality to populate the interactions with the solution while editing them. This functionality should be extended for the following interactions as well:
 - [ ] Graph Theory
 - [ ] Code e

[2021-03-15 01:57] U8NWXD commented on #10911
Closing since this has been resolved per @ARKEOLOGIST

[2021-03-15 01:57] #10911 closed, assigned to DubeySandeep

[2021-03-15 02:01] U8NWXD commented on #10798
Done @BxBxB! Let me know if you have any questions

[2021-03-15 02:40] justcrossheaven commented on #12190
@gp201  Same as @manishaag7

[2021-03-15 03:09] nlok5923 commented on #10306
@vojtechjelinek i want to work on `question-backend-api.service.ts`

[2021-03-15 06:49] #12185 closed, assigned to kevintab95

[2021-03-15 10:38] MohdImran001 commented on #8015
@Showtim3 and @kevintab95, I would like to work on `core/templates/domain/skill/skill-backend-api.service.ts`. Please assign it to me.

[2021-03-15 15:40] manishaag7 commented on #12190
As I am unable tp setup, I am unable to make any contributions, can you suggest ,what to do ? @gp201

[2021-03-15 18:12] aasiffaizal commented on #11776
@sajalasati If the first Opia checkbox isn't claimed by anyone, I would like to work on it.

[2021-03-15 18:16] sajalasati commented on #8423
@tanishq67 Thanks for asking about this first, even I am not sure why we check docstrings of Class definitions like this. Before you start working on it - can you try to reproduce this locally and check that no error is raised. (I feel the current way checks have been implemented should have caught [this](https://github.com/oppia/oppia/pull/11910#discussion_r574517696) since the class still has on

[2021-03-15 19:04] gp201 commented on #12190
@manishaag7 and @justcrossheaven can you provide the list of files present in this directory `oppia_tools/pip-tools-5.4.0/pip/_vendor/urllib3/util/`

[2021-03-15 19:11] manishaag7 commented on #12190
- __init__
- connection
- proxy
- queue
- request
- response
- retry
- ssl_
- ssltransport
- timeout
- url
- wait
- Each have two files - python file and compiled one

[2021-03-15 19:33] gp201 commented on #12190
@manishaag7 and @justcrossheaven can you follow [this wiki](https://github.com/oppia/oppia/wiki/Guide-on-How-to-Ask-Questions#setup-related-questions). The "Setup related questions" section.

[2021-03-15 19:46] manishaag7 commented on #12190
I have already tried many times to install/setup using docker, so exactly what to follow?@gp201

[2021-03-15 19:47] gp201 commented on #12190
@manishaag7 Can you also follow the "How to ask a setup question?" section also?

[2021-03-15 19:55] hardikkat24 commented on #11776
@aasiffaizal I have assigned you.

[2021-03-15 22:00] EricZLou opened #12219 "Github tests are stuck at "Expected - Waiting for status to be reported""
**Describe the bug**
See these sample recent PRs: [12214](https://github.com/oppia/oppia/pull/12214), [12217](https://github.com/oppia/oppia/pull/12217), [12218](https://github.com/oppia/oppia/pull/12218)

This can be seen in PRs as early as [12204](https://github.com/oppia/oppia/pull/12204), and potentially earlier.

Do I just need to be a little more patient? Haha

**To Reproduce**
See recent PR

[2021-03-15 22:13] EricZLou commented on #12208
Hey @lantrungseo, thanks for raising this issue! We have a Dockerfile called `ubuntu_dockerfile` found [here](https://github.com/oppia/oppia/blob/develop/ubuntu_dockerfile) -- what do you think? Do you think there may be a cleaner way of organizing this?

We haven't made changes to the Dockerfile in a while, and it actually is causing some issues for Windows contributors right now. If you want, yo

[2021-03-16 02:04] kevintab95 opened #12221 "Contributor dashboard shows opportunities for content that is not part of a classroom topic"
**Describe the bug**
Contributor dashboard shows opportunities for content that is not part of a classroom topic.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic and assign a skill to it.
 2. Provide necessary permissions to submit a question.
 3. Enable "Whether the contributor can suggest questions for skill opportunities." config.
 4. Go to /contributor-dashboard.
 5. Go t

[2021-03-16 03:01] luccasparoni commented on #8423
Hi,
I would like to work on `Add lint check to ensure require(…) statements are alphabetized ` if its not taken. Can you please assign me to it? Thanks!

@Hudda @sajalasati

[2021-03-16 03:59] andrew-the-drawer commented on #12208
@EricZLou sure, I gonna take a look and made an improvement of the the `Dockerfile`.

[2021-03-16 05:37] ARKEOLOGIST opened #12223 "Errors in Skill Editor aren't displayed"
**Describe the bug**
Generally, in all editors when you hover over the warnings you see the errors (as a dropdown). However, this doesn't work properly with the skill editor. The number of errors is correctly displayed in the navbar, but the dropdown does not come up when the mouse hovers over it.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as 'admin'
 2. Give the current user adm

[2021-03-16 06:18] seanlip opened #12224 "Cannot save any questions in the question editor."
**Describe the bug**
I can't save any changes when editing questions in the question editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the question editor page.
 2. Select an existing question.
 3. Edit it, and try to save.

**Observed behavior**
The question cannot be saved. The save button is disabled.

**Expected behavior**
The save button should be clickable.

**Video**

htt

[2021-03-16 06:34] pankajdahiya008 commented on #11868
@ARKEOLOGIST .How to install manually and also after that do we still need two terminals?

[2021-03-16 07:08] tanishq67 commented on #8423
@sajalasati many thanks for the reply. I did write a unit test and it is exactly working how I mentioned above, i.e.
When the class have `__init__ (constructor)`, it works absolutely fine however, doesn't work without the constructor.
The class in [this](https://github.com/oppia/oppia/pull/11910#discussion_r574517696) didnt have a constructor and hence, it was failing to detect it. @Hudda @sajalas

[2021-03-16 08:02] ARKEOLOGIST commented on #11868
Nope, if you install Elasticsearch from scratch, you won't need two terminals. You can follow any online guide for doing this - I liked the [DigitalOcean](https://www.google.com/amp/s/www.digitalocean.com/community/tutorials/how-to-install-and-configure-elasticsearch-on-ubuntu-18-04.amp) one.

[2021-03-16 09:24] MohdImran001 commented on #12190
@gp201. I am facing the same problem on Ubuntu 20 on WSL in Windows 10.  I am getting the following error when running `python -m scripts.start`.
`AttributeError: 'module' object has no attribute 'Queue'`

![queue_error](https://user-images.githubusercontent.com/42844688/111285634-59b94680-8667-11eb-8a19-5cabc81926e0.JPG)

 It seems that the problem is in the file `/oppia_tools/pip-tools-5.4.0/pip

[2021-03-16 09:26] gp201 commented on #12190
@MohdImran001 can you also follow this and report it here?

[2021-03-16 09:46] lkbhitesh07 commented on #12224
Hello @seanlip, I've opened one issue similar to this #12163, If you would like me to shut it down then please do let me know.
Thanks

[2021-03-16 09:57] lkbhitesh07 opened #12227 "Picture looks streached in Electromagnetism chapter"
**Describe the bug**
When we will visit the site and browse through some chapters, I found out that the picture there looks stretched which doesn't give a good look.
![Screenshot from 2021-03-16 15-12-56](https://user-images.githubusercontent.com/44300735/111289501-3a241d00-866b-11eb-8f89-f996ce8fd7fc.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the live page of oppia
 2. Go t

[2021-03-16 11:23] MohdImran001 commented on #12190
**Checklist**
- [x]  I have followed through “Before you ask a question” section

**System Information**
- OS: Windows 10
- Environment: Ubuntu 20.04 on WSL

**About the issue**
- I am getting the following error when I ran `python -m scripts.start`

**Error log**

[code]

It seems that the problem is in the file `/oppia_tools/pip-tools-5.4.0/pip/_vendor/urllib3/util/Queue.py`
[code]

[2021-03-16 12:23] gp201 commented on #12190
@manishaag7 @justcrossheaven and @MohdImran001 can you do the following change to the code:

Can you try what's given in the thread below and report the results here?
https://github.com/python-zk/kazoo/issues/239

[2021-03-16 12:58] MohdImran001 commented on #12190
[code]

The output is the same as mentioned.

[2021-03-16 13:41] gp201 commented on #12190
@MohdImran001 Can you try this?
[code]

I'm not sure if this will fix it. But give it a try

[2021-03-16 13:59] EricZLou commented on #12190
Not sure if this would make a difference, but note that the Docker for Windows instructions were never tested inside WSL or WSL2. It is meant to be done directly in Windows Command Prompt.

@MohdImran001 @manishaag7 @justcrossheaven are you all using Docker inside WSL/WSL2? If you already have WSL2 installed, you're very close to completing the first option for Windows setup instructions ([Install

[2021-03-16 14:00] MohdImran001 commented on #12190
I tried this but it showed `NameError: name 'Queue' is not defined`.

**Error Logs**
[code]

Then I tried renaming `_unused_module_Queue` to `Queue` at this line `import Queue as _unused_module_Queue  # noqa: F401`

Now the `Name Error` has disappeared but it shows this error - `TypeError: Error when calling the metaclass bases
    module.__init__() takes at most 2 arguments (3 given)`

**Error Lo

[2021-03-16 14:02] EricZLou commented on #12190
Also if we think there may be an error in the urllib3 package, maybe it'd be easier to post an issue on their Github? They're active on Github and may have some insights. @gp201

[2021-03-16 14:25] Mayank-gaur commented on #8423
Hi @sajalasati , I would like to work on the subtask 'Making sure constant variable names are in all-caps' in section end to end tests. Can you please assign me to it?

[2021-03-16 14:30] gp201 commented on #12190
@EricZLou I doubt it is an issue for Docker alone since it is occurring in WSL too.
@MohdImran001 had installed Oppia in windows WSL and is facing it. [see the comment above](https://github.com/oppia/oppia/issues/12190#issuecomment-800175847)

[2021-03-16 14:41] gp201 commented on #12190
@MohdImran001 I assume you did [this](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29#installing-oppia-in-windows-and-wsl2) installation.

If it is, is it a fresh installation or did do something else prior to the installation of Oppia.
I just want to check if there is a possibility of something else interfering with the Oppia installation.

[2021-03-16 15:18] EricZLou commented on #12190
@MohdImran001 I just noticed that you are using Ubuntu 20.04. I tested this a few months ago and there were a lot of setup issues. Using Ubuntu 18.04 seems to be working as expected. I think this should be mentioned somewhere in the Windows setup wiki. Would it be possible to use 18.04 instead?

[2021-03-16 16:32] MohdImran001 commented on #12190
@EricZLou and @gp201. I am trying to do a fresh install of WSL2 and will install Ubuntu 18.04 on it. I hope this will work, I will update you about the result.

[2021-03-16 16:41] chris7716 opened #12232 "[dev workflow] dev server and tests are not getting started as expected"
**System Information**

- OS: Ubuntu 18.04

**About the issue**

- Sometimes development server doesn't start: When I try to run python -m scripts.start the development server just doesn't start. Initially, when I cloned the repo and started it, it was working absolutely fine but now after making some contributions my local server doesn't come up. I have also tried by running through the develop b

[2021-03-16 16:47] sajalasati commented on #8423
Hi @tanishq67!

Sorry about that, I got a bit busy. But thanks for reminding, I will do it ASAP.

The fix it seems good to me and I think you can proceed with working on it. I just want @Hudda to explain the reason behind the current approach also, and understand what cases the code intended to cover with that (so that you can also see if we want to get rid of some existing code which couldn't cov

[2021-03-16 16:50] sajalasati commented on #8423
Done!

[2021-03-16 16:52] sajalasati commented on #8423
Hi @luccasparoni! Sure, I've assigned you to it. ou can read through the resources provided once and let us know here if you have any questions!

[2021-03-16 16:52] tanishq67 commented on #8423
Thanks for the affirmation. PR will be ready soon.

[2021-03-16 16:56] tanishq67 commented on #8423
@sajalasati I was looking into the subissue ` Use 3 character hexadecimal notation for color where possible.`
Do you think this [rule](https://stylelint.io/user-guide/rules/color-hex-length) will help??
If yes then I can update the `.stylelintrc` file with that rule.

[2021-03-16 17:06] sajalasati commented on #8423
@Hudda @DubeySandeep Could you please help @tanishq67 with this?

[2021-03-16 17:15] U8NWXD commented on #11761
@urvashi-code1255 did sagangwee's comment answer your question, or do you have more questions about this?

[2021-03-16 17:39] Radesh-kumar commented on #9749
I'm picking up  `collection-summary-tile.directive` and `exploration-summary-tile.directive`
If anyone working on these files please ping in here.

[2021-03-16 18:01] KartikKapil commented on #11776
@sajalasati Could i work on the second check box (i.e oppia.core)

[2021-03-16 18:22] sajalasati commented on #11776
@KartikKapil I've assigned you :)

[2021-03-16 18:55] MohdImran001 commented on #12190
@EricZLou and @gp201. Still I am having the same error. I upgraded to WSL 2 and then installed Ubuntu 18.04 on it. Followed the exact steps as mentioned in the guide.

[2021-03-16 19:13] kevintab95 commented on #12224
@seanlip and I found that selecting a rubric in the editor seems to enable the save button.

Suggested fixes:
1. Show warnings if "save" is not possible.
2. User should not have to reselect the rubric to trigger the save button.

[2021-03-16 19:13] kevintab95 commented on #12224
@Rijuta-s will you be able to look into this?

[2021-03-16 19:52] Gupta-Anubhav12 commented on #12227
I can work on it .

[2021-03-16 21:06] sagangwee commented on #12221
This may be WAI: If a topic isn't part of a classroom yet, the creator of the topic might still want practice questions before they release the topic as part of a classroom.

[2021-03-16 21:20] seanlip commented on #12221
Ah -- as lesson lead, just confirming that it's not WAI. We want to focus attention on lessons that are part of a classroom, and I confirm that all curated lessons will be part of an existing classroom! (Otherwise they wouldn't be discoverable anyway.)

[2021-03-16 21:27] sagangwee commented on #12221
Gotcha, thanks for clarifying!

[2021-03-17 00:40] sagangwee opened #12238 "[Contributor Dashboard] Make question sticky in question editor modal"
This will help minimize back-and-forth scrolling to reference the skill when submitting practice questions.

[2021-03-17 00:41] sagangwee commented on #12238
@seanlip Did I get this right? Also, can you post a screenshot of what the modal looks like on your end? For me, the modal expands to pretty much the full height of the window.

[2021-03-17 01:20] Siddhant-K-code commented on #11776
Yes, I would like to work on this, I can work on whole files ( except 1st and 2nd {already Assigned } ). Please Assign me, @sajalasati

[2021-03-17 02:20] EricZLou commented on #12190
Hm, I'm not sure what to do here. I think it's worth getting [urllib3 on Github](https://github.com/urllib3/urllib3/issues) involved. @MohdImran001 would you be able to put up an issue there? If not, let me know and I can help you out.

[2021-03-17 02:50] #11438 closed, assigned to chris7716

[2021-03-17 03:05] U8NWXD commented on #10798
Unassigned @lkbhitesh07 per their request

[2021-03-17 03:15] seanlip commented on #12238
Ah no, that's not quite right. I meant making the question sticky so that it can be easily referred to when reviewing the answer groups.

Here's a screenshot:

![Screenshot from 2021-03-15 22-51-00](https://user-images.githubusercontent.com/10575562/111409435-2b059500-8694-11eb-9571-03dcc747b91b.png)

It would be nice if, in the short term, the modal was taller, so that there is only as much white

[2021-03-17 04:12] pankajdahiya008 commented on #11868
Hi @ARKEOLOGIST . I tried deleting folder elasticsearch-7.10.1 and then reinstalled it by wget and extracting tar.gz file. Still when i run command ../elasticsearch-7.10.1/bin/elasticsearch it fails/works randomly(failed to start on 8181 ubuntu wsl). What approach did you follow to make it work correctly? Thanks.

[2021-03-17 04:18] ARKEOLOGIST commented on #11868
Try using scripts.clean to clean the dependencies, then uninstall and install Elasticsearch again. Also you don't need to run Elasticsearch separately once the installation is done - just run scripts.start directly.

[2021-03-17 05:06] nandkk05 commented on #12232
#### System Info
* OS: macOS Big Sur (Version 11.2.1)

#### About the issue
* Development server not started yet! When I run `python -m scripts.start` it returns with **OSError: [Errno 2] No such file or directory: '/Users/nand/opensource/oppia_tools/google-cloud-sdk-304.0.0/google-cloud-sdk/platform/google_appengine/google/appengine'**
* There is no such google_appengine directory present.
* I'm

[2021-03-17 05:07] nisargsc commented on #10306
Hey @arpit1912, I would like to work on `core/templates/domain/topic/topic-creation-backend-api.service.spec.ts`
can you please assign it to me

[2021-03-17 05:24] MohdImran001 commented on #12190
Sure @EricZLou. Can you guide me on what should I write in the issue?

[2021-03-17 05:43] sajalasati commented on #11776
@Siddhant-K-code There are approx 280+ files remaining, and if you cover it in a single PR it will become very large and will take long time to review. I would advice taking individual checkboxes for now, or I am even fine if you want to pick **one** entire folder at a time like `oppia.core.controllers` (which has 5 parts/checkboxes) or `oppia.core.domain` (10 parts). Let me know, and I will assig

[2021-03-17 05:45] arpit1912 commented on #10306
Sure please go ahead! @Nisarg-Chaudhari

[2021-03-17 05:53] pankajdahiya008 commented on #11868
@ARKEOLOGIST I am unable to uninstall elasticsearch. Also where to install elasticsearch in oppia_tools and which version?
![image](https://user-images.githubusercontent.com/52493334/111422785-406ed380-8715-11eb-8bb4-b16313ee80a6.png)

[2021-03-17 06:15] ARKEOLOGIST commented on #11868
I guess the error occurs because the Elasticsearch service was running when you executed the command. We use Elasticsearch 7.10.1 in our projects.

[2021-03-17 06:16] ARKEOLOGIST commented on #11868
A better installation reference might be [this](https://www.how2shout.com/how-to/install-uninstall-elasticsearch-ubuntu-19-04-18-04-16-04.html).

[2021-03-17 06:46] gp201 commented on #12190
@MohdImran001 You would want to include the following in the issue:

1. Your system info (OS, installation method (like WSL2 on windows))
2. The error you're facing
3. Solutions you have tried and the results for that
4. Maybe the script for installing the library?

This is the version of urllib3 being installed. (I'm not which script does the installation though).
https://github.com/oppia/oppia/b

[2021-03-17 10:10] MohdImran001 commented on #12190
@EricZLou and @gp201. I had to reset my Ubuntu 18.04 on WSL. Cleared all the data. Then again tried installing Oppia and finally this time it worked. 🎉 . I would like to know the port number at which the Oppia is running. I am unable to find it. 😅

[2021-03-17 10:25] gp201 commented on #12190
@MohdImran001 NEAT!!

You should see something like this in the terminal
![image](https://user-images.githubusercontent.com/30050862/111452994-1929fd80-8739-11eb-90b7-f1e2072e0fb2.png)

[code]

[2021-03-17 10:29] MohdImran001 commented on #12190
@gp201 Nope I'm not getting the INFORMATION part after warnings.

[2021-03-17 10:30] gp201 commented on #12190
@MohdImran001 What command do you use to start the server?
Try port 8181

[2021-03-17 11:06] gitxxx555 opened #12241 "ggg"

[2021-03-17 11:11] MohdImran001 commented on #12190
It came after I ran `python -m scripts.start`

[2021-03-17 12:42] Siddhant-K-code commented on #11776
Ok, I will start with 3rd. !

[2021-03-17 12:46] MohdImran001 commented on #12190
@gp201. I am getting the following error when I ran `python -m scripts.start`

[code]

[2021-03-17 12:54] nlok5923 commented on #10474
@vojtechjelinek sir i would like to work on  `exploration-diff.service.ts`

[2021-03-17 14:06] Mayank-gaur commented on #8423
HI @sajalasati , I was looking at the doc https://github.com/oppia/oppia/wiki/End-to-End-Tests  to start writing my test, but here no information is available for lint purposes. Can you please guide me how should i get started with this?

[2021-03-17 14:15] Mayank-gaur commented on #8423
Hi @sajalasati , I was looking at the doc https://github.com/oppia/oppia/wiki/End-to-End-Tests to start writing my end to end test, but here there is no mention for lint checks. Can you please guide me where to write the test and provide me with other resources about them, if any?

[2021-03-17 14:19] sajalasati commented on #11776
@Siddhant-K-code Assigned you to 3rd checkbox - `oppia.core.controllers`. Do Let us know if you have any questions!

[2021-03-17 15:46] EricZLou commented on #12190
For development on Windows machines, we actually need to use `python -m scripts.start --no_browser`. Also, there's an ongoing issue with failing to start localhost, and you will probably need to make the change noted [here](https://github.com/oppia/oppia/issues/11868#issuecomment-782404690) before running the start command.

Let us know if that works!

[2021-03-17 16:03] sagangwee commented on #12238
@seanlip Ah, I see—I didn't realize this was in the review modal (the submission modal seems to properly expand). That clarifies things. Thanks!

[2021-03-17 16:04] EricZLou commented on #12219
No problems -- jobs were just backlogged.

[2021-03-17 16:07] sagangwee opened #12243 "[Contributor Dashboard] Send email to contributor when a suggestion is accepted or rejected."
One can find all email templates in email_manager.py.

[2021-03-17 16:21] sagangwee commented on #12243
Duplicate of https://github.com/oppia/oppia/issues/8552

[2021-03-17 16:21] #12243 closed, assigned to nobody

[2021-03-17 16:23] sagangwee commented on #12028
Updated doc link: https://oppia-lesson-creator-documentation.readthedocs.io/en/latest/

[2021-03-17 16:31] #12241 closed, assigned to nobody

[2021-03-17 16:42] sagangwee commented on #12180
@seanlip Is there a running list somewhere of translation tips we want to initially seed this feature with?

[2021-03-17 17:12] seanlip commented on #12180
Hm -- could you please get these from Anu? I can help with wordsmithing but I think she would be the main source of information on this one.

Thanks!

[2021-03-17 17:51] KartikKapil commented on #11776
@sajalasati i have a query, while making the doc string if a fuction returns a list which contains a model should i write it returns a list or should i also write what the returning model does ?

[2021-03-17 18:03] apurvbotle commented on #6219
Hi @aks681! Thought of resolving this issue since it was pending for some time.

[2021-03-17 18:10] sajalasati commented on #11776
@KartikKapil You can look at other examples in the file to get an idea - generally we write it in the docstring as `Returns: list(<data_type>)` ([link](https://github.com/oppia/oppia/blob/develop/core/jobs.py#L244-L245)) where data type could also be the name of a model.

[2021-03-17 18:28] #12070 closed, assigned to Rijuta-s

[2021-03-17 18:40] KartikKapil commented on #11776
@sajalasati Thank you

[2021-03-17 19:27] SAEb-ai opened #12247 "[Contributor dashboard]:Errors coming in console when using copy option for translating text"
**Describe the bug**
Errors coming in console when using copy option for translating text

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Click on 'Translate Text'
 3. Scroll down to 'Chapter 2 Jill learns digit values'
 4. Click on Translate.
 5. Click on the off copy option.
 6. Click on the text to translate and then s

[2021-03-17 19:53] kevintab95 commented on #8053
Hi @gp201 just wanted to check, will your PR related to tooltips fix this?

[2021-03-17 19:58] AdityaDubey0 commented on #11496
I am working on ` Do not use browser.sleep() calls` part of the issue.

[2021-03-17 23:11] seanlip commented on #11698
Actually, this issue isn't an actual problem (yet) -- the observation that led to it might have been due to an error on my part in diagnosing the problem. (Some explorations were missing on my creator dashboard, but this might have been because the creator dashboard is populated based on subscriptions and I had made some edits to explorations before these were introduced.)

Closing -- thanks @aks6

[2021-03-17 23:11] #11698 closed, assigned to aks681

[2021-03-18 03:01] nlok5923 commented on #10816
@Hudda  i would like to work on `_check_ts_ignore`

[2021-03-18 04:43] HarshKhilawala opened #12252 "Mis-Aligned Search-bar in Mobile Devices for Classroom"
**Describe the bug**
Search Bar Mis aligned on mobile devices

**Steps to reproduce:**
1) Go to https://oppiatestserver.appspot.com/learn/math (Part of  Release Testing)
2) Scroll down and test it

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61461050/111574453-7f169380-87d2-11eb-914e-6af6501505f6.png)

**Smartphone

[2021-03-18 04:50] HarshKhilawala opened #12253 "Categories dropdown breaking out."
**Describe the bug**
"Comming Soon" and Language dropdown overlapping above selecting Categories via dropdown.

**Screenshots**
![image](https://user-images.githubusercontent.com/61461050/111574915-5e9b0900-87d3-11eb-97a6-df8877a00c29.png)

**Smartphone (please complete the following information; delete this section if the issue does not arise on smartphones):**
 - OS: Android 10
 - Browser : Chro

[2021-03-18 04:56] chris7716 commented on #12247
@SAEb-ai a PR is opened related to copying paragrphs intranslation editor. PTAL of this. Thanks.
https://github.com/oppia/oppia/pull/11838

[2021-03-18 05:10] SAEb-ai commented on #12247
@chris7716 So sorry I didn't see that.Actually for this release I was assigned to check the translations page and perhaps that was the reason I had to open this issue quickly.
Thanks for pointing me!

@chris7716 I also want to know one more thing like for what the copy tool is really meant for?

[2021-03-18 05:12] ARKEOLOGIST commented on #12252
@kevintab95 Mind if I look into this?

[2021-03-18 05:12] ARKEOLOGIST commented on #12253
I'll take a look at this.

[2021-03-18 05:14] ARKEOLOGIST commented on #12252
@HarshKhilawala Do you mind filling in the complete report, especially the steps on how to reproduce the issue?

[2021-03-18 05:19] chris7716 commented on #12247
@SAEb-ai it is used to copy the elements such as images, math equations etc to the translation editor.

[2021-03-18 05:21] ARKEOLOGIST opened #12254 "Search bar misaligned on certain resolutions"
**Describe the bug**
On certain viewport width (from 1126px to 1252px), the Search bar on the Library page is misaligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library'
 2. Resize the screen
 4. See error

**Observed behavior**
The language dropdown of the search bar is seen to be aligned below the navbar.

**Expected behavior**
The language dropdown of the search bar shoul

[2021-03-18 05:24] oswalgopal commented on #12254
@ARKEOLOGIST  can I work on this issue

[2021-03-18 05:26] ARKEOLOGIST commented on #12254
Sure. Have you signed the CLA and set up the project locally?

[2021-03-18 05:38] oswalgopal commented on #12254
Yes

[2021-03-18 05:42] HarshKhilawala commented on #12252
@ARKEOLOGIST I have updated the issue with steps to reproduce.

[2021-03-18 05:57] HarshKhilawala opened #12255 "Math Classroom Card Displayed over Dropdown options in Library for Mobile Devices"
**Describe the bug**
Maths Classroom card is displayed over the dropdown options for the Search bar.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/community-library (Part of Release Testing)
 2. Try to select an option from the dropdown
 3. See the error.

**Screenshots**
![image](https://user-images.githubusercontent.com/61461050/111579850-bee278

[2021-03-18 06:15] sajalasati commented on #8423
@Mayank-gaur You ended up at the wrong wiki. You should visit [Linter wiki page](https://github.com/oppia/oppia/wiki/Lint-Checks#how-to-add-new-lint-checks) to check proper resources. (You are not writing e2e tests here, but lint checks to ensure that they follow certain coding guidelines).

[We are considering of shifting e2e tests lint checks from this issue to #11496 which is dedicated to these

[2021-03-18 06:22] Hudda commented on #8423
Yes, you can use this rule. Thanks!

[2021-03-18 06:34] Hudda commented on #9813
Closing as this is the duplicate of https://github.com/oppia/oppia/issues/10616

[2021-03-18 06:34] #9813 closed, assigned to nobody

[2021-03-18 07:45] tanishq67 commented on #8423
@Hudda Thanks for confirming, can you please assign me that now. Thank you

[2021-03-18 07:49] #12174 closed, assigned to ARKEOLOGIST

[2021-03-18 08:06] ARKEOLOGIST commented on #12255
#12207 should fix this.

[2021-03-18 08:07] HarshKhilawala commented on #4057
@U8NWXD @nithusha21  Assign me `context.service.ts`

[2021-03-18 08:41] sajalasati commented on #8423
@tanishq67 Currently you have 2 other tasks assigned to yourself, so can you get one of those PRs merged first, and after that we will assign you to this.

[2021-03-18 08:50] tanishq67 commented on #8423
Yeah sure I'll try to finish them asap **:)**

[2021-03-18 09:28] MohdImran001 commented on #12190
@EricZLou. I tried this command  `python -m scripts.start --no_browser` but it didn't work. I am getting the error `Unable to start server on port 9200`

[2021-03-18 10:00] gp201 commented on #12190
@MohdImran001 as @EricZLou had mentioned you might have to make the changes noted in the link given below before running the start command.
https://github.com/oppia/oppia/issues/11868#issuecomment-779907677
or
https://github.com/oppia/oppia/issues/11868#issuecomment-782404690

[2021-03-18 11:28] ashutoshc8101 commented on #9749
I am working on `create-activity-button.directive` and its dependency `exploration-creation.service.ts`.

[2021-03-18 11:37] mridul-netizen commented on #9749
@ashutoshc8101 I'm currently working on it under top-navigation-bar directive can you pick some other file?

[2021-03-18 11:38] SAEb-ai opened #12258 "[Contributor Dashboard] Errors coming in console in the process of suggesting a question."
**Describe the bug**
 Errors came in console in the process of suggesting a question.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ' https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Click on 'Submit Question'
 3. Pick any topic to suggest a question
 4. After adding a question , add an interaction.
 5. Select the Interaction 'Image Region' and click on 'Upload a pictu

[2021-03-18 11:42] KartikKapil commented on #11776
@sajalasati could i ping you gitter? Regarding this issue

[2021-03-18 12:40] ashutoshc8101 commented on #9749
@mridul-netizen Ok, I will find something else.

[2021-03-18 13:31] SAEb-ai commented on #12258
@sagangwee @seanlip PTAL.
I think we should have a debugging doc related to the console errors of contributor dashboard because a lot of console errors are coming up while using the contributor dashboard.

[2021-03-18 13:34] LakmaNeha commented on #8015
Hello @kevintab95  and @DubeySandeep, I would like to work on
`core/templates/domain/topic/topic-rights-backend-api.service.ts .`
Can you please assign this to me ?

[2021-03-18 14:40] DubeySandeep opened #12259 "Restrict use of CAN_SEND_EMAILS flag to just email_services"
CAN_SEND_EMAIL flag is used to enable/disable the email feature in the development environment.

Currently, this flag is [used in many places](https://github.com/oppia/oppia/search?q=CAN_SEND_EMAILS) in the codebase in different service layers. This blocks testing the internal code blocks blocked via this flag in the service layer which leads to unexpected behavior on prod as we don't do manual te

[2021-03-18 14:55] SAEb-ai opened #12260 "[Contributor Dashboard]: Condition tab in save answer is overflowing(Submit a question)"
**Describe the bug**
Condition tab in save answer is overflowing(Submit a question)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Click on 'Submit a question' at the top.
 3. Choose any topic to suggest a question.
 4. After adding a question Choose Multiple choice interaction.
 5. Add Multiple choices and responses acc

[2021-03-18 14:56] SAEb-ai commented on #12260
@ARKEOLOGIST Can you please take a look to this issue.

[2021-03-18 15:10] ARKEOLOGIST commented on #12260
Sure, I'll take a look.

[2021-03-18 15:20] ARKEOLOGIST commented on #12260
One minor question @SAEb-ai, how do you get to the Submit Question button?

[2021-03-18 15:31] SAEb-ai commented on #12260
Actually I have been granted rights from Nithesh (to do testing for contributor dashboard) and so I am very busy with the testing and so I couldn't open a PR for it.Can you please ask him in the hangouts. He can help you regarding that. (nithesh2108@gmail.com)

[2021-03-18 15:53] sagangwee commented on #12258
@kevintab95 This seems related to the question editor? Have you seen anything similar?

[2021-03-18 17:19] sajalasati commented on #11776
@KartikKapil I am not sure if I can be available much on gitter. You can use this thread to ask all your doubts without any worry, and we will try to clear them or guide you to proper resources/wiki pages (it will only help future contributors working on this issue to get things cleared early on). If you have setup related questions you can use oppia-chat on gitter. We encourage usage of public ch

[2021-03-18 17:26] KartikKapil commented on #11776
@sajalasati i have edited all the three files , i have a few worries in oppia.core.platform_feature_list_test.py file there are functions that have no arguments or return value , should i leave those function as it is ?

[2021-03-18 17:45] EricZLou opened #12263 "Exploration Editor - cannot save answer feedback on drag-and-drop interaction"
**Describe the bug**
In a drag-and-drop interaction for a specific exploration ([link](https://www.oppia.org/create/l0S8zoUrVQNd#/gui/Comparing%20Place%20Values) - version 9), we are unable to save answer feedback. Note that this bug is not happening on all drag-and-drop interactions -- just this one.

When sending a put to the server to save the answer feedback, it contains invalid payload data.

[2021-03-18 18:05] rohitkatlaa opened #12264 "Disproportionate topic thumbnail upload image"
**Describe the bug**
The thumbnail upload image is disproportionate(stretched).

**Observed behavior**
![Screenshot from 2021-03-18 23-30-26](https://user-images.githubusercontent.com/42460632/111674743-562de700-8842-11eb-850d-725b9eb6c4ac.png)
The "add image" image is stretched out.

**Expected behavior**
The thumbnail image appears proportionate.

[2021-03-18 18:22] rohitkatlaa opened #12265 "Implement a simple search or a filter for assigning skill to topic"
**Is your feature request related to a problem? Please describe.**
It is quite painstaking to find the topic when trying to assign the skill to a particular topic. Now only a small set of topics are there but as the number of topics increase it will be difficult to scroll through all the topics.
**Describe the solution you'd like**
It would be nice to have a simple search or a filter based on crea

[2021-03-18 18:40] div-yam commented on #8668
Hello @bansalnitish  Can I take "translate-text.service.ts"? Can you please assign me if possible?

[2021-03-18 18:52] FareesHussain commented on #11219
BLOCKED on discussion
https://docs.google.com/document/d/1YvaJSwNBvfsyPCsCw72KsqgXq4RDZ943EwPmwmd0vn4/edit?usp=sharing

[2021-03-18 18:54] sajalasati commented on #11776
@KartikKapil Thanks for checking!

You should include `Args` in the docstring if the function has any parameters, include `Returns` in the docstring if it has a return statement, else you don't need to make any changes. You can also look at the description [comment](https://github.com/oppia/oppia/issues/8423#issuecomment-747669734) for the lint check for which we are fixing all these files if you

[2021-03-18 18:55] sagangwee commented on #11705
The intended use of the copy tool is to help copy non-text content from the original content like images.

[2021-03-18 18:55] #11705 closed, assigned to nobody

[2021-03-18 18:56] KartikKapil commented on #11776
@sajalasati Sure i would do that , thank you so much for helping me here .

[2021-03-18 19:36] SAEb-ai opened #12266 "[Contributor Dashboard]: Alert message should pop up in Drag and drop interaction when pointing to same elements in the response.(Element before element)"
**Describe the bug**
 Alert message should pop up in Drag and drop interaction when pointing to same elements in the response.(Element before element)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Suggest a question.
 3. Add Drag and drop interaction.
 4. Put the response(Correct answer) to "element before element" and

[2021-03-18 19:37] SAEb-ai commented on #12266
@sagangwee PTAL.

[2021-03-18 20:58] EricZLou commented on #12263
Deleting and re-creating that specific drag-and-drop interaction fixed the problem. The bug still needs investigation though!

[2021-03-19 02:02] U8NWXD commented on #11496
@AdityaDubey0 I assigned you! Let me know if you have any questions

[2021-03-19 02:08] U8NWXD commented on #4057
@karthikshetty03 sorry for the delay. I've assigned you! @HarshKhilawala it looks like someone already assigned you

[2021-03-19 03:36] Siddhant-K-code commented on #11776
@sajalasati Please review #12250

[2021-03-19 04:44] gp201 commented on #12190
@MohdImran001 any updates? Can you also provide the error log incase it failed

[2021-03-19 05:30] HarshKhilawala commented on #12255
@ARKEOLOGIST Thanks! That looks fine. I am closing this issue and marking it fixed (release testing)

[2021-03-19 05:30] #12255 closed, assigned to nobody

[2021-03-19 05:31] Hudda commented on #10816
@nlok5923 I've assigned you. Thanks!

[2021-03-19 05:45] HarshKhilawala commented on #10816
@Hudda Can you please assign me `_check_js_and_ts_component_name_and_count` ?

[2021-03-19 06:03] Hudda commented on #10816
@HarshKhilawala I've assigned you. Thanks!

[2021-03-19 06:48] Naman-1234 commented on #10816
@Hudda  I would like to work on _check_constants_declaration, Could you assign me Please.

[2021-03-19 09:13] Preethi9194 opened #12269 "[Creator] Scroll down bar on the pop up to add interaction responses does not work"
**Describe the bug**
Scroll down on the pop up to add interaction responses does not work

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Dashboard
 2. Create an exploration
 3. Click on the interaction to be added for the exploration
 4. Pop up to enter the responses for interactions appears
 5. Fill the responses and scroll down to close the pop up

**Observed behavior**
Obs

[2021-03-19 09:45] Preethi9194 opened #12270 "[Creator] [Translations] Voice recordings are not recorded to translate an exploration in some browser versions"
**Describe the bug**
 Voice recordings are not recorded to translate an exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Dashboard
 2. Create an exploration
 3. Click on the Translations
 4. Click on recording and try to record a translation for an exploration
 5. Play the translation

**Observed behavior**
Observe that the voice is not recorded and does not play an

[2021-03-19 11:20] brianrodri commented on #12125
The stack trace I consistently see when this error occurs is:
[code]

This is happening on circleci **only**, and is blocking #12172: https://app.circleci.com/pipelines/github/oppia/oppia/19874/workflows/3dd86ea3-01b4-4a46-8a07-824626d02b66/jobs/111858

[2021-03-19 11:56] DubeySandeep commented on #10816
@Naman-1234 Thanks for showing your interest in this issue, I would suggest you [start with a good first issue](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do) and you can pick this issue after resolving 2 starter issues. Thanks! :)

[2021-03-19 13:13] rohitkatlaa opened #12275 "Remove assigning default value to collection tuple after python 3 migration"
**Describe the bug**
TODO: In python 2, the default values in collection has to be assigned to None. Once migrated to python 3, this has to be removed.
This TODO is introduced in the PR #12041

[2021-03-19 14:59] amulya00 opened #12276 "[Contributor Dashboard]: Deleted translations still appearing for review"
**Describe the bug**
Deleted translations still appearing for review and on clicking review , console throws error .

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ' https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Click on 'Review translation'
 3. Click on review for any translation marked as [The corresponding opportunity has been deleted.]
 4. See error

**Observed b

[2021-03-19 16:29] Naman-1234 commented on #10816
@DubeySandeep  Sure Sir, Thanks for guiding me.

[2021-03-19 16:59] vojtechjelinek commented on #12253
@ARKEOLOGIST Any progress on this?

[2021-03-19 16:59] vojtechjelinek commented on #12252
@ARKEOLOGIST Any progress on this?

[2021-03-19 17:00] ARKEOLOGIST commented on #12253
Yes, I understand where the problem is. A fix should be in soon.

[2021-03-19 17:01] ARKEOLOGIST commented on #12252
I actually had a few questions regarding this. The search bar doesn't seem responsive for a multitude of resolutions. Should I work on a fix for all resolutions or only for mobile view?

A complete fix will take some time, so I was thinking of going with a temporary fix for the mobile view for now.

[2021-03-19 17:01] vojtechjelinek commented on #12269
@kevintab95 @aks681 PTAL

[2021-03-19 17:16] mukeshmjn commented on #12276
I want to contribute in this. Please assign this to me.

[2021-03-19 17:17] mukeshmjn commented on #12265
I can add a search for filtering the list assign this to me . I will add an input. When you will type in the input the list will get filtered.

[2021-03-19 17:28] vojtechjelinek commented on #12276
@sagangwee PTAL

[2021-03-19 17:31] vojtechjelinek commented on #12258
@jameesjohn Do you remember this? I think we already tried to resolve a similar error.

[2021-03-19 17:32] vojtechjelinek commented on #12260
@ARKEOLOGIST Any update on this?

[2021-03-19 17:41] rohitkatlaa opened #12280 "Remove the clutter when searching for a skill"
**Is your feature request related to a problem? Please describe.**
When I am trying to search for a skill by name when trying to merge skills, there is a lot of clutter in the search result.

![simplescreenrecorder-2021-03-19_23 05 37](https://user-images.githubusercontent.com/42460632/111821000-2ba66180-8908-11eb-85f7-8ebdb16595bb.gif)
In the above GIF, you can see that the search word is "march"

[2021-03-19 17:44] KartikKapil commented on #11776
@sajalasati i could not pass some of these linter checks because they ask a new line above the Args arugument and when i give that it gives a critical error that first line cannot be empty how do i fix that kindly help ?
thanks in advance , here is the screenshot of my terminal .
![errors](https://user-images.githubusercontent.com/54640811/111821331-8475fa00-8908-11eb-8d92-02680acc48b1.png)

[2021-03-19 17:48] vojtechjelinek commented on #12280
Copy of #11678?

[2021-03-19 17:50] ARKEOLOGIST commented on #12260
Couldn't reproduce it as I didn't know how to get into the Questions editor. I'll try and work on a fix by tomorrow.

[2021-03-19 17:50] vojtechjelinek commented on #12270
@kevintab95 @aks681 @DubeySandeep Not sure who is the exact owner, please someone take a look or assign responsible person.

[2021-03-19 17:52] Naman-1234 commented on #10306
Hi @vojtechjelinek and @arpit1912 , Sir I would like to work on  <strong>exploration-improvements.service.ts.</strong>Could you please assign me

[2021-03-19 17:54] SAEb-ai commented on #12260
@ARKEOLOGIST I think this [doc](https://docs.google.com/document/d/1VqNiJttq85YyR6cQkd8M9lGGkOP8OlUlkI37Xw6SovM/edit#) can help you to just reproduce it locally.(Not on the test server)

[2021-03-19 17:55] rohitkatlaa commented on #12280
Since this is a copy, I will close this issue. Thanks.

[2021-03-19 17:55] #12280 closed, assigned to nobody

[2021-03-19 18:12] ARKEOLOGIST commented on #12260
This is what I have achieved. Does this look good @vojtechjelinek and @SAEb-ai? I'll send in a PR then.
![achieve](https://user-images.githubusercontent.com/34165124/111824832-b38e6a80-890c-11eb-8c0b-4eb9f55aa543.PNG)

[2021-03-19 18:16] SAEb-ai commented on #12260
@ARKEOLOGIST Yep looks good. But yep look for all the interactions which has this problem (Not only the Multiple Choice Input)

[2021-03-19 18:17] ARKEOLOGIST commented on #12260
Cool!

[2021-03-19 20:16] sagangwee commented on #12276
@DubeySandeep Do you remember why we decided to present suggestions that had their opportunities deleted rather than deleting the suggestions? Relevant PR: https://github.com/oppia/oppia/pull/10932

[2021-03-19 20:52] vojtechjelinek commented on #12252
@ARKEOLOGIST I'm fine with a temporary fix.

@kevintab95 any opinion about this?

[2021-03-19 20:58] kevintab95 commented on #12252
I wonder if we can hide the category and language dropdowns if there isn't sufficient space to display them.

[2021-03-19 22:11] kevintab95 commented on #12252
I discussed this with Sean and the recommendation is as follows:
1. Move the placeholder text in search input to the left so that the entire text is visible.
2. Vertically center "Go!"
3. Either drop categories and languages or keep both but left align the left edge of categories with the search bar.

[2021-03-19 23:54] kevintab95 commented on #12142
This failed on develop again: https://github.com/oppia/oppia/runs/2152904913?check_suite_focus=true

[2021-03-20 03:57] hardikkat24 commented on #11776
@KartikKapil This might happen if you don't start with a description and straightaway start with Args. Try adding a description then blank line, then Args and so on.

[2021-03-20 05:31] mukeshmjn commented on #12276
@sagangwee why you hadnt assign this to me ?

[2021-03-20 06:32] mukeshmjn commented on #12265
Shall I go for it or not??

[2021-03-20 06:32] mukeshmjn commented on #12265
@rohitkatlaa ??

[2021-03-20 06:47] mukeshmjn commented on #12265
@rohitkatlaa you assigned then unassigned Lmao. Why?

[2021-03-20 06:47] rohitkatlaa commented on #12265
@mukeshmjn This issue is related to the Learner and Creator Experience project, so there might be someone working on this issue already. @kevintab95 or @aks681 Can you please confirm? Once they confirm you can take it if no one is working on it. Thanks and sorry about the confusion.

[2021-03-20 07:00] MohdImran001 commented on #12190
@gp201 I have been trying since yesterday, but now the command `python -m scripts.start` is giving idle cursor only. Blank screen with a blinking cursor. I am not able to find out why this is happening. 😢

[2021-03-20 07:54] Saravia83c commented on #12260
Ok @👍

[2021-03-20 07:56] gp201 commented on #12190
@MohdImran001 Can you send a picture? can you also take a pic of the CPU load and disk usage. (Not sure if it will change anything)

[2021-03-20 09:26] vojtechjelinek commented on #12276
@mukeshmjn If you want to start contributing to Oppia please follow these guidelines https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia

[2021-03-20 09:32] mukeshmjn commented on #12276
@vojtechjelinek can u assign this to me so that i can start?

[2021-03-20 09:37] vojtechjelinek commented on #12276
@mukeshmjn Please read the guidelines, you should start with some [good first issue](https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22), this issue is bit more complicated and also quite urgent.

[2021-03-20 10:35] ashutoshc8101 opened #12286 "On Screen Keyboard for math expressions is not working on develop"
**Describe the bug**
OSK does not work on develop branch.
It works on oppia.org's present production deployment.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to create exploration page
 2. Toggle device toolbar from developer tools and select pixel 2
 2. Add numeric input interaction from math section

**Observed behavior**

OSK does not show up.

https://user-images.githubusercontent

[2021-03-20 12:00] ARKEOLOGIST commented on #12253
@vojtechjelinek I managed to fix the overlap with the "Coming Soon" label, but a fix for the dropdowns overlapping on each other requires a slightly more elaborate fix. I tried something in the function that triggers when the dropdown is opened, but apparently it reduces the frontend coverage so I wasn't allowed to push it. Some guidance is definitely appreciated.

[2021-03-20 12:03] ARKEOLOGIST commented on #12253
#12288 should resolve the overlap with the "Coming Soon" label.

[2021-03-20 13:59] #11909 closed, assigned to nlok5923

[2021-03-20 14:32] VallariAg commented on #9749
Can I work on `/core/templates/components/score-ring/score-ring.directive.ts`?
Also how do I access the pages, practice-session-page or review-test-page, where the `question-player` directive (which uses `score-ring`) is used?

[2021-03-21 07:03] nisargsc commented on #11776
@sajalasati @arpit1912 I would like to work on this. Can you please assign the 4th checkbox to me (`oppia.core.controllers`: PART 2) Thanks!!

[2021-03-21 07:36] MohdImran001 commented on #12190
Hey @gp201, I am attaching a  video of the terminal and my CPU usage.

https://user-images.githubusercontent.com/42844688/111877904-848afe00-89cb-11eb-809b-e4ae9b3dfc8a.mp4

[2021-03-21 08:59] iamprayush opened #12292 "Refactor interaction solution population."
**Describe the bug**
Currently, while populating the solution for an interaction, we stringify the solution object and then parse it in the interaction directive. This needs to be refactored once we migrate all interactions to Angular 2+, so as to avoid parsing a string and directly read the object instead.

**Additional context**
https://github.com/oppia/oppia/blob/7c56f5c7eaabc966f553666ece1638a

[2021-03-21 11:58] gp201 commented on #12190
@MohdImran001 can you probably put a couple of print stmts in the below file and see where the problem is?
https://github.com/oppia/oppia/blob/8d39eb9a2f1f1443c1b7af06e6cc43c00cafa218/scripts/start.py#L107

[2021-03-21 12:07] LakmaNeha commented on #4057
Hello @U8NWXD ,@nithusha21 . i would like to work on  ` E - N skill-creation.service.ts` . can you please assign this to me?

[2021-03-21 13:50] KartikKapil commented on #11776
@sajalasati @hardikkat24  i have managed to debug most of the error could you help me with this last one i could not really understand it.
Thanks again
![errors](https://user-images.githubusercontent.com/54640811/111907208-4c8ec400-8a7a-11eb-90d6-6f24905bdc06.png)

[2021-03-21 14:48] hardikkat24 commented on #11776
@KartikKapil  You might have added get-pip.py file to get pip installed on your system. Please delete that file or move it to some other directory. This should solve the problem.

[2021-03-21 15:50] vojtechjelinek commented on #12178
@ReshuKumari Hi, when do you expect a fix for this?

[2021-03-21 15:53] vojtechjelinek commented on #12221
@sagangwee Hi, when do you expect to create a PR fixing this?

[2021-03-21 15:54] vojtechjelinek commented on #12266
@sagangwee Hi, when do you expect to create a PR fixing this?

[2021-03-21 15:56] vojtechjelinek commented on #12206
@Radesh-kumar Hi, do you plan to fix this? If yes, when can we expect a PR?

[2021-03-21 15:58] vojtechjelinek commented on #12224
@kevintab95 @Rijuta-s Please since this is a blocking bug we need a quick fix, would you be able to look at this soon?

[2021-03-21 16:00] Radesh-kumar commented on #12142
@U8NWXD @kevintab95
![Screenshot from 2021-03-21 21-23-13](https://user-images.githubusercontent.com/54100702/111911462-c54a4c00-8a8b-11eb-8edc-a9da1736d613.png)
It again failed locally.
Since all dependencies of this controller are migrated, I will migrate this controller and re-write the test cases.
(this controller is currently using Jquery we should remove it.)

[2021-03-21 16:03] KartikKapil commented on #11776
@hardikkat24 @sajalasati kindly reviw #12293

[2021-03-21 16:04] Radesh-kumar commented on #12206
Yes, @vojtechjelinek
The PR is almost done https://github.com/oppia/oppia/pull/12056
(fixing e2e tests) it will be up for review in couple of days.

[2021-03-21 16:14] vojtechjelinek commented on #12206
@Radesh-kumar Hmm, since the PR you linked is quite big and we need to fix this for this release do you think it would be possible to fix this separately from the migration?

[2021-03-21 16:21] kevintab95 commented on #12224
Hi I will take this up and can raise a PR by 22nd EOD.

[2021-03-21 16:21] kevintab95 commented on #12269
Hi I will take this up and can raise a PR by 22nd EOD.

[2021-03-21 16:21] kevintab95 commented on #12270
Hi I will take this up and can raise a PR by 22nd EOD.

[2021-03-21 17:27] ARKEOLOGIST commented on #11919
@U8NWXD Please have a look. #12039 has fixed this completely, you can close this.

https://user-images.githubusercontent.com/34165124/111914588-94bcdf00-8a98-11eb-94a4-d53057543ef1.mp4

https://user-images.githubusercontent.com/34165124/111914593-95ee0c00-8a98-11eb-8b47-f0b8753bd028.mp4

https://user-images.githubusercontent.com/34165124/111914594-9686a280-8a98-11eb-944d-fed881a8e4f1.mp4

[2021-03-21 17:29] vojtechjelinek commented on #11919
@ARKEOLOGIST Thanks a lot, closing.

[2021-03-21 17:29] #11919 closed, assigned to ARKEOLOGIST