[2017-02-18 18:17] jaredsilver commented on #3043
This will be resolved upon an implementation of #3066.

[2017-02-18 18:17] #3043 closed

[2017-02-18 20:37] seanlip commented on #3066
I don't think so -- from a technical perspective, this should be tackled as a separate issue from that. In particular, there are two independent things that need to happen:

- Changing the look-and-feel of the summary card (which should change the preview anyway)
- Imposing an appropriate goal limit. This is a little tricky -- @markhalpin, would you be comfortable specifying X? A line full of 'm's

[2017-02-18 22:44] #3065 closed

[2017-02-19 01:15] anthkris opened #3082 "Audit and fix advanced accessibility issues"
VoiceOver is the built-in screen reader on Mac OS (Windows users can use the popular and free NVDA). We can use this to try and navigate the Oppia site using the keyboard and our ears. We need to make sure that, for learner-facing pages, a user understands where they are and what they are meant to do.

Good instructions on how to use these tools can be found in [this course on accessible web devel

[2017-02-19 01:52] anthkris commented on #3082
So far, the testing with VoiceOver (VO) using Safari (as recommended by Marcy Sutton in the Egghead.io course) and with the screen completely dimmed (as recommended by @seanlip ) seems to show that most of our pages are broadly understandable. Here are some of the issues I've found:

## All Pages
- [x] The hidden sidebar navigation is also read in VO (A user can also tab through the sidebar naviga

[2017-02-19 05:47] anmolshkl commented on #3028
Hi @itaditya, would you still like to take up the issue? Please assign it to yourself in case you would.

[2017-02-19 05:57] anmolshkl commented on #3013
Hi @himanshu-dixit , how's this going?

[2017-02-19 07:49] pratik4 commented on #2033
Hello @kevinlee12 @prasanna08 , I have created a mock to display the collections on profile page.
Please Provide your feedback. Thanks!
![edited_collection](https://cloud.githubusercontent.com/assets/15712839/23100415/df46ee84-f6a5-11e6-9b91-58ee22671897.png)
![edited_exploration](https://cloud.githubusercontent.com/assets/15712839/23100418/e974b6c0-f6a5-11e6-9445-cfb957580188.png)

[2017-02-19 07:50] pratik4 commented on #2033
In the overview tab, we can display the recent contribution done by the user.

[2017-02-19 18:34] markhalpin commented on #3066
@seanlip that's a good point about character limits not necessarily defining line length. If we max it out at a hypothetical worst-case scenario (a row of lower-case m's), the line limit would be 15 characters, which is much shorter than most actual lines of text would require (the number of characters in a line of only lower case i's, by comparison, is 50) . So you're right, specifying a characte

[2017-02-19 18:59] kevinlee12 commented on #2033
Hi @pratik4, I think the mocks point in a good direction. Before I provide my full feedback, can you do a mock of how you intend the Overview tab to be like (with explorations and collections)? thanks!

[2017-02-19 19:47] ashish3805 commented on #3018
`/**
 * @fileoverview Unit tests for the SimpleEditorShimService.js
 */
describe('Simple Editor Shim Service', function() {
    var srv = null;
    var memento = 'SampleTitle';

    beforeEach(function() {
        module('oppia');
        module(function($provide) {
            $provide.value('explorationTitleService', {
                savedMemento: memento
            });
        });
    });

[2017-02-19 23:02] seanlip commented on #3066
We aren't, actually. We are using a character limit there, and the preview is meant only as a help and not as a restriction. If the title is too long the card preview will look wonky and we hope the creator will notice this and act accordingly. But we don't have a way yet to automatically tell, for a given title, whether wonkiness would happen.

Perhaps we could start with a character limit in thi

[2017-02-20 00:05] rachelwchen commented on #3066
I think character count sounds like a good intermediate step...

Just wondering, would including a height restriction work here by any
chance? Similar to the card height recommendation (~630px), is there a way
to evaluate how many pixels high the learning goal would take up as a user
completes the entry...? Not sure what alert message we would give to the
users, though.

On Sun, Feb 19, 2017 at 3:

[2017-02-20 00:58] markhalpin commented on #3066
Hmm, optimum character count is kind of an interesting problem, isn't it? Stand back, please, while I attempt some maths:

I had some more sophisticated ideas to bring to bear here, but for guestimation purposes I went with something simple: counting the number of times each of the 12 most frequently used letters (in English) could appear in a full row on our card in our font and type size. Averag

[2017-02-20 06:50] seanlip commented on #3082
@anthkris -- just wanted to say thanks; this is a great list! It's also great that you caught, e.g., the exploration summary cards having attributes that make no sense when read out. That's definitely a big bug that needs fixing, and I had no idea of its existence before.

[2017-02-20 12:03] pratik4 commented on #2033
Hello @kevinlee12 , here's the mock for the overview tab.
![edited_overview](https://cloud.githubusercontent.com/assets/15712839/23124366/9989531c-f792-11e6-8fd8-962a7d71d6eb.png)

[2017-02-20 20:28] himanshu-dixit commented on #3013
@andromfins For scrollbar, we need to move to javascript based solution or any jquery library. Firefox supported scrollbar styling till 2013, so should i use javascript library for this?

[2017-02-20 20:37] andromfins commented on #3013
Yes, i was aware of that, maybe you could use [this one](http://noraesae.github.io/perfect-scrollbar/) ? /cc @seanlip would it be fine to introduce another library ?

[2017-02-20 20:47] himanshu-dixit commented on #3013
@andromfins was thinking about same library, waiting for confirmation from
seanlip?
On Tue, 21 Feb 2017 at 2:07 AM, andromfins <notifications@github.com> wrote:

--

Himanshu Dixit

[2017-02-20 22:27] seanlip commented on #3013
Should be fine. Use the standard way for bringing in third-party libs (see manifest.json and scripts/install_third_party.py).

[2017-02-20 22:33] #1858 closed

[2017-02-20 22:34] seanlip commented on #1858
Fixed in #3086. Thanks @DubeySandeep!

[2017-02-21 03:35] jblair87 commented on #2943
@jaredsilver @seanlip How is this? FYI the lighter color is due to the screenshot.
<img width="350" alt="screen shot 2017-02-20 at 10 33 19 pm" src="https://cloud.githubusercontent.com/assets/13993320/23149829/bd3b0ace-f7bc-11e6-8bce-7ca2f653d047.png">

[2017-02-21 05:20] pratik4 commented on #2033
@kevinlee12 , the overview tab would display the recent created and edited exploration, collections by the user.

[2017-02-21 05:27] kevinlee12 commented on #2033
The overview looks good for the time being, I'm thinking it might be better if we give the creators a chance to "pin" explorations or collections that they want to showcase on their profile (much like Github profile pages), though it might be more tricky in the technical aspects (which we can implement later)

@markhalpin, what do you think about these mocks? thanks!

[2017-02-21 05:28] seanlip commented on #2287
This has been completed. Thanks @Arunabh98!

[2017-02-21 05:28] #2287 closed

[2017-02-21 14:24] jaredsilver commented on #2943
Much better -- thanks, @jblair87! Do you think we should change it into a popover so it has the same aesthetic as elsewhere on the site?

[2017-02-21 16:47] pratik4 commented on #2033
Pinning explorations and collections on the creators profile page is a great idea @kevinlee12 .
@markhalpin , need your feedback on the above mocks.
Thanks!

[2017-02-21 18:32] seanlip commented on #2445
Assigning @526avijitgupta to:

(a) give a sense of how this should look like
(b) defining when the notifications should trigger

[2017-02-21 18:35] seanlip commented on #2160
Assigning to @526avijitgupta for breakdown.

[2017-02-21 18:44] seanlip commented on #1449
Hi @AllanYangZhou, do you think you could provide a concrete list of repro steps for this, please? I'm not exactly sure in what context the user is "clicking on the thread".

Also, is this related to #433?

/cc @526avijitgupta

[2017-02-21 18:46] seanlip commented on #2033
/cc @jaredsilver @jblair87

[2017-02-21 18:51] 526avijitgupta commented on #2288
Closing since speeding up the dashboard by optimizing existing queries in the backend seems to be a more viable solution right now. (Discussed with Sean in meeting)

[2017-02-21 18:51] #2288 closed

[2017-02-21 19:05] 526avijitgupta commented on #3037
@1995YogeshSharma @himanshu-dixit The difference in height which appears on zooming is because the Save Draft button has a hard-coded height of "34px", while the adjoining caret button doesn't have any hard coded height (it has `padding: 6px 12px;` on it). The solution might be as simple as to make the behaviour uniform across all the 3 buttons!

[2017-02-21 19:21] kevinlee12 commented on #1074
Hi @jblair87, how is this issue coming along? thanks!

[2017-02-21 19:22] kevinlee12 commented on #1450
@arun1595 -- ping?

[2017-02-21 19:24] kevinlee12 commented on #2099
Hi @MAKOSCAFEE, I know a couple of PRs have been opened regarding this issue, is it okay to close this issue or is this still active (in that case, are there still parts queued/in progress)? thanks!

[2017-02-21 19:25] kevinlee12 commented on #2387
Hi @Arunabh98, any updates regarding this issue? thanks!

[2017-02-21 19:26] kevinlee12 commented on #2533
Hi @vojtechjelinek, any updates regarding this issue? thanks!

[2017-02-21 19:27] kevinlee12 commented on #2627
Hi @himanshu-dixit, any updates on this issue? (if possible, it would be great if you could paste the design doc here too). thanks!

[2017-02-21 19:28] kevinlee12 commented on #2814
Hi @kirankonduru, any updates regarding this issue? thanks!

[2017-02-21 19:30] kevinlee12 commented on #3016
Hi @andromfins, any updates regarding this issue? thanks!

[2017-02-21 19:35] himanshu-dixit commented on #2627
@kevinlee, i initially create the design doc but after going thru code
once, i think there might be better way to implements this. I will try to
get back on design doc and post link here by wednesday. Sorry for such a
long delay from my side.

On 22 February 2017 at 00:57, Kevin Lee <notifications@github.com> wrote:

[2017-02-21 19:41] kevinlee12 commented on #2627
okay, thanks for the update!

On Tue, Feb 21, 2017 at 11:35 AM, Himanshu Dixit <notifications@github.com>
wrote:

[2017-02-21 19:51] MAKOSCAFEE commented on #2099
Hi @kevinlee12, there is one last PR which is underway. After that this will be closed.
Thanks.

[2017-02-21 19:53] kevinlee12 commented on #2099
thanks for the update!

[2017-02-21 20:39] anthkris commented on #3082
@seanlip Awesome! Yes. Icon buttons and links seem to be an issue throughout. I'm going to work on a bundled PR to fix those.

But before I do that, I wanted to do a bit more testing with the exploration that has each of the activity types to confirm whether or not my notes on them are correct.

[2017-02-21 22:10] markhalpin commented on #2033
This is a very nice idea! As far as the mocks, I think we should avoid having active text (as opposed to static banner text) over the banner image; that's going to get busy-looking. I think use something like this as your model, noting that the text drops onto the cream background where it's more visible. Thanks!

![subscribers - 1b](https://cloud.githubusercontent.com/assets/13863393/23187417/ae6

[2017-02-21 23:15] seanlip commented on #2033
Also /cc @rachelwchen

[2017-02-22 01:23] jblair87 commented on #2943
@jaredsilver This actually matches the tool tips in the exploration editor header (see attached). Which I need to create a separate issue for (note the overlap). It might make sense to leave it as a tool tip as it is defined exactly as it is. But we can change the overall design of the tooltip side wide.
<img width="379" alt="screen shot 2017-02-21 at 8 19 57 pm" src="https://cloud.githubuserconte

[2017-02-22 01:48] jblair87 commented on #2033
Should the profile information (photo, name, interests etc) be on this page? Can "overview" be on one tab and filter by explorations or collections to save space?

[2017-02-22 02:47] bching commented on #2978
Hello @anthkris I'm wondering if I can work on this?

[2017-02-22 02:54] anthkris commented on #2978
Howdy @bching Take it away! Let me know if you need any clarification.

[2017-02-22 03:51] anthkris commented on #3082
A few more tidbits from my review using VoiceOver.

## More on the Exploration page

- [ ] The round buttons that represent each exploration card are just read as "button" with no context as to what they do.

<img width="691" alt="screen shot 2017-02-21 at 9 46 37 pm" src="https://cloud.githubusercontent.com/assets/10858542/23196496/a0dd2402-f87f-11e6-9865-a1c0d56c7635.png">

- [ ] The Flag this E

[2017-02-22 05:34] #2955 closed

[2017-02-22 08:56] pratik4 commented on #2033
Hello @jblair87, is this right.?
The overview tab would display recent contributions and only user-bio and his interests.

![overview_userbio](https://cloud.githubusercontent.com/assets/15712839/23203671/862a5a78-f909-11e6-86f2-f01a8651b479.png)

[2017-02-22 11:34] 526avijitgupta commented on #433
Elaborating a bit more on my comment above -
1. A *commit* type of notification link must have the URL like: /create/\<explorationID\>/history/commit=\<commitID\> (Currently it's just /create/\<explorationID\>)
2. A *feedback* type of notification must have the URL like: /create/\<explorationID\>/feedback/thread=\<threadID\> (Currently it's just /create/\<explorationID\>/feedback)

And on the fron

[2017-02-22 19:08] kevinlee12 commented on #2033
@markhalpin, speaking of the banner, should be drop the everything down (profile card and exploration/collection cards) so that it is in the cream section? (otherwise it'll look lopsided)

[2017-02-22 22:44] #2814 closed

[2017-02-23 01:01] jblair87 commented on #2033
@markhalpin @kevinlee12 @pratik4 Were actually looking at mocks of two separate pages. the profile page and the creator dashboard. (note the top left corner) Also, contributing to a collection/exploration is different than creating one.

[2017-02-23 02:18] kevinlee12 commented on #2033
@jblair87, yup, did notice that and my comment still stands. :)

[2017-02-23 03:04] jaredsilver commented on #2943
Thanks, @jblair87! I think that what you proposed works fine for now then.

[2017-02-23 06:39] seanlip commented on #2099
NB: Remaining files to look into (from discussion with @MAKOSCAFEE):
- autoplayedVideosService.js
- forms/FormBuilder.js
- expressions/expressionSyntaxTree.js
- expressions/evaluator.js
- expressions/parser.js

[2017-02-23 06:50] seanlip commented on #2915
Hi @TJHomer -- just checking, do the above comments clarify things? Thanks!

[2017-02-23 07:59] DubeySandeep commented on #3073
till I  get a response from xinyu, I'll be work on this :) @seanlip

[2017-02-23 07:59] seanlip commented on #3073
Sounds good, thanks @DubeySandeep!

[2017-02-23 10:05] DubeySandeep commented on #3073
![screenshot from 2017-02-23 15 13 09](https://cloud.githubusercontent.com/assets/16653571/23254271/7e620c94-f9dd-11e6-8787-ca35020bdd61.png)
![screenshot from 2017-02-23 15 29 34](https://cloud.githubusercontent.com/assets/16653571/23254270/7e61e87c-f9dd-11e6-870e-fd265d6cc439.png)
@seanlip @jaredsilver So, this is how we want ?

[2017-02-23 10:10] seanlip commented on #3073
The subscript seems weird. What if you had something like the following instead?

 - Title (this is a link)
    - Message 1
    - Message 2
    - Message 3

[2017-02-23 12:03] 526avijitgupta commented on #2160
For interested contributors, a good starting point would be to take a look at the existing tests in https://github.com/oppia/oppia/blob/develop/core/controllers/dashboard_test.py . A breakdown for this coming soon.

[2017-02-23 12:10] TJHomer commented on #2915
Yes, I've made the changes - just getting an error when I try and push it.  Hoping to figure that out this morning.

[2017-02-23 12:21] Arunabh98 commented on #2387
I was not able to get to this because of other projects. Would be able to get to this by this weekend. Till then if someone else wants to take this up, would be more than happy to help.

[2017-02-23 12:31] TJHomer commented on #2915
Well this time it went through right away.  I don't know what was happening the other day - my internet was being finicky - maybe that was it.
Submitted [PR](https://github.com/oppia/oppia/pull/3092)

[2017-02-23 12:57] DubeySandeep commented on #3073
Sorry! it wasn't known to me that I have to link the exploration, I was thinking that there is some feedback page related to an exploration and there i have to link for the reply and that's what i was with that subscript idea.

This is the final output:
![screenshot from 2017-02-23 18 24 41](https://cloud.githubusercontent.com/assets/16653571/23259909/731f591e-f9f5-11e6-9711-3de8a16e3abc.png)
Is i

[2017-02-23 13:16] pratik4 opened #3093 "Popover of Userhelp button remains constant when the user creates the exploration for the first time."
When the user creates a Exploration for the first time, the popover of the Userhelp button remains constant and won't be able to select the profile Page.
![bug](https://cloud.githubusercontent.com/assets/15712839/23260518/36cf46c4-f9f8-11e6-82a7-eccda66ae008.png)

[2017-02-23 13:44] 526avijitgupta commented on #1449
@AllanYangZhou Also see if https://github.com/oppia/oppia/issues/433#issuecomment-281645004 would be a feasible solution for this ?

[2017-02-23 17:22] DubeySandeep commented on #3073
As I can see, the way to calculate the no. of messages depends on the no. of an element in feedback_messages dict. ([here](https://github.com/oppia/oppia/blob/develop/core/domain/email_manager.py#L621)) , so if one exploration contains 2 messages it will return "You've received 1 message...." am I taking this in a wrong way?

[2017-02-23 17:26] kevinlee12 commented on #2387
thanks @Arunabh98. In that case. I'll de-assign you and do comment here if you would like to pick this up later on.

[2017-02-23 18:51] 526avijitgupta commented on #2527
In the current scenario, only the count of unresolved answers is being shown in the dashboard, while even the `top_unresolved_answers` is being sent to the frontend in the payload. Removing the unnecessary data fields from the payload is an easy task and would not make much difference in terms of speeding up the dashboard.

But the problem lies in the fact that the amount of queries to the db woul

[2017-02-23 21:31] wxyxinyu opened #3094 "License terms link in image insert does not work"
Reproduction instructions:
1. go to the editor
2. edit content, and click on the image insert button.
3. click on "upload a new image"
4. in the "license terms" link (shown below), the link goes to the about page, but not straight to the license terms. The license terms are on the "Foundation" tab.
![image](https://cloud.githubusercontent.com/assets/5061134/23279934/37b2b688-f9e5-11e6-97bd-6499af3

[2017-02-23 21:40] wxyxinyu opened #3095 "Change the default exploration language when the user changes the site language"
When the user changes the site language, we should set the default exploration language (the language of explorations in the gallery) to the new site language too.

(labeled as triage because I'm not sure if we want to do this)

[2017-02-23 21:45] wxyxinyu opened #3096 "Flakiness of changing the site language"
cc @jacobdavis11 who first reported this

Reproduction instructions (this seems to work consistently in Firefox, and works occasionally in Chrome):
1. Start from the splash page (not logged in or with prior history on the site).
2. Set the language to German, and click to browse explorations, then click an exploration.
3. Click Oppia in the top left to return to the splash page and set the languag

[2017-02-23 21:51] wxyxinyu opened #3097 "The splash page button text does not fit into the buttons in German"
![image](https://cloud.githubusercontent.com/assets/5061134/23280677/2752ef76-f9e8-11e6-80f8-f521d7d1f2e3.png)

We should either increase the width of the buttons (we'll need to investigate if it's possible to change the width only on certain languages), or rephrase these to be shorter.

[2017-02-23 21:57] wxyxinyu opened #3098 ""Save Draft" button height is misaligned"
![image](https://cloud.githubusercontent.com/assets/5061134/23280827/b6d1fe94-f9e8-11e6-903f-70e4906be85e.png)
The save draft button should be the same height as the arrow dropdown next to it. The "discard draft" dropdown that appears on hovering over the save draft button should be the same width as the dropdown.

[2017-02-23 22:02] pratik4 commented on #3098
#3037

[2017-02-23 22:03] pratik4 commented on #3098
#3037 , @wxyxinyu , i guess this issue has been already filed.

[2017-02-23 22:04] wxyxinyu opened #3099 "Error message for item select and multiple choice interactions are unclear"
Currently, the error message on the exploration graph says
'Please clarify the default outcome so it is less confusing to the user.'
when not all choices are covered by rules, but this language is a bit confusing.
Instead, the text could read
"Please add something for Oppia to say in the 'all other answers' response"

[2017-02-23 22:35] wxyxinyu commented on #3098
Oh, hm, I didn't see that somehow. That issue doesn't mention the dropdown width though.

[2017-02-23 22:35] #3098 closed

[2017-02-23 22:35] wxyxinyu commented on #3037
Also, note that the width of the "Discard changes" button is supposed to be the same width as the "save draft" button.

[2017-02-23 23:06] vojtechjelinek commented on #2533
There is already pull request https://github.com/fraywing/textAngular/pull/1450 that fixes the problem, but it seems that the authors didn't merge anything for around two months.

[2017-02-24 00:15] #2964 closed

[2017-02-24 00:24] seanlip commented on #3073
Sorry, I was unclear -- by "link to the exploration" I actually meant "link to the feedback page of an exploration".

For your backend question, I'll refer you to @prasanna08, who wrote that; perhaps it can be modified. For the general question of whether the email format you propose is OK, I'm looping in @jaredsilver for comment.

[2017-02-24 00:25] seanlip commented on #2387
Actually, this weekend isn't too far away, and I think it'd be good if @Arunabh98 could fix this since there seems to be some difficulty in reproduction. So, reassigning him!

[2017-02-24 00:26] seanlip commented on #3097
Related to #2977?

[2017-02-24 01:04] kevinlee12 commented on #2533
ah, thanks!

[2017-02-24 03:12] jaredsilver commented on #3073
Email format looks great -- thanks, @DubeySandeep!

[2017-02-24 03:36] jaredsilver commented on #2033
Is there a reason that explorations and collections cannot appear in the same section instead of requiring this tabbed navigation? I'd imagine that most creators probably have a fairly small number of contributions, so an alternative might be simply modifying the _current_ design to include collections. The card designs already distinguish between explorations and collections.

[2017-02-24 04:18] SudhanvaMG opened #3101 "Save draft tooltip and discard draft dropdown overlap."
When using the simple editor , if you hover over the save draft button the discard draft drop down automatically activates which causes the tooltip of save draft and the drop down of discard draft overlaps
![screenshot from 2017-02-24 09-43-33](https://cloud.githubusercontent.com/assets/17882387/23290379/534f0856-fa76-11e6-88f6-f750ffb1b125.png)

[2017-02-24 04:24] kevinlee12 commented on #2033
@jaredsilver, that is a good point, since the number of collections creators are limited at this point. We could keep mix it up for now and if the contributions grow, we can tab it (or break it down more) if needed. The upside to this is that it'll be easier to implement than a tabbed version in a technical sense.

[2017-02-24 04:26] pratik4 commented on #2033
Agreed @kevinlee12 @jaredsilver

[2017-02-24 04:27] markhalpin commented on #2033
I think that makes sense.

[2017-02-24 04:33] kevinlee12 commented on #2033
thoughts, @jblair87 @rachelwchen @seanlip? (otherwise, I think we're go for @pratik4 to start)

[2017-02-24 04:42] seanlip commented on #2033
I don't have a strong opinion either way. I'll defer to others on this.

[2017-02-24 04:44] seanlip commented on #3101
Thanks for reporting, @SudhanvaMG. Just a question, does this happen on develop with the existing editor? If so, might be worth using a screenshot of that instead, since it'll be easier for others to fix.

(Btw, just FYI, you don't need to cc me on every issue -- only the ones that specifically involve me. @andromfins is probably the right person to cc here. I get notifications of everything alrea

[2017-02-24 04:51] SudhanvaMG commented on #3101
Ok will look if this happens on develop .
Got it , wont cc everytime .

[2017-02-24 04:59] rachelwchen commented on #2033
I don't have a strong opinion on this either!

[2017-02-24 05:09] seanlip commented on #3093
Just to check, what should the expected behaviour be?

[2017-02-24 05:26] seanlip commented on #3093
But the point of that popover was to make users aware that they could use the help button. If we only show it on hover, it's not discoverable.

That said, I'm not totally sure the current behaviour is right, anyway. Looping in @anthkris and @jblair87 for feedback on this.

[2017-02-24 05:57] pratik4 commented on #2033
display collection as well as exploration on the same section of the page.
![coll_ex](https://cloud.githubusercontent.com/assets/15712839/23292245/3bf31de2-fa84-11e6-9c66-2f6a5a69bc3c.png)

[2017-02-24 05:59] markhalpin commented on #2033
Looks nice! I would just say aligning the tops of the author card and exploration cards would be a little cleaner please (I suggest lowering the author card rather than raising the others). Thanks!

[2017-02-24 06:06] pratik4 commented on #2033
@markhalpin. is this fine?
![col_ex1](https://cloud.githubusercontent.com/assets/15712839/23292368/55e0aa48-fa85-11e6-9a7a-5f816508e670.png)

[2017-02-24 06:51] Oishikatta opened #3102 "Update Guppy to 260da6 to enable better compatibility with non-US keyboards"
This will also require updating MathExpressionInput.js

I will have a PR for this soon.

[2017-02-24 06:51] anthkris commented on #3093
That popover has always been a bit of a sticky wicket. On the one hand, if we don't allow it to persist for some time, it's very, very easy to miss and we wanted to make sure that users see it. On the other hand, it seems to be getting in the way. However, it goes away once you click on it, correct?

[2017-02-24 07:08] markhalpin commented on #2033
LGTM!

[2017-02-24 07:10] kevinlee12 commented on #3102
We'll have to verify that no regressions are introduced, so very thorough testing will be required.

[2017-02-24 07:14] Oishikatta commented on #3102
Luckily there are only 4 commits between the current version we use and the new version: https://github.com/daniel3735928559/guppy/commits/master

PR: https://github.com/oppia/oppia/pull/3103

[2017-02-24 07:24] seanlip commented on #3102
Moving out of triage. This is due to a fix reported by an international keyboard user who was not able to type "x^2" because "^" was not the same as Shift+6 on his keyboard. Upgrading Guppy fixes this.

[2017-02-24 08:09] #3102 closed

[2017-02-24 08:11] DubeySandeep commented on #3073
@prasanna08
As I can see, the way to calculate the no. of messages depends on the no. of the elements in feedback_messages dict. [(here)](https://github.com/oppia/oppia/blob/develop/core/domain/email_manager.py#L621) , so if one exploration contains 2 messages it will return "You've received 1 message...." am I taking this in a wrong way?

Let's take an example:
[code]

so here the len(feedback_me

[2017-02-24 11:41] andromfins commented on #3016
I am still on it, will update soon.

[2017-02-24 11:45] himanshu-dixit commented on #3097
Yes, i think they're similar. But increasing width to accommodate text might be a good idea. Possible solution can be, changing width to min-width and adding suitable padding to the button.

[2017-02-24 16:32] #1695 closed

[2017-02-24 17:51] pratik4 commented on #3093
No @anthkris , it won't disappear if you click on it.
It goes away when you refresh the page.

[2017-02-24 19:04] BenHenning opened #3104 "Write script for generating answer migration job targeted at CodeEvaluation"
After #1205 is completed, all of the CodeEvaluation answers stored for CodeRepl will be inconsistent, since they will almost all be missing output values and mostly missing evaluation and error values. They fortunately will all retain their original code, but it's unsafe to execute this code on Oppia's backend to try and reconstitute the other missing values.

What we can do instead is download al

[2017-02-24 20:09] kevinlee12 commented on #3016
sg, thanks!

[2017-02-25 02:02] bching commented on #2978
Thanks @anthkris , so currently the approach I am considering based off of the WebAIM article you linked -  The skip link would be one of the first items on the page. It is hidden but when the user tabs to focus on it the CSS will reveal it on the page in a transition. The user presses enter and the href of the skip element will link the user to the main content. Would that approach make sense?

I

[2017-02-25 03:15] anthkris commented on #2978
@bching That approach sounds reasonable to me! Just be sure that you don't use techniques that would make the text invisible to screen readers. See this WebAIM article: [http://webaim.org/techniques/css/invisiblecontent/#techniques](http://webaim.org/techniques/css/invisiblecontent/#techniques)

Regarding your question, it looks as though there is a div without a class or id, just below the nav th

[2017-02-25 04:51] SudhanvaMG commented on #3018
@andromfins I will write unit-tests for Scorllsyncservice and sidebarhighlightingservice .

[2017-02-25 07:52] kevinlee12 commented on #3094
Fixed in #3105

[2017-02-25 09:58] srikar0896 opened #3106 "Text goes outside of the div"
![image](https://cloud.githubusercontent.com/assets/17567875/23330223/e0434580-fb6e-11e6-8c9c-90d0deb55cb5.png)

FYI-number of characters - 386.

[2017-02-25 10:09] himanshu-dixit commented on #3106
The line wrap automatically shift exceeding words to new line, this works perfectly fine for words upto 50 characters and words with more than 50 character is highly unlikely scenario.

[2017-02-25 10:39] srikar0896 commented on #3106
yes but there is not no limit for the number of characters user can enter.so i suggest to make this change.

[2017-02-25 10:44] seanlip commented on #3106
This is not necessary. I would close it.

There is no case I know of where this would actually pose an issue. We can
reconsider if you could provide an example of a potentially real lesson
where the existing behavior breaks.

On Saturday, February 25, 2017, Himanshu Dixit <notifications@github.com>
wrote:

[2017-02-25 10:47] #3106 closed

[2017-02-25 11:03] srikar0896 commented on #3074
@seanlip hello sir according to the problem i think it has to be done according to the number of characters rather than height of the content because the height may vary for different user with different screen resolutions.I mean to say .- "warning to the exploration creator when number of characters exceeds 100 or so .."?

[2017-02-25 17:25] shivamluthra commented on #3097
@seanlip @wxyxinyu Can you assign me for this issue ? And can you also guide me a bit how to reach up the splash page code in other languages ?

[2017-02-25 20:05] jblair87 commented on #3093
@pratik4 please refer to the conversation in issue #2943 cc/ @seanlip @jaredsilver

[2017-02-25 20:37] jblair87 commented on #3073
Am I too late to comment on this? Looks great! A few comments: Maybe add a link for how to get help. Is there an option for contacting oppia support? Maybe end it at Thank you and happy teaching! The best wishes seems odd coming from a company.

[2017-02-26 01:45] jaredsilver opened #3109 "Research and implement HTML templates for emails"
Now that we have super awesome email functionality, we should consider designing an HTML template to make those emails even more effective.

- [ ] Research and decide on an email design framework (e.g.  [Foundation](http://foundation.zurb.com/emails.html) or [MUI](https://www.muicss.com/docs/v1/email/boilerplate-html))
- [ ] Propose a basic design that matches key branding elements of the Oppia we

[2017-02-26 02:01] prasanna08 commented on #3109
Hi @jaredsilver this sounds great idea. It would be great to have such templates.

[2017-02-26 04:19] 526avijitgupta commented on #2527
A few points:

* Currently, only the count of unresolved answers is being shown in the dashboard, while even the `top_unresolved_answers` is being sent to the frontend in the payload. Removing all such unused data fields from the payload would reduce the size of the response! That being said, I could not find a way to reduce the amount of queries to the db even if only the count of unresolved answ

[2017-02-26 07:02] DubeySandeep commented on #3109
While working on m las PR, I was with of idea to implement Feedback email as HTML templet
I don't have the code but have some idea related to basics of the design for the mail, you can may check:
![screenshot from 2017-02-26 11 47 15](https://cloud.githubusercontent.com/assets/16653571/23337806/81780b6a-fc1f-11e6-9bb3-88927938b32d.png)

[2017-02-26 08:43] #3073 closed

[2017-02-26 08:51] seanlip commented on #3097
Hi @shivamluthra -- please accept the invitation [here](https://github.com/oppia/oppia/invitations), then you should be able to assign yourself to it. Note that there is a dropdown at the bottom right of the page for selecting the language.

[2017-02-26 08:52] seanlip commented on #3093
Hi @jblair87 -- I'm missing something, I think. What is the relevance of that conversation to this issue (apart from tangentially mentioning the editor popover)? It's still not clear to me what the expected behavior here should be.

[2017-02-26 08:58] seanlip commented on #3013
Fixed in #3089, thanks @himanshu-dixit!

[2017-02-26 08:58] #3013 closed

[2017-02-26 09:01] seanlip commented on #3074
It's a good question, but during user tests we noticed that this was more because the card was perceived to be long -- students do not count the number of characters in the card before deciding that it's long. The main factor here seems to be height, so that's why this issue refers to that.

[2017-02-26 09:06] seanlip commented on #2994
@souravbadami -- ping?

[2017-02-26 09:08] seanlip commented on #3101
Btw -- what is the expected behaviour here instead?

[2017-02-26 09:08] seanlip commented on #3101
(I guess we don't need the tooltip if the text is showing? But we might need it at smaller screen widths...)

[2017-02-26 09:11] srikar0896 commented on #3074
okay.can you assign this to me..i will proceed on this

[2017-02-26 09:11] seanlip commented on #3074
Hi @srikar0896, I recommend finishing the other issue you're doing first. It's simpler!

[2017-02-26 09:12] srikar0896 commented on #3074
ok

[2017-02-26 09:31] srikar0896 commented on #3028
#3110 @seanlip I have made a pull request. please review it.

[2017-02-26 09:46] himanshu-dixit commented on #3109
@jaredsilver @prasanna08 @seanlip Looking forward to your review and changes for this sort of design. Also where should i post PSD and other resource file, so other can tweak and propose things to this.
![email](https://cloud.githubusercontent.com/assets/6849438/23338629/f3dbe094-fc35-11e6-8646-a3365ccceaf1.jpg)

[2017-02-26 10:09] DubeySandeep commented on #3109
This looks more cleaner and simple. Just one thing those circular social media icons should be square as the oppia's website social icons are such.

[2017-02-26 10:45] shivamluthra commented on #3097
@seanlip Thankyou for the invitation. Actually, I was asking for the location of splash page codebase which is needed to be edited i.e. how to approach for splash.html in other languages.

[2017-02-26 10:47] seanlip commented on #3097
For that, you will need to read the codebase. Start at core/templates/dev/head/pages/splash/splash.html. Look into the files related to i18n functionality as well.

Btw, are you sure you want to take on this project? It's a design project, not a code project -- we still need to figure out what to do.

[2017-02-26 11:12] shivamluthra commented on #3097
@seanlip Okay till then i'll have a look at the codebase and if it seemed working for me, i'll take up for this issue, else i'll unassign myself and search for another one.

[2017-02-26 11:13] seanlip commented on #3097
OK, thanks. Note that, since this is a design issue, you might want to describe your intended solution in this thread (ideally with screenshots) before submitting a PR.

[2017-02-26 11:14] shivamluthra commented on #3097
:+1:

[2017-02-26 11:20] souravbadami commented on #2994
@seanlip -- I had a discussion with @pratik4 on gitter regarding this and he reproduced the issue on his local setup.

[2017-02-26 11:24] seanlip commented on #2994
OK, thanks!

One request: please can you make the repro instructions more specific to
include the actual instructions for creating a collection? They should be
reproducible by someone who just started up the dev server on a fresh copy
of oppia.

Thanks!

On Sunday, February 26, 2017, Sourav Badami <notifications@github.com>
wrote:

[2017-02-26 15:12] SudhanvaMG commented on #3101
I guess the issue is that the dropdown happens without actually clicking on the drop down menu .

[2017-02-26 15:16] souravbadami commented on #2994
Updated!

[2017-02-26 15:25] jaredsilver commented on #3109
I think this looks great, @himanshu-dixit! We can probably cut down on some of the whitespace a little bit, but aside from that all of the required elements seem to be present. Feel free to save any of your files to Google Drive, set the sharing settings so they are publicly available, and then post the links here.

[2017-02-26 19:49] seanlip commented on #3109
Thanks, @himanshu-dixit -- I do very much like the overall layout and the fact that there is a single call-to-action button which stands out nicely. There are some email types for which there isn't a single call-to-action, though -- e.g. #3073; what would we be doing for that?

[2017-02-26 20:14] #3037 closed

[2017-02-26 20:21] seanlip commented on #3093
You know, I just realized something (when testing locally). It used to be the case that that popover was supposed to disappear after 5 seconds or so. Now, for some reason, it just stays there forever.

@pratik4 @anthkris here's a suggestion for two changes we should make. If we made these changes, would you be happy with the resulting behaviour?
- The popover should disappear after 5 seconds.
- Cl

[2017-02-26 20:24] seanlip commented on #3101
This is interesting, actually. You're right about that being the source of the confusion, but my concern about removing the hover action is that the discard option is no longer discoverable. Since changes are autosaved, users may need a way to discard their local changes and I'm a bit concerned about them getting "stuck" with those local changes if they don't notice the option to discard them.

@h

[2017-02-26 20:29] anthkris commented on #3093
@seanlip Yes! I thought it used to be the case that it went away somehow, so thanks for remembering that. I think both of those would give us behavior that achieves our goals.

[2017-02-26 22:02] anthkris opened #3119 "Dropdown Menus should be keyboard accessible"
As a part of the advanced accessibility audit in issue #3082 , we have identified that the

- About tab in the top navigation bar
- User profile tab in the top navigation bar (available when signed in to Oppia), and
- Author Profile drop up tab (available when playing an exploration)

are not keyboard accessible. A user should be able to use the enter key to make these menus expand. They should al

[2017-02-26 22:06] anthkris commented on #3119
Closing as it's a duplicate of #3025

[2017-02-26 22:06] #3119 closed

[2017-02-26 22:31] Oishikatta opened #3120 "Buttons on About page have text overflow on mobile."
Specifically the buttons at the end of the 'Foundation' tab.

Current behavior:

![Current Example](https://i.imgur.com/0VWS5ZE.png)

Suggested behavior:

![Suggested Example](https://i.imgur.com/isgtpU1.png)

This could be done by, for example, adding "min-width: 200px;" to the .oppia-about-button class.

[2017-02-26 22:49] Oishikatta opened #3121 "The footer is longer than the footer padding on mobile"
This may have been caused by additional links or other elements being added to the footer over time without the footer padding being updated to match.

This causes small display issues on several pages, e.g. Teach, About, Contact, where the footer covers part of the content.

![Example](https://i.imgur.com/6bOWA7M.png)

This could be fixed by measuring the current height of the footer on mobile (f

[2017-02-26 23:32] Oishikatta opened #3122 "Number input fields should bring up a numeric keyboard on mobile"
In explorations which ask for numeric input, a numeric keyboard should be brought up on mobile instead of the full keyboard.

Browser and OS differences:

* For Android/Chrome, type="number" is needed to show the numeric keyboard.

* For iPhone/Safari, pattern="[0-9]*" is or was required to display a fully numeric keyboard. Just type="number" will still display number keys as the top row though.

[2017-02-27 00:09] Oishikatta commented on #3096
This may be related to the library page using its own <base> tag: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/library/library.html#L19

Via https://code.angularjs.org/1.5.8/docs/api/ngCookies/provider/$cookiesProvider

[2017-02-27 02:33] jblair87 commented on #2033
@jaredsilver that is what I was trying to say. this looks great!

[2017-02-27 02:33] jblair87 commented on #3093
@seanlip I was trying to reference why the issue was created in the first place. I do apologize as I was definitely not clear. You hit the bullet in saying it just stays forever. The other issue is that it is not responsive.

[2017-02-27 03:01] markhalpin commented on #2033
@pratik4 there is one comment I'd make, and it might be tricky to implement. The top alignment looks very good. But, with only two collections/explorations, the whole thing looks a little off-center on the page. When there are three reading across, it looks great. I think with only one card, it would look off-center as well.

Would it be possible to center the array on the page, whether the array

[2017-02-27 04:37] anthkris commented on #3082
Realized that we have a new collection page, so I gave that a look and here's what I found:
## New Collection Page

- [ ] The elements on the collection path visualization are read as "image, link, number, group, number." There's no context as to what I'm hearing.
- [ ] Using the tab key does cycle through the elements on the collection path but there is no visual indication of which exploration e

[2017-02-27 13:05] srikar0896 commented on #3074
@seanlip can I proceed on this issue.?

[2017-02-27 19:17] shivamluthra commented on #3120
@Oishikatta Is this issue done or should i send a patch for it ?

[2017-02-27 19:40] Oishikatta commented on #3120
Hi @shivamluthra, it looks like a pull request has already been submitted for this issue. Click on Recommended Projects above to find other issues if you'd like! Thanks!

[2017-02-27 20:05] seanlip commented on #3074
Yes, you can take it. Please provide a description of your implementation approach (+ mocks of how it will look like) before starting implementation. If that looks good, we'll assign this issue to you. Thanks!

[2017-02-27 20:08] shivamluthra commented on #3121
@Oishikatta sending PR for this one would be fine ?

[2017-02-27 20:19] srikar0896 commented on #3074
Ok

[2017-02-27 20:22] seanlip commented on #3121
@shivamluthra -- you can check this by yourself, actually. If the issue is not assigned to anyone and, after reading through the list of PRs, you don't see a PR created for it (sometimes github forgets to auto-link the two), it's fair game for working on.

[2017-02-27 21:10] srikar0896 commented on #3074
@seanlip is it a good idea to create a directive for the content card.in which we watch the height of the the content card .If height exceeds 630px we will append a span or alert message(will decide after implementation)to the end content card.?

[2017-02-27 21:15] seanlip commented on #3074
Creating a separate off-screen directive could work, yes. For feedback on the span/alert message we would need to see a mock showing the proposed behaviour.

[2017-02-27 21:17] srikar0896 commented on #3074
Ok

[2017-02-27 21:24] chaofz commented on #3121
I guess this issue was caused by the CSS layout of the main content and the footer. Maybe setting a fixed height for the footer is not a thorough solution? I also found this issue happening on the mobile version of [https://www.oppia.org/contact](https://www.oppia.org/contact).

[2017-02-27 22:03] jacobdavis11 commented on #433
That sounds like a good approach. Your url structures make sense and shouldn't be too much hassle for users to copy and paste.

[2017-02-28 01:56] jasonc1 commented on #3122
@Oishikatta hi I am going to attempt to pick up this issue! I was wondering if you had any tips for me as to where I should look for and how I can accurately test this... for mobile?

Thanks in advance!

[2017-02-28 05:06] wxyxinyu commented on #3099
To contributors: to fix this issue, replace the strings in extensions/interactions/ItemSelectionInput/validator.js, and extensions/interactions/MultipleChoiceInput/validator.js, as well as the tests.

[2017-02-28 05:10] wxyxinyu commented on #3095
Discussed in TL meeting, we won't be fixing this because changing the site language is different from localizing content.

[2017-02-28 05:10] #3095 closed

[2017-02-28 06:09] #3027 closed

[2017-02-28 06:56] anmolshkl commented on #2986
Hi @giritheja, can you please add the issue to the [project page](https://github.com/oppia/oppia/projects/4). Thanks!

[2017-02-28 07:04] #3120 closed

[2017-02-28 07:58] seanlip opened #3129 "Fix missing moderator/admin and notification indicators next to user avatar."
To reproduce:
1. Log in as an admin.
2. Go to /admin and select the Config tab.
3. Enter the current user's username in the "list of moderator usernames" section.
4. Go to /library.

It used to be the case that, in the top right, this would show a little "M" next to the username.

![old](https://cloud.githubusercontent.com/assets/10575562/23396281/f68a5236-fd47-11e6-99b8-8055e9f60775.png)

However

[2017-02-28 07:59] seanlip commented on #3129
Btw, note that the same applies to the number of notifications, which is displayed in a little circle in the top right.

@Oishikatta, would you mind looking into this? I think it arose when some of the navbar changes happened, but I'm not sure why. Thanks!

[2017-02-28 08:08] giritheja commented on #2986
Updated.

[2017-02-28 08:13] 95adityajain commented on #3011
@andromfins can you let me know if you want smooth scroll effect or fade effect.

if smooth scroll, then what i had searched so far is that, $anchorScroll is not compatible with $ngAnimate, so either has to write smooth scroll service in plain js or use some third party library.

[2017-02-28 08:19] seanlip opened #3131 "Add a footer bar at the bottom of the collection player, similar to that for the exploration player."
Steps to reproduce:

1. Log in as an admin.
2. Go to /admin and, in the bottom of the Activities tab, click "Reload collection".
3. Go to /collection/0.

We would like to add a footer to the collection editor, similar to that in the exploration editor. Here is a mock showing the intended behavior, but please note that "Share this Exploration" at the bottom should be "Share this Collection" instead

[2017-02-28 08:19] seanlip commented on #3131
/cc @kevintab95

[2017-02-28 08:31] seanlip opened #3132 "Audit the site for missing translations."
We would like Oppia to be available to users in many languages, and have implemented a translation framework for doing this. In order to change the platform language, a user can scroll down to the footer and select a different language from the dropdown menu.

However, there are some inconsistencies. On a number of pages, certain strings are not being translated. For example, on the Preferences pa

[2017-02-28 08:31] seanlip commented on #3132
/cc @Arunabh98 (since this partly relates to subscriptions)

[2017-02-28 08:39] andromfins commented on #3011
Yes, a smooth scroll effect would be good, i think.

On Tue, Feb 28, 2017 at 8:13 AM, Aditya Jain <notifications@github.com>
wrote:

[2017-02-28 08:40] seanlip commented on #3011
Hi @95adityajain, I seem to remember we do some animation stuff in exploration_player.html (when opening the "previous answers" section in the tutor card if repeated answers have been submitted to the same card). Might be worth taking a look at that!

[2017-02-28 08:43] himanshu-dixit commented on #3109
![Uploading Email.png…]()
Link to Resource File - https://drive.google.com/open?id=0B_FkUGVcI4nadTFKcVZ5VXVKWnM, currently layers are not properly arranged/named but there aren't many layer, so it will do the work for now. I'll try to name and arrange them afterwards.
Also @seanlip  for #3023, we can add "Go TO Dashboard" as single CTA button and individual feedback message with link in a list. I'

[2017-02-28 11:13] goelrohan6 commented on #3121
Can i issue a pull request being this  issue been assigned to someone else ?

[2017-02-28 11:16] shiri04 commented on #2860
can I work with this issue?

[2017-02-28 11:36] goelrohan6 commented on #3101
![image](https://cloud.githubusercontent.com/assets/14099191/23403864/2028eb44-fdd8-11e6-87fe-f7bfdb0e0f49.png)

The tooltip is not appearing in my case ?

[2017-02-28 12:07] srikar0896 commented on #3074
@seanlip what should be there in the warning message?
![image](https://cloud.githubusercontent.com/assets/17567875/23404733/7a6dbae0-fddc-11e6-883c-ed48996859a8.png)

[2017-02-28 12:44] goelrohan6 commented on #3099
@wxyxinyu

i changed the string in three files,

- extensions/interactions/ItemSelectionInput/validator.js

- extensions/interactions/MultipleChoiceInput/validator.js

- extensions/interactions/MultipleChoiceInput/validatorSpec.js

and on running bash scripts/run_presubmit_checks.sh im getting an error

	Error: Expected [ { type : 'error', message : 'Please add something for Oppia to say in the al

[2017-02-28 15:16] himanshu-dixit opened #3135 "Switch from static image resources by using existing font awesome icons"
As we're using font awesome as external library, it'll be good idea to use existing font awesome icon.
Identify all the resource that can be replace with equivalent HTML+CSS code and convert by utlizing Font-awesome library.
Some images that can be replace.
1.) Sign in with Google.
2.) Social media icons in footer.
A square block element can be created [with HTML] and icons can be positioned. List

[2017-02-28 15:35] himanshu-dixit opened #3136 "Fix alignment of oppia meaning text on about page."
Change the alignment of text Oppia "O-pee-yah" (Finnish) - "to learn".
![screenshot from 2017-02-28 21-02-27](https://cloud.githubusercontent.com/assets/6849438/23411730/3ebb19bc-fdf9-11e6-8aef-b056f76d038a.png)

P.S.- @jaredsilver Can you confirm if this is bug or was it intended to be on right side?

[2017-02-28 17:30] rachelwchen commented on #3074
I'd prefer something more gentle & less computer-ish -- just in case the
users don't know what 630px means. Something like

"You've reached the suggested card height!"

Also, I feel that the red text combined with the (!) icon makes the message
look like an error message, rather than a friendly reminder. Perhaps pick
another color -- blue or orange? --  OR take the (!) out?

Thank you @srikar.ch!

[2017-02-28 17:52] 1995YogeshSharma commented on #3131
is someone working on this ?

[2017-02-28 20:33] seanlip commented on #3121
See my comment above to @shivamluthra. You could, but it would duplicate a PR that already exists, so it's likely to be wasted work (unless that other PR is stalled for some reason).

[2017-02-28 20:39] seanlip commented on #3131
@1995YogeshSharma -- you can check this by yourself, actually. If the issue is not assigned to anyone and, after reading through the list of PRs, you don't see a PR created for it (sometimes github forgets to auto-link the two), it's fair game for working on.

[2017-02-28 20:41] seanlip commented on #2860
Sure -- any issue that is not assigned to anyone, and for which there's no fix currently appearing on the list of PRs, is fine to work on.

[2017-02-28 21:34] #3063 closed

[2017-03-01 03:38] jaredsilver commented on #3136
Nice catch, @himanshu-dixit! That does seem rather odd being pulled to the right like that. Centering it would probably be better.

[2017-03-01 03:46] shiri04 commented on #2860
thanks @seanlip  :+1:

[2017-03-01 03:47] jaredsilver commented on #3109
Perhaps an alternative solution here would be to create helper functions that return the relevant HTML for a given design element. For example, we don't need to include the CTA button in every email. Instead, we could define a function to the effect of `generateHtmlForCtaButton` that takes two parameters, `url` and `text`, and then returns the appropriate HTML.

I'm not sure what the best approach

[2017-03-01 03:48] goelrohan6 commented on #3121
@shivamluthra any progress with the PR ?

[2017-03-01 04:56] goelrohan6 opened #3139 "Error running backend tests"
I ran backend test
` bash scripts/run_backend_tests.sh
`

- I am using linux mint and Python 3.4.3

![image](https://cloud.githubusercontent.com/assets/14099191/23446446/53fa1128-fe69-11e6-97cc-75184619b5c9.png)

[2017-03-01 04:58] goelrohan6 commented on #3136
@jaredsilver can i take this issue ?
I unable to issue a PR due to #3139
can you help me with #3139 so that i can issue a pr for this issue

[2017-03-01 05:01] seanlip commented on #3139
Have you run bash scripts/start.sh? Did google_appengine download fully?

[2017-03-01 05:05] goelrohan6 commented on #3139
@seanlip
Yes with bash scripts/start.sh i am able to run the server and the app, but the issue is still there with bash scripts/run_backend_tests.sh

[2017-03-01 05:07] seanlip commented on #3139
Does ../oppia_tools/google_appengine_1.9.19/google_appengine/google/appengine/datastore exist and is it non-empty?

If so, I'm guessing it's an issue with your pythonpath or sys.path. I'm afraid you'll need to investigate how to fix that by reading the scripts, as I don't know what the environment is like on your local machine.

[2017-03-01 05:11] goelrohan6 commented on #3139
@seanlip yes

what should i do now ?

[2017-03-01 05:13] 1995YogeshSharma commented on #3064
following is the output displaying classes that belong uniquely to corresponding directive files.
https://docs.google.com/document/d/1rL_ZgemZCUQj6YHBmTGx8I3uyyNtbQSI8QfcM6QIgXY/edit?usp=sharing

following is the link to the script used to generate this output .
https://gist.github.com/1995YogeshSharma/b46414aa18f0449e69dfd7e82f33a2df

[2017-03-01 05:19] seanlip commented on #3139
You'll need to debug, I'm afraid. Read the test script, and check your PYTHONPATH, and make sure that there's an entry pointing to the location of the google_appengine folder. Look at the setup scripts and understand what they do. Overall, though, you'll need to do a bit of digging and investigation, since it's almost certainly a local environment issue (unless other folks start reporting similar

[2017-03-01 07:08] goelrohan6 commented on #3139
@seanlip
 In

I tried printing os.environ.get('PYTHONPATH'), and it showed none.
Is the problem somewhere here ?

Please bring someone to rescue to get this issue solved for me , im unable to issue a PR due to this issue  :(

[2017-03-01 08:05] srikar0896 commented on #3074
![image](https://cloud.githubusercontent.com/assets/17567875/23450911/909d78ee-fe83-11e6-82da-6bf284e48ce2.png)

@rachelwchen @seanlip please review the directive before i make a commit if any changes are required.
`oppia.directive('heightWatcher', [function() {
  return {
    restrict: 'A',
    link:function(scope, element, attrs) {
    scope.$watch(
      function() {
        return element[0].o

[2017-03-01 08:14] seanlip commented on #3074
Although we can review mocks/screenshots in an issue (though I'll defer to @rachelwchen on this), we recommend submitting a PR if you actually want code to be reviewed. This is because, in an issue, we can't leave things like line comments.

[2017-03-01 08:16] seanlip commented on #3139
I'm sorry -- I don't know why this is going on, and I don't think there's anyone who can "rescue" you, since we don't know what the problem is either, and no one else seems to be running into it. The advice above is the best I can give you.

[2017-03-01 08:17] pdalavi commented on #3093
Hi I would link to work on this issue, Plan is to dismiss tooltip after a click on help button or after some time out.

[2017-03-01 08:19] seanlip commented on #3093
Sounds good, but please follow the instructions at https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up (including signing the CLA) before working on any issues, otherwise we can't accept your code. Thanks!

[2017-03-01 08:23] srikar0896 commented on #3074
@seanlip made a PR #3140

[2017-03-01 08:33] rachelwchen commented on #3074
I like it a lot! The message looks much friendlier now. I think a little
more padding between the message and the bottom of the card will make it
look nicer. Lastly, I'm not sure whether the message should align to the
left or to the right of the card -- the left alignment feels a little off
to me, but that might just be me-- @markhalpin thoughts?

On Wed, Mar 1, 2017 at 12:23 AM, srikar.ch <notif

[2017-03-01 08:45] srikar0896 commented on #3074
@rachelwchen
![image](https://cloud.githubusercontent.com/assets/17567875/23452210/8421029c-fe89-11e6-9af4-57131ee6468a.png)

[2017-03-01 09:36] SudhanvaMG commented on #3101
@goelrohan6  The save draft which is appearing below the discard draft is the tool tip .

[2017-03-01 13:20] goelrohan6 commented on #3139
@seanlip I found something, the main error that is triggering is this

    parent, obj = obj, getattr(obj, part)
AttributeError: 'module' object has no attribute 'resources_test'

here is the StackOverflow link to it http://stackoverflow.com/questions/25575073/attributeerror-module-object-has-no-attribute-tests,

now can you help me where to run `from SOME DIRECTORY import *
`

[2017-03-01 15:22] markhalpin commented on #3074
I agree that we want a little more padding between the card and the limit message. I'd say whatever the height is now between the top of the lower case letters and the card, let's make that the space between the card and the top of the "i" circle.

[2017-03-01 17:33] lovingyugs opened #3143 "Title-text alignment Issue on oppia library page"
Single word breaks down into multiple lines in the div having class="title-section" in the carousel. For example

The word Programming breaks down to program(in one line), ming(in another) or Carla breaks down to C & arla which does not give full meaning to the new-comers.

Observed Bugs :

![wrong1](https://cloud.githubusercontent.com/assets/9073610/23472453/db2af54a-fed2-11e6-98a0-d7a62911631c.P

[2017-03-01 20:02] jacobdavis11 commented on #3143
Good catch, this would be nice to have fixed.

[2017-03-01 20:05] seanlip commented on #3143
Could someone please review #3130? That was the point of that PR.

[2017-03-01 20:36] jacobdavis11 commented on #3143
Closing as this has been fixed elsewhere. @lovingyugs  I suggest you have a look through the projects with the "starter-project" label if you'd like something else to work on.

[2017-03-01 20:36] #3143 closed

[2017-03-02 00:28] Oishikatta commented on #3129
This is caused by where I set to font-size to 0 in the navbar, and the font-size for those being em units they inherit that 0.

I think I can fix it by changing from 1.6/0.7em to 1.12rem (relative to root instead of parent). I just need to test and I'll get a PR submitted tonight or tomorrow.

[2017-03-02 02:11] jaredsilver commented on #3136
Hi @goelrohan6 -- it looks like @austinprog has already given it a shot.

If you're still experiencing trouble due to #3139, it may be worth sending a message in our Gitter chat to see if other contributors have experienced something similar. That can be done [here](https://gitter.im/oppia/oppia-chat).

[2017-03-02 05:38] jasonc1 commented on #3122
@Oishikatta If you have time, could you provide some insight on my previous comment? Thanks!

[2017-03-02 06:03] DubeySandeep opened #3146 ""Restart From Beginning" Button is not responding"
While previewing the created exploration, there is a "Restart From Beginning" Button at the bottom of the page, which is not working.
Steps to reproduce:
1. Login.
2. Create a new exploration.
3. Add some slides/interaction.
4. Preview the exploration at any of those slides.
5. Press "Restart From Beginning" Button ( at the bottom of the page)
NOTHING HAPPENS! (expected to start the preview from t

[2017-03-02 08:19] seanlip commented on #3146
@DubeySandeep, can you please provide clear minimal repro instructions starting from a clean dev server? See e.g. the way this is explained: https://github.com/oppia/oppia/issues/3131

Thanks!

[2017-03-02 08:21] seanlip opened #3147 "Ensure that methods in MultipleChoiceQuestion (and others) in the simple editor follow appropriate error-handling conventions."
This comes from a discussion of error-handling in the simple editor with @BenHenning. The aim of this issue is to refactor MultipleChoiceQuestion following these rules:

- For operations like addChoice() and others:
  - If the operation can just succeed/fail, return a bool
  - If it can fail in interesting ways, return a custom enum for the method, defined as in [this example](http://www.advancesh

[2017-03-02 08:31] DubeySandeep commented on #3146
Done!
Thanks :)
@seanlip

[2017-03-02 08:34] seanlip commented on #3146
/cc @tjiang11, @arun1595 -- just to check, this doesn't happen to be related to the bug that was fixed in #3125, does it?

[2017-03-02 08:44] brucefeynman commented on #3146
can I start to work on this?

[2017-03-02 08:45] seanlip commented on #3146
Sure! Please accept the invitation at github.com/oppia and then feel free to assign yourself to it.

[2017-03-02 09:14] seanlip commented on #3136
@austinprog -- you should be aware that we can't accept any code until you've followed the "getting started" instructions (CLA, survey, etc.) -- see https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up.  Could you please do this before submitting anything? Thanks!

[2017-03-02 10:03] Oishikatta commented on #3122
Sorry,

I believe it would be this file: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/forms/schema_editors/schema_based_float_editor_directive.html

Notice how in this other file, type=number is already used: https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/forms/schema_editors/schema_based_int_editor_directive.html

For testing on iP

[2017-03-02 10:05] brucefeynman commented on #3146
When I try to fix this bug, I notice that if I press the "Preview" button in the navigator at the top, it is not working(after step 4 described above).  I am not sure wether it was designed to work like this, but personally I think adding this functionality will be more user-friendly.
![6c868d02-ff3b-11e6-9cf1-c880525d1638](https://cloud.githubusercontent.com/assets/20383674/23502411/c4931fce-ff72

[2017-03-02 13:19] srikar0896 commented on #3074
@markhalpin @rachelwchen
![image](https://cloud.githubusercontent.com/assets/17567875/23508691/e980774a-ff78-11e6-99c5-828b44f2a8c6.png)

[2017-03-02 15:31] markhalpin commented on #3074
lgtm. thanks!

[2017-03-02 16:02] shivanXI commented on #3136
@seanlip please have a look at my solution

[2017-03-02 18:08] rachelwchen commented on #3074
Looks good! Thank you.

On Thu, Mar 2, 2017 at 7:31 AM, Mark Halpin <notifications@github.com>
wrote:

--
Rachel Chen

[2017-03-02 22:04] jestapinski commented on #3025
I would like to take a look at this.

[2017-03-02 22:10] wxyxinyu commented on #3025
@jestapinski sounds good! Please do follow https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up for joining the org and setting things up, so I can assign the issue to you.

[2017-03-02 22:13] jestapinski commented on #3025
Just finished the setup!

[2017-03-02 22:16] wxyxinyu commented on #3025
Great, I invited you to the repo. lmk if you have any trouble on the issue!

[2017-03-02 23:11] jacobdavis11 commented on #3139
From what you've written it seems that you are getting an import error for a module that is in fact present. I suggest you try playing around with e.g. Can you import nearby modules from appengine into Oppia? Can you import the problematic python module from a minimalist python script running outside of Oppia? Hopefully that will uncover some issue, probably of the kind Sean mentioned.

By the way

[2017-03-03 02:00] seanlip commented on #3074
So I'm not too worried about the visuals, but I have a question about the text -- is it actually understandable? Would authors know what the "suggested card height" is? Who suggested it, where did this number come from, etc.?

I was thinking that maybe something along the lines of:

"This card is quite long, and students might lose interest. Consider shortening it, or breaking it into two cards."

[2017-03-03 02:10] rachelwchen commented on #3074
@seanlip You're right, I agree. I think the length of your message isn't
too bad, actually -- as long as it doesn't exceed two lines.

On a second thought, is there perhaps another word for "card"? I know we
refer to it as a card, but would creators (especially first-time creators)
know that?

Thanks!

On Thu, Mar 2, 2017 at 6:00 PM Sean Lip <notifications@github.com> wrote:

--
Rachel Chen Sent f

[2017-03-03 02:12] seanlip commented on #3074
That, I don't know. The context may be sufficient to indicate what the message refers to, though, so I'm fine with "card" unless anyone has a better suggestion.

[2017-03-03 02:22] #2966 closed

[2017-03-03 02:30] tjiang11 commented on #3146
Hi @brucefeynman . Looks like this bug was introduced by my PR https://github.com/oppia/oppia/pull/2883 since in PreviewTab.js, resetPreview() calls loadPreviewState() but I changed the functionality of loadPreviewState() to only load settings from the editor rather than the state/exploration itself (so maybe this could actually be replaced with a better name). You'll want to make it so that reset

[2017-03-03 02:35] seanlip commented on #3146
Hi @brucefeynman -- with regards to the question you brought up in your comment, let's file a new bug for that and handle it separately. I am not sure what the correct behaviour should be here, but it should be possible to fix the existing bug while leaving that one for later. Thanks!

[2017-03-03 02:40] Oishikatta commented on #3129
PR: https://github.com/oppia/oppia/pull/3150

[2017-03-03 02:47] anthkris commented on #3025
@jestapinski Also feel free to ping me if you need any further clarification!

[2017-03-03 04:10] jaredsilver commented on #3146
Thanks @DubeySandeep! I was able to reproduce this successfully.

[2017-03-03 04:25] Arunabh98 commented on #3074
@seanlip the message looks fine to me. Also I think creators would be able to understand 'card' in this context.

[2017-03-03 05:20] anmolshkl commented on #3074
@seanlip I think the message is not "computer-ish" and it conveys the right message! I really liked the suggestion - "consider shortening it, or breaking it into two cards". If the message can be displayed in a way that is neither too glaring nor visually unappealing then I'm absolutely fine with seeing this message (as a creator).

[2017-03-03 08:09] #3129 closed

[2017-03-03 08:24] seanlip commented on #3146
Hi @brucefeynman, I still can't seem to assign you to this issue. Could you accept the invitation at github.com/oppia?

Thanks!

[2017-03-03 09:39] seanlip commented on #2160
Hi @526avijitgupta! Just thought I'd send a reminder ping on the breakdown, since this would probably make a good set of starter projects, I think. Thanks!

[2017-03-04 05:34] 1995YogeshSharma commented on #3131
I have a few doubts :-
How is a collection created ? is it a combination of some explorations or is it separately created ?
In what order should the authors be shown when someone hovers over 'author profiles' ?

[2017-03-04 08:45] brucefeynman commented on #3146
Sorry,@sean, I didn't get it either from my email or oppia home page on github. I don't know what went wrong. Maybe I open too many github pages? Please add me one more time. Thanks

[2017-03-04 10:34] jamesthechamp commented on #3147
hey, @seanlip if no one is implementing this feature.. can i work on this..??

[2017-03-04 13:04] shivanXI commented on #3136
@jaredsilver please have a look  at changes i have done

[2017-03-04 13:52] shivanXI commented on #3093
If anyone is not working on this issue can i work on it ??

[2017-03-04 14:01] pratik4 commented on #3093
@pdalavi had shown interest working on this issue.

[2017-03-04 14:02] pratik4 commented on #3093
@pdalavi  are you working on the issue?

[2017-03-04 16:17] himanshu-dixit commented on #3011
Fixed #3138

[2017-03-04 16:17] #3011 closed

[2017-03-04 17:40] pratik4 commented on #3131
@1995YogeshSharma ,
Collection is combination of explorations.

to create a collection.
Navigate to http://localhost:8181/admin.
click in config tab and enable collection editer by adding your username.
navigate to http://localhost:8181/dashboard and click on create, create a collection.

[2017-03-04 18:20] jacobdavis11 commented on #3147
Please do :-) I've assigned it to you.

[2017-03-04 18:28] jacobdavis11 commented on #3015
Hi @SudhanvaMG , how is this going?

[2017-03-04 18:30] jacobdavis11 commented on #2987
Hi @Andimeo, how is this going? If you have a commit that fixes the issue then please create a PR and ask for a review.

[2017-03-04 18:31] jacobdavis11 commented on #2985
Unassigning @kevintab95  for now. Please re-assign yourself if you'd still like to work on the issue.

[2017-03-04 18:37] jacobdavis11 commented on #2942
This seems like a tricky thing to test, especially via Mechanical Turk. What question would you ask exactly?

[2017-03-04 18:43] jacobdavis11 commented on #2744
Hi @rachelwchen , how is this going?

[2017-03-04 18:44] jacobdavis11 commented on #2550
Hi @kirankonduru , how is this going?

[2017-03-04 18:48] jacobdavis11 commented on #2429
Hi @ubhisat , how is this going?

[2017-03-04 18:52] jacobdavis11 commented on #2039
Hi @Anthony-Alridge , how is this going?

[2017-03-04 18:53] jacobdavis11 commented on #2032
Hi @kevinlee12 , how is this going?

[2017-03-04 18:55] jacobdavis11 commented on #2030
Hi @souravbadami , are you planning to do the frontend parts of this?

[2017-03-04 18:55] kevinlee12 commented on #2032
Hi @jacobdavis11, I am actually in the process of breaking this issue down (I won't be actually be implementing this), until then, this issue isn't supposed to be assigned to anyone else. I'll get to this by the end of the weekend.

[2017-03-04 18:56] jacobdavis11 commented on #1675
Hi @AllanYangZhou , how is this going?

[2017-03-04 19:02] jaredsilver commented on #2942
@jacobdavis11 we actually ran a preliminary experiment with this. Here's how we did it:

We wrote a [simple script](https://github.com/jaredsilver/mturk_googleform_randomizer/blob/master/index.html) that randomly assigned each MTurk worker and a randomized ID to one of the following forms:

- [Library](https://docs.google.com/forms/d/e/1FAIpQLSf26dDHqVh_k7UNWRvX3rpVGeEF4MJlKHuqX1E3k9h8VAPxsQ/viewf

[2017-03-04 19:07] jacobdavis11 commented on #2942
That's very interesting, thanks for the explanation!

It would be nice if we had a way to measure how inviting each word feels. It's reasonable that people would expect "Lessons" to lead to educational material, but it might be a bit intimidating for people who have only spent a few seconds on the website looking at the splash page.

[2017-03-04 19:17] jacobdavis11 commented on #2987
Sorry, I didn't notice that the PR work was still ongoing.

[2017-03-04 19:21] seanlip commented on #2942
/cc @markhalpin FYI (just for interest, no action needed)

[2017-03-04 19:24] seanlip commented on #3131
Thanks @pratik4 for the pointer!

@1995YogeshSharma -- for your last question, we generally sort (in descending order) by number of commits. However, it's fine to do this in a separate PR, since currently collections often have just one author.

[2017-03-04 19:38] seanlip commented on #3146
That's odd -- you do still seem to be in the "invited" list. Try https://github.com/oppia/oppia/invitations ?

[2017-03-04 23:43] DubeySandeep commented on #3146
that was just by mistake! I was searching for @brucefeynman and accidently I was assigned.

[2017-03-05 02:49] souravbadami commented on #2030
Hi @jacobdavis11 -- It's ongoing on this PR: #2802.

[2017-03-05 08:06] 1995YogeshSharma commented on #3131
@pratik4 ... thanks

@seanlip .... when creating a collection, user has a option to add existing explorations also, so taking all the committers in account is a better option, i think. Plus, in 'exploration summary object' there's an object 'human_readable_contributors_summary' which tells details about authors but i don't see such thing for the collection as a whole which tells the author of coll

[2017-03-05 08:10] seanlip commented on #3131
You know, that's a good question -- thanks for asking it. I'm actually now leaning towards leaving the "author profiles" part out for now and leaving the sharing buttons only.

The reason I think this is that the author profiles sort of indicate who has "responsibility" for the collection. If you show the exploration authors there then they might not be able to handle bugs that are reported to the

[2017-03-05 08:11] seanlip commented on #2985
Actually, @kevintab95 -- you are still working on this, right?

[2017-03-05 08:49] 1995YogeshSharma commented on #3131
@seanlip ... yeah, right.
Also, I saw that when I send a get request to '/collectionsummarieshandler/data', I get this response
![image](https://cloud.githubusercontent.com/assets/9693472/23585837/5d337a0c-01ae-11e7-8948-90778e4e684c.png)

Is the _username_ shown here in data the author of the collection ?
If yes, I think we can put this name in author profiles.

[2017-03-05 09:12] seanlip commented on #3131
You should be able to check this, but I think it's just the current user.

[2017-03-05 09:19] 1995YogeshSharma commented on #3131
Yes, it was the current user. So, for now we leave the author part and just show sharing part, right ?

[2017-03-05 09:20] seanlip commented on #3131
Yes, I think so.

[2017-03-05 12:38] shivanXI commented on #3093
@pratik4 please assign me this issue because i am not able to assign it to myself as you mentioned on gitter.

[2017-03-05 12:43] pratik4 commented on #3093
please follow the instructions at https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up (including signing the CLA) before working on any issues. After completing this task you would bd able to assign yourself to the issue.
 Thanks!

[2017-03-05 13:23] shivanXI commented on #3093
Done

[2017-03-05 15:15] #3066 closed

[2017-03-05 16:38] kevintab95 commented on #2985
@seanlip yep, but there's been some delay. I'll try to send in a PR this week. Thanks!

[2017-03-05 18:42] jasonc1 commented on #3122
Thanks for the response!

After some testing and looking around, I made the change in schema_based_float_editor_directive.html and I found that the numpad will show on android tablets, but there is no way to test it on mobile screen sizes since the preview button is not shown (I tried looking around, but I am not sure it can be displayed - even with both orientations).
<img width="341" alt="screen

[2017-03-05 20:38] himanshu-dixit opened #3158 "Save the current state of exploration editor [Simple Editor Branch]"
**Current behaviour**
After reloading the exploration, the exploration opens in simple-editor mode regardless of previous mode.

**Desired behaviour**
Save the state of editor and open the exploration in that mode.

_To Reproduce_

- Create Exploration
- Click on Advance Editor Button in bottom right corner.
- Reload the exploration editor.

/cc @seanlip @andromfins should the state must be saved

[2017-03-05 22:23] seanlip commented on #3158
I would say that it depends on the state of the exploration, actually. I.e., when the editor is first opened, check if the exploration "makes sense" in simple editor mode. If so, show it in simple editor mode, otherwise show it in advanced editor mode.

[2017-03-05 22:29] #3136 closed

[2017-03-05 22:30] seanlip commented on #3093
You should have gotten one now -- please see github.com/oppia. Sorry for the delay!

[2017-03-05 22:33] #2987 closed

[2017-03-06 00:18] seanlip commented on #3131
Btw, @1995YogeshSharma -- if you're working on this, please assign yourself, so that others know it's taken. It would be good to finish your outstanding PR first, though.

Thanks!

[2017-03-06 00:24] jasonc1 commented on #3122
After doing some research, I think the best bet would be to stick with using input="number" despite the numpad for IOS only showing up for numeric patterns like telephone numbers (essentially non-float numbers).

With that, if non decimal or non numeric characters are inputted, the form will validate/flash red so I believe nothing else should be done to filter out bad inputs.

[2017-03-06 00:30] seanlip opened #3159 "Flaky e2e test in the misc suite"
The misc e2e test suite keeps failing occasionally with the following error. This is a flaky error that often goes away on a test re-run.

This is quite irritating and necessitates multiple test restarts. It should be fixed.

(@Andimeo -- is this the error you noticed?)

[code]

[2017-03-06 01:49] rachelwchen commented on #2744
Hi @jacobdavis11,

Sean and I explored this in 2 directions.
**First**: remove factors that cause students to leave in the middle of a lesson:
I interviewed 4 users and asked them to think out loud while completing an exploration. This helped us understand their thought process & evaluate things that may have led to frustrations and dropout. You can read more about it here: https://docs.google.com

[2017-03-06 01:56] Oishikatta commented on #3122
I agree, just type="number" is most likely the best solution.

For testing on mobile, simply publish the exploration (via a computer if needed) and then visit the library on your mobile device.

Submit a PR when you're ready and I can do testing on various iOS and Android versions to make sure there are no unexpected issues.

[2017-03-06 01:57] jasonc1 commented on #3122
Will do the PR soon. And yeah I found out about publishing the exploration via computer and visiting it on my iphone.

Thanks for the input though!

[2017-03-06 02:32] wxyxinyu commented on #3094
Hey @kevinlee12 @pratik4 -- I think there's been a slight miscommunication here. I meant that we should add a navigation link to scroll the "License" part of the foundation tab into view, so that when the user clicks on the license link, they see the license. Right now, the user sees a description of the Oppia foundation, which is still confusing.

[2017-03-06 03:02] kevinlee12 commented on #3094
Ah, thanks for letting me know!

On Sun, Mar 5, 2017 at 6:32 PM, Xinyu Wu <notifications@github.com> wrote:

[2017-03-06 03:04] Andimeo commented on #3159
@seanlip I constantly encounter the following error.

`[[90m10:17:08[39m] I/testLogger - [chrome #01-4] PID: 8471
[chrome #01-4] Specs: /home/travis/build/oppia/oppia/core/tests/protractor/staticPagesTour.js
[chrome #01-4]
[chrome #01-4] [10:16:32] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[chrome #01-4] Spec started
[chrome #01-4] Started
[chrome #01-4]
[chrome #01-4]

[2017-03-06 04:39] shivanXI commented on #3093
No problem @seanlip :)

[2017-03-06 06:06] #2039 closed

[2017-03-06 08:18] 526avijitgupta commented on #2445
Closing after discussion with creators over email. The general opinion seems to be that there's no need to display this information in the dashboard because it's not important to creators, and it would lead to cluttering the summary tiles on the dashboard page.

[2017-03-06 08:18] #2445 closed

[2017-03-06 09:47] seanlip commented on #3028
Note: current PR is in #3116.

[2017-03-06 11:01] diaotai commented on #1251
I'm new to oppia so I don't know the specific situation.I can only make a suggestion: we could make a css animation to achieve this goal, for example
`.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #00F000;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end

[2017-03-06 11:02] seanlip commented on #1251
Please read my previous comment carefully (blinking is already fixed).

Also, in general, we do not add code to issues; it's very hard to read, and it's impossible to tell if it works. Instead, please feel free to submit a PR when you have a solution, but only do so after you've tested it carefully locally and made sure it works. Thanks!

[2017-03-06 11:20] diaotai commented on #1251
I'm sorry for what I have done just now...

[2017-03-06 11:28] seanlip commented on #1251
It's OK. There's always a first time for everything! Now you know, though :)

[2017-03-06 12:41] vojtechjelinek opened #3162 "Investigate wrongly cached files in production."
Find out why all CSS, js and SVG files have Cache-Contents max-age set to 600 and not 2592000 at production (oppia.org). This problem is only in oppia.org and not in local dev/prod environment.

[2017-03-06 13:07] vojtechjelinek opened #3164 "Investigate data appended to every request between frontend and backend."
Currently, basic values are included in every request, these values are added in `BaseHandler` class, the most critical is `profile_picture_data_url`, because it’s around 10 kB of data.
We should probably have some cache with these basic values and/or request them fewer times that now.

[2017-03-06 14:15] vojtechjelinek opened #3165 "Find general way to cache directives."
The most straightforward approach would probably be, to just include the directive template HTML within its corresponding directive JS as a ‘template’ (instead of linking it with templateUrl), not manually, because this would be inconvenient for development, but in the build process.

This issue needs more research, as mentioned.

Regarding performance, around 30 of {% include component %} just in

[2017-03-06 16:47] jestapinski commented on #3122
I have submitted a PR for this on behalf of @jasonc1

[2017-03-06 18:08] shivanXI commented on #3093
@pratik4 and @jaredsilver i am setting up a trigger on  popover for 5 seconds display on first visit of the creator by associating id with<li> tag to do the task and also have tried to use similar flag variable method with it but it is again showing the same can you please tell am i going on the right track to complete this task ??

[2017-03-07 04:34] jaredsilver commented on #3093
Hi @shivanXI -- from what I understand, part of this functionality has already been implemented. For example, if you refresh the page after the tooltip has displayed, you'll notice that it already knows not to display again. I would recommend that you take a look at the editor navigation directive HTML and JS files to try to determine:

a) Why the timeout is not working, and
b) How you might imple

[2017-03-07 09:14] seanlip commented on #3139
Closing, since this is a local issue that no one else has reported.

[2017-03-07 09:14] #3139 closed

[2017-03-07 15:43] shivanXI commented on #3093
ok cool thanks i was bit confused now i got the point.

[2017-03-07 16:20] anmolshkl opened #3169 "Fix the alignment of the submit button in teachOppiaModal."
**Observed behavior**: The submit button is not properly aligned with the input box in the teachOppiaModal. Also, the modal closes when any key is pressed.

**Expected behavior**: The submit button should be horizontally aligned with the input box (with some optimal padding). The modal should close only when the escape key is pressed or when the user clicks on exit button.

**Steps to reproduce th

[2017-03-07 17:39] anmolshkl opened #3170 "Make the answers corresponding to 'similar to' rule in the answer classification training interface editable."
**Observed behavior**: After creating an answer group using the teachOppiaModal in answer classification training interface, the answers (submitted by the creator) are not editable. In other words, a creator cannot delete the answers associated with the "similar to" rule type though he can add more answers with the help of training interface.

![screenshot-localhost-8181-2017-03-07-22-49-49](https

[2017-03-07 20:30] shivamluthra commented on #3121
@goelrohan6 You may have a look on this issue now if you want too as I'm currently focussed on another one presently

[2017-03-08 04:49] prasanna08 commented on #3109
Hi @jaredsilver sorry for late response. Actually I was thinking of going with 2nd approach you mentioned.

However that's not exactly how I was going to approach it. My idea was to keep all current HTML code as it is. During parsing time we can add classes to each element. So for e.g. if we have a `<ul>` element then we will add class attribute to it to give it style later during parsing. However

[2017-03-08 06:39] pdalavi commented on #3093
Hi @shivanXI - If popover is shown at bottom then it will mix with tooltip at first visit, my advice would be put it on left side and disble it after a click, (need to check the timeout thing).
 <li ng-if="isLargeScreen" class="dropdown" popover-is-open="postTutorialHelpPopoverIsShown"
-          popover-placement="bottom" popover-trigger="none"
-          popover="To get help in the future, click

[2017-03-08 07:48] #3122 closed

[2017-03-08 08:42] anmolshkl opened #3172 "Use cached classifier in classify_string_classifier_rule() method and modify the method's docstring."
Currently, the classify_string_classifier_rule method trains a new classifier every time a request for classifying an answer comes. Instead, it should use the classifier_services.get_classifier_by_id() method to retrieve the classifier from the datastore (if it exists). If the classifier doesn't exists, then, we should check whether the number of training examples are more than a pre-defined thres

[2017-03-08 08:48] seanlip commented on #3159
Ah -- @Andimeo, you've got to put triple backticks (```) before and after the trace (in GitHub Markdown) so that it renders as code, otherwise GitHub thinks you're writing HTML and ignores the spaces and `<...>` tags. Here it is:

[code]

[2017-03-08 08:48] seanlip commented on #3159
Also, I just encountered another error in the misc tests:

[code]

I wonder why there are so many in this test suite. I haven't had a chance to investigate yet, though.

[2017-03-08 09:02] anmolshkl commented on #3172
@seanlip @BenHenning we never decided the minimum number of answers required for the string classifier. Also, classification process kicks-in every time the creator submits an answer (as of now). After this issue is resolved, the ML classifier will not be created every time but instead the cached classifier will be used. @BenHenning after creator's approval of the ML classifier's outcome, would th

[2017-03-08 09:03] anmolshkl commented on #3172
@seanlip @BenHenning we never decided the minimum number of answers required for the string classifier. Also, classification process kicks-in every time the creator submits an answer (as of now). After this issue is resolved, the ML classifier will not be created every time but instead the cached classifier will be used. @BenHenning after creator's approval of the ML classifier's outcome, would th

[2017-03-08 09:07] seanlip commented on #3172
Hi @anmolshkl -- @BenHenning should weigh in on the "minimum number of answers" question, though I suspect that that is something we might need to determine by experiment. He may be able to advise on a default value, though.

For your last question, I think the answer would go into the "machine learning" section of the training data for the answer group the creator decides the answer belongs in. I

[2017-03-08 11:35] rohan-gulati commented on #3132
I've completed an initial audit of the site, and these are the missing translations (page-wise) that I have found.
(*Note: This list is not exhaustive, and I'll keep adding to it, as I find more missing translations.*)

- **Preferences** `/preferences`

    - [ ]  *Subscribed creators*
    ![image](https://cloud.githubusercontent.com/assets/13984560/23701731/fd644328-041d-11e7-85fc-bf9a151debe6.pn

[2017-03-08 11:39] Andimeo commented on #3159
@seanlip alright, thank you.

[2017-03-08 12:48] shivanXI commented on #3093
Yep !! @pdalavi thanks for your advice i have done that and currently i am cheking out timeout thing

[2017-03-08 12:54] bching commented on #2978
Hey @anthkris I've added the the skip link now. I realized that the keyboard focus would not shift after clicking the anchor link, so went with a Javascript approach to solve that. I'm not entirely sure if the code is in the right location however. It looked like the utilsServices.js is intended for those types of general functions maybe? Otherwise should it be in a separate directive or just have

[2017-03-08 15:52] anthkris commented on #2978
Howdy @bching !

Concerning your question about the most appropriate place for this code, I really don't know. In my experience, the skip navigation link normally does not contain any JavaScript. @souravbadami Might you be able to provides some guidance about the most appropriate place for JavaScript for a site-wide skip navigation link?

[2017-03-08 18:54] Arunabh98 commented on #2387
Hmm, on trying the steps to reproduce in both windows and ubuntu I am not able to reproduce this issue. The menu appears at the top as expected. I suspect this was a problem in previous versions of chrome on windows. @Sean, should we close this issue?

[2017-03-08 19:06] seanlip commented on #2387
Yep, it's OK to close if you can't reproduce. Thanks!

On Wednesday, March 8, 2017, Arunabh <notifications@github.com> wrote:

[2017-03-08 19:14] Arunabh98 commented on #2387
Closed, because we are not able to reproduce this issue.

[2017-03-08 19:14] #2387 closed

[2017-03-08 19:14] vojtechjelinek opened #3174 "Bundling JS files together."
We have noticed occasional errors in production that are almost certainly due to some file not loading in production (e.g. they will say that some Angular service dependency could not be found and raise an ImportError). This is likely due to flaky static serving, which is not entirely unexpected since we serve a lot of static files per page (e.g. in the exploration editor).

Bundle JS files that a

[2017-03-08 19:18] vojtechjelinek opened #3175 "Find general way to repeat AJAX request in Angular."
Now when the $http request fails user is notified and the error is logged. We should try to repeat the request n times, but only when we have a clue that the request error was caused by unreliable connection.

The default behavior of $http is changed in $httpProvider, so we should use that.

[2017-03-08 22:26] seanlip commented on #2978
For now it is fine to use either utilsServices.js or Base.js. Probably the former is better since we are thinking about removing Base.js/base.html.

[2017-03-08 22:35] anthkris commented on #2978
Thanks @seanlip !

Also @bching You've already researched this but I wanted to do a little digging on skip navigation links that also employ javascript and came up with this very good article from [Big Nerd Ranch](https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/) and this one from the [A11Y Project](http://a11yproject.com/posts/skip-nav-links/) which speak more about the

[2017-03-09 03:18] jaredsilver commented on #3109
Thanks, @prasanna08!

Answers to your questions:

1. I would think so. For example, we may have an inline `<a>` tag that just links some text (e.g. the "security tips" text in @himanshu-dixit's mock) but also a more prominent call-to-action `<a>` tag that is styled like a button (e.g. the "Verify email address" in @himanshu-dixit's mock).

2. This may depend on how the emails are structured from a

[2017-03-09 07:38] Oishikatta commented on #2831
This is caused by IE9 not supporting flexbox.

This could be mostly fixed with the following:

``

[2017-03-09 07:55] 526avijitgupta commented on #3175
@vojtechjelinek Seems to be a duplicate of #2142 . Can it be closed ?

[2017-03-09 09:52] #2828 closed

[2017-03-09 10:27] saeedjassani commented on #2394
@seanlip can I work on core.controllers.cron?

[2017-03-09 10:48] seanlip commented on #2394
Yep, sounds good! I've updated the list.

[2017-03-09 11:07] bching commented on #2978
All right thank you @seanlip, as it is now the code is within utilsServices.js.

@anthkris thank you for the links. I actually referenced the Big Nerd Ranch article for the javascript method, I should have linked that as well. Right now, the solution is no longer using an '<a>' link tag, but rather a '<div>' with role="button" as shown below.

![screen shot 2017-03-09 at 2 05 30 am](https://cloud.

[2017-03-09 11:58] prasanna08 commented on #3109
Hi @jaredsilver thanks for the answers.

From your answers, I would like to propose following scheme for inside body style.
In email we will specify each tag / element with a class if it needs styling. For e.g. we can specify cta button as `<a class="ctaButton" href="...">...</a>`

Now styles for this class will be given at run time using admins page on Oppia. So we can add them dynamically and ch

[2017-03-09 12:11] pdalavi commented on #3101
Can we show tooltip or popover one at a time, I think there is no significance of showing both at one time ?

[2017-03-09 12:15] arn197 commented on #3169
Hi i would like to take up this issue.

[2017-03-09 12:40] himanshu-dixit commented on #3109
@prasanna08 i like general approach, this way we can add inline CSS.
But i'm also somewhat uncertain about the tag in some cases, i did check some of the email in my email box and there's heavily nested use `<table>,<tr>s,<td>s. `
One way to do that can be blocking the parsing of block level tags and use only classes in case of blocks tags.
For 3rd, style of last class must be added at last, addin

[2017-03-09 12:42] shivanXI commented on #3093
@jaredsilver using $interval service instead of $timeout , i found that the code inside the timeout is not working and i have tried a lot of methods to perform it alternatively but again got stuck in same problem of $timeout not working. I have checked the $on and $broadcast behaviour properly but got nothing.I also think that i have to make a new custom service for it , so i want a advice .

[2017-03-09 13:47] shivanXI commented on #3169
Hi!! @anmolshkl
![img_20170309_190413](https://cloud.githubusercontent.com/assets/14607439/23752839/f2434ffe-04fc-11e7-9f84-c76acaa05b38.jpg)
After clicking submit button i am getting this is this required to be displayed to common user ??

[2017-03-09 14:35] anmolshkl commented on #3169
@arn197 a PR was already submitted by @poush for this issue (but he had not assigned himself to this issue it seems). Thanks!

[2017-03-09 17:02] anmolshkl opened #3180 "Fix the "interactionRulesService" not found error in teachOppiaModal."
**Observed behavior**: The teachOppiaModal gives a "no interactionRulesService was available" error on clicking on submit button.

![screenshot--2017-03-09-22-18-43](https://cloud.githubusercontent.com/assets/6338799/23760659/69892232-0516-11e7-96b7-ae88d57babdd.png)

**Steps to reproduce the problem:**

1. Change SHOW_TRAINABLE_UNRESOLVED_ANSWERS to True in feconf.py.
2. Create a new exploration

[2017-03-09 17:05] anmolshkl commented on #3169
@shivanXI Thanks for bringing it up but this issue has already been resolved and a PR will be submitted for the same. Perhaps you might want to take a look at the other [open issues](https://github.com/oppia/oppia/labels/starter%20project)?

[2017-03-09 20:00] seanlip commented on #3101
@pdalavi what popover are you referring to? I only see a tooltip.

If you are referring to the button text, note that on narrower windows the text collapses into an icon.

[2017-03-10 02:50] jaredsilver commented on #3109
This seems reasonable to me -- thanks, @prasanna08!

[2017-03-10 03:05] anthkris commented on #2978
Howdy @bching Yes, please do make a PR and assign me! Thanks!

[2017-03-10 03:47] jaredsilver commented on #3093
@shivanXI -- I'm afraid I can't really give you much more direction outside of going in and trying to figure out how to solve it myself :(

Also, I'm not sure I have sufficient Angular experience to be helpful in giving advice on this. Sorry!

[2017-03-10 06:19] anmolshkl commented on #2102
@SudhanvaMG are you still working on this one?

[2017-03-10 06:52] pdalavi commented on #3101
@seanlip - Sorry for confusion, i thought "Discard draft" is a popover and save draft is a tooltip.
I was wondering why we are not toggling "Save draft" to "Discard draft" ?

[2017-03-10 12:13] 526avijitgupta commented on #2160
Add tests along the following lines in dashboard_test.py:
- [ ] Visit dashboard without any explorations created.
- [ ] Create a single exploration and then visit dashboard.
- [ ] Create 2 explorations, delete one of them and then visit dashboard.
- [ ] Create 3 explorations, delete all of them and then visit dashboard.
- [ ] (Any other case which you might think might be essential).

Create protr

[2017-03-10 14:04] shivanXI commented on #1774
Hi!! @kevinlee12 and @anthkris  can i give it a background color like other tooltips are having or any other color you want ?? and i have also changed it's location i.e., referring to issue no #3093 so that it becomes some how more eye-catching to the user but changing background color to blue like github notifications will become a perfect solution.

[2017-03-10 14:08] shivanXI commented on #1774
As i am currently working on time duration of it's existence on the page in the issue #3093  and PR is on review so it will be an add-on to work on this issue and i can do it easily.

[2017-03-10 16:24] anthkris commented on #1774
Howdy @shivanXI We don't want to use any colors that would be outside of the Oppia styling. Perhaps create some mockups with the dark background, per @kevinlee12 's suggestion above.

[2017-03-10 18:30] #3175 closed

[2017-03-10 18:45] 526avijitgupta commented on #2160
De-assigning myself so that interested people can work on this.

[2017-03-10 18:46] 526avijitgupta commented on #1449
@AllanYangZhou Please ping.

[2017-03-11 05:17] anthkris commented on #3147
Hi @jamesthechamp Have you been able to make any progress?

[2017-03-11 05:19] anthkris commented on #3146
Hiya @brucefeynman ! I see that there was some confusion about getting you into the github org originally but it's been sorted out. Have you been able to make any progress on this?

[2017-03-11 05:22] anthkris commented on #3097
Howdy @shivamluthra ! Have you made progress on this issue?

[2017-03-11 05:24] anthkris commented on #3062
Hiya @bruce-hansen Have you been able to make any progress on this issue?

[2017-03-11 05:26] poush commented on #3121
I would like to work on this.

[2017-03-11 05:26] anthkris commented on #3025
@jestapinski Howdy! Have you been able to make any progress on this?

[2017-03-11 05:29] anthkris commented on #3016
Hiya @andromfins Pinging you again. Have you been able to make any progress?

[2017-03-11 05:30] anthkris commented on #3015
@SudhanvaMG Ping?

[2017-03-11 05:37] anthkris commented on #2841
Hiya @terrameijar ! Have you been able to make any progress on this issue?

[2017-03-11 05:39] anthkris commented on #2665
Hiya @BenHenning Pinging again to check on progress

[2017-03-11 05:40] anthkris commented on #2627
Hiya @himanshu-dixit How's this going?

[2017-03-11 05:43] anthkris commented on #2429
Hi again @ubhisat I'm un-assigning you for now. Feel free to reassign yourself later!

[2017-03-11 05:49] anthkris commented on #1450
Just a note that the PR is in #3050

[2017-03-11 05:50] anthkris commented on #1074
Hi again @jblair87 Pinging again to see if you've been able to make any progress.

[2017-03-11 07:10] seanlip commented on #2160
Hi @526avijitgupta, just to double-check, are the e2e tests actually necessary? What is a scenario we're testing for there (i.e. where the backend integration tests pass but the e2e tests fail)?

Thanks!

[2017-03-11 07:13] seanlip commented on #3109
Thanks @prasanna08 -- this sounds fine to me. One question: why do we need to specify the styles in the admin page? Can they be specified directly in the code? That might save a datastore fetch for the value of the config property when the emails are being sent.

[2017-03-11 08:13] shaz13 commented on #3097
@anthkris  have found the thingy. Width of the button seems a constant `width: 360px;` which isn't ideal for responsive design. Submitting a PR on this

[2017-03-11 08:16] 526avijitgupta commented on #2160
@seanlip Thinking about it again, not really. Since backend integration tests  would already ensure that everything up until fetching the json correctly for the explorations data is working - and it would not matter on the frontend even if the user has a few deleted explorations, since the frontend wouldn't receive them anyways in the payload.

I get your point, I'll edit my previous comment to re

[2017-03-11 08:21] seanlip commented on #2160
OK, sounds good -- just wanted to check, thanks!

[2017-03-11 10:50] 526avijitgupta commented on #2160
@shivanXI Would you be interested in taking this one ?

[2017-03-11 11:02] shivanXI commented on #2160
Yes @526avijitgupta i am very much interested taking this one and was finding backend issues till now for good understanding of oppia's backend system.

[2017-03-11 11:07] 526avijitgupta commented on #2160
@shivanXI Great! I've assigned this to you. See https://github.com/oppia/oppia/issues/2160#issuecomment-285654335 for a breakdown.

[2017-03-11 14:17] jestapinski commented on #3025
Working slowly on it! I have been swamped recently but should be able to make progress in the coming week. 

On Sat, Mar 11, 2017 at 12:26 AM -0500, "Kristin Anthony" <notifications@github.com> wrote:

@jestapinski Howdy! Have you been able to make any progress on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-11 16:38] SudhanvaMG commented on #3015
@jacobdavis11  @anthkris  I am sorry , i am stuck up with some work and i have been working on tests .

[2017-03-11 17:06] anthkris commented on #3015
@SudhanvaMG Thanks for the update!

[2017-03-11 17:06] anthkris commented on #3025
Thanks for the update @jestapinski !

[2017-03-11 18:41] terrameijar commented on #2841
Hi @anthkris I have updated the screenshots page so far see PR here: https://github.com/oppia/oppia.github.io/pull/33

[2017-03-11 19:39] sasacocic commented on #2394
@seanlip I'd like to work on core.storage.job.gae_models.

[2017-03-11 19:49] Oishikatta opened #3192 "Mobile sidebar broken in develop"
The directive-specific CSS was recently prefixed to the directive, however not all of it was actually directive-specific.

https://github.com/oppia/oppia/commit/efb99769e772e192a01177b516479af15b96e205#diff-77a4320dac7a05f7e802de57c7bc8abe

Some of the CSS needs to apply to the base template for the sidebar to work:

https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/base.ht

[2017-03-11 20:38] seanlip commented on #3192
Oh dear. @1995YogeshSharma what happened here?

[2017-03-11 20:41] seanlip commented on #2394
Sounds good, thanks @sasacocic! I've updated the list.

[2017-03-12 08:54] poush commented on #2825
@seanlip @arun1595 I think it is already fixed because I'm not able to reproduce it here. The height gets smaller on submitting on my current installation.
<img width="1440" alt="screen shot 2017-03-12 at 2 24 03 pm" src="https://cloud.githubusercontent.com/assets/1812082/23830383/95b9eb14-072f-11e7-87eb-7100cdf2d0eb.png">

[2017-03-12 10:53] shaz13 commented on #3192
Howdy @Oishikatta @seanlip
I have added back the CSS which weren't directive. It works fine now. Shall I post a PR on this?

or

Do I have to sort this in another file?

![screenshot from 2017-03-12 16-20-34](https://cloud.githubusercontent.com/assets/24438869/23831104/e2b04af2-073f-11e7-96e5-b1daab00f871.png)

[2017-03-12 12:47] poush commented on #3135
Since this is unassigned I would like to work on this.
<img width="416" alt="screen shot 2017-03-12 at 6 15 07 pm" src="https://cloud.githubusercontent.com/assets/1812082/23831890/e5e2bbc8-074f-11e7-80ab-1807cde9cb22.png">

[2017-03-12 21:55] jacobdavis11 commented on #2744
That's very interesting; please let me know when the "creator doc" is ready. It sounds like that is a good thing to start with, insofar as we are currently exercising creative oversite of the explorations. Building guidance into the editor itself represents a second level of difficulty, but would be very valuable indeed.

[2017-03-12 22:02] seanlip commented on #3192
Thanks @shaz13 -- let's give @1995YogeshSharma a couple more days to respond, and then if he doesn't you can submit a PR. I'd like him to take this on, if possible, since he is looking into a way to do this semi-automatically and this issue indicates that there might be a bug in the existing process.

[2017-03-12 23:22] anthkris commented on #3097
@shivamluthra De-assigning you from this issue. Please feel free to take up another issue at any time!

[2017-03-13 07:36] shaz13 commented on #3192
Sure, let's wait.

[2017-03-13 16:04] #3099 closed

[2017-03-13 17:52] bruce-hansen commented on #3062
No, I haven't at this point. If you would like to work on it, feel free.

On Fri, Mar 10, 2017 at 10:24 PM, Kristin Anthony <notifications@github.com>
wrote:

[2017-03-13 18:03] seanlip commented on #3062
Hi @bruce-hansen -- thanks for the update! Just to check, when are you planning to work on it? It's fine to continue doing so, if you'd still like to, but we wanted to make sure that things are moving along since, otherwise, we should release the issue into the general pool for other contributors to tackle.

[2017-03-13 18:10] bruce-hansen commented on #3062
Probably will work on it later this week, thursday or friday

On Mon, Mar 13, 2017 at 12:03 PM, Sean Lip <notifications@github.com> wrote:

[2017-03-13 21:51] seanlip commented on #3062
OK, sounds good. Thanks!

[2017-03-13 23:41] seanlip commented on #3162
I did a bit of research and it looks like we may want to set the "expiration" entry in each of the relevant stanzas rather than use the response header. See https://cloud.google.com/appengine/docs/standard/python/config/appref

Also, for reference, here's a screenshot showing the issue. Note that the cache-control header is repeated in production.

![reqres](https://cloud.githubusercontent.com/ass

[2017-03-14 02:53] ajayramesh23 commented on #3180
I am currently working on this issue - just an heads up. In 2 days I will push the code(hopefully).

[2017-03-14 05:06] #3051 closed

[2017-03-14 05:13] jamesthechamp commented on #3147
hey sorry i would not be able to work on this one...
you can reassign it ...
sorry

[2017-03-14 05:28] MAKOSCAFEE opened #3198 "Remove FormBuilder.js from base.html"
Currently we are trying to remove unused js files from base.html to specific pages that uses it. we have removed many of them except FormBuilder.js. This js file has [`RTE_COMPONENT_SPECS` constant](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/forms/FormBuilder.js#L25) which is needed globally together with the  [config](https://github.com/oppia/oppia/blob/develop

[2017-03-14 05:28] seanlip commented on #3147
Thanks for letting us know, @jamesthechamp. I've deassigned you, so that someone can take this up.

[2017-03-14 05:32] seanlip commented on #3198
Hi @MAKOSCAFEE -- could you please add the links to the individual files etc. like you did before, as well as a link to the PR in which this discussion originated? I think that would be helpful. Thanks!

[2017-03-14 05:37] seanlip opened #3199 ""Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience.""
When I load the admin page in Chrome, I get the following in the console (see the warning sign next to `request.open`):

![admin-page](https://cloud.githubusercontent.com/assets/10575562/23887182/646a7b78-083d-11e7-95be-b6fee6d7f4eb.png)

Hovering over that shows a tooltip with the following message:

`Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects t

[2017-03-14 06:02] MAKOSCAFEE commented on #3198
Hi @seanlip,
Sure, I have done it already.

[2017-03-14 06:03] seanlip commented on #3198
Looks great. Thank you!

[2017-03-14 07:05] MAKOSCAFEE commented on #3094
Hi @pratik4 are you still working on this issue?

[2017-03-14 07:36] shaz13 opened #3200 "Feature Request: Online Status for logged in Users"
This is a feature request regarding persistent online status.
Basically, it's a green notification when user/student/creator is online and turns grey when there are some connection issues (WiFi/LTE etc). Indicating that the current state is offline.
It would help a great deal if someone is creating an exploration for a long time and hits next and then realizes that all his changes were lost cause

[2017-03-14 07:57] seanlip commented on #3180
Sounds good, thanks @ajayramesh23.

@anmolshkl -- just to check, this doesn't overlap with your work, right?

[2017-03-14 08:40] anmolshkl commented on #3180
Hi @ajayramesh23, we have already identified the problem and I have created a PR to fix the issue. I'd recommend that you check with the person who has been assigned the issue before working on it.

@seanlip I'm looking to finish #3181 by today.

[2017-03-14 13:52] shaz13 commented on #3101
@seanlip Would it be better to remove the tooltip over **Save Draft** button. Alike other places it doesn't give out any info/or help.

**Example**

- At Publish it asks to solve the errors priorly.

![screenshot from 2017-03-14 19-19-36](https://cloud.githubusercontent.com/assets/24438869/23903648/3c008f98-08eb-11e7-99c3-d742ef8ce4c4.png)

- More over the tooltips shows  when, hovered on save dra

[2017-03-14 16:18] himanshu-dixit commented on #3200
@shaz13  i think there had been some discussion and progress on making Oppia work offline. Also instead of showing current status, why don't just show alert message when user is offline.

[2017-03-14 16:43] ajayramesh23 commented on #3180
@seanlip  - 👍
@anmolshkl  - 👍  I will pick some other issue.

[2017-03-14 16:58] Arunabh98 commented on #2766
Hi @nikhilsangwan007, are you still interested in working on this?

[2017-03-14 17:22] shaz13 commented on #3200
@himanshu-dixit  Yeah, it will work well too. Customizations can be done as needed.

[2017-03-14 19:37] andromfins commented on #3016
I got this part working, i am also working on #3017 planning to submit a PR for major simple editor sidebar issues, sorry for the delay.

[2017-03-14 19:40] anthkris commented on #3016
Thanks for the update!

[2017-03-14 23:15] seanlip commented on #3101
@shaz13 Try making the window narrower. The "Save Draft" button becomes an icon, in which case maybe a tooltip is helpful.

That said, I agree with you that it is duplicative at large widths; perhaps we could find a way to not show it at large widths.

[2017-03-14 23:16] seanlip commented on #3200
So, I want to poke into this a bit more. Let's say there's a network issue and the user goes offline for a bit. The indicator flashes red. What should the user do?

[2017-03-14 23:18] seanlip commented on #3135
@himanshu-dixit -- following @shaz13's PR, I'm starting to become quite unsure about whether we should actually do this. It doesn't seem to me like there's anything that can be done here since the icons we want to replace are not in fontawesome and using the latter leads to a degraded UX. What do you think?

[2017-03-15 02:45] himanshu-dixit commented on #3135
@seanlip, Let's @shaz13 give it try, if things don't work out, i think will give it try or maybe @utkarsh-dixit will be able to do this after his exams.

[2017-03-15 03:06] seanlip commented on #3135
No -- that's not what I mean, actually. I'm concerned about the basic feasibility of this issue, and I doubt it's even possible to do given the limitations of font-awesome. Could you take a glance at the list of icons that font-awesome provides, and be more specific about what exactly should be changed? Someone else may be able to do the implementation, but the details for this issue need to be cl

[2017-03-15 03:23] himanshu-dixit commented on #3135
I think certainly it can be done, a square block element can be created [with HTML] and  icons can be positioned. List of icons that can be used are :-
http://fontawesome.io/icon/facebook/
http://fontawesome.io/icon/youtube-play/
http://fontawesome.io/3.2.1/icon/google-plus/
http://fontawesome.io/icon/twitter/
 we need to verify the icons because i think we're using font awesome is thru css, and m

[2017-03-15 03:34] seanlip commented on #3135
Ah, I see what you mean! So the idea is to do the squares etc. using CSS, while keeping all the details the same so that there's no change visually.

Yep, that makes sense. Thanks for clarifying!

[2017-03-15 04:11] shivanXI commented on #1774
![gsoc](https://cloud.githubusercontent.com/assets/14607439/23933293/824293de-0963-11e7-98b1-b302f37d1381.png)

Is this better ??

[2017-03-15 04:14] himanshu-dixit commented on #3135
@seanlip, Sorry for the confusion, added to the issue description.

[2017-03-15 04:30] shivanXI opened #3201 "Permanent disappearence of User help popover as the size of the browser's screen changes"
I observed this behaviour when i was working on my previous issue

When oppia is in full screen -
![gsoc](https://cloud.githubusercontent.com/assets/14607439/23933478/cdd99454-0964-11e7-8134-909d205ed9f5.png)

When size changes -
![gsocissue](https://cloud.githubusercontent.com/assets/14607439/23933501/fd6a82fa-0964-11e7-9d71-3fbd47e29415.png)

Browser Used : Firefox
Operating System used : Window

[2017-03-15 05:09] shaz13 commented on #3200
@seanlip Let's say a creator is working on his exploration. In this case take a long body of text...
First, he types it...

![screenshot from 2017-03-15 10-31-49](https://cloud.githubusercontent.com/assets/24438869/23934348/cf86ff0c-096a-11e7-8b8f-7bbebde41487.png)

Then Network error occurs... and when he clicks save (Oppia asks to **close** and **refresh**)
![screenshot from 2017-03-15 10-32-08]

[2017-03-15 06:10] seanlip commented on #3201
Hi @shivanXI, thanks for reporting. I don't really think this is a severe issue; the popover in the top right is meant to be transient anyway. So I'm not worried if we leave the behaviour as is. What do you think?

[2017-03-15 06:12] seanlip commented on #3200
Ah, I see. That explanation is very clear, thank you!

One thought: would it be better for us to save the draft content in e.g. localStorage so it can be recovered (when we detect that the user has gone offline)? Even if we show the alert, the work will still be gone.

[2017-03-15 07:50] shaz13 commented on #3200
Yes, having changes saved locally would be great. The main purpose of this feature is to just **alert** the user about connection status. More of alike warning whens some exploration has error. Like wise, just an alert.

[2017-03-15 09:14] seanlip commented on #3200
Right. But just having an alert isn't a solution to the problem you presented; the user will still be frustrated. I.e., I'm interested in solving the problem you presented, but I don't think an alert alone will solve it...

So, overall, I'm indifferent (towards just having the online/offline alert). I think it depends a lot on the design -- there are so many labels and buttons and things, we need

[2017-03-15 09:25] shaz13 commented on #3200
@seanlip Yes Sir, I guess some backend work needs to be done to handle such situations :+1:

[2017-03-15 09:53] shivanXI commented on #3201
I know that @seanlip and i am also working for its timeout issue #209 but if you again resize the browser to full screen popover appears again that is popover plays a appearing and disappearing game when user is creating his/her first exploration, if he/she resizes the browser at the same time :).so i was not able to understand whether this behaviour of popover is genuine for the user of Oppia or

[2017-03-15 12:48] shaz13 opened #3204 "Text overflows at Blog in Mosaic layout"
The text in the codebase referring as **summary** at http://localhost:8181/blog seems to get overflown. This issue can also be found at https://www.oppia.org/blog.
![screenshot from 2017-03-15 18-11-19](https://cloud.githubusercontent.com/assets/24438869/23948929/3d16e11e-09ab-11e7-8eed-22b4e5bfc5fc.png)

**How to produce error?**
- Go to https://www.oppia.org/blog or http://localhost:8181/blog an

[2017-03-15 14:39] saeedjassani commented on #3147
@seanlip can i work on this issue?

[2017-03-15 14:40] amarlearning commented on #3204
@shaz13 can i take this one ?

[2017-03-15 14:53] shaz13 commented on #3204
@amarlearning Let a **member** from Oppia check through this issue, if they concern it. You may proceed

[2017-03-15 14:54] amarlearning commented on #3093
@pratik4 @jaredsilver I would like to work on this, if anyone else is not working ?

[2017-03-15 15:48] amarlearning commented on #2968
@jaredsilver i would like to work on this!

[2017-03-15 17:28] vojtechjelinek commented on #3199
Unfortunately, I didn't find any solution how to prevent this, but in our case, the usage of the synchronous request is justified (we always need the constants).

[2017-03-15 17:30] MAKOSCAFEE commented on #3204
Hi @jaredsilver, This falls under your area right? sorry if am wrong. Is this an issue?
cc/ @seanlip

[2017-03-15 17:36] MAKOSCAFEE commented on #2986
Hi @giritheja, what is the status of this issue?

[2017-03-15 17:38] MAKOSCAFEE commented on #2925
Hi @joshuacano ping?

[2017-03-15 17:40] MAKOSCAFEE commented on #2099
this is closed in favor of #3198

[2017-03-15 17:40] #2099 closed

[2017-03-15 17:54] shaz13 commented on #3101
@seanlip There was a bug in the code. [Discard draft tool tip](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/exploration_save_and_publish_buttons_directive.html#L62) is present in the codebase but the `<a>` tag layer was blocking it. So, hovering wouldn't activate the tooltip at all. Found a simple fix for it. Will submit a PR

[2017-03-15 18:03] joshuacano commented on #2925
Work on this is being done in this [pr](https://github.com/oppia/oppia/pull/2999). I feel like I'm 3 days away from being done? (Crosses fingers)

[2017-03-15 18:10] MAKOSCAFEE commented on #2925
@joshuacano thanks for update. all the best.

[2017-03-15 21:12] seanlip commented on #3199
Yeah, I had trouble finding a solution too. It probably is not a big issue right this moment, but my concern is that this functionality will be removed and will not be available in the future. We should address that before it happens, otherwise everything will break.

[2017-03-15 21:15] seanlip commented on #3204
I don't think this is an issue (that we can solve, anyway). The page just embeds a blogspot page, so this is a Blogger issue. I think it's actually intended behaviour on their part -- see e.g. other blogs like http://blogsofnote.blogspot.com/?view=mosaic

So, closing this, but thanks for reporting @shaz13!

[2017-03-15 21:15] #3204 closed

[2017-03-15 21:18] seanlip commented on #2968
This actually looks like a duplicate of #3051. Is that right, @tjiang11 / @jaredsilver?

Closing, but please feel free to reopen if I've misinterpreted.

[2017-03-15 21:18] #2968 closed

[2017-03-15 21:34] tjiang11 commented on #2968
Yup looks like a duplicate

[2017-03-15 21:44] seanlip commented on #3093
Yep! Feel free to submit a PR, if you can figure out how to solve it.

[2017-03-15 22:23] seanlip commented on #3201
Yes, that's odd. At the same time, it's fairly niche; why would someone want to resize the browser in the few seconds after creating their first exploration?

The expected behaviour of the popover is that it only shows for the first-time creator, for a few seconds at most, and disappears thereafter. I think, ideally, on resizing the window it should just disappear and stay disappeared.

[2017-03-16 02:48] kevinlee12 commented on #1774
Hi @shivanXI, the color combo does make it easier to spot. Though I would also add that it would be better if the bubble were left shifted so that it is entirely within the view of the user.

[2017-03-16 03:15] nikhilsangwan007 commented on #2766
hi @Arunabh98 ,  yes i am interested. could you please tell me where to find "state graph"?

[2017-03-16 04:32] #3162 closed

[2017-03-16 06:46] Oishikatta commented on #2870
Suggested fix:
![Suggested](https://i.imgur.com/zuJs3Do.png)

* Removed `padding-top: 20px;` from `.conversation-skin-tutor-card, .conversation-skin-future-tutor-card` (**may be better to keep for explorations with short text).

* Removed `padding: 0 20px;` from `.conversation-skin-tutor-card-top-section`

* Changed `max-width: 100%;` to `max-width: 100vw;` in `.conversation-skin-tutor-card-top-co

[2017-03-16 06:50] Oishikatta opened #3210 "Full exploration titles on mobile should be accessible"
Long titles on mobile are cut off with '...', like this:

![](https://i.imgur.com/F98a2kU.png)

It should be possible for the user to access the title somehow, possibly by bringing up a tooltip type thing when the title is clicked/tapped.

[2017-03-16 08:25] 1995YogeshSharma commented on #3192
hi @seanlip .... this happened because the 'oppia-sidebar-menu-open' and 'oppia-sidebar-menu-close' are fillled in the base.html with ng-class. I overlooked the case of classes getting filled with ng-class.
So, I think we can just shift back 'oppia-sidebar-menu-open' and 'oppia-sidebar-menu-close' back to oppia.css instead of shifting all other as well.
So, now we can use the generated list as a s

[2017-03-16 09:47] seanlip commented on #3192
Sgtm, thanks. Let's add that note to the relevant issue for reference. Could you please make the fix, too?

[2017-03-16 09:49] 1995YogeshSharma commented on #3192
okay.

[2017-03-16 10:29] shivanXI commented on #3201
Yes @seanlip it should disappear permanently as the resizing of window is performed and now as we are clear with the problem statement, i am going to edit  the issue description to make it more clear. :) Thanks.

[2017-03-16 10:31] shivanXI commented on #3201
Referencing this issue to issue #3093

[2017-03-16 10:36] shivanXI commented on #1774
Ok @kevinlee12 and yes i am having that left positioning of popover in mind such that it entirely come in the view of the user. :)

[2017-03-16 12:43] shivanXI commented on #3201
Hi!! @jaredsilver  can i make you the owner of this issue ??

[2017-03-16 16:27] shivanXI commented on #3093
Hi!! @amarlearning i want to tell you that i am currently working on this issue from last few days and also on issues related to it , i think i am very much close to solution of this issue . So, please give me 2-3 days more so that i can complete the things . :) If i will not be able to solve it after that than i will assign you this issue myself. If you have no problem can i do this ??

[2017-03-16 16:30] shivanXI commented on #3093
Hi!! @jaredsilver  I think i got the key to solve this issue and issues related to it . :)
![untitled2](https://cloud.githubusercontent.com/assets/14607439/24007215/ef3eb95a-0a93-11e7-9648-378322bccc8f.png)

[2017-03-16 16:55] amarlearning commented on #3093
@shivanXI Yeah! :100: :smile:

[2017-03-16 18:25] amarlearning commented on #3210
@Oishikatta  I would like to take this!

_According to you what would be better:_
1. Adding a tooltip for that.
2. Make that Navbar responsive.

[2017-03-16 21:39] Oishikatta commented on #3210
Hi @amarlearning ,

Thank you, I believe the navbar is already responsive, so this issue would just be (maybe) adding a tooltip so that when the user taps on the cut off exploration name they can see the full name.

However, before starting this I'd like to ping @seanlip and/or @markhalpin to get their input on making this change.

[2017-03-16 22:12] amarlearning commented on #3210
@Oishikatta Ok!

[2017-03-16 23:09] seanlip commented on #3210
Hmm, I don't know. What do other sites do?

[2017-03-17 02:53] jaredsilver commented on #3093
@shivanXI -- awesome! Please feel free to open a PR and assign me as a reviewer once you feel it's ready to go. If it isn't solved in the next couple of days, though, I think it would be most fair to allow someone else to make an attempt.

[2017-03-17 02:58] jaredsilver commented on #3201
Hi @shivanXI! It's really cool that you found this issue; however, I'm not really convinced it would be worth fixing right now. I think it would be better for you to focus on issue #3093, so I'm going to close this for now, and we can reopen it in the future if more users and contributors report that it's a problem.

[2017-03-17 02:58] #3201 closed

[2017-03-17 04:34] shivanXI commented on #3201
Ok @jaredsilver :)

[2017-03-17 05:07] shivanXI commented on #3093
Ok Sure @jaredsilver .

[2017-03-17 07:50] #3169 closed

[2017-03-17 18:00] amarlearning commented on #3210
@seanlip I have worked a lot on UI.
I would suggest that instead of tooltip, there should be an additional space for that heading.
Let me know your thoughts on this ?

[2017-03-17 18:00] amarlearning commented on #3210
@seanlip I have worked a lot on UI.
I would suggest that instead of the tooltip, there should be an additional space for that heading.
Let me know your thoughts on this?

[2017-03-17 18:11] seanlip commented on #3210
Can you show a mock to illustrate what you mean? I think that would help us better understand your idea.

[2017-03-17 20:00] thedeveloperr commented on #3158
I would like to work on it. Can you advise any specification for it ? Like should we store the state on server side or client side ? Clear definition of state of an editor ?
Thank you.
@andromfins @seanlip @himanshu-dixit

[2017-03-17 20:13] amarlearning commented on #3158
check

[2017-03-17 20:39] seanlip commented on #3158
Actually, @himanshu-dixit -- see my comment above. I thought we do this already?

I don't think we should save the state in the backend, and I think it is fine to use the simple editor (which would become the new "default" editor) by default, unless the exploration requires more functionality that isn't available there.

[2017-03-17 20:40] seanlip commented on #3158
(to clarify, my point is that perhaps there's not much more to do here, since the current behavior is the desired behavior, but I'm not sure)

[2017-03-17 20:42] himanshu-dixit commented on #3158
@seanlip Did actually explore that while adding the question type. I think
we can close this issue.
On Sat, 18 Mar 2017 at 2:10 AM, Sean Lip <notifications@github.com> wrote:

--

Himanshu Dixit

[2017-03-17 20:43] #3158 closed

[2017-03-17 21:49] bruce-hansen commented on #3062
@seanlip how do i log into the admin view? I can' access the /admin page

[2017-03-17 21:58] anthkris commented on #3062
@bruce-hansen When you click sign in from the splash page, you should see a little window like the one below. Be sure to check the sign in as admin box

<img width="410" alt="screen shot 2017-03-17 at 4 50 59 pm" src="https://cloud.githubusercontent.com/assets/10858542/24064506/dc47293c-0b32-11e7-85b9-b0b828ee6392.png">

Then, once you're signed in, you'll see admin page listed under your profile

[2017-03-18 00:52] rachelwchen commented on #2744
Hey @jacobdavis11, here's a draft:
https://docs.google.com/document/d/1WcO4uNznFejkQZ2nq320zzpSaNRQ8aqYZz5MGMQuEoY/edit

It's not super thorough yet -- feel free to add/edit more things. Thank you!

[2017-03-18 17:05] shivanXI commented on #1774
Hi!! @kevinlee12 so finally i have changed the positioning of popover to the left and but i am suffering from a problem which is i have tried many ways to change the css of that popover but due to auto generation nature of that popover i am not able to find how to do that , i have gone thoroughly through files which are third-party.css , third-party.js, oppia.css and performed many changes in them

[2017-03-19 00:12] seanlip commented on #2994
Hi @michaelWagner, want to look into this?

[2017-03-19 06:14] #3192 closed

[2017-03-19 06:21] TruongKim commented on #3096
@seanlip Is self-assigning allowed?

[2017-03-19 06:22] seanlip commented on #3096
Yep! Just don't assign yourself to more than one at a time unless you've finished working on the previous one, otherwise it blocks off issues for new contributors.

[2017-03-19 06:23] #3180 closed

[2017-03-19 06:23] #1450 closed

[2017-03-19 08:31] seanlip commented on #3028
Please note prior work in #3116 -- new PRs can build off of that.

[2017-03-19 17:29] jestapinski commented on #3025
Hey I am having trouble with this. So I am able to set a focus event when the user tabs to the dropdowns, however the $event is capturing they are tabbing to the button, making it difficult for me to invoke the onMouseoverDropdownMenu/onMouseoutDropdownMenu functions since I do not have the dropdown selected. Any suggestions?

[2017-03-19 18:25] Arunabh98 commented on #2766
You could have a look at these files - `core/templates/dev/head/pages/exploration_editor/editor_tab/state_graph_visualization_directive.html` and `core/templates/dev/head/pages/exploration_editor/editor_tab/StateGraphVisualizationDirective.js`.

[2017-03-19 21:03] seanlip commented on #3025
I haven't looked into this detail, but just wondering if it makes sense for the functions to lie on the button instead of the dropdown?

[2017-03-19 22:23] jacobdavis11 opened #3225 "Add a tooltip about private information in the learner view"
We would like to make it clearer to students how the answers they submit are used. To this end we would like to add a tooltip within the learner view that says "Your answer will be stored and can be read by the creator of this exploration. Please don't enter any personal information." or words to that effect.

The first decision needed is whether to always display this, or just next to interaction

[2017-03-19 22:23] jacobdavis11 commented on #3225
cc: @seanlip

[2017-03-19 22:51] michaelWagner commented on #2994
Sure thing @seanlip, this one looks like a good one. Thanks!

[2017-03-20 01:15] seanlip commented on #2994
Cool! I've just added you as a collaborator on GitHub, feel free to assign yourself once you've accepted the invitation. Thanks!

[2017-03-20 06:26] pranavsid98 commented on #2394
@seanlip I'd like to work on core.platform.models. Thanks

[2017-03-20 07:54] shivanXI commented on #3093
As i have mentioned above i have assigned this issue to @amarlearning .@amarlearning are you ok with it ??

[2017-03-20 08:18] shivanXI commented on #1774
@anthkris Please answer my above query, if you think it is an obvious one to answer. :)

[2017-03-20 14:26] pranavsid98 commented on #3172
I'd like to work on this issue. Since this involves #2986, which is not complete, can I work on that as well or is somebody else on it? @seanlip @anmolshkl

[2017-03-20 17:28] anmolshkl commented on #3172
@pranavsid98 #2986 has already been assigned. Perhaps you might want to take a look at other open issues in the meanwhile?

[2017-03-20 17:32] pranavsid98 commented on #3172
@anmolshkl I'd like to work on the classifier model. Can you direct me to another issue that could be solved by somebody relatively new to Oppia? Meanwhile, I'd like to work on this issue (#3172) when #2986 is completed. Thanks

[2017-03-20 17:55] anmolshkl commented on #3172
@pranavsid98 yes sure! You should go to the issue page and look for open issues with the label `owner: @anmolshkl` (and also the label "starter project") for answer classification project specifically.

[2017-03-21 01:19] prasanna08 commented on #3109
Hi @seanlip, sorry for late response.

I suggested using admin page so that styles can be changes at runtime without needing any modification in server code. Embedding it directly in server code means it will be updated only when server is updated. Specifying styles from admin page makes style independent of interpolation mechanism for email bodies. Is that reasonable ?

Thanks

[2017-03-21 01:26] seanlip commented on #3109
Yep, I'm OK with that. That said, would it still be fine to have them as a constant in feconf as opposed to a config property for now, in order to save bandwidth -- since they aren't going to be modified that often? That way, you still preserve independence from the rest of the code and the interpolation mechanism, and we can later promote it to a full config property if we find we need to modify

[2017-03-21 09:47] pranavsid98 commented on #3046
I would like to take this issue up. I have a general idea of the Classifier model (Had a look at the project doc). I cant completely understand the issue description. Could you help me get started on this issue?

[2017-03-21 10:41] anmolshkl commented on #3046
@pranavsid98 so, there are a number of explorations having states with "TextInput" type of interaction. Many of these states have number of answers > 250 (this is our threshold). We would like to generate and store the classifier model for such states. For this task, we need to write a "one-off" job (i.e. a job which runs only once, whenever we trigger it) to find such states in all the exploratio

[2017-03-21 10:52] pranavsid98 commented on #3046
@anmolshkl  . When you say that 'TextInput' type of interaction has more than 250 answers, you mean the person making the exploration will provide more than 250 answers? Isnt that a bit too much to expect out of someone creating the exploration? And is 'TextInput' the only type of interaction we are generating classifier models for?

[2017-03-21 13:06] anmolshkl commented on #3046
@pranavsid98 Oh! Sorry for the last comment. The threshold is 5 answers/label (which has not been finalized yet!). 250 is the threshold we have set for re-examining the process of generating models in an online fashion instead of deferring it to a background task. Thanks for bringing it up, I'll update the description accordingly.

Also, have a look at this [yaml](https://github.com/oppia/oppia/bl

[2017-03-21 20:59] jacobdavis11 commented on #2744
Thanks for the link; I made a few comments. There are some existing
documents giving advice to content-creators here:
https://docs.google.com/document/d/1Ffx_nJsZ8k-aJyPRlFu2HWDJPIkfTAyUBxyUbtcEe2Y/edit
https://docs.google.com/document/d/1u4WErMBSRR7TQPAZ9Kd1rGJ6U4V9EQZJx462gCxyrYk/edit
https://docs.google.com/document/d/1h8jDHduAOgMOkpssiDMduCdP9TYfTOsS0UQ_VhwWa-k/edit#

It would be great if we c

[2017-03-21 21:01] pranavsid98 commented on #3046
@anmolshkl So, I need to basically iterate through all the existing explorations, check if the number of answers per label is more than a threshold, and generate a classifier model if true.  Am I on the same track? I have a few more queries which I hope I can confirm with you in a bit.

[2017-03-21 21:42] pranavsid98 commented on #3046
@anmolshkl I went through all the classifier related files and sort of understood the flow. Is the classifier system incomplete right now? I happened to notice that core/domain/base_classifiers.py had multiple methods without implementations. Are we working on making the classifier now? or is there a system already in place?

[2017-03-21 22:32] seanlip commented on #3046
Not sure -- I think that depends on the answer to the next question.

So, one thing I want to understand is, what exactly are we planning to do in this issue? Although existing explorations have answer logs, they don't have any training data as yet (i.e. creators haven't classified them into buckets). We could surface the data from the answer logs to the creator and ask them to classify stuff, fro

[2017-03-22 06:17] #3121 closed

[2017-03-22 12:21] VRamazing commented on #3225
Hey there I can fix this issue.Please assign this to me.

[2017-03-22 14:10] jacobdavis11 commented on #3225
Assigned. Please be sure to fill out the CLA as described here: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up

[2017-03-22 14:13] jacobdavis11 commented on #3225
Actually I don't think I can assign you until you're a collaborator on the Oppia project, but feel free to start work in the meantime.

[2017-03-22 15:39] VRamazing commented on #3056
Do we need to apply .nav properties to .oppia-option-list css class.I can't understand why have you highlighted it in the examples.I can easily fix them in a giff.Please assign them to me.I am a contributor

[2017-03-22 17:18] rohan-gulati commented on #3132
@seanlip PTAL.
I was wondering what the appropriate way to resolve this is. Should I create a PR and commit all changes to it one at a time, or will it be better to create separate PRs for each missing translation?

[2017-03-22 18:04] anmolshkl commented on #3046
@pranavsid98 yep, you need to do something like that. Oh! And, to join the team you only need to add yourself to the team members on the project page (besides picking up some issue and actually working on it). I don't think there are any other criteria to become a member of a specific team.

The backend for the caching system of the classifiers is very much complete now. However, it needs to be fu

[2017-03-22 18:14] anmolshkl commented on #3046
@seanlip I was thinking that hard-rules already have answers associated with them. Can't we use them as our training data? Because we know for sure that these answers have certain fixed outcome.

Also, I just realized that ML classification doesn't make sense for one-word answers (like the example we keep using from classifier_demo_exploration.yaml). Don't you think that statistical classification

[2017-03-22 18:26] pranavsid98 commented on #3046
@anmolshkl. If I'm not wrong, there are four hard rules for every question which will be provided by the creator. What could we define as soft rules here? General answers like 'I dont know' and 'No idea' and the like? We are training the model with both hard rules as well as soft rules. But, wont the number of hard rules be very limited to generate an efficient classifier? The whole point of this

[2017-03-22 18:52] ashish3805 opened #3228 "Add support for Number Interaction in simple editor"
Currently simple editor supports MulipleChoiceInput by default. It should support NumericInput too. The designs from C01 to C08 at https://drive.google.com/drive/folders/0B2a4JS5uuvVYVl9Lc0tXWktURm8 demonstrates the view needed.

[2017-03-22 20:03] seanlip commented on #3132
Ah -- is the above list complete? I was under the impression you were still compiling it.

I suggest one PR to handle all the "small" changes (i.e. exclude stuff like the main content in /about and /teach). We can then handle the "bigger changes" separately.

Note that the embedded content in external pages like /blog and /forum does not need to be translated.

[2017-03-22 20:05] seanlip commented on #3225
@VRamazing, you've already been invited -- you just need to accept the invitation at https://github.com/oppia/oppia/invitations . Once you've done that, feel free to assign yourself to this issue. Thanks!

[2017-03-22 22:31] vinayb21 commented on #3225
I would like to work on this issue. Please assign this issue to me.

[2017-03-23 00:33] #2813 closed

[2017-03-23 00:34] seanlip commented on #2734
Fixed in #3219. Thanks @saeedjassani!

[2017-03-23 00:34] #2734 closed

[2017-03-23 00:58] terrameijar commented on #2841
Now working on the Exploration Gallery Page: https://github.com/oppia/oppia.github.io/pull/34

[2017-03-23 01:07] seanlip commented on #3046
Just for future reference: in general, this is up to the team lead. So what @anmolshkl says still holds (since he's responsible for the ML project), but I just wanted to highlight that, in principle, it may differ for different teams.

I think that this is correct: the basic classifier is supervised. We can still suggest a bunch of answers we think are related to the creator and encourage them to

[2017-03-23 01:48] anthkris commented on #2841
@terrameijar Awesome! Thanks for the update!

[2017-03-23 02:24] jestapinski commented on #3025
Hmm I am having some difficulty on this one and would like to move on to something else, so I will unassign myself from this.

[2017-03-23 04:38] jlin95 commented on #1680
Since signing in with Google seems to be the only option here (besides that one would have to create a Google account), could we replace the Sign In dropdown with the 'Sign in with Google' button?

Would look similar to this below.
<img width="240" alt="screen shot 2017-03-23 at 12 38 32 am" src="https://cloud.githubusercontent.com/assets/8469164/24232382/140e7a5a-0f61-11e7-98ca-d8d8b8c23145.png">

[2017-03-23 05:28] rohan-gulati commented on #3132
I've added a few more points, and restructured the list a bit. I think it's complete now. I'll start pushing code to add the missing translations.

[2017-03-23 06:50] Oishikatta commented on #3056
It is highlighted in the example because the link is to a diff.

Yes, one way to do this could be to copy (some of) the styles from .Nav, .Nav-stacked, etc to .oppia-option-list.

Thanks @VRamazing

[2017-03-23 08:47] anmolshkl commented on #3046
@seanlip Oh, looks like may be I didn't explain myself clearly - so, I was thinking that we could run the existing rules on the answer logs and generate training data that way (do not confuse it with the existing training data in the interaction dict). But, it sounds like these hard rules do not match with a lot of answers.

Anyway, I'll close this issue in that case. Thanks!

[2017-03-23 10:06] pranavsid98 commented on #3046
@seanlip @anmolshkl So, then this leads to a change in Issue description right? Since we established that existing explorations are not going to have enough hard rules to run a classifier on, what would the updated issue description be? Can we make it such that this process is implemented for new explorations?

[2017-03-23 10:40] pranavsid98 commented on #3045
@anmolshkl
Since #3046 is about to be closed, I'd like to work on this issue instead. I have a few queries.
1. Where are end-to-end backend tests written in Oppia? I've noticed that they are executed from scripts.run_backend_tests.sh, but couldn't figure out where they were written. (possibly core.tests ?)
2. What is the ClassifyHandler class? It's objective is to take leaner's answer and run it t

[2017-03-23 16:21] jaredsilver commented on #1680
Hi @jlin95!

We could definitely use that button, but I think what we really need here is some sort of interstitial or  modal that also explains to the user that they are signing in with Google and what the benefits are of doing so. (Users new to the site may sometimes click that button, so it's important that we provide them some reassurance.)

In addition, I'm not sure that button really matches

[2017-03-23 16:29] arjunmahishi commented on #1680
What is the "sign in" button fired a modal which appears at the center of the page explaining the need to login and so on?

[2017-03-23 18:32] jlin95 commented on #1680
Thanks for the feedback @jaredsilver! Yeah I was thinking to have that in line with Oppia's color guidelines (ie keeping the red button), and include the message for them.

[2017-03-24 00:52] seanlip commented on #3046
@anmolshkl: Yeah -- it's a nice idea, but I don't think the hard rules will provide good categories.

Also, @anmolshkl -- just to check, are we closing this issue or not? (It's still open.)

[2017-03-24 06:50] vinayb21 commented on #3225
@jacobdavis11
According to my opinion, I think that the message should always be displayed at the top of the cards. As displaying tooltip for each individual input box as that would take more time of the user. As the main aim of oppia is to teach learners the main focus should be ensuring better user learning experience with security of their infomation.
Please give your suggestion.

[2017-03-24 12:10] jaredsilver commented on #1680
@arjunmahishi -- I think that would be a good solution!

@jlin95 -- Great! I think it would be fine, perhaps even preferable, to use the blue button inside the modal. It seems the current sign in button has Google+ branding instead of generic Google branding.

[2017-03-24 12:11] jaredsilver commented on #1680
@jlin95 -- Are you planning to work on this issue? If so, please feel free to assign it to yourself!

[2017-03-24 12:32] 1995YogeshSharma commented on #3174
hi,
We want to take all the js files in the footer_js block of an html file, combine all the files into one single file and give a link to that file in footer_js block instead .

Is this right ?

[2017-03-24 13:10] 1995YogeshSharma commented on #2963
As a sidenote, showing a popup to the user, on clicking on create, saying that 'you need to login first? cancel or proceed' may also make it seem more plausible.

But, I agree with the point that requiring user's to login before starting creating something may discourage some of the new users who don't want to give their credentials to random sites.

[2017-03-24 14:17] jacobdavis11 commented on #3225
We don't want to have the message constantly visible as that would distract
from whatever the student is learning. The idea is to have an icon that the
student can hover over to see the message as a tooltip.

On Fri, Mar 24, 2017 at 7:50 AM, vinay badhan <notifications@github.com>
wrote:

[2017-03-24 14:22] vinayb21 commented on #3225
Okay. I get it now. What should be the look of the icon and the position of
tooltip?

On 24-Mar-2017 7:48 PM, "Jacob Davis" <notifications@github.com> wrote:

[2017-03-24 14:29] jacobdavis11 commented on #3225
For the icon I would suggest a question mark in a circle, but I'm open to
other ideas.

The positioning is something we need to design. For the TextInput
interaction the bottom right might be best. I suggest you look through the
other relevant interactions and come up with some plans for those as well.

On Fri, Mar 24, 2017 at 3:23 PM, vinay badhan <notifications@github.com>
wrote:

[2017-03-24 14:34] vinayb21 commented on #3225
Lower right position will be suitable. Please give your suggestion.

On 24-Mar-2017 7:59 PM, "Jacob Davis" <notifications@github.com> wrote:

[2017-03-25 11:06] VRamazing commented on #3056
Hi there
Can anyone explain how to navigate to "answer_group_editor_directive.html" in my Browser,
I am new to Open Source Technologies.Please reply ASAP.I aim to resolve this issue today and move on to next issue.
Thank you so much for your time.

[2017-03-25 13:14] RoliKhanna commented on #3170
Hi! I could work on this issue. What say, @anmolshkl ?

[2017-03-25 15:28] arjunmahishi commented on #2394
@seanlip I'd like to work on core.domain.stats_services

[2017-03-25 16:12] anmolshkl commented on #3170
@RoliKhanna yep, feel free to assign this issue to yourself.

[2017-03-25 20:49] seanlip commented on #2394
Sounds good, thanks @arjunmahishi! I've assigned you.

[2017-03-25 22:14] vojtechjelinek opened #3232 "Split sourceMappingURL into separate .map files."
Currently, the whole sourceMappingURL is part of third_party.min.js/css files, this is very inefficient because the sourceMappingURL is around 900 KB in size for the js file and around 100 KB for css file. We should separate them in third_party.min.js/css.map like Angular does, so they would get loaded only when Developer tools are open and it won't affect non-developer users.

[2017-03-25 23:27] vojtechjelinek opened #3234 "Remove unnecessary Jinja includes in base.html."
There are a lot of directives included in base.html that are not needed on every page. So, we remove the unnecessary includes from the base template and only include them in the required places.

[2017-03-26 06:46] #3232 closed

[2017-03-26 06:56] MAKOSCAFEE commented on #3234
Hi @vojtechjelinek . Actually this was issue was actually reported before #2099 and couple PR were submitted to solve it. All those directive you see at base.html at the moment are needed globally so they can not be removed. only thing that is left that need some work done is #3198.
Reference of what happened here are the PR submitted #3057 #3087 #3090 #3137
I am closing this for now. but feel fre

[2017-03-26 08:21] RoliKhanna commented on #3170
I think I dont have write access, I'm not able to self assign this issue. @anmolshkl , help?

[2017-03-26 08:22] seanlip commented on #3170
Hi @RoliKhanna, please accept the invitation [here](https://github.com/oppia/oppia/invitations), then you should gain write access. Thanks!

[2017-03-26 08:27] RoliKhanna commented on #3170
Thanks @seanlip !

[2017-03-26 15:29] shaz13 commented on #3094
@MAKOSCAFEE I would like to take up this issue.

[2017-03-26 16:28] MAKOSCAFEE commented on #3094
Hi @shaz13, sure I am assigning you this issue since @p4rsec is current not active at the moment

[2017-03-26 16:40] JiahuiZhou commented on #3015
I will try to work on this. It seems like no one is working on this and someone gave up this issue before.

[2017-03-26 16:44] JiahuiZhou commented on #3015
Is this problem solved? @andromfins

[2017-03-26 16:56] vojtechjelinek commented on #3234
Hi, sorry I didn't specify it correctly. I'm talking about Jinja2 includes, for example `{% include 'components/forms/schema_editors/schema_based_bool_editor_directive.html' %}` these are HTML parts of directives and some of them are not needed everywhere. I was thinking about reopening #2099 but decided to open new issue.

[2017-03-26 17:09] MAKOSCAFEE commented on #3234
@vojtechjelinek  Ooooh yes...  you are right. But I am not sure how jinja works in rendering include templates... @seanlip what do you think?

[2017-03-26 18:22] shaz13 commented on #3094
@MAKOSCAFEE Thanks. PR is ready. Kindly review it

[2017-03-26 18:35] himanshu-dixit opened #3237 "Add support for Text Interaction in Simple Editor"
Currently, simple editor supports MulipleChoiceInput by default. Add support for text interaction

[2017-03-26 18:38] himanshu-dixit opened #3238 "Implement First Time Hint for New Users In Simple Editor"
For mocks see D02 - D11, https://drive.google.com/drive/folders/0B2a4JS5uuvVYVl9Lc0tXWktURm8

[2017-03-26 18:46] himanshu-dixit opened #3239 "Unit Test For SimpleEditorManagerService.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:47] himanshu-dixit opened #3240 "Unit Test For ScrollSyncService.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:47] himanshu-dixit opened #3241 "Unit Test For QuestionIdService.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:47] himanshu-dixit opened #3242 "Unit Test For questions/MultipleChoiceInputCheckerService.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:47] himanshu-dixit opened #3243 "Unit Test For QuestionObjectFactory.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:47] himanshu-dixit opened #3244 "Unit Test For StatesToQuestionsService.js In Simple Editor Branch"
This Is For Simple Editor Branch.

[2017-03-26 18:48] himanshu-dixit commented on #3018
Closing, separate issue filed, #3239, #3240, #3241, #3242, #3243, #3244.

[2017-03-26 18:48] #3018 closed

[2017-03-26 20:19] jacobdavis11 commented on #3225
Sounds good, and we can easily move it once we have a demo up and running.
I suggest now you take a look at the html for the TextInput interaction and
try to make a working version for us to have a look at.

On Fri, Mar 24, 2017 at 3:34 PM, vinay badhan <notifications@github.com>
wrote:

[2017-03-26 20:41] seanlip commented on #3237
Hi @himanshu-dixit, thanks for filing the issue. Would you mind elaborating a bit more so that a new contributor would understand what exactly to do?

[2017-03-26 20:42] seanlip commented on #3238
Hi @himanshu-dixit, thanks for filing this issue.

Would you mind elaborating a bit more so that a new contributor would understand exactly what to do?

[2017-03-26 21:00] seanlip commented on #3234
Hi @MAKOSCAFEE -- could you make your question more specific, please? I'm not sure what it's asking, but I think this is a reasonable issue to tackle (though at this point I'm not sure whether the main bottleneck is using Jinja at all, or if we can reduce the latency by reducing the amount of interpolated stuff; that needs investigation).

[2017-03-26 22:11] #3097 closed

[2017-03-26 22:34] vojtechjelinek commented on #3234
Also, @MAKOSCAFEE, when you were working on #2099 did you look into header_js_libs.html? Because there is MathJax.js that could be probably loaded only on pages where it's needed too.

[2017-03-26 23:28] FangYo opened #3245 "Unable to reuse an already uploaded image when creating course as a general user"
Expected behaviour: When a general user (using the deployed Oppia and not the local dev version) is creating a course and attempts to reuse an image he already uploaded, he could choose from a list of existing image.
e.g.:
![1](https://cloud.githubusercontent.com/assets/16676282/24336190/a070ba72-1258-11e7-8f36-bec9c13d76f3.png)
![2](https://cloud.githubusercontent.com/assets/16676282/24336188/a06

[2017-03-26 23:33] seanlip commented on #3245
I love the otter :D

Just to check: for the case in which the choices don't appear, do you see any errors in the browser console? That might give us a clue. (This issue could be a bit tricky to debug, since it's intermittent...)

[2017-03-26 23:43] FangYo commented on #3245
@seanlip I tried a few times and could not get the list, so I could not really compare if the errors in the console are related to this bug. Will keep on trying until I get the list for once and then compare the errors.

The errors I currently have, without the list of uploaded image:
![1](https://cloud.githubusercontent.com/assets/16676282/24336400/860176d2-125c-11e7-8964-80d51b3f861f.JPG)

[2017-03-26 23:45] seanlip commented on #3245
Oh, no, those errors are not relevant (they're actually warnings, not errors). But it sounds like not being able to get the list happens quite frequently. So maybe we can reproduce it.

One question: does this ever happen locally (in develop), or is it only on the prod server?

[2017-03-26 23:56] FangYo commented on #3245
Great, I don't think they are related to the bug either.
5 attempts locally all gives the list. I think it might be about the server.

[2017-03-27 00:05] seanlip commented on #3245
Ah ok, thanks for the clarification.

/cc @vojtechjelinek for info, since he's currently digging into speed, reliability and caching-related stuff. I wonder whether this might be related (not sure).

[2017-03-27 02:37] shaz13 commented on #2482
@Arunabh98  Made a PR on it. Kindly review it

[2017-03-27 03:27] shaz13 opened #3249 "Bio in the profile page has to be limited to certain length"
Opening this as an issue in light of limiting max length on various input and text area at Oppia. One such example being the Bio in the Preference page.

**How to produce**
1. Go to Preference Page and edit the bio.
2. Put in a really long bio, around 8000 characters.
3. Wait for the page to save.
4. Have a look at Profile page

![screenshot from 2017-03-27 08-56-53](https://cloud.githubuserconten

[2017-03-27 03:28] shaz13 commented on #3249
@seanlip It can be set right with `maxlength="x"`
So, what should be the length of the bio.
160 would be good? Need your opinion on this

[2017-03-27 04:47] seanlip commented on #3249
Perhaps approximately 3/4 of the way down the first paragraph in your screenshot?

I'm not sure, though. Perhaps you could try some possibilities and provide screenshots + a recommendation. I think a reasonable rule of thumb is for the bio card to not extend past two rows of created lesson cards.

[2017-03-27 05:40] wxyxinyu commented on #1855
To summarize the above discussion, the problem arises when a user attempts to save while offline. This occurs because the save functionality doesn't have a timeout. In addition, if the user tries to edit the draft while a save is in progress, it will break the changelist.

To fix this, we should
1. Implement a timeout feature. Create a new generic service, `OfflineDetectorService`, which makes a h

[2017-03-27 05:41] wxyxinyu commented on #1884
I'm not entirely sure that this would be worth doing (rather, we should prioritize other issues) -- it doesn't seem like too much of a distraction to make the save and publish happen separately.

[2017-03-27 05:43] shaz13 commented on #3249
That gives about `92 `characters precisely.
**Screenshot**
![screenshot from 2017-03-27 11-13-20](https://cloud.githubusercontent.com/assets/24438869/24342418/6adc87d4-12de-11e7-9b6a-0a742aa39350.png)

[2017-03-27 06:09] shaz13 commented on #2059
@seanlip Sounds good.
For confirmation, One needs to enable `"Suggest an Edit"` (without google- auth the sign in) and then redirect them make the suggestions. Just like;
in here but redirection is for suggestion page. Did I get it right?
![screenshot from 2017-03-27 11-35-12](https://cloud.githubusercontent.com/assets/24438869/24343053/049e3176-12e2-11e7-80cf-de3f569e0d5d.png)

[2017-03-27 06:11] seanlip commented on #2059
No, I don't think so. I don't actually know what you mean, to be honest... there is no suggestion page.

[2017-03-27 06:11] seanlip commented on #3249
Hmm, that's a bit small. Can you show a screenshot that includes two rows of explorations?

[2017-03-27 12:11] shaz13 commented on #2059
I meant redirecting to a page where suggestion can be made.

[2017-03-27 13:04] jacobdavis11 commented on #1884
I think this is worth doing as it's part of the core creation flow, and making that as smooth as possible is very important.

Of course there are higher-priority issues, so I'm not saying this needs to be done with any particular urgency.

[2017-03-27 14:59] shaz13 commented on #3249
@seanlip Sure.

**Bio description length:** `200` chars
![screenshot from 2017-03-27 20-27-54](https://cloud.githubusercontent.com/assets/24438869/24362947/f8fd10a4-132b-11e7-8739-99058b53113f.png)

[2017-03-27 17:45] MAKOSCAFEE commented on #3234
Hi @seanlip  I was asking if jinja include template are the bottleneck during rendering since I do not know in details they are rendered. @vojtechjelinek is little bit tricky managing MathJax.js .. I remember we ran some problems when we were doing bundling. so its really the matter of trying if you can move it from header_js_lib.html

[2017-03-27 18:11] shaz13 commented on #3094
@wxyxinyu @MAKOSCAFEE As PR is merged. Closing this issue.

[2017-03-27 18:11] #3094 closed

[2017-03-27 19:40] kevinlee12 commented on #2032
Note to assignee: This should be implemented in `UndoRedoService`  in `oppia/core/templates/dev/head/domain/editor/undo_redo/UndoRedoService.js` where there is a check whether the changes cancel out. If the implementation includes sufficient collection-specific items, there should be a specialized `CollectionUndoRedoService`.

[2017-03-27 20:21] #3131 closed

[2017-03-27 20:22] seanlip commented on #3249
So you can make it longer, right? Until the left column matches the height of the right column?

[2017-03-27 20:24] seanlip commented on #2059
OK, so, I still don't understand what you mean, but let me try to explain the original suggested fix again:
- Logged-out user clicks "suggest changes"
- Separate window pops up where they can log in / authenticate
- On completing the auth flow, the suggestion modal opens, without the user being taken to a new page and without the new page being reloaded
- The user makes the suggestion

Does that c

[2017-03-27 20:30] seanlip commented on #1884
It's not always the case that fewer steps is simpler -- sometimes the opposite is true, as long as each step is focused and it's clear to the user what to do next. See e.g. http://ux.stackexchange.com/questions/40435/how-important-is-it-to-eliminate-clicks

What is the actual impetus behind this change / the problem that it's solving?

[2017-03-27 20:43] shaz13 commented on #3249
@seanlip  Yes, Sure. I guess that will be around 400 characters. Shall I make a PR on it?

[2017-03-27 21:09] seanlip commented on #3249
You could, but I encourage you to think more holistically about the parts of the system before doing so.

- The width has to be limited on the Preferences page as well, so that the user is prevented from entering something that is too long.
- How do you propose to handle bio strings in the production server that are already too long? One possible approach is to write a MapReduce job that iterates

[2017-03-27 21:20] #2870 closed

[2017-03-27 21:34] kevinlee12 commented on #2319
Had another look at this and it seems like this is no longer the case, closing.

[2017-03-27 21:34] #2319 closed

[2017-03-28 03:49] shaz13 commented on #2059
Yeah. I meant the same.

[2017-03-28 04:57] #3135 closed

[2017-03-28 07:32] seanlip commented on #3045
1. We don't have special files for e2e backend tests. I think the best place to write this one is in the _test file that adjoins the file containing ClassifyHandler, whatever that is.

2. Search the codebase for `load_demo`.

[2017-03-28 08:21] seanlip commented on #3047
Hi @wxyxinyu -- would you mind updating the above description to indicate which parts of this have been done, please?

[2017-03-28 12:39] pranavsid98 commented on #3045
@seanlip. I'm loading demo exploration 'welcome.yaml' for the test. I want to train a classifier for the state 'What Language'. When the description says 'load a demo exploration with training data', how do we integrate the training data with the classifier? And regarding 'calling the Classify Handler with a learner's answer', what is the answer? Is it some random testing answer can give ourselves

[2017-03-28 16:31] domevit commented on #2394
@seanlip I'd like to work on core.domain.summary_services

[2017-03-28 17:18] anmolshkl commented on #3045
What I meant was - load an exploration which has some sample training data inside or load an exploration and then put some sample data in it. Take a look [here](https://github.com/oppia/oppia/blob/develop/core/tests/performance_tests/lda_string_classifier_performance_test.py) for an example. You'll probably follow the same approach.

The answer can be anything - some correct answer from the traini

[2017-03-28 17:43] vojtechjelinek opened #3253 "/libraryindexhandler takes too long to process"
/libraryindexhandler has pretty bad performance, the wait/processing time on the production server is around 7 seconds. Needs investigation if we can improve the wait/processing time to around 1 second.

[2017-03-28 18:12] vojtechjelinek opened #3254 "Move MathJax.js from header_js_libs.html to individual pages."
MathJax.js is loaded in base.html (precisely header_js_libs.html), which means it's loaded on every page. Since we want to only load JS files that are used in each page, we should move MathJax.js only to the individual pages where it is needed.

[2017-03-28 20:47] seanlip commented on #2394
Sounds good, thanks! I've assigned you.

[2017-03-29 03:29] seanlip opened #3256 "Move as much logic as possible from MultipleChoiceEditorDirective.js to a service so that it can be tested easily."
(This issue occurs on the simple-editor branch.)

We generally try to keep as little logic as possible in directive controllers, and prefer to have such logic in services so it can be tested. However, in core/templates/dev/head/pages/exploration_editor/simple_editor_tab/questions/MultipleChoiceEditorDirective.js there is a lot of logic.

As @BenHenning commented [here](https://github.com/oppia/opp

[2017-03-29 03:33] seanlip opened #3257 "Creator dashboard: remember the user's list/grid preference."
Each time I go to my creator dashboard, I want to view the explorations in a list. However, Oppia does not remember this setting and keeps showing it to me as a grid. This becomes irritating.

I think it's fine to have grid be the default, but it would be nice if when I clicked the "list" option my preferences are remembered the next time I access the page.

/cc @526avijitgupta

[2017-03-29 03:43] seanlip opened #3258 "Consider adding a "Share to Classroom" button to exploration/collection pages."
Google Classroom is a blended learning platform for schools. Teachers can share URLs with their students on the class stream, and it looks like there are a fair number of Google Classroom users linking to explorations on Oppia.

The Classroom API offers a button to allow easy sharing of an exploration -- see

    https://developers.google.com/classroom/guides/sharebutton

It might make sense to ad

[2017-03-29 03:47] seanlip opened #3259 "The number of open feedback items displayed in the creator dashboard is incorrect."
When I go to my creator dashboard, this exploration at the top of the list appears to have the most number of open feedback (8):

![dashboard1](https://cloud.githubusercontent.com/assets/10575562/24437703/7ae99b16-13f7-11e7-90e6-15e1d1c7a99f.png)

However, on clicking the lesson and examining the feedback page, I only see two feedback threads in total:

![dashboard2](https://cloud.githubuserconten

[2017-03-29 03:48] seanlip commented on #3259
@526avijitgupta, would you mind taking a look into this, please?

[2017-03-29 03:50] seanlip commented on #1852
I think we can just go ahead and transition to ESLint, actually; I'm not sure we need to worry too much about full parity here. What do you think, @kevinlee12?

[2017-03-29 04:00] thedeveloperr commented on #3257
I would like to work on this issue. I propose to save this user preference in user object or something like that on server side. Any other suggestions?

[2017-03-29 04:01] seanlip commented on #3257
Assigned you; thanks!

I think there is an existing model for user preferences; you could probably add a field to it.

[2017-03-29 06:51] #2985 closed

[2017-03-29 23:29] kevinlee12 commented on #2038
Closed in #3126

[2017-03-29 23:29] #2038 closed

[2017-03-29 23:39] kevinlee12 commented on #1852
Yup, looks like Google has released their [ESlint presets](https://github.com/google/eslint-config-google) (which was my main concern for transition in the first place). We can worry about the things we customized as go along.

[2017-03-30 00:41] seanlip commented on #1852
I don't think we even need to follow the google style here, tbh -- we can probably just enable all the checks on a best-effort basis.

I'm happy to make updates to the .eslintrc.json file if we can get a pipeline running. @kevinlee12 would you like to take this on?

[2017-03-30 01:06] kevinlee12 commented on #1852
Yes I can!

[2017-03-30 01:07] seanlip commented on #1852
Great, thanks @kevinlee12!

[2017-03-30 05:36] seanlip commented on #2863
Hi @tjiang11 -- one "global" thought on this -- in your travels around the frontend, did you notice any other objects which need to be created? E.g. ParamChanges, CustomizationArgs?

If you like, happy to discuss which need to be objectified and which not, when you get a chance.

Thanks!

[2017-03-30 08:29] seanlip commented on #2863
Another thought that came to mind: a good place to figure out the above is to just look through the frontend files and investigate stuff that's currently represented in the frontend as a dict (i.e. a JS object). If that dict feels like it represents an object, then it should probably be one.

(Note that it's possible that some of these objects might not be exploration-related, but it might be a go

[2017-03-30 08:50] terrameijar commented on #2841
Updated create exploration page: https://github.com/oppia/oppia.github.io/pull/35

[2017-03-30 18:23] tjiang11 commented on #2863
Hmm alright I'll keep on the lookout for any objectifiable looking dicts

[2017-03-31 16:06] shaz13 commented on #2936
@seanlip I guess this issue is solved as it is superseded by #3038.

[2017-03-31 17:14] shaz13 commented on #2872
@wxyxinyu I would like to work on it. Varying it dynamically with `vw` units might give us expected results
So, the graph needs to be scroll-able or be scaled according to the view port ?
Will make a PR accordingly.

[2017-03-31 18:28] seanlip commented on #2936
I don't know what the status is, but I don't think #3038 fixes it. @jaredsilver?

[2017-03-31 20:28] vojtechjelinek commented on #3174
@1995YogeshSharma Sorry for the late response. The purpose of this issue was to bundle all Javascript files that some page uses (for example exploration_player.html) into one file and then load that file.

[2017-03-31 20:33] vojtechjelinek commented on #3174
Closing, since there haven't recently been errors with files not loading in production. Also, bundling is less efficient than more smaller files fo HTTP/2.

[2017-03-31 20:33] #3174 closed

[2017-03-31 23:37] jaredsilver commented on #2936
Hi @shaz13! @seanlip is correct: #3038 was a front end fix for truncating the goal description text, but this issue refers to limiting the length of the goal description text on the back end. To the best of my knowledge, this has not yet been addressed.

[2017-04-01 03:54] shaz13 opened #3265 "Help tooltip overlay causes unintended disappearance of profile menu"
The tooltip "To get help in future click here" doesn't disappear on the click and  causes unintended behavior with profile menu.

**How to produce error?**
1. Login in locally with a new username or just use the test user name with admin panel.
2. Create an exploration. This should pop up the tooltip _"To get help in future click here"_
3. Now, click on the profile icon and try to go to any nav el

[2017-04-01 04:22] shaz13 commented on #2936
@seanlip  @jaredsilver
 I could not produce the error as discussed in the issue. Made a long goal description and hovered the cursor at library page. But, couldn't get the tooltip as in above. Kindly confirm

[2017-04-01 08:37] wxyxinyu commented on #1884
I think perhaps, before deciding whether we should move forward with implementing this, we should do some user testing to see if this will actually benefit creators.

[2017-04-01 08:43] shivanXI commented on #3265
Hi!! @shaz13 I just want to tell you that this issue is similar to issue #3093 and i am working on it but due to my exams and bad health i was unable to complete it but now i am back on track and i want to work over it again So, i think this issue should be closed because its a similar issue. :)

[2017-04-01 10:39] prasanna08 commented on #3210
Hi @amarlearning, how is this going?

[2017-04-01 10:44] prasanna08 commented on #3096
Hi @TruongKim, how are you progressing with this issue?

[2017-04-01 10:47] prasanna08 commented on #3093
Hi @amarlearning, how are you progressing with this issue?

[2017-04-01 10:48] prasanna08 commented on #3062
Hi @bruce-hansen, how are you progressing with this issue?

[2017-04-01 10:50] prasanna08 commented on #2994
Hi @michaelWagner, how are you progressing with this issue?

[2017-04-01 10:54] prasanna08 commented on #3228
Hi @ashish3805, how are you progrssing with this?

[2017-04-01 11:17] amarlearning commented on #3093
@prasanna08 Thanks for checking in!
Not able to contribute. Sorry!

[2017-04-01 11:19] amarlearning commented on #3210
@prasanna08 Thanks for checking in!
Not able to contribute. Sorry!

[2017-04-01 11:23] ashish3805 commented on #3228
I have not yet started as I got busy with GSoC. I will start once application period for GSoC ends i.e. after 3rd April.

[2017-04-01 11:39] shaz13 commented on #3265
Sure. Thanks for letting me know.
Closing in the view of #3093

[2017-04-01 11:39] #3265 closed

[2017-04-01 11:43] shaz13 commented on #3093
@shivanXI Are you taking up this issue ?

[2017-04-01 12:12] shivanXI commented on #3093
Yes @shaz13 but i will continue working on it after 5th april because at this time my mid-terminal examinations are going on.

[2017-04-01 12:20] shaz13 commented on #3093
Okay.

[2017-04-01 12:43] Slayslot commented on #3198
Hi, I have the repository setup and will be willing to take this up.

[2017-04-01 14:47] jaredsilver commented on #2936
Hi @shaz13! Sorry about the confusion. There is no longer a tooltip on this page. However, we should still limit the number of characters on the back end to minimize the chances of the text overflowing (in case the exploration creator does not check to see whether that is the case).

As you can see, the text gets truncated there. What we'd ideally like to do is enforce a maximum character limit so

[2017-04-01 14:52] jaredsilver commented on #3093
Hi @shivanXI! To be fair to other contributors, I think it would be best to allow others to work on this if you're not going to be able to do so until a few days from now. If nobody else has made progress on it before then, feel free to take it back up.

Until then, @shaz13 should feel free to work on it.

[2017-04-01 16:00] shaz13 commented on #3093
Sure, @jaredsilver. One clarification. I found the where the error is occurring, seems like the CSS properties come from third-party.

As show below;
![screenshot from 2017-04-01 21-25-38](https://cloud.githubusercontent.com/assets/24438869/24580240/50204a8c-1722-11e7-8830-b77987268e4b.png)

What shall be done?
Shall I introduce a class and modify with `!important `hack at Oppia.css or modify the

[2017-04-01 16:07] shivanXI commented on #3093
Same thing i was asking @jaredsilver and @shaz13. it is the issue of third party css , i have also tried changing third-party.css but got nothing in favour.

[2017-04-01 16:09] shaz13 commented on #3093
@shivanXI  It can be solved either using the` !important` hack or some div  around the tooltip which will limit the width of the tooltip block over all. But as !important hack is not encouraged according to the code guidelines

[2017-04-01 16:11] shivanXI commented on #3093
Ya @shaz13 but it is auto generating that div when you will see in the console  that's why i was little bit confused while handelling it.

[2017-04-01 16:19] shaz13 commented on #2936
Yeah bit clear

Sir, limiting the goal description or the tooltip char length?
We could use `max-length `property at the Exploration Settings page to avoid long length both at Tool tip and Goal description as employed for the title of the exploration.

![screenshot from 2017-04-01 21-48-02](https://cloud.githubusercontent.com/assets/24438869/24580386/0d9f2356-1725-11e7-9bbe-83c4a7de30b4.png)

[2017-04-01 17:03] shaz13 commented on #3093
Pushed a PR without using the` !important` hack or moding the thirdparty.css . Kindly review it

[2017-04-01 18:45] FangYo commented on #3146
This has recently become a concern of mine as well. I think the problem may be associated with [this function](https://github.com/oppia/oppia/blob/055fd4b2ce1620dda020ebe1afcf5336071dfeab/core/templates/dev/head/pages/exploration_editor/preview_tab/PreviewTab.js#L146) and the one above it. @brucefeynman Would be glad to learn about the progress you have made!

[2017-04-01 20:16] MAKOSCAFEE commented on #3198
Hi @Slayslot I am assigning you to this. Thanks.

[2017-04-01 20:35] Oishikatta opened #3269 "Mobile exploration player page width greater than screen width"
Related: https://github.com/oppia/oppia/pull/3250

I haven't yet reproduced this outside of Chrome's inspector/devtools.

Steps:

1. Visit any exploration player page

2. Open devtools (F12), enable responsive design viewer. Set to iPhone 5 or Responsive (320px).

3. Part of the navbar is off-screen, but should be on-screen. Parts of the footer are also larger than the selected width, though not v

[2017-04-02 10:50] tvallois commented on #2394
@seanlip Hello, i would work on core.domain.config_domain if possible.

[2017-04-02 11:30] MAKOSCAFEE commented on #2394
@tvallois I have assigned you to that. Thanks

[2017-04-02 17:18] zpuller commented on #3244
I could take a shot at making some of these unit tests. I will need some guidance/additional info. Can you show me how to see the behavior in the app? Where should these tests live? Are there similar tests I can reference? Thanks.

[2017-04-02 21:10] seanlip commented on #3244
Hi @zpuller -- nice to meet you! Please complete the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) so that we can add you as a contributor to the repository.

@himanshu-dixit -- could you please help @zpuller with his other questions? Thanks!

[2017-04-03 00:09] jaredsilver commented on #2936
@shaz13 -- we want to limit the goal description length. I don't believe we are using tooltips to display the goal description anymore anyway.

Using max-length on the field in the exploration settings could definitely work. I would normally say that it's probably better practice for us to do this on the back end in case we were to add a new way of creating an exploration, but I don't think that's

[2017-04-03 05:25] #1852 closed

[2017-04-03 05:35] shaz13 commented on #2936
@jaredsilver Sure. Will make a PR on it.

[2017-04-03 06:59] Slayslot commented on #3198
HI @MAKOSCAFEE as far as I understand

All I need to do is shift these three instances to some other js file and remove the reference of FormBuilder.js from base.html. Please, correct me if I'm wrong.

[2017-04-03 17:02] clavoirr opened #3271 "Introduce state saving to explorations"
_1 :- Bookmark
explorations can consist of many of pages there are some time when user due to any reason cannot able to complete the lesson and the user come back to continue the lesson the user have to again start from the beggining of first page which waste the time of the user.this feature helps in saving the current progress in dashboard so that the user can resume his leasons from the last po

[2017-04-03 17:03] clavoirr opened #3272 "speech engine"
There are many explorations in oppia which give the lessons on languages.the user can understand the words but the words may have different  pronunciation than its spelling This feature helps the Teacher to teach the language with its correct  pronunciation by converting the text in mp3 voice

[2017-04-03 17:13] MAKOSCAFEE commented on #3198
Hi @Slayslot exactly, but before removing Formbuilder.js from base.html you need to reference it in pages that still uses directives, services, filters that are in FormBuilder.js so as not to break the site.

[2017-04-03 17:18] clavoirr commented on #3272
You may either use `gTTS` as a **__python module__** or as a **__command-line utility__**

### A. Module

##### 1. Import `gTTS`

[code]

##### 2. Create an instance

[code]

###### _Parameters:_
* `text` - Text to be spoken (written to file instead)
* `lang` - [ISO 639-1 language code](#lang_list) (supported by the Google _Text to Speech_ API) to speak in

##### 3. Write to a file

* Using [`save

[2017-04-03 21:02] jacobdavis11 commented on #1884
That's fair. If the user writes a whole exploration in one sitting that it
would be nice for them to be able to simply "publish" without worrying
about the save process.But if they're repeatedly saving then I grant that
it's natural to do so again before publishing. It would be interesting to
know which is the more common method.

Generally the web is moving away from the need to save, and we now

[2017-04-04 00:12] TruongKim commented on #3096
Hi @prasanna08 , Im working on it.

[2017-04-04 00:13] TruongKim commented on #3096
I'm trying to understand the base tag link above.

[2017-04-04 00:34] shaz13 commented on #2936
@jaredsilver - One confirmation, how long the goal description must be limited to ?
`200` chars or 300 `chars` ?

[2017-04-04 00:38] jaredsilver commented on #2936
@shaz13 -- I'd actually go with only 100. That seems to be about the most that can fit in the current card design.

[2017-04-04 00:43] shaz13 commented on #2936
Sure. Thanks

[2017-04-04 01:08] shaz13 commented on #2936
Made a PR. @jaredsilver  Kindly review it.

[2017-04-04 01:53] kevinlee12 commented on #1774
Hi @shivanXI, if left shifting proves to be an issue, try making the width smaller so that the next spans 2 lines (instead of the current one). The alternative is to change the wording of the pop-up entirely so that its narrower.

[2017-04-04 01:56] anthkris commented on #1774
Just an FYI @shivanXI This is also being worked on in PR #3267

[2017-04-04 02:07] anthkris commented on #1774
The PR mentioned above takes care of the positioning issue. See the screenshot below:
<img width="1432" alt="screen shot 2017-04-03 at 9 06 56 pm" src="https://cloud.githubusercontent.com/assets/10858542/24638878/90526b90-18b1-11e7-98c8-29595f43e3a4.png">

[2017-04-04 03:08] kevinlee12 commented on #1774
In that case, this issue should focus on the changing the color scheme.

[2017-04-04 05:55] shivanXI commented on #1774
Ok thanks @anthkris and @kevinlee12  i am going to push a PR today.

[2017-04-04 07:25] seanlip commented on #3242
Hi @saeedjassani -- want to have a go at this?

[2017-04-04 07:47] seanlip commented on #3028
Hi @srikar0896! Would you like to take this up again?

[2017-04-04 07:48] seanlip commented on #3146
Deassigning @brucefeynman due to lack of response.

[2017-04-04 07:55] pranavsid98 commented on #3172
Since #2986 is about to be merged, I'd like to take this issue up. I'll start work as soon as #2986 gets merged. Thanks

[2017-04-04 08:10] seanlip commented on #2627
Deassigning @himanshu-dixit.

[2017-04-04 08:58] #2986 closed

[2017-04-04 11:13] saeedjassani commented on #3242
@seanlip ok. assigning it myself

[2017-04-04 15:22] anmolshkl opened #3276 "Fix the performance issue in LDAStringClassifier."
#3255 revealed that the LDAStringClassifier is not working as we had expected. For the answers that have been classified into some answer group, the classifier gives the correct output. However, for all other unresolved answers (i.e. answers not in any answer group), the classifier is not giving the default outcome. For example, if we load the exploration from `core/tests/data/string_classifier_te

[2017-04-04 16:59] pranavsid98 commented on #3276
@anmolshkl. I'll take this issue up. But, I've currently started work on #3172 . So, I'll assign myself after I complete the other issue. If somebody wants to work on this before I've completed the other one, feel free to take this up. Thanks.

[2017-04-04 17:57] vojtechjelinek commented on #2700
Could I move this under Speed improvements and set myself as the owner? Because this is the solution to what we are trying to solve in #3165.

[2017-04-04 18:18] seanlip commented on #2700
Yes, please go ahead and do that. Thanks!

On Tuesday, April 4, 2017, Vojtěch Jelínek <notifications@github.com> wrote:

[2017-04-04 18:21] vojtechjelinek commented on #3165
Replaced by #2700

[2017-04-04 18:21] #3165 closed

[2017-04-04 18:22] vojtechjelinek commented on #2700
Regarding performance, around 30 of {% include component %} just in base.html takes about 250 ms of backend processing time and also if the HTML parts were cached properly the bandwidth would be a little bit smaller.

[2017-04-04 19:35] seanlip commented on #3259
Assigning @kevinlee12 for (at least) investigation and breakdown.

[2017-04-04 19:48] seanlip commented on #3242
Great, thanks!

[2017-04-05 01:24] joshuacano opened #3281 "Change v url parameter to version"
Throughout the site, we use v=<version> to denote the version of an exploration or other object inside of the site. e.g. ```/embed/exploration/123?v=2``` or ```/explore/asdre0W?v=2```. Upon discussion with @seanlip, it would be a good idea to be more explicit in the naming of this to version, changing the above examples to ```/embed/exploration/123?version=2``` or ```/explore/asdre0W?version=2```

[2017-04-05 12:02] pranavsid98 opened #3282 "Incorrect validate() in extensions.classifiers.LDAStringClassifier"
In LDAStringClassifier file, validate() function has the following tests:

[code]

where list_properties are :
 list_properties = [
            '_w_dp',
            '_b_dl',
            '_l_dp',
            '_c_dl',
            '_c_lw',
            '_c_l'
        ]

The testing is incorrect as each element of _w_dp is not an integer (_w_dp is a List of List of integers) and all the other list prop

[2017-04-05 16:15] anmolshkl opened #3283 "Fix the openTrainUnresolvedAnswerModal."
The openTrainUnresolvedAnswerModal doesn't open up when a creator clicks on any unresolved answer and an error "no interactionRulesService was available" pops up. This issue is similar to #3180 and would need a similar fix.

[2017-04-05 18:46] kevinlee12 commented on #675
Hi @AllanYangZhou, how is issue this coming along?

[2017-04-05 18:46] kevinlee12 commented on #638
Can we close this @wxyxinyu?

[2017-04-05 18:47] kevinlee12 commented on #1074
De-assigning @jblair87 for lack of response.

[2017-04-05 18:50] kevinlee12 commented on #1251
Hi @jlin95, how is this issue coming along?

[2017-04-05 18:51] kevinlee12 commented on #1675
De-assigning @AllanYangZhou for now, feel free to assign yourself when you are working on this!

[2017-04-05 18:57] kevinlee12 commented on #2527
Hi @526avijitgupta, any updates on this issue? Thanks!

[2017-04-05 19:00] kevinlee12 commented on #2550
Hi @kirankonduru, how is this issue coming along? Thanks!

[2017-04-05 19:01] kevinlee12 commented on #2841
PR was merged, closing.

[2017-04-05 19:01] #2841 closed

[2017-04-05 19:03] kevinlee12 commented on #2740
Hi @andromfins, any updates on this issue? thanks!

[2017-04-05 19:06] daniel3735928559 commented on #1251
Guppy maintainer here!  I don't know how this integrates with your infrastructure, but if one way or another you are able to add a CSS class like this:

[code]

then that should override the default cursor colour of red and make it black.

[2017-04-05 19:06] kevinlee12 commented on #2915
For bookkeeping, it is at PR #2915

[2017-04-05 19:09] kevinlee12 commented on #3012
Hi @andromfins, any updates on this issue? thanks!

[2017-04-05 19:10] kevinlee12 commented on #3225
Hi @vinayb21, how is this issue coming along?

[2017-04-05 19:14] kevinlee12 commented on #3200
Hi @shaz13, how is this issue coming along? thanks!

[2017-04-05 19:15] kevinlee12 commented on #3199
Hi @vojtechjelinek, how is this issue progressing? thanks!

[2017-04-05 19:17] kevinlee12 commented on #3159
Hi @arun1595, how is this issue progressing? thanks!

[2017-04-05 19:20] kevinlee12 commented on #3056
Hi @VRamazing, the file is in `core/templates/dev/head/components/answer_group_editor_directive.html`, you won't be able to find this in your web browser if that was what you were asking about.

[2017-04-05 19:25] #3045 closed

[2017-04-05 19:32] vojtechjelinek commented on #2700
Hi @BenHenning, in your example you just replaced
`templateUrl: 'components/createActivityButton'` by `templateUrl: 'components/create_button/create_activity_button_directive.html'`, did you need to do something else to make it work? Because after replacement, templateUrl is relative to the domain and we need to insert `build/<cache_slug>` in the URL.

[2017-04-06 00:52] shaz13 commented on #3200
@kevinlee12 The code is ready at my side which features: Offline/Online Status for logged in Users. But @seanlip  suggested that alert alone won't help. I was conffused;
 if the issue statement to be modified,
or this feature should be implemented
or some backend local storage must be written.
ping @seanlip for clarification.
If feature is of just alert is approved the code is ready, if not then w

[2017-04-06 02:00] seanlip commented on #3200
I'm going to file a replacement issue for this and close this one when that's done. I think we should solve the underlying problem and not a proxy for it.

[2017-04-06 02:00] seanlip commented on #3200
(but give me a couple hours to do that)

[2017-04-06 03:27] kevinlee12 commented on #3200
sgtm!

[2017-04-06 04:32] BenHenning opened #3284 "Purge FileReadInput or TarFileReadInput answers"
As a continuation from a discussing in #1205 (https://github.com/oppia/oppia/pull/1205/files/a2ecd8f215584255303bd6ce2a8142ada75c5959#r97263756) we should purge FileReadInput and TarFileReadInput answers from the new answer model once the answer migration completes. This requires writing a new job that maps across all state answers and removes any answers referring to interactions of these types.

[2017-04-06 04:47] saeedjassani commented on #3147
Shouldn't this be closed now? As PR #3218 is merged?

[2017-04-06 04:49] seanlip commented on #3147
Indeed it should. Thanks @saeedjassani!

[2017-04-06 04:49] #3147 closed

[2017-04-06 05:21] BenHenning opened #3285 "Document the answer migration and new answer pipeline"
#1205 introduced an entire answer migration and also significantly iterated on the answer storage model originally introduced in #1171. The new system is complicated and requires documentation, especially since it isn't yet finished. Moreover, there is a lot of valuable information in stats_jobs_one_off that was found during the answer migration which should go into a long-lived document, such as

[2017-04-06 05:28] BenHenning opened #3286 "Cleanup answer migration code once the migration is completed"
After the answer migration successfully runs in prod, we need to remove all of the temporary code introduced as part of it. Foremost are the jobs in stats_jobs_one_off and all corresponding tests related to the answer migration. Additional work is scattered throughout the codebase as TODOs to be removed after the answer migration.

[2017-04-06 05:36] BenHenning opened #3287 "Introduce training data classification in the frontend"
The ``AnswerClassificationService`` should include training data matching, since it was removed when the answer classification was moved to the frontend. Training data matching acts as a backup in case the classifier fails to properly match the answer against specific training data items (which have been confirmed to match the given answer), and generally is expected to be more performant than usi

[2017-04-06 05:45] BenHenning opened #3288 "Add missing tests for stats_services"
We deferred introducing tests for ``stats_services.get_visualizations_info()``, though this is a critical part of the answer visualization pipeline released as part of #1205 and #1171. We should introduce thorough tests and make sure we are guarding against future regressions in this code.

[2017-04-06 05:59] BenHenning opened #3289 "Introduce domain objects for calculation outputs"
As discussed in https://github.com/oppia/oppia/pull/1205/files/a2ecd8f215584255303bd6ce2a8142ada75c5959#r98865383 passing around a dict of answer and frequency all over the place becomes duplicative and generally unmaintainable. We should have a domain object representing these values, but the work was deferred in #1205 due to a large number of places needing to change and the risk of regression b

[2017-04-06 06:12] pdalavi commented on #3146
Invistigating why "resetPreview()" is not called after pressing "Restart From Beginning"

[2017-04-06 06:22] BenHenning commented on #3289
https://github.com/oppia/oppia/pull/1205#discussion_r108844651 for additional context.

[2017-04-06 06:37] BenHenning opened #3290 "Write a job to defragment answer shards"
The new answer model uses sharding as introduced in #1205 and is subjected to fragmentation. We should have two new jobs introduced:

1. A job which analyzes the fragmentation state of all answer containers (a container here being the list of ``StateAnswersModel`` entities linked together for a specific exploration ID, version, and state name)
2. A job which attempts to defragment these containers

[2017-04-06 06:41] BenHenning opened #3291 "Introduce end-to-end tests for answer classification"
Once #1205 is completed, we should have end-to-end tests to:

More broadly, we should ensure our automated tests properly cover all types of answer classifications:

- Explicit
- Default
- Training data
- Statistical

We should especially ensure there are end-to-end tests present for training and testing a statistical classifier (which specifically covers the last two in an end-to-end flow includi

[2017-04-06 06:51] BenHenning opened #3292 "Migrate to a new answer model"
The long-needed-but-never-created tracking bug for all the work done as part of #1205.

[2017-04-06 06:58] BenHenning opened #3293 "Implement configuration to re-route all Oppia traffic for non-admins to a static page"
We need an admin-controlled configuration bit which, when enabled (along with a ``feconf`` flag) will re-route all non-admin Oppia traffic to a static page and ensure no users can interact with any of the data providers, databases, or pages on Oppia. This will be used for the answer migration while the site is down (or really just serving this static page). The contents of the page should be gener

[2017-04-06 07:35] seanlip commented on #3200
Actually, I'm really running out of time tonight.

@Anthony-Alridge -- could you please take this over? I think the action item is to file a new issue to address the underlying problem (described above), assign yourself to that issue, and then close this one. Thanks!

[2017-04-06 07:38] Oishikatta commented on #3269
I haven't been able to narrow down the exact cause or a solution for this yet, so I'm going to unassign for now in case anyone else wants to have a look at it.

[2017-04-06 09:57] Anthony-Alridge commented on #3200
@seanlip sure no problem.

[2017-04-06 10:01] Anthony-Alridge opened #3295 "Prevent users from losing work when they lose internet connection."
A user may be in the process of creating an exploration when they lose internet connection. This can cause frustration as attempting to refresh the browser at this point will cause the user to lose any work which they have so far done on the page (e.g if they were inputting a large amount of text, it will be gone). See [here](https://github.com/oppia/oppia/issues/3200) for more detail.

The aim of

[2017-04-06 10:02] #3200 closed

[2017-04-06 16:27] kevinlee12 commented on #3271
@jaredsilver, thoughts?

[2017-04-06 16:37] kevinlee12 commented on #3272
While this may be useful to some, I'm not quite sure that this is in line with what Oppia was designed to do. However, I will be leaving this up for the community to comment.

[2017-04-06 17:57] Anthony-Alridge commented on #3295
Hi @seanlip I've got a few questions about how to approach this.
I'm taking the problem to be that a creator who has entered a lot of work onto an exploration card will lose this work if they refresh their browser. (I think it's sufficient to focus on the situation where creator's are creating explorations, I can't think of anywhere else a user will enter enough text for this to be a frustration b

[2017-04-06 19:42] Arunabh98 opened #3296 "Create a MR job for getting the current distribution of username lengths in production."
As discussed in PR #3270, we need to get the current distribution of usernames in production to decide the width of the subscription card. Based on the distribution, the optimum length for the subscription card will be decided so that's it's not too short (that almost all usernames are truncated) nor too long.

[2017-04-06 20:57] pranavsid98 opened #3297 "Renaming classifier Registry method get_classifier_by_id"
#3172 revealed that there was some confusion when get_classifier_by_id method was being used by both Classifier Domain objects and Classifier Algorithm Registry objects.

This issue focuses on renaming get_classifier_by_id() for Classifier Algorithm objects to something more suitable.

/cc @anmolshkl

[2017-04-06 21:00] kevinlee12 commented on #1251
Hi @jlin95, hopefully @daniel3735928559's comments helps!

Thanks for the tip @daniel3735928559!

[2017-04-06 23:41] seanlip commented on #3295
So, one thing I should mention is that we do already have functionality for autosaving drafts to the backend. I think localStorage could be part of a solution, but was wondering how the two things would interact with each other?

[2017-04-07 15:17] fodra commented on #2394
I can do core.domain.rights_manager.py

[2017-04-07 18:14] shivanXI commented on #3075
Hi!! @seanlip  so what you have finally decided to do with this?? Am  i allowed to add my point on this issue??

[2017-04-07 19:18] seanlip commented on #2394
Sounds good @fodra, I've assigned you. Thanks!

[2017-04-07 20:03] vojtechjelinek commented on #3199
Hi, sorry I forgot I was assigned.

I think one solution might be to use _.js_ file instead of _.json_, content of this _.js_ file would be `var constants = {"constant1": "xyz", ...}` and insted of using XMLHttpRequest we would use `<script>` for loading that file. Python script would change accordingly. /cc @seanlip

[2017-04-07 21:34] seanlip commented on #3199
It might be possible ... but how would Python interpret the file?

[2017-04-07 21:35] seanlip commented on #3075
Yes, feel free to add comments to this issue. I am not sure what the outcome is, however; @rachelwchen, could you please make a decision?

[2017-04-07 21:40] kirankonduru commented on #2550
Hi @kevinlee12 I've submitted a PR for this issue [here](https://github.com/oppia/oppia/issues/3042).

[2017-04-07 22:28] rachelwchen commented on #3075
Hi @shivanXI, would love to learn your thought on this!

Given that we do have exploration overviews, I think it might be fine to just leave the current placeholder text as is, so that the "in this exploration, you're going to learn about..." learning goals won't interrupt the story mode of some explorations. Like what @anthkris said -- the surprise from users can be a motivating factor sometimes.

[2017-04-08 03:36] kevinlee12 opened #3300 "Clicking on About tab defaults to Foundation tab open"
When the user clicks on the About link, it takes them to the Foundation tab instead of defaulting to the About tab.

[2017-04-08 04:31] jaredsilver opened #3303 "Better handle empty Goals in the preview card summary"
Currently, if the Goal field is empty, the preview card summary will throw an error and display this:

![screen shot 2017-04-07 at 11 53 30 pm](https://cloud.githubusercontent.com/assets/1312199/24825693/cdb1effe-1bf1-11e7-82bb-23de38ac6175.png)

The following error also appears:

[code]

1) Fix the Angular error that's appearing.
2) Prevent the `<[getObjective() | truncateAndCapitalize: 95]>` tex

[2017-04-08 04:37] jaredsilver opened #3304 "Better account for overflowing text on summary cards"
Currently, summary cards do not account for text overflow. The result is following:

![screen shot 2017-04-07 at 11 50 12 pm](https://cloud.githubusercontent.com/assets/1312199/24825745/368c1044-1bf3-11e7-88ca-db684f05fa9e.png)
(library)

![screen shot 2017-04-07 at 11 49 26 pm](https://cloud.githubusercontent.com/assets/1312199/24825746/382590d8-1bf3-11e7-86ee-05eca5971f00.png)
(creator dashboard