[2022-01-14 19:16] nithinrdy commented on #13548
Hey @kevintab95, I've been looking into this issue (not assigned myself to it just yet) and I noticed a comment left by you in the code (the python configuration file for the `ItemSelectionInput` interaction):

![image](https://user-images.githubusercontent.com/78612244/149572304-b8f09fe4-8cb3-4903-b1dd-b5f463cf8a0b.png)

I tried to see if the issue still exists, but I was unable to reproduce it -

[2022-01-14 20:24] sagangwee commented on #7571
Mocks can be found here: https://xd.adobe.com/view/2efbdf89-d293-4406-9720-77f77870093b-7ba8/screen/ef660789-fff0-4a80-95f1-a5a0d7afc00f

[2022-01-14 21:07] sagangwee commented on #7571
One way to implement this is to check if a translation opportunity has a matching translation suggestion with status APPROVED. This will require a lookup per translation opportunity however, so an alternative might be to store the most recently approved corresponding suggestion when creating a new translation opportunity to avoid additional reads on opportunity lookup. May need to hash out further

[2022-01-14 21:20] sagangwee commented on #14358
The slow translation opportunity load times are probably due to the translations in review calculation in [opportunity_services.py.get_exp_opportunity_summary_with_in_review_translations_from_model](https://github.com/oppia/oppia/blame/develop/core/domain/opportunity_services.py#L96)
since we are iterating through all the translations_in_review for every opportunity. Original change in https://git

[2022-01-14 23:52] pallavimantri opened #14655 "While choosing different language for Learners dashboard still showing some menu content in English language."
**Describe the bug**
While choosing a different language for Learners dashboard still shows menu content in the English language not in the selected language.

**To Reproduce**
Steps to reproduce the behavior:
Sign in to 'https://www.oppiatestserver.org/'
Select or change the language to Hindi or Turkish.
Go to learners dashboard - https://www.oppiatestserver.org/learner-dashboard
Verify the menu

[2022-01-15 07:16] Kawaritai commented on #12912
Hello @vojtechjelinek. Please assign me to  `consider-using-f-string`, thanks.

[2022-01-15 07:19] Manan-Rathi commented on #14219
Working on `core.storage.auth.gae_models_test`

[2022-01-15 09:47] adityanarayanm095 commented on #14033
@vojtechjelinek what is this, How to resolve it?
![Screenshot from 2022-01-15 15-14-35](https://user-images.githubusercontent.com/91023072/149617427-76e2c9ea-bec4-4429-8118-4b1314bc273e.png)

![Screenshot from 2022-01-15 15-15-07](https://user-images.githubusercontent.com/91023072/149617432-b4e50fac-f4c5-4e60-a04b-efbdac1769bb.png)

help!

[2022-01-15 10:34] khareyash05 commented on #10474
@vojtechjelinek Can you pls assign me `core/templates/pages/profile-page/profile-page.component.ts`

[2022-01-15 11:33] camperjett commented on #10474
I am getting ```15 01 2022 16:48:26.356:WARN [launcher]: ChromeHeadless was not killed in 2000 ms, sending SIGKILL.``` When trying to push to my fork.

[2022-01-15 12:26] vojtechjelinek commented on #10474
@khareyash05 Done.

@camperjett Please create an thread in https://github.com/oppia/oppia/discussions/categories/setup-issues

[2022-01-15 12:37] vojtechjelinek commented on #14033
You need to make the lines shorter. When you have this big function definition have every argument on separate line:
[code]

[2022-01-15 21:40] U8NWXD commented on #14219
@janneyt @IamEzio @Manan-Rathi assigned

[2022-01-16 06:14] pallavimantri commented on #14431
@paprajapati9 Hello,

I am testing this change for the January release cycle and looks like it is not fixed yet. Could you please look into it?
Please find the attachment for the same.
![Screenshot (49)](https://user-images.githubusercontent.com/87786183/149649281-bf7a1ae0-6b55-4f2c-8262-8d3560a4567b.png)

[2022-01-16 06:22] pallavimantri opened #14667 "When you select a particular language then every content of the preferences tab should be in that language instead of two different languages."
Describe the bug
When you select a particular language then every content of the preferences tab should be in that language instead of two different languages.

To Reproduce
Steps to reproduce the behavior:
Sign in to 'https://www.oppiatestserver.org/'
Go to the preferences page - https://www.oppiatestserver.org/preferences
Select or change your language to Hindi or Turkish. (But not English)
Veri

[2022-01-16 08:09] raghavluthra20 commented on #12912
Hey @vojtechjelinek Can I work on `consider-using-f-string`?

[2022-01-16 09:09] paprajapati9 commented on #14431
Hello @pallavimantri, Are you talking about navbar or the content, cause I think this particular issue was for navbar, content is still being fixed and we already have a PR raised for that. If the issue is still there for navbar, let me know, will look into it. Thanks!

[2022-01-16 09:09] krishita30j opened #14669 "Clicking on cross does not close the Review Translation model in Contributor Dashboard"
**Describe the bug**
1. Cursor shows text instead of a pointer on hovering the 'translate to' languages in Contributor Dashboard.
2. Clicking on cross does not close the Review Translation model in Contributor Dashboard.

**To Reproduce**
Steps to reproduce the first behavior:
 1. Go to Contributor Dashboard
 2. Click on Translate Text
 3. Hover over languages in Translate to dropdown.
 4. See err

[2022-01-16 10:49] khareyash05 commented on #10616
@Hudda Pls assign me `@typescript-eslint/no-for-in-array`

[2022-01-16 11:01] ananth243 commented on #14219
@U8NWXD  Working on ```core.domain.question_fetchers_test```

[2022-01-16 12:40] mhammadsaani commented on #14419
Anything here where I can contribute?

[2022-01-16 12:50] sahiljoster32 opened #14671 "(January QA testing) Getting console errors when using drag anwser optiions."
**Describe the bug**
console errors shows up, when using drag anwser opitons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learner-dashboard
 2. Click on fractions's practice tab.
 3. Start doing questions, drag options and see console for errors.
 4. See error

**Observed behavior**
console flooded with errors.

**Expected behavior**
no console erro

[2022-01-16 13:26] ShivamJhaa commented on #14566
Fixed in PR https://github.com/oppia/oppia/pull/14522

[2022-01-16 13:27] #14566 closed, assigned to nobody

[2022-01-16 14:39] vojtechjelinek commented on #10616
@khareyash05 Done.

[2022-01-16 14:52] vojtechjelinek commented on #12912
@raghavluthra20 Please wait a bit as f-strings are not used in our codebase and I need to check with the rest of the core maintainers. Feel free to pick different rule for now.

[2022-01-16 15:45] JayVivarekar commented on #14219
@U8NWXD Can I work on `core.domain.classifier_services_test`?

[2022-01-16 17:22] Rijuta-s commented on #14669
@krishita30j Can you please confirm if this is same as issue https://github.com/oppia/oppia/issues/14552 ?

//cc @paprajapati9 , If it is same as #14552, can you please take a look?

[2022-01-16 17:48] ishivanshgoel commented on #14599
@ShivamJhaa Can you assign me this issue?

[2022-01-16 17:51] paprajapati9 commented on #14669
Yes @Rijuta-s it is the same

[2022-01-16 17:54] Rijuta-s commented on #14669
Thanks @paprajapati9 , Closing #14552 and assigning this one to you!

[2022-01-16 17:54] Rijuta-s commented on #14552
Closing since this is same as #14669.

[2022-01-16 17:54] #14552 closed, assigned to nobody

[2022-01-16 17:56] ShivamJhaa commented on #14599
Done.

[2022-01-16 19:39] jordyparker commented on #10474
Hi @vojtechjelinek, kindly assign me this file `core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts`

[2022-01-16 20:11] rishabhbajpai2000 commented on #14419
@JeeveshGarg
sir, second class (BeamJobState) which you have assigned to me is already in the right format when I have searched for it in the code,can you please check?

[2022-01-16 20:33] pallavimantri commented on #14431
@paprajapati9  As you can see in the above screenshot in the previous comment I can still see the issue for the nav bar.

[2022-01-16 21:05] vojtechjelinek commented on #10474
@jordyparker Done.

[2022-01-16 21:14] vojtechjelinek commented on #14033
@Vineet-the-git Hey, are you still working on this issue? Do you need any help?

[2022-01-16 21:24] jordyparker commented on #10474
If I encounter errors during the execution of the strict type check and these errors do not belong to the file that has been assigned to me, do I have the right to resolve them?

[2022-01-16 21:24] vojtechjelinek commented on #10474
Yep

[2022-01-16 21:54] vojtechjelinek commented on #14033
@dhruvshrivastava Hey, are you still working on this issue? Do you need any help? Btw, there was an attempt to add the types to _skill_domain.py_ in #14446

[2022-01-17 02:12] paprajapati9 commented on #14431
Sorry @pallavimantri, Can you please elaborate what issue are you talking about exactly, I can't get what exactly are you talking about. If you are talking about how the navbar is mirror image of navbar in english that's a feature we have implemented and it's not an issue which needs to be fixed.

[2022-01-17 02:19] pallavimantri commented on #14431
Yes i was not sure if mirror image was on purpose. Thanks for the clarification

[2022-01-17 05:16] dhruvshrivastava commented on #14033
@vojtechjelinek Hi, yeah I am still working on it. Yes, saw #14446 and I'm using that as a reference. Should be done with them this week. Sorry for the delay.

[2022-01-17 05:36] JeeveshGarg commented on #14419
Yes correct, leave this one and do FILTER_FIELD_NAMES gae_models.py only.
Thanks.

[2022-01-17 05:36] JeeveshGarg commented on #14419
Not yet. Sorry @mhammadsaani

[2022-01-17 06:38] Aayush452-cell commented on #13162
@Nik-09 I want to work on SkillDataHandler and FetchSkillsHandler. Can you please assign them to me

[2022-01-17 07:49] ishivanshgoel commented on #14599
Working on this issue.

[2022-01-17 08:18] Vineet-the-git commented on #14033
I was working on it. But currently I did not get time to finish it off, it has still got some errors. I dont think for a few day I will have the time.. You can assign it to someone else.

[2022-01-17 08:52] nithinrdy commented on #14639
Hey @seanlip, I've looked into this issue but have been unable to reproduce it (atleast using the steps-to-reproduce listed in the issue description). For starters, the [code to set the correct error message does exist](https://github.com/oppia/oppia/blob/4598af0b5804aa15f96c24ce49c3c909e322de01/core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts#L80-L9

[2022-01-17 08:59] kevintab95 commented on #14671
Thanks @sahiljoster32 for filing. But looks like this one looks similar to https://github.com/oppia/oppia/issues/12582. Can you confirm? If so, please feel free to close this one.

[2022-01-17 09:04] kevintab95 commented on #14667
@krishita30j @Rijuta-s as leads of the LaCE quality team could you please prioritize this for the January release? Thanks!

[2022-01-17 09:06] kevintab95 commented on #14655
@krishita30j @Rijuta-s as leads of the LaCE quality team could you please prioritize this for the January release? Thanks!

[2022-01-17 09:07] sahiljoster32 commented on #14671
yup, both are same. so, i'm closing it!!
Thanks @kevintab95, to inform!

[2022-01-17 09:07] #14671 closed, assigned to sahiljoster32

[2022-01-17 10:15] Dhruv454000 commented on #12912
hi @vojtechjelinek can i be assigned to super-with-arguments

[2022-01-17 10:15] ShivamJhaa opened #14679 "Remove the object type of skillIdToRubricsObject"
**Is your feature request related to a problem? Please describe.**
Currently the type define for skillIdToRubricsObject is "object"
**Describe the solution you'd like**
Use a more accurate type.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
**Additional context**
Add any other context or screenshots about the

[2022-01-17 10:26] vojtechjelinek commented on #12912
@Dhruv454000 Done.

[2022-01-17 10:37] vojtechjelinek commented on #14033
@Vineet-the-git Would you be fine with uploading your outcome as a gist so that someone can continue on it?

[2022-01-17 11:19] raghavluthra20 commented on #12912
No worries! Can I work on `unnecessary-pass`?

[2022-01-17 12:06] Dhruv454000 commented on #12912
@vojtechjelinek i have made the changes, but i am getting some other error of installation
  File "/usr/lib/python2.7/runpy.py", line 163, in _run_module_as_main
    mod_name, _Error)
  File "/usr/lib/python2.7/runpy.py", line 119, in _get_module_details
    code = loader.get_code(mod_name)
  File "/usr/lib/python2.7/pkgutil.py", line 281, in get_code
    self.code = compile(source, self.filename,

[2022-01-17 13:48] ashish-patwal commented on #13956
![2022 01 17-19 14 00 screenshot](https://user-images.githubusercontent.com/63491234/149779857-d49493a4-2fa9-44ce-ab29-e3318c79ef01.png)

Hey @vojtechjelinek , had a doubt . Since the previous python_utils.open_file function had a default parameter set for encoding as 'utf-8' . Now when i replaced the function with open() , there are many places where encoding is not specified explicitly which is

[2022-01-17 14:13] Shoray2002 commented on #12912
Hi @vojtechjelinek can you assign me "consider-using-with" and "import-outside-toplevel"

[2022-01-17 16:25] Dhruv454000 commented on #12912
hi @vojtechjelinek
This cases passed.
![WhatsApp Image 2022-01-17 at 9 50 20 PM](https://user-images.githubusercontent.com/84779934/149805864-d488d66a-0b22-4510-abab-5209d3861e83.jpeg) #

I got error in this one
![WhatsApp Image 2022-01-17 at 9 49 43 PM](https://user-images.githubusercontent.com/84779934/149806058-400ba41f-033b-4511-8aed-b9f7af8d1028.jpeg)

[2022-01-17 16:25] Showtim3 opened #14683 "In mobile devices, the bottom navigation bar moves up when scrolling towards up in the learner dashboard."
**Describe the bug**
The bottom navigation bar moves up when scrolling towards up.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to leaner dashboard.
 2. Scroll up and down.

**Expected behavior**
The bottom navigation bar should stick at the bottom and there should be no gap.

**Screenshots**
![WhatsApp Image 2022-01-17 at 9 45 56 PM](https://user-images.githubusercontent.com/30312043

[2022-01-17 16:33] Vineet-the-git commented on #14033
Sorry, but I can't do it even if I want to. 2 Days back because of some mistake I messed up the OS and in the end, I was forced to delete the OS and reinstall it. I didn't push the code on GitHub so I lost it.

[2022-01-17 16:38] Dhruv454000 commented on #12912
As there are lots of files with super i need to change all, is there any alternative?

[2022-01-17 17:11] Yash-g17 commented on #14667
@krishita30j @Rijuta-s I'd love to work on this issue , can you please guide me where to begin.

[2022-01-17 17:24] vojtechjelinek commented on #12912
Yep, you need to change all.

[2022-01-17 17:44] vojtechjelinek commented on #13956
Hmm, I think you can specify a new `open` function in _utils.py_ that will use `'utf-8'` by default and then call it from everywhere.

[2022-01-17 17:56] vojtechjelinek commented on #12912
Sure, but be vary that you might need to add a lot of ignores for `import-outside-toplevel`

[2022-01-17 19:13] vojtechjelinek commented on #12912
Sorry again, I think we want to keep that too, can I assign you to `consider-using-dict-items`?

[2022-01-17 21:55] Rijuta-s commented on #14667
@Yash-g17 I am taking this up as we need to fix this issue asap! Thanks a lot!

[2022-01-17 22:34] Rijuta-s commented on #14655
@aks681 Can you please confirm if this issue is being fixed by #14375 or not?

[2022-01-18 02:18] dchen97 commented on #14544
Hi @aayushsrivastava9760 - would you mind explaining further what you'd like to do here? Is this a bug or a feature request? Do you have updated designs you plan to work off of?

[2022-01-18 02:37] raghavluthra20 commented on #12912
Sure

[2022-01-18 02:57] Yash-g17 commented on #13162
@Nik-09 can you please assign QuestionCreationHandler to me .

[2022-01-18 03:01] Yash-g17 commented on #10474
@vojtechjelinek can you please assign an easy to begin file to me ?

[2022-01-18 05:03] mansi36 commented on #14683
i want to work on this issue can you plz assign me this issue

[2022-01-18 07:31] Dhruv454000 commented on #12912
@vojtechjelinek i have fixed the super issue
![WhatsApp Image 2022-01-18 at 12 57 20 PM](https://user-images.githubusercontent.com/84779934/149890730-9da31251-83aa-4ebb-826a-b1b34e647c1e.jpeg)
should i send a pr?
one pr is ok?

[2022-01-18 10:42] IamEzio commented on #14187
@U8NWXD Can I be assigned to `subtopic.model.ts`? Thanks.

[2022-01-18 13:05] soumyo123-prog commented on #14187
done

[2022-01-18 13:23] vojtechjelinek commented on #10474
@Yash-g17 Done.

[2022-01-18 13:35] vojtechjelinek commented on #12912
Sure, create a PR.

[2022-01-18 14:22] Dhruv454000 commented on #12912
#14687 i have made a PR @vojtechjelinek

[2022-01-18 16:10] div-yam commented on #14219
Hey @U8NWXD ! Can I be assigned `core.domain.blog_domain_test` ?

[2022-01-18 16:12] dshmul commented on #14419
Hi @JeeveshGarg, are there any classes that remain and need to be refactored?

[2022-01-18 16:12] #14383 closed, assigned to chiragbaid7

[2022-01-18 16:14] ashish-patwal commented on #13956
![2022 01 18-21 35 09 screenshot](https://user-images.githubusercontent.com/63491234/149974858-9ff49399-0746-476a-bfc5-918adad94059.png)
Hey @vojtechjelinek i'm in a pinch again . It's regarding the return type annotation ( def function ->  return type : ) for open_file function in utils.py . I declared the return type as TextIOWrapper which was suggested by my python language server but it is sti

[2022-01-18 16:42] Yash-g17 commented on #10474
@vojtechjelinek i'm getting errors without even typing in my file path in the  "tsconfig-strict.json" , Will my PR be accepted with those previous errors ?
![image](https://user-images.githubusercontent.com/57015747/149979575-d4749907-2daf-4ac5-8369-9c1507e53aa8.png)

[2022-01-18 17:00] Dhruv454000 commented on #12912
@vojtechjelinek do i need to do any changes in super without arguments pr?
can i work on other issue?
I can work on arg-name-for-non-keyword-arg

[2022-01-18 17:03] ananth243 commented on #12912
@vojtechjelinek Can I be assigned to ```raise-missing-from```?

[2022-01-18 17:31] raunaqpahwa commented on #14419
Hey @dshmul Can you take up the classes that I was assigned ? I am busy with something and won't have time to fix the unit tests. Thanks!

[2022-01-18 17:38] JeeveshGarg commented on #14419
@raunaqpahwa means you are not working on all 4 classes. right??

[2022-01-18 17:41] raunaqpahwa commented on #14419
Yes @JeeveshGarg anyone who works on them can refer to the PR above although some backend tests are not working in that.

[2022-01-18 17:43] YBCS commented on #13956
@ashish-patwal the log says undefined variable.
I think you need to import it
`from io import TextIOWrapper`

[2022-01-18 17:43] JeeveshGarg commented on #14419
@raunaqpahwa can ask for help, from reviewers. Ig it may not take too long,.

If you are not ready. Please close the PR, and update the reason.

Thanks.

[2022-01-18 17:45] mhammadsaani commented on #14419
If this is beginners friendly, I can work on this @raunaqpahwa

[2022-01-18 17:48] dshmul commented on #14419
@raunaqpahwa, @JeeveshGarg I'd be happy to take over

[2022-01-18 17:50] JeeveshGarg commented on #14419
`ENTRY_POINT`, `STATS_PARAMETER_NAMES`,  @mhammadsaani  (Both class)

`ANDROID_TEXT_SIZE`, `ANDROID_NETWORK_TYPE` @dshmul (Both class).

Thanks.

[2022-01-18 18:10] mhammadsaani commented on #14419
@JeeveshGarg
How can I easily find the files that are assigned to me?

[2022-01-18 18:22] JeeveshGarg commented on #14419
by use of global search, in your editor is the best way.

[2022-01-18 18:24] JeeveshGarg commented on #14419
@raunaqpahwa Please close the PR with reason.
Thanks.

[2022-01-18 19:33] jordyparker commented on #10474
hi @vojtechjelinek i've been working on the file you assigned me, i fixed the errors and the strict check passed well untill i add the spec file. Now i have new errors i don't really know how to solve them like i can't figured out default value i should assign to a variable
![Screenshot from 2022-01-18 20-34-53](https://user-images.githubusercontent.com/48652493/150006355-3d975769-416c-4f16-b345-b

[2022-01-18 22:01] nadintamer commented on #14635
Hi @Rijuta-s! Can I please be assigned this issue? Thanks :)

[2022-01-18 22:01] nadintamer commented on #12425
Hi @Rijuta-s! Can I please be assigned this issue? Thanks :)

[2022-01-18 22:14] #14432 closed, assigned to nobody

[2022-01-19 01:33] Sangkyun-Kim15 commented on #14033
@vojtechjelinek Hey! I would like to work on this issue. Can you assign me an unassigned task on this issue?

[2022-01-19 04:20] pathange-s commented on #10616
@Hudda Please assign me `@typescript-eslint/explicit-function-return-type`

[2022-01-19 06:05] paprajapati9 commented on #14683
@mansi36 Thanks for showing your interest in fixing this but as it required quick fix, have raised a PR for this, maybe you can try starting with issues that have label `good-first-issue`.

[2022-01-19 06:54] pathange-s opened #14689 "[Bug]: Copy to clipboard copies not just the command but entire text"
**Describe the bug**
Copy to clipboard for the section : (2 - Install pyenv:) on the Installing Oppia (Linux; Python 3) page under [Setup a virtual environment](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%3B-Python-3%29#setup-a-virtual-environment) copies the entire text

**Observed behavior**
I was setting up oppia and found that clipboard has all the text rather than just the n

[2022-01-19 07:02] Shoray2002 commented on #12912
@vojtechjelinek I have enabled consider-using-with. Should I make a PR now or later when import-outside-toplevel is also done?

[2022-01-19 07:33] kevintab95 opened #14690 "Unable to create a new question for a skill"
**Describe the bug**
Unable to create a new question for a skill

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the skill editor page for any skill.
 2. Create a question.
 3. See error.

**Observed behavior**
There is a console error and the question is not published.

**Expected behavior**
There should not be any console errors and the question should be published.

**Screenshots**

[2022-01-19 07:35] kevintab95 commented on #14690
@Rijuta-s @krishita30j could you please prioritise this? It looks like a regression.

[2022-01-19 07:40] kevintab95 opened #14691 "Unable to delete the last question in a skill"
**Describe the bug**
Unable to delete the last question in a skill.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the skill editor page for a skill that has at least one question.
 2. Delete all questions in the skill.
 3. See error

**Observed behavior**
There is a console error and the UI shows no questions but this changes on refresh.

**Expected behavior**
There should not be an

[2022-01-19 07:40] kevintab95 commented on #14691
Hi @krishita30j @Rijuta-s could you please prioritise this? It looks like a regression.

[2022-01-19 07:43] kevintab95 opened #14692 "Saving changes to a story without a commit message results in an error"
**Describe the bug**
Saving changes to a story without a commit message results in an error

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the story editor page.
 2. Make some changes.
 3. Try to save without a commit message.
 4. See error.

**Observed behavior**
The changes are not saved and there is a console error.

**Expected behavior**
There should be a UI validation for empty

[2022-01-19 07:43] kevintab95 commented on #14692
Hi @EricZLou could you please prioritise this one (since it looks like a validation related issue)?

[2022-01-19 07:46] kevintab95 opened #14693 "Unable to change the colour of a thumbnail in the story and chapter editors"
**Describe the bug**
Unable to change the colour of a thumbnail in the story and chapter editors.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to story or chapter editor.
 2. Edit the thumbnail color.
 3. Observe that it can not be saved.

**Observed behavior**
It is not possible to change the thumbnail colour.

**Expected behavior**
It should be possible to change the thumbnail colou

[2022-01-19 07:46] kevintab95 commented on #14693
@Rijuta-s @krishita30j could you please prioritise this one? It looks like a regression.

[2022-01-19 07:50] kevintab95 opened #14694 "Long skill names do not wrap properly in the difficulty editor"
**Describe the bug**
Long skill names do not wrap properly in the difficulty editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill with a lenghty name.
 2. Go to the question editor and create a question for the skill.
 3. Observe that the difficulty editor UI looks a bit off.

**Observed behavior**
Long skill names do not wrap properly in the difficulty editor.

**Expected

[2022-01-19 07:57] ashish-patwal commented on #13956
![2022 01 19-13 23 48 screenshot](https://user-images.githubusercontent.com/63491234/150087634-3378e607-ae44-4fa4-8533-922cc9de66fb.png)

@YBCS i did change it to TextIOWrapper and imported it using io but now the return type is giving this IO[any] instead of TextIOWrapper as you can see in the log above . It seems since the files can be opened both in binary as well as text mode we need a more br

[2022-01-19 09:54] #14621 closed, assigned to nithinrdy

[2022-01-19 10:48] khareyash05 commented on #10616
@Hudda Please assign me `@typescript-eslint/lines-between-class-members`

[2022-01-19 11:34] khareyash05 commented on #10700
@srijanreddy98 @mridul-netizen Can i work on `WrittenTranslationsObjectFactory`

[2022-01-19 12:27] mridul-netizen commented on #10700
Sure, go ahead, assigned you!

[2022-01-19 12:51] vojtechjelinek commented on #10474
Not sure why you see those, do you have Oppia properly installed? Did you ran the start command?

[2022-01-19 12:53] vojtechjelinek commented on #10474
Did you look into other similar files that are already strictly typed to see how they solve it?

[2022-01-19 13:09] vojtechjelinek commented on #14033
@Sangkyun-Kim15 Done.

[2022-01-19 13:19] vojtechjelinek commented on #12912
Up to you? How many files are affected?

[2022-01-19 13:20] vojtechjelinek commented on #12912
Done.

[2022-01-19 13:20] vojtechjelinek commented on #12912
I have left a review on your PR. I recommend working on a different 'good first issue'.

[2022-01-19 13:28] mudassir1231 commented on #14276
can i work on this feature

[2022-01-19 13:35] Manan-Rathi commented on #14187
Hi @U8NWXD . Kindly assign me to `truncate-and-capitalize.pipe.ts`

[2022-01-19 13:56] Shoray2002 commented on #12912
5 files
I will make a pr then

[2022-01-19 13:57] Shoray2002 commented on #12912
@vojtechjelinek 5 files were affected in total for consider-using-with.

[2022-01-19 14:03] vojtechjelinek commented on #12912
I think then make just one PR for both checks.

[2022-01-19 15:15] raghavluthra20 commented on #12912
@vojtechjelinek can I be assigned to `consider-using-dict-items`?

[2022-01-19 16:07] Manan-Rathi commented on #14187
Hi @U8NWXD. Kindly assign me to `truncate-and-capitalize.pipe.ts`

[2022-01-19 16:19] Rijuta-s commented on #12425
Thanks @nadintamer. Assigned to you.

[2022-01-19 16:21] sagangwee opened #14698 "[CD Infra] Add ability to generate X sample translatable explorations on local dev server for the contributor dashboard"
This would be configured in the admin activities page.

This would allow us to test features/bugs related to latency, pagination, and the like. It would also make it easy for developers to set up the data needed to work with the contributor dashboard.

See https://github.com/oppia/oppia/wiki/Contributor-dashboard for info on how exploration/lesson content is surfaced on the contributor dashboard.

[2022-01-19 16:22] U8NWXD commented on #14219
@JayVivarekar @div-yam assigned

[2022-01-19 16:23] sagangwee commented on #14358
Will fix as part of https://github.com/oppia/oppia/issues/7571.

[2022-01-19 16:41] U8NWXD commented on #14187
@Manan-Rathi done

[2022-01-19 16:56] Yavnikaa commented on #13162
@Nik-09 can I work on SkillDescriptionHandler and RecommendationsHandler?

[2022-01-19 17:14] Nik-09 commented on #13162
@Aayush452-cell, @Yash-g17, @Yavnikaa Done

[2022-01-19 18:18] Lawful2002 commented on #14690
@kevintab95 I'm currently unable to reproduce this issue on develop. I have attached the video of the same.

https://user-images.githubusercontent.com/73544247/150190313-ee5cc462-4408-4951-8f11-229180e9f51a.mp4

[2022-01-19 18:25] Lawful2002 commented on #14691
@kevintab95 I'm unable to reproduce this issue on develop. I have attached a video of the same.

https://user-images.githubusercontent.com/73544247/150191447-7f7eb243-0748-46bc-be46-7cdcdf4ebde2.mp4

[2022-01-19 18:44] Rijuta-s commented on #14692
Thanks for working on this one @Lawful2002.

[2022-01-19 18:46] Rijuta-s commented on #14693
Thanks @SanjaySajuJacob for working on this one!

[2022-01-19 18:47] Rijuta-s commented on #14694
Thanks @nithinrdy for working on it!

[2022-01-19 20:28] heyimShivam commented on #13467
` Error: ContextService should not be used outside the context of an exploration or a question. in Translation tab component should finish translation tutorial when welcome translation modal is dismissed (example). Likely introduced by Fix part of issue #9749: migrate welcome translation modal from angularjs to angular #14410. ` PR #14619 reduces the frequency of the flake

[2022-01-19 20:41] jordyparker commented on #10474
Actually, the errors are not coming from the file you assigned to me, I get these errors when I add the spec file to the tsconfig-strict.json file. I also looked at other files similar to the one that gives me errors, but they are all the same.

[2022-01-19 21:29] kevintab95 commented on #14690
This occured on the test server where the `release-3.2.3` branch is deployed. Could you please check locally on this branch? It may be that a later commit fixed it, if so, we can just cherrypick that commit into the release branch. If not, this needs more investigation as to why it happens on the test server.
/cc @Rijuta-s @krishita30j

[2022-01-19 21:30] kevintab95 commented on #14691
This occured on the test server where the `release-3.2.3` branch is deployed. Could you please check locally on this branch? It may be that a later commit fixed it, if so, we can just cherrypick that commit into the release branch. If not, this needs more investigation as to why it happens on the test server.
/cc @Rijuta-s @krishita30j

[2022-01-19 21:50] ikeadeoyin commented on #13162
@Nik-09 Can you please assign QuestionPlayerHandler to me?

[2022-01-19 22:19] kevintab95 opened #14702 "Making changes to a stale topic editor page causes errors"
This error occurred recently in production

[code]

### Screenshot
![image](https://user-images.githubusercontent.com/11008603/150223718-b7ac9f77-9177-43e1-b7af-dd701337d209.png)

### Steps to reproduce

1. Open topic editor page.
2. Duplicate the tab (i.e. open the same topic editor in a new tab.)
3. Make some change in topic editor in the first tab.
4. Go to the second tab and make a different c

[2022-01-19 23:02] kevintab95 opened #14703 "$rootScope:infdig error in item selection in the editor page"
This error occurred recently in production

[code]

Based on the logs, it looks like this occurs in the main editor page where the lesson is in a foreign language. The client browser is Safari 15.

Before solving this, please try to reproduce this locally or find the most probable root cause with sufficient proof and comment on this thread,

[2022-01-19 23:06] kevintab95 commented on #14703
It looks like the value for "translate-values" attribute appears to be the most frequently fired watchers (based on [this](https://code.angularjs.org/1.8.2/docs/error/$rootScope/infdig?p0=10&p1=%5B%5B%7B%22msg%22:%22interpolateParams%22,%22newVal%22:%7B%22minChoiceNumber%22:4%7D,%22oldVal%22:%7B%22minChoiceNumber%22:4%7D%7D%5D,%5B%7B%22msg%22:%22interpolateParams%22,%22newVal%22:%7B%22minChoiceNum

[2022-01-19 23:14] kevintab95 opened #14704 "Schema validation error on uploading an exploration YAML"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Set `ALLOW_YAML_FILE_UPLOAD` to true in `constants.ts`
 2. Go to the creator dashboard.
 3. Upload a test exploration YAML file from [here](https://github.com/oppia/oppia/tree/develop/data/explorations).
 4. See error.

**Observed behavior**
Valid exploration YAML does no

[2022-01-19 23:20] kevintab95 commented on #14351
Hi @Nik-09, just wanted to check, `Task 2` is checked in the description. Has it been done?

I'm seeing errors of the form "Missing schema for HEAD method" in production for the following handlers often:
1. ExplorationPage
2. ForumRedirectPage

/cc @vojtechjelinek

[2022-01-19 23:34] kevintab95 opened #14705 "Schema validation error for old explorations that contain params"
This error occurred recently in production

[code]

### Screen capture

https://user-images.githubusercontent.com/11008603/150235192-e7d5975e-25ef-43db-80e2-efdca9930443.mp4

### Steps to reproduce locally
1. Undo changes in https://github.com/oppia/oppia/pull/11513 (ignore spec file.)
2. Start server.
3. Create an exploration and enable parameters in the settings tab in the editor.
4. Add a few p

[2022-01-19 23:34] kevintab95 commented on #14705
/cc @vojtechjelinek

[2022-01-19 23:37] kevintab95 commented on #14704
Looks like a schema validation issue.
/cc @vojtechjelinek @Nik-09

[2022-01-19 23:45] kevintab95 opened #14706 "Parsing error in the RTE parser service"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-19 23:52] kevintab95 opened #14707 "Cannot read properties of undefined (reading 'x0') in StateGraphVisualizationDirective"
This error occurred recently in production

[code]

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discussion on the issue thread).
* Make a PR that fixes the issue, then close the issue on merging the PR. (If the error reoccurs in production, the issue will be re

[2022-01-19 23:55] kevintab95 opened #14708 "this.initArgs is undefined"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-20 00:07] kevintab95 opened #14709 "Invalid interaction id at isCurrentInteractionTrainable"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-20 00:48] kevintab95 opened #14710 "Cannot read properties of null (reading 'findOne')"
This error occurred recently in production

[code]

This occured in the topics and skills dashboard page.

[2022-01-20 00:52] kevintab95 commented on #14710
This might happen when an RTE element is added / removed but the original editor is no longer visible on the screen.

I was able to reproduce this on the topics and skills dashboard page
1. Go to the skills tab.
2. Create a new skill.
3. Edit the "Review Material".
4. Try to add a concept card.
5. Observe that the concept card modal opened behind the active modal.
6. Close the active modal and the

[2022-01-20 00:52] kevintab95 commented on #14710
@Rijuta-s @krishita30j could you please prioritise this?

[2022-01-20 01:16] kevintab95 opened #14711 "Attempt to use a destroyed view: detectChanges [editor page]"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-20 01:17] kevintab95 commented on #14711
We may need additional logging to debug this, it might be helpful to figure out the name of the view that is destroyed so we can understand what is happening. E.g. log ‘Object.contructor.name’

[2022-01-20 01:46] kevintab95 opened #14712 "Add validation for author recommended ids field"
### Steps to reproduce
1. Create an exploration.
2. Add an EndExploration interaction.
3. Add any string with ";" for the prompt "IDs of explorations to recommend to the learner (at most 3 are shown)".
4. Observe the following errors:
    - The exploration can be saved and published even though there is a backend schema error.
    - Reaching the end exploration in play mode throws an error.

### S

[2022-01-20 01:47] kevintab95 commented on #14712
Please note: This resulted in a server error, so the fix may involve audit and clean-up of data on prod.

[2022-01-20 02:00] kevintab95 opened #14713 "ngModel:numfmt error in the editor page"
This error occurred recently in production

[code]

It looks like an input component expecting a number was provided a non-numeric value in some manner. This occured on a Safari 15 browser.

[2022-01-20 02:03] kevintab95 opened #14714 "Cannot read properties of null (reading 'contentId')"
This error occurred recently in production (release-3.2.2)

[code]

https://github.com/oppia/oppia/blob/3bf06224ad38091488094fd7a7d85dbe5e3754f3/core/templates/pages/exploration-editor-page/services/exploration-states.service.ts#L149-L151

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state na

[2022-01-20 02:23] kevintab95 opened #14715 "[CD] At least one of the new skill_difficulty or question_dict should be changed"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-20 02:29] kevintab95 commented on #14715
Looks this validation error occured when trying to submit a new question, can this be caught early in the front-end so the user can do what is necessary to correct the error?
/cc @sagangwee @chris7716

[2022-01-20 02:46] #14524 closed, assigned to Radesh-kumar, heyimShivam

[2022-01-20 02:47] #14022 closed, assigned to vojtechjelinek, nithusha21

[2022-01-20 04:44] YBCS commented on #13956
@ashish-patwal I think you will need to use cast.
what do you think @vojtechjelinek
also please refer [wiki backend type annotation ](https://github.com/oppia/oppia/wiki/Backend-Type-Annotations)
also [mypy docs](https://mypy.readthedocs.io/en/stable/type_narrowing.html#casts)

[2022-01-20 05:11] Lawful2002 commented on #14690
Hey @kevintab95, this issue is not reproducible on the branch `release-3.2.3`.

[2022-01-20 05:11] Lawful2002 commented on #14691
Hey @kevintab95, this issue is not reproducible on the branch `release-3.2.3`.

[2022-01-20 05:36] ashish-patwal commented on #13956
Sure , I was just going through the docs . It seems in oppia most of the time we use open file utility we are using it mainly for text I/O operations . However since there are also binary and raw I/O streams the return type for the open function by mypy is the union of these three streams which by mypy is given as IO[any] referring to any of these stream buffers .

[2022-01-20 06:27] Hudda commented on #10616
@pathange-s You are assigned.

[2022-01-20 06:29] ashish-patwal commented on #13956
![2022 01 20-11 54 06 screenshot](https://user-images.githubusercontent.com/63491234/150284945-9e5bd650-3302-4cb7-a16a-4ae42e3cd6cd.png)

Hey @YBCS , it worked !! The type cast . However mypy is still giving this error for main.py . The file has not been modified by me  . Should i just ignore the warnings and suppress them ?

[2022-01-20 06:42] ashish-patwal commented on #13956
![2022 01 20-11 54 06 screenshot](https://user-images.githubusercontent.com/63491234/150286856-01db403d-2306-4148-beca-36a86a0940ad.png)

Hey @YBCS , it worked !! the type cast . However mypy is still giving this error in main.py . I did not modify this file in any way . Should i comment out the warning and suppress them ?

[2022-01-20 07:25] Manan-Rathi commented on #14187
Hi @U8NWXD. Please assign me to `learner-answer-info.service.ts`.

[2022-01-20 08:45] IamEzio commented on #14187
Hi @U8NWXD @soumyo123-prog. Can I be assigned to `truncate-and-capitalize.filter.ts`?

[2022-01-20 09:32] akbajwa commented on #14033
@kingjuno core/domain/change_domain.py @div-yam
 core/domain/collection_domain.py @aniketh-varma
assign me these tasks, please

[2022-01-20 09:50] div-yam commented on #14033
Dear @akbajwa , I am still working on `core/domain/change_domain.py`

[2022-01-20 10:37] akbajwa commented on #14033
@kingjuno @vojtechjelinek please assign me a task that is not claimed by anyone

[2022-01-20 10:37] akbajwa commented on #14033
ok dear

[2022-01-20 10:46] akbajwa commented on #13162
@Nik-09 LearnerAnswerDetailsSubmissionHandler
 ResubmitSuggestionHandler
please assign these to me

[2022-01-20 10:50] ayushjaink8 commented on #13162
@Nik-09  My PR for the following two handlers is successfully merged, Kindly move them to the list of completed handler classes:
 SkillEditorPage @ayushjaink8
 SkillRightsHandler @ayushjaink8
 PR link: https://github.com/oppia/oppia/pull/14251

[2022-01-20 11:14] #14667 closed, assigned to Rijuta-s

[2022-01-20 11:52] #14669 closed, assigned to paprajapati9

[2022-01-20 12:55] soumyo123-prog commented on #14187
done

[2022-01-20 14:17] ayushjaink8 commented on #14219
@U8NWXD Can you please assign me these two files? I am working on  `core.controllers.acl_decorators_test` and `core.domain.question_domain_test`

[2022-01-20 14:52] vojtechjelinek commented on #14704
@Nik-09 Can you take this up, please?

[2022-01-20 15:04] Nik-09 commented on #14351
@kevintab95 Yes it is done by @aasiffaizal in PR [#14465 ](https://github.com/oppia/oppia/pull/14465)

[2022-01-20 15:07] Nik-09 commented on #14704
Sure I will take this one.
Thank you.

[2022-01-20 15:36] aasiffaizal commented on #14351
Is it deployed to production tho? The PR was merged to develop branch last week.

[2022-01-20 15:41] IamEzio commented on #14187
@soumyo123-prog Kindly assign me with `truncate.filter.ts` and `schema-based-custom-viewer.directive.ts`. Thanks!

[2022-01-20 16:26] vojtechjelinek commented on #14351
Yeah, it is not yet deployed, but I marked that PR to be cherry-picked into the relase.

[2022-01-20 16:26] vojtechjelinek commented on #14033
@akbajwa Sorry, everything is claimed rn.

[2022-01-20 17:07] Ishvina commented on #14419
Hi! I am in an intro to swe class that is requiring me to work on my first open-source project. I was wondering if this issue is still open and if so could is this beginner-friendly?

[2022-01-20 17:19] JeeveshGarg commented on #14419
Sorry @Ishvina no more classes left.

[2022-01-20 17:35] Rijuta-s commented on #14655
@kevintab95 The translation keys for the side menu are already there and are properly binded to the frontend .
The side menu content is completely translated for Portugues language:
![image (1)](https://user-images.githubusercontent.com/68547101/150390520-d1fa2f40-e9f9-46b9-9360-93b0a2443411.png)

The translations are just incomplete and have to be done and updated by translate wiki for every lang

[2022-01-20 17:35] #14655 closed, assigned to aks681

[2022-01-20 17:51] Hatilar420 commented on #14219
Hi @U8NWXD  can you assign me these files to work on ?
`core.domain.feedback_services_test`
`core.domain.exp_services_test`

[2022-01-21 01:52] kevintab95 commented on #14691
Hm, interesting, could you investigate why it occurs on the [test server](https://www.oppiatestserver.org/) please? In general, if something seems broken on the test server, there is a good chance it can happen on prod as well. The test server may contain some legacy data that might be causing unexpected issues, but we need to be sure we need to identify the root cause of the error and possibly fi

[2022-01-21 01:52] kevintab95 commented on #14690
Hm, interesting, could you investigate why it occurs on the [test server](https://www.oppiatestserver.org/) please? In general, if something seems broken on the test server, there is a good chance it can happen on prod as well. The test server may contain some legacy data that might be causing unexpected issues, but we need to be sure we need to identify the root cause of the error and possibly fi

[2022-01-21 02:08] khareyash05 commented on #9749
@nithusha21 @Radesh-kumar  Please assign me `exploration-player-page.component.ts`

[2022-01-21 03:19] akbajwa commented on #6271
hey can you assign me the left topic to work on

[2022-01-21 03:22] akbajwa commented on #12912
@vojtechjelinek please assign me following issue to work on:
non-explicit-keyword-args

[2022-01-21 03:30] akbajwa commented on #13162
@vojtechjelinek @Nik-09 please assign me these two so that I can start working on them :)

[2022-01-21 07:14] soumyo123-prog commented on #14187
done

[2022-01-21 07:23] Manan-Rathi commented on #9749
Hi @nithusha21, @darksun27 .Please assign me to `exploration-save-modal.controller.ts`

[2022-01-21 07:23] IamEzio commented on #14187
Working on `schema-based-list-viewer.directive.ts` too. Thanks

[2022-01-21 07:52] Manan-Rathi commented on #9749
Hello @ashutoshc8101. Could you please assign me a beginner file to migrate? Thanks!

[2022-01-21 08:16] Shoray2002 commented on #12912
![temp](https://user-images.githubusercontent.com/76423272/150490816-41b0425a-2ec3-40c3-83e9-747e197f39ff.png)

@vojtechjelinek I am getting this error while doing import-outside-toplevel. It's showing the changes made to the files up till now
Can you please tell me how to fix this?

[2022-01-21 08:22] soumyo123-prog commented on #14646
@seanlip Can i work on this?

[2022-01-21 08:24] #13872 closed, assigned to nobody

[2022-01-21 10:28] Lawful2002 commented on #14690
@kevintab95 I'm not sure if I have access to the `Topic and Skill Editor` page on the test server.

[2022-01-21 12:11] Zainab-Fahim commented on #10474
Hey,
I'm a beginner in TS (please forgive and overlook my immaturity in the field) and I need a start with my assigned task (`core/templates/pages/exploration-player-page/services/image-preloader.service.ts`),

My query is regarding the below error log on the console,
[code]
on the line of code
[code]

Basically the property `labelled_as_correct` requires a value of type `Boolean`.  My question is

[2022-01-21 12:37] Manan-Rathi commented on #14187
Working on `learner-answer-info.service.ts` and `normalize-whitespace-punctuation-and-case.pipe.ts`

[2022-01-21 13:02] soumyo123-prog commented on #14646
@seanlip Can I work on this? I have found and fixed the problem.

[2022-01-21 13:11] vojtechjelinek commented on #12912
Done, sorry for the delay.

Sorry, that one is actually more complicated and I would not recommend it as a 'good first issue'

[2022-01-21 13:11] vojtechjelinek commented on #12912
This is showing changes that you need to do, `-` at the start of the line means that it needs to be removed and `+` means that it needs to be added.

[2022-01-21 13:54] soumyo123-prog commented on #14187
done

[2022-01-21 14:09] seanlip commented on #14646
Yup, go ahead, I have assigned you. Thanks!

[2022-01-21 15:28] IamEzio commented on #14622
Hi @seanlip. I tried to reproduce this issue (using the steps-to-reproduce listed in the issue description) but it works as intended on my machine -
![skill-editor](https://user-images.githubusercontent.com/89375125/150552822-616f46f4-a324-4c3f-91c9-67ca6fc2a2f7.gif)

Are there any more steps to be performed other than the steps listed in the issue description?
PTAL! Thanks.

[2022-01-21 15:35] Nik-09 commented on #13162
@akbajwa Sorry for the delay, I just missed that comment.

Now they are all yours, feel free to drop a comment if you have any questions.
Thanks!

[2022-01-21 15:36] Nik-09 commented on #13162
@ikeadeoyin Done

[2022-01-21 16:51] vojtechjelinek commented on #10474
You will need to add `!` into all the lines for example `@Input() schema!: () => Schema`

[2022-01-21 17:00] vojtechjelinek commented on #10474
That depends on the context, you can also look into other files in the codebase to see what values are used. Also, in the spec files, it is fine to use random values as they are just used for testing.

[2022-01-21 17:44] nithinrdy commented on #14622
Hey! The issue is not reproducible on develop probably because Angular runs a second change detection cycle when in development mode.

Enabling production mode on the local server may help you reproduce the issue (of course, it's entirely possible the issue no longer occurs, but considering the nature of the error, I believe this has something to do with change propagation -- or the lack of it, ra

[2022-01-21 21:52] sagangwee commented on #14715
Looks like this is occurring when a reviewer tries to edit a question suggestion. The server error doesn't block the reviewer from continuing to accept/reject the suggestion, but we do need to figure out the correct behavior when the user clicks "update" without making any changes. We probably want to not send an update request if no changes are detected and then either alert the user of this or s

[2022-01-21 22:56] rishabhbajpai2000 commented on #14219
@U8NWXD Sir, can you please assign me following file?
core.controllers.tasks_test

[2022-01-21 23:04] #14692 closed, assigned to Lawful2002

[2022-01-22 00:09] kevintab95 opened #14738 "Downloading certain exploration fails because some image paths are invalid"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-01-22 00:13] kevintab95 commented on #14738
@krishita30j @Rijuta-s could you please prioritise this? Looks like a serious issue. It seems like some image tags on production might have empty filenames / paths. We need to identify how this can happen via the UI (e.g. maybe our validation is not strong enough) and also have a job to fix such cases.

Maybe we can consider making the download functionality more robust e.g. completing the downloa

[2022-01-22 00:15] kevintab95 opened #14739 "Missing input backend dicts"
This error occurred recently in production (release-3.2.2)

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. Th

[2022-01-22 00:36] kevintab95 commented on #14739
@Rijuta-s @krishita30j could you please help prioritise this? This recently occured on the server. Thanks!

[2022-01-22 03:20] akbajwa commented on #13162
Thanks @Nik-09

[2022-01-22 04:21] shubhwal56 commented on #13162
@Nik-09 Can you assign signup and recentcommit handler to me?

[2022-01-22 11:13] deepakdinesh1123 commented on #14219
@U8NWXD could you please assign me the following files
1. core.domain.role_services_test,
2. core.domain.suggestion_registry_test
3.  core.controllers.feedback_test

[2022-01-22 14:07] Lawful2002 commented on #14691
@kevintab95 I'm don't have access to the Topic and Skill Editor page on the test server.

[2022-01-22 14:40] Manan-Rathi commented on #14187
Hi @U8NWXD!. There is a small confusion in one file. How do I check the type of `input` (line 32) (argument to the `transform` function) and return the input if the `type` isn't `string` (line 65) ? I am unable to find a straight-forward solution to this. Thanks a lot!

![Screenshot from 2022-01-22 19-33-32](https://user-images.githubusercontent.com/76519771/150642750-dd01e7d8-f785-46ed-b88e-c0cb1

[2022-01-23 06:05] ananth243 commented on #12912
In this [pull request](https://github.com/oppia/oppia/pull/14719), I have fixed the lint issue that you commented on early. But after pushing there is a new [check](https://github.com/oppia/oppia/runs/4909035361?check_suite_focus=true) that is failing that I don't have any idea as to how to rectify it. @vojtechjelinek could you please provide some insights as to why the [check](https://github.com/

[2022-01-23 06:26] Shoray2002 commented on #12912
@vojtechjelinek I have created a PR for my assigned work and the pylint checks are passing but there are many other checks that are failing.
I have little idea how to rectify this.
Can you give some insights into this?

[2022-01-23 08:20] IamEzio commented on #14107
@U8NWXD is this issue resolved? The tests seem to pass in the recent develop branch.

[2022-01-23 08:50] AyushJ7 commented on #12912
@vojtechjelinek I want to work on **missing-raises-doc** and **cyclic-import** if no one else is working on them.

[2022-01-23 10:04] sahiljoster32 commented on #14691
Hey!, @kevintab95 i tried but unable to reproduce this bug on test server.
/cc @Lawful2002 (because you are working on this issue)

https://user-images.githubusercontent.com/12553576/150673430-066d6051-cb95-4c47-991b-64d19d9b173c.mp4

[2022-01-23 12:36] anika-001 commented on #10474
Hi, I was exploring the 'core/templates/components/ck-editor-helpers/ck-editor-4-rte.component.ts' file and here the interface has a function defined (UiConfig), can you guide me how to initialize uiConfig?
![image doubt](https://user-images.githubusercontent.com/62497183/150678647-421c7ea2-58dd-4262-91b3-fea09b3dd4b5.JPG)

[2022-01-23 14:20] vojtechjelinek commented on #12912
@AyushJ7 Done.

[2022-01-23 14:32] vojtechjelinek commented on #10474
Did you try searching for `UiConfig` in the codebase? The function basically means the call to `UiConfig()`.

[2022-01-23 15:48] arishmaurya commented on #14625
hey akshay  ,i want to work on this can you  please elaborate more

[2022-01-23 15:55] arishmaurya commented on #14276
@khareyash05 is this feature is still open? i want to work on this . and if yes then please elaborate more about the feature.

[2022-01-23 15:57] arishmaurya commented on #14625
hey @aks681 , I want to work on this issue can you please elaborate more .

[2022-01-23 17:26] Vaishnavi06Desai commented on #10474
@vojtechjelinek  Hi, can I take core/templates/pages/exploration-player-page/services/answer-classification.service.ts?

[2022-01-23 17:37] anika-001 commented on #10474
@vojtechjelinek
The function is returning UiConfig inside the UiConfig interface, how should we initialize it?
Yes, I searched UiConfig in the codebase, but was confused about how to initialize it with a function. I'd done this
![oppia1](https://user-images.githubusercontent.com/62497183/150690126-ffe815c4-a5ed-49ef-bda8-0bf0786ea3e2.JPG)
But as we also want to give them a initial value, I'd done

[2022-01-23 19:24] kevintab95 commented on #14691
Looks like this happens for existing skills with questions. It works fine when you create a new skill, add questions and then try to delete them.

Try for these:
https://www.oppiatestserver.org/skill_editor/cg3FiO2ixbls
https://www.oppiatestserver.org/skill_editor/AM6ppFXqUNAe
https://www.oppiatestserver.org/skill_editor/6opsqQKmMBbY
https://www.oppiatestserver.org/skill_editor/zZHdU364J5zm
https:

[2022-01-23 19:25] kevintab95 commented on #14691
To debug this locally, one could try to create skills with questions on an older branch (e.g. release-3.2.1 or release-3.2.0) and then checkout the latest release branch (release-3.2.3) and try to delete questions in the skill.

Another way to debug would be to look at the codeflow leading to the error mentioned in the description, that will provide some clues about how this could happen. Then for

[2022-01-24 03:02] seanlip opened #14751 "400 error when trying to compare older versions of explorations"
Sometimes it is not possible to compare old versions of explorations in the exploration history tab, such as for Ratios 1 version 546 and 547. The error trace looks like this (currently causing a breakage in production):

![Screenshot from 2022-01-24 11-00-53](https://user-images.githubusercontent.com/10575562/150715094-e3b90f6f-c178-4bf9-9cd1-f430097c79c4.png)

I tracked the error down to this li

[2022-01-24 03:03] seanlip commented on #14751
@vojtechjelinek can this be hotfixed? Assigning you since the comparison pattern described here is likely something to be looked at codebase-wide.

[2022-01-24 03:29] piyushsingh9862 commented on #9749
i want to take up button directive

[2022-01-24 03:42] seanlip opened #14752 "Cannot see rejection messages in contributor dashboard."
**Describe the bug**

(This was reported by Ji Su -- @banglajisu, who leads the Bangla translations team.)

In the dashboard, it looks like the rejection message cannot be seen in the contributor dashboard. However, the rejection message does appear in the datastore (it is message #1 in the corresponding feedback thread). It's just not showing properly in the dashboard.

This happens when translat

[2022-01-24 04:14] div-yam commented on #9749
Yes @piyushsingh9862 you can take it, I am not working on it anymore.

[2022-01-24 05:31] seanlip opened #14754 "There are extra spaces when displaying the chapter names and titles on the topic viewer page."
**Describe the bug**
The chapter titles in a story seem to have extra spaces when displayed on the topic viewer page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/learn/math/place-values/story
 2. Expand the list of chapters.

**Observed behavior**
There are extra spaces between "Chapter" and the chapter number, and also after the colon. For example, there are

[2022-01-24 05:32] seanlip commented on #14754
Assigning to LaCE Quality team leads for triage.

[2022-01-24 06:25] adityanarayanm095 commented on #14033
@vojtechjelinek Sorry to say but I have lost all the changes what I'd made in `user_domain.py`.
What should i do? Should i continue or leave? Because it will require time to do again but I want to do it as well.

[2022-01-24 09:16] Yavnikaa commented on #13162
@Nik-09 I was going through the codebase and working, but I am unable to hit the SkillDescriptionHandler through the frontend via the Skills Dashboard. Could you pls help me access it?
Like as far as I have understood, adding a new skill with description should be the one cooresponding to it but somehow that isn't working. It would be really nice if you could help me, sorry to bother!

[2022-01-24 09:26] mridul-netizen commented on #10474
@anika-001 Can you try this  `@Input() uiConfig!: UiConfig;`

[2022-01-24 09:27] mridul-netizen commented on #10474
Done

[2022-01-24 09:44] vojtechjelinek commented on #14033
@adityanarayanm095 You can still work on it.

[2022-01-24 10:05] Nik-09 commented on #13162
@Yavnikaa -- The corresponding frontend method is https://github.com/oppia/oppia/blob/0617f6b00fdfa4c527d6f0a462d194fca3ea64d9/core/templates/domain/skill/skill-backend-api.service.ts#L162

On a top-level, I understand the creation of a new skill will result in hitting the corresponding handler.
Hope this helps.
Thank you

[2022-01-24 10:13] anika-001 commented on #10474
Thanks for sharing @mridul-netizen , resolved the error.

[2022-01-24 12:12] Yavnikaa commented on #14033
@vojtechjelinek I was working on `core/domain/exp_domain.py` and the mypy checks show this error:

core/domain/exp_domain.py:354: error: Module has no attribute "ExplorationModel"  [attr-defined]

And in the imports this was mentioned:

[code]

Could you please help me how to resolve this attr-defined error?

[2022-01-24 13:01] vojtechjelinek commented on #14033
You need to add this code
[code]

[2022-01-24 14:17] ayushjaink8 commented on #14187
I think you can use `isinstance(input, str)`. It returns a boolean value to check if the given type is correct or not.
Reference: https://www.w3schools.com/python/ref_func_isinstance.asp

[2022-01-24 14:22] Manan-Rathi commented on #14187
Thanks! But the issue is how do declare `input` as the argument for the function. How can that be done?

[2022-01-24 16:05] Yavnikaa commented on #14033
I added this but still getting that error :((

[2022-01-24 16:22] Rijuta-s commented on #14754
Thanks @sahiljoster32 for working on this!

[2022-01-24 16:49] vojtechjelinek commented on #14033
Could you share the code?

[2022-01-24 20:39] Yavnikaa commented on #14033
Sure, Just cleaning up the code and making a PR itself for you to test yourself. Is it fine or do I share in some other way?

[2022-01-24 22:44] U8NWXD commented on #14187
@Manan-Rathi If I understand correctly, you have a function that returns a string if its argument is a string, otherwise it returns a value of the same type as its argument. You _might_ be able to do this with [conditional types](https://www.typescriptlang.org/docs/handbook/2/conditional-types.html), but it doesn't look like it's going to be straight-forward.

I would recommend stepping back and a

[2022-01-24 23:01] U8NWXD commented on #14219
@ayushjaink8 @Hatilar420 @rishabhbajpai2000 @deepakdinesh1123 assigned!

[2022-01-25 06:21] Hudda commented on #9326
Closing as this issue is not relevant now.

[2022-01-25 06:21] #9326 closed, assigned to Hudda

[2022-01-25 08:49] paprajapati9 opened #14767 "Broken view on contributor dashboard page"
**Describe the bug**
The translation tab view on contributor dashboard page appears to  be broken in smaller screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contributor dashboard page
 2. Click on Translate text tab and suggest a translation
 3. Come back to My contributions tab and check the translation for review cards and translations tab view in smaller screen size.

[2022-01-25 09:48] vojtechjelinek commented on #14033
Sure

[2022-01-25 09:54] soumyo123-prog commented on #14702
@kevintab95 Can I work on this?

I plan to identify stale tabs with the help of `localStorage` and listening to the `storage` event. In this way, whenever a tab changes topic data, all the other tabs of the same topic will show a warning to reload the page before making any changes.

[2022-01-25 13:53] sidkhuntia commented on #10474
@vojtechjelinek @mridul-netizen @nishantwrp  Hello, can I work on  ```  core/templates/components/skill-selector/select-skill-modal.component.ts ```?

[2022-01-25 18:56] anika-001 commented on #10474
Hi, @vojtechjelinek Kindly assign me the file `core/templates/components/rubrics-editor/rubrics-editor.component.ts ` .

[2022-01-25 19:08] mridul-netizen commented on #10474
Done

[2022-01-25 19:08] mridul-netizen commented on #10474
Done

[2022-01-25 19:40] jordyparker commented on #10474
Hi @vojtechjelinek
I want to push the changes I made on my local repository to raise a pr but since the morning I ran the git push origin {my-branch-name} command, its still not finished running.
![image](https://user-images.githubusercontent.com/48652493/151047501-9023165c-9813-4764-b25d-3cae12554b95.png)

[2022-01-25 19:50] Manan-Rathi commented on #10474
Hi @jordyparker! In this case, it's probably best to try pushing your code again. Hope this helps!

[2022-01-25 19:56] jordyparker commented on #10474
Thanks @Manan-Rathi
I have done it more than three times but I will kept doing it until it works as you recommend.

[2022-01-26 05:42] khareyash05 commented on #10474
@vojtechjelinek @mridul-netizen Kindly assign me `core/templates/components/skill-selector/skill-selector.component.ts`

[2022-01-26 09:21] Nik-09 commented on #14704
Hi @kevintab95,
I have to discuss a few points before solving this issue,

Currently, a frontend YAML file that we upload is operated with [JSON stringified](https://github.com/oppia/oppia/blob/526968ed846ecc1ae057af0297b3a08ec55a65a8/core/templates/components/entity-creation-services/exploration-creation.service.ts#L87) which results in the conversion of the YAML file to an empty dict
JSON.Strign

[2022-01-26 14:20] Manan-Rathi opened #14778 "Feedback Updates section has inconsistent title."
**Describe the bug**
Unlike other sections such as Progress and Community Lessons, the title of the Feedback Updates has lesser than expected left margin, and is not the part of the main content card.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/learner-dashboard'
 2. Click on 'Feedback Updates'
 3. See bug

**Observed behavior**
The title of the Feedback Upd

[2022-01-26 14:44] sahiljoster32 commented on #14767
@paprajapati9 Do we have mocks for different screen sizes?
like what's the expected view on mobile and tablet!!

[2022-01-26 15:10] paprajapati9 commented on #14767
@sahiljoster32 we don't have any mocks yet, maybe we should ask the design team for mocks.

[2022-01-26 15:11] paprajapati9 commented on #14767
@Rijuta-s can you please take a look ?

[2022-01-26 18:37] shubhamjain2001 commented on #14544
can i work on this.

[2022-01-26 21:37] kevintab95 commented on #14704
Hm, I did a git blame and found the following implementation:

https://github.com/oppia/oppia/blob/b7cf4135e54a31877dae1a35e1bf9d2ad408750d/core/templates/components/entity-creation-services/exploration-creation.service.ts#L78-L84

Do you think reverting back to this implementation would work?

[2022-01-26 21:52] dchen97 commented on #14544
We won't assign people to this issue unless it's more clear what is the proposed scope / solution.

[2022-01-26 21:59] #14694 closed, assigned to nithinrdy

[2022-01-26 22:08] kevintab95 commented on #14702
Sure, @soumyo123-prog! I think this feature might require a short design doc (see [here](https://github.com/oppia/oppia/wiki/Writing-design-docs#instructions)). Please feel free to write one and get it reviewed before starting implementation. Thanks!

[2022-01-26 22:36] kevintab95 commented on #6606
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:36] #6606 closed, assigned to nobody

[2022-01-26 22:36] kevintab95 commented on #6604
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:36] #6604 closed, assigned to nobody

[2022-01-26 22:37] kevintab95 commented on #6478
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:37] #6478 closed, assigned to nobody

[2022-01-26 22:38] kevintab95 commented on #6396
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:38] #6396 closed, assigned to nobody

[2022-01-26 22:39] kevintab95 commented on #6379
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:39] kevintab95 commented on #6160
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:39] #6160 closed, assigned to nobody

[2022-01-26 22:41] kevintab95 commented on #6157
Closing this since it no longer occurs on the server. Will reopen if it shows up again.

[2022-01-26 22:41] #6157 closed, assigned to nobody

[2022-01-27 05:50] anandwana001 opened #14785 "Introduce new attribute proto_size_in_bytes for Skill Content"
**Is your feature request related to a problem? Please describe.**
Knowing the total skill content download size for Android clients is important (for offline downloads and space allocation on device). By storing the proto sizes (in bytes) of SkillContent within the structure, we can calculate the total skill content download size on the fly -- by fetching this new attribute from Skill domain obje

[2022-01-27 06:16] anandwana001 opened #14786 "Introduce new attribute android_proto_size_in_bytes for SubtopicPageModel"
**Is your feature request related to a problem? Please describe.**
Knowing the total revision card download size for Android clients is important (for offline downloads and space allocation on device). By storing the proto sizes (in bytes) of 'SubtopicPageContents' within the structure, we can calculate the total subtopic page content with its page id, topic id, and title download size on the fly

[2022-01-27 07:25] sahiljoster32 opened #14787 "Unexpected behavior of topic editor."
**Describe the bug**
In topic editor when we add wrong URL (acc. to specified instructions below the field) in Topic URL Fragment.
Instead of preventing user from saving wrong URL, it shows console errors and warning message pop up with [object object] message.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'http://localhost:8181/topics-and-skills-dashboard'
 2. Click on 'any topic t

[2022-01-27 09:38] Zainab-Fahim commented on #10474
Hey,
I'm working on the following part (`core/templates/pages/exploration-player-page/services/image-preloader.service.ts`),

My query is regarding the below error log on the console,
[code]
on the line of code
[code]

Basically the property `exploration`  of type `Exploration` is not assignable to value `null`.
`Exploration` is a type `(alias)` which is imported from `class Exploration`
[code]

H

[2022-01-27 09:46] Zainab-Fahim commented on #10474
Hey,
I'm wondering if in case of a class being imported to the file I work on, and the said file has errors, do I have to solve those errors as well, before pushing my PR.

In scenario, I'm working on file `core/templates/pages/exploration-player-page/services/image-preloader.service.ts` and the console shows errors regarding file `core/templates/domain/exploration/ExplorationObjectFactory.ts(97,9

[2022-01-27 10:45] #14754 closed, assigned to nobody

[2022-01-27 11:03] Yavnikaa commented on #14033
@vojtechjelinek I am getting these import errors while pushing. I went through the issues in oppia discussions thread but was unable to fix it :((. Can you please help me?

![Screenshot (161)](https://user-images.githubusercontent.com/56485761/151346537-2adca069-fd4f-4675-a8ee-dbcc2d708c03.png)

[2022-01-27 11:48] Lawful2002 opened #14788 "Results page shows skills with no questions."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the practice tab of any topic which contains a skill with no questions.
2. Attempt and complete the practice test.
3. On the results page, the skill with no questions is also shown.

**Observed behavior**
On the results page, the skill with no questions is also shown

[2022-01-27 13:47] Aayush987 commented on #10474
Hi i am also working on one of the file.Did you try to remove null from`private exploration: Exploration = null;`.Write it like this `private exploration: Exploration | null = null;`.Let me know if it fixes the problem or not.

[2022-01-27 13:58] Zainab-Fahim commented on #10474
Hey, I did try your suggestion but it doesn't work, it requires a mandatory initialization.
[code]

[2022-01-27 14:01] Aayush987 commented on #10474
Oh do it like this `private exploration: Exploration | null = null;`.

[2022-01-27 14:02] Aayush987 commented on #10474
Ok do it like this `private exploration: Exploration | null = null;`

[2022-01-27 14:33] Zainab-Fahim commented on #10474
Oh yes! That's smart! Thank You that worked well!

[2022-01-27 14:35] Aayush987 commented on #10474
yeah that problem was also in my file.

[2022-01-27 14:43] Zainab-Fahim commented on #10474
Unfortunately as a result of that solution, it brings a whole lot of `Object is possibly 'null'` errors.
Is it okay if I continuously use the non-null assertion operator `!` to coerce away those types?
Or is it not a best practice? if then, what's a possible solution for the initial problem.

[2022-01-27 14:48] Aayush987 commented on #10474
Can you tell me the specific lines where these errors are coming?

[2022-01-27 14:50] Zainab-Fahim commented on #10474
Around 6 different places where `this.exploration` is used.

[2022-01-27 14:52] Aayush987 commented on #10474
I also had the same problem what i did was i made an if statement that it will not be null otherwise it will throw an error.I will attach a screenshot of my file .Let me know if it works
![image](https://user-images.githubusercontent.com/92387745/151383103-6bdd6079-0e46-4cfa-9478-09cf383a24fd.png)

[2022-01-27 15:02] Zainab-Fahim commented on #10474
Thank You! That seems to be a better approach! Thank You once again!

[2022-01-27 15:06] Aayush987 commented on #10474
Glad it helps.

[2022-01-27 15:14] SD-13 commented on #13162
Hey @Nik-09 , schema is already added in `ProfileHandler`, `SignupHandler`, `SolutionHitEventHandler`, `ExplorationCompleteEventHandler`, `ExplorationMaybeLeaveHandler` by PR [#14257](https://github.com/oppia/oppia/pull/14257) and [#14208](https://github.com/oppia/oppia/pull/14208), please mark them as done. Also, I am not working on `PreferencesHandler` as it involves another issue, so, please un

[2022-01-27 16:23] aks681 opened #14792 "Change innerHTML usage in places where HTML tags are not used"
There are multiple instances in the codebase where `innerHTML` is used to translate some translation keys that have no HTML tag in them. This issue is to track the removal of those instances and to replace it with one of the following:

- `<span [translate]="'<key>'" [translateParams]="{ 'paramKey': 'paramValue' }"></span>`
- `<span>{{ '<key>' | translate: { 'paramKey': 'paramValue' } }}</span>`

[2022-01-27 16:43] soumyo123-prog commented on #14702
@kevintab95 @seanlip Could you please review this [design doc](https://docs.google.com/document/d/1VzEBUNvmRgCOHj3BHxYai6-x_FxRxIvrnYaKo_ODLRg/edit?usp=sharing) so that I can start working on this issue.

[2022-01-27 17:28] camperjett commented on #14219
@U8NWXD I am working on `core.domain.skill_services_test`

[2022-01-27 17:55] kevintab95 opened #14793 "Strip data-name attribute from SVGs instead of showing a warning"
**Describe the bug**
Strip data-attribute attribute from SVGs instead of showing a warning.

**To Reproduce**
Steps to reproduce the behavior:
 1. Upload an SVG containing `data-name` attribute.
 2. Observe that a warning is shown.

**Observed behavior**
A warning is shown.

**Expected behavior**
Remove the `data-name` attribute from the SVG instead of raising a warning.

**Screenshots**
![image (

[2022-01-27 18:13] #13737 closed, assigned to murraytay

[2022-01-28 01:33] U8NWXD commented on #14219
@camperjett assigned!

[2022-01-28 09:06] #14646 closed, assigned to soumyo123-prog

[2022-01-28 15:07] vojtechjelinek commented on #14704
Hmm, but we don't directly stringify the yaml, but we stringify a JSON that contains string yaml, right? Not sure why it turns to `{}` then :thinking:

I'm fine with performing all the operations in the backend

[2022-01-28 15:19] vojtechjelinek commented on #14033
The error explains what you need to do using a git diff. Basically you need to move the typing import above the html_cleaner import and also remove the brackets around the imported things.

[2022-01-28 16:17] salmanansari14 commented on #14793
I want to contribute !

[2022-01-28 16:54] heyimShivam opened #14797 "E2E flaky test in learner dashboard suite"
**Describe the bug**
E2E flaky test in  learnerdashboard suite

**To Reproduce**
Steps to reproduce the behavior:
 1. send PR to oppia

**Observed behavior**
test is failing more often now

**Expected behavior**
test should pass

PR Test For Reference
https://github.com/oppia/oppia/runs/4967007370?check_suite_focus=true

**Screenshots**
![desktop](https://user-images.githubusercontent.com/77006897

[2022-01-28 17:00] heyimShivam commented on #14797
the same error is coming in @ShivamJhaa @JeeveshGarg PR sometimes.

[2022-01-28 17:26] sagangwee commented on #14240
Duplicate of https://github.com/oppia/oppia/issues/14355.

[2022-01-28 17:26] #14240 closed, assigned to nobody

[2022-01-28 18:00] seanlip commented on #14797
Hi @heyimShivam, the relevant folks to contact about things like this are the Automated QA team. I've assigned them to this issue, but just wanted to let you know explicitly so you know who to contact in the future. Thanks!

[2022-01-28 18:01] heyimShivam commented on #14797
Thanks!, I will contact them in the future.

[2022-01-28 18:10] #14778 closed, assigned to sahiljoster32

[2022-01-28 19:19] #14693 closed, assigned to Rijuta-s

[2022-01-29 13:09] beingnoble03 commented on #12912
Hi @vojtechjelinek! Can I work on `arg-name-for-non-keyword-arg`?

[2022-01-29 16:27] Nik-09 commented on #14704
Thank you @kevintab95 @vojtechjelinek for discussing.
I've created a PR [#14800](https://github.com/oppia/oppia/pull/14800), please take a look once you are free.

Thank you.

[2022-01-29 16:28] vojtechjelinek commented on #12912
@beingnoble03 Nope, sorry that needs deeper refactor.

[2022-01-29 16:51] beingnoble03 commented on #12912
@vojtechjelinek Ok.

[2022-01-29 21:55] jordyparker commented on #14219
Hi @U8NWXD! could i be assign to `core.domain.skill_fetchers_test` ?

[2022-01-30 02:52] krishnarao22 commented on #14797
@heyimShivam The Automated QA team is aware of the issue and is currently working to fix it.

[2022-01-30 05:06] Sangkyun-Kim15 commented on #14033
@vojtechjelinek Hi! I was working on `core/domain/story_domain.py` and mypy shows this error:

`core/domain/story_domain.py:646: error: Invalid index type "Optional[int]" for "List[StoryNode]"; expected type "int"  [index]`

![code](https://user-images.githubusercontent.com/54552343/151687320-f4c3106d-a1fd-4858-96ec-a3247829bd7b.jpg)

Should I change the return type of the function get_node_index

[2022-01-30 06:17] IamEzio commented on #14793
Hi @kevintab95. I tested the `svg-sanitizer.service.ts` for incorrect SVG containing data-name attribute -

![Screenshot from 2022-01-30 11-33-47](https://user-images.githubusercontent.com/89375125/151688890-77342d94-3085-4b43-8e31-9c9098e3fdb1.png)

The test specifically checks the method `cleanMathExpressionSvgString`  -

![svgmethod](https://user-images.githubusercontent.com/89375125/151688897-

[2022-01-30 07:14] nithinrdy commented on #14709
Hey @kevintab95, the issue is being caused by this function, which is associated with the ng-if directive in the template:
[code]

It returns either true or false.

the value returned by `getCurrentInteractionId()` has the following possible values:
- One of the interactions present in the INTERACTION_SPECS object, or
- `null`, i.e. when no interaction is selected.

As you can see, the function ab

[2022-01-30 11:59] tofu2323 commented on #14219
@U8NWXD Could I please be assigned to `core.controllers.blog_homepage_test`?

[2022-01-30 12:03] beingnoble03 commented on #10474
@vojtechjelinek Can you please assign me ` core/templates/pages/exploration-player-page/modals/display-hint-modal.component.ts` ?

[2022-01-30 12:05] IamEzio commented on #13789
@EricZLou Can I work on this?

[2022-01-30 12:13] Aayush452-cell commented on #14219
@U8NWXD can you please assign me `core.domain.auth_services_test` ?

[2022-01-30 12:50] tofu2323 commented on #14219
@U8NWXD Could you please assign me `core.controllers.blog_homepage_test` ?

[2022-01-30 12:51] sahiljoster32 commented on #13789
Closing this issues!
because it is fixed under #14754

[2022-01-30 12:51] #13789 closed, assigned to nobody

[2022-01-30 13:09] vojtechjelinek commented on #14033
Probably not, you will need to make sure that in the call site the returned value is not None.

[2022-01-30 13:58] vojtechjelinek opened #14806 "Implement better lines-between-class-members check"
Currently, the `lines-between-class-members` eslint check forces an empty line between all multiline blocks in a class. We want to modify this so that there are always enforced empty lines between different functions, but not between even multiline variable declarations.

So for example, this code should be valid (now it is not):
[code]

[2022-01-30 15:01] kyledanamarsh opened #14809 "When running python -m scripts.start, get error message not found in troubleshooting (See Below):"
`Installing third-party JS libraries and zip files.

Checking if pip is installed on the local machine

Regenerating "requirements.txt" file...

Traceback (most recent call last):
  File "/Users/Kyle/.pyenv/versions/3.7.10/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/Users/Kyle/.pyenv/versions/3.7.10/lib/python3.7/runpy.py", line 85, in _run_code

[2022-01-30 19:20] deepakdinesh1123 commented on #14219
@U8NWXD  I worked on core.domain.topic_domain_test without realizing that I was not assigned to it, I am currently assigned to
core.domain.role_services_test , core.domain.suggestion_registry_test , core.controllers.feedback_test. Sorry for the error on my side, Could you please remove me from core.domain.suggestion_registry_test and assign me to topic_domain_test?

[2022-01-31 07:02] yogitasaini opened #14815 "The classroom-search-container overlaps with the topic tiles on certain screen dimensions"
**Describe the bug**
The course page is not responsive in desktop view.

**To Reproduce**
Steps to reproduce the behavior:
 1. Head to the [math classroom](https://www.oppia.org/learn/math)
 2. Scroll down to the end of the page.
 3. Resize the screen (lower the screen height) to see the error

**Observed behavior**
classroom-search-container overlaps with topic-summary-tile (the issue worsens whe

[2022-01-31 07:02] yogitasaini commented on #14815
can I work on this issue?

[2022-01-31 07:37] Darsuu commented on #10700
@srijanreddy98 @mridul-netizen May I work on ``` QuestionObjectFactory ``` ?

[2022-01-31 11:06] ParmeetChawla25 commented on #10700
Hi @srijanreddy98  @mridul-netizen can I work on ParamTypeObjectFactory ?

[2022-01-31 11:07] ParmeetChawla25 commented on #10616
Hi @Hudda can you assign me @typescript-eslint/await-thenable

[2022-01-31 11:23] Hudda commented on #10616
@ParmeetChawla25 I've assigned you.

[2022-01-31 14:31] sahiljoster32 commented on #14815
Hey! @yogitasaini
Do you have updated designs you plan to work off of?

[2022-01-31 19:27] Atharvk7 commented on #14544
I want to contribute and clear this issue could you please assign it to me @dchen97 ?
I will improve user experience by making it fully responsive.

[2022-01-31 19:33] Atharvk7 commented on #14625
I want to contribute to this could you assign this issue to me

[2022-01-31 21:05] U8NWXD commented on #14809
@kyledanamarsh We just fixed a problem with pip in our CI tests, so updating your code to the latest `develop` might help? I'd also try checking that your Python version is correct (`python --version`)

[2022-02-01 03:28] nithinrdy commented on #14711
Hey, I've been looking into this issue, but I'm a little lost on where to begin - I found the issue description a bit too vague. Could you perhaps include a little more information, like the page you were browsing when you encountered the error? Also, I'm assuming this error was encountered on the test server - perhaps there are some steps to reproduce I could follow on the test server to get a be

[2022-02-01 05:42] amanbansal1311 commented on #10474
@vojtechjelinek Can you please assign me core/templates/components/summary-tile/subtopic-summary-tile.component.ts ?

[2022-02-01 07:36] mridul-netizen commented on #10700
@ParmeetChawla25 @Darsuu Done!

[2022-02-01 08:21] Anshul-9923 commented on #13956
Hi  @vojtechjelinek or @YBCS, Is there any function which I can migrate from python2 to python3?

[2022-02-01 10:28] vojtechjelinek commented on #10474
@beingnoble03 @amanbansal1311 Done.

[2022-02-01 10:38] vojtechjelinek commented on #13956
@Anshul-9923 Sorry, none available here.

[2022-02-01 10:59] yogitasaini commented on #14815
I just wanted to make it responsive

[2022-02-01 11:00] adityanarayanm095 commented on #14033
@vojtechjelinek how to fix this one?
![Screenshot from 2022-02-01 16-28-29](https://user-images.githubusercontent.com/91023072/151956658-823f7e91-00a7-46a3-ae57-9cb31cfd84a4.png)

![Screenshot from 2022-02-01 16-28-39](https://user-images.githubusercontent.com/91023072/151956716-8a700001-9e17-4831-b98b-adc8d054d983.png)
![Screenshot from 2022-02-01 16-30-25](https://user-images.githubusercontent.c

[2022-02-01 11:13] vojtechjelinek commented on #14033
@adityanarayanm095 Hey, you will have to use `TypedDict`, you can look into other files to see how it is used there.

[2022-02-01 14:32] ayu222220 commented on #14815
@sahiljoster32 Hey!! Can I work on this I have a few modifications in mind in the aspect of look?

[2022-02-01 14:58] Zainab-Fahim commented on #10474
Hi @vojtechjelinek ,
I'm working on the following part (`core/templates/pages/exploration-player-page/services/image-preloader.service.ts`), which deals with these two files (`/home/zainab/opensource/oppia/core/templates/pages/exploration-player-page/services/image-preloader.service.spec.ts` and `/home/zainab/opensource/oppia/core/templates/pages/exploration-player-page/services/image-preloader.se

[2022-02-01 16:19] #13566 closed, assigned to nobody

[2022-02-01 16:29] #14751 closed, assigned to vojtechjelinek

[2022-02-01 17:09] nithinrdy commented on #14709
Hey @kevintab95, could you PTAL at the above comment?

[2022-02-01 17:58] sagangwee opened #14826 "[CD] Implement pagination for reviewer view."
Currently, we fetch all available suggestions for reviewers at once (up to a limit of 1000), but because there is no pagination, the user must click "next" repeatedly to move through pages. Additionally, because we only load the first 1000 suggestions, there is no way to view the suggestions past the first 100 pages.

[2022-02-01 18:13] sagangwee commented on #14230
Seeing this for some other cards as well:
![exploration-content-bug-1](https://user-images.githubusercontent.com/9004726/152026428-704b5785-1be7-4d9b-8374-a7989a4189fe.png)

![unnamed (1)](https://user-images.githubusercontent.com/9004726/152026493-76f3f0b0-98df-46a3-9311-2b0321132f73.jpeg)

[2022-02-01 18:33] U8NWXD commented on #14219
@jordyparker @Aayush452-cell @tofu2323 @deepakdinesh1123 done!

[2022-02-01 18:57] aks681 opened #14827 "Clarify the error messages for NumericInputInteraction"
Currently, both input validation error messages for the NumericInputInteraction have similar text.
This issue is to track the modification of these errors into 2 distinct messages, along with the corresponding code change to make sure the logic doesn't overlap.

[2022-02-01 19:01] aks681 opened #14828 "Get accessibility score of all pages back to 100%"
Currently, we have some pages (listed across `.lighthouserc-accessibility-1.js` and `.lighthouserc-accessibility-2.js`) that have an expected accessibility score < 1. This issue is to track the modification of these scores back to 1. Notes:

- The command to run the lighthouse accessiblity tests locally is `python -m scripts.run_lighthouse_tests --mode accessibility --shard <n>` where n is 1 or 2

[2022-02-01 19:11] aks681 opened #14829 "Generalize Right-To-Left formatting for remaining pages"
This issue is to track the following changes:

- Removal of individual RTL styling done via `ngIf` for any pages. This should be replaced by a general class which can be formatted to RTL via just CSS, using the autogenerated `.rtl.css` file.

- Moving CSS classes exclusive to any viewer files (eg: navbar, navbar breadcrumb etc.) out of oppia.css into its own `.component.css` file. Then, adding tho

[2022-02-01 19:46] sagangwee opened #14832 "[CD] Rename "translations_count" to disambiguate translation status."
Currently, a translation opportunity has a `translations_count` field that refers to the number of accepted translations for that opportunity. The naming is a bit ambiguous as it's unclear whether the count refers to the number of total translations, accepted translations, or something else without tracing through the code.

[2022-02-01 20:13] sagangwee opened #14833 "[CD Refactor] Remove unpersisted fields from opportunity and suggestion domain objects"
Some of our domain objects have fields that are not persisted in storage, but are only computed to be used in the frontend, e.g. `translation_in_review_counts` for an `ExplorationOpportunitySummary`. We should remove these fields from the domain classes and instead let the backend controllers compute the extra metadata needed by the client. That way, empty values don't need to be passed around in

[2022-02-02 04:59] anandwana001 commented on #13828
Duplicate of #14786

[2022-02-02 04:59] #13828 closed, assigned to nobody

[2022-02-02 05:34] #14206 closed, assigned to sagangwee

[2022-02-02 11:31] DubeyRicha commented on #10616
@vojtechjelinek can you please assign me @typescript-eslint/no-unnecessary-condition?

[2022-02-02 11:34] vojtechjelinek commented on #10616
@DubeyRicha Done.

[2022-02-02 11:36] vojtechjelinek commented on #10474
Yep, you will need to resolve those too. Feel free to split up the work into multiple PRs if you want.

[2022-02-02 13:05] Manan-Rathi opened #14840 "Unexpected behavior of normalize-whitespace-punctuation-and-case.pipe.ts"
**Describe the bug**
A clear and concise description of what the bug is.
The `normalize-whitespace-punctuation-and-case` pipe might not be implemented the right way. For eg, "Hello, World" becomes "hello,world".
Please refer to this [thread](https://github.com/oppia/oppia/pull/14773#discussion_r793404213) for context.

[2022-02-02 16:46] vojtechjelinek commented on #10028
Closing for now, as most of these are no longer relevant.

[2022-02-02 16:46] #10028 closed, assigned to jameesjohn

[2022-02-02 17:31] sagangwee opened #14843 "Investigate behavior of specifying query params in endpoint URL for HTTP GET/DELETE requests."
Our RequestInterceptor service (core/templates/services/request-interceptor.service.ts) expects query params to be included as a separate parameter in the HTTP request calls, rather than being included directly in the URL, e.g. "/api/?queryParam=value". We should verify and/or add some checks to make sure we don't have any HTTP calls trying to add query params in the URL.

See https://github.com/o

[2022-02-02 17:44] mdsahiloss commented on #14840
/assign

[2022-02-02 21:17] kevintab95 opened #14845 "Issues with the skill editor component in the exploration editor"
**Describe the bug**
There are a few issues with the skill editor component in the exploration editor page:
1. "Add skill" button is shown when a user is logged out. Clicking on the button shows an empty modal and no meaningful interaction can be made. The skill editor should instead behave the same way as the other editor components, it should be read-only and show existing skills linked to the s

[2022-02-02 21:17] kevintab95 commented on #14845
@Rijuta-s @krishita30j could you please prioritise this? It results in some server errors.

[2022-02-02 23:46] kevintab95 commented on #14711
Hi @nithinrdy, thanks for your interest in solving this. In general, issues tagged "server errors" are issues that occured on the production environment (oppia.org). These are not directly reported by users, so we do not have concrete reproduction steps. The app captures frontend logs / stacktraces and records it in the backend. We would have to rely on these stacktraces and the code to come up wi

[2022-02-03 01:15] dchen97 commented on #14544
Hi Atharv,

It's still not clear to me what you mean by fully responsive. Can you
please show a screenshot of the issue(s) you see or provide a mock of what
you're looking to change?

On Mon, Jan 31, 2022 at 11:27 AM Atharv Kulkarni ***@***.***>
wrote:

[2022-02-03 02:13] kevintab95 commented on #14706
I think the next step for this issue would be to log the HTML content that the parser is seeing so we can decide how to fix it.

[2022-02-03 02:24] kevintab95 commented on #14713
The page where it occurred used fraction input interaction -- this interaction uses input[number] in the editor interface. It looks like in some scenario it is either allowing strings or the model is somehow manipulated to be a string value that is causing this error.

[2022-02-03 06:03] ashish-patwal opened #14847 "Failing mypy checks during push operation"
**Describe the bug**
I am trying to push my changes to my fork and all the time mypy checks keep failing due to [no-untyped-call] error in main.py on line 101 and 102 . This error is also reported by other contributors in the gitter channel .
![2022 02 03-11 04 07 screenshot](https://user-images.githubusercontent.com/63491234/152288462-a25fa50c-0aad-44fd-81b4-99e995d746b8.png)

**To Reproduce**
St

[2022-02-03 06:34] DubeySandeep commented on #13162
@Nik-09 Can you please audit this issue and unassign inactive contributors?

[2022-02-03 07:37] nithinrdy commented on #14711
Got it, will look into it.

[2022-02-03 08:47] anuragc10 commented on #14218
@Rijuta-s @Lawful2002, I want to work on this issue I can definitely handle this issue. Please give me a chance to work.

[2022-02-03 13:09] vojtechjelinek commented on #13534
This is fixed as _gae_datastore_services.py_ no longer exists.

[2022-02-03 13:09] #13534 closed, assigned to nobody

[2022-02-03 13:40] vojtechjelinek commented on #11312
The job does no longer exist.

[2022-02-03 13:40] #11312 closed, assigned to rohitkatlaa

[2022-02-03 13:41] #14555 closed, assigned to chiragbaid7

[2022-02-03 14:55] Hatilar420 commented on #14219
Hi , can i be assigned to  `core.domain.blog_services_test` ?

[2022-02-03 17:45] camperjett opened #14855 "Learning View breaking"
**Describe the bug**
I noticed that the view at [Jaimes Adventures in arcade](https://www.oppia.org/learn/math/place-values/story/jaimes-adventures-in-arcade) was breaking. Actually, it is breaking for all such `learn/maths`.... pages. The currently logged-in user's icon was shifted downwards. (probably due to less space in smaller screen)

**To Reproduce**
Steps to reproduce the behavior: (This e

[2022-02-03 17:54] Rijuta-s commented on #14855
@camperjett  Thanks for raising this issue. @Lawful2002  @sahiljoster32  can you please take a look and let me know if we have already fixed it or not. Incase not, please link it to navbar update doc. Thank you.

[2022-02-03 19:55] SanjaySajuJacob commented on #14707
Hi @kevintab95, re this issue, I was not able to replicate the error on my local machine. But I think this specific error statement occurs because the `currentStateId()` passed as a key to `nodeData` is not recognized as an existing key value (in the file  `core/templates/pages/exploration-editor-page/editor-tab/graph-directives/state-graph-visualization.directive.ts`).

I tried logging `nodeData`

[2022-02-03 22:19] vojtechjelinek commented on #7397
Fixed in #9031

[2022-02-03 22:19] #7397 closed, assigned to nobody

[2022-02-04 07:08] Nik-09 commented on #13162
Unassigning @ruinan-liu, @somya51p, @anurag629, @AmanJolly16 after auditing the first half of claimed files, so that new contributors can take some of the handlers.

Thank you.

[2022-02-04 08:11] krishita30j commented on #14703
I think this issue might be resolved because this file has now been migrated so there is no translate-value attribute and I was also not able to repro this locally.

[2022-02-04 09:15] ayu222220 commented on #10474
@krishita30j Assign me please

[2022-02-04 09:16] ayu222220 commented on #8016
@krishita30j  Assign me please

[2022-02-04 09:17] ayu222220 commented on #8038
@krishita30j  Assign me please

[2022-02-04 10:48] AmanJolly16 commented on #13162
@Nik-09, Hey! I was assigned EditableSkillHandler and the issue is resolved and the PR is ready to [merge](https://github.com/oppia/oppia/pull/14623).
Also, I was working on AnswerSubmittedEventHandler and the PR is open for it too. There are just a few issues in it and I am seeking help for it. Can you reassign them to me? Thanks.

[2022-02-04 11:15] vojtechjelinek commented on #14809
@kyledanamarsh Any update?

[2022-02-04 11:16] vojtechjelinek commented on #14033
@Vineet-the-git are you still working on this issue?

[2022-02-04 12:01] paprajapati9 commented on #14714
@kevintab95 In the case when rule input type is DragAndDropRuleInputs the above if condition passes but it's input does not have any property named contentId, so to fix this error we should do 2 things:
1. Add a null check for rule.inputs[inputName]
2. And only add the contenId if rule.inputs[inputName] has a property name contentId, this will deal with DragAndDropRuleInputs input type issue.

[2022-02-04 16:59] #14683 closed, assigned to paprajapati9, krishita30j, Rijuta-s

[2022-02-04 17:04] U8NWXD commented on #14219
@Hatilar420 done

[2022-02-04 17:32] anuragc10 commented on #14855
I have figured it out, I can solve this issue easily. Please can I work on this issue.

[2022-02-04 17:34] Manan-Rathi commented on #14710
Hi @kevintab95! I tried reproducing this error with and without the `--prod_env` flag. However, I'm not able to reproduce this error and things work as expected. Infact, the concept card modal opens instantly and there's no opportunity to close the skill modal before the concept card modal props up. There's no console errors after closing both. Could you please guide me on this one? Thanks!

[2022-02-04 18:02] camperjett commented on #14855
@anuragc10 here you go.

[2022-02-04 18:08] anuragc10 commented on #14855
This problem occurs for the first time before login, when the user log in navbar starts working fine.
I can solve this issue easily.
Please can I work on this issue?

[2022-02-04 18:10] anuragc10 commented on #14855
It got unassigned!
@camperjett
Please reassign!

[2022-02-05 05:01] ananth243 commented on #14219
@U8NWXD could I be assigned ```core.domain.suggestion_services_test```? Also I noticed that ```core.controllers.profile_test,core.controllers.story_fetchers_test ``` is still assigned to me but I have already submitted a PR for the same that is successfully merged. #14529 #14632

[2022-02-05 05:07] paprajapati9 commented on #14815
Thanks for raising this issue @yogitasaini ! So maybe you and @ayu222220 can discuss among yourselves, who wants to work on this issue and let me know, will assign the issue to that person. Also whoever works on this, just make sure that the whole explore block is consistent and responsive on all screen sizes. Thanks!

[2022-02-05 05:56] anuragc10 commented on #13725
If this issue is not solved, I can solve this issue.
Solution:
![Screenshot 2022-02-05 112508](https://user-images.githubusercontent.com/63997049/152630574-cbeef944-34dd-4b6b-87cc-10db1d14b681.png)

[2022-02-05 06:16] anuragc10 commented on #14217
I can solve this issue, Please can I work on this issue?

[2022-02-05 07:38] EmperorRP commented on #14219
Hello there! This is my first ever open source project contribution. Is it possible to assign me a beginner's file since I am a new contributor?

[2022-02-05 07:44] Darsuu commented on #10700
@mridul-netizen @srijanreddy98 I'm a little stuck on ```QuestionObjectFactory``` refactoring because it has a constructor with a private variable. I've looked at  #13028 but it is using its private variable in a different way than mine. Let me know if there are any other references or sources. Thank you

[2022-02-05 08:26] yogitasaini commented on #14815
@ayu222220 I have already started working on this issue so I think I should.

[2022-02-05 08:53] ayu222220 commented on #14815
@paprajapati9 @yogitasaini no worries you started the issue so you must take it up anyways!

[2022-02-05 09:02] yogitasaini commented on #14815
Thanks @ayu222220

[2022-02-05 09:02] yogitasaini commented on #14815
@paprajapati9  Please assign it to me.

[2022-02-05 11:51] camperjett commented on #14219
@U8NWXD Working on `core.domain.image_validation_services_test`.

[2022-02-05 12:11] JPRMohnish commented on #14855
This issue occurs only on devices with width smaller than 450 I guess some more responsiveness need to be added.
I reproduced this on the smaller screen on bigger screens it works well.
It can be solved but admins need to decide a new layout for smaller screens.

https://user-images.githubusercontent.com/47176966/152641434-30aecef4-1ee3-489c-940f-afc612c66d94.mov

[2022-02-05 14:38] Zainab-Fahim commented on #10474
Hey, it's me again :')
Can someone please explain (or maybe direct to) what the error log on the console when run `$ python -m scripts.typescript_checks --strict_checks` mean? Because every time (after a session of attempting to fix bugs) I run `$ python -m scripts.typescript_checks --strict_checks` I get a different set of error logs on the console, and this time I got error logs worth 100 lines

[2022-02-05 15:08] Yash-g17 commented on #10474
@vojtechjelinek I'm getting these errors , I have solved other type errors in the main file , merely changing the type of algorithmIdPredictionServiceMapping gave rise to a couple different errors
![image](https://user-images.githubusercontent.com/57015747/152647232-1bd3a7e3-3fb6-49d9-a84f-be9f5175a928.png)

[2022-02-05 15:11] Yash-g17 commented on #10474
Can you post a screenshot of the error log ?

[2022-02-05 15:26] mohd-aman commented on #8038
Hi @krishita30j,
I would like to work on [core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts](https://github.com/oppia/oppia/tree/develop/core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts)

[2022-02-05 15:43] mridul-netizen commented on #10700
@Darsuu Can you please elaborate the specific errors you are facing while you refractor the code?

[2022-02-05 15:46] mridul-netizen commented on #10474
@Yash-g17 I have covered this file here https://github.com/oppia/oppia/pull/14775, can you try taking a reference?

[2022-02-05 15:46] Zainab-Fahim commented on #10474
This is just part of it. It doesn't even load the beginning of it. @Yash-g17
Also Github says `You can't comment at this time — your comment is too long (maximum is 65536 characters).`
[code]

[2022-02-05 15:51] mridul-netizen commented on #10474
@Zainab-Fahim The logs depend on the files you've added to in `files` property of file ts-config.strict.json. It means that file being added to that property contains all the above files as dependency either directly or indirectly. Can you please mention what changes have you done in tsconfig-strict.json?

[2022-02-05 16:19] Zainab-Fahim commented on #10474
Here are the changes made to `tsconfig-strict.json`
[code]

[2022-02-05 16:26] ashish-patwal commented on #10474
@nishantwrp i would love to work on this issue . Please assign me to it core/templates/pages/topics-and-skills-dashboard-page/skills-list/skills-list.component.ts

[2022-02-05 16:33] mridul-netizen commented on #10474
@Zainab-Fahim Can you confirm if you're on the latest develop. To pull the latest changes you should do
[code]
I am asking for the same because errors due to these two files are much less than observed in your logs. For eg adding two paths in the `files` property and running the command only gives below errors on my machine which you'll need to resolve!
[code]

[2022-02-05 16:35] mridul-netizen commented on #10474
@ashish-patwal Done!

[2022-02-05 16:36] ashish-patwal commented on #10474
Thanks @mridul-netizen !!

[2022-02-05 16:36] Yash-g17 commented on #10474
@mridul-netizen  I did the changes which were mentioned in your PR , I'm getting these new errors
![image](https://user-images.githubusercontent.com/57015747/152650321-f7365183-5f7f-44fb-a3bd-5c26c0b76963.png)

[2022-02-05 16:38] mridul-netizen commented on #10474
I think I have covered this file as well ?

[2022-02-05 16:39] Yash-g17 commented on #10474
Yeah , I found it , Thanks

[2022-02-05 16:57] KarishmaVanwari commented on #3446
Hey @seanlip , I'd like to work on "MusicNotesInput", since the assignee does not seem to be active currently. Could you please assign it to me?

[2022-02-05 19:05] gopivaibhav commented on #13162
@Nik-09 @vojtechjelinek Can you please assign me UrlHandler handler to me so that I can start working on it?
Thank You :)

[2022-02-05 19:21] ananth243 commented on #14219
@U8NWXD working on ```core.domain.skill_domain_test```

[2022-02-05 20:41] Darsuu commented on #10700
@mridul-netizen I'm getting the error ' stateObject variable is being used before being initialised' while using git push

**before:**
![before](https://user-images.githubusercontent.com/81075125/152658168-de707378-7abb-4713-8fed-29c61d568982.JPG)

**after:**
![after](https://user-images.githubusercontent.com/81075125/152658171-8827f1bb-29fa-477c-a3db-b3e7b217390f.JPG)

[2022-02-05 21:51] kevintab95 commented on #14793
Hi @IamEzio, I've attached a video reproducing the issue in the description. Hope it helps!

[2022-02-05 22:27] #14704 closed, assigned to Nik-09

[2022-02-05 23:53] kevintab95 commented on #14714
Thanks @paprajapati9! I took a closer look at this as well and here's what I found:

There are different kinds of rule types that start with "Translatable". Those that are subclasses of the `BaseTranslatableObject` class have a dict schema which will always contain a `contentId` key.

Example:
https://github.com/oppia/oppia/blob/3b58a7c975d53e6e8e1bf9e4bc1d1b625b8655a5/extensions/objects/models/ob

[2022-02-06 00:06] kevintab95 commented on #14714
I'm actually a bit curious about how this happened i.e. in what scenario is `rule.inputs[inputName]` null. Since it looks like a separate problem (if contentId is not found, it would just append `undefined`, it won't error.)

[2022-02-06 00:19] kevintab95 commented on #14714
Also, it looks like a similar error occured in prod recently:

[code]

I think the fix mentioned in https://github.com/oppia/oppia/issues/14714#issuecomment-1030716035 should be sufficient to address this error.

[2022-02-06 01:45] kevintab95 commented on #14690
Thanks @Lawful2002  for investigating this. It looks like this was related to an issue with the deployment of the code. I can confirm that it works on the test server now.

[2022-02-06 01:45] #14690 closed, assigned to Lawful2002

[2022-02-06 01:47] kevintab95 commented on #14691
This appears to be fixed on the test server now. Previously, some invalid code was pushed to the server which might have resulted in the error. Thanks @Lawful2002 and @sahiljoster32  for investigating. Closing this for now.

[2022-02-06 01:47] #14691 closed, assigned to Rijuta-s

[2022-02-06 02:16] kevintab95 commented on #14707
Hi @SanjaySajuJacob, I think in Javascript keys that are valid identifier names or numerals do not require quotes, but others do require it. So the ones with spaces in the screenshot are not valid identifier names so they are represented with quotes. All keys are actually strings (you may find this post interesting.)

[2022-02-06 02:17] kevintab95 commented on #14707
I'm not sure if the quotes thing is related but I think a reasonable next step would be to log the state id and the nodeData keys, so that next time the error occurs we have more data to help in debugging.

[2022-02-06 04:40] paprajapati9 commented on #14714
Yes @kevintab95 so when I looked into this I also found this issue, like the DragAndDrop Input type I mentioned has `TranslatableHtmlContentId` rule input type, like this is something I found when I looked at the https://github.com/oppia/oppia/blob/3b58a7c975d53e6e8e1bf9e4bc1d1b625b8655a5/extensions/objects/object_defaults.json#L28-L33 and https://github.com/oppia/oppia/blob/3b58a7c975d53e6e8e1bf9

[2022-02-06 05:16] Zainab-Fahim commented on #10474
Hey, thanks, that seemed to be the issue I wasn't on the latest develop. I `get stash`ed my changes and then pulled up to the most recent changes. Thank You once again!

[2022-02-06 05:53] Nik-09 commented on #13162
Sure, thanks for the updates.

[2022-02-06 05:55] Yash-g17 commented on #10474
Whenever I'm trying to push my changes to origin , the process always gets paused here until I interrupt it with Ctrl + C , any guidance would be helpful
![image](https://user-images.githubusercontent.com/57015747/152669422-2043df19-44da-4851-8c29-ec5fd27a12a2.png)

[2022-02-06 07:05] Darsuu commented on #10700
@mridul-netizen @srijanreddy98  I've been informed by my mentor that ```QuestionObjectFactory``` as of yet can't be refactored. I would like to request a change from ```QuestionObjectFactory``` to ```StoryContetsObjectFactory```

[2022-02-06 07:46] Zainab-Fahim commented on #10474
So I did run `git fetch upstream` & `git merge upstream/develop` but the error persisted.
Following are the steps I followed;
[code]
Note: I stashed my files before upstreaming since  I didn't want to commit the files as yet.

[2022-02-06 08:20] #14636 closed, assigned to soumyo123-prog

[2022-02-06 08:57] mridul-netizen commented on #10474
@Zainab-Fahim Please follow the instructions provided here https://github.com/oppia/oppia/wiki/Make-a-pull-request before making a Pull Request. Have you created a new branch? from your logs, it looks like you made the changes directly on your develop branch.

[2022-02-06 08:59] mridul-netizen commented on #10474
@Yash-g17 Please raise an issue or ask this in the Discussions section mentioning all the details

[2022-02-06 09:33] SanjaySajuJacob commented on #14707
Oh I see, so any key value with a space would have quotes, that makes sense. Thanks

[2022-02-06 09:37] SanjaySajuJacob commented on #14707
Oh ok, so do you mean that a PR must be made in which the values are logged in console? (cause I was not able to replicate the error in any way on my local machine)

[2022-02-06 10:21] Hatilar420 commented on #14219
@U8NWXD working on `core.domain.exp_fetchers_test`.

[2022-02-06 10:50] Yash-g17 commented on #10474
I'm facing the same error , asking in discussions sections .

[2022-02-06 11:21] Yash-g17 commented on #10474
https://github.com/oppia/oppia/discussions/14870#discussion-3857788

[2022-02-06 13:32] SAEb-ai commented on #14797
@heyimShivam It will fixed by the linked PR in this issue. Thanks for reporting.

[2022-02-06 14:27] ashish-patwal commented on #10474
@mridul-netizen @vojtechjelinek i just made pr for my previously assigned file . In the meantime can i work on another file ?

[2022-02-06 14:56] EmperorRP commented on #10474
@mridul-netizen @vojtechjelinek I am a new contributor here, can you please assign me any beginner file?

[2022-02-06 15:14] Rijuta-s commented on #14703
@kevintab95 I think cherry picking #14593  will resolve this server error (as Krishita mentioned the component has been migrated.)

[2022-02-06 18:36] seanlip commented on #3446
Sure -- done!

[2022-02-06 19:03] heyimShivam commented on #14797
Thanks for informing

[2022-02-06 23:32] kevintab95 commented on #14707
Yep, what can be done for now is to add additional logs so we have more useful info to debug this error in the future. To do this, we will try to catch the error (using try-catch) then append the additional logging details in the "message" property of the error and rethrow the same error so it gets sent to the server.

[2022-02-07 09:28] kevintab95 commented on #14714
Hi @paprajapati9, I was able to reproduce the "null" issue. Here's what I did:

1. Create a DragAndDropSortInput interaction.
2. Add a response.
3. Open the response editor and click on "Add another response".
4. Scroll up and click on a different state.
5. See error.

https://user-images.githubusercontent.com/11008603/152761282-e2fb5943-b911-4482-8b3f-a3167148eeeb.mp4

[2022-02-07 10:25] kevintab95 commented on #14709
Hi @nithinrdy, thanks for looking into this! Were you able to reproduce this issue locally? I'm wondering what user action can cause this. As you pointed out, the `isCurrentInteractionTrainable` is called in the template but this template is not supposed to be visible when there is no interaction specified. From the code, the answer-group-editor will render / trigger the relevant functions when `$

[2022-02-07 10:31] kevintab95 commented on #14709
As a next step, I would suggest adding more logs. We could log the relevant variables (e.g. answerGroups, rules) so that the next time this error occurs, we will have more data to help us debug this. Perhaps something like this:

[code]

[2022-02-07 10:32] paprajapati9 commented on #14714
Oh @kevintab95 cool! I had also tried multiple ways using draganddrop input type but could not get the error 😅. Thanks! This will help a lot. Will take a look what's causing this.

[2022-02-07 10:33] mdsahiloss commented on #14855
hey folks, This is sahil new contributor to Oppia, I want to say that if no one is working on this issue so i would like to work on it if you assign it to me.

[2022-02-07 10:43] gopivaibhav commented on #13162
I have sent a PR for this issue. Can you please verify and merge this? [PR#14874](https://github.com/oppia/oppia/pull/14874)

[2022-02-07 11:07] kevintab95 commented on #14708
Hi @soumyo123-prog, were you able to reproduce this? If not, as a next step, I would suggest adding more details to the log messages so we can debug this better if this error occurs again in the future. To do this, try-catch the error, append relevant details in the "message" property of the error object and then rethrow the same error so that it gets reported in the server.

[2022-02-07 12:12] kevintab95 commented on #14711
Hi @nithinrdy, any updates on this? Based on some searching, I think this error can happen when a component is destroyed but the subscriptions to async observables are still active. I think a reasonable next step would be to look at all the components in the editor page (e.g. using text search) that "subscribe" to observables but do not unsubscribe to them when the component is destroyed and if yo

[2022-02-07 14:12] ashish-patwal commented on #8668
@nithusha21 can you please assign me one of the files . I would love to work on it .

[2022-02-07 19:58] sagangwee commented on #14826
Changes needed:

- Add a fetch storage method in core/storage/opportunity/gae_models.py that accepts a datastore cursor.
- Add a fetch reviewable suggestions method in core/domain/suggestion_services.py that accepts a datastore cursor.
- Add fetch methods in frontend service core/templates/pages/contributor-dashboard-page/services/contribution-and-review.service.ts that accept datastore cursors.
-

[2022-02-07 20:54] U8NWXD commented on #14219
@EmperorRP these files are all for beginners, so I've assigned you to `core.controllers.voice_artist_test`

[2022-02-07 21:08] U8NWXD commented on #14107
@IamEzio I haven't seen it recently

[2022-02-07 22:37] sagangwee commented on #14826
Looks like we can't call `Query.fetch_page()` with `OR` or `!=` queries: https://github.com/googleapis/google-cloud-python/issues/15866, https://cloud.google.com/appengine/docs/standard/python/ndb/queries#neq_and_in. An alternative would be to use `Query.fetch()`, specifying a limit and offset.

[2022-02-07 22:44] winnie368c commented on #14033
@vojtechjelinek Hello! I was working on core/domain/stats_domain.py and was wondering what the correct annotation would be for line 357, since other can be either SessionStateStats or StateStats but mypy shows this error:
![Screen Shot 2022-02-07 at 2 40 08 PM](https://user-images.githubusercontent.com/85202273/152884688-f05bff4e-76e0-49fd-a198-68a890731be9.png)

[2022-02-07 23:18] vojtechjelinek commented on #14033
![Screen Shot 2022-02-07 at 2 40 08 PM](https://user-images.githubusercontent.com/85202273/152884688-f05bff4e-76e0-49fd-a198-68a890731be9.png)

You will need to modify the if above to use `isinstance(other, StateStats)` so that the static evaluator knows that in that branch other will be `StateStats`

[2022-02-07 23:27] vojtechjelinek commented on #14033
@dhruvshrivastava @Manan-Rathi Are you still working on this PR?

[2022-02-08 03:14] zemonas opened #14878 "When running python -m scripts.start, get error message not found in troubleshooting (See Below)"
### Discussed in https://github.com/oppia/oppia/discussions/14817

<div type='discussions-op-text'>

<sup>Originally posted by **kyledanamarsh** January 31, 2022</sup>
[code]

Issue found in discussion but I did fetch and update my upstream using `git fetch upstream`. also did forked and cloned repository today
I think the problem may be `python` is used for **python2.7**
Mac OS Big Sur version 11

[2022-02-08 04:01] clairvoyage commented on #14219
Hi! Can I be assigned  `core.domain.learner_progress_services_test` ? @U8NWXD

[2022-02-08 04:27] U8NWXD commented on #14219
@clairvoyage done

[2022-02-08 04:39] dhruvshrivastava commented on #14033
Yeah I'm working on it.

[2022-02-08 04:42] sahiljoster32 commented on #14033
Hi, @vojtechjelinek, please assign me this file `core/domain/user_query_domain.py`

[2022-02-08 04:47] sahiljoster32 commented on #14033
Hi, @vojtechjelinek
can you please assign me this file `core/domain/collection_domain.py`

[2022-02-08 07:00] Aayush452-cell commented on #13162
@Nik-09 My PR [#14749](https://github.com/oppia/oppia/pull/14749) for `FetchSkillsHandler` had already been merged please mark it as done. Also, I want to work on  `UserInfoHandler` too, Could you please assign me that?

[2022-02-08 07:03] Nik-09 commented on #13162
@Aayush452-cell Done

[2022-02-08 08:34] SD-13 commented on #14878
I am closing this issue as it is resolved after updating the code with the latest `develop` branch.

[2022-02-08 08:34] #14878 closed, assigned to nobody

[2022-02-08 09:50] AmanJolly16 commented on #13162
@Nik-09 can I get ExportAccountHandler?

[2022-02-08 10:56] nithinrdy commented on #14711
Hi, sorry for the delay. Yes, I did find a similar [result](https://stackoverflow.com/a/42249082/17327700) after looking around a bit. The error seems to occur when a `detectChanges` call is made in a subscription to an observable, but the observable isn't unsubscribed from in the onDestroy hook.

All the subscriptions I found which contained explicit `detectChanges` calls, also unsubscribe from t

[2022-02-08 11:08] vojtechjelinek commented on #14033
@dhruvshrivastava Ok!

@sahiljoster32 Done.

[2022-02-08 11:33] paprajapati9 opened #14881 "Translation support not present for topics in navbar"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/
 2. Make sure you are logged out, as it is only visible if user is not logged in
 2. Hover over Learn navbar tab and a dropdown opens
 3. Change current language and see that the topics are not tranlsated

**Observed behavior**
The topic title

[2022-02-08 12:23] KarishmaVanwari commented on #13162
Hey @Nik-09 , can you please assign me QuestionsListHandler? Thanks!

[2022-02-08 13:08] sathvik2612 commented on #14881
Sir, could you please assign it to me. I am interested to work on it

[2022-02-08 13:19] sathvik2612 commented on #14419
Hello, I am interested to contribute a voice assisstant to the website. Could anyone please say whom to contact for this.

[2022-02-08 13:19] sathvik2612 commented on #14419
or guide me regarding that, as it gives a hype in user experience

[2022-02-08 13:26] sathvik2612 commented on #8668
Is there anything here, which can be assigned to me.

[2022-02-08 15:21] #14797 closed, assigned to U8NWXD, krishnarao22

[2022-02-08 16:52] gopivaibhav commented on #13162
@Nik-09 Can you please assign me SiteLanguageHandler class? Thank you :)

[2022-02-08 17:12] Nik-09 commented on #13162
@gopivaibhav @KarishmaVanwari @AmanJolly16 Done.

[2022-02-08 20:54] KarishmaVanwari commented on #3446
@seanlip
I am working on writing validators for "MusicNotesInput".
Can you please help me figure out what type is assignable to `ReadableMusicNote[]` and `ReadableMusicNote`? I assumed it to be a 'string' and 'number' respectively, but it throws errors when I try to push the changes.

[2022-02-08 21:20] jordyparker commented on #13162
@Nik-09 kindly assign me to `EditableSkillDataHandler`, `QuestionCountDataHandler` and `EditableQuestionDataHandler`

[2022-02-08 21:31] Hatilar420 commented on #14219
@U8NWXD working on
- `core.domain.summary_services_test`
- `core.domain.topic_services_test`
- `core.domain.feedback_domain_test`

[2022-02-08 21:36] U8NWXD commented on #14219
@Hatilar420 assigned

[2022-02-09 03:01] seanlip commented on #3446
Hi @KarishmaVanwari, you will need to read the code (and perhaps do console logs when running a local web server in order to see the structure of the items for yourself) -- don't assume.

Once you've done so, feel free to reply to this thread with your reasoning and conclusions, and if you're still running into issues, we can take a look at them.

[2022-02-09 03:26] seanlip commented on #14826
Just a note, I think we're trying to move to use offset throughout the codebase (since it's easier to reason about than an opaque cursor). Can we do that here too (instead of a cursor)?

One other note is that you might need to keep a frontend list of cached opportunities so that you can fetch a little bit more than the actual amount you want to show. E.g. we probably would still want to fetch 100

[2022-02-09 03:48] seanlip commented on #13801
This issue has made no progress in 5 months, so I am deassigning @mahendra1290 from it.

[2022-02-09 03:49] seanlip commented on #13801
@Rijuta-s @krishita30j @Lawful2002 Assigning this to LaCE quality team for triage -- thanks!

[2022-02-09 03:52] U8NWXD commented on #14187
Deassigning @mahendra1290 due to inactivity

[2022-02-09 04:52] Nik-09 commented on #13162
@jordyparker Done

[2022-02-09 04:55] AmanJolly16 commented on #13162
@Nik-09 can I get StateCompleteEventHandler and LeaveForRefresherExpEventHandler, also [EditableSkillDataHandler](https://github.com/oppia/oppia/pull/14623) is done, you can mark it.

[2022-02-09 05:15] paprajapati9 commented on #14827
@aks681 Are you talking about the error message from getErrorString method?
https://github.com/oppia/oppia/blob/3b58a7c975d53e6e8e1bf9e4bc1d1b625b8655a5/extensions/interactions/NumericInput/directives/numeric-input-validation.service.ts#L239-L248

[2022-02-09 05:18] paprajapati9 commented on #14881
Hey @sathvik2612 and welcome to oppia, this issue required a quick fix and as you can see the PR for this is already raised. You can maybe start with the starter issues labeled as good-first-issue.

[2022-02-09 06:56] EmperorRP commented on #14219
Alright thanks!

[2022-02-09 07:01] nithinrdy commented on #14709
Hey, thanks for taking a look!
You're right, I seem to have gone off-track when looking into this.

I added a few log statements to understand the lifecycle of answer-group-editor and the data being logged was as expected - whenever the selected interaction deleted, the answerGroups list would become empty and the answer-group-editor component would be destroyed as intended.

I couldn't reproduce

[2022-02-09 07:04] winnie368c commented on #14033
@vojtechjelinek Hi, I just had two questions about different errors I was getting: one was annotating with StateStats/SessionStateStats versus object in situations such as the one below because using object causes no attribute defined errors while using StateStats causes the Liskov substitution principle error:
![Screen Shot 2022-02-08 at 10 50 50 PM](https://user-images.githubusercontent.com/8520

[2022-02-09 07:04] nithinrdy commented on #14709
However, I did notice that when the answerGroups list became empty, and answer-group-editor was destroyed from the view (because of this line),
https://github.com/oppia/oppia/blob/a7518907a09d27577c258fc11b08abd3dffc44b4/core/templates/components/state-editor/state-responses-editor/state-responses.component.html#L18

... the destroyed answer-group-editor component would still possess its ctrl.rule

[2022-02-09 08:33] soumyo123-prog commented on #14708
@kevintab95 I was not able to reproduce it. Since the error log says that the error occurred on `list-of-sets-of-translatable-html-content-ids-editor.component.ts`, I tried creating a `drag and drop interaction in an exploration` (because this file is related to drag and drop interaction editor) with and without using the `--prod` flag. However, the error did not occur a single time.

[2022-02-09 08:34] soumyo123-prog commented on #14708
@kevintab95 Should I make a pr for that or just try it in my local system?

[2022-02-09 08:49] #14881 closed, assigned to paprajapati9

[2022-02-09 08:56] sathvik2612 commented on #8668
@Showtim3 I am good at javascript, and I love to work on it. could you please assign one of the task to me.

[2022-02-09 09:49] paprajapati9 commented on #14714
Hey @kevintab95, I was working on this and I noticed that we don't really need to add "TranslatableHtmlContentId" input type to list of content Ids as that value they contain are already for translations added as they contain the options in the interactions like in draganddropinput type the rule is like:
 `{
     x: 'ca_choices_0',
      y: 2
   }`
 where 'ca_choices_0' is the contentId but it is

[2022-02-09 13:59] #14713 closed, assigned to krishita30j

[2022-02-09 14:37] vojtechjelinek commented on #14033
For the first error I think the error description already suggests the solution, did you try that?

Yes, `TypedDict` you can use how it is used in different parts of the codebase.

[2022-02-09 14:57] sathvik2612 commented on #14881
Thanks for the mail sir.

Sir, i am not good at angular js, could you please suggest me an issue
which can be done by html,css and js. i am good at mern not mean.

On Wed, Feb 9, 2022 at 2:19 PM Pankaj Prajapati ***@***.***>
wrote:

[2022-02-09 16:06] winnie368c commented on #14033
@vojtechjelinek Thank you! Yes, I did try using "object" and got the attr-defined error:
![Screen Shot 2022-02-09 at 8 05 02 AM](https://user-images.githubusercontent.com/85202273/153240484-6103b63a-a273-4acc-aaee-e6f9864e3827.png)

[2022-02-09 19:56] JeeveshGarg commented on #14219
@U8NWXD working on
  -  `core.domain.suggestion_registry_test`
  -  `core.domain.rights_manager_test`
  -  `core.domain.story_domain_test`

[2022-02-09 21:11] SanjaySajuJacob opened #14893 "Existing topic name with leading or trailing spaces is considered unique"
**Describe the bug**
During topic creation, an existing topic name with leading or trailing spaces is registered as being unique and shows no error. Multiple topics with the same name may be created by adding leading or trailing spaces.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills Dashboard
 2. Create new topic
 3. Create another topic with the same name with spac

[2022-02-09 22:51] kevintab95 commented on #14708
Yup please create a PR. Once your PR gets merged, we will monitor prod to see if this error shows up again with the additional logging info you added.

[2022-02-09 23:02] kevintab95 commented on #14711
Great find, I think we can add unsubscribe statements in both the components you mentioned (algebraic expression and exploration-title-editor). Thanks!

[2022-02-10 00:13] kevintab95 commented on #14714
Ah, I see what you mean. Since we use ids in the choices for the DragAndDropSortInput rules, we do not need to worry about the content id to content mapping (from what I can tell, this is required only for rules that keep track of both content and id -- like TextInput). In that case, here's what I would suggest: The rename `getContentIdToContent` to be more specific about what it is doing (e.g. `g

[2022-02-10 00:54] kevintab95 commented on #14709
Perhaps you can try to test this locally in prod mode.

Regarding being able to access local variables after the component has been destroyed, I think that is quite odd.. can you please create a separate issue to investigate this (I wonder if this happens for other hybrid AJS components too)?

Feel free to create a PR with the log statements you tried locally, once that is merged, we'll monitor pr

[2022-02-10 03:14] kevintab95 opened #14895 "Could not find parent of NaN"
This error occurred recently in production

[code]

[2022-02-10 07:06] nithinrdy commented on #14709
Sorry, this was a false alarm. I've tried doing the exact same thing (log statement in a setTimeout call in the ondestroy method) for other components (both Ajs and Angular). They all exhibit this exact same behaviour - I just misunderstood it and assumed it was an error.

Could you please let me know how I could enable it? I've searched around and found that I'd need to call enableProdMode() in t

[2022-02-10 15:38] ahsenkamal commented on #14419
Is there anything I could contribute to this issue?

[2022-02-10 16:05] Nik-09 commented on #13162
Hi assignees,
I need a small favor from your side, please fill out this form if you are still working with any of the handlers, so I will quickly audit all of the handlers.

Also, feel free to reach me through google chat if you are facing any difficulty regarding the schemas.
Form Link: https://forms.gle/44rZcP8wLuvUCHUS9
(please fill it by 11th Feb)
Thank you.

---
@akbajwa, @ikeadeoyin @Aayush4

[2022-02-10 16:13] #14712 closed, assigned to paprajapati9

[2022-02-10 16:17] #14788 closed, assigned to nobody

[2022-02-10 16:25] ParitoshKabra commented on #13162
hey @Nik-09 ! seems like AnswerSubmittedEventHandler is yet left to assign? Can I start working on it?

[2022-02-10 17:18] Lawful2002 commented on #14855
@anuragc10 Please go ahead and work on this issue. Assigned it to you!

[2022-02-10 17:34] nithinrdy commented on #14711
Hey, I've searched around on the Guppy github repo, but was unable to find a method equivalent to `unbind` - something that would unbind an event handler.

I've contacted a fellow contributor, Prayush, over gitter regarding this (as they seem to have contributed to Guppy and to this piece of code in particular) and left a message explaining the issue. I'll open a PR once I receive a response from

[2022-02-10 17:35] Nik-09 commented on #13162
@ParitoshKabra Done

[2022-02-10 17:38] Yash-g17 commented on #10474
![image](https://user-images.githubusercontent.com/57015747/153464497-d158d827-2caf-404d-9d40-5eb710be572e.png)
@mridul-netizen Can you please guide me how to fix these errors

[2022-02-10 18:11] vojtechjelinek commented on #14202
@U8NWXD @DubeySandeep @gp201 Hey, I'm seeing multiple issues with starting server in WSL (https://github.com/oppia/oppia/discussions/14877, https://github.com/oppia/oppia/discussions/14910) can we please check that in the start script and tell the users to run the command with `--no_browser`?

[2022-02-10 19:43] #14847 closed, assigned to nobody

[2022-02-10 19:46] ashish-patwal commented on #14033
@vojtechjelinek @sajalasati please assign me core/domain/user_query_domain.py . Thanks !!

[2022-02-10 20:12] vojtechjelinek commented on #14033
@ashish-patwal Done.

[2022-02-10 20:20] sagangwee commented on #14826
Ah, thanks for the heads up on the move towards offset. Yup, I'm using offset in my implementation here due to the limitations discussed in https://github.com/oppia/oppia/issues/14826#issuecomment-1032006531.

Ack on the frontend cache. I don't think we want to do an initial fetch of 1000, as that would make the initial page load relatively slow, but maybe we can do some "query ahead" operations a

[2022-02-11 04:11] SidharajYadav commented on #8038
I would like to work
How i start contribute

[2022-02-11 10:44] seanlip commented on #14826
Sgtm. Just a note though -- the _current_ CD page does do an initial fetch of 1000. If that is fast enough, it might be OK to keep it; your call, though!

[2022-02-11 10:44] seanlip commented on #14826
Btw @sagangwee should this issue be assigned to you?

[2022-02-11 13:14] beingnoble03 commented on #14219
Can I be assigned core/domain/subtopic_page_domain_test.py? @U8NWXD

[2022-02-11 14:24] Aayush452-cell commented on #13162
Hi @Nik-09 I am working on `SkillDataHandler`  [PR #14851](https://github.com/oppia/oppia/pull/14851) and for this, I need to do some changes in the frontend. But when I am trying to push the changes I am getting this error in the frontend tests. I don't have much idea about frontend, so could you please look into this, is this happening due to any system requirements or code issue?

![image](http

[2022-02-11 16:40] sagangwee commented on #14826
@seanlip Yup, it should be. Assigned to me thanks.

Yeah for some languages where the number of translations are approaching 1000, e.g. Hindi, the initial page load is pretty slow (Anu has reported this as well), so we probably want some kind of incremental loading.

[2022-02-11 17:06] anuragc10 commented on #14855
Hello @Lawful2002, can you please provide me with the documentation or any type of video to set up the oppia locally in my system?
Once setup is complete I can solve this problem as fast as I can.

[2022-02-11 17:14] KKhushhalR2405 commented on #14419
You can work on the class on which I was working previously ```REPORT_TYPE app_feedback_report_constants.py```. Due to time constraints, I am not able to complete it.
@JeeveshGarg Can you please unassign me and assign @ahsenkamal

[2022-02-11 17:24] #14634 closed, assigned to nithinrdy

[2022-02-11 17:24] JeeveshGarg commented on #14419
@ahsenkamal assigning you.
Thanks.

[2022-02-11 18:03] U8NWXD commented on #14219
@beingnoble03 assigned

[2022-02-11 18:13] sahiljoster32 commented on #13801
Heya!!
This issue is fixed under PR #14583
Proof for fixed behaviour:-

https://user-images.githubusercontent.com/12553576/153646484-6a16700e-7b86-4fdb-8925-44019ae10048.mp4

Also, @seanlip can you confirm the behaviour so that we can close this, lace-quality team already confirmed it and reviewed it!!

[2022-02-11 18:15] IamEzio opened #14921 "Image-editor component is unresponsive for small screen sizes"
**Describe the bug**
The image-editor component (and the image uploader component) are not responsive for small screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Exploration editor page.
 2. Choose to customize the component opening image-editor dialog box

![Screenshot from 2022-02-11 23-34-06](https://user-images.githubusercontent.com/89375125/153645312-f4284d9a-7663

[2022-02-11 19:51] Nik-09 commented on #13162
@Aayush452-cell This seems because of the low configuration of the system, can you share your system details?

Also, on a top view, the changes in the PR #14851 seem fine to me.
Thank you.

[2022-02-12 04:41] Aayush452-cell commented on #13162
Yeah @Nik-09 the PR https://github.com/oppia/oppia/pull/14851 is approved by some of the reviewers but it kept on failing constantly on some of the `E2E tests`. So **vojtechjelinek** suggested me that it needs some modifications in frontend . After modifying the frontend this issue occured.

I have i5 8gb Ram System

[2022-02-12 06:29] Asmit2952 commented on #14033
Hey @sajalasati can you assign me:
* `core/domain/param_domain.py`
* `core/domain/platform_parameter_domain.py`
* `core/domain/question_domain.py`
As they are stale PRs, I would like to try my hands on them!!

[2022-02-12 08:58] ashish-patwal commented on #14033
![2022 02 12-13 20 36 screenshot](https://user-images.githubusercontent.com/63491234/153702561-cac7d9cf-47d3-4761-9ba8-4d3a731e36b4.png)

hey @vojtechjelinek @sajalasati . Needed some help !! On running . mypy  is not recognizing `attribute_names` as a valid argument for `namedtuple` field_names argument . I did the reveal_type(attribute_names) and it is correct as `builtin.list` but mypy is still

[2022-02-12 09:28] seanlip commented on #14826
OK, sgtm, thanks!

[2022-02-12 14:48] Lawful2002 commented on #14855
@anuragc10 Please see the Installation part of the README

[2022-02-13 11:22] Manan-Rathi commented on #14622
Hi @seanlip. I tried reproducing the issue in the production mode (with the `--prod_env` flag). However, the skill gets added instantaneously and works just as intended(like the video attached above). May I know your thoughts on this?

[2022-02-13 12:16] Manan-Rathi commented on #14394
I tried reproducing the bug. However, if you check the last 10 seconds of the video, the hint button is active instantaneously.

https://user-images.githubusercontent.com/76519771/153752543-4dc36887-2bb0-4969-8048-001a4a889789.mp4

[2022-02-13 15:16] ayushjaink8 opened #14929 "Exploration feedback does not get updated automatically on adding new feedback thread"
**Describe the bug**
When we add a new feedback thread inside Exploration Editor. It does not get updated automatically. A refresh is required to update the thread.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Exploration Editor page.
 2. Click on the feedback icon.
 3. Click on "Start new thread" button.
 4. Fill random values and click on "Create Thread" button.
 5. See error

[2022-02-13 16:05] ahsenkamal commented on #14419
I'm new though, could you please guide me on getting started with this in steps? Also, is there a deadline of some kind?

[2022-02-13 17:51] ashish-patwal commented on #10474
@vojtechjelinek @mridul-netizen i would like to work with a whole folder . Can you please assign me `core/templates/domain/story/*.ts`

[2022-02-13 18:04] seanlip commented on #14639
Hm, oddly, this seems to work properly now. Maybe it got fixed with a release -- thanks for checking!

I'll close this for now and reopen if it occurs again. To my knowledge, I didn't perform any additional steps.

[2022-02-13 18:04] #14639 closed, assigned to nobody

[2022-02-13 18:05] vojtechjelinek commented on #10474
@EmperorRP @ashish-patwal Done.

[2022-02-13 18:41] ParitoshKabra commented on #13162
![image](https://user-images.githubusercontent.com/76113183/153769539-183f6246-d234-4699-9eec-3a7d239a1a94.png)

@Nik-09

From above it seems that the answer can be anything, from a mathematical equation, integer, float or string..so we should use ```object_dict``` for it, but then I am unable to identify what ```validation_method``` or ```object_class``` i should give to it...thanks for any help

[2022-02-13 20:48] ankita240796 commented on #7008
Hi @sajalasati, there has been no update on this from the pylint team and hence we cannot work on this still. A linter team can make a contribution to fix it for pylint instead.

[2022-02-14 03:35] seanlip commented on #14622
Oddly, this now works in production, so I'm closing it. I'll reopen if it crops up again -- thanks for looking into it!

[2022-02-14 03:35] #14622 closed, assigned to Manan-Rathi

[2022-02-14 04:17] asmitbm commented on #14033
Hey @sajalasati can you assign me:

`core/domain/param_domain.py`
`core/domain/platform_parameter_domain.py`
`core/domain/question_domain.py`

As they are stale PRs, I would like to try my hands on them!!

[2022-02-14 07:30] soumyo123-prog commented on #14845
@kevintab95 @Rijuta-s @krishita30j Can I work on it?

[2022-02-14 09:44] vojtechjelinek commented on #14033
@Asmit2952 Done.

[2022-02-14 11:46] ananth243 commented on #10242
Is this issue resolved? @nithusha21

[2022-02-14 12:14] ahsenkamal commented on #14419
@JeeveshGarg I just had to change the style of the name of the class and its values right? Is this all that had to be done?

![image](https://user-images.githubusercontent.com/82591228/153862208-c40f9b8a-c375-4b38-bfca-ae479c8723bc.png)

What am I supposed to do now? Should I create a PR? It has been said to submit multiple classes in a single PR

[2022-02-14 12:15] ananth243 commented on #12912
@vojtechjelinek ```raise-missing-from``` is fixed from #14719. May i take up ```consider-using-with``` as the PR #14743 is closed?

[2022-02-14 12:17] vojtechjelinek commented on #12912
@ananth243 Done.

[2022-02-14 12:36] JeeveshGarg commented on #14419
Here its look correct, remove `pylint`, no longer need now. And did you change names where this class is use??
if yes, make PR, otherwise do the same.

see reference PR

Don't worry about multiple classes in single PR.

[2022-02-14 12:45] JeeveshGarg commented on #14419
@Sreelayavuyyuru @mhammadsaani @dshmul @rishabhbajpai2000
Is it true that you're still working?
Please give update..

[2022-02-14 14:01] ananth243 commented on #12912
@vojtechjelinek can I be assigned to ```import-outside-toplevel```?

[2022-02-14 14:35] vojtechjelinek commented on #12792
Closing as validation jobs will be refactored.

[2022-02-14 14:35] #12792 closed, assigned to YBCS

[2022-02-14 14:35] vojtechjelinek commented on #12688
Closing as validation jobs will be refactored.

[2022-02-14 14:35] #12688 closed, assigned to YBCS, aasiffaizal

[2022-02-14 14:53] vojtechjelinek commented on #12912
@ananth243 Sure.

[2022-02-14 16:41] gopivaibhav commented on #5813
Hello @vojtechjelinek Is there anything to work on this issue now or Shall I choose different issue now ??

[2022-02-14 17:25] Hatilar420 commented on #14187
@U8NWXD working on
- `question-update.service.ts`
- `exploration-states.service.ts`

[2022-02-14 17:30] Hatilar420 commented on #14219
@U8NWXD working on
- `core.domain.story_services_test`
- `core.domain.topic_fetchers_test`

[2022-02-14 17:46] SavvyOsive opened #14937 "The ``python-matplotlib`` package does not seem to be downloadable anymore via the apt repository."
**Describe the bug**
Is the ``python-matplotlib`` still downloadable via the apt repository?

**Observed behavior**
The ``python-matplotlib`` does not seem to have an installation candidate, only the ``python3-matplotlib`` package is available to download via the apt repository.

For this,
- Either we specify adding a repo under ``/etc/apt/sources.list``
- Or remove the ``python-matplotlib`` packa

[2022-02-14 17:53] AnuragVats007 commented on #7450
@vojtechjelinek can you assign me `suggestion_test.SuggestionUnitTests`?

[2022-02-14 18:58] vojtechjelinek commented on #7450
@AnuragVats007 Done.

[2022-02-14 22:46] U8NWXD commented on #14187
@Hatilar420 this issue is not a starter issue, and the tasks here may be rather complex. For example, `question-update.service.ts` will need to be migrated to Angular 2+ before you write tests for it. Are you confident you can take on such a task, or are you looking for starter tasks?

[2022-02-14 22:48] U8NWXD commented on #14219
@Hatilar420 assigned

[2022-02-14 23:58] #14635 closed, assigned to SanjaySajuJacob

[2022-02-15 00:34] vojtechjelinek commented on #5813
@gopivaibhav Please choose a different issue.

[2022-02-15 01:19] #13801 closed, assigned to nobody

[2022-02-15 05:38] ParitoshKabra commented on #13162
any help on this @Nik-09 @vojtechjelinek  :') ? I could not figure out the type answer fits into, as its already normalized based on the instance type

[2022-02-15 05:49] not-shoyo commented on #14605
Hi, I am interested in taking up this Issue if available. I have attached below a corrected file where I simply used prettier extension in VSCode to make the changes. Please let me know if this is the correction you had in mind.

[admin-features-tab.component.zip](https://github.com/oppia/oppia/files/8066147/admin-features-tab.component.zip)

[2022-02-15 06:28] gopivaibhav commented on #7450
Hey @vojtechjelinek  Can you please assign me `suggestion_services_test.SuggestionServicesUnitTests` ?
Thank you

[2022-02-15 13:22] vojtechjelinek commented on #7450
@gopivaibhav Done.

[2022-02-15 13:27] vojtechjelinek commented on #14605
@not-shoyo The problem is that our linter would mark your changes as a mistake, the thing that we need to do is probably to introduce something like Prettier into our whole codebase, but that would be quite a complicated thing to do.

If you're new to Oppia I would recommend starting with one of the issues with "good first issue" label.

[2022-02-15 13:30] #14827 closed, assigned to paprajapati9

[2022-02-15 14:30] nithinrdy commented on #13624
The text field present in the new skill modal when creating a skill already limits the number of characters that can be entered to a 100.

However, the text-field present in the skill editor doesn't (I've been able to reproduce this error there by editing the description to include too many characters and trying to save). I've opened a PR fixing the same.

[2022-02-15 14:58] vojtechjelinek commented on #13162
@ParitoshKabra Yeah, that is a bit tricky, as the answer validation depends on other parameters, @AmanJolly16 are you working on something similar to this?

[2022-02-15 15:03] Yash-g17 commented on #10474
@vojtechjelinek

[2022-02-15 15:24] Zainab-Fahim commented on #10474
Hey, I did create a branch and try to make a PR, but was met with this error.
[code]
Any way to tackle this?

Thank You!

PS: My apologies @mridul-netizen for the delayed response. When I tried to create a branch and place all the changes I made into the newly created branch, I was met with some errors pertaining to the `scripts.py` file. I had to remove all the files and begin the installation on

[2022-02-15 15:30] nikhilhvr commented on #14419
hey @JeeveshGarg Is there anything I could contribute to this issue?

[2022-02-15 16:16] ahsenkamal commented on #14419
I changed it everywhere in the same file. Do I have to change it anywhere else?

[2022-02-15 16:30] deepeshaburse commented on #14419
Hey @JeeveshGarg, I was interested in contributing, are there any open issues I could work on?

[2022-02-15 16:36] deepeshaburse commented on #14219
Hey @U8NWXD, I would like to work on:
- core.domain.stats_services_test
- core.domain.value_generators_domain_test

[2022-02-15 17:21] Hatilar420 commented on #14187
@U8NWXD, yes i am confident that i can handle the migration and task. Thanks for asking.
for now can you assign me to.
- `question-update.service.ts`

[2022-02-15 17:30] AmanJolly16 commented on #13162
@vojtechjelinek Yes, I was working on the same issue. You asked me to submit you the Doc containing the reason why this problem can't be solved with existing code and also asked me to include my proposed solution.

[2022-02-15 17:54] ParitoshKabra commented on #13162
Can we add a custom validator for this under the schema_utils.py?  @AmanJolly16

[2022-02-15 18:22] Mohitbalwani26 commented on #7450
Hey @vojtechjelinek, I was looking into file `scripts/build_test.py` as it is mentioned in the issue. It contains tests for functions like `_minify`, `_minify_and_create_sourcemap`, etc. which are defined in `scripts/build.py`, shouldn't these be made public in build.py in the first place like other functions `get_dependencies_filepaths`? If you could help me understand why they are private, it wo

[2022-02-15 18:30] AmanJolly16 commented on #13162
@ParitoshKabra Yep I did something like that, but now the problem is few explorations send 'dict' as their answer. And we don't really know the key-value pairs so we can't write the 'properties'.

[2022-02-15 20:26] vojtechjelinek commented on #13162
Can we use variable length dictionaries?

[2022-02-15 20:30] vojtechjelinek commented on #7450
@Mohitbalwani26 They are private because they are not used outside of the _build.py_ file.

[2022-02-16 01:51] lkbhitesh07 opened #14943 "Remove "GetNumberOfExpExceedsMaxTitleLengthJob" after the fix."
Have to remove `GetNumberOfExpExceedsMaxTitleLengthJob` after its successful run on our dataset as now we have frontend validation so no new data will be generated which will have an exploration title length of more than 36.

[2022-02-16 02:48] ParitoshKabra commented on #14219
Hey @U8NWXD , I would like to work on:

- core.domain.exp_domain_test
- core.domain.state_domain_test

[2022-02-16 02:57] ParitoshKabra commented on #13162
In that case, how we control the `different` type of values inside the dict? And also cases where the answer itself is not a dict?
Moreover, answer is already normalized at `old_interaction_instance.normalize_answer`, there seems to be no point of repeating the logic again.  I have the following idea:

- Can we simply have a type which is either an int, string, dict or None  ?
- For above point, s

[2022-02-16 09:27] #14714 closed, assigned to paprajapati9

[2022-02-16 09:36] vojtechjelinek commented on #13162
@ParitoshKabra Yeah, I think this is similar to what @AmanJolly16 is doing. I think it would be better if @AmanJolly16 handled all handlers that include `answer`, @ParitoshKabra would that be fine? You can work on other handlers meanwhile.

@AmanJolly16 Would you be fine handling all handlers that contain `answer` in your PR?

[2022-02-16 10:59] ParitoshKabra commented on #13162
There are no other handlers un-assigned altho 😅 ,  I almost completed this handler, maybe @AmanJolly16 could continue from my PR (will be issuing it in a while) 😅 if it is okay

[2022-02-16 12:48] igraine82 opened #14944 "Copy text in translation mode"
**Describe the bug**
I am unable to copy text from "Interaction", "Feedback" and "Hints" tabs while in the "translation mode" for Place Value lessons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any translation page in "Place Values" - Comparing numbers - Practice 2
 2. Click on  Feedback
 3. Click on any one of then and try to copy the text
 4. See error
 5. Weirdly, I can copy t

[2022-02-16 14:20] AmanJolly16 commented on #13162
@vojtechjelinek Yes sure.

[2022-02-16 16:57] paprajapati9 opened #14947 "MCQ Options not getting translated even when translations are present"
**Describe the bug**
MCQ Options not getting translated even when translations are present.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [https://www.oppia.org/create/K645IfRNzpKy#/preview/Names%20of%20places%204)](https://www.oppia.org/create/K645IfRNzpKy#/preview/Names%20of%20places%204)
 2. Change the language of content
 3. See error in mcq options.

**Observed behavior**
The m

[2022-02-16 18:21] U8NWXD commented on #14187
@Hatilar420 assigned

[2022-02-16 18:30] U8NWXD commented on #14219
@deepeshaburse @ParitoshKabra assigned

[2022-02-16 18:36] #14947 closed, assigned to paprajapati9

[2022-02-16 20:51] saki-osive opened #14951 "The development server does not start on running ``python -m scripts.start``"
I followed the exact steps as listed at [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%3B-Python-3%29).

I followed the steps correctly until;

``
pip install coverage configparser
``

However, when I run the following command to start the development server from the root directory;

``
python -m scripts.start
``

it throws the following error after building for a while:

[co

[2022-02-16 21:04] vojtechjelinek commented on #12341
@DubeySandeep @seanlip This is still an issue, if I translate an exploration into Akan and then try to preview it, I'm not able to switch to any language in the preview mode, thus making any translations unusable.

[2022-02-16 22:08] #13624 closed, assigned to nithinrdy

[2022-02-17 06:06] ParitoshKabra commented on #13162
Hey @AmanJolly16 , is it okay if you start from some part in the PR I issued (if possible 😅 ), I already laid down some changes that you may need to do if you intend to modify the `custom` handler for `answer param` ?

[2022-02-17 14:11] juliafalarini opened #14957 "Typing delay in the Exploration editor"
**Describe the bug**

Delay when typing in the "Briefly explain this image to a visually impaired learner" box.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '[Exploration Editor](https://www.oppia.org/create/K645IfRNzpKy#/gui/Before%20you%20start)'
 2. Click on the pencil icon to edit Edit Card Content.
 3. Click on the insert image icon.
 3. Go to the "Briefly explain this image t

[2022-02-17 16:28] ParitoshKabra commented on #14219
`16:24:49 ERROR core.domain.exp_domain_test: 0.3 secs
Stopping Redis Server(name="sh", pid=872)...
Stopping Cloud Datastore Emulator(name="sh", pid=797)...

+------------------+
| SUMMARY OF TESTS |
+------------------+

------------------------------------------------------
    WARNING: FAILED TO RUN core.domain.exp_domain_test

    This is most likely due to an import error.
--------------------

[2022-02-17 20:36] #14711 closed, assigned to nithinrdy

[2022-02-17 21:02] #14358 closed, assigned to sagangwee

[2022-02-17 21:19] jordyparker commented on #14787
hi @sahiljoster32, i tried to reproduce the behavior but i got the 401 unauthorize error when accessing the url you gave in the step 1
what role do i need to have to access it?

[2022-02-18 00:13] jimbyo commented on #14715
@kevintab95 @sagangwee How do I see these server errors. I'm not seeing anything pull up on the terminal, or the console on chrome.

[2022-02-18 00:15] jimbyo commented on #14715
https://github.com/oppia/oppia/pull/13742 linking this PR for reference

[2022-02-18 06:29] jordyparker commented on #8038
@DubeySandeep most of the unclaimed services listed below are leading to a 404 page and i can not find them locally.
Could you assign me to an available service?

[2022-02-18 07:46] Rijuta-s opened #14960 "Issues in UI to improve quality"
- [x] The UXW team pointed out that there's a large set of white space in the middle of the lesson completion page that makes the bottom portion easy to miss where we recommend they log in or sign up to save their progress. Can we remove the unnecessary padding so that it's not as easy for that portion to fall below the fold? @Lawful2002
<img width="418" alt="Screen Shot 2022-02-16 at 9 52 43 PM"

[2022-02-18 08:14] Rijuta-s commented on #14855
@anuragc10  Are you done with the installation?
//cc @Lawful2002 incase @anuragc10 is still setting up the local environment, can we please assign it to someone in the team?

[2022-02-18 08:28] anuragc10 commented on #14855
@Rijuta-s I have installed all required packages.
When I run python -m scripts.start it takes a long time, and I don't know how long I have to wait for localhost://8181 to run.
Last time it took more than 1 hour still localhost not working
I already asked this on Gutter/Opia.
Can you please help me out.

Give me one more day otherwise you can assign it to someone else!
Thank you!

[2022-02-18 08:31] anuragc10 commented on #14855
![13587B18-0F79-4867-9255-10547178D92D](https://user-images.githubusercontent.com/63997049/154646442-c2fd7181-3c52-44dc-9c8a-180c14857b9c.png)

the terminal stucks here

[2022-02-18 09:06] Rijuta-s commented on #14855
Which OS are you using? Did you follow all the instrution on https://github.com/oppia/oppia/wiki/Installing-Oppia ?
Also try merging with develop and running the server again

[2022-02-18 09:07] sahiljoster32 commented on #14855
Hi @anuragc10, can you please share on which system are you running this?
Also, try to run `python -m scripts.start` on different environment like in ubuntu- terminal. usually vs code take much time for this(in my case this is helpful, maybe this is helpful for you as well).

[2022-02-18 09:58] anuragc10 commented on #14855
@Rijuta-s,
OS: windows - WSL
Ubuntu 20.04 LTS
Code editor: vs code studio
Windows: windows 11

[2022-02-18 11:24] suprabhat15 commented on #14960
I am interested to work on this issue. But as of now, I am stuck with installation issues. Once the installation gets done, I'll start working on this.

[2022-02-18 11:25] suprabhat15 commented on #14944
It would be more helpful if you could attach some images regarding this issue.

[2022-02-18 12:13] anuragc10 commented on #14855
![image](https://user-images.githubusercontent.com/63997049/154680633-4db80a67-6877-4749-9451-906aeac55a86.png)

after using python -m scripts.clean and python -m scripts.start
still showing this error

[2022-02-18 12:20] igraine82 commented on #14944
Hi suprabhat25!
I have just added some images in the main post. I am not sure how to print it since it is a "can't do" issue!
I added an explanation on the comment as well.
Hope it is better now.

[2022-02-18 12:40] adityanarayanm095 commented on #14033
what is this error? How to fix it?
![Screenshot from 2022-02-18 18-06-18](https://user-images.githubusercontent.com/91023072/154684563-0d27378b-5b3a-43de-88c0-72646168a7c0.png)

![Screenshot from 2022-02-18 18-10-58](https://user-images.githubusercontent.com/91023072/154684784-2f00528b-d22e-4f52-841f-0417862a57d8.png)

[2022-02-18 13:33] vojtechjelinek commented on #14033
You need to add `from mypy_imports import user_models` at the top of the file, look into other files to see how to do it exactly.

[2022-02-18 14:31] Lawful2002 commented on #14187
@U8NWXD Could I be assigned to `oppia-footer.component.ts`?

[2022-02-18 14:57] soumyo123-prog commented on #14187
done

[2022-02-18 15:03] vojtechjelinek opened #14966 "`UnsentFeedbackEmailModel.feedback_message_references` references wrong feedback and messages"
Inside the `UnsentFeedbackEmailModel.feedback_message_references` there are two fields `thread_id` and `message_id`, these should reference the `GeneralFeedbackThreadModel` and `GeneralFeedbackMessageModel`, but in some cases they don't. We need to remove the `UnsentFeedbackEmailModel`s that reference non-existent models and make sure that this does not happen again.

The legacy prod validation lo

[2022-02-18 15:04] ankita240796 commented on #13991
@vojtechjelinek I am not able to reproduce this which is expected given this is a rare flake. I am thinking about updating the test to print the extra threads in case of failures, which will provide us some data to debug if this flake occurs again.

WDYT?

\cc @seanlip

[2022-02-18 15:09] vojtechjelinek opened #14967 "`GeneralSuggestionModel` that is marked as rejected but is missing final reviewer ID"
There is at least one `GeneralSuggestionModel` that is marked as rejected but is missing final reviewer ID, we should fix the existing models and also make sure that this does not happen.

The legacy prod validation logs:

[code]

This issue has two sub-parts

- [ ] Find the root cause and eliminate it to stop the problem from happening
- [ ] Migrate existing models to a valid state

[2022-02-18 15:11] vojtechjelinek commented on #13991
@ankita240796 Sounds good to me.

[2022-02-18 15:23] vojtechjelinek opened #14968 "Fix `CompletedActivitiesModel` and `IncompleteActivitiesModel` to only reference existing and public explorations"
Fix `CompletedActivitiesModel` and `IncompleteActivitiesModel` to only reference existing and public explorations, as they now in some cases reference `ExplorationModel` that is already deleted or is set as private, also make sure that this does not happen again.

The legacy prod validation logs:
[code]

This issue has two sub-parts

- [ ] Find the root cause and eliminate it to stop the problem f

[2022-02-18 15:31] vojtechjelinek opened #14969 "`UserSubscriptionsModel` has many errors, they should be fixed"
`UserSubscriptionsModel` has many errors, they should be fixed and we need to make sure that they do not happen again.

The legacy prod validation logs:
[code]

This issue has two sub-parts

- [ ] Find the root cause and eliminate it to stop the problem from happening
- [ ] Migrate existing models to a valid state

[2022-02-18 15:34] vojtechjelinek commented on #871
This is already fixed.
![image](https://user-images.githubusercontent.com/10142938/154713210-16b4b3ce-ea19-49bb-bbce-13f712ac6951.png)

[2022-02-18 15:34] #871 closed, assigned to nobody

[2022-02-18 15:39] vojtechjelinek commented on #8368
This is already fixed.

![image](https://user-images.githubusercontent.com/10142938/154713974-0bfd86c4-2a46-4484-ba30-3249cc9e4f37.png)

[2022-02-18 15:39] #8368 closed, assigned to nobody

[2022-02-18 15:41] vojtechjelinek opened #14971 "`GeneralFeedbackMessageModel.thread_id` sometimes references nonexistent `GeneralFeedbackThreadModel`"
The `GeneralFeedbackMessageModel.thread_id` sometimes references nonexistent `GeneralFeedbackThreadModel`. This needs to be fixed and also prevented in the future.

The legacy prod validation logs:

[code]

We probably need to fix `delete_threads_for_multiple_entities` to be idempotent.

This issue has two sub-parts

- [ ] Find the root cause and eliminate it to stop the problem from happening
- [

[2022-02-18 15:53] vojtechjelinek opened #14972 "`ExpUserLastPlaythroughModel` has a few validation issues"
`ExpUserLastPlaythroughModel` has a few validation issues, these need to be fixed and also prevented in the future.

The legacy prod validation logs:
[code]

This issue has two sub-parts

- [ ] Find the root cause and eliminate it to stop the problem from happening
- [ ] Migrate existing models to a valid state

[2022-02-18 17:32] Manan-Rathi commented on #14960
Working on "Open chapter from the topic page in the same tab instead of opening in a new tab."

[2022-02-18 17:43] nithinrdy commented on #14217
Hey, I believe this issue is listed in #14960, may be it would be a good idea to close this issue and track it there instead?

[2022-02-18 18:48] Lawful2002 commented on #14217
@nithinrdy Yup, it would be better to track it via #14960. Closing this issue.

[2022-02-18 18:48] #14217 closed, assigned to nobody

[2022-02-18 20:15] juliafalarini opened #14974 "The text floats off the box"
**Describe the bug**

The example text inside the answering box floats off the box.

**To Reproduce**

Steps to reproduce the behavior:
 1. Go to '[Division lesson](https://www.oppia.org/explore/8HTzQQUPiK5i?topic_url_fragment=division&classroom_url_fragment=math&story_url_fragment=nina-visits-the-market&node_id=node_1)'
 2. Play through the lesson until you get to this card:

![image](https://use

[2022-02-18 22:27] sagangwee opened #14975 "Import errors when running Python debugger"
When trying to run a Python debugger via the steps outlined in https://github.com/oppia/oppia/wiki/Debug-backend-tests#use-the-python-debugger, I run into import errors such as:

[code]

I am guessing this is due to needing to inject various paths into `sys.path` and setting up server emulators such as for Google cloud datastore, which the test scripts handle, e.g. in https://github.com/oppia/oppi

[2022-02-19 09:07] #13083 closed, assigned to vojtechjelinek

[2022-02-19 09:45] seanlip commented on #14974
Thanks for reporting, @juliafalarini. Assigning to LaCE quality team for triage (cc @krishita30j @Rijuta-s @Lawful2002)

[2022-02-19 10:12] seanlip commented on #14957
Thanks @juliafalarini! Assigning to the LaCE Quality team for triage. /cc @krishita30j @Rijuta-s @Lawful2002

[2022-02-19 12:08] Lawful2002 commented on #14960
Working on `There seems to be an odd layout for the preferred exploration language setting. Not sure if we have mocks of what it should be but ideally I think the container should fit the language name and just have an "X" on the right so they can remove the language.` (2nd point)

[2022-02-19 14:24] Aayush452-cell commented on #13162
@vojtechjelinek Could you please help me with this? I have been stuck in this issue for quite a while now

[2022-02-20 06:31] sagangwee commented on #14975
If I instead use VSCode's debugger with a Python module configuration to run the backend_tests script:

[code]

I ran into errors like `pkg_resources.DistributionNotFound: The 'google-cloud-ndb' distribution was not found and is required by the application`: https://gist.github.com/sagangwee/ec585265f81c5190214277288b344a92.

Things I tried:

1. Running `easy_install --upgrade pip`: https://stacko

[2022-02-20 06:36] sagangwee commented on #14975
Also tried adding `"env": {"PYTHONPATH": "${workspaceRoot}"},` to my `launch.json`: https://stackoverflow.com/a/53624143

[2022-02-20 06:55] sagangwee commented on #14975
Looks like `pip install google-cloud-logging` was the last command needed. Although my particular test is working for now, there should have been a way to avoid this in the first place...

[2022-02-20 07:11] #14975 closed, assigned to nobody

[2022-02-20 08:21] ashish-patwal commented on #14419
hey @JeeveshGarg , can i work on `ANDROID_TEXT_SIZE` , ` ANDROID_NETWORK_TYPE ` . Their PR #14735 have been stale and closed .

[2022-02-20 11:09] Rijuta-s opened #14982 "Repetition of explorations in search results on scrolling down"
**Describe the bug**
The explorations keep on repeating on scrolling down in search results page and the page never ends.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Library Search Page](https://www.oppia.org/search/find?q=&category=(%22Music%22)&language_code=(%22en%22))
 2. Notice that there are only 3 rows with pitch perfect as first exploration and music theory as last
 3. On

[2022-02-20 11:21] Darsuu commented on #14219
@U8NWXD  May I work on ```core.utils_test```?

[2022-02-20 15:26] soumyo123-prog commented on #14219
Go ahead

[2022-02-20 16:41] ashish-patwal commented on #10474
@vojtechjelinek @nishantwrp i was working with the folder `core/templates/domain/story/*.ts` . but it seems that files other than than in the folder i am working on are getting involved in the checks . When i am trying to correct those files more additional files gets added in the stderr . I think i'll leave this folder as it is instructed in the description of this issue . Meanwhile can you assig

[2022-02-21 00:49] #14787 closed, assigned to sahiljoster32

[2022-02-21 06:11] vojtechjelinek commented on #10474
@ashish-patwal Done.

[2022-02-21 06:13] vojtechjelinek commented on #13162
This seems to be an issue with running the frontend tests, please ask on the GH Discussion about this.

[2022-02-21 06:26] Aayush452-cell commented on #13162
ok ! I will

[2022-02-21 09:59] soumyo123-prog commented on #14708
**Probable file causing the issue**
The variable `initArgs` is expected to be an object containing a property called `choices` whose value would be an array of answer choices in drag and drop response. It is passed from `object-editor` to `list-of-sets-of-translatable-html-content-ids` editor, it might be the cause of issue. Hence, `object-editor` might be the file to look for if this error occurs

[2022-02-21 14:48] Lawful2002 commented on #13822
@EricZLou @lkbhitesh07 Can I be assigned to `Exploration category should be one of the fixed list of categories defined by ALL_CATEGORIES in constants.ts 🏷️ Exploration` ?

[2022-02-21 15:46] CohenAriel commented on #14219
hi @U8NWXD can you assign me to core.domain.classifier_domain_test?

[2022-02-21 15:48] Kimbohlovette commented on #10474
Hell sir, I would like to work on this issue please

[2022-02-21 15:51] Kimbohlovette commented on #10474
Hello @nishantwrp  please assign me this issue

[2022-02-22 02:13] lkbhitesh07 commented on #13822
Sure, go ahead @Lawful2002

[2022-02-22 06:13] Lawful2002 opened #14994 "Remove "GetNumberOfExpWithInvalidCategoryJob" after the fix"
Remove `GetNumberOfExpWithInvalidCategoryJob` after the job has been successfully run on the server.

[2022-02-22 12:39] anuragc10 commented on #14855
@Rijuta-s , @Lawful2002  ,  I have done the setup part, can you please provide the path of the navbar styles.

[2022-02-22 13:25] anuragc10 commented on #14855
Hi, I have completed the set-up, can you please provide me with the path of the "oppia.css" file, as navbar styles are listed in the oppia.css file. Thank you

[2022-02-22 14:01] vojtechjelinek commented on #10474
@Kimbohlovette I've assigned you core/templates/components/skill-selector/skill-selector.component.ts

[2022-02-22 16:12] Kimbohlovette commented on #10474
Okay thanks sir

On Tue, Feb 22, 2022 at 3:01 PM Vojtěch Jelínek ***@***.***>
wrote:

[2022-02-22 16:17] Lawful2002 commented on #13822
@lkbhitesh07 Can I be assigned to `Exploration scaled_average_rating should be a non-negative float between 0 and 5, inclusive. ` ? Thanks

[2022-02-22 16:19] sahiljoster32 commented on #13822
@lkbhitesh07 please assign me this task .`Question state data schema version should be >= 27.` !!!

[2022-02-22 17:22] lkbhitesh07 commented on #13822
Done @Lawful2002, @sahiljoster32

[2022-02-23 06:48] U8NWXD commented on #14809
Closing due to lack of response

[2022-02-23 06:48] #14809 closed, assigned to nobody

[2022-02-23 09:20] adityanarayanm095 commented on #14033
@vojtechjelinek kindly unassign `core/domain/user_domain.py` to me.

[2022-02-23 15:04] paprajapati9 opened #14998 "Recommended next chapter title in exploration while in story mode is not translatable"
**Describe the bug**
Recommended next chapter title in exploration while in story mode is not translatable to multiple languages.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE?story_url_fragment=piece-of-cake&topic_url_fragment=fractions&classroom_url_fragment=math&node_id=node_1
 2. Continue till the end of the exploration
 3. Se

[2022-02-23 16:15] #14710 closed, assigned to Manan-Rathi

[2022-02-23 17:54] Sudhir878786 commented on #14689
Hey i would like to work on these issue     can i start ?

[2022-02-23 17:59] Sudhir878786 commented on #14974
Hey i can fix these issue  should i start working on it ?

[2022-02-23 18:26] sagangwee opened #15000 "[CD] --contributor-dashboard-debug mode for local dev testing"
We'd like to create add a command-line flag to the development start script, `--contributor-dashboard-debug` that does the following:

1. Create admin account with username "a".
2. Assign admin curriculum rights and probably translation/question admin rights.
3. Create X opportunities using admin account (for translation opportunities, "Akan" seems like a good default language as it appears early

[2022-02-23 18:51] Akshaj000 commented on #13162
@Nik-09 , Can i try  NewTopicHandler , NewSkillHandler and MergeSkillHandler?

[2022-02-23 22:03] Kimbohlovette commented on #10474
Please sir @vojtechjelinek  I have a challenge.
I have included the paths of both the `skill-selector.component.ts` and `skill-selector.component.spec.ts` files in the `tsconfig-strict.ts` file but when I executed the `python -m scripts.typescript_checks --strict_checks` I didn't see any errors
What am I supposed to do here please?
![Screenshot_3](https://user-images.githubusercontent.com/37558983

[2022-02-24 02:12] kevintab95 commented on #14709
Closing this for now, will reopen once we have more detailed logs introduced in #14938.

[2022-02-24 02:12] #14709 closed, assigned to nithinrdy

[2022-02-24 02:15] kevintab95 commented on #14715
Hi @jimbyo, I think these errors might show up on the terminal since it looks like a backend / Python error. Did you try out the scenario that Sagang described in https://github.com/oppia/oppia/issues/14715#issuecomment-1018891310?

[2022-02-24 02:22] kevintab95 opened #15003 "[CD] Cannot read properties of null (reading 'error')"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2022-02-24 02:24] kevintab95 commented on #15003
It looks like the relevant code has been refactored in #14546 and should not result in this error again. Closing for now.

[2022-02-24 02:24] #15003 closed, assigned to kevintab95

[2022-02-24 02:29] kevintab95 opened #15004 "Cannot read properties of null (reading 'size')"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-02-24 02:32] kevintab95 commented on #15004
Steps to reproduce a possibly related error "The rawLatex or svgFileName for a Math expression should not be empty."

1. Go to the contributor dashboard.
2. Go to the Translate text screen and select a language.
3. Select a lesson to translate.
4. In the RTE editor, choose math component.
5. Enter some valid math character and hit backspace until it is empty.
6. Click on done.
7. See error.

[2022-02-24 02:36] kevintab95 commented on #15004
Hi @krishita30j @Rijuta-s could you please prioritise this? I have added some steps to repro in the comment above, I suspect it might be related to this error (happens when a math component data url is null).

[2022-02-24 02:43] #5138 closed, assigned to nobody

[2022-02-24 02:43] #6622 closed, assigned to nobody

[2022-02-24 02:44] kevintab95 commented on #5138
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-02-24 02:44] kevintab95 commented on #6622
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-02-24 03:10] MashTerro commented on #3314
Hi @Arunabh98, I can help in this issue can I work on it?

[2022-02-24 08:03] ashish-patwal commented on #14219
hey @U8NWXD , can you please assign me `core.domain.playthrough_issue_registry_test`

[2022-02-24 08:15] anuragc10 commented on #14855
I have added some styles in the oppia.css file
But when I push changes to develop branch it shows this error, please guide me.
![Screenshot 2022-02-24 134436](https://user-images.githubusercontent.com/63997049/155484861-7e714762-a49d-4ca3-aaae-e43457ae8049.jpg)

[2022-02-24 08:27] #14982 closed, assigned to Rijuta-s

[2022-02-24 08:38] Akshaj000 commented on #14419
Hi @JeeveshGarg , can I try  FILTER_FIELD_NAMES?

[2022-02-24 10:05] seanlip opened #15005 "Topic prerequisite skill checking is broken and prevents topic being published"
**Describe the bug**

In a topic, chapters with prerequisite skills outside the topic make the topic unpublishable, because "this skill was not taught in any chapter before it". This behaviour is wrong because the validation error should only be triggered for skills that have been assigned to the topic currently being edited.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create topic P (t

[2022-02-24 10:06] seanlip commented on #15005
@krishita30j @Rijuta-s @Lawful2002 Would it be possible for the Quality team to take a look at this with some priority, please? It is blocking Percentages from being published.

Thanks!

[2022-02-24 11:15] vojtechjelinek commented on #10474
You can just create a PR with the changes in _tsconfig-strict.ts_ or you can take up more files and see if they contain any errors.

[2022-02-24 12:17] JeeveshGarg commented on #14419
@ashish-patwal @Akshaj000 assigning you both.

[2022-02-24 12:22] JeeveshGarg commented on #14419
@nikhilhvr @deepeshaburse you can choose any unassigned task.

[2022-02-24 12:45] ShivamJhaa opened #15006 "Error in Hindi translation."
**Describe the bug**

The Hindi translation of "Explore More Lessons Made by the Community" is not right. One word is written twice in hindi translation

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/learn/math
 2. Scroll to the footer
 3. See error

**Observed behavior**
![Screenshot from 2022-02-24 18-10-20](https://user-images.githubusercontent.com/86483059/1

[2022-02-24 13:08] ShivamJhaa opened #15007 "Video link provided in "Intoducing Carla" lesson is private."
**Describe the bug**
The youtube video link provided in the "Intoducing Carla" lesson is not available.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/explore/
 2. Play Introducing Carla lesson
 3. See error

**Observed behavior**
![Screenshot from 2022-02-24 18-33-53](https://user-images.githubusercontent.com/86483059/155529837-b84e3175-af34-471c-8797-6312f5621

[2022-02-24 13:11] Akshaj000 commented on #14419
Hi  @JeeveshGarg , So this is my first try contributing to an open source org. I have made few changes in gae_models.py, app_feedback_report_constants.py, app_feedback_report_services_test.py,app_feedback_report_domain.py and app_feedback_report_domain_test.py. Can u check it and help me out if there's any correction or if there's something i missed? Can i send a pr?

[2022-02-24 14:11] ShivamJhaa opened #15009 "While navigating through the static pages we are not getting redirecting to top of the page."
**Describe the bug**
When we are navigating through to any of the static pages, we are not getting redirected to the top of the respective page, either we are getting redirected to the middle of the page or at the bottom.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia.org
 2. Click on Donate or For Parents/Teachers etc.
 3. See error

**Observed behavior**
We are not getting re

[2022-02-24 14:51] seanlip opened #15011 "The animation between cards on the exploration page has regressed, and looks weird."
**Describe the bug**
The animation on the exploration page used to be smooth, but now it looks weird. See the video below -- the Continue button moves up and then jumps down, which is very jarring.

https://user-images.githubusercontent.com/10575562/155547315-e14ca746-5412-4422-844a-4925c805d56a.mp4

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/explore/K645IfRN

[2022-02-24 15:00] Lawful2002 commented on #15005
Hey @seanlip I'm unable to reproduce this issue on develop. I've attached a screencast, please see if I'm missing something.

https://user-images.githubusercontent.com/73544247/155549029-b8dccd93-eb97-4901-9890-489c47afd277.mp4

[2022-02-24 15:40] seanlip commented on #15005
Thanks for trying to repro, @Lawful2002!

Could you please try going into the chapter for topic 2, adding another prereq skill (or making some change), and seeing if you can save the draft? Also make sure the exploration attached to the chapter isn't published yet (since that was the case for the topic I was editing).

[2022-02-24 16:53] juliafalarini opened #15014 "Issues when uploading gifs in the lesson"
**Describe the bug**
Recently I started uploading gifs into Oppia's lessons, specifically Chapter 1 of Place Values. The gifs were created using Adobe Photoshop. There is a correct speed and timing for those gifs to be played, and also its background must be transparent (as can be observed in their files). However, when the [gif 1 ](https://www.oppia.org/create/K645IfRNzpKy#/gui/Introduction%20to%

[2022-02-24 17:03] seanlip commented on #15005
Update: I think the issue may be that the prereq skills were added on chapters 2, 3, and 4, so you might need to create a multi-chapter story to repro.

(Ignore the unpublished exps, sorry -- I think that probably has nothing to do with it. There's no reason why the prereq skills validation should be looking at exploration publication status, I think.)

[2022-02-24 17:09] seanlip commented on #15007
Thanks for reporting this @ShivamJhaa . I think it is fixed now, could you please confirm?

[2022-02-24 17:10] sahiljoster32 commented on #14787
Hey, @jordyparker
Sorry for such a massive late reply!!
You have to assign yourself "role", which is curriculum admin. you can find this role assigment feature in Admin page.

[2022-02-24 17:15] ShivamJhaa commented on #15007
Yes, the video is available now.
Thanks.

[2022-02-24 17:15] #15007 closed, assigned to nobody

[2022-02-24 17:29] kevintab95 opened #15016 "Force beautifulsoup to pick an encoding rather than guessing the encoding for a given text"
We use beautifulsoup in several places in the backend to process text. It appears to the the case that Beautifulsoup sometimes incorrectly parses text due to encoding issues. Based on the [documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#encodings) for BeatifulSoup 4 (bs4), it was found that bs4 internally “guesses” the encoding of the document provided and converts it into un

[2022-02-24 17:45] JeeveshGarg commented on #15005
@seanlip i'm working on it.

Already in discussion with @Lawful2002.

I am able to reproduce it. Correct, issue occur when we add prereq skills on chapters 2, 3 and 4,
We can also use published exploration for that.

[2022-02-24 18:28] Mohitbalwani26 commented on #7450
@vojtechjelinek I was thinking to test these functions indirectly.
For example -
https://github.com/oppia/oppia/blob/33ff571f761d41d3d161739b7ec0803b1aa2a8fd/scripts/build_test.py#L72
this `_minify()`  can also be tested if we replace  `_minify()` with `minify_func()` defined in `build.py` as it internally calls `_minify` according to some conditions and we can explicitly make sure that it meets t

[2022-02-24 21:42] Kimbohlovette commented on #10474
Alright thanks let me try

[2022-02-24 23:42] vojtechjelinek commented on #7450
@Mohitbalwani26 Sounds good!

[2022-02-24 23:50] U8NWXD commented on #14219
@ashish-patwal done

[2022-02-25 04:19] ahmd-nish commented on #14276
i would like to do this @khareyash05

[2022-02-25 04:42] ahmd-nish commented on #15014
Can you assign this task for me  ?

[2022-02-25 06:38] IamhappyXD commented on #14219
Hi @U8NWXD, can you assign me to this core.storage.skill.gae_models_test ?

[2022-02-25 06:59] IamhappyXD commented on #14033
Hi @vojtechjelinek @sajalasati I would like to work on this issue, can you assign me 3 files?

[2022-02-25 07:07] krishita30j opened #15018 "Copy text in translation mode"

[2022-02-25 07:07] #15018 closed, assigned to nobody

[2022-02-25 12:10] vojtechjelinek commented on #14033
@IamhappyXD Done.

[2022-02-25 16:11] ayushjaink8 commented on #7450
@vojtechjelinek Can you please assign me this file:  exp_services_test.ZipFileExportUnitTests (all)

[2022-02-25 16:27] Kimbohlovette commented on #10474
It worked well sir, when I included the `select-skill-modal.component.ts` and `select-skill-modal.component.spec.ts` and executed the typescript strict check command, I saw errors

[2022-02-25 20:53] vojtechjelinek commented on #7450
@ayushjaink8 Sure.

[2022-02-25 20:57] vojtechjelinek commented on #13956
@YBCS Hey, can you please finish up this PR?

[2022-02-25 23:28] winnie368c commented on #14033
@vojtechjelinek Hi, I just had questions about two errors:
I tried using type ignore for lines 307, 310, and 311 because mypy does not recognize that `key` is a string, but it's not resolving the errors:
![Screen Shot 2022-02-25 at 1 39 36 PM](https://user-images.githubusercontent.com/85202273/155815577-9dd087a6-4146-4aa7-9f4f-3bf55837c308.png)
(the TypedDict:)
![Screen Shot 2022-02-25 at 3 23 54

[2022-02-25 23:29] U8NWXD commented on #14219
Done @IamhappyXD

[2022-02-26 07:46] mridul-netizen opened #15023 "Incorrect Open thread count at Feedback Tab"
**Describe the bug**
The count for number of open threads at feedback tab while creating an exploration seems incorrect

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/create/37bETBn801Se#/feedback
 2. Observe the count

The code for specific `span` tag on feedback tab icon is
https://github.com/oppia/oppia/blob/741cc401ec375d4bd148dd547a718db7bcdb7499/

[2022-02-26 08:04] mridul-netizen opened #15024 "Clicking on submit feedback button reloads the page"
**Describe the bug**
Clicking on submit feedback button reloads the page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/T45rvHu8D8pV
 2. Click on feedback button
 3. the page reloads

**Observed behavior**

https://user-images.githubusercontent.com/60519303/155835537-deefdc75-1f90-4481-83a8-2d6c6b97c59b.mp4

[2022-02-26 08:17] mridul-netizen commented on #15023
Seems like the correct count is only visible to author of respective exploration -- not sure if this is expected behaviour?
For instance the count here seems correct
![image](https://user-images.githubusercontent.com/60519303/155835834-3bd9ee8a-6090-426b-b678-95c37a663660.png)

[2022-02-26 10:25] mdsahiloss commented on #15024
@mridul-netizen I'd like to work on it

[2022-02-26 10:34] mdsahiloss commented on #15023
@mridul-netizen I'd like to work on it, if possible so assign it to me

[2022-02-26 13:10] JeeveshGarg commented on #15005
@seanlip PR is raised, you can take a look.

Topic prerequisite skill checking is now working and topics are published.
Also solve, why 1st/initial chapter is showing odd behaviour.

PTAL.

[2022-02-26 17:21] vojtechjelinek commented on #14033
You're adding `ignore[no-untyped-call]` but you need to add `ignore[misc]`

[2022-02-26 21:11] rohitkatlaa opened #15029 "Error in topic page rendering"
**Describe the bug**
- [ ] The user interface for the topic page is not rendered correctly in the test server(https://www.oppiatestserver.org/).
- [x] In the mobile browser, the text from the topic description is hidden behind the top navbar.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learn/math/fractions/story
 2. Switch between the various tabs l

[2022-02-26 21:13] rohitkatlaa commented on #15029
@oppia/lace-team Can you please take a look at this issue. I am able to confirm that this is a regression in the oppia test server.

[2022-02-27 04:32] JeeveshGarg commented on #14419
@AyushJ7 are you still working on data_types ?? please give updates..
Thanks.

[2022-02-27 04:34] JeeveshGarg commented on #14419
@ParmeetChawla25 are you still working??

[2022-02-27 06:39] rohitkatlaa commented on #15024
@oppia/lace-team please take a look into this issue. I have confirmed that this is a regression.

[2022-02-27 07:57] Nik-09 opened #15031 "Not able to provide feedback in exp."
**Describe the bug**
Not able to provide feedback in exp.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [link](https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE?topic_url_fragment=fractions&classroom_url_fragment=math&story_url_fragment=piece-of-cake&node_id=node_1)
 2. Click on feedback icon (top right)
 3. The page will reload instead of asking for feedback

**Observed behavior

[2022-02-27 08:23] soumyo123-prog commented on #13822
@lkbhitesh07 @EricZLou Can I be assigned `Story description should have at most 1000 characters`?

[2022-02-27 08:58] SD-13 commented on #14033
@vojtechjelinek , @sajalasati  please assign me three files of your choice. Thanks

[2022-02-27 09:04] SD-13 commented on #13341
Hey @hardikkat24 , It seems like @nbaddam is not working on those files so, Can I take them? Thank you

[2022-02-27 09:58] rohitkatlaa commented on #15031
Duplicate issue. #15024

[2022-02-27 09:58] #15031 closed, assigned to nobody

[2022-02-27 10:27] Mohitbalwani26 commented on #7450
@vojtechjelinek can you assign me `build_test.py`? Also i have raised a PR for the same.

[2022-02-27 13:01] vojtechjelinek commented on #13595
This should be fixed.

[2022-02-27 13:01] #13595 closed, assigned to nobody

[2022-02-27 13:01] vojtechjelinek commented on #13628
This is done already.

[2022-02-27 13:01] #13628 closed, assigned to nobody

[2022-02-27 13:01] vojtechjelinek commented on #13602
This is done already.

[2022-02-27 13:01] #13602 closed, assigned to sajalasati, hardikkat24

[2022-02-27 13:05] vojtechjelinek commented on #13594
This is already being done in #14537

[2022-02-27 13:05] #13594 closed, assigned to nobody

[2022-02-27 13:06] #13090 closed, assigned to hardikkat24

[2022-02-27 13:07] vojtechjelinek commented on #12520
Seems to be fixed.

[2022-02-27 13:07] #12520 closed, assigned to aishwary023

[2022-02-27 14:22] vojtechjelinek commented on #14033
@SD-13 Done.

[2022-02-27 14:23] vojtechjelinek commented on #7450
@Mohitbalwani26 Done.

[2022-02-27 15:14] lkbhitesh07 commented on #13822
Sure @soumyo123-prog, Done

[2022-02-27 15:17] kumarvermaankit commented on #8016
@DubeySandeep @mridul-netizen Please assign me the  core/templates/pages/collection-editor-page/editor-tab/collection-node-creator.directive.ts file. Thanks

[2022-02-27 15:27] sahiljoster32 commented on #13822
@lkbhitesh07 can i take this issue `Exploration tags should be a list of at most 10 non-empty strings without duplicates, where each tag has max length of 30.` ?

[2022-02-27 19:37] Kimbohlovette commented on #10474
Hello @vojtechjelinek  I included the path to files `select-skill-modal.component.ts` and `select-skill-modal.component.spec.ts` and would like to create a pull request. Please can you assign me to those files?

[2022-02-27 20:14] gopivaibhav commented on #14033
@vojtechjelinek @sajalasati Can You please assign me `core/domain/image_services.py`?
Thank you

[2022-02-27 20:36] jordyparker commented on #7450
@vojtechjelinek is there any other file i can work on ? if yes, pls assign me to it

[2022-02-27 20:37] Darsuu commented on #14033
@vojtechjelinek  @sajalasati  please assign me ```core/domain/playthrough_issue_registry.py``` ,```core/domain/platform_parameter_list_test.py```,```core/domain/platform_parameter_registry.py```

[2022-02-27 21:40] jordyparker commented on #8423
@kevinlee12 i would like to work on this linter `Add check for newline above Args, Raises and Returns.`

[2022-02-27 23:55] winnie368c commented on #14033
I see, thank you! For the second error (line 241), I'm not sure why mypy got `Dict[str, object]` because the `ExplorationStatsDict` types seem to match up with the `to_dict` types. I thought it might be related to the state stats mapping field but I got the same error even after commenting out `state_stats_mapping` in both the TypedDict and method (so just for a dictionary of strs and ints). Any i

[2022-02-28 01:43] lkbhitesh07 commented on #13822
Done @sahiljoster32

[2022-02-28 03:24] kevinlee12 commented on #8423
@DubeySandeep heads up on the request above. ^

[2022-02-28 03:53] rohitkatlaa commented on #15023
@krishita30j @Rijuta-s Can you take a look into the issue and assign accordingly. Thanks.

[2022-02-28 03:53] rohitkatlaa commented on #15024
@krishita30j @Rijuta-s Can you take a look into the issue and assign accordingly. Thanks.

[2022-02-28 03:53] rohitkatlaa commented on #15029
@krishita30j @Rijuta-s Can you take a look into the issue and assign accordingly. Thanks.

[2022-02-28 04:02] paprajapati9 commented on #14829
@aks681 Are we also moving the common css written in oppia.css file to individual components in respect to 2nd part of the issue?

[2022-02-28 09:10] chiragbaid7 commented on #13822
Hi @lkbhitesh07 , can you assign me some starter file?

[2022-02-28 10:15] vojtechjelinek opened #15037 "After merging skills some questions cannot be deleted."
After merging skills with some questions in the skill that is being merged into some other skill, there is a lot of different errors.
After clicking the unlink button this error is shown:
![image](https://user-images.githubusercontent.com/10142938/155965075-e01c147b-525e-46ee-a6ac-bee59234f775.png)

When the skill editor is refreshed while on the question tab this error is shown:
![image](https://

[2022-02-28 11:08] vojtechjelinek commented on #14033
@gopivaibhav @Darsuu Done.

[2022-02-28 11:12] vojtechjelinek commented on #14033
You might need to explicitly state the type for some of the dicts

[2022-02-28 11:13] vojtechjelinek commented on #10474
@Kimbohlovette Done.

[2022-02-28 12:34] Rijuta-s commented on #14428
@paprajapati9 is this issue fixed? ( I am not able to reproduce on test server any more) If it is fixed can you please close this issue after mentioning the corresponding PR

[2022-02-28 12:39] Rijuta-s commented on #14855
@anuragc10 We do not prefer adding or deleting styles from oppia.css. Can you please try adding the styles in corresponding `.css` file or in the html file itself inside the `<style>` tag?

[2022-02-28 12:42] #14998 closed, assigned to paprajapati9

[2022-02-28 12:44] soumyo123-prog commented on #13822
@lkbhitesh07 Please assign me `Story thumbnail should have background color of #F8BF74, #D68F78, #8EBBB6, or #B3D8F1`.

[2022-02-28 13:27] Rijuta-s commented on #14394
@gno-lit Can you please confirm if the issue still persists?

[2022-02-28 13:30] ghost commented on #14394
Hi, for some reason I missed the last email. I'd check and revert back.
Best,
Nmeso

On Mon, 28 Feb 2022, 2:28 pm Rijuta Singh, ***@***.***> wrote:

[2022-02-28 13:32] Rijuta-s commented on #14708
@soumyo123-prog Is this issue fixed by #14915? Can we close it?

[2022-02-28 13:39] Rijuta-s commented on #14815
Deassigning @yogitasaini. @yogitasaini  can you please fill up the contributor CLA and follow all the steps of [getting involved](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) .
@sahiljoster32  @paprajapati9 can you please make sure that the issues are assigned to contributors who already have completed the local set up and filled the CLA?

[2022-02-28 13:50] sahiljoster32 commented on #14815
Yeah sure!!, Thanks @Rijuta-s

[2022-02-28 14:36] paprajapati9 commented on #14428
@Rijuta-s this has been fixed in #14375.

[2022-02-28 14:36] #14428 closed, assigned to aks681

[2022-02-28 16:57] Mohitbalwani26 commented on #14219
hey @U8NWXD, can you assign me `core.domain.question_fetchers_test`?

[2022-02-28 19:25] anuragc10 commented on #14855
fixed learning View breaking-  #15041
Please check.

[2022-02-28 20:39] jordyparker commented on #12912
@vojtechjelinek pls assign me to an available item

[2022-02-28 20:58] jordyparker commented on #14033
@vojtechjelinek @sajalasati can i be assign to `core/domain/email_services.py` ?

[2022-02-28 22:00] vojtechjelinek commented on #12912
@jordyparker Nothing is available here.

[2022-02-28 22:03] vojtechjelinek commented on #14033
@jordyparker Done.

[2022-03-01 00:33] winnie368c commented on #14033
Thanks for the reply! How/where can I explicitly state the type for the dicts?

[2022-03-01 01:51] lkbhitesh07 commented on #13822
Done @chiragbaid7 and @soumyo123-prog.

[2022-03-01 03:31] chiragbaid7 commented on #13822
Hi @lkbhitesh07 @EricZLou , can you assign me some starter file?

[2022-03-01 03:36] lkbhitesh07 commented on #13822
Hey @chiragbaid7, I have assigned you "Story notes should have at most 5000 characters. " You can confirm by checking the `claimed checks` list above.
Thanks

[2022-03-01 03:38] chiragbaid7 commented on #13822
Thanks @lkbhitesh07

[2022-03-01 06:02] jordyparker commented on #14033
@vojtechjelinek Do you have any idea how to fix this error?
![Screenshot from 2022-03-01 07-00-35](https://user-images.githubusercontent.com/48652493/156113936-8ac55886-9aec-4477-a893-92f90d6b6354.png)

[2022-03-01 08:11] soumyo123-prog commented on #14708
No, I think we cannot close this yet. Actually, I was not able to reproduce the issue. So, this PR just logs a variable to track if this issue occurs again.

[2022-03-01 10:26] vojtechjelinek commented on #14033
@jordyparker You will have to add `from core.platform.email import dev_mode_email_services as email_services` to _mypy_imports.py_ then also add `'email_services'` into the `__all__` in the same file.

Then in _email_services.py_ you will have to add and modify:

[code]

[2022-03-01 11:01] kevintab95 commented on #13548
Hi @nithinrdy, looking at the comments, it seems like the scenario you have tested matches the one in the comment. So it may actually be fixed. Thanks for checking!

[2022-03-01 12:27] jordyparker commented on #14033
Thank you

[2022-03-01 19:01] jimbyo commented on #12481
@sagangwee Is there still any interest in implementing this feature?

If there is, do we want contributors to be able to edit both questions and translation suggestions?

[2022-03-01 23:20] sagangwee commented on #12481
@jimbyo Yup!

And yes, we should allow editing both types of suggestions.

[2022-03-01 23:30] jimbyo commented on #14368
[code]

It looks like there is a problem with the `oppia-rte-output-display`, the textToTranslate is updating properly, but something is causing unicode and untagged html to not get deleted.

Edit 1* Looks like the issue is that html without `<p>` tags won't get deleted, having some trouble finding where in the code the deletion occurs.

[2022-03-02 02:17] winnie368c commented on #14033
Hi @vojtechjelinek, I'm now working on the test file and I was just getting two types of errors I was having trouble fixing:

1) The imports are not working correctly and I'm not sure how to fix them. I saw `stats_models` was already imported in `mypy_imports.py` so I tried adding the `MYPY = False` block like the comments above but I got the error `Type[Registry] has no attribute "import_stats_mo

[2022-03-02 09:10] nithinrdy commented on #13548
Hey! I didn't realize this was assigned to me (I must've missed it/forgotten), really sorry about that.

Great! Unfortunately, I'm really busy at the moment. I will be de-assigning myself, just so anyone else who wishes to pick this issue up may go ahead and do so.

I'll re-assign myself as soon as I'm free, should the issue remain open with no linked PR.

Thanks for confirming this!

[2022-03-02 11:59] vojtechjelinek commented on #14033
The first screenshot you posted is probably incorrect.

For the second one, you will need to introduce `TypedDict` for the `action_dict`.

[2022-03-02 12:17] Rijuta-s commented on #14427
@pallavimantri As I am not able to reproduce it, can you please recheck if this issue still persists?

[2022-03-02 12:19] #13010 closed, assigned to Lawful2002

[2022-03-02 12:29] Rijuta-s commented on #14394
Thanks @gno-lit .

[2022-03-02 13:51] Lawful2002 opened #15058 "Clicking on lessons in navbar redirects to classroom page, instead of the lesson page"
**Describe the bug**
Clicking on lessons in navbar  (learn dropdown) redirects to classroom page, instead of the lesson page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [oppiatestserver.org](oppiatestserver.org)
 2. Hover on `Learn` dropdown
 3. Click on a lesson (Fractions for example)
 4. See error

**Observed behavior**
User is redirected to the classroom page

**Expected behav

[2022-03-02 14:31] #14921 closed, assigned to IamEzio

[2022-03-02 18:49] winnie368c commented on #14033
Thank you! Sorry about that, here is the correct screenshot for the first error:
![Screen Shot 2022-03-01 at 6 03 43 PM](https://user-images.githubusercontent.com/85202273/156428359-7d35c0d2-b2f2-4ace-b59f-3055563308d3.png)

[2022-03-02 19:56] gopivaibhav commented on #14033
Hey @vojtechjelinek I have opened a PR #15032 three days ago which is not being reviewed by anyone. Can you PTAL at this PR and review?
Thank you

[2022-03-02 22:35] jordyparker commented on #14033
@vojtechjelinek pls assign me two more files of your choice

[2022-03-03 00:52] vojtechjelinek commented on #14033
Please also include a screenshot of the imports.

[2022-03-03 00:53] vojtechjelinek commented on #14033
@jordyparker Done.

[2022-03-03 01:32] winnie368c commented on #14033
Sure, here are `mypy_imports.py` and `stats_domain_test.py`; lines 35-39 are what I added in `stats_domain_test.py` and line 41 was already there.

![Screen Shot 2022-03-02 at 5 27 20 PM](https://user-images.githubusercontent.com/85202273/156478729-4cfe3d1f-e9c1-40aa-8b59-5336c45fe7b0.png)
![Screen Shot 2022-03-02 at 5 27 05 PM](https://user-images.githubusercontent.com/85202273/156479123-b86f5de6