[2021-03-22 03:29] hardikkat24 commented on #11776
@Nisarg-Chaudhari I have assigned you.

[2021-03-22 05:46] lkbhitesh07 commented on #12232
Any update @chris7716?
Thanks

[2021-03-22 06:29] MohdImran001 commented on #12190
@gp201, I tried this, it was breaking when starting redis servers because `contextlib2 ` was not installed. After I installed `contextlib2 ` using pip, redis server started working fine but it is again breaking when `starting server on port 9200`. Also the command `python -m scripts.start --no_browser` is taking too long to start. it takes about 20-30 minutes to run the `start.py` script.

[2021-03-22 06:40] lkbhitesh07 commented on #11776
@hardikkat24, Will you please assign me `oppia.core.controllers : PART 4`?
Thanks
Also, I have one question, l was looking at the `skill_editor.py` file and now I want to know the type of `Args`.
[code]
Now for this function, if I want to know that where `SkillDataHandler.get()` is being used in the frontend so that I can check the type of the `Args` by `console.log()`. I'm confused on how to figu

[2021-03-22 07:07] ReshuKumari commented on #12178
Hi @vojtechjelinek raised a PR for fix.

[2021-03-22 07:15] sajalasati commented on #11776
Hello @hardikkat24! A few tasks for you related to this issue:
1. Acc to the lint check in #8423, we wanted all sections - `Args`, `Returns` and `Raises` to be present in the doc string if possible. But the issue description and title currently lacks `Raises` section and hence it should be updated (contrary to your [comment](https://github.com/oppia/oppia/issues/8423#issuecomment-765176333), I thi

[2021-03-22 07:46] sajalasati commented on #11776
Hello @hardikkat24! A few tasks for you related to this issue:

I think we had a [discussion](https://github.com/oppia/oppia/issues/8423#issuecomment-765340327) earlier whether to enforce this lint check on test files or not, but it remained incomplete then. We need to be sure about that so ensure all files fixed in a PR and properly fixed at once.

Would you be able to create a small PR so that w

[2021-03-22 07:53] sajalasati commented on #11776
@lkbhitesh07 Assigned you!

You can look at how the parameters are being used further in the backend only (like look into the model using it). You need not look into frontend files for that.

Same answer, either look for the usage of that argument further, or see where that function was called in the test file.

[2021-03-22 08:09] lkbhitesh07 commented on #11776
Thanks, @sajalasati.

[2021-03-22 08:10] sajalasati commented on #11776
@aasiffaizal @KartikKapil @Siddhant-K-code Since you have made your PRs, I will review them soon, and let you know if additional changes are required.

@Nisarg-Chaudhari @lkbhitesh07 Since you have not made a PR yet, I would suggest you to work on a different issue, as we realised about some of the requirements later, and it would hard (and time taking) to do a proper review and get it merged. Un-

[2021-03-22 08:11] lkbhitesh07 commented on #11776
No problem at all @sajalasati, thanks for the updates.

[2021-03-22 08:13] gp201 commented on #12190
@MohdImran001 Sorry for not being clear, Could you try using this print stmt?
https://github.com/oppia/oppia/blob/8d39eb9a2f1f1443c1b7af06e6cc43c00cafa218/scripts/start.py#L163

[2021-03-22 08:32] nisargsc commented on #11776
@sajalasati No problem, Thanks for updating.

[2021-03-22 09:41] hardikkat24 commented on #11776
@sajalasati I would love to do this. But I am currently working on my GSoC proposal and have 2 issues assigned. So sorry for this.

[2021-03-22 10:42] NamanJain1902 commented on #11776
@sajalasati Could I work on controllers PART-2?

[2021-03-22 11:18] sajalasati commented on #11776
@nj1902 Sorry the issue description is a bit incomplete currently and I am not assigning anyone until it is complete. Could you please pick some other issue meanwhile? Thanks!

[2021-03-22 11:24] NamanJain1902 commented on #11776
@sajalasati No problem, Thanks for updating.

[2021-03-22 13:43] MohdImran001 commented on #12190
Hey @gp201 and @EricZLou , Thank you for your help. Finally the development server started successfully. I can access the website on `localhost:8181`. To make it work, I had to downgrade my WSL 2 to WSL 1 and then I started the elastic search server on a separate terminal using this command `./oppia_tools/elasticsearch-7.10.1/bin/elasticsearch` .

Everything is working except for this page `http:/

[2021-03-22 17:15] U8NWXD commented on #4057
@LakmaNeha done!

[2021-03-22 18:05] sagangwee commented on #12266
@kevintab95 This seems like an issue with the question editor?

[2021-03-22 18:07] sagangwee commented on #12221
@vojtechjelinek We should be able to fix this by the May release cut.

[2021-03-22 18:23] iamprayush commented on #12266
I can take this up. Although, a thing to note is that we will have to introduce a new validation for the drag and drop interaction which will require an audit job to ensure that no existing lessons violate the new validation.
Also, since this doesn't hinder any functionality, should this be a blocking bug, @vojtechjelinek?

[2021-03-22 18:32] sjkadali commented on #8472
@U8NWXD , @srijanreddy98 could you please assign me 'suggestion-modal-for-creator-view.service.ts' ? Thanks!

[2021-03-22 19:54] vojtechjelinek commented on #12266
@iamprayush Yeah, after looking at the description more I don't think this should be blocking.

[2021-03-22 19:56] vojtechjelinek commented on #12221
@sagangwee Since this is a blocking bug would it be possible to fix this in few days and include it in this release?

[2021-03-22 20:20] kevintab95 commented on #12270
I am unable to reproduce this.

Specs:
OS: Ubuntu 20.04.2 LTS
Version 89.0.4389.90 (Official Build) (64-bit)
Tabs open: 10

https://user-images.githubusercontent.com/11008603/112053086-eab58380-8b79-11eb-8c2f-5c4e506bd16f.mp4

Note: Audio is not present in the recording but I was able to playback the audio that I recorded.

[2021-03-22 20:24] kevintab95 commented on #12270
Hi @Preethi9194, few questions:
1. Did you use a dedicated mic for recording or did you use the built-in mic on the device?
2. Are you able to record Audio in other web applications?
3. How many tabs were open when this happened? Are you able to reproduce this with fewer tabs?

[2021-03-22 20:27] vojtechjelinek commented on #12270
Confirming that recording works on the test server for me

[2021-03-22 20:28] kevintab95 commented on #12269
Duplicate of an old issue. See workaround: https://github.com/oppia/oppia/issues/6349#issuecomment-792254194

@vojtechjelinek should we still consider this blocking?

[2021-03-22 20:30] vojtechjelinek commented on #12269
Hmm, I think it is fine to remove this from blocking but we should prioritize fixing #6349.

[2021-03-22 20:41] Preethi9194 commented on #12270
Hi,

1. Yes I did see a dedicated mic and I used that mic to record. I clicked
on it and then after giving out the voice, I clicked on the stop recording
button. The voice was not recorded when I tried playing it.

Since I had another device with me that is the chrome book. I checked it on
that device and it worked.

2. Yes I was able to record in other web applications

3. Only oppia application

[2021-03-22 20:50] kevintab95 commented on #12269
Yup, it is being tracked in the LaCE team project tracker. @iamprayush, can we bump up the priority for #6349?

Also, I just tried this out on the test server but wasn't able to reproduce this.

Here's a GIF of what I tried:
![not-reproable-scroll](https://user-images.githubusercontent.com/11008603/112056701-5568be00-8b7e-11eb-807c-b7f99ef806f1.gif)

[2021-03-22 20:55] kevintab95 commented on #12270
Thanks @Preethi9194! On what OS did you initially try this and find that the voice did not get recorded? Are you able to reproduce this consistently with the same setup (same device + mic)?

[2021-03-22 20:59] vojtechjelinek commented on #12269
@kevintab95 Feel free to close this if you want.

[2021-03-22 21:08] kevintab95 commented on #12265
Hi sorry for the late reply. I think this issue might require some mocks before someone can take it up. The proposed approach and design / mock should be confirmed and accepted by myself or @aks681 on this thread before starting work on it.

Also, @mukeshmjn for new contributors, we suggest following all the steps mentioned [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#sett

[2021-03-22 21:11] kevintab95 commented on #12269
Closing per discussion above. Thanks!

[2021-03-22 21:11] #12269 closed, assigned to kevintab95

[2021-03-22 22:59] kevintab95 commented on #12224
Update: On investigation, I found that the edit flow for the skill difficulties does not exist i.e. changes to skill difficulties do not persist. I am working on a fix.

[2021-03-22 23:12] brianrodri opened #12297 "PlatformFeatureService.saveResults() needs a new source for session IDs"
**TL;DR:** The GAE-specific `SACSID` and `dev_appserver_login` HTTP session cookies are deprecated. Consequently, [`PlatformFeatureService.saveResults()`](https://github.com/oppia/oppia/blob/50f54920f9d5864fdd8f8b43cc69afbcd87cc4ef/core/templates/services/platform-feature.service.ts#L186-L199) must find a new source for session IDs.

---

Currently, `PlatformFeatureService` uses GAE-specific cooki

[2021-03-23 00:28] BenHenning commented on #12297
@brianrodri I think making the cookies tied to a specific user would be fine. The purpose of this caching check is to ensure that the platform parameters are reloaded when logging into a new user.

Would it be easy to hook into the new Firebase cookies? If not, I think disabling the tests to unblock any blocking PRs would be fine, but we shouldn't leave this broken for long.

[2021-03-23 01:32] U8NWXD commented on #8472
@sjkadali done

[2021-03-23 02:13] brianrodri commented on #12297
@BenHenning Unfortunately not, session cookies are unique per-user _and_ per-session, so the same cookie value would not apply. I'm going to opt to disable the test and leave behind TODOs to find an alternative.

Out of curiosity, why wouldn't user ID work?

[2021-03-23 03:32] EricZLou commented on #12190
Great to hear you got the devserver working @MohdImran001!!

Looks like you've run into some connection bug that pops up every now and then for Windows developers. If a page doesn't load (like the library page), just try refreshing it and see if it loads correctly the 2nd time. In the meantime, I'll file a bug report for this and see if we can find anything.

[2021-03-23 03:45] EricZLou opened #12299 "Windows development - connection fails sometimes with `urllib3` error on page load"
**Describe the bug**
In Windows development, pages sometimes randomly fail to load in the frontend and produce `urllib3` errors in the backend.

**To Reproduce**
Steps to reproduce the behavior (if you get lucky, you'll run into the bug):
 1. Run the start script
 2. Navigate to `localhost:8181`
 3. Click "LIBRARY"
 4. See error (if you're lucky)

**Observed behavior**
Orange error is raised in th

[2021-03-23 06:16] aasiffaizal commented on #10306
@vojtechjelinek @arpit1912 @kevintab95 Id like to take up `core/templates/domain/question/question-backend-api.service.ts` and the files related to it. Please do assign it to my name
Thanks

[2021-03-23 09:40] nisargsc commented on #10474
@vojtechjelinek I would like to work on `NumericInputRulesService` can you please assign it to me. Thanks

[2021-03-23 10:32] SAEb-ai commented on #12299
@EricZLou PTAL (#12108) . I think this error has also been reproduced on CircleCI.

[2021-03-23 10:47] MohdImran001 commented on #10700
Hey @srijanreddy98, I would like to work on `LostChangeObjectFactory.ts`.

[2021-03-23 10:56] MohdImran001 commented on #12299
Hey @SAEb-ai, did you find any solutions for this issue? I think we can try increasing the request time-out value when initializing Elastic Search. Could you please tell me where the Elastic Search is getting initialized in the codebase?

[2021-03-23 11:11] SAEb-ai commented on #12299
@MohdImran001 No, not till now.

[2021-03-23 12:10] Nik-09 opened #12304 "No alert for invalid username roles card of settings tab."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to settings tab of create exploratrion (login as manager)
 2. Click on edit button on roles card
 3. Add unknown username to the roles card
 4. Alert for unknown username is not coming.

**Observed behavior**
 Alert message "Sorry, we could not find the specified user.

[2021-03-23 12:11] DubeySandeep commented on #12304
Thanks for reporting the issue @Nik-09

I suspect this to be a regression issue introduced in #11974

[2021-03-23 13:24] SAEb-ai commented on #11816
@oswalgopal Can you take up this issue?

[2021-03-23 13:52] sjkadali commented on #8472
@U8NWXD thanks!

[2021-03-23 15:28] rijusougata13 commented on #12254
@oswalgopal  are you working on this ?

[2021-03-23 15:47] lkbhitesh07 commented on #10700
Hey @srijanreddy98, I think the `ThreadMessageSummary` file is already been migrated, will you please take a look and remove it from the `Unclaimed` section.
Thanks

[2021-03-23 15:47] U8NWXD opened #12306 "Splash Page Not Accessible"
The splash page uses header tags incorrectly. For example, consider this section:

![image2](https://user-images.githubusercontent.com/19878639/112174365-bc14c880-8bcc-11eb-8e5d-c63bf30ef3f6.png)

![image5](https://user-images.githubusercontent.com/19878639/112174394-c20aa980-8bcc-11eb-9caa-3e45c3d8fff9.png)

The major heading is `For Volunteers`, and the minor heading is `Run By the Community`. H

[2021-03-23 15:50] #12304 closed, assigned to nobody

[2021-03-23 20:10] vojtechjelinek commented on #12224
@kevintab95 Any estimated date for this fix?

[2021-03-23 20:21] ARKEOLOGIST commented on #12306
I can have a look at this @U8NWXD .

[2021-03-23 20:36] sagangwee opened #12310 "[Contributor Dashboard] Increase height of review modals."
See https://github.com/oppia/oppia/issues/12238#issuecomment-800760387 for more details.

[2021-03-23 21:04] kevintab95 commented on #12224
Hi @vojtechjelinek I should be able to raise a PR by 24th EOD.

[2021-03-23 21:40] tushar2407 commented on #8038
Hi @DubeySandeep can you assign me csrf-token.service.ts?

[2021-03-23 21:43] kevintab95 commented on #10306
# Important notes

1. The description for this issue has been updated.
2. This issue is no longer considered a "Good first issue".
3. This issue can be claimed by only one person and they need to ensure that this pattern (async / ..Async) is introduced across the codebase in their PR.
4. The following PRs need to be resolve / completed before taking up this issue: https://github.com/oppia/oppia/pu

[2021-03-23 21:57] vojtechjelinek commented on #10474
@Nisarg-Chaudhari Done.

[2021-03-23 22:04] vojtechjelinek commented on #12206
@Radesh-kumar Any update on your progress?

[2021-03-23 22:12] DubeySandeep commented on #12276
Hi @sagangwee, I think we had found some issue with suggestions and found we were not able to represent suggestions corresponding to deleted topics. The deletion of the topic is very rare but we should handle deleting suggestions for such situations. Note: A topic can have multiple stories, the story can have multiple explorations, so finding all suggestions corresponding to the topic can be diffi

[2021-03-23 22:53] BenHenning commented on #12297
How would we handle this for non logged in users? @brianrodri

[2021-03-23 22:54] BenHenning commented on #12297
Also, can we hide the platform parameter interface with a todo on the issue to reenable?

[2021-03-23 22:58] brianrodri commented on #12297
It doesn't seem like this worked for non logged users to begin with though, since a session only seems to correspond to an individual user, right? I'm not really familiar enough with the code or its intention to advise on a fix, I just know that we can no longer rely on SACSID or dev_appserver_login.

[2021-03-23 23:29] atpug22 opened #12311 "Firebase emulator can not communicate between Windows browser and Virtualbox server"
**Describe the bug**
I am not able to login while running the server on Virtualbox and using the windows browser with the help of --disable_host_checking flag.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run the server on virtual box using --disable_host_checking flag
 2. Now open the server on windows browser
 3. Try to login
 4. See error

**Screenshots**
![Screenshot (14)](https://us

[2021-03-24 03:05] oswalgopal commented on #12254
yes @rijusougata13 I had fixed it just giving a PR for it

[2021-03-24 04:55] ARKEOLOGIST commented on #12310
Would you mind if I work on this @sagangwee

[2021-03-24 10:04] Naman-1234 commented on #12227
@vojtechjelinek and @kevintab95, Sir I would like to work on this issue. Could you please assign me. Thanks.

[2021-03-24 10:22] Radesh-kumar opened #12316 "Flake in CkEditorCopyToolbarComponent (FE test)"
**Describe the bug**
Front End Test flake in the following spec
`CkEditor copy toolbar should toggle copy mode correctly`

**To Reproduce**
I've been trying to reproduce this flake it occurred only once so far.
Try brute-forcing  Karma tests in "core/templates/components/ck-editor-helpers/ck-editor-copy-toolbar/ck-editor-copy-toolbar.component.spec.ts".

**Observed behavior**
While I was pushing o

[2021-03-24 12:02] #12252 closed, assigned to ARKEOLOGIST

[2021-03-24 12:14] vojtechjelinek commented on #12227
@kevintab95 Could you please check that this is just a content issue and not something caused by us?

[2021-03-24 12:15] vojtechjelinek commented on #12227
@Gupta-Anubhav12 @Naman-1234 We firstly need to investigate this ourselves, please pick any issue with the 'good first issue' label if you want to work on something at Oppia.

[2021-03-24 12:21] Naman-1234 commented on #12227
@vojtechjelinek Ok Sir No problem.

[2021-03-24 13:16] #12260 closed, assigned to ARKEOLOGIST

[2021-03-24 13:48] ARKEOLOGIST commented on #12316
@SAEb-ai You want to take a look at this?

[2021-03-24 14:59] #12253 closed, assigned to ARKEOLOGIST

[2021-03-24 15:44] Naman-1234 commented on #10474
@vojtechjelinek Sir I would like to work on <strong>LearnerParamsService</strong>. Could you please assign me that. Thanks.

[2021-03-24 15:47] Radesh-kumar commented on #12206
PTAL @vojtechjelinek https://github.com/oppia/oppia/pull/12056

[2021-03-24 17:30] #12178 closed, assigned to ReshuKumari

[2021-03-24 18:03] Garvnanwani commented on #10798
can i work on this file `core/tests/protractor_utils/ThanksPage.js`
@U8NWXD

[2021-03-24 18:07] vojtechjelinek commented on #12206
@Radesh-kumar It seems that there is still some work required on the PR, would it be possible to create a separate PR just for fixing this issue?

[2021-03-24 18:26] sajalasati commented on #12117
@DubeySandeep I audited all linter files, and updated the issue description with my analysis. I did not find any other files requiring refactoring. If my method of analysis looks good to you then I will close this issue now. Thanks!

[2021-03-24 18:30] Radesh-kumar commented on #12206
Sure!

[2021-03-24 19:44] kevintab95 commented on #12227
Confirming that this is a content issue. We currently auto resize to a max width of the card container (and have some restrictions on the max file size). I tried to use the same image (but in grayscale, to reduce the file size) and here's how it looks.

![image](https://user-images.githubusercontent.com/11008603/112373790-5da03500-8d07-11eb-949f-1c4244ee667d.png)

It does not look stretched. Closi

[2021-03-24 19:45] kevintab95 commented on #12227
Closing per the above comment.

[2021-03-24 19:45] #12227 closed, assigned to kevintab95

[2021-03-24 21:29] Naman-1234 commented on #10474
@vojtechjelinek  Sir I would like to work on <strong>baseInteractionValidationService</strong>, Could you please assign me. Thanks.

[2021-03-24 21:43] apurvbotle commented on #12265
Hi @kevintab95, a simple search would involve assigning a filter to an input, through which the user can query and select from the results. The mock would be as below.

https://user-images.githubusercontent.com/68392962/112385993-4f0d4a00-8d16-11eb-90c1-7ab230527e15.mp4

[2021-03-24 21:45] apurvbotle commented on #12265
Further, we could display all the selections in one place so that the users can review their selections before saving. The mock is as below.

https://user-images.githubusercontent.com/68392962/112387340-a52ebd00-8d17-11eb-880a-f7988efce04f.mp4

[2021-03-24 22:10] vojtechjelinek commented on #10474
@Naman-1234 Done.

[2021-03-24 23:07] #12028 closed, assigned to shubhamkorde

[2021-03-25 00:22] sagangwee opened #12322 "[Contributor Dashboard] Review modal subtitle misaligned with title"
The subtitle "Topic Name - Story Name - Chapter Title" is not aligned with the modal title.

See screenshot.
<img width="857" alt="Screen Shot 2021-03-24 at 8 19 51 PM" src="https://user-images.githubusercontent.com/9004726/112400265-3d4f8680-8cc5-11eb-9b0c-b844ea5a83f9.png">

Seen on test server (https://oppiatestserver.appspot.com/contributor-dashboard)

Seems related to changes made for https:/

[2021-03-25 00:47] sagangwee commented on #12276
@DubeySandeep Hmmm we should be rejecting corresponding suggestions via suggestion_services.auto_reject_translation_suggestions_for_exp_ids whenever a topic or story gets deleted.

Here, it looks like the opportunities corresponding to exploration `0FRoyN4eeK76` have been deleted (the exploration still exists).

Is it possible these opportunities were deleted manually at some point?

[2021-03-25 01:09] hffei opened #12323 "Help: tarfile.ReadError: file could not be opened successfully"
When I run "Python - M" scripts.start “
The system prompts "file" / usr / local / cell "/ python@2/2.7.17_ 1/Frameworks/ Python.framework/Versions/2 .7/lib/python2.7/ tarfile.py ", line 1680, in open
raise ReadError("file could not be opened successfully")“
I've looked for a lot of ways, but they haven't been solved. Please help me.

![image](https://user-images.githubusercontent.com/25144604/1124

[2021-03-25 06:19] sajalasati opened #12327 "Restructure Python linter class `DocstringParameterChecker` to enable existing docstring lint checks for all Classes"
Currently in `pylint_extensions.py` file, we don't enable **all** docstring lint checks for **all** the classes. The current implementation is a bit unintuitive, unstructured and misses some cases.

1. For classes with a [constructor method](https://github.com/oppia/oppia/blob/13ff3a60f6d940791466b108fe149b7a131140e2/scripts/linters/pylint_extensions.py#L581), we perform some of the lint checks -

[2021-03-25 13:17] lkbhitesh07 commented on #10700
Hello @srijanreddy98, I started my work with `PlaythroughIssue` and follow the guide provided. When I pushed it, 26 frontend tests got failed and by the error log, it's very difficult to understand what's making it fail.
I took a look in code and found that the `tsconfig.json` file is pointing errors at the open brace `{` so I hovered over it and got this.
![Screenshot from 2021-03-25 18-39-11](ht

[2021-03-25 13:52] prath-10 commented on #4057
@nithusha21 @U8NWXD ,please assign me autogenerated-audio-player.service.ts

[2021-03-25 13:57] prath-10 commented on #4057
Hey @U8NWXD ,@nithusha21 , Please assign me `E - N player-correctness-feedback-enabled.service.ts`

[2021-03-25 15:00] sagangwee commented on #12276
@vojtechjelinek Is there an event log of some sort to see if the opportunities mentioned in my above comment were deleted manually?

[2021-03-25 15:22] vojtechjelinek commented on #12270
@Preethi9194 could you respond to Kevin please?

[2021-03-25 15:25] vojtechjelinek commented on #12276
Not really, but in `delete_topic` there is this code https://github.com/oppia/oppia/blob/8101e716c927b0b263a9603e405d50a2420b695f/core/domain/topic_services.py#L746

[2021-03-25 17:12] Radesh-kumar opened #12332 "Add E2E test case for saving and removing an exploration in play later list."
Description:
Users can save explorations by clicking on the clock icon. ( in several pages like library page, search page etc...)
They can view saved explorations in play later section in the Learner-dashboard page.
They can remove exploration from play later in two ways.
Method 1: By clicking the X button which is placed at the topmost right corner of the exploration. (only in learner-dashboard p

[2021-03-25 17:14] U8NWXD commented on #10798
@Garvnanwani done! please let me know if you have any questions

[2021-03-25 18:04] Garvnanwani commented on #10798
Hey @U8NWXD, [](url) I looked into this file [https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/ThanksPage.js](https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/ThanksPage.js)
and I think there's nothing much to change in here

[2021-03-25 18:06] LakmaNeha commented on #4057
Hello,
I was going through already existing spec files to get started with my
issue and many of those files are showing these kind of errors. Can I know
why is it happening and is it fine??

On Thu, Mar 25, 2021, 7:27 PM Prathamesh Bagul ***@***.***>
wrote:

[2021-03-25 18:31] Garvnanwani commented on #10798
Hey @U8NWXD, I looked into this file https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/ThanksPage.js
and I think there's nothing much to change in here

[2021-03-25 20:14] LakmaNeha commented on #4057
Hello @U8NWXD , @nithusha21  @shubha1593
I was going through 'already existing spec files' to get started with my issue and many of those files are showing these kind of
errors. Can I know why is it happening and is it fine??

![Screenshot from 2021-03-26 01-24-02](https://user-images.githubusercontent.com/50057358/112537154-601c9080-8dd4-11eb-858c-c498469a07cd.png)

[2021-03-25 23:53] EeshaArif commented on #10474
@vojtechjelinek can you please assign me  `
 MathEquationInputRulesService`. I would like to work on it, thankyou

[2021-03-26 00:43] EeshaArif commented on #8472
@srijanreddy98 @vojtechjelinek I would like to work on  `state-tutorial-first-time.service.ts`. could you please assign this to me? Thankyou

[2021-03-26 01:45] U8NWXD commented on #10798
I agree! I'll mark it as done

[2021-03-26 01:49] U8NWXD commented on #4057
@LakmaNeha this looks like your editor isn't able to find the other components, services, etc. in the project. The code is fine, but this suggests that your editor's linter won't be very helpful. If you rely on your editor to catch lint errors and bugs, this might be a problem you want to fix. What editor are you using? I can try and find a developer using the same tool who can help you configure

[2021-03-26 02:04] kevintab95 opened #12334 "Image upload RTE component seems broken"
**Describe the bug**
Unable to upload an image in the exploration editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor.
 2. Upload an image.
 3. See error.

**Observed behavior**
Unable to upload an image in the exploration editor.

**Expected behavior**
Image upload should be uploaded as expected.

**Screenshots**
![image-component-broken](https://user-image

[2021-03-26 02:33] kevintab95 commented on #12334
PR #12128 that caused this regression has been identified and reverted per Oppia's [Revert and Regression policy](https://github.com/oppia/oppia/wiki/Revert-and-Regression-Policy). Closing.

[2021-03-26 02:33] #12334 closed, assigned to nobody

[2021-03-26 04:35] #12171 closed, assigned to ARKEOLOGIST

[2021-03-26 04:42] K-spence commented on #12171
Please unsubscribe me from anything and everything dealing with this
subject please is starting to make me angry

[2021-03-26 06:29] ashutoshc8101 opened #12336 "Backend wrongly validates image file sizes"
**Describe the bug**
When I upload a image in the profile picture, everything works fine.
But when I upload a image through exploration editor, backend responds with error saying file is larger than 100 KB for files with size less then 100 KB

This happens on **develop**

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Create exploration
 2. Click on insert image
 3. Select an image le

[2021-03-26 06:30] ashutoshc8101 commented on #12336
@seanlip @kevintab95 I found another issue with the backend while fixing the image uploader's reverted PR.
PTAL

[2021-03-26 06:58] rodemore commented on #8668
Could anyone please assign me in **assets-backend-api.service.ts**?
I want to make my first contribution to this community, and I would like to start with this.
Thanks!

[2021-03-26 08:17] LakmaNeha commented on #4057
@U8NWXD  I'm using VsCode.

[2021-03-26 13:00] #12224 closed, assigned to kevintab95

[2021-03-26 13:53] vojtechjelinek commented on #8472
@EeshaArif Done.

[2021-03-26 13:54] vojtechjelinek commented on #10474
@EeshaArif Done.

[2021-03-26 17:46] gp201 commented on #11584
@U8NWXD was the issue resolved?? since it looks like #11851 was closed.

[2021-03-26 17:56] kontesanjana commented on #8015
Hi @kevintab95. I would like to work on  core/templates/domain/question/pretest-question-backend-api.service.ts . Could you assign this to me?

[2021-03-26 20:59] Mayank-gaur commented on #8423
@sajalasati I was looking for an approach to solve the task ' Making sure constant variable names are in all-caps '. I scanned through many Js files, and I found out that const keyword can be present anywhere in the file, in the class, at the beginning of file, in a function, in conditionals(I think this is against the standard convention and there is an available eslint rule also, see https://esl

[2021-03-26 21:32] kevintab95 commented on #12336
Yup confirming that this is an issue. It happens because we don't do a filesize check after "drawing" the image onto the canvas. Sometimes the file size changes after this step and causes a backend error.
Thanks for reporting @ashutoshc8101!

[2021-03-26 22:04] vojtechjelinek commented on #12270
Removing from blocking bugs since it is not reproducible

[2021-03-26 22:05] vojtechjelinek commented on #12276
@sagangwee @DubeySandeep Any update here? How severe is this?

[2021-03-26 23:55] seanlip opened #12341 "SUPPORTED_CONTENT_LANGUAGES is out of sync with the dropdown at the top of the editor translation tab."
**Describe the bug**

Some languages in the editor translation tab result in a blank option being shown in the language dropdown at the top right of the learner view when playing an exploration. This occurs when the language that is selected is not in SUPPORTED_CONTENT_LANGUAGES. I found this when testing locally with Malay (which, for some reason, was not in SUPPORTED_CONTENT_LANGUAGES but was an

[2021-03-26 23:56] seanlip commented on #12341
/cc @DubeySandeep -- do you have suggestions on the correct way to go about addressing this?

[2021-03-27 06:47] ARKEOLOGIST commented on #12322
@sagangwee Can you have a look at #12328? This can help close this issue.

[2021-03-27 08:12] sajalasati opened #12349 "Python lint check to ensure proper formatting in function docstrings missing/not working."
Currently the Python lint check to ensure `Args`, `Returns` etc sections within method docstrings are properly formatted are not working or maybe they are missing, and we need to fix/implement it.

This bug was discovered [here](https://github.com/oppia/oppia/pull/12298#discussion_r602679580) first. I was also able to reproduce this error locally for `core/domain/user_services.py` file.

<img widt

[2021-03-27 09:27] #12306 closed, assigned to ARKEOLOGIST

[2021-03-27 10:03] Naman-1234 commented on #10816
Hi @Hudda  and @DubeySandeep, Sir Could you assign me now Please. I  have solved 2 good first issues(1 of which tests are compiling but failing here, Sir is finding out the reason behind that, but the issue is been targeted). Please assign me _check_constants_declaration. Thanks.

[2021-03-27 10:14] sajalasati commented on #8423
@Hudda @DubeySandeep PTAL!

[2021-03-27 12:47] Naman-1234 commented on #10816
Hi @Hudda and @DubeySandeep, Sir Could you assign me now Please. I have solved 2 good first issues(1 of which tests are compiling but failing here, Sir is finding out the reason behind that, but the issue is been targeted). Please assign me _check_ts_expect_error. Thanks

[2021-03-27 13:19] SAEb-ai commented on #12108
@seanlip Now I am getting this error log. Are the two error log same @seanlip?.
[code]

[2021-03-27 18:08] shubhamkorde commented on #8472
learner-answer-details-data.service.ts has been removed since it is no longer used. Here is the PR: [link](https://github.com/oppia/oppia/pull/11954) Please remove my assignment.

[2021-03-27 18:33] gp201 commented on #12219
@EricZLou This might actually be an issue.
https://github.com/oppia/oppia/pull/11690#issuecomment-808782256

Looks like if the parent node fails then the rest of the nodes will not run and will also not report the status.

The test finished 6 hours ago and the status remained "waiting for status to be reported."
![image](https://user-images.githubusercontent.com/30050862/112730681-ea8dfd00-8f58-11

[2021-03-27 18:43] darksun27 opened #12350 "Temporarily transfer codeownership of darksun27 for angular migration team."
Transfer codeowners from @darksun27  to @arpit1912  until 2021-04-10.

[2021-03-27 20:47] Mayank-gaur commented on #8423
@sajalasati I think my PR  [link](https://github.com/oppia/oppia/compare/develop...Mayank-gaur:Fix-part-of-%238423--Add-a-link-check-to-ensure-no-blank-lines-below-function-definition-)   is very close to getting merged. Untill that happens,can you please assign me to the task  'Add lint check to sure there's a space before the opening braces of a function start. '?

[2021-03-27 23:16] DubeySandeep commented on #12276
@sagangwee Nope, I think the corresponding topic must have been deleted.

[2021-03-28 04:19] U8NWXD commented on #4057
@LakmaNeha thanks! I'll reach out to some other developers to see if they can help you. I should get back to you in a couple days. Please remind me if I don't!

[2021-03-28 04:32] U8NWXD commented on #11584
#11851 was closed because it was made obsolete by other PRs. The permission errors should now be fixed

[2021-03-28 05:05] krishita30j commented on #11584
@U8NWXD, this error is not fixed. The same error still showing up in M1 macs.

[2021-03-28 11:36] LakmaNeha commented on #4057
@U8NWXD  Thanks.

[2021-03-28 16:41] #11333 closed, assigned to gp201

[2021-03-28 16:48] nlok5923 commented on #12350
@darksun27 i would like to work on this issue

[2021-03-28 17:10] DubeySandeep commented on #12341
I think we are using `SUPPORTED_CONTENT_LANGUAGES` to fetch language description for the given language code (instead of using `SUPPORTED_AUDIO_LANGUAGES`).

Note: `SUPPORTED_AUDIO_LANGUAGES` is the list of languages in which Oppia supports translation/voiceover. [Earlier we use to write translations just to help voice artist save the transcript in one place]

 Maybe we can do one of the following

[2021-03-28 19:17] vojtechjelinek commented on #12206
@Radesh-kumar There is still an issue with this, when you cancel the removal from 'Play Later' the clock icon is hidden, when you refresh the page it is still shown.

https://user-images.githubusercontent.com/10142938/112764904-e1f5ff00-900a-11eb-842a-ef4c20f30e6e.mp4

[2021-03-28 20:23] sajalasati commented on #8423
@Mayank-gaur Aren't you also working on fixing the issue `Making sure constant variable names are in all-caps` which I assigned you [earlier](https://github.com/oppia/oppia/issues/8423#issuecomment-800432029)? Kindly update us with your status on that. I see you had a question about that earlier, if it's still unresolved then @Hudda or @DubeySandeep kindly tell if you would be able to help him wit

[2021-03-28 20:39] Mayank-gaur commented on #8423
@sajalasati yes I am assigned to this task, and right now I am looking for that only, I am looking if a node exists which access variable declaration code. I can use this node to identify constant variables  and to do the task, but I havent done much progress yet. I am also  waiting for the guidance from @Hudda or @DubeySandeep , if they are aware of any such node or  how should I proceed with thi

[2021-03-28 20:41] Mayank-gaur commented on #8423
I think I can solve the task 'Add lint check to sure there's a space before the opening braces of a function start. ' quickly, that's why I requested you to assign me. Moreover I am just waiting for the review of mentors @aks681 , @BenHenning , @DubeySandeep and @sagangwee in my [PR](https://github.com/oppia/oppia/pull/11980), and I am not currently working on it as such, so I was thinking of work

[2021-03-28 21:04] seanlip commented on #12341
Thanks @DubeySandeep! I lean towards the first one, I think it's the most sensible way to go, and we can hide/show things in the translation tab based on the values there as well. Perhaps with slight changes to the boolean field names: "supports_translations", "supports_voiceovers".

The second one seems like it would be annoying to maintain due to the massive duplication between the lists. Plus,

[2021-03-29 03:21] U8NWXD commented on #11584
@krishita30j which error is not fixed? The `Error installing package` error or the permission errors?

[2021-03-29 05:18] krishita30j commented on #11584
@U8NWXD, the `AccessDenied` errors are resolved, but the `AssertionError: Lists differ` errors show up. Here are the logs:

<img width="1440" alt="Screenshot 2021-03-29 at 10 42 35 AM" src="https://user-images.githubusercontent.com/66058206/112790114-384f5600-907c-11eb-8e56-14d97347c0a6.png">

<img width="1440" alt="Screenshot 2021-03-29 at 10 47 13 AM" src="https://user-images.githubusercontent.c

[2021-03-29 07:11] seanlip commented on #12108
I don't think they're necessarily the same. I actually figured out how to reproduce the first error: run start.py, then grep for the elasticsearch process and kill it. That will cause the first error, but I don't know where the timeout error comes from I'm afraid. I wonder what happens when you visit localhost:9200 in a browser.

[2021-03-29 08:01] SAEb-ai commented on #12108
@seanlip I am following [this](https://github.com/oppia/oppia/issues/11868#issuecomment-779907677) process to start the server.Can my above problem be from that?

[2021-03-29 08:52] HarshKhilawala commented on #9749
@darksun27 @nithusha21 Please assign me `outcome-feedback-editor.directive.ts`.

[2021-03-29 09:08] pankajdahiya008 commented on #9749
@HarshKhilawala Actually I am working on outcome-feedback-editor.directive.ts.

[2021-03-29 10:01] SAEb-ai commented on #12108
@seanlip On applying the above process this was the log which I got in the terminal in which I started the elasticsearch.This happened when I migrated to localhost:8181/community-library.Elsewhere it was fine with no error log.
[code]

[2021-03-29 10:46] aasiffaizal commented on #10306
@kevintab95 #12302, #12291 and #12151 are merged. Can you please update the description? Thanks :)

[2021-03-29 10:49] aasiffaizal commented on #11776
@sajalasati @hardikkat24 My changes are merged #12287, can you update the description?

[2021-03-29 11:26] HarshKhilawala commented on #9749
Sure @pankajdahiyapd, I will find something else to work on. Thanks for informing!

[2021-03-29 14:34] Siddhant-K-code commented on #11776
Also, please review #12250

[2021-03-29 16:01] arpit1912 opened #12362 "Unable to push the code changes due to a missing dependency"
Describe the bug
descrepancies in the requirement.in and the library installed by the python script

**To Reproduce**
Steps to reproduce the behavior:
1. make a push to a branch in your local repo

Screenshots
![Screenshot from 2021-03-24 00-57-56](https://user-images.githubusercontent.com/46648172/112863805-dc64eb80-90d4-11eb-95e1-b42f18231938.png)

![Screenshot from 2021-03-27 10-30-26](https://

[2021-03-29 16:32] SAEb-ai commented on #12362
@arpit1912 @brianrodri @DubeySandeep .The same problem is happening with me too

[2021-03-29 16:44] DubeySandeep commented on #12362
I think https://github.com/oppia/oppia/pull/12315 is creating the issue, can you try reverting the changes and check? (If it works then I'll revert the PR quickly!)

[2021-03-29 17:01] kevintab95 commented on #11464
Closing since all the issues listed in the description have been fixed.

[2021-03-29 17:01] #11464 closed, assigned to nobody

[2021-03-29 17:03] kevintab95 commented on #1895
@Rijuta-s has this been fixed in your PRs?

[2021-03-29 17:18] Rijuta-s commented on #1895
@kevintab95  not yet. I will take this up and fix it when I raise the PR to enable autofocus on explorations.

[2021-03-29 17:18] nisargsc commented on #12362
@DubeySandeep It works!!

[2021-03-29 17:23] SAEb-ai commented on #12362
@DubeySandeep Yep on reverting the commit, the problem goes away.

[2021-03-29 17:23] DubeySandeep commented on #12362
Thanks for confirming! I've initiated a PR to revert the changes, I'll get it merged asap! Thanks :)

[2021-03-29 17:48] sagangwee commented on #12180
PR: https://github.com/oppia/oppia/pull/12339

[2021-03-29 17:58] sagangwee commented on #12310
@ARKEOLOGIST Ah, sorry for the late response! Yes, that'd be great. Thanks.

[2021-03-29 19:23] U8NWXD commented on #4057
@LakmaNeha the people I talked to said they see this occasionally, but it's intermittent for them. They didn't have a solution. If you want to get the VScode linter working, you could ask on oppia-dev to see if someone has a solution. Alternatively, you could ignore the VScode lint errors and run the linter manually instead with `scripts/linters/pre_commit_linter.py`

[2021-03-29 19:28] seanlip commented on #12108
I'm afraid I have no idea. Have you tried asking the Elasticsearch folks?

[2021-03-29 19:40] SAEb-ai commented on #12108
@seanlip Is this relevant to the context of our problem.PTAL.(https://github.com/elastic/elasticsearch-py/issues/1459)

[2021-03-29 19:50] seanlip commented on #12108
Probably not. We aren't running dataflow jobs yet.

I suggest you try to ask a question on the elasticsearch github channels (or similar) that explains your situation, since it seems like you might be the only one encountering the latest issue. It might be a problem with your local environment.

[2021-03-29 19:54] rodemore commented on #8423
Hello!, I would like to help by contributing with "Check to enforce use of Args, Returns and Raises in the docstring". Could someone assign it to me?

[2021-03-29 19:55] SAEb-ai commented on #12108
@seanlip I think that it has been pointed by Sangang earlier than me. See(https://github.com/oppia/oppia/issues/12074)

[2021-03-29 21:07] tanishq67 commented on #8423
@rodemore thank you very much for showing enthusiasm for that sub issue, as mentioned [there](https://github.com/oppia/oppia/issues/8423#issue-549324900), issue #11776 need to be completed first.

[2021-03-29 21:18] vojtechjelinek commented on #12206
@Radesh-kumar PTAL, this should be fixed before the next release cut.

[2021-03-29 21:18] vojtechjelinek commented on #12276
@sagangwee @DubeySandeep Any update here? This should be preferably fixed before the next release.

[2021-03-29 21:36] rodemore commented on #10474
Hello @vojtechjelinek . Could you assign me to **UtilsService**?

[2021-03-29 21:37] vojtechjelinek commented on #10474
@rodemore Done.

[2021-03-29 22:10] seanlip commented on #12108
Ah, I see. Makes sense, though the above comment still applies -- the fix probably needs to be pursued by someone who is running into that error, because it is likely to need some local debugging, and I cannot reproduce it.

This post may provide some useful advice: https://stackoverflow.com/questions/28287261/connection-timeout-with-elasticsearch . I'll comment it in that issue too, thanks for re

[2021-03-29 22:10] seanlip commented on #12074
Do any of these fixes work? https://stackoverflow.com/questions/28287261/connection-timeout-with-elasticsearch

[2021-03-29 22:24] sagangwee commented on #12074
@seanlip I've tried increasing the timeout before with no luck. I have yet to try https://stackoverflow.com/a/38300349 though.

[2021-03-30 00:55] seanlip commented on #12341
Just a note (per [this comment](https://github.com/oppia/oppia/pull/12342#discussion_r603706501)): we'll need two fields for descriptions -- one for the learner, and one for the voiceover artist / translator (the latter of whom can probably be assumed to know English, and the former who can't).

The learner-facing field should be e.g. "中文 (Chinese)" and the creator-facing field should be "Chinese"

[2021-03-30 01:25] rodemore commented on #10474
I am working on **UtilsService**. I tried adding the path of _utils.service.ts_ in _tsconfig-strict.json_ , and I solved all the errors shown in the strict-check.
![Screenshot from 2021-03-29 20-11-37](https://user-images.githubusercontent.com/46513107/112919301-783e2980-90cc-11eb-891e-aceede0ec5e5.png)

But adding the _utils.service.spec.ts_ path shows a lot of errors in the checks that file has.

[2021-03-30 06:18] Nik-09 opened #12369 "Simplify _assign_role method in rights_manager.py once collections are removed"
Currently reassigning users to a lower role i.e., from manager to editor or editor to voice artist is only possible in exploration.

But as per discussion in the [link](https://github.com/oppia/oppia/pull/12143/files#diff-b4d906fe44d8d3e4d5c166e79c2b446530db253ae3662bc139f1a52935265b69R773) , reassigning users with a lower role is allowed by help of a flag, so that it can also assign any lower rol

[2021-03-30 06:18] rodemore commented on #10474
@vojtechjelinek I have had some problems with the UtilsService .spec file.
Maybe I can change it for now, and you can assign me:
* DebouncerService
* ExplorationFeaturesService

I checked them and they are files I can handle fine for my first contribution.
Thanks!

[2021-03-30 06:30] DubeySandeep commented on #12369
@Nik-09 Please add a clear description to the issue!

[2021-03-30 07:37] Nik-09 commented on #12369
Done

[2021-03-30 11:11] vojtechjelinek commented on #10474
@rodemore Reassigned

[2021-03-30 12:28] SAEb-ai commented on #12108
@seanlip #12299. I found another similar issue.

[2021-03-30 12:49] Preethi9194 commented on #12270
Apologies for the late reply. OS is Windows 10. Browser - Chrome (89.0.4389.90)

[2021-03-30 13:18] U8NWXD opened #12372 "Assert Chrome Version in CI Checks"
**Is your feature request related to a problem? Please describe.**
This is a mitigation from the [Lighthouse failures postmortem](https://docs.google.com/document/d/1xHMMY4Xy2bcq6Urd7e1k3sk0RMl_Xu5TRycsJof9B58/edit#).

**Describe the solution you'd like**
Create a script to assert that the available version of Chrome matches what we expect. Then call this script in every CI check that uses Chrome.

[2021-03-30 13:23] U8NWXD opened #12374 "Assert Chrome Versions Not Old"
**Is your feature request related to a problem? Please describe.**
This is a mitigation from the [Lighthouse failures postmortem](https://docs.google.com/document/d/1xHMMY4Xy2bcq6Urd7e1k3sk0RMl_Xu5TRycsJof9B58/edit#).

**Describe the solution you'd like**
Create a script to be run by each release's QA coordinator. This script should check that the Chrome version used in CI is up-to-date (that ther

[2021-03-30 13:26] U8NWXD opened #12375 "Test Accessibility Features During Release Testing"
**Is your feature request related to a problem? Please describe.**
This is a mitigation from the [Lighthouse accessibility failures postmortem](https://docs.google.com/document/d/1xHMMY4Xy2bcq6Urd7e1k3sk0RMl_Xu5TRycsJof9B58/edit#).

**Describe the solution you'd like**
We should test accessibility features during release testing.

**Describe alternatives you've considered**
1. **Rely on automated

[2021-03-30 14:52] abhishekalbert commented on #10474
Hi @nishantwrp,
I want to contribute in this issue but before start can you tell me does all the names listed above have the default path of core/templates/pages/   or they can be anywhere in Oppia directory?

And also I tried to work on ExplorationDiffService but after running typescript checks it showing error in those files which I never touched below I added the screenshot also so can you tell

[2021-03-30 15:04] MohdImran001 commented on #9749
@nithusha21 and @darksun27. I would like to work on `html-select.directive.ts`.

[2021-03-30 16:52] sajalasati commented on #11776
Done!

[2021-03-30 16:53] sajalasati commented on #11776
@Siddhant-K-code Left a comment to resolve your query for fixing the lint errors. You need to make changes to fix those first before a review.

[2021-03-30 17:26] abhishekalbert commented on #10798
Hi @U8NWXD  Can you assign following files to me

core/tests/protractor_utils/workflow.js
 core/tests/protractor_utils/ExplorationEditorTranslationTab.js

[2021-03-30 17:32] iamprayush commented on #12266
Sorry, but I have some other more important issues that I'm currently working on so I'm unassigning myself for now and this issue is open to take up for anyone.
I'll take this up later if no one else does :)

[2021-03-30 18:12] seanlip commented on #11338
Note: may be related to #12079.

[2021-03-30 18:12] seanlip commented on #12079
Note: may be related to #11338

[2021-03-30 18:28] mia-tvu commented on #8423
Hello everyone, I am in the process of picking up two new starter issues. I would like to try the "Add lint check to ensure that all async functions' names end with "Async", and that all functions that end with "Async" are tagged as async." in the JS/TS category. I'd appreciate if anyone can suggest me how I should start doing this issue. Thank you!

[2021-03-30 18:45] SAEb-ai commented on #8472
@U8NWXD @srijanreddy98  Could you please assign me `collection-editor-state.service.ts` if it hasn't been claimed by anyone.Thanks!

[2021-03-30 19:42] U8NWXD commented on #11761
Deassigning @urvashi-code1255 due to inactivity. @urvashi-code1255 if you're still working on this, please let me know. I'm happy to reassign you!

[2021-03-30 20:22] EricZLou commented on #12024
Unassigning myself to focus on some other tasks, but this issue should be fixed in both the frontend and the backend.

In the frontend:
- When the user changes the interaction type for an interaction, raise a warning to the user that the previous answer history for that interaction may be deleted.
- When pulling previous answer history from the backend, filter the history to ensure that only answe

[2021-03-30 22:18] DubeySandeep commented on #11776
@sajalasati @hardikkat24, I don't think we need docstring for the test and setUp function in the _test.py file, can you please confirm and mention this very clearly in the issue description?

[2021-03-30 23:01] #12372 closed, assigned to U8NWXD

[2021-03-31 01:23] U8NWXD commented on #11584
@krishita30j since this looks like a new error, could you open an issue for it? You can assign it to @DubeySandeep, who leads the developer experience team

[2021-03-31 01:26] U8NWXD commented on #10798
@abhishekalbert I've assigned assigned you! Note that while we normally only assign people to one task at a time, I think it's fine in this case to assign you to both since you already have a PR open for one of them

[2021-03-31 01:26] U8NWXD commented on #8472
@SAEb-ai  done

[2021-03-31 02:11] EricZLou opened #12378 "Exploration images not rendering inside embedded RTE components"
**Describe the bug**
In an exploration, images that are inside tabs and collapsibles do not load correctly. This is a broader issue of escaping and unescaping strings.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create exploration
 2. Click "insert tab" (next to the "insert video" button)
 3. Add some tabs and place an image in a tab
 4. Publish the exploration
 5. View the published ex

[2021-03-31 02:16] krishita30j commented on #11584
@U8NWXD, yeah sure!

[2021-03-31 04:59] krishita30j opened #12379 "AssertionError: Lists differ while running backend tests macOS with M1 chipset."
While running the backend tests on macOS with M1 chipset, the `AssertionError: List differ` error shows up. Here is the error log:

<img width="1440" alt="112790114-384f5600-907c-11eb-8e56-14d97347c0a6" src="https://user-images.githubusercontent.com/66058206/113092551-d3c30100-920b-11eb-94aa-d8c496db059b.png">
<img width="1440" alt="112790124-43a28180-907c-11eb-9d86-63ebd30ee610" src="https://user

[2021-03-31 05:29] ARKEOLOGIST commented on #11903
@vojtechjelinek Sorry for the delay, the PR I have raised should fix this.

[2021-03-31 06:22] EricZLou commented on #12378
@kevintab95 @aks681 @iamprayush

I may be missing some background design info, but the cause of this issue is that we escape HTML strings for exploration content multiple times. But when un-escaping the strings, we only un-escape once (at least for the case of Tabs), leading to awkward strings -- search the codebase for `&amp;quot;`.

When converting an HTML string `"` to an escaped version, we ca

[2021-03-31 06:52] EricZLou opened #12380 "Exploration statistics pie chart does not show up until page re-size"
**Describe the bug**
In the statistics tab in the exploration editor, a pie chart should show up that has the lesson completion rate. However, it doesn't show up on page load. It only shows up when the window is resized. The same bug applies to pie charts that should show up in a card statistic.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `https://oppiatestserver.appspot.com/creat

[2021-03-31 08:46] kevintab95 opened #12381 "Topic managers are able to access and edit input fields in topics that they are not assigned to"
**Describe the bug**
Topic managers are able to access and edit input fields in topics that they are not assigned to.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as admin with admin role.
 2. Create few topics T1, T2.
 3. Assign User A as a topic manager for topic T1.
 4. Login as User A and access topic T2.
 5. Try to edit input fields in the topic editor for T2.
 6. Observe that

[2021-03-31 09:22] seanlip opened #12382 "Cannot view contributor dashboard users with SUBMIT_QUESTION role"
**Describe the bug**

In the admin dashboard, trying to view contributor dashboard users with the SUBMIT_QUESTION role in the roles tab throws an error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the /admin page.
 2. Click on the Roles tab.
 3. Scroll down to "View Contributor Dashboard Users", select "By Role", select the SUBMIT_QUESTION role, and click "View Role"

**Observed b

[2021-03-31 09:23] seanlip commented on #12382
HI @sagangwee -- ran into this earlier today. Could you please triage? It is somewhat important because sometimes we need to see the full list of people who can submit questions, and we don't have a way to do that otherwise.

Thanks!

[2021-03-31 09:25] kevintab95 opened #12383 "InvalidInputExceptions from /removecontributionrightshandler handler should not result in a Stackdriver error"
Currently, if a user does not have contribution rights for X and the admin tries to remove the contribution rights X, it results in a stackdriver error. We want to handle this error gracefully in the frontend (i.e. show red error text in the frontend and disable the button, similar to what we do in the signup form if the user enters an existing username) and not log it on stackdriver.

[2021-03-31 11:33] vojtechjelinek commented on #10474
Anywhere.

You can pick any of the files listed and fix error only in that file, the strict checks work in a way that all the files that are imported in the file need to be fixed before the file.

[2021-03-31 16:05] Radesh-kumar opened #12385 "CODEOWNER_IMPORTANT_PATHS shifted from pre_commit_linter.py to codeowner_linter.py"
**Describe the bug**
Path of error message is wrong

**To Reproduce**
Steps to reproduce the behavior:
 1. Modify a file in critical section

![Screenshot from 2021-03-31 21-34-15](https://user-images.githubusercontent.com/54100702/113175310-ec153900-9268-11eb-8810-b0a38dc54b2d.png)

**Observed behavior**
Observed Error message:
![Screenshot from 2021-03-31 21-04-00](https://user-images.githubuser

[2021-03-31 16:13] Radesh-kumar opened #12386 "Toast Messages Should Work in Angular components"
**Is your feature request related to a problem? Please describe.**
Currently, toast message are working only in angular js directives.
They are not working in migrated angular components.
**Describe the solution you'd like**
As alerts.service.ts is already migrated, Migrating the `warnings-and-alerts.directive` and `alert-message.directive.ts` will fix this issue.

[2021-03-31 16:49] #12336 closed, assigned to kevintab95

[2021-03-31 20:39] rodemore commented on #10474
@vojtechjelinek
**DebouncerService** was already currently typed, and the paths were included in _tsconfig-strict.json_ without errors. So I didn't have to do anything with that service. For that reason in the PR #12388 I just added types and fixed errors for **ExplorationFeaturesService**.

[2021-03-31 21:01] sagangwee commented on #11904
This issue seems to be appearing again when submitting translation suggestions with images:

![image](https://user-images.githubusercontent.com/9004726/113210724-67ef9100-9229-11eb-88a7-a931612404f5.png)

Translation review modal after submission:

![image](https://user-images.githubusercontent.com/9004726/113210866-966d6c00-9229-11eb-8dfb-1ba4ce7def64.png)

[2021-03-31 21:18] sagangwee commented on #11904
Stack trace from server logs:

[code]

[2021-03-31 21:38] sagangwee commented on #11904
@kevintab95 @vojtechjelinek What is the format for images in explorations? The stack trace notes an image for an exploration with ID 6Q6IyIDkjpYC, but I don't see an image with this ID under http://storage.googleapis.com/oppiaserver-resources/. Also is http://storage.googleapis.com/oppiaserver-resources/ the correct URL prefix for these images?

Relevant code: https://github.com/oppia/oppia/blame/

[2021-03-31 21:40] kevintab95 commented on #11904
Hi @sagang, for explorations it is "`https://storage.googleapis.com/oppiaserver-resources/exploration/<explorationId>/assets/image/<filename>`".

[2021-03-31 21:48] Radesh-kumar opened #12389 "Lint checks should catch 'xdescribe' and 'xit'"
**Describe the bug**
Currently, lint checks looks only for `fdescriibe` and `fit`.
It should also catch and throw an error message in case of `xdescribe` and `xit`.
This is critical because I've managed to **bypass pre-commit lint checks** using this method.
This will cause unnecessary difficulties in the development life cycle.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any one o

[2021-03-31 21:50] Mayank-gaur commented on #11496
Hi @U8NWXD , I am working on the subtask 'Making sure constant variable names are in all-caps ' of issue #8423. I created a js file and wrote my rule code in it, and a spec.js file in which I wrote my tests. My test code is like this: 'const a = 5'. When I ran 'python -m scripts.run_custom_eslint_tests' to check my linter against my test cases, I got an error 'A fatal parsing error occurred: Parsi

[2021-03-31 21:52] Radesh-kumar commented on #12389
PTAL @U8NWXD @seanlip

[2021-03-31 21:58] seanlip commented on #12389
Thanks! Seems reasonable to me to fix this, though I defer to @U8NWXD for the decision.

[2021-03-31 22:11] sagangwee commented on #11904
I see the image exists using the above format, so the image URL must be being constructed incorrectly somehow when the suggestion is created. Odd that this occurs sporadically though.

[2021-03-31 22:31] sagangwee commented on #12074
Tried the above with no dice. Are you able to run the activity successfully?

[2021-03-31 22:38] seanlip commented on #12074
Yeah, sorry -- no issues on my end, I can't reproduce.
![Screenshot from 2021-03-31 15-37-37](https://user-images.githubusercontent.com/10575562/113219863-10f0b880-9237-11eb-81e1-3b52dd8cd16b.png)

[2021-03-31 22:38] seanlip commented on #12074
Think it's worth asking the elasticsearch-py folks? https://github.com/elastic/elasticsearch-py

[2021-04-01 00:32] sagangwee commented on #11904
I don't have bandwidth to debug this further this week, but I'm not sure how in this case we get into the loop at https://github.com/oppia/oppia/blame/develop/core/controllers/suggestion.py#L117, as there shouldn't be any "new" image filenames—the images should be copied. I was again not able to reproduce this issue locally.

[2021-04-01 00:35] sagangwee commented on #12276
We won't be able to get to this until the next release. Although not ideal, for now we will rely on the annotated message to communicate to the reviewer that the opportunity was deleted (and so nothing can be done about it). Plus, I'd imagine the case where the original opportunity is deleted is much rarer on the prod server than on the test server.

[2021-04-01 00:38] U8NWXD commented on #12389
I think this makes sense to implement. @Hudda @DubeySandeep can we add this to #8423?

[2021-04-01 00:45] U8NWXD commented on #11496
@Mayank-gaur I think this should be added below line 117 since I think you'll be able to fix all the lint failures your rule introduces. The `e2e-action` rule is listed separately because it can't be applied everywhere until #10798 is finished.

Regarding your parsing error, I haven't seen that before. @Hudda might be able to help more--they have more experience with the linter. You might try test

[2021-04-01 01:01] sagangwee commented on #12074
Yeah probably.

For later debugging: I've also seen this error when increasing the timeout:

[code]

I've also tried setting `network.host: 'localhost'` and `http.port: 9200` in opensource/oppia_tools/elasticsearch-7.10.1/config/elasticsearch.yml

I do see JSON config for Elastic Search when I navigate to http://localhost:9200/.

I've also tried reinstalling:
[code]

[2021-04-01 01:10] seanlip commented on #12074
Ah thanks @sagangwee. Do you see any logs locally? They might tell you the error. See https://www.elastic.co/guide/en/elasticsearch/reference/current/logging.html for info about how to view your local logs.

E.g. in https://discuss.elastic.co/t/transporterror-503-cluster-block-exception-blocked-by-service-unavailable-2-no-master/232247/6 it turns out the dev had run out of disk space but this was

[2021-04-01 02:07] rodemore commented on #8423
Hello @Hudda,  could you assign me to _Add lint check to ensure that functions with "testOnly" in their names are only called from "spec" files_ ?

[2021-04-01 02:41] DubeySandeep commented on #12389
@Radesh-kumar, Thanks for reporting, we will soon add a check for this!

@AdityaDubey0, as discussed before on this, can you please create a PR to add a check (in eslint)? (I've assigned you to this issue)

[2021-04-01 04:22] Radesh-kumar commented on #12389
PTAL @DubeySandeep @AdityaDubey0 I've already opened a PR

[2021-04-01 04:57] hardikkat24 commented on #11776
@DubeySandeep Done!

[2021-04-01 09:36] Mayank-gaur commented on #11496
Thanks @U8NWXD. I have one more query please guide me. I added my rules in 'opensource/oppia/scripts/linters/custom_eslint_checks/rules' directory, still when I am adding it to eslintrc file, should  I add it as 'oppia/rule-name : "error"' or should I use the full path 'opensource/oppia/scripts/linters/custom_eslint_checks/rules/rule-name' ?

[2021-04-01 11:49] lkbhitesh07 commented on #12223
Hi @ARKEOLOGIST, I got to know that there is some missing code in `skill-editor-page.component.html` file.
I added
[code]
but the file is taking it as simple text and printing it as it is.

Also to display the list of errors or warnings I added
[code]
Can you help me figure it out, please?
Thanks
cc @aks681 @kevintab95

[2021-04-01 12:50] vojtechjelinek commented on #9636
@sagangwee Why exactly is this required? I don't understand why we cannot keep translations suggestions for explorations, when the story is deleted, explorations are independent, right?

I'm working rn on a refactor of the `delete_story` method and it is a bit troublesome to implement this, since we want to have our deletion methods to be as idempotent as possible and since the exp IDs are inside

[2021-04-01 13:08] sajalasati commented on #8423
Hi @esmevu and @rodemore! Sorry for the delayed response.

One question - have you worked on writing lint checks before? Over time this issue became a bit advanced version of a good-first-issue for some of the recent tasks (realizing from recent PRs), so you might have to spend little extra time in this if you don't have prior experience. Though you can find all the helpful resources in the issue

[2021-04-01 13:12] sajalasati commented on #8423
@Mayank-gaur Sorry for the delay. Assigned you to this task now!

@Mayank-gaur Also for this query, you can try out your approach and if you are confident it works correctly you can create a PR for it. @Hudda has been unavailable due to some reason recently, maybe he can directly review your PR when he's back after a few days. Leaving upto you whether you want to create a PR or not till then.

[2021-04-01 15:11] Mayank-gaur commented on #8423
Thanks @sajalasati . And about my approach on constant in caps task, I have changed it and used an Estree node 'VariableDeclaratiom' to solve the problem. I created a js file and wrote my rule code in it, and a spec.js file in which I wrote my tests. My test code is like this: 'const a = 5'. When I ran 'python -m scripts.run_custom_eslint_tests' to check my linter against my test cases, I got an e

[2021-04-01 15:31] rodemore commented on #8423
Yep, I don't have enough experience writing lints, but I would like to try :,)

[2021-04-01 18:37] nisargsc commented on #4057
@shubha1593 @nithusha21 @arpit1912 I would like to work on `M - Y collection-node.model.ts` Can you please assign it to me? Thanks.

[2021-04-01 18:37] SAEb-ai commented on #8472
@U8NWXD I think that `collection-editor-state.service.ts` has already been migrated. Sorry for asking it before seeing the file. Can you please assign me some other file which hasn't been migrated ( I am asking this way because I think that the unclaimed files history hasn't been updtated properly PTAL).

[2021-04-01 18:42] sajalasati commented on #10064
@seanlip Is there an update on the status of this issue, can we still reproduce this error? I think the solution is to install `configparser` as mentioned by @nishantwrp [above](https://github.com/oppia/oppia/issues/10064#issuecomment-687222309) or by @nithusha21 [here](https://github.com/oppia/oppia/issues/10852#issuecomment-738874646) in #10852? Was any script modified in our codebase to fix it

[2021-04-01 18:50] sagangwee commented on #9636
Well the translation suggestions are intended to exist in the context of a topic, specifically a curated classroom topic. So if the exploration is not linked to a valid classroom topic anymore, then we don't really need the translation. @DubeySandeep Any other thoughts here? [This doc](https://docs.google.com/document/d/1EbZhGTZ8VTyPOVLFBbyT0a1QknHbW2x2w-ELvf5kG_Y/edit) is the relevant work tracke

[2021-04-01 19:01] sajalasati commented on #7166
Hey @kevinlee12! What's the status of this issue currently? Your PR on htmllint repo has not yet merged. (Asking this on behalf of Linter Team to understand if this is something we should focus on, and on what priority)

[2021-04-01 19:03] sajalasati commented on #7008
Hi @ankita240796! Is there an update on this issue now? I am asking this on behalf of Linter team to understand if this is something we need to work on.

[2021-04-01 20:05] seanlip commented on #10064
I still see this error on my machine. I imagine that installing configparser manually would work, but I'm not going to do that, so that I can still be a "test case" for this issue. To properly fix it, I think that we should modify the setup/test scripts so that:

(a) the error message on failing to run a test is less obscure
(b) configparser is installed by a script if it isn't already. Manual act

[2021-04-01 21:50] jimbyo opened #12396 "[Contributor Dashboard] Translation opportunity disables go back button when using the skip button"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contributor dashboard
 2. Click on translation tab
 3. Skip first translation
 4. See error

**Observed behavior**
When using skip button to skip a translation opportunity, the go back button is still disabled

**Expected behavior**
Go back button should be enabled

[2021-04-01 22:06] mia-tvu commented on #8423
@sajalasati I don't have any prior experience with writing lint checks. Can you recommend any good first issue for me to start? Thank you!

[2021-04-01 23:03] #12322 closed, assigned to ARKEOLOGIST

[2021-04-02 00:13] kevintab95 opened #12399 "When a skill is deleted the corresponding references in the SkillReview RTE components need to be handled"
## Possible solution
A modal should pop up saying "Oops, it looks like this skill has been deleted. A message has been sent to the lesson creator." and we also add a message in that exploration's feedback tab (if one doesn't exist already) and email the creator.

[2021-04-02 01:22] seanlip commented on #11433
Update: I think there is value in keeping the SubtitledHtml and SubtitledUnicode domain objects. On further investigation of this, I found that the modelling was a bit wrong and that we should treat the data format separately from the rule object type. Fortunately, doing this is actually relatively simple, and I've just tested it and it seems to work. So, I'm going to close this issue since this r

[2021-04-02 01:22] #11433 closed, assigned to seanlip

[2021-04-02 01:27] sagangwee commented on #12396
When we fix this, I thin we probably also want to make sure the "next/skip" and go back buttons are next to each other.

[2021-04-02 01:27] kevintab95 opened #12400 "[Server Error] No component factory found for Qn. Did you add it to @NgModule.entryComponents?"
This error occurred recently in production

[code]

This happened in the contributor dashboard URL (https://www.oppia.org/contributor-dashboard).

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General ins

[2021-04-02 02:44] brianrodri commented on #11802
Obsolete since we no longer depend on firebaseui-web.

[2021-04-02 02:44] #11802 closed, assigned to brianrodri

[2021-04-02 02:46] brianrodri commented on #12362
Are you still facing this issue after #12366?

[2021-04-02 02:48] brianrodri commented on #12311
Unfortunately I haven't found a fix, and don't have the bandwidth to find one for a long while. For now, Oppia will not be usable outside of the Virtualbox.

[2021-04-02 04:04] U8NWXD commented on #11496
You should use `oppia/rule-name`, not the full path

[2021-04-02 04:46] CoHarsh commented on #10937
can tell more about this bug? and describe this more

[2021-04-02 06:27] DubeySandeep commented on #12389
@Radesh-kumar are you planning to write the checks in eslint?

[2021-04-02 07:23] sajalasati commented on #5218
@apb7 @kevinlee12 What is the status of this issue currently? Is there a follow up task related to implementing a linter check for the same?

[2021-04-02 07:30] sajalasati commented on #6236
Moved this task to #8423 (Python section) where we are tracking all the checks to be implemented. Closing this one.

[2021-04-02 07:30] #6236 closed, assigned to nobody

[2021-04-02 07:37] sajalasati commented on #8423
@rodemore Assigned you!

[2021-04-02 07:46] sajalasati commented on #8423
@esmevu You can look at the [good first issues](https://github.com/oppia/oppia/labels/good%20first%20issue) page to see more options!

[2021-04-02 07:57] VallariAg commented on #9749
@nithusha21 @darksun27 I am working on `components/score-ring/score-ring.directive.ts` and I need help in locally accessing the pages where the component is used.
I searched and it is used in practice-session-page and review-test-page, where the `question-player` directive (which uses score-ring) is used. Please help me access these pages locally.

[2021-04-02 08:02] sajalasati commented on #11088
@Hudda Can we move it to #8423 or #10616 for more visibility?

[2021-04-02 08:26] Mayank-gaur commented on #11496
Thanks @U8NWXD !

[2021-04-02 08:29] lkbhitesh07 commented on #6956
Hey @aks681, I was trying to reproduce it locally but I'm not able to do it. Will you please add steps to reproduce this issue? it will be very helpful.
Thanks

[2021-04-02 12:54] aasiffaizal commented on #12379
is it failing for only `common_test`? and which version of python are you using?

[2021-04-02 13:06] brianrodri commented on #11462
Need to re-implement the following e2e test: https://github.com/oppia/oppia/blob/7caa28c2c9a5b4229edc088f1ad69a9afb4da73a/core/tests/protractor/featureGatingFlow.js#L89-L107

/cc @BenHenning

[2021-04-02 14:07] aasiffaizal commented on #12379
@krishita30j It is not because of M1 chipset. As I can see that your process name is 'Python' and in the file `scripts/common_test.py` line number 921,
`proc_pattern = r'Process\((name=\'[a-z]+\', )?pid=%d\)' % (pid,)`
This supports only small characters.
@DubeySandeep @vojtechjelinek PTAL!
Shall I raise a fix by changing the regex to `r'Process\((name=\'[A-Za-z]+\', )?pid=%d\)` which supports cas

[2021-04-02 14:22] vojtechjelinek commented on #12379
Makes sense, please go ahead.

[2021-04-02 14:25] vojtechjelinek commented on #10049
Closing since this was run on production and currently there are no deprecated fields.

[2021-04-02 14:25] #10049 closed, assigned to vojtechjelinek

[2021-04-02 15:07] LakmaNeha commented on #4057
@U8NWXD  Thanks for helping me out.

[2021-04-02 15:32] SAEb-ai commented on #6240
@U8NWXD Is this still open?

[2021-04-02 15:46] arpit1912 commented on #4057
@Nisarg-Chaudhari  done!

[2021-04-02 16:53] DubeySandeep commented on #5218
We already have lint checks around testing the data inside that start tags and end tags. Closing this issue as we don't need this anymore! ([ref](https://github.com/oppia/oppia/blob/7caa28c2c9a5b4229edc088f1ad69a9afb4da73a/scripts/linters/html_linter.py#L62))

[2021-04-02 16:53] #5218 closed, assigned to nobody

[2021-04-02 17:01] DubeySandeep commented on #11088
I took a pass on #10616 and found this to be a duplicate issue! (Closing this as a duplicate issue)

[2021-04-02 17:01] #11088 closed, assigned to nobody

[2021-04-02 17:32] sajalasati commented on #10616
@vojtechjelinek Is this issue ready to start working on? Based on the description I understand that most of the checks are already implemented in eslint, and we only need to enable them, so do you think this becomes a good candidate for `good-first-issue` tag?

[2021-04-02 17:36] SAEb-ai commented on #12362
@brianrodri Now it's resolved.Thanks for fixing it.

[2021-04-02 17:49] EricZLou commented on #12223
Hey @lkbhitesh07, thanks for working on this! Use `story-editor-page.component.html` as a guide.

Since you've added `ng-mouseover` and `ng-mouseleave`, make sure you also added an `ng-if` for the `uib-dropdown-menu`. Also you don't need to add the `<li class="oppia-editor-warnings-text">...</li>` since it's already part of the existing code. Note that in `story-editor-page.component.html`, there

[2021-04-02 21:36] EeshaArif commented on #8472
@vojtechjelinek can you please reassign me `refresher-exploration-confirmation-modal.service.ts` since `state-tutorial-first-time.service.ts` has already been migrated. Thankyou!

[2021-04-03 01:03] EeshaArif commented on #10474
@vojtechjelinek can you please assign me `SetInputRulesService` and `SchemaFormSubmittedService`? They are present at topological level 0 in UpgradedServices.

[2021-04-03 01:14] U8NWXD commented on #11462
@brianrodri has the e2e test been re-implemented? If not, let's either create a new issue or leave this one open

[2021-04-03 01:19] U8NWXD commented on #6240
@SAEb-ai yes, but it's not a priority right now. We're focusing on flakes before we add more tests

[2021-04-03 01:25] U8NWXD commented on #8472
@SAEb-ai I've assigned you to `thread-data.service.ts`

[2021-04-03 01:25] U8NWXD commented on #8472
@srijanreddy98 can you check whether `collection-editor-state.service.ts` has been fully migrated SAEb-ai thinks?

[2021-04-03 01:27] brianrodri commented on #11462
@U8NWXD yup this issue should stay open, was accidentally closed by my latest PR. Thanks for flagging!

[2021-04-03 01:57] #12380 closed, assigned to nobody

[2021-04-03 09:01] lkbhitesh07 commented on #12223
Thanks, @EricZLou for the guidance. I made some progress here
![Screenshot from 2021-04-03 13-03-36](https://user-images.githubusercontent.com/44300735/113473591-fd885c00-9487-11eb-9e06-259d8597dae3.png)

Here `There should be review material in the concept card.` we got this. This means `getValidationIssues()` is getting triggered and here the value in the `issues` array is empty in file [SkillOb

[2021-04-03 10:13] sajalasati commented on #11496
@U8NWXD Checked the lint check `Do not use browser.sleep() calls` as its PR #12248 has been been merged around 13 days ago.

[2021-04-03 10:48] Radesh-kumar commented on #12389
@AdityaDubey0 I'm closing my PR since you have done significant progress.

[2021-04-03 12:21] YBCS opened #12422 "Unable to run backend test with --test-shard=x"
when I run `python -m scripts.run_backend_tests --test_shard=x` I get the following error

[code]

I have tried running all the files in the shard individually with the command
`python -m scripts.run_backend_tests --test_target=test_file_name`
and it is all passing

I have tried with `shard=7, shard=9, shard=1` and all show the same error

I am on Ubuntu 20.04 and I think I have the latest version

[2021-04-03 12:33] vojtechjelinek commented on #10616
@sajalasati Yes, although it needs bit better description (I don't have the bandwidth to do it rn) and some check might require some decision (like which style to use).

[2021-04-03 12:57] vojtechjelinek commented on #10474
@EeshaArif Done.

[2021-04-03 13:00] vojtechjelinek commented on #8472
@EeshaArif Done.

[2021-04-03 13:47] EeshaArif commented on #10474
@vojtechjelinek can I be assigned `StateEditorRefreshService`, `StateNameService` and `StoryNodeModel` please? Thankyou

[2021-04-03 14:34] MohdImran001 commented on #8016
@ankita240796,  I would like to work on `extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.directive.ts`. Can you assign it to me?

[2021-04-03 17:39] Mohitbalwani26 commented on #8423
@sajalasati can you assign me `Lint check to ensure 1) Exactly one newline precedes the declaration of a function, 2) Exactly two newlines precede the declaration of a class.`?

[2021-04-03 18:11] sajalasati commented on #10616
@vojtechjelinek Thanks for letting me know!

@Hudda Would you be able to change the issue description so that it's ready to be tagged with `good-first-issue` label? Asking you as a Linter team member, and also since you would have better idea here, and would understand what @vojtechjelinek is exactly suggesting. I think providing some idea about basic flow to solve this issue (with helpful links t

[2021-04-04 04:48] kevinlee12 commented on #7166
I'll defer to the dev workflow folks who are actively leading the effort, but it looks like my PR still needs to be merged over there.

[2021-04-04 08:02] seanlip opened #12425 "Solutions to drag-and-drop questions are showing up incorrectly on the contributor dashboard"
**Describe the bug**
The solution to a drag-and-drop question is showing up incorrectly on the contributor dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in as an admin, create a new topic, then create a new skill within that topic.
 2. As a user of the contributor dashboard, suggest a new drag-and-drop question for that topic.

**Observed behavior**
The solution to the drag

[2021-04-04 08:03] seanlip commented on #12425
/cc @sagangwee @kevintab95 Please triage. I think this might be release-blocking, but I am not sure if it is a problem with the contributor dashboard or the question editor.

[2021-04-04 09:41] krishnarao22 opened #12426 "RTE Toolbar issue during editing"
**Describe the bug**
For Rich-Text Editors, people have to wait for the RTE toolbar to show up before being able to type any text.

![Screen Shot 2021-04-04 at 1 36 24 PM](https://user-images.githubusercontent.com/52176783/113504710-df376480-954a-11eb-8255-49322913bcee.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Try adding content to the introduction card

[2021-04-04 15:40] EricZLou commented on #12223
Thanks @lkbhitesh07. This is a little sneaky, but if you zoom in really closely to the empty spot in the dropdown, you'll see that it says "Warnings" in white text that makes it really hard to read.

Can you try and see if it also shows up in this way in the other editors? Like the `topic-editor-page`? Or the `story-editor-page`? If it does, then try to find a common fix for all of the pages! If n

[2021-04-04 15:43] pranjal930 commented on #9749
@nithusha21 @darksun27 I would like to work on outcome-feedback-editor.directive.ts.

[2021-04-04 15:56] pankajdahiya008 commented on #9749
@pranjal930 Actually I am working on outcome-feedback-editor.directive.ts.

[2021-04-04 16:31] Radesh-kumar commented on #8472
@U8NWXD @SAEb-ai `collection-editor-state.service.ts` is already migrated.
You can pick some other file.

[2021-04-04 17:34] hardikkat24 opened #12427 "Errors in running e2e tests"
**Describe the bug**
A clear and concise description of what the bug is.
When I am running e2e tests on my local env, I am getting errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command `python -m scripts.run_e2e_tests --suite embedding`

**Observed behavior**
Errors in e2e tests

**Expected behavior**
It should run without errors.

**Screenshots**
![Screenshot from 2021-04-

[2021-04-04 17:35] hardikkat24 commented on #12427
@kevintab95 @chris7716 PTAL. Thanks!

[2021-04-04 18:18] auschoi commented on #7450
Hi, can I try working on `suggestion_services_test.SuggestionServicesUnitTests`? Thanks!

[2021-04-04 18:41] #12379 closed, assigned to DubeySandeep, aasiffaizal

[2021-04-04 20:14] vojtechjelinek commented on #10474
@EeshaArif Done.

[2021-04-04 20:21] Mayank-gaur commented on #8423
@Hudda , @DubeySandeep PTAL.

[2021-04-04 20:26] DubeySandeep commented on #8423
@Mayank-gaur Can you please write a small doc presenting your problems/solutions and share it here? (This will help us to help you better and understand your situation better!) [[ref](https://github.com/oppia/oppia/wiki/Guide-on-How-to-Ask-Questions#how-to-ask-a-general-question)]

[2021-04-04 20:53] Mayank-gaur commented on #8423
@Hudda , @DubeySandeep PTAL!

**Checklist**
- [ yes] I have filled the [CLA](https://goo.gl/forms/AttNH80OV0) and the [Oppia Contributor Survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3)
- [ yes] Setup Oppia locally (verified by running `python -m scripts.start`)
- [ yes] I have followed through "Before you ask a question" section

**System Information**
- OS: (Be specific Ex: Ubuntu 20.04)
- [Ubunt

[2021-04-04 21:43] gp201 commented on #12427
@hardikkat24 Can you run the test about 5 times. If it passes at least once then this might be a flake.

[2021-04-04 21:45] hardikkat24 commented on #12427
@gp201 Once it ran successfully but in the end there was an error. I was testing different suites.
![Screenshot from 2021-04-05 01-59-04](https://user-images.githubusercontent.com/54679643/113522326-2bbb8800-95bd-11eb-9ec8-93d53ab450d1.png)

[2021-04-05 04:46] abhishekalbert commented on #12427
@gp201 What about the mac because in mac just these few lines continuous

[code]
below I added the screenshot PTAL...

![Screenshot 2021-04-05 at 9 46 12 AM](https://user-images.githubusercontent.com/31933565/113537285-e5364f80-95f5-11eb-94f9-92abf343c17b.png)

![Screenshot 2021-04-05 at 10 15 07 AM](https://user-images.githubusercontent.com/31933565/113538080-f1231100-95f7-11eb-842c-7edbb2d9c2ab.

[2021-04-05 04:48] shubhamcodez commented on #8423
_Add a lint check to prevents usage of string concatenation, and promotes string interpolation instead. (This is a coding style guideline of the Oppia codebase - see 4th bullet point here) @tanishq67_

I would like to start working on this. @arpit1912

[2021-04-05 04:54] arpit1912 commented on #8423
@shubhamcodez , the given check is already assigned. Can you pick some other check to work on?

[2021-04-05 04:55] tanishq67 commented on #8423
Hello. @shubhamcodez I am already working on this and the PR for this is also up and soon will be merged.

[2021-04-05 04:57] tanishq67 commented on #8423
@sajalasati can you please update the description ` Use 3 character hexadecimal notation for color where possible.` issue's PR is  merged. Thanks!

[2021-04-05 05:10] shubhamcodez commented on #8423
Okay. Then, I could work on this. @arpit1912
Add lint check to ensure that all private functions/variables names start with _, and that all functions/variables that start with _ are tagged as private (in TypeScript).

[2021-04-05 05:13] arpit1912 commented on #8423
@shubhamcodez  done!

[2021-04-05 05:26] chrislun16 commented on #12378
Would the solution be to unescape the strings more times? Would this be achievable by a newcomer?

[2021-04-05 06:06] Radesh-kumar commented on #12386
My initial assumptions were wrong,
So there was issue in alerts.service itself
(It was not migrated correctly)
As we are running in hybrid mode(ang + ang js)
Every service which is migrated will be initialized two time(one for ang and one for angjs)
Cut to the chase,
the simple fix was to use static keyword
static keyword will make sure that both ang and angjs component/directives references the s

[2021-04-05 06:06] #12386 closed, assigned to nobody

[2021-04-05 06:32] HarshKhilawala commented on #9749
@nithusha21 @darksun27 I am taking up `score-ring.directive.ts` file !

[2021-04-05 06:56] EricZLou commented on #12378
Hey @chrislun16! You're right! The big idea is to escape the string twice. But it's a little more nuanced since only specific parts of the string should be escaped twice (the parts that include image tags). And even then, there are still some small issues.

I've been working on a short term fix to solve this issue. And a long term fix will be coming later!

[2021-04-05 06:58] EricZLou commented on #12378
@chrislun16 is this your first time contributing to Oppia? If so, welcome!

[2021-04-05 08:00] pranjal930 commented on #9749
@nithusha21 @darksun27 I would like to work on schema-based-bool-editor.directive.ts

[2021-04-05 16:09] vojtechjelinek opened #12434 "Release scripts changes"
- Remove the step that links the release credits form and asks the release coordinator to add any of the people form the form to the credits page.
- `get_extra_commits_in_new_release` should return a more readable error when the branch is not pushed to upstream.
- Remove the steps that use the 'Notes for upcoming release' doc, we want to get rid of that doc.
- The link to release schedule in wrap-

[2021-04-05 16:09] taiwo2 commented on #8668
I would love to work on this #12267 kindly assign it to me

[2021-04-05 16:17] taiwo2 commented on #9749
#11702 i would love to work on this, kindly assign it to me

[2021-04-05 16:24] vojtechjelinek opened #12435 "[BLOCKED by Python 3 migration] Add option to deploy with different instance class"
Sometimes we need to deploy with different instance class (usually `F4_G1`), this can lead to problems with the requirement that the last commit needs to be the one that changes changelog and authors (only when deploying to main server). We should provide an option to specify with which instance class we want to deploy.

Since we don't know how common will deploying with different instance class b

[2021-04-05 17:34] sajalasati commented on #8423
@Mayank-gaur Regarding your earlier [comment](https://github.com/oppia/oppia/issues/8423#issuecomment-813097699) - good that you tried to use the template, but I think what @DubeySandeep meant was writing a small google doc and share the link here. (doing follow ups, leaving comments, modifying your thoughts - all becomes easier there)

[2021-04-05 17:41] sajalasati commented on #8423
Thanks @tanishq67! Can you also leave a thumbs up to confirm once?

[2021-04-05 17:49] sajalasati commented on #8423
Hey @shubhamcodez! Glad to see you are interested. If you are a first time contributor or haven't worked with lint checks before, you might find this issue non-trivial as compared other issues, so let us know if you have any queries. We'll be happy to help! You can check out the resources and relevant information given in issue description to get started. Thanks!

[2021-04-05 19:06] ReshuKumari opened #12436 "Question editor accepts same "Oppia tells the learner.." message for correct and wrong answers"
**Describe the bug**
While creating a question in the skill, The question editor accepts the same message for learner for both correct and incorrect options.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill.
 2. Add a question and give same message for both correct and incorrect message.

**Observed behavior**
The editor accepts the same message for both correct and wrong "Opp

[2021-04-05 19:08] sajalasati commented on #7450
@auschoi Assigned you! Do check this thread once, you might find previous discussion about this task, that might help you! Thanks!

[2021-04-05 19:09] sajalasati commented on #7450
@kevinlee12 Are you still actively tracking this issue? If not we can drop the `talk-to: @kevinlee12` label.

[2021-04-05 21:49] Mayank-gaur commented on #8423
@sajalasati can you please provide the link to which I can share the query? Its not visible in your comment. Is it [github gist](https://gist.github.com/)?

[2021-04-05 22:03] #11581 closed, assigned to seanlip

[2021-04-06 00:23] brianrodri opened #12437 "Changes to Super-Admin privileges do not apply immediately"
**Describe the bug**
Changes to admin privileges do not apply immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. In a normal window:
    a. Create an account (email: a@a.com, username: a) and stay signed in.
2. In an incognito window:
    a. Create an account with email: testadmin@example.com.
    b. Go to the Admin page > Misc Tab
    c. Find the Grant super admin privileges to Fi

[2021-04-06 00:39] auschoi commented on #7450
@sajalasati In `suggestion_services_test.SuggestionServicesUnitTests` there is no `test_accept_suggestion_handled_suggestion_failure` or `test_reject_suggestion_handled_suggestion_failure`. They appear to have been removed last year.

Since I am left with only a single test, would I be able to try `test_kickoff_batch_job_after_previous_one_ends`  in `jobs_test.ContinuousComputationTests` as well?

[2021-04-06 03:39] kevinlee12 commented on #7450
I'm no longer actively contributing to this project; however, I'm happy to provide any historical context for when I was active. So to answer your question, no I'm no longer tracking this issue nor any issues within the project.

[2021-04-06 05:54] rodemore commented on #8423
Hello @sajalasati .
About the linter _Add lint check to ensure that all async functions' names end with "Async", and that all functions that end with "Async" are tagged as async._

I have found so far more than 10 cases in 3 different files where this rule is broken (It's easy to identify). For example it is broken in all async functions in the file
_core/templates/services/assets-backend-api.serv

[2021-04-06 06:01] seanlip commented on #8423
It might make sense to fix this first, or concurrently: https://github.com/oppia/oppia/issues/10306. Might want to discuss it with @kevintab95.

[2021-04-06 06:28] mridul-netizen opened #12443 "Svg doesn't loads at first on visiting the statistics tab"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2. Play any Exploration
 3. Visit the statistics tab

SVG doesn't load

https://user-images.githubusercontent.com/60519303/113668085-5eee3c00-96cf-11eb-81f3-a0e39bbc9e9b.mp4

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
Chrome, Fi

[2021-04-06 07:30] ARKEOLOGIST commented on #12396
@jimbyo I have sent in a PR for this, this should allow the 'Go Back' button to be rendered on skipping translations.

[2021-04-06 07:37] seonWKim commented on #11776
Can I try oppia.scripts : PART 1 ?

[2021-04-06 07:39] seanlip opened #12445 "Hints label is missing in question editor on the contributor dashboard"
**Describe the bug**
As a reviewer, I noticed that the "Hints" label is missing in the question editor on the contributor dashboard. This results in it not being clear what that section contains until the "Hint #1" box is expanded.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a classroom topic and a new skill, and assign that skill to the topic.
 2. Find that skill on the contribu

[2021-04-06 07:40] seanlip commented on #12445
@kevintab95 @sagangwee could you PTAL at this? I think it would probably be an easy fix, but I'm not sure whether it falls under "contributor dashboard" or "question editor".

Thanks!

[2021-04-06 09:09] mridul-netizen opened #12446 "Image with exceeding size gives some error on upload in Image Region Interaction"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2. Click on Create buton
 3. Add an interaction of Image Region
 4. Upload an image of greater file size see the error

**Observed behavior**
The file uploads but is not shown while playing the exploration
**Expected behavior**
The file should not upload and there should be some error message displayi

[2021-04-06 10:27] arpit1912 commented on #12362
Closing the issue as it is resolved now. Thanks @DubeySandeep  @brianrodri  for the help!

[2021-04-06 10:28] #12362 closed, assigned to arpit1912

[2021-04-06 11:35] div-yam commented on #9749
Hi Everyone! I was migrating continue-button.directive.ts directive to Angular Components, and the code is running fine.
But it is showing the following error on pushing the branch
`------------------------------------
Frontend Coverage Checks Not Passed.
------------------------------------
continue-button.component.ts seems to be fully covered! Before removing it manually from the denylist in th

[2021-04-06 11:37] div-yam commented on #9749
Hi Everyone! I was migrating continue-button.directive.ts directive to Angular Components, and the code is running fine.
But it is showing the following error on pushing the branch
[code]
It would be a great help, if you could help me in fixing this issue.
@nithusha21 @darksun27

[2021-04-06 11:52] Radesh-kumar commented on #9749
@div-yam As the log suggests you should remove the corresponding spec file ` continue-button.component.ts` from the `check_frontend_test_coverage.py` and then push your changes

[2021-04-06 12:12] Radesh-kumar commented on #9749
Hy @taiwo2 , I've already migrated `promo-bar-directive` https://github.com/oppia/oppia/pull/12110,
feel free to pick up another file.

[2021-04-06 12:18] Radesh-kumar commented on #9749
Hey @HarshKhilawala!, It seems @VallariAg already working on this issue.
please pick up another issue.

[2021-04-06 12:26] div-yam commented on #9749
Thank You, it worked! @Radesh-kumar

[2021-04-06 16:26] VallariAg commented on #9749
Hey @HarshKhilawala ! I am working on this file but I'm unable to locally access the page where the component is used.
Please help me if you know how!

[2021-04-06 16:29] hardikkat24 commented on #11776
@seonwoo960000 Sorry, the issue description is not complete yet. We cannot assign you. Could you pick any other issue? Thanks!

[2021-04-06 16:29] sajalasati commented on #8423
Hi @aasiffaizal, @Kizjkre, @luccasparoni, @YBCS, @pawan9116, @Mayank-gaur! Can you all please provide some update on the tasks currently assigned to you? If you have multiple tasks assigned, kindly provide update on all of them. Thanks!

[2021-04-06 16:32] sajalasati commented on #7450
@kevinlee12 Thanks a lot for the update and for letting us know we can reach out to you when needed :)

[2021-04-06 16:39] Mayank-gaur commented on #8423
Hi @sajalasati , I have currently 3 tasks assigned to me:
1) Add a lint check to ensure that there are no blank lines below the function definition. Link to  PR: [link](https://github.com/oppia/oppia/pull/11980)
2) Add lint check to sure there's a space before the opening braces of a function start. Link to PR: [link](https://github.com/oppia/oppia/pull/12412)
3)  Making sure constant variable nam

[2021-04-06 16:40] Mayank-gaur commented on #8423
@sajalasati PTAL.

[2021-04-06 16:40] mridul-netizen commented on #9749
@VallariAg See the video in this PRs description https://github.com/oppia/oppia/pull/12295 you will get to see score-ring directive at the end.You can get access to the classroom page from admin-tab for visiting the practice-session page

[2021-04-06 16:44] vojtechjelinek commented on #12422
@U8NWXD Could you please take a look.

[2021-04-06 16:45] sajalasati commented on #8423
@Mayank-gaur You can create your own google doc, explain your problem there and then share the link to doc here on this thread, and tag the necessary people here. The rest of the discussion can be continued there. Is it clearer now?

[2021-04-06 16:50] Mayank-gaur commented on #8423
Yes i got it.Very sorry for misunderstanding. Thanks!

[2021-04-06 16:51] sajalasati commented on #8423
Thanks @Mayank-gaur for updates on your tasks!

One of us from the linter team will follow up on the PR thread itself.

Ok sure!

[2021-04-06 16:58] Mayank-gaur commented on #8423
I have prepared a doc stating my problem and have changed the setting to anyone can comment.
@Hudda , @sajalasati , @DubeySandeep  PTAL.
Link to the doc:  https://docs.google.com/document/d/1BIcN2Ta7r-qE4QA7BrHV3Fia2FNEwEUQo6PUWBrG1R4/edit

[2021-04-06 16:59] Mayank-gaur commented on #8423
Thanks @sajalasati!

[2021-04-06 17:08] brianrodri opened #12449 "Create a metaclass for DoFns which clones model inputs"
**Is your feature request related to a problem? Please describe.**
One of the Apache Beam invariants is to treat all input as immutable. Unfortunately, NDB models are inherently mutable and our jobs will work extensively with them. We'd like to enforce immutability by having all DoFns clone() their input models before operating on them.

**Describe the solution you'd like**
We'd like to accomplish

[2021-04-06 17:29] aasiffaizal commented on #8423
@sajalasati I have raised a [PR](https://github.com/oppia/oppia/pull/12225) for the task assigned.
@DubeySandeep had left a few comments. I have addressed all the comments, I am waiting for him to re-review the changes.

[2021-04-06 17:30] aasiffaizal commented on #8423
@sajalasati I have raised a [PR](https://github.com/oppia/oppia/pull/12225) for the task assigned.
@DubeySandeep had left a few comments. I have addressed all the comments, I am waiting for him to re-review the changes.

[2021-04-06 18:20] amansr02 commented on #12437
Hello @brianrodri. we are students of the University of Michigan Ann Arbor (@bhargavi247), who have an assignment to work on an open-source bug issue, we were wondering if we could try to build oppia and get started on this bug? Your help would be greatly appreciated. Thank you!

[2021-04-06 18:38] #11904 closed, assigned to kevintab95

[2021-04-06 21:49] EeshaArif commented on #4057
@vojtechjelinek @nithusha21 can be assigned `numeric-input-validation.service.ts` please?

[2021-04-06 23:01] #9641 closed, assigned to nobody

[2021-04-06 23:45] kevintab95 opened #12451 "[Contributor Dashboard] The review modal title does not update when reviewing multiple suggestions"
**Describe the bug**
When reviewing several translations in the review modal, the title at the top of the modal does not update dynamically.

![image](https://user-images.githubusercontent.com/11008603/113790023-00bc6a00-975e-11eb-9476-7c45f984e373.png)

[2021-04-07 00:25] kevintab95 commented on #12446
Hi, I think this has been recently fixed on develop. Please re-test it once the latest release has been deployed on the test server. Thanks!

/cc @aks681 @U8NWXD

[2021-04-07 00:28] kevintab95 opened #12452 "[Frontend test flake] GuppyConfigurationService Components calling the service should not configure guppy on multiple initializations"
The frontend test `GuppyConfigurationService Components calling the service should not configure guppy on multiple initializations` flaked when I tried to push an unrelated code change. Here are the logs:

[code]

[2021-04-07 00:29] kevintab95 commented on #12452
/cc @U8NWXD

[2021-04-07 00:29] eightballocto commented on #10700
Hi, I'd like to work on `Fraction`.

[2021-04-07 00:29] kevintab95 commented on #12452
Please note this happened on my local environment.

[2021-04-07 00:57] vojtechjelinek opened #12454 "Problem logging in under Firebase when on different domain"
When the backup server is being deployed and the release is asked to verify if the deployment works correctly they are sent to different version of the server (on a different domain), this domain doesn't seem to work with Firebase auth.
![image](https://user-images.githubusercontent.com/10142938/113795260-bc749e00-974c-11eb-9d3c-6f5f35855207.png)

[2021-04-07 01:01] brianrodri commented on #12454
@seanlip we'll need to authorize the domain on the Firebase console, I've sent you instructions on chat.

[2021-04-07 01:32] seonWKim commented on #11776
@hardikkat24 Sure. Can I try  [oppia.core.controllers : PART 2] then ?

[2021-04-07 02:33] taiwo2 commented on #10798
Hey @U8NWXD, I will love to work on  core/tests/protractor_utils/LibraryPage.js

[2021-04-07 03:17] seanlip commented on #12454
Per offline discussion, I'm not sure there's anything I should be doing here. @vojtechjelinek can you please confirm?

[2021-04-07 03:18] rednayan commented on #12451
can someone assign this issue to me. i am new to open source.

[2021-04-07 04:12] EeshaArif commented on #8472
Apologies for keeping the file locked. @vojtechjelinek could you please unassign me `refresher-exploration-confirmation-modal.service.ts` so that someone else may claim it? I would preferably like to work on other issues instead. My apologies again.

[2021-04-07 05:33] HarshKhilawala commented on #9749
@VallariAg I will find something else for me. Hope you are able to locally access the page now

[2021-04-07 08:44] sajalasati commented on #11776
For all the tasks we are working on completing the requirements for the issue, so that it's straightforward for contributors to solve it. Maybe you can take a look at other issues tagged with [good-first-issue label](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22).

[2021-04-07 10:57] ehwu commented on #10474
Hi, I'm just starting out with open source!  @vojtechjelinek Would it be possible to be assigned ImprovementsService, LearnerParamsService, and NumericExpressionInputRulesService?

[2021-04-07 12:04] DubeySandeep commented on #12117
@sajalasati Thanks for sharing the method, it works for all the cases except the `python_linter.py` as we use linter modules to run pylint/isort checks, can you audit the `python_linter` file again and update the issue accordingly? :)

[2021-04-07 12:29] aasiffaizal opened #12460 "Pre Commit Linter Failing for python_utils"
**Describe the bug**
While running `pre_commit_linter.py` for just `python_utils.py` it fails with the error `AttributeError: 'list' object has no attribute 'trimmed_messages'`

**To Reproduce**
Steps to reproduce the behavior:
 1. Run the command `python -m scripts.linters.pre_commit_linter --files python_utils.py`

**Observed behavior**
An error is thrown
`AttributeError: 'list' object has no at

[2021-04-07 12:37] aasiffaizal commented on #12460
When I looked closely

<img width="649" alt="Screenshot 2021-04-07 at 6 01 11 PM" src="https://user-images.githubusercontent.com/38973423/113867019-a528c580-97cb-11eb-8c99-7231dca8ac38.png">

`_get_task_output` in `pre_commit_linter.py`, It iterates through the task results and one of the task results is a list. The name of that task was **Pylint for Python 3 compatibility**.

<img width="749" alt

[2021-04-07 12:38] aasiffaizal commented on #12460
@Hudda @DubeySandeep  PTAL! Lemme know your inputs, I'll fix this and raise a PR accordingly.

[2021-04-07 13:06] vojtechjelinek commented on #4057
@EeshaArif Done.

[2021-04-07 13:19] ehwu commented on #8423
Would it be possible to be assigned "Add lint check to ensure that functions are called with the right number of args?"

[2021-04-07 14:01] vojtechjelinek commented on #10474
@ehwu Done.

[2021-04-07 14:09] EeshaArif commented on #4057
@vojtechjelinek Thankyou!

[2021-04-07 14:22] seonWKim commented on #11776
Ok~ thanks !

[2021-04-07 15:05] sajalasati commented on #8423
Hey @ehwu! If you are a first time contributor or haven't worked with lint checks before, you might find this issue non-trivial as compared other issues (sorry this issue still has good-first-issue tag). I can still go ahead and assign you if you are interested, else you can try out other good first issues to get more familiar with our workflow. Whatever you decide, please let me know. Thanks!

[2021-04-07 15:35] SAEb-ai commented on #11496
@U8NWXD Can you please assign me `Do not call .first() on a list of ElementArrayFinders`

[2021-04-07 15:52] pranjal930 commented on #9749
Hello @nithusha21 @darksun27 Can you please tell me where can I locally access schema-based-bool-editor.directive.

[2021-04-07 16:07] abhishekalbert opened #12463 "On running end to end test chrome tabs are blank"
**Description**
On running end to end test in the develop branch chrome tabs are blank and on terminal just getting following lines repeatedly.

**Terminal output:**

[code]
**To Reproduce**
Steps to reproduce the behavior:

Run the command     `python -m scripts.run_e2e_tests` **OR** `python -m scripts.run_e2e_tests --chrome_driver_version <version>` **OR**     `python -m scripts.run_e2e_tests --

[2021-04-07 16:09] abhishekalbert commented on #12463
@U8NWXD and @DubeySandeep PTAL!!!

[2021-04-07 16:50] ehwu commented on #8423
Hi @sajalasati! Thank you for the advice! I'll take a look at other issues right now and will get back to you if I do in fact decide to take this task.  However, feel free to assign it to someone else in the meantime.

[2021-04-07 17:21] Radesh-kumar commented on #9749
Hey @pranjal930, `schema-based-bool-editor.directive` has already been migrated by @ashutoshc8101 https://github.com/oppia/oppia/pull/12318
feel free to pick other files.

[2021-04-07 20:19] sagangwee commented on #12451
@nayan10102 I recommend going through the onboarding process first! https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia

[2021-04-07 20:19] sagangwee commented on #12451
@jimbyo Can you take a look at this?

[2021-04-07 20:20] auschoi commented on #6928
@vinitamurthi Hi, is this issue still open?

[2021-04-07 20:51] #6219 closed, assigned to aks681

[2021-04-07 22:10] iabouara24 commented on #11496
Hi, I'm a first-time contributor and I'd like to attempt some of these issues. Could you please assign me "Do not call .last() on a list of ElementArrayFinders" and "Do not access .length of ElementArrayFinders"?

[2021-04-07 22:16] halsheik commented on #8015
Hi @kevintab95. I would like to work on core/templates/domain/question/question-backend-api.service.ts and core/templates/domain/skill/skill-backend-api.service.ts. Could you assign these to me?

[2021-04-07 22:23] halsheik commented on #8015
Hi @kevintab95. I would like to work on core/templates/domain/topic/editable-topic-backend-api.service.ts and core/templates/domain/exploration/read-only-exploration-backend-api.service.ts. Can you assign these to me?

[2021-04-07 22:37] iabouara24 commented on #9749
Hello @nithusha21 @darksun27, can I take up `admin-jobs-tab.directive.ts`? Thanks!

[2021-04-07 23:17] Radesh-kumar commented on #9749
Hy @iabouara24, `admin-jobs-tab.directive.ts` has already been migrated.
Please pick up another file.

[2021-04-07 23:20] Radesh-kumar commented on #9749
@nithusha21 @seanlip Can you assign me to https://github.com/oppia/oppia/issues/9749.
So I'll update the list accordingly.
Many contributors are running into issues by picking up the same files.

[2021-04-07 23:26] iabouara24 commented on #9749
@Radesh-kumar no problem. How about `topics-and-skills-dashboard-navbar-breadcrumb.directive.ts`?

[2021-04-07 23:31] Radesh-kumar commented on #9749
It is also migrated.
Wait, Let me find a file for you.

[2021-04-07 23:39] Radesh-kumar commented on #9749
@iabouara24 `upload-activity-modal.controller.ts`?
(It has no dependency issues.)

[2021-04-07 23:44] iabouara24 commented on #9749
@Radesh-kumar sure, that looks good. Thank you for your patience!

[2021-04-08 02:20] U8NWXD commented on #12422
@YBCS could you add a print statement to print `test_target_path` before the line `python_module = importlib.import_module(test_target_path)`? The error message suggests that it's trying to import `venv.lib.python2.7.site-packages.google.protobuf.internal.proto_builder_test`, which doesn't seem right.

Also, is this happening on `develop`? If you're seeing this on a different branch, could you try

[2021-04-08 02:30] U8NWXD commented on #10798
@taiwo2 all yours! Please let me know if you have any questions

[2021-04-08 02:43] YBCS commented on #12422
I tried on develop again and got same error

below is the print output @U8NWXD PTAL

![Selection_004](https://user-images.githubusercontent.com/29734619/113960533-43f00900-9842-11eb-9fe5-851d60a9ff51.png)

[2021-04-08 03:02] jimin-shin commented on #9749
Hi @nithusha21 @darksun27, can I take up `subtopic-viewer-navbar-pre-logo-action.component.ts`? Thanks!

[2021-04-08 05:02] pankajdahiya008 commented on #10700
Hi @srijanreddy98 I am taking up `Units`. Thanks.

[2021-04-08 05:41] mridul-netizen commented on #9749
@Radesh-kumar currently the upload-activity-modal is hidden .L'm working on it under create-activity-button. @iabouara24 can you pick some other file?

[2021-04-08 06:11] Radesh-kumar commented on #9749
It is already migrated.

[2021-04-08 06:13] Radesh-kumar commented on #9749
Merge-skill-modal-controller,
Select-skill-modal-controller,
Questions-list-select-skill-modal-controller,
These are available.

[2021-04-08 06:14] DubeySandeep opened #12466 "Remove duplicate .stylelintrc file from the codebase"
Currently, we have two `.stylelintrc` file in the codebase one is for the oppia.css file and the other is for the CSS added in HTML files.
1. [./.stylelintrc](https://github.com/oppia/oppia/blob/247c09d4cea9e0cfba835159aa4b095168fd8c9c/.stylelintrc)
2. [./core/templates/css/.stylelintrc](https://github.com/oppia/oppia/blob/247c09d4cea9e0cfba835159aa4b095168fd8c9c/core/templates/css/.stylelintrc)

[2021-04-08 06:34] pranjal930 commented on #9749
Hey @Radesh-kumar Can you please suggest a directive I can work on. Thanks.

[2021-04-08 07:10] taiwo2 commented on #10798
thanks for update i will start contributing 
https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/26724599

    On Thursday, April 8, 2021, 03:31:01 AM GMT+1, U8N WXD ***@***.***> wrote:

@taiwo2 all yours! Please let me know if you have any questions

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-08 09:54] ARKEOLOGIST commented on #10666
@kevintab95 I couldn't reproduce this in the new Topics and Skills Dashboard, can you check if it still exists?

[2021-04-08 11:42] ahmed-menshawy opened #12469 "Changing website language results in an unexpected output"
**Describe the bug**
When I change the language of the website into another language other than english, only part of the text gets translated into the selected language and rest remains in english(which is fine). But when I refresh the website after making the language choice, the non-mapped english text gets replaced with some sort of a placeholder text from the backend as shown in the attached

[2021-04-08 12:28] vojtechjelinek commented on #12454
Closing since I added a note about this into the release doc.

[2021-04-08 12:28] #12454 closed, assigned to vojtechjelinek

[2021-04-08 13:53] Radesh-kumar commented on #9749
@pranjal930 PTAL https://github.com/oppia/oppia/issues/9749#issuecomment-815479144

[2021-04-08 16:02] mia-tvu commented on #11496
Hello everyone, I am new contributor and looking for a first issue to tackle. Can anyone please assign me to one of the issues above? Thanks in advance!

[2021-04-08 16:32] jimin-shin commented on #9749
@Radesh-kumar can I take up `Select-skill-modal-controller`? Thanks

[2021-04-08 16:53] Radesh-kumar commented on #9749
Sure go ahead!

[2021-04-08 18:26] #12378 closed, assigned to EricZLou

[2021-04-09 06:31] taiwo2 commented on #10798
Hello, I tried to push my changes to my branch fix-library and am gotten this errors  ChromeHeadless have not captured in 60000 ms, killing.please how can i solve this.waiting for your response

Sent from Yahoo Mail on Android

  On Thu, 8 Apr 2021 at 8:09, Adetona ***@***.***> wrote:   thanks for update i will start contributing 
https://api.accredible.com/v1/frontend/credential_website_embed_ima

[2021-04-09 09:55] krishita30j commented on #12379
@DubeySandeep, the AssertionError is solved but the backend tests are still not running properly. The following error shows up(This error did not show up earlier):

<img width="1440" alt="Screenshot 2021-04-09 at 3 17 36 PM" src="https://user-images.githubusercontent.com/66058206/114162647-ec879100-9946-11eb-8576-e092fdf92ed8.png">
<img width="1440" alt="Screenshot 2021-04-09 at 3 17 41 PM" src="h

[2021-04-09 10:18] Droyk opened #12478 "Add the reason why? it doesn't matter whatever your reason is there should be a reason to move ahead!"
like for e.g. in the below image it doesn't provide an answer as to why you as a learner don't need to keep track of all the countries if the learner is gonna learn that in the coming chapters it should say so. moving ahead without telling why is really frustrating.
![image](https://user-images.githubusercontent.com/15848350/114165451-1f7f5400-994a-11eb-8a55-b183590e5337.png)

[2021-04-09 18:32] #11903 closed, assigned to sagangwee, ARKEOLOGIST

[2021-04-09 19:44] nisargsc commented on #10474
@vojtechjelinek Can you please assign me `CollectionPlaythroughObjectFactory`,`CollectionRightsObjectFactory` and `CollectionSummaryObjectFactory`?
They are model now and `core/templates/domain/collection/collection-playthrough.model.ts` is the file, right?
Thanks.

[2021-04-09 19:49] eightballocto commented on #10474
Hi, I'd like to be assigned to `GuestCollectionProgressObjectFactory` :)

[2021-04-09 20:03] vojtechjelinek commented on #10474
@eightballocto Done.

[2021-04-09 21:01] sagangwee opened #12481 "[CD] Allow contributors to edit their submitted suggestions."
Ideally, contributors would be able to edit both their pending suggestions and re-submit rejected suggestions with edits to fix any mistakes uncovered by themselves or by the reviewer.

[2021-04-09 21:15] sagangwee opened #12482 "[Contributor Dashboard] Make sure to call html_cleaner.clean() for suggestion HTML data"
This is necessary to restrict the set of HTML tags. Most likely this would occur during the suggestion `validate()` method. See https://github.com/oppia/oppia/pull/12424/files#r610771796 for context.

[2021-04-09 23:47] emeka-okechukwu commented on #12466
Hi @DubeySandeep, can I be assigned to this issue?

[2021-04-10 03:07] U8NWXD commented on #12422
@YBCS you highlighted the `jinja_utils_test` output, but I think the problem is actually a few lines lower where it tries to import `venv.lib.python2.7...`. That import shouldn't happen. I think the problem is that we try to import from all test files under `oppia/`, which includes your `venv` folder. I think the solution is to add `venv` to the exclusion list here:

https://github.com/oppia/oppia

[2021-04-10 03:13] U8NWXD commented on #11496
@SAEb-ai @iabouara24 @esmevu I've assigned you! @iabouara24 I just assigned you to the `.last()` task for now. Once you open a PR for that, you can take up another issue

[2021-04-10 03:15] U8NWXD commented on #10798
@taiwo2 could you provide more details? Text from console output and screenshots would help me figure out what's going wrong

[2021-04-10 03:35] U8NWXD commented on #12463
@abhishekalbert strange, I haven't seen this before. I found some similar errors online:

* https://github.com/SeleniumHQ/selenium/issues/2678
* https://github.com/dequelabs/axe-webdriverjs/issues/30

but those both have more detailed stack traces. If you aren't seeing those stack traces, I have two suggestions:

* Try and increase logging verbosity. I'm not sure which program is emitting those lo

[2021-04-10 05:55] YBCS commented on #12422
yep I think that fix it. I raised a PR @U8NWXD PTAL!

[2021-04-10 06:10] inst-cicada commented on #12469
I want to contribute in this.

[2021-04-10 07:06] Hudda commented on #11496
@SAEb-ai  @iabouara24 @esmevu  `Do not call .first() on a list of ElementArrayFinders.`, `Do not call .last() on a list of ElementArrayFinders`, `Do not call .get() on a list of ElementArrayFinders.`. These three issues are reserved for GSoC. Could you please choose some other issues. Thanks!

@U8NWXD I think it would be great if you add `Reserved for GSoC` label in front of these issues. Sorry to

[2021-04-10 09:17] taiwo2 commented on #10798
i change the code then i git commit -a -m "my mesaage here"then i pwrote git push origin <my branch herere>then i got  this 
https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/26724599

    On Saturday, April 10, 2021, 04:15:44 AM GMT+1, U8N WXD ***@***.***> wrote:

@taiwo2 could you provide more details? Text from console output and screenshots would help me figure out wh

[2021-04-10 10:05] taiwo2 commented on #10798
@U8NWXD  I have resolve the issue with increasing my system RAM to 8gb.thanks

[2021-04-10 18:44] #12163 closed, assigned to nobody

[2021-04-10 18:45] #12155 closed, assigned to ARKEOLOGIST

[2021-04-10 19:24] #12389 closed, assigned to AdityaDubey0

[2021-04-10 20:02] #9408 closed, assigned to aks681

[2021-04-10 22:11] MA86 commented on #11496
Hi everyone, I'm a new contributor, I would like to tackle `Do not access .length of ElementArrayFinders` issue. Can someone please assign me to it? Thank you kindly.

[2021-04-10 23:35] emeka-okechukwu commented on #10798
Hi @U8NWXD, can I be assigned to this file `core/tests/protractor_utils/ExplorationEditorPage.js`?

[2021-04-11 01:22] vojtechjelinek opened #12490 "[explorehandler/answer_submitted_event] AttributeError: 'NoneType' object has no attribute 'get'"
This error occurred recently in production on the explorehandler/answer_submitted_event/[exp_id].

[code]

**Additional context**
This error occurred on release 3.0.9 hotfix 2

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come

[2021-04-11 06:50] #12286 closed, assigned to nobody

[2021-04-11 17:47] krishita30j opened #12492 "Error while running backend tests macOS with M1."
While running the backend tests on macOS with M1 chipset, the `AssertionError: Expected checks failed when swapping out in scripts.flake_checker.report_pass tests` error shows up. Here is the error log:

<img width="1440" alt="114162647-ec879100-9946-11eb-8576-e092fdf92ed8" src="https://user-images.githubusercontent.com/66058206/114315179-4b9dff00-9b1b-11eb-9bc1-0bcca0c106b2.png">

<img width="144

[2021-04-12 01:36] U8NWXD commented on #10798
@emeka-okechukwu-dev all yours! Please let me know if you have any questions

[2021-04-12 01:39] U8NWXD commented on #11496
@MA86 all yours!

[2021-04-12 01:40] U8NWXD commented on #11496
@Hudda done

[2021-04-12 03:32] nlok5923 opened #12498 "Error while running e2e test"
**Describe the bug**
Return error in accessing chromedriver while running e2e test [errorlog](https://gist.github.com/nlok5923/46398d904587c76af03f53d8f56fbf1b)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /oppia directory
 2. Run `python -m scripts.run_e2e_tests`
 3. See error

**Observed behavior**
Returns error probably in accessing chrome driver.

**Expected behavior**
Should n

[2021-04-12 04:07] ARKEOLOGIST commented on #12469
@DubeySandeep can you take a look at this?

[2021-04-12 06:26] shubhamcodez commented on #12498
Hey, please make sure have installed selenium (pip install selenium) and tell me if you're still receiving the error.

[2021-04-12 06:35] shubhamcodez commented on #12490
In self.payload.get('old_state_name')
**self** (object) seems to be empty while being used hence, being passed as NoneType object. In that case, it wouldn't have an attribute.
I will try to look into it and launch a PR if I am able to solve it.

[2021-04-12 06:42] nlok5923 commented on #12498
yeah selenium is installed still i am receiving the error.

[2021-04-12 06:47] shubhamcodez commented on #12498
What's the version of your chrome?

[2021-04-12 06:53] nlok5923 commented on #12498
89.0.4389.23

[2021-04-12 07:01] shubhamcodez commented on #12498
It's running fine on my device with similar specifications.
Try reinstalling the dependencies (Chrome too).
It's only e2e test script that's failing?

[2021-04-12 07:11] nlok5923 commented on #12498
Yeah it's only e2e test scripts which is failing @shubhamcodez I had setup whole project twice from scratch still receiving the error.

[2021-04-12 09:59] DubeySandeep commented on #10822
I tried testing this on the test server ([link to sub-topic](https://oppiatestserver.appspot.com/topic_editor/ryp6qZRaACi0#/subtopic_editor/1)) but for me, it takes around a sec to load all the skills. @kevintab95 Do we still need to optimize this? (OR am I missing something?)

[2021-04-12 11:21] Hudda commented on #10470
Closing this PR as updating the eslint version fixes this issue. Thanks!

[2021-04-12 11:21] #10470 closed, assigned to Hudda

[2021-04-12 19:24] vojtechjelinek opened #12503 "Rename proto folder to a different name"
When I was investigating the migration to Python 3 I discovered that there is a problem that the proto folder that we have conflicts with some proto folder inside Google libraries, we should rename our folder in order to be prepared for the Python 3 migration.

[2021-04-12 19:38] #12106 closed, assigned to nobody

[2021-04-12 22:28] Mayank-gaur commented on #8423
Hi @sajalasati , about the task ' Making sure constant variable names are in all-caps', This task is reserved for GSoC. Can you please unassign me from this and assign me to the task " Add eslint check for spacing in the curly brackets."?
About my PR of task ' Add a lint check to ensure that there are no blank lines below the function definition. ', I will update it by tommorow. Very sorry for lat

[2021-04-12 22:50] taiwo2 commented on #10798
@U8NWXD  i would like to work in this  core/tests/protractor_utils/TopicEditorPage.js
kindly assign it to me

[2021-04-13 01:34] U8NWXD commented on #10798
@taiwo2 all yours!

[2021-04-13 05:33] krishita30j commented on #12492
Hey @DubeySandeep, can you please take a look? Thanks!

[2021-04-13 06:29] kevintab95 opened #12505 "No component factory found "oppia-interactive-fraction-input""
This error occurred recently in production

[code]

## Note: This happened on the contributor dashboard page.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific re

[2021-04-13 06:30] kevintab95 commented on #12400
https://github.com/oppia/oppia/issues/12505 maybe related.

/cc @srijanreddy98

[2021-04-13 06:31] kevintab95 commented on #12505
/cc @srijanreddy98

[2021-04-13 06:35] srijanreddy98 commented on #12505
I recently discovered this error. +cc @DubeySandeep looks like requiring the `interactionsQuestionsRequires.ts` is not enough.

This is happening because I only considered `interactionRequires.ts` while adding the new angular interactions module to specific pages. And it is used in less pages than the `interactionsQuestionsRequires.ts` file. To fix this, we just need to add the interaction module

[2021-04-13 06:46] seanlip opened #12506 "Erroneous "This description already exists. Please choose a new name or modify the existing skill." message."
**Describe the bug**
When trying to create a new skill, I am getting the following error:

![Screenshot from 2021-04-12 23-43-21](https://user-images.githubusercontent.com/10575562/114508378-224ba480-9be9-11eb-94f3-9977b0fbee4e.png)

**To Reproduce**
This is a server error observed on Oppia.org. When I create a new skill with the given description, I get the error and stack trace in question.

**O

[2021-04-13 06:46] seanlip commented on #12506
@kevintab95 @EricZLou could you please triage this? Thanks!

[2021-04-13 08:16] gp201 opened #12507 "Assert messages generated by a python lint check"
As per the discussion in https://github.com/oppia/oppia/pull/12394#discussion_r610452177 the message produced by pylint in the terminal must be asserted.

Ex:
This message `Please use python_utils.with_metaclass() instead of __metaclass__` is generated when the presence of `__metaclass__` is found in a file.
This issue's aim is to add an assertion to the test in [pylint_extensions_test.py](https:/

[2021-04-13 12:04] srijanreddy98 commented on #12400
Looks like it.

[2021-04-13 13:41] #11692 closed, assigned to iamprayush

[2021-04-13 18:01] Radesh-kumar commented on #9749
Hey guys! Can you please update the status of your currently assigned files?
If you are not currently working someone else could take it.
If you are stuck in migrating any file you can reach out to us.
@pankajdahiyapd @EricZLou @cemcshane @darksun27 @hngerebara @gp201
@suryasiriki4 @Bhanu-mbvg @ritvikkhanijo @sayantan1413 @tanishq67 @aishwary023
@karma200020 @jcqli @mridul-netizen @ashutoshc8101

[2021-04-13 18:07] aishwary023 commented on #9749
Hi @Radesh-kumar, can you please remove my assignment from admin-config-tab.directive.ts
Thanks!!

[2021-04-13 18:11] gp201 commented on #9749
Hi @Radesh-kumar, I had removed the `circular-image.directive.ts` file since it was no longer used in Oppia
PR: https://github.com/oppia/oppia/pull/11201

[2021-04-13 18:15] mridul-netizen commented on #9749
PR for `upload-activity-modal.controller.ts` is in progress https://github.com/oppia/oppia/pull/12290

[2021-04-13 19:53] sagangwee commented on #9021
Duplicate: https://github.com/oppia/oppia/issues/11841

[2021-04-13 19:53] #9021 closed, assigned to nobody

[2021-04-13 19:54] #11685 closed, assigned to nobody

[2021-04-13 21:30] sagangwee commented on #8983
Images are available in translation suggestions. Will confirm images in question suggestions.

[2021-04-14 06:37] sajalasati commented on #12117
Hi @DubeySandeep! I checked the file again and mostly it seems fine according to me. Details are written below.

In `python_linter.py` file, we have the following checks:
- `PythonLintChecksManager`: Has only one check
  - `check_that_all_jobs_are_listed_in_the_job_registry_file ` - This itself implements the check and does not use other modules to run. It returns a single TaskResult object repres

[2021-04-14 07:26] jimbyo opened #12512 "Running scripts.clean led to unexpected import errors"
**Describe the bug**
Was trying to fix error `ImportError: No module named auth`  by running scripts.clean, After running it I had to deal with two ImportErrors before being able to run any start scripts.
1. `ImportError: No module named builtin`
2. `ImportError: No module named certifi`

In order to be able to run the scripts I needed to run `pip install future` `and pip install certifi`

**To Re

[2021-04-14 07:26] jimbyo commented on #12512
Can anyone replicate this issue?

[2021-04-14 08:09] riyasoganii commented on #12478
We appreciate the feedback, thank you! Because the lesson will not teach the information about multiple different countries, we think it might be better to scrap this information, especially since it seems extra and might be too much for a young child to comprehend. This could be replaced with Nic mentioning that different countries use different comma systems, but putting emphasis on the fact tha

[2021-04-14 08:53] ReshuKumari commented on #12512
@jimbyo even I faced this same issue today.

[2021-04-14 08:56] ReshuKumari commented on #12512
@jimbyo But I had yaml module missing instead of builtin.

[2021-04-14 13:12] sajalasati commented on #10470
Thanks @Hudda! I am adding the PR number here for ref - #12501.

[2021-04-15 01:10] halsheik commented on #11496
Hi, I'm a first-time contributor and I'd like to attempt some of these issues. Could you please assign me `Do not index into ElementArrayFinders with bracket notation ([])`?

[2021-04-15 05:57] ashutoshc8101 opened #12518 "Replace usage of top-navigation-bar-wrapper and side-navigation-bar-wrapper components"
## TODO

The usage of `top-navigation-bar-wrapper` and `side-navigation-bar-wrapper` components can be replaced with their respective original components i.e. `top-navigation-bar` and `side-navigation-bar` when migration of top-navigation-bar is complete.

[2021-04-15 08:02] sajalasati commented on #8423
@Mayank-gaur @tanishq67 Your PRs (#11980) and (#12296, #12279) respectively are currently in progress. We have these issues at the top of our priority list so kindly try to finish them before **21st April, 2021** (i.e approved by all the reviewers). Unfortunately beyond that, we won't be able to wait, and someone from linter team will finish them.

@pawan9116 I don't see any active PR or updates o

[2021-04-15 08:03] sajalasati commented on #8423
@Hudda Can you please confirm this and remove the old assignment and do the new one? Thanks!

[2021-04-15 08:09] shubhamcodez commented on #8423
@sajalasati I'll need some help on the task. I haven't made a linter before.

[2021-04-15 08:13] sajalasati commented on #8423
@shubhamcodez You can look at the issue description to find all the helpful resources which also has link to our wiki. You can leave specific queries related to your tasks on this thread, and we'll be happy to help you. For JS/TS tasks, direct your queries to @DubeySandeep or @Hudda.

[2021-04-15 08:56] riyasoganii commented on #12478
This entails the replacement of all the paragraphs after the first two. This would be replaced by:
"However, many countries have different ways of doing this! It's hard to remember all of them, but there's one thing you must know- no matter where the comma lies in a number, the value of the number doesn't change!"
Does that solve the issue?

[2021-04-15 11:15] Hudda commented on #8423
Done. Assigned to new task and removed the old assignment. Thanks!

[2021-04-15 12:40] hardikkat24 opened #12520 "Backend Tests throwing Attribute Error"
**Describe the bug**
Backend tests are not running. They are throwing the error: `AttributeError: 'module' object has no attribute 'xxxx_test'`. The tests were running correctly before I pulled from develop.

**To Reproduce**
Steps to reproduce the behavior:
 1. Pull from latest develop branch
 2. Run any backend test say `python -m scripts.run_backend_tests --test_target=jobs.types.audit_errors_t

[2021-04-15 12:43] vojtechjelinek commented on #12520
I confirm that I can reproduce this too.

[2021-04-15 12:52] DubeySandeep commented on #12520
![image](https://user-images.githubusercontent.com/16653571/114871916-6b813b80-9e17-11eb-9648-d56f35dda916.png)

I'm unable to reproduce this issue locally.

@hardikkat24 can you please share the full log? (through a Pastebin link)

[2021-04-15 13:13] hardikkat24 commented on #12520
@DubeySandeep Here is the [link](https://pastebin.com/jrZ6Lm1b).

[2021-04-15 15:16] hardikkat24 commented on #12520
`864b1d1b95a5799573a8566d7ab5d1657d639f10 ` This is the first bad commit. Found using git bisect.

[2021-04-15 16:52] aishwary023 commented on #12520
Facing the same error.

Log - https://pastebin.com/8Bn52ksB

![image](https://user-images.githubusercontent.com/26626415/114907651-ec9cfa80-9e38-11eb-8a22-6bfce2d50293.png)

[2021-04-15 19:43] Radesh-kumar opened #12523 "Collections can be added / removed from learner playlist when clicking on clock icon in library page"
**Describe the bug**
When hovering on collection a clock icon at the top right corner should appear.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a collection.
 2. Go library page hover on it.

**Observed behavior**
![Screenshot from 2021-04-16 01-13-02](https://user-images.githubusercontent.com/54100702/114929050-f6325c80-9e50-11eb-93c5-f4480ded4896.png)

**Expected behavior**

!

[2021-04-15 19:58] Radesh-kumar opened #12525 "Pop overs should work correctly in carousel (Library Page)"
**Describe the bug**
Popovers are currently out of place in the carousel.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library Page
 2. Click on the right arrow, to move the carousel
 3. Hover on top of the clock icon

**Observed behavior**
![Screenshot from 2021-04-16 01-23-26](https://user-images.githubusercontent.com/54100702/114930665-ea479a00-9e52-11eb-9318-9de0373cfbcd.png)

[2021-04-15 20:43] Radesh-kumar opened #12526 "Sorting should be properly done in Feedback Updates (Learner's Dashboard Page)"
**Describe the bug**
Currently `sortFeedbackFunction` exists but is never implemented.
(Note that function definition is also wrong)
![Screenshot from 2021-04-16 02-06-32](https://user-images.githubusercontent.com/54100702/114935533-efa7e300-9e58-11eb-8117-6555237eaf9b.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Learner's Dashboard page
 2. Click on Feedback updates
 3. you c

[2021-04-15 20:45] Radesh-kumar opened #12527 "UI bug in Feedback updated (Learner's Dashboard Page)"
**Describe the bug**
Dropdown is out of place.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Learner's Dashboard page
 2. Click on Feedback updates
 3. you can see a drop-down for sorting.

**Observed behavior**
![Screenshot from 2021-04-16 01-57-47](https://user-images.githubusercontent.com/54100702/114936051-8ffe0780-9e59-11eb-9ab9-3ebebd6374d3.png)

**Expected behavior**
![Screen

[2021-04-15 20:52] vojtechjelinek commented on #12520
@aishwary023 Could you please see if you get any error if you run just `python -m scripts.run_backend_tests`

[2021-04-15 20:57] aishwary023 commented on #12520
@vojtechjelinek No errors. The tests run perfectly with `python -m scripts.run_backend_tests`.

[2021-04-15 21:07] aishwary023 commented on #12520
Hi, @vojtechjelinek the test ran successfully after replacing `unittest` in `gae_suite.py` by [unittest2](https://pypi.org/project/unittest2/).

[2021-04-15 23:21] kevintab95 opened #12528 "[Schema Validation] AssertionError: Expected list, received None"
This error occurred recently in production

[code]

This occured in the contributor dashboard page.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps

[2021-04-15 23:25] kevintab95 commented on #12528
The following frontend error occurred along with this:

[code]

[2021-04-16 00:07] U8NWXD commented on #11496
@halsheik done!

[2021-04-16 00:56] kevintab95 commented on #12528
Based on the frontend error, I tried to look at all the places "ListOfSetsOfTranslatableHtmlContentIds" is used and found that only the DragAndDropSortInput interaction uses it.

The stack trace indicates that this happens when changing the order of the choices for either the "IsEqualToOrdering" or the "IsEqualToOrderingWithOneItemAtIncorrectPosition" rules and that the list of contentIds for a ch

[2021-04-16 09:24] vojtechjelinek commented on #12520
@aishwary023 Can you please create a PR fixing this?

[2021-04-16 10:25] DubeySandeep opened #12531 "Remove codecov config file from the repo"
Remove the codecov.yml file from the codebase and also remove the CODEOWNER for the same!

Before creating a PR audit the codecov settings and ensure we don't have any config value attached in the codecov.

Also, delete our repo account from codecov once the yml file is removed!

[2021-04-16 15:41] Mayank-gaur commented on #8423
Hi @Hudda , about the task " Add eslint check for spacing in the curly brackets.",  can you please confirm of  the task is for braces in only import statements or all the curly braces?

[2021-04-16 16:40] aishwary023 commented on #12520
@vojtechjelinek Sure, will do

[2021-04-16 17:13] Hudda commented on #8423
@Mayank-gaur It should be implemented for all curly braces. Thanks!

[2021-04-16 19:54] iamprayush commented on #12528
I'll look into this!

[2021-04-16 20:25] kevintab95 opened #12533 "[CD Reduce Toil] Make it easier to translate repeated content in the Contributor Dashboard"
**Is your feature request related to a problem? Please describe.**
A translator gave this feedback

**Describe the solution you'd like**
Either automatically handle translations for repeated content internally or provide a auto-complete / suggest feature for making it easier for the translator.

[2021-04-16 20:33] kevintab95 commented on #12533
/cc @sagangwee

[2021-04-16 21:18] kevintab95 commented on #8029
This still occurs with the following stack trace:

[code]

[2021-04-17 03:24] tanishq67 opened #12537 "ImportError: No module named auth"
Please help me as soon as possible I am unable to push my commits, getting this error while pusing.

**Describe the bug**

[code]
**To Reproduce**
I my case I was trying to push my commits and this occured.

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 -OS  = Ubuntu 20.04 LTS

[2021-04-17 03:30] tanishq67 commented on #12537
I am getting this error from yesterday. Before that error I was getting this error-
[code]
And to resolve I used the above mentioned command
`python -m scripts.run_backend_tests --test_target=scripts.install_third_party`

And after that I am getting this error described in the issue.

[2021-04-17 03:32] tanishq67 commented on #12537
@sajalasati Can you please help me I wanted to push my commits of (#12296, #12279) as soon as possible.

[2021-04-17 04:01] srijanreddy98 commented on #12537
@tanishq67 a quick fix for this is to manually install google.auth. To do that run `pip install google.auth` in your python2 environment.

[2021-04-17 04:02] srijanreddy98 commented on #12537
@brianrodri @DubeySandeep @sajalasati PTAL!

[2021-04-17 11:15] sajalasati commented on #12537
@srijanreddy98 @tanishq67 I see the same error on my system too. Also I see that last commit for the file `firebase_auth_services.py` has been 14 days ago, I am not sure what is the reason here. @brianrodri I assume you would know about this a bit, can you suggest some fix?

[2021-04-17 14:13] brianrodri commented on #12537
Is this a sudden issue, or were you able to push within the last 2 weeks?

[2021-04-17 14:22] aishwary023 commented on #12520
Hi @hardikkat24 @vojtechjelinek , are you guys still facing this error? The error is gone for me now and I'm not able to reproduce it. Can you confirm if you are still facing the error?

[2021-04-17 15:07] mridul-netizen commented on #12537
Installing `firebase-admin` and `google-cloud-firestore` manually solved this for me.Got this yesterday after merging from develop.

[2021-04-17 16:34] Mayank-gaur commented on #8423
Thanks @Hudda. I just have a few more doubts related to this task.
In response to [this](https://github.com/oppia/oppia/issues/8128#issuecomment-590024049) comment,
{
  a: 5
}

should be converted to  '{ a: 5 }' . But what about the curly braces in functions or classes? They are like:
function foo() {
//body
}
and I don't think they should be like
function foo() {
//body }

If it's for all curly b

[2021-04-17 19:58] sajalasati commented on #12537
@brianrodri I haven't made any commits in the last 2 weeks. I am not even sure if this related to any commits you made. I personally asked you to look since you have worked on implementing things related to it (this is also my guess based on limited info), you might have some idea where to check about what might be going wrong.
Also I haven't made any commits in the last weeks. I first faced this

[2021-04-17 20:19] brianrodri commented on #12537
I'm not too sure why this would come up since pip dependency errors are really fickle, although I can at least say that I've never seen this issue in all my time working with the libraries.

Please note that installing `firebase-admin` directly wouldn't work, since we use a patched version of the library (which you can install using the following line in requirements.in): https://github.com/oppia/

[2021-04-17 20:21] brianrodri commented on #12537
@vojtechjelinek have you seen this issue while working on the Python migration?

[2021-04-17 21:22] vojtechjelinek commented on #12537
Related to #12520, probably introduced in commit 864b1d1b95a5799573a8566d7ab5d1657d639f10

[2021-04-17 22:35] iabouara24 commented on #10798
Hi @U8NWXD, I have my dev environment fully set up now. Could I take `core/tests/protractor_utils/TopicsAndSkillsDashboardPage.js`? Thanks!

[2021-04-18 06:04] brianrodri commented on #12537
Cool thanks, reassigning to you since I don't know how to fix but it seems like it's already being worked on.

[2021-04-18 06:10] seanlip commented on #12537
@vojtechjelinek could you please explain why it's related to that PR and that commit?

[2021-04-18 06:16] DubeySandeep commented on #12537
@tanishq67 Have you tried cleaning the repo and starting the local server? (re tho [this comment](https://github.com/oppia/oppia/issues/12537#issuecomment-821758685))

[2021-04-18 06:39] kevjumba commented on #10373
Update:
After further review, there are multiple interesting things.
(1) Memorystore redis actually has it's own failover methods. In the event of a catastrophic failure on the primary node of the redis server, it will automatically try to transition to a secondary node with the same data.  However this poses problems since in the interim, we are relying on the information that the data in the red

[2021-04-18 06:40] kevjumba commented on #10373
However, I don't currently have the time to work on rewriting all relevant usages of caching to an invariant form so if someone else can pick this issue up for the time being, that would also be fine. @vojtechjelinek

[2021-04-18 06:44] seanlip commented on #10373
Just a note, I don't think we should rewrite everything to an invariant form. Let's just drop the usages in the domain layer that don't follow the invariant criterion. This is largely just code deletion so it should not be too complicated IMO.

We can add new usages of memcache later, but I think that that is out of scope for this issue.

[2021-04-18 07:34] tanishq67 commented on #12537
Day before yesterday I first merged latest commits from develop and when I tried to push my commits, I faced [this](https://github.com/oppia/oppia/issues/12537#issuecomment-821758685)

[2021-04-18 07:34] tanishq67 commented on #12537
@DubeySandeep I am not sure what you mean by cleaning the repo. Can you please elaborate?

[2021-04-18 10:25] brianrodri commented on #12537
@tanishq67 you can do this by deleting the `third_party` directory.

Also, are you running oppia in a virtual environment? If not, please try setting one up by following step 4 of https://github.com/oppia/oppia/wiki/Installing-Oppia-(Mac-OS)#prerequisites, and let us know if that helps.

[2021-04-18 18:35] vojtechjelinek commented on #12537
I started to have the same error with that commit (and Hardik too), the `AttributeError` in #12520 is happening because internally the error in this issue is happening but it is then hidden by the `AttributeError`.

[2021-04-18 19:28] kevintab95 opened #12547 "The value of property "draft_change_list" is longer than 1048487 bytes"
This error occurred recently in production

[code]

This error occured when editing a translation for an exploration containing translation content in several languages.

[2021-04-18 20:06] Kizjkre opened #12550 "pylatexenc metadata folder name change"
**Describe the bug**
Running `scripts.start` errors out because of unexpected name for the `pylatexenc` library.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `scripts.start`
 2. See error

**Observed behavior**
The script errors because of the installed `pylatexenc-2.6-py2.7.egg-info` folder doesn't match expected name.

**Expected behavior**
Expected `scripts.start` to install all d

[2021-04-18 20:14] U8NWXD commented on #12550
The linked PEP-0376 lists `docutils-0.5-py2.6.egg-info` as a valid metadata folder name. Note the `-py2.6` suffix to the version string, which is what appears to be anomalous in this metadata folder name

[2021-04-18 20:14] U8NWXD commented on #12550
@DubeySandeep PTAL

[2021-04-18 20:15] U8NWXD commented on #12550
Also @vojtechjelinek PTAL

[2021-04-18 23:42] kevintab95 opened #12552 "Unable to sign in on the test server"
**Describe the bug**
Unable to sign in on the test server. When I try to sign in, I get directed to the "Account To Be Deleted" screen even though I never tried to delete my account.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in to the test server.
 2. See error

**Observed behavior**
Unable to sign in on the test server.

**Expected behavior**
I should be able to sign in.

**Scre

[2021-04-19 00:03] EricZLou commented on #9749
Hi @Radesh-kumar, I removed myself from 2 files:  `continue-button.directive.ts` and `exploration-player-page.component.ts`. Thanks!

[2021-04-19 03:23] U8NWXD commented on #10798
@iabouara24 all yours!

[2021-04-19 03:32] U8NWXD commented on #10798
@ayushi0014 @Prototype4988 @Yashs911 @tanishq67 @sajenjeshan1222 @geekysumant are you still working on your assigned tasks on this issue? If so, please comment on this thread in the next 48 hours. After that, I'll de-assign you so others can take up those tasks

[2021-04-19 04:36] taiwo2 commented on #4057
i would love to work on story-creation.service.ts kindly assign it to me

[2021-04-19 04:49] seanlip commented on #12552
Hi @kevintab95 -- can you try again please? Let us know if it still occurs.

[2021-04-19 07:16] kevintab95 commented on #12552
Hi I just checked now and it works! Closing.

[2021-04-19 07:16] #12552 closed, assigned to brianrodri, vojtechjelinek

[2021-04-19 07:59] #11706 closed, assigned to nobody

[2021-04-19 08:43] ARKEOLOGIST commented on #12173
@jimbyo @U8NWXD I cannot access the lighthouse reports. Is it possible to make them public or something? I wish to work on a partial fix for this.

[2021-04-19 09:56] sajen-k commented on #10798
@U8NWXD Sorry for the delay, I have updated the files and made an PR #12557 Kindly review it

[2021-04-19 10:07] anandwana001 commented on #11414
@U8NWXD  I am facing a similar issue. Didn't find anything similar on the troubleshooting page.

[code]

[code]

![Screenshot 2021-04-19 at 15 37 33](https://user-images.githubusercontent.com/25057618/115219448-2dd92700-a125-11eb-9be2-706204c200cb.png)

[2021-04-19 10:33] lkbhitesh07 commented on #12223
Hey @EricZLou,
Sorry for this much late reply. I am trying to figure out that why `Warnings` is displaying in white and I compared it with the `story-editor-page.component.html` but got nothing as the CSS class in `story` and `skill` are almost the same. In `story` the `Warnings` part is visible in black.

Will you please help me out, Thanks.

[2021-04-19 13:27] vojtechjelinek commented on #12550
I will prepare a PR for this.

[2021-04-19 17:10] ReshuKumari commented on #12520
Hi @vojtechjelinek @aishwary023 @hardikkat24 I am also facing the same errors, did anyone of you find a fix for this. I tried replacing unittest by unittest2 but it did not work for me.

[2021-04-19 21:56] EricZLou commented on #12506
Hey @seanlip I'm unable to repro the error message showing on the front-end when I'm in localhost. I have, however, fixed the console logs. `There was an error when checking...` comes from searching for an empty skill description, and `possibly unhandled rejection` comes from a missing empty callback fn.

Can you provide more details since I'm unable to repro?
- If you delete a character from the

[2021-04-19 22:18] halsheik commented on #10798
Hi @U8NWXD. Could I take core/tests/protractor_utils/ExplorationEditorSettingsTab.js? Thanks!

[2021-04-20 00:21] MA86 commented on #11496
Hello @U8NWXD,

I'm working on **"Do not access `.length` of `ElementArrayFinders`"**. I'm currently learning ESLint from its documentation, and also studying existing ESLint checks in the `rules` directory to get ideas.

## My Plan:

Am I in the right track with the following plan?

First I'll define my ESLint rules in a `.js` file. In this file, I will write code to look for any variable whose t

[2021-04-20 02:13] greggydeggy opened #12560 "Mouse pointer stuck in 'Copy tool' mode"
**Describe the bug**
When in 'Translations,' after activating 'Copy Tool,' when you go to any other screen before turning 'Copy tool' off, the mouse will remain in 'copy tool' mode.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Translations'
 2. Click on 'Copy Tool' to turn it on
 3. Go to 'Editor'
 4. See error

**Observed behavior**
Mouse pointer is still in 'copy tool' mode

**E

[2021-04-20 02:14] greggydeggy commented on #12560
Need to upload pictures showing mouse pointer

[2021-04-20 02:44] U8NWXD commented on #4057
@taiwo2 done!

[2021-04-20 02:46] U8NWXD commented on #12173
I don't think it's a permissions issue. The reports are only hosted temporarily, and they appear to have been cleared. You can look at a more recent run of the tests though to get more recent reports

[2021-04-20 02:52] U8NWXD commented on #10798
@halsheik all yours!

[2021-04-20 02:56] U8NWXD commented on #11496
@MA86 yes, that sounds good. I think the challenge will be in figuring out which variables have type `ElementArrayFinder`. As far as I can tell, ESLint doesn't do type inspection, so you might have to write the code to figure out which variables are `ElementArrayFinder` objects

[2021-04-20 03:25] ARKEOLOGIST commented on #12560
@greggydeggy Have you merged from develop recently? I have dropped a fix for this.

[2021-04-20 04:29] #12206 closed, assigned to Radesh-kumar

[2021-04-20 04:29] #12385 closed, assigned to Radesh-kumar

[2021-04-20 04:29] #12523 closed, assigned to Radesh-kumar

[2021-04-20 04:29] #12525 closed, assigned to Radesh-kumar

[2021-04-20 04:29] #12526 closed, assigned to Radesh-kumar

[2021-04-20 04:29] #12527 closed, assigned to Radesh-kumar

[2021-04-20 04:29] greggydeggy commented on #12560
@ARKEOLOGIST Im testing the new release, so not sure if they missed the PR with the fix

[2021-04-20 04:48] ARKEOLOGIST commented on #12560
#12521 has resolved it actually - it solves the issue for both the Exploration Editor as well as the Translation Modal.

[2021-04-20 06:13] HarshKhilawala commented on #9749
Hi @Radesh-kumar, I am taking up `continue-button.directive.ts`

[2021-04-20 06:18] div-yam commented on #9749
I am currently working on it. I got my pull request reviewed and will push it again after making the appropriate changes. Sorry for the inconvenience.

[2021-04-20 06:24] HarshKhilawala commented on #9749
@div-yam No worries! Will find something else for me. (Updated and assigned you to the same ;)  )

[2021-04-20 06:44] div-yam commented on #9749
@HarshKhilawala Cool. Thanks!!

[2021-04-20 07:15] seanlip commented on #2028
Closing this since we're moving towards stories.

[2021-04-20 07:15] #2028 closed

[2021-04-20 08:05] Hudda commented on #8423
[It](https://eslint.org/docs/rules/object-curly-spacing) looks better. Go ahead with this one.

[2021-04-20 09:08] taiwo2 commented on #4057
I was trying to create a spec file for story-creation.service.ts which was not provided, from forked repo and am getting this errors in return @U8NWXD  please how can i resolve this
Please fix the errors below:
----------------------------------------
./core/templates/components/entity-creation-services/story-creation.service.spec.ts is not listed in the .github/CODEOWNERS file.
------------------

[2021-04-20 09:30] anandwana001 commented on #11414
I had updated my xcode and things worked out correctly.

[2021-04-20 13:37] Radesh-kumar commented on #4057
@taiwo2
Try adding this line in .github/CODEOWNERS  file
`/core/templates/components/**/*.spec.ts @nithusha21`
(Around line no. 632, under the section `# Frontend unit tests`)
cc/ @nithusha21

[2021-04-20 14:02] vojtechjelinek commented on #11198
@atpug22 Why did you reopened this?

[2021-04-20 14:03] atpug22 commented on #11198
Actually I was going through this bug and by mistake I closed it so I reopened it

[2021-04-20 14:12] taiwo2 commented on #4057
ok
thanks

[2021-04-20 14:42] iamprayush commented on #6928
Closing this since it has been resolved.

[2021-04-20 14:42] #6928 closed, assigned to vinitamurthi

[2021-04-20 16:13] benberk commented on #9749
Hi @Radesh-kumar can you assign me `admin-config-tab` and `exploration-player-page?`

[2021-04-20 16:44] #12422 closed, assigned to YBCS

[2021-04-20 18:10] #12382 closed, assigned to sagangwee, ARKEOLOGIST

[2021-04-20 18:49] Nik-09 commented on #9271
@kevintab95 I am working on this issue. Thanks.

[2021-04-20 19:02] taiwo2 commented on #4057
### After solving the isuue above i got this another issue  that says core/templates/components/entity-creation-services/story-creation.service.spec.ts(32,38): error TS2306: File '/root/opensource/oppia/core/templates/components/entity-creation-services/story-creation.service.ts' is not a module. how to solve this
![Screenshot 2021-04-20 200108](https://user-images.githubusercontent.com/38242590/1

[2021-04-20 21:35] shubhamkorde commented on #10064
I am also facing this issue. I have checked if configparser has been installed. I have tried to reinstall configparser using the following commands:
[code]

`
![image](https://user-images.githubusercontent.com/56932243/115466880-4e50d080-a24e-11eb-96c5-581927461ccf.png)

@nishantwrp @seanlip any idea where can I be going wrong?

[2021-04-20 22:11] seanlip commented on #10064
I am not sure, but this might be related to #12537 which @vojtechjelinek and @shubha-rajan are looking into. The fix might be to move the cloud-translate library version number to an earlier version, but we have not confirmed that yet.

In the meantime, you might want to see whether you can uncover the root of the import error somehow, maybe by running a dev server or something. I think the messag

[2021-04-20 23:39] MA86 commented on #11496
Thanks for responding @U8NWXD. I'll try to figure out a solution.

[2021-04-20 23:45] kevintab95 opened #12571 "[Regression] Image uploader not working as expected"
Image upload seems to have the following issues:

1. Clicking on an uploaded image does not populate it correctly.

https://user-images.githubusercontent.com/11008603/115476686-020e8c00-a260-11eb-82af-006b82b3c440.mp4

2. Crop functionality does not work as expected.

https://user-images.githubusercontent.com/11008603/115476701-0aff5d80-a260-11eb-994b-5c5bf6baa2ae.mp4

[2021-04-21 00:08] kevintab95 commented on #12571
The PR that caused the regression could not be reverted easily https://github.com/oppia/oppia/pull/12502#issuecomment-823677665. Per [revert policy](https://github.com/oppia/oppia/wiki/Revert-and-Regression-Policy#when-to-revert-a-pr), this issue needs to be marked blocking:

/cc @aks681 @vojtechjelinek

[2021-04-21 01:38] vojtechjelinek commented on #12537
I tried to lower the version of `google-cloud-translate` to `1.7.0` and it didn't solve the problem. Also when the current develop is deployed to the backup server the error is happening there too (I was trying to test some PRs on the backup server).

[2021-04-21 02:06] U8NWXD commented on #12537
I have seen this locally. It disappeared once I ran `scripts.clean` and re-installed

[2021-04-21 02:09] vojtechjelinek commented on #12537
Cleaning didn't help in my case.

[2021-04-21 02:45] Radesh-kumar commented on #9749
I'm working on `exploration-player-page`.
Assigned you the `admin-config-tab`

[2021-04-21 02:50] Radesh-kumar commented on #4057
Can you show me the spec file?

[2021-04-21 05:05] ReshuKumari commented on #12520
python -m scripts.clean or resetting things can help.

[2021-04-21 05:17] taiwo2 commented on #4057
here is my spec file
![Screenshot 2021-04-21 061316](https://user-images.githubusercontent.com/38242590/115500456-39356b00-a269-11eb-8944-dc22c6eee5dd.png)
<code>
// Copyright 2018 The Oppia Authors. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License a

[2021-04-21 05:31] Radesh-kumar commented on #4057
@taiwo2
`story-creation.service.ts` is still in angularJS. You have two options.
1.write tests in angularJS
2.migrate `TopicEditorStateService` to angular
(I'd recommend 1st option as this service is depending on another service `topic-editor-state.service.ts` unless you are familiar with angular migration)

[2021-04-21 05:35] taiwo2 commented on #4057
i should write the test in angular?
please can you send me a guide line to follow or sample to follow

[2021-04-21 05:40] Radesh-kumar commented on #4057
You should write them in angular JS.
Instead of using Angular Test Bed use $injector.
(Most of the logic will remain same)
Sample file: https://github.com/oppia/oppia/pull/12094
Guide: https://github.com/oppia/oppia/wiki/Frontend-unit-tests-guide

[2021-04-21 05:41] taiwo2 commented on #4057
thanks

[2021-04-21 05:56] shubhamkorde commented on #12537
@U8NWXD I did the same thing. The error disappeared after that. Thanks!

[2021-04-21 05:58] shubhamkorde commented on #10064
I ran `python -m scripts.clean` and reinstalled. The error disappeared after doing it.

[2021-04-21 07:27] seanlip commented on #12520
@ReshuKumari -- did scripts.clean solve the problem fully on your machine?

[2021-04-21 07:47] ReshuKumari commented on #12520
@seanlip I ran the backend tests with target multiple times and checked for now it runs fine.

[2021-04-21 07:48] mridul-netizen opened #12575 "Audio Bar can be fixed or synced with Top-navigation-bar"
**Describe the bug**
Audio Bar is not fixed with Top-navigation-bar

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2.See the Audio bar in mobile view

**Smartphone (please complete the following information; delete this section if the issue does not arise on smartphones):**
-All displays

**Additional context**
Add any other context about the pro

[2021-04-21 10:31] Preethi9194 opened #12577 "[Learner Dashboard][Mobile] Graph Theory interaction does not allow to add the edges and Move on a Mobile"
[Learner Dashboard][Mobile] Graph Theory interaction does not allow to add the edges and Move

Steps to reproduce the behavior:
 1. Go to any interaction which has graph theory
 2. Click on add node
 3. Place the nodes
 4. Click on add edges
 5. Observe that the edges cannot be dragged from the nodes and also the existing nodes do not move

**Observed behavior**
Observe that the edges cannot be dr

[2021-04-21 11:08] Preethi9194 opened #12580 "[Accessibility] Questions and responses are not read out to the user for interaction"
[Accessibility] Questions and responses are not read out to the user for interaction

Steps to reproduce the behavior:
 1. Go to any interaction
 2. Turn on the screen reader (ChromeVox, ctrl+alt+Z)
 3. Hit tab to move over the controls
 4. Observe if the question is keyboard focused and screen reader is reading out the question to the user

**Observed behavior**
The question is not keyboard focus

[2021-04-21 13:44] pankajdahiyapd commented on #10700
Please unassign me from 'Units'.

[2021-04-21 13:46] pankajdahiya008 commented on #9749
Please unassign me from `oppia-footer` and `question-difficulty-selector` directive. Thanks.

[2021-04-21 14:30] vojtechjelinek commented on #12537
Okay, it seems that `scripts.clean` and also reinstalling my virtualenv helped.

[2021-04-21 15:08] mridul-netizen commented on #12443
Solved with latest release

[2021-04-21 15:08] #12443 closed, assigned to nobody

[2021-04-21 15:11] jimbyo commented on #12580
Hi! Thanks for filing the issue Preethi. I'm curious about what the expected behavior should be here. Is it that the text for questions and responses should be tabbable? Or that the focus should be automatically set to the question when the interaction is displayed.

[2021-04-21 15:17] Preethi9194 commented on #12580
Yes the question should be tab-able and focused by the keyboard as soon as the interaction starts, so that the screen reader can read the question to user. Also, when the answer is submitted the response has to be read out (whether it is correct or to try again)

[2021-04-21 15:22] mridul-netizen commented on #12446
Resolved with latest release

[2021-04-21 15:22] #12446 closed, assigned to nobody

[2021-04-21 15:37] mridul-netizen opened #12582 "Drag and Drop sort interaction gives some console errors"
https://user-images.githubusercontent.com/60519303/115581094-527bfd00-a2e5-11eb-9098-c5c0c7ee5c18.mp4

**Describe the bug**
Drag and Drop sort interaction gives some console errors

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/
 2. Create an exploration
 3. add drag and drop sort interaction with expected outcomes
 4. Go to preview tab and see the

[2021-04-21 19:05] benberk commented on #9749
@Radesh-kumar Thanks! And in that case, can you assign me `display-hint-modal` too?

[2021-04-21 19:31] MA86 commented on #11496
Hello @U8NWXD,

I'm slowly progressing towards a solution for issue: **Do not access `.length` of `ElementArrayFinders`**. However, I wanted to checkout all instances of `ElementArrayFinders` in the code-base, but *I can't seem to find it being used anywhere* inside `opensource/oppia` folder. I used VSCode's search functionality (was able to find other keywords but not `ElementArrayFinders`).

I t

[2021-04-21 20:08] U8NWXD commented on #10798
Deassigned @ayushi0014 @Prototype4988 @Yashs911 @tanishq67 @geekysumant

[2021-04-22 01:52] srijanreddy98 opened #12585 "SVGs are not resized when reducing image size in image-with-regions interaction."
**Describe the bug**
When creating an image-with-region interaction, we get an option to resize the SVG. After resizing the SVG and clicking on `Use This Image`, the modal now allows us to draw regions on the image. However, the image is of the original height and width and not the reduced one.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login into oppia
 2. Click on image-with-regions

[2021-04-22 03:03] U8NWXD commented on #12264
This is occurring on the test server and should block this release

[2021-04-22 03:36] U8NWXD opened #12586 "Questions Merged when Merging Assigned Skills"
**Describe the bug**
While we don't allow merging two skills that are both assigned, the questions actually do get merged when attempting to do so.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Create two skills and assign both to the topic
 3. Create one question in each skill
 4. From the topics and skills dashboard page, try and merge the skills

**Observed behavior*

[2021-04-22 03:39] U8NWXD opened #12587 "Back Arrow Fails on Skill Editor"
**Describe the bug**
After opening a skill from the topics and skills dashboard, the browser back button doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill
 2. Open that skill from the topics and skills dashboard
 3. Click the browser's back arrow

**Observed behavior**
Nothing happens

**Expected behavior**
We should return to the topics and skills dashboard

**De

[2021-04-22 03:54] U8NWXD commented on #12587
This does not appear to be an issue on Chrome

[2021-04-22 03:56] U8NWXD commented on #12586
This also happens on Chrome 89 (macOS)

[2021-04-22 03:58] DubeySandeep opened #12588 "The username on the contributor dashboard page looks overlapped on the outset"
**Describe the bug**
The username on the contributor dashboard page looks overlapped on the outset

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /contributor-dashbaord
 2. Check the username on top while the page starts to load

**Observed behavior**
The username on the contributor dashboard page looks overlapped on the outset

**Expected behavior**
The username and the dummy profil

[2021-04-22 04:00] U8NWXD commented on #12577
@Preethi9194 does this work on production currently (i.e. is this a regression)?

[2021-04-22 04:04] MA86 commented on #11496
Sorry for posting again @U8NWXD! Could you reassign me to **`Do not use .then()`** issue?

I'll come back to the issue currently assigned to me after I get more experience with ESLint.

Thank you, and disregard my message above for now.

[2021-04-22 04:04] U8NWXD commented on #12426
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:06] U8NWXD commented on #12575
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:06] U8NWXD commented on #12582
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:07] DubeySandeep opened #12589 "The opportunity item in the contributor dashboard looks overloaded with animations"
**Describe the bug**
The opportunity item in the contributor dashboard looks overloaded with animations i.e, firstly it shows loading grey bar then it texts dropping animation (See video below). Not sure whether that's expected?

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `/contributor-dashbaord`
 2. Click on `Submit question` tab

**Observed behavior**
Check how the opportunities

[2021-04-22 04:07] U8NWXD commented on #12264
Assigning @apurvbotle since they already have a PR open to fix this

[2021-04-22 04:07] U8NWXD commented on #12586
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:08] U8NWXD commented on #12587
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:08] U8NWXD commented on #12580
@kevintab95 @aks681 since this bug is in the learner experience, could you either take it up or delegate it to someone else in the LACE team?

[2021-04-22 04:17] Preethi9194 commented on #12577
No, its not working on production as well

[2021-04-22 04:24] Preethi9194 commented on #12577
It is working on Production

[2021-04-22 04:49] Radesh-kumar commented on #9749
Done! It's all yours.

[2021-04-22 04:50] Nik-09 commented on #10766
@seanlip  I have created a video in which it works completely fine. please confirm that I'm approaching in correct direction as mentioned in the issue.
Thanks

[2021-04-22 04:51] Nik-09 commented on #10766
https://user-images.githubusercontent.com/57531197/115657436-7f1b2d80-a354-11eb-97c4-f7c6d3fc5fb2.MP4

[2021-04-22 04:58] Nik-09 commented on #10766
And while testing this issue I have encountered that, navigating from story preview page back to story editor page the link is changed but the page contents remains same as for story preview page.

I'm attaching a video demostrating the issue,

https://user-images.githubusercontent.com/57531197/115657923-63fced80-a355-11eb-8e2c-9a7c4b53f629.MP4

Please confirm that do I have to open one issue meti

[2021-04-22 05:02] nithusha21 opened #12590 "The publish changes button in the question editor never becomes clickable"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11898234/115657898-534c7780-a355-11eb-9b72-9d6bd1344f88.png)
The publish changes button seems useless on this page. I clicked on the save button on the right side to save my changes. The publish button never became clickable. Also the save button is clickable with no changes made. This could mean empty commits?

**To Reproduce

[2021-04-22 05:25] EeshaArif opened #12591 "Cannot Sign-In to Oppia in Incognito Mode on Chrome"
**Describe the bug**
Cannot Sign in to Oppia with any account in Incognito Window on Chrome

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Incognito Window on Chrome
 2. Go To [oppiatestserver](https://oppiatestserver.appspot.com/)
 3. Sign In with an account

**Observed behavior**
It fails to sign in to the account

**Expected behavior**
It should sign in to the account and redirect

[2021-04-22 05:35] seanlip commented on #10766
Hi @Nik-09, thanks for raising the question! I confirm that the behaviour described in your first video is correct. Additionally, the behaviour described in the second issue is problematic and is worth filing a bug for.

Also, you might want to talk to @srijanreddy98 as he can provide advice on whether the Angular router should be used here or not.

Thanks!

[2021-04-22 06:12] EeshaArif opened #12592 "Assigning Playtester role to a user in a public Exploration causes a server error"
**Describe the bug**
Assigning a Playtester Role to any user in a **public** exploration is not working and is causing a server error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Exploration Editor of a public (published) exploration
 2. Go to Settings Tab
 3. Scroll down to Roles
 4. Click Edit and Assign playTester Role to a user
 5. Click Save

**Observed behavior**
It does

[2021-04-22 06:18] Nik-09 opened #12594 "When clicking back button to story editor form story preview, the url changes but the page content remains same."
**Describe the bug**
While navigating from story preview section to story editor section via back button given in chrome near url section, the url changes but the page content remains same as that of story preview.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to story editor page.
 2. Click on navigate to story preview section.
 3. Now navigate back to story editor section via back bu

[2021-04-22 06:24] Nik-09 commented on #10766
@seanlip I have created the issue for second video.
https://github.com/oppia/oppia/issues/12594

I also want to confirm that according to first video, navigating back to story editor from chapter works completely fine.
So is the current issue needs to be fixed ?

[2021-04-22 06:25] srijanreddy98 commented on #11811
@seanlip PTAL!

[2021-04-22 06:27] seanlip commented on #10766
How strange. You're right -- this seems to be fixed in production. So I agree, we can close it. Thank you for investigating!

[2021-04-22 06:27] #10766 closed, assigned to nobody

[2021-04-22 06:31] krishita30j commented on #9749
Hi @Radesh-kumar, as discussed with Kevin, I am working on a [PR](https://github.com/oppia/oppia/pull/12348) which requires the migration of select-skill-modal.controller.ts. So can you assign me this controller. I'll include the migration in this PR. Thanks!

[2021-04-22 06:49] Nik-09 commented on #12594
As per discussion [here](https://github.com/oppia/oppia/issues/10766) @srijanreddy98 can you please suggest whether angular router should be used here or not ?

[2021-04-22 07:37] Radesh-kumar commented on #9749
@benberk Can you pick another one it has dependency over `audio-player.service.ts`

[2021-04-22 07:44] Radesh-kumar commented on #9749
Done!, Thanks for mentioning.

[2021-04-22 08:21] Nik-09 commented on #10914
@kevintab95 I am working on this issue.
Thanks.

[2021-04-22 08:36] DubeySandeep opened #12598 "The labels on the question suggestion modal are not aligned correctly"
**Describe the bug**
The labels on the question suggestion modal are not aligned correctly

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contributor dashboard page
 2. Click on Submit question tab
 3.Click Suggest question button

**Observed behavior**
The labels on the question suggestion modal are not aligned correctly

**Expected behavior**
The "skill description" label is not al

[2021-04-22 12:04] #12571 closed, assigned to srijanreddy98

[2021-04-22 13:28] srijanreddy98 commented on #12594
Hi @Nik-09, I will take a look in a day. Please let me know if this is something very urgent. Thanks!

[2021-04-22 13:30] srijanreddy98 commented on #12292
Hi @iamprayush... I don't think this is required... You can pass values normally, you don't have to stringify. We pass `last-answer` normally using bindings. Just wanted to let you know that this is not dependent on migration and can be migrated. Let me know if you need any help with this. Thanks!

[2021-04-22 13:46] U8NWXD opened #12599 "Pin All Dependency Versions"
## Problem

We currently pin our direct dependencies. However, we don't pin second-level dependencies (the dependencies of our dependencies. For example, we pin a version of `piptools`, but `piptools` depends on `pip`. When we install `piptools`, we install the latest version of `pip`, so that `pip` version is not pinned. This can lead to breakages on CI when a new version of `pip` is released tha

[2021-04-22 13:52] U8NWXD commented on #12590
@vojtechjelinek are the empty commits an issue from a data integrity perspective? If not, I don't think this needs to block the release

[2021-04-22 16:34] U8NWXD commented on #11496
@MA86 Are you going to stop working on the `.length` issue for now? If so, I'll deassign you from that so someone else can take it up. Regarding your question, we don't instantiate `ElementArrayFinder` elements directly. Instead, they get returned from calls like `element(...)`

[2021-04-22 16:36] U8NWXD commented on #12577
In that case, I think this should block the release. Assigning to @kevintab95 and @aks681 as leads of LACE team

[2021-04-22 16:50] Preethi9194 commented on #12577
I am sorry for the inconvenience. I rechecked it just now and it works as intended.

[2021-04-22 17:37] benberk commented on #9749
Yes, is `information-card-modal` available?

[2021-04-22 17:41] ahreehong commented on #11496
Hi @U8NWXD, could I take up the `Do not use forEach` issue?

[2021-04-22 17:49] jimin-shin commented on #9749
Hi @Radesh-kumar, I was assigned to migrate a controller. Should I follow the instructions for migrating the ts file for directives, such as creating a component? I can't seem to figure out how to do this. Or should I only migrate the HTML file? Thanks!

[2021-04-22 18:51] Radesh-kumar commented on #9749
Firstly you have to check whether your assigned controller is dependent on any other service or directive which still in angJS.
If that's the case you have to migrate the dependent file and later the assigned controller.
If not you can directly migrate the controller.
You will be migrating the controller to the component, then migrate the corresponding HTML file.
Please follow the wiki page https:

[2021-04-22 18:55] Radesh-kumar commented on #9749
Yup! assigned you the same.

[2021-04-22 19:34] srijanreddy98 commented on #8574
Angular CLI uses browserlist for adding polyfills. https://github.com/browserslist/browserslist#queries. We can use this with Google Analytics to tune the browserlist as per our audience. There is a plugin for this: https://github.com/browserslist/browserslist-ga

[2021-04-22 20:20] tanishq67 commented on #12537
Thanks! it took a little time, but it worked.

[2021-04-22 20:24] MA86 commented on #11496
@U8NWXD Yes, please reassign me to **`Do not use .then()`**.

Thank you,

[2021-04-22 21:44] vojtechjelinek commented on #12590
Hmmm, not sure about this one, I guess empty commits shouldn't exist. But I assume that if the save button is activated there should be some non-empty commits.

[2021-04-22 21:50] vojtechjelinek commented on #12590
I just tried this one out and it seems that even if you make a meaningful change there is no way to save it, I guess this should go to the LaCE team.

[2021-04-22 21:50] vojtechjelinek commented on #12590
@kevintab95 @aks681 PTAL

[2021-04-22 22:40] seanlip commented on #12512
I faced this issue for certifi today after running scripts.clean.

The fix was to run `python -m pip install certifi==2020.12.5 --target ../oppia_tools/certifi-2020.12.5` manually before running scripts.start. I think we might need to refactor our scripts to ensure that this does not arise in the future, since it's a serious blocker for newer contributors.

/cc @DubeySandeep

[2021-04-22 22:56] seanlip commented on #11811
Thanks for the heads-up! This is addressed in #12605.

[2021-04-22 23:37] rodemore opened #12606 "Transforming the no-testonly lint checker into a more general checker."
This issue is related to the PR #12455 . That PR consists on a custom lint check for JS/TS that verifies that functions containing testOnly in their name are not called in non-specific files.
As a suggestion from @DubeySandeep and @Hudda it is proposed to make this checker more general, where more phrases to exclude can be configured, and so in the future more phrases can be easily added.

Points

[2021-04-23 00:37] jimin-shin commented on #9749
Hi @Radesh-kumar, can I take up `confirm-discard-changes-modal.template` and `confirm-leave-modal.template`?

[2021-04-23 01:36] iabouara24 commented on #11496
Hi @U8NWXD, could I claim `Make sure to have nested awaits for await (await browser.switchTo().activeElement()).sendKeys(explanation);. There should be no exceptions to this.`?

[2021-04-23 03:01] U8NWXD commented on #12577
Interesting. I'm going to leave this open in case kevintab95 or aks681 can reproduce it, but if it's not reproducible we can close it

[2021-04-23 03:03] U8NWXD commented on #11496
@MA86 @iabouara24 @ahreehong done!

[2021-04-23 04:55] kevintab95 commented on #12547
This is seriously blocking the adding of translations via the exploration editor.

[2021-04-23 04:56] kevintab95 commented on #12547
@U8NWXD FYI I've added this to the blocking bugs.

/cc @seanlip

[2021-04-23 05:00] kevintab95 opened #12609 "Visiting exploration editor for explorations containing large number of snapshots throw an error"
**Describe the bug**
Visiting exploration editor for explorations containing large number of snapshots throw an error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this](https://www.oppia.org/create/umPkwp0L1M0-) exploration editor.
 2. See error.

**Observed behavior**
Visiting exploration editor for explorations containing large number of snapshots throw an error.

**Expected be

[2021-04-23 05:01] kevintab95 commented on #12609
@U8NWXD FYI I've added this to the list of blocking bugs.

/cc @seanlip

[2021-04-23 05:04] kevintab95 opened #12610 "Copying not working for concept cards"
**Describe the bug**
Copying not working for concept cards.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard.
 2. Translate content containing a concept card.
 3. Use the copy tool to copy the concept card.
 4. Observe that the concept card opens up but the concept card tag is not copied.

**Observed behavior**
Copy tool opens the concept card instead of copyi

[2021-04-23 05:04] kevintab95 commented on #12610
@U8NWXD FYI I've added this to the blocking bugs.

/cc @seanlip

[2021-04-23 05:47] benberk commented on #9749
@Radesh-kumar How should I migrate directives that have a `compile` element? For reference, I am looking at `schema-based-choices-editor.directive.ts` which I think needs to be migrated for use with `admin-config-tab`

[2021-04-23 05:52] EricZLou commented on #12223
Hm this is interesting. Our CSS code isn't too organized, so it's difficult to parse through, but can you try putting `color: #333` in the `oppia-editor-warnings-header`  CSS class and see if that fixes it?

[2021-04-23 06:40] #12400 closed, assigned to nobody

[2021-04-23 06:40] #12505 closed, assigned to nobody

[2021-04-23 09:18] Radesh-kumar commented on #9749
@ashutoshc8101 can you respond to this?

[2021-04-23 09:20] ashutoshc8101 commented on #9749
@srijanreddy98 is the best person for this.

[2021-04-23 09:23] ashutoshc8101 commented on #9749
actually, I have pr for schema-based-choices-editor directive. admin-config-tab can be migrated without migrating schema-based-editor. You have to use SchemaBasedEditorDirective present in schema-based-editor.directive.ts file. If there are any change detection issues them please approach me and @Radesh-kumar anytime.
Example: #12602

[2021-04-23 09:56] kevintab95 opened #12612 "[Frontend Test Flake] Customize Interaction Modal Controller"
The following `it` blocks flaked [here](https://github.com/oppia/oppia/runs/2417937678?check_suite_focus=true).

`Customize Interaction Modal Controller when state editor is in question mode should open a confirmation modal with resolution`

`Customize Interaction Modal Controller when state editor is in question mode should open a confirmation modal with rejection`

[2021-04-23 09:56] kevintab95 commented on #12612
/cc @nithusha21 @U8NWXD

[2021-04-23 10:23] srijanreddy98 opened #12613 "ParseError: KaTeX parse error: Expected '}', got '^' at position 28: …{\text{\small{2^̲2}}}"
**Describe the bug**
Katex parse error in Numeric Interaction

**To Reproduce**
Steps to reproduce the behavior:
 1. Click on create and exploration
 2. Select the numeric interaction
 3. Add 2^2 as placeholder text
 4. See error

**Screenshots**
https://drive.google.com/file/d/1gpyflx1aonmb9n6mCur_tKJczBkkZuO7/view?usp=sharing

**Desktop (please complete the following information; delete this sec

[2021-04-23 10:26] kevintab95 commented on #12613
/cc @U8NWXD FYI

[2021-04-23 10:50] halsheik commented on #11496
Hi @U8NWXD. Can you deassign me from `Do not index into ElementArrayFinders with bracket notation ([])` and assign me to `Do not use filter`? The former is a bit too complex for me given my inexperience with eslint.

[2021-04-23 13:33] U8NWXD commented on #12589
This doesn't seem to affect usability, so I don't think it needs to block the release. I'll leave the issue open though for the contributor experience team to look at in case they want to change this UI

[2021-04-23 13:35] U8NWXD commented on #12613
I agree, this should block the release. Assigning to @aks681 and @kevintab95 for triage by the LACE team

[2021-04-23 13:38] vojtechjelinek commented on #11283
@subedi90 Was this fixed?

[2021-04-23 13:40] U8NWXD commented on #12609
I was able to reproduce this. Here are the console errors:

[code]

[2021-04-23 13:41] U8NWXD commented on #12609
Assigning to @kevintab95 since this looks like a server error. Please reassign as needed!

[2021-04-23 14:39] U8NWXD commented on #12463
@abhishekalbert Have you been able to get more details on this error?

[2021-04-23 14:49] lkbhitesh07 commented on #12223
I already tried it @EricZLou, thanks for the suggestion but it's not working.

[2021-04-23 15:12] #12550 closed, assigned to vojtechjelinek, DubeySandeep

[2021-04-23 15:51] #11811 closed, assigned to seanlip

[2021-04-23 15:56] DubeySandeep opened #12617 "Send develop branch failure report to flake-tracker-server"
Currently, only the PR author and the person who merged the PR get emails related to the failure on a develop branch, we need a way to track build failures on develop branch!

Through this issue, we want to send failure reports to our existing `flaky test reporter` server and on weekly basis check flakiness for the failure in the develop branch for all the builds.

[2021-04-23 15:56] kevintab95 commented on #12590
Questions are published when you click save using the button on the right. Empty commit issue can be fixed, I think.

https://user-images.githubusercontent.com/11008603/115898147-db786d00-a47a-11eb-8520-ceff24efe9af.mp4

[2021-04-23 16:00] hardikkat24 commented on #12520
I don't encounter this error now.

[2021-04-23 16:16] hardikkat24 commented on #10415
@vojtechjelinek This issue can be closed. Thanks!

[2021-04-23 17:53] U8NWXD commented on #12598
@sagangwee this looks like an issue with the contributor dashboard, and it's blocking the release. Could you PTAL and either fix or reassign as needed?

[2021-04-23 19:28] DubeySandeep opened #12621 "Suggestions for delete opportunities are visiible for reviews and throws error"
**Describe the bug**
Suggestions for delete opportunities are visible for reviews and throws errors.

**Expected behavior**
The suggestion for deleted opportunity should get automatically rejected and should not be presented to reviewers for the review!

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/115920421-ca8a2480-a497-11eb-903e-40307b571d10.png)

[2021-04-23 19:34] DubeySandeep opened #12622 "Accepting suggestions for exploration with parameters raises 500 error"
**Describe the bug**
Accepting suggestions for exploration with parameters raises 500 error

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard page and
 2.Review any suggestion for `new topic 0 / story / sfsdfsdf`
 3. Click the "Accept and review next" button

**Observed behavior**
The review fails with 500 error

**Screenshots**
![image](https://user-images.git

[2021-04-23 19:44] DubeySandeep opened #12623 "Adding long text for reject-message throws 500 error"
**Describe the bug**
Adding long text for reject-message throws 500 error

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard
 2. Start reviewing a suggestion
 4. Write a very long review message (there is no limitation on the frontend.)
 5. Click "Reject and review next" button

**Observed behavior**
The suggestion rejection fails with 500 error

**Screenshots**
![i

[2021-04-23 19:56] DubeySandeep opened #12624 "Unable to sign-in with some gmail account on test server"
**Describe the bug**
Unable to sign in with some Gmail account on the test server (I'm able to login with my other account)

**Observed behavior**
After the sign-in, I'm again redirected to the splash page and the signing button is visible.

**Video**
https://drive.google.com/file/d/1YKOBxHe8D9uhUf2h0364ajqPtk2TXnXM/view

[2021-04-23 19:58] DubeySandeep commented on #12624
I tried two different accounts from the incognito window and I see the same behavior i.e, unable to sign in.

[2021-04-23 20:01] seanlip commented on #12624
Does this only happen in incognito? /cc @brianrodri

[2021-04-23 20:01] U8NWXD commented on #12624
Are you allowing third-party cookies? I had to add exceptions for `oppiatestserver.appspot.com` and `oppiatestserver.firebaseapp.com` since I block third-party cookies

[2021-04-23 20:02] U8NWXD commented on #12624
Also, can you check for console errors? When I had this issue, a console error about a cookie being blocked appeared briefly

[2021-04-23 20:05] DubeySandeep commented on #12624
I see the following errors^

[2021-04-23 20:14] DubeySandeep commented on #12624
![image](https://user-images.githubusercontent.com/16653571/115925141-4e470f80-a49e-11eb-9b71-b827d155c875.png)

I think by default chrome disables third-party cookies in incognito mode.

I'm not sure whether we will be able to do something to store firebase cookies but I think the should be some user-facing message alerting users about the same!

[2021-04-23 20:16] DubeySandeep commented on #12624
I confirm that after setting "Allow all cookies" I was able to log in correctly with all the accounts.

[2021-04-23 20:20] U8NWXD commented on #12624
In that case, I think the problem here is that Oppia requires third-party cookies. I at least expect websites to work without third-party cookies (and apparently Chrome's development team does too). @brianrodri can we avoid relying on third-party cookies?

[2021-04-23 20:20] DubeySandeep opened #12625 "Images from older rejected suggestions are broken (404) on test server"
**Describe the bug**
Images from older rejected suggestions are broken (404) on test server

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/115925682-2c01c180-a49f-11eb-996b-eebd609593c2.png)
![image](https://user-images.githubusercontent.com/16653571/115925747-4b005380-a49f-11eb-9ae2-f2f305e3dc14.png)

[2021-04-23 20:27] MA86 commented on #11496
Hi @U8NWXD. I completed my lint-check rule and test. I ran `python -m scripts.run_custom_eslint_tests`. *All* tests passed at 100% except one, `% Branch: 77.5%`. I'll figure out why.

1. Where do I run `yarn install`? In `opensource/oppia/node_modules` directory?
2. Do I edit `.eslintrc` file *directly on GitHub*? I don't have `.eslintrc` in my local `opensource/oppia/` directory.

[2021-04-23 20:30] brianrodri commented on #12624
Hmm according to this [stackoverflow post](https://stackoverflow.com/a/55549101/4859885) GAE does not support SameSite cookies by default, we'd need to install an "override" of the `webob` library to fix this issue. I'll look into feasibility over the weekend and post any findings by Monday.

[2021-04-23 20:54] Nik-09 commented on #6271
@DubeySandeep I am working on update_interaction_answer_groups.
Thanks

[2021-04-23 21:03] U8NWXD commented on #12624
How would SameSite cookies help? My understanding of the problem is that `*.firebaseapp.com` is setting a cookie for `*.oppiatestserver.appspot.com`. This is why it's a third-party cookie. Importantly, it's a third-party cookie because of how it's *set*. [SameSite](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite) only controls whether a cookie is *sent* with a particu

[2021-04-23 21:06] brianrodri commented on #12624
Ah, my understanding is that "Block third-party cookies and site data" is causing issues. Using SameSite promotes the cookie to "first-party", which would resolve the issue. I've also assumed that Sandeep has signed in to both servers and their names collided with each other-- depending on a SameSite cookie _should_ resolve that collision if my understanding of SameSite is correct (taken from: htt

[2021-04-23 21:26] U8NWXD commented on #12624
I tested the hypothesis that this is a collision problem by deleting all cookies from `*oppiatestserver.appspot.com`. There were no cookies from `*oppia.org` or `*firebaseapp.com`. I was signed into my Google account. With Chrome set to block third-party cookies and with neither `*oppiatestserver.appspot.com` nor `*oppiatestserver.firebaseapp.com` in the exceptions list, I saw the problem Sandeep

[2021-04-23 21:28] brianrodri commented on #12624
Would it be possible to patch #12626 and confirm using that? I don't think the steps you've listed are enough to emulate the functionality of SameSite cookies, but I may be mistaken.

[2021-04-23 21:31] U8NWXD commented on #12624
I agree that my steps didn't emulate SameSite cookies. I'm arguing that this problem happens even when there's no collision. I was responding to this part of your comment:

[2021-04-23 21:33] U8NWXD commented on #12624
Is it possible to test #12626 without deploying to the test server, or is that required? /cc @aks681 (current release coordinator)

[2021-04-23 22:08] Mayank-gaur commented on #8423
Thanks @Hudda . I have created a PR on this task. @Hudda , @DubeySandeep PTAL.

[2021-04-23 22:16] kevintab95 commented on #12625
Does the image exist in the relevant GCS URL? If not, these were rejected because of broken images (prevalidation fails and we auto-reject) -- we had instructed translation reviewers to reject such suggestions too.

Note that we have fixed the issues causing bad images ending up for review in the first place. So this may be a non-issue.

[2021-04-23 22:40] ahreehong commented on #11496
Hi @U8NWXD, I was working on my assigned lint-check with @jimin-shin and we just opened a PR under her username!

[2021-04-24 00:52] seanlip commented on #12624
Yup -- could one of you please fill out this form accordingly? https://github.com/oppia/oppia/wiki/Testing-jobs-and-other-features-on-production#submitting-a-pr-with-a-new-job-or-feature-that-requires-third-party-api

Also /cc @vojtechjelinek who looks after this process.

[2021-04-24 01:38] U8NWXD commented on #12624
@seanlip Could you clarify what your "yup" was in response to? Specifically, was that "yes, it is possible to test without deploying to the test server" or "yes, deploying to the test server is required"?

Also, brianrodri's solution doesn't use any new third-party API and doesn't require that any jobs be run, so I don't understand how the wiki page is relevant. Could you explain further?

[2021-04-24 01:49] seanlip commented on #12624
Yup, it's possible to test without deploying to the test server (that is used for release testing) specifically. We have other prod servers that simulate a prod environment. The wiki page provides instructions to deploy on the latter type of server.

The wiki page is relevant for anything that we want to test in production, which includes this (I think) since we can't reliably test it locally.

Do

[2021-04-24 02:32] MA86 commented on #11496
Hi @U8NWXD, what should my current working directory be when I run `yarn install` after removing `node_modules/eslint-plugin-oppia/`?

I tried running `yarn install` with my cwd being the main `oppia` folder, but when I subsequently run `python -m scripts.linters.pre_commit_linter --path core/tests/protractor`, I get the error `ESLint couldn't find the plugin "eslint-plugin-oppia`.

BTW, I deleted

[2021-04-24 06:01] sagangwee commented on #12598
@kevintab95 This seems like a question editor issue.

[2021-04-24 08:52] DubeySandeep opened #12630 "Content in review translation moddal doesn't align correctly"
**Describe the bug**
Content in review translation modal doesn't align correctly (See image below)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard page
 2. Try to review a translation suggestion with the following pattern: `"<long text>"`

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/115953369-a6b2f700-a508-11eb-92d7-12d74b43320

[2021-04-24 08:57] ehwu commented on #10474
Hi @vojtechjelinek,
LearnerParamsService seemed to be already included in tsconfig-strict.json and yielded no errors.  For ImprovementsService and NumericExpressionInputRulesService, I believe I have fixed the issues in the files, though am still seeing many errors from the imported files for each.  How should I continue with this?

[2021-04-24 08:59] DubeySandeep opened #12631 "Images doesn't show up when translating content with image"
**Describe the bug**
Images don't show up when translating content with an image (See image below with console log)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor ddashbaord
 2. Try translating content having images

**Observed behavior**
A blank white box is presented instead of images and there's some error log in console.

**Screenshots**
![image](https://user-images.g

[2021-04-24 09:06] DubeySandeep opened #12632 "Math expression editor modal goes behind the translation modal"
**Describe the bug**
Math expression editor modal goes behind the translation modal when a translator tries to add math expression. (See video below)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Contributor dashboard page
 2. Start translating a lesson
 3.  Try inserting math expression using "X2" icon in RTE

**Observed behavior**
The math expression modal goes behind the translat

[2021-04-24 09:08] DubeySandeep commented on #12632
This is happening for all the components having a modal editor in RTE such as:

1. Image upload
2. Diagram editor
3. Video
4. Link
5. Math expression

Except for Concept card link component.

[2021-04-24 09:30] DubeySandeep opened #12633 ""Go back" button in the submit-translation modal doesn't works as expected"
**Describe the bug**
"Go back" button in the submit-translation modal doesn't work as expected, clicking it multiple times leads to "Sorry! All available translations are in review currently."

Also, I'm not sure what the "Go back" button is expected to do!

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the contributor dashboard page
 2. Start translating a lesson
 3. Click the "Go b

[2021-04-24 09:44] DubeySandeep opened #12634 "Unable to copy concept-card-link through copy tool"
**Describe the bug**
The copy feature in the submit-translation modal doesn't work for the concept card link

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard
 2. Start translating a lesson with the concept-card link in content
 3. Try copying the concept card link using the copy tool

**Observed behavior**
It opens the modal to show the concept card data instead o

[2021-04-24 11:03] ehwu commented on #4057
Would I be able to work on question-player-engine.service.ts?

[2021-04-24 11:18] Radesh-kumar commented on #4057
Its all yours :)

[2021-04-24 13:03] atpug22 commented on #12582
@mridul-netizen I tried but I am not able to reproduce the error. Can you tell me what answer groups you made exactly?

[2021-04-24 13:43] mridul-netizen commented on #12582
@atpug22 It functions correctly and seems a bit weird but I was able to reproduce it again

https://user-images.githubusercontent.com/60519303/115960772-e5f53e00-a530-11eb-960a-6a76f1d7cdd2.mp4

Looks like the error comes from `conversation-skin.directive.ts` maybe due to the usage of JQuery

[2021-04-24 17:05] kevintab95 commented on #12634
hey @DubeySandeep this may be a duplicate of https://github.com/oppia/oppia/issues/12610.

[2021-04-24 18:13] benberk commented on #9749
@ashutoshc8101 Thanks for the help, the example was really useful! I have been able to get some data to render on the page (the configuration descriptions, for example) but the schema-based-editor directives are not rendering. I checked and it seems like input values for localValue and schema are correct within schema-based-editor once that directive's view is initialized. Do you have any insight

[2021-04-24 18:21] ashutoshc8101 commented on #9749
Create a draft PR. I will look into it.

[2021-04-24 19:38] ashutoshc8101 commented on #9749
Check if schema based editor directives render after a click anywhere on the page.

[2021-04-24 19:51] benberk commented on #9749
I am trying to push my code to my fork currently, I'm passing tests locally but when I attempt to push it is getting rejected with the following error: `import google.auth
ImportError: No module named auth
`

[2021-04-24 19:52] ashutoshc8101 commented on #9749
delete third_party/python_libs folder and try again

[2021-04-24 20:05] benberk commented on #9749
That worked, I was able to push to the branch `migrate-admin-config-tab` on my fork. I can make a draft PR for that as well if that's best for you.

[2021-04-24 20:05] benberk commented on #9749
No, clicking around didn't seem to resolve the issue