[2017-10-14 01:20] seanlip commented on #2060
I think this is done. Closing.

[2017-10-14 01:20] #2060 closed

[2017-10-14 01:31] seanlip commented on #3272
Addressed in #3408. Closing.

[2017-10-14 01:31] #3272 closed

[2017-10-14 01:37] seanlip commented on #2562
The utility of this is currently unclear. I'm going to close it for now; we'll open it again if creators request it and can explain how this helps them improve their lessons.

[2017-10-14 01:37] #2562 closed

[2017-10-14 01:52] seanlip commented on #2820
I don't think we'll fix this. Safari 8 is used by < 1% of people, and not highly in our target demographics.

[2017-10-14 01:52] #2820 closed

[2017-10-14 01:54] seanlip commented on #1685
We've deprecated most of the advanced features, so this issue is obsolete. Closing.

[2017-10-14 01:54] #1685 closed

[2017-10-14 01:56] seanlip commented on #1602
I'm not sure that we have many people still using Vagrant. I'm going to close this for now but if someone is reading this, is using Vagrant, and is running into this issue, please feel free to reopen.

[2017-10-14 01:56] #1602 closed

[2017-10-14 02:00] seanlip commented on #2056
Actually I think this is no longer needed, given that an email is sent. Closing.

[2017-10-14 02:00] #2056 closed

[2017-10-14 02:05] seanlip commented on #2448
We should also have a flow for creators to integrate their explorations in the collections of lessons that the Oppia team as a whole is working on building.

[2017-10-14 02:36] seanlip commented on #1305
Closing. I think @sbhowmik89 is right.

[2017-10-14 02:36] #1305 closed

[2017-10-14 03:19] seanlip commented on #2032
Dropping as low-priority.

[2017-10-14 03:19] #2032 closed

[2017-10-14 05:20] seanlip commented on #449
I don't see a strong need for this. Closing.

[2017-10-14 05:20] #449 closed

[2017-10-14 05:57] seanlip commented on #3412
Done in #3888. Thanks @kevinlee12!

[2017-10-14 05:57] #3412 closed

[2017-10-14 06:06] seanlip commented on #2731
NB: for the map interaction, it might be possible to build on @jacobdavis11's code in #1009.

[2017-10-14 06:06] seanlip commented on #1009
Subsuming into #2731.

[2017-10-14 06:06] #1009 closed

[2017-10-14 06:24] seanlip commented on #2845
Duplicate of #1270. Closing.

[2017-10-14 06:24] #2845 closed

[2017-10-14 06:25] seanlip commented on #1618
Duplicate of #3271; closing.

[2017-10-14 06:25] #1618 closed

[2017-10-14 06:27] seanlip commented on #3784
Fixed in #3827.

[2017-10-14 06:27] #3784 closed, assigned to seanlip

[2017-10-14 06:42] seanlip commented on #2372
Collapsing this into #2485, which is almost a duplicate.

[2017-10-14 06:42] #2372 closed

[2017-10-14 07:18] seanlip commented on #1111
I don't see consolidation happening in the near-term -- creators think of multiple-choice and checkbox as pretty separate things. Closing.

[2017-10-14 07:18] #1111 closed

[2017-10-14 07:22] seanlip commented on #2112
Duplicate of #3588.

[2017-10-14 07:22] #2112 closed

[2017-10-14 07:33] GaganSuneja commented on #3806
@seanlip  I tried to inspect oppia.org and found a fix for issue in inspector
Adding margin-bottom : 40 px to the .conversation-skin-tutor-card  resolves this.
![oppia_attribution_guide_fix](https://user-images.githubusercontent.com/9746527/31573780-056db5c6-b0e0-11e7-9a69-501790329ee5.png)

[2017-10-14 14:41] tjiang11 commented on #3806
Thanks @GaganSuneja ! I've incorporated your change here #3936

[2017-10-14 14:53] tjiang11 opened #3971 "Lagging when switching feedback updates in learner dashboard."
There’s a rather noticeable lag when switching between feedbacks in the learner dashboard. If you click to view a feedback thread, it will show the previously viewed feedback thread for about a half-second before changing.

To reproduce:
1. Create at least 2 feedback updates to view in the learner dashboard. You can do this by going to an exploration and giving feedback to it (only do this on the

[2017-10-14 14:56] tjiang11 opened #3972 "Reordering 'play later' explorations in learner dashboard looks strange"
The dragging and dropping in the play later list on the learner dashboard is kind of wonky. When you drag the item you’re dragging appears at a vertical offset far from the cursor. This looks similar to the problem with drag and drop hints (https://github.com/oppia/oppia/issues/3773)

To reproduce:
1. Go to the library and mark at least two explorations as play later (the little clock icon at the

[2017-10-14 18:16] GaganSuneja commented on #3806
@seanlip can i take up #3810 ?

[2017-10-14 18:17] #3806 closed, assigned to GaganSuneja

[2017-10-14 18:55] hphu commented on #3954
Will give the Library Page a shot

[2017-10-14 19:01] brianrodri commented on #3954
Great, thanks!

[2017-10-14 23:57] vojtechjelinek commented on #3588
I'm not sure. The RTEs specs JSON file I created is around 200 lines. It would be nice to have it as part of _constants.js_ since then we need to load just one file. But from the development point of view, it is better to have all the information about RTEs separated from everything else and also placed in _/extensions/rich_text_components_

[2017-10-15 12:28] kevintab95 commented on #3822
Will try to get a PR in by the end of October.

[2017-10-15 16:04] DubeySandeep opened #3975 "Repeated error messages on ImageClick Interaction."
While hovering over the save button in ImageClick Interaction, repeated error messages pop-up which looks bit buggy. (All of the error messages are same)

**Steps to reproduce the problem:**
* Create an exploration
* Add an image-click interaction
* Upload an image
* Select few region and while assigning name to them make some error (like name with space or special characters)
* Hover over the Sav

[2017-10-15 22:09] jacobdavis11 opened #3976 "The Code interaction does not display properly in embedded explorations"
Create the following html document:

[code]

and open it in a browser. Click through to the coding interaction. The code editor should display below the explanatory text, but it does not. Interestingly, if you increase the width then it's possible to get the editor to display to the right of the instructions. Also with a narrow screen (e.g. on mobile) the code editor will appear correctly beneath

[2017-10-15 22:30] jacobdavis11 opened #3977 "Learner dashboard does not explain what a collection is"
The learner dashboard has the following text under the "Collections" tab:

but it doesn’t tell you what a collection is, or how to identify one within the gallery.

[2017-10-15 22:33] jacobdavis11 opened #3978 "Learner dashboard incorrectly says I haven't started any explorations"
Complete an exploration, then go to the learner dashboard and select the "In progress" - "Explorations" tab. It says:

But this is not true. It should say that I don't have any incomplete explorations at the moment.

[2017-10-15 22:37] jacobdavis11 opened #3979 "Confusing division between explorations and collections in the learner dashboard"
I find the split between explorations and collections in the learner dashboard rather confusing. For example if if I click on the "In progress" - "Collections" and then click on “Completed” it tells me I haven’t completed any collections. I would expect instead to see the explorations I have completed. I recommend:

(Strongly preferred) Just get rid of the distinction and display explorations and

[2017-10-15 22:39] jacobdavis11 opened #3980 "Learner dashboard does not say how to subscribe to a creator"
In the learner dashboard click on "Subscriptions". It says

It should explain how to subscribe to a creator, and what this will entail.

[2017-10-15 22:43] jacobdavis11 opened #3981 "Add a way to subscribe to creators without getting email notifications"
Currently if you subscribe to a creator (via their profile page) you get emails when they publish an exploration.

Instead, it would be nice to be able to just have their new content displayed in your learner dashboard, without emails. That corresponds to e.g. subscribing to a creator on YouTube.

[2017-10-15 22:47] jacobdavis11 opened #3982 "The feedback count in the NavBar does not update when you read feedback"
Publish an exploration, and as a different user leave feedback on it. Then go to the editor page for that exploration. You will have a little "1" on the feedback tab of the NavBar. Go to the feedback tab and reply to the feedback.

The "1" remains. It should instead disappear, since there is no longer any outstanding feedback.

[2017-10-15 22:51] jacobdavis11 opened #3983 "Learner dashboard tab order is counter-intuitive"
Go to the learner dashboard. The tabs at the side are ordered as:

In progress
Completed
Subscriptions
Feedback updates
Play later

I suggest instead

Play later
In progress
Completed
Subscriptions
Feedback updates

To match the natural order of someone progressing through an exploration (they are going to do it, then they are doing it, then they have done it).

[2017-10-15 22:53] jacobdavis11 opened #3984 "Learner dashboard playlist terminology is unclear"
In the learner dashboard is a "play later" tab. I suggest renaming it because from the point of view of someone using the dashboard it’s “play now”. Netflix calls this “my list”.

Relatedly, in the library when you hover over the top right of an exploration card there is an "add to playlist" option. This might be clearer as “add to my list” since a playlist typically refers to a musical playlist t

[2017-10-15 23:03] jacobdavis11 opened #3985 "The ItemSelection interaction does not always make clear what is selected."
Create an item selection interaction where only two options are permitted. Play the interaction, and select there options.

The third option turns green without being ticked. So it’s not clear if it’s selected or not. The same thing happens if I tick and then untick an option. Instead the presence of a green background should always correspond to the presence of a tick.

[2017-10-15 23:10] jacobdavis11 opened #3986 "Code interaction previous cards do not make previous answers clear"
Create a code interaction with a card after it. Play the code interaction question, proceed to the next card, then click back to see the answer to the code interaction.

There is no student response immediately visible (either in the code editor or in the list of responses). You have to click “previous responses” to see anything. Instead, at least the last submitted answer should be visible.

[2017-10-15 23:42] jacobdavis11 commented on #3982
This also applies to the "feedback updates" tab of the learner dashboard.

[2017-10-16 05:48] pranavsid98 opened #3987 "Use ExplorationStatsModel to display stats in the stats tab"
This implements Milestone 5 of the Stats project.

The aim is to make the stats tab use the new analytics model (ExplorationStatsModel) for stats data retrieval. The next aim of this issue is to make changes to the design of the stats tab to incorporate the proposed changes.

[2017-10-16 11:09] shubha1593 opened #3988 "Use Webpack module bundler"
Currently we manually include every Javascript dependencies in the html files, analysing the order in which they should appear and exactly in which htmls should a javascript file go.
I was wondering if tools like [webpack](https://webpack.github.io/docs/what-is-webpack.html) could help us remove this manual process completely.

As much as I understand it, we'll be giving webpack our initial javasc

[2017-10-16 15:59] jacobdavis11 opened #3989 "There is no clear route to the creator dashboard"
It used to be that (if you had created explorations) you could get to the creator dashboard by clicking on the main Oppia navbar link.

Now that the learner dashboard exists, the only way to the creator dashboard is via a drop-down menu in the NavBar, which users may not be aware of. We should add back a clear pathway to the creator dashboard for users who have created explorations.

[2017-10-16 15:59] jacobdavis11 commented on #3989
@tjiang11 @seanlip

[2017-10-16 18:04] DubeySandeep commented on #3985
Adding Screenshots related to this issue.
![screenshot from 2017-10-16 23 32 10](https://user-images.githubusercontent.com/16653571/31627271-477193a2-b2ca-11e7-943a-66d17d6dfbf0.png)

This problem even occurs when we select and then unselect an option. (see image below)
![screenshot from 2017-10-16 23 33 44](https://user-images.githubusercontent.com/16653571/31627319-7e12c61a-b2ca-11e7-89d9-d620ea

[2017-10-16 18:13] DubeySandeep commented on #3985
@jacobdavis11 This is occurring because of incorrect CSS. The md-checkbox .md-icon class is ._md-icon in the material design. Right now my PR is in pending for review, may I can do one another PR solving this issue through different branch?

[2017-10-16 20:33] jacobdavis11 commented on #3985
That sounds like a good idea. Thanks!

On Mon, Oct 16, 2017 at 11:13 AM, Sandeep Dubey <notifications@github.com>
wrote:

[2017-10-17 00:51] seanlip commented on #3988
@vojtechjelinek -- any thoughts on this?

[2017-10-17 01:04] seanlip commented on #3290
Adding a comment from the TL meeting notes: having fewer shards would improve retrieval time for the answer-processing job when it’s doing computation on the answers, so this might help with improving backend speed/performance.

[2017-10-17 01:37] #3904 closed, assigned to prasanna08

[2017-10-17 01:39] seanlip commented on #1270
Merging #3986 into this. (Text from that issue follows.)

[2017-10-17 01:39] seanlip commented on #3986
Duplicate of #1270 (currently tracked as a severe-priority learner view issue). Thanks for reporting!

[2017-10-17 01:39] #3986 closed, assigned to nobody

[2017-10-17 02:17] seanlip commented on #3588
Yeah, that's true. OK, on balance, let's keep it as two separate files for now, then. I think it's important to make sure things are clear from a development point of view.

[2017-10-17 02:20] seanlip commented on #3806
Hi @GaganSuneja -- yes, please go ahead. No need to ask permission!

Also, please let @tjiang11 know if you have any questions about that issue, since he's in charge of the learner view. Thanks!

[2017-10-17 03:56] pranavsid98 opened #3993 "Readability issue in Audio Translation Settings"
When I opened an exploration and checked the audio translation settings, there is a dropdown menu under the title 'Language'. Normally, I'd think that that would let me choose the language. Rather, the dropdown was something like this:
![screen shot 2017-10-17 at 9 22 53 am](https://user-images.githubusercontent.com/15828797/31646047-182f56c6-b31d-11e7-81ff-f26136451a03.png)

If this means that th

[2017-10-17 03:58] seanlip commented on #3993
Hi @pranavsid98 -- please could you give more reproduction instructions? How do I replicate this on a local machine?

Thanks!

[2017-10-17 04:05] pranavsid98 commented on #3993
Hi @seanlip Added!

[2017-10-17 04:11] pranavsid98 opened #3994 "Display error for Code Interaction."
When I played the exploration 'Multiply in Python', the first card was a Code interaction question in which the code editor was all messed up. There were some un editable blocks of code which I believe was supposed to be the 'append to the user's code' part of the Code interaction. This leaves me with no way to finish the question.

Reproduction instructions:
1. Visit this exploration https://oppi

[2017-10-17 04:49] 1995YogeshSharma commented on #3741
@seanlip ....

Should I remove 'action' all together i.e should I remove the generality in moderator.EmailDraftHandler as well (make it to return draft only for unpublished case) ?

[2017-10-17 04:50] seanlip commented on #3741
Yes, I think so -- the simpler the better. Thanks!

[2017-10-17 09:28] GaganSuneja commented on #3806
@seanlip  Thanks

[2017-10-17 12:28] GaganSuneja commented on #3988
@seanlip  @shubha1593  I think that we should also shift/refactor css3 to sass/scss Or Less for better maintainability of css .What do you think about this? We can also consider using [requireJS](http://requirejs.org/)  ; [Mifos](mifos.org) also uses this to as module loader

[2017-10-17 14:31] DubeySandeep opened #3997 "Overlapped line number in "Code Editor" of edit page."
Line number in Code Editor is overlapped, this happens after line 9  (two-digit nos. are overlapped).
**Steps to reproduce:**
* Create an Exploration and add Programming interaction.
* Add few lines of code in all three section(initial, prepend & append) and save it.
* In edit page you will see the overlapped line numbers. (see image below)
![screenshot from 2017-10-17 19 47 10](https://user-image

[2017-10-17 15:24] tjiang11 commented on #3836
Hi @prasanna08 , any updates on this?

[2017-10-17 15:26] tjiang11 commented on #3946
Hi @brianrodri , just checking in: is a design doc in the works?

[2017-10-17 15:27] tjiang11 commented on #3885
Hi @vojtechjelinek , is there a PR for this?

[2017-10-17 16:54] vojtechjelinek commented on #3885
Hi, I'm currently working on this.

[2017-10-17 18:10] DubeySandeep opened #3998 "CodeRepl goes out of container in smaller screen of edit mode."
In Responsive or Mobile/tablet view CodeRepl goes out of the preview container in edit mode of exploration.
See images below:

![screenshot from 2017-10-17 23 27 43](https://user-images.githubusercontent.com/16653571/31681260-5c6468e6-b394-11e7-886c-2a5ab879e54c.png)
![screenshot from 2017-10-17 23 28 42](https://user-images.githubusercontent.com/16653571/31681261-5cf0b1e8-b394-11e7-87ce-000258506

[2017-10-18 14:41] ishucr7 commented on #3792
@seanlip The Back to Collection is actually "a" tag . Since it is to be converted into button , i want to know what styling rules do I need to follow , I mean what class to provide to the  button which we want to create . As of now , the Continue button has  class = "oppia-learner-continue-button"

![a_tag](https://user-images.githubusercontent.com/23234392/31724748-375ba508-b440-11e7-9d00-1e1690e

[2017-10-18 15:57] 1995YogeshSharma opened #4001 "User can view exploration in play later list even after it's unpublished."
Reproduction Steps:

- Create an exploration and publish it.
- Login as another user (user2) and add that exploration to `play later`.
- Login as moderator and unpublish the exploration.
- Login as user2 and you can still view the exploration there. If you click on it, you are redirected to a 404 page. There is no indication that the exploration is unpublished.

[2017-10-18 15:57] 1995YogeshSharma commented on #4001
@seanlip ... PTAL. If it's not a valid issue. Feel free to remove.

[2017-10-18 22:47] seanlip commented on #3792
I don't know -- I think coming up with a good design for this is part of the issue. Could you propose something and add a screenshot here, then get opinions from @rachelwchen and @tjiang11?

[2017-10-19 01:50] seanlip commented on #4001
I think this is a valid issue, let's keep it open for fixing. Thanks for filing it!

[2017-10-19 01:58] seanlip commented on #3994
Actually this was an issue with the exploration itself, not the platform. I've fixed it. Thanks for reporting!

[2017-10-19 01:58] #3994 closed, assigned to nobody

[2017-10-19 01:58] seanlip commented on #3993
/cc @tjiang11

[2017-10-19 05:46] DubeySandeep commented on #3985
@seanlip
This issue is solved. can you please close this? ( #3991  )
Thanks! :)

[2017-10-19 05:49] #3975 closed, assigned to nobody

[2017-10-19 06:06] seanlip commented on #3985
Yep, thanks!

[2017-10-19 06:06] #3985 closed, assigned to nobody

[2017-10-19 08:55] seanlip commented on #3993
Thanks for filing this, @pranavsid98 -- it does look bad, and I've done a fix in #4002. Please  could you take a look and verify that this fixes the issue on your end? Also, @tjiang11, please could you review the code?

Thanks!

[2017-10-19 08:56] seanlip commented on #3976
@tjiang11 -- please could you take a look at this? Is this related to the changes you did recently to show the supplemental interactions below the tutor card?

[2017-10-19 09:00] seanlip commented on #3984
Sorry, @jacobdavis11 -- for the first paragraph, what exactly do you want to rename this tab to? Are you proposing "My list"?

Also, @jaredsilver, @rachelwchen and @Arunabh98, any chance you could weigh in on this?

[2017-10-19 12:16] shubha1593 commented on #3988
Hi @GaganSuneja, yes [requireJS](http://requirejs.org/), [Browersify](http://browserify.org/) and [webpack](https://webpack.github.io/docs/what-is-webpack.html) can all solve this problem. Which one suits best for our requirements, needs to be discussed, I guess!
I found [this](http://j-query.blogspot.in/2015/06/from-requirejs-to-webpack-part-1-reasons.html) link talking about moving from requireJ

[2017-10-19 17:02] jacobdavis11 commented on #3984
I don't have a concrete proposal, I was just mentioning what Netflix does for comparison.

[2017-10-19 17:58] rachelwchen commented on #3984
I don't have a good answer to the first paragraph. I do think that "add to my list" sounds better than "add to playlist" though!

[2017-10-20 06:03] #3993 closed, assigned to nobody

[2017-10-20 09:37] martinamal opened #4005 ""Warning! None." Error & inability to save the draft"
Hi,

I am getting this "Warning! None." error and I am unable to save the draft, would anyone know why?

Thanks,
M.

[2017-10-20 09:41] seanlip commented on #4005
Hi @martinamal, I think we need more information. Would you mind providing instructions to reproduce the error, please?

Also, do you see any errors in the [browser console](https://webmasters.stackexchange.com/a/77337)?

Thanks!

[2017-10-20 09:51] martinamal commented on #4005
Hi,

I am experiencing an error message in Oppia which prevents me from saving
the draft - pls see the screenshot attached.

No idea what to do about it. I am afraid, I'll loose the content as it
failed to save.

Thank you.
Best,

Martina

[2017-10-20 10:31] martinamal commented on #4005
& I don't see any errors in the browser console.

Best,

Martina

Martina Malafová | Program Manager, TVC Strategy | Google Cloud |
martinamal@google.com

This email may be confidential and privileged. If you received this
communication by mistake, please don't forward it to anyone else, please
erase all copies and attachments, and please let me know that it has gone
to the wrong person.

The abov

[2017-10-20 19:28] BenHenning commented on #3288
@pranavsid98 aren't both of the second two in ``stats_services_old``? It seems only ``get_visualizations_info`` should require tests.

[2017-10-20 19:43] seanlip commented on #3288
Yes, only get_visualizations_info requires tests. (I think that's what @pranavsid98 was saying, actually.)

[2017-10-20 21:28] seanlip commented on #4005
Closing -- turns out this is for an older version of Oppia.

[2017-10-20 21:28] #4005 closed, assigned to nobody

[2017-10-20 21:39] pandeykartikey commented on #3788
@seanlip I would like to take this up

[2017-10-20 22:09] seanlip commented on #3788
Hi @kartik-25, sounds good, thanks. Please go ahead!

[2017-10-20 23:46] seanlip commented on #3979
@rachelwchen @jaredsilver @Arunabh98 Any thoughts on this?

[2017-10-20 23:56] seanlip commented on #3979
Also, @jacobdavis11, could you PTAL at page 13 of [this doc](https://github.com/oppia/oppia/wiki/pdfs/GSoC2017ArunabhGhosh.pdf)? In it, @Arunabh98 writes his rationale for separating explorations and collections into submenus. Here is his rationale:

I'd like to get your thoughts on this reasoning. Perhaps it might make sense to have separate menus for "In Progress" but a consolidated section for

[2017-10-21 05:04] bigyankarki commented on #3997
Hi. I can take this issue. But can you please elaborate the issue and what we have to do?

[2017-10-21 05:28] seanlip commented on #3997
Hi @bigyankarki, welcome! I just reproduced this, so I can confirm it's still an issue. This is what to do:

1. Start up a local Oppia dev server.
2. Click the "Create" button at the top right, which will take you to the exploration editor.
3. Add some text in the content area and then pick a code interaction. Make sure the content of the interaction has > 10 lines.

You'll see the numbers overlap

[2017-10-21 14:20] Nix07 commented on #3980
@Arunabh98 Can I take up this issue?

[2017-10-21 19:57] MohammedBelkacem commented on #3848
Hi again,
Kab locale is complete. Please consider it.
As a remind:
English language name: Kabyle
Native name: Taqbaylit.
Iso code (639-2): kab
CLDR code: kab, kab_DZ
Script: latin based , ltr language

[2017-10-21 22:38] seanlip commented on #3848
Sounds good, thanks! We should be able to enable it in the next release.

[2017-10-22 00:56] joshuacano opened #4007 "Invalid test behavior on QA"
Expected behavior:

A few of the explorations in QA test had INVALID as an answer in the data, not allowing a user to move on. This is more than likely a feature of porting data over to QA from dev.

I.E.
go to https://oppiatestserver.appspot.com/explore/7 as a logged out user, go to card #3, answer incorrectly first and then answer correctly. You will not be able to continue past this card

(Mac

[2017-10-22 02:20] tjiang11 commented on #3893
PR #3937

[2017-10-22 02:20] #3893 closed, assigned to tjiang11

[2017-10-22 02:31] seanlip opened #4010 "[Blocked on #5801] Help exploration creators debug possible misconceptions"
I'm currently trying to update one of the Fractions explorations to handle common misconceptions, and I noticed that multiple users entered the answers "4/9" and "3/9" for this card:

![screenshot from 2017-10-21 19-21-34](https://user-images.githubusercontent.com/10575562/31857564-57e0fe1a-b696-11e7-914f-1a68687db0fd.png)

I have no idea what the cause of this is. I can guess at the cause of thin

[2017-10-22 02:34] seanlip commented on #4007
Hi @joshuacano -- could you please say what sequence of answers you typed, so that I can debug? I just tried it and was able to continue pass the third card without any issues.

Thanks!

[2017-10-22 03:11] pranavsid98 commented on #4010
@seanlip

There are a few more things we need to take into account here. So far, the stats window doesn't show stats for individual learners. If multiple users entered the wrong answer, we'll just get a row saying how many learners entered that wrong answer. So, if we need to see the relative trace of every learner with timestamp, we need something more than the current state stats modal window.

[2017-10-22 06:01] joshuacano commented on #4007
Ugh Im sorry Sean, I meant card #4.

[2017-10-22 06:06] seanlip commented on #4007
No worries! My question still stands, though. What answers did you type? The exploration branches, so I kind of need to know that in order to repro.

[2017-10-22 06:07] joshuacano opened #4012 "Form submission canceled because the form is not connected"
As a logged out user, whenever I move past a card/answer a question in an exploration, I get the following message as a console message in my browser:
"Form submission canceled because the form is not connected"

Certainly not an urgent bug, but would be nice to fix. Seems to be present on production as well as qa.

(OSX 10.12.6, Chrome  62.0.3202.62)

[2017-10-22 06:14] joshuacano commented on #4007
Sure:

* anaranjado y blanco

and then

* rojo y verde

[2017-10-22 06:14] seanlip commented on #4012
Weird, I haven't seen this before. Thanks for reporting!

Please could you attach two things: (a) exact reproduction steps, if you can repro from a clean dev build, and (b) a screenshot / stacktrace? Thanks!

[2017-10-22 06:30] seanlip commented on #4007
Thanks! I figured out what's wrong, it's a content problem (possibly due to an old migration). I've fixed it, so it should be good now. Thanks for reporting!

[2017-10-22 06:30] #4007 closed, assigned to nobody

[2017-10-22 06:56] joshuacano commented on #4012
Sure.
a) To reproduce, I can go to any exploration as a logged out user. and answer any mutliple choice or text box answer to an exploration. (In this example I am experiencing it on https://www.oppia.org/explore/2EsrichXjAsX?collection_id=wqCTKpKA0LBe)

I do get the same repro from a fresh dev build off of develop.

b) Screenshot: <img width="1433" alt="screen shot 2017-10-21 at 23 32 03" src="ht

[2017-10-22 16:00] vojtechjelinek commented on #3988
This is an interesting idea. It would require complex analysis of all the options we have.

[2017-10-22 16:18] pranavsid98 commented on #3906
@joshuacano Friendly ping. Any updates?

[2017-10-22 17:20] abarya commented on #3954
Hi @brianrodri,
I'm taking up users preferences page.

[2017-10-22 17:22] brianrodri commented on #3954
Sounds good to me, thanks @abhishekarya286!

[2017-10-22 17:46] brianrodri commented on #3946
@tjiang11 yes, sorry for late response! I'm reading through the other docs ATM before I start writing a short dump of my ideas.

[2017-10-22 19:28] brianrodri commented on #3946
Hi @tjiang11, @seanlip, @pranavsid98

PTAL at my early design doc. I haven't put in any code details since I'm not actually aware of how much eng-work is done/missing.

https://docs.google.com/document/d/1KpINjL7LwLQv7GRQGy8eyherdrbFdCc2uybeqiHz3iI/edit?usp=sharing

Thanks!!

[2017-10-23 02:41] pranavsid98 commented on #3946
Hi @brianrodri . Could you give us Suggest/Comment access to the doc?

[2017-10-23 03:18] brianrodri commented on #3946
Done, sorry about that: https://docs.google.com/document/d/1KpINjL7LwLQv7GRQGy8eyherdrbFdCc2uybeqiHz3iI/edit?usp=sharing

[2017-10-23 09:20] abarya commented on #3954
Hey @brianrodri, how do I check whether whatever I have done is correct or not?
I think I should run the frontend tests. Is there any better approach?

[2017-10-23 12:43] brianrodri commented on #3954
@abhishekarya286 you'll need the end-to-end tests to check these (./scripts/run_e2e_tests.sh)

[2017-10-23 14:29] Nix07 commented on #4012
Hi  @seanlip and @tjiang11 , Can I take up this issue?

[2017-10-23 16:44] abarya commented on #3954
Hi @brianrodri, I'm facing this error while running run_e2e_tests.sh
![image](https://user-images.githubusercontent.com/24565261/31901476-27d66282-b83f-11e7-8f31-9da4e3cf8848.png)

Can you help me with this?
Also, I'm facing the similar error even when I'm running run_e2e_tests.sh in develop branch. So, I don't think my changes have affected this error.

[2017-10-23 17:06] brianrodri commented on #3954
@abhishekarya286 open a pull request and I'll take a look from there!

[2017-10-23 17:25] kevintab95 opened #4014 "Flickering tooltip on the Give Up button"
The tooltip on the Give Up button should not flicker on hovering over the button. Also, the tooltip could be placed a little above the button.

![image](https://user-images.githubusercontent.com/11008603/31903264-438ea858-b845-11e7-8a0b-6e0a4c4c079b.png)

(tip: check console error)

[2017-10-23 17:30] kevintab95 opened #4015 "Frontend errors show up on the console when clicking on Give Up (creator mode)"
Steps to reproduce:

1. Create new exploration.
2. Add a TextInput interaction, add hint and solution.
3. Play exploration as a creator, use a hints and click on Give Up.
4. Check console for errors.

[code]

[2017-10-23 19:01] seanlip commented on #4012
Hi @Nix07 -- sure, go ahead!

[2017-10-23 19:07] seanlip commented on #3954
@abhishekarya286 This might be relevant: https://github.com/angular/protractor/issues/3494. Chrome is installed on your machine, right? Are you using xvfb or a VM or some kind?

It might be worth searching online for the error message -- I suspect others may have had this problem. I think it's probably something related to your local machine, since the tests pass on Travis.

[2017-10-23 20:44] pranavsid98 commented on #4015
@kevintab95 . You sure you're working with a later version of oppia? It seems to work for me where oppiaPlayerService has been renamed to ExplorationPlayerService.

[2017-10-24 06:20] QuadV commented on #2394
Can I take this up?

[2017-10-24 06:21] seanlip commented on #2394
Sure! Assigned you to core.tests.test_utils.

[2017-10-24 07:46] abarya commented on #3954
Thanks @seanlip,
Yeah, Chrome is installed on my machine. I didn't install xvfb and also I'm not using any VM. What should I do?

[2017-10-24 08:06] abarya commented on #3954
According to [this](https://github.com/jciolek/docker-protractor-headless/issues/10), version of chrome and chromedriver should be 55 and 2.7 respectively. Mine is 60 and 2.33. Maybe, this is the reason for that error. What do you think?

[2017-10-24 08:12] seanlip commented on #3954
Yes, that is possible. That said, my version of chrome is 61 and my version of chromedriver appears to be 2.33, and it seems to work. Perhaps upgrading your version of chrome might help.

[2017-10-24 15:12] kevintab95 commented on #4015
I pulled the latest develop. I guess the changes aren't merged there yet.
(https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/TutorCardDirective.js : 130)

[2017-10-24 20:49] Nix07 commented on #4012
Hi @seanlip I started debugging this issue by searching the string "Form submission canceled...." in the codebase, but there is no such string. Hence I googled it and found an [HTML standard](https://stackoverflow.com/questions/42053775/getting-error-form-submission-canceled-because-the-form-is-not-connected) which states that **if the form is not associated to the browsing context(document), the

[2017-10-24 22:22] DubeySandeep commented on #4001
This is not only happening for "play later" list, it's also working for all others (completed, incomplete etc.)

I'm working on this issue.

Few queries:
**1.** As for a deleted exploration, we use to write
`1 of the explorations in your 'Play Later' list has been deleted by the owner. We are sorry for the inconvenience ☹`
So for the PublishedToUnpublished exploration, we'll just write
`1 of the e

[2017-10-25 01:20] 1995YogeshSharma commented on #4001
One simple way might be, Let the unpublished exploration stay in user's play later list but show an appropriate error message when the user clicks on it.

Eg.Let's say, exploration "A" is unpublished but is in user's play later list. If user clicks on it, instead of getting redirected to 404 page, handle the error and show him that "Sorry, this exploration has been unpublished"

@seanlip ... what

[2017-10-25 01:39] DubeySandeep commented on #4001
If we are going to show the card for an unpublished exploration we have to show the "Title" and other things ( like description ) which are not public ( then after that it will be clickable with error ).
I don't think we should make a card for an unpublished exploration in learner dashboard.

[2017-10-25 02:39] anthkris commented on #3946
@brianrodri Did you see the comment in the doc? Did you have a chance to update based on that?

[2017-10-25 02:50] anthkris commented on #3836
@prasanna08 How are we doing on this?

[2017-10-25 02:52] anthkris commented on #3794
PR Here: https://github.com/oppia/oppia/pull/3967

[2017-10-25 02:54] anthkris commented on #3791
@pbhoiwala I'm going to deassign you for now. If you find time to continue this, then feel free to reassign yourself.

[2017-10-25 02:57] anthkris commented on #3788
Howdy @kartik-25 ! Have you completed the necessary steps to contribute: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up

I don't seem to be able to assign you to the issue.

[2017-10-25 03:01] anthkris commented on #3753
PR here: https://github.com/oppia/oppia/pull/3832

[2017-10-25 03:08] prasanna08 commented on #3836
Hi @anthkris currently a part of this is going on in #3963 (which is a prerequisite for this issue)

[2017-10-25 03:09] anthkris commented on #2575
@vojtechjelinek How is this going?

[2017-10-25 03:10] anthkris commented on #3576
Howdy again @AllanYangZhou Any progress on this?

[2017-10-25 03:12] anthkris commented on #3905
Howdy @Oishikatta Any progress on this?

[2017-10-25 03:13] anthkris commented on #3836
Thanks for the update!

[2017-10-25 06:21] pandeykartikey commented on #3788
@anthkris i have completed the necessary steps to contribute.

[2017-10-25 06:23] seanlip commented on #3788
Hi @kartik-25, sorry -- I've just invited you. Once you've accepted the invitation, feel free to assign yourself to the issue. Thanks!

[2017-10-25 06:23] seanlip commented on #4001
Hm, I don't know what the correct thing to do is here. I defer to @Arunabh98 @rachelwchen @jaredsilver on this.

[2017-10-25 07:02] seanlip commented on #4015
@pranavsid98, I think this was an error introduced in #3916: https://github.com/oppia/oppia/blame/develop/core/templates/dev/head/pages/exploration_player/TutorCardDirective.js#L130

Please could you fix it? Thanks!

(It might also be worth augmenting the existing e2e tests so that one of them at least clicks the solutions button.)

[2017-10-25 07:30] seanlip commented on #4015
Actually, I guess it's being tackled in #3992? If so, we need to make sure that that gets in for the next release.

[2017-10-25 11:38] pranavsid98 commented on #4015
@seanlip Ahh, yes. I found that issue in 3992 and fixed it there. We'll be sure to get that in before the next release.

[2017-10-25 19:06] seanlip commented on #4015
Thinking about it, would you mind fixing this in a separate PR (that handles only this change)? It breaks the existing learner view in develop and impedes development on the solution functionality there, so we should fix it ASAP.

[2017-10-25 19:35] AllanYangZhou commented on #3576
@anthkris Yup, working on the design doc.

[2017-10-25 22:54] anthkris commented on #3576
Thanks @AllanYangZhou

[2017-10-26 01:13] brianrodri commented on #3946
Hey all, yes I'm aware of the responses! Has been a hectic week at work for
me, but I've still been looking at the code Pranav mentioned in the
meanwhile. I plan on fine-tuning the design by the end of this week.

On Oct 24, 2017 22:39, "Kristin Anthony" <notifications@github.com> wrote:

[2017-10-26 07:34] DubeySandeep opened #4026 "Unable to add an exploration to "playlater" list through admin a/c."
Unable to add an exploration to "playlater" list through admin a/c.

**Steps to reproduce:**
* Log in as an admin.
* Add some dummy exploration through the admin panel.
* Goto Library and add some exploration into your "play later" list (using the clock icon on the exploration card).
* You'll find a (popup) successful message related to adding exploration to the list.
* Go to learner dashboard and

[2017-10-26 07:39] DubeySandeep commented on #4026
@seanlip .. PTAL is it an expected behaviour (for admin a/c)?
Same goes for "completed exploration" and "incomplete Exploration" i.e, the entire learner dashboard is not working properly for admin a/c.

[2017-10-26 09:31] seanlip commented on #4026
No, this is unexpected. It would be good to figure out why this is happening -- thanks for detecting and reporting this!

[2017-10-26 15:43] DubeySandeep commented on #4026
Sorry! that was my fault, It wasn't known to me that the dummy explorations are created through admin a/c so they cannot add dummy exploration to their learner dashboard as they are the creator.
Closing this issue!

[2017-10-26 15:43] #4026 closed, assigned to nobody

[2017-10-26 20:12] seanlip commented on #2575
Hi @vojtechjelinek, thanks for the recent PRs! Anything left here, or can this be closed?

[2017-10-26 20:14] seanlip commented on #3794
First milestone completed! @Anthony-Alridge could you please add a checklist with the different PRs and start each PR title with "Fix part of #3794"? That way, GitHub won't auto-close the issue when any one of the PRs is submitted. Thanks!

[2017-10-26 21:31] vojtechjelinek commented on #2575
I will close this after I edit the wiki for RTEs

[2017-10-27 03:10] jaredsilver commented on #4001
From the user perspective, 'deleted' and 'unpublished' mean the same thing: "I can't play this." On our end, we know about the two different states, but to the user there is no utility in knowing this. When an exploration is unpublished, we have no way of knowing whether the intent is to republish it (or when it will be republished if so). Further, as @DubeySandeep mentioned, various attributes of

[2017-10-27 05:09] TruongKim commented on #3826
Hi @seanlip Can I take explorationData → ExplorationDataService in core/templates/dev/head/pages/exploration_editor/EditorServices.js?

[2017-10-27 07:24] seanlip commented on #3826
I think that might be claimed already by @bching, but feel free to pick another file/group that doesn't already have a name next to it!

[2017-10-27 07:54] seanlip commented on #4015
Hi @pranavsid98 -- ping?

[2017-10-27 08:25] seanlip commented on #2575
Hi @vojtechjelinek -- FYI, when running Karma tests on the latest version of develop, I noticed lots of 404 errors where there weren't any before. Is this fixable?

[code]

[2017-10-27 12:15] Nix07 commented on #4012
Hi, @seanlip Please help. This is a deprecation issue!

[2017-10-27 12:45] DubeySandeep commented on #4001
`n of the explorations in your 'Play Later' list {n == 1 ? 'is' : 'are'} not available now. We are sorry for the inconvenience ☹.`  [more details...]()

when they will click more detail we'll either increase the paragraph or make a popup and say

`x of your explorations are being deleted by the owner, which will no more available in your playlist.`
`y of your explorations are being unpublished, wh

[2017-10-27 15:30] soul4code commented on #3826
Hi @seanlip I can't add reviewer for my PR and I cant edit issue for add my name after `components/forms/FormBuilder.js` . I think it is because I'm not contributor yet and I dont have permissions for this. If is it can you add reviewer and edit issue?

[2017-10-27 18:54] seanlip commented on #4012
Hi @Nix07 -- I'm not sure what you want me to do here. I understand that the issue might affect only relate to the latest versions of Chrome. Can we fix it in those versions?

[2017-10-27 18:58] seanlip commented on #3826
Hi @magnitronus, I think you're right! Thanks for bringing this up. I'll update the issue accordingly.

[2017-10-27 19:00] seanlip commented on #4001
My 2c: I think having two separate messages is too complicated. All that matters to the learner is that they are no longer available (for reasons outside their control), and we may be better just communicating that. Typically unpublished explorations don't get republished.

[2017-10-27 22:47] #4015 closed, assigned to pranavsid98

[2017-10-27 23:23] BenHenning commented on #3289
This doesn't seem quite as valuable anymore since models.py & tests seem to be the only places left that use it.

[2017-10-27 23:25] seanlip commented on #3289
Yeah -- your call, I think. The stats stuff is in a state of flux right now so this might actually be the best time to introduce it before more stuff gets implemented that makes use of the construction. But if you think it's not worth it, I'm fine with that.

[2017-10-27 23:38] BenHenning commented on #3289
I'm actually repurposing this issue to track introducing general objects for calculation output rather than specifically AnswerOccurrence, which I think is more fitting (especially knowing that this code will be more heavily used in the future).

[2017-10-27 23:53] seanlip commented on #3289
OK, SGTM. Thanks!

[2017-10-28 06:09] #3987 closed, assigned to pranavsid98

[2017-10-29 08:30] pranavsid98 commented on #3822
Hi @kevintab95 . Any progress?

[2017-10-29 18:06] jacobdavis11 commented on #3979
The basis on which I make my observations in the gallery, in which
explorations and collections are mixed together.

 - With regards to time commitment, that is an interesting argument. But if
anything it seems to apply more strongly to the gallery, where a non-logged
in user is choosing between things to complete in one sitting. A user at
the learner dashboard can always just do the next explorat

[2017-10-29 22:18] jaredsilver commented on #4001
I like the more details link as you have it @DubeySandeep, but I also echo what @seanlip says about two messages being too complicated.

I would recommend something more generic, like this:

[2017-10-29 23:44] ishucr7 commented on #3978
Hi @jacobdavis11 , @Arunabh98 . The changes are to be done in en.json in /assets/i18n/en.json  or in all other  ".json"  files in in assets/i18n/  which assign value to the same variable "I18N_LEARNER_DASHBOARD_EMPTY_INCOMPLETE_EXPLORATIONS"  in other languages ?

[2017-10-30 00:11] ishucr7 commented on #2943
Hi @seanlip   , will this be fine ?

![tooltip](https://user-images.githubusercontent.com/23234392/32150158-d9e0a57e-bd34-11e7-8049-d1467eac162c.png)

[2017-10-30 08:22] MohammedBelkacem commented on #3848
Hi again,
Sorry for pinging you again, is there any plan to add The kab locale before 18/11?. I'm going to give a Speech next 18 November about CLDR, Wikipadia, Oppia and OSM at Bejaia University, Amazigh (kabyle) Language department. I am now designing an exploration on Oppia to show the importance of this tool to the academicians (teachers, researchers) and students.

[2017-10-30 13:28] rachelwchen commented on #4001
I like @jaredsilver's idea... echoing what he said, whether an exploration was deleted or unpublished makes no difference to users, so it's not entirely necessary to explain the case in length. To push your idea further, Jared, we might also suggest related explorations to users directly in the message, so that users have a direct follow-up action to take. For example:

"
In order to maintain the

[2017-10-30 15:59] vibhor98 commented on #2394
Hi @seanlip, I would like to work on `core.domain.subscription_services.py`. Please assign me.

[2017-10-31 16:51] TruongKim commented on #3826
hi @seanlip , can I take editabilityService → EditabilityService?

[2017-10-31 21:36] seanlip commented on #2394
Done, thanks!

[2017-10-31 21:37] seanlip commented on #3826
Yep! Go for it.

[2017-11-01 00:07] seanlip commented on #3254
Fixed in #4042. Thanks @vojtechjelinek!

[2017-11-01 00:07] #3254 closed

[2017-11-01 00:40] seanlip commented on #3848
Hi @belkacem77, our next release is going to happen in mid-November, so although kab locale has been added to the codebase, it will only appear on the Oppia.org site around the 18th of November or so. So ... it's a bit tight, actually!

I'm copying @tjiang11 in because he's the person actually coordinating the release; he should be able to give status updates if needed. We also send a release anno

[2017-11-01 00:41] seanlip commented on #2943
Yes, I think it looks fine, thanks!

[2017-11-01 00:41] seanlip commented on #2943
(Feel free to submit a PR.)

[2017-11-01 02:16] seanlip commented on #3792
Hi @ishucr7, just a quick question: are you still working on this? No worries if not, but if that's the case please deassign yourself so that someone else can take it up!

[2017-11-01 02:25] ishucr7 commented on #3792
Hi @seanlip  , Yeah sure .

[2017-11-01 06:21] seanlip opened #4044 "E2e test failures for stateEditor.js"
We ran into a couple of test failures for stateEditor.js on Travis-CI. Something is flaky here and it's worth figuring out what's going on.

/cc @DubeySandeep

---

**Failure 1**
[code]

**Failure 2**

[code]

[2017-11-01 17:25] DubeySandeep opened #4046 "SITE_NAME replacement error in Licence explanation page."
Translate value in licence_explanation_modal_directive for SITE_NAME in not working.

Steps to reproduce:
1. Click on Sign-in.
2. Provide email and login.
3. On reg. page click on 'click here'  `For more information about CC-BY-SA, click here.`

(This is happening only in Development site, not in Prod. site)
Image:
![screenshot from 2017-10-28 13 50 06](https://user-images.githubusercontent.com/16

[2017-11-02 03:47] tjiang11 opened #4047 "Solution explanation should be abbreviated in the editor view."
Solutions should be abbreviated just like hints and feedback in the editor view.

To reproduce this issue, add a solution to a state, and make the explanation very long.

![image](https://user-images.githubusercontent.com/11807091/32308921-bdbd35de-bf5e-11e7-9e36-ed412cb91e47.png)

[2017-11-03 13:48] jacobdavis11 commented on #4046
Is this not intended / acceptable behaviour for the dev site?

[2017-11-03 18:05] #3976 closed, assigned to tjiang11

[2017-11-03 19:39] seanlip commented on #4046
Hi @jacobdavis11 -- I think it's sort of fine, but it would probably be better to not have {{SITE_NAME}} (and it ties in with getting rid of Jinja stuff from the codebase, too). So if the PR doesn't break anything or reduce functionality, I think it's a positive change.

[2017-11-04 01:49] #4046 closed, assigned to DubeySandeep

[2017-11-04 05:22] seanlip commented on #3788
Update: this needs to be done in conjunction with #3787. Please see #4020 for prior work, thanks to @kartik-25.

[2017-11-04 09:40] #3997 closed, assigned to DubeySandeep

[2017-11-04 09:42] DubeySandeep commented on #3997
is it okay to close this issue as because it is resolved ( PR #4053 )? @seanlip

[2017-11-04 15:03] tjiang11 opened #4055 "Replace redundant CSS selectors that handle paragraph spacing with rte editor/viewer selectors"
PR #4048 resolved some global paragraph spacing issues. This was done by using CSS selectors to manually adjust each piece of content/feedback/hint/solution. However, it would be nice to avoid this redundancy and just have one CSS selector that targets all of these types of content.

This would involve mainly replacing the CSS selectors at https://github.com/oppia/oppia/pull/4048/files#diff-a5de01

[2017-11-04 15:04] #3791 closed, assigned to tjiang11

[2017-11-04 15:17] #3958 closed, assigned to pranavsid98

[2017-11-04 17:44] DubeySandeep opened #4056 "There is no way to add an exploration/collection into "play-later" list for mobile users."
While scrolling through the LIBRARY, there is no way to add an exploration to play later list for mobile users. This is because playlater button works on mouse-over event listener.
There should be some way for the mobile users to do so, otherwise, there is no use of Playlater list for mobile users.

[2017-11-04 20:29] seanlip commented on #3997
Yes! That's fine. Thanks @DubeySandeep!

[2017-11-04 21:01] seanlip commented on #4012
Note: this only seems to happen in production on oppia.org (Ubuntu, Chromium 62.0.3202.75). It's not clear why that is, but that might make this issue a bit harder to fix.

[2017-11-05 03:42] Nix07 commented on #4012
Hi @seanlip, Firstly sorry for replying late, I was little busy with my college exams!
As you said, this only seems to happen in production now. But when I had taken this issue, it was visible even on my local development. Therefore, I think some commit from last few days is responsible for its disappearance from local development, and as soon as you release a new oppia version, the issue will get

[2017-11-05 06:25] seanlip commented on #4012
Ah, I didn't realize that -- that's interesting. Maybe @tjiang11 can comment on whether he sees it on our release test server vs on oppia.org.

Btw, identifying which commit is responsible is actually quite straightforward. Here's how to do it: look at the [list of commits](https://github.com/oppia/oppia/commits/develop). Each commit has a commit hash on its right. Take a commit somewhere far back

[2017-11-05 14:52] tjiang11 commented on #4012
I just tested this on the test server and I indeed don't notice the bug (Tested on Ubuntu, Chrome Version 61.0.3163.79 (Official Build) (64-bit))

[2017-11-05 16:25] Nix07 commented on #4012
This is the [first commit](https://github.com/oppia/oppia/commit/52423c3991273e96e146d5d661d82c7cc214dc3b) which is not displaying the warning message! @seanlip @tjiang11

[2017-11-05 16:38] jacobdavis11 commented on #2575
Hi @vojtechjelinek , any updates on this?

[2017-11-05 16:40] jacobdavis11 commented on #3008
Hi @giritheja , how is this going?

[2017-11-05 16:40] jacobdavis11 commented on #3576
@AllanYangZhou how is this going?

[2017-11-05 16:43] jacobdavis11 commented on #3794
@Anthony-Alridge have you had a chance to work on the other parts of this issue?

[2017-11-05 16:44] jacobdavis11 commented on #3885
@vojtechjelinek how is this going?

[2017-11-05 16:45] vojtechjelinek commented on #3885
Completed in #4017

[2017-11-05 16:45] #3885 closed, assigned to vojtechjelinek

[2017-11-05 16:46] jacobdavis11 commented on #3905
@Oishikatta how is this going?

[2017-11-05 17:21] shubha1593 opened #4057 "Test frontend services"
_This is intended as a starter project for newer contributors but if you're already a contributor for some time, you can help as well._

NOTE: Please ping @nithusha21 if you have any questions about this issue or would like to be assigned to some part of it.

In order to prevent future regressions, we want to ensure that all services in our frontend codebase are thoroughly tested. If it's your fir

[2017-11-05 18:16] joefedota commented on #4055
I think I understand why you want the rte-editor replacements, but I don't see where the selectors from the second link are being used, so I don't know what exactly to change. Do you want some of the selectors that begin with ".conversation-skin" to be consolidated into something like .rte-viewer?

[2017-11-05 18:23] tjiang11 commented on #4055
Hi @joefedota , try `grep`ing for those css selectors, you will find they are being used in directives that are used within the conversation skin directive.

[2017-11-05 18:29] jacobdavis11 commented on #3946
@brianrodri how is this going?

[2017-11-05 18:45] jacobdavis11 commented on #4057
Would it be better to split this into multiple issues (say one per directory)? That way multiple people could work on it simultaneously.

[2017-11-05 18:52] seanlip commented on #4012
That's a good find! I took a look and I suspect it's due to the conversion
of ng-if to ng-show in the last file. Could you please check to see if
that's the case (by checking out that commit, converting back to ng-if, and
testing locally)? If so then this issue is solved and we can close it.

Thanks!

On Sunday, November 5, 2017, Nikhil Prakash <notifications@github.com>
wrote:

[2017-11-05 19:03] Nix07 commented on #4012
You are correct, it's because of ng-show. I guess this issue is resolved! @seanlip

[2017-11-05 20:49] seanlip commented on #4012
OK, thanks for checking! Closing, then.

[2017-11-05 20:49] #4012 closed, assigned to nobody

[2017-11-05 20:51] seanlip commented on #4057
I think one issue should be fine -- we already follow this pattern for our other [starter projects](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor).

[2017-11-05 22:28] joefedota commented on #4055
Ok, I see where they're being used. So do you want the four types you mentioned (content/feedback/hint/solution) to be simplified into a .rte_editor and .rte_viewer selector. Or are there more types that should be changed too?

[2017-11-05 23:04] seanlip commented on #4055
Hi @joefedota -- I'll defer to @tjiang11 to answer your question, but just noticed that you're new to the codebase, and wanted to point out [these instructions for new contributors](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) in case you haven't seen them yet. In particular, please remember to fill in the first couple of forms before submitting a PR.

Thanks,

[2017-11-05 23:20] joefedota commented on #4055
Thanks!

[2017-11-06 03:43] joefedota commented on #4055
@tjiang11 I've submitted a Pull Request that covers the first part of the issue. I can't request you to review it yet so I thought I'd just let you know on this thread.

[2017-11-06 06:53] Nix07 commented on #4057
Hey, @shubha1593 Can I take "ExplorationEmbedButtonService.js". Hopefully, it will help me to better my understanding of testing processes and writing specs.

[2017-11-06 07:49] shubha1593 commented on #4057
Hi @Nix07, yup sure! assigned you :)

[2017-11-06 14:47] DubeySandeep commented on #3146
May I can work on this? @seanlip
Few questions:
Let us assume an exploration consists of 10 cards. We started previewing from 5th card and went upto 8th card on preview, So this "Restart from beginning" will take me to the 5th card Or 1st card?

[2017-11-06 18:38] Nix07 commented on #4057
This is the screenshot of my karma index page at core/templates/dev/head/components/ Why is it not showing any directory inside the components. It's only giving the results for the JS files present in components directory! However, when I bring the "ExplorationEmbedButtonService.js" file in the components directory its result is visible. Please help @shubha1593
![components](https://user-images.gi

[2017-11-06 18:39] seanlip commented on #3146
Sure! I've assigned you. In the case you mention, the button should take you to the 1st card.

[2017-11-06 20:43] GaganSuneja commented on #4057
@shubha1593 please assign me editor_tab

[2017-11-06 21:14] seanlip commented on #3548
Deassigning @joshuacano due to lack of response.

[2017-11-06 21:26] DubeySandeep opened #4063 "Tooltip for hint in image Interaction is not visible for mobile users."
**Steps to reproduce:**
* Create an exploration with image interaction having a hint.
* Preview it on Mobile screen size.
Screenshot:
![23316577_1510005665747332_7461055876743840156_n](https://user-images.githubusercontent.com/16653571/32464684-e1bbac66-c366-11e7-8667-d8854996e9a5.jpg)

This is happening after PR #3940.
(on release testing)
@tjiang11

[2017-11-06 22:14] joshuacano commented on #3548
Apologies @prasanna08 and @seanlip Will have time to complete this over the weekend. Unless someone else gets to it first.

[2017-11-07 18:51] shubha1593 commented on #4057
Hi @GaganSuneja, assigned you :)

[2017-11-07 18:56] shubha1593 commented on #4057
Hey @Nix07, in your URL for that it would be like `...karma_coverage_reports/core/templates/dev/head/components/index.html`,
make it  `...karma_coverage_reports/index.html`. Let me know if this works!

[2017-11-07 20:12] DubeySandeep opened #4065 "Logging out from exploration editor page redirects to 404."
**Steps to reproduce:**

- As a logged in user click on "Create" Button. (it will redirect you to editor page providing you with an unique exploration id )
- Try to log out (Through top-rightmost drop-down toggle).
- You'll be redirected to editor page with the same exploration id and as expected it will show 404 Error.

Expected behaviour:
After logging out from anywhere it should redirect us to

[2017-11-08 02:18] Nix07 commented on #4057
Hey, @shubha1593 It didn't help. karma_coverage_reports/index.html just contains all the directory (see the screenshot). To get the result of a specific file, I have to go to that directory.
![karma](https://user-images.githubusercontent.com/22103406/32528440-11573b00-c459-11e7-8a10-03f9871b3157.png)

[2017-11-08 03:59] seanlip commented on #4057
I just tried this, and I run into the same issue as @Nix07.

So I investigated the script at scripts/run_frontend_tests.sh, and, from there, the karma config at core/tests/karma.conf.js. The config actually looks a little off to me, so I simplified it, and I think it works now -- see #4066

[2017-11-08 04:00] seanlip commented on #4057
Also, @Nix07, thanks for bringing it up! This is a great bug to catch and I'm happy we're fixing it.

[2017-11-08 04:39] seanlip commented on #2943
Update: the tooltip now doesn't truncate (see #4043) but, per the original issue, the design still needs to be changed to match the popover on the Profile tab.

That said ... @jaredsilver, do you think this last step is actually necessary? I think the tooltip shown in @ishucr7's last screenshot is OK, and we use these sorts of tooltips in some other places as well. I feel like a popover might be t

[2017-11-08 05:17] Kunalgarg2100 commented on #3787
Can I work on this issue?

[2017-11-08 05:22] seanlip commented on #3787
Hi @Kunalgarg2100 -- welcome to Oppia!

Yes, absolutely. Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Thanks!

[2017-11-08 05:38] seanlip commented on #3548
Hi @joshuacano, that would be great -- thanks a lot! Please go ahead and reassign to yourself once you start working on it. Thanks!

[2017-11-08 07:20] seanlip commented on #3336
Hi @anmolshkl, just to check, can you still reproduce this in develop? @tjiang11 made a recent fix to paragraph spacing (#4048) that may alleviate this, but I'm not sure.

Also /cc @joefedota in case it affects their PR in #4059.

[2017-11-08 10:34] Anthony-Alridge commented on #3794
Hi, @seanlip I'll do that, thanks! And @jacobdavis11 I didn't have time to make progress last week unfortunately but I'm working on it again now and will be pushing today.

[2017-11-08 10:37] Anthony-Alridge commented on #3794
Tasks to complete:
- [X] Milestone 1: Introduce fraction domain object
- [x] Milestone 2: Introduce fraction rules and validation
- [x] Milestone 3: Create interaction and implement learner aspects of interaction

[2017-11-08 18:31] jogendra commented on #3825
Hi @seanlip, I'd like to work on group 5.

[2017-11-08 18:32] imjog commented on #3825
Hi @seanlip, I'd like to work on group 5.

[2017-11-08 23:33] seanlip commented on #3712
Future contributors: please note prior work in #3849.

[2017-11-08 23:36] seanlip commented on #3825
Hi @imjog -- sounds good, thanks! Just to check, though, would you be able to do the PR for Group 5 by this weekend? (We actually need to sort it out fairly soon since it affects #4057.)

If so, that's great, and we can assign you! If not, that's fine, but in that case I'd recommend choosing a different project instead since @shubha1593 will then work on Group 5. Thanks!

[2017-11-09 08:47] jogendra commented on #3825
@seanlip i will finish it by weekend. please assign to me. It will be my first contribution to Oppia. Thanks :)

[2017-11-09 09:03] seanlip commented on #3825
OK, go for it :) Thanks, @imjog! (Please send your PR to @shubha1593 for review once you've created it.)

[2017-11-09 12:35] jogendra commented on #3825
thanks @seanlip

[2017-11-10 14:33] rachelwchen opened #4069 "UI bug in the profile icon in navigation bar"
Hi,

There seems to be a bug with the profile icon in the navigation bar when the notification count is there:
<img width="199" alt="screen shot 2017-11-10 at 9 29 54 am" src="https://user-images.githubusercontent.com/12159451/32662896-0fbf1aea-c5fa-11e7-9802-d52f1f23997b.png">

Specifically, the number is much bigger than the background yellow circle, and it seems like the number isn't centered-a

[2017-11-10 15:15] jogendra commented on #3825
Hi @seanlip @shubha1593
I make a pull request for Group-5. Please review it. thanks :)

[2017-11-10 20:06] lunareve commented on #3826
Hi @seanlip , @shubha1593 , I'd like to work on explorationRightsService → ExplorationRightsService

[2017-11-10 22:11] seanlip commented on #3826
Hi @lunareve, sounds good -- I've assigned you. Thanks!

[2017-11-11 05:31] #3288 closed

[2017-11-11 18:10] jacobdavis11 opened #4072 "Feedback messages from learners all have the same title"
Publish an exploration, go to the learner view and leave some feedback for it. Then go to the editor feedback tab for that exploration. The title of the feedback message will be "(Feedback from a lerner)". If you leave more pieces of feedback, they will all get this same title.

This is the main source of entries in the feedback tab (since people rarely start new feedback threads from the tab itse

[2017-11-11 18:14] jacobdavis11 opened #4073 "We should link directly from exploration gallery tiles to the editor"
Currently if you want to edit an exploration in the gallery, you have to click on it to open the learner view, then click on the NavBar to get to the editor view (which will also open in a new tab).

It would be helpful to have a direct link to the editor, at least for explorations over which I have edit rights. (I have a feeling we used to have this at some point in the past.)

[2017-11-11 18:24] jacobdavis11 opened #4074 "In the statistics tab, the drop-off rate for a particular state is not always clear"
In the statistics tab, the per-state information gives us:
 - The number of times the state was entered
 - The number of times each possible answer was submitted
 - (sometimes) A warning that the drop-off rate is high

Often this leaves it unclear what the drop-off rate is. In particular:
 - With a Continue interaction, there is no answer, so there is no indication of how many students proceeded t

[2017-11-11 18:42] jacobdavis11 opened #4075 "Statistics tab answer statistics are broken"
For (at least) the following interactions: NumberInput, TextInput, CodeInput, MusicInput the answers that students have submitted are no longer being displayed on the statistics tab.

e.g. here (https://oppiatestserver.appspot.com/create/1) look at the bottom three states, or here (https://oppiatestserver.appspot.com/create/9#/stats) look at pitch-trainer-2.

[2017-11-11 19:32] sroy8091 commented on #4065
@shubha1593 please assign me this.

[2017-11-11 23:01] seanlip commented on #4065
Hi @sroy8091 -- GitHub doesn't yet have functionality for assigning folks who are outside the organization, but in the meantime, please feel free to go ahead and work on this issue, and submit a PR when you're ready. I think it's clear from this conversation thread that you're taking it up, so as long as you submit a PR reasonably soon, there shouldn't be a risk of collision. Thanks!

[2017-11-11 23:14] seanlip opened #4076 "Fix the "finished an exploration in a collection" experience."
To reproduce: Play https://www.oppia.org/explore/DIWZiVgs0km-?collection_id=4UgTQUc1tala to the end. After it's completed, instead of seeing just the next exploration in the collection, you'll see instead a bunch of randomly-recommended explorations. This is a pretty bad experience -- it means that students would need to go back to the library page, find the collection, click into it, remember and

[2017-11-12 03:10] sroy8091 commented on #4065
Okay.

[2017-11-12 19:12] jaredsilver commented on #2943
I agree that the last step is probably unnecessary. Closing this issue.

[2017-11-12 19:12] #2943 closed

[2017-11-12 21:37] #3146 closed

[2017-11-13 08:32] #4001 closed, assigned to nobody

[2017-11-14 00:53] EvanWiederspan commented on #3826
Hey @seanlip, ill take the computeGraphService if that's alright

[2017-11-14 00:56] seanlip commented on #3826
Thanks @EvanWiederspan! Assigned you.

[2017-11-14 07:01] seanlip commented on #3906
Deassigning @joshuacano due to lack of response; reassigning @brianrodri.

[2017-11-14 14:57] brianrodri commented on #3946
Hi all,

Spoke w/ @Sean last night and made great progress on the idea, here are some main points:

- Although we would like to use a Frequency Table here, the item selection input data stores its answers as HTML. This means that using the existing frequency table visualization without any modifications would show answers as something like: ["\<p>A\</p>", "\<p>B\</p>"], and for more involved answe

[2017-11-15 05:20] seanlip commented on #3905
Deassigning @Oishikatta due to lack of response.

[2017-11-15 05:25] seanlip commented on #3905
Also adding notes from @Oishikatta's doc to the issue thread, for easy reference in the future:

**Javascript**

Currently in use: eslint 3.18.0. This version is behind the current (4.x) by one major release, but uses the same rule format. Rules written for this version will not require changes if updated to 4.x in the future.

Plugins already exist to cover some of the issues: https://www.npmjs.c

[2017-11-16 01:09] pranavsid98 commented on #3946
Hi @brianrodri

This sounds amazing! The UI aspect of it sounds great as well. I noticed that you submitted a PR for the same, I'll take a look asap and leave my feedback!

Thanks!

[2017-11-16 01:35] brianrodri commented on #3946
Great sounds good! I actually decided to go with a simpler approach: the contents will simply be drawn directly beneath the link and can be expanded/collapsed by clicking on it. I think it still does the job rather nicely!

[2017-11-17 04:14] sriordan9 commented on #3792
Hi @seanlip I'm new to open source projects and would like to work on this. Is anyone currently working on this or has the issue already been fixed?

[2017-11-17 05:08] seanlip commented on #3792
Hi @sriordan9, welcome to Oppia! I don't think this is currently being worked on, and you're welcome to take it up. Please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first, though. Thanks!

[2017-11-17 05:58] seanlip commented on #4065
Note to contributors: this issue is again open to tackle, since @sroy8091 is planning to start with an easier issue. Please note the existing work in #4077.

Also, with regards to an implementation strategy, we decided that we'd probably want the logout URL to have a target that looks something like /exp_editor_logout_page. The corresponding backend handler would then retrieve the exploration, che

[2017-11-17 11:02] Nix07 commented on #3954
Hi, @brianrodri I would like to work on "Thanks Page". Please assign it to me.

[2017-11-17 14:01] brianrodri commented on #3954
@Nix07 Done, thanks (page)!

[2017-11-17 15:38] sriordan9 commented on #3792
Awesome thanks! And will do!

[2017-11-18 02:19] tjiang11 commented on #4063
Hi @DubeySandeep I'm actually having a hard time reproducing this. Can you give me the screen size you used?

[2017-11-18 16:07] jervis446 commented on #3826
@seanlip Can I take up this i18n.js

[2017-11-18 17:40] shubha1593 commented on #3826
Hi @jervis446, assigned you :)

[2017-11-18 20:48] seanlip opened #4086 "Fix flaky linter check when running on Travis"
We occasionally get this error when running the linter:

[code]

The error goes away on re-run, but is irritating. It would be good to figure out why this is happening and fix it.

/cc @tjiang11

[2017-11-18 20:59] tjiang11 commented on #4063
Ah nevermind, I can reproduce it.

[2017-11-19 09:36] seanlip opened #4089 "Improve exit dialog for learner view."
When a student leaves the learner view by clicking the Back button on the browser, a dialog appears to confirm the action. In that dialog, we might want to say something like: "Are you sure you want to leave? You'll need to start over from the beginning the next time you come back.", so that the learner is aware of what they're doing.

[2017-11-19 09:48] Nix07 commented on #4089
I will take this issue. @seanlip

[2017-11-19 09:52] seanlip opened #4090 "Progress dots don't display correctly on mobile."
On a mobile view, the progress dots extend beyond the first line when there are too many:

![bad-dots](https://user-images.githubusercontent.com/10575562/32989498-387361a2-cccc-11e7-89b7-a45b8edb0e80.png)

This is ugly. The maximum number of progress dots shown should fit within a single line, even on small screens.

[2017-11-19 10:17] seanlip opened #4091 "Images in ItemSelectionInput choices and answers are too big"
If an item selection input interaction is created with images in the choices, we should bound the maximum height/width of the image. Otherwise, you get stuff like this, which really doesn't work well on mobile because there's so much scrolling up and down:

![question-card](https://user-images.githubusercontent.com/10575562/32989581-fea2ab0c-cccd-11e7-8512-d128b0933cd9.png)

The images in the prev

[2017-11-19 14:43] Nix07 commented on #4089
Hey, @seanlip After doing some research, I came to know that the message is produced by the [beforeunload](https://developer.mozilla.org/en-US/docs/Web/Events/beforeunload) event of the BROWSER and therefore the message is different in Firefox!
Further, I am little afraid that the popup message can even be altered. I have tried almost everything related to beforeunload event, but the result is sam

[2017-11-19 15:35] brianrodri commented on #3906
Hey so I'm trying to wrap my head around where I should gather this info. It looks to me like I need to do this in each of the BaseCalculation subclasses, but it's not clear to me where I can get the data about how each particular answer is addressed. Can anyone please give me a clue?

[2017-11-19 17:20] DubeySandeep commented on #4063
Sorry for late response @tjiang11, as in #3940 tooltip is shifted toward left, So in mobile view (for any mobile screen) "HINT" button for imageInteraction is in Left and the tooltip isn't visible.
I guess shifting HINT button to the right will work as for other interaction Hint button is right aligned.

[2017-11-19 18:55] seanlip commented on #3906
Don't do anything in the back-end here, this is actually all front-end.

If you try to add hints and then a solution to a card, you'll see that
there's some answer-checking being done on the solution that gets entered
by the creator, to ensure that it does indeed match an answer group that
doesn't loop back to the same card. You could do something similar here,
but for multiple solutions instead o

[2017-11-19 19:00] seanlip commented on #3906
Here's where the logic for that is, btw:
https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/editor_tab/SolutionVerificationService.js#L26

On Sun, Nov 19, 2017 at 10:55 AM, Sean Lip <sean@seanlip.org> wrote:

[2017-11-19 20:25] seanlip commented on #4089
OK. Is there a code change that would fix this in at least some browsers? I think you'll need to try it out and test.

[2017-11-19 23:16] sriordan9 commented on #3792
@seanlip @rachelwchen @tjiang11

I tried to place a back arrow to the left of the words, but it is set up a bit differently than the “continue” button. The “back to collection” is set up as an <a> tag within a div. The continue is a <button> containing <span>Continue</span> & <i>right-arrow</I>. The actual links are attached to the <a> and <button> tags. I have attempted to include the arrow withi

[2017-11-19 23:29] seanlip commented on #3792
Hmm, actually, I just realized this overlaps with #4076. Could you follow a
similar design, ie have it as a plain link below the card? Thanks!

On Sunday, November 19, 2017, sriordan9 <notifications@github.com> wrote:

[2017-11-19 23:52] sriordan9 commented on #3792
I took a look at #4076 and "Suggested next:" is larger than "Back to collection" so I only increased the second by 25% for font-size. The picture below leaves "Suggested next" at 150% font-size and has "Back to collection" at 125%. Also, "Return to library" is used in place of "Back to collection" on #4076. Would you like me to change it or leave the current words of the link?

![image](https://us

[2017-11-20 01:53] seanlip commented on #3792
This looks nice, thanks @sriordan9! For now, let's just have this issue's PR do the changes you've shown in the screenshot, including leaving the current words as-is. Changing the words depending on the particular circumstances is the responsibility of #4096. I would also suggest changing "Back to collection" to 100%; we don't need to strongly emphasize that.

Please feel free to submit a PR for r

[2017-11-20 04:35] kevinlee12 opened #4094 "Missing exploration graph modal directive"
When attempting to expand the exploration graph preview in the exploration editor the the following error occurs in the console and the user is told that there is a server error.

[code]

Note: This occurs on both production and dev.

[2017-11-20 20:34] sriordan9 commented on #3792
I have submitted a PR, however the instructions said to set the assignee of the PR to the issue owner and I'm not sure how to do that. The title of the PR is "Fix #3792 Add underline to 'Back to collection' link #4096"

[2017-11-20 20:50] DubeySandeep commented on #4063
@tjiang11, I guess this issue has been solved in PR #4087, so we should close this?

[2017-11-20 20:54] seanlip commented on #3792
Thanks @sriordan9! I've done the assignment.

[2017-11-20 20:55] seanlip commented on #4063
Yep! Thanks @DubeySandeep -- closing!

[2017-11-20 20:55] #4063 closed, assigned to tjiang11

[2017-11-20 21:42] drewgmadd commented on #3968
@seanlip I would be happy to pick one of these up!  Looking for a good first contribution.

[2017-11-21 00:02] seanlip commented on #3968
Hi @drewgmadd -- sounds good, thanks! Would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Once you've done that, I can assign you to one of these. Thanks!

[2017-11-21 08:47] seanlip commented on #4094
Thanks for reporting! PTAL at #4098.

[2017-11-21 08:54] seanlip commented on #3792
Addressed in #4096. Thanks @sriordan9!

[2017-11-21 08:54] #3792 closed, assigned to nobody

[2017-11-21 08:58] seanlip commented on #4073
I don't think we should do this, actually. The creator dashboard is the place to go for creators to access their explorations, not the library, and if that page is not intuitive then we should make it more so rather than adding functionality to the library page. (Note, btw, that the "gallery" is now called the "library".)

So, closing for now, but please open a new issue if you have suggestions fo

[2017-11-21 08:58] #4073 closed, assigned to nobody

[2017-11-21 08:59] seanlip commented on #4069
@sriordan9 -- would you like to tackle this? Note that the easiest way to get the notification count to display might be to just temporarily put a number in the HTML when developing/debugging, rather than try to actually set up an actual notification.

[2017-11-21 15:27] anmolshkl commented on #4086
@seanlip hmm, don't remember encountering this issue. Is it reproducible or does it just pops up randomly?

[2017-11-21 17:04] sriordan9 commented on #4069
Yes, I'd like to take the issue please. And alright, thanks for the tip!

[2017-11-21 18:12] Nix07 commented on #4089
Check this [documentation link](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload#Browser_compatibility). It states that *Starting with Firefox 4, Chrome 51, Opera 38 and Safari 9.1, a generic string not under the control of the webpage will be shown instead of the returned string.*

[2017-11-21 20:15] seanlip commented on #4086
It pops up randomly. Possibly some kind of race condition...

[2017-11-21 20:47] #4094 closed, assigned to seanlip

[2017-11-22 05:11] seanlip commented on #4089
Hi @Nix07, I agree with your conclusion. Thanks for checking! Let's close this then, I think we can't fix this.

I'll write soon with a suggestion for another project.

[2017-11-22 05:11] #4089 closed, assigned to Nix07

[2017-11-22 05:22] seanlip opened #4102 "When the learner focuses into a text field, scroll so that the text field is visible (and perhaps hide the navbar)."
On mobile, when the user is trying to enter an answer, the keyboard pops up in front of the input box, and there is very little of the lesson showing because the top navbar takes up a lot of space (especially when combined with the browser chrome). See this screenshot (which asks what fraction is represented by the unshaded pieces in the diagram, and has an input field behind the keyboard):

![mob

[2017-11-22 05:22] seanlip commented on #4102
@Nix07, would you like to tackle this?

[2017-11-22 06:35] Nix07 commented on #4102
Hi, @seanlip I am not able to get the same screen view. As soon as, I click on the input field, the field gets highlighted properly and the keyboard appears. Even the dots above the card are properly aligned on my phone!

<img src="https://user-images.githubusercontent.com/22103406/33113135-cf05b158-cf7c-11e7-8a10-412ff84c2e33.png" width="450" height="800" />

[2017-11-22 07:55] seanlip commented on #4102
Hm, that's interesting -- so, if the input field is in the bottom half of the screen when you focus on it, does it scroll up as the keyboard opens?

[2017-11-22 08:52] #3289 closed

[2017-11-22 08:53] seanlip commented on #3708
Superseded by #4076. Closing.

[2017-11-22 08:53] #3708 closed, assigned to nobody

[2017-11-22 08:57] Nix07 commented on #4102
Yes, exactly!
One possible reason: It may happen due to some caching which needs to be updated by the new source files.

[2017-11-22 09:01] seanlip commented on #4102
I don't think we made any changes to these files recently, though. At least not in regard to this behaviour.

Nevertheless, it doesn't look like this is the right issue to work on at the moment. Let me look into this more, and try to find another one instead. Thanks for the investigation!

[2017-11-22 09:03] seanlip commented on #4102
Actually, one thought, @Nix07 -- do you think it's worth hiding the top navbar anyway when the keyboard is opened? Or would this be unnecessary/distracting?

[2017-11-22 09:05] seanlip commented on #4102
Also, interestingly, I just found #3811, which appears to be the same issue as this one.

@tjiang11, can you still reproduce it?

[2017-11-22 19:42] Nix07 commented on #4102
Hey, @seanlip I think it will be worth to hide the navbar. Navbar hardly contains any information, it only contains the links to other pages. And I don't see any reason for Navbar to be displayed when I'm reading/studying an exploration!
**Another approach:** To hide the navbar as soon as the user scrolls down, this will solve our problem as well as display larger part of exploration card. Maybe s

[2017-11-22 20:21] seanlip commented on #4102
That sounds fine to me, too. Go for it, and let's see how it looks!

[2017-11-23 01:18] sucof opened #4104 "how to deploying oppia in a VPS, but no in appengine.google.com?"
Hi, guys, is it suitable for a deployment to a VPS(eg. AWS), but no in appengine.google.com, if so, what can I do?

My current practice as follows:
**bash scripts/start.sh --save_datastore --prod_env.**

Is this enough?

[2017-11-23 02:33] seanlip commented on #3237
Fixed in #3895. Thanks @himanshu-dixit!

[2017-11-23 02:33] #3237 closed

[2017-11-23 14:57] nithusha21 commented on #3826
@seanlip   Can I take up ExplorationWarningsService?

[2017-11-23 15:28] shubha1593 commented on #3826
Hi @nithusha21, assigned you :)

[2017-11-23 21:11] jervis446 commented on #3826
Hi @shubha1593 , I am getting some '404:/frontend_errors' on my local
environment on running the frontend tests. I've made
`I18nFileHashLoader → TranslationFileHashLoaderService
 i18nIdService → ConstructTranslationIdsService`, a file and edited  certain required files. As
per the pt. 4 in the instructions I have included this new file in which
i18n.js is used. But getting testing errors. Pl. help

[2017-11-23 22:37] sriordan9 commented on #4069
@rachelwchen and @seanlip  it seems someone switched the position of the notification circle to the right side. I have corrected the number to display within the circle. I have checked it on Chrome, Firefox, and Safari all of which displayed it in the correct location (only differing slightly, but still within the circle). Below is what I currently have. If you want the circle changed back to the

[2017-11-24 00:27] seanlip commented on #4069
Actually, I think the small circle should remain where it used to be, and the number in it should be a tad smaller than you currently have it. Would that be possible?

[2017-11-24 01:36] shubha1593 commented on #3826
Hi @jervis446, if you're just getting the `404:/frontend_errors`, then it's not a problem. I'll just take a look at your PR.

[2017-11-24 07:20] sriordan9 commented on #4069
The requested changes have been made. Note that (when you look at my css changes you'll notice) I had slightly increased the size of the notification circle (in the previous screenshot and below). This allows it to just barely fit a double digit notification (if one is ever seen at all). What do you think of the below?

![image](https://user-images.githubusercontent.com/26680784/33199100-d46a220a-

[2017-11-24 07:56] seanlip commented on #4069
Looks good, thanks! Please feel free to submit a PR :)

[2017-11-24 15:22] bching commented on #4090
Hey @seanlip, just an update on where I am at.

reproduce:
- edit exploration (under data/explorations) to have a loop, just keep looping in the exploration until the the issue shows

target files:
- numProgressDots in ~/pages/exploration_player/ConversationSkinDirective

One question I have is that currently on a screen large enough the user is able to see where they are in an exploration relativ

[2017-11-24 17:18] sriordan9 commented on #4069
@seanlip In the PR instructions it says to assign you to the PR, but how exactly do I do that? I mean I know you get notified of the PR above since it is part of this thread, but I'm just curious how assigning the PR is done.

[2017-11-24 21:57] darthgera123 opened #4109 "Text and image overlap on home page"
On the home page in any view, the text and images overlap. They need to be separated .
https://screenshots.firefox.com/dNa82Rc4JKEc54sW/www.oppia.org

[2017-11-24 22:15] #3946 closed, assigned to brianrodri

[2017-11-24 22:17] seanlip commented on #4109
Thanks for reporting! Adding the screenshot inline:

![oops](https://user-images.githubusercontent.com/10575562/33224785-1d634c1a-d122-11e7-8683-2fe35b0bf582.png)

I can't reproduce this on my machine, though. What browser and OS are you using?

[2017-11-24 22:18] seanlip commented on #4069
Ah, we need to change those instructions. As it turns out, you can only assign if you're a member of the organization -- I'll update it accordingly. Thanks for the question!

[2017-11-24 22:23] darthgera123 commented on #4109
i am using firefox quantum and ubuntu 16.04

[2017-11-24 22:26] seanlip commented on #4109
Are there any console errors?

[2017-11-24 22:28] seanlip commented on #4090
Thanks @bching! I think we can preserve the size of the dots. In the case where there are too many dots, the dots are supposed to "go behind" the arrows to the left and right (this is the case even on desktop, there's a limit of about 18 dots I think). So using a different limit on mobile should be fine.

[2017-11-25 02:23] Dragneel7 commented on #4109
@seanlip Can I work on this issue?

[2017-11-25 02:48] Dragneel7 commented on #4086
@seanlip I am interested in working, can I work on this issue?

[2017-11-25 05:08] seanlip commented on #4086
Hi @Dragneel7 -- sure, please go ahead! Please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started first.

[2017-11-25 05:09] seanlip commented on #4109
Sure, if you can reproduce it! As mentioned in the other issue, please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first to get started.

[2017-11-25 17:24] seanlip commented on #3825
Closing, since all parts of this issue have been completed. Thanks @abhishekarya286, @Wind-Chaser, @bching, @acashmkj and @shubha1593!

[2017-11-25 17:24] #3825 closed, assigned to nobody

[2017-11-26 04:33] Dragneel7 commented on #4086
@seanlip should I do the starter projects before working on this issue?

[2017-11-26 05:01] seanlip commented on #4086
Hm, I think it depends on how much experience you have. If you're fairly new to github and the technologies Oppia uses, I'd suggest doing so, since they have more instructions, but it's fine either way!

Btw, it would also be helpful if you could fill in the [contributor survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3), since then we can direct you in the future to projects that match your interest

[2017-11-26 06:56] Dragneel7 commented on #4109
I tried on both firefox and chrome but I am unable to produce the above issue. Can you suggest something?

[2017-11-26 07:04] seanlip commented on #4109
Sorry, I can't reproduce it either, so I don't think I can help here! You might need to ask @darthgera123 (the original reporter), or try a different issue instead.

[2017-11-26 07:44] Dragneel7 commented on #4109
@darthgera123 I am unable to reproduce this error , can you suggest help me?

[2017-11-26 15:53] brianrodri commented on #3906
So here's my status:

- It seems that there are some pieces of info out-of-scope in the viz code: exploration id and state name.
- I tried seeing if I could populate $attrs.options with those values, but its point-of-creation doesn't have access either.
- I know that $attrs.data, which holds answer/frequencies, comes from a larger dict that does hold that information... I'm trying to see if I can

[2017-11-26 20:06] seanlip commented on #3906
Thanks for the update!

I think the exploration ID and state name should come from the frontend, rather than the backend. It's known at the point of opening the modal, right? Maybe pass those in (through the resolve() key at $scope.showStateStatsModal). In general, $attrs isn't usually the right way to go here.

Hope that helps, but let me know if I'm misunderstanding the problem!

[2017-11-27 03:22] Dragneel7 commented on #4086
@seanlip I am having trouble setting up the development server, I followed what the installation guide said, but I get this
![deepinscreenshot_20171127085006](https://user-images.githubusercontent.com/24193342/33249386-3230980c-d350-11e7-9427-2926bd852765.png)

the browser window shows "site cannot be reached" Can you please suggest what am I doing wrong?
Thanks.

[2017-11-27 03:34] seanlip commented on #4086
Going to localhost:8181 should work, but you may need to give App Engine a little time to get started fully. The log looks OK to me.

[2017-11-27 04:08] Dragneel7 commented on #4086
I will try to get it running, thanks for the help.

[2017-11-27 05:53] abarya commented on #3954
Hi @brianrodri, would like to take up exploration editor page.

[2017-11-27 07:06] prasanna08 commented on #4104
Hi @sucof sorry for late response. So our wiki page has the guide to [deploy](https://github.com/oppia/oppia/wiki/Deploying-Oppia) Oppia but instructions are specific to Google App Engine. So I think that what you are doing is enough (for non-GAE) but @seanlip would have more idea about this. @seanlip can you help out here?

[2017-11-27 07:07] seanlip commented on #4104
Sorry, I missed this. I'm afraid we don't support Oppia on non-GAE platforms (or, more accurately, haven't tried it out, so I have no idea if it's possible). I suspect it would be difficult since we rely fairly heavily on the GAE infrastructure.

[2017-11-27 07:07] #4104 closed, assigned to nobody

[2017-11-27 07:12] prasanna08 commented on #4102
Hi @seanlip, this issue is still present because I faced it a couple of days back when I was working on my PR. So to reproduce this issue certain specific constraints must be met. First of all length of the entire card should not be more than the size of the screen (so that scrolling is not present when the keyboard is not open but it is present when the keyboard is open). Also, it won't happen wh

[2017-11-27 07:21] seanlip commented on #4102
Ah, thanks @prasanna08! That's very useful.

@Nix07 -- might be worth trying with @prasanna08's example and seeing if you can repro the issue under these conditions?

[2017-11-27 09:28] nithusha21 commented on #3950
Hi I would like to work on "exploration_editor/feedback_tab/feedback_tab.html"

[2017-11-27 10:28] DubeySandeep commented on #3950
Hi @nithusha21, great! I've assigned you.

[2017-11-27 11:34] Nix07 commented on #4102
Thanks, @prasanna08 for such a detailed description of the required constraints.
But the problem is I'm not able to find any exploration which fulfils the first constraint on my phone. Can you share the exploration in which you faced this problem?

[2017-11-28 02:41] BenHenning opened #4119 "Ensure linter script properly diffs against all commits for a respective PR locally"
At the moment, our linter script seems to only compare changes at the head of the branch with the most recent merge with develop. If you make changes to a feature branch, then merge with the latest develop state, the linter script won't include changes prior to that merge. The linter check on GitHub still works as expected, but we should ensure local checks have parity with those on GitHub.

[2017-11-28 06:53] aks681 commented on #3826
@seanlip Shall I take editorFirstTimeEventsService?

[2017-11-28 07:03] seanlip commented on #3826
Sure, I've assigned you. Go for it!

[2017-11-28 09:12] seanlip opened #4122 "Refactor the startup scripts so that Karma tests run as fast as possible, with minimal downloads."
In general, presubmit checks run automatically when code is submitted to GitHub. One of these checks is to run the frontend tests using Karma, which should be quick. However, it turns out that this can end up being much slower than desired, because running the Karma test script causes the setup script to be called, which downloads chromedriver and selenium, which can take a while.

In order to fix

[2017-11-28 11:19] nithusha21 commented on #4057
Hi can I write tests for domain/learner_dashboard?

[2017-11-28 12:19] DubeySandeep commented on #4057
@nithusha21, Sure! I've assigned you.

[2017-11-28 13:48] aks681 commented on #3950
Hi, @seanlip , I would like to work on 'creator_dashboard/creator_dashboard.html'

[2017-11-28 16:27] DubeySandeep commented on #3950
@aks681, that sounds great! I've assigned you. :)

[2017-11-29 05:32] Dragneel7 commented on #4086
@seanlip I am still unable to run oppia on the development server , and the logs remain the same.Can you suggest where I might be going wrong?
I am getting this "9106:9139:1129/110121.370223:ERROR:ssl_client_socket_impl.cc(1135)] handshake failed; returned -1, SSL error code 1, net_error -101"

[2017-11-29 05:42] seanlip commented on #4086
I'm sorry, I don't know -- this is probably something to do with how your local machine is set up. The server should be serving from localhost:8181. Is anything using that port?

[2017-11-29 06:12] Dragneel7 commented on #4086
I don't think so, anyways I will try some more to get it running.

[2017-11-29 06:20] Kunalgarg2100 commented on #3787
@seanlip  clicking on card just redirects to a new page. Its no like the screenshot that you have attached, i.e. clicking on a card does not open modal like window.

[2017-11-29 06:21] seanlip commented on #3787
Try making your browser width smaller.

[2017-11-29 06:24] Kunalgarg2100 commented on #3787
Yeah got the issue. Thanks

[2017-11-29 06:25] Kunalgarg2100 commented on #3787
So it should get redirected to somewhere like it does when the browser width is full? or modal should just close?

[2017-11-29 06:26] seanlip commented on #3787
On clicking outside the card, the modal should just close.

[2017-11-30 14:30] jervis446 commented on #3950
@seanlip  can i take this 'exploration_editor/exploration_editor.html'

[2017-11-30 14:34] DubeySandeep commented on #3950
@jervis446, Sure! I've assigned you. :)

[2017-12-01 00:30] BenHenning commented on #4076
So when investigating this issue, both @seanlip and I were unable to repro the underlying issue of not seeing the correct 'next exploration in the collection' for the logged out case. We need more information on why this was hit before, as it may have been a regression that's since been fixed. The original code to support proper guest continuation in collections was introduced over a year ago.

Gi

[2017-12-01 00:32] seanlip commented on #4076
#3708 was never submitted, so that work is still needed. The current experience in develop does not match the one described above.

[2017-12-01 00:34] BenHenning commented on #4076
Ah I missed that. Okay, thanks

[2017-12-01 01:16] BenHenning commented on #4076
At one point we removed the return to library link, do we want to reintroduce it?

[2017-12-01 01:17] seanlip commented on #4076
Yes, let's follow the design here.

Also, I seem to remember that in some cases we have a "Return to Library" button on the bottom of the main card itself. To clarify, this button should be removed.

[2017-12-01 01:18] BenHenning commented on #4076
Including in the collection case? Shouldn't that still be 'Return to collection' like it is now?

[2017-12-01 01:19] seanlip commented on #4076
Sorry, I just realized the top mock is incorrect. The link at the bottom should be "Return to Collection", not "Return to Library".

(And yes, the button at the bottom of the card should be removed in both cases.)

[2017-12-01 01:20] BenHenning commented on #4076
To clarify one more part: do we want to remove the collection summary card and replace it with the link, or should we keep the summary card in the collection case as well? Happy to provide screenshots if that helps

[2017-12-01 01:21] seanlip commented on #4076
I think I'm confused here, could you provide screenshots?

[2017-12-01 01:31] BenHenning commented on #4076
![end_exp_in_collection](https://user-images.githubusercontent.com/12983742/33463788-441aa304-d5f4-11e7-8ede-99005310f61e.png)
![end_exp_out_collection](https://user-images.githubusercontent.com/12983742/33463789-4431b77e-d5f4-11e7-81dd-8c4bd118f84a.png)

[2017-12-01 01:31] seanlip commented on #4076
Wait, sorry. Where's this "collection summary card" you're referencing? I only see exploration summary cards.

[2017-12-01 01:32] BenHenning commented on #4076
No where, I mixed it up in code with the exp summaries :)

[2017-12-01 01:32] BenHenning commented on #4076
That being said, is this what we want? Note the duplicated 'Return to library'/'Go to library' now present and the updated 'Suggested Next' wording (before it was 'Suggested next')

[2017-12-01 01:34] seanlip commented on #4076
Ah, that's why I was confused :D

If this is a check for intended behavior, then I think this is almost but not quite what we want. Some notes:
- The globes on the cards just seem to be in the wrong place.
- The "Go to library" button at the bottom of the card, in the second case, should be removed.

It is fine for "Next" to be capitalized.

[2017-12-01 01:38] BenHenning commented on #4076
Okay so then there are a few deviations from the original mocks if I understand correctly (since they do have a 'Return to Library' link at the bottom).

[2017-12-01 01:39] BenHenning commented on #4076
Also, the globe placement seems unrelated to this. If it's an actual bug, I'll file a new issue to track it.

[2017-12-01 01:40] seanlip commented on #4076
I don't understand? There should be a link at the bottom in all cases. I was referring to removing the button at the bottom of the main exploration card.

And yeah, the globes should be on the top right. See https://github.com/oppia/oppia/issues/2943 for the expected position.

[2017-12-01 01:42] BenHenning commented on #4076
Ah I misread your statement. Removing the button and filing a separate issue for the globe placement regression.

[2017-12-01 01:55] BenHenning opened #4131 "The placement of the 'globe' on exploration summary cards seems to have regressed"
Example screenshot:

![end_exp_out_collection](https://user-images.githubusercontent.com/12983742/33464533-96e1f3d2-d5f7-11e7-8539-0145ed7eed88.png)

Per #2943 the globe shown on summary cards ought to be in the upper right. It seems this may have regressed recently.

This was reproed using Chrome 62 on Linux Mint.

[2017-12-01 01:55] BenHenning commented on #4076
Filed #4131 to track the globe issue.

[2017-12-01 02:05] BenHenning commented on #4131
Ah, right of the globe is an 'add to playlist' button. Is this WAI?

[2017-12-01 02:17] BenHenning commented on #4131
After some discussion with @seanlip, we're deciding to remove the globe since it's not obvious what it means, and the tooltip (which doesn't apply to mobile cases) isn't available in any languages but English. Additional reasoning from Sean:

[2017-12-01 02:20] seanlip commented on #4131
(To clarify: more like suggesting until we have automatic/easy ways to revert changes, and/or distinguish good from bad changes.)

[2017-12-01 07:04] seanlip commented on #4131
Fixed in #4132, thanks @BenHenning!

[2017-12-01 07:04] #4131 closed, assigned to BenHenning

[2017-12-01 08:17] seanlip commented on #3794
Hi @Anthony-Alridge! Just to check, can we close this issue, or is there more to do?

Thanks!

[2017-12-01 12:17] aks681 commented on #3954
Hi @brianrodri, I would like to work on learner dashboard page.

[2017-12-01 15:26] aks681 commented on #4057
Hi @shubha1593 , can I take services/stateful?

[2017-12-01 17:05] brianrodri commented on #3954
Assigned, thanks both!

[2017-12-01 17:32] #4102 closed, assigned to nobody

[2017-12-01 19:02] DubeySandeep commented on #4057
Hi @aks681, Sure! assigend you. :)

[2017-12-01 19:56] #4090 closed, assigned to bching

[2017-12-01 19:57] seanlip commented on #4047
Hi @bching -- want to have a go at this one?

[2017-12-02 03:01] BenHenning opened #4140 "Admin role may not be inheriting collection editor access permission"
Repro steps:

1. Start local dev server
1. Create local admin account
1. Add admin account to 'admin' role via the admin panel
1. Go to the creator dashboard
1. Click 'Create'

Observed: goes straight into exploration editor

Expected: panel to open up asking whether the user wants to create an exploration or collection

The expected behavior works correctly if in step (3) you instead grant the ac

[2017-12-02 03:05] BenHenning opened #4141 "Collections with 3 nodes have an error when computing path in collection player"
Repro:

1. Start dev server
2. Set up an account with collection_editor role
3. Create a new collection
4. Add 3 explorations (pre-existing should be fine) to that collection
5. Publish the collection
6. Open the collection in the collection player
7. Right click on the page and inspect it using the Chrome inspector

Observed: there's an error about the path not being computed correctly (offending

[2017-12-02 09:35] #4140 closed, assigned to seanlip

[2017-12-02 12:12] Nix07 opened #4143 "The two buttons on the splash page are not aligned properly on mobile devices"
**Steps to reproduce the problem**
Open the splash page on a mobile device or using Device Toolbar in Chrome Dev Tools.

**The Observed Behaviour**
The two buttons are not aligned properly with smaller screen devices.
*On my phone*
<img src="https://user-images.githubusercontent.com/22103406/33515244-641b2a14-d786-11e7-87b3-aee3164bab09.png" width="400">

*Using Device Toolbar*
<img src="https://u

[2017-12-02 12:27] Nix07 opened #4144 "The data displayed on the creator dashboard is not aligned properly on mobile devices"
**Steps to reproduce the problem**
Open the creator dashboard on a mobile device or using Device Toolbar in Chrome Dev Tools.

**Observed Behaviour**
The data displayed under the "Total Plays" and "Subscribers" is not aligned with that of "Average Rating" and "Open Feedback".

<img src="https://user-images.githubusercontent.com/22103406/33515432-6813a436-d789-11e7-8bf4-9514acaef9cb.png" width="400

[2017-12-02 13:24] akumar1503 commented on #3950
is library/library.html free to work on??

[2017-12-02 17:41] DubeySandeep commented on #3950
@GanitGenius, Yeah it's free. I've assigned you.

[2017-12-03 19:07] brianrodri commented on #3906
So #4147 will add the column, but I couldn't decide how to implement the "Address now" link. Should I show a pre-filled modal on top of the page? Or should I switch to the editor tab and bring it up there somehow? In both cases it isn't entirely clear to me how to do so.

[2017-12-03 19:22] pranavsid98 commented on #3906
@brianrodri So, the plan was to make the Address now link lead to the editor tab and open up the Add answer group modal and pre-fill it with the particular answer.
Maybe this helps: We could use this method from StateResponses.js - openAddAnswerGroupModal?
I'm not the most familiar person with front end here, but it seems intuitive for things to proceed this way.
I'd suggest another alternative -

[2017-12-03 19:31] Anthony-Alridge commented on #3794
Hi Sean,

Yep, it's ready to close now :)

Thanks,
Anthony

On Dec 1, 2017 8:17 AM, "Sean Lip" <notifications@github.com> wrote:

[2017-12-03 20:03] seanlip commented on #3794
Cool, thanks! Closing :)

[2017-12-03 20:03] #3794 closed, assigned to Anthony-Alridge

[2017-12-03 20:06] seanlip commented on #3906
I think the first method is better; $broadcast() are like gotos and should be avoided where possible. I would also suggest switching to the editor tab and then calling the relevant function from StateResponses.js.

[2017-12-04 02:28] #4076 closed, assigned to BenHenning

[2017-12-04 21:22] pandeykartikey commented on #3009
Hey @tjiang11 , I would like to work on this issue.

[2017-12-04 22:34] tjiang11 commented on #3009
I've been kind of out of the loop on the whole questions project... @seanlip is this ready to be started yet?

[2017-12-04 22:44] seanlip commented on #3787
@Kunalgarg2100, how is this going? Have you managed to make progress on this issue?

[2017-12-04 22:45] seanlip commented on #3009
Hi @giritheja -- could you comment on this? Thanks!

(@giritheja is currently the main implementer for questions.)

That said, @kartik-25 -- if you're looking for a project, I believe #3787 and #3788 are still open. Would you like to resume work on them? I'm not sure if #3787 is progressing...

[2017-12-04 23:50] pandeykartikey commented on #3009
@seanlip I have no problem with resuming work on #3787 and #3788 .

[2017-12-05 00:49] seanlip commented on #3009
Sounds good! I recommend going ahead with those, then. Just leave a comment on the one you're starting with to mention that you're handling it.

[2017-12-05 03:08] BenHenning opened #4152 "Error when opening answer stats for certain stats in exploration player"
Repro:

1. Go to https://oppiatestserver.appspot.com/create/1#/stats
2. Try to open the answer stats for 'First Question'

Observed: Nothing happens, but an error is printed out in the console

Expected: The answer stats for the state should open up (some states do seem to work)

[2017-12-05 03:10] BenHenning commented on #4152
/cc @pranavsid98 @prasanna08

Might this be related to some of the ongoing stats work? This is currently blocking our 2.5.7 release.

[2017-12-05 04:32] pranavsid98 commented on #4152
@BenHenning Nope. The entire stats frontend changes have been made under a development flag. But, looking at the logs - it seems to be an issue with the answer classification framework.
Moreover, the error seems to be occurring in these lines of StatisticsTab.js:
[code]
I'll investigate a bit and see what is going on.

[2017-12-05 04:41] pranavsid98 commented on #4152
@BenHenning So, Ben, I noticed that this error cropped up only for interactions like NumberInput, CodeInput and not for ItemSelection and TextInput. The error goes back to AnswerClassificationServices.getMatchingClassificationResult() method - particularly, lines 60-63:
[code]
The console error says: interactionRulesService[rule.type] is not a function.
@anmolshkl @prasanna08 Do you have any sugge

[2017-12-05 04:47] prasanna08 commented on #4152
Hi @pranavsid98, I don't know what exactly is issue here. Can you give me some more information like `rule.type` for which this error is produced?

[2017-12-05 05:20] seanlip opened #4153 "SetInput shouldn't show "addressed" check in "commonly submitted elements" table?"
To reproduce: load the Project Euler exploration (multiples.yaml) from the admin page, then go to /explore/1 and play it a bit. Go to the Jobs tab in /admin and run the InteractionAnswerSummariesAggregator at least once. Finally, go to /create/1#/stats and click on the "Numbers for first question".

You'll see something like the following. It makes sense to show an "Addressed?" column for "Top 10

[2017-12-05 06:15] giritheja commented on #3009
@seanlip I think only the review comments of #3907 remain. I trying to find time to address them. I will try to complete them in the next 2-3days. After which, I think @kartik-25 can start on this issue.

[2017-12-05 06:24] seanlip commented on #3009
Sounds good. Thanks for the update!

[2017-12-05 06:57] #4152 closed, assigned to nobody

[2017-12-05 07:25] BenHenning opened #4155 "When running ExplorationStateIdMappingJob on oppiatestserver, some explorations fail to load"
Repro steps:

1. Start ExplorationStateIdMappingJob on oppiatestserver
2. Wait a few minutes (2-3)
3. Go to logs

Observed: Errors start early on in the job regarding explorations that can't be upgraded to the latest schema version, e.g.:

[code]

The job will eventually fail after running out of shard attempts.

Expected: No errors should occur.

I tried briefly troubleshooting this by running th

[2017-12-05 07:25] BenHenning commented on #4155
/cc @pranavsid98 @prasanna08 @seanlip

[2017-12-05 08:34] darthgera123 commented on #4072
Ill work on this issue, though ill need some help with it

[2017-12-05 09:17] pranavsid98 opened #4158 "Overflow issue in state stats window"
When large blobs of text have been submitted for TextInput interaction, the corresponding state stats window overflows out of the modal window. /cc @seanlip
![screen shot 2017-12-05 at 2 44 58 pm](https://user-images.githubusercontent.com/15828797/33599137-34a823f8-d9cb-11e7-9887-13c2242b515a.png)

[2017-12-05 16:36] Dragneel7 commented on #4086
I was able to setup Oppia locally and will try to work on the issue.

[2017-12-05 16:54] Dragneel7 commented on #3826
Hi @seanlip  can I start  with working on ExplorationPropertyService.js file?

[2017-12-05 17:17] 1995YogeshSharma commented on #3826
Hi @Dragneel7, yes you can go ahead. I've assigned you.

[2017-12-05 17:26] 1995YogeshSharma commented on #4086
Hi @Dragneel7, you also asked for working on part of #3826. I suggest you should work on one issue first. I have assigned you to that part. Do you want to work on this one instead?

[2017-12-05 17:50] Dragneel7 commented on #4086
I will start by working on the part of #3826 .

[2017-12-05 18:26] 1995YogeshSharma commented on #4086
thanks @Dragneel7

[2017-12-06 05:56] Dragneel7 commented on #3826
@1995YogeshSharma I am getting this error on running the frontend test:-
"TypeError: Cannot read property 'initializeTrainingData' of undefined
	    at Object.<anonymous> (core/templates/dev/head/pages/exploration_editor/editor_tab/TrainingDataServiceSpec.js:329:8)"

How can I proceed with resolving it?

[2017-12-06 11:17] DubeySandeep opened #4159 "Incorrect link to [style guide] in PULL_REQUEST_TEMPLATE.md"
Newly updated PULL_REQUEST_TEMPLATE.md contains an incorrect link to style guides ([see](https://github.com/oppia/oppia/pull/4117/files#diff-7240be7a02d8789cae2c0970f0260dfeR7)).

Correct link: https://github.com/oppia/oppia/wiki/Coding-style-guide

[2017-12-06 20:42] ishucr7 commented on #4014
@shubha1593  Will that be fine ?

![78](https://user-images.githubusercontent.com/23234392/33684293-cbc89f78-daf3-11e7-906a-e129fa5553d2.png)

[2017-12-06 20:59] marion59000 commented on #3826
Hi @seanlip, could I work on StatePropertyService.js ?

[2017-12-06 23:49] seanlip commented on #3826
Sure thing! I've assigned you.

[2017-12-06 23:53] seanlip commented on #4159
Thanks, @DubeySandeep! Not sure how I missed this last time; I just fixed it in a PR.

Thank you for reporting!

[2017-12-06 23:54] seanlip commented on #4158
@pranavsid98 -- please don't use the "PR for current release" label. That should be added only with the knowledge of the release coordinator, and only for PRs (not issues). If you believe the release is blocking on this issue, then this should be a blocking bug; again, this is the release coordinator's decision so please liaise with them. Thanks!

[2017-12-07 10:34] shubha1593 commented on #4014
@ishucr7, yup looks good!

[2017-12-07 13:39] aks681 commented on #1404
@seanlip, can I try this issue? This would be my first issue in writing protractor tests.

[2017-12-07 14:26] tameeshB commented on #3950
Can I take up the base.html ?

[2017-12-07 14:30] shubha1593 commented on #3950
@tameeshB sure, assigned you :)

[2017-12-07 17:38] aks681 commented on #3989
@seanlip, can I take up this issue?

[2017-12-07 17:46] Hsankesara commented on #2394
can I work on this?

[2017-12-07 23:11] seanlip commented on #3989
Sure! But this needs some design, so if your interests lie more in implementation then there might be better ones to take up. I'll look around and suggest something.

[2017-12-07 23:12] #4159 closed, assigned to seanlip

[2017-12-07 23:15] seanlip commented on #4158
Hi @pranavsid98 -- please could you add repro instructions, too? Hints about which files to look at might be useful as well. Thanks!

[2017-12-07 23:16] seanlip commented on #4155
I think this is fixed in #4157 -- thanks, @prasanna08!

[2017-12-07 23:16] #4155 closed, assigned to prasanna08

[2017-12-07 23:17] seanlip commented on #4143
Hi @Nix07, just to confirm -- is the issue here that the right edge of the button extends beyond the right end of the viewport?

[2017-12-07 23:37] seanlip commented on #1404
Hi @aks681 -- yes, go ahead! Though I would suggest perhaps doing the refactor of the exploration player page in https://github.com/oppia/oppia/issues/3954 first (since the PR for this issue would build on it).

[2017-12-08 03:23] Nix07 commented on #4143
Hi @seanlip Yes, you are correct. The buttons are overflowing the viewport.

[2017-12-08 06:10] BenHenning opened #4164 "Error when running ExplorationStateIdMappingJob"
When running ``ExplorationStateIdMappingJob`` on the test server after cherrypicking #4157 an error occurs:

[code]

[2017-12-08 06:26] nithusha21 commented on #3764
Hi can I look into this issue @jaredsilver ?

[2017-12-08 06:33] BenHenning commented on #4164
/cc @pranavsid98
/cc @prasanna08
/cc @seanlip

[2017-12-08 06:45] aks681 commented on #3989
Ok, thanks

[2017-12-08 06:48] 1995YogeshSharma commented on #3764
@nithusha21, sure. I'll assign it to you.

[2017-12-08 06:51] nithusha21 commented on #3764
thanks @1995YogeshSharma

[2017-12-08 06:52] 1995YogeshSharma commented on #3764
@nithusha21 Have you accepted the invitation from Oppia? I don't see your name in the assignee options.

[2017-12-08 06:58] nithusha21 commented on #3764
I haven't got any invite from Oppia. I have been working on some starter projects up till now. What should I do?

[2017-12-08 07:03] seanlip commented on #3764
Hi @nithusha21, I've just sent you an invite! Please accept it at https://github.com/oppia/oppia/invitations, and then you can assign yourself to issues. Thanks!

[2017-12-08 07:04] nithusha21 commented on #3764
ok thanks @seanlip accepted 👍

[2017-12-08 07:12] seanlip commented on #4164
I know what the issue is. Submitting a fix.

[2017-12-08 07:42] anmolshkl opened #4166 "SVMPredictionService makes incorrect predictions for TextInput when following libsvm's approach."
SVMPredictionService is unable to make correct predictions and achieves a below par accuracy of 12% for TextInputPredictionServiceSpec, whereas the Python implementation (scikit) achieves an accuracy of nearly 89%. However, upon modifying [`sum -= intercept[p]`](https://github.com/anmolshkl/oppia/blob/f11c34e1404c96dfd8ccc5e35a3ca1dd6ae2e286/extensions/classifiers/SVMPredictionService.js#L107)  to

[2017-12-08 08:20] aks681 commented on #1404
@seanlip I have done one of those already.

[2017-12-08 08:22] aks681 commented on #1404
Ok, will do that then first.

[2017-12-08 08:26] aks681 commented on #3954
@brianrodri , shall i take up exploration_player?

[2017-12-08 08:27] seanlip commented on #3954
Hi @aks681 -- that's fine. I'll assign you!

[2017-12-08 08:32] BenHenning opened #4167 "InteractionAnswerSummariesAggregator breaks for deleted explorations"
It appears that if InteractionAnswerSummariesAggregator runs across answers that correspond to deleted explorations, the job fails in the reduce step:

[code]

[2017-12-08 09:50] #4164 closed, assigned to seanlip

[2017-12-08 09:51] BenHenning opened #4169 "KeyError when running GenerateV1StatisticsJob with production data"
Stack trace:

[code]

[2017-12-08 19:15] aks681 commented on #4141
Hi @BenHenning , I would like to work on this.

[2017-12-08 19:16] aks681 commented on #4141
Hi, @BenHenning, can I work on this?

[2017-12-08 21:41] seanlip commented on #4141
Yes, go ahead! In general, feel free to assign yourself -- no need to ask :) Just make sure to take at most one issue at a time.

[2017-12-09 04:16] code247 commented on #3950
Hi, Can I take up settings_tab.html?

[2017-12-09 06:35] shubha1593 commented on #3950
Hi @code247, welcome :) Before taking this up, would you please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

[2017-12-09 06:44] aks681 commented on #4141
Ok, thanks.

[2017-12-09 10:15] aks681 commented on #4141
@seanlip , I fixed the console error part. What sort of tests should I write as mentioned in the issue?

[2017-12-09 10:44] seanlip commented on #4141
That's more of a question for @BenHenning, but I think an end-to-end test would be suitable. You could create a collection with one node, check that there are no console errors when displaying, add a further node, check that there are no console errors when displaying, etc. (until you get to 4 or 5 nodes). Perhaps an existing test can be modified to handle this.

[2017-12-09 11:30] aks681 commented on #4141
Ok, I will try that.

[2017-12-09 18:15] kevintab95 opened #4173 "Error on clicking Solution button in editor preview mode"
Steps to repro:
Create a new exploration > Add Hint > Add Solution > Click play exploration > Click on "Give Up?" button > Error shows

![preview_solution_error](https://user-images.githubusercontent.com/11008603/33798232-e61be65c-dd3a-11e7-8aeb-75357b2a694d.png)

This is most likely due to the recordSolutionHit method (which is expected to be called once an exploration is published?)

[2017-12-09 19:11] #4173 closed, assigned to nobody

[2017-12-09 19:12] kevintab95 commented on #4173
Closing as this issue cannot be reproduced in the latest develop branch.

[2017-12-09 22:18] jacobdavis11 opened #4177 "In Firefox, clicking bold / italic in the rich-text-editor does nothing."
In Chrome, if I click on the bold button in the RTE then the button is shown as depressed, and text I write from this point on is in bold (likewise for italic). However in Firefox this does not happen. It should happen in both browsers.

If instead I highlight some text and then click the bold button, then it is correctly changed to bold (in both Firefox and Chrome).

[2017-12-09 22:27] jacobdavis11 opened #4178 "The "add to playlist" tooltip in the library is a little unclear"
Go to the library and click the "add to playlist" button on an exploration. You will immediately be shown a tooltip saying "already added to playlist" which gives the impression that the exploration was on your playlist before you clicked, even though that is not correct.

Instead, it would be preferable if no new tooltip were displayed. It's fine to show the "already added to playlist" tooltip if

[2017-12-09 22:41] jacobdavis11 opened #4179 "The "default" and "useful" terms in the statistics tab are confusing."
The distinction between "default feedback" and "useful feedback" is unclear to me. In particular, just because a piece of feedback is the default it may still be useful.

It also doesn't seem to correspond to the "Addressed" column for the specific answers. If being addressed just means having some kind of response, then don't the editor rules force all answers to be addressed?

<img width="1440"

[2017-12-09 22:57] jacobdavis11 opened #4180 "The fractions interaction sometimes accepts negative versions of the correct answer"
Create a fractions interaction with the rule "has integer part equal to 4" and submit the answer -4. It will be accepted even though it's wrong.

Similarly the "has numerator equal to" rule will accept the negative of the correct answer.

[2017-12-09 23:08] #4169 closed, assigned to BenHenning

[2017-12-09 23:10] seanlip commented on #4179
@pranavsid98 PTAL

[2017-12-10 00:54] seanlip commented on #4180
Hi @jacobdavis11, this should now be fixed on the test server. Please could you verify?

Thanks!

[2017-12-10 01:07] shubha1593 commented on #3950
@code247, assigned you :)

[2017-12-10 01:25] seanlip opened #4182 "Some one-off jobs fail in production"
Generate V1 Stats job fails in production with this error:

[code]

ExplorationStateIdMappingJob fails in production with this error:

[code]

[2017-12-10 01:53] prasanna08 commented on #4182
Hi @seanlip is this urgent? Because I don't have my laptop with me (I had to submit it to the service center). However, I am not sure about the reason for this error. It seems that some uncaught exception is being raised but I am not sure where it is being raised. Other than that this [line](https://github.com/oppia/oppia/blob/develop/core/domain/exp_jobs_one_off.py#L396) is yielding only a single

[2017-12-10 05:25] seanlip commented on #4182
Oh yes, that's almost certainly the issue. I'll try and submit a fix.

[2017-12-10 05:29] seanlip commented on #4182
Though that's a bit odd, actually. That line doesn't have an exception...

[2017-12-10 07:01] #4014 closed, assigned to nobody

[2017-12-10 08:21] jacobdavis11 commented on #4180
The "has integer part equal to" rule is now fixed, but the "has numerator equal to" rule still accepts the negative of the correct answer

[2017-12-10 08:30] seanlip commented on #4180
Sorry, I'd missed the numerator line.

That said, I think I want to do a different change, namely, to make the rule become "is an improper fraction with numerator equal to X". This avoids weird cases like "what is the numerator of -1 1/3?". What do you think?

[2017-12-10 08:42] jacobdavis11 commented on #4180
Being able to check for improperness would be useful, but it seems strange to have simple rules for the value of the integer part and denominator, but not the numerator.

I agree that the -1 1/3 case is a bit confusing, but I don't think anyone would disagree that its numerator is -1.

[2017-12-10 08:48] seanlip commented on #4180
Hm, it's ambiguous, I think. It could be regarded as -1 - 1/3 (so, -1), or -2 + 2/3 (so, 2), or 1 (by looking at it directly). In fact, my initial instinct was to regard it as 1, since the way you convert a mixed number to a improper fraction is to ignore the sign, turn it into 4/3, then put the sign back.

Given this ambiguity, and the fact that we had different interpretations for numerator, wha

[2017-12-10 08:51] jacobdavis11 commented on #4180
The main use case (by far) is likely to be positive numbers, so I think keeping the existing rule is preferable, even if the behaviour for negative numbers is confusing.

[2017-12-10 13:23] pranavsid98 commented on #4179
@jacobdavis11 The distinction between default feedback and useful feedback is basically enforcing addressing all sorts of answers by specific answers, right?
Re the addressed answers column, I think that might be a bug there. I don't think we planned to consider any answers addressed by the default answer group to be 'addressed'. I'll look into that!

Thanks

[2017-12-10 13:54] darthgera123 commented on #3826
i would like to help with changeListService. Please guide thanks

[2017-12-10 14:24] 1995YogeshSharma commented on #3826
Hi @darthgera123 `changeListService` is already taken.
I have assigned you to lostChangesService.

[2017-12-10 15:45] shubha1593 commented on #3826
Hi @darthgera123, welcome :) Before starting, would you mind completing the step1 over [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) (signing the CLA), needed to start contributing ?

[2017-12-10 16:18] jacobdavis11 commented on #4179
I would suggest terms more like "specific feedback" and "default feedback", and harmonising the terminology with the addressed answers column (assuming it's also supposed to represent answers that have specific feedback).

Given we force creators to provide default feedback, to then characterise that feedback as being not useful seems discouraging.

[2017-12-10 21:42] pranavsid98 commented on #4179
@jacobdavis11 Yep, that makes sense! Specific feedback might look better. And yes, it is supposed to be in sync with the addressed answers column. @brianrodri Any idea why the addressed answers column is showing Yes for all rows right now?

[2017-12-10 23:06] seanlip commented on #3826
Deassigning @darthgera123 until CLA is signed.

[2017-12-11 00:21] brianrodri commented on #2766
Hey @pranavsid98, I'd like to work on this as a follow-up to #4147! Is that alright?

[2017-12-11 00:38] seanlip commented on #4179
@pranavsid98 I checked the corresponding exploration on the test server. It looks like this is because all outcomes (including the default outcome) lead away from the state. I think this is fine because, from the learner's point of view, "something happens".

For the label of the column, maybe "Addressed explicitly" might be better?

/cc @brianrodri

[2017-12-11 00:43] seanlip commented on #3906
Just to check, why was this reopened?

[2017-12-11 00:43] pranavsid98 commented on #2766
@brianrodri Sounds good to me! I've assigned you! Thanks!

[2017-12-11 00:44] seanlip commented on #2766
Hi @brianrodri -- would it be possible to fix the other bugs assigned to you first? See
https://github.com/oppia/oppia/issues/assigned/brianrodri. Thanks!

[2017-12-11 00:44] brianrodri commented on #3906
Just because I haven't added the links yet, I plan on closing after that's done!

[2017-12-11 00:44] seanlip commented on #3906
Ah, got it. Thanks!

[2017-12-11 06:30] seanlip opened #4188 "Errors when running GenerateV1StatisticsJob and ExplorationStateIdMappingJob in production"
Two errors show up when running the GenerateV1StatisticsJob in production:

[code]

[code]

The ExplorationStateIdMappingJob also continues to exhibit this error in production:

[code]

[2017-12-11 06:32] seanlip commented on #4182
Superseded by #4188.

[2017-12-11 06:32] #4182 closed, assigned to prasanna08, pranavsid98

[2017-12-11 07:10] jacobdavis11 commented on #4179
Perhaps you could call the column "has specific feedback"? Using the same term as in the pie chart should make it clear that they are referring to the same thing. (Technically "explicit" and "specific" mean different things.)

[2017-12-11 09:23] seanlip commented on #4188
The first two errors have been fixed in #4189 and the job now runs fully in production. I will close this and file a separate issue for ExplorationStateIdMappingJob, since the latter is a separate job.

[2017-12-11 09:23] #4188 closed, assigned to prasanna08, pranavsid98

[2017-12-11 09:24] seanlip opened #4190 "ExplorationStateIdMappingJob fails in production"
The ExplorationStateIdMappingJob exhibits this error in production when run; we need to debug it:

[code]

/cc @BenHenning

[2017-12-11 10:39] prasanna08 commented on #4190
@seanlip I think the error is being raised by the state id map generating functions because of some issue with commit_cmds of some exploration. If commit_cmds are not properly synchronized with exploration versions then it will create the problem. I can't find any other reason for it to happen.

[2017-12-11 19:05] jacobdavis11 commented on #4047
@bching any updates on this?

[2017-12-11 19:06] jacobdavis11 commented on #3836
@prasanna08 any more updates on this?

[2017-12-11 19:07] jacobdavis11 commented on #3822
@kevintab95 any updates on this?

[2017-12-11 19:08] jacobdavis11 commented on #3753
De-assigning for now; please re-assign if you'd like to continue work.

[2017-12-11 19:09] jacobdavis11 commented on #3576
@AllanYangZhou any updates?

[2017-12-11 19:10] jacobdavis11 commented on #3478
@DubeySandeep any updates on this?

[2017-12-11 19:11] jacobdavis11 commented on #2575
@vojtechjelinek are you planning to work on the other parts of this issue?

[2017-12-11 20:13] vibhor98 commented on #4091
Hi @tjiang11 Can I work on this? Secondly, where is the file for styling the images - css? Thanks!

[2017-12-11 20:19] tjiang11 commented on #4091
Hi @vibhor98 , sure! I don't know where the CSS for styling images are off-hand. You can try inspecting the browser and then `grep`-ing for the CSS selectors that you see there. Thanks!

[2017-12-12 01:35] EvanWiederspan commented on #4177
Mind if I take this on @AllanYangZhou ?

[2017-12-12 01:59] seanlip commented on #4177
Hi @EvanWiederspan, please go ahead! Thanks :)

[2017-12-12 02:17] seanlip commented on #4190
Chatted with @BenHenning.

- Noted that the `exploration` variable on line 365 is shadowed by the one on line 394, maybe that's relevant.
- @BenHenning suggests removing the yields and reintroducing them one at a time until the error presents, since this is something to do with the stuff yielded by map().

[2017-12-12 02:36] pranavsid98 commented on #3822
@jacobdavis11 I shall be taking over this. Kevin is going to be working on the new hints design.
I plan to work on this after a week or so. Is that fine?

[2017-12-12 03:47] jacobdavis11 commented on #3822
That sounds great; thanks for letting me know.

[2017-12-12 05:34] prasanna08 commented on #4190
Hi, @seanlip if the current release can go ahead without this Job then feel free to do so. This job can go in next month, too, since I won't be working further on this part until after February.

Also, I don't think that error is because of stuff yielded from map() because all the yields are tuple objects and they have len() == 2. I think something is raising the exception in the map() function. I

[2017-12-12 08:37] #4153 closed, assigned to brianrodri

[2017-12-12 08:47] seanlip commented on #4190
Hi @prasanna08 -- thanks. We'll drop this job from the current release, then.

And what you suggest sounds fine -- feel free to make changes when you get a chance, and we can re-run in production! Thanks.

[2017-12-12 10:23] darthgera123 commented on #3826
i have signed the cla @seanlip  can i start working on lostChangesService

[2017-12-12 14:15] shubha1593 commented on #3826
Hi @darthgera123, yes you can start working, assigned you :)

[2017-12-12 19:53] darthgera123 commented on #3826
@shubha1593 there are some services as lostChanges only in the file while some are lostChangeService. Do i change both or only the latter

[2017-12-13 03:02] shubha1593 commented on #3826
@darthgera123, only have to change `lostChangesService`.

[2017-12-13 04:12] BenHenning commented on #4158
Is this a new issue? @pranavsid98 can you repro this in a local dev environment and check whether it also repros on HEAD from about 5 weeks ago? I suspect this is an existing issue, and it doesn't seem bad enough to block on outright. We should really fix this, though.

If this is a regression, please add it to the blocking bugs milestone.

[2017-12-13 05:16] pranavsid98 commented on #4158
@BenHenning I think this is an existing issue. I just happened to come across it on the test server now.

[2017-12-13 05:20] jervis446 commented on #4057
HI @shubha1593 ,can i take domain/classifier?

[2017-12-13 05:40] darthgera123 commented on #3826
@shubha1593 could you run thee tests as well, ive submitted the pr thank you

[2017-12-13 05:49] 1995YogeshSharma commented on #4057
Hi @jervis446, sure, assigned you.

[2017-12-13 06:36] seanlip opened #4195 "Fully deprecate the StatisticsAggregator continuous computation."
StatisticsAggregator has now been replaced by a new incremental system for computing statistics. We should therefore deprecate StatisticsAggregator and remove references to it.

The following should be replaced now (and the new functions should be tested):
- core/domain/summary_services.py, line 376: stats_jobs_continuous.StatisticsAggregator.get_views_multi()
- core/domain/user_jobs_continuous.py

[2017-12-13 08:03] #4167 closed, assigned to BenHenning

[2017-12-13 11:54] nithusha21 commented on #3764
I tried debugging this issue, what I found out is is that the popover-is-open value(parameter on $scope) changes correctly but the popover doesn't hide. This doesn't seem to be a prevalent issue online and maybe upgrading our version of angular-ui bootstrap to the latest version might help fix this. I saw that #3490 is still open and might be able to fix this too.

[2017-12-13 19:35] vibhor98 commented on #4091
Hi @tjiang11  I have seen 'Welcome to Oppia! '  exploration and few others. But I was unable to see these large images anywhere. Can you help? Thanks!

[2017-12-13 19:39] tjiang11 commented on #4091
Hi @vibhor98 , I think @seanlip simply created these explorations as a demo on his local server.

[2017-12-13 19:45] vibhor98 commented on #4091
@tjiang11 Ok. So where can I find images in some other explorations so that I can grep from there to find the CSS file?

[2017-12-13 19:47] tjiang11 commented on #4091
Hi @vibhor98 , you can do the same thing seanlip did and reproduce it by using some large test images.

[2017-12-13 19:50] vibhor98 commented on #4091
@tjiang11 , I will try. Thanks!

[2017-12-13 20:21] seanlip commented on #3764
Hi @nithusha21, thanks! Yeah, I can see this being related to #3490. I've assigned you to the latter. Thanks!

[2017-12-14 01:44] #4179 closed, assigned to brianrodri, pranavsid98

[2017-12-14 15:06] akumar1503 commented on #4065
@seanlip i want to work on this issue.
as you mentioned above, i think this is what it means:
* create a url handler '/exp_editor_logout_page' and a corresponding controller in editor.py.

* pass 'redirect_url_on_logout' when rendering a response for '/create' to '/exp_editor_logout_page?return_url = {{ self.request.url }}'

* handle this request in newly created class. if exploration is not publi

[2017-12-14 18:15] seanlip commented on #4065
That seems reasonable, yes. Remember to write backend tests, too!

[2017-12-14 19:27] kevintab95 opened #4202 "Create modals for hints and solutions in the learner view"
Instead of showing Hints/Solution in the dialog interface, show it as a dialog.

[2017-12-15 04:05] #4086 closed, assigned to nobody

[2017-12-15 05:29] WickedBrat commented on #3950
@shubha1593 Can I start to work on this?

[2017-12-15 05:42] shubha1593 commented on #3950
Hi @WickedBrat, before working on this, please follow the steps given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to set things up and get started :)

[2017-12-15 06:24] seanlip commented on #4180
@jacobdavis11 -- just to clarify, when you say "keeping the existing rule is preferable", I'm interpreting this to mean "leave it as it is in develop for now". That's correct, right? If so I'll close this.

[2017-12-15 06:51] seanlip commented on #4144
Hi @aks681, want to take a look at this?

[2017-12-15 10:06] seanlip commented on #4141
Fixed in #4197. Thanks @aks681!

[2017-12-15 10:06] #4141 closed, assigned to aks681

[2017-12-15 10:31] aks681 commented on #4144
@seanlip Ok, I will look into it.

[2017-12-15 13:16] jacobdavis11 commented on #4180
Yes that's correct.

[2017-12-15 13:16] #4180 closed, assigned to seanlip

[2017-12-15 18:34] BenHenning commented on #1270
Design document (written by @prasanna08): https://docs.google.com/document/d/1v_Phv3czDLz20HhzcQwctOuSxiHlQmr6SThV1ugFYas/edit?usp=sharing

[2017-12-15 19:04] BenHenning opened #4206 "ImageClick interaction is currently broken"
Repro:

1. Go to https://oppiatestserver.appspot.com/explore/FihuqEfSH2ZH
2. Try to click on Jupiter

Observed: the image does not show up & there's an error in the console

Expected: the image should show up and Jupiter should be clickable

This appears to be a regression caused by #4115 (rolling it back locally fixes the issue).

This is currently blocking the 2.5.7 release.

[2017-12-15 19:05] BenHenning commented on #4206
/cc @vojtechjelinek
/cc @seanlip

[2017-12-15 21:11] seanlip commented on #4206
Should be fixed in #4207 (thanks @vojtechjelinek)!

[2017-12-15 21:11] #4206 closed, assigned to vojtechjelinek

[2017-12-16 17:51] abarya opened #4214 "WebDriverError: unknown error: Chrome failed to start: exited abnormally"
I'm facing the following error while running the script

`sudo bash scripts/run_e2e_tests.sh`

Log:
[code]
I'm repeadetely getting this error. What should I do?
Thanks!

[2017-12-16 20:59] #3891 closed, assigned to 1995YogeshSharma

[2017-12-16 22:11] BenHenning opened #4216 "The music interaction appears to be broken"
Repro steps:

1. Either create a new exploration with music input or play through https://oppiatestserver.appspot.com/explore/16 to card  13
2. Try placing notes on the staff

Observed: no notes appear on the staff, and console errors appear (404s) when trying
Expected: notes should appear and allow the answer to be submitted

[2017-12-16 22:15] BenHenning opened #4217 "[Regression] When interacting with the graph input interaction and after adding a new node, the default selection goes back to 'move'"
Repro:

1. Play through https://oppiatestserver.appspot.com/explore/16 until card 6
2. Click 'Add Node'
3. Add a node to the graph

Observed: the default selection returns to 'Move'
Expected: selection should stay on 'Add Node' since the 'Move' button was never clicked (this was past behavior)

[2017-12-16 22:18] BenHenning opened #4218 "Console errors when using MathExpressionInput"
Repro:

1. Either create a new exploration with math expression input or play through https://oppiatestserver.appspot.com/explore/16 to card 10
2. Type in 'y=mx+b'
3. Open dev console

Observed: console errors appear
Expected: no console errors should appear

The interaction allows you to submit an answer, but it's not clear if there's some aspect of the learner view broken here.

Console errors:

[2017-12-16 22:19] seanlip commented on #4214
I'm afraid this isn't an error that's due to Oppia, so we'll need to close this issue. I did notice a couple things though:

(1) You shouldn't need to use `sudo` when running the e2e tests. That might indicate some other issue with permissions on your local machine.
(2) I recommend doing a web search for "WebDriverError: unknown error: Chrome failed to start: exited abnormally" -- many other peopl

[2017-12-16 22:19] #4214 closed, assigned to nobody

[2017-12-16 22:22] BenHenning commented on #4216
Console error observed when playing it:

[code]

[2017-12-16 22:23] seanlip commented on #4216
/cc @vojtechjelinek -- this seems to be due to the interactions refactor?

[2017-12-16 22:25] seanlip commented on #4218
/cc @vojtechjelinek

[2017-12-16 22:25] BenHenning commented on #4217
Confirming this repros on the local dev server.

[2017-12-16 22:26] BenHenning commented on #4218
Doesn't seem to repro on local dev server; I wonder if this involves using prod resources.

[2017-12-16 22:27] BenHenning commented on #4216
Confirming this repros on the local dev server

[2017-12-16 22:30] BenHenning commented on #4217
This still repros after reverting #4115; it's likely this is already in prod. It's unclear what the cause it.

[2017-12-16 22:32] BenHenning commented on #4216
This does seem to be caused by #4130 (the issue goes away when locally rolling that back)

[2017-12-16 22:34] BenHenning commented on #4217
Since this is likely already in prod and does not completely break functionality, downgrading this from a release blocker to a high priority bug.

[2017-12-16 23:22] vojtechjelinek opened #4220 "MusicNotesInput static images are not hash interpolated."
Most of the files should be interpolated with their hash in the build process. For some reason
the images in [MusicNotesInput/static/images](https://github.com/oppia/oppia/tree/develop/extensions/interactions/MusicNotesInput/static/images) are not interpolated. We should find out why and if there are any other files, especially in /extension, that are not interpolated.

Also, the image files are l

[2017-12-16 23:28] vojtechjelinek commented on #2575
Yes, I have designed the next steps, but I will continue the next month.

[2017-12-17 01:10] #4216 closed, assigned to seanlip

[2017-12-17 01:13] seanlip commented on #4218
Fixed in #4219

[2017-12-17 01:13] #4218 closed, assigned to seanlip

[2017-12-17 05:23] abarya commented on #4214
Thanks @seanlip,
[This](https://stackoverflow.com/questions/22558077/unknown-error-chrome-failed-to-start-exited-abnormally-driver-info-chromedri) suggests using xvfb. I don't know how to configure it with oppia. Can you help me with this?

[2017-12-17 05:44] seanlip commented on #4214
No, I'm afraid I don't know how, either, so my knowledge here would be the same as yours...

The issue you found seems quite specific to jenkins, so I'm not sure whether the xvfb thing is a jenkins thing or a selenium thing. It might be worth reading through a few other solutions and seeing if you can figure out which root cause applies to your machine.

[2017-12-17 05:49] abarya commented on #4214
okay

[2017-12-17 06:05] abarya commented on #4214
Hi @seanlip, I just went through [this](https://groups.google.com/d/msg/selenium-users/_JN2ebWMMIk/-r9sRTwxFQAJ) answer.
when I run `./chromedriver`, I get the error `bash: ./chromedriver: No such file or directory`. How do I check the chromedriver that has been installed with oppia repo.

[2017-12-17 06:08] seanlip commented on #4214
Try searching from "chromedriver" in the Oppia codebase, I think there's a path in perf_services.py that might be useful.

[2017-12-17 06:48] abarya commented on #4214
Hi @seanlip, I reinstalled everything without using **sudo**. Now, I think tests seem to be working but I 'm getting timeout error like this:
![image](https://user-images.githubusercontent.com/24565261/34077221-5aed2178-e324-11e7-98bf-c732086d38d3.png)

[2017-12-17 06:51] abarya commented on #4214
When I had run tests for the first time, I saw something like [this](https://drive.google.com/open?id=1CyAg8GFOWo7I28Y3efVHPN9FLJ8dEIvq). Is this correct?

[2017-12-17 06:52] seanlip commented on #4214
Congrats! Yep, I can imagine sudo being the issue.

Unfortunately, I don't know what's going on with the timeout errors, and I've never seen this before, so I'm not sure I can help you debug. But I suspect it's a different problem. It might be worth looking at the logs above these ones and seeing whether there's anything unusual going on.

The screenshot that you are looking at is a good sign. Tha

[2017-12-17 06:55] abarya commented on #4214
Thanks @seanlip. Let me see, what's going wrong.

[2017-12-17 07:06] abarya commented on #4214
Now, when I run e2e tests, I'm getting chrome as:
![image](https://user-images.githubusercontent.com/24565261/34077308-d1fbbffc-e326-11e7-8aa2-97f358d9a77d.png)

[2017-12-17 07:12] abarya commented on #4214
Here's the error log:
[code]

[2017-12-17 07:23] seanlip commented on #4214
See if you have any running process on port 9001. If you do, kill it.

Other than that, this looks good!

[2017-12-17 07:27] abarya commented on #4214
Hey @seanlip. Out of curiosity, I ran `bash scripts/start.sh` and surprisingly, I'm getting this error
[code]

[2017-12-17 07:30] seanlip commented on #4214
Same issue. You probably have something running already on that port; you'll need to kill it first.

[2017-12-17 07:36] abarya commented on #4214
Restarted my system. It is working now. thanks @seanlip

[2017-12-17 07:50] seanlip commented on #4214
Great, glad to hear!

[2017-12-17 17:06] yashLadha commented on #4057
Hi i am intreseted in taking and working on this issue. Assign me this

[2017-12-17 17:41] DubeySandeep commented on #4057
Hi @yashLadha, welcome :) Have you followed these steps given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Also, let me know which part you would love to work?

[2017-12-17 18:17] yashLadha commented on #4057
Yes @DubeySandeep . I am intrested in python based web frameworks and also done a certification course in Angular. So would be comfortable with Angular as well. But i am not limiting myself to this only and i am open for learning. :smile:

[2017-12-17 20:24] BenHenning opened #4223 "Completed collections sometimes have 'null' date"
Not sure how I got into this state, but when completing collections on the test server I noticed the date was missing in the learner dashboard (this doesn't seem to affect explorations). See picture:

![completed_collection_null_date](https://user-images.githubusercontent.com/12983742/34083393-26950250-e325-11e7-86c2-c0015e5d2b40.png)

[2017-12-17 20:27] BenHenning opened #4224 "Admin badge misplaced in learner view"
Repro steps:

1. Log into local version of Oppia as a moderator or admin
2. Go to any exploration on the server (e.g. https://oppiatestserver.appspot.com/explore/37bETBn801Se on the test server)
3. Look at the profile image

Observed: the admin page's 'A' is misplaced
Expected: 'A' should be centered similar to everywhere else on the site

![misplaced_admin_badge](https://user-images.githubusercon

[2017-12-18 09:20] seanlip commented on #3753
New contributors: please note prior work in #3832.

[2017-12-18 09:38] seanlip commented on #4091
Fixed in #4229. Thanks @AllanYangZhou!

[2017-12-18 09:38] #4091 closed, assigned to AllanYangZhou

[2017-12-18 09:44] seanlip commented on #4144
Fixed in #4205, thanks @aks681!

[2017-12-18 09:44] #4144 closed, assigned to aks681

[2017-12-18 09:45] seanlip commented on #1252
Hi @nithusha21 -- would you like to take a look at this? It's a slightly harder project than the previous ones, and will need some debugging.

If this sounds good, please feel free to assign yourself to it. Thanks!

[2017-12-18 09:46] seanlip commented on #1252
(To be clear, it's OK to take this up after you've completed your current PR.)

[2017-12-18 09:47] nithusha21 commented on #1252
ok will take a look.. I think I need to do some more work on the open PR. Will assign myself once I am done with that.

[2017-12-18 09:47] seanlip commented on #1252
Sounds good. Thanks!

[2017-12-18 09:48] seanlip commented on #3741
Fixed in #4213, thanks @1995YogeshSharma!

[2017-12-18 09:48] #3741 closed, assigned to 1995YogeshSharma

[2017-12-18 10:46] vibhor98 commented on #4224
@seanlip I am not getting 'A' while running this test server. Even on my local server, the case is same. How can I reproduce it?

[2017-12-18 11:18] vibhor98 opened #4231 "The "Add Response" tab in creator view can not be scrolled down."
Repro Steps:

1.  Go to CREATE option in Creator Dashboard.
2.  Choose Item Selection Interaction.
3.  Try to Add Response like - ![screen shot 2017-12-18 at 4 20 49 pm](https://user-images.githubusercontent.com/26625980/34103230-05cff3d4-e412-11e7-9f71-629eb3349c9c.png)

Observed:  The page can not be scrolled down when the option "If the learner's answer..."  is changed.
Expected:  It should scr

[2017-12-18 16:41] seanlip commented on #4224
Go to /admin and add your username to the list of admins in the config tab.
Remember to click "save changes" at the bottom.

On Monday, December 18, 2017, Vibhor Agarwal <notifications@github.com>
wrote:

[2017-12-18 16:50] aks681 commented on #1270
@seanlip, in image region interaction, after clicking on image, if next card is available, should his current interaction be permanently highlighted or not at all?

[2017-12-18 16:51] DubeySandeep commented on #4057
@yashLadha, That's great! Can you just let me know in which part of this issue you would love to work?

[2017-12-18 16:53] seanlip commented on #1270
Good question. I think I lean towards the former.

On Monday, December 18, 2017, Akshay Anand <notifications@github.com> wrote:

[2017-12-18 16:54] DubeySandeep commented on #4057
@yashLadha, I've assigned you to domain/utilities.

[2017-12-18 16:56] yashLadha commented on #4057
Sure @DubeySandeep

[2017-12-18 17:50] aks681 commented on #1270
Ok

[2017-12-18 19:17] vibhor98 commented on #4224
@seanlip , I have added my username but still I am not getting in my local server. How can I start Test server in order to add my name there?

[2017-12-18 19:33] seanlip commented on #4224
You don't need to start a test server. A local development instance (that you set up by following the installation instructions) is sufficient.

Also, I forgot that the UI for roles has been updated. You can set the role through the Roles tab, not through the Config tab as per my earlier message.

If you have trouble, I suggest checking with @1995YogeshSharma, who built the new admin roles system.

[2017-12-19 01:46] kevinlee12 commented on #4047
De-assigning @bching for now, feel free to take this up later!

[2017-12-19 01:47] kevinlee12 commented on #3576
De-assigning @AllanYangZhou for now, feel free to take this up later!

[2017-12-19 08:23] jacobdavis11 commented on #4109
I'm closing this as it can't be reproduced. Please open a new issue if it happens again.

[2017-12-19 08:23] #4109 closed, assigned to nobody

[2017-12-19 08:26] jacobdavis11 commented on #4072
@darthgera123 are you still planning to work on this? If you have some specific questions then I'd be happy to address them.

[2017-12-19 13:38] lukiee555 commented on #3826
Hi @seanlip , @shubha1593 , I'd like to work on stateHintsService → StateHintsService

[2017-12-19 16:02] shubha1593 commented on #3826
Hi @lukiee555, assigned you :)

[2017-12-19 19:00] vibhor98 commented on #4224
Hi @seanlip, I have debugged a lot and finally got this. Is it right?
![screen shot 2017-12-20 at 12 25 06 am](https://user-images.githubusercontent.com/26625980/34173751-87d47b4c-e51c-11e7-90d9-a071659915a7.png)
 I have compared with several other places where 'A' appears but the same CSS is being used everywhere. So I end up adding here -
![screen shot 2017-12-20 at 12 25 35 am](https://user-ima

[2017-12-19 20:11] #4202 closed, assigned to nobody

[2017-12-19 20:21] seanlip commented on #4224
UI looks good. I don't know the answer to the code question. I suggest you
file a PR and assign to Kevin (the maintainer on duty this week), he can do
a code review for you.

[2017-12-20 09:47] WickedBrat commented on #3950
@shubha1593 I'd like to work on the first one i.e. collection_player

[2017-12-20 11:13] nithusha21 commented on #1252
Hi how can I reproduce this issue? I tried adding a lot of answer groups and then dragging one of them, it seems to follow my cursor. Am I missing something?

[2017-12-20 14:21] darthgera123 commented on #4231
Ill work on this issue
Please Guide

[2017-12-20 16:03] vibhor98 commented on #4231
Sure! Firstly, try to reproduce it. It requires little bit of debugging. Then, try inspecting and finding the related file.

[2017-12-20 20:09] shubha1593 commented on #3950
Hey @WickedBrat, library.html wasn't supposed to be a part of this issue, my bad :(
Would you mind picking up some other file ?

[2017-12-20 22:51] #4224 closed, assigned to vibhor98

[2017-12-21 00:30] seanlip commented on #1252
You know, that's odd. This seems to be fixed. I can't reproduce it either, but I don't ever recall it getting fixed. (Sometimes that happens, though -- e.g. it might be due to updates in Chrome.)

In any case, thanks for checking! I'll close this, and suggest another issue instead.

[2017-12-21 00:30] #1252 closed

[2017-12-21 00:32] seanlip commented on #3894
This seems obsolete given the upcoming new audio design. Closing.

[2017-12-21 00:32] #3894 closed, assigned to nobody

[2017-12-21 00:34] seanlip commented on #3706
Special case of #1270. Closing.

[2017-12-21 00:34] #3706 closed, assigned to nobody

[2017-12-21 00:35] seanlip commented on #3811
@tjiang11 just to check, is this still an issue?

[2017-12-21 00:39] seanlip commented on #3819
Hi @nithusha21 -- please could you check whether this, #3773, or #857 are still issues? If either of them are, perhaps you could take one of them up; if not, then I'd be happy to suggest something else. Thanks!

[2017-12-21 04:18] nithusha21 commented on #3819
sure will do. Thanks

[2017-12-21 06:12] nithusha21 commented on #3773
@seanlip I am able to reproduce this issue. I think I can fix this. I'll work on this.

[2017-12-21 06:20] seanlip commented on #3773
Sounds good, thanks @nithusha21!

[2017-12-21 07:21] seanlip commented on #3588
Hi @vojtechjelinek, just to check, what is the current status of this?

[2017-12-21 07:44] DubeySandeep opened #4240 "pre_commit_linter.py is not testing untracked files."
We often create new files for oppia, even new contributors working on "extract services" are also creating new files so `scripts/pre_commit_linter.py` (without path value) should also verify untracked files locally so that there should be less chance of test failures from Travis CI tests.

**Steps to reproduce:**
- Create a new file anywhere in repo (eg. core/domain/xyz.py).
- make some linting er

[2017-12-21 16:52] Nix07 commented on #4047
Hey @kevinlee12 Can you please elaborate on this issue, I'm not sure what actually needs to be done here. Do I have to limit the explanation content or anything like that?
An example would be highly helpful! @jacobdavis11

[2017-12-21 17:58] WickedBrat commented on #3950
I suppose I can work with exploration_player/learner_local_nav.html.
@shubha1593

[2017-12-21 18:34] shubha1593 commented on #3950
@WickedBrat, assigned you :)

[2017-12-21 19:27] seanlip commented on #4047
@tjiang11 is the person to ask for clarification, since he filed the issue.

But here's what to do: try entering a long piece of feedback in one of the answer groups. You'll see that, when you close the answer group, it gets truncated to a single line. The solution explanation should behave similarly.

[2017-12-21 19:27] seanlip commented on #4047
NB: an "answer group" is represented by one of the horizontal tiles just under "Learner Answers and Oppia Responses".

[2017-12-22 00:50] #4065 closed, assigned to nobody

[2017-12-22 04:57] Nix07 commented on #4047
Thanks @seanlip
But where is solution explanation? I don't see it in Exploration Editor View! There are only responses under the "Learner Answers and Oppia Responses" section. I couldn't find anything relevant [here](http://oppia.github.io/#/TheExplorationEditor) also.

[2017-12-22 05:11] seanlip commented on #4047
Add a hint; the solution will appear after that.

On Thu, Dec 21, 2017 at 8:57 PM, Nikhil Prakash <notifications@github.com>
wrote:

[2017-12-22 05:15] #4143 closed, assigned to Nix07

[2017-12-22 05:50] kevinlee12 commented on #3490
Completed in #4230

[2017-12-22 05:50] #3490 closed, assigned to nithusha21

[2017-12-22 05:56] nithusha21 commented on #3764
Hi @kevinlee12 could you confirm that this issue is resolved with 21c3b9e6e60ffb681e571f8f5e3f0732e372bb5b

[2017-12-22 06:02] kevinlee12 commented on #3764
The popover now disappears after a couple of seconds, so we can close this issue.

[2017-12-22 06:02] #3764 closed, assigned to nithusha21

[2017-12-22 07:15] seanlip commented on #4072
Hi @kartik-25, would you like to have a go at this issue?

[2017-12-22 07:23] pandeykartikey commented on #4072
Ok, will look into it

[2017-12-22 08:17] seanlip commented on #858
Looks like this is fixed. Closing.

[2017-12-22 08:17] #858 closed

[2017-12-22 08:21] seanlip commented on #3809
I think this is going to be obsolete, since @AllanYangZhou is implementing a redesign of the learner view without the progress dots. Closing.

[2017-12-22 08:21] #3809 closed, assigned to markhalpin

[2017-12-22 08:48] 1995YogeshSharma commented on #3905
@seanlip can I go ahead and implement custom lint checks in pre_commit_linter or does this still need for looking online available options?

[2017-12-22 08:52] seanlip commented on #3905
I think some of these can be solved with online available options, and some can be solved by adding custom lint checks. I'd recommend handling the former before the latter, since that might save work (e.g. adding a single line to the eslint config is better than writing a new function in the pre_commit_linter.py file).

[2017-12-22 09:11] #3787 closed, assigned to pandeykartikey

[2017-12-22 09:11] #3788 closed, assigned to pandeykartikey

[2017-12-22 11:04] Nix07 commented on #4047
I'm still not able to get it!
[This](https://drive.google.com/open?id=1f9EaOUlVmo4RHBtWy1Y4vl3cpeWD_FOI) is the screenshot of my exploration editor. Please help...

[2017-12-22 12:35] Nix07 commented on #3369
Hi @shaz13 While working on a different issue, I found that even the long strings are overflowing the viewport. Have a look!

<img src="https://user-images.githubusercontent.com/22103406/34298105-fe5c3e90-e741-11e7-9319-ff1dfc003ed8.png" height=700>

[2017-12-22 18:52] akumar1503 opened #4247 "clicking close button on feedback gives console error."
This happens only on development mode locally, not on oppia.org.
This happens with both explorations as well as collections.
- steps to reproduce the problem
    1. complete any exploration.
    2. open console.
    3. give it a rating, a feedback form should pop up.
    4. click on close, it gives console errors and doesn't close.
- observed behaviour
    1. feedback form doesn't close.
    2. gi

[2017-12-22 19:10] darthgera123 commented on #4231
Yeah ive reproduced it and im not able to find where the error in the file is.  Though in the related modal css there is overflow hidden written which prevents it from scrolling down, its there even when the modal is scrollable.Please Guide

[2017-12-22 19:21] seanlip commented on #4247
@nithusha21 -- is this relevant to the refactor you did for ui-bootstrap?

Also, @GanitGenius, thanks for reporting!

[2017-12-22 20:28] kevinlee12 commented on #4047
@Nix07, try using Text Input, I believe not all interactions support solutions.

[2017-12-22 21:11] kevinlee12 commented on #4247
This is relevant, I'll open a PR to fix this issue.

[2017-12-22 21:25] vojtechjelinek commented on #3588
I will continue the work on Interactions in January, but I think we should keep the INTERACTION_SPECS in a separate file for same reasons as with RTEs.

[2017-12-22 21:55] seanlip commented on #3588
OK, sounds good! Is there another tracking issue for the
currently-remaining work on interactions? If so, we can close this one. If
not, we might want to file a separate issue anyway for that.

[2017-12-22 22:09] vojtechjelinek commented on #3588
I think #2575 is enough for tracking the interactions.

[2017-12-22 22:09] #3588 closed, assigned to vojtechjelinek

[2017-12-22 23:01] BenHenning opened #4249 "Collection progress for guests should be saved locally"
When a guest plays a collection, their progress is not currently saved. Although when finishing an exploration the next one recommended to the user is the correct follow-up for guests, returning to the collection page itself does not show any completed progress.

As a MVP, this only needs to support local storage for logged out users. The storage does not need to transfer or be cleared when loggin

[2017-12-23 02:08] DubeySandeep opened #4252 "Exploration summaries in "Play Later" list (mobile view) goes out of container."
**Steps to reproduce the problem:**
- Add few exploration into your play later list.
- Goto `Learner Dashboard` -> `Play later` -> `Exploration`.

**Image Attachment:**
![screenshot from 2017-12-23 07 30 27](https://user-images.githubusercontent.com/16653571/34316087-f5badf90-e7b3-11e7-8ad2-49ad4b827ca3.png)

**Note:** After "Drag and rearrange" things working smooth.

[2017-12-23 02:35] DubeySandeep commented on #3978
@seanlip @kevinlee12 , Can I work on this?
(As I have worked for the similar issue before #4039)

[2017-12-23 02:42] kevinlee12 commented on #3978
Looks like @Arunabh98 is assigned, so it'll depend how far @Arunabh98 is on this issue. In the meantime, feel free to look around for another issue until we hear back from @Arunabh98 :smile:

[2017-12-23 05:43] vibhor98 commented on #4231
@darthgera123 , I have to  check myself first. @shubha1593 , please help him.

[2017-12-23 06:44] #4247 closed, assigned to kevinlee12

[2017-12-23 08:27] seanlip commented on #3978
@Arunabh98 seems to have gone out of contact recently, so @DubeySandeep, feel free to take this up. I'll assign you!

[2017-12-23 09:25] anmolshkl opened #4253 "Weird flickering effect when editing the text in a card."
**Observed behaviour**: The text editor starts flickering in a weird manner when you try to edit the content after opening the editor for the first time. Thereafter, it becomes stable and the flickering stops. Here's a GIF that captures this behaviour:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/6338799/34318540-dfb55abc-e7f0-11e7-952a-62bccb1e04c6.gif)

**Steps to reproduce

[2017-12-23 10:49] seanlip opened #4255 "Create a new interaction that redirects back to an earlier prerequisite exploration."
We would like to create a new interaction that ends an exploration but redirects back to an earlier (prerequisite) exploration. This is because we are going to start introducing prerequisite questions in lessons to ensure that a student has mastered fundamental concepts before continuing to learn new material (otherwise, they'd be building on a shaky base).

This will take place in several stages:

[2017-12-23 19:44] shubha1593 commented on #4231
@darthgera123, is this behaviour just happening with 'Item Selection' interaction or is it occurring for other interactions as well ?

[2017-12-23 20:16] DubeySandeep commented on #3978
@sean & @jacobdavis11, Is it okay to show this message? (similar in incomplete collection)
![screenshot from 2017-12-24 01 58 12](https://user-images.githubusercontent.com/16653571/34322456-0445f118-e84e-11e7-8945-b4cf19a281f7.png)

[2017-12-23 21:29] tjiang11 opened #4260 "On mobile, the navbar is broken while playing a lesson."
I believe there shouldn't be any icons displayed at the top while on mobile:

![image](https://user-images.githubusercontent.com/11807091/34322730-b3352d16-e7fd-11e7-8a03-c91dedb38fe2.png)

Things are worse when playing a preview of an exploration in the editor:

![image](https://user-images.githubusercontent.com/11807091/34322765-67a9b35c-e7fe-11e7-82e1-fddc9c8a5d01.png)

[2017-12-23 22:06] DubeySandeep commented on #4260
@tjiang11, Can reproduce this.
In the mobile view, I have never seen that nav bar at the top before.
![screenshot from 2017-12-24 03 33 05](https://user-images.githubusercontent.com/16653571/34322955-7a1ea666-e85b-11e7-94f3-410c2ab5a564.png)

[2017-12-23 22:21] tjiang11 commented on #4260
It appears this happened after the uib prefix migration. I don't know why it causes this though.

https://github.com/oppia/oppia/pull/4230

[2017-12-24 00:07] seanlip commented on #4260
/cc @nithusha21 @kevinlee12  -- any ideas?

[2017-12-24 00:09] seanlip commented on #3978
Perhaps change the first sentence to "It looks like you have no partially-complete explorations at the moment."? "Incomplete" could also mean "not started", I think.

Otherwise it looks great!

[2017-12-24 00:29] kevinlee12 commented on #4260
It looks like that uib-collapse property is always set to false, I found a way to resolve this. Will open a PR shortly.

[2017-12-24 01:17] #1270 closed

[2017-12-24 05:44] seanlip commented on #4255
One further thought on this: if we send the learner back to a previous exploration in the collection, we might want to pass a flag in the URL saying to redirect back to the lesson they just left. (This might even end up being a redirect chain if there is a possibility of multiple redirects.) That way, when they reach the end of the prerequisite lesson, they can go back to the lesson they came from

[2017-12-24 07:32] Nix07 commented on #4047
Thanks @kevinlee12 , Got it...

[2017-12-24 07:49] kevinlee12 opened #4266 "Undefined last answer for non-line interactions in explorations editor"
As a result of #4232, a case was missing for when the interaction is in the editor and a null case for the last answer arises. An example case is the Image Interaction in editor mode and the following error is shown:

[code]
The purpose of this issue is to fix this bug:

For reference, the following interactions are affected:
- [x] Logic proof interaction
- [x] Code editor interaction
- [x] Pencil

[2017-12-24 07:50] kevinlee12 commented on #4266
@aks681 can you take up this issue? (since you're familiar with the code already)

[2017-12-24 08:35] aks681 commented on #4255
OK, will see about that.

[2017-12-24 08:37] #4260 closed, assigned to kevinlee12

[2017-12-24 11:17] prasanna08 commented on #3836
@jacobdavis11 this is going to be part of a GSoC project so I am not going to work on this anymore. De-assigning myself.

[2017-12-24 14:58] aks681 commented on #4255
I am able to create a link, which when clicked will redirect to the required exploration. Is that enough or should I do something like what is done with end exploration where a tile is displayed below corresponding to the destination exploration.

[2017-12-24 15:54] seanlip commented on #4255
I'm not sure. Let's try a link for now and see how that looks.

[2017-12-24 18:06] aks681 commented on #4255
OK

[2017-12-25 02:09] #3978 closed, assigned to DubeySandeep

[2017-12-25 02:44] seanlip commented on #4266
This blocks the next release and needs to be fixed. (Thanks for reporting, @kevinlee12!)

[2017-12-25 05:13] aks681 commented on #4266
Ok, I'll look into this.

[2017-12-25 09:41] darthgera123 commented on #4231
Its only present with Item Selection only

[2017-12-25 11:38] seanlip commented on #3712
Hi @Nix07 -- want to take a look at this while you're waiting for a review on the other PR?

[2017-12-25 11:52] Nix07 commented on #3712
Hi @seanlip I'll take this issue, but will start the work from tomorrow.

[2017-12-25 20:20] darthgera123 commented on #3954
@seanlip  may i be assigned moderator page?

[2017-12-26 05:48] DubeySandeep commented on #3954
Hi @darthgera123, Your PR #4194 is still in pending and I see you are also working on #4231. It would be great to work on 1 issue at a time this way it'll be easier for other contributors. So would you like to work on this or 4231? Also, are you working on #4194 because it's already under merge conflict.
Thanks!

[2017-12-26 06:12] seanlip commented on #3712
Sounds good, thanks!

[2017-12-26 17:57] tjiang11 commented on #3008
De-assining @giritheja due to lack of response.

[2017-12-26 17:58] tjiang11 commented on #3906
Hi @brianrodri , just checking should this be closed yet?

[2017-12-26 17:59] tjiang11 commented on #3822
Hi @pranavsid98 , any updates with this?

[2017-12-26 18:00] tjiang11 commented on #3773
Hi @nithusha21 , how's this going?

[2017-12-26 23:06] seanlip commented on #3008
@giritheja -- this is related to #3907, right? Could you please provide an update here so that the maintainers know you're still working on it?

[2017-12-26 23:33] seanlip commented on #3238
Note to future contributors: please see #3897 for almost-finished work.

[2017-12-26 23:35] seanlip commented on #3017
Note to contributors: please see #4027 for some prior work on this.

[2017-12-27 02:09] nithusha21 commented on #3773
Hi I am working on this issue. The UI and the data seem to go out of sync when you reorder the hints. I tried tracing the data back to see if at any point it goes out of sync but interestingly even immediately after the hint is reordered the data values are reordered. Tried force updating the UI with a $apply call but that also doesn't fix this. Just to note some side issues caused by this issue.

[2017-12-27 04:17] seanlip commented on #3773
Hm, that's interesting! Thanks for the update.

One possible way to investigate this is to just try doing a simple vanilla example with Angular and ui-sortable (I assume that's what we're using here?). See if that vanilla implementation works -- if not, try updating the library; if so, try to find a point where console logging results in something different between the two implementations, and may

[2017-12-27 06:30] akumar1503 commented on #4223
closing this as it has a pr [here](https://github.com/oppia/oppia/pull/4256).

[2017-12-27 06:30] #4223 closed, assigned to akumar1503

[2017-12-27 07:56] seanlip commented on #4253
Hi @Nix07, can you reproduce this?

[2017-12-27 08:12] seanlip opened #4275 "Modify the embedding.js protractor test so that it does not load a demo exploration."
The e2e test in core/tests/protractor/embedding.js loads one of the demo explorations and plays through it in both "standard" and embedded mode. However, _in production_, the Activities tab on the admin page is not available (because we don't want to simply overwrite explorations in production). So, although the e2e tests currently pass in "production mode", that's due to a bit of a hack. That hac

[2017-12-27 08:13] seanlip commented on #4275
@GanitGenius, would you like to take this up? I noticed you hadn't done an e2e test issue yet, so I thought this would be a good one to work on.

[2017-12-27 08:19] giritheja commented on #3008
Hey @jacobdavis11 @tjiang11 Sorry about late reply. This issue is one push away from being completed. You can check the progress on #3907

[2017-12-27 08:31] akumar1503 commented on #4275
yes will do it, sounds interesting.

[2017-12-27 08:41] vibhor98 commented on #2394
@Hsankesara Are you still working on `core.tests.test_utils`?

[2017-12-27 08:43] seanlip commented on #2394
Hi @vibhor98 -- I've reassigned it to you. I think no progress for 3 weeks is sufficient grounds to reassign an issue!

[2017-12-27 09:21] Nix07 commented on #4253
Hi @seanlip , Yes I can reproduce this. But I'm not sure whether this happens only for the first time we try to edit the text.
I think the situation pointed out by @anmolshkl is only a particular case, issue is something more general.

[2017-12-27 09:24] seanlip commented on #4253
Ah, OK. Want to have a go at debugging it? It might be worth bisecting the commit history to see if this error was around in previous versions, that might help track it down.

[2017-12-27 09:29] Nix07 commented on #4253
Yes, I'll take this issue. Will check the previous versions also...

[2017-12-27 10:09] seanlip commented on #3712
Done in #4273. Thanks @Nix07!

[2017-12-27 10:09] #3712 closed, assigned to Nix07

[2017-12-28 02:01] seanlip opened #4278 "[blocked on App Engine search service upgrade] Re-introduce 3-letter language codes for explorations and collections."
For background: In #4277, 3-letter language codes were removed due to a crash in the App Engine search service, which only appears to accept 2-letter language codes.

This issue is being filed to remind us to upgrade App Engine and reinstate these 3-letter codes by reverting the changes in #4277, but only after the search service is upgraded.

/cc @BenHenning

[2017-12-28 02:19] tjiang11 commented on #3811
I can't reproduce this, closing.

[2017-12-28 02:19] #3811 closed, assigned to nobody

[2017-12-28 03:42] #3008 closed

[2017-12-28 05:55] seanlip opened #4279 "Deselecting languages in the search area of the library page does not work correctly."
To reproduce:
1. Go to /library and select two languages from the dropdown menu at the top.
2. Click "Deselect All" in that menu:

![scr1](https://user-images.githubusercontent.com/10575562/34401479-67a26156-eb50-11e7-83f4-c53d98db9f1c.png)

**Observed behaviour**
"2 Languages" is still shown in the summary of selected items, and the URL does not change correctly:

![scr2](https://user-images.gith

[2017-12-28 13:05] apb7 commented on #4279
Hello @seanlip! While reproducing the issue, I found out that the same problem persists when multiple categories (which were earlier selected) are deselected.

[2017-12-28 16:46] Nix07 commented on #4253
Hi @seanlip Just to follow up
This problem seems to be present in last 4 versions. As per now, I think the problem is in the "schema-based-editor". Will look into more details and let you know.

[2017-12-28 21:01] kevintab95 opened #4285 "Add mobile support for new hints and modal design"
Implement new hints and solution design.

[2017-12-28 21:15] seanlip commented on #4255
Closing this. We're going to go with a different approach.

[2017-12-28 21:15] #4255 closed, assigned to aks681

[2017-12-28 21:27] seanlip commented on #1112
Hi @Nix07, want to try this one? It may be similar to your most recent PR. (It's worth checking first, though, to see if this error still occurs.)

[2017-12-28 23:52] seanlip commented on #3810
@tjiang11 is this still relevant with the new audio changes?

[2017-12-28 23:53] seanlip commented on #3797
@anmolshkl @prasanna08 ping?

[2017-12-28 23:57] seanlip commented on #3691
This hasn't been worked on for 3 months, so I'm deassigning @mc-lovin.

[2017-12-29 00:00] seanlip commented on #3613
This is being handled by @AllanYangZhou in a different way (by removing the navigation bubbles and having left/right arrows at the bottom of each card instead). Closing.

[2017-12-29 00:00] #3613 closed, assigned to nobody

[2017-12-29 00:01] tjiang11 commented on #3810
No

[2017-12-29 00:01] #3810 closed, assigned to tjiang11

[2017-12-29 00:04] seanlip commented on #3491
I think we can drop this for now. Mobile has limited space anyway and we need to be fairly judicious about what to show and what not to. The author information should be findable in the info card.

[2017-12-29 00:04] #3491 closed, assigned to nobody

[2017-12-29 00:05] seanlip commented on #3431
Deassigning @BenHenning, I don't think he's currently working on this.

[2017-12-29 00:06] seanlip commented on #4158
This also appears in the logic proof interaction. See #3429.

[2017-12-29 00:07] seanlip commented on #3429
Duplicate of #4158.

[2017-12-29 00:07] #3429 closed, assigned to nobody

[2017-12-29 00:08] seanlip commented on #3336
@anmolshkl @tjiang11 is this fixed?

[2017-12-29 00:12] seanlip commented on #3075
Closing, since the decision here is to leave the current behaviour as-is.

[2017-12-29 00:12] #3075 closed

[2017-12-29 00:19] seanlip commented on #3244
Closing. We're consolidating all our frontend unit test issues into #4057.

[2017-12-29 00:19] #3244 closed

[2017-12-29 00:19] seanlip commented on #3243
Closing. We're consolidating all our frontend unit test issues into #4057.

[2017-12-29 00:19] #3243 closed

[2017-12-29 00:19] seanlip commented on #3241
Closing. We're consolidating all our frontend unit test issues into #4057.

[2017-12-29 00:19] #3241 closed

[2017-12-29 00:19] seanlip commented on #3240
Closing. We're consolidating all our frontend unit test issues into #4057.

[2017-12-29 00:19] #3240 closed

[2017-12-29 00:29] seanlip commented on #2381
@anmolshkl @kevinlee12 did you run into this issue at all while using the exploration editor recently? If not then maybe we can consider this fixed.

[2017-12-29 00:32] seanlip commented on #2102
Duplicate of #3795.

[2017-12-29 00:32] #2102 closed

[2017-12-29 00:35] seanlip commented on #1867
@Nix07 this may also be worth looking at!

[2017-12-29 00:39] seanlip commented on #1254
Another idea: perhaps we could pre-populate the "default answer" field with something suitable.

[2017-12-29 00:49] kevinlee12 commented on #2381
Hmm, didn't expect a slowdown, but I used FF Quantum, so things might be different than in Chrome.

[2017-12-29 00:51] seanlip commented on #2381
Ah sorry, just to check, you mean you didn't notice any slowdown (in FF Quantum), right?

[2017-12-29 00:53] kevinlee12 commented on #2381
correct.

[2017-12-29 01:28] seanlip commented on #4253
Fixed in #4284, thanks @Nix07!

[2017-12-29 01:28] #4253 closed, assigned to Nix07

[2017-12-29 06:04] nithusha21 commented on #3773
sorry for delayed responses. I was traveling over the past few days. Now im back home and will be active again. I will try what you suggested. Thanks

[2017-12-29 06:44] Nix07 opened #4287 "Solution Explanation doesn't show up in the Update Solution Modal"
**The Observed Behaviour**
*This happens only in the latest develop branch*
When you click on SUBMIT button in Update Solution modal(in the Creator Editor View), the solution explanation doesn't show up. Instead, it displays "[object Object]".

<img src="https://user-images.githubusercontent.com/22103406/34430949-3bdedc52-ec90-11e7-9598-e420465718eb.png" height="500">

**The Expected behaviour**
T

[2017-12-29 06:52] seanlip commented on #4287
Hi @Nix07, just to check -- are you taking this up?

[2017-12-29 06:54] Nix07 commented on #4287
No, let it be open for others. I already have others tasks to work on.
If anyone wants to work on it, let him/her take the issue, or else when I'll get time I will fix it.

[2017-12-29 06:59] seanlip commented on #4287
OK, thanks for clarifying!

[2017-12-29 08:29] abarya commented on #3954
Hi @brianrodri @seanlip,
what actually needs to be done in the splash page?

[2017-12-29 08:32] seanlip commented on #3954
You know, I have no idea. I just took a look and there don't seem to be any Protractor tests that reference it.

Maybe choose a different file instead? Sorry for the inconvenience.

[2017-12-29 08:35] abarya commented on #3954
Great!!

[2017-12-29 08:36] abarya commented on #3954
What's moderator page? Who is a moderator as far as oppia is concerned?

[2017-12-29 08:42] seanlip commented on #3954
On a local instance, go to /admin and update the user role accordingly, then go to /moderator. Moderators keep things clean, e.g. by removing explorations that have been reported as spam.

[2017-12-29 08:42] abarya commented on #3954
Okay. Thanks for the info

[2017-12-29 08:48] abarya commented on #3954
But, still, why are they needed. Any specific reason?

[2017-12-29 09:14] WickedBrat commented on #4057
@shubha1593 I'd like to work on domain/collection. Thanks

[2017-12-29 09:25] DubeySandeep commented on #4057
Hi @WickedBrat, You can start working on ' domain/collection' part. I've assigned you.

[2017-12-29 10:22] seanlip commented on #3954
Chatted with @abhishekarya286 offline. Discovered there aren't any moderator e2e tests atm (oops), so removing that line from the issue description as well.

[2017-12-29 10:39] #4279 closed, assigned to nobody

[2017-12-29 11:33] seanlip commented on #4287
@Nix07 I took it, and filed #4289. It's a serious regression, so thanks for finding it!

[2017-12-29 12:50] abarya commented on #3954
I'm taking up exploration editor page.

[2017-12-29 13:08] MohammedBelkacem commented on #3848
@seanlip please consider supporting languages of iso639-2. Most platforms, systems and tools are supporting them since CLDR is opened for iso 639-2 languages.

For now, we can't tag our explorations as kabyle languages.

[2017-12-29 13:15] seanlip commented on #3848
As I mentioned in the email I sent you, we do want to support these
languages. However, we currently cannot support Kabyle languages in
explorations because of an issue with App Engine. We plan to reinstate
support once that underlying issue is fixed, but that is not currently
within our control.

If you like, you can track the progress of this in #4278, though I will
reiterate that we cannot do a

[2017-12-29 14:51] Nix07 commented on #1112
Hi @seanlip I tried to reproduce the error, but I'm not getting any juddering. I made quite a big exploration to test, but still, I don't see any scrollbar.

![judd](https://user-images.githubusercontent.com/22103406/34439624-37c46692-ecd5-11e7-8240-9bc78eb90a7c.png)

[2017-12-29 17:00] DubeySandeep commented on #4224
@BenHenning, this also happens for "Moderator" badges, which is not resolved in #4236.
![image](https://user-images.githubusercontent.com/16653571/34442384-be586c78-ece7-11e7-87a7-456b8fb1e014.png)

[2017-12-29 18:28] anmolshkl commented on #3797
@seanlip I'll take this up. Thanks!

[2017-12-29 18:31] kevinlee12 commented on #4224
@DubeySandeep, can you file a new issue for that?

[2017-12-29 18:32] kevinlee12 commented on #4224
(since this issue is specific for Admin)

[2017-12-29 19:07] kevinlee12 opened #4290 "Audio codes undefined in learner view"
When clicking on the the audio tab in the learner view, the following error occurs:
[code]
This is accompanied by the error url:
http://errors.angularjs.org/1.5.8/$interpolate/interr?p0=%3C%5B!isAudioAvailableInCurrentLanguage()%20%3F%20('I18N_PLAYER_AUDIO_NOT_AVAILABLE_IN'%20%7C%20translate%3A%7BlanguageDescription%3AgetCurrentAudioLanguageDescription()%7D)%20%3A%20''%5D%3E&p1=TypeError%3A%20supp

[2017-12-29 19:07] kevinlee12 commented on #4290
/cc @tjiang11 @seanlip

[2017-12-29 19:19] DubeySandeep opened #4291 "Moderator badge is misplaced in learner view."
**Repro steps:**
1. Log into local version of Oppia as a moderator.
2. Create an exploration (or reload demo exploration from admin page).
3. Open the exploration in learner view (or preview mode).
4. Take a look at the top right corner (on profile image with a 'M' badge).

**Observed:** The Moderator badge ('M') is misplaced.

**Expected:** 'M' should be centered similarly as the admin badge.

**

[2017-12-29 19:40] tjiang11 commented on #4290
Hm, for some reason I can't reproduce this. What browser are you using?

[2017-12-29 19:46] tjiang11 opened #4292 "Upgrade font-awesome to latest version and update audio play/pause icons"
In the audio bar directive, we would like to use fa-play-circle and fa-pause-circle instead of fa-play and fa-pause. However, our current version of font awesome does not include fa-pause-circle.

[2017-12-29 19:47] tjiang11 opened #4293 "Add slide animation to the audio bar."
Right now, the audio bar directive simply pops out when pressing the audio tab. It would be nice to have it slide out and also slide back in when collapsing it.

[2017-12-29 19:50] tjiang11 opened #4294 "Highlight content to read in a yellow box"
It would be nice if whatever piece of content is currently being read is highlighted in a yellow box so that the learner can easily follow along.

Mock:
![image](https://user-images.githubusercontent.com/11807091/34446269-36ef466e-ec9f-11e7-89b1-0414252f2ccb.png)

[2017-12-29 19:52] tjiang11 opened #4295 "Change the progress bar in the audio bar to a slider input and allow for audio scrubbing"
It would be nice to give learners the ability to scrub back and forth the audio being played. To do this, we can use a slider input and bind it to the audio object's progress property.

[2017-12-29 19:56] tjiang11 opened #4296 "Audio bar hides behind supplemental interactions."
The audio bar directive currently appears beneath supplemental interactions on desktop. It should appear in front of supplemental interactions.

![image](https://user-images.githubusercontent.com/11807091/34446377-f990e538-ec9f-11e7-9e8a-b1ec96961e28.png)

[2017-12-29 21:07] kevinlee12 commented on #4290
@tjiang11, it was on FF Quantum, the issue does not exist on Chrome. Perhaps using [Modernizr](https://modernizr.com/) might help to enable this feature selectively? (Though I've never used Modernizr before)

[2017-12-29 23:09] tjiang11 commented on #4290
Do you happen to have a file/line number associated with the error?

[2017-12-29 23:17] kevinlee12 commented on #4290
According to the stack trace it is LanguageUtilService.js:67:9.

On Fri, Dec 29, 2017 at 3:09 PM, Tony Jiang <notifications@github.com>
wrote:

[2017-12-30 00:38] #4266 closed, assigned to aks681

[2017-12-30 00:39] seanlip commented on #4296
Hi @tjiang11, I'm a little confused by the text here. It seems different from the title and image in the issue?

[2017-12-30 00:50] seanlip commented on #1112
Hm, I can't reproduce it either. This is a pretty old bug, so it may have been fixed inadvertently.

Since we can't reproduce it, I'll close this. Thanks for checking, @Nix07!

[2017-12-30 00:50] #1112 closed

[2017-12-30 05:22] #4287 closed, assigned to seanlip

[2017-12-30 07:03] kevintab95 opened #4297 "Refactor API for hints as per comments on #4286"
The new API for hints needs to include additional information. Refer #4286.

[2017-12-30 07:06] kevintab95 opened #4298 "Add a tooltip for hints"
There needs to be a tooltip conveying that a new hint is available. Refer [this](https://www.figma.com/file/R97JIfYp9ZdFgRzybWmAKcQO/Oppia?node-id=146%3A2627).

[2017-12-30 07:07] tjiang11 commented on #4296
Thanks for catching that, fixed.

[2017-12-30 07:09] kevintab95 opened #4299 "Missing footer in the editor preview"
The footer which appears while playing published explorations does not appear in the editor preview. This needs to be in place for hints to be usable in the editor preview.

[2017-12-30 07:11] nithusha21 commented on #3773
I am unable to make any progress on this issue. The vanilla UI-sortable also has the same issue. And upgrading the library didn't help. I think i'll try working on something else and come back to this when I get some other ideas. Is this ok?

[2017-12-30 07:19] seanlip commented on #3773
Yes, absolutely! Thanks for the update @nithusha21.

[2017-12-30 07:20] seanlip commented on #3773
And if the vanilla UI-sortable has the same issue, that is actually a good indicator that the problem might be in the source library. Do you have a link to a repo with the vanilla implementation? Maybe we should file a bug upstream.

Also, just to clarify, did the vanilla UI-sortable version fail to work even after upgrading the library?

[2017-12-30 07:25] nithusha21 commented on #3773
yeah.. i tried using https://github.com/angular-ui/ui-sortable/releases/tag/v0.18.0 release. Which had this issue. This was the repo https://github.com/angular-ui/ui-sortable/tree/v0.18.0. But surprisingly, Answer groups also has a sortable which works perfectly. My vanilla implementation was using a static array with just a ul and li elements. This failed. So I am not exactly sure where the issue

[2017-12-30 07:27] seanlip commented on #3773
Ah sorry, I meant, could you link to your vanilla implementation, or include it in a gist, or something? That would be a good starting point, and we may be able to link to it if filing an issue upstream.

Thanks!

[2017-12-30 07:29] nithusha21 commented on #3773
oh ok. I'll write it online and share a link to it.

[2017-12-30 07:37] seanlip opened #4300 "Audio tab blocks the text on card when scrolling down"
If the audio tab is closed, would it be possible to have it slide up behind the navbar if the user scrolls down past the top edge of the tutor card on mobile? I.e. the lowest that the bottom edge of the audio tab should be is a position that's just a little below the top edge of the tutor card, and if the scroll position is beyond this it scoots up into the navbar?

I mention this because, otherwi

[2017-12-30 07:40] seanlip opened #4301 "Audio tab isn't connected to bottom edge of navbar"
To reproduce:
1. Load the demo Welcome exploration from the /admin page.
2. Go to /explore/0.
3. Make your browser window width and height small (approximately the same size as a mobile screen).
4. Scroll up and down rapidly.

The audio tab becomes separate from the navbar and rejoins it. This is ... awkward. It should stay in a fixed position relative to the navbar.

![screenshot from 2017-12-29

[2017-12-30 07:46] seanlip opened #4302 "Autogenerated audio seems to be broken in Chromium, and shouldn't be offered as an option in that case"
To reproduce:
1. On Chromium, load the Welcome exploration from the admin tab.
2. Go to /explore/0.
3. Open the audio dropdown.
4. Play the audio, keeping the default as "English (autogenerated)".

Nothing happens.

It's even more broken in Firefox -- there, the dropdown is empty. The audio button is still clickable, but nothing happens when you click it.

![ff](https://user-images.githubuserconte

[2017-12-30 07:49] seanlip opened #4303 "It is not possible to read the language name for autogenerated audio subtitles."
Load the Welcome exploration from /admin, go to /explore/0, and make the browser viewport width small. Then click the audio tab. You'll see the following:

![text-bad](https://user-images.githubusercontent.com/10575562/34452372-94ac771a-ecf2-11e7-8c88-a55240d50a41.png)

The language choice is basically unreadable. We might want to do a few things here: shorten "(autogenerated)" to "(auto)" in the

[2017-12-30 08:08] yashLadha commented on #4291
I would like to take up this issue. @DubeySandeep

[2017-12-30 08:11] seanlip opened #4304 "Reject drafts that are invalid due to differing schema versions."
To reproduce:
1. Checkout the release-2.5.7 branch.
2. Start a dev server, and create a new exploration. Add some feedback. But don't save the draft.
3. Without shutting down the dev server, checkout the develop branch.
4. Refresh the editor page.

Observed: the editor page crashes. It's trying to apply a draft for the old schema version to an exploration that's been auto-migrated to the latest sc

[2017-12-30 08:13] yashLadha commented on #4291
@DubeySandeep . On Mine it is working fine.

![image](https://user-images.githubusercontent.com/18033231/34452511-44cc0eb6-ed67-11e7-9ded-c2ce9923d082.png)
![image](https://user-images.githubusercontent.com/18033231/34452517-4f5a9adc-ed67-11e7-9cad-690bb57db06b.png)

[2017-12-30 08:14] seanlip commented on #4304
Looking at https://github.com/oppia/oppia/pull/2005/files and other related PRs might also be useful.

[2017-12-30 08:16] nithusha21 commented on #3773
When I wrote a file using the minified CDN link mentioned in the readme of the ui-sortable repo it worked just fine. Now I'm doubting if its an issue with the way we import these dependencies in oppia which is causing this issue. Not sure why..

[2017-12-30 08:22] seanlip commented on #3773
OK, here's what I suggest:

- Post your implementation, which should include two commented-out lines. Enabling one of those lines should lead to the failure case you described [in an earlier comment](https://github.com/oppia/oppia/issues/3773#issuecomment-354532123), and enabling the other should lead to the success case you describe [in your latest comment](https://github.com/oppia/oppia/issues/3

[2017-12-30 08:24] DubeySandeep commented on #4057
Hi @yashLadha, how is it going (the work on domain/utilities)? :)

[2017-12-30 08:24] DubeySandeep commented on #4291
Hi @yashLadha, Thanks for taking interest in this issue but I can see you have been already assigned to a part of #4057. It would be great to work on 1 issue at a time and that way it'll be easy for other contributors to pick a task for them. Thanks! :)

[2017-12-30 08:29] yashLadha commented on #4291
Fine, but interested to resolve this. I can take it up later. :+1:

[2017-12-30 08:30] seanlip commented on #4291
Just fyi, I don't see the bug either in Chromium/Ubuntu.

@DubeySandeep what browser/version/OS are you using?

[2017-12-30 08:35] yashLadha commented on #4291
Chrome, Ubuntu 17.10. It is present. It comes after publishing the exploration. @seanlip . Else it works perfect.

[2017-12-30 08:45] yashLadha commented on #4291
I have resolved this error. Can i send PR @DubeySandeep.

[2017-12-30 08:45] yashLadha commented on #4291
![image](https://user-images.githubusercontent.com/18033231/34452707-eae38910-ed6b-11e7-9443-c51d6b76ab47.png)

[2017-12-30 08:49] yashLadha commented on #4291
There is also a need to correct the O logo. @DubeySandeep

[2017-12-30 09:20] yashLadha commented on #4057
Working on it. Fixed another issue. Can I send pr for that.

On Dec 30, 2017 1:54 PM, "Sandeep Dubey" <notifications@github.com> wrote:

[2017-12-30 09:22] nithusha21 commented on #3773
https://gist.github.com/nithusha21/e8811746d0a0e737f37d6edc5457f789

- While trying to open this page with the first import, it works perfectly.
- If you use the second set of imports(commented) it doesn't work.

[2017-12-30 09:32] seanlip commented on #3773
That is a really good gist. Thanks, @nithusha21! I confirm the behaviour.

Here's what to do next. I think the issue stems, not from the way it's imported, but from the differing versions of the libraries. But we should check this. So, I suggest that you write the first import as a list of separate script tags similar to the second set of imports (but still use cdn.jsdelivr.net), and see whether t

[2017-12-30 09:34] nithusha21 commented on #3773
Hmmm.. makes sense... I will try this 👍 .. thanks

[2017-12-30 09:45] MohammedBelkacem commented on #3848
@seanlip Thanks. Sorry, Yes I saw the first comments. I just wanted to mention that most software (especially opensource and freeware), nowadays, , support iso639-2 languages, others to get more chance, they support iso 639-3 languages.
I started to talk about Oppia with some academcians. We are planning to use it as a didactitial mean to spread teaching of the kab language and science in kabyle l

[2017-12-30 09:47] DubeySandeep commented on #4291
@yashLadha, If you have resolved it, you can make a PR. Thanks!

[2017-12-30 12:06] nithusha21 commented on #3773
The sortable seems to work fine only with jQuery v1.x. Our project uses jQuery v3.x. Both the set of imports work fine when jquery 1.12.4 is used instead of 3.0.0. I am not sure if changing this version might break other components we use. I'll try it on the main app and confirm if it fixes the issue with the hints sortable

[2017-12-30 12:09] seanlip commented on #3773
I don't think we can downgrade to 1.x. Is there any possibility of upgrading libraries instead of downgrading?

If there is a bug with the current version of ui-sortable then I think it would be a good idea to file an issue at https://github.com/angular-ui/ui-sortable#requirements with your minimal example. Especially if its behaviour conflicts with the dependencies it supports, as stated on its R

[2017-12-30 15:25] Nix07 commented on #1867
Hi @seanlip I can't reproduce this issue. The profile page is working fine even after hovering on the rating icon of any exploration.
Can you please recheck. I think the best way to confirm would be to ask anyone who has published more than 6 explorations in the oppia library to check this on oppia.org. @526avijitgupta

![3](https://user-images.githubusercontent.com/22103406/34455349-630da24a-eda3

[2017-12-30 15:48] #4291 closed, assigned to nobody

[2017-12-30 20:45] seanlip commented on #1867
I can't reproduce it either! Closing, thanks for investigating.

[2017-12-30 20:45] #1867 closed

[2017-12-30 20:56] #4285 closed, assigned to kevintab95

[2017-12-30 21:42] seanlip opened #4309 "If there are more hints that can fit on screen, the hints all become out of view and the later ones can't be clicked on."
To reproduce:
1. Create an exploration and add lots of hints to it.
2. Go to /explore and make the screen width small.

Observed behaviour: If there are more hints that can fit on screen the hints all become out of view and the later ones can't be clicked on.

Suggested fixes:
- [ ] limit the maximum number of hints that a card can have to 5 @aks681
- [ ] allow scrolling left-to-right within the h

[2017-12-30 22:17] DubeySandeep commented on #4303
@tjiang11, PTAL!
           								 ![video-sun-dec-31-2017-03-36-32](https://user-images.githubusercontent.com/16653571/34457640-a4de4998-eddc-11e7-9191-1a2e1571f5b1.gif)
Will it be okay to make a PR?

[2017-12-30 22:21] seanlip commented on #4303
@DubeySandeep I would just go ahead and make a PR, it'll speed up the review process. You can assign it to @tjiang11. Thanks!

[2017-12-30 22:24] DubeySandeep commented on #4303
![video-sun-dec-31-2017-03-53-01](https://user-images.githubusercontent.com/16653571/34457673-398ae456-edde-11e7-99e3-1fa0f0bf19a4.gif)
Also what about this^?

[2017-12-30 22:25] seanlip commented on #4303
Don't do the centralization. The original design had the play button on the left.

[2017-12-31 03:08] yashLadha commented on #4178
I am interested in taking up this issue. @jacobdavis11 @Arunabh98

[2017-12-31 03:18] tjiang11 opened #4311 "Editor view breaks after deleting a terminal interaction and creating a non-terminal interaction"
I just stumbled across a major error in the editor view. To reproduce:

1. Create a blank exploration.
2. Create an End Exploration interaction
3. Delete the interaction
4. Create a non-terminal interaction. You will get an error saying trim() is not a function. Sometimes you get a backend error saying non-terminal interactions must have a default outcome.

Somehow, it seems like the 'html' proper

[2017-12-31 05:14] seanlip commented on #4311
I confirm that I've reproduced this. Looking into it. Thanks for reporting!

[2017-12-31 05:28] seanlip commented on #4311
Should be fixed in #4313 -- @tjiang11 PTAL.

Do you know why this was missed in the migration PR? Might be worth doing a grep for the core creation methods to make sure, I found another instance of OutcomeObjectFactory.createNew that wasn't changed too.

[2017-12-31 07:11] seanlip opened #4314 "Severe bug for multiple-choice interactions in the editor view"
To reproduce:
1. Create a new exploration.
2. Add a multiple choice interaction with at least two options.
3. Try to create a rule.

You'll see a modal that looks like this:

![multiple-choice-bug](https://user-images.githubusercontent.com/10575562/34460018-af1f4860-edb6-11e7-9457-5d1bd2b34bfe.png)

The multiple-choice dropdown is unselectable. Nothing happens when you click on it.

[2017-12-31 07:11] seanlip commented on #4314
@nithusha21 could you PTAL? I suspect this might be related to the ui-bootstrap upgrade. This is a serious issue that blocks the next release.

[2017-12-31 07:18] nithusha21 commented on #3773
It works with jQuery 3.2.1 also. But in the oppia project it doesn't work with the exact same version numbers. Maybe the fact that it forces jQuery to be imported before angular might fix this? im unable to make the generation in this way. It always seems to do it alphabetically. Is this possible?

[2017-12-31 07:21] seanlip commented on #3773
So I just got an email about this issue but it doesn't seem to be on this comment thread -- weird.

@nithusha21 if you want me to try debugging something, please provide a new gist similar to before with two options, one that works and one that doesn't, and I'll take a look. Thanks!

[2017-12-31 07:38] jacobdavis11 commented on #4178
Great; please feel free to assign it to yourself.

[2017-12-31 07:39] yashLadha commented on #4178
How can i assign it to myself?

[2017-12-31 07:43] nithusha21 commented on #3773
Sure will do that.. Actually i had typed a message and then realized I had missed something. So I had deleted that message. Sorry for that. the gist works fine for the latest version numbers of each library required. I changed manifest.json to use the same versions but on oppia the sortable doesn't work. Also I just added the vanilla implementation into the project beside the hints sortable and th

[2017-12-31 07:46] nithusha21 commented on #4314
yes I will take a look at this. Looks like it could be linked to the uib upgrade i did

[2017-12-31 07:47] seanlip commented on #3773
Yes, do that, and could you also link to the vanilla gist here so I can investigate?

Thanks!

[2017-12-31 07:49] seanlip commented on #4178
Ah, you can't yet. We only invite people to be collaborators after 2-3 merged PRs.

That said, feel free to take this up and submit a PR anyway. If anyone reads this conversation log, they'll know you're working on it.

[2017-12-31 07:50] yashLadha commented on #4178
Sure @seanlip

[2017-12-31 08:22] #310 closed

[2017-12-31 08:22] seanlip commented on #310
Fixed in #4212. Thanks, @shubha1593!

[2017-12-31 08:27] AllanYangZhou opened #4317 "Students can get stuck in non-inline interactions"
Steps to repro locally:
1. In admin page, reload "all_interactions" exploration
2. Go to `/explore/16`
3. Proceed until the ImageClickInput (4th card)
4. Select the right answer, and a card with "Continue" should appear. Do **not** click "Continue."
5. Navigate back a card, then navigate forward to return to the ImageClickInput problem.
6. The "Continue" button has disappeared, and there is no way

[2017-12-31 08:30] seanlip commented on #4317
This is a blocking bug -- it'll have a very negative impact on a student's experience if it arises. We should write an e2e test to guard against it, too.

[2017-12-31 08:44] seanlip commented on #2829
We are currently upgrading jqueryUI to 1.12 (see #4316). I noticed this on the [upgrade page](https://jqueryui.com/upgrade-guide/1.12/#discontinued-ie8-ie9-and-ie10-support):

I don't think it's feasible for us to actively support IE9 if core libraries we depend on don't actively support IE9, so I'm closing this issue.