[2018-12-19 12:15] apb7 commented on #5930
Hi @vibhor98, I do not think this is an issue. You are directly invoking `pylint` on a directory. Can you reproduce this using the pre-commit linter script?
If you're invoking pylint directly, it does not considers other files (where the variable might be defined/used). Therefore, the errors (import-error, undefined-variable etc.).

[2018-12-19 13:53] ankit-kumar-dwivedi commented on #6004
So we 'ThingName' should do what [isort](https://isort.readthedocs.io/en/latest/) does? Or something else.

[2018-12-19 14:33] vddesai1871 commented on #4374
Hey, I would like to work on this.
I will start by `core.domain.feedback_jobs_continuous` if no one is working on it right now.

[2018-12-19 15:25] apb7 commented on #4374
Hi @vddesai1871 , assigned you! Go ahead!

[2018-12-19 16:35] sbeesm commented on #6004
Hi! First time contributor here. Can I work on this one?

[2018-12-19 16:47] #5973 closed, assigned to nobody

[2018-12-19 16:58] brianrodri opened #6007 "Make Answers Anonymous in the Statistics Tab"
We'll accomplish this using **_k_-anonymity**. From [Wikipedia](https://en.wikipedia.org/wiki/K-anonymity):

We'd like the statistics tab to have this property to protect learners from being identified. Anonymity can give our learners confidence in playing our explorations, and would improve the overall privacy of Oppia.

As far as implementation goes, we should only show a particular answer in th

[2018-12-19 17:19] rakshitkumarcse commented on #5002
@vojtechjelinek Which one should I go for next?

[2018-12-19 17:42] ankit-kumar-dwivedi commented on #5134
@DubeySandeep can I work on  core.platform.models ?

[2018-12-19 19:53] ankita240796 commented on #5546
Hi @nithusha21, may I take this up, Thanks!

[2018-12-19 19:53] ankita240796 commented on #4968
Hi @brianrodri, May I take this up, Thanks!

[2018-12-19 19:57] brianrodri commented on #4968
Sure, it's all yours @ankita240796! Thanks!

[2018-12-19 19:58] ankita240796 commented on #4968
Thanks! @brianrodri!

[2018-12-20 05:39] nithusha21 commented on #5546
Sure @ankita240796 go ahead!

[2018-12-20 05:48] ankita240796 commented on #5546
Thanks @nithusha21!

[2018-12-20 07:23] anubhavsinha98 commented on #5761
Hey @lilithxxx , @apb7 I would like to work on it .

[2018-12-20 10:58] ankita240796 commented on #4968
Hi @brianrodri, `get_full_customization_args` is currently present in `state_domain.py` after this [PR](https://github.com/oppia/oppia/pull/5505). Also if we are moving this function to `utils.py`, I feel the same should be done for validation as well(`validate_customization_args_and_values` defined in `state_domain.py` as well). What do you suggest?

EDIT: I have issued a [PR](https://github.com/

[2018-12-20 13:12] anubhavsinha98 commented on #5761
Here is the PR !
PTAL !
Thanks !
#6014

[2018-12-20 15:42] keshavg2 commented on #4833
Hi @DubeySandeep  I'm done these above step after that I'm going to the stats tab nothing have been shown here. can you plese help me what I'm do to after the above steps?

[2018-12-20 17:00] DubeySandeep commented on #4833
Hi @17bcs029, I have added steps to reproduce locally section in the issue PTAL. Let me know if it doesn't work, I'll help you out. :)

[2018-12-20 17:55] bansalnitish commented on #5134
Hi @ankit-kumar-dwivedi, Yes sure, I'll assign you the `core.platform.models`.

[2018-12-20 20:22] steve7158 opened #6016 "In Multiple-choice-question the radio buttons should probably not have detection at 100% width"
**Problem:** In  Multiple choice questions the radio button gets highlighted on hovering over at any width in that particular row this is not annoying however it does not seem to provide a good experience.

**Solution:** Perhaps the highlight should be shown only while hovering over the text or the radio buttons.

![screenshot from 2018-12-21 01-23-42](https://user-images.githubusercontent.com/408

[2018-12-20 22:05] Jesse-Penber commented on #6016
I'll take this one if that's ok; I found the responsible CSS at the path below, and it should be easy to remove the Hover option while keeping the Focus option.

oppia/extensions/interactions/MultipleChoiceInput/static/multiple_choice_input.css

[2018-12-21 04:35] brianrodri commented on #4968
Thanks @ankita240796, I agree that moving them both makes sense! I do think, however, that `utils` is too general for them. Let's move them to `schema_util` instead?

[2018-12-21 05:30] vddesai1871 commented on #4374
hey, can anyone please reopen #6006 . I have signed the CLA.

[2018-12-21 06:24] ankita240796 commented on #4968
Yes, moving them to `schema_util` sounds good. I have made the changes in the PR.

[2018-12-21 12:44] 17bcs029 commented on #4833
Thanks @DubeySandeep

[2018-12-21 15:17] YashJipkate commented on #5002
@vojtechjelinek Is someone currently working on `csrf_token`? If not I would like to work on it.
Thanks!

[2018-12-21 21:17] rakshitkumarcse commented on #6016
@Jesse-Penber Are you still working on the issue or I can take it up?

[2018-12-21 22:27] #4968 closed, assigned to nobody

[2018-12-22 08:11] anubhavsinha98 commented on #5923
@lladhibhutall , are you working on this issue ?

[2018-12-22 12:04] keshavg2 commented on #4833
Thanks @DubeySandeep I'm create it and trying to solve this.

[2018-12-22 14:31] mighty-phoenix opened #6021 ""add to playlist" seems misleading in exploration library"
**Describe the bug**
In the exploration library, when the clock icon is hovered over, the tooltip says "Add to playlist", which I believe is quite misleading. I think it should be "Watch later".

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration Library
 2. Hover over the clock icon
 3. See error

**Observed behavior**
The tooltip says "Add to playlist".
**Expected behavior**

[2018-12-22 14:31] mighty-phoenix commented on #6021
I would like to give the PR myself.

[2018-12-22 14:35] rakshitkumarcse commented on #6021
I would like to give the PR myself.

[2018-12-22 14:49] mighty-phoenix commented on #6021
@bansalnitish @nithusha21 Any idea about how the assets are handled? WIll I manually have to change the text in all the languages by using a translator? Or do we use some automation for the case?
@seanlip Would like to take your view on this as well.

[2018-12-22 15:12] apb7 commented on #6021
Hi @rakshitkumarcse, can you please explain why this is misleading. The tooltip does exactly what it says -- it adds the exploration/collection to the "Play Later" list. This list can later be accessed from the learner dashboard.

![screencast-www oppia org-2018 12 22-20-37-40](https://user-images.githubusercontent.com/24826041/50375833-e6f8c680-0629-11e9-8c01-86f913dec695.gif)

[2018-12-22 15:21] mighty-phoenix commented on #6021
@apb7 I meant to say that "Add to playlist" could misleading and does not imply "Watch later".
It would be better if the tooltip displayed "Watch later".
I believe "Add to playlist" implies that the user could make his own playlists and add explorations to them. This could be misleading.

[2018-12-22 15:43] apb7 commented on #6021
@rakshitkumarcse, I am not quite convinced here but that's just my opinion :) Let's wait for others to weigh in -- @nithusha21, @DubeySandeep, @aks681, what do you suggest here? Thanks!

[2018-12-22 15:49] yashdusing commented on #4931
@jacobdavis11 could you please look at the comments I left in the review section of the PR ? I've some doubts, just want to reconfirm

[2018-12-22 16:07] #5529 closed, assigned to apb7

[2018-12-22 19:13] #5876 closed, assigned to nobody

[2018-12-22 19:13] #5761 closed, assigned to nobody

[2018-12-22 19:29] lilithxxx opened #6022 "Make pre-submit checks more understandable/actionable"
The following can be done to make pre-submit checks more understandable/actionable:

- [x] When running the lint checks locally, have non-verbose mode by default (users can turn on a verbosity flag). #6146
- [x] On Travis, have comprehensive summary of errors at end that is self-contained. #6165
- [ ] Check if there’s a way to attach a custom, more informative message to a specific linter error (t

[2018-12-22 19:56] apb7 commented on #5714
Hi @import-keshav, sorry for the late response! Can you please explain [this comment](https://github.com/oppia/oppia/issues/5714#issuecomment-441125602) of yours? Thanks!

[2018-12-22 20:05] lilithxxx commented on #5938
I am working on this

[2018-12-23 06:39] #5885 closed, assigned to EvsChen

[2018-12-23 13:53] brianrodri opened #6024 "Modularize pre_commit_linter"
`pre_commit_linter.py` currently suffers from a lot of duplicate/complicated code. As a consequence, the file is extremely hard to optimize, and only grows harder to do so as time goes on. We'd like to split the functions into smaller modules (classes, functions, new files/modules), anything to help make the code more reasonable and easier to update and maintain.

Here are a list of starter items

[2018-12-23 15:50] dev-ritik commented on #4374
Hello!
Can I work on `core.domain.exp_services_test`?

[2018-12-23 16:13] Sylfrena commented on #6004
May I work on this issue?

[2018-12-23 17:03] anubhavsinha98 commented on #5343
Hey @aks681 ,
so I got that we have to make a GAE model for the skills and it would include 'skill_id', 'skill_name','questions_count' and another model will be there which will contain all the questions related to the skill_id,  so its attributes will be 'skill_id' and 'question_id'. Then we will make a cron job in ```cron.py``` for it which will link the questions and update them if any deletion

[2018-12-23 17:17] anubhavsinha98 commented on #5134
@DubeySandeep I would like to improve the coverage of ```core.domain.email_jobs_one_off``` . Please assign it to me !

[2018-12-23 17:44] mighty-phoenix commented on #6021
@seanlip @DubeySandeep  Would like to take your opinion here as well.
In as many websites as I have seen, playlists refer to a customized collection.
Also, a playlist may or may not mean "Watch later". So I thought it would be better if the tooltip displayed "Watch later" instead of "Add to playlist".

[2018-12-23 17:53] ankita240796 commented on #5546
Hi @nithusha21,

May you please help me to get started on this. Is there some documentation for suggestion view and questions? If so can you please direct me to that.

If not can you please provide the steps to try this locally to understand the working.

Thanks!

[2018-12-23 17:59] bansalnitish commented on #5134
Hi @anubhavsinha98, I've assigned you the `core.domain.email_jobs_one_off`. You can add the tests for it. Thanks!

[2018-12-23 19:32] mighty-phoenix commented on #6016
@Jesse-Penber Are you still  working on the issue?

[2018-12-23 20:20] steve7158 commented on #6016
No

[2018-12-23 22:02] Jesse-Penber commented on #6016
@rakshitkumarcse  Go ahead and take it, installing a local environment has proved tougher than I expected.

[2018-12-23 22:12] mighty-phoenix commented on #6016
@Jesse-Penber I can help you set up the environment if that's what you need help with. It's fairly simple. What issues are you facing? You could even discuss them on our channel on gitter.
Thanks!

[2018-12-23 22:17] rakshitkumarcse commented on #6016
@steve7158 I don't think the current behavior is quite fine as well.
What do you think about this? @DubeySandeep @nithusha21 @apb7

[2018-12-23 22:38] Jesse-Penber commented on #4374
Can I take core.tests.test_utils?

[2018-12-23 22:43] Jesse-Penber commented on #4374
Can I take core.domain.rating_services?

[2018-12-24 00:34] import-keshav commented on #4374
Hi @dev-ritik I have assigned to you please go ahead ,
and @Jesse-Penber your requested file was taken by @vibhor98 so you have to first ask for assignees before making a pr, please keep in mind next time.
thanks!

[2018-12-24 01:23] Jesse-Penber commented on #4374
@import-keshav Sorry about that, still new to how it works. Can I take core.domain.activity_services_test? Those ones look unassigned.

[2018-12-24 02:31] import-keshav commented on #4374
hi @Jesse-Penber dont't worry
I have assigned to you go ahead
thanks!

[2018-12-24 05:56] steve7158 commented on #6016
My appologies for the ignorant behaviour. Im new to open source community.
Ill keep this in mind for the next time.
Thank you

On Mon 24 Dec, 2018, 3:47 AM Rakshit Kumar <notifications@github.com wrote:

[2018-12-24 07:36] umasankar1999 commented on #5755
Hi @kevinlee12 ,I want to work on this issue.
Can you elaborate this issue ? As per I have understood , We need to align the cards and their headings at centre of the page .

[2018-12-24 07:39] kevinlee12 commented on #5755
Hi @umasankar1999, @geetchoudhary is currently working on this issue, would there be another ticket that you are interested in working on?

[2018-12-24 07:43] umasankar1999 commented on #5755
Okay @kevinlee12 , Got it !! 👍

[2018-12-24 07:50] kevinlee12 commented on #5755
thanks @umasankar1999!

[2018-12-24 13:50] mighty-phoenix commented on #5002
@vojtechjelinek Which constant should I work on next? Please suggest me.
Thanks!

[2018-12-24 14:07] umasankar1999 commented on #5729
Hi !! @DubeySandeep  If no body is working , I'm willing to work on this issue.

[2018-12-24 14:26] umasankar1999 commented on #5416
![translation](https://user-images.githubusercontent.com/34178439/50401576-b9d91f00-07b5-11e9-9fa3-3875b6a03142.PNG)
For me , It's working fine.

[2018-12-24 14:47] umasankar1999 commented on #5076
Hi @ishucr7,  I'm unable to reproduce this . Its working fine for me in Chrome and firefox .

[2018-12-24 15:26] sandeep-patel11 commented on #5729
Hi @umasankar1999
I am already working on it so you may take any other issue.

[2018-12-24 16:11] umasankar1999 commented on #5729
Okay ! @suicide11 . Got It !! 👍

[2018-12-24 16:30] Dharmesh-Poddar commented on #5979
@kefeh can I work on it..

[2018-12-24 16:45] djb4ai commented on #5923
@anubhavsinha98 I will get started with it soon.

[2018-12-24 19:45] mighty-phoenix commented on #6016
Assigning myself due to lack of response by @Jesse-Penber

[2018-12-24 20:22] aks681 commented on #5343
The model for the skills already exist. There is also a QuestionSkillLink model which has skill_id and question_id as its fields (when those are linked to each other).
The issue is to create a new model keyed by skill id which will have an array that contains id of all linked questions, which is updated regularly. So, whenever we want all questions linked to a skill only this is checked instead of

[2018-12-26 03:48] 1995YogeshSharma commented on #6021
I think changing it to "Add to Play Later list" would be better. Then, it would be exactly what it does. Right now, if a user is new he might get confused by the meaning of a playlist.
Usually, play list is a set of things you'd want to play and keep together. This meaning does not transfer to adding things which you'd want to play later.

[2018-12-26 05:38] mighty-phoenix commented on #6021
@1995YogeshSharma
Thanks for the reply.
Any idea about how the assets are handled? WIll I manually have to change the text in all the languages by using a translator? Or do we use some automation for the case?
Thanks!

[2018-12-26 19:08] geetchoudhary commented on #5791
@brianrodri , Can I work on this?

[2018-12-27 00:29] alti-tude commented on #4374
Hi,
So if any file is still open, can i please be assigned to that?
TIA :)

[2018-12-27 00:34] alti-tude commented on #5134
Hi,
Can core.controllers.feedback be assigned to me?
TIA :)

[2018-12-27 02:27] 1995YogeshSharma commented on #5134
Hi @alti-tude, assigned that to you.

[2018-12-27 02:30] 1995YogeshSharma commented on #5791
@geetchoudhary , looks like nobody else is working. You can go ahead and work on this. I can't assign this to you through assignee option but I think this comment is enough for letting people know that you are working on it.

[2018-12-27 02:56] rahgurung commented on #5134
@alti-tude @1995YogeshSharma  I apologize for not informing but I had already started the work, if @alti-tude  hasn'et started I can continue my work on core.controllers.feedback, can I ?

[2018-12-27 03:01] 1995YogeshSharma commented on #5134
@gurungrahul2, In future make sure that the issue is assigned to you either through comment or through assignee option. For this, since I have assigned him just a while back he might not have started.

De-assigning @alti-tude  and assigning @gurungrahul2. @alti-tude please choose another file and I'll assign that to you.

[2018-12-27 03:02] rahgurung commented on #5134
thanks, I will keep that in mind.

[2018-12-27 10:59] import-keshav commented on #5714
Hloo sir @apb7
i was telling that when we try to do relative import in files like oppia.jina_utils.py , feconf.py then the error
``` ValueError: Attempted relative import in non-package ``` is comming.
dont't know why can you help me?

[2018-12-27 13:53] vojtechjelinek commented on #5002
@rakshitkumarcse You can work on `PROMO_BAR_IS_ENABLED` and `PROMO_BAR_MESSAGE`.

First, create backend handler that will return promo bar message, then retrieve promo bar message on frontend by AJAX at last move ENABLE_PROMO_BAR from _feconf.py_ to _constants.js_

[2018-12-27 13:54] vojtechjelinek commented on #5002
@YashJipkate No one is currently working on it. You can work on it.

[2018-12-27 14:09] YashJipkate commented on #5002
Thanks @vojtechjelinek Also can you point me in the right direction which might help me get started.
Thanks!

[2018-12-27 14:10] mighty-phoenix commented on #5002
@vojtechjelinek Working on it. Thanks!

[2018-12-27 15:14] vojtechjelinek commented on #5002
@YashJipkate Now that I look at it removing `csfr_token` might be is a little bit complicated, try to remove `loginUrl` and `logoutUrl`. You need to remove them from GLOBALS (what is GLOBALS is explained in previous comments) and find a way to send login and logout url to frontend some other way.

[2018-12-27 17:38] #5982 closed, assigned to nobody

[2018-12-27 17:58] anubhavsinha98 commented on #6004
Hey @brianrodri , @apb7 I would like to work on this issue !

[2018-12-27 19:57] enriquejosepadilla commented on #5134
Hello, Would like to be assigned to story services core.domain.story_services.

[2018-12-27 20:45] ctao5660 commented on #6007
Hey @brianrodri , I might have some free time to take this up. Would this be a change to stats_services or a different file?

[2018-12-27 20:47] brianrodri commented on #6007
@ctao5660 that'd be great, thanks!

Yes, there are backend apis there where we should be able to filter out answers from.

[2018-12-27 22:26] ctao5660 commented on #6007
@brianrodri I'm creating a ConfigProperty in StatsServices for the k and j values so it can be changed through the admin config panel, what do you think are good k and j values to start with?

[2018-12-27 22:42] brianrodri commented on #6007
Let's start with `k = 5` and `j = 3`. Thanks!

[2018-12-27 23:33] brianrodri opened #6034 "Default PR descriptions are cluttered by the checklist"
Currently, the default PR template provides a checklist for contributors to complete. While this is useful, it ends up adding noise to PR descriptions and to the overall PR list:
![image](https://user-images.githubusercontent.com/5094060/50497408-17af7600-0a05-11e9-8458-f561d853d789.png)

We should have some other way of providing this checklist to contributors. Maybe @oppiabot can be configured t

[2018-12-28 02:15] 1995YogeshSharma commented on #6004
sure @anubhavsinha98, go ahead.

[2018-12-28 02:55] brianrodri commented on #5590
Hey @dchen97, how's progress going? Any updates?

[2018-12-28 07:07] alti-tude commented on #5134
So, can i be assigned to core.controllers.story_editor, then?

[2018-12-28 07:50] YashJipkate commented on #5002
@vojtechjelinek Thanks for the help. I'll get to working on it!

[2018-12-28 17:38] #4936 closed, assigned to nobody

[2018-12-28 17:55] bansalnitish commented on #5134
Hi @enriquejosepadilla, I've assigned you `core.domain.story_services`, you can start working on this now :). Thanks

[2018-12-28 17:59] bansalnitish commented on #5134
Hi @alti-tude, I've assigned you `core.controllers.story_editor`,  go ahead :).
Thanks

[2018-12-28 18:53] aryan2305 commented on #5134
Hello,
I would like to work on core.domain.skill_services. Could it be assigned to me?
@bansalnitish @1995YogeshSharma

[2018-12-28 20:23] mighty-phoenix commented on #5002
@vojtechjelinek I am not sure about the reason and site of occurrence of promobar. Can you please elaborate? Thanks!

[2018-12-29 07:46] anubhavsinha98 commented on #6004
Hi @brianrodri, @apb7 need to ask something regarding this issue!
As now we use eslint to lint the js files, so to add this feature we need to use the angular plugin of eslint as the di-order rule seems to be inbuilt in the plugin, or I should add a logic instead in the ```pre_commit_linter.py``` when the js files are lint?

[2018-12-29 09:20] dev-ritik commented on #5134
HI,
I would like to improve the coverage of `core.controllers.suggestion`.Can it be assigned to me?

[2018-12-29 09:22] apb7 commented on #6004
Hi @anubhavsinha98, we already use `angular/di-order`. It sorts the imports alphabetically. You can see it in `.eslintrc`. For this use case, we require a custom sorting of the imports (as specified by @brianrodri). Therefore, the logic should live in `pre_commit_linter.py`. Thanks!

[2018-12-29 09:43] apb7 commented on #6034
Hi @brianrodri, just wanted to confirm the exact action of the bot here: the bot should post a comment when any PR is opened. This comment can then be resolved by the reviewer.
This is quite feasible but there seems to be a limitation: since the bot is hosted on a free Heroku server and all free applications need to sleep for 6 hours a day, there might be instances where a PR is made and the bot i

[2018-12-29 09:50] apb7 commented on #5134
Hi @aryan2305 and @dev-ritik, assigned you both. Go ahead, thanks!

[2018-12-29 11:00] anubhavsinha98 commented on #6004
Okay thanks, @apb7. So for making the logic, should I use the AST approach for Javascript or should read the file simply?
I think AST approach would be efficient but do you any module in javascript like there was ```astroid``` in python which would help in parsing and constructing the AST for Javascript files?

[2018-12-29 11:30] vojtechjelinek commented on #5002
I'm not exactly sure where the promo bar shows up or why, but you can switch it on in admin settings.

[2018-12-29 11:42] anubhavsinha98 commented on #6004
Hey @apb7, I found some modules which are present in ```node_modules``` in the Oppia directory, such as ```espree``` and ```esprima``` through which we can generate the AST for js files. What you suggest ?

[2018-12-29 11:55] apb7 commented on #6004
Yes, that sounds like a plan! You might want to look around [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L1244). We do some JS parsing for the directive check. Thanks!

[2018-12-29 12:23] mighty-phoenix commented on #5002
Alright, thanks!
@vojtechjelinek

[2018-12-29 13:25] vibhor98 commented on #4374
Hi @vddesai1871 and @Jesse-Penber, we need to complete this issue by **Dec 30**. So, please try to complete the assigned files by that time. Thanks!

[2018-12-29 14:40] apb7 commented on #5930
@vibhor98, friendly ping?

[2018-12-29 16:17] vibhor98 commented on #5930
Hi @apb7, thanks for the ping! Yeah, I think you're right. I'm not getting the same via pre-commit linter script. So, it seems like it's not an issue. Hence, closing ...

[2018-12-29 16:17] #5930 closed, assigned to nobody

[2018-12-29 17:33] brianrodri commented on #6034
Hmm, does that mean the comment would never be made while the bot is asleep? Maybe we can instead make it crawl through the open issues and leave a comment if it hasn't already?

[2018-12-29 17:40] apb7 commented on #6034
That can be done! We can have a scheduled run (may be once an hour) to make comments on open PRs but to identify which PRs have been already commented on, we might require a label to mark such PRs (something on the grounds, "check-listed"). Does that sounds good?

[2018-12-29 17:49] brianrodri commented on #6034
Sure! So labels like `TODO:Checklist` and `DONE:Chechklist`?

Also, let's wait for input from others before deciding on the approach.

[2018-12-29 17:49] #3972 closed, assigned to mighty-phoenix

[2018-12-29 17:50] anubhavsinha98 commented on #6004
Yeah okay @apb7, we can use the ```pyjsparser``` module in python, to parse JS files. Thanks for the help!

[2018-12-29 17:59] apb7 commented on #6034
Ah, yes! The bot would mark all open PRs with `TODO:Checklist` label once it comments the checklist for that PR. The reviewer could then tick the relevant boxes and changes the label to `DONE:Checklist`. How does that sounds?

[2018-12-29 18:12] brianrodri commented on #6034
I like it! :)

@DubeySandeep @nithusha21, thoughts?

[2018-12-29 18:38] anubhavsinha98 commented on #6004
Hey @apb7, as @brianrodri suggested to check the dependencies of controllers, directives, factories. So any more expression statements are there whose dependencies need to be checked. What you suggest ?

[2018-12-30 01:05] #5755 closed, assigned to nobody

[2018-12-30 05:16] vddesai1871 commented on #4374
Hey @vibhor98 I have completed the files signed to me, changes were merged in #6006 ,you can mark it as completed.

[2018-12-30 07:11] anubhavsinha98 commented on #5508
Hey @nithusha21 , @vibhor98 I would like to work on this issue.

[2018-12-30 07:26] YashJipkate commented on #5002
Hi @vojtechjelinek I was looking at one of the PRs you have referenced i.e. #5290 and it still makes use of the Jinja template rendering by updating the `values` dict. In your earlier comment you specified that the main motive was to get rid of Jinja.
So I wanted to ask if I can also use a similar approach as yours for `loginUrl` and `logoutUrl`.
Thanks!

[2018-12-30 07:36] anubhavsinha98 commented on #5508
So @vibhor98 , basically we want those threads to get ordered in real time, as now it gets ordered on refreshing the page.

[2018-12-30 07:46] vibhor98 commented on #5508
Yeah @anubhavsinha98! I will assign you. Thanks!

[2018-12-30 07:47] vibhor98 commented on #5508
Right now we can't assign you officially as you're not a member yet. But please feel free to take it up.

[2018-12-30 13:07] lilithxxx opened #6040 "Pylint errors does not allow pre_push_hook to fail"
In case of a Pylint error the `pre_push_hook` should fail. This is not observed currently as the error code returned from the `pre_commit_linter` in case of a Pylint error is zero (should be non-zero).

Following is an example:
[code]
The last line denotes the status code which should be non-zero.

[2018-12-30 16:03] 1995YogeshSharma commented on #6040
Are you sure?
In pre_commit_linter.py [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L1710), the returned status is 1 if there is any failed message and it is handled in pre_push_hook.py

[2018-12-30 16:12] lilithxxx commented on #6040
@1995YogeshSharma Yes the `pre_commit_linter` returns status code 1 when the functions defined in the `pre_commit_linter` itself fails but does not take those into account which rises due to pylint.

[2018-12-30 16:16] apb7 commented on #6040
@lilithxxx @1995YogeshSharma: We have PR #6038 for this. This is happening due to the way we are handling queues. You can find further details here: https://github.com/oppia/oppia/pull/6038#issuecomment-450492609.
Thanks!

[2018-12-30 16:17] apb7 commented on #6004
@anubhavsinha98: I think that would be sufficient. @brianrodri, is there any other use case? Thanks!

[2018-12-30 16:24] lilithxxx commented on #6040
@apb7 Ah the PR does seem to fix this. Should I close this issue then?

[2018-12-30 16:25] apb7 commented on #6040
@lilithxxx, please let this issue remain open. We'll close it when the PR goes in. Thanks for the issue :)

[2018-12-30 18:52] brianrodri commented on #6004
I think that's good for now, ideally it should be simple to add a new case if we missed one.

[2018-12-31 11:41] ritwizsinha commented on #3950
Hello I would like to work on header_css_libs.html

[2018-12-31 19:13] mzaman07 commented on #5784
I looked into this one, the problem lies with the ng-audio library not handling the promise  for the async file download from server. This does not impair the functionality of the audio from working properly though.

[2019-01-01 18:17] anubhavsinha98 commented on #6004
Hey @apb7 , as I checked the di-order rule of eslint-angular-plugin locally on my system, I noticed that the dependencies which are injected in the function as the parameter are checked for the di-order rule. So if I consider some random code like:
[code]
Then it would check the dependencies of the function. As the literals, i.e ```['$scope', '$http', ```  are left as it is which doesn't get check

[2019-01-01 18:54] apb7 commented on #6004
Hi @anubhavsinha98, `di-order` sorts the import alphabetically -- which is a sub-part of this issue. We also want the imports to be sorted in this manner: `$sortedDollarImports', 'SortedRegularImports',  'SORTED_CONSTANT_IMPORTS`. You'll have to implement a check to enforce this style of imports on top of the imports being alphabetically sorted. Thanks!

[2019-01-01 18:57] #6040 closed, assigned to nobody

[2019-01-01 20:08] #5798 closed, assigned to brianrodri

[2019-01-02 00:23] ctao5660 commented on #6007
@brianrodri there already seems to be a constant regulating the k value called feconf.STATE_ANSWER_STATS_MIN_FREQUENCY should the k value override this? Or should we replace the constant in feconf with the correct k value?

[2019-01-02 12:09] DubeySandeep opened #6043 "Extract content ids to audio translations out into its own object"
The new structure projects use content_ids_toi_audio_translatiosn in lots of places and there are lots of duplicate codes places in those structures the aim of this issue is to extract content ids to audio translations out into its own object (in state_domain.py) to reuse throughout audio-capable structures.

[2019-01-02 12:45] #5978 closed, assigned to DubeySandeep

[2019-01-02 12:47] DubeySandeep commented on #4833
Hi @17bcs029, any update on this issue?

[2019-01-02 13:04] brianrodri commented on #6007
@ctao5660 Hmm, that value isn't sufficient for `k`, because it's an aggregate of *all learner answers* (a single learner could put in `k` answers). We need to base `k` on the number of unique learners who have input an answer (maybe through unique exploration attempts? I'm not sure if we have a way to identify unique learners yet)

[2019-01-02 13:39] YashJipkate commented on #5002
Hi @vojtechjelinek Should I use Angular's `$http.get` or AJAX for retrieving the `loginUrl`/`logoutUrl`. Also I am facing difficulty in deciding which python file in `core/controllers` should I define my handler class. I have tried to place it in `profile.py` and `resources.py` and it works perfectly fine when I test it manually but is failing the `test_that_no_get_results_in_500_error` test(don't

[2019-01-02 13:53] steve7158 commented on #5747
Is this issue still open , if yes and no one is working on it i would like to fix this.

[2019-01-02 13:54] YashJipkate commented on #5923
@DubeySandeep Is this issue still open? If yes I would like to work on it. Thanks!

[2019-01-02 14:42] vojtechjelinek commented on #5002
@YashJipkate Yes, use `$http.get`. I don't know what can be wrong with the tests if you can't resolve it yourself push your branch to your fork of Oppia and I will take a look.

[2019-01-02 15:43] mighty-phoenix commented on #5923
@lladhibhutall Are you still working on the issue?
@YashJipkate If he isn't, feel free to take up the issue.

[2019-01-02 15:49] YashJipkate commented on #5923
@rakshitkumarcse I'll wait for a day or two for his response and then I'll take up the issue in case of lack of response.
Thanks!

[2019-01-02 16:17] YashJipkate commented on #5002
@vojtechjelinek Here's my fork with my current working branch `url-handler` : https://github.com/YashJipkate/oppia/tree/url-handler
Thanks!

[2019-01-02 17:01] vojtechjelinek commented on #5002
@YashJipkate I thin the problem is with `self.request.GET.items()[0][1]`, firstly `self.request.items()[0][1]` should probably work the same, secondly what if `self.request.GET.items()[0] is None` then we got an error and that's probably what happens in tests.

[2019-01-02 17:39] YashJipkate commented on #5002
@vojtechjelinek Thanks for taking a look!
About `self.request.GET.items()[0][1]` I followed [this line](https://github.com/oppia/oppia/blob/develop/core/controllers/suggestion.py#L166) and thought this might be the conventional alternative.
And `self.request.GET.items()[0]` can be None if no GET parameters are passed in the `$http.get` call; but since whenever I call that endpoint, I pass the GET

[2019-01-02 18:17] anubhavsinha98 commented on #5508
Hey @vibhor98 , @nithusha21 should it be feasible to add ```reload``` feature in the button which on click goes back to the Threads Table. It will refresh the page, and make the threads sorted according to ```last updated```.
What you suggest ?

[2019-01-02 18:23] vojtechjelinek commented on #5002
@YashJipkate Okay, you can leave it for now, I will take a closer look when reviewing the PR. Yes, the test doesn't send any values. Don't use try-catch, but check if `self.request.GET.items()[0]` exists and if not then `raise self.InvalidInputException('Missing parameter.')`, also you should probably check if `self.request.GET.items()[0][1]` exists and if it is not empty.

[2019-01-03 06:30] mighty-phoenix commented on #5508
@anubhavsinha98 I would like to suggest something here.
Rather than adding reload button, it would be better to update the threads in real time.
What do you think? @vibhor98

[2019-01-03 06:39] mighty-phoenix commented on #5771
@seanlip @DubeySandeep  Can I take up this issue?

[2019-01-03 06:40] vibhor98 commented on #5508
Hi @anubhavsinha98, I also think it would be better to update threads in real time. I am not sure if reload would work in this case. I personally don't prefer it. @nithusha21, what do you prefer?

[2019-01-03 08:23] DubeySandeep commented on #5771
Hi @rakshitkumarcse, Sure, you can take this up. Thanks :)

[2019-01-03 11:23] mighty-phoenix commented on #5771
Thanks @DubeySandeep !
Working on it.

[2019-01-03 15:39] apb7 opened #6047 "Add a check to ensure that multi-line expressions in parenthesis are broken down after "(" in JavaScript files."
We would like to implement a check which ensures that all multi-line expressions in parenthesis are broken down after "(" in javascript files.
This imparts readability to the code.
There are a few eslint rules we can look into:
1. [function-paren-newline](https://eslint.org/docs/rules/function-paren-newline)
2. [array-bracket-newline](https://eslint.org/docs/rules/array-bracket-newline)
3. [object

[2019-01-03 16:08] #6016 closed, assigned to mighty-phoenix

[2019-01-03 16:24] #5938 closed, assigned to lilithxxx

[2019-01-03 17:08] nithusha21 commented on #6034
That sounds good.

However, do we want only the reviewer to change the label? In case the author is sure that the checklist is complete, can he/she do it? Also, in some PRs, the complete checklist may not be applicable (if the PR is created without an original issue thread filed for it). Do we want to enforce PRs to be linked to issues? (I am not sure if that would be the best). Also, do we block

[2019-01-03 17:12] steve7158 commented on #5979
Hi @kefeh @Dharmesh-Poddar are you working on this issue?

[2019-01-03 17:13] YashJipkate commented on #5002
@vojtechjelinek Thanks to your help I was able to get rid of the error. I have created #6050 which removes loginUrl. The e2e tests are failing for some reason I don't know. I am trying to resolve it. Meanwhile if you please, you can review the code and take a closer look as you have said in the previous comment. Also, if you wish you can help me to resolve this e2e failure issue since I may be mis

[2019-01-03 18:03] steve7158 opened #6051 "Add a smooth slide down, and colour change animation for navbar tabs"
Can we add a smooth slide down animation on the dropdown menus of navbar (like about ,sign in)
(edit: can we add an additional smooth colour change animation while hovering over the navbar-tabs)

[2019-01-03 18:04] steve7158 commented on #6051
Can i work on this issue.

[2019-01-03 19:41] Dharmesh-Poddar commented on #4057
Hi, can I be assigned ParameterMetadataService.js?

[2019-01-03 20:10] DubeySandeep commented on #4057
Hi @Dharmesh-Poddar, I've assigned you to  `ParameterMetadataService.js` you can start working on it. Thanks! :)

/cc @vibhor98

[2019-01-03 20:12] DubeySandeep commented on #4057
De-assigning @aditya81070, @rajvaibhavdubey, @subhdeep from the issue because of lack of response.

[2019-01-03 20:15] DubeySandeep commented on #4057
Hi @ezl-13, @sjkadali any update on this issue?

[2019-01-03 20:26] DubeySandeep commented on #5134
Hi all (@ctao5660 @coobubba @dchen97 @son-vyas @MichJP @varun-tandon @Shuayb1 @varun-tandon @szhang9246 @ankit-kumar-dwivedi @CelineDknp @nswarup14 @JoyLubega). any update on the assigned issue?

[2019-01-03 20:27] ctao5660 commented on #5134
Core.controllers is done(100%) I tried checking the box myself but I guess
it didn’t work. It has already been merged.

On Thu, Jan 3, 2019 at 3:26 PM Sandeep Dubey <notifications@github.com>
wrote:

[2019-01-04 03:20] kevinlee12 commented on #6051
@steve7158 sure!

[2019-01-04 03:31] kevinlee12 commented on #2297
Hi @bansalnitish, how is this coming along?

[2019-01-04 03:35] kevinlee12 commented on #5462
ping @aks681?

[2019-01-04 03:37] kevinlee12 commented on #5611
De-assigned @hemant0308, please re-assign yourself when you are ready to pick it up!

[2019-01-04 03:38] kevinlee12 commented on #5590
ping @dchen97?

[2019-01-04 03:38] kevinlee12 commented on #5591
Hi @brianrodri, how's this coming along?

[2019-01-04 03:41] kevinlee12 commented on #5546
@ankita240796, were you able to get the assistance you need?

[2019-01-04 03:42] kevinlee12 commented on #5740
De-assgining @prasanna08, please reassign yourself when you are ready to take it up!

[2019-01-04 03:45] kevinlee12 commented on #5898
Hi @suicide11, how is this coming along?

[2019-01-04 03:46] kevinlee12 commented on #5822
@vibhor98, do you have any status updates for this? thanks!

[2019-01-04 03:52] kevinlee12 commented on #5714
Hi @import-keshav, are there alternatives other than what was mentioned in the description that might work?

[2019-01-04 03:55] brianrodri commented on #5591
Whoops, shouldn't have assigned myself, haven't actually started any work on this yet (though I am doing minor clean up here and there)

[2019-01-04 05:22] CuriousLearner2 commented on #5813
@mallenjr - Are you working on this issue?  If not, I would like to

[2019-01-04 10:46] abhaygupta97 commented on #5134
Hi, I would like to work on `core.domain.collection_jobs_one_off`, kindly assign it to me.

[2019-01-04 10:49] DubeySandeep commented on #5134
Hi @abhaygupta97, I've assigned you to  `core.domain.collection_jobs_one_off`. Thanks!

/cc @1995YogeshSharma

[2019-01-04 14:14] CelineDknp commented on #5134
@DubeySandeep : I've done my pull request but I'm waiting for feedback from two members and haven't heard of them since two weeks :/

[2019-01-04 18:58] ankita240796 commented on #5546
Yes @kevinlee12, I am currently working on a refactor which will make it easier to fix the issue.

[2019-01-04 19:00] kevinlee12 commented on #5546
okay, thanks!

[2019-01-05 05:24] mighty-phoenix commented on #5134
@DubeySandeep kindly assign me to a service. Thanks.

[2019-01-05 05:30] keshavg2 commented on #5747
hi @steve7158 actually I'm not working upon this. so you could take it. this issue is not closed.

[2019-01-05 06:31] steve7158 commented on #5747
@17bcs029 Ok, Thank you.

[2019-01-05 08:42] DubeySandeep commented on #5134
Hi @rakshitkumarcse, I've assigned you to `core.domain.collection_services`. Thanks! :)

[2019-01-05 08:48] mighty-phoenix commented on #5134
@DubeySandeep Thanks! :)

[2019-01-05 10:58] mighty-phoenix opened #6055 "The text "Exploration Graph Legend" falls out of Save Draft modal"
**Describe the bug**
The text "Exploration Graph Legend" falls out of Save Draft modal

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Create' to create exploration.
 2. Enter Content.
 3. Click on 'Save Draft'.
 4. Click on 'Show Changes'.
 5. See Error.

**Observed behavior**
The text "Exploration Graph Legend" falls out of Save Draft modal.

**Expected behavior**
The text "Explora

[2019-01-05 11:18] mighty-phoenix opened #6056 "In the 'Save Draft' modal, if the 'brief description' text box is enlarged using the resizing button at bottom right corner, text box flows out of modal"
**Describe the bug**
In the 'Save Draft' modal, if the 'brief description' text box is enlarged using the resizing button at bottom right corner, text box flows out of modal.

**To Reproduce**
Steps to reproduce the behavior:

 1. Go to 'Create' to create exploration.
 2. Enter Content.
 3. Click on 'Save Draft'.
 4. Resize the text box using the resizing button at bottom right corner.
 5. See err

[2019-01-05 17:06] dchen97 commented on #5590
Sorry I've been swamped working on other tasks for Oppia. Will de-assign myself for now until I have more time to devote to this.

[2019-01-05 17:19] lilithxxx opened #6059 "Text in exploration cards fall out in thumbnail view"
**Describe the bug**
1. In the creator dashboard, the text falls out from the exploration cards when they are viewed as thumbnails
2. The highlight visible on hovering over the cards does not fully cover them.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia.
 2. Create some explorations.
 3. Click on the creator dashboard.
 4. View the explorations as thumbnails.

**Observed

[2019-01-05 17:30] kevinlee12 commented on #5590
Sure, thanks!

[2019-01-05 18:36] aniket7joshi commented on #4374
Hello @vibhor98, I have signed the CLA and would like to start contributing if the issue is still open.

[2019-01-05 18:57] aniket7joshi commented on #5134
Hello, Can core.domain.stats_jobs_one_off file be assigned to me?

[2019-01-05 19:01] aniket7joshi commented on #5134
Hi, I would like to work on 'core.domain.stats_jobs_one_off'. Can this file be assigned to me?

[2019-01-05 19:02] aniket7joshi commented on #5134
Hi, I would like to work on 'core.domain.stats_jobs_one_off'. Can this file be assigned to me?

[2019-01-05 19:03] aniket7joshi commented on #5134
Hi, I would like to work on `core.domain.stats_jobs_one_off`. Can this file be assigned to me?

[2019-01-05 20:27] mighty-phoenix commented on #6059
@lilithxxx I tested it on Chrome Version 71.0.3578.98 and it appears to be fine.
Please have a look at this screenshot.
![image](https://user-images.githubusercontent.com/32777813/50728849-5c01eb00-1156-11e9-873d-339c004aeb18.png)

So, I don't think we need to worry about this issue. The users generally have their browsers updated.
What are your views on it?
Thanks.

[2019-01-06 04:02] #6056 closed, assigned to mighty-phoenix

[2019-01-06 04:24] akeeoaobh commented on #5134
I'm new here.  I would like to work on `core.domain.obj_services` .Could it be assigned to me?

[2019-01-06 05:28] anubhavsinha98 opened #6062 "Fix the alignment of the logos of google+, facebook and twitter on page of any exploration."
The logos of facebook, twitter and google+ should be slightly aligned above the below margin, aligned it same with the last logo.

 1. Click on 'Library'
 2. Select any 'Exploration'
 3. Look at the bottom right corner.

**Observed behavior**
The logos are not aligned with the respect of the last logo.

**Expected behavior**
It should be in the same alignment.

**Screenshots**
If applicable, add s

[2019-01-06 07:28] steve7158 commented on #6051
i am facing trouble while adding smooth drop down animation to navbar-tabs about and sign in. Any suggestions.

[2019-01-06 08:45] YashJipkate opened #6064 "Text on Publish button remains at 'Publishing' even after the publish is cancelled."
**Describe the bug**
The Publish button on the create exploration page does not update itself back to 'Publish' even after the publish action is cancelled by clicking outside the 'Publish Exploration' modal and instead remains at 'Publishing'.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Save the changes and click on 'Publish' button.
 3. Click on 'Save Changes

[2019-01-06 09:48] YashJipkate opened #6065 "Create Exploration page opens in mobile view where it is not supported"
**Describe the bug**
The create exploration page is not supported for mobile devices. However it does open on the mobile site.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the splash page while you are logged out.
 2. Click on 'Create your own lesson' button
 3. It redirects to login. Login.
 4. The Creator Dashboard opens up and it automatically redirects to create exploration pag

[2019-01-06 09:52] lilithxxx commented on #6059
Well I don't know about the fact whether or not the users keep their browsers updated but if this issue is not faced on higher versions of chrome, we can close it. @vibhor98 what are your views on this?

[2019-01-06 10:43] steve7158 commented on #6062
Is it okay if i take this issue up.

[2019-01-06 13:12] mighty-phoenix commented on #5002
@vojtechjelinek Sorry for the delay.
I got a little involved in some other issues.
Working on the issue and soon updating.
Thanks.

[2019-01-06 13:31] keshavg2 commented on #4833
![pic](https://user-images.githubusercontent.com/34001173/50736607-6c14db80-11e5-11e9-916d-4a739bcdb3fb.png)
hi @DubeySandeep can you please see the image. and also let me know that is alright or not. if it is not alright then can you please suggest me something for solve this issue?

[2019-01-06 13:34] vojtechjelinek commented on #5002
@rakshitkumarcse It's okay, work as you want.

[2019-01-06 13:37] steve7158 commented on #6062
@anubhavsinha98 I cant reproduce the issue can you share the link to the web page, that would be helpfull.

[2019-01-06 14:36] vibhor98 commented on #6059
Yeah, I also tested and couldn't reproduce this bug on Chrome version: `71.0.3578.98`. Since this is fine for higher versions, we can close this issue. Though we can't expect from all the users to keep their browsers up-to-date. @nithusha21, can we close the issue?

[2019-01-06 14:59] mighty-phoenix commented on #5002
@vojtechjelinek Where should I introduce the handler for promobar message?

[2019-01-06 16:38] lilithxxx opened #6067 "The linter should report if we use the args-name for a non-keyword argument"
Pylint reports when we don't mention the args-name for a keyword argument as 'non-explicit-keyword-args' message.
The linter should also provide for the other way around -- i.e, it should also report if we use the args-name for a non-keyword argument.

[2019-01-06 17:16] vojtechjelinek commented on #5002
@rakshitkumarcse I'm not really sure, maybe [admin.py](https://github.com/oppia/oppia/blob/develop/core/controllers/admin.py) or [resources.py](https://github.com/oppia/oppia/blob/develop/core/controllers/resources.py) pick what you find most suitable.

[2019-01-06 17:28] mighty-phoenix commented on #5771
@seanlip Hi Sean.
Kindly see lines 55,264, 292 of [StateTranslationDirective.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/translation_tab/StateTranslationDirective.js)
These lines simply load the Content tab on reload of page(Irrespective of the fact that whether save draft, publish is clicked, or the page is simply reloaded).
In my approach, I h

[2019-01-06 18:16] YashJipkate opened #6069 "Faulty layout of the feedback page in mobile view"
**Describe the bug**
The feedback page of the creator dashboard has faulty layout probably caused due to CSS defects.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Dashboard
 2. Go to the suggestion/feedback page of any of your exploration.
 3. The text overflows and the 'Start New Thread' button is improperly aligned.

**Observed behavior**
Improper alignment of button and

[2019-01-06 18:48] YashJipkate opened #6070 "Erroneous navigation in creator dashboard in mobile view."
**Describe the bug**
The exploration cards in the creator dashboard when clicked on navigate to edit the the exploration which is not supported in mobile view. Also on clicking the feedback icon in the card (which just gives a tooltip at first and clicking on it navigates to edit exploration page) many times the exploration card now navigates to the suggestion/feedback page after briefly pausing a

[2019-01-06 18:51] kevinlee12 commented on #6051
There are a couple of strategies to add smooth dropdown, you can either do it in css (using transitions) or trigger the animations with js. Hope that helps!

[2019-01-06 18:55] #5751 closed, assigned to rafalk342

[2019-01-06 19:32] ctao5660 commented on #6007
@brianrodri Hello, I am going to be away for the next week, I can deassign myself from the issue if this is something that needs to be urgently worked on.

[2019-01-06 19:41] brianrodri commented on #6007
No problem, it is high priority so I'll deassign just in case someone else wants to make an attempt while you're away. Feel free to reassign yourself once you're available again!

[2019-01-06 21:45] brianrodri commented on #5802
I think there's now enough foundation for me to start writing *more* foundations for this card :)

[2019-01-06 23:11] #4829 closed, assigned to lilithxxx

[2019-01-07 05:58] nithusha21 commented on #6059
I don't think this issue should be closed. Is it consistently reproducible on the lower chrome versions? Can you figure out if it is actually a chrome version error, or if is an error caused due to that specific configuration of the cards on the creator dashboard? Might possibly be the latter. Or maybe this issue happens only on certain screen sizes/resolutions. I think we need some more info, bef

[2019-01-07 06:56] seanlip commented on #5771
OK, so then the question becomes, why is initStateTranslation() called when the exploration is published? Can we arrange things so that it isn't called when that action is performed? That would (probably) solve the problem.

If that can't be done cleanly, then you could use a separate service to maintain the "state" of the translation tab as I mentioned in #6052.

The reason for not using session

[2019-01-07 08:03] gauravzqa commented on #5134
Is anyone working on core.controllers.admin, if not can i

[2019-01-07 08:14] anubhavsinha98 commented on #6062
Hi @steve7158 try to go the 'FRACTIONS' exploration then you can see the bug.

[2019-01-07 08:26] mighty-phoenix commented on #5771
Thanks for the reply @seanlip
Working on the issue.

[2019-01-07 08:27] anubhavsinha98 opened #6072 "The search doesn't work when we write a substring to search the exploration."
Let us consider an exploration 'Fraction', and if we search and write 'Fractio' or any substring then it should show the Fraction exploration. I don't know whether it is a bug or not but it should be added for the convenience of the users.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library'
 2. Search for any substring related to any explorations
 3. See the bug

**Observed beha

[2019-01-07 09:31] Gauravpurohit409 commented on #4374
Hello ,I am new here how can i start contribution here?

[2019-01-07 09:39] Gauravpurohit409 commented on #4374
Hello i am new here and i want to contribute here how can i contribute?

[2019-01-07 10:11] vibhor98 commented on #4374
Hi @Gauravpurohit409, this issue is now complete! Can you take up some other starter issue? Thanks!

[2019-01-07 10:21] Gauravpurohit409 commented on #4374
Ok , but how can i choose other one ?

[2019-01-07 10:24] Gauravpurohit409 commented on #5134
Hello  I am new here and i want to contribute from where i can start ?

[2019-01-07 11:47] #6064 closed, assigned to nobody

[2019-01-07 14:52] rakshitkumarcse commented on #5771
@seanlip I researched on the possibilities of dealing with this issue, and am still not able to figure out a way of fixing it.
Even if we create a new service, how are we supposed to retain the value of activatedTabId such that on reload/save draft, the activated tab is still the old one? I doubt if it's possible to do that.
We need to use something that allows us to store stuff on the client and

[2019-01-07 16:46] rakshitkumarcse commented on #5771
@seanlip I somehow missed the note below the issue. I think that is a good idea. To update the url hash. Thanks to @DubeySandeep for pointing that out to me on gitter.
Will update soon.
Thanks.

[2019-01-07 17:08] steve7158 commented on #6062
hi @anubhavsinha98 i was able to mimic this on the original site
![image](https://user-images.githubusercontent.com/40897792/50781689-08b1a900-12cc-11e9-9d17-9b6581bd531f.png)
But i am not able to do this on developer server, actually when i click on browse courses, it shows no data like in original websites.
Is there anything else i have to do before trying to view this through my local computer.

[2019-01-08 03:39] keshavg2 commented on #6055
Hi @rakshitkumarcse can I work upon this?

[2019-01-08 04:35] mighty-phoenix commented on #6055
Sure. Go ahead.

[2019-01-08 04:36] keshavg2 commented on #6055
Thanks @rakshitkumarcse

[2019-01-08 08:22] sstone-codaio commented on #5867
Perhaps we can make a special case by letting user mark this as something like "No need to translate"?

Alternatively, we can possibly look at all callers for addContentId and only call it if html is non empty. I haven't made sure all callers have access to the html yet but I can confirm if we want to move in that direction. WDYT @seanlip @DubeySandeep
https://github.com/oppia/oppia/blob/5245025f3

[2019-01-08 08:45] DubeySandeep commented on #6062
Hi @steve7158, local development server starts with empty stores, you'll have to create explorations/collections by yourself or you can use Admin page to load demo explorations or collections.

You can check the 3rd bullet of [this wiki page ](https://github.com/oppia/oppia/wiki/Installing-Oppia-(Linux)#running-oppia-on-a-development-server) to know how to load demo exploration/collection locally.

[2019-01-08 09:25] vibhor98 commented on #6069
Hi @nithusha21, should this be added to the list of blocking bugs given that the behaviour is only for mobile devices and we have create exploration interface very buggy on small devices?

[2019-01-08 09:32] vibhor98 commented on #6070
Hi @YashJipkate, from the expected behaviour I got to know that suggestion/feedback page should open all the time while it doesn't open sometimes. Have I understood right? If not, please add details of what is expected and observed more clearly. Thanks!

[2019-01-08 09:35] vibhor98 commented on #6072
Hi @anubhavsinha98, thanks for filing the issue! This is not a bug as the search is implemented this way only.  I agree that the suggestion should be added for the convenience of the user.

[2019-01-08 10:05] YashJipkate commented on #6070
Hi @vibhor98 [Here](https://drive.google.com/file/d/1bQ3vXO_TK5M5hZXhWp-AcHenzRj1Wttm/view?usp=sharing) is a video of what I observed.
Yes it opens all the time but only after a certain number of retries. Also have you tried opening it in incognito or any other browser if you aren't able to reproduce it?
Let me know if this makes things clear.
Thanks!

[2019-01-08 10:09] nithusha21 commented on #6069
I agree, I wouldn't prioritize this as we don't expect creators to navigate to this tab on mobile.

[2019-01-08 10:18] DubeySandeep commented on #6070
Hi @YashJipkate, Currently we don't support editors page on mobile devices and redirecting to feedback tab on editors page of a published exploration having open threads is expected behaviour. (see [here](https://github.com/oppia/oppia/tree/develop/core/templates/dev/head/pages/exploration_editor/ExplorationEditor.js#L197))

[2019-01-08 10:36] YashJipkate commented on #6070
@DubeySandeep Yes that is the expected behavior. But it is redirecting to the edit page as this:
![screenshot from 2019-01-08 16-01-45](https://user-images.githubusercontent.com/34203227/50825345-cc7b5880-135e-11e9-9b99-8f11e96cc245.png)

Whereas the expected behavior is this redirect page:
![screenshot from 2019-01-08 16-03-19](https://user-images.githubusercontent.com/34203227/50825396-f03e9e80-

[2019-01-08 11:35] DubeySandeep commented on #3774
@vibhor98, I'm unable to reproduce this issue, can you please re-verify?

(_Google Chrome | 68.0.3440.75 (Official Build) (64-bit)_)

[2019-01-08 12:43] vibhor98 commented on #3774
@DubeySandeep, yeah, I also can't reproduce the issue for Chrome version: `71.0.3578.98` for MacOS Mojave version: `10.14`.

[2019-01-08 12:53] YashJipkate commented on #6069
@nithusha21 @vibhor98 shouldn't we block all the paths that lead to this buggy area, Like the splash page or any other page. Because it is a very bad experience for the user, if they don't know that mobile version is not supported.
Or as a workaround we can display some kind of warning on the mobile site?

[2019-01-08 13:37] mighty-phoenix commented on #6069
I would like to express my opinion on this.
I agree with @YashJipkate .
Our community has so many users. So I think we should show a warning on the pages not supported on mobile devices, saying something like:
"Creating/editing explorations on mobile devices is still under development and is not fully supported".
What do you think @nithusha21 @vibhor98 ?

[2019-01-08 14:21] mighty-phoenix commented on #5002
Hey @vojtechjelinek
Since I have not dealt with handlers before, I am still in a state of confusion regarding the promo_bar_message.
I don't understand how I should make the handler, although I am well familiar with python.
Since handlers are a very important part of our website, I wish to learn about it.
Can you please refer some similar config property for which we might have developed a handler

[2019-01-08 14:37] YashJipkate commented on #5002
Hi @rakshitkumarcse Here is how I handled this problem in my case:

- First look up the code in `base.py` on how your global is being populated.
Add a URL for your handler in the URLS of `main.py` since you will be using requests to retrieve the data.
- Choose a file where to write your handler; and then write a get/post request function (you can look it up on other functions which have used it, t

[2019-01-08 15:35] mighty-phoenix commented on #5002
Thanks a lot! @YashJipkate

[2019-01-08 16:57] nithusha21 commented on #3774
Can't reproduce either. Might be one of things that fixed itself. Feel free to reopen if it occurs again.

[2019-01-08 16:57] #3774 closed, assigned to DubeySandeep

[2019-01-08 17:13] DubeySandeep commented on #5867
@sshou14, Re `make a special case by letting user mark this as something like "No need to translate"`:
Not sure how and where we are going to save this response in exploration doc?

Re the alternative approach:
`addContentId` get called when someone creates a new SubtitledHtml object, will this handle the case where a user will firstly write something and then delete the content in the next attemp

[2019-01-08 17:32] gauravzqa commented on #6047
hi @apb7 can I help you in this

[2019-01-08 17:35] DubeySandeep opened #6078 "Text on Publish button remains at 'Publishing' even after the publish is cancelled."
**Describe the bug**
The Publish button on the exploration editor page does not update itself back to 'Publish' even after the publish action is cancelled by pressing "Esc" key.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an exploration.
2. Save the changes and click on 'Publish' button.
3. Press "Esc" after 'Add Some details' modal appears.

**Observed behavior**
A clear and conc

[2019-01-08 17:35] DubeySandeep commented on #6064
This can be reproduced at any time you are publishing exploration even while filling details if you'll press "Esc" key. Opened a new issue #6078.

[2019-01-08 18:00] apb7 commented on #6047
Hi @gauravzqa, feel free to take this up. Thanks!

[2019-01-08 19:03] CuriousLearner2 commented on #5813
@vojtechjelinek - Can you guide me on these changes?  I would like to start on them.  Thank you.

[2019-01-09 05:47] sstone-codaio commented on #5867
@DubeySandeep Do you mean like when the html is edited? If so, can we do a check after the call to setHtml and remove the content id if the html is empty?

https://github.com/oppia/oppia/blob/5245025f3f6a332a919e4c22f8b128632c72d749/core/templates/dev/head/pages/exploration_editor/feedback_tab/FeedbackTab.js#L244

[2019-01-09 05:48] varun-tandon commented on #5134
Working on completing this. I've been talking to Sean Lip and working with him to resolve some issues I was having. Should have a PR for some improvement to coverage within 12-24 hrs.

[2019-01-09 06:38] vibhor98 opened #6081 "Enable the check for mandatory Args and Returns section in the docstrings"
The aim of this issue is to enable the missing Args and Returns section in the docstrings for the Python files. Right now, the missing docstrings check has already been enabled, now we can add additional explicit checks for verifying the missing `Args`, `Returns` and `Raises` section, checking whether an argument contains type info, and basic formatting checks for docstrings.

[2019-01-09 06:40] vibhor98 commented on #6081
Hi @apb7, I have filed separate issue for this since #4374 is now complete and it was previously one of the checklist in that issue. Thanks!

[2019-01-09 06:42] vibhor98 commented on #4374
Closing the issue since it has been completed...

[2019-01-09 06:42] #4374 closed, assigned to vibhor98

[2019-01-09 06:42] vibhor98 commented on #4374
Thanks to all the contributors of this issue! :)

[2019-01-09 07:40] apb7 commented on #6081
Hi Vibhor, just to confirm -- do all docstrings now have Args and Returns
section? This is required to enable this check. Thanks!

On Wed, 9 Jan 2019, 12:10 Vibhor Agarwal <notifications@github.com wrote:

[2019-01-09 08:02] nithusha21 opened #6082 "Problem with URL routes on oppia.org"
**Describe the bug**
On trying various combinations of URLs for the teachers pages, we discovered some routing issues.
- https://oppia.org/teachers -- URL breaks
- http://oppia.org/teachers -- Redirects to https://www.oppia.org/splash
- https://www.oppia.org/teachers -- Works fine
- http://www.oppia.org/teachers -- Redirects to the https version, and works fine

**Expected behavior**
All above lin

[2019-01-09 15:53] vibhor98 commented on #6081
Hi @apb7, most of the non-test files contain these sections and are in proper format. But some of the test files may need Args and Returns sections for the methods that had docstrings written already. Thanks!

[2019-01-09 17:38] geetchoudhary commented on #5678
Hi @kevinlee12 , Can I be assigned to this?
Thank You 😄

[2019-01-09 17:45] lilithxxx commented on #4119
@BenHenning I don't quite understand the issue. The `pre_commit_linter` , when run locally, checks those files which have been touched in the recent commit -- whereas the linter on Travis runs for all files in the codebase. Hence, after making a change that violates the linter and committing that change, the linter won't run its checks on that file (as it has not been touched in the recent commit)

[2019-01-09 17:48] kevinlee12 commented on #5678
sure!

[2019-01-09 19:39] mighty-phoenix opened #6083 "Console error arises on changing cards on Translation Tab"
Console error arises.
![image](https://user-images.githubusercontent.com/16653571/50911545-1e52da00-1456-11e9-8ab1-6100b52022d9.png)

Steps to reproduce:
- Create two cards, one with feedback and the other end exploration.
- Go to the feedback tab of the first card in the translation tab.
- Navigate to the 2nd card.
Thanks to @DubeySandeep for pointing the issue out.
_Originally posted by @DubeySa

[2019-01-09 20:19] DubeySandeep commented on #4833
@17bcs029, can you please try adding long answers in the text input interaction and check (As suggested in the  6th bullet of the "Steps to reproduce")?

[2019-01-09 20:34] DubeySandeep commented on #6083
@rakshitkumarcse, I cannot reproduce this on develop.

[2019-01-09 21:40] mighty-phoenix commented on #6083
@DubeySandeep
I think we need to change the steps for reproducing here
In #6076 , since there is no change in sub-tab on publishing changes, the error appears.
In develop, try this:
 - Create two cards, one with feedback and the other end exploration.
 - Go to the feedback tab of the first card in the translation tab.
 - Navigate to the 2nd card.
You will notice the console error there. So, this e

[2019-01-09 21:42] DubeySandeep commented on #6070
Currently, we do not support editors tab on a mobile device, I'm closing this issue for now, but you can create a new one if you'll find this to be happening on the desktop. Thanks! :)

[2019-01-09 21:46] aks681 opened #6085 "Create e2e tests for new structures editors"
Create e2e tests for checking the functionality of the following new structures editors.

- [x] Topic editor
- [x] Story editor
- [x] Skill editor
- [x] Question editor

As well as navigating between these editors.

[2019-01-09 21:51] rakshitkumarcse commented on #6083
![image](https://user-images.githubusercontent.com/32777813/50930731-bf598900-1486-11e9-85a0-de3255114573.png)
@DubeySandeep for reference

[2019-01-09 21:52] mighty-phoenix commented on #6083
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32777813/50930793-ed3ecd80-1486-11e9-841b-4dc8fc68bdbb.gif)

@DubeySandeep for reference

[2019-01-09 21:58] seanlip commented on #6070
Actually, I have a question about this. I don't think we support _editing an exploration_ on a mobile device. But it seems reasonable for people to view their exploration feedback, stats, etc. on mobile, right? If so, then perhaps this is a legitimate bug.

Even if the entire exploration editor isn't supported on mobile (and @YashJipkate mentioned this in his first comment), I think that the issue

[2019-01-09 22:01] DubeySandeep commented on #6083
I can reproduce this with the new "Steps to reproduce". Thanks!

[2019-01-09 22:04] mighty-phoenix commented on #6083
@DubeySandeep Thanks for pointing out.

[2019-01-09 22:10] mighty-phoenix commented on #6069
@seanlip I'd like to ask your opinion regarding this.

[2019-01-09 22:25] seanlip commented on #6069
I think that this issue should be addressed in some way, but I don't know what the correct fix is. It is probably worth making a list of possible fixes and analyzing them against each other to figure out which one is best.

There are several possible approaches: displaying a warning (and possibly redirecting), making at least some parts of the editor page usable on mobile, removing links/buttons t

[2019-01-09 22:30] mighty-phoenix commented on #6069
@seanlip Sounds like a good plan to me.
Thanks.

[2019-01-09 22:47] mighty-phoenix commented on #5729
@suicide11 Are you still working on it?

[2019-01-10 03:52] YashJipkate commented on #6069
@seanlip Yes, this can be carried out.
I think the short term solution to this would be removing the buttons/links that lead to the page but still the user can access the edit page if they use the URL (might be the case when the user wants to make an urgent change and decides to go with the mobile site itself and has the URL copied somewhere or in some kind of record/history), so for such cases di

[2019-01-10 04:06] YashJipkate commented on #6065
@seanlip @DubeySandeep @vibhor98 I think this issue can be resolved just by removing the create exploration button on the splash page. Because there is no other way the Create Exploration page can open since the user cannot have a URL of the Create Exploration page as the ID of the new exploration is not generated.
What do you think?

[2019-01-10 04:25] #5955 closed, assigned to tjiang11

[2019-01-10 05:25] seanlip commented on #6069
But your short-term solution would probably remove most of the creator dashboard, I think (since most of the creator dashboard consists of links to explorations you've created).

It might be better to figure out what the long-term solution is and prioritize the tasks within it, so that we do the most important ones first. That also avoids the pitfall of doing a short-term solution and then reversi

[2019-01-10 06:30] YashJipkate commented on #6069
@seanlip Yes the creator dashboard contains the links to edit the explorations, but it redirects to the suggestion page (expected behaviour and it happens except sometimes as pointed in #6070) which works fine in mobile view (except for some layout issues) so the creator dashboard will not be affected much. Also if the redirect fails then the warning thing (in which we can put redirect links if we

[2019-01-10 06:37] vibhor98 commented on #6065
Hi @YashJipkate, let's discuss all the possibilities regarding Creator Dashboard on mobile on the issue thread #6069.   Firstly, we need to find the best long term solution to the problem from the list of several possibilities and then, we can decide what to do actually. I think simply removing Create button will eliminate all the functionalities on mobile devices.

[2019-01-10 06:37] vibhor98 commented on #6065
Closing this for now...

[2019-01-10 06:37] #6065 closed, assigned to nobody

[2019-01-10 06:38] seanlip commented on #6069
If you are planning to make the exploration editor page usable on mobile, I think the very first thing that needs to be done is to enable navigation between the different tabs.

[2019-01-10 06:55] open-source-explorer commented on #6062
https://github.com/oppia/oppia/blob/8e40807b524979dd7f6a31444e0354563c2d874a/core/templates/dev/head/components/social_buttons/social_buttons_directive.html#L70

@DubeySandeep Is this the file to be tackled upon?

I'm using a windows machine with `python-3` installed, but the project uses `python-2`. How can I launch just the client part. I can't find any sorts of `package.json` files within the `

[2019-01-10 07:35] YashJipkate commented on #6065
@vibhor98 Alright. Got it.
Thanks!

[2019-01-10 07:55] YashJipkate commented on #6069
@seanlip Yeah thats a good start.
Also we have to decide upon the design of the pages like the "Exploration Overview" portion on the right has to be taken care of since the layout is not suitable for mobile view.

[2019-01-10 10:02] mighty-phoenix commented on #6069
@seanlip @YashJipkate I think the best solution to this would be
**Showing a warning whenever a user lands on the editor page on a mobile device**.
Advantages:
 - We will save ourselves from the pointless removal of buttons, and then adding them again afterward.
 - The users will still be able to visit the editor page to see parts of editor page which are free of errors.
 - We can work on the mobi

[2019-01-10 10:38] YashJipkate commented on #6069
@rakshitkumarcse Yes the warning thing is a solution. But as @seanlip pointed out, it is a short term solution and we would have to revert them once the mobile view is ready (i.e if we decide to go with it). Though I personally don't think that this would be much of an issue.

Also, according to my experience, such warnings very rare. Because such warnings provide a bad user experience too as desc

[2019-01-10 11:46] rajibmitra commented on #5134
Hi Team , I would like to work on  core.controllers.admin .

[2019-01-10 13:08] mighty-phoenix commented on #6069
@YashJipkate @seanlip
I think we should go for making our exploration editor mobile compatible. That would make our service more handy and on-the-go.
What do you think?
Thanks.

[2019-01-10 13:28] YashJipkate commented on #6069
@rakshitkumarcse I too think that should be our plan since it will make the site more robust and versatile and will help in improving the user experience as many users will use their mobile devices for our site for urgent or handy purposes.

I think @seanlip also expressed his intention to make the editor mobile compatible. Whats left is a roadmap to carry out the plan.

@seanlip How do you think

[2019-01-10 13:39] import-keshav commented on #6082
Why we were using several combinations of url?
Is it a good practice? I think we should remove this type of applying the different combination of URL.
Whats your views @nithusha21 @DubeySandeep

[2019-01-10 14:22] import-keshav commented on #6064
Hii @DubeySandeep  I am taking this issue thanks

[2019-01-10 14:24] import-keshav commented on #6078
Hi @DubeySandeep I am taking this issue thanks.

[2019-01-10 17:07] seanlip commented on #6069
My advice would be to try and bite off one or two small, doable chunks first (no need to plan the whole thing in detail from start to finish). Fix that and make things a little better, then assess and see what the next step is. Over time, this should lead to an improved experience.

Examples of chunks might include: "find some way to switch between tabs in the editor view on mobile" or "make tab X

[2019-01-10 17:26] nithusha21 commented on #6082
It's not that we were using several combinations. A generic user might type out the URL in one of these possible forms, and would expect it to work.

As per further discussion with @aks681, this seems to do with how routing is handled in the server-side. oppia.org (without www) works perfectly fine, but oppia.org/<something> (without www) breaks. When www is added to the latter it does work correc

[2019-01-10 18:44] #6055 closed, assigned to nobody

[2019-01-10 18:46] DubeySandeep commented on #2125
Closing these issues as it's resolved (#6079).

[2019-01-10 18:51] YashJipkate commented on #6069
@seanlip Yes that would be better.
Meanwhile I (and others too) will try to chalk out some features I can implement one by one... Mentioning them first here in this thread so you can approve of it based on its priority. Those who want to implement a feature can also do by first mentioning here and getting an approval.
Does that sound good?

[2019-01-10 19:04] seanlip commented on #6069
Hm, I think we can shortcut that step. Let's have our initial features be: (a) a way to switch between tabs, (b) improve individual tabs.

(a) should probably be done before (b). I think that gives rise to 6 or so sub-projects (note that, for (b), there are multiple sub-projects).

Also, I suggest not worrying about including the save/publish buttons in the navbar for now. That's the editing exper

[2019-01-10 19:12] mighty-phoenix commented on #6069
@seanlip sounds good to me! Should I start working on a way to switch between the tabs?

[2019-01-10 19:15] seanlip commented on #6069
Sure, go ahead :)

[2019-01-11 01:17] DubeySandeep commented on #5867
@sshou14:

Through this, you mean to remove the content _id key from the content_ids_to_audio_translations dict?

If so then I liked this idea, but I have something to say here, assume a case where a user deletes contents for once this will delete all audio in different languages for that content from the content_ids_to_audio_translation and if they rewrite it then there will not be anything at al

[2019-01-11 03:17] YashJipkate commented on #6069
@seanlip Yeah that is a good plan!
Also once @rakshitkumarcse completes the switching between tabs thing - which is to be done first as you said - I (and others too) can start working on making individual pages and also take care of the other bugs or UX problems that might arise due to this.
Also @rakshitkumarcse you can ping me if you need any help regarding this since this can be a big task.
Tha

[2019-01-11 04:23] ankita240796 opened #6089 "Find a way to keep css for rte-viewer in sync without multiple comments"
Css for rte viewer is repeated in multiple places:

- https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/conversation_skin_directive.html#L243

- https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/conversation_skin_embed_directive.html#L388

- https://github.com/oppia/oppia/pull/5997/files#diff-33e12b0231f4ece8bab2

[2019-01-11 06:13] #5740 closed, assigned to nobody

[2019-01-11 09:50] keshavg2 commented on #4407
hi @vibhor98 can I work upon this?

[2019-01-11 11:06] vibhor98 commented on #4407
Hi @17bcs029, Yeah, please go ahead! Thanks!

[2019-01-11 11:25] keshavg2 commented on #4407
Thanks @vibhor98

[2019-01-11 13:58] anubhavsinha98 commented on #6072
Yeah @vibhor98 , i think it will be good to add this feature. What you say ?

[2019-01-11 15:02] anubhavsinha98 commented on #6062
@open-source-explorer I think its not the correct file that you are checking .

[2019-01-11 16:28] vibhor98 commented on #6072
Yeah @anubhavsinha98! If you want to take it up, please feel free to do so. Thanks!

[2019-01-11 18:15] open-source-explorer commented on #6062
@anubhavsinha98 I just want to run the client part. What should I do?

[2019-01-11 22:33] mighty-phoenix commented on #4407
Hey @17bcs029 .
You can refer to PR #5983 to fix the issue if you find any difficulties. :smile:
This issue is pretty similar to #5982 .

[2019-01-12 06:38] mighty-phoenix commented on #5508
Hey @anubhavsinha98 .
I think an approach similar to [this](https://codeforgeek.com/2014/09/refresh-div-angularjs-interval/) might help.

[2019-01-12 08:53] mighty-phoenix opened #6092 "Make it possible to switch between tabs in exploration editor on mobile/small devices"
Currently, we do not support editing explorations on mobile/small devices.
As an initial initiative, make it possible to switch between tabs.

[2019-01-12 08:56] mighty-phoenix commented on #6092
@seanlip I just had an idea.
How about replacing the normal side navigation bar with the tabs of exploration editor(only when a user is on the exploration editor page)?
I think it's a good idea. That way, we can keep the interface on mobile devices clean as well.
Thanks.

[2019-01-12 09:31] sandeep-patel11 commented on #5867
@DubeySandeep What changes should I do, disable buttons when no contents are inside it?

[2019-01-12 09:34] DubeySandeep commented on #5867
@suicide11, I've added your user id in place of @sshou14 , sorry for the ping! (I've edited my comment.)

[2019-01-12 09:35] sandeep-patel11 commented on #5867
No problem

[2019-01-12 14:20] apb7 opened #6095 "Add a check to enforce the preferred style in Args and Returns section of a docstring"
A check needs to be added to enforce the following style for Args and Returns section of a python docstring:
[code]
(Please note that this is just an example).

Currently, we do have some checks for the Args section of the docstring [here](https://github.com/oppia/oppia/blob/develop/scripts/docstrings_checker.py#L204). These checks use AST and regex to enforce the above-mentioned style. However, w

[2019-01-12 17:08] seanlip commented on #6092
That would cause the user not to be able to navigate to other pages on mobile, though. Perhaps it could be a submenu instead?

You may want to look at what other sites do in similar situations (when a page has sub-tabs). I suggest that you get agreement on a visual design (or several) first before starting on implementation. Perhaps you could brainstorm a few concrete suggestions and explain them

[2019-01-12 18:00] mighty-phoenix commented on #6092
@seanlip I hope I was able to portray what I was trying to say.
I meant this.
If a user browses our website on a mobile device and he is on any page other than editor page, he still sees the same old side menu. Only when he is on the exploration editor, he sees the other tabs options in the side menu.
However, even I strongly believe that I should first think of several concrete ideas, note their

[2019-01-12 19:58] #5839 closed, assigned to nobody

[2019-01-13 05:41] keshavg2 commented on #4407
Thanks @rakshitkumarcse

[2019-01-13 06:43] seanlip commented on #6078
Hi QA team -- I'm a bit confused. I'm auditing the blocking bugs for the upcoming release to make sure they've been cherrypicked, and I am uncertain about what's going on with #6064:

- It looks like #6064 was filed by @YashJipkate as "Text on Publish button remains at 'Publishing' even after the publish is cancelled."
- @DubeySandeep merged #6071 which fixes the case mentioned by @YashJipkate but

[2019-01-13 07:04] DubeySandeep commented on #6078
Hi @seanlip, #6064 was resolved by #6071  and as it was stated in that issue that it happens only if you click outside the modal so I fixed that but after few days when I was playing around with exploration I realised that similar issues can be reproduced using "Esc" button too, so I filled another issue (As the earlier issues was fixed and closed). I think we can move this to blocking bugs.

[2019-01-13 09:33] abhaygupta97 commented on #4057
Hi! I would like to work on `OutcomeObjectFactory.js`, please assign it to me.

[2019-01-13 13:04] #5923 closed, assigned to nobody

[2019-01-13 14:01] mjprince commented on #4231
@aks681 @seanlip @unit-00 @nithusha21 @DubeySandeep @jacobdavis11 @vibhor98
Hi, I am John Prince Mesape, and I am interested in contributing to Oppia for and after GSoC 2019.

After having a look at this issue,

- I have noticed that the modal is re-rendered after we change contents of the rule-editor directive, which in itself is a form.

- Now if during the first render, there is no scroll probl

[2019-01-13 16:29] seanlip commented on #4231
Hi @mjprince, thank you for taking a detailed look at this! I like the solution you propose. If there is no interior scrollbar showing when the "if the learner's answer" section's content is not too tall, then I think it is a perfectly fine solution and will resolve this issue.

So, please feel free to go ahead and submit a PR that implements your approach. Thanks!

[2019-01-13 17:45] sandeep-patel11 commented on #5898
Hi @kevinlee12
Sorry for the late reply, I am writing the documentation and will start with it within next few days

[2019-01-13 19:30] import-keshav commented on #6072
Does this duplicate #1513

[2019-01-13 19:44] vibhor98 commented on #6072
Yeah, this is the duplicate issue. Closing...

[2019-01-13 19:44] #6072 closed, assigned to nobody

[2019-01-13 19:48] import-keshav opened #6099 "Add progress bar at below the collection which were in progress in Learner Dashboard section."
There is no progress bar below the collection which describes how much part of the collection has been completed.
![screenshot from 2019-01-14 01-08-51](https://user-images.githubusercontent.com/34139754/51089856-e7ecc600-1799-11e9-9c47-ccb546601258.png)

A progress bar should implement. That makes more interact for the user to see the progress of collection.

Like this

![imageedit_5_2677684392](

[2019-01-13 20:27] mjprince commented on #4231
@seanlip ok

[2019-01-13 20:29] import-keshav commented on #5477
Hello @apb7 @DubeySandeep @nithusha21 @seanlip Did we need it because most developers add pragmas to a single line if they needed and if not then it should be told in the review.
We can also write about it in the wiki to how to use pylint pragmas (if not written).
but if you think that's need then we can make it.
thanks!

[2019-01-13 21:06] import-keshav commented on #2028
Hello @wxyxinyu @nithusha21 @seanlip
so we have to just modify the function to add tags of explorations to collections, so that if learner search for a tag that relates to explorations then collection should also be displayed.
thanks

[2019-01-14 00:22] ulloaluis commented on #5134
Hello! I would like to work on core.platform.email.mailgun_email_services. Thank you.

[2019-01-14 03:12] DubeySandeep commented on #5134
Hi @ulloaluis, I've assigned you to  `core.platform.email.mailgun_email_services`.
/cc @vibhor98

[2019-01-14 04:18] kevinlee12 commented on #5898
okay, thanks for the update!

[2019-01-14 05:13] apb7 opened #6100 "Add verbose and non-verbose mode to pre-submit checks"
We would like to have the following two modes for the pre-sbumit checks:

1. Non-verbose mode: This will be the default mode. All checks will run without showing which file is being currently operated and will only display the error messages with the file details in which it occured. This can be turned off by the developers using a flag.
2. Verbose mode: The checks will show which files being scan

[2019-01-14 05:34] apb7 opened #6101 "Dissuade developers from force-pushing commits onto a PR"
We take force-pushing a PR under review quite seriously -- it makes it hard for reviewers to go through the changes made in the PR.
The aim of this issue is to add a double-confirmation message in the pre-push checks before a developer is able to force-push commits onto a PR.
We can have two confirmation messages with a `YES` or `NO` something along the following lines:
- `You are trying to force-

[2019-01-14 05:39] #5729 closed, assigned to suicide11

[2019-01-14 05:44] #6078 closed, assigned to rafalk342

[2019-01-14 05:47] apb7 opened #6102 "Ask users to confirm they have manually tests their changes locally before pushing"
In pre-push hook, we want to ask the users to confirm they have manually tested their changes locally, if applicable.
This may be done for the first five pushes.

[2019-01-14 05:54] apb7 opened #6103 "Add summary of errors for lint checks on Travis"
The need is to have a summary of errors section at the end of the lint checks on Travis, similar to the one we have for [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py#L844) in `scripts/pre_commit_linter.py`.
The approach can be similar as well -- using context managers to redirect output from stdout.

[2019-01-14 06:03] apb7 opened #6104 "Remove third-party libs added in PR #6033 and try using subprocess"
We had earlier added third-party libs in #6033 for GitPython but post a discussion with @seanlip, it was decided to remove the third-party libs and use subprocess instead.
/cc @lilithxxx

[2019-01-14 06:15] apb7 opened #6105 "The pre-push checks do not run for branches created off oppia/oppia.git"
The pre-push checks were recently modified in PR #6033 to look for `upstream`. Therefore, they do not seem to run for origin set to oppia/oppia.git and no upstream.

**Steps to reproduce**
1. Create a branch off oppia/oppia.git, that is, origin set to oppia/oppia.git and no upstream.
2. Make some changes in this test branch.
2. Push your changes to the branch. (I am using `git push origin test-bra

[2019-01-14 06:16] apb7 commented on #6105
@lilithxxx, can you also confirm this please? Thanks!

[2019-01-14 06:28] apb7 opened #6106 "Tidy up pull requests"
To efficiently generate release changelog, we have certain suggestions from Ben and Sean:

~~- Force every PR to have a label with “Changelog: …” based on a set of labels that we curate.~~ (already done by Oppiabot)
- PR titles should at least have “Fix #X:” or “Fix part of #X:”.

Maintainers and reviewers should enforce this, ensuring that titles (for both issues and PRs) are clear, and categoriz

[2019-01-14 06:56] vibhor98 opened #6108 "Modals close abruptly on pressing Esc key in Oppia"
**Describe the bug**
All the modals in Oppia are closed abruptly on pressing `Esc` key. The aim of this issue is to disallow this behaviour so that the modals can be closed only after clicking 'Cancel' button.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Creator Dashboard
 2. Click on `Create` button to start creating an exploration.
 3. Click 'Add Interaction' button to add any int

[2019-01-14 07:58] rafalk342 commented on #6108
@vibhor98 is it user friendly to turn off the possibility to use 'Esc' key?

[2019-01-14 08:31] vibhor98 commented on #6108
Hi @rafalk342, Ah... yes. I missed the user friendliness thing. I agree it shouldn't be a bug if we look at user friendly point of view. @DubeySandeep, what do you think?

[2019-01-14 08:32] DubeySandeep commented on #6108
Hi @vibhor98, I think the expected behavior is to handle modal closing properly i.e, whether a user does it by pressing the cancel button or the ESC key. Also, we need to audit the codebase and add the places where we want this functionality otherwise we will not be able to close this issue anytime.

@rafalk342 , I agree that we should not "turn off the possibility to use 'Esc' key". Thanks!

[2019-01-14 08:35] DubeySandeep commented on #6108
Also, I'm removing the "good first issue" label till we add the places and can we add @rafalk342 PR for reference in the issue description that way it will be easier for anyone to work on this issue?

[2019-01-14 08:49] rafalk342 commented on #6108
@DubeySandeep we talk about cancel button, escape key but there is also possibility to click outside the modal and as I've seen for some modals it's turned on and for others off. I think there should be a global decision what happens when user clicks outside the modal so the behavior is consistent.

[2019-01-14 11:18] import-keshav opened #6110 "Returning results of search exploration for irrelevant words."
When we search for exploration and if we type irrelevant words like " most " then it shows the result which were had words " most " in their " Add a goal ...." section.
eg .

![screenshot from 2019-01-14 16-37-33](https://user-images.githubusercontent.com/34139754/51109598-b1f02600-181b-11e9-8e89-b011d0d97ed2.png)

As we can see all the explorations were having the most keyword in their label.

Di

[2019-01-14 12:36] import-keshav opened #6111 "Checks marks are not aligned properly."
Check marks on learner dashboard -> categories section, they were not aligned properly.

See the image
![check_marks_correction](https://user-images.githubusercontent.com/34139754/51113275-7bb8a380-1827-11e9-9795-65bfb80d69e9.gif)

check mark is going upwards.
File to be debugged
core -> templates -> dev -> head -> pages -> library -> search_bar_directive.html

align the check barks properly.
Than

[2019-01-14 14:08] import-keshav opened #6112 "Make FeedBack updates section more interactive in Learner Dashboard section."
As we move to feedback updates and click on any feedback a thread will open tell about the feedback.
Now we see feedback given by us with having view suggestion button on feedback.
![imageedit_10_6195595223](https://user-images.githubusercontent.com/34139754/51117319-782b1980-1833-11e9-820d-048905772173.gif)

this button seems to be uninteractive.
So my suggestion is to instead of having a button

[2019-01-14 15:12] apb7 commented on #6105
Sorry, double-checked this. I had messed up my .git/ directory, this issue does not occur. Closing this, thanks!

[2019-01-14 15:12] #6105 closed, assigned to lilithxxx

[2019-01-14 17:25] #6104 closed, assigned to lilithxxx

[2019-01-15 04:53] vibhor98 commented on #6078
Just an update: This issue wasn't added to the blocking bugs list. So, this bug fix may reflect in the next release only. Thanks @rafalk342 for the quick fix! :)

[2019-01-15 05:27] #5678 closed, assigned to nobody

[2019-01-15 06:06] DubeySandeep commented on #5134
Hi @rajibmitra and @Gauravpurohit409, I think you haven't signed the CLA yet, can you please go ahead and follow the steps stated [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started?

Once you are done with signing CLA, you can ping me here and I'll go ahead and assign you to the part of this issue. Thanks! :)

[2019-01-15 06:18] DubeySandeep commented on #5134
Hi @akeeoaobh and @aniket7joshi, I've assigned you to `core.domain.obj_services` and `core.domain.stats_jobs_one_off` respectively. You can start working on it :).

(_Sorry for being late on this! :(_ )

[2019-01-15 06:28] DubeySandeep commented on #5134
De-assigned @coobubba, @dchen97, @son-vyas, @MichJP, @Shuayb1, @szhang9246, @ankit-kumar-dwivedi, @nswarup14, @JoyLubega from this issue because of lack of response.

[2019-01-15 07:04] rajibmitra commented on #5134
Hi @DubeySandeep I have signed the CLA. Could you please assign me the issue. Thanks.

[2019-01-15 08:00] kefeh commented on #5979
Hello @Dharmesh-poddar and @steve7158 this issue is on hold as we compile the images to be used, immediately the images are available I will let you know

[2019-01-15 08:34] DubeySandeep commented on #6108
@rafalk342, I agree with you that we should have a consistent behavior on "user clicks outside the modal" throughout the codebase. Here are my thoughts on this:
1. We have lots of modals with form fields (Publishing exploration, saving draft messages, uploading audio etc.) so for those things closing modal on clicking outside would break some flow or may cause data loss also clicking outside the m

[2019-01-15 08:37] DubeySandeep commented on #6108
If we wanted to have both i.e, clicking outside the modal should close the modal for feedbacks/warnings and should not close the modals having form fields then we can differentiate this through header color of the modal (not sure about this idea.)

[2019-01-15 08:41] Dharmesh-Poddar commented on #5979
@kefeh  Thanks for the update!!

[2019-01-15 10:36] JeeBoomBoi commented on #5134
Hi @DubeySandeep I have signed the CLA. Could you please assign me one of the issues. Thanks.

[2019-01-15 11:01] DubeySandeep commented on #5134
Hi @jeeb0xical, I've assigned you to `core.storage.recommendations.gae_models`. You can start working on it!. Thanks! :)

[2019-01-15 11:08] CelineDknp commented on #5134
Woops, @DubeySandeep I didn't respond fast enough. I'm still waiting for one review on my PR about core.storage.email.gae_models; and I'm willing to finish it up if I get more change requests.
[Edit] : link to PR, in case it's useful : https://github.com/oppia/oppia/pull/5959

[2019-01-15 11:15] DubeySandeep commented on #5134
@CelineDknp, Ah, sorry I missed your last comment. Thanks for the update! I've re-assigned you to the same! (I've also updated my comments.)

[2019-01-15 13:33] geetchoudhary opened #6117 "Roles tab on admin page does not have any tooltip"
**Describe the bug**
On hovering over the roles tab on the admin page does not show any tooltip.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Admin Page
 2. Hover over roles tab
 3. See error

**Expected behavior**
Roles tab should have a proper tooltip

**Screenshots**
![adminpage](https://user-images.githubusercontent.com/35570715/51183718-17194980-18f8-11e9-9159-ffcef8486db6.gif

[2019-01-15 13:47] geetchoudhary commented on #6062
Hi @anubhavsinha98 , Is anyone working on this issue? I would like to submit a PR for the same. :)

[2019-01-15 13:55] geetchoudhary opened #6118 "Improve spacing between reload buttons on admin page"
**Describe the bug**
There is no spacing present between the reload buttons on admin page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Admin Page
 2. See error

**Expected behavior**
There should be proper spacing present between reload buttons

**Screenshots**
<img width="1440" alt="screenshot 2019-01-15 at 7 23 03 pm" src="https://user-images.githubusercontent.com/35570715/511846

[2019-01-15 14:53] DubeySandeep commented on #5134
Hi @gauravzqa, I've assigned you to `core.controllers.admin`, you can start working on it. Thanks! :)

Hi @rajibmitra, Thanks for signing CLA, `core.controllers.admin` is assigned to @gauravzqa would you mind picking another part of this issue?

[2019-01-15 15:12] DubeySandeep commented on #6117
@geetchoudhary, I don't think admin page issues can be marked as a "User facing" bug.

[2019-01-15 15:17] geetchoudhary commented on #6117
Yes, I think that is correct. Should I remove it from the bug facing team project? Thanks :)

[2019-01-15 15:47] steve7158 commented on #5979
@kefeh thanks for the update

[2019-01-15 15:52] Dharmesh-Poddar commented on #6111
@import-keshav  can I work on it..

[2019-01-15 15:56] Dharmesh-Poddar commented on #6099
@import-keshav I would like to work on it..

[2019-01-15 16:27] DubeySandeep commented on #6117
Yep! Let's remove it from "Bug fixing team" project.

[2019-01-15 16:57] #5771 closed, assigned to mighty-phoenix

[2019-01-15 17:07] import-keshav commented on #6111
Yes you can @Dharmesh-Poddar , go for it.
Thanks!

[2019-01-15 17:12] import-keshav commented on #6099
Hi @Dharmesh-Poddar, yes you can. Go for it
Best of luck.
As currently you are not member of oppia so i can't assign issue , but feel free to do work on it.
Thanks.

[2019-01-15 17:18] DubeySandeep commented on #6099
Hi @Dharmesh-Poddar, It looks like this issue is bit difficult and needs design doc, I would suggest you start with  "[good first issue](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do)" and you can pick this one later after getting a fair amount knowledge of the codebase.

Edit: I realized that you are working on #6111 so you can work on that issue for now a

[2019-01-15 17:27] geetchoudhary commented on #6117
Done.

[2019-01-15 18:00] import-keshav commented on #6099
Yes @Dharmesh-Poddar, @DubeySandeep is telling right. And if you still wants to work on more issue related to this project you can go for #6112.
Thanks!

[2019-01-15 18:02] mighty-phoenix commented on #5776
Hey @DubeySandeep @seanlip
I have made a design doc for this issue. This is my first design doc, so I would love it if you could share your valuable opinion and suggestions on it.
[Click here to open the design doc.](https://docs.google.com/document/d/1WHzt1bDccV3H9e25x_wWRWwEhJomZmWNIwDqvsqNUtI/edit?usp=sharing)

[2019-01-15 18:40] DubeySandeep commented on #5776
Hi @rakshitkumarcse, I've taken an overview of your doc and I think you have started this in a good direction, I've left a few comments PTAL!

[2019-01-15 18:41] rajibmitra commented on #5134
@DubeySandeep Sure , NP , you can assign me `core.controllers.reader` . Thanks,

[2019-01-15 18:47] #6117 closed, assigned to geetchoudhary

[2019-01-15 18:49] DubeySandeep commented on #5134
@rajibmitra, I've assigned you to `core.controllers.reader`, you can start working on it. :)

[2019-01-15 18:52] DubeySandeep commented on #5784
Hi @mzaman07, (Sorry I don't know how I missed this comment.) Thanks for looking into it, what can we do here to fix this issue and avoid such console error log?

[2019-01-15 18:55] YashJipkate commented on #6101
HI @apb7
I recently started to work on this issue and came across an issue. I saw that we use subprocess in the `pre_push_hook.py` - the file that handles all the pre push checks. I noticed that `subprocess.Popen` gives a tuple of an empty string and the error string when tried to run `git rev-list` in the subprocess. Though it gives a console output of `fatal: bad object <remote_branch_sha1_which

[2019-01-15 19:01] rajibmitra commented on #5134
@DubeySandeep  Does Oppia have any slack channel or any other medium for continuous discussion ?

[2019-01-15 19:03] DubeySandeep commented on #5134
@rajibmitra, You can look into the wiki page for this kinda questions.  (see the [FAQs](https://github.com/oppia/oppia/wiki/Frequently-Asked-Questions#i-need-more-help-where-do-i-go-) page, I hope this helps.)

[2019-01-15 19:06] rajibmitra commented on #5134
Got it, thanks.

[2019-01-15 19:07] YashJipkate commented on #6102
Hi @apb7
Are you sure for the first five pushes thing?
I think that the confirmation for the manual testing should be for every time because there are always chances of the developer skipping the test - although unwillingly.
Thanks!

[2019-01-15 19:10] mighty-phoenix commented on #5776
Thanks @DubeySandeep.
Will have a look as soon as possible. :)

[2019-01-15 19:44] apb7 commented on #6101
Hi @YashJipkate, I am not sure why this is occurring -- you'll have to debug this out! For this particular situation, I _think_ `check_output` would be suitable. I suggest you look into other such implementations in the pre-push hook [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_push_hook.py#L74) and [here](https://github.com/oppia/oppia/blob/develop/scripts/pre_push_hook.py#L277)

[2019-01-15 19:56] apb7 commented on #6102
Hi @YashJipkate, the pre-push checks _always_ run. They cover the lint and the frontend tests (and there's no skipping here). We are referring to manually testing the changes here and I agree, to a certain extent, that we can do this for every push but we also have to ensure the pushing part does not become too "tedious" for the developers -- so I suggest we go in for the first five pushes and if

[2019-01-15 20:01] YashJipkate commented on #6102
@apb7 Yes you are right about the developer experience. Then we should go with five pushes only then
Thanks!

[2019-01-15 20:19] DubeySandeep commented on #6102
Hi @apb7, will it be possible to have something like:
- For the first two different branches (assuming one-branch = 1 PR).
- For the first ten push.

(If someone creates three branches and still in 3 push then we can avoid having this confirmation? Also, if someone took 11 push in 1st PR/branch, avoid having confirmation.)

(Not sure about this idea but I was thinking in terms of PR!)

[2019-01-16 00:53] import-keshav commented on #6110
So whats your views about it @nithusha21 @DubeySandeep , should we modify the search algorithm ?

[2019-01-16 09:29] seanlip opened #6122 ""$log is not defined" when rejecting a suggestion on the Feedback tab."
**Describe the bug**
I just went on the prod server, and rejected an incoming suggestion to an exploration. An error arose (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration and publish it.
 2. As a different user, go to the learner view and make a suggestion to the exploration.
 3. Log in as the original user who created the exploration, and reject the

[2019-01-16 09:29] seanlip commented on #6122
@nithusha21 @vibhor98 @bansalnitish I am concerned that this got through QA. Could you investigate please? A hotfix may be needed.

We should also take steps to increase the robustness of the QA process (maybe updating the critical user journeys / functional tests) to ensure that this does not reoccur.

[2019-01-16 09:32] sstone-codaio commented on #5867
I'm away for the next 4 weeks or so and still don't have much clue on how to fix this. De-assigning myself for now so that someone else can work on this.

[2019-01-16 11:09] abhaygupta97 commented on #2584
Hi! I would like to work on this issue. Please assign it to me. Thanks

[2019-01-16 11:21] rafalk342 commented on #6108
@DubeySandeep I agree that clicking outside the modal can be turned off. And I also think that for modals with some kind of a filled form there should be a warning message displayed to the user as suggested in this issue #3341.

[2019-01-16 12:25] KhalidRmb commented on #6067
HI! I would like to work on this. @lilithxxx

[2019-01-16 12:43] JeeBoomBoi commented on #6111
I would like to work on this issue @import-keshav.

[2019-01-16 13:07] lilithxxx commented on #6067
Hi @KhalidRmb have you signed the CLA? You can do that by following the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. After that you can start working on the issue. Thanks!

[2019-01-16 13:13] KhalidRmb commented on #6067
Yes, I've done it and set everything up. Thanks!

[2019-01-16 13:20] lilithxxx commented on #6067
Well then I guess you can start working on it! Thanks!

[2019-01-16 13:48] import-keshav commented on #6111
Hii @jeeb0xical , currently @Dharmesh-Poddar is working on it, you can see other "good first issue".
Thanks.

[2019-01-16 14:46] yashdusing commented on #6100
Hey @apb7 ! I'd like to take this up but I'm not really good at creating the checks. Could I get a guidance for this issue ?

[2019-01-16 14:55] yashdusing commented on #5893
Can I take this up ? @aks681 @DubeySandeep

[2019-01-16 15:07] Dharmesh-Poddar commented on #6112
@import-keshav Thanks for your suggestion to work on this issue..
Looking forward to it

[2019-01-16 15:12] import-keshav commented on #6112
Thanks @Dharmesh-Poddar , but please wait for the reviews of @nithusha21 @DubeySandeep
@aks681 before starting issue.
So should we remove it @nithusha21 @DubeySandeep @aks681 ?

[2019-01-16 20:56] kefeh opened #6128 "Landing page (oppia.org/parents) loading desktop site on some mobile browsers"
**Describe the bug**
Tried only on Samsung galaxy s5 but it had issues with Google Chrome and Opera Mini Browsers (latest versions from google play as of the time I filed this issue): it was loading the desktop version of the page in these two browsers. It works quite well though for Firefox and UC browsers.

**To Reproduce**
The video I will share in the screenshot section will have a clear walkt

[2019-01-16 21:41] import-keshav commented on #5477
so what's your views @seanlip @apb7 @nithusha21 @DubeySandeep .

[2019-01-16 21:47] seanlip commented on #5477
@import-keshav I do not understand your second-last comment. Could you please state it more clearly? My response would be similar to @apb7's earlier in the thread.

If your question is: why not let this get caught manually at review time, the answer is that it would be better to automate simple checks like this so that reviewers can focus on more important issues rather than on issues that can be

[2019-01-16 22:01] import-keshav commented on #5477
Hello @seanlip,
Yes, my question is that only that why not let this get caught manually at review time.
Thanks for the answer and we should work on it.
Thanks

[2019-01-17 08:05] seanlip commented on #6082
I think this is now fixed. Could someone else please verify? (@ankita240796, I unassigned you because this is actually not a code change, it's a DNS routing issue.)

If it looks good, feel free to close this issue.

Also, thank you for catching and reporting this! It was really easy to fix and I wish we had done it sooner.

[2019-01-17 14:41] geetchoudhary commented on #5692
Hi @aks681 , Can you help me to reproduce it locally?

[2019-01-17 15:16] sreyasukavasi3 opened #6129 "Translation into the telugu language"
**Is your feature request related to a problem? Please describe.**
It's related to adding a new language in the website, which looks a little more attractive and also increases interaction with the users with a new language.

**Describe the solution you'd like**
Maybe translating into a new language

**Describe alternatives you've considered**
Including few more languages into the website.

[2019-01-17 15:16] sreyasukavasi3 commented on #6129
May I work on this issue?

[2019-01-17 15:39] #6089 closed, assigned to ankita240796

[2019-01-17 16:36] #6118 closed, assigned to geetchoudhary

[2019-01-17 18:28] import-keshav commented on #2028
Hii @seanlip
I am going to work on an issue, but before working I want to confirm what exactly issue is related and what we have to do.

As there will be no search results if collection tags are not matched with the search query, though the explorations tags in collection matched with a search query. (simply like whats your issue title says).

And the second thing we have to do is to add not remov

[2019-01-17 18:42] apb7 commented on #5477
I agree with @seanlip here -- in general, all automated checks are aimed to save a reviewer's time. @import-keshav, if you still have any doubts, I suggest you go through the links specified in the issue thread and the earlier comments. Thanks!

[2019-01-17 19:15] apb7 commented on #6100
Hi @yashdusing, this is not a check to be precise -- the aim of this is to introduce a verbose flag (see [this](https://www.computerhope.com/jargon/v/verbose-mode.htm) regarding the meaning of the flag). Atm, when the checks run, they show the almost all details -- which check is running, which file is being scanned etc. This is the verbose mode. We need to add another mode -- non-verbose mode whi

[2019-01-18 06:02] brianrodri commented on #5975
I think this is actually due to some bad Playthroughs we have left over in the database. I have a feeling that a one-off job I'm writing to delete them should fix this, so I'll assign myself until I verify whether that's true.

[2019-01-18 07:31] ritwizsinha commented on #5134
I would like to work on core.controllers.learner_dashboard , Thank You

[2019-01-18 09:10] abhaygupta97 commented on #5134
Please mark core.domain.collection_jobs_one_off as completed. It has 100% coverage due to https://github.com/oppia/oppia/pull/6061.

[2019-01-18 13:06] keshavg2 commented on #4407
hi @ctao5660 if you work upon this then I go to another issue?

[2019-01-18 17:53] rahgurung commented on #4932
Can I work on it, if anyone else is not working ?

[2019-01-18 17:53] rahgurung commented on #4932
@jacobdavis11 @DubeySandeep @Arunabh98

[2019-01-18 18:08] ctao5660 commented on #4407
@17bcs029 oh it was in the To-Do list and there was no one assigned to it. I’m basically done with it though. Sorry!

[2019-01-19 05:54] keshavg2 commented on #4407
hi @ctao5660 Don't worry you work upon it I have select another one?

[2019-01-19 06:58] EricZLou commented on #4057
Hi @DubeySandeep . Can you take me off of my frontend test starter project? I'll be working on a backend test starter project instead. Thanks!

[2019-01-19 07:01] EricZLou commented on #5134
Hi! Can you assign me to learner_playlist_services.py? Thanks

[2019-01-19 07:09] DubeySandeep commented on #4057
Hi @exzl-13, Thanks for the update. :) Done!

[2019-01-19 07:10] DubeySandeep commented on #4057
Hi @abhaygupta97, I've assigned you to `OutcomeObjectFactory.js`.

[2019-01-19 09:11] Dilshaad21 commented on #6112
Can i work on this issue

[2019-01-19 10:11] import-keshav commented on #6112
hi @Dilshaad21 , as it is already commented that we want to discuss with @nithusha21 @DubeySandeep @aks681 , for removing this button or not. ?
So can you try another issue.
Thanks

[2019-01-19 10:31] abhaygupta97 commented on #4057
@DubeySandeep Please mark `OutcomeObjectFactory.js` as completed. Relevant PR: https://github.com/oppia/oppia/pull/6098

[2019-01-19 14:45] anmolshkl commented on #5508
ping @anubhavsinha98! How is this issue coming along?

[2019-01-19 14:46] anubhavsinha98 commented on #5508
Hi @anmolshkl , I am currently working on it.

[2019-01-19 19:07] mzaman07 commented on #5784
Currently I have 3 concrete options.

1. Fork the library and handle them myself, this is the ideal solution.
2. Modify Audio Player Service to handle them if option 1 fails.
3. Write my own directive to handle them if all the other options fail.

[2019-01-19 19:57] DubeySandeep commented on #4057
@abhaygupta97, Done! Thanks for the information.

[2019-01-19 20:00] DubeySandeep commented on #5134
@ezl-13, I've assigned you to `learner_playlist_services.py`.

[2019-01-20 05:26] geetchoudhary commented on #5019
Hi @kevinlee12 , Can I work on this? I don't think anyone else is working. 😄

[2019-01-20 05:27] kevinlee12 commented on #5019
sure, go for it @geetchoudhary! :smile:

[2019-01-20 05:59] 1995YogeshSharma opened #6135 "Create a job to populate data in dev server."
To see a job working on development server, one has to create sufficient data manually.

It would be good to have a job which populates oppia dev server with sufficient data to run continuous computation jobs.

[2019-01-20 08:30] YashJipkate commented on #6101
Hi @apb7 Thanks for your help. And sorry for the late response as I got busy those days.
I encountered another issue... That the `git rev-list` command does not differentiate between a normal push (when the local and remote branches have diverged) and a force push. In other words if one tries to push normally without pulling - although by mistake - the command will intercept that too. The command

[2019-01-20 09:34] #3074 closed

[2019-01-20 13:49] anubhavsinha98 commented on #6100
Hi @yashdusing are you working on it ?

[2019-01-20 15:30] Dilshaad21 commented on #6128
Can i work on this issue?

[2019-01-20 15:53] yashdusing commented on #6100
@anubhavsinha98 I'm currently working on a different issue rn so feel free to take this up.

[2019-01-20 16:16] yashdusing commented on #5893
@aks681 So, in short, 'collection' (which is a collection of lessons/explorations) should have practice sessions and tests related to random question.
Do I store the questions separately in a folder and then randomly pick questions and display them to the user ?

[2019-01-20 16:50] KhalidRmb commented on #5134
Hi @DubeySandeep. Could I take up `core.domain.search_services` for now? Thanks.

[2019-01-20 17:01] anubhavsinha98 commented on #6100
Ok @yashdusing !

[2019-01-20 17:59] JeeBoomBoi commented on #6062
I would like to work on this issue. I think i have found the solution. I would love to submit a PR. Thanks!

[2019-01-20 18:36] Dilshaad21 commented on #6062
Hi @anubhavsinha98 ,I would like to work on the issue :)

[2019-01-20 19:09] anubhavsinha98 commented on #6062
@Dilshaad21, I think @jeeb0xical is already working on it. Can you take any other issue ?

[2019-01-21 00:01] #4833 closed, assigned to nobody

[2019-01-21 03:52] #4407 closed, assigned to ctao5660

[2019-01-21 03:55] vibhor98 commented on #5791
Hi @geetchoudhary, are you still working on this? If yes, feel free to assign it to yourself. Thanks!

[2019-01-21 06:29] anmolshkl commented on #6092
Hi @rakshitkumarcse, are you working on this?

[2019-01-21 06:30] bvishal8510 commented on #5932
@ctao5660 may I work on this issue??

[2019-01-21 06:30] mighty-phoenix commented on #6092
@anmolshkl yes I am.

[2019-01-21 06:32] anmolshkl commented on #6024
@brianrodri #6023 is complete now. Are you working on the other sub-tasks?

[2019-01-21 06:35] anmolshkl commented on #5898
hi @suicide11, did you get a chance to work on this?

[2019-01-21 06:35] anmolshkl commented on #5822
ping @vibhor98! Are you working on this?

[2019-01-21 06:37] anmolshkl commented on #5802
Hi @brianrodri, now that #5798 is completed, have you started working on this issue?

[2019-01-21 08:14] #6122 closed, assigned to mighty-phoenix

[2019-01-21 09:16] YashJipkate commented on #6102
Hi @DubeySandeep @apb7 I have made the PR according to the original suggestion. Please let me know if the suggestion made by @DubeySandeep is to be followed instead. Although, in my opinion, ten push would be somewhat bad developer experience since the confirmation prompts only when the linter and Karma tests have passed?
Thanks!

[2019-01-21 11:02] keshavg2 opened #6140 "Learner submit the content will be overflow in preview card"
**Describe the bug**
  The content of math Expression input answer of learner in preview card overflows.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration having math expression input interaction
 2.  Go to preview mode
 3. Submit a long answer
 4. You see content will be overflow in that.

**Observed behavior**
   learner answer will overflow in preview card.

**Expecte

[2019-01-21 16:14] vibhor98 commented on #5822
Hi @anmolshkl, yes I'm working on it. Due to errors while starting  dev server, I can't test the PR right now and hence, the delay. Thanks!

[2019-01-21 17:54] Dharmesh-Poddar commented on #6140
@17bcs029 are you working on it ?

[2019-01-21 19:00] keshavg2 commented on #6140
hi @Dharmesh-Poddar actually I'm not working on it. if you want work upon it then you feel free to take this issue?

[2019-01-22 02:33] JeeBoomBoi commented on #6111
@import-keshav I have a solution to this issue. Can i submit a PR as well ?  Thanks !

[2019-01-22 09:30] Dilshaad21 commented on #6140
@17bcs029 can I work on the issue?

[2019-01-22 11:18] import-keshav commented on #6111
Hi @jeeb0xical, its good that you have a solution for it, but please first let this done by @Dharmesh-Poddar. If he finds a problem with it then we can assign you. But first, let it done by @Dharmesh-Poddar thanks.

[2019-01-22 12:00] Dilshaad21 commented on #6111
![ubuntu 64-bit - vmware workstation 22-01-2019 17_18_07](https://user-images.githubusercontent.com/45489945/51534209-2dc91e80-1e6b-11e9-9841-d0d97a98279a.png)
Hi! ,@import-keshav I have the solution exactly the way you told.If you say I can send a PR for it.

[2019-01-22 12:42] import-keshav commented on #6111
:smiley: all were ready to give Pr.
As i earlier mentioned please let this done by @Dharmesh-Poddar, if he can't do it then i assigned to someone.
So @Dharmesh-Poddar please response about your status on issue, so that others can work on it.
Thanks

[2019-01-22 12:49] Dharmesh-Poddar commented on #6111
@import-keshav I'll fix it by today

[2019-01-22 13:29] lilithxxx commented on #6103
@apb7 Well, don't we have a summary of errors in Travis as well (as shown in the screenshot)?
![a](https://user-images.githubusercontent.com/32506039/51538602-c2d21480-1e77-11e9-83cc-1a0792645233.png)

[2019-01-22 17:20] Dharmesh-Poddar commented on #6140
@Dilshaad21 bro I'm working on it.If you want we can collab for it.

[2019-01-22 20:10] vojtechjelinek commented on #5416
It's working everywhere for me, can someone else confirm so we can close this?

[2019-01-22 20:12] vojtechjelinek commented on #5002
@YashJipkate @rakshitkumarcse How is your work going?

[2019-01-22 20:19] mighty-phoenix commented on #5002
@vojtechjelinek I have been working on a few project issues on audio translation. So I am not able to work on this issue. You can deassign me for now.

[2019-01-22 23:01] mighty-phoenix commented on #5416
@vojtechjelinek It works everywhere for me as well.

[2019-01-22 23:54] DubeySandeep commented on #5416
@vojtechjelinek & @rakshitkumarcse, Thanks for checking. Closing this issue as one cannot reproduce it anymore. Thanks!

[2019-01-22 23:54] #5416 closed, assigned to nobody

[2019-01-23 04:59] YashJipkate commented on #5002
@vojtechjelinek The removal of logout Url is somewhat more complicated than login Url and facing some issues in it. Also I am currently working on some other issues as well. Feel free to de assign me for now and you can reassign when I'll take up the issue again.
Thanks.

[2019-01-23 08:18] Dilshaad21 commented on #5747
Can I work on the issue if you're not working @steve7158?

[2019-01-23 08:46] steve7158 commented on #5747
@Dilshaad21 i am currently working on this issue ill update you if i am not able to fix it thank you!

[2019-01-23 13:46] nithusha21 commented on #6082
https://oppia.org/teachers works for me now.

But if I just enter oppia.org/teachers in the URL bar in chrome, it redirects to the splash page :(. So I think this has been partly fixed, is it possible to fix this too? (Not sure if a fix exists)

/cc @aks681

[2019-01-23 13:47] nithusha21 commented on #6059
Ping @lilithxxx

[2019-01-23 14:39] Dilshaad21 commented on #2831
Can I take up the issue?Actually there are a lot of issues with IE11.

[2019-01-23 18:02] lilithxxx commented on #6059
Hi @nithusha21 sorry for the late response. I tested this on chrome version 70 (which is my own) on other machines but was not able to reproduce it. I even tested in version 70 of Mac and on windows 10, 8.1 as well on version 69. I think this problem is only narrowed down to my machine as I might have installed this version of chrome from the developer repo before. What do you think we should do a

[2019-01-23 18:54] Dharmesh-Poddar commented on #6140
![screenshot from 2019-01-24 00-20-15](https://user-images.githubusercontent.com/32756751/51629631-23437d80-1f6e-11e9-8c2a-d2f886f1a032.png)

@17bcs029  It is working fine on localhost without any changes but the same appears like this on oppia.org

![screenshot from 2019-01-24 00-21-23](https://user-images.githubusercontent.com/32756751/51629748-63a2fb80-1f6e-11e9-9956-98177eb6ddab.png)

[2019-01-23 19:01] keshavg2 commented on #6140
hi @Dharmesh-Poddar actually the bug is that when you submit the long answer on it then the answer will overflow on it. let me know if you don't understand it?

[2019-01-23 19:50] Dharmesh-Poddar commented on #6140
@17bcs029 got it ..Thanks for the clarification..

[2019-01-23 23:51] ctao5660 commented on #4371
@tjiang11 Just to confirm, I'm getting a different error when trying to reproduce the bug: Uncaught (in promise) DOMException. Is this the thing that should be fixed?

[2019-01-24 05:53] seanlip commented on #2028
Hi @import-keshav, sorry for the late reply -- I was travelling!

Actually, I recommend not tackling this issue for now. We are restructuring the library and, in particular, moving away from the concept of "collections" to stories and topics (check in with @aks681 for more details). So, I think it would be best to treat this issue as low priority for the moment, until the dust has cleared. Does th

[2019-01-24 16:16] apb7 commented on #6103
@lilithxxx, the summary of errors you're referring to is for the python, js, css and html lint checks -- the one linked in the issue thread. The idea here is to have a complete summary of errors for _all_ the lint checks. Thanks!

[2019-01-24 17:54] aks681 commented on #5710
@vinitamurthi Was this done?

[2019-01-24 18:55] bansalnitish opened #6149 "User is signed out after he clicks the library button"
Steps to reproduce:
- Go to https://www.oppia.org/splash
- Click on sign in button
- Complete the sign in/sign up process
- Now click on library button
- Sign in button will be visible again now.

Here is a gif showing the same:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22434689/52262553-c626cf00-2952-11e9-8795-054166c42bd2.gif)

Observed Behaviour:
User is logged out an

[2019-01-24 19:48] seanlip commented on #6149
I confirm that some issues/PRs have completely disappeared, e.g. #4863. I didn't know this could happen!

I've filed a request with GitHub support to investigate. Thanks a lot for bringing this to our attention.

[2019-01-24 23:00] DubeySandeep commented on #5867
**Idea:**
- From backend expect all possible content_ids in state to be in the content_ids_to_audio_translations.
- As we expect that the translation tab will just change one property of state let’s create a service to track all content id with empty html and use this while showing status.

**UI behavior:**
- We will not count this content_id for status or progress.
- Translators will see the gree

[2019-01-24 23:24] DubeySandeep opened #6152 "Show exploration progress in exploration player for learners."
It’s easy from a creators point of view to see how long an exploration can be i.e, via exploration graph but from a learner's perspective, one cannot track how far they are from the end of the exploration.

It would be great to have a progress bar in the exploration player, which will help learners understand how far they are from "End exploration" card.

[2019-01-24 23:44] DubeySandeep commented on #5745
De-assigning @DianaSellarova from this issue because of lack of response in the PR #5986.

As this issue is intended to be resolved before the end of Jan, assigning this to @rakshitkumarcse.

[2019-01-25 03:47] Dilshaad21 commented on #6152
Sounds good, can I work on this @DubeySandeep if you are not working.

[2019-01-25 04:15] #5371 closed, assigned to nobody

[2019-01-25 04:31] seanlip commented on #6129
Hi @sreyasukavasi3, thanks for the offer of translating! We do this through Translatewiki, and you can find instructions [here](https://github.com/oppia/oppia/wiki/Adding-new-translations-for-i18n#contributing-translations-to-oppia). If you are up for translating the platform text to Telugu, I think that would be great!

Also, I'll close this issue for now (to mark it resolved), but please feel fr

[2019-01-25 04:31] #6129 closed, assigned to nobody

[2019-01-25 04:47] seanlip commented on #5867
Discussed with @DubeySandeep. Suggestion is:
- Treat the content deletion as a content edit and show the usual "needs update" message.
- When calculating progress, use the current value of the content fields to determine whether a field needs to be ignored.

Separately, let's file a new issue to ensure that state content fields are never non-empty. This criterion must be satisfied prior to lesson

[2019-01-25 05:30] abhaygupta97 commented on #5002
@vojtechjelinek I would like to work on `promo bar`. Please assign it to me.

[2019-01-25 10:31] ankita240796 commented on #5487
I am able to reproduce this issue on chrome (v71) and firefox as well. @seanlip @DubeySandeep can you please confirm, Thanks!

[2019-01-25 12:47] JeeBoomBoi commented on #5745
@DubeySandeep I would like to give a try on this issue. Can i work on it ?

[2019-01-25 13:20] sreyasukavasi3 commented on #6129
Thank you @seanlip for the response.Can I manually add a language to the Oppia codebase (in json file)?

[2019-01-25 13:49] JeeBoomBoi commented on #6021
Just to clarify when the add to playlist option is removed. The message appears to be like this
![screenshot from 2019-01-25 19-15-54](https://user-images.githubusercontent.com/43813343/51749555-adf2bc80-20d5-11e9-971b-6b13a57f8370.png)

'Play later' seems more appropriate than add to playlist. Add to playlist does seem right but the intention of that icon is play later.

[2019-01-25 14:33] ankita240796 commented on #5487
I tried to reproduce the issue with similar exploration: https://oppiatestserver.appspot.com/explore/Kr_LjJHJ3Fu2
But it cannot be reproduced on chrome(v66 as well as v71) and firefox as well. @seanlip @DubeySandeep can you please check this, Thanks!

[2019-01-25 14:55] DubeySandeep commented on #5487
Hi @ankita240796, thanks for looking into it and I agree with you on "it cannot be reproduced on chrome(v66 as well as v71) and firefox", but can you look into [this](https://www.oppia.org/explore/fQRr5aaarWrC) exploration and see that it's still reproducible (I'm not sure, but this would have infected other explorations in production too.). I have a few suggestions on this:
1. As you said this is

[2019-01-25 14:57] mighty-phoenix commented on #5745
@jeeb0xical I am already working on it.
Thanks. :)

[2019-01-25 15:00] mighty-phoenix commented on #6021
@nithusha21 @DubeySandeep kindly give your views so that we can finalize what to do regarding this.
Thanks. :)

[2019-01-25 15:00] ankita240796 commented on #5487
Hi @DubeySandeep, would it be possible to know how [this](https://www.oppia.org/explore/fQRr5aaarWrC) exploration was created or get edit rights for it. It might make it easier to find the cause and a possible fix as well.

I agree with you on de-prioritizing this issue since this isn't reproducible on production right now.

Also @srikar0896 Can you please help us here, Thanks!

[2019-01-25 15:06] vojtechjelinek commented on #5002
@abhaygupta97 Done!

[2019-01-25 15:11] sreyasukavasi3 opened #6155 "Adding a Scroll-up button"
**Is your feature request related to a problem? Please describe.**
No, its just introducing a new feature to the website.
**Describe the solution you'd like**
Using Scroll-up button it would be easy to navigate to the top of the page, useful when the page is not only lengthy even for small.

[2019-01-25 15:59] #5710 closed, assigned to nobody

[2019-01-25 16:20] JeeBoomBoi commented on #5745
Okay ! I will look for some other issue then @rakshitkumarcse .

[2019-01-25 16:41] nithusha21 opened #6157 "Server error: TypeError: Cannot read property 'length' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-01-25 16:43] abhaygupta97 commented on #5002
@vojtechjelinek where should I introduce promobar handler service?

[2019-01-25 16:47] nithusha21 opened #6158 "Server error: Parameters passed into interpolateUrl must be strings"
This error was seen on the production server. It was first reported recently, and might be due to some code change to these files that was done recently.

[code]

[2019-01-25 16:51] nithusha21 opened #6159 "Server error: AttributeError: 'NoneType' object has no attribute 'num_starts_v2'"
This error is being repeatedly logged on stackdriver. It has occurred over 3500 times in the span on 24 hours. This looks like a serious bug, and would need to be handled ASAP.

[code]

/cc @brianrodri could you take a look?

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the c

[2019-01-25 17:06] nithusha21 opened #6160 "Server error: TypeError: Cannot read property 'dest' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-01-25 17:09] nithusha21 opened #6161 "Server error: TypeError: Cannot read property 'name' of undefined"
This error occurred in production recently

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-01-25 17:11] nithusha21 opened #6162 "Server error: TypeError: Failed to construct 'Blob': The 2nd argument is not of type Object."
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-01-25 17:51] seanlip commented on #6129
Hm, that might break the sync with translatewiki. Would you be OK with doing it via their website instead?

[2019-01-25 18:10] seanlip commented on #6155
Hi @sreyasukavasi3, I don't actually see a need for this feature. We try to keep the website simple so as to reduce UI clutter, and we've never had anyone request this, so I am reluctant to implement it.

Would it be possible to take up another issue instead (probably one that's already filed)? If you are looking for a starter project, you might consider starting with one of [these issues](https:/

[2019-01-25 18:10] #6155 closed, assigned to nobody

[2019-01-25 18:15] ankita240796 commented on #5487
The issue can be reproduced in following manner:

- Add an image to the first multiple choice input
- Copy it to other options instead of adding a new image each time.

/cc @DubeySandeep @seanlip

[2019-01-25 18:27] ankita240796 commented on #5487
Here is a link to exploration on which issue is reproducible: https://oppiatestserver.appspot.com/explore/kZ4H2LdrtenU

[2019-01-25 18:36] seanlip commented on #5710
@aks681 Would it be possible to link to the PR / issue in which this was done?

(In general, closing issues should always come with a justification.)

[2019-01-25 18:38] apb7 opened #6163 "Add check to enforce comment style"
For comments, we use the following conventions:
1. Python:
* `# This is a single-line comment.`

* `# This is a multi-line XXXXXX`
`# XXXXXXXXX comment.`

2. JavaScript:
* `// This is a single-line comment.`

* `// This is a multi-line XXXXXX`
`// XXXXXXXXX comment.`

A pre-submit check needs to implemented to enforce this style in scripts/pre_commit_linter.py. This check can (probably) be coupled

[2019-01-26 03:44] KhalidRmb commented on #6163
May I take this one up? @apb7

[2019-01-26 05:26] YashJipkate commented on #6157
@nithusha21 Can you please elaborate on the steps taken to reproduce the error. I am unable to see it.
Thanks.

[2019-01-26 05:36] apb7 commented on #6163
Sure, go ahead!

[2019-01-26 06:31] sreyasukavasi3 commented on #6161
Can you please briefly explain about the issue and also the steps to reproduce the issue?

[2019-01-26 14:32] vojtechjelinek commented on #5002
@abhaygupta97 You might introduce new controller, something like `config.py` or add it into `profile.py`.

[2019-01-26 17:38] adityaprakash-bobby commented on #5134
Hi. Can I be assigned with `core.controllers.email_dashboard`?

[2019-01-26 17:41] DubeySandeep commented on #5134
Hi @adityaprakash-bobby, I've assigned you to `ore.controllers.email_dashboard`, you can start working on it!

[2019-01-27 15:27] netajik commented on #5799
Hello @brianrodri , i would like to work on this  issue.

[2019-01-27 17:13] jacobdavis11 commented on #5950
@nithusha21 how is this going?

[2019-01-27 17:15] jacobdavis11 commented on #5776
@rakshitkumarcse how is this going?

[2019-01-27 17:16] jacobdavis11 commented on #5690
@tjiang11 was this fixed by 5614?

[2019-01-27 17:20] jacobdavis11 commented on #5462
De-assigning for now; please re-assign if you'd like to resume work.

[2019-01-27 17:21] jacobdavis11 commented on #5183
@prasanna08 how is this going?

[2019-01-27 17:21] jacobdavis11 commented on #4666
@ctao5660 are you still working on this?

[2019-01-27 17:23] jacobdavis11 commented on #3677
@DubeySandeep are you still working on this?

[2019-01-27 17:24] jacobdavis11 commented on #2297
@bansalnitish are you still working on this?

[2019-01-27 18:24] mighty-phoenix commented on #5776
Hey @jacobdavis11
The design doc is almost ready. Will start with the implementation ASAP.
Thanks for asking. :)

[2019-01-27 18:37] ctao5660 commented on #4666
Yea there’s a pull request waiting to be merged that will close this issue.

On Sun, Jan 27, 2019 at 9:21 AM Jacob Davis <notifications@github.com>
wrote:

[2019-01-28 05:55] seanlip commented on #5784
Hi @mzaman07, do you think there's a possibility of modifying the ng-audio library (i.e. contributing a patch upstream)? If so, that might be nice, since it will allow others to benefit from this upgrade too.

What do you think?

[2019-01-28 06:28] geetchoudhary commented on #5692
//cc @vibhor98 , can you help me in reproducing this?

[2019-01-28 08:36] YashJipkate commented on #5465
Hi @apb7 I saw `acl_decorators.py` and `acl_decorators_test.py` and they import `core.controllers.base` for raising `UserFacingExceptions` and for its `BaseHandler` class respectively. Although the `UserFacingExceptions` classes are empty and can be replaced but I am not sure about what to do for the `BaseHandler` classes in `acl_decorators_test.py`. What are your thoughts on this?
Thanks!

[2019-01-28 12:35] Dilshaad21 commented on #6160
Can you please explain how the error came up ?
Or how can I reproduce it.

[2019-01-28 16:02] vibhor98 commented on #5692
Hi @geetchoudhary, I also don't know the repro steps. Also, I think the topic editor isn't enabled yet on the Oppia's main site. So, @aks681 would be the best person to help us out here. If not possible to repro right now, let's wait for the editors to get enabled and then, we can take this issue afterwards. Thanks!

[2019-01-28 16:16] nithusha21 commented on #6059
Hmmm, as it seems to not occur consistently on most browsers, I'll close this for now. Feel free to reopen if this happens on stable browser versions.

[2019-01-28 16:16] #6059 closed, assigned to nobody

[2019-01-28 16:20] nithusha21 commented on #5692
Hi @geetchoudhary and @vibhor98 thanks for pointing this out. This doesn't seem to be too high priority right now, so I'll remove it from the bug-fixing team todos. Let's concentrate on other pressing issues for existing features :)

[2019-01-28 16:21] nithusha21 opened #6174 "Server error: ReferenceError: Promise is not defined"
This error recently occurred in production

[code]

[2019-01-28 16:29] aks681 commented on #5710
Yeah, the issue was closed by #5971.

[2019-01-28 16:31] geetchoudhary commented on #4632
Hi @DubeySandeep , I tried reproducing this

**Screenshots**

Card 1
<img width="1440" alt="screenshot 2019-01-28 at 9 47 20 pm" src="https://user-images.githubusercontent.com/35570715/51849722-5018db80-2346-11e9-9977-25e27813ffb6.png">

Card 2
<img width="1440" alt="screenshot 2019-01-28 at 9 47 55 pm" src="https://user-images.githubusercontent.com/35570715/51849760-6c1c7d00-2346-11e9-93ff-93d54e

[2019-01-28 16:36] nithusha21 commented on #6161
HI @sreyasukavasi3, issues labelled as "server errors" have no specific reproduction steps. These messages were logged on the server, possibly due to a particular user performing a specific set of actions. For production bugs, most of the work to fix the bug is actually to narrow down an approach which reliably reproduces the issue. These issues are more complicated to understand as there is no  i

[2019-01-28 16:37] nithusha21 commented on #6160
HI @Dilshaad21 , issues labelled as "server errors" have no specific reproduction steps. These messages were logged on the server, possibly due to a particular user performing a specific set of actions. For production bugs, most of the work to fix the bug is actually to narrow down an approach which reliably reproduces the issue. These issues are more complicated to understand as there is no  info

[2019-01-28 18:17] #4666 closed, assigned to ctao5660

[2019-01-28 18:36] DubeySandeep commented on #4632
Hi @geetchoudhary, try creating this answer group in a card:
![image](https://user-images.githubusercontent.com/16653571/51857937-8744b800-2359-11e9-8f0f-ca14c4b4013a.png)

In general, you can see the editor page of any exploration by changing the url `/explore/ `to /`/create/`. Let me know if it doesn't work, I'll try myself!

[2019-01-29 00:33] mzaman07 commented on #5784
Yeah sorry if that's not clear, option 1 is in fact the option you are mentioning. It would be a minimal change on oppia codebase and I think is the best option.

[2019-01-29 01:07] seanlip commented on #5784
Ah, OK. So to be clear, we're not making our own / your own separate fork of the ng-audio library -- we're just contributing a change back upstream, right? And then we upgrade the version in our manifest?

If so, then yes, I think that would be best. When you make the PR in the ng-audio repo, would you mind pointing to it from here as well?

Thanks!

[2019-01-29 01:58] mzaman07 commented on #5784
Yes it would be a change to the upstream not a full-blown separate fork. Yeah upgrading should be done via manifest. The PR will be referred here.

[2019-01-29 04:58] steve7158 commented on #5747
@Dilshaad21 sorry to keep you waiting it appers its quite difficult to implement it via angular js. You may take this issue up if you have a solution😄

[2019-01-29 05:19] seanlip commented on #5784
Sounds good. Thanks!

[2019-01-29 07:48] abhaygupta97 opened #6176 "Config properties in admin page appear in different order each time server is started"
**Describe the bug**
Each time one starts the server, the config properties in admin page appear in different order each time.

**To Reproduce**
Steps to reproduce the behavior:
Run `bash scripts/start.sh`

**Observed behavior**
Config properties appear in random order each time.

**Expected behavior**
Config properties should appear in same order each time.

**Screenshots**
![s1](https://user-ima

[2019-01-29 09:35] Dilshaad21 commented on #5747
Ok! @steve7158

[2019-01-29 12:25] geetchoudhary commented on #4632
@DubeySandeep , I tried creating the same answer group but I am still unable to reproduce the issue.

[2019-01-29 15:05] vojtechjelinek commented on #2641
Closing this because we decided to use some kind of module bundling for Oppia and this wouldn!t be needed anymore.

[2019-01-29 15:06] #2641 closed

[2019-01-29 17:25] #5019 closed, assigned to geetchoudhary

[2019-01-30 03:35] DubeySandeep opened #6178 "Validation check not to save empty html for subtitledHtml."
Currently, a user can create an exploration using empty state card which never creates a useful exploration for learners, so adding a validation check to ensure that subtitledHtml never saves empty HTML will help avoid such a scenario.

This will also make the translation process more clean and clear as translators will always have something to translate and record, so fixing this issue will also

[2019-01-30 14:25] anubhavsinha98 commented on #5508
Hi @vibhor98 , I tried updating the data of the model which is responsible to print the data on the view, but nothing is happening.

[2019-01-30 14:29] anubhavsinha98 commented on #5508
I added a function to the ng-click directive of the back button which is left of the ```Feedback Thread``` and function of updating the model i.e. threadData.feedback . But nothing happened. The data still remains same.
![screenshot from 2019-01-30 19-57-56](https://user-images.githubusercontent.com/30555544/51987761-30f68700-24c9-11e9-8ce9-45bc43490a5b.png)

[2019-01-30 17:01] import-keshav commented on #2028
ok @seanlip, I will de assign for now, and take it after further updates.
thanks!

[2019-01-30 17:25] anubhavsinha98 opened #6179 "Content gets out of dialog box when we show changes during save draft."
The content i.e. ```Exploration Graph Legend``` and its corresponding **Changed** button, goes out of the dialog box. They are not properly aligned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'CREATE'
 2. Create any sample exploration.
 3. Click on save draft and then show changes.
 4. See the error.

**Observed behavior**
It is not properly aligned.

**Expected behavior**
It sho

[2019-01-30 18:10] import-keshav commented on #6152
Hello @DubeySandeep, whats the main difference between an issue #6099 and this.
Does this duplicate?
Thanks!!

[2019-01-30 19:03] lilithxxx commented on #5426
I am having one problem -- there are many files whose directive names does not match the filename and on changing the directive name, the front-end tests fail (though the directive names are not referenced by any other function in the codebase -- I looked into it by grepping). An example of this will be the [collectionEditorNavbarBreadcrumb](https://github.com/oppia/oppia/blob/develop/core/templat

[2019-01-30 21:08] gauravzqa commented on #6178
@DubeySandeep  i would like to work upon this issue.

[2019-01-30 23:35] seanlip commented on #5426
Hi @lilithxxx -- actually, the naming convention for directives is correct, in that the JS should be xxx and the filename should be xxxDirective.js.

The reason for this is that, in AngularJS, the directive is referenced by changing its lowerCamelCase to kebab-case -- i.e., `<collection-editor-navbar-breadcrumb>...</collection-editor-navbar-breadcrumb>`. That's probably why the tests break -- chan

[2019-01-31 06:40] KhalidRmb commented on #6179
May I work on this one?

[2019-01-31 08:21] DubeySandeep commented on #6179
@vibhor98, This issue looks similar to #2125, and we were expecting #6079 to resolve this according to [ your comment](https://github.com/oppia/oppia/pull/6079#issuecomment-453207530), right?

[2019-01-31 09:42] vibhor98 commented on #6179
@DubeySandeep, Yes, I agree. I think the problem was resolved during that time. Can you reproduce the issue now?

[2019-01-31 14:04] DubeySandeep commented on #6152
@import-keshav, this is related to the progress in exploration, i.e, (No. of states/cards completed) / (Total no. of the cards) in the exploration (we aren't going to store this progress in the datastore) this will be shown while a learner is playing an exploration, whereas #6099 is about progress in the collection i.e, (No. of exploration completed) / (Total no. of explorations) in a collection.

[2019-01-31 14:16] import-keshav commented on #6152
thanks, @DubeySandeep.
I think we should complete both these issue in one PR.
currently, I was working on issue #6009 and both these issues need a change in the same file.
So should we do this in one Pr or make different Pr.
thanks.

[2019-01-31 14:48] DubeySandeep commented on #6152
@import-keshav, I believe that these two are a completely different issue, so I'll suggest you work on one at a time!

[2019-01-31 15:19] import-keshav commented on #6152
Ok @DubeySandeep .
Thanks

[2019-01-31 16:22] vibhor98 commented on #5508
@anubhavsinha98, which functionality you've added to the ng-click? Can you brief about it, please? I think the date and time successfully update when the threads are updated. Only we need to take care of their ordering based on the recent updates.

Hi @nithusha21, can you help @anubhavsinha98 here?

[2019-01-31 16:38] lilithxxx commented on #5426
Thanks @seanlip I got it now

[2019-01-31 16:43] anubhavsinha98 commented on #5508
Hi @vibhor98, I added a function on ng-click which fetch the data again in order to update the data i.e.
![screenshot from 2019-01-31 22-11-27](https://user-images.githubusercontent.com/30555544/52069618-17c30880-25a5-11e9-8501-fc19c81238b0.png)
All the things are updating in the database, but the data fetch is not getting updated if we update the thread.
I also tried printing the data, it remains

[2019-01-31 17:09] DubeySandeep opened #6181 "Clearing search index from admin page raise exception."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Admin page.
 2. Click on the Misc tab.
 3. Click "Clear search index" button.

**Observed behavior**
In terminal:
[code]
**Expected behavior**
Should clear search index without any error.
**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-01-31 17:42] import-keshav commented on #5714
Hello @lilithxxx, sorry for the late response, I was busy in some other issue so i was not able to do,
But now I am currently solving this issue.
Thanks.

[2019-01-31 17:45] lilithxxx commented on #5714
Okay thanks for the update!

[2019-01-31 18:01] anubhavsinha98 commented on #5508
Hi @vibhor98 , @nithusha21 I found the solution for this, actually the feedback threads were not getting fetched every time, it was getting fetched only when any new thread comes.

[2019-01-31 18:48] seanlip commented on #6181
Weird -- this seems to have been broken for a very long time. Thanks for reporting!

I think that button could call
search_services.clear_exploration_search_index() and search_services.clear_collection_search_index() perhaps? Should be a simple fix.

[2019-01-31 19:26] #5822 closed, assigned to vibhor98

[2019-02-01 00:31] seanlip commented on #1048
Closing this issue, since we are planning to do an upgrade to Angular 2 this year, where IIFEs are a nonissue (see [here](https://angular.io/guide/ajs-quick-reference#modulescontrollerscomponents)).

[2019-02-01 00:31] #1048 closed

[2019-02-01 00:31] seanlip commented on #2375
Closing this issue, since we are planning to do an upgrade to Angular 2 this year, where IIFEs are a nonissue (see [here](https://angular.io/guide/ajs-quick-reference#modulescontrollerscomponents)).

[2019-02-01 00:31] #2375 closed

[2019-02-01 09:17] ghost commented on #1895
I have fixed this issue in my local fork (or at least I think I have). But I'm new and have never opened a PR.
I have already signed the CLA and filled out the contributors' survey. If this issue is still open, could someone please assign this to me and guide me through the process of submitting the PR?

[2019-02-01 10:11] import-keshav commented on #5714
Hii @apb7 @kevinlee12 @seanlip  @nithusha21, As I already mentioned the error of ``` ValueError: Attempted relative import in non-package```, because of not include oppia in  ``` PYTHONPATH ``` env variable. Or some other reason may be for which python throws an error that I don't know.

The alternative I found that we should not use relative import.
Absolute import is the best choice as PEP8 also

[2019-02-01 11:41] #5745 closed, assigned to mighty-phoenix

[2019-02-01 12:10] import-keshav commented on #5714
Hello @kevinlee12 @apb7 @seanlip.
While using relative import in some files like feconf.py then the error is coming
``` ValueError: Attempted relative import in non-package ```.
And from some search, I found that relative imports don't work in scripts. It works only in packages

[2019-02-01 12:44] import-keshav commented on #5714
Hello @apb7 @kevinlee12 @seanlip @nithusha21 @DubeySandeep, first of all, sorry for the delay.
I have gone through the issues and I find some important things to be noticed which should be discussed there.

First of all.
Why we open the issue?
Because we were using pylint pragma ``` pylint: disable=relative-import ``` in many places at code base.
So to remove it we do a relative import.

But one i

[2019-02-01 13:17] sandpjain opened #6188 "Last word on line getting truncated"
![exploration](https://user-images.githubusercontent.com/177232/52041530-b0836500-2560-11e9-8611-45f5008e16f6.jpg)

**Describe the bug**
The bug is that for some browsers, the last word on a line is getting truncated on some of the lines, and getting carried over to the next line. This should not be happening. The last word should finish on one line, and the next word should start on the next line

[2019-02-01 14:26] anubhavsinha98 commented on #6174
Hi @nithusha21 , I think we can get rid of this server error, if we replace Promise by ```$q``` in the file
```ExplorationPlayerStateService.js```

[2019-02-01 14:27] anubhavsinha98 commented on #6174
Can you tell me the steps to reproduce this ?

[2019-02-01 16:47] Dharmesh-Poddar commented on #6188
@sandpjain can I work on it..

[2019-02-01 18:00] anubhavsinha98 commented on #6181
Yeah, @seanlip I also think this will be an easy fix, submitting the PR for the same.

[2019-02-01 19:00] anubhavsinha98 commented on #6178
Hi @gauravzqa are you working on this issue ?

[2019-02-01 21:35] seanlip commented on #5714
Thanks for the analysis @import-keshav. I took a quick look and here are some thoughts:

- PEP8 is a good standard to check. I agree with you that absolute imports are a good thing to aim for in this case.
- You mention an inbuilt python library constant. Two questions: (a) can you provide a link to this library? (b) if you change constants.py to another name as you propose, does the error actuall

[2019-02-01 21:46] seanlip commented on #6188
Hi @Dharmesh-Poddar, feel free to take a look!

That said, @rakshitkumarcse and @bansalnitish have been looking at similar things recently. It might be worth getting their input (and looking at the current status of the "develop" branch) to see where things currently are here.

[2019-02-01 23:46] import-keshav commented on #5714
Thanks for the response @seanlip.
I go through the thoughts you have, and I found that I was somewhat wrong.
First of all answers to your queries
1. Python constants library https://pypi.org/project/constants/
2. And renaming constants.py file doesn't resolve an error.  😅

It may not necessary that pylint throws an error of relative import due to misidentified of absolute import as a relative impo

[2019-02-01 23:47] seanlip commented on #5714
No problem. I look forward to seeing your analysis!

[2019-02-01 23:49] mighty-phoenix commented on #6188
Hey @sandpjain
Thanks for filing an issue.
Sorry, but we already have a PR for this. @Dharmesh-Poddar :(
Feel free to take a look at other issues.

[2019-02-02 03:53] YashJipkate commented on #6163
@KhalidRmb Any updates here?

[2019-02-02 04:17] KhalidRmb commented on #6163
@YashJipkate  Yes, I'm working on it

[2019-02-02 07:23] #5572 closed, assigned to mzaman07

[2019-02-02 10:18] anubhavsinha98 opened #6193 "Fix the display of CORRECT! message, which comes on submitting correct answer on exploration."
The correct message is not properly aligned try to align it with respect to the dialog box of the exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Library.
 2. Select an exploration.
 3. Answer it correctly.
 4. See the alignment of CORRECT message.

**Observed behavior**
The alignment of the correct message is little to the left.

**Expected behavior**
It should be aligne

[2019-02-02 12:21] Dharmesh-Poddar commented on #6193
@anubhavsinha98 can I work on it..

[2019-02-02 19:49] vrajesh978 commented on #5002
@vojtechjelinek I would like to work on `userIsLoggedIn`.  Can you assign it to me?

[2019-02-02 20:56] #4278 closed, assigned to nobody

[2019-02-02 20:59] #5508 closed, assigned to anubhavsinha98

[2019-02-02 22:41] DubeySandeep opened #6194 "StateEditorService is in two different places with same name."
I found two files having same services name but different file names:
1. Filename: [StateEditorService.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/state_editor/StateEditorService.js) --> Service Name: StateEditorService

2. Filename: [EditorStateService.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/EditorStateServ

[2019-02-03 01:41] DubeySandeep opened #6197 "Create a service to handle mark audio needs update for explorations and questions."
Create a service to handle mark audio needs update modal for explorations and questions.

Currently, this functionality is handled separately in question and exploration directive's controller and injected into state editor directive via an attribute and the dependency is threaded all the way down the chain of components

See [this comment](https://github.com/oppia/oppia/pull/6171#discussion_r2532

[2019-02-03 07:18] anubhavsinha98 commented on #6193
Yeah sure @Dharmesh-Poddar !

[2019-02-03 08:58] seanlip opened #6199 "Hint tabs sometimes randomly fail to open."
**Describe the bug**
Sometimes, after I add a hint, or delete a hint, or close a hint tab in the exploration editor after I've edited it, I cannot open any of the hint tabs any more. This error seems to occur randomly and is resolved when I navigate to a new state and back again. But it's happened seven times in my current editing session and this is getting quite irritating.

I checked the consol

[2019-02-03 09:05] seanlip opened #6200 "In the rich-text editor, the spacing below "li" elements is off."
**Describe the bug**
When editing an exploration, write some text with bullet points in the rich-text editor (I encountered this in both the feedback and solutions tabs, but it probably happens for any RTE). The spacing below the last bullet point and the next paragraph seems too small.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Add some content, an interacti

[2019-02-03 09:41] import-keshav opened #6201 "Conditions for creating suggestion."
Currently, there is a feature for giving suggestion to explorations, but since everyone can give suggestion then it will be very difficult for the author to handle all suggestions.

So there will be some criteria for a user that should be fulfilled before giving the suggestion.

Like on StackOverflow for commenting on any answer there should be at least 50 reputations required.

![imageedit_6_7892

[2019-02-03 13:52] gauravzqa commented on #6178
yes @anubhavsinha98, about to finish

[2019-02-03 18:13] DubeySandeep opened #6203 "Lint test to check the filename is similar to it's service/directive name."
This issue is part of #6194 and related to development workflow project.

- Can we have a check/test for the following cases:
  - Avoid having a js file which is of no use.
  - Warning for using similar service names.
  - Filenames to be similar to the service name.

[2019-02-03 18:14] aks681 commented on #6082
@nithusha21 I just tried entering oppia.org/teachers in the URL bar in Chrome, and it redirected correctly to https://www.oppia.org/teachers. Can you check again if it's working now for you?
If so, can you close the issue? Thanks.

[2019-02-03 18:16] aks681 commented on #5867
@DubeySandeep, friendly ping. Any updates on this?

[2019-02-03 18:17] aks681 commented on #3677
@DubeySandeep any updates on this?

[2019-02-03 18:18] aks681 commented on #6099
@import-keshav are you still working on this?

[2019-02-03 18:19] aks681 commented on #4438
@BenHenning any updates on this?

[2019-02-03 18:20] aks681 commented on #2306
@bansalnitish any updates on this issue?

[2019-02-03 18:21] nithusha21 commented on #6082
Are you sure? It takes me to /learner_dashboard. Might be just me :(

If anyone else can reproduce this, please let us know. If not, might be specific to me, and happy to close!

Thanks!

[2019-02-03 18:21] aks681 commented on #5462
@seanlip Shall I close this issue now that editors flag is switched? Or should it remain open until the full work, including players, is done?

[2019-02-03 18:25] aks681 commented on #6082
Yeah, I tried in Chrome (desktop and mobile) and Firefox desktop, it redirected correctly.
Can anyone else reproduce this issue?

[2019-02-03 18:31] lilithxxx commented on #6203
Isn't this issue similar to #5426? I created a PR #6202 that addresses this. Thanks

[2019-02-03 18:35] DubeySandeep commented on #6203
@lilithxxx This is a bit different than #5426, through this we want to check XyzService.js file contains `oppia.factory('XyzService', [...])`.

[2019-02-03 18:36] seanlip commented on #6082
Nithesh, not sure if this would help, but can you try clearing your browser
cache (or use another browser) and see if that changes anything?

[2019-02-03 18:38] seanlip commented on #5462
No strong opinion either way. Whatever is most helpful for the new
structures team is fine with me, so you decide :-)

[2019-02-03 18:39] lilithxxx commented on #6203
Yes #6202 addresses this. And #5426 also mentions:

(thing here refers to the directive or service)

[2019-02-03 18:40] aks681 commented on #5462
Ok, closing this then, since we are using the schedule doc to keep track of when flag should be flipped and not this issue. Thanks!

[2019-02-03 18:40] #5462 closed, assigned to nobody

[2019-02-03 18:42] seanlip commented on #6203
Hmm. Then what caused #6194 to begin with?

[2019-02-03 18:44] DubeySandeep commented on #6203
I see, thanks for the information! I'll change the issue title and details to cover other part of this issue, will that be fine?

[2019-02-03 18:50] lilithxxx commented on #6203
@DubeySandeep yes that would be great, thanks!
And @seanlip there was two files with the same service - `StateEditorService`, that's why #6194 was created. Thanks!

[2019-02-03 19:00] seanlip commented on #6203
Ah ok. So the fixes in this issue would prevent something like #6194 from
happening again, right? I think that is the main thing that we need to
ensure.

[2019-02-03 19:06] nithusha21 opened #6205 "On rejecting a suggestion without a review message, an error is logged on the server"
**Describe the bug**
On trying to reject a suggestion, without adding a review message, a backend error is logged. Instead, this should be handled in the frontend itself, and appropriate prompts should be displayed. The request to the backend shouldn't happen in the first place.
**To Reproduce**
Steps to reproduce the behavior:
1. Create an exploration and publish it.
2. Login with a different acc

[2019-02-03 19:10] DubeySandeep commented on #6199
**Steps to reproduce:**
- Create exploration
- Add TextInput interaction.
- Add 2 hint.
- Open 2nd hint to edit and while it's open try to delete the same hint (2nd).
- Now try opening 1st hint.
- Check console.

[2019-02-03 20:05] seanlip commented on #4438
I don't think @BenHenning is working on this, and I think we are actually planning to propose this for a GSoC project this year. Deassigning him for now.

[2019-02-03 20:16] import-keshav commented on #6099
@aks681, I have created a doc for it, but after the opening of issue #6152, I think #6152 should be done first.
So i have not started it but thinking of solving first #6152 and then this.
So de assigning for now.
thanks

[2019-02-04 07:04] seanlip opened #6206 "Text entered in RTE sometimes becomes overly large"
**Describe the bug**
Rich-text editor text sometimes unexpectedly becomes too large.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open any RTE field, and type this:

![screenshot from 2019-02-03 22-59-50](https://user-images.githubusercontent.com/10575562/52194138-74bdf900-2807-11e9-9b4f-19baa94803d3.png)

 2. Next, highlight the part of the RTE **starting from the end of the first line*

[2019-02-04 07:04] seanlip commented on #6206
@AllanYangZhou @bansalnitish Please could you take a look into this? I've been running into it several times now on the exploration editor page.

Thanks!

[2019-02-04 13:01] DubeySandeep commented on #6111
@import-keshav, can you please add browser name in which you found this issue? (In general, try using the entire template while filing this kinda UI issue!)

[2019-02-04 14:19] import-keshav commented on #6111
Sorry @DubeySandeep, I found it in

- Firefox(65.0)
- Ubuntu(18.10)

[2019-02-04 17:22] bansalnitish opened #6209 "Error 404 on clicking Get Started on fractions page"
On main site:
1. Click on the fractions page: https://www.oppia.org/fractions?viewerType=student.
2. Click on Get Started and you'll be redirected to fractions collection.

On test server:
1. Click on the fractions page: https://oppiatestserver.appspot.com/fractions?viewerType=student
2. Click on Get Started and you'll notice 404 error.

[2019-02-04 17:35] DubeySandeep commented on #6209
@bansalnitish, I think that collection isn't available on the test server! (Or maybe available but with different collectionId)
https://github.com/oppia/oppia/blob/2882bcc09acf7c8fd256b2c43f9bbd63bcb86fd4/core/templates/dev/head/pages/landing/fractions/Fractions.js#L33-L39

[2019-02-04 18:02] bansalnitish commented on #6209
Hi @DubeySandeep, Shouldn't we make it available on the test server as well ? I think getting 404 isn't good, even on the test server.

[2019-02-04 18:08] #6140 closed, assigned to nobody

[2019-02-04 19:14] import-keshav commented on #5714
Thanks, @seanlip, for giving time.

As I already mention removing pragma and doing a relative import will remove pyint error, but it will allow to python throws an error of ``` ValueError: Attempted relative import in non-package ``` (that I have already mentioned ) . Though we were having an __init__ file (which is not expected), the main reason for that is, that python doesn't treat current dire

[2019-02-04 20:28] import-keshav commented on #6152
Hello, @DubeySandeep @seanlip @vibhor98 @nithusha21 @aks681.

I have started on working issue, but before moving further I need some discussion with you so that you all agree with me.
The progress of the exploration will be shown by the formula
% complete  = No. of cards completed / Total no. of cards in exploration.

To store progress of exploration we store the % complete in a database like this

[2019-02-04 20:41] #6111 closed, assigned to nobody

[2019-02-04 21:15] DubeySandeep commented on #6152
Hi @import-keshav, Sorry for an incomplete issue description, currently we do not want to save the user's progress, as we cannot restore the exploration into last played state (we will be focusing on this project later!). through this issue, we just want to show the live progress to users. (Currently, if you'll leave an exploration in between and if you'll try playing the same exploration later yo

[2019-02-04 21:24] seanlip commented on #6152
Also, one question I have is how you'd handle progress for explorations that branch. Do you have a suggestion for that?

[2019-02-04 21:37] import-keshav commented on #6152
Thanks, @DubeySandeep, so I think we just have to create only one time current progress.We don't have to save user progress in database.

[2019-02-04 21:40] import-keshav commented on #6152
Sorii @seanlip, but i can't understant what do you mean by ``` that branch ```  word in your comment.

[2019-02-04 22:25] DubeySandeep commented on #5487
@ankita240796, That's a great finding and thanks for adding "Steps to reproduce."!

[2019-02-04 22:36] seanlip commented on #6152
Depending on the learner's answer, a card in an exploration can direct to multiple different destination cards. The card that is chosen as the destination depends on the learner's answer. This is called "branching".

Sometimes, this branching is used to loop back to an earlier card. Other times, it is used to take students to subsidiary cards that explain the concept in more detail.

I hope that h

[2019-02-04 22:40] seanlip commented on #5714
Thanks for the investigation, @import-keshav.

It sounds like perhaps the best long-term solution here might be to figure out a clean restructuring of the Oppia backend into packages. We might be able to move files like feconf and utils into core/, but that suggests that we might need to reorganize extensions/ as well, so that all the Oppia-specific stuff is separate from all the scripts. I think

[2019-02-05 08:03] ujjwalgulecha commented on #5134
@DubeySandeep Hi, can I work on  `core.controllers.question_editor` test?
Thanks

[2019-02-05 08:26] DubeySandeep commented on #5134
Hi @ujjwalgulecha, I've assigned you to `core.controllers.question_editor` you can start working on this issue. (You can follow these [guidelines to write good tests](https://github.com/oppia/oppia/wiki/Writing-backend-tests#some-general-guidelines-for-writing-good-tests)."

[2019-02-05 08:45] import-keshav commented on #5714
Your welcome @seanlip.

[2019-02-05 09:24] lilithxxx commented on #6059
Hi @nithusha21 I figured out why it was happening -- my font size in chrome was set to large(instead of the default medium). Can you confirm it? Thanks. And if its occurring in all browsers with large fonts, does this issue need to reopen?

[2019-02-05 13:40] mighty-phoenix opened #6210 "Prerequisite skill ID in Add response modal does not accept symbols(Failure)"
**Description**
Prerequisite skill ID in Add response modal does not accept symbols. This might be an unexpected behavior in a number of cases. For example, C#, C++.

Even if we decide that we decide not to allow symbols in prerequisite skill ID, a failure happens on following the steps shown below:
 1. Create an exploration
 2. Add a multiple choice interaction.
 3. Add Options
 4. Click on ```Sa

[2019-02-05 14:17] mighty-phoenix commented on #6179
Hey @vibhor98 @DubeySandeep I can't reproduce it.
@KhalidRmb Can you reproduce it?
@anubhavsinha98 Did you face this issue with your repo in an even state with oppia:develop?

[2019-02-05 14:27] mighty-phoenix commented on #2125
@DubeySandeep @vibhor98 @souravbadami Re-opening this issue as I can reproduce this issue on both, Firefox and Chrome.

[2019-02-05 17:24] KhalidRmb commented on #6179
@rakshitkumarcse Yes, I can reproduce it on Firefox. Seems to be working fine on Google Chrome though.

[2019-02-05 18:55] DubeySandeep commented on #5134
Hi @AJ-54, any update on assigned issue?

[2019-02-05 19:09] DubeySandeep commented on #6209
I don't think we need something to do for the test server, as the expected behavior of landing to the Fraction collection (i.e, to the link collection/<collection-id>) is working fine! I'm closing this issue as there isn't any requirement of creating the same collection with the same ID in the test server.

[2019-02-05 19:09] #6209 closed, assigned to nobody

[2019-02-05 19:15] gauravzqa commented on #6178
hey @anubhavsinha98  you can work on this.

[2019-02-05 19:19] DubeySandeep commented on #6178
Hi @gauravzqa and @anubhavsinha98, to fix this issue firstly we have to write an audit job to check how many explorations this will affect, after that audit report we will be able to decide what we can do with this issue! Currently, I have started writing an audit job for this issue! I'll suggest @anubhavsinha98  to pick another issue.

[2019-02-05 19:55] DubeySandeep commented on #5867
@aks681, I've created a PR at #6151, which is dependent on #6211! This issue will be closed once that PR will get merged. Thanks!

[2019-02-05 19:57] DubeySandeep commented on #3677
@aks681, I've created a PR for this issue and I've to write e2e test for the same, I didn't find any existing e2e test for exploration saving modal, so I'll have to write form the beginning I'll try my best to add e2e test before this week. Thanks!

[2019-02-05 20:11] lilithxxx opened #6212 "Lint check to avoid inline styling"
A lint check to avoid inline styling in HTML files should be implemented. Instead, there should be a separate CSS class for it.

**Examples:**

Good pattern:
[code]

Bad patterns:

[code]

[2019-02-05 20:26] mighty-phoenix opened #6213 "Error arises on opening published exploration on local server"
**Description**
Error 500 arises on opening published exploration on local server.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration.
 2. Publish it.
 3. Open the exploration from the library or it's link.
 4. See error

**Observed behavior**
![image](https://user-images.githubusercontent.com/32777813/52302117-3c0e5300-29b2-11e9-97d3-a13cb8c91ae0.png)

**Expected behavio

[2019-02-05 20:28] DubeySandeep commented on #6213
Hi @rakshitkumarcse, can you please add the server log in the issue description?

[2019-02-05 20:28] seanlip commented on #6213
Hi @rakshitkumarcse, when testing locally, always include the server logs in bug reports (especially if it's a 500 error). You should be able to see it in the terminal.

EDIT: ah, @DubeySandeep said the same thing :)

[2019-02-05 20:33] vojtechjelinek commented on #6149
Hi @bansalnitish, I cannot reproduce this, does the problem still exist on you machine?

[2019-02-05 20:34] mighty-phoenix commented on #6213
@DubeySandeep @seanlip Thanks for letting me know. :p Haven't dealt much with the server issues before.

[2019-02-05 20:43] mighty-phoenix commented on #6213
@seanlip done. :)

[2019-02-05 20:57] anubhavsinha98 commented on #6178
Ok @DubeySandeep.

[2019-02-05 21:47] anubhavsinha98 commented on #6179
Sorry for the inconvenience @DubeySandeep @vibhor98 @KhalidRmb @rakshitkumarcse , I tried on the develop its appearing fine. Closing it.

[2019-02-05 21:47] import-keshav opened #6214 "Audio bar not hiding for auto-generated audio."
![imageedit_6_8194152787](https://user-images.githubusercontent.com/34139754/52306259-69143300-29bd-11e9-8ae1-99f46ee6d8b7.gif)

The audio bar should be hidden for auto-generated audio.

Observed in
1. Firefox, Chrome (check for other browser too).
2. Ubuntu (18.10)
Thanks

[2019-02-05 21:47] #6179 closed, assigned to nobody

[2019-02-05 21:53] DubeySandeep commented on #6214
Hi @import-keshav, This seems to be expected behavior for auto-generated audio, the audio progress bar work for manually added audio. Maybe hiding the progress bar for the auto-generated audio would be better from the user perspective.

[2019-02-05 22:03] import-keshav commented on #6214
Ok @DubeySandeep.
Thanks for suggestions.

[2019-02-05 22:08] anubhavsinha98 commented on #6214
@DubeySandeep when we pause the audio the audio starts from the beginning, why not start from where the user paused it?

[2019-02-05 22:12] DubeySandeep commented on #6213
@rakshitkumarcse, Thanks for adding the logs. I'm unable to reproduce this issue. Initially, I thought this to be some permission issue but I found few SO question regarding the same issue on gae (over [here](https://stackoverflow.com/questions/8799304/ioerror-errno-13-file-not-accessible-with-google-appengine-1-6-1)) not sure whether this issue is only related to you? Can you please check your OP

[2019-02-05 22:19] mighty-phoenix commented on #6213
@DubeySandeep Did you run the local server on develop branch without the --prod_env flag?
This same issue was also faced by @YashJipkate

[2019-02-05 22:20] import-keshav commented on #6213
Heloo @DubeySandeep , i was also not facing this issue, but when i update the oppia develop branch then i also faced this.
Did you update your develop branch.

[2019-02-05 22:50] DubeySandeep commented on #6213
@import-keshav, Thanks for checking, I think this issue may have raised after #6184 (not sure!).

[2019-02-06 00:59] mighty-phoenix commented on #6213
Also, thanks @YashJipkate for pointing out the issue. :)

[2019-02-06 01:37] DubeySandeep commented on #5134
Hi @aniket7joshi, any update on the assigned issue?

[2019-02-06 05:10] abhaygupta97 commented on #6199
Hi! I would like to work on this issue. Thanks.

[2019-02-06 05:33] juliapark628 commented on #5134
I would like to work on core.storage.classifier.gae_models please.

[2019-02-06 06:42] seanlip commented on #6213
@vojtechjelinek -- could you PTAL at this?

[2019-02-06 06:48] seanlip commented on #6149
I just tried (on the latest version of develop) and was able to reproduce it.

@vojtechjelinek could you please try starting the server afresh from start.sh and then following the repro steps exactly? I find that it's harder to repro if you're doing it on a server which has been running for a while.

[2019-02-06 07:11] DubeySandeep opened #6215 "Internal properties of state object should be private."
All over the test files the state objects are updated directly accessing the object's internal properties but from the top level, we use update_interaction_hints, update_interaction_answer_groups etc. to update the internal properties of the state, so making those internal properties private and updating the test file to follow a similar pattern would make a consitent and clean tests.

Note: Linki

[2019-02-06 07:55] vojtechjelinek commented on #6149
Yes, I was able to reproduce it, this seems only to happen on Chrome.

[2019-02-06 08:12] seanlip commented on #6149
Ohh, I have a guess for what _might_ be happening.

Take a look at splash.html. There is a prerender block for the library page. Could the issue be due to that?

[2019-02-06 08:13] vojtechjelinek commented on #6149
Yes, I'm already replacing that with prefetch.

[2019-02-06 08:23] vojtechjelinek commented on #6149
Okay, so the same problem happens with prefetch, it is due to the fact that when the page is prefetched in splash.html the user is not yet loggedin that means that the `GLOBALS.userIsLoggedIn = false` and [part of navbar is hidden](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/top_navigation_bar/top_navigation_bar_directive.html#L64).

I think we can get rid of the

[2019-02-06 08:33] seanlip commented on #6149
Hmm, is it going to take a while for userIsLoggedIn to be removed from Jinja? I am thinking that perhaps the best solution to this is to actually do the removal as soon as possible, rather than make the library page load longer (especially since it's one of the slower pages to load).

[2019-02-06 09:45] #6213 closed, assigned to vojtechjelinek

[2019-02-06 09:59] vojtechjelinek commented on #5002
Hi @vrajesh978, sorry for late notice, please let me know that you still want to work on this. I have assigned you, the best solution would be to check if cookies that are used for App Engine authentication are present.

[2019-02-06 10:03] vojtechjelinek commented on #6149
I thought that it would be hard to implement, but now I realize that we can just check for the presence of App Engine auth cookies. I will wait if @vrajesh978 responds today that he is going to work on it (he showed interest in #5002) and if not I will take care of it myself.

[2019-02-06 10:50] import-keshav commented on #6158
Hello @nithusha21 @DubeySandeep,
I go through the issue, and I found that there is a function in a file ``` templates/head/pages/exploration_player/StatsReportingService.js ```
which returns the stats of a user whenever a learner tries to leave an exploration, when a learner starts an exploration, when a learner completes an exploration and also every five minutes.
![imageedit_6_5941988196](https:

[2019-02-06 12:29] import-keshav commented on #6214
Hello, @anubhavsinha98
SpeechSynthesis in Chrome seems to have a bug where if you pause the utterance, wait for around 15 or more seconds, then try resuming, nothing will sound. As a temporary fix, just restart the utterance from the beginning instead of resuming.

[2019-02-06 12:53] anubhavsinha98 commented on #6214
Ok @import-keshav , thanks for the information.

[2019-02-06 13:04] anubhavsinha98 commented on #6212
Hi @lilithxxx why not make a separate PR for first fixing the inline styling in HTML, as there are many files which need to be changed (in this way we can get the Travis CI check pass) and it can be helpful for the beginners also who want to contribute.

[2019-02-06 14:07] lilithxxx commented on #6212
I think adding the lint check and fixing the files can be done in a single PR. Thanks!

[2019-02-06 14:33] anubhavsinha98 opened #6219 "Stay Anonymous not aligned correctly with respect to the checkbox ."
Align the 'Stay Anonymous' text correctly .

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library'
 2. Complete any exploration
 3. Then rate the exploration
 4. See error

**Screenshots**
![screenshot from 2019-02-06 19-58-26](https://user-images.githubusercontent.com/30555544/52348407-3fedb400-2a4a-11e9-8173-f20a17b59497.png)

**Desktop (please complete the following information;

[2019-02-06 16:30] vrajesh978 commented on #5002
@vojtechjelinek Yes, I want to work on this. Thanks for assigning me.

[2019-02-06 18:04] Dharmesh-Poddar commented on #6193
![screenshot from 2019-02-06 23-31-44](https://user-images.githubusercontent.com/32756751/52362830-71c14380-2a67-11e9-9114-64f7124ac453.png)

@anubhavsinha98  Currently it is working fine on local host and oppia.org

[2019-02-06 18:51] bansalnitish commented on #5134
Hi @juliapark628 , I've assigned you to `core.storage.classifier.gae_models`. You can start working on this issue.

[2019-02-06 18:56] bansalnitish commented on #6149
Hi @vojtechjelinek @seanlip, I have issued a PR #6150 for the issue. If @vrajesh978 is not working on this, shall I update the PR with the fix as discussed here?

[2019-02-06 19:03] bansalnitish commented on #2306
Hi @aks681, working on it, will submit a PR by tomorrow. Thanks!

[2019-02-06 20:06] vojtechjelinek commented on #6149
Hey @bansalnitish, @vrajesh978 confirmed that he is going to work on it, so I think it's okay to close the PR.

[2019-02-06 20:53] import-keshav commented on #6157
HI @YashJipkate, issues labeled as "server errors" have no specific reproduction steps. These messages were logged on the server, possibly due to a particular user performing a specific set of actions. For production bugs, most of the work to fix the bug is actually to narrow down an approach which reliably reproduces the issue. These issues are more complicated to understand as there is no inform

[2019-02-07 01:29] JeeBoomBoi commented on #6219
@anubhavsinha98 I would like to take up this issue.

[2019-02-07 02:07] YashJipkate commented on #6157
@import-keshav Ah Okay. Thanks for the explanation!

[2019-02-07 04:01] DubeySandeep commented on #6158
@import-keshav, Thanks for looking into it,

`UrlInterpolationService` service function `interpolateUrl` which expects a string but it was giving null until a user starts any exploration.

StatsReportingService gets initialized only when users start playing exploration (over [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_player/ExplorationPlayerStateSe

[2019-02-07 04:14] YashJipkate commented on #5465
@seanlip After you said about the exclusion of test files for the prohibitory imports [here](https://github.com/oppia/oppia/pull/6180#discussion_r254433231), I took a look at the other part of this issue where a check has to be added against the domain layer importing controller layer but found that a domain layer file i.e. _acl_decorators.py_ is importing a controller layer file i.e. _base.py_. W

[2019-02-07 05:28] seanlip commented on #5465
I'm fine putting acl_decorators in core/controllers. Will that solve the problem?

[2019-02-07 05:40] YashJipkate commented on #5465
@seanlip Yes that would do I think.
Also if this has to be followed... Then we would need a refactoring of the codebase in order to accommodate the changes.
Thanks.

[2019-02-07 05:44] seanlip commented on #5465
Re: refactoring ... in what way? If you mean changing some imports from "core.domain" to "core.controllers", I think that's fine.

[2019-02-07 05:50] anubhavsinha98 commented on #6219
Sure, go ahead @jeeb0xical

[2019-02-07 06:15] aks681 opened #6222 "Remove the ENABLE_NEW_STRUCTURE_EDITORS flag"
Remove all instances of the ENABLE_NEW_STRUCTURE_EDITORS flag as it is now flipped to true.

To be done after March release.

[2019-02-07 06:19] geetchoudhary opened #6223 "Supplemental Card gets hidden behind footer"
**Describe the bug**
When the screen size is small the supplemental card gets hidden behind the footer in Firefox and the page is not scrollable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to oppia
 2. Go to /admin page and load all_interactions exploration
 3. Navigate to /explore/16 to play this exploration.

**Observed behavior**
Screenshots

<img width="1440" alt="screenshot

[2019-02-07 06:36] YashJipkate commented on #5465
@seanlip OK then I'll make a PR for the same.
Thanks!

[2019-02-07 06:36] ankita240796 opened #6224 "Improve asset loading by avoiding repeated execution of a single fetch request"
PR #6170 removes the feature which ensures that a fetch request for the same asset is not executed repeatedly. It was done to ensure that multiple same images (when user copy pastes images) load without issue.

We need to find a way which handles multiple same requests as well ensures that a single request is not executed repeatedly.

/cc @seanlip @DubeySandeep

[2019-02-07 06:58] seanlip opened #6225 "[Requires upgrade to CKEditor5] Spaces above images in the RTE should be deletable."
**Describe the bug**
In RTEs, it seems impossible to delete the large vertical space above an image.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open the exploration editor.
 2. Edit the content field to contain some text, followed by an image, followed by some text.
 3. Delete the text before the image.
 4. Try to delete the whitespace before the image.

**Observed behavior**
On pressi

[2019-02-07 06:59] seanlip commented on #6225
/cc @bansalnitish

[2019-02-07 08:50] YashJipkate commented on #5465
@seanlip Just a workflow related doubt... Should I update the [existing PR](https://github.com/oppia/oppia/pull/6180) that fixes the first part of the issue with the fix for the second part of the issue so that it becomes a complete fix to this issue or should I make a new PR for this?
I asked this because I have created a class called [`RestrictedImportChecker`](https://github.com/oppia/oppia/pul

[2019-02-07 08:56] seanlip commented on #5465
I am fine either way. The only requirement is that nothing is merged to develop "halfway", and I think both alternatives satisfy that.

Thanks for checking!

[2019-02-07 09:08] YashJipkate commented on #5465
@seanlip Ah okay then I'll wait for @apb7 to review the already existing PR to verify my current approach since the same approach will do the second part too. Also I think it would be easier for him to review the subsequent changes for the same part fix which he reviewed earlier. And then when the existing PR gets an LGTM I'll drop the other half of the fix 'coz then the class would be in develop,

[2019-02-07 11:05] vojtechjelinek opened #6226 "Move generating CKEditor widgets from app.js to separate file"
Currently, we generate CKEditor widgets in [app.js](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/app.js#L104) that means that they're regenerated on all our pages even pages that don't even use CKEditor. We should move the generating of CKEditor widgets to place where are the CKEditor widgets actually needed.

Maybe also introduce caching for the generated CKEditor widgets.

[2019-02-07 11:50] #6103 closed, assigned to lilithxxx

[2019-02-07 17:07] Dharmesh-Poddar commented on #6193
![screenshot from 2019-02-06 23-31-44](https://user-images.githubusercontent.com/32756751/52428801-bc56c480-2b28-11e9-8dde-ffd8f373bb47.png)
@anubhavsinha98 This is working fine on localhost, how do I get the issue locally

[2019-02-07 17:29] nalinbhardwaj opened #6229 "Reordering Hints and Worked Examples in Safari is buggy"
**Describe the bug**
Rearranging hints/worked examples in the Exploration Editor/Skill Editors is extremely buggy in Safari. The selected item jumps around and sticks to incorrect places. The page often scrolls randomly as well on moving.

The videos explain it much better. Look below.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Topic and Skills Dashboard
 2. Create a new skil

[2019-02-07 18:16] bansalnitish commented on #6225
Thanks for reporting this issue @seanlip . I'll try to fix this.

[2019-02-07 18:43] bansalnitish opened #6230 "Refactor image storage on Oppia"
Currently, images are being stored as ```<exploration_id>/assets/images```. For a more general storage structure, the following changes are required:
- The URL for storage should be changed as ```exploration/<exploration_id>/assets/images``` to go with all other structures and the changes that may be introduced later.
- The images, as well as audio files, need to be migrated in the GCS and the URL

[2019-02-07 18:50] DubeySandeep commented on #6230
@bansalnitish, I have seen a one-off job for this issue, are you sure this issue is not closed?

EDIT: Adding screenshot:
![image](https://user-images.githubusercontent.com/16653571/52435262-676e7a80-2b37-11e9-9e2c-fd3972f80682.png)

[2019-02-07 18:52] bansalnitish commented on #6230
I just received a report of the open issues that were created by WickedBrat from @seanlip. This issue was listed in that.

[2019-02-07 20:12] DubeySandeep commented on #6230
Found this comment on my email:

@sshou14, any update on this?

[2019-02-07 20:14] seanlip commented on #6230
Pretty sure it's not fixed - I talked with @aks681 about this recently and
I don't think anyone is currently working on it, though it's important.

@aks681, is this correct?

[2019-02-07 20:51] KhalidRmb commented on #6200
Hi! Can I work on this one?

[2019-02-07 21:30] seanlip commented on #6200
Sure, go ahead!

[2019-02-07 23:50] sstone-codaio commented on #6230
Just a quick comment I believe the first bullet is fixed.

[2019-02-08 02:32] mzaman07 commented on #5784
So I have resolved the issue based on the doc, in the original post. There could be another problem and that is some browsers will show that the play() method is undefined in the console log. Because of javascripts untyped nature, handling that will be problematic but it does not affect the functionality. Will do testing on safari and if everything goes well a PR will be open upstream.

[2019-02-08 02:47] DubeySandeep commented on #5784
@mzaman07, Thanks for the update!

[2019-02-08 03:23] #6083 closed, assigned to mighty-phoenix

[2019-02-08 04:38] varun-tandon commented on #5134
It looks like core.storage.collection.gae_models is already at 100% coverage. Can someone confirm that this is the case?

[2019-02-08 04:45] netajik commented on #5134
it gives below result, when i was run locall.

**core/storage/collection/gae_models.py                        93      5    _95%_   207-215, 288, 294**

95% completed.

[2019-02-08 05:54] DubeySandeep opened #6232 "Show 401 modal telling users to refresh the page if they are on edit mode and try editing exploration/activity."
Currently, a user gets logged out automatically by GAE after a period of inactivity but if the editor tab is left as is then they still have a chance to edit exploration locally which will eventually not get saved on the server and throws invalid error report (this is true for uploading audio translations not sure about other parts.).

It would be great to check whether a user's logged in or not o

[2019-02-08 11:56] anubhavsinha98 commented on #5134
@varun-tandon , ```core.storage.collection.gae_models``` is 95% covered

[2019-02-08 12:20] ulloaluis commented on #5134
I believe core.platform.email.mailgun_email_services can be moved to Completed now since the PR went through.

[2019-02-08 12:37] anubhavsinha98 commented on #5134
Hi @ulloaluis can you refer the PR so that it can be closed. Thanks.

[2019-02-08 14:12] apb7 opened #6233 "Improve error message for pre-submit checks"
_This is an issue to keep track of all the confusing pre-submit error messages which developers have a hard time understanding, and then improve them._

The error messages of the following checks need to be improved:

1.  `_match_line_breaks_in_controller_dependencies(..)`: [Done in PR #6246]
      This function checks whether the line breaks between the dependencies
    listed in the controller o

[2019-02-08 18:34] YashJipkate opened #6236 "Add a check to control number of newlines preceding function/class."
A presubmit linting check needs to be added to enforce the following style to python files and this issue keeps a track of it:

- [ ] Exactly one newline precedes the declaration of a function.

- [ ] Exactly two newlines precede the declaration of a class.

[2019-02-08 21:21] anubhavsinha98 commented on #6233
Hi @apb7, also there are many functions which check only js files/py files. Hence there description should include that also. What do you suggest?

[2019-02-08 21:22] anubhavsinha98 commented on #6233
![screenshot from 2019-02-09 02-54-21](https://user-images.githubusercontent.com/30555544/52506764-9824e180-2c15-11e9-916d-cf946103d872.png)
Like this function checks py files, hence its function should include this.

[2019-02-08 21:23] anubhavsinha98 commented on #6233
Like we can add ```This function ensures that comments follow the correct style in python files```

[2019-02-08 21:23] anubhavsinha98 commented on #6233
@YashJipkate @lilithxxx Any suggestions here ?

[2019-02-09 03:51] YashJipkate commented on #6233
@anubhavsinha98 Yes there are some functions with an incomplete description in their docstrings. But do those concern this issue? I think this issue keeps track of the error messages shown when a check fails.
However, since you pointed that out, it would be great if you improve the docstrings as well since it is also a part of developer experience :)
Thanks!

[2019-02-09 05:27] ulloaluis commented on #5134
@anubhavsinha98 PR is here: https://github.com/oppia/oppia/pull/6133

[2019-02-09 06:25] #6188 closed, assigned to mighty-phoenix

[2019-02-09 07:56] anubhavsinha98 commented on #6233
@YashJipkate Thanks!

[2019-02-09 08:45] anubhavsinha98 commented on #5134
Okay thanks @ulloaluis !

[2019-02-09 12:12] vojtechjelinek opened #6238 "Move libraries that are used only in one or two pages from header_js_libs.html"
The [header_js_libs.html](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/header_js_libs.html) containes `<script>` tags for importing various libraries. Since *header_js_libs.html* is used on every page we should make as little script-imports as possible.

Some of the libraries we script-imports in *header_js_libs.html* like *ckeditor.js* are used only on some of our pag

[2019-02-09 15:59] bansalnitish commented on #6210
Hi @rakshitkumarcse, Is this reproducible on the main site? If no, then its a regression and we need to fix this for the current release. Thanks!

[2019-02-09 15:59] bansalnitish commented on #6223
Hi @geetchoudhary, Is this reproducible on the main site ?

[2019-02-09 16:06] mighty-phoenix commented on #6210
Hey @bansalnitish
It is not reproducible on main site. We need to fix this for the current release.
Thanks.

[2019-02-09 16:12] bansalnitish commented on #6210
Thanks for the update!

[2019-02-09 16:12] mighty-phoenix commented on #6210
No problem. :)

[2019-02-09 16:19] aks681 commented on #6210
I'll take a look at this as this came as a consequence of enabling the ENABLE_NEW_STRUCTURE_EDITORS flag.
This works, in the sense that the prerequisite skill ID field takes only skill ids which are similar to exploration ids (i.e they are IDs of the skill construct). So, only an input which has valid ID characters are allowed. Will modify the response such that this is evident to a creator.
Also,

[2019-02-09 16:25] anubhavsinha98 commented on #6193
Which browser are you using @Dharmesh-Poddar ?

[2019-02-09 16:26] bansalnitish commented on #6193
Hey @anubhavsinha98, Is this reproducible on the main site ?

[2019-02-09 16:29] bansalnitish commented on #6193
I just checked and can confirm this is reproducible on the main site as well.

[2019-02-09 16:32] anubhavsinha98 commented on #6193
Yes @bansalnitish  I also checked its reproducible!

[2019-02-09 17:25] geetchoudhary commented on #6223
Hi @bansalnitish, I created the same exploration on the main site but the issue is not reproducible on it. The page becomes scrollable unlike on oppia test server in which the card gets hidden behind footer.

[2019-02-09 19:22] Dharmesh-Poddar commented on #6193
@anubhavsinha98 I have checked it on chrome and firefox .

[2019-02-09 19:37] tmpaccount01 commented on #6238
can i work on it ?

[2019-02-09 20:21] bansalnitish commented on #6223
Thanks for testing this @geetchoudhary. Adding this to blocking bugs since its not reproducible on main site.

[2019-02-09 21:20] vojtechjelinek commented on #6238
Sorry, @gurungrahul2 is already working on it.

[2019-02-10 01:34] 1995YogeshSharma commented on #5134
unassigning @AJ-54 due to lack of activity

[2019-02-10 04:07] #5487 closed, assigned to nobody

[2019-02-10 04:59] brianrodri commented on #5975
Nope, this is actually due to fraction inputs not being rendered properly. I've updated the bug description and re-opened the issue for someone to pick up.

[2019-02-10 12:32] JeeBoomBoi commented on #6219
Is this is how it supposed to look @anubhavsinha98

![patch2](https://user-images.githubusercontent.com/43813343/52533720-f066fb00-2d5d-11e9-8f70-dd06a4b9b5cf.jpg)

[2019-02-10 15:32] anubhavsinha98 commented on #6219
Yeah @jeeb0xical, it looks fine.

[2019-02-10 16:13] nikhilmudholkar commented on #5134
I would like to work on * core.domain.classifier_domain please

[2019-02-10 16:30] YashJipkate commented on #5134
Hi @nikhilmudholkar, Assigned! Go ahead :)

[2019-02-10 17:57] nithusha21 opened #6240 "Write e2e tests for all functional capabilities"
This project is aimed at writing e2e (end-to-end) tests for all functional capabilities. See [this wiki page](https://github.com/oppia/oppia/wiki/End-to-End-Tests) for information on e2e testing principles at Oppia. The general procedure to write such tests is as follows:
- Try manually doing the action you are trying to test.
- Get a list of smaller actions needed by the user to complete the acti

[2019-02-10 20:30] seanlip commented on #6128
Hi @Dilshaad21, sorry for the late reply. Yes, this issue is available if you would like to take it up!

[2019-02-10 23:32] brianrodri opened #6242 "Clickable Area of Playthrough Hexagons are non-intuitive"
**Describe the bug**
The clickable area of playthrough hexagon buttons is non-intuitive (clicking the top part doesn't work). We should either render them as something else, or make the entire hexagon-area clickable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this](https://www.oppia.org/create/MjZzEVOG47_1#/stats) exploration.
 2. Scroll down and click any Issue.
 3. Try clickin

[2019-02-10 23:58] brianrodri commented on #5799
Hi @netajik, I actually need to rethink this issue a lot. I'm going to temporarily close it, sorry!

[2019-02-11 00:00] brianrodri commented on #5802
Hey, yes I've started work on this. I'll be making progress over the next 2 weeks, and will add a PR for review once I'm ready.

[2019-02-11 04:54] mzaman07 commented on #5784
Made a [pr](https://github.com/danielstern/ngAudio/pull/207) upstream. It would be helpful if someone could help me out with browser testing with versions I don't have. I have docker script for ubuntu environments ready for handling the install.

[2019-02-11 05:50] abhaygupta97 opened #6244 "Cancel button in hint editor not working"
**Describe the bug**
After editing a hint if cancel button is clicked to discard the changes, contents of the hint still change.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create exploration
 2. Add some interaction
 3. Create a hint
 4. Click on the hint created.
 5. Click on edit hint and edit its contents.
 6. Click cancel.
 7. Click on the top bar of active hint to minimize it.

**

[2019-02-11 05:59] DubeySandeep commented on #6244
Hi @abhaygupta97, Thanks for creating the issue. By `7. Click on the hint again.` you mean clicking on the top bar of the active hint (blue border section in the image below) to minimize it, right?

![image](https://user-images.githubusercontent.com/16653571/52547823-2b197380-2df0-11e9-86e0-bf00ab1144f7.png)

[2019-02-11 06:18] abhaygupta97 commented on #6244
@DubeySandeep yes. I also edited the steps to reproduce to make it more clear.

[2019-02-11 09:21] CryTime commented on #6242
can i work on it ?

[2019-02-11 09:32] DubeySandeep commented on #6238
HI @CryTime, I think you haven't signed the CLA yet! Can you please go through the "[Setting-things-up](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)" wiki page and follow the instructions?

[2019-02-11 10:07] Dharmesh-Poddar commented on #6244
@abhaygupta97 can I work on it..

[2019-02-11 12:12] JeeBoomBoi commented on #6219
@anubhavsinha98 I made changes to the third party css to get that output from this error. The other way for this to increase the font size of the text stay anonymous.
![screenshot from 2019-02-11 17-41-52](https://user-images.githubusercontent.com/43813343/52562394-66359a00-2e24-11e9-97fc-2e0a43fbdc41.png)

[2019-02-11 12:19] abhaygupta97 commented on #6244
@Dharmesh-Poddar Sorry but I am working on it. Thanks.

[2019-02-11 12:25] anubhavsinha98 commented on #6244
Hi @abhaygupta97, as you are working on it, I have assigned it to you.

[2019-02-11 12:38] anubhavsinha98 commented on #6219
Hi @jeeb0xical, I think aligning the Stay Anonymous would be a better option rather than increasing the font size of it. So can you submit the PR for the same?

[2019-02-11 12:57] YashJipkate commented on #6219
@jeeb0xical By third-party CSS do you mean the one in _build/third_party_ directory? Can you confirm this?
@anubhavsinha98 I don't think making changes to the third party CSS is a good idea since it is excluded from the checks that we have. Also, it might be used by other pages and changing something for a single page can break the design of other pages. What do you think?
Thanks!

[2019-02-11 13:08] anubhavsinha98 commented on #6219
Yeah @YashJipkate, using the third party CSS is not a good practice, and you should avoid doing that. @jeeb0xical try to add the changes in the corresponding CSS of that particular HTML.

[2019-02-11 13:24] JeeBoomBoi commented on #6219
Yeah @YashJipkate i made changes to build/third party. But I realised it is not the right solution as when making changes to third party, The changes that is made cannot be reflected in the local host. So that's why, I came up with changing the font size. I will work on it @anubhavsinha98. Thanks !

[2019-02-11 13:35] YashJipkate commented on #6219
Hi, @jeeb0xical I am still skeptical about your approach. Changing the font size should not be the solution because it may affect the overall UI of the page. Try changing the padding or margin of the element(s) in concern, I think that might be the correct approach. Would that be possible?
Thanks!