[2020-09-10 09:13] vojtechjelinek opened #10616 "Introduce `@typescript-eslint` rules that extend eslint rules"
`@typesctript-eslint` contains a subset of rules that extend basic rules provided by `eslint`, these rules usually work better and provide additional checks. The checks that are these extend-rules are listed in [ESLint typescript rules](https://docs.google.com/spreadsheets/d/1yoZCuipZcpVQrB62jXth0DBR_u8hsbJX67wDXUhOG0Y/edit?usp=sharing) at the bottom (the rules that have a reddish background).

Th

[2020-09-10 12:29] vojtechjelinek opened #10617 "Refactor the js_ts_linter to run eslint checks on all files at once"
Currently, we run the eslint checks separately on each file, this is quite inefficient and blocks us from introducing eslint rules that require the whole project to be compiled (since for these rules we now need to compile the whole project for all the files separately, if we ran the checks on all files together the project would be only compiled once).

Refactor js_ts_linter to run the eslint che

[2020-09-10 17:45] srijanreddy98 opened #10619 "Revert ownership to @bansalnitish after 2020-10-31"
Add @bansalnitish back to .CODEOWNERS after31st Oct

[2020-09-10 20:52] krishnarao22 opened #10624 "Audio Bar not appearing where expected in explorations"
**Describe the bug**
Audio bar in explorations is not where it's meant to be

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any exploration
 2. Open the audio bar
 3. Scroll down if possible
 4. See error

**Observed behavior**
The audio bar isn't anchored to the top of the page as normal and interferes with the viewing of explorations.

**Expected behavior**
I expected the audio bar

[2020-09-11 06:23] kevintab95 opened #10625 "Translations are not viewable in My Contributions > Translations"
**Describe the bug**
Translations are not viewable in My Contributions > Translations. Also, a console error is seen on clicking on My Contributions > Translations.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/contributor-dashboard'
 2. Click on 'My Contributions'
 3. Click on 'Translations' with the dev console open.
 4. Translations are not vi

[2020-09-11 08:01] seanlip opened #10627 "Flaky Lighthouse Accessibility checks"
**Describe the bug**
The Lighthouse Accessibility checks fail on PR #10626 with the following log: https://github.com/oppia/oppia/runs/1100643645

The error, from the GItHub Actions log, is:

[code]

[2020-09-11 08:22] ReshuKumari opened #10628 "Video as RTE component is not working properly in item selection interaction."
**Describe the bug**
While adding video as the RTE component in the exploration, Adding video in the introduction, and choosing
 item selection as the interaction and inserting video in the options it does not displays the video in preview tab.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com'.
 2. Click on 'CREATE'.
 3. Add a video in introduction.

[2020-09-11 09:06] kevintab95 opened #10629 "UX issues in the Contributor Dashboard"
There are a few UX issues in the contributor dashboard. See details below:

- [ ] Loading screens in the contributor dashboard: In slow network conditions, the data in the "My Contributions", "Submit Question", and "Translate Text" tabs take time to load. There should be a loading screen or similar to let the user know that some process is going on and that they have to wait for a bit.
  ![loading

[2020-09-11 09:17] kevintab95 commented on #10624
Hi @krishnarao22 this looks like a duplicate of https://github.com/oppia/oppia/issues/10528. Can you confirm?

[2020-09-11 10:32] iamprayush opened #10630 "Topbar buttons are not visible in mobile view."
**Describe the bug**
While playing an exploration on a mobile device, there is no way to leave feedback, suggest changes, or report the exploration since these buttons are only visible on large screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Play any exploration on mobile.

**Observed behavior**
Buttons are not visible in the topbar.

**Expected behavior**
The buttons should be vis

[2020-09-11 10:32] iamprayush opened #19443 "[Feature request] Topbar buttons are not visible in mobile view."
**Describe the bug**
While playing an exploration on a mobile device, there is no way to leave feedback, suggest changes, or report the exploration since these buttons are only visible on large screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Play any exploration on mobile.

**Observed behavior**
Buttons are not visible in the topbar.

**Expected behavior**
The buttons should be vis

[2020-09-11 13:07] kevintab95 opened #10631 "Single frame GIF uploads throw "fileno" error"
**Describe the bug**
Single frame GIF uploads throw "fileno" error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor.
 2. Upload a single frame GIF image with a < 100 KB file size (sample attached below).
 3. See "fileno" error in the console.

**Observed behavior**
Single frame GIF uploads throw "fileno" error.

**Expected behavior**
Single frame GIF uploads sho

[2020-09-11 13:50] Hudda opened #10633 "Refactor linter to fail if one of the sub-linter fails and exit"
Right now if one of the sub-linter fails with an error, the linter keeps running, and status at then of linter appeared to be passed. Refactor the linter, if any sub-linter fails the main linter result as failed not passed.

[2020-09-11 13:51] krishnarao22 commented on #10624
Hi @kevintab95 this is a duplicate, sorry about that. Closing this issue.

[2020-09-11 13:51] #10624 closed, assigned to nobody

[2020-09-11 17:46] U8NWXD opened #10634 "UI Issues with Topic Preview and Topic Page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/topic_editor/GJ2rLXRKD5hw#/topic_preview/

**Problems**

![Screen Shot 2020-09-11 at 13 24 34](https://user-images.githubusercontent.com/19878639/92955495-3c46be00-f433-11ea-82f4-410d7d71c826.png)

* [ ] Gray bar at the top looks strange and seems to have no purpose
* [ ] Right edge of white content box

[2020-09-11 17:54] U8NWXD opened #10635 "Footer Cuts Off Bottom of Practice Session Results Page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Play through a practice session, e.g. https://oppiatestserver.appspot.com/learn/math/fractions/practice/session?selected_subtopic_ids=1

**Problem**

![Screen Shot 2020-09-11 at 13 51 03](https://user-images.githubusercontent.com/19878639/92957237-36061100-f436-11ea-92bb-eb432552c961.png)

The bottom of the practice session results page is cut

[2020-09-11 17:56] U8NWXD opened #10636 "No Space Above Continue Button in Drag and Drop Interaction"
**To Reproduce**
Steps to reproduce the behavior:
 1. Play through this practice session until you get the drag and drop interaction: https://oppiatestserver.appspot.com/learn/math/fractions/practice/session?selected_subtopic_ids=1

**Problem**

![Screen Shot 2020-09-11 at 13 55 09](https://user-images.githubusercontent.com/19878639/92957445-8c734f80-f436-11ea-92cf-27b31ae4621c.png)

There should

[2020-09-11 18:02] U8NWXD opened #10637 "Voiceover Dropdown Misplaced"
**To Reproduce**
Steps to reproduce the behavior:
 1. View the first page of this exploration: https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE

**Problem**

![Screen Shot 2020-09-11 at 13 58 51](https://user-images.githubusercontent.com/19878639/92957823-305cfb00-f437-11ea-9176-631fb52be19f.png)

As shown above, the dropdown to play voiceovers is too far below the header.

![Screen Shot 2

[2020-09-11 18:08] U8NWXD opened #10638 "Fractions Fail to Display in Exploration Text"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE
 2. Play through a few screens until you get to the page starting with

**Problem**

The fraction fails to display. Here's the view in Chrome 85:

![Screen Shot 2020-09-11 at 14 07 25](https://user-images.githubusercontent.com/19878639/92958383-22f44080-f438-11ea-8950-f4eb93f7308e.p

[2020-09-11 18:43] U8NWXD opened #10639 "Skill Incorrectly Lists Subtopic as "Unassigned""
**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with two subtopics and assign a skill to each. Or, use [this topic](https://oppiatestserver.appspot.com/topic_editor/EPxPgrWpASHn#/).
 2. Notice that each skill is assigned to a subtopic.
 3. Click on a skill to go to the skill editor, or look at [this skill](https://oppiatestserver.appspot.com/skill_editor/KTapDc15VM75#/).

**Pr

[2020-09-11 18:49] U8NWXD opened #10640 "Solution Bubble Unfilled when Creating Multiple Choice or Item Selection Question"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill or topic
 2. Go to the questions tab and create a question
 3. Add a multiple-choice or item selection interaction

Or, view this skill: https://oppiatestserver.appspot.com/skill_editor/KTapDc15VM75#/questions

**Problem**

The "Solution" bubble on the right is unfilled even though we don't have to specify solutions for multiple

[2020-09-11 18:53] U8NWXD opened #10641 "Console Error when Creating Question Without Specifying Difficulty"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill or topic
 2. Create a question for that skill from the question tab
 3. Try to save the question without specifying a difficulty

**Problem**

![Screen Shot 2020-09-11 at 14 50 26](https://user-images.githubusercontent.com/19878639/92962056-5639ce00-f43e-11ea-93df-aba6a240a8df.png)

We get the above console error. Notice also tha

[2020-09-11 18:56] U8NWXD opened #10642 "Questions Duplicated in List After Creating Question from Skill or Topic Editor"
**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill or topic
 2. Create a question from the skill or topic editor

**Problem**

Immediately after saving the question, notice that in the list of questions, all the question listings are duplicated. This duplication disappears when refreshing the page.

Before refresh:

![Screen Shot 2020-09-11 at 14 53 46](https://user-images.github

[2020-09-11 19:28] kevintab95 commented on #10640
Note: Seems like a duplicate of (3) in https://github.com/oppia/oppia/issues/10612

[2020-09-11 19:31] kevintab95 commented on #10637
@U8NWXD this seems like a duplicate of https://github.com/oppia/oppia/issues/10528. Can you confirm?

[2020-09-11 19:33] kevintab95 commented on #10639
@U8NWXD this seems like a duplicate of https://github.com/oppia/oppia/issues/10609. Can you please confirm?

[2020-09-11 19:34] kevintab95 commented on #10634
Note: Issue 4 seems related to https://github.com/oppia/oppia/issues/10603.

[2020-09-11 20:58] kevintab95 commented on #10631
Closing this issue since we will not be supporting GIF in the future.

[2020-09-11 20:58] #10631 closed, assigned to nobody

[2020-09-11 23:26] kaylahardie commented on #10629
Hi @kevintab95 - this is a very thorough review! Awesome job :D
A few comments:
- I didn't have the issue of the pages taking too long to load because my network connection is pretty good. However, I did notice that the saving the translations takes some time as seen in the following [video](https://drive.google.com/file/d/194Zgaig-48NOtRVyKhPkacF3Rv2eVIaW/view?usp=sharing)
- I did have issues sel

[2020-09-11 23:31] kaylahardie commented on #10389
While testing the page during release testing I noticed the none of the contributor dashboard pages respond well to the window changing size.
Here are some screenshots:
<img width="480" alt="Screen Shot 2020-09-11 at 4 29 15 PM" src="https://user-images.githubusercontent.com/19376937/92980739-30b3c100-f44c-11ea-9d83-853907baa791.png">

<img width="478" alt="Screen Shot 2020-09-11 at 4 33 39 PM" sr

[2020-09-11 23:44] kaylahardie commented on #10625
@kevintab95 translations show up for me:
<img width="1565" alt="Screen Shot 2020-09-11 at 4 43 37 PM" src="https://user-images.githubusercontent.com/19376937/92981271-0236e580-f44e-11ea-8a80-e1ea1078ac5e.png">

[2020-09-12 01:50] Showtim3 opened #10645 "The webpage name for the story appears too lengthy."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math/fractions.
 2. See the name of the tab.

**Observed behavior**
The name that appears on the tab looks too long.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![i

[2020-09-12 01:53] U8NWXD commented on #10637
Yes, it is. Closing

[2020-09-12 01:53] #10637 closed, assigned to U8NWXD

[2020-09-12 01:54] U8NWXD commented on #10639
Yes, it is. Closing

[2020-09-12 01:54] #10639 closed, assigned to U8NWXD

[2020-09-12 01:55] U8NWXD commented on #10640
Yes, it is. Closing

[2020-09-12 01:55] #10640 closed, assigned to U8NWXD

[2020-09-12 04:58] MNSDivya commented on #10638
Observed similar issue in Mobile as well
![image](https://user-images.githubusercontent.com/56336353/92987698-88047080-f4e2-11ea-881a-6f2e9d0ad80a.png)

 - Device: [ iPhoneXS]
 - OS: [e.g. iOS13.6.1]
 - Browser [chrome]

[2020-09-12 05:13] MNSDivya opened #10646 "Topic filter drop down doesnot any values when expanded_Mobile"
**Describe the bug**
Topic filter drop down doesnot any values when expanded_Mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com'
 2. Click on Topics and Skills dashboard
 3. Click on Topic filters button

**Observed behavior**
Topic filter drop down doesnot any values when expanded_Mobile

**Expected behavior**
All the values should be visible

[2020-09-12 05:28] MNSDivya opened #10647 "On subtopic page preview mode in mobile, the preview cannot be closed and the pullout menu at the bottom-right on mobile shows the wrong options."
**Describe the bug**
Preview concept card in mobile cannot be closed. No back button enabled. Entire tab needs to be closed

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ' https://oppiatestserver.appspot.com'
 2. Click on Topics ans skills dashboard
 3. Navigate to a subtopic in topic.
 4. Click on Preview concept card

**Observed behavior**
Preview concept card in mobile cannot be

[2020-09-12 06:49] kevintab95 commented on #10625
Oh interesting.. do console errors show up for you @kaylahardie?

[2020-09-12 09:21] seanlip opened #10649 "The history tab in the exploration editor shows incorrect revisions."
**Describe the bug**
The history tab of the exploration editor shows incorrect revisions.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to an exploration with several versions.
 2. Visit the history tab.
 3. Click on the latest two versions.

**Observed behavior**
The wrong versions are compared.

**Expected behavior**
A comparison between the two versions selected should be shown.

**

[2020-09-12 09:22] seanlip commented on #1500
Given Oppia's current focus, I don't think we need to do this. Closing.

[2020-09-12 09:22] #1500 closed

[2020-09-12 09:25] seanlip commented on #1280
Update: we don't need to do this. Closing this issue.

[2020-09-12 09:25] #1280 closed

[2020-09-12 09:27] Showtim3 commented on #10634
Hey @kevintab95 @aks681 the 5th point is a learner view bug. Can you guys take the 5th point up?

[2020-09-12 09:27] seanlip commented on #1884
We have seen no users asking for this, despite lots of explorations being created in the past 3 years, so I'm going to go ahead and close this issue as not being necessary to fix.

[2020-09-12 09:27] #1884 closed

[2020-09-12 09:29] seanlip commented on #6051
This isn't needed. Closing.

[2020-09-12 09:29] #6051 closed, assigned to nobody

[2020-09-12 09:31] seanlip commented on #2033
Since we are moving away from collections, I'm closing this issue.

[2020-09-12 09:31] #2033 closed

[2020-09-12 09:32] seanlip commented on #8895
See also #3980 (which is related, though different).

[2020-09-12 09:33] seanlip commented on #3980
See also #8895 (which is related, though different).

[2020-09-12 09:34] seanlip commented on #8396
Decided not to do this, and to go with #8397 instead (with a link/code that takes students to the relevant point in the lesson). This is because maintaining different login states and the transitions between them turns out to be very complicated. Hence, closing this issue.

[2020-09-12 09:34] #8396 closed, assigned to nobody

[2020-09-12 09:36] seanlip commented on #6484
Just to answer the question @aks681 posed (sorry for missing it) -- no, we should not add sessions for question creation.

@kevintab95 is the original issue addressed by your new misconceptions design?

[2020-09-12 09:41] seanlip commented on #1648
Given our current focus on collaborative creation of lessons around specific topics, I don't see a strong need for this feature. Closing this issue.

[2020-09-12 09:41] #1648 closed

[2020-09-12 09:57] nishantwrp opened #10650 "UI Issue in Terms Page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/terms
 4. See error

**Observed behavior**
![Screenshot_20200912_152019](https://user-images.githubusercontent.com/36989112/92992995-4c7e9c00-f50c-11ea-9c21-3dd24b51059b.png)

**Expected behavior**
This links under the `Terms of Use` should be placed correctly.

[2020-09-12 11:03] Showtim3 commented on #10606
Hey @kevintab95 Isnt this a learner view bug?

[2020-09-12 11:07] kevintab95 commented on #10606
Yep, sorry, assigned it to you by mistake.

[2020-09-12 12:52] MNSDivya opened #10653 "Warning message shown when trying to preview the topic in mobile"
**Describe the bug**
Warning message shown when trying to preview the topic in mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/'
 2. Click on 'Topics and skills dashboard'
 3. Navigate to a topic
 4. scroll down and click on save icon. Where editor option shows up . Click on Preview

**Observed behavior**
Warning message shown when trying to

[2020-09-12 16:56] U8NWXD opened #10655 "Topic Page UI Issues on Mobile"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math/fractions

**Problems**
* [x] Before scrolling, there is no space between the white content box and the green row of tabs:

   ![2020-09-12 12 51 49](https://user-images.githubusercontent.com/19878639/93000752-6d3cf680-f4f8-11ea-9447-924908aaa9c2.png)

   After scrolling down, a space appears

[2020-09-12 17:08] U8NWXD opened #10656 ""Correct!" Banner Misaligned on Mobile"
**To Reproduce**
Steps to reproduce the behavior:
 1. Play through an exploration on mobile until you get to an interaction. For example, use [this exploration](https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE)
 2. Answer the interaction correctly

**Problem**

The "Correct!" banner that pops up should be centered, but it isn't:

![2020-09-12 13 01 03](https://user-images.githubusercontent

[2020-09-12 17:14] U8NWXD opened #10657 "Menu and Back Arrow Overlap in Story Page on Mobile"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/learn/math/fractions/story/piece-of-cake

**Problem**

The menu and back arrow icons overlap:

![2020-09-12 13 12 34](https://user-images.githubusercontent.com/19878639/93001000-d5d8a300-f4f9-11ea-88ba-0e4c57d48d65.jpg)

**Smartphone (please complete the following information; delete this section if the

[2020-09-12 17:15] U8NWXD commented on #10657
This also occurs on the subtopic pages

[2020-09-12 17:18] U8NWXD commented on #10634
The 4th point (error message appearing only briefly) also occurs on mobile (iPhone 6, iOS 13.6, Firefox)

[2020-09-12 17:27] U8NWXD opened #10658 "Drag-and-Drop Interaction Broken on Mobile"
**To Reproduce**
Steps to reproduce the behavior:
 1. Play through an exploration with a drag-and-drop interaction. For example, [this practice session](https://oppiatestserver.appspot.com/learn/math/fractions/practice/session?selected_subtopic_ids=1)

**Problem**

The elements cannot be dragged because dragging up and down just causes the screen to scroll instead.

![ezgif com-gif-maker](https://

[2020-09-12 17:37] kevintab95 commented on #10634
@Showtim3 yep, I'll take a look!

FYI, 4th point seems to be tracked by #10603. So you can close this issue once your PR gets merged.

[2020-09-13 02:11] #10546 closed, assigned to kaylahardie

[2020-09-13 05:05] rohitkatlaa opened #10666 "The modals in the topic and skills dashboard are not accessible in mobile view"
**Describe the bug**
All the modals including the creating new skills, new topic, merge skill and delete skill are hidden behind the list of topics and skills. The drop down menu from the profile and the side nav bar are also hidden in screens with width less than approximately 827px.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skill dashboard in mobile view
 2. Click o

[2020-09-13 05:06] kevintab95 opened #10667 "User facing issues that were found during user studies"
- [ ] "Please continue" shows up on server side when Continue button is clicked (and you look back at the history) -- that seems wrong.
  ![image](https://user-images.githubusercontent.com/11008603/93010660-856e4d80-f5ac-11ea-830f-7da3a422c8a6.png)

- [x] Click "Feedback" icon. Then when clicking profile icon, it's blocked by the feedback box. @aishwary023
- [ ] For NumericInput interaction, allow

[2020-09-13 05:11] kevintab95 opened #10668 "Allow bulk assigning skills to a topic in the topics + skills dashboard"
Currently, if multiple skills need to be assigned to a topic, the user has to click on individual skills in the topics and skills dashboard and assign them to a topic. It would be convenient to have a bulk-assign option for this. It would be useful to introduce a generic bulk selection feature that allows assigning to skills or deletion in bulk.

[2020-09-13 05:27] kevintab95 commented on #10645
Hm, yes this does look odd. But seems to occur only in Firefox. On chrome the text gets truncated after a limit.

[2020-09-13 05:40] rohitkatlaa opened #10670 "When discard draft is clicked, the field are not reset in the Topics editor and skill editor page"
**Describe the bug**
When discard draft is clicked the fields in the topic editor are not reset to their original values.
When the cancel button is clicked in the save modal, `the changes are saved` alert arises.

When discard draft is clicked the fields in the skill editor are not reset to their original values.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topic and skill editor

[2020-09-13 07:35] seanlip commented on #2901
Discussed with @jacobdavis11 -- closing this, since the flow isn't too bad at the moment.

[2020-09-13 07:35] #2901 closed

[2020-09-13 11:19] agbanusi commented on #8472
Hi, I'm working on the thread-data.services.ts file, which I have to the best of my knowledge completed, now testing phase, Each time I run this command thanks to the wiki migration page 'python3 -m scripts.run_frontend_tests' on my linux machine I get this error
File "/home/kali/Documents/oppia/scripts/install_third_party_libs.py", line 44, in <module>
    if 'can\'t combine user with prefix' in

[2020-09-13 13:04] vojtechjelinek commented on #10386
@Showtim3 How is this going?

[2020-09-13 17:01] #10594 closed, assigned to Showtim3

[2020-09-13 17:09] #10642 closed, assigned to Showtim3

[2020-09-14 04:13] DubeySandeep commented on #10629
@kaylahardie, We do have a loading view for the "opportunities loading" it wasn't working because of some regression and I've fixed it.
![image](https://user-images.githubusercontent.com/16653571/93043212-c3cc4100-f66e-11ea-82dd-8ad0aca2970b.png)

It's happening because we are using value attribute instead of ng-value. I've fixed it. [I'll create a PR soon]

@kaylahardie Currently the contributor

[2020-09-14 04:19] DubeySandeep commented on #10389
@kaylahardie, Is ita duplicate issue https://github.com/oppia/oppia/issues/9021? If yes can we close this one?

[2020-09-14 07:35] #10240 closed, assigned to sajalasati

[2020-09-14 13:15] #10477 closed, assigned to nobody

[2020-09-14 19:13] kaylahardie commented on #10389
Yes @DubeySandeep - I'll close it but it's not just that it isn't mobile friendly - it's more that it isn't responsive right? I initially noticed the issues on my desktop

[2020-09-14 19:13] #10389 closed, assigned to nobody

[2020-09-14 19:15] kaylahardie commented on #10629
Sounds good @DubeySandeep, I was just following up here as part of my release testing :)

[2020-09-14 19:18] kaylahardie commented on #10625
Nope @kevintab95, no console errors
<img width="2039" alt="Screen Shot 2020-09-14 at 12 17 32 PM" src="https://user-images.githubusercontent.com/19376937/93128433-53301f00-f684-11ea-9212-3bff8e4c5c77.png">

[2020-09-14 20:04] kevintab95 commented on #10606
Should we show a "coming soon" message here when there are no stories (similar to what is shown in the practice tab)?
/cc @seanlip @aks681

[2020-09-14 21:13] kevintab95 commented on #10658
Hi @U8NWXD, I have a potential fix for this but I don't have a way to verify it on an iPhone (this issue is not reproducible on android devices). Can you please check out this PR https://github.com/oppia/oppia/pull/10684 and try to repro it locally? You can find instructions on how to access the local server on mobile devices [here](https://github.com/oppia/oppia/wiki/Mobile-device-testing#accessi

[2020-09-14 21:24] seanlip commented on #10606
Yes, I think that would be a good idea.

[2020-09-14 21:29] aks681 opened #10685 "Learner Dashboard UI Issue on Mobile"
**Describe the bug**
The Learner Dashboard on Chrome mobile (works correctly on Firefox mobile) is not rendered properly with the navbar rendered too wide.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/learner-dashboard' on Chrome mobile.

**Observed behavior**
A clear and concise description of what you have observed.

![Screenshot_20200915-025213_Chrome.jpg](https://user-images.

[2020-09-14 21:35] aks681 commented on #10685
An additional comment on this, drag and drop on the 'Play Later' section on mobile also doesn't work smoothly due to dragging causing the screen to scroll.

[2020-09-14 21:46] aks681 opened #10686 "Drag and drop on exploration cards in the 'Play Later' section doesn't work properly on mobile"
**Describe the bug**
Might be related to https://github.com/oppia/oppia/issues/8800. Due to the design of the cards in exploration play later list, 2 issues occur on mobile specifically:

- The 'Delete' button only appears if you hover on it on desktop and so only happens if you click on it on mobile (which is not very useful), even then deleting can sometimes open the exploration as well.
- Drag

[2020-09-14 22:49] kaylahardie opened #10687 "Send Reviewers Email Notifications Containing Recommended Suggestions for Them to Review on the Contributor Dashboard"
**Is your feature request related to a problem? Please describe.**
Currently, reviewers have to go to the Contributor Dashboard page to see if there are any suggestions that they can review. Since there are no reminders, reviewers may forget to go to the Contributor Dashboard page. This could result in a longer review turnaround time.

**Describe the solution you'd like**
The idea of this feature

[2020-09-15 07:25] #861 closed

[2020-09-15 10:02] kevintab95 commented on #10641
Hi @Showtim3 has this been fixed? If so, please close this issue.

[2020-09-15 10:03] kevintab95 commented on #10611
Hi @Showtim3 has this been fixed? If so, please close this issue.

[2020-09-15 10:03] kevintab95 commented on #10609
Hi @Showtim3 has this been fixed? If so, please close this issue.

[2020-09-15 10:03] kevintab95 commented on #10608
Hi @Showtim3 can you please take a look at this?

[2020-09-15 10:04] kevintab95 commented on #10605
Hi @Showtim3 has this been fixed? If so, please close this issue.

[2020-09-15 10:04] kevintab95 commented on #10604
Hi @Showtim3 can you please take a look at this? Thanks!

[2020-09-15 10:04] kevintab95 commented on #10649
Hi @Showtim3 can you please take a look at this? Thanks!

[2020-09-15 10:14] ankita240796 commented on #8472
Hi @agbanusi, were you able to fix the issue? If not, can you share the details with me over an email? Thanks!

[2020-09-15 13:24] nithusha21 commented on #10608
Just to add... When there are 3 pages on the topics dashboard, and I use the arrows around < 1 2 3 > to navigate... it doesn't go from page 2 to 3 while I click the right arrow.

[2020-09-15 13:25] nithusha21 commented on #10596
/cc @vojtechjelinek

[2020-09-15 14:01] kevintab95 commented on #10596
Hi @vojtechjelinek would you be able to take a look at this?

[2020-09-15 15:17] vojtechjelinek commented on #10596
Yep, I will look into it.

[2020-09-15 17:46] arpit1912 commented on #10474
@nishantwrp I would like to be assigned the file AnswerClassificationResultObjectFactory.ts. More so, can you guide me on how I should be dealing with the errors that deal with the null value passed in one of the parameters(string type)?

[2020-09-15 18:25] nishantwrp commented on #10474
Hi @arpit1912 assigned you. Also, you'll have to refactor the code a bit. So, the net functionality doesn't change. Maybe you can see why the `null` value is being sent and whether we can send an empty string instead.

[2020-09-15 19:24] arpit1912 commented on #10474
Thanks!

[2020-09-15 21:14] #10596 closed, assigned to vojtechjelinek

[2020-09-16 01:35] jimbyo commented on #10625
@kevintab95 @kaylahardie The console errors show up for me, and no translations show up for me either.
![Screen Shot 2020-09-15 at 6 33 39 PM](https://user-images.githubusercontent.com/35385366/93281988-2cf0a900-f782-11ea-8054-9d78b5a1a23b.png)

[2020-09-16 01:40] U8NWXD commented on #10658
@kevintab95 I tried following the instructions from the wiki, but I wasn't able to connect to the development server. This is likely because of some detail of how my system is configured, and I'll try to figure it out. In the meantime though, it might be faster to see if someone else can get it to work. Based on filed issues, it looks like MNSDivya has an iPhone.

@MNSDivya would you be able to te

[2020-09-16 02:29] jimbyo opened #10696 "Skill ids are not viewable in My Contributions > Skills"
**Describe the bug**
Skill id error and skills are not loaded

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [https://oppiatestserver.appspot.com/contributor-dashboard)](https://oppiatestserver.appspot.com/contributor-dashboard)
 2. Click on 'My Contributions.'
 3. Click on 'question' tab with dev console open
 4. See error

**Observed behavior**
No skill ID error raised on page and

[2020-09-16 04:29] MNSDivya commented on #10658
I have tested on Iphone XS and fix seems working
![image](https://user-images.githubusercontent.com/56336353/93292469-4ab22280-f803-11ea-855c-6fb47912ebf3.png)

Was able to drag and drop items.

FYI @kevintab95 @U8NWXD

[2020-09-16 05:05] simranmahindrakar commented on #10306
Hi @kevintab95 I would like to take up this issue! I am a new contributor. I have submitted the CLA and the New Contributor Survey.

[2020-09-16 05:22] darksun27 commented on #8472
@dheeraj1997 are you migrating exploration-data-service? I need it to migrate user-email-preferences

[2020-09-16 09:09] vojtechjelinek commented on #6271
@DubeySandeep Could someone complete `update_interaction_answer_groups`, it seems that many new contributors get stuck on it so it might make sense that some experienced contributor will take a look at that. If you agree please remove the good first issue label and remove this issue from the onboarding doc.

[2020-09-16 09:24] vojtechjelinek commented on #9253
Removing good first issue for now, after this PR is ready to be tackled by new contributor please add it back @brianrodri

[2020-09-16 09:42] kevintab95 commented on #10658
Hi @MNSDivya, looks like you have tested on the test server (where my fix is not present). Curious why the error was not reproducible. Can you please check if this is happens in the firefox browser (which is where this was originally reported)? Thanks!

[2020-09-16 10:59] kevintab95 commented on #10306
Hi @simranmahindrakar, can you please list which files (see issue description) you'd like to work on? I'll assign you to those files.

[2020-09-16 11:09] kevintab95 opened #10697 "Remove Moment.js from the codebase"
Moment.js is a legacy project and should not be used in modern applications (see project status [here](https://momentjs.com/docs/#/-project-status/)). Oppia codebase uses moment.js in `date-time-format.service.ts` for date format conversions. Changes will need to be made to replace moment with one of the alternatives mentioned [here](https://momentjs.com/docs/#/-project-status/recommendations/).

[2020-09-16 14:13] rohitkatlaa commented on #10049
@vojtechjelinek I would like to work on the first two tasks.
ExpSummaryModel → translator_ids
 UserSettingsModel → gae_user_id

[2020-09-16 15:20] #9245 closed, assigned to nobody

[2020-09-16 16:45] kevintab95 commented on #10641
@Showtim3 friendly ping!

[2020-09-16 16:45] kevintab95 commented on #10611
@Showtim3 friendly ping!

[2020-09-16 16:46] kevintab95 commented on #10609
@Showtim3 friendly ping!

[2020-09-16 16:46] kevintab95 commented on #10608
@Showtim3 friendly ping!

[2020-09-16 16:46] kevintab95 commented on #10605
@Showtim3 friendly ping!

[2020-09-16 16:46] kevintab95 commented on #10604
@Showtim3 friendly ping!

[2020-09-16 18:50] arpit1912 commented on #10474
Hi @nishantwrp, while making the strict check for the AnswerClassificationResultObjectFactory, I got stuck while writing the type check for the: /core/templates/domain/exploration/ParamChangeObjectFactory.js
In this file, the DEFAULT_CUSTOMIZATION_ARGS is being indexed using string type and has a user-defined type. I have tried two ways to solve this issue, but none of them seems to be working:
1)

[2020-09-16 19:28] nishantwrp commented on #10474
Hi @arpit1912, Can you please post the error you're getting in point `2`.

Thanks

[2020-09-16 19:41] arpit1912 commented on #10474
![Screenshot from 2020-09-17 01-08-35](https://user-images.githubusercontent.com/46648172/93384356-5abd1700-f882-11ea-95b1-2c81ebb1a349.png)

here is the error for it @nishantwrp , refer to the 2-5 errors which deals with this file.

[2020-09-16 19:48] nishantwrp commented on #10474
Oh, ok got it. The `{[key:string]: DefaultCustomizationArgs}` type is wrong. According to this type the `DEFAULT_CUSTOMIZATION_ARGS` would be a dict which further has `Copier` and `RandomSelector` property. I think you can replace the type of `generator_id` which is causing problems from `string` to `Copier | RandomSelector`.

Also, since this file has other dependencies like ParamObjectFactory an

[2020-09-16 20:22] arpit1912 commented on #10474
Thanks for the help @nishantwrp, just to wrap it up what is the type of ```DEFAULT_CUSTOMIZATION_ARGS```? as you see later in code the var is accessed as a dict type(```DEFAULT_CUSTOMIZATION_ARGS.Copier```), so I thought it's a dict type. Btw thanks for the quick response again. Will look upon a simpler file before further moving ahead in it. If you have a simpler file in mind please assign me the

[2020-09-17 07:25] srijanreddy98 opened #10700 "Refactor all migrated object factories to model.ts files in angular."
We have a new convention in the codebase for structuring data. Previously we used Object Factories but since the codebase is completely in Typescript, we can now move to typescript classes.

You can find instructions on how to migrate [here](https://github.com/oppia/oppia/wiki/Angular-Migration#implementation-details-to-refactor-object-factories). You can use #10701 and #10713 as reference example

[2020-09-17 08:35] nishantwrp commented on #10474
Hi @arpit1912, You can work on `AudioFileObjectFactory`, `AssignedSkillObjectFactory` or `AudioBarStatusService`. Since these are simpler files you can make a pr making all these files covered by strict checks. (I'm not even sure if there will be any errors when you compile these files in strict mode)

[2020-09-17 10:58] simranmahindrakar commented on #10306
Hi @kevintab95 I'd like to work on these files
oppia/oppia/core/templates/components/entity-creation-services/collection-creation-backend-api.service.ts

oppia/oppia/core/templates/components/profile-link-directives/profile-link-image-backend-api.service.ts

 oppia/oppia/core/templates/pages/delete-account-page/delete-account-page.module.ts

 oppia/oppia/core/templates/pages/signup-page/signup-pag

[2020-09-17 14:18] simranmahindrakar commented on #10306
Hi @kevintab95
I'd like to work on:
oppia/oppia/core/templates/components/entity-creation-services/collection-creation-backend-api.service.ts

oppia/oppia/core/templates/components/profile-link-directives/profile-link-image-backend-api.service.ts

oppia/oppia/core/templates/pages/exploration-editor-page/feedback-tab/services/thread-data.service.ts

[2020-09-17 14:37] kevintab95 commented on #10306
Sounds good, I've assigned you the mentioned files @simranmahindrakar. Thanks!

[2020-09-17 15:04] arpit1912 commented on #10474
Thanks for the suggestion @nishantwrp. Will look into these files.

[2020-09-17 16:16] purhan commented on #10474
Hi @nishantwrp ,  I'd like to work on `BrowserCheckerService`. Could you assign it to me?

Thanks

[2020-09-17 16:28] nishantwrp commented on #10474
@Purhan done!

[2020-09-17 17:25] arpit1912 commented on #10474
@nishantwrp the files that you assigned me don't have any error with strict checks, so should I make a pr now or you want me to do another file which has some errors(if yes please suggest some)?

[2020-09-17 17:56] nishantwrp commented on #10474
@arpit1912, You can make the pr adding those files. And then maybe choose other files to work on.

[2020-09-18 00:31] kaylahardie opened #10707 "Notify Admins if More Reviewers are Needed in Specific Review Categories on the Contributor Dashboard"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way for admins to know if there is a disproportionate amount of suggestions that need to be reviewed compared to the number of reviewers on the Contributor Dashboard. This could cause a longer review turnaround time.

**Describe the solution you'd like**
For each suggestion type (review category), there shoul

[2020-09-18 05:10] Hudda opened #10709 "Revert ownership to @Hudda after 2020-09-26"
Add @Hudda back to CODEOWNERS after 26th September

[2020-09-18 06:58] purhan commented on #10474
Hi @nishantwrp , while working on `BrowserCheckerService` I came across the following error:
[code]
To fix it, I declared `bcs` and `wrs` as objects, but now I am facing the following error:
![Screenshot from 2020-09-18 12-22-59](https://user-images.githubusercontent.com/10897423/93566085-188ef500-f9aa-11ea-8399-bfebd0840bc2.png)
Any idea how to fix this?

Meanwhile, I figured I could fix the `Cam

[2020-09-18 07:02] arpit1912 commented on #10474
hi @Purhan I have taken the file ```CamelCaseToHyphensPipe``` in my current pr can you work on any other file if possible?
Thanks

[2020-09-18 07:06] purhan commented on #10474
Oh, it's alright. It wasn't assigned in the issue checklist so I didn't notice.

[2020-09-18 07:33] Showtim3 commented on #10605
Fixed by #10669

[2020-09-18 07:33] #10605 closed, assigned to Showtim3

[2020-09-18 07:33] Showtim3 commented on #10641
Fixed by #10648

[2020-09-18 07:34] Showtim3 commented on #10634
Fixed by #10648.

[2020-09-18 07:34] #10634 closed, assigned to Showtim3

[2020-09-18 07:34] Showtim3 commented on #10611
Fixed by #10648.

[2020-09-18 07:34] #10611 closed, assigned to Showtim3

[2020-09-18 07:34] Showtim3 commented on #10609
Fixed by #10648.

[2020-09-18 07:34] #10609 closed, assigned to Showtim3

[2020-09-18 07:35] #10641 closed, assigned to Showtim3

[2020-09-18 07:36] Showtim3 commented on #10603
Yeah @kevintab95 The 1st point is expected.

[2020-09-18 08:47] nishantwrp commented on #10474
@arpit1912 @Purhan Just want to say that before working on a service please comment here to be assigned to that file first. To avoid conflicts like this.

[2020-09-18 08:48] nishantwrp commented on #10474
@Purhan You need to define a type for those variables as the error message suggested to fix that error. Thanks!

[2020-09-18 12:34] purhan commented on #10474
@nishantwrp I have not been able to fix this issue yet. Being new to typescript, I think I need to read more about user defined types before I can try fixing it. Could you assign me some other file that is easier to work on, like maybe `BackgroundMaskService` ?

[2020-09-18 17:08] nishantwrp commented on #10474
Hi @Purhan, you can refer to https://github.com/oppia/oppia/wiki/Guide-on-defining-types. Also assigned you `BackgroundMaskService`. Thanks!

[2020-09-18 17:42] sagangwee opened #10715 "[Contributor Dashboard] Admin page UI issues"
1. The "Remove review rights" dropdown is all the way to the right (see below) and hard to click. Better to have it on a separate line, like for "Add Reviewer".

![Screenshot from 2020-09-16 13-28-56](https://user-images.githubusercontent.com/9004726/93628558-c0a9bb80-f9b4-11ea-82ed-e98c73a709e6.png)

2. After you do an operation for a user, and then try to select their username in "View Contribut

[2020-09-18 20:08] sagangwee opened #10717 "[Contributor Dashboard] Surface metadata in translation suggestion review modal"
Currently, the review modal for translation suggestions does not surface the suggestion's topic, story, or chapter names. See below:

<img width="1676" alt="Screen Shot 2020-09-18 at 4 04 41 PM" src="https://user-images.githubusercontent.com/9004726/93640565-d032ff80-f9c8-11ea-8148-8e8abb4da49f.png">

We should surface at least "Topic Name - Story Name - Chapter Title" in the review modal for cont

[2020-09-18 20:21] sagangwee commented on #10629
@DubeySandeep Are you working on these issues? In particular, did you open a PR for the 'easy mode' bug?

[2020-09-18 20:25] sagangwee opened #10718 "[Contributor Dashboard] Suggestion review requiring multiple tries"
On the [backup server](https://oppiaserver-backup-migration.appspot.com/contributor-dashboard), accepting a suggestion as a reviewer took 2 tries. On the first try, after clicking the submit review button, the modal would exit, but the success toast did not fire and the review item would remain in the review list. On the second try, the review would correctly submit.

[2020-09-18 20:25] #10603 closed, assigned to kevintab95

[2020-09-18 20:25] #10650 closed, assigned to kevintab95

[2020-09-18 20:25] #10601 closed, assigned to kevintab95

[2020-09-18 20:25] #10606 closed, assigned to kevintab95

[2020-09-18 20:30] sagangwee opened #10719 "[Contributor Dashboard] 500 POST error: Unable to submit suggestions on backup server"
On [backup server](https://oppiaserver-backup-migration.appspot.com/contributor-dashboard): encounter a 500 server error when trying to submit question or translation suggestions:

![Screen Shot 2020-09-18 at 4 19 31 PM](https://user-images.githubusercontent.com/9004726/93642510-32413400-f9cc-11ea-853d-3a1f3cb85450.png)

[2020-09-18 20:34] sagangwee commented on #10719
Cannot reproduce on develop

[2020-09-18 20:35] sagangwee commented on #10718
Unable to repro on develop

[2020-09-18 21:10] sagangwee commented on #10719
Was able to submit a question suggestion for the "Convert repeated addition to a multiplicat..." opportunity on backup server.

[2020-09-18 21:12] sagangwee commented on #10718
Was able to accept question suggestion on first try for "Convert repeated addition to a multiplicat..." opportunity. Issue seems to only affect certain suggestions...

[2020-09-18 21:15] sagangwee commented on #10719
503 when submitting suggestion for Comparing Fractions opportunity (French):

![Screen Shot 2020-09-18 at 5 13 56 PM](https://user-images.githubusercontent.com/9004726/93645659-80f1cc80-f9d2-11ea-99f5-eb0de7d3caa5.png)

[2020-09-18 22:09] sagangwee commented on #10696
Looks like this is occurring when fetching reviewable question suggestions in core/controllers/suggestion.py:73. The fix may be to pass in `strict=False` to the `skill_fetchers.get_multi_skills()` call in case the skill no longer exists (we delete skill opportunities when their corresponding skills get deleted, but we can add this as a defensive check). The skill state may have gotten corrupted so

[2020-09-18 22:10] sagangwee commented on #10719
This was due to the backup server being on the wrong version, after migrating to the correct version, the errors were resolved.

[2020-09-18 22:11] #10719 closed, assigned to sagangwee

[2020-09-18 22:19] sagangwee opened #10720 "[Contributor Dashboard] Note to user opportunities for which they have pending suggestions"
Currently, there is no indication on a question/translation opportunity that you have a pending suggestion. It would be convenient if we added a note to opportunities for which a user has a pending suggestion. For translation suggestions, this may be some sort of badge on particular translation text in the suggestion modal.

[2020-09-18 22:20] sagangwee opened #10721 "[Contributor Dashboard] Allow left/right navigation within translation suggestion modal."
Currently, one can only skip the current translation text within a translation suggestion modal. To go back, a user needs to exit the modal and re-open it.

[2020-09-19 02:42] DubeySandeep commented on #10415
Assigning @savithakj to the `opportunity` module. (As per offline discussion.)

[2020-09-19 15:42] OlgaKogiou commented on #8423
Hi :) I'm a newbie and I'd like to help with the Python part!

[2020-09-19 15:49] thewall2703 commented on #10306
Hi @kevintab95 I would like to work on this issue! I have submitted the CLA and the New Contributor Survey.

[2020-09-19 18:17] kevintab95 commented on #10612
Per discussion in https://github.com/oppia/oppia/pull/10673, (1) still needs to be fixed. But it is not considered a blocking bug, so removing this issue from the "blocking bugs" milestone.

[2020-09-19 21:59] kevintab95 commented on #10645
This will require an addition of a new field to store the page title in topics and it is planned for October release. Removing from blocking bugs for now.

[2020-09-19 21:59] kevintab95 commented on #10658
@MNSDivya friendly ping!

[2020-09-20 06:13] seanlip commented on #5193
(Seems to be still needed, let's leave it open.)

[2020-09-20 06:56] kevintab95 commented on #10655
@U8NWXD I'm unable to repro this. Can you confirm if this still occurs?

[2020-09-20 08:10] nishantwrp opened #10726 "configparser not installed with the start script"
#### Screenshot
![bug](https://files.gitter.im/561f4f4416b6c7089cb70f23/LtrD/server_test_error.PNG)

This should not happen. `configparser` similar to other dependencies should be installed with the start script.

[2020-09-20 08:39] kevintab95 commented on #10625
Hi @jimbyo, will you be able to fix this issue by 23rd? We're running a bit behind schedule on the release and it would be great if this issue can be fixed by then. Please let me know. Thanks!

[2020-09-20 09:25] vojtechjelinek opened #10727 "Rename field `activity_ids` to `exploration_ids` in the `UserSubscriptionsModel`"
Rename field `activity_ids` to `exploration_ids` in the `UserSubscriptionsModel`.

Find all the places where it is used and create a one-off job for the migration.

[2020-09-20 14:39] UJJWAL-1711 commented on #10474
Hi @nishantwrp  , I'd like to work on  the service AudioLanguageObjectFactory  . Could you assign it to me?
Thanks

[2020-09-20 14:42] DubeySandeep opened #10728 "Move language specific general purpose regex checks to third party custom checks"
- [x] Move all the [python regex check for function calls](https://github.com/oppia/oppia/blob/770832d876dd2c2a65a006ed8950ae0e7a9f3221/scripts/linters/general_purpose_linter.py#L349) to pylint custom check @sjiang647
   - Instruction: (The idea below is not looked very deeply and can be improved if needed)
       - Create a DisallowFunctionCalls class in [pylint_extensions.py](https://github.com/

[2020-09-20 14:48] DubeySandeep commented on #8423
Hi @OlgaKogiou, Thanks for showing interest in this issue unfortunately there isn't a simple starter issue for python left here, I would suggest you work on #10728 I've added instructions on how to fix that issue as well. Do let me know if you are interested in #10728, I'll go ahead and assign you to that issue.

Also, do let me know if you need any further help, I'll be very happy to help you out

[2020-09-20 15:16] OlgaKogiou commented on #10728
Hi :) I'm interested in helping here!

[2020-09-20 16:31] DubeySandeep commented on #10728
@OlgaKogiou, I've assigned you to this issue, you can start working on it. Do leave a comment if you have any questions for us on fixing this issue. We will be happy to help you! :)

[2020-09-20 16:33] OlgaKogiou commented on #10728
Thank you so much!!

On Sun, Sep 20, 2020, 7:31 PM Sandeep Dubey <notifications@github.com>
wrote:

[2020-09-20 17:01] nishantwrp commented on #10474
@UJJWAL-1711 assigned you!

[2020-09-20 17:43] dchen97 commented on #9579
Thanks Chantel! Sorry for the delay but I really like this iteration! It all looks good to me.

[2020-09-20 18:45] ArishSultan commented on #10306
@kevintab95 I would like to resolve this issue

[2020-09-20 19:54] kevintab95 opened #10732 "Skill difficulty looks unselected for a published question"
**Describe the bug**
Skill difficulty looks unselected for a published question

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/skill_editor/i4VpUyd8TSeR#/questions#Lh230X8heghy
 2. See that the skill difficulty is not selected even though the question has been published.

**Observed behavior**
Skill difficulty is not selected even though the question h

[2020-09-20 21:03] anumehaagrawal commented on #8668
@Showtim3 can you assign me the admin-router.service.ts file here?

[2020-09-20 21:40] kevintab95 opened #10733 "Validation error on specifying a new choice in Multi Choice input interaction"
**Describe the bug**
Validation error on creating a new choice in Multi Choice input interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with MultiChoiceInput interaction.
 2. In the customize args screen, add a new choice.
 4. See error.

**Observed behavior**
Error is shown even before the user could enter a valid input.

**Expected behavior**
Error should b

[2020-09-21 05:25] MNSDivya commented on #10658
![81846749-5CB8-46AD-9E7B-EDC3F0541461](https://user-images.githubusercontent.com/56336353/93734895-b972ef80-fbf8-11ea-9290-bd9e54a05b7a.png)
Sorry for the delay. Was able to drag and drop on Firefox browser.
Version 28.2 (2470)

[2020-09-21 06:09] Showtim3 commented on #8668
Hey @anumehaagrawal Done.

[2020-09-21 06:39] sajalasati opened #10736 "Implement Controllers for Android profiles"
Controllers are needed to connect the **Android profiles** with the backend as described in the **Full Remote Profile Support** Project (see the design document [here](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing)) need to be implemented. The storage and domain level changes have already taken place and controllers changes should happen on top of

[2020-09-21 08:34] kevintab95 commented on #10658
Thanks @MNSDivya! Removing this from blocking bugs since it is not reproducible.

[2020-09-21 12:29] kevintab95 commented on #10625
@jimbyo friendly ping!

[2020-09-21 13:24] arpit1912 commented on #10306
hi @kevintab95 I would like to work on ```oppia/oppia/core/templates/pages/email-dashboard-pages/email-dashboard-data.service.ts``` file, please assign the same to me.

[2020-09-21 16:24] #10608 closed, assigned to Showtim3

[2020-09-21 16:35] #10649 closed, assigned to Showtim3

[2020-09-21 19:04] #10522 closed, assigned to nobody

[2020-09-21 21:19] jimbyo commented on #10625
@kevintab95 I think so but I'll update you again later tonight

[2020-09-21 21:23] kevintab95 commented on #10625
Sounds good, thanks @jimbyo!

[2020-09-21 22:38] sagangwee commented on #10625
Might be duplicate of https://github.com/oppia/oppia/issues/10696

[2020-09-22 01:29] U8NWXD commented on #10655
@kevintab95 I just confirmed that this still occurs on the test server

[2020-09-22 02:46] seanlip opened #10746 "Entering bullet points in the subtopic-editor page results in their being right-aligned."
**Describe the bug**
Entering bullet points in the subtopic-editor page results in their being right-aligned. This seems to be due to the "text-right" class here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/topic-editor-page/subtopic-editor/subtopic-editor-tab.component.html#L84

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topic editor page, create a subtop

[2020-09-22 02:46] seanlip commented on #10746
/cc @Showtim3 @kevintab95

[2020-09-22 04:05] UJJWAL-1711 commented on #10474
Hi @nishantwrp made a PR for AudioLanguageObjectFactory service but it gets closed repeatedly due to "Unmerged commits"
could u please help ,also I fetched the upstream before starting , added remote uplink while starting and also made sure there are no unstaged commits .

[2020-09-22 06:16] srijanreddy98 opened #10748 "Oppia-custom-es-lint checks are not found"
Every ts file in the codebase is running into this lint error:

`1:1    Definition for rule 'oppia/no-multiline-disable' was not found  oppia/`

**NPM error log:**
[code]

[2020-09-22 10:20] kevintab95 opened #10749 "TODO remove workaround for passive event listeners when jQuery supports it"
Oppia uses "default-passive-events" to set { passive: true } automatically every time a new event listener is declared. This causes problems when a third party libraries define event listeners but does not support passive event listeners yet. One occurence of this is the use of angular ui-sortable, which is dependent on jQuery -- which unfortunately does not support passive events yet (see https:/

[2020-09-22 10:43] nishantwrp commented on #10474
@UJJWAL-1711. the pr didn't close due to some unmerged commits. It was closed because you didn't sign the CLA. Please follow instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) before making a PR.

[2020-09-22 11:00] UJJWAL-1711 commented on #10474
Already Signed it...
https://photos.app.goo.gl/TcsnQnux7RzC8N1B8
I also got a confirmation email regarding the same earlier....

[2020-09-22 11:11] nishantwrp commented on #10474
That's weird. @seanlip, @jameesjohn any ideas why that might be happening?

[2020-09-22 11:14] linnhallonqvist commented on #8668
Hi! I would like to start contributing to the Oppia project as a part of an open source course I take at university. @Showtim3 could you assign me to the date-time-format.service.ts file?

[2020-09-22 17:21] #10636 closed, assigned to kevintab95

[2020-09-22 17:21] #10685 closed, assigned to kevintab95

[2020-09-22 17:23] #10491 closed, assigned to kevintab95, Showtim3

[2020-09-22 18:16] #10597 closed, assigned to kevintab95

[2020-09-22 18:16] #10686 closed, assigned to kevintab95

[2020-09-22 18:16] #10746 closed, assigned to kevintab95

[2020-09-22 18:51] seanlip commented on #10474
@UJJWAL-1711 made a typo when entering their GitHub username. This should now be fixed.

[2020-09-22 21:24] #10587 closed, assigned to kevintab95

[2020-09-22 21:46] kevintab95 opened #10754 "Use rem or em instead of px as the standard CSS unit"
1. Better maintainability: Using rem or em allows devs to tweak the proportion of designs without having to manually adjust each rule. This is not the case with pixels where this process can be time consuming and error prone. See [post](https://css-tricks.com/building-resizeable-components-relative-css-units/) for some examples.
2. Better accessibility: rem respects the default font size that the

[2020-09-22 22:29] kevintab95 opened #10756 "Lint error: Definition for rule 'oppia/no-multiline-disable' was not found oppia/"
Lint errors of the form "Definition for rule 'oppia/no-multiline-disable' was not found  oppia/" are seen in local machines when trying to push code but these errors do not show up on Github actions.

[2020-09-22 22:35] kevintab95 commented on #10756
Seems to be a duplicate of #10748. Closing.

[2020-09-22 22:35] #10756 closed, assigned to nobody

[2020-09-22 23:00] #10748 closed, assigned to DubeySandeep

[2020-09-23 04:26] kaylahardie opened #10757 "Add a check to validate the values of the counts of the CommunityContributionStatsModel"
**Describe the bug**
This is a follow up to PR #10708. @DubeySandeep [brought up](https://github.com/oppia/oppia/pull/10708#discussion_r491262293) that there should be a check in the prod validator that ensures that the counts in the CommunityContributionStatsModel correspond to the total number of associated models in the datastore. For example, the check would make sure that the value in the que

[2020-09-23 06:32] #10697 closed, assigned to nobody

[2020-09-23 08:02] vojtechjelinek opened #10758 "Adress comments from #10674"
- https://github.com/oppia/oppia/pull/10674/files/b4b23037bb9a6e99488a594b24757a156afef94d#r493204135
- https://github.com/oppia/oppia/pull/10674#discussion_r493253203

[2020-09-23 15:12] pankajdahiya008 commented on #8472
How to confirm expression-type-parser.service.ts file is still assigned to me as some delay occured in setup process due to errors.?

[2020-09-23 17:26] arpit1912 commented on #10474
Hi @nishantwrp can you assign me ```CollectionPlaythroughObjectFactory```, ```CollectionRightsObjectFactory```.
Thanks!

[2020-09-23 21:11] nishantwrp commented on #10474
@arpit1912 done!

[2020-09-24 07:06] seanlip opened #10766 "When clicking back to the story editor from a chapter, the URL should change accordingly."
**Describe the bug**

When clicking back to the story editor from a chapter, the URL should change accordingly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new story.
 2. Add a chapter to it.
 3. At the top of the story editor page, click the story title to navigate back to the story editor.

**Observed behavior**
The URL doesn't change. It's still at /story_editor/{{story_id}}

[2020-09-24 07:06] seanlip commented on #10766
/cc @Showtim3

[2020-09-24 07:39] seanlip opened #10767 "Adding a new chapter, and then cancelling, gives a weird error."
**Describe the bug**

When adding a chapter to a story, and then cancelling the operation, the following error appears: "The given node is already a destination node." I don't know what this means.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new story.
 2. Click the "+Add Chapter" button in the box on the right.
 3. Cancel to exit the modal.

**Observed behavior**
An error pops

[2020-09-24 07:39] seanlip commented on #10767
/cc @Showtim3 @kevintab95 (note that this results in a server error)

[2020-09-24 07:49] preetichand opened #10768 "Facing error while installing oppia on windows!"
Hello, I am trying to resolve the error 'module object has no attribute LifoQueue'.This error occurs while installing oppia on my windows system using ubuntu subsystem. I followed the guide but still facing the problem.

[2020-09-24 08:44] #10556 closed, assigned to donosco99

[2020-09-24 09:37] #10768 closed, assigned to nobody

[2020-09-24 10:31] arpit1912 commented on #10474
Hi @nishantwrp  while checking the frontend-test the given error is coming, I'm not able to locate the file which is causing the issues can you help me with it?.. I checked the ```combined-tests.spec.js``` file as given in the log but it seems the error is in some other file.
![Screenshot from 2020-09-24 15-40-46](https://user-images.githubusercontent.com/46648172/94133797-c0ab2f00-fe7e-11ea-8f7a-

[2020-09-24 10:38] nishantwrp commented on #10474
Hi @arpit1912,

As you can see in the error the spec failing is
`Collection editor state service should initially return an empty collection rights`

Therefore the error is caused by the spec file of `CollectionEditorStateService` particularly while testing `should initially return an empty collection rights` `it` block.

Also, assigned you the object factory. Thanks!

[2020-09-24 11:02] arpit1912 commented on #10474
found it!:grin: Thanks for the help @nishantwrp .

[2020-09-24 12:09] ChiaraBi commented on #8015
@kevintab95 Hi, I would like to work on `core/templates/domain/summary/exploration-summary-backend-api.service.ts`. Could you please assign me to it? :)

[2020-09-24 18:27] kevintab95 commented on #8015
Sure @ChiaraBi I've just assigned it to you!

[2020-09-24 22:36] kaylahardie opened #10772 "Address typos and grammatical errors"
**Describe the bug**
This is a follow up to PR #10764:

@BenHenning made a [comment](https://github.com/oppia/oppia/pull/10764#discussion_r494008908) that my error messages for base_model_validators.ERROR_CATEGORY_FIELD_CHECK errors should say 'expected model' instead of 'expect model'. This needs to be corrected for all of the base_model_validators.ERROR_CATEGORY_FIELD_CHECK error messages in pro

[2020-09-24 22:53] aks681 commented on #10655
@U8NWXD I wasn't able to repro the first point on test server or develop, with a physical device and by emulating an iPhone 6. Can you maybe post a gif of it happening?

[2020-09-24 22:55] kevintab95 commented on #10767
Hi @seanlip, I'm unable to reproduce this on develop or the test server. Here's a GIF showing the repro steps mentioned above.

![chaprep2](https://user-images.githubusercontent.com/11008603/94208286-1f0bf800-fee7-11ea-93e2-9daa23f20fe3.gif)

I think I might be missing something. Can you please check?

[2020-09-24 23:08] aks681 commented on #10572
Closing this since this is no longer reproducible on develop or test server (https://oppiatestserver.appspot.com/learn/math/fractions)
![image](https://user-images.githubusercontent.com/22347970/94209052-f4bb3a00-fee8-11ea-9cab-14fe2b7cec02.png)

[2020-09-24 23:08] #10572 closed, assigned to aks681

[2020-09-25 00:10] kevintab95 commented on #10767
Closing this since it appears to be fixed on develop.

[2020-09-25 00:10] #10767 closed, assigned to kevintab95

[2020-09-25 00:42] U8NWXD commented on #10655
@aks681 here's a gif of it hapening

![trimmed](https://user-images.githubusercontent.com/19878639/94214014-5c9c6100-fea6-11ea-9f78-c497557afdd9.gif)

[2020-09-25 15:17] aishwary023 commented on #10306
Hi @kevintab95, I would like to work on
- ```oppia/oppia/core/templates/pages/profile-page/profile-page-backend-api.service.ts```
-   ```oppia/oppia/core/templates/pages/profile-page/profile-page.component.ts```

Please assign the same to me. This would be my first contribution to Oppia. I have already filled the CLA and Contributor Survey.

Thanks

[2020-09-25 15:30] kevintab95 commented on #10306
Sure, I've assigned those file to you @aishwary023.

[2020-09-25 15:31] kevintab95 commented on #10306
Hi @arpit1912, I've assigned `email-dashboard-data.service.ts` to you. Thanks!

[2020-09-25 15:32] kevintab95 commented on #10306
Hi @thewall2703, @ArishSultan which files would you like to work on?

[2020-09-25 15:34] ArishSultan commented on #10306
First 5 files in the above list

[2020-09-25 15:44] kevintab95 commented on #10306
@ArishSultan, the first 3 are already assigned. Can you please specifically mention which files you'd like to work on so that I can assign those to you? Also, can you confirm that you have followed the steps in this [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) (specifically, have you submitted the CLA and contributor survey)?

[2020-09-25 17:54] sagangwee opened #10779 "Temporarily transfer codeowners for contributor dashboard project until 2020-10-05"
Transfer codeowners from sagangwee@ to dubeysandeep@ until 2020-10-05.

[2020-09-25 21:04] seanlip commented on #6271
Hi @DubeySandeep -- ping?

[2020-09-25 21:40] DubeySandeep commented on #6271
@vojtechjelinek, I only see 2 PRs related to  `update_interaction_answer_groups` part of this issue and the contributor left the PR in between the review comments. I think this can be solved as a good first issue, I'll try to assign this to a new contributor and get it fixed! Let me know what you think?

[2020-09-25 21:45] vojtechjelinek commented on #6271
Okay, I guess, maybe assign person that has at least one PR.

[2020-09-25 22:43] aks681 commented on #10588
This seems to be fixed on develop as of now, closing the issue:
![image](https://user-images.githubusercontent.com/22347970/94321909-9789bc00-ffae-11ea-96d9-8d6e99670662.png)

[2020-09-25 22:43] #10588 closed, assigned to aks681

[2020-09-25 23:26] savithakj commented on #8472
Hello @tyleri @bansalnitish , Can I work on translation-tab-active-mode.service.ts? Could you please assign me to it? :)

[2020-09-26 05:13] ArishSultan commented on #10306
oppia/oppia/core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts
 oppia/oppia/core/templates/pages/exploration-editor-page/translation-tab/services/voiceover-recording.service.ts
 oppia/oppia/core/templates/pages/contributor-dashboard-page/translation-language-selector/translation-language-selector.component.spec.ts
 oppia/oppia/core/templates/pages/contrib

[2020-09-26 07:26] seanlip opened #10788 "Extra space after "skill review" link in exploration cards."
**Describe the bug**
When a skillreview link is added in an exploration card's rich-text editor, there is an extra space after the link which looks quite awkward (see the "reference" text in the screenshot below, taken from the preview mode of the exploration editor content field):

![Screenshot from 2020-09-26 00-21-15](https://user-images.githubusercontent.com/10575562/94335230-ede70280-ff8e-11e

[2020-09-26 07:27] seanlip commented on #10788
@aks681, please could you take a look at this? Thanks!

[2020-09-26 10:00] DubeySandeep commented on #8472
Hi @savithakj, I've assigned you to `translation-tab-active-mode.service.ts`.

[2020-09-26 12:26] kevintab95 commented on #10604
Self-assigning this bug.

[2020-09-27 04:22] anjali0393 commented on #4558
Mesg for Vibhor Annand. SSR warrior
A_khard@hotmail.com

[2020-09-27 06:18] Showtim3 commented on #8746
Added in #10584.

[2020-09-27 06:18] #8746 closed, assigned to nobody

[2020-09-27 18:27] kevintab95 commented on #10098
Hi @DubeySandeep, this issue is blocking the release. Can you please confirm when a PR can be raised for this? Thanks.

[2020-09-27 21:04] U8NWXD opened #10798 "Fixing End-to-End Tests with action.js and waitFor.js"
# Introduction

## Background

To ensure Oppia remains available and high-quality for our students, we run end-to-end tests on all PRs to check that the site's functionality hasn't been broken. Recently, these tests have begun failing non-deterministically. This frustrates developers and slows their work by incorrectly indicating that developers’ changes are faulty. The goal of this issue is to he

[2020-09-28 05:04] ankita240796 opened #10801 "Update delete method in VersionedModel to ensure it automatically deletes commit log models"
The deletion of any versioned model should be accompanied by deletion of corresponding commit log entry and snapshot models. As of now, the [delete](https://github.com/oppia/oppia/blob/develop/core/storage/base_model/gae_models.py#L705) method removes the snapshot models but does not remove commit log models.

This issue was caught while running prod validation for the storage models in the follow

[2020-09-28 06:22] Hudda opened #10802 "Migrate _check_http_request to custom eslint checks"
Migrate [_check_http_request](https://github.com/oppia/oppia/blob/4a464ad2f2d4c07e9f2ba565335a90b7b39e40df/scripts/linters/js_ts_linter.py#L233) to custom eslint checks. As currently, the test for this check is failing on develop but passing on the local machine. Maybe it is flakiness. Moving this check to custom eslint will remove this error. Also, we were already planning to move these checks to

[2020-09-28 07:57] aishwary023 commented on #10474
Hi @nishantwrp!
I would like to work upon:
- ```DragAndDropSortInputRulesService```
- ```EditabilityService```
- ```EmailDashboardQueryObjectFactory```

Thanks!

[2020-09-28 11:59] nishantwrp commented on #10474
@aishwary023 assigned you. Thanks!

[2020-09-28 12:14] Showtim3 commented on #10306
Hey @ArishSultan Are these files related to each other? Can you pick 2-3 files, easier to work on and easier to review smaller PR's.

[2020-09-28 12:18] Showtim3 commented on #9499
Hey @subodhk01 What's up? Do you need some help with this?

[2020-09-28 12:25] Showtim3 commented on #8668
Hey @linnhallonqvist Done(sorry for the delay).

[2020-09-28 12:57] nishantwrp commented on #9453
Done in #10054.

[2020-09-28 12:57] #9453 closed, assigned to nobody

[2020-09-28 16:25] ankita240796 opened #10807 "Implement a robust update process for commit_cmds"
Any update to commit commands schema should be coupled with a migration to ensure that the commands are updated properly. As of now all commit commands are validated by a [ChangeDomainObject](https://github.com/oppia/oppia/blob/develop/core/domain/change_domain.py) for respective models but there is not pipeline setup for updating any of these commands. A update is as simple as changing the name o

[2020-09-28 16:41] ankita240796 opened #10808 "Ensure robust creation and deletion of commit log and snapshot models"
Every versioned model creation should be strictly tied with creation of corresponding commit log and snapshot models. Further, deletion of commit log and snapshot models should be only possible when the versioned model is deleted. In all other cases, deletion should result in an error.

The suggested fix:

- The put for a storage model, respective commit log and snapshot model should be run in tra

[2020-09-28 16:56] ankita240796 opened #10809 "Implement a process to ensure external storage models linked to a storage models are updated in case of storage model deletion"
Storage models are linked in a way such that there are external storage models which store information related to a storage model. For example, exploration model has an exploration recommendation model to store recommendations linked to the exploration.

We should have a robust implementation which stores all external models linked to a storage model and divides them into two categories:

- **Cate

[2020-09-28 17:14] #10528 closed, assigned to kevintab95

[2020-09-28 18:20] ankita240796 opened #10810 "Ensure date time fields are correct for all Storage models"
We need to ensure:
- All date time fields in a model are less than the value of current timestamp
- `last_updated` field in a model is always greater than or equal to the `created_on` field.

A strange issue was found while prod validation where some of the storage models have last_updated field less than created_on field.

This issue needs to be dig into deeper and we need to find out the root ca

[2020-09-28 18:45] ankita240796 opened #10811 "Ensure users are not allowed to self subscribe"
Prod validation for UserSubscribers model caught an issue where an user was present in their own subscribers list.

The fix for this issue would be to update the [subscribe method](https://github.com/oppia/oppia/blob/develop/core/domain/subscription_services.py#L96) to check that `user_id` of the subscriber is never equal to the `creator_id`.

#10794 adds migration job to fix this issue in existin

[2020-09-28 19:03] dchen97 opened #10812 "Add logging for whenever a user views a review card"
**Is your feature request related to a problem? Please describe.**
In order to effectively analyze when a user is engaging with all of our content, we need to ensure we have proper logging in Google Analytics for when a user is engaging with our new review content.

**Describe the solution you'd like**
Add a Google Analytics event such that every time a user views a review card, the event is trigg

[2020-09-29 00:01] kevintab95 commented on #10629
Removing this issue from blocking bugs milestone because the feature will be disabled for September release.

[2020-09-29 01:01] seanlip commented on #10808
Perhaps we could do the put()s for the different models transactionally?

[2020-09-29 01:36] #10604 closed, assigned to kevintab95

[2020-09-29 05:23] ankita240796 commented on #10808
Just to confirm - you mean follow the put for versioned model by put for commit log / snapshot models?

[2020-09-29 05:24] seanlip commented on #10808
No, I mean collect the three models and do a put_multi(), or do the three puts within a transaction (search for `transactional` in the codebase for examples).

[2020-09-29 07:03] ankita240796 commented on #10808
Ah ok, checked this. Yes, that makes sense. Updated the issue.

[2020-09-29 13:38] aishwary023 commented on #8472
Hi @DubeySandeep @nishantwrp

Can I work on ``` solution-verification.service.ts``` ?

[2020-09-29 14:01] nishantwrp commented on #8472
Hi @aishwary023, I am not sure if that service can be migrated yet. (It uses `$injector.get` @srijanreddy98 wdyt). I suggest you pick any other service.

[2020-09-29 14:22] aishwary023 commented on #8472
@nishantwrp , Can we not use ```TestBed.get``` or is it only available for tests?

Else, I can work upon  ```learner-answer-info.service.ts```

[2020-09-29 14:31] nishantwrp commented on #8472
I don't think we should use `TestBed` in non-spec files. Btw, assigned you the service.

[2020-09-29 15:30] Hudda opened #10816 "Migrate JS\TS lint checks to custom eslint checks"
Migrate the following JS\TS Lint checks from [js_ts_linter.py](https://github.com/oppia/oppia/blob/develop/scripts/linters/js_ts_linter.py)  to custom eslint checks:

- [x] `_check_http_requests`
- [x] `_check_js_and_ts_component_name_and_count` @AdityaDubey0
- [x] `_check_directive_scope` @AdityaDubey0
- [x] `_check_sorted_dependencies` @AdityaDubey0
- [x] `_match_line_breaks_in_controller_depend

[2020-09-29 17:15] #10635 closed, assigned to aks681

[2020-09-29 17:15] #10655 closed, assigned to aks681

[2020-09-29 17:15] #10656 closed, assigned to aks681

[2020-09-29 17:15] #10657 closed, assigned to aks681

[2020-09-29 17:15] #10628 closed, assigned to aks681

[2020-09-29 19:14] mridul-netizen commented on #10811
Hello,I'm Mridul undergraduate from J.C Bose University, Haryana.I have filled up the individual CLA,got mail for the contributor & want to contribute to this project.Can someone guide me that how do I get started for the same or mention some starting issues for beginners?

[2020-09-29 20:16] ankita240796 commented on #10810
@vojtechjelinek assigning this to you - just to leave a comment and close this as discussed in the meeting. Thanks!

[2020-09-29 23:22] ankita240796 opened #10820 "Implement a robust pipeline for validation of deprecated commit commands"
For each versioned model, we verify whether the commit command are valid or not via [change_domain.py](https://github.com/oppia/oppia/blob/develop/core/domain/change_domain.py).

Each model specifies a list of allowed commands with the attributes supported and while running an audit we check whether the commit commands are allowed or not. (Example: [ExplorationChange](https://github.com/oppia/oppi

[2020-09-29 23:41] ankita240796 commented on #10801
Closing this one since #10808 already covers the same point.

[2020-09-29 23:41] #10801 closed, assigned to nobody

[2020-09-30 00:51] kevintab95 opened #10822 "Skills list in the concept card editor takes too long to load"
**Describe the bug**
The backend call `/fetch_skills` takes 3+ secs to complete in the subtopic editor page. This call needs to be made faster.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the subtopic editor page for an existing topic.
 2. Click on the explanation field and add a concept card component.
3. Observe that the skill list in the modal takes too long to load.

**Observe

[2020-09-30 02:43] ArishSultan commented on #10306
oppia/oppia/core/templates/pages/exploration-editor-page/services/user-exploration-permissions.service.ts
oppia/oppia/core/templates/pages/exploration-editor-page/translation-tab/services/voiceover-recording.service.ts
oppia/oppia/core/templates/pages/contributor-dashboard-page/services/contribution-opportunities-backend-api.service.ts

Just assign me these three then

[2020-09-30 02:53] mridul-netizen commented on #8472
commented 8 hours ago
Hello,I'm Mridul.I have filled up the individual CLA,got mail for the contributor & want to contribute to this project.Can someone guide me that how do I get started for the same or mention some starting issues for beginners?

[2020-09-30 03:33] #10709 closed, assigned to Hudda

[2020-09-30 05:40] simranmahindrakar commented on #3968
Hey @Showtim3 I'd like to work on this file.
Change (the objects in core/templates/pages/exploration-editor-page/services/change-list.service.ts)
Please assign it to me.

[2020-09-30 08:00] Showtim3 commented on #3968
@simranmahindrakar Done.

[2020-09-30 08:22] simranmahindrakar commented on #3968
Thank you!

[2020-09-30 16:15] ankita240796 opened #10828 "Deprecate the cloned from field from explorations and remove all explorations which use the field"
While running [ExplorationRightsModelAuditOneOffJob](https://github.com/oppia/oppia/blob/7d8e659264582d7ce74bc6c139e597b82bca0e04/core/domain/prod_validation_jobs_one_off.py#L341), we found an issue that the `cloned_from` exp ids were missing.

The cloned from feature was removed from the UI quite a long time back (this happened in early 2014, in order to avoid having lots of duplicate exploration

[2020-09-30 17:01] rlhouser commented on #10415
I would like to try to work on the classifier model; thanks. @ankita240796, @DubeySandeep

[2020-09-30 17:29] kevintab95 commented on #10306
Hi @ArishSultan, I've assigned them to you. Thanks!

[2020-09-30 18:06] mridul-netizen commented on #10798
Hello @seanlip sir ,I'm a new contributor to oppia ,infact this would be my first issue ,so can I work upon this file  core/tests/protractor_utils/AdminPage.js ?

[2020-09-30 18:14] U8NWXD commented on #10798
@mridul-netizen I've assigned you to `core/tests/protractor_utils/AdminPage.js`! Please feel free to reach out to me if you have any questions. I'm here to help however I can

[2020-09-30 18:28] ThakurKarthik commented on #10798
Hi @U8NWXD can i take `core/tests/protractor_utils/ClassroomPage.js` file ?

[2020-09-30 18:45] nipan09 commented on #10798
Hi @U8NWXD, I am new contributor to oppia, can I work upon `core/tests/protractor_utils/LibraryPage.js`?

[2020-09-30 19:06] mridul-netizen commented on #10798
I have a doubt that can we make pull request before correcting the whole file or we have to first correct all of them?

[2020-09-30 19:09] vojtechjelinek commented on #10415
@rlhouser I have assigned you

[2020-09-30 19:16] U8NWXD commented on #10798
@ThakurKarthik I've assigned you to `core/tests/protractor_utils/ClassroomPage.js`. Please don't hesitate to reach out with any questions!

[2020-09-30 19:19] U8NWXD commented on #10798
@nipan09 I've assigned you to `core/tests/protractor_utils/LibraryPage.js`. Let me know if you have any questions!

[2020-09-30 19:28] U8NWXD commented on #10798
@mridul-netizen you can create a draft pull request if you aren't done with the file yet, but please finish the file before marking the pull request as being ready for review. We ask that pull requests represent a finished unit of work so that reviewers' time is used efficiently

[2020-09-30 19:30] mridul-netizen commented on #10798
Okay would keep that in mind from now on

[2020-09-30 20:17] kendallpomerleau commented on #10306
Hi! I just completed the contributor survey and submitted the CLA. I'd love to work on the following files:

 oppia/oppia/core/templates/domain/topic/topic-creation-backend-api.service.spec.ts
 oppia/oppia/core/templates/domain/topic/topic-creation-backend-api.service.ts

[2020-09-30 20:24] kevintab95 commented on #10306
Hi @kendallpomerleau, I've assigned those files to you. Thanks!

[2020-09-30 22:52] sunny1401 commented on #10415
I would like to try to work on the recommendations model. Thanks @ankita240796 @DubeySandeep

[2020-10-01 01:23] deekshanya commented on #10306
Hi, I would like to work on these files, and i have signed the CLA
oppia/oppia/core/templates/domain/recommendations/exploration-recommendations-backend-api.service.ts
 oppia/oppia/core/templates/domain/creator_dashboard/creator-dashboard-backend-api.service.ts
 oppia/oppia/core/templates/domain/question/pretest-question-backend-api.service.ts
 oppia/oppia/core/templates/domain/question/question-b

[2020-10-01 01:34] shrutigrover commented on #10474
Hi @nishantwrp ,

I have submitted the CLA and contribution survey. Can I please work on the following:

1. CsrfTokenService
2. DateTimeFormatService
3. DebouncerService

[2020-10-01 05:27] StephanieGreenberg commented on #10798
Hi @U8NWXD , can I work on `core/tests/protractor_utils/LearnerDashboardPage.js`?

[2020-10-01 06:21] vojtechjelinek commented on #10415
@sunny1401 I have assigned you.

[2020-10-01 06:50] nishantwrp commented on #10474
@shrutigrover, Sure! I've assigned you these services.

[2020-10-01 07:06] sabujmaity commented on #8472
Hi @DubeySandeep @nishantwrp !
Can I work on `exploration-creation.service.ts` ?

[2020-10-01 11:51] #10757 closed, assigned to kaylahardie

[2020-10-01 11:54] #9578 closed, assigned to anandwana001

[2020-10-01 12:34] U8NWXD commented on #10798
@StephanieGreenberg I've assigned you to `core/tests/protractor_utils/LearnerDashboardPage.js`. Please let me know if you have any questions!

[2020-10-01 13:23] nishantwrp commented on #8472
Hi @SabujPro, sure go ahead!

[2020-10-01 16:30] ThakurKarthik commented on #10798
@U8NWXD Hi, I have looked into this file https://github.com/oppia/oppia/blob/develop/core/tests/protractor_utils/ClassroomPage.js looks like nothing is there to be fixed here ?

[2020-10-01 16:38] U8NWXD commented on #10798
@ThakurKarthik `ClassroomPage.js` definitely doesn't need much! I took a look, and the one fix I found is here:

https://github.com/oppia/oppia/blob/d71b459af415cc72fd60f661252a44a143b49fd0/core/tests/protractor_utils/ClassroomPage.js#L31-L33

Here we count tiles without waiting to make sure they've loaded. You can't wait for the tiles though since there might not be any. You can find another elem

[2020-10-01 16:43] DragaDoncila commented on #8472
Hello @srijanreddy98, I'll work on `state-tutorial-first-time.service.ts` if that's ok!

[2020-10-01 16:48] prachi1801 commented on #10474
Hi @nishantwrp
I'm working on :
1. GraphDetailService
2. GraphUtilService

[2020-10-01 17:10] srijanreddy98 commented on #8472
@DragaDoncila -- Done! Assigned to you.

[2020-10-01 17:22] prashasthip commented on #8423
Add a lint check to ensure newline after the Args:, Returns:, Raises:, Yields: in docstrings.

Hi, I can take this on as part of the GHC OSD effort.

[2020-10-01 17:25] SpandanaNune commented on #6422
@kevinlee12 I would like to attempt this, is this issue still open?

[2020-10-01 17:33] EricZLou commented on #8423
@prashasthip Perfect! DM me on Slack if you need any guidance! Here to help :)

[2020-10-01 17:47] swatisriva1 commented on #8423
Hi! I'd like to work on the "Check to enforce use of Args, Returns and Raises in the docstring." issue under Python checks! (As part of GHC OSD)

[2020-10-01 18:05] EricZLou commented on #8423
@swatisriva1 Sounds good!

[2020-10-01 18:08] sf11047 commented on #10415
Hi! Can I work on refactoring audit?

[2020-10-01 18:15] PPenmetsa commented on #10474
Hi @nishantwrp
I'm working on :

AnswerClassificationResultObjectFactory
AnswerGroupsCacheService
AnswerStatsObjectFactory

[2020-10-01 18:23] nishantwrp commented on #10474
@prachi1801 @PPenmetsa assigned you!

[2020-10-01 18:25] vcamari2-bit commented on #10415
Can I try to work on audit?

[2020-10-01 18:25] EricZLou commented on #10415
@sf11047 absolutely! Assigned the task to you. Let us know if you have any questions!

[2020-10-01 18:28] EricZLou commented on #10415
@vcamari2-bit sorry! Audit just got assigned -- do you want to take a stab at one of the other modules?

[2020-10-01 18:28] seanlip commented on #9648
Deassigning @marianazangrossi because she is not currently working on this.

[2020-10-01 18:29] seanlip commented on #9311
Deassigning @marianazangrossi because she is not currently working on this.

[2020-10-01 18:29] seanlip commented on #8782
Deassigning @marianazangrossi because she is not currently working on this.

[2020-10-01 18:30] vcamari2-bit commented on #10415
Sure. How about config or email?

[2020-10-01 18:31] dchen97 commented on #10415
@vcamari2-bit - Go for config!

[2020-10-01 18:38] kiranmayee-dobbali commented on #8423
Hi, I would like to work on Add check for excessive new lines between function definition in a class.
- participating in GHC OSD

[2020-10-01 18:43] dchen97 commented on #8423
@kiranmayee-dobbali - Sounds good!

[2020-10-01 18:51] SpandanaNune commented on #8423
Hello,  I would like to work on "Add lint check for proper hanging indent in multiline docstrings. #6422" - as a part of GHC OSD

[2020-10-01 19:03] shujingl-2020 commented on #10415
Hi! I would like to work on the job module! As a part of GHC OSD

[2020-10-01 19:05] EricZLou commented on #10415
@shujingl-2020 awesome! Assigning you to the job module. DM me with questions!

[2020-10-01 19:08] pseyla commented on #10415
Hi! Could I work on the email module?

[2020-10-01 19:25] EricZLou commented on #10415
@pseyla absolutely!

[2020-10-01 19:27] Salset commented on #10415
Hey, can I work on the exploration module as part of GHC OSD?

[2020-10-01 19:32] KanikaPN commented on #8423
I would like to work on "Add a lint check to ensure that the type info of *args should be list(*)."

[2020-10-01 19:41] kiranmayee-dobbali commented on #10415
Hey, Can I get feedback module?  I am a part of GHC OSD.

[2020-10-01 19:44] ajin46 commented on #10415
Hi, can I work on Suggestion as a part of GHC OSD?

[2020-10-01 19:45] EricZLou commented on #10415
@Salset @kiranmayee-dobbali @ajin46 yes yes and yes! Let us know if you have any questions

[2020-10-01 19:58] dchen97 commented on #8423
Added you @KanikaPN. @SpandanaNune - I think that is a closed issue you're referencing. Would you be able to reference a specific issue in the original comment list that hasn't been checked yet?

[2020-10-01 21:36] emilyglue commented on #10306
hi! I've signed the CLA and would like to work on the following file to start:
oppia/oppia/core/templates/domain/skill/skill-creation-backend-api.service.ts

[2020-10-01 21:40] snowboat commented on #8423
Hi I'm part of GHC OSD. Can I take "Ensure that CODEOWNERS lines do not have any comments after the line."?

[2020-10-01 21:43] kevintab95 commented on #10306
Hi @deekshanya and @emilyglue, I've assigned you the files requested. Thanks!

[2020-10-01 22:10] DragaDoncila commented on #8472
@srijanreddy98  I didn't get a chance to finish this so it's probably best if you unassign it so it's available for someone else to pick up. Sorry about that!

[2020-10-01 22:13] dchen97 commented on #8423
Sure @snowboat!

[2020-10-01 22:34] vcamari2-bit commented on #10415
So, got through the steps... big win for me.  Not sure if I did it right.

[2020-10-01 22:41] jayshrin commented on #10415
Can I get question module?

[2020-10-01 23:17] dchen97 commented on #10415
@jayshrin - Sure! Let us know if you have any questions

[2020-10-02 01:09] snowboat opened #10852 "Can't run codeowner_linter_test on windows with WSL2."
**Describe the bug**
Hit an error when I try to run codeowner_linter_test.

**To Reproduce**
Steps to reproduce the behavior:
Run `python -m scripts.run_backend_tests --test_target=scripts.linters.codeowner_linter_test.py`

**Observed behavior**
Error message:
[code]

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: windows

[2020-10-02 01:13] U8NWXD commented on #10852
When I run the reproduction instructions, the test passes fine on 75fd9e92515a65c26bb66bc06d106523f1946993, but it fails for @snowboat and @EricZLou, who both use Windows. I use macOS, so we suspect this is a Windows-specific issue

[2020-10-02 01:15] seanlip commented on #10852
I ran

python -m scripts.run_backend_tests --test_target=scripts.linters.codeowner_linter_test

on linux ubuntu and it doesn't work either (gives the same traceback). It's probably something to do with how the scripts are imported, so it might be worth examining that logic (in scripts/run_backend_tests)

[2020-10-02 06:12] sabujmaity commented on #8472
Thanks!

[2020-10-02 10:53] darksun27 commented on #10852
The command you have written is wrong. You don't have to put .py at the end of target test. I ran this code in ubuntu 20.04. Test passed perfectly.

Logs:
https://pastebin.com/5w9SYDn6

[2020-10-02 13:25] darksun27 commented on #8472
@srijanreddy98 can you assign me admin-tab-config-backend-api.service ?

[2020-10-02 15:11] EricZLou commented on #10852
I ran the command without the `.py` and got the same error as the top. I'm working off of Windows Subsystem for Linux 2 under Ubuntu 18.04

[2020-10-02 16:38] karasinski commented on #10306
Hello, I've signed the CLA and survey, and would like to be assigned
 oppia/oppia/core/templates/domain/learner_dashboard/learner-dashboard-ids-backend-api.service.ts
 oppia/oppia/core/templates/domain/learner_dashboard/learner-dashboard-backend-api.service.ts

[2020-10-02 16:52] kevintab95 commented on #10306
@karasinski sure thing! I've just assigned those files to you. :)

[2020-10-02 22:59] BenHenning opened #10859 "Introduce test services to de-duplicate test helpers & data, and avoid inheritance"
**Is your feature request related to a problem? Please describe.**
Problem: most tests reuse existing test helper & test data, so we should ensure that we have established patterns for sharing test code & data across all tests that might benefit from it. We currently use inheritance (GenericTestBase & custom test classes), but there are a couple of issues with these:
1. Custom test classes don't f

[2020-10-03 03:08] mridul-netizen commented on #10798
Can I work on ```core/tests/protractor_utils/CollectionEditorPage.js```?

[2020-10-03 03:31] anandwana001 commented on #10474
@nishantwrp  It seems like `AudioFileObjectFactory` is done. It should be marked done.

Also, I tried with these below files and didn't find any errors to fix.
AppService
[code]

[2020-10-03 03:49] U8NWXD commented on #10798
@mridul-netizen I've assigned you to `core/tests/protractor_utils/CollectionEditorPage.js`!

[2020-10-03 06:56] sajalasati opened #10861 "Remove version attribute in ModifiableUserData class"
The `version` attribute in core.domain.user_domain.ModifiableUserData class needs to be removed because we already have the `schema_version` maintained. Ref to [this](https://github.com/oppia/oppia/pull/10241/files#r491717786) thread for more context.

[2020-10-03 08:26] Arya-Abhishek commented on #10306
Hello everyone, I am full stack developer but new to open source and wanted to work upon this I have filled the CLA form and contributor survey form, can you please guide me as I am new to open source but having good experience in javascript and mern stack development.

oppia/oppia/core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts

[2020-10-03 08:27] Arya-Abhishek commented on #10306
Dont't know much just saw previous comments and choosen a random file, could you help me.

[2020-10-03 08:28] Arya-Abhishek commented on #10306
But I am very eager and want to contribute, Thanks!

[2020-10-03 08:44] Arya-Abhishek commented on #9465
Hello, Can I work on this I have signed the CLA and contributors form and I want to take this

[2020-10-03 10:51] brianrodri opened #10863 "Stop overriding the put and put_async methods"
In Google App Engine NDB, `ndb.Model.put_multi` passed any extra arguments and keyword arguments into the `ndb.Model.put` method for convenience. In Cloud NDB, this functionality has been dropped.

For Oppia, this means we can no longer pass `update_last_updated_time` into `put_multi`; doing so will lead to a TypeError.

We will need to restructure the way we handle `last_updated_time`. Currently,

[2020-10-03 10:53] brianrodri commented on #10863
/cc @seanlip @BenHenning

[2020-10-03 14:58] Arya-Abhishek commented on #10306
Hi could you please assign me @kevintab95
oppia/oppia/core/templates/domain/topic_viewer/topic-viewer-backend-api.service.ts

[2020-10-03 15:23] HarshKhilawala commented on #10798
@U8NWXD Can i work on anyone of these ? I would also require some help and guidance, Hope you don't mind helping me out ?

[2020-10-03 15:29] rishi-raj-jain commented on #8423
Hi! I would like to contribute to  "Restrict use of px with 0." under CSS checks! Please assign it to me?
(Suggested by @U8NWXD)

[2020-10-03 15:43] HarshKhilawala commented on #8423
@U8NWXD  Would you mind me working on this issue ? But would require lot of guidance and support

[2020-10-03 16:14] kevintab95 commented on #10306
Just assigned it to you @Aryan-Abhishek. Thanks!

[2020-10-03 16:21] U8NWXD commented on #10798
@HarshKhilawala sure thing! I've assigned you to `core/tests/protractor_utils/ContributorDashboardPage.js`. Let me know if you run into any issues

[2020-10-03 16:31] vojtechjelinek commented on #10863
Hi, makes sense, will you change the places where we call it as part of your migration? I think that these methods need to be handled `put`, `put_multi`, `put_async`, `put_multi_async`.

[2020-10-03 16:47] brianrodri commented on #10863
Actually we'll need to move the call outside of all of those methods _before_ the migration. @seanlip mentioned you depend on `last_updated_time` the most, and that you'd know best on how to handle this refactor.

Any ideas?

[2020-10-03 16:54] vojtechjelinek commented on #10863
I think we can call `_update_timestamps` in all those methods (override them if needed) it will be duplicated, but that shouldn't be a problem.

[2020-10-03 16:54] arpit1912 commented on #10306
@kevintab95  please assign me ```oppia/oppia/core/templates/domain/exploration/stats-reporting-backend-api.service.ts``` file. Thanks!

[2020-10-03 17:00] brianrodri commented on #10863
I don't think that will work anymore because Cloud SDK doesn't call the class methods in its implementation, so our code won't be called. I can set up some time and include @seanlip so we can talk about it if you want?

[2020-10-03 17:31] UdokaVrede commented on #10306
yes I have

[2020-10-03 17:36] U8NWXD commented on #8423
@digitalPlayer1125 I've assigned you to `Restrict use of px with 0.`

[2020-10-03 17:37] U8NWXD commented on #8423
@HarshKhilawala I'm happy to help, and you're welcome to work on this issue! Which task would you like to take up?

[2020-10-03 17:55] Nik-09 commented on #9465
Hello community, I want to start my open source journey by contributing to this issue. Since I am complete beginner,  working on this will enhance my confidence very much. I have signed CLA for contribution in oppia/oppia.     Thanking You

[2020-10-03 19:28] nishantwrp commented on #10474
Hi @anandwana001, thanks for pointing that out. Also, feel free to create a pr for AppService. You can also choose to cover some more services along with this service. If you are doing so, please comment here the files you are working on. So, you can be assigned to them.

[2020-10-04 00:30] seanlip commented on #10863
I would suggest doing the following:

1. Introduce a new last_updated_by_human field that is manually updated whenever the entity is edited by a human. Modify the create()/put() method of every model class to deal with setting it manually; perhaps replicate it in every class rather than hide it away in the base class. Run a one-off job to initialize its value to be the same as last_updated.
2. Cha

[2020-10-04 05:55] Hudda commented on #8423
@kiranmayee-dobbali Sorry for the trouble but `Add check for excessive newlines between function definition in a class.` is already implemented. Can you please choose any other check? Thanks!

[2020-10-04 05:56] Hudda commented on #8423
@KanikaPN Sorry for the trouble but `Add a lint check to ensure that the type info of *args should be list(*).` is already implemented. Can you please choose any other check? Thanks!

[2020-10-04 06:02] Hudda commented on #8423
@RafayGhafoor @queencai I am unassigning you due to inactivity on the issue from the past 20 days. If you are still working on it please feel free to reply to this thread and I will reassign you. Thanks!

[2020-10-04 06:33] Hudda commented on #6081
Closing since we have this issue listed in #8423

[2020-10-04 06:33] #6081 closed, assigned to nobody

[2020-10-04 16:05] HarshKhilawala commented on #10798
@U8NWXD Please take a look at https://github.com/HarshKhilawala/oppia/commit/48c7af6b2bb2f647dc876a6b791daaf3500e3cac

So before I create any pull request, Please review it so I don't mess up with something.

[2020-10-04 20:25] rishi-raj-jain commented on #8423
Can I also be assigned "Check for space before and after = (comment)" or is it recommended to solve issues one by one?
Also, I read something about a pull request being made from a master branch / develop branch [not sure regarding the linter checks], but now for these fixes I've to create a PR from develop branch, right? This point can be added to the wiki pages as well, I guess?
Also, regarding

[2020-10-04 20:55] #10861 closed, assigned to sajalasati

[2020-10-05 01:30] U8NWXD commented on #8423
@digitalPlayer1125 I'm not sure about your other questions, but I can answer one of them:

You should create a PR from a new branch you make to the develop branch. The new branch you create should *not* be called "develop". For example, you might create a new branch named `new-lint-check`, make and commit your changes to that branch, and then make a PR from `new-lint-check` to `develop`

[2020-10-05 01:46] U8NWXD commented on #10798
@HarshKhilawala one note is to please create a new branch for your changes. This branch must *not* be called `develop`. Then you can go ahead and create a PR. It can't be merged into the code base until I review and approve it, so you don't need to worry about it getting merged prematurely. Also just as a general practice, we let the author of a PR merge it, so you'll be the one to merge the PR an

[2020-10-05 01:55] brianrodri commented on #10863
Actually, I think we should stop overriding the create()/put() methods altogether. Instead, we should look into using the API-encouraged hooks: https://cloud.google.com/appengine/docs/standard/python/ndb/creating-entity-models#using_model_hooks

[2020-10-05 02:00] seanlip commented on #10863
No objection to that either (as a modification to point 1).

[2020-10-05 04:23] the-known-anon commented on #10306
Hello @kevintab95 could you please assign the following files to me?
oppia/oppia/blob/develop/core/templates/services/playthrough-issues-backend-api.service.ts
oppia/oppia/blob/develop/core/templates/domain/exploration/state-interaction-stats-backend-api.service.ts
oppia/oppia/blob/develop/core/templates/domain/exploration/exploration-permissions-backend-api.service.ts

Thanks a bunch!

[2020-10-05 05:09] dchen97 commented on #9579
Just following up on this - are there any other open questions or can these mocks be finalized?

[2020-10-05 05:13] nipan09 commented on #10798
@U8NWXD I have tried running the testing using the commnad `python -m scripts.start` using **python2.7**, I run into an error as:
[code]
I have installed `pyaml`, but still getting the same error. What is the other way to resolve this?

[2020-10-05 05:19] seanlip commented on #9579
I think these can be considered finalized!

[2020-10-05 05:35] shrutigrover commented on #4057
Hi, can I work on tests for skill-creation.service.ts?

[2020-10-05 06:35] bansalnitish opened #10874 "Not able to run scripts.start"
**Steps performed**
1. Cloned oppia using ssh into `opensrc` folder
2. `cd oppia`
3. Ran `python -m scripts.start`

**Error**
![image](https://user-images.githubusercontent.com/22434689/95047072-04195f00-0703-11eb-8600-b9ca4c8c9f45.png)

**Device**
MacOS

[2020-10-05 09:09] darksun27 opened #10875 "Fix type mismatch in sampleCollectionBackendObject after refactoring of CollectionObjectFactory"
There is a type mismatch of objects in sampleCollectionBackendObject in collection-update.service.spec.ts when trying to refactor CollectionObjectFactory.

[2020-10-05 13:40] U8NWXD commented on #10798
@nipan09 This often happens when your `pip` is for python 3 instead of python 2. Are you working within a virtual environment? You can check by running

[code]

Can you check that `<pythonVersion>` is `2.7`?

More details in #8118

[2020-10-05 13:57] nipan09 commented on #10798
@U8NWXD, yes I am using python2.7 in my virtual env.
I have got this response for the python version:
`pip 20.2.3 from /home/nishant/Development/py2.7/local/lib/python2.7/site-packages/pip (python 2.7)
`

[2020-10-05 14:17] HarshKhilawala commented on #10798
@U8NWXD I have created pull request for ` ContributorDashboardPage.js` . Is there any issue which I can work on ?

[2020-10-05 14:20] kevintab95 commented on #10306
Hi @UdokaVrede, I'm unable to find the response to the contributor survey you have filled up. Can you please re-submit it [here](https://docs.google.com/forms/d/e/1FAIpQLSfiOd5WQp--PlbKAPmPLF14m0Ix2nTPwth9nb_48AHDv9fauw/viewform)? Thanks!

[2020-10-05 14:20] kevintab95 commented on #10306
Hi @the-known-anon, sure, just assigned them to you!

[2020-10-05 14:23] #10548 closed, assigned to aks681

[2020-10-05 14:39] ThakurKarthik commented on #10798
@U8NWXD please unassign the file assigned under my name. I am not getting time to look into the issue.

[2020-10-05 15:44] #10098 closed, assigned to kevintab95

[2020-10-05 16:56] Gagandeep1104 commented on #10798
Hey @U8NWXD, can I work on  core/tests/protractor_utils/ProfilePage.js?

[2020-10-05 19:10] akshayrathi2102 commented on #4057
Hi, can i take extensions/numbers-with-units-validations.service.ts?

[2020-10-05 19:42] sagangwee commented on #9465
@Aryan-Abhishek Yes, go for it! I've assigned you this issue. Thanks.

@Nik-09 I'm assigning Aryan-Abhishek first for now–thanks!

[2020-10-05 22:15] #10625 closed, assigned to jimbyo

[2020-10-05 22:15] #10696 closed, assigned to jimbyo

[2020-10-05 22:29] nkranthi28 commented on #8423
Hi! I would like to contribute to this issue. Could you please assign any unassigned tasks in python? Thank you!

[2020-10-06 00:17] mzaman07 commented on #8296
In this [codepen](https://codepen.io/mzaman07/pen/OJPjbJJ) there are several examples where right-to-left is displayed correctly.
In one case where the missing space between either side of the colon was causing incorrect right-to-left behaviour. The ideal solution should give the system the ability to discern and identify right-to-left text.

[2020-10-06 00:18] mzaman07 commented on #6762
This issue is free, I wasn't able to progress the way I needed to.

[2020-10-06 00:27] mzaman07 commented on #8838
Following the theme of my comments on this issue being extremely difficult to reproduce and pinpoint the exact cause.
I was not able to reproduce it alone. I think it would make sense for multiple people to look at from different angles and different setups. Sadly I was not able to figure it out, so I'll let others take on it.

[2020-10-06 01:11] U8NWXD commented on #10798
Done. Thanks for letting me know @ThakurKarthik!

[2020-10-06 01:11] U8NWXD commented on #10798
@Gagandeep1104 I've assigned you! Let me know if you have any questions

[2020-10-06 01:17] U8NWXD commented on #10798
@HarshKhilawala if you mean another task in this issue, feel free to take up any other task in this issue that isn't claimed yet. If you are looking for another issue entirely, check out our [wiki page of starter issues](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor). If you are asking whether there are issues to fix in your PR, see kevintab95's comment on th

[2020-10-06 01:20] U8NWXD commented on #10798
@nipan09 I've reached out to some other Oppia developers about this to see if they remember how this was fixed in the past. Ping me again if I don't get back to you in the next few days

[2020-10-06 01:34] mzaman07 commented on #8999
The reason for the issue is how browsers setup speech synthesis, it's hard to create one size fits all solution. In browsers that use the blink engine family (chrome, opera, chrome mobile) speech synthesis voices are downloaded from a server which implies that it's an asynchronous operation. Firefox, Edge, Safari, and iOS Safari load the speech synthesis voices via the client-side from the install

[2020-10-06 01:35] mzaman07 commented on #8998
check [here](https://github.com/oppia/oppia/issues/8999#issuecomment-703977248).

[2020-10-06 02:38] #10638 closed, assigned to DubeySandeep

[2020-10-06 03:01] gunishmatta commented on #10306
Hi @kevintab95 I have filled the CLA and the survey. I would like to work on this issue.
Please assign me the files
oppia/oppia/core/templates/pages/skill-editor-page/skill-preview-tab/skill-preview-tab.controller.spec.ts
 oppia/oppia/core/templates/pages/story-editor-page/story-editor-page.component.spec.ts

[2020-10-06 03:11] #10460 closed, assigned to nobody

[2020-10-06 03:34] kevintab95 commented on #10306
Hi @gunishmatta, I've assigned those files to you. Thanks!

[2020-10-06 04:40] arpit1912 commented on #10306
@kevintab95 I think you missed this:sweat_smile:. Please assign me the same to avoid conflicts.

[2020-10-06 04:54] Nik-09 commented on #9465
Alright!
Thank you.

[2020-10-06 04:56] kevintab95 commented on #10306
I've just assigned you @arpit1912. Sorry for missing your comment earlier!

[2020-10-06 08:29] purvimisal commented on #10415
Hi, I'd like to work on the story model.

[2020-10-06 08:36] nishantwrp commented on #4057
Hi @shrutigrover @akshayrathi2102, I've assigned you the services.

[2020-10-06 09:20] bansalnitish commented on #9222
@srijanreddy98 do we still want this?

[2020-10-06 09:21] bansalnitish commented on #8731
This is resolved I guess. Right @srijanreddy98 ?

[2020-10-06 12:22] sajalasati commented on #8423
@nkranthi28 I've assigned you to the task "Forbid use of "if x != None" (prefer "if x is not None" instead)" in Python. Feel free to ask any questions if you would have!

[2020-10-06 13:00] sajalasati commented on #10415
@purvimisal I've assigned you to it! Let us know if you have any questions.

[2020-10-06 13:06] sajalasati commented on #10415
@ankita240796 I've assigned the skill model to myself.

[2020-10-06 14:48] Deepam101 commented on #10306
Hi @kevintab95, I would like to work on

- oppia/oppia/core/templates/domain/skill/skill-mastery-backend-api.service.ts

-  oppia/oppia/core/templates/domain/skill/concept-card-backend-api.service.ts

Please assign the same to me. I have already filled the CLA and Contributor Survey.

Thanks

[2020-10-06 15:50] kevintab95 commented on #10306
Hi @Deepam101, I've assigned those files to you. Thanks!

[2020-10-06 20:00] kaylahardie opened #10889 "& character not being displayed correctly on the Contributor Dashboard."
**Describe the bug**
When you submit a translation or question on the contributor dashboard and include the & character, it shows the & character as `&amp;` in the contribution lists. Note the & character is shown correctly in the editor and in the pop up window when you click on the suggestion in the contribution list.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as an admin.
 2

[2020-10-06 20:10] sagangwee commented on #10213
Response from Abijeet Patro of translatewiki.net:

It should no longer be necessary to delete the key/value pairs.

No further action should be needed.

[2020-10-06 20:10] #10213 closed, assigned to sagangwee

[2020-10-06 21:54] kevintab95 opened #10891 "Moderator Page issues"
**Describe the bug**
1. Recent Feedback Messages table does not show exploration ids.
2. Type dropdown in featured activity table does not shows "undefined" for collections.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/moderator'
 2. See issues.

**Observed behavior**
1. Recent Feedback Messages table does not show exploration ids.
2. Type dropdown in featured activity table does

[2020-10-06 22:28] kevintab95 opened #10892 "Long skill names in the skills list in the subtopic editor seems to break alignment"
**Describe the bug**
Long skill names in the skills list in the subtopic editor seems to break alignment.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/topic_editor/GJ2rLXRKD5hw#/subtopic_editor/1'
 2. See error

**Observed behavior**
Long skill names in the skills list in the subtopic editor seems to break alignment.

**Expected behavior**
Long

[2020-10-06 22:37] kevintab95 opened #10893 "Question editor does not seem to show the selected difficulty for a saved question"
**Describe the bug**
Question editor does not seem to show the selected difficulty for a saved question.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill.
 2. Create a question for the skill.
 4. Visit the question editor for the skill and observe that the difficulty is not set.

**Observed behavior**
Question editor does not seem to show the selected difficulty for a saved qu

[2020-10-06 22:40] kevintab95 commented on #10893
Another issue:
The save button seems to be enabled even if there are no changes to be saved -- this is not in line with the behaviour in other editors in the application where the save button is disabled when there are no changes to be saved.

/cc @Showtim3

[2020-10-07 02:39] #10802 closed, assigned to Hudda

[2020-10-07 03:09] #10779 closed, assigned to sagangwee

[2020-10-07 04:08] seanlip commented on #10874
Hi @vojtechjelinek -- I checked with @kevjumba and he mentioned that you wrote the function in question. Do you know what's going on here?

[2020-10-07 04:09] seanlip commented on #10874
Ah -- @bansalnitish, @kevjumba thinks it's because you don't have xcode installed. Could that be the problem? (See the "missing xcrun" line.)

[2020-10-07 04:26] kevjumba commented on #10874
Xcode might be installed, but a lot of the times, xcode might not have the correct version tools, try to update your xcode.

[2020-10-07 05:10] jyan500 commented on #10306
Hi @kevintab95 , may I work on the following file?
- oppia/oppia/core/templates/domain/skill/skill-rights-backend-api.service.ts

[2020-10-07 05:48] Deepam101 commented on #10263
Hello, can I work on this issue?

[2020-10-07 08:52] seanlip opened #10897 "Revert CODEOWNER assignments to @seanlip after 2020-10-15"
@seanlip will be away from 10th to 14th October. This issue tracks the transferral of codeowners back to @seanlip after 2020-10-15.

[2020-10-07 14:39] Deepam101 commented on #10474
Hi @nishantwrp can you assign me
- AudioTranslationManagerService
- AugmentedSkillSummaryObjectFactory

Thanks

[2020-10-07 14:46] rt4914 opened #10899 "Tolerance should always be >=0 in NumericInputRulesService"
The value of tolerance in NumericInputRulesService should always be >=0 considering that if it is negative it will just reverse the order of limit and still with within the limit.
For example:
Value is `5` and tolerance is `2`. Range will become  [`5+2` , `5-2`] = [7, 3]
Value is `5` and tolerance is `-2`. Range will become  [`5-2` , `5-(-2)`] = [3, 7]

Reference: https://github.com/oppia/oppia/bl

[2020-10-07 17:42] nishantwrp commented on #10474
@Deepam101 done!

[2020-10-07 19:07] arpit1912 commented on #10700
@srijanreddy98  can I take up ```CollectionNode``` object factory. Thanks!

[2020-10-07 19:12] #10891 closed, assigned to kevintab95

[2020-10-08 01:05] #10811 closed, assigned to nobody

[2020-10-08 03:04] sainanee commented on #9936
Fixed after reverting #9744 in #9948

[2020-10-08 03:04] #9936 closed, assigned to sainanee

[2020-10-08 04:59] darksun27 commented on #10700
Hey! @arpit1912, CollectionNode is already migrate and is in the review phase. Could you please take some other ObjectFactory. Sorry for the inconvenience.

[2020-10-08 05:13] nairnikhil12 opened #10904 "No subscriptions in services"
Remove subscriptions from services and move them into components.

[2020-10-08 06:16] Shahrukh1505 commented on #10754
May I take up this issue?

[2020-10-08 08:09] rohitkatlaa opened #10905 "Notification showing negative count"
**Describe the bug**
The notification indicating the number of new suggestions and feedback shows negative value.
The mobile view for the notification is a little bugged. There are two ellipses. You can notice it when you move the above ellipse.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Create a suggestion
 3. Mark the suggestion as fixed.
 4. The notificatio

[2020-10-08 08:13] rohitkatlaa opened #10906 "The button for reverting the exploration doesn't seem to work sometimes"
**Describe the bug**
The button which is used for reverting the exploration doesn't seem to work sometimes

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Go to the history tab
 3. Try clicking the three dot button.

**Observed behavior**
The revert/download button doesn't show up.

**Expected behavior**
The revert/download button should show up.

**Screenshots**

[2020-10-08 09:46] dipanshparmar commented on #10306
Hi @kevintab95 , I'd like to work on the following files:

- oppia/oppia/core/templates/services/translate.service.ts
- oppia/oppia/core/templates/services/exploration-stats.service.ts
- oppia/oppia/core/templates/services/state-interaction-stats.service.ts

please assign me these files. I have already filled the CLA and Contributor Survey :)

[2020-10-08 10:55] nipan09 commented on #10798
@U8NWXD, I too have tried asking on your gitter channel, but that too didn't helped much. Have u got any way to fix this issue?

[2020-10-08 11:15] swaat-on-git commented on #9875
Concluded Solution:
Incorporate as part of Improvement tab (needs guiding responses, which shows the top wrong answers that have no guidance)
<img width="957" alt="image" src="https://user-images.githubusercontent.com/56828144/95451424-5f5a8400-0985-11eb-996b-f3155b1b2d52.png">

Clicking on details under an answer, opens a popup with answer explanations given by learners for that answer.
<img widt

[2020-10-08 12:22] U8NWXD opened #10910 "500 Error on Loading Contributor Dashboard Page"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard

**Problem**
Console error:

[code]

**Screenshots**
![Screen Shot 2020-10-08 at 08 20 06](https://user-images.githubusercontent.com/19878639/95457582-197acd00-093f-11eb-9f14-c37172caf763.png)

**Desktop (please complete the following information; delete this section if the issue d

[2020-10-08 12:28] U8NWXD opened #10911 "Long Story Names Wrap in Contributor Dashboard Translation Tab"
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/contributor-dashboard
 2. Navigate to the translation tab (dismissing error from #10910)
 3. Click on `Translate` on for `Topiiiic Topopopopopic Topicccccc Topic - Story`

**Problem**
The `Topiiiic Topopopopopic Topicccccc Topic - Story` text wraps at the top and gets too close to the next line below.

[2020-10-08 14:09] U8NWXD commented on #10798
@nipan09 it looks like `class YAMLObject(metaclass=YAMLObjectMetaclass):` uses [python 3 syntax](https://docs.python.org/3/reference/datamodel.html#metaclasses) that [isn't supported in python 2](https://docs.python.org/2.7/reference/datamodel.html#special-method-lookup-for-new-style-classes). I'm not sure why you're getting pyyaml with python 3 code, but could you try installing pyyaml manually w

[2020-10-08 17:09] nipan09 commented on #8118
Is this issue resolved? Because I am facing the similar kind of issue in my **ubuntu 18.04**.
I am using **python2.7** in a virtual environment. I have tried manually installing the `yaml` library with `python2.7` and as well as with `python3`. I have even tried @ShivanshRakesh solution to changing it to pip2, but nothing worked for me.
Can any help me with this?

[2020-10-08 17:14] nipan09 commented on #10798
@U8NWXD, you are correct. That line is written in python3 and when I am trying to run `python -m scripts.start` in a python2.7 environment, its giving me the syntax error.
However, I have tried creating the environment again and also manually installing `yaml` using `python2` and with `python3` as well. I have even tried changing `pip` to `pip2` in the `utils.py` . But, the syntax error is still t

[2020-10-08 18:59] kevintab95 commented on #10306
Thanks jyan500, @dipanshparmar, I've assigned you the requested files.

[2020-10-08 19:12] kevintab95 commented on #10910
Hi @DubeySandeep, would https://github.com/oppia/oppia/pull/10751 fix this?

[2020-10-08 19:19] kevintab95 commented on #9281
Hi @iamprayush, as the LaCE team lead for "Interaction issues", do you think this needs to be considered blocking for the current release? If so, would it be possible to get it fixed by 12th Oct? Thanks!

[2020-10-08 20:36] EricZLou commented on #9749
Hello! Can you assign me to `exploration-player-page.component.ts`? Thanks!

[2020-10-08 21:23] kevintab95 commented on #10906
/cc @Showtim3

[2020-10-09 02:45] srijanreddy98 commented on #8731
This is not required anymore since the angular injector error is solved.

[2020-10-09 02:47] #8731 closed, assigned to srijanreddy98

[2020-10-09 03:25] U8NWXD commented on #10798
@nipan09 you say you installed `yaml` with python2, but did you try installing [`pyyaml`](https://pypi.org/project/PyYAML/)? You might also need to clear out `oppia_tools` since we install pyyaml there.

[2020-10-09 03:36] MegrezZhu opened #10913 "Introduce feature rule testing tool on admin features page"
Currently, administrators are able to edit the rules that describe the client criteria that affect the enabling of features, since it's critical to make sure features in dev will not be released unintentionally, it would be better to be able to test the rules before actually applying / saving the changes. To achieve this, the following are needed:

- new backend request handler that accepts draft

[2020-10-09 04:47] larakhdavies commented on #6271
Hi, does this topic still need work? If so could you please assign apart of it to me?

[2020-10-09 05:09] srijanreddy98 commented on #9749
Done! It is all yours @EricZLou.

[2020-10-09 05:32] ReshuKumari opened #10914 "It takes a little long time to click on the 'Use This Image' button for svg diagram"
**Describe the bug**
when we create a svg diagram after completion when we click on 'Use This Image' button it takes longer time to get executed when compared to other buttons.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com'
 2. Click on 'Creator Dashboard'
 3. Create a new Exploration.
 4. Choose a svg diagram as RTE.
 5. Create a diagram and the

[2020-10-09 05:58] MNSDivya opened #10915 "Use avatar image is shown broken on info page"
**Describe the bug**
Use avatar image is shown broken on info page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/learn/math/fractions'
 2. Start any lesson
 3. Click on info icon on top besides the topic name and verify use avatar image

**Observed behavior**
Use avatar image is shown broken on info page

**Expected behavior**
Image should be loa

[2020-10-09 06:12] jyan500 commented on #10306
Hi @kevintab95 , for the functions that we are changing, since we are renaming the functions (w/ Async), will it be necessary to find all instances in the codebase where the function is called and refactor to use the new name?

[2020-10-09 06:15] seanlip commented on #10306
Yes, it is. (This is a mistake that other folks have made in the past --
i.e., changing only a subset of the necessary callsites.)

Please make sure to also test whatever you're changing manually by starting
up a dev server and trying to invoke the functions you've changed, just to
ensure that everything still works properly.

Thanks!

[2020-10-09 07:34] aishwary023 opened #10917 "Not able to report an exploration while playing it"
**Describe the bug**
No option to report exploration while playing it on a mobile device. There is no icon/button to report an exploration.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any exploration.
 2. Play it
 3. Check for the button to report an exploration

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A button should

[2020-10-09 07:51] vojtechjelinek commented on #6271
@larakhdavies Assigned you `update_interaction_answer_groups`

[2020-10-09 07:53] vojtechjelinek commented on #8118
Dou you have exactly the same error? Or a bit different one? Could you post the error here, please?

[2020-10-09 07:54] aishwary023 opened #10918 "Exploration re-appears after removing/re-ordering"
**Describe the bug**
Exploration re-appears after removing it from the 'play later' list, on revisiting the page by clicking the browsers back button. The same happens after re-ordering explorations. The original order appears after pressing the back button.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Learner Dashboard'
 2. Click on 'Play Later'
 3. Remove any exploration/ Reorde

[2020-10-09 08:08] aishwary023 opened #10919 "Not able to scroll if 'play later' list occupies whole screen in mobile"
**Describe the bug**
Not able to scroll back up/down if the 'play later' list occupies the whole screen in mobile version.

**To Reproduce**
Steps to reproduce the behavior:
 1. Add enough explorations to watch later
 2. Go to 'Learner Dashboard'
 3. Click on 'Play Later'
 4. Scroll down until explorations fill the screen
5. Try to scroll up/down

**Observed behavior**
Because of the drag to re-or

[2020-10-09 08:24] aishwary023 opened #10921 "No option to see creator in mobile"
**Describe the bug**
There is no 'info' button in the mobile version. And the Author Profile button is only visible in the landscape mode.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any exploration
 2. 'info' button is not available
 4. Switch to landscape mode to get the Author Profile button

**Observed behavior**
Not able to see the Creator of the exploration,  as no 'info' bu

[2020-10-09 08:56] MNSDivya opened #10922 "Next arrow button is not visible on story page"
**Describe the bug**
Next arrow button is not visible on story page. Visible only after hover

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/explore/6KcfpK1gibba'
 2. Complete the story
 3. Verify the next arrow button

**Observed behavior**
Next arrow button is not visible on story page

**Expected behavior**
Every component should be visible

**

[2020-10-09 09:25] Rijuta-s commented on #10474
Hi, @nishantwrp can you assign me :

-  FractionObjectFactory

Thanks

[2020-10-09 09:37] MNSDivya opened #10923 "Fractions not loaded properly while playing the exploration"
**Describe the bug**
Fractions not loaded properly while playing the exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/explore/G8ZgSj1O4rjE'
 2. Playthrough the exploration

**Observed behavior**
Fractions not loaded properly while playing the exploration

**Expected behavior**
Value should be shown properly like 3/6

**Screenshots**
If a

[2020-10-09 10:05] MNSDivya opened #10924 "Next chapter is not enabled to play through the math exploration"
**Describe the bug**
Next chapter is not enabled to play through the math exploration

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/learn/math/fractions'
 2. Complete the first chapter and verify the same page

**Observed behavior**
 chapter2 is not enabled to play through the math exploration

**Expected behavior**
Next chapter should be enabled

[2020-10-09 10:16] MNSDivya opened #10925 "My dashboard tile on the math practice session result page is out of the box_Mobile"
**Describe the bug**
My dashboard tile on the math practice session result page is out of the box

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/learn/math/fractions/practice/'
 2. Complete the practice session
3. Verify the Mydashboard tile at the bottom of the result page

**Observed behavior**
My dashboard tile on the math practice session resu

[2020-10-09 10:21] MNSDivya opened #10926 "Back arrow and Hamburger menu merged together on revision card_ Mobile view"
**Describe the bug**
Back arrow and Hamburger menu merged together on revision card_ Mobile view

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/learn/math/fractions'
 2. Click on 'Revision'
 3. Verify hamburger menu and back arrow

**Observed behavior**
Back arrow and Hamburger menu merged together on revision card on mobile

**Expected behavior**

[2020-10-09 16:54] nipan09 commented on #10798
@U8NWXD, thanks for your help, clearing out `oppia_tools` did the job.
After successful running of this script, oppia is opened as localhost.
Before making commit and PR, shall I need to perform any other operation?

[2020-10-09 17:00] nipan09 commented on #8118
@vojtechjelinek, I had the exactly the same error. But after clearing out the directory `oppia_tools` and re-running the script, the error got resolved and now the oppia page is opening in localhost.
Thank you for your response.

[2020-10-09 17:33] Preethi9194 opened #10929 "Feedback option not available even after completing the exploration in Mobile (in both the cases when the user is signed in or is anonymous)"
**Describe the bug**
Feedback option is not available even after completing the exploration in Mobile while it is available in the WEB.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/'
 2. Click on 'Library'
 3. Play any exploration
 4. Complete the exploration
 5. Check for rating the exploration followed by feedback text box.

**Observed behavio

[2020-10-09 18:59] nishantwrp commented on #10474
@Rijuta-s done!

[2020-10-09 21:22] kevintab95 commented on #10914
Hi @ReshuKumari, how much time does it take? Also, are you able to proceed using the RTE component once the image has been uploaded / used?

[2020-10-09 21:31] kevintab95 commented on #10923
Hi @MNSDivya, thanks for logging this but I think this is a duplicate of https://github.com/oppia/oppia/issues/10638 and the fix for it is to run a one-off job on the server.  I think we should keep this issue open to track that the job is run.

@ankita240796, @DubeySandeep can we run the related job ("PopulateXmlnsAttributeInExplorationMathSvgImagesJob") on the test server?

[2020-10-09 21:32] ReshuKumari commented on #10914
@kevintab95 Yes we can proceed using the RTE, it takes longer time compared to other buttons.

[2020-10-09 21:41] kevintab95 commented on #9281
Removing from "blocking bugs" because this issue is not a regression (same behaviour on oppia.org) -- we do not have to block the release until this issue is fixed. Also, note that this issues is being tracked by the LaCE team.

[2020-10-10 04:13] mlwalters commented on #10474
Hello, @nishantwrp! I am an Outreachy applicant, interested in contributing to Oppia! If any of these **GuestCollectionProgressObjectFactory** _or_  **HighBounceRateTaskObjectFactory** have not been assigned yet, I'm interested to work on it/them. Thank you!

[2020-10-10 04:38] DubeySandeep commented on #10432
Just as an update: This issue is still reproducible sometimes on the local server. (Though the workaround is working fine!)

/cc @srijanreddy98

[2020-10-10 05:46] jyan500 commented on #10306
Thank you @seanlip , I'm currently refactoring skill-rights-backend-api.service.ts. However, I am unsure which pages would invoke the functions within this file when testing on my dev server. Would you happen to know the url routes for the pages that utilize this service?

[2020-10-10 06:29] DubeySandeep commented on #10306
Hi @jyan500, You can try these steps:

1. The name of the service defined in `skill-rights-backend-api.service.ts` is SkillRightsBackendApiService.
2. Run `git grep SkillRightsBackendApiService` to find the places where this service is used.
3. Found the backendApiServices being used in `skill-editor-state.service.ts`
4. Following the same step 1 & 2 for skill-editor-state.service.ts, I found the

[2020-10-10 12:22] nithusha21 opened #10934 "Badly formatted UI in the admin page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11898234/95654916-1e977200-0b21-11eb-82d2-242a96ea95dd.png)

In the roles tab, the formatting is off.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to admin page
 2. Click on roles tab
 3. Scroll down to the last section
 4. See error

**Desktop (please complete the following information; delete this section if the

[2020-10-10 12:36] nithusha21 opened #10935 "The view stats modal is broken for the item selection input interaction"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11898234/95655120-bcd80780-0b22-11eb-91c5-0344b6c6db38.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/create/16#/stats (Release 3.0.4 version)
 2. Click on the item selection input interaction
 4. See error

**Observed behavior**
The title is not correct

**Expected behavi

[2020-10-10 12:55] aks681 opened #10936 "Create Subtopic modal behaves weirdly on mobile"
**Describe the bug**
Create Subtopic modal behaves weird on mobile with some areas becoming transparent and makes creating a subtopic on mobile really difficult.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topic editor for any topic.
 2. Create subtopic and see the issue.

**Observed behavior**
Video: https://drive.google.com/file/d/19GG0-37GDqPJAFSu18F95g3BtvOqoRAz/view?usp=drive

[2020-10-10 13:31] Rijuta-s commented on #10474
@nishantwrp  ,I have fixed all the errors  shown after running python -m scripts.typescript_checks --strict_checks..and now I receive no errors on running the command. Can you please tell what other commands and tests  have to be run before making a PR?
Also can you please assign me :

-  ExternalSaveService

[2020-10-10 16:18] srijanreddy98 commented on #6431
@ankita240796 is this issue resolved?

[2020-10-10 16:23] srijanreddy98 commented on #7053
I think this isn't a problem anymore. It is known that Karma tests run only when all the tests are combined into a single file. The presence of beforeEach and afterEach makes the tests run without any problems. As for Dependency Injection, no one has run into the problems described in the issue. So I think this has been solved.

[2020-10-10 16:23] #7053 closed, assigned to nobody

[2020-10-10 17:31] KhushiGangopadhyay commented on #10415
hello, i would like to work on collection module, can anyone assign me that

[2020-10-10 17:35] yuktibagrodia commented on #10922
Can I do it?

[2020-10-10 18:45] nishantwrp commented on #10474
Hi @carrimaxx, assigned you GuestCollectionProgressObjectFactory.

[2020-10-10 18:46] mlwalters commented on #10474
Thank you @nishantwrp, appreciate it!

[2020-10-10 18:49] nishantwrp commented on #10474
Hi @Rijuta-s, I think it's fine to make a pr if the typescript checks are passing. However, if you did change any code logic except the types please confirm that the functionality is working fine locally. Also, I've assigned you `ExternalSaveService`. Thanks!

[2020-10-10 19:59] nishantwrp opened #10937 "Cannot save question in the question editor when the browser window height is low"
**Describe the bug**
Cannot save question in the question editor when the browser window height is low

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Question Editor
 2. Resize your browser
 4. See error

**Screenshots**
![oppia-qls](https://user-images.githubusercontent.com/36989112/95663941-08a9a180-0b61-11eb-95ec-9397794f0206.gif)

**Desktop (please complete the following informat

[2020-10-10 20:00] nishantwrp commented on #10937
Update this is a problem in the collection viewer also.

![oppia-collection](https://user-images.githubusercontent.com/36989112/95663966-43abd500-0b61-11eb-8cad-68961ed7036d.gif)

[2020-10-10 20:09] sajalasati commented on #10415
@KhushiGangopadhyay I've assigned you! Let us know if you have any questions.

[2020-10-11 02:42] anandwana001 commented on #10474
Hi @nishantwrp
Could you please assign me
 - `ExpressionParserService`
 - `AppService`
 - `featured-translation-language.model.ts`?

I didn't find any file called `FeaturedTranslationLanguageObjectFactory` but find `featured-translation-language.model.ts`.

[2020-10-11 05:51] kevintab95 commented on #10914
Hm, I think it is expected to take some time because an SVG image is validated and sent to the backend. @rohitkatlaa is that correct?

If this is the case, maybe we can show a "loading / uploading" indication? Not sure.

[2020-10-11 06:22] kevintab95 commented on #10917
Might be related to https://github.com/oppia/oppia/issues/10929.

[2020-10-11 07:13] rohitkatlaa commented on #10914
Yes @kevintab95 the image has to be sent to the backend and then once the image is saved, the image is displayed. So there will be a delay. I think it is a good idea to show a loading indication.

[2020-10-11 09:07] kevintab95 commented on #10906
Hi @rohitkatlaa, the GIF is a bit unclear.. can you post a clearer version of the GIF if possible? Thanks!

[2020-10-11 09:21] rohitkatlaa commented on #10906
@kevintab95 I have added the screen recording of the error and uploaded it as a zip file because converting it to GIF reduces the quality. Thanks.

[2020-10-11 13:21] Cadreia commented on #4057
Hi, can I work on writing tests for the story-creation.service.ts

[2020-10-11 14:04] Deepam101 commented on #8472
Hello!
Can I work on
- topic-editor-routing.service.ts
- solution-verification.service.ts

[2020-10-11 15:28] muhesh-kumar commented on #10306
Hello @kevintab95! I would like to work on this. Can you assign me the files please?

[2020-10-11 15:46] Cadreia commented on #10798
@U8NWXD please can I work on core/tests/protractor_utils/workflow.js

[2020-10-11 18:29] Deepam101 commented on #8472
@srijanreddy98
Can you assign me **topic-editor-routing.service.ts?**
One doubt: In that file,`rootScope.$watch()` is used to track changes in URL. Would using `onUrlChange()` be a good option?
Thanks!

[2020-10-11 18:33] arora-ria commented on #10415
Hey, I would like to work on stats_model (statistics). Thank you!

[2020-10-11 19:41] shrutisatish00 commented on #10937
I will get started with this

[2020-10-11 19:41] shrutisatish00 commented on #10937
Shall I get started with this?

[2020-10-11 19:55] nishantwrp commented on #10474
@anandwana001 done! And yup you are correct about `FeaturedTranslationLanguageObjectFactory`, it was recently refactored to be a `.models.ts` file.

[2020-10-11 22:27] avigpt opened #10942 "Can't Open Oppia on Dev Server"
I followed the prerequisite installation steps but run into the following error when I try to run `python -m scripts.start` in my forked+cloned /oppia directory.

[code]

[2020-10-11 22:28] avigpt commented on #10942
@U8NWXD

[2020-10-12 02:12] kevintab95 commented on #10306
Hi @muhesh-kumar, welcome to Oppia! Before you can work on this issue, can you please confirm that you have followed the steps mentioned on our wiki [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? If not, I would encourage you to do so. New contirbutors are required to fill up the CLA and complete the contributor survery (steps 1 & 2). Once that is done, y

[2020-10-12 03:30] U8NWXD commented on #10798
@nipan09 great! I'm glad that worked. You're all set to start making commits and your PR. Please do make a new branch for your changes though since we don't allow PRs from branches named `develop`

[2020-10-12 03:32] U8NWXD commented on #10798
@Cadreia I've assigned you! Please let me know if you have any questions

[2020-10-12 04:12] srijanreddy98 opened #10946 "Replace $injector.get with TestBed.inject when the corresponding services have been migrated to Angular."
Some of the specs files you dependencies other than the ones used in the service file. This is done to emulate proper testing scenarios. But since some of them are still in AngularJS, they can't be accessed using TestBed.inject. Some of these services have a lot of depth in the dependency graph. In order to keep the process of migration going, we are using $injector.get for such services in spec f

[2020-10-12 05:01] sajalasati commented on #10415
@arora-ria I've assigned you! Let us know if you have any questions.

[2020-10-12 08:27] asafprivman commented on #8668
I'm going to try and understand "state-content.service.ts", wish me luck :)
Please assign it to me.

[2020-10-12 08:28] nipan09 commented on #10798
@U8NWXD, I am trying to `git push` my commited changes, but I am constantly getting this error:
[code]
I have checked the file, but there is no such changes I have found as mentioned here. Can you help me with this issue?

[2020-10-12 09:10] shrutisatish00 commented on #10798
@U8NWXD I'd like to get started with core/tests/protractor_utils/ExplorationEditorPage.js. Thanks!

[2020-10-12 09:31] AthulJoshi commented on #8423
Hi, I am a beginner in python. Is there anything here that I could work on ? :)

[2020-10-12 11:56] sajalasati commented on #8423
Hi @AthulJoshi ! Currently there is one unassigned task in Python section - `Add a lint check to ensure that there are no blank lines below the function definition.` (the last one). You can look at the merged PRs in this issue to get an idea if you would be comfortable with it or not (i.e the level Python knowledge required). There are some instructions/resources in the issue description also to h

[2020-10-12 12:36] vojtechjelinek opened #10949 "Migrate webpack to v5"
Webpack 5 was released, there is a [migration guide](https://webpack.js.org/migrate/5/). I tried to migrate to it on 12 Oct 2020, almost everything worked except for there were some polyfills required and karma tests we completely broken.

The changes are being worked on in branch https://github.com/oppia/oppia/tree/upgrade-to-webpack-5

Notes:

- https://webpack.js.org/configuration/other-options

[2020-10-12 12:51] Deepam101 commented on #9749
Hello! Can you please assign me with ` state-param-changes-editor.component.ts`? Thanks!

[2020-10-12 14:00] hngerebara commented on #9749
@srijanreddy98 Please can you assign `collection-navbar.directive.ts` to me? Thanks

[2020-10-12 14:00] U8NWXD commented on #10942
Thanks Avi! I updated the top comment to be more readable by using ` ``` ` instead of single back-ticks

[2020-10-12 14:04] U8NWXD commented on #10942
@seanlip I worked with Avi for a while yesterday trying to figure this out to no avail. Do you have any guesses about what might be going on here?

[2020-10-12 15:16] srijanreddy98 commented on #9749
@Deepam101 assigned you state-param-changes-editor.component.ts

@hngerebara assigned you collection-navbar.directive.ts

[2020-10-12 16:36] MeetVys commented on #10415
I would like to work on the improvements, if possible. @vojtechjelinek

[2020-10-12 17:23] dharmelolar commented on #10754
hello @kevintab95 please can I take up this issue?

[2020-10-12 17:28] dharmelolar commented on #10630
Hello @iamprayush please can I take up this issue?

[2020-10-12 17:28] dharmelolar commented on #19443
Hello @iamprayush please can I take up this issue?

[2020-10-13 00:23] #10398 closed, assigned to kevjumba

[2020-10-13 03:36] kevintab95 opened #10951 "Possible race condition when creating a new user"
In the codebase, there is currently some logic related to "creating a new user" that could possibly execute for every call (it exists in the `base.__init__` method) leading to unexpected outcomes like 401 errors and unnecessary user ids getting stored in the datastore. This logic may need to be moved to an appropriate place.

For a detailed analysis, please see [doc](https://docs.google.com/docume

[2020-10-13 03:41] kevintab95 commented on #10754
Hi @shak1505, @dharmelolar, this issue is not ready to be worked on yet. We are currently in the process of standardising styling across the application, once that is done, this issue will be ready. Thanks!

[2020-10-13 07:02] AthulJoshi commented on #8423
Thanks for the reply, The check is for having no blank line below the function defenition header right? Also could I get some more materials to read on? I'll reach back when I'm ready and if no one else has claimed it :)

[2020-10-13 09:39] iamprayush commented on #10630
Hey @dharmelolar!
Yes, you can take this up, but please make sure that you've followed the instructions given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), i.e., signed the CLA and filled the contributor's survey.

[2020-10-13 09:39] iamprayush commented on #19443
Hey @dharmelolar!
Yes, you can take this up, but please make sure that you've followed the instructions given [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), i.e., signed the CLA and filled the contributor's survey.

[2020-10-13 10:43] OluyemisiA commented on #10306
Hi @kevintab95, I'm from outreachy.
I have filled the CLA and the contributor survey. I was wondering if there are unassigned files I could work on?
Thank you

[2020-10-13 11:29] kevintab95 commented on #10306
Hi @OluyemisiA, yep, there are some unassigned files in the list (look for ones that do not have anyone @-mentioned). Please do let me know which ones you'd like to work on so I can assign you those files. Thanks!

[2020-10-13 11:52] AthulJoshi commented on #8423
Hi, I would like to work on the "Add a lint check to ensure that there are no blank lines below the function definition".

[2020-10-13 13:47] U8NWXD commented on #10798
@shrutisatish00 I've assigned you!

[2020-10-13 13:52] U8NWXD commented on #10798
@nipan09 it looks like there is a lint error on the `develop` branch, which shouldn't happen. That error message is asking you to make the displayed changes. I'm escalating to Sean since there should never be lint failures on `develop`.

@seanlip could you take a look at this? The lint checks are [passing on CI](https://github.com/oppia/oppia/runs/1245733469) but failing locally if I run:

[code]

[2020-10-13 14:52] krishita30j commented on #10306
Hi @kevintab95, I would like to work on the followng files:

 oppia/oppia/core/templates/pages/admin-page/misc-tab/admin-misc-tab.directive.ts
 oppia/oppia/core/templates/pages/admin-page/services/admin-data.service.ts

Please assign the same to me. I have already filled the CLA and Contributor Survey.

Thanks

[2020-10-13 15:16] #10935 closed, assigned to brianrodri

[2020-10-13 16:04] vojtechjelinek commented on #10810
This issue was fixed by using our own way of setting the `last_updated` and `created_on`.

[2020-10-13 16:04] #10810 closed, assigned to vojtechjelinek

[2020-10-13 16:16] vojtechjelinek commented on #10178
@sajalasati Hi, do you plan to work on this, if yes do you have an estimate when you want to have this completed?

[2020-10-13 16:27] vojtechjelinek commented on #8510
https://github.com/oppia/oppia/blob/84e73496ee50a43bb92f326b1b3f99c609eae84c/core/storage/user/gae_models.py#L53-L55

@sajalasati Any idea if this can be done, do all users have some kind of role? (asking you since you did some work on the users/profiles)

[2020-10-13 16:30] vojtechjelinek commented on #8510
https://github.com/oppia/oppia/blob/84e73496ee50a43bb92f326b1b3f99c609eae84c/core/storage/email/gae_models.py#L42-L44

@seanlip Do we still want/need this functionality?

[2020-10-13 16:33] vojtechjelinek commented on #10110
@sajalasati Hi, do you plan to work on this, if yes do you have an estimate when you want to have this completed?

[2020-10-13 16:35] vojtechjelinek commented on #10373
@kevjumba Hi, do you plan to work on this, if yes do you have an estimate when you want to have this completed?

[2020-10-13 16:39] sajalasati commented on #10178
Hi @vojtechjelinek ! I can take this up now. I will try to make a PR for this in next 3-4 days.

[2020-10-13 19:04] kevintab95 commented on #10306
@krishita30j sure, just assigned you! :)

[2020-10-13 22:50] ghost commented on #10951
@vojtechjelinek i am an outreachy intern and a new contributor. How can i help?

[2020-10-13 23:01] kaylahardie opened #10955 "Potential loss of updates to the CommunityContributionStatsModel in the reduce step in the PopulateContributionStatsOneOffJob"
**Describe the bug**
The CommunityContributionStatsModel is a singleton model, therefore the model GET and PUT must be done in a transaction to avoid loss of updates that come in rapid succession. Currently the reduce step in the PopulateContributionStatsOneOffJob has a GET and PUT that is not done in transaction.

[2020-10-13 23:29] kaylahardie opened #10957 "Can't resubmit rejected translation suggestions for review"
**Describe the bug**
Each suggestion type class in suggestion_registry, except for SuggestionTranslateContent, implements the pre_update_validate method which is needed in the resubmit_rejected_suggestion method in suggestion_services, in order to resubmit rejected suggestions. It is unclear to me whether it is intended for the translation suggestions to be the only suggestion type that is not abl

[2020-10-14 02:13] BenHenning commented on #10957
@kaylahardie I think your bug description is missing the consequence of the state you describe, e.g. "because of this, X is not possible. Is this the desired situation?" etc.

[2020-10-14 09:34] vojtechjelinek commented on #10951
@KarenEfereyan Hi, if you're new to Oppia (which it seems like) please go through https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia.

[2020-10-14 14:22] #10934 closed, assigned to nobody

[2020-10-14 16:59] srijanreddy98 commented on #9253
@brianrodri why can't this be achieved with Http Interceptors? https://angular.io/guide/http#intercepting-requests-and-responses.

[2020-10-14 17:47] safwan20 commented on #10925
can you assign me this ?

[2020-10-14 18:17] safwan20 commented on #10921
can you assign me this ?

[2020-10-14 18:30] safwan20 opened #10964 "Texts are not aligned properly in the community dashboard section in mobile view."
**Describe the bug**
Texts are not aligned properly in the community dashboard section in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the community dashboard.
 2. See error

**Observed behavior**
Texts are not aligned properly.

**Expected behavior**
Texts should be aligned properly.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![first

[2020-10-14 18:31] safwan20 commented on #10964
If allowed I am taking this issue.

[2020-10-14 20:06] vextor22 commented on #10415
Hi, I would like to work on the topic refactor.

Additionally, I see that subtopic isn't broken out as a separate category. Shall I move the subtopic validators at the same time?

[2020-10-14 20:31] #10772 closed, assigned to kaylahardie

[2020-10-14 20:38] umang232 commented on #10798
@U8NWXD this is goin to be my first open source contribution . Can you assign me any file?

[2020-10-14 20:43] umang232 commented on #10798
@U8NWXD i would like to take users.js

[2020-10-14 22:06] #10910 closed, assigned to DubeySandeep

[2020-10-14 23:20] shubham00jain commented on #10798
@U8NWXD Hi. Please assign me core/tests/protractor_utils/ThanksPage.js

[2020-10-14 23:23] shubham00jain commented on #10474
Hi @nishantwrp. Please assign ChangeObjectFactory to me.

[2020-10-15 01:18] brianrodri opened #10968 "Detect broken Playthroughs after an Exploration update"
**Describe the bug**
Consider an exploration with the following states:
![image](https://user-images.githubusercontent.com/5094060/96061820-2da05c00-0e62-11eb-9b28-9f5bfa312dd4.png)

Suppose we record a learner's playthrough of this exploration (A → B).

In a newer exploration version, that same path might not exist anymore:
![image](https://user-images.githubusercontent.com/5094060/96061954-72c48

[2020-10-15 02:41] U8NWXD commented on #10798
Done @umang232!

[2020-10-15 02:41] U8NWXD commented on #10798
Done @shubham00jain! Let me know if you have any questions

[2020-10-15 03:24] jian-en commented on #10415
Hi, @vojtechjelinek I just started the onboarding process. After reading through the thread, I guess I could work on the user? Could you put my name there? Thanks!

[2020-10-15 04:13] #10893 closed, assigned to kevintab95

[2020-10-15 04:13] #10906 closed, assigned to kevintab95

[2020-10-15 04:13] #10915 closed, assigned to kevintab95

[2020-10-15 04:13] #10922 closed, assigned to kevintab95

[2020-10-15 04:13] #10924 closed, assigned to kevintab95

[2020-10-15 04:13] #10936 closed, assigned to kevintab95

[2020-10-15 06:26] kaylahardie opened #10969 "Notify Admins if Suggestions Have Waited Too Long For a Review on the Contributor Dashboard"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way for admins to know if there is a suggestion has waited too long to get reviewed on the Contributor Dashboard.

**Describe the solution you'd like**
Notify the admins daily if there are suggestions that have waited longer than a week for review on the Contributor Dashboard.

**Additional context**
To see a

[2020-10-15 06:57] nishantwrp commented on #4057
Hi @akshayrathi2102, any updates on the assigned issue?

[2020-10-15 06:59] nishantwrp commented on #10474
Hi @Purhan, any updates on the assigned files?

[2020-10-15 06:59] nishantwrp commented on #10474
Hi @shubham00jain, assigned you!

[2020-10-15 07:06] purhan commented on #10474
@nishantwrp They were merged in #10724

[2020-10-15 07:07] nishantwrp commented on #10474
Oh, yup my bad!

[2020-10-15 07:36] seanlip commented on #8510
@vojtechjelinek Yes, I think this would still be useful (perhaps as a button on the admin dashboard).

[2020-10-15 07:37] umang232 commented on #10798
Hey @U8NWXD I have made the changes but i am not been able to push the changes .Can you help me out?

[2020-10-15 07:38] seanlip commented on #10942
I don't know what is going on with `AttributeError: 'module' object has no attribute 'apiproxy'`, sorry. Searching the internet and digging into the files in question is probably your best bet there.

I do know what's going on with the BindError, though -- it means that you have some other process on your system using port 8000. You might need to kill it. (You can find it using `ps aux | grep 8000

[2020-10-15 09:38] OluyemisiA commented on #10306
@kevintab95 I like to work on this  oppia/oppia/core/templates/domain/story_viewer/story-viewer-backend-api.service.ts

[2020-10-15 09:40] kevintab95 commented on #10306
Sure go ahead @OluyemisiA, I've just assigned it to you! :)

[2020-10-15 10:01] vojtechjelinek opened #10974 "Taskqueue TimeoutError in e2e tests"
There are multiple TimeoutErrors coming from the task queue in the Travis e2e tests:
![image](https://user-images.githubusercontent.com/10142938/96108665-23bc3e80-0ede-11eb-893f-d2025fd994b5.png)
An example can be found in this job: https://travis-ci.com/github/oppia/oppia/jobs/398436282

[2020-10-15 10:33] #10532 closed, assigned to DubeySandeep

[2020-10-15 10:33] #10629 closed, assigned to DubeySandeep

[2020-10-15 12:48] akshayrathi2102 commented on #4057
Yeah, I was reading the whole wiki of project.

I'm trying to figure out what my service actually does, what its rules
means.

Since its my first time doing this, it's taking some time. But I'm trying.

Regards,
Akshay

On Thu, Oct 15, 2020, 12:27 PM Nishant Mittal <notifications@github.com>
wrote:

[2020-10-15 17:29] safwan20 commented on #10919
can you assign me this ?

[2020-10-15 18:12] vojtechjelinek commented on #10415
@jian-en @vextor22 I have assigned you both.

@vextor22 Oh, we forgot about separating the subtopic. Do just the topic.

[2020-10-15 18:23] vojtechjelinek commented on #8510
@sajalasati Any update on this?

[2020-10-15 18:23] vojtechjelinek commented on #8510
@sajalasati Any update on this?

[2020-10-15 18:34] sajalasati commented on #8510
Hi @vojtechjelinek ! Sorry for the delay.
I am not sure which migration the comment is talking about, but currently there are only 2 functions that can create a new user: `user_services.create_new_profiles()` and `user_services.create_new_user()` - both of them pass the role value to the constructor (can be checked [here](https://github.com/oppia/oppia/blob/develop/core/domain/user_services.py#L12

[2020-10-15 18:45] sagangwee commented on #10718
Closing as this issue seems to have been related to the wrong build being on the backup server at the time.

[2020-10-15 18:45] #10718 closed, assigned to sagangwee, jimbyo

[2020-10-15 19:03] kaylahardie opened #10982 "Regex in _get_plain_text_from_html_content_string in suggestion_services could be simpler"
**Describe the bug**
The regex used to replace all the <oppia-noninteractive-**> tags with their rte component names capitalized in square brackets in the _get_plain_text_from_html_content_string method in suggestion services could be simpler.

**Additional context**
This is a follow up to this [comment](https://github.com/oppia/oppia/pull/10860#discussion_r505288910) in PR #10860

[2020-10-15 19:40] #10897 closed, assigned to seanlip

[2020-10-15 20:23] shubham00jain commented on #10798
@U8NWXD Thanks! Sure I'll let you know!

[2020-10-15 20:56] seanlip commented on #8668
Per discussion with @asafprivman and @larakhdavies -- assigned @asafprivman to window-dimensions.service.ts and @larakhdavies to window-ref.service.ts

[2020-10-15 21:10] PPenmetsa commented on #10474
Hi @nishantwrp , the "AnswerClassificationResultObjectFactory" results in more than 50 errors. My mentor, Vojta, recommended that I skip this file for now.

[2020-10-16 01:20] FJKhan commented on #10798
Hi, I'm an Outreachy applicant hoping to contribute to [Project #4](https://www.outreachy.org/outreachy-december-2020-internship-round/communities/oppia/#improving-oppia-frontend-testing-coverage). which file may I get started on? :)

[2020-10-16 08:01] #10982 closed, assigned to kaylahardie

[2020-10-16 08:04] #10955 closed, assigned to nobody

[2020-10-16 08:28] pankajdahiya008 commented on #3968
Hi, @Showtim3 Plz assign me the file - Link (cf., e.g., core/templates/components/version-diff-visualization/version-diff-visualization.directive.ts and other graph visualizations: look for objects that have a "source" and a "target" field).

[2020-10-16 08:42] nishantwrp commented on #10474
Hi @PPenmetsa, no worries. I've unassigned the service.

[2020-10-16 14:01] #10687 closed, assigned to kaylahardie

[2020-10-16 14:51] nipan09 commented on #10798
@U8NWXD, did that lint error resolved?

[2020-10-16 15:45] krishita30j commented on #9749
Hi, I would like to work on the followng files:

* topics-and-skills-dashboard-navbar-breadcrumb.directive.ts
* admin-prod-mode-activities-tab.directive.ts

Please assign the same to me.
Thanks

[2020-10-16 20:30] sajalasati commented on #10178
@vojtechjelinek I have updated the issue description, PTAL! (Just asking if it looks good before I start coding)
- For task 1, looking at #10049, I think what is expected is option (b) only i.e deleting the attribute, right? Or should the process be like first I deprecate the field (as mentioned above) in one PR and then remove it in a subsequent PR?
- Regarding task 2, it should be done in the sa

[2020-10-16 22:58] kate-perkins commented on #10415
@vojtechjelinek Could I work on the audit model?

[2020-10-16 23:44] kaylahardie opened #10989 "HTML tags emails in email_manager.py not semantic or accessible"
**Describe the bug**
The email bodies for emails in email_manager.py contain too many `<br>` tags when there is a more specific meaning (ex. `<p>` tags for paragraphs)

**Additional context**
This was brought up in PR #10963

[2020-10-17 03:26] kaylahardie commented on #10989
@seanlip updated so that it's formatted correctly!

[2020-10-17 05:02] kaylahardie commented on #10957
@BenHenning updated, thanks!

[2020-10-17 09:02] #10707 closed, assigned to kaylahardie

[2020-10-17 13:42] biaba commented on #8038
Hi, I would like to work on this!

[2020-10-17 13:43] biaba commented on #8016
Hi, I am interested to work on this! @ankita240796

[2020-10-17 14:36] muhesh-kumar commented on #10306
Hello @kevintab95 I have filled the CLA and Contributor Survey. Could you please help me proceed further?

[2020-10-17 15:48] vojtechjelinek commented on #10178
I agree with (b) since the `gae_id` is defacto deprecated now.

You just delete the code and nothing else is needed.

[2020-10-17 15:50] vojtechjelinek commented on #10415
@kate-perkins Yep, assigned you.

[2020-10-17 17:31] sajalasati commented on #10178
@vojtechjelinek Great, thanks!

[2020-10-18 09:43] Cadreia commented on #10798
Hi, @U8NWXD. I forked the repository and I have been trying to run the end to end test using "python -m scripts.run_e2e_tests". I have gone through the procedure several times now and some tests are still failing. As a result of this, my pull request fails the CI/CD e2e tests also. Please I would like to know what I'm doing wrong. Some tests fail even when I have made no changes to the forked repo

[2020-10-19 05:01] kevintab95 commented on #10306
Hi @muhesh-kumar, welcome to Oppia! Can you please specify which files you'd like to be assigned? I'll assign those to you.

[2020-10-19 06:01] AthulJoshi commented on #8423
@sajalasati  Could you please assign it to me. I am working on it.

[2020-10-19 06:10] Hudda commented on #8423
@AthulJoshi I've assigned it to you.

[2020-10-19 06:21] AthulJoshi commented on #8423
Thanks :)

[2020-10-19 07:44] krishita30j commented on #10415
Hi @vojtechjelinek,

I would like to work on email model. Could you assign the same to me?

Thanks.

[2020-10-19 08:52] vojtechjelinek commented on #10415
@krishita30j Done.

[2020-10-19 10:07] iamprayush opened #11002 "Text-to-speech for some latex expressions doesn't work as expected."
**Describe the bug**
In a math lesson that I was creating, I noticed that the automated text-to-speech reader did not work as expected for some expressions. One of these expressions was `3 \times (10 + \frac{6}{3}) \times 4`. It read "Three T I M E S ten plus over four."

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add a math expression in the state content

[2020-10-19 14:05] U8NWXD opened #11006 "CI and Pre-Push Linters Disagree"
[On GitHub Actions](https://github.com/oppia/oppia/pull/10654/checks?check_run_id=1264593544), I see the following lint failure:

[code]

When I fix this error and try to push my changes, the pre-push linter gives the following error:

[code]

Notice that the suggested fixes from the two linter runs are contradictory. I am working on PR #10654

[2020-10-19 14:30] U8NWXD commented on #10798
@umang232 can you describe what's preventing you from pushing?

[2020-10-19 14:35] U8NWXD commented on #10798
@nipan09 Not yet unfortunately. I just encountered it again and opened #11006 to track it

[2020-10-19 14:37] U8NWXD commented on #10798
@Cadreia which tests are failing, and what are the error messages? The end-to-end tests sometimes fail even when the code they are testing is fine (i.e. they flake), in which case you can just restart the tests that failed

[2020-10-19 15:11] nipan09 commented on #10798
@U8NWXD, can you suggest me some other tasks that I can do until the lint error is resolved!
I am very new in open source contribution, so I have no idea of what to do while facing this kind of issues.

[2020-10-19 16:41] ankita240796 commented on #9159
@vojtechjelinek are you able to reproduce this one still, wasn't able to reproduce on my system?

[2020-10-19 16:57] FJKhan commented on #10798
Hi @U8NWXD , I'd like to work on `core/tests/protractor_utils/GetStartedPage.js`, please. thanks!

[2020-10-19 16:59] srijanreddy98 commented on #10798
Done! It's all yours now.

[2020-10-19 17:00] FJKhan commented on #10798
Thanks @srijanreddy98 !

[2020-10-19 17:01] ankita240796 commented on #10452
Hi @seanlip, de-assigning myself (I created this as per our offline discussion when we decided to ensure that app_dev.yaml clearly segregates local and prod builds -- but since it wasn't a simple fix and needed more info, we decided to create an issue and then dev experience team can take it up later). Thanks!

[2020-10-20 02:17] U8NWXD commented on #10798
@nipan09 with @seanlip's help, I think I figured it out. Hopefully #11018 will fix this

[2020-10-20 03:18] shavavo opened #11014 "Add more extensive front end tests for object editors that rely on schema editors"
Currently, tests for object editors are very bare bones and only serve to add coverage. For example, the ```set-of-normalized-string-editor.component.ts``` relies on a schema editor (list of unicode strings). If the implementation of list editor ever changed, it would essentially go untested without tests existing to verify its contract. Ideally, these tests should:
-  test the initial state being

[2020-10-20 03:59] seanlip opened #11015 "Missing warning sign in the default answer group when no response is provided"
**Describe the bug**
If I'm not mistaken, there used to be a warning sign (on a "post-it label") in the default answer group when no response is provided. This warning sign seems to have disappeared recently, which means that when there's an error due to this omission, it's not very clear what to do.

This is how it looks now:

![Screenshot from 2020-10-19 20-54-12](https://user-images.githubuserc

[2020-10-20 03:59] seanlip commented on #11015
/cc @mschanteltc @kevintab95

[2020-10-20 08:52] #9415 closed, assigned to ankita240796

[2020-10-20 09:06] AdityaDubey0 commented on #10306
Hi @kevintab95, can you please assign me to the oppia/oppia/core/templates/domain/admin/admin-backend-api.service.ts file?

[2020-10-20 09:08] kevintab95 commented on #10306
@AdityaDubey0 done! :)

[2020-10-20 10:58] Rijuta-s commented on #10474
HI @nishantwrp, I've fixed errors for ExternalSaveService and FractionObjectFactory. All test pass locally including frontend tests.
However while pushing the changes front end tests fail. I have only done minor type changes in both the files. I am unable to understand why are the front end tests failing on running git push if they run successfully locally ?

[2020-10-20 12:59] FJKhan commented on #4057
hey @srijanreddy98, may I work on `state-improvement-suggestion.service.ts`?

[2020-10-20 13:10] OluyemisiA commented on #10306
Hi @kevintab95, I have been running into some error while trying to push. Please find the screenshot of the error below
![error](https://user-images.githubusercontent.com/67320238/96590530-091f0680-12de-11eb-88e4-aa7638eb5740.png)

[2020-10-20 13:21] aishwary023 commented on #10306
Hey @OluyemisiA , just give couple more spaces at the beginning of the line. ( line no. 222, 223, 250, and  251)
Currently, you have 4 spaces but it should be 6 at line 222 (and so on). This helps to maintain the styling/consistency throughout the codebase.

[2020-10-20 14:49] nishantwrp commented on #10474
Can you post a screenshot of the failed test?

[2020-10-20 18:25] arpit1912 commented on #10306
@kevintab95  in ```oppia/oppia/core/templates/domain/exploration/stats-reporting-backend-api.service.ts``` on making the ```postsStats``` function async, the test ```should handle errors correctly``` is failing can you suggest me what to do in this case?.. I think there is some bug in the code. For more reference I'm attaching the screenshot of the error here.
![Screenshot from 2020-10-20 23-53-26

[2020-10-20 18:54] kevintab95 commented on #10306
Hi @arpit1912, with the "async" keyword change, we expect the function to always return a promise. However, as you can see in the function definition of `getFullStatsUrl` (called in `postsStats`) that it throws an Error object -- which will get wrapped inside a rejected promise. This is why the frontend test you mentioned fails (it expects an error to be thrown, but in reality the function just re

[2020-10-20 19:03] U8NWXD commented on #10798
@FJKhan Please check the project description to be sure, but I think you should be looking at #4057 instead. This issue is for the end-to-end tests, not the frontend tests

[2020-10-20 19:04] U8NWXD commented on #11006
@seanlip could you take a look at this? I'm escalating it because it is blocking new contributor @nipan09 (see https://github.com/oppia/oppia/issues/10798#issuecomment-707753967)

[2020-10-20 19:07] arpit1912 commented on #10306
Thanks @kevintab95 for the clarification. In each issues I'm getting some new things to see and kudos to the team for clarifying it everytime.
Meanwhile do assign me ```oppia/oppia/core/templates/domain/collection/search-explorations-backend-api.service.ts```  Thanks!

[2020-10-20 19:13] kevintab95 commented on #10306
Sure thing! I've assigned it to you @arpit1912. :)

[2020-10-20 20:58] OluyemisiA commented on #10306
Thank you very much. @aishwary023

[2020-10-21 00:32] mschanteltc commented on #11015
Edited a [mock](https://xd.adobe.com/view/3940de63-c416-4008-4b32-a73dc43fd7a1-4f71/screen/93441de0-df67-44c5-88af-4b19262bb0b0) to reflect this. It's a bit finicky but whenever the cursor hovers over the post it, its tooltip reads "Response required."

[2020-10-21 03:12] seanlip commented on #11006
Update: discussed with @U8NWXD -- need to add a new lib declaration to .isort.cfg to fix this issue.

[2020-10-21 05:13] ReshuKumari commented on #8472
Please assign me admin-config-tab-backend-api.service.ts and unassign editable-story-backend-api.service.ts

[2020-10-21 05:14] kevintab95 commented on #8472
Done. Thanks @ReshuKumari!

[2020-10-21 06:33] jnthn-sltn commented on #10798
Hi @U8NWXD , I'm new to open source and hoped to contribute.
I can work on `core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js` if you like.

[2020-10-21 07:47] seanlip commented on #11015
Yup, this seems good to me, thanks!

[2020-10-21 08:15] nipan09 commented on #10798
@U8NWXD @seanlip, I have tried making that change as well, but it didn't work.
Later with the help of @kevintab95, I made the desired changes it was asking for, the error seemed to be resolved. The command `python -m scripts.linters.pre_commit_linter --path appengine_config.py` successfully ran with all the checks passed.

`appengine_config.py` before making changes:
[code]
After making changes:
[

[2020-10-21 08:19] kevintab95 commented on #10798
Hi @nipan09, should it be like this:

import os
import sys

import pkg_resources
import python_utils

from google.appengine.ext import vendor

[2020-10-21 08:22] nipan09 commented on #10798
@kevintab95, i have tried that way as well, but the error was still there in the line:
`import pkg_resources`. So, I did that change as well and it worked.

[2020-10-21 11:45] Rijuta-s commented on #10474
Hi @nishantwrp , Thanks a lot . Can you please assign me

- HighBounceRateTaskObjectFactory

[2020-10-21 12:03] Kajol-Kumari commented on #8472
I would like to work on `fatigue-detection.service.ts`. Can you please assign it to me?

[2020-10-21 12:13] kevintab95 commented on #8472
Done. Thanks @Kajol-Kumari!

[2020-10-21 19:46] oalbacha commented on #10964
Hello, my name is omar and im an outreachy applicant. can I help with this issue?

[2020-10-21 19:48] oalbacha commented on #10798
Hello, can help with this issue?

[2020-10-21 20:16] jnthn-sltn commented on #10798
Hi, I'm new to open source and hoped to contribute.
I'll work on core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js if you would assign it to me.

[2020-10-21 20:40] seanlip commented on #10798
Hi @jnthn-sltn and @oalbacha -- would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first, in order to get started? Once you've done that, feel free to pick a file on this issue and tell us what it is, and we'll update the thread accordingly. Thanks!

[2020-10-21 20:45] #10863 closed, assigned to brianrodri, vojtechjelinek

[2020-10-22 03:38] jnthn-sltn commented on #10798
Thanks @seanlip !
I'll work on core/tests/protractor_utils/ContributorDashboardTranslateTextTab.js if you would assign it to me.

[2020-10-22 04:01] seanlip commented on #10798
@jnthn-sltn done!

[2020-10-22 05:17] BenHenning opened #11023 "Platform features have a robustness issue in production"
**Describe the bug**
In the 3.0.4 release we suddenly started seeing an invalid user locale error. See this line for where it's raised:

https://github.com/oppia/oppia/blob/1a57e851b621ddaee8ef1b73ac4c52fa4b0e8a2b/core/domain/platform_parameter_domain.py#L161

**To Reproduce**
Repro steps are unknown since this was an observed in-production issue. However, navigating to www.oppia.org/platform_feat

[2020-10-22 05:17] BenHenning commented on #11023
/cc @MegrezZhu

[2020-10-22 06:39] asafprivman commented on #8668
Question why do we need to add the type of the return/param in typescript? It's already defined in the signature.
I saw this while reading [Documenting Frontend](https://docs.google.com/document/d/1jr8X3oqW7WqKxOgsK8b4TxIraODAV23vDJgYso1R7Pk/edit), then looking at the reference: graph-input-rules.service.ts.

E.g.:
  /**
   * @param {object} graph - A graph object.
   * @return {boolean} Whether t

[2020-10-22 06:51] seanlip commented on #8668
Sorry, I think the doc you're referencing might have been out-of-date or unclear. You don't need to document the types in the docstring. I've updated the doc to clarify!

[2020-10-22 06:56] Rijuta-s commented on #10474
hi @nishantwrp , Thanks a lot  for helping. Can you please assign

-  AutogeneratedAudioLanguageObjectFactory

- FileDownloadRequestObjectFactory

- CollectionNodeObjectFactory

[2020-10-22 13:32] adi2011 commented on #10474
Hi @nishantwrp, I am a beginner. I've understood the issue, can i directly start with any service?

[2020-10-22 13:49] yogendra-17 commented on #10474
hi @nishantwrp ,i've understood the issue,please asssign me "CollectionValidationService".

[2020-10-22 14:16] adi2011 commented on #10474
Hi @nishantwrp, please assign me AutoplayedVideosService.

[2020-10-22 16:31] sagangwee opened #11029 "[Contributor Dashboard] Suggestion prod validation check failures for feedback_thread_ids"
On the test server we are seeing prod validation check failures for suggestions for feedback_thread_ids:

[u'failed validation check for feedback_thread_ids field check of GeneralSuggestionModel', [u"Entity id exploration.9wXEq1gnnP2x.WzE1MzcyOTU4NDIwNDQuMjc2XQ==WzI1Ml0=: based on field feedback_thread_ids having value exploration.9wXEq1gnnP2x.WzE1MzcyOTU4NDIwNDQuMjc2XQ==WzI1Ml0=, expected model G

[2020-10-22 16:36] sagangwee opened #11030 "[Contributor Dashboard] Suggestion prod validation check failures for OppiaSuggestionBot reviewer id"
Seen on test server:

[u'failed validation check for reviewer_ids field check of GeneralSuggestionModel', [u"Entity id exploration.16.WzE1ODY0MDI3MjE3MDYuOTk1XQ==WzExMzgxXQ==: based on field reviewer_ids having value OppiaSuggestionBot, expected model UserSettingsModel with id OppiaSuggestionBot but it doesn't exist", u"Entity id exploration.16.WzE1ODY0MDI3MjY3MTcuOTIxXQ==WzE3Nzld: based on field

[2020-10-22 16:38] sagangwee commented on #11029
@DubeySandeep @nithusha21 Can you comment on this? Not too familiar with the relationship between feedback threads and suggestions, especially for contributor dashboard suggestions (do we even care about this validation check for contributor dashboard suggestions?)

[2020-10-22 20:17] mschanteltc opened #11032 "Exploration Editor card is green despite being incomplete"
![Screen Shot 2020-10-22 at 12 41 53 PM](https://user-images.githubusercontent.com/22177674/96925162-98582580-1468-11eb-9bff-06fb75a659a8.png)

Exploration Overview has cards that are green even though they are incomplete. In the example above, the Introduction card is being translated. Its interaction has not been translated yet but its card in the Exploration Overview is green.

The card should

[2020-10-22 20:19] mschanteltc opened #11033 "Figure out how voiceovers are played for interactions"
![Screen Shot 2020-10-22 at 12 41 53 PM](https://user-images.githubusercontent.com/22177674/96925162-98582580-1468-11eb-9bff-06fb75a659a8.png)

Voiceovers are made for reading out loud the exploration content. However there is an option to add a voiceover for the interaction as well. We need to figure out how voiceovers for interactions would be played if they are available.

[2020-10-22 20:19] mschanteltc commented on #11032
@seanlip

[2020-10-22 20:19] mschanteltc commented on #11033
@seanlip

[2020-10-23 00:09] BenHenning commented on #10969
Fixed per #10963.

[2020-10-23 00:09] #10969 closed, assigned to kaylahardie

[2020-10-23 00:29] #9281 closed, assigned to iamprayush

[2020-10-23 04:27] tyajush commented on #10306
Hello kevin please assing me this issue , I am new commer.

[2020-10-23 04:31] kevintab95 commented on #10306
Hi @tyajush, can you please specify which files you would like to be assigned? Thanks!

[2020-10-23 04:40] tyajush commented on #10306
@kevintab95  Any file where this change is need to be made:-

Use of "async" keyword in the function definitions.
Use of "Async" added to the end of the function name.
For anonymous function definitions, the "async" keyword needs to be added before the "function" keyword.

[2020-10-23 05:00] kevintab95 commented on #10306
@tyajush, yep that applies to all the files listed under "Files that can be claimed" section in the issue description. Feel free to pick one or more files from that section that are not currently assigned to anyone (i.e. no @-mention next to the file name) and let me know in a comment here. I will then assign those files to you.

[2020-10-23 05:11] tyajush commented on #10306
@kevintab95 https://github.com/oppia/oppia/blob/develop/core/templates/services/translations-backend-api.service.ts

this file

[2020-10-23 05:35] kevintab95 commented on #10306
Just assigned it to you! :)

[2020-10-23 07:48] tyajush commented on #10306
Thanks !

[2020-10-23 12:47] nithusha21 opened #11038 "Fix remaining comments from #10654"
Fix remaining comments from #10654.

[2020-10-23 15:08] JoelWee commented on #10415
Hi @vojtechjelinek, could I pick up "Question" validators? :)

[2020-10-23 16:20] vojtechjelinek commented on #10415
@JoelWee I have assigned you

[2020-10-24 04:07] #11006 closed, assigned to U8NWXD

[2020-10-24 07:07] srijanreddy98 opened #11043 "Incorrect usage of constants in the codebase."
Constants are read-only and shouldn't be assigned to mutable variables. Here are the instances of all the incorrect usages of constants throughout the codebase.

To get these errors you need to make the change the `require('constants.ts');` statements to import statements. In VSCode, this can be done using global regex search and replace. Search for `const (\w*) = require\('constants.ts'\);` and r

[2020-10-24 07:59] nithusha21 opened #11045 "Temporarily transfer codeowner away from Nithesh (@nithusha21)"
Temporarily transfer codeownership away from Nithesh to multiple people, upto 2-Nov-2020

[2020-10-24 18:30] nishantwrp commented on #10474
@Rijuta-s @yogendra-17 @adi2011 done!

[2020-10-24 23:57] hulyak commented on #4057
Hi, @shubha-rajan , can I work on `story-viewer-backend-api.service.ts`, please?

[2020-10-25 00:00] hulyak commented on #4057
Hi @nishantwrp, can I work on `suggestion-modal-for-learner-dashboard.service.ts`?

[2020-10-25 05:18] #8531 closed, assigned to shivansh1010

[2020-10-25 06:39] zeela-bukhari commented on #10798
Hello @U8NWXD I am outreachy applicant interested  in working for this issue. Kindly assign me a file to work on or should I start working on classroomPage.js.

[2020-10-25 06:46] #10788 closed, assigned to aks681

[2020-10-25 19:11] Kizjkre opened #11051 "Running scripts.start for the first time throws error"
**Describe the bug**
When running `scripts.start` for the first time,
[code]
gets added to `/oppia/requirements.txt` to lines 11-13, which presumably causes the index out of range error in line 139 of `install_backend_python_libs.py`. This exits the start script.

**To Reproduce**
Steps to reproduce the behavior:
 1. Delete
[code]
2. Run `python -m scripts.start`

**Observed behavior**
While runni

[2020-10-25 20:04] hulyak commented on #10306
Hi, I have checked `oppia/oppia/core/templates/services/exploration-improvements.service.ts` file; but it's already done, I think. Does it need any changes?

<img width="567" alt="Screen Shot 2020-10-25 at 1 03 32 PM" src="https://user-images.githubusercontent.com/57311842/97117686-99848f00-16c2-11eb-857b-9cccee0ec733.png">

[2020-10-25 21:00] U8NWXD commented on #11051
The lines get added to `requirements.txt` by `scripts/regenerate_requirements.py`. The added lines [are actually valid](https://stackoverflow.com/questions/2477117/pip-requirements-txt-with-alternative-index) for a requirements.txt file, but our code assumes they don't exist

[2020-10-25 21:29] U8NWXD commented on #11051
This error was because the developer had a pip config file at `/Library/Application Support/pip/pip.conf` that specified `index-url` and `extra-index-url`. The fix was to remove `pip.conf`

[2020-10-25 21:30] U8NWXD commented on #11051
@seanlip should we support pip configurations like `index-url` and `extra-index-url`?

[2020-10-25 23:56] #10617 closed, assigned to Hudda

[2020-10-26 01:22] seanlip commented on #11051
I lean towards no, assuming removing `pip.conf` worked. Can we raise an exception telling the developer what to do, if we detect such lines?

[2020-10-26 05:33] kevintab95 commented on #10306
Hi @hulyak, thanks for checking, but it looks like `initAsync` and `flushUpdatedTasksToBackend` might need some changes.

[2020-10-26 09:57] nishantwrp commented on #4057
@hulyak, sure. I've assigned you, go ahead!

[2020-10-26 13:01] mridul-netizen commented on #9749
can I work on  `continue-button.directive.ts`?

[2020-10-26 16:34] srijanreddy98 commented on #9749
Hi @mridul-netizen, it is already being migrated by a contributor at the moment, can try for another file?

[2020-10-27 01:15] seanlip opened #11054 "Prevent meta tag in stories/topics from being too long."
**Describe the bug**
Meta tags in stories can have unlimited length, and this is only noticeable when the creator examines the warning messages associated with the story. (This might need to be checked for topics as well, and perhaps more generally for all fields in "new structures" entities.)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new topic, and go to the topic editor for

[2020-10-27 01:22] seanlip opened #11055 "Cannot assign prereq skills from other topics + invalid prereq skill error message is not comprehensible."
**Describe the bug**
In the story chapter editor, introducing a prereq skill from another topic leads to a validation error that is incomprehensible (e.g. "The prerequisite skill with id XXX was not completed before node with id node_3 was unlocked").

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill, P, and assign it to a new topic, T1.
 2. Create a different topic, T2, and go

[2020-10-27 01:47] U8NWXD commented on #10798
@zeela-bukhari I've assigned you! Let me know if you have any questions

[2020-10-27 01:49] U8NWXD commented on #11051
I think that makes sense. I'm sending this to the dev workflow team for triage

/cc @kevinlee12

[2020-10-27 02:36] kevinlee12 commented on #11051
@U8NWXD the core maintainers now does the triaging.

[2020-10-27 05:25] mridul-netizen commented on #9749
@srijanreddy98 ,would this one be okay? `collection-local-nav.directive.ts`

[2020-10-27 05:54] Rhytah commented on #10798
@U8NWXD  Can I work on the `core/tests/protractor_utils/general.js`

[2020-10-27 07:57] kevintab95 commented on #10386
Unassigning @Showtim3 for now.

[2020-10-27 14:56] vojtechjelinek commented on #10178
This issue can be closed after we confirm that `RemoveGaeIdOneOffJob` was successfully run on the production.

[2020-10-27 15:10] vojtechjelinek commented on #10358
@sajalasati Is this actionable or still blocked? If blocked do we have an issue for the thing that is blocking this?

[2020-10-27 16:33] arpit1912 commented on #8472
@srijanreddy98 please assign me ```suggestion-modal-for-learner-dashboard.service.ts``` thanks!

[2020-10-27 16:38] singlamohit1 commented on #10474
Hi I want to work on these 3 files :  ExplorationPermissionsObjectFactory,  ExplorationMetadataObjectFactory, ExplorationOpportunitySummaryObjectFactory

[2020-10-27 16:41] nishantwrp commented on #10474
@singlamohit1, sure. Go ahead!

[2020-10-27 18:04] Rijuta-s commented on #10306
Hi @kevintab95  can you please assign me

- oppia/oppia/core/templates/domain/review_test/review-test-backend-api.service.ts

[2020-10-27 18:14] kevintab95 commented on #10306
@Rijuta-s done, all yours!

[2020-10-27 18:17] Rijuta-s commented on #10306
Can you also assign me

-  email-dashboard-backend-api.service.ts
Sorry for the trouble.

[2020-10-27 18:20] kevintab95 commented on #10306
@Rijuta-s done!

[2020-10-28 04:42] Rhytah commented on #9749
Hey @srijanreddy98 can I work on `library-footer.component.ts` ?

[2020-10-28 04:46] DubeySandeep commented on #8423
Hi @swatisriva1, any updates on the assigned issue?

[2020-10-28 04:48] DubeySandeep commented on #8423
Hi @prashasthip, any updates on the assigned issue?

[2020-10-28 09:24] sajalasati commented on #10358
@vojtechjelinek I will have to check on this. Most likely it depends on the authentication flow to be implemented for oppia android, but I will come back with more information on this.

[2020-10-28 10:52] Rijuta-s commented on #10306
hey @kevintab95 , can you assign me

- editable-collection-backend-api.service.ts

- collection-rights-backend-api.service.ts

- collection-rights-backend-api.service.spec.ts

[2020-10-28 11:46] rohanVerma7 commented on #3820
Hi, I would like to work on this design, can you suggest me ways to get started..?

[2020-10-28 14:37] swatisriva1 commented on #8423
Hi! I worked on this issue with two other people during GHC OSD and we did not get to finish. We are all actually full-time students and as such it has been difficult to spend dedicated time finishing the issue. We hope to work more on it soon though! Hopefully around December. Would that be okay? If not, I understand.

[2020-10-28 15:25] srijanreddy98 commented on #9749
@mridul-netizen and @Rhytah done! Assigned you the files respectively

[2020-10-28 15:34] HarshKhilawala commented on #8423
@U8NWXD @kevintab95  Can I work on any one of these ? If yes, then I would like to take up HTML issue of checking out space before and after = . Please assign if its okay for me to work on  that.

[2020-10-28 16:16] DubeySandeep commented on #8423
Hi @swatisriva1, thanks for the update. It's totally fine to work on the issue after December. I'm unassigning you from this issue for now, feel free to leave a comment here once you are available or ping me on email/hangout I'll assign you back to the same issue (or another similar issue if this one won't be available). I hope that's fine! :)

[2020-10-28 16:44] swatisriva1 commented on #8423
@DubeySandeep Sounds good! I think we would prefer backend issues and since we did have the opportunity to start learning about linter checks during OSD, it would probably be easiest to work on another linter check in case this one gets taken, but we can be flexible! I will be sure to ping you/the team when we're ready!

[2020-10-28 18:25] U8NWXD commented on #10798
@Rhytah I've assigned you! Let me know if you have any questions

[2020-10-28 19:04] vojtechjelinek opened #11070 "Empty docstring linter error"
**Describe the bug**
When the docstring of some methods is set to `""""""` the pre-commit linter will show an error:

[code]

[2020-10-29 07:11] prasoon054 commented on #10798
@U8NWXD Can I work on core/tests/protractor_utils/forms.js

[2020-10-29 09:31] BenHenning opened #11073 "The evaluation context is incorrectly constructed for backend evaluation of parameters"
See: https://github.com/oppia/oppia/blob/develop/core/domain/platform_feature_services.py#L156. We're currently defaulting all values to None--this isn't correct for a few reasons:
1. It has disparity with Android & web clients
2. It actually will fail validation for EvaluationContext (which requires client_type and user_locale to be defined)
3. It will lead to false results when evaluating platfo

[2020-10-29 09:41] BenHenning commented on #11073
Note that as part of this we may also want to rename 'locale' to actually be 'selected_language_code' since that's all we can really infer here, and it's what we currently use in the frontend.

[2020-10-29 13:58] U8NWXD commented on #11051
@oppia/core-maintainers please triage Sean's suggestion to raise an exception

[2020-10-29 16:46] paulstalker84 opened #11079 "Issues inserting images"
Hello, I am having issues inserting images at the moment. Every time I try to insert an image an orange error sign comes up saying that "Image exceeds file size limit of 100KB".  the file however is much less than 100KB and is a image I have used before.

[2020-10-29 17:25] krishita30j commented on #10474
Hi @nishantwrp,

I would like to work on:

* CodeNormalizerService
* ConstructTranslationIdsService
* IdGenerationService

Please assign the same to me.
Thanks

[2020-10-29 18:17] Sanu3007 commented on #10306
Hi @kevintab95 I would like to work on this issue! I am a new contributor. I have submitted the CLA and the New Contributor Survey.

[2020-10-29 19:08] DubeySandeep commented on #11079
Hi @paulstalker84, Thanks for creating the issue. Can you please provide more info related to the issue:

1. Where are you able to reproduce this issue? [Locally or on oppia.org]
2. Will it be possible for you to share the image? [As I'm unable to reproduce this issue.]
3. Please let us know about the browser and device where you are able to reproduce this issue.

[2020-10-29 21:02] BenHenning opened #11083 "Revert ownership to @BenHenning after 2020-11-15"
Add @BenHenning back to .CODEOWNERS after 15th of November.

[2020-10-29 23:51] vextor22 opened #11085 "Optimize topic validation based on comments from #10967"
It seems possible to optimize the validation for canonical topic names as seen in topic_validators.py (identified here: https://github.com/oppia/oppia/pull/10967#discussion_r511506590):
https://github.com/oppia/oppia/blob/993350571a065eb358afdfc27e74b5886fca33ec/core/domain/topic_validators.py#L113-L115

Additionally, skill categorization is checked with nested loops (identified here: https://gith

[2020-10-30 04:56] Hudda opened #11088 "Add rule @typescript-eslint/await-thenable in .eslintrc"
Add new eslint rule @typescript-eslint/await-thenable in .eslintrc file

[2020-10-30 05:14] osins opened #11089 "Exception: Please run this script from the oppia/ directory."
Dockerfile:

[code]

---------------------------------------------------------------------

[code]

[2020-10-30 09:25] DubeySandeep opened #11091 "Unable to run server with chromium or other browser"
Contributors cannot run a local server with chromium or firefox. The script fails with `Exception: Chrome not found.`

I think we should allow running server without browser check and we should block with this error while running e2e tests (with proper reasoning on why they need Chrome).

[2020-10-30 21:09] nishantwrp commented on #10474
@krishita30j sure, assigned you!

[2020-10-30 21:11] vojtechjelinek commented on #9718
Are we sure about this, I decided to use 503 because there are various sources that it is the best code for this purpose. See https://makandracards.com/makandra/47311-be-careful-to-use-correct-http-status-codes-for-maintenance-pages or https://yoast.com/http-503-site-maintenance-seo/

[2020-10-31 03:14] DubeySandeep commented on #11085
@vextor22, Thanks for creating the issue, can you please complete the last line? (I don't see any link or info after "... here:" )

@aks681, Can you please verify this issue and triage this accordingly?

[2020-10-31 07:58] ayadwalaa opened #11096 "Spotting a fraction on the number line; "click on the image" link"
**Describe the bug**
In the Mixed Line and The Number Line Lesson Part 1, there is a question for the student to spot the fraction on the number line. When the user scrolls down the page, the number line remains at its place at the top of the page and invisible to the user who's reading the last part of the question. Furthermore, there is a sentence that says "click on the image" that aims to dire

[2020-10-31 09:02] #11023 closed, assigned to BenHenning

[2020-10-31 09:39] BenHenning opened #11098 "Investigate user_locale not being properly defined for platform parameters"
#11074 has the primary context where this was discovered.

#11023, the issue the PR above fixes, identifies one set of cases where users may not have a user locale properly defined. While the PR fixes the actual 400 error being thrown, the underlying problem (no locale) now leads to a default parameter state. This may not result in a broken user experience, but does result in them not getting expe

[2020-10-31 21:08] iramin commented on #10474
Hi @nishantwrp ,

I would like to work on "I18nLanguageCodeService".

[2020-11-01 00:40] vextor22 commented on #11085
@DubeySandeep Yes, sorry. I got myself confused while playing with Github's automatic links. Fixed it to correctly refer to the comment link above.

[2020-11-01 02:33] iramin commented on #10415
Hi @vojtechjelinek
I would like to work on the config validator.

[2020-11-01 17:38] dchen97 opened #11105 "Audio player in mobile is too tall when just viewing language selection"
**Describe the bug**
The audio toolbar is too large when the user is just viewing the language selection menu.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/explore/umPkwp0L1M0-?story_url_fragment=piece-of-cake&topic_url_fragment=fractions&classroom_url_fragment=math&node_id=node_1`
 2. Click on the headphone tab / icon (Audio Translation Player)
 3. See that

[2020-11-01 17:41] dchen97 opened #11106 "Add share option for lessons in mobile view"
**Is your feature request related to a problem? Please describe.**
Users may want to be able to share Oppia - either via text, social media, or more - and while they can do so on desktop views, that's currently not an available option on our mobile views. Considering many of our users are mobile users, this impacts a significant number of users.
**Describe the solution you'd like**
Users should be

[2020-11-02 02:29] srijanreddy98 commented on #9456
@U8NWXD one solution that worked last time was installing LibreSSL and then uninstalling and re-installing python. Could you try that once?

[2020-11-02 02:34] U8NWXD commented on #9456
@srijanreddy98 I haven't actually encountered this bug; I'm helping some new contributors who ran into it. I'll pass along your suggestion though!

[2020-11-02 10:03] sohamsshah commented on #11105
Hey @dchen97 I would love to work on this issue. Please assign me this issue.
P.S. I am new to Oppia open source, but really fascinated by the work done here and seeing the positive impact of the project of the org towards the world essentially, I am dragged to contribute here 😁

[2020-11-02 14:28] dchen97 commented on #11105
Hi Soham - it looks like you still have to sign our CLA. You can do so by following the instructions linked in the above comment.

[2020-11-03 04:16] jian-en commented on #10474
Hi, @nishantwrp I would like to work on "ComputeGraphService", thanks!

[2020-11-03 06:31] sohamsshah commented on #11105
Hi, I have signed the CLA now😁

[2020-11-03 06:34] EricZLou commented on #4057
Hi! Can I take `story-viewer-backend-api.service.ts`? Thanks

[2020-11-03 07:03] dchen97 commented on #11105
Done!

[2020-11-03 08:11] mimmicromsjoo commented on #10306
Hi, I am a new contributor and I would like to work on this issue. I have submitted the CLA and the New Contributor Survey. Could you please assign me to the file core/templates/services/assets-backend-api.service.spec.ts @kevintab95 ?

[2020-11-03 08:56] kevintab95 commented on #10306
@mimmicromsjoo sure, assigned it to you.

@Sanu3007 which file would you like to take up?

[2020-11-03 10:05] arora-ria commented on #10474
Hi @nishantwrp , could you please assign 'LoggerService' and 'LoaderService' to me. Thank you!

[2020-11-03 10:16] linnhallonqvist commented on #10798
Hi @U8NWXD ! Can I work on core/tests/protractor_utils/ExplorationEditorSettingsTab.js ? :)

[2020-11-03 19:56] nishantwrp commented on #10474
@arora-ria sure, done!

[2020-11-03 19:57] nishantwrp commented on #10474
@jian-en sure, assigned you!

[2020-11-03 21:59] #11045 closed, assigned to nobody

[2020-11-04 04:41] jian-en commented on #10474
Should I only fix the errors related to the file? I noticed some other files having some issues. Should I also touch on that?

[2020-11-04 04:47] sajalasati commented on #10178
@vojtechjelinek Can you confirm that the job ran successfully on the production so that we can close this issue?

[2020-11-04 09:33] AdityaDubey0 commented on #11070
Hey @vojtechjelinek ,
I tried to reproduce the issue with empty docstring as you have mention above, But i am unable to reproduce the issue.(it does not throw error.),is this issue still reproducible?
![image](https://user-images.githubusercontent.com/55298925/98093463-ff84c980-1ead-11eb-9c7a-ad4e8b8a199c.png)

[2020-11-04 10:30] AdityaDubey0 commented on #11070
@vojtechjelinek
i was able to reproduce this issue by the following docstring:
[code]
![image](https://user-images.githubusercontent.com/55298925/98100310-aec59e80-1eb6-11eb-9228-6be696684406.png)
**Note: All check passed even with error.**

[2020-11-04 10:33] AdityaDubey0 commented on #11070
@vojtechjelinek i would like to work on this issue can you please assign me ?
Also, let me know what should be the expected behaviour.

[2020-11-04 10:54] xarcode commented on #10798
Hi @U8NWXD ! Could you assign me to work on `core/tests/protractor_utils/CreatorDashboardPage.js` ? Thanks!

[2020-11-04 12:57] #10552 closed, assigned to nobody

[2020-11-04 17:17] Nik-09 commented on #10306
Hello @kevintab95 , I want to work on "core/templates/domain/collection/collection-rights-backend-api.service.ts" this file in order to start my contribution journey.
Thanks.

[2020-11-04 18:57] Rijuta-s commented on #10306
Hello Nik,
 I am already working on this file. Can you please see some other file to work on?

[2020-11-04 19:00] Rijuta-s commented on #10306
hello @kevintab95 ,
Can you please assign me these?

[2020-11-04 19:15] sagangwee commented on #11029
This issue seems be related to a recent PR where feedback threads are deleted when exploration or topic is deleted: https://github.com/oppia/oppia/pull/10613#issuecomment-721361867

[2020-11-04 19:20] sagangwee commented on #11029
The fix here seems to be to don’t delete the threads model for translation suggestion in exp_services.delete_explorations function line 779.

[2020-11-04 19:23] sagangwee opened #11129 "Create migration OneOffJob using the question migration workflow to update the change field of the suggestion model."
The suggestion’s change field contains the question's data. Currently we don’t have a process to run migrations on these change fields whenever we do question migration. In addition to a migration job, we need to update the release script such that it asks release coordinators to run the suggestion migration job whenever the question/exploration schema version number changes.

[2020-11-04 19:37] kevintab95 commented on #10306
Sure, assigned them to you @Rijuta-s.

@Nik-09 please feel free to pick a different file and let me know. Thanks!

[2020-11-04 21:18] jameesjohn opened #11130 "Check for changes in yarn.lock when package.json is changed"
There should be a lint check that whenever package.json is changed, there should be a corresponding change in yarn.lock.
This was initially planned to be done via oppiabot, but after discussing with @vojtechjelinek, we resolved it would be better as a lint check.

[2020-11-04 21:58] Nik-09 commented on #10306
Alright!
If "core/templates/domain/collection/read-only-collection-backend-api.service.ts" this file is not assigned to anyone, can you assign it to me.
Thanks.

[2020-11-04 22:06] vojtechjelinek commented on #11070
I think the expected outcome should be that `Empty method docstring` is returned and that there is no error.

[2020-11-04 22:07] vojtechjelinek commented on #10178
It will be run at the end of November, I will close it then.

[2020-11-04 22:35] kevintab95 commented on #10306
Sure, just assigned you @Nik-09!

[2020-11-05 01:26] MegrezZhu commented on #11098
Some context:

- The request to `/platform_features_evaluation_handler` is initiated in `PlatformFeatureService.loadFeatureFlagsFromServer()` during the page module initialization:
https://github.com/oppia/oppia/blob/37438a2c9bf7e66892fb9a6a93a1fe4ca7a82691/core/templates/pages/about-page/about-page.module.ts#L61-L66
https://github.com/oppia/oppia/blob/37438a2c9bf7e66892fb9a6a93a1fe4ca7a82691/core

[2020-11-05 03:31] U8NWXD commented on #10798
@linnhallonqvist @xarcode I've assigned you! Let me know if you have any questions

[2020-11-05 05:10] xarcode commented on #10798
Hi @U8NWXD , I made the changes to `core/tests/protractor_utils/CreatorDashboardPage.js` but before submitting a PR, I need to pass linter checks locally on my machine. I have actually never done linter checks before. Could you help me out on how to get started on doing linter checks on this file? Thanks!

[2020-11-05 07:10] krishita30j opened #11133 "Fix the display: '+1' icon and 'Nowhere yet..' text"
**Describe the bug**
Align the '+1' icon and adjust the 'Nowhere yet..' text correctly .

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Create'.
 2. Create an exploration.
 3. Enter a Multiple choice interaction.
 4. Scroll down to 'Learner's Answer and Oppia's Responses.'
 5. See error

**Observed behavior**
The alignment of the '+1' icon is not in the same line and 'Nowhere yet..'

[2020-11-05 13:28] ghost commented on #3446
May i do something useful here? forking and cloning now... @kevintab95

[2020-11-05 16:46] paulstalker84 commented on #11079
The explore I am trying to edit is https://www.oppia.org/explore/bXxPOqQzI3N_

I am trying replace existing images with update slides which are the exact same file size as the ones that are already on there on Oppia. I have tried this on Google Chrome and internet explorer and get the same response.

The images I am trying to upload:
![image](https://user-images.githubusercontent.com/73660208/9826

[2020-11-05 16:48] paulstalker84 commented on #11079
![image](https://user-images.githubusercontent.com/73660208/98270303-a6d52f80-1f86-11eb-807f-212b47bf224f.png)