[2015-12-05 08:14] won0089 opened #1229 "On narrow viewports with supplements, change the button text to a different message if necessary"
Currently when the viewport is narrow, the clickable button says (Click on the image) when the image isn't even in the view for clicking. A more meaningful text would be something in the lines of Click to view image, without the arrow or parenthesis.

![image](https://cloud.githubusercontent.com/assets/14171129/11606848/d1c4ae2c-9ae4-11e5-9e07-d4adbc039ac6.png)

[2015-12-05 08:17] seanlip commented on #1229
/cc @amitdeutsch -- any thoughts?

[2015-12-05 14:31] mgracer48 commented on #1209
i tested and like during instructions there is no"other releases" and that didnt work and node failed to build

[2015-12-05 16:21] mgracer48 commented on #1209
the installation process works :)

[2015-12-05 16:22] mgracer48 commented on #1209
Yea the only part i cant seem to do is install node.js there is no other releases

[2015-12-05 16:58] amitdeutsch commented on #1229
This is a duplicate of #1164.

[2015-12-05 21:12] seanlip commented on #1229
It's not a duplicate. @won0089 is referring to using different text in the case of 1-card vs 2-cards on the screen, since the text used in the latter case may not always make sense in the former case.

[2015-12-05 21:24] amitdeutsch commented on #1229
Ah you're right, I didn't read that carefully- sorry about that!

I agree about removing the parentheses and making the message clearer on narrow views. I like the arrow, but we can try removing it- at worst we can add it back in if it feels like it's missing.

[2015-12-05 23:03] seanlip commented on #1209
Sorry, I don't understand. What do you mean by "other releases"?

Also, I don't understand the node.js part. Is this on the vagrant machine? What is the stack trace of the error you get?

[2015-12-05 23:39] mgracer48 commented on #1209
im using the windows installation instructions

[2015-12-05 23:39] mgracer48 commented on #1209
and running it on my other computer which is windows

[2015-12-06 01:58] seanlip opened #1234 "Add a help modal for the math expressions interaction"
(Filed per discussion in #1230.)

To reproduce: create a new exploration, go to the editor, and select math expression input for the first state. Then go to the preview. The input field is a blank white box without instructions; it would be nice to have some sort of help modal (similar to the logic proof interaction) that shows the user what they can type.

There are two parts to this project: use

[2015-12-06 02:03] #1217 closed

[2015-12-06 03:32] wxyxinyu commented on #1234
A good place to start may be to look at the reference [here](https://daniel3735928559.github.io/guppy/) (though there seem to be other functions supported that are not listed there).

[2015-12-06 05:00] wxyxinyu opened #1235 "State errors in the editor are not very intuitive to find"
While testing the editor recently, I noticed that, if I add something invalid to the exploration such that it's blocked from saving, it's not very intuitive to find out what's wrong with it.
* the save button is just disabled with no explanation
* there's a red triangle on the edit button, but there's also no explanation to what errors are occuring in the exploration, only which states have errors

[2015-12-06 05:13] seanlip commented on #1164
Fixed in #1228

[2015-12-06 05:13] #1164 closed

[2015-12-06 16:07] varenya commented on #1234
I would like to help with this can someone help me out?

[2015-12-06 17:47] wxyxinyu commented on #1234
Hi @varenya, thank you for your interest in contributing to Oppia! The first step is to read [this](https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md), and follow the instructions in "Setting Things Up" to set up a development instance of Oppia and sign the CLA.

[2015-12-06 22:07] seanlip commented on #1209
Yep, I'm afraid neither set of instructions works fully. The aim of this bug is to try and fix this (either one), so that Windows users have a clean installation pathway. I think the Vagrant route is likely to be easier, since there shouldn't be any special cases after the Vagrant instance is set up, but YMMV.

Also, I just realized that I didn't make this clear in the original comment (i.e. that

[2015-12-06 22:22] seanlip commented on #1229
OK, looks like the following things need to be done:
- For each supplemental interaction, figure out a good replacement phrase
- Add this to the interaction config py files in extensions/interactions and pass them to the frontend
- The frontend should read from the new descriptions in 1-card mode

@won0089 -- is this something you'd be interested in taking up? It'll give you some idea about how th

[2015-12-06 22:25] seanlip commented on #1213
This has been fixed by #1232 and #1233.

[2015-12-06 22:25] #1213 closed

[2015-12-06 22:28] seanlip commented on #674
Another example, reported in #1130:

![screen shot 2015-11-13 at 1 17 59 pm](https://cloud.githubusercontent.com/assets/1188049/11157874/02d17942-8a09-11e5-861c-a096d0f0dc05.png)

[2015-12-06 22:28] seanlip commented on #1130
Duplicate of #674.

[2015-12-06 22:28] #1130 closed

[2015-12-06 22:31] seanlip commented on #1083
Thsi has been fixed by #1155. Thanks @edallison!

[2015-12-06 22:31] #1083 closed

[2015-12-06 22:32] seanlip commented on #916
This has been done by @amitdeutsch. Closing.

[2015-12-06 22:32] #916 closed

[2015-12-06 22:35] seanlip commented on #909
Hi @virajprabhu -- did you manage to take a look at this? If you need any help, please say!

[2015-12-06 22:40] seanlip commented on #965
@BenHenning -- I cannot reproduce this. Does the horizontal scrollbar still appear for you?

[2015-12-06 22:42] seanlip commented on #968
OK, closing again. I haven't seen this in two months, and the learner view has undergone some redesign during that period, so it's possible this was a transient thing specific to the old implementation. If it comes up again, please feel free to reopen or create a new issue!

[2015-12-06 22:42] #968 closed

[2015-12-06 22:49] seanlip commented on #754
I've thought about this a bit more, and I think, on the whole, I'd prefer not to do it at the moment, in order to prevent any possible future issues with special characters in URLs. The existing character set should be usable as-is -- in particular, hyphens are already allowed in state names. For images, there are a limited number of feasible regions, and it should not be too difficult to find dis

[2015-12-06 22:49] #754 closed

[2015-12-07 00:28] won0089 commented on #1229
Sure I'll take this. Assign me please.

[2015-12-07 01:27] jacobdavis11 opened #1236 "In the video component, enforce the YouTube id being 11 characters"
I have just come across an exploration in which the whole url has been given as the video id, rather than just the id itself. If we enforce the restriction that all IDs consist of 11 characters we can avoid this problem.

[2015-12-07 02:00] seanlip commented on #995
I had a quick poke around using Travis for e2e tests without Saucelabs -- didn't turn out so well. See [this PR](https://github.com/oppia/oppia/pull/1222) for the details.

With regards to point 3, we now use gulp for installation. I wonder if it's worth getting rid of some of the bash stuff, and extending the gulpfile to have tasks for the e2e (and other) tests as well, in order to guarantee that

[2015-12-07 02:32] seanlip opened #1238 "Get rid of EXPECTED_TEST_COUNT in scripts/backend_tests.py"
Given the high development velocity in this codebase, many merge conflicts arise due to changes to the EXPECTED_TEST_COUNT variable in scripts/backend_tests.py. The friction this causes is outweighing the gains and we should get rid of it.

/cc @stephenchiang @rainehoover @BenHenning @jacobdavis11 @amgowano who have all been affected by this.

[2015-12-07 02:44] seanlip opened #1239 "Add GitHub hook that displays the 'number of tests' diff in a PR"
(Originally suggested by @BenHenning as a replacement for the backend test count variable that is to be removed in #1238.)

In the backend, unittest only runs tests that start with `test_`. This has caused issues in the past when developers misspelled this prefix (or replaced it with something like `check_`), and thereby wrote tests that didn't end up getting run. In order to alleviate this, we ma

[2015-12-07 02:45] seanlip commented on #1238
Also filed #1239 to suggest a replacement.

[2015-12-07 03:35] varenya commented on #1234
Thanks! @wxyxinyu  I have forked/cloned the repository, can you help me understand the code or point me to a documentation about the architecture/technology stacks used.

Thanks again!

[2015-12-07 03:43] amitdeutsch commented on #1236
What about parsing YouTube URLs? The ID is kind of a technical thing.

[2015-12-07 04:16] jacobdavis11 commented on #1236
That would be even better, though it would be a bit more complicated to implement as you'd have to store the id (which is what we have for existing explorations) but display the url. We'd also need to strip extraneous customisations from urls that get supplied.

[2015-12-07 05:42] jacobdavis11 opened #1240 "Add an edit link when viewing your own profile page"
When a user views their own profile page there should be an edit link, probably in the top right. The link should take them to their preferences page, where it is possible to edit the information contained in the profile.

[2015-12-07 05:45] jacobdavis11 opened #1241 "Change the way ratings are displayed in the gallery and player"
The gallery and player currently use a single star followed by a number to indicate a rating of that number. I find this to be a bit confusing as I would expect a single star to indicate a one-star rating. I propose changing to closed and open stars as is done when assigning ratings at the end of an exploration.

[2015-12-07 05:55] jacobdavis11 opened #1242 "MathExpressionInput: make rules use the mathematical interaction datatype"
For the mathematical expression interaction there is a single rule that compares the student's expression to an expression provided by the teacher. Currently the teacher enters their expression as text, but it would make sense to use the expression editor for that as well.

[2015-12-07 06:00] jacobdavis11 opened #1243 "Allow users to specify non-gmail email addresses"
Currently users log in using their Google accounts and then emails are sent to the addresses associated with those accounts, which is to say Gmail addresses. This is inconvenient for those who do not use Gmail as their primary email provider.

It would be good to offer users the opportunity to associate a different email address with their account, to be used for all oppia correspondence. This set

[2015-12-07 06:02] seanlip commented on #1241
@amitdeutsch -- thoughts? I'm inclined to agree with @jacobdavis11, but realize that there are space constraints.

[2015-12-07 06:16] wxyxinyu commented on #1234
Hi @varenya, you can see an overview of the codebase [here](https://github.com/oppia/oppia/wiki/Overview-of-the-Oppia-codebase). Don't worry if it looks complicated at first; you don't need to read through all of it at once. This project is a frontend project, are we are using AngularJS for the frontend. For this project, we'll be modifying the Math Expressions interaction, which is contained in e

[2015-12-07 15:59] varenya commented on #1234
Sure thanks @wxyxinyu !

[2015-12-07 18:20] amitdeutsch commented on #1241
I do like showing 5 stars, but there is a space constraint at the moment. How about instead of showing a single solid star at all times, we show a star who's fill changes depending on the value:

![starratings](https://cloud.githubusercontent.com/assets/1188049/11635487/f658aba6-9ccb-11e5-802b-b5471b619cd8.png)

So for example:

![starratingcard](https://cloud.githubusercontent.com/assets/1188049/

[2015-12-07 18:27] amitdeutsch commented on #1240
Example of how this could look:

![editprofile](https://cloud.githubusercontent.com/assets/1188049/11635688/2a0f3a2c-9ccd-11e5-8d40-109c4c666eb0.png)

[2015-12-07 18:31] amitdeutsch commented on #1236
Two thoughts:

1. What if we just store the URL, and always parse it on the fly, and
2. For existing explorations, just append https://www.youtube.com/watch?v= before the ID

[2015-12-07 18:33] jacobdavis11 commented on #1241
That would be a bit clearer, though I can't recall having seen such an
approach anywhere else.

I do like the idea of showing a decimal value for the rating, as that
reduces the temptation to think it's counting something.

On Mon, Dec 7, 2015 at 1:21 PM, Amit Deutsch <notifications@github.com>
wrote:

[2015-12-07 18:33] jacobdavis11 commented on #1240
That looks good to me. Do you think there should be some corresponding link on the preferences page that will take you back to your profile?

[2015-12-07 18:36] jacobdavis11 commented on #1236
That might be easier actually. It would mean we'd have to do a datastore migration from IDs to urls, but we'd have to do that anyway to deal with existing cases when an invalid ID has been entered.

@seanlip what do you think?

[2015-12-07 18:47] amitdeutsch commented on #1240
Well, a few thoughts:

1. There actually is a link from the preferences page back to the profile– you can click on your user name– but that is very undiscoverable

2. We can instead have a link in the preferences that is similar to the link above:

![preferencesviewprofile](https://cloud.githubusercontent.com/assets/1188049/11636158/7d0972d6-9ccf-11e5-9eef-7240229da6f0.png)

3. However, I think it

[2015-12-07 18:52] jacobdavis11 commented on #1240
I agree that it would be more natural to have profile page editing be built into the profile page itself. But I think we'd want to keep the preferences page but rename it to "settings" and have it just contain non-profile-related things. Settings like email preferences aren't normally included in profile page editors, so I fear they would be undiscoverable if put there.

[2015-12-07 18:58] amitdeutsch commented on #1240
That's true, I think that's a good idea.

[2015-12-07 21:11] seanlip commented on #1236
Seems reasonable. The main holdup is the datastore migration; this needs to be planned. We don't have infrastructure for easily doing a migration for rich-text components in the non-interactive content section yet.

In the meantime, we could add validation for the ID as @jacobdavis11 suggested.

[2015-12-07 21:21] amitdeutsch commented on #1236
Is there also any way to check if an ID is a valid YouTube video?

[2015-12-07 21:25] jacobdavis11 commented on #1236
I don't think checking the validity of IDs is essential, as if someone supplies an 11-character alphanumeric string it's highly plausible that they got it from a valid YouTube video. The more likely error case is someone submitting a url or other obviously invalid string.

[2015-12-08 00:31] seanlip opened #1246 "Allow rating to happen at any point within an exploration playthrough"
Based on some user interviews, it looks like explorations should be rate-able at any point in a playthrough (currently, rating is only possible at the very end). We need to present this to the learner somehow in a way that doesn't interfere with the core learning experience. Among the questions that need to be figured out are: where does the rating go? what does it represent? do we show both avera

[2015-12-08 08:15] BenHenning opened #1247 "The 'statistics' tab on the profile page should be called 'impact' instead"
'Impact' is a more fitting word to describe what the page shows, rather than 'statistics' (which is a bit bland).

[2015-12-08 08:16] seanlip commented on #1247
/cc @amitdeutsch

[2015-12-08 08:42] varenya commented on #1234
Hey @seanlip  can you point me to the "logic proof interaction" you mentioned for my reference?

[2015-12-08 08:46] seanlip commented on #1234
Yep! Create a new exploration, and when you get to the interaction selector, it's under Math > Logic Proof. The code for this is in extensions/interactions/LogicProof. (I'm also copying @jacobdavis11 in this issue, since he wrote it originally and should be able to answer any questions you have.)

[2015-12-08 09:10] varenya commented on #1234
Thanks sean!

[2015-12-08 09:24] seanlip opened #1248 "The bio on the profile page doesn't seem to display newlines correctly."
To reproduce: log in, go to your preferences page, type a bio with at least two paragraphs, then view it in your profile page. The two paragraphs have become one paragraph (i.e., the newlines have turned into spaces). Instead, the newlines should be preserved in the profile page.

[2015-12-08 09:41] seanlip commented on #1241
Quick check: do the tiles that are currently in the gallery look like you want them to (with regards to the ratings)? If so, I think we can close this issue.

[2015-12-08 17:03] amitdeutsch commented on #1247
That sounds good to me!

[2015-12-08 19:08] amitdeutsch commented on #709
Fixed in #1211

[2015-12-08 19:08] #709 closed

[2015-12-08 19:13] amitdeutsch commented on #1084
Note: the second point in this issue has been fixed, but the recommendations still appear above the rating, and as a result the rating mechanism is completely undiscoverable.

[2015-12-09 13:24] virajprabhu commented on #909
Hi @seanlip - sorry, I haven't been able to get time to look at this. If this is high priority, could you please get someone else to take it on? I don't think I'll be able to work on this for another couple of weeks.

[2015-12-09 18:03] #1238 closed

[2015-12-09 18:19] amitdeutsch opened #1251 "MathExpressionInput: change the cursor color"
At the moment, the mathematical expression interaction's text area has a cursor that is red. This looks strange, since red often means 'error'. I would recommend instead making the cursor black or blue.

Additionally, I would recommend making the cursor blink while nothing is being typed, which is typical behavior for a cursor.

[2015-12-09 18:33] amitdeutsch commented on #945
I just want to +1 this issue. Sometimes, if I haven't saved my changes after 5 or 6 edits, the editor gets *unbearably* slow when trying to type in the rich text editor. This results in making overly-frequent saves to avoid this problem, which ends up cluttering the history tab with many unnecessary small changes.

[2015-12-09 18:39] amitdeutsch opened #1252 "Broken dragging behavior for answer groups"
In this screenshot, the answer group being dragged is a few hundred pixels above where it's supposed to be:

![1252-1](https://cloud.githubusercontent.com/assets/10575562/11697331/fdee6b50-9e6d-11e5-8003-f63e0089ab06.png)

This is on a very large screen monitor; on smaller screens, sometimes the answer group isn't even visible since it's so high up on the screen.

This seems to have to do with scr

[2015-12-09 18:42] BenHenning commented on #945
@amitdeutsch For technical thoroughness, can you note your OS, browser
(with version), and roughly how many tabs you have open in it? It might
help for gauging whether this is a browser-based issue. Thanks!

On Wed, Dec 9, 2015 at 10:33 AM, Amit Deutsch <notifications@github.com>
wrote:

[2015-12-09 18:52] amitdeutsch commented on #473
+1 to this, since it happens to me quite often while using the editor– I'll often change 'equal to' to 'contains' and lose the answer I had.

[2015-12-09 19:19] amitdeutsch commented on #945
Sure thing:

System: 15" Macbook Pro (2013)
OS: Mac OS X 10.5.5 (Yosemite)
Browser: Chrome 47.0.2526.80 (64-bit)
Number of tabs open: 11 (though can reproduce this with only two tabs open, this one and the oppia tab)

More info: the explorations I'm currently working on use the Pencil Code interaction, I've seen this happen with other interactions but usually not so quickly. At the moment, if I re

[2015-12-09 21:38] BenHenning commented on #945
Fantastic, thanks Amit!

On Wed, Dec 9, 2015 at 11:19 AM, Amit Deutsch <notifications@github.com>
wrote:

[2015-12-09 23:00] seanlip opened #1253 "Add autofocus to "publish exploration" modal"
To reproduce, create an exploration, edit it, and publish it to the gallery. On clicking the "Publish Exploration" button, the following dialog is shown. It would be nice to focus into the textarea when the modal dialog opens, in order to reduce the amount of clicking needed.

![autofocus-fix](https://cloud.githubusercontent.com/assets/10575562/11701620/6f7a874c-9e85-11e5-992f-42d1c151c17e.png)

[2015-12-10 00:51] BenHenning commented on #965
It appears this issue isn't reproducible anymore; I can't reproduce it anymore, either. It seems it's bee fixed. Marking this as closed. Thanks for looking into it, @shoaib!

[2015-12-10 00:52] #965 closed

[2015-12-10 04:58] wxyxinyu opened #1254 "Prompt the user to enter feedback for default answer group"
When after creating an exploration, the user is led through the process of adding an interaction and adding rules, but is not prompted to enter feedback for the default rule. Not entering feedback for a default rule prevents the exploration from being published, and the user has to look for the error and where to fix it.

[2015-12-10 14:40] MAKOSCAFEE commented on #965
@BenHenning Actually this might have been fixed when we were dealing with state warning sign,  @seanlip you remember we experienced the horizontal scrollbar too?. and the fix was  this [line ](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/css/oppia.css#L102).

[2015-12-10 14:46] MAKOSCAFEE commented on #995
Hi @seanlip !,
I agree with that, I think we can give it a try. I have looked around and I think there are good gulp plugins that can be used instead like [gulp-webdriver ](https://www.npmjs.com/package/gulp-webdriver) and

[2015-12-10 18:25] amitdeutsch opened #1255 "Add indicator before save modal appears"
Sometimes, if you try to save a lot of changes at once (or have changes that include large files, such as images), there can be a few second delay between when the 'save' button is pressed and when the save modal appears. During this delay, it's unclear whether or not the system registered your click, and it seems frozen, which is frustrating if you just made a lot of large changes.

As a result,

[2015-12-10 18:30] amitdeutsch opened #1256 "Error appears when changes are too large"
After creating four new cards, each of which contained an animated GIF, I tried to save my changes. I first ran into issue #1255 where it took a long time for the save modal to appear. Then, once the save modal appeared, I added my commit message and clicked 'save'. A few seconds later, I received this error message:

![screen shot 2015-12-10 at 10 27 02 am](https://cloud.githubusercontent.com/ass

[2015-12-10 19:41] seanlip commented on #965
Oh, that's interesting! I haven't looked at it too deeply, but yep, that's possible -- it looks like it got added in this [merge commit](https://github.com/oppia/oppia/commit/aa97e432cb0a9bb78f4281c4679a9bafbd1a7998), which seems to have happened between Ben's original report and the other testers looking at it.

[2015-12-11 06:58] BenHenning commented on #965
Thanks for the insight, Barnabas! I supposed that means this bug is
actually obsolete. :) Even better!

On Thu, Dec 10, 2015 at 11:41 AM, Sean Lip <notifications@github.com> wrote:

[2015-12-11 22:10] seanlip commented on #1058
Hi @BenHenning, just checking, with the recent updates we've made to the learner view, does this still happen? Also, would you mind attaching a screenshot? Thanks!

[2015-12-11 22:49] seanlip commented on #660
Closing -- we're planning to redesign the gallery and organize it more, and it looks like the new designs will not have an infinite vertical scrolling component. /cc @amitdeutsch

[2015-12-11 22:49] #660 closed

[2015-12-12 07:09] wxyxinyu commented on #1129
The overlapping only happens if you are an admin

[2015-12-12 10:12] varenya commented on #1234
Thanks for your patience, I went and created a sample exploration and when added a interaction i choose LogicProof from Math tab but I didn't find "help" sort of thing there and frankly as a new user I couldn't figure out what it's meant for. Am I missing something?

Below is the screenshot:

![image](https://cloud.githubusercontent.com/assets/4066143/11761394/f4ffc324-a0e6-11e5-9666-1b3fe0f06c2c.

[2015-12-12 16:13] wxyxinyu commented on #1234
Hi @varenya, the page that you were on is the editor page, which you would use to create an exploration. The help button is on the learner view, which is what someone playing through the exploration will see.

From your screen, you would need to save the interaction and go preview mode by clicking on the following:

Save the interaction:
![a](https://cloud.githubusercontent.com/assets/5061134/1176

[2015-12-12 21:33] seanlip commented on #1067
Fixed in #1156.

[2015-12-12 21:33] #1067 closed

[2015-12-12 21:35] seanlip commented on #56
Closing; we plan to remove the backend tests here, so this issue is no longer relevant. /cc @wxyxinyu @BenHenning.

[2015-12-12 21:35] #56 closed

[2015-12-12 22:58] arun1595 commented on #1248
I would like to fix this minor error. Can you help me identify the file where I should be looking for the code where you display the profile?

[2015-12-12 23:08] seanlip commented on #1248
Hi @arun1595, thanks for offering your help! Actually, @maitbayev has already submitted a PR for this in #1250 -- you can have a look there to see how the fix was done. We're just waiting for their CLA to go through.

In the meantime, would you be up for finding another issue to look into? Thanks!

[2015-12-12 23:11] arun1595 commented on #1248
Oh. Sorry. I am a newbie and since I saw the Open badge, I commented. I would like to contribute to Oppia. I know a little of Python and I am familiar with HTML, CSS. I am learning AngularJS now.
How could I be of help? I am not sure how to find the bugs which are still open.
Can you help me find something to work on?

[2015-12-12 23:14] seanlip commented on #1248
Sure, no worries! Would you like to take a look at #1253?

To find where the relevant code lives, you can do something like

[code]

[2015-12-12 23:18] arun1595 commented on #1248
I did look. But I don't know where to find the code for the publish changes modal. Where should I use the grep command?

[2015-12-12 23:26] seanlip commented on #1248
Try navigating to the oppia/ root folder in a terminal -- that's where you'd enter it. This will search the files in the directory and show you the files containing that string.

[2015-12-12 23:26] arun1595 commented on #1253
Where can I find the code for the "Save Draft" modal in the repository?
I have a local clone of the oppia repsository?
Can you guide me finding the code?

[2015-12-12 23:33] arun1595 commented on #1248
I have made the changes to my local clone and I have pushed the code my forked repo.
I having some problems with pull request. What should I do after I have pushed my edited code to the forked repo?

[2015-12-12 23:44] seanlip commented on #1248
(Moving discussion to #1253.)

[2015-12-12 23:45] seanlip commented on #1253
Hi @arun1595, it looks like your pull request did come through. See https://github.com/oppia/oppia/pulls.

What problems are you having with the pull request? You can read about the full contribution workflow here: https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md

Also, did you test your code locally by starting up a dev server, creating an exploration, and clicking on the 'publish' but

[2015-12-12 23:52] arun1595 commented on #1253
I did run the tests using bash scripts/run_tests.sh but I did not fire up a server and tested it.
Can you help me to how to test locally?

[2015-12-13 00:01] seanlip commented on #1253
Yes; please run bash scripts/start.sh. This will start up a development server at localhost:8181. Create an exploration, edit it, and publish it; check that the autofocus you added works correctly.

[2015-12-13 01:30] seanlip commented on #1253
Hi @arun1595 -- just to check, did you get it working?

[2015-12-13 01:32] arun1595 commented on #1253
@seanlip, I did run the tests. It has been a long time since I ran it and the third party libraries are still being downloaded. I will comment soon after I test it manually.

[2015-12-15 20:19] wxyxinyu commented on #1089
Hi @SJCaldwell, how are things going with the issue? Feel free to ask if you encounter any problems :)

[2015-12-15 20:27] wxyxinyu commented on #1085
Hi @michaelWagner, just thought I'd check in, how are things going with this issue?

[2015-12-15 20:52] wxyxinyu commented on #1022
The parameters in this exploration seem pretty broken in general. The first part only lets you click "it is bigger" or "it is smaller" once before switching to the other option, and when guessing a number I ended up at "this should never happen".

[2015-12-15 21:27] wxyxinyu commented on #138
Hi @cmrubin, just checking in about this issue: have you started on it, or have you encountered any difficulties making a PR to the documentation? Thanks!

[2015-12-15 21:36] wxyxinyu commented on #1229
Hi @won0089, just checking in, do you have any updates on this issue? Feel free to ask questions if you encounter any difficulties. Thanks!

[2015-12-16 01:50] kerryxwang commented on #1240
Amit -- how were you able to create the images of the profile and preferences pages that you added to your comments?

[2015-12-16 02:08] kerryxwang opened #1262 "Avatar for contributors on exploration info cards are not set correctly"
For contributors who do not have a profile picture set, their avatar on their explorations' info cards are incorrectly set as the viewer's profile picture.

<img width="1433" alt="screen shot 2015-12-15 at 6 04 53 pm" src="https://cloud.githubusercontent.com/assets/14992169/11830097/bec32e6e-a356-11e5-8733-98517f2fd2ea.png">
<img width="1436" alt="screen shot 2015-12-15 at 6 04 13 pm" src="https:/

[2015-12-16 06:13] #714 closed

[2015-12-16 15:13] won0089 commented on #1229
Hi Xinyu,

Will do thanks!

On Tuesday, 15 December 2015, Xinyu Wu <notifications@github.com> wrote:

[2015-12-16 16:32] amitdeutsch commented on #1240
Hi Kerry,

I took screenshots of those pages, then added the buttons using the Sketch (https://www.sketchapp.com/). I'm happy to consult on the design or implementation.

[2015-12-16 16:34] amitdeutsch commented on #1262
The avatars should also used be circular.

[2015-12-16 19:58] kerryxwang commented on #1240
@amitdeutsch Would love to consult with you about this. Are you free sometime tomorrow?

[2015-12-17 16:39] arun1595 commented on #1253
@seanlip I have tested manually and autofocus works on the Publish Changes modal.

[2015-12-18 06:14] seanlip commented on #1253
Fixed in #1259.

[2015-12-18 06:14] #1253 closed

[2015-12-18 09:49] Gennady77 opened #1264 "Instalation oppia for Windows"
When I try to install for Windows I get this message in bash:
WARNING: Unsupported OS for installation of node.js.
  If you are running this script on Windows, see the instructions
  here regarding installation of node.js

So, this message was hardcoded in start.sh if I use Windows. I have a question: I'm not able to install this project for Windows at all?

[2015-12-18 11:28] MAKOSCAFEE commented on #1264
Hi @Gennady77 !,
yes the warning message you are getting is hard-coded in ```scripts/setup.sh```. Our window installation have not been updated for a while now and may be  a bit broken. Have you tried the steps explained [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29)?. If yes what specific error did you find? If not please try them out and tell us what happened.

[2015-12-18 17:03] MAKOSCAFEE commented on #1047
For contributors who would like to work on this project, the idea is to make sure there is pre-commit hook that checks if all code/file been touched pass linting tests which are checked by ``` scripts/pre_commit.py``` before contributor commit any changes.

[2015-12-18 22:07] wxyxinyu opened #1265 "Limit size of graphs in the graph interaction"
Currently, isomorphism checking in the graph rules take exponential time. It would be good to limit the size of graphs that can be created in the editor so that the rule evaluation isn't too slow.

\cc @seanlip

[2015-12-18 23:12] sfederwisch commented on #1022
The guessing cards not having content looks to be consistent with what the explorations looked like a while ago, with the idea being that all the primary source of content is the feedback, but the feedback does look broken. I'm still playing with it to see if I can find something.

[2015-12-18 23:40] sfederwisch commented on #1022
So I'm looking at the PlayerGuessing card (where I'm suspecting the main problem is). I'm putting inputting 50 to get to this point, getting no feedback (which seems like an error in Player Guess Setup), and getting to this state which has no content, which assuming that you get feedback beforehand should be OK.

Then I input another number (I've tried 25 and 50) and I'm hitting "This should never

[2015-12-19 00:07] sfederwisch commented on #1022
Taking a look at the history. The only differences that I can find in the states in question seem to be around the parameters and seem to be around the start values.
So this:
`value: '{{[tries|int]|sum(start=1)}}'`
has become this:
`value: '{{tries+1}}'`

Which seems like it would be a lack of initial value as well as a schema change. Not sure why that would mean it gets stuck at 2, but it could p

[2015-12-19 00:46] sfederwisch commented on #1022
OK so it isn't the value of the parameter that is the problem, it is that it isn't evaluating it down to the parameter.

It is trying to evaluate whether the literal string "{{MagicianNumber}}" is less than 97 and, unsurprisingly, failing and falling down to the default case.

It isn't clear why it isn't evaluating the expression before it gets to that stage yet, but that seems to be the core of t

[2015-12-20 00:03] jacobdavis11 opened #1268 "In Firefox the rule feedback rte cursor ignores mouse clicks"
In Firefox, create an exploration, create a rule, add some feedback for it and then close the rule editor. Re-open the rule editor and then the feedback rich text editor. The cursor is placed at the start of the text, and clicking inside the rte does not reposition it. You can still move the cursor back and forth by using the arrow keys.

This problem only occurs in Firefox, and only in the rte fo

[2015-12-20 00:21] jacobdavis11 opened #1269 "InteractiveMap interaction: in the rule editor, clicks on the map are not displayed correctly"
Create an exploration with a map interaction. Add a rule and click on the map to choose the point the rule applies to. A marker should appear where you click, but it does not.

Save and close the rule, then re-open it. The marker is now displayed correctly.

Create a new rule. Before being clicked on the map should be blank, but instead it displays the position of the marker from the previous rule

[2015-12-20 00:37] jacobdavis11 opened #1270 "Earlier non-inline interactions are still interactive and don't display previous answers"
For example, let's say you answer a map question and then move on to a new card. If you click back to look at the map then you don't see the answer you submitted and the map itself is still interactive which suggests you can still do things with it (but you don't receive any feedback in the process, and that feels weird). I suggest instead having a fixed map with a marker for the last answer submi

[2015-12-20 00:43] jacobdavis11 commented on #1270
@seanlip and @amitdeutsch  for comments.

[2015-12-21 20:08] wxyxinyu commented on #1248
Fixed in #1250

[2015-12-21 20:08] #1248 closed

[2015-12-22 01:31] BenHenning opened #1272 "Gulp JS & CSS minification doesn't happen when running end-to-end tests"
When running end-to-end tests through ``scripts/run_e2e_tests.sh``, Gulp is not run to minify JS and CSS resource files. This causes the protractor tests to hang and fail to complete. The problem can be worked around by first running ``scripts/start.sh`` before running the protractor tests.

To reproduce, either delete the third_party folder from your local Oppia instance or start with a fresh cop

[2015-12-22 05:17] MAKOSCAFEE commented on #1272
yes I remember @arun1595  having the same problem in this PR #1259.

[2015-12-22 05:19] seanlip commented on #1272
Hm. Can we add a call to install_third_party in the e2e tests script?

[2015-12-22 05:23] MAKOSCAFEE commented on #1272
I think install_third_party is called already the problem is there was no build task which generates third_party/generated folder.

[2015-12-22 06:51] #1272 closed

[2015-12-22 06:59] won0089 commented on #1229
Hi @seanlip, it looks like I'll be busy up till next week. If you would like this done before then, please assign it to someone else. If it can wait then I'll get back working on it next week :)

[2015-12-22 07:51] seanlip opened #1275 "Run karma tests for both dev and prod."
(Discussion copied from issue #1274)

@seanlip: Here's my thinking -- we currently run karma tests in dev only, I believe. But this doesn't guard against errors in minification, and the minified version is what is actually being served in production, so we'd like to test that. On the other hand, if we tested prod only, I suspect the error messages would be unreadable (since it'd be using the minif

[2015-12-22 22:59] BenHenning commented on #1272
Fantastic, thanks for fixing this @MAKOSCAFEE!

[2015-12-23 06:29] wxyxinyu commented on #1118
I noticed that the avatar has changed. Is this issue still relevant?
@amitdeutsch @seanlip

[2015-12-23 08:23] kevinlee12 opened #1279 "Info card does not properly display long usernames when mouse hovers over profile picture"
When the user's username is too long, the bubble does not properly contain the user name in the info card. Please see screenshot below.

Steps to recreate:
1. Click on the info icon in an exploration.
2. Hover over the contributor's profile picture.

![image](https://cloud.githubusercontent.com/assets/5758256/11973147/f53c1438-a90a-11e5-88c5-8ba9f3966558.png)

[2015-12-23 08:28] kevinlee12 opened #1280 "Display user impact points next to username"
Display user impact points next to the their username in the profile page. This might play out to other areas where the impact points are shown next to all instances of the user's profile picture and username (ie, in a bubble on profile picture hover).

[2015-12-23 08:28] seanlip commented on #1280
(/cc @kerryxwang, @rainehoover for info)

[2015-12-23 09:04] seanlip commented on #1229
Hi @won0089, I think next week is fine. Thanks!

[2015-12-23 23:32] #1275 closed

[2015-12-24 00:18] seanlip commented on #1118
I'm inclined to say it's no longer relevant, but I think this is @amitdeutsch's decision.

[2015-12-24 04:46] seanlip commented on #1265
Hi @maitbayev -- would you be interested in looking into this issue?

[2015-12-24 12:26] sbhowmik89 commented on #892
Completed.

[2015-12-24 12:29] sbhowmik89 commented on #892
@seanlip When you have a moment, can you close this please. I don't see the option to do it.

[2015-12-24 21:11] seanlip commented on #892
Clsoed. Thanks @sbhowmik89!

[2015-12-24 21:11] #892 closed

[2015-12-25 02:11] jacobdavis11 opened #1284 "Some glitches with preformatted <pre> text in the RTE"
I've been using the `<pre>` button in the rte a lot lately and have run into a few unintuitive behaviours:
1. Open a new rte and write a few lines with line breaks between them. Highlight the lines and click the `<pre>` button. Each line will appear in a separate preformatted block. I suggest instead that they are all put into a single block.
2. Highlight a single character in a preformatted block

[2015-12-25 08:52] seanlip commented on #1262
This should be fixed by https://github.com/oppia/oppia/commit/ad076b8296e7dc5c59ee7751b34a4a4a99960a7c

[2015-12-27 17:26] charisseysabel opened #1285 "A 'Getting started / How it works' page"
I've just signed up to Oppia and I have no idea how it works. It would be nice to have a "Getting Started / How it works" page just to give a short walkthrough on how everything works.

I think first time visitors of the website (like me) would find this page really useful.

[2015-12-27 17:41] charisseysabel commented on #1247
Can I work on this?

[2015-12-27 22:56] philoniare commented on #1285
Have you seen the [about page] (https://www.oppia.org/about)? There is a link to the about section underneath the main carousel with the text: Find out more.

[2015-12-27 23:20] seanlip commented on #1247
Hi @charisseysabel -- welcome, and yes, absolutely! Thanks for helping out :-)

Please could you start by following the instructions under "Setting things up" here?

    https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md

After you've done that, please create a pull request (following the instructions on the same page), and then we can review your commit and merge it in.

Also, I'd like t

[2015-12-27 23:42] seanlip commented on #1285
Thanks for the suggestion!

I think you're absolutely right -- @wxyxinyu, @markhalpin and I have also been discussing this recently, too. I think that, currently, we aren't being clear enough about what this site is and who it is for, and that we need to change the messaging on both the landing page and the About page to be more empathetic to new visitors who are discovering the site for the first

[2015-12-27 23:49] markhalpin commented on #1285
Would be very happy to help with this, modulo having somewhat constrained
time to focus on artwork prior to MLK weekend. But would be glad to have a
chat about it at least prior to that.

Mark

On Sun, Dec 27, 2015 at 6:42 PM, Sean Lip <notifications@github.com> wrote:

[2015-12-27 23:58] philoniare opened #1286 "Minor CSS issue with tooltip"
There is minor issue with the main header overlapping the tooltip head when accessing the page on Chrome. Might be a better idea to use the space underneath the dialog.
![content](https://cloud.githubusercontent.com/assets/13562152/12012606/ee226ed6-acca-11e5-821c-eb5edb7c676a.PNG)

[2015-12-28 00:13] wxyxinyu opened #1287 "Implement auto-saving of drafts in the editor"
Changes in the editor should be auto-saved so that it's possible for creators to leave the page and resume their editing session at a later time. This also prevents them from having to save frequently because it minimizes the risk that they lose their work due to unforeseen errors. (Note that the autosaving should only happen if the exploration is currently savable, so that the backend storage of

[2015-12-28 00:26] wxyxinyu opened #1288 "Implement correct calculation of impact score"
See new proposal at the bottom of [this doc](https://docs.google.com/document/d/1p_fAbDG-FqzpMV1zrW9E2B0KZxR-u1e7KHht2eAisTU/edit)

\cc @kerryxwang

[2015-12-28 00:36] wxyxinyu opened #1290 "Hook up editor frontend to the suggestions backend"
Supersedes #899.

Show the learner suggestions in the editor.

[2015-12-28 00:38] wxyxinyu opened #1291 "Complete learner view frontend for suggestions"
supersedes #899

[2015-12-28 00:38] wxyxinyu commented on #899
superseded by #1290 and #1291

[2015-12-28 00:39] #899 closed

[2015-12-28 00:48] seanlip commented on #924
This is now obsolete. Closing.

[2015-12-28 00:48] #924 closed

[2015-12-28 01:04] seanlip commented on #1247
Hi @charisseysabel, FYI, I've added you to the oppia team on github! Could you go to github.com/oppia and accept the invitation to join the team? Otherwise, the GitHub UI won't allow me to assign you to this issue.

Thanks!

[2015-12-28 01:21] charisseysabel commented on #1247
Thanks, @seanlip! Accepted :D

[2015-12-28 01:25] seanlip commented on #1247
Thanks, @charisseysabel! Reassigned :-)

[2015-12-28 02:25] philoniare commented on #1209
I have just tried out the whole process and went quite far in the installation process. Here's the trace for start.sh:

[code]
Is the start.sh script used for Mac + Linux?

[2015-12-28 02:58] seanlip commented on #1209
Yep, the start.sh script is used for both Mac & Linux. Though if you're using Vagrant I would imagine it should work fine there too...

What version of pip are you using? (You can find out using `pip --version`.) Based on the error message my guess is that you might be using an older version of pip (mine is 6.0.6, for python 2.7).

[2015-12-28 05:04] seanlip commented on #1247
Fixed in #1289.

[2015-12-28 05:04] #1247 closed

[2015-12-28 10:10] #1262 closed

[2015-12-28 13:20] philoniare commented on #1209
@seanlip
I was finally able to complete the installation. The instructions point to a different address. The Vagrantfile forwards the guest port 8181 to host port 8002 instead of 8001 as specified in the instructions, so 127.0.0.1:8001 forwards to the oppia installation. Other than that, everything works as long as you have the dependencies and run the commands such as "bash scripts/start.sh" as s

[2015-12-28 13:20] charisseysabel commented on #1285
I think a small section (like the one on GitHub's home page) would be enough for a 'How it Works' page (or something similar), probably with a 'Find out more' link going to a more detailed explanation of how everything else works? This can easily go to Oppia's home page too, so that would save visitors time navigating on the site.

![github](https://cloud.githubusercontent.com/assets/11045720/1201

[2015-12-28 14:16] brunnre8 commented on #1047
By

Do you mean that one should execute the linting check automatically upon pre-commit? If so do you prefer a partial check (only changed files) or do you want to execute the full test?

[2015-12-28 16:36] MAKOSCAFEE commented on #1047
Hi @brunnre8
Actually we would prefer a what  you call a partial test, just the files that the contributor happens to  touch. And as for right now we have a JS linting script that is executed manually, and many times contributors forget to run it. We would love for each push, the linting script should be run automatically. If you find it interesting, you are welcome to contribute.

[2015-12-28 16:40] brunnre8 commented on #1047
I'll try and take it on. Could you assign me?
Any preferences of how you would want the hook set up?
I can either copy a new file over or generate it via script. In my opinion just copy a already existing script will make it easier maintainable. But if you disagree one can also generate it.

Further do you want the user to be aware of the linting also in case nothing goes wrong?

[2015-12-28 18:32] MAKOSCAFEE commented on #1047
@seanlip will help you sign the CLA, After that I will be able to assign you.
I think  @wxyxinyu we decided not to go with pre-commit hook because that will require developer to install the hook manually as is not included in the clone. Best way i think could be ```post-receive hook``` or ```pre-merge hook``` @wxyxinyu  what do you think?. you can read [here](https://git-scm.com/book/en/v2/Customi

[2015-12-28 18:44] brunnre8 commented on #1047
I already did sign the CLA (a month ago or so).

What I meant is that the pre-commit hook needs to be in `.git/hooks/pre-commit`. If we want to provide one we can just copy a script with this name over into the corresponding folder, for example via `install_third_party.sh` or so.

Giving a message upon error is clear, but the script that you wrote is rather verbose and puts e.g. this
[code]
into s

[2015-12-28 18:52] wxyxinyu commented on #1047
Hmm, I think that this issue is slightly obsolete actually, but I hadn't gotten round to creating the new issues. I recall that in our discussion last week, we decided that we wanted 2 things for linting. Firstly, to include linting in a pre-push script that developers should run. This should not be a pre-commit or pre-push hook because developers may want to push non-working code onto a testing b

[2015-12-28 19:07] brunnre8 commented on #1047
@wxyxinyu
I see... As far as I know people would still be able to push onto a testing branch. They can still commit via `git comit --no-verify`, however I do not know if this flag is common knowledge (wasn't for me at least).

[2015-12-28 19:10] wxyxinyu commented on #1047
Oh cool! I didn't know that existed either :P In that case I think making tests and linting run as a pre-push hook sounds best. @brunnre8, do you have any opinions?

As for the CLA stuff I think @seanlip will invite you to the org when he comes online, and then the issue can be assigned to you.

[2015-12-28 19:22] brunnre8 commented on #1047
I guess pre-push is less annoying than pre-commit :wink:
The question is really if you want to enforce the linting or encourage it... by declining code not adhering to the style guide keeps the code clean, however I do not know how aggressive the linter is.

Do you want to warn the "pusher" only or decline the push altogether?

[2015-12-28 19:26] wxyxinyu commented on #1047
Yeah, I think people should be able to commit stuff that fails tests/linting, but not push. I think linting should be enforced, so the push should be declined. As you mentioned earlier, if the developer is really sure that they want to push code that fails the linting or tests, they still can bypass it with a flag.

[2015-12-28 20:21] seanlip commented on #1209
Hi @philoniare, that sounds like really good news! Thanks a lot!

Would you mind compiling a final list of instructions that are guaranteed to work, so that we can test them out? If that works out, we can add these instructions to the wiki, and get rid of the current ones. And thanks again -- I'm really excited that this issue is finally being fixed, it's been around for a while and has been tripp

[2015-12-28 22:46] wxyxinyu opened #1293 "Add pre-push hook that runs tests and lint checks"
Based on discussion from #1047, we should have a pre-push hook that runs tests and linting, and rejects the push if these don't pass.

Currently, we have a script which runs tests in scripts/run_tests.sh, and a linter scripts/pre_commit_linter.py.

/cc @MAKOSCAFEE

[2015-12-28 22:46] wxyxinyu commented on #1047
This issue is replaced by #1293

[2015-12-28 22:46] #1047 closed

[2015-12-28 22:49] wxyxinyu opened #1294 "Report lint results in GitHub PR conversation"
There should be an automated lint check after a PR is submitted. Ideally, it will make comments in the PR conversation where there are lint errors.

\cc @MAKOSCAFEE

[2015-12-28 22:51] wxyxinyu commented on #978
This is superseded by #1293

[2015-12-28 22:51] #978 closed

[2015-12-28 22:55] wxyxinyu opened #1295 "Write script that reports the difference in the number of backend/frontend tests run before/after a PR"
This is to check that tests added in a PR are indeed being run, and also guard against accidentally removing tests (e.g. by forgetting to remove ddescribe or iit in karma tests).

The test diff results should be reported in the PR conversation on github.

[2015-12-28 23:00] wxyxinyu opened #1296 "Write script for python linting"
Currently, we have a .pylintrc, but no script to run linting automatically. The script should install pylint in third_party, and run the linter on changed python files.
For reference, look at the frontend linter in `scripts/pre_commit_linter.py`

Some discussion about backend style might also be needed.

[2015-12-28 23:07] wxyxinyu opened #1297 "[depends on #1296] Lint all backend files in the codebase."
depends on: #1296

After backend style is fixed and the linter script is written, lint all the backend files in the codebase.

[2015-12-28 23:31] seanlip commented on #1296
Note: it might also be useful to take a look at [this commit](https://github.com/leandrotoledo/oppia/commit/83b1c26b6455c1d580c77e712907db7bef39b252) for some existing work on this by @leandrotoledo, though I'm not sure how much of it still applies.

[2015-12-28 23:42] maitbayev commented on #1265
Hi @seanlip,
There is no point to limit size of the graph in Interaction.
Do we want to limit in rule editor? Anyway, I sent pull-request for this.
I took maximum number of vertices as 10, because isomorphism check works for o(n!*n^2) (for n=10 -> 362880000 operations).

[2015-12-29 00:55] philoniare commented on #1209
@seanlip Will do. I will document the installation process and test it out once again to make sure it works.

[2015-12-29 04:15] GraceGSy commented on #448
Is there a reason why the icons are 16 x 16 pixels? It seems that they will be more visible if we could make them just slightly larger.

[2015-12-29 04:52] seanlip commented on #448
I think it's fine to make them slightly larger -- there's no hard constraint.

[2015-12-29 04:57] #1084 closed

[2015-12-29 05:01] seanlip opened #1299 "Signal which recommendations at the end of an exploration are from the exploration author"
(From a suggestion by @amitdeutsch on #1292)

It would be nice to separate the recommendations that come directly from the author and auto-generated ones. Currently, the learner has no way to differentiate.

One idea is to have a series of suggestion categories, similar to the categories layout in the gallery. For example:

[code]

It's not clear that this is exactly right (and the above might hav

[2015-12-29 06:36] seanlip opened #1300 "Figure out a design for the profile page on mobile screens"
A redesign of the profile page is currently in the works. As part of this, we should figure out what the profile page is going to look like on small screens, so that the eventual implementation can incorporate both the desktop and mobile use cases.

[2015-12-29 06:40] seanlip opened #1301 "[depends on #1300] Implement the redesign of the profile page"
This issue consists of three parts:

- [ ] Implement the basic structure of the new profile page redesign (two side-by-side sections for desktop; TBD for mobile)
- [ ] Implement the formatting of the "profile" section of the profile page (the one containing the username, bio, picture and subject interests)
- [ ] Implement the formatting and paging for the "portfolio" section of the profile page (t

[2015-12-29 06:41] seanlip opened #1302 "[depends on #1301] Design the in-place editing flow for the profile page"
The aim of this issue is to design the user journey for editing profile page data without leaving the profile page. The user journeys should be created for both desktop and mobile UIs.

[2015-12-29 06:43] seanlip opened #1303 "[depends on #1302] Implement the in-place editing flow for the profile page"
The aim of this issue is to implement the design of the in-place editing flow for the profile page, once its design (issue #1302) is completed.

[2015-12-29 06:48] seanlip commented on #1240
Superseded by #1302 and #1303. Closing.

[2015-12-29 06:48] #1240 closed

[2015-12-29 06:52] seanlip commented on #1143
@BenHenning -- what are the plans for this? I'm asking because I just looked at your comment above, which suggests this needs to be done urgently...

[2015-12-29 06:56] seanlip opened #1304 "Hook up the editor view for learner suggestions to the backend."
The 'suggestions' branch currently contains an implementation of the learner suggestions framework, covering both the backend and the editor frontend. The aim of this issue is to wire the pieces together so that the end-to-end flow behaves correctly.

Ideally, this would also include a Protractor end-to-end test that checks the "happy path" for the suggestions workflow (i.e., log in as a student,

[2015-12-29 06:59] seanlip opened #1305 "Add a test that ensures correct behavior of the _create_change_list_from_suggestion() function."
For the _create_change_list_from_suggestion() function here:

[code]

(1) It would be nice to add a backend test that ensures that the change list for a suggestion that was accepted is the same as the change list for a suggestion that was made solely by the exploration creator.
(2) It would also be good to add a note to the docstring of the function along the lines of: "this function assumes that

[2015-12-29 07:11] seanlip commented on #1293
Note that we should also probably add a note in `CONTRIBUTING.md` to explain what's going on here, and what a contributor should do if they run into an error they can't resolve, as well as instructions on how to override the hook if they're really sure they want to do that. The error message generated by the hook in the case of a bad push should also be pretty explicit on what's gone wrong, and wh

[2015-12-29 07:24] seanlip commented on #1288
Hi @rainehoover -- if time permits, is this something you might be interested in looking into? Thanks!

[2015-12-29 10:18] seanlip commented on #672
Decided not to fix. We plan to redo the editor view to look more like the learner view, at which point this explanation should become unnecessary.

[2015-12-29 10:18] #672 closed

[2015-12-29 10:22] seanlip commented on #1287
(Noting that #898 is a duplicate of this. I'm reproducing the comments from it in this thread.)

Exploration authors may need to spread the changes out for a commit over more than one editing session. Currently, they are forced to save or publish their changes to the server before they leave. It would be nice if, instead, they could leave and return later, and view the content as they left it. (Of

[2015-12-29 10:22] seanlip commented on #898
Closing in favor of #1287.

[2015-12-29 10:22] #898 closed

[2015-12-29 10:29] seanlip commented on #86
We now run the Karma tests using both dev and prod JS files. The backend tests only look at the HTML files (more specifically, the interpolated Jinja templates), which aren't affected by the minification. So, it looks like this issue is obsolete; closing it.

[2015-12-29 10:29] #86 closed

[2015-12-29 10:31] seanlip commented on #995
I just had a thought: should we use unminified or minified JS files in these tests? Unminified files suffer from skew with production; minified files match production but error messages are likely to be hard to decipher.

I lean towards minified, since the developer could always run the unminified versions on their local machine. Ideally we'd do both, but I'm not sure how feasible this is.

Any th

[2015-12-29 10:34] seanlip commented on #115
We're going to look into increasing the number of parameter types on an ongoing basis, but supporting the particular use case described in the original comment is complex and is probably not going to happen anytime soon. Closing.

[2015-12-29 10:34] #115 closed

[2015-12-29 10:36] seanlip commented on #300
Note: we should probably show this data directly in the exploration statistics tab, instead, as part of the custom visualizations.

[2015-12-29 10:39] seanlip commented on #674
@edallison -- mind taking a look at this?

[2015-12-29 10:42] seanlip commented on #1290
Whoops, looks like I duplicated this with #1304. Closing this one since the other description has a bit more detail.

[2015-12-29 10:42] #1290 closed

[2015-12-29 10:44] seanlip commented on #1241
Closing this for now, since the decimal point seems to make it clearer. Feel free to reopen if needed, though; we can revisit this if it's still confusing.

[2015-12-29 10:44] #1241 closed

[2015-12-29 10:50] seanlip commented on #900
On further discussion, I think we're going to remove the "Create Exploration" modal altogether, so that it's possible to get to the editor with a single click. Hence, closing this issue.

[2015-12-29 10:50] #900 closed

[2015-12-29 11:59] philoniare commented on #1209
Here are the updated instructions:
1. Download and install [VirtualBox](https://www.virtualbox.org/wiki/Downloads). You do not need to create a VM, just installing it is enough to be used by Vagrant.
2. Download and install [Vagrant](https://www.vagrantup.com/downloads.html). After the installation, vagrant will prompt for a restart. Restart your machine.
3. Create a folder for the project
4. Down

[2015-12-29 17:11] bigblind opened #1308 "Update line numbers in error messages from the code editor interaction."
Error messages from the python interpreter include line numbers based on prepended and appended code, which the user doesn't know about. This results in very confusing errors.

Another thing to consider here, is what to do when the error occurs inside the prepended or appended code. Do we show the user a full editor which includes prepended and appended code, so they can understand what's going on

[2015-12-29 17:21] bigblind opened #1309 "Better display the output of running code in the code editor interactions"
After clicking run on the code editor interaction, you have to click the "previous answers" label to open it up to see the result. This seems unintuitive to me. Can we improve this?

[2015-12-29 21:35] philoniare commented on #1286
I would like to fix this as a starter project. But couldn't find it in the code. I have found that there is an inline "top" property applied to "popover", but it seems to be generated by js or something. Can a more experienced contributor point me at a possible direction? Thanks

[2015-12-29 21:39] charisseysabel commented on #918
Hi @seanlip, I'd like to work on this, please?

[2015-12-29 21:40] seanlip commented on #918
Sounds great, go for it! :)

[2015-12-29 21:42] seanlip commented on #1286
Ah, it looks like this is actually an ng-joyride issue. The configuration for the tutorial can be found in core/templates/dev/head/editor/ExplorationEditor.js. Changing the orientation should be straightforward, I think.

Having said that, we have been considering removing the tutorial altogether, and replacing it with, e.g., an introductory video that outlines the different parts of the editor. S

[2015-12-29 22:31] philoniare commented on #1286
I have just went through the tutorial again and I think that it might be a better idea to keep both. The purpose of the video could be to introduce the overall project and the concept of explorations in the abstract sense and the tutorial could familiarize the actual interface. But I would be interested in hearing feedback from others. Does Oppia collect data from site interaction? Ultimately, we

[2015-12-29 23:19] seanlip commented on #1309
Yes, I definitely agree this is an issue. Perhaps we should add an 'output' section below the editor?

/cc @amitdeutsch

[2015-12-29 23:25] amitdeutsch commented on #1309
Also agreed. From what I remember it's pretty simple to implement, it just needs a design– I'm happy to provide feedback if someone wants to take a stab at it.

[2015-12-30 02:38] seanlip commented on #660
Actually, having said that -- the new gallery is still not ready, and the current one suffers from this problem, so I've implemented it after all in this commit: https://github.com/oppia/oppia/commit/b9d252f28e70a97ae98e7521d494afef883248c1

@sdulal, thank you for the suggestion!

[2015-12-30 04:05] seanlip opened #1310 "Sprite CSS images to reduce number of backend requests"
Certain pages in Oppia, particularly the gallery, make use of a large number of images (such as the icons for the exploration summary tiles). Each use triggers a backend request, and costs bandwidth.

A common technique to mitigate this is to "sprite" the images, i.e., combine them into a single image file. This single file is loaded in the frontend, and CSS rules are used to display particular se

[2015-12-30 06:37] seanlip opened #1311 "For each exploration, compute the number of commits done by each contributor."
This requires a backend job computation, probably using the MapReduce infrastructure (at least for initial population of the statistic).

The aim is to store this information with the exploration summary so that it can be used to figure out which contributor pictures to display alongside the exploration. It would also factor into the user's overall impact score.

[2015-12-30 06:39] seanlip commented on #1311
Note also that this is measured by looking at the history tree from v1 to the current version (walking backwards along the commit/revert history), so it might not include all contributors who have contributed to the exploration if those contributions were subsequently reverted.

[2015-12-30 06:40] seanlip commented on #1294
Per discussion with @kevinlee12, it seems like it would be possible to easily add this to Travis-CI, since it's just a script that runs a bunch of commands and produces output to the terminal (similar to the backend and frontend tests).

[2015-12-30 06:42] seanlip commented on #1296
@kevinlee12 is planning to take this on (thanks, @kevinlee12!). The current intended approach is to edit `scripts/pre_commit_linter.py` to do the following, when run:
  - collect all the changed files
  - pull out the python and JS ones
  - run the respective linters for each of these
  - concatenate the output/errors and print them to the terminal

/cc @MAKOSCAFEE

[2015-12-30 07:17] MAKOSCAFEE commented on #995
What if we could use minified ones in travis and both of them  on local machine as we did with karma. Unminified will be used for debugging in case error happens.

[2015-12-30 07:22] seanlip commented on #995
Hm, that's possible, but it feels a bit tiresome to do both on the local machine, since a single run already takes so long...

[2015-12-30 07:27] MAKOSCAFEE commented on #995
Oooh ok!, what if we use unminified in local machine(this will be optional as it is right now) and minified in travis.

[2015-12-30 07:33] seanlip commented on #995
Yep, that sounds good to me!

[2015-12-30 08:33] seanlip commented on #1285
A quick update for others reading this: there's going to be a small team working on this, consisting mainly of @dsiddarth, @markhalpin and @charisseysabel. Unfortunately, GitHub only lets me put one username in the 'assignee' field, so I'm recording this fact in the comments instead :)

[2015-12-30 17:28] charisseysabel commented on #918
I recreated one of the icons from Google (I read that's what we should use from now on) because the black and white versions of the original seems too strong for the grey background. I also changed the text a little bit to make it more non-programmer friendly.

![result](https://cloud.githubusercontent.com/assets/11045720/12054268/5b957b3a-af22-11e5-9738-ea4ccca9bd63.jpg)

I also noticed that the

[2015-12-30 23:03] BenHenning commented on #1143
Update: This was more pressing before there was precedent for domain objects. Now that there is an ExplorationObjectFactory, it seems less pressing. I hope to get this done as part of the minimal refactoring work in Q1'16, but it's not essential and may be held off to Q2.

[2015-12-31 06:24] #1265 closed

[2015-12-31 08:01] seanlip commented on #918
/cc @amitdeutsch

Thanks, Charisse! I like the tip at the bottom. I agree it would be nicer to handle partial matches (this was filed as #449) but I'm not sure if we have the infrastructure to do it easily. Having said that, it's always "math"/"maths"/"mathematics" that comes up as an example, so maybe we should treat that one as a special case in the interim :)

Just so you know, we aren't comple

[2015-12-31 08:34] seanlip commented on #1286
Ah, that sounds reasonable (keeping both, for different reasons) -- though it's possible that we should rework the "getting started" flow a bit. Just to check, did you face any difficulties when using the editor for the first time? Is there anything you wish was there that currently isn't?

Also, did you find that the page got a bit laggy after the tutorial was closed? There's a memory leak somewh

[2016-01-01 13:32] GraceGSy commented on #448
I've attached a few icon drafts below. These ones are very different from what is currently being used, they are more minimalistic designs instead of tiny pictures. The color scheme is adapted from the existing Oppia color palette. A few notes on some particular icons:

1. Collapsible: The original issue was that the collapsible widget was confusing. Is the arrow icon below less confusing?

2. Mat

[2016-01-01 15:53] charisseysabel commented on #918
I see. I thought of it a little bit and I was wondering if I can use the otter instead. It seems like its Oppia's mascot so might as well use it where appropriate. I'm thinking maybe I can add a body it and some piles of paper on either side. Kind of like he's searching for a matching query (but failed) :D

So, is there any way I can get a copy of the AI file?

[2016-01-01 17:06] brunnre8 commented on #1293
Hi guys, I need some help with a few things (I hope this is the correct place to ask, as I wasn't able to find an IRC channel I did not have that many options left)

1. For the linting the `pylint` package is needed. How would you prefer to install that and it's dependencies? Via pip (locally of course)? As you did with the other packages, wget the zip/tar files and putting that into `scripts/inst

[2016-01-01 20:22] MAKOSCAFEE commented on #1293
Hi @brunnre8. Asking here is fine alternatively we have a [gitter room](http://gitter.im/oppia)  you can use too.
Concerning pylint we install it using ```pip```. Actually this is done in ```scripts/install_third_party.sh``` thanks to @kevinlee12 we now have python linter and is functioning. And about path manipulation, I guess you are thinking about writing bash script and path to those file are

[2016-01-02 00:30] seanlip commented on #1293
Hi @brunnre8! Following on from @MAKOSCAFEE's comment, here's what I suggest:

- There should be a pre-push hook that does the following:
  - Runs the Python/JS linters on all files that have been changed since the last push, and reports an error and aborts the push if there's any failure.
  - Runs the Karma frontend tests, and reports an error and aborts the push if there's any failure.
  - Runs

[2016-01-02 00:52] brunnre8 commented on #1293
@MAKOSCAFEE Thank you for your help, I did already have the latest version, but didn't look at the diff... my bad.

@seanlip I think terminating early might make sense, as the full test suit takes a while (at least on my computer) plus the frontend-test might get distracting (with opening a browser window and all)

As for using `scripts/pre_commit_linter.py`, the scripts needs a few adjustments fo

[2016-01-02 00:54] seanlip commented on #448
(/cc @amitdeutsch, @markhalpin, @charisseysabel for comments)

Hi @GraceGSy, thanks very much for these! Responding to your questions:

- I think icons are totally fine, and in fact preferable to the tiny pictures that we're currently using.
- I like the new collapsible icon better than the previous one. I don't know if it's fully clear as it stands, but it is a hard concept to convey, and I can't

[2016-01-02 00:56] seanlip commented on #1293
Yep, I think terminating early sounds fine too.

The two points you make are good ones, and it would be nice to modify the script to incorporate them. I don't think we'll be making many more changes to the script (most of the changes that @kevinlee12 and I are doing now are to .travis.yml, .pylintrc and the individual files), so please feel free to take a stab at it!

[2016-01-02 01:30] brunnre8 commented on #1293
@seanlip linting the `core` module now with the `pre_commit_linter.py` fails for me (*Python linting failed*) did it pass when you did it?

[2016-01-02 01:36] seanlip commented on #1293
That's odd -- on the latest version of develop, it did. Any insight into where the error is occurring?

[2016-01-02 01:47] seanlip commented on #1293
Also, as a sanity check, does the pre_commit_linter.py script you're using currently contain this line?

        lint.Run(files_to_lint + [config_pylint])

I ask because yesterday we did run into the error you mentioned, and then pushed this fix to develop -- so, now, it should no longer occur. (At least, I can't reproduce it on my machine...)

[2016-01-02 01:49] brunnre8 commented on #1293
Not really... I am on the latest version of develop (including your readme changes of a few minutes ago) and am running `python scripts/pre_commit_linter.py --path core/`

Some errors are of course those *import errors* but there are also others (including but not limited to):
* core.controllers.cron Class enum has no job member
* core.controllers.galleries: Class Enum has no exploration member

A

[2016-01-02 01:52] seanlip commented on #1293
Oh, sorry! I think I misinterpreted you, and thought it was a different error.

Yes, I would expect failure to happen now if you run it on core/. In about 5 minutes (assuming that the tests pass), I am going to push a commit which should cause

    python scripts/pre_commit_linter.py --path core/controllers

to pass. We're currently working through the codebase and fixing everything up, so it will

[2016-01-02 01:53] seanlip commented on #1296
Fixed in #1313. Thanks @kevinlee12!

[2016-01-02 01:53] #1296 closed

[2016-01-02 02:02] seanlip commented on #1293
And, it's pushed! Please check out the latest version of develop. The command I mentioned above (with path core/controllers) should result in the lint checks passing; please let me know if this is not the case. Thanks!

[2016-01-02 02:06] brunnre8 commented on #1293
Works flawlessly!

[2016-01-02 23:59] seanlip commented on #1165
@maitbayev -- would you be interested in figuring out what's going on here? This was also recently reported again by a user.

Thanks!

[2016-01-03 00:00] seanlip commented on #474
This isn't important; we won't do it now. Closing.

[2016-01-03 00:00] #474 closed

[2016-01-03 00:01] seanlip commented on #1297
Done in https://github.com/oppia/oppia/commit/db43cf648914e8377622605df6b0833215d12a5d. Closing.

[2016-01-03 00:01] #1297 closed

[2016-01-03 01:26] seanlip commented on #1229
Hi @won0089 -- happy new year! Just checking, did you get a chance to look into this?

[2016-01-04 07:37] seanlip commented on #1264
Hi @Gennady77, thanks to @philoniare, we've recently managed to figure out a smooth installation process for Oppia on Windows. Would you mind taking a look at their comment at the bottom of #1209, trying it on your machine, and letting us know the results by adding a comment to #1209? In the meantime, I'm going to close this issue, since it is essentially a duplicate of #1209.

Thanks, and please

[2016-01-04 07:37] #1264 closed

[2016-01-04 10:02] seanlip commented on #1294
Done by @kevinlee12 in #1319. Thanks @kevinlee12!

[2016-01-04 10:02] #1294 closed

[2016-01-05 04:47] won0089 commented on #1229
Happy new year to you too Sean! I'm taking a look now thanks.

On Sat, Jan 2, 2016 at 5:26 PM, Sean Lip <notifications@github.com> wrote:

[2016-01-05 11:14] sbhowmik89 commented on #1305
I'm not sure how to capture the change list created when the change is made by the exploration editor. The change list in this case is created by the UI, I'm not sure how to emulate that in the backend.

[2016-01-05 22:44] #1165 closed

[2016-01-05 22:54] #1168 closed

[2016-01-06 04:20] seanlip opened #1327 "In the code interaction, show pre- and post-code blocks in the editor window."
Currently, the code editor shows only the code that the student types, and does not show the pre-code and post-code that the exploration author writes. If the author has made a mistake, or if some sort of error occurs in the pre/post-code, this is mystifying to the student. It would be nicer to display all of the code that is run, in a way that keeps the pre/post-code uneditable,

(Optionally, it

[2016-01-06 04:24] seanlip commented on #1327
NB: the [markText](http://codemirror.net/doc/manual.html#markText) option in CodeMirror _might_ be useful for this.

[2016-01-06 04:26] seanlip commented on #45
Not going to do this for the time being, since there's no demand for it. Closing.

[2016-01-06 04:26] #45 closed

[2016-01-06 05:28] seanlip commented on #1209
This has been fixed in #1209, and the new instructions have been added to the wiki. Thanks, @philoniare!

[2016-01-06 05:28] #1209 closed

[2016-01-06 10:41] seanlip commented on #539
@philoniare, @BenHenning -- just to check, this is no longer a problem with the new installation instructions, right?

[2016-01-06 15:58] oskarcieslik commented on #1279
Hi guys! I created a PR which fixed this issue for me. :)

[2016-01-06 19:05] BenHenning commented on #539
I haven't had an opportunity to verify the installation steps, yet.

On Wed, Jan 6, 2016 at 2:41 AM, Sean Lip <notifications@github.com> wrote:

[2016-01-06 19:57] brunnre8 commented on #1293
Hi guys, I've come up with a first version of a hook. Could you please have a look at it and give me some feedback before i initiate a pull request?

Here is the main file: https://github.com/brunnre8/oppia/blob/pre_push_hook/scripts/pre_push_hook.py

The other modifications I made are also in this branch, specifically in the `CONTRIBUTING.md` and `scripts/install_third_party.sh`

[2016-01-06 21:25] seanlip commented on #1293
@wxyxinyu, @MAKOSCAFEE, @kevinlee12 -- could you PTAL at this? Thanks!

[2016-01-06 21:26] seanlip commented on #1293
Also, @brunnre8 -- it might be worth just initiating the PR anyway, since it's easier to give line-by-line comments there.

[2016-01-06 22:13] BenHenning commented on #1220
I also ran into this bug. It leads to quite a bad experience for the user and it's not clear what's wrong. It leads to rules like "is equal to []", since selecting multiple, equivalent answers leads to the editor rejecting the answer parameters, entirely. I'm escalating this to a major bug.

[2016-01-06 22:27] BenHenning opened #1331 "Image region interaction highlights and clicks are misaligned in learner view redesign"
To reproduce, create a new exploration with an image region interaction. Check the box to highlight regions when the user hovers over them. Add some regions. Preview or play the exploration and note how when regions are hovered their highlights appear shifted left by ~200px. This doesn't match the actual regions and is a slightly poor experience.

Furthermore, these highlights actually reflect the

[2016-01-06 22:29] seanlip commented on #1331
@maitbayev -- could you look at this, please?

[2016-01-06 22:33] seanlip commented on #1309
Fixed in https://github.com/oppia/oppia/commit/2b4651c0613a2451a218ba31951e4fac1536fd61

[2016-01-06 22:33] #1309 closed

[2016-01-06 22:33] seanlip commented on #1308
Fixed in https://github.com/oppia/oppia/commit/c9ff04be2f63f23a2b68dcca1579c46c332edda7. May be superseded by #1327.

[2016-01-06 22:33] #1308 closed

[2016-01-06 22:36] seanlip commented on #1220
Assigning to @maitbayev (@maitbayev, would you mind taking a look at this?)

[2016-01-07 00:30] #1279 closed

[2016-01-07 00:46] kevinlee12 opened #1332 "Rating Rounding"
Rating has too many significant digits.

![image](https://cloud.githubusercontent.com/assets/5758256/12158948/3f7c83e6-b493-11e5-8fa0-5a7ea9cb9bc7.png)

[2016-01-07 00:48] seanlip commented on #1332
Oh, good grief, that's terrible.

@oppia/developers -- can anyone take this on?

[2016-01-07 00:49] oskarcieslik commented on #1332
I will :)

[2016-01-07 00:51] seanlip commented on #1332
Thanks!

One note: can you do this as a hotfix to master instead? Basically, do

   git checkout master
   git checkout -b hotfix/rating-fix

and then make your changes there, then make a PR to master. I'll push it once it gets in.

Thanks!

[2016-01-07 00:52] oskarcieslik commented on #1332
Sure :)

[2016-01-07 01:46] oskarcieslik commented on #1332
What should be the precision of rating?

[2016-01-07 01:50] kevinlee12 commented on #1332
I think one after the decimal point (tenths) should be fine, what do you think, @seanlip?

[2016-01-07 01:52] oskarcieslik commented on #1332
I thought so too, since rating on tile in gallery has one digit precision :)

[2016-01-07 02:02] seanlip commented on #1332
Yes, 1 d.p. :-)

[2016-01-07 06:34] seanlip opened #1336 "Display of rating in info cards for unrated explorations is incorrect"
There is no text next to the star icon:

![unrated](https://cloud.githubusercontent.com/assets/10575562/12163835/a4aff126-b4c5-11e5-838c-b25806bdcb9d.png)

Instead, the text "Unrated" should appear.

[2016-01-07 07:39] won0089 commented on #1229
Hi Sean,

I'm kinda stuck on this one. I made another variable under
interactions/ImageClickInput.py for narrow view point supplement message,
but can't seem to access it through
oppiaPlayerService.getInteractionInstructions(stateName).

Whenever I change the return
code INTERACTION_SPECS[interactionId].instructions to the new variable I
can't access the new string. Am I poking at the right code?

[2016-01-07 07:48] seanlip commented on #1229
Have a look at the to_dict() method in extensions/interaction/base.py. Is it recording the new variable you added?

[2016-01-07 08:13] seanlip commented on #1332
Fixed in #1334 -- thanks @oskarcieslik! Closing.

[2016-01-07 08:13] #1332 closed

[2016-01-07 12:36] oskarcieslik commented on #1336
Hi @seanlip, it happens on oppia.org, but on local server on develop / master branch it does not, how should I approach this?

[2016-01-07 13:02] oskarcieslik commented on #1255
Hi @amitdeutsch, I don't fully understand this issue. Is this about uploading and saving an image on exploration edit page or about saving draft of an exploration?

[2016-01-07 13:37] maitbayev commented on #1220
I quit didn't get it. There is a validator in ItemSelection(and in other list format Interactions), that checks for duplicate.

[2016-01-07 14:44] philoniare commented on #539
@seanlip  I'll try to reproduce it by running the script

[2016-01-07 19:07] philoniare commented on #539
I am assuming the test.sh has been renamed to run_tests.sh. Quite a few tests have passed but it keeps getting stuck with the following error:
[code]
Technically, I am running a VM inside windows, so Linux users might be getting the same error?

[2016-01-07 19:46] seanlip commented on #539
Looks like the frontend (karma) unit tests and backend tests are passing, which is a good sign. It's the e2e tests that are problematic (and, for reference, you can run just those by executing run_e2e_tests.sh instead of run_tests.sh).

One thing to try: what happens if you add

    --skip_sdk_update_check

to the dev_appserver command here:

    https://github.com/oppia/oppia/blob/develop/scripts

[2016-01-07 20:06] seanlip commented on #1220
@wxyxinyu, please could you add more detail on how to reproduce this?

@maitbayev -- I _think_ the issue occurs when you select this interaction in the frontend and then try to create rules that involve lists that have duplicate items, then try to save that. There should be some kind of frontend validation system that prohibits that.

[2016-01-07 20:07] seanlip commented on #1255
This is about saving the draft of an exploration -- it refers to the 'Save Draft' button at the top.

[2016-01-07 20:17] maitbayev commented on #1220
@seanlip,
I couldn't create duplicate items in rule either, as rule uses answers provided in Customisation. (Which won't contain duplicate items).

By the way, what is the difference between Multiple Choice and Item Selection with "Maximum number of selections permitted" and "Minimum number of selections permitted" args equal to 1 ?

[2016-01-07 20:36] oskarcieslik commented on #1255
What should be the text when it's waiting for modal to open, also should icon change on smaller resolutions, if yes then to which one?

[2016-01-07 20:41] oskarcieslik commented on #1255
I suggest "Thinking..." and icon ![hourglass](https://github.com/google/material-design-icons/blob/master/action/ios/ic_hourglass_empty.imageset/ic_hourglass_empty_3x.png?raw=true)

[2016-01-07 20:46] seanlip commented on #1255
Maybe "loading...", since we use that elsewhere?

Also, how about animating the three dots after "Loading...", like we do elsewhere? (@amitdeutsch, what do you think?) I'm just a bit hesitant about introducing a brand-new icon to convey a concept that we already have elsewhere.

[2016-01-07 21:07] oskarcieslik commented on #1255
Ok, I implemented this as you suggested. :) At the moment icon on smaller devices doesn't change after click, if you guys come up with an icon then I will add it :)

[2016-01-07 21:09] seanlip commented on #1255
For smaller devices, maybe replace the icon by the animated "..."?

Also, maybe we should create a reusable directive for the animated "...", since we use it in so many places. But maybe that's a future commit.

[2016-01-07 22:12] oskarcieslik commented on #1255
Implemented it :) Build didn't passed, but I don't know why

[2016-01-07 22:16] seanlip commented on #1255
Something weird is going on with the github builds. I've restarted the job, let's see what happens. We might just have to wait a while; I suspect there's some error with github downloads.

[2016-01-07 22:52] wxyxinyu commented on #1220
It seems that the original bug I found (things go haywire when duplicate items are created in item selection or multiple choice) has been fixed in develop. Now you can't save interactions with duplicate items.
@BenHenning could you elaborate on how to reproduce the bug?

@maitbayev I think there has been some discussion about merging multiple choice and item select. @seanlip?

[2016-01-07 23:39] philoniare commented on #539
Yep, it works when I skipped the update, but one test seems to have failed. Should I make a PR for the optional argument? Here's the final output:
[code]

[2016-01-08 00:23] seanlip commented on #539
Yes, please -- a PR for that would be great, thanks!

Ah, yes, sometimes the tests are a little flaky. Just so you know, the way I get around this is by going to core/tests/protractor.conf.js and changing the "protractor/*.js" line to "protractor/{{name of file}}.js" -- in this case, {{name of file}} is editorAndPlayer (see the core/tests/protractor directory). The important thing is to remember t

[2016-01-08 04:09] seanlip commented on #1220
Ah yes, we have been discussing that -- @kevinlee12 and @amitdeutsch know the details, too. The problem is that it would require a data migration, so we've been putting it off for a little bit. It might be a good project to take on further down the road!

[2016-01-08 04:36] seanlip commented on #1286
Fixed in #1339, thanks @philoniare!

[2016-01-08 04:36] #1286 closed

[2016-01-08 05:04] seanlip commented on #1220
(As an addendum to my previous comment, see #1111 for reference.)

[2016-01-08 05:13] seanlip commented on #1058
@BenHenning -- ping?

[2016-01-08 05:22] seanlip commented on #908
Closing -- this is currently in progress and is being tracked elsewhere.

[2016-01-08 05:22] #908 closed

[2016-01-08 05:23] seanlip commented on #905
Discussed with @wxyxinyu; abandoning. Closing this issue for now.

[2016-01-08 05:23] #905 closed

[2016-01-08 05:32] seanlip commented on #888
Per discussion with @wxyxinyu, we don't intend to do this in the near future, but we can reopen this if there's more user feedback along these lines. Closing.

[2016-01-08 05:32] #888 closed

[2016-01-08 05:33] seanlip commented on #884
Closing for now, pending the upcoming editor redesign.

[2016-01-08 05:33] #884 closed

[2016-01-08 05:43] #846 closed

[2016-01-08 06:07] seanlip commented on #358
This seems to be working now. Closing.

[2016-01-08 06:07] #358 closed

[2016-01-08 09:02] seanlip commented on #539
Hi @philoniare -- @varenya is running into this issue too, so I'm going to do the run_e2e_tests.sh fix now. So, please don't worry about doing a PR! I'll also close this issue.

[2016-01-08 09:02] #539 closed

[2016-01-08 20:50] #1331 closed

[2016-01-08 20:55] seanlip opened #1342 "Complete the initial version of the collection editor."
(This issue is intended to track the first version of the collection editor, which is currently a work-in-progress.)

[2016-01-08 20:55] seanlip commented on #1342
/cc @BenHenning

[2016-01-08 20:57] seanlip commented on #954
Hi @ben-targan, happy new year! Did you get a chance to look into this?

[2016-01-08 21:04] seanlip commented on #477
NB: @czxcjx fixed this in #1092, but we've since then moved the rules to the frontend, so I'm reassigning this to @wxyxinyu (who is handling the rules migration).

[2016-01-08 21:12] seanlip commented on #987
@wxyxinyu -- have you seen this recently? I haven't, so I'm wondering if we should close it again.

[2016-01-08 21:15] seanlip commented on #1085
Hi @michaelWagner -- just to check, are you still interested in working on this?

[2016-01-08 21:19] seanlip commented on #1013
Hi @virajprabhu -- just to check, were you planning to submit a PR for this? Please let me know -- if not, I'll de-assign you, so that someone else can take this over.

Thanks!

[2016-01-09 05:02] wxyxinyu commented on #987
I tried again and don't see it. Closing this issue.

[2016-01-09 05:02] #987 closed

[2016-01-09 06:07] wxyxinyu opened #1343 "Design and implement new creator flow"
To make it easy for new creators to create explorations, the flow of what happens when exploration creators click on the 'Create' button should be re-designed. This includes deciding on what information (e.g. title, objective, category, language) the creator has to provide, if any.

The following need to be done:
- [x] UI mocks
- [x] User testing
- [ ] Implementation

This issue includes the proce

[2016-01-09 06:12] wxyxinyu opened #1344 "Design and implement welcome tutorial"
When new creators enter the editor, they should be shown a tutorial which introduces them to the editor. After following the tutorial, new creators should be able to create an exploration easily.

There are 3 phases to this project:
- [x] Design the tutorial.
  - Decide on the flow of the tutorial through the editor, which portions of the editor to show in the tutorial (perhaps breaking out advanc

[2016-01-09 07:21] virajprabhu commented on #1013
Hi @seanlip - I'm sorry, I completely forgot about this. I'll work on it right away. I think your suggestion of using a non-clickable overlay is a better approach. I'll try to implement it and get back to you.

[2016-01-09 07:27] seanlip commented on #1013
Excellent, thanks @virajprabhu!

[2016-01-09 07:57] BenHenning commented on #1220
To reproduce the bug I've observed (which I think is related to this bug), please follow these steps:

1. For a new state, select the Item Selection interaction.
2. Add 3 items to the interaction customization; have 2 of the items be exactly identical (such as "Test", "Sample", and "Test").
3. When adding a response, select both of the duplicate items ("Test" and "Test").
4. Save the response and

[2016-01-09 07:58] BenHenning commented on #1058
I will look into whether this is still a bug next Wednesday.

[2016-01-09 08:22] seanlip opened #1345 "Redesign the loading indicator and use it consistently throughout the site."
We currently use three animating dots to indicate that a page, or part of a page, is loading. However, if the area containing the loading indicator is small, these dots aren't very clear.

It's possible to have dots when the area is large and a circular spinner when the area is small, but that's a bit inconsistent.

Another possible idea for a redesign is as a circular spinner which comes in 'larg

[2016-01-09 08:29] seanlip commented on #1090
I clarified this with @amitdeutsch. Here are additional notes on what needs to be done:

1. The answer to question 1 in the previous comment is yes -- once the RTE is opened, there's no button to close it.

2. The correct fix, with regards to removing the warning, is to stop the answer group from being saveable (by disabling the 'save' button) until the conditions are met. This applies both in the

[2016-01-09 08:35] virajprabhu commented on #1013
Hi @seanlip, I tried setting `pointer-events: none` on the overlaying div but turns out that does not apply to descendant elements. Apart from that, I can only think of disabling clicks on the overlay using JS. Does that sound okay?

[2016-01-09 08:42] seanlip commented on #1013
Mm, depends. If you start referencing bits of the DOM itself via JS, that's going to end up being a bit ugly/fragile.

Can you do some kind of absolutely-positioned mask element that's a sibling (not a child) of the div you want to block clicks on?

[2016-01-09 09:06] seanlip commented on #1336
Hi @oskarcieslik -- I looked into this, and managed to reproduce it on my local machine (was your develop branch up to date)? I made a fix in #1346, could you please review it?

Thanks!

[2016-01-09 09:55] seanlip commented on #1090
Hi @wasper1 -- could you take this one? Thanks!

[2016-01-09 12:37] wasper1 commented on #1090
Ok i take it

[2016-01-09 23:53] wxyxinyu opened #1347 "[depends on #1343] Add 'create' button to the navbar on more pages"
Currently, the 'Create Exploration' button only appears on the main gallery page and the 'My Explorations' page. In order to make it easier for users to discover the editor page, the 'Create Exploration' button should also be on other pages, like the notifications, profile, about and other pages.

[2016-01-09 23:57] wxyxinyu opened #1348 "[depends on #1350] Add a 'Create Exploration' button to the list of created explorations"
In the profile page, there is an impact score and a list of the user's created exploration. When someone views their own profile, a 'Create Exploration' button could encourage them to create a new exploration.

Todo:
- [ ] UI Mocks
- [ ] coding

[2016-01-10 00:02] wxyxinyu opened #1349 "Add call-to-action to create an exploration at the end of an exploration playthrough"
If the user hasn't created anything, prompt them to do so at the end of an exploration playthrough, encouraging them to create. This should be done only if they rate the exploration or file feedback/suggestions.

Ideas:
- This could be an otter easter egg. Maybe something informative: “If you’re interested in how these are made, try out the exploration editor”
- Don’t show it every single time.

T

[2016-01-10 03:15] seanlip commented on #68
Instructions:
  * Find a way to compare two system environments, or to record all attempts by a script to interact with its environment (i.e., folders outside oppia/).
  * Take a snapshot of the system environment before Oppia is installed.
  * Run the Oppia installation process.
  * Run and document the Oppia uninstallation process.
  * Compare the resulting system environment to the earlier snap

[2016-01-10 03:19] seanlip commented on #96
(This needs some more detail on what validation checks need to be done for the directory structure of the zip file, the files in the zip file, etc.)

[2016-01-10 03:38] seanlip opened #1350 "Design and implement the new version of the profile page."
Tasks:
- [x] design the mocks for mobile screens (in progress)
- [x] implement the basic structure of the new profile page redesign on both desktop (two columns) and mobile (one section above the other)
- [ ] implement the "profile" section (containing the username, bio, picture and subject interests)
- [ ] implement the "portfolio" section (the one containing the list of explorations)
- [ ] imple

[2016-01-10 03:39] seanlip commented on #1302
Folded into #1350.

[2016-01-10 03:39] #1302 closed

[2016-01-10 03:39] seanlip commented on #1303
Folded into #1350.

[2016-01-10 03:39] #1303 closed

[2016-01-10 03:39] seanlip commented on #1301
Folded into #1350.

[2016-01-10 03:39] #1301 closed

[2016-01-10 03:39] seanlip commented on #1300
Folded into #1350.

[2016-01-10 03:39] #1300 closed

[2016-01-10 03:45] seanlip commented on #1270
We've had a use case before where we've used the Pencil Code editor interaction, and asked the learner: run the code already given and see what it outputs, then feel free to modify it as you'd like, and continue to the next card when you're ready.

This is an example where it seems reasonable for the submitted Pencil Code answer to be editable. What do you think?

[2016-01-10 03:54] seanlip commented on #1254
This relates to the UX flow for adding new answer groups in the first place. If we think about the creator adding new cards and joining them to each other, then adding feedback for the default answer group is a distraction. Creators would want to add the feedback/destination for the 'next' card in the sequence instead, since the default answer group is more representative of an "I don't understand

[2016-01-10 03:55] seanlip commented on #1251
Hi @daniel3735928559 -- did you have a chance to look into this? I think it's a guppy issue.

[2016-01-10 03:59] seanlip commented on #1295
Merging #1239 into this issue, and copying the background information provided in that issue to this one:

[2016-01-10 04:00] seanlip commented on #1239
Merged into #1295.

[2016-01-10 04:00] #1239 closed

[2016-01-10 04:02] seanlip commented on #1236
(This needs some instructions on how to add validation to an RTE component customizatin field.)

[2016-01-10 04:05] seanlip commented on #471
This is going to be addressed as part of #103. Closing.

[2016-01-10 04:05] #471 closed

[2016-01-10 04:06] seanlip commented on #1216
Note to contributors: to load a collection, log in as an admin, go to the /admin page, and load a demo collection, then go to /collections/0.

[2016-01-10 04:10] seanlip commented on #1160
The fixes for this will probably need to happen in core/controllers/base.py.

[2016-01-10 04:16] seanlip commented on #1132
@BenHenning -- this issue will soon be obsolete due to the answer migration work you're doing, right?

[2016-01-10 04:22] seanlip commented on #1105
Note to contributors: the code for the graph visualization can be found in the following files:

- core/templates/dev/head/editor/ExplorationGraph.js
- core/templates/dev/head/components/StateGraphVizDirective.js
- core/templates/dev/head/components/state_graph_viz_directive.html

Please also ensure that the state graphs on the expanded minimap, the stats tab, and the history tab are not adversely

[2016-01-10 04:24] seanlip commented on #1088
Unfortunately, there are existing explorations which give feedback after the continue button. So, I suggest that, in order to preserve backwards-compatibility, we only show the feedback editor if there's already feedback existing, and hide it otherwise.

[2016-01-10 04:31] seanlip commented on #1081
This issue needs mocks: what ought to happen?

[2016-01-10 04:33] seanlip commented on #1075
Task: find existing icons and replace them with the corresponding Material Design icons.

[2016-01-10 04:35] seanlip commented on #1074
I think what this needs is for a designer to go through the various pages, and document the various buttons in a slide deck, so that the desired outcome can be seen visually (and in context). The slide deck would also specify what each of the styles should be, so that this can be implemented.

[2016-01-10 04:36] seanlip commented on #1073
This needs some UI design work: should we use a popover or modal?

[2016-01-10 04:38] seanlip commented on #1061
This needs a design pass to determine what the customization options should be.

[2016-01-10 04:45] seanlip commented on #673
This probably needs a little bit of UI design.

One idea is to make clicking the 'edit' button in the navbar bring the user to the state they're currently on.

Another idea is to have some kind of floating side panel, similar to the ones shown [here](https://github.com/oppia/oppia/issues/921#issuecomment-155654690), that allows the user to move to the edit view for the state they're currently on.

[2016-01-10 04:54] seanlip commented on #1011
(Note that this is no longer relevant for parameters.)

Marking this issue as "TODO: UI design" in order to get a sanity check on whether striping is better than the alternative. One possible disadvantage of striping is that the grey colour does not contrast enough with the background, but perhaps we could use a different colour.

[2016-01-10 04:56] seanlip commented on #991
This should probably be looked into in order to figure out whether there's a possible workaround on our end (though it would be preferable to make a PR upstream to textAngular).

[2016-01-10 04:57] seanlip commented on #957
(This needs instructions on how to enable the training interface.)

[2016-01-10 05:01] seanlip commented on #946
I don't entirely understand this bug. Would it be possible to provide reproduction instructions?

[2016-01-10 05:06] seanlip commented on #44
Merging #920 into this one:

/cc @sfederwisch

[2016-01-10 05:06] seanlip commented on #920
This is a subset of #44. Closing.

[2016-01-10 05:06] #920 closed

[2016-01-10 05:17] seanlip commented on #861
I think the core problem here is that it's not intuitive how the rules work and how to order them. An editor workflow that handles more of this automatically behind-the-scenes would help here (for example, there should be some concept of a canonical order).

[2016-01-10 05:37] seanlip opened #1351 "Improve the instructions on the GitHub wiki for new contributors to the codebase."
Task list:
- [x] Add instructions for new contributors on how to find an issue to work on. (Basically: everyone starts from the milestones list, and finds a project relevant to their difficulty level; newcomers should take starter projects, and existing contributors should consider taking other, non-starter projects as well. This applies to both developers and designers. If a suitable project can'

[2016-01-10 05:40] seanlip opened #1352 "Write instructions for maintainers on how to use the new labels system."
In the GitHub wiki, we should add a section called "Instructions for Maintainers". These instructions should give background on the following:

- [x] what to do when a new issue comes in
- [x] how the labels system works, conceptually

After this is added, we should send an email to existing maintainers to inform them about this page. We should also point out its existence to subsequently elected

[2016-01-10 06:08] seanlip opened #1353 "Add carousels to the gallery."
The default gallery (with no search query) is currently very disordered. It would be nicer to group the explorations into categories, similar to what is shown in the following mock:

![gallery-carousel](https://cloud.githubusercontent.com/assets/10575562/12220217/552da206-b71d-11e5-90ca-40a542ae3c16.png)

Clicking on the right arrow will scroll all the explorations to the left, and show a new set

[2016-01-10 06:22] seanlip opened #1354 "On the learner page, after the learner has submitted an answer, show an error if no response comes back from Oppia."
We've encountered situations before when a learner plays an exploration and, due to some server error, no response is given by Oppia after the answer is submitted. However, all the learner sees is the three loading dots that indicate that an answer will soon appear. This is not correct behaviour, and what really should happen is that some error message should be displayed if a server error or time

[2016-01-10 06:28] seanlip opened #1355 "In the numeric input interaction, allow automatic checking of answer accuracy."
We should add a customization arg to the NumericInput interaction that allows an exploration creator to specify that the learner's answer should be given to at least / exactly a certain number of decimal places or significant figures. The interaction should automatically produce a warning if this is not the case.

The issue here is that this is an optional customization, and the fields that the ex

[2016-01-10 06:34] seanlip opened #1356 "Prepare and submit an application for Google Summer of Code 2016"

[2016-01-10 06:38] seanlip opened #1357 "Send an email notification when someone adds you as an editor of an exploration on Oppia"
Design tasks:
- [x] Figure out the text for the notification
- [x] Write a design doc for this feature
- [x] Determine how unsubscription from such emails works

Implementation tasks:
- [x] Modify UserEmailPreferencesModel
- [x] Modify preferences.html
- [x] Implement email_manager.send_exploration_membership_notification()
- [x] Update email_manager.py and feconf.py

Also see #1648, which aims to

[2016-01-10 06:40] seanlip opened #1358 "Make the site navigation clearer"
Currently, a lot of the site navigation is hidden behind a hamburger menu in the top-left corner. The aim of this issue is to get rid of the sidebar on large screens, and instead reconfigure the site-wide navbars to have the following components:

- Explore (which links to the gallery)
- About dropdown (which has the About page, etc.)
- Forum
- Create button
- Sign in button (or profile menu)

Spe

[2016-01-10 06:47] seanlip commented on #1270
(Adding another idea from my notes for the music interaction: we could change the 'submit' button to 'submitted', and disable it. Something similar might be possible for other interactions, too.)

[2016-01-10 07:04] seanlip commented on #823
For reference, here is the list of the tests that currently take a long time (in the develop branch). Perhaps some splitting-up/deduplication may be useful.

It's also worth noting that most of these tests are related to jobs. Is there an adjustment that we can make to the jobs framework to make them take less time?

[code]

[2016-01-10 07:08] seanlip commented on #936
This could also contain:
- unlockable special items/badges
- explorations that the learner has "favorited"
- the learner's "last played" date for an exploration
- new explorations in categories that the learner is interested in

[2016-01-10 08:26] seanlip commented on #1085
Just jotting down a note I had in a separate doc: we could also add placeholder text for the commit message along the lines of "Describe your changes (optional)".

[2016-01-10 09:21] seanlip commented on #1345
NB: Another idea I've seen elsewhere is to append a little quote/tip/snippet-of-text that is randomly selected below the "Loading...". This gives the user something to read, and could be quite fun.

[2016-01-10 18:34] BenHenning commented on #861
I agree with the problem of intuitiveness. Beyond that, warnings could also be generated when the order of the rules changes the outcome. It's usually possible to create rules that are order-independent (and the same with answer groups). This is probably preferred, so creating warnings to detect the situations otherwise would be very helpful to help creators identify 'bugs' in their state graph.

[2016-01-10 18:37] BenHenning commented on #957
I'm refraining from providing those instructions right now, simply because I'm pretty sure the training interface and soft rule evaluation is broken in develop. I'm instead going to assign this issue to myself and resolve it after the training interface is turned back on.

[2016-01-10 18:38] BenHenning commented on #1132
Sort of. The unhandled answers are being completely removed, but there isn't yet a consistent way to convert answers to HTML anymore. I think the answer is 'yes,' though.

[2016-01-10 21:11] wxyxinyu commented on #1352
PTAL: https://github.com/oppia/oppia/wiki/Instructions-for-Maintainers

[2016-01-10 23:12] #1351 closed

[2016-01-10 23:58] seanlip commented on #1352
Looks great. Thanks @wxyxinyu! Closing this issue.

[2016-01-10 23:58] #1352 closed

[2016-01-10 23:59] jacobdavis11 commented on #1270
That seems like a bit of a strange way to handle things as generally the "CONTINUE" button means that you should immediately continue; it does after all obscure part of the interaction. Also in this case would you want the user to be able to come back to the interaction later in the exploration and do some more modifying? If not then we would have to have two different post-submission versions for

[2016-01-11 00:29] jacobdavis11 commented on #1355
This seems reasonable to me. You could try modeling optional customisations by a list that can have at most one element, though you might have to make some special-case changes to the user-facing text for this to look natural.

[2016-01-11 00:52] seanlip commented on #1078
To clarify, the task here is as follows:
  - Review `core/tests/protractor_utils/forms.js`, as well as the `protractor.js` files in `extensions/`.
  - For each of these files, check that access to the DOM happens based on the priority listing described [here](https://github.com/oppia/oppia/wiki/Writing-End-to-End-Tests#writing-utilities), and change things accordingly if not. In particular, we'd l

[2016-01-11 02:32] wxyxinyu opened #1360 "Implement "Featured Explorations" in gallery"
Currently, moderators can choose to feature an exploration. After the carousels in #1353 are implemented, featured explorations should be put into their own carousel.

Note for contributors: Exploration summaries (as displayed in the gallery) have a 'status' field, which indicates if they are featured.

(Note: this is a temporary solution. It will later be replaced by #1468.)

[2016-01-11 02:37] wxyxinyu opened #1361 "Implement "Recently Updated" carousel in the gallery"
After carousels in #1353 are implemented, recently updated explorations should be put into its own carousel.

Note for contributors: Exploration summaries which are passed to the gallery to display have a 'last_updated_msec' field with its timestamp.

[2016-01-11 02:42] wxyxinyu opened #1362 "Increase number of ratings by allowing people to rate explorations in the middle of an exploration"
Currently, you can only rate an exploration if you reach the end of the exploration. However, if someone finds an exploration very bad, they may just leave halfway instead of rating it. In order to increase the number of ratings we have, people should be allowed to rate explorations in the middle of it. Some concerns:
- We may not want to allow people to rate the exploration too early. Perhaps the

[2016-01-11 03:05] wxyxinyu opened #1363 "Answer obsolescing"
Currently, exploration creators are shown a list of answers that went to the default answer group. This helps exploration creators create better rules that will catch these answers too. However, when they update the rules, the list of uncaught answers is not updated. Instead, the answers should be evaluated according to the new rules.

[2016-01-11 03:10] wxyxinyu opened #1364 "Batch email updates about explorations"
Exploration creators should receive batch email updates about their explorations. This can include:
- exploration stats
- new feedback/suggestions
- suggestions about what to do next with the exploration (e.g. information on how to make the exploration better)

TODO:
- [ ] design content of emails
- [ ] tech design doc for generating emails about a user's explorations
- [ ] implementation

[2016-01-11 03:14] wxyxinyu commented on #1235
Closing, as this will be resolved by putting the state errors in a todo list as described in #859.

[2016-01-11 03:14] #1235 closed

[2016-01-11 03:36] ping7680 commented on #946
This usually happens when I've copied text from another source and pasted it in Oppia. When I refer to spacing, I mean spacing between sentences. Some look like single space format, while others look like double space. I would consider this a minor issue that can be avoided by typing text into Oppia from scratch rather than a copy paste.

[2016-01-11 03:41] seanlip commented on #946
Ah, interesting -- thanks very much for clarifying.

This goes a bit beyond the call of duty, but I was wondering if you could provide a reproducible example for how this actually happens? E.g., is there any case where this occurs when copying text from a google doc, or from a public website (or something that a developer can reproduce on their own)? To clarify, I'm trying to come up with a set of

[2016-01-11 03:46] seanlip commented on #1363
In addition, there should probably be a way to remove old answers that are no longer relevant, e.g. if the state content has changed significantly or the interaction is completely different.

[2016-01-11 05:52] wxyxinyu opened #1366 "Design and implement creator dashboard"
There should be a creator dashboard where exploration creators can see aggregate statistics over all their explorations, such as average rating and number of playthroughs and unhandled answers.

[2016-01-11 20:10] bigblind commented on #1179
I'm having a similar issue. When I run the install script inside a virtualenv, I get the following output, which seems to be the same as the original issue:

[code]

When I run it without a virtual environment, I get:

[code]

In both cases, I'm running start.sh using sudo. I've recently updated xcode's command line tools, so that shouldn't be the issue.

[2016-01-11 20:47] bigblind commented on #1357
I'd like to work on this when my work on the code line numbers is done. Feel free to pick this up in the meantime if you'd really like to work on this tho.

Is there a template for what design docs should look like?

[2016-01-12 01:10] seanlip commented on #1357
Assigned! Also just sent you a sample design doc -- we ought to create more general instructions but that should get you started for now.

[2016-01-12 01:38] bigblind commented on #1357
@seanlip that design doc seems to list everything that's necessary, so can we consider that done?

[2016-01-12 02:46] bigblind commented on #1357
@seanlip Updated the doc. Can you take another look? (no hurry, I'm off to bed.)

[2016-01-12 03:01] bigblind commented on #1357
Sorry, my brain is being a bit slow today. I just noticed everything in the design doc you just sent me is already implemented, so I should have created a new one for this stuff. Sorry, will fix that.

[2016-01-12 09:15] seanlip opened #1368 "Fix the display of the notifications page on small screens."
The notifications tab looks bad on small screens. The table extends beyond the card, and there is no option to horizontally scroll:

![notifications-broken](https://cloud.githubusercontent.com/assets/10575562/12259299/848ce7e8-b8c9-11e5-912e-58b1bf92ba9b.png)

This should be better-designed. The aim of this issue is to come up with a visual design for notifications on small screens.

[2016-01-12 09:22] seanlip opened #1369 "Refactor feedback_services.py to have a domain layer."
The feedback_services.py file in the backend is unusual in that it does not make use of a domain layer, and manipulates model instances directly. This is not a good pattern, and it should be refactored to make use of a domain layer instead, similar to exp_domain.py.

Tasks:
- [ ] Create domain objects for feedback threads and messages.
- [ ] Create a new file (core/domain/feedback_domain.py), cont

[2016-01-12 09:29] seanlip opened #1370 "In the navbar of the exploration editor, show the number of open feedback/suggestion threads."
We'd like to make it easy for creators to see when their exploration has open feedback threads that still await resolution. The aim of this issue is to show the total number of open feedback threads and suggestions in the navbar of the exploration editor whose last message is from a non-editor of the exploration, since this indicates that a response or follow-up action is needed.

This can be show

[2016-01-12 10:02] seanlip opened #1371 "Images in the state content preview do not turn grey when hovered over"
Steps to reproduce:
1. Create an exploration.
2. Add an image to the content area for the first state, and save the content in the rich-text editor.
3. Hover over the content area.
4. The entire content area turns grey -- except for the image. This is incorrect: this should be fixed, so that the image is also overlaid with a grey mask.

![image-grey](https://cloud.githubusercontent.com/assets/1057

[2016-01-12 10:05] seanlip opened #1372 "Improve the design of the editor navbar on small screens."
This is what the editor navbar looks like when the window width is reduced:

![editor-toolbar](https://cloud.githubusercontent.com/assets/10575562/12260496/dc419c0c-b8d0-11e5-906d-e2c6ca8a740c.png)

This looks pretty terrible. It would be good to come up with a visual design for how the editor navbar should look like on smaller-width screens.

[2016-01-12 21:22] seanlip commented on #1336
Fixed in #1346. Closing.

[2016-01-12 21:22] #1336 closed

[2016-01-12 22:59] ping7680 commented on #946
You can see the issue in this example.

https://gld-oppia.googleplex.com/explore/CkEwRTvpOi69

[2016-01-12 23:47] seanlip commented on #946
Update: here is an screenshot (thanks to @ping7680) of what it looks like. (Note the difference in spacing between the first paragraph and the other paragraphs.)

![test](https://cloud.githubusercontent.com/assets/10575562/12280561/b66cb55c-b943-11e5-8dc9-13905395c171.png)

[2016-01-12 23:51] seanlip commented on #946
To reproduce: go to [this link](http://finance.yahoo.com/news/think-3-major-problems-buying-204649381.html), copy the first five paragraphs and paste them into a new card. The issue will appear as in the screenshot above.

Moving this out of 'triage' and into 'needs instructions' -- this needs some investigation to figure out why it's happening.

[2016-01-12 23:54] ping7680 commented on #946
Thanks!

John

On Tue, Jan 12, 2016 at 3:51 PM, Sean Lip <notifications@github.com> wrote:

[2016-01-13 21:40] BenHenning commented on #1058
I investigated this. With the previous updates to the learner view, it seems this bug has been fixed.

[2016-01-13 21:40] #1058 closed

[2016-01-14 01:00] BenHenning opened #1376 "Support explorations with parameterizable states"
Oppia used to have a demo exploration called cities which was recently removed from the codebase. This exploration was generated using a script to demonstrate that, with a simple structure, a very large exploration should be able to exist based on the large variety of possible states for that exploration. Due to various exploration schema migrations, the cities exploration eventually broke and it

[2016-01-14 01:10] bigblind commented on #1246
What exact problem are users encountering that leads to the conclusion that this is needed? Rating during an exploration sounds more like feedback to me, like "this part could be improved."

[2016-01-14 01:12] bigblind commented on #1236
I don't think we need a database migration for this. It doesn't make sense to store the full URL. We'd want to extract the id before storing it.

[2016-01-14 01:41] bigblind commented on #1357
First draft of design doc:

https://docs.google.com/document/d/1Vhbt_6CivwmZWua6xAxRdBoB6mDXcovejRzfi7tNi9o/edit?usp=sharing

[2016-01-14 02:13] seanlip commented on #1246
The current ratings do not reflect the thoughts of people who have dropped out of an exploration midway, perhaps because some card is too hard or unpassable. This leads to fewer ratings and skew in ratings, so it seems like something that might be worth fixing. WDYT?

[2016-01-14 02:32] bigblind commented on #1246
Can we do something on unload, when the user leaves the exploration midway that prompts asks them for feedback? I know browsers only allow an "are you sure?" style prompt, but can we use that to ask the user whether they'd be willing to tell why they're leaving the exploration?

I think we have to think carefully about feedback vs. ratings, and where they are useful. Ratings should give other lear

[2016-01-14 02:46] bigblind commented on #1353
If the user is logged in, could this be done based on their interests?

[2016-01-14 02:59] bigblind commented on #1362
There's also a discussion about this on #1246.

[2016-01-14 03:03] wxyxinyu commented on #1353
@bigblind -- We could also have per-user recommendations, but these haven't been implemented yet. (A spec exists [here](https://docs.google.com/document/d/1Rg8gPTEQJPXsziNd61vK56Co6kxVBPEvLtV3A3jRZBo/edit?usp=sharing), but may need updating.)

[2016-01-14 04:11] seanlip opened #1377 "Grey out the bottom part of the code editor if the exploration creator has appended code after the student's submission."
In the code interaction, if the exploration creator has appended code, that code is grayed out. However, the part of the codemirror editor below that appended code remains white, which suggests that it's possible to type there (which is not the case). That area should also be grayed out, as shown in the screenshot below:

![codeinput](https://cloud.githubusercontent.com/assets/10575562/12315583/68

[2016-01-14 04:13] seanlip commented on #1353
@bigblind -- we will probably add a couple rows above the category-specific ones, e.g. featured explorations, recently-updated explorations. There could be a "recommended for you" category, too. But there aren't concrete plans yet.

[2016-01-14 04:19] seanlip commented on #1229
Fixed in #1341. Thanks @won0089!

[2016-01-14 04:19] #1229 closed

[2016-01-14 04:25] seanlip commented on #1088
@won0089 -- would you like to look at this one?

[2016-01-14 04:55] won0089 commented on #1088
@seanlip Sure. Assign me please.

[2016-01-14 04:57] seanlip commented on #1088
Thanks, @won0089! Assigned :-)

[2016-01-14 05:09] cjerry opened #1378 "Support for Markdown in the RTE"
The option for Markdown editing would allow for greater flexibility in presenting exploration information. For example, it would now be possible to show inline code and it would be easier to add in code blocks. Headers could easily be designated to highlight important sections, etc.

To make it easier for those unfamiliar with Markdown, standard text editor options (much like MS Word) would be nic

[2016-01-14 05:49] seanlip commented on #1378
To clarify: the proposal here is to have a dual-mode RTE. One mode is the current one (with toolbar buttons for bold, italics, underline, etc.) and the other mode is the Markdown one. There would be a toggle that switches between modes.

(@cjerry, is that right?)

[2016-01-14 06:07] seanlip commented on #1136
Adding some clarification from @BenHenning:

Expected errors should result in warnings displayed to the user. The big question here is how to differentiate between expected and unexpected errors. An expected error is usually something the user does which is invalid, such as nearly all current uses of warningsData in the exploration editor. They also include recoverable errors, such as failing to s

[2016-01-14 06:10] seanlip commented on #1246
Adding some notes from #1362 (a duplicate issue):

  * We may not want to allow people to rate the exploration too early. Perhaps they should only be allowed to rate after playing through some (how many?) cards.
  * How can users be asked to rate the exploration in a way that doesn't distract them from it?

[2016-01-14 06:11] seanlip commented on #1362
Good call, @bigblind! Merging this into #1246.

[2016-01-14 06:11] #1362 closed

[2016-01-14 06:26] seanlip commented on #1295
/cc @brunnre8 -- would you be interested in taking a look at this?

[2016-01-14 06:42] seanlip commented on #1293
This is done in #1330. Thank you @brunnre8!

[2016-01-14 06:42] #1293 closed

[2016-01-14 07:06] cjerry commented on #1378
@seanlip That sounds good to me!

[2016-01-14 07:38] seanlip opened #1379 "Create an outline editor for explorations."
There are a number of common organizational workflows that are difficult to perform in the editor at the moment. For example, in order to add a card between two cards, you have to unlink the existing cards (which messes up the bottom half of the graph), then link the new card to the first card, and finally remember what the second card was and link that back to the new card. (Urgh!)

It would be n

[2016-01-14 07:48] kevinlee12 commented on #1353
After discussion with @seanlip, I'm planning on employing the following design (title will be flushed with the left-most exploration):
![image](https://cloud.githubusercontent.com/assets/5758256/12318484/86ef0408-ba4f-11e5-9087-332a9502310d.png)

The inspiration of this design is from Youtube and the hope was to balance user awareness with "not attracting too much attention." The concern that I ha

[2016-01-14 08:24] seanlip opened #1380 "Autoplay videos only if the learner is seeing them for the first time, and they have reached the card with the video."
To reproduce:

1. Create an exploration with two cards. The first card has a single multiple-choice option, which, when clicked, provides some feedback (this is important) and leads to a second card. The second card's content contains a video with the 'autoplay' option checked.
2. Click to the second state in the main tab of the editor. The video autoplays. This is distracting, and should not happ

[2016-01-14 08:29] seanlip opened #1381 "Add checks for the placeholder text and box height in the Protractor tests for text input."
See the TODO here: https://github.com/oppia/oppia/blob/56071db6e0dbfce14936ae53357acf5c2f30a4e6/extensions/interactions/TextInput/protractor.js#L31

The aim is to augment the existing checks with additional checks for the placeholder text and the height of the text input field.

[2016-01-14 08:36] seanlip opened #1382 "Disconnecting a link in the exploration graph causes the order of subsequent cards to get jumbled."
Load one of the demo explorations, and change the rule destinations on the first card so that they self-loop (instead of redirecting to a different card). The remaining states turn red, and end up in a pretty random order. It would be better if this didn't happen, and the original order was preserved; this would make it easier, for example, to insert a card between two others in an existing explor

[2016-01-14 16:53] brunnre8 commented on #1295
@seanlip yes I am

[2016-01-14 18:10] seanlip commented on #1295
OK, thanks @brunnre8! I've assigned you to the issue.

[2016-01-14 19:45] wasper1 commented on #1090
Where i can find 'warning indicator' appearance that should be on the top left of the answer group 'card' ?

[2016-01-14 23:49] seanlip opened #1383 "CodeRepl interaction needs to be able to support imports"
Create a new exploration (or load the Project Euler one) that contains a card with the code editor interaction. Type "import random". You'll get an error:

![code-repl](https://cloud.githubusercontent.com/assets/10575562/12341357/de794450-bad5-11e5-8d99-8fcfd59b1c3b.png)

This is because Skulpt (which is used to power the code interaction) needs to be configured with builtinRead, per this [discuss

[2016-01-15 01:37] seanlip commented on #1090
Hi @wasper1 -- I would recommend using the material design icon from [this page](https://design.google.com/icons/#ic_warning):

    <i class="material-icons">&#xE002;</i>

You can look at other examples in the site, just grep for the class "material-icons". Hope this helps!

[2016-01-15 08:21] BenHenning commented on #1353
I'm also very interesting in seeing this implemented, so I'm /cc @benhenning myself (this pattern is so I see it in my Inbox :D ). Thanks for working on this, @kevinlee12!

[2016-01-15 09:20] seanlip commented on #1357
Hi @bigblind -- I think the design doc is looking good! There are two additions I'd suggest:

- Can you outline a testing plan?
- Can you outline what needs to be done for adding functionality for unsubscribing?

Thanks!

[2016-01-15 10:10] bigblind commented on #1357
@seanlip About unsubscribing, do you think it'd be fine to just have a link to the user's email settings page? If, in the future, we add support for sending emails to users who don't have an Oppia account yet, we'll need to think about how to deal with that case.

[2016-01-15 10:12] virajprabhu commented on #1013
Hi @seanlip, a simpler workaround I tried that works is adding a `id="<[node.nodeClass]>"` to the rect and setting `#terminal-node { pointer-events: none; }` inside exploration_history.html. I thought this was reasonable since terminal nodes aren't supposed to be clickable anyway? Is this okay?
Also, I'm not able to set the property if I use a class selector for the rect, which was why I used the

[2016-01-15 18:53] seanlip commented on #1013
/cc @wxyxinyu -- I think she can give advice on this, since she's worked with the history tab before. Are you sure terminal nodes aren't clickable, though? If I create an exploration with two states, with the last one being an END state, I thought I could still click on the second state to get to it.

Also, can you do a PR anyway -- and maybe make a GitHub comment on the relevant line for which yo

[2016-01-15 18:58] seanlip commented on #1357
Yep, we'll need to have that link (and I think we already might, actually; we include it in the footer of emails). However, we'd need to check if the user is able to set the unsubscription settings, and perhaps we should add new ones / make the existing ones more granular (e.g. "send me notifications of invitations"), and also check that emails for this purpose don't get sent if the user has decli

[2016-01-15 22:50] kevinlee12 commented on #1353
thanks Ben! :)

[2016-01-15 22:59] bigblind opened #1386 "User preferences system"
For things like email notifications, it would be useful to have more elaborate user settings than just user profile fields. I'm willing to make the design doc for this.

A user_preferences_services module would allow other parts of the code to register possible user settings, which would be listed on the preferences page. It would then allow these modules to get and set a user's preferences.

[2016-01-15 23:00] seanlip commented on #1386
Thanks, @bigblind! Assigning you to this issue.

[2016-01-15 23:01] sfederwisch opened #1387 "Cannot push code due to pre push failure"
I'm trying to push some code and I get this error from the pre push (although I got no errors from running the presubmit script)

[code]

This doesn't read an error from any file/function that I modified in the commits in this branch

[2016-01-15 23:01] seanlip commented on #1387
/cc @wxyxinyu, @brunnre8

[2016-01-15 23:13] bigblind opened #1388 "Design docs on github"
I'm proposing to host future design docs on a Github repo in the Oppia organisation. Currently, design docs are written in Google docs, but this requires authors to share the link, and give editing rights to anyone they want to allow to edit the doc. Having a repo full of markdown documents allows anyone to submit proposals in the form of PRs, and makes them visible to everyone.

The only thing I'

[2016-01-15 23:16] sfederwisch commented on #1387
There seem to be two issues here:
1. When creating a new branch, it considers everything to be a "changed file", which may or may not be the desired behavior. I don't know the script well enough, but it definitely looks weird to me.
2. When looking at the files, it seems that it does not handle file names that contain white space like static/images/gallery/thumbnails/Graph Theory.svg correctly. It

[2016-01-15 23:28] sfederwisch commented on #1387
OK, so issue 1 seems to be an issue with my development process that is somehow updating local but not updating my branch. They are in some ways legitimately changes, so there isn't an issue with the scripts findings here.

[2016-01-15 23:36] bigblind commented on #1386
Given that this would currently only be used for email settings, ent there already exists a `UserEmailPreferencesModel`, this would be a [premature abstraction](http://c2.com/cgi/wiki?PrematureAbstraction).

Closing for now.

[2016-01-15 23:36] #1386 closed

[2016-01-16 00:41] kevinlee12 opened #1392 "Awkward Exploration Card Width"
The exploration card width seems to be arbitrary and is not found in the css section of either the cards itself or `exploration-summary-tile`. The `<exploration-summary-tile>` tag currently wraps `<md-card>`. It is also important to note that the left margin is slightly smaller than the right side's.

Screenshot of the issue:
![image](https://cloud.githubusercontent.com/assets/5758256/12368963/d9f

[2016-01-16 01:35] #1387 closed

[2016-01-16 01:57] seanlip commented on #1388
/cc @wxyxinyu too

Thoughts? We've discussed something like this before (when things were still on google code), but I really like the commenting functionality and would miss it.

[2016-01-16 04:55] wxyxinyu commented on #1388
I'm generally against switching to a github repo, because I think the comment functionality and the ability to edit collaboratively in real time is important in the process of how our design docs are created. Would it be better to make docs in the Oppia folder "can comment/suggest edits" by default, and share the link to the entire folder more prominently (if it is not already)?

[2016-01-16 07:01] kevinlee12 commented on #1353
Hi guys, I revised the design and here's the outcome (as the preview below is a gif at 10fps, the preview not as smooth as it actually is). Let me know what you guys think!

![scrolling](https://cloud.githubusercontent.com/assets/5758256/12371012/768701e2-bbda-11e5-8f0c-cb8b6e501202.gif)

**Scrolling Behavior (if clicked on right arrow):**
- If there are 10 elements:
  - click 1: [ 4 new ]
  - cli

[2016-01-16 11:03] brunnre8 opened #1394 "Python command on Arch Linux"
Currently Oppia uses the following python command to run Python 2.7: `python`.

However this will  break on Arch Linux installations as there `python` is mapped to `python3` (They are so far the only ones that do not adhere to [PEP 0394](https://www.python.org/dev/peps/pep-0394/#abstract)).

Using `#!/usr/bin/env python2` on the other hand is not recognized on at least *OS X El captain v.1011.2* a

[2016-01-16 12:51] prasanna08 commented on #1377
Hi, I am new to opensource and this is my first time. I would like to contribute to project by solving this bug.

[2016-01-16 15:51] wxyxinyu commented on #1377
Hi @prasanna08, thank you for your interest in contributing to Oppia! First off, could you follow the instructions in https://github.com/oppia/oppia/blob/develop/CONTRIBUTING.md#setting-things-up to set up a dev instance and also sign the CLA?

For this issue, you'll want to add some CSS styling to CodeMirror. You can follow the method that added the grey background to prepended and appended code:

[2016-01-17 03:35] prasanna08 commented on #1377
Hi @wxyxinyu, thanks for directions for solving issue. I have signed CLA and dev instance also set up.

I have solved issue but I only modified CSS in extentions/interactions/CodeRepl/CodeRepl.html, but no change were made to js part. It does two things

1. It fixes the issue described here.
2. An unwanted result is,
![unwanted_change](https://cloud.githubusercontent.com/assets/8678373/12375724/20

[2016-01-17 04:24] wxyxinyu commented on #1377
@prasanna08 -- Thanks for the quick update.

There is no separate js file, but you can detect if the interaction is displayed in editor mode. Check out the EndExploration interaction -- https://github.com/oppia/oppia/blob/develop/extensions/interactions/EndExploration/EndExploration.js#L40. This interaction also displays differently when in the editor page. The `explorationContextService` service

[2016-01-17 05:06] seanlip commented on #1377
@prasanna08 -- I think your change is being applied too generally, and affects all elements in the DOM with class .CodeMirror or .CodeMirror-code. Can you prefix anything you have with some kind of .code-repl-* class (so that only codemirror elements that are a descendant of .code-repl-* will be affected)? This will probably help to contain your changes within the context of the interaction itself

[2016-01-17 10:01] prasanna08 commented on #1377
@seanlip as you suggested to prefix the class with something so only its descendants will be affected.
I created a different theme (namely preview), it changes the background as per requirement and it can be easily selected  from CodeRepl.js by using editor.setOption('theme', 'preview') and similarly it can be removed by removing that option. So now it only affects interaction part of editor and 2

[2016-01-17 10:21] seanlip commented on #1377
Hi @prasanna08, thanks!

Would you mind making a pull request? You're right that it's not what I had in mind, but if you make a PR, it would be easier for @wxyxinyu or me to check it out.

Btw, I realize I wasn't really clear at all in what I was saying, sorry about that. I was actually thinking about using a selector like the following:

    .code-repl-input-box .CodeMirror

so that only stuff th

[2016-01-17 10:30] prasanna08 commented on #1377
Thanx @seanlip. I understand what you meant there, but I was not sure how would I do it. As I said earlier I am no good with angular js and I am still figuring out how this whole app is working.
Well you see I am actually a python dev but I chose this issue as it seemed easy to solve, and I have good knowledge of css and html.

I created a PR. Thanx for quick responses from you guys,

[2016-01-17 22:43] wxyxinyu commented on #1013
@virajprabhu -- hmm, I'm not quite sure what you mean by terminal nodes not being clickable. Could you please submit a PR with what you currently have so I can take a look? Thanks!

[2016-01-18 02:06] #1377 closed

[2016-01-18 06:35] virajprabhu commented on #1013
Sure, I'll do so later in the day.

[2016-01-18 06:35] virajprabhu commented on #1013
Sure, I'll submit a PR.

[2016-01-18 10:21] seanlip commented on #1394
Thanks for filing the issue, @brunnre8! Just to double-check, is the right command for Arch Linux `python2` or `python2.7`?

Also, @MAKOSCAFEE -- am I right that both of these do not work in *El Capitan*?

[2016-01-18 10:41] seanlip commented on #1377
Hi @prasanna08 -- just thought I'd also mention that I actually like your fix better than my original suggestion. Thanks for doing it!

[2016-01-18 10:42] seanlip commented on #1383
Hi @prasanna08, do you think you'd be interested in taking a look at this one?

[2016-01-18 11:19] prasanna08 commented on #1383
Sure let me check it. Thanx for suggestion.

[2016-01-18 12:05] prasanna08 commented on #1383
I have solved this issue. It's quite straightforward. Thanx for links.
![oppia-1383](https://cloud.githubusercontent.com/assets/8678373/12390811/3cca3b32-be09-11e5-94f3-7e100a8a0195.png)

As you see I am able to use this random module. So all modules supported by skulpt should be able to be imported.

[2016-01-18 14:43] brunnre8 commented on #1394
@seanlip I'm not on Arch but in a normal linux OS `python2` will point to the latest python2 version which is installed (usually 2.7) and `python2.7` will explicitly point to python 2.7
So in theory both should work but `python2.7` will guarantee that the expected version is run

[2016-01-18 19:11] MAKOSCAFEE commented on #1394
Yes @seanlip  both of them do not work on El captain.

[2016-01-18 21:48] GraceGSy commented on #448
Here are the new icons in context of the whole webpage.

1. The math icon is now x^2 as suggested above

2. Hints has been reverted to tabs. I am not too sure about how it looks currently, but I cannot think of a better representation.

![rich-text mock-up](https://cloud.githubusercontent.com/assets/16433058/12403611/0dbb23de-be03-11e5-88c0-de6c6496b99d.jpg)

[2016-01-18 21:49] GraceGSy commented on #448
Also, if anyone has feedback regarding the color scheme for the icons, that will help very much too.

[2016-01-18 22:38] markhalpin commented on #448
Hi guys,

Sorry to be out of the loop for a few days, but looking forward to getting
caught up on various threads and commenting as desired. Divya, is there a
meeting scheduled for this Wednesday?

Thanks,

Mark

On Fri, Jan 1, 2016 at 7:54 PM, Sean Lip <notifications@github.com> wrote:

[2016-01-18 23:01] seanlip commented on #448
Hey @markhalpin, I think you're on the wrong thread :-) From the context, I think you're referring to an email thread that's not on GitHub.

@GraceGSy -- these look great, thanks! One thought: can you have a go at making them match the colors of the other icons (B, I, U, ..., pre)? I think it would look cleaner that way. Also, did you manage to get these into the codebase? If so, it would be great

[2016-01-19 00:12] GraceGSy commented on #448
I originally made the rich-text icons a different color to set exploration components apart from text styling. They can always be changed to grayscale.

The non-grayscale version (shown above) has been incorporated into the codebase. I've made a pull request already. Thanks!

[2016-01-19 00:28] GraceGSy opened #1402 "New warning sign for exploration graph"
I think we need a new warning icon for the exploration overview graph. The current yellow exclamation mark does not fit with the overall style and palette of the webpage. Something like this, but polished:

![first card](https://cloud.githubusercontent.com/assets/16433058/12406425/ddff53d2-be1a-11e5-970b-e0349dc207f6.png)

[2016-01-19 00:58] jacobdavis11 commented on #448
Hi Grace

A couple of thoughts:
 - The old icons were in colour, which makes them stand out a bit more. Is
there a colour version of the new ones available?
 - For the tabs icon you might want to consider something more like the old
version (which just has a single tab) as it's a bit hard to make out what's
going on in the new icon.

Thanks!
Jacob

On Mon, Jan 18, 2016 at 7:12 PM, GraceGSy <notifi

[2016-01-19 03:21] seanlip commented on #1402
Hm, good call -- I agree that the warning icon could be updated.

Just to check, in your image, are you envisioning this as an overlay on the top-left of a graph node, or would this be the graph node itself? If so, would its size change depending on whether the node has a warning or not? That might be disorienting...

[2016-01-19 03:22] seanlip commented on #1402
/cc @oppia/frontend-exploration-editor-main

[2016-01-19 03:28] seanlip commented on #1383
That's great, @prasanna08! Could you please make a PR?

For the line you mentioned, perhaps you could do the following?

   Sk.builtinFiles.files[x]

[2016-01-19 03:29] seanlip commented on #1383
(Also, the '{' should go at the end of the previous line. You can look at the lint error message to see what's gone wrong.)

[2016-01-19 03:52] GraceGSy commented on #448
@jacobdavis11 I'm not very sure what you mean by the color version. The current ones I have are teal (screenshot couple of posts up), which is meant to set them apart from the other gray icons. Should I add more colors? Or change the colors? Sean suggested making them grayscale, which I will try out.

I agree the old tabs are clearer.That will be adjusted. Thanks!

[2016-01-19 04:07] jacobdavis11 commented on #448
I meant to use multiple different colours, rather than having them be
monochromatic. However I had a chat with Sean and he seems to prefer the
monochromatic approach, so feel free to ignore the suggestion.

On Mon, Jan 18, 2016 at 10:52 PM, GraceGSy <notifications@github.com> wrote:

[2016-01-19 06:55] seanlip commented on #1394
Thanks for the confirmation! I think this will be useful information for whoever takes this issue on in the future.

Also, adding a summarized version of @brunnre8's comment from #1384 and my response:

[2016-01-19 06:57] seanlip commented on #1353
This has been merged into the new-gallery branch. Closing.

Thanks @kevinlee12!

[2016-01-19 06:57] #1353 closed

[2016-01-19 07:26] seanlip commented on #1392
/cc @oppia/frontend-gallery-and-collections

Anyone interested in taking this on? The task here is to figure out where the width of 211.953px comes from, and how to change it if we wanted to.

[2016-01-19 08:07] seanlip opened #1404 "Create an e2e test that comprehensively tests the basic answer/feedback flow."
Steps:
- [ ] Create as small a demo exploration as possible that covers all the following cases:
  - An answer is submitted, Oppia gives feedback, and the learner stays on the same card
  - An answer is submitted, and Oppia gives feedback, and after reading the feedback, the learner clicks ‘Continue’ to go to the next card
  - An answer is submitted, but Oppia gives no feedback and sends the learn

[2016-01-19 08:08] seanlip commented on #1404
/cc @oppia/frontend-protractor-tests

[2016-01-19 11:06] prasanna08 commented on #1383
@seanlip, thanx your solution worked just fine. I was getting lint errors only for that code. I also made a pull request.

[2016-01-19 12:10] prasanna08 commented on #1371
Hey @seanlip, I fixed this issue locally, if no one else working on it, can you assign it to me ?

[2016-01-19 14:15] wxyxinyu commented on #1371
Hi @prasanna08, please submit a PR. Thanks!

[2016-01-19 14:36] wxyxinyu commented on #1383
Fixed in #1406, thanks @prasanna08!

[2016-01-19 14:36] #1383 closed

[2016-01-19 17:14] wxyxinyu commented on #1371
Fixed

[2016-01-19 17:14] #1371 closed

[2016-01-19 19:54] amitdeutsch commented on #1353
Hi all, I just tried this out in the new-gallery branch and saw a bunch of issues with it. Overall though, I don't think the sudden appearance and disappearance of the shadows on the side are the right solution to the concerns I raised in our meeting. Where would be the right place to add comments now that the branch is merged?

[2016-01-19 20:12] seanlip commented on #1353
Just FYI, the new-gallery branch still needs quite a bit of work before it can be merged into develop, so that 's not going to happen for a little while yet (and is partly the reason I went ahead and merged this one, since having multiple long-lived temporary branches for the same feature is a bit confusing).

I think the best place to add comments is in a new issue (just make sure that the commen

[2016-01-20 06:29] seanlip opened #1409 "All RTE components should be covered by a gray overlay in the editor preview."
Here is a screenshot of the content section of an editor card that contains all 6 rich-text editor components. Notice that the "Sample Header" in the collapsible, which is being hovered over, is 'active'; the same is true for the link, the tab headers, and the video.

Instead, similar to #1371 (which was fixed in #1407), these should all be 'inactive' and covered by a grey overlay.

It would be ni

[2016-01-20 06:31] seanlip commented on #1409
@prasanna08, would you be interested in looking into this one? It's similar to #1371, but I think it needs a different solution (and then perhaps the one in #1407 might become less necessary).

Thanks!

[2016-01-20 07:50] brunnre8 commented on #1295
@seanlip Sorry for not answering your question yesterday in the chat, but I was at work during that time.

Regarding this issue I would probably need some directions.
I was giving myself a crash-course in Travis-CI as well as looking into how it's implemented in the Oppia project.

A few things are unclear to me:

1. First regarding the counting, there are basically 2 options available. Scrape the

[2016-01-20 08:00] seanlip opened #1410 "Create an e2e test that comprehensively tests the card layout."
Steps:
- [ ] Create as small a demo exploration as possible that covers all the following cases:
  - There is at least one inline interaction (below the question)
  - There is at least one supplemental interaction (next to the question)
  - There is at least one transition of the following types: inline → inline, inline → supplemental, supplemental → inline, supplemental → supplemental
- [ ] Write

[2016-01-20 08:02] seanlip opened #1411 "Create an e2e test that comprehensively tests the behaviour of the progress dots."
Steps:
- [ ] Create a demo exploration with at least 20 cards.
- [ ] In an end-to-end test, load this demo exploration, and test the following:
  - Is a new progress dot added when the user moves to a new card (and not before)? (For example, there’s a case where Oppia gives feedback and then moves the user to a new card; the new progress dot should only appear when the user actually clicks ‘Contin

[2016-01-20 08:27] seanlip commented on #995
Hi @bbriggs, @MAKOSCAFEE -- any news on this?

[2016-01-20 08:31] seanlip commented on #1295
Thanks for looking into this, @brunnre8!

Actually, the reason I asked yesterday was because I also realized that this issue may be more involved than I first thought. I had looked up GitHub-commenting bots a few days back (for a different purpose) and came to the same conclusion that we would need to set up a different server to receive the payloads and make comments. It's something that seems li

[2016-01-20 12:02] prasanna08 commented on #1409
Oh sure.
But just to clearify what does it mean by inactive?
One should not be able to click on that link or play the video ?

[2016-01-20 18:08] brunnre8 commented on #1295
@seanlip sure,  I wouldn't mind postponing it (I do not have access to a public facing server,  so it would be rather hard to test on my machine anyway)

[2016-01-20 18:41] bigblind commented on #1327
I think this one can be closed now, right?

[2016-01-20 19:07] bigblind commented on #1357
@seanlip Could you take another look at the design doc?

[2016-01-20 20:17] bigblind commented on #1388
That might be a good idea. Maybe Apps Scripts can be used with the CLA form to also automatically give people access to the folder.

[2016-01-20 20:26] seanlip commented on #1327
Oh, yes, good catch! Fixed in #1367; closing.

[2016-01-20 20:26] #1327 closed

[2016-01-20 20:29] seanlip commented on #1409
Yep, I think so. Clicking anywhere in the gray area should open the content editor.

[2016-01-20 20:34] bigblind commented on #1409
Keyboard focus might also be an issue here. Something might not be clickable with an overlay above it, but it's still part of the tab path.

[2016-01-20 20:41] seanlip commented on #1357
Reviewed; I left comments. Thanks @bigblind!

[2016-01-20 20:45] seanlip commented on #1024
@brunnre8 -- mind taking this one? It's probably easier than the gitbot :)

[2016-01-20 21:12] brunnre8 commented on #1024
@seanlip sounds good to me :smile:

[2016-01-21 01:12] #1392 closed

[2016-01-21 02:56] seanlip commented on #1354
/cc @wxyxinyu

@wxyxinyu -- I remember seeing this on a user testing video, but I just realized we moved all the rules logic to the frontend, so just to check -- is this something that can still happen with the new rules-in-the-frontend system? If so, can you elaborate on when it could occur, so that @whyjenn can simulate a test case?

(Also, /cc @philoniare who is currently auditing all the error

[2016-01-21 03:51] seanlip commented on #798
Hi @DewarM -- how's this going?

[2016-01-21 03:55] prasanna08 commented on #1409
Hey @seanlip, I have fixed the most of issues.
check below,

![success-rte](https://cloud.githubusercontent.com/assets/8678373/12471110/5a14379c-c020-11e5-9087-2ea15ec8fa62.png)

This commit brings following changes.
1. Background of active tab is changed when hoverd over image.
2. Link are non clickable and videos are non playable.
3. Tabbing won't be able to focus on link and video while in edit

[2016-01-21 03:56] seanlip commented on #1370
@michaelWagner -- would you like to take this one?

[2016-01-21 03:58] seanlip commented on #1409
Thanks a lot, @prasanna08! Would you mind filing a PR?

Also, did you notice @bigblind's comment above? It's OK not to address it in this PR, but if so, let's file a new issue for it so it doesn't fall through the cracks.

Thanks!

[2016-01-21 03:59] prasanna08 commented on #1409
Ok thanks @seanlip.
I am currently solving some lint errors. I will soon file PR.

[2016-01-21 09:38] seanlip opened #1416 "Guard against sending duplicate emails."
We are planning to add functionality for sending an email if an exploration owner invites someone else onto an exploration's team (see #1357). However, if an exploration owner invites someone onto an exploration’s team, then removes them accidentally and adds them again, or if the request gets executed multiple times for some reason, a user might receive multiple emails. This is just one example;

[2016-01-21 09:50] seanlip opened #1417 "Do not use continuous computations for per-user notifications."
Currently, all notifications are handled by a continuous user job that checks all the sources where notifications might come from. It's not easy to integrate things like invitations by other exploration creators (to their explorations) into this system. In addition, as notifications come from more and more sources, the RecentUpdatesMRJobManager becomes unwieldy.

Instead, it might be useful to bui

[2016-01-21 13:28] prasanna08 commented on #1409
Hey @seanlip,
I uploaded a new commit.
I did exactly what you suggested, added an overlay sibling div for gray masking.
This also prevented click on links and videos and also Everything now turns to gray mask regardless of objects i.e Images, Video, etc...
I also added code for prevention of focus on link and video element.

Now only thing which remain is:
Prevention of focus on tabs which are add

[2016-01-21 13:42] prasanna08 commented on #1409
This last commit removes old styling I used for image gray masking as it is useless now.

[2016-01-21 17:36] bbriggs commented on #995
Okay, I have set aside all of this afternoon and the next to work on it. I'll let you know what I come up with.

[2016-01-21 17:41] wxyxinyu commented on #1354
As far as I know, none of the new frontend rules actually throw errors. However, they also don't validate the rule input and hence may react weirdly to wrong/corrupted input. But they should always return true or false.

[2016-01-21 19:51] seanlip commented on #1409
Great, thanks! If you make a PR, one of us can review it. (Also, don't worry about the tabs -- as I mentioned in the PR, we are planning to deprecate them soon and replace them with something more intuitive.)

[2016-01-21 22:41] maitbayev commented on #1382
Here is my suggested solution, thought it might be helpful:
The problem occurs when not all vertices are reachable from InitNodeId(start vertex).
Basically, we want to find set of vertices (let's denote as V1, V2, ..., Vk) and add invisible edge
from InitNodeId to Vi (i=1..k), so that, as a result all vertices are reachable from InitNodeId.

By adding invisible edges we can draw using current algo

[2016-01-21 22:51] bigblind commented on #1417
I'm willing to take this on.

[2016-01-22 00:25] bigblind commented on #1416
Here's a design doc for this:
https://docs.google.com/document/d/1gqzGXLewKID5dyY8HJCudcCORxoXiVkSGkFb6SAvBEk/edit?usp=sharing
(Anyone can comment).

[2016-01-22 02:21] seanlip commented on #1416
I've taken a pass and left some comments. Thanks @bigblind!

[2016-01-22 05:14] wxyxinyu commented on #1382
I think the SCC idea sounds good. Perhaps instead of drawing invisible edges from the start node, we can treat each of the components separately and run the current drawing algorithm on each of the graphs. (i.e. treat each of the vertices in the compressed graph with zero indegree as start nodes, and display the graph with the real start node first and the rest in arbitrary order.)

[2016-01-22 06:38] kahkhang opened #1421 "Latex RTE Component shows black vertical bar on the right border"
When inserting the Latex component in the rich text editor, an unexpected black vertical bar appears in the right border of the Mathjax component, and renders in the preview as well. (I'm using Chrome 48.0.2564.82)

<img width="638" alt="screenshot 2016-01-21 22 35 54" src="https://cloud.githubusercontent.com/assets/4048170/12504088/598e07c0-c08f-11e5-8d74-0b79a86457e0.png">

<img width="758" alt=

[2016-01-22 08:15] sbhowmik89 commented on #1287
@seanlip I'm working on the design doc for the backend implementation. Should be ready soon because it borrows heavily from @jacobdavis11's  doc. I can take up everything listed under backend components here https://docs.google.com/document/d/1cIGNgtjD-WPFBtNb9HsZAZnmCwQ3QfY3Yg57fYF-w6M/edit#bookmark=id.obadjls6ah81
I can also take on the backend testing.

[2016-01-22 12:15] maitbayev commented on #1382
Hi @wxyxinyu,
Drawing separately is trickier than that.
For example, consider this graph:
<img width="195" alt="screen shot 2016-01-22 at 12 14 51" src="https://cloud.githubusercontent.com/assets/5602283/12510448/cae4ce3c-c101-11e5-80cd-95ee01ce2da4.png">

[2016-01-22 23:35] BenHenning opened #1422 "Do not show unhandled or untrained answers if less than five answers have been submitted for a state"
As a means to reduce personal identification of learners, answers which show up in the unhandled answers section of the editor (now deprecated) or the new training interface (not yet turned on) should only show up if at least five answers have been submitted up until then (for that state).

[2016-01-22 23:38] BenHenning opened #1423 "Implement moderator ability to suppress logging answers for questions which are asking for PII"
In an effort to reduce personal identification of learners, there should be functionality which allows moderators to disable answer logging for a particular rule in an exploration which asks for PII. This issue involves UI work to add a toggle for turning this feature on/off for a given exploration, a process for updating that exploration with the rule logging disabled, updating the backend storag

[2016-01-22 23:38] sfederwisch commented on #1022
I'm thinking the code that is not functioning correctly is in core/domain/rule_domain.py in the function evaluate_rule()

This seems to be the place where the param values get replaced with their values, so I'm guessing that is where the issue would be. I'm not seeing the issue, but this seems like the right place for the fix.

[2016-01-23 01:31] seanlip opened #1424 "Audit the design of the music interaction"
This is the first in a series of issues targeted at redesigning individual interactions (from both the learner and creator points of view).

This issue focuses on the music notes interaction, which has not yet gone through a systematic UX design process. The tasks involve:
- [ ] Audit the interaction's usability from the learner's point of view. For example, sometimes people do not realize that th

[2016-01-23 01:46] sfederwisch commented on #1022
In order to demonstrate the symptom of having the param name in place of the param value, add the line
`console.log(answerGroups);`
into core/templates/dev/head/player/AnswerClassificationService.js:getMatchingClassificationResult() right after the line
`          var answerGroups = oldState.interaction.answer_groups;` (right now it would be line 104)

Then play through the exploration until you g

[2016-01-23 07:21] AllanYangZhou commented on #1421
Looking at this: https://github.com/mathjax/MathJax/issues/1300 it appears we just need to upgrade our version of MathJax.

[2016-01-23 08:25] seanlip commented on #1421
Thanks, @AllanYangZhou! Changing this to 'TODO: code' since the solution is known.

[2016-01-23 14:49] oskarcieslik commented on #1129
Hi @amitdeutsch @wxyxinyu, I created a PR that fixes this issue, also here's screenshot of buttons now:
![buttons](http://i.imgur.com/0Jj9gTq.png)

[2016-01-23 16:13] wxyxinyu commented on #1382
Oh, yeah. I didn't really think that through. I'm not really sure how well the current drawing algorithm would work if we just drew edges from the start node, but I think it's worth a try.

For example, this case will have the main path branch strangely:
![image](https://cloud.githubusercontent.com/assets/5061134/12531175/eae94c74-c1c1-11e5-9a19-6148f15442f0.png)

[2016-01-23 22:06] #1311 closed

[2016-01-23 22:10] seanlip commented on #473
Hi @maitbayev -- would you be interested in looking into this and figuring out a way in which it could work? It's a bit non-obvious, so I'd suggest making a doc with your ideas or explaining them in this thread before starting implementation.

Thanks!

[2016-01-24 03:57] wxyxinyu commented on #1090
Fixed in #1398

[2016-01-24 03:57] #1090 closed

[2016-01-24 16:28] #1409 closed

[2016-01-25 12:35] maitbayev commented on #473
Hi @seanlip,
Sure I will try later.

[2016-01-25 13:26] maitbayev commented on #1382
Hi @wxyxinyu,
Yeah, I am aware of this case.
One fix in my mind is to sort nodes which are in the same level. By sort I mean, shifting all "main" nodes to the left side preserving the order inside, and shifting others nodes to the right side preserving the order inside. But I don't like this idea.

[2016-01-25 14:00] #1255 closed

[2016-01-25 20:44] bigblind commented on #1416
Resolved all the comments. Hope this looks good.

[2016-01-25 21:10] seanlip commented on #1416
Looks good in general, thanks @bigblind! I just made a few minor comments.

[2016-01-25 23:13] seanlip commented on #1416
Took another design doc pass -- it looks great! Thanks @bigblind.

[2016-01-26 04:53] seanlip commented on #31
Discussed at tech leads meeting. Closing in favour of #43.

[2016-01-26 04:53] #31 closed

[2016-01-26 04:54] seanlip commented on #476
Discussed at tech leads meeting; unanimous vote against doing this, since the benefit seems small and it would be a large amount of work. Closing.

[2016-01-26 04:54] #476 closed

[2016-01-26 04:58] seanlip commented on #665
Discussed at tech leads meeting. Closing, since we've done changes to the e2e tests since, and this was a while back -- and it's hard to test since we don't really have 11 inch Macbooks.

(Having said that, please reopen if it's still an issue!)

[2016-01-26 04:58] #665 closed

[2016-01-26 06:50] seanlip commented on #945
Adding a note from @kahkhang in #1426 (which may be the source of the issue):

(In the RTE), the $scope.watch("htmlcontent") and $scope.watch("tempcontent") creates a feedback loop which can cripple the browser. Removing $scope.watch("htmlcontent") makes the RTE much faster, but now deleting the RTE from a list of RTEs does not update the htmlcontent. It's weird because the tempcontent is updated

[2016-01-26 10:35] seanlip commented on #1088
Hi @won0089! Any luck with this one?

[2016-01-26 10:36] seanlip commented on #1013
Fixed in #1415. Thanks @virajprabhu!

[2016-01-26 10:36] #1013 closed

[2016-01-26 10:37] seanlip commented on #1268
@virajprabhu -- just to double-check, is this something you're looking into?

[2016-01-26 10:38] seanlip commented on #1380
Hi @prasanna08 -- would you like to take a look at this?

[2016-01-26 10:39] seanlip commented on #1136
Hi @philoniare -- how is this going?

[2016-01-26 10:41] seanlip commented on #674
Hi @wasper1 -- would you be interested in taking a look at this? It's a bit harder than a starter project, so please let me know if you'd like something easier instead!

[2016-01-26 15:34] bigblind commented on #1417
I'm writing the design doc for this in the following Google doc:

https://docs.google.com/document/d/1OM-ykqw2jFq6Bk54D4tI7N5r5UmE_MUt5r0G3ccsHKw/edit?usp=sharing

It's still in an early phase, and there's a lot to add. Anyone can feel free to leave feedback.

[2016-01-26 17:42] wasper1 commented on #674
Hi @seanlip looks interesting i can take it.

[2016-01-26 18:11] bigblind opened #1430 "Refactor the event_services module"
Currently, event_services contains event handlers for all sorts of events. I think the base event handler belongs in there, but other event handlers should go in modules that are more closely related to the domain these handlers are from. For instance, the `AnswerSubmissionEventHandler` should go in exp_services. This would also require changes to the registry, since it depends on the class names

[2016-01-26 20:31] philoniare commented on #1136
Hi @seanlip, here's what I've seen during the audit. As @BenHenning mentioned, my main purpose was to explore the front-end codebase and determine possible during the first phase. I don't have extensive experience with angular, so feel free to correct my misconceptions if you encounter any. Here's what I found:
- There seem to be a few cases with $http.get(..).success(); calls without explicit .er

[2016-01-26 20:59] seanlip commented on #1024
Hi @brunnre8 -- just FYI, we are thinking of doing a release this weekend, which might provide a nice chance to test the script. Have you had a chance to look into this? It's totally fine to start with a partial script (that does only a subset of the steps) and extend it later, too -- we can then test the steps that have already been implemented.

Thanks!

[2016-01-26 21:03] seanlip commented on #674
OK, thanks! I've assigned you.

[2016-01-26 22:27] seanlip commented on #1430
(Also /cc @BenHenning for comment)

@bigblind -- just to clarify: what problem is this solving?

[2016-01-26 22:37] seanlip commented on #1136
Thanks for the update, @philoniare! Some thoughts:

  * There is an interceptor in app.js (search for 'responseError') that might handle errors, but I'm not entirely sure. The way to test this is to raise a backend error in the controller, see what happens in the frontend, and determine whether it is satisfactory or whether it needs to be improved.
  * Can you file an issue for migrating success/e

[2016-01-26 22:51] bigblind commented on #1430
I think it makes code clearer to follow. I'd expect all the logic around a
certain aspect of the domain (explorations, users, feedback, ...), to be in
a module that's specific to that domain. An event handler often contains
quite a bit of logic, and currently, there's logic doing a lot of different
things inside different event handlers inside event_services, but the only
event handler that really

[2016-01-27 03:45] prasanna08 commented on #1380
@seanlip sure

[2016-01-27 04:51] seanlip commented on #1380
OK, thanks! I've assigned you.

[2016-01-27 05:02] AllanYangZhou opened #1431 "RTE components raise invalid customization attribute errors."
This is on OSX Chrome Version 48.0.2564.82 (64-bit).

Steps to reproduce:
1. In the Rich Text Editor, add some text, and then add a component (for example, LaTex).
2. Move the component to a different location in your content by clicking and dragging.
3. Click on the component to edit it.

This produces the following error in the console:
`RTE Error: invalid customization attribute style.`

There

[2016-01-27 05:24] anuzis opened #1432 "rich_text_components/VideoMp4 loads inconsistently. Potential solution."
We're seeing mp4 videos failing to load about 5% of the time in one of our video-heavy explorations. It can happen with any video, and appears to be related to a known issue in Chrome.

The current workaround Oppia attempts to implement is documented here:
https://github.com/oppia/oppia/blob/develop/extensions/rich_text_components/VideoMp4/VideoMp4.js#L29

The workaround Oppia uses is based on a S

[2016-01-27 05:31] seanlip commented on #1432
Hi @anuzis -- the alternative workaround sounds fine to me, and we'd be happy to accept a change along these lines. Should I assign you to the issue? I think you'd probably be in the best position to try this out and test it, since you have access to the video-heavy explorations.

[2016-01-27 05:56] anuzis commented on #1432
Happy to give it a shot. Only thing I'm unsure of is the best place to call the loadVideos() function, which appears to need to be called automatically on page load when an mp4 video is present. It seems odd to include in VideoMp4.js since the common Oppia pattern seems to reserve these files for Angular directives. It also seems odd to hard code in VideoMp4.html.  Checked /core/templates/dev/head

[2016-01-27 06:00] seanlip commented on #1432
I'm not sure that loadVideos() is applicable here. It's for loading multiple videos at a time, whereas here we only load one.

Probably the best thing is, in VideoMp4.js, to get the individual video and load it, add the event listener, etc. -- so, basically, the inner loop of the function you referred to. Then this will run each time a new video-mp4 tag is brought onto the page.

[2016-01-27 20:03] brunnre8 commented on #1024
@seanlip, I started with it, however I don't know if it will be of any use until the weekend, I'll see what I can do.

A few things are unclear to me or there are several options:

1. When switching to the developer branch and the user is in a dirty state, which option do you prefer:
    * Abort the script, let the user worry about cleaning up
    * Continue, stash the changes away and restore the

[2016-01-27 20:54] BenHenning commented on #1024
@brunnre8: To answer your questions:

1. If the user is in a dirty state, I definitely think that the release should be aborted. This shouldn't ever happen per our release procedures, so a hard fail makes sense here.
1. I think exporting a summary file would probably be best here. The largest challenge is sifting through the large amount of information and only exporting that which is useful for u

[2016-01-27 21:37] brunnre8 commented on #1024
@BenHenning thank you for the clarifications.

Collecting the urls for issues isn't hard, but it will be a pretty long list and probably tedious to sip through anyway.

regarding your point 3:
The issue I see is that Github doesn't differentiate between issues and PRs.
Taken from their dev site:

Don't ask me where I read that, but it was rather interesting to me so I memorized that :wink:

The is

[2016-01-27 22:13] seanlip commented on #1024
I think, for a first pass, it's probably reasonable to ignore the concepts of issues/PRs and just compile the list of commit messages (including merges). We can do another pass later to automate the issue/PR cross-linking more, but I definitely don't think it's necessary for v1 -- just knowing what commits have gone in is already pretty useful information for compiling the changelog.

So I suggest

[2016-01-27 22:34] philoniare opened #1434 "Port deprecated use of success & error methods"
As mentioned in #1136, this issue will:
- Migrate the deprecated use of success & error methods to .then statements
https://docs.angularjs.org/api/ng/service/$http

[2016-01-27 22:34] wasper1 commented on #674
@seanlip what should be displayed in drop down - latex formula or rendered latex ?

[2016-01-27 22:35] seanlip commented on #674
Rendered, ideally.

[2016-01-27 22:37] seanlip commented on #1434
One sec -- for (1), make sure the additional per-request error handling is actually necessary before you do it. It may be better to do it in a unified way in app.js (as I think might currently be happening) -- what needs to be done here is really to define what the right experience is for the user, and then we can figure out how to tackle it from a code perspective. So I wouldn't start on implemen

[2016-01-27 23:30] philoniare commented on #1434
Gotcha, I'll check up on app.js and start looking into (2). Thanks for the reminder.

[2016-01-28 04:54] seanlip opened #1435 "Design and implement a caching strategy for the string classifier."
This issue is intended to track the progress of designing and implementing a caching strategy for the string classifier. Currently this is in the design doc phase.

Please see [this doc](https://docs.google.com/document/d/1Pfc71Z8oD0kmHZK_nf21r03jBUvjQuCsZ0dZo8RnvRE/edit#) (thanks to @stephenchiang) for a clearer description of the problem.

[2016-01-28 05:31] seanlip opened #1436 "Determine whether Oppia is thread-safe, and what needs to be done to make it so."
It's possible that making Oppia threadsafe would help to reduce costs, but this needs to be investigated. The following links seem like good starting points:

- http://stackoverflow.com/a/11006155
- http://programmers.stackexchange.com/questions/222814/google-app-engine-overview
- https://cloud.google.com/appengine/docs/python/python25/migrate27?hl=en#threadsafe

In particular, as per the first li

[2016-01-28 06:37] anuzis commented on #1432
Update: the alternative suggested "workaround" that involves setting preload="none" for the HTML5 video tag also results in a slight degradation of user experience by not displaying the video size/preview thumbnail until a user clicks it.  Rather than go down this route in Oppia, I've escalated the bug to Chrome where the root issue appears to reside. Let's see if they can solve it at the root fir

[2016-01-28 07:29] seanlip commented on #1432
Sounds good -- thanks a lot for the update, @anuzis!

[2016-01-28 11:00] sbhowmik89 commented on #1287
Design doc for backend:
https://docs.google.com/document/d/1GNJaR7kAUqdLViMGpn_FS9Ks2oja3mhnQUYfNX1Ldgs/edit#

[2016-01-29 07:00] seanlip commented on #1404
Hi @varenya -- how's this going?

[2016-01-29 07:00] seanlip commented on #1410
Hi @isaac-friedman, how is this going?

[2016-01-29 08:09] seanlip opened #1437 "The gallery search functionality can get 'confused'."
Go to the Oppia main page, and type "Mathematics" in the search bar. Then, with your cursor after the last 's', press 'backspace' to delete it, then type 's', and repeat.

At some point, you'll probably get to a point when you've typed "Mathematic", which should return no results -- but, instead, returns all the results for "Mathematics", as shown below. This is a pretty bad experience, since it a

[2016-01-29 08:16] seanlip opened #1438 "Show contributor icons on the gallery cards."
We'd really like to show contributor avatar pictures on the gallery cards! Thanks to work done by @maitbayev in computing the relative contributions by each contributor, this is now finally possible.

The avatar pictures should appear in order of the number of commits made. More specifically, the most prominent contributor (or the creator of the exploration) should appear by default, but if the pi

[2016-01-29 08:18] seanlip commented on #1438
/cc @kevinlee12

@maitbayev, @kevinlee12 -- this is a fairly important project, since it'd be really nice to make it clear that there are many people behind these explorations. Would either of you be interested in taking it up?

[2016-01-29 08:23] seanlip opened #1439 "Add functionality for 'favoriting' explorations."
It's been suggested several times that we add functionality allowing users to 'favorite' explorations. This both helps users remember explorations which they enjoyed, or want to keep track of, and also signals to other users which explorations are of better quality. Favorited explorations can also be used to help recommend other similar explorations to the user.

The tasks involved in this project

[2016-01-29 08:29] seanlip opened #1440 "Get rid of services/activeInputData.js"
This is a refactoring task.

We have a frontend service in core/templates/dev/head/services/activeInputData.js that is used in a few places. The editor has gone through a lot of churn since the service was introduced, and it's not actually clear what this service does and whether it's still needed. It looks like this was originally meant to be a general-purpose service, but currently it only seems

[2016-01-29 08:33] seanlip commented on #1435
To put it (mostly) in @BenHenning's words, the design doc would include information about:

  * A 'caching' strategy for optimally updating models based on training data, rather than recomputing the models during classification
  * Generalizing the statistical classification during answer classification so other learning models can be easily added

[2016-01-29 08:38] seanlip opened #1441 "Make it possible to run continuous computations incrementally."
Currently, our continuous computations process all historical data each time they run, even if it's data they've processed in a previous run. This is generally unnecessary, and there really ought to be a way for them to process only data that has been added since the last iteration. (There should still be a fallback mode to run over all the data in case some kind of corruption happens midway, thou

[2016-01-29 08:44] seanlip opened #1442 "Create a general framework for custom visualizations of answers for different types of interactions."
This builds on work @marcel-sl did last year.

@BenHenning is currently working on this in PRs #1171 and #1205. Filing an issue for it anyway, since we generally track our milestones using issues rather than PRs.

[2016-01-29 08:49] seanlip opened #1443 "Redesign ComputedProperty (or get rid of it) in order to speed up the request processing time."
If you go to /_ah/stats, and trace the path of pretty much any call to the Oppia server, one of the things that happens is that config_domain generates a list of admin_ids and moderator_ids from the admin/moderator email config properties, and does this same computation on every single request.

This is stunningly inefficient. Instead, what should happen is that the list of admin_ids and moderator

[2016-01-29 16:48] maitbayev commented on #1438
Hi @seanlip

I am interested in taking it, but I am a little bit afraid of it, because never worked with front-end (html, css), except reading front-end code base of the Oppia and fixing some bugs, literally it is all of my experience. May I try this in this weekends?

[2016-01-29 17:52] isaac-friedman commented on #1410
At Ben's recommendation I worked my way through a selenium and a protractor
tutorial before starting instead of learning as I went. I'm now working on
the demo exploration.

On Fri, Jan 29, 2016 at 2:00 AM, Sean Lip <notifications@github.com> wrote:

[2016-01-29 19:10] sfederwisch commented on #492
As of right now it looks like the only warning on a newly created exploration (assuming you fill out the full dialog at the beginning) is "Please add an interaction to the First card".

It is also quite easy to not put a goal/objective in the dialog, as it isn't required, but you get a warning if you don't.

[2016-01-29 19:25] sfederwisch commented on #492
Both these warnings are kinda bad for first time users for other reasons (each of which may be their own issues, but worth mentioning):
* Please add an interaction: Before you add content, there is no way to add an interaction. So you have a warning you can't resolve
* Add an objective: This is a terminology shift. The dialog asks for a "goal". If you don't fill it in, it says you are missing an "

[2016-01-29 20:13] sfederwisch commented on #1437
So I've seen something like this before with search results coming back in the wrong order. It happens something like this:
* Slow query starts
* Fast query starts
* Fast query returns
* Slow query returns

So the search bar ends up with the search parameters listed for the fast query ("Mathematic") and the search results for the slow query ("Mathematics").

So the basic strategy here is to not le

[2016-01-29 20:43] sfederwisch commented on #1437
![screenshot 2016-01-29 at 12 38 08 pm - display 1](https://cloud.githubusercontent.com/assets/13838973/12687522/47b09990-c685-11e5-8f49-b90aeb3ef0a5.png)

Using developer tools it does look like the timing issue is the actual problem here. You can see that this is a situation where all the you see "Mathematic" in the search bar, but there are search results. If you look in the Chrome developer to

[2016-01-29 22:02] sfederwisch commented on #1437
So what would need to be done here is to compare the query that the search results were returned for to the current query. If they don't match, don't let the search results refresh.

I'm guessing the ultimate function that we need to get it back to is this one:
 core/templates/dev/head/galleries/Gallery.js refreshGalleryData()
and we would need to gate setting allExplorationsInOrder based on that.

[2016-01-29 22:19] sfederwisch commented on #318
This check is in extensions/rich_text_components/Link/Link.js
There is also a description of this restriction in extensions/rich_text_components/Link/Link.py which should also be changed.

[2016-01-29 23:47] seanlip commented on #1410
Ah, ok, that sounds great. Thanks for the update!

[2016-01-29 23:52] seanlip commented on #1438
Yep, that sounds fine! I think you'll have to modify the tile definition in core/domain/summary_services.py and then use that information in the frontend to show the contributors dropdown in the exploration_summary_tile.html directive. Let us know if you run into any issues!

[2016-01-29 23:55] sfederwisch commented on #1236
There doesn't seem to be a clear conclusion on how to handle this, but this looks like regular expressions either way it comes down.

We can either ask people to give the full YouTube URL and parse out the video id, or use a regular expression that just looks for 11 alphanumeric characters. Or we could ask for the id and notice if they give us a URL and make it work anyway.

One thing to keep in m

[2016-01-30 00:01] seanlip commented on #1236
OK, I'm going to say, let's store the id (as we're doing now) but allow people to enter URLs (and we convert the URL into an id before storing). Implementers should bear in mind the suggestions by @sfederwisch above (regarding pulling stuff off the end).

Changing status to 'TODO: code'.

[2016-01-30 00:14] seanlip opened #1444 "Allow rich-text components and interactions to have custom editor UIs."
Currently, the editor UI for a rich-text component/interaction is schema-based. In the python file specifying the component/interaction, you specify the schema for the editor UI, and that is used to generate the fields that are displayed.

This is nice, but it has its limitations -- you end up having to define new objects for the fields, like a 'sanitized URL' for the 'Link' RTE component, and it

[2016-01-30 00:27] sfederwisch commented on #814
So the code involved in this is in core/templates/dev/head/editor/EditorServices.js updateWarningsList(), specifically the finding of the "deadEndStates"

So if you look at the deadEndStates as part of the larger graph, it would end up being some number of disconnected subgraphs. The goal is to identify the leaves of these subgraphs and only place warnings on those. To state it another way, if you

[2016-01-30 14:35] prasanna08 commented on #1380
Ok @seanlip
Let me give you some updates,

1. Ok so I added the code to autoplay so video will be autoplayed when in learner context. This is simply done using functions available in `explorationContextServices.js`
2. Now to remember which video is already autoplayed and which one is not, I used a dictionary type object in `explorationContextServices.js` and couple of methods in same file to check

[2016-01-30 22:13] seanlip commented on #918
Done in #1446. Thanks @charisseysabel!

[2016-01-30 22:13] #918 closed

[2016-01-30 23:08] seanlip commented on #1380
Thanks for the update, @prasanna08!

IMO, the approach you suggested in (2) could work, but I would suggest generating a random id corresponding to the component, since it's possible that the same video ('same' meaning 'has the same youtube id') could be used more than once in an exploration.

(3) is tricky, that's true. Here's what I suggest: why don't you submit a PR for (1) and (2) first, and t

[2016-01-30 23:46] maitbayev commented on #1438
Hi @seanlip,
If the profile hovered over, top 5 users will be shown. But when they will be hided?

[2016-01-30 23:56] seanlip commented on #1438
When the mouse moves out from the vertical strip containing those users.

[2016-01-31 00:07] brunnre8 commented on #1024
Hi guys, probably way to late to be of any use for this release, but could you please have a look at it  and see if it does approximately what you wanted?
The PR is here #1447

Greetings,
Reto

[2016-01-31 05:46] AllanYangZhou opened #1448 "Separate field in commit log for suggestion authors"
Currently, there is not an actual field in the commit log to record who the author of an accepted suggestion was. Adding a field would make it easier to keep track of such contributions.

[2016-01-31 05:50] AllanYangZhou opened #1449 "URLs for individual messages in feedback"
Currently, when someone involved in a feedback thread receives a reply and clicks on the thread, they are captured by the tutorial first. Even after dismissing the tutorial, future clicks on the thread take them to the feedback tab, not to the message they want to see.

We want to add urls for individual messages to avoid this problem.

[2016-01-31 07:46] seanlip opened #1450 "Create an e2e test for suggestions functionality"
We should have a Protractor end-to-end test that checks the "happy path" for the suggestions workflow (i.e., log in as a student, make a suggestion, log out, log in as an editor, go to the creator interface, accept the suggestion, check that the suggestion shows in the editor and the preview, log out, log in as another student, play the exploration, notice that the suggestion has been applied, log

[2016-01-31 07:47] seanlip commented on #1304
Fixed in #1307; e2e test issue filed as #1450.

[2016-01-31 07:47] #1304 closed

[2016-01-31 07:47] seanlip commented on #1291
Done in #1307 (thanks @AllanYangZhou!)

[2016-01-31 07:47] #1291 closed

[2016-01-31 08:32] #1129 closed

[2016-01-31 18:43] wxyxinyu commented on #1450
/cc @oppia/frontend-protractor-tests

[2016-01-31 18:44] wxyxinyu commented on #1449
/cc @oppia/frontend-exploration-editor-other

[2016-01-31 19:27] won0089 commented on #1088
Hi Sean,

I've actually been super busy with wedding preparations. Sorry for late
reply. Can someone else take this? I think I'll be pumpkins for a little
while. Thanks!

On Tue, Jan 26, 2016 at 2:35 AM, Sean Lip <notifications@github.com> wrote:

[2016-01-31 23:04] wxyxinyu commented on #1437
@anthkris Would you like to take this one on?

[2016-01-31 23:31] anthkris commented on #1437
Absolutely! Thanks.

[2016-01-31 23:38] seanlip commented on #1411
@arun1595 -- how is this going?

[2016-02-01 00:45] seanlip commented on #1088
OK, thanks for letting me know! I'll deassign you.

(Also, congratulations! I hope the wedding goes well :) )

[2016-02-01 01:52] AllanYangZhou commented on #1448
Note: addressed by alternate solution in e91fdd1 -- enforcing a commit message prefix that includes the suggestion author's username.

[2016-02-01 01:52] #1448 closed

[2016-02-01 06:00] wxyxinyu opened #1454 "Pre-push hook breaks with 'git push --tags'"
To reproduce:
Create a new tag and run `git push --tags`
The pre-push hook rejects the push with a 'The following file(s) do not exist: [every file in the codebase]'

[2016-02-01 06:01] brunnre8 commented on #1454
I'll have a look as soon as I can

[2016-02-01 06:11] wxyxinyu commented on #1454
Actually, can you see if you can reproduce this? I just tried it again and it didn't produce an error. Which is strange.

[2016-02-01 06:22] brunnre8 commented on #1454
reproducible as stated (and should be an easy fix)

[2016-02-01 06:23] brunnre8 commented on #1454
Do you use annotated or lightweight tags?

[2016-02-01 06:30] wxyxinyu commented on #1454
We use annotated tags.

[2016-02-01 06:32] brunnre8 commented on #1454
Are there any other fancy push flags that you tend to use which I've never heard of before? :wink:

Seriously though, are there any other common flags?

[2016-02-01 06:35] wxyxinyu commented on #1454
I don't think so...
:)

[2016-02-01 06:47] seanlip commented on #1024
This is fixed, and was used for the v2.1.3 code release (which just happened).

Also, the script ended up being really useful. Thanks very much, @brunnre8!

[2016-02-01 06:47] #1024 closed

[2016-02-01 07:52] seanlip commented on #814
This is actually now obsolete, because the list of states is no longer shown as a warning in the navbar; instead, post-its are placed on the individual cards. Thus, closing.

[2016-02-01 07:52] #814 closed

[2016-02-01 08:13] seanlip opened #1456 "Create gallery cards for the collections functionality."
We need a way to display collections alongside explorations in the gallery and in search results. The following mock shows how to do this:

![collection-card](https://cloud.githubusercontent.com/assets/10575562/12711865/29be0a54-c878-11e5-8c3b-2eace5dbfea5.png)

The aim of this issue is to create a collection-summary-tile directive that behaves similarly to the exploration-summary-tile directive,

[2016-02-01 08:13] seanlip commented on #1456
/cc @BenHenning @amgowano

[2016-02-01 15:51] prasanna08 commented on #1380
Sorry for late responses, I am busy with college stuff now days.
Well about generating radom ids, wouldn't it will have to store all those separately somewhere ?
Is there a way to know what all items are going in exploration beforehand ?
It will require to generate random ids beforehand.
Both video.js and explorationContextService.js will need random ids for proper identification of autoplayed or

[2016-02-02 01:11] #1454 closed

[2016-02-02 07:51] seanlip commented on #1380
Oh, sorry -- for (2), I still intended using a dictionary type object as you did; the point was to use random ids instead of youtube ids to store in that dictionary. It is possible to know what items are going into an exploration at the outset (you can just analyze the exploration blob when it's first returned from the server), but if a student takes a path that loops back to an earlier state you'

[2016-02-02 08:10] prasanna08 commented on #1380
No I did not mean that about (3). What I am trying to say is, whatever video is there, going to be displayed on next card either same or different. That video gets loaded on hidden content thus Video.js file will also run and that video will be added to list as if it was autoplayed.

About (2) i have some idea. I will let you know if it works.

[2016-02-02 09:57] seanlip commented on #1380
Oh, I think I see. Yep, then in that case, maybe the component shouldn't do anything at all with the video (including not adding it to the global do-not-autoplay dict) if it's off-screen?

[2016-02-02 11:14] philoniare commented on #1440
can I work on this?

[2016-02-02 14:21] maitbayev opened #1458 "Python Linter doesn't catch a line more than 80 characters"
We use Google's python guide style, where [maximum line length](https://google.github.io/styleguide/pyguide.html#Line_length) is 80 characters.

[2016-02-02 17:36] wxyxinyu commented on #1458
/cc @oppia/backend-development-workflow We probably just need to add a line into the .pylintrc

[2016-02-02 17:37] maitbayev commented on #1458
I will take it :)

[2016-02-02 17:42] wxyxinyu commented on #1440
Sure, I've assigned you. Thanks! It may be a good idea to discuss how you're going to remove the activeInputData.js file before actually implementing.

[2016-02-03 01:03] seanlip commented on #1310
Bumping this to 'important', since we now have a large number of gallery svg images and each load of the gallery is making quite a lot of requests.

[2016-02-03 08:49] brunnre8 commented on #1458
after you do that, please check all the files already in the project to see which ones violate that issue

[2016-02-03 08:55] seanlip commented on #995
Hi again @bbriggs, @MAKOSCAFEE -- do you have any news/updates on this? It ended up being, by far, the most time-consuming problem we had when @wxyxinyu and I did the latest release -- we found that the e2e tests were broken in develop, and spent quite a lot of time fixing them, running them again, fixing them some more, etc.

Also, /cc @brunnre8 on this, in case he has any ideas.

Thanks!

[2016-02-03 08:59] seanlip commented on #1416
Hi @bigblind -- just checking, would you like to take a stab at implementing this?

[2016-02-03 09:30] seanlip commented on #1088
Some implementation suggestions:
- Rather than special-casing the Continue interaction in the core code, it's probably better to use the `is_linear` interaction property, which is true only for the Continue button and false otherwise. See the .py files in extensions/interactions for details (and also see extensions/interactions/base.py for definitions of the interaction properties).
- You'll proba

[2016-02-03 14:38] #1421 closed

[2016-02-03 19:48] BenHenning opened #1461 "If a user completes an exploration referenced within a collection outside the context of that collection, they should not have to replay it"
Currently, explorations may be completed within the context of a collection or globally. The following storage model stores all explorations completed within the context of a collection for a given user:

https://github.com/oppia/oppia/blob/db43cf648914e8377622605df6b0833215d12a5d/core/storage/user/gae_models.py#L189

However, we have no explicit storage for explorations completed outside of a col

[2016-02-03 20:27] BenHenning opened #1462 "Minor fix-ups to the collection editor to prepare it for production"
The following items need to be addressed before the collection editor will be ready for public use:

- Proper error handling if the collection cannot be loaded.
- Implement validation errors which are checked in the backend inside of ``core.domain.collection_domain.Collection.validate()``. The specific validation errors mentioned here:
  - [x] At least one exploration should be accessible to the p

[2016-02-03 20:29] BenHenning opened #1463 "Allow easy adding of explorations in the collection editor"
This issue needs to be solved in two ways in order to satisfy different workflows of the collection editor.

1. A user needs to be able to easily add an existing exploration to the collection. It's not clear exactly how this should work, though an auto-complete list based on titles is a good start. This should be discussed more before implementing.
2. A new exploration needs to be easy to add. The

[2016-02-03 22:38] MAKOSCAFEE commented on #995
Hi @seanlip  and @wxyxinyu . I tried  making it work in travis. First i connected travis with sourcelabs, so so far we can run sourcelabs instances, Then i installed chrome  and firefox(latest) which cause chrome not to start and crash here #1222. One thing that i can  not get around it is that the e2e tests start running  before server has started yet. I tried wait/sleep bash script function in v

[2016-02-03 22:41] MAKOSCAFEE commented on #995
actually look here [directly](https://travis-ci.org/MAKOSCAFEE/oppia/jobs/106786761#L4704)

[2016-02-03 22:54] seanlip commented on #995
Would something like this (in the bash script) work?

    http://unix.stackexchange.com/questions/5277/how-do-i-tell-a-script-to-wait-for-a-process-to-start-accepting-requests-on-a-po

[2016-02-03 22:55] seanlip commented on #995
Another one: http://stackoverflow.com/questions/11904772/how-to-create-a-loop-in-bash-that-is-waiting-for-a-webserver-to-respond

[2016-02-03 22:58] MAKOSCAFEE commented on #995
I tried the second one and did work in my machine and did not give any output in travis. I will give the first  option methods  a try.

[2016-02-03 23:02] seanlip commented on #995
Actually, I see a port 4445 bind error around line 4700 of the Travis logs you pointed to. On Travis, is something else already listening on that port? Is there a way to find out? Maybe "ps aux | grep 4700"?

[2016-02-03 23:03] seanlip commented on #995
(I think that's probably more promising than trying the first method, because otherwise we don't really know what's causing the second method to fail.)

[2016-02-04 00:52] BenHenning opened #1464 "Implement the first major design iteration of the collection editor"
The style of the editor looks very stark, and does not match the style used by the exploration editor. In order to fix this, the collection editor should be setup to better match the exploration editor in workflow and design as a baseline. A final, first iteration needs to be designed and implemented as part of this issue.

This issue should also address some concerns @jacobdavis11 brought up to h

[2016-02-04 06:38] seanlip commented on #1461
@BenHenning -- please see https://github.com/oppia/oppia/wiki/Instructions-for-Maintainers#when-a-new-issue-is-filed for instructions on assigning labels. Thanks!

[2016-02-04 06:40] seanlip commented on #1461
Also, can we do this using in-request updates instead (and a possible one-off migration job)? I think this would be cheaper and reduce unnecessary computation.

[2016-02-04 16:14] prasanna08 commented on #1380
OK @seanlip
I have fiex issue (3) that is video should not autoplay if it is loaded on hidden card. The code is surely 5-6 lines but it took me hours to figure it out. My lack of skill angularjs can be clearly seen.

Now for issue (2) I am really having trouble here. Let me try to clarify my point:
Suppose if we generate a random id for video in Video.js file. Then issue here is that this file wil

[2016-02-04 20:24] seanlip commented on #1380
Hi @prasanna08,

No worries! Sometimes a lot of effort goes into figuring out the right lines of code to write.

There's a story about a guy who takes his car to the mechanic. The mechanic looks at it, opens a panel, and gives it a tap, which fixes the problem. The mechanic says: that will be $500. The customer says: really? $500 for a little tap? And the mechanic says: yes -- $1 for the tap, and

[2016-02-05 00:44] seanlip commented on #1380
Also, /cc @AllanYangZhou (since this falls under the domain of the rich-text editor).

[2016-02-05 00:45] #1458 closed

[2016-02-05 02:37] anthkris commented on #1437
I've been experimenting in my local clone and what I came up with is to compare the queryUrl with the url returned by the xhr request. The problem is that I haven't been able to replicate the issue on my local copy. Can anyone suggest a way to force this issue for testing?

[2016-02-05 03:00] seanlip commented on #1437
Hm -- I just tried, and I had difficulty reproducing it locally, too. So I added this code on line 113 of core.controllers.galleries.GalleryHandler in order to introduce a pause of random length in the server:

[code]

and then loaded all the demo explorations (log in as an admin, go to /admin, click 'reload all explorations') and then went back to the gallery and typed "Mathematics", then pressed

[2016-02-05 03:51] anthkris commented on #1437
Thanks! This worked. Back to the drawing board.

[2016-02-05 10:16] prasanna08 commented on #1380
Hey @seanlip , @AllanYangZhou

@seanlip, Thank you for the encouragement. It really helped me.

I tried a new approach today to solve out problem related to same video is added multiple times. Solution is something like this, every time a video is being displayed and autoplayed on the screen an attribute namely 'isalreadyplayed' is being set to yes in parent div of current video. Now next time sam

[2016-02-05 18:19] sfederwisch commented on #383
![screenshot 2016-02-05 at 9 25 58 am](https://cloud.githubusercontent.com/assets/13838973/12853754/a8b7a6a6-cbea-11e5-9b4f-24f33f531d85.png)

I'm guessing the issue here is between the "is equal to" dropdown and the "Sample multiple choice answer" dropdown.

core/templates/dev/head/components/rule_editor_directive.html line about ruleDescriptionChoices
vs
Most of the style for the rule selector i

[2016-02-05 18:55] sfederwisch commented on #921
I think the best approach here is to add this to the URL so right now you have something like
`oppia.org/create/<exp_id>/preview`
And the idea would be to have something like
`oppia.org/create/<exp_id>/preview/state_id`

So the high-level work breakdown would be:
* Make the URL work to load a particular state in the preview mode
* Add some kind of a new button (or rework the current button) to mak

[2016-02-05 21:01] sfederwisch commented on #620
It looks like this is possibly fixed?

This graph is not particularly wide at the very top, but if you look at the way that the top of these graphs are aligned, it doesn't look like this is going to be an issue anymore.

![screenshot 2016-02-05 at 12 59 07 pm](https://cloud.githubusercontent.com/assets/13838973/12859019/612d214e-cc08-11e5-9efc-6ee7c86a09b4.png)

[2016-02-05 21:21] sfederwisch commented on #1422
It looks like all the code here is in `core/controllers/editor.py get()`

I believe this is already turned on/off by a flag SHOW_TRAINABLE_UNRESOLVED_ANSWERS and there could easily be an addition to this if statement that checks whether or not there are "enough answers" (>5) to turn this functionality on as well.

It looks like that might just be the new model, not sure if there is more that would

[2016-02-06 00:38] anthkris commented on #1437
So, I've implemented a solution that checks to see if the search box value matches the current search query before executing the refreshGalleryData; otherwise I'm logging the mismatched searchQuery and input value (but I can remove the else statement). I've tested it and it works. Does that strike anyone as being a clunky solution?

[2016-02-06 20:14] BenHenning commented on #1430
Hi @bigblind. If I understand correctly, the issue you're trying to solve is making the event handlers more discoverable based on they're used. I think that's a good thought, I'm just not sure on the approach, yet. Firstly, the services modules tend to be more of collections of utility functions. There are a few exceptions where some services files have a class in them, but generally they don't. T