[2020-02-19 13:19] rohitkatlaa commented on #5436
@seanlip Cursor allows you to fetch items in batches but there is no use of it if I am going to fetch everything to return the random results so I feel that Cursor is of no use in this case. So what I would recommend is to remove it everywhere to avoid extra parameters being passed every time.

[2020-02-19 16:33] tyleri commented on #8472
Done.

[2020-02-19 18:43] kevintab95 opened #8684 "Cannot read property 'nativeWindow' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-02-19 19:03] dushyant19 commented on #8456
Can i work on this

[2020-02-19 19:09] kevintab95 commented on #8456
Hi @dushyant19, looks like this issue is claimed by @abhayraghuwanshi. Please feel free to have a look at the issue tracker to find issues that might interest you. Also, please make sure to follow all the instructions on [this page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) before starting work on any issue. Thanks!

[2020-02-20 00:33] seanlip commented on #5436
OK, cool. Now, let's think a bit more about the "fetch everything" bit. Suppose you have 10000 questions, so that fetching everything is really expensive; this is going to end up being a typical scenario. Can you figure out a design in which you can get randomized questions without needing to fetch everything?

(Btw, note that this issue might be more difficult than it first appears -- it does req

[2020-02-20 03:30] U8NWXD commented on #8601
@safwan20 sure! I've assigned you

[2020-02-20 03:49] abhayraghuwanshi commented on #8038
@bansalnitish can you assign changelog to #8685

[2020-02-20 05:03] iamprayush opened #8687 "Missing fraction input validator."
**Describe the bug**
As discussed in #8671, we need to add a validator for when the Fraction Input interaction is being created. This validator should disallow numbers with more than 7 digits in the fraction.
#8671 adds validator for the learner's input. We need a validator for creator's input as well.

**Additional context**
An audit job to alter any existing exploration with such inputs would al

[2020-02-20 07:41] U8NWXD commented on #6271
@Vinit-Dantkale I've assigned you!

[2020-02-20 13:14] safwan20 commented on #8601
@U8NWXD may I know how you want the user to know that changes can be done from the top box.
1. by adding a label
2.highlight the changed content.

[2020-02-20 13:20] #8603 closed, assigned to Showtim3

[2020-02-20 15:08] nishantwrp commented on #8472
@bansalnitish Look like currently classroom-creation-backend-service can't be migrated.

Got this error
`Trying to get the Angular injector before bootstrapping the corresponding Angular module.`
Like in #8314

[2020-02-20 18:12] rohitkatlaa commented on #5436
@seanlip I am sorry I wasn't clear, by fetching everything I meant fetching the data related to skill ids which I believe 10 questions per skill and at max 10 skill so 100 questions in total. Am I correct in assuming these assumptions?
Another way is to only fetch the keys of the questions related to the skill ids and randomly select a few keys and then fetch the questions related to the keys by u

[2020-02-20 18:22] aks681 commented on #5436
Actually, those assumptions aren't entirely right. It is true we only fetch 10 at a time, but there could be, let's say, 1000 questions linked to one skill (there is **no** limit on the number of questions linked to a skill). How would you fetch just 10 from the datastore? (and randomize them at the same time)

We do only fetch the keys even now (I think, since the fetch request is on QuestionSkil

[2020-02-20 18:49] U8NWXD commented on #8601
@safwan20 I was envisioning a label describing what the top box is for. I don't see how highlighting changes would work here, but I'm open to suggestions if you think that would work better

[2020-02-20 19:20] kevintab95 opened #8689 "Object doesn't support property or method 'Contains'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2020-02-20 19:26] ashwinpn commented on #8015
I would like to work on : core/templates/dev/head/domain/summary/exploration-summary-backend-api.service.ts

Could someone assign it to me?

[2020-02-21 03:32] #8602 closed, assigned to nishantwrp

[2020-02-21 06:09] hmtj99 commented on #8015
Sorry I got a little sick for a while and was not able to work on it. I'll
get back to it as soon as possible and report the fix by tuesday.

On Tue, Feb 18, 2020 at 4:25 PM Nitish Bansal <notifications@github.com>
wrote:

[2020-02-21 08:56] felicityzhao99 commented on #8668
Heyy @bansalnitish  Can I take "user-email-preferences.service.ts" and "training-data.services.ts"? Hopefully, it will help me better understand the code and then make more contributions to other topics:)

[2020-02-21 09:09] Showtim3 commented on #8668
Hey @felicityzhao99 , I have assigned you both.

[2020-02-21 09:15] felicityzhao99 commented on #8668
Cool thanks:)

[2020-02-21 09:28] rohitkatlaa commented on #5436
@seanlip @aks681 Another way of solving the problem is to fetch the min createdAt date and then find a random date between min date and now and fetch the questions which is created after this particular date.
This in total requires 2 fetches (1 for min date and another for fetching the questions). This will result in a random continuous set of questions

[2020-02-21 13:54] safwan20 commented on #8601
@U8NWXD how's this?
![pull](https://user-images.githubusercontent.com/45730556/75039959-c6532780-54df-11ea-9d78-1760de2cfc7b.png)

[2020-02-21 14:59] vojtechjelinek commented on #5676
@sin-ha How is the work on this going?

[2020-02-21 15:23] RafayGhafoor opened #8692 "Invalid Syntax upon execution of scripts.start"
**Describe the bug**
Invalid syntax on python 2.7 version.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensho

[2020-02-21 18:19] DubeySandeep opened #8694 "A weird "Loading ..." message UI at the outset of exploration player page."
**Describe the bug**
A weird "Loading ..." message UI on the outset of the exploration player page.

**To Reproduce**
Steps to reproduce the behavior:
 1 Create and publish an exploration.
2. Go to the player page and check the UI at the outset of the page.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2020-02-21 23-45-50](https://user-images.githu

[2020-02-21 20:14] anirudhsingh20 commented on #8472
Hi, I am Anirudh looking forward for gsoc'2020 and want to contribute to Oppia any suggestions for me

[2020-02-21 20:59] Showtim3 commented on #8128
@kevinlee12 The lint tests were timing out after adding this...

[2020-02-21 23:24] #8694 closed, assigned to DubeySandeep

[2020-02-22 03:23] kevinlee12 commented on #8128
I think that issue might have been resolved, if you'd like, feel free to try again.

[2020-02-22 05:40] srijanreddy98 commented on #8472
@tyleri may I pickup contribution-opportunities-backend-api.service.ts?

[2020-02-22 06:19] tyleri commented on #8472
@srijanreddy98 Assigned you to it!

[2020-02-22 07:40] iamprayush commented on #6349
Hey @Vinit-Dantkale, how's work on this going?

[2020-02-22 17:19] marianadasilvadev commented on #8650
I'll take a look @vojtechjelinek, thanks!

[2020-02-22 18:05] #8157 closed, assigned to iamprayush

[2020-02-22 18:30] #7847 closed, assigned to aks681, rohitkatlaa

[2020-02-22 18:31] #8578 closed, assigned to rohitkatlaa

[2020-02-22 19:11] aks681 commented on #5670
The new mocks for the dashboard pages mention a way to implement this [here](https://xd.adobe.com/view/a496f74b-80d1-4d8f-78b5-773b61ea1479-d2a7/screen/5de487b0-3944-4ee8-a1d6-1ee7b7b57457/Topic-and-Skills-Dashboard-Skills-Tab-)

Edit: Added the correct link

[2020-02-22 19:18] aks681 commented on #3795
@seanlip Is this issue still relevant? Since this issue is not existent in new structures, as by the time the learner reaches the story viewer page, they would know what the topic is about and the story description. So, should we do this change now for collections as they would be phased out anyway...

[2020-02-22 19:23] aks681 commented on #7619
@donosco98 Once an admin creates a skill, basically all topic managers and admins should be able to edit that skill, which I don't think is present currently. Can you check?

[2020-02-22 19:29] aks681 commented on #6956
Yeah, I believe the error was when we were fetching for all questions related to any of 3 skills at a time, which was used in the skills list view in topic editor, if the topic had more than 3 skills (and so errored), but now that we shifted to showing dropdown and showing just questions linked to one skill at a time, that error isn't there in frontend.
@vinitamurthi Is the issue still present in

[2020-02-22 19:38] aks681 commented on #7433
Closing this, since one of the checkboxes in #5893 mentions this.

[2020-02-22 19:38] #7433 closed, assigned to nobody

[2020-02-22 19:41] aks681 commented on #3405
Moving this to Community contribution, since it is related to the audio/translation framework.

[2020-02-22 20:10] aks681 commented on #3309
Closing this since #6492 addresses the same issue.

[2020-02-22 20:10] #3309 closed

[2020-02-22 20:24] donosco99 commented on #7619
@aks681, I checked that the topic managers can access the skill editor through the question editor. Have a look at the video below
![skill-editor](https://user-images.githubusercontent.com/31371571/75098682-401e0a80-55df-11ea-800e-d1dc6696f702.gif)

Is this behavior expected?

[2020-02-22 20:26] aks681 commented on #7619
Oh, yeah, that is the expected behaviour. Closing the issue then, thanks for checking!

[2020-02-22 20:26] #7619 closed, assigned to nobody

[2020-02-22 21:29] nishantwrp commented on #8472
@bansalnitish In classroom-creation-backend-service the `Trying to get the Angular injector before bootstrapping the corresponding Angular module.` error is appearing in the console of the browser. I checked the module is using service-bootstrap. Any ideas?

[2020-02-23 00:29] aureliesami20 commented on #8423
Hey there. I am a newcomer and would like to contribute to this project.

[2020-02-23 00:48] kevinlee12 commented on #8423
@aureliesami20 sure, take a look at https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia to get started. Also, which linter would you like to implement?

[2020-02-23 04:00] seanlip commented on #8128
Generally dicts should be spaced like this anyway:

[code]

i.e. with each key/value pair on separate lines. Does that help resolve your concern, @Showtim3?

[2020-02-23 04:03] seanlip commented on #5670
Hi @aks681, I think you linked to a general index page showing a table-of-contents for all the mocks. Could you please link to one or more specific mocks instead?

[2020-02-23 04:17] ssd71 commented on #8423
Hello! I would like to take on "Enforce multiples of 4 indentation in docstring"

[2020-02-23 04:30] aks681 commented on #5670
Oh, sorry, edited the comment!

[2020-02-23 04:33] seanlip commented on #3795
I agree that we no longer need this. Thanks for flagging!

[2020-02-23 04:33] #3795 closed, assigned to nobody

[2020-02-23 06:20] vinitamurthi commented on #6956
Based on a search of MAX_SKILLS_PER_QUESTION, we should be throwing an error in QuestionCreationHandler if the number of skill_ids for the question is greater than MAX_SKILLS_PER_QUESTION (https://github.com/oppia/oppia/blob/b05f4865858eb8bee565229b793b6334bdc2d7b8/core/controllers/question_editor.py#L44)
If we have changed the way we link skills to a question, we need to add that verification in

[2020-02-23 06:32] DubeySandeep commented on #8512
@hedonhermdev, Any update on this issue?

[2020-02-23 06:36] U8NWXD commented on #8601
@safwan20 I think the message could be clearer. Maybe something like `Leave your suggestion by changing the content below` as I believe the box is initially populated with the current text?

[2020-02-23 06:45] aureliesami20 commented on #8423
Thanks @kevinlee12, I will thoroughly read the document.

I can start with ```Detect variables that are declared but never used.```, but first I have a proposition.
While investigating on linters for this project, I came across [coala](https://coala.io) which is a very nice tool that helps to write a single configuration file all our linters (a bunch of linters are supported). Basically a single c

[2020-02-23 07:01] safwan20 commented on #8601
@U8NWXD sure I will change it.

[2020-02-23 07:15] safwan20 commented on #8601
@U8NWXD tell me if you want to change anything.

![klklkl](https://user-images.githubusercontent.com/45730556/75105513-3ecdfb80-563a-11ea-8adf-3b4f56932c71.png)

[2020-02-23 07:21] brianrodri commented on #8423
Hi @aureliesami20! Introducing a new tool will need research and a detailed design doc before we can consider using it, so I'd suggest implementing the check first to get a feel for how Oppia's codebase handles linting right now before trying to add any new tools.

[2020-02-23 09:43] amanbora commented on #8565
Hi, I would like to work on this issue, I'm new to Oppia so i might need some guidance. I'm an aspirant  for Gsoc 2020

[2020-02-23 10:23] kevintab95 opened #8702 "noninteractive image RTE with empty filepath being saved"
Reproduction steps:
1. Create an exploration.
2. In the content field, add some text and select image RTE.
3. Cancel the "Customize This Component" modal.
4. Inspect element to find the oppia-noninteractive-image RTE element still present in the DOM.

[2020-02-23 10:25] kevintab95 commented on #8702
This seems to be the case for RTE elements such as collapsible blocks, tabs and video as well.

[2020-02-23 11:14] #5690 closed, assigned to donosco99

[2020-02-23 12:00] iamprayush commented on #8593
Hey @U8NWXD!
I tried replicating the issue and it does show a warning sign. Could you please check again? Thanks!

![Screenshot from 2020-02-23 17-28-58](https://user-images.githubusercontent.com/35144226/75111617-1f4ac900-5662-11ea-88c1-060f61c41571.png)

[2020-02-23 12:05] iamprayush commented on #3989
Closing. Please reopen if needed, thanks!

[2020-02-23 12:05] #3989 closed, assigned to nobody

[2020-02-23 12:09] Arnesh07 commented on #4615
@seanlip What's the status of this? I would like to work on this issue. Just need a little more insight into it.

[2020-02-23 12:17] iamprayush commented on #1495
Closing as it is not reproducible. Please reopen if the issue recurs. Thanks!

[2020-02-23 12:17] #1495 closed

[2020-02-23 12:35] iamprayush commented on #2530
The browser title is updating with any changes to the exploration title, as of now.
Closing. Please reopen if the issue recurs, thanks!

[2020-02-23 12:35] #2530 closed

[2020-02-23 12:46] iamprayush commented on #2741
Hey @kevintab95. This seems to have been implemented, should this be closed?

[2020-02-23 12:50] iamprayush commented on #2825
This seems to be fixed. Closing.

[2020-02-23 12:50] #2825 closed

[2020-02-23 12:59] donosco99 opened #8704 "Add acceptance tests for question editor modal which was recently added in the PR #8538"
Add e2e tests for question editor modal which was recently added in the PR #8538 .
An existing test could also be modified to check the new question editor flow.

[2020-02-23 13:03] iamprayush commented on #6583
Hey @import-keshav! Any updates?

[2020-02-23 13:09] iamprayush commented on #8239
Hey @rohitkatlaa! Is this fixed by #8654? If so, please close this issue. Thanks!

[2020-02-23 13:23] iamprayush commented on #8565
Hey @amanbora! I'm assigning this to you. Please make sure that you've signed the CLA as per instructions on [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) page before starting work on this.
Also, please make sure to read through and follow the instructions on [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) page so

[2020-02-23 13:36] iamprayush opened #8705 "Add a feature to support translations for customizable elements."
**Is your feature request related to a problem? Please describe.**

Currently, there are two types of translations:
1. Static serving through Internationalization (i18n) translatewiki.
2. Explicit content translations through the translations tab by creators.

We need to figure out a way to be able to support translations for customized elements, like a custom placeholder or a custom button text i

[2020-02-23 13:48] import-keshav commented on #6583
Hey @iamprayush , I am not working on this issue.
Thanks

[2020-02-23 14:47] #5676 closed, assigned to sin-ha

[2020-02-23 16:17] rajkumaar23 commented on #8124
I'm getting the same error :
`Installing pre-commit hook for git
Symlink already exists
Making pre-commit hook file executable ...
pre-commit hook file is now executable!
Installing pre-push hook for git
Symlink already exists
Making pre-push hook file executable ...
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loa

[2020-02-23 16:21] rajkumaar23 opened #8707 "Dangling symlink error while setting up local environment."
**Describe the bug**
Dangling symlink error while setting up local environment.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `bash scripts/install_prerequisites.sh`
 2.  `python -m scripts.start`

**Observed behavior**
I'm getting a dangling symlink error on the second step.

**Expected behavior**
Setup has to be completed successfully.

**Screenshots**
![image](https://user-images.g

[2020-02-23 17:11] aks681 commented on #8239
Yup, this is fixed by #8654, closing. Thanks @rohitkatlaa!

[2020-02-23 17:11] #8239 closed, assigned to aks681

[2020-02-23 21:10] U8NWXD commented on #8601
@safwan20 Looks good to me!

[2020-02-23 21:36] U8NWXD commented on #8593
@iamprayush I also see the warning symbol when running locally (`python -m scripts.start`), but the warning symbol is missing on the test server at https://oppiatestserver.appspot.com/. I tried running the site locally with `--prod_env` (`python -m scripts.start --prod_env`), and the warning symbol was missing there, so I think this is probably an issue with the minifying done in prod mode.

[2020-02-23 21:39] U8NWXD commented on #8423
Assigned @avanderp to `Enforce multiples of 4 indentation in docstring` per our discussion

[2020-02-24 08:56] seanlip commented on #4615
Hi @Arnesh07, I don't think anyone is working on it at the moment. Perhaps you could propose a plan for what to do, and get @kevinlee12's feedback on it before you start any coding?

[2020-02-24 09:22] rohitkatlaa opened #8709 "Load dummy skill with questions"
**Is your feature request related to a problem? Please describe.**
Create a button in the admin page to load a skill with dummy questions(at least 15 -20) which could be assigned to a story of a topic.This can be used in the testing of display of pretext questions if the skill is assigned as a prerequisite to a story of a topic.

**Additional context**
Similar button exists for loading dummy topic

[2020-02-24 11:38] safwan20 commented on #8132
@seanlip is this still open?

[2020-02-24 13:30] amanbora commented on #8565
@iamprayush Thanks I'll get on it 👍

[2020-02-24 13:37] kevintab95 commented on #8684
This seems to be fixed in the latest 2.9.0 release. Closing this issue.

[2020-02-24 13:37] #8684 closed, assigned to nobody

[2020-02-24 14:31] Rajat012k commented on #8038
@brianrodri can you assign me the core/templates/dev/head/pages/creator-dashboard-page/suggestion-modal-for-creator-view/suggestion-modal-for-creator-view.service.ts

[2020-02-24 16:34] ashu9999 commented on #8423
hey i am interested on working in this project. can anyone tell me how to get start testing these lint checks. thanks

[2020-02-24 16:40] brianrodri commented on #8038
@Rajat012k done, thanks!

[2020-02-24 17:07] seanlip commented on #8132
Does the issue still occur? If so, yes it is; if not, we can close it.

[2020-02-24 17:11] Showtim3 opened #8714 ".stylelintrc have some issues with JSON format"
**Describe the bug**
The **.stylelintrc** has two invalid format issues,
1. Invalid trailing comma at the end
2. line no 10 **ignore** keyword is not wrapped with double quotes

[2020-02-25 03:20] kevinlee12 commented on #8423
@ashu9999 which check would you like to implement and did you get a chance to read our getting started [guide](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia)?

[2020-02-25 03:44] kevinlee12 commented on #7476
This is no longer occuring, closing.

[2020-02-25 03:44] #7476 closed, assigned to nobody

[2020-02-25 04:44] vikasprashar99 commented on #8038
@nishantwrp can you assign me  core/templates/dev/head/pages/exploration-player-page/services/exploration-recommendations.service.ts

[2020-02-25 04:45] ashu9999 commented on #8423
yes i am connected to community from past 2 months. can you tell how can i start working on this project like the relevant files and some examples if they are  in codebase

[2020-02-25 05:02] kevinlee12 commented on #8423
@ashu9999 this file is a good place to start: https://github.com/oppia/oppia/blob/develop/scripts/pre_commit_linter.py

[2020-02-25 06:13] DubeySandeep commented on #3405
Closing this issue as it's a duplicate of #6902

[2020-02-25 06:13] #3405 closed

[2020-02-25 06:14] #8714 closed, assigned to Showtim3

[2020-02-25 06:33] DubeySandeep commented on #5303
@rafalk342, are you still working on this issue?

[2020-02-25 07:14] amanbora commented on #8565
I'm getting this error while building. I'm trying to build with python 3

<img width="682" alt="Screenshot 2020-02-25 at 12 43 53 PM" src="https://user-images.githubusercontent.com/33185170/75223448-7c628e00-57cc-11ea-893e-5e97710bccae.png">

[2020-02-25 09:48] rafalk342 commented on #5303
@DubeySandeep No, I'm not.

[2020-02-25 12:10] iamprayush commented on #8565
@amanbora You probably need to use Python 2 instead.
Also, please ask any setup related doubts on the [gitter channel](https://gitter.im/oppia/oppia-chat). Thanks!

[2020-02-25 14:01] kushaggarwal commented on #7176
Hello,
I would like to work on this can you please guide
Thanks

[2020-02-25 14:14] amanbora commented on #8565
@iamprayush I'm able to build it successfully now 👍

[2020-02-25 14:34] amanbora commented on #8565
@iamprayush I'm unable to observe the error
<img width="1755" alt="Screenshot 2020-02-25 at 8 02 45 PM" src="https://user-images.githubusercontent.com/33185170/75256685-d9c90000-5809-11ea-8b6c-46a29131a94e.png">

After cancelling , no error
<img width="1755" alt="Screenshot 2020-02-25 at 8 03 30 PM" src="https://user-images.githubusercontent.com/33185170/75256723-e77e8580-5809-11ea-8dad-19ca3ac4f2

[2020-02-25 16:58] iamprayush commented on #8565
@amanbora I tried running this locally as well as on the [test server](https://oppiatestserver.appspot.com/) and the issue is still reproducible for me. Maybe try updating your browser. Also, check if you can reproduce it on the test server.

[2020-02-26 02:03] safwan20 commented on #8132
@seanlip  this is what it's happening now
I want to work on this can you assign me.

![first](https://user-images.githubusercontent.com/45730556/75304743-0a408680-586a-11ea-898f-e641bf0e5377.png)
![second](https://user-images.githubusercontent.com/45730556/75304750-0d3b7700-586a-11ea-81db-a72cf9d3b75f.png)

[2020-02-26 04:11] bansalnitish commented on #8169
Ping @DubeySandeep

[2020-02-26 04:23] seanlip commented on #8132
Sure, go for it!

For future reference, once you've verified that no one else is working on a particular issue, just leave a comment on the issue asking to be assigned (as you've done) -- but you can start taking it up right away and submitting a PR, as well; you don't need to wait for an Oppia maintainer to assign you. Thanks!

[2020-02-26 08:01] DubeySandeep commented on #8169
Thanks for the reply @bansalnitish, I don't have any other questions. Thanks! (I'm closing this issue.)

[2020-02-26 08:01] #8169 closed, assigned to DubeySandeep

[2020-02-26 10:04] abhayraghuwanshi commented on #8472
@nishantwrp @tyleri  can you assign change log to #8721

[2020-02-26 11:33] amanbora commented on #8565
@iamprayush I updated my browser but still unable to reproduce the error. Can you once `clear site data` and try to reproduce the error ?

[2020-02-26 11:36] amanbora commented on #8565
@iamprayush the error is seen only in test server

[2020-02-26 15:50] iamprayush commented on #8565
I did that and the error still occurs. Maybe try using a different browser. This also occurs on Firefox for me. Also, make sure your fork is in sync with the original repo and check again, please?

@aks681 Do you think this could be an OS specific error? Also, could you please check if the error is still reproducible for you as well? Thanks!

[2020-02-26 15:51] adityasvat commented on #8472
Hey @tyleri ! Can I start working on editable-topic-backend-api.service.ts ?

[2020-02-26 15:59] Showtim3 commented on #8472
Hey @adityalpha I have assigned you.

[2020-02-26 16:02] adityasvat commented on #8472
@Showtim3 great. Thank you

[2020-02-26 16:19] aks681 commented on #8565
Yeah, the error is still reproducible for me in Chromium Edge v81 on Windows.
@amanbora Is your local repo updated w.r.t oppia/oppia? If not, can you update it and then try?

[2020-02-26 17:04] sauravpratihar commented on #7487
Hi, I would like to work on this.

[2020-02-26 17:05] amanbora commented on #8565
<img width="807" alt="Screenshot 2020-02-26 at 10 33 43 PM" src="https://user-images.githubusercontent.com/33185170/75368766-3c90c900-58e8-11ea-957d-f60a4c7e1718.png">
I'm having some difficulties in pushing commits

[2020-02-26 18:05] amanbora commented on #8565
I updated my code. But now I'm receiving this error.
`IOError: [Errno socket error] [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:727)`

[2020-02-26 18:31] amanbora commented on #8565
I'm supposed to `pull branch develop` right?

[2020-02-26 20:04] #6369 closed, assigned to nobody

[2020-02-26 21:06] brianrodri commented on #5769
@seanlip the link in your latest comment seems broken, and it looks like [code has been shuffled around](https://github.com/oppia/oppia/blob/develop/core/templates/App.ts#L322) since the migration to typescript. Any chance you recall what the code in question looked like so I can debug?

[2020-02-26 23:08] seanlip commented on #8565
Hi @amanbora -- please be sure to read the [instructions for contributing](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change) (see step 5) and [troubleshooting steps](https://github.com/oppia/oppia/wiki/Troubleshooting). They should contain the answers to (at least some of) your questions!

[2020-02-27 00:29] seanlip commented on #5769
Hi @brianrodri, I think it's this one: https://github.com/oppia/oppia/blob/ae649aa08f1375457ec9e3c90257197b68fec7cd/core/templates/App.ts#L142

[2020-02-27 03:13] kevinlee12 commented on #7487
assigned you!

[2020-02-27 04:02] amanbora commented on #8565
I followed all the steps meticulously, but this error persists [https://github.com/oppia/oppia/issues/8565#issuecomment-591562305](url)

[2020-02-27 04:21] seanlip commented on #8565
Have you tried searching online for the text of the error message?

[2020-02-27 06:21] bansalnitish commented on #8472
Hi @nishantwrp , Referring to your comment -- could you check if that service is being used by any other service? If yes, then this error would come up, right?

Let me know if you need any help or clarity on this.

[2020-02-27 06:50] bansalnitish commented on #8015
Hey @hmtj99, I hope you got better. Could you please update us with your progress?

[2020-02-27 06:52] bansalnitish commented on #8668
Any updates @felicityzhao99? Please let us know if you need any help :).

[2020-02-27 07:14] rohitkatlaa commented on #5436
I am linking a [design doc](https://docs.google.com/document/d/1IUhXcmEps7bJwFvPPBRxXYZ8tpl_zOoETKzQA_Q4vSw/edit) that can be used to solve this issue.

[2020-02-27 08:22] bansalnitish commented on #8472
I checked I couldn't find any service named `classroom-creation-backend-service` @nishantwrp

[2020-02-27 09:22] h-ARTS commented on #8472
Can I work on collection-rights-backend-api.service.ts?

[2020-02-27 15:26] nishantwrp commented on #8472
@h-ARTS Done!

[2020-02-27 15:28] nishantwrp commented on #8472
@bansalnitish My bad it was `classroom-creation-backend-api.service`. I think the error shouldn't come up when while we are running the site right? because we have already used `service-bootstrap` in the module. Please correct me if I'm wrong here.

[2020-02-27 15:53] DubeySandeep opened #8730 "Topic editor page with null as topic id throws 500"
Topic editor page with null as topic id throws 500

**Steps to reproduce:**
1. Create an account and add the admin role to the user.
2. Go to `/topic_editor/null`

**Observed behavior:**
500 errors on the server.

**Expected behavior:**
It should through 400* error, not 500.

[2020-02-27 19:22] abhayraghuwanshi commented on #8730
@DubeySandeep I have fixed it in my Pr #8587
I thought it was due to my changes
Thanks
[code]

[2020-02-27 20:39] seanlip commented on #8730
Assigning @kevintab95 since he's looking into this (thanks, Kevin!)

[2020-02-27 21:13] seanlip commented on #8704
Thanks for filing this, @donosco98. Could you please list explicitly the steps that a user would carry out, so that there's a clear indication of what should happen in this e2e test?

[2020-02-27 21:50] brianrodri commented on #5769
Thanks! I'll do some more research based off of @nithusha21's work so far and share what I can find.

[2020-02-28 04:49] felicityzhao99 commented on #8668
Hi Nitish,
Yea, actually I sent you my confusion several days ago. I really need your
help, could you please check at gitter? I resend it in private!

Thanks,
Felicity

On Wed, Feb 26, 2020 at 10:52 PM Nitish Bansal <notifications@github.com>
wrote:

[2020-02-28 05:19] marianadasilvadev opened #8731 "Insert services that uses Angular classes as dependency in UpgradedServices"
**Is your feature request related to a problem? Please describe.**
I'm trying to insert `EmailDashboardDataService`, which uses `HttpClient` as a dependency in `UpgradedServices` file:
[code]
But it needs the `HttpClient` object instance. `HttpClient` uses dependencies as well and its dependencies use other dependencies and so on.

**Describe the solution you'd like**
Insert services that use thir

[2020-02-28 05:22] seanlip commented on #8731
Hi @marianazangrossi: as an FYI, I think this is a question for @bansalnitish, who leads the Angular Migration team. I'm removing the other assignees.

Also, please do not put PR changelog labels on issue threads. That is not the right place for them. Those labels are only meant for PRs. Thanks!

[2020-02-28 05:34] marianadasilvadev commented on #8731
Sorry about that! @seanlip

[2020-02-28 07:11] Showtim3 commented on #8668
@felicityzhao99 I'd suggest that you can post your query here only, that'd be better.

[2020-02-28 10:26] donosco99 commented on #8704
After talking to @aks681, Until now, we have tested only the question creation flow. So we have to add new tests for testing the question editing flow thoroughly.
Cases to be tested in the flow.
1. Edits the content of the question without changing the question-skill linkage. In this case, the commit modal should appear
2. Edits the question-skill linkage without modifying the content of the quest

[2020-02-28 11:36] kevintab95 commented on #8196
This might be related to #7637.

[2020-02-28 11:44] seanlip commented on #8704
Thanks, that seems reasonable and comprehensive to me.

[2020-02-28 12:06] ashu9999 commented on #8423
why are most of the issues marked closed?? Is there any relevant work to do in this project?? I would appreciate any help

[2020-02-28 12:17] shivansh1010 commented on #8660
Hi @brianrodri
I'm new here. Can I take up this issue?

[2020-02-28 12:56] brianrodri commented on #8660
@sdhiman99 yes it's all yours, thank you!

[2020-02-28 15:36] kevinlee12 commented on #8423
The issues were all consolidated into this issue, so they were closed. All lint checks that aren’t checked are still open.

[2020-02-28 16:18] safwan20 commented on #4057
@seanlip can I take history-tab directives.ts for testing

[2020-02-28 18:07] ujjwalnahar commented on #8512
@vojtechjelinek Can I work on this issue if no one else is working on it currently.

[2020-02-28 23:47] seanlip commented on #4057
I don't see it in the list. So probably not yet?

You could ask @marianazangrossi, she is coordinating this issue.

[2020-02-29 05:54] safwan20 commented on #4057
@nithusha21 can I take history-tab directives.ts for testing.

[2020-02-29 09:57] vojtechjelinek commented on #8512
@ujjwalnahar Yes, you can I have assigned you.

[2020-02-29 10:49] ujjwalnahar commented on #8512
@vojtechjelinek thank you for assigning me this issue.

[2020-02-29 16:42] saivittalb commented on #8707
Reinstalling the project again from scratch helped me fix this. I think the error is caused due to scripts not getting installed irrelevantly.

[2020-02-29 19:19] safwan20 opened #8739 "facing this error while testing front end test."
![trobule](https://user-images.githubusercontent.com/45730556/75613668-63eccd80-5b56-11ea-8e4e-aa8988e2f926.png)
I am facing this error while testing .

[2020-02-29 19:57] #2967 closed

[2020-02-29 19:58] #8450 closed, assigned to yamamashakaa

[2020-03-01 07:21] aks681 opened #8743 "Add Classroom option to top navbar"
Add a classroom option to the top navbar and hide it behind the 'SHOW_CLASSROOM_CALLOUT' flag (which is already present). Remove either 'Create' or 'Donate' if needed.
Have it be similar to the 'About' option, with one dropdown saying "Basic Mathematics", which is the classroom name.

[2020-03-01 07:28] aks681 opened #8744 "Ensure chapter outlines are visible to people who write out the exploration chapters"
**Is your feature request related to a problem? Please describe.**
When the exploration is writtem for a chapter, the outline of the chapter, which is provided by the story creator in the story editor, is not visible to the exploration creator.
Since, this might be a multi step process, the chapter outline provided by the story or chapter creator in the story editor should be visible in the explor

[2020-03-01 10:36] kevintab95 opened #8746 "Show confirmation dialog before closing editor pages"
Show confirmation dialog before closing editor pages to save changes, if there are still unfinished drafts that would be discarded on closing the page.

[2020-03-01 12:12] samruddhiDharankar commented on #6313
hello, I would like to work on this issue. Is anyone working on it?

[2020-03-01 12:31] samruddhiDharankar commented on #6193
Is anyone still working on this issue? I want to work on this issue

[2020-03-01 15:09] h-ARTS commented on #8472
Can someone assign the PR Changelog label and reviewer for my PR? https://github.com/oppia/oppia/pull/8748

[2020-03-01 17:31] Dishebh commented on #6349
@kevinlee12 can I take up the issue?

[2020-03-01 17:42] kevinlee12 commented on #6349
@Vinit-Dantkale how’s this coming along?

[2020-03-01 17:46] marianadasilvadev commented on #4057
Hey, @safwan20 this issue includes only testing for services. We still don't have any official issue for testing directives so I think it's fine your work on it! But just make sure that anyone is not working on it already.

[2020-03-01 18:18] Vinit-Dantkale commented on #6349
@kevinlee12 , @iamprayush I had started working on this but got involved in other work. Feel free to start working on this, as I unassign myself. Things which I noted :
1. Found same problem for option **Omit atleast one of** (Scrolled partially sometimes).
2. Tried keeping only modal related elements for debugging but gets stuck.
Browser Used: Google Chrome, Mozilla.
OS: Ubuntu 18.04
Wish You all

[2020-03-01 18:27] kevinlee12 commented on #6349
thanks @Vinit-Dantkale!

@Dishebh all yours!

[2020-03-01 18:28] sseth99 commented on #8743
Hi , I would like to start working on this issue!I have filled the CLA and the contributor survey. Can I start with this issue?

[2020-03-01 21:47] seanlip commented on #6349
Hi @Dishebh, before we assign you, would you mind following the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? I think you might also want to consider taking up one of the easier issues listed there before you start delving into this one, since this issue might require a bit of debugging and familiarity with the codebase. Thank

[2020-03-02 05:21] Vinit-Dantkale commented on #6507
Hi @vojtechjelinek , @import-keshav , @NishealJ [this](https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2020#12-generate-images-for-latex-expressions) seems familiar to what we're trying to do. If you can enlighten about what all did you try & related info/suggestions, do tell me.
Also, would like to know if any of [these](http://searchlibs.com/?q=latex%20to%20svg) can be a good alternati

[2020-03-02 08:33] bansalnitish commented on #8472
I'm sorry @nishantwrp, I cannot find any file named `classroom-creation-backend-api.service`.

[2020-03-02 09:15] bansalnitish commented on #8668
Yeah, could you please post your query here @felicityzhao99?

I'm not that active on gitter. Also, more folks will be able to help you out here.

[2020-03-02 09:38] bansalnitish opened #8754 "yarn.lock file gets changed automatically locally"
I've observed in multiple PR's as well as while I push local changes to github that yarn.lock file gets changed automatically.

[2020-03-02 09:38] bansalnitish commented on #8754
cc / @oppia/dev-workflow-team

[2020-03-02 10:11] nishantwrp commented on #8472
@bansalnitish Oh shit! `collection-creation-backend-api.service.ts` it is

[2020-03-02 11:46] bansalnitish commented on #8731
Hey @marianazangrossi,

I did tried the approach that you mentioned, though I used BrowserXrf rather than some angular_packages as you used.

[code]
The problem with this approach is the frontend tests still fail and definitely if we are adding any service in upgradedService we are doing it for frontend tests. So, I'll explain you whole case in detail.

Let me give you an example. I was migrating

[2020-03-02 11:48] bansalnitish commented on #8731
cc/ @Showtim3 @nishantwrp @ankita240796

I guess the above answer might be useful for you folks too, please give a read. Thanks!

[2020-03-02 15:28] sseth99 commented on #8743
I want to clear out if the Classroom option will be finally visible or not? Please help me with if I am doing it the right way.
![Screenshot from 2020-03-02 20-46-39](https://user-images.githubusercontent.com/38723085/75690230-7dae2200-5cc8-11ea-9bfe-cadd9615032d.png)
because if I do this
![Screenshot from 2020-03-02 20-52-01](https://user-images.githubusercontent.com/38723085/75690256-86065d00-5c

[2020-03-02 18:39] samruddhiDharankar commented on #6458
@kevinlee12 can I work on this?

[2020-03-02 18:45] NishealJ commented on #6507
Hi @Vinit-Dantkale,

Mathjax, as you know, is a library that helps in displaying mathematics eqs better similar to kaTeX we currently use Mathjax(I believe) the problem with Mathjax is that the library files are really heavy read [here](https://github.com/oppia/oppia/pull/6778) and it renders comparatively slower than KaTex see [this](https://www.intmath.com/cg5/katex-mathjax-comparison.php) to kn

[2020-03-02 19:06] Dishebh commented on #6349
@seanlip sounds good to me. Will do the same. Thanks

[2020-03-03 02:02] sudiptapradhan1181 commented on #8423
I would like to work on the issue: Add a check to ensure that multi-line expressions in parenthesis are broken down after "(" in JavaScript files. Thanks

[2020-03-03 03:12] kevinlee12 commented on #6458
If you followed the instructions here: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up, then go for it.

[2020-03-03 03:44] #8601 closed, assigned to safwan20

[2020-03-03 06:31] mzaman07 commented on #8637
For more context here's a timeline regarding this issue. This issue is very similar to [#5784](https://github.com/oppia/oppia/issues/5784).

The problem as noted by the issue above is caused by promise not being handled by ngAudio library.

So I made a fix that was introduced by [#6280](https://github.com/oppia/oppia/pull/6280) and this the
relevant upstream [PR](https://github.com/danielstern/ngA

[2020-03-03 11:09] h-ARTS commented on #7407
@vojtechjelinek I think this one is suitable. Any thoughts?
https://github.com/TypeCtrl/ngx-codemirror
Demo: https://tsquery-playground.firebaseapp.com/
We can use version 2.2.1 for Angular 8

[2020-03-03 12:41] vojtechjelinek commented on #7407
@h-ARTS This might be possible, thanks for the suggestion.

[2020-03-03 19:23] U8NWXD opened #8758 "Flaky E2E Test: coreEditorAndPlayerFeatures"
I have seen this failure appear and then resolve when tests are re-run a number of times on Travis-CI, so I think it is a flaky test.

Flakes seen:
* [ ] This failure was seen [here](https://travis-ci.org/oppia/oppia/jobs/657077010)
* [ ] This flake was also seen in Travis-CI Job [665242466](https://travis-ci.org/github/oppia/oppia/jobs/665242466) on PR #8896 .

Travis-CI Log:
[code]

[2020-03-04 03:11] #7637 closed, assigned to nobody

[2020-03-04 04:08] Vinit-Dantkale commented on #7928
Hey, is this good issue to start? I think only `loadAudio` is being used from `AssetsBackendApiService`. Are you advising to reproduce same behaviour by making backend calls from `audio-player.service.ts` ?

[2020-03-04 06:23] mzaman07 commented on #7928
Hey @Vinit-Dantkale  , yeah usually anything that is marked with Project-specific starter issue implies that it's good to start if you are new. As for more context related to this issue, I think it would be better to ask @DubeySandeep .

[2020-03-04 06:51] felicityzhao99 commented on #8668
Hi @Showtim3 @bansalnitish sorry for the late reply! I have already finished my tasks and the thing is I can't commit my code:
<img width="570" alt="Screen Shot 2020-03-03 at 10 50 19 PM" src="https://user-images.githubusercontent.com/32212612/75852709-6db64100-5da1-11ea-888b-efc0060fd3b3.png">
Can anyone help with this error? Thanks in advance!

[2020-03-04 07:10] bansalnitish commented on #8668
Hey @felicityzhao99, Could you please merge your branch with updated develop?

Let me know if it still doesn't work.

[2020-03-04 07:43] felicityzhao99 commented on #8668
Hi @bansalnitish, the thing is I can't make commit locally to my feature branch. So if I'm right, you want me to do git merge feature-branch before successfully committed?

Also, I'm guessing it's yaml problem? or do I need to refork?

Thanks so much for your help!

[2020-03-04 08:38] bansalnitish commented on #8668
Could you do git status and check that changes are just related to the files that you've changed?

No, you don't need to refork.

[2020-03-04 09:16] felicityzhao99 commented on #8668
Hi @bansalnitish
<img width="563" alt="Screen Shot 2020-03-04 at 1 06 13 AM" src="https://user-images.githubusercontent.com/32212612/75862978-9bf14c00-5db4-11ea-8da4-6caabfd9b939.png">
Yea, I think it's the right file that I wanna commit. Not sure what's happened.

Also, one more question, do you know where is the related front-end page of training-data.service.ts? I check the path: core/templates

[2020-03-04 14:04] #8660 closed, assigned to nobody

[2020-03-04 18:33] kevintab95 opened #8761 "Prevent logging of response errors with status code -1"
We have been seeing a lot of stack driver errors with the following pattern:
[code]

These are response errors with rejection status of -1 which indicate that the response has not completed, it can occur if the user navigates away from the page while the response is pending.

This should not be considered an error.

Add a check in App.ts to ensure these errors don't get logged in stack driver.

[2020-03-04 23:19] U8NWXD commented on #8423
@sudiptapradhan1181 I assigned you to `Add a check to ensure that multi-line expressions in parenthesis are broken down after "(" in JavaScript files`!

[2020-03-05 00:03] ghost commented on #8472
Hello, can I work on editable-story-backend-api.service.ts?

[2020-03-05 00:37] seanlip commented on #8472
@ishitarb5 Yep, I've assigned you. Thanks!

[2020-03-05 03:24] felicityzhao99 commented on #8668
Hi @Showtim3, could you please tell me where the training-data.service.ts been used?

[2020-03-05 03:37] #8754 closed, assigned to kevinlee12

[2020-03-05 04:09] DubeySandeep commented on #8680
@nishantwrp, is it a duplicate of issue #8758? If yes, then can you please close this issue as #8758 has the error logs (in test)?

[2020-03-05 04:22] DubeySandeep commented on #8677
Closing this issue as per fix in #8756.

[2020-03-05 04:22] #8677 closed, assigned to nobody

[2020-03-05 04:23] DubeySandeep commented on #8676
Closing this issue as it's been fixed by #8756.

[2020-03-05 04:23] #8676 closed, assigned to nobody

[2020-03-05 09:37] felicityzhao99 commented on #8668
@Showtim3 @bansalnitish PTAL
Also wanna ask how to set you all as the PR assignee and what kind of label do I need to mention?

[2020-03-05 11:09] nishantwrp commented on #8680
@DubeySandeep Yup! This issue is same as #8758, closing this.

[2020-03-05 11:09] #8680 closed, assigned to nishantwrp

[2020-03-05 13:51] amey-kudari opened #8769 "Checking for pip import error in pip_install is redundant."
In scripts/install_third_party_libs.py, checking for import error (90-113) is not needed as installing future before it needs pip and if the function gets called, pip has to exist.

[2020-03-05 13:53] lakshay-angrish commented on #8015
I am not working on `pretest-question-backend-api.service.ts`. Please unassign me.

[2020-03-05 14:06] samruddhiDharankar commented on #6458
@kevinlee12  would you direct me to the path where this section is located?

[2020-03-05 14:51] amey-kudari commented on #8769
@kevinlee12 @seanlip @vojtechjelinek please take a look.

[2020-03-05 15:40] kevinlee12 commented on #6458
@aks681 might be able to assist.

[2020-03-05 15:42] #8487 closed, assigned to Vinit-Dantkale

[2020-03-05 16:48] samruddhiDharankar commented on #6458
@aks681 I'm unable to reproduce this error on my localhost. Would you guide me?

[2020-03-05 21:29] itolimaesther commented on #8681
Hi , I'm an outreachy applicant for May 2020. Please I will love to contribute to this issue. Is this still open?

[2020-03-05 21:36] seanlip commented on #8681
Hi @itolimaesther, please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. You're welcome to help out with this issue after that, but I would actually suggest starting with one of the smaller starter issues mentioned in the page linked above first, in order to become more familiar with the codebase. Thanks!

[2020-03-05 22:20] itolimaesther commented on #8681
Alright

[2020-03-06 01:08] seanlip commented on #8769
Could you please find out which PR added that code? There might be other reasons for adding that try/except and we should see whether those predate the use of "future".

[2020-03-06 01:23] amey-kudari commented on #8769
It was added in this PR https://github.com/oppia/oppia/pull/7465/files (both pip install and installation of future and pyyaml).

[2020-03-06 01:33] seanlip commented on #8769
You'll probably need to ask @lilithxxx and @brianrodri, then...

But, on the whole, I don't really think this needs to be removed. It seems like a reasonable defense in depth and it's not causing any user-facing issues, so I suggest not worrying about this. I'll close this issue but feel free to continue the conversation.

[2020-03-06 01:33] #8769 closed, assigned to nobody

[2020-03-06 04:16] #8761 closed, assigned to kevintab95

[2020-03-06 04:20] #8702 closed, assigned to kevintab95

[2020-03-06 05:57] vvijayalakshmi21 commented on #8739
Hi, I am an Outreachy applicant and looking to contribute.
With respect to the error message, I searched for a workaround and found the following link:
https://medium.com/the-road-to-angular/uncaught-error-trying-to-get-the-angular-injector-before-bootstrapping-an-angular-module-6c91859d3ac9

I would like to work on this. Could you please assign this to me? I have not previously worked on Angular

[2020-03-06 07:19] itolimaesther commented on #8499
Hello, Please is this issue is open. I would love to work on it.

[2020-03-06 08:00] itolimaesther commented on #8746
Hello @kevintab95  I'm Outreachy May 2020 applicant.  Please can I  fix the issue if it is still open?

[2020-03-06 08:05] kevintab95 commented on #8746
Hi @itolimaesther, this issue is currently being worked on by @aks681 and me. Can you please take a look at some issues with the "[good first issue](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)" label on the issue tracker? Thanks!

[2020-03-06 08:07] vojtechjelinek commented on #8499
@itolimaesther The PR from @darksun27 is still open, I asked him if he is continuing with his work.

[2020-03-06 09:19] vikasprashar99 commented on #8472
@tyleri   please assign me search-explorations-backend-api.service.ts

[2020-03-06 10:05] srijanreddy98 commented on #4057
@seanlip I have started working on the spec file for ContributionOpportunitiesBackendApiService.ts in the pr (https://github.com/oppia/oppia/pull/8763). I just realized it was listed here. Could you assign it to me?

[2020-03-06 15:17] lelouchB commented on #8423
HI
I am Ashutosh, an Outreachy Applicant and want to contribute to this project
Can anyone guide me Where to start??

[2020-03-06 16:20] tyleri commented on #8472
@vikasprashar99 Just assigned you

[2020-03-06 18:07] ankita240796 commented on #8423
Hi @lelouchB, welcome to Oppia. Can you please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? Thanks!

[2020-03-06 21:03] amey-kudari commented on #8423
Hi! can I take this, "Add lint check to ensure that there is one blank newline below each class docstring."

[2020-03-06 23:56] seanlip commented on #4057
@srijanreddy98 Sure, done. Thanks!

[2020-03-07 00:06] U8NWXD commented on #8423
@amey-kudari I've assigned you to `Add lint check to ensure that there is one blank newline below each class docstring`!

[2020-03-07 04:04] lelouchB commented on #8423
Hey, I wanted to work on  Lint check for test files (#5879)

[2020-03-07 04:28] kevinlee12 commented on #8423
@lelouchB I've assigned you!

[2020-03-07 05:19] karthi07 commented on #7568
I would like to take up this issue. @DubeySandeep  Let me know if I need to know any other information before starting this.

[2020-03-07 09:40] ayushi1998 commented on #8456
Can I work on this? OutreachyApplicant!

[2020-03-07 09:45] ayushi1998 commented on #7334
Why is this still open?

[2020-03-07 11:18] brianrodri commented on #7334
Thanks for flagging @ayushi1998, looks like there was a typo in #8480 keeping GitHub from automatically closing this -- done!

[2020-03-07 11:18] #7334 closed, assigned to nobody

[2020-03-07 13:02] iheanyi1 commented on #8461
Hi @dchen97,

Am super excited to be here as outreachy applicant. I want to help solve this problem as my initial contribution. It seems you are also my mentor since i want to help push the "massage out", by working on the  "crafting digital marketing project" as you select me. (smiles).

I have signed the individual agreement and have submitted the required survey, too.
Is there any other thing r

[2020-03-07 13:41] ketul08 commented on #7176
@YashJipkate i would like to work on this issue , can you suggest?

[2020-03-07 17:45] amanbora commented on #8565
@nithusha21 I've tried some of the solutions but the problem persists.
Sorry for the reply, been busy with my exams. Will try to solve it again.

[2020-03-07 17:56] Rajat012k commented on #8472
hey @tyleri can you assign me topics-and-skills-dashboard-backend-api.service.ts

[2020-03-07 18:38] amanbora commented on #8565
@nithusha21 finally 🥳 I've been able to build it.

[2020-03-07 23:48] #6034 closed, assigned to kevinlee12

[2020-03-07 23:50] seanlip commented on #8565
Hi @amanbora -- that's great! Perhaps you could explain what you did, so that we can add it to the Troubleshooting page for future contributors?

[2020-03-08 00:37] seanlip commented on #8461
Hi @iheanyi1 -- for the Outreachy project you are interested in, you don't need to contribute to an issue on GitHub. Please see the information from the fourth paragraph onwards in the Project Contribution Information. (Also, sorry for the confusion -- I think the first three paragraphs are generic to all Oppia projects on Outreachy, but they're really aimed more at the coding ones in particular.)

[2020-03-08 00:38] seanlip commented on #8472
@Rajat012k Just assigned you.

[2020-03-08 03:04] marianadasilvadev opened #8782 "Use Jasmine's user context features instead of angular.copy in Angular JS test files."
**Is your feature request related to a problem? Please describe.**
According to this #8696 [comment](https://github.com/oppia/oppia/pull/8696#discussion_r387765923), it's is better to use Jasmine's user context features instead of `angular.copy`. This issue aims to replace all `angular.copy` for this approach. Here is the comment:

[2020-03-08 03:19] TikuGaelle commented on #6240
Hello, can i get a sample of a test?
I'm new to e2e tests, so i need sm help getting started...

[2020-03-08 03:20] brianrodri commented on #8782
Here's an example of the difference between the two ([source](https://gist.github.com/traviskaufman/11131303)):

[code]

[code]

[2020-03-08 03:25] rohitkatlaa commented on #6240
@TikuGaelle please look into some of the merged PRs in this issue. Those should give you a good idea of how to go about writing a test. Also take a look into the [Oppia wiki page](https://github.com/oppia/oppia/wiki/End-to-End-Tests)

[2020-03-08 03:29] TikuGaelle commented on #6240
Thanks @rohitkatlaa

[2020-03-08 04:36] bijjybox commented on #8423
Hi, I am new to oppia, I would like to work upon "Detect variables that are declared but never used".

[2020-03-08 04:51] kevinlee12 commented on #8423
Hi @apsychogirl, please follow the instructions in our [guide](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started. Which linter task would you like to do?

[2020-03-08 05:45] lelouchB commented on #8668
Hey @Showtim3  I want to work on
 contribution-and-review.service.ts

[2020-03-08 05:55] Showtim3 commented on #8668
@lelouchB Assigned you.

[2020-03-08 06:16] bijjybox commented on #8423
@kevinlee12 I would like to take up "Detect variables that are declared but never used" from Python section if it isn't assigned.

[2020-03-08 06:26] aks681 opened #8783 "Practice Sessions Modifications in the topic viewer"
This issue aims to:

- [ ] Add UI to the 'Practice Sessions' tab of the topic viewer page, for the user to select a set of subtopics, after which a practice session should be started with a random set of questions linked to the skills in the selected subtopics.
- [ ] Additionally, allow the user to select a difficulty as well here, so that only questions  of that difficulty are returned that are l

[2020-03-08 06:26] aks681 commented on #5893
Since 2 of the 3 points are done in this issue, closing this in favour of #8783 which adds more features to the practice session.

[2020-03-08 06:26] #5893 closed, assigned to nobody

[2020-03-08 07:17] iheanyi1 commented on #8461
Hi @seanlip and @dchen97 ,

For clarity purpose, i just want to be sure this is what you want me to do in this initial application phase: **"Applicants will be asked to submit to the mentors at least 3 sample social media posts about Oppia, as well as propose a topic for their longer-term digital marketing strategy project based on their interests and skill sets.  From there, if they are chosen, t

[2020-03-08 08:10] safwan20 commented on #4057
I am working on StateNameService.ts file

[2020-03-08 08:33] vipuldcoder commented on #7009
I am interested to work with the issue.

[2020-03-08 10:01] gg0g commented on #8472
@seanlip Hey again, emailed you yesterday about migration. Assign -learner-answer-details-backend-api.service.ts- to me please.

[2020-03-08 12:39] Arnesh07 commented on #4615
@kevinlee12 Can you specify some interactions where this dot is used? Also, how do we test this on the local server?

[2020-03-08 13:48] Showtim3 commented on #8472
@george-g1 Hey, Assigned you.

[2020-03-08 15:13] safwan20 opened #8784 "showing console error after clicking the cancel button in revert modal"
**Describe the bug**
showing console error after clicking the cancel button in revert modal

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia.org/create/history'
 2. Click on 'revert'
 3. Click on the cancel button
 4. error should not be shown in the console.

**Observed behavior**
Click on the cancel button
![revert](https://user-images.githubusercontent.com/45730556/76165414-f

[2020-03-08 17:23] brianrodri commented on #8038
Hi @Rajat012k any updates here?

[2020-03-08 17:56] amanbora commented on #8565
@seanlip definitely , I think there can be some modifications made to the `README` file to clearly state how to compile using `python -m scripts.start`. In the contributions wiki page as I remember there is mention of the command `bash scripts/start` which can be confusing. There can be some more modifications, should I raise an error and submit a pr for the same?

[2020-03-08 18:03] nehasangeetajha commented on #8456
can i work on this?

[2020-03-08 18:30] seanlip commented on #8565
@amanbora Could you please go ahead and list the issues here? I think it's a bit tricky to submit a PR for the wiki, but I can make the changes for you if I know what they are.

Thanks!

[2020-03-08 18:43] kevintab95 commented on #8456
Hi @ayushi1998 and @nehasangeetajha! Looks like @abhayraghuwanshi is working on this one. You can find some "good first issues" [here](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22), please feel free to pick issues that seem interesting to you. Thanks!

[2020-03-08 18:51] seanlip commented on #8472
Deassigning @george-g1. Please follow the instructions in my email carefully to get set up, including the wiki page I linked to, before you are assigned to any issues. Thanks.

[2020-03-08 19:05] seanlip commented on #8461
You are correct in your understanding of the requirements.

[2020-03-08 19:06] seanlip commented on #8461
Also, please could you continue this conversation directly with the Outreachy project mentor by email, rather than on this thread? Thanks!

[2020-03-08 19:53] seanlip commented on #8472
Reassigning @george-g1.

[2020-03-08 20:07] kevinlee12 commented on #8423
@apsychogirl, you got it!

[2020-03-08 20:19] kevinlee12 commented on #4615
You can use the Solar System exploration. You should be able to load this when you go login as admin (you can check this when you are specifying the email). Then, go to the Admin portal which is accessible when you click on the profile menu at the top right.

[2020-03-08 20:42] U8NWXD opened #8789 "Inconsistent Capitalization in Preferred Languages Dropdown"
**Describe the bug**
The dropdown menu for preferred languages has inconsistent capitalization.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com
 2. Log in
 3. Go to https://oppiatestserver.appspot.com/preferences
 4. Enter `es` into the Preferred Exploration Languages

**Observed behavior**
Some languages are capitalized, others are not.

**Expected

[2020-03-08 20:47] U8NWXD opened #8790 "Preferred Audio Language Preference Not Translated"
**Describe the bug**
The text for the preferred audio language preference is not translated.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com
 2. Log in
 3. Go to https://oppiatestserver.appspot.com/preferences
 4. Set site language to `Español`

**Observed behavior**
The `Preferred Audio Language` preference is still in English.

**Expected behavior

[2020-03-09 05:02] vikasprashar99 commented on #8472
@tyleri please assign me  exploration-summary-backend-api.service.ts

[2020-03-09 16:09] DubeySandeep opened #8794 "Add limitation on number of reviewers in a given category"
Currently, admins are allowed to add as many as reviewers they want in any category, we need to build in limits to ensure that, when new community reviewers are added, this list doesn't grow beyond a certain number.

[2020-03-09 17:19] U8NWXD commented on #6240
@TikuGaelle Is there a particular test you are interested in writing? I might be able to point you to similar ones that have already been implemented

[2020-03-09 18:03] tyleri commented on #8472
@vikasprashar99 Could you provide an update on search-explorations-backend-api.service.ts?

[2020-03-09 18:10] abhayraghuwanshi commented on #8789
@seanlip @U8NWXD
Is this on purpose?
if not I would like to work on this one
Thanks

[2020-03-09 18:17] abhayraghuwanshi commented on #8790
hii @U8NWXD I would like to work on this one so i have assigned myself this issue
can I wok on #8789 too  in the same Pr
thanks

[2020-03-09 18:36] abhayraghuwanshi commented on #8790
hi @U8NWXD I just checked the constants, this behavior is due to the unavailability of translation in the respective languages
Thanks

[2020-03-09 21:25] seanlip commented on #8789
Hm, it's not on purpose, feel free to work on it. Thanks!

[2020-03-10 01:55] vikasprashar99 commented on #8472
@tyleri it's already done

[2020-03-10 04:12] abhayraghuwanshi commented on #8789
could you please assign the changelog to #8789

[2020-03-10 04:46] tyleri commented on #8472
Great, thank you. I've assigned you now.

[2020-03-10 06:24] swaat-on-git commented on #3947
@iamprayush @seanlip @pranavsid98 Here's an idea for how we can show the activity on image type of input -
Here, we show both clicks inside regions mapped and addressed by the creator, and clicks outside such regions, so he may be aware that there are other regions that need to be addressed. The cluster size essentially makes the click areas bigger or smaller based on the slider. This is done by g

[2020-03-10 06:26] swaat-on-git commented on #3947
Sorry, the view with pre-defined regions alone does not need the checkbox.
![image](https://user-images.githubusercontent.com/56828144/76285577-1abf1b00-62c6-11ea-9dd1-91dc7e8bbe15.png)

@seanlip @iamprayush @pranavsid98 @brianrodri

[2020-03-10 06:27] swaat-on-git commented on #3947
Sorry pasted the wrong image for the version 1 - with only pre-defined regions
![image](https://user-images.githubusercontent.com/56828144/76285658-4b9f5000-62c6-11ea-9af9-548052c78c80.png)
@seanlip @brianrodri @pranavsid98 @iamprayush

[2020-03-10 07:25] abhayraghuwanshi commented on #8678
@nishantwrp Is this the thing same as we do in the skill rights backend api service file as we post it and we cache it at the same time. When we fetch it from the backend if it is found in the cache we get it from there and if not found then we fetch it .
If this is the case i would like to work on this one

[2020-03-10 07:32] seanlip commented on #3947
Thanks, I think it looks good @swaat-on-git!

(Also, as an FYI for the future, it is possible for you to edit your previous comments on GitHub.)

[2020-03-10 07:50] seanlip commented on #8789
@abhayraghuwanshi You should already have collaborator access and be able to assign changelog labels. Are you not able to do this?

[2020-03-10 07:59] abhayraghuwanshi commented on #8789
@seanlip I thought when they assign it they can take a look at the changes too

[2020-03-10 08:03] seanlip commented on #8789
There are established mechanisms for requesting reviewers. Please follow the [standard instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change).

[2020-03-10 08:06] abhayraghuwanshi commented on #8789
@seanlip will follow these instructions from now on
Thank you

[2020-03-10 08:39] MNSDivya opened #8800 "Play later list is displayed different than other lists(In progress,Complete) on both browser and Mobile"
**Describe the bug**
Play later list is displayed different than other lists(In progress,Complete) on both browser and Mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Library' and explore
 2. Click on clock icon "Add to playlist" for an exploration
 3. Navigate to learner dashboard
4. Verify "Play Later" list

**Observed behavior**
Play later list is displayed different than o

[2020-03-10 09:43] MNSDivya opened #8801 "Top nav bar on creator dashboard is clumsy with numbers_ on Mobile"
**Describe the bug**
Top nav bar on creator dashboard is clumsy with numbers

**To Reproduce**
Steps to reproduce the behavior:
 1. Play an exploration and complete
 2. Give 2 feedback(1 as anonymous and other with profile name)
 3. Navigate to creator dashboard and verify top nav bar which shows 2 open feedback

**Observed behavior**
Top nav bar on creator dashboard is clumsy/overlapped with numb

[2020-03-10 10:11] george-g1 commented on #8472
I'm getting this error when running start.py for the first time
![image](https://user-images.githubusercontent.com/47757353/76302167-f3257e00-62d8-11ea-8efb-fba733f5c514.png)
Can anyone help?

[2020-03-10 10:34] MNSDivya opened #8802 "English(Auto) option is not shown in Chrome browser for fractions collection"
**Describe the bug**
English(Auto) option is not shown in Chrome browser for fractions collection while it shown in firefox browser and in mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Fractions' collection under In progress
 2. Play through the course
 3. Select the audio language drop down

**Observed behavior**
English(Auto) option is not shown in Chrome browser for fract

[2020-03-10 10:53] nishantwrp commented on #8678
@abhayraghuwanshi Actually, the current scenario here is that when we accept or reject a suggestion we send the response of suggestion to the backend and we fetch the suggestion status again from backend to display the current status of the suggestion. Here, we can avoid fetching the suggestion status as we already know the response, we can directly update the cache.

[2020-03-10 12:46] iamprayush commented on #3947
@swaat-on-git I just have a minor doubt. The unmapped clusters would probably not overlap with each other but is it possible that they might overlap with the pre-defined ones? If so, we might want to restrict that in order to avoid any confusion.
Otherwise, it looks great :)

[2020-03-10 12:53] george-g1 commented on #7613
@seanlip I'm running into an error when trying to run start.sh for the first time.

+ expand-archive node-download -DestinationPath C:\Users\ ... \opensour ...
    + CategoryInfo          : InvalidArgument: (:String) [Expand-Archive], IOException
    + FullyQualifiedErrorId : NotSupportedArchiveFileExtension,Expand-Archive

Can I get a help?

[2020-03-10 14:26] Raghav10026 commented on #8801
Can you please assign this task to me?

[2020-03-10 14:37] MNSDivya commented on #8801
I was not able to assign too @Raghav10026. Looping few contacts requesting to assign in your name. @Showtim3 / @akshayanand681 / @nithusha21

[2020-03-10 14:42] Raghav10026 commented on #6772
I would like to work on this issue.

[2020-03-10 15:09] abhayraghuwanshi commented on #8678
@nishantwrp Is it a frontend issue as i saw some of the skills are caching in the backend too

[2020-03-10 15:17] safwan20 commented on #4057
working on  StateHintService.ts

[2020-03-10 15:31] nishantwrp commented on #8678
@abhayraghuwanshi Yup, This is a frontend issue.

[2020-03-10 15:47] Showtim3 commented on #8801
Ok @Raghav10026 assigned this to you.

[2020-03-10 15:52] vojtechjelinek commented on #6772
@Raghav10026 Yes, I have assigned you. If you need any help just ask.

[2020-03-10 16:18] Raghav10026 commented on #6772
Honestly I am very new to this, actually first time! So I have very limited idea about this. So it would be great if you can guide me in initial steps. I can assure you, i'll give me 100%

[2020-03-10 17:07] DubeySandeep opened #8804 "Write core e2e tests for contributor dashboard"
We need to make sure we cover all the critical user journeys of the [contributor dashboard](https://www.oppia.org/contributor-dashboard) with E2E tests.

- [ ] Users should be able to create translation suggestions.
- [ ] Admins should be able to review a suggested translation and approve or reject it.
- [x] Admins should be able to review the suggested question and approve or reject it.
- [x] Adm

[2020-03-10 17:37] amanbora commented on #8565
**The mention of `start.sh` script is quite confusing as nowhere in the page it is described.**

- <img width="745" alt="Screenshot 2020-03-10 at 10 59 49 PM" src="https://user-images.githubusercontent.com/33185170/76341960-c5b1f200-6323-11ea-9ed5-dd3fec7bec72.png">

- <img width="737" alt="Screenshot 2020-03-10 at 11 00 26 PM" src="https://user-images.githubusercontent.com/33185170/76341969-cba7d

[2020-03-10 18:10] seanlip commented on #8565
Thanks so much, @amanbora! I have updated the wiki pages to fix this.

[2020-03-10 18:22] seanlip commented on #4057
Hi @safwan20, please go ahead and update the checklist in the first comment accordingly with the file(s) you're working on. Thanks!

[2020-03-10 18:24] seanlip commented on #6772
Hi @Raghav10026, welcome to the Oppia project!

If you are new to this, I recommend that you follow [these steps](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) carefully, and, in particular, take a look at the starter projects section below that. Pick one of the starter projects listed instead, and you can come back to this later once you have more familiarity w

[2020-03-10 18:57] EricZLou commented on #7613
Hi George, not sure if this will reach you since I think you deleted your
comment.
But here's a fix:
- in oppia\scripts\setup.py: change *outfile_name* to *'node-download.zip' *(it
is currently *'node-download'*)

Let me know if that works! If it does, I'll go ahead and make a PR to fix
that.

On Tue, Mar 10, 2020 at 8:53 AM George <notifications@github.com> wrote:

[2020-03-10 20:20] kevintab95 opened #8808 "Disable collapsible block and tabs RTEs for questions"
**Describe the bug**
Question editor currently allows adding collapsible blocks and tabs. These RTEs are not required for questions.

[2020-03-10 20:33] shivansh1010 commented on #8704
Hi @seanlip @donosco98 , is anyone working on this issue? If not, can I work on it?

[2020-03-10 20:40] kevintab95 commented on #7650
This is still occuring on prod. I suspect that it may be due to an incorrect draft migration.

https://github.com/oppia/oppia/blob/458349730d01e7609178fcf9a0a9c7bea3d9b53d/core/domain/draft_upgrade_services.py#L144-L172

This code seems to be treating answer groups as a single object when it should have been a list of objects (ie. new_value should be a list). This might have caused some issues.

W

[2020-03-11 05:18] seanlip commented on #7650
We can run an audit job to check. Maybe write one and I'll run it?

[2020-03-11 06:00] shaswatpatel123 commented on #8746
Hi, can I work on the allow saving draft?

[2020-03-11 08:18] Raghav10026 commented on #6772
Got it @seanlip
I already followed all the steps mentioned on the above page like signing the CLA, installing Oppia, joining mailing list and gitter etc. and got good command on Python, html, css, javascript! Right now learning Angular to understand the coding style better.

So as you said I'll try my hands on few beginner issues to get familiar with codebase.
Thank you so much for guidance.

[2020-03-11 09:44] surender786 commented on #5855
hello
Can you assign me on this issue.I AM AN OUTREACHY APPLICANT

[2020-03-11 10:16] amanbora commented on #8053
Is this issue available? I would like to work on this issue

[2020-03-11 14:05] #8707 closed, assigned to nobody

[2020-03-11 14:47] swaat-on-git commented on #4662
Here is how we are planning to present multiple choice answers in Improvements tab, and I think the view can be applied to stats as well.
![image](https://user-images.githubusercontent.com/56828144/76429345-eb4b0400-63d4-11ea-9f34-6c2965a0f0b0.png)
The idea is to focus on the answer itself, and then show the stat of how frequently the answer is given. Here, the answers are presented in decreasing

[2020-03-11 15:12] brianrodri commented on #8472
Question for you @bansalnitish, how do we migrate the other $-imports such as $uibModal for example? It's not immediately clear in the migration wiki?

[2020-03-11 17:36] Showtim3 commented on #8472
Hey @brianrodri I think we can use something like [this](https://ng-bootstrap.github.io/#/components/modal/api).

[2020-03-11 17:48] MNSDivya opened #8812 "Blank page loaded when navigated to feedback page from creator dashboard_Both mobile and browsers"
**Describe the bug**
Blank page loaded when navigated to feedback page from creator dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration as user1 and logout
 2. Play through the course as user2 and submit a feedback
 3. Login as user1 and navigate to creator dashboard
 4. Click on the open feedback count (2 in this scenario as in image1)

**Observed behavior**
Bla

[2020-03-11 17:55] seanlip commented on #4662
Hi @swaat-on-git, thanks! Just one question: could we use the raw number of answers instead? That way, a 50%/25%/25% split could be seen in context of whether it's for 4 answers or 4000 answers (the severity is clearly higher in the latter case).

[2020-03-11 19:03] kevintab95 opened #8813 "Console errors related to Audio funtionality in Firefox"
**Describe the bug**
A clear and concise description of what the bug is.
Observed console errors when playing an exploration. Audio playback seems to be working fine.

Note: This seems to be working fine for other explorations.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Firefox browser
 2. Go to 'https://oppiatestserver.appspot.com/explore/16'
 3. See error

**Observed behavior**

[2020-03-11 19:24] kevintab95 commented on #8813
Note: The first state name contains a unicode character ("Text Input state name with unicode ął").

[2020-03-11 19:31] kevintab95 commented on #8813
Observed another console error in responsive mode on firefox:
![image](https://user-images.githubusercontent.com/11008603/76456395-ed28bd80-63fc-11ea-97e8-88d9d0d7557e.png)

[2020-03-11 19:49] kevintab95 opened #8815 "Equals and other math symbols are not allowed in Math Expression interaction when offline"
**Describe the bug**
Equals and other math symbols not allowed in Math Expression interaction when offline.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/explore/16'
 2. Play through exploration with the network disconnected.
 3. In the Math Expression interaction, try to enter "y=2x".
 4. Observe "=" can not be entered.

**Observed behavior**
Eq

[2020-03-11 20:04] kevintab95 opened #8816 "Pencil code interaction does not work offline"
**Describe the bug**
Pencil code interaction does not work offline

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish an exploration with Pencil Code editor interaction.
 2. Play through exploration offline.
 3. Observe that the pencil code interaction does not render.

**Observed behavior**
Pencil code interaction does not work offline.

**Expected behavior**
All interactio

[2020-03-11 20:31] aks681 opened #8817 "Translation progress not shown in Firefox desktop"
**Describe the bug**
When adding a translation, the progress bar for translations in state seems to be not present in Firefox, but is present in Chrome desktop.

Chrome:
![image](https://user-images.githubusercontent.com/22347970/76460999-10576b00-6405-11ea-88b3-05374a1d8e64.png)

Firefox:
![image](https://user-images.githubusercontent.com/22347970/76461024-1b120000-6405-11ea-91a4-a686207e6238.png

[2020-03-11 20:31] aks681 commented on #8817
Added to blocking bugs since it is a UI issue in the exploration editor.

[2020-03-11 20:31] aks681 commented on #8817
@DubeySandeep Can you PTAL?

[2020-03-11 21:24] U8NWXD opened #8818 "e2e_file_upload_features Flake"
Flake seen in:
* [ ] CircleCI Link: https://circleci.com/gh/rohitkatlaa/oppia/291
* [ ] CircleCI on develop: [56952](https://app.circleci.com/pipelines/github/oppia/oppia/10188/workflows/a6fc5065-162b-41c2-a606-fe777dab00bb/jobs/56952)

CircleCI log:
[code]

[2020-03-11 22:18] ghost commented on #8423
Hello, can I work on "Check for proper comment indentation (#6422)"?

[2020-03-11 23:07] h-ARTS commented on #8472
@tyleri *collection-rights-backend-api.service.ts* is going to be merged once @aks681 has approved the PR.

Can I move forward with **read-only-exploration-backend-api.service.ts**?

[2020-03-12 01:51] ayegnb commented on #8817
Hi! I want to work on this issue @DubeySandeep @aks681

[2020-03-12 02:15] kevinlee12 commented on #8423
@ishitarb5 I've assigned you!

[2020-03-12 03:02] tyleri commented on #8472
Assigned!

[2020-03-12 04:34] U8NWXD opened #8819 "Submit Button Highlighted on Hover When Disabled"
**Describe the bug**
Even when the submit button for the multiple item selection interaction is disabled, it is highlighted on hover.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Click through to the multiple item selection interaction
 3. Select only one option

**Observed behavior**
The submit button is disabled as expected (beca

[2020-03-12 04:41] swaat-on-git commented on #4662
True, I agree on the number actually showing severity better. I only have two concerns about it -
1. Will seeing multiple raw numbers overwhelm them? Eg. If Spanish is 432, English 391 and French 116, would it still be simple for them to consume it?
2. This number could be high simply because there are more learners on the exploration, and in relation to all the answers, it could actually be simpl

[2020-03-12 04:42] seanlip commented on #4662
1. I think it's not a problem. I've seen this all the time and never felt fazed, as long as they're sorted in order.

2. I'm not sure I understand the concern here -- could you please elaborate? Is it the same point as (1)?

[2020-03-12 04:45] U8NWXD opened #8820 "Lesson Feedback Cut Off for Vertically Shrunk Windows"
**Describe the bug**
When the browser window is shorter (but still full width) the lesson feedback pop-up modals are cut off by the window.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Click through to the image selection interaction
 3. Shrink the browser window vertically to 500 pixels tall
 4. Click the constructor in the intera

[2020-03-12 05:18] DubeySandeep commented on #7928
(Unassigned @Vinit-Dantkale as per discussion.)

[2020-03-12 07:31] nithusha21 commented on #8812
/cc @brianrodri. On clicking from the creator dashboard, I think it should redirect to the improvements tab. It is incorrectly redirecting to the deprecated feedback tab which has no data. Can you PTAL?

[2020-03-12 07:33] Arnesh07 commented on #4615
I have observed that when I click on a particular planet, the red dot doesn't appear. But when I click on the black background, the red dot does appear. Why is that? Is it programmed that way or is it a bug?
Also, I would like to go with Sean's solution here, finding out the colors that will be superimposed by the dot, and choosing the dot's color to be a contrasting one.
Please let me know if you

[2020-03-12 08:05] h-ARTS commented on #8472
@tyleri **collection-rights-backend-api.service.ts** has been merged. You check this out 👍🎉

[2020-03-12 09:08] brianrodri commented on #8812
@nithusha21 hmm, automatically going to the improvements tab was never intended, when/where did we define the behavior you expect here? Additionally, we should only be taken to the feedback tab if there are some open threads, so that seems like a bug.

[2020-03-12 09:10] brianrodri commented on #8812
Anyway, for now this will be fixed by #8797 which keeps the feedback tab around by default.

[2020-03-12 09:40] donosco99 commented on #8704
@sdhiman99, Sorry I'm working on it.
Could you please look for another issue. Thanks

[2020-03-12 11:20] h-ARTS commented on #8472
Because I found gitter a bit inactive I thought I would ask here, sorry for that.
In **read-only-exploration-backendapi.service.ts**:
[code]
Can anyone tell me why explorationCache is initialized as an Array? Is there a specific reason why not Object?

[2020-03-12 14:41] kevinlee12 commented on #4615
Hmm, @seanlip can you weigh in on the expected current behavior?

[2020-03-12 16:46] bansalnitish commented on #8472
Hey @h-ARTS, do you mind taking some other service please?

I've done migrating `ReadOnlyExplorationBackendApiService and EditableExplorationBackendApiService`. Most of the services like these that are used in other services need some special treatment which I'll teach all of you folks once I open a PR for these two. I'm waiting for this PR [#8807](https://github.com/oppia/oppia/pull/8807) to get

[2020-03-12 16:50] h-ARTS commented on #8472
@bansalnitish Sure, then I'll go for **editable-exploration-backend-api.service.ts**

[2020-03-12 17:12] U8NWXD opened #8826 "Incorrect Highlighted Outline of Continue Button"
**Describe the bug**
After getting a question right, the continue button highlight has an incorrect outline

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Answer the first question correctly

**Observed behavior**
The continue button that appears has an outline that does not match the button.

**Expected behavior**
The outline should

[2020-03-12 17:34] U8NWXD opened #8827 "Feedback Button on Explorations Highlighted After Feedback Modal Closed"
**Describe the bug**
Feedback button remains highlighted after feedback modal closed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/kKqz0ElnAbLw
 2. Click on the menu bar button to leave feedback
 3. Click the button again to close the feedback modal

**Observed behavior**
The button remains highlighted

**Expected behavior**
The button sh

[2020-03-12 18:55] kevintab95 opened #8828 "Unable to type properly in Pencil Code interactions [Mobile]"
**Describe the bug**
On mobile devices, it is impossible to type in anything in the case of Pencil Code interactions. Characters are replaced instead of being appended. eg. If you type in "print" only the last character "t" will show.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with Pencil Code interaction.
 2. Play this exploration on a mobile device.
 3. At the s

[2020-03-12 19:14] nithusha21 commented on #8815
This was actually intended change (it happens when online too). The goal was to disallow = sign from the exp, but apparently, the demo exp wasn't changed.

[2020-03-12 19:15] seanlip commented on #4615
@Arnesh07 I think the expected behaviour is that you should see a red dot regardless of where you click, so the current behaviour seems odd to me.

@kevinlee12 can you answer @Arnesh07's second question? I think it's your call on whether this solution is satisfactory or not (in terms of addressing the original issue while still providing a good user experience).

[2020-03-12 19:23] Arnesh07 commented on #4615
@seanlip If this issue is true, then there might be a problem with all the interactions with image-click-input involved or just this interaction in particular?

[2020-03-12 19:25] seanlip commented on #4615
ImageClickInput _is_ an interaction, so I'm not sure what your question means.

Also, for things like this, I would encourage you to investigate. Start up a local dev server and experiment so that you can figure out what exactly is going on.

[2020-03-12 19:28] Arnesh07 commented on #4615
@seanlip Sorry, I meant all explorations involving this interaction or just the Solar System one.
Yes, I will investigate this issue, and should I open a new issue for this problem?

[2020-03-12 22:50] seanlip commented on #4615
I suggest investigating the issue first. Post your analysis on this thread and then we'll see what to do.

Thanks!

[2020-03-13 03:47] swaat-on-git commented on #3947
@iamprayush
They will always remain mutually exclusive and this is why-
Every click is mapped to a coordianate in the image. This coordinate is first checked if it is part of a pre-defined area.
If yes, the count gets added to that area.
If not, it is an unmapped region and is upto the algorithm to use this click while forming clusters for this region.
Hope this helps!

Also my understanding is th

[2020-03-13 05:21] #8812 closed, assigned to brianrodri

[2020-03-13 05:55] swaat-on-git commented on #4662
We discussed this on call, but putting it here to leave a trail
The second one is that, higher or lower absolute number may not always be indicative of the severity, because the it depends on the number of learners for that exploration. For example, if the exploration has only a 100 overall learners, maybe 30 people would be answering 'Spanish'. In relation the learners of that lesson, it is still

[2020-03-13 06:02] iamprayush commented on #3947
@swaat-on-git I understand now. Thanks for the clarification :)

[2020-03-13 10:22] gg0g commented on #8472
Regarding the **learner-answer-details-backend-api.service.ts** I can't seem to find the controller/directive that is resolving the http request to add $rootScope.apply(), hence i'm getting errors while running the tests, can anyone help?

The error: https://circleci.com/gh/oppia/oppia/39262?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-03-13 10:32] shivansh1010 commented on #8704
Sure @donosco98 , thanks for confirming.

[2020-03-13 11:19] h-ARTS commented on #8472
@bansalnitish Sure, then I'll go for **expression-syntax-tree.service.ts**
@tyleri Please assign me.

[2020-03-13 18:20] vojtechjelinek opened #8833 "Remove event listeners affecting scrolling performance"
Some touch and wheel related listeners can affect scrolling performance, find a way to resolve these either by removing them or by using `preventDefault` in them. These were reported by the Lighthouse Best Practices (https://web.dev/uses-passive-event-listeners/)

[2020-03-13 19:32] seanlip commented on #8472
Thanks @h-ARTS, I've assigned you.

@george-g1 -- I need to defer to @bansalnitish for your question, but just a note: please say "fixes part of #XXX" in your description rather than "fixes #XXX", otherwise GitHub will close this issue once your PR is merged. Thanks!

[2020-03-13 20:03] #8132 closed, assigned to safwan20

[2020-03-13 20:13] iamprayush commented on #8815
I tried replicating this and I observed that this occurs only on Firefox. It works fine on Chrome even with the network disconnected. Perhaps the math editor(guppy) malfunctions on Firefox.
Also, just as an FYI, I'm working on revamping the math expressions interaction and it will eventually not support equations. There will be a separate interaction for equations. Which is why I'm not sure if thi

[2020-03-13 20:44] kevintab95 commented on #8815
Hi @iamprayush, I'm still able to repro this on chrome when the network is disconnected. Just to check, did you have the console open with the network throttling set to "offline"? (I've noticed that if you close the dev console and open it again the network setting switches to "online".)

Edit: Another thing you could try is blocking the call to the guppy symbols.json file. I notcied that this doe

[2020-03-13 21:03] iamprayush commented on #8815
@kevintab95 I rechecked and made sure to have the console open with network throttling set to "offline" but the error was still not reproducible for me.
I tried blocking the symbols file and now the error does occur.
Also, I forgot to mention, [this](https://github.com/oppia/oppia/pull/8648) PR changes the default exploration to one that doesn't need an equation as an answer.

[2020-03-13 21:07] kevintab95 commented on #8815
That's weird, when does the symbols file get fetched for you (just to check are you testing on oppiatestserver.appspot.com)? In my case, it gets fetched when the said interaction loads.

[2020-03-13 21:12] iamprayush commented on #8815
I am testing on oppiatestserver.appspot.com.
And the symbols file gets fetched when the interaction loads for me as well.
What version of chrome are you using?

[2020-03-13 21:16] kevintab95 commented on #8815
In that case, do you think you're still connected to the network (or maybe it is cached)?
I'm using Chrome 79

[2020-03-13 21:24] iamprayush commented on #8815
Ah that's it! It was cached. I cleared it and the error does occur now.

[2020-03-13 21:26] Arnesh07 commented on #4615
I have been investigating this issue, and here is what I have found:
The `getDotLocation` function in `oppia-interactive-image-click-input.directive.ts` fetches where the dot has to be displayed and the corresponding HTML directive displays the dot. I tried various combinations and figured out that the div element (in HTML file) corresponding to the dot doesn't get executed anyhow when the answer

[2020-03-14 01:09] seanlip commented on #8815
I think the behaviour offline and online should be consistent.

If we're forbidding '=', let's do it in both places. If we're allowing it, let's do it in both places. I lean towards forbidding it if that's a reasonable user experience.

@iamprayush does this answer the question you targeted towards me (above)?

[2020-03-14 01:11] seanlip commented on #4615
Thanks for the update, @Arnesh07.

At this point, I would suggest that you dig more. A major part of solving a programming problem is to delve into the code, read it, do some experiments, and understand what is going on. This is the major part of solving this issue, not the coding.

Also, if you can't figure it out, it's fine to try a different issue instead.

Thanks!

[2020-03-14 02:38] lelouchB commented on #8833
@vojtechjelinek I have started working on this
Please assign me this

[2020-03-14 04:48] abhayraghuwanshi commented on #8678
@nishantwrp I am sorry to inform u that I couldn't work on this issue now as my other PRs have some major changes. If this is still free after a few days. I will surely take it

[2020-03-14 06:35] samruddhiDharankar commented on #6458
@aks681 would you point me to the frontend file where this issue is? I am having difficulty finding it

[2020-03-14 06:50] samruddhiDharankar commented on #8687
@iamprayush would you point me to the frontend file where this issue is located?

[2020-03-14 08:58] Tejas2805 opened #8838 "Page takes lot of time to load when switching to translations"
**Describe the bug**
Whenever switching to translations tab, the page doesn't load in first instance. Always need to refresh the page after 1/2 minutes and then only does the page load.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an exploration.
2. The exploration should have 3 to 4 states have feedback, hints, and solution.
3. Click on translation tab.

**Observed behavior**
Page

[2020-03-14 09:04] iamprayush commented on #8815
#8573 was intended to disallow equations/inequalities in the expressions interaction, but since the explorations that currently use equations/inequalities (found by [this](https://github.com/oppia/oppia/pull/8669) audit job) haven't been modified yet, we didn't merge that PR.
But I think the primary issue here is that the guppy symbols.json file needs to get loaded when the exploration starts. Cur

[2020-03-14 09:12] iamprayush commented on #8687
Hi @samruddhiDharankar!
This issue also involves writing an audit job which might be a little tricky since this is your first contribution. I suggest working on a couple of [starter issues](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#-as-a-new-contributor) and then coming back to this one.
Also, make sure to read [this](https://github.com/oppia/oppia/wiki/Contributing-code-to-Op

[2020-03-14 09:14] kevintab95 commented on #8815
I would say option 1 because the symbols required for guppy do not seem to work without the symbols.json file. Loading the symbols file should solve the problem here (ie. having consistent behaviour online and offline) -- is it possible to include this file using webpack @vojtechjelinek?

[2020-03-14 09:17] samruddhiDharankar commented on #8687
Ok. thank you

On Sat, Mar 14, 2020, 14:42 Prayush Dawda <notifications@github.com> wrote:

[2020-03-14 09:22] nishantwrp commented on #8678
@abhayraghuwanshi Ok, No Problem.

[2020-03-14 09:27] sorinagrigorescu commented on #8423
Hi there! Can I work on 'Detect variables that are defined but never used.' (from the JS section) ?

[2020-03-14 11:31] vojtechjelinek commented on #8833
@lelouchB I have assigned you. If you have any questions just ask me.

[2020-03-14 11:36] lelouchB commented on #8833
@vojtechjelinek Will do so

[2020-03-14 11:38] lelouchB commented on #8833
@vojtechjelinek Where can I find the necessary files to change??

[2020-03-14 11:41] vojtechjelinek commented on #8833
I'm not sure, it needs to be investigated. If this is you first Oppia issue I would recommend something easier, for example #4057

[2020-03-14 11:42] lelouchB commented on #8833
I am unable to solve this issue

[2020-03-14 12:05] vojtechjelinek commented on #8815
It seems that the symbols.json file is loaded here https://github.com/oppia/oppia/blob/7c7b0d5c1072eaeb34e7bd9c425eec4a7f3156ff/extensions/interactions/MathExpressionInput/directives/oppia-interactive-math-expression-input.directive.ts#L210
from reading through the Guppy docs (https://guppy.js.org/site/api/guppy-js/2.0.0-beta.1/Guppy.html#.init) it seems like it needs to be an URL thus can't reall

[2020-03-14 13:02] nishantwrp commented on #6240
@vojtechjelinek I think, you closed this by mistake?

[2020-03-14 13:16] vojtechjelinek commented on #6240
@rohitkatlaa When you fix just part of an issue always use "Fix part of" so the issue doesn't get closed. @nishantwrp Thanks, this was done automatically by GitHub because "Fixes" was used.

[2020-03-14 13:33] rainapark opened #8840 "Text Error"
Describe the bug
There is a formatting error in the end exploration interaction

To Reproduce
Steps to reproduce the behavior:

1. Go to https://oppiatestserver.appspot.com
2. Create an exploration
3. Add the end exploration interaction
4. Create a custom exploration ID

Observed behavior
The warning error is missing a space between because and they

Expected behavior
Correct formatting

Screensho

[2020-03-14 13:58] rainapark opened #8841 "Editing text in Preview while creating explorations"
Describe the bug
When using preview while creating explorations, editor text shows up

To Reproduce
Steps to reproduce the behavior:

Go to https://oppiatestserver.appspot.com

1. Create an exploration
2. Add the end exploration interaction
3. Create a custom exploration ID
4. Preview the test and continue to the end of the exploration

Observed behavior
The warning text for custom IDs appears at

[2020-03-14 14:08] rainapark opened #8842 "No Statistics on created Explorations"
Describe the bug
explorations that have been used by students do not show statistics

To Reproduce
Steps to reproduce the behavior:

1. Go to https://oppiatestserver.appspot.com
2. Create an exploration
3. Publish Exploration
4. Complete the Exploration from a separate account
5. Check Statistics Tab

Observed behavior
There are no statistics

Expected behavior
To see statistics on use

Screenshot

[2020-03-14 14:09] rohitkatlaa commented on #6240
@vojtechjelinek I am sorry, I will take care next time.

[2020-03-14 14:22] rainapark opened #8843 "Unresolved Student Answers do not need feedback to publish"
Describe the bug
Explorations without feedback for other answers can be edited and published

To Reproduce
Steps to reproduce the behavior:

1. Go to https://oppiatestserver.appspot.com
2. Create an exploration
3. Do not provide feedback for other answers
4. Publish Exploration

Expected behavior
Inability to publish

Screenshots
image
![image](https://user-images.githubusercontent.com/40774402/76

[2020-03-14 14:29] rainapark commented on #8843
Describe the bug
As an added note, explorations with open unresolved feedback from students can also be edited and published

To Reproduce
Steps to reproduce the behavior:

1. Go to https://oppiatestserver.appspot.com
2. Create an exploration
3. Publish Exploration
4. Log into a separate account and leave feedback
5. Go back into creator account and update/publish without acknowledging feedback

E

[2020-03-14 16:06] Showtim3 commented on #8842
Similar error for me too!
![image](https://user-images.githubusercontent.com/30312043/76685714-e471fa80-663b-11ea-97ee-17c9da0cf014.png)

[2020-03-14 17:33] vikasprashar99 commented on #6081
hey i want to work on this, which files can i work on?

[2020-03-14 17:37] kevinlee12 commented on #6081
This will encompass the entire repository.

[2020-03-14 18:24] h-ARTS commented on #8472
@bansalnitish @nishantwrp I think I need a bit of help in Angular Testing. Are you guys free to discuss on gitter chat?

[2020-03-14 19:08] brianrodri commented on #8423
Hi @sori3006, we'll need you to complete our [contributor's guide](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) before assigning, PTAL!

[2020-03-14 20:13] nishantwrp commented on #8472
@h-ARTS Yup, feel free to ping me!

[2020-03-14 21:06] seanlip commented on #8841
Ah -- I think this one is fine, actually. @rainapark Could you please check that it's impossible to publish the exploration until this error is fixed? The error message is intended to alert the creator that there is a problem, and as long as the exploration is private, I think that is OK. (The idea is that this condition cannot possibly occur in a public exploration.)

[2020-03-14 21:07] seanlip commented on #8843
/cc @brianrodri -- might be related to your future work on the Improvements tab?

[2020-03-14 21:29] nithusha21 commented on #8828
Something similar happened to me with the logic proof interaction. I couldn't type "we have p". It always came up as "wewewewewe" and then I couldn't proceed.

[2020-03-14 21:30] nithusha21 commented on #8826
Oh this happened again! I thought we had fixed this bug once and for all... I'll try to dig through and link what we tried last time.

[2020-03-14 21:31] nithusha21 commented on #8816
/cc @vojtechjelinek this was discovered while testing the offline lesson player critical user journey... could you please look into it?

[2020-03-14 21:34] seanlip commented on #8815
We can't do (2) yet, so I guess we need to do (1).

But, to confirm -- this is an actual bug from long ago? Or was it introduced recently? @nithusha21 was talking about an intended change whose goal was to disallow the = sign from the exp, and I'm a bit confused about whether that change is in develop or not.

[2020-03-14 21:37] nithusha21 commented on #8815
Oh @iamprayush thanks for the clarification. I somehow thought that that PR was merged. Just verified that it isn't. I also retested with the connection online, and it does exactly what @kevintab95 mentioned in the above comments (sorry for the incorrect comment above).

This user journey was added recently, and now is when we caught the bug. I don't know when the bug existed from.

[2020-03-14 21:38] nithusha21 commented on #8802
@mzaman07 @DubeySandeep could you PTAL?

[2020-03-14 21:50] mzaman07 commented on #8599
This issue in Firefox is caused by the browser causing an issue when it tries to load that file. The browser then decides to throw that error via an error code defined [here](https://html.spec.whatwg.org/multipage/media.html#dom-mediaerror-media_err_aborted). This may be a firefox bug that can be triggered by many causes. I think it might be worth testing a completed file download to see if the er

[2020-03-14 22:33] mzaman07 commented on #8802
I tested it on my machine using Chrome Version 80.0.3987.132 (Official Build) (64-bit) on Ubuntu 18.0.4 LTS.
I could not replicate this, I will pull my Chromebook to test Chrome OS.

[2020-03-14 22:44] vojtechjelinek commented on #8816
This is known: #8628 and I think I have even mentioned it in the QA testing doc.

[2020-03-15 00:10] #8385 closed, assigned to nishantwrp

[2020-03-15 00:25] mzaman07 commented on #8802
I was able to look on my chromebook and yeah it's not there.
![Screenshot 2020-03-14 at 6 22 55 PM](https://user-images.githubusercontent.com/9009585/76692818-2e011c00-6621-11ea-94d4-86670b4562c7.png)

- Chrome OS
- Version 80.0.3987.137

I'll try to find out about the differences between the Chrome OS and other OS Google Chrome builds.

[2020-03-15 04:26] kulsoomzahra commented on #6959
can i work on this?@anmolshkl

[2020-03-15 04:34] brianrodri commented on #8843
Hmm I'm confused about this issue. Is this trying to say that you shouldn't be able to create a new interaction without any feedback?

@seanlip I don't think so if my understanding above is correct? The unresolved student answers only block publication when there are actual student answers. The reproduction steps seem to be concerned with the "null" state, when we don't have any answers whatsoever

[2020-03-15 04:49] seanlip commented on #8843
Oh, my bad, I was referring to @rainapark's second comment, but it was in regards to making sure that incoming feedback on the feedback tab is handled prior to next publication (i.e. making unresolved feedback threads a blocking issue). What are your thoughts on this?

Also, @rainapark -- re your first comment, can you give more precise instructions for what the exploration you created looks like?

[2020-03-15 05:13] brianrodri commented on #8843
Ah, hmm I don't think that'd be the best UX. From conversations I've had with @swaat-on-git, we've agreed that blocking creators on every unresolved feedback thread would just tempt them to throw any status at it so they can get a new version out, diminishing the value of what "resolved" means.

@swaat-on-git for thoughts here as well

[2020-03-15 07:03] swaat-on-git commented on #8843
I agree with @brianrodri ! Forcing this on the creator has the risk of them feeling frustrated if they wanted to publish some other changes in the exploration interim. This frustration could make them mark the feedback as resolved just to get their goal done, like Brian pointed out.

The better approach would be to inform them about the consequence of not addressing it, and leaving it up to them t

[2020-03-15 07:33] aks681 opened #8847 "Add frontend validations to the story editor for explorations"
The backend validations for explorations in a story have been completed. This issue aim at tracking the completion of adding frontend validations to the story editor so that explorations not supported by the mobile app aren't saved in a story.

[2020-03-15 08:33] aks681 opened #8849 "Add translation for variable names like story name, topic name etc."
This issue aims to track the addition of translation for variable names and titles like topic name, story name, calssroom name, exploration title etc.
The method to do this is still up in the air and hence a design doc would be required.

[2020-03-15 13:09] bijjybox commented on #8666
Hi, I would like to take this up.

[2020-03-15 15:21] bansalnitish commented on #8472
Thanks @nishantwrp for stepping up! Let me know if you guys need any help.

[2020-03-15 16:01] kevintab95 commented on #8666
Hi @apsychogirl, sure, but first can you please try to reproduce this error or provide a reasonable hypothesis explaining how this error might have occured and discuss how it can be fixed? Thanks!

[2020-03-15 17:42] sseth99 commented on #7643
@vojtechjelinek I want to work on this issue. Can I be assigned a part of this issue? Thanks:)

[2020-03-15 17:46] #8614 closed, assigned to donosco99

[2020-03-15 18:07] jameesjohn commented on #7643
Hi @sseth99, work on this issue is currently paused.
You might want to check out other issues like https://github.com/oppia/oppia/issues/4057

[2020-03-15 18:08] jameesjohn commented on #7643
Actually, I think you can work on it.
Go ahead @sseth99.

[2020-03-15 18:09] jameesjohn commented on #7643
Hi @rohitkatlaa are you still working on this?

[2020-03-15 18:25] sseth99 commented on #7643
Thanks @jameesjohn , I wanted to ask which part of /extensions should I work on?

[2020-03-15 18:34] jameesjohn commented on #7643
@sseth99 You can work on extensions/objects

[2020-03-15 18:37] sseth99 commented on #7643
I guess that's already been fixed in PR #8590?

[2020-03-15 18:45] jameesjohn commented on #7643
Thanks
I've updated the main comment.
You can work on the other

[2020-03-15 18:53] sseth99 commented on #7643
Thanks @jameesjohn :)  But PR #7643 makes changes to almost all the files in /extensions/rich_text_components except '/extensions/rich_text_components/Video/directives/oppia-noninteractive-video.directive.ts' ; so I'll be working on this one, right?

[2020-03-15 21:32] h-ARTS commented on #8472
@nishantwrp I texted you on gitter.

[2020-03-15 22:06] Lokesh2703 commented on #5476
@DubeySandeep I am new to oppia. Can someone tell me what to do in this issue?
If I am not wrong, do I have to write a function to check if there is a docstring missing?

[2020-03-15 22:57] import-keshav commented on #8038
Hey @vikasprashar99 sorry for the late reply.
Did you still need this file to work?

[2020-03-16 01:59] #8840 closed, assigned to nishantwrp

[2020-03-16 04:18] vikasprashar99 commented on #8038
@import-keshav not now

[2020-03-16 04:19] U8NWXD commented on #7427
Deassigning @jkoj25 from `core/domain/state_domain.py` due to inactivity. Feel free to request to be assigned to a task again if you would like to contribute!

[2020-03-16 04:25] U8NWXD commented on #8472
Deassigned @adityalpha from `editable-topic-backend-api.service.ts` due to inactivity. Please message if you are still working on it!

[2020-03-16 07:50] kiriakivel commented on #7450
Hello! Could I please work on `jobs_test.ContinuousComputationTests ` ?

[2020-03-16 07:55] prajwal2100 commented on #8819
I would like to work on this issue
@U8NWXD

[2020-03-16 08:15] iamprayush commented on #7450
@kiriakivel Go ahead! I've assigned you.

[2020-03-16 09:39] prajwal2100 commented on #8819
@U8NWXD  sir not able to open it from the main page of oppia
which opens up from
python -m scripts.start
sir can u guide me how to reach there
i have already made the changes but cant find it

[2020-03-16 10:47] prajwal2100 commented on #8681
i would like to work on this issue can is it still open??
does it haver any open pr's

[2020-03-16 10:58] prajwal2100 commented on #8194
can I work on this issue ?? is it still open
can I work on it

[2020-03-16 11:02] prajwal2100 commented on #8191
can i work on this issue ???
is it open

[2020-03-16 11:08] prajwal2100 commented on #7712
can i work on this issue ??
i will be working on
if the text is lengthy then the button be in place

[2020-03-16 11:18] kevintab95 commented on #7712
Hi @prajwal2100, can you please finish the "Contributor Survey" before picking up an issue? It will help us assign you a mentor who will help you make your first contributions.

You can find the link to the contributor survey in the welcome email we sent you. Thanks!

[2020-03-16 13:24] #8650 closed, assigned to marianadasilvadev

[2020-03-16 15:10] Lokesh2703 commented on #6772
@seanlip  I would like to work in this issue. I have followed all the steps you mentioned above.

[2020-03-16 15:53] jameesjohn commented on #7643
#7643 is this issue. I think you linked to the wrong PR @sseth99 ?

[2020-03-16 16:10] sseth99 commented on #7643
Ah, yes; I am sorry, I the PR is #8632 . As I mentioned before it makes changes to almost all the files in /extensions/rich_text_components except '/extensions/rich_text_components/Video/directives/oppia-noninteractive-video.directive.ts' ; so I'll be working on this one, right?

[2020-03-16 18:49] seanlip commented on #8681
Hi @prajwal2100, please see my advice to @itolimaesther above. It applies here too. Thanks!

[2020-03-16 18:51] U8NWXD commented on #6240
@TikuGaelle would you like to take up one of these tasks?

[2020-03-16 19:03] U8NWXD commented on #8819
@prajwal2100 The reproduction instructions I included are for the test server, which has a few explorations pre-loaded. To reproduce this locally, you will need to create an exploration with a multiple item selection interaction and then play through that exploration. Does that help?

[2020-03-16 19:16] brianrodri opened #8855 "Give a developer option to run pre-push hooks as pre-commit hooks"
My preferred workflow is having hooks run before each commit, instead of before pushing. While I understand why doing it before each push is better for most developers, it'd be great if we could expose a configuration option to make our checks a pre-commit hook.

**Describe the solution you'd like**
A `scripts.setup` option that installs our pre_push_hook as a pre_commit_hook instead. Something li

[2020-03-16 19:17] brianrodri commented on #8855
@kevinlee12 @seanlip WDYT?

[2020-03-16 19:18] seanlip commented on #8855
Hm, could you just set this up locally for yourself? I don't think I've ever heard a similar request from others so I am hesitant to implement this as a more general thing.

[2020-03-16 20:18] Lokesh2703 commented on #6772
@seanlip  To change creator_dashboard to creater-dashboard, there are so many places where it needs to be changed. Can I take up the task and change for each url pattern observed till now.

[2020-03-16 20:29] Lokesh2703 commented on #7450
Hi @kevinlee12 , I would like to work on `draft_upgrade_services_test.DraftUpgradeUnitTests`

[2020-03-16 20:29] seanlip commented on #6772
Please see my advice to @Raghav10026 above. It applies in this case too. In particular, I suggest trying one of the other starter issues first that are recommended in https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do.

I have also removed the "good first issue" tag from this one to avoid confusion.

Thanks!

[2020-03-16 20:41] Lokesh2703 commented on #7176
@YashJipkate , I would like to work on ` core/templates/dev/head/domain/topic/SubtopicPageContentsObjectFactory.ts`, can you please assign it to me?

[2020-03-16 21:03] Lokesh2703 commented on #7176
@YashJipkate , It seems there are no underscore dicts in `core/templates/dev/head/domain/exploration/AnswerStatsObjectFactory.ts`

[2020-03-16 22:18] TikuGaelle commented on #6240
Hi @U8NWXD, sure i would be glad to take it up...  Though i'm pretty much new to testing and open source, but i'll try my best at it...

[2020-03-17 02:36] kevinlee12 commented on #8855
I'm not a fan of this since our pre push hooks are quite heavy.

[2020-03-17 03:45] #7335 closed, assigned to brianrodri

[2020-03-17 06:17] prajwal2100 commented on #8681
@seanlip I have already done with all the setting up and would like to work on this issue because I have solved a similar type of issue before

[2020-03-17 06:23] seanlip commented on #8681
OK, thanks. Actually -- I just dug into this a bit and found it was a content issue, not a technical one. It's now fixed.

So, you might need to pick another one anyway (and I would strongly recommend one of the existing starter issues on the "getting started" page). Thanks!

[2020-03-17 06:23] #8681 closed, assigned to seanlip

[2020-03-17 09:48] h-ARTS commented on #8472
@nishantwrp Waiting for your response on gitter, please help 🥺

[2020-03-17 10:16] Lokesh2703 commented on #8423
Hi, @kevinlee12 , I would like to take up `Add newline check at end of file` in others section.

[2020-03-17 10:59] nishantwrp commented on #8472
@h-ARTS Replied you on gitter.

[2020-03-17 15:33] ankita240796 commented on #8838
@DubeySandeep @mzaman07 can anyone of you please own this or assign it to the right person? Thanks!

[2020-03-17 15:34] ankita240796 commented on #8828
@BenHenning @rt4914 can you please own this / assign it to the right person? Thanks!

[2020-03-17 15:36] ankita240796 commented on #8827
@brianrodri can you please own this / assign it to the right person? Thanks!

[2020-03-17 15:37] ankita240796 commented on #8820
@brianrodri can you please own this / assign it to the right person? Thanks!

[2020-03-17 15:38] ankita240796 commented on #8826
@nithusha21 assigning you once - please assign to the right person who added the fix last time (if it's not you :P). Thanks!

[2020-03-17 15:40] ankita240796 commented on #8819
Hey @prajwal2100, this is kind of urgent since it is a blocking bug. Please take this up only if you would be able to get a quick fix. Otherwise choose another good first issue to get started. Thanks!

[2020-03-17 16:55] brianrodri commented on #8820
I think @nithusha21 has better knowledge over the feedback stuff in-players? Tentatively assigning to him!

[2020-03-17 16:58] brianrodri commented on #8827
Likewise, I'm not as familiar with the exploration player so I think @nithusha21 should know more

[2020-03-17 20:51] shivansh1010 commented on #8423
Hi @kevinlee12,
I would like to work on `Add lint check to ensure require(…) statements are alphabetized (#6748)` in JS\TS section. Could you please assign it to me. Thanks.

[2020-03-17 23:15] sorinagrigorescu commented on #8423
Hi @brianrodri , done! Please let me know if I can still take up said task. Thanks!

[2020-03-18 00:55] mzaman07 commented on #8838
I'm going to assume that this is the " Loading ..." screen you see. Is this correct? I will double-check this.

[2020-03-18 01:32] mzaman07 commented on #6762
I'll see if I can use the CKEditor for this and write up a doc.

[2020-03-18 03:16] #7643 closed, assigned to vojtechjelinek

[2020-03-18 05:55] prajwal2100 commented on #8819
@ankita240796  i am working on it
and will be done by tonight

[2020-03-18 05:59] DubeySandeep opened #8865 "Reduce e2e test flakiness on travis/circleCI"
## Overview

Currently, all the e2etest fails flakily and the contributor has to restart the test to pass the build. This issue focuses on fixing a few e2e test structures which can help to reduce the flakiness as documented in [this doc].

Th following measures will help us to reduce the e2e test flakiness:

- [ ] Items in a list should be accessed via name/field instead of index.
  - Reasons:

[2020-03-18 11:23] shrutisatish00 commented on #8038
Hi, would like to take  core/templates/components/entity-creation-services/exploration-creation.service.ts. Thanks

[2020-03-18 13:35] prajwal2100 commented on #8819
![Screenshot from 2020-03-18 19-02-59](https://user-images.githubusercontent.com/48951327/76966047-5e132c80-694b-11ea-9f51-250c380f5237.png)

getting these errors while pushing the code

[2020-03-18 17:54] nishantwrp commented on #7004
@vojtechjelinek Can you please elaborate about which script tags are in the scope of this issue and the GSoC project `Solve all typescript and webpack issues in the codebase`? Thanks!

[2020-03-18 19:29] iamprayush commented on #8423
@Lokesh2703 @sdhiman99 @sori3006 Go ahead, I've assigned you!

[2020-03-18 21:10] kevintab95 opened #8869 "Add a lint check to forbid the use of innerHTML"
Usage of `innerHTML` should be avoided because it is susceptible to XSS attacks. Add a lint check to prevent `innerHTML` from being used in the codebase

[2020-03-19 00:42] U8NWXD commented on #6240
@TikuGaelle great! Which of the unclaimed tasks at the top would you like to work on? If you are looking for something simpler, I'd suggest `The various sections in the misc tab should work as expected.`

[2020-03-19 00:47] U8NWXD commented on #8819
@prajwal2100 Have you merged in the latest `develop`? There were some frontend test issues that were recently resolved, so make sure you have those fixes merged in

[2020-03-19 01:04] dchen97 opened #8871 "Log Exploration ID with PlayerFinishExploration Google Analytics Event"
When logging a Google Analytics event for `PlayerFinishExploration` - be sure to also include a parameter with the exploration ID so that we can better analyze the lessons that users are completing more often.

[2020-03-19 01:07] dchen97 opened #8872 "Log Exploration and Card IDs with PlayerNewCard Event"
**Is your feature request related to a problem? Please describe.**
Our analysts would like to better measure and understand users' progress through a lesson, and hopefully in a way that we can easily see from Google Analytics.

**Describe the solution you'd like**
In order to do so easily through Google Analytics, we'd like to have the Exploration and Card IDs passed as parameters to Google Analyt

[2020-03-19 03:17] #8709 closed, assigned to rohitkatlaa

[2020-03-19 05:46] #8586 closed, assigned to nobody

[2020-03-19 06:53] srijanreddy98 commented on #8472
@tyleri can you assign me editable-skill-backend-api.service.ts

[2020-03-19 08:04] nishantwrp commented on #8472
@srijanreddy98 Done!

[2020-03-19 15:07] nithusha21 commented on #8782
I agree... Can we compile a list of places where this needs to be fixed? Then we can plan as to how to proceed. @marianazangrossi would it be possible for you to list it out?

[2020-03-19 15:13] nithusha21 commented on #8820
Not really, but I can try to look into this...

[2020-03-19 15:15] #8789 closed, assigned to abhayraghuwanshi

[2020-03-19 16:51] nithusha21 commented on #6159
Hi all, just an update. This job has been successfully tested on the backup server data and we will be releasing it this month.

[2020-03-19 16:53] nithusha21 commented on #8802
@mzaman07 any updates? A fix needs to be in by the weekend as we need it for the release.

[2020-03-19 16:56] nithusha21 commented on #8819
Just to clarify, it happens for all interactions (I tried for a few others). I think it is a problem with the submit button itself. @aks681 could you take a look at this (Asking as this affects learner's exp).

[2020-03-19 16:57] nithusha21 commented on #8828
Hi @BenHenning @rt4914 any updates? Also, @kevintab95 @aks681 any ideas as this would hamper learner experience on mobile

[2020-03-19 17:00] nithusha21 commented on #8838
I think that should be the page he gets stuck on. @Tejas2805 could you clarify? Also, can you confirm that there were no console errors during the times when it didn't load currently?

[2020-03-19 17:01] nithusha21 commented on #8838
Also, I just tried this and I confirm the exact behaviour mentioned in the issue description. I don't see the page load unless I reload. This is an issue that needs to be fixed by the release. @mzaman07 can you please prioritize this and fix it by the weekend?

[2020-03-19 18:11] U8NWXD commented on #8826
Note that this does not happen on Firefox

[2020-03-19 18:35] seanlip commented on #6159
Thanks @nithusha21! Should we close this issue then?

[2020-03-19 18:39] nithusha21 commented on #8827
Just an update, I see the same behavior on prod (oppia.org). I think the behavior is odd, but not necessarily blocking.

I see a fix wherein I have to make a variable that tracks the state of the background (should it be white or not) and based on that, the style is applied. @aks681 @seanlip @ankita240796 @U8NWXD what would your advice be? Should I consider this blocking or not (considering this i

[2020-03-19 18:47] seanlip commented on #8827
I think we should fix, or at least attempt a fix. Not keen on the method you proposed though, seems like it might potentially be more complicated than necessary.

Instead, see if you can figure out what normally triggers the unhighlighting for other menu buttons, and why this isn't triggering it -- let's discuss an approach once we know what is going on. Thanks!

[2020-03-19 19:20] nithusha21 commented on #8827
I did look into it further... It happens for all of the navbar icons. What is happening is, all of these are coded up as a tags (anchor tags). And the :active or :hover is what is used to color the background white. So on first click, it stays white only when the mouse is within the button, and if you click again when it is white, the :active tag remains on the element (as per the inspect element)

[2020-03-19 19:22] nithusha21 commented on #6159
I thought I'll close it post successful run on the main server and making sure the issue doesn't persist. It's assigned to me anyway, and I will close it after I run it... Does that sound ok?

[2020-03-19 20:36] seanlip commented on #6159
OK, sounds good! Thanks.

[2020-03-19 20:44] seanlip commented on #8827
Got it, that makes sense to me now, thanks! In that case let's go ahead and make a fix along the lines of what you said. Try and keep the complexity contained as much as possible (e.g. have the state be maintained in just one place and not leak to a bunch of different files).

[2020-03-19 21:03] kevintab95 commented on #8828
Actually, I'm not sure if this can be fixed at our end. Tried typing on mobile [here](https://frame.pencilcode.net/edit/frame#text=%23%20Write%20a%20goodbye%20to%20me%2C%20below.&blocks=0&secret=QYWJXEKRNYTGYWASLMDXWIVZPZCMFLWIIIVIIAWFJXOMUEGPPSDGTRGEYJBGAQFU) and got the same results. This is the URL we use within the iframe for pencil code interaction.

[2020-03-19 21:05] seanlip commented on #8828
Could you file a bug on the pencilcode github repo?

Also I think we should start a LaCE project to auto-designate some explorations as "desktop-only" based on the interactions they contain -- wdyt?

[2020-03-19 21:40] kevintab95 commented on #8828
Raised an issue [here](https://github.com/PencilCode/pencilcode/issues/251).

Yes, that makes sense. I'll discuss this with the rest of the LaCE team during our meeting.

[2020-03-19 21:51] DubeySandeep opened #8876 "E2e test for the admin page is failing unexpectedly"
E2e test for the admin page is failing unexpectedly sometimes, check the error log below:

<summary>Error log</summary>
1) Admin Page should allow assigning roles and show them
<pre>
  Message:
    Expected 1 to equal 2.
  Stack:
    Error: Failed expectation
        at /home/circleci/oppia/core/tests/protractor_utils/AdminPage.js:260:40
        at ManagedPromise.invokeCallback_ (/home/circleci/op

[2020-03-19 22:37] nishantwrp opened #8877 "Create a ActionObjectFactory for DebugInfoTrackerService"
**Describe the bug**
Currently, there is no proper type of action i.e. what can an action be in DebugInfoTrackerService. There should be a separate ActionObject and update the code to only use that. So, a proper type for `action` can be defined.

[2020-03-19 22:38] nishantwrp commented on #8877
@kevintab95 As you created this service, I needed your help in understanding what exactly is this service used for, and in general what is an action. Thanks

[2020-03-19 23:43] kevintab95 commented on #8877
Hi @nishantwrp, it was initially introduced as a utility tool to capture the sequence of steps the user took before an error occured. This is so that we have more info to debug the error.

I don't think it has a clear "type" but we could standardise it. Considering that #6921 (the issue for which we introduced this service) is closed, we could remove the current usages of it -- if it makes things

[2020-03-19 23:45] seanlip commented on #8877
Just wanted to chime in and say that getting rid of it entirely is probably preferable if it's not needed any more -- that is a perfectly acceptable way to solve the issue.

[2020-03-19 23:47] kevintab95 commented on #8877
Yep, I agree.

[2020-03-20 00:19] TikuGaelle commented on #6240
Okay @U8NWXD. I'll check it out. Thanks

[2020-03-20 01:42] mzaman07 commented on #8876
I noticed one thing about this issue. When I ran the test without the flags of `--skip-install` and `--skip-build`, it seems to work.

[2020-03-20 04:11] bansalnitish commented on #8015
Hey @hmtj99, could you please let me know your progress on this?

[2020-03-20 04:11] srijanreddy98 commented on #8472
@nishantwrp have you migrated collection-creation-backend-api.service.ts?

[2020-03-20 04:25] nithusha21 commented on #8828
Cool, based on this discussion does it make sense to mark this as non
blocking?

On Fri, Mar 20, 2020, 03:10 Kevin Thomas <notifications@github.com> wrote:

[2020-03-20 06:53] #8743 closed, assigned to nobody

[2020-03-20 07:16] hmtj99 commented on #8015
I am also not working on the file, Please unassign me.

On Fri, Mar 20, 2020 at 9:41 AM Nitish Bansal <notifications@github.com>
wrote:

[2020-03-20 09:42] nishantwrp commented on #8877
OK, So should I make a PR removing this service completely from the codebase?

[2020-03-20 12:34] amanbora opened #8880 "Error with cancel on "Insert Mathematical Formula""
**Describe the bug**
Clicking on the cancel button while adding a Mathematical Formula component throws an error in the console.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Go to the exploration creator page'
 2. Click on 'Click on the first card and insert a component a mathematical expression "
 3. Open up the browser console
 4. Without changing anything, click on cancel and o

[2020-03-20 13:23] akeeoaobh commented on #8038
Hey. I'd like to work on
core/templates/pages/exploration-editor-page/services/state-tutorial-first-time.service.ts
Thanks!

[2020-03-20 15:55] #8808 closed, assigned to kevintab95

[2020-03-20 16:42] sseth99 commented on #6367
@aks681 can you please guide how to access the topics and skill dashboard on the localhost? Thanks!

[2020-03-20 18:32] amanbora commented on #6458
@aks681 can I work on this issue? I have gone through the codebase and worked on issue #8565 and I think I can fix it.

[2020-03-20 18:56] kevintab95 opened #8882 "Collection suite e2e tests seem to be failing"
Collection suite seems to be failing on some recent PRs. Here's the error log:
[code]

The following job seems to be failing with a slightly different stack trace:
Please see: https://travis-ci.org/github/oppia/oppia/jobs/664550730?utm_medium=notification&utm_source=github_status

[2020-03-20 20:18] U8NWXD opened #8883 "classroomPage E2E Test Flake: Other element would receive click"
Flake seen in:
* [ ] Failure occurred on Travis-CI Job [664660371](https://travis-ci.org/github/oppia/oppia/jobs/664660371) for PR #8878 . I have been unable to reproduce this failure locally.

Travis-CI Stack Trace:
[code]

[2020-03-20 20:39] U8NWXD opened #8884 "Collections E2E Test Flake: No Element Found Using Locator by.cssContainingText("option", "admin")"
Occurred when running:
[code]

Local Terminal Output:
[code]

[2020-03-20 20:43] U8NWXD commented on #8882
I am also seeing this on job [664660372](https://travis-ci.org/github/oppia/oppia/jobs/664660372)

[2020-03-20 21:13] DubeySandeep commented on #8882
I tried creating collection and found that saving draft takes a lot of time (stucks at "Saving..." for more than 10 sec.) and enables the "publish" button with private explorations. I'm looking in that direction. @kevintab95, have you find anything buggy in e2e test structure?

[2020-03-20 21:21] kevintab95 commented on #8882
The issue seems to be related to the angular digest loop behaving weirdly in the collection editor page.. If you try to add a bunch of explorations in the collection editor and click save, the backend call seems to complete but the bound values in the HTML does not change. Noticed that it changed when I clicked anywhere on the screen, thanks to click listener on document  in top-navvigation-bar.di

[2020-03-20 21:22] kevintab95 commented on #8882
Tagging @bansalnitish for comments/ideas.

[2020-03-20 21:30] kevintab95 commented on #8882
@DubeySandeep Are you sure about this? The publish button does not get enabled unless it is public, right?

Looking at the code, we enable the publish button if isCollectionPublishable() is true.
![image](https://user-images.githubusercontent.com/11008603/77207667-f95cfb00-6b1f-11ea-894a-0e39a307e6dc.png)

The conditions for which are:
[code]

Edit: Sorry, I misread. I thought you were refering to

[2020-03-20 23:03] amanbora commented on #6458
@aks681 the pencil code editor is embedded using an api, in order to make changes we need to locally make a new css and js file for the editor. Should I continue with it?

[2020-03-20 23:36] U8NWXD opened #8888 "Topic and Story Editor E2E Flake: 401 Unauthorized Error"
Encountered when running:
[code]

Local stack trace:
[code]

[2020-03-21 00:26] U8NWXD opened #8890 "Flaky Backend Test: creator_dashboard_test.CreatorDashboardStatisticsTests"
Occurred on Circle-CI job [U8NWXD/oppia #135](https://circleci.com/gh/U8NWXD/oppia/135) for PR #8889 .

This test passed locally.

Circle-CI Log:
[code]

[2020-03-21 00:45] U8NWXD opened #8891 "Flake in Embedding E2E Test: stateContentEditor Timeout"
Flake occurred in:
* [ ] Job [U8NWXD/oppia #143](https://circleci.com/gh/U8NWXD/oppia/143) for PR #8889 . Test passes locally.
* [ ] Also occurred in CircleCI job [43988](https://circleci.com/gh/oppia/oppia/43988) on `develop` (c34b7b2)
* [ ] It occurs also on Job [46573](https://circleci.com/gh/oppia/oppia/46573?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) i

[2020-03-21 03:15] mzaman07 commented on #8802
Hi @nithusha21 there are 2 fixes a short-term fix and a long-term fix.

The short-term fix will fix this ticket.

The long-term fix requires a little bit more depth and understanding of complexity of the issue and resolve it that way.

The Chrome OS and all other OS Google Chrome builds have varying versions of speechSynthesis voices. The en-US and en_US (for mobile) are supported widely through e

[2020-03-21 03:37] srijanreddy98 commented on #4057
@seanlip the spec for the service TopicViewerBackendApiService.ts was migrated by @bansalnitish in the pr #8427.

[2020-03-21 05:05] prajwal2100 commented on #8194
![screencapture-localhost-8181-splash-2020-03-21-10_29_36](https://user-images.githubusercontent.com/48951327/77219844-9b500800-6b5f-11ea-8d73-bd702ac52086.png)

I have made the splash page as required and  also made a pr plz do look at it

[2020-03-21 06:34] felicityzhao99 commented on #4057
Hi @DubeySandeep, can I take domain/objects/ UnitsObjectFactory.ts?

[2020-03-21 14:48] vinayakvvg commented on #8472
I want to work on this "topic-rights-backend-api.service.ts" can it be assigned to me? @tyleri

[2020-03-21 16:20] sudiptapradhan1181 commented on #8472
Hi @vinayakvvg . Actually I started working on topic-rights-backend-api-service and have already completed few parts of it. But i forgot to get assigned. Can you please consider any other option. I apologise for any inconvenience caused. Can you please reconsider. Thanks!

[2020-03-21 16:30] adityasvat commented on #8472
@U8NWXD Hey can you reassign this file to me? It's almost done.

[2020-03-21 16:41] nithusha21 commented on #8838
Would it be related to https://github.com/oppia/oppia/issues/8521 ? Can you take a look?

[2020-03-21 16:51] nithusha21 opened #8895 "The feature to subscribe to a creator isn't very intuitive to reach"
**Describe the bug**
This bug was reported during the release testing for March 2020, where Divya spent a long while trying to figure out how to subscribe to a creator, and finally didn't actually manage to do it using the UI. The current flow is to use the author profiles in the player page (bottom left) to go to the author's profile and then subscribe to them. She mentioned that the author's pro

[2020-03-21 16:56] vinayakvvg commented on #8472
Hi @nishantwrp , @tyleri can you assign me some other file for migration as topic-rights-backend-api.service.ts is WIP.

[2020-03-21 17:01] #8815 closed, assigned to kevintab95

[2020-03-21 17:16] felicityzhao99 commented on #4057
Hi @marianazangrossi @kevinlee12 can you please assign me domain/objects/ UnitsObjectFactory.ts?

[2020-03-21 17:30] sudiptapradhan1181 commented on #8472
Thanks @vinayakvvg . Can someone please assign me the topic-rights-backend-api-service. Thanks!

[2020-03-21 17:44] adityasvat commented on #8472
Hey @bansalnitish @nishantwrp I'm working on migrating 'EditableTopicBackendApiService'. 1 out of the 10 front-end tests failed. Am I missing something here?
![oppiagit1](https://user-images.githubusercontent.com/20019125/77232700-aa1ed500-6bc8-11ea-8839-e67d1bab7eca.png)
![oppiagit2](https://user-images.githubusercontent.com/20019125/77232703-b145e300-6bc8-11ea-8589-4578e7dbcf9a.png)

[2020-03-21 18:16] kevinlee12 commented on #4057
@felicityzhao99 which one would you like?

[2020-03-21 18:23] felicityzhao99 commented on #4057
hey @kevinlee12 domain/objects/ UnitsObjectFactory.ts, thanks:)

[2020-03-21 18:26] kevinlee12 commented on #4057
@felicityzhao99 I've assigned you!

[2020-03-21 18:26] kevinlee12 commented on #4057
@felicityzhao99 I've assigned you!

[2020-03-21 18:35] felicityzhao99 commented on #4057
Thanks Kevin! Really helpful!

[2020-03-21 18:45] nithusha21 commented on #8827
So I tried what I outlined above and ran into a couple of problems.
- Firstly, it happens for every navbar button which opens something (modal, popover, etc) up when clicked. I think we need to generalize this solution.
- The specific button which is mentioned in this issue opens a popover, which is handled entirely by uibootstrap. I can't do something like "if popover is open or hover, highlight

[2020-03-21 19:14] aks681 commented on #8827
I looked into this now, it seems just moving the `.nav-link:focus` css style above the `.nav-link:hover` style in oppia.css giving it the `color:white;` style fixed this.
Though, is this something that's fine? As, not sure if it will cause issues elsewhere.
If it is, this might be a general fix for a lot of buttons as most of them use this class.

[2020-03-21 19:27] mzaman07 commented on #8838
Working on it right now. I suspect a couple of things, namely AngularJs's digest cycle is being interfered with or dropped when the page navigation. The "loading ..." is shown when the value is `navBar === null` under the `editor-navbar-breadcrumb-directive`. I suspect it is something asynchronous.

I did try triggering $rootScope.$apply() to trigger the AngularJs again to test if it works like th

[2020-03-21 19:39] ankita240796 commented on #8838
I am able to reproduce this as well (MacOS, Chrome browser).

I also see a console error:

[code]

Screenshot:
<img width="1680" alt="Screenshot 2020-03-22 at 1 05 43 AM" src="https://user-images.githubusercontent.com/15226041/77235184-b1021380-6bd9-11ea-8df2-be1c968c80dc.png">

I am not sure if the console error is related but I think that this is due to #8521 as mentioned by @nithusha21.

[2020-03-21 19:42] Tejas2805 commented on #8838
Hey, sorry for the late reply. Was going back home due to COVID-19 situation.

I get stuck on the Loading page.

No console errors at that point of time.

[2020-03-22 00:59] U8NWXD opened #8901 "Backend Tests Timeout"
The backend tests on Circle-CI timed out for some reason in [U8NWXD/oppia #161](https://circleci.com/gh/U8NWXD/oppia/161) for PR #8889 .

[2020-03-22 01:08] U8NWXD opened #8902 "Learner E2E Test Flake: Completed Collection Section Tab Timeout"
Flake occurred on Travis-CI job [665069466](https://travis-ci.org/github/oppia/oppia/jobs/665069466) for PR #8889 .

Travis-CI Log:
[code]

[2020-03-22 02:21] seanlip opened #8903 "Dropdown not closing properly when "adding another" feedback group."
**Describe the bug**

I ran into this bug while editing a lesson. After selecting "Save and Add Another" in the "Add Response" dropdown, the rule selector goes wonky and can't be closed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration. Add a TextInput interaction to the first state.
 2. Choose any rule, type some feedback, and click **Save and Add Another** in the "

[2020-03-22 02:21] seanlip commented on #8903
/cc @nithusha21 @aks681 Flagging this as blocking -- it's impeding creation on the production server.

[2020-03-22 02:24] seanlip opened #8904 "Destination card name is missing in rule editor preview"
**Describe the bug**
After an answer group is saved, and a destination card is specified, the destination card name does not show up in the answer group preview. This makes it difficult to validate that the answer groups in a lesson are pointing to the right places.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. Add an interaction to the first state, and add a

[2020-03-22 04:12] #8817 closed, assigned to DubeySandeep

[2020-03-22 08:47] #8819 closed, assigned to aks681

[2020-03-22 14:27] bansalnitish commented on #8472
Hi @sudiptapradhan1181, I've assigned you `topic-rights-backend-api-service`. Please go ahead!

[2020-03-22 14:32] bansalnitish commented on #8472
Hi @adityalpha, I've assigned you 'EditableTopicBackendApiService' (it was removed from your name).

The code in the test file looks fine to me, could you please send me the test file and the corresponding service file? Use pastebin or any online resource and create the links for these two files, I'll copy paste and check what's wrong.

Please let me know if you need any other help.

Thanks!

[2020-03-22 15:26] adityasvat commented on #8472
Thank you @bansalnitish. Here are the two files -
[editable-topic-backend-api.service.ts](https://pastebin.com/6ekWx3tD)
[editable-topic-backend-api.service.spec.ts](https://pastebin.com/F2X9sm9H)

[2020-03-22 16:08] U8NWXD commented on #8472
@adityalpha I've reassigned you!

[2020-03-22 16:15] U8NWXD commented on #8758
This flake was also seen in Travis-CI Job [665242466](https://travis-ci.org/github/oppia/oppia/jobs/665242466) on PR #8896 .

[2020-03-22 16:36] abhayraghuwanshi commented on #8472
@adityalpha
[code]
try this instead of req.flush

[2020-03-22 18:31] vinayakvvg commented on #8472
Hi @abhayraghuwanshi , @bansalnitish can you assign playthrough-issues-backend-api.service.ts to me

[2020-03-23 01:00] adityasvat commented on #8472
@abhayraghuwanshi Hey, thanks! I gave this a try but it did not help, unfortunately. This one test is still failing.

[2020-03-23 01:29] felicityzhao99 commented on #4057
Hi @kevinlee12 I'm almost done, with the coverage of 99.3%. I got stuck on testing one function from domain/objects/ UnitsObjectFactory.ts:
<img width="718" alt="Screen Shot 2020-03-22 at 6 17 24 PM" src="https://user-images.githubusercontent.com/32212612/77270890-6e3c4c00-6c6a-11ea-906d-cf5e5762d777.png">
This function is basically about going to create the currency units from a list in objects-d

[2020-03-23 03:03] seanlip commented on #4057
Frontend tests just need to test the public API, not internal functions. In this case, one thing you can do is perhaps to swap/mock the value of CURRENCY_UNITS in the test itself.

[2020-03-23 03:06] #8888 closed, assigned to nobody

[2020-03-23 04:50] #8877 closed, assigned to nishantwrp

[2020-03-23 07:18] #8625 closed, assigned to Hudda

[2020-03-23 08:48] felicityzhao99 commented on #4057
Hi @seanlip, thanks for your comment! The thing is, I find it's weird when I use the code coverage report. After mocking the CURRENCY_UNITS, I find the coverage is still 99.3%, but if I refresh the page, it goes to 100%. I checked several times, but still goes like that.
<img width="694" alt="Screen Shot 2020-03-23 at 1 45 45 AM" src="https://user-images.githubusercontent.com/32212612/77298366-10c

[2020-03-23 08:51] bansalnitish commented on #8472
Hi @vinayakvvg, I've assigned you that file. I see you've already issued a PR for that which is OK, but ideally please wait for the file to be assigned to you. Thanks!

[2020-03-23 08:52] seanlip commented on #4057
I'm afraid I don't know, sorry. You'll need to debug this.

[2020-03-23 09:02] bansalnitish commented on #8472
Hi @adityalpha -- I checked your files. You were missing `flushMicrotasks()`.

Here is the complete working test suite that was failing for you:
[code]

Please let me know if you need any other help. Thanks!

[2020-03-23 09:06] Hudda commented on #5939
@kevinlee12 There are no lint checks remaining to move to pylint. I think we should close this issue.

[2020-03-23 09:17] seanlip opened #8911 "Exploration overview graph doesn't center properly after new response is saved."
**Describe the bug**
If you have an exploration with 10-15 cards in a line, then, when you create a new answer group in a card and save it, the graph does not recenter properly. In fact, you can't even pan the graph to see the later states any more -- the cut-off is in the middle of the 8th state's box. This screenshot shows the maximum possible downwards pan for the exploration overview in that s

[2020-03-23 13:32] manasarora119 commented on #6911
facing issue
x   ( error TS2538: Type 'unknown' cannot be used as an index type.)

code  :-

Array.from(new Set(b["data"].map(x => x.cnid))).forEach(x => {
      this.result.push(b["data"].filter(y => y.cnid === x).reduce((output,item) => {
          let val = output[x] === undefined?0: output[x]['value'][0][type];
         output[x] = {
            value:[ {
               [type] : parseFloat((it

[2020-03-23 14:51] sseth99 commented on #6959
@seanlip, I came across this one, just wanted to confirm: isn't this issue same as #8903?

[2020-03-23 14:56] adityalpha commented on #8472
@bansalnitish I realised that I missed that one line and tried once before posting the problem here. However, flushing the microtask queue didn't help and the test still fails.

[2020-03-23 15:02] adityasvat commented on #8472
@bansalnitish I realised that I missed that one line and tried once before posting the problem here. However, flushing the microtask queue didn't help and the test still fails.

You think there might be some other problem? Will work on forming the question properly along with the things I already tried now onwards. Regret the inconvenience and Thanks!

[2020-03-23 15:12] nhannqgh commented on #8472
Hi, can I work on editable-exploration-backend-api.service.ts?

[2020-03-23 15:46] #8826 closed, assigned to U8NWXD

[2020-03-23 18:51] sseth99 commented on #7988
@Showtim3 , this issue was assigned to you, however, I did not check the assignee and solved it, can I make PR ? Is it alright?

[2020-03-23 20:06] seanlip commented on #6959
Yes, it's the same. Thanks for flagging! I'll close this as a duplicate.

[2020-03-23 20:06] #6959 closed, assigned to nobody

[2020-03-23 20:56] kevintab95 commented on #8911
I think the issue maybe with how we handle "redraw" graph when the graph data changes. This basically sets the graphLoaded property to false and then calls the drawGraph() function which draws the graph and centers it. However, in centerGraph() method (where the centering logic resides) has a check for graphLoaded and does not allow panning if this property is false.

[2020-03-23 22:11] vojtechjelinek commented on #8512
@ujjwalnahar Any progress on this issue?

[2020-03-23 22:32] sagangwee opened #8912 "Show all associated topics for skill opportunities"
Because we store the topic name associated with a question suggestion's skill in the change object of a question suggestion object, we need to update the question object change object whenever the topic name changes.

[2020-03-23 22:35] seanlip commented on #8912
Shouldn't the topic name not be part of this payload? Questions should be
connected only to skills, not to topics. (The same skill can belong to more
than one topic.)

[2020-03-23 22:54] ankita240796 commented on #8072
Added https://github.com/oppia/oppiabot/issues/50.

[2020-03-23 22:54] #8072 closed, assigned to ankita240796

[2020-03-23 23:03] sagangwee commented on #8912
Hmm, we may need to re-design the UI to reflect that relationship better.

Currently one question suggestion opportunity is listed for each skill/topic pair, since each opportunity for creating a new question suggestion has a label with the format 'Skill Description / Topic Name'. When a suggestion is submitted, the topic name is also propagated to display during the suggestion review.

So maybe w

[2020-03-23 23:10] seanlip commented on #8912
Yeah, I think listing all topics associated with the skill, or maybe just
any one random topic associated with the skill, would be good!

[2020-03-23 23:40] felicityzhao99 commented on #4057
Hi @seanlip I think I figure out the problem. I'll commit soon.

[2020-03-24 02:35] kevinlee12 commented on #5939
@Hudda, how about the lint checks in Python section https://github.com/oppia/oppia/issues/8423?

[2020-03-24 02:50] tyleri commented on #8472
@nhaancs I've assigned you!

[2020-03-24 03:20] jimbyo commented on #4057
Can I have QuestionBackendApiService.ts please?

[2020-03-24 04:17] seanlip commented on #4057
@jimbyo Sure, assigned you!

[2020-03-24 06:53] bansalnitish commented on #8472
Hey @adityalpha, I ran the complete file and it's working for me. I just added that one line to flushMicrotasks. Could you please post both the files again after adding that line as I recommended? I'll just copy paste both files and re-run the tests to check what's wrong.

[2020-03-24 07:15] mzaman07 commented on #8838
Hi, just an update on this issue.
I have yet to frame the problem down to find the exact cause. I have tried the following:

- Look at page load from $location.path.
- Examine the code line by line to see every transition and rendering of the page.
- Check if there is a deeper AngularJs problem. Got help from [Batarang](https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcoj

[2020-03-24 13:20] LakmaNeha commented on #6193
@anubhavsinha98  Please assign this to me

[2020-03-24 16:14] #8802 closed, assigned to mzaman07

[2020-03-24 18:38] seanlip commented on #8692
@nishantwrp -- any time you close a PR, could you please add a comment with the rationale for doing so? Please do that for this PR as well. Thanks!

[2020-03-24 18:39] nishantwrp commented on #8692
@seanlip Closed this accidentally 😅😅

[2020-03-24 19:19] amanbora commented on #4057
@seanlip hey can you assign me the any of the remaining files

[2020-03-24 19:22] amanbora commented on #4057
@seanlip pages/topic_editor looks good to me

[2020-03-24 19:44] marianadasilvadev opened #8920 "Add checking frontend coverage in pre_push hook."
By now, the frontend coverage is not being checked on the pre_push hook, this is slowing down the process on merging PRs. If any coverage changes are made, it should be fixed before pushing it to the repository.

[2020-03-24 20:04] vojtechjelinek opened #8921 "Implement partial login on the pending account deletion page"
Create new PR with the same code as #8701.

[2020-03-24 22:56] marianadasilvadev commented on #4057
I assigned you @amanbora!

[2020-03-25 02:28] #7988 closed, assigned to Showtim3

[2020-03-25 02:53] marianadasilvadev opened #8924 "Separate inline controllers from $uibModal.open method in new files."
**Is your feature request related to a problem? Please describe.**
Some AngularJS files like controllers, directives, and services use $uibModal.open method from Angular UI Bootstrap library:
![image](https://user-images.githubusercontent.com/34922478/80324438-3004f000-8807-11ea-9453-9bb55f7b1235.png)

In almost all files, the controller property from the object passed as parameter is declared as

[2020-03-25 09:37] Showtim3 commented on #8924
Hey, @marianazangrossi I believe this is a pretty huge and comparatively easy task and an eligible good first issue, can you please take a look at this [doc here](https://docs.google.com/document/d/1m4kuLYhDJYTReJHCr-kY866OoHCO4WmBRFTmbU45k-c/edit) and update the issue description accordingly? Let me know if you need some help or clarity. And I believe this falls in the category one(you'll know wh

[2020-03-25 12:14] akeeoaobh commented on #8668
Hey,
may I work on  state-tutorial-first-time.service.ts?

[2020-03-25 12:29] amanbora commented on #4057
thanks @marianazangrossi

[2020-03-25 15:05] #8827 closed, assigned to nithusha21

[2020-03-25 15:05] #8903 closed, assigned to aks681

[2020-03-25 15:05] #8904 closed, assigned to aks681

[2020-03-25 17:14] lc425 opened #8926 "Drag and drop setting response order"
When setting a response to a drag an drop interaction, I cannot select different slots for each item. When I change one, they all do the same.

Steps to reproduce the behavior:
1. Create a drag and drop interaction.
2. Add response; (is equal to ordering)
3. Change the slot for one of the answers

**Observed behavior**
Slots for all items change to match the same one, meaning the response asks stu

[2020-03-25 18:32] Showtim3 commented on #8668
@lelouchB Hey, how's the work going? Do you need help with something? Feel free to ping here for any kind of assistance.

@akeeoaobh Assigned you!

[2020-03-25 18:35] lelouchB commented on #8668
@Showtim3 I am still working on it
Had to leave it  in between bcoz of the lockdown and stuff but will be working on it now
Thanks 😊
I will surely ask you if I get stuck

[2020-03-25 18:38] Showtim3 commented on #8668
@lelouchB Okay, thanks for the reply. No Worries, take your time and stay safe.

[2020-03-25 21:28] adityasvat commented on #8472
@bansalnitish sure. Updated files -
[editable-topic-backend-api.service.ts](https://pastebin.com/6ekWx3tD)
[editable-topic-backend-api.service.spec.ts](https://pastebin.com/F2X9sm9H)

[2020-03-25 22:28] #8882 closed, assigned to kevintab95

[2020-03-26 06:11] Hudda commented on #5939
@kevinlee12 I think this issue is for converting custom lint checks which were implemented as additional functions in the scripts/pre_commit_linter.py file into custom pylint extensions. And all of them are already converted to pylint extensions.

[2020-03-26 06:14] kevinlee12 commented on #5939
Ah, that is right. I'll close this.

[2020-03-26 06:14] #5939 closed, assigned to Hudda

[2020-03-26 08:03] jimbyo commented on #4057
Hey, could I have QuestionObjectFactory.ts?

I also have a quick question. I noticed certain functions of QuestionObjectFactory are accessed from test cases in different files, but not in the one made for the QuestionObjectFactory. Should I still add specific test cases for those functions, or is it not necessary?

[2020-03-26 12:27] nhannqgh commented on #8472
Hi @tyleri  I am migrating editable-exploration-backend-api.service.ts to Angular 8. This service have a dependency is a another service written in angularjs which is read-only-exploration-backend-api.service.ts. What should I do in this case? @h-ARTS is working on read-only-exploration-backend-api.service.ts

[2020-03-26 14:03] h-ARTS commented on #8472
@nhaancs `read-only-exploration-backend-api.service.ts` is already done by @bansalnitish as far as I know.
I'm currently working on `expression-syntax-tree.service.ts`

[2020-03-26 14:22] bansalnitish commented on #8472
Hi @adityalpha, I just copy pasted your files and all tests are running fine for me. I'd like to know what and where is the problem?

Thanks for your response @h-ARTS, you are 100% right. I've done that and I'm just waiting for #8807 to go in.

[2020-03-26 15:04] yudani-s commented on #8472
Hi @tyleri can I work on editable-question-backend-api.service.ts?

[2020-03-26 15:39] #8820 closed, assigned to nithusha21

[2020-03-26 16:05] adityasvat commented on #8472
Hey @bansalnitish it worked. That one line was the problem. I changed a lot of files going through the codebase earlier so was actually making changes to a second copy of the file without realising, my bad.

Will be raising a PR shortly and thank you !

[2020-03-26 17:19] bansalnitish commented on #8472
I'm glad to hear it worked for you :).

Yeah, go ahead and issue a PR for the same. Let me know if you need any help.

[2020-03-26 20:30] yudani-s commented on #8015
Hi @DubeySandeep can I work on core/templates/dev/head/domain/statistics/learner-answer-details-backend-api.service.ts?

[2020-03-26 20:32] yudani-s commented on #8016
Can I work on core/templates/dev/head/pages/signup-page/signup-page.controller.ts? @DubeySandeep

[2020-03-26 20:40] nishantwrp commented on #8016
You got it @yudani-s

[2020-03-26 21:12] seanlip commented on #8015
Hi @yudani-s, welcome! Please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first -- once you've done so, we'd be happy to assign you to an issue. Thanks!

[2020-03-26 21:13] seanlip commented on #8016
Hi @yudani-s, welcome! Please follow [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first -- once you've done so, we'd be happy to assign you to an issue. I am deassigning you for now. Thanks!

[2020-03-27 08:06] ankita240796 commented on #8838
Hey @mzaman07, any updates on the issue? This is the blocking the release and we need to push the release by the weekend. Do you need any help from our end? Thanks!

[2020-03-27 08:09] ankita240796 commented on #8838
@DubeySandeep Can you please help @mzaman07 here?

[2020-03-27 14:10] yudani-s commented on #8015
@seanlip I think I have completed all of those instructions now.

[2020-03-27 14:11] yudani-s commented on #8015
I would like to help work on this issue, but I cannot seem to find a dev folder within templates. I can find the domain folder directly in the templates folder, however. Is this a problem?

[2020-03-27 17:02] adityalpha commented on #8472
hey @bansalnitish some 32 front-end test-cases are failing which are in no way related to the changes I made - [console log](https://pastebin.com/vwpFa7FK). I'm reading up on stuff to solve the issue, however, is there a quick fix to it?

[2020-03-27 17:09] vinayakvvg commented on #8472
Hi @bansalnitish can you please assign Learner-Answer-Details-Backend-Api.Service.ts file to me

[2020-03-27 17:17] bansalnitish commented on #8472
Hi @george-g1 -- Are you working on the file assigned to you otherwise I'll assign it to @vinayakvvg ?

@vinayakvvg let's wait for George's response for a day else I'll assign it to you :).

[2020-03-27 18:47] marianadasilvadev commented on #4057
Hey @jimbyo I assigned you to QuestionObjectFactory.

And about your question, you should test all the functions service in its spec file, even if it's already being called in another spec file.

[2020-03-27 22:03] seanlip commented on #8015
Hi @yudani-s, thanks for the note! This was an error and I have updated the description. (We removed the additional subdirectories a little while back but forgot to fix this issue description.) Thanks for bringing it to our attention!

[2020-03-28 02:41] adityasvat commented on #8472
hey @bansalnitish @tyleri @nishantwrp I am working on migrating editable-topic-backend-api-service. I changed a total of 2 files which passed all frontend, linting and typescript checks. (along with adding $rootScope.apply() to controller resolving http request and adding the service to UpgradedServices.ts (adding/removing which has no effect on this problem))
[editable-topic-backend-api.service.t

[2020-03-28 02:46] #8869 closed, assigned to kevintab95

[2020-03-28 03:27] srijanreddy98 commented on #8472
@adityalpha you only need to modify three files to migrate this service. The three files are editable-topic-backend-api.service.ts, editable-topic-backend-api.service.spec.ts, and topic-editor-page.module.ts .
As you would have seen in the original spec file for the service, there was a mock csrf token service. You will need to provide HTTP_INTERCEPTORS using the class RequestInterceptor in the to

[2020-03-28 03:52] mzaman07 commented on #8838
Yeah, we had a weekly meeting about this I have tried a simple consideration that @DubeySandeep made it didn't help me reproduce the problem. So I tried something else. I used Google Chrome's Performance profiling tool to help narrow this problem as the following:

![Screenshot from 2020-03-27 21-45-45](https://user-images.githubusercontent.com/9009585/77814187-6b7b9580-7074-11ea-9d48-18e9a9639aad

[2020-03-28 09:39] ankita240796 opened #8935 "Lint error while pre commit linter runs"
I am seeing a new error while running the `pre_commit_linter` script. It also does not cause the lint process to fail.

The error specifically is:
1.
[code]

2.

[code]

**Complete log:**
[code]

\cc @Hudda was it introduced due to #8656?

[2020-03-28 09:42] ankita240796 commented on #8911
Hey @kevintab95, yes you are right! I have created a fix: #8936, PTAL. Thanks!

[2020-03-28 12:18] Hudda commented on #8935
@ankita240796 I think this is a `python 2` specific error with `time` module as mentioned [here](https://bugs.python.org/msg221094) and can be solved by swapping `line 114` with `line 115` in [concurrent_task_utils.py](https://github.com/oppia/oppia/blob/develop/scripts/concurrent_task_utils.py). I will open a PR to fix this issue shortly.

[2020-03-28 13:21] bansalnitish commented on #8472
@vinayakvvg assigned you `Learner-Answer-Details-Backend-Api.Service.ts`.

[2020-03-28 13:34] vinayakvvg commented on #8472
Thanks @bansalnitish

[2020-03-28 14:06] yudani-s commented on #8015
@DubeySandeep can I work on core/templates/domain/skill/skill-mastery-backend-api.service.ts

[2020-03-28 15:37] yudani-s commented on #8015
@seanlip My pleasure. It seems like core/templates/domain/question/question-backend-api.service.ts has not been updated in a while. Could I work on this?

[2020-03-28 16:11] DubeySandeep commented on #8911
I think I have seen similar issue reported on GitHub before (very old), so if it exists then let's close that issue as well.

EDIT:
I was talking about #1105, it's already closed so this might be a regression issue.

[2020-03-28 16:20] #8935 closed, assigned to Hudda

[2020-03-28 17:49] robatras commented on #8038
Hey @nishantwrp, I would like to work on core/templates/pages/community-dashboard-page/services/contribution-and-review.services.ts
Thanks!

[2020-03-28 17:52] nishantwrp commented on #8038
Assigned you @robatras!

[2020-03-28 21:22] yudani-s commented on #6271
Hi, can someone assign me to add_misconception?

[2020-03-28 21:42] kevintab95 commented on #6271
Hi @yudani-s, I've assigned add_misconception to you!

[2020-03-29 00:02] #8911 closed, assigned to ankita240796

[2020-03-29 00:09] seanlip commented on #8015
Sure, assigning you. Thanks!

[2020-03-29 04:51] nithusha21 commented on #8838
Hi, just an update. So I tried this on the main server, and it does happen there too. As it isn't a regression, and seems to affect specific OS/Browser versions, I am going ahead with the release. I will move this to high-priority in the audio team, and make it blocking for the next release!

[2020-03-29 06:21] DubeySandeep commented on #8912
@sagangwee, Can we close this issue now? If yes then can you please close this issue (and add info about why we are closing this.)

[2020-03-29 06:22] nithusha21 commented on #8790
Hi @abhayraghuwanshi thanks for that analysis! I think it makes sense. @U8NWXD, the translations aren't available for every string we have for every language we support. If the translation isn't available, I think it renders it in english. In which case, shall I close this issue?

[2020-03-29 06:27] DubeySandeep commented on #8855
I always run pre-commit-linter before creating a commit so that each commit are good. (I see this very common: 1 commit to fix a given issue, next commit to fixing lint issue, next commit to fixing lint issue raised while fixing the lint issue and so on [I think this is because we don't have pre-commit-hook].)

I would love to have this feature just for the lint test, not the frontend test (I'm ok

[2020-03-29 07:14] seanlip commented on #8926
Thanks for filing this, @lc425. Please could you include screenshots or a video to help describe the issue more clearly?

[2020-03-29 13:22] U8NWXD commented on #8790
@nithusha21 yes, I think this is reasonable behavior, so I'll close the issue

[2020-03-29 13:22] #8790 closed, assigned to nobody

[2020-03-29 15:49] #8847 closed, assigned to aks681

[2020-03-29 16:33] #8249 closed, assigned to sagangwee

[2020-03-30 00:30] adityasvat commented on #8472
Hey @srijanreddy98 all tests worked after I fetched+merged commits my branch was running behind on. However, made the changes to topic-editor-page.module.ts as I should have. Thank you :)

[2020-03-30 07:58] Shivansh2287 commented on #6292
i would like to work on this issue please assign it to me

[2020-03-30 08:02] Shivansh2287 commented on #6193
i would like to work on this issue

[2020-03-30 09:49] lc425 commented on #8926
Thanks for your response. I have included screenshots below:

![ss1](https://user-images.githubusercontent.com/62664258/77899008-f4aceb00-7273-11ea-8374-10fc261e1737.png)
![ss2](https://user-images.githubusercontent.com/62664258/77899018-f8d90880-7273-11ea-9189-875abefef18b.png)

Please let me know if I am expecting the wrong thing. I was under the impression that when you set the position of one

[2020-03-30 10:15] iamprayush commented on #8926
@lc425 thanks for the screenshots!
You're right, this is a bug. We should be able to assign a different position to each element.

[2020-03-30 13:15] nithusha21 commented on #6159
This has been fixed (and doesn't occur anymore on the prod server)!

[2020-03-30 13:15] #6159 closed, assigned to nithusha21

[2020-03-30 13:16] nithusha21 commented on #7438
This doesn't seem to be resolved by the job I ran, will have to investigate this separately. I thought the 2 issues would be linked and fixed together. @kevintab95 can you investigate as to why this is occuring?

[2020-03-30 13:17] nithusha21 commented on #7290
Possible duplicate of #7438

[2020-03-30 13:17] #7290 closed, assigned to nithusha21

[2020-03-30 13:17] kevintab95 commented on #6159
That's awesome! Great work @nithusha21!

[2020-03-30 13:19] kevintab95 commented on #7438
Hi @nithusha21, sure. I'll take a look.

[2020-03-30 15:37] kevintab95 opened #8945 "The coreEditorAndPlayerFeatures e2e suite failed before any test cases executed"
Flake seen in:
* [ ] In a [recent build](https://travis-ci.com/github/oppia/oppia/jobs/308056147?utm_medium=notification&utm_source=email), the e2e test seem to have failed even before the tests ran. See attached log [here](https://github.com/oppia/oppia/files/4403817/log_e2e_failure.txt).

[2020-03-30 16:29] NathalieSgrs commented on #800
Hello,
I would like to delete old explorations that I create a few years ago.
How can I do that ?

[2020-03-30 16:58] seanlip commented on #800
Hi @NathalieSgrs, please send an email to admin@oppia.org and we can help you with this. Thanks!

[2020-03-30 18:10] kevintab95 commented on #6162
This hasn't occured in a while. It might have been fixed by #7784. Closing this issue.

[2020-03-30 18:10] #6162 closed, assigned to nobody

[2020-03-30 21:40] laujamie commented on #4057
Hi, could I be assigned to components/ratings/RatingComputationService.ts?

[2020-03-30 22:00] nishantwrp commented on #4057
@laujamie You got it!

[2020-03-30 22:03] marianadasilvadev commented on #8924
Hi @Showtim3, I'm a GSoC application for testing directives and controllers project and while I was studying about the codebase I've created this issue. However, it's part of my proposal. Even if I get reject in GSoC, I think it's an important thing to do in the codebase. Is there a problem to keep this issue open until GSoC results? Please let me know what is the best solution. Thanks!

[2020-03-31 03:24] seanlip commented on #8924
I think you don't need to keep this open until GSoC -- we should just do it anyway, since it's a generally important codebase issue. Maybe let's discuss it when we meet?

[2020-03-31 05:33] seanlip opened #8951 "Solution preview does not show correct uniqueness indicator"
**Describe the bug**
The solution editor preview seems to be showing the wrong thing when a "the only answer is..." solution is entered.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration, add an interaction, then add hints.
 2. Add a solution and specify that it is the only possible one.

**Observed behavior**
The solution preview shows "One solution is...", which is

[2020-03-31 05:34] seanlip commented on #8951
/cc @aks681 -- PTAL/reassign as appropriate, but I think this should be done prior to the April release since it looks like a regression. Would that be possible?

Thanks!

[2020-03-31 10:59] marianadasilvadev commented on #8924
Sure. But when we meet, the GSoC deadline will be reached already. If we work on it alright, some part of my proposal will be already done when result be announced (if I get approved).

[2020-03-31 13:49] NinaLoeterman commented on #6240
Im happy to work on the admin page  `The various sections in the misc tab should work as expected.` @U8NWXD  is this still available, and if so can you assign me?

[2020-03-31 16:03] vojtechjelinek opened #8954 "Webpack is timeouting in e2e tests"
Webpack for some reason takes more than 10 minutes to compile in some of our e2e tests

https://app.circleci.com/pipelines/github/oppia/oppia/8919/workflows/840dbb95-3b95-4e85-8653-5a3b48757dfc/jobs/43052

[2020-03-31 16:21] DubeySandeep opened #8955 "Server error on learner dashboard after creating question suggestion from community dashboard"
**Describe the bug**
Server error on learner dashboard after creating question suggestion from the community dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout develop
2. Enable community dashboard page from feconf.py
3. Start the server and generate **topics and skills** dummy data from the admin page
4. Go to /community_dashboard
5. Switch to "Submit Question" tab and submi

[2020-03-31 16:23] #8920 closed, assigned to marianadasilvadev

[2020-03-31 16:52] U8NWXD commented on #6240
@NinaLoeterman I've assigned you. Please don't hesitate to reach out if you could use some help!

[2020-03-31 17:28] sagangwee commented on #8912
I'll update the issue to reflect our email discussion. Namely, we want to add the ability to see topics corresponding to the skill opportunities with a text like "Linked to: Fractions" or "Linked to: Fractions + 1 other (see more)".

[2020-03-31 17:54] vojtechjelinek commented on #8342
@kevintab95 Any updates?

[2020-03-31 19:40] kevintab95 commented on #8342
Hi @vojtechjelinek, I'm kind of still working on the thumbnails stuff and enabling SVG upload. I'll probably get to this once that is done. It might be approx. 3rd week of April before I can get to this, sorry. Please feel free to assign it to someone else if it needs to be done urgently. Thanks!

[2020-03-31 20:24] U8NWXD commented on #6240
Assign @nadintamer to last interaction e2e test!

[2020-04-01 00:35] U8NWXD opened #8958 "expectNumberOfUncategorizedSkillsToBe(count) Ignores count and Expects 1 Skill"
In `protractor_utils/TopicEditorPage.js`, the function `expectNumberOfUncategorizedSkillsToBe(count)` ignores `count` and instead checks that there is 1 uncategorized skill. This misleading name is likely to cause bugs later on.

[2020-04-01 02:54] seanlip commented on #8958
Hi @aks681 -- flagging this for your attention, too. Thanks!

[2020-04-01 02:56] seanlip commented on #8924
Update: @marianazangrossi and I chatted about this, and she's going to work on it for the moment. Let's not make it a general starter issue yet -- it's actually a bit more complicated than it looks at first glance, because she's planning to do some consolidation of the existing modals so that we don't have 30 separate modals doing basically the same thing. She'll post back on this thread once the

[2020-04-01 08:07] #8955 closed, assigned to brianrodri

[2020-04-01 10:28] nadintamer opened #8959 "Rich-text components E2E test failing with different errors"
**Describe the bug**
The rich-text components e2e test in extensions.js is consistently failing when run on my machine; however, the errors that arise are not consistent and alternate between the two different ones.

**To reproduce**
1. Run the extensions.js e2e tests with `python -m scripts.run_e2e_tests --suite=extensions`

**Observed behavior**
Test fails with one of:

`Other element would rece

[2020-04-01 13:12] U8NWXD commented on #8959
Note that it is the `rich-text components` test that fails

[2020-04-01 13:15] U8NWXD commented on #8959
@nadintamer I tried to reproduce this and the `rich-text components` test passes for me on `develop`. Can you try running the test on `develop` after updating from upstream? If it passes, then the failures are probably from something you changed in your branch. If it fails, there might be something different between our machines that accounts for the different behavior.

[2020-04-01 13:30] nadintamer commented on #8959
@U8NWXD The test still failed when running on `develop` after updating from upstream (with the `modal-dialog` error, in case that's relevant).

[2020-04-01 13:53] anirudhgowdar commented on #8038
Hello, can I get assigned to  core/templates/pages/exploration-editor-page/services/exploration-data.service.ts please?
Thanks

[2020-04-01 16:38] U8NWXD opened #8962 "Protractor Flakes with Error `Other element would receive the click`"
Sometimes Protractor tests fail flakily with the error `Other element would receive the click`. This [shows up a lot in our PRs and issues](https://github.com/oppia/oppia/search?q=%22Other+element+would+receive+the+click%22&unscoped_q=%22Other+element+would+receive+the+click%22&type=Issues):

Open Issues:
* #8883
* #8959
* #8818
* #9120

Closed Issues:
* #6003: closed since error wasn't seen for a

[2020-04-01 16:43] U8NWXD commented on #8959
@nadintamer I think the first error is part of a long-standing problem I'm seeing in issues with chromedriver, which I'm tracking in #8962. That issue also has some fixes you can try and lists what worked before.

[2020-04-01 16:43] U8NWXD commented on #8962
@nithusha21 are you planning to upgrade chromedriver as part of the e2e suite merging? That might fix this issue

[2020-04-02 11:53] bansalnitish commented on #8038
Hey @anirudh-g99, Assigned you!

[2020-04-02 14:14] h-ARTS opened #8966 "ExpressionEvaluatorService test not passing when using `Set` in ExpressionSyntaxTreeService"
**Describe the bug**
During the migration of `ExpressionSyntaxtTreeService` when using `Set` data structure (to prevent duplicates) in `findParams` method, used in `getParamsUsedInExpression`, you get unexpected results during the test "Should get params used in expressions".
[Link to the discussion](https://github.com/oppia/oppia/pull/8886#discussion_r401807387)

Due to migration, we have to tran

[2020-04-02 16:55] mzaman07 commented on #8838
Ok I will try this using the production system and see if I can reproduce it.

[2020-04-02 18:31] U8NWXD opened #8968 "Installing Python 2 Now that Homebrew Dropped Support"
The [installation guide for macOS](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%29) on the wiki says to install Python 2 using Homebrew:

However, `python@2` is no longer available on Homebrew, as stated on [this page](https://docs.brew.sh/Homebrew-and-Python):

How should users install Python now? Here are some ideas:
1. macOS comes with Python 2.7, so we could use that installa

[2020-04-02 18:52] U8NWXD commented on #8968
/cc @Showtim3 this arose because someone I'm helping onboard ran into this

/cc @kevinlee12 what do you think?

[2020-04-02 22:57] yudani-s commented on #8015
If I try to import QuestionObjectFactory in core/templates/domain/question/pretest-question-backend-api.service.ts, I get an error saying QuestionObjectFactory is not a module. I believe this is due to a difference in Angular versions. Does anyone know a way to work around this?

[2020-04-02 23:31] kevintab95 commented on #8015
Hm, I think QuestionObjectFactory might need to be upgraded for this but I'm not sure. Tagging @bansalnitish and @ankita240796 for advice.

[2020-04-03 03:19] kevinlee12 commented on #8968
My preference is that we move to Python 3 as soon as Google App Engine supports it, though I'm unsure where they are with that migration. @seanlip do you know if GAE supports Python 3?

[2020-04-03 05:36] seanlip commented on #8968
Not yet, as far as the libraries/services we depend on are concerned. There's an open source python3 NDB replacement [here](https://groups.google.com/forum/#!searchin/google-appengine/python$203|sort:date/google-appengine/yuAofPuxYtE/MTn2jHncAAAJ) but we still need to figure out the other stuff like memcache, search, etc. So I suggest sticking to a python 2 solution for the time being.

[2020-04-03 07:07] nithusha21 commented on #8423
Hi @avanderp any updates on this issue?

[2020-04-03 07:10] nithusha21 commented on #8801
Hi @Raghav10026 any updates here?

[2020-04-03 07:15] nithusha21 commented on #8962
I think if it is this important, I shall do the upgrade separately if it will help.

[2020-04-03 07:24] #7402 closed, assigned to DubeySandeep

[2020-04-03 07:24] #8166 closed, assigned to DubeySandeep

[2020-04-03 08:44] DubeySandeep commented on #8559
Assigning this to @sagangwee, as he is working on writing design doc for this issue.

[2020-04-03 12:47] bansalnitish commented on #8472
@nhaancs @vikasprashar99 @chauhanparth210 @chirag-wadhwa any updates on the services assigned to you?

[2020-04-03 13:56] U8NWXD commented on #8968
How about we go with installing Python 2 from https://python.org then? That will ensure users have the latest stable version of Python 2 with all the development tools like `pip` and `setuptools` that macOS might not include. Also, macOS Catalina prints this when running the system python:

So we shouldn't rely on macOS coming with Python 2 in the future.

[2020-04-03 14:12] nishantwrp commented on #7434
@vojtechjelinek Hi, I investigated this issue and I think it can be done if we have another class say `ConstantsClass` that has all the constants defined in the `constants.ts` file and then we can simply change
[code]
to
[code]
and then we would be able to access the values in ConstansClass from the AppConstants.

Now, we can't straightaway change the format of `constants.ts` file from json to a c

[2020-04-03 14:20] Vinit-Dantkale commented on #5747
I would like to give this a try, if nobody is working

[2020-04-03 14:25] U8NWXD commented on #8472
Deassigned @vikasprashar99 based on communication from them

[2020-04-03 15:50] kevinlee12 commented on #8968
That’s fine, I’m not sure how the ecosystem works since macOS isn’t my daily driver.

[2020-04-03 15:57] yudani-s commented on #8015
I seem to have reached a dead end working on core/templates/domain/question/question-backend-api.service.ts. Could I work on core/templates/domain/question/editable-question-backend-api.service.ts instead?

[2020-04-03 17:00] brianrodri commented on #8194
Hi @prajwal2100, are you still working on this? Could you please post the PR number if so?

[2020-04-03 17:01] nishantwrp opened #8973 "Error on submitting a query on Email Dashboard"
**Describe the bug**
Error on submitting a query on Email Dashboard

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Email Dashboard'
 2. Submit Any Query
 3. See error

**Observed behavior**
The console has error.

**Expected behavior**
There should be no error.

[2020-04-03 17:17] nishantwrp commented on #8973
@bansalnitish  The HTTP_INTERCEPTOR we added has stopped working in the email dashboard page. Any ideas why that might be happening?

[2020-04-03 18:55] U8NWXD commented on #8968
Wiki updated

[2020-04-03 18:55] #8968 closed, assigned to nobody

[2020-04-03 19:42] brianlinUM commented on #7450
Hello! I would like to work on `email_manager.BulkEmailsTests ` please. Thanks!

[2020-04-03 19:49] vijpatel7 commented on #8015
Hey! I would like to work on core/templates/domain/collection/search-explorations-backend-api.service.ts please. Can I be assigned to it? Thank you!

[2020-04-03 20:39] vijpatel7 commented on #7450
Hey! Can I be assigned to email_manager_test.EmailRightsTest/test_sender_id_validation please? Thanks!

[2020-04-03 21:02] #8926 closed, assigned to iamprayush

[2020-04-03 22:01] seanlip commented on #7434
@nishantwrp I don't have an opinion on this -- deferring to @vojtechjelinek @bansalnitish @ankita240796 to make a decision. Thanks!

[2020-04-04 06:37] bansalnitish opened #8977 "COMMUNITY_DASHBOARD travis suite not running on PR #8940"
In my PR #8940, I noticed that travis is failing and the reason for the same is that COMMUNITY_DASHBOARD travis suite is not running there. It failed before the test started.

**Observed behavior**

![image](https://user-images.githubusercontent.com/22434689/78420426-b39a4980-766c-11ea-86a8-10deaefb988a.png)

**Expected behavior**
The test suite should start.

[2020-04-04 11:19] DubeySandeep commented on #8977
@bansalnitish, Have you updated your branch with develop? (Maybe that can help)

[2020-04-04 12:14] shrutisatish00 commented on #8668
hey @Showtim3 , would like to work on  exploration-tags.service.ts.
Thanks!

[2020-04-04 13:50] nishantwrp commented on #8472
@alphaQ1611 any updates on the service assigned? Let us know if you need any help!
Thanks!

[2020-04-04 16:54] kevintab95 commented on #7450
Hi @brianlinUM and @vijaykpatel, I've assigned you guys those files. Thanks!

[2020-04-04 19:08] bansalnitish commented on #8973
I checked it was not working before PR #8965. Let's see when it was upgraded and what's the issue. Thanks for filing this one!

[2020-04-04 19:23] h-ARTS commented on #8472
@tyleri `expression-syntax-tree.service.ts` is migrated and done. You can tick `collection-rights-backend-api.service.ts` too and if nobody claimed, can I work on `editable-question-backend-api.service.ts`?

[2020-04-04 19:28] bansalnitish commented on #8973
Hey @nishantwrp, I am not sure what is the exact issue. I checked back to the commit on your PR and it works well there. After that I checked on two commits just before my interceptor PRs. Specifically those two commits occur in these PR's:

- #8956
- #8939

and on both of them I see the same issue. So, there is some commit in middle which has messed up this thing and we need to track that down. I

[2020-04-04 19:31] nishantwrp commented on #8973
Thanks for debugging the issue. Actually I’m busy right now. Will get to this tomorrow morning.
Thanks!

[2020-04-04 19:35] bansalnitish commented on #8973
Yeah sure, no worries. Thanks!

Updated: I'm not sure https://stackoverflow.com/questions/50860293/interceptor-not-intercepting-http-requests-angular-6/55999452#55999452 if this is relevant, just adding it here.

[2020-04-04 20:16] chauhanparth210 commented on #8472
@bansalnitish , Sorry  I will not be able to work on it, I am really sorry about it and please de-assigne me that task. Thank you.

[2020-04-04 20:52] vojtechjelinek commented on #7434
@nishantwrp I don't really like the need to repeat every variable that we define in `constants.ts` in this new file.

I'm actually thinking that changing the format of `constants.ts` and then the Python constants parser might be a better approach here. However, I'm not sure how hard it would be to implement the Python parser for the new type of file.

[2020-04-04 21:06] donosco99 commented on #1189
@aks681, Shouldn't we close this issue?

[2020-04-04 21:35] aks681 commented on #1189
This issue spans invalid rule inputs across all interactions. Yeah, you have fixed the issue in NumericInput, but before closing this, can you check whether there are any such possibilities in the rule inputs for any other interactions?
If not, we can close it. Thanks!

[2020-04-04 22:06] iamprayush commented on #6051
Hey @steve7158! How's the progress on this? Do let us know if you're facing any issues.

[2020-04-04 22:13] iamprayush commented on #6707
Hey @donosco98! Any updates?

[2020-04-04 22:27] iamprayush commented on #8880
Hey @amanbora!
I checked and this is not reproducible for me on the test server or on the main server. Could you please recheck and confirm?
Thanks!

[2020-04-05 00:10] Showtim3 commented on #8668
Hey @shrutisatish00 assigned you.

[2020-04-05 05:09] seanlip commented on #7462
Reassigning to @kevintab95 since I believe he is looking into this.

[2020-04-05 07:56] kevintab95 opened #8980 "Explorations can have a mobile_compatible flag"
**Is your feature request related to a problem? Please describe.**
Some explorations may contain interactions that do not work great on mobile devices. This means mobile users will get stuck at a particular card.

**Describe the solution you'd like**
Have a flag or similar for explorations that contain mobile compatible interactions. Only explorations having this flag should be accessible on mobil

[2020-04-05 08:08] seanlip commented on #8980
Hi @kevintab95, I think we should have programmatic conditions for whether
an exploration is playable on mobile or not. Could these be listed here?
(E.g. types of interactions used, etc. -- might want to talk with Akshay
about the creator guidelines doc.)

[2020-04-05 08:15] iamprayush commented on #8841
I checked and it turns out that the creator is able to publish an exploration that has this error. After publishing when I played through the exploration, no error message was shown, but still, I don't think we should allow such explorations to be published, right?
Also, just to be clear, the error does get shown to the creator when previewing the exploration, but not to the learner after the expl

[2020-04-05 08:17] seanlip commented on #8980
Oh, actually, one question about this. Are we separating into three cases:
(a) web desktop view, (b) web mobile view, (c) Android app mobile view? Or
does "not desktop only" cover both (b) and (c)?

[2020-04-05 08:30] iamprayush commented on #8349
Hey @rohitkatlaa @larrytal!
This is not reproducible for me. Could you guys please recheck and confirm?
Thanks!

[2020-04-05 08:35] kevintab95 commented on #8980
Yes, the idea was that we hide these explorations in the library if we had a backend flag. Or we will need the interaction list so it can be iterated and checked programatically to determine if the exploration is desktop only or not. I'll discuss with Akshay.

Also, initial thought was for web desktop and web mobile. The interactions I'm referring to are CodeRepl and PenciCode. If these interactio

[2020-04-05 08:58] rohitkatlaa commented on #8349
@iamprayush I guess this bug got fixed by some pr. I guess we can can close this issue.

[2020-04-05 08:59] #8349 closed, assigned to rohitkatlaa, larrytal

[2020-04-05 09:57] seanlip commented on #8980
I think, for now, probably just (a) and (b) are fine. As long as all explorations in topics are guaranteed to pass the Android checks, we can use that ("containment in topic") as the criterion for (c) instead.

I wonder whether supports_mobile or mobile_compatible is a better name than desktop_only? The latter seems more like the "negative" condition. I'm not sure though.

[2020-04-05 10:08] kevintab95 commented on #8980
Discussed regarding the creator guidelines doc with Akshay and it seems like we have checks in place while adding explorations to stories. So yes, we could just consider (a) and (b) for now.

Regarding naming convention, I agree that it seems like a negative condition considering we will only have this check for mobile devices. Made changes to title and description to reflect the same.

[2020-04-05 10:17] ankita240796 commented on #8977
Yes, I think that has fixed the issue. Closing this now.

[2020-04-05 10:17] #8977 closed, assigned to nobody

[2020-04-05 11:06] #8730 closed, assigned to kevintab95

[2020-04-05 17:34] #7440 closed, assigned to kevintab95

[2020-04-05 17:52] nishantwrp commented on #8973
@bansalnitish UPDATE: I have found the culprit [commit](https://github.com/oppia/oppia/commit/be12e69c7b23cd0465753198f573198a4213d522). Now, debugging the issue.

[2020-04-05 18:35] DubeySandeep opened #8983 "Allow contributors to add images in question and translation suggestion"
Currently, we allow contributors to add translation and question suggestions without images but we are expecting to have images in questions and translations. So this issue focuses on allowing contributors to add images in their suggestions.

Things to focus:
- A new path to store suggestion images.
- Backend structure to move the suggestion images to the entity image path in GCS.

[2020-04-05 18:42] nishantwrp commented on #8472
@chauhanparth210 No problem! De assigned you!

[2020-04-05 19:05] yudani-s commented on #6271
Just to note, I am working on this task together with @robatras. He will probably be the one to submit the pull request.

[2020-04-05 19:47] nishantwrp commented on #8973
Hi @bansalnitish Your [commit](https://github.com/oppia/oppia/commit/e71cd44e260d8fdf6813106492476ed92a75a74c) resolves the issue. But I don't understand why? Do you have any idea?
Thanks!

[2020-04-05 20:20] yudani-s commented on #8015
Just to note, I worked with @robatras to complete the refactoring of core/templates/domain/question/editable-question-backend-api.service.ts. He has just submitted a pull request with our changes.

[2020-04-05 20:24] seanlip commented on #8841
Ah -- actually, sorry, I miswrote my previous comment. On reflection it is fine to publish because this depends on the status of other explorations, and that status could change due to no fault of the creator of the exploration in question. So we should handle it leniently, i.e. in the learner view, just omit the lessons that are not shown. Does that sound good? I think that might actually be what

[2020-04-05 20:26] seanlip commented on #8980
SGTM, thanks. Sounds like the condition for that flag is currently: "does not have any states with CodeRepl or PencilCode interactions". Are there any other checks that need to be made? There should be a full spec.

Also, is this field only present in the exploration summary model, or will it be in the exploration model as well? In either case, I assume it'll be (re-)calculated on every exploratio

[2020-04-05 21:57] ankita240796 opened #8988 "simplifiable-if-statement lint error occurs unexpectedly"
`simplifiable-if-statement` lint error occurs at this line: https://github.com/oppia/oppia/blob/develop/scripts/release_scripts/wrap_up_release_test.py#L286 even though the if statement is already simplified. Further, there are more such lines in the file but the error only occurs on this line.

References:

- https://github.com/oppia/oppia/pull/8952#issuecomment-606557508
- https://github.com/opp

[2020-04-06 01:34] wily123 opened #8989 "Please add a new language choice to the exploration settings tab"
Please add the language choice {{ALBANIAN}} to the exploration settings tab.

Here is a link to an exploration that uses it: {{https://www.oppia.org/create/NjJUhVw9c3X7#}}

[2020-04-06 03:52] #8966 closed, assigned to brianrodri

[2020-04-06 04:05] nithusha21 commented on #8983
I don't think translations can have images? Correct me if I am wrong...

[2020-04-06 04:35] seanlip commented on #8983
I think they'll need to, actually (though the images should be
auto-generated, I think @mzaman07 is working on this),.

[2020-04-06 09:36] bansalnitish commented on #8973
I didn't get this? My commit is fixing the issue?

[2020-04-06 09:42] bansalnitish commented on #8472
Hey @h-ARTS, Thank you for migrating both those files -- awesome stuff.

I've updated the issue description and assigned you `editable-question-backend-api.service.ts`. Thanks!

[2020-04-06 10:09] h-ARTS commented on #8472
Thanks @bansalnitish 🚀

[2020-04-06 11:55] nishantwrp commented on #8973
@bansalnitish Yup it is.

[2020-04-06 12:25] nishantwrp commented on #7434
Hi @vojtechjelinek, I have made a new parser that works correctly. Here it is
[code]
I was thinking to move all the constants in the `constants.ts` file to `app.constants.ts` file. Is there a reason why there are two different files for constants?

/cc @bansalnitish @ankita240796

[2020-04-06 12:29] bansalnitish commented on #7434
Yeah, I agree with what Vojta said.

[2020-04-06 12:43] bansalnitish commented on #8973
Okay I see, it was not working after #8965 went in but it has started to work after #8940 went it. Right?

[2020-04-06 13:18] bansalnitish commented on #8015
I'm sorry I missed your comment(https://github.com/oppia/oppia/issues/8015#issuecomment-608145898) @kevintab95. Yes you're right `QuestionObjectFactory` needs to be migrated. I'll migrate this in a day or two. Thanks!

[2020-04-06 13:26] kevintab95 commented on #8015
@yudani-s -- sounds good, thanks!
@vijaykpatel -- sorry for the delay but please go ahead and raise a PR once you are done with the changes. I've assigned you the requested file. Thanks!

[2020-04-06 14:32] vojtechjelinek commented on #7434
@nishantwrp LGTM! The thing is that constants in `constants.ts` are used both in backend and frontend, the constants in `app.constants.ts` are used only in the frontend.

You can create a PR for these changes if you want.

[2020-04-06 15:16] nishantwrp commented on #8973
@bansalnitish Nope, Actually It was not working after #8732 went in and started to work after #8940 went in.

[2020-04-06 15:20] nishantwrp commented on #7434
Ok, So, we can have a single constants file, right?

[2020-04-06 15:28] bansalnitish commented on #7434
Yeah we can have.

[2020-04-06 15:29] bansalnitish commented on #8973
Yes, that's what I was saying, I thought by your commit you meant #8965 though it was #8940. Should we close this issue and discuss this offline? (Since this is no longer an issue)

[2020-04-06 15:31] nishantwrp commented on #8973
I agree we can close this.

[2020-04-06 15:31] #8973 closed, assigned to nobody

[2020-04-06 17:28] abhayraghuwanshi opened #8993 "The linter test is not catching errors of the bad pattern js and ts regular expressions"
**Describe the bug**
The linter test is not catching errors of the BAD_PATTERNS_JS_AND_TS_REGEXP for the `core/templates` and `extensions` folder

**NOTE**
But it is working for the ` core/tests`  folder

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to folder core/templates
 2. Click on any of the directive or service files
 3. Change any file so that it gives an error. For example, us

[2020-04-06 19:11] seanlip commented on #8339
(Testing: @codymiller )

[2020-04-06 21:41] abhayraghuwanshi commented on #7427
@U8NWXD
 Can I continue the work of the #8504 and fix all the comments and raise a new PR for that for the `domain/state_domain.py`
thanks

[2020-04-07 00:49] U8NWXD opened #8995 "Circle-CI Setup failed installing third-party libs"
Flakes seen:
* [ ] Failed on build [44020](https://circleci.com/gh/oppia/oppia/44020) on #8985 .

[code]

[2020-04-07 01:06] U8NWXD commented on #7427
@jkoj25 would it be okay for @abhayraghuwanshi to take over your PR #8504?

[2020-04-07 01:08] U8NWXD commented on #7427
@abhayraghuwanshi I've reached out to Sean about what to do if the PR author doesn't respond, and I'll get back to you when I hear back. If you don't want to wait for us to sort this out, though, you can always start your own PR and add the docstrings from scratch without using #8504 .

[2020-04-07 06:36] abhayraghuwanshi commented on #7427
@U8NWXD
I will wait for this to sort it out
Thank you

[2020-04-07 06:48] seanlip commented on #7427
Hi @abhayraghuwanshi, it's fine to take it over. Please start a brand new PR though (with all commits by you), don't branch from the previous one. Thanks!

[2020-04-07 07:21] abhayraghuwanshi commented on #7427
@seanlip thanks. I'll start working on this

[2020-04-07 08:56] aggarwalpulkit596 commented on #7100
Can i take this one @ankita240796 @seanlip

[2020-04-07 11:24] nadintamer opened #8998 "Auto-generated English audio not available in Firefox"
**Describe the bug**
There is no option to play auto-generated English audio in Firefox (this option does appear when testing in Chrome).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the first Fractions exploration - 'What is a Fraction?'
 2. Open the voiceover menu
 3. Click on the dropdown to see the list of available options

**Observed behavior**
There is no "English (auto)" op

[2020-04-07 11:49] nadintamer opened #8999 "Auto-generated English audio not playing on mobile"
**Describe the bug**
Auto-generated English appears as an option on mobile but doesn't play any audio when selected.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the first Fractions exploration - 'What is a Fraction?'
 2. Open the voiceover menu
 3. Click on 'English (auto)'

**Observed behavior**
No audio plays (pre-recorded audio plays fine).

**Expected behavior**
Auto-generated

[2020-04-07 12:49] MNSDivya opened #9000 "UI can be enhanced in button perspective during creating an exploration_Mobile"
**Describe the bug**
UI can be enhanced in button perspective during creating an exploration_Mobile
Cancel button seems small and shrink

**To Reproduce**
Steps to reproduce the behavior:
 1. Login as creator
2. Click on create exploration
3. Add an interaction and verify the UI

**Observed behavior**
Cancel Button on UI seems shrink

**Expected behavior**
UI should be impressive

**Screenshots**

[2020-04-07 15:01] Arnesh07 commented on #7100
I have assigned you! @aggarwalpulkit596
Thanks!

[2020-04-07 15:10] bansalnitish commented on #8838
@mzaman07 any updates on this one?

[2020-04-07 16:52] mzaman07 commented on #8838
I have tried a number of devices to reproduce the issue via the production
website. No luck so far. I'll try throttling the network on my slow
computer to see if I can reproduce it.

On Tue., Apr. 7, 2020, 9:11 a.m. Nitish Bansal, <notifications@github.com>
wrote:

[2020-04-07 17:39] vojtechjelinek opened #9001 "Remove ui-validate from schema-based-float-editor"
The [schema-based-float-editor.directive.html](https://github.com/oppia/oppia/blob/develop/core/templates/components/forms/schema-based-editors/schema-based-float-editor.directive.html) is the only place where we use `ui-validate` from the [ui-validate](https://github.com/angular-ui/ui-validate) library, try to find a way how we can get rid of this usage.

[2020-04-07 18:01] sagangwee opened #9003 "[Community Dashboard] Display full un-truncated text for skill description in Submit Question tab."
Currently, long skill descriptions are truncated, see [here](https://lh3.googleusercontent.com/-r6XmITZPoXI/XouYJADBnEI/AAAAAAAAbYc/OoQoiQDuvZEn9wojQQmRpwHMv2eHRHU0gCK8BGAsYHg/s0/2020-04-06.png). We want users to see the full skill description text.

We can pass a "truncation length" parameter to an opportunity list item directive to increase the truncation length for question opportunities. We sh

[2020-04-07 18:06] sagangwee opened #9004 "Monitoring Dashboard to detect potential blockages in user flows"
Now that the community dashboard is launched, we need to track metrics to measure its success. We need to decide on key north star metrics. We can then use `core/templates/services/site-analytics.service.ts` to help us record the interactions needed to power our metrics. This can include things like the number of translations/voiceovers/questions submitted/reviewed and usage rates.

Also: "Think f

[2020-04-07 18:21] iamprayush opened #9005 "Cursor doesn't change while hovering over delete button in Topics and Skills Dashboard"
**Describe the bug**
While hovering over the delete button in the Topics and Skills Dashboard, the cursor should change to a pointer (hand), but it doesn't.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to topics and skills dashboard.
 2. Create a dummy topic.
 3. Come back to the dashboard and hover over the delete button.

**Observed behavior**
The cursor doesn't change from an arrow

[2020-04-07 18:51] iamprayush opened #9006 "Stories with multiple chapters having the same name are publishable"
**Describe the bug**
A story that contains multiple chapters with the exact same name should not bu publishable but is. While creating the chapter, if you repeat the chapter name, a warning is shown but if you edit chapters and rename them with the same names, no warnings are shown and the story is publishable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills Dashboar

[2020-04-07 19:23] iamprayush opened #9007 "Console error in question editor."
**Describe the bug**
A console error gets thrown upon trying to cancel a new question creation.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills Editor
 2. Create a new question.
 3. Open up the browser console.
 4. In the question editor modal, click the cancel button. Then click on "Go back to editor."
 5. Observe the error in the console.

**Observed behavior**
An

[2020-04-07 19:48] kevintab95 commented on #8456
For previous work done, see [here](https://github.com/oppia/oppia/pull/8522).

[2020-04-07 22:04] iamprayush commented on #8841
That makes sense. So, I checked and that is what happens right now. In the learner view, no error is shown and only valid explorations get suggested.
Closing this issue, please re-open if needed.

[2020-04-07 22:04] #8841 closed, assigned to nobody

[2020-04-08 00:06] brianrodri opened #9008 "FetchIssuesHandler should respond with a JSON object instead of an array"
`FetchIssuesHandler` ([link](https://github.com/oppia/oppia/blob/84c00daefcda8174bf312e11106c31940b96fd4a/core/controllers/editor.py#L526)) currently responds to GET requests with a JSON array. This conflicts with HTTP best practices, and should be changed to respond with a JSON object instead.

The fix itself is straightforward. We should change the return value from:
[code]
to:
[code]

We will n

[2020-04-08 01:34] U8NWXD opened #9009 "Downloading Unpublished Exploration Yields Hidden YAML File"
**Describe the bug**
Downloading unpublished explorations yields a hidden YAML file.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration and save it, but do not publish
 2. In the history tab, choose to download the latest version
 3. Unzip the downloaded `oppia--v2.zip` file
 4. Notice that no unzipped file is visible
 5. In a terminal, view hidden files with `ls -a`

**O

[2020-04-08 01:43] U8NWXD opened #9010 "Math Input Interaction Fails Offline"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/explore/16
 2. Disable your internet connection
 3. Work through the exploration until the interaction asking for the slope of a line
 4. Enter `y = mx + b`
 5. Submit answer

**Observed behavior**
The answer is correctly identifi

[2020-04-08 01:45] U8NWXD opened #9011 "Pencil Code Editor Fails Offline"
**Describe the bug**
The pencil code editor does not load offline.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.co/explore/16
 2. Disable your internet connection
 3. Work through the exploration until the pencil code editor

**Observed behavior**
Editor fails to load

**Expected behavior**
Editor should load

**Screenshots**

![Screen Shot 2020-04-0