[2021-04-24 20:31] ashutoshc8101 commented on #9749
The issue is here:
![image](https://user-images.githubusercontent.com/24855641/115972050-cfb7a400-a569-11eb-9cf1-9bbed7427e6f.png)

You have used a good workaround for *ngFor usage with a object. But there is a more efficient way available. Look for angular's `keyvalue` pipe.

And there is a weird thing about `upgradeComponent`. The angularjs directive schema-based-editor directive uses the passed

[2021-04-25 00:49] benberk commented on #9749
@ashutoshc8101 I'm working on the changes you specified here, adding a keyvalue pipe and creating functions getSchema and getValue for the directive to call. I need to pass them configProperty.key from the template to match to the correct item in configProperties, which I tried like this:
`<schema-based-editor [schema]="getSchema(configProperty.key)" [localValue]="getValue(configProperty.key)"

[2021-04-25 02:01] U8NWXD opened #12638 "Make sure all e2e tests are included in CI workflows"
We currently mark tests that run on CircleCI as not running on CI. Instead, we should parse the CircleCI config file and make sure that all e2e tests run on some CI service

[2021-04-25 04:44] Droyk commented on #12478
Well, I'm teaching 10 students and all of them were frustrated about this they were searching on the internet as to why they don't need to keep track of it. in my experience, if you're gonna scrape the information it raises more questions and anxiety which will also make them less focused on what's going to coming next. scraping information not going to make them satisfied at all until they find t

[2021-04-25 05:52] aishwary023 commented on #12577
Closing the issue as it is not reproducible. Attached video of graph theory interaction working as intended.

https://user-images.githubusercontent.com/26626415/115982299-99087a80-a5b7-11eb-8430-e4b6a5fa50e8.mp4

[2021-04-25 05:52] #12577 closed, assigned to aishwary023

[2021-04-25 07:24] arpit1912 opened #12640 "python Linter is not detecting the '.' absence is some parts of python codebase"
**Describe the bug**
As being noticed, sometimes the linter checks pass even though the python comments doesn't have a '.' placed in the end of the sentence.  One such instance can be found [here](https://github.com/oppia/oppia/pull/12579#discussion_r618588408)

Moreever another such instance in the codebase is present [here](https://github.com/oppia/oppia/blob/1bf6d9cedc25806315d62e698052bfeb031b

[2021-04-25 08:07] ashutoshc8101 commented on #9749
We can discuss this further on discord, would you like to join angular migration team's discord server?

[2021-04-25 08:34] archi15 commented on #9825
Hi @kevintab95, I am not able to reproduce this issue. I think it is resolved now. Shall we close it?

[2021-04-25 13:04] ayatalat commented on #10474
I'd like to work on UtilsService. Could you assign it to me?

[2021-04-25 13:20] vojtechjelinek commented on #10474
@ehwu Hi, you will need to also fix the error in the dependencies of these files, if you deem that too much feel free to fix the issue in just one of the dependencies and create a PR for that.

[2021-04-25 13:26] vojtechjelinek commented on #10474
@ayatalat Done.

[2021-04-25 14:29] ashutoshc8101 opened #12641 "Browse our lessons button redirects to wrong route on learner's dashboard page."
**Describe the bug**
Browse our lessons button redirects to wrong route on learner's dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to learner's dashboard page
 2. Click on Browse our lessons

**Observed behavior**

https://user-images.githubusercontent.com/24855641/115997424-aeee5d80-a600-11eb-98d4-e9eb24ad90b1.mp4

**Desktop:**
 - OS: Pop os 20.10
 - Browser chrome
 -

[2021-04-25 14:32] ashutoshc8101 opened #12642 "TopicName variable not interpolated properly"
**Describe the bug**
TopicName variable not interpolated properly on revision tab on topic editor page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and Skills Dashboard
 2. Create a topic
 3. Go to preview then the revision tab
 4. See `<[ topicName ]>`

**Observed behavior**
![Screenshot from 2021-04-25 19-42-42](https://user-images.githubusercontent.com/24855641/115997570

[2021-04-25 17:39] benberk commented on #9749
@ashutoshc8101 Yes definitely, what is the link for the server?

[2021-04-25 17:42] ashutoshc8101 commented on #9749
https://discord.gg/ZBNQ5VCR

[2021-04-25 17:46] ashutoshc8101 commented on #9749
share your email. If you are not comfortable with sharing your email openly, then my email address is on my profile. Mail me, I will send the link to you.

[2021-04-25 18:27] benberk commented on #9749
You can contact me at bberkowitz13@gmail.com

[2021-04-25 21:15] atpug22 commented on #5295
Reopening it because this issue is re-occurring in #12582.

[2021-04-25 21:23] atpug22 commented on #5295
I figured out that this issue occurs only when we select the "Allow multiple sort items in the same position" option in the drag and drop interaction and this issue is with the third party library angular-ui-tree. I tried to understand the code but due to time constraints, I was unable to do so as we'll need to go through the third-party library code.

[2021-04-26 03:17] U8NWXD commented on #11496
@MA86 a cwd of the root of the repository should work. I don't know why that failed for you. You could also try running `python -m scripts.start`, which should handle installing all the dependencies, including the linters

[2021-04-26 05:59] pankajdahiya008 commented on #10798
@U8NWXD Can you please assign `core/tests/protractor_utils/ClassroomPage.js` to me?

[2021-04-26 07:01] aasiffaizal commented on #9320
Going through the code. The only place we use jinja is `extensions/value_generators/models/generators.py` in the **Copier** generator.

When the param `parse_with_jinja` is True, `jinja_utils` method `evaluate_object` is called. When I see the tests of the Copier generator most of the values passed are withing '{{}}'. For eg

- `generator.generate_value({'a': 'b'}, **{'value': '{{a}}', 'parse_with

[2021-04-26 12:06] #12292 closed, assigned to nobody

[2021-04-26 13:18] vojtechjelinek commented on #12642
@ashutoshc8101 On which server does this happen? Just locally or somewhere else?

[2021-04-26 13:19] vojtechjelinek commented on #12640
This might only happen since both these cases are located in the jobs folder?

[2021-04-26 13:20] ashutoshc8101 commented on #12642
I have checked this locally, i don't have sufficient rights on test server. So, couldn't check there.

[2021-04-26 13:22] ashutoshc8101 commented on #12641
@kevintab95 This looks worse than a regression.
PTAL

[2021-04-26 13:23] vojtechjelinek commented on #12624
Btw, I still didn't receive the testing request. Could anyone please submit it?

[2021-04-26 13:31] #10415 closed, assigned to hardikkat24

[2021-04-26 14:09] kevintab95 commented on #12641
Yikes, definitely a regression. Thanks a lot for reporting @ashutoshc8101! Any idea what caused it?

[2021-04-26 14:50] ashutoshc8101 commented on #12641
@U8NWXD @krishnarao22 This issue got through e2e.

[2021-04-26 19:34] seanlip commented on #10668
Note: we should not support bulk deletion. Deleting a skill is serious business and should only happen very rarely as it has knock-on effects. Bulk assignment is sufficient.

[2021-04-26 19:34] U8NWXD opened #12647 "Refactor GitHub Actions Workflows to Reduce Redundant Code"
* [ ] Avoid repeated `if` statements

@DubeySandeep suggests using a structure like this:

[code]

See https://github.com/oppia/oppia/pull/12440#discussion_r620157662 for discussion

* [ ] Use custom action functions for commonly repeated workflow steps

For an example, check out [.github/actions/check-if-pr-is-low-risk/action.yml](https://github.com/oppia/oppia/pull/12440/files#diff-4c981b81a7c9e

[2021-04-26 19:35] vojtechjelinek commented on #12624
If Brian's PR doesn't work we should try using this approach https://cloud.google.com/identity-platform/docs/show-custom-domain

[2021-04-26 20:42] U8NWXD commented on #12621
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:42] U8NWXD commented on #12622
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:43] U8NWXD commented on #12623
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:45] U8NWXD commented on #12625
@kevintab95 is the fix with bad images getting into the review deployed to the test server? If so, we should try reproducing this problem with a new suggestion

[2021-04-26 20:45] U8NWXD commented on #12630
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:48] U8NWXD commented on #12634
@DubeySandeep I agree with kevintab95, this looks to be a duplicate. I'm closing it, but please reopen if you disagree

[2021-04-26 20:49] U8NWXD commented on #12632
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:49] U8NWXD commented on #12633
@sagangwee this looks to be an issue in the contributor dashboard. Could you please make sure this gets fixed ASAP?

[2021-04-26 20:49] #12634 closed, assigned to nobody

[2021-04-26 20:56] sagangwee commented on #12589
This is on the main server? I see this on the test server, but I can't replicate on the main server.

[2021-04-26 20:57] sagangwee commented on #12621
Duplicate of https://github.com/oppia/oppia/issues/12276

[2021-04-26 20:58] #12621 closed, assigned to sagangwee

[2021-04-26 20:58] kevintab95 commented on #12625
Yup it is deployed. But there is another regression that is causing images to not show up in the translation flow in the test server. It has been fixed in https://github.com/oppia/oppia/pull/12573 and this fix is yet to be deployed.

[2021-04-26 21:17] sagangwee commented on #12622
This occurs in `exp_services.validate_exploration_for_story()`: https://github.com/oppia/oppia/blob/develop/core/domain/exp_services.py#L1004 when the xploration is updated upon accept.

This seems more of an issue with the exploration. The above was added recently in https://github.com/oppia/oppia/pull/12233. @aks681 Any ideas here?

[2021-04-26 21:21] sagangwee commented on #12310
@ARKEOLOGIST Any updates on this?

[2021-04-26 21:22] ARKEOLOGIST commented on #12310
Sorry, I was a bit busy with my examinations so I couldn't handle it. I'll send in a PR soon.

[2021-04-26 21:29] sagangwee commented on #12633
Tracking in https://github.com/oppia/oppia/issues/12396

[2021-04-26 21:29] #12633 closed, assigned to sagangwee

[2021-04-26 21:30] sagangwee commented on #12396
@jimbyo Also see https://github.com/oppia/oppia/issues/12633

[2021-04-26 21:33] sagangwee commented on #12630
What is meant by 'Try to review a translation suggestion with the following pattern: ""'? What does a pattern of "" mean?

[2021-04-26 21:37] sagangwee commented on #12632
@kevintab95 Seems to be an issue with the schema based editor.

[2021-04-26 21:41] sagangwee commented on #12623
The fix here is to probably surface a more useful error message to the user when their review message is too long. Since this case should rarely occur, I don't think this should block the release (our team has many higher priority issues).

[2021-04-26 21:45] brianrodri commented on #12624
Just to be clear, I don't think Firebase has anything to do with this issue. The code responsible for setting the cookie on the browser is from the webapp2 library: https://github.com/oppia/oppia/blob/b5e1c7c8ca08e175dc107a0913f52b71f9762639/core/platform/auth/firebase_auth_services.py#L119-L131

The fix will involve adding/removing arguments to that function call until Chrome is happy (documentat

[2021-04-26 23:07] halsheik commented on #11496
@U8NWXD can you deassign me from `Do not index into ElementArrayFinders with bracket notation ([])`. I found it too difficult to complete as it is out of my scope of knowledge.

[2021-04-27 02:34] U8NWXD commented on #10798
@pankajdahiyapd done! Please reach out if you have any questions

[2021-04-27 02:53] U8NWXD commented on #12589
DubeySandeep found this on the test server during release testing. I don't believe it has been found on the main server

[2021-04-27 03:02] U8NWXD commented on #12625
Okay. Since this has been fixed in develop I'm closing this issue

[2021-04-27 03:02] #12625 closed, assigned to kevintab95

[2021-04-27 03:04] U8NWXD commented on #12396
Adding this to blocking bugs since this issue replaces #12633, which is blocking the release

[2021-04-27 03:05] U8NWXD commented on #12396
@jimbyo this bug was also found in release testing and is blocking the release. Can it be fixed quickly?

[2021-04-27 03:06] U8NWXD commented on #12630
@DubeySandeep Please see the comment above ^^

[2021-04-27 03:09] U8NWXD commented on #12623
@sagangwee who currently reviews suggestions? If it's only a few people, I think we can notify them of this issue and remove it as a blocking bug

[2021-04-27 03:45] jimbyo commented on #12396
I'll work on this now

[2021-04-27 04:02] MA86 commented on #11496
@U8NWXD Thanks for the response. FYI, I did a little research on Yarn, and discovered `yarn upgrade` command, which fixed the issues I was having above. Subsequently, all three `scripts.linters.pre_commit_linter` checks passed. I will now make a PR request.

[2021-04-27 04:21] jimbyo commented on #12633
@DubeySandeep Did you ever use the skip translation button in the translating process?

The go back button should allow you to return to a previously translated translation opportunity.

For example..

Translation opportunity 1 (already translated)
Translation opportunity 2 (already translated)
Translation opportunity 3 (Currently here)

If you press the Go Back button while viewing Translation op

[2021-04-27 05:39] seanlip commented on #9320
@aasiffaizal Can you investigate what the effect of doing jinja_utils.evaluate_object() is on the various possible values and provide a table of inputs and outputs here? Then we can advise better.

Thanks!

[2021-04-27 05:54] arpit1912 commented on #12640
I don't think that's the case, the linter I think is not detecting the comments just below the function name otherwise it is generating the required error for other comments. @vojtechjelinek

[2021-04-27 07:52] jimbyo commented on #12396
@ARKEOLOGIST take a note of https://github.com/oppia/oppia/issues/12633

[2021-04-27 08:52] DubeySandeep commented on #10700
Hi @pankajdahiyapd, I've assigned you to the "Units", you can start working on it! :)

[2021-04-27 11:34] vojtechjelinek commented on #12503
@prasanna08 Any update on this? It would be nice to get this in ASAP.

[2021-04-27 12:16] ashutoshc8101 commented on #12642
@kevintab95 @aks681 PTAL

[2021-04-27 15:39] U8NWXD commented on #12624
I've done some more digging into this issue ([debugging doc](https://docs.google.com/document/d/1t78vPGdg9Hs7YjA1CSLmwpnx7zX2rs4KkrrT1rMGtnY/edit?usp=sharing)) and confirmed that this is a third-party cookie issue. Oppia's session cookie is set by `oppiatestserver.appspot.com` when the user is on `oppiatestserver.firebaseapp.com`. Third-party cookies are [defined](https://en.wikipedia.org/wiki/HTT

[2021-04-27 15:54] brianrodri commented on #12624
I think it makes sense, yes. Maybe we can introduce a constant like `feconf.OPPIA_DOMAIN`? The `set_cookie` API accepts a domain name as an argument ([source](https://webapp2.readthedocs.io/en/latest/guide/response.html#setting-cookies)), so we can leave it as `localhost` in dev mode and then change it to the appropriate domain as a deployment step? WDYT @vojtechjelinek?

[2021-04-27 15:56] U8NWXD commented on #12624
@brianrodri the values of that `domain` argument are going to be restricted by the same origin policy though. For example, `oppiatestserver.firebaseapp.com` can't set a cookie with domain `oppiatestserver.appspot.com` since that would pose a security threat

[2021-04-27 17:21] brianrodri commented on #12624
OK, moving forward I think that cookies might be a bad approach here. I did a bit more investigating and found that GAE has a concept of "sessions", perhaps that's the right approach here?

I'm learning as I go; here's the best lead I've been able to find: https://stackoverflow.com/a/18452554/4859885.

[2021-04-27 18:50] kevintab95 opened #12652 "[Server Error] Possibly unhandled rejection: {} in exploration-features-backend-api.service"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-04-27 18:53] kevintab95 opened #12653 "[Server Error] <StateName> does not exist."
This error occurred recently in production

[code]

Where XXX is the state name.

[2021-04-27 18:56] kevintab95 opened #12654 "[Server Error] Cannot read property 'findOne' of null"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-04-27 19:22] kevintab95 opened #12655 "[Server Error] answer.map is not a function"
This error occurred recently in production

[code]

This occured in the exploration player page.

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps ava

[2021-04-27 19:34] kevintab95 commented on #6531
Reopening since users seem to run into this (per our stackdriver reports).

[2021-04-27 19:35] kevintab95 commented on #6531
### Possible next steps:

1. Identify if this error pollutes the HTML content.
2. If so, investigate if our app can be made robust in handling it. e.g. cleaning the HTML.

[2021-04-27 21:37] brianrodri opened #12656 "Temporarily transfer codeowners for @brianrodri"
Transfer codeowners from @brianrodri to @kevintab95 and @vojtechjelinek until 2021-05-18.

[2021-04-27 21:45] sagangwee opened #12657 "[Contributor Dashboard] Enable translation of interactions"
We need to enable translation of interactions, e.g. Multiple Choice options so that lessons are fully translatable.

Relevant design doc: https://docs.google.com/document/d/1hhbk8tDd--yky9dOtcvcjiiezMqVehtZnwvQUC047AU/edit?usp=sharing

[2021-04-27 22:00] sagangwee commented on #12657
Relevant PR: https://github.com/oppia/oppia/pull/9919

[2021-04-27 22:56] kevintab95 opened #12659 "[Server Error] No max length validation for recommende exploration id field in the EndExploration customisationArgs"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-04-27 23:10] vojtechjelinek commented on #12624
@brianrodri What about the approach that I suggested? (https://cloud.google.com/identity-platform/docs/show-custom-domain)

[2021-04-27 23:17] brianrodri commented on #12624
Looks like that's a good way forward as well, although I wouldn't be able to test that it works without access to the test server. Note that we already have a way to modify the `authDomain` in `assets/constants.ts`, so it seems straightforward to test: https://github.com/oppia/oppia/blob/f1c7736e381541c7a0b654cc6a4dc1db92b84749/assets/constants.ts#L5559

---

Question for @vojtechjelinek: do we de

[2021-04-27 23:23] vojtechjelinek commented on #12624
Yep, `FIREBASE_CONFIG_AUTH_DOMAIN` can be set for each server separately, I think we only need to modify that and do the required changes on the Google Cloud Console.

[2021-04-27 23:25] brianrodri commented on #12624
Cool, although I don't really understand what the console steps are; don't we already have custom domains making those steps redundant?

[2021-04-27 23:35] vojtechjelinek commented on #12624
@brianrodri I think this step might be needed
![image](https://user-images.githubusercontent.com/10142938/116325202-e9532880-a7c1-11eb-898c-c77c9f174e75.png) so that the requests can be passed through the custom domain.

[2021-04-27 23:44] EricZLou commented on #12506
Closing this issue as per offline chats -- not reproducible by Sean or by me.

[2021-04-27 23:44] #12506 closed, assigned to EricZLou

[2021-04-27 23:46] kevintab95 opened #12660 "[Server Error] Handler /explorehandler/rating/<exp_id> sometimes takes too long to complete and times out"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-04-27 23:52] kevintab95 opened #12661 "[Server Error] Unable to find the given content id."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-04-28 00:46] #10892 closed, assigned to kevintab95

[2021-04-28 02:36] prasanna08 commented on #12503
Hey @vojtechjelinek, I won't be able to get to it ASAP because of some emergencies at home. If there is someone else who can help then you can ask them, I can answer any questions they have over chat.

[2021-04-28 03:34] U8NWXD commented on #11496
@halsheik done. @MA86 that's great news!

[2021-04-28 03:55] U8NWXD commented on #12624
One potential problem with using a custom domain: it requires setting TXT records. That's fine for oppia.org, but we might have trouble doing this for oppiatestserver.appspot.com since we don't own appspot.com

[2021-04-28 06:00] ARKEOLOGIST commented on #12654
Possible duplication of #12632? It arises from the copy editor only.

[2021-04-28 06:21] Radesh-kumar commented on #12316
@kevintab95 @U8NWXD  I think https://github.com/oppia/oppia/issues/12142 fixes this issue.
I came to this conclusion because of two factors
1. fadeIn Spy is not associated with this component.
2. It is only used in one place `edit-thumbnail-modal.controller.spec.ts`

[2021-04-28 09:21] aasiffaizal commented on #9320
Input | Output
----- | -------
`value = '{{a}}', context = {'a': 1}`| 1
`value = 'a{{a}}', context = {'a': 1}`| a1
`value = '{{a}}', context = {'a': 'b', 'd':'c'}`|b
`value = '{{a+b}}', context = {'a': 1, 'b':3}`|4
`value = '{{a+b}}', context = {'a': 1, 'b':'hello'}`|[CONTENT PARSING ERROR]
`value = '{{a}}', context = {}`| [CONTENT PARSING ERROR]

This is the input-output table for `jinja_utils.ev

[2021-04-28 10:44] vojtechjelinek commented on #9320
Yep, your approach seems fine, I didn't know we have a code for this in FE too.

[2021-04-28 11:02] vojtechjelinek commented on #12624
Good point, although I think the priority now is to fix it for oppia.org, for the test and backup server we can always ask devs to allow third-party cookies.

[2021-04-28 11:14] pankajdahiya008 commented on #10798
![Screenshot from 2021-04-28 16-35-14](https://user-images.githubusercontent.com/52493334/116394700-e1869900-a840-11eb-8f4e-cc365015e94f.png)

@U8NWXD. I need to count topic tiles so can I waitFor.visibiltyof(topNavbar) or should I choose some element after tiles and how?. Thanks.

[2021-04-28 11:15] Radesh-kumar opened #12662 "Unused variable in the constructor (for dependency injection) causing all e2e test to fail."
**Describe the bug**
Unused variable in the constructor (for dependency injection) causing all e2e test to fail.

**To Reproduce**
Steps to reproduce the behavior:
 1. Inject any service into the constructor.(Dont use any where else)
 2. Run any suite of e2e tests

**Observed behavior**
All e2e tests are failing

**Expected behavior**
**Can we restrict this by using lint checks?**

**Screenshots**

[2021-04-28 11:15] Radesh-kumar commented on #12662
PTAL @DubeySandeep @U8NWXD

[2021-04-28 12:47] aasiffaizal commented on #9320
Yeah, I found that while analyzing what are the values to be evaluated in the FE. I'll go ahead with this approach and raise a PR soon. :)

[2021-04-28 14:37] sagangwee commented on #12657
Scoped out changes here: https://docs.google.com/document/d/1wNu6hjWASjQzQDgn_NCE77OeHnGA0OcKBvVr7vgicig/edit

[2021-04-28 14:57] krishnarao22 opened #12665 "Improving the E2E Video Reporter"
The E2E Video Reporter being brought in by PR #12496 has multiple **caveats**. These are:

- The video will only be uploaded as an artifact if a suite fails 3 times in a row.

- Videos may also not show up if the failing suite isn't the first one in the workflow.

Ideally, the video reporter would:

- Record and save videos even if the failing suite isn't the first one in the workflow.
- Naming sy

[2021-04-28 16:01] DubeySandeep commented on #12512
@jimbyo I was not able to reproduce the issue, I wanted to check whether you have followed the [prerequisites step for installation](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Linux%29#prerequisites)?

[2021-04-28 16:02] DubeySandeep commented on #12512
I found that we need to run scripts.install_third_party_libs to download all the libraries. (It internally downloads certifi) Can you try that?

(Also, in general running start.py script will download all the libs, have you tried running scripts.start after cleaning?)

[2021-04-28 16:33] U8NWXD commented on #12316
OK, then I'm closing this issue. Please reopen it if it recurs!

[2021-04-28 16:33] #12316 closed, assigned to nobody

[2021-04-28 17:45] seanlip commented on #12512
Stack trace:

[code]

[2021-04-28 18:07] DubeySandeep commented on #12630
Looks like github removes tags from the comment, I had written this: `"<long-text>"`
![image](https://user-images.githubusercontent.com/16653571/116451831-9e491c00-a87a-11eb-85db-1b5f11768f4b.png)

[2021-04-28 18:28] sagangwee commented on #12630
Might be the language itself that is the problem. This is more of a conditional not ideal UX issue rather than critical blocking. We'll try to get to this for the June release cut, but we don't have the bandwidth for this in time for May's release cut.

[2021-04-28 20:02] seanlip commented on #9320
I think eval is a problem, actually. It's not safe in python and has security holes.

In which cases do we actually need the result of eval in the backend? If it's not really needed then maybe we can skip evaluation in the backend. Otherwise we'd need to write our own evaluator.

[2021-04-28 20:04] seanlip commented on #9320
Seems like it's only in the Copier generator (generate_value). Given that we don't properly support params any more, I think it's fine to just parse the simple cases and then have some sort of error for the non-simple cases.

[2021-04-28 20:58] U8NWXD commented on #12613
@aks681 when can you fix this bug? It's blocking the release, so please prioritize it

[2021-04-28 21:02] EricZLou commented on #12426
@krishnarao22 -- after searching around and looking through the `ck-editor` code, I don't think it is possible to type text into the text area before the toolbar is fully loaded.

The text area won't be available for typing until all of the data is loaded into the text area (for example, it can have the text "Hello" or an image or a collapsible, etc.). So `ck-editor` needs to spend time loading Op

[2021-04-28 21:06] U8NWXD commented on #12276
@sagangwee this has been a blocking bug for over a month at this point. Can you prioritize fixing it? I think we generally prioritize blocking bug fixes over new work. We also usually only allow delaying blocking bug fixes for at most one release cycle. Since this was found in March, it's already been pushed off for one release.

If you don't think this should block the release at all, please expl

[2021-04-28 21:06] U8NWXD commented on #12425
@ReshuKumari when can you fix this bug? It's blocking the release, so please prioritize it

[2021-04-28 21:09] U8NWXD commented on #12575
@aks681 when can you fix this bug? It's blocking the release, so please prioritize it

[2021-04-28 21:10] U8NWXD commented on #12582
@aks681 when can you fix this bug? It's blocking the release, so please prioritize it

[2021-04-28 21:11] U8NWXD commented on #12264
@apurvbotle when can you fix this bug? It's blocking the release, so please prioritize it

[2021-04-28 21:11] U8NWXD commented on #12264
Also assigning @aks681 and @kevinlee12 from the LACE team for visibility

[2021-04-28 21:13] U8NWXD commented on #12586
@Nik-09 when can you fix this bug? It is blocking the release, so please prioritize it.

[2021-04-28 21:14] U8NWXD commented on #12587
@lkbhitesh07 when can you fix this bug? It is blocking the release, so please prioritize it.

[2021-04-28 21:14] U8NWXD commented on #12580
@kevintab95 @aks681 when can you fix this bug? It is blocking the release, so please prioritize it.

[2021-04-28 21:16] U8NWXD commented on #12598
@kevintab95 when can you fix this bug? It is blocking the release, so please prioritize it.

[2021-04-28 21:32] rodemore commented on #10474
Hi @vojtechjelinek, I completed _ExplorationFeatureService_ and it was merged (PR #12388 ), mark it as completed please. And could you please assign me _MathEquationInputRulesService_ and _MisconceptionObjectFactory_?
Thanks!.

[2021-04-28 21:39] vojtechjelinek commented on #10474
@rodemore Done.

[2021-04-29 02:32] U8NWXD commented on #10798
In this case you know how many tiles there are supposed to be since `count` is passed into `expectNumberOfTopicsToBe`. You can use that information to wait for topic tiles only when there are supposed to be some present. For example:

[code]

Does that make sense?

[2021-04-29 02:41] U8NWXD commented on #12662
@Radesh-kumar let me make sure I understand: The fact that the tests fail in this case is correct. We just want to catch this problem in a lint check instead of the e2e tests. Is that right?

[2021-04-29 03:07] arpit1912 commented on #12503
Hi, @prasanna08  do you have any idea which files are conflicting? An example will be fine. I have also sent an invite for a chat if you want we can discuss it over there. Thanks!

[2021-04-29 03:35] prasanna08 commented on #12503
Hey Arpit, you can ask Vojtech, he would know what are the conflicts.

On Thu, Apr 29, 2021, 8:37 AM Arpit ***@***.***> wrote:

[2021-04-29 03:36] stephen-hannon commented on #10474
@vojtechjelinek Hi! Looking to get started contributing. Could you assign me to GraphUtilsService please?

[2021-04-29 04:01] pankajdahiya008 commented on #10798
Yes @U8NWXD I got it. Thanks👍

[2021-04-29 04:27] Radesh-kumar commented on #12662
Yes, Exactly!
After removing unnecessary variables tests are working fine.

[2021-04-29 05:51] aasiffaizal commented on #9320
@seanlip Yeah for FE, we have basically implemented a custom evaluator in `core/templates/expressions/expression/expression-syntax-tree.service.ts`. So I was planning to implement something similar so that the evaluation is safe.
[code]

So by the simple cases, you mean the first 2 cases in the IO table which I mentioned above? or should we add certain more operations such as binary operation and

[2021-04-29 05:57] seanlip commented on #9320
I would suggest: (a) do the first three cases in the IO table, and, separately, (b) write a one-off job that Vojta or I can run on backup data to see what other cases actually exist in prod. That will both minimize work and tell us what the diff from reality is. How does that sound?

[2021-04-29 06:06] aasiffaizal commented on #9320
Sounds great. Will start implementing the first three cases. I will need a little more context on the one-off job. I mean what it should and what it should analyze.

[2021-04-29 06:14] seanlip commented on #9320
It should look at all usages of the Copier generator in each exploration and output all cases (together with exp ID + state name identification) where the string to be evaluated isn't one of the forms we're already planning to handle. Does that make sense?

[2021-04-29 06:27] aasiffaizal commented on #9320
Yeah got a better idea. Any sample one-off job that I can refer to see how it is written? and the generator will be a part of the `param_changes` field right?

[2021-04-29 06:30] seanlip commented on #9320
Please talk to @vojtechjelinek or @rohitkatlaa, they can guide you on this. Thanks!

[2021-04-29 10:33] lkbhitesh07 commented on #12587
Hey @U8NWXD,
Yes I'm working on it but it's quiet strange as it's happening only in firefox browser. I tried some methods but they didn't worked. Also this is happening both for Skills and Topics section, only Story part is working fine. I'm searching more for it and I'll try to complete it as soon as possible.
Thanks and sorry for this much delay.

[2021-04-29 11:40] vojtechjelinek opened #12671 "`generate_signature` needs to work in both Python 2 and 3"
Currently, there is no clear definition of whether the `classifier_services.generate_signature` should work on bytes or on str, in some places, it is called with the arg `message` of bytes type, in others it is called with the arg `message` of str type. Could we please unify this and make sure that `generate_signature` works properly in Python 3 too?

[2021-04-29 12:40] kevintab95 commented on #6492
This still happens on Firefox. Reopening.

[2021-04-29 13:12] krishnarao22 commented on #12426
@EricZLou Alright, so it looks like this isn't actually a bug. We'll just have to wait for the toolbar to appear during end-to-end tests. Thanks for looking into this!

[2021-04-29 13:34] kevintab95 commented on #12426
Hi @EricZLou @krishnarao22, I think there may be a gap here. We allow entering text the input field even before the ckeditor has completely initialised. This may happen to users having slower network connections -- which means a great number of our target audience may face this. The user may click on the input field to edit, enter text immediately (often times, creators copy-paste large amount of

[2021-04-29 14:24] atpug22 commented on #12426
@kevintab95 For now, I think preloading the required files is not a good option because it will open the CKEditor in case of no network or bad network also and the save function will still not work in that case, so the text will still not get saved, and in this case, the user may get confused that the editor is opening, but the text is not saving, and he will think of it as a functionality or serv

[2021-04-29 22:47] mzachlin commented on #8423
Hi!  I'm new to Oppia and I was recommended this issue as a good place to start.  Can I be assigned the lint check for trailing comments (excluding pylint pragmas)?

[2021-04-30 01:09] esmith36 commented on #8423
Hi! I am also new, and I was recommended this issue! I know @mzachlin, so I could work with her on "prohibit usage of trailing comments (except for pylint pragmas)" if you think there is enough work there for 2 people, or I could work on "Every comment should have a single space after it (so, no "#pylint: ...")" Please advise and assign me. Thank you!

[2021-04-30 02:57] U8NWXD commented on #12662
In that case, I'm assigning this to the dev workflow team, which handles the linter. /cc @DubeySandeep

[2021-04-30 04:44] EricZLou commented on #12426
Ah okay thanks for the details @kevintab95 and @atpug22. I can try to add a loading sign until the CKEditor has completely initialized. And then open it up for editing.

[2021-04-30 13:11] vojtechjelinek commented on #10474
@stephen-hannon Done, please also follow these instructions [Contributing code to Oppia](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)

[2021-04-30 13:39] suryasiriki4 commented on #10798
@U8NWXD , can you please assign me `core/tests/protractor_utils/forms.js` ?

[2021-04-30 17:47] rohitkatlaa opened #12688 "Add {Model.property: Model.ID} relationship checks to the datastore models"
Part of [#11475](https://github.com/oppia/oppia/issues/11475).

Add validation checks for confirming that the properties of a model that refer to an ID of another are valid.

Example for UserAuthDetailsModel:
[code]

The above example, we added the relation for the [UserIdentifiersModel](https://github.com/oppia/oppia/blob/901e22172fc1f97a925989f8fa3063ac787a319f/core/domain/auth_validators.py#L65

[2021-04-30 17:48] rohitkatlaa opened #12689 "Add {Model.property: Model.ID} relationship checks to the UserSettingsModel"
Part of [#11475](https://github.com/oppia/oppia/issues/11475).

Add validation checks for confirming that the properties of a model that refer to an ID of UserSettingsModel are valid.
This is not being included in [#12688](https://github.com/oppia/oppia/issues/12688) because the current pipeline, doesn't have the feature to allow the system_ids and the pseudonymous_ids.

[2021-04-30 23:04] #12265 closed, assigned to nobody

[2021-04-30 23:53] sagangwee opened #12691 "Revert contributor experience codeowners after 2021-05-10"
Revert back to sagangwee@.

[2021-05-01 00:05] brianrodri opened #12692 "Refactor unit tests to depend on `establish_auth_session` and `destroy_auth_session` for managing login sessions."
Currently, we stub login sessions using the old GAE strategy: managing auth-related values in `os.environ`. However, this strategy is not helpful for tests that need to confirm that a login session is started/ended by the system under test. In general, we have no way to test that an action taken by a controller/service actually operates on the currently logged in user.

Now that we've introduced `

[2021-05-01 02:18] kevintab95 opened #12694 "Temporarily transfer codeowner away from Nithesh"
Temporarily transfer codeownership away from Nithesh to multiple people till 8-May-2021

[2021-05-01 03:05] kevintab95 commented on #12580
@Rijuta-s FYI I've assigned you per offline discussion!

[2021-05-01 03:05] kevintab95 commented on #12575
@Rijuta-s FYI I've assigned you per offline discussion!

[2021-05-01 03:59] romasch94 opened #12695 "Nav bar loads partially when the connection is slow"
**Describe the bug**
On poor connections, only part of the navigation bar is visible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Chrome Dev Tools
 2. Select the Network Tab ➞ No Throttling Dropdown ➞ Select Slow 3G Preset
 3. Load oppia.org

**Observed behavior**
The Library, About, Donate links are visible but the Classroom, Create, Sign In links are not.

**Expected behavior**
A

[2021-05-01 03:59] U8NWXD commented on #10798
@suryasiriki4 done!

[2021-05-01 04:52] arpit1912 opened #12697 "Refactoring of the audit_errors for different models"
The idea is to refactor the audit_errors.py based on the model it is being  used in, as discussed [here](https://github.com/oppia/oppia/pull/12669)

[2021-05-01 06:13] gp201 opened #12698 "Migrate all "changes that you made maynot be saved" to use preventpageunloadevent service instead."
Migrate all code that looks like https://github.com/oppia/oppia/blob/8d7cf0d90249e63425256017b6a4f74d85d21221/core/templates/pages/topic-editor-page/topic-editor-page.component.ts#L181-L193

To use [prevent-page-unload-event.service.ts](https://github.com/oppia/oppia/blob/develop/core/templates/services/prevent-page-unload-event.service.ts) service instead.

[2021-05-01 09:40] gp201 commented on #12512
![image](https://user-images.githubusercontent.com/30050862/116778336-eb9dd700-aa8e-11eb-9b0c-e7100c0ad001.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `scripts.clean`
2. Run `scripts.start`

Attempted to resolve error:

1. Ran `python -m pip install contextlib2==0.6.0.post1`
2. Ran `scripts.start`
2. The following error came:
![image](https://user-images.githubusercontent.com/30

[2021-05-01 09:58] DubeySandeep commented on #12512
@gp201  "User must sign in again" is a known issue, and @brianrodri is working on a fix. (You have to clean up the browser cookies to  fix this issue!)

Assigning @AdityaDubey0 to fix the "No module ..." issue.

[2021-05-01 10:16] suryasiriki4 commented on #11496
@U8NWXD, can you assign me `do not use filter`?

[2021-05-01 17:01] Varun8216889 commented on #10700
Hey,
Myself Varun Dagar and I am fresher. I am looking for good first issue to start contributing.
So if u assign some issue to me. It would be great.

[2021-05-02 13:07] Rijuta-s commented on #12580
@aks681  @kevintab95 @EricZLou As we provide an audio toolbar to read out exploration and function the same as chromeVox for exploration and question content, We can remove this from the blocking bug milestone. Chrome Vox is basically leaving the rte content and not just the questions.

[2021-05-02 13:50] Rijuta-s commented on #12580
Also according to @kevintab95, windows narrator is able to pick up the rte main content and read it out. But its not tabbable.Thus it can only be read when initially the page is loaded.

also, I noticed that the chromeVox is currently under maintenance:
![Screenshot from 2021-05-02 18-47-17](https://user-images.githubusercontent.com/68547101/116814587-5de9e680-ab77-11eb-992b-003079f7c9e4.png)

[2021-05-02 17:43] Varun8216889 commented on #10700
Hey,
Myself Varun Dagar and I am fresher. I am looking for a good first issue to start contributing.
So if u assign some issue to me. It would be great.

[2021-05-02 17:44] Varun8216889 commented on #11496
Hey,
Myself Varun Dagar and I am fresher. I am looking for good first issue to start contributing.
So if u assign some issue to me. It would be great.

[2021-05-02 17:45] Varun8216889 commented on #3968
Hey,
Myself Varun Dagar and I am fresher. I am looking for good first issue to start contributing.
So if u assign some issue to me. It would be great.

[2021-05-02 19:17] #12512 closed, assigned to jimbyo, AdityaDubey0

[2021-05-02 22:04] kevintab95 commented on #12142
This flake still occurs. See https://github.com/oppia/oppia/runs/2487940855?check_suite_focus=true
[logs_106973.zip](https://github.com/oppia/oppia/files/6412338/logs_106973.zip)

Reopening.

/cc @Radesh-kumar @U8NWXD

[2021-05-03 00:30] MA86 commented on #11496
@U8NWXD, My lint-check, which disallows use of `.then()` method, works as expected. It introduces *1000+* failures where `.then()` is used. Most of these failures are in *Ignored Files*.

My question: I added my rule in line 119 of `.eslintrc` file. Should I remove it from there and add it next to `oppia/e2e-action` instead? Or perhaps create a new spot for it? Thanks a bunch!

**UPDATE:** Reposit

[2021-05-03 09:55] srijanreddy98 opened #12712 "CodeRepl interaction TODOs:"
The following are the existing TODOs in the graph interaction files attached. (I have not attached an `@` to the usernames in order to not disturb the then Oppia Members).

1. TODO(sll): Change the default Python indentation to 4 spaces.

[2021-05-03 12:15] riyasoganii commented on #12478
Is there anything particular you would want to add to the text? We can definitely incorporate it if you think it is necessary. If not, I would like to close the issue as we only keep pending issues open here. You can of course file another issue, whenever you identify one!

[2021-05-03 12:29] brianrodri commented on #12624
I think @aks681 has confirmed this is fixed, right?

[2021-05-03 17:53] ARKEOLOGIST opened #12717 "[Server Error] Cannot read property 'tagName' of null"
This error occurred recently in production.

![error_modal](https://user-images.githubusercontent.com/34165124/116913012-99afa980-ac66-11eb-97e2-122c8f47f01a.PNG)

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholder

[2021-05-03 17:54] ARKEOLOGIST commented on #12717
cc @DubeySandeep

[2021-05-03 18:50] #12590 closed, assigned to EricZLou

[2021-05-03 19:12] brianrodri opened #12718 "Pylint can't be run from command line"
**Describe the bug**
Pylint cannot be run from the command line.

**To Reproduce**
Steps to reproduce the behavior:
 1. `python -m scripts.clean`
 2. `python -m scripts.install_third_party`
 3. `pylint core --rcfile=.pylintrc -i y`

**Observed behavior**
[code]

**Expected behavior**
Pylint should run on all files in `core/`

**Desktop (please complete the following information; delete this sectio

[2021-05-03 19:38] U8NWXD commented on #12624
Yes, this has been fixed

[2021-05-03 19:38] #12624 closed, assigned to brianrodri

[2021-05-03 19:40] U8NWXD commented on #12613
@krishita30j could you give an estimate of when you can fix this bug?

[2021-05-03 19:48] U8NWXD commented on #12582
Since this error just has a console error and doesn't otherwise impede the user experience, I think we can fix it after the release is done

[2021-05-03 19:54] U8NWXD commented on #12623
I'm pushing this until the next release. @seanlip since I think you're the only one who currently reviews suggestions, note that long review messages will cause this problem

[2021-05-03 19:56] U8NWXD commented on #12630
I'm pushing this until the next release, but @sagangwee I think this is a pretty severe UX issue. Having to scroll horizontally to see the translation will be quite annoying for the reviewer

[2021-05-03 19:56] U8NWXD commented on #12632
@Nik-09 could you estimate when you'll be able to fix this bug? It's blocking the release

[2021-05-03 19:57] U8NWXD commented on #12586
@Nik-09 could you estimate when you'll be able to fix this bug? It's blocking the release

[2021-05-03 19:59] U8NWXD commented on #12609
Moving to next release's milestone since we're planning to hotfix these

[2021-05-03 19:59] U8NWXD commented on #12547
Moving to next release's milestone since we're planning to hotfix these

[2021-05-03 20:42] #12641 closed, assigned to nobody

[2021-05-03 21:19] #12173 closed, assigned to jimbyo

[2021-05-03 21:21] U8NWXD commented on #11496
@MA86 yes, please add it next to `oppia/e2e-action`. `.then()` is fine in the rest of the code base, we just don't want it in the e2e tests

[2021-05-03 21:22] U8NWXD commented on #11496
@suryasiriki4 done

[2021-05-03 21:22] U8NWXD commented on #11496
@Varun8216889 I've assigned you to `Do not access .length of ElementArrayFinders.`

[2021-05-04 04:44] rodemore commented on #10474
Hello @nishantwrp  @vojtechjelinek

_MathEquationInputRulesService_ and _NumericInputRulesService_ are already included in tsconfig-strict.json

![image](https://user-images.githubusercontent.com/46513107/116961438-f57b3200-ac68-11eb-87e0-54d31ad4c7f4.png)

[2021-05-04 06:07] seanlip commented on #12623
Hi @U8NWXD -- just a note, I'm definitely not the only one who reviews suggestions. But I don't think this will happen in practice.

Also, this seems like it should be easy to fix with a maxlength attr or something...

[2021-05-04 06:20] Varun8216889 commented on #11496
thank u

[2021-05-04 08:02] Nik-09 commented on #12586
I am working on it. I will create pr by today.
Thanks.

[2021-05-04 08:02] Nik-09 commented on #12632
I am working on it. Probably by 5th May I will create a pr.
Thanks.

[2021-05-04 08:50] kevintab95 opened #12722 "[Server Error] Invalid regular expression: invalid group specifier name"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-05-04 09:29] vojtechjelinek commented on #10474
@rodemore Sorry, fixed it.

[2021-05-04 12:34] U8NWXD commented on #12613
This only results in a console error, so I'm pushing it to the next release

[2021-05-04 16:07] kevintab95 commented on #12586
Just some breadcrumbs of information that may be relevant to whoever is investigating this :)

On looking at the relevant handler, it seems like we merge the questions first and only later on update the skills.

https://github.com/oppia/oppia/blob/develop/core/controllers/topics_and_skills_dashboard.py#L402-L418

So if the "update" step fails, the questions would still be merged. Maybe we should m

[2021-05-04 21:38] mzachlin commented on #8423
@Hudda Would you mind assigning @esmith36 and I to the issues we mentioned in our comments above?  Thank you so much!

[2021-05-05 02:27] kevintab95 commented on #12632
This is happening because the suggestion modal uses ngbModal whereas the customise RTE modal uses uibModal. When two different modal libraries are used, there seems to be an issue with stacking. Fix is to use ngbModal for the customise RTE modal.

[2021-05-05 05:16] #12575 closed, assigned to Rijuta-s

[2021-05-05 06:55] Hudda commented on #8423
@mzachlin I've assigned you to `Prohibit usage of trailing comments (except for pylint pragmas)`

[2021-05-05 06:56] aasiffaizal commented on #9320
Looked more into where the `jinja_utils.evaluate_object` is called. The below path is how it is called.
 -> `generate_value` from `extensions/value_generators/models/generators.py`
 -> `_get_value` from `core/domain/param_domain`
 -> `get_normalized_value` from `core/domain/param_domain`

`get_normalized_value` is used only by `get_updated_param_dict` from `core/tests/test_utils.py`. I am assuming

[2021-05-05 06:57] Hudda commented on #8423
@esmith36 I've assigned you to `Every comment should have a single space after it (so, no "#pylint: ...")`

[2021-05-05 07:55] vojtechjelinek commented on #9320
@aasiffaizal Hmmm, I understand that the `get_normalized_value` is only used from _test_utils.py_, but what about the other two (`_get_value` and `generate_value`)? It seems that these are used too and that we pass data from the datastore to them, right?

[2021-05-05 08:03] #12610 closed, assigned to ARKEOLOGIST

[2021-05-05 08:04] aasiffaizal commented on #9320
@vojtechjelinek If I am not wrong, `generate_value` is only used in `_get_value` and a few other tests. and `_get_value` is only called in `get_normalized_value`.

[2021-05-05 08:04] vojtechjelinek commented on #9320
@aasiffaizal Oh I see that you're providing a stack trace and not a list of files. Then you're right and I think your approach seems correct, although I think that if we actually only use this in tests we might be able to get rid of it entirely.

[2021-05-05 08:07] aasiffaizal commented on #9320
@vojtechjelinek Yeah I was providing a stack trace :D. So shall I move forward in removing just the parse_with_jinja part or the complete generator file?

[2021-05-05 09:24] vojtechjelinek commented on #9320
Yep, fine by me.

[2021-05-05 14:07] suryasiriki4 commented on #11496
@U8NWXD, I have 2 questions :

1. What is the valid replacement for `.filter()`, can you tell me where can I find it?
2. Is it to be checked only in `protractor_utils` dir?

thank you.

[2021-05-05 18:39] sagangwee commented on #12276
@U8NWXD Sorry for the late response.

This has been lower priority for us, since this issue should occur very infrequently on the production server as I believe explorations/skills rarely get deleted (and this issue hasn't been reported in production to my knowledge). Even if this issue does occur, it has a smaller impact on users than the features/bug fixes we are currently working (see [our proj

[2021-05-05 19:11] krishita30j commented on #12623
Hi @sagangwee, can I assign myself this issue?

[2021-05-05 19:56] DubeySandeep opened #12733 "Find a way to exclude generating codecoverge for third_party libs"
Currently, we generate code coverage for untracked files in the repo and exclude checking the coverage report of these files. ([ref](https://github.com/oppia/oppia/pull/12091#discussion_r625506592)). Through this issue, we want to change this workflow such that we don't generate code coverage for untracked files in the repo.

[2021-05-05 21:49] sagangwee opened #12735 "[Contributor Experience] Add separate email preferences option for contributor dashboard related emails"
Currently, to receive the reviewer/admin contributor dashboard email notifications, the user must have the "Receive news and updates about the site" email option checked in their /preferences page. This is a bit confusing as the "Receive news and updates about the site" option is intended for marketing emails.

Most likely what we want here is a new separate preferences option for just contributor

[2021-05-05 22:53] BenHenning opened #12736 "Restore code ownership after 24 May"
I will be working at reduced hours & taking time off over the next couple weeks, and should be able to resume after 24 May.

[2021-05-05 23:08] kevintab95 opened #12738 "[Contributor Dashboard] Copying Images does not work"
**Describe the bug**
Copy tool in the contributor dashboard does not work.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/contributor-dashboard'
 2. Translate content with an image.
 3. Observe that the copy tool is not copying images.

**Observed behavior**
Copy tool is not copying images.

**Expected behavior**
Copy tool should be able to copy images.

![image_broken](https://use

[2021-05-05 23:45] seanlip commented on #12623
Hi @krishita30j, thanks! @sagangwee is away so I'd say, go for it :)

[2021-05-06 02:55] U8NWXD commented on #11496
@suryasiriki4 Regarding (1) I don't think there's a drop-in replacement. We'd expect to use something like a for loop instead. Regarding (2) this should also be checked in `protractor/` and `protractor_desktop` (though you probably won't find many violations there). Following the same structure as #11734 should handle this correctly

[2021-05-06 03:04] U8NWXD commented on #12276
@sagangwee Yes, that sounds fine. My impression is that while this isn't really a "good" state, it's the best we can do right now. I am a little worried though by the "best we can do" part--it seems we are unable to keep up with bug fixing. Do you think that the current time to get bugs fixed is acceptable, or do we need to make structural changes to get bugs fixed faster (e.g. devote more resourc

[2021-05-06 04:22] #12396 closed, assigned to kevintab95

[2021-05-06 12:19] kaushambisharma commented on #8423
Hello, I am new, and I was recommended this issue. I'd like to be assigned something too.

[2021-05-06 12:24] kaushambisharma commented on #8015
Hi, I'm new and I'd like to be assigned core/templates/domain/topic/editable-topic-backend-api.service.ts.

[2021-05-06 12:27] kaushambisharma commented on #4057
Hello, I'm new and I was recommended this issue, I'd like to work on editable-story-backend-api.service.ts.

[2021-05-06 12:29] kaushambisharma commented on #9749
Hello, I'm new and I was recommended this issue. I'd like to help with collection-editor-save-modal.controller.ts.

[2021-05-06 17:21] kevintab95 commented on #12622
We currently only support explorations attached to curated topics on the dashboard. And we don't expect curated lessons to contain parameters. The fix for this is to properly deprecate parameters. LaCE team is deprioritising this for now.

[2021-05-06 17:27] ninjakx commented on #11898
This issue is not fixed in these type of card:

![Screenshot from 2021-05-06 22-55-45](https://user-images.githubusercontent.com/29797787/117340175-3f108a80-aebe-11eb-8cd1-4c8ae2545d7d.png)

[2021-05-06 17:32] ninjakx opened #12743 "Tags are not in a single line"
**Describe the bug**
Tags are not in a single line.

![Screenshot from 2021-05-06 22-55-45](https://user-images.githubusercontent.com/29797787/117340706-d1b12980-aebe-11eb-9e49-aeaa745a26c4.png)

Moreover this #11898 doesn't seem to be solved for this case.

[2021-05-06 18:19] ninjakx commented on #11898
I guess instead of reducing the size of last two it would be better to make the facebook and twitter Icon same size as those two.
Better to use rem than px.

![Screenshot from 2021-05-06 23-45-55](https://user-images.githubusercontent.com/29797787/117346459-6454c700-aec5-11eb-82ec-68dad79ec6d8.png)

[2021-05-06 19:30] ninjakx commented on #8570
@kevinlee12 I am facing the same issue.

[2021-05-06 19:31] ninjakx commented on #8570
**Traceback:**

[code]

[2021-05-07 01:22] U8NWXD commented on #4057
@kaushambisharma I've assigned you

[2021-05-07 03:40] kevinlee12 commented on #8570
@ninjakx I'd recommend seeking help from the community via gitter. I'm no longer actively contributing.

[2021-05-07 05:37] Hudda commented on #8423
@kaushambisharma This issue is no more a `good first issue`. Could you please choose any other issue to work on? Thanks!

[2021-05-07 12:23] jay24rajput commented on #8016
Hello @ankita240796 @nishantwrp Can you please assign me `core/templates/dev/head/pages/creator-dashboard-page/creator-dashboard-page.controller.ts`. I am new to the community and would like to start by working on this issue

[2021-05-07 17:05] #12586 closed, assigned to Nik-09

[2021-05-07 17:26] U8NWXD commented on #11441
I saw this again on #12745 ([build link](https://github.com/oppia/oppia/pull/12745/checks?check_run_id=2528580279)). Here's the error log:

[code]

[2021-05-07 17:27] U8NWXD commented on #11441
@kevintab95 it looks like #12064 might not have been a complete fix

[2021-05-07 17:45] kevintab95 commented on #11441
@U8NWXD hm, I think my fix was for a different flake (see [description](https://github.com/oppia/oppia/pull/12064#issue-582522663)). It fixes `should save new file and close the modal when file is changed` (reported in https://github.com/oppia/oppia/issues/11441#issuecomment-778958891).

I think it might be incorrectly linked here.

This issue seems like a duplicate of https://github.com/oppia/opp

[2021-05-08 03:09] U8NWXD commented on #12142
Another example: https://github.com/oppia/oppia/pull/12745/checks?check_run_id=2528580279

[2021-05-08 03:10] U8NWXD commented on #11441
The other one's been more active recently, so I'm closing this issue in favor of #12142

[2021-05-08 03:10] U8NWXD commented on #12142
#11441 is a duplicate of this and has further examples

[2021-05-08 03:10] #11441 closed, assigned to kevintab95

[2021-05-08 09:44] DubeySandeep opened #12755 "Use roles and banned fields of UserSettingsModel once the values are correctly populated"
Currently, roles and banned fields are introduced in the USerSettingsModel through #12683, It is expected to use these fields once these fields are populated with correct value via a one-off job.

[2021-05-08 09:45] DubeySandeep commented on #12755
Closing this issue, for now, I'll reopen it once #12683 is merged.

[2021-05-08 09:45] #12755 closed, assigned to nobody

[2021-05-08 12:20] mridul-netizen commented on #12142
@U8NWXD I'm working on this under https://github.com/oppia/oppia/pull/12667, using Angular animation in place of JQuery!

[2021-05-08 17:02] Rijuta-s opened #12760 "Implement Lint Check : Ensure correct naming convention for asynchronous methods."
In order to make it easier for developers to identify asynchronous methods, the following conventions should be followed:

1.Use of "async" keyword in the function definitions.
2.Use of "Async" added to the end of the function name.

Thus a lint check should be introduced ensuring that all the functions follow the format.

[2021-05-08 17:41] Radesh-kumar commented on #12142
@mridul-netizen Are you also planning to migrate the controller?

[2021-05-08 17:49] mridul-netizen commented on #12142
@Radesh-kumar yes I did migrate the controller as well .I'm working on the tests .PTAL at the PR

[2021-05-08 17:51] Radesh-kumar commented on #12142
Sounds good thanks!

[2021-05-09 00:23] seanlip commented on #7463
Note: This should actually be handled by allowing the option to revert to a default picture instead.

[2021-05-09 04:43] U8NWXD commented on #12142
Great, thanks @mridul-netizen! I've linked your PR and assigned you to reflect that you're working on a fix

[2021-05-09 10:30] arpit1912 commented on #12688
@rohitkatlaa  how to add a relationship check for cases like [this](https://github.com/oppia/oppia/blob/35eaf75fb4243fbd957f5e937b62c3ebea75cf07/core/domain/user_validators.py#L56) where we are returning a empty list. Also are we adding the tests for these checks?

[2021-05-09 13:03] rohitkatlaa commented on #12688
@arpit1912 For [these](https://github.com/oppia/oppia/blob/35eaf75fb4243fbd957f5e937b62c3ebea75cf07/core/domain/user_validators.py#L56) cases you don't have to add the relationships. And yes, you have to add tests for these relations.

[2021-05-09 15:48] DubeySandeep commented on #8016
@MohdImran001 I've assigned you to `extensions/interactions/EndExploration/directives/oppia-interactive-end-exploration.directive.ts`, you can use the existing ExplorationSummaryBackendApiService.loadPublicAndPrivateExplorationSummaries function instead of creating a new backend API service. Let me know if you need any help! :)

@jay24rajput Welcome to Oppia! I've assigned you to `core/templates/p

[2021-05-09 19:42] DubeySandeep opened #12768 "Revert the temporary fix for rte-component-modal issue and migrate rte-component-modal to angular to fully fix the issue"
Revert the temporary fix for the rte-component-modal issue and migrate rte-component-modal to angular to fully fix the issue.

[I'll add more info in the issue after creating the PR for a temporary fix.]

[2021-05-09 19:42] #12768 closed, assigned to nobody

[2021-05-09 20:15] U8NWXD opened #12770 "Assert Console Errors Present in E2E Tests"
Currently, we use `general.checkForConsoleErrors(acceptable_errors)` in the E2E tests to make sure that no errors except those in `acceptable_errors` are present. However, we don't check that `acceptable_errors` are actually present. This frustrated fixing the flake resolved by #12745.

We should instead assert that every error in `acceptable_errors` is actually found. If necessary, we can also ad

[2021-05-09 20:54] DubeySandeep commented on #12589
This is a regression issue introduced via #11738, this looks very ugly and I've initiated a PR to fix it at #12772

[Also, marking this as blocking bug as it's a regression]

[2021-05-10 00:46] #12632 closed, assigned to Nik-09

[2021-05-10 02:20] U8NWXD commented on #12589
Fixed by #12772

[2021-05-10 02:20] #12589 closed, assigned to nobody

[2021-05-10 02:21] U8NWXD commented on #12738
@kevintab95 is this a regression (i.e. does this happen currently on prod)? If not I think we decided to go ahead and do the release without fixing it

[2021-05-10 02:48] clink4 commented on #10798
Hi @U8NWXD, I am a new contributor looking to get started on my first issue (I've signed the CLA & filled out the interest survey). Could you please assign me core/tests/protractor_utils/StoryEditorPage.js?

[2021-05-10 04:19] esmith36 commented on #8423
@Hudda Is there any more information on the `Every comment should have a single space after it` issue? For example, how to reproduce the error? From my initial testing with the regex, it seems to work, although it doesn't catch the cases where the line is just a `#` or when there are multiple spaces.

[2021-05-10 05:21] MA86 commented on #11496
@U8NWXD, `Do not use .then()` is now successfully merged. Thanks for the help! Now I would like to tackle `Do not index into ElementArrayFinders with bracket notation ([])`, can you assign me to it?

[2021-05-10 06:54] Rijuta-s opened #12776 "Console Errors in Admin page : TypeError in Promise Rejections."
**Describe the bug**
While loading data structures(skills and topics) without having admin rights, console errors for typeError in  promise rejection are raised and the message on the admin page keeps displaying: "Processing".

**To Reproduce**
Steps to reproduce the behavior:
[ Do not assign your self admin rights from config tab]
 1. Go to 'admin page'
 2. Go to the 'Activities' tab
 3. Scroll d

[2021-05-10 08:23] kevintab95 commented on #12738
This is a regression, it does not happen on prod and it is important to get it fixed because translators are heavily relying on this functionality for their work.

[2021-05-10 08:25] kevintab95 commented on #12738
Assigning @aks681 since he has a fix for this.

[2021-05-10 10:08] ashutoshc8101 opened #12779 "Flake Report: playVoiceovers suite"
**Describe the bug**
Flake with playVoiceovers.js

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to develop
 2. Run playVoiceovers suite

**Observed behavior**
Protractor skips to it block without executing last 3-4 lines of beforeAll block.

https://user-images.githubusercontent.com/24855641/117642912-7bd1cf80-b1a5-11eb-8f20-9ed1c65ee41c.mp4

**Desktop (please complete the following in

[2021-05-10 10:09] ashutoshc8101 commented on #12779
@U8NWXD PTAL

[2021-05-10 14:02] mridul-netizen commented on #12738
@kevintab95 I too faced this while working on `story-viewer-page` see this https://github.com/oppia/oppia/pull/12472#discussion_r620686129

[2021-05-10 14:15] chris7716 commented on #11735
To handle this programatically, a new flag will be implemented to the suggestion storage model. The implementation approch for this is described in [this](https://docs.google.com/document/d/1a0FDeFo_1ZHsRkYOIDsshuJntAzsfiNfVSAUIIByBkU/edit) doc. This implementation is further required for https://github.com/oppia/oppia/pull/12540
cc/ @sagangwee @seanlip

[2021-05-10 19:23] Rijuta-s commented on #12238
@sagangwee @seanlip
May be we can get the question review model also synced with the question editor of the skill and topic editor tab.
( by sync I mean to appear the same.)

The below design doc came up as a solution to - task 8 of #11464. (It is temporarily fixed in  PR #12308)
https://docs.google.com/document/d/1Fn0TWVxhC8MSC6CriHZqrmr1so8wn3ESplaKOKcXgcc/edit
I still need to update the mocks a

[2021-05-10 20:24] sagangwee commented on #12238
@Rijuta-s I think the main concern is [this UX question](https://docs.google.com/document/d/1Fn0TWVxhC8MSC6CriHZqrmr1so8wn3ESplaKOKcXgcc/edit?disco=AAAAI_ayJjE) in the doc regarding whether we can avoid having to redirect the user. Can you look into this? Thanks!

[2021-05-10 22:39] seanlip commented on #12238
Agreed, please don't redirect. The editor should appear in a pop-up on the page.

[2021-05-11 01:35] #12697 closed, assigned to arpit1912

[2021-05-11 02:51] U8NWXD commented on #10798
@clink4 done!

[2021-05-11 02:54] U8NWXD commented on #11496
@MA86 done!

[2021-05-11 03:01] U8NWXD commented on #12779
@ashutoshc8101 I suspect this may be because of our neutral element clicks, for example:

https://github.com/oppia/oppia/blob/b1bd62193094030c3ddc5eb021343f39a2ad8cc6/core/tests/protractor_utils/ExplorationEditorSettingsTab.js#L165

Removing the neutral element clicks might help. Could you try that and check whether that fixes the flake? Also, a few questions:

1. Have you ever seen this on a PR,

[2021-05-11 04:39] Rijuta-s commented on #12238
@sagangwee @seanlip  I'm really very sorry for the delay and confusion on my part, the user will no longer be redirected and the question suggestion editor will be opened in the full-screen pop-up as suggested by  Chantel in the comments. I'll update the design doc with the mocks and the user flow ASAP.

So, should I also create mocks for the question review modal ( It will be opened in the same p

[2021-05-11 04:54] seanlip commented on #12238
No worries! Yes, since this issue relates to the question review modal, I think mocks for the proposed implementation would be good.

[2021-05-11 04:55] EricZLou commented on #12735
Aside from having a separate email preference option, what if we made an opt-out mechanism, similar to Github?

As soon as I comment on this issue, I get automatically subscribed to the issue. I can opt-out if I want to by clicking "Unsubscribe" in the email or on this Github page. For the contributor notifications, we can automatically subscribe the reviewer, and then they can choose to opt-out o

[2021-05-11 05:09] seanlip commented on #12735
That seems reasonable to me, and we can also mention this in the email we send to reviewers (that they will be added to notifications) so that it's not a surprise.

[2021-05-11 07:35] YBCS opened #12786 "sort lint checks not enabled for jobs"
https://github.com/oppia/oppia/pull/12568#discussion_r629821793

**Describe the bug**
Sort lint checks are not enabled for jobs directory.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to jobs/transforms
 2. try importing something (out of order)
 3. run the lint checks
 4. expected lint error is not caught by lint checks.

**Observed behavior**
Tried to import re without a line break

[2021-05-11 15:50] DubeySandeep commented on #12492
@U8NWXD Cna you please check the issue with the e2e test script?

@krishita30j I'm looking into the backed test script issue and I'll give an update by tomorrow!

[2021-05-11 16:31] vojtechjelinek commented on #12671
Comment from Prasanna:

[2021-05-11 16:41] #12503 closed, assigned to arpit1912

[2021-05-11 18:30] jay24rajput commented on #8016
Hey @DubeySandeep

I am working on the issue assigned by you. I am trying to push code to my fork, but it seems the front-end tests are failing and showing such kinda msg and it is difficult to debug it. I have not touched the spec files it is showing. If this is a common phenomenon, would force-pushing the changes help?

 Can you please help me out here cause I am not able to debug what is going

[2021-05-11 21:37] #10306 closed, assigned to Rijuta-s

[2021-05-11 21:59] EricZLou opened #12791 "`/proto` folder still being generated - or need to manually delete `/proto` folder?"
**Describe the bug**
Seems like after #12672, the `/proto` folder was renamed to `/proto_files`, but after merging with these changes, the `/proto` folder is being generated along with the `/proto_files` folder. So now there are 2 folders. This prevents contributors from pushing changes to Git. cc: @arpit1912
On 2nd thought, maybe I just need to manually delete the `/proto` folder.

**To Reproduce

[2021-05-11 22:00] EricZLou commented on #12791
Maybe I need to manually delete the `/proto` folder?

[2021-05-12 01:25] U8NWXD commented on #12492
@krishita30j can you provide more information on the e2e failures? I can't really debug from what's in this thread so far. The full console error logs would be helpful. If the browser opens when the e2e tests run, a screen recording would help too

[2021-05-12 02:18] arpit1912 commented on #12791
@EricZLou  we need to manually delete the proto folder once, after that it won't be generated again. Thanks!

[2021-05-12 02:57] YBCS opened #12792 "implement the _get_change_domain_class for other models, part of #11475"
https://github.com/oppia/oppia/pull/12568#pullrequestreview-657062049
currently we have implementation of _get_change_domain_class for :
- [x] change_domain
- [x] exp_domain
- [x] collection_domain
- [ ] config_domain (review)
- [x] platform_parameter_domain
- [ ] question_domain (review)
- [ ] skill_domain (review)
- [ ] story_domain (review)
- [ ] subtopic_page_domain (review)
- [ ] topic_domain

[2021-05-12 05:12] #12598 closed, assigned to gp201

[2021-05-12 06:35] Hudda commented on #8423
@esmith36 You don't need to anything if it is just a `#` but if there's no space or more than one space then you need to raise a lint error. Thanks!

[2021-05-12 07:05] krishita30j commented on #12492
Hi @U8NWXD, I have attached the video link in the issue description. PTAL!

[2021-05-12 07:24] srijanreddy98 opened #12793 "Remove OppiaAngularRoot.ajsTranslate when moving to ngx-translate"
This is temporarily provided for $translate.instant translations and messageformat (pluralization). We need to change it when we move to ngx-translate. (Expected date: 19th May 2021)

[2021-05-12 08:31] #12580 closed, assigned to Rijuta-s

[2021-05-12 11:20] #12776 closed, assigned to Rijuta-s

[2021-05-12 18:53] U8NWXD commented on #12492
@krishita30j I don't think the e2e failures are related. They look like flakes. It's a known problem that e2e tests often flake when run locally (even more than when run on our CI servers), but we're prioritizing flakes that occur on CI over those that only occur locally.

I know this makes debugging E2E tests harder; sorry about that. We're working on recording videos of the E2E tests running on

[2021-05-12 20:30] sagangwee commented on #12276
@U8NWXD I think our team just doesn't have the resources currently to keep up with the bug fixes/feature requests. We have 3 devs that can only devote ~3-10 hours per week to work on issues, and since most of them are university students, there are frequent weekly time conflicts with exams. They are also newer contributors, so we are still ramping up as well.

[2021-05-12 20:34] sagangwee commented on #12310
@ARKEOLOGIST Any updates here?

[2021-05-12 20:35] #12691 closed, assigned to sagangwee

[2021-05-13 06:07] hardikkat24 opened #12799 "Error while running tests"
**Describe the bug**
Error is thrown while running backend tests on develop branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `python -m scripts.run_backend_tests --test_target=core.controllers.questions_list`

**Observed behavior**
An error is thrown

**Expected behavior**
Tests must run correctly.

**Screenshots**
![Screenshot from 2021-05-13 11-33-08](https://user-images.githubu

[2021-05-13 08:46] hardikkat24 commented on #12799
I used git bisect and found out 25525a50285d56345d00b9b78eec2c2c63fa62cb is the first bad commit.

[2021-05-13 09:10] hardikkat24 commented on #12799
@prasanna08 PTAL. Thanks!

[2021-05-13 15:02] hardikkat24 commented on #12799
Removing `protobuf-compiler` will solve this problem. Run `sudo apt remove protobuf-compiler `.

[2021-05-13 15:02] #12799 closed, assigned to nobody

[2021-05-13 17:38] ashutoshc8101 opened #12802 "Make typescript checks strict for ParamChangeObjectFactory and StatesObjectFactory files."
### Make typescript checks strict for ParamChangeObjectFactory and StatesObjectFactory files.

PR #12679 has caused these two files to be removed from the `tsconfig-strict.json` file.
Making typescript checks strict in that PR itself would cause the migration of the exploration player page to slow down. So, it had to be done in a separate PR.
Make a PR for this after #12679 is merged.

[2021-05-13 17:52] ashutoshc8101 opened #12804 "Social buttons not showing."
**Describe the bug**
Social buttons which are usually present in the footer is not showing.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia.org
 2. Scroll to the footer
 3. Social buttons are not present.

**Observed behavior**

![image](https://user-images.githubusercontent.com/24855641/118165540-059dc900-b442-11eb-9a9b-aed757336aae.png)

**Desktop (please complete the followin

[2021-05-14 04:42] #12791 closed, assigned to nobody

[2021-05-14 07:51] PranshuSrivastava commented on #10474
Hey, I want to perform checks for these files, but I am not able to find them. Can somebody please help me?

[2021-05-14 13:08] krishita30j commented on #12492
Hey @U8NWXD, this new error shows up while running the e2e test:

<img width="1440" alt="Screenshot 2021-05-14 at 6 36 40 PM" src="https://user-images.githubusercontent.com/66058206/118274996-78ab4c00-b4e3-11eb-8fcc-ec72f6cd78ba.png">
 PTAL!

[2021-05-14 15:26] PranshuSrivastava commented on #10306
Hi @kevintab95 , I would like to work on this issue.

[2021-05-14 15:38] PranshuSrivastava commented on #3446
Hey @kevintab95, could you assign me the MusicNotesInput file?

[2021-05-14 16:41] srijanreddy98 commented on #12582
We are re-implementing Drag and Drop while migrating this interaction... this should be fixed that. Thanks!

[2021-05-14 16:57] #12738 closed, assigned to aks681

[2021-05-15 00:40] vojtechjelinek commented on #10474
@PranshuSrivastava Hi, some of these files might use kebab-case instead of CamelCase (with some dots too), so instead of looking for 'ExplorationDiffService.ts', you would look for 'exploration-diff.service.ts'.

[2021-05-15 01:10] kevintab95 opened #12811 "[Contributor Dashboard] Translation review screen should mention the translated language"
**Describe the bug**
Reviewers with access to review multiple languages that seem similar sometimes can't tell language of the content being reviewed (e.g. Hindi and Hinglish content may look alike). It would be useful if the language of the content is shown in the review screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard as a translation reviewer for multip

[2021-05-15 04:33] U8NWXD commented on #12492
@krishita30j I can think of two possible explanations:

1. The process running the Oppia server could have hit the maximum number of files your OS allows it to open at a time. You could try increasing this limit (check out `ulimit` for *nix systems)
2. You could be exhausting system-wide resources. To test this, you could try and open a file from a different console window while the oppia process

[2021-05-15 08:24] PranshuSrivastava commented on #10474
Hey,@vojtechjelinek   thanks I got it. Could you assign me the ExplorationDiffServices file?

[2021-05-15 14:47] ARKEOLOGIST commented on #12811
Where should the language be displayed if it is to be shown?

[2021-05-15 19:07] gp201 opened #12818 "Flaky Frontend Test: rte-helper-modal.controller.ts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to develop
 2. Run frontend tests

**Observed behavior**
A clear and concise description of what you have observed.

![image](https://user-images.githubusercontent.com/30050862/118375301-93162000-b5de-11eb-8141-f74b69967a4b.png)

The following lines are not covered.

!

[2021-05-15 19:07] gp201 commented on #12818
@oppia/core-maintainers PTAL

[2021-05-15 19:13] kevintab95 opened #12819 "[Server Error] inprog error in filepath editor"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2021-05-15 19:18] kevintab95 commented on #12819
Please note this occured in release-3.1.0. This may no longer be an issue on develop or future releases because filepath editor has been migrated and $apply is no longer used.

[2021-05-15 19:48] kevintab95 commented on #12818
There is one test that checks if the "then" part of `$q.when` executes. See:

https://github.com/oppia/oppia/blob/40a8f82333b85bda0e423bc3ddc89de6ce15c230/core/templates/services/rte-helper-modal.controller.spec.ts#L150-L183

Per the report, this seems to pass. It probably indicates that the following checks are satisfied:

https://github.com/oppia/oppia/blob/40a8f82333b85bda0e423bc3ddc89de6ce15c2

[2021-05-15 21:23] rodemore commented on #10474
@vojtechjelinek **MisconceptionObjectFactory** is merged (PR #12720 )

[2021-05-16 04:37] chris7716 commented on #12818
I am facing this issue as well.

[2021-05-16 05:22] ReshuKumari commented on #12818
We also can't push changes due to failing fe tests.

[2021-05-16 05:35] #12818 closed, assigned to nobody

[2021-05-16 05:36] kevintab95 commented on #12818
This has been fixed in #12820. Please merge from develop. Thanks!

[2021-05-16 06:38] ReshuKumari opened #12821 "Tests fail as soon as we push changes"
**Describe the bug**
When we push our changes within a minutue most of the tests fail
I pushed my changes twice and same thing happend.

**To Reproduce**
Steps to reproduce the behavior:

1. Push changes to any of your open PR.

**Expected behavior**
Tests should run and then pass/fail according to the changes made.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![S

[2021-05-16 06:54] ReshuKumari commented on #12821
@DubeySandeep @U8NWXD PTAL!

[2021-05-16 07:53] ReshuKumari opened #12822 "Assigning reviewer for the review process of the PR"
**Describe the bug**
If someone is creates a PR and at starting reviewer A,B and C are requested for review. And let's suppose reviewer A has approved the PR for their codeowner files and the review process of the PR is still going on. Some more changes are made in the PR, the changed files are owned by reviewer A and a new reviewer D. So a review request for reviewer D is asked. And A is not agai

[2021-05-16 07:55] ReshuKumari commented on #12822
@vojtechjelinek @DubeySandeep what are your thoughts on this. Is this expected or do we already handle this?

[2021-05-16 09:33] krishita30j commented on #12821
I am facing the same error.

[2021-05-16 09:37] ARKEOLOGIST commented on #12811
@sagangwee Would displaying the language under the subheading work for solving this?

[2021-05-16 12:06] nishantwrp opened #12823 "A lot of whitespace between two options"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/explore/4eC0howh2tmn
 4. See error

**Observed behavior**
A lot of whitespace after the first option.

**Expected behavior**
No whitespaces.

**Screenshots**
![Unnamed](https://user-images.githubusercontent.com/36989112/118396445-3150c700-b66d-

[2021-05-16 12:09] chris7716 commented on #12821
+1

[2021-05-16 14:15] mridul-netizen opened #12824 "Make allowKeywords property set to `true` in .eslintrc after merge of #12750."
1. After #12750 gets merged, allowKeywords property in .eslintrc file needs to be changes to true.
2. Also remove all instances `$http['delete']` / `this.http['delete']`  to `this.http.delete`

[2021-05-17 02:48] U8NWXD commented on #12821
I suspect this is because GitHub Actions was down. See oppia-dev for the announcements. Please feel free to reopen if this is still happening

[2021-05-17 02:48] #12821 closed, assigned to DubeySandeep, U8NWXD

[2021-05-17 15:09] jay24rajput opened #12828 "Migrate Front-End Tests to Cypress"
**Is your feature request related to a problem? Please describe.**
Currently, all the tests are written in chai and other testing frameworks. Tests are platform-dependent and might fail for changes in the code but no changes in the functionality

**Describe the solution you'd like**
[Cypress](https://www.cypress.io/) is a new and technology-independent framework for testing framework. Such that ev

[2021-05-17 18:29] kevintab95 opened #12830 "[Server Error] No component factory found (review tests page)"
This error occurred recently in the release 3.1.0. It occured in the review tests page.

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps avai

[2021-05-17 18:51] kevintab95 opened #12831 "Make review tests page 404."
**Describe the bug**
Viewing the review tests page is viewed before completing any chapters throws errors in the console and the

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/learn/math/fractions/review-test/matthew-visits-the-bakery'
 2. See error.

**Observed behavior**
Currently it just shows the "Review Tests" title and no content.

**Expected behavior**
T

[2021-05-17 18:52] kevintab95 commented on #12831
/cc @aks681 @iamprayush (learner team leads)

[2021-05-17 20:11] sans2801 commented on #12823
Hello @nishantwrp I'd like to know whether the issue is open

![image](https://user-images.githubusercontent.com/56474333/118550021-e07ac480-b779-11eb-9077-5bd9590465bb.png)

It's happening supposedly due to the extra `<p>` tags after the options, I would start working in case no one is already

[2021-05-17 20:21] kevintab95 opened #12832 "Follow-up from #12807"
In the skill selection modal, when trying to merge skills, the search functionality seems to require an extra click (after typing in some text) to filter the results. The current fix (#12807) changes the test code so that the extra click happens. Further changes need to be made (to the source code) to fix the change detection problem so that it filters correctly without having to do an extra click

[2021-05-17 22:27] rdawson10 opened #12833 "Add Ability to Upload Translations from an Offline Document"
Problem:  Many translation volunteers do not have regular access to an internet connection.  Currently they translate lessons by:
1. Printing out the lesson in English
2. Translate from English to the local language and document in an offline document (e.g.  spreadsheet)
3. Another volunteer that can access the Oppia site takes this document and manually adds it via the contributor dashboard.

Sol

[2021-05-18 00:34] vojtechjelinek commented on #12822
@ReshuKumari I think our general approach is that all PRs should firstly be reviewed by the main reviewer and the codeowners only review the remaining bits and their requested changes shouldn't contain bigger changes. In cases where the changes are larger, I think the author of the PR should rerequest all the reviews.

[2021-05-18 02:11] #12528 closed, assigned to iamprayush

[2021-05-18 02:59] SAEb-ai commented on #12108
Just giving an update regarding this. Reinstalling oppia again resolved this locally for me. Thanks @seanlip for helping me through this issue.

[2021-05-18 05:30] seanlip commented on #12108
Thanks @SAEb-ai! That's good to know.

Do you think we should close this issue or keep it open?

[2021-05-18 05:44] ReshuKumari commented on #12822
@vojtechjelinek thanks for the clarification that we handle such cases manully.

[2021-05-18 05:45] ReshuKumari commented on #12822
closing this issue since it is clarified.

[2021-05-18 05:45] #12822 closed, assigned to nobody

[2021-05-18 05:46] SAEb-ai commented on #12108
@seanlip I think now it would be better to close this issue as due to some recent code changes,  this issue is not arising on a local machine with 8 GigaBytes preferably on my end.

[2021-05-18 06:01] seanlip commented on #12108
All right, let's do that then -- it can always be reopened. Thanks!

[2021-05-18 06:01] #12108 closed, assigned to seanlip, DubeySandeep

[2021-05-18 11:32] intaschi opened #12836 "Allow contributors to resubmit rejected suggestions (as new suggestion)"
Currently, when a translation is rejected, the process of correcting that translation is difficult since, after seeing that your translation has been rejected, you need to go back to the "translate text" section, find the right lesson and finally find the translation that needs to be changed.
It would be interesting if you could edit and resend the translation without having to leave the current p

[2021-05-18 14:51] #12642 closed, assigned to kevintab95, aks681

[2021-05-18 19:26] #12656 closed, assigned to nobody

[2021-05-18 19:36] kevintab95 opened #12840 "[Server Error] Bots visiting /explore/<exp_id> pages seem to raise a console error"
This error occurred recently in production

[code]

Example of the user agent: `Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.97 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)`

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data

[2021-05-18 19:40] kevintab95 opened #12841 "[Server Error] Cannot use 'in' operator to search for 'contentId'"
This error occurred recently in production (release 3.1.0).

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. T

[2021-05-18 19:47] kevintab95 commented on #12841
There were few other occurences of a (possibly) related error. This happened on Safari browser. See stacktrace:
[code]

[2021-05-18 21:08] sagangwee commented on #12657
Will need to write a new one-off job to update the existing ExplorationOpportunitySummaryModels translation and content counts.

[2021-05-19 04:55] seanlip commented on #12478
Hi all -- closing this, since it doesn't sound like there's a further action item here. @Droyk, please feel free to reopen if you'd like to suggest further changes. Thanks!

[2021-05-19 04:55] #12478 closed, assigned to nobody

[2021-05-19 05:59] #12804 closed, assigned to nobody

[2021-05-19 07:03] krishita30j commented on #12832
The component skill-selector works fine in the merge-skill model i.e. the search list gets updated with every keypress event in the input field of the model (Here both the skill-selector and the merge-skill modal are in Angular):

https://user-images.githubusercontent.com/66058206/118769325-ae628300-b89d-11eb-8589-f7f4c57f62ed.mov

But when the same component used to 'add acquired skill' or 'add p

[2021-05-19 11:00] jimbyo commented on #12451
@kevintab95 Hey kevin could you clarify how to reproduce the bug. I created several suggestions however the review modals all have different titles.

<img width="777" alt="Screen Shot 2021-05-19 at 3 57 08 AM" src="https://user-images.githubusercontent.com/35385366/118802190-b3e8aa80-b856-11eb-979d-e329e9328835.png">
<img width="797" alt="Screen Shot 2021-05-19 at 3 57 20 AM" src="https://user-ima

[2021-05-19 11:16] kevintab95 commented on #12451
Hi @jimbyo, I'm not sure if your screenshots are from the review screen (note that there is no accept / reject button or a review message field). You need to submit suggestions and login as a different user who has access to review translations in the language you submitted suggestions in. As the reviewer, go to the contributor dashboard and try to review the suggestions. Accept / reject suggestio

[2021-05-19 11:44] jimbyo commented on #12451
Ah thanks @kevintab95 I see it the issue now

[2021-05-19 14:22] intaschi opened #12844 "[Contributor Dashboard] Change order of rejected translations cards to appear in the beginning of the list"
In order to make more easy for people to correct the translations.

**How it's now:**
![old order](https://user-images.githubusercontent.com/59513204/118829284-5bd09900-b894-11eb-9f63-fa8d0bb1236b.png)

**How it could be:**
![new order](https://user-images.githubusercontent.com/59513204/118829296-5ffcb680-b894-11eb-8902-a151ce146225.png)

[2021-05-19 16:05] #9320 closed, assigned to aasiffaizal

[2021-05-19 18:15] gp201 opened #12846 "Prompt user to save changes if more than 50 changes are present in exploration editor."
**Describe the bug**
Create a [custom message modal](https://github.com/oppia/oppia/pull/11690#discussion_r578720994). When a user has more than 50 changes then display modal. This will be implemented in the exploration editor. The modal will also contain a `Save Draft` Button which when clicked will allow the user to save the changes made to the exploration.

**Additional context**
The Modal only

[2021-05-19 19:32] Rijuta-s commented on #1895
@seanlip  @kevintab95  As far as I understand, the  rte's main content field is not being focussed after inserting a link and thus should be clicked for entering content according to the issue.

I think it is already fixed and now the following behaviour is being already achieved:
https://user-images.githubusercontent.com/68547101/118872710-7e9b9580-b906-11eb-96ee-2ce29c421552.mp4

We can directly

[2021-05-19 22:41] #12223 closed, assigned to lkbhitesh07

[2021-05-19 23:11] #12841 closed, assigned to nobody

[2021-05-20 00:58] kevintab95 commented on #12613
Closing since #12730 has been merged.

[2021-05-20 00:58] #12613 closed, assigned to aks681, krishita30j

[2021-05-20 01:11] kevintab95 commented on #12832
Hm, this is weird. @srijanreddy98 any idea how to fix this change detection problem?

[2021-05-20 03:47] #11462 closed, assigned to brianrodri

[2021-05-20 07:42] seanlip commented on #1895
Hi @Rijuta-s -- thanks for the question! I think the behaviour for "concept card" looks fine but could you please show videos for the Link and Math components, since that's what the original issue was about?

Thanks!

[2021-05-20 12:29] diveshkapoor commented on #6271
Hey could you assign me a sub-topic to work on @DubeySandeep , Thanks

[2021-05-20 17:00] srijanreddy98 opened #12852 "Website should show TS errors in dev mode."
After we move to angular-cli: When making a change that violates TS assumptions (e.g. about “private”), have the server show an error.

[2021-05-20 22:41] srijanreddy98 commented on #12832
Will be fixed by https://github.com/oppia/oppia/pull/12775/

[2021-05-21 00:01] #12587 closed, assigned to lkbhitesh07

[2021-05-21 01:46] DavidofOrange commented on #12823
Has this issue been resolved?

[2021-05-21 09:31] ashutoshc8101 opened #12855 "TODO: Remove angularjs headroom."
angularjs headroom will no longer be required after all directives using it are migrated to angular.

angularjs headroom is presently used in the following two angular js files:
- base-content.directive.html
- exploration-editor-page.mainpage.html

Once these files are also migrated, It should be removed from the codebase.

Removal:
`headroomJs` entry has to be removed from `manifest.json` and eve

[2021-05-21 12:15] Sangeeth-Perera commented on #6911
options[value as number] or options[value as any]  should sort the issue

[2021-05-21 13:42] intaschi opened #12857 "New language button selector for the main page."
**Is your feature request related to a problem? Please describe.**
The language selector, currently located at the bottom of the page, is very difficult to find. People, like Brazilians, who need the page in another language are unlikely to be able to find it.

**Describe the solution you'd like**
I think it could be a good idea to move the selector to the top navigation bar.
In addition, it may b

[2021-05-21 13:55] intaschi opened #12858 "Translations missing in the website platform"
While navigating the website platform in Portuguese, I've notice that there are some parts of the site, like some math lessons descriptions and informations that are not being translated, even though the translations available for Portuguese in translatewiki are finished.

**Classroom**
![classroom](https://user-images.githubusercontent.com/59513204/119147593-1fcb3e80-ba22-11eb-9758-616e08b69078.p

[2021-05-21 15:54] Rijuta-s opened #12859 "Include all Files in 'tsconfig file': Fix all typescript tests for included files."
To provide a project configuration for eslint's typescript parser, configuration file is to be provided in project options as shown in .eslintrc:
![Screenshot from 2021-05-21 21-09-38](https://user-images.githubusercontent.com/68547101/119163292-e5d95700-ba78-11eb-86bc-fd63724207e8.png)

However, providing the existing tsconfig file gave the too many errors in third party files as well as some oth

[2021-05-21 16:11] siddheshJungade commented on #9749
Hello, I am new to open source can I work on "skills-mastery-list"

[2021-05-21 19:22] seanlip commented on #12857
Thanks, @intaschi! Adding @mschanteltc for feedback.

[2021-05-21 20:44] #12671 closed, assigned to rohitkatlaa

[2021-05-21 21:46] #12830 closed, assigned to kevintab95

[2021-05-21 23:16] kevintab95 commented on #12276
Removing from blocking bugs milestone since this seems to be lower priority per https://github.com/oppia/oppia/issues/12276#issuecomment-832920191.

[2021-05-22 00:18] kevintab95 commented on #12630
Hi I looked into this and it looks like this happens when users copy-paste HTML text with the formatting (`ctrl + v` instead of `ctrl + shift + v`). This can happen unintentionally when a user manually selects "preformatted" text from a webpage, copies it (i.e. the text is inside a "pre" tag) and pastes it into the RTE editor.

See example:
![preformatted-ext](https://user-images.githubusercontent

[2021-05-22 00:31] kevintab95 commented on #12630
Based on findings in https://github.com/oppia/oppia/issues/12630#issuecomment-846318446, this seems to happen only when copying content that contains HTML. The workaround in the above comment may be used in case some one runs into it.

It does not seem like the text in the review and submit screen differ in terms of formatting / content. If preformatted content is pasted into the editor, it is sho

[2021-05-22 00:47] kevintab95 commented on #12630
Per discussion with @seanlip, we have decided to do a "pre-paste" sanitising so that pasted content only contains plain text.

[2021-05-22 03:00] kevintab95 opened #12862 "Better UX for rules translation"
In the translation editor page, we allow translation of Rules for TextInput and SetInput. However, the rules appear to be confusing to translators because the original content contains a comma-separated list and we should only one input field by default. The user may think that the input should contain all the comma-separated values but the expectation is that they enter each value in a dedicated

[2021-05-22 12:30] activenod commented on #10616
@vojtechjelinek @DubeySandeep Hi, I am new here and would like to contribute to this issue.
I tried adding **@typescript-eslint/quotes** to  **.eslintrc file** and ran **python -m scripts.linters.pre_commit_linter --only-check-file-extensions js**. I don't any issues, all checks were successfully passed. Am I doing anything wrong here?. Please guide me.

[2021-05-22 16:36] joeyouss opened #12866 "[Installation process error] OSError : Module or directory not found in python2 subprocess.py"
**Checklist**
- [ yes]  I have followed through “Before you ask a question” section

Updated - The error was resolved by passing shell=True as a second parameter in subprocess(["make"]). But, since I know the codebase should not be dealt with like this, is there any other solution ? Would appreciate the help.
**System Information**
- OS: WSL Ubuntu 20.04
- [ ] Virtual machine

**Error log**

//pas

[2021-05-22 17:11] Hudda commented on #10616
@activenod This command will run script only on js files that you have changed. But you need to run the script on all js files in the codebase, which can be done by this command `python -m scripts.linters.pre_commit_linter --only-check-file-extensions=js --path=. --verbose`. If it takes too much time you can directly push the code to github and github actions will run these checks for you. I've up

[2021-05-22 17:14] kevintab95 commented on #9271
@Nik-09 does #12567 fix this? If so could you add proof and close this one manually (seems like it did not automatically close)? Thanks!

[2021-05-22 17:20] Nik-09 commented on #9271
Sure,
Before changes:
https://user-images.githubusercontent.com/57531197/115451583-ffe60680-a23a-11eb-948f-cd7116495bef.MP4
After changes:
https://user-images.githubusercontent.com/57531197/115451595-04122400-a23b-11eb-98c1-b3bd18ed4b3e.MP4
Pr link:
https://github.com/oppia/oppia/pull/12567

[2021-05-22 17:22] Nik-09 commented on #9271
@kevintab95 I am closing this issue since it is solved. Thanks.

[2021-05-22 17:22] #9271 closed, assigned to Nik-09

[2021-05-22 17:23] kevintab95 commented on #9271
Thanks @Nik-09!

[2021-05-22 17:52] #12657 closed, assigned to sagangwee

[2021-05-22 19:28] activenod commented on #10616
@Hudda Please assign me **@typescript-eslint/quotes**

[2021-05-23 00:06] aks681 opened #12871 "Exploration story linkage handled incorrectly"
**Describe the bug**
There are some issues related to the way exploration - story linkage is handled:
- Deleted links are considered when checking if an exploration is linked to a story which should not be the case.
- `exp_services.update_exploration` should only validate explorations in story if the story it's linked to, is published.
- Add exploration - story validation to ExplorationMigrationAu

[2021-05-23 14:50] Radesh-kumar opened #12875 "Hover state should change after changing user roles"
**Describe the bug**
Hover state should change after changing user roles.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Admin Page --> Roles Tab
 2. Update User role to admin.

**Observed behavior**
Hover state css is not changing.

**Expected behavior**
Hover state css should change.

**Screenshots**

https://user-images.githubusercontent.com/54100702/119265437-5bbdf980-bc04-11eb-9

[2021-05-23 14:52] anubhutiv opened #12876 "[Contributor Dashboard] (monitor) Translations not getting saved"
**Describe the bug**
Translations are not getting saved
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppia.org/contributor-dashboard'
 2. Select Translate to "Hindi"
 3. Scroll to 'Finding the Value of a Number'
 4. Click translate. Use copy tool to past the image and below is the text you can paste
"जेमी अभी भी निक के साथ विडीओ गेम पार्लर मैं है। उसको पता है कि उसके स्कोर मैं अलग

[2021-05-23 14:52] Radesh-kumar commented on #12875
@DubeySandeep PTAL.

[2021-05-23 15:06] DubeySandeep commented on #12875
@Radesh-kumar The `Update roles` and `Roles visualizer` are not connected.

Roles visualizer (right side) is just presenting all the possible roles in the application and it can be used to check the allowed actions for each role. (Admin finds it useful to get information related to roles.)

[2021-05-23 15:46] Hudda commented on #10616
@activenod I've assigned you. Thanks!

[2021-05-23 21:20] SanjanaRaman commented on #10798
Hi @U8NWXD, I am new and looking to pick up my first issue. Could you please assign me to `core/tests/protractor_utils/SkillEditorPage.js`?

[2021-05-24 01:49] srijanreddy98 opened #12882 "Remove the use of jQuery from ckeditor directive."
Remove the use of jQuery from ckeditor directive.

[2021-05-24 09:51] ReshuKumari opened #12885 "[Contributor Dashboard] Layout while viewing suggested translations"
**Describe the bug**
1. Topic and translated content overlaps while viewing the suggested translations.

![Screenshot from 2021-05-24 14-41-14](https://user-images.githubusercontent.com/62715691/119327445-9e351400-bca0-11eb-930f-36318590cd0c.png)

2. We should have padding around the content so that it doesn't sticks to the box and the line should break to next line.

![Screenshot from 2021-05-24

[2021-05-24 10:22] ReshuKumari opened #12886 "Bug in Image Region Interaction"
**Describe the bug**
1. In "Image Region" ineraction when we click on the insert image portion it gives a console error
 "Unable to preventDefault inside passive event listener invocation."
2. console error when we select an image for "Image Region" interaction.
3. "Clear Image and region" button is unclikable.

![Screenshot from 2021-05-24 15-24-19](https://user-images.githubusercontent.com/62715

[2021-05-24 13:58] Hudda commented on #10633
Closing as https://github.com/oppia/oppia/pull/10895 fixed this.

[2021-05-24 13:58] #10633 closed, assigned to Hudda

[2021-05-24 14:02] srijanreddy98 commented on #11984
I don't think this problem exists anymore. Closing this issue.

[2021-05-24 14:02] #11984 closed, assigned to nobody

[2021-05-24 14:02] intaschi opened #12888 "[Contributor Dashboard] Improve status of translations progression"
**Problem description**
Translators, while translating a chapter, would like to know how many translations are still missing.

**Solution description**
It may be a good idea to show on the translation cards how many cards are still missing, as well as showing on the progress bar how many translations are waiting for revisions.

Missing translations:
In the suggestion image below, the numbers of mi

[2021-05-24 14:03] srijanreddy98 commented on #12104
@kevintab95 @aks681 I have added this under LaCE as this is involving interactions. Please do change if I am wrong about it.

[2021-05-24 14:05] srijanreddy98 commented on #12712
@aks681 @kevintab95 adding this under LaCE as this is pertaining to interactions.

[2021-05-24 14:09] srijanreddy98 commented on #9253
Closing this issue as we currently don't see any need for this. @brianrodri do let me know if this is needed. I strongly feel a layer abstraction is not necessary and what we require can be achieved through the existing http client and http interceptor provided to us by Angular. We can reopen this in case we do find something that can't be done by using what angular provides us.

[2021-05-24 14:09] #9253 closed, assigned to nobody

[2021-05-24 14:11] srijanreddy98 commented on #9674
Fixed via #9784.

[2021-05-24 14:11] #9674 closed, assigned to shavavo

[2021-05-24 14:13] FareesHussain opened #12889 "Can't login test server using brave"
**Describe the bug**
Login or create again redirects to select profile.

**To Reproduce**
Steps to reproduce the behavior:
 1. open [test server](http://oppiatestserver.appspot.com/) using brave browser
 2. Click on 'sign in or create'
 3. select a google profile
 4. you are again redirected to profile selection

**Expected behavior**
to open the oppia website after login

**Screenshots**

https:/

[2021-05-24 14:54] vojtechjelinek commented on #2930
Closing since we no longer use GLOBALS

[2021-05-24 14:54] #2930 closed

[2021-05-24 14:56] vojtechjelinek commented on #11547
@oppia/core-maintainers

[2021-05-24 15:45] shaz13 commented on #3415
After a very long time here. I believe we can safely close this 👍

@seanlip Please feel free to close this.

[2021-05-24 15:50] brianrodri commented on #12437
@amansr02 sorry for the late reply, I've been away on leave :( Unfortunately this issue is already resolved, so I'd suggest finding a different one (if it isn't too late already).

Sorry again!

[2021-05-24 15:50] #12437 closed, assigned to brianrodri

[2021-05-24 15:54] brianrodri commented on #11314
@seanlip @shubha-rajan can we close this issue and consider it done?

[2021-05-24 15:55] FareesHussain opened #12891 "Loading indicator is not visible once the button is enabled"
**Describe the bug**
Progress bar in practice tab is not visible after start button is enabled

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [fractions](https://oppiatestserver.appspot.com/learn/math/fractions)
 2. Click on 'Practice'
 3. Select one check box
 4. on selecting the other check box the progress bar is not visible

**Expected behavior**
Different color to make the progr

[2021-05-24 15:55] brianrodri commented on #9632
@kevintab95 can we close this issue?

[2021-05-24 16:22] mschanteltc commented on #12857
Thanks @intaschi. These look great so far. A few comments/questions:

- What happens when I tap on the language button?
   - Does a dropdown or a dialog box appear?
- For mobile screens, is it possible we can add the language name next to the icon? If it is too long, what about using a language abbreviation?
- I would prefer that the language selection is to the right of the navbar with the other

[2021-05-24 16:25] seanlip commented on #12857
Thanks @mschanteltc! @intaschi, reassigning this to you for a reply.

[2021-05-24 16:26] seanlip commented on #11314
I'm not sure the clean-up tasks are done yet, actually. So not sure we can close it yet...

[2021-05-24 16:27] seanlip commented on #3415
Thanks! I closed it.

[2021-05-24 16:27] #3415 closed

[2021-05-24 16:53] kevintab95 commented on #9632
Yes! phew! :D

[2021-05-24 16:53] #9632 closed, assigned to kevintab95

[2021-05-24 17:32] sagangwee commented on #11434
Fixed in https://github.com/oppia/oppia/pull/12524 and related PRs.

[2021-05-24 17:36] srijanreddy98 commented on #12017
This was fixed by @brianrodri.

[2021-05-24 17:36] #12017 closed, assigned to srijanreddy98

[2021-05-24 19:15] seanlip opened #12894 "Cannot view translation suggestion in feedback tab"
**Describe the bug**
When navigating to the feedback tab and trying to view a translation suggestion thread, clicking on "View Suggestion" results in the browser hanging slightly and a console error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration, publish it, and then create a translation suggestion for it via the contributor dashboard.
 2. Navigate to the feedback ta

[2021-05-24 19:16] seanlip commented on #12894
/cc @sagangwee @kevintab95 for triage.

[2021-05-24 20:36] atpug22 opened #12896 "Console error after selecting any RTE option in CKEditor"
**Describe the bug**
A error on console occurs sometimes when we select any RTE component option in the CKEditor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration editor.
 2. Click on the content field to edit it. It will open a ckeditor.
 3. Try to select RTE Components options (For example: Insert Collapisble block, Insert video etc.).
 4. See error on the console.

**Obs

[2021-05-24 20:45] brianrodri opened #12897 "Add SchemaProperty to have better enforcement on JSON Properties with a schema"
Motivation:
-   Postmortem 3.0.2: We should aim to make it "impossible" to store invalid values; i.e. "verify" would flag issues immediately.

Proposal:
Create a subclass of `JsonProperty` called `SchemaProperty` and use it throughout the codebase instead of `JsonProperty`.

Here's an example of a subclassed `JsonProperty` from [stackoverflow](https://stackoverflow.com/a/36984599/4859885):
[code]

[2021-05-24 20:55] brianrodri commented on #12897
@seanlip @vojtechjelinek @DubeySandeep for refining the requirements/expectations

[2021-05-24 21:13] srijanreddy98 opened #12898 "Remove the usage of /deep/ css selectors to @ViewEncapsulation none instead."
/deep/ selectors break the shadow dom encapsulation/ angular provided encapsulation. This is deprecated. We should use @ViewEncapsulation None in the component decorator tag instead.

[2021-05-24 21:45] vojtechjelinek commented on #11721
@ARKEOLOGIST Was this issue fixed?

[2021-05-24 21:48] ARKEOLOGIST commented on #11721
Partially. The "Delete" button now has a translation, I think. I'm not so sure about the "Export" button

[2021-05-24 22:13] rdawson10 opened #12899 "(Contributor Dashboard) - Open keyboard in users local language by default"
**Problem** The translator should get the vernacular keyboard of the language selected by default. Right now the onus is on the translator to select the keyboard.

[2021-05-24 22:16] rdawson10 opened #12900 "(Contributor Dashboard) - Save Progress of Question and Translation Submissions Even When Session is Interrupted"
Problem:  Users would like to be able to save (or automatically save) their question or translation submissions before they are submitted in the event they are interrupted while working on their submission.

[2021-05-24 22:54] FareesHussain opened #12901 "Voice-over overlaps with background music in mobile"
**Describe the bug**
Voice over in mobile overlaps with background music

**To Reproduce**
Steps to reproduce the behavior:
 1. Play some background music in device
 2. Open a exploration
 3. Start the voice over
 4. Observe that the voice-over laps with background music

**Expected behavior**
Stop the background music while playing the voice-over.

[2021-05-24 23:19] FareesHussain opened #12903 "Community library is slow and lagging on desktop browser"
**Describe the bug**
The community library page is slow and lagging in all browsers in the test server. works as expected for oppia.org

**To Reproduce**
Steps to reproduce the behavior:
 1. Open [test server](https://oppiatestserver.appspot.com/)
 2. Click on 'Library' on the navbar
 3. See that the community library nav bar is lagging and loads too late

**Expected behavior**
Navbar to respond a

[2021-05-24 23:22] vojtechjelinek commented on #11950
@seanlip This is completed right?

[2021-05-24 23:24] vojtechjelinek commented on #11721
@ARKEOLOGIST Could you please verify and fix it if needed?

[2021-05-24 23:32] seanlip commented on #11950
Yes, this is done. Thanks!

[2021-05-24 23:32] #11950 closed, assigned to seanlip

[2021-05-24 23:33] vojtechjelinek commented on #10949
Closing this, since we will be moving to angular build instead

[2021-05-24 23:33] #10949 closed, assigned to nobody

[2021-05-24 23:41] vojtechjelinek commented on #10874
Closing since this is old and there is no activity.

[2021-05-24 23:41] #10874 closed, assigned to bansalnitish

[2021-05-24 23:49] vojtechjelinek commented on #10064
This is no longer a problem, closing.

[2021-05-24 23:49] #10064 closed, assigned to Hudda, sajalasati

[2021-05-25 00:00] vojtechjelinek commented on #5056
As we now generate SVGs instead of using mathjax directly this can be clsoed.

[2021-05-25 00:00] #5056 closed, assigned to nobody

[2021-05-25 02:27] ARKEOLOGIST commented on #11721
Sure, I'll fix it.

[2021-05-25 03:49] U8NWXD commented on #12463
Closing since other contributors haven't been able to reproduce this

[2021-05-25 03:49] #12463 closed, assigned to abhishekalbert

[2021-05-25 03:59] U8NWXD commented on #12492
@krishita30j any update on this?

[2021-05-25 04:01] U8NWXD commented on #12599
Closing as a duplicate of #11297

[2021-05-25 04:01] #12599 closed, assigned to nobody

[2021-05-25 04:03] U8NWXD commented on #10942
Closing due to inactivity and since seanlip suggested a fix

[2021-05-25 04:03] #10942 closed, assigned to nobody

[2021-05-25 04:12] huntermaxfield commented on #10616
@Hudda please assign me  @typescript-eslint/dot-notation

[2021-05-25 04:22] lkbhitesh07 commented on #12903
I also faced this issue on the test server, For me, it was also not working on the `learner-dashboard` page at first but after some time it seems to work fine but on the `community-library` page it's still there as of now.
Browser - both Firefox and Chrome
OS - Ubuntu 20.04
@kevintab95 PTAL

[2021-05-25 05:25] krishita30j opened #12907 "Unable to add exploration to "play later" in mobile view."
**Describe the bug**
Unable to add exploration to "play later" in mobile view.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to the [test server](https://oppiatestserver.appspot.com/community-library)
 2. Navigate to the 'Library' page.
 3. Click on the three dots displayed at the top right of the exploration card

**Observed behaviour**
Unable to click the dots which display a menu t

[2021-05-25 06:22] Hudda commented on #10616
@huntermaxfield I've assigned you. Thanks!

[2021-05-25 06:50] nishantwrp opened #12908 "Use predefined type definitions for nerdamer"
Earlier, the inbuilt type definitions for nerdamer were not up to date. So, we wrote type definitions for it in the `typings` directory. https://github.com/oppia/oppia/blob/68ef01981b60b775a02d77673fbdf0a2ef0f5214/typings/nerdamer-defs-1.1.4.d.ts#L1-L53

But as they have updated the nerdamer type definitions, refer -> https://github.com/jiggzson/nerdamer/issues/551. We can remove our custom typing

[2021-05-25 08:17] krishita30j commented on #12492
Hi @U8NWXD, the backend issue is solved! I still can't run the e2e tests properly but I think it might be because they are flaky on the local server. I think we can close this issue? Thanks!

[2021-05-25 10:48] patrycjapraczyk commented on #10700
Hey @srijanreddy98 , I would like to do `StateCard` ? Is it still unclaimed?

[2021-05-25 10:53] patrycjapraczyk commented on #9749
Could I work on `questions-list-select-skill-modal.controller` ?

[2021-05-25 12:08] vojtechjelinek opened #12910 "Use app.constants.ts instead of constants.ts"
All the constants that are available in _constants.ts_ can also be imported through _app.constants.ts_, I think we should prefer and enforce the second approach everywhere to make the codebase more consistent.

[2021-05-25 13:33] srijanreddy98 opened #12911 "Flaky backend test (shard 2)"
This is shard is currently failing on develop too. Its fails sometimes, passes the othertime.

Fail Runs on my PRs:
https://github.com/oppia/oppia/runs/2659831696?check_suite_focus=true
https://github.com/oppia/oppia/runs/2659745309?check_suite_focus=true
https://github.com/oppia/oppia/runs/2657293249?check_suite_focus=true

Fail runs on develop:
https://github.com/oppia/oppia/runs/2635029355?chec

[2021-05-25 13:33] srijanreddy98 commented on #12911
@U8NWXD for now I have added it under the automated QA team since I am not sure which team will be picking this up. Feel free to change it.

[2021-05-25 13:41] vojtechjelinek opened #12912 "Fix pylint problems"
The goal of this issue is to enable some pylint rules that we disabled while doing the Python 3 migration.

**Steps to follow to create a PR:**
1. Ask @seanlip to assign you to one of the items below
2. Remove the assigned item from the .pylintrc
3. Run `python -m scripts.linters.run_lint_checks --only-check-file-extensions=py --path=core --verbose` to check existing issues in the codebase. (This

[2021-05-25 13:53] Nik-09 opened #12913 "Reordering of exploration is not working in play later list"
**Describe the bug**
Reordering of exploration is not working in play later list of learner-dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to library page
 2. Add some of the explorations to play later list.
 3. Go to learner-dashboard
 4. try to reorder exploration in play later list.

**Observed behavior**
Reordering of exploration is not working.
**Expected behavior**
Shou

[2021-05-25 13:53] Nik-09 commented on #12913
@kevintab95 please take a look.

[2021-05-25 15:54] seanlip commented on #12911
@chris7716 could you PTAL? The error log refers to DecoratorForUpdatingSuggestionTests.

[2021-05-25 15:55] seanlip commented on #12911
Also /cc @kevintab95 @sagangwee since this is mostly contributor-dashboard related.

[2021-05-25 16:49] chris7716 commented on #12911
Ack - I will add a PR fixing this ASAP. Thanks.

[2021-05-25 16:58] Hudda opened #12914 "TypeError while viewing an empty suggestion"
**Describe the bug**
Type error while viewing an empty suggestion by user.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiatestserver.appspot.com/create/G8ZgSj1O4rjE
 2. Click on suggestion by author rdawson10 at the top of page.
 4. Click on 'View Suggestion'
 4. See error in the console

**Observed behavior**
1. View suggestion button is not properly styled if the sugge

[2021-05-25 19:38] kevintab95 commented on #12811
Hi @ARKEOLOGIST any updates on this issue?

[2021-05-25 21:15] ARKEOLOGIST commented on #12811
@kevintab95 I'm yet to make some mocks for the issue, but I guess I can set up a PR now so that mentors can offer some feedback on the solution.

[2021-05-25 21:19] kevintab95 commented on #12811
Thanks @ARKEOLOGIST! Yup feel free to create a PR and have the discussion there (especially if the template changes aren't too hard to handle).

[2021-05-26 02:03] kevintab95 commented on #12886
Closing since it is a duplicate of https://github.com/oppia/oppia/issues/9531.

[2021-05-26 02:03] #12886 closed, assigned to nobody

[2021-05-26 02:06] kevintab95 commented on #12901
@FareesHussain have you seen the expected behaviour in any other online recorders?

[2021-05-26 02:07] kevintab95 commented on #12903
Yup, I am able to reproduce it as well.

[2021-05-26 02:09] kevintab95 commented on #12903
@srijanreddy98 please feel free to reassign it to someone who might be able to take this up. Thanks!

[2021-05-26 02:10] FareesHussain commented on #12901
Yes, I tried using some music and video streaming websites

[2021-05-26 02:20] kevintab95 commented on #12896
Unable to reproduce this on Chrome 90 / Ubuntu 20.04.

@atpug22 does this happen consistently and does this block the user in anyway i.e. are they able to proceed with adding RTE components?

[2021-05-26 02:25] kevintab95 commented on #12885
Hi @ReshuKumari since this is a bug report, could you please separate out (3) and file it as a feature request?

[2021-05-26 02:25] kevintab95 commented on #12885
Please note (2) is a duplicate of https://github.com/oppia/oppia/issues/12630.

[2021-05-26 02:51] U8NWXD commented on #10798
@SanjanaRaman done!

[2021-05-26 02:55] #12492 closed, assigned to DubeySandeep

[2021-05-26 04:39] SAEb-ai commented on #11496
@U8NWXD May I please be assigned to `Do not use browser.switchTo().activeElement(). ` Thanks!

[2021-05-26 05:03] ReshuKumari commented on #12885
#12630 only mentions that we have to scroll horizontally issue, second also says about adding a padding for the content as it sticks to the edges of the box.

[2021-05-26 10:31] rohitkatlaa opened #12920 "Add lint check to prevent platform imports in controllers"
TODO: Add import a subset of platform i.e the models to forbidden imports of core.controllers.

[2021-05-26 14:43] atpug22 commented on #12896
@kevintab95 No, it does not always occur, and neither it blocks the user in anyway.

[2021-05-26 14:46] kevintab95 commented on #12896
Thanks for confirming @atpug22! I'm removing from the blocking bugs milestone since it does not seem to affect UX and is intermittent.

[2021-05-26 14:59] intaschi commented on #12857
Thanks you for the feedback @mschanteltc!

- When the button is tapped, can we use a dropdown similar to the others in the navigation bar(image below)? listing all the languages available and maybe use a vertical scroll to limit the height of the box to a maximum of 150px if there are a large number of options.

<img width="657" alt="Captura de Tela 2021-05-26 às 11 40 03" src="https://user-image

[2021-05-26 17:24] ashutoshc8101 opened #12928 "Flake Report: Backend tests."
**Describe the bug**
Backend tests are flaking on CI

Seems like an issue with yarn. Occured on PR #12925.

**Screenshots**
![image](https://user-images.githubusercontent.com/24855641/119704498-5adfce80-be75-11eb-9357-9fdac2283a20.png)

Got this too:
![Screenshot from 2021-05-26 23-55-57](https://user-images.githubusercontent.com/24855641/119712223-fffea500-be7d-11eb-8bfd-56db9145d9e9.png)

[2021-05-26 17:25] ashutoshc8101 commented on #12928
@U8NWXD PTAL

[2021-05-26 17:58] seanlip commented on #12911
Hi @chris7716 -- any updates? Maybe you could link the debugging doc here, too.

[2021-05-26 18:09] DubeySandeep opened #12929 "Update AdminHandler to use put_multi to set multiple config value at once"
Currently, AdminHandler.put method sets multiple config properties in `O(n)` db calls (See code below).

https://github.com/oppia/oppia/blob/b02c0639f7318507c033e768ee198dd91069c4b9/core/controllers/admin.py#L196-L199

It is expected to set all the value in one call using put_multi.

Also, from fronted when we save config properties, we do so all at once. Check whether we can only send the updated

[2021-05-26 18:14] chris7716 commented on #12911
Hi, I was afk today and will address your comments in the doc https://docs.google.com/document/d/1z2AFo_1SpWzKk5DHEWcxI0AzJjMXs-U9Z8S7_dI6FJM/edit?ts=60ad827a#heading=h.5ce1aah842zc

[2021-05-26 18:23] DubeySandeep opened #12930 "Fix the structure of jobs-tab.component test file"
Currently, the jobs-tab.component.spec.ts use complicated mock class and lots of logics in the test files, it is expected to remove these mock class and use spy inside each it block to return specific values from the spied services.

https://github.com/oppia/oppia/blob/7a95c3431fb736add130b5bb806df2a3401061b2/core/templates/pages/admin-page/jobs-tab/admin-jobs-tab.component.spec.ts#L84-L200

[2021-05-26 21:36] mschanteltc commented on #12857
Thanks!

I would be fine with that option as long as we keep the UI (especially background and font) the same. Would it be possible to? Also we need to make sure that the selected language is visually represented in the list. Maybe having a checkmark next to it, make the font bold, and/or change the background color of the selection would work. Can we do that?

LGTM!

I agree, these look good to m

[2021-05-26 21:45] kevintab95 commented on #12913
Closing since this seems to be the expected behaviour according to https://github.com/oppia/oppia/issues/4932. But thanks for reporting @Nik-09!

[2021-05-26 21:45] #12913 closed, assigned to nobody

[2021-05-26 23:20] seanlip commented on #12857
Thanks @mschanteltc! @intaschi, passing this back for you for a design of the dropdown, but I think once that's done we can try implementing it!

[2021-05-26 23:49] U8NWXD commented on #12928
@ashutoshc8101 It looks like the tests have been restarted so I can't see the full logs, but in the past the yarn errors have been caused by 500 errors from the package distribution server. I don't think there's much we can do to avoid those errors. We've considered caching dependencies to reduce the frequency of this issue, but that requires pinning dependencies. The dev workflow team is working

[2021-05-27 02:44] srijanreddy98 commented on #12903
![Screenshot 2021-05-27 at 8 12 31 AM](https://user-images.githubusercontent.com/23002114/119757916-4a564500-bec3-11eb-9a29-3c1749da3e33.png)
This function is slowing down the digest calls, on commenting it, I have found the performance to be back up. We may have recently used it in some html view/ view update function and caused our updates to be extremely slow.

[2021-05-27 05:03] ashutoshc8101 commented on #12928
I have restarted the test. So, this is all I have about the flake.

[2021-05-27 21:22] sagangwee commented on #8983
Closing as this shouldn't be an issue for question suggestions.

[2021-05-27 21:24] seanlip commented on #8983
@sagangwee ... just to check, can't images be included in questions too?

[2021-05-27 21:25] sagangwee commented on #10964
Duplicate of larger project: https://github.com/oppia/oppia/issues/11841

[2021-05-27 21:25] #10964 closed, assigned to nobody

[2021-05-27 21:27] sagangwee commented on #11703
Seems to be duplicate of https://github.com/oppia/oppia/issues/12630

[2021-05-27 21:27] #11703 closed, assigned to nobody

[2021-05-27 21:32] sagangwee commented on #12533
The CAT project mitigates this issue to an extent: https://docs.google.com/document/d/1kJd-yLTzB9a2c3Nq7v9pzKfHwKHKGpkWfQ8B0YGf50U/edit and serves as an auto-complete suggest feature.

[2021-05-27 21:33] sagangwee commented on #12588
Unable to repro.

[2021-05-27 21:33] #12588 closed, assigned to nobody

[2021-05-27 21:36] sagangwee commented on #12876
Hmm I was able to successfully submit a suggestion for this.

[2021-05-28 00:23] U8NWXD commented on #12928
I'm closing this since without the log, I don't think there's much we can do. If anyone sees this again, please leave a comment with the log and reopen the issue

[2021-05-28 00:23] #12928 closed, assigned to ashutoshc8101

[2021-05-28 00:27] U8NWXD commented on #11496
@SAEb-ai done (also, I think you can assign yourself now since you're a collaborator!)

[2021-05-28 14:11] #12630 closed, assigned to kevintab95

[2021-05-28 16:00] lkbhitesh07 opened #12937 "Random string appears while signin or signout on test server"
**Describe the bug**
When we sign in or sign out from the test server in between the time some random string appears, It doesn't appear all the time, which means it may appear during the sign-in time or sign-out time or it may not appear at all. You will get a clear idea after seeing the video below.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start the development server.
 2. Click on

[2021-05-28 16:56] #12426 closed, assigned to EricZLou

[2021-05-28 21:44] stephen-hannon commented on #10474
@vojtechjelinek GraphUtilsService is now merged in #12716

[2021-05-28 22:40] brianrodri commented on #12591
Hi @EeshaArif, this is an unfortunate side effect of the Firebase migration that we have decided is not worth fixing. We will not/cannot run QA that involve incognito windows on the test server.

@seanlip for a more precise description on this decision.

[2021-05-29 02:59] penninkn commented on #8016
@DubeySandeep - I'm new to the community and would like to work on this issue! Is there a specific directive that you suggest I start with? Thanks!

[2021-05-29 03:44] #12832 closed, assigned to srijanreddy98, krishita30j

[2021-05-29 04:55] seanlip commented on #12591
Actually, I do think this needs to be fixed, right? It's been causing some issues for Anu, at least.

[2021-05-29 04:55] seanlip commented on #12591
(Though we might defer until after the Python 3 migration.)

[2021-05-29 16:09] intaschi commented on #12857
Thanks @mschanteltc!

I agree that we should keep the same UI, and add a checkmark and a background color different for the selected item. If I follow the current dropdown UI, I think it would be something like this:

<img width="751" alt="Captura de Tela 2021-05-29 às 12 59 50" src="https://user-images.githubusercontent.com/59513204/120077004-9b5e6880-c07e-11eb-8277-f06a6671e97f.png">

What do y

[2021-05-29 16:43] seanlip commented on #12857
Just a question ... I think this sort of checkmark is usually used to indicate multi-select (at least I think that's how it works with the category and language options in the library page). Is there a way to have this more clearly indicate that only one option can be selected?

[2021-05-30 04:53] anubhutiv opened #12941 "[LaCE image editor] [Contributor Dashboard] Issue when there is a "X" sign in text in RTL languages"
**Describe the bug**
Typing 3X3 in RTL language is not possible

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Contributor dashboard'
 2. Start translating to Dari language.
 3. Copy any Dari phrase from Google translate which has a multiplication phrase written e.g. 3X4 {For testing purposes only}
 4. The latter number e.g. 4 in 3X4 will move by itself to the end of sentence

**Obs

[2021-05-30 05:42] seanlip commented on #12876
@sagangwee Could you please double-check with Anu the exact circumstances of the issue? I was talking with her recently and she thinks it might be related to multi-login (but I haven't yet confirmed this directly). It might be worth having a quick video call with her where she can demonstrate it. /cc @brianrodri

[2021-05-30 12:11] #12698 closed, assigned to gp201

[2021-05-30 14:12] Jayasanka-madhawa commented on #8668
Hi! I am new to contributing to opensource. I would like to work on the  **exploration-title.service.ts**.
Could you please assign them to me?
Thanks

[2021-05-30 14:14] #12824 closed, assigned to mridul-netizen

[2021-05-30 18:59] Radesh-kumar opened #12943 "While submiting answers in practice session there should be check for tagged skill misconceptions."
**Describe the bug**
In `question-player-engine.service.ts` at line no. 248, we have an if statement.
Where we are checking using answer which is submitted by the user as a property for answerGroups.
I've checked answerGroups there is no such type.
![Screenshot from 2021-05-31 00-28-36](https://user-images.githubusercontent.com/54100702/120116744-394d5280-c1a7-11eb-9a36-997997e321af.png)

![Screen

[2021-05-31 06:48] seanlip opened #12945 "Console error (possibly flaky) when pasting text in CKEditor in the skill editor page"
**Describe the bug**
I was trying to paste some text from a Google Sheet into the skill editor on production, and ran into the following:

![Screenshot from 2021-05-30 23-45-26](https://user-images.githubusercontent.com/10575562/120151569-4404e900-c1a1-11eb-9480-394e987736f5.png)

**Observed behavior**
There is a console error and the pasted text is too small.

**Expected behavior**
The pasted tex

[2021-05-31 06:48] seanlip commented on #12945
Hi @kevintab95 -- this just happened in prod, flagging as an editor issue (I think it also relates to some of the stuff you're doing). Thanks!

[2021-05-31 09:47] Jayasanka-madhawa commented on #8668
Hi! I am new to contributing to opensource. I would like to work on the following files

- **exploration-title.service.ts**
- **exploration-category.service.ts.**

Could you please assign them to me?
Thanks

[2021-05-31 17:57] #12451 closed, assigned to jimbyo

[2021-06-01 11:05] intaschi opened #12951 "Missing translations on lessons page"
**Describe the bug**
During a user study, in chapter "Rounding Numbers" from Place Values lesson, I've notice that not all placeholders, text buttons and titles are being translated and still appearing in English. This appears to be happening in others lessons too (as in [What are Place Values](https://www.oppia.org/explore/K645IfRNzpKy?story_url_fragment=jaimes-adventures-in-arcade&topic_url_frag

[2021-06-01 13:01] ReshuKumari commented on #9749
@patrycjapraczyk assigned questions-list-select-skill-modal.controller to you.

[2021-06-01 13:22] penninkn opened #12952 "Unable to share from lesson homepage - attribution guide link is disabled"
**Describe the bug**
Attribution guide link cannot be interacted with on the lesson homepage for "Jaime's Adventures In the Arcade"

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/learn/math/place-values
 2. Click on 'Jaime's Adventures in the Arcade'
 3. View 'Learn More About Place Values' bar at the bottom of the page
 4. Look to the far right - there is an "A

[2021-06-01 16:40] U8NWXD commented on #8315
It looks like it's possible to set a `random` configuration value to `False` to disable the random ordering ([docs](https://jasmine.github.io/api/3.5/Configuration.html))

[2021-06-01 16:49] intaschi opened #12956 "Can't open concept card while translating it"
**Describe the bug**
When translating and linking a concept card, there is no way to check if the card I just linked with copy tool is properly linked or it is the right one, because I can’t open the card I have just translated.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the editor of a lesson or the translations part of contributor dashboard , and find a card with a "concept car

[2021-06-01 17:09] intaschi opened #12957 "[Contributor Dashboard] Surface content type in translation cards"
**Is your feature request related to a problem? Please describe.**
The translations cards of a chapter don't appear in the dashboard in the same order as in the lesson. Instead, they seem to appear in a random order, so when translating it becomes difficult to understand the story / context, which for translation into Portuguese, for example, makes a lot of difference.

**Describe the solution you

[2021-06-01 17:28] sagangwee commented on #12876
@seanlip Okay I will follow up with her thanks!

[2021-06-01 17:31] intaschi commented on #12857
Hi Sean,

Some options I could of is remove the checkmark and just let the background and bolding, or replace the checkmark for a ratio input like in this example below:
![ex](https://user-images.githubusercontent.com/59513204/120366011-83d4e900-c2e5-11eb-83b6-6c307a9d2e59.png)

What do you think? Have any other ideias?

[2021-06-01 19:45] sagangwee commented on #12533
The CAT feature doesn't completely solve this actually—we'll want to perhaps create a oneoff job that automatically populates these kinds of translations or something similar.

[2021-06-01 20:08] #12907 closed, assigned to nobody

[2021-06-01 20:09] sagangwee commented on #12030
Design doc here: https://docs.google.com/document/d/1fXJ60t3ktfg_wF2SumJLLP7eenMyj2zUDBmFYZXgTkI/edit#

[2021-06-01 20:31] sagangwee commented on #8983
Sorry, for the case where a contributor adds an image in a question suggestion via the RTE should already be handled with the image context changes in https://github.com/oppia/oppia/pull/10475.

@kevintab95 Can you confirm that images should be working properly for the question editor? I just tried submitting a question suggestion with images on the test server and it was working fine, but wanted

[2021-06-01 20:33] seanlip commented on #8983
Also /cc @DubeySandeep for verification since he filed the original issue.

[2021-06-01 21:29] sagangwee opened #12959 "[Contributor Dashboard] Enable translation of rules"
Only reviewers should be able to translate rules, as the mis-translation of rules would completely block learners from proceeding in lessons.

[2021-06-01 21:30] sagangwee commented on #12180
Additional tips to be added [here](https://docs.google.com/document/d/1YcWD1lzy-kryYS5rXTUYluqNI_YfiNtyLP9r-1XLCMs/edit?ts=60ae28db).

[2021-06-01 21:32] sagangwee opened #12960 "[Contributor Dashboard] Add Portuguese and Spanish translation tips"
Original feature: https://github.com/oppia/oppia/issues/12180

[Translation tips doc](https://docs.google.com/document/d/1YcWD1lzy-kryYS5rXTUYluqNI_YfiNtyLP9r-1XLCMs/edit?ts=60ae28db).

[2021-06-01 21:32] sagangwee commented on #12180
Tracking new tips here: https://github.com/oppia/oppia/issues/12960

[2021-06-01 21:32] #12180 closed, assigned to jimbyo

[2021-06-01 23:17] Melaniesojourner opened #12964 "Add a new Partner Page to the Foundation pages, as well as a dropdown linking to it in the menu bar."
We (the Partnership team) would like to add a dropdown for the "Partnerships" tab on the Foundation website. Just like how the "About" tab has a dropdown that displays two options.

The current Partnerships Page should be in the dropdown titled "Partner With Us". We would like to add a second page under the same dropdown titled "Our Partners".

I have attached how I'm thinking the page could look,

[2021-06-01 23:18] Melaniesojourner commented on #12964
Forgot to add the photo.
![20210311_133204](https://user-images.githubusercontent.com/68979023/120401529-2012e600-c30e-11eb-9983-4d6c6a9468dc.jpeg)

[2021-06-02 01:31] seanlip commented on #12857
Hi @intaschi -- let me pass this to @mschanteltc. She has better familiarity with our design patterns, and might have some ideas!

[2021-06-02 05:30] #12846 closed, assigned to gp201

[2021-06-02 05:37] mschanteltc commented on #12857
I actually like the checkmark with the colored background for the selected language. I don't think users would see it as a multiple selection, especially if they are familiar with selecting a different language.

I would say space out the languages more so that it is easier for users to select their desired language, especially on mobile where users are more prone to mistapping. The [W3](https://w

[2021-06-02 05:57] seanlip commented on #12857
@mschanteltc Just to check, the library dropdowns for language/category are multi-select (see https://www.oppia.org/community-library, make sure the window is wide, and select some stuff from the top dropdowns).

Is the idea for the same (or similar) style of dropdown to be used in both the single-select and multi-select cases? It's fine if so, I just wanted to make sure you've taken the existing

[2021-06-02 06:34] DubeySandeep opened #12966 "Finalize the relative and absolute import rule for the codebase"
Currently, both the relative and absolute import statements are used in the codebase. The rule for when to use relative/absolute import is not yet finalized. ([ref comment](https://github.com/oppia/oppia/pull/12884#discussion_r639441048))

Though this issue we want to do the following:
- [ ] Finalize and document the rule for when to use relative/absolute import.
- [ ] Create a lint check to enfor

[2021-06-02 09:25] srijanreddy98 opened #12969 "Remove svg-filename-editor from the exclude list in check_frontend"
Context:
In the PR #12764, the frontend coverage checks for the file svg-filename-editor.component.ts pass when they are run with fdescribe but fail when all the unit tests are run. To unblock other while this is being fixed, we are temporarily adding it to the not covered file list in check_frontend_coverage.py.

[2021-06-02 11:37] intaschi commented on #12857
I was doing a little research, It seems that the dropdown with check is used frequently for selecting language (just one):

![Group 106](https://user-images.githubusercontent.com/59513204/120473528-7e2ae200-c37d-11eb-81a9-e65b07cc53bb.png)

So is possible that people are used to it and won’t be confused with this button. However, for selecting multiples options  the **checkbox** is normally used,

[2021-06-02 14:06] srijanreddy98 commented on #12969
We went for the revert... so closing this.

[2021-06-02 14:06] #12969 closed, assigned to nobody

[2021-06-02 21:42] seanlip commented on #12857
Aha! Got it -- this makes sense, thanks. Let's keep the checkmarks for this then, and change the existing multiselect dropdowns to checkboxes. I think we have enough to start implementation, thanks!

/cc @aks681 @kevintab95 would it be possible to place this on the LaCE team's priority list?

[2021-06-02 23:08] sagangwee commented on #11848
This is no longer observed.

[2021-06-02 23:08] #11848 closed, assigned to nobody

[2021-06-03 01:30] intaschi opened #12976 "[Contributor Dashboard] See who is contributing with a translation"
**Is your feature request related to a problem? Please describe.**
It is not possible to see what people are translating the same chapter. This makes it harder to synchronize the work and communicate better about terms and specific words that are being used in the translation.

**Describe the solution you'd like**
I would be nice to have somewhere in the chapter card a way to see all people that a

[2021-06-03 02:38] kevintab95 commented on #8983
This seems broken on the latest develop branch.
![brokenImgQuestion](https://user-images.githubusercontent.com/11008603/120578082-dc6dc880-c442-11eb-8c77-e42a70437898.gif)

[2021-06-03 16:41] U8NWXD commented on #11655
Closing since this hasn't been seen for a while

[2021-06-03 16:41] #11655 closed, assigned to nobody

[2021-06-03 17:31] U8NWXD opened #12980 "Discussion: How to Display Frontend Test Results"
## Context

In the wake of #12955 being merged, which suppressed success status messages from passing frontend tests, a contributor expressed a preference for the old behavior because the success status messages served as a kind of progress bar and because the `SUCCESS` and `FAILURE` messages were colored.

I'm opening this issue to solicit opinions from the broader community about how we want the

[2021-06-03 17:40] srijanreddy98 commented on #12980
Here is tip for those who are facing problems with either systems:

You can always redirect output to a file.

`python -m scripts.run_frontend_tests --check_coverage > log.txt`

1. For the first system where all the logs are printed, you can search for `has failed`. (Thanks to @darksun27 for this tip).
2. For the second system, you can search for `FAILED`. Make sure to turn on case sensitive searc

[2021-06-03 17:41] brianrodri commented on #12980
Would it be possible to suppress expected error messages too? I think that'd be helpful since that's the same behavior as running backend tests, i.e. logs/prints are only shown if they would help with debugging. Otherwise, all output is suppressed.

[2021-06-03 17:49] U8NWXD commented on #12980
@brianrodri As far as I can tell that isn't possible. Here's the relevant config ([link](https://github.com/oppia/oppia/blob/7a56ebede806fa1dc119976d0a1b145f67800df3/core/tests/karma.conf.ts#L95)):

[code]

This causes console log output to be printed when the tests run, but we only get to choose between levels of `log` and `error`. Unfortunately I don't know of a way to suppress error messages fr

[2021-06-03 17:54] brianrodri commented on #12980
Got it, thanks! Then my personal preference would be to print all output so that debugging information is always available.

My ideal world would forbid tests from printing console errors when they pass and then suppress everything below ERROR (I remember submitting a PR a few years ago where _nothing_ was printed which made running tests a joy), but I understand that's outside the scope of this i

[2021-06-03 18:29] seanlip commented on #12980
How about, in the main codebase, we change console.error() to console.warn()? I think that would be OK since I don't think end users depend on the console logs anyway (except when sending them to developers, and all that matters in that case is that the info is visible, not what colour it is).

Then, developers who are writing tests can use console.error(), the log output would be free of random e

[2021-06-03 18:31] seanlip commented on #12980
One other note: the log [here](https://github.com/oppia/oppia/runs/2732100919?check_suite_focus=true#step:7:3407) ends with the message "TOTAL: 4692 SUCCESS". I think this is insufficient, it would be better to say "TOTAL: 4692/4698 SUCCESS; 6 FAILURES" or similar. Ideally with the "6 FAILURES" in red colour so that it's really clear that there's something that needs to be fixed.

[2021-06-03 19:00] srijanreddy98 commented on #12980
I get a ton of random warns that I just suppress in dev tools. It will affect the dev workflow. I don't think we should go with any sort of hacks or write some python script here. I think the best solution is to use a different reporter or write our own.

Here are some examples reporters. We only need to write one JS file, barely around 100 lines
https://github.com/karma-runner/karma-growl-reporte

[2021-06-03 19:04] srijanreddy98 commented on #12980
We could also take inspiration from the previous reporter we had ('progress'). I didn't check if progress was open source (it should be, because angular also uses it). Maybe we could look at the progress source and only log if the the test failed?

@U8NWXD wdyt? (I suspect that https://github.com/jaapz/karma-failed-reporter could be doing the same).

[2021-06-03 19:06] seanlip commented on #12980
@srijanreddy98 I think the main question here is, what do you want the output to look like? It is worth answering that question before figuring out how to solve it, but I don't think you've expressed an opinion.

The premise I was going from is that we want the test output to only contain test failure messages and not the random console.error() logs that arise as side effects of passing tests. So,

[2021-06-03 19:07] srijanreddy98 commented on #12980
Sorry for spamming but I think I may found a solution:
https://github.com/mlex/karma-spec-reporter

This highly customisable we can show exactly the failed tests.

[2021-06-03 19:12] darksun27 commented on #12980
@seanlip The number of logs crosses the limit the terminal can display. So why not just show which tests are failing and a test summary at the end.

[2021-06-03 19:33] sagangwee commented on #12956
@kevintab95 This seems like an issue with the RTE?

[2021-06-03 19:36] U8NWXD commented on #12980
@darksun27

I think this might be because your terminal has been configured to not store much history. On my machine and on CI, the full output is preserved. I think most terminals have a setting for how much history is saved

[2021-06-03 19:39] brianrodri commented on #12980
@U8NWXD could you please add a poll or something similar to the top of the first comment? I think we're getting a little bogged down in implementation detail rather than on a decision (as @seanlip mentioned in https://github.com/oppia/oppia/issues/12980#issuecomment-854108502)

[2021-06-03 19:44] sagangwee commented on #12951
@kevintab95 I believe some of these elements are common across all lessons, correct? e.g. the "CORRECT!" pop-up, the "Listen to the lesson" button, and the "Need help? View a hint..." bubble.

[2021-06-03 19:58] srijanreddy98 commented on #12980
@seanlip I am sorry that I may have misunderstood. I think the whole point this was to find a way to suppress expected error and only show output from failed specs. (I may be wrong here, please do correct me). In any case, this how the entire output looks like with a better reporter.
![Screenshot 2021-06-04 at 1 26 41 AM](https://user-images.githubusercontent.com/23002114/120704186-ebe92200-c4d3-1

[2021-06-03 20:03] U8NWXD commented on #12980
@srijanreddy98 I don't think everyone is on board with only printing failure messages. From the top comment:

It sounds like you would prefer to only have failure messages printed. Is that assessment correct?

Also, I suspect that your solution will suppress debugging output from `console.log` and `console.error` statements added by developers. Is this also the behavior you would prefer?

[2021-06-03 20:04] seanlip commented on #12980
Thanks @srijanreddy98 -- no worries, just trying to confirm that we're on the same page re expected output (which I now think we are).

What you've shown looks good, and if we can ignore the warns, I think we're good to go (in terms of how the test output looks)!

However, there is one complication. Suppose developers need to log some stuff while they're testing. In such cases, what do they do (so

[2021-06-03 20:13] srijanreddy98 commented on #12980
Oh... My bad... I just that the complain was with respect to noise in the output. So I assumed that no one was upset with the loss of success logs. Thanks for clearing it up.

Regarding the logs, the one that I posted up was from karma-spec-reporter. It won't achieve what we want. From the karma repo, I looked at the progress reporter. I think we can create our own reporter that would supress cons

[2021-06-03 20:21] U8NWXD commented on #12980
Based on the discussion so far, I think we've identified two main trade-offs, which I've added to the bottom of the top comment. Do those look right to you all? If we agree on the trade-offs, then I think we can move on to making a decision.

[2021-06-03 20:37] brianrodri commented on #12980
@U8NWXD IIRC when console messages are not printed out in between runs, the SUCCESS message actually rewrites itself to update (similar to how git push stays within a few lines while changing itself to display progress updates).

Would that resolve the tradeoff in showing SUCCESS messages if we can incorporate it?

[2021-06-03 20:40] U8NWXD commented on #12980
@gp201 since you mentioned that you found the success message output useful, could you comment on whether brianrodri's [suggestion above](https://github.com/oppia/oppia/issues/12980#issuecomment-854162173) would resolve your concerns?

[2021-06-03 20:51] gp201 commented on #12980
@U8NWXD I'm assuming that @brianrodri is saying that
`Chrome Headless 91.0.4472.77 (Linux x86_64): Executed 3 of 4687 SUCCESS (0 secs / 0.282 secs)`
will be rewitten as:
`Chrome Headless 91.0.4472.77 (Linux x86_64): Executed 4 of 4687 SUCCESS (0 secs / 0.282 secs)`
in the same line.

If that is the case then it sounds good to me!

[2021-06-03 20:52] brianrodri commented on #12980
@gp201 yep that's right, I recall this is the default behavior when console messages are not printed.

[2021-06-03 21:46] kevintab95 opened #12981 "Write a one-off job to modify all existing translation suggestions to use CMD_ADD_WRITTEN_TRANSLATION."
This is a TODO after #12719 is merged. Write a one-off job to modify all existing translation suggestions to use `CMD_ADD_WRITTEN_TRANSLATION` and remove `CMD_ADD_TRANSLATION` and its references from the codebase.

As part of this change, the following translation suggestion change properties should be modified:
1. `translation_html` -> `translated_content`.
2. `content_html` -> `original_content`

[2021-06-03 23:07] seanlip commented on #12980
For (1) I agree that the ideal behaviour would be what was mentioned by @gp201 and @brianrodri above.

For (2) I think we do want to have a way for devs to specifically put in debugging messages when running tests, but we don't want to show the current slew of errors/warnings that arises more generally. For that, Srijan's idea for suppressing console errors/warnings (but showing logs) for successf

[2021-06-04 03:20] #12694 closed, assigned to nobody

[2021-06-04 16:10] U8NWXD commented on #12980
Thanks for your suggestions!

Our plan right now is to by default print no logs from the tests. We will then provide instructions for developers to enable showing these logs, with the expectation that developers will show the logs when only running a few specs (e.g. with `fit` or `fdescribe`). We will also show a "progress bar" of status messages as @brianrodri suggested. The result should be that

[2021-06-04 22:26] sagangwee commented on #12957
Going to recategorize issue to highlight the second feature request. First feature request is duplicate of https://github.com/oppia/oppia/issues/12182.

[2021-06-04 22:34] sagangwee commented on #11434
Last bit of frontend work never got merged: https://github.com/oppia/oppia/pull/12604

[2021-06-05 10:37] rohitkatlaa commented on #12920
Since the PR which included the issue is closed, we can close this issue.

[2021-06-05 10:37] #12920 closed, assigned to rohitkatlaa

[2021-06-05 10:44] rohitkatlaa opened #12991 "Remove deprecated commands and values"
The deprecated commands and the values for the commit cmds has to be removed using a migration job. This list is obtained from the audit job errors.

The list of deprecated commands:
ExplorationChange
- [ ] clone
- [ ] add_gadget
- [ ] edit_gadget_property
- [ ] delete_gadget
- [ ] rename_gadget

The list of deprecated values:
- [ ] publicized in change_exploration_status cmd (ExplorationRightsCha

[2021-06-05 14:06] U8NWXD opened #12993 "Transfer Automated QA Codeownership Back to @U8NWXD"
After 2021-07-10, transfer Automated QA codeownership files (those files owned by @krishnarao22) back to @U8NWXD.

[2021-06-05 17:55] mahendra1290 commented on #8472
I have learned angular at my internship. How can I contribute to this issue? Are all code changes are claimed?
can I work on this refresher-exploration-confirmation-modal.service.ts

[2021-06-05 19:12] lucy-oppia opened #12995 "Audio not working intermittently in place values and fraction lessons"
On HP desktop computer with Windows 10 through Edge browser, audio does not always automatically sync when changing pages or retrying an answer after an incorrect answer.

[2021-06-06 05:02] seanlip commented on #12995
Hi @lucy-oppia -- could you please provide a video to show the behaviour, as well as some instructions for how someone else can reproduce it? Thanks!

[2021-06-06 06:46] DubeySandeep commented on #12911
@chris7716 This needs to be fixed asap, it's creating a big problem for developers (I just wanted hr. fixing this test issue, I assumed it's failing because of changes I've made.) and we never expected the backend test to be flaky! The general procedure is to revert the PR which is introducing flakiness in tests.

Do you have any updates on this?

[2021-06-06 06:49] DubeySandeep commented on #12911
@seanlip Can you please check the comment/replies in this doc^?

[2021-06-06 07:04] seanlip commented on #12911
I already did. What do you want me to check exactly? I thought we have a plan of action for this already.

[2021-06-06 09:42] mahendra1290 commented on #10700
Hi @srijanreddy98, I would like to refactor Fraction, PlaythroughIssue.

[2021-06-06 15:58] DubeySandeep opened #13001 "Add proper success message on allowing contributor to submit question suggestion"
**Describe the bug**
The saving message for allowing contributors to submit a question suggestion looks is not clear.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to /admin page
 2. Go to roles tab
 3. Assign contributor to "Allow submit question suggestion"
 4. Check the save message in the bottom right corner.

**Expected behavior**
The save message should be: `Allowed "<username>"

[2021-06-07 02:26] mahendra1290 commented on #10474
@vojtechjelinek i want to work on this please assign me

[2021-06-07 02:31] mahendra1290 commented on #8016
@DubeySandeep i want to work on core/templates/dev/head/components/question-directives/questions-list/questions-list.directive.ts

[2021-06-07 05:17] soham4abc commented on #13001
I am eager to work on this issue

[2021-06-07 11:22] mahendra1290 commented on #8472
Hi @anandwana001 i want to work on this issue.

[2021-06-07 15:34] vojtechjelinek commented on #10474
@mahendra1290 Please read the description of this issue and pick the files that you want to work on.

[2021-06-07 17:10] mahendra1290 commented on #10474
python -m scripts.typescript_checks --strict_checks running this gives errors for other files also

[2021-06-07 17:19] mahendra1290 commented on #10474
@vojtechjelinek sure

[2021-06-07 17:20] mahendra1290 commented on #10474
@vojtechjelinek sure

[2021-06-07 19:49] kevintab95 opened #13007 "[Contributor Dashboard] Make it easier for a translator to resubmit a rejected translation"
**Is your feature request related to a problem? Please describe.**
If a translator wants to address feedback on a rejected translation, they currently have to go to "Contributions > Translations" in the contributor dashboard and view the rejection message, then find the appropriate card again in the "submit translation" page and then resubmit a translation. It may be easier for translators to upda

[2021-06-07 19:50] kevintab95 commented on #13007
Assigning @sagangwee for triaging this. Thanks!

[2021-06-07 20:51] BenHenning commented on #12297
From discussing with Brian during a meeting today, we realized that Firebase session cookie should be a suitable drop-in replacement for SACSID (which was acting as a GAE auth session ID before). This might actually be a better implementation since the session cookie is tied to the long-lived login status of an account (vs. a potentially arbitrary session since it wasn't clear the lifecycle of the

[2021-06-07 21:06] intaschi opened #13010 "In the Math lessons a comma -- in Portuguese it’s a dot and the system doesn’t understand it."
**Describe the bug**
In Brazil "," are written as "."and vice-versa in mathematics. When rounding the number "6,992" in English or "6.992" in Portuguese, a student answered "10.000" which is right in Portuguese but the system understood it as a "10".
This happened in chapter 4 of place values but should be fixed for every math lesson available.
<img width="567" alt="Captura de Tela 2021-06-07 às

[2021-06-08 06:51] mridul-netizen opened #13015 "Remove use of `unknown` as a type"
There are some files currently in the codebase which uses `unknown` as a type or using the pattern `as unknown as X`.This issue aims to remove all such patterns, they have been added as temporary fix for a type because some parts of code using it is in ajs currently so it is a bit diffiicult to determine types.Instances of such cases are in some files listed below:
- [ ] app.ts
- [ ] interaction-d

[2021-06-08 18:34] tanmaysahay commented on #12888
+1

It would be useful to know what % of issues are awaiting review - this helps contributors regulate and plan the rate at which they would like/need to add translations.

As mentioned above, a light-green or yellow section (in addition to the existing green section) in the progress bar would be incredibly helpful:
![update_progress_bar_to_show_fraction_of_items_in_review](https://user-images.git

[2021-06-09 00:00] #8983 closed, assigned to kevintab95, DubeySandeep

[2021-06-09 04:43] brianyou0 commented on #4057
Hi there: could I be assigned with `E - Y continue-rules.service.ts`? Thanks.  @nithusha21

[2021-06-09 05:03] anandwana001 commented on #10700
Hi @srijanreddy98 Can I work on Fraction, I sent a PR on this.

[2021-06-09 05:04] anandwana001 commented on #10700
@mahendra1290 ops, I didn't see your comment that you will be working on Fraction and I sent a PR for this.
Will it be ok?

[2021-06-09 05:25] mahendra1290 commented on #10700
Ya @anandwana001 it's okay no worries

[2021-06-09 05:38] kevintab95 opened #13025 "[Server Error] Faulty navigation to the Topic editor page (/topic_editor/null)"
This error occurred recently in production (Release 3.1.0).

[code]

Requested URL: `/topic_editor/null`

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed f

[2021-06-09 06:02] srikanthkb commented on #10700
@mahendra1290 Are you planning to submit a PR for PlaythroughIssue ? Or can I take it up ?

[2021-06-09 06:06] mahendra1290 commented on #10700
@Srikanth-Kb yes i am working on it and will be submitting PR

[2021-06-09 12:26] srikanthkb commented on #10700
Hi @srijanreddy98 , I created a PR for StateCard. Requesting review for the PR.

[2021-06-09 14:20] tanmaysahay opened #13031 "Automatically Load Concept Card during translation process"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I have to select a concept card during the translation process. Why? It's an orthogonal toilsome process (to translation) that doesn't necessarily provide long-lasting value (note that the translation process itself is valuable, but manually hunting for the right concept card isn't). For example, I had a taxing

[2021-06-09 17:27] sagangwee commented on #13031
@kevintab95 I believe this falls under the purview of the LaCE team as the issue is with the copy tool (`CkEditorCopyToolbarComponent`)?

[2021-06-09 17:35] tanmaysahay commented on #13031
Feel free to move this to the appropriate triage component/team - this should still solve the entire class of problems as pointed out in the bug description! :)

[2021-06-09 22:21] kevintab95 commented on #12903
Reopening because this still seems to be an issue on the test server.
![testsever](https://user-images.githubusercontent.com/11008603/121436532-5ef40c00-c99e-11eb-9bc5-96a958cb0386.gif)
(on the library page where there are lots of exp summary tiles to show)

Code execution on hover seems to take ~40ms on prod but on the test server it is ~380ms.

#### Production
![old](https://user-images.githubus

[2021-06-09 22:47] vojtechjelinek opened #13034 "Few links do not work in the contacts page"
Few links (for example "suggest updates directly" or "effective in helping students") do not work on https://www.oppia.org/contact

Should we just remove them or should they point to some different place?

[2021-06-10 01:01] MA86 commented on #11496
Hi @U8NWXD,

Do you happen to know:
- Does `ElementArrayFinder` behave like an array? Like, `myArray[2] = 4`?
- Can I assume that all references to `ElementArrayFinder` object is stored in a variable called `elementArrayFinder`?

FYI, while searching the codebase, I found 45 places in 8 different files where `elementArrayFinder` was used.

Thanks a bunch!

[2021-06-10 18:59] sagangwee opened #13045 "[Contributor Dashboard] Admin dashboard for translation progress"
Create a dashboard for admins to see translation progress for a language akin to columns A to G in https://docs.google.com/spreadsheets/d/1ulRPuMRxwqhUXFkLHr74Pqt-e1AEYdncHBzBa2yz8GY/edit#gid=0.

Requested by @anubhutiv.

[2021-06-10 19:59] kevintab95 opened #13046 "[Server Error] KeyError: u'card_is_checkpoint'"
This error occurred recently in production [release 3.1.1]

[code]

Background info: `card_is_checkpoint` state field was introduced in release-3.1.1.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for

[2021-06-10 20:32] kevintab95 commented on #13046
This is a client side issue -- the client code may not be up-to-date. The error indicates that the newly added `card_is_checkpoint` key was not present in the `question_state_data` change property that was sent to the backend to create a suggestion model. This can happen if the client code uses the previously served TS code that does not handle `card_is_checkpoint` when updating the change object

[2021-06-10 20:32] #13046 closed, assigned to nobody

[2021-06-10 21:45] #12911 closed, assigned to vojtechjelinek, DubeySandeep, U8NWXD, chris7716

[2021-06-10 21:47] seanlip commented on #12857
Just following up -- @aks681 plans to submit a PR for this during the weekend (by June 13). Thanks @aks681!

[2021-06-11 03:10] anandwana001 opened #13048 "Wiki Page Broken Link"
**Describe the bug**
Wiki Page - [Contributing Code to Oppia)](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia) has a sub-topic called [Tips for making a good code change](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#tips-for-making-a-good-code-change) Point number 2 **Frontend Tests** has a link connected which is not working. [Broken Link](https://github.com/oppi

[2021-06-11 03:10] anandwana001 commented on #13048
@DubeySandeep PTAL

[2021-06-11 03:18] anandwana001 opened #13049 "Introduce Thumbnail File size field for Topics"
**Is your feature request related to a problem? Please describe.**
For Android clients, we need to include the download size for each topic in the response for topics list requests.

**Describe the solution you'd like**
Schema Migration by introducing a new attribute in the Topic section.

**Additional context**
Will add the design doc link here once approved to make it available publicly.

[2021-06-11 04:23] anandwana001 commented on #13049
@Srikanth-Kb Let's get the Design Doc Signed-Off from all the reviewers and get started with this Issue.

[2021-06-11 04:32] srikanthkb commented on #13049
@anandwana001 Thanks for creating this issue, the design doc is under review.

[2021-06-11 10:38] #7359 closed, assigned to nobody

[2021-06-11 13:22] Rijuta-s opened #13053 "Add Wipeout for BlogPostsRightsModel"
Add wipeout for BlogPostRightsModel after adding the services related to blog posts in domain layer

[2021-06-11 13:41] hardikkat24 opened #13054 "Make Backend Code Typed M1.1 + M1.4"
This issue is a part of GSoC Project ['Make Backend Code Typed'](https://docs.google.com/document/d/1t9HOmOX6Q7hH94OQCSfHj2v-MmY9AECJpiV8OCj2TnI/edit?usp=sharing).

Aim:
1. Add mypy runner script.
2. Add type annotation to `utils.py` and `utils_test.py`.
3. Add a github workflow for mypy type checks.

[2021-06-11 14:12] anandwana001 commented on #7156
@brianrodri

Does this mean that we need to show the suggestion on the card?

[2021-06-11 14:13] brianrodri commented on #7156
Ah this issue is actually obsolete, sorry for leaving it open to confusion!

[2021-06-11 14:13] #7156 closed, assigned to nobody

[2021-06-11 16:08] sagangwee commented on #12876
Currently Anu has been using a different laptop where the issue has not been seen since. Closing for now, but can reopen as necessary.

[2021-06-11 16:08] #12876 closed, assigned to nobody

[2021-06-11 21:08] sagangwee opened #13055 "[CD Reduce Toil] Auto-translate/handle translation cards that only consist of digits"
With the enabling of translating interactions, multiple choice questions can be translated, but for math lessons, frequently a multiple choice option will be only a digit (see below screenshot) that doesn't need to be translated. We should be handling these types of contents automatically in some way.

Additionally, it may be helpful to group all the choices together in one translation card.

<img

[2021-06-11 21:15] seanlip commented on #13055
Just a note -- not all numbers can be systematically translated (but whole numbers should be OK). I just learned that 3.67 is 3,67 in several countries, and vice versa.

[2021-06-11 21:15] seanlip commented on #13055
(We can probably handle those automatically too but just noting that there's a little subtlety here.)

[2021-06-11 21:49] sagangwee commented on #13055
Oh interesting, thanks! I'll make sure to address that case.

[2021-06-12 01:49] EeshaArif commented on #13015
@mridul-netizen  Please add  the following to the list as well, thankyou!
- `list-of-unicode-string-editor.component.ts`
- `sanitized-url-editor.component.ts`
- `set-of-unicode-string-editor.component.ts`

[2021-06-12 04:40] hardikkat24 opened #13059 "TODO: Removing extra '# type: ignore' from backend"
Aim: This issue aims at removing the extra `# type: ignore[<code>]` in the codebase.
1. All the `# type: ignore[attr-defined]` due to constants will be removed after the introduction of protobuf for constants.
2. Some of the `# type: ignore[no-untyped-call]` is used for tests that are aimed at validating wrong input types.

The extra `# type: ignore[<code>]` will be notified by mypy when the ignor

[2021-06-12 06:28] sajalasati commented on #13059
@hardikkat24 Suggested Edit (gives better context): This issue aims at removing the extra `# type: ignore[<code>]` in the codebase which were introduced as part of adding type annotations via mypy to the backend files.

[2021-06-12 06:30] sajalasati commented on #13054
@hardikkat24 You can also link to the proposal here and elsewhere.

[2021-06-12 08:42] Radesh-kumar opened #13061 "Flake in audio translation bar directive (FE test)"
**Describe the bug**
Front End Test flake in the following spec
`Audio translation bar directive should stop recording when reaching recording time limit`

**To Reproduce**
I've been trying to reproduce this flake it occurred only once so far.
Try brute-forcing FE tests in "core/templates/pages/exploration-editor-page/translation-tab/audio-translation-bar/audio-translation-bar.directive.spec.ts".

[2021-06-12 08:43] seanlip commented on #13061
We just merged https://github.com/oppia/oppia/pull/13058. Is it relevant?

[2021-06-12 08:43] seanlip commented on #13061
(Also, thanks for taking the initiative and filing this!)

[2021-06-12 08:45] Radesh-kumar commented on #13061
Updated develop branch its working fine now, thanks.

[2021-06-12 08:45] #13061 closed, assigned to nobody

[2021-06-12 14:16] mahendra1290 commented on #10700
how to refactor when the original object factory has a constructor?

[2021-06-12 15:28] Aman-Jamshed commented on #10474
Hey @vojtechjelinek I want to work on LearnerActionObjectFactory. Please assign it to me.

[2021-06-12 16:38] #12943 closed, assigned to nobody

[2021-06-12 17:30] Ayush0730 commented on #10616
Is this issue still open? I would like to contribute, can someone guide me what exactly do we have to do?

[2021-06-12 18:53] shalmali87 opened #13067 "Wrong Link for Get involved --> Partnerships on oppia.org"
Bug: Wrong link for Partnerships: Partnerships link points to oppiafoundation.org. It should be pointing to oppiafoundation.org/partnerships

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/'
 2. Click on 'Get Involved --> Partnerships'
 3. Observe that it points to https://www.oppiafoundation.org/

**Observed behavior**
A clear and concise description of what yo

[2021-06-12 18:59] shalmali87 opened #13068 "Browse Library link does not work on https://www.oppia.org/teach"
**Describe the bug**
Browse Library link does not work on https://www.oppia.org/teach

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/teach'
 2. Scroll down to section 'Explore Lessons Made By the Community'
 4. Try to click on "Browse Library"

**Observed behavior**
"Browse Library" link does not work.

**Expected behavior**
Link should point to https://www.opp

[2021-06-13 18:00] seanlip commented on #13067
Assigning @aks681, he will fix this together with #12857.

[2021-06-13 18:01] seanlip commented on #13068
Assigning @aks681, he will fix this together with #12857.

[2021-06-13 20:21] seanlip opened #13071 "Local frontend test runs produce stacktraces as a side effect"
**Describe the bug**

When running frontend tests locally, there are a bunch of error messages printed out to the console (even though all the tests are successful). This includes standard error messages which are being dealt with in #12980. But I noticed recently that it also includes stacktraces like this one, which is a bit worrisome -- it suggests that the corresponding test is actually not pr

[2021-06-13 20:21] seanlip commented on #13071
/cc @nithusha21

[2021-06-13 21:45] kevintab95 commented on #13071
I checked an Actions [run](https://github.com/oppia/oppia/runs/2815014711?check_suite_focus=true) on develop and it looks like the error/log mentioned in the description does not occur all the time but there are other errors like `TypeError: Cannot read property 'collection_id' of undefined`, `TypeError: Cannot read property 'nodes' of undefined` etc. which show up in all builds ([example](https:/

[2021-06-14 03:21] anandwana001 opened #13075 "Introduce Thumbnail File size field for Subtopic"
**Is your feature request related to a problem? Please describe.**
We need to include the download size for each topic in the response for Subtopic list requests for Android clients.

**Describe the solution you'd like**
Schema Migration by introducing a new attribute in the Subtopic section.

**Additional context**
Will add the design doc link here once approved to make it available publicly.

[2021-06-14 03:22] anandwana001 opened #13076 "Introduce Thumbnail File size field for Story"
**Is your feature request related to a problem? Please describe.**
We need to include the download size for each topic in the response to Story list requests for Android clients.

**Describe the solution you'd like**
Schema Migration by introducing a new attribute in the Story section.

**Additional context**
Will add the design doc link here once approved to make it available publicly.

[2021-06-14 03:22] anandwana001 opened #13077 "Introduce Thumbnail File size field for Chapter"
**Is your feature request related to a problem? Please describe.**
For Android clients, we need to include the download size for each topic in the response for Chapter list requests.

**Describe the solution you'd like**
Schema Migration by introducing a new attribute in the Chapter section.

**Additional context**
Will add the design doc link here once approved to make it available publicly.

[2021-06-14 09:26] PranshuSrivastava commented on #10474
Hey @nishantwrp, I was working on the  ExplorationDiffService file and I cannot understand how to fix this error. Could you help me?
<img width="665" alt="Capture" src="https://user-images.githubusercontent.com/37413698/121870062-4b3f0180-cd20-11eb-90d7-0e5e89818d91.PNG">
<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/37413698/121870327-91946080-cd20-11eb-9f2a-d1a8d8

[2021-06-14 10:52] ashutoshc8101 opened #13079 "TODO: Remove hybrid flag from webpack.common.config.ts"
A new flag called `hybrid` is introduced in PR #13073.

This flag should be removed once angularjs is removed from all the pages.

Changes to be made:
hybrid option in `HtmlWebpackPlugin` present in webpack.common.config.ts has to be removed.

[2021-06-14 10:57] ashutoshc8101 opened #13080 "TODO: Remove `mock-ajs.ts` file from the codebase."
A `mock-ajs.ts` file is introduced in the codebase with PR #13073.

At present, every migrated component and service in the codebase is also downgraded to angularjs component and services.

Referring to this at the end of each file:
![image](https://user-images.githubusercontent.com/24855641/121881601-22713900-cd2d-11eb-8a85-da31ba84753a.png)
![image](https://user-images.githubusercontent.com/2485

[2021-06-14 13:38] vojtechjelinek opened #13083 "Fix nerdamer typing after it is fixed in the library repo"
The nerdamer library has some mistakes in typing (which was newly added recently) after this is fixed in the library (https://github.com/jiggzson/nerdamer/pull/619) we need to fix it in our code.

Just search for #13083 in the codebase and fix it there.

[2021-06-15 06:48] hardikkat24 opened #13088 "Make Backend Code Typed M1.3"
This issue is a part of GSoC Project ['Make Backend Code Typed'](https://docs.google.com/document/d/1t9HOmOX6Q7hH94OQCSfHj2v-MmY9AECJpiV8OCj2TnI/edit?usp=sharing).

Aim:
1. Add pre-push checks for mypy.
2. Add --skip-install flag to mypy script.

[2021-06-15 08:32] hardikkat24 opened #13090 "Make Backend Code Typed M1.2"
This issue is a part of GSoC Project ['Make Backend Code Typed'](https://docs.google.com/document/d/1t9HOmOX6Q7hH94OQCSfHj2v-MmY9AECJpiV8OCj2TnI/edit?usp=sharing).

Aim:
1. Add documentation for running mypy checker script and how to add type annotations

[2021-06-15 08:33] kevintab95 opened #13091 "[Server Error] ValidationError: Invalid story id"
This error occurred recently in production (release 3.1.1).

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. T

[2021-06-15 15:04] #11758 closed, assigned to chris7716

[2021-06-15 15:05] sagangwee commented on #11472
Fixed in https://github.com/oppia/oppia/pull/12909

[2021-06-15 15:05] #11472 closed, assigned to chris7716

[2021-06-15 15:05] sagangwee commented on #11683
Fixed in https://github.com/oppia/oppia/pull/12909

[2021-06-15 15:05] #11683 closed, assigned to chris7716

[2021-06-15 15:06] sagangwee commented on #11684
Fixed in https://github.com/oppia/oppia/pull/12909

[2021-06-15 15:06] #11684 closed, assigned to chris7716

[2021-06-15 16:08] intaschi opened #13093 "dsd"
**Describe the bug**
zsdsd
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of whatdsd you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your proble

[2021-06-15 16:46] #13093 closed, assigned to nobody

[2021-06-15 16:57] Zivilevs opened #13094 "copy tool for creating fractions image broken in firefox -- browser compatibility"
**Describe the bug**

When translating and using the copy tool for recreating _fractions_, the preview shows the correct image, but after pressing the button Done, the image's link appears to be broken and does not display for reviewers.

**To Reproduce**
 1. Go to translations with fraction image'
 2. Click on copy tool, format the image
 3. Press 'Done'
 4. See an error in the translation field

[2021-06-15 16:58] seanlip commented on #13094
@kevintab95 @sagangwee could you PTAL into this? Thanks.

[2021-06-15 16:58] seanlip commented on #13094
(It might need a hotfix.)

[2021-06-15 17:32] SAEb-ai opened #13096 "TODO: Remove browser.sleep from e2e files once Angular Migration finishes."
From one of the recent e2e flakes "Toast message takes too long to appear", we came to know from the [video](https://drive.google.com/file/d/15uf8ZAK9Lpzk-JOdjdYB9qzvds2Sj5gk/view?usp=sharing) that `browser.wait` was not waiting upto to the default time i.e 10s but still it was displaying in the [log](https://github.com/oppia/oppia/runs/2622089731?check_suite_focus=true#step:9:6614) that it waited

[2021-06-15 20:00] kevintab95 commented on #13094
There are couple of issues here:
1. When copying a math expression, it does not auto populate the copied value in the customisation args modal.
2. In Firefox, the correct namespace attribute is not present in the generated math SVG image. This causes it to appear broken.
    In Chrome, the SVG code for 1/2 looks like this:
[code]
    But in Firefox, the SVG code for 1/2 looks like this:
[code]

[2021-06-15 20:13] sagangwee opened #13099 "[Contributor Dashboard] Surface number of suggestions by status in contributor dashboard admin page"
A contributor dashboard admin should be able to look up the number of submitted translations in a particular language for each status (in review status especially).

[2021-06-16 14:49] hardikkat24 opened #13108 "TODO: Change MyPy configuration file"
Aim: Change the following configuration in the file `mypy.ini` after all the python files are type annotated.:
1. follow_imports: normal (currently silent)

[2021-06-16 17:22] PranshuSrivastava commented on #4057
Hey @nithusha21 , could please you assign me the  python-program.tokenizer.ts file?

[2021-06-16 17:30] Aman-Jamshed commented on #10474
Hey @nishantwrp I was working on LearnerActionObjectFactory you have assigned this to me as I'm new to Oppia codebase ,it was taking time to me to understand everything and Now I see someone has already added  LearnerActionObjectFactory.ts. What am I supposed to do?

[2021-06-16 23:17] #12623 closed, assigned to krishita30j

[2021-06-17 00:06] #12547 closed, assigned to kevintab95

[2021-06-17 03:53] #13094 closed, assigned to sagangwee, kevintab95

[2021-06-17 05:48] hardikkat24 opened #13113 "TODO: Change mypy command to mypy path after Python3 migration"
Aim: Change the `MYPY_CMD` in `scripts/run_mypy_checks` to the path of our own installed version after python3 migration.

[2021-06-17 11:45] RitikaDhangar commented on #13068
this is my first time...BUT I'm assuring you I can fix it. So May I Fix it?

[2021-06-17 12:50] RitikaDhangar commented on #13034
may I solve this issue?

[2021-06-17 17:27] seanlip commented on #13071
Per @srijanreddy98, this only happens in AngularJS test files and should reduce as more of the codebase is migrated.

[2021-06-17 18:56] Rijuta-s commented on #13053
Fixed in PR #12933

[2021-06-17 18:56] #13053 closed, assigned to Rijuta-s

[2021-06-17 19:58] vojtechjelinek opened #13119 "Transfer codeownership back to @vojtechjelinek after July 6"
Transfer codeownership back to @vojtechjelinek after July 6

[2021-06-18 01:52] aishwary023 opened #13122 "Sharing Links component throw error in business logic if used in the wrong place"
**Describe the bug**
`sharing-links.component.ts` throw error in business logic if used in the wrong place - see [here](https://github.com/oppia/oppia/blob/9a155322871a3ac46847e85ff63986b5b00f3af6/core/templates/components/common-layout-directives/common-elements/sharing-links.component.ts#L63-L65)

**Additional context**
Remove @ Input to this component and use ContextService directly to determin

[2021-06-18 13:57] sajalasati commented on #13059
@hardikkat24 Do you have a tracker issue for task (1) - Introduction of Protobuf for constants?  Add a link to so that it's clear which issue it's referring to.

[2021-06-18 16:22] kevintab95 commented on #12956
Hi @intaschi, it seems like one has to double-click on the concept card when the input field is being edited. This is the same behaviour for link components.

![dblclick](https://user-images.githubusercontent.com/11008603/122589811-58d8ec00-d07e-11eb-859d-09da54e37946.gif)

In the learner view (i.e. when the exploration is being played by a learner), a single click is sufficient to trigger the con

[2021-06-18 16:29] rdawson10 opened #13128 "{Contributor Dashboard} - Create Reviewer Limits when Editing Submitted Translations"
Issue:  We want to limit how much a Reviewer can edit a submitted translation before accepting it.  One possibility is a character limit.  Ryan to specify more details....

[2021-06-18 16:31] rdawson10 opened #13129 "{Contributor Dashboard} - Notify Volunteers when Submissions are Edited by Reviewers"
Issue:  Create notification for translation volunteers to be notified when their translation submissions have been edited by a Reviewer.  Also, provide the details of what was edited specifically.

[2021-06-18 16:34] rdawson10 opened #13130 "{Contributor Dashboard} - Create Method to Look Up Number of Submitted Translations for a Particular Language"
Issue:  Volunteers would like to be have the ability to look up the number of translations for a given language that have been submitted for reviewer, rejected, etc.  Ryan to specify more details of information to surface.

[2021-06-18 22:21] hardikkat24 opened #13131 "TODO: Merge mypy_requirements.txt into requirements.txt after py3 migration."
Aim: Merge `mypy_requirements.txt` into `requirements.txt` after py3 migration and install packages from `install_third_party_libs` itself.
Current Situation:
Requirements for MyPy packages are downloaded in the mypy runner script not in install_third_party_libs .
Expected Behaviour:
The Mypy packages will be installed through install_third_party_libs and introduce a skip-install flag in mypy scri

[2021-06-18 22:21] kevintab95 commented on #13031
Hi @tanmaysahay, I just tried to copy a concept card on oppia.org/contributor-dashboard and found that, when copying, the correct concept card is auto-selected. The translator just has to translate the text to be displayed in the modal. I think this is expected behaviour.

![conceptcardcopy](https://user-images.githubusercontent.com/11008603/122620718-46c47100-d0b1-11eb-8f50-b14393248143.gif)

In

[2021-06-18 23:49] intaschi commented on #12956
Hi @kevintab95, thanks for looking at this!

I think I have realized that this is more a UX problem, because most of the time when I opened the concept cards, I didn't find the green part, that is the part that shows what card is linked and I just realized that is because I had to scroll to find it. I think other translators in Brazil are having the same problem to understand how this works. Do yo

[2021-06-18 23:52] kevintab95 commented on #12956
Ah, I see. Yep, we can fix this!

[2021-06-18 23:54] intaschi commented on #12956
Thank you, this seems great!

[2021-06-19 11:24] #12142 closed, assigned to mridul-netizen

[2021-06-19 11:36] Radesh-kumar opened #13133 "TODO: Remove all question related naming conventions in exploration-engine-service.ts"
We should remove all question related naming conventions in exploration-engine-service.ts.

[2021-06-20 03:46] klenathstar commented on #10474
Hello @vojtechjelinek would it be possible to be assigned the LostChangeObjectFactory?

[2021-06-20 04:05] Nik-09 opened #13139 "TODO: Remove all the MAPREDUCE_HANDLERS from the codebase."
Remove all the MAPREDUCE_HANDLERS from the codebase.

[2021-06-20 07:17] rohitkatlaa opened #13142 "Author profiles dropdown not visible"
**Describe the bug**
The list of authors popup is not visible when the authors button is clicked.

**To Reproduce**
Steps to reproduce the behavior:
 1. Play any exploration
 2. Click on Author Profiles button at the bottom left corner
 3. The list of authors is not visible.

**Expected behavior**
The dropdown with list of authors should be displayed.

**Screenshots**
![simplescreenrecorder-2021-0

[2021-06-20 10:01] vojtechjelinek commented on #10474
@klenathstar Done.

[2021-06-20 12:06] Nik-09 opened #13143 "Fraction page is not very much user friendly in mobile."
**Describe the bug**
Fraction page is not very much user friendly in mobile, like after opening of the page only a corner of the page is visible with no contents.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Fraction page from any android device
 2. See Fraction page is not very user friendly.

**Screenshots**

https://user-images.githubusercontent.com/57531197/122673393-dff8a200-d

[2021-06-20 12:34] aishwary023 opened #13144 "[Frontend Test Flake] Contributor dashboard frontend test"
**Describe the bug**
`Contributor dashboard page when user is logged in should call scrollFunction on scroll` failed [here](https://github.com/oppia/oppia/pull/13138/checks?check_run_id=2866433231)

Log:
[code]

[2021-06-20 14:02] YBCS opened #13145 "reorder explorations from “play later” list not working"
**Describe the bug**
After an exploration is added to play later, It can be removed successfully but it cannot be reordered

**To Reproduce**
Steps to reproduce the behavior:
 1. Add any exploration/collection to "play later" by clicking on clock icon which appears after you hover on an exploration.
 2. Go to learner's Dashboard.
 3. Click on Play later section and choose either of Exploration or

[2021-06-20 15:24] Nik-09 opened #13146 "Broken UI of the search card on smaller screens"
**Describe the bug**
Broken UI of the search bar on smaller screens.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to[ topic page (/learn/math/) ](https://www.oppia.org/learn/math)from mobile device
 2. Scroll down and see search section for categories.

**Observed behavior**
The Search bar is completely broken on smaller screen sizes.

**Expected behavior**
Below Image, except the `Al

[2021-06-20 16:26] rohitkatlaa commented on #13142
@oppia/lace-team Can you please take a look at this.

[2021-06-20 16:44] aasiffaizal opened #13147 "Unexpected error while editing savepoint by voice artist"
**Describe the bug**
Unexpected error thrown when a voiceartist tries to edit a savepoint in an exploration. This is found in testing server. https://oppiatestserver.appspot.com/

**To Reproduce**
Steps to reproduce the behavior:
 1. Creator Dashboard
 2. Click on an exploration where you have a Voice artist role
 3. Check/Uncheck the savepoint checkbox.
 4. Unexpected error pop and refresh.

**Ob

[2021-06-20 17:17] intaschi opened #13148 "HTML tag appears in some texts of some lessons."
**Describe the bug**
For some buttons and placeholders texts appears with HTML tag.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Subtracting Large Number - Part 1' Lesson
 2. Play the lesson in *Portuguese*.
 3. See some of the texts appearing with <p text p> html

**Expected behavior**
Translated text should appear without the <p> html tag.

**Screenshots**
<img width="1346" alt=

[2021-06-20 18:22] YBCS opened #13150 "Math input interaction is not taking in input in mobile"
**Describe the bug**
Math expression input is not working in mobile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to an interaction with math input, or create one
 2. Click on input box so that custom keyboard is launched
 3. Try to input any value
 4. See error

**Observed behavior**
It cannot take in input from user

**Expected behavior**
User should be able to input math input

**Sm

[2021-06-20 18:30] gp201 opened #13151 "[Math Classroom -> Rounding numbers] Errors in console"
## Note: Tested on python migration server.

**Describe the bug**
Errors in the developer console when the Rounding numbers chapter page loads.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiaserver-backup-migration.appspot.com/explore/avwshGklKLJE?story_url_fragment=jaimes-adventures-in-arcade&topic_url_fragment=place-values&classroom_url_fragment=math&node_id=node_4
 2.

[2021-06-20 18:37] gp201 commented on #13151
Similar error occurring in https://oppiaserver-backup-migration.appspot.com/explore/WulCxGAmGE61?story_url_fragment=nina-visits-the-market&topic_url_fragment=division&classroom_url_fragment=math&node_id=node_3

Log File:
[oppiaserver-backup-migration.appspot.com-1624214163648.log](https://github.com/oppia/oppia/files/6682891/oppiaserver-backup-migration.appspot.com-1624214163648.log)

[2021-06-20 18:54] gp201 opened #13152 "[What is a Fraction Chapter] Page shows 404 error"
**Describe the bug**
The "What is a fraction?" chapter in the "Fractions" topic shows a 404 error when it loads.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://oppiaserver-backup-migration.appspot.com/explore/umPkwp0L1M0-?story_url_fragment=matthew-visits-the-bakery&topic_url_fragment=fractions&classroom_url_fragment=math&node_id=node_1
 2. Error 404 is displayed.

**Observed

[2021-06-20 19:56] gp201 commented on #13151
In the following lessons also:

- [What is Division?](https://oppiaserver-backup-migration.appspot.com/explore/8HTzQQUPiK5i?story_url_fragment=nina-visits-the-market&topic_url_fragment=division&classroom_url_fragment=math&node_id=node_1)
- [Remainders and Special Cases](https://oppiaserver-backup-migration.appspot.com/explore/40a3vjmZ7Fwu?story_url_fragment=nina-visits-the-market&topic_url_fragmen

[2021-06-20 21:36] ashli701 opened #13153 "Use different color for CTA 'go'"
**Describe the bug**
CTA button is hard to see

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.oppia.org/learn/math
2. Scroll down to the bottom of the page
3. See navigation/search bar

**Observed behavior**
Go! is in same color as the search bar

**Expected behavior**
Go! should be in different color

**Screenshots**

**Desktop (please complete the following information;

[2021-06-21 04:26] Nik-09 opened #13155 "[Blocked on #13162, #16580, #14141] TODO: Remove the clause once all the handlers have had schema validation implemented."
Remove the clause (except: NotImplementedError) from the dispatch method of base.py once all the existing handlers have had schema validation.

[2021-06-21 04:35] srikanthkb opened #13156 "Storing the thumbnail size (in bytes) for Subtopic"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic content download size for Android clients is important (for offline downloads and space allocation on device). The total size of the topic content is calculated by including the sizes of topic thumbnails. Currently, for Subtopics (in topic_domain.py) there is no attribute that stores the size of a thumbnail

[2021-06-21 04:46] srikanthkb opened #13157 "Storing the thumbnail size (in bytes) for Story"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic content download size for Android clients is important (for offline downloads and space allocation on device). The total size of the topic content also includes the sizes of Story thumbnails. Currently, for Story class(in story_domain.py) there is no attribute that stores the size of a thumbnail in the struc

[2021-06-21 04:58] srikanthkb opened #13158 "Storing the thumbnail size (in bytes) for StoryNode"
**Is your feature request related to a problem? Please describe.**
Knowing the total topic content download size for Android clients is important (for offline downloads and space allocation on device). The total size of the topic content also includes the sizes of StoryNode thumbnails. Currently, for StoryNode class(in story_domain.py) there is no attribute that stores the size of a thumbnail in t

[2021-06-21 07:20] rohitkatlaa commented on #13143
@oppia/lace-team Can you please take a look. Thanks.

[2021-06-21 07:21] rohitkatlaa commented on #13145
@YBCS Is this a new feature that you are requesting, because I don't think that those cards could be rearranged.

[2021-06-21 07:23] rohitkatlaa commented on #13146
This bug already exists, so removing it from blocking bugs.

[2021-06-21 07:23] rohitkatlaa commented on #13146
@oppia/lace-team can you please take a look at this issue. Thanks.

[2021-06-21 07:32] rohitkatlaa commented on #13150
@oppia/lace-team Can you please take a look. Thanks.

[2021-06-21 08:00] anandwana001 commented on #13077
Filled new issue with details - https://github.com/oppia/oppia/issues/13158

[2021-06-21 08:00] #13077 closed, assigned to anandwana001

[2021-06-21 08:01] anandwana001 commented on #13076
Filled new issue with details - https://github.com/oppia/oppia/issues/13157

[2021-06-21 08:01] #13076 closed, assigned to anandwana001

[2021-06-21 08:01] anandwana001 commented on #13075
Filed new issue with details - https://github.com/oppia/oppia/issues/13156

[2021-06-21 08:01] #13075 closed, assigned to anandwana001

[2021-06-21 12:28] aishwary023 commented on #13048
The link should be working now. PTAL

[2021-06-21 12:28] #13048 closed, assigned to nobody

[2021-06-21 12:37] aishwary023 opened #13160 "Coverage checks failing on develop"
**Describe the bug**
Coverage checks are failing on develop, after a recent merge. This is due to [this](https://github.com/oppia/oppia/blob/d8208ab41d3814e9aae1134e117a0fa0fd0fb11a/core/templates/components/forms/custom-forms-directives/image-uploader.component.ts#L64-L66) change made to `image-uploader.component.ts` made today.

**Observed behavior**
No alert to merge from develop was raised on

[2021-06-21 12:39] hardikkat24 commented on #13145
@rohitkatlaa The py3 QA mentions 'try to reorder and remove explorations' so I was also confused. But this functionality is not in our website(oppia.org) so yes these cannot be rearranged. Thanks!

[2021-06-21 12:42] hardikkat24 commented on #13142
@rohitkatlaa I was able to reproduce this.

[2021-06-21 12:57] mridul-netizen commented on #13160
@aishwary023 The change was made with [this](https://github.com/oppia/oppia/pull/13078) PR , after which the one containing tests for it were merged i.e. https://github.com/oppia/oppia/pull/13102 .Eventually the tests for https://github.com/oppia/oppia/pull/13102 were passing from before and you merged it. Oppiabot may have not flagged it because the change was only in component file and not the s

[2021-06-21 12:58] aishwary023 commented on #13160
Yep, I'm working on this

[2021-06-21 14:12] Nik-09 opened #13162 "Write schemas for handler class arguments"
### Introduction
For working on this issue you are supposed to write schemas for the handler arguments. To learn how to write schema for handler arguments please visit [wiki page](https://github.com/oppia/oppia/wiki/Schemas).
For making a contribution follow the steps given below.
### Getting Assigned.
Select some handlers from the list given below and ask @sahiljoster32  to assign them handlers t

[2021-06-21 14:41] mridul-netizen opened #13164 "Customize Interaction Modal frontend flake"
This flake was observed recently in a fix-pr https://github.com/oppia/oppia/pull/13163

**Error Observed**
![image](https://user-images.githubusercontent.com/60519303/122780537-8d41e780-d2cc-11eb-9dff-ef9487ba6282.png)

**Link to the particular failure**
https://github.com/oppia/oppia/pull/13163/checks?check_run_id=2875994654

[2021-06-21 15:11] aishwary023 commented on #13164
Closing as this is a duplicate of [this issue](https://github.com/oppia/oppia/issues/12612)

[2021-06-21 15:11] #13164 closed, assigned to nobody

[2021-06-21 15:21] Rijuta-s opened #13165 "Copying Images Into RTE in Translations gives Console Errors"
**Describe the bug**
Copying Image into the RTE using copy tool gives console error and the translation does get saved.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiaserver-backup-migration.appspot.com/contributor-dashboard'
 2. Click on 'Translate text tab'
 3. Select any topic to translate.
 3. Turn on the copy tool and copy image provided in the card which to be tran

[2021-06-21 15:30] #13160 closed, assigned to aishwary023

[2021-06-21 15:47] FareesHussain opened #13166 "Exploration crash after deselecting the checkpoint, Errors in console"
**Describe the bug**
Opening an exploration has errors in console.
![image](https://user-images.githubusercontent.com/54740946/122790359-df3b3b00-d2d5-11eb-85ce-400eae4eeeaa.png)

Exploration crashes after deselecting the "Set as a checkpoint for learners" the exploration crashes

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [a exploration](https://oppiatestserver.appspot.com/create

[2021-06-21 15:51] FareesHussain opened #13167 "Delete and login doesn't redirect to pending deletion"
**Describe the bug**
Login after deleting the user doesn't redirect to the pending deletion page

**To Reproduce**
Steps to reproduce the behavior:
 1. Delete the user from the [preferences page](https://oppiatestserver.appspot.com/preferences)
 2. Login the deleted user
 3. See that the page is redirected to the home page.

**Observed behavior**
Login after deletion is redirected to the home page