[2019-08-26 18:04] nithusha21 commented on #7481
Oh oops, I meant to do that. I missed that. Thanks for doing it!

[2019-08-26 18:27] jameesjohn commented on #7417
@seanlip I'm investigating this now.

[2019-08-26 18:36] jameesjohn commented on #7417
@seanlip, I think this is a case of  `$window`  not being injected into the controller.
However, it seems the default activity for this is to reload the page after uploading the image.

[2019-08-26 18:38] seanlip commented on #7417
I'm fine with auto-reloading the page, but we shouldn't leave the page in an intermediate state that requires the user to reload it manually.

[2019-08-26 18:40] jameesjohn commented on #7417
Okay, I'm making a fix for this right a way.

[2019-08-26 18:43] seanlip commented on #7417
Thanks!

[2019-08-26 20:12] nithusha21 commented on #7453
Worked for me too with a virtualenv! I am not sure why it doesn't run without it, but it does run reliably now. Thanks for the fix @bansalnitish. Closing!

[2019-08-26 20:12] #7453 closed, assigned to nobody

[2019-08-26 20:23] bansalnitish commented on #7453
You're welcome @nithusha21 and thanks for checking!

[2019-08-26 22:58] sophiewu6 opened #7485 "Unable to start a story node when no prerequisite skill assigned"
When starting a story node with no prerequisite skills in the story viewer, an error will be raised and starting the story node will fail.
![image](https://user-images.githubusercontent.com/32754302/63728909-3b3bf200-c81a-11e9-9027-32ae93dcb9db.png)

[2019-08-26 23:33] #7417 closed, assigned to nithusha21

[2019-08-27 02:19] nipan09 commented on #3446
Thank you @seanlip . I will keep updating my progress.

[2019-08-27 03:43] kevinlee12 commented on #6240
Can you run `bash scripts/start.sh` and then push again?

[2019-08-27 05:41] daksh0225 commented on #7124
@NishealJ I tried to start the dev server on my system but I encountered the following error
[code]
I have already installed ```future``` but still it's showing this error

[2019-08-27 07:07] jameesjohn commented on #6387
All Globals listed here has been removed.

[2019-08-27 07:07] #6387 closed, assigned to jameesjohn

[2019-08-27 07:10] seanlip commented on #6387
That's great! Thanks @Jamesjay4199 and everyone else who contributed to this issue.

[2019-08-27 09:25] DubeySandeep opened #7487 "save_datastore flag is not working correctly in the start.sh script"
Restarting the server with --save_datastore doesn't restore all the data every time (most of the time it doesn't work correctly).

**Steps to reproduce:**

- Start the server with the flag.
- Go to admin page reload all exploration.
- Restart the server with the flag.
- Go to 0.0.0.0:8000 and check for the exploration models.

Just noting here that our script has been migrated to Python, so https:

[2019-08-27 09:28] DubeySandeep commented on #7487
@kevinlee12, I've moved this issue to the developer experience project and marked it important as I'm working on a project which needs a lot of pre-setup which I had to do every time I start the server. I'll to look into the issue, but won't be able to give much time. It would be great if this will be fixed quickly!

[2019-08-27 14:10] nipan09 commented on #6240
@kevinlee12, I tried running the command, but I got this message:

    TypeError: _.isObject is not a function
        at Object.module.exports (/home/nishant/Documents/opensource/oppia/node_modules/underscore-template-loader/index.js:32:9)

This was even found in **develop** branch. I then merged the develop branch with the upstream and ran the command `bash scripts/start.sh`. But I got this type

[2019-08-27 14:23] kevinlee12 commented on #7487
okay, thanks!

[2019-08-27 17:01] DubeySandeep opened #7489 "Exploration player page looks broken around the outset"
Exploration player page looks broken around the nav bar at the outset.

**Steps to reproduce:**
- Create and publish exploration
- Open dev tools and in the network tab select internet speed as "Fast 3G".
- Go the exploration player page and check the outset structure.

**Video link:**
https://drive.google.com/file/d/1o54VdcOlzRuo9W-rtI-WOwD4xuYGeq2l/view

**Screenshot:**
![image](https://user-ima

[2019-08-27 18:42] seanlip commented on #7489
Seems like a blocking bug? /cc @nithusha21 @Jamesjay4199 @vojtechjelinek

[2019-08-27 18:46] jameesjohn commented on #7489
Working on a fix now.

[2019-08-27 18:49] #7084 closed, assigned to sophiewu6

[2019-08-27 19:18] ankita240796 commented on #6292
Hi @Darin8, any updates here? Please do let us know if you are facing any issues, we will help you to debug them :)

[2019-08-27 19:29] vojtechjelinek opened #7493 "Refactor render_template"
We can remove Jinja from our codebase because we only use it as a way to serve static files.

This should go together with refactoring render_template() in base.py this method should be as fast as possible and should do the least amount of things in order to speed up the time between we receive a request for the page and we return that page.

Jinja should be replaced with a solution that would loa

[2019-08-27 21:51] kevintab95 commented on #7444
This could be happening in a case where promo bar is available and the user has enabled "Block third-party cookies" option on chrome.

refer: https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document

[2019-08-27 21:58] kevintab95 commented on #7440
Looks like there is some issue with the dimensions in the filename. Ideally, whoever would work on this should try to identify/reproduce the scenario where the regex that checks the filename fails and figure out the cause for this validation failure.

[2019-08-28 03:31] kevinlee12 opened #7494 "E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES Travis test timeout"
Lately RUN_E2E_TESTS_ADDITIONAL_EDITOR_AND_PLAYER_FEATURES test has been constantly running over the 50 minute mark and is usually flaky. We should investigate the source of flakiness and resolve it or break up the test into two different containers so that it can run one test at a time. It can typically run "Full exploration editor" 6 tests without flaking.

[2019-08-28 03:35] kevinlee12 commented on #6240
That is weird, can you try to delete `node_modules` and run the setup script again?

[2019-08-28 10:46] cuichenli opened #7496 "Consolidate JsTsLintCheksManager in pre_commit_linter"
As per stated in #6024 , we need to consolidate the functions in pre_commit_linter to increase efficiency.

The basic idea is we want the methods that look at the same scope to be grouped to run parallel. By now, we have decided the following groups:
- [ ] _check_division_operator, _check_import_order,
- [ ] _check_docstrings, _check_comments
- [ ] _check_html_tags_and_attributes
- [ ] _check_mand

[2019-08-28 14:13] kevintab95 opened #7499 "TypeError: Cannot read property 'maths' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-28 17:04] kevintab95 commented on #6161
I think I have a possible fix for this:
`navigateToPreviewTab` (in the router) is called on clicking the preview icon. This performs 2 operations. Firstly, it calls `_savePendingChanges` which will broadcast `externalSave` and saves all draft changes. The next method (`_actuallyNavigate`) will render the preview-tab directive. The issue seems to be that pending changes (unsaved draft changes) aren

[2019-08-28 20:22] jameesjohn opened #7504 "[Blocked on #8472] Cache response promise in services instead of response data"
Currently, we are caching the data gotten from an ajax request. This approach poses an issue because if the service is called multiple times, several ajax requests will be made for the same data. Since the request has not yet been fulfilled, multiple calls to the service will result in multiple ajax calls.
However, if the response promise is cached, then only 1 request will be made and subsequent

[2019-08-28 20:24] seanlip commented on #6161
Thanks @kevintab95! This is a great analysis.

I have a question -- is _savePendingChanges() an async function? If so, it may be worth renaming it to savePendingChangesAsync and then having it return a promise which then gets changed to actuallyNavigate -- that way, you can guarantee that actuallyNavigate only gets fired once the changes are saved.

If it's not async, then something else is probab

[2019-08-28 20:49] kevintab95 commented on #6161
_savePendingChanges is not really async as it just triggers 'externalSave' event which will be caught by appropriate editors (in this case state-name-editor) and continues execution. However, the autosave / saving of changelist part is async. Eventually, `ExplorationDataService.autosaveChangeList` where the following actions take place:
1. Save draft to local storage to retrieve if the autosave ca

[2019-08-28 20:50] seanlip commented on #6161
Ah, I see what you mean, thanks. In that case, your fix is OK, but please leave a detailed comment in the file along the lines above to explain what's going on. When we get around to removing the $broadcast, this information will be useful.

Thanks!

[2019-08-29 01:52] U8NWXD commented on #6240
The issue description says that any added HTML class labels should be of the form `protractor-*`, but the [code owners wiki](https://github.com/oppia/oppia/wiki/Oppia%27s-code-owners-and-checks-to-be-carried-out-by-developers#apb7) says the class labels should be of the form `protractor-test-*`. I assume that the code owners wiki is correct, so should the issue description be updated?

[2019-08-29 02:17] kevinlee12 commented on #6240
^ @nithusha21

[2019-08-29 06:31] BenHenning commented on #7431
/cc @seanlip

[2019-08-29 06:36] seanlip commented on #6240
@U8NWXD Thanks for catching that! It should indeed be protractor-test-*. I've updated the issue description.

[2019-08-29 06:38] BenHenning commented on #7431
The spec for this:

New URL: /topic_index_data_handler
Containing python controller file: controllers/topic_viewer.py
HTTP method: GET
Parameters: None
Return type: list of topic summary dicts, where each topic summary dict has the following schema:

[code]

Mocks reference: https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/d47aa8de-a7a8-4d25-b011-5baefc7b7098/Home-Page-

[2019-08-29 07:09] seanlip commented on #7431
I think something similar is already being done as part of PR #7455: https://github.com/oppia/oppia/pull/7455/files#diff-76454e3e2164d759c09c3bcaa65d64b7R61

The spec for TopicSummary is here: https://github.com/oppia/oppia/blob/develop/core/domain/topic_domain.py#L1055

@BenHenning -- would this suffice? If not please reply to this thread with what's missing and we can try to add it. Thanks!

[2019-08-29 07:44] aks681 commented on #7431
Yeah, I did create a controller to return a list of topic summary dicts given a classroom name, which I assume is the same requirement in the mobile app?

[2019-08-29 07:55] seanlip commented on #7431
Yep, I think so! (Please see the groupchat with Ben.)

[2019-08-29 08:41] aks681 opened #7507 "Complete the classroom page"
The frontend files for the classroom page have already been created. This issue is to track the completion of the classroom page. Pages to be created:

- The main directive for the page (which is empty now), has to be filled.
- The navbar directives have to be created.

[2019-08-29 15:05] NishealJ opened #7509 "Drag & Drop Interaction not working in local develop"
**Describe the bug**
Getting this error  while  using drag&drop interaction in local machine
`Failed to load resource: the server responded with a status of 404 (Not Found)  templates/drag_and_drop_positive_int-editor.directive.html`

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration editor page
 2. create a drag & drop interaction
 3. See error

**Screenshots**
<img width="1

[2019-08-29 15:05] NishealJ commented on #7509
Hi @seanlip & @DubeySandeep  PTAL Thanks!

[2019-08-29 15:24] NishealJ commented on #7509
Hi @RafayGhafoor
This dont exist `drag_and_drop_positive_int-editor.directive.html` it should be `drag-and-drop-positive-int-editor.directive.html` can you please cross-check this again #7360? this is blocking.

I'll raise a fix if I don't get a response soon, tagging you to check the PR.

Thanks!

[2019-08-29 15:46] kevintab95 commented on #7460
According to the angular errors page: https://code.angularjs.org/1.5.8/docs/error/$injector/unpr?p0=uProvider%20%3C-%20u

It seems like $injector unable to resolve 'u' (from the stack trace) but I had little luck finding a module or dependency 'u' in the codebase. Perhaps this happens because of minification.

The page suggests the following if this issue occurs in minified files:
_If you encounte

[2019-08-29 16:15] jameesjohn commented on #7460
I think ui-codemirror had a similar issue when minified.
It was solved in #7350. I updated the ui-codemirror package and we are now using `oppia's` ui-codemirror.
Hopefully, that will solve this issue

[2019-08-29 16:43] kevintab95 commented on #7460
Hi @Jamesjay4199, thanks for your input! I have a question: how did you identify ui-codemirror was the problematic dependency? Maybe by knowing that we can figure out what dependency 'u' refers to in this case?

[2019-08-29 17:08] jameesjohn commented on #7460
I tried loading it via webpack.
It worked on dev, but on prod mode, webpack minifies the files, then I noticed the issue.
I also did the strict binding and had the same issue on dev.

[2019-08-29 18:50] NishealJ commented on #7509
Raised a PR for Drag & Drop Interaction, still, a test is needed for other interactions Thanks!

[2019-08-29 18:55] vinitamurthi commented on #7263
Redirecting this to @sophiewu6 because I will be working on the android project

[2019-08-29 19:46] #7262 closed, assigned to rachelwchen

[2019-08-29 23:07] seanlip commented on #7509
Fixed in #7512 (I think). Thanks @NishealJ!

[2019-08-29 23:07] #7509 closed, assigned to nobody

[2019-08-29 23:21] seanlip commented on #7460
Thanks @Jamesjay4199 for your help!

/cc @nithusha21 Is a cherrypick needed here? The PR James pointed to is a bit big so I am not sure.

Also, @kevintab95 -- what should be the next steps here?

[2019-08-30 00:12] seanlip commented on #7507
For this issue, please also address this residual comment: https://github.com/oppia/oppia/pull/7455#discussion_r319305531

[2019-08-30 00:12] #7431 closed, assigned to aks681

[2019-08-30 03:34] kevintab95 commented on #7460
I think the next steps would be to allow strict dependency injection and then trying to debug from there.

Also, thanks @Jamesjay4199! :)

[2019-08-30 03:42] kevintab95 commented on #7460
@nithusha21 -- Do we use minification when we run e2e tests? I was wondering if we would be able to catch this using e2e tests if we used strict dependency injection and then ran the tests.

[2019-08-30 06:57] cuichenli commented on #7496
I have made a draft version but the performance has not been improved. I will try to extract all the methods out of class, so we will not need to transfer `self` instance all-around (feeling this may have some overhead?). Not sure whether this will actually improve the performance though.

[2019-08-30 08:03] rt4914 commented on #7431
Hi @seanlip I went to this link https://github.com/oppia/oppia/blob/develop/core/domain/topic_domain.py#L1055
and I see that `category` is not present. Maybe you can have a look at it whether it is required or not.

[2019-08-30 08:05] seanlip commented on #7431
Do you know what "category" actually means? I am unclear on what it is for.

[2019-08-30 08:09] rt4914 commented on #7431
Actually, even I not sure. I think we need this just to style the tile in terms of its image/color.

Reference: Ben's second comment on this issues.

`NB: it's unclear what 'category' will actually be in the final iteration. What we really need is some identifier to determine how to style the tile.`

Also, as per my discussion with Veena, she and Ben had discussion related to category. I will info

[2019-08-30 08:12] seanlip commented on #7431
Ah. I think @BenHenning is thinking in terms of the current library page tiles, but the topic library is different and categories are not relevant here. I think you'll want to retrieve the image instead.

Speaking of which -- @aks681, don't we need an image (or image URL) field as part of the topic summary object, so that we know what to show on the summary card?

@rt4914, I wouldn't block on this

[2019-08-30 08:13] veena14cs commented on #7431
By category I mean subjects like Mathematics, Physics, chemistry etc. Which will help to differentiate between the summary cards.

[2019-08-30 08:16] seanlip commented on #7431
That's not relevant in this case, because all the initial topics will be Mathematics.

Let me sync with @BenHenning on this, but I think we just need thumbnail images for the different tiles. We'll try and find a way to get them in the summary dict, but in the meantime, just use a generic design for all the topic cards and we can add this field later.

[2019-08-30 08:19] veena14cs commented on #7431
Ok, that could be done.

[2019-08-30 14:33] kevinlee12 commented on #7496
That might be the case. I did notice that the validate process is quite long, perhaps that can be improved? Here’s a doc that I found that might help: https://wiki.python.org/moin/PythonSpeed/PerformanceTips

[2019-08-30 15:08] kevintab95 opened #7517 "TypeError: Unable to get property 'forEach' of undefined or null reference"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-30 15:10] kevintab95 opened #7518 "TypeError: Unable to get property 'label' of undefined or null reference"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-30 15:21] kevintab95 commented on #6160
This sometimes occurs with a slightly different stacktrace:
[code]

[2019-08-30 15:26] kevintab95 opened #7519 "Keyerror: 'dest'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-08-30 17:47] Showtim3 commented on #7481
@nithusha21 I can't properly understand the step 2.
The submit button looks nicely aligned.
![Screenshot 2019-08-30 at 11 17 23 PM](https://user-images.githubusercontent.com/30312043/64041151-5c834200-cb7c-11e9-9a6a-fd52b7e8ba37.png)

[2019-08-30 17:56] aks681 commented on #7431
I think the corresponding term to category, for topics, would be the classroom name.
In which case, @seanlip, should we have a common thumbnail for an entire classroom (as it is for explorations in a category)? or individual thumbnails for each topic?

[2019-08-30 18:22] ykabusalah commented on #7316
Is Showtim3 still working on this? Or am I allowed to take a shot at this possible?

[2019-08-30 18:23] ykabusalah commented on #7450
Can I try to do this?

[2019-08-30 19:38] Showtim3 commented on #7316
@ykabusalah Hey i am working on it as we speak...but if you are really intrested I can drop it probably.

[2019-08-30 20:10] aks681 commented on #7431
So, the styling of the summary cards could be done according to the classroom name, which would be very general subjects like "Math", but there will be separate thumbnails for each topic.
Since, unlike explorations in a category, topic almost acts like the category for all the explorations in it.
There are also a lot fewer topics, because of which, having separate thumbnails for each would be feas

[2019-08-30 20:24] seanlip commented on #7431
Yep -- but since, at the moment, the only subject for topics is math (and that's in the classroom name which the caller has anyway), I think the main missing thing in the response would be the separate per-topic thumbnails. (I do think we should have separate thumbnails for each topic, yeah -- otherwise the page would look very boring.)

[2019-08-30 20:49] nithusha21 commented on #7418
I think this is a known issue. It occurred due to a failed migration on the test server for images. This issue will not affect production as the job has been successfully run in production.

[2019-08-30 20:49] #7418 closed, assigned to nithusha21

[2019-08-30 20:59] nithusha21 commented on #7318
It does affect the release. However this seems to be browser related as chrome does this highlighting on every page I visit. It is just drawing blue borders around the selected element.

[2019-08-30 21:04] nithusha21 commented on #7318
One way to do this would be as suggested [here](https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element). We can just set outline: none to all elements. But do we not need this highlighting throughout the website?

[2019-08-30 21:06] nithusha21 commented on #7481
Hmmm, I noticed this misalignment only on the code input interaction. It looked fine on the others (Not sure about all of them, but the only place I noticed it different was in the code interaction).

[2019-08-30 21:07] nithusha21 commented on #7481
As for step 2, Just keep giving the correct answers till you reach the code input interaction (The question there is to print 'hello Oppia')

[2019-08-30 21:15] seanlip commented on #7318
I think the first thing to do is to figure out what commit caused this.
Then you can know which CSS rule needs to be fixed.

[2019-08-30 21:19] aks681 commented on #7204
I have noticed this issue in the local dev server, but never, even in the test server. I just opened 6 explorations consecutively from the creator dashboard and all of them loaded correctly.
So, removing this from blocking bugs for now.

[2019-08-30 21:33] seanlip commented on #7204
Just to check, what happens when you load it on a slow connection? (You can change the settings using the JavaScript console.)

[2019-08-30 22:21] aks681 commented on #7204
In the test server, I tried fast 3G and slow 3G, and it seems to work in both these conditions.

[2019-08-30 22:23] seanlip commented on #7204
OK, sg, thanks. It still regularly fails in dev mode though?

/cc @Jamesjay4199 @vojtechjelinek -- might want to look into this.

[2019-08-30 22:44] brianrodri commented on #6866
The typescript compilation seems to have returned, any reason why? @ankita240796 @kevinlee12

https://github.com/oppia/oppia/blob/develop/scripts/run_backend_tests.sh

[2019-08-31 00:48] U8NWXD commented on #6240
Can I take `Upload a profile picture`?

[2019-08-31 01:06] brianrodri commented on #7334
@Dharmesh-Poddar are you still interested? Let me know and I'll assign it to you!

[2019-08-31 01:48] seanlip commented on #6240
Hi @U8NWXD -- sure, go for it! Note that this might be a bit harder, though, since it requires finding a solution for uploading images in e2e tests. I'm not sure if there's a straightforward way to do that; it might need some research.

[2019-08-31 02:03] kevinlee12 commented on #6866
I’m not sure why, I haven’t touched those files in some time.

[2019-08-31 02:04] kevinlee12 commented on #7450
Sure, which part would you like to do? (each major bullet point is open)

[2019-08-31 11:31] kevintab95 opened #7525 "Exception: Could not find rule with name"
This error occurred recently in production.

[code]

**Note: To protect the privacy of our users, rule name is replaced with xxx.**

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get

[2019-08-31 18:35] kevintab95 commented on #5458
This issue may be related to #6909.

[2019-08-31 18:51] kevintab95 commented on #6909
It seems like String.prototype.match ( regexp ) is not implemented for IE11.
(see https://docs.microsoft.com/en-us/openspecs/ie_standards/ms-es6/f83fa032-1111-1111-9cd0-373a796671c4)

Looks like 'match' is used in a lot of places in third_party.js. Here are two possible approaches I could think of to handle this:
1. Add a check for browser compatibility and throw an appropriate error.
2. Or, add a

[2019-08-31 18:52] seanlip commented on #6909
Go with polyfill; we've done that before (see bottom of App.ts).

[2019-08-31 20:18] #7481 closed, assigned to aks681

[2019-08-31 20:23] nithusha21 commented on #7430
I'm not going to make this blocking as I don't think there are any words that are commonly used that can overflow the size of the card. I'll keep this issue open though.

[2019-08-31 20:29] nithusha21 commented on #7318
I tried to do a bisect, but I am able to repro the issue way back (I tried all the way back to #6945 and I was able to repro the issue). This is way before the issue was reported (about 1.5 months). I couldn't go further back as there was the issue back then with the server not opening on dev mode, and I got that error again.

I also went through the changes that affected "outline" styles in Oppia

[2019-08-31 20:52] kevintab95 commented on #7439
This occurs on Firefox because of a security issue. It doesn't load content from `https://pencilcode.net/lib/pencilcodeembed.js` because it does not trust its certificate:
[code]
This is displayed on visiting the URL and then clicking on "Advanced".

One workaround is to add a security exception to the site. PenciCodeEmbed works fine after doing so.

[2019-08-31 20:58] kevintab95 commented on #7439
Should we consider hosting the JS file?

[2019-08-31 21:10] kevintab95 commented on #7441
This could be related to a messageformat issue where certain languages don't support "one" ("1" is allowed).
See: [reference 1](https://github.com/taigaio/taiga-front/issues/1569#issuecomment-484185065), [reference 2](https://github.com/messageformat/messageformat/issues/170)

However, I did try changing the language by simply replacing the problematic string (I18N_INTERACTIONS_ITEM_SELECTION_NOT_

[2019-08-31 21:14] seanlip commented on #7318
OK, another approach you can take is to "inspect element" in JS and try to figure out which element has the blue outline, then figure out which CSS rule causes it.

[2019-09-01 02:09] cuichenli commented on #7496
Yes validate process is relatively long, but I have not came out with some good solutions yet.

Actually, what I have done still make tiny improvements. Hence I ran a profile against the program and found the main time-consuming part is `_lint_all_files`, but the profile ran at the main process level so I can not see what happened in other processes. Here is the link to the [profile](https://docs.

[2019-09-01 04:25] kevinlee12 commented on #7496
As mentioned in the meeting, we'll leave out the JS/TS validation outside of this ticket. Our focus will be to optimize everything else.

Thanks for the additional info, I've added a comment to the doc.

[2019-09-01 05:57] bansalnitish commented on #7462
I'm not sure about this -- I guess @ankita240796 might have a better idea.

[2019-09-01 10:05] Dharmesh-Poddar commented on #7430
@kevintab95 I am not able to publish the card. It shows first resolve the warnings before publishing.

[2019-09-01 15:59] ankita240796 commented on #6866
Hmm that's strange. I have submitted #7528 to revert the changes.

[2019-09-01 17:03] kevintab95 opened #7529 "TypeError: u.hasNonemptyFeedback is not a function"
This error occurred recently in production

This error occured couple of times with slightly different logs:
[code]

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logi

[2019-09-01 17:07] kevintab95 opened #7530 "KeyError in get_interaction_by_id"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-01 17:09] kevintab95 opened #7531 "TypeError: Cannot read property 'checkReadOnly' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-01 17:24] kevintab95 commented on #7430
Hi @Dharmesh-Poddar, you'll need to resolve all the warnings before publishing an exploration. You can view these warnings by hovering over the warning icon in the exploration overview graph.
![resolve_errors](https://user-images.githubusercontent.com/11008603/64079888-3809a000-cd0b-11e9-8294-59d259ba7eec.png)

[2019-09-01 20:10] JoyLubega commented on #6956
Hey, @vinitamurthi I need some help. When I run the App, i don't see the functionality of adding a question.

[2019-09-02 05:44] #6161 closed, assigned to nobody

[2019-09-02 09:51] RVJonah commented on #3968
Hi guys, I would like to work on changing the dicts to objects in ChangeListService.js which I now believe is Change-List.service.ts.

[2019-09-02 11:28] DubeySandeep opened #7536 "[Test server] "Remove" icon on lessons card is not visible"
**Describe the bug**
The "remove" icon is not getting loaded on the learner dashboard page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the learner dashboard page.
2. Hover the lessons card.

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/64111518-903fb100-cda2-11e9-9e22-9e34b4e39f56.png)

[2019-09-02 11:34] DubeySandeep commented on #7536
In other places as well:
- Play later list in learner dashboard page:
![image](https://user-images.githubusercontent.com/16653571/64112010-b87bdf80-cda3-11e9-95a3-fc4fd01fb4da.png)

[2019-09-02 11:47] DubeySandeep opened #7537 "Exploration Completion Rate is negative for exploration"
Exploration Completion Rate is negative for exploration.

Link to the exploration: https://oppiatestserver.appspot.com/create/0nGKU3BdS_Xb#/stats

**Screenshot:**

![image](https://user-images.githubusercontent.com/16653571/64112542-58863880-cda5-11e9-8729-f8bd02cc0efb.png)

[2019-09-02 11:53] DubeySandeep opened #7538 "Stats for exploration with one card has incorrect wording"
Stats for exploration with one card:

`0 learners browsed this exploration. They left before reaching the second card.`

If `0` visited then how will they leave?
How a user will visit the 2nd card if there is only one card in the exploration.

Link to the exploration:
https://oppiatestserver.appspot.com/create/b4Xmx5j4KO5j#/stats

Screenshot:
![image](https://user-images.githubusercontent.com/1665

[2019-09-02 11:54] DubeySandeep commented on #7538
@brianrodri, is this an expected behavior? (Re 0 visited)

[2019-09-02 11:56] DubeySandeep commented on #7538
For the same exploration "Introduction" card is visited 60+ times:
![image](https://user-images.githubusercontent.com/16653571/64113015-b8311380-cda6-11e9-973c-8c21215bb097.png)

[2019-09-02 12:10] DubeySandeep opened #7539 "[Test server] Uploading new profile picture through preference page throws an error"
**Issue explanation:**
Uploading new profile picture through preference page throws an error, although the image is saved but the page is not getting reloaded.
**Steps to reproduce:**
1. Go to the preference page.
2. Try uploading an image.
3. Check console.

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/64113552-435ed900-cda8-11e9-8814-83eba20b5c19.png)

[2019-09-02 12:29] DubeySandeep opened #7540 "[Test server] Card slider orientation issue on library page"
**Steps to reproduce:**
1. Go to library page.
2. Click the ">" button to show other cards in a category.
2. Check the new orientation.

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/64114501-c2551100-cdaa-11e9-8567-65a79b6f0376.png)

**Additional context:**

This is working fine on oppia.org.

[2019-09-02 12:33] DubeySandeep commented on #7489
@Jamesjay4199, I see this for exploration without title:
![image](https://user-images.githubusercontent.com/16653571/64114888-df3e1400-cdab-11e9-9b20-58de87f46331.png)

is this an expected behavior?

[2019-09-02 13:00] brianrodri commented on #7538
Hmm looks like an edge-case for single state explorations... this does seem like a bug. Thanks @DubeySandeep!

[2019-09-02 14:14] lilithxxx commented on #7450
@kevinlee12 perhaps swap the bullet points with check-boxes?

[2019-09-02 17:09] jameesjohn commented on #7489
@DubeySandeep I can't publish an exploration without providing the title
Hence I can't reproduce this.

[2019-09-02 17:11] nithusha21 commented on #7539
This was reported and fixed, not cherrypicked yet onto the test server.

[2019-09-02 17:11] #7539 closed, assigned to nobody

[2019-09-02 17:13] nithusha21 commented on #7318
I did try that, but I was not able to find the element with the outline. Akshay also tried digging a bit and found that this issue occurs only on chrome/chromium. It doesn't happen on firefox. I am however unable to get any more info on this issue, and I don't think I will be able to fix this. If anyone else could try debugging this and report any findings that would be great!

[2019-09-02 17:16] nithusha21 commented on #7539
Forgot to link the fix. Here it is https://github.com/oppia/oppia/pull/7482

[2019-09-02 17:32] DubeySandeep commented on #7318
I tried these steps:

- Assuming on "focus" chrome use to provide "blue borders".
- I tried clicking the page and run `document.activeElement` and found it's #oppia-main-content.
- Now I know that div is causing the issue.
- I found 2 info in the element the tab-index "0" and ng-cloak suspicious  (ng-cloak because I didn't know how it works)
- tab-index was the reason but I don't know why.

Removi

[2019-09-02 17:44] kevinlee12 commented on #7450
good call, done!

[2019-09-02 17:47] DubeySandeep commented on #7318
https://github.com/oppia/oppia/blob/fbe01abb8dd1027d273fb17ff4f04280d660e85e/core/templates/dev/head/base_components/BaseContentDirective.ts#L54-L64

The above method is causing issue^ line 63 marks a div focus and which creates a blue border.

/cc @Jamesjay4199 can we do something here?

[2019-09-02 18:32] seanlip commented on #7540
/cc @NishealJ since this _might_ relate to the bootstrap upgrade (not sure!)

[2019-09-02 18:50] seanlip commented on #7489
@DubeySandeep was your last screenshot for the learner or the editor page?

[2019-09-02 19:57] jameesjohn opened #7542 "Remove jinja from error pages"
Find a solution for serving the error pages that will involve getting rid of the `status_code` GLOBAL
Possible solutions might include creating multiple error pages via webpack using the current error page a template and probably passing the status code in a similar manner as the title and metas are passed.

[2019-09-02 20:07] jameesjohn commented on #5002
Work on status code has been moved to #7542 hence all the GLOBALS here has been removed.

[2019-09-02 20:07] #5002 closed, assigned to nobody

[2019-09-03 00:48] DubeySandeep commented on #7489
Sorry, (my bad!) The screenshot I have shared is for the editor page. (I'll create a separate issue for the same.)

[2019-09-03 00:48] #7489 closed, assigned to nobody

[2019-09-03 00:50] DubeySandeep opened #7543 "Exploration editor page shows unwanted "loading..." message around the exploration title"
**Description:**
Exploration editor page shows unwanted "loading..." message around the exploration title on the outset.

**Steps to reproduce:**

- Create an exploration
- Open dev tools and in the network tab select internet speed as "Fast 3G".
- Refresh the exploration editor page and check the title.

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/64114888-df3e1400

[2019-09-03 00:52] DubeySandeep commented on #7489
Create a separate issue at #7543.

[2019-09-03 01:08] DubeySandeep commented on #7543
Reloading an editor page goes through 4 stages:

(Exploration with one card)
- Loading... view
- Card content editor view with dot's animation (...)  on top.
- Loading... view
- Complete page loads

(Exploration with multiple cards i.e, with graph view)
- Loading... view
- Dot's animation (...) without the "Loading" word.
- Complete page loads

Steps to reproduce:
- Create an exploration
- Open de

[2019-09-03 01:36] DubeySandeep commented on #7543
@nithusha21, should this be a blocking bug? (I can reproduce this on the test server.)

[2019-09-03 04:30] ankita240796 commented on #7462
Hi @kevintab95, I think you can add a new validation for link component in `components.py`. Thanks!

[2019-09-03 11:31] ghost commented on #7540
@DubeySandeep This is working as intended on dev mode.
![upload](https://user-images.githubusercontent.com/28823267/64170119-fb55ba00-ce6c-11e9-8f0a-e875ae6c9964.png)

[2019-09-03 11:34] DubeySandeep commented on #7540
@sukhdeepg, I think there aren't many cards in the slider and that's why both "<" and ">" aren't appearing in this case.

[2019-09-03 13:05] kevintab95 opened #7546 "TypeError: Cannot read property 'length' of undefined (in computeLayout)"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-03 13:22] ghost commented on #7540
@DubeySandeep I added more dummy data + checked with changing resolution. Still didn't find the above-mentioned issue. Please correct me if I had missed something.
![upload](https://user-images.githubusercontent.com/28823267/64176844-e2083a00-ce7b-11e9-8d32-3637ed5a232c.png)

[2019-09-03 16:33] lennee commented on #7530
Hello, I'd love to take a look at this.

As for where things are going wrong, I think a None-type is being passed through the state change functions. in the for-loop in the apply_change_list function in the exp_services module.

We could resolve this by jumping directly to the the get_interaction_by_id function and implementing a try/except for to catch the None-type id or make a larger fix by set

[2019-09-03 17:17] kevintab95 commented on #7530
Hi @lennee! First of all, welcome to Oppia! :)
I think that's a good analysis. However, I'd suggest that we figure out why we get a "None" type in first place. Can you try to piece together a possible scenario/hypothesis where a user might encounter this error? It would be even better if you can reproduce this issue on your local setup. Thanks!

[2019-09-03 17:20] kevintab95 commented on #7462
Hi @ankita240796, thanks for you input! :)

[2019-09-03 17:57] ankita240796 commented on #7462
You're welcome @kevintab95! Do let me know if I can help you in any other way. Thanks!

[2019-09-03 21:14] #7460 closed, assigned to kevintab95

[2019-09-04 01:38] #7494 closed, assigned to nobody

[2019-09-04 05:39] jameesjohn commented on #7318
@DubeySandeep sorry I'm seeing this just now.
I'll look into it.
Thanks

[2019-09-04 05:42] jameesjohn commented on #7318
From what I see there, `mainContentElement.focus()` is only called when the `skip to main content` button is clicked

[2019-09-05 15:39] aks681 opened #7553 "Add translation for 'lessons' in classroom page"
This is a tracking issue to add the word 'lessons', which occurs in the classroom page to translations.

[2019-09-05 15:40] #7507 closed, assigned to aks681

[2019-09-05 17:26] lennee commented on #7530
Huzzah, a task, a task! I can try my best to break the system. Is there a longer stack trace that I could look at to extrapolate further back? or is half the fun that it only goes back three calls?

[2019-09-05 17:50] kevintab95 commented on #7530
Hi @lennee, we don't have a longer stack trace for this unfortunately. Do comment your findings on this thread once you've investigated this error.
And have fun! :)

[2019-09-05 19:58] seanlip commented on #7553
Hi @aks681 -- just a note, this also applies in general to any English strings in the classroom page. Thanks!

[2019-09-06 01:35] U8NWXD opened #7554 "Presubmit Checks Fail for Clean Repository"
**Describe the bug**

When running the presubmit checks in a clean repository (all changes stashed or committed), the checks fail because there are no un-committed files to lint.

**To Reproduce**

Steps to reproduce the behavior:
1. Checkout `develop` (as of this issue, `develop` is at fbe01ab): `git checkout develop`
2. Drop any un-committed changes: `git checkout HEAD --hard`
3. Run presubmit c

[2019-09-06 08:23] #7554 closed, assigned to kevinlee12

[2019-09-06 16:52] nithusha21 opened #7558 "URLs should be constructed using URL interpolation service instead of string concatenation"
There are URLs that are constructed by doing string concatenation (in the frontend). Typically we use the url interpolation service to do this. see #7522 for some context on this issue.

[2019-09-06 16:52] #6931 closed, assigned to nobody

[2019-09-06 16:53] nithusha21 commented on #7318
Hi @Jamesjay4199, and updates on a fix? This blocks the release and needs to be fixed asap!

[2019-09-06 17:58] kevintab95 opened #7559 "TypeError: Cannot read property 'length' of undefined (params related)"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-06 18:00] kevintab95 opened #7560 "TypeError: Cannot read property 'push' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-06 18:02] kevintab95 commented on #7559
Similar error with a different stacktrace was observed. Also, they occured on the same day.

[code]

[2019-09-06 18:54] jameesjohn commented on #7318
@nithusha21  I think the blue outline is actually an accessibility feature from chrome

You can take a look at this conversation: https://github.com/necolas/normalize.css/issues/762

[2019-09-06 19:08] jameesjohn commented on #7318
However, I have a fix ready for this.

[2019-09-07 08:18] kevintab95 commented on #7460
"unpr" issue was observed when clicking on playthrough issues in the stats tab in production. However, this issue no longer exists in the latest develop (prod mode). This should not occur again after the release.

[2019-09-07 17:02] NishealJ commented on #7224
Closing this we reverted back to ckeditor4 Thanks!

[2019-09-07 17:03] #7224 closed, assigned to NishealJ

[2019-09-07 17:07] aks681 opened #7566 "New Structures Editor Issues"
- [ ] Change the prerequisite skill ID and acquired skill ID entry fields in the story editor to either be dropdowns or have it open a modal from where the skill can be selected (searchable by description), instead of making the creator entering the skill ID. Also, display this description in the editor instead of the IDs.

- [ ] Let all topic managers (regardless of assignment), view all editors

[2019-09-07 17:09] NishealJ commented on #6274
Fixed in #7319 Thanks!

[2019-09-07 17:11] NishealJ commented on #7124
@lilithxxx PTAL the above comments Thanks!

[2019-09-07 17:12] aks681 commented on #5544
This seems to be resolved now, as I haven't encountered this in the many times that I've created questions. Closing.

[2019-09-07 17:12] #5544 closed, assigned to nobody

[2019-09-07 17:15] #6222 closed, assigned to nobody

[2019-09-07 17:31] DubeySandeep opened #7568 "Show "in review" status in the translation opportunities list progress bar."
Currently, we only show the progress of the existing translation in the lesson in the translation tab of the community dashboard page, instead, we should also show how many translation suggestions for the given lessons are in review.

Things to do:
- [ ] Show the "In review" status in the progress bar
- [ ] Only show the text which doesn't have any suggestions or existing translation.

[2019-09-07 20:07] #7536 closed, assigned to nobody

[2019-09-07 23:32] brianrodri opened #7569 "[#8417] Remove References to Feedback Tab"
Blocked by: #8417

---

The Feedback Tab has been completely phased out, and replaced with the Improvements Tab. This issue is to help track the effort to remove references of "feedback tab" in the code base to help keep things in a healthier state.

- [ ] AnswerDetailsImprovementCardObjectFactorySpec.ts
- [ ] ExplorationEditorFeedbackTab.js
- [ ] ExplorationEditorPage.js
- [ ] ExplorationEditorTr

[2019-09-08 02:20] kevinlee12 commented on #7387
We're moving away from npm, this is no longer relevant.

[2019-09-08 02:20] #7387 closed, assigned to nobody

[2019-09-08 10:05] DubeySandeep commented on #7540
@sukhdeepg, I'm not sure about whether this issue is reproducible in develop, but I can still reproduce this on the test server: https://oppiatestserver.appspot.com/library
/cc @nithusha21, can you confirm whether this issue exist?

[2019-09-08 10:43] nipan09 commented on #6240
@kevinlee12, sorry for my late reply. I have forked this repo again and its working.
Thank you.

[2019-09-08 16:33] kevinlee12 commented on #6240
Okay, thanks!

[2019-09-08 17:41] DubeySandeep opened #7571 "Surfaced outdated translation in translation opportunity"
Currently, we show all the content which doesn't have translations or the existing translation needs an update to the contributors and ask them to translate it, it would be great if we can provide the outdated translations to the contributors.

**Additional reference:**

This issue is referenced in the codebase over here: https://github.com/oppia/oppia/pull/7513/files#diff-fddf42bff012423be27edc64

[2019-09-08 18:00] brianrodri commented on #5801
@anubhavsinha98, I think the first step we should take here is to create sub-issues for tasks we need to accomplish. For example, "Collect unique playthroughs which provide an answer" is a subtask that deserves its own issue (backend changes, frontend changes, etc).

Could you give this a shot? I'd be happy to help as necessary.

[2019-09-08 18:20] #1422 closed

[2019-09-08 18:20] brianrodri commented on #1422
Duplicate of #6007

[2019-09-08 18:49] brianrodri commented on #1733
Duplicate of #7327

[2019-09-08 18:49] #1733 closed

[2019-09-08 18:56] brianrodri commented on #7100
Hi @ankita240796, going to unassign you for now so someone else can attempt it, feel free to take over again if you're still interested.

[2019-09-08 19:04] DubeySandeep opened #7572 "Create ExplorationSuggestion object to remove duplicate code from suggestion_registry file"
Currently, we have ExplorationContentSuggestion and ExplorationTranslationSuggestion object which has multiple duplicated functionality, we want to create a parent ExplorationSuggestion class and use this class for exploration related suggestion class to avoid having duplicate code.

This issue was referenced here: https://github.com/oppia/oppia/pull/7513/files#r319713361

[2019-09-08 19:14] ankita240796 commented on #7100
Sure @brianrodri, Thanks!

[2019-09-08 19:42] #3677 closed, assigned to Showtim3

[2019-09-09 02:34] brianrodri opened #7574 "bash scripts/run_e2e_tests.sh raisies 127 error"
**Describe the bug**
`bash scripts/run_e2e_tests.sh --suite=collections` raises the following errors:

**To Reproduce**
Steps to reproduce the behavior:
 1. Freshly install Oppia
 2. Run `python -m scripts.start` and cancel after server is running healthily
 3. Run `bash scripts/run_e2e_tests.sh --suite=collections`

**Observed behavior**
The aforementioned error is thrown by the script.

**Expect

[2019-09-09 02:38] brianrodri commented on #7574
@kevinlee12 @oppia/dev-workflow-team FYI

[2019-09-09 03:17] kevinlee12 commented on #7574
Hmm, I pulled the latest develop, oppia on a fresh installation, and didn't get any issues. Could this be a Mac issue? (I'm on Ubuntu)

[2019-09-09 09:50] ABHIJITBURMAN commented on #7124
I think this issue is now been fixed as I open this page in my mobile view, the outline for the bio text portion has been fixed and it looks perfect on the mobile screen.

[2019-09-09 09:58] ABHIJITBURMAN commented on #6959
@yashdusing are you still working on this issue? if not then, can I started to work on this issue?

[2019-09-09 10:11] yashdusing commented on #6959
Could you please wait another week or so
I’ve been trying to get Oppia up.

[2019-09-09 11:15] nipan09 commented on #6240
@kevinlee12 @nithusha21 I have made the PR in #7576. What label to be added in the PR?

[2019-09-09 11:55] bansalnitish commented on #6240
I've added the label @nipan09, PTAL!

[2019-09-09 14:26] rohitkatlaa commented on #7543
@DubeySandeep , I have solved this issue with a simple tweek.
Please tell me if you can still see the error after this PR.

[2019-09-09 19:56] #7383 closed, assigned to DubeySandeep

[2019-09-09 20:30] DubeySandeep commented on #7540
I think this issue is happening because of max-width property on .oppia-library-group.

https://drive.google.com/file/d/1tUA7kPOLCNSIrPb4jzjvm2866X7Zh06N/view

(8 + 40 + 8)px + 832px + (8 + 40 + 8 )px = 944px > 928px, so I think it should be 944px instead of 928 px over [here](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/library-page/library-page.directive.html#L201).

[2019-09-09 20:40] DubeySandeep commented on #7540
![image](https://user-images.githubusercontent.com/16653571/64564878-2ad65c00-d370-11e9-9c8b-009117c51d21.png)

[2019-09-10 03:28] #6276 closed, assigned to ulloaluis

[2019-09-10 07:15] #7253 closed, assigned to kevintab95

[2019-09-10 08:00] #7540 closed, assigned to nobody

[2019-09-10 12:41] dwersing commented on #3783
Is this still available?  I'd love to work on it if so.  Thanks.

[2019-09-10 13:28] rohitkatlaa commented on #7475
@DubeySandeep Can I take up this issue and if so could you give me a general overview as to how to start working on this issue?

[2019-09-10 16:59] #7318 closed, assigned to nobody

[2019-09-10 20:18] jameesjohn opened #7586 "Following up on #7561"
This issue is created to follow up on the discussion on #7561

[2019-09-10 20:18] jameesjohn commented on #7586
@DubeySandeep, we can continue our discussion here.

[2019-09-11 06:07] ankita240796 opened #7589 "Linter checks do not fail on error cases"
Linter checks are not failing on some error cases. The leaks can be checked in the build [here](https://circleci.com/gh/oppia/oppia/18243). We need to fix the linter to catch these cases as well as fix the error issues in the codebase.

[2019-09-11 06:09] ankita240796 opened #7590 "Add tests for pre_commit_linter"
Linter tests often fail to catch error cases and sometimes fail on valid cases. We need to add unit tests for pre_commit_linter to ensure this issue is fixed.

- [ ] Tests for js and ts lint functions
- [ ] Tests for python lint functions
- [ ] Tests for html lint functions
- [ ] Tests for css lint functions
- [ ] Tests for all other general lint functions

Place all test files underneath [`core/t

[2019-09-11 16:56] ankita240796 commented on #7590
Hi @kevinlee12, I have split the tests according to the language based functions. Is this split ok? Thanks!

[2019-09-11 18:35] kevintab95 commented on #5793
I was unable to reproduce this under normal usage  -- even throttling the speed and moving around pages did not cause an issue. I did try moving away from a page before all components have loaded to trigger this error as @hoangviet1993 mentioned but I had little luck with that as well. However, I did try blocking the request URL for a template (library-footer.directive.html) and this did trigger t

[2019-09-11 19:34] rohit-ganguly commented on #7336
Hi, could I potentially try working on this?

[2019-09-11 19:46] vojtechjelinek commented on #6988
@NishealJ Will, you be working on this?

[2019-09-11 22:21] vojtechjelinek opened #7601 "Remove separate TypeScript compilation."
**Current situation**
Currently, most of the `.ts` files that we have are compiled through Webpack, only a few remaining files and folders are [compiled separately with TypeScript](https://github.com/oppia/oppia/blob/05094e9226d599f662f5e92842346b3763aa991a/scripts/build.py#L1315). The files and folders are listed in [tsconfig.json](https://github.com/oppia/oppia/blob/develop/tsconfig.json#L27). T

[2019-09-11 22:28] vojtechjelinek commented on #5676
Gulp is used for automatic recompilation without the need to restart dev server manually for changes in the `third_party` folder and `manifest.json`. I think that these changes are so rare and usually just one time that we can bother the developer with the need to restart server.

[2019-09-12 02:05] kevinlee12 commented on #7590
Yes, that is fine.

[2019-09-12 09:25] #6274 closed, assigned to NishealJ

[2019-09-12 14:15] jameesjohn opened #7605 "Remove TRANSLATOR_PROVIDER_FOR_TESTS from GLOBAL"
TRANSLATOR_PROVIDER_FOR_TESTS is used for front end tests. It is defined in `core/tests/karma-global.ts` and used in several frontend tests.

[2019-09-12 15:06] generationzcode commented on #7440
Hi I know how to code but havent collaborated with others much on github. How to access the file from which this error originated?

[2019-09-12 17:35] ankita240796 commented on #7590
Assigning @bansalnitish as well since he wanted to work on this too.

[2019-09-12 17:38] ankita240796 commented on #7590
I have added a basic setup [here](https://github.com/oppia/oppia/compare/develop...ankita240796:lint-test) for the tests. Me and @bansalnitish will be working together to add all the tests on the same branch and once the complete file is covered, we will create a PR for the same. Thanks!

[2019-09-12 19:27] kevintab95 opened #7607 "TypeError: Cannot read property 'hasOwnProperty' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-12 20:13] kevintab95 commented on #5793
Some observations:
tpload errors usually contain 3 parameters which are passed in the errors URL.
Example:
`Error: [$compile:tpload] http://errors.angularjs.org/1.5.8/$compile/tpload?p0=%2Fbuild%2Ftemplates%2Fhead%2Fcomponents%2Fbackground%2Fbackground_banner_directive.730ded76ae84bef85528335d73833bfe.html&p1=-1&p2=`

Parameter 1 (p0) is the errored template.
Parameter 2 (p1) is the HTTP status co

[2019-09-13 01:36] #7542 closed, assigned to jameesjohn

[2019-09-13 02:35] seanlip commented on #5793
That's a great find, @kevintab95 -- thanks! I didn't know that.

Are all the errors of this form corresponding to a p1 of -1? If so, I think that's a good sign. Do you think it makes sense to just suppress those errors from being logged? (One thing to check, though, is whether your earlier experiment of "blocking the request URL for a template" results in a p1 that is not -1, since that case shoul

[2019-09-13 04:52] kevinlee12 commented on #7272
I haven't seen this in the past couple of days so I'll close this, feel free to re-open this if it happens.

[2019-09-13 04:52] #7272 closed, assigned to DubeySandeep

[2019-09-13 05:01] kevinlee12 commented on #6651
I haven't seen this error come up in the last couple of months so I'll close it for now. However, please do re-open it if it comes back up, thanks!

[2019-09-13 05:01] #6651 closed, assigned to nobody

[2019-09-13 05:04] kevinlee12 commented on #7316
We've moved towards yarn, so this is no longer applicable.

[2019-09-13 05:04] #7316 closed, assigned to Showtim3

[2019-09-13 05:11] kevinlee12 commented on #7323
We've split this test into 2, so this issue is no longer valid.

[2019-09-13 05:11] #7323 closed, assigned to nobody

[2019-09-13 07:03] #7589 closed, assigned to ankita240796, lilithxxx

[2019-09-13 08:32] ankita240796 commented on #7146
Hi @jacobdavis11, I will take this up in October once I am done with the release automation task. Thanks!

[2019-09-13 15:43] kevintab95 commented on #5793
Hi @seanlip, I checked all the errors that happened over the last 2 days and all of them do seem to be of this form (ie. p1 is -1). Since I'm not able to reproduce `p1=-1` I am not sure if this error just silently occurs or breaks the UI. Why do you think we should suppress these errors from being logged (the p1 of -1s)?

[2019-09-13 16:01] kevintab95 commented on #7440
Hi @generationXcode, the error seems to have originated from the `getDimensionsOfImage` method which is defined in the image-preloader.service.ts file. Have you set up Oppia on your local machine? If not, please follow [the intructions here](https://github.com/oppia/oppia/wiki/Installing-Oppia). Thanks!

[2019-09-13 17:05] seanlip commented on #5793
Because we don't need to fix them, I think, so we might as well stop them
from showing up (since our standard policy is to fix whatever shows up).

[2019-09-13 17:23] kevintab95 commented on #5793
Let me clarify my comment. What I meant was how do we know `p1=-1` error does not break the UI? We don't want to suppress it if it does break the UI, right?

[2019-09-13 17:32] kevintab95 opened #7609 "TypeError: interactionRulesService[rule.type] is not a function"
This error occurred recently in production

[code]

Used [this tool](https://sokra.github.io/source-map-visualization/#custom) to map the actual error (ie. a[c.type] to interactionRulesService[rule.type]).

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file whe

[2019-09-13 17:37] kevintab95 commented on #7609
Might be related to #4152.

[2019-09-13 18:12] NishealJ commented on #7574
Hi All, This happen with me too in MacOS.

[2019-09-13 18:12] seanlip commented on #7574
/cc @ankita240796 -- could you please take a look? Seems related to the typescript compiler, and this is blocking some important work. Thanks!

[2019-09-13 19:01] ankita240796 commented on #7574
Hmm, that's strange. I am not able to reproduce this on MacOS.

Hi @brianrodri @NishealJ can you try running typescript compilation directly by running the command `./node_modules/typescript/bin/tsc --project .` from oppia dir on terminal and share the output with me. Thanks!

[2019-09-13 20:49] seanlip commented on #5793
Since it only happens when a user has already initiated the process of navigating away from the page, that seems fine, right? (Like, the page isn't going to load anyway if the user is in the process of exiting it.)

[2019-09-13 20:51] kevintab95 commented on #5793
Ah okay, makes sense. Thank you.

[2019-09-13 22:59] BenHenning opened #7612 "Introduce requirements.txt file to make setting up Python on Windows easier"
Trying to run Oppia on Windows is a bit painful: you need to track down a bunch of missing dependencies one at a time (PyYaml, future, python_utils). Per https://github.com/laramies/theHarvester/blob/master/requirements.txt and https://github.com/threat9/routersploit/blob/master/requirements.txt it appears somewhat conventional to have a repo-level requirements.txt file that lists all Python depen

[2019-09-13 23:01] BenHenning commented on #7612
Actually, I don't think this is needed. This came from me trying to run the start script wrong.

For others: I was trying to use 'python scripts/start.py' but it needs to be 'python -m scripts.start'

[2019-09-13 23:01] #7612 closed, assigned to nobody

[2019-09-13 23:49] BenHenning opened #7613 "Running Oppia on Windows with Ubuntu subsystem has a bunch of issues"
I ran into a few problems trying to get this work, but I think it came down to PyYaml and future needed to be manually installed with pip before you can run start.py, which causes some exceptions to appear when starting the app.

I'm also seeing a _lot_ of dependencies with backtraces ending with:

``DistutilsOptionError: can't combine user with prefix, exec_prefix/home, or install_(plat)base``

I

[2019-09-13 23:49] BenHenning commented on #7613
FWIW I did successfully run Oppia on the Windows 10 Ubuntu subsystem back in late May.

[2019-09-13 23:54] BenHenning commented on #7613
Also: Java does not come with Ubuntu by default, and Oppia seems to be expecting it:

[code]

[2019-09-13 23:54] seanlip commented on #7613
Are you using Docker? /cc @ezl-13

(See instructions [here](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29). We haven't gotten the tests to work though, but the server should run.)

[2019-09-13 23:55] seanlip commented on #7613
Also /cc @renana for info.

[2019-09-13 23:55] BenHenning commented on #7613
Nope, per the title I'm using the Windows Ubuntu subsystem. :) This ought to work given that it's the closest environment to vanilla Ubuntu without virtualizing. For that reason, I'm not keen on using Docker.

[2019-09-13 23:58] seanlip commented on #7613
Hm, we did try with the WIndows Ubuntu subsystem early on in the year, and ran into a bunch of snags (also mostly around tests). @ezl-13 should be able to provide more details.

[2019-09-13 23:59] BenHenning commented on #7613
Ah per https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Windows%29#installation-using-the-ubuntu-terminal-on-windows-10 I forgot to set up the virtualenv which might be why I'm running into issues.

[2019-09-14 00:20] BenHenning commented on #7613
Also: apparently using the Docker approach requires a Docker account which seems less-than-ideal.

[2019-09-14 00:29] BenHenning commented on #7613
I ran into a bunch of distutilsOptionError during installation, but following the Oppia instructions for creating a separate Python environment solved this issue. In that environment I still needed to install PyYaml and future manually to get script.py to run.

[2019-09-14 00:34] BenHenning commented on #7613
Woohoo, looks the server still works in WSL when you properly set up the env. Looks like the main gripes here are just getting PyYaml and future to not be hard prerequisites to using start.py since that may not be obvious to folks.

Also, maybe we can update the Windows instructions to mention:
- We should use start.py now that start.sh is gone
- If you run into ``distutilsOptionError`` errors the

[2019-09-14 00:34] BenHenning commented on #7613
Also, I *think* you also need to install Java manually, which I did via:

[code]

per https://www.digitalocean.com/community/tutorials/how-to-install-java-with-apt-on-ubuntu-18-04

[2019-09-14 11:54] Showtim3 commented on #7086
@kevintab95 then a simple if check can help prevent this error
![Screenshot 2019-09-14 at 5 23 42 PM](https://user-images.githubusercontent.com/30312043/64907762-71cba500-d714-11e9-9200-9f7645293d24.png)

[2019-09-14 11:55] Showtim3 commented on #7086
because savedContent is giving us undefined...
![Screenshot 2019-09-14 at 5 24 26 PM](https://user-images.githubusercontent.com/30312043/64907778-932c9100-d714-11e9-912e-6f9c83755c0c.png)

[2019-09-14 12:04] kevintab95 commented on #7086
Hi @Showtim3, I think the right way to go about this is to understand why savedContent is undefined. This probably occurs because of some race condition when loading the exploration editor page. If that is the case, we'll need to fix that first.

[2019-09-14 12:06] Showtim3 commented on #7086
@kevintab95 okay yeah, I'll dig up a little more and will post here if I find something.
Thanks!

[2019-09-14 13:59] rohitkatlaa commented on #5801
Hi, @brianrodri I would like to work on this issue,if its still not solved. If this issue is still open please guide me in solving this issue.

[2019-09-14 14:07] rohitkatlaa commented on #5801
I would also like to have some mock data that is used for testing(explorations and student feedback) so that I will be able to define the metrics for exploration effectiveness in a better way.

[2019-09-14 15:51] nithusha21 opened #7616 "e2e tests don't run locally on Mac"
**Describe the bug**
On the latest develop, e2e tests do not run on mac. The error message obtained is
![image](https://user-images.githubusercontent.com/11898234/64910611-dc410d00-d735-11e9-8d90-63242f3da274.png)

I think this issue exists only on mac as the tests seem to run fine on Travis.

[2019-09-14 18:51] kevintab95 commented on #5794
Since all the additional logs seem to have "rename state" event in common, I think this issue might have been fixed by #7520. Let's wait for the next release to check if this still occurs.

[2019-09-14 19:02] kevintab95 commented on #7444
I observed that this error occurs when trying to log in while having the "Allow sites to save and read cookie data" option disabled on chrome.  The promo bar directive uses `$window.sessionStorage` which won't work as expected if access to cookies is blocked.
![setting](https://user-images.githubusercontent.com/11008603/64912736-f1776500-d750-11e9-8685-c348c7e606bd.png)
![error](https://user-image

[2019-09-14 20:21] aks681 opened #7618 "Change the skill ID entry fields in story editor"
**Is your feature request related to a problem? Please describe.**
The skill ID input field in the story editor is right now, just a text input where the ID has to be manually entered. This is not ideal for adding lots of skills.
**Describe the solution you'd like**
It should be changed to a dropdown or a popup modal from where the creator should be able to search and choose the skills that they w

[2019-09-14 20:23] aks681 opened #7619 "All topic managers should be able to view all editors"
**Is your feature request related to a problem? Please describe.**
Now, the topic managers are not allowed to view the skill editor, but if they are managing a topic, they should be able to view the skills that the topic is linked to.

**Describe the solution you'd like**
Have all the topic managers be able to open the skill editor in a read only mode.

[2019-09-14 20:24] aks681 opened #7620 "Issues in question editor"
In the question editor, the option to select the 'destination state' is visible, which shouldn't be shown, as for a question there are no destination states as such.

[2019-09-14 20:25] aks681 commented on #7566
Created #7618, #7619 and #7620

[2019-09-14 20:25] #7566 closed, assigned to nobody

[2019-09-15 01:23] kevinlee12 opened #7622 "Revert browser.sleep in embedding test"
As a temporary measure to get the embedding test to pass, `browser.sleep` was added into the test. We should revert that change and implement an intelligent wait. The existing `waitFor.pageToFullyLoad()` did not wait for the iframe to fully load, which caused the test to fail.

Location of the wait:
https://github.com/oppia/oppia/pull/7615/files#diff-582b0fb97826b8da8bfe839165f3f826R261

[2019-09-15 01:25] kevinlee12 commented on #7388
For the record here, we've reset the webhooks as recommended by CircleCI.

[2019-09-15 04:28] #7423 closed, assigned to kevinlee12

[2019-09-15 04:34] seanlip commented on #7444
Good find! I think we should handle this somehow -- maybe display an error message saying "Cannot log in because third-party cookies are blocked" and point to instructions to enable them if the user wants to log in.

[2019-09-15 06:26] seanlip commented on #7616
This might indeed be a Mac issue, since they do run locally on my machine (Ubuntu). Could someone else with Mac please try this out?

[2019-09-15 11:38] bansalnitish commented on #7462
Hi @kevintab95, I agree with @ankita240796's solution here. There are all components described in `components.py` and there is a general [validate function](https://github.com/oppia/oppia/blob/develop/extensions/rich_text_components/components.py#L120) defined for all. You can add a new validate function in [Link component class](https://github.com/oppia/oppia/blob/develop/extensions/rich_text_com

[2019-09-15 16:26] NishealJ commented on #7574
this works for me now, at latest develop @brianrodri can you please check?
@ankita240796 no output in the terminal with command `./node_modules/typescript/bin/tsc --project .` Thanks!

[2019-09-15 16:51] ankita240796 commented on #7574
Hi @NishealJ, thanks for the response. Yes, no output is expected since it means there are no errors after compilation.

[2019-09-15 16:56] #5793 closed, assigned to kevintab95

[2019-09-16 01:13] #7496 closed, assigned to cuichenli

[2019-09-16 03:02] EricZLou commented on #7613
Great that you got this working @BenHenning ! The main reason we moved away from WSL is that the frontend tests and e2e tests wouldn't run -- even Chrome headless wasn't working for us. We spent a lot of time trying to figure it out, but it wouldn't work. If it is working for you, definitely let us know.

Right now, using Docker, we almost have frontend tests working. I believe it's true you do ne

[2019-09-16 09:42] NishealJ commented on #6959
Hi can you share the issue you are facing?

[2019-09-16 18:19] NishealJ commented on #6988
raised a PR for the same #7627 thanks!

[2019-09-16 18:30] kevintab95 opened #7629 "Error: The specified module could not be found."
This error occurred recently in production.

[code]

This error seems to occur on the Edge browser when visiting https://www.oppia.org/learn/maths/negative-numbers

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a h

[2019-09-16 20:42] aks681 commented on #7613
In WSL, I got a `dangling simlink` error, when just running start.py, but moving around the code that deleted the `.pyc` files in the startup script fixed that issue (as apparently, some .pyc files were being deleted before the link to them were being executed) and the server starts up normally for me (although chrome doesn't automatically open with the page, I have to manually go to localhost:818

[2019-09-16 21:20] jameesjohn commented on #7613
I think you probably didn't run `install_prerequisites.sh`. I run oppia on wsl but I haven't faced this issue.
The only issue is that of  frontend and e2e tests not running

[2019-09-17 19:33] kevintab95 opened #7637 "TypeError: Unable to get property 'region' of undefined or null reference"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-17 20:02] vojtechjelinek commented on #7403
Hi, `mathjs` is around 270 KB of data we should really use just the partial imports so that the size is reduced.

[2019-09-17 20:15] kevintab95 commented on #7252
I could not reproduce this issue. However, on going through some code and reading up about issues I found that this occurs due to a bug (or possible improvement) in NgAudio. As @tjiang11 mentions in the following code, NgAudio does not provide a way to know if the native audio object has loaded.

https://github.com/oppia/oppia/blob/a00c14cda00a96a6d291d12a2b11617e24cf4d01/core/templates/dev/head/s

[2019-09-17 23:13] brianrodri commented on #5801
Ah sorry @rohitkatlaa, this is already being actively worked on (I just forgot to assign the issue) by the **[Lesson analytics team](https://github.com/oppia/oppia/projects/19)**!

[2019-09-18 02:54] rohitkatlaa commented on #5801
@brianrodri Thank you for informing me.

[2019-09-18 03:55] DubeySandeep commented on #7586
Closing this issue as per [this comment](https://github.com/oppia/oppia/pull/7561#issuecomment-529892251).

[2019-09-18 03:55] #7586 closed, assigned to DubeySandeep

[2019-09-18 05:05] mzaman07 commented on #6338
It's been awhile since I looked at this codebase. I have question about the permission system, I am guessing that it is the same as the one that I used in [PR#6304](https://github.com/oppia/oppia/pull/6304). Is this correct ?

[2019-09-18 05:21] DubeySandeep commented on #6338
@mzaman07, Yeah it is still the same, but we have introduced "modes" in the translation tab through which you can switch between translation and voiceover modes using the switch/buttons on the top right corner.
![image](https://user-images.githubusercontent.com/16653571/65113808-337b0200-da02-11e9-83f9-262fec195427.png)

[2019-09-18 05:49] mzaman07 commented on #6338
Thanks looking forward to completing this.

[2019-09-18 09:00] seanlip commented on #7252
Sure, seems reasonable. Thanks for the explanation!

[2019-09-18 09:02] #7444 closed, assigned to kevintab95

[2019-09-19 13:47] vojtechjelinek opened #7643 "Replace templateUrl with template in /extensions"
Replace `templateUrl: UrlInterpolationService.getDirectiveTemplateUrl('somePath')` with `template: require(somePath)` and use webpack for inserting the HTML templates into the generated bundles. This will improve latency and bandwidth of the directives loading since Angular doesn't need to retrieve the HTML via AJAX request.

Work to be done:
 - [x] extensions/objects @rohitkatlaa
 - [ ] extension

[2019-09-19 14:23] jameesjohn commented on #7643
@vojtechjelinek, should this be done for all components or just some specific components?

[2019-09-19 19:52] dhuang612 commented on #6446
Hello,

I will take a crack at this!

Thanks

[2019-09-20 02:54] #7252 closed, assigned to kevintab95

[2019-09-20 03:09] DubeySandeep opened #7646 "Frontend tests are failing because of long timeout on CircleCI"
**Description:**
Frontend tests are failing because of too long timeout on CircleCI and pass the test on restart. This has happened multiple times as of now.

(Add :+1: to this comment if you see this happens for your/any PR!)

**Log:**

[code]

[2019-09-20 03:12] DubeySandeep commented on #7646
@vojtechjelinek, is this happening because of the webpack? (not sure!)

(I've assigned you to this issue so that you can reply to this thread!)

[2019-09-20 05:07] kevinlee12 opened #7647 "Subprocess.call conversion to subprocess.check_call"
In some parts of our more recently migrated scripts, we have call `subprocess.call`, which doesn't surface errors. We should change those calls to `subprocess.check_call` (see this [doc](https://docs.python.org/2/library/subprocess.html#subprocess.check_call)) so that those errors surface immediately.

[2019-09-20 05:08] kevinlee12 commented on #7647
@lilithxxx, just an fyi to prioritize completing the bash script conversion before moving onto this ticket.

[2019-09-20 05:15] kevinlee12 opened #7648 "Pre commit linter should call the necessary scripts to ensure that dependencies are installed"
Currently our precommit linter assumes that a set number of dependencies (from install_third_party_libs.py) are installed when running. Instead, there should be a call to our scripts to ensure that the relevant dependencies are installed when the precommit hook is run. Keep in mind that this should not bog down the time to commit, in other words, if the contributor already has the dependencies ins

[2019-09-20 05:54] seanlip commented on #7647
As an FYI I think this also happens for the lint checks -- I remember seeing cases where one of the js/ts linters has errors (or can't even run, because of missing dependencies, thus throwing an exception) but the top-level linter mistakenly claimed "success" anyway during the pre-push checks. Unfortunately, I forgot to preserve the log, but just wanted to point out that this might need looking in

[2019-09-20 06:07] seanlip commented on #7647
Oh ... I _did_ preserve the log! Here it is. It arose when I was trying to figure out the configparser issue that I fixed in #7638.

As you can see, there's an entire exception in the log ... and yet the whole thing is still running to completion, claiming "success" all the way. This seems like a rather serious issue (the push would have succeeded had I not manually cancelled it).

[code]

[2019-09-20 14:05] #7553 closed, assigned to aks681

[2019-09-20 14:13] #6866 closed, assigned to ankita240796

[2019-09-20 15:44] kevintab95 opened #7650 "KeyError: 'tagged_skill_misconception_id'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-20 19:12] aks681 commented on #7616
I tried just now with the current version of develop  on Ubuntu 18.04, and it errored on Ubuntu as well (though a different error).
![image](https://user-images.githubusercontent.com/22347970/65352613-ace44180-dc08-11e9-85f5-d5ebefe25f72.png)
I am running Chrome 77

[2019-09-20 19:18] aks681 commented on #7650
@kevintab95 This error was observed for some time just after the August release, but it was due to cache issues, and once the production server was migrated to the new version and all the memcache keys were deleted, this error was not reproducible, when I tried on oppia.org.
Is this still happening frequently on prod?

[2019-09-20 23:05] seanlip commented on #7616
Odd -- just as an FYI, I just tried locally, and it works for me. Chrome 77 on Linux.

I am not sure if these help, but when I searched for the error I found https://github.com/ionic-team/ionic/issues/16437#issuecomment-441608238 and https://github.com/SeleniumHQ/selenium-ide/issues/251#issuecomment-397886461 -- maybe they are useful?

(Also /cc @kevinlee12 @oppia/dev-workflow-team for help with t

[2019-09-20 23:12] seanlip commented on #7574
Just to confirm -- should this issue still be open? /cc @brianrodri @ankita240796

[2019-09-21 04:20] kevinlee12 commented on #7616
I was able to run it fine on my Ubuntu 19.04 on Chrome v77.

[2019-09-21 09:52] seanlip opened #7653 "Exploration editor data is not loading correctly after browser refresh"
**Describe the bug**
Reloading the exploration editor page after a draft edit is made results in a UI breakage and subsequent console errors.

**To Reproduce**
Steps to reproduce the behavior:
 1. On a **local dev server**, log in. (This doesn't seem to happen on the test server when I tried it, but it does block local development in a serious way.)
 2. Enter some content and save it (but don't cl

[2019-09-21 10:21] seanlip opened #7656 "Try to ensure that Codecov always uploads a coverage report."
Sometimes, Codecov fails to upload a coverage report. See e.g. https://github.com/oppia/oppia/pull/7621#issuecomment-533781027 -- Codecov did not block that PR as it couldn't upload the coverage report, causing the main codebase to have backend coverage failures.

The complete log at that time was:
[code]

The solution to this seems to be retrying till the coverage is uploaded successfully. Here i

[2019-09-21 10:26] seanlip opened #7657 "Ensure exception messages are passed explicitly as strings"
**Describe the bug**
For context please see https://github.com/oppia/oppia/pull/7652#issuecomment-533782553. Some exceptions are passed to convert_to_bytes() directly, which is wrong because an error will be thrown in the case that the exception has unicode characters. Instead, the message of the exception should be extracted using .args[0], and _that_ string should be passed to convert_to_bytes()

[2019-09-21 10:28] seanlip commented on #7616
Hm, OK. What's the plan for getting to the bottom of this, though? It seems to be affecting multiple contributors...

[2019-09-21 12:03] kevintab95 commented on #7650
Hi @aks681, this error occured 2 times about 2 days ago.

[2019-09-21 12:32] vojtechjelinek commented on #7646
The first occurrence probably on `Sep 18, 8:54 PM CEST`

[2019-09-21 16:11] vojtechjelinek opened #7659 "Changes after UserGaeIdOneOffJob is run"
After the UserGaeIdOneOffJob is run on production and all models are confirmed to have the necessary fields do:

- Add require=True to `gae_user_id` in `UserSettingsModel`

[2019-09-21 16:16] kevinlee12 commented on #7616
We’re going to have to ask contributors who have Macs to handle this, since I don’t have access to one.

[2019-09-21 16:36] rohitkatlaa opened #7660 "Overlap of "copied" on the link"
**Describe the bug**
The word "copied" overlaps with the link when the link is clicked.

**To Reproduce**
Steps to reproduce the behavior:
1.Create an exploration and publish it.
2.Click on the link that you get.

**Observed behavior**
The word "copied" overlaps with the link when the link is clicked.

**Expected behavior**
The word "copied" must be a little away from the link.

**Screenshots**
![

[2019-09-21 16:38] vojtechjelinek commented on #7660
This is also happening on Firefox, was about to file an issue about this.

[2019-09-21 16:45] rohitkatlaa opened #7661 "Improvements icon do not show number of open threads or unread threads"
**Describe the bug**
The feedback icon is removed and the improvements icon was added but the number of unread threads or open threads are not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1.Create an exploration.
2.Login as another user and add feedback or suggest some changes to the exploration.
3.Login as the first user and go to the exploration editor. The improvements icon sho

[2019-09-21 16:53] rohitkatlaa opened #7662 "Display mouse as pointer"
**Describe the bug**
When you want to go to the next set of explorations, and when you hover over the arrow it changes into a text cursor rather than a mouse pointer.

**To Reproduce**
Steps to reproduce the behavior:
1.Go to a profile who has created more than 7 explorations.
2.Hover over the arrow.

**Video**
[video.zip](https://github.com/oppia/oppia/files/3638887/video.zip)

[2019-09-21 16:54] vojtechjelinek opened #7663 "Collapsible block doesn't stay open"
**Describe the bug**
The collapsible block in the RTE doesn't stay open.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create text with a collapsible block in RTE
 2. Click on the block and see it close immediately

**Observed behavior**
Collapsible block opens and the closes

**Expected behavior**
Collapsible block stays open

**Screenshots**
https://streamable.com/1u9wh

**Desktop (plea

[2019-09-21 17:13] vojtechjelinek opened #7664 "Modals at the edge of the display view get cropped"
**Describe the bug**
When a warning icon is at the edge of the browser window the modal that is shown when the mouse pointer is on the icon can be partially out of view.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with a solution that is actually not a solution (the solution answer is not correct)
 2. Make the browser window less wide
 3. Point over the warning ico

[2019-09-21 17:14] vojtechjelinek commented on #7664
Probably not a blocking issue, but marking as a triage to be sure.

[2019-09-21 17:34] kevinlee12 commented on #7616
I've already pinged members of the @oppia/dev-workflow-team about this to see if anyone who has access to a Mac can assist.

[2019-09-21 18:00] #7646 closed, assigned to vojtechjelinek

[2019-09-21 18:13] aks681 commented on #7616
Ah, thanks @seanlip! It turned out to be a node version issue. I was running v6.10.3, when I upgraded to v8.12.0, it started working.

[2019-09-21 18:45] seanlip commented on #7616
Great, thanks! @kevinlee12, can we add a node version check as a prerequisite check to prevent this happening in the future (i.e. have the script check the node version and error if it's not correct / install the correct one locally)?

[2019-09-21 20:56] vojtechjelinek opened #7665 "Create Question in topic editor behaves weirdly"
**Describe the bug**
The Create Question button in the Questions tab in Topic Editor has weird behavior.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish a topic
 2. Create and publish a skill
 3. Assign that skill to the topic
 4. Add skill to a subtopic
 5. Navigate to the question tab in the topic editor
 6. Create a question by clicking the "Create Question" button
 7.

[2019-09-22 03:32] seanlip commented on #7613
Note: I updated the section at the bottom of https://github.com/oppia/oppia/wiki/Installing-Oppia-(Windows) per the notes [here](https://github.com/oppia/oppia/issues/7613#issuecomment-531429687).

However, I'm not sure what to do about the java thing. @BenHenning -- does @Jamesjay4199's comment resolve it?  See https://github.com/oppia/oppia/blob/develop/scripts/install_prerequisites.sh#L31

[2019-09-22 04:13] kevinlee12 commented on #4417
@cuichenli would you like to take this up?

[2019-09-22 04:18] kevinlee12 opened #7668 "Add tests for create_expression_parser.py"
Currently [create_expression_parser.py](https://github.com/oppia/oppia/blob/develop/scripts/create_expression_parser.py) does not have any tests, we should have tests so that we don't introduce regressions. This was commented here in https://github.com/oppia/oppia/pull/7592#issuecomment-530289223.

[2019-09-22 04:57] seanlip commented on #7086
Deassigning @anmolshkl, I don't think he is working on this.

[2019-09-22 07:42] seanlip opened #7669 "When running scripts.start, the browser window opens before the server is started."
**Describe the bug**

Run `python -m scripts.start`. A browser window opens, but shows the following, which is disconcerting:

![Screenshot from 2019-09-22 00-39-11](https://user-images.githubusercontent.com/10575562/65383999-9950dd80-dcd1-11e9-8447-3288975db293.png)

On investigation, it turns out that the script had not finished typescript compilation etc. yet, so the page only loads after refre

[2019-09-22 07:46] seanlip opened #7670 "When on an exploration editor page, logging in should redirect to the exploration editor."
**Describe the bug**
When a creator logs in to Oppia, they are taken to their "home page", the creator dashboard. This makes sense in most situations. However, the exception is when the creator is viewing the exploration editor page for one of their lessons, and then tries to log in from there -- after logging in, they are taken to the creator dashboard page and lose context of the page they were

[2019-09-22 07:47] seanlip commented on #7670
I'm marking this as blocking because it is actively causing confusion for some users (particularly translators). However, the final decision on whether this is blocking is left to @ankita240796 as the release coordinator.

[2019-09-22 08:54] cuichenli commented on #4417
@kevinlee12 No problem, I will have a look. Thanks!

[2019-09-22 10:16] vojtechjelinek commented on #7643
I would go with all the components.

[2019-09-22 16:57] bansalnitish opened #7673 "Not able to push my branch"
I'm currently not able to push my branch. I've deleted oppia_modules, third_party, local_compiled_js etc and started start.sh too. But no luck!

![image](https://user-images.githubusercontent.com/22434689/65391539-0aeb6300-dd88-11e9-9368-44d9070d2fd3.png)

cc/ @oppia/dev-workflow-team

[2019-09-22 17:23] ankita240796 commented on #7574
I think we can close this since we are not facing this issue anymore. We should just wait for @brianrodri to confirm. Thanks!

[2019-09-22 17:31] rajitha1998 commented on #7440
Hi I'm new to oppia can I try to solve this bug, I  set up oppia on my laptop today @kevintab95

[2019-09-22 17:59] bansalnitish commented on #7673
I'm able to push it right now. All I did is repeated the steps I did a while back. Fetched the updated develop, deleted all the generated folders, started start.sh and tried again.

I've seen this occurs few times -- flaky. Any idea of what is causing this?

[2019-09-22 18:04] kevinlee12 commented on #7673
can you check what version of nodejs you have? `nodejs --version` should get you the result.

[2019-09-22 18:11] bansalnitish commented on #7673
I've a folder node10.15.3 in oppia_tools.

[2019-09-22 20:26] kevinlee12 commented on #7673
I'm going to attempt to fix this with #7675

[2019-09-22 20:28] vojtechjelinek opened #7676 "Start using @ngtools/webpack after the codebase is migrated to Angular 8"
After we completely migrate our codebase to Angular 8 we should start using [@ngtools/webpack](https://github.com/angular/angular-cli/tree/master/packages/ngtools/webpack), it provides useful optimalizations for Angular TypeScript code and coud reduce the size of the generated webpack bundles.

[2019-09-22 21:07] kevinlee12 commented on #7616
We already do have that check :)

The issue here is probably the reference to the node environment, I'm grooming our setup scripts to make sure we reference the right right node package.

[2019-09-22 21:59] U8NWXD opened #7677 "Exploration Creator Toolbar Hidden on Mobile"
**Describe the bug**
On small (mobile) screens, the top toolbar that includes the save button is not visible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration using a mobile screen size

**Observed behavior**
The top toolbar is missing.

**Expected behavior**
The functionality of the top toolbar should be accessible, e.g. via a hamburger menu.

**Screenshots**

This

[2019-09-23 01:12] #7648 closed, assigned to ulloaluis

[2019-09-23 01:44] U8NWXD opened #7680 "Pre-Selected Skills Not Accepted When Creating Question"
**Describe the bug**
When creating a second question from the topic and skills dashboard, the previously chosen skill is pre-selected. However, if the user clicks next without altering that default selection, an error is shown as if no skills were selected.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to questions tab in skill editor and click ‘Create Question’.
 2. Create a question,

[2019-09-23 01:58] U8NWXD opened #7681 "No Space Between MC Answer Choices When Adding Question Response"
**Describe the bug**
When creating a response for a multiple-choice interaction in a question, the answer choices provided when choosing `is equal to` for `If the learner's answer ... ` are shown too close together. It is not clear that they are separate choices.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a Question from the questions tab of the skill editor
 2. Fill in the intr

[2019-09-23 02:04] kevintab95 commented on #7440
Hi @rajitha1998, this issue is a bit tricky for a first issue. Could you take a look at other "good first issues"? Thanks.

[2019-09-23 02:07] kevintab95 opened #7682 "TypeError: Cannot set property 'rules' of undefined"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2019-09-23 02:10] kevintab95 opened #7683 "TypeError: Cannot read property 'outcome' of undefined"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-23 03:28] xoxwaw commented on #6766
I am sorry this might be a stupid question since I just started. But where can I find the file start.sh? There is start.py inside the scripts folder. Do we refer to this as start.sh?

[2019-09-23 04:30] bansalnitish commented on #7673
Thanks @kevinlee12

[2019-09-23 16:17] U8NWXD opened #7684 "404 When Retrieving third_party.js When Creating User in Prod Mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run server in prod mode with `python -m scripts.start --prod_env`
 2. Click on `Sign In` in the menu bar
 3. Leave `test@example.com` as the email
 4. Click `Login`
 5. Let `http://localhost:8181/signup?return_url=%2F`, where the user normally agrees to the terms of servi

[2019-09-23 17:06] rajitha1998 commented on #7569
I got the oppia project setup yesterday, can I try this issue ?. can you explain a bit more about this issue @brianrodri

[2019-09-24 01:12] xoxwaw commented on #4057
Hello, I'd like to take **AutogeneratedAudioPlayerService.ts**.

[2019-09-24 02:36] kevinlee12 commented on #4057
@bansalnitish, have you generated the service dependency yet?

[2019-09-24 02:36] #7684 closed, assigned to nobody

[2019-09-24 04:49] U8NWXD opened #7686 "Adding Image to Exploration with --prod_env Fails"
**Describe the bug**
Adding an image to an exploration fails in prod env.

**To Reproduce**
Steps to reproduce the behavior:
1. Run server locally with `python -m scripts.start --prod_env`
2. Select `Sign In` from the top menu bar
3. Create an account with email `test@example.com` and username `test`
4. Select `Create` from the top menu bar
5. Select the introduction block for editing
6. Choose to

[2019-09-24 06:03] kevinlee12 commented on #4057
@hungphi98, this isn’t ready for development, can you please look for another issue? thanks!

[2019-09-24 06:05] nithusha21 commented on #7616
Upgrading my local node version (not the one in oppia_tools) fixes this issue! I think you have found the correct issue @kevinlee12. Thanks!

[2019-09-24 08:08] vojtechjelinek commented on #6766
@hungphi98 Yes, start is now Python script you can run it by using `python -m scripts.start`

[2019-09-24 12:03] ankita240796 commented on #7670
I think it should be a blocking bug since it is causing confusion for translators.

[2019-09-24 14:35] kevinlee12 commented on #7616
thanks for the update!

[2019-09-24 14:35] #7616 closed, assigned to nobody

[2019-09-24 15:13] nithusha21 opened #7687 "Library page is not rendered correctly in tablet screen sizes"
**Describe the bug**
The library page looks broken when you view it in tablet screen sizes. (On release-2.8.6 branch).

![image](https://user-images.githubusercontent.com/11898234/65524512-8a556f80-df0b-11e9-9dba-603188930695.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the library page
 2. Reduce screen size (or select a tablet from the options on chrome dev tools).
 4. See e

[2019-09-24 15:20] nithusha21 opened #7688 "Graph input interaction doesn't load icons for "move" and "edge" buttons"
**Describe the bug**
The move and edge buttons in the interaction are missing icons.

![image](https://user-images.githubusercontent.com/11898234/65525146-ab6a9000-df0c-11e9-8e1d-815cd28c33fa.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with graph input interaction and publish it
 2. Visit the exploration from the player view, and navigate to the state with gra

[2019-09-24 15:22] nithusha21 commented on #7680
/cc @aks681 @sophiewu6 I don't think I understand the error, could you PTAL and let me know if it should block the release?

[2019-09-24 15:23] nithusha21 commented on #7677
This is kind of expected. The editors aren't supported on mobile. That being said, there is an ongoing attempt to provide these options on mobile too. See https://github.com/oppia/oppia/pull/7557

[2019-09-24 15:23] #7677 closed, assigned to nobody

[2019-09-24 15:24] nithusha21 commented on #7665
/cc @aks681 @sophiewu6 should this block the release?

[2019-09-24 15:25] nithusha21 commented on #7664
Hmmm, nice catch! I wouldn't personally consider this blocking, but we should fix this (and possibly other instances of this).

[2019-09-24 15:28] nithusha21 commented on #7661
Discussed this with @brianrodri. We'll not block the release of the improvements tab because of this issue. He plans to add this as a feature soon. This issue will track the same.

[2019-09-24 15:28] nithusha21 commented on #7660
This looks serious, marking as blocking. Thanks for reporting!

[2019-09-24 15:30] nithusha21 commented on #7653
Hmmm, if this happens only locally should it block the release? I'll try it out too on the test server and if it doesn't occur there, then I'll consider this non-blocking but serious. I hope that is fine.

[2019-09-24 15:41] nithusha21 opened #7689 "The author profiles dropdown is too small"
**Describe the bug**
The author profiles dropdown is too short. (release-2.8.6 branch)
![image](https://user-images.githubusercontent.com/11898234/65527011-9d6a3e80-df0f-11e9-8c88-cc79f23a9b0c.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Play an exploration and hover over the author profiles on the bottom left.
 2. See error

**Observed behavior**
The dropdown is too small that it k

[2019-09-24 15:54] nithusha21 opened #7690 "Error on opening existing explorations on the test server"
**Describe the bug**
On opening existing explorations on the test server, an error is obtained which says
![image](https://user-images.githubusercontent.com/11898234/65528126-744aad80-df11-11e9-99a6-680c48a6ef7d.png)

(The exploration is [here](https://oppiatestserver.appspot.com/create/c0xv8d3Gt1A1#/improvements))

/cc @brianrodri looks serious? I tried on multiple existing explorations and it fa

[2019-09-24 15:57] nithusha21 opened #7691 "The exploration settings page is misaligned"
**Describe the bug**
The exploration settings page is misaligned and all the dropdowns seem to be missing some styles. (On release-2.8.6)
![image](https://user-images.githubusercontent.com/11898234/65528468-110d4b00-df12-11e9-9f15-3f652efdbd0e.png)

[2019-09-24 16:51] rohitkatlaa commented on #7660
I am not sure why but I am not able to see the error in my local server. I can see it only the test server that is deployed by oppia. Is there a different code for it?

[2019-09-24 16:51] rohitkatlaa commented on #7660
I have also updated my local rep.

[2019-09-24 17:23] vojtechjelinek commented on #7660
Did you try local prod server (`python -m scripts.start --prod_env`)?

[2019-09-24 17:39] xoxwaw commented on #4057
Sure, @kevinlee12 can I take **LearnerViewRatingService.ts** ? Sorry I am new to the project.

[2019-09-24 17:44] rohitkatlaa commented on #7660
I tried it and it was proper.

[2019-09-24 17:45] rohitkatlaa commented on #7660
There are some changes (which I haven't made) in my develop when i tried to compare Oppia develop and local develop. Is it because of that maybe?

[2019-09-24 17:46] vojtechjelinek commented on #7660
Maybe it was fixed after the release was cut, you can try to go through the commits that were created after the release cut and see where it was fixed because we will need to cherrypick the commit into the release branch.

[2019-09-24 18:00] kevinlee12 commented on #4057
Sorry no services in this ticket are ready for development at all, though feel free to tackle other issues 😀

[2019-09-24 18:10] ulloaluis commented on #4119
@lilithxxx @BenHenning What was the consensus on this issue? Is it an issue we have to deal with or not?

[2019-09-24 18:22] Showtim3 opened #7693 "The setting menu does not stay highlighted when the children is hovered."
**Describe the bug**
While hovering the settings, when the submenu is hovered the parent item does not stay highlighted.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Oppia and login
 2. Hover on the settings icon.
 3. See error

**Observed behavior**
The parent icon should does not stay highlighted.

**Expected behavior**
The parent icon should stay highlighted.

**Screenshots**
If

[2019-09-24 18:33] Showtim3 opened #7694 "The improvement page in creator menu does not reflect changes automatically until refresh."
**Describe the bug**
After addressing the improvement/suggestion even when accepting or rejecting, the changes do not reflect until the page is manually refreshed.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Oppia, create and publish an exploration.
 2. Login from another account and make a suggestion.
 3. Login from the first account and accept/reject the suggestion
 4. See error

[2019-09-24 18:46] Showtim3 opened #7695 "No indication on the improvments icon even if new suggestions are there."
**Describe the bug**
In the navbar/header no indication is present even if new suggestions are present. There is no way to know as a creator that I have new suggestions without clicking on the improvements tab.
 Maybe there should be a red dot or something to signify activity.

**Screenshots**
![Screenshot 2019-09-24 at 10 31 34 PM](https://user-images.githubusercontent.com/30312043/65540860-da432

[2019-09-24 19:30] xoxwaw commented on #4057
@kevinlee12  haha so I guess **AnswerGroupObjectFactory.ts** is available then?

[2019-09-24 20:20] kevintab95 commented on #7653
This seems to be causing a bunch of server errors as well. I'm investigating this.

[2019-09-24 20:54] #7688 closed, assigned to kevintab95

[2019-09-25 02:19] kevinlee12 commented on #4057
@hungphi98, **no** services are available, please choose another issue to work on. this is currently blocked by Angular upgrade.

[2019-09-25 04:41] aks681 commented on #7680
I saw something similar (the skill preselection) and fixed that in #7666. I'll check if this is reproducible in that PR. If not, maybe we can cherrypick #7666?

[2019-09-25 14:36] kevintab95 opened #7696 "TypeError: Object doesn't support property or method 'pause'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-09-25 15:55] kevintab95 commented on #7653
This happens when the `stateEditorInitialized` is triggered before the state-editor has completely rendered. This means the listener for the triggered event did not register causing the initialization of state editor services (eg. content, interactionId, hints and solution) to fail. This breaks the editor page and any further user action other than a page refresh results in a console error.

This

[2019-09-25 16:01] U8NWXD commented on #7681
Based on the version live at https://www.oppia.org, the `Add Response` modal should look like this:

![Screen Shot 2019-09-25 at 08 58 57](https://user-images.githubusercontent.com/19878639/65618329-f5865c80-df72-11e9-91b0-fe0ec229be6b.png)

(with cursor hovering over `fail`.

[2019-09-25 16:01] U8NWXD commented on #7681
@nithusha21 can you assign this one to me?

[2019-09-25 16:10] kevintab95 commented on #7342
Might be fixed by #7520.

[2019-09-25 16:15] kevintab95 commented on #5458
Closing this since it is a duplicate of #6909.

[2019-09-25 16:15] #5458 closed, assigned to nobody

[2019-09-25 20:17] xoxwaw commented on #7450
Hi can I take **jobs_test.JobManagerUnitTests** ?

[2019-09-26 01:10] anamsarfraz commented on #6007
I am interested in working on this issue for GHC OSD

[2019-09-26 02:33] kevinlee12 commented on #7450
sure, go for it!

[2019-09-26 03:19] #7673 closed, assigned to kevinlee12

[2019-09-26 03:32] kevinlee12 opened #7699 "Dependency placement in package.json"
We need to standardize according to Yarn standards where to list dependencies in package.json, as their CLI upgrade packages and places them in the dependencies section vs the devDependency section.

[2019-09-26 05:13] vojtechjelinek commented on #7660
This doesn't show locally because the link is too short:
![image](https://user-images.githubusercontent.com/10142938/65659779-0c898500-e02d-11e9-8106-ff5e29cddb27.png)

![image](https://user-images.githubusercontent.com/10142938/65659790-1b703780-e02d-11e9-985f-6ff331d1616b.png)

[2019-09-26 06:14] vojtechjelinek commented on #7670
@seanlip By `Go to the exploration editor page.` you mean the page that will show as 404 if they're non logged in?

[2019-09-26 11:32] rajitha1998 commented on #7601
Hey I'm new here can I try this task as my first good issue @vojtechjelinek

[2019-09-26 11:42] vojtechjelinek commented on #7601
@rajitha1998 Sure you can, I have assigned you. If you have any questions just ask here.

[2019-09-26 18:59] rajitha1998 commented on #7601
I removed mathjaxConfig.ts, expression-parser.service.js from tsconfig.json, now I have to deal with karma-globals.ts and other two folders.

can you explain me a bit more about how to remove last Global from front-end tests and the process of removing other two folders.

[2019-09-26 20:15] vojtechjelinek commented on #7601
@Jamesjay4199 Do you have any suggestion regarding the last global in FE tests?

`typings` folder should be obvious from the issue description. `extensions/ckeditor_plugins` contains the `pre` plugin which is loaded in [ck-editor-4-rte.directive.ts](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/ck-editor-helpers/ck-editor-4-rte.directive.ts#L98) but since it is loa

[2019-09-27 03:26] kevinlee12 commented on #7601
It's fine to do the second one, since the first option isn't great. However, if @Jamesjay4199 has other suggestions, I'm all ears for that one.

[2019-09-27 04:54] xoxwaw commented on #7450
@ankita240796 could you please add @kevinlee12 as my reviewer? Thank you

[2019-09-27 05:01] kevinlee12 commented on #7450
I'll go ahead and do a review :)

[2019-09-27 06:39] bansalnitish opened #7704 "Presubmit checks command not working"
Running `python -m scripts.run_presubmit_checks` is failing with the following error:

![image](https://user-images.githubusercontent.com/22434689/65747636-8bf78100-e11f-11e9-88e3-916a116a0dde.png)

FYI, `python -m scripts.pre_commit_linter` runs fine.

[2019-09-27 07:53] DubeySandeep commented on #7704
@kevinlee12, `FILE_CACHE` was introduced in #7591 and calling `pre_commit_linter.main` directly causing this error. I've raised a comment [here](https://github.com/oppia/oppia/pull/7591/files#r328951038), do we use `run_presubmit_checks` file anywhere?

[2019-09-27 14:09] seanlip commented on #7670
Ah sorry, I think I forgot a step. Make sure to publish the exploration too
before logging out. (If the exploration is published, I don't think the
/create page will 404.)

On Thursday, September 26, 2019, Vojtěch Jelínek <notifications@github.com>
wrote:

[2019-09-27 14:33] kevinlee12 commented on #7704
@cuichenli, can you take a look at this? thanks!

[2019-09-27 22:45] ulloaluis commented on #4119
PTAL @lilithxxx @BenHenning

[2019-09-28 00:22] aboryslawski commented on #6271
Hi. Sorry, please un-assign me from the issue. I've spent a lot of time trying to resolve it, but I don't seem to be ready for such task.

[2019-09-28 01:46] DubeySandeep commented on #7693
Hi @Showtim3, I'm unable to reproduce this issue!

I cannot find a settings icon, can you please help?

[2019-09-28 02:04] DubeySandeep commented on #6271
Hi @worstahrieu, Thanks for the update, would you link to work on a simple starter issue, I can help you find such issue, let me know if you want so? :)

[2019-09-28 02:07] DubeySandeep commented on #6271
Unassigned @puneeth2001 because of lack of response.

@chetan-rns, have you started working on this issue?

[2019-09-28 02:47] xoxwaw commented on #6212
Can I try this?

[2019-09-28 02:48] kevinlee12 commented on #6212
sure, go for it!

[2019-09-28 03:01] #7704 closed, assigned to cuichenli

[2019-09-28 06:31] DubeySandeep commented on #7686
This isn't a bug, its an expected behavior in prod_env we store images in GoogleCloudService but locally GCS keys are not available so the upload fails.

[Closing this issue.]

[2019-09-28 06:31] #7686 closed, assigned to nobody

[2019-09-28 06:41] Showtim3 commented on #7693
@DubeySandeep See the first screenshot where my image is present, on hovering over it, the background color turns white, but on hovering over any child element, it does not. Whereas the about menu is working fine.
I don't know what to call it, settings menu or preferences menu or account settings though.

[2019-09-28 06:44] DubeySandeep commented on #7693
@Showtim3, Thanks for the explanation! :)

I tried reproducing it on oppia.org but it's still working fine:
![image](https://user-images.githubusercontent.com/16653571/65812755-6f278000-e1e9-11e9-86a6-2f7b285b6619.png)

Is it reproducible on `develop` only?

[2019-09-28 06:45] DubeySandeep commented on #7693
I see it's reproducible on the test server. (Marking this as a blocking bug!)

[2019-09-28 06:45] Showtim3 commented on #7693
Does the image/setting icon stay highlighted on hovering over the child dropdown?
It is happening on the develop as well as the test server also.

[2019-09-28 06:54] RafayGhafoor commented on #6271
@DubeySandeep, Can you please assign me remaining parts of this issue?

[2019-09-28 07:02] DubeySandeep commented on #7662
This is because of bootstrap upgrade and in bootstrap 4 `cursor: pointer;` CSS is removed for `role=button` attribute.

Reason:
A well-designed button does not need a hand cursor to help the user realize it does something.

And I totally agree with the above reason. I think we should have a hover effect on buttons for indication.

[2019-09-28 07:28] DubeySandeep commented on #7662
Assigning this to @Showtim3.

[2019-09-28 07:37] DubeySandeep commented on #7691
@nithusha21, I'm unable to reproduce this issue, is it because of any extension?

I see this on the test server:
![image](https://user-images.githubusercontent.com/16653571/65813280-d98fee80-e1f0-11e9-805c-8aa834a20895.png)

[2019-09-28 07:39] DubeySandeep commented on #6271
@RafayGhafoor, Yeah sure! :)

I've assigned you to remaining parts of this issue, you can check the header comment of this issue.

[2019-09-28 07:40] DubeySandeep commented on #7691
@nithusha21, I've assigned you to this issue as it's waiting on your reply! :)

[2019-09-28 07:57] DubeySandeep commented on #7670
@vojtechjelinek, would you like to work on this issue?

[2019-09-28 07:59] DubeySandeep commented on #7681
Hi @U8NWXD, sorry for the late reply, you can work on this issue? (This is a blocking bug so we expect this issue to get fixed quickly so that we can continue with the release process. For this kinda issue we expect a PR within 1-2 days, I hope it's fine for you!)

[2019-09-28 08:21] Showtim3 commented on #7691
Ok, so I can reproduce this, my chrome version is ```77.0.3865.90 (Official Build) (64-bit)``` and my OS is ```macOS Version 10.14.1 (Build 18B75)```. My guess is that it is a browser version issue.
Also, there is a CSS property `.form-group select {margin-right: 5px}` , on removing that the fields get aligned properly but i don't know if it is a valid fix or not.
![Screenshot 2019-09-28 at 1 36 2

[2019-09-28 09:02] DubeySandeep commented on #7694
@brianrodri, is this an expected behavior?

[2019-09-28 12:38] aboryslawski commented on #6271
Hi Sandeep, I'd be delighted to give it a try with a simpler issue.

On Sat, 28 Sep 2019 at 04:04, Sandeep Dubey <notifications@github.com>
wrote:

--
Adam Borysławski
+48 511 164 669

[2019-09-28 15:47] rajitha1998 commented on #7601
![Screenshot from 2019-09-28 20-30-06](https://user-images.githubusercontent.com/36359382/65818706-cb15f700-e231-11e9-8ebd-130843ddc50f.png)

The file ck-editor-4-rte.directive.ts shows me an error in VScode. Regardless of the error I ran a

`npx tsc  ck-editor-4-rte.directive.ts`

It converted the `ts` into `js` but there were errors showing up in the process (I think that was because there were

[2019-09-28 18:03] kevintab95 opened #7712 "Continue button label overflows if the text is too lengthy"
**Describe the bug**
Continue button label in the editor will overflow (ie. extends outside the editor) if the text is too long.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with a continue button.
 2. Edit the continue button to have a really long text.
 3. Observe that the label overflows.

**Observed behavior**
The continue button label overflows outside the edit

[2019-09-29 03:25] #7662 closed, assigned to Showtim3

[2019-09-29 04:04] kevinlee12 commented on #7590
@ankita240796 @bansalnitish I've assigned @ulloaluis for this issue, thanks for setting up this issue!

@ulloaluis I've added instructions on where to put the test files, see https://github.com/oppia/oppia/issues/7590#issuecomment-530929269 on the setup.

[2019-09-29 08:39] #7660 closed, assigned to vojtechjelinek

[2019-09-29 11:21] bansalnitish opened #7716 "Angular Migration: Remove all the filters"
This issue aims to remove all the filters that are not implement using Pipe after complete angular migration takes place. The filters implemented using Pipe is the way to use filters in angular 2+.

cc/ @kevinlee12

[2019-09-29 22:59] mzaman07 commented on #6338
So in addition to the following

- Record button.
- Mark "Needs update" button.
- Re-record button etc.

What else will be hidden ?
I noticed that you can press the "R" key to start recording when you have the exploration editor open and you are not logged in author/ authorized editor. (Not a big deal because it will fail
to upload because there is no user session.)

[2019-09-30 05:54] DubeySandeep commented on #6338
@mzaman07 Yeah, I think those button should be hidden. In General, anything which isn't accessible to the Guest or unauthorized user should be hidden.

to upload because there is no user session.)

This is important can you please create an issue for the same and let's think about how we can fix that.

[2019-09-30 12:43] lkbhitesh07 commented on #6271
hello sir, i'm confused what to do here because it's my first time in open source as well as on github. I think i didn't get what to do in this issue it'll be a great help if you guide me through or we start with simpler issue, it'll be a great help

[2019-10-01 01:51] mzaman07 commented on #6338
Ok thanks will check for all of that and I will create an issue.

[2019-10-01 02:11] xoxwaw commented on #6212
So I have been able to verify that my solution works. However, there are some existing files that have inline styling and it does not allow me to push. What should I do?

[2019-10-01 02:53] kevinlee12 commented on #6212
Can you pull out the styles into the individual blocks then?

[2019-10-01 03:03] xoxwaw commented on #6212
Would that affect the front end then?

[2019-10-01 03:04] xoxwaw commented on #6212
There are 33 places in total that use this styling.

[2019-10-01 03:14] kevinlee12 commented on #6212
If you do it properly, this change should not be visible to the user. And yes, as part of this ticket, you'll have to fix it in all of the places that violate this rule.

[2019-10-01 03:24] kevinlee12 commented on #7699
Resolved in https://github.com/oppia/oppia/pull/7711

[2019-10-01 03:24] #7699 closed, assigned to kevinlee12

[2019-10-01 07:05] DubeySandeep opened #7722 "Warning message visible to guest users on visiting exploration editor page"
**Steps to reproduce:**
- Log out from the [test server](https://oppiatestserver.appspot.com/).
- Visit any [exploration editor page](https://oppiatestserver.appspot.com/create/6bzU6wNnYqby#/gui/Introduction).

**Error log:**
`You must be logged in to access this resource.`

**Expected behaviour**:
There shouldn't be any such error log on editor page for guest users.

**Screenshot:**

![image](htt

[2019-10-01 08:23] DubeySandeep commented on #6271
@worstahrieu, What do you think of #7427? You can pick a part of that issue and once you resolve 1-2 issues from #7427 I think you'll have the basic understanding of the oppia backend code structure and you can start working on other issues. I hope this helps! :)

[2019-10-01 12:14] kevintab95 commented on #6921
This would happen if submit button is shown and clicked on for an interaction which has show_generic_submit_button set to false.

I suspect that `doesInteractionHaveNavSubmitButton` returns an error (eg. TypeError at INTERACTION_SPECS[$scope.interactionId].show_generic_submit_button).
https://github.com/oppia/oppia/blob/07dc68fe0453470745ba68f46f5006367bee37e6/core/templates/dev/head/pages/explora

[2019-10-01 16:25] Showtim3 commented on #7687
Ok I am looking into this..assigned to myself

[2019-10-01 19:50] Showtim3 commented on #7712
@kevintab95 @DubeySandeep Should we add a text limit to something like 50 chars?

[2019-10-02 03:25] #7687 closed, assigned to Showtim3

[2019-10-02 06:26] #7693 closed, assigned to Showtim3

[2019-10-02 15:19] edeediong commented on #7427
Hi, please I'm interested in fixing this issue.

[2019-10-02 15:20] aboryslawski commented on #6271
@DubeySandeep Sure, I'm up for it.

[2019-10-02 15:51] DubeySandeep commented on #7427
Hi @edeediong, I think you haven't signed the CLA yet, can you please follow the [getting started wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

[2019-10-02 15:54] DubeySandeep commented on #7427
Assigning `core/domain/exp_domain.py` to @worstahrieu.

[2019-10-02 16:59] nil3sh99 commented on #7334
Will work on the issue

[2019-10-02 17:13] DubeySandeep commented on #7334
@nil3sh99, I think you haven't completed the survey yet, would you mind filling up the survey form as asked [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

[2019-10-02 18:54] edeediong commented on #7427
@DubeySandeep thanks let me do that now

[2019-10-02 19:40] edeediong commented on #7427
Can I be assigned to `core/domain/state_domain.py?` I've signed the CLA

[2019-10-03 01:06] marianadasilvadev commented on #6240
I'd like to write a test for **View explorations created by another user on their profile page**

[2019-10-03 02:33] kevinlee12 commented on #6240
@marianazangrossi, you got it!

[2019-10-03 06:29] #7689 closed, assigned to Showtim3

[2019-10-03 06:37] Showtim3 commented on #7427
@edeediong Assigned you.. go ahead :) this one is all yours

[2019-10-03 13:12] lkcbharath commented on #6738
Is this issue still open? If so, can I be assigned to it

[2019-10-03 13:12] lkcbharath commented on #6482
Is anyone working on this? If not, can this issue be assigned to me?

[2019-10-03 13:17] DubeySandeep commented on #6482
Hi @Ikcbharath, I think you haven't signed the CLA yet, would you mind following the[ getting started wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first?
Thanks! :)

[2019-10-03 13:22] DubeySandeep commented on #6738
Hi @lkcbharath, I think you haven't signed the CLA yet, would you mind following the[ getting started wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first?
Thanks! :)

[2019-10-03 14:06] rahmot commented on #7569
@brianrodri  and @DubeySandeep, I will like to work on all the ".html".

[2019-10-03 14:13] KristiKovacs commented on #7450
Hello! I'd like to try: email_manager.BulkEmailsTests

[2019-10-03 14:21] DubeySandeep commented on #7450
Hi @KristiKovacs, I've assigned you to `email_manager.BulkEmailsTests`. You can start working on it! :)

[2019-10-03 14:44] jlynn-dev commented on #7176
~Hello - I'm going to claim `core/templates/dev/head/domain/skill/ConceptCardObjectFactory.ts` to work on today for the Grace Hopper Open Source Codeathon day~

Unclaiming - on vacation and don't want to slow anyone down.

[2019-10-03 16:05] rahmot commented on #7569
@brianrodri and @DubeySandeep, I have started working on it already.

[2019-10-03 17:01] DubeySandeep commented on #7569
@rahmot, As mentioned in the issue title "Blocked until November release", I don't think this issue is open to pick as of now. @brianrodri, can you please confirm?

[2019-10-03 18:43] kevintab95 commented on #6158
I was able to reproduce this locally. This would happen on a slow connection where the $interval sets off before the initSession function is called. I was able to reproduce this by tweaking the $interval duration to a shorter duration and throttling my connection speed.

![initialised_later](https://user-images.githubusercontent.com/11008603/66154620-8926ef80-e63b-11e9-9194-39debc45598b.png)

I pr

[2019-10-03 19:23] brianrodri commented on #7569
That's right, we're still in the process of deciding whether the Improvements Tab is functioning as intended and ready to deprecate the Feedback Tab entirely.

In other words, we still need more "practice" with the change and shouldn't be hasty in removing the code until then.

[2019-10-03 19:53] shubha-rajan commented on #6546
Hi! @anumsarfraz and I were investigating this issue at GHC Open Source Say, and we found that the issue is that `getResampledImageData` in `filepath-editor.directive.ts` gives all images a png data type. It also only draws one frame of the gif to the canvas. Can I be assigned to this issue so I can work on this further?

[2019-10-04 02:20] nuajen commented on #6240
Hi @DubeySandeep, nice to meet you! i'm a newbie. Can i be assigned in:
Exploration player features

 Play all interactions on the exploration player view, and make sure the input, and feedback works correctly.
 (Easy) The navigation (using next and back buttons) works correctly in an exploration. ???

[2019-10-04 02:23] rohitkatlaa commented on #7543
This issue is still not fixed.

[2019-10-04 02:33] kevinlee12 commented on #6240
@nuajen you got it!

[2019-10-04 06:52] import-keshav commented on #6546
Hello @shubha-rajan, go ahead.
unassigning myself.
Thanks

[2019-10-04 09:00] rahmot commented on #6271
Hello @DubeySandeep, I'd like to try "update_worked_examples"

[2019-10-04 09:05] rahmot commented on #7569
Okay, @DubeySandeep and @DubeySandeep I will till then. Thanks

[2019-10-04 10:05] rahmot commented on #7450
Hello @DubeySandeep, I'd like to try "suggestion_services_test.SuggestionServicesUnitTests".

[2019-10-04 10:07] DubeySandeep commented on #7450
@rahmot, I've assigned you to `suggestion_services_test.SuggestionServicesUnitTests`.

[2019-10-04 14:58] terrameijar commented on #5676
@vojtechjelinek Hello. I would like to take this up. I have limited experience with JS and gulp. Can you give me a pointer on what I need to do to remove gulp from setup? Thank you.

[2019-10-04 15:04] rahmot commented on #7450
@DubeySandeep, please can you put me through on how to get started with suggestion_services_test.SuggestionServicesUnitTests. Thank you!

[2019-10-04 15:29] DubeySandeep commented on #7450
@rahmot I would have approached this issue in the following way:

 After going through the details of the issue, I understand that  "Few test methods in test files are using private methods for testing, so I have to change the test methods such that it only uses the public methods."

Let's solve one test method for your case:

1. I looked into suggestion_services_test and found `test_accept_sugges

[2019-10-04 15:38] lkcbharath commented on #6240
Hello everyone! I'm new to Open Source and Oppia. Could I be assigned
- Config values should be editable in the config tab.

to get started with the workflow?

[2019-10-04 15:55] DubeySandeep commented on #6240
Hi @lkcbharath, I've assigned you to the same, you can go ahead and start working on the issue. Thanks! :)

[2019-10-04 16:13] rahmot commented on #7450
@DubeySandeep, thanks for the illumination. I sincerely appreciate.

[2019-10-04 17:32] vojtechjelinek commented on #5676
@terrameijar You need to find out from what places gulp is called, I think that only from `scripts/start.py` but you will need to check the other files too. Then you can remove the calls to gulp from these places. In the end, you can remove `gulpfile.js` and also all the gulp dependencies.

[2019-10-05 09:21] nithusha21 commented on #7691
I tried again on firefox and it didn't happen. I think this is quite specific to mac chrome only (not sure how css affects only one browser). I however feel this shouldn't block... @ankita240796 thoughts?

[2019-10-05 09:22] nithusha21 commented on #7653
This seems like something that is good to have, but not necessarily blocking the release IMO. /cc @ankita240796.

[2019-10-05 09:23] nithusha21 commented on #7694
I think this should be fixed by #7719. /cc @brianrodri. I'll close this issue for now, if it isn't fixed yet, please reopen it.

[2019-10-05 09:23] #7694 closed, assigned to nobody

[2019-10-05 09:24] nithusha21 commented on #7690
@brianrodri could you PTAL at this? This is blocking the release of the improvements tab.

[2019-10-05 09:25] nithusha21 commented on #7670
@ankita240796 should we make this block the October release?

[2019-10-05 09:31] #7441 closed, assigned to kevintab95

[2019-10-05 11:01] nithusha21 commented on #7663
This happens after upgrading bootstrap to 4.x https://stackoverflow.com/questions/46246534/angular-ui-bootstrap-accordion-keeps-collapsing-right-after-opening... However on reverting that commit, oppia is just broken for me :( I don't know how to revert that cleanly as I am not sure what other changes have been built on top of the bootstrap upgrade

[2019-10-05 11:02] nithusha21 commented on #7663
I am going to be away for a few days. Could anyone PTAL at this and prioritize this? If we can find a way to revert the bootstrap upgrade, let's do that as multiple issues were caused by that upgrade.

[2019-10-05 12:11] puneeth-chanda commented on #7427
@DubeySandeep Can you assign me an issue to work on.

[2019-10-05 12:31] risrawat90 commented on #7427
@puneeth2001 Which one do you want?

[2019-10-05 12:56] DubeySandeep commented on #7427
@puneeth2001, I've assigned you to `jobs_registry.py`.

[2019-10-05 13:02] Hudda commented on #7450
Hello @DubeySandeep can I take email_manager.DuplicateEmailTests ?

[2019-10-05 13:06] DubeySandeep commented on #7450
Hi @Hudda, I think you haven't filled the survey form yet, would you mind doing that first? Once you complete the instructions provided [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), do let us know we will go ahead and assign you to the issue you have selcted. :)

[2019-10-05 13:38] Hudda commented on #7450
@DubeySandeep I have adhered to your instructions and filled the form.

[2019-10-05 14:52] puneeth-chanda commented on #7427
Thank you @DubeySandeep will work on it.

[2019-10-05 15:54] DubeySandeep commented on #7450
@Hudda, I've assigned you `email_manager.DuplicateEmailTests`, you can go ahead and start working on it! :)

[2019-10-06 12:00] sauram commented on #6975
Hello @DubeySandeep
Can you assign me to the **domain** directory, as my starter issue.?

[2019-10-06 12:09] DubeySandeep commented on #6975
Hi @sauram, I think you haven't signed the CLA yet, would you mind following the instructions provided in the [wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) first?

[2019-10-06 12:27] kevintab95 commented on #7722
Hi @DubeySandeep, can you explain what should be the expected behavior? Thanks.

[2019-10-06 16:09] Hudda commented on #7372
@seanlip I would like to work on this

[2019-10-07 01:12] DubeySandeep commented on #7722
Hi@kevintsb95, I've updated the issue with more details, let me know if you need more information. Thanks!

[2019-10-07 06:04] ankita240796 commented on #7670
Yes, I think! Removing it from blocking bugs milestone and assigning to myself for October release.

[2019-10-07 06:10] kevintab95 commented on #7670
Hi @ankita240796, I've raised a PR #7750 for this already. PTAL Thanks.

[2019-10-07 14:08] ankita240796 commented on #7653
Assigning to myself to just keep a track of including this in the next release.

[2019-10-07 17:49] kevintab95 opened #7752 "TypeError: Unable to get property 'hintContent' of undefined or null reference"
This error occurred recently in production

[code]
**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discuss

[2019-10-07 19:40] sanyaade-teachings opened #7753 "White-listing Server host domain - Settings for GAE"
Hello Everybody,

I am trying to set oppia on my web-server. I was able to compile it on Centos 7 OS but I ran into GAE issues on whitelist of host domain

I have searched on issues raised on this portal but I could not find any answer or existing or related ones. Please help!

**This error occurred recently in production:**
Standalone/locally installed oppia
Google AppEngine: devserver needs to b

[2019-10-07 20:49] ankita240796 commented on #7722
Hi @DubeySandeep @anubhavsinha98,

I checked this issue and the error comes due to [can_edit_entity](https://github.com/oppia/oppia/blob/develop/core/controllers/acl_decorators.py#L2571) decorator being used in [LearnerAnswerInfoHandler](https://github.com/oppia/oppia/blob/develop/core/controllers/editor.py#L784).

I am not a lot familiar with this framework and I want to know why is this check re

[2019-10-07 21:01] ankita240796 commented on #7663
Suggestions by @vojtechjelinek on how to handle this issue:

- First find out if it is just a JS issue or just styling (suspected styling, because bootstrap 4 was introduced). Then maybe extract the styling classes and use them or create our own fork of ui-bootstrap
- If we are not going to revert bootstrap 4, we also need to add style to uib-popover and uib-pagination and we need to investigate u

[2019-10-08 04:19] DubeySandeep commented on #7722
`can_edit_entity` is used in handlers which we only allow editors to use, I'm not sure what's the expected behavior for the `LearnerAnswerInfoHandler`. Whatever be the case there should not be any warning message shown to a guest user without any action.

If the expected behavior is not to show the `LearnerAnswerInfoHandler` to guest users then don't make such a call if the user isn't logged in.

[2019-10-08 07:41] #6338 closed, assigned to mzaman07

[2019-10-08 09:22] DubeySandeep commented on #7753
@sanyaade-teachings, You have to change the host over [here](https://github.com/oppia/oppia/blob/develop/scripts/start.py#L143).

[2019-10-08 09:23] DubeySandeep commented on #7753
I'm closing this issue, feel free to open this issue if the above comment doesn't resolve your issue.

[2019-10-08 09:23] #7753 closed, assigned to nobody

[2019-10-08 10:12] christinechengubc commented on #6240
Hi, can I work on:

- (Easy) Mark correct answers after enabling correctness feedback

?

[2019-10-08 18:03] ankita240796 commented on #7722
Also, is this blocking? I think we can unprioritize this for the current release and move it to the October release since this will require Anubhav's input.

If we are marking this as blocking, I think we will need to remove the `can_edit_entity` decorator from the `LearnerAnswerInfoHandler`.

What do you think @DubeySandeep?

[2019-10-08 18:53] sanyaade-teachings commented on #7753
@DubeySandeep :

Many thanks for your support. I have to add my IP address as  adding **--enable_host_checking =false**  has no effect and was just throwing errors.

I am facing another issue. I created an exploration which I saved and tested, and published, now if I shut down oppia  (CTRL + C) and restarted it then the exploration will be gone and cannot be accessed any more. I will be grateful i

[2019-10-08 19:04] Showtim3 commented on #6240
@christinechengubc @nuajen Hey Juan, are you working on all four of the ```Exploration editor features``` or can I assign Christine to ```Mark correct answers after enabling correctness feedback```

[2019-10-09 04:03] christinechengubc commented on #6240
Yes, I'm just confused because I thought @nuajen asked to work on Exploration Player Features in his previous comment:

Exploration player features

If he is not working on that, but on Exploration Editor Features instead, I would be down to work on

- (Easy) The navigation (using next and back buttons) works correctly in an exploration

instead. Either way works for me. Thanks!

[2019-10-09 04:13] kevinlee12 commented on #6240
@christinechengubc, let's have you take `The navigation (using next and back buttons) works correctly in an exploration` now so that you don't have to wait for a response.

[2019-10-09 17:16] ankita240796 commented on #7690
Hi @nithusha21, I am not able to reproduce this issue. Can you please check once again? Thanks!

[2019-10-09 17:21] mridullpandey commented on #7336
hi i'm new here may i take this...
if so will you please elaborate a Little bit ..

[2019-10-09 17:44] #7681 closed, assigned to U8NWXD

[2019-10-09 17:45] DubeySandeep commented on #7336
Hi @mridullpandey, I think you haven't filled the survey form yet, would you mind following the instruction provided [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? Thanks! :)

[2019-10-09 17:54] DubeySandeep commented on #7753
@sanyaade-teachings, You can use the `--save_datastore` command to save the data. (see [here](https://github.com/oppia/oppia/blob/develop/scripts/start.py#L48)) But I'm not sure how reliable that would be, so make sure to backup your data before restarting the server.

This app is made to run on the PAAS Google app engine and I think this would run best on that.

[2019-10-09 23:53] sanyaade-teachings commented on #7753
@DubeySandeep :

Many thanks for getting back to me and for your advise and support.

My interest is to study oppia and its component parts like skulpt, nodejs, including the clojure and more...  Also I do run a server at home for research purpose which PaaS will defeat those objectives to learn oppia technologies.

I will try out  --save_datastore and also look into other commands and learn more

[2019-10-10 04:52] ankita240796 commented on #7690
I tried reproducing this and I saw another error in the console due to missing require statement for capitalize filter. I am not sure if this issue is related to that but I have issued #7757 to fix the capitalize filter.

Here is a screenshot of the error I get:

<img width="1643" alt="Screenshot 2019-10-09 at 11 11 58 PM" src="https://user-images.githubusercontent.com/15226041/66506471-05fa1380-e

[2019-10-10 07:48] Jethet commented on #6975
Hello @DubeySandeep, I would like to work on one of the directories that have not been assigned yet, either Domains or Services,, as my first issue. Can you please assign me?

[2019-10-10 07:50] DubeySandeep commented on #6975
Hi @Jethet, I've assigned you to `/domain` part of this issue, you can go ahead and start working on it.

[2019-10-10 07:56] DubeySandeep commented on #6975
Hi @rt4914, are you still working on the assigned part of this issue?

[2019-10-10 07:56] DubeySandeep commented on #6975
Hi @RafayGhafoor, any update on the assigned issue?

[2019-10-10 08:02] Jethet commented on #6975
Great, thanks a lot!

[2019-10-10 08:04] DubeySandeep commented on #6975
@RafayGhafoor, I found that your PR for the `/extension` part of this issue is already merged, so I've updated the issue description accordingly. Thanks! :)

[2019-10-10 08:47] mridullpandey commented on #7336
@DubeySandeep  i did..

[2019-10-10 09:02] DubeySandeep commented on #7336
Hi @mridullpandey, I reverified for the same and I didn't find any survey report on your name. Can you please check whether you have followed the step 2 of the instruction provided [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)?

[2019-10-10 10:08] Jethet commented on #6975
@DubeySandeep  This is my first time contributing to a project so I am not familiar with the GitHub etiquette. I have a few questions that are very beginner level, I am afraid. For example, I was looking at /oppia/core/domain as the directory to work on the renaming. But now I see these are all Python files, not .ts files as described above. Am I in the wrong directory?  I can imagine this is not

[2019-10-10 10:26] DubeySandeep commented on #6975
@Jethet, Your question is specific to this issue so I think you are in the right place. In general,[ Gitter](https://gitter.im/oppia/oppia-chat) is a better place for asking questions/help.

You should look into [oppia/core/templates/dev/head/domain](https://github.com/oppia/oppia/tree/develop/core/templates/dev/head/domain). Thanks for raising this question I've updated the issue description so t

[2019-10-10 10:38] kurokochin commented on #6446
I'd love to work on this! @YashJipkate

[2019-10-10 10:40] Jethet commented on #6975
Thanks, @DubeySandeep , I never would have found that! To be certain I do not mess up, one example: under /domain/classifier I will change the name of the file
AnswerClassificationResultObjectFactory.ts to
answer-classification-result-object-factory.FUNCTIONALITY.ts
But what is the functionality? I see 'ObjectFactory' as part of many file names but it is not a functionality as stated in the naming

[2019-10-10 12:59] mridullpandey commented on #7336
yess i did..it..

On Thu, 10 Oct, 2019, 2:32 PM Sandeep Dubey, <notifications@github.com>
wrote:

[2019-10-10 15:18] ankita240796 commented on #7690
I added some brief analysis in the doc [here](https://docs.google.com/document/d/1VarxAJNuzQA2FEKtvstbHT2mXLt2l7ngnT45Gfc5j-4/edit?usp=sharing).

@nithusha21 @DubeySandeep can you suggest on what can we do next? Do we need to add more logging info to debug this issue since the source of error is not clear?

[2019-10-10 16:23] ankita240796 commented on #7690
Hi @kevintab95, can you please look into [this](https://docs.google.com/document/d/1VarxAJNuzQA2FEKtvstbHT2mXLt2l7ngnT45Gfc5j-4/edit?usp=sharing) analysis once if you are free and provide some inputs? Thanks!

[2019-10-10 18:57] Rudy-Menekam commented on #7663
Hi, I am an outreachy applicant and will like to work on this issue.

[2019-10-10 21:08] emzee831 commented on #7450
Hello I am new to the python contribution world.  I would like to tactle
email_manager_test.EmailRightsTest
How would I go about starting to do this task?

[2019-10-10 22:54] Rudy-Menekam commented on #6446
hi, i am Rudy an outreachy applicant and will like to work on this issue

[2019-10-11 02:55] kevinlee12 commented on #7450
welcome @emzee831! Please take a look at our [contributor's guide](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) on how to get started.

[2019-10-11 03:53] Showtim3 commented on #7663
@Rudy-Menekam Sure, I have assigned you this. Go ahead!

[2019-10-11 05:59] ankita240796 commented on #7690
@DubeySandeep further looked into this and checked the ExpIssuesModel on test server. The model is missing for some of the exp versions of old explorations. We will need to:

- Find a reason for how this happened and improve the saving pipeline for the models
- Fix this issue for the release by finding a way to regenerate these models.

@nithusha21 can you help us with the regeneration process sin

[2019-10-11 06:06] DubeySandeep commented on #7690
I looked into this issue and found the error is happening around this line:
https://github.com/oppia/oppia/blob/0eb964ebfe2f9446d24a2a60e76dcea11c2264c5/core/controllers/editor.py#L534-L538

**Reason:**
On further investigation, I found that the ExplorationIssueModel is missing for the updated version of exploration. I'm not sure how and why the model is missing but I saw a pattern that can cause

[2019-10-11 08:50] Jethet commented on #6975
Hello @DubeySandeep, I have aligned the first 12 folders in the folder oppia/core/templates/dev/head/ with the file naming convention. It might be a good idea for me to make a pull request so that you can check if these changes are correct, to prevent structural mistakes when I continue working on this issue.
If you agree, then could you explain how to make a preliminary pull request for you to ch

[2019-10-11 10:22] ankita240796 commented on #7722
Hi @DubeySandeep, I looked into this further and I feel we are using a wrong decorator here. Shouldn't we be using `can_view_exploration_stats` decorator instead?

[2019-10-11 10:26] DubeySandeep commented on #6975
@Jethet You can create multiple PRs if you like, I'm fine with either as It's more of a mechanical change. (I would prefer to have multiple PRs for the `/domain` part.)

Whatever you do make sure to add an explanation in the PR thread.

[2019-10-11 10:35] DubeySandeep commented on #7722
As I've stated this in my above comment:

I just wanted to have a confirmation on this from @anubhavsinha98, I think we can go ahead and change the decorator for the `GET` request of `LearnerAnswerInfoHandler` to `can_view_exploration_stats`.

[2019-10-11 10:38] DubeySandeep commented on #7722
I also see `can_view_exploration_stats` for a post request of `ResolveIssueHandler`:

https://github.com/oppia/oppia/blob/0eb964ebfe2f9446d24a2a60e76dcea11c2264c5/core/controllers/editor.py#L563-L573

@brianrodri & @anubhavsinha98, is this an expected behavior?

[2019-10-11 11:12] Jethet commented on #6975
Thanks @DubeySandeep
I am trying to make my (first ever) pull request and am now looking at the points that are requested. How do I add PROJECT and CHANGELOG labels, and what needs to be added to these? A number or something?

[2019-10-11 11:16] Jethet commented on #6975
@DubeySandeep I also do not understand the last bit of the checklist: should I ask for a reviewer through the Gitter chat?
And how/where do I add a reviewer?

[2019-10-11 11:37] DubeySandeep commented on #6975
@Jethet, You can ask anyone on Gitter (or your onboarding mentor) to assign labels and reviewers to your PR!

[2019-10-11 11:56] Jethet commented on #6975
@DubeySandeep , sorry that I keep asking, but how do I do that:
a) adding the CHANGELOG and PROJECT labels (and what should I put after the labels?)
b) asking someone to assign labels and reviewers

[2019-10-11 14:57] Jethet commented on #6975
@DubeySandeep  FYI when the tests were run, there was a large section of error messages. This is a screenshot of part of that:
![image](https://user-images.githubusercontent.com/35808885/66661803-ecbaa980-ec47-11e9-8afe-1272e00547a6.png)
The tests finished without further error messages and the pull request was created.

[2019-10-11 17:57] mridullpandey commented on #7336
shall i..:-)

On Thu, Oct 10, 2019 at 6:29 PM mridul pandey <mridulpandey27@gmail.com>
wrote:

[2019-10-11 18:03] mridullpandey commented on #7427
Hi!,
i did filled CLA form can i take this up
:-)

[2019-10-11 18:39] rohitkatlaa commented on #6240
Hi @DubeySandeep  @nithusha21 Can I work on Admin tab functionality ,2nd test  (Assigning and viewing of roles should be possible in the roles tab).

[2019-10-11 19:32] #7089 closed, assigned to DubeySandeep

[2019-10-11 21:15] anubhavsinha98 commented on #7722
Actually, ```can_edit_entity``` checks whether that entity can be edited by that user or not.
It is used when the editor fetches the answer details of exploration, it checks whether the user has the right to edit the entity or not.

[2019-10-11 21:17] anubhavsinha98 commented on #7722
Actually, the Learner answer info in the improvements tab must only be shown only when the editor has logged in. It should not be shown to the guests.

[2019-10-11 21:19] anubhavsinha98 commented on #7722
Using ```can_view_exploration_stats``` will remove the notion of making it generalize for all the entities and right now entities stand here for exploration or question.

[2019-10-12 06:01] ankita240796 commented on #7722
Hi @anubhavsinha98 @DubeySandeep would it be a good idea to add a new decorator which works similar to `can_edit_entity` handler but does not raise an Exception if user is not logged in. Instead the get function will check if user is logged in or not and return empty data if user is not logged in? Thanks!

[2019-10-12 07:44] ankita240796 commented on #7722
I have issued #7763 with a fix as follows:

I have added a variable `IS_LOGGED_IN_CHECK_REQUIRED` in `EditorHandler` which is set to True. This variable is set to False in `LearnerAnswerInfoHandler`. It is used in the decorator and the editing activity check is skipped if it is False. The `LearnerAnswerInfoHandler` returns empty data now if user is not logged in and no exception is raised.

[2019-10-12 07:45] ankita240796 commented on #7663
Hi @Rudy-Menekam, this issue is urgent and needs a quick fix since it is blocking the September release. If you feel that you need more time to understand the codebase, I would suggest you to pick up a good first issue instead. Thanks!

[2019-10-12 09:17] omshii commented on #7427
Hello! Can I work on this?

[2019-10-12 10:10] nithusha21 commented on #7690
Hi, I took a look at this and I am actually quite confused. So there are many exploration versions for which ExplorationIssuesModel is missing, for example, the exploration https://oppiatestserver.appspot.com/create/Kr_LjJHJ3Fu2 which Ankita mentions, has versions upto 7 but has issue models only for versions 5 and 6. Is it necessary for every exploration version to contain an issue model? If so w

[2019-10-12 11:45] ankita240796 commented on #7450
Hi @rahmot, any updates here? Please feel free to let us know if you are stuck somewhere, we will be happy to help you! Thanks!

[2019-10-12 13:39] mridullpandey commented on #7100
hi @ankita240796 may i take this up...!

[2019-10-12 14:09] kevintab95 commented on #7381
Here's the latest stacktrace for this error:
![stacktrace](https://user-images.githubusercontent.com/11008603/66702672-c409e100-ed27-11e9-94c0-89082951ee9c.png)

[2019-10-12 16:31] mridullpandey commented on #7100
i'm working on this:-)

[2019-10-12 17:46] Showtim3 commented on #6240
@rohitkatlaa Hey Rohit, I was working on that, and have made some progress...Though I can drop that if you want?.

[2019-10-12 17:55] rohitkatlaa commented on #6240
@Showtim3 Thank you I would like to work on that because I am new to e2e testing and I thought it was the easy.

[2019-10-12 17:59] Showtim3 commented on #6240
@rohitkatlaa Hey I guess it's not an easy one...no file is present for the adminTab tests. And don't worry I'll get in touch with Nitish(@nithusha21 ), he is our testing team head and we will add some beginner-friendly tests to cover.

[2019-10-12 21:56] Showtim3 commented on #7427
@mridullpandey @KatherineAdair Hey guys, let me know which file you want to work with and i'll assign them to you right away!

[2019-10-12 21:57] Showtim3 commented on #6446
@Rudy-Menekam Hey assigned this to you...

[2019-10-12 22:16] omshii commented on #7427
@Showtim3 Could I be assigned to scripts/pre_commit_linter.py? Thanks! :)

[2019-10-13 03:02] rohitkatlaa commented on #7695
This issue is a duplicate of #7661

[2019-10-13 03:02] #7695 closed, assigned to nobody

[2019-10-13 04:01] kevinlee12 commented on #7622
@LanJosh would you mind taking this up?

[2019-10-13 04:26] Showtim3 commented on #7427
@KatherineAdair ok sure..it's yours.

[2019-10-13 05:48] ankita240796 commented on #7100
Sure @mridullpandey, Go for it! Do let me know if you need any help! Thanks!

[2019-10-13 06:55] nithusha21 commented on #6240
Hi @nuajen can you please clarify what you are working on based on @christinechengubc's comment above? Thanks!

[2019-10-13 06:58] nuajen commented on #6240
Yes i'm working in :
-  (Easy) Mark correct answers after enabling correctness feedback
-  The all interactions exploration should be loaded and we should ensure that every interaction loads correctly in the edit tab.

Sorry the delay!

[2019-10-13 07:02] nithusha21 commented on #6240
I would suggest doing the first one (Mark correct answers after enabling correctness feedback) and once that is merged picking the second one up as that is slightly more involved. Does that sound good @nuajen.

[2019-10-13 07:03] nuajen commented on #6240
@nithusha21  Okay! no probs

[2019-10-13 17:05] #7653 closed, assigned to kevintab95

[2019-10-13 17:18] kevinlee12 opened #7769 "Flaky e2e extensions tests"
The e2e tests relating to extensions is starting to be flaky again. Please see the
[log.txt](https://github.com/oppia/oppia/files/3722015/log.txt) for more information.

[2019-10-13 17:19] kevinlee12 commented on #7388
We have not seen this issue occur for some time, so I'll got ahead and close this issue.

[2019-10-13 17:19] #7388 closed, assigned to kevinlee12

[2019-10-13 18:14] mridullpandey commented on #7100
thanks @ankita240796

[2019-10-13 21:55] ulloaluis opened #7771 "configparser not properly installed through start script"
**Desription**
When attempting to run a backend test file that uses configparser, I received the error AttributeError: 'module' object has no attribute 'pre_commit_linter_test' (note that pre_commit_linter_test is a file not yet committed to develop at time of posting). After some debugging with Ankita, we found that I was missing the "configparser" module, which I had to install with "pip install

[2019-10-13 22:12] emzee831 commented on #7450
Just looked over the contribution guide and filled out all the information.

[2019-10-14 15:18] Claude-Kamaha commented on #4932
Hello i am claude kamaha an outreachy participant, please I would like to work on this issue.

[2019-10-14 16:41] ankita240796 commented on #7690
Hi @brianrodri @pranavsid98 can you please help us with this issue since solving this will unblock the release. Thanks!

[2019-10-14 18:15] ankita240796 commented on #7663
Hi @bansalnitish @AllanYangZhou since you both have expertise in the RTE domain, can you please help me with this issue?

Also @apb7 can you please check with @NishealJ regarding the issue caused by bootstrap upgrade.

Thanks!

[2019-10-14 18:16] ankita240796 commented on #7663
@Rudy-Menekam I have unassigned you for now. Please ping on the thread if you have figured out a fix to the issue and I will re-assign you. Thanks!

[2019-10-14 19:52] DubeySandeep commented on #7663
[code]

Adding the above style in [collapsible.directive.html file](https://github.com/oppia/oppia/blob/develop/extensions/rich_text_components/Collapsible/directives/collapsible.directive.html) will fix the issue but this isn't a solution as the bootstrap upgrade has affected all the angular-UI related code.

[2019-10-14 20:51] DubeySandeep commented on #7722
@anubhavsinha98, is ther any specific reason for that? Like all other parts of improvements tabs are visible to guest users, right?

[2019-10-14 20:53] DubeySandeep commented on #7722
Instead of changing the decorator let's change the frontend such that it doesn't makes call to the handler if the user deosn't have edit rights.

[2019-10-15 07:40] adrijaacharyya commented on #7427
Hi. I want to take up  scripts/deploy.py

[2019-10-15 07:56] Showtim3 commented on #7427
@adrijaacharyya all yours.. :D

[2019-10-15 09:30] aaksarin commented on #6584
Hello. @anubhavsinha98 If I understand correctly [decision](https://github.com/oppia/oppia/pull/6596#issuecomment-488207967) by @DubeySandeep in PR for this issue, this issue should be closed.

[2019-10-15 14:29] donosco99 commented on #7450
Hi, @DubeySandeep  can I work on  jobs_test.JobRegistryTests ?

[2019-10-15 17:44] Rubaaw commented on #6240
Hello All,
I'm new to writing e2e test, but i'd love to learn and work on

- Play all interactions on the exploration player view, and make sure the input, and feedback works correctly.

[2019-10-15 17:48] bansalnitish opened #7780 "PR is pushed even if frontend test fails"
It happened that I issued git push on my PR, the frontend tests failed but still the PR was pushed which is not something expected.

Screenshot:
![image](https://user-images.githubusercontent.com/22434689/66855976-db540300-efa1-11e9-9acc-212d02157dde.png)

[2019-10-15 17:54] Showtim3 commented on #6240
@Rubaaw Hey, assigned you ```Play all interactions on the exploration player view, and make sure the input, and feedback works correctly.```

[2019-10-15 18:14] ankita240796 commented on #7780
I am able to reproduce this too.

<img width="1143" alt="Screenshot 2019-10-15 at 11 43 55 PM" src="https://user-images.githubusercontent.com/15226041/66857814-aba6fa00-efa5-11e9-80a8-2fb9d9943133.png">

[2019-10-15 18:16] ankita240796 commented on #7663
I will try looking into this to find a replacement for using angular-UI with bootstrap 4 as suggested by @DubeySandeep.

[2019-10-15 19:25] kevintab95 commented on #7041
Should be fixed by #7697. Closing this issue for now, will be reopened if it occurs again.

[2019-10-15 19:26] kevintab95 commented on #7342
Closing this issue. Will reopen if it occurs again.

[2019-10-15 19:26] kevintab95 commented on #7086
Should be fixed by #7697. Closing this issue for now, will be reopened if it occurs again.

[2019-10-15 19:26] #7086 closed, assigned to nobody

[2019-10-15 19:27] kevintab95 commented on #6160
Should be fixed by #7697. Closing this issue for now, will be reopened if it occurs again.

[2019-10-15 19:28] kevintab95 commented on #5794
Closing this issue for now, will be reopened if it occurs again.

[2019-10-15 20:10] ulloaluis commented on #7771
I think this is connected to https://github.com/oppia/oppia/pull/7635.

[2019-10-16 00:17] marianadasilvadev commented on #6687
I'd to like to work on this issue

[2019-10-16 01:00] marianadasilvadev commented on #6687
Should I work on the explorationTranslationTab.js file?

[2019-10-16 11:10] khansaAmrouni commented on #6369
Hi! can I take and try to resolve this issues as a first contribution ?

[2019-10-16 11:44] import-keshav commented on #6369
Hello @khansaAmrouni, I will recommend you to start with #7427 #6271 #7450 these issues.
This issue is not complicated but if you are new to codebase then I will not recommend this.
But if you still want to work on this I will assign this to you.

Will, you want to work on this @khansaAmrouni?

[2019-10-16 11:59] khansaAmrouni commented on #6369
Yes, I agree, i prefer to choose another one then.
thanks!

[2019-10-16 12:14] khansaAmrouni commented on #6988
Hi! i want to contribute and resolve this issue!

[2019-10-16 13:00] Claude-Kamaha commented on #6959
hello please can i work on it

[2019-10-16 13:01] yashdusing commented on #6959
Yes. I’ve been trying to solve the issue but unfortunately I haven’t found a solution so far. You can work on it. I guess it has something to do with uibmodal for AngularJS

[2019-10-16 14:37] obulat commented on #7450
HI! I'm an Outreachy applicant interested in the 'print-to-pdf' project. Can I work on  draft_upgrade_services_test.DraftUpgradeUtilUnitTests ?

[2019-10-16 16:11] Claude-Kamaha commented on #6959
ok thanks @yashdusing
but i have a problem,i succeeded to reproduce the issue on my machine but this one seems to work well
"the dropdown for  if the learner's answer...  seems as if it is non-functional and hovering over the dropdown items highlights all of them instead of the item you intended to choose."
![window](https://user-images.githubusercontent.com/36427946/66937732-ea859000-f037-11e9-9b

[2019-10-16 16:40] rohitkatlaa commented on #6240
@nithusha21 I would like to work on All interactions are covered with e2e tests(Item Selection Input Interaction) test. Please assign me

[2019-10-16 18:07] #7780 closed, assigned to kevinlee12

[2019-10-16 18:26] kevintab95 opened #7783 "TypeError in exploration-data.service"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-10-16 18:49] yashdusing commented on #6959
The issue seems to occur only for some interactions like the one mentioned in the description

[2019-10-16 19:34] kevintab95 opened #7784 "Error: Could not complete the operation due to error 800a138f."
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-10-16 19:37] kevintab95 commented on #7784
This seems to happen on IE11 when Blob() method with an undefined second parameter.
![image](https://user-images.githubusercontent.com/11008603/66952521-6b657b80-f07a-11e9-8661-20ae658ca638.png)

[2019-10-16 20:28] vojtechjelinek commented on #6988
@khansaAmrouni Hi, I have assigned you! If you have any questions don't hesitate to ask here.

[2019-10-17 01:43] LanJosh commented on #7622
@kevinlee12  sure I can take a look at it this weekend

[2019-10-17 02:23] kevinlee12 commented on #7622
thanks!

[2019-10-17 03:00] kevinlee12 commented on #6240
@rohitkatlaa I've assigned you that test.

[2019-10-17 03:02] kevinlee12 commented on #7450
@obulat You got it!

[2019-10-17 07:36] nithusha21 commented on #1411
This is tracked in #6240

[2019-10-17 07:36] #1411 closed

[2019-10-17 16:10] khansaAmrouni commented on #6988
@vojtechjelinek  thanks!
so as i understood, we don't need fonts directory anymore, since we migrated to bootstrap 4,
i changed build.py and manifest files to webfonts, how can i detect if every thing went well , or is there something else i should do to remove fonts directory ?

[2019-10-17 16:37] khansaAmrouni commented on #6988
yes! also after i changed FONTS_RELATED_DIRECTOR_FILE to webfonts in build.py
and restart the project i got this error, seems that mathJax still needs fonts ?
[
![Screenshot from 2019-10-17 17-33-24](https://user-images.githubusercontent.com/40694058/67029218-cc399600-f104-11e9-9cdd-4a78c01c3eb4.png)
](url)

[2019-10-17 19:37] Showtim3 opened #7793 "Error while adding audio translation and publishing an exploration"
**Describe the bug**
A clear and concise description of what the bug is.
While adding the audio translation, and then publishing the exploration an error is thrown.
But on refeshing eveything works fine
**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration
 2. Click on audio translation
 3. Add translation and save
 4. Come back to editor
 5. Publish
 6. An error is encounter

[2019-10-17 22:42] vojtechjelinek commented on #6988
@khansaAmrouni This is a totally different error, it is just about the watchers for typescript compiler. The local server should work anyway.

[2019-10-18 02:53] brianrodri commented on #7574
Confirmed and closed. Thanks all.

[2019-10-18 02:53] #7574 closed, assigned to nobody

[2019-10-18 12:46] donosco98 commented on #7450
Hi, @kevinlee12  can I work on  jobs_test.JobRegistryTests ?

[2019-10-18 15:57] kevintab95 opened #7794 "TypeError: Cannot read property 'send' of undefined"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-10-18 16:08] kevintab95 commented on #7794
Occurred on Chrome 50 on Android (Lollipop).

[2019-10-18 16:21] kevintab95 commented on #7794
This would happen if the user clicks "Play target sequence" in a music interaction if the browser does not have the any of the following APIs:
window.AudioContext
window.Audio

![image](https://user-images.githubusercontent.com/11008603/67110772-1ac45e80-f1f1-11e9-813d-c643301479b5.png)

This error function is called when output is undefined:
![image](https://user-images.githubusercontent.com/1100

[2019-10-18 16:35] kevintab95 opened #7795 "Error: ngRepeat:dupes Duplicate Key in Repeater"
This error occurred recently in production

Angular Error page:

https://code.angularjs.org/1.5.8/docs/error/ngRepeat/dupes?p0=item%20in%20$ctrl.answer&p1=string:e&p2=e

Can use #4361 for reference as it may be related.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code i

[2019-10-18 16:44] kevintab95 opened #7796 "Error: [$rootScope:infdig] Infinite $digest Loop"
This error occurred recently in production

[code]

Angular errors page does not load because the header is too long.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of t

[2019-10-18 16:52] edeediong commented on #7100
Hi, can I get a better description on the this issue @ankita240796

[2019-10-19 01:24] seanlip opened #7797 "Address remaining review comments from PR #7630"
PR #7630 had to be merged early in order to unblock subsequent work, but there are a couple of issues from it that should be fixed in a follow-up PR. This issue is created to track this follow-up work.

Link to comments: https://github.com/oppia/oppia/pull/7630#pullrequestreview-304188326

[2019-10-19 04:12] kevintab95 opened #7798 "TypeError: Object doesn't support property or method 'Equals' at Anonymous function"
This error occurred recently in production

[code]

Occured on Edge 42 on Windows 10.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an

[2019-10-19 04:22] kevintab95 opened #7799 "TypeError: Cannot read property 'postMessage' of null"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2019-10-19 08:24] rohitkatlaa opened #7800 "Mouse is displayed as text cursor instead of pointer"
**Describe the bug**
In the learners Dashboard the mouse is displayed as text cursor instead of a pointer when hovering over the menu.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Learners Dashboard page'
 2. Hover over the left menu

**Video**
[video.zip](https://github.com/oppia/oppia/files/3746406/video.zip)

**Desktop**
 - OS: Ubuntu
 - Browser:chrome

**Additional context**
T

[2019-10-19 09:08] rohitkatlaa opened #7802 "Explorations search is not updating after changing the category."
**Describe the bug**
Search results in the library for the explorations is not displaying the correct results after the category of the exploration is changed. Even though the picture of the exploration changes it does not filter properly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with algorithm(for eg).
 2. Change the category of the exploration to art(for eg).

[2019-10-19 09:26] DubeySandeep commented on #7802
@rohitkatlaa, Thanks for reporting the issue! :)

In between steps 1 and 2 you have changed the exploration category from X --> Art? If so can you please update the issue thread so that it's clear?

[2019-10-19 09:33] rohitkatlaa commented on #7802
I have made the changes.

[2019-10-19 14:23] Showtim3 commented on #7450
@donosco98 Assigned you jobs_test.JobRegistryTests :D

[2019-10-19 16:24] discombobulateme commented on #7334
Hey all :) may I work in this issue?

[2019-10-19 17:46] rohitkatlaa commented on #7661
@nithusha21 can I work on this issue.

[2019-10-19 19:28] kevintab95 opened #7804 "Error: Failed to execute 'atob' on 'Window'"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-10-20 06:08] discombobulateme commented on #7334
Is this still an issue? I cannot find this cards, design looks quite different already.

[2019-10-20 06:16] discombobulateme commented on #6482
Hello :) is it anyone working on this? If not, may I? If so, could you help me understand the structure to find where to work on this issue?

[2019-10-20 08:22] DubeySandeep commented on #6482
Hi @discombobulateme, You can work on this issue I've assigned you! :)

I tried looking for the button UI using `git grep "Save and Publish Question"` and found a modal file (1). After that, I tried looking for the script file which uses this modal template using `git grep "question-editor-modal.directive.html"` and found the script file (2).

Files to check:
1. core/templates/dev/head/components/

[2019-10-20 10:27] discombobulateme commented on #6482
On it! Will have to study a bit about directives, but on it ;)

[2019-10-20 11:51] cuichenli opened #7806 "The back end server on WSL is unstable"
**Describe the bug**
I am developing on Windows Subsystem of Linux(WSL), somehow the backend server is really  unstable. I can always get the following error (looks like an upstream issue though).
[code]

**To Reproduce**
Steps to reproduce the behavior:
 Any actions that require interaction with the backend.

**Observed behavior**
 Request Timed out error may appear on the website.

**Expected be

[2019-10-20 12:09] discombobulateme commented on #6482
o/ here again! I can access the file, but cannot find page to open locally. How can I reach the skill editor to reproduce the issue?

[2019-10-20 14:18] smml1996 commented on #7124
Hi! I would like to work on this issue!

[2019-10-20 18:06] kevintab95 opened #7808 "Audio translation added by a translator is not working as expected"
When an audio translation is added by a user with the "Voice artist" role and the exploration is saved it is not reflected when the editor is accessed by another user (eg. user with manager role).

**To Reproduce**
Steps to reproduce the behavior:
 1. Log in as user X and create an exploration with translation.
 2. Make user Y a voice artist for the exploration.
 3. Log in as user Y and add a voic

[2019-10-20 18:18] kevintab95 opened #7809 "Misaligned buttons on the refresher modal"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start Fractions exploration.
 2. Click on wrong answers until refresher modal pops up.
 3. Observe that the buttons are not aligned properly in the modal.

**Observed behavior**
Yes and No buttons are not aligned properly in the refresher modal.

**Expected behavior**
Yes

[2019-10-20 21:05] EricZLou commented on #7355
Note: Maybe fixed with new instructions found on the Installing Oppia on Windows Wiki
(no change to codebase required _maybe_)

[2019-10-20 21:26] DubeySandeep commented on #7808
@kevintab95, I just wanted to make sure whether user X checks the audio voiceover in the same language in which the user Y has uploaded? (I see different selected language in the two images.)

[2019-10-20 21:42] DubeySandeep commented on #7124
Hi @smml1996, I've assigned you to this issue! :)
/cc @ankita240796

[2019-10-20 21:44] DubeySandeep commented on #6482
@aks681, Can you help @discombobulateme with steps to create a skill? (I'm not where these steps are documented.)

[2019-10-21 04:40] donosco98 commented on #7450
#7811

[2019-10-21 06:12] #7800 closed, assigned to rohitkatlaa

[2019-10-21 08:10] #7670 closed, assigned to kevintab95

[2019-10-21 11:44] rohitkatlaa opened #7814 "Mismatch in audio and the name of the language"
**Describe the bug**
In the test server the fractions exploration there is a mismatch in the audio and the name of the language of the audio. It should also not display the languages that cannot be played.

**Observed behavior**
The attached video gives a clear idea as to what is happening.
[video.zip](https://github.com/oppia/oppia/files/3750541/video.zip)

**Expected behavior**
There should be n

[2019-10-21 14:54] Hudda commented on #7450
@DubeySandeep can I work on other parts of this issue? I have already completed one part.

[2019-10-21 17:30] aks681 commented on #6482
You have to give yourself the admin role first. Go to the /admin page and in the Roles tab, assign your username the admin role.
Then, you can go to '/topics_and_skills_dashboard' to go to the dashboard from where you can create topics and skills. You can also click on the profile dropdown after giving yourself the admin role, and this option would be there now.
![image](https://user-images.github

[2019-10-21 18:38] brianrodri opened #7816 "Old Explorations are not having their ExplorationIssuesModel maintained"
Root cause of #7690

`ExplorationIssuesModel` is hardwired to handle very basic exploration changes (state rename/deletions, etc.). However, older Explorations have not been given a corresponding model, and are not getting recognized as requiring an update. This issue seems to be a fundamental problem at design-time, not necessarily caused by any recent update.

**Open Questions:**
- [ ] What is t

[2019-10-21 18:44] brianrodri commented on #7816
/cc @seanlip @DubeySandeep @nithusha21 @ankita240796

[2019-10-22 02:41] kevinlee12 commented on #7450
@Hudda, which one would you like?

[2019-10-22 04:58] Hudda commented on #7450
@kevinlee12 user_jobs_one_off_test.UserLastExplorationActivityOneOffJobTests will be fine.

[2019-10-22 05:16] discombobulateme commented on #6482
This option is not showed to me. Did I missed something on installation or maybe should fork some specific branch? Just checking... I'm forked from https://github.com/oppia/oppia
![Screen Shot 2019-10-22 at 07 15 05](https://user-images.githubusercontent.com/7980624/67260490-e0321e80-f49b-11e9-9293-7bbd497b301e.png)

[2019-10-22 05:36] DubeySandeep commented on #7450
Hi @Hudda, I've assigned you to `user_jobs_one_off_test.UserLastExplorationActivityOneOffJobTests`, you can go ahead and start working on it! :)

[2019-10-22 07:59] Jethet commented on #6975
@DubeySandeep  If nobody is working on the services directory, please assign me to this part of the issue.

[2019-10-22 08:58] aboryslawski commented on #7427
@DubeySandeep Sorry, I won't be able to help with this project for now. Things in life are taking too much of my time currently. Please un-assign me. I hopefully will be able to contribute later on as I started university, which hopefully will let me get better at understanding code, too.

[2019-10-22 17:54] MinervaLong commented on #6062
Hello! I would like to take this issue :)
Hi @DubeySandeep ¿Could you assign me this issue? Thank you

[2019-10-22 19:07] piotrhm commented on #6240
Hello, I'd like to take: Add audio translations for the state content. Thanks!

[2019-10-22 19:36] seanlip commented on #7816
Just to check -- is this due to ExplorationIssueModels never having been populated for already-existing explorations on the server, or due to new ExplorationIssueModels not being created when they should be?

[2019-10-23 01:16] kevinlee12 commented on #6240
@piotrhm you got it!

[2019-10-23 06:50] ankita240796 commented on #7450
Hi @rahmot, any updates on this? Please do let me know if you are stuck somewhere and I will be happy to help. Thanks!

[2019-10-23 13:00] kevintab95 commented on #7808
You're right @DubeySandeep, I could see the uploaded audio after I changed to voice over language for user Y to English. Nice catch! Thanks. :)

[2019-10-23 13:00] #7808 closed, assigned to kevintab95

[2019-10-23 14:45] ankita240796 commented on #7814
Hi @rohitkatlaa, Can you please update the issue with instructions on how to reproduce/check this on test server. Thanks!

[2019-10-23 14:50] ankita240796 commented on #7793
Hi @Showtim3, I am not able to reproduce this one (as mentioned by you on testing doc as well). So, I think we can close this now. Can you please confirm the same. Thanks!

[2019-10-23 14:53] ankita240796 commented on #7680
Hi @aks681, did you check the issue in #7666 and should this be considered as blocking? Thanks!

[2019-10-23 14:55] ankita240796 commented on #7665
Hi @aks681 @sophiewu6 can you PTAL? Thanks!

[2019-10-23 14:58] ankita240796 commented on #7814
Also @DubeySandeep can you please check this once too? Thanks!

[2019-10-23 15:39] aks681 commented on #7680
I just checked in develop, and this issue seems to be resolved.

[2019-10-23 17:22] DubeySandeep commented on #7814
Hi @rohitkatlaa, Thanks for reporting the issue, I think the creator or voice artist has uploaded the audio for the incorrect language in the exploration maybe you can leave a feedback in the exploration asking the creator to change the language of the audio.

[2019-10-23 17:25] DubeySandeep commented on #7814
I realized you have found this issue on test server so you don't have to do anything in this case!

We have uploaded audio on test server without changing the default language code and that's why the audio for the cards is not available for the correct language!

I'm closing this issue as I don't think we need to do something here, but feel free to open this if you still see any issue on prod serv

[2019-10-23 17:25] #7814 closed, assigned to DubeySandeep, rohitkatlaa

[2019-10-24 02:33] kevinlee12 opened #7830 "Add lint check to ensure that there is an empty line between imports and fileoverview"
Referencing https://github.com/oppia/oppia/pull/7779#discussion_r335841357, we should have a lint check to ensure that there is an empty line between the fileoverview and imports in python files.

[2019-10-24 02:37] kevinlee12 opened #7831 "Check for excessive empty lines between methods in python files"
As per https://github.com/oppia/oppia/pull/7779#discussion_r337735624, there should not be too many empty lines between methods in python files. We should create a lint check for this issue. See https://www.python.org/dev/peps/pep-0008/#blank-lines

[2019-10-24 06:26] U8NWXD commented on #7427
Assigned `core/domain/story_domain_test.py` to @nadintamer per our conversation

[2019-10-24 08:52] ankita240796 commented on #7680
Hi @aks681, thanks for checking! So, can we close this one now (Also since #7666 is already in for release, we do not need a cherrypick, right?) Thanks!

[2019-10-24 10:52] Showtim3 commented on #6482
@discombobulateme Go to the admin page then assign yourself the admin role from there.

[2019-10-24 11:22] aks681 commented on #7680
Yeah, closing this.

[2019-10-24 11:22] #7680 closed, assigned to aks681

[2019-10-24 11:48] marianadasilvadev commented on #6687
I'm facing some problems handling with js lint. @DubeySandeep @nithusha21 can you help me?

[code]

This function was created as part of the new test suite, but js linting throws an error saying .catch() is a syntax error.
Without the .catch(), the tests doesn't pass because I need it to check if the audio was successfully uploaded (if it's not a five minutes longer video for example).

Is there a

[2019-10-24 11:59] DubeySandeep commented on #6687
@marianazangrossi, I'm not sure why the lint is throwing an error, @nithusha21 do you have any thoughts on how to handel this?

Also, have you looked into [this PR](https://github.com/oppia/oppia/pull/6340/files#diff-e93a29290546fea224a0cff7229133ffR210)? This might be helpful?

[2019-10-24 12:05] vojtechjelinek opened #7836 "Can't logout on develop"
**Describe the bug**
The logout button is not working in local prod mode.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia
 2. Hover over the profile icon and select "Logout"

**Observed behavior**
The page is refreshed but the user is still logged in.

**Expected behavior**
The user should be logged out.

[2019-10-24 12:11] marianadasilvadev commented on #6687
Sure, this is going to be very helpful. I'm not finding the code from this PR in my project, and it is updated with develop

[2019-10-24 12:16] DubeySandeep commented on #6687
@marianazangrossi The changes in that PR were reverted as explained in this issue above.

[2019-10-24 12:25] DubeySandeep commented on #7836
@vojtechjelinek, I'm unable to reproduce this issue on dev mode with update develop branch.

Video link: https://drive.google.com/file/d/1AzLHwcGgHDBDkOe8TQ28Z5HFvhfPz2hO/view

[2019-10-24 20:03] DubeySandeep commented on #6062
Hi @MinervaLong, I've assigned you to the issue so you can go ahead and start working on it! :)

[2019-10-24 20:15] DubeySandeep commented on #7450
Hi @KristiKovacs, any update on the assigned issue?

[2019-10-25 07:17] #7722 closed, assigned to ankita240796

[2019-10-25 11:36] discombobulateme commented on #6482
WOOOWWWW super! Back in the game ;) thank you @Showtim3 \o/

[2019-10-25 11:47] donosco99 commented on #7450
@DubeySandeep can I work on  models_test.BaseCalculationUnitTests .

[2019-10-25 12:01] DubeySandeep commented on #7450
Hi @donosco98,  I think you haven't filled the survey form yet, would you mind doing that first? Once you complete the instructions provided [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), do let us know we will go ahead and assign you to the issue you have selected. :)

[2019-10-25 12:13] donosco99 commented on #7450
@DubeySandeep , I've Filled the survey

[2019-10-25 12:15] KristiKovacs commented on #7450
Hello, I’m still working on it but I’ll need some help. I’ll email you
later today with some updates/questions.

On Thu, Oct 24, 2019 at 4:15 PM Sandeep Dubey <notifications@github.com>
wrote:

[2019-10-25 12:15] DubeySandeep commented on #7450
@donosco98, Thanks for filling the survey report, I've assigned you to `models_test.BaseCalculationUnitTests` so you can go ahead and start working on it! :)

[2019-10-25 17:53] nithusha21 commented on #7836
I tried this on the test server and thankfully we can logout successfully. Confirming that this doesn't affect release-2.8.6!

[2019-10-26 01:35] lorryaze commented on #7450
Hello, I'm an outreachy applicant and I would like to work on gae_models_test.GenerateHashTests.

[2019-10-26 02:32] kevinlee12 commented on #7450
@lorryaze, you got it!

[2019-10-26 04:55] lkcbharath opened #7842 "Unable to make commits due to `pre-commit` git hook"
**Describe the bug**
I am unable to make commits as the `pre-commit` git hook throws this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the root of the 'oppia' directory
 2. Type `git add .`
 3. Type `git commit -m "Commit message"`
 4. Error appears

**Observed behavior**
python_utils is not getting imported from the root directory.

**Expected behavior**
The commit s

[2019-10-26 09:17] ankita240796 commented on #7793
Confirmed from @Showtim3 on hangouts, closing this one!

[2019-10-26 09:17] #7793 closed, assigned to nobody

[2019-10-26 09:28] ankita240796 commented on #7802
This same issue happens if we change the name instead of category.

[2019-10-26 14:54] Jethet commented on #6975
@DubeySandeep  Today I submitted the third and last PR for the work on the `domain` directory.

[2019-10-26 16:22] #7229 closed, assigned to nobody

[2019-10-26 19:41] aks681 opened #7847 "Dummy mail button in admin page"
**Is your feature request related to a problem? Please describe.**
There was an issue with the August release where mails weren't being sent from the production server and currently in our testing process, there is no path where we check whether mails are working.
**Describe the solution you'd like**
To mitigate such instances, this issue aims at adding a 'Send Dummy Mail' button to the admin page

[2019-10-26 20:17] vojtechjelinek opened #7848 "Changes after user_ids are migrated"
Generate user_id by our algorithm in base_models.py

[2019-10-26 21:23] tinuademargaret commented on #7450
Hello! I'd like to work on gae_models.VersionedModel

[2019-10-27 01:02] kevinlee12 commented on #7450
@tinumide, I've assigned you.

[2019-10-27 01:54] U8NWXD commented on #7450
Regarding `draft_upgrade_services_test.DraftUpgradeUnitTests.test_try_upgrade_success`, it looks like the private method isn't being accessed. The method looks like this:

[code]

The private method `_convert_states_v0_dict_to_v1_dict` is being created so that we can test `draft_upgrade_services.try_upgrading_draft_to_exp_version`, which relies on using a method of the name `_convert_states_v0_dic

[2019-10-27 01:59] nadintamer commented on #6271
@DubeySandeep Hi, can I work on update_worked_examples?

[2019-10-27 02:07] U8NWXD opened #7849 "White Background when Hovering Over Sign In Button"
**Describe the bug**
When hovering over the `Sign In` button on the landing page, the background behind the button turns white.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to http://localhost:8181/splash
 2. Hover over `Sign In`

**Observed behavior**
The background behind the button turns white.

**Expected behavior**
The background should remain green like the other buttons.

**Scr

[2019-10-27 04:25] kevinlee12 commented on #7450
`draft_upgrade_services.try_upgrading_draft_to_exp_version` should be changed to note use private methods. I would find out to see if you can perform the setup outside of the object instance.

[2019-10-27 06:56] seanlip commented on #7450
@U8NWXD One thing you could do is to swap out draft_upgrade_services.DraftUpgradeUtil with a MockDraftUpgradeUtil (for the DraftUpgradeUnitTests), and have that MockDraftUpgradeUtil define the appropriate conversion functions for the tests.

[2019-10-27 09:32] ankita240796 opened #7851 "Switch from ui-bootstrap to ng-bootstrap after upgrade to Angular 8"
Issue #7663 is fixed by #7850 as a temporary fix by adding CSS styling. We need to remove the CSS styling and instead switch to ng-bootstrap which works fine bootstrap 4. This can be done after Collapsible block is upgraded to Angular8.

[2019-10-27 12:53] cuichenli opened #7852 "Skulpt compile failed to compile the skulpt-stdlib.js file"
**Describe the bug**
When compiling the skulpt package, it is supposed to produce two files, `skulpt.min.js` and `skulpt-stdlib.js`, while on my machine, only `skulpt.min.js` is compiled. The main reason is the lack of `libreadline.so.6` file. And the absent of this stdlib file is causing a 404 error in e2e test (at least my local machine). Currently my workaround is soft link the `libreadline.so.

[2019-10-27 16:34] #7663 closed, assigned to ankita240796

[2019-10-27 16:37] #7802 closed, assigned to ankita240796

[2019-10-27 17:17] Hudda commented on #7831
@kevinlee12 can I work on this one?

[2019-10-27 17:20] kevinlee12 commented on #7831
sure!

[2019-10-27 18:40] kevintab95 opened #7855 "e.message is not a function"
This error occurred recently in production

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team member (have this discus

[2019-10-27 21:43] vojtechjelinek opened #7858 "Add has_reference_to_user_id to remaining models"
- Add `has_reference_to_user_id` to all models
- Remove `skip` from `storage_models_test.py`

[2019-10-28 16:20] TakorLucila opened #7862 "A milestone should be created within the lessons to make the student check progress"
-create a progress bar within the explorations for the student to check progress while taking the explorations

[2019-10-28 18:39] DubeySandeep commented on #4417
@nithusha21 Can we clear the expected behavior for this issue?

My suggestion:
We should not allow users to edit the exploration until the "exploration publish" call is complete.

[2019-10-28 18:41] DubeySandeep commented on #4417
Also, I'm removing the "good first issue" label from this issue as the description of this issue isn't enough to add a "good first issue" label to it.

[2019-10-29 00:07] vojtechjelinek opened #7867 "Redirect oppiaserver to oppiatestserver"
http://oppiaserver.appspot.com no longer redirects to http://oppiatestserver.appspot.com on some pages like http://oppiaserver.appspot.com/about.

This is caused by using static handlers in app.yaml for these pages.

We need to find a way to redirect these pages.

[2019-10-29 02:19] kevinlee12 opened #7868 "Add lint check to ensure that there is a newline above args in python doc string"
As per https://github.com/oppia/oppia/pull/7813#discussion_r339459963, we should be adding a newline above the Python doc string.

[2019-10-29 07:56] seanlip opened #7869 "Various elements on the Collections page are in the wrong place"
In the latest release, it looks like a bunch of elements on the Collections page are not showing up correctly. See screenshot below:

![Screenshot from 2019-10-29 00-52-09](https://user-images.githubusercontent.com/10575562/67747676-845d1d80-f9e6-11e9-9ef0-b9df4f5d0843.png)

In particular:
- The "Site Feedback" link is in the wrong place.
- The "Share This Collection" text at the bottom right is h

[2019-10-29 07:58] seanlip commented on #7869
/cc @nithusha21 @ankita240796 @DubeySandeep

[2019-10-29 08:05] DubeySandeep commented on #7869
@seanlip, Thanks for reporting!

I see a similar pattern on other pages as well but it disappears once the page is fully loaded.

![image](https://user-images.githubusercontent.com/16653571/67748440-f0746b80-fa50-11e9-8071-6e53a518e34c.png)

[2019-10-29 08:08] seanlip opened #7870 "Translated content has incorrect margin cutoff"
**Describe the bug**
On the translation tab, the translated content seems to have a too-wide margin at the right, compared to the original content. See screenshot below -- the translated content has a lot of whitespace at the right for some reason.

![Screenshot from 2019-10-29 01-06-18](https://user-images.githubusercontent.com/10575562/67748568-73151080-f9e8-11e9-9691-dd5c632c67c3.png)

**To Rep

[2019-10-29 08:09] seanlip commented on #7870
/cc @DubeySandeep @mzaman07

[2019-10-29 08:09] seanlip commented on #7869
Hm, that seems like a bug, too...

[2019-10-29 08:36] ankita240796 commented on #7869
I have escalated the issue to @vojtechjelinek and @Jamesjay4199 as well to get further help on this.

[2019-10-29 08:53] #7855 closed, assigned to nobody

[2019-10-29 09:24] jameesjohn commented on #7869
From my investigation, the collection list isn't showing on mobile due to some bootstrap styling that was done wrongly.
https://drive.google.com/open?id=1KYYrdnrcpjFOMym1ob9GkbgPmi8UwL9J

[2019-10-29 10:06] ankita240796 commented on #7869
Hi @Jamesjay4199, Thanks for looking into the mobile view issue. I will look into that in detail. In the meantime, can you please handle the misalignment of site feedback button instead? Thanks!

[2019-10-29 10:06] vojtechjelinek commented on #7869
It seems to me like some kind of styling mismatch, maybe introduced by bootstrap. The only thing I found is that the "Site feedback" is placed according to `oppia-collection-player-tiles-container` `min-height` param.

[2019-10-29 10:09] vojtechjelinek commented on #7869
Also, the right bottom corner is somehow misaligned.
![image](https://user-images.githubusercontent.com/10142938/67757571-602c2b80-fa3c-11e9-8d56-714b1603c17a.png)

[2019-10-29 10:11] vojtechjelinek commented on #7869
It seems to me that maybe the [CSS normalizer](http://necolas.github.io/normalize.css/) (part of Bootstrap) might have changed some values.

I have to go now so I won't be able to look into it in next few hours.

[2019-10-29 10:54] ankita240796 commented on #7869
So, I tried looking into the PR which introduces bootstrap 4 and it removes some css styling from oppia-site-feedback class ([Ref](https://github.com/oppia/oppia/pull/7319/files#diff-a5de01b7be4948894c7b8f8782677062L503)). I added this styling back and the feedback button works correctly but I am not sure why was this removed in the first place.

@NishealJ can you please confirm why were these sty

[2019-10-29 11:25] ankita240796 commented on #7869
Further, the issue of page not showing up on mobile screens is due to the change [here](https://github.com/oppia/oppia/pull/7319/files#diff-a6d495f97766c21bf21dd6ff2e10723eR117).

I checked the bootstrap 4 documentation for [display utilities](https://getbootstrap.com/docs/4.0/utilities/display/).

It mentions that:

[code]

Now, the line which is changed has classes `hidden-md hidden-lg hidden-xl

[2019-10-29 11:25] ankita240796 commented on #7869
@seanlip @DubeySandeep what do you suggest?

[2019-10-29 11:57] nishantwrp commented on #6240
Hi, I'm new to writing test cases. I want to work on 'Config values should be editable in the config tab'.

[2019-10-29 16:03] hamletv commented on #7849
Hello U8NWXD.
I'm a first time contributor, can I try to work on this bug?
FYI: issue does arise on Mac OS Mojave in both Firefox and Chrome

[2019-10-29 16:04] emzee831 commented on #6271
Hello, I would like to contribute to this issue.

[2019-10-29 17:52] #7797 closed, assigned to vojtechjelinek

[2019-10-29 18:16] seanlip commented on #7869
Thanks for taking a look! Please go ahead and make the changes mentioned (including a fix for the share the collection text). If the sharing icons in the bottom right is not a regression, we can probably keep it as-is for now.

[2019-10-29 18:23] seanlip commented on #6601
Deassigning @anubhavsinha98 due to lack of response.

[2019-10-29 18:24] seanlip commented on #7228
I believe this is fixed in https://github.com/oppia/oppia/pull/7258. Closing.

[2019-10-29 18:24] #7228 closed, assigned to anubhavsinha98

[2019-10-29 19:08] kevintab95 opened #7872 "Cannot read property 'raw_latex-with-value' of undefined"
This error occurred recently in production with release 2.8.6.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team memb

[2019-10-29 19:13] kevintab95 commented on #7381
This seems to occur in release 2.8.6 with a different stack trace:
[code]

[2019-10-29 19:23] kevintab95 commented on #7342
This occurred again with the following stack trace:
[code]

[2019-10-29 19:35] kevintab95 commented on #5794
This issue still occurs in release 2.8.6:
[code]

[2019-10-29 19:42] kevintab95 opened #7873 "Undefined is not an object (evaluating 't.attributes["text-with-value"]')"
This error occurred recently in production with release 2.8.6.

[code]

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logic of the proposed fix validated by an Oppia team memb

[2019-10-29 19:49] seanlip commented on #6240
@nithusha21 Not sure this should be closed yet?

[2019-10-29 20:27] nithusha21 commented on #7873
Hi, this was reproduced while trying to play auto-generated audio on safari. Here are the steps I took
- Login, and load the welcome exploration from the admin tab
- Go to /explore/0
- Click on the audio bar, and select "English (Auto)" (Selected by default usually).
- Click play audio and check the console.

Note: The audio doesn't play and this exact message is logged on the console. I think aut

[2019-10-29 20:30] nithusha21 commented on #7873
Surprisingly I just noticed this bug on Chrome too (on the test server). I think this might be affecting the release. /cc @ankita240796 I think it broke after the final cherrypicks as I was working with the audio bar before that with no issues.

[2019-10-29 20:31] nithusha21 commented on #7873
I tried on a different exploration and it didn't happen. Could someone confirm this error message *does not* happen on https://oppiatestserver.appspot.com/explore/16 but *does* happen on https://oppiatestserver.appspot.com/explore/1 ?

Edit: This happened on chrome too.

[2019-10-29 20:34] U8NWXD commented on #7849
@hamletv go for it! I've assigned it to you

[2019-10-29 21:21] kevintab95 commented on #7873
The issue seems to be here:
https://github.com/oppia/oppia/blob/49261318ea09f27c2bc55801eb5ad2d6874143a3/core/templates/dev/head/services/SpeechSynthesisChunkerService.ts#L174-L177

I used a break-point on the console and noticed that <HTMLElement><any> is converted to _this which does not contain attributes. It should have been this.attributes.

This might be the problematic commit: 5bdf31472a0e5

[2019-10-29 21:22] kevintab95 commented on #7873
Could the keyword "any" be misinterpreted by the typescript in line 176? Or the scope of 'this' is different. Not sure.

[2019-10-29 21:27] kevintab95 commented on #7873
This is related to #7872. Same issue but for Math interactions.

[2019-10-29 21:44] seanlip commented on #7849
Hi @hamletv, welcome! Could you please follow the steps [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) beforehand, though? Once you've done that, let us know and we'll reassign you. Thanks!

[2019-10-29 21:50] seanlip commented on #7873
Just confirming that this is the case.

Also /cc-ing @ankita240796 as she is planning a hotfix for another issue.

[2019-10-29 22:13] hamletv commented on #7849
Thank you. Sure thing seanlip, will let you know once done.

[2019-10-30 02:19] kevinlee12 commented on #5326
We no longer use Vagrant, so I'll close this.

[2019-10-30 02:19] #5326 closed, assigned to nobody

[2019-10-30 02:19] kevinlee12 commented on #7769
This is no longer a common issue, so I'll close this.

[2019-10-30 02:19] #7769 closed, assigned to nobody

[2019-10-30 05:26] DubeySandeep opened #7875 "Allow contributors to pick alternative lesson for their voiceover application instead of rejecting without reason"
Currently, while accepting the voiceover application we are going to reject all the similar voiceover applications such that only one contributor is assigned to a lesson to voiceover in a specific language.

This method doesn't look fair, instead, we should allow those similar applications to go through the review process and if they are getting accepted then allow the author to pick any alternati

[2019-10-30 08:18] discombobulateme commented on #6482
Reporting that I'm still on this issue, I'm just very new to Angular and studding before making the PR.
I followed Ben's tutorial and the "git grep" hint. Now I'm comparing files with other parts of the code with similar function needs, trying to follow a pattern and code style.
Problem is very easy to understand what's need to be done, I'm stuck on the syntax, on how to say that to Angular :/ hop

[2019-10-30 08:25] Showtim3 commented on #6482
@discombobulateme Sounds awesome, there's no hurry take ur time. However, if you hit a block and unable to find a complete solution, you can always post here or on our Gitter channel and ask for help. Also if u have made some progress and need some help, you can also open up a PR and we can take a look and solve that together.

[2019-10-30 08:27] discombobulateme commented on #6482
Thank you soooo much @Showtim3 ! I've being learning sooo much in the past days! I'll keep in close touch here and at Gitter. Thank you!

[2019-10-30 08:59] DubeySandeep commented on #7873
I looked into it and I found this is happening when there is any link in the html. I've assigned this issue to myself, I'll create PR soon!

[2019-10-30 10:30] DubeySandeep commented on #7862
Hi @TakorLucila, Thanks for the feature request, can you please fill-up all the details asked in the issue template?

[2019-10-30 10:53] TakorLucila commented on #7862
Ok i will do just that

On Wed, Oct 30, 2019 at 11:30 AM Sandeep Dubey <notifications@github.com>
wrote:

[2019-10-30 11:25] nishantwrp commented on #6240
@seanlip Hi, I'm new to writing test cases. I want to work on 'Config values should be editable in the config tab'.

[2019-10-30 12:24] xlogix commented on #6738
The link to the file can be updated. Here is the new [link](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/common-layout-directives/navigation-bars/side-navigation-bar.directive.ts#L29)

[2019-10-30 12:35] christinechengubc commented on #6240
Hi, as I'm struggling a lot getting the e2e tests set up and running, I don't think I'm able to continue with this ticket. Could you please remove me from:

- (Easy) The navigation (using next and back buttons) works correctly in an exploration

Sorry for the trouble and thanks.

[2019-10-30 12:38] nishantwrp commented on #6240
Then I would like to write those tests: The navigation (using next and back buttons) works correctly in an exploration

[2019-10-30 12:54] xlogix commented on #6738
`controllerAs: '$ctrl',
      controller: ['$timeout', '$window', function ($scope, $window) {
        var ctrl = this;
        ctrl.currentUrl = $window.location.pathname;`

Does this fix this issue?