[2020-07-25 13:21] #7307 closed, assigned to nobody

[2020-07-25 19:15] #10020 closed, assigned to nobody

[2020-07-25 20:35] nishantwrp commented on #9982
![Screenshot_20200726_015551](https://user-images.githubusercontent.com/36989112/88465841-ed28e600-cee3-11ea-9b59-d0b97ce84fcd.png)

Hi @seanlip, Actually in http requests made by `$http` angular Js client for http clients the error is of above format. So, in those files we can use `errorResponse.data.error`.

And in angular files. In the http requests made by `HttpClient` we can use `errorRespons

[2020-07-25 21:18] seanlip commented on #9982
Oh, I see. Yup, that convention sounds fine to me, thanks! I suggest that you coordinate with the Angular team (@bansalnitish @srijanreddy98 @orthodoxparadox) so that they know the convention too and can enforce it while migrating new services.

[2020-07-25 21:28] sainanee commented on #9982
@seanlip Should I add it to the [Migration Guide](https://github.com/oppia/oppia/wiki/Angular-Migration)?

[2020-07-25 21:32] seanlip commented on #9982
Yup, probably a good idea -- thanks!

[2020-07-25 21:36] #9552 closed, assigned to iamprayush

[2020-07-25 21:42] sainanee commented on #9982
Done! Added to point 6 c) in migrating services in the Angular Migration Guide!

[2020-07-25 22:05] sainanee opened #10039 "Add Linter test to specify files for using SafePipe"
This issue aims to address adding a linter test for specifying files in which the SafePipe can be used. The SafePipe is being added as part of #10030 for sanitizing html, scripts, urls, styles and resource urls.

The SafePipe aims to sanitize values to avoid the `ERR_UNKNOWN_URL_SCHEME` due to unsanitized values being passed into the variables in html files.

The usage is as follows:
`"unsanitized

[2020-07-25 22:14] seanlip commented on #10039
@orthodoxparadox Please could you give full details in this issue about what SafePipe is, what the linter test does, and what exactly the person who is assigned to this issue needs to do? Thanks.

[2020-07-25 22:23] sainanee commented on #10039
@seanlip Updated! Does this look better? I don't exactly know how to tackle this yet, but I'm sure I can figure it out, so I have assigned it to myself

[2020-07-25 22:26] seanlip commented on #10039
Thanks! Yes, this is a bit better. The last paragraph is not clear, though. Please be specific about what the "correct type of file" is.

Also the wording is a bit unclear. When you say "the pipe is used in the correct type of file", it suggests an implication of the form "if the file has type X, the pipe must be used". But I think you might mean "if the pipe is used, then the file has type X". If

[2020-07-25 22:30] sainanee commented on #10039
Ah, yes, I see the fallacy. Fixed. Will do for future issues! Thanks, Sean!

[2020-07-25 22:31] seanlip commented on #10039
Much better. Thanks!

[2020-07-26 05:56] Hudda opened #10042 "Merge all CommentCheckers check."
#9922 introduced a lint check to check pylint pragma comments, but we still have one other class which is using IRawChecker to implement the logic. Change that class to use ITokenChecker and merge with check introduced in #9922

[2020-07-26 07:35] aggarwalpulkit596 opened #10044 "Change default outcome behvaiour for ImageClickInput Interaction"
**Is your feature request related to a problem? Please describe.**
For ImageClickInput interaction, default/unspecified region behavior cannot be matched with the web as there are more accidental touches in android as compared to the web, and calling out default outcome state can lead to bad UX or user might get frustrated.

**Describe the solution you'd like**
We want to introduce a customization

[2020-07-26 07:47] donosco99 opened #10045 "Remove the temporary functions created for generating and saving SVGs for math rich-text components once all the entitites have a valid SVG file stored for them."
Remove all the temporary functions created for generating and saving SVGs for math rich-text components introduced in #9985 .
The following are functions and their locations.

- `class ExplorationsLatexSvgHandler` in `core/controllers/admin.py`

- `generate_html_change_list_for_state()` in `core/domain/exp_services.py`

- `get_batch_of_exps_for_latex_svg_generation() in core/domain/exp_services.py

[2020-07-26 16:12] vojtechjelinek opened #10049 "Remove deprecated fields from models"
### Description

A few of our storage models have deprecated fields, these should be removed by a one-off job. You can look at #9329 where we removed `username` from all the commit log models.

### List of deprecated fields

#### Models that inherit from `BaseModel`

- [x] `ExpSummaryModel` → `translator_ids` @rohitkatlaa
- [x] `UserSettingsModel` → `gae_user_id` @rohitkatlaa
- [x] `UserSubscripti

[2020-07-26 18:49] sajalasati opened #10051 "Rename domain functions meant for full account users only"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

### File: core/domain/user_services.py :
- [ ] `has_fully_registered()` --> `has_account_fully_registered()` - because "profile" users will have username as None always(enforced by validation), hence it will always be returned as False for

[2020-07-26 18:58] sajalasati opened #10052 "Changes in UserSettings domain object"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Using the changes in UserSettingsModel in PR #10105, we need to modify UserSettings domain object to support profiles. Places to focus on:
- UserSettings: class attributes and class method - validate() - it will be different for learner ro

[2020-07-26 19:11] sajalasati opened #10053 "Fix domain methods depending on username for profiles"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Fix the following methods in `core/domain/user_services.py` to work well with usernames after the introduction of profiles and android accounts - profiles won't have username, and username of android full user may not be set, hence changes

[2020-07-26 21:52] nishantwrp opened #10055 "Get rid of unnecessary optional properties"
There are a lot of `?` in the types that are not required. They should be removed.

[2020-07-27 11:27] nishantwrp opened #10064 "Unable to run backend tests"
I used this command to run a backend test
[code]

ERROR LOG
[code]

@srijanreddy98 was also facing this issue.

[2020-07-27 11:39] seanlip commented on #10064
I have been seeing some issues in the deploy scripts as well that seem like import errors due to the imports being moved around. In particular "import github" doesn't work in deploy.py and it also seems to be using the wrong version of PyGitHub.

@Hudda is this related to your PRs (particularly the one that disabled multiline pylint checks)? If so, could you please fix it ASAP? Otherwise we would

[2020-07-27 12:42] Hudda commented on #10064
If changes made in https://github.com/oppia/oppia/pull/9922 are causing the problem, then I will create a PR to revert the imports changes by tonight.

[2020-07-27 15:48] sajalasati opened #10066 "Error handling in domain functions due to introduction of profiles"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Profiles are not allowed to set their usernames or update their roles. Following 2 functions need to be changed that handle these 2 cases for all users:
- Raise error when `core.domain.user_services.set_username()` function gets a user wit

[2020-07-27 15:53] sajalasati opened #10067 "Takeout and wipeout functionality for profiles"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Takeout and wipeout functionality needs to be implemented to handle batch requests for profiles (while exporting data or deleting all profiles) and ensure proper attributes are being returned for proper roles. This includes changes in file

[2020-07-27 16:07] sajalasati opened #10068 "Methods for creating new profiles and full users in domain layer"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Currently in the `core/domain/user_services.py` file we have a function `create_new_user()` that would now be changed to 2 separate functions for creating profiles and full users.
i.e New method names - `create_new_full_user()` and `create

[2020-07-27 16:14] sajalasati opened #10069 "Implement usage of the new UserAuthModel in the codebase"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

Changes in domain and controller layer for using UserAuthModel (implemented in issue #9972).
- [x] Populate UserAuthModel for new users - **done in PR** #10123 - has gone into release (this has eliminated the requirement of keeping a flag

[2020-07-27 18:47] shavavo opened #10072 "Todo for #9919: Write frontend tests for ensuring that customization argument backend types match the customization argument types."
In ```customization-args-defs.ts```, we define backend and frontend interfaces for customization arguments. They differ in that the backend interfaces contain SubtitledHtml/SubtitledUnicode dicts, while the actual interfaces contain SubtitledHtml/SubtitledUnicode domain objects. Otherwise, they are exactly the same and a test should enforce that each pair of backend/frontend interfaces only differ

[2020-07-27 20:55] #9996 closed, assigned to nishantwrp

[2020-07-27 21:36] shavavo opened #10076 "Run StatisticsCustomizationArgsAudit in stats_jobs_one_off.py for #9919"
In an effort to clean up how customization arguments are handled in the backend, I've removed the behavior of populating missing keys with default values. While the main use case and reason for this change was for interaction customization arguments, customization arguments are still used in stats_domain.py, specifically in ```Playthrough```,  ```ExplorationIssue```, and ```LearnerAction``` domain

[2020-07-28 02:56] brianrodri commented on #10076
I agree this is the safest/cleanest solution, thanks for this change!

[2020-07-28 05:59] sajalasati opened #10081 "(Blocked on Issue #10052, may need to refile) Add pending tests for profiles in acl decorators test file"
Write tests for "learner" role in `core/controllers/acl_decorators_test.py`, once the issue #10052 is solved.

After the implementation of these tests only issue #9970 should be closed.

More description:
- These new tests are needed as a additional role check in all of the functions in  acl decorators test file which give permission for certain actions based on roles.
- Creating these tests for p

[2020-07-28 06:00] seanlip commented on #10081
Please note that tests should generally go in the same PR as their corresponding functionality.

[2020-07-28 06:05] sajalasati commented on #10081
Actually this is with ref to my [comment](https://github.com/oppia/oppia/pull/10007#discussion_r461337156) in PR #10007. Due to dependency on a later PR, I had to create this issue separately that can remind me of this.
I can add the test for "profiles" in the same PR where #10068 will be solved. Sounds okay?

[2020-07-28 06:08] seanlip commented on #10081
Yes, that would be better -- thanks. Maybe file an issue for the later PR and add this there instead.

[2020-07-28 06:17] sajalasati commented on #10081
Oh wait, I am a bit confused now.
My current PR #10007 adds a new role for profiles but we can't tests for it there due to dependency on later PR.
I have planned to tackle issue #10052 and #10068 in a later PR, not out yet - say it's number is 'X' (it will implement things needed to implement these tests). My plan is to solve this issue also in the same PR 'X'.

If you are suggesting to close this

[2020-07-28 06:21] seanlip commented on #10081
Tests would be added in the first PR where they can be added. So, if X is the first PR which will enable the tests to be added, then file an issue for X and make sure that issue includes the requirement to add tests (and specify which sorts of tests).

[2020-07-28 06:27] sajalasati commented on #10081
Ok I will modify this issue to reference to 'X' PR once it's out and also include the requirements to add these tests.

[2020-07-28 06:33] seanlip commented on #10081
No, I don't understand -- can't you make this issue along the lines of "Do a PR that does X and add these tests there"?

[2020-07-28 06:39] sajalasati commented on #10081
Can you PTAL at description now?

[2020-07-28 06:41] seanlip commented on #10081
If you are planning to solve these three issues in one PR, then create an issue that combines all of them and close the other ones.

In general, for planned projects, create one issue per PR.

[2020-07-28 06:44] srijanreddy98 opened #10083 "Remove all ($rootScope | $scope).($broadcast | $on) from the codebase."
AngularJS has a mechanism called $rootScope.$on, $rootScope.$broadcast to emit and listen for events. However, we don't have such a thing in Angular. We need to remove all these instances (listed [here](https://docs.google.com/spreadsheets/d/1AwwHcsWKKrUfG55supjpEtLdh14gp1j7leSh0y9KwD4/edit#gid=1862509272)).

[2020-07-28 06:51] sajalasati commented on #10068
This will be tackled under Issue #10052 only, so closing this one.

[2020-07-28 06:51] #10068 closed, assigned to nobody

[2020-07-28 06:53] sajalasati commented on #10081
I combined all of these things under one issue (#10052) only. I hope that looks fine now. Thanks a lot for your suggestion and sorry for this long conversation. Closing this issue now.

[2020-07-28 07:17] seanlip commented on #10076
@shavavo When filing the form for testing #9919 pre-release, could you please also add a step to run this audit job? Thanks!

[2020-07-28 17:14] shavavo commented on #10076
Sure, will do

[2020-07-28 22:13] sagangwee opened #10094 "[Contributor Dashboard] Only create translation opportunities if corresponding topic and story are published."
Sometimes admins bulk-create topics/stories with explorations without publishing the topics/stories. Currently, translation opportunities are created whenever published explorations are added to a story, regardless if the story and its corresponding topic are published. This may cause confusion for contributors. As such, we want to make sure to only create translation opportunities if the correspo

[2020-07-29 00:28] kaylahardie opened #10097 "Suggestion_services_test.py was using stale references in a couple of tests and the tests were still passing."
**Context**
I was creating a `reject_suggestions(suggestions)` function in suggestion_services.py so that it would be possible to reject multiple suggestions at once without making multiple calls to storage (see [PR 10022](https://github.com/oppia/oppia/pull/10022) for reference). Previously there was a `rejection_suggestion(suggestion)` function with tests already written for it. I rewrote `rejec

[2020-07-29 00:28] kaylahardie commented on #10097
@seanlip here is a more formal write up for the weird test behavior that I mentioned to you.

[2020-07-29 01:50] #10051 closed, assigned to nobody

[2020-07-29 04:59] DubeySandeep opened #10098 "Change state color to yellow for audio needs update in translation tab of exploration editor page"
**Describe the bug**
Currently, the color of a state/card with all the audio is represented by "Green" if in future any audio is marked as "needs update" then the state color remains green though there will be a warning icon on the state card representing that the audio needs an update.

We are planning to change the color of such cards to Yellow with a warning icon. This will help voice artist to

[2020-07-29 05:09] #10033 closed, assigned to DubeySandeep

[2020-07-29 07:54] seanlip commented on #10037
@iamprayush, what is the migration plan for this exactly? Can you document it / lay it out, so that we can avoid unexpected issues and make sure there is agreement on the desired behaviour?

[2020-07-29 07:59] sajalasati commented on #10081
@seanlip Please read the Issue description now. I hope the problem is clearer now.
Also I don't want to introduce too many changes in a single PR solving issue #10052. Will write TODOs at all the places in the acl_decorators test file wherever changes are need based on [this](https://github.com/oppia/oppia/pull/10007#discussion_r461986280) comment.

[2020-07-29 08:38] seanlip commented on #10081
No. Tests must go in the PR which enables them, which is #10052 in this case.

[2020-07-29 09:17] Hudda opened #10102 "Remove extra 'and' and extra newline from Docstring Checks"
#10084 introduced one extra 'and' at line 564 and an extra newline at 699. The task is to fix both the issues.

[2020-07-29 09:29] seanlip commented on #10081
@sajalasati Please merge the description of this issue into #10052, and close this issue.

[2020-07-29 09:40] sajalasati commented on #10081
@seanlip Can you give me some time to think about this. I can close it just now (if it's problem), but I have some doubts regarding how I structured my PRs. #10052 doesn't actually implement the learner role. It only implements the domain layers functions to help create profiles. Learner role was first created in #9970. That I did because I wanted the existence of learner role in #10061 (which is

[2020-07-29 09:42] seanlip commented on #10081
Sure, except -- please leave further comments on this issue thread, rather than DM. We try to default to public discussion for this sort of thing. Thanks.

[2020-07-29 11:29] mohitkh7 commented on #4057
@marianazangrossi Can I work on _learner-answer-details-backend-api.service.ts_?

[2020-07-29 15:22] marianadasilvadev opened #10106 "Investigate and fix window resize problem in unit tests (editor-navigator)"
**Describe the bug**
While writing unit tests for #10073, a weird bug appeared in editor-navigation component unit test. For some reason, it was not possible to test properly the resize observable whenever the screen is large or not, because resize event was not being triggered correctly.

This issue is to investigate why this problem is happening and fix it.

[2020-07-29 16:08] marianadasilvadev opened #10108 "Avoid DOM manipulation on playthrough-issues"
**Is your feature request related to a problem? Please describe.**
This feature is related to make the code clearer in playthrough-issues, which uses DOM manipulation instead of angularJS features like `$index`, `ng-show`, and `ng-class` for handling element visibility. This problem was first discussed in #9909 on this [thread](https://github.com/oppia/oppia/pull/9909#discussion_r457858618).

This

[2020-07-29 16:20] brianrodri commented on #10108
Thanks for filing @marianazangrossi!

[2020-07-29 17:29] sajalasati opened #10110 "Add new action for profiles to manage preferences"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!
Tasks:
1) Add a new action for **learner** role to provide them limited access for managing "profile specific" preferences only. As described in the design document, we don't want to provide them with the same rights as exploration editor r

[2020-07-29 18:16] sajalasati commented on #10081
Moved the whole process of adding new action, adding decorator for it and writing tests to a separate issue (#10110) now.

[2020-07-29 18:16] #10081 closed, assigned to sajalasati

[2020-07-29 20:52] #9902 closed, assigned to kaylahardie

[2020-07-29 21:19] sagangwee commented on #9637
Opened a separate issue for the bug described in the above comment here: https://github.com/oppia/oppia/issues/10031

[2020-07-29 21:23] sagangwee commented on #9637
To reproduce this particular issue follow these steps:

1. Log in as admin user A.
2. Set admin role for user A.
3. Go to the Admin activities tab and click 'Load Data' under 'Load dummy new structures data (only admins)'.
4. Go to the contributor dashboard page (making sure it is enabled) translate text tab.
5. Submit a translation suggestion for one text item in the 'Finding the value of a numbe

[2020-07-29 23:35] nishantwrp opened #10113 "Refactor code to not use DOM methods"
Code should be refactored to not use DOM methods.

In particular `getElementById` shouldn't be used here (https://github.com/oppia/oppia/blob/develop/core/templates/pages/creator-dashboard-page/modal-templates/upload-activity-modal.controller.ts)

 Reference -> https://github.com/oppia/oppia/pull/10088#discussion_r462555029

[2020-07-30 09:40] seanlip commented on #10097
Thanks @kaylahardie -- I took a look. I think what's happening is that the domain object that is being passed around is being modified-in-place. I agree that this is not a good pattern because it's basically a side-effect of the function and can easily lead to confusion.

The correct thing to do here is to change the functions in the suggestion_services.py (reject_suggestion(), etc.) to use sugges

[2020-07-30 13:25] sajalasati commented on #10110
Add tests for "learner" role to make sure they can only have access to allowed actions/decorators and cannot do the things they aren't allowed as a pending task from PR #10007.

[2020-07-30 16:34] vojtechjelinek commented on #8630
Closing this, we now use `angular2-template-loader` in webpack to load the HTML files from when `templateUrl` is mentioned in Angular 8 files.

[2020-07-30 16:34] #8630 closed, assigned to nobody

[2020-07-30 16:51] sagangwee commented on #10097
@kaylahardie Ah, yes—we generally want to avoid mutable types as they lead to difficult to reason about bugs like this. If one is not able to work with immutable types, I know it's a common pattern in Java to just make defensive copies of mutable objects as the performance tradeoff is small compared with the gain in safety (and I'd imagine the tradeoff is similar in Python as well).

So if you wan

[2020-07-30 17:35] nishantwrp opened #10120 "Question creation doesn't work"
1. Go to the skill editor
2. Click create question on the main skill editor page
3.select difficulty
4. click done
5. see error

I've fixed it

[2020-07-30 17:56] shavavo opened #10121 "E2E Test Flake on develop - "Toolbar button takes too long to be clickable" in topicAndStoryEditor suite"
**Describe the bug**
E2E test fails on develop when ran locally:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout latest develop branch
2. Isolate  "should check presence of skillreview RTE element in exploration" test with fdescribe and fit in topicAndStoryEditor.js
3. Run ```oppia % python -m scripts.run_e2e_tests --suite="topicAndStoryEditor"```

[2020-07-30 21:10] nishantwrp opened #10124 "Correct the props in questions-list-directive"
https://github.com/oppia/oppia/blob/702a83fc3edd5b993a1d9f304d1125742d3f01d9/core/templates/components/question-directives/questions-list/questions-list.directive.ts#L85-L86

Here `getSkillsCategorizedByTopics` and `getUntriagedSkillSummaries` seem to be functions but are not. They should be modified along with the places where the directive is used.

Reference -> https://github.com/oppia/oppia/pu

[2020-07-30 21:10] nishantwrp commented on #10124
/cc @oppia/lace-team

[2020-07-30 22:05] jimbyo opened #10125 "Milestone 2[Accessibility]: Deferred changes"
**Is your feature request related to a problem? Please describe.**
@jimbyo needs to resolve the comments brought up by @DubeySandeep in PR https://github.com/oppia/oppia/pull/10036
**Describe the solution you'd like**
@jimbyo will create a new PR to resolve the comments

[2020-07-30 23:43] seanlip commented on #10124
Alternatively, if the binding is one-way, these should be changed to use '&' instead of '='.

[2020-07-30 23:55] kevintab95 commented on #10124
Hi @donosco98, can you PTAL at this? It seems like something you would be familiar with (related to your work with skill selector). Please confirm if you are fine with taking this up, or else I'll assign it to someone else. Thanks!

[2020-07-31 03:13] seanlip commented on #10097
Hm, I think it would be better to pass IDs around rather than pass objects around and copy them. It's lighter, and the IDs have the advantage of not being mutable -- plus, it's what we do for explorations etc. already, so it's sort of the codebase standard. I think we somehow missed doing that when implementing the functions for suggestions.

(This does mean that there might be multiple datastore

[2020-07-31 05:37] donosco99 commented on #10124
Yeah I can work on this

[2020-07-31 07:17] mschanteltc opened #10126 "UI issues in the Topics and Skills Dashboard and Editor Pages, Part 3"
### [Topics & Skills Dashboard](https://xd.adobe.com/view/3940de63-c416-4008-4b32-a73dc43fd7a1-4f71/)
**Web:**
![Screen Shot 2020-07-30 at 10 43 35 PM](https://user-images.githubusercontent.com/22177674/89009379-49637f80-d2c1-11ea-9452-29fa7d9464e1.png)
![Screen Shot 2020-07-30 at 10 43 29 PM](https://user-images.githubusercontent.com/22177674/89009380-49fc1600-d2c1-11ea-8486-e8b73137f860.png)
- P

[2020-07-31 07:17] mschanteltc commented on #10126
@Showtim3 PTAL

[2020-07-31 08:40] donosco99 opened #10128 "Adress the remaining comments on the PR #9985"
Adress the remaining comments on the PR #9985

- [comment1](https://github.com/oppia/oppia/pull/9985#discussion_r463462640)
- [comment2](https://github.com/oppia/oppia/pull/9985#discussion_r463035928)
- [comment3](https://github.com/oppia/oppia/pull/9985#discussion_r463036215)
- Add a todo for upgrading to MathJax 3

[2020-07-31 12:18] #9970 closed, assigned to sajalasati

[2020-07-31 15:41] #10120 closed, assigned to nishantwrp

[2020-07-31 17:36] sajalasati commented on #10053
Closing this issue because its tasks were similar to issue #10066 and hence merged with it.

[2020-07-31 17:36] #10053 closed, assigned to nobody

[2020-08-01 00:50] #9972 closed, assigned to sajalasati

[2020-08-01 22:13] nishantwrp commented on #10064
Hi @seanlip, @Hudda,

I did a git bisection and found out that none of the tests introduced in `bb4c1c48821b31c4c8dd91c692c321544071bfd5` are working for me. However, the tests which were present in `linters` directory before this commit are still working for me.

[2020-08-02 05:35] #9945 closed, assigned to kaylahardie

[2020-08-02 06:09] kevintab95 commented on #10013
@Showtim3 can you PTAL this?

[2020-08-02 06:16] aks681 commented on #5296
Currently completed via the addition of 3 new math interactions.

[2020-08-02 06:16] #5296 closed, assigned to iamprayush

[2020-08-02 06:17] kevintab95 commented on #8497
This has been fixed by #9095. Closing.

[2020-08-02 06:17] #8497 closed, assigned to kevintab95

[2020-08-02 17:40] Hudda commented on #10064
Strange these tests are working fine on my machine as well as on develop. Is it happening with all the test files in the linter directory or with just a single file? If the error is poping up for just a single file, did you change anything(especially, imports) in that file?

[2020-08-02 17:43] nishantwrp commented on #10064
As I said the tests which were there in `linters` directory before `bb4c1c48821b31c4c8dd91c692c321544071bfd5` commit are still working fine. The other tests are not working for me. (I didn't change anything in them.)

[2020-08-02 17:45] Hudda commented on #10064
Are you getting the errors in develop branch as well?

[2020-08-02 17:50] nishantwrp commented on #10064
Yes, I am.

[2020-08-02 17:51] nishantwrp commented on #10064
FYI -- It's not only me, but @srijanreddy98 was also getting these errors.

[2020-08-03 07:16] seanlip commented on #10064
@Hudda, I am getting these errors locally too, on the develop branch, with the command that @nishantwrp used.

Could you please confirm which command you used to run these checks locally on your system? Also, could you please fix this with some urgency because it seems to be blocking the development workflow? Thanks!

[2020-08-03 07:17] seanlip commented on #10064
/cc @bansalnitish

[2020-08-03 07:29] Hudda commented on #10064
@seanlip I use the same command which is used by @nishantwrp but they work fine on my machine. The relative imports seem to be the reason of the above errors and I am working with @nishantwrp to fix the errors as I am not able to reproduce the errors on my PC.  Thanks!

[2020-08-03 08:01] bansalnitish commented on #10064
I just checked on my machine and I'm getting the same errors locally on the develop branch as Nishant posted.

[2020-08-03 10:23] seanlip opened #10139 "The Save button should be disabled when the field values are invalid in the Create New Skill modal."
**Describe the bug**
It is possible to click the Save button in the "Create New Skill" modal when the field values are invalid. Although an error message appears, it would be better if that error message appeared on-blur for the wrong field, and the save button for the modal was disabled.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics-and-skills dashboard.
 2. Click on "Cr

[2020-08-03 13:10] kevintab95 opened #10140 "TODO: Story, Topic, TopicSummary models should have url_fragment as a required field"
Story and Topic models should have url_fragment as a required field once all models on production and test server have url_fragment populated for existing models.

[2020-08-03 17:12] shavavo opened #10142 "TODO: Add html cleaning back to SubtitledHtml constructor after removing html conversion dependency"
#9919 introduced a method for the backend domain object InteractionInstance called convert_html_in_interaction. This method constructs converts customization argument dictionary to a dictionary mapping customization argument names to InteractionCustomizationArg domain objects. InteractionCustomizationArg contained SubtitledHtml, and need to be able to be converted by convert_html_in_interaction.

[2020-08-04 00:11] kaylahardie commented on #10097
@seanlip and @sagangwee I agree that it's better to pass around ids rather than mutable objects.  I can create a new PR that makes thats switch. Thanks for your feedback. It is tough to know how/why these tests passed without my adjustments though correct (when they were using the stale references)?

[2020-08-04 00:30] BenHenning opened #10145 "404 page image isn't showing up"
**Describe the bug**
When visiting a page that 404s on oppia.org, the corresponding image doesn't show up.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a page that will 404, e.g. https://www.oppia.org/profile/seanlip

**Observed behavior**
The 404 page loads with 'Oops' alt text because the image seems to not load.

**Expected behavior**
An image should show.

**Screenshots**
![ima

[2020-08-04 00:39] seanlip commented on #10145
@kevintab95 -- want to take a look at this? (Feel free to reassign.)

[2020-08-04 00:52] seanlip commented on #10097
Ah, well -- the reason they passed was due to side-effects, as explained above. The problem that is occurring here is that the `suggestion` that was passed in is modified in-place by the function. In other words, the function has side-effects, and is modifying the object passed into it.

This is bad programming practice, and hopefully the change to suggestion_id helps prevent things like this from

[2020-08-04 02:36] bobbychen1999 commented on #8668
@Showtim3 Can I work on state-interaction-id.service.ts? I do not know why, but I am having problem finding state-improvement-suggestion.service.ts

[2020-08-04 09:16] riyasoganii opened #10149 "Empty 'Worked Examples' in skill editor preview"
**Describe the bug**
When there are no worked examples in a specific skill, the subheading 'worked examples' still shows in the skill editor preview, but without any content underneath.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to skill editor
2. Click on preview
3. See empty 'worked examples'

**Expected behavior**
Ideally, if there are no worked examples, then this heading shouldn

[2020-08-04 09:19] seanlip commented on #10149
@aks681 could you PTAL at this one? Thanks!

[2020-08-04 13:37] DubeySandeep opened #10153 "Structural issues in exploration feedback thread functionality"
While investigating the e2e test issue in ExplorationFedbackTab suite we found some coding pattern issues in the feedbackTab.

Frontend issues:
- [ ] Create separate backend.api.service for all the HTTP request made in the threadDataService
- [ ] threadDataService.getMessagesAsync should check the cached thread before making an HTTP request.
- [ ] threadDataService.createNewThreadAsync should not

[2020-08-04 17:33] iamprayush opened #10154 "Remove the MathExpressions library after deprecating the MathExpressionInput interaction"
The MathExpressions library is only being used by the MathExpressionInput interaction which will soon be deprecated. This issue tracks the progress of removing the library from the codebase. This will be done once the explorations have been stably migrated to the new math interactions and the old math interaction has been completely deprecated from the codebase.

[2020-08-04 22:11] AllanYangZhou opened #10156 "Allow Numbers with Units interaction to handle answer cases by unit"
Currently, the Numbers with Units interaction allows us to classify a student's response based on whether the response is exactly equal to or equivalent (after conversion) to some answer.

![Screen Shot 2020-08-04 at 3 09 08 PM](https://user-images.githubusercontent.com/8732147/89350213-736fc580-d664-11ea-9aa9-980b23fdb22d.png)

It would also be useful to be able to classify the student's response

[2020-08-05 04:18] #10126 closed, assigned to Showtim3

[2020-08-05 04:35] AllanYangZhou opened #10161 "Mixed units answers for Number with Units interaction"
For the measurements lesson, we would like to allow answers of the form "1 m 97 cm." However, the current Number with Units interaction does not allow mixed units, so we can only allow answers of the form "1.97 cm".

[2020-08-05 04:39] AllanYangZhou opened #10162 "Numbers with Units error message always assume currency."
When the student enters an invalid answer into the number with units interaction, the error message displayed assumes that the answer is a currency, which is misleading. In the below example, the correct answer is "1000 mm," which is not a currency:

![Screen Shot 2020-08-04 at 9 37 43 PM](https://user-images.githubusercontent.com/8732147/89372337-bc427100-d69a-11ea-9c19-e6ccb71ac24c.png)

To repr

[2020-08-05 10:31] jimbyo opened #10166 "Reinstatement of lighthouse checks for emaildashboard and moderator."
**Describe the bug**
The Puppeteer script for the lighthouse checks is currently flaky and sometimes fails to change the role to admin. This causes the lighthouse checks to be unable to access pages that require admin privileges and fail. PR https://github.com/oppia/oppia/pull/10164.  should apply a temporary fix by removing the tests that require admin privileges.

A more permanent solution will

[2020-08-05 10:33] seanlip commented on #10166
Thanks @jimbyo. One question -- what is the cause of the flake (i.e. why is the page sometimes not properly authenticated)?

[2020-08-05 10:33] seanlip commented on #10166
(Ah sorry, ignore that question. I just looked at your fixup PR!)

[2020-08-05 18:23] nishantwrp opened #10167 "Replace ngAudio with wavesurfer"
Currently, we use two libraries for voiceovers

- Wavesurfer (for generating waves in translation tab)
- ngAudio (for playing the translations)

But wavesurfer also has a functionality for playing audio.

The scope of this issue is to research whether we can replace ngAudio with wavesurfer. (We don't want to use unnecessary third party libs)

[2020-08-05 19:02] sajalasati commented on #10069
~This [gist](https://gist.github.com/sajalasati/e01b7cc96fc2848a0fca27866c99f0ad) has the discussion on writing tests while solving this issue by using flags.~ No more needed.

[2020-08-05 19:57] kevintab95 commented on #10145
This issue seems to be fixed on develop. I tried accessing a 404 page on a prod build locally, looks like the page and the image appears to load correctly:
![image](https://user-images.githubusercontent.com/11008603/89457988-eae84680-d783-11ea-83f4-bd8b0bd292f0.png)

I will verify this once again on the test server before closing this issue. Thanks!

[2020-08-05 22:32] nishantwrp commented on #10167
@Showtim3 can this be a good first issue?

[2020-08-06 01:28] brianlinUM commented on #7450
Hi can I try working on `library_test.LibraryPageTests` if it isn't taken already? Thanks!

[2020-08-06 02:13] shavavo opened #10170 "TODO: Follow PR up on standing review comments for PR9919"
PR9919 has been or will be merged, but has some standing review comments it needs to address:
* https://github.com/oppia/oppia/pull/9919#discussion_r466032977
* https://github.com/oppia/oppia/pull/9919#discussion_r466033062
* https://github.com/oppia/oppia/pull/9919#discussion_r466045752

@shavavo will submit a follow up PR

[2020-08-06 02:20] #8124 closed, assigned to EricZLou

[2020-08-06 08:43] seanlip commented on #10121
Assigning to @kevintab95 @U8NWXD because they are monitoring Travis flakes on develop (I think?)

[2020-08-06 09:47] #9973 closed, assigned to sajalasati

[2020-08-06 10:04] #9636 closed, assigned to kaylahardie

[2020-08-06 10:41] ankita240796 commented on #7450
Hi @brianlinUM, sure go ahead - I have assigned you to it. Thanks!

[2020-08-06 13:49] sajalasati opened #10178 "Stop usage of gae_id attribute in UserSettingsModel."
We have a new `UserAuthDetailsModel` to store the authentication detail `gae_id` now, and PR #10123 introduced a) domain methods for populating it for the new users and, b) a migration job for populating it for existing users. Post that, there are following cleaning tasks to be performed.
1. Stop using `gae_id` in `UserSettingsModel` i.e Remove `gae_id` attribute from `UserSettingsModel`.
  **Reas

[2020-08-06 15:09] nishantwrp opened #10180 "Drag and drop interaction doesn't work in skill preview tab"
Steps to reproduce
- Create a skill
- Create a question with drag and drop interaction
- Preview the skill
- Play the question
- See that the interaction doesn't work

[2020-08-06 16:35] tianqi-wu commented on #9749
@Showtim3 @bansalnitish Can I do continue-button.directive.ts and correctness-footer.directive.ts? Thanks!

[2020-08-06 17:09] tianqi-wu commented on #4057
@marianazangrossi Can I work on player-position.service.ts? Thanks!

[2020-08-06 20:05] #9637 closed, assigned to sagangwee

[2020-08-06 22:11] kevintab95 opened #10191 "TODO: Call "are_subtopic_url_fragments_unique" in topic_doman.validate"
https://github.com/oppia/oppia/blob/00862f4d9a2e416ac6171f5ce77d401071f34cd2/core/domain/topic_services.py#L418-L425

Move the call "are_subtopic_url_fragments_unique" to topic_doman.validate.

See discussion [here](https://github.com/oppia/oppia/pull/10134#discussion_r466678299).

[2020-08-06 22:13] kevintab95 commented on #10191
Note: This will be fixed in #10041.

[2020-08-06 23:56] #10106 closed, assigned to marianadasilvadev

[2020-08-07 01:10] #9635 closed, assigned to kaylahardie

[2020-08-07 02:02] EricZLou commented on #8423
Hello! I can take a stab at the Python linter for "single space between if, elif, while and bracket".

[2020-08-07 03:30] kevintab95 opened #10194 "Re-enable caching in Circle CI builds"
Caching in Circle CI builds need to be re-enabled once "Error uploading workspace archive: AccessDenied: Access Denied" issue has been resolved.

Related issue: #10181

[2020-08-07 04:33] donosco99 opened #10196 "Add frontend validation for math rich text SVG image size."
Add a validation for preventing sending of math SVGs larger than 100 kb to the backend

[2020-08-07 05:07] donosco99 opened #10197 "Upgrade to MathJax 3."
**Is your feature request related to a problem? Please describe.**
Currently, MathJax 2.7.5 is being used for generating SVGs for math rich text components. But since Mathjax 3 is out and it has a lot of benefits over the current version, an upgrade would be nice.
Visit here for more details: [link](http://docs.mathjax.org/en/latest/upgrading/whats-new-3.0.html).
Some of the main benefits of an up

[2020-08-07 07:11] Hudda commented on #8423
@EricZLou Sure -- go ahead, I've assigned you. Thanks!

[2020-08-07 10:52] sainanee opened #10201 "Tutorial does not work as expected on the exploration-editor-page editor tab"
**Describe the bug**
Once the tutorial has been run, running it again gives a blank screen. Also, the translation tutorial cannot be accessed from the editor tab.

**To Reproduce**
Steps to reproduce the behavior:
Included in this video: https://vimeo.com/445512847

**Observed behavior**
Included in the video

**Expected behavior**
Tutorial should re-run on requesting again and translate tutorial

[2020-08-07 13:32] nishantwrp opened #10202 "Guppy is buggy"
This bug is even present in the production.

Steps to reproduce
- Create an algebraic expression interaction
- On adding the answer in guppy box
- Try doing something like b_2. It should appear like b <sub>2</sub> but doesn't.

[2020-08-07 13:42] nishantwrp commented on #10202
Closing this since @iamprayush told that this is intentional

[2020-08-07 13:43] #10202 closed, assigned to nobody

[2020-08-07 16:01] riyasoganii opened #10205 "Rearrangement of skills in subtopic editor"
**Is your feature request related to a problem? Please describe.**
Currently, I am not able to re-arrange skills when they are already added to a certain subtopic in the subtopic editor. In order to change the order of skills of a subtopic, I need to remove all of them, then drag them back in the desired order.
**Describe the solution you'd like**
I'd like to be able to drag and drop within the sk

[2020-08-07 16:05] riyasoganii opened #10206 "Assigned skills showing as unassigned in skill editor"
**Describe the bug**
Assigned skills showing as unassigned in skill editor

**To Reproduce**
Steps to reproduce the behavior:
 1. Assign a skill to a subtopic
2. Visit the skill
3. See 'unassigned'

**Expected behavior**
The correct subtopic should be shown rather than being unassigned.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1427" alt="Screenshot

[2020-08-07 16:07] riyasoganii opened #10207 "'Cancelled' rubric is not deleted"
**Describe the bug**
After starting a new rubric and pressing cancel, the rubric is not deleted but instead shows up as an empty rubric.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to skill editor of any skill
2. Click to Add a new rubric
3. Click cancel to cancel the new rubric
4. See empty, undeleted rubric

**Expected behavior**
The new rubric should be deleted if cancel is presse

[2020-08-07 16:10] kevintab95 commented on #10194
This has been fixed in #10198. Closing.

[2020-08-07 16:10] #10194 closed, assigned to nobody

[2020-08-07 16:22] #10128 closed, assigned to donosco99

[2020-08-07 17:30] kevintab95 opened #10210 "Make all non-get_by_id calls to fetch entities faster (details in description)"
Currently, we use queries to single out entities that use a unique field value. These needs to be made faster. See this comment for some related discussion  ([#10041 (comment)](https://github.com/oppia/oppia/pull/10041#discussion_r466965879)).

The following methods need to be fixed as part of this:

File | Method
---|----
core/storage/topic/gae_models.py | get_by_name
core/storage/topic/gae_model

[2020-08-07 18:02] MegrezZhu opened #10211 "Add 'test' running mode to the server"
(This issue is related to the dynamic feature gating project: [design doc](https://docs.google.com/document/d/1FjbG2Cb0OnDVuE36jzux2Sn0sybMQozkk3hjkfeMoC0/edit?usp=sharing))

Currently Oppia runs in either of the two modes: dev or prod, which is indicated by the `DEV_MODE` field in `assets/constants.ts`. To better support the need of QA testing, and to have a more fine-grained control of enabling

[2020-08-07 23:17] #9638 closed, assigned to sagangwee

[2020-08-07 23:24] kevintab95 commented on #9986
Will be fixed by https://github.com/oppia/oppia/pull/10041

[2020-08-08 00:12] seanlip opened #10213 "Follow-up from #9983: address remaining review comments"
This issue tracks resolution of these two comments by @DubeySandeep on PR #9983:

https://github.com/oppia/oppia/pull/9983#pullrequestreview-463604486

[2020-08-08 00:31] kevintab95 opened #10214 "Add more questions when generating dummy new structures data"
Add 5 questions to a new skill when generating dummy new structures data in the admin tab. This is required because a minimum of 5 questions are needed for the practice tab to show in the Topic Viewer page.

See relevant discussion here: https://github.com/oppia/oppia/pull/10041#discussion_r467162823

[2020-08-08 11:22] prasanna08 opened #10217 "Supporting multiple classifier algorithms for given interaction."
Currently, ML functionality is used in Oppia to feedback to students when hard rules defined by the creator fail to satisfy the answer. However, the initial implementation of ML will only support single classifier for an interaction. That is each interaction can have at most one ML classifier to train.

However, we might want to support multiple ML classifiers per interaction. For example, web use

[2020-08-08 11:53] nishantwrp opened #10219 "Invalid type check for types in .d.ts files"
There is no error in the `.d.ts` files when we assign a type that doesn't exist. We should manually add an automated check for that.

[2020-08-08 16:39] nishantwrp commented on #9537
@oppia/lace-team we can close this, right? I saw a notification `saved` in preferences page when I tried to edit something

[2020-08-08 17:49] #10191 closed, assigned to kevintab95

[2020-08-08 18:28] kevintab95 commented on #9537
@nishantwrp Ah yes, I think it was fixed by https://github.com/oppia/oppia/pull/9897 (cc @DubeySandeep). If you have confirmed this, please add a screenshot showing this functionality and close this issue. Thanks!

[2020-08-09 00:17] #9974 closed, assigned to sajalasati

[2020-08-09 01:35] queencai commented on #8423
I got this done already in my local computer. "Check for unused directive/service dependencies (#5611) ", which was assigned to me. Now I need to check it in. But I am confused by the first step. **Before coding anything, choose a descriptive branch name that is lowercase and hyphen-separated,.... Make sure that your branch name doesn't start with develop, release or test.**

I have the "develop"

[2020-08-09 02:29] queencai commented on #8423
When I tried to create a PR, I got the following error. I believe I did username and pw all corretly.

queen@queen-HP-Pavilion-g6-Notebook-PC:~/opensource/oppia/scripts/linters$ git push origin first_linter
Username for 'https://github.com': queencai
Password for 'https://queencai@github.com':
remote: Permission to oppia/oppia.git denied to queencai.
fatal: unable to access 'https://github.com/opp

[2020-08-09 05:41] #9986 closed, assigned to kevintab95

[2020-08-09 05:41] kevintab95 commented on #9986
Closing since #10041 got closed.

[2020-08-09 06:27] #10170 closed, assigned to shavavo

[2020-08-09 09:38] kevintab95 opened #10227 "Add URL preview for the url_fragment field in the editor pages for Topic / Subtopic / Story"
Add URL preview for the url_fragment field in the editor pages for Topic / Subtopic / Story.

Below each URL field, can we have help text that auto-updates, that says something like "The learner can access this topic at https://www.oppia.org/learn/math/**fractions**

[2020-08-09 18:10] nishantwrp commented on #9537
![rec-tab](https://user-images.githubusercontent.com/36989112/89738890-c0ef9680-da99-11ea-8d5f-af77e905f8ba.gif)

[2020-08-09 18:10] #9537 closed, assigned to nishantwrp

[2020-08-09 18:15] Hudda commented on #8423
@queencai You are getting this error because you are pushing to the main oppia repositoy instead of your fork. Can you please setup the oppia repository following [these](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) steps and follow [these](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change) steps while creating

[2020-08-09 20:16] iamprayush opened #10229 "Fixes/Additions related to the new math interactions"
The following things are to be done re the new math interactions:

 - [ ] Add a warning for keyboard users if they enter a variable that is not present in the custom variables list. The warning should say "You have entered an invalid character: {invalid character}. Please use only the characters {valid character list} in your answer."
 - [ ] Fix a nit mentioned [here](https://github.com/oppia/oppi

[2020-08-09 20:26] #10037 closed, assigned to iamprayush

[2020-08-10 07:24] darksun27 opened #10235 "Broken Link in run_frontend_tests file"
**Description**
Link in the ```run_frontend_tests``` file for fixing Angular Injection is broken.

Broken Link: https://github.com/oppia/oppia/wiki/Frontend-test-best-practices#fixing-frontend-test-errors
Correct Link: https://github.com/oppia/oppia/wiki/Frontend-unit-tests-guide#how-to-handle-common-errors

[2020-08-10 10:16] sajalasati opened #10240 "Domain changes for android profiles"
See [Design doc](https://docs.google.com/document/d/1sQagy3irkjB1Kt5sdb_KkOgxODt2m2ya0ZCoSJNlY4A/edit?usp=sharing) for **Full Remote Profile Support** Project!

(1) Changes in domain and controller layer for using UserAuthModel (implemented in issue #9972).
- Populate UserAuthModel for new users - **done in PR** #10123 - has gone into release (this has eliminated the requirement of keeping a flag

[2020-08-10 10:17] sajalasati commented on #10069
Closing this issue because its remaining part is included in another issue #10240.

[2020-08-10 10:17] #10069 closed, assigned to sajalasati

[2020-08-10 10:17] sajalasati commented on #10052
Closing this issue because the work has been included in another issue #10240.

[2020-08-10 10:17] #10052 closed, assigned to sajalasati

[2020-08-10 10:17] sajalasati commented on #10066
Closing this issue because the work has been included in another issue #10240.

[2020-08-10 10:17] #10066 closed, assigned to sajalasati

[2020-08-10 10:18] sajalasati commented on #10067
Closing this issue because the work has been included in another issue #10240.

[2020-08-10 10:18] #10067 closed, assigned to nobody

[2020-08-10 10:31] nithusha21 opened #10242 "The topic viewer controller makes too many db requests, which should be optimized"
The topic viewer controller makes multiple db queries, some of which should probably be replaced with a precomputed value linked to the topic and the extra query should be eliminated.

ref: https://github.com/oppia/oppia/pull/10239

[2020-08-10 16:02] kevintab95 opened #10247 "CI Flakiness: "java.net.SocketException: Connection reset""
The "Exploration history should display the history" test commonly flakes with the following message:
[code]

See [build](https://travis-ci.com/github/oppia/oppia/jobs/368638142).

[2020-08-10 17:09] kevintab95 opened #10249 "Unable to download Exploration from the history tab (only happens for large explorations)"
This error occurred recently in production when trying to download an exploration from the history tab in the exploration editor page. It happens for large explorations.

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropri

[2020-08-10 17:33] sagangwee opened #10250 "Temporarily transfer codeowners for contributor dashboard project."
Transfer codeowners from sagangwee@ to dubeysandeep@ until ~2020-09-08.

[2020-08-10 20:47] #9143 closed, assigned to vojtechjelinek

[2020-08-11 01:44] #5914 closed, assigned to varun-tandon

[2020-08-11 06:16] Showtim3 opened #10256 "The topic viewer page is not working and is trying a "md-card" error related to Angular migration."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic.
 2. Visit the topic viewer page.
 3. See error in console.

**Observed behavior**
A clear and concise description of what you have observed.
![image](https://user-images.githubusercontent.com/30312043/89863727-4ffacc80-dbc8-11ea-9f1f-508178745543.png)

**S

[2020-08-11 10:01] vojtechjelinek opened #10259 "Topic with long description UI issue"
**Describe the bug**
The topic description overflows the row bottom.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and Skills Dashboard'
 2. Create topic with long description
 4. See error

**Observed behavior**
The topic description overflows the row bottom.

**Expected behavior**
The topic row should be big enough.

**Screenshots**
Firefox:
![image](https://user-images.gi

[2020-08-11 10:07] #10235 closed, assigned to darksun27

[2020-08-11 10:44] nishantwrp opened #10260 "Remove the third party libs once they are not needed"
Remove the following third party libs once they are not needed (Once we migrate to angular)

- [x] angular js
  - PR: https://github.com/oppia/oppia/pull/23411
- [x] bowerMaterial
  - PR: https://github.com/oppia/oppia/pull/23411
- [x] angularUiLeaflet
  - PR: https://github.com/oppia/oppia/pull/22598
- [x] uiCodemirror
  - PR: https://github.com/oppia/oppia/pull/22598
- [x] angularAudio
- [x] ang

[2020-08-11 11:06] MohamedMedhat1998 opened #10261 "Bio text isn't saved"
**Describe the bug**
The text of the bio isn’t saved if I refreshed the page before leaving the bio TextBox

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to Oppia.
2. Click on the Preferences option in the dropdown by hovering over the profile icon on the top right.
3. Change the text of the Bio TextBox and refresh the page (without leaving the TexBox)

**Observed behavior**
The tex

[2020-08-11 11:52] MohamedMedhat1998 opened #10262 "Some categories are missing from the search droplist"
**Describe the bug**
Some categories are missing from the search droplist (like the computing category)

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia
2. Go to Library
3. Click on the Category droplist in the search

**Observed behavior**
All categories should exist.

**Expected behavior**
Some categories are missing (like the "computing" category)

**Screenshots**
![Screensh

[2020-08-11 11:57] MohamedMedhat1998 opened #10263 "Search Bar Moves to Page Middle But Stays Green"
**Describe the bug**
The search bar is hidden if the console is opened in chrome

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Chrome
 2. Press F12 to open "Inspect element"
 3. Go to oppia/library

**Observed behavior**
The search bar stays green but moves to the middle of the window. Upon shrinking the window further, the bar turns white like it appears on mobile.

**Expected behav

[2020-08-11 12:13] vojtechjelinek opened #10264 "Console errors on chapter creation"
**Describe the bug**
When a story chapter is created throught the Add Chapter modal there are console errors after the creation.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Create a story
 3. Click '+ ADD CHAPTER' and fill all the fields
 4. See error

**Observed behavior**
The chapter is created with errors.

**Expected behavior**
The chapter should be created withou

[2020-08-11 12:18] vojtechjelinek opened #10265 "Console error when exploration with invalid interactions is added"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with a story
 1. Create a chapter with an invalid exploration
 2. Click on 'Publish Story'
 4. See error

**Observed behavior**
Console error about the invalid exploration are shown

**Expected behavior**
The exploration should have been blocked from being

[2020-08-11 12:21] vojtechjelinek opened #10266 "Preview cards are to wide in some places"
**Describe the bug**
In multiple places, the preview card is too wide, the 4:3 image is too stretched. The places are story editor, chapter editor, add chapter modal.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '...'
 2. Click on '....'
 3. Scroll down to '....'
 4. See error

**Observed behavior**
The thumbnails are too wide.

**Expected behavior**
The thumbnails should preserve

[2020-08-11 12:21] iamprayush opened #10267 "Error while leaving exploration creation window with unsaved invalid rule input."
**Describe the bug**
An error is thrown if an invalid rule input is entered and the creator leaves the editor without saving the rule input.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration with the fraction input interaction (although this happens with almost all the other interactions).
 2. Choose the "Has integer part equal to" rule and save the response with a va

[2020-08-11 12:24] vojtechjelinek commented on #10265
Other chapter related error
![image](https://user-images.githubusercontent.com/10142938/89896811-5bf18900-dbde-11ea-80fd-b1c75f4c9c86.png)

[2020-08-11 12:49] vojtechjelinek opened #10268 "UI issues in skill editor"
**Screenshots**
Long skill name spans over two lines
![image](https://user-images.githubusercontent.com/10142938/89898469-14b8c780-dbe1-11ea-85bd-b0ac5b390be0.png)

The space between a button and the list is none in the 'Worked Examples', also the list style differs for ALL the lists.
![image](https://user-images.githubusercontent.com/10142938/89898642-59dcf980-dbe1-11ea-8ad4-37e3a26807fc.png)
![i

[2020-08-11 14:02] #10256 closed, assigned to srijanreddy98

[2020-08-11 19:19] DubeySandeep opened #10274 "Create global initial version constant and use it for initializing all the versioned entities"
Currently, the initial value for the version number is hardcoded in the domain layer for all the entities which make it open for any entity to add incorrect initial version number. This issue focus on defining a global constant initial entity version (Which will be zero) and use this constant in all the files.

 Few places in the codebase where we have hardcoded the initial version:

- [exp_domain

[2020-08-12 00:45] U8NWXD opened #10278 "Topics and Skills Dashboard Does Not Show Total Number of Skills"
**Describe the bug**
Topics and Skills Dashboard shows `many` instead of the total number of skills.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard page
 2. Create 32 skills (this can probably be reproduced with fewer skills)
 3. View the skills tab

**Observed behavior**
At the top, it reads `Displaying 1 - 10 of many`

**Expected behavior**
It should

[2020-08-12 01:00] U8NWXD opened #10279 "Skills listed under "Uncategorized Skills" after assigning to subtopic"
**Describe the bug**
Skills listed under "Uncategorized Skills" after assigning to subtopic.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the topics and skills dashboard
 2. Create a skill and a topic
 3. Assign the skill to the topic
 4. Create a subtopic
 5. From the topic editor, click the three dots next to the skill and choose `Assign to Subtopic`. Then click the subtopic.
 6.

[2020-08-12 01:04] U8NWXD opened #10280 "Story Thumbnail Color Not Displayed when Choosing Thumbnail"
**Describe the bug**
Story thumbnail background color not displayed when choosing thumbnail

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. In that topic, click to create a story
 3. Upload a thumbnail and select a color
 4. Save the image

**Observed behavior**
The thumbnail preview does not show the selected color as the background. Note that once the story is created,

[2020-08-12 01:14] U8NWXD opened #10281 "Last Subtopic Has a Next Subtopic of First Subtopic"
**Describe the bug**
When viewing a subtopic as a learner, the "next skill" of the last subtopic is the first subtopic. Since the subtopics are ordered linearly, this circularity is unexpected behavior.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with 2 subtopics
 2. Publish and preview the topic
 3. Go to the "Revision" tab and click the last subtopic

**Observed behavio

[2020-08-12 02:00] mschanteltc opened #10283 "Learner View, Lessons Tab - Chapter Name Alignment"
![image](https://user-images.githubusercontent.com/22177674/89966591-5d35ac80-dc04-11ea-9704-b47c2aa64204.png)
Please align the chapter names so that when a new lines starts, everything including the lines are left-aligned. This should leave some room for the checkmark on the left when the user completes it. ([MOCK](https://xd.adobe.com/view/83e97e1d-7820-4387-72b2-8860a2ee8f6d-f5d8/))

Also if po

[2020-08-12 07:51] seanlip commented on #9579
@mschanteltc -- any progress on this?

[2020-08-12 08:22] #10207 closed, assigned to Showtim3

[2020-08-12 16:36] #10076 closed, assigned to shavavo

[2020-08-12 16:37] shavavo commented on #10076
StatisticsCustomizationArgsAudit was ran, and passed with no issues. #9919 was merged afterwards.

[2020-08-12 18:34] rriyaldhi commented on #4057
hi @marianazangrossi , can I work on prediction-algorithm-registry.service.ts? thanks

[2020-08-12 21:15] mschanteltc opened #10301 "Learner View, Lessons Tab - Combining with Info Tab"
Info Tab should now be part of Lessons Tab. The design change was made because there was excessive empty space in the Info Tab. The Topic description is now at the top of the Lessons Tab and the formatting of the Stories below are not affected.

The tab menu will only have 3 items (Lessons, Practice, Revision) and will need to be adjusted so that they are centered. ([MOCK](https://xd.adobe.com/vie

[2020-08-12 21:52] mschanteltc opened #10303 "Learner View, General Improvements 1"
Following the implementation seen [here](https://www.oppia.org/topic/Multiplication), here are some comments on what can be improved in the Topic Viewer:

**General:**

- [x] Have the tabs reappear if the page is scrolled up. 

**Lessons Tab:**

- [x] Progress Circle should appear to the left of the Story Name

**Revision Tab:**

- [x] Add more vertical spacing between the cards

**Revision Player

[2020-08-12 22:25] kevintab95 commented on #10280
Hi @U8NWXD, can you check if the thumbnail that you uploaded has a transparent background? It is one of the guidelines mentioned here:
![image](https://user-images.githubusercontent.com/11008603/90074259-73349180-dd18-11ea-8925-1ddbc21dfdc6.png)

It appears to work as expected for an image with a transparent background:
![story](https://user-images.githubusercontent.com/11008603/90074403-c1e22b80-

[2020-08-12 23:59] kevintab95 opened #10306 "Add "async" keyword to asynchronous functions that return a promise"
## Description ##
In order to make it easier for developers to identify asynchronous methods, the following conventions need to be introduced:
1. Use of "async" keyword in the function definitions.
2. Use of "Async" added to the end of the function name.

E.g.

Before changes:
[code]

After changes:
[code]
Note that (1) "async" keyword was added before function name and (2) `fetchClassroomData` ha

[2020-08-13 00:07] jimbyo opened #10307 "Ad blockers block Fraction's collection page from loading"
**Describe the bug**
When my AdBlock plugin is enabled on chrome it fails to load in the Fraction's collection page.  I use https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en

It seems that loading the collection details is flagged as an add or popup for some reason. When I disable the plugin or go access the site in incognito it loads the collection pag

[2020-08-13 00:15] kaylahardie commented on #10279
I had this same issue when I was using a chrome browser on my mac.

[2020-08-13 00:33] jimbyo commented on #10307
This might not be a real issue and could just be about my current Adblocker. I'll file this for now and test on some other devices and websites.

[2020-08-13 00:36] kevintab95 opened #10309 "Console errors when trying to edit the translation after voiceover is updated"
**Describe the bug**
Console errors when trying to edit the translation after audio is updated.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create an exploration with at least one card.
 2. Go to the Translation tab in the editor page.
 3. Select any language other than English.
 4. Select Translation mode and add a translation for the content card.
5. Select Voiceover mode and add a vo

[2020-08-13 00:50] kaylahardie opened #10310 "Can't add subtopic to topic after topic is published on the Topics and Skills Dashboard"
**Describe the bug**
You can't save the changes of adding a subtopic to a topic if you're trying to add the subtopic to a published topic but you can save the changes if the topic isn't published.

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as an admin.
 2. Go to the roles tab of the admin page and update your role to admin.
 3. Go to the activities tab of the admin page and cli

[2020-08-13 01:05] U8NWXD commented on #9281
@sseth99 any updates on this. It still exists in the August release that we're currently testing

/cc @oppia/lace-team

[2020-08-13 01:16] U8NWXD opened #10311 "Console Error when Playing Story: Every parameter passed into interpolateUrl must have string values, but received: {entity_id: undefined}"
**Describe the bug**
Console error: `Every parameter passed into interpolateUrl must have string values, but received: {entity_id: undefined}`

**To Reproduce**
Steps to reproduce the behavior (from CUJ 31):

1. Login to Oppia. (as admin, if locally).
2. (if done locally) Assign yourself the admin role on the admin page.
3. Select the topics and skills dashboard button.
4. Create 2 skills, with on

[2020-08-13 01:33] kaylahardie opened #10312 "Add skill button on subtopic page doesn't add the skill to the subtopic but instead leaves it uncategorized."
**Describe the bug**
When I click on add skill on the subtopic page (where the rest of the skills for the subtopic are listed), the skill gets added to the topic's uncategorized skill section instead of adding it to the subtopic. The skill editor opens up and says its subtopic is unassigned (probably related to issue #10206 ).

**To Reproduce**
Steps to reproduce the behavior:
 1. Sign in as an ad

[2020-08-13 01:39] U8NWXD opened #10313 "Practice Tab not Appearing"
**Describe the bug**
The practice tab of a topic is not showing up even when 6 questions have been added.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic and three skills. One skill should have 5 questions, and another should have 1.
 2. Assign the skills to the topic
 3. Create two subtopics. To one, assign the 2 skills with questions. Assign the last skill to the other subt

[2020-08-13 01:42] kaylahardie commented on #10311
I also got this error while testing it on chrome (version 84) on my mac (Catalina 10.15.6).

[2020-08-13 01:57] U8NWXD commented on #10280
Yes @kevintab95, it does. This thumbnail works as expected in other areas. Note that this bug occurs in the modal that appears when creating a new story. In your screen capture it looks like you're editing the thumbnail of an existing story

[2020-08-13 02:04] kevintab95 commented on #10280
Ah, I see. Yep, confirming that this is indeed a bug. Thanks for reporting!

[2020-08-13 02:12] U8NWXD commented on #10280
Here's a video of it happening in case that helps someone debug:

![ezgif-7-fdee08cb9610](https://user-images.githubusercontent.com/19878639/90086612-d3134400-dce8-11ea-9f49-98cbe55b7ada.gif)

[2020-08-13 02:47] seanlip commented on #10303
Assigning to @aks681 as part of LaCE bugfixes (@aks681, is that ok?)

[2020-08-13 02:47] seanlip commented on #10301
Assigning to @aks681 as part of LaCE bugfixes (@aks681, is that ok?)

[2020-08-13 04:28] kaylahardie commented on #10313
The topic with title 'Topic100!' didn't work for me on the test server either:
<img width="1833" alt="Screen Shot 2020-08-12 at 9 23 05 PM" src="https://user-images.githubusercontent.com/19376937/90094177-19b17000-dce2-11ea-8d60-ac6f1b2dbbf4.png">
but the topic that you created with title 'Test topic' topic did (topic number 10 on the topics and skills dashboard):
<img width="2261" alt="Screen Sho

[2020-08-13 04:30] kaylahardie commented on #10259
I saw this too:
<img width="1239" alt="Screen Shot 2020-08-12 at 9 27 03 PM" src="https://user-images.githubusercontent.com/19376937/90094493-ecb18d00-dce2-11ea-8b7e-08a770daf702.png">
It might not be properly resizing when the browser is being resized.

[2020-08-13 06:13] riyasoganii opened #10315 "Remove extraneous whitespace at beginning and end of rich-text editor"
**Is your feature request related to a problem? Please describe.**
There often comes an additional empty line at the bottom of content. Shown below:
<img width="201" alt="Screenshot 2020-08-13 at 11 40 28 AM" src="https://user-images.githubusercontent.com/59031971/90100280-f4604880-dd59-11ea-9bcd-66917e2a99c1.png">

**Describe the solution you'd like**
Although this is because an extra line was in

[2020-08-13 06:32] riyasoganii opened #10316 "Answers with "/" not rejected in number input"
**Describe the bug**
Answers with "/" are accepted in number input but the "/" is omitted.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to any lesson with a number input
2. Enter a fraction

**Observed behavior**
Students are quite often mistaken in the lesson 'fractions' in questions like 'Replace the question mark with a number: 1/2=?/4.' They tend to enter 2/4 rather than the numbe

[2020-08-13 09:00] darksun27 commented on #8472
![flush](https://user-images.githubusercontent.com/31998550/89812558-ec3bb980-db5d-11ea-8e28-3943a1f9c028.png)
@bansalnitish @nishantwrp I fixed the error for angular injection in exploration-id-validation.service.spec.ts file which was using summary backend api as a indirect dependency. The frontend tests are throwing the following errors : https://pastebin.com/7v6PTePR. Full file code : https://

[2020-08-13 15:56] nithusha21 opened #10319 "The skill rubrics form buttons have no outline"
![image](https://user-images.githubusercontent.com/11898234/90157142-f7375980-ddaa-11ea-8b44-eb2f4dbab682.png)

The buttons in the form have no outline. The cancel button doesn't look like a button

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Topics and skills dashboard
 2. Create a new skill
 3. Scroll down to the add rubrics

**Desktop (please complete the following information;

[2020-08-13 16:45] donosco99 opened #10320 "Cannot open the question editor while in the topic editor"
**Describe the bug**
Cannot open the question editor while in the topic editor.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the question editor section of a topic
 2. Click on an existing question or click on the create question button
 3. See the console error
**Observed behavior**
The question editor doesn't open and there are console errors.

**Expected behavior**
A clear and co

[2020-08-13 17:10] kevjumba opened #10322 "Travis CI Hanging"
**Describe the bug**
Travis CI builds are stuck. My build and quite a few other builds since around 12-13 hours ago have been in queue without running.
https://travis-ci.com/github/oppia/oppia/pull_requests

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
Builds should start at some point.

**Screenshots**
N/A

[2020-08-13 17:11] #10055 closed, assigned to nishantwrp

[2020-08-13 18:13] Showtim3 opened #10324 "The navbar icons are a bit offset to the bottom."
**Describe the bug**
The top green navbar icons are a bit offset to the bottom.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to oppia login page.
 2. See error.

**Screenshots**
![image](https://user-images.githubusercontent.com/30312043/90171208-c5c88900-ddbe-11ea-907b-11bfe93e42c8.png)

**Smartphone (please complete the following information; delete this section if the issue does no

[2020-08-13 18:57] #10247 closed, assigned to kevintab95

[2020-08-13 19:50] kaylahardie commented on #10016
This happened to me today too, I noticed it today around noon PST and it's still occurring an hour later at 12:50 pm. I'm running the backend tests on Mac 10.15.6.

[2020-08-13 20:17] #10140 closed, assigned to kevintab95

[2020-08-13 22:22] seanlip opened #10327 "Make TypeScript validation strict for undefined cases."
Per discussion [here](https://github.com/oppia/oppia/pull/10269#pullrequestreview-467100650), forbid the value `undefined` from being assigned to typed variables. Verify that the following cases are caught:

- Args passed in to functions which expect typed args but which receive undefined instead
- Objects with missing keys (or keys whose value are undefined)

See https://mariusschulz.com/blog/non

[2020-08-13 22:29] seanlip commented on #10016
I'm wondering if #10284 (which was just merged) fixes this. Could you let me know if it's still happening after you merge from develop, please?

[2020-08-13 22:30] seanlip commented on #10016
(Ideally, first confirm that it is happening *before* you merge from develop)

[2020-08-13 22:42] kaylahardie commented on #10016
I confirmed that it was happening again before merging from develop and that it wasn't an issue after merging from develop.

[2020-08-13 22:44] seanlip commented on #10016
Fantastic! Thanks @kaylahardie. @varun-tandon -- thanks for fixing this bug!

[2020-08-13 22:44] #10016 closed, assigned to varun-tandon

[2020-08-13 22:48] kaylahardie commented on #9456
Hi @ziqixu2000 did this issue get resolved for you?

[2020-08-13 23:39] Showtim3 commented on #10206
Should be fixed by the pr #10225.

[2020-08-13 23:39] #10206 closed, assigned to nobody

[2020-08-13 23:39] Showtim3 commented on #10205
Should be fixed by the pr #10225.

[2020-08-13 23:39] #10205 closed, assigned to Showtim3

[2020-08-13 23:39] Showtim3 commented on #10139
Should be fixed by the pr #10225.

[2020-08-13 23:39] #10139 closed, assigned to nobody

[2020-08-13 23:46] U8NWXD commented on #10261
@MohamedMedhat1998 FYI `Version` in the issue template means the browser version. I often delete it and instead specify the version along with the browser, e.g. `Browser: Chrome 84 and Firefox 79`

[2020-08-13 23:47] U8NWXD commented on #10261
@aks681 while perhaps not ideal, the current behavior seems reasonable to me, so I don't think it needs to block the release. What do you think?

/cc @oppia/lace-team

[2020-08-13 23:51] U8NWXD commented on #10324
@Showtim3 I'm assigning this to you since it looks like you already have a PR open for it (thanks for that!)

[2020-08-13 23:54] U8NWXD commented on #10262
I believe this is expected. Can someone from @oppia/lace-team confirm please? Assigning @aks681 as LACE team lead

[2020-08-13 23:56] U8NWXD commented on #10263
It looks like the search bar got moved down to the middle of the page, probably as a result of the screen size. I think this is a blocking bug and so am assigning to the LACE team lead, @aks681.

[2020-08-13 23:58] U8NWXD commented on #10307
Thanks for reporting @jimbyo! I think we usually don't worry about ad blockers for release testing, so I'm not going to label this as a blocking bug. I am forwarding it to the learner and creator experience team though to get their input.

/cc @oppia/lace-team

[2020-08-14 00:00] seanlip commented on #10307
It does seem like a bug, if the adblocker is a popular one. At the very least we might want to show something about "an adblocker is preventing your interaction with the page". Unless you see this sort of issue on other pages on the web @jimbyo?

[2020-08-14 00:02] U8NWXD commented on #10309
@DubeySandeep as the audio and translations lead, could you make sure this gets fixed?

[2020-08-14 00:04] U8NWXD commented on #10259
@aks681 as the learner and creator experience lead, could you make sure this blocking bug gets fixed?

[2020-08-14 00:05] U8NWXD commented on #10264
@aks681 as the learner and creator experience lead could you make sure blocking bug this gets fixed?

[2020-08-14 00:06] U8NWXD commented on #10265
@aks681 as the learner and creator experience lead could you make sure blocking bug this gets fixed?

[2020-08-14 00:07] U8NWXD commented on #10266
@aks681 as the learner and creator experience lead could you make sure blocking bug this gets fixed?

[2020-08-14 00:10] U8NWXD commented on #10268
@Showtim3 would you be able to take on this one since you've worked a lot with this UI?

[2020-08-14 00:11] U8NWXD commented on #10268
I'm going to mark this as blocking for now since we really should fix UI issues like this. However, since it's not user-facing, it's not quite as critical as some of the other blocking bugs

[2020-08-14 00:20] U8NWXD commented on #10319
@aks681 as the learner and creator experience lead could you make sure blocking bug this gets fixed?

[2020-08-14 00:21] U8NWXD commented on #10319
I'm adding this to blocking bugs for now since it is a problematic UI, but since this isn't user-facing, other blocking bugs should take priority

[2020-08-14 00:21] U8NWXD commented on #10320
@aks681 as the learner and creator experience lead could you make sure blocking bug this gets fixed?

[2020-08-14 00:23] U8NWXD commented on #10278
I don't think this needs to block the release because it's not particularly confusing and isn't user-facing

[2020-08-14 00:24] U8NWXD commented on #10279
@Showtim3 would you be able to take this on? Since you worked a lot with this UI, I'm hoping your experience will help you fix this more easily

/cc @oppia/lace-team

[2020-08-14 00:26] U8NWXD commented on #10280
@Showtim3 do you think you'd be able to take this one? I'm asking you since you have experience with this page

[2020-08-14 00:28] U8NWXD commented on #10281
@Showtim3 could you make sure this blocking bug gets fixed?

[2020-08-14 00:29] U8NWXD commented on #10098
@DubeySandeep any updates on this? It looks like this is a blocking bug from last release

[2020-08-14 00:30] U8NWXD commented on #10145
@kevintab95 any updates on this?

[2020-08-14 00:32] kevintab95 commented on #10145
Confirming that this no longer occurs. I have tested this on the test server with the release 3.0.2 build.
![image](https://user-images.githubusercontent.com/11008603/90199913-a7c94b80-ddf3-11ea-89de-3a1063968032.png)

Closing this issue.

[2020-08-14 00:32] #10145 closed, assigned to kevintab95

[2020-08-14 00:32] U8NWXD commented on #10319
Actually reassigning to @Showtim3 since they have worked with the editors a lot

[2020-08-14 00:32] U8NWXD commented on #10259
Actually, reassigning to @Showtim3 since they've worked with the editors a lot

[2020-08-14 00:32] U8NWXD commented on #10264
Actually, reassigning to @Showtim3 since they've worked with the editors a lot

[2020-08-14 00:34] U8NWXD commented on #10320
Actually, reassigning to @Showtim3 since they've worked with the editors a lot

[2020-08-14 00:34] U8NWXD commented on #10265
Actually, reassigning to @Showtim3 since they've worked with the editors a lot

[2020-08-14 00:34] U8NWXD commented on #10266
Actually, reassigning to @Showtim3 since they've worked with the editors a lot

[2020-08-14 00:36] U8NWXD commented on #10310
@Showtim3 could you make sure this blocking bug gets fixed?

[2020-08-14 00:37] U8NWXD commented on #10312
@Showtim3 could you make sure this blocking bug gets fixed?

[2020-08-14 00:38] U8NWXD commented on #10311
@Showtim3 could you make sure this blocking bug gets fixed?

[2020-08-14 00:39] U8NWXD commented on #10313
@Showtim3 could you make sure this blocking bug gets fixed?

[2020-08-14 01:18] kevintab95 commented on #10311
@U8NWXD Can you check if the story being viewed has a valid thumbnail defined (and that the chapters also have thumbnails)?

[2020-08-14 01:19] jimbyo commented on #10307
@seanlip @U8NWXD I did some digging and it seems this should not be a blocking bug! The reason Ublock blocks the requests is a little silly

Opening the log for Ublock shows that the filtering rule applied here is that any request from a URL containing '||appspot.com/collect' is blocked.

<img width="1287" alt="Screen Shot 2020-08-13 at 6 02 04 PM" src="https://user-images.githubusercontent.com/35

[2020-08-14 01:30] kaylahardie opened #10337 "Invalid or missing SSL certificate for the gravatar URL."
**Describe the bug**
When I locally log on to the test server using scripts.start, I always get an 'invalid or missing SSL certificate for the gravatar URL' error. I also get the same error when I run the backend tests for core.controllers.profile_test.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run python -m scripts.start.
 2. Log in.
 3. OR run python -m scripts.run_backend_tests --t

[2020-08-14 01:31] seanlip commented on #10307
That's very amusing! Thanks for checking @jimbyo :D

Yup, in that case, let's just leave it. In the future collections will be migrating to stories anyway so this shouldn't really be much of an issue. Thanks for investigating!

[2020-08-14 01:31] #10307 closed, assigned to nobody

[2020-08-14 01:32] U8NWXD commented on #10149
Reassigning to @Showtim3 since this is a bug in the editors

[2020-08-14 02:51] mschanteltc opened #10338 "Exploration Editor, Exceeding Max Character for Create a New Card Breaks Page"
Occurs under "Learner's Answer and Oppia's Responses" and "And afterwards, directs the learner to..."

After trying to save a new card with a character count that exceeds the limit (50 characters), an error appears that reading that I've exceeded a limit. An additional modal appears saying that an unexpected error has occurred and the page needs to be refreshed.
![Screen Shot 2020-08-13 at 7 46 17

[2020-08-14 02:52] mschanteltc opened #10339 "Exploration Editor, Exceeding Character Limit in Card Name create Unexpected Error"
Occurs under "Learner's Answer and Oppia's Responses" and "And afterwards, directs the learner to..."

After trying to save a new card with a character count that exceeds the limit (50 characters), an error appears that reading that I've exceeded a limit. An additional modal appears saying that an unexpected error has occurred and the page needs to be refreshed.
![Screen Shot 2020-08-13 at 7 46 17

[2020-08-14 02:52] mschanteltc commented on #10339
@Showtim3

[2020-08-14 02:55] seanlip commented on #10339
Duplicate of #10338 -- closing.

[2020-08-14 02:55] #10339 closed, assigned to Showtim3

[2020-08-14 03:44] Showtim3 commented on #10313
I believe this was fixed by a recent PR, @kevintab95 I believe it was one of your PR's?

[2020-08-14 03:48] Showtim3 commented on #10312
Hey @seanlip What are your opinions on this, I believe you mentioned that assigning skills should be done at a global level(which is the reassign modal), Should the skill be added to the subtopic directly when we add a new skill from the subtopic editor page?

[2020-08-14 03:54] seanlip commented on #10312
I would actually suggest dropping the Add Skill button. The reason skills are managed at a global level is to avoid duplicates, and if it's too easy to create a new skill within the topic editor, then creators might inadvertently create new skills which duplicate ones that already exist, and it'll be a bit of a mess to reconcile them. What do you think?

[2020-08-14 04:26] Showtim3 commented on #10312
Yeah makes total sense. I'd drop the add Skill button from the subtopic editor then.

[2020-08-14 04:29] Showtim3 commented on #10311
This is a learner view bug. @aks681 @kevintab95 I'll handle the editor ones.

[2020-08-14 04:58] Showtim3 commented on #10280
Yeah I am taking this up, thanks for noticing this.

[2020-08-14 05:14] Showtim3 commented on #10279
Taking this up..

[2020-08-14 08:59] MohamedMedhat1998 commented on #10261
Thanks for the clarification, I have updated the description with the correct version

[2020-08-14 10:31] RafayGhafoor commented on #8423
I would like to work on "Forbid use of "if x != None" (prefer "if x is not None" instead)."

[2020-08-14 11:00] Hudda commented on #8423
@RafayGhafoor I've assigned you, go ahead. Thanks!

[2020-08-14 17:43] darksun27 commented on #9749
@Showtim3 @bansalnitish can you assign me subtopic-viewer-navbar-breadcrumb.directive.ts and subtopic-viewer-navbar-pre-logo-action.component.ts

[2020-08-14 17:49] sainanee commented on #9749
@darksun27 The first one is migrated already, I'll assign you the second one. Sorry that the list is not updated, it'll be done by Monday!

[2020-08-14 19:09] sagangwee commented on #10213
@DubeySandeep

1. For the i18n translations, what's the process for updating? Looking at a few of the previous changes, I'm assuming the translation process is automated somewhat via translatewiki.net? The [i18n wiki page](https://github.com/oppia/oppia/wiki/How-to-develop-for-i18n) doesn't seem to provide guidance on this point. If I remove the `I18N_TOPNAV_CONTRIBUTOR_DASHBOARD` translation keys

[2020-08-14 19:17] kevintab95 commented on #10313
This was fixed recently in #10239 (thanks @nithusha21!). On develop, with the topic attached to > 5 questions, the practice tab shows up.
![image](https://user-images.githubusercontent.com/11008603/90284969-8ec2a800-de90-11ea-801f-bb540ae6a93e.png)

I have added the "current release" label to the PR so it should be included in the release. Thanks!

[2020-08-14 19:29] darksun27 commented on #9749
@orthodoxparadox can you assign me collection-permissions-card.directive.ts and review-test-page.directive.ts

[2020-08-14 20:38] U8NWXD commented on #10313
Great! I'm closing this issue then

[2020-08-14 20:38] #10313 closed, assigned to kevintab95

[2020-08-14 20:58] seanlip commented on #10213
For (1) I think you should delete the erroneous key/value pair, or maybe (perhaps better) try to do a similar manual translation using Google Translate. It will get automatically re-added/updated later by translatewiki.

For (2), the correct procedure is "ask Sean" :) I have checked and can confirm there are 0 such models in the prod server, and 2 such models in the test server. We need a plan for

[2020-08-14 21:56] sagangwee commented on #10213
@seanlip

1. Thanks—I'll delete the key/value pairs for now seeing as translatewiki can just re-add them.

2. Is it difficult to delete the existing models on the test server? Seeing as they shouldn't really be being used currently, I don't believe there is too much risk with just deleting them.

[2020-08-14 22:02] seanlip commented on #10213
For (1): translating might still be safer, since it's possible they might take the existing modified translation as canonical, now that you've checked the PR in. I'm not sure.

For (2): yup I can do that. Two questions though. (a) Are there any other models that should be deleted/modified accordingly in order to preserve data integrity; (b) do we need to create any replacement models for them?

[2020-08-14 22:04] sagangwee opened #10349 "Move `getter` like methods from topic_services.py to topic_fetchers.py."
To help avoid potential circular dependencies and for overall code health, we should move the `getter` like methods, e.g. [here](https://github.com/oppia/oppia/pull/10212/files#r467628163), from core/domain/topic_services.py to core/domain/topic_fetchers.py.

[2020-08-14 22:13] queencai commented on #8423
can I work on "Restrict use of px with 0" in the CSS section?
or
 "Check for space before and after =" in the HTML section?

[2020-08-14 22:33] sagangwee commented on #10213
1: I see. Then can we rely on the next [automated] update, e.g. PR [#9721](https://github.com/oppia/oppia/pull/9721), that appear to occur roughly once a month (not sure how these are triggered/scheduled though)?

2. As far as I can tell, no for both a) and b) as there are no models with strict dependencies on the UserCommunityRightsModel and any code paths that query the model should fail gracefu

[2020-08-15 03:28] sainanee opened #10352 "Invalid URL in practice-tab of topic editor preview"
**Describe the bug**
The practice-tab of the topic editor preview throws an invalid URL error

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new topic, with subtopic and skill assigned to it
2. Go to preview tab
3. Go to practice tab
4. Select subtopic and press start

**Observed behavior**
Invalid url error is thrown

**Expected behavior**
A preview should have been shown

**Scree

[2020-08-15 03:30] sainanee commented on #10352
@kevintab95 Could you take a look at this? Since I think you were working on the urls recently! Thanks!

[2020-08-15 03:41] kevintab95 commented on #10352
@Showtim3 would you be able to take a look at this since it is related to editor preview?

[2020-08-15 04:41] darksun27 commented on #8472
@bansalnitish can you assign me user-email-preferences.service.ts?

[2020-08-15 06:03] ruhci28 commented on #10306
Hii @kevintab95 I want to work on this issue.

[2020-08-15 17:40] #10324 closed, assigned to Showtim3

[2020-08-15 18:32] sajalasati opened #10358 "Enable takeout for profile users"
The takeout feature for Profile Users should be implemented once proper authentication flow for them is in place.
(A TODO for this job is included in the `core/domain/takeout_service.py` file)

[2020-08-15 19:58] #10311 closed, assigned to nobody

[2020-08-15 20:55] jimbyo opened #10359 "Lighthouse Flakes"
**Describe the bug**

Sometimes when running the Lighthouse CI tests this error shows

[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. Go run the lighthouse tests
 2. Click on the results
 3. See error

**Observed behavior**
Sometimes the Lighthouse checks show this error and fail to run the tests

**Expected behavior**
Lighthouse checks should be able to access all the pages.

[2020-08-16 04:22] seanlip commented on #10359
Hi @jimbyo, could you please update the issue description to remove the parts that do not apply? Thanks!

[2020-08-16 04:53] kevintab95 commented on #10306
Hi @ruhci28, welcome to Oppia! Before you can work on this issue, can you please confirm that you have followed the steps mentioned on our wiki [page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? If not, I would encourage you to do so. New contirbutors are required to fill up the CLA and complete the contributor survery (steps 1 & 2). Once that is done, you'll

[2020-08-16 06:02] Showtim3 commented on #10352
Taking this up..

[2020-08-16 06:15] Hudda commented on #8423
@queencai I've assigned you to "Check for space before and after =". You can work on it. Thanks!

[2020-08-16 06:53] kevintab95 commented on #3369
Looks like this has been fixed by #9122 but the issue was not "auto-closed". Closing it now.

[2020-08-16 06:53] #3369 closed

[2020-08-16 07:11] jimbyo commented on #10359
@seanlip done

[2020-08-16 07:19] seanlip commented on #10359
@jimbyo looks better, thanks!

[2020-08-16 08:30] iamprayush commented on #9140
Closing this since a validation warning is shown in the editor and the exploration publish button does get disabled.

[2020-08-16 08:30] #9140 closed, assigned to nobody

[2020-08-16 08:32] iamprayush commented on #1242
This is obsolete now that new math interactions have been added and the old one has been disabled (and will soon be deprecated).

[2020-08-16 08:32] #1242 closed

[2020-08-16 08:43] iamprayush commented on #861
We have validation warnings for cases like these now, I think we should close this issue. @aks681 could you please confirm?

[2020-08-16 08:51] iamprayush commented on #9835
A validation warning is shown in this case which will prevent the creator from publishing the exploration.

![Screenshot from 2020-08-16 14-19-03](https://user-images.githubusercontent.com/35144226/90330601-9fc40400-dfcb-11ea-94e7-af223acd85d5.png)

Closing this issue.

[2020-08-16 08:51] #9835 closed, assigned to kevintab95, nithusha21, aks681

[2020-08-16 08:53] aks681 commented on #2947
In order to prevent spam suggestions, this is not going to be allowed for logged out users. Although feedback can be present, suggestions involve commits to the exploration, which require logged in users.

[2020-08-16 08:53] #2947 closed

[2020-08-16 09:23] aks681 commented on #2831
Closing this, since we use flexbox in many pages and IE is more or less replaced by edge right now, in which this works.

[2020-08-16 09:23] #2831 closed

[2020-08-16 13:28] #10229 closed, assigned to iamprayush

[2020-08-16 18:25] sainanee opened #10362 "Hint bar does not appear while attempting questions in topic viewer page"
**Describe the bug**
The hint bar doesn't appear while attempting question in topic-viewer page

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Update user to admin
3. Load dummy structures and dummy skill.
4. Assign dummy skill to dummy topic -> subtopic
5. go to learn/staging/dummy-topic-one/practice
6. Select subtopic and start
7. No hint bar

**Observed behavior**
No h

[2020-08-16 18:25] sainanee commented on #10362
@kevintab95 I added the issue. I'm not quite sure how to mark it blocking for release

[2020-08-16 22:23] kevjumba commented on #10322
Issue resolved, Travis CI was overloaded with 80+ PRs at once.

[2020-08-16 22:23] #10322 closed, assigned to nobody

[2020-08-17 03:01] ctian12 commented on #7450
Hi, I'm currently working on gae_models.VersionedModel. I'm still new to the system, and I'm having trouble figuring out how to do the testing. I want to make sure if this is end to end testing. Is there an example I could follow to help me for the beginning?

[2020-08-17 03:14] ruhci28 commented on #10306
Hii @kevintab95 I signed the CLA  and complete the contributor survey.

[2020-08-17 06:05] kevintab95 commented on #10362
Hi @orthodoxparadox, I've added it to the "Blocking bugs" milestone. Thanks for filing the issue!
/cc @aks681

[2020-08-17 12:15] #10268 closed, assigned to Showtim3

[2020-08-17 12:15] #10279 closed, assigned to Showtim3

[2020-08-17 12:15] #10312 closed, assigned to Showtim3

[2020-08-17 12:15] #10319 closed, assigned to Showtim3

[2020-08-17 12:15] #10338 closed, assigned to Showtim3

[2020-08-17 19:21] BenHenning commented on #10211
@MegrezZhu please update your instructions list to be comprehensive (e.g. any changes that need to happen to platform parameter files to support the new server mode).

[2020-08-17 19:52] nishantwrp commented on #10327
Hi @seanlip,

I think it will be very difficult to implement this check (--strictNullChecks) you suggested. I enabled this check and compiled the typescript and saw these errors -> https://www.google.com/url?q=https://drive.google.com/file/d/1fYK8gOoEkWqT1oUme8Pc5iZglzZaulAq/view?usp%3Dsharing&sa=D&source=hangouts&ust=1597779979700000&usg=AFQjCNHITeG83Xf15nlRYpIRiyJgeIE9sw

As you can the number o

[2020-08-17 20:28] MegrezZhu commented on #10211
@BenHenning Done, added descriptions for todos related to the platform parameter files.

[2020-08-17 21:32] seanlip commented on #10327
Two questions:

(a) Is this worth doing? I think it still is, for full type safety, but if you have a more thorough analysis of the pros/cons, feel free to discuss it here.

(b) If it's worth doing, can it be broken up into smaller tasks?

[2020-08-17 21:46] Showtim3 commented on #10281
This is a learner view bug, @kevintab95 @aks681 can you guys take this up?

[2020-08-17 21:47] Showtim3 commented on #10265
I think this is more of a exploration(interaction) bug, rather than the chapter/story editor. @kevintab95 @aks681 Can you guys take this up?

[2020-08-17 21:47] Showtim3 commented on #10264
I think this is more of a exploration(interaction) bug, rather than the chapter/story editor. @kevintab95 @aks681 Can you guys take this up?

[2020-08-17 21:52] Showtim3 commented on #10310
Hey @kaylahardie One we publish the topic,  and then we make any changes to it, we can only save the changes, once they are ready to be published. In this case, a subtopic semtically does not makes much senseunless skills are added to it, so once you add a skill, then you'll be able to save it, becuase once you save the topic, the changes should be published automically. So this is not a bug.

[2020-08-17 21:52] #10310 closed, assigned to Showtim3

[2020-08-17 21:57] Showtim3 commented on #10149
Fixed by https://github.com/oppia/oppia/pull/10225

[2020-08-17 21:57] #10149 closed, assigned to nobody

[2020-08-18 02:47] seanlip commented on #8594
@DubeySandeep this should be under you, I think. Could you please look into it?

[2020-08-18 05:00] kevjumba opened #10373 "MemoryStore for Redis: Incorrect behavior on connection failure."
**Describe the bug**
2 Bugs:
1. There will be potential cases when the Google Memorystore instance that manages the caching of data on oppia goes down. Currently, oppia fails catastrophically with a server error.
2. If a non versioned instance of an oppia object, (e.g an exploration or topic) already exists in the cache when the server goes down, this can cause the oppia server to load incorrect d

[2020-08-18 05:16] kevintab95 commented on #9225
Hi @Showtim3, yep, it seems to be a "default" behaviour specific to browsers. Also, the screenshots appear to be taken in the admin page. So it doesn't look like a LaCE issue, right?

[2020-08-18 10:15] #10266 closed, assigned to Showtim3

[2020-08-18 10:25] DubeySandeep commented on #10213
I also confirm that deleting UserCommunityRightsModel models directly is safe here. [Though the users won't have the review rights anymore, we will assign reviewers again once the contribution-dashboard is publicly accessible!]

[2020-08-18 12:46] sainanee commented on #9749
@darksun27 `collection-permissions-card.directive.ts` has unmigrated service dependencies. You can choose from the updated list! I've assigned you `review-test-page.directive.ts`

[2020-08-18 13:01] nishantwrp commented on #10327
Yeah, maybe. It would be nice to make the checks strict. But if the goal is just

- Args passed in to functions which expect typed args but which receive undefined instead
- Objects with missing keys (or keys whose value are undefined)

Then its a bit overkill. Maybe some lint checks would do this. But enabling this flag will enable stricter type checks so yeah, it would be worth doing.

Yeah, her

[2020-08-18 16:45] Hudda opened #10375 "License link and Oppia's name is missing on signup page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'localhost:8181/'
 2. Click on 'sign in'
 3. Enter 'email'
 4. See error

**Observed behavior**
Oppia is missing on the first line.
'Click here' on line before checkbox is not working.

**Expected behavior**
Oppia should be there on first line.
'click here' should w

[2020-08-18 17:48] U8NWXD commented on #10281
Assigning to @aks681 as lead for the learner and creator experience team. Akshay, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:49] U8NWXD commented on #10265
Assigning to @aks681 as lead for the learner and creator experience team. Akshay, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:50] U8NWXD commented on #10264
Assigning to @aks681 as lead for the learner and creator experience team. Akshay, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:54] U8NWXD commented on #10362
@aks681, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:55] U8NWXD commented on #10283
@aks681, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:56] U8NWXD commented on #10301
@aks681, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:56] U8NWXD commented on #10303
@aks681, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:57] U8NWXD commented on #10263
@aks681, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:58] U8NWXD commented on #10320
@Showtim3, can you make sure this blocking bug gets fixed by EOD Thursday, August 20?

[2020-08-18 17:58] U8NWXD commented on #10259
Fixed by #10371

[2020-08-18 17:58] #10259 closed, assigned to Showtim3

[2020-08-18 18:39] kevintab95 commented on #10306
@ruhci28 thanks! Feel free to create a PR for this when you are ready.

[2020-08-18 20:02] #10031 closed, assigned to sagangwee

[2020-08-18 23:39] remigourdon commented on #8668
Hi @Showtim3 !

New aspiring contributor here :). I had a look at some of the files and I would like to know if I can work on:

+ logger.service.ts
+ messenger.service.ts

[2020-08-19 04:35] kaylahardie opened #10380 "Weird time differences causing failing export data tests in gae_models_test.py for the user models in the storage layer."
**Describe the bug**
I checked out develop, merged from upstream and then ran python -m scripts.run_backend_tests --test_target=core.storage.user.gae_models_test and got three errors relating to time differences it seems like. The three tests that failed were:
1. test_export_data_for_nontrivial_case_returns_data_correctly
2. test_export_data_one_exploration
3. test_export_data_multiple_exploration

[2020-08-19 04:51] seanlip commented on #10380
Hi @varun-tandon, is this related to Takeout? If so, could you PTAL? Thanks!

[2020-08-19 04:57] DubeySandeep opened #10381 "Lock the selected language for an exploration upon publication."
Currently, users are asked to select the language for the exploration before publishing the exploration though in the meantime we expect translators to add translations for the exploration in the preferred language. This creates a situation where exploration main content to have content in language "X" whereas it also has translation in language "X".

To resolve this issue we are planning to ask u

[2020-08-19 10:15] seanlip commented on #10213
For (2), I have deleted the two models. Thanks!

I believe @sagangwee is still following up on (1).

[2020-08-19 10:29] seanlip commented on #10327
Yup, I agree with your assessment and the general plan of action. Thanks!

[2020-08-19 11:34] iamprayush commented on #5295
This issue is not reproducible anymore which is why I'm closing this. Please re-open if this issue recurs, thanks!
![issue](https://user-images.githubusercontent.com/35144226/90630100-0a7c7600-e23e-11ea-8f9e-18161eac8b1f.gif)

[2020-08-19 14:23] nishantwrp opened #10385 "Music interaction doesn't work"
Try to create an exploration with Music Interaction. You'll observe that it doesn't work. And there is this console error

[code]

![Screenshot_20200819_195310](https://user-images.githubusercontent.com/36989112/90647180-ac5b8d00-e255-11ea-8f13-c068433e6a52.png)

[2020-08-19 15:38] vojtechjelinek commented on #10327
@nishantwrp Could you prepare the setup (new tsconfig.json and maybe implement it in a few initial folders) for this issue and then update this issue description so that it contains a list of folders to that can be assigned to people and maybe a description on how to fix the TS errors introduced by the new tsconfig.json.

[2020-08-19 16:10] aks681 commented on #10281
This is actually an intentional behaviour that was present in the mocks by @mschanteltc, hence removing from blocking bugs for now, can be closed later, if required.

[2020-08-19 16:54] vojtechjelinek opened #10386 "Fix `created_on` in `UserSettingsModel`"
The `created_on` field contains a lot of invalid values because there was a bug in a way how we saved the `UserSettingModel`s (this was fixed in #9252).

We need to fix the `created_on` via one-off job. The job will look through other fields in `UserSettingModel` and through other models from the same user and compares them in order to find the lower date. This date is then set as the new `created

[2020-08-19 18:51] itsmayank0 commented on #10306
Hi @kevintab95 I want to work on this issue.

[2020-08-19 18:53] itsmayank0 commented on #10386
Hi @vojtechjelinek  I want to work on this issue.

[2020-08-19 18:57] kevintab95 commented on #10306
Sounds good @itsmayank0, please feel free to create a PR when you are ready. Thanks!

[2020-08-19 18:58] vojtechjelinek commented on #10386
@itsmayank0 Hi, this issue is not recommended for new contributors. Please pick one of these https://github.com/oppia/oppia/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22 issues to take up as a new contributor.

[2020-08-19 19:54] #10359 closed, assigned to jimbyo

[2020-08-19 23:00] kaylahardie opened #10389 "Contributor dashboard page 'Things to do' menu's text and highlighting does not respond to window size changes."
**Describe the bug**
The reviewer version of the contributor dashboard page has a 'Things to do' menu on the left side. This  menu has 'Review Questions' and 'Review Translations' as options. These options do not respond well when you change the size of the browser window. The text overlaps and when you highlight it, it only highlights part of the text. This could be related to the same error that

[2020-08-20 04:21] varun-tandon commented on #10380
@seanlip Just saw this, taking a look now.

[2020-08-20 04:37] varun-tandon commented on #10380
@seanlip, seems like this issue is being caused by the object being created in Pacific time, but the test is running in UTC time. This is also why the CI did not catch the issue. Do you know why it might be possible that the object is being created in the tester's local time? I thought that the changes we made in the last timezone related PR resolved this?

[2020-08-20 04:42] seanlip commented on #10380
Sorry, I have no idea. But I guess we can check a few things if this is running on @kaylahardie's local machine:

- @kaylahardie, are you on the latest version of develop and does this issue occur there?
- If so, @varun-tandon, do you want to suggest that @kaylahardie prints out certain info related to tzinfo so that you can help debug? If so, perhaps you could suggest where exactly to put the pri

[2020-08-20 04:44] varun-tandon commented on #10380
@seanlip I tested on the latest version of develop and I am able to replicate the issue perfectly. This is how I know that the issue is that the model is being created in the local time, but the test variables are being created in the UTC time. Is it possible that GAE is using the local time instead of the timezone set in python?

[2020-08-20 04:48] seanlip commented on #10380
Oh, I see. Yes, that is possible; you might need to dig a bit to see how the time for those variables is set (i.e. trace through the code to understand the "life of a change to those fields").

[2020-08-20 04:49] seanlip commented on #10380
Also, it might be worth examining: why do these tests fail and not others? Surely we have other tests that use time info; it might be worth digging into what is different about these ones in particular.

[2020-08-20 06:17] srijanreddy98 commented on #9154
No longer required!

[2020-08-20 08:00] sajalasati opened #10394 "Move PIN attribute from UserAuthDetailsModel to UserSettingsModel in the backend."
`PIN` isn't being used as a authentication detail anywhere in the backend and merely serves as a storage space on the server (it is useful for authentication only for profile login on android).
Hence it must be moved to the `UserSettingsModel` now.

[2020-08-20 18:06] kevjumba opened #10398 "Email Dashboard NoneType Error"
**Describe the bug**
Queries do not work on the email dashboard because an exception is raised on the payload that is passed in on the post request because the payload is None.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the start script on develop.
2. Login as an administrative user.
3. Go to the admin panel under the Roles tab and set your user privileges to admin.
4. Go to http:

[2020-08-20 18:47] reetbatra opened #10399 "Noticed a typo/grammatical error in README file"
In the contributing section of README file, I found that a "," is missing after the word "community" and before the word "for". It does not make a big difference, but if possible, allow me to contribute towards this project.

[2020-08-20 18:50] seanlip commented on #10399
Hi @reetbatra, this is not a grammatical error. The sentence is correct as written, so I'm closing this issue.

That said, you are still more than welcome to contribute to the project. Please see [these instructions](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) for how to get started!

[2020-08-20 18:50] #10399 closed, assigned to nobody

[2020-08-20 21:37] U8NWXD commented on #10263
When the screen width is decreased even further than in this screenshot, the bar turns white as it is shown on mobile

[2020-08-20 22:33] UdokaVrede commented on #10306
Hi @kevintab95  is this still open?, I'd like to work on this issue.

[2020-08-20 22:50] kevintab95 commented on #10306
Hi @UdokaVrede, welcome to Oppia! Before you can work on this issue, can you please confirm that you have followed the steps mentioned on our [wiki page](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up)? If not, I would encourage you to do so. New contirbutors are required to fill up the CLA and complete the contributor survery (steps 1 & 2). Once that is done, you

[2020-08-21 04:40] Showtim3 commented on #10265
Hey @vojtechjelinek I was unable to repro this on the test server, can you give me the exploration that you used?

[2020-08-21 04:49] Showtim3 commented on #10320
![image](https://user-images.githubusercontent.com/30312043/90853355-86d69c80-e397-11ea-9df3-0f08d6fa9ae0.png)
These backend is returning deleted skills(skill_editor/id leads to the error page), but when i try to repro this on develop, the deleted skill is not returned from the backend.
I am unable to fully understand this why a null object is returned from the backend.

[2020-08-21 07:15] vojtechjelinek commented on #10265
Not sure which exactly but it contained `CodeRepl`.

[2020-08-21 11:14] nishantwrp commented on #10385
/cc @oppia/lace-team

[2020-08-21 15:39] aks681 commented on #10303
Removing this from blocking bugs, since except for one point (which is related to URL redirection and would involve more changes), everything else is done in #10409

[2020-08-21 20:34] Showtim3 commented on #10265
Also, did you created a new story and a new chapter as mentioned in the steps above?

[2020-08-21 21:33] Showtim3 commented on #10320
Okay so I deleted a topic which had a deleted skill still assigned, i removed that topic from the test server and everthing seems to work now. Also, now we have had proper structures and flows for deleting skills, so this wont be occuring in the future.

[2020-08-22 05:37] #9379 closed, assigned to donosco99

[2020-08-22 21:09] U8NWXD commented on #10320
@Showtim3 thanks for debugging this! Since it sounds like the issue is resolved, I'm closing this issue, but feel free to reopen if this issue is seen again

[2020-08-22 21:09] #10320 closed, assigned to Showtim3

[2020-08-22 21:11] U8NWXD commented on #10265
@vojtechjelinek could you try reproducing this issue on the test server? If you can't reproduce it, we can close the issue. If you can, please post detailed reproduction instructions so that Showtim3 can debug

[2020-08-22 22:58] agbanusi commented on #8472
Hi @bansalnitish can you please assign me thread-data.service.ts?

[2020-08-22 23:52] ankita240796 opened #10415 "Refactor prod validators to be split into individual validators"
Refactor [prod_validators.py](https://github.com/oppia/oppia/blob/develop/core/domain/prod_validators.py) such that there is one validator module per model module in `core/storage/`.

### List of model categories

#### TODO

#### In progress

- [ ] subtopic [John Jia]

#### Done

- [x] activity @ankita240796 (#10416)
- [x] audit @kate-perkins (#10995)
- [x] base_model @ankita240796 (#10360)
- [x]

[2020-08-22 23:57] ankita240796 commented on #10415
@vojtechjelinek PTAL to confirm if this looks fine, Thanks!

[2020-08-23 07:29] donosco99 opened #10419 "The RTECustomizationArgsValidationOneOffJob fails on production and backup server"
This error occurred recently in production

[code]

**Additional context**

- These errors were encountered while running the job.

- This error is mostly caused by invalid data, so the approach to solving this would be to the first audit each RTE components separately and fix it.(Math RTE components have multiple audit jobs and mostly have valid data in prod-server).

- We need similar jobs for o

[2020-08-23 07:38] donosco99 opened #10420 "Make the math SVG filenames consistent in the test-server"
Currently, on the test-server, all the filenames for Math SVGs don't have the same format.
Although the filenames are not invalid and will not cause an issue.
For the sake of consistency, all the Math SVG filenames should have the same format.

[2020-08-23 09:18] iamprayush commented on #1234
Closing this since the new math interactions have a help modal that serves this purpose.

[2020-08-23 09:51] vojtechjelinek commented on #10265
Couldn't get to this error again, from the logs posted before you can see that it was with exploration with ID 1. When I was trying to fiddle around with this, there was a lot of other errors that I already reported. This error should also be logged at the server logs.
![image](https://user-images.githubusercontent.com/10142938/90975696-e61ee300-e536-11ea-9c5c-5fdf38c4215b.png)
![image](https://us

[2020-08-23 10:39] vojtechjelinek commented on #10327
Hi, we had a discussion with @nishantwrp on this, we can add a new TSconfig with strict checks. We can incrementally add folders and files to this config (starting with domain and services and moving towards controllers and components).

The only issue is that the developers can only use one config (usually the file with tsconfig.json name) with their IDE so that they will notice the errors coming

[2020-08-23 10:45] seanlip commented on #10327
I think it is ok to go ahead and start now, actually. I understand the
point made, but it is not much different from lint checks or failing
frontend tests, and would only affect the set of files they have changed,
so I don't think it is a big issue. It will also help with gradually
training developers so that using types properly becomes a habit by the
time we do the full update.

[2020-08-23 23:42] Showtim3 commented on #9033
Moving to the Audio and translation team.

[2020-08-24 00:20] U8NWXD commented on #10263
Removing from blocking bugs since this is long-standing behavior

[2020-08-24 00:22] U8NWXD commented on #10265
Removing from blocking bugs since this can't be reproduced

[2020-08-24 02:56] seanlip commented on #5348
The issue here is that we're using TextInput for an interaction where the learner is supposed to enter code. We might want to have a separate interaction, or a generalization of an existing code interaction, for this sort of thing.

[2020-08-24 03:01] seanlip commented on #8593
Note that this still occurs, but the little post-it image does appear correctly in the exploration overview graph. So maybe this is just a question of making sure that both the links to the image from the exploration overview graph and from the default feedback answer group are pointing to the same place.

[2020-08-24 03:03] seanlip commented on #1254
Since this issue was filed, a warning "post-it" error message has been implemented for the default feedback answer group, so I'm closing this. (It seems that it's not showing in prod, but that seems like a different issue which is being tracked in #8593.)

[2020-08-24 03:03] #1254 closed

[2020-08-24 03:06] Showtim3 commented on #3666
The requirement for having the rejecting-suggestion action reversible has not come up very often(if at all) and its also techincally complex, So just adding a confirmation modal would be enough instead of making rejecting a suggestion reversible.

[2020-08-24 03:06] seanlip commented on #10263
@U8NWXD is the behaviour, as described in the description of the issue, actually a bug? I don't think it is because it's reacting to the changed width of the window.

[2020-08-24 03:07] seanlip commented on #10263
But perhaps another one needs to be filed for the colour change (or this one edited)?

[2020-08-24 03:17] Showtim3 commented on #4819
Merged this issuse with #4417 since the issues are almost identical and updated #4417 issue to include saving the exploration also.

[2020-08-24 03:17] #4819 closed, assigned to nobody

[2020-08-24 03:17] seanlip commented on #2963
Closing. We are not going to do this for now -- it is too complicated, and easy to get wrong.

[2020-08-24 03:17] #2963 closed

[2020-08-24 03:18] seanlip commented on #1970
@kevintab95 are you looking into this as part of the URL changes?

[2020-08-24 03:21] seanlip commented on #2448
Closing this -- per discussion with @Showtim3, we decided that we don't really need it as we move towards having a more structured lesson creation process.

[2020-08-24 03:21] #2448 closed

[2020-08-24 03:22] seanlip commented on #2945
Closing this -- per discussion with @Showtim3, we are planning to focus more on bringing specific explorations to completion, rather than anything anyone creates.

[2020-08-24 03:22] #2945 closed

[2020-08-24 03:23] seanlip commented on #1022
Closing this, since we are not planning to augment parameter functionality at the moment.

[2020-08-24 03:23] #1022 closed

[2020-08-24 03:23] seanlip commented on #4397
Closing this, because the current editor seems to be working quite well and creators aren't having issues with it.

[2020-08-24 03:23] #4397 closed, assigned to nobody

[2020-08-24 03:30] Showtim3 commented on #492
For someone new to creating explorations, we do have a "Welcome flow" to demonstarte the sequence of the steps to be followed. Also if we don't show warnings at the start, it might be too confusing, since the "Publish" button won't work and if we don't show the warnings at the beginning, at what point do they suddenly appear(more confusion)?
Closing this, doesn't seem to be a valid bug anymore.

[2020-08-24 03:30] #492 closed

[2020-08-24 03:32] seanlip commented on #5856
Closing this for now since the community library is going to be secondary to the main lesson topics that are currently being developed.

[2020-08-24 03:32] #5856 closed, assigned to nobody

[2020-08-24 03:33] seanlip commented on #6930
Note: see also #5343, which is related. This needs some design.

[2020-08-24 04:39] kevintab95 commented on #1970
Not really, we don't have a page title planned for the collection editor page. But this seems reasonable and can be done.

[2020-08-24 05:14] varun-tandon commented on #10380
@seanlip I think I have a solution to this, and I wanted to run it by you before implementing.

To recap, the original problem we were trying to solve originally was that the timestamp in the Takeout zip file was not matching up with local tests, since the timestamp used on the CI is UTC, and the timestamp used locally could vary from computer to computer. By setting the timezone at the start of t

[2020-08-24 05:38] vinitamurthi commented on #6930
Actually I think this issue is solved. What we need to do is make this efficient

[2020-08-24 05:39] vinitamurthi commented on #6930
So given that, I will close this bug and we can use #5343 to track the design to make this fetch call efficient

[2020-08-24 06:05] seanlip commented on #6930
Yup, sgtm. Closing.

[2020-08-24 06:05] #6930 closed, assigned to vinitamurthi

[2020-08-24 06:08] seanlip commented on #10380
Thanks, that's a good analysis!

I think I'll make a different suggestion -- let's just get rid of the golden zip file. In the five years we've had it, it's caused a lot of churn, and never once has it actually been due to the code or a test actually being wrong. So it's becoming a bit of a "change detector" test.

Given that, I suggest that we drop the golden file, and instead take the generated

[2020-08-24 06:15] seanlip commented on #10265
@vojtechjelinek is the log you posted [here](https://github.com/oppia/oppia/issues/10265#issuecomment-678753487) one that you observed recently, or was it from when you originally filed the issue?

[2020-08-24 08:13] vojtechjelinek commented on #10265
@seanlip Observed recently but also it was quite similar before. It is tracked here though #10264.

[2020-08-24 10:35] vojtechjelinek commented on #10265
@U8NWXD Could you let me know when the others console errors are fixed so I can try  to reproduce this again, also did someone try to look at the test server logs to see what can be the problem?

[2020-08-24 10:40] kevintab95 commented on #10098
@DubeySandeep friendly ping!

[2020-08-24 10:40] kevintab95 commented on #10309
@DubeySandeep friendly ping!

[2020-08-24 10:53] brianlinUM commented on #8053
Hi I would like to take on this issue if no one else is already.

[2020-08-24 11:35] #10045 closed, assigned to donosco99

[2020-08-24 11:44] aks681 commented on #861
Yup, it seems like validations would take care of this. @iamprayush Can you confirm that that the specific case in the issue description is fixed/not possible to reach? If so, you can close the issue.

[2020-08-24 11:54] #10083 closed, assigned to nadintamer, bansalnitish, srijanreddy98, sainanee

[2020-08-24 12:16] kevintab95 commented on #10385
This has been fixed by #10395.

[2020-08-24 12:16] #10385 closed, assigned to kevintab95

[2020-08-24 13:00] iamprayush commented on #861
I checked and the validation issue mentioned for the text input interaction does not exist. I have created a PR for adding that.

[2020-08-24 14:28] #10375 closed, assigned to kevintab95

[2020-08-24 14:39] #10072 closed, assigned to shavavo

[2020-08-24 20:14] seanlip commented on #10265
/cc @vojtechjelinek Is this relevant?

[code]

[2020-08-24 20:16] vojtechjelinek commented on #10265
I think these are for the errors in the other issue. The one that this focuses on should have something like "Invalid interaction CodeRepl …"

[2020-08-24 20:20] seanlip commented on #10265
Ah ok, sorry. That one happened only once, around the time this issue was filed:

[code]

[2020-08-24 20:27] vojtechjelinek commented on #10265
@U8NWXD @Showtim3 Will this help you resolve this, seems like the validation should be done when the exploration is added and not when the story is published?

[2020-08-24 20:48] vojtechjelinek commented on #10265
Okay, tried to replicate once again:

1. Create topic and publish it
1. Create a story
1. Add a chapter to story with exploration ID `0FRoyN4eeK76` (on test server), make the chapter valid, the chapter TODO list should look like this
![image](https://user-images.githubusercontent.com/10142938/91094861-b1f11280-e65b-11ea-9e88-114a7918c836.png)
1. Add a second chapter with exploration ID `0FRoyN4eeK

[2020-08-24 21:28] #10264 closed, assigned to Showtim3

[2020-08-24 22:50] Showtim3 commented on #10265
Yeah the PR that i made #10413 should fix this(It prohibits publishing if the explorations are invalid).

[2020-08-24 22:50] #10265 closed, assigned to vojtechjelinek, U8NWXD, Showtim3

[2020-08-24 23:08] kaylahardie opened #10432 "Load dummy new structures data on activities tab for admins isn't working."
**Describe the bug**
I checked out develop and then merged with the updated upstream. I logged on as an admin, gave myself admin privileges and then tried to load the 'Load dummy new structures data' on the activities tab of the admin page. I got a 'Sever error: 'NoneType' object has no attribute 'version'' error. This was working a week ago. There seems to be a problem with getting the version in

[2020-08-24 23:41] #10094 closed, assigned to sagangwee

[2020-08-25 00:52] U8NWXD commented on #10263
I've updated the issue title and description to better match what we decided the bug was

[2020-08-25 01:53] kaylahardie opened #10436 "Rename methods from get_x_from_model to create_x_from model."
**Describe the bug**
The purpose of this issue is to change the convention in the codebase of using get_x_from_model to using create_x_from_model to not overload the meaning of get. These methods refer to creating domain objects from a storage object. One example is get_suggestion_from_model in suggestion_services.py. This was brought up in PR #10300 by @BenHenning

[2020-08-25 01:54] seanlip commented on #10436
/cc @vojtechjelinek who is investigating the interaction between domain objects and models in the codebase and is currently working on a design doc for it.

@kaylahardie could you please point to the code review which talks about this so that @vojtechjelinek has context? Thanks!

[2020-08-25 01:57] kaylahardie commented on #10436
@seanlip updated!

[2020-08-25 02:00] seanlip commented on #10436
Thanks! @vojtechjelinek could you PTAL at this -- any thoughts?

[2020-08-25 05:09] Showtim3 commented on #8208
The file being talked about here `SuggestionThreadObjectFactory`, has now been upgraded to angular and hence is checked for type-safety, so this issue seems fixed. Additionally, the tests also looks improved now. This issue seems to be fixed by #8136
[code]

[2020-08-25 05:09] #8208 closed, assigned to Showtim3

[2020-08-25 06:19] DubeySandeep opened #10439 "Translating state with "Continue" interaction throw errors"
Unable to save a draft for translation changes in the exploration!

Steps to reproduce:
1. CReate exploration
2. Add 2 states (One should have Continue interaction.)
3. Go to the translation tab and try translating the state with Continue.

Screenshot:
![image](https://user-images.githubusercontent.com/16653571/91128664-38dad500-e6c6-11ea-9cf1-719783b59a9c.png)

Server error log:
[code]

[2020-08-25 06:22] DubeySandeep commented on #10439
@shavavo, Can you please check whether this is happening because of the new content_ids we have introduced?

[2020-08-25 06:45] DubeySandeep opened #10440 "Server error messages are hidden behind the nav bar"
The server errors are not completely visible as there are hidden behind the new navbar.

**Steps to reproduce:**
1. Create exploration
2. Make some changes in the EditorAutosaveHandler controller so that it throws an error.
3. Add some changes in the exploration
4. Check the error message on top!

**Screenshot:**
![image](https://user-images.githubusercontent.com/16653571/91137760-527f1b00-e6cc-11

[2020-08-25 07:04] seanlip commented on #10440
@Showtim3 could you please look into this? Probably just involves adjusting the z-index.

Also, @mschanteltc, do you have any recommendations for improving the design of the error messages?

[2020-08-25 08:28] DubeySandeep commented on #10098
Hi @kevintab95, there are some major changes in translation functionality recently, and adding the functionality mentioned in this issue won't be cherry-picked in the current release. I would suggest targeting this issue for the next release. Can you (release-coordinator) add this to the blocking bug after completing the current release?

[I'm removing it from blocking bug!]

[2020-08-25 08:30] kevintab95 commented on #10098
Ah ok, sounds good. Thanks @DubeySandeep!

[2020-08-25 14:46] sagangwee commented on #8794
Note: many reviewers in one category makes reviewer collisions more likely.

[2020-08-25 14:48] #9498 closed, assigned to DubeySandeep

[2020-08-25 14:57] sagangwee commented on #7571
For current outdated translations, the user can't see the outdated translation.

[2020-08-25 15:04] sagangwee commented on #5549
@nithusha21 Is this outdated? I think we can defer to https://github.com/oppia/oppia/issues/6671.

[2020-08-25 19:45] nishantwrp commented on #7004
@vojtechjelinek should we close this now?

[2020-08-25 19:48] #10283 closed, assigned to aks681

[2020-08-25 19:48] #10301 closed, assigned to aks681

[2020-08-25 19:48] #10362 closed, assigned to aks681

[2020-08-25 20:19] seanlip commented on #7004
Not without a linked PR number or a comment explaining why this has been resolved...

[2020-08-25 23:03] Showtim3 commented on #8128
After discussion with @Hudda, Added this to the issue #8423.

[2020-08-25 23:03] #8128 closed, assigned to Showtim3

[2020-08-26 00:21] Showtim3 commented on #8470
The revelant comments have been added already on develop. See line 202 on develop(build.py). Hence closing this.
[code]

[2020-08-26 00:21] #8470 closed, assigned to Showtim3

[2020-08-26 04:19] kevjumba opened #10449 "get_installed_distributions() on directory bug"
**Describe the bug**
When downgrading a python package that is already installed by reinstalling it with using pip install --upgrade to a directory, the pip.get_installed_distributions() function gets confused and returns the later version. For example, if Flask 1.1.2 is installed and we change it so using `pip install flask==1.1.0 --upgrade`, the installation proceeds correctly and the flask vers

[2020-08-26 04:27] kevjumba commented on #10449
Oops I raised this issue on the wrong repository.

[2020-08-26 04:28] #10449 closed, assigned to nobody

[2020-08-26 05:26] mschanteltc opened #10450 "Question Editor UI Improvements"
After looking at changes from #10370, here are improvements that need to be made:

![Screen Shot 2020-08-25 at 5 45 13 PM](https://user-images.githubusercontent.com/22177674/91242455-4f038800-e6fc-11ea-8a3b-ecce8877aca2.png)

- Change the "Questions" icon to [this](https://material.io/resources/icons/?search=contact&icon=import_contacts&style=baseline)

![Screen Shot 2020-08-25 at 5 46 21 PM](http

[2020-08-26 05:26] mschanteltc opened #10451 "Exploration History, UI Improvements"
After looking at changes from #10400, here are improvements that need to be made:

![Screen Shot 2020-08-25 at 7 12 03 PM](https://user-images.githubusercontent.com/22177674/91254212-9565e080-e716-11ea-8ac4-d384a5b0d488.png)

- Make the filter input box taller and add a '[search](https://material.io/resources/icons/?search=search&icon=search&style=baseline)' icon in it

- Let's align the "History"

[2020-08-26 05:27] mschanteltc commented on #10450
@Showtim3

[2020-08-26 05:27] mschanteltc commented on #10451
@Showtim3

[2020-08-26 08:32] ankita240796 opened #10452 "Design update for app_dev.yaml to have clear separation for local and prod builds"
Currently `app_dev.yaml` contains details for both local and prod builds. This should be separated clearly so that local and prod builds are independent and no extra files are being uploaded - i.e. only the required files should be uploaded. As of now since we have a common listing, we upload extra files which might only be required for a local build and not a prod build.

See #8488 for reference.

[2020-08-26 11:45] Shiv1202 commented on #10394
@sajalasati
Can I start working on this.

[2020-08-26 13:11] kevintab95 commented on #4057
Hi @tianqi-wu, I've assigned `player-position.service.ts` to you!

[2020-08-26 15:36] vojtechjelinek commented on #7004
@seanlip The PRs that fixed this are mentioned in this issue. @nishantwrp Please reference the issue with remaining libs that will be removed after Angular 8 migration and close this.

[2020-08-26 17:37] seanlip commented on #7004
@vojtechjelinek I don't see any PRs mentioned in the issue description?

If you're talking about the ones that happen to show up in the conversation history, I suggest not relying on those, but being explicit instead. Sometimes PRs show up in the conversation history due to random mentions.

[2020-08-26 18:29] nishantwrp commented on #7004
PRs solving this issue

- #10141
- #10223
- #10388

Also, other libraries bundled in `third_party.js` will eventually be removed after we migrate to angular. (#10260)

[2020-08-26 18:29] #7004 closed, assigned to nishantwrp

[2020-08-26 20:03] mschanteltc commented on #10440
We should prevent multiple error messages appearing in a single instance. If there are error messages that help the creator understand and fix the problem, these error messages should be shown near the [incomplete field (Tip 3)](https://www.nngroup.com/articles/errors-forms-design-guidelines/).

If there are errors that the creator cannot fix, we should have a "report" button within the error mess

[2020-08-26 21:42] #10309 closed, assigned to DubeySandeep

[2020-08-26 21:51] #10125 closed, assigned to jimbyo

[2020-08-26 22:01] kaylahardie opened #10456 "Improve the naming of UserContributionScoringModel and its domain object by using Proficiency instead of Scoring."
**Describe the bug**
It was brought up by @seanlip (and agreed by @nithusha21 and @DubeySandeep)  in PR #10300 that it would be more clear and improve readability if the naming of UserContributionScoringModel in user/gae_models.py and UserContributionScoring in user_domain.py were changed to UserContributionProficiencyModel and UserContributionProficiency. This would highlight the fact that the cl

[2020-08-27 03:10] Showtim3 commented on #8668
Hey @remigourdon Assigned you, also sorry for the delay.

[2020-08-27 04:56] aggarwalpulkit596 opened #10460 "Add learner's flow for RatioExpressinoInput"
**Is your feature request related to a problem? Please describe.**
 In #10175 a new type of interaction was added that allows creators to have a dedicated ratio input field but there was no learner's flow added to that interaction.

**Describe the solution you'd like**
In order to use this interaction the learner's flow needs to be added along with e2e tests for the same.

[2020-08-27 14:37] kevintab95 opened #10463 "Store profile images in the CDN instead of the datastore"
Profile images are stored in the User model as a base64 string -- this is bad practice. Assets need to be stored in CDN (e.g. GCS) like it is done for other uploaded images. New profile pictures should be stored in GCS and the filename should be stored in a new field in the user model. For existing images on the server, a job should be run to convert data urls to image files and store them in GCS.

[2020-08-27 19:50] Showtim3 commented on #10432
Yeah even I noticed this, but seems like its fixed now. Can you confirm and close this? @kaylahardie

[2020-08-27 22:55] kaylahardie commented on #10432
No I'm still getting the error @Showtim3, thoughts?

[2020-08-27 23:31] DubeySandeep commented on #10432
@Hudda had also faced a similar issue and restarting the server had resolved the issue! @Hudda Can you please confirm?

(just wild guess) Is it happening because of some redis cache/dump? Do you see any dump file in the repo?  [Note: the dump file is in .gitigone so you won't be able to check it through git status]

[2020-08-28 02:32] seanlip commented on #6458
We won't do this, because modifying the embedded editor is not technically feasible.

[2020-08-28 02:32] #6458 closed, assigned to nobody

[2020-08-28 06:28] Hudda commented on #10432
Hi Sandeep,

Kevin is working on this one. I've added you to that thread.

Thanks,
Anshul

On Fri, Aug 28, 2020 at 5:01 AM Sandeep Dubey <notifications@github.com>
wrote:

[2020-08-28 06:35] Hudda opened #10470 "Keep track of issue #13553 opened in eslint repo"
eslint's `space-before-block`  is not working as expected. I've created an issue for this in the eslint repository. Keep track of that issue and make sure it is fixed.

Link to the issue: https://github.com/eslint/eslint/issues/13553

[2020-08-28 08:08] seanlip commented on #10380
Hi @varun-tandon -- just to check, are you looking into this / did you see my previous comment?

[2020-08-28 08:55] kevintab95 commented on #10250
This is done in #10252. Closing.

[2020-08-28 08:55] #10250 closed, assigned to sagangwee

[2020-08-28 09:24] #9471 closed, assigned to rohitkatlaa

[2020-08-28 09:35] rohitkatlaa commented on #9471
This is an old issue which is not valid anymore because literallyCanvas is not used anymore.

[2020-08-28 09:36] rohitkatlaa commented on #9762
This issue is fixed by the pr #9745

[2020-08-28 09:36] #9762 closed, assigned to nobody

[2020-08-28 09:41] kevintab95 commented on #9799
/cc @srijanreddy98

[2020-08-28 09:50] DubeySandeep commented on #8989
[Duplicate issue] This looks like a duplicate issue of #9138. Closing this issue.

Note: #9138 is already resolved!

[2020-08-28 09:50] #8989 closed, assigned to nobody

[2020-08-28 10:05] kevintab95 commented on #9367
Seems to be fixed by #9410 but was not auto-closed. Closing now.

[2020-08-28 10:05] #9367 closed, assigned to jameesjohn

[2020-08-28 10:11] kevintab95 commented on #9652
/cc @srijanreddy98

[2020-08-28 13:31] vinitamurthi opened #10472 "Revert ownership to vinitamurthi@ after 2020-09-05"
Add vinitamurthi@ back to codeowners after 5th September since I will be going on break till then

[2020-08-28 14:13] nishantwrp opened #10474 "Make typescript checks strict"
As per discussion in #10327 we have decided to enable `strict` rule in our `tsconfig.json`. We can't do this at once because of a huge number of errors. So, we've decided to do it gradually file by file. For reference on what does `strict` rule do you can look for `--strict` [here](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

- You can once go through [this guide](https://

[2020-08-28 14:15] nishantwrp commented on #10327
Closing in favor of #10474.

[2020-08-28 14:15] #10327 closed, assigned to nishantwrp

[2020-08-28 16:52] kevjumba commented on #10432
Hi I already merged the PR that fixed that issue. I don't think this is the same issue because when I merged the PR https://github.com/oppia/oppia/pull/10429, I tested the reload explorations feature and everything seemed to work fine.

Also @kaylahardie I also encountered that issue but once I merged from master it seemed to resolve itself.

[2020-08-28 17:15] subedi90 commented on #8472
@bansalnitish I would like to work on story-creation.service.ts. Could you please assign it to me ? Thanks.

[2020-08-28 17:31] sajalasati commented on #10394
Hey @Shiv1202! I am working on this issue, so can you pick another one?
If you are new I would suggest picking up an issue labelled a good first/second issue.

[2020-08-28 17:51] nishantwrp opened #10477 "Remove all bracket notations due to AppConstants"
We use bracket notation for referring some constants in AppConstants. As #10476 fixes #7434. A cleanup pr is needed to fix all those cases and accessing constants using dot-notation.

[2020-08-28 17:53] DubeySandeep commented on #10432
I'm also facing the issue on updated upstream/develop! (Issue with reloading new_structure dummy data)

[2020-08-28 19:25] #10352 closed, assigned to Showtim3

[2020-08-28 20:16] Hudda opened #10479 "Implement break-after-parens rule of custom eslint checks using nodes"
Currently, the check for break-after-parens is implemented using tokens, change this to use nodes instead of tokens. Also, consider `it` and `describe` as a normal function call.

[2020-08-28 22:09] Showtim3 commented on #10474
Hey @nishantwrp For some context can you add links as to what "strict" means(for some people this might be their first time working with TypeScript). Also move the list of the services at the very last and have the steps on how to do the necessary things before the list of the files.

[2020-08-29 00:58] kaylahardie commented on #10432
I think it's ok now @kevjumba. Is it still an issue for you @DubeySandeep? Can I close this?

[2020-08-29 01:22] kevintab95 commented on #8043
Does this require any mocks / UX design?
/cc @seanlip

[2020-08-29 01:23] kevintab95 commented on #6367
Does this require UI/UX design?
/cc @seanlip

[2020-08-29 01:32] seanlip commented on #6367
Yes, I think so, including for whether or not this feature is actually necessary.

[2020-08-29 01:33] seanlip commented on #8043
Yes, though such an assessment should include whether or not this feature is actually necessary. My feeling is that most creators will get initiated with the system via the web first anyway, so there might not be a need for this.

[2020-08-29 01:34] seanlip commented on #8043
That said, this might still be useful since the mobile view does have some features that are a bit more hidden than in the desktop view. So I'm not sure.

[2020-08-29 01:40] sainanee commented on #8472
@darksun27 Assigned user-email-preferences.service.ts (This is dependent on https://github.com/oppia/oppia/pull/10063 however)
@agbanusi Assigned thread-data.service.ts
@subedi90 Assigned story-creation.service.ts

Thanks!

[2020-08-29 01:52] sainanee commented on #8472
@Vinit-Dantkale @bobbychen1999 @jyan500 @accio112 @rochisha0 Could you kindly confirm if you are working on your assigned services? Otherwise, we could assign them to other contributors!

Thanks!

[2020-08-29 05:17] jyan500 commented on #8472
@orthodoxparadox Hi Madhav, I can be unassigned from my task.

[2020-08-29 06:15] UdokaVrede commented on #10306
Hi @kevintab95  I have signed the CLA, any further information on this please

[2020-08-29 07:32] Hudda opened #10482 "Refactor linter to introduce new changes"
- [x] Print the name of the functions instead of `custom` and `third_party` in the logs. #9925
- [ ]  Change the linter running functionality such that lint function should run in parallel instead of linter class. **[Depriotizing this as we are moving all the lint checks to third-party custom linters and we won't have lots of linter function after that.]**
- [ ]  Remove assert_same_list_elements a

[2020-08-29 10:18] seanlip opened #10483 "Linter checks should be separated into file-specific and general ones"
The backend lint checks can be divided into two categories:

- Lint checks that run on a specific file (e.g. whether lines conform to the 80-char limit).
- Lint checks that verify relations between files (e.g. whether a function in one file is calling a function in a different file with the correct args).

On pre-push, we run both sets of checks, but sometimes errors in the second category may be

[2020-08-29 10:19] seanlip commented on #10483
@kevintab95 @Hudda @bansalnitish I'm not sure whether this is a good idea or not. Any thoughts?

[2020-08-29 17:40] kevintab95 commented on #10483
Hm, not sure about having two separate checks on CI -- won't that involve iterating over all the files in the codebase twice? IIRC lint tests already take the longest to run.

[2020-08-29 18:08] vikasprashar99 commented on #9253
@brianrodri @Rajat012k  i am a starter at Oppia and would like to work on this. What should be my first step?

[2020-08-29 18:44] nishantwrp commented on #10474
@Showtim3 done

[2020-08-29 19:15] kevintab95 commented on #10306
Have you also filled up the [New Contributor Survey](https://goo.gl/forms/otv30JV3Ihv0dT3C3)?

[2020-08-29 22:35] DubeySandeep commented on #10432
It's still an issue for me, I'm working on a project related to new_strauture and I have to manually create lots of data to test the feature!

![image](https://user-images.githubusercontent.com/16653571/91647240-0dfdd180-ea76-11ea-96b8-f5ac011e5051.png)

[2020-08-30 01:21] seanlip commented on #10483
Oh, good point. Yes, that might not be so good.

Do you have any suggestions for how to alleviate the issue you ran into (or should we leave it)?

[2020-08-30 01:49] varun-tandon commented on #10380
Hi Sean, sorry just saw this. I'll prioritize this and try to get it done ASAP.

[2020-08-30 04:37] kevintab95 commented on #10483
I think, failing relational checks (in this case mentioned above) indicates broken functionality and that some testing was missed on the developers end. E.g. if a new argument was introduced for a method and certain occurences of it were fixed while some others were not then it kind of indicates that the corresponding functionality where these changes were missed were not dev tested. Most testing-

[2020-08-30 04:41] kevintab95 opened #10491 "Make it mandatory for optional misconceptions to either be tagged to a question or be marked explicitly as not applicable"
This issue is to track the remaining work after https://github.com/oppia/oppia/pull/10481:

- [x] **Frontend changes to handle new misconceptions**: When new misconceptions are added, the frontend code will use the values from the newly introduced fields to determine which questions need to be updated. Warnings will be shown in the question list UI next to individual questions to indicate that the

[2020-08-30 07:27] seanlip commented on #1074
Closing this. We have been improving standardization recently so I think this can be tackled as part of the individual page redesigns.

[2020-08-30 07:27] #1074 closed

[2020-08-30 07:31] seanlip commented on #7620
Confirming that this is no longer reproducible. Closing!

[2020-08-30 07:31] #7620 closed, assigned to nobody

[2020-08-30 07:34] seanlip commented on #9302
@kevintab95 could you please check whether this is still reproducible with the new UI?

[2020-08-30 07:38] seanlip commented on #9000
@Showtim3 could you please post a screenshot of the updated UI?

[2020-08-30 07:52] seanlip commented on #2767
I think we won't do this, at least for now. We have found in recent years that good lessons are really the result of a strong collaboration between lots of people, and they take longer than a week to make. So, closing this for now; we'll revisit the idea of recognizing (groups of) creators later on.

[2020-08-30 07:52] #2767 closed

[2020-08-30 07:52] seanlip commented on #2767
(Some of this is also done on the Oppia blog: https://medium.com/oppia-org.)

[2020-08-30 07:58] kevintab95 commented on #10491
Related issue: https://github.com/oppia/oppia/issues/6490

[2020-08-30 08:01] seanlip commented on #5193
@prasanna08, is this still needed, or should we close it?

[2020-08-30 08:08] seanlip commented on #5403
A more ambitious version of this project would be to try and unify all the migration systems into a common one, since we seem to be rewriting the same functionality again and again. This probably merits creating a design doc first.

[2020-08-30 08:14] kevintab95 commented on #9302
This is not reproducible any more. In the duplicate tab, when an assigned skill is deleted I only see the green toast -- no other conflicting messages.

[2020-08-30 08:15] seanlip commented on #6367
Actually, I'm going to make a call on this -- we don't need a tutorial for now, since this is less widely used than the exploration editor. Closing.

[2020-08-30 08:15] #6367 closed, assigned to nobody

[2020-08-30 08:17] kevintab95 commented on #9302
Proof:
![deleted_skill](https://user-images.githubusercontent.com/11008603/91654554-5c878c00-eac7-11ea-90bc-0563087b4c7b.gif)

[2020-08-30 08:17] #9302 closed, assigned to Showtim3

[2020-08-30 08:18] seanlip commented on #9022
The UI for this has completely changed, so I'm closing this. It should be clearer after @Showtim3's and @kevintab95's current rework.

[2020-08-30 08:18] #9022 closed, assigned to aks681

[2020-08-30 08:19] seanlip commented on #9022
(To anyone reading this: please file a new issue if you run into this in the future and it's still unclear.)

[2020-08-30 08:22] seanlip commented on #9225
@mschanteltc -- could you please advise on whether we should care about this, and if so, what should the design be? (Note that this is in the Settings tab of the exploration editor.)

Thanks!

[2020-08-30 08:37] seanlip commented on #3548
We're going to drop this, since it's very low priority.

[2020-08-30 08:37] #3548 closed, assigned to nobody

[2020-08-30 08:40] kevintab95 commented on #9015
@Showtim3 can you please check this and close it if it can't be reproduced? Thanks!

[2020-08-30 08:41] seanlip commented on #5816
We'll drop this for now. It's low priority given our current focus is shifting away from collections and towards topics.

[2020-08-30 08:41] #5816 closed, assigned to nobody

[2020-08-30 08:42] kevintab95 commented on #10227
This has been fixed. Proof:
![url](https://user-images.githubusercontent.com/11008603/91654953-c3f30b00-eaca-11ea-9355-5671f19dcb1e.gif)

[2020-08-30 08:42] #10227 closed, assigned to kevintab95

[2020-08-30 08:42] seanlip commented on #2707
This is being handled as part of the mobile app project. Closing.

[2020-08-30 08:42] #2707 closed

[2020-08-30 08:51] seanlip commented on #4775
I think we don't need to worry about this for now. Let's close it. We can reopen if we see it recurring a lot.

[2020-08-30 08:51] #4775 closed, assigned to nobody

[2020-08-30 08:52] seanlip commented on #1528
We are not going to do this -- the demand for it isn't high. Closing for now.

[2020-08-30 08:52] #1528 closed

[2020-08-30 08:53] kevintab95 commented on #10432
Current workaround: "Flushing cache" by going to the "misc" tab first before loading data should fix this.

[2020-08-30 08:53] kevintab95 commented on #10463
@vojtechjelinek is this more of a "speed team" thing?

[2020-08-30 08:54] seanlip commented on #10463
/cc @srijanreddy98 FYI

[2020-08-30 08:55] seanlip commented on #6051
Deassigning @steve7158 due to lack of response.

[2020-08-30 09:51] seanlip commented on #3464
Hi @jimbyo -- just to check, would you say this is fixed (based on your Accessibility changes)?

[2020-08-30 09:56] seanlip commented on #5554
I think this issue is quite low priority. Let's close it.

[2020-08-30 09:56] #5554 closed, assigned to nobody

[2020-08-30 10:00] seanlip commented on #1439
Dropping this until it's actually requested by learners.

[2020-08-30 10:00] #1439 closed

[2020-08-30 10:09] seanlip commented on #1461
We're moving away from collections, so I'm closing this issue.

[2020-08-30 10:09] #1461 closed

[2020-08-30 10:12] #10097 closed, assigned to kaylahardie

[2020-08-30 10:25] iamprayush commented on #10154
Done in https://github.com/oppia/oppia/pull/10361.

[2020-08-30 10:25] #10154 closed, assigned to iamprayush

[2020-08-30 10:38] DubeySandeep commented on #9726
@Showtim3 I found that the core/templates/domain/<entity-name>/ has lots of services files mostly `*backend-api.services.ts`, I'm not sure whether that's expected.
@bansalnitish @srijanreddy98, DO you know whether that's expected?

[2020-08-30 16:59] U8NWXD opened #10495 "Exploration Footer Apperas on Practice Session Results Page"
**Describe the bug**
After finishing a practice session for a topic, the results screen still has the exploration footer

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a skill with >5 questions
 2. Create a topic, and assign the skill to a subtopic within the topic
 3. Preview the topic and start a practice session
 4. At the end, see the results screen

**Screenshots**
This screens

[2020-08-30 17:12] U8NWXD opened #10496 "Second Chapter not Playable in Story"
**Describe the bug**
After finishing a chapter, the second chapter does not become playable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a story with 3 chapters and at least one prerequisite skill and one acquired skill
 2. Click on the preview button to open the topic page
 3. Play through the first chapter
 4. Return to play the second chapter

**Observed behavior**
The first c

[2020-08-30 17:47] aks681 commented on #10496
@U8NWXD This was an issue found during testing and fixed. I just tried it on the test server with the given steps and it seems to be working there. This is the topic  I created: https://oppiatestserver.appspot.com/topic_editor/2x5dHnuYtWka . Was there any additional steps?

[2020-08-30 18:22] U8NWXD commented on #10279
@aks681 was #10346 cherry-picked to the testing server? I'm still seeing this issue there

[2020-08-30 18:26] U8NWXD commented on #10496
I tried again and was unable to reproduce this.

[2020-08-30 18:26] #10496 closed, assigned to aks681

[2020-08-30 18:28] U8NWXD commented on #10280
@Showtim3 this also occurs when creating topics, which has not yet been fixed. Probably a very similar fix though

[2020-08-30 18:29] kevintab95 commented on #10166
Hi @jimbyo has this been fixed? If so, please close this issue with some proof. Thanks!

[2020-08-30 18:39] U8NWXD opened #10498 "Topic Info Tab Missing"
**Describe the bug**
The info tab from the topic page is not visible.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic
 2. Preview the topic

**Observed behavior**
No Info tab

**Expected behavior**
An Info tab

**Screenshots**

![Screen Shot 2020-08-30 at 14 39 00](https://user-images.githubusercontent.com/19878639/91666895-9c05a680-eace-11ea-88dd-d515900fd7fd.png)

**Desktop

[2020-08-30 18:43] U8NWXD commented on #10498
Closing since the info tab was intentionally removed

@nithusha21 the CUJs will need to be updated

[2020-08-30 18:43] #10498 closed, assigned to aks681

[2020-08-30 19:07] U8NWXD opened #10499 "No Error Message when Creating Chapter with Invalid Exploration"
**Describe the bug**
When creating a chapter with an invalid exploration, no error message is shown to explain why the chapter cannot be saved

**To Reproduce**
Steps to reproduce the behavior:
 1. Try to create a chapter with exploration ID `0FRoyN4eeK76` (on the test server)

**Observed behavior**
Chapter cannot be saved, but no reason is given (no error message).

**Expected behavior**
Error me

[2020-08-30 19:10] U8NWXD commented on #10499
@Showtim3 I'm assigning this to you since your PR #10413 introduced the check to block publishing chapters with invalid explorations

[2020-08-30 19:36] U8NWXD commented on #10280
Actually, #10346 hasn't been deployed to the test server yet, so this PR might fix the topics issue too. Closing for now

[2020-08-30 19:36] #10280 closed, assigned to Showtim3

[2020-08-30 20:07] aks681 commented on #10495
Removing this from blocking bugs since there aren't any questions created on prod and so, this page isn't accessible there, though still high priority for next release.

[2020-08-30 22:00] subedi90 commented on #8472
Can you unassign story-creation.service.ts and assign user.service.ts for me ? story-creation.service.ts uses $uibmodal !!! Thanks.

[2020-08-30 22:03] vojtechjelinek opened #10501 "Refactor how we handle storage to domain transformations"
Currently, we do model → domain (and vice versa) transformations in the services, we want to move them into models and return domain objects from models directly.

[2020-08-30 23:13] jimbyo opened #10503 "Attempting to load dummy new structures data in the admin activities tab raises Server error: 'Nonetype' object has no attribute 'version'"
**Describe the bug**
When you try to load dummy new structures data (only admins) in the admin page it raises
`Server error: 'Nonetype' object has no attribute 'version'`

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to Oppia
 2. Go to the admin page.
 3. Change role to admin
 4. Go to admin activities tab and try to load dummy new structures data (only admins)

**Observed behavior*

[2020-08-31 04:29] seanlip opened #10506 "Maintainers cannot restart CircleCI tests even if PR author provides edit access to maintainers"
**Describe the bug**

In https://github.com/oppia/oppia/pull/10459#issuecomment-683102322, the PR author, @Showtim3, mentioned that he had  given edit permission to maintainers to his PR (see the checklist at the top). However, despite being a maintainer, I still could not restart his CircleCI tests when they were failing (notice that, in the screenshot below, they're all grayed out).

![Screensho

[2020-08-31 05:22] sainanee commented on #8472
@jyan500 Thanks for the update, unassigned you!
@subedi90 Assigned user service

[2020-08-31 09:15] srijanreddy98 commented on #8472
@subedi90 user service was attempted before as well (https://github.com/oppia/oppia/pull/9997). We closed that pr because the PR ran into some error with end to end test. So you can follow this PR or continue where this was left off (pull the PR's commits to your branch). Let us know if you need any help.

[2020-08-31 12:15] #10267 closed, assigned to iamprayush

[2020-08-31 18:07] subedi90 commented on #8472
@srijanreddy98 Thanks for the info. I am looking for a simple first issue to get familiar with process of submitting a PR. Do you see any other file that could be migrated fairly easily ?

[2020-08-31 18:34] mschanteltc commented on #9225
We should keep it consistent across all browsers. The dropdown icon in the Chrome screenshot looks cleaner, but just the downwards arrow should suffice.

[2020-08-31 19:09] srijanreddy98 commented on #8485
+cc @seanlip, this solved now right?

[2020-08-31 20:10] donosco99 opened #10513 "Save the images for suggestions before the suggestions are saved in the datastore."
PR #10475 adds the functionality for allowing images in suggestions.
Currently, the images are saved after the suggestion is saved. Find a way to save the images before the suggestion is created.

[2020-08-31 21:32] kaylahardie commented on #10380
Hi @seanlip  and @varun-tandon, just wanted to let you know that I ran into this in the domain layer too. On the most recent version of develop, I ran core/domain/takeout_service_test and test_export_data_nontrivial failed. I set the maxDiff to be None to see the whole output and here is some of output:
<img width="1750" alt="Screen Shot 2020-08-31 at 2 24 06 PM" src="https://user-images.githubuse

[2020-09-01 03:32] kevinlee12 commented on #10506
I did talk with CircleCI in the past and they said that maintainers needed write access to the repo. So even though maintainers have write access to the branch (which is what the checkbox provides), it's not enough to restart it. The way I've done it in the past is to ask the contributor restart (but provide them the link).

[2020-09-01 03:39] seanlip commented on #9225
Sounds good. Thanks @mschanteltc!

[2020-09-01 03:41] seanlip commented on #10380
Thanks @kaylahardie. I think @varun-tandon is fixing this in #10500 -- could you check out that branch perhaps (onto yours) and see if that fixes the issue?

[2020-09-01 03:46] ruhci28 commented on #10474
HII @nishantwrp  can I work on this issue.?

[2020-09-01 07:43] srijanreddy98 commented on #8485
After looking at the error message in the console, it looks like `template: require('./..')` was not resolved properly. I haven't encountered this problem. However, the emaildashboard page does have another issue. The requests are not intercepted by the Request-Interceptor. This problem will be resolved with the removal of the upgraded services file from the codebase.

[2020-09-01 09:22] #9764 closed, assigned to rohitkatlaa

[2020-09-01 09:45] nishantwrp commented on #10474
Hi @ruhci28 sure! Please let me know which services do you want to work on. So, you can be assigned to them.

[2020-09-01 10:54] kevintab95 opened #10518 "Editor quick navigation options are hidden in the preview tab"
**Describe the bug**
A clear and concise description of what the bug is.
The quick navigation options in the exploration editor are hidden in the preview tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor for an exploration on a mobile device.
 2. Go to the preview screen.
3. Observe that the quick navigation options are hidden behind the "Restart from beginni

[2020-09-01 10:56] kevintab95 commented on #10518
Also, @iamprayush, please note that the placeholder text for the Numeric Expression Input interaction seems to overflow here.

[2020-09-01 11:56] marianadasilvadev commented on #9918
Hi @shavavo, I have a question: your original PR was closed and then another was opened. This error was still happening in the new PR? I think this can be a problem strictly related to the original PR. I didn't see this error not even once.

[2020-09-01 13:40] iamprayush commented on #10518
Thanks for notifying me @kevintab95, I have created a PR (https://github.com/oppia/oppia/pull/10521) to fix this.

[2020-09-01 13:40] MegrezZhu opened #10522 "Enable PlatformFeatureService at page start"
This issue is related to the [Dynamic Feature Gating](https://docs.google.com/document/d/1FjbG2Cb0OnDVuE36jzux2Sn0sybMQozkk3hjkfeMoC0/edit?usp=sharing) project.

#10185 introduced the PlatformFeatureService for accessing status of features, but it's not enabled yet. To make it avaiable for use, we need to guarantee that it has been initialized prior to the initialiation of the other components.

[2020-09-01 16:17] kevintab95 commented on #10503
Hi @jimbyo, looks like this is a duplicate of https://github.com/oppia/oppia/issues/10432. Can you please confirm? If so, please feel free to close this one. Thanks!

Also, FYI, there is a workaround for this. See https://github.com/oppia/oppia/issues/10432#issuecomment-683394427.

[2020-09-01 16:29] brianrodri commented on #9253
Hi @vikasprashar99, this issue is still being worked on and should be ready over the next few days for the next step (migrating services from HttpClient to HttpService).

[2020-09-01 16:43] vikasprashar99 commented on #9253
okay after this is completed, I would to work on next step.

[2020-09-01 17:14] bansalnitish commented on #9851
@DubeySandeep can you please help Anshul reproduce this issue?

[2020-09-01 17:15] bansalnitish commented on #9766
Closing this one since this is already fixed.

[2020-09-01 17:16] bansalnitish commented on #9765
Closing this one as this is fixed.

[2020-09-01 17:16] #9765 closed, assigned to Hudda

[2020-09-01 18:07] DubeySandeep commented on #9766
@bansalnitish, I'm not sure whether the first two bullets of this issue are resolved, can you please check with @Hudda? [I'm opening this issue till you confirm this with @Hudd, feel free to close this if it's resolve or if we have any other issue to track the partial tasks!]

[2020-09-01 18:08] DubeySandeep commented on #9851
I'm not sure how this was reproduced! (Even I wasn't aware of the steps when I was creating this issue.) Considering I haven't seen this issue in a while, I'll close it. Thanks! :)

[2020-09-01 18:08] #9851 closed, assigned to Hudda

[2020-09-01 18:09] Hudda commented on #9766
@DubeySandeep I think we have these points listed in this issue https://github.com/oppia/oppia/issues/10482

[2020-09-01 18:11] DubeySandeep commented on #9766
Thanks for the info @Hudda, Can you please add a link to this issue around the items which are moved from this issue to #10482? [Like we have don in the common linter issue.]

Fell free to close this issue once it's done! :)

[2020-09-01 18:16] Hudda commented on #9766
Done.

[2020-09-01 18:16] #9766 closed, assigned to Hudda

[2020-09-01 18:16] DubeySandeep commented on #9766
@Hudda, Can you also add one more item in #10482: Avoid running the third-party linter process in the linter test. The test file should only test the script code! [This needs to be done in js_ts_linter_test file and audit other linter test files!]

[2020-09-01 18:18] Hudda commented on #9766
I think 4th checkpoint in #10482 covers this point

[2020-09-01 18:54] shavavo commented on #9918
Yes- it was only happening on the original PR. I believe this issue was resolved - https://groups.google.com/u/1/g/oppia-dev/c/ZB_IK3xkDVY/m/hpLcEfCbBAAJ?pli=1 Closed for now.

[2020-09-01 18:54] #9918 closed, assigned to nithusha21, marianadasilvadev

[2020-09-01 18:59] shavavo commented on #10439
@DubeySandeep Hm I can't seem to reproduce this on the latest develop branch

[2020-09-01 19:33] jimbyo commented on #10503
Confirmed

[2020-09-01 19:33] #10503 closed, assigned to jimbyo

[2020-09-01 19:35] jimbyo commented on #10166
@kevintab95 Hey not yet actually, I will do this shortly

[2020-09-01 20:20] marianadasilvadev commented on #9918
Thanks for the explanation!

[2020-09-01 20:29] marianadasilvadev commented on #9648
Hi @U8NWXD I understand now what you meant. In the last few weeks, we have added jasmine custom reports to make debugging easier. You can see it when running the frontend tests after merging with develop. I think making `combined-tests.spec.ts` lines correct can be little hard. I don't know how to correct them though. Maybe it's something with Webpack but I think we already have a nice way to debu

[2020-09-01 20:30] marianadasilvadev commented on #9648
What do you think @seanlip ?

[2020-09-01 21:52] seanlip commented on #9648
Hi @marianazangrossi -- I think you and @nithusha21 are the experts here :) I'll need to defer to both of you!

I do agree with the others that it would be great to find a way to make this more debuggable if possible, though I haven't looked into this enough to have concrete ideas, I'm afraid.

[2020-09-02 00:06] seanlip commented on #10483
Yup, this sounds fine to me (I would also defer to you because you indirectly reported the issue). Let's close this then -- thanks!

[2020-09-02 00:06] #10483 closed, assigned to nobody

[2020-09-02 01:52] DubeySandeep opened #10528 "Incorrect position of the audio player of exploration player page"
**Describe the bug**
The audio player in the exploration player page is not correctly oriented.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create and publish an exploration.
 2. Check the player page!

**Expected behavior**
The player should touch the navbar.

**Screenshots**
![image](https://user-images.githubusercontent.com/16653571/91922927-c8970980-ecec-11ea-91eb-f88435f07fb6.png)

[2020-09-02 01:53] DubeySandeep commented on #10528
The expanded view of the player:
![image](https://user-images.githubusercontent.com/16653571/91923130-36dbcc00-eced-11ea-8aa7-d5affd15a897.png)

[2020-09-02 02:47] ruhci28 commented on #10474
I work on web development

[2020-09-02 03:21] #10380 closed, assigned to varun-tandon

[2020-09-02 04:56] DubeySandeep opened #10532 "Add pagination for the items to review on contributor-dashboard page"
Currently, the opportunity dashboard page loads the entire suggestion item to review at once which can be overwhelming can take a lot of time to render the page. This issue is made to fix the handler to send reviewable items in pagination mode.

[2020-09-02 04:57] DubeySandeep commented on #10532
@sagangwee, Can you please add this in the project (in the correct section)? [Considering this to be an important issue to fix asap!]

[2020-09-02 06:09] mschanteltc opened #10533 "UI Improvements: Implement the new mocks for error handling cases in the frontend."
Problems with current implementation of error messages:

- Error messages has obscure language and did not provide users a way to fix or report them
- Color contrast between the background and text may be low enough to not be accessible to users with disabilities
- Does not indicate that the error is reported to Oppia
- Appears below nav bar

![image](https://user-images.githubusercontent.com/2217

[2020-09-02 06:09] mschanteltc commented on #10533
@Showtim3

[2020-09-02 06:44] #10440 closed, assigned to DubeySandeep, mschanteltc, Showtim3

[2020-09-02 08:20] kevintab95 opened #10535 "Infinite digest gets triggered when creating a ImageClickInput interaction"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to create an ImageClickInput interaction.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new exploration.
 2. In the editor page, try to add ImageClickInput interaction in any card.
 3. Observe that you can't proceed with creation of the interaction. See console errors.

**Observed behavior**
A clear a

[2020-09-02 11:32] nishantwrp commented on #10474
@ruhci28, I meant which files do you want to work on which are listed above in the issue description under the heading `Services to be covered by strict checks`.

[2020-09-02 11:35] vojtechjelinek opened #10538 "Revert ownership to @vojtechjelinek after 2020-09-06"
Add @vojtechjelinek back to .CODEOWNERS after 6th September since I will be going on break till then

[2020-09-02 13:58] #10499 closed, assigned to Showtim3

[2020-09-02 16:37] srijanreddy98 commented on #10064
FYI, I am not getting this error anymore. @seanlip, @bansalnitish, and @nishantwrp can you guys check this once on your systems too?

[2020-09-02 17:25] nishantwrp commented on #10064
Just checked this on the latest `develop`. I'm still facing this issue.

[2020-09-02 18:10] kevjumba opened #10540 "Lint doesn't catch missing args section."
**Describe the bug**
On one of my PRs that is linked below, the linter check for a missing args section did not trigger.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://github.com/oppia/oppia/pull/10502#discussion_r479990592_
 2. Check out this commit 57d8bb5aa0eac025f32a9e05adceb3718774a1ee on your local computer
 3. Run the linter and see no error.
 4. More specifically, the

[2020-09-02 19:57] #10535 closed, assigned to kevintab95

[2020-09-02 20:29] #10219 closed, assigned to nishantwrp

[2020-09-02 23:09] marianadasilvadev commented on #9648
Thanks! What do you think @nithusha21 ?

[2020-09-03 01:05] #9952 closed, assigned to donosco99

[2020-09-03 01:34] seanlip commented on #10064
So am I; it is still not fixed for me.

[2020-09-03 04:54] kaylahardie opened #10546 "Make it possible to query suggestions by language."
**Is your feature request related to a problem? Please describe.**
Contribution reviewers are users who have been granted reviewing permissions by an admin to review suggestions of specific types. More specifically, a reviewer may be granted permissions to review question suggestions and/or translation suggestions in certain languages. As a result, we need to be able to efficiently retrieve the tr

[2020-09-03 05:05] dkp1903 commented on #9578
If I get it correct, all we need to do is replace [this](https://github.com/oppia/oppia/blob/develop/assets/images/sidebar/blogger.png) image and the [corresponding webp image](https://github.com/oppia/oppia/blob/develop/assets/images/sidebar/blogger.webp) with the icons for Medium?

[2020-09-03 05:53] kevintab95 opened #10548 "Classroom page UI issues"
Following are some UI issues in the classroom page that needs to be fixed:
- [x] “Create” button in the learner facing page does not make sense -- It can be removed.
- [x] Topic cards say “Stories” even though there is only one “Story”.
![Stories](https://user-images.githubusercontent.com/11008603/92075927-19832c80-edd7-11ea-9a25-a143d50fc78a.png)
- [x] Issues with the search bar (when logged out)

[2020-09-03 14:29] nithusha21 commented on #9648
So I did try looking around, as this should have been a common issue. Sadly, there were no solutions online that's easy to use. I did raise a ticket with Jasmine https://github.com/jasmine/jasmine/issues/1850 where they said it is not a feature they are working on right away...

[2020-09-03 15:30] dchen97 commented on #9578
Yep!

On Wed, Sep 2, 2020 at 10:05 PM Dushyant Pathak <notifications@github.com>
wrote:

[2020-09-03 16:02] #10196 closed, assigned to donosco99

[2020-09-03 16:30] Hudda opened #10551 "Investigate if custom eslint plugin can be used without adding it in package.json"
Investigate if we can use `eslint-plugin-oppia` without adding it in the package.json file.

[2020-09-03 17:09] Hudda opened #10552 "Add test coverage for eslint checks"
Add test coverage for eslint checks. See if we can use [nyc](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwivs4zuvM3rAhUozzgGHTpcCGkQFjACegQIBBAB&url=https%3A%2F%2Fmedium.com%2F%40asemiloore%2Fnodejs-testing-with-mocha-and-code-coverage-with-nyc-9d1d6e428ac1&usg=AOvVaw00Ju9zWuXh4J3QvrWr11Nz)

[2020-09-03 18:08] Hudda opened #10553 "Investigate lint check for filenames"
Currently, we are migrating from AngularJs to Angular 8. Both versions have a different way to add directives/components in the code. AngularJs use function calls to add directives/components while Angular uses classes to add directive. So right now there is not a common way to identify the file name as file name depends on the directive/component name. If we try to implement a check for file name

[2020-09-03 18:55] mschanteltc commented on #9579
I created the author profile and feedback UXs. Please take a look at the [mocks](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/ce7c13ce-eab9-4a4f-96ed-fa816d1cf894) at let me know what you think!

[2020-09-03 19:36] kevjumba opened #10556 "'Root Linear Coefficient Theorem' Default Exploration 'PageNotFoundException'"
**Describe the bug**
One of the urls that is used by the 'Root Linear Coefficient Theorem' exploration is not valid. Namely:
"http://localhost:8181/assetsdevhandler/exploration/3/assets/image/"

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the admin page after logging in as admin.
 2. Click on 'Reload All Explorations' under 'Activities' at the bottom of the **Reload a single explor

[2020-09-03 19:37] kevjumba commented on #10556
@seanlip This error has been puzzling me since yesterday and I thought it was a problem with NDB since it kept on manifesting on my branch but then I checked out develop and it is still happening. I'm not sure who to assign for this problem.

[2020-09-03 20:44] seanlip commented on #10556
Hi @donosco98 -- could you please look into this? I think this is due to the math svg migration -- not sure whether you took the demo explorations into account. Could you please coordinate with @DubeySandeep to find an appropriate fix?

Thanks @kevjumba for reporting!

[2020-09-03 21:25] #10456 closed, assigned to kaylahardie

[2020-09-03 22:57] christineycc commented on #5872
Just created better mocks for this which can be viewed here: https://www.figma.com/file/OPwvLfYKRVfjFn8cqu2bRu/accept-reject-suggestion?node-id=1%3A4

First modal:
<img width="1024" alt="first modal" src="https://user-images.githubusercontent.com/25085761/92181349-02fcc580-ee17-11ea-8b37-31a0f37bdb4d.png">

Once user press accept:
<img width="1024" alt="accept" src="https://user-images.githubuserc

[2020-09-04 00:17] dchen97 commented on #9579
Thanks Chantel! Overall, I think it looks great. My main concern is that
I'm not sure users will be able to tell the difference between the minimize
and close options for the Feedback submission form, and there's currently
no way for a user to know after they minimize the feedback form that they
have draft feedback that hasn't been submitted yet. Do we need to have this
functionality? If so, can w

[2020-09-04 02:07] Showtim3 opened #10560 "In some of the pull requests, two travis builds are showing for the PR(one of them works fine, the other one is static)."
In some on the pull requests, two travis builds are being shown which prohibits the merging of the PR even if the PR is good to be merged.

**Screenshots**
![image](https://user-images.githubusercontent.com/30312043/92191420-602d6100-ee81-11ea-8f36-156e4c16cc11.png)

[2020-09-04 02:23] srijanreddy98 commented on #8472
@tushar2407 assigning you promo bar service as per our discussion [here](https://github.com/oppia/oppia/pull/9911#issuecomment-686647656).

[2020-09-04 05:20] donosco99 commented on #10556
Yeah, I can confirm this is error caused because the Math images for demo explorations don't exist.
The fix for this would be manually adding the required images in the particular exploration's assets/image folder(similar to how we handle normal images in demo exploration).
Thanks

[2020-09-04 06:59] kevintab95 opened #10563 "Move webpack build as a separate step in the CI"
Currently, CI configs need to ensure that the e2e first test runs the build and installation so that subsequent tests can skip them. It might be better to extract this build/installation as a separate step so that it is not a hidden detail.

[2020-09-04 07:27] srijanreddy98 commented on #10553
Due to the complex nature of this check and no plugins for a hybrid app, I would suggest that we write a lint check of our own, i.e., a custom eslint plugin for this.

[2020-09-04 09:01] jimbyo commented on #3464
Hey sorry, I haven't had the chance to take a look at this. I don't recall seeing this error on the contact page. But I'll investigate more tomorrow!

[2020-09-04 13:40] #10394 closed, assigned to nobody

[2020-09-04 15:32] nishantwrp commented on #10064
Hi @seanlip,

This issue is fixed for me now. I don't exactly know what caused this issue to be fixed but here's what I did.

1. Ran ` python -m scripts.run_backend_tests --test_path=scripts/linters` (This command is supposed to run all backend tests in linters directory). It failed with the message that `configparser` not found.
2. Then I did `pip install configparser`.
3. After I reran `python -

[2020-09-04 16:25] Hudda commented on #10102
Closes via https://github.com/oppia/oppia/pull/10383

[2020-09-04 16:25] #10102 closed, assigned to Hudda

[2020-09-04 16:25] Hudda commented on #10042
Closes via https://github.com/oppia/oppia/pull/10383

[2020-09-04 16:25] #10042 closed, assigned to Hudda

[2020-09-04 20:13] seanlip commented on #10064
Thanks @nishantwrp! Hm, I don't get that at all though (no mention of configparser). Instead, I get a bunch of errors along the following lines after running your step 1:

[code]

[2020-09-04 20:14] sulattphone commented on #10528
Hi I'm new to this Opia repo and open-source contribution in general, but I'm interested in start contributing this weekend. Can I take up this issue?

[2020-09-04 20:32] nishantwrp commented on #10064
Oh, ok. I forgot to mention that I also cleared all `.pyc` files that were created. I don't know if it makes any difference.

[2020-09-04 20:36] #10166 closed, assigned to jimbyo

[2020-09-04 22:23] kevintab95 opened #10569 "Definition for rule 'oppia/no-unused-dependency' was not found oppia/"
The linter error "Definition for rule 'oppia/no-unused-dependency' was not found  oppia/" is hard to locate and fix. It should point to where the unused dependency or the line number is so that the error can be fixed.

[code]

[2020-09-04 22:27] kevintab95 commented on #10569
@Hudda can you PTAL at this?

I'm seeing this error in `shared-component.module.ts` and `puppeteer-login-script.js`.

[2020-09-04 23:16] kevintab95 commented on #10569
This got resolved after I merged from upstream/develop. Closing this issue.

[2020-09-04 23:16] #10569 closed, assigned to Hudda

[2020-09-05 00:27] mschanteltc commented on #9579
Thanks for the insightful feedback Diana! I decided to use an indicator to show that there is an ongoing draft. The icon changes from a "!" to "..." and remains this way if the draft is collapsed. PTAL at the [mock](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657-cac6/screen/ce7c13ce-eab9-4a4f-96ed-fa816d1cf894/) and let me know what you think.

[2020-09-05 13:33] pankajdahiya008 commented on #8472
Hi all, I am new here.
Can you assign me a file for angular migration which can be a good first issue.

[2020-09-05 13:56] tianqi-wu commented on #8472
I would recommend avoiding files that contain $rootScope for the first try.

[2020-09-05 14:30] pankajdahiya008 commented on #8472
Can somebody assign/suggest me a file that uses http only so as to start contributing?

[2020-09-05 14:45] tianqi-wu commented on #4057
Sure, just assigned prediction-algorithm-registry.service.ts to you!

[2020-09-05 15:25] srijanreddy98 commented on #8472
@PANKAJ-DAHIYA123 would you like to try expression-type-parser.service.ts?

[2020-09-05 16:13] pankajdahiya008 commented on #8472
Yes I would like to get the file expression-type-parser.service.ts. Also as it relies on one other file so should I change both or single file?
Please assign one or two files as applicable.

[2020-09-05 16:30] srijanreddy98 commented on #8472
@PANKAJ-DAHIYA123 expression-type-parser.service.ts doesn't rely on any AngularJS file. I have assigned you expression-type-parser.service.ts

[2020-09-05 19:12] dchen97 opened #10572 "Mobile Nav Menu blocked by the "Lesson" and "Revision" tabs in oppia.org/learn/math/[X]"
**Describe the bug**
The "Lesson" and "Revision" tab headers on the oppia.org/learn/math/[topic] pages are currently blocking users from seeing parts of the navigation menu on mobile views.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [oppia.org/learn/math/place-values](oppia.org/learn/math/place-values) on a mobile viewport
 2. Open the nav menu by clicking on the hamburger icon a

[2020-09-05 19:40] dchen97 commented on #9579
Thanks for revising! I like the creative change on the indicator, but I
worry it may be a bit too subtle for most users to notice (even I didn't
catch it at first). Perhaps it may be good to add a small colored icon
(something like the red dots you see for notifications?), a small toast at
the bottom, or some other additional way to bring attention to it? Here are
some bad mocks just to help portr

[2020-09-06 07:47] kevintab95 opened #10574 "Remove type definitions from topic-viewer-page.component.ts where types can be implied"
Remove type definitions from `topic-viewer-page.component.ts` where types can be implied. See https://github.com/oppia/oppia/pull/10392#discussion_r484029109 for reference.

[2020-09-06 10:33] pankajdahiya008 commented on #8472
should I also migrate spec.ts file for expression-type-parser.service.ts?

[2020-09-06 18:54] arpit1912 commented on #4057
hi can I write tests for  E - Y learner-answer-details-backend-api.service.ts ? thanks

[2020-09-07 03:39] tianqi-wu commented on #8472
Yes, as that would help you evaluate your submission. You can find some details on the Angular migration page.

[2020-09-07 03:41] tianqi-wu commented on #4057
Sure! Just gave you the file.

[2020-09-07 03:55] arpit1912 commented on #4057
Thanks @tianqi-wu, this is my first time contributing to a project of this scale, is it okay for the team if it take me some time to make the pr as I'm still reading the rules, understanding the code,etc.

[2020-09-07 08:16] #10472 closed, assigned to nobody

[2020-09-07 10:23] tianqi-wu commented on #4057
Yeah, It's totally fine if that takes you a while. Since you started on a relatively less complicated file, I wouldn't expect a long battle against those new things.

[2020-09-07 14:16] kevintab95 commented on #10574
Per https://github.com/oppia/oppia/pull/10392#discussion_r484094454, it is preferable to explicitly define types for class properties. Closing this issue.

[2020-09-07 14:16] #10574 closed, assigned to nobody

[2020-09-07 21:57] nishantwrp commented on #9499
@subodhk01 Any updates on this issue?

[2020-09-07 22:17] anandwana001 commented on #9578
Also, are there any specific repository from where we have to pick the icons?
Could you assign this to me?

I used this icon.
<img width="120" alt="blogger" src="https://user-images.githubusercontent.com/25057618/92418570-daadf780-f185-11ea-9543-f8428bf52a63.png">

<img width="320" alt="Screenshot 2020-09-08 at 03 43 45" src="https://user-images.githubusercontent.com/25057618/92418539-a20e1e00-f18

[2020-09-08 17:35] kevintab95 opened #10587 "TODO: Address follow-up comments from #10567"
This task is to address follow-up review comments from #10567.

1. @DubeySandeep's review comments: https://github.com/oppia/oppia/pull/10567#pullrequestreview-484304259.
2. https://github.com/oppia/oppia/pull/10567#discussion_r485084795

[2020-09-08 18:43] dchen97 opened #10588 "Users cannot navigate back to the Topic page from Revision section on Desktop"
**Describe the bug**
When on desktop, the "Lessons" / "Revision" tab headers disappear when the user scrolls down the page at all on the Revision tab. However, this is done, even if there is no need to have a scrollable page (i.e. all of the content fits into the viewport) and there is no UX indication that this header has been hidden - especially when all of the content is visible without scrolli

[2020-09-08 18:48] dchen97 commented on #9578
Thanks Akshay!  I've assigned to you.

Please use the logos that can be downloaded and are outlined in the Medium Branding Guidelines: https://medium.design/logos-and-brand-guidelines-f1a01a733592

[2020-09-08 19:24] mschanteltc commented on #9579
Thanks for the advice Diana! I wasn't able to see the images you shared, but I believe I understood the idea you had in mind. I reverted back to the "!" icon and added a yellow dot with the ellipsis. Yellow felt like the appropriate color because it conveys something in progress and does not need immediate attention. PTAL at the [mock](https://xd.adobe.com/view/bcf79207-32d2-469d-608b-4269c9747657

[2020-09-08 19:43] nishantwrp commented on #8472
@ReshuKumari @jyan500 @agbanusi @darksun27 @dheeraj1997 @tianqi-wu @darkpsychic @tushar2407 What's the status on the services assigned to you guys. Please reply ASAP!

[2020-09-08 19:51] arpit1912 commented on #4057
![Screenshot from 2020-09-09 01-02-43](https://user-images.githubusercontent.com/46648172/92520297-02aa6300-f239-11ea-81d1-fe4833474d8c.jpg)

@tianqi-wu it seems that the branch coverage issue in this file is due to some problem in the angular CLI codebase. Please check out the 5871 issue in the angular repository for more reference. Please let me know how I should proceed further.
Thanks
 @nithus

[2020-09-08 19:57] nishantwrp commented on #8472
@agbanusi @jyan500 We haven't seen a lot of activity on the assigned service. Please reach out to us if you are facing issues

[2020-09-08 20:09] subedi90 commented on #8472
I am working on solution-verification.service.ts which is unclaimed in the list above. I have claimed user-service, but it seems to be a little more complicated for good first issue - will work on that after solution-verification.service.ts.

[2020-09-08 20:13] nishantwrp commented on #8472
Ok @subedi90, Thanks for letting us know. I've unassigned the service that was assigned to you and assigned `solution-verification.service.ts`.

[2020-09-08 20:13] jyan500 commented on #8472
Hi @nishantwrp , can I be unassigned from the service (editable-topic-backend-api.service.ts) ? I think I requested about a week ago, but it looks I'm still assigned right now

[2020-09-08 20:15] nishantwrp commented on #8472
Hi @jyan500, unassigned you!

[2020-09-08 20:23] ReshuKumari commented on #8472
Hi @nishantwrp I mailed you my progress. Can you please have a look.

[2020-09-08 23:34] #10538 closed, assigned to vojtechjelinek

[2020-09-09 00:42] DubeySandeep opened #10590 "Indexing issue related to the UserContributionProficiencyModel"
Indexing issue related to the UserContributionProficiencyModel
![image](https://user-images.githubusercontent.com/16653571/92541246-14a0fb80-f263-11ea-9feb-93affc6a8983.png)

Error log:
[code]
**Steps to reproduce:**
 1. Go to the URL: https://oppiatestserver.appspot.com/creator-dashboard
2. Check console.

**Addition question:**

Why are we sending this model related info to the fronted as an err

[2020-09-09 00:45] DubeySandeep commented on #10590
I think it's happening because we haven't updated the `UserContributionScoringModel` in index.yaml file.

@kaylahardie is it related to your #10458 PR? Can you please check it?

[2020-09-09 00:46] DubeySandeep commented on #10590
@kaylahardie, Note: This is blocking the release testing process, we won't be able to start the release testing before this is fixed!

[2020-09-09 00:47] brianrodri opened #10591 "Commit ExplorationModel and ExplorationStatsModel transactionally"
For some versions of an `ExplorationModel`, the corresponding `ExplorationStatsModel` have been found to be in an invalid state. This inconsistency seems to be the root cause of #9632.

To help prevent such inconsistencies, we should commit changes to `ExplorationModel` and `ExplorationStatsModel` pairs in a transaction.

A fix for this issue was attempted in #9744, but it had to be rolled back be

[2020-09-09 03:43] kevintab95 opened #10593 "Error 111 connecting to localhost:XXXX. (In prod mode on local machines)"
**Describe the bug**
A clear and concise description of what the bug is.
The following error is shown when the server has started:

`Error 111 connecting to localhost:XXXX.`

This happens on local machines when --prod_env flag is used.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start server using `python -m scripts.start --prod_env`.
 2. Wait for server to start.
 3. Go to localhost:81

[2020-09-09 03:44] kevintab95 commented on #10593
The following error is observed in the terminal output:

[code]

[2020-09-09 03:59] seanlip commented on #10593
@kevjumba this looks serious. Could you PTAL? I think it's related to the MemoryStore integration.

[2020-09-09 04:01] darkpsychic commented on #8472
@nishantwrp, the file I was working on has recently started using uibModal. I'm working with @srijanreddy98 on migrating it.

[2020-09-09 04:05] nairnikhil12 commented on #8472
The file I was working on now uses uibModal. I'm working with Srijan Reddy
for migrating it.

[2020-09-09 04:21] ReshuKumari opened #10594 "Release testing bug in Exploration Creator"
**The navbar icons are not in proper place they are misplaced**
In the Exploration Editor navbar the icons are not at their proper place they seem to be misplaced.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ' https://oppiatestserver.appspot.com/'.
 2. Click on 'create'.

**Observed behavior**
![Screenshot from 2020-09-09 07-46-46](https://user-images.githubusercontent.com/6271569

[2020-09-09 04:24] kaylahardie commented on #10590
@DubeySandeep I had to change the instances of UserContributionScoringModel to UserContributionProficiencyModel in the index.yaml file. I did so in PR 10590, I'm just waiting for the checks to pass and then I'll merge it.

[2020-09-09 05:10] kevintab95 opened #10596 "Missing exploration id links in Moderator Tools > Recent Feeback Messages"
**Describe the bug**
Exploration id links in Moderator Tools > Recent Feeback Messages are missing.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to `/moderator` URL.
 2. Click on "Recent Feeback Messages"
 3. Observe that "Exploration ID" column is empty.

**Observed behavior**
Exploration id links in Moderator Tools > Recent Feeback Messages are not present.

**Expected behavior**
Ex

[2020-09-09 05:30] pankajdahiya008 commented on #8472
I am working on expression-type-parser.service.ts which relies/require on expression-syntax-tree.service.ts (To Be Done).
So how to migrate this as its parent file(import/require) is To Be Done yet?

[2020-09-09 05:54] Hudda commented on #10540
This is already tracked in #8423. So I am closing this PR.

[2020-09-09 05:54] #10540 closed, assigned to Hudda

[2020-09-09 06:38] kevintab95 opened #10597 "UX issues in the preference page"
**Describe the bug**

Preference page seems to have some UX issues. Details below.

![prefissues](https://user-images.githubusercontent.com/11008603/92561054-1681b380-f291-11ea-9aa4-e6a4bb09f241.png)

1. The bio input field does not have rounded edges like the other input fields. The guide text below the field does not explain where this information can be viewed. Also, it would be good to know wh

[2020-09-09 08:01] #7434 closed, assigned to nobody

[2020-09-09 08:20] #10590 closed, assigned to kaylahardie

[2020-09-09 09:08] seanlip opened #10599 "Edits lost on Topic page when adding skills"
**Describe the bug**
Edits on the Topic page are lost when adding skills from the topics/skills dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new topic T.
 2. Open the topic page for T.
 3. In a separate tab, go to the topics/skills dashboard. Make 1 new skill. Go back to the topics/skills dashboard and assign it to topic T.
 4. Switch back to the topic page for T, and

[2020-09-09 14:10] MNSDivya opened #10600 "Warning message while navigating to "Library" page"
**Describe the bug**
Warning message while navigating to "Library" page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/' and login
 2. Click on 'Library' on top header

**Observed behavior**
Warning message popped up with some results on Library page

**Expected behavior**
No warning should be shown

**Screenshots**
![image](https://user-images.gi

[2020-09-09 14:25] MNSDivya opened #10601 "Feedback updates section on Learner Dashboard seems clumsy"
**Describe the bug**
Feedback updates section on Learner Dashboard seems clumsy

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/' and login
 2. Navigate to learner dashboard and scroll down
 3. Click on Feedback updates

**Observed behavior**
Feedback updates section on Learner Dashboard seems clumsy

**Expected behavior**
Should be clear and evide

[2020-09-09 15:11] MNSDivya opened #10603 "Warning message works differently when more skills are selected while practicing questions"
**Describe the bug**
Warning message works differently when more skills are selected while practicing questions

**To Reproduce**
Steps to reproduce the behavior:
 1. Login to ''https://oppiatestserver.appspot.com'
 2. Navigate to "Topics and skills dashboard"
 3. Create a topic and preview
 4. Select a skill to practice questions and verify the warning message
 5. Select multiple skills and verif

[2020-09-09 17:36] nishantwrp commented on #8472
@PANKAJ-DAHIYA123 The parent file needs to be migrated first. So, maybe you can migrate `expression-syntax-tree.service.ts` first.

[2020-09-09 18:48] kevintab95 opened #10604 "No validation message in the topic/story/subtopic creation modals"
**Describe the bug**
When there is a validation error in the topic creation process, an error message needs to be shown that explains why the topic cannot be saved yet. Current behaviour is confusing to the user because they do not know what field(s) need to be fixed in order to enable the "Create Topic" button and save their Topic.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Top

[2020-09-09 18:56] kevintab95 opened #10605 "Edit lost on clicking outside the Topic/Story creation modal"
**Describe the bug**
Clicking outside the create topic/story modal closes it unexpectedly causing changes to be lost.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and skills dashboard'.
 2. Create a Topic.
 3. Enter something in the input fields and click outside the modal.
 4. Observe that the modal closes unexpectedly.

Note: This also happens for Story creation modal.

*

[2020-09-09 19:04] kevintab95 commented on #10603
Hi @MNSDivya, the validation message takes into account the total questions available for the selected subtopics. So if you select one subtopic with no questions and, additionally, select another subtopic which contains questions, there will be no validation message. This is expected.

However, can you confirm if the second subtopic selected contains questions? You can do so by going to the skill

[2020-09-09 19:07] kevintab95 commented on #10600
Duplicate of https://github.com/oppia/oppia/issues/10590.

This has been fixed by https://github.com/oppia/oppia/pull/10592. Closing.

[2020-09-09 19:07] #10600 closed, assigned to nobody

[2020-09-09 19:17] kevintab95 opened #10606 "Lessons tab in the topic viewer page looks weird when there are no stories"
**Describe the bug**
Lessons tab in the topic viewer page looks weird when there are no stories.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic with no story and publish it.
 2. Go to the topic viewer page.
 3. Observe that the page layout looks weird.

**Observed behavior**
Lessons card in the topic viewer page takes up the entire width of the screen.

**Expected behavior**

[2020-09-09 19:32] kevintab95 opened #10607 "Introduce a save progress flow"
**Is your feature request related to a problem? Please describe.**
Per recent user studies conducted in India, one of the most common issues that students faced was that some lessons are quite long and it is hard to play through them in one sitting, so it would be nice to leave midway and "save their place".

**Describe the solution you'd like**
For logged in users, they should be able to leave th

[2020-09-09 21:28] kevintab95 opened #10608 "Pagination in the Topics and skills dashboard > Skills tab is not reliable"
**Describe the bug**
Clicking on the "next page" arrow quickly in the skills tab reveals there are more skills on the server than what is reported in the info section in the top right of the topic and skills dashboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and skills dashboard'
 2. Click on skills tab.
 3. Click on the next arrow button repeatedly.
 4. See that the t

[2020-09-09 21:39] kevintab95 opened #10609 "Unclear if a skill is assigned or not in the skill editor page"
**Describe the bug**
Unclear if a skill is assgined or not in the skill editor page. The skill editor page show "unassgined" but the topics and skills dashboard reports the skill is assigned. The topic editor page also reports the skill as assigned.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Topics and skills dashboard'
 2. Go to skill tab.
 3. Click on any "assigned" skill.
 4.

[2020-09-09 22:06] kevintab95 opened #10610 "Console error in the story preview screen"
**Describe the bug**
Console error in the story preview screen.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://oppiatestserver.appspot.com/story_editor/wANbh4oOClga#'
 2. Click on preview.
 4. See console error.

**Observed behavior**
Following console error is observed:
`Error: <svg> attribute preserveAspectRatio: Trailing garbage, "xMidYMid Meet".`

**Expected behavior**
T

[2020-09-09 22:16] kevintab95 opened #10611 "It is possible to save an empty rubric explanation in the skill editor"
**Describe the bug**
It is possible to save an empty rubric in the skill editor.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the skill editor page for an existing skill.
 2. In the rubric editor, create an empty explanation and save it.
 3. Observe that it is possible to save an empty explanation.

**Observed behavior**
It is possible to save an empty rubric explanation in the ski

[2020-09-09 22:41] kevintab95 opened #10612 "Question editor issues"
The question editor seems to have some issues. Details below:
1. In the view for a selected question from a list, there is no direct way to go back to the question list. The current way to do this is to move back to the main editor page, then click on the question preview to see the questions list. Another way to do this is to click on the "Cancel" button and then click on "close anyway" but this

[2020-09-10 03:49] MNSDivya commented on #10603
Hi Kevin, I confirm that both the subtopics have no questions, which you can see from screenshot 2. Validation message shown for second subtopic individually.

[2020-09-10 07:21] kevintab95 commented on #10560
Based on offline conversation with Travis support, the issue was that we were using a deprecated endpoint as a webhook in our repo settings (Settings > Webhooks). We have now deleted the deprecated endpoint. So this issue should be resolved. Closing.

[2020-09-10 07:21] #10560 closed, assigned to nobody

[2020-09-10 07:28] kevintab95 commented on #10603
Thanks for confirming @MNSDivya! This seems like an issue.

[2020-09-10 07:45] #10593 closed, assigned to kevjumba

[2020-09-10 07:46] seanlip commented on #10593
@kevintab95 This should now be fixed in develop. Please could you verify?

Thanks!

[2020-09-10 07:56] kevintab95 commented on #10603
I think I know what is happening. There are a couple of things:
1. In the Topic preview tab, we don't enable start button even if the subtopics contain questions -- this is expected IIRC (@Showtim3 to confirm).
2. There is a delay for the validation message to show.

@Showtim3 can you confirm if (1) is expected? I'll work on a fix for (2).

[2020-09-10 08:03] kevintab95 commented on #10593
Yup, confirming that it works on develop now. Thanks @kevjumba, @seanlip!