[2017-01-08 04:35] himanshu-dixit commented on #2817
@markhalpin By splash, do you mean splash screen on index page?

[2017-01-08 04:42] markhalpin commented on #2868
@seanlip and @himanshu-dixit is this perhaps answerable by considering issue #2894? In that thread the notion of eliminating the social share icons from the mobile version was broached, under the assumption that mobile devices have their own means of doing this function anyhow.

[2017-01-08 04:47] markhalpin commented on #2817
@himanshu-dixit yessir, I sometimes say "splash" as shorthand for the splash page/splash screen here https://www.oppia.org/splash. (apropos of nothing, I learned most of what I learned about art growing up from comic books, in which "splash page" is a term of art referring to a large, full-page introductory illustration. Pretty much the same idea!)

[2017-01-08 04:51] himanshu-dixit commented on #2817
@markhalpin I will provided the mockup with different color style. Btw having a slightly rounded radius (2-3px) a good idea, as most other buttons are also rounded (like in topbar).

[2017-01-08 04:53] himanshu-dixit commented on #2868
@seanlip and @markhalpin, yes probably all major mobile browser provide inbuilt sharing, but being honest it's something i have never used it intuitively.

[2017-01-08 06:11] seanlip commented on #2868
With regards to the social share buttons, what do other sites do? We should not reinvent the wheel here. Having them on the footer might not be a bad idea, actually.

The sidebar will still probably need some redesign, since there are more items on it than can fit comfortably. Vertical (not horizontal) scrolling might be needed? Again, it's probably worth having a look at what other sites do.

[2017-01-08 06:16] #2874 closed

[2017-01-08 06:17] #2893 closed

[2017-01-08 06:44] #2894 closed

[2017-01-08 07:58] seanlip commented on #2039
@Nix07 -- would you be up for looking into this?

[2017-01-08 08:03] seanlip commented on #2841
Hi @kefeh, would you like to take this up? Note that edits should be made to the [oppia.github.io repository](https://github.com/oppia/oppia.github.io), not the usual Oppia one.

[2017-01-08 15:39] seanlip opened #2904 "Flaky e2e feedback test"
One of the e2e tests, in the misc suite, seems to keep occasionally failing with the following log. We need to find a way to make it less flaky.

[code]

[2017-01-08 16:14] seanlip commented on #2734
Note to contributors: we only need to add the en.json translation for the time being (and perhaps any other ones you can easily do). Translatewiki should take care of the rest, now that the integration is complete.

[2017-01-08 17:46] himanshu-dixit commented on #2868
@seanlip.
1.) There are different ways used by different websites. But few sites show show social icon on sidebar, some sites i could list showing social share icon in footer are dribbble.com , jet.com , thenextweb.com , techcrunch.com
2.) I did research on some research, checkout **Persistent** sidebar in https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior.

[2017-01-09 13:26] Nix07 commented on #2039
@seanlip, We can add an extra button on the Controls' box in the Settings, like Preview Summary Tile, which will trigger a modal showing the Summary tile. What you think?

[2017-01-09 17:40] himanshu-dixit commented on #2817
@seanlip @markhalpin @jaredsilver
1.) I'm in bit of confusion right now, has the mascot been removed from about page. Currently this is just transparent file https://github.com/oppia/oppia/blob/develop/assets/images/general/about_page_mascot.png.
2.) WIthout what you would like to do is looking weird, i'm assuming this is some mistake. If we transfer the then what would you like to do will make no

[2017-01-09 17:51] jaredsilver commented on #2817
@himanshu-dixit:

1) In develop mode the otter usually doesn't show up for me, so we can just pretend it's there.

2) You raise an excellent point! Perhaps we don't need to move them on the about page. However, if you'd like to, you could try making another set of the same buttons within the page card and above, below, or replacing the icons.

[2017-01-09 22:29] TJHomer commented on #2821
Yes, thank you, that worked.

[2017-01-10 01:16] seanlip commented on #2039
That could work, or you could show it alongside the "details" card -- we
may need to experiment a bit to see what works best. But, for now, feel
free to pick an approach and go with it!

On Monday, January 9, 2017, Nikhil Prakash <notifications@github.com> wrote:

[2017-01-10 01:19] seanlip commented on #2868
Ok, thanks. When you say "few sites show social icon in sidebar", do you
actually mean " none of the sites you looked at"? If so, that's a good
reason to remove the social icons from the sidebar.

For the sidebar in general, could you make mocks of your proposal and add
the screenshots to this issue? That way, it is easier to understand what
you're proposing.

Thanks!

On Monday, January 9, 2017,

[2017-01-10 12:28] himanshu-dixit commented on #2868
@seanlip Very rarely, probably i might have seen 1-2 time but i can't recall them. BTW here is them mockup i am thinking of, on mobile transitioning to icon and then we will have uniformity and spaces to show text on topbar.
P.S.- Ignore the icons, finding right icons would be time consuming so i left it for now.
![oppia-sidebar](https://cloud.githubusercontent.com/assets/6849438/21806164/da350a1e

[2017-01-10 13:35] Nix07 commented on #2039
I tried to implement my approach of using a modal.
![oppia](https://cloud.githubusercontent.com/assets/22103406/21807881/c7d70a62-d766-11e6-9038-10660dc8d59d.png)
What you think? And where is "details" card, I couldn't find it?

[2017-01-10 23:27] seanlip commented on #2039
I just meant the top card (the one containing the title, category, etc.)
But the modal looks quite nice, too. The idea of the other suggestion was
so that authors can see the card live-updating as they adjust the settings
text, but maybe this is not so necessary.

Maybe the best thing to do is to check with some exploration authors.
@Arunabh98 @naveenshukla @kefeh @anmolshkl any thoughts?

On Tues

[2017-01-10 23:28] seanlip commented on #2868
Thanks, Himanshu! @naveenshukla -- what do you think?

On Tuesday, January 10, 2017, Himanshu Dixit <notifications@github.com>
wrote:

[2017-01-11 03:45] jaredsilver opened #2914 "Improve spacing of buttons on Teach and About pages"
[see #2911 for context]

1) On the about page on a small screen, it appears the space below is much greater than the space above the buttons.

![screen shot 2017-01-10 at 2 23 30 pm](https://cloud.githubusercontent.com/assets/1312199/21821222/bc392076-d740-11e6-81bf-fa89a943a419.png)

2) On the teach page on a large screen, it appears the space above is much greater than the space below the button

[2017-01-11 06:11] naveenshukla commented on #2868
@himanshu-dixit Two points :
- Shouldn't be the hamburger menu in the top left corner ? I think the header should cover the full width of screen even when sidebar is open.

- This mocks seems to be in vertical mode (portrait mode) while the issue is about horizontal mode (landscape mode). Can you sent us the mocks for landscape mode ?

[2017-01-11 06:27] #2816 closed

[2017-01-11 06:30] #2817 closed

[2017-01-11 07:34] himanshu-dixit commented on #2868
@naveenshukla, https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior. Please refer to this for styling guidelines. The horizontal mode behaviour will be according to material design, with scrollbar when enough height is no there.

[2017-01-11 08:18] naveenshukla commented on #2868
@himanshu-dixit   According to the link you sent. Persistent sidebar is acceptable for all sizes larger than mobile, while temporary sidebar is recommended for tablet and mobile which we are currently using. So in my opinion sticking to temporary sidebar is also a good option. Also @seanlip, in persistent sidebar state of drawer should be remembered by session to session and action to action. Do y

[2017-01-11 08:19] seanlip commented on #2868
Hi @naveenshukla, I think I'm going to leave UI questions up to you and @himanshu-dixit to decide. I recommend asking some other student users if you are not sure!

[2017-01-11 11:03] himanshu-dixit commented on #2868
@naveenshukla was in lecture, so replied to your comment in hurry. Reason why i'm favoring that sort of design.
1.) logo can be placed in sidevar, creating a width for title in topbar. In current case we are also not following temporary sidebar because z-index  is lower than that of topbar.
2.) Sidebar state of drawer, i agree this can't be implemented in case of web page.
3.) I think it serves as

[2017-01-11 11:11] himanshu-dixit opened #2915 "Sidebar Breaking On Mobile During Scrolling Period"
The sidebar is breaking during the scrolling period.
- Open Oppia On Mobile.
- Open Sidebar by tapping on hamburger icon.
- Scroll Down.
![unnamed](https://cloud.githubusercontent.com/assets/6849438/21846348/c0e6180e-d81c-11e6-8007-92e8b46c5976.jpg)

Probably during that period, the sidebar is breaking due to feedback icon.

[2017-01-11 16:39] jaredsilver commented on #2868
As @naveenshukla said:

We may actually want to leave the z-index as it is because, unlike on native Android devices, we don't have a native button on mobile web to close the navigation drawer. For Android apps, pressing the "back" button in the bottom tray may close the drawer, but on mobile no such button exists. Having the lower z-index means that the hamburger icon remains visible so a user ca

[2017-01-11 16:56] markhalpin commented on #2868
I'm going to be honest and admit that this thread lost me about ten steps ago :P Happy to defer to Jared on user experience, and to take a look at mocks when needed. Thanks!

[2017-01-11 17:06] himanshu-dixit commented on #2868
@jaredsilver @naveenshukla @seanlip, thanks for clearing this up. Probably what i'm getting from this thread is.
1.) Animate to "X" seems good idea.
2.) Move Social Icon to Footer.
3.) Implement the scroll if content overflows vertically. That way problem in horizontal position will also be solved.

[2017-01-11 18:28] #2821 closed

[2017-01-11 18:28] jaredsilver commented on #2868
Thanks, @himanshu-dixit -- that plan sounds good to me!

[2017-01-11 18:31] seanlip commented on #2820
Hi @TJHomer, please could you take a look at this? Thanks!

[2017-01-11 18:33] joshuacano commented on #2662
Starting on this tonight.

[2017-01-11 18:35] shubg100 commented on #2915
I would like to work on this bug fix, how do I get started?

[2017-01-11 18:37] himanshu-dixit commented on #2915
@shubg100 thanks, a good starting point will be https://github.com/oppia/oppia/wiki/Contributing-to-Oppia.

[2017-01-11 18:44] shubg100 commented on #2915
yeah, I have been going through it and I am having trouble installing oppia on my windows machine.
I have posted the error on gitter.

[2017-01-12 01:18] seanlip commented on #2830
Hi @anthkris, could you check if this is still happening in develop in IE? If so, it might be worth fixing.

Thanks!

[2017-01-12 03:10] anthkris commented on #2830
@seanlip This is still happening. I believe I have a solution and I've tested it by inspecting the element on a windows computer, but I use a Mac. Is there a good way to test that this works in IE from my machine? Also, how do I turn on the author profiles in the footer in the dev environment?

[2017-01-12 03:30] seanlip commented on #2830
Hm, that's going to be a bit tricky. I'm not sure -- somehow the Mac would need to serve the page to the outside world, but I'm not sure how your networking is set up.

If you like, you could make a PR and I could push it to a test server which you can then access from your Windows computer?

Also, author profiles should be automatically turned on already, but you might need to create an explorati

[2017-01-12 03:52] anthkris commented on #2830
PR in #2917.

[2017-01-12 07:08] #2830 closed

[2017-01-12 08:37] seanlip opened #2918 "Collections look wonky in the dashboard."
With the recent redesign of collection tiles to use the "folded top-left corner" style, the collection tiles in the creator dashboard seem to be broken:

![wonky](https://cloud.githubusercontent.com/assets/10575562/21882398/1fbbdef8-d85f-11e6-9403-09a81e6e8e6c.png)

This needs to be fixed. Furthermore, the fix should reuse the existing collection tile template, so that any updates to that template

[2017-01-12 08:37] seanlip commented on #2918
@wxyxinyu do you think this merits a hotfix?

[2017-01-12 08:52] seanlip opened #2919 "Editor page occasionally fails to load properly"
Occasionally, the main part of the editor page fails to load. This is a flaky error that goes away with refreshing (so it is not reliably reproducible), but it seems to happen quite often, and needs to be fixed.

Here is a stack trace illustrating what happened when the issue was observed in production, as well as a screenshot of the page. Note that the main part of the page is blank.

/cc @deepan

[2017-01-12 11:39] Nix07 commented on #2039
@seanlip What should I do with this issue?

[2017-01-12 11:50] himanshu-dixit commented on #2915
@shubg100, Oppia is targeted mainly towards Linux. It will be even better on long run in terms of contributing to oppia, can you run linux using virtualbox/vmware?

[2017-01-12 14:15] naveenshukla commented on #2039
@seanlip @Nix07   Sorry for delay. I think the one with modal is nice. I also think that live updating is not necessary and we can give a little warning below the textboxes in settings that "text is exceeding its limit and card may look cluttered".

[2017-01-12 14:28] himanshu-dixit commented on #2039
@seanlip, the above mentioned approaches might not be a good idea (my personal view). How about adding title attribute to the card in library? One site i can think of using this approach is Youtube.

[2017-01-12 18:03] seanlip commented on #2039
@himanshu-dixit, what do you mean by "adding title attribute to the card in library"? I'm not sure I fully understand.

[2017-01-12 18:04] seanlip commented on #2039
Also, /cc @jacobdavis11 @kevinlee12 (as exploration authors) for additional thoughts.

[2017-01-12 18:13] Nix07 commented on #2039
@himanshu-dixit Rather than limiting the title to two lines, its better to give a warning as @naveenshukla said. This would give the user a better control of what he is creating.

[2017-01-12 18:13] himanshu-dixit commented on #2039
With respect to #2500 .
<img width="557" alt="my" src="https://cloud.githubusercontent.com/assets/6849438/21902011/3a36563e-d920-11e6-986f-47acb2312dc3.png">

[2017-01-12 18:18] seanlip commented on #2039
Oh, I see. So, @himanshu-dixit, what you're saying is: don't show authors a preview summary tile in the exploration editor at all. Instead, take whatever title they supply, truncate it to two lines, and add a tooltip if needed. Is that what you meant?

[2017-01-12 18:24] himanshu-dixit commented on #2039
Yeah, TBH during first time while creating exploration i did have some trouble. I think at this moment we need to make exploration editor simple, and we might be going away from it by adding more customization while creating exploration.

[2017-01-12 18:42] Arunabh98 commented on #2039
I suggest showing a warning to the user, after he/she crosses a certain limit. But even if he/she crosses that limit, the idea that @himanshu-dixit is suggesting is good enough.

[2017-01-12 18:43] seanlip commented on #2039
Here are some thoughts:

- This is essentially a tradeoff between making things look nice for the learner, and making things easy for the creator. The problem with over-long titles is that sometimes the truncated version just doesn't convey enough information (we've had that in the past) since our character limit is pretty short. Having a tooltip mitigates this but is not so nice because it doesn'

[2017-01-12 21:00] naveenshukla commented on #2869
Hi @seanlip  here are some thoughts about feedback option for mobile :  I have created new mocks and taken screenshots with keyboard too :

I have removed the social icons since we already have inbuilt share options in browsers. Hence, the good options will be taking feedback icon to the right corner.

![card0](https://cloud.githubusercontent.com/assets/14854536/21907800/155ae516-d937-11e6-94cc-76

[2017-01-12 21:07] kevinlee12 commented on #2039
I like the idea of live loading and I thought something like the following might nudge the creator to make concise titles and objectives. We could stack the exploration tile and the settings like:
![mock](https://cloud.githubusercontent.com/assets/5758256/21908218/b0aa5148-d8c7-11e6-9a00-9b9b8083c475.png)
Note that the text background is of a different color, this should be the case when the creat

[2017-01-12 21:30] seanlip commented on #2869
Thanks, @naveenshukla!

I am a bit worried about the last one. Maybe the dialog should pop up in front of the navbar too? In fact the entire rest-of-the-page should probably be under a gray mask (including the exploration card and the navbar), and perhaps the feedback popup can be a bit wider and shorter.

Not 100% sure about the positioning of the feedback icon on the bottom bar -- might want to

[2017-01-12 21:38] naveenshukla commented on #2869
@seanlip  Okay! So we can make that feedback icon more like "sign in" button in top right corner ? Yeah popping out might be a better idea. Also, I have applied the 'backdrop' but it seems that I need to increase the opacity of background ?

Regarding feedback dialog size, should the second screenshot's feedback dialog also be wider ? Or may be it should remain as it is and in the third screenshot

[2017-01-12 22:04] seanlip commented on #2869
I agree that the latter would be more consistent. Also, yeah, I think the background could be more opaque.

I'm not sure what the design for the bottom right should be. We could wait for @markhalpin and @himanshu-dixit to chime in, but in the meanwhile perhaps you could try a few different things and paste the screenshots? Then we have a range of options to compare, and perhaps these may inspire o

[2017-01-12 22:10] markhalpin commented on #2869
Hi guys, I'll be offline until Tuesday evening and can chime in on mocks etc. then. Thanks!

[2017-01-13 06:05] seanlip opened #2922 "Navbar occasionally overflows in some pages"
In some pages, for some screen widths, the title/tabs/buttons on the navbar overflow into the space below it. This is problematic, because it's hard to see them when they overflow, and it just looks ugly.

Here is a proposed solution:
- For widths greater than 768 px, hide the hamburger menu.
- In addition, on page load and on resize, run a function that:
  - Computes the width of the title, and t

[2017-01-13 06:06] seanlip commented on #2002
Superseded by #2922, which provides a more dynamic solution to the "overflowing navbar" issue. That is the only remaining issue with the navbar.

[2017-01-13 06:06] #2002 closed

[2017-01-13 07:25] #2857 closed

[2017-01-13 09:17] arpan98 commented on #2064
Hello! I would like to work on this issue. Could I get some pointers how to get started with this issue?

[2017-01-13 10:00] prasanna08 commented on #2863
Hi @tjiang11 -- ping ?

[2017-01-13 10:01] prasanna08 commented on #2781
Hi @andromfins are you still working on this ?

[2017-01-13 10:02] prasanna08 commented on #2728
Hi @anmolshkl are you still working on this ?

[2017-01-13 10:03] andromfins commented on #2781
Yes i am still working on this issue.

On Fri, Jan 13, 2017 at 10:01 AM, Prasanna Patil <notifications@github.com>
wrote:

[2017-01-13 10:04] prasanna08 commented on #2551
Hi @kirankonduru how is this going ?

[2017-01-13 14:48] anmolshkl commented on #2728
Hi @prasanna08! I'm on it and hope to submit a PR by this weekend.

[2017-01-13 16:26] navneetzz commented on #2918
@seanlip can you further explain it more?

[2017-01-13 16:28] navneetzz commented on #2918
@seanlip Can I try and solve the issue?
Plus it will be awesome if You explain it more. I'm not able to find particular directory where the changes in the code are to be made

[2017-01-13 16:56] navneetzz commented on #2811
@seanlip I have tried to reproduce the issue as you said but the library button/link is still visible after entering the text. That means the user can still get back to library index page easily.
What you say?

[2017-01-13 17:20] seanlip commented on #2526
@kevintab95 -- can you post the updated mocks here?

[2017-01-13 17:21] seanlip commented on #2526
(Also, a quick update: per conversation with @kevintab95 and @tjiang11, the next step is to finish implementing the final version of the collection learner view. After that, we can add the progress pawprints.)

[2017-01-13 17:22] kevintab95 commented on #2526
updated mocks: https://drive.google.com/drive/folders/0B4A9S7Ym8W0CUFlXRjIyRkNXMVk

[2017-01-13 17:23] seanlip commented on #2811
@jacobdavis11 -- can you clarify?

[2017-01-13 20:27] naveenshukla commented on #2918
@seanlip  A little demonstration for how to create a collection will be very helpful. Thanks!

[2017-01-13 21:59] naveenshukla commented on #2869
Hi @seanlip , here are  the revised mockups.

-  Feedback dialog pops up above all other elements including navbar.
-  I increased the background opacity so that dialog seems more emphasized.
-  Feedback icon replace by "FEEDBACK" text. Also, I am not much sure about background-color and font of button.

![feedback1](https://cloud.githubusercontent.com/assets/14854536/21946948/a8029432-da08-11e6-9

[2017-01-13 23:21] seanlip commented on #2869
OK -- I'm actually away/out this weekend, but these look pretty
implementable, so I suggest making a PR and let's see if Mark has any
comments when he gets back. Thanks!

On Fri, Jan 13, 2017 at 1:59 PM, Naveen Kumar Shukla <
notifications@github.com> wrote:

[2017-01-13 23:22] seanlip commented on #2918
Log in as an admin, go to /admin, go to "Config", add your username to the
list of collection editors, go to the bottom and click "Save", then go to
the creator dashboard and click the Create button on the top right and
select "Create Collection" from the popup that appears.

On Fri, Jan 13, 2017 at 12:27 PM, Naveen Kumar Shukla <
notifications@github.com> wrote:

[2017-01-14 02:04] BenHenning opened #2925 "The exploration data handler should be migrated to ReadOnlyExplorationBackendApiService and EditableExplorationBackendApiService"
All references to the ``'/createhandler/data/<exploration_id>'`` handler in the frontend should be updated to instead use a ``ReadOnlyExplorationBackendApiService`` and ``EditableExplorationBackendApiService``. For references of what these objects and their corresponding tests should look like, the corresponding services for collections can be closely used:

- [ReadOnlyCollectionBackendApiService]

[2017-01-14 02:04] BenHenning commented on #2925
@joshuacano are you interested in working on this?

[2017-01-14 04:30] #2914 closed

[2017-01-14 04:42] Nix07 commented on #2039
@seanlip Please give your comments on @kevinlee12 approach. This is a bit similar to google dev-tools, like hovering over the element to see what it represent on the page.

[2017-01-14 06:44] kevinlee12 commented on #2039
Hi @Nix07, not exactly, the title and the objective fields and input are entirely moved to the card (the creator types directly onto the card, note the missing title and objective fields on the settings tab).

[2017-01-14 12:55] Nix07 commented on #2039
@kevinlee12 oh! That's a nice idea. The user can easily edit his/her preview tile properly!
@seanlip I think we should implement this approach. It solves both the problems of making things look nice for the learner and making things easy for the creator. What you think?

[2017-01-15 01:01] joshuacano commented on #2662
Alrighty I figured out the issue. The issue is in: {code}oppia.factory('mathExpressionInputRulesService', [function() {
return {
    IsMathematicallyEquivalentTo: function(answer, inputs) {
      return (
{code}

[2017-01-15 01:28] Oishikatta commented on #2922
PR #2927

RE: Titles, for example in exploration player titles could be limited to about 30 characters to prevent overflow at 768px. But the available space quickly increases with page width.

[2017-01-15 07:53] himanshu-dixit commented on #2820
Hi @seanlip, i did try to check this issue on Safari. CTA buttons seems to be perfectly aligned but the safari version was 10.0.1 .

[2017-01-15 17:19] jacobdavis11 commented on #2039
I like the idea of having a preview card in the editor, and that should be
enough to nudge people to make concise titles.

Moving the editable settings fields themselves into the card might be a
step too far, if it's not obvious to users exactly what is editable (since
not all parts of the card are, and there are other editable things not
shown in the card). But I'm open to some user testing of th

[2017-01-15 17:38] jacobdavis11 commented on #2811
This seems to have been fixed already. Closing.

[2017-01-15 17:38] #2811 closed

[2017-01-15 18:37] Arunabh98 commented on #2925
Could I have a go at this?

[2017-01-15 19:37] anthkris commented on #2862
I'm going through this bit by bit. But here's the audit so far:

## All Pages
- Navbar colors are considered low contrast and fail the WCAG 2.0 AA guidelines at normal text sizes; also fail the AAA guidelines at larger text sizes. (so we would pass AA but not AAA guidelines)
- Language of the document is not specified, which allows screen readers to read in appropriate language. To fix <html lang=

[2017-01-15 23:07] jblair87 commented on #2039
The bottom text for collection/views/date is a little large and can be moved down, allowing for more space for the text above. Is there a symbol we can use to define collections?
I also like the idea for a preview card. We may want an exact maximum text count considering we have a definite number where the user's text will break.

[2017-01-16 01:33] seanlip commented on #2820
Hm. I wonder if it might be due to older Safari browsers not supporting CSS 'calc'...

[2017-01-16 03:02] seanlip commented on #2039
OK. Let's have a preview card, but not have that card be editable. I think that's going to make things harder from a technical perspective, so we should do the simple thing first.

As to where to put it, we could do what @kevinlee12 suggests, or alternatively maybe we could show it on the right-hand side of the "Basic Settings" card and make the text fields there smaller in width. I'm fine with a

[2017-01-16 03:26] kevinlee12 opened #2929 "Migrate GLOBALS to AJAX for Collections Viewer"
As part of ongoing work in #2867, the GLOBALS should be converted to AJAX calls for the collections viewer.

[2017-01-16 03:27] kevinlee12 commented on #2929
Note to On-Duty Maintainers: This is will commence once #2867 (which may take some time as that PR will establish a baseline for this issue).

[2017-01-16 03:34] kevinlee12 opened #2930 "Convert GLOBALS to AJAX calls in Exploration settings"
As part of a larger work to convert GLOBALS variables to AJAX calls, this issue focuses on the exploration settings page. In addition, there will be work to convert as much Jinja to Angular as possible.

Additional Info:
Controls section is blank after releasing exploration to the community, which should be hidden after the action (from #484)

[2017-01-16 03:34] kevinlee12 commented on #2930
Note to Maintainer-on-Duty: This issue will commence after #2929.

[2017-01-16 03:36] kevinlee12 opened #2931 "Convert GLOBALS to AJAX in Exploration Player"
As a part of on ongoing work in converting GLOBALS to AJAX, this will focus on the exploration player. (In addition to converting Jinja to Angular equivalents).

[2017-01-16 03:37] kevinlee12 commented on #2931
Note to maintainers-on-duty: This will commence after #2930.

[2017-01-16 08:51] seanlip commented on #2662
Actually, when filling out "answer is mathematically equivalent to (LaTeX)", the expected thing to be filled in is "\pi", since that's the LaTeX version. So it actually seems to be working for pi.

But, it doesn't work for "\lambda" and lambda. Hmm.

@joshuacano, just to confirm, do you notice both these things too? (I also wonder if updating the version of math-expressions will help, but I'm not

[2017-01-16 09:00] seanlip commented on #2862
Hi @anthkris, this is looking great, thanks! I suggest turning it into checkboxes, and then maybe people can make small PRs as appropriate? That might be a good way to parallellize the fixes, whilst providing a nice source of starter projects.

Also, later on, perhaps we could perhaps make a wiki page explaining how to design/code for accessibility, and direct people who'd like to contribute in th

[2017-01-16 09:04] seanlip commented on #2064
The way I'd go about this is to write a backend test that runs through all the html templates to start with, and looks for strings of the form I18N_*, stopping when the string hits a non-underscore-or-uppercase-or-digit character. Perhaps you could use some kind of regex search. I suggest you try and see if you can do it correctly for a particular file (i.e., are you able to extract all the I18N_

[2017-01-16 14:24] arpan98 commented on #2064
I'm able to perform a regex search using `(I18N_[A-Z_\d]*)` and capture all the keys in a file. How do I write this as a test and integrate it into oppia? Also, are all the html files to be checked within `core/templates/`?

[2017-01-16 16:09] joshuacano commented on #2662
The way math expressions works is you enter the special characters sans backslash. I.e. Pi is just pi or lambda is just lambda.

Joshua Cano

[2017-01-16 16:56] naveenshukla commented on #2869
@seanlip  while working on PR I noticed that I need to override some angular classes for changing `z-index`, `background` etc . These classes belongs to `$mdDialog` service as I am using the same for creating popup dialog. I can't find another solution, is it okay ?

[2017-01-16 19:41] kirankonduru commented on #2551
Hey @markhalpin  I have added a screenshot with the tooltip that completes the description part of the summary tile. The tile is scrollable so we can accomodate any amount of text in the description.
![screenshot from 2017-01-17 01 07 00](https://cloud.githubusercontent.com/assets/13452436/21996652/5175a21c-dc51-11e6-9e5c-032313ba98ce.png)

[2017-01-16 21:17] anthkris commented on #2862
I updated the previous comment with checkboxes for the ones where action needs to be taken. I'll be working towards getting through the About section pages this evening.

[2017-01-16 23:37] seanlip commented on #2551
Hi @kirankonduru, I'll defer to @markhalpin on this, but in the meantime, I have a question of clarification about your screenshot. The tooltip appears when the user hovers over the card, and disappears when the user leaves the card, right? If that's the case, then how will the user be able to scroll within the tooltip?

[2017-01-16 23:45] seanlip commented on #2869
I don't think `$mdDialog` is part of Angular core; it's probably from a third-party library. You could overwrite the classes, I guess, but make sure the scope of the overwriting is correct (i.e. it doesn't apply to other pages beyond this one).

[2017-01-16 23:46] seanlip commented on #2064
Write the test in core/controllers/base_test.py. You'll need to walk the files and apply this check to them, then compare the resulting keys with e.g. en.json.

Most of the html files are in core/templates, but there are some in extensions/. You'll need to take a look through the directories to see which ones to search.

[2017-01-17 00:24] seanlip commented on #2662
/cc @kisonecat

[2017-01-17 01:01] anthkris commented on #2862
## Exploration Page
(used Equivalent Fractions to test)

-  [x] No H1 on the page. The collapsible element begins with h4. (Solution: Look into making the page title in the navbar the page's h1)
- [x] Several elements on the page have a tabindex of 0 (including the MathJax fraction), which can negatively affect a sensible tab order.
- [x] No visible indication of tabbing throughout the page which

[2017-01-17 04:39] kirankonduru commented on #2551
@seanlip whenever the user hovers over the tooltip the tooltip does not disappear and the user can scroll through the description.

[2017-01-17 15:31] jblair87 commented on #2551
I like the idea. A couple of comments. Is the scroll necessary? Can the full tooltip be shown? The inconsistency of the color makes it seem as if it's a new section, unrelated to the description text. 

Get Outlook for iOS

On Mon, Jan 16, 2017 at 11:39 PM -0500, "Kiran Konduru" <notifications@github.com> wrote:

@seanlip whenever the user hovers over the tooltip the tooltip does not disappear and

[2017-01-17 17:46] kirankonduru commented on #2551
@jblair87 I have attached a screenshot that shows the entire tooltip without scroll bar. We can show the entire content in the tooltip but if the description is very big then the tooltip too occupies a lot of space, in that case we need to limit the description part too.
Just a suggestion for an alternative for this. Can we add a shorter description field too along with the goal field (which now c

[2017-01-17 17:53] seanlip commented on #2551
How about just limiting the length of the goal field? Most goals aren't that long...

[2017-01-17 17:54] kirankonduru commented on #2551
That is also fine.
How long should we keep it then?

[2017-01-17 17:56] seanlip commented on #2551
Can you test, and give a recommendation?

[2017-01-17 17:58] kirankonduru commented on #2551
Okay!
And with respect to width the tooltip of first screenshot looks much better what do you think?

[2017-01-17 17:59] seanlip commented on #2551
I defer to @jaredsilver @markhalpin @jblair87 on this, but IMO the scrollbar looks quite inelegant. I think scrollbars on 'floating objects' are somewhat of an antipattern.

[2017-01-17 18:08] kirankonduru commented on #2551
We can keep the character limit between 300-350 and the tooltip is 3/4th the height of card and almost the same width without any scrollbars

[2017-01-17 18:14] seanlip commented on #2551
OK. I don't think goals are going to be much longer than that, so I suggest you implement the non-scrollbar version.

Additionally, could you please file a new issue to impose length limits of 300 characters or so on the goal? Thanks!

[2017-01-17 18:16] kirankonduru commented on #2551
Should I limit the length of the goal field also?

[2017-01-17 18:20] seanlip commented on #2551
Nope -- I suggest filing as separate issue, and just assuming, for the purposes of this issue, that the goal string is sufficiently short.

[2017-01-17 20:58] wxyxinyu commented on #2918
eek. Actually, this looks pretty bad. @naveenshukla @navneetzz are you actively working on this, or need more help?

[2017-01-17 21:02] wxyxinyu commented on #2872
@naveenshukla: Clarification: What would you think the correct behavior should look like? Should the graph be scaled according to screen size? Should the graph section be scrollable? (I believe it's currently behaving this way because the size of the graph is absolute, so when you shrink the screen the graph is the same size.)

[2017-01-17 21:26] naveenshukla commented on #2872
Hi @wxyxinyu I think we can shift  **Move**, **Add Edge** and **Delete** buttons to above the graph instead in left of the graph. In this way graph can be displayed as it is. Shrinking also could be another option.

[2017-01-17 21:28] naveenshukla commented on #2918
@wxyxinyu  Thanks! I am currently working on it. Just need a little more time.

[2017-01-17 22:57] naveenshukla commented on #2918
@seanlip  @wxyxinyu Done! PTAL [here](https://github.com/oppia/oppia/pull/2935)

[2017-01-17 23:02] kirankonduru opened #2936 "Limit the length of goal description in explorations."
Limit the length of goal description in the exploration settings to 300 characters as it overflows the tooltip on the tile.

[2017-01-17 23:09] naveenshukla commented on #2936
@kirankonduru Can you please add screenshots ? It will be very helpful to understand the issue

[2017-01-17 23:17] kirankonduru commented on #2936
Hey @naveenshukla refer to this issue https://github.com/oppia/oppia/issues/2551
I have attached a screenshot for reference. The description on the tooltip is the goal that is defined in the exploration section and if it has a length of more than 300 characters it overflows the tooltip.

https://cloud.githubusercontent.com/assets/13452436/22044076/c3e67bc2-dd38-11e6-9416-3f98f9c69ff2.png

P.S My p

[2017-01-17 23:19] naveenshukla commented on #2936
Great! Thanks.

[2017-01-17 23:22] #2064 closed

[2017-01-18 01:57] anthkris commented on #2862
## Donate

- [ ] There is no h1 on page. The first heading is an h6, then goes to h2.
- [ ] The Meet Oppia's Contributors video seems to be using auto-generated captions. This video should be properly captioned.

## Terms of Use

- [ ] There is no h1 on page. The first heading is an h2.
- [ ] There is a link in the sentence that says "You can read more about the CC-BY-SA 4.0 license here." The lin

[2017-01-18 04:49] seanlip commented on #484
@kevinlee12 -- is this related to #2930, do you think? If so, perhaps you could add the data from it to this issue, and close the other one? (There's info here that seems kind of important to verify.)

[2017-01-18 04:51] seanlip commented on #2429
Hi @vamshipriya, how is this going?

[2017-01-18 04:53] seanlip commented on #1695
Hi @Tamakimouto -- how is this going?

[2017-01-18 04:55] seanlip commented on #2039
Also, @Nix07, just to check -- are you still taking up this issue? I wanted to make sure, since no one seems to be assigned to it.

[2017-01-18 05:01] seanlip commented on #2557
With #2913 being merged, this has been completed. Thanks, @Slepice1!

[2017-01-18 05:01] #2557 closed

[2017-01-18 05:02] seanlip commented on #857
Hi @arpan98 -- would this issue be of interest?

[2017-01-18 05:06] seanlip commented on #763
Closing -- I don't think we'll do this after all, since no one else has requested it in 1.5 years. We can revisit later if it becomes an issue and if there's a pedagogical use case driving it, but for now, all images are centered by default.

[2017-01-18 05:06] #763 closed

[2017-01-18 05:08] seanlip commented on #873
This is going to be done as part of the new "simple" editor, so we won't track it here as a separate issue.

[2017-01-18 05:08] #873 closed

[2017-01-18 05:12] Nix07 commented on #2039
@seanlip I'm taking. I just didn't assign myself. Will be responding with the codes within 1-2 days(busy with the college stuffs right now!).

[2017-01-18 05:21] wxyxinyu commented on #2386
Hi @gvishal -- how is progress on this issue going?

[2017-01-18 05:22] wxyxinyu commented on #2189
Hey @Keksike -- how is this issue going?

[2017-01-18 05:24] wxyxinyu commented on #1933
@AllanYangZhou: Is this issue resolved by the merging of CKEditor? Or is @prasanna08 working on it?

[2017-01-18 05:27] seanlip commented on #638
Hi @wxyxinyu -- please could you triage this, and see if it's still valid? If not, let's close it.

Thanks!

[2017-01-18 05:29] wxyxinyu commented on #2872
If we don't shrink the graph, the graph area needs to be made scrollable too.

[2017-01-18 07:40] arpan98 commented on #857
I'll have a look at it @seanlip. Thanks!

[2017-01-18 08:41] arpan98 commented on #857
Could you point me to the relevant front-end files? I'm having some difficulty finding them.

[2017-01-18 12:20] TJHomer commented on #2820
I couldn't figure out how to get Safari 8.0, so I was unable to reproduce this.

If anyone has any ideas how I can view this in an old version of Safari, I can keep trying.

[2017-01-18 12:46] Nix07 commented on #2039
Check this out, @seanlip
![oppia](https://cloud.githubusercontent.com/assets/22103406/22064550/1abc42d0-ddaa-11e6-99a8-44c9a3febdd6.png)
![oppia2](https://cloud.githubusercontent.com/assets/22103406/22064553/1ef7e7f0-ddaa-11e6-9e60-c48b67085db4.png)

[2017-01-18 15:24] seanlip commented on #2868
Reopening. @himanshu-dixit , this still has unfinished components, right?

[2017-01-18 15:35] wxyxinyu commented on #638
I'm not really sure what the issue is -- there appears to be a "last updated" time displayed above the stats graph, and new plays after the last updated time don't seem to be displayed. This looks like intentional behavior.

[2017-01-18 16:42] seanlip commented on #857
Just to check, were you able to reproduce the issue?

In any case, this might need a little digging. The problem may arise in either core/templates/dev/head/pages/exploration_editor/editor_tab, or extensions/interactions/MultipleChoiceInput -- I would suggest starting there and following and trails you find.

[2017-01-18 16:44] seanlip commented on #2039
Thanks, @Nix07! This looks fine to me, except that the objective section should show the objective, and not "This exploration is private" etc. Could you do a PR?

[2017-01-18 16:52] seanlip commented on #793
Closing this, since it's not really a use case we've actually encountered a strong need for yet.

[2017-01-18 16:52] #793 closed

[2017-01-18 16:55] himanshu-dixit commented on #2868
Yeah, i will probably try to close this issue within 2 days. A bit busy with college.

[2017-01-18 16:56] seanlip commented on #2820
Hi @TJHomer, thanks for investigating! I'm not sure how to get an older version of Safari, so let's leave this for now. Would you like to take up #2915, instead?

[2017-01-18 16:58] seanlip commented on #2868
OK, thanks @himanshu-dixit! I'll add checkboxes here so we can keep track:

- [ ] Animate top-left corner to "X" if sidebar menu is open
- [x] Move social icons to the footer
- [ ] Scroll the sidebar if the content in it overflows vertically

[2017-01-18 17:27] markhalpin commented on #2820
hi guys,

Thanks for taking a look @TJHomer. @seanlip let's just be careful not to back-burner the Safari-related graphics issues too much, since we can't be assured that many of our users *won't* be using less-than-current OSs.

[2017-01-18 17:36] arpan98 commented on #857
Yes, I was able to reproduce this. How is the solution intended to be? The rule should say "is equal to [INVALID]" and how do we report it as an error?
I'll do some digging meanwhile.

[2017-01-18 17:40] seanlip commented on #857
If you had a rule corresponding to the last answer choice, and removed that answer choice from the interaction, what happens to the rule? The behavior here should be the same as that -- i.e. it should reflect that the answer choice was removed, rather than switch to a different, incorrect one.

[2017-01-18 17:43] arpan98 commented on #857
So the issue seems to be caused because the options are being called by index, so if an option is removed, the indices are changed and hence the rule changes. Now if I could only find where all this is happening...

[2017-01-18 18:26] #2551 closed

[2017-01-18 18:57] arpan98 commented on #857
Had a question regarding terminology - what is an `AnswerGroup`?

[2017-01-18 19:17] seanlip commented on #857
An AnswerGroup is a set of answers (specified by OR-ing multiple 'rules') that corresponds to a specific piece of feedback from Oppia.

[2017-01-19 00:38] seanlip commented on #873
No, I don't think we should do this. It's a very large overhaul, and would likely involve modifying every existing interaction (not to mention a large structural redesign). IMO, we should finish the simple editor, see how things work out in practice, and then plan anew from there.

[2017-01-19 04:54] kevinlee12 commented on #484
Yes it is, will close and add data over there accordingly.

[2017-01-19 04:54] #484 closed

[2017-01-19 05:22] rachelwchen opened #2937 "Stringent answer checks could lead to learner dropout"
Came across this during user testing -- when an exploration has overly stringent answer checks, it could lead to learner drop out due to frustrations. See attached screenshot.

After the learner typed in all the answers in lowercase, s/he received the response that the answers had to be in uppercase. S/he was then frustrated for having to re-enter all 6 answers again. This was from the [Three Ball

[2017-01-19 05:38] kevinlee12 opened #2938 "Incorporate property testing"
Since unit tests can only go so far (it only tests for a number of cases that developers can come up with), it would be nice to incorporate property tests for the backend, especially those that pertain to rules for interactions and other algorithms. A library that can be used is [Hypothesis](https://hypothesis.readthedocs.io/en/latest/index.html), which is based on [QuickCheck](http://www.cse.chal

[2017-01-19 05:41] kevinlee12 commented on #2938
A strategy for this sort of testing might be to retain the current ones that we have for sanity tests while property tests can carry on with more in-depth testing.

[2017-01-19 06:10] joshuacano commented on #2662
Just one quick note, to change the default red exclamation mark beside the editor icon, the next version of guppy will contain an empty_text parameter that can change that default.

[2017-01-19 06:16] kirankonduru commented on #2814
@seanlip Here whenever the user adds a new input field then if we make all the previous fields as required then we can ensure that empty responses are not submitted. And whenever the user enters some value in the input field (i.e., the length of the input string > 0) then we can make the add item button visible so that new inputs can be entered.

[2017-01-19 06:39] joshuacano commented on #2662
Also @seanlip I see what you mean for the latex version. That would be {\\pi} for the mathematically equivalent expression (using math-expressions). Also I do notice both of those things too, I see that you have talked to @kisonecat about the issues math expressions has when calling .fromLatex("{\\lambda}") WIll monitor the issue for future changes to math-expressions.

[2017-01-19 07:01] joshuacano commented on #2925
@BenHenning A question.

1. Is the intent of this to split the exploration_handler in editor.py into two separate new handlers? (I'm assuming this is what you are referring to in the larger effort)
OR
2. is it to add new angular factories and unit_tests for these two new services. mimicking the ReadOnlyCollectionBackendApiService and EditableCollectionBackendApiService.

I'm presuming its the latt

[2017-01-19 07:33] seanlip commented on #2814
@kirankonduru -- I'm afraid I don't actually know what the correct approach is here, though @jacobdavis11 would probably be a good person to ask, since he's the original reporter of this issue.

You could also do a bit of user research -- prototype an approach, try it with your friends on a mobile phone, and see if there's any confusion, then iterate until everything is intuitive. (In general, I w

[2017-01-19 07:33] seanlip commented on #2938
Hm, I actually have no idea what this means. Can you give a concrete example of a test that our codebase lacks coverage of, and explain why this can't be handled using our existing systems?

[2017-01-19 08:30] kirankonduru commented on #2814
This was the first thing I thought when I used it on my mobile phone. I'll search for something similar and see how it works there. Will try to get feedback from some of the first time users.
Thank you!

[2017-01-19 08:31] seanlip commented on #2814
Sounds great, thanks @kirankonduru!

[2017-01-19 12:52] Keksike commented on #2189
Hey @wxyxinyu! I havn't had much time to code open source stuff lately as I got back to work and trying to find an apartment.

I will let you guys know when I have time again! :)

[2017-01-19 13:56] wxyxinyu commented on #2189
No problem -- I'm going to de-assign you for now, if you would like to work on it in the future, feel free to re-assign yourself.

[2017-01-19 17:41] souravbadami opened #2939 "Editor cards on the exploration editor are not appearing sometimes."
![screenshot from 2017-01-19 23 00 16](https://cloud.githubusercontent.com/assets/11073943/22118042/406a1bea-de9c-11e6-96f4-459a9ae54823.png)

**How To Reproduce:** Reload all explorations and navigate to http://localhost:8181/create/2.

**Observed Behavior:** The editor cards on the left are not visible. Although, it's not happening always. It shows on reloading several times.

**Environment:** F

[2017-01-19 17:45] Slepice1 commented on #2533
I have a problem with reproducing this bug. My text-area after cut and paste looks like this:
![image](https://cloud.githubusercontent.com/assets/10142938/22117963/3443a866-de76-11e6-9bd1-a74b72261323.png) on Linux Firefox 50.1 and the same for Chromium. I will test on Windows later.

[2017-01-19 17:53] seanlip commented on #2533
Interesting -- I think I encountered this on Linux Firefox. I can't seem to reproduce either now, though -- I get the same thing you do, which is weird.

That said, it looks like newlines aren't being preserved, so, for the time being, can we change this issue into "modify RTE cut-and-paste to preserve newlines"? I'll see if I can reproduce the original issue later.

[2017-01-19 18:05] seanlip opened #2940 "Tooltips for exploration cards in the library should match the rest of the site."
Currently, the tooltips for objectives in exploration cards in the library look like this:

![current](https://cloud.githubusercontent.com/assets/10575562/22118957/8516d0a8-de2e-11e6-9984-62a7b3c05898.png)

However, as @markhalpin pointed out on #2934, the black background with white text is really like nothing else on the site stylistically. Instead, we should try to use a popover, similar to wha

[2017-01-19 18:22] jacobdavis11 commented on #2814
I would suggest a button that is available at all times. On desktop it
doesn't hurt as there's plenty of space, and it may help people who
otherwise don't think to click Enter.

On Thu, Jan 19, 2017 at 9:31 AM, Sean Lip <notifications@github.com> wrote:

[2017-01-19 19:41] BenHenning commented on #2925
@joshuacano this is referring to (2). The 'larger effort' that's mentioned is actually talking about refactoring the exploration editor to use the ``ExplorationDomainObjectFactory`` for storing the representation of an exploration rather than a raw JSON object that's fed from the backend (as we currently do). This larger effort is meant to improve the readability of the editor and provide other be

[2017-01-19 19:56] kevinlee12 commented on #2938
Property testing is where the developers specify the rules (specifications) and the test runner automatically comes up with test cases (mostly random ones within the provided rules) and tests those cases against the specifications that the developers provide. If there is a case where it fails, the runner will automatically find a case where it fails on the most simplest terms. These are the two po

[2017-01-20 00:41] anthkris commented on #2862
Ooops! Left out the profile page. Here it is:
## Profile

- [ ] No h1 on this page. Skips to h2.
- [ ] Background banner on the page is missing an alt attribute. Since the image is purely decorative, it may be empty;
- [ ] Profile picture has no alt attribute. Since the username is beneath it, this attribute may be empty. [See Example 2 in the Context section on WebAIM's discussion of accessible i

[2017-01-20 00:59] anthkris commented on #2862
Just a note: I updated the issues above with the Profile page and further notes from discussion with @seanlip on next steps.

I will begin by filing issues for the things identified as non-trivial; then I will start fixing the trivial issues identified here in bundled PRs.

[2017-01-20 06:46] seanlip commented on #2569
Note: @arun1595 is planning to work on #1450 before looking at this.

[2017-01-20 06:55] seanlip commented on #2939
Duplicate of #2919 (but your screenshots are great, thanks @souravbadami!)

[2017-01-20 06:55] #2939 closed

[2017-01-20 12:20] kirankonduru commented on #2814
@seanlip in the input part presently we can submit empty responses. Is there any reason behind the empty responses being accepted?

[2017-01-20 18:55] jaredsilver opened #2942 "Do user tests to figure out whether to change the "Library" button in the navigation bar to "Learn" (or "Lessons")"
As a learner new to the site, the word “Library” on the navigation bar may not be sufficiently informative. What does library mean, and why should I click on it?

If we change the text to "Learn" instead, a new learner will have a clearer path to finding what he or she is looking for.

In addition, "Learn" should be a button like "Create" because it is a primary user action, and "Donate" should be

[2017-01-20 19:13] jaredsilver opened #2943 "Adjust the tooltip displayed when a user hovers over the globe icon on the library page"
As a user on the library or search pages, hovering over the globe icon does not allow me to see the text on the tooltip because it gets truncated.

Try hovering over the globe icon on the "Welcome to Oppia" exploration, for example: https://www.oppia.org/search/find?q=welcome%20to%20oppia

<img width="422" alt="screen shot 2017-01-20 at 2 11 55 pm" src="https://cloud.githubusercontent.com/assets/1

[2017-01-20 19:29] jaredsilver opened #2944 "Adjust z-index of buttons on the main splash page"
As a user on the current splash page, I cannot click the right half of the “browse our lessons” button because the z-index of the button is lower than the z-index of the transparent background of the books image.

![oppia](https://cloud.githubusercontent.com/assets/1312199/22162438/bd7af390-df1c-11e6-9185-afaa973c4ba0.gif)

Adjust the z-indices of these elements such that a user can click the righ

[2017-01-20 19:36] jaredsilver opened #2945 "Send automatic email reminders to creators who have started but not finished creating explorations"
As a creator who abandoned the exploration creation process before publishing my exploration, I want to receive an email notification encouraging me to keep going. This email should include a link that takes me to the exploration creator page for that exploration.

We should be able to configure how much time passes before such an email is sent, as well as having the option to send more than one e

[2017-01-20 19:45] jaredsilver opened #2946 "EndExploration interaction: Allow creators to search for and find recommended explorations in the exploration editor"
As a creator customizing the end of exploration interaction, I want to be able to search for and find relevant explorations to appear as recommended when a learner completes my exploration. The current method of adding the exploration ID is functional but not intuitive:

<img width="625" alt="screen shot 2017-01-20 at 2 39 54 pm" src="https://cloud.githubusercontent.com/assets/1312199/22162864/694

[2017-01-20 21:05] seanlip commented on #2814
I can't think of a good use case which requires empty responses, so I would be OK with forbidding them if that helps make the UI more intuitive.

[2017-01-21 01:05] jblair87 commented on #2940
@jaredsilver @seanlip The tooltip in the author profile page is actually coded as popover, not a tool tip.

code for author page:
<div popover-placement="right" ng-attr-popover="<[stat.helpText]>" popover-append-to-body popover-trigger="mouseenter">

code for tool-tips in search/library page:
<circular-image ng-if="avatarsList.length > 0" src="avatarsList[0].image" link="avatarsList[0].link" toolt

[2017-01-21 01:17] jblair87 commented on #2940
code updates with screen shotes

![pasted graphic](https://cloud.githubusercontent.com/assets/13993320/22170576/76c5da06-df4d-11e6-97c3-a8b36c1522b5.jpg)

[2017-01-21 01:18] arku opened #2947 "Allow non-logged in users to suggest changes to explorations' content"
Currently, only logged-in users can suggest changes on an exploration's content. I don't see a downside in letting a non-logged in user to suggest changes.

[2017-01-21 01:20] seanlip commented on #2940
Hi @jblair87, thanks! Can you make a PR and send to @jaredsilver for review?

[2017-01-21 02:47] Arunabh98 commented on #2919
Yes, I have also faced this issue. Could I look into this issue?

[2017-01-21 05:23] seanlip commented on #2919
Yes, please -- that would be great! :)

[2017-01-21 06:28] jblair87 commented on #2940
Yes I have this PRed by the am

[2017-01-21 16:41] anmolshkl opened #2950 "Create classifier_services.py and move existing classification code from reader.py to classifier_services."
Currently, core/controllers/reader.py contains not only the ClassifyHandler but also the logic for running the classifier (`classify_string_classifier_rule` and classify `methods` precisely). We need to create a seperate classifier_services.py and move classification related logic from reader.py to classifier_servies.py.

This involves the following steps:
1. Creating classifier_servies.py under "

[2017-01-21 18:25] Slepice1 commented on #2533
So the initial problem with line breaks on places where they shouldn't be, was (probably accidentaly) fixed in 48cd4b9a0c737d16ba648c9c071b1a885f744a41. The initial problem is in textAngular directive, but we use stripFormatting to strip all html tags except `i, b, img` this means that all `br` tags are stripped too.

The pasting is still broken in newest version (1.5.16) of textAngular. The best

[2017-01-21 19:51] seanlip commented on #2533
That sounds like a good idea. Would you be up for filing an issue on their repository, and making an upstream patch? Then we can bring that version of textAngular in.

[2017-01-21 19:53] seanlip commented on #2039
(NB: there's some prior work in #2941 but it needs to be redone, Angular-style.)

[2017-01-21 21:56] jblair87 commented on #2940
So this is as far as I have gotten. @seanlip @jaredsilver I am having trouble figuring out the arrow part.
<img width="1440" alt="screen shot 2017-01-21 at 4 41 35 pm copy" src="https://cloud.githubusercontent.com/assets/13993320/22178043/731c3460-dffa-11e6-9978-7df9129dfc91.png">

[2017-01-21 21:58] jblair87 commented on #2940
Is the "updated" text necessary on the card? It might make sense on the profile page for the creator but what does it mean to an outside user?

[2017-01-21 22:52] jblair87 commented on #2943
PR added.

[2017-01-21 23:30] anthkris opened #2953 "Site Contrast Accessibility issues"
As a part of the basic accessibility audit in issue #2862 we've identified several instances where color contrast between the text and the background has failed either WCAG 2.0 AA (minimal) or AAA (gold standard) guidelines.

To verify these issues, you can use WebAIM's WAVE toolbar accessibility checker.

## All pages
- [ ] The contrast between the white text and the green background in the navba

[2017-01-21 23:35] anthkris opened #2954 "Site pages should have appropriate html lang attribute"
The accessibility audit in issue #2862 identified that the pages on the site do not have an html language attribute, for example:
`<html lang="[appropriate language]">`

This attribute helps by:

Because the site can now be translated into multiple languages, we need to keep track of current page language and dynamically generate the language attribute.

[2017-01-21 23:39] anthkris opened #2955 "Category images on library explorations need descriptive alt attributes"
The accessibility audit in issue #2862 identified that the category images on exploration "cards" in the library do not have an alt attribute.
<img width="840" alt="screen shot 2017-01-21 at 5 36 12 pm" src="https://cloud.githubusercontent.com/assets/10858542/22178582/242496f8-e000-11e6-9701-cbb366eaa4b4.png">

These category images display important content, allowing sighted users to easily see t

[2017-01-21 23:46] anthkris opened #2956 "Images in explorations should have descriptive alt attributes"
The accessibility audit in issue #2862 identified that there were some essential images in explorations with a empty alt attributes.

To test, use the WebAIM WAVE accessibility tool on the Equivalent Fractions exploration.
<img width="983" alt="screen shot 2017-01-21 at 5 43 02 pm" src="https://cloud.githubusercontent.com/assets/10858542/22178606/1a57a5a6-e001-11e6-8406-363d3efa4897.png">

Because

[2017-01-22 02:12] markhalpin commented on #2039
This is looking great. @jblair87 , let's leave the bottom text alone for the moment. Thanks!

[2017-01-22 02:36] jblair87 commented on #2039
@nix07 this looks awesome

Get Outlook for iOS

On Sat, Jan 21, 2017 at 9:12 PM -0500, "Mark Halpin" <notifications@github.com> wrote:

This is looking great. @jblair87 , let's leave the bottom text alone for the moment. Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-22 08:23] seanlip commented on #2940
The "updated" text means that the exploration was last updated < 7 days ago -- but I agree that its meaning is somewhat opaque. If you have a suggestion for how to address it, would you mind filing a new issue for this? One idea is to perhaps just use the "last updated" date in all cases.

[2017-01-22 17:08] jacobdavis11 commented on #2814
I might want to ask a question with an empty answer, if I am asking the
student to name various sets of things, and one of them happens to have no
elements.

On Fri, Jan 20, 2017 at 10:05 PM, Sean Lip <notifications@github.com> wrote:

[2017-01-22 17:24] joshuacano commented on #2925
Thanks for the clarification @BenHenning helps to understand the overall direction of the development.

[2017-01-22 19:33] nikhilsangwan007 commented on #2766
@Arunabh98 Hi, I would like to work on this issue. Having read the above description, I believe that I've got some idea about what is being talked about. Could you please tell me where to find the "state graph" ?

[2017-01-22 19:44] seanlip commented on #2814
Hi @jacobdavis11, two questions about that:
(a) does a concrete example of such a question come to mind? I considered the possibility you mentioned, but it seems reasonable for the creator to use some other format instead (like, how many items are there in this set) in cases like that.
(b) even if an example for (a) exists, what is your general take on not supporting empty answers for the time bei

[2017-01-22 21:04] jblair87 commented on #2940
Yes i will think of something. I have replaced the tooltip with the popover bootstrap here. and i have removed my edits from the css file. Before I pr, How's this @seanlip @jaredsilver
<img width="1440" alt="screen shot 2017-01-22 at 4 02 13 pm" src="https://cloud.githubusercontent.com/assets/13993320/22185944/56585922-e0bc-11e6-84cd-ab41781bffcf.png">

[2017-01-23 00:42] seanlip commented on #2940
Visually, it looks fine to me -- thanks, @jblair87! /cc @markhalpin in case he has any quick comments.

[2017-01-23 03:42] kirankonduru commented on #2937
@rachelwchen I'd lke to work on this.
In the create exploration part I couldn't find any part where we get an option to accept case sensitive answers. So maybe here we can make the validation of answer case insensitive.

What do you suggest?

[2017-01-23 05:04] markhalpin commented on #2940
thanks @jblair87! that looks a lot better. I have two minor comments:

1. Please make the tooltip a little narrower so it doesn't extend past the sides of the card; that starts to look a little crowed with the adjacent cards. The same width as the cards would be fine, or slightly narrower.

2. Can you lower the placement of the tooltip so that the bottom edge of the balloon just covers the lower l

[2017-01-23 05:39] seanlip commented on #2937
Hm, actually, I think this is a bit tricky to handle generically. Sometimes answers may be legitimately case sensitive, so maybe we should fix this within the exploration itself by getting it to accept lowercase answers too.

That said, I can imagine that the user having to retype all their answers, rather than being able to reuse and edit the answer that they had just entered, would be irritating

[2017-01-23 05:48] kirankonduru commented on #2937
@seanlip one alternative can be we can give an option while creating the exploration which allows the creator to specify if he wants to accept case sensitive answers. But in that case for the existing explorations we will have to come up with some other solution because I guess right now there is no such option present.

[2017-01-23 14:00] jblair87 commented on #2940
Yes. thanks for the feedback! I'll do a PR when the changes are implemented.

Get Outlook for iOS

On Mon, Jan 23, 2017 at 12:04 AM -0500, "Mark Halpin" <notifications@github.com> wrote:

thanks @jblair87! that looks a lot better. I have two minor comments:

Please make the tooltip a little narrower so it doesn't extend past the sides of the card; that starts to look a little crowed with the adjac

[2017-01-23 14:58] wxyxinyu commented on #2937
The option to edit your previous answer seems like it'll be useful in more places.

In this case, perhaps there should be a rule that accepts answers for the set input, ignoring case.

[2017-01-23 16:13] Slepice1 commented on #2533
Okay, I will try to fix it in upstream.

[2017-01-23 17:19] souravbadami commented on #2956
Fixed in #2957.

[2017-01-23 18:46] seanlip commented on #2956
No, I don't think so actually. This is a different issue for images contained within explorations themselves; #2957 deals with platform-level images.

[2017-01-23 18:48] souravbadami commented on #2956
Ah, Sorry. I assumed it to be the images addressed in the PR.

[2017-01-23 19:17] Slepice1 commented on #2533
So after some more investigation I think this is problem with bug or different implementation of Javascript DataTransfer object in Firefox, I have submitted [issue](https://github.com/fraywing/textAngular/issues/1440) in textAngular repo and I will wait for some response from authors.

[2017-01-23 20:29] seanlip commented on #2533
That sounds great. Thanks, @Slepice1!

[2017-01-23 21:09] seanlip commented on #2918
OK, I'm a bit confused. Is anyone actually working on this?

If not, @Arunabh98, would you be up for taking it?

[2017-01-23 21:27] jblair87 commented on #2918
Before hand, can I do my pr because it will effect this page

Get Outlook for iOS

On Mon, Jan 23, 2017 at 4:09 PM -0500, "Sean Lip" <notifications@github.com> wrote:

OK, I'm a bit confused. Is anyone actually working on this?

If not, @Arunabh98, would you be up for taking it?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or

[2017-01-23 21:50] rachelwchen commented on #2937
@kirankonduru I think allowing creators to specify answer case-sensitivity sounds like a good idea. Are there other instances like this when two answers could essentially mean the same thing, but only one certain input is accepted? Asking this because I'm wondering how many more of specifications like this we'd eventually be including. I can't think of any off the top of my head right now, but per

[2017-01-23 22:46] seanlip commented on #2918
I think it's fine to do these changes in parallel. The aim of this issue is to have the dashboard reuse the same collection tile that's in the library (as far as possible) so subsequent changes that are made to the collections tile in the library should automatically be carried over, I think.

[2017-01-24 03:19] #2919 closed

[2017-01-24 03:22] Arunabh98 commented on #2918
I would look into this.

[2017-01-24 04:45] seanlip commented on #2942
@jaredsilver -- do you think we could do some informal user tests of this vs the current version before we implement it?

[2017-01-24 04:48] seanlip commented on #2947
(NB: suggestion from @BenHenning -- could do a captcha to prevent spam from non-logged-in users.)

[2017-01-24 07:16] seanlip commented on #2918
Thanks, @Arunabh98! Assigning you.

[2017-01-24 07:27] joshuacano commented on #2925
One quick question @BenHenning, its a general javascript question. I'd like to define some optional arguments into the _fetch_exploration method. I'm just wondering if this will have adverse affects on the callback functions. I.e. I'd like to change
` var _fetchExploration = function(
          explorationId, successCallback, errorCallback) {`
to something along the lines of
` var _fetchExploratio

[2017-01-24 10:17] seanlip commented on #2944
Hi @Anthony-Alridge -- would you like to take this one?

[2017-01-24 12:39] Anthony-Alridge commented on #2944
Hey @seanlip yh thanks, I'll take a look at it.

[2017-01-24 15:41] SudhanvaMG commented on #2954
Hello , i am a new contributor and would like to work on this

[2017-01-24 15:45] SudhanvaMG commented on #2861
Hello ,
I am a new contributor and would like to work on this

[2017-01-24 15:46] SudhanvaMG commented on #2825
Hello ,
working on this.
Could you tell me which file to eidt

[2017-01-24 15:50] SudhanvaMG commented on #1252
Hello ,
I am a new contributor and would like to work on this .

[2017-01-24 15:52] SudhanvaMG commented on #1021
Hello ,
I am a new contributor and would like to work on this .

[2017-01-24 16:25] anthkris commented on #2954
Awesome @SudhanvaMG ! Just checking, have you signed the CLA and completed the contributor survey?

[2017-01-24 16:51] SudhanvaMG commented on #2954
Yes , i have done both

[2017-01-24 16:57] anthkris commented on #2954
You don't seem to be added to the organization yet, so I can't assign you. @seanlip Am I missing something?

[2017-01-24 17:06] SudhanvaMG commented on #2954
I filled both the forms few hours ago

[2017-01-24 17:07] anthkris commented on #2954
Ahh. Well then, it may be a bit before you're added on to the organization.

[2017-01-24 17:08] SudhanvaMG commented on #2845
Is this still active ?
I would like to work on this

[2017-01-24 17:10] SudhanvaMG commented on #2954
Ok , till  then could you let me know where in the code i should look into .

[2017-01-24 17:12] SudhanvaMG commented on #2620
Hello
If this is still active i would like to work on this

[2017-01-24 17:44] SudhanvaMG commented on #1204
Hello ,
I would like to work on this .

[2017-01-24 17:53] anthkris commented on #2954
It looks like you'll find the main html tag in templates/dev/head/pages/html and the functions for translation are in /dev/head/i18n.js

Hopefully, those are good starting places.

[2017-01-24 18:30] 526avijitgupta commented on #2620
@SudhanvaMG Seems like @nikhilsangwan007 has already submitted a #2960 for the same. Can you please search for another issue and work on that. Thanks!

[2017-01-24 18:42] souravbadami commented on #2863
Hey @tjiang11 -- How's it going ?

[2017-01-24 18:42] souravbadami commented on #2841
Hey @kefeh -- How's it going ?

[2017-01-24 18:44] souravbadami commented on #2781
Hey @andromfins -- How's it going ?

[2017-01-24 18:46] souravbadami commented on #2728
Hey @anmolshkl -- How's it going ?

[2017-01-24 18:47] souravbadami commented on #2627
Hey @himanshu-dixit -- How's it going ?

[2017-01-24 18:50] souravbadami commented on #2536
Hey @kefeh -- How's it going ?

[2017-01-24 19:00] himanshu-dixit commented on #2627
@souravbadami Currently we're working on optimal design doc and will implement (maybe slightly busy during weekdays due to some other activities). :-)

[2017-01-24 19:23] jaredsilver commented on #2942
@seanlip -- agreed. I'll organize a few informal user tests.

[2017-01-24 20:13] tjiang11 commented on #2863
@prasanna08 @souravbadami

Sorry, refer to PR here https://github.com/oppia/oppia/pull/2883

Still working to resolve some issues causing e2e tests to fail

[2017-01-24 20:27] seanlip commented on #2942
One other possible idea: how about "Lessons"?

Also, just FYI, the reason I brought up user testing was because I heard some feedback that "Learn" might be too vague, and in fact the user desire at that point is probably to "Browse" (before committing to "Learn"). I was thinking it also reminds me slightly of "Learn more" (as in "learn more about Oppia"), but that might not be an issue. I think us

[2017-01-24 20:38] seanlip commented on #2845
Hi @SudhanvaMG -- I think this is a good project to work on, but would suggest finishing #2954 first! In general, we try to assign people to one project at a time at the outset.

[2017-01-24 20:38] seanlip commented on #2954
@SudhanvaMG, I've sent you an invitation to the org; welcome to oppia! Once you accept it, feel free to assign yourself to this issue if you'd like to work on it.

[2017-01-24 20:39] seanlip commented on #1021
Hi @SudhanvaMG, this is a good project to work on, but it looks like you've taken a look at a bunch of other projects too. We suggest working on one at a time!

[2017-01-24 20:40] seanlip commented on #2825
Hi @SudhanvaMG, this is a good project to work on, but it looks like you've taken a look at a bunch of other projects too. We suggest working on one at a time.

[2017-01-24 20:40] seanlip commented on #1252
Hi @SudhanvaMG, this is a good project to work on, but it looks like you've taken a look at a bunch of other projects too. We suggest working on one at a time.

[2017-01-24 20:40] seanlip commented on #1204
Hi @SudhanvaMG, this is a good project to work on, but it looks like you've taken a look at a bunch of other projects too. We suggest working on one at a time.

[2017-01-24 20:40] seanlip commented on #2861
Hi @SudhanvaMG, this is a good project to work on, but it looks like you've taken a look at a bunch of other projects too. We suggest working on one at a time.

[2017-01-24 20:42] seanlip commented on #2944
Thanks, sounds good! Please accept the invitation at github.com/oppia -- once you've done that, you should be able to assign yourself to the issue.

[2017-01-24 23:50] jblair87 commented on #890
@seanlip @jaredsilver this should be brought up again. I had difficulty creating a lesson and did not understand the warnings. They were too vague and did not explain the necessary changes that were needed to complete every step

[2017-01-25 00:40] jaredsilver opened #2963 "Allow creators to begin making an exploration before signing in"
As a creator new to the site, clicking “Create Your Own Lesson” and being redirected immediately to a Google sign-in page may feel like an unexpected behavior. In addition, a creator may be more likely to sign in with Google once he or she has produced something of substance and wants to save it or has seen the exploration creator and determined it has the potential to be a valuable tool.

When a

[2017-01-25 01:07] jaredsilver opened #2964 "Modify "Reset Code" functionality in programming explorations"
As a learner completing a coding exercise, I may be confused by the fact that the “Reset Code” icon is pretty much the same as the icon used for replaying my code. I may accidentally click the icon for resetting my code and lose my work, which would obviously be very frustrating.

![screen shot 2017-01-24 at 8 03 35 pm](https://cloud.githubusercontent.com/assets/1312199/22273730/4274e79e-e270-11e6

[2017-01-25 02:58] seanlip commented on #864
Closing this, now that we have oppia.github,io.

[2017-01-25 02:58] #864 closed

[2017-01-25 03:02] jaredsilver opened #2965 "Send automatic email reminders to learners who have started but not finished a collection"
As a signed-in learner who starts but does not finish all of the explorations in a collection, I want to receive an email notification assuring me that my progress has been saved and that I can continue working through the collection by returning to the site (which can be accomplished by clicking a link in the email).

We should be able to configure how much time passes before such an email is sen

[2017-01-25 03:04] seanlip commented on #1054
I don't think we'll fix this; here's why. The state graph layout is based on the "critical path" through the exploration, and I believe this is currently determined by taking the longest path from start to finish. When you add the continue state, the segment 1 --> 2 --> 2b is now the longest path, and should thus appear on the left. So this is working as intended.

I'm going to close this, but ple

[2017-01-25 03:04] #1054 closed

[2017-01-25 03:09] seanlip commented on #1071
@maitbayev: please could you check whether this is still an issue after all the recent learner frontend fixes?

[2017-01-25 03:11] seanlip commented on #1074
@jblair87 -- flagging this; perhaps you might like to look into it at some point?

[2017-01-25 03:12] jaredsilver opened #2966 "Redirect signed-in learners to the library page when they visit root"
As a learner, being redirected to the Creator Dashboard when visiting root (e.g. by clicking the logo in the navbar) is unexpected. I would like to be sent to the library or another page relevant to me as a learner.

The best way I can think of determining whether a logged-in user is a creator or a learner is whether or not the user has an exploration associated with their account from playing aro

[2017-01-25 03:14] seanlip commented on #1148
The collection learner view UI is being entirely redesigned, and this issue is obsolete in the new design. Closing.

[2017-01-25 03:14] #1148 closed

[2017-01-25 03:18] seanlip commented on #1251
Note to contributors: we should probably be able to modify this using CSS. The cursor already blinks in the latest iteration.

[2017-01-25 03:22] jaredsilver opened #2967 "Modify RTE video component to allow for pasting the entire video link"
As a creator adding a video component, I want to be able to copy and paste the entire YouTube video link instead of hunting for its ID.

Allow the user to paste the entire YouTube video link. Then, simply parse the URL for the ID.

Note that the link may be shortened (e.g. https://youtu.be/###########), so we should account for that possibility as well.

[2017-01-25 03:24] seanlip commented on #1435
The design doc is pretty much done, and the implementation has been subdivided into other, smaller issues, so I'm closing this one.

[2017-01-25 03:24] #1435 closed

[2017-01-25 03:30] jaredsilver opened #2968 "Modify the image region interaction to allow for resizing"
As a creator using the image region interaction, I want to be able to resize an existing image region instead of having to delete it and add a new one.

Add "image resize handles" to image region selection boxes, and allow users to resize existing image regions instead of forcing them to delete and add new ones.

Example of image resize handles:
![resize handles](https://i.stack.imgur.com/UckLR.jp

[2017-01-25 03:30] seanlip commented on #1707
Dropping this. I think a lot of the issues will be resolved by the upcoming simpler version of the editor, and if they're not, we should reopen this issue (or recreate it) then.

[2017-01-25 03:30] #1707 closed

[2017-01-25 03:38] seanlip commented on #2221
I'm going to close this, actually; we are planning to do i18n for learner-facing pages, but not for creator-facing pages at this time.

[2017-01-25 03:38] #2221 closed

[2017-01-25 03:43] seanlip commented on #2142
Copying a note from #1699: it might be better to do some of this error-handling in a unified way in app.js.

[2017-01-25 03:43] seanlip commented on #1699
Duplicate of #2142.

[2017-01-25 03:43] #1699 closed

[2017-01-25 03:44] seanlip commented on #2148
Duplicate of #1105.

[2017-01-25 03:44] #2148 closed

[2017-01-25 03:46] seanlip commented on #2202
It looks like the title of an exploration in the navbar is now being handled correctly with @Oishikatta's edits, and the title of an exploration in a library tile is being handled with a popover. So I'm not sure we need to keep this issue open; closing it.

[2017-01-25 03:46] #2202 closed

[2017-01-25 04:48] jaredsilver opened #2969 "Save a learner's progress from before signing in"
As a learner who completed one or more explorations before signing in, I want my progress from before signing in to persist after I've signed in.

Currently, if a user completes one or more explorations in a collection without being signed in, signs in, and returns to the page for that collection, the page will not reflect the progress made before signing in. This is highly discouraging and has th

[2017-01-25 04:52] jblair87 commented on #1074
Yes I'll take care of this. Sorry I had class work to do tonight. Ill have updates tomorrow. 

Get Outlook for iOS

On Tue, Jan 24, 2017 at 10:11 PM -0500, "Sean Lip" <notifications@github.com> wrote:

@jblair87 -- flagging this; perhaps you might like to look into it at some point?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the t

[2017-01-25 04:56] kirankonduru commented on #2937
@rachelwchen for now I guess for the numeral inputs case we have the integer field so an alternative is not needed there. For this issue I guess allowing the creator to specify the case sensitivity will address it.

[2017-01-25 05:11] kirankonduru commented on #2956
@seanlip whenever a creator uploads an image while creating an exploration where exactly are the images saved. The docstring in  explorationFileSystem class in Core/domain/fs_domain specifies that a each exploration has its own asset folder but I'm unable to find one whenever I create a new exploration.

[2017-01-25 05:13] seanlip commented on #2956
There's a virtual file system implemented in the datastore -- they aren't saved as physical files on disk. However, note that this is actually not relevant for this issue, which is mainly a frontend thing to make the 'alt text' field a required one.

[2017-01-25 05:14] SudhanvaMG commented on #2861
Hi @seanlip Sure , thanks .

[2017-01-25 05:14] SudhanvaMG commented on #2954
@seanlip  Thanks for the invite . I have accepted it .

[2017-01-25 05:15] kirankonduru commented on #2956
Yup I know I was just going through the work flow of the image upload and was unable to find the files.
Thanks @seanlip

[2017-01-25 05:42] SudhanvaMG commented on #2954
@anthkris As you mentioned , i looked into those two files .
Could you please explain the issue bit clearly so i can work on it .
Thank you

[2017-01-25 05:46] anthkris commented on #2954
I'm not sure where the confusion is so here goes:
The html tag needs to have a language attribute. We can't just set it to "en" because, there is a possibility that a person will be viewing the site in another language using the View Oppia In dropdown menu in the footer. The language attribute needs to match the language in which the page is currently being viewed.

[2017-01-25 06:32] SudhanvaMG commented on #2954
Got it . Thanks

[2017-01-25 12:52] arpan98 commented on #857
@seanlip Sorry for the slow progress. I added a bunch of logging messages and am mostly able to track the flow, but I still can't find where the exactly the rule string is being formed or the rule is being updated exactly. I'm not very good with AngularJS, what does [this](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/components/response_header_directive.html#L5) mean and whe

[2017-01-25 21:59] #2728 closed

[2017-01-25 23:12] jacobdavis11 commented on #2814
I may be confused, but it seems to me that the existing UI does support
empty answers, since you can submit immediately without ever clicking "add
item".

I would have thought the advantage of not allowing empty answers is that
you could start with the first item already created and thus save the user
a click (which is definitely valuable).

On Sun, Jan 22, 2017 at 8:44 PM, Sean Lip <notifications

[2017-01-26 00:01] seanlip commented on #2814
Right -- the existing UI in develop does support empty answers, but I thought part of the point of @kirankonduru's UI is that it changes the existing UI to auto-delete empty answers instead. Are you happy with how it behaves after his changes?

[2017-01-26 06:28] #2944 closed

[2017-01-26 06:33] seanlip commented on #2039
Hi @Anthony-Alridge -- would you like to take this one? (It's a bit more difficult than the previous starter projects, but I think it would be good for getting more experience with the editor frontend.)

[2017-01-26 06:51] seanlip commented on #857
`<[...]>` is what you would normally see as `{{...}}` in standard Angular JS apps. It binds a value bidirectionally to the UI. We changed the default interpolators from `{{...}}` to `<[...]>` because the former conflicts with Jinja, the templating engine that Oppia uses.

The function should be defined in the corresponding JS file, ResponseHeaderDirective.js. I would encourage you to learn how to

[2017-01-26 07:00] seanlip commented on #2387
@Arunabh98, I was thinking, maybe you could take this one at some point? It seems hard for others to reproduce, and I suspect it's probably not a big fix. What do you think?

[2017-01-26 07:50] jacobdavis11 commented on #2814
I'm referring to the UI from @kirankonduru's branch. There seems to be a
special function to reject empty answers, but I don't see why as it looks
like that could just be removed without affecting the main UI.

On Thu, Jan 26, 2017 at 1:01 AM, Sean Lip <notifications@github.com> wrote:

[2017-01-26 07:56] seanlip commented on #2814
Ah, I see -- thanks for clarifying. @kirankonduru -- any thoughts?

[2017-01-26 08:06] seanlip commented on #2955
FYI, I think alt="Physics" is probably better, since the same image is used for explorations and collections.

[2017-01-26 08:14] seanlip commented on #2543
Hi @anmolshkl -- is everything finished, with regards to this issue? Can we close it?

[2017-01-26 09:10] seanlip commented on #2386
De-assigning @gvishal due to lack of response.

[2017-01-26 09:17] kirankonduru commented on #2814
@jacobdavis11 The user can add any number of non empty fields and if the user deletes the value in any one of the previous input fields without deleting the field itself then the answer is not accepted. Moreover I cannot think of a case when a user will have to enter an empty answer.

So the function _deleteElementIfEmpty deletes all the empty fields automatically that are present.

[2017-01-26 09:24] seanlip commented on #2931
@kevinlee12 -- I'm deassigning you from this for now, since being "assigned" to a project means that you're currently working on it. Feel free to take it up when you're ready, but otherwise, let's leave it open in case someone else is able to look at it in the meantime. Thanks!

[2017-01-26 09:25] seanlip commented on #2930
@kevinlee12 -- I'm deassigning you from this for now, since being "assigned" to a project means that you're currently working on it. Feel free to take it up when you're ready, but otherwise, let's leave it open in case someone else is able to look at it in the meantime. Thanks!

[2017-01-26 09:30] seanlip commented on #2724
NB: I've deassigned @markhalpin from this issue, since I think he won't be able to get to this any time soon (he's currently working on a page for math explorations at the moment). I think it might be better for someone else to take this up.

[2017-01-26 09:35] seanlip commented on #2929
@kevinlee12 -- I'm deassigning you from this for now, since being "assigned" to a project means that you're currently working on it. Feel free to take it up when you're ready, but otherwise, let's leave it open in case someone else is able to look at it in the meantime. Thanks!

[2017-01-26 09:43] seanlip commented on #2030
Not sure why this is closed. Reopening it, since the frontend isn't done yet.

[2017-01-26 17:36] andromfins commented on #2781
@souravbadami sorry, still working on it in #2784 .

[2017-01-26 21:01] jblair87 commented on #2942
@jaredsilver @seanlip I agree. The term "Library" is usually in reference to books. On the homepage, the button refers to "Lessons", with the statement "Oppia makes it easy to create interactive lessons that educate and engage." which makes sense.
Then the next page it says "Begin your adventure by browsing our explorations."  That is consistent with the text that a creator sees when creating an a

[2017-01-26 21:53] #2950 closed

[2017-01-26 21:54] seanlip commented on #2950
Fixed in #2974. Thanks, @giritheja!

[2017-01-26 22:04] seanlip commented on #902
Note to contributors: please see prior work in #1115.

[2017-01-26 23:06] jaredsilver commented on #2942
I agree that "Learn" may also be less than ideal; however, I think "Lessons" may not be something a learner would click on.

Instead of informal user tests which may be very unscientific, do you think it might be better to make a couple variations like Sean mentioned, and then spend a few dollars on something like Amazon MTurk to get a bunch of responses? (We could also use a tool like [Verify](ht

[2017-01-27 00:05] jblair87 opened #2977 "Adjust text on "create/browse" buttons on splash.html page when translated to German"
When translated to German/Deutsch on https://www.oppia.org/splash,
The text is too large on the "Create your Own Lesson" & "Browse Lessons" buttons.
We should try to find a shorter German phrase to replace the current one.
![oppia-splash-german](https://cloud.githubusercontent.com/assets/13993320/22355654/dcd7b5ac-e3f9-11e6-9c28-e3a64ea70d7e.png)

[2017-01-27 01:19] jblair87 commented on #2942
As you have both noted, the problem is finding the right user that fits the profile:
we may want to try a website like this: http://atrybox.com/ <http://atrybox.com/> or  http://usersthink.com/ <http://usersthink.com/>

[2017-01-27 05:03] seanlip commented on #2942
Although I think user testing is important here, I'm afraid I don't know the best way to go about this, sorry. I'll leave it to both of you to decide :)

[2017-01-27 05:37] jaredsilver commented on #2942
Because we have a such a diverse user base, I'm not convinced that targeting any particular demographic for user testing will necessarily give us the definitive results we're looking for. In addition, I'm hopeful that upon eventual implementation of new splash pages, learners wouldn't even feel the need to look to the nav bar to find what they're looking for because the splash page will guide them

[2017-01-27 06:10] anthkris opened #2978 "The site needs a skip navigation link"
The basic accessibility audit in issue #2862 identified that there is no skip navigation link on the site.
This link helps by allowing non-sighted users and users with limited mobility to easily get to the main content of the page, without having to repeat reading or navigating through the navigation on every page.

## Resources

For more information on some best practices on creating a skip navig

[2017-01-27 07:22] #2868 closed

[2017-01-27 07:29] himanshu-dixit opened #2980 "Visual Indication When User Has Reached Bottom Of Sidebar"
"Ideally, we should have some sort of visual indication that the user has reached the bottom of the menu. An example of this would be white space at the bottom of the menu when a user tries to continue swiping beyond the last menu item. This could be combined with a gesture event such that when a user lifts his or her finger when scrolled beyond the last item, the menu would automatically scroll b

[2017-01-27 07:34] himanshu-dixit opened #2981 "Prevent page from scrolling when user has reached bottom of navigation menu"
"If a user swipes all the way to the bottom of the navigation menu, continuing to swipe scrolls the rest of the page. We should prevent the rest of the page from moving if this happens." - @jaredsilver
This Issues is in reference to PR #2949

[2017-01-27 08:54] Arunabh98 commented on #2387
Yes sure. I'll take it up in a few (5-6) days.

[2017-01-27 19:14] joshuacano commented on #2925
@BenHenning Dont worry about the question, @seanlip talked through this with me and gave me some good insight on how I should handle this. On further exploration of the code, I found a DeleteExploration functionality, what should happen to the read only exploration cache when an exploration is deleted? How should a successful delete return to the caller? I havent gotten a chance to dig deep into t

[2017-01-27 19:42] seanlip commented on #2845
@kaggis, would you like to take this one?

[2017-01-28 00:59] anthkris commented on #2954
Howdy @SudhanvaMG I wanted to check in and see if you needed anything. Let me know!

[2017-01-28 20:08] kevintab95 opened #2985 "Make new collection learner view more mobile friendly"
The new collection learner view (path version #2979  ) needs to handle mobiles screens as well.
Mocks for mobile view: https://drive.google.com/open?id=0B4A9S7Ym8W0CQTdiMVJlRTFnaHc

[2017-01-29 01:37] #2662 closed

[2017-01-29 01:40] seanlip commented on #2734
Deassigning @navneetzz due to lack of response.

Note to contributors: please see #2906 for prior work.

[2017-01-29 01:46] seanlip commented on #2429
Deassigning @vamshipriya due to lack of response.

[2017-01-29 01:51] #2918 closed

[2017-01-29 06:45] rajan-garg commented on #2553
@seanlip How to test this? and can you explain the refactoring part because i could not find the method search_services.index_activities()

[2017-01-29 06:50] seanlip commented on #2553
Go to /admin, and open the jobs panel; you should see a list of one-off jobs that you can run. I think there's functionality on localhost:8000 for manipulating the search index, so you could create a couple explorations, a couple collections, clear the search index, and see if running the job repopulates it. This can (and should) also be written as a backend test.

The idea with the refactoring is

[2017-01-29 07:10] anthkris commented on #2955
Howdy @bching I'm checking in to see if you need any help!

[2017-01-29 09:42] seanlip commented on #2125
Hi @nikhilsangwan007, congrats on your first PR! I've sent you an invite to the Oppia org on GitHub; please accept it at github.com/oppia when you get a chance.

Also, would you be interested in taking up this issue as a next step?

[2017-01-29 09:58] kaggis commented on #2845
@seanlip Yes, I would like to work on this

[2017-01-29 10:02] seanlip commented on #2845
Thanks!

[2017-01-29 10:27] seanlip commented on #1345
Thinking more about this, I think our objective should be to not require a loading indicator in the first place. Instead, the site should load faster, and it would be better to spend developer time on this aim. Closing this issue accordingly.

[2017-01-29 10:27] #1345 closed

[2017-01-29 10:36] seanlip commented on #2985
@kevintab95 -- we have mocks for the mobile view, right? Could you please link to them here?

Thanks!

[2017-01-29 10:56] seanlip commented on #1021
Actually, closing this issue. We haven't really received any complaints about the design of the history page (which has changed somewhat since this issue was filed) over the past year, so let's close this issue until we do.

[2017-01-29 10:56] #1021 closed

[2017-01-29 10:57] seanlip commented on #1021
(Note also #2125.)

[2017-01-29 11:06] seanlip commented on #1527
Closing; this is probably not the best way to achieve offline-ness. Having JSON blobs in localStorage is probably better, and it turns out our target audience tends to have some access to the Internet anyway (albeit not at high bandwidth).

[2017-01-29 11:06] #1527 closed

[2017-01-29 11:10] seanlip commented on #1507
Superseded by #2946.

[2017-01-29 11:10] #1507 closed

[2017-01-29 16:01] giritheja opened #2986 "Add helper functions to classifier_services.py"
As discussed in the design [doc](https://docs.google.com/document/d/1Pfc71Z8oD0kmHZK_nf21r03jBUvjQuCsZ0dZo8RnvRE/edit#) of  Oppia Classifier Model Storage System, classifier_services.py needs to contain all helper functions.
The classifier_services should provide methods (not an inclusive list) + comprehensive unit tests:

- [x] get_classifier_from_model to get a classifier domain object given a c

[2017-01-29 21:07] seanlip commented on #838
Note to contributors: in the above description, please interpret "gallery" as "search results". The issue was filed against an older version of the site.

[2017-01-29 21:15] seanlip commented on #1402
Since we're moving away from the existing version of the editor to a simpler, more linear one, I think we can leave this for now. The existing icons serve their purpose.

[2017-01-29 21:15] #1402 closed

[2017-01-29 21:37] seanlip commented on #1526
Per #2768, we could also show open feedback threads that learners would like to see the status of and reply to in the learner dashboard.

[2017-01-29 21:45] seanlip commented on #2386
Combining #2168 with this issue:

[2017-01-29 21:45] seanlip commented on #2168
Merged into #2386.

[2017-01-29 21:45] #2168 closed

[2017-01-29 21:52] seanlip commented on #1147
Update: I don't think we'll do this, since the editor UI is being redesigned and this would therefore only show in the "advanced" version. It's also technically tricky to remove the placeholder option from all the existing explorations.

[2017-01-29 21:52] #1147 closed

[2017-01-29 22:02] seanlip commented on #1480
Actually, with the current search UI, I think we can just fetch and display collections first, followed by explorations. We probably don't need two separate sections.

[2017-01-29 22:05] seanlip commented on #2027
Actually, thinking about this again, I'm not sure it's necessary.

The readonly mode for explorations is useful because explorations have hidden "state". However, it seems less useful for collections because they are currently just linear playlists, and all the information in a collection is shown on the collection learner view. So I don't think we need this.

[2017-01-29 22:05] #2027 closed

[2017-01-29 22:05] wxyxinyu opened #2987 "Add a "correct" field to answer groups"
Answer groups should have an extra field (added as a key in the dictionary, in addition to the current rule_specs and outcome) which is a boolean value that specifies whether this answer is correct. This will be used in the upcoming Questions feature, as well as in the simple editor.

The 'correct' field in answer groups doesn't affect current functionality, but will in the future be used to indic

[2017-01-29 22:06] wxyxinyu commented on #2987
/cc @tjiang11 @seanlip

[2017-01-29 22:50] seanlip commented on #568
NB: Not going to do this, until we focus more on music lessons.

[2017-01-29 22:50] #568 closed

[2017-01-29 22:57] jblair87 commented on #1074
@seanlip @jaredsilver @markhalpin I am going through the site and noting the all button css styles so we know what we are dealing with. We can then decide which style is best to use across the site and I can replace them all.

[2017-01-29 22:58] seanlip commented on #1074
Sounds good. Thanks @jblair87!

[2017-01-29 23:10] seanlip commented on #1053
We aren't going to work on this. Gadgets are not actively being supported.

[2017-01-29 23:10] #1053 closed

[2017-01-29 23:11] seanlip commented on #1050
Closing -- at this time, we aren't planning to extend gadgets functionality going forward.

[2017-01-29 23:11] #1050 closed

[2017-01-29 23:17] seanlip commented on #1049
Closing -- we aren't planning to extend gadgets functionality.

[2017-01-29 23:17] #1049 closed

[2017-01-30 00:22] jblair87 commented on #1074
Hi so here is what I have put together so far:
Buttons:
.oppia-splash-button
.oppia-about-button
btn.oppia-navbar-button
btn.oppia-unresolved-answer-button
.list-card-view-toggle button
.oppia-dashboard-intro-button
.oppia-editor-publish-button
.oppia-save-draft-button
btn.btn.oppia-donate-options-button
.md-button (success, oppia-learner-continue-button, default theme)
.oppia-add-interaction-butt

[2017-01-30 00:22] seanlip commented on #2306
Ah, I know what's going on here. What should happen is the following: if you've opened another page in another tab, that resets your sign-in status; when you try to enter and save a username, the error message should be "It looks like you've signed out in another tab. You'll need to sign back in." or similar.

To fix this, here's what to do:
- In the backend, when the username comes in, check whet

[2017-01-30 00:23] jblair87 commented on #1074
Sorry.. forgot images.

<img width="1440" alt="screen shot 2017-01-29 at 7 16 59 pm" src="https://cloud.githubusercontent.com/assets/13993320/22409485/56f010fe-e658-11e6-8282-032c6a23c0f1.png">
<img width="1440" alt="screen shot 2017-01-29 at 7 17 45 pm" src="https://cloud.githubusercontent.com/assets/13993320/22409484/56efc2b6-e658-11e6-95a7-7a842ddab75b.png">

[2017-01-30 00:26] seanlip commented on #1074
Thanks, @jblair87. If you get a chance, can you do a screenshot showing what you're proposing? Easier to see and advise on, that way. (Might want to finish up #2975 first, though.)

[2017-01-30 06:14] anmolshkl commented on #2543
Yep, closing it.

[2017-01-30 06:14] #2543 closed

[2017-01-30 06:32] anmolshkl commented on #2986
@giritheja I think it'd better to mention explicitly that we need move classify_string_classifier_rule() to classifier_services.py. Also, as @BenHenning pointed out, we don't need a background task for generating classifier models as of now. So you can drop the third bullet point. I think you should also mention what "this"and "it" in each bullet point refers to (for e.g. "this"in 1st point refers

[2017-01-30 07:34] #2922 closed

[2017-01-30 07:37] seanlip commented on #2986
Hasn't the move already been done? https://github.com/oppia/oppia/pull/2974/files

[2017-01-30 07:41] seanlip commented on #1528
Adding some notes from a conversation with @anmolshkl and @jaredsilver a while back:
- One issue with this is that there can be multiple authors/ contributors in which case it might get cluttered.
- @jaredsilver suggested that perhaps which contributor is shown could simply be randomly decided, with weight relative to each person’s contribution to the exploration.

[2017-01-30 07:43] seanlip opened #2989 "The pre-push linter should check that all files end with exactly one newline."
One comment that occasionally comes up in code reviews is "Please add a newline to EOF". We follow the code style that every file should end with a single newline character.

It would be nice if the pre-push linter checked this, by looking at each file being modified in the push, and raising an error message if any file does not end with exactly one newline.

[2017-01-30 07:50] seanlip opened #2990 "The MathExpressionInput interaction needs to be usable on mobile devices."
To reproduce:
1. Create an exploration with a MathExpressionInput interaction, and publish it.
2. Open the exploration on a mobile device (without an attached keyboard). Try to play the exploration.

You'll see that, on mobile, when you tap the math expression input box, no keyboard pops up. This means that it's impossible to enter anything, let alone progress further through the exploration.

The

[2017-01-30 07:53] seanlip commented on #1012
Currently, we aren't planning to develop the gadget editor further, so I'm going to close this issue.

[2017-01-30 07:53] #1012 closed

[2017-01-30 07:57] seanlip opened #2991 "Add e2e tests for mobile-sized viewports."
We are working on making Oppia work well on mobile devices. In order to guard against regressions, it would be good to run some e2e tests of core learner functionality on a smaller screen.

Notes:
- The screen size is currently set in [protractor.conf.js](https://github.com/oppia/oppia/blob/f357ca4f24f3d4152711fae48ea15892053426be/core/tests/protractor.conf.js#L179), but perhaps there is a way to

[2017-01-30 08:50] seanlip opened #2992 "Provide exploration creators with useful summaries of misconceptions and responses to open-ended questions."
(This issue is based on a discussion I had with @oznflz a while back.)

Sometimes, teachers create explorations for their students to use, and discuss them in class afterwards. It would be nice if we could provide exploration creators with the following:

  - A summary of common student misconceptions for a particular exploration
  - A summary of answers to open-ended questions (e.g. "why do you t

[2017-01-30 08:55] seanlip commented on #2990
Hi @Oishikatta, would you like to take this up? I think it's a pretty interesting (and potentially challenging) frontend project.

[2017-01-30 09:02] SudhanvaMG commented on #2954
@anthkris sorry for the delay
I have added a lang attribute to the base html . So when ever a user changes the language in preferences , the attribute will dynamically change to the lang the user is using .
The only problem i am facing is the attribute will update only when the page is being refreshed to routed to other page

[2017-01-30 10:38] bching commented on #2955
Sorry for the late reply @anthkris !

I had trouble navigating through the project to locate the file which generates the html for the images, as I don't have experience with Angular's file structure and concepts.. Currently have been running through their tutorial and that has been enlightening.

So far I assume the approach is to modify the collection_summary_tile_directive.html and exploration_

[2017-01-30 15:50] jaredsilver commented on #1528
Looking back at this issue again, perhaps it makes sense to have the option to incorporate the avatars into the theme of the individual exploration. For example, if we have a fractions exploration with a pizza shop theme, then perhaps it makes sense to have a pizza chef as the picture. We could incorporate the [Openclipart API](https://openclipart.org/developers) and allow exploration creators to

[2017-01-30 16:21] jaredsilver commented on #2306
We could copy Google word-for-word here:

[2017-01-30 16:22] jaredsilver commented on #2306
I wonder also if this interaction might be somehow resolved by an implementation of #2969.

[2017-01-30 16:47] anthkris commented on #2954
Thanks for the update!

[2017-01-30 16:52] anthkris commented on #2955
No problems @bching Thanks for the update! From what I can see having quickly glanced at it, this seems like a reasonable approach.

[2017-01-30 16:56] SudhanvaMG commented on #2954
@anthkris  Is that enough  ?
Or do i need to work on it more ?

[2017-01-30 17:02] anthkris commented on #2954
@SudhanvaMG It seems like the desired behavior would be for the lang attribute to change when the actual page language changes so that it is immediately available (so, on the same page, not after a refresh).

Does that make sense?

[2017-01-30 17:14] souravbadami opened #2994 "Alert message with non user friendly message in collection editor."
**How To Reproduce:**
- Navigate to http://localhost:8181/admin.
- Switch to config tab and enable collection editor by adding your username.
- Navigate to http://localhost:8181/dashboard and create a new collection.
- Try to add an existing exploration to the collection by typing _abcd;_.

**Observed Behavior:** An error alert appears with some non user friendly message.

`Could not find the page

[2017-01-30 17:24] SudhanvaMG commented on #2954
@anthkris  yes i get it , will get it done by tomorrow .

[2017-01-30 17:53] vojtechjelinek commented on #1695
Hi, I have been looking into this a little bit. And I have one questions.

request and parsed into constants used by the backend. This seems rather
labor-intensive, though.
This approach is suggesting, that the constants.json is opened by backend in some handler, some part of constants is then sent to frontend and converted to Angular constants?

[2017-01-30 18:34] souravbadami opened #2995 "Collection editor is broken on the latest develop branch."
**How To Reproduce:** Create a collection from the creator dashboard.

![screenshot from 2017-01-30 23 14 37](https://cloud.githubusercontent.com/assets/11073943/22434527/6fecbe14-e742-11e6-86b1-38c05f1ad5d6.png)
![screenshot from 2017-01-30 23 14 29](https://cloud.githubusercontent.com/assets/11073943/22434532/74dc32ce-e742-11e6-8082-969027875610.png)

[2017-01-30 20:36] seanlip commented on #2995
@tjiang11 -- can you take a look at this please? I suspect it's due to the object refactoring, though I'm not sure why the collection editor depends on the State object.

[2017-01-30 20:38] seanlip commented on #2306
I think this is separate, actually -- we do want people to get signed out in this case, rather than end up in some kind of partially-logged-in state.

[2017-01-30 21:12] seanlip commented on #1695
I think so, yeah. But I'm not sure it's a good approach, and actually it's probably better to just serve the constants.json file statically, like we do for the json files in assets/i18n/*.json. (At the time that comment was written, I don't think we had the i18n pattern in place yet.)

[2017-01-30 21:18] Anthony-Alridge commented on #2981
Hey @jaredsilver I think I'm gonna work on this, could you point me towards which files to have a look at.
Also, will it be okay to prevent the page from scrolling whenever the navigation menu is open (e.g by making the body fixed.).

[2017-01-30 23:39] jaredsilver commented on #2981
Awesome, thanks @Anthony-Alridge!

I would start off by looking at the files changed in #2949: the navigation bar directives, as well as the main css file.

That approach would be fine if you also add a partially-opaque overlay behind the navigation bar but above the rest of the screen so the user knows they cannot interact with the rest of the page while the navigation drawer is open. Does that m

[2017-01-31 01:52] tjiang11 opened #2997 "Create CollectionSkill object and modify CollectionModel to add skills"
This is milestone 1 (part a) of the Questions project.

Create the CollectionSkill model to represent skills in collection nodes and modify CollectionModel to contain collection-wide skills. Refer to design doc here for details: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [ ] Create CollectionSkill domain object in collection_domain, a

[2017-01-31 01:57] tjiang11 opened #2998 "Implement collection skills update commands"
This is milestone 1 (part b) of the Questions project.

This milestone will implement the ability to update skills in a collection by creating the appropriate update command, updating CollectionChange domain object, and updating the apply_change_list method to include skills. Refer to the design doc here for details: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/e

[2017-01-31 02:02] tjiang11 opened #3000 "Implement Question storage model"
This is milestone 2 of the Questions project.

This milestone will implement the storage model for questions as well as basic creation/deletion functionality for the question storage model. Refer to design doc here for details: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [x] Implement Question storage model in storage/question/gae_mode

[2017-01-31 02:05] tjiang11 opened #3001 "[depends on #3000] Implement Question domain object"
This is milestone 3 of the Questions project.

This milestone will implement the Question domain object, including validation of the object, and conversion between object and dict representations. Refer to design doc here for details: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [ ] Create domain object for questions (including validati

[2017-01-31 03:46] seanlip commented on #2127
Discussed with @kevinlee12; closing due to low impact.

[2017-01-31 03:46] #2127 closed

[2017-01-31 03:52] seanlip commented on #1930
Discussed with @kevinlee12. Decided to close this because we haven't really had any developer complaints about CSS in the past year, and the current system seems to be working reasonably as it is so it would be nice to not add additional overhead in the form of a further framework.

(But, developers, feel free to reopen this issue later if you'd like to see this in!)

[2017-01-31 03:52] #1930 closed

[2017-01-31 05:45] seanlip commented on #2039
Hi @Anthony-Alridge, I noticed you're taking up #2981, so, just a quick check -- are you still planning to work on this? Thanks!

[2017-01-31 06:07] #2995 closed

[2017-01-31 06:11] SudhanvaMG commented on #2954
@anthkris I am done with code. I created a simple angular js directive which updates the lang attribute of html tag when ever the language changes . So at any moment the user can know which language is being used

[2017-01-31 06:13] seanlip opened #3002 "Remove the dependency from routerService on explorationStatesService."
Recently, the collection editor broke (#2995) due to a change in the exploration editor which was not intended to affect the collection editor. On further investigation, this appears to be because routerService, which the collection editor makes use of, has a dependency on explorationStatesService. This dependency should not be there, and we really should get rid of it because it means that the co

[2017-01-31 06:21] seanlip commented on #2781
Fixed in #2784. Thanks, @andromfins!

[2017-01-31 06:21] #2781 closed

[2017-01-31 06:25] anthkris commented on #2954
@SudhanvaMG Awesome! Please submit a PR and assign me as the reviewer.

[2017-01-31 06:28] Oishikatta opened #3003 "SearchBarDirective in Library should use Angular's debouncer"
The SearchBarDirective does not properly make use of the oppiaDebouncer service from app.js. The denouncer service returns a new function each time it is called, resulting in the debouncing not taking effect since that function is only called once per use.

https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/library/SearchBarDirective.js#L156

A better alternative would be to

[2017-01-31 06:30] SudhanvaMG commented on #2954
@anthkris Give me few minutes , few lat minute editing .

[2017-01-31 06:41] SudhanvaMG commented on #2954
@anthkris I am done with the editing . As this is my first PR , can you just walk me through it .?
Thank you

[2017-01-31 06:50] anthkris commented on #2954
I'm going to bed just now, but the Oppia team have put together good instructions: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia
You'll be starting from the end of Step 3.

The essential steps are:

-  Push your changes to your fork (which will run various tests)
- Go to your fork and create a pull request. Make sure that the 'base' repository is the main Oppia repo and that the '

[2017-01-31 06:51] SudhanvaMG commented on #2954
Ok thanks .

[2017-01-31 09:12] seanlip commented on #3003
Hang on -- I think I'm confused. Why does the navbar-checker debouncer work, but not this one? (Can we refactor this one to behave similarly to the other one?) Alternatively, as you say, we could use the Angular debouncer.

Also, would you like to take this up? It might make the most sense, since you've just been working with this part of the code...

[2017-01-31 09:14] SudhanvaMG commented on #3003
Hello @Oishikatta
I would like to work on this .

[2017-01-31 15:49] anmolshkl commented on #2986
Ah my bad, I forgot that we had created another issue for that.

[2017-01-31 18:17] jblair87 commented on #2306
I agree with @jaredsilver re the text

[2017-01-31 18:35] Oishikatta commented on #3003
I believe that to use the oppiaDebouncer the returned function must be the one called multiple times. The code in SearchBarDirective.js currently gets a new function each time and calls that, rather than getting one function and calling it multiple times.

I think using the Angular debouncer makes more sense for this use case, but one thing I hadn't anticipated is that it's not clear how to implem

[2017-01-31 18:39] seanlip commented on #3003
Thanks, @Oishikatta! I'd say please go ahead and submit a patch. I think this is actually a little tricky to get right, and we have a number of other starter projects available, so it would be great if you fixed this one!

[2017-01-31 18:45] Oishikatta commented on #3003
Sure, I'll submit a PR. Which should it be though - using oppiaDebouncer or Angular's?

[2017-01-31 18:46] seanlip commented on #3003
Your call. I'm fine either way, as long as it works.

[2017-01-31 20:59] Anthony-Alridge commented on #2039
Hi @seanlip, sorry I must have missed the notification for this one, if no one takes this up before I finish #2981 then yes I'll be totally up for working on this. Thanks.

[2017-01-31 21:27] Anthony-Alridge commented on #2981
Hi @jaredsilver there doesn't seem to be a problem for me with the page scrolling when at the bottom of the menu. I could be wrong but it seems to me that it was solved in #2949.

[2017-02-01 02:23] himanshu-dixit commented on #2981
@jaredsilver, i think i solved the issue. I didn't have phone at that time to check it out on smartphone.
Thanks @Anthony-Alridge Can you confirm that the page is not scrolling when user has reached bottom of navigation menu. If you can confirm this, close this issue with your remarks. Also would you be interested in taking up #2980?

[2017-02-01 03:15] jaredsilver commented on #2981
Hmm... It appears that the issue may apply only to certain devices/browsers. Here is a video of the behavior in iOS Mobile Safari: https://cl.ly/iytj

@himanshu-dixit -- Did you observe that this behavior is different on Android?

[2017-02-01 03:24] himanshu-dixit commented on #2981
@jaredsilver Thanks, i didn't have chance at that moment my phone was in service center, but i checked for it for using chrome responsive mode.
Btw currently my laptop is in repair shop, so i can check for behavior when it gets repaired.
@Anthony-Alridge Meanwhile can you check for the behavior in android also?

[2017-02-01 03:38] tjiang11 opened #3007 "[depends on #3001] Allow for questions to be edited/updated"
This is the milestone 4 of the questions project.

This milestone will implement the functionality to allow for the updating of questions. Refer to the design doc here: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [ ] Add mutator methods to question domain object
- [ ] Implement question_services.apply_change_list

[2017-02-01 03:48] tjiang11 opened #3008 "Batch question querying for question player"
This is milestone 5 of the questions project.

This milestone will implement querying for new batches of questions in the question player that are suitable for the learner based on skills. Refer to the design doc here: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [ ] Implement question_domain.get_skills()
- [ ] Abstract logic into new f

[2017-02-01 03:58] tjiang11 opened #3009 "Querying question summaries for the question manager"
This is milestone 6 of the questions project.

This milestone will implement the back-end necessary for the question manager, primarily the functionality to query for question summaries. Refer to the design doc here: https://docs.google.com/document/d/1_EMD4JVn2H9aBX8OkkbieeXOcM6mx5EaB2tkHOiQ4tI/edit?ts=586f16a9#

Todo:
- [ ] Modify collection_domain.skills() to fetch directly from the collection

[2017-02-01 21:36] #2956 closed

[2017-02-01 22:14] Anthony-Alridge commented on #2981
Hi @himanshu-dixit I don't have an android phone available at the moment so I wont be able to check on android. Also in reference to #2980 I'll be tackling a different issue first so I won't be able to do that right away, I'll have a look after if no one has done it.

[2017-02-01 22:54] Anthony-Alridge commented on #2981
Hi @jaredsilver I'm having trouble getting my phone to connect to my VM's localhost so I may not be able to test this properly once I fix it, would it be best if I unassigned myself until I sort it out.

[2017-02-01 22:57] jaredsilver commented on #2981
Hi @Anthony-Alridge, no worries! It's up to you -- I could try to test it for you once you feel like you have a fix, or you could unassign yourself and wait until you get that worked out.

[2017-02-01 23:48] Anthony-Alridge commented on #2981
Hi I was looking around online about this problem and it's happened to other people on iOS Safari. From what I can tell it doesn't have a satisfying solution. The workaround seems to be not allowing the user to scroll all the way to the bottom, instead blocking at 1 pixel above the bottom. I can't seem to find any other obvious alternatives, what do you think about that approach @jaredsilver.

[2017-02-02 02:10] jaredsilver commented on #2981
Thanks a bunch, @Anthony-Alridge! We could definitely try that. If it doesn't end up working well, it's not the end of the world. (Our target users primarily use Android.)

[2017-02-02 03:57] SudhanvaMG commented on #2102
Hello , I would like to work on this one !
@seanlip Can i work on this ?

[2017-02-02 05:19] seanlip commented on #2102
Sure! However, note that this is not a coding project -- the requirement for this issue is to create some mocks/designs that illustrate what the user flow would be like.

[2017-02-02 05:25] seanlip commented on #2306
@SudhanvaMG -- I think this is reasonably straightforward. Want to try it?

[2017-02-02 05:27] SudhanvaMG commented on #2102
@seanlip ok I will work on the other issue

[2017-02-02 05:53] SudhanvaMG commented on #2306
@seanlip Yes , i will work on this .

[2017-02-02 06:11] SudhanvaMG commented on #2306
Could you tell me which files do i need to look into ?

[2017-02-02 08:33] seanlip opened #3010 "Error when trying to iterate through a node list using forEach"
I noticed the following bug when running the current library page on an older version of Chromium:

![library-screenshot-chromium-43](https://cloud.githubusercontent.com/assets/10575562/22542072/cd9baf6e-e8de-11e6-915e-dee53c0d8897.png)

I've since upgraded, but dug around a bit and I think it might be worth the easy fix to prevent issues from happening on older browsers. See [this](http://stackov

[2017-02-02 12:23] andromfins opened #3011 "In the simple editor sidebar scrolling lacks animation."
In the simple editor [branch](https://github.com/oppia/oppia/tree/simple-editor), the ScrollSyncService lacks animations when scrolling the editor main content, see gif below:
![sidebar_lacks_animations](https://cloud.githubusercontent.com/assets/10903202/22514278/b341725e-e896-11e6-960d-9627ac35008c.gif)

When a user clicks a sidebar item, scrolling to the according field should be animated.
Rela

[2017-02-02 12:24] andromfins opened #3012 "In the simple editor, sidebar highlighting doesn't work for last question."
In the simple editor [branch](https://github.com/oppia/oppia/tree/simple-editor), the last question in the editor is not entirely scrollable, which makes the highlighting in the sidebar stops at the first field (Multiple Choice), which is not consistant behavior for the sidebar, see gif:
![sidebar_bug](https://cloud.githubusercontent.com/assets/10903202/22514598/c46d0be6-e897-11e6-90cb-f0bff6d5694

[2017-02-02 12:24] andromfins opened #3013 "Make the simple editor sidebar look correct in Firefox and IE."
This address mainly the scrollbar look on FF and IE, it should look as designed in the sidebar [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqbmRPREtBY3ppOWs).
Currently it only looks as per mocks in Chrome (webkit).

Related files: [simple_editor_sidebar_directive.html](https://github.com/oppia/oppia/blob/simple-editor/core/templates/dev/head/pages/exploration_editor/simple_editor_ta

[2017-02-02 12:25] andromfins opened #3014 "In the simple editor, add the preview button for the sidebar items."
Add the preview button for the sidebar items, see [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqT2RubEhIRWNvelE), that shows a preview
of the question when clicked.

Currently there is not yet an implementation to use for displaying the preview.
This is part of the simple editor project.

[2017-02-02 12:28] andromfins opened #3015 "In the simple editor, add the ability to highlight unfinished questions."
As per [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqSWtqRkpTY0djckU), add case for highlighting unfinished questions in the [ScrollSyncService.js](https://github.com/oppia/oppia/blob/simple-editor/core/templates/dev/head/pages/exploration_editor/simple_editor_tab/ScrollSyncService.js), so we could have a way for highlighting unfinished questions in red, either by creating a new meth

[2017-02-02 12:28] andromfins opened #3016 "In the simple editor, add functionality for deleting questions."
Currently the simple editor doesn't implement a delete functionality, Steps to do this (all of which much be completed in the same PR)
  - (i): Add an `Edit` button to switch the sidebar mode from read-only to editable.
  - (ii): In edit mode, list only the question group headers without the sub items.
  - (iii): In edit mode, add an icon to each question header element for deleting it, when
  tha

[2017-02-02 12:31] andromfins opened #3017 "In the simple editor, Add functionality for moving questions."
In the sidebar Edit mode, add the ability to move a question, as per [mocks](https://drive.google.com/drive/folders/0B_8dp8q8tZvqbmRPREtBY3ppOWs).

This depends on (i), (ii), of #3016, also this functionalilty is to be implemented similarly to (iii) in #3016 , by defining a MoveQuestion method in [SimpleEditorManagerService.js](https://github.com/oppia/oppia/blob/simple-editor/core/templates/dev/h

[2017-02-02 12:36] andromfins opened #3018 "Ensure all simple editor services are fully unit-tested."
Current services that are not unit-tested (simple-editor branch):

  - [x] ~~SimpleEditorShimService.js~~ (@ashish3805) (#3091)
  - [ ] [SimpleEditorManagerService.js](https://github.com/oppia/oppia/blob/simple-editor/core/templates/dev/head/pages/exploration_editor/simple_editor_tab/SimpleEditorManagerService.js) (@ashish3805)
  - [x] [QuestionIdService.js](https://github.com/oppia/oppia/blob/sim

[2017-02-02 12:40] 526avijitgupta commented on #857
@arpan Are you still working on this ?

[2017-02-02 12:42] 526avijitgupta commented on #1450
@arun1595 Are you working on this ?

[2017-02-02 12:45] andromfins commented on #2699
This one is done in #2784.

[2017-02-02 12:45] #2699 closed

[2017-02-02 12:46] 526avijitgupta commented on #2099
@MAKOSCAFEE Are you working on this ?

[2017-02-02 12:47] andromfins commented on #2739
This issue is split into #3016, #3017 .

[2017-02-02 12:47] #2739 closed

[2017-02-02 12:49] 526avijitgupta commented on #2536
@kefeh - Deassigning due to lack of response.

[2017-02-02 12:51] 526avijitgupta commented on #2627
@himanshu-dixit Any updates on this ?

[2017-02-02 12:55] 526avijitgupta commented on #2841
@kefeh - Deassigning for now. Please reassign if you want to work on this!

[2017-02-02 12:57] 526avijitgupta commented on #2915
@TJHomer Are you planning to work on this ?

[2017-02-02 14:37] TJHomer commented on #2915
Yes 😞  I'm terribly sorry.    I got into a coding bootcamp and got elected to the board of a local non-profit in the same day so I'm still trying to play catch up with the rest of my life. 🤕
I'll put at the top of my list next week.

[2017-02-02 15:51] arpan98 commented on #857
@526avijitgupta Yes, but I am unable to make much headway into it. You are free to take it up if you like.

[2017-02-02 16:53] 526avijitgupta commented on #857
@arpan98 I don't think that'll be much of an issue. Moreover, I don't think I'll get much time until the end of the next week to work on this, so you can keep progressing on this one steadily in the meantime!

[2017-02-02 17:02] himanshu-dixit commented on #2627
yes, my laptop was on service center from last weekend and have worked on
design doc (although need to implement changes according to prassanna and
jacobdavis)

On 2 February 2017 at 18:21, Avijit Gupta <notifications@github.com> wrote:

[2017-02-02 19:46] seanlip commented on #3014
Note: this should be done on the **simple-editor** branch, not develop.

[2017-02-02 19:46] seanlip commented on #3015
Note: this should be done on the **simple-editor** branch, not develop.

[2017-02-02 19:46] seanlip commented on #3016
Note: this should be done on the **simple-editor** branch, not develop.

[2017-02-02 21:55] seanlip commented on #2536
Note to contributors: please note prior work in #2721.

[2017-02-02 21:58] seanlip commented on #2841
Note to contributors: please see prior work in https://github.com/oppia/oppia.github.io/pull/32. You can build off of this, if you wish.

[2017-02-03 04:17] seanlip commented on #2943
@jblair87 -- deassigning you from this one for now, since I think your PR mainly addresses #2940. Feel free to take it up again when you've merged that one in!

[2017-02-03 04:18] seanlip commented on #2915
Thanks, @TJHomer!

Btw, I know there have been some changes to the sidebar recently -- so, just to check: @jaredsilver @himanshu-dixit is this still an issue?

[2017-02-03 04:26] jaredsilver commented on #2901
Currently, we have the options of "Misleading content, spam or ads", "Poor learning experience", and "Other" when a user flags an exploration -- if the user selects "Poor learning experience", we can redirect the user to the normal feedback dialogue.

[2017-02-03 04:31] seanlip commented on #2873
Note to contributors: the main next step here is to try adding the existing info modal to the mobile view, and then posting a screenshot to this issue thread so we can audit this feature from a design perspective.

[2017-02-03 04:33] himanshu-dixit commented on #2915
@seanlip, i think this issue still persist. @jaredsilver added a video on #2981 around 2 days ago.
https://cl.ly/iytj

[2017-02-03 04:36] seanlip commented on #2915
OK, thanks for confirming!

[2017-02-03 04:50] seanlip commented on #2052
@jaredsilver suggests: perhaps we should consider allowing more than two levels of categories (i.e. an arbitrary number). He's planning to write a requirements spec later once this becomes more of an issue, but it's lower priority for now.

[2017-02-03 04:58] seanlip commented on #1528
This issue really needs a design doc outlining:
- who can change the avatar
- what the avatar can be changed to
- is there a review/approval process

[2017-02-03 06:05] #2231 closed

[2017-02-03 06:08] AllanYangZhou commented on #2083
Possible fix: Ignore `oppia-noninteractive-math` when parsing for expression inputs.

[2017-02-03 06:21] AllanYangZhou commented on #2231
Closing since its not been reproduced.

[2017-02-03 06:31] AllanYangZhou commented on #2256
Duplicate of #1284, pt 4.

[2017-02-03 06:31] #2256 closed

[2017-02-03 06:38] seanlip commented on #910
Assigning to @AllanYangZhou for investigation.

[2017-02-03 06:43] seanlip commented on #675
Assigning to @AllanYangZhou for tech breakdown.

[2017-02-03 06:46] seanlip commented on #675
Note: also need to specify what delimiter to use -- we don't want people to have issues typing something like "John goes to the store and buys $2 worth of chocolates, and then sells them for $3" and end up having all the text between the $-signs evaluated as LaTeX.

[2017-02-03 07:29] #3003 closed

[2017-02-03 09:49] #3010 closed

[2017-02-03 10:08] Jatinbalodhi96 opened #3020 "Having trouble while settingup oppia"
I was trying to install oppia server on my local machine I followed all the instruction but while running scripts/start.sh I'm getting error in last
`Archive:  webtest-download.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on

[2017-02-03 10:09] 526avijitgupta commented on #3020
@Jatinbalodhi96 Can you please paste the full error log here ?

[2017-02-03 10:11] Jatinbalodhi96 commented on #3020
`Checking if node.js is installed in /home/jatin/Drive/OpenSource/oppia_tools
Generating list of installed node modules...
Generation completed.
Checking whether Google App Engine is installed in /home/jatin/Drive/OpenSource/oppia_tools/google_appengine_1.9.19/google_appengine
Environment setup completed.
Installing third-party JS libraries and zip files.
Checking whether gulp is installed
Checkin

[2017-02-03 10:16] 526avijitgupta commented on #3020
@Jatinbalodhi96 Please try deleting the following directories and running `bash scripts/start.sh` again :

[code]

If the problem still persists, then it might be because you are behind a proxy configuration (E.g. - using your university's internet connection). In that case, please try setting up Oppia through some different internet connection which is seemingly unrestricted!

[2017-02-03 10:19] 526avijitgupta commented on #3020
Also, I'm closing this issue now. If you have any queries, please do not hesitate to drop by our [Gitter channel](https://gitter.im/oppia/oppia-chat) and starting a discussion there.

[2017-02-03 11:18] Jatinbalodhi96 commented on #3020
Surely i will ask if i've any more queries

Thanks

[2017-02-03 15:50] 526avijitgupta commented on #3020
Actually, wait. I encountered the exact same error while setting up Oppia today. It seems to have arisen due to recent [change in install_third_party.sh](https://github.com/oppia/oppia/commit/7e94a0aa03fd6c638d9650996051ff64b3e2ac81#diff-f0bc5075f7a752b985d0786c7209ffeaR120)

I'm going to submit a PR for this now.

/cc @Jatinbalodhi96

[2017-02-03 15:53] anthkris commented on #2862
@seanlip I'm working on a PR to wrap up the final small fixes related to this issue, but I'm encountering some issues that might be bigger and need feedback (for example, one issue that has come up a couple of times is that, when trying to navigate the site with the keyboard, users need to be able to expand dropdown menus with a keypress - typically the enter key; Would using ng-keypress be good f

[2017-02-03 18:08] MAKOSCAFEE commented on #2099
hey @526avijitgupta yes I am working on it. I am in exams right now but will get this done when am done with exams.

[2017-02-03 19:45] vojtechjelinek commented on #1695
So, after some trying, I think the best approach is to use the JSON file, though the file must be loaded synchronously in vanilla JS and then passed to Angular constant similarly to GLOBALS. The file should be cached so there is not some huge data transfer. Also, the advantage is that the usage of constants is same in frontend and backend.
I only need to solve the issue with karma tests, because t

[2017-02-03 20:29] seanlip commented on #1695
Thanks for the update, @vojtechjelinek!

Not sure if the following solves your remaining issue (I'm writing this in a hurry) but you might want to take a look at https://github.com/oppia/oppia/blob/develop/core/tests/karma-globals.js

[2017-02-03 22:24] seanlip commented on #2862
Sorry @anthkris -- I couldn't quite parse your last question. Would you mind elaborating?

Re ng-keypress, I'm afraid I don't know, sorry -- that needs investigation. My guess is that the answer is "yes, probably".

[2017-02-03 22:41] seanlip commented on #1695
OK, I've had time to read this a bit more carefully. Apart from the above link, I also remember doing something with JSON files in karma before. See:

https://github.com/oppia/oppia/commit/beabba499665b156a99b72b003cbc8d1ec4c19d8#diff-51f08e56ffff03cdfaf5d26933eca640R34

(Note also https://github.com/oppia/oppia/commit/beabba499665b156a99b72b003cbc8d1ec4c19d8#diff-90fe206654dfa04eda2d95a73cc44fdfR

[2017-02-03 23:21] anthkris commented on #2862
Sorry! Here are the issues I've encountered while trying to deal with tab focus:

- Keyboard users should be able to press enter/return on a dropdown menu and see the sub options (this is the case for the About tab and the Profile tab).
- Similarly, I couldn’t manage to make the hamburger menu expand using the keyboard when the page was using the mobile styles.
- Ditto for the author profile and t

[2017-02-03 23:59] bching commented on #2955
Hello @anthkris! I added the fix and submitted the pull request. The branch is behind in commits with the original oppia develop branch however, is that still okay?

[2017-02-04 00:15] anthkris commented on #2955
@bching Thanks! What may end of happening is that you may have to deal with some merge conflicts. That's totally okay. Please assign me as the reviewer on your PR.

Thanks again.

[2017-02-04 01:21] bching commented on #2955
@anthkris All right I have done that. Yes, I am seeing that there is a branch conflict to be resolved, although just a header change.

[2017-02-04 02:42] seanlip commented on #2955
@bching Consider merging develop into your branch. See second bullet in step 5 [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up).

[2017-02-04 02:45] seanlip commented on #2862
Ah, I see, thanks! Yep, delineating the problems like this is a great idea. If you think it might be worth parallelizing the efforts on some of these, feel free to split them and file a bunch of separate new issues (though you could still group related ones).

[2017-02-04 11:03] SudhanvaMG commented on #2306
@seanlip I am finished with the redirecting the page back to splash after 5 seconds .

[2017-02-04 16:04] seanlip commented on #2306
Feel free to submit a PR when you're ready. Please assign @kevinlee12 as reviewer.

[2017-02-04 16:39] SudhanvaMG commented on #2306
@seanlip I can submit a PR after my first PR is merged , so will do it after that .

[2017-02-04 20:57] jaredsilver commented on #2981
Closing this due to rationale in #3022.

[2017-02-04 20:57] #2981 closed

[2017-02-04 21:14] jaredsilver commented on #1514
I think we're going to close this issue for now in favor of #449. Because the search function currently does not match partial results (e.g. matching "biology" if searching for "bio"), it might be strange for the search _bar_ to have such functionality. We should probably focus on implementing a more robust search feature first, though this isn't super high priority because there isn't enough cont

[2017-02-04 21:14] #1514 closed

[2017-02-04 21:23] jaredsilver commented on #2869
An alternative solution to this would be to replace the "Author Profiles" bar entirely: the apple icon could become the feedback icon, and _Author Profiles_ could become _Feedback_. Then, we could display author profile information at the end of the exploration instead.

Whereas author profiles may be used for discovering further explorations _after_ an exploration has been completed, providing fe

[2017-02-04 21:43] jaredsilver commented on #1680
I'm in favor of the modal approach.

A modal could display when the sign-in button is pressed. This modal could include not only the _Sign in with Google_ button, but also a message reassuring the user that it is safe to log in with Google and explaining why it is necessary. This may increase the rate at which people sign in.

### Sign in with Google to keep track of your learning progress and be

[2017-02-04 21:50] jaredsilver commented on #1073
I feel that a modal would probably be a better choice given that our target user will likely be accessing the site from a relatively small mobile device. Popovers on mobile are generally not ideal because of their diminutive size, whereas a modal could work sufficiently well on both mobile and desktop.

[2017-02-05 01:09] seanlip commented on #3020
Closing -- seems to be fixed in #3021. Thanks @526avijitgupta!

[2017-02-05 01:09] #3020 closed

[2017-02-05 03:50] seanlip commented on #2946
Note to contributors: if an Angular solution exists for this, consider using that instead of jQuery.

[2017-02-05 03:52] seanlip commented on #2946
Another note: #2030 and associated PRs may be useful here, since #2472 already provides a backend for searching for explorations.

[2017-02-05 04:01] seanlip commented on #2775
Update: the issue upstream seems to have been fixed. We should probably upgrade, test and verify that it's fixed at our end, too.

[2017-02-05 04:13] seanlip commented on #1061
This hasn't been requested for over a year; closing due to low importance.

[2017-02-05 04:13] #1061 closed

[2017-02-05 04:53] gugog commented on #913
Is this still an issue? If so I would like to help.

[2017-02-05 04:57] gugog commented on #913
Actually, I just reproduced it and looks like there are 2 related issues:
1. As explained here is to do with the cursor placement
2. Is about the link text not showing up

[2017-02-05 06:31] anthkris opened #3025 "A keyboard user should be able to expand dropdown menus"
As a part of PR #3024, I worked to update tab focus order and styling on learner-facing pages. I found several instances where navigating the site by keyboard was problematic:

- Keyboard users should be able to press enter/return on a dropdown menu and see the sub options (this is the case for the About tab and the Profile tab).
- Similarly, I couldn’t manage to make the hamburger menu expand usi

[2017-02-05 06:39] anthkris opened #3026 "Tabbing through the navbar when the search bar is present results in performing an empty search"
As a part of the fixes involved in PR #3024, I noticed that tabbing through the navbar on the library page resulted in performing a search, when I was just trying to get past the navbar and onto the main Library page content.

Desired behavior would be for the search bar to wait for activation (enter/return key or typing in a letter) before performing a search, when using keyboard navigation.

##

[2017-02-06 01:10] tjiang11 opened #3027 "GraphInput: When trying to label a new node, another node is created"
Refiled from #889

When adding a node to a graph input, a node is properly created. However, when attempting to label the node by clicking again, yet another new node is created on top of the node created earlier. A solution to this would be to have the mode automatically change to "move" after creating a node so that another new node is not created when attempting to add a label to the first crea

[2017-02-06 01:10] tjiang11 commented on #889
Refiling as #3027

[2017-02-06 01:10] #889 closed

[2017-02-06 01:19] tjiang11 opened #3028 "Image region interaction: Prevent accidental clearing"
Originally part of #2968 . Filing as separate issue.

Prevent accidentally clearing the image and regions when pressing the "Clear Image and Regions" button. Add a confirmation prompt upon clicking the "Clear Image and Regions" button to ensure the user actually intended to press it.

[2017-02-06 01:20] tjiang11 commented on #2968
Filed separate issue as #3028

[2017-02-06 04:22] kirankonduru commented on #2550
Hey @seanlip in this whenever a new exploration is created, on pressing the back button I guess we should redirect the user to the dashboard because if we press the back button then the previously created exploration does not come up unless we refresh the dashboard page.

[2017-02-06 05:47] SudhanvaMG commented on #3018
@andromfins  @seanlip I would like to take this and work on this .

[2017-02-06 08:34] #2954 closed

[2017-02-06 08:35] seanlip commented on #2306
(Not sure how this got auto-closed. Reopening.)

[2017-02-06 08:37] seanlip commented on #2550
Hi @kirankonduru, I don't think I understand what you mean by "because if we press the back button then the previously created exploration does not come up unless we refresh the dashboard page". However, the behaviour you describe sounds reasonable to me.

[2017-02-06 09:16] kirankonduru commented on #2550
"because if we press the back button then the previously created exploration does not come up unless we refresh the dashboard page"
By this I meant that whenever the user creates an exploration he is redirected to the exploration editor page. Now if he presses the back button here then the user goes to the dashboard which in is in the previous state where the exploration is not yet created. So wha

[2017-02-06 09:17] seanlip commented on #2550
I'm fine with that, yep.

Note, though, that there are other cases. For example, the user may type in the URL of the exploration editor UI manually. In that case, pressing the Back button should return to the previous page.

In other words, the Back button should behave like a normal Back button.

[2017-02-06 09:28] SudhanvaMG commented on #2306
Will submit a PR  .

[2017-02-06 11:43] pratik4 commented on #2966
Im working on this issue.

[2017-02-06 16:31] andromfins commented on #3015
@SudhanvaMG: I might not have explained this issue well so what we need is: some method to call with a list of sidebar item ids, and it will make them highlighted in red, and we also need a method to undo red highlighting for a given sidebar item.
 Also i don't see any reason for them to be in the ScrollSyncService, they should be in a separate service, something like SidebarHighlightingService, w

[2017-02-06 17:33] SudhanvaMG commented on #3015
@andromfins : I will look at the code and get back to you .

[2017-02-06 17:51] shreab373 commented on #3026
hello, i'm a newbie, can i take this?

[2017-02-06 18:06] anthkris commented on #3026
Howdy @shreab373 Sure thing! Just checking, have you signed the CLA and taken the contributor survey?

[2017-02-06 18:07] anthkris commented on #3026
I don't see you as a possible assignee yet. If you have signed the CLA and taken the survey (as detailed here: https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), then we may just be waiting for you to be accepted into the team.

[2017-02-06 18:26] shreab373 commented on #3026
hey @anthkris i have done both, i believe i'll be notified when that happens?

[2017-02-06 20:44] #2526 closed

[2017-02-06 20:48] seanlip commented on #2526
Fixed in #2979. Thanks @kevintab95!

[2017-02-06 20:53] seanlip commented on #3026
Hi @shreab373 -- feel free to go ahead and work on a PR. I've just added you; you can accept the invitation at github.com/oppia. Thanks!

[2017-02-06 22:25] Anthony-Alridge commented on #2039
Hi @seanlip sorry this is late I've been busy with uni stuff. Before I get started do you have a preference as to which approach to take. If not I'll go with a modal approach and see how that turns out.

[2017-02-06 22:52] seanlip commented on #2039
I mildly prefer the version where it's on the right of the basic settings card (i.e. no modal), but if the modal version is easier then please go ahead with that. Thanks!

[2017-02-07 04:39] shreab373 commented on #3026
@seanlip  thanks I accepted, could you guide as what needs to be done here? @anthkris

[2017-02-07 04:41] anthkris commented on #3026
Hi @shreab373 Did you have a look at the issue above? What are you confused about? How can I help clarify?

[2017-02-07 05:00] kevintab95 commented on #2985
mocks for the mobile view: https://drive.google.com/drive/folders/0B4A9S7Ym8W0CQTdiMVJlRTFnaHc

[2017-02-07 05:05] shreab373 commented on #3026
@anthkris i don't think i'm the right person for this issue, sorry :)

[2017-02-07 05:07] anthkris commented on #3026
@shreab373 No problem! What sorts of things are you interested in? Perhaps we can find another issue for you.

[2017-02-07 05:31] kevintab95 opened #3031 "Track user progress in the collection learner view"
The users progress (ie. completed lessons) should be tracked in the collection learner view. This can be done by replacing the lesson icon with the paw prints icon for completed lessons.

Result should look like this:

![oppia4b_new11_5](https://cloud.githubusercontent.com/assets/11008603/22678980/99bb01aa-ed24-11e6-937f-c2fc463a449a.jpg)

[2017-02-07 06:20] shreab373 commented on #3026
anything python, i can try..

[2017-02-07 06:24] anthkris commented on #3026
@shreab373 Cool! Take a look at these backend starter projects: https://github.com/oppia/oppia/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22loc%3A%20backend%22%20label%3A%22starter%20project%22

Perhaps one of them will suit you! Thanks for contributing!

[2017-02-07 07:39] AllanYangZhou opened #3032 "Implement CKEditor as new rich text editor and Migrate Existing Explorations"
We would like to replace the current text editor with CKEditor, and take advantage of its widget functionality to provide accurate previews of our widgets (math, video, images, etc.). This would resolve the following issues:

* #1933: rte displays link icon instead of actual link
* #1810: previews are blurred
* #1811: math component does not display properly

As a side effect it should resolve the

[2017-02-07 07:39] AllanYangZhou commented on #1933
@wxyxinyu CKEditor is not ready yet, I've encapsulated this issue into #3032.

[2017-02-07 07:39] #1933 closed

[2017-02-07 07:40] AllanYangZhou commented on #1810
Subsumed by #3032.

[2017-02-07 07:40] #1810 closed

[2017-02-07 07:40] AllanYangZhou commented on #1811
Subsumed by #3032.

[2017-02-07 07:40] #1811 closed

[2017-02-07 07:41] AllanYangZhou commented on #1431
Subsumed by #3032.

[2017-02-07 07:41] #1431 closed

[2017-02-07 07:41] AllanYangZhou commented on #1535
Subsumed by #3032.

[2017-02-07 07:41] #1535 closed

[2017-02-07 07:42] AllanYangZhou commented on #910
This is likely to be difficult, especially with CKEditor. Probably not worth the effort.

[2017-02-07 07:42] #910 closed

[2017-02-07 07:49] shreab373 commented on #2233
Hello, could someone help me with this?

[2017-02-07 08:02] Oishikatta commented on #2990
I have a possible implementation for Android using the hidden textbox method, I expect I'll have a PR ready either Tuesday or Wednesday.

On Windows Phone (IE Mobile), it also works but there seem to be upstream compatibility issues with some functionality (e.g. rendering things like exponents).

I haven't yet tested on iOS/Safari.

 This is more of a workaround still, as there would still be a co

[2017-02-07 08:40] seanlip commented on #2306
Some notes (from a review of #3030):
- The main thing to check in the backend is whether the user is logged in or not, i.e. whether self.user_id is None or not.
- If the user is logged out, send some kind of response to the frontend that the frontend can read and use to deduce that the user has logged out.
- It's possible that the http POST interceptors in app.js might be a good place to start --

[2017-02-07 08:41] seanlip commented on #2990
I think that sounds like a good strategy: start with something functional and then make it more convenient over time. The progress sounds great; thanks @Oishikatta!

[2017-02-07 08:48] itaditya commented on #3028
I would like to take this .

[2017-02-07 08:50] pratik4 commented on #2994
Im not able to reproduce the error.
If you dont mind , can you help me in reproducing the error step by step. @souravbadami
I want to work on this issue.

[2017-02-07 08:52] seanlip commented on #3028
Welcome! Sounds good, please go ahead.

[2017-02-07 09:24] seanlip commented on #2845
Hi @kaggis -- how's this going?

[2017-02-07 22:17] Anthony-Alridge commented on #2039
Hi @seanlip I think I'll go with the modal view first then, it may be easier, but I'll be happy to experiment with different approaches.  Also I'm trying to use the exploration-summary-tile directive but I'm a little confused as to where to get the information (title, id, backround-img url etc.) from. Is there a way to retrieve this information from one of the services in the SettingsTab.js file?

[2017-02-07 22:32] thedeveloperr commented on #2966
Hello @jaredsilver , I have implemented this feature as suggested by you. I modified HomePageRedirectHandler get() method. I retrieved the user contributions using user_services.get_user_contributions() function and checked the length of the list of contribution ids. if the length is more than 0 then user has explorations associated so my code redirect them to dashboard else redirect them to libra

[2017-02-08 00:35] jaredsilver commented on #2966
@thedeveloperr -- This seems like a good approach. Please first [sign the CLA as described here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up), and then [follow the instructions located here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#instructions-for-making-a-code-change) to submit your PR. In addition, please be mindful in the future as to

[2017-02-08 01:19] seanlip commented on #2039
Try searching the codebase for existing usage of the exploration-summary-tile -- that should give you an idea of how to pass data into it. If you're asking where to get that data from, I think most of it should be available already within the [SettingsTab.js controller](https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/pages/exploration_editor/settings_tab/SettingsTab.js)? It's t

[2017-02-08 02:00] pratik4 commented on #2966
yes, I have also fixed the issue.
I will submit the Pull Request.

[2017-02-08 03:01] thedeveloperr commented on #2966
@jaredsilver I would keep this thing in mind for future. I am new to this whole things so I didn't know about this. @pratik4 commented 2 days ago and there was no pull request related this minor issue when I checked so I decided to work on a fix. I am really sorry @pratik4 and @jaredsilver for my newbie and overexcited behavior.

[2017-02-08 10:46] ankitjain28may commented on #2936
Any one is working on this issue ?

[2017-02-08 13:20] pratik4 commented on #2966
hello @jaredsilver, sorry for being late, I have submitted the Pull Request, please review my PR.

[2017-02-08 20:56] himanshu-dixit opened #3037 "Non Uniformity In Save Draft Button In Exploration Editor At Different Screens"
In Exploration Editor, check the change in height (probably diff of 1/2px) in area of button below the drop down at different sizes.
P.S.- This might seem like nitpicking, but it can serve as good easy issue to start contributing to oppia.

[2017-02-08 21:35] seanlip commented on #3037
Hi @himanshu-dixit -- can you add screenshots? I'm not certain if sub-pixel differences are worth handling, so just wanted to see how it looks to the naked eye.

[2017-02-08 21:36] seanlip commented on #2936
Not currently, but I think it depends a bit on #2975. I recommend picking another project from [this list](https://github.com/oppia/oppia/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Recommended+projects%22+label%3A%22TODO%3A+code%22).

[2017-02-08 21:36] seanlip commented on #3028
@itaditya -- did you manage to get things set up locally? If not, let's release this issue so that someone else can take it.

Thanks!

[2017-02-08 23:13] Anthony-Alridge commented on #2039
Yh I can see where the information that the user edits (title, objective, category) comes from. I think I'm fine accessing those, but I don't know where to get the additional data such as last-updated and ratings. In all the other implementation's of exploration-summary-title the data seems to be pulled from a backend services (e.g. ReadOnlyCollectionBackendApiService in the collection_player, or

[2017-02-08 23:15] Anthony-Alridge commented on #2039
Just to clarify this is the information I'm looking for.
     <exploration-summary-tile exploration-id=""
                              exploration-title="explorationTitleService.displayed"
                              last-updated-msec=""
                              objective="explorationObjectiveService.displayed"
                              category="explorationCategoryService.displayed"

[2017-02-08 23:17] seanlip commented on #2039
Ah, I see. I don't think last updated and ratings are relevant for this
view, though. Could we modify the directive template to handle this case
appropriately (I.e. when they are not passed in)?

On Wednesday, February 8, 2017, Anthony-Alridge <notifications@github.com>
wrote:

[2017-02-09 02:02] ankitjain28may commented on #2936
Ok sure

[2017-02-09 04:39] himanshu-dixit commented on #3037
@seanlip probably not a big issue but can be worth as initial easy starter project.
<img width="113" alt="untitled" src="https://cloud.githubusercontent.com/assets/6849438/22769602/bc53503c-eeaf-11e6-9f50-5dfc18a20611.png">

[2017-02-09 10:59] SudhanvaMG commented on #3015
@andromfins What i thought was , as all the questions will be unfinished in the start , we can change the default color of questions to red and then when the question is finished we can call a method which changes the color to green .

[2017-02-09 11:01] seanlip commented on #3015
@SudhanvaMG did you see the mocks?

Also, note that it is not a great UI practice to start with everything in "error" mode.

[2017-02-09 11:02] SudhanvaMG commented on #3015
@seanlip Yes i saw the mocks .
Not everything will start in "error " mode , only the questions will be in red .
This was just a thought.

[2017-02-09 11:03] SudhanvaMG commented on #3015
Will look something like this . @seanlip  @andromfins
![screenshot from 2017-02-09 16-32-52](https://cloud.githubusercontent.com/assets/17882387/22780651/703ee900-eee5-11e6-981f-bfabeb13a0d7.png)

[2017-02-09 11:04] seanlip commented on #3015
Thanks for the mock!

But yep -- definitely don't do this. Red means error. Only show the error when the user is trying to publish, or has at least had a chance to edit. Don't show it at the very start before they've even had a chance to do anything; that's pretty unfriendly.

[2017-02-09 11:07] SudhanvaMG commented on #3015
@seanlip Ok .
The thing is , the user cannot skip one questions and jump to another . The next question option comes only when the user has finished the previous question . So at which state can i call a question unfinished ?

[2017-02-09 11:11] SudhanvaMG commented on #3015
What if , by default the questions are green and when user starts to edit it goes to yellow (unfinished ) and only when the user tries to publish a unfinished question the "error" pops up ?

[2017-02-09 11:13] seanlip commented on #3015
Seriously ... please _look at the mocks_. A lot of design work has already gone into them and I recommend following them as closely as possible.

In the sequence shown in the mocks, a check for errors happens when the user clicks "Publish" and the errors only appear after that. This is what should happen.

[2017-02-09 11:14] SudhanvaMG commented on #3015
@seanlip Yes i got it . Sorry for the trouble !

[2017-02-09 18:17] aditodkar commented on #3037
Hi, I am new to oppia and would like to work on this can you tell me how to get started.

[2017-02-09 19:55] #2768 closed

[2017-02-09 23:45] #2940 closed

[2017-02-09 23:48] jaredsilver opened #3043 "Fix flashing behavior on library page objective popovers"
Popovers were incorporated into the library page in PR #3038 when hovering over objective text for an exploration or collection.

Sometimes, an unexpected flashing behavior occurs [as shown in this video](https://cl.ly/ivQM).

Determine what is causing this strange behavior, and address it so that the popovers will always display as expected.

[2017-02-10 10:41] ankitjain28may opened #3044 "I am getting an error in setting this at my local.. Please check it out.."
![image](https://cloud.githubusercontent.com/assets/14014254/22823856/8f2d8b34-efab-11e6-841a-f10f243e1196.png)

[2017-02-10 10:57] souravbadami commented on #3044
@ankitjain28may -- Could you try installing `python-dev` ? Try this: `sudo apt-get install python-dev`. Then run `start.sh` again.

[2017-02-10 10:57] himanshu-dixit commented on #3044
Try this, `apt-get install python-dev`. Also closing this issue, if you encounter this issue again feel free to ask on gitter channel.

[2017-02-10 10:57] #3044 closed

[2017-02-10 11:11] ankitjain28may commented on #3044
Thanks for that but i am getting another error in gulp..
![image](https://cloud.githubusercontent.com/assets/14014254/22824826/d0eb45ee-efaf-11e6-90f7-a21e908b0762.png)

[2017-02-10 11:16] himanshu-dixit commented on #3044
@ankitjain, Oppia has trouble running in windows thru vagrant.Can you try either using VM or by installing Linux in your machine ?

[2017-02-10 14:37] ankitjain28may commented on #3044
I need to install bower and npm dependencies one by one to make it working as well as need to set its path

[2017-02-10 14:39] ankitjain28may commented on #3044
And if you are using vagrant, why should i need to install dependencies in this.. it must work as it should be as I am using linux in my system through vagrant..!

[2017-02-10 19:13] anmolshkl opened #3045 "Write end-to-end test for answer classification back-end."
We need to write an end-to-end backend test which -
1. Loads a demo exploration with training data.
2. Generates a classifier model using the training data.
3. Calls the ClassifyHandler with a learner's answer and returns the appropriate response.

[2017-02-10 19:22] anmolshkl opened #3046 "Write one-off job to generate classifier models for existing explorations."
Write one-off job to generate classifier models and populate the classifier_model_id field for all the states in the existing explorations. The model for a state should be generated only if it has training examples more than a certain threshold.

We have set this threshold as 5 answers per outcome (which is yet to be finalized).

Note: This issue depends on issue #2725.

[2017-02-10 21:38] DubeySandeep commented on #1858
For production: concat. + minification + sourcemap
whereas in development: concat. + sourcemap
will this be okay?

[2017-02-10 21:56] seanlip commented on #3044
We have problems with our Vagrant installation (that I don't know how to fix, because I don't use it). If you have a way to improve the existing scripts, please go ahead and feel free to submit a PR!

In this case, though -- I wonder if your internet connection is downloading files incompletely? Might be worth checking whether that file actually exists in the location specified.

[2017-02-10 21:56] seanlip commented on #1858
That's fine, although sourcemaps are probably not needed for development since the code there isn't minified.

[2017-02-10 23:04] BenHenning opened #3047 "Migrate CollectionModel.nodes to CollectionModel.collection_dict"
The recent questions work needs to extend the collection schema to include more than just collection nodes. Originally, ``CollectionModel`` only stored a list of nodes, similar to the states of an exploration. It was originally assumed that all changes to a collection would be done within ``CollectionNode``s, but that assumption is no longer true. Fortunately the schema version for collections is

[2017-02-10 23:05] BenHenning commented on #3047
/cc @seanlip @wxyxinyu @tjiang11

[2017-02-11 00:02] Anthony-Alridge commented on #2039
Ah that makes things easier @seanlip, yh I can look into that, at the moment it works without the values but displays unhelpful information (below). Is this undesirable from a user perspective, if so then I'll see about modifying the directive so that it doesn't display the information.  Also, overall the modal is working fine but I'm having trouble with getting the background image url  and colou

[2017-02-11 00:05] seanlip commented on #2039
Yep, it is undesirable to have NaN, I think. So I would recommend modifying it appropriately -- or actually, maybe a better way is to replace the text with a long dash or grey it out or something, so that the basic layout is still preserved, just with placeholders for the values.

Not sure offhand re background colour -- I think you'll need to dig to see where the library page gets it from. I _thi

[2017-02-11 04:50] ankitjain28may commented on #3044
As you have put the `third_party` folder in the gitignore so i need to download all the dependencies and when i am running all the scripts it wont download the npm and bower dependencies as being required by the project..

Your directory structure for the dependencies are also random as i need to install them one by one and move those files to the required directory according to your destination p

[2017-02-11 05:33] seanlip commented on #3044
As I mentioned, if you have a fix, please feel free to submit a PR.

[2017-02-11 09:10] ankitjain28may commented on #3044
Ok

[2017-02-11 13:44] pratik4 commented on #2965
Hello @jaredsilver, please correct me if I'm  wrong.
To implement the feature,
1)define a function in email_manager.py, that sends a reminder email to the learner (say ,after 10 days), reminding about his  unfinished exploration in the collection. and providing the link for the next exploration in the email.
2) also set the variable that set the time-pass, after which email should be sent, in feco

[2017-02-11 15:44] jaredsilver commented on #2965
Hi @pratik4 -- thanks for your interest in tackling this issue!

I'm going to defer your questions to @prasanna08 who has a much better handle on the technical details of this.

[2017-02-12 07:42] pratik4 commented on #2965
@prasanna08 , can you please help me, regarding the testing of functionality of emails.

[2017-02-12 08:30] prasanna08 commented on #2965
Hi @pratik4 this is somewhat tricky issue. Here the most tricky part of issue is how to delay the sending of email. That is initiate a process that will wait for given countdown and once countdown is completed it initiates another process which will send email. All other part of this issue are easier (what you suggested is this other part). So this issue is somewhat difficult to handle especially

[2017-02-12 09:01] prasanna08 commented on #2965
Hi @pratik4 I recommend you take a look at #2033 which works on both backend and frontend part of Oppia. Also check #2986 if you are interested in back end part only.

[2017-02-12 09:16] pratik4 commented on #2965
Thanks @prasanna08 for your help and suggestions.

[2017-02-12 09:58] prasanna08 commented on #2965
@pratik4 #2986 is already assigned so you might wanna gonna with the other issue I mentioned. I apologies for this. I didn't realise that it was already assigned.

[2017-02-12 10:04] pratik4 commented on #2965
@prasanna08, i guess #2033 also needs a design doc, on how to implement the feature.

[2017-02-12 10:09] prasanna08 commented on #2033
Hi @pratik4 this issue needs design (UI) to be discussed before implementation and not design doc. Here you have to decide how collections are going to look om profile page of user and not how this feature is to be implemented. Implementation is simple. The only thing you need to do is come up with rough mocks of how this is going to look in frontend. Do you think you can do this ?

[2017-02-12 10:12] pratik4 commented on #2033
Yes, I guess I can do this

[2017-02-12 10:15] prasanna08 commented on #2033
Sounds good. I will assign this issue to you.

If you have any question ask me, I will try my best to answer. You can also ask @kevinlee12 who is owner of the issue (owner is person who has good handle on issue related parts of codebase).

[2017-02-12 10:19] pratik4 commented on #2033
Thanks @prasanna08  for your help.

[2017-02-12 16:10] thedeveloperr commented on #2966
@jaredsilver But while working on it there is a case where user once creates an exploration but then deletes it so that it has no exploration. How should it be treated ? Shall the user be redirected to library or dashboard?

[2017-02-12 16:12] jaredsilver commented on #2966
@thedeveloperr -- great question! I responded to your comment in the PR.

[2017-02-12 22:48] tjiang11 opened #3051 "ImageClickInput: Allow image regions to be resized by clicking and dragging"
Currently, the image regions in the ImageClickInput cannot have their sizes edited. It would be nice to be able to update an image region's size by clicking/dragging by either the edges or corners or both rather than having to delete the region and make a new one.

Originally part of #531

[2017-02-12 22:59] tjiang11 opened #3052 "ImageClickInput: Allow learners to respond with a set/sequence of points"
Currently, learners can only respond with one point in an ImageClickInput, it would be nice to allow learners to respond with a set of points ("Pick all the fruits") and a sequence of points ("Pick the items in order of density"). This could be done as an entirely new widget or integrated with the existing ImageClickInput interaction.

Originally part of #531

[2017-02-12 23:03] tjiang11 commented on #531
Separated Intermediate change #2 and Major change #1 into issues #3051 and #3052 . Ignoring the other changes as I think they're not as important or addressed in other issues.

[2017-02-12 23:03] #531 closed

[2017-02-13 06:59] seanlip commented on #3047
Passing to @wxyxinyu's team.

[2017-02-13 07:00] seanlip commented on #2997
@wxyxinyu -- I know we have a CollectionSkill domain object, but do we still have a CollectionSkill model?

[2017-02-13 11:35] pratik4 commented on #2965
Hello @prasanna08 , are there any mock available for profile.html so that I can modify.
Or I have to make my own.
Sorry for asking such silly questions.
But as Im new to the Oppia Organization, thought of asking.

[2017-02-13 11:44] prasanna08 commented on #2965
Hi @pratik4 I haven't actually worked on frontend part of Oppia, so I don't really know if such mocks are available or not. Why don't you ask @kevinlee12 for this. He will be able to guide you on this.

Also please try to keep conversation related to issue in that particular thread. So in future if you need any help, post a message on #2033. This helps to keep track of progress.

Thanks

[2017-02-13 11:49] pratik4 commented on #2965
I apologize for that @prasanna08 , this won't be again.

[2017-02-13 11:51] pratik4 commented on #2033
Hello @kevinlee12  , are there any mock available for profile.html so that I can modify.
Or I have to make my own.
Sorry for asking such silly questions.
But as Im new to the Oppia Organization, thought of asking.

[2017-02-13 12:06] 1995YogeshSharma commented on #3037
hey, I was looking for a starter issue and saw this. But, I am unable to regenerate the issue. On my local machine height is 34px for both buttons

[2017-02-13 15:37] 1995YogeshSharma commented on #2964
hey, I am working on this issue.

[2017-02-13 16:49] kevintab95 commented on #3031
@seanlip @markhalpin

![spectacle z11015](https://cloud.githubusercontent.com/assets/11008603/22892891/144138a8-f23a-11e6-85e3-035414a0d21f.png)

Note: Paw prints are white as discussed via e-mail. Also, some changes including the re-positioning of panels and addition of text under the preview was done to match the original mocks more closely.

[2017-02-13 16:52] markhalpin commented on #3031
LGTM!

[2017-02-13 18:21] 1995YogeshSharma commented on #2964
I have made a pull request for this issue. Please review it when you have time.
1. Removed the icon.
2. Added a dialogue box which triggers onclick of the Reset Code button to verify if user wants to reset the code or not.
3. Saved the code in $scope.trackResetCode variable. A Undo Reset button is shown next to Reset button when the user resets code. So, user can use the undo reset button to go to

[2017-02-13 19:45] himanshu-dixit commented on #3037
Yogesh, can you attach the screenshot at different screen sizes? 

On Mon, Feb 13, 2017 at 5:36 PM +0530, "Yogesh Sharma" <notifications@github.com> wrote:

hey, I was looking for a starter issue and saw this. But, I am unable to regenerate the issue. On my local machine height is 34px for both buttons

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2017-02-13 20:23] kevinlee12 commented on #1977
@seanlip, I found this other CSS linting tool --- [Stylelint](https://stylelint.io/) and apparently it can lint CSS within `<style>` tags with a processor like https://github.com/ccbikai/stylelint-processor-html. Do you think it might be better with this instead of CSSLint? thanks!

[2017-02-13 22:58] Anthony-Alridge commented on #2039
Hi @seanlip, that helped a lot thanks. I got a chance to work on it today and everything seems to be working fine.  Here's what it looks like with the grayed out text, is this okay? Also, I found the constant you mentioned in the feconf.py file (it was only needed in the back-end up till now), I've added it to the global constants, is that alright?
![oppia-summary-tile](https://cloud.githubusercon

[2017-02-13 23:16] seanlip commented on #1977
Hm, for this sort of thing, I think the proof is in the pudding. As long as a tool like this works and does what we need it to, chances are that it's probably fine.

[2017-02-13 23:49] seanlip commented on #2039
Thanks, @Anthony-Alridge! Looping in @jaredsilver and @jblair87 for UI feedback.

Re the constant, let's take a look at it during PR review. Can you send in a PR and assign it to me for review?

Thanks!

[2017-02-13 23:58] kevinlee12 commented on #1977
sgtm!

[2017-02-14 01:13] jblair87 commented on #2039
@Anthony-Alridge I like this as it gives the user more perspective if their title/objective is too long. will the objective popover work in the preview? I am also not sure if the "preview summary" button should be green, or the only button in that area. Green indicates "go", " complete".  Maybe there should be a save summary button next to the preview summary button
@seanlip @jaredsilver

[2017-02-14 04:34] wxyxinyu commented on #3047
@BenHenning hi

[2017-02-14 07:15] Oishikatta opened #3056 "Remove .nav and related classes from areas other than the navbar."
Rather than repurpose the .nav classes, other areas should have their own classes.

The behavior should be replicated to a reasonable extent, most likely by creating and applying additional CSS classes for the elements that need them.

The only area I'm currently aware of that this affects is answer groups in the exploration editor, see [here](https://github.com/oppia/oppia/pull/3048/files) for fi

[2017-02-14 10:54] 1995YogeshSharma commented on #3037
In the exploration editor in start
![image](https://cloud.githubusercontent.com/assets/9693472/22926097/3fd480c8-f2d1-11e6-98b3-3791a7e09949.png)

after making some changes
![image](https://cloud.githubusercontent.com/assets/9693472/22926133/618f4ebe-f2d1-11e6-8256-f747d1d1a149.png)

at a smaller screen size
![image](https://cloud.githubusercontent.com/assets/9693472/22926241/d2957e12-f2d1-11e6-9e

[2017-02-14 11:09] himanshu-dixit commented on #3037
@1995YogeshSharma i did actually check it thru computed style, can you try to zoom in/out and check. The height of dropdown seems to be around 33.4 px for certain screen sizes.

[2017-02-14 14:45] jaredsilver commented on #2039
To add to @jblair87's comment: what do we think of having two buttons here -- one would be a secondary button like the current "Close" button, but instead it would say _Return to Editor_, and the other would be a primary button to its right that says _Publish_ and would queue up the publish modal?

[2017-02-14 15:03] 1995YogeshSharma commented on #3037
ok, now I see. There is a sub-pixel difference if I do <=  80% zoom and zoom in seems to have no effect.

[2017-02-14 15:05] himanshu-dixit commented on #3037
Maybe you can try to vary screen width to check result at different sizes,
in most cases I noticed subpixel difference.
On Tue, 14 Feb 2017 at 8:33 PM, Yogesh Sharma <notifications@github.com>
wrote:

--

Himanshu Dixit

[2017-02-15 01:38] seanlip commented on #2039
Couple of points:
- At the moment, we don't have "save" buttons for the input fields in the Settings tab. If we wanted to add that, it would need to be in a separate issue/PR. I'm inclined to leave it as is for now; @jblair87 do you feel strongly about it?
- @Anthony-Alridge -- see #3038 and the associated issue for context on @jblair87's comments about the popover.

Also, @jaredsilver -- I like "

[2017-02-15 03:40] jaredsilver commented on #2039
Ah, I see. I know that when I make test explorations, I usually follow the flow of:

1) Build the exploration.
2) Save draft.
3) Hit publish (causing the settings menu to pop up)
4) Fill out and publish.

However, given that the settings menu can also be found by clicking the settings icon or clicking on "Untitled Exploration," and given that I don't know whether teachers follow the same flow as I

[2017-02-15 07:20] ubhisat commented on #2429
I could not find a way to compress `css` with closure compiler. If that's the case we need to minify css with YUI and `js` with closure-compiler?
cc: @seanlip

[2017-02-15 07:44] seanlip commented on #2429
Good question. Let's just focus on JS for now then -- can you reply to this thread once you've confirmed that there's actually a size difference? (If it turns out that YUI is actually better, than the question you asked is moot.)

If it is indeed the case that Closure is better then yeah, maybe we go with a hybrid solution. But we have way more JS than CSS so I am also not that bothered about pote

[2017-02-15 07:48] seanlip opened #3062 "In Firefox, right-clicking to open-in-new-tab does not behave correctly in the collection learner view."
To reproduce:
1. Go to /admin and load the demo collection.
2. Using Firefox, go to the learner view for that collection, and right-click on any of the collection lesson icons.

The context menu that shows up does not show the option to open the link in a new tab/window (see screenshot below):

![collection_viewer](https://cloud.githubusercontent.com/assets/10575562/22964910/cfcead46-f30f-11e6-8ed

[2017-02-15 08:23] seanlip opened #3063 "Change the "discard draft" confirm dialog into a modal."
To reproduce:
1. Create a new exploration.
2. Add some content.
3. Click the dropdown next to the "Save Draft" button, and click "Discard Draft".

A JavaScript confirmation dialog appears:

![discard-draft](https://cloud.githubusercontent.com/assets/10575562/22965931/c70df720-f314-11e6-8a98-2cee943f5c48.png)

This does not match the other dialog boxes on the site, which are implemented as Bootstra

[2017-02-15 08:28] seanlip opened #3064 "Pull directive-specific CSS into the corresponding directives."
We currently have a large oppia.css file that contains a bunch of CSS for a whole bunch of components scattered throughout the site. This is not great because this file is loaded on every page load, and a whole bunch of irrelevant CSS is loaded with it.

Instead, CSS that's specific to a directive/component should be moved out into that component, following a pattern similar to this:
https://githu

[2017-02-15 08:29] kevintab95 opened #3065 "Bug fixes to new Collection learner view"
Bugs to be fixed:

- Add Shimmer / Glow effect for the next lesson to be played in the collection.
- List view for small screens -- replace path with a simple list containing the exploration name and objective (see #2780 )
- Make collection learner view responsive for larger screens.
- Remove shadow for preview card to avoid 'double' shadow.

Note: This issue is for a hotfix to the currently deplo

[2017-02-15 08:32] #3031 closed

[2017-02-15 08:42] seanlip opened #3066 "Find a way to show the full objective for a lesson in a collection."
In the collection learner view, the description in the preview summary tile is cut off (at around 40 characters, as usual). However, the preview summary tile only shows its content when another part of the page is hovered over, so the tooltip/popover that is implemented by @jblair87 in #3038 cannot be triggered here. We need a way to show the full descriptions when the learner mouses over the main

[2017-02-15 10:09] 1995YogeshSharma commented on #3063
@seanlip ... I have done corresponding changes for showing a modal instance for #3055 .So, once that's fine with everyone, I can do the changes for this.

[2017-02-15 10:12] seanlip commented on #3063
Thanks @1995YogeshSharma -- that sounds good. If you like, you can also go ahead and start a fix for this now, on a different branch, so you can get reviews of both in parallel! (I think you've gotten a sense for how to work with $modal.)

[2017-02-15 11:03] Anthony-Alridge commented on #2039
@jblair87 yes the objective popover works as normal (it uses the existing exploration summary tile directive so in general shares most of it's behavior with existing summary tiles ). Also, I've added the return to editor rather than close button in response to @jaredsilver comment.

[2017-02-15 11:15] 1995YogeshSharma commented on #3063
okay ... i have done the changes and made pull request for this also.

[2017-02-15 11:22] 1995YogeshSharma commented on #3064
@seanlip ... Do we want to create a script that can move the corresponding code to each directive and finally remove them from oppia.css ?

[2017-02-15 19:02] seanlip commented on #3064
I think it might be better to at least start by doing it manually for a
small number of directives. Some tasks would start recurring (such as
checking to see if the moved CSS rules do not appear anywhere else) and for
these tasks we could write scripts or at least add the bash commands to
this issue.

On Wednesday, February 15, 2017, Yogesh Sharma <notifications@github.com>
wrote:

[2017-02-15 19:56] kevinlee12 commented on #2620
In light of the hotfix in #3067, this issue is being reopened.

[2017-02-15 20:03] kevinlee12 commented on #2620
Note to developers: Please do not set the height attribute in the dashboard exploration card to `inherit` (see the [Inheritance W3 doc](https://www.w3.org/wiki/Inheritance_and_cascade).

[2017-02-15 20:12] kevinlee12 commented on #2033
Hi @pratik4, I don't think a mock exists for this issue, so feel free to create a mock and share it here so we can provide feedback. thanks!

[2017-02-16 04:35] markhalpin commented on #3066
Hmm, I see what you mean. Let me give this a little thought. As a first notion (this may be getting needlessly complicated, but) could the tooltip/popover be implemented if the summary tile persisted after the triggering mouseover? My guess is that isn't feasible, but is it?

[2017-02-16 05:05] anthkris commented on #3026
This seems to have been fixed! In testing out my latest focus changes, this is no longer occurring.

[2017-02-16 05:05] #3026 closed

[2017-02-16 05:15] seanlip commented on #3066
No, I don't think so -- on-hover actions should be transient in the Web, so it would break a lot of users' mental models.

That said, what you wrote gave me an idea. Perhaps we could have popovers/tooltips on the nodes in the path?

[2017-02-16 08:38] 1995YogeshSharma commented on #3017
Can I get the access for the mocks ?. I have sent request

[2017-02-16 08:46] seanlip commented on #3017
You should have access to them now.

[2017-02-16 09:13] seanlip opened #3073 "Feedback emails should include a direct link to the exploration feedback tab."
I recently got this email from Oppia (which was nice :smile: ):

---

![email](https://cloud.githubusercontent.com/assets/10575562/23014600/7d3e7054-f3e4-11e6-94f8-1e0dfafeea13.png)

---

However, I haven't acted on it yet. This is because it's cognitively rather burdensome to click to the dashboard, find the exploration in the list, click to the exploration, click to the feedback tab, and _finall

[2017-02-16 09:15] seanlip commented on #2915
Hi @TJHomer! Any progress on this?

[2017-02-16 09:16] seanlip commented on #2845
Hi @kaggis -- ping?

[2017-02-16 09:17] seanlip commented on #2725
This was fixed in #2961. Thanks, @Andimeo!

[2017-02-16 09:17] #2725 closed

[2017-02-16 10:11] seanlip opened #3074 "Provide a warning to the exploration creator when the height of the "content" part of a card exceeds (approximately) 630px."
From user interviews, we've found that long cards feel a bit burdensome to read, and that this can turn students off. This feeling seems to occur before the learner has actually read the card, so it's likely due to the visual height of the card being too large.

In order to encourage people to create lessons that students would play through to the end, we would like to show a notification/warning

[2017-02-16 10:22] markhalpin commented on #3066
Yep, that makes sense (on he transience).

I think I'd be disinclined to have popovers appear on the nodes of the path. Firstly, there's already something going on with them on mouseover (the highlight ring). Secondly, there's already something happening elsewhere on the page on mousing over the node (the card info). So I think that might be getting a little busy-feeling.

Rather, how about having

[2017-02-16 10:32] seanlip commented on #3066
Hm, it's possible. But I think it feels a little weird to have the card have no popover by default everywhere but this page -- and for the default behavior to be different only on this page. So I'm not sure.

/cc @jblair87 -- what do you think?

[2017-02-16 10:35] seanlip opened #3075 "Encourage creators to have the first card be an overview of the exploration."
From user tests, we've noticed that users are surprised when an exploration jumps straight into the content without a brief overview. We would like to encourage creators to include, in the first card of every exploration, a brief overview that:

- gives the student a holistic sense of what the exploration is about (e.g. equivalent fractions)
- gives the student an idea of the content that the expl

[2017-02-16 10:35] markhalpin commented on #3066
Well, by definition the behavior on this page is going to be different, since the card itself behaves differently. Having the popover appear by mousing over remote icon rather than the card itself is also different. I'm proposing that we minimize that by going with something as simple as possible.

[2017-02-16 13:21] kaggis commented on #2845
Hi @seanlip due to strict time schedule, progress has been disrupted.
I'm still insterested in completing it but I won't be able to pick it up until the end of next week

[2017-02-16 22:20] TJHomer commented on #2915
Yes I've been looking at this the past few days, but then I tried to recreate it on the husband's phone and  it looked fine.  Did something change?

[2017-02-16 22:39] seanlip commented on #2915
Ah, I'll have to defer to @jaredsilver @himanshu-dixit @Oishikatta: could one of you please double-check?

Thanks!

[2017-02-16 23:06] seanlip commented on #2845
OK, no problem! I'll deassign you for now, then; we can pick it up again later when you become free. Thanks!

[2017-02-16 23:31] seanlip commented on #3066
Hm. Would you mind doing a mock of that, please (with mouse cursor and all)? To be honest, it's a little hard for me to get a feel for this in my head, and I think it would be good to get other folks' thoughts on this too.

[2017-02-16 23:58] markhalpin commented on #3066
I hate to open this can of worms, but would it be a much simpler fix to all of this to make the exploration cards a little taller so we could fit, say, three lines of text (or perhaps four) in the white area and insist that writers limit themselves to that? Most of the popovers currently in the library max out at three lines. For one thing, it feels a little silly to have card text saying "Learn t

[2017-02-17 00:10] rachelwchen opened #3076 "Answer choices not showing up for Quadratic Equations"
Hi! I was playing with the Quadratic Equations exploration (the very first one in the collection) when I noticed some answer choices aren't showing up. The screenshot below is the very first "Introduction" card. Not sure if this was just a slip or a bug about showing functions:

https://www.oppia.org/explore/UOAg17yUIU6U

<img width="609" alt="screen shot 2017-02-16 at 4 05 07 pm" src="https://clo

[2017-02-17 00:13] seanlip commented on #3066
I'm not against. We'd just need a spec for what the height should be, and ideally a mock to make sure it's visually balanced etc. I agree with you that this seems like a sensible solution, if we can make it work.

@jaredsilver @jblair87 @kevinlee12 thoughts? I know we discussed character limits on objectives before.

[2017-02-17 01:35] jaredsilver commented on #3073
It might be nice to have an HTML email template at some point in the future, but for now I can think of a couple improvements:

- [ ] Consider linking the exploration names themselves to the relevant feedback pages to address Sean's point, as well as to help the reader more easily distinguish between the name and the feedback.
- [ ] If multiple messages exist for the same exploration, display them

[2017-02-17 01:37] seanlip commented on #3073
Those are great suggestions. Thanks a lot, @jaredsilver!

[2017-02-17 01:45] jaredsilver commented on #2915
This issue is still occurring for me, and upon closer inspection it seems it may be related to the browser interface. What may be happening is the bottom browser bar is disappearing, and the navigation bar does not expand to fill that space.

See this blog post from EventBrite's engineering team for more context on how the bottom browser bar behaves (at least on iOS): https://www.eventbrite.com/en

[2017-02-17 03:26] #2989 closed

[2017-02-17 03:26] seanlip commented on #2989
Fixed in #3005. Thank you, @rajan-garg!

[2017-02-17 03:48] BenHenning commented on #3076
Hi @rachelwchen, are you able to consistently reproduce this? This seems really bad; a quick investigation showed that this exploration was somehow published with an error.

[2017-02-17 03:51] BenHenning commented on #3065
Hi @kevintab95, couple of things:

1. Can you file separate issues for each of these? They seem like three distinct projects
2. Can you go into a bit more detail on what each one means? In particular, it would be helpful if we had some sort of clear criteria to know whether we addressed these points. At the moment, I'm not sure what a 'shimmer' or a 'glow' means, or whether we have it after implem

[2017-02-17 03:51] BenHenning commented on #2990
Hi @Oishikatta, how's this going?

[2017-02-17 03:52] BenHenning commented on #2985
Hi @kevintab95, how's this going?

[2017-02-17 03:54] BenHenning commented on #1071
Removing @maitbayev since there haven't been any updates for a while. Please reassign the issue if you're still working on it.

[2017-02-17 03:57] anthkris commented on #3075
I'm thinking about the Lazy Magician, which essentially drops the user into a story _in media res_, which is a wonderful way to engage a learner's (or reader's) curiosity and motivate them to continue, though it still does give you a sense of the mystery to be solved (the topic of the exploration). So, I guess I'm hesitant to nudge people into a pattern where the first card is always "In this expl

[2017-02-17 03:58] seanlip commented on #3075
That's a great question, @anthkris. Thanks!

@rachelwchen, any thoughts?

[2017-02-17 04:43] rachelwchen commented on #3076
@benhenning hm, I just checked it on mobile, same results as well
(screenshot attached)

Did you mean the error came from the creator?

On Thu, Feb 16, 2017 at 7:48 PM Ben Henning <notifications@github.com>
wrote:

--
Rachel Chen Sent from mobile.

[2017-02-17 05:06] Oishikatta commented on #2990
I'm working on this in PR #3039

Should be ready soon.

[2017-02-17 05:09] jblair87 commented on #3076
@BenHenning @rachelwchen the error must have come from the creator as other collections and other multiple choice explorations do not have this issue. @seanlip any ideas?

[2017-02-17 05:15] jblair87 commented on #3066
@seanlip @jaredsilver @kevinlee12 @markhalpin In the collection view, what if the user clicked on the icon to preview the exploration (rather than hover) and had to click on the exploration to view it (thus having the opportunity to read all of the information)

[2017-02-17 05:30] seanlip commented on #3076
I think this is related to an issue @AllanYangZhou triaged, actually -- I'm pretty sure I've seen those graphs before. I'm looking at previous versions to see if we can restore.

[2017-02-17 05:37] rachelwchen commented on #3075
Thanks for bringing it up, @anthkris! I agree -- curiosity does factor in. From user testing, two users mentioned they liked how some explorations begin with a hook. (ex: how do you do this? Click continue to learn more!)

I still find it important to provide clear expectations, though. One user said that "knowing whether an exploration offers what he wants to learn" really helped him decide wheth

[2017-02-17 05:45] rachelwchen commented on #3075
Also, re: "In the user testing, did the surprise lead to frustration, or was it just surprise? Because that can be a useful motivational factor sometimes." @anthkris

I would say it was just surprise. The same user (who wanted to know exactly what each exploration has to offer, as mentioned above) -- was surprised by the absence of an overview, but quickly said "oh, let me click on the info icon t

[2017-02-17 05:46] seanlip commented on #3076
Figured it out!

I believe the original creator of the exploration pasted in the images via raw `<img>` tags, instead of using Oppia's built-in image creator. We started stripping the HTML snippets so that we don't serve bad tags in the rich-text editor. Yesterday, I updated the category of the exploration from "Maths" to "Algebra" and, as part of the new validation process, the existing images we

[2017-02-17 05:50] seanlip commented on #3076
This should now be fixed. PTAL and verify, and if it works, please feel free to close the issue.

@rachelwchen, thank you very much for reporting this!

[2017-02-17 05:52] rachelwchen commented on #3076
It's showing up correctly now!

On Thu, Feb 16, 2017 at 9:50 PM, Sean Lip <notifications@github.com> wrote:

--
Rachel Chen

[2017-02-17 05:53] rachelwchen commented on #3076
It's showing up correctly now! :)

[2017-02-17 05:53] #3076 closed

[2017-02-17 05:54] seanlip commented on #3075
That ... is the first time I've heard of someone clicking the info icon. :-) Most people seem to miss it.

I think the concern I'd have is this: what do you do if the creator neither specifies a clear goal on the first card, nor drops the user into a story -- and doesn't even consider it as an idea?

(I also fixed the Fractions exploration objective, btw. The new one is much better, thanks @rachel

[2017-02-17 05:59] seanlip commented on #3066
I'm not against this either, but I wonder whether it would be clear to the user that they'd need to subsequently click on the exploration. It's far enough away that it's easy to miss.

That said, @kevintab95 -- on mobile, it actually does work roughly as @jblair87 describes, right? I think that scenario is fine because the device is narrow and everything is kind of "just there".

[2017-02-17 07:37] rachelwchen commented on #3075
That is true :P only one person clicked on that info icon. All but one
users from these past few weeks seemed to immediately focus on the content
card itself.

Re. your concern, that sounds like the issue we have with improving
ambiguous phrasing -- it's hard to reinforce it. To be honest, I'm not
sure... would something like "we encourage you to use this space to specify
a clear learning goal! Cr

[2017-02-17 07:54] #2990 closed

[2017-02-17 07:56] 1995YogeshSharma commented on #3064
@seanlip .... I have made a script that takes in the name of directive and outputs all the oppia classes that are present in  that directive.
How can I show it to you so that you can review it and specify what changes are required to make it more helpful for people going to do this task ?

[2017-02-17 08:01] seanlip commented on #3064
Thanks for the initiative!

You could send a PR, add comments explaining what you would like the reviewer to look at, and assign the PR to @BenHenning to review.

[2017-02-17 08:01] seanlip commented on #3064
(If you don't want the PR to be merged, write NOT FOR MERGE clearly in the title of the PR.)

[2017-02-17 08:10] 1995YogeshSharma commented on #3064
ok. I'll do that.

[2017-02-17 08:13] Oishikatta commented on #2915
I'm not sure I understand exactly what this issue is about.

I had thought it was about the empty space below the sidebar, as in this screen:

![](https://i.imgur.com/nDEIXVT.png)

For that, it should be able to be fixed in Chrome after version 56 by switching from height: 100% to height: 100vh. ([Article](https://developers.google.com/web/updates/2016/12/url-bar-resizing), [Test Page](https://bok

[2017-02-17 09:54] kevintab95 commented on #3065
Hi @BenHenning -- This issue is for a hotfix to the currently live version and should be fixed by this weekend. I've listed all the bugs here since I'm planning on fixing all the bugs with a single PR. But, I'll elaborate on the bugs/tasks here.

[2017-02-17 13:07] 1995YogeshSharma commented on #3074
- Do we just want to prompt the creator with above info once or keep forcing to prompt if he still wants a bigger card.
- In case we just want to prompt him, I think showing a simple modal to him with the info is fine.

[2017-02-17 15:16] utkarsh-dixit commented on #3014
@seanlip I would like to contribute to this issue. Can you assign it to me, please ?

[2017-02-17 17:03] 1995YogeshSharma commented on #3074
- Do we just want to prompt the creator with above info once or keep forcing to prompt if he still wants a bigger card.
- In case we just want to prompt him, I think showing a simple modal to him with the info is fine.

[2017-02-17 18:08] TJHomer commented on #2915
![oppia-iphone](https://cloud.githubusercontent.com/assets/22036549/23077313/0bef77fc-f512-11e6-851a-c876a1f659d0.gif)
This is what is happening for me

[2017-02-17 19:31] markhalpin commented on #3066
Is this two separate issues? Modifying the behavior in the collection
player doesn't resolve the issue with the popovers in the Library (which
are fine, except as noted above), which would still benefit from the
simplicity of static, readable text I think. I'll send out a mock of one
later today.

On Fri, Feb 17, 2017 at 12:59 AM, Sean Lip <notifications@github.com> wrote:

[2017-02-17 21:55] seanlip commented on #3074
No, this should appear ambiently somehow I think, perhaps as a light red warning below the RTE. It shouldn't block normal operation.

@rachelwchen any thoughts?

[2017-02-18 00:36] markhalpin commented on #3066
hi all. I've prepared a mock showing how objectives could look if static on a slightly taller card:

![cards_with_explanations](https://cloud.githubusercontent.com/assets/13863393/23088014/aed7c2ba-f546-11e6-941d-d5ad741628df.jpg)

Cards 1 and 2 are existing cards currently in the Library. Cards such as 1, which have full objective text only one or two lines long, could comfortable house their tex

[2017-02-18 01:11] seanlip commented on #3066
I like it! Thanks @markhalpin :)

@jblair87 @jaredsilver @rachelwchen @kevinlee12 -- any thoughts?

[2017-02-18 01:41] rachelwchen commented on #3066
I like it! I agree that 5 does look a little bottom-heavy. 6 looks great.

[2017-02-18 14:43] utkarsh-dixit commented on #3014
@andromfins I have sent a request to access for the mocks. Can you approve it so that i can start working on this issue ?

[2017-02-18 14:50] wxyxinyu commented on #3014
@utkarsh-dixit it's strange you can't access it. Are you on the oppia-dev mailing list? It should be shared with people on the list.

[2017-02-18 15:00] utkarsh-dixit commented on #3014
@wxyxinyu I didn't knew that i should be on oppia-dev mailing list to access that. I can access the file now. Thanks!

[2017-02-18 16:58] jblair87 commented on #3066
@jaredsilver @rachelwchen @kevinlee12 @markhalpin I like it as well. I think we should make all cards this way (#6) and tell teachers they must make their objective text no longer than "xx words". it solves the mobile problem as well.

[2017-02-18 16:58] jblair87 commented on #3066
Sorry I meant card six not issue 6.

[2017-02-18 17:01] markhalpin commented on #3066
Glad this is meeting people's approval! To clarify, I don't think it's a question of word-count,but rather line count (three max) with X number of characters allowed on a line. Could we incorporate this into the card preview that I believe is being worked on?

[2017-02-18 17:59] jaredsilver commented on #2915
@Oishikatta -- I believe you are correct: this issue _is_ about the empty space below the sidebar. (Though, it seems that space only appears on iOS during scrolling.) What you shared seems to be a good solution.

@TJHomer -- In your GIF, do you see how there's space below the navigation drawer when you start to scroll? That's what we're trying to fix. Please take a look at @Oishikatta's comment as