[2022-03-03 07:17] kevintab95 opened #15064 "Editing an exploration seems to cause the editor page to appear broken"
Editing an exploration seems to have resulted in several backend errors and caused the editor page to break completely.

Related logs from the session:
[code]

[code]

[2022-03-03 07:27] Akshaj000 commented on #14419
I need some help on backend tests for my pr https://github.com/oppia/oppia/pull/15013

[2022-03-03 07:38] AyushJ7 commented on #14419
Actually I completed both SERVER_MODES and DATA_TYPES in one PR #14556 directly. I forgot to change the name of the PR after including DATA_TYPES along with SERVER_MODES.
Sorry for the inconvenience.

[2022-03-03 11:00] jahd2602 commented on #11329
Checking the merged PRs, the current status of this issue seems to be:

- [x] core/templates/components/common-layout-directives/navigation-bars/top-navigation-bar.directive.ts
- [x]  core/templates/components/forms/custom-forms-directives/image-uploader.directive.ts
- [x]  core/templates/pages/admin-page/navbar/admin-navbar.directive.ts
- [x]  core/templates/pages/exploration-editor-page/modal-te

[2022-03-03 16:15] suprabhat15 commented on #10700
@srijanreddy98 I want to work on ```SolutionObjectFactory```. Please assign it to me.

[2022-03-03 16:28] mridul-netizen commented on #10700
Done

[2022-03-03 18:28] Nik-09 opened #15071 "Add a code comment while refactoring validation check for duplicate content in exploration."
This issue tracks adding code comments while refactoring [duplicate content_id validation check](https://github.com/oppia/oppia/blob/6d59af89be3cadbdc6702e4149fe616adf3bd890/core/domain/state_domain.py#L2548) to support new translation structure.

Comment to add: # DO NOT Remove this validation as other parts of the codebase relies on content_id to be unique.
Reference thread: [Link](https://githu

[2022-03-03 20:11] #12219 closed, assigned to DubeySandeep

[2022-03-04 00:13] vojtechjelinek commented on #14033
@winnie368c The line `stats_models = models.Registry.import_stats_models()` is unneeded and you can remove it.

[2022-03-04 13:55] ayushjaink8 opened #15075 "Refactor "get_exp_with_draft_applied" inside core.domain.exp_services.py"
We need to properly refactor the `get_exp_with_draft_applied` function present inside core.domain.exp_services.py so as to decrease the complexity and improve code readability.

[2022-03-04 14:09] ayushjaink8 commented on #15075
A Todo is also added for the same inside the function.
Reference PR: #15060

[2022-03-04 14:10] #14893 closed, assigned to SanjaySajuJacob

[2022-03-04 14:53] sahiljoster32 commented on #15029
The first part of this error (which shows glitch behaviour) is also observed in home page (learner-dashboard).
Proof for the same.

https://user-images.githubusercontent.com/12553576/156785144-838f3fab-4213-40e1-a23f-a310397cb12a.mp4

* Note: this glitch is observed in both slow and fast connections but if we switch it to fast3g major lag is showed up.
* suspected cause: overhead of loading css fr

[2022-03-04 18:59] #15005 closed, assigned to JeeveshGarg

[2022-03-05 07:08] kevintab95 commented on #6702
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:08] #6702 closed, assigned to nobody

[2022-03-05 07:09] kevintab95 commented on #7517
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:09] #7517 closed, assigned to nobody

[2022-03-05 07:09] kevintab95 commented on #7499
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:09] #7499 closed, assigned to nobody

[2022-03-05 07:13] kevintab95 commented on #7461
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:13] #7461 closed, assigned to nobody

[2022-03-05 07:16] kevintab95 commented on #7445
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:16] kevintab95 commented on #7443
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:16] #7443 closed, assigned to nobody

[2022-03-05 07:18] kevintab95 commented on #7439
Certs were updated, it works fine now. Closing!

[2022-03-05 07:21] kevintab95 commented on #7438
This has been fixed, the error no longer occurs!

[2022-03-05 07:21] #7438 closed, assigned to nobody

[2022-03-05 07:22] kevintab95 commented on #7406
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:22] #7406 closed, assigned to nobody

[2022-03-05 07:22] kevintab95 commented on #7379
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:22] #7379 closed, assigned to nobody

[2022-03-05 07:22] kevintab95 commented on #7344
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:22] #7344 closed, assigned to nobody

[2022-03-05 07:23] kevintab95 commented on #7343
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:23] #7343 closed, assigned to nobody

[2022-03-05 07:23] kevintab95 commented on #7247
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:23] #7247 closed, assigned to nobody

[2022-03-05 07:24] kevintab95 commented on #7085
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:24] #7085 closed, assigned to nobody

[2022-03-05 07:26] kevintab95 commented on #7044
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:26] #7044 closed, assigned to nobody

[2022-03-05 07:26] kevintab95 commented on #7043
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:26] #7043 closed, assigned to nobody

[2022-03-05 07:27] kevintab95 commented on #6758
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:27] #6758 closed, assigned to nobody

[2022-03-05 07:28] kevintab95 commented on #7518
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:28] #7518 closed, assigned to nobody

[2022-03-05 07:28] kevintab95 commented on #7519
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:28] #7519 closed, assigned to nobody

[2022-03-05 07:29] kevintab95 commented on #7525
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:29] #7525 closed, assigned to nobody

[2022-03-05 07:29] kevintab95 commented on #7529
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:29] #7529 closed, assigned to nobody

[2022-03-05 07:30] kevintab95 commented on #7530
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:30] #7530 closed, assigned to nobody

[2022-03-05 07:30] kevintab95 commented on #7531
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:30] #7531 closed, assigned to nobody

[2022-03-05 07:31] kevintab95 commented on #7559
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:31] #7559 closed, assigned to nobody

[2022-03-05 07:31] kevintab95 commented on #7560
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:31] #7560 closed, assigned to nobody

[2022-03-05 07:31] kevintab95 commented on #7607
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:31] #7607 closed, assigned to nobody

[2022-03-05 07:32] kevintab95 commented on #7609
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:32] #7609 closed, assigned to nobody

[2022-03-05 07:32] kevintab95 commented on #7629
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:32] #7629 closed, assigned to nobody

[2022-03-05 07:34] kevintab95 commented on #7650
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:34] #7650 closed, assigned to nobody

[2022-03-05 07:35] kevintab95 commented on #7682
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:35] #7682 closed, assigned to nobody

[2022-03-05 07:35] kevintab95 commented on #7683
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:35] #7683 closed, assigned to nobody

[2022-03-05 07:35] kevintab95 commented on #7696
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:35] #7696 closed, assigned to nobody

[2022-03-05 07:36] kevintab95 commented on #7752
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:36] #7752 closed, assigned to nobody

[2022-03-05 07:36] kevintab95 commented on #7783
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:36] #7783 closed, assigned to nobody

[2022-03-05 07:37] kevintab95 commented on #7795
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:37] #7795 closed, assigned to nobody

[2022-03-05 07:37] kevintab95 commented on #7796
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:37] #7796 closed, assigned to nobody

[2022-03-05 07:38] kevintab95 commented on #7798
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:38] #7798 closed, assigned to nobody

[2022-03-05 07:38] kevintab95 commented on #7799
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:38] #7799 closed, assigned to nobody

[2022-03-05 07:39] kevintab95 commented on #7804
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:39] #7804 closed, assigned to nobody

[2022-03-05 07:41] kevintab95 commented on #7884
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:41] #7884 closed, assigned to nobody

[2022-03-05 07:42] kevintab95 commented on #7925
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:42] #7925 closed, assigned to nobody

[2022-03-05 07:43] kevintab95 commented on #7951
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:43] #7951 closed, assigned to nobody

[2022-03-05 07:44] kevintab95 commented on #8000
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:44] #8000 closed, assigned to nobody

[2022-03-05 07:44] kevintab95 commented on #8009
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:44] #8009 closed, assigned to nobody

[2022-03-05 07:45] kevintab95 commented on #8028
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:45] #8028 closed, assigned to nobody

[2022-03-05 07:45] kevintab95 commented on #8029
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:45] #8029 closed, assigned to nobody

[2022-03-05 07:46] kevintab95 commented on #8059
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:46] #8059 closed, assigned to nobody

[2022-03-05 07:47] kevintab95 commented on #8060
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:47] #8060 closed, assigned to nobody

[2022-03-05 07:47] kevintab95 commented on #8074
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:47] #8074 closed, assigned to nobody

[2022-03-05 07:47] kevintab95 commented on #8081
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:47] #8081 closed, assigned to nobody

[2022-03-05 07:48] kevintab95 commented on #8082
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:48] #8082 closed, assigned to nobody

[2022-03-05 07:48] kevintab95 commented on #8083
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:48] #8083 closed, assigned to nobody

[2022-03-05 07:48] kevintab95 commented on #8092
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:48] #8092 closed, assigned to nobody

[2022-03-05 07:49] kevintab95 commented on #8168
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:49] #8168 closed, assigned to nobody

[2022-03-05 07:49] kevintab95 commented on #8196
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:49] #8196 closed, assigned to nobody

[2022-03-05 07:49] kevintab95 commented on #8197
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:49] #8197 closed, assigned to nobody

[2022-03-05 07:50] kevintab95 commented on #8217
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:50] #8217 closed, assigned to nobody

[2022-03-05 07:50] kevintab95 commented on #8218
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:50] #8218 closed, assigned to nobody

[2022-03-05 07:51] kevintab95 commented on #8318
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:51] #8318 closed, assigned to iamprayush

[2022-03-05 07:51] kevintab95 commented on #8389
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:51] #8389 closed, assigned to nobody

[2022-03-05 07:51] kevintab95 commented on #8390
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:51] #8390 closed, assigned to nobody

[2022-03-05 07:52] kevintab95 commented on #8391
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:52] #8391 closed, assigned to nobody

[2022-03-05 07:52] kevintab95 commented on #8444
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:52] #8444 closed, assigned to nobody

[2022-03-05 07:53] kevintab95 commented on #8445
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 07:53] #8445 closed, assigned to nobody

[2022-03-05 08:02] kevintab95 commented on #14703
Closing per https://github.com/oppia/oppia/issues/14703#issuecomment-1030852272. The fix will be included in the March release.

[2022-03-05 08:02] #14703 closed, assigned to kevintab95

[2022-03-05 08:05] kevintab95 commented on #13652
Done as part of Task 2 in https://github.com/oppia/oppia/issues/14351. Closing!

[2022-03-05 08:05] #13652 closed, assigned to Nik-09

[2022-03-05 08:05] kevintab95 commented on #13625
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:05] #13625 closed, assigned to nobody

[2022-03-05 08:08] kevintab95 commented on #13622
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:08] #13622 closed, assigned to nobody

[2022-03-05 08:11] kevintab95 commented on #13471
Similar error occured recetly in the contributor dashboard page:

[code]

[2022-03-05 08:12] kevintab95 commented on #13091
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:12] #13091 closed, assigned to nobody

[2022-03-05 08:13] kevintab95 commented on #12840
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:13] #12840 closed, assigned to nobody

[2022-03-05 08:14] kevintab95 commented on #12819
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:14] #12819 closed, assigned to nobody

[2022-03-05 08:15] kevintab95 commented on #12722
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:15] #12722 closed, assigned to nobody

[2022-03-05 08:17] kevintab95 commented on #12717
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:17] #12717 closed, assigned to nobody

[2022-03-05 08:17] kevintab95 commented on #8667
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:17] #8667 closed, assigned to nobody

[2022-03-05 08:18] kevintab95 commented on #8666
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:18] #8666 closed, assigned to nobody

[2022-03-05 08:20] kevintab95 commented on #8025
Closing this issue for now since it has not occured on the server for a while. Will reopen if it surfaces again. Thanks!

[2022-03-05 08:20] #8025 closed, assigned to nobody

[2022-03-05 16:15] seanlip commented on #7462
@lkbhitesh07 @vojtechjelinek I was discussing this with @kevintab95 and it looks like it's not possible to add such URLs now, but there may be old lessons with them. We should get rid of these; could both of you please figure out whether this should be part of @lkbhitesh07's and the LaCE Android team's work on #13822  or part of @vojtechjelinek's work on general validation?

[2022-03-05 16:18] seanlip commented on #14738
@lkbhitesh07 I think this issue falls under the LaCE Android team's remit. Could it be prioritized, please? (At least let's write a job to see how many cases of this there are.)

[2022-03-06 05:13] lkbhitesh07 commented on #13822
Hello @chiragbaid7, How's everything going with the beam jobs? Please do let me know if I can help you in any way.
Thanks

[2022-03-06 05:26] lkbhitesh07 commented on #14738
Sure, I'll start working on it.

[2022-03-06 08:08] udyanojha commented on #14419
I am new and would like to work on
PARAM_NAMES platform_parameter_list.py

[2022-03-06 08:08] udyanojha commented on #14419
working on PARAM_NAMES platform_parameter_list.py

[2022-03-06 17:31] #15058 closed, assigned to Lawful2002

[2022-03-06 21:48] jordyparker commented on #14033
Hi @vojtechjelinek I have a misunderstanding about the return type of this method below. I found out that the return type should be an instance of the class `TakeoutData` but it was described in the method that its return type is a `dict. Dictionary containing all the user's data:` which seems wrong to me. Should I change the return type description of the method?

[code]

[2022-03-07 03:37] lkbhitesh07 commented on #14738
Hey @kevintab95,
With image paths in Exploration are you referring to the state content? I mean we can add images to the content via RTE, right?
Just want to ask that if that's the case then how will we be able to differentiate it with html? I might be wrong here but I'm not sure of which image you are referring to here.
Thanks

[2022-03-07 04:57] chiragbaid7 commented on #13822
@lkbhitesh07 Thank you for asking I am working on some other issues involving discussion docs and needs to fixed quickly I will start working on this task soon.

[2022-03-07 06:41] U8NWXD opened #15090 "Lint Check for Indentation"
## Introduction

We would like to have a pylint check for indentation in Python code. This will likely require a custom lint check. Here are some of the cases we want to handle:

### Indent By 4 Spaces

Good:

[code]

[code]

Bad:

[code]

[code]

### Indent by 8 Spaces for Clarity

Sometimes indenting by 4 spaces is confusing:

[code]

In these cases, we should indent by 8 spaces instead:

[code]

[2022-03-07 09:09] kevintab95 commented on #14738
Hi @lkbhitesh07, I was referring to one of the images in the exploration state HTML fields.

Could you please elaborate what you meant by "Just want to ask that if that's the case then how will we be able to differentiate it with html?"? Thanks

[2022-03-07 09:14] #15024 closed, assigned to sahiljoster32

[2022-03-07 11:28] lkbhitesh07 commented on #14738
@kevintab95
Yes sure, I mean when we will enter exploration content, then it will be saved as an HTML string in the content variable, right? and the image will also be part of the HTML string, So I got confused on how we will check that if there is an image path available or not. I may be wrong here because I'm not sure how we are keeping track of images with our exploration content.
Thanks

[2022-03-07 11:41] kevintab95 commented on #14738
The image filename is stored as part of the "filepath-with-value" attribute in "oppia-noninteractive-image" tag in the HTML. The Noninteractive image component will use this value to create the URL / path to fetch the image from and render it.

I think the first step in this task is to write an audit job to check how many such cases exist. i.e. How many exploration / states exist that have image t

[2022-03-07 11:43] lkbhitesh07 commented on #14738
Got it, thanks for the clarification.

[2022-03-07 13:46] vojtechjelinek commented on #14033
@jordyparker Yes, change the description.

[2022-03-07 17:27] udyanojha commented on #14419
@JeeveshGarg Please assign me PARAM_NAMES platform_parameter_list.py
Thank you

[2022-03-08 10:56] JeeveshGarg commented on #14419
assigning you.
Thanks.

[2022-03-08 11:16] lkbhitesh07 commented on #14738
Hey @kevintab95, I was trying to figure out where I can find the `filepath-with-value` field in our model and how it's getting connected to our state model but wasn't able to figure it out. Can you please tell me where I can find this particular field, in which model, and on which model I should be writing this job? I'm a bit confused here.
Thanks

**Update** -> Sean helped me to track down how we

[2022-03-08 18:12] #14944 closed, assigned to Lawful2002

[2022-03-09 06:00] suprabhat25 commented on #15006
Can this issue be assigned to me?

[2022-03-09 06:04] suprabhat15 commented on #14968
can @vojtechjelinek assign this to me?

[2022-03-09 06:05] suprabhat15 commented on #15006
can @ShivamJhaa assign this to me?

[2022-03-09 06:09] suprabhat15 commented on #14960
@sahiljoster32 can you assign
 ```Would it be possible to have someone look into translating the titles and metadata descriptions of pages to match the site language? (e.g. in this example the site is in Spanish but the title is still in English ("Learner Dashboard | Oppia")```
and
``` Make sure the language selector menu is the same width as the language selector?``` to me?

[2022-03-09 06:19] seanlip commented on #15006
This should actually get fixed on TranslateWiki. Would it be possible to do that, please? See https://translatewiki.net/w/i.php?title=Special:Translate&group=oppia&language=hi&filter=%21translated&action=translate

[2022-03-09 06:36] sahiljoster32 commented on #14960
@suprabhat25 thanks for your interest!
But actually this issue is already assigned to @ayushjaink8 as per discussed in meeting. However, you can take a look to other good first issue.
Is that ok?

[2022-03-09 06:43] sahiljoster32 commented on #14960
Still if you want to know how you can use translation-
1. You can take a look in html files which uses translator pipeline. Which looks like {{some_defined_text}}. You can refer to https://github.com/oppia/oppia/blob/506b2b437227aa55beb95e1eb0cf3b06192fdd52/core/templates/components/summary-tile/story-summary-tile.component.html#L86
2. Also you can go through qqq.json and en.json for reading throu

[2022-03-09 06:47] ShivamJhaa commented on #15006
![Screenshot from 2022-03-09 12-16-15](https://user-images.githubusercontent.com/86483059/157387284-ba21530c-ca26-45b8-a290-1a5c804695af.png)
It needs translation rights to fix this issue.

[2022-03-09 06:58] seanlip commented on #15006
I think you can easily get permission (let me know if you run into any hurdles). Translatewiki is an open commons, so anyone can participate, although there may be an initial probationary process.

[2022-03-09 07:27] #15009 closed, assigned to ShivamJhaa

[2022-03-09 07:42] ayushjaink8 commented on #14960
@suprabhat25 If you are interested in starting up with this title and metadata translation issue then you can start working on it. I am currently working on another issue and my mid-semester examination is also going on. So, I might not get time in the coming few days to work on it. You can work on this issue if you want.
@Rijuta-s If you can assign this issue to @suprabhat25 then it would be grea

[2022-03-09 09:05] #15011 closed, assigned to ashutoshc8101

[2022-03-09 09:50] Kimbohlovette commented on #10474
Hello sir, @vojtechjelinek
Please I'm facing this error when I try to push changes to a local branch to remote forked repo. When I run the command `git push origin <branchname>`  I get the following  error

![image](https://user-images.githubusercontent.com/37558983/157417339-120f0e15-9ec7-49d2-8eb7-4164ec67fd16.png)

[2022-03-09 11:40] vojtechjelinek commented on #10474
@Kimbohlovette Please create a GH Discussion on this repo, we will try to help there.

[2022-03-09 11:46] vojtechjelinek commented on #14968
@suprabhat25 Hey, this issue is reserved for a GSoC project. Please pick a different issue.

[2022-03-09 12:44] suprabhat15 commented on #14960
I am ready to work on this issue @ayushjaink8. @Rijuta-s could you assign this to me, please?

[2022-03-09 12:46] suprabhat15 commented on #14968
Alright.

[2022-03-09 18:28] sagangwee opened #15101 "[CD] Question submission server error"
"Found extra args" error:

https://user-images.githubusercontent.com/9004726/157507209-89568756-d3cc-4492-b381-5e6aa237b413.mp4

![image (4)](https://user-images.githubusercontent.com/9004726/157507071-9113e897-06ff-4422-9bf3-c0d64be87f7a.png)

[2022-03-09 18:28] IamEzio opened #15102 "No alert message is shown when a SVG with misspelled 'svg' tag is uploaded"
**Describe the bug**
No alert message is shown when an SVG with misspelled 'svg' tag is uploaded. Similarly, when a user deliberately renames a '.txt' or a similar file with the '.svg' extension, no error message is shown. More context can be found [here](https://github.com/oppia/oppia/pull/14876#discussion_r822025992).

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration e

[2022-03-09 19:07] sagangwee commented on #15101
Looks like an image path is being provided to `SuggestionHandler` that is not expected.

[2022-03-09 19:19] sagangwee commented on #15101
Reproduced in prod.

For a payload like the following:
[code]

Got a response:
[code]

[2022-03-09 19:28] sagangwee commented on #15101
Looks like we pass in image blobs retrieved from storage to the suggestion handler here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts#L98, but the handler expects a "files" arg: https://github.com/oppia/oppia/blob/develop/core/controllers/suggestion.py#L83.

[2022-03-09 19:30] sagangwee commented on #15101
https://github.com/oppia/oppia/pull/14063/files migrated the schema to use the "files" handler arg, but calls to question suggestions were not updated.

[2022-03-09 21:24] verdy-p opened #15103 "Could you allow "<sup>" and "</sup>" tags within translations?"
**Describe the bug**

To properly translate the UI of Oppia, there's a need to support superscripts, notably for ordinal numbers like "1<sup>re</sup>" (not "1re") or common abbreviations like "M<sup>me</sup>" (not "Mme"), or "N<sup>os</sup>" (not "Nos")

It seems that you have silently removed these necessary tags in French translations. (Note that the alternative using superscript characters in U

[2022-03-10 06:07] ashrrithk commented on #14419
Hi @JeeveshGarg

I made changes to
CATEGORY app_feedback_report_constants.py
ENTRY_POINT app_feedback_report_constants.py
STATS_PARAMETER_NAMES app_feedback_report_constants.py

and submitted a PR #15080 , Can you please assign me these?

Thanks.

[2022-03-10 17:33] sahiljoster32 opened #15105 "Refactor `user settings` to reduce the number of `Optional` fields."
**Describe the bug**
Currently, we are using `UserSettingsDict` to define the dictionary representation of the `UserSettings` domain object.  The problem with the current `UserSettingsDict` is that it uses too many `Optional` fields.

The suspected reason for this problem is that the `UserSettingsModel` uses `None` as a default value for too many fields.
https://github.com/oppia/oppia/blob/d78f888

[2022-03-10 18:02] sahiljoster32 opened #15106 "Refactor `Modifiable user data` to reduce the number of `Optional` fields."
**Describe the bug**
Currently, we are using `ModifiableUserDataDict` to define the dictionary representation of the ModifiableUserData domain object. The problem with the current ModifiableUserDataDict is that it uses too many Optional fields.

**suggested solution**
To limit(or reduce) the number of Optional fields, we need to do some refactoring in the ModifiableUserData.
https://github.com/opp

[2022-03-10 21:18] EricZLou commented on #13764
Closing this issue as all tasks have been completed. The only frontend validation checks that remain are related to restrictions on the length of data fields that are HTML strings (as shown above in the description).

[2022-03-10 21:18] #13764 closed, assigned to nobody

[2022-03-10 22:16] kevintab95 commented on #15101
Hi @sagangwee, is the payload mentioned in https://github.com/oppia/oppia/issues/15101#issuecomment-1063272303 the complete thing? I'm unable to find the filenames ['img_20200712_154524_88sfjivzr9_height_166_width_132.svg', 'img_20200711_165515_oqmu90mz19_height_71_width_132.svg', 'img_20200712_154812_m0biksf8pz_height_211_width_140.svg', 'img_20200711_170526_85sbwj9x81_height_211_width_140.svg',

[2022-03-10 22:25] sagangwee commented on #15101
@kevintab95 Sorry, I do recall the img file names being listed below the payload in Chrome Dev Tools. I didn't log them on my first pass as I didn't realize they were part of the request at the time.

[2022-03-10 22:30] kevintab95 commented on #15101
Thanks! One more follow-up, looking at the question dict, I can't find any oppia-noninteractive-image tags with the corresponding filenames as attributes. Which is odd.. where are these image filenames coming from?

[2022-03-10 22:33] kevintab95 commented on #15101
Also, in the video in the issue description, it seems like there are no images (except for the math one) in the submitted question. Are the logs and video from the same session / set of operations?

[2022-03-10 22:33] sagangwee commented on #15101
The images are loaded from [ImageLocalStorageService](https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-page/modal-templates/question-suggestion-editor-modal.controller.ts#L78), but I'm not familiar with it.

I think the fix is to add the image blobs to a "files" arg here: https://github.com/oppia/oppia/blob/develop/core/templates/pages/contributor-dashboard-pa

[2022-03-10 22:42] kevintab95 opened #15110 "Possible backend test flake: build_test.test_execute_tasks"
Possible flake in the backend test:

[code]

This occured in a PR that did not modify any backend files. See logs: https://github.com/oppia/oppia/runs/5503226962?check_suite_focus=true

Logs attached: [logs_343598.zip](https://github.com/oppia/oppia/files/8227599/logs_343598.zip)

[2022-03-10 22:47] vojtechjelinek commented on #15110
Duplicate of #13991

[2022-03-10 22:47] #15110 closed, assigned to nobody

[2022-03-10 22:47] kevintab95 commented on #13991
This occured again in #15110. Please see additional logs there.

[2022-03-10 22:48] vojtechjelinek commented on #13991
Error from #15110:
[code]

[2022-03-10 23:02] kevintab95 commented on #15101
Update: This error happens when trying to submit a question (with or without images) for a skill that contains images.

[2022-03-10 23:10] #14826 closed, assigned to sagangwee

[2022-03-11 06:45] Lawful2002 commented on #14960
@suprabhat25 I have assigned you to ` Would it be possible to have someone look into translating the titles and metadata descriptions of pages to match the site language?`. Thanks!

[2022-03-11 06:48] seanlip commented on #15101
Thanks for investigating, @kevintab95!

Just to check, what do you mean by "a skill that contains images"? Which field of the skill are you referring to?

(Also that is weird. I don't really see why we would want to submit those images back to the server...)

[2022-03-11 07:05] kevintab95 commented on #15101
Skills can contain images in their subtitledHTML fields (e.g. description). I suspect these may be used in the preview or the question player,not sure.

[2022-03-11 07:07] kevintab95 commented on #15101
Misconceptions can contain images as well (the "default feedback" in the misconception can be used in the questions).

[2022-03-11 07:09] seanlip commented on #15101
But why do we send these back to the server? That seems odd, the CD should only be submitting the question + the skill ID.

(Though I guess that's what you're investigating :P )

[2022-03-11 07:10] ashish-patwal commented on #14033
@vojtechjelinek can you please assign me `core/domain/translatable_object_registry.py`

[2022-03-11 07:16] kevintab95 commented on #15101
From what I understand, images are stored in model specific buckets, so all images related to the question entity will need to be stored in the question specific bucket. Some images seem to be in skill specific buckets (e.g. the description, misconceptions) so we copy them over to the question specific one -- I imagine this is why we send it to the server.

[2022-03-11 07:22] Rijuta-s commented on #15023
@sahiljoster32  any updates on this?

[2022-03-11 07:33] seanlip commented on #15101
Ah I see. Just to check ... I can see this happening for misconceptions that are ultimately submitted as part of the question, but we don't do that for the skill description, right? (At least, conceptually, I think we shouldn't, since the description is never part of the question.)

[2022-03-11 07:53] kevintab95 commented on #15101
True, currently I think we look at all HTML fields in the skill, we can restrict it to specific ones.

[2022-03-11 10:57] verdy-p opened #15112 "Managing translations: split into separate message groups for separate lessons"
As the project will grow, more and more lessons will be added, making them difficult to manage their translations in Translatewiki.net.

I strongly suggest separating lessons with their own message group, one per lesson, and keep the general translations for the Oppia website UI in its own (may be the existing one) message group (possibly a few if there are several separable components).

Translat

[2022-03-11 14:00] seanlip commented on #15103
@verdy-p Thanks for the detailed explanation. I was the one who dropped the superscripts while importing the translations and I'd be happy to explain why.

The issue here is simply that the English text for the strings in question is currently entered using a plaintext field and not an HTML field, so the display of the strings is only set up to recognize plaintext. This is not currently a straight

[2022-03-11 15:30] IamEzio commented on #14219
Hi @U8NWXD! Working on `core.storage.feedback.gae_models_test`.

[2022-03-11 16:56] #14845 closed, assigned to soumyo123-prog

[2022-03-11 17:18] ShivamJhaa commented on #15006
Published my correct translation on the translate wiki, so closing this now.
Thanks!

[2022-03-11 17:18] #15006 closed, assigned to nobody

[2022-03-11 17:20] jahd2602 commented on #14261
Some discussion on this is happening in this doc: https://docs.google.com/document/d/1o1Kg8Qz0eh_9ZJh3GSd2f07s9hA7M5buX5wKEQ0XZgE/edit#

[2022-03-11 17:35] sahiljoster32 commented on #15029
//@Rijuta-s @Lawful2002 @krishita30j
Can we close this issue because the lessons tab UI is fixed and the glitch part Is going to be handled separately?

[2022-03-11 18:46] vojtechjelinek commented on #14033
@ashish-patwal Done.

[2022-03-11 18:59] #14793 closed, assigned to IamEzio

[2022-03-11 19:03] #14855 closed, assigned to anuragc10

[2022-03-12 12:57] verdy-p commented on #15103
@seanlip
I know your reason, but that's something you can easily add as an exception. Superscripts are part of the standard orthography for abbreviations. And it's quite simple to handle `<sup>` and `</sup>` (without any attribute and properly paired) as an exception that you can perfectly handle for allowing such very basic tags (as there's no easy or correct replacement using plain-text only), g

[2022-03-13 00:19] goyalsaksh commented on #15103
Hey , I am beginner towards open source . please assign it to me.

[2022-03-13 00:22] goyalsaksh commented on #14815
I am new towards open source , please assign it to me.

[2022-03-13 00:24] goyalsaksh commented on #14792
I would like to contribute towards this issue , please elaborate it and assign it to me.

[2022-03-13 00:28] goyalsaksh commented on #14544
I would like to contribute,please assign it to me.

[2022-03-13 06:41] sahiljoster32 commented on #14815
Hey @goyalsaksh !
Just few questions,
Did you already setup oppia on your local machine?
Did you signed the CLA?

Thanks!!

[2022-03-13 15:32] AshiraFriedman commented on #14419
can you please assign me something that is left to be done?

[2022-03-13 15:43] SD-13 commented on #14033
@vojtechjelinek can I also take `core/domain/voiceover_services.py`, `core/domain/visualization_registry.py`, `core/domain/user_services.py`, `core/domain/user_query_services.py`

[2022-03-13 16:31] JeeveshGarg commented on #14419
assigning you PARAM_NAMES platform_parameter_list.py,
Go ahead

[2022-03-13 16:39] U8NWXD commented on #14219
@IamEzio assigned

[2022-03-13 19:25] Akshaj000 commented on #14219
@U8NWXD  Can i try core.storage.app_feedback_report.gae_models_test ?

[2022-03-14 02:20] U8NWXD commented on #14219
@Akshaj000 done (by krishita30j)

[2022-03-14 04:25] dchen97 commented on #14544
Given that no clarification has been given around what issues are being seen or what the proposal is, I'll close this issue for now.

[2022-03-14 04:25] #14544 closed, assigned to nobody

[2022-03-14 04:37] paprajapati9 opened #15123 "Classroom promo not shown in navbar if user is logged in"
**Describe the bug**
Classroom promos are not showed in the navbar if the user is logged in but are shown if the user is not logged in.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/about
 2. See the classroom promos when logged out by hovering over the learn tab
 3. Login and see again

**Observed behavior**
When user is logged in classroom promos are not show

[2022-03-14 04:39] dchen97 opened #15124 "Learner Analytics Project"
**Is your feature request related to a problem? Please describe.**
Add new metrics and monitoring for better tracking effectiveness and engagement of learners. Provide creators with tools that enable them to improve their lessons to better meet the needs of future students, as well as understand how well their lessons are at delivering effective education and retaining students.

**Describe the so

[2022-03-14 05:21] Lawful2002 commented on #14427
@pallavimantri Can you still reproduce this bug?

[2022-03-14 07:01] sahiljoster32 commented on #15123
Hi,

[2022-03-14 07:05] sahiljoster32 commented on #15123
Hi Pankaj!,
I think this is the intended behavior of navbars.
As per given in navbar update UI mocks. https://www.figma.com/file/6XBtQqou0AHS2WWg345dmu/Nav-%26-Library?node-id=201%3A578
/cc @Lawful2002 (because you also worked on navbar update)

[2022-03-14 12:01] vojtechjelinek commented on #14033
@SD-13 Done.

[2022-03-14 15:09] devarsh10 commented on #15090
Is this issue resolved?
If not, please assign it to me.
Thanks and Regards.

[2022-03-14 15:39] devarsh10 commented on #10630
Is this issue solved?
If not, please assign it to me.
Thanks and Regards.

[2022-03-14 15:39] devarsh10 commented on #19443
Is this issue solved?
If not, please assign it to me.
Thanks and Regards.

[2022-03-14 16:04] Nik-09 commented on #13162
Hi folks, any update on assigned handlers?
Feel free to reach me or @vojtechjelinek if you face any difficulty at any moment while solving this issue.
Also, drop a msg in this thread if you are not working on this issue. I will unassign you so that other contributors can get assigned.
Thank you.

@akbajwa @ikeadeoyin @Aayush452-cell @Yash-g17 @Yavnikaa @arsalannahmad01 @pritam2317 @somya51p @jordy

[2022-03-14 16:10] JayVivarekar commented on #13162
@Nik-09 I was working on the AudioUploadHandler and the
StartedTranslationTutorialEventHandler, but PR was closed due to inactivity while waiting for a review from one of the code owners. Should I re-open the PR?

[2022-03-14 16:22] Nik-09 commented on #13162
Yes, you should reopen it. Send me the link of the PR, I will ask the corresponding code owner for a review.
Also, we have a system that every code owner gets an email if a review gets delayed by more than 7 days, but for that, you have to keep the PR updated.
Thank you.

[2022-03-14 16:33] vojtechjelinek commented on #15037
@kevintab95 @aks681 PTAL

[2022-03-14 17:11] vojtechjelinek commented on #15023
@Rijuta-s @sahiljoster32 Any update here?

[2022-03-14 17:22] paprajapati9 commented on #15123
Ok @sahiljoster32 , thanks! It was raised by @kevintab95 recently. Kevin, in this case, do we add it or not ?

[2022-03-14 17:27] sahiljoster32 commented on #15023
Hi @vojtechjelinek,
The scenario mentioned in the second screenshot is working fine on both local and test server. But for the first screenshot, things work fine until there is some "suggestions from learner". So i'm still currently tracing the cause of the error. Maybe i'm able to raise PR by Thursday morning. Is that fine?

[2022-03-14 22:53] anthonyqzhu commented on #13162
I am no longer working on this issue unfortunately. I can be unassigned from the 2 handlers and someone else can take them

[2022-03-15 05:19] bobulated opened #15134 "Home page low-hanging fruit"
Problem;
1. Oppia home page CTA button, "Browse Our Lessons" might not stand out as a primary action because of similarity to header color.
2. Language selection button doesn't stand out as a secondary action button, it's very similar to the navigation to the left.

Solution;
1. Change CTA color to something related to Oppia green but distinct and easily identified. Proposed color; #630A59
2. Chan

[2022-03-15 08:21] #14328 closed, assigned to nithusha21

[2022-03-15 08:21] #14354 closed, assigned to vojtechjelinek, nithusha21

[2022-03-15 09:00] Hatilar420 commented on #15090
@U8NWXD can i work on this issue ?
Thanks.

[2022-03-15 09:11] Hatilar420 commented on #14960
Hi working on `language selector menu is the same width as the language selector`
Thanks.

[2022-03-15 10:05] Hatilar420 commented on #14537
Hi @vojtechjelinek,  can i work on `param_domain.py` ?

[2022-03-15 10:07] Hatilar420 commented on #14419
Hi @JeeveshGarg are there any files left to be assigned ?
if there are can you assign them to me ?
Thanks

[2022-03-15 10:45] sahiljoster32 opened #15136 "Remove type validations from domain object."
**Current scenario**
Currently, we are checking the types of properties of an object using the `validate()` function which handles this check by raising a validation error. After applying MyPy annotations to python file, this validation check seems to be extra work. So, we have to limit the use of type validation.

For example:-
https://github.com/oppia/oppia/blob/d415824662425e84f4a01766d23b2cf5e

[2022-03-15 12:20] Aayush452-cell commented on #13162
Hi @Nik-09  I am no longer working on `SkillDataHandler`. You can unassign me from that.

[2022-03-15 16:19] devarsh10 commented on #3820
Is this issue solved?
If not please assign it to me.
Thanks & Regards.

[2022-03-15 16:19] seanlip commented on #15134
Thanks @bobulated! Assigning to the LaCE Quality team -- @Rijuta-s @Lawful2002 would one of you mind taking a look and triaging/reassigning it?

Also @bobulated I wonder a little bit about the background colour for #1 -- tbh it fades into the background for me a bit. Totally happy deferring to you on this, but just thought I'd mention it as a data point. /cc @dchen97

[2022-03-15 19:34] dchen97 commented on #15134
Thanks for submitting @bobulated! Just one thought - the new proposed color is not one that is used anywhere else on the site. I know that Carrie was looking into creating a full color palette for us as part of the design guide - would you mind syncing with her on the color before we get this finalized?

[2022-03-16 04:07] bobulated commented on #15134
@seanlip and @dchen97 Thank you for the feedback! As Diana pointed out, I couldn't find that color anywhere else on the site. It has a triad color relationship to Oppia Green and stands out. Sean, I didn't think it faded, in fact I was worried it might be a bit too much!
@dchen97 Diana, as for the color palette, we've been discussing updating it and this was a color I thought we could bring in. Se

[2022-03-16 06:06] jimbyo commented on #14715
@sagangwee Why was this closed?

[2022-03-16 06:38] U8NWXD commented on #15090
@devarsh10 I've assigned you. See more discussion here: https://github.com/oppia/oppia/pull/15070#discussion_r820423355

[2022-03-16 14:18] Nik-09 opened #15141 "[UI]: Delete topic button is partially clickable."
**Describe the bug**
In order to delete a topic from topic and skill dashboard page, the delete button is partially clickable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a topic T
 2. Go to the Topic and Skill dashboard page and try to delete the topic T.
 3. Delete topic button is partially clickable.

**Expected behavior**
Make the entire delete button clickable, similar to th

[2022-03-16 17:29] dchen97 commented on #15134
Ah ok that makes sense - just wanted to make sure that we were in sync with the updated guidelines. In general I'm not particularly opposed to moving in this direction, but I just wonder if it'll be a bit odd for this to be the one place where this color is shown (i.e. perhaps we should do this as part of a broader update to the color scheme around the site - or at least the learner-facing pages o

[2022-03-17 03:39] kevintab95 commented on #8031
Later versions of Edge supports the File API and the user base seem to be using newer versions at this point. Closing for now.

[2022-03-17 03:39] #8031 closed, assigned to nobody

[2022-03-17 03:40] kevintab95 commented on #14708
Closing for now, will reopen once we have more info (from https://github.com/oppia/oppia/pull/14915) to debug.

[2022-03-17 03:40] #14708 closed, assigned to soumyo123-prog

[2022-03-17 03:41] kevintab95 commented on #14707
Closing for now, will reopen once we have more info (from https://github.com/oppia/oppia/pull/https://github.com/oppia/oppia/pull/14887) to debug.

[2022-03-17 03:41] #14707 closed, assigned to JeeveshGarg

[2022-03-17 03:51] kevintab95 commented on #9231
This should no longer be an issue IMO, we have certain changes to prevent this from happening easily: (1) translation edits no longer contain data from unrelated languages (now the change object only contains the data for the language being translated), and (2) we prompt the user to save changes if they have too many "draft changes" (this is suggested in the issue description). Additionally, we ha

[2022-03-17 03:51] #9231 closed, assigned to DubeySandeep

[2022-03-17 04:50] JayVivarekar commented on #13162
@Nik-09 I have reopened the PR

https://github.com/oppia/oppia/pull/14245

[2022-03-17 06:49] pallavimantri commented on #14427
Hi @Lawful2002 @Rijuta-s, I don't see this error now.

[2022-03-17 10:08] Darsuu commented on #6556
@DubeySandeep has this error been fixed?

[2022-03-17 16:22] Sreelayavuyyuru opened #15147 "Filter card doesn't show in topics and skills dashboard"
**Describe the bug**
In the test server of Oppia, at the link https://www.oppiatestserver.org/topics-and-skills-dashboard, when Firefox is first opened and navigated to this link, the filter card to the right is not shown.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Firefox (Not in full screen)
 2. Navigate to https://www.oppiatestserver.org/topics-and-skills-dashboard in the tab

[2022-03-17 17:34] Lawful2002 commented on #14427
Thanks @pallavimantri! Closing this issue as it is no longer reproducible.

[2022-03-17 17:34] #14427 closed, assigned to nobody

[2022-03-17 20:36] sagangwee commented on #14715
@jimbyo Wasn't this fixed in https://github.com/oppia/oppia/pull/15053?

[2022-03-17 20:40] sagangwee commented on #13055
Some feedback from translators:

"In Portuguese (and for other languages) the whole numbers (not the decimals) and the operators and equations are exactly the same as in English;
Having to literally just copy and paste from the original text, and than using the reviewers time to review something that didn't even need to be translated, makes the whole process more slow and time/energy consuming (ex

[2022-03-17 20:41] sagangwee commented on #12533
Feedback from translators:

[2022-03-17 21:03] sagangwee opened #15148 "[CD Translation Review] Enable 5-10 second undo for suggestion review"
Feedback from translators:

[2022-03-17 21:29] sagangwee opened #15149 "[CD] Add reviewer name to reviewed suggestion modal card"
As a contributor, should be able to see the reviewer name when opening their reviewed contribution modal. This is so the contributor can follow up with the reviewer and ask any clarifying questions.

[2022-03-17 21:31] sagangwee commented on #12836
Duplicate of https://github.com/oppia/oppia/issues/12481

[2022-03-17 21:31] #12836 closed, assigned to nobody

[2022-03-17 21:34] sagangwee commented on #14355
Changes to enable filtering translation suggestions by topic merged into develop.

[2022-03-17 21:34] #14355 closed, assigned to bhavukJain, jimbyo

[2022-03-17 22:07] pallavimantri opened #15150 "There is no scroll bar present to check the progress of community lessons if more than 3 lessons are present"
**Describe the bug**
There is no scroll bar present to check the progress of community lessons if more than 3 lessons are present. We can not see more than 3 lessons in it.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to 'https://www.oppiatestserver.org/'
2. Click on your profile tab and then click on 'learners dashboard'.
3. Now click on the 'Community lessons'.
4. Now check all the

[2022-03-18 03:01] jimbyo commented on #14715
Ah https://github.com/oppia/oppia/pull/15053 wasn't merged when you closed the issue but it was merged later. But now it is closed properly.

[2022-03-18 05:02] devarsh10 commented on #15090
Hey @U8NWXD ,
Can I get the files link in which I have to indent?

And Thank You for assingning this issue to me.
Regards.

[2022-03-18 08:51] sahiljoster32 opened #15152 "Q/A march: Unexpected placement of otter's image."
**Describe the bug**
The image of otter is shown unexpectedly while submitting the response. In fast network, it looks fine but in a slow network it's easily observable.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to (https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE)
 2. Click on submit button.
 4. See error

**Observed behavior**
The image of otter is shown on top as soon as we

[2022-03-18 10:13] MNSDivya opened #15153 "Author Profile (Apple) icon is appearing big on entire page before loading the content"
**Describe the bug**
Author Profile (Apple) icon is appearing big on entire page before loading the content

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/learn/math/fractions/story/piece-of-cake'
 2. Click on any chapter and wait until the page loads

**Observed behavior**
Author Profile (Apple) icon is appearing big on entire page before loading the

[2022-03-18 10:32] #15101 closed, assigned to kevintab95

[2022-03-18 12:53] Darsuu commented on #14033
@vojtechjelinek could you also assign ```core/domain/platform_parameter_list.py```

[2022-03-18 13:45] #15136 closed, assigned to nobody

[2022-03-18 14:00] sahiljoster32 commented on #15136
As per discussion in https://github.com/oppia/oppia/pull/15057#discussion_r827242057 and https://github.com/oppia/oppia/pull/15057#pullrequestreview-907239144, this issue is resolved. So, I'm closing this issue.

[2022-03-18 16:12] U8NWXD commented on #14219
Deassigned @soumyo123-prog per their request

[2022-03-18 16:19] EmperorRP commented on #14219
Please deassign me from the issue

[2022-03-18 17:09] MNSDivya opened #15156 "Console errors shown while previewing topic"
**Describe the bug**
Console errors shown while previewing topic

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/'
 2. Navigate to Topic and skills dashboard
 3. Select a topic "test topic november-1"
 4. Click on Questions editor icon and click on Practice
 5. Verify console errors

**Observed behavior**
Console errors shown while previewing topic

**

[2022-03-18 17:19] Lawful2002 commented on #14960
@suprabhat25 Any updates?

[2022-03-18 17:27] SD-13 opened #15157 "Some buttons aren't showing in skill editor window"
**Describe the bug**
In the test server of Oppia, at [this](https://www.oppiatestserver.org/topics-and-skills-dashboard)  link, while creating a new skill, a few card contents are missing in the `Skill Editor`.
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this](https://www.oppiatestserver.org/topics-and-skills-dashboard) link in a browser (Not in full screen).
 2. Click on `Create

[2022-03-18 17:44] ashish-patwal opened #15158 "Review message to a question suggestion is only showing after clicking on the modal window ."
**Describe the bug**
The bug was found on the march release of oppia in the oppia testserver . When a question suggestion is rejected by a reviewer and contributor tries to view the rejected question suggestion , the rejection message doesn't apper rather it appears when we click on the modal window ( anywhere on the modal ) . Viewing this behavior through the developer tools the message is not pr

[2022-03-18 17:49] AmanJolly16 opened #15159 "The moderator page doesn't work properly"
**Describe the bug**
When we access the moderator page, only some data is displayed, and when we check the console error messages also can be seen. Also the links present on the top of the page are not responding.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to this [link](https://www.oppiatestserver.org/moderator)
 2. See the data being displayed

**Observed behavior**
The data about

[2022-03-18 20:41] U8NWXD commented on #15090
@devarsh10 there might not be any files currently where this rule is violated. The goal here is to write a lint check so that we can catch these issues automatically. Right now, reviewers have to manually check indentations

[2022-03-18 20:42] U8NWXD commented on #14219
@EmperorRP done

[2022-03-18 21:02] sagangwee commented on #14752
Noting that this has been fixed for translation suggestions, but a separate issue occurs for question suggestions, where "I encountered a bug when I tried to see the "Review Message". I can't see the message except for a split second when I press "Cancel".":

https://user-images.githubusercontent.com/9004726/159082580-82b068e3-6bb4-4909-aa36-6a6dbe03f355.mp4

[2022-03-18 22:07] jordyparker commented on #14033
@vojtechjelinek @sajalasati  pls what would be the return type of this function ?
[code]
I don't understand the doctrings. where `__dict__` is used in the function ?

[2022-03-19 06:20] Anup0099 commented on #15159
It's showing error 401

[2022-03-19 06:49] devarsh10 commented on #15090
Okay, I'll look into it.

[2022-03-19 12:03] vandyyyy commented on #8668
Heyy @bansalnitish Can I take "earner-playlist.service.ts"? Hopefully, it will help me better understand the code and then make more contributions to other topics:)

[2022-03-19 15:28] EmperorRP commented on #10474
please deassign my file

[2022-03-19 18:06] devarsh10 commented on #11841
Is this issue solved?
If not, please assign it to me.
And is the ETA extended?

Regards.

[2022-03-19 18:15] devarsh10 commented on #2547
Respected @seanlip,
I want to work on this, but I'll need the location of file, so I can take the reference to make the notification bar more interactive.

Thanks & Regards.

[2022-03-19 19:21] SD-13 opened #15163 "Need to fix edit icon in story editor"
**Describe the bug**
When we are trying to edit a story in story editor for e.g [here](https://oppiatestserver.appspot.com/story_editor/wANbh4oOClga), the edit icon in notes is acting differently than the previous one. When we are hovering over it, the pointer should change.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [this](https://oppiatestserver.appspot.com/story_editor/wANbh4o

[2022-03-19 19:38] SD-13 opened #15164 "Console errors shown while previewing Story"
**Describe the bug**
Errors are showing in the console tab while previewing Story.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the preview of story editor of a story for e.g [this](https://www.oppiatestserver.org/story_editor/wANbh4oOClga#/story_preview/) one
 2. Go to inspect/ (shift + ctrl + I)
 3. See the errors

**Observed behavior**
Errors are showing in the console tab while

[2022-03-19 19:38] vojtechjelinek commented on #15029
@Rijuta-s @kevintab95 @aks681 Any update on this?

[2022-03-19 19:41] vojtechjelinek commented on #15023
@sahiljoster32 Any update here?

[2022-03-19 19:41] vojtechjelinek commented on #15037
@kevintab95 @aks681 Any update on this?

[2022-03-19 19:42] vojtechjelinek commented on #15158
@kevintab95 @aks681 PTAL

[2022-03-19 19:44] vojtechjelinek commented on #15159
@AmanJolly16  Do you think you will have time to look into this?

@kevintab95 @aks681 PTAL

[2022-03-19 19:45] vojtechjelinek commented on #15147
@kevintab95 @aks681 PTAL

[2022-03-19 19:46] vojtechjelinek commented on #15157
@kevintab95 @aks681 PTAL

[2022-03-19 19:49] vojtechjelinek commented on #15157
Bit similar to #15147

[2022-03-19 19:52] vojtechjelinek commented on #15152
@kevintab95 @aks681 PTAL

[2022-03-19 19:53] vojtechjelinek commented on #15150
@kevintab95 @aks681 Is this a bug or not?

[2022-03-19 19:56] vojtechjelinek commented on #15156
@kevintab95 @aks681 PTAL

[2022-03-19 19:57] vojtechjelinek commented on #15153
@kevintab95 @aks681 PTAL

[2022-03-20 04:06] sahiljoster32 commented on #15023
@vojtechjelinek , things are working fine on develop branch. Also, as we discontinued the 'suggestions from learner' I'm not able to reproduce it on develop branch.

on testserver, If we check exploration which only contain 'exploration feedback' then this count is correct.

As I'm not able to reproduce this issue, i removed assignment of myself from this.

[2022-03-20 04:09] sahiljoster32 commented on #15023
Also after discussion with sean in lace Android meet, he says we should leave this for now.

[2022-03-20 06:41] paprajapati9 opened #15166 "Translations not showing up for breadcrumbs on classroom pages"
**Describe the bug**
Breadcrumbs on classroom related page do not get translated to the selected language

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppia.org/learn/math/place-values/story
 2. See breadcrumbs while changing site langauge
 3. See error
 4. Similarly see all classroom related pages like story page, chapter page, subtopic page and see the same error.

**

[2022-03-20 06:53] ashish-patwal commented on #14033
@vojtechjelinek please assign me `core/domain/subtopic_page_services.py` . Also `core/domain/subtopic_page_domain.py` since both these files services are mostly dependent on each other .

[2022-03-20 07:04] SD-13 opened #15168 "Card in skill editor doesn't work properly"
**Describe the bug**
In the skill editor, the helper box card is showing blank in lower resolution.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Chrome in a smaller window( in low resolution ).
 2. Go to [this](https://www.oppiatestserver.org/skill_editor/aM28zWfywHzi#/) link
 3. Scroll down
 4. See the blank card

**Observed behavior**
Helper-box-card is showing blank in the skill

[2022-03-20 07:36] SD-13 opened #15169 "Card in topic editor doesn't work properly"
**Describe the bug**
In the topic editor, the Canonical Stories section doesn't show the items properly in low resolution.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Chrome in a smaller window( in low resolution ).
 2. Go to [this](https://www.oppiatestserver.org/topic_editor/NtU5aXMJXJ1z#/) link
 3. Scroll down to the bottom
 4. Maximize the window and see the card items
 5. Now

[2022-03-20 10:52] Hatilar420 commented on #14187
@U8NWXD can you assign me to.
-`exploration-states.service.ts`

[2022-03-20 13:31] ashish-patwal opened #15171 "Wrong background color behind profile icon/avatar on navbar on certain pages"
**Describe the bug**
The bug was found on the march release of oppia in the oppia testserver . On some pages ( ex making new explorations / editing new explorations ) the background color of the profile icon which should be same as the navbar color ( teal green )  is actually white . The proper flow should be that the background should be teal green as the navbar and only white when it is clicked

[2022-03-20 15:16] ParitoshKabra commented on #13162
@Nik-09 unfortunately I won't be able to continue with AnswerSubmittedHandler ! Kindly deassign me from the same

[2022-03-20 15:18] ParitoshKabra commented on #14219
@U8NWXD Unfortunately, I won't be able to finish  `core.domain.state_domain_test`
 `core.domain.exp_domain_test ` for the time being. Please deassign me from the same

[2022-03-20 17:38] davisong commented on #13162
@Nik-09 Hi, unfortunately I am no longer working on my assigned handlers.

[2022-03-20 17:49] ProttoyChakraborty commented on #13162
@Nik-09  Unfortunately , I'm not being able to take out time to continue working on this issue , kindly unassign me from the same.

[2022-03-20 20:37] #15166 closed, assigned to paprajapati9

[2022-03-20 20:40] z-dras commented on #14219
Hi  @U8NWXD  I would like to be assigned two or three of the available files to work on.

[2022-03-21 07:10] seanlip commented on #2547
Ah -- we've deprecated the notifications page, so this issue isn't relevant any more. Closing it!

If you'd like to try a coding project on Oppia, please follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started instead.

[2022-03-21 07:10] #2547 closed

[2022-03-21 10:02] anandwana001 opened #15176 "Investigate: How to figure out problematic Explorations"
**Describe the bug**
While running the beam job for PR #13391 few errors have occurred regarding the incorrect existing data type.

**Observed behavior**
At the place of the field where the required data type is number, the string is found.
[code]

**Expected behavior**
All the data types in the fields should be correct.

**Desktop (please complete the following information; delete this section if

[2022-03-21 15:36] U8NWXD commented on #14187
@Hatilar420 assigned

[2022-03-21 15:45] U8NWXD commented on #14219
@z-dras I assigned you to `core.domain.state_domain_test` and `core.domain.exp_domain_test`

[2022-03-21 15:46] vojtechjelinek commented on #15023
@mridul-netizen Can you verify whether this works?

[2022-03-21 15:50] vojtechjelinek commented on #14033
@Darsuu @ashish-patwal Done.

[2022-03-21 15:53] vojtechjelinek commented on #14033
The function returns value from the `NAMES` enum, so the return type should be `models.NAMES`.

[2022-03-21 17:48] z-dras commented on #14809
I am still experiencing this issue on Mac 12.3
<img width="1069" alt="Screen Shot 2022-03-21 at 1 31 16 PM" src="https://user-images.githubusercontent.com/89799411/159333419-34900c64-e41c-4ad6-a87e-2360fc8f30f1.png">
<img width="733" alt="Screen Shot 2022-03-21 at 1 31 05 PM" src="https://user-images.githubusercontent.com/89799411/159333438-dd2a51ab-5a60-45e4-a261-3262a3a40694.png">

[2022-03-21 18:36] Kimbohlovette commented on #9749
Hello @nithusha21 , @darksun27 could you please assign me to these files so I can start working on them?
`editor-reloading-modal.controller`
 `exploration-metadata-modal.controller`
 `exploration-publish-modal.template`

[2022-03-21 20:34] lilytai commented on #14219
Hello @U8NWXD, first time here and would like to be assigned to 2-3 available files to work on.

[2022-03-21 21:51] arjunjaitly commented on #14419
Hey, I'd like to work on any unassigned files as well, thanks

[2022-03-21 21:54] arjunjaitly commented on #14219
Hey @U8NWXD , I'd like to work on 1 or 2 files as well, thanks!

[2022-03-21 21:56] deepeshaburse commented on #14219
@U8NWXD I am unable to work on the issues you have assigned me, please unassign them. Thanks!

[2022-03-22 02:46] U8NWXD commented on #14809
@z-dras the relevant part of the error message in this issue is

[code]

In your case, I suspect a Python issue. Which set of [installation instructions](https://github.com/oppia/oppia/wiki/Installing-Oppia) did you follow?

[2022-03-22 02:47] U8NWXD commented on #14809
It looks like someone else encountered this issue in https://github.com/oppia/oppia/issues/14256, but there's no resolution there

[2022-03-22 05:39] U8NWXD commented on #14219
@deepeshaburse done. @lilytai @arjunjaitly assigned

[2022-03-22 06:02] mridul-netizen opened #15177 "Add more features to Music-Notes-Input Interaction"
- [ ] Add more options for note durations.
- [ ] Add chord functionality.
- [ ] More notes types will be added to NOTE_TYPES.

[2022-03-22 13:36] z-dras commented on #14809
I followed https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%3B-Python-3%29 and looking back I think I had an error with step 2&3 that didn't get resolved properly resulting in pyenv not working right. The oppia virtual env is on and set to 3.710 but for some reason Im still on 3.7.9
<img width="848" alt="Screen Shot 2022-03-22 at 9 34 43 AM" src="https://user-images.githubusercontent

[2022-03-22 13:45] vandyyyy commented on #15164
kindly aassign this issue to me

[2022-03-22 14:41] SD-13 commented on #15164
done

[2022-03-22 16:44] U8NWXD commented on #14809
@z-dras maybe your `python` command isn't pointing to pyenv. What do you see if you run `which python`?

[2022-03-22 16:59] srikanthkb opened #15180 "Hint editor in exploration state editor is broken"
**Describe the bug**
Any changes made in the hint editor in exploration-editor webpage, does not reflect or get saved.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Exploration editor for a new exploration
 2. Add the content description, interaction components (NOT of type "End exploration")
 3. Scroll down to Hints in the editor page
 4. Click on Add Hint, a new modal opens up and

[2022-03-22 17:01] z-dras commented on #14809
@U8NWXD what is the expected output?
<img width="323" alt="Screen Shot 2022-03-22 at 1 00 36 PM" src="https://user-images.githubusercontent.com/89799411/159534900-5f63f77c-e362-49fb-a9de-746ab93ddf39.png">

[2022-03-22 17:10] U8NWXD commented on #14809
@z-dras OK, I think that's the problem. I would expect to see something like `~/.pyenv/shims/python`. Can you run `echo $PYENV_ROOT` and `echo $PATH` to check that `PYENV_ROOT` is `~/.pyenv` (instead of `~` you should see the path to your home folder) and that `~/.pyenv/bin` is in your `PATH`? If those environment variables are right, you should be able to configure pyenv by running the `eval` com

[2022-03-22 17:16] seanlip commented on #15180
Marking this as a serious regression -- /cc @vojtechjelinek @kevintab95 for info.

[2022-03-22 17:17] z-dras commented on #14809
Yea something is definitely not right. I checked the contents of bash profile, opened a fresh terminal and ran those commands and it's definitely not pointed to the right spot. Not sure how to fix it though.
<img width="820" alt="Screen Shot 2022-03-22 at 1 15 42 PM" src="https://user-images.githubusercontent.com/89799411/159537995-0e5bd642-a9bc-404a-b85b-43d7a613bcae.png">
<img width="441" alt="S

[2022-03-22 17:32] z-dras commented on #14809
that pyenv file exists in ~ though so im not sure why it seems like it can't find it <img width="651" alt="Screen Shot 2022-03-22 at 1 32 12 PM" src="https://user-images.githubusercontent.com/89799411/159540890-2ffe7499-682f-4168-8520-4b703839b0b2.png">

[2022-03-22 17:51] sagangwee opened #15182 "[CD Translation Review] Organize reviewable translations by lesson"
Requirements:

- Initial reviewer view should be list of lesson cards presented in numerical order, i.e. the order in which the lesson appears in the corresponding topic/story.
- Clicking a lesson card shows a list of translation cards within a lesson in the order that the content appears in the lesson, e.g. like https://github.com/oppia/oppia/issues/12182 describes.
- Clicking a translation card

[2022-03-22 17:52] sagangwee opened #15183 "[CD Translation Review] Link to Exploration Editor in translation review card"
See mock: https://docs.google.com/document/d/1lIXkcQwPcPeS715vhX6mY-lowzltLxE8v2QQEvFadks/edit#bookmark=id.lnwjpf2dpaft

[2022-03-22 17:59] sagangwee opened #15184 "[CD Translation Review] Allow pinning and unpinning a lesson for review"
See the "Continuity" user story in the PRD: https://docs.google.com/document/d/1lIXkcQwPcPeS715vhX6mY-lowzltLxE8v2QQEvFadks/edit#heading=h.gijy5hr671ce

[2022-03-22 18:03] sagangwee commented on #12182
Marking as obsolete as we are planning on displaying the translation cards in sorted list form as part of our reorganization of reviewable translations by lesson: https://github.com/oppia/oppia/issues/15182.

[2022-03-22 18:15] sagangwee opened #15185 "[CD Translation Review] Add translation status of lessons in new lesson card view"
After https://github.com/oppia/oppia/issues/15182, reviewers should be able to see the translation status of each lesson with unreviewed cards (i.e., # of translated cards / total translation cards).

[2022-03-22 18:24] U8NWXD commented on #14809
Ohh I think I know why. Are you using zsh as your shell? You can check by running `echo $SHELL`. Macs now use zsh instead of bash as their default shell, and zsh loads `~/.zshrc` instead of `~/.bash_profile`. If you are using zsh, you'll need to modify `~/.zshrc` instead

[2022-03-22 20:00] z-dras commented on #14809
yes that resolved it thank you! If I were given access I'd be happy to adjust the mac installation instructions for future users

[2022-03-22 21:21] U8NWXD commented on #14809
I don't have the privileges to give you access to the wiki, so I went ahead and updated the pages. Thanks for offering though!

[2022-03-22 21:22] U8NWXD commented on #14256
@fishfree A similar issue was found and resolved in #14809, so you might find that issue helpful

[2022-03-22 22:24] ghost commented on #14419
Hi guys, any work unassigned to do? i would be glad for the opportunity. Thanks.

[2022-03-22 22:24] vojtechjelinek commented on #15168
@kevintab95 @aks681 Do we care about this?

[2022-03-22 22:25] vojtechjelinek commented on #15169
@kevintab95 @aks681 Do we care about this?

[2022-03-23 00:09] kevintab95 commented on #15169
Oh that's odd. It seems like "Canonical Stories" section does not render completely in small screens. I think we should fix it.

[2022-03-23 00:12] kevintab95 commented on #15168
I think it's odd, the blank card should actually render this section instead:

![image](https://user-images.githubusercontent.com/11008603/159597069-3131e115-00d1-4ad4-960c-0bf16f362f5f.png)

We should fix it.

[2022-03-23 01:32] snagas22 commented on #14219
Hello @U8NWXD , this is my first time working here, and I would like to work on 2-3 files as well, can you assign me to a couple of them? Perhaps core.domain.user_services_test and core.domain.value_generators_domain_test? Thanks!

[2022-03-23 01:47] shanjng commented on #14219
Hi @U8NWXD, may I be assigned to the tasks for core.jobs.job_test_utils_test and core.schema_utils_test ?

[2022-03-23 01:49] Pewps commented on #14219
Hi @U8NWXD, I would like to work on the core.controllers.voice_artist_test. Thanks!

[2022-03-23 03:21] carriesdoung commented on #15134
Hi! Let's hold off on implementing this design proposal. We are in the process of revamping the design guide. I think it's a good color choice, but I'd like to discuss with the other designers and collectively develop a new color palette that can implement all over the site.

[2022-03-23 06:05] U8NWXD commented on #14219
@snagas22 @shanjng @Pewps assigned!

[2022-03-23 10:05] seanlip commented on #15134
Thanks @carriesdoung -- ok! Just to double-check though -- do you mean holding off on both of this, or just (1)? (In other words should we still go ahead with (2)?)

[2022-03-23 15:10] mridul-netizen commented on #15023
Only working fine for author of respective exploration for `exploration feedback` part as mentioned here, I'm not sure how to provide `suggestions from learners`.

[2022-03-23 16:38] igraine82 opened #15188 ""Previous responses" are not working properly"
**Describe the bug**
While solving Place Values, "Rounding numbers Part 1" chapter, "Review 2" card, after submitting an answer when I checked the "previous responses" arrow it showed something weird.
![image](https://user-images.githubusercontent.com/99808136/159748638-a1c24b87-2653-48c8-91cf-bedcc36fd43a.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org/exp

[2022-03-23 19:58] carriesdoung commented on #15134
@seanlip, yes I think proposal #2 with a white outline is a good suggestion. Let's implement this. Thanks!

[2022-03-23 20:01] anmre21 commented on #13162
@Nik-09 Could I be assigned to any 3 open handlers? I see SkillDataHandler, SuggestionListHandler, and FlagExplorationEmailHandler are open, but I am also ok with being assigned to a different handler that someone has dropped. Thanks!

[2022-03-23 20:13] srijanreddy98 opened #15190 "Throw an error when a validator is not found in the frontend (apply-validation directive)."
Match the frontend and the backend implementations for the all the validators in the codebase and create a common file that contains testcases for testing it in frontend and backend with the same sets of input to keep the validators always in sync. Also throw an error when the a particular validator is not found.

[2022-03-23 23:26] kevintab95 commented on #15164
IMO this is not blocking any user facing action, it seems like parsing the "preserveAspectRatio" attribute for this specific SVG seems to cause console error on Chrome. Note that in Firefox this results in a warning, not an error.
![image](https://user-images.githubusercontent.com/11008603/159812521-7b8f7f37-aaa6-4d46-b54d-cfc5daeb52fe.png)

It is not clear why `preserveAspectRatio="xMidYMid meet"

[2022-03-24 01:00] kevintab95 commented on #15158
Seems related to https://github.com/oppia/oppia/issues/14752 (see https://github.com/oppia/oppia/issues/14752#issuecomment-1072793128)

[2022-03-24 03:07] erinrshi commented on #15105
Hi! can i be assigned this issue?

[2022-03-24 03:25] kevintab95 commented on #14705
This still occurs on the server. Reopening.

[code]

[2022-03-24 03:30] kevintab95 opened #15193 "Attempting to regenerate summary for deleted exploration fails"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 03:31] kevintab95 commented on #15193
Possible fix for this would be to skip regenerating summaries for deleted explorations.

[2022-03-24 03:35] kevintab95 opened #15194 "FailedPrecondition: 400 no matching index found"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 03:36] kevintab95 commented on #15194
@vojtechjelinek could you please take a look at this? This one seems to occur quite frequently on prod.

[2022-03-24 03:44] kevintab95 opened #15195 "replace is not a function"
This error occurred recently in production

[code]

**Additional context**

This occured in the contributor dashboard page.

**General instructions**
There are no specific repro steps available for this bug report. The general procedure to fix server errors should be the following:

* Analyze the code in the file where the error occurred and come up with a hypothesis for the reason.
* Get the logi

[2022-03-24 03:48] kevcch commented on #14219
Hey @U8NWXD, may I be assigned to core.domain.interaction_registry_test and core.domain.opportunity_services_test? Thank you!

[2022-03-24 04:00] BenHenning commented on #9924
Note that the label from the image region can't be used for accessibility purposes since it would give away the answer (which is why a new content description needs to be added).

[2022-03-24 04:08] kevintab95 opened #15196 "Cannot read properties of undefined (reading 'length') [GraphLayoutService]"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:17] kevintab95 opened #15197 "InvalidInputException: The destination XXX is not a valid state."
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:20] kevintab95 opened #15198 "Found a duplicate content id feedback_2"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:22] kevintab95 commented on #12655
This still occurs. Latest stack trace:

[code]

[2022-03-24 04:26] kevintab95 commented on #7445
This still occurs:

[code]

[2022-03-24 04:32] seanlip commented on #9924
Note that this will entail adding a new "alt text" field for the description of **each** region, not just the "correct" one.

[2022-03-24 04:37] kevintab95 opened #15199 "Please keep the number of skill IDs below 20"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:39] kevintab95 commented on #15199
/cc @Rijuta-s @krishita30j @aks681 this seems serious. From what I can tell, when a user reaches the lesson corresponding to "node 8" on prod they will see this error.

[2022-03-24 04:42] kevintab95 opened #15200 "Type error when updating answer groups"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:51] U8NWXD commented on #14219
@kevcch done!

[2022-03-24 04:55] kevintab95 opened #15201 "KeyError: 'new_value' in LearnerDashboardThreadHandler"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 04:55] U8NWXD commented on #14219
@ParmeetChawla25 @Akshaj000 @anthonyqzhu @Sreelayavuyyuru @rishabhbajpai2000 @deepakdinesh1123 @Aayush452-cell @div-yam Are you still working on your assigned tasks? Please let me know if you are. Otherwise, I'll deassign you so other contributors can work on them

[2022-03-24 04:56] kevintab95 opened #15202 "'NoneType' object has no attribute 'path'"
This error occurred recently in production

[code]

[2022-03-24 04:57] kevintab95 commented on #15202
/cc @sagangwee since it might be affecting CD based on the logs

[2022-03-24 05:01] kevintab95 opened #15203 "AttributeError: 'ExplorationPage' object has no attribute 'user'"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 05:07] kevintab95 opened #15204 "[Statistics] Expected time_spent_in_sec to be non-negative"
This error occurred recently in production

[code]

**Additional context** Add details from the logs, like the page the error occurred on. Make sure to anonymize user data like user IDs, exploration IDs, state names, user names, etc. Replace the personal data with appropriate placeholders.

**General instructions**
There are no specific repro steps available for this bug report. The general proced

[2022-03-24 05:24] kevintab95 opened #15205 "Solution editor looks weird in the contributor dashboard question submission interface"
**Describe the bug**
Solution editor looks weird in the contributor dashboard question submission interface.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to contributor dashboard.
 2. Try to submit a question with a solution.
 3. See error.

**Observed behavior**
Solution editor does not seem to be bound inside a card.

**Expected behavior**
Solution editor should be bound inside a ca

[2022-03-24 05:27] kevintab95 opened #15206 "Highlighted icons look weird in the exploration editor page"
**Describe the bug**
Highlighted icons look weird in the exploration editor page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'the exploration editor.
 2. Click on icons in the nav bar.
 3. See error.

https://user-images.githubusercontent.com/11008603/159848532-ea1a96a5-d7df-4d1c-903f-5de028d69bd7.mp4

[2022-03-24 06:25] seanlip commented on #15134
Thanks!

@Lawful2002 @Rijuta-s @nithinrdy could you please triage (2) for the LaCE Quality team?

[2022-03-24 07:39] kevintab95 commented on #15158
Confirming that it is the same issue. Working on a fix.

[2022-03-24 07:41] kevintab95 commented on #14752
Working on a fix for the review message in question suggestions not showing up.

[2022-03-24 07:42] bhavukJain commented on #14752
Hey, I have the fix for this. I will shortly be raising the pull request.

[2022-03-24 07:47] kevintab95 commented on #14752
Ah, I've included the fix in https://github.com/oppia/oppia/pull/15192. It was also brought up as part of the release blocking bugs, so went ahead with a fix. It was a change detection issue post migration.

[2022-03-24 08:02] seanlip commented on #15188
@Rijuta-s @Lawful2002 @nithinrdy Please prioritize for LaCE Quality -- thanks!

@kevintab95 should we be treating this as a blocking bug?

[2022-03-24 08:03] bhavukJain commented on #14752
Ah, I see. Np. I was almost done pushing my PR (was fixing lint checks). But now that you have done, we were also seeing a similar problem when users were trying to view review message for translation suggestions.
Can you also add fix for translation suggestions in your existing PR then?
Here is the PR I raised earlier, but later we thought we will add fix for question suggestions as well in this

[2022-03-24 08:04] kevintab95 commented on #14752
Yup, will do, thanks!

[2022-03-24 08:06] nithinrdy commented on #15188
Hey @seanlip, I believe this issue is the same as what I encountered when working on enabling solutions for the item-selection-input interaction ([this comment](https://github.com/oppia/oppia/pull/15128#issuecomment-1075276274)). I'm working on fixing this, and will update that PR soon.

[2022-03-24 08:07] kevintab95 commented on #15188
@nithinrdy would it be possible to isolate the changes to fix this particular issue? That way we can include it in the current release. Alternative would be to speed up the existing PR with the fix for this issue. We're aiming to get the release out by Mar 27.

[2022-03-24 08:09] nithinrdy commented on #15188
Got it, will open a separate PR for this issue.

[2022-03-24 08:32] paprajapati9 commented on #15123
Issue was fixed in https://github.com/oppia/oppia/pull/15125

[2022-03-24 08:32] #15123 closed, assigned to paprajapati9

[2022-03-24 09:03] kevintab95 commented on #15029
@sahiljoster32 can you please clarify what you meant by "glitch part Is going to be handled separately" in https://github.com/oppia/oppia/issues/15029#issuecomment-1065333270 (i.e. is there an issue tracking this?)

[2022-03-24 09:10] kevintab95 commented on #14752
On develop, I don't see the change detection issue with transation review messages. It seems to work as expected. The review message shows up even on slow / throttled connections.

https://user-images.githubusercontent.com/11008603/159881912-8b602d19-962d-428b-8257-676ffb6296b0.mp4

[2022-03-24 09:52] sahiljoster32 commented on #15029
By "glitch part Is going to be handled separately", I mean a new issue/thread is going to be created for this. Because this behavior is observed on other pages also.

[2022-03-24 10:20] Darsuu commented on #14033
@vojtechjelinek Could you please tell me the return type of ```name``` in this case for the file ```platform_parameter_registry```
![mypy question](https://user-images.githubusercontent.com/81075125/159894650-b6a5137d-269a-433f-8ef8-9ccbe8e9d3e2.JPG)
What I've put in place for name is wrong.
I know its an ```enum``` type but the enum is defined in the test file for the same. So I can't import the

[2022-03-24 10:20] kevintab95 commented on #15029
Ah ok, please feel free to create the issue with all the necessary details to debug / fix and link it here. When can it be done by?

[2022-03-24 10:50] bhavukJain commented on #14752
Oh no, so the issue is, in cases where review message takes some to load and it doesn't immediately appear, it gives the impression that there is no review message and people end up just closing the window. So, it may be a good idea to add a loading indicator/spinning icon (which is what we thought of doing for question suggestions as well) which appears till the time review message is loading and

[2022-03-24 10:52] kevintab95 commented on #15023
Per offline discussion with @seanlip, we think the fix would be to not show the "suggestion from learners" section and only show the count of "open" exploration feedback. I'm working on a fix.

[2022-03-24 11:12] kevintab95 commented on #14752
Ah ok, that seems like a different issue. Feel free to continue work on your PR in that case.

My fix is related to the change detection issue i.e. the message never shows up unless the user clicks on something.

[2022-03-24 14:40] bhavukJain commented on #14752
Oh, I understand. The PR I was planning had fixes for both, i.e. the message never shows up unless the user clicks on something, along with having a loading indicator for question suggestions.

I will then only have it for loading indicator then.

[2022-03-24 15:42] sahiljoster32 commented on #15023
Thank you so much @kevintab95 !!

[2022-03-24 15:50] sahiljoster32 commented on #15029
I'll file an issue once I get an update from the LaCE quality team members because they also working on tracing the error so I will do this by Saturday. Is that fine with you? @kevintab95

[2022-03-24 17:14] vojtechjelinek opened #15209 "The percentage in the story viewer is upside down when RTL translation"
The percentage in a story viewer is upside down when we switch to the RTL (Arabic) language.

![image](https://user-images.githubusercontent.com/10142938/159972027-40e87620-b6d2-4de9-8d2f-6e409c23ab41.png)

[2022-03-24 20:08] JeeveshGarg opened #15212 "Remove not null check (`!==`) after whole codebase is strictly typed."
Remove `if` checks after whole codebase is strictly typed. Currently we use extra safeguard using regular not null check (!==) everywhere. Because we cannot be sure that in some non-strict files someone sends or sets null to this file and then we would face a runtime error risk.
- [ ] playthrough.service.ts

[2022-03-24 20:47] z-dras commented on #14219
@U8NWXD To clarify requirements: core.domain.state_domain_test looks like it calls functions from many (100+) files and all appear in the coverage output. Are we looking for 100% on all of these files or just on core.domain.state_domain. I'm assuming the latter but wanted to confirm.

[2022-03-24 20:57] U8NWXD commented on #14219
@z-dras as you assumed, you only need to worry about getting 100% coverage on `core.domain.state_domain`. Those other files have their own tests

[2022-03-25 08:07] jahd2602 opened #15214 "audioFinishedCallback is never called"
**Describe the bug**
The callback audioFinishedCallback() is not being called in core/templates/services/autogenerated-audio-player.service.ts when the audio has finished playing (as it should).

This is because the /core/templates/services/speech-synthesis-chunker.service.ts is not calling the callback in the _speechUtteranceChunker() function.

To test this, I tried adding console.log to these 2

[2022-03-25 08:44] Akshaj000 commented on #14219
Hey actually im trying to work on it but not going well as i expected. Ig u can unassign me.

[2022-03-25 10:35] anthonyqzhu commented on #14219
I am no longer working on this, you can deassign me.

[2022-03-25 13:52] ashish-patwal commented on #13059
Reopening issue as it will be aimed to track removing typing specific `# type: ignore[<error>]` and tests aimed towards validating wrong inputs types .
With the migration of codebase to typed code , these `ignores` and `wrong type input validation tests` will not be required since this need will already be fulfilled by mypy and typing .

[2022-03-25 13:55] vojtechjelinek commented on #15206
@kevintab95 Will you also be fixing this?

[2022-03-25 13:55] vojtechjelinek commented on #15205
@kevintab95 Will you also be fixing this?

[2022-03-25 13:55] vojtechjelinek commented on #15037
@kevintab95 @aks681 Any update on this?

[2022-03-25 13:57] vojtechjelinek commented on #15029
@kevintab95 @sahiljoster32 Who will be fixing this issue?

[2022-03-25 17:25] kevintab95 commented on #15206
Yup will be fixing this

[2022-03-25 17:26] kevintab95 commented on #15205
Yup will be fixing this.

[2022-03-25 17:26] kevintab95 commented on #15037
Working on this today.

[2022-03-25 17:37] kevintab95 commented on #15029
Per offline discussion, @vojtechjelinek will help find a solution for this.

[2022-03-25 18:45] U8NWXD commented on #14219
@Akshaj000 just to be clear, I'm not trying to push you out of working on this issue. People sometimes forget that they're assigned after they move on to other projects, so I try to send these reminders every so often. If you still want to work on this issue, you're welcome to do so, and I'm happy to leave you assigned

[2022-03-25 21:02] vojtechjelinek commented on #12435
After some experience with Beam jobs I don't think we need this feature.

[2022-03-25 21:02] #12435 closed, assigned to vojtechjelinek, nithusha21

[2022-03-25 21:05] #13944 closed, assigned to nobody

[2022-03-25 21:07] vojtechjelinek commented on #14202
@DubeySandeep @U8NWXD Friendly ping

[2022-03-25 23:27] #14752 closed, assigned to kevintab95

[2022-03-25 23:27] #15156 closed, assigned to kevintab95

[2022-03-25 23:27] #15158 closed, assigned to kevintab95, aks681

[2022-03-25 23:27] #15159 closed, assigned to kevintab95

[2022-03-25 23:27] #15163 closed, assigned to kevintab95, aks681

[2022-03-25 23:27] #15180 closed, assigned to kevintab95

[2022-03-26 17:55] divyanshkhetan commented on #10474
@vojtechjelinek can you please assign me a file?

[2022-03-26 19:23] jordyparker commented on #10474
@vojtechjelinek kindly unassign `core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts` to me

[2022-03-26 22:40] vojtechjelinek commented on #10474
@divyanshkhetan @jordyparker Done.

[2022-03-27 13:39] Sneakyhydra commented on #10474
@vojtechjelinek can you please assign me a file?

[2022-03-27 14:32] sahiljoster32 opened #15224 "UI bug during loading of pages."
**Describe the bug**
When the user opens ( or reloads ) a page in oppia, the UI appears to be broken for a second. This broken UI is hardly visible in fast networks but put a major impact on slow connection users. From the user side, it seems like the page is loading slowly.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/learner-dashboard
 2. Navigate

[2022-03-27 14:36] sahiljoster32 commented on #15029
Hey, I opened an issue regarding this! (#15224).
@kevintab95 @vojtechjelinek  Please take a look!

Thanks!!

[2022-03-27 14:59] vojtechjelinek commented on #10474
@Sneakyhydra Done.

[2022-03-27 15:00] #15029 closed, assigned to vojtechjelinek

[2022-03-28 03:14] U8NWXD opened #15225 "Cyclic Imports"
The linter found cyclic imports when run locally:

[code]

In this case:

* `core.domain.exp_services` imports `core.domain.opportunity_services`:
  https://github.com/oppia/oppia/blob/d010f1abfa257eac4be09b34ba4f5986cfb6f4ae/core/domain/exp_services.py#L52
* `core.domain.opportunity_services` imports `core.domain.suggestion_services`:
  https://github.com/oppia/oppia/blob/d010f1abfa257eac4be09b34

[2022-03-28 04:52] #11560 closed, assigned to Manan-Rathi

[2022-03-28 07:01] seanlip commented on #15225
Just a note -- @Hudda has kindly offered to take a quick look at this. Thanks @Hudda!

[2022-03-28 08:19] #15188 closed, assigned to kevintab95, Rijuta-s, Lawful2002, nithinrdy

[2022-03-28 09:53] Hudda commented on #15225
@U8NWXD Getting this error in other files as well: https://github.com/oppia/oppia/runs/5715305440?check_suite_focus=true

And in two other files while running linter locally.
************* Module core.platform.bulk_email.mailchimp_bulk_email_services_test
core/platform/bulk_email/mailchimp_bulk_email_services_test.py:1:0: R0401: Cyclic import (core.platform.auth.firebase_auth_services -> core.plat

[2022-03-28 10:41] Hudda commented on #15225
@U8NWXD @seanlip This is what I discovered: To check for cyclic import all the files causing cyclic import must be loaded in the linter, only then linter will identify the cyclic error. Right now, I think we run linter in shards, so there's a possibility that all the files causing cyclic import error might not be in that shard's filegroup and therefore our linter does not detect any error.

[2022-03-28 15:40] U8NWXD commented on #15225
@Hudda thanks, that makes sense. I started digging into this because of cyclic import errors I'm seeing on #15219, which just changes the codeowners file. Do you have any thoughts as to why changes to the codeowners file would cause these errors to surface?

[2022-03-28 16:43] vojtechjelinek commented on #14033
I think it should be just `platform_parameter_lsit.PARAM_NAMES`, what exact error is this producing?

[2022-03-28 17:45] Rijuta-s commented on #15214
@jahd2602 Will you be able to raise a fix for this one inorder to unblock your solution for #14261 ? Let me know incase you want me to assign it to someone else!

[2022-03-28 18:04] vojtechjelinek commented on #15194
This is weird as we have:

[code]

in the index.yaml, I don't think that the order of the properties matters. Can you please send me the link to the error on Google Cloud?

[2022-03-28 18:36] Darsuu commented on #14033
There is no error produced in the ```platform_parameter_registry``` file but there are multiple errors produced in the ```platform_parameter_registry_test``` file.
![paramnames](https://user-images.githubusercontent.com/81075125/160463960-8350fb65-9b15-4b8c-8ecf-b6a027610538.JPG)

[2022-03-28 21:04] kevintab95 commented on #15194
Hi @vojtechjelinek, I've sent it as a direct message.

[2022-03-28 21:27] U8NWXD commented on #15225
@Hudda Actually, I don't think the shards can explain this. I also see cyclic imports intermittently when running the linter on all files. Further, all of `core/domain` is in one shard, so sharding shouldn't have affected the cycle at the top of this issue.

I think this error might be arising despite our code running correctly because pylint considers imports to be cyclic even if some imports are

[2022-03-29 06:35] jahd2602 commented on #15214
Hi @Rijuta-s, I will continue working in this issue to unblock #14261 this week. However, any hint to accelerate the fix of this will be highly appreciated!

[2022-03-29 07:05] #15023 closed, assigned to kevintab95

[2022-03-29 07:05] #15037 closed, assigned to kevintab95, aks681

[2022-03-29 07:05] #15205 closed, assigned to kevintab95

[2022-03-29 07:05] #15206 closed, assigned to kevintab95

[2022-03-29 08:52] kevintab95 opened #15231 "[new lint rule] Disallow reassigning global variables outside beforeEach / beforeAll blocks in Jasmine tests"
Jasmine tests run in a random order, this means, reassigning global variables can lead to race conditions. See https://github.com/oppia/oppia/pull/15230#issue-1184519447 for example. See Jasmine test [documentation](https://jasmine.github.io/api/edge/Configuration), the "random" configuration property is set to true by default.

It would be better if global variables are reserved for constants or

[2022-03-29 10:48] vojtechjelinek commented on #15194
Ref #14164, I think we can try to add the index with different order of properties, otherwise I have no idea what might be the problem.

[2022-03-29 11:04] vojtechjelinek commented on #14033
Ah, I see. I think you might just need to ignore these (with a proper explanation) or somehow change the tests to use the `PARAM_NAMES`.

[2022-03-29 13:29] seanlip opened #15234 "Editor settings tab has error in displaying help text for feedback settings"
**Describe the bug**
The description text for the feedback email settings in the Exploration Settings tab doesn't match the actual setting. See screenshot below -- it says "you are currently receiving notifications", though the toggles are set to "OFF".

![Screenshot from 2022-03-29 21-25-19](https://user-images.githubusercontent.com/10575562/160621666-9bc37a7e-7585-40d0-89ad-35e83838d7b0.png)

**

[2022-03-29 13:30] seanlip commented on #15234
Hi @nithinrdy @Rijuta-s @Lawful2002 -- flagging as a (probably quite easy) LaCE quality team project. Thanks!

[2022-03-29 13:38] Sneakyhydra commented on #15234
@nithinrdy @Rijuta-s  @Lawful2002 Can I work on this?

[2022-03-29 13:58] ashrrithk commented on #14419
Hi @JeeveshGarg,

I'm a bit preoccupied with some other work and not able to work on the assigned tasks. So, can you please unassign me from:

CATEGORY app_feedback_report_constants.py
ENTRY_POINT app_feedback_report_constants.py
STATS_PARAMETER_NAMES app_feedback_report_constants.py

and assign it to someone else.

Thanks

[2022-03-29 15:28] divyanshkhetan commented on #10474
@vojtechjelinek Can I work on `core/templates/components/forms/schema-based-editors/schema-based-editor.directive.ts`

[2022-03-29 15:34] Lawful2002 commented on #15234
@Sneakyhydra Sure! Go Ahead.

[2022-03-29 15:39] vojtechjelinek commented on #12434
@nithusha21 Was this done? If not can you look into it or ask @ankita240796?

[2022-03-29 16:38] #15225 closed, assigned to Hudda

[2022-03-29 17:36] Rijuta-s commented on #15234
@Lawful2002 Please ensure that the contributor has filled in CLA and have completed local set up before assigning them to the issues. @Sneakyhydra Can you please follow the [get started wiki](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) and fill up the CLA before taking up any issue ?

[2022-03-29 17:57] Sneakyhydra commented on #15234
@Rijuta-s I have signed the CLA and my local server is working properly. Thanks!

[2022-03-29 18:04] Rijuta-s commented on #15234
@Sneakyhydra Thanks, Assigning it back to to you!

[2022-03-30 09:23] deepakdinesh1123 commented on #14219
I am no longer working on this, sorry for not mentioning it.

[2022-03-30 09:24] lkbhitesh07 commented on #13822
Hello @chiragbaid7,
Will you be working on the issue you are assigned to? As of now, I'm unassigning you but please do let me know if in the future you want to work on this.
Thanks

[2022-03-30 14:30] seanlip opened #15244 "Chapter editor menu looks broken on mid-width screens."
**Describe the bug**
In the chapter editor, the pull-up menu from the bottom looks broken on a mid-width screen (not too narrow, not too wide, around 750-980px in width).

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new topic, create a story in that topic, and go to the chapter editor.
 2. Resize the browser viewport so that it is 750-980px wide.
 3. Click on the menu icon at th

[2022-03-30 14:31] seanlip commented on #15244
Assigning to @Rijuta-s @Lawful2002 @nithinrdy for triage (for the LaCE Quality team).

[2022-03-30 15:19] U8NWXD commented on #14219
Deassigned @ParmeetChawla25 @Akshaj000 @anthonyqzhu @Sreelayavuyyuru @rishabhbajpai2000 @deepakdinesh1123 @Aayush452-cell

[2022-03-30 16:03] sagangwee opened #15245 "[CD] Update "only reviewers can translate this card" wording"
Wording change: "only reviewers can translate this card" --> "only people with reviewer access can translate this card" (Otherwise sounds like there's only 1 person looking at the card.) This is for translating rules content.

[2022-03-30 17:01] #13991 closed, assigned to ankita240796

[2022-03-30 17:55] seanlip opened #15246 "Prerequisite skills from other topics don't load properly in the chapter editor."
**Describe the bug**
Prerequisite skill descriptions go missing from the chapter editor page when the page is reloaded.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create 2 topics: A and B.
 2. In topic A, create skill SA1.
 3. In topic B, create a story and a chapter in that story.
 4. Assign skill SA1 as a prerequisite skill to that first chapter, and save the changes.
 5. Refresh the

[2022-03-30 17:56] seanlip commented on #15246
Assigning to LaCE Quality team for triage -- /cc @Rijuta-s @nithinrdy @Lawful2002

[2022-03-30 19:02] divyanshkhetan commented on #15246
@Rijuta-s @nithinrdy @Lawful2002  Can you please assign me this issue? Thanks!

[2022-03-31 02:19] anmre21 commented on #13162
@Nik-09 Is this issue still being worked on? If so please assign me to the open handlers.

[2022-03-31 02:21] swethasekhar commented on #14219
@U8NWXD : I would like to work on core.storage.user.gae_models_test. I am unable to assign it myself. Thanks

[2022-03-31 04:48] divyanshkhetan commented on #10474
@vojtechjelinek please unassign `core/templates/pages/topics-and-skills-dashboard-page/modals/create-new-skill-modal.component.ts` to me

[2022-03-31 05:01] U8NWXD commented on #14219
@swethasekhar assigned!

[2022-03-31 06:51] jahd2602 commented on #15214
Progress: I got it working on my dev environment, but broke a few tests. Fixing them...

[2022-03-31 07:55] jahd2602 commented on #15214
Fixing them is quite hard and slow given #9648, I will continue tomorrow.

[2022-03-31 09:09] JeeveshGarg commented on #14419
CATEGORY app_feedback_report_constants.py @Hatilar420
ENTRY_POINT app_feedback_report_constants.py @arjunjaitly
STATS_PARAMETER_NAMES app_feedback_report_constants.py @PalmeseDavideMattia

Assigned Accordingly.

[2022-03-31 09:12] JeeveshGarg commented on #14419
@ashrrithk thanks for informing.

[2022-03-31 09:19] JeeveshGarg commented on #14419
@AnuragVats007 @Akshaj000 @AyushJ7 @ahsenkamal @ParmeetChawla25 guys are you still working? Can you please give your status. It is okay if you are busy in other project/PR, you can do this one later, by being assigned. But i need your status.

Thanks.

[2022-03-31 09:32] AyushJ7 commented on #14419
@JeeveshGarg
Already completed my assigned tasks.
Thanks!!!

[2022-03-31 10:12] kevintab95 commented on #7462
Per the current status quo, we no longer allow URLs that contain protocols other than https. This issue can be closed once we confirm that there are no references to URLs on the server that are not https. Thanks!

[2022-03-31 11:36] Rijuta-s commented on #15246
@divyanshkhetan Can you please first fill up the CLA and set up the local server?

[2022-03-31 13:13] divyanshkhetan commented on #15246
@Rijuta-s I have already signed the CLA and my local server is setup. Thanks!

[2022-03-31 15:35] vojtechjelinek commented on #13410
Will be done in GSoC

[2022-03-31 15:36] vojtechjelinek commented on #13108
Will be done in GSoC

[2022-03-31 15:37] vojtechjelinek commented on #11776
@U8NWXD Both Sajal and Hardik are inactive, you don't need to act on this, maybe just check priority and whether it might be turned into Good First Issue

[2022-03-31 20:21] BlakeHan01 commented on #13162
@Nik-09  Can I be assigned to any of the open handlers or a handler that someone has dropped? I will start working on them asap.

[2022-03-31 21:34] BlakeHan01 opened #15248 "Error compiling proto files when installing third-party libs"
I ran into this error when I was working on https://github.com/oppia/oppia/issues/14219

[code]

**Additional context**
I ran
[code]
and the first two times showed the correct output, but I ran it again and it ran into this error. If anyone else ran into the issue or anyone has a potential answer to it, it's very appreciated!

**General instructions**
There are no specific repro steps available fo

[2022-04-01 03:30] Nik-09 commented on #13162
Sorry @anmre21 for the delay in response, I have assigned you the handlers.
And @BlakeHan01 Done. (InstantFeedbackMessageEmailHandler, SuggestionEmailHandler)

Thank you

[2022-04-01 04:00] Nik-09 commented on #13162
I have unassigned some of the folks from the list, drop a text if you are still working on the issue.
Thank you.

[2022-04-01 06:31] seanlip commented on #15248
I took a look at the relevant line in scripts/install_third_party_libs.py. If you view that file, you'll see that the contents of stderr are printed above the exception trace. So I searched for "protoc exec format error" and found results like the following which suggest that the wrong version of buf may be being run, or similar:

https://stackoverflow.com/questions/61184276/exec-format-error-try-

[2022-04-01 07:05] #15234 closed, assigned to Sneakyhydra

[2022-04-01 09:57] Darsuu commented on #14033
Okay, thank you

[2022-04-01 16:57] Rijuta-s commented on #14394
@gno-lit can you please confirm?

[2022-04-01 21:20] sagangwee commented on #12481
@chris7716 Since you originally implemented the editing of suggestions, do you mind taking this up after you finish up the design doc for https://github.com/oppia/oppia/issues/7571? Thanks.

[2022-04-01 21:31] kevintab95 opened #15251 "Unable to add a skill in the exploration editor"
**Describe the bug**
Unable to add a skill to an exploration linked to a story.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an exploration with at least 2 states.
2. Link the exploration to a chapter in a published story.
3. Go to the exploration editor.
4. Try to add a skill to one of the states.
5. See that the skill is not linked.

**Observed behavior**
Unable to add a skill t

[2022-04-01 23:13] kevintab95 opened #15253 "Skill editor in the exploraiton editor page does not update when switching between states"
**Describe the bug**
Skill editor in the exploraiton editor page does not update when switching between states

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to exploratione editor page
 2. Add a skill to state 1
 3. Add a skill to state 2
 4. Switch between state 1 and 1.
 5. Observe that the skill editor does not show the skill relevant to the active state.

**Observed behavior**
Skil

[2022-04-02 02:44] JeeveshGarg commented on #15251
@kevintab95 able to reproduce and figure out problem, And also able to solve.
Will make PR very soon, currently working on frontend tests and debugging other areas.

[2022-04-02 03:16] chris7716 commented on #12481
@sagangwee Yeah sure!

[2022-04-02 03:56] #15251 closed, assigned to nobody

[2022-04-02 04:36] JeeveshGarg commented on #15251
@seanlip i'm working on it.
Can you review my new PR? It has same changes as #15049 along with fixes this issue.

[2022-04-02 06:57] Nik-09 opened #15256 "Lesson info in practice session raises 404."
**Describe the bug**
Clicking lesson info button in practice session tab raises 404 error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Practice Session
 2. Click on Lesson info (bottom left)
 3. See an error in terminal / dev-tools

**Observed behavior**
404 error raised from the backend.

**Expected behavior**
Should get the lesson information.

**Screenshots**

https://user-imag

[2022-04-02 06:59] Nik-09 commented on #15256
@kevintab95 Can you please check & confirm whether this is not a duplicate issue.
Thank you.

[2022-04-02 09:11] yash37158 commented on #15245
can i work on this issue ?

[2022-04-03 10:22] yash37158 commented on #15177
I would like to work on this issue

[2022-04-03 22:57] LevBernstein commented on #14219
@U8NWXD I would like to work on scripts.install_third_party_libs_test. Thanks.

[2022-04-04 06:30] #15253 closed, assigned to kevintab95

[2022-04-04 07:44] seanlip opened #15263 "Titles on lesson tiles are not readable"
**Describe the bug**
In the community library at /community-library, some of the lesson titles are not readable. See the 2nd and 3rd cards below:

![Screenshot from 2022-04-04 15-42-03](https://user-images.githubusercontent.com/10575562/161497063-9aff402f-76e4-4e6b-adf0-ec464e1e202e.png)

I think this didn't happen before, so it might be an unexpected issue arising from a recent change in the font

[2022-04-04 07:45] seanlip commented on #15263
Assigning to LaCE Quality team for triage.

[2022-04-04 08:04] seanlip commented on #14424
Hm, it looks like this issue got missed. I just looked into it, and I think it is WAI, for the following reasons:

1. It seems that, *on the test server*, English audio is available for some cards but not all. Oddly, one of the cards it isn't available for is the first card. That's why the option is grayed out.
2. Since this is a test server, multiple people can edit the lesson, and I suspect the

[2022-04-04 08:04] #14424 closed, assigned to nobody

[2022-04-04 16:38] U8NWXD commented on #14219
@LevBernstein done!

[2022-04-04 16:39] U8NWXD commented on #15248
Whenever I see the `Exception: Error compiling proto files ...` error, I have to reinstall the dependencies by running `python -m scripts.clean && python -m scripts.start`

[2022-04-04 17:54] yash37158 commented on #15256
hey @Nik-09 can you please tell me how to run localhost on this project?

[2022-04-04 18:14] Nik-09 commented on #15256
Hi @yash37158, you can read this wiki for setting up the project on your machine. This wiki page explains everything regarding setup.
https://github.com/oppia/oppia/wiki/Installing-Oppia

In short, the answer to your question is -- run ```python -m scripts.start``` in your terminal, after setting up the project.
Thank you.

[2022-04-04 18:38] yash37158 commented on #15256
Thanks @Nik-09

[2022-04-05 02:56] winnie368c commented on #14033
@vojtechjelinek Hi, can I please be assigned to core/domain/question_fetchers.py? Thanks!

[2022-04-05 07:58] HarrietMwanza commented on #8668
Hello @nithusha21, my name is Harriet Mwanza. I am a computer science student interested in contributing to the good of Oppia and sharing the vision. I want to help with the documentation of the services. Looking forward to being assigned a file.

[2022-04-05 09:31] vojtechjelinek commented on #14033
@winnie368c Sure

[2022-04-05 15:32] BradFeng02 commented on #14219
Hi @U8NWXD , I would like to work on core.controllers.reader_test please. Thanks.

[2022-04-05 16:35] mridul-netizen commented on #15177
Hi @yash37158 this issue is not a starter issue, I would recommend finding some issue from this list https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#finding-something-to-do. Thanks!

[2022-04-05 20:58] aashish-khub commented on #14219
Hi, could I be assigned to work on core.constants_test? Thanks! :)

[2022-04-05 21:00] kzhang01 commented on #10474
@vojtechjelinek can you please assign me a file?

[2022-04-05 21:22] zhixuanevelynwu commented on #10474
@vojtechjelinek hi, I would like to work on this issue. Could you please assign me a file?

[2022-04-05 22:01] sagangwee commented on #12533
Thinking out loud:

1. We need to identify the repeated phrases. We could simply do this by frequency/length—scan all translated content cards, and for those cards that are less than 10 words or so, check if they appear more than once across each language.
2. We need a translation source of truth, e.g. how do we account for potential changes in the translation? One way like the user suggestion abo

[2022-04-06 00:36] nadintamer commented on #12425
Could I be re-assigned this issue @Rijuta-s? Thank you :)

[2022-04-06 03:26] U8NWXD commented on #14219
@BradFeng02 @aashish-khub done!

[2022-04-06 12:45] Lawful2002 commented on #7462
@kevintab95 Just to be sure, do we also have to 'remove' links that have the `http` protocol (eg. `http://www.test.com`)?

[2022-04-06 20:06] sagangwee commented on #12182
My mistake, this issue is for translation opportunities not reviewable suggestions.

[2022-04-06 20:19] kevintab95 commented on #7462
Yup

[2022-04-06 22:45] samanthaclark1 commented on #14219
Hi, could I be assigned to work on core.domain.stats_services_test? Thank you!

[2022-04-07 00:52] kennchou commented on #8015
Hi @kevintab95 , I would like to work on `core/templates/domain/skill/skill-backend-api.service.ts`. Can I possibly be assigned to that specific issue?

[2022-04-07 01:34] U8NWXD commented on #14219
@samanthaclark1 done!

[2022-04-07 03:10] HaveACookie commented on #10474
@vojtechjelinek  hello, Would it be possible for me to be assigned a file to work on?

[2022-04-07 11:50] vojtechjelinek commented on #10474
@kzhang01 @zhixuanevelynwu @HaveACookie Done.

[2022-04-07 12:31] vojtechjelinek commented on #14943
@lkbhitesh07 What are the next steps here?

[2022-04-07 17:08] kzhang01 commented on #10474
@vojtechjelinek the file you assigned me doesn't have any errors with strict checks, can you assign me an additional file?

[2022-04-07 17:10] divyanshkhetan commented on #15263
@Rijuta-s @Lawful2002 @nithinrdy Can I work on this?

[2022-04-07 17:15] Lawful2002 commented on #15263
@divyanshkhetan go ahead. Thanks!

[2022-04-07 17:45] Lawful2002 commented on #14957
I'm unable to reproduce this issue (even on a slow network). @Rijuta-s @nithinrdy Are you able to reproduce this?

[2022-04-07 22:46] vojtechjelinek commented on #10474
@kzhang01 Done, please make sure to include the first file in _tsconfig-strict.json_ too

[2022-04-08 06:20] jahd2602 commented on #14261
I finished the implementation at https://github.com/jahd2602/oppia/tree/voiceover-multiple-choice-14261
...but it requires this PR to be merged first: https://github.com/oppia/oppia/pull/15249

[2022-04-08 07:23] seanlip commented on #7462
For http protocols can we just change them to https instead? Feels less disruptive, and would still fix the validation issue.

[2022-04-09 05:20] lkbhitesh07 commented on #14943
Hey @vojtechjelinek,
Sorry for the delay, It somehow slipped, I'll do this right away. Thanks for reminding me.

[2022-04-09 18:55] akhilr97 commented on #10474
@vojtechjelinek Could you please assign me to 'core/templates/pages/exploration-player-page/services/extract-image-filenames-from-model.service.ts'

[2022-04-09 22:45] gopivaibhav commented on #14033
Hey @vojtechjelinek  Can you please assign me `core/domain/role_services.py` ?
Thanks

[2022-04-10 10:23] chris7716 opened #15287 "[CD] Translation is not being shown when clicking "Edit" button"
**Describe the bug**
When a reviewer clicks on "Edit" button to edit certain translations, the translated text is not loaded to the editor to update it. This is consistently occurring when reviewing Hindi translations made for Multiplication lessons.

<img width="1440" alt="Screen Shot 2022-04-10 at 1 46 52 PM" src="https://user-images.githubusercontent.com/41409951/162613691-64d522bb-6e1e-4e9f-a2

[2022-04-10 10:34] chris7716 commented on #15287
Cc/ @sagangwee

[2022-04-10 19:55] gopivaibhav commented on #14419
@JeeveshGarg Can you please assign me `PARAM_NAMES` ?
Thanks

[2022-04-10 23:51] HaveACookie commented on #10474
@vojtechjelinek Hi would it be possible if I could be assigned another file? The file i am currently working on seems to have many dependencies causing hundreds of typing errors not related to file I was assigned.
The file is "core/templates/pages/story-editor-page/services/story-editor-state.service.ts".  I was looking for another one to do (as directed in the directions post) and also noticed th

[2022-04-11 04:57] EricZLou commented on #11616
Hello! There are no time-related fields like `created_on` in `LearnerPlaylistModel` or `CompletedActivitiesModel`. Has this issue already been resolved? @vojtechjelinek

[2022-04-11 05:11] EricZLou commented on #12120
I don't see how values from the `UserSubscriptionsModel` may have been used to fill the `UserSettingsModel`. The only `DateTime` field in the `UserSubscriptionsModel` is the last time the user checked their notifications. The `UserSettingsModel` contains fields like last time the user created an exploration or the last time the user logged in.

Do you specifically mean that the `UserSettingsModel.

[2022-04-11 10:41] mridul-netizen commented on #10474
Done

[2022-04-11 10:44] mridul-netizen commented on #10474
Done

[2022-04-11 10:53] vojtechjelinek commented on #11616
@EricZLou There are, they are inherited through `BaseModel`

[2022-04-11 11:11] vojtechjelinek commented on #14033
@gopivaibhav Done.

[2022-04-11 18:29] JeeveshGarg commented on #13015
@mridul-netizen PTAL. I updated issue description with addition of files that are in Angular and uses `unknown`.
Thanks.

[2022-04-11 21:06] gopivaibhav commented on #14419
@JeeveshGarg Can you assign me `REPORT_TYPE`?
Thanks

[2022-04-12 03:47] JeeveshGarg commented on #14419
Assigning you.
Thanks.

[2022-04-12 15:05] nithinrdy commented on #14957
Hey @Lawful2002, I too am unable to reproduce the issue.

[2022-04-12 15:06] seanlip commented on #14957
@juliafalarini -- could you please check if you can still reproduce this issue, and let us know? Thanks!

[2022-04-12 16:32] HaveACookie commented on #10474
@mridul-netizen
So I did some more looking and it turns out that the file "core/templates/components/skill-selector/merge-skill-modal.component.ts" already had all of its bugs removed by someone 3 months ago and was already inserted into the tsconfig-strict.json.  could "core/templates/components/skill-selector/merge-skill-modal.component.ts" be marked as completed?

[2022-04-12 17:50] sagangwee opened #15299 "Oppia dev setup error: pip._internal.exceptions.InstallationSubprocessError: pip subprocess to install build dependencies exited with 1"
While following the [Oppia installation instructions](https://github.com/oppia/oppia/wiki/Installing-Oppia-%28Mac-OS%3B-Python-3%29) on a M1 Macbook Pro, I get the following error:

[code]

[2022-04-12 18:15] sagangwee commented on #15299
Trying newer version of Python via

`pyenv install -v 3.10.4`

fails due to

[code]

[2022-04-12 18:23] sagangwee commented on #15299
Tried updating setuptools (https://stackoverflow.com/questions/64413061/python-pip-install-ends-with-command-errored-out-with-exit-status-1):

`pip install -U setuptools`

[2022-04-12 19:09] sagangwee commented on #15299
Tried uninstalling homebrew: https://github.com/luxonis/depthai/issues/299#issuecomment-758348197

Then in native terminal, tried:

1. [reinstalling homebrew](https://brew.sh/): `/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"`

2. Then reinstalling Python dependencies: `brew install openssl readline sqlite3 xz zlib`. Output:

[code]

Running start s

[2022-04-12 19:11] sagangwee commented on #15299
https://pavcreations.com/dyld-library-not-loaded-libssl-1-1-dylib-fix-on-macos/ fixed the openssl 1.1 issues, but then ran into original `pip._internal.exceptions.InstallationSubprocessError: pip subprocess to install build dependencies exited with 1` error again.

[2022-04-12 19:20] sagangwee commented on #15299
Tried clean again: `python -m scripts.clean `.

And re-running start which failed:
[code]

Installed Pillow jpeg dependency: `brew install libjpeg` and re-ran start. Same pip error.

[2022-04-12 19:28] sagangwee commented on #15299
Tried creating a new virtualenv running Python 3.10.4 and disabled the Python 3.7 requirement in oppia/scripts/setup.py, but ran into:

[code]

[2022-04-12 19:47] vojtechjelinek commented on #15209
@aks681 @kevintab95 PTAL

[2022-04-12 19:47] vojtechjelinek commented on #15164
@aks681 @kevintab95 PTAL

[2022-04-12 19:47] vojtechjelinek commented on #15169
@aks681 @kevintab95 PTAL

[2022-04-12 19:48] vojtechjelinek commented on #15168
@aks681 @kevintab95 PTAL

[2022-04-12 19:49] vojtechjelinek commented on #15153
@aks681 @kevintab95 PTAL

[2022-04-12 19:49] vojtechjelinek commented on #15150
@aks681 @kevintab95 PTAL

[2022-04-12 19:50] sagangwee commented on #15299
Noticed my Rosetta terminal was running the wrong architecture so reset Rosetta via https://www.courier.com/blog/tips-and-tricks-to-setup-your-apple-m1-for-development/ and finally got a new error running start:

[code]

[2022-04-12 19:50] vojtechjelinek commented on #15152
@aks681 @kevintab95 PTAL

[2022-04-12 19:50] vojtechjelinek commented on #15157
@aks681 @kevintab95 PTAL

[2022-04-12 19:50] vojtechjelinek commented on #15147
@aks681 @kevintab95 PTAL

[2022-04-12 20:29] sagangwee commented on #15299
As per https://stackoverflow.com/questions/62994971/error-installing-streamlit-it-says-error-could-not-build-wheels-for-pyarrow-wh, ran `pip install pyarrow`, which didn't work.

Ran `pip install cmake`—didn't work.

Following https://towardsdatascience.com/how-to-use-manage-multiple-python-versions-on-an-apple-silicon-m1-mac-d69ee6ed0250, tried installing an x86 version of Python: `arch -x86_64 p

[2022-04-12 20:44] sagangwee commented on #15299
Tried setting `CONFIGURE_OPTS="--with-openssl=openssl@1.1"` as per https://github.com/pyenv/pyenv/wiki/Common-build-problems#error-the-python-ssl-extension-was-not-compiled-missing-the-openssl-lib. Didn't work.

The instructions at https://github.com/pyenv/pyenv/issues/1768#issuecomment-855523190 fixed the cmake issue. But I ran into an error after:

[code]

[2022-04-12 21:01] vojtechjelinek commented on #15209
@Rijuta-s @krishita30j PTAL

[2022-04-12 21:05] sagangwee commented on #15299
Uninstalled x86 Python and reinstalled arm64 Python in native terminal:
[code]

Seemed to work, but needed to install Java: `ERROR: (gcloud.beta.emulators.datastore.start) Unable to execute the java that was found on your PATH. The Google Cloud Datastore emulator requires a Java 8+ JRE installed and on your system PATH`.

Then saw the same cmake error. Ran 'pip install cmake'. Saw a different erro

[2022-04-12 21:06] vojtechjelinek commented on #15164
@Rijuta-s @krishita30j PTAL

[2022-04-12 21:07] vojtechjelinek commented on #15153
This is related to CSS not being loaded in webpack

[2022-04-12 21:08] vojtechjelinek commented on #15150
@krishita30j PTAL

[2022-04-12 21:09] vojtechjelinek commented on #15152
@krishita30j @Rijuta-s PTAL

[2022-04-12 21:27] sagangwee commented on #15299
Tried `pip install numpy`.
Tried `pip install pyarrow`. Got a bunch of compilation errors

Looks like pyarrow may need Python 3.9 or above: https://stackoverflow.com/questions/64949384/cant-install-pyarrow-on-osx-python-3-9-is-this-me-or-an-incompatible-package

[2022-04-12 21:54] sagangwee commented on #15299
Tried using Python 3.9.9, but then I run into the original error...

[2022-04-12 22:02] sagangwee commented on #15299
Tried installing x86 version of 3.9: `arch -x86_64 pyenv install 3.9.9`, but ran into
[code]
again.

[2022-04-12 22:07] sagangwee commented on #15299
Went back to 3.7.13 and tried `arch -x86_64 pip3 install pyarrow` as suggested by https://stackoverflow.com/questions/66203721/cant-install-pandas-and-other-python-libraries-on-mac-m1, but ran into
[code]

cmake is already installed:
[code]

[2022-04-12 22:14] sagangwee commented on #15299
Tried installing older version of pyarrow: `arch -x86_64 pip3 install pyarrow==0.17.1` as per https://stackoverflow.com/a/52275239

[2022-04-13 02:06] arjunjaitly commented on #14419
Hey @JeeveshGarg could you assign me to NAMES in models.py

[2022-04-13 17:54] sagangwee commented on #15287
Not able to repro, e.g.
![Screen Shot 2022-04-13 at 1 53 52 PM](https://user-images.githubusercontent.com/9004726/163241131-586fbce1-0641-43ef-89c0-37777e4353ec.png)

[2022-04-13 17:56] sagangwee commented on #15287
Was able to repro for only those cards in the "Parts of Multiplication Expressions" lesson.

[2022-04-13 18:02] sagangwee commented on #15287
The schema based editor is not being rendered, so perhaps the suggestion's `change.data_format` is an unexpected value, causing the `isHtmlContent` boolean to be false in oppia/core/templates/pages/contributor-dashboard-page/modal-templates/translation-suggestion-review-modal.component.html.

[2022-04-13 19:42] sagangwee commented on #15287
Looks like the buggy suggestions in question are lacking the `change.data_format` field. One solution is to fallback to the HTML content schema editor if the `change.data_format` field is missing.

[2022-04-14 05:52] JeeveshGarg commented on #14419
assigning you.

[2022-04-14 09:42] Sneakyhydra commented on #10474
@vojtechjelinek  please unassign "core/templates/pages/exploration-player-page/services/stats-reporting.service.ts" to me

[2022-04-14 16:16] #15214 closed, assigned to nobody

[2022-04-14 16:27] vojtechjelinek commented on #10474
@HaveACookie @Sneakyhydra  Done.

[2022-04-14 16:39] #14943 closed, assigned to lkbhitesh07

[2022-04-14 16:47] BlakeHan01 commented on #10616
@vojtechjelinek Can you please assign me @typescript-eslint/no-invalid-void-type?

[2022-04-14 16:55] vojtechjelinek commented on #10616
@BlakeHan01 Done.

[2022-04-14 17:05] BlakeHan01 commented on #8668
@nithusha21 Can I be assigned autogenerated-audio-player.service.ts and construct-translation-ids.service.ts?

[2022-04-14 20:02] pallavimantri opened #15311 "Error while exporting data and downloading your Oppia account data as a JSON formatted text file."
**Describe the bug**
Error while exporting data and downloading your Oppia account data as a JSON formatted text file.
It contains no user's data inside the file. (There was an error while exporting data. Please contact sean@seanlip.org to export your data.)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'Preferences'
 2. Scroll down
 3. Click on 'Export Account'
 4. Download the JSO

[2022-04-14 21:53] sagangwee commented on #15299
Noticed that pyarrow is trying to import cmake from "/Users/sagangwee/.pyenv/versions/oppia/bin/cmake", but cmake is installed in "/Users/sagangwee/.pyenv/versions/3.7.13/envs/oppia/lib/python3.7/site-packages". Reminds me of https://github.com/oppia/oppia/issues/14260

[2022-04-14 21:55] sagangwee commented on #15299
"/Users/sagangwee/.pyenv/versions/oppia/bin/cmake" has a cmake file but not a cmake directory.

[2022-04-14 22:01] sagangwee commented on #15299
Following https://towardsdatascience.com/how-to-use-manage-multiple-python-versions-on-an-apple-silicon-m1-mac-d69ee6ed0250, reinstalled x86 version of Python 3.7.13 using pyenv alias so that I can try different architectures for the same Python version simultaneously: `VERSION_ALIAS="3.7.13_x86" arch -x86_64 pyenv install 3.7.13`.

[2022-04-14 22:22] sagangwee commented on #15299
Interesting. This time using the x86 version of Python worked! No idea why I didn't run into the earlier issue of https://github.com/oppia/oppia/issues/15299#issuecomment-1097199418.

[2022-04-14 23:22] kevintab95 opened #15314 "Fix odd gray portion in the topic viewer page"
There is a gray portion in the topic viewer page at certain scroll lengths which looks odd.
![image](https://user-images.githubusercontent.com/11008603/163492437-cc877542-664b-4cdf-b7bd-77709f413c1c.png)

Suggested fix is to cover the gray portion with the blue banner.

Possible steps to fix this:

1. Go to the topic viewer page to reproduce this error.
2. you have to increase width of this blue b

[2022-04-15 13:03] gopivaibhav commented on #13822
Hey @lkbhitesh07 Can you please assign me `Story notes should have at most 5000 characters.` issue ?
Thanks

[2022-04-15 13:21] nithinrdy opened #15318 "Exploration player page UI issues"
The following issues were encountered on the exploration player page:

 - [x] When the user opens the share dialog, shortly afterwards, the page gets reloaded. This shouldn't happen. @kzhang01

https://user-images.githubusercontent.com/78612244/163575636-75d31c6e-4971-44ac-9001-1cc9fa59baf9.mov

 - [x] In the above recording, there is not enough padding between some of the items along the right si

[2022-04-15 13:58] mridul-netizen opened #15319 "Starting Notes doesn't appear for Music-Notes-Input Interaction"
**Describe the bug**
Original Notes doesn't appear for Music-Notes-Input Interaction

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/
 2. Create some exploration with Music Notes Interaction
 3. Visit the preview page for exploration
 4. Observe the UI

**Observed Behaviour**
1. Original notes for Added Interaction doesn't appear in the preview or after

[2022-04-15 14:04] mridul-netizen commented on #15319
**Please Note** -- The interaction works perfectly fine locally, starting notes seem to appear as seen in the video. The behaviour seems wrong at the deployed server. I think one possible solution could be to increase the timeout here from `20` to some greater value so that component gets enough time for perfect initialization, but I'm not sure if this would work on test server after release https

[2022-04-15 15:54] MNSDivya opened #15320 "Previous subject is being removed When clicked on [New Sub] text- Subject Interests under preferences section"
**Describe the bug**
A clear and concise description of what the bug is.Previous subject is being removed When clicked on [New Sub] text-  Subject Interests under preferences section

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppiatestserver.org'
 2. Click on 'Preferences'
 3. Scroll down to Subject Interests and add atleast one item
 4. Now try adding another item by clicking o

[2022-04-15 17:15] MNSDivya opened #15321 "Review message not shown in creator login after reviewer accepts the translation"
**Describe the bug**
Review message not shown in creator login after reviewer accepts the translation

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'oppiatestserver.org'
 2. Click on 'Contributor dashboard' from Account A
 3. Navigate to Translate Text and translate a text selecting a language and topic
 4. Now login to account B and select the same language and topic to review
 5.

[2022-04-15 18:58] Rijuta-s opened #15322 "Automatic reload to review test page in Firefox from story"
**Describe the bug**
In firefox, from story viewer page, the page autmoatically reloads to review test page.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppiatestserver.org/learn/math/fractions/story'
 2. Click on 'Chapter 2: Meaning of Equal Parts'
 4. See error

**Observed behavior**
Page loads with the story card but automatically reloads to review test page in few

[2022-04-15 22:08] juliafalarini commented on #14957
@seanlip I just checked it, the delay is not so big anymore, but there is still a delay.

[2022-04-15 22:09] juliafalarini commented on #14957
I just thought about it, but.. maybe this can happen depending of the size of the image that is being attached?

[2022-04-16 00:40] nadintamer commented on #8015
Hi @kevintab95 -- can I please be assigned `core/templates/domain/question/question-backend-api.service.ts`? (It's not marked as completed here but my PR for the pretest-question service was merged so I'd like to take up another file)

[2022-04-16 00:41] nadintamer commented on #8015
Just wanted to bump this request -- I've started work on this file again!

[2022-04-16 00:58] IamhappyXD commented on #14219
Hi, I am working on  core.storage.skill.gae_models_test. I increased test coverage to 100% and wanted to push. However, I am getting a linting error when pushing my branch to origin. I can not understand the error, can someone help me?

<img width="926" alt="Screen Shot 2022-04-16 at 06 57 46" src="https://user-images.githubusercontent.com/50207701/163655670-d7416397-75bf-49e5-bde1-d7719098cf0d.pn

[2022-04-16 03:26] seanlip commented on #14957
Hm. @juliafalarini do you think you could provide a video screencast of what you're experiencing perhaps? And maybe attach the image that's being attached so that we can test with that to see whether that's the issue? That might help everyone get on the same page more easily.

Thanks!

[2022-04-16 04:40] EricZLou commented on #14969
By `activity_ids`, do you mean `exploration_ids`? `UserSubscriptionsModel` does not have an `activity_ids` field.

[2022-04-16 06:04] divyanshkhetan commented on #15318
@nithinrdy Can I work on this issue?

[2022-04-16 06:07] nithinrdy commented on #15318
@divyanshkhetan sure! Could you please confirm if you've signed the CLA and let me know which of the three you would like to work on (you may pick multiple as well, if you want to)?

[2022-04-16 06:18] divyanshkhetan commented on #15318
@nithinrdy Yes, I have signed the CLA. I'd like to work on the second and third issue. Thanks!

[2022-04-16 06:19] linalex1 commented on #14219
Hi, could I be assigned to work on core.controllers.tasks_test? Thank you!

[2022-04-16 06:22] nithinrdy commented on #15318
Got it, I've assigned you!

[2022-04-16 16:45] LevBernstein commented on #13341
Hello @hardikkat24, can I take install_third_party_libs.py? Thanks!

[2022-04-16 20:22] BradFeng02 commented on #14219
I kind of messed up my pull request, so I'm going to make a new branch and close my current one (https://github.com/oppia/oppia/pull/15309)

[2022-04-16 22:40] U8NWXD commented on #15322
I've confirmed that this does not occur on prod, so it's a regression. @aks681 PTAL

[2022-04-16 22:43] U8NWXD commented on #15319
This happens on oppia.org, so it's not a regression

[2022-04-16 22:45] U8NWXD commented on #15321
Treating this as a regression for now since it's serious

[2022-04-16 22:46] U8NWXD commented on #15321
@sagangwee PTAL

[2022-04-16 22:50] U8NWXD commented on #15320
Sending this to the LaCE team for triage since it's not a regression (current prod behaves the same way). It's also not clear that this is a bug since we might decide to maintain the current behavior, so I'm not adding it to the hotlist

[2022-04-16 22:52] U8NWXD commented on #15311
Takeout works on prod, so this is a regression.  @vojtechjelinek PTAL

[2022-04-17 06:08] lkbhitesh07 commented on #13822
Sorry for the delayed response. @gopivaibhav

[2022-04-17 08:04] kevintab95 commented on #15168
Assigning to LaCE Quality team to prioritise. @krishita30j @Rijuta-s PTAL

[2022-04-17 08:06] kevintab95 commented on #15169
Assigning to LaCE Quality team to prioritise. @krishita30j @Rijuta-s PTAL

[2022-04-17 08:08] kevintab95 commented on #15157
Assigning to LaCE Quality team to prioritise. @krishita30j @Rijuta-s PTAL

[2022-04-17 08:08] kevintab95 commented on #15147
Assigning to LaCE Quality team to prioritise. @krishita30j @Rijuta-s PTAL

[2022-04-17 16:58] sahiljoster32 commented on #13341
I updated the status of files in the scripts folder, for ease in tracking status.
Also, @LevBernstein I assigned you `install_third_party_libs.py`

[2022-04-18 00:18] kevintab95 opened #15331 "Schema validation for 'limit' failed"
**Describe the bug**
Pagination in the contributor dashboard review screen seems to throw an error.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go the contributor dashboard with review permissions for at least one language.
 2. Click "Review translations".
 3. Go to the next page to see more translations.
 4. See error.

**Observed behavior**
Unable to see the second page of translation

[2022-04-18 00:19] kevintab95 commented on #15331
Server logs:

[code]

[2022-04-18 06:15] #14829 closed, assigned to paprajapati9

[2022-04-18 14:48] U8NWXD commented on #14219
@linalex1 done!

[2022-04-18 18:38] Rijuta-s commented on #15147
@Lawful2002 Please prioritise and add to tracker!

[2022-04-18 18:38] Rijuta-s commented on #15157
@Lawful2002 Please prioritise and add to tracker!

[2022-04-18 18:38] Rijuta-s commented on #15169
@Lawful2002 Please prioritise and add to tracker!

[2022-04-18 18:39] Rijuta-s commented on #15168
@Lawful2002 Please prioritise and add to tracker!

[2022-04-18 18:45] divyanshkhetan opened #15335 "Cannot generate .rtl.css files"
**Describe the bug**
Cannot generate .rtl.css file.

**To Reproduce**
Steps to reproduce the behavior:
 1. Run `python -m scripts.rtl_css --mode_generate` in command line.

**Observed behavior**
Returns the error message:

**Expected behavior**
Should generate .rtl.css files.

**Screenshots**

![image](https://user-images.githubusercontent.com/68158825/163858357-264bf71e-d461-484c-824c-20fa349a984

[2022-04-18 21:15] #15287 closed, assigned to nobody

[2022-04-18 23:18] Ferfy39 commented on #14219
Hi, could I be assigned to work on core.controllers.domain_objects_validator_test? Thanks!

[2022-04-19 06:19] U8NWXD commented on #14219
@Ferfy39 done!

[2022-04-19 07:01] lilytai commented on #14219
@U8NWXD Please unassign me from 'scripts.install_backend_python_libs_test' and assign me with  'core.domain.auth_services_test'. Thank you!

[2022-04-19 12:51] vojtechjelinek commented on #14969
Yes, that is possible, some of these might no longer be relevant.

[2022-04-19 20:48] sagangwee commented on #15321
@bhavukJain Can you take a look at this?

[2022-04-19 20:50] kevcch commented on #14219
@U8NWXD Could I be unassigned from core.domain.opportunity_services_test and assigned to core.domain.role_services_test instead? Thank you!

[2022-04-19 21:19] kzhang01 commented on #15318
Hi @nithinrdy, could I take the first part of this issue?

[2022-04-20 00:33] gtfrans2re opened #15346 "Alignment issue in the GET INVOLVED dropdown menu in the Oppia website's header"
**Describe the bug**
Alignment issue in the GET INVOLVED dropdown menu in the Oppia website's header: The title "Schools and Organizations" and the text beneath it aren't well alignment as compared to the other ones.

**To Reproduce**
Steps to reproduce the behavior:
 1. Head to your browser's settings and increase the font-size.
 2. Go to 'https://www.oppia.org'
 3. Click on 'GET INVOLVED' in the

[2022-04-20 00:48] gtfrans2re opened #15347 "Remove overlapping in the "Mathematics and Statistics" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Mathematics & Statistics'
 5. See error

**Observed behavior**
Ove

[2022-04-20 00:55] gtfrans2re opened #15348 "Remove overlapping in the "Mathematics and Statistics" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Mathematics & Statistics'
 5. See error

**Observed behavior**
Ove

[2022-04-20 00:59] gtfrans2re opened #15349 "Remove overlapping in the "Mathematics and Statistics" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Mathematics & Statistics'
 5. See error

**Observed behavior**
Ove

[2022-04-20 01:05] gtfrans2re opened #15350 "Remove overlapping in the "Computing" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Computing'
 5. See error

**Observed behavior**
Overlapping of Ico

[2022-04-20 01:09] gtfrans2re opened #15351 "Remove overlapping in the "Humanities" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Computing'
 5. See error

**Observed behavior**
Overlapping of Ico

[2022-04-20 01:14] gtfrans2re opened #15352 "Remove overlapping in the "Languages" section"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Languages'
 5. See error

**Observed behavior**
Overlapping of Ico

[2022-04-20 01:20] gtfrans2re opened #15353 "Text overlapping with icons in the community library"
**Describe the bug**
The eye-catchy icon and the title beneath it are overlapping.
Please make sure you fix this for better User Experience

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://www.oppia.org'
 2. Click on 'LEARN' in the header
 3. Click on 'Community Library' in the dropdown menu
 4. Scroll down to 'Mathematics & Statistics
 5. See error

**Observed behavior**
Over

[2022-04-20 03:33] nithinrdy commented on #15318
Hey @kzhang01, sure! Could you please sign the CLA before getting started so I can assign it to you? Thanks!

[2022-04-20 04:12] U8NWXD commented on #14219
@lilytai @kevcch done!

[2022-04-20 04:15] nithinrdy commented on #15347
Thanks @gtfrans2re for opening this issue! Actually, this is a [known issue](https://github.com/oppia/oppia/issues/15263), and a [PR](https://github.com/oppia/oppia/pull/15297) has already been opened for it.

Assigning @Lawful2002 for confirmation, maybe we should close this (and #15348, #15349, #15350, #15351, #15352, #15353) to avoid confusion?

[2022-04-20 04:28] nithinrdy commented on #15346
(Noticed that the issue isn't reproducible using the "steps-to-reproduce" provided in the description. Slightly edited them so they actually work).

[2022-04-20 04:36] kzhang01 commented on #15318
@nithinrdy Signed!

[2022-04-20 04:40] nithinrdy commented on #15318
Got it, I've assigned you!

[2022-04-20 11:45] Lawful2002 commented on #15347
@nithinrdy  Thanks for noticing the duplicate issues and yes, I think we can close this issue (and the other duplicates).

[2022-04-20 11:51] #15347 closed, assigned to Lawful2002

[2022-04-20 11:52] nithinrdy commented on #15348
[Closing the issue since it is a duplicate.](https://github.com/oppia/oppia/issues/15347#issuecomment-1103453595)

[2022-04-20 11:52] #15348 closed, assigned to nobody

[2022-04-20 11:53] nithinrdy commented on #15349
[Closing the issue since it is a duplicate.](https://github.com/oppia/oppia/issues/15347#issuecomment-1103453595)

[2022-04-20 11:53] #15349 closed, assigned to nobody

[2022-04-20 11:54] nithinrdy commented on #15350
[Closing the issue since it is a duplicate.](https://github.com/oppia/oppia/issues/15347#issuecomment-1103453595)

[2022-04-20 11:54] #15350 closed, assigned to nobody

[2022-04-20 11:54] nithinrdy commented on #15351
[Closing the issue since it is a duplicate.](https://github.com/oppia/oppia/issues/15347#issuecomment-1103453595)

[2022-04-20 11:54] #15351 closed, assigned to nobody

[2022-04-20 11:54] nithinrdy commented on #15352
[Closing the issue since it is a duplicate.](https://github.com/oppia/oppia/issues/15347#issuecomment-1103453595)

[2022-04-20 11:54] #15352 closed, assigned to nobody

[2022-04-20 15:17] seanlip opened #15354 "In the topic editor page, the practice tab warning shouldn't show if the practice tab checkbox is turned off."
**Describe the bug**
In the topic editor page, a red practice tab warning currently shows all the time. This is an error message that should only be shown if the practice tab checkbox is clicked.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a new topic.
 2. Go to the topic editor page and scroll down to the Subtopics section.

**Observed behavior**
There is a red error message say

[2022-04-20 15:18] seanlip commented on #15354
@lkbhitesh07 @sahiljoster32 would you please triage this, since it seems to be a validation-related issue? Thanks!

[2022-04-21 03:30] lkbhitesh07 commented on #15354
Thanks, @seanlip
One of us will try to raise a PR by 24 April.

[2022-04-21 03:32] seanlip commented on #15354
Sounds good. Thanks, @lkbhitesh07!

[2022-04-21 06:31] ShivamJhaa commented on #14169
This was fixed in PR https://github.com/oppia/oppia/pull/15085

[2022-04-21 06:31] #14169 closed, assigned to nobody

[2022-04-21 10:29] gtfrans2re commented on #15347
@nithinrdy and @Lawful2002, thank you for your feedback.
Also, thank you for the links to the Pull Requests for these issues.

[2022-04-21 14:07] vojtechjelinek commented on #15311
@pallavimantri Hey, can you please try to do takeout again on the test server? (It will fail, but I've added more debug logging so we will gather more info).

[2022-04-21 14:24] vojtechjelinek commented on #14351
This was closed in #15044. Thanks @aasiffaizal

[2022-04-21 14:24] #14351 closed, assigned to aasiffaizal

[2022-04-21 15:23] a-ndi opened #15367 "Authentication- Web app"
**Describe the bug**
Launch web app on browser - Click on the sign-in button, it maintains a blank screen with feedback ‘Signing in’ for long minutes. While surfing at 25Mbps. This error is seen in all the devices listed above. Waiting for a long period of time, the user is forced to move on ahead without signing in. The user clicks on the hamburger icon on the top left corner of the screen.

**To

[2022-04-21 15:35] a-ndi opened #15368 "Volunteering screen"
**Describe the bug**
Volunteering Screen: The slider that has “Read about some of our current volunteers below” is not properly aligned to the screen.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to oppia.org
 2. Click on the volunteer button
 3. Scroll down to view the whole page
 4. See the error where it shows images of former volunteers in the program

**Observed behavior**
The s

[2022-04-21 15:47] U8NWXD opened #15369 "Cannot Navigate Learner Dashboard by Keyboard Due to Lack of Visual Cues"
**Describe the bug**
It is difficult to navigate the learner dashboard page because there are missing visual cues to indicate which element is selected.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/ and log in
 2. Go to https://www.oppiatestserver.org/learner-dashboard
 3. Press the TAB key repeatedly to navigate the top menu bar

**Observed behavior

[2022-04-21 15:48] U8NWXD commented on #15369
@aks681 PTAL

[2022-04-21 15:48] U8NWXD commented on #15369
This is also a problem in prod, so it's not a regression

[2022-04-21 15:52] U8NWXD opened #15370 "Cannot Report Exploration from the Keyboard"
**Describe the bug**
It is not possible to report an exploration using only the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/Ip48r0GHutBb
 2. Hit the TAB key repeatedly until the "Report Exploration" tooltip appears
 3. Hit the ENTER key to try and report the exploration

**Observed behavior**
Nothing happens.

**Expected behavior**

[2022-04-21 15:53] U8NWXD commented on #15370
@aks681 PTAL. This also happens on prod, so it's not a regression

[2022-04-21 15:59] U8NWXD opened #15371 "Cannot Add Exploration to "Play Later" Using Keyboard"
**Describe the bug**
It is not possible to add an exploration to "Play Later" using only the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/community-library
 2. Hit TAB repeatedly to cycle through the explorations.

**Observed behavior**
Two problems:
1. The button to add an exploration to "Play Later" is never selected by the TAB key
2. The

[2022-04-21 15:59] U8NWXD commented on #15371
This also happens in prod, so it's not a regression. @aks681 PTAL

[2022-04-21 16:05] U8NWXD opened #15372 "Cannot Remove Exploration from "Play Later" on Mobile"
It's not possible to remove an exploration from the "Play Later" list on mobile. On desktop, we hover over the exploration to see the option to remove, but that's not available on mobile.

This issue is an extension of #15529.

[2022-04-21 16:05] U8NWXD commented on #15372
This also happens on prod, so it's not a regression

[2022-04-21 16:38] HaveACookie commented on #14419
Hi @jeveeshgarg could i be assigned to FILTER_FIELD_NAMES ?

[2022-04-21 16:45] vojtechjelinek commented on #14419
@JeeveshGarg ^

[2022-04-21 16:47] HaveACookie commented on #10474
Hi,

Just following up on our previous conversation. It seems i've still been assigned files with lots of dependencies on other files(which make it difficult to work on). Could be assigned a different file? Thanks again for your assistance. On another note, I  am writing a  small script to find items that have already been completed in the tsconfig-strict file. Would you be interested in this scri

[2022-04-21 17:08] vojtechjelinek commented on #10474
@HaveACookie Feel free to pick one of the dependencies, check if it is not assigned anyone and work on it.

Not sure what would the script exactly do.

[2022-04-21 17:26] HaveACookie commented on #10474
@vojtechjelinek It would just be a script that would quickly check to see how many files that are currently listed as incomplete are actually already completed (it's more of a convenience thing than anything else). Thanks again for the help I'll take a look at some of the other files and work on the unassigned ones.

[2022-04-21 17:42] BlakeHan01 commented on #10616
@vojtechjelinek I have fixed all errors but I couldn't fix this one in the second image on line 178. I tried changing void to undefined but it wouldn't let me. Could you provide some help with it? Thanks.
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/88338598/164519072-1f7326c8-2863-48ea-b65f-8a1c0440d795.png">
<img width="651" alt="image" src="https://user-images.gi

[2022-04-21 17:45] kzhang01 commented on #15318
@nithinrdy Hi I've figured out a fix for the issue, but I'm having difficulty getting to the exploration player page on localhost to check that it works.

I saw in a previous pr that someone tested on localhost:8181/explore/1, but I am unable to navigate there.
<img width="1039" alt="explore_1" src="https://user-images.githubusercontent.com/41274792/164519075-f2cf5a87-af81-4ebf-98fd-e60c0e42b9c6.p

[2022-04-21 17:48] aks681 commented on #15335
Hi, can you please run `python -m scripts.start` to install the required dependencies or if it was already done, run `python -m scripts.clean` and rerun the start script? That should fix it.

[2022-04-21 18:22] nithinrdy commented on #15318
Hey @kzhang01, to access the exploration player page, you must start either start an exploration (for example, from the community-library), or start a chapter from a story (stories are the sections of a topic) -- I'd say the former is the easier way.

You are experiencing the issue you described because no explorations exist whenever you start a fresh local dev server. (When you try to navigate to

[2022-04-21 19:33] nithinrdy opened #15375 "The benefits sub-sections on the splash page get too far apart on wider screens"
**Describe the bug**
The left and right subsections in the benefits section of the splash page get too far apart on wider screens.
![image](https://user-images.githubusercontent.com/78612244/164538464-d8bc5773-e52d-4490-b484-73099359d9e2.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [Oppia's splash page](https://www.oppia.org/).
 2. Scroll down to the benefits section.
 3. Use

[2022-04-21 19:41] nithinrdy opened #15376 "Spacing between the topic tiles on the classroom page grows indefinitely"
**Describe the bug**
The spacing between each of the tiles on the classroom page keeps growing as the screen gets wider. Additionally, the books image up top also keeps getting bigger indefinitely.
![image](https://user-images.githubusercontent.com/78612244/164539609-003675eb-5a48-409d-8f4f-55a287696e40.png)

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to [the math classroom](https://

[2022-04-21 22:14] pallavimantri commented on #15311
@vojtechjelinek Hi, Still getting the same error.(There was an error while exporting data. Please contact sean@seanlip.org to export your data.)

[2022-04-22 00:02] yougottawork opened #15377 "Multiple choice changes still remain in pop-up after cancellation"
**Description of the bug:**
When I make changes in **multiple-choice** questions and cancel the changes, the changes somehow still remain after I cancel and re-open the multiple-choice pop-up. Refreshing the page fixes it, but it would be great if this can be fixed so no refreshing is needed.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the exploration editor
 2. Create a multiple

[2022-04-22 07:38] JeeveshGarg commented on #14419
assigning you. Sorry for delay!

[2022-04-22 11:28] lkbhitesh07 commented on #15354
Hey @seanlip,
So I was checking with this issue and the thing is that the user will not be able to click the checkbox unless it has 10 questions attached to it. This is mentioned in the `i` button present after the checkbox. So what should we do here because if we want this warning to be seen then it should only be seen when the checkbox is clicked and the checkbox will not be clicked until it has

[2022-04-22 12:33] nithusha21 opened #15381 "Temporarily transfer codeowner away from Nithesh (@nithusha21)"
Temporarily transfer codeowner away from Nithesh (@nithusha21) until May 1 2022

[2022-04-22 16:36] U8NWXD commented on #15321
@bhavukJain @sagangwee could you give an update on this? It's blocking the release

[2022-04-22 16:36] U8NWXD commented on #15322
@aks681 could you give an update on this blocking bug?

[2022-04-22 18:23] sagangwee opened #15385 "[CD] Persist translator language setting across sessions"
Most translators probably don't translate for multiple languages, so we should save their language selection to storage and automatically populate it when they visit the translate text page.

[2022-04-22 20:14] sagangwee opened #15386 "[CD] Improve experience for untranslatable cards"
1. We should hide cards that the current user cannot translate completely instead of showing the “Sorry! Currently, only translation reviewers are allowed to submit translations for rules.”  message.
2. Move lessons with no translatable cards to bottom of opportunity list.

[2022-04-22 22:55] kzhang01 commented on #15318
Thanks for your help, that cleared things up for me. Just opened a pull request for it!

[2022-04-23 01:21] HaveACookie commented on #14419
@JeeveshGarg just following up for the item I was assigned there are multiple files with the same name(gae_models.py). Which one should I work on?

[2022-04-23 06:06] bhavukJain commented on #15321
Hi, I am beginning to look at this.

[2022-04-23 12:14] bhavukJain commented on #15321
Hi, just want to double check, has this issue only recently surfaced and it was working fine earlier? That is, testing for this flow (i.e. checking whether review message appears or not for accepted suggestions) been only recently tested? Or was this flow tested earlier as well and the message was appearing before?

[2022-04-23 20:47] kzhang01 commented on #15375
Hi @nithinrdy, I'd like to work on this issue

[2022-04-23 20:56] nithinrdy commented on #15375
Thanks @kzhang01, I've assigned you.

[2022-04-24 06:24] JeeveshGarg commented on #14419
Class FILTER_FIELD_NAMES in file gae_models.py [link](https://github.com/oppia/oppia/blob/60e0826d4c3d068a24d1cb2e15474d906764c038/core/storage/app_feedback_report/gae_models.py#L53)

[2022-04-24 07:42] U8NWXD commented on #15321
@bhavukJain We can't really test this on prod very easily, so I don't know whether it happens there. Release testing isn't very prescriptive (on purpose so that testers explore more user paths), so last month's testers might not have explored this particular journey

Also, this is a bug that definitely could have gone unnoticed in prod because contributors might just assume the reviewer left no co

[2022-04-24 09:28] gtfrans2re opened #15392 "Replace numbers with digits in the "Place Values" chapter one lesson"
**Describe the bug**
In the "Place Values" chapter one lesson, there is a need to replace numbers by digits indicating Jaime's score at the arcade game. In fact, the score is a number made up of digits. As a result, instead of stating "Jaime's score has a lot of numbers in it," it should rather be "Jaime's score has a lot of digits in it."

**To Reproduce**
Steps to reproduce the behavior:
 1. Go

[2022-04-24 18:19] subhash686 commented on #816
Stats/ Summary for "Finding Helsinki" looks like this now. Wanted to check if any change is expected before diving deep into this 7 year old issue. Can someone let me know as I am looking for a good second issue?

![Screenshot 2022-04-24 2 12 17 PM](https://user-images.githubusercontent.com/46015546/164990623-320b6a44-2edd-4572-8952-a5f2a1ce15a1.png)

[2022-04-24 18:58] seanlip commented on #816
I suggest not looking at this yet. Maybe take a look at the issues labelled "LaCE Quality Team" and see if you find one that you can tackle?

[2022-04-24 23:37] vojtechjelinek commented on #10616
@BlakeHan01 Can you put just `FeedbackThread[]` there?

[2022-04-24 23:38] vojtechjelinek commented on #10474
Yeah, I think that is the easy part. The problem is that no one actually checked this issue for some time, I will tidy it up in upcoming days.

[2022-04-25 00:11] kamalct commented on #13162
@Nik-09 Can you please assign me below handlers

- AnswerSubmittedEventHandler
- LearnerAnswerDetailsSubmissionHandler
- ResubmitSuggestionHandler

[2022-04-25 01:53] lkbhitesh07 commented on #15354
Hey @seanlip, just a gentle ping in case you missed my above comment.
Thanks

[2022-04-25 03:09] seanlip commented on #15354
Sorry @lkbhitesh07, I did miss it -- thanks for pinging!

You don't need to show the warning unless there's actually an error. If it's impossible to make the error, the warning should not be shown at all. If it's possible to make the error, the warning should only be shown in the error state. The warning should never be shown in the case where things are currently valid, because that makes the use

[2022-04-25 03:23] HaveACookie commented on #14419
Thanks for the help! @JeeveshGarg Im almost finished :)

[2022-04-25 04:33] lkbhitesh07 commented on #15354
That makes sense, I'll remove the error. Thanks for the input.

[2022-04-25 04:48] swethasekhar commented on #14033
Hi @vojtechjelinek : Can you assign me:  core/domain/stats_services.py? Thanks

[2022-04-25 06:16] Nik-09 commented on #13162
@kamalct Done.

[2022-04-25 07:07] kevintab95 commented on #15322
I'm not able to repro this. Here's what I see:

https://user-images.githubusercontent.com/11008603/165037826-21dde93d-36ee-40c4-9565-74869a6a3d9e.mp4

[2022-04-25 08:36] vojtechjelinek commented on #14033
@swethasekhar Done.

[2022-04-25 08:39] #15375 closed, assigned to kzhang01

[2022-04-25 15:49] U8NWXD commented on #15322
I also cannot reproduce this in Firefox on macOS. @Rijuta-s can you check whether you still see this error?

[2022-04-25 16:52] sagangwee commented on #15321
So it looks like we only intended to surface the review message for rejected translations (https://github.com/oppia/oppia/pull/11622). I believe this was because we assumed a review message for an accepted translation wouldn't be useful to the translator and would only be supplied by a reviewer for bookkeeping purposes. Though I suppose a reviewer could add a thank-you note or something similar.

[2022-04-26 00:29] HaveACookie commented on #14419
@JeeveshGarg Hi thanks for your previous help! I was getting ready to push my commits and was running the pre lint check when i ran into some problems. There are some files i modified(that referenced FILTER_FIELD_NAMES so they needed to  have some minor name changes) that I added to the commit. I linted them  and the linter said that all checks were passed, but when I went to push the changes I re

[2022-04-26 04:46] U8NWXD commented on #15321
@sagangwee I think this is your call as the team lead, but I'd favor option (2) because it keeps things consistent, and therefore (probably) simpler

[2022-04-26 14:24] Oyindarow opened #15401 "Webapp - I am unable to sign up via Google."
**Describe the bug**
**As a user, I am unable to sign up via Google. The sign up screen takes long to load and at the end, it gives an error feedback.**

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to the Webapp - https://www.oppia.org/
 2. Click on Sign in with Google

**Observed behavior**
I observed that the Sign up with Google tab takes long to load and the gives an error feedback

[2022-04-26 15:14] KolliAnitha opened #15402 "When single word with lot of characters is present as a description of the topic then description is not aligned properly in the tile"
**Describe the bug**
When single word with lot of characters is present as a description of the topic then the description is not aligned properly in the tile

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Search bar
 2. Type 'Covid'
 3. Look at the results displayed

**Observed behavior**
The description for one of the card has a single word with a lot of characters, so the text is

[2022-04-26 15:19] seanlip commented on #15401
Hi @Oyindarow -- we've heard about this issue before, and from the evidence we have, it only seems to happen in Nigeria with certain ISPs. It seems that switching to a different ISP tends to work.

Does the above apply in this case? Thanks a lot for reporting this.

[2022-04-26 16:06] #15354 closed, assigned to lkbhitesh07

[2022-04-26 16:16] Oyindarow commented on #15401
Hello Sean, 
Thank you for your feedback. I would try a different ISP and hopefully, it works. 
Thank you. Oyindamola. 
    On Tuesday, April 26, 2022, 04:19:35 PM GMT+1, Sean Lip ***@***.***> wrote:

Hi @Oyindarow -- we've heard about this issue before, and from the evidence we have, it only seems to happen in Nigeria with certain ISPs. It seems that switching to a different ISP tends to work.

D

[2022-04-26 16:36] BlakeHan01 commented on #10616
@vojtechjelinek Unfortunately I get the same error. Do you still think it's possible to fix this error without changing other parts of the codebase?
<img width="965" alt="image" src="https://user-images.githubusercontent.com/88338598/165349403-2a41f69f-ba7b-45b2-bd29-0edd2adbea03.png">

[2022-04-26 17:01] sagangwee opened #15403 "[CD] Missing translation opportunities for Nigerian Pidgin"
Nigerian Pidgin has only just started translation, and yet there are only 21 available translation opportunities. Example lesson: https://www.oppia.org/create/670bU6d9JGBh.

[2022-04-26 17:03] sagangwee opened #15404 "[CD] Remove unpublished topics from topic selector"
The topic selector should not show unpublished topics, e.g. Decimals and Percentages.

[2022-04-26 17:35] sagangwee commented on #15403
The ExplorationOpportunitySummary for `670bU6d9JGBh` is missing Nigerian Pidgin in its `incomplete_translation_language_codes`. Looks like the corresponding language code was added in https://github.com/oppia/oppia/commit/0d86fb2e2cbf85e2f095345b7b4998731fc546ac, so we may need to run the Beam job to regenerate the opportunities.

[2022-04-26 20:55] aashish-khub commented on #15392
Could I be assigned to work on this issue?

[2022-04-26 21:10] kzhang01 commented on #15376
Hi @nithinrdy, I'd like to work on this issue!

I am however running into some issues getting the topics grid to show up. It is not populated when I go to [http://localhost:8181/learn/math](http://localhost:8181/learn/math). To try and populate it, I'm following the instructions [here](https://github.com/oppia/oppia/wiki/How-to-access-Oppia-webpages#topic-editor-including-preview-tab), which say t

[2022-04-27 06:33] seanlip opened #15407 "Truncate Beam job run results if they exceed the length limit, so that the job run is still successful."
**Is your feature request related to a problem? Please describe.**

Job run results in Beam jobs have a limit of 1.5k chars. This results in some jobs erroring when the limit is too long.

**Describe the solution you'd like**

The Beam job infrastructure should truncate the job run result if it exceeds 1.5k chars. It seems (based on talking to @Lawful2002) that the output is in the form of a strin

[2022-04-27 06:34] seanlip commented on #15407
/cc @Lawful2002 This is based on our discussion in the LaCE Android team meeting and on the issue raised in [this PR](https://github.com/oppia/oppia/pull/15270#issuecomment-1109768252). Please add any other info as needed. Thanks!

[2022-04-27 11:14] Lawful2002 commented on #15407
@seanlip A single error/job result message is just a string (I've updated the issue description), the issue (the one discussed in the meeting) arose when I included a list `exp_link` (which is a list of URLs converted to a string) in the job result string which caused the overall message to exceed 1500 bytes.
<img width="324" alt="image" src="https://user-images.githubusercontent.com/73544247/1655

[2022-04-27 11:31] vojtechjelinek commented on #10616
@BlakeHan01 Maybe not, can you try to change the code so that `void` is not returned?

[2022-04-27 13:05] Rijuta-s commented on #15322
@U8NWXD @aks681 I am not able to reproduce it now as well!

[2022-04-27 13:05] #15322 closed, assigned to aks681

[2022-04-27 13:12] gtfrans2re commented on #15392
Yes, @aashish-khub. I hope one of the maintainers assigns you soon.

[2022-04-27 15:32] sagangwee commented on #15403
Confirmed fix after we ran the opportunity regeneration beam job.

[2022-04-27 15:32] #15403 closed, assigned to nobody

[2022-04-27 17:48] a-ndi opened #15410 "Continue Button on lesson page"
**Describe the bug**
Edge case: When you click on next after every question and you click on back, a prompter is displayed with The button “Continue”. The continue button does not respond.

**To Reproduce**
Steps to reproduce the behaviour:
 1. Go to the lesson (Ratio)
 2. Click on questions and answer them, click on previous
 3. Scroll down to the prompter that says continue
 4. The continue butt

[2022-04-27 19:20] #15311 closed, assigned to vojtechjelinek

[2022-04-27 19:23] gp201 opened #15412 "Frontend Test Flakes"
## Flakes Reported
- [x] #15414

<details>
<summary><h2>Fixed Flakes</h2></summary>

- [x] #15676
- [x] #15978
- [x] #15413
- [x] #15720
- [x] #15721
- [x] router.service.ts is not completely tested
- [x] #15728
- [x] #15729

</details>

[2022-04-27 19:24] gp201 opened #15413 "`Upload Blog Post Thumbnail Modal Component`: `Uncaught Error: ViewDestroyedError: Attempt to use a destroyed view: detectChanges thrown`"
## Stacktrace

[code]

## Additional Information

**Seeds:**
1.  77
2. 956

**Tests:**:
1. https://github.com/oppia/oppia/blob/05cd71366860abc92a6a965ce622473ea64fa3f6/core/templates/pages/blog-dashboard-page/modal-templates/upload-blog-post-thumbnail.component.spec.ts#L108
3. https://github.com/oppia/oppia/blob/05cd71366860abc92a6a965ce622473ea64fa3f6/core/templates/pages/blog-dashboard-page/moda

[2022-04-27 19:31] gtfrans2re commented on #15346
Thank you @nithinrdy for editing the steps to obtain a desired result.

[2022-04-27 19:38] gtfrans2re commented on #15346
@nithinrdy

Thanks a lot, I just saw your PR [here](https://github.com/oppia/oppia/pull/15361#issuecomment-1111239658) about this issue that I opened. Thanks for the outstanding work that you have done.

[2022-04-27 19:50] gp201 opened #15414 "[FE Flake] Script error. thrown"
## Stacktrace

[code]
[code]
[code]

from #14086
[code]

[code]

seed: 251 ([Github action](https://github.com/oppia/oppia/actions/runs/3350405591/jobs/5551193051#step:9:1655))
[code]

## Additional Information

**Seeds:**
1.  860
2. 964
3. 90
4. 251 (With this seed the error showed up at 318)

**Tests:**:
1. https://github.com/oppia/oppia/blob/05cd71366860abc92a6a965ce622473ea64fa3f6/core/templat

[2022-04-28 02:55] subhash686 commented on #14739
Hi Kevin,
Looks like the code related to the error mentioned on this PR is edited out by you recently in this PR - https://github.com/oppia/oppia/pull/15220/files#diff-fece13119017074e8983dba5fc2c7d14e70eb525cc82a243ff51ccef04e77536L135

Do you think this issue needs further digging?

[2022-04-28 13:56] #15263 closed, assigned to divyanshkhetan

[2022-04-28 15:29] seanlip commented on #15407
Great, thanks for updating the issue @Lawful2002!

@vojtechjelinek please let us know if you need more clarification on the above. Thanks!

[2022-04-28 15:59] nithinrdy commented on #10921
Hey @aishwary023, this issue no longer occurs as the author profiles button has now been replaced with the lesson-info modal button, which appears just fine on mobile too. Closing this.

[2022-04-28 15:59] #10921 closed, assigned to krishita30j

[2022-04-28 16:57] zhixuanevelynwu commented on #15368
HI, may I be assigned to this issue? @vojtechjelinek

[2022-04-28 17:35] BlakeHan01 commented on #10616
@vojtechjelinek I have tried changing the code in this file and in the file where FeedbackThread[] is defined. However, the return type has to be void | FeedbackThread[]. Could you please remove this rule as it probably can't be fixed without changing a lot of the codebase which might not be so beginner-friendly?

[2022-04-28 23:40] vojtechjelinek commented on #15368
I think the problem might be that the volunteer page is not supported for mobiles. Not sure if we want to support this. @seanlip Do you have any idea?

[2022-04-29 00:05] seanlip commented on #15368
We definitely want this page to be supported for mobile, and in fact it used to be, so this seems like a regression.

It should behave similar to https://www.oppiafoundation.org/volunteer. Can this be fixed?

[2022-04-29 00:15] vojtechjelinek commented on #15368
@zhixuanevelynwu Can you create a PR that will fix the support of the volunteer page on mobile?

[2022-04-29 00:32] zhixuanevelynwu commented on #15368
ok!

[2022-04-29 12:03] nithinrdy commented on #15376
Hey @kzhang01 sorry for the delay. Try assigning yourself the 'Curriculum admin' role instead, and go ahead with the rest of the instructions on the page for creating a topic -- let me know if this works.

Note: The instructions also state you can add skills to the topic. You actually do not need to assign skills to a topic for it to be publishable though, so I think you can skip creating and addi

[2022-04-29 12:14] nithinrdy commented on #15376
Also, I just noticed that the instructions you are referring to do not mention this -- after you finish setting up and customizing the topic, to actually publish it, here is what you need to do::
 - Head to the admin page's config tab
 - Scroll down to this section of the page:
![image](https://user-images.githubusercontent.com/78612244/165942084-bd430802-eb3b-4a81-a633-7f2e8f8d72ce.png)

 - Click

[2022-04-29 13:37] ayushjaink8 commented on #15385
Hi @sagangwee,  I want to work on this issue. Can you please assign this issue to me?

[2022-04-29 16:20] seanlip commented on #15392
Thanks @gtfrans2re for filing this issue. @aashish-khub -- note that this is a content issue, it cannot be fixed through the code.

I've taken a look at it and I think we should keep it as-is. Here's why: when Jaime is looking at the screen, he is just seeing a bunch of numbers. He hasn't been introduced to the term "digits" yet (and neither has the learner). So we are describing the situation fro

[2022-04-29 16:20] #15392 closed, assigned to nobody

[2022-04-29 16:37] vojtechjelinek commented on #10616
@BlakeHan01 If this is the only place where is this happening (or only few others) then I think you can just ignore it.

[2022-04-29 18:22] manika137 opened #15415 "Distorted website for Galaxy Fold mobile view"
**Describe the bug**
The website has a distorted view on the Galaxy Fold mobile.

**To Reproduce**
Steps to reproduce the behavior:
 1. To check the error on PC, go to the developer tools on Oppia's webpage.
 2. Click on the dimensions section just above the website view.
 3. Scroll down to Galaxy Fold option.
 4. See the error

**Screenshots**
<img width="318" alt="oppia_issue" src="https://user-

[2022-04-29 19:28] sagangwee commented on #15385
@ayushjaink8 Assigned! Thanks!

[2022-04-29 22:01] gopivaibhav commented on #13822
@lkbhitesh07 Can you please assign me `story_id should match the ID of an existing story.` issue ?
Thank you

[2022-04-29 23:20] winnie368c commented on #14033
Hi @vojtechjelinek, how do I fix these errors with the imports? Here are screenshots of the import lines and the code.
![Screen Shot 2022-04-29 at 4 17 40 PM](https://user-images.githubusercontent.com/85202273/166079908-5ce163bc-937d-48ea-9ce1-6d5b08b49d27.png)
![Screen Shot 2022-04-29 at 4 17 57 PM](https://user-images.githubusercontent.com/85202273/166079912-35d38164-bf6f-4e48-b668-a435cdf77107.

[2022-04-30 09:16] vojtechjelinek commented on #14033
@winnie368c You need to add:
[code]

look at the other files to see how is it done.

[2022-04-30 12:04] gopivaibhav commented on #13822
Can you assign me `story_is_published should be a boolean` instead of previous one?
Sorry for the trouble

[2022-04-30 12:18] sahiljoster32 commented on #13822
Hi @gopivaibhav, the issue is assigned to you!
Apart from this, I have just one query that are you going to close the previously assigned issue's PR? if yes please update us or if you have any questions feel free to ask here!!!!!

[2022-04-30 14:34] gopivaibhav commented on #13822
Hey @sahiljoster32 Thanks for assisgning the issue and my previous PR is ready to merge with a few more changes. So, it will be merged soon.

[2022-04-30 16:11] sahiljoster32 commented on #13822
@gopivaibhav Thanks for the reply and for clearing the ambiguity!!

[2022-04-30 21:28] #15321 closed, assigned to sagangwee, bhavukJain

[2022-04-30 22:52] kzhang01 commented on #15376
Thanks @nithinrdy, that worked! I just opened a pull request for it.

Also, what is the process for revising Oppia's wiki page? Since the instructions for adding a topic are a bit out of date, I was thinking I could update them.

[2022-05-01 02:43] paprajapati9 opened #15419 "Improve exploration restart experience after clearing user checkpoints progress"
**Describe the bug**
Currently when the restart button is clicked from the lesson info modal to restart the exploration while clearing the checkpoints progress, we reload the page.

**Expected behavior**
We should programatically restart the exploration instead of reloading the page, so that it helps user with slow internet connectivity

**Additional context**
It's a feature related to the user ch

[2022-05-01 02:54] nithinrdy commented on #15376
I'm sorry but I'm not very sure myself. I'd say one way to go about it would be to open a new discussion [here](https://github.com/oppia/oppia/discussions), where you can describe the issue and, if you want to, propose a fix.

[2022-05-01 12:01] #15346 closed, assigned to nithinrdy

[2022-05-02 13:51] ankita240796 opened #15425 "Build keeps failing due to incomplete webpack compilation"
**Describe the bug**
Build fails due to webpack compilation being incomplete.

**To Reproduce**

1. Run `python -m scripts.build --prod_env`
2. Build will fail intermittently with error:

[code]

**Observed behavior**
JavaScript heap out of memory while running webpack compiler

**Expected behavior**
Webpack compilation should work as expected.

**Desktop (please complete the following information

[2022-05-03 09:58] bjohnnyd commented on #10474
@vojtechjelinek please assign ` core/templates/pages/exploration-player-page/services/stats-reporting.service.ts` to me.

[2022-05-03 10:40] vojtechjelinek commented on #10474
@bjohnnyd Done.

[2022-05-03 11:52] vojtechjelinek opened #15427 "The community library is broken in RTL language"
When the community library is viewed in Arabit the exploration and collection cards are broken.

![image](https://user-images.githubusercontent.com/10142938/166447972-78468414-3b01-4c2a-9604-a30e4d3850c0.png)

[2022-05-03 12:05] vojtechjelinek opened #15428 "Mistakes on the exploration player when RTL translation is used"
The list of author profiles and the apple should be on the right:
![image](https://user-images.githubusercontent.com/10142938/166448389-d9d87d59-880b-421b-8836-82d70415eaaf.png)

The behaviour of the page is also a bit weird because the stuff is aligned differently when the page is refreshed and when the language is changed without refreshing.

[2022-05-03 12:15] vojtechjelinek opened #15429 "Mistakes on the profile page when RTL language is used"
The flow of the page should be the opposite (the profile box should appear on the right). Also, the names of the explorations are misaligned.

![image](https://user-images.githubusercontent.com/10142938/166449889-24553d3f-9ffc-467c-8a81-ee7aa6b3a97a.png)

[2022-05-03 14:41] U8NWXD opened #15430 "Fraction Input Interaction Does Not Handle Integers Correctly"
**Describe the bug**
When an integer is provided to the fraction input interaction

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://www.oppiatestserver.org/explore/G8ZgSj1O4rjE (note that this happens on production too)
 2. Play through until the fraction input interaction
 3. Enter `1` as your answer

**Observed behavior**
The user's input is shows as `undefined undefined/unde

[2022-05-03 15:23] sagangwee commented on #15404
Fixed in #15321.

[2022-05-03 15:23] #15404 closed, assigned to sagangwee

[2022-05-03 15:26] sagangwee opened #15431 "[CD] Update skill opportunity progress percentage denominator to 10"
This was a feature request by question coordinators to make progress easier to track, as currrently the target percentage per lesson is 20%.

Changes should occur in core/templates/pages/contributor-dashboard-page/question-opportunities/question-opportunities.component.ts.

[2022-05-03 22:12] linalex1 commented on #14219
Could I be unassigned from core.controllers.tasks_test?

[2022-05-04 01:10] Shawntendo commented on #10474
Hi, @vojtechjelinek . I found this project through firsttimersonly, and I was looking to work on `core/templates/pages/story-editor-page/services/story-editor-state.service.ts` to start out with.

[2022-05-04 03:27] shanjng commented on #14219
Hi could I be unassigned from core.schema_utils_test?

[2022-05-04 03:30] U8NWXD commented on #14219
@linalex1 @shanjng done!

[2022-05-04 09:44] ankita240796 commented on #15425
@vojtechjelinek can you please look into this?

I am trying a suggestion by Sean to increase the size [here](https://github.com/oppia/oppia/blob/develop/scripts/build.py#L686) and will let you know if it works.

[2022-05-04 11:12] vojtechjelinek commented on #15425
@ankita240796 Yep, it should be increased to `6144`, I wanted to prepare a PR today, should I do it?

[2022-05-04 11:13] vojtechjelinek commented on #10474
@Shawntendo Sorry, that file is already assigned, it was listed by mistake. Please pick a different one.

[2022-05-04 11:23] ankita240796 commented on #15425
@vojtechjelinek yes please!

[2022-05-04 19:59] Shawntendo commented on #10474
@vojtechjelinek How about `core/templates/components/shared-component.module.ts` ?

[2022-05-04 22:11] #15425 closed, assigned to vojtechjelinek

[2022-05-05 04:08] #15318 closed, assigned to nobody

[2022-05-05 04:38] nithinrdy commented on #15318
Closed since the PR fixing the last two issues has been merged.

[2022-05-05 14:40] vojtechjelinek commented on #10474
@Shawntendo Done.

[2022-05-05 15:45] dchen97 commented on #15353
Hi @gtfrans2re - as mentioned in the figma - this was done purposefully because while these lessons belong to the same broader category, they _are_ more granularly categorized differently (e.g. math vs. statistics). We could do better about better surfacing in the UI why these differences exist (potentially by showing the category name) but I think we'd need UX and potentially product input here b

[2022-05-05 16:04] nithinrdy commented on #15353
Hey @dchen97, just for confirmation --

does this mean the issue is to be closed for now, or is it to remain open while the designs are being worked on (asking so I can go ahead and triage it as required)? Thanks!

[2022-05-06 09:11] gtfrans2re commented on #15392
Thank you very much, Sean.
I completely agree with your reasoning, and I believe we can leave it as is given your clear explanation.
Thank you for reviewing the issue.

[2022-05-07 05:00] nithinrdy commented on #15335
Hey @divyanshkhetan, were you able to fix this issue following Akshay's instructions? If not, try installing/re-installing node and see if that helps.

[2022-05-07 06:16] divyanshkhetan commented on #15335
@nithinrdy @aks681 It worked. Thanks!

[2022-05-07 06:16] #15335 closed, assigned to nobody

[2022-05-07 17:40] dchen97 commented on #15353
I think we can keep it open just for record keeping but just note that this is blocked on getting UX input

[2022-05-08 13:23] Lawful2002 opened #15444 "Select2 dropdown on exploration settings page doesn't load properly with custom categories."
**Describe the bug**
When adding a custom category to an exploration in the exploration editor settings tab, the custom category doesn't seem to load properly when the page is either reloaded or the a draft is saved / exploration is published.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Creator Page.
 2. Click on Create an exploration.
 3. Go to the settings tab of editor.
 4. Inp

[2022-05-08 16:55] Lawful2002 commented on #14957
@juliafalarini Any updates?

[2022-05-08 22:05] U8NWXD commented on #13467
Superseded by https://github.com/oppia/oppia/issues/15412, which only contains the flakes that are still occurring

[2022-05-08 22:05] #13467 closed, assigned to nithusha21, ashutoshc8101

[2022-05-10 08:08] nithinrdy commented on #12425
I've fixed the content in the options of the drag and drop solution (it now correctly displays the actual option HTML instead of the option's contentID):
![works -ish](https://user-images.githubusercontent.com/78612244/167578333-d1a1140a-2430-41d3-9e9f-d7ce69436cb4.png)

but the response header, as you can see, still displays the contentID. I'm working on fixing this; more specifically I'm trying

[2022-05-10 12:19] sahiljoster32 opened #15451 "Add stubs for protobuf library."
**Describe the bug**
Currently, oppia's MyPy excludes protobuf's files.
https://github.com/oppia/oppia/blob/2e375e5425ba4fd46033cab18d38b080b8e80ac0/scripts/run_mypy_checks.py#L33
As a consequence, anything related to protobuf is considered as `Any` type by MyPy type checker.

**Observed behavior**
Due to `Any` type, protobuf is introduced in oppia as a loosely typed library.

**Expected behavior*

[2022-05-10 15:39] KolliAnitha opened #21858 "Unable to complete exploration 'The Distributive Law'"
**Describe the bug**
Unable to complete exploration 'The Distributive Law'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic: Expressions and Equations
2. Open Distributive Law
3. Go to Question " Apply the distributive law to (21+3*36/4-3)*5

Update: See https://github.com/oppia/oppia/issues/21858 for local repro instructions on Web.

**Expected behavior**
User should be able to g

[2022-05-10 20:00] Lawful2002 opened #15455 "Make schema-validators context aware"
**Describe the bug**
Currently, the validator ([link](https://github.com/oppia/oppia/blob/cf1826085ae5ca3a774aa64d4329b4a8ebbb483d/core/templates/components/forms/validators/is-float.filter.ts#L42-L43)) for the schema-based editors(float) support entry of floating-point numbers in one of two formats:
1. Using a period '.' as a decimal separator eg. 5.25
2. Using a comma ',' as a decimal separator

[2022-05-11 11:50] paprajapati9 opened #15456 "Learner checkpoint: Adding lesson info tooltip causes exploration player related e2e tests to fail"
**Describe the bug**
Adding lesson info tooltip causes exploration player related e2e tests to fail

**To Reproduce**
Steps to reproduce the behavior:
 1. Add back lesson info tooltip in exploration footer component html. Refer to this commit https://github.com/oppia/oppia/blob/8417c3eee7d9d88d21d5e01cf3057b7076a49121/core/templates/pages/exploration-player-page/layout-directives/exploration-foote

[2022-05-11 11:54] paprajapati9 commented on #15429
Hi @vojtechjelinek, I think this issue was already fixed in PR #15047

[2022-05-11 13:41] vojtechjelinek commented on #15429
I verified this on the production and it seems to be fixed.

[2022-05-11 13:41] #15429 closed, assigned to aks681

[2022-05-11 17:50] srijanreddy98 opened #15457 "Unit test improvements"
Below are the comments that came up during the review of PR #14776. While the comments are on the "new added lines", they are barely different from the tests previously from develop and in theory apply to the already existing tests. I have grouped them together based on some criteria:

More extensive checks:
Schema based custom editor: https://github.com/oppia/oppia/pull/14776/files#r827255442
Sch

[2022-05-11 17:52] srijanreddy98 commented on #15457
@U8NWXD I am assigning this to you as the lead of Automated QA. Feel free to reassign to someone in your team. This issue would be probably better worked on after #14776 is merged which is not far away IMO.

[2022-05-11 18:01] srijanreddy98 opened #15458 "Using Reactive forms instead of template-driven forms in the codebase"
Currently we use template driven forms but they don't scale well. Here are some details of template driven forms and reactive from the angular website.:

FORMS | DETAILS
-- | --
Reactive forms | Provide direct, explicit access to the underlying forms object model. Compared to template-driven forms, they are more robust: they're more scalable, reusable, and testable. If forms are a key part of your

[2022-05-12 02:43] Sumanth077 commented on #15090
Hello @devarsh10 are you working on it currently?

[2022-05-12 03:30] devarsh10 commented on #15090
Sorry, I've been working on it.
But due to lack of time and knowledge about programming, I'm stuck.
If anyone is there waiting, please assign it to them.

And sorry again, I'll get back to oppia in a while after working on my
programing knowledge.

Sincerely,
Devarsh.

On Thu, 12 May 2022, 8:13 am Sumanth, ***@***.***> wrote:

[2022-05-12 15:47] Nik-09 commented on #13725
Thank you @anuragc10 for taking this up.
I have assigned you.

[2022-05-12 19:20] winnie368c commented on #14033
Hi @vojtechjelinek, I just had a few remaining questions about question_fetchers that seem mostly to be coming from the same source:
![Errors](https://user-images.githubusercontent.com/85202273/168151228-423af53e-9b5e-4bb2-9ff6-077f27967120.png)

I'm getting an error on line 85 saying the returned grouped_skill_descriptions should be List[List[Any]] because skill_domain.py is not annotated yet so

[2022-05-13 01:01] seanlip commented on #14033
/cc @aasiffaizal who might also be able to help!

[2022-05-13 03:15] aasiffaizal commented on #14033
@winnie368c
I think `get_questions_and_skill_descriptions_by_skill_ids` can have `Tuple[List[Optional[question_domain.Question]], List[List[Optional[str]]]]` as the return type I guess.
If you refactor the code at line 82 in the image and have `assert isinstance(skill.description, str)`, the return type error will be fixed

For `get_questions_by_ids`, you could have `List[Optional[question_domain.

[2022-05-13 06:39] srijanreddy98 opened #15462 "Move type based checks from the component to the validator"
https://github.com/oppia/oppia/pull/14776/files#r842538116

We currently check if the value is undefined or null or empty string in the component (schema-based-float editor's validate function). We should move it to schema-validators isFloat method.

[2022-05-13 19:03] aliyilmazco commented on #10474
Can ı work on this issue?

[2022-05-14 01:31] BenHenning commented on #21858
I suspect this has the same root cause as oppia/oppia-android#4329 which means it should be fixed in tip-of-tree and in MR4. Closing this so that it can be verified (please reopen if it is still occurs in MR4).

[2022-05-14 09:28] paprajapati9 opened #15466 "Increase user accessibility of User Checkpoints Project"
User checkpoints project TDD Link : [Link](https://docs.google.com/document/d/1eWHs46cOHcm7NuQl8pM9Dada9nTgg3GoCQLgQJSNmIY/edit)

**Following are the remaining issues to work on in the user checkpoints project**
- [x] Currently when the user completes and exploration, we clear their checkpoints progress and have them start the exploration from the beginning but we do not show them any message to t

[2022-05-14 13:27] KolliAnitha commented on #21858
Unable to complete this question. Please find the below screenshot for the same.
![Screenshot_2022-05-14-18-55-23-79_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/168427820-214aa1c9-3ccd-46ca-ac2a-83482ff60c3b.jpg)

[2022-05-15 05:19] LIUYUEFEI89898989 opened #15472 "在线协作式白板，简单、免费、易于使用和部署"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
**Addit

[2022-05-15 05:19] LIUYUEFEI89898989 commented on #15472
有没有白板功能

[2022-05-15 06:14] JeeveshGarg commented on #10474
Yes you can, assigning you below files of **core/templates/components/** with their spec file. Make sure to read issue description carefully before starting.

- Ck-editor-4-widgets.initializer.ts
- Ck-editor-copy-toolbar.component.ts
- Concept-card.component.ts

[2022-05-15 15:07] Lawful2002 opened #15473 "Remove delay from `core/templates/pages/exploration-editor-page/settings-tab/settings-tab.component.ts` after it has been migrated to Angular 2+."
**Describe the bug**
This issue is created to track the removal of the 'hacky' fix to issue [#15444](https://github.com/oppia/oppia/issues/15444), implemented in [#15474](https://github.com/oppia/oppia/pull/15474), which is to add a delay of 500ms before the `refreshSettingsTab` (manages select2 and 'name of first card' dropdown) function is called.

However, once the page is migrated to Angular 2

[2022-05-16 08:26] SD-13 commented on #14033
@aasiffaizal , can you please assign me `core/domain/topic_fetchers.py`
 `core/domain/topic_services.py`, `core/domain/wipeout_service.py`

[2022-05-16 09:20] vojtechjelinek commented on #14033
@SD-13 Done.

[2022-05-17 02:18] #15376 closed, assigned to kzhang01

[2022-05-17 10:25] neel1387 commented on #6911
I had the same issue, I resolved it by providing the type any

`channelObj[item as any] = matched;`

[2022-05-17 16:51] anurag629 commented on #13162
Hey, @vojtechjelinek kindly assign me NewTopicHandler and NewSkillHandler

[2022-05-17 16:54] Nik-09 commented on #13162
@anurag629 Done.

[2022-05-18 03:37] divyanshkhetan commented on #15314
Can i work on this issue?

[2022-05-18 05:38] divyanshkhetan opened #15480 "Orientation of donate page not correct"
**Describe the bug**
The contents of the page appear in row format in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to ['Oppia Donate Page'](https://www.oppia.org/donate)
 2. Switch to mobile view from developer tools
 3. See error

**Observed behavior**
The description section and donation section are squeezed up in row format.

**Expected behavior**
The two sections must

[2022-05-18 09:08] BenHenning commented on #21858
Looks like this is a separate problem.

After investigating, I found that the matched input is ``21*5+(3*36)/(4)*5-3*5`` even though the expected correct answer is ``21×5+3×36÷4×5-3×5``. This feels like an incorrect input since 'MatchesExactly' SHOULD be verifying the parentheses. With the fix for oppia/oppia-android#4329 the app now treats ``(4)`` as just '4', but it can't trivially simplify the

[2022-05-18 15:24] sagangwee commented on #15431
Fixed in https://github.com/oppia/oppia/pull/15450

[2022-05-18 15:24] #15431 closed, assigned to nobody

[2022-05-19 08:09] #13725 closed, assigned to anuragc10

[2022-05-19 18:24] winnie368c commented on #14033
Thank you for your help! I'm also not sure how to fix this last error on line 181; would I also use `assert `isinstance`` or ignore somewhere?

![Screen Shot 2022-05-19 at 11 21 42 AM](https://user-images.githubusercontent.com/85202273/169373063-00659605-82f9-421f-8738-d65744727b9b.png)

[2022-05-19 18:28] winnie368c commented on #14033
Thank you for your help! I'm also not sure how to fix this last error on line 181; would I use `assert isinstance` or ignore somewhere as well?
![Screen Shot 2022-05-19 at 11 26 15 AM](https://user-images.githubusercontent.com/85202273/169373687-0fa5e989-7946-4a52-b677-b281006bc19a.png)

Thank you!

[2022-05-19 22:46] kevintab95 commented on #15472
Please follow the instructions in the top level comment when creating issues. Closing this for now since it does not provide useful information. Thanks!

[2022-05-19 22:46] #15472 closed, assigned to nobody

[2022-05-19 22:51] kevintab95 opened #15484 "NumberWithUnits interaction answer / response text does not render"
**Describe the bug**
Learner answers for NumberWithUnits interaction does not render.

**To Reproduce**
Steps to reproduce the behavior:
 1. Create a card with a number with units interaction.
 2. In the learner view, submit a number.
 3. See console error and observe that the answer / response does not render.

**Observed behavior**
NumberWithUnits interaction answer / response text does not rend